[2022-02-03 12:22] speller opened #35056 "S3 remote storage processes prefix setting incorrectly"
### Steps to reproduce (*)

Configuration:
[code]

### Expected result (*)
The `AwsS3Factory::createConfigured()` method generates the following `$objectUrl` value:
[code]

### Actual result (*)
The `AwsS3Factory::createConfigured()` method generates the following `$objectUrl` value:
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#b

[2022-02-03 13:30] speller commented on #35056
The following patch solves the issue:

[code]

[2022-02-03 14:20] jesperingels commented on #33741
For anyone looking for a patch on Magento v2.4.3-p1

`github-issue-33741.patch`
[code]

[2022-02-03 14:26] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-03 15:14] akkaweb commented on #34898
I feel this issue keeps on propping up everywehere without a good solution.

[2022-02-03 16:10] jan-ziehme commented on #35037
Problem resulted from an old and "incompatible" third party extension. Because of this, the route customer/section/load was cached in FPC. This in combination with a maybe customer-data.js Bug (url was missing the url parameter _={timestamp}) the customers get user data from another users. The JS Call was  customerData.reload(['customers', true]).done( ... ).

I close this issue.

[2022-02-03 16:10] #35037 closed, assigned to nobody

[2022-02-03 17:15] SilinMykola commented on #33823
https://github.com/magento give me 2.4-develop instance

[2022-02-03 17:16] SilinMykola commented on #33823
@magento give me 2.4-develop instance

[2022-02-03 17:26] sidolov commented on #34432
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33526 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [9f06c5f9fed5e123b9986160be8ff15a9de39474](https://github.com/magento/magento2/commit/9f06c5f9fed5e123b9986160be8ff15a9de39474)
 - [987ace74a945691500005f45ff32cdcd171a6ee9](https://github.com/magento/magento2/commit/987ace74a945691500005f45f

[2022-02-03 17:26] #34432 closed, assigned to AnnaAPak

[2022-02-03 17:26] sidolov commented on #34836
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32758 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [e1a8c681b7f41f51797d07bdf9e1d67e3194707b](https://github.com/magento/magento2/commit/e1a8c681b7f41f51797d07bdf9e1d67e3194707b)
 - [7cf5fee25fa4824ecfadb92c6ee7f3acbe106893](https://github.com/magento/magento2/commit/7cf5fee25fa4824ecfad

[2022-02-03 17:26] #34836 closed, assigned to DmitryTsymbal

[2022-02-03 17:26] sidolov commented on #34280
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34249 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [ef5cd8cbf69786329c2aa61565ec600e3d5d674f](https://github.com/magento/magento2/commit/ef5cd8cbf69786329c2aa61565ec600e3d5d674f)
 - [d48d52faed6f3ababce3f6bb35c946e607d870cd](https://github.com/magento/magento2/commit/d48d52faed6f3ababce3f6bb3

[2022-02-03 17:26] #34280 closed, assigned to AnnaAPak

[2022-02-03 17:29] SilinMykola commented on #33823
The issue is not reproducible on Magento instance and can be closed.
![image](https://user-images.githubusercontent.com/15772032/152396199-47a60267-40aa-4337-9215-3426b266fac6.png)

[2022-02-04 05:30] makzef commented on #34998
@Green2Matter Hello.
I cannot reproduce issue that you describe. I tried it on magento 2.4-develop.

### Steps that were made to reproduce the issue:

1. Go to admin panel and enable **rss** config for wish list by this path  _**Configuration -> Catalog -> RSS Feeds -> Wish List -> Enable RSS -> Enabled**_.
2. Log in as user, add some product to user's wish list.
3. Go to user's wish list and sele

[2022-02-04 06:59] attheCube commented on #34971
Here, you'll find a Screencast how the issue will be reproduced:
https://www.gothicgirly.de/rgtrhzthrsgfsee4t5454zhrtz/2022-02-03-18-09-26.mkv

[2022-02-04 07:39] kyegil commented on #35009
@magento give me 2.4-develop instance

[2022-02-04 07:56] kyegil commented on #35009
I managed to reproduce the issue on the Magento 2.4-develop instance following the steps above.
![Screenshot 2022-02-04 at 07 54 15](https://user-images.githubusercontent.com/26584237/152492400-b977efa3-927f-47ac-a911-227be0af371c.png)

[2022-02-04 08:05] TheRealHunzik commented on #34195
@nidhigupta13-ey Most Probably the issue is due to your GraphQl connection with host Make sure connection is working fine and schema docs is rendering in playground

[2022-02-04 09:47] engcom-Lima commented on #35009
Hi @kyegil,

Thank you for reporting the issue.
We verified the issue on Magento 2.4-develop branch and the issue is reproducible.

Steps performed:

1. Install a clean version of Magento version 2.4-develop
2. Add a new website, store and store view, and make this the default
3. In Stores -> All Stores:
4. Create new website (new_website)
5. Create new store (new_store) under new_website
6. Creat

[2022-02-04 09:59] MeCapron commented on #34903
Hi,

I don't think having an interface will change anything. The same case with an interface referenced in the same namespace would lead to the same result as today only partials namespaces are resolved through the return reflection.

Also, by asking an interface you block external objects (not Magento ones) to be used as part of the extension_attributes, it will make developer just duplicate DTOs

[2022-02-04 10:02] MeCapron commented on #34904
Hi!

I do not really aggree about using Magento main DateTime. What about external objects that are using DateTime of any kind of PHP object? Would it mean that if the **core** function has no docblock, we will just skip it? Plus, you are blocking the use of external objects that are not part of Magento system (such as serialized DTOs from API calls)

I think that all of the native PHP objects sho

[2022-02-04 10:30] ioweb-gr opened #35058 "AbstractEntity and DefaultBackend delete values in the parent scope incorrectly for Custom EAV Entities' Attributes"
### Preconditions (*)

1. Magento 2.4.3-p1
2.  A module which creates a custom EAV Entity

Classes responsible for the value saving
\Magento\Eav\Model\Entity\AbstractEntity
\Magento\Eav\Model\Entity\Attribute\Backend\DefaultBackend

### Steps to reproduce (*)
1. Please install the provided module which creates a custom EAV Entity and try to edit the `name` value in the `Content -> TestEntity` menu

[2022-02-04 10:33] ioweb-gr commented on #35058
Can't reproduce on the instances because it requires installation of a module.

[2022-02-04 10:40] INblau-LucaGerhardt commented on #31337
I'd love to have this feature as well. Right now I implement this functionality with custom block in layout and rendering the original block as a child within the new block. This way ifconfig is usable, but it's a pretty ugly way to do it.

[2022-02-04 11:39] SilinMykola commented on #34588
@magento I am working on this

[2022-02-04 12:57] igi8819 commented on #34202
We have same issue in Magento EE 2.4.3
For us only works if we remove "extension_attributes" key from both (billingData, shippingData)
[code]

[2022-02-04 20:59] cristianmattar opened #35059 "When trying to add product to cart (bundle) "Please specify product option(s).""
### Preconditions (*)
1. Magento ver. 2.4.3-p1
2. PHP 7.4.3

### Steps to reproduce (*)
1. Create a product bundle with two simple product options, with the entry being a checkbox type, and unchecked the Required option.
2. Add to cart, without selecting customization

### Expected result (*)
1. Allow the customer to add without selecting an option, as with the Radio Button
![image](https://user-i

[2022-02-04 21:44] st3phani commented on #32231
I have same error message in Magento Enterprise 2.4.2, when I want to change a product price.

[2022-02-05 00:03] Lex50 commented on #34562
Pardon my ignorance, but what might be a good work-around for this?

I can remove `roave/security-advisories` with..

[code]

but can anyone recommend a simple patch/fix to remove the conflict with `tinymce/tinymce`, that doesn't require waiting for Adobe?

[2022-02-05 10:28] oneserv-heuser commented on #34562
@Lex50 I don't think that there i a simple solution to this other than removing `roave/security-advisories` or downgrade it to a version where there is no conflict with `tinymce/tinymce` (which would make the whole point of `roave/security-advisories` useless).
If you're running `roave/security-advisories` manually you can ignore the error, but in CI/CD, no chance I think.

[2022-02-05 14:36] Lex50 commented on #34562
@oneserv-heuser thank you :)

[2022-02-05 17:18] coresh commented on #35019
[code]

Also helped to fix the issue:

[code]

Thank you

[2022-02-05 21:31] sitiodocanoamarelo commented on #22753
I'm having this issue in Magento 2.4.3-p1 after disabling MSI

[2022-02-07 02:10] abdelkebir commented on #14881
The same in Magento 2.3.7-p2.

[2022-02-07 05:14] ajijshekh123 commented on #35059
@magento give me 2.4-develop instance

[2022-02-07 06:20] engcom-Hotel commented on #34978
Dear @pcis-mub,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-07 06:20] #34978 closed, assigned to engcom-Hotel

[2022-02-07 09:39] engcom-Hotel commented on #33763
Hello @steven-hoffman-jomashop @webtekindo,

We will try to reproduce the issue in Magento 2.4-develop as well as 2.4.3-p1 and get back to you on this.

Thanks

[2022-02-07 12:21] denis-zyk opened #35061 "Encryption key change doesn't re-encrypt any config values using the new key"
### Preconditions (*)

1. Magento Commerce 2.4.3-p1

### Steps to reproduce (*)

1. [Follow instructions](https://docs.magento.com/user-guide/system/encryption-key.html) for changing crypt key, set Auto-generate Key to "Yes"

### Expected result (*)

1. All data is re-encrypted using new crypt key, as per official documentation (also note the confusion of "re-encrypted" vs. "re-encoded" in the off

[2022-02-07 12:21] denis-zyk commented on #35061
@magento give me 2.4-develop instance

[2022-02-07 12:35] engcom-Hotel commented on #34683
Hello @ioweb-gr,

Based on the comments from JIRA, The Product owner has confirmed this as an expected Magento behavior & the concerned functionality is working as expected. The gaps in the documentation on our devedocs will be addressed in our further development guild meetings

Hence closing this issue.

Thanks

[2022-02-07 12:35] #34683 closed, assigned to nobody

[2022-02-07 12:39] engcom-Hotel commented on #34732
Hello @santerref,

This doesn’t seem like an issue with the Magento, after debugging this issue we found that when we are adding 200 plus options Magento creates inputs for each option and these inputs depend on the number of options and their children. In our case for each option, Magento creates 50 plus inputs. So total inputs in our case when we are creating 200 plus options would be ( 200 * 50

[2022-02-07 12:39] #34732 closed, assigned to engcom-November

[2022-02-07 12:53] ioweb-gr commented on #34683
Hi @engcom-Hotel, could you write a quick word to us about the reasoning behind this design choice so we can understand why that is set like this as we don't have access to Jira?

[2022-02-07 12:53] hostep commented on #30128
@onlinebizsoft: they link to https://github.com/magento/magento2/pull/33468 from the release notes.

You can find this by viewing the source code of the release notes, every issue is being prepended by some reference to a ticket number or something else and searching github for this can often show you want they reference there, example:
<img width="1086" alt="Screenshot 2022-02-07 at 13 51 51" src

[2022-02-07 12:59] Dhaval410 opened #35062 "Customer Reviews issue on the product page when we redirected from the customer account dashboard"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Login in the frontend.
2. Add a review to any product.
3. Goto account dashboard and click on the 'My Product Reviews' tab from the account sidebar as shown in the attached image.
![My-Account](https://user-images.githubusercontent.com/59201168/152770618-a9ec0bbd-ea70-4e5d-ba59-f0aade0714dc.png)

4. Now click on the 'See De

[2022-02-07 13:03] engcom-Hotel commented on #34650
Hello @thehl,

We are reopening this issue for further analysis.

Thanks

[2022-02-07 14:15] joeridewit1 opened #35063 "Quotation form doesn't send anymore"
The quotation form on our website doesn't send anymore. The customer can fill in this form but we and the customer doesn't receive any email. We didn't change any email settings. We moved the website last week. Our email still working, ony email from our website we don't receive. See an image in the file with some errors.
![image_2022_02_07T12_44_15_895Z](https://user-images.githubusercontent.com/

[2022-02-07 15:08] sdzhepa commented on #35006
https://github.com/magento give me 2.4-develop instance

[2022-02-07 15:10] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-07 15:10] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-07 15:41] #34237 closed, assigned to nobody

[2022-02-07 15:55] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-07 16:24] slavvka commented on #35006
@magento give me 2.4-develop instance

[2022-02-07 16:26] rodrigowebjump commented on #35063
@magento give me 2.4-develop instance

[2022-02-07 19:47] ameysar opened #35064 "Static attribute cannot be updated via \Magento\Eav\Model\Entity\AbstractEntity::saveAttribute"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. Create customer (ex. ID = 100500).
2. Create address for customer (ex. ID = 123).
3. Run code
[code]

### Expected result (*)

1. Customer's billing address updated with address ID.

### Actual result (*)

1. SQL exception appears
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/c

[2022-02-07 20:40] Sental commented on #35044
@snadiminty  it's likely the entry for in the ui_bookmark table for your user id with the namespace of sales_order_grid with the identifier of current has been corrupted. Have your dev remove the row and it should work consistently.

I've had this happen before but never been able to find consistent steps to reproduce. Usually something to do with grid filters.

[2022-02-07 22:27] sidolov commented on #23908
@hostep no problem, let's re-open it and check once again. Thanks!

[2022-02-08 00:57] cpartica commented on #32252
I think this option works fine and we can document it in devdocs. Since I am using PHPStorm I did not even have this problem as it uses full URLs all the time

[2022-02-08 01:54] cpartica commented on #30915
this ticket was developed internally and will be available part of 2.4.4

[2022-02-08 01:54] #30915 closed, assigned to sasha19957099

[2022-02-08 07:57] engcom-Hotel commented on #34650
Hello @thehl,

We have tried to reproduce the issue in Magento 2.4-develop branch. In the above steps, we have confusion in 3rd step:

We are not able to find the condition mentioned in your screenshot. Please have a look into below screenshot of our instance for reference:

<img width="1340" alt="image" src="https://user-images.githubusercontent.com/51681618/152942735-3dbfa699-e883-4cd2-a446-5615

[2022-02-08 09:07] phes71 commented on #28132
getActiveByQuote throws an error

I added a K to your error message so I could trace

[2022-02-08 08:50:02] main.ERROR: No such entity with Kquote_id = 975173 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): No such entity with Kquote_id = 975173 at vendor/magento/framework/Exception/NoSuchEntityException.php:59)"} []

This happens when a customer views the ba

[2022-02-08 09:09] bartoszkubicki opened #35065 "Critical Klarna issue on Magento 2.4.3 - request logging blocks checkout"
### Preconditions (*)

1. Magento 2.4.3-p1 (but expect it to be reproducible as well on 2.4.3)
2. Klarna set up and working.

### Steps to reproduce (*)

1. All described here https://docs.klarna.com/platform-solutions/adobe-commerce/adobe-commerce-23x-243/notice-for-users-of-magento-v243/

### Expected result (*)

1. Checkout is not blocked.
2. Patch from article should be applied long time ago,

[2022-02-08 09:18] engcom-Lima commented on #34950
Hi @engcom-Hotel,
I tried reproducing the issue with the fresh Magento 2.4-develop instance and the issue is still reproducible.
I created the custom module and added the patch script following the [documentation ](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/declarative-schema/data-patches.html) and as per the reproducible steps mentioned by @markshust I was able to reproduce the i

[2022-02-08 09:47] engcom-Hotel commented on #34855
Hello @pmonosolo,

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us. For us too the ReCaptcha is disabled for the below pages:

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/51681618/152961107-4daadf4a-92fa-435e-88f6-86d9671db2bb.png">

We have enabled the ReCaptcha V2:
<img width="928" alt="image" src="https://u

[2022-02-08 10:02] kamephis commented on #29924
Hi @igorwulff have you already found the reason for your issue. We are experiencing the same on 2.4.3-p1 (live).

[2022-02-08 10:13] slackerzz commented on #31351
Is this fixed? In with magento version?

[2022-02-08 10:19] Usik2203 commented on #35045
@magento give me 2.4-develop instanc

[2022-02-08 10:19] Usik2203 commented on #35045
@magento give me 2.4-develop instance

[2022-02-08 10:34] engcom-Lima commented on #34292
Hi @zexperto thank you for your Inputs!
Based on the information provided, I was able to reproduce the issue on 2.4-develop instance.

Steps followed to reproduce the issue:-

1. Install fresh Magento 2.4-develop instance
2. Create a new category (New Category)
3. Add some products to it eg. (simple-01, simple-02........simple-20) and assign it to our **New Category**
4. Open the Category page (Ne

[2022-02-08 11:13] makzef commented on #29764
@magento-engcom-team I guess this issue can be closed now, as in closed PR it was stated that this issue was resolved by another PR https://github.com/magento/magento2/pull/31772  (already merged).
Sorry to interrupt.

[2022-02-08 11:22] madonzy opened #35066 "Double Redis connection within single request using persistent connection"
### Preconditions (*)

1. Magento 2.3.6 (Open Source)

### Steps to reproduce (*)
1. Add "persistent" key with "example-123" value into env.php under cache->frontend->default->backend_options->remote_backend_options
2. Use ab to run all php-fpm children
3. run redis-cli and run CLIENT LIST command

### Expected result (*)

1. The amount of connections should be the same as php-fpm processes quanti

[2022-02-08 11:57] nsbhanu opened #35067 "Customer Login Not Working"
### Preconditions (*)

1. Customer Login not working
2. Accepts Username & Password
3. Doesn't give any error, comes back to login page again
4. Checked logs from backend - No logs generated

### Steps to reproduce (*)

1. Initially when configured fresh, customer login was working
2. After couple of days, we were unable to login from Edge & Chrome, Firefox & Opera Browser worked
3. After some tim

[2022-02-08 12:16] igorwulff commented on #29924
After long conversations and demonstrating the issues, we received a patch which seemed to have fixed the issue. It was given the code MDVA-405550, and I don't know if this patch is was shared elsewhere.

NOTE: I do not take any responsibility for this patch, and this needs to be tested thoroughly case by case.
[code]

[2022-02-08 12:18] oneserv-heuser commented on #30809
Just another ping to not let this ticket die as our product managers are annoyed that the button is missing on page load.

[2022-02-08 13:13] dronerdk opened #35068 "Color overlay for images in page builder"
### Description (*)
When using Page builder to create a content page CMS it is possible to make a row and insert a full page picture or video.
When making a video in the row configurations it is possible ot make a overlay color that is transparent to ex darken the video, so text is more visible.
This overlay color for videos is not present for images, and that is a huge disadvantage  because text

[2022-02-08 13:26] hostep commented on #29924
Looks like a similar change made it in the codebase some months ago: https://github.com/magento/magento2/commit/f6b12868406678f0c23a3dc4f9eb06fd187bf306

I can already see this code in Magento 2.4.4-beta4, so I'd assume this will be included in 2.4.4 as well.

[2022-02-08 13:36] leonhelmus commented on #31083
This feature now seems to delete my url rewrites :(. If default store has visibility 4 and you try to update a store without adding visibility in the request like this:
[{
  "product": {
    "sku": "428138",
    "status": 1,
    "attribute_set_id": 1169
  }
}]
it will delete your url_rewrites.... If you use the url: https://example.dev.mediacthq.nl/rest/example_nl/async/bulk/V1/products. Because i

[2022-02-08 13:37] engcom-Lima commented on #35059
Hi @cristianmattar,
Thanks for reporting the issue.

We tried reproducing the issue and we were able to get the actual result i.e. **Error message: "Please specify product option(s)."**
However I believe this is the expected behaviour of Magento since we need to select at-least one product from the bundle options in order to proceed further with the checkout.

Steps followed to reproduce:

1. Inst

[2022-02-08 13:50] igorwulff commented on #29924
Awesome @hostep !

[2022-02-08 13:54] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-08 14:03] leonhelmus commented on #31083
Issue is fixed by this commit -> https://github.com/magento/magento2/commit/306f515d7a6b66d0dbfd0240d39f2d8e416b09ad

[2022-02-08 15:05] mischabraam commented on #34980
Sorry, missed your question. But yes, I've had use cases where we hit the limit, otherwise I wouldn't create this issue ;)

[2022-02-08 15:17] cpartica commented on #32252
Thank you @sprankhub, @andrewbess, @bgorski @delyriand for exposing your workarounds

If you experienced things that have a workaround that we need to document, please open a PR to the docs.
We can get far faster to those PRs than these ones
The Severity 4 of this ticket makes this ticket to linger like this for a while until we get to it. It also has no PR which will just prolongue its existence.

[2022-02-08 15:26] makzef commented on #29403
@magento I am working on this

[2022-02-08 15:27] xtremevision opened #35069 "After upgrade to 2.4.3-p1, static block from layout update xml no longer rendering"
### Summary (*)
After upgrade to 2.4.3-p1, static block from layout update xml no longer rendering. After updating the static block using the new page builder and saving, the frontend no longer renders the static block.

### Examples (*)
See screenshots.

### Proposed solution
No idea. The block should render just as it did before updating the content.

---
Please provide [Severity](https://devdoc

[2022-02-08 15:52] cpartica commented on #28040
The way GQL works now is that we support both Session and Token - any would count for accessing authenticated content.
It is the product intention to phase out "session" support, but there are two problems with this:
- one is that since it's supported, there are clients that depend on it
- removing sessions (and we have tried) caused misbehavior of some capabilities that gathered their data from t

[2022-02-08 16:57] cpartica commented on #31351
2.4.4 - you just have to wait for it
Back in December we diverged branches for 2.4.4 and 2.4-develop and for ~ 3 months this process is invisible to the main branch
You will see the PR automerged when 2.4.4 is released

[2022-02-08 17:27] pmonosolo commented on #34855
Sorry my original post was about ReCaptcha, but I later found out, its the original Magento captcha that is being refreshed.

If you look at response result for /refresh its an image of captcha letters:

![image](https://user-images.githubusercontent.com/66754347/153041976-b6c4713e-5968-4b5e-b82d-9829e0f5bdc1.png)

![image](https://user-images.githubusercontent.com/66754347/153042037-8a46f18e-2345

[2022-02-08 19:22] jeremycharron opened #35070 "Broken CMS block preview when using identifier in pagebuilder"
### Summary
When adding a CMS block in a CMS page using the block identifier instead of the block ID, pagebuilder displays following error : "Block with ID: [block identifier] doesn't exist." instead of showing preview of the CMS block.

The block renders properly on front-end.
There is no way to add a block with his identifier directly from pagebuilder. This issue would only happen if a developer

[2022-02-08 20:18] xtremevision commented on #35069
It is not possible to replice via a dev instance. I need to create a custom theme, and override default.xml.

[2022-02-09 05:39] ajijshekh123 commented on #35059
@magento give me 2.4-develop instance

[2022-02-09 06:08] engcom-Hotel commented on #35012
Dear @kattykate9,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-09 06:08] #35012 closed, assigned to engcom-Echo

[2022-02-09 06:10] engcom-Hotel commented on #34990
Hello @leduydong94,

We request you to please try to reproduce this issue in Magento 2.4-develop branch and let us know in case you are able to reproduce the issue.

Thanks

[2022-02-09 06:10] engcom-Hotel commented on #34970
Dear @marcelloinfoweb,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-09 06:10] #34970 closed, assigned to engcom-November

[2022-02-09 07:00] akangithub opened #35071 "Null Input not handled in ServiceInputProcessor"
### Preconditions (*)

1. Magento Version 2.3.3
2. Any environment

### Steps to reproduce (*)

1. Any PUT API call having a null value for any parameter in the body

### Expected result (*)

![expected_magento_put_call_with_null](https://user-images.githubusercontent.com/96811568/153138099-233f7281-d4e6-4983-96f6-356f86fff99f.PNG)
1. API should return a generic error response  (see attached file)

[2022-02-09 07:01] engcom-Hotel commented on #34683
Hello @ioweb-gr,

1. Stores-> Configurations->Customer->Customer Configuration->Create New Account Options -> Show VAT Number on Storefront ->yes
2. Stores-> Configurations->Customer->Customer Configuration->Name & Address Options -> Show Tax/VAT Number ->required/optional

The customer will have the option to input his/her VAT number during registration & also during checkout. But both of them ar

[2022-02-09 07:10] ioweb-gr commented on #34683
Hi thanks, perhaps I didn't phrase it correctly, my question is why do we have to enable it on registration if we only need it on checkout?

We want to use only the one tied to the billing / shipping address but forced to use both and it would be nice to know the reasoning behind a forced choice

[2022-02-09 09:24] alitopaloglu commented on #34879
Any update?

[2022-02-09 09:31] devchris79 commented on #35067
I had a similar issue to this and it was related to the Ultimo theme cache.
You may want to check its not theme related. Also what version of Magento are you using?

[2022-02-09 09:48] willbrammer commented on #22196
The same issue still occurs in 2.4.3-p1

<img width="1488" alt="Down" src="https://user-images.githubusercontent.com/82506305/153170952-6f603ee9-ee22-4466-9489-14c38a321041.png">

[2022-02-09 10:59] kadirakinkorkunc commented on #33386
Any solution? @joeshelton-wagento @ioweb-gr

[2022-02-09 11:04] ioweb-gr commented on #33386
Not really, expecting Magento to confirm this is happening at the very least so a few more voices might help

[2022-02-09 11:15] nsbhanu commented on #35067
Hi ,

We are using Supermarket2 theme and magento version is 2.4.3

From: devchris79 ***@***.***>
Sent: 09 February 2022 15:02
To: magento/magento2 ***@***.***>
Cc: nsbhanu ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] Customer Login Not Working (Issue #35067)

I had a similar issue to this and it was related to the Ultimo theme cache.
You may want to check its not theme relat

[2022-02-09 11:27] devchris79 commented on #35067
I would test with the Luma theme and see if the issue is present. If its not then I would check the theme is the latest version and contact its support if required.

[2022-02-09 11:33] engcom-Hotel commented on #35067
Hello @nsbhanu,

We have checked this issue with Magento 2.4-develop branch with luma theme and we are not facing such issues. It might be related to the theme you are using.

Please try it with Luma if the issue resolves.

Thanks

[2022-02-09 11:36] peterjaap commented on #12885
Still present in 2.4.3-p2.

[2022-02-09 12:09] engcom-Hotel commented on #34746
Hello @mischabraam,

We have checked this issue in Magento 2.4-develop branch in debug mode. We have added the breakpoint on the line you mentioned in the main description and below are our findings:

- `$subProduct->getTypeInstance()` method is returning the object of type `app/code/Magento/Catalog/Model/Product/Type/Simple.php`
- Class `app/code/Magento/Catalog/Model/Product/Type/Simple.php` ext

[2022-02-09 13:24] mischabraam commented on #34746
To be more specific `$subProduct->getTypeInstance()` returns an instance of `\Magento\Catalog\Model\Product\Type\AbstractType`. In this case you call a protected function directly on the returned instance. This would be equivalent to first assign the returned instance to a variable and then call the function, like per example:

[code]

For this to work without the spoken "bug", the function `_prep

[2022-02-09 14:04] srepn opened #35072 "Mview cron indexer doesn't skip duplicated ids. ( > 1000 updates )"
### Preconditions (*)

1. Magento 2.4.3-p1
2. PHP 7.4.26
3. MySQL 8.0.26

### Steps to reproduce (*)

1. Update product more than 1000 times ( default batch size = 1000)
2. check indexer status: `bin/magento indexer:status` // Output: 1 product in backlog
3. Count indexer action executions.

### Expected result (*)

1. Indexer action executed only once.

### Actual result (*)

1. Indexer action ex

[2022-02-09 14:16] bylli79 opened #35073 "Can't add product with non-required Customizable Options File to Cart"
### Preconditions (*)

1. Magento 2.4.1
2. PHP 7.4.21
3. Mariadb 10.4.21

### Steps to reproduce (*)
Best wishes to all the community of Magento programmers and users.
 I have a problem with Magento 2.4.1 and I hope someone will help me solve it.
 I have created configurable products with variants (for example color). To these products I have added Customizable Options, one of which is of the file

[2022-02-09 14:20] #33905 closed, assigned to cpartica

[2022-02-09 14:22] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-09 14:27] #34550 closed, assigned to nobody

[2022-02-09 14:29] #34411 closed, assigned to nobody

[2022-02-09 14:35] hostep commented on #32268
I can see that the code from https://github.com/magento/magento2/pull/32390 is included in Magento 2.4.4-beta4, so expect this to become available in 2.4.4 once it gets [in about a month](https://devdocs.magento.com/release/).

[2022-02-09 14:51] nsbhanu commented on #35067
Thanks for the update… will check

From: Abhinav Pathak ***@***.***>
Sent: 09 February 2022 17:04
To: magento/magento2 ***@***.***>
Cc: nsbhanu ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] Customer Login Not Working (Issue #35067)

Hello @nsbhanu <https://github.com/nsbhanu> ,

We have checked this issue with Magento 2.4-develop branch with luma theme and we are not facing su

[2022-02-09 14:56] Alisinasyon opened #35074 "Sender Name and Sender Mail address are default hostname (username@server) only"
### Preconditions (*)

1. Magento 2.4.3 (first install 2.2.*), multilpe site/ scope configuration
2. nginx 1.20.1, PHP 7.4
3. All Mail Sender Names and Sender Emails under "Stores ->Settings ->Configuration ->General ->Store Email Addresses" Configured

### Steps to reproduce (*)

1. Fill and send default contact formular on (sub-) site
2. Receving Mail

### Expected result (*)

1. Received mail h

[2022-02-09 16:34] cpartica commented on #34717
The ownership of this item has been taken by the GQL team and added to their backlog and targeted for 2.4.5
Please do not change the ownership of this issue as it's being worked on internally.
For transparency purposes, its status is being reflected in this issue.

[2022-02-09 17:10] engcom-Hotel commented on #33905
The issue has been fixed and merged with mainline 2.4-develop. The commit id for the same is `986cef0977fdcfd3fe85a9b8647866dee60e66a4 `

[2022-02-09 17:11] engcom-Hotel commented on #34411
The issue has been fixed and merged with mainline 2.4-develop. The commit id for the same is `ca5171f21d1c92170bfd4ccbccd2a04db33c81a4 `

[2022-02-09 17:12] engcom-Hotel commented on #34550
The issue has been fixed and merged with mainline 2.4-develop. The commit id for the same is `d117a194e43dc8f9a2663c4a8c58597fbc9f0d92`

[2022-02-09 20:19] raoulguillermo commented on #30347
I'm experiencing the same issue in magento 2.3.5 using php 7.3
Any solutions on this matter?

[2022-02-09 22:51] Krielkip commented on #11998
Hi @engcom-Lima ,
You need to follow the actions told by @LeanderFS .
See reply:
https://github.com/magento/magento2/issues/11998#issuecomment-1015392569

[2022-02-10 00:55] cpartica commented on #35010
I don't think this is a feature request, but missed requirements preventing bundle product rendering
Goal is to provide good support for Bundle products as we do for Configurables

[2022-02-10 01:11] cpartica commented on #34758
I confirmed the issue. I think is valid to address this at least in GraphQL where we don't really need session

[2022-02-10 01:52] #35003 closed, assigned to nobody

[2022-02-10 02:31] speller opened #35076 "Custom customer attribute is not saved"
I need to have a custom customer attribute available for editing in the backend code only. It should not be editable by the customer or admin, but only displayed in the customers' grid and as a read-only value in the customer details.

I have the following code to install my custom customer attribute:

[code]

This code works well and I see my attribute in the `eav_attribute` table and a correspon

[2022-02-10 02:42] cpartica commented on #34036
this issue is being worked on internally for 2.4.5

[2022-02-10 03:36] cpartica commented on #34973
@Hexmage Do these exceptions happen much more than Luma's? is logging just adding to how fast a request can respond?
how would we identify all exceptions that are "is client safe"?  Why would logging in own logfile be better?
I am looking for a 1-2 week dev time solution.

[2022-02-10 03:54] cpartica commented on #30220
Bumping priority because shopper behavior changed quite a lot since 2020, and out of stock is not an edge case anymore

[2022-02-10 04:29] speller commented on #35076
By further debugging, I found that my attribute setup doesn't create a record in the `eav_entity_attribute` table and thus the attribute is not fetched for the entity. Why so?

[2022-02-10 04:44] speller commented on #35076
I found that the `$this->attributeSet->getDefaultGroupId($attributeSetId)` method in the setup script returns false. Why? Is it the issue?

[2022-02-10 07:00] speller commented on #35076
Not sure what was the issue, but adopting code from the official documentation helped me: https://devdocs.magento.com/guides/v2.4/howdoi/custom-attributes/text-field.html

Probably, some issues with group id setting.

[2022-02-10 07:00] #35076 closed, assigned to nobody

[2022-02-10 07:19] engcom-Hotel commented on #34746
Hello @mischabraam,

Thanks for the reply!

I agree with your point, even I have also tried the same change in order to get the type of the instance.

But as I mentioned in comment [here](https://github.com/magento/magento2/issues/34746#issuecomment-1033693838). the protected function can be accessed only within the class itself, by inheriting and parent classes.

I am not closing this issue for n

[2022-02-10 07:33] sprankhub commented on #32252
Thanks for caring @cpartica! I agree that having a documented workaround is better than having nothing. However, we probably agree that this should still be fixed in the core as it is awful developer experience.

Please mind that this also affects integration tests.

[2022-02-10 07:33] engcom-Hotel commented on #35067
Hello @nsbhanu,

Thanks for replying!

Please let us know in case you faced any issues with the Luma theme also.

Thanks

[2022-02-10 07:46] engcom-Hotel commented on #28636
Hello @amenk,

As the issue is not reproducible for us by trying various ways. And you mentioned [here](https://github.com/magento/magento2/issues/28636#issuecomment-999725672) that the issue is unable to reproduce, hence we are closing this issue for now.

Thanks

[2022-02-10 07:46] #28636 closed, assigned to engcom-Hotel

[2022-02-10 07:58] Stuperfied commented on #35074
public function setFromAddress($fromAddress, $fromName = null)
    {
        $this->zendMessage->setFrom($fromAddress, $fromName);
        return $this;
    }

    I've just had a quick browse, been years since i've worked on this code. It appears the $fromName variable is empty at this point and so picking up the default of void. I'll keep looking into it later but for now it's time to rest.

[2022-02-10 08:23] broeder opened #35077 "MagentoCE2.4.3: Coupon set to Uses per Customer = 1. Coupon can be used in multiple orders by the same customer."
### Preconditions (*)

1.MagentoCE2.4.3
2.

### Steps to reproduce (*)

1.Marketing -> Cart Price Rule -> Select specific rule -> Select specific coupon code and then set value in Uses per coupon = 0 & Uses per Customer = 1. Action: 10% discount.
2.Log in Front End. Checkout using coupon code.

### Expected result (*)

1. [Screenshots, logs or description]
2. Expected Result: Coupon is redeemed. T

[2022-02-10 08:37] rahimimo commented on #26664
Acutally I managed changing the customer cart locale using
/rest/en/V1/carts/mine

and the payload as
[code]
Could not find a way yet for guest-cart changing the cart.

[2022-02-10 08:41] Hexmage commented on #34973
@cpartica If a Luma Magento 2 shop is configured correctly, you rarely have an exception log. On a PWA shop its filled with messages like: Customer couldn't log in, product is out of stock, quote is inactive, shipping method is missing. All these messages wouldn't result in exceptions on a Luma store, because they are functional exception instead of breaking exceptions.

The reason I would like it

[2022-02-10 08:49] MagicLegend opened #35078 "Order hasCreditmemo() critical failure"
### Preconditions (*)

1. In our exact case: Magento 2.4.0. But I confirmed the bug is present in every version branch from 2.0 & up, thus it is still present in [2.5-develop](https://github.com/magento/magento2/blob/6ac4cda5de1147c529fb8102bbe0cf6d59984153/app/code/Magento/Sales/Model/Order.php#L1990-L1998).
2. Call `hasCreditmemos()` during the order creation process.

### Steps to reproduce (*)

[2022-02-10 08:56] engcom-Lima commented on #34971
Hi @attheCube,
I tried reproducing the issue on the latest **2.4-develop** branch following all the steps mentioned in the description as well as by referring the video, however the issue is **not reproducible** on **2.4-develop** branch.

Steps followed to reproduce the issue:

1. Install fresh Magento 2.4-develop instance
2. Login to admin panel and add a new **Website, Store and Store View**. S

[2022-02-10 09:28] jayesh1712 commented on #34898
I face the same issue. Is there any update?

[2022-02-10 09:33] nomuprive opened #35079 "Could not validate a connection to Elasticsearch. No alive nodes found in your cluster"
Server: Linux Centos

When I run the command below,

    COMPOSER_MEMORY_LIMIT=-1 php bin/magento setup:static-content:deploy -f

I get the error,

When I run,

    systemctl restart elasticsearch.service

I get the error,

And when I run the command,

    systemctl status elasticsearch

I get the error,

However, I can see Elasticsearch folder and files in the following path:

Any suggestions?

T

[2022-02-10 11:42] engcom-Hotel commented on #35007
Dear @washingtonberry,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-10 11:42] #35007 closed, assigned to engcom-November

[2022-02-10 12:23] engcom-Hotel commented on #34959
@magento give me 2.4-develop instance

[2022-02-10 12:25] engcom-Lima commented on #34948
Hi @JDhere,
Thank you for reporting the issue.
As per the description the issue is not reproducible however as per your [comment](https://github.com/magento/magento2/issues/34948#issuecomment-1009624324) this scenario was reproducible.
This is the expected behaviour of Magento 2 however this [use case](https://github.com/magento/magento2/issues/34948#issuecomment-1009915011) seems valid and can be

[2022-02-10 13:00] engcom-Hotel commented on #34959
Hello @anderspirlo,

I think I am able to get the expected result mentioned in the main description. Please refer my screenshot below for reference:

<img width="1294" alt="image" src="https://user-images.githubusercontent.com/51681618/153413019-8f76d1e2-994c-4a0d-9aa5-6d7feb42e290.png">

For this, I made additional steps as below:

- Sales -> Tax -> Calculation Settings -> Catalog Prices = Includ

[2022-02-10 13:08] twosg commented on #23938
Please reopen this issue.

[2022-02-10 13:35] Rickertje commented on #23938
I noticed before that once an issue is closed the only way to get things restarted is to open a copy.

[2022-02-10 13:55] engcom-Hotel commented on #35062
@magento give me 2.4-develop instance

[2022-02-10 14:17] matish commented on #29568
![2022-02-10 13_05_34-C__Users_Priit_AppData_Local_Temp_scp32474_var_www_notebooks-live_web_vendor_mag](https://user-images.githubusercontent.com/3338465/153425304-060b4937-6feb-4a7f-9a39-1f523bc09bca.png)

I had the same issue and discovered that Magento has sales_order_payment_save_before event listener declared in the offline-payments plugin.
On checkmo payments I added 2 lines into the BeforeP

[2022-02-10 15:09] engcom-Hotel commented on #33763
Hello @webtekindo,

We have tried to reproduce this issue in Magento 2.4-develop branch with enable query log. But for me also the same query is not available there in the logs.

It might be possible that the issue is resolved in the current develop branch. We request you to please try to reproduce the issue in Magento 2.4-develop branch and let us know in case you are still able to reproduce the

[2022-02-10 15:25] InfoAmbient opened #35081 "Unable to increase upload_max_size for magento2"
Unable to increase upload_max_size for magento2 even increased upload_max_size in all php.ini present in system . but it still showing 2M upload size only.
![Screenshot from 2022-02-10 20-55-10](https://user-images.githubusercontent.com/29921114/153439325-74b77dca-79bb-4de4-a1e4-5c9d926f344c.png)

[2022-02-10 15:28] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-10 16:29] bjclark13 opened #35083 "[Elastic|Open]Search Validation Fails with Special Characters"
### Preconditions (*)

1. Magento 2.3.4
2. Elastic Search 7 on AWS
3. php7.4-fpm Docker image (kubernetes)

### Steps to reproduce (*)

1. Create an elastic search cluster with username/password and the password is similar to `z52tu|N[x2Hp"^@3==X8+XTd#qLCs}w1`
2. Curl with username/password combination works properly
[code]
2. Run `setup:install` command with elastic search configured with that pa

[2022-02-10 16:36] sdzhepa commented on #34948
@engcom-Lima

Could you please update the issue description with the latest(final) and valid
- steps to reproduce
- actual result
- expected result

Before the update, we are not allowed to process this issue

[2022-02-10 16:41] m2-assistant[bot] opened #35084 "[Issue] Fix GraphQL login as customer token not working for multi stores"
This issue is automatically created based on existing pull request: magento/magento2#35080: Fix GraphQL login as customer token not working for multi stores

---------
### Description (*)
When a magento install with more than one store tries to utilize the login as Customer GraphQl to get a token for any store other than the default store- an error is thrown for customers not being found even when

[2022-02-10 17:07] bjclark13 commented on #35079
@williambize Are you using username/password for your connection? I wonder if https://github.com/magento/magento2/issues/35083 would be similar to what you are experiencing.

[2022-02-10 17:16] ioweb-gr commented on #29357
Hi @engcom-Hotel , why was this issue closed as cannot reproduce? it's perfectly fine reproducible in latest develop instance

Step1. Create a CMS page and add a contact form block  to it

{{block class="Magento\Contact\Block\ContactForm" name="contactForm" template="Magento_Contact::form.phtml"}}
![image](https://user-images.githubusercontent.com/20220341/153460215-a2cf2d06-cb29-4c36-b66b-945c5a9

[2022-02-10 19:14] hostep commented on #23938
@Rickertje: I've talked to @sidolov on Slack some hours ago and he's getting a product owner involved here. So it might get re-opened soon-ish...

[2022-02-10 19:24] hostep commented on #29357
@ioweb-gr: please read the entire thread, it was decided that this is no longer possible in Magento 2.4.0 and higher. [The documentation](https://docs.magento.com/user-guide/stores/contact-us.html#method-2-without-sample-data) has been updated to reflect that. And please ignore the engcom team's responses, they usually don't  know what they are talking about, they only care about closing as many i

[2022-02-10 19:49] toddliningerdesign commented on #23938
Thanks, @hostep. Let's hope your efforts are not in vain.

[2022-02-10 21:42] ioweb-gr commented on #29357
I've implemented a workaround by extending the contact form block and using the extended one but my point is that this is a bug anyhow and should be addressed.

Currently it's the contact form but soon it may be others as well. We should have a way to reuse blocks in cms pages

[2022-02-10 22:49] engcom-Lima commented on #34202
Hi @MaiDucQuan97,
Thank you for reporting the issue.

I tried reproducing the issue on Magento 2.4-develop branch EE edition and I was able to reproduce the issue.

Steps followed to reproduce the issue:-

1. Install fresh Magento 2.4-develop instance EE edition
2. Add Extension attributes for `Magento\Quote\Api\Data\AddressInterface`
<img width="985" alt="Screenshot 2022-02-11 at 4 03 46 AM" src=

[2022-02-10 23:32] williambize commented on #35079
@bjclark13 I'm not sure what username and password you're referring to. All I was doing is to upgrade Magento 2.3.7 to 2.4.0 via the composer with SSH. It seems everything is going well expect when I run "php bin/magento setup:static-content:deploy -f"

[2022-02-11 05:16] GamesmenJordan opened #35085 "Configuration for /web/cookie/cookie_domain violates config hierarchy when specified in env.php"
### Preconditions (*)
1. Magento 2.4.3
2. Environment must already be set up
3. Configure `/web/cookie/cookie_domain` in database to `.example.org`

**Assumptions**
1. Assumes correct `/web/cookie/cookie_domain` is domain is `.example.org`
2. Assumes Magento is accessible from `www.example.org`

### Steps to reproduce (*)
1. Modify config in database and set `/web/cookie/cookie_domain` to `.exampl

[2022-02-11 07:21] engcom-Hotel commented on #25182
@magento give me 2.4-develop instance

[2022-02-11 09:19] DanieliMi opened #35086 "GraphQL Product Visibility"
### Summary (*)

I am wondering about the `$isChildSearch` parameter [here](https://github.com/magento/magento2/blob/2.4.3-p1/app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/Product.php#L92) it seems very inconsistent to me. The DataProvider is used to get a product list and if it is a "child search" then it should consider the visibility of the product. But this paratmeter is

[2022-02-11 09:20] slackerzz commented on #34086
@orlangur The old inventory is deprecated but this doesn't mean it cannot be used. From wikipedia:

Not everybody needs msi, it adds a layer of complexity. Not everybody needs the reservation system. Most of our customers handle inventory in external system and in this case the best thing to do is to remove msi instead of patching it to disable reservation.

Price sorting and filtering don't work

[2022-02-11 10:05] tales-desde-mileto commented on #34325
I can reproduce if I use composer 1 (1.10.24)
But:
https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html
Magento 2.4.3 --> "required" composer 2
Composer 1 with 2.4.3 is not in matrix of "system requirement"
Perhaps the fix could be use composer 2
Same problem if you use composer 2?

[2022-02-11 10:24] jignesh-coder commented on #33954
I solved this error from my own way

Add code in di.xml
[code]

in file Payment.php add code

<```
?php

namespace Vendor\Extension\Plugin;
class Payment
{
    public function beforeImportData(
        \Magento\Quote\Model\Quote\Payment $subject,
        $data
    ) {
        $vaultMethod = preg_replace('/^([a-z_]+vault)_\d+$/i', '$1', $data['method']);
        if (!is_null($vaultMethod) && $vault

[2022-02-11 10:25] laurazacatrus opened #35087 "Icon on a page"
Magento ver. 2.4.3-p1

Bug: If you place an icon on a page, for example: 🎉📆🎁💙, you can't edit the page and the site crashes.

Steps
-->
1. Content > Page > New Page
2. Edit with page Builder
3. To select Row > Elements > Text
4. Put an icon 🎉📆🎁💙
5. The site crashes and the site deletes everything.

### Expected result (*)
1. I want to place icons on a page

- [ ] Severity: **S0** _- Affects critic

[2022-02-11 10:58] engcom-Hotel commented on #35034
@magento give me 2.4.3-p1 instance

[2022-02-11 11:19] Rakhi161 opened #35088 "Category Banner Image is distorted or broken if the image is not available in media directory."
**Preconditions (*)**
 Magento 2.4.3-p1

**Steps to reproduce (*)**
1. From backend upload category image from Catalog -> Category -> open any category -> go to content -> Category Image and Save it.
2. Delete the same image from pub/media/catalog/category folder.
3. Now if you check in frontend category page the broken image will shown which is not correct.

**Expected result (*)**
 The broken im

[2022-02-11 11:26] Rakhi161 commented on #35088
@magento I am working on this

[2022-02-11 12:42] engcom-Lima commented on #33517
Hi @HarryChiu

Thank you for reporting the issue.

We verified the issue on Magento Commerce 2.4-develop branch and the issue is reproducible.
Steps performed:
1. Install a clean version of Magento version 2.4-develop
2. Create new product
3. Enable "Payment on Account" in payment method **(B2B feature)**. To see it on frontend, add credit limit to the company to which the user is associated.
![Sc

[2022-02-11 12:58] engcom-Lima commented on #35062
Hi @Dhaval410,

Thank you for reporting the issue.
We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:
1. Install a clean version of Magento 2.4-develop
2. Create new product
3. Login in the frontend.
4. Add a review to any product.
5. Go to account dashboard and click on the **My Product Reviews** tab from the account navigation as sh

[2022-02-11 13:10] engcom-Lima commented on #35077
Hi @malan

Thank you for reporting the issue.
We verified the issue on Magento 2.4-develop branch and the issue is reproducible.

Steps performed:
1. Install a clean version of Magento 2.4-develop
2. Create a new product
3. Go to **Marketing->Cart Price Rule->Select specific rule** , select specific coupon code and then set value in **Uses per coupon = 0** & **Uses per Customer = 1** **Action: 10%

[2022-02-11 13:29] engcom-Lima commented on #35073
Hi @bylli79,

Thank you for reporting the issue.
We tried reproducing the issue on 2.4-develop however the issue is not reproducible.

Steps followed to reproduce the issue:

1. Install fresh Magento 2.4-develop instance
2. Add configurable product with **eg: color** as configurable option.
3. Add 3 customisable options **Note (TextArea), Vector(Radio Button), LoadFile (File Type)**
![Screenshot f

[2022-02-11 13:33] engcom-Lima commented on #35020
Dear @gulfclickdxb,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-11 13:33] #35020 closed, assigned to engcom-November

[2022-02-11 14:12] engcom-Hotel commented on #35018
Dear @Axel29,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-11 14:12] #35018 closed, assigned to engcom-November

[2022-02-11 14:33] bjclark13 commented on #35079
Gotcha. I was asking if your Elasticsearch cluster uses authentication with a username and password, but sounds like it does not :)

[2022-02-11 16:59] braders commented on #34627
I manage a high-traffic Magento site using the Cybersource payment gateway, and am seeing this issue frequently in relation to 3DSecure. If the 3DSecure authentication fails, cybersource is throwing an error which causes the sales coupon to be cancelled.

In addition to the SQL error, we are having significant issues with customers re-trying the payment and finding their coupon has reportedly been

[2022-02-11 17:04] simonmaass commented on #10636
I can also confirm this issue in 2.4.3

[2022-02-11 17:09] nthurston opened #35093 "Duplicate reCAPTCHA validation breaks checkout success redirect after initial server error response"
### Preconditions (*)

1. Magento 2.4.3-p1
1. Enable for Checkout/Placing Order - reCAPTCHA v3 invisible

### Steps to reproduce (*)

1. Trigger a server side error on initial place order press
1. Fix server side error and place order again

### Expected result (*)

1. Order is placed
1. Redirect to success page

### Actual result (*)

1. Order is placed
1. No redirect to success page
1. Cart is c

[2022-02-11 17:27] bartoszkubicki commented on #23908
Still an issue on newest magento version

[2022-02-11 18:38] hostep commented on #35081
This isn't a core Magento bug, it sounds like an environmental issue on your side. I would suggest you ask your hosting provider for some help with this.

[2022-02-11 20:39] nthurston commented on #35093
Diff for anyone that needs it.  Not tested much yet, so use at your own risk.  Seems to solve this checkout issue and not cause any other issues with v3 invisible on other forms.

[code]

[2022-02-12 03:00] bluedarter2 commented on #28153
I'm waiting for a fix, or a work-around, for this too!  I have products with **90** choices in the drop-down, they are dye color names fwiw, and I have **NO WAY** to add a new color name in the middle of the list - which I need to do to keep it in alphabetic order!

[2022-02-12 10:38] alikhani97 commented on #35093
@magento give me 2.4-develop instance

[2022-02-13 08:41] broeder commented on #2939
Exact same problem with Magento2.4.3-p1

[2022-02-13 09:02] broeder opened #35094 "MagentoCE2.4.3-p1. Free Shipping Method not showing in backend"
### Preconditions (*)

1.MagentoCE2.4.3-p1
2.

### Steps to reproduce (*)

1.Settings on Back end : Stores / Sales / Delivery Method / Flat Rate / Set: Price= 5 and Maximum Price to Set Free=35.
2.Create Order on **Back end**. Choose products so **total > 35.** Choose Delivery Method = Shipping.

### Expected result (*)

1. [Screenshots, logs or description]
2. Shipping costs should be free.

###

[2022-02-14 02:28] AlekseyKorzun commented on #12298
Still an issue as of today. What is the latest?

[2022-02-14 07:39] kimurabanyan opened #35096 "Unable to save "Use Default" value for product attribute which has default value"
 

**ISSUE:**

Use Default Value checkbox not checked and value not showing for product attribute

**STEPS TO REPLICATE:**
1. Create a product attribute with a backend type of varchar, text or datetime and set default value at "Advanced Attribute Properties > Default Value", and add that attribute to any attribute set.
1. Create a product of attribute set with attribute created in Step1
1. Uncheck

[2022-02-14 07:42] kimurabanyan commented on #35096
@magento give me 2.4-develop instance

[2022-02-14 08:03] kimurabanyan commented on #35096
Reproduced in 2.4-develop instance

**Step1**
![attribute](https://user-images.githubusercontent.com/2253448/153823096-ae189ef9-ca42-4d44-a9ef-70502532aaf6.png)

result of **Step4**
![save-product](https://user-images.githubusercontent.com/2253448/153823890-25db80f6-a2e8-48e5-a904-4133a076de77.png)

[2022-02-14 08:55] ioweb-gr opened #35097 "mixins for priceBox::reloadPrice not working consistently accross browsers"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Firefox 97/98

### Steps to reproduce (*)
Create a module and add the following file

app/code/Vendor/Module/view/frontend/requirejs-config.js
[code]

Follow the documentation to add a mixin for `reloadPrice`

app/code/Vendor/Module/view/frontend/web/js/price-box-mixin.js
[code]

It seems the same behaviour is happening for klarma pricebox-widget-mixin

[2022-02-14 09:03] engcom-Hotel commented on #35088
Hello @Rakhi161,

We have gone through with the description and tried to reproduce the issue in Magento 2.4-develop branch but it seems that this is expected behavior. Because we are deleting something directly from the server.

Thanks

[2022-02-14 09:05] engcom-Hotel commented on #35093
Hello @nthurston,

Thanks for posting this issue!

We request you to please elaborate below point:

Thanks

[2022-02-14 09:51] isxam commented on #33593
faced the same issue with unapplied mixins on storefront.
the issue is reproducible when `requirejs-config.js` executing after `mage/requirejs/mixins.js`.

As mentioned previously,
https://github.com/magento/magento2/blob/4c36116dcf878e127059d9be9566a119783583f2/lib/web/mage/requirejs/mixins.js#L139
can't find mixins due to empty requirejs config.

Seems like the issue introduced with this commit

[2022-02-14 10:04] Japharul opened #35098 "the custom option Newest and Oldest is not working in magento2.4.3p1"
I have created a custom sorting in magento2.4.3p1 but the custom option newest and oldest is not working.

### Preconditions (*)

1. magento2.4.3p1 is the exact version .

### Steps to reproduce (*)

1. I have created a custom product sorting. Other option are working fine, like as naming ascending or descending but one option is not working, that is option newest and oldest.

### Expected result

[2022-02-14 10:38] engcom-Hotel commented on #35081
Hello @InfoAmbient,

We have tried to make changes in php.ini and make `upload_max_filesize` with 8M. The same configuration is working for us. Please have a look at the below screenshot for reference:
<img width="1305" alt="image" src="https://user-images.githubusercontent.com/51681618/153848159-e4f0e273-1050-455c-a22b-0b76dd4729ea.png">

Please try the solution given by @hostep in this [comment]

[2022-02-14 10:43] engcom-Hotel commented on #35079
Hello @williambize,

The error mentioned in the main description generally occurs when elasticsearch service is not running. But as I can see that you have tried to start the service as well but then the error shows that you do not have elasticsearch installed in your environment.

I request you to please install the elasticsearch and then try to start the service. It may resolved your issue.

Tha

[2022-02-14 11:14] slackerzz commented on #9223
The problem is still present in Magento Commerce 2.4.3:

[code]

outputs

[code]

[2022-02-14 11:15] taintedstephen commented on #34945
Any less file in a Magento theme without a leading underscore is treated as though it should be its own css file when the theme is compiled. The underscore denotes it is included in another file and therefore shouldn't be compiled unless it is imported somewhere else.

[2022-02-14 11:31] JDhere commented on #34948
I have updated it in the description. Sorry for the delay!

[2022-02-14 12:32] Usik2203 commented on #34981
@magento I am working on this

[2022-02-14 13:31] korovitskyi commented on #34944
Hi, @shikhamis11 , @cpartica .
It was checked translation (attribute label and option label) (magento `2.4-develop` branch).
And, it works OK.
Want to notice that translation of attributes is setting in the attribute, but not by the `i18n`.

**Here is the testing result view:**

- changed locale to Germany:
<img width="2645" alt="image" src="https://user-images.githubusercontent.com/74533818/15387

[2022-02-14 13:54] rr10 opened #35100 "Mariadb 10.5 support and cPanel problem"
Cpanel does not support mariadb version 10.4.

This situation creates several problems during updates.

Is there a possibility for magento 2.4 to support maria db 10.5?

https://features.cpanel.net/topic/maria-10-4-support

![image](https://user-images.githubusercontent.com/26082390/153876990-2eef8f02-29b0-4889-8033-d77a5756dec4.png)

[2022-02-14 14:34] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-14 16:03] nthurston commented on #35093
Need to simulate payment gateway denial.  It can be done with Braintree sandbox and order amount between $2000-$3000.  That acts a little differently because of Braintree mixin.  Not sure of the best way to simulate it with magento core code.

[2022-02-14 16:27] adamlavery opened #35102 "setup:db-declaration:generate-whitelist fails with no logs/error anywhere"
### Preconditions (*)
1. M2.4.3-p1.

### Steps to reproduce (*)
- Create a db_schema.xml file and hope everything in it is correct
- Upload (new) module to app/code
- Run module:enable Vendor_Module (possibly, schema process is not clear)
- Run cache:clean & cache:flush (to be on the safe side)
- Run setup:db-declaration:generate-whitelist --module-name=Vendor_Module

### Expected result (*)
db_sc

[2022-02-14 16:29] adamlavery commented on #35102
@magento give me 2.4-develop instance

[2022-02-14 16:40] adamlavery commented on #35102
Develop instance is no use for testing this issue.

[2022-02-14 17:48] vijendra-4 commented on #2540
Followed magento devdocs and fixed several issues found online before reaching here. Now completely stuck at this, no idea what to do.
oauth_problem=Cannot+create+request+token+because+consumer+token+is+not+a+verifier+token
Deleting entries from [oauth_token] table doesn't help me, it generates a new error.
oauth_problem=A+token+with+consumer+ID+7+does+not+exist

After creating the integration, it

[2022-02-14 18:44] parthaccorin commented on #33856
This is the solution, I am able to fix it with a patch of this commit. we have issues on PDP, Cart, and Checkout Summary all of them are fixed with it.
Thank you.

[2022-02-14 20:23] joggienl commented on #33623
I am curious, I've asked my previous question some time ago. When using GraphQL to get products via the urlKey, why is getting the BundleProduct and/or ConfigurableProduct besides the SimpleProduct considered a bug?

When looking at this differently, if you would want to use the SimpleProduct to be able to identify any parent Product, how would you do that using GraphQL (or any other way)?

[2022-02-15 03:31] luccame commented on #33007
Was this ever fixed in the 2.3 release line?

[2022-02-15 03:48] 4DallasC commented on #32256
Howdy All,

Having the same problem with PHP v7.4 and not with PHP v7.3. Looks like a change to how PHP's `\NumberFormatter::formatCurrency` operates when the second parameter `string $currency` is provided. In v7.4 it now overrides the applied setting of the currency symbol with the default in PHP.

The following edit is required in `\Magento\Directory\Model\Currency::formatCurrency(string $price

[2022-02-15 04:15] shikhamis11 commented on #34944
@magento give me 2.4-develop instance

[2022-02-15 04:49] shikhamis11 commented on #34944
yes, @alexmtch the attribute label and its option label's stores values are given from backend attribute settings not through i18n. I also checked translation for attribute label and option label on the `Magento 2.4-develop` instance. It seems to work fine. so @cpartica we can close it.

<img width="894" alt="Screenshot at Feb 15 10-12-55" src="https://user-images.githubusercontent.com/25526037/15

[2022-02-15 09:07] engcom-Hotel commented on #35044
Dear @snadiminty,

We have noticed that this issue has not been updated by you for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-15 09:07] #35044 closed, assigned to engcom-Hotel

[2022-02-15 09:29] engcom-Hotel commented on #35043
Dear @patrasq,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-15 09:29] #35043 closed, assigned to engcom-Hotel

[2022-02-15 10:05] serzhik commented on #33965
@JamesFX2 in my case https://github.com/PHOENIX-MEDIA/magento2-mediastoragesync breaks standard flow as you described.

[2022-02-15 10:38] isxam commented on #33593
The issue is reproducible only for target packages with changed path (using require `map` config or `path` for example).
As workaround, can be added two declaration of mixin for short name and path.

[code]

Short declaration will be used for `processNames` to add `mixins!` prefix to target package, the second one with fully path will be used during applying mixins.

[2022-02-15 13:18] nkajic commented on #34107
https://github.com/magento give me 2.4-develop instance

[2022-02-15 13:33] engcom-Hotel commented on #35096
Hi @kimurabanyan,

Thank you for reporting the issue.

We have verified the issue on Magento 2.4-develop branch however the issue is not reproducible for us.

Steps performed:
1:Install a clean version of Magento version 2.4-develop
2:Create a product attribute with a backend type of varchar, text, or DateTime and set default value at "Advanced Attribute Properties > Default Value", and add that a

[2022-02-15 13:49] nkajic commented on #33819
Hi @tgreeve thank you for your time describing problem.

I have same problem and see at least 5+ duplicate tickets closed without solution.
How did you manage to solve this? Do you have some patch you can share with rest of us?

Thanks, N

[2022-02-15 13:58] nkajic commented on #34107
https://github.com/magento give me 2.4.3 instance

[2022-02-15 13:58] nkajic commented on #34107
@magento give me 2.4-develop instance

[2022-02-15 14:57] nkajic opened #35105 "Purchase of product with all/last pcs leave product available in catalog (until manual cache flush)"
### Preconditions (*)

1. development branch

### Steps to reproduce (*)

1. Add product in cart with max quantity available (usually 100 pcs in sample data)
2. Finish checkout
3. Go to category where that product was available
4. Add to cart

### Expected result (*)

1. Product IS NOT shown in category
2. Product does not have Add to cart button available

### Actual result (*)

1. Product is sho

[2022-02-15 15:32] wojtekn opened #35106 "Improve import/export validation error reporting"
### Summary (*)

Import/export module code can be used in custom CLI scripts to import data. Then `ProcessingErrorAggregatorInterface` can be used to get errors that were caught during the import, for example, to show output to the user, or to log the output.

There is a behavior that looks like a small bug, that causes problems in a specific use case - when `is_unique` error is triggered in the s

[2022-02-15 15:48] ageffray opened #35107 "Admin user role performance issue"
### Preconditions (*)
1. Magento 2.4.3-p1
2. PHP 7.4.26
3. MySQL 8.0.26

### Steps to reproduce (*)
On User module in app/code/Magento/User/Model/User.php for method getRole() when you call it from admin user model it reloads every role from getRoles() then use ->load() on each one

### Expected result (*)
don't reload every roles

### Actual result (*)
Roles are loaded and cause performance issue

[2022-02-15 15:51] korovitskyi commented on #35077
@magento I am working on this

[2022-02-15 16:00] hostep opened #35108 "Incorrect 'longblog' database definition, should be 'longblob'"
### Preconditions (*)

### Steps to reproduce (*)
1. Look at this line: https://github.com/magento/magento2/blob/2d446475953e907c9844d493857d172bc9956bd8/app/etc/di.xml#L1615

### Expected result (*)
1. seeing `longblob`

### Actual result (*)
1. seeing `longblog`

### Discussion
Accidentally noticed this, no idea if this can cause problems in any way in Magento, but it looks a bit sloppy 🙂

---
P

[2022-02-15 16:17] alex-james commented on #31896
Looks like this is being covered here: https://github.com/magento/magento2/issues/25835

[2022-02-15 16:53] Quazz commented on #35100
Pretty frustrating that the only feedback we got so far is that they'll do it "eventually". Is that months? Years? Will a new MariaDB version be out by then starting this cycle all over again?

[2022-02-15 21:10] chequille commented on #33819
Hi @nkajic
see my comment above from https://github.com/magento/magento2/issues/33819#issuecomment-930529339
This helps on my site to get it almost working except of the fact, that I have to make catalog and product page not cachable.

[2022-02-15 21:23] bmxmale commented on #34420
Same problem here, page builder encode html content.

[code]

[2022-02-15 21:48] dudzio12 commented on #35102
I'll check that

[2022-02-15 22:02] dudzio12 commented on #35102
@adamlavery I couldn't reproduce the issue on `2.4-develop` branch. Here's the output file of `bin/magento setup:db-declaration:generate-whitelist --module-name=Vendor_Module` command:

[code]

[2022-02-15 22:29] dudzio12 commented on #35108
I was curious, so investigated a little bit what's going on wth that typo.

Since we use now declarative schema, the issue is not likely to popup, but there are some third party modules which still uses old `SchemaInterface` classes.

So if we try to add a column with type `longblob` (which is NOT listed in `\Magento\Framework\DB\Ddl\Table`, it's just `blob` type there) or update a column (with ol

[2022-02-15 23:35] DomPixie opened #35110 "Magento 2.4.3p1 gift message option doesn't show for items in cart when using product customizable options"
### Preconditions (*)
1. Magento 2.4.3p1

### Steps to reproduce (*)
1. Create simple product with customizable options
2. Create simple product without customizable options
3. Stores > Settings > Configuration > Gift Options. Set the gift message options to *Allow Gift Messages for Order Items - yes*
4. Add both SKUs to cart
5. View Cart

### Expected result (*)
1. Have option to edit Gift Option

[2022-02-16 01:48] engcom-Hotel commented on #35108
Hello @hostep,

Thanks for posting this issue!

@dudzio12 Thanks for the detailed explanation.

We have investigated the issue and found that `longblog` has been written in the [file](https://github.com/magento/magento2/blob/65714d45005bd2aa0edae90b0de27ffa58a6ef71/app/etc/di.xml#L1615), which is not the valid data type. Hence confirming this issue.

Thanks

[2022-02-16 01:51] engcom-Hotel commented on #34494
Dear @Any-Documentation-Would-be-Great,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 01:51] #34494 closed, assigned to engcom-Hotel

[2022-02-16 01:52] engcom-Hotel commented on #34771
Dear @a4deel,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 01:52] #34771 closed, assigned to engcom-Hotel

[2022-02-16 06:59] kimurabanyan commented on #35096
https://github.com/magento give me 2.4-develop instance

[2022-02-16 07:00] kimurabanyan commented on #35096
@magento give me 2.4-develop instance

[2022-02-16 07:09] syed-netable commented on #28943
Hi @magento-engcom-team

Downloaded and installed 2.4.1-p1 still not working :(

[2022-02-16 07:17] kimurabanyan commented on #35096
Hi @engcom-Hotel

Thank you for confirming.

I confirmed that it would be reproduced again.
Is your procedure missing the following step?

As you can see in the red frame in the image below, this problem only occurs with attributes that have "Default Value".
Perhaps you checked without setting the "Default Value".

![default-value](https://user-images.githubusercontent.com/2253448/154214634-d450ea

[2022-02-16 07:17] thehl commented on #34650
@engcom-Hotel Ok, then the SKU attribute isn't unlocked to use it in sales rule, but this is no problem, you can also just use "Category" for example with a "fake" value that does not match.

[2022-02-16 08:52] dudzio12 commented on #33820
It's already fixed by #33892.

[2022-02-16 08:52] #33820 closed, assigned to magepro-dev

[2022-02-16 09:42] engcom-Hotel commented on #35107
Hello @ageffray,

We have tried to reproduce the issue in Magento 2.4-develop branch by accessing this endpoint `admin/customer/index/index/`. We have added the breakpoint, to check whether it is calling `->load` method.

But for us, it is not reaching there. Please let us know if we need to check it on another page.

Thanks

[2022-02-16 09:48] nilesh-gosai-born commented on #24287
Hello Team,
I am facing same issue on Magento 2.4.3
if this is fixed then any one can give the files which has been changed to fix this issue.

[2022-02-16 09:58] engcom-Hotel commented on #35105
@magento give me 2.4-develop instance

[2022-02-16 10:47] ngorupaha commented on #32450
@magento add to contributors team

[2022-02-16 10:48] engcom-Hotel commented on #35105
Hello @nkajic,

We have tried to reproduce the issue in Magento 2.4-develop branch, the issue is reproducible for us. Please have a look into the below screenshots for reference:

- In the admin panel, the catalog list page shows 0 default stock:
![image](https://user-images.githubusercontent.com/51681618/154248238-6eddc177-7900-4c7c-b8f8-b17328200d17.png)

- Product Shown in the category:
![image

[2022-02-16 10:49] ngorupaha commented on #32450
@magento add to contributors team

[2022-02-16 10:50] ngorupaha commented on #32450
@magento give me 2.4-develop instance

[2022-02-16 11:07] rr10 commented on #35100
![image](https://user-images.githubusercontent.com/26082390/154241452-4ed8956f-664d-4605-8943-12c4b0a66943.png)
I would like to understand how this can be done considering how widespread cpanel is in the world. If for some reason you don't want to make magento 2.4.1-6 compatible with mariadb 10.5 at least make it compatible with maria db 10.3

[2022-02-16 11:10] vandijkstef commented on #31758
Can confirm. Position, price, ASC/DESC nothing is working for me

[2022-02-16 11:12] vandijkstef commented on #33810
While this did change some ordering, it didn't order how it should. ASC/DESC also not working.

Any updates on this issue? I see a lot of PR stuff passing by, but it seems stale?

[2022-02-16 11:14] vandijkstef commented on #32522
Sadly, @devchris79 solution didn't do anything for me

[2022-02-16 11:23] devchris79 commented on #32522
Hi Stef,

Its strange because after I changed my code as above it worked for me.
I am wondering if another fix I had implemented also had an effect and the combination of the two corrected the issue.

Here is the fix in question, it also affects Elasticsearch so it may work for you #32304

[2022-02-16 11:40] engcom-Hotel commented on #34959
Hello @anderspirlo,

Thanks for the reply!

We request you to please elaborate below expected result from the main description:

Thanks

[2022-02-16 13:34] engcom-Lima commented on #35094
Hi @broeder

Thank you for reporting the issue.
We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:
1. install a clean version of Magento version 2.4-develop
2. Go to configuration<sales<shipping methods<flatrate <set price = 5 and in **Free shipping** set **minimum order amount**=35
3. Create order on backend
4. Choose products so tot

[2022-02-16 13:42] engcom-Lima commented on #35110
Hi @DomPixie,

Thank you for reporting the issue.
We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:

1. Create one simple product with customisable options
2. Create another simple product without customisable options
3. **Stores > Settings > Configuration > sales>Gift Options**. Set the gift message options to **Allow Gift Messages

[2022-02-16 14:08] engcom-Hotel commented on #34895
Dear @kingshukdeb,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 14:08] #34895 closed, assigned to engcom-November

[2022-02-16 14:08] engcom-Hotel commented on #34727
Dear @xtremevision,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 14:08] #34727 closed, assigned to engcom-November

[2022-02-16 14:12] engcom-Hotel commented on #32898
Dear @matteolavaggi,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 14:12] #32898 closed, assigned to matteolavaggi

[2022-02-16 14:13] #34412 closed, assigned to engcom-Delta

[2022-02-16 14:15] Eddcapone opened #35112 "Can't disable third party plugin"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

# Problem:

I am using the extension **Fooman_PdfCustomiser**.

I need to disable the plugin named `fooman_pdfcustomiser_paymentinfoblock`.

**vendor/fooman/pdfcustomiser-implementation-m2/src/etc/di.xml**:

    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="urn:magento:fr

[2022-02-16 14:16] engcom-Hotel commented on #35035
Dear @joeshelton-wagento,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 14:16] #35035 closed, assigned to engcom-Lima

[2022-02-16 14:16] engcom-Hotel commented on #34461
Dear @salehawal,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-16 14:16] #34461 closed, assigned to nobody

[2022-02-16 14:32] engcom-Hotel commented on #33659
Hello @Garde85,
[code]
Hence closing this issue.

Thanks

[2022-02-16 14:32] #33659 closed, assigned to nobody

[2022-02-16 15:13] Eddcapone commented on #35112
It was my fault. The extension **Company_App** was disabled, thats why the plugin deactivation was ignored.

[2022-02-16 15:13] #35112 closed, assigned to engcom-Delta

[2022-02-16 17:33] juharintanen commented on #29817
I found out, that in Magento_Shipping::order/packaging/grid.phtml there is a row for fetching **Order Item Id**.

$id = $item->getId() ?? $item->getOrderItemId();

If you are trying to create label to a order that already has shipment, it's fetching items in sales_shipment_item table, so that row should actually be other way around because now its getting the wrong id.

So:
$id = $item->getOrderIt

[2022-02-16 20:26] naomirobichaud commented on #30835
https://github.com/magento give me 2.4.3 instance with edition b2b

[2022-02-16 20:26] naomirobichaud commented on #30835
https://github.com/magento give me 2.4.3 instance with edition b2b

[2022-02-16 21:10] christianbookpwood commented on #2916
Moving this to the forum doesn't seem to have helped, since the issue still isn't fixed. Any idea if this is being worked on?

[2022-02-16 21:12] erikhansen commented on #2916
@christianbookpwood I'd recommend applying the patch I mentioned [in this comment](https://github.com/magento/magento2/issues/2916#issuecomment-345343749).

[2022-02-17 00:44] aarontalcott opened #35114 "Duplicate primary key error on catalog_url_rewrite_product_category when saving change to category URL key"
### Preconditions (*)

1. 2.4.3
2. At least 2 stores
3. Catalog > Search Engine Optimization > Generate "category/product" URL Rewrites = Yes
4. Category A that exists in all stores
4. At least one Product A that is assigned to only a subset of the stores
5. At least one Product B that is assigned to all stores
6. Product A and Product B assigned to Category A
7. Sufficient number of products in s

[2022-02-17 07:03] engcom-Hotel commented on #34993
Dear @0xMatt,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-17 07:03] #34993 closed, assigned to engcom-Lima

[2022-02-17 07:15] broeder commented on #35094
Hello,
Total due should be = 36

Le mer. 16 févr. 2022 à 14:35, Faizan Shaikh ***@***.***> a
écrit :

[2022-02-17 08:24] aliomattux opened #35115 "CMS Page with identifier shipping cannot save. The value specified in the URL Key field would generate a URL that already exists"
### Preconditions (*)

1. 2.4.3-p1
2.

### Steps to reproduce (*)

1. Go to Content > Pages
2. Edit an existing CMS page with identifier shipping or create a new CMS page with identifier shipping
3. Press Save

### Expected result (*)

1. The CMS page is saved without error.
2.

### Actual result (*)

1. Error message is thrown preventing saving. The value specified in the URL Key field would gene

[2022-02-17 08:24] aliomattux commented on #31007
For those commenting on this issue that is already closed, I filed a new bug report specific to the issue with shipping.
https://github.com/magento/magento2/issues/35115

[2022-02-17 08:32] engcom-Hotel commented on #35115
@magento give me 2.4-develop instance

[2022-02-17 10:38] jl-tric commented on #34179
This is still an issue on 2.4.3-p1.
Reverting the change in https://github.com/magento/magento2/commit/dac067c9e8c056e5aedeba62cf3d58b10bc90d8e#diff-64f746135385baec0f5308d1c9686fe77ec87e806bf4f3aef821a26af90a7fd7 Option.php fixes the issue.

[2022-02-17 10:52] engcom-Hotel commented on #35114
@magento give me 2.4-develop instance

[2022-02-17 10:54] engcom-Hotel commented on #35114
@magento give me 2.4-develop instance

[2022-02-17 11:09] shyopat commented on #29572
You should have to use product repository for editing the products
`\Magento\Catalog\Model\ProductRepository`

Use like below
[code]

[2022-02-17 11:30] oliverde8 commented on #35065
We just had this issue.

The second point that I think should be raised is why it causes all the checkout to fail? We have other payment providers as well and due to his issue we had no orders coming in.

Regards.

[2022-02-17 12:22] preeteshtavant commented on #34866
@m2-assistant @mmezhensky  @m2-github-services @m2-community-project @engcom-November
is there any update on this.

@mmezhensky  its showing merge request failed.

Could you please provide an update on this.

[2022-02-17 12:45] engcom-Hotel commented on #35114
Hello @aarontalcott,

Thanks for posting the issue!

We have started checking this issue. But can you please provide some screenshots for the below steps:

Thanks

[2022-02-17 14:20] quterorta commented on #8788
still dont work(

[2022-02-17 14:32] engcom-Delta commented on #35022
Hi @ Sven Geiß

Thank you for reporting the issue.
We tried to reproduce the issue on the Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:
1:Install a clean version of Magento version 2.4-develop
2:Create two new tax rates and add them to the "Rule1" default tax rule. One rate for Germany with 0% and one for Netherlands with 21% as shown in the screenshot
![tax](http

[2022-02-17 14:39] engcom-Delta commented on #35097
Hi @ioweb-gr ,

Thank you for reporting an issue . Kindly provide more clarity on which documentation we should refer please?
"Follow the documentation to add a mixin for reloadPrice"

Hence, added the label 'Needs Update'.

Thanks

[2022-02-17 14:41] ioweb-gr commented on #35097
Hi it's this one https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_mixins.html

[2022-02-17 14:48] engcom-Delta commented on #35097
Hi @ioweb-gr ,
Thanks for confirming the document.

[2022-02-17 15:01] anderspirlo commented on #34959
Hello @engcom-Hotel

Another comment. If you recalculate the actual result, it should display the following change in tax and order total:

Subtotal: 59,00 (incl. tax)
Discount: 4,72 (EXCL. TAX)
Shipping: 0,00 (incl. tax)

Tax: 10,86

Order total: 54,28 (incl. tax)

[2022-02-17 15:36] broeder commented on #35094
1. install a clean version of Magento version 2.4-develop
   2. Go to configuration<sales<shipping methods<flatrate <set price = 5
   and in *Free shipping* set *minimum order amount*=35
   3. Create order on *frontend*
   4. Choose products so total > 35
   Note: This should give the desired result.

Le mer. 16 févr. 2022 à 14:35, Faizan Shaikh ***@***.***> a
écrit :

[2022-02-17 15:54] cmuench commented on #33281
I have the same issue in Magento 2.4.3-p1.
Cart item contains then a "null" value for the problematic item.
![image](https://user-images.githubusercontent.com/211294/154519211-58f176bd-4361-4f29-9d16-fb4c5a3f13e8.png)

[2022-02-17 15:56] jlenzstaysafe commented on #24926
This does not work correctly when adding a column to an existing core table.  For example, if you create a custom module and define your db_schema and whitelist which simply adds a column to an existing core table, then disable your module/run set:up - POOF, the entire core table is gone

[2022-02-17 17:38] sdzhepa commented on #35105
@engcom-Hotel  @nkajic

This issue could occur on instances where consumers are not runing(configured)
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-queue.html

Could you please confirm is it issue happened with enabled/configured consumers on an instance with MSI

[2022-02-17 18:41] sdzhepa commented on #33386
After an internal discussion and based on multiple complaints we confirmed this issue.
For such type of issue is not trivial to describe simple(or end-user) steps to reproduce.

Also, it is hard to predict final performance results. Theoretically, numbers should be  better
So, as Acceptance Criteria for this issue should be performance measurement before and after

Suggested approach
1. Check trig

[2022-02-17 20:29] nkajic commented on #35105
Hi all,

I have managed to get it working by properly configuring consumers.

Are't consumers configured to run on test instances by magento-deployment-service? Maybe tried before consumers were ready to accept jobs?

I will close this issue. Thanks all.

[2022-02-17 20:29] #35105 closed, assigned to nobody

[2022-02-17 20:34] nkajic commented on #33819
Hi @chequille

I have managed to get it working on 2.3.4-p1 by properly configuring consumers. #35105

But on earlier version there was definetly some other problem involved. Upgrading to 2.4.3-p1 and configuring consumers solved my problem.

I hope it hepls.

Thanks,
N

[2022-02-17 22:25] cristianmattar commented on #35059
![Captura de tela de 2022-02-17 19-18-54](https://user-images.githubusercontent.com/77081134/154580655-b8413c02-c37e-4c29-8d57-29774e32d4e7.png)

In the admin, you can leave the "required" option unchecked, so it leads to believe that the person can buy by leaving the "none" option selected. (As in the next attachment). However, this is not allowed, ie the behavior ends up being the same with requ

[2022-02-17 22:26] cristianmattar commented on #35059
If this is the expected behavior, I don't understand the use of "required"

[2022-02-17 22:33] chequille commented on #33819
Hi @nkajic,
first, thanks for this info.
Ok, I will try this on my local Ubuntu VM.

But if this is the only solution, somebody who does not have ssh acces to the server will never get it working, right?
So far , I am in lucky, as my production site is on a VServer and I have ssh access.

As well I have a question regaring the consumers. You mentioned "properly configuring consumers", but what doe

[2022-02-18 07:28] broeder commented on #35094
1. Precondition:
   2. install a clean version of Magento version 2.4-3-p1
   3. Steps:
   4. Go to configuration<sales<shipping methods<flatrate <set price = 5
   and in *Free shipping* set *minimum order amount*=35
   5. Create order on backend
   6. Choose products so total = 36
   7. Expected Results: Grand Total = 36
   8. Actual Results: Grand Total = 41

Le jeu. 17 févr. 2022 à 09:30, m2-as

[2022-02-18 09:21] imran-herrmann commented on #6184
Got the same bug in Magento2.4.2-p2. Fixed it as described in the start of this thread with a composer patch:

[code]

[2022-02-18 10:53] bartoszkubicki commented on #35065
@oliverde8 It is caused by poor Klarna error handling. We have multiple fixes on native Klarna module, it throws exception here an there, just because some quote is not matching its conditions, instead of detaching itself from payment methods list.

[2022-02-18 13:01] adamlavery opened #35120 "Backup housekeeping missing"
### Preconditions (*)
1. OS 2.4.3-p1

### Steps to reproduce (*)
1. Stores > Configuration > System > Backup Settings
2. Enable Scheduled backups

### Expected result (*)
1. Option to limit retained backups

### Actual result (*)
1. No option to limit retained backups

- [ ] Severity: **S1** _- Affects critical data or functionality and forces users to employ a workaround._

Any system that does a

[2022-02-18 13:17] engcom-Delta commented on #34974
Hi @support-smartebusiness ,
adi smarte is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. May I  close this issue as community is not able to provide fix for it in this repository.
All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place page.Than

[2022-02-18 13:24] engcom-Delta commented on #35087
Hi @laurazacatrus ,
Thank you for reporting the issue.We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

**Steps performed:**

1. Content > Page > New Page
2. Edit with page Builder
3. To select Row > Elements > Text
4. Put an icon

As shown in the screenshot
![icon1](https://user-images.githubusercontent.com/51681379/154690488-618c21d2-63e9-4fda-a2f3

[2022-02-18 13:41] engcom-Delta commented on #35098
Hi @Japharul ,
Thank you for reporting an issue , we tried to reproduce the issue on Magento 2.4 Develop with latest branch code  but we are able to reproduce the issue on front end.
<img width="1440" alt="Screenshot 2022-02-16 at 7 05 50 PM" src="https://user-images.githubusercontent.com/51681379/154693201-ee580daf-14a5-4756-8b7b-e6d0e09e89f2.png">

Unfortunately , we could not get the errors in

[2022-02-18 14:29] engcom-Delta commented on #35074
Hi @Alisinasyon ,
Thank you for reporting an issue , very happy to assist you and Please provide the screenshots for reference .
Hence, added the label 'Needs update'

[2022-02-19 06:38] Sanjay-100 opened #35121 "Magento 2 compatible with php 8.1"
Problem 1
    - Root composer.json requires laminas/laminas-code ^3.5.1 -> satisfiable by laminas/laminas-code[3.5.1].
    - laminas/laminas-code 3.5.1 requires php ^7.3 || ~8.0.0 -> your php version (8.1.1) does not satisfy that requirement.
  Problem 2
    - Root composer.json requires laminas/laminas-escaper 2.7.0 -> satisfiable by laminas/laminas-escaper[2.7.0].
    - laminas/laminas-escaper 2

[2022-02-19 06:41] Sanjay-100 commented on #35121
Summary of the issue  - magneto 2 work with php 8.1 version
Information on your environment  windows  xampp  php 8.1.1
Steps to reproduce  -> clone magento from 2.4 from  https://magento.com/tech-resources/download
 Expected and actual results  - with php version need to be run,

[2022-02-19 11:57] faradey opened #35122 "The store that was requested wasn't found on creditmemo grid page"
### Preconditions (*)

1. Magento 2.4.3
2. PHP 7.4

### Steps to reproduce (*)

1. Create website, store, and Store View with numbers at the beginning of the name. For example 123Test
2. Place orders for this store.
3. Create creditmemo for the order.
4. Go to creditmemo grid page

### Expected result (*)

1. Must be displayed creditmemos

### Actual result (*)

1. There is an error on the page

2

[2022-02-19 12:03] faradey commented on #35122
I found this bug location vendor/magento/module-sales/Ui/Component/Listing/Column/Price.php
`public function prepareDataSource(array $dataSource)
    {
        if (isset($dataSource['data']['items'])) {
            foreach ($dataSource['data']['items'] as & $item) {
                $currencyCode = isset($item['base_currency_code']) ? $item['base_currency_code'] : null;
                if (!$curren

[2022-02-19 12:19] bobemoe commented on #33073
Confirming this is an valid issue I just ran across on 2.4.2-p1

Can also confirm the patch provided in https://github.com/magento/magento2/issues/33073#issuecomment-848631459 fixes the issue for me.

Thanks @[aleksandrvaimo](https://github.com/aleksandrvaimo) :)

[2022-02-19 21:28] PierW opened #35123 "fix the container for description inserted with page builder inside catalog product view"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Module Page Builder Enabled (Default)
3. Design Page - Template Product full width (Default with page builder enabled)

### Steps to reproduce (*)

1. Enter to the backoffice
2. Create a Product and insert a description with page builder inside a row and 1 column
3. Save

### Expected result (*)

1. <img width="1348" alt="Schermata 2022-02-19 alle 20 3

[2022-02-19 21:31] PierW commented on #35123
@magento I am working on this

[2022-02-20 13:01] Stoyvo opened #35125 "Cannot Upload SVG Logo"
### Preconditions (*)

1. Read official Magento Documentation (https://docs.magento.com/user-guide/design/logo-upload.html)
2. Have SVG image

### Steps to reproduce (*)

1. In Admin, Navigate to Content -> Theme Configuration -> Select Theme
2. Open Header section
3. Select .svg image for Logo

### Expected result (*)

1. Upload image as SVG

### Actual result (*)

Error: "We don't recognize or s

[2022-02-20 13:02] Stoyvo commented on #35125
Upon research, I have identified that Magento removed SVG support in 2017?
https://github.com/magento/magento2/issues/12451

I find this hard to believe, otherwise official documentation would have been updated right? Official documentation specifically instructs user to select SVG file.

[2022-02-21 06:15] engcom-Hotel commented on #34294
@magento give me 2.4-develop instance

[2022-02-21 06:47] engcom-Hotel commented on #34650
@magento give me 2.4-develop instance

[2022-02-21 06:48] engcom-Hotel commented on #34294
@magento give me 2.4-develop instance

[2022-02-21 08:25] engcom-November commented on #35054
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Steps performed:
1. Installed Dutch Language Pack on Magento
2.  Admin - Stores - Configuration - Locale options - selected - Locale: Dutch (Netherlands) - Save config
3. Clear cache
4. Front end - Add product to cart - Checkout - Fill Details and Place Order using Check/Money Order
No issue: User is able to p

[2022-02-21 08:25] hostep commented on #35121
@Sanjay-100: have you read [the system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html)? The latest version of Magento (version 2.4.3-p1) currently only supports PHP 7.4

The next version (version 2.4.4, to be [released in a couple of weeks](https://devdocs.magento.com/release/index.html)), will support PHP 8.1

[2022-02-21 08:52] leduydong94 commented on #34990
Sorry for the late reply. The issue does not appear in branch develop, but in released version, it still happening. I don't know why. Can you tell me reason and how to fix it? If possible, please check on the released version.
Thanks

[2022-02-21 09:07] engcom-Lima commented on #35022
Hi @twosg,
Thank you for reporting the issue.
As per this [comment](https://github.com/magento/magento2/issues/35022#issuecomment-1043011731) the issue is reproducible however it is the expected behaviour of Magento 2.

But w.r.t this [comment](https://github.com/magento/magento2/issues/35022#issuecomment-1043050851) it can be considered as a feature improvement and moved ahead.

Based on this I a

[2022-02-21 09:08] engcom-Delta commented on #35120
Hi @adamlavery ,
Thank you for reporting an issue and We could not find the expected option in UI and it would be great if you can provide screenshot for reference for expected results.
Hence request to review the steps provided . added the label 'Needs Update'.

Steps followed:
1. Stores > Configuration > System > Backup Settings
2. Advanced --> System --> Backup Settings
3. Enable backups to 'Ye

[2022-02-21 09:18] stephansteiner commented on #8897
It's 2022, and we are still having this issue with both categories and products especially when updating using the REST APi.

[2022-02-21 09:27] engcom-November commented on #35048
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
![image](https://user-images.githubusercontent.com/60198231/154926510-9dee0087-caec-422f-8b4a-0a7b684b7eaf.png)

`
[2022-02-21T09:26:07.258206+00:00] main.CRITICAL: Exception: Warning: Cookie domains cannot contain any of the following ',; \t\r\n\013\014' in /var/www/html/mg24/magento2/lib/internal/Magento/Framework/St

[2022-02-21 09:34] engcom-Delta commented on #35125
Hi @Stoyvo ,
Thank you for reporting the issue. We have verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Based on the above observation, confirming the issue.

**Steps Performed:**

1.Install a clean version of Magento version 2.4-develop
2.Go to – Content>Configuration>Edit(Any configuration)>Header>Upload>Select .svg file
Actual result :
"We don't recognise or supp

[2022-02-21 10:23] rabraga commented on #6098
here is also an error in 2.4.1, in the amount of revenue value

[2022-02-21 13:05] engcom-November commented on #35036
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
Multi website store setup
Create product and assign to only main website
Products Grid - Select Product - Update Attributes - Websites - Add Product To all Websites - Save
Product added to queue.
After Update attributes for products are successfully updated, Product added to all websites and UR

[2022-02-21 13:21] engcom-November commented on #35071
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Sent PUT request to /V1/products/{sku} with null sku value and Internal server error is returned.
![image](https://user-images.githubusercontent.com/60198231/154963061-499ca8ad-7c6b-4246-a200-cde4a20807ee.png)
@akangithub kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any i

[2022-02-21 13:27] engcom-November commented on #35122
hi @faradey

Thank you for reporting the issue.

We verified the issue on Magento Commerce 2.4-develop branch and the issue is reproducible.

Steps performed:

Create website, store, and Store View with numbers at the beginning of the name. For example 123Test
Place orders for this store.
Create creditmemo for the order.
Go to creditmemo grid page

result:
There is an error on the page as shown in

[2022-02-21 13:36] engcom-November commented on #35094
hi @malan

Thank you for reporting the issue.

We verified the issue on Magento Commerce 2.4-develop branch and the issue is reproducible.

Steps performed:
install a clean version of Magento version 2.4-develop
Go to configuration<sales<shipping methods<flatrate <set price = 5 and in Free shipping set minimum order amount=35
Create order on backend
Choose products so total > 35
![image](https://u

[2022-02-21 14:29] engcom-Delta commented on #35096
Hi @kimurabanyan,

Thank you for reporting the issue.

We have verified the issue on Magento 2.4-develop branch however the issue is reproducible

Steps performed:
1:Install a clean version of Magento version 2.4-develop
2:Create a product attribute with a backend type of varchar, text, or DateTime and set default value at "Advanced Attribute Properties > Default Value", and add that attribute to

[2022-02-21 14:35] engcom-Delta commented on #35087
hi@ laurazacatrus

Thank you for reporting the issue.

We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

we have used  https://es.piliapp.com/facebook-symbols/ as mentioned above
getting error as shown in screenshot
![iconfinal](https://user-images.githubusercontent.com/51681379/154975392-02e2f1d5-6384-41e9-9621-f917f7f9266e.png)
Please let me know i

[2022-02-21 16:03] mfickers opened #35126 "Checkout navigation scrolling behavior inconsistent between browsers"
### Preconditions (*)

1. Any Magento > 2.3.0
2. Firefox browser
### Steps to reproduce (*)

1. Add a shippable product to cart and go to checkout
2. Enter valid email, shipping address and select shipping method
3. Click on 'Next' button, wait for step 2 to load
4. Click on the pencil icon next to the selected shipping method in the bottom right corner

### Expected result (*)

1. Get directed to

[2022-02-21 16:03] mfickers commented on #35126
@magento I am working on this

[2022-02-21 16:10] jesse-deboer commented on #34318
This bug looks bigger then reported before. Also email addresses like these `example-.test@gmail.com` don't work, so it's not just trailing or leading parts of an email. Also, this occurs more often, we have a customer with over 200 email addresses that don't work because of this reason.

[2022-02-21 19:01] Usik2203 commented on #33899
@magento I am working on this

[2022-02-21 20:16] wgabka commented on #13952
Hello all. I have notice issue with duplicate orders with the same quote id. All of your cases can have different origin but it's generally related to bad architecture of exception handling and not using database transaction or locking mechanizm in \Magento\Quote\Model\QuoteManagement::submitQuote.

Problem is in this code fragment.

[code]
author don't take in consideration that something can go

[2022-02-22 00:57] mrtuvn commented on #35126
what theme in your case used ? Would be great if we have some screenshot or video recorded

[2022-02-22 00:58] mrtuvn commented on #35126
also can you add context for scenario
guest or customer

[2022-02-22 05:14] engcom-November commented on #34998
@magento give me 2.4-develop instance

[2022-02-22 05:31] engcom-November commented on #34998
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Steps performed:
Go to admin panel - Stores - Settings -  Configuration -> Catalog -> RSS Feeds - Enable RSS Config, Wishlist -> Save Config
Clear Cache
Front-end - Login as Customer - Add Products to Wish list
My Wish list -> Share Wish List -> Enter email id , message
Select "Check here to link an RSS feed to your Wi

[2022-02-22 05:55] engcom-November commented on #35126
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Attached video for reference.
Issue: Front -end - Payment Step - On clicking Pencil Icon of Shipping Method, page is not scrolled down to Shipping Methods but instead user is displayed with Shipping Address.
Both Ship To and Shipping Methods sections edit, redirect to shipping address section.
Expected behavior: On cli

[2022-02-22 05:57] DmitryFurs commented on #34394
Is there any news here? Thanks!

[2022-02-22 06:53] m2-assistant[bot] opened #35128 "[Issue] Fix type definition mapper typo"
This issue is automatically created based on existing pull request: magento/magento2#35109: Fix type definition mapper typo

---------
### Description (*)
Fixed typo in di.xml

### Fixed Issues (if relevant)
1. Fixes magento/magento2#35108

### Manual testing scenarios (*)
No need to test

### Questions or comments

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of

[2022-02-22 07:55] engcom-November commented on #35038
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Uploaded PNG image for a product and Thumbnail of image is shown every where - No issue
![image](https://user-images.githubusercontent.com/60198231/155087061-c13c6f84-09f9-423e-8ab3-4379b3f4ec86.png)
![image](https://user-images.githubusercontent.com/60198231/155087108-3aff8a62-921d-4b13-bd32-6e6e7347d438.png)

[2022-02-22 07:59] mfickers commented on #35126
@mrtuvn

This is on 2.4-develop, with Luma theme and sample data. I've added any product to cart and proceeded to checkout as a guest.

As you can see in the screen cast below, when navigating back to the shipping methods by clicking on the pencil icon in step 2, the page is scrolled to the top of the shipping address form. Or to be more exact, it is scrolled to the element with the id #shipping,

[2022-02-22 09:24] engcom-November commented on #35087
hi@ laurazacatrus

Thank you for reporting the issue.

We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

we have used  https://es.piliapp.com/facebook-symbols/ as mentioned above
But getting error as shown in screenshot

![image](https://user-images.githubusercontent.com/60198231/155102109-8bafe03c-c6a6-4e48-95f5-0a992a10db37.png)

Please let me know

[2022-02-22 09:31] denis-zyk commented on #35061
Could anyone here take a look, please?

[2022-02-22 09:44] Sanjay-100 opened #35129 "Nginx confm not working properly"
after setup LEMP stack install the magneto,

link the magneto   "nginx.conf.sample'  to nginx config files.
Product detail page not working

![image](https://user-images.githubusercontent.com/98302784/155105709-83debd9f-d99d-4070-b24e-6e5ad6b99318.png)
home and categorises working.
![image](https://user-images.githubusercontent.com/98302784/155105780-c24fa2d5-0202-448c-80a5-5bad0df61fb1.png)

[2022-02-22 09:46] Sanjay-100 commented on #35129
Summary of the issue the nginx server config not working
Information on your environment  : nginx version: nginx/1.18.0 (Ubuntu)
Steps to reproduce  ; step magento with LEMP stack
Expected and actual results  : all page working fine with nginx config.

[2022-02-22 10:06] denis-zyk commented on #35061
https://github.com/magento give me 2.4-develop instance

[2022-02-22 10:14] engcom-Hotel commented on #35129
Hello @Sanjay-100,

It is doesn't seem to be a Magento core issue. I request you to please check logs and let us know if you found anything in that.

Thanks

[2022-02-22 11:44] engcom-November commented on #35028
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Steps performed:
Created Admin User from System - All Users - Add new User - with interface Locale - United Kingdom (GB) - Save User
Activate the user/grant access
Login to admin using newly created user
System > Permissions > All Users and Add New User
Fill out required details, set user role and set Expirati

[2022-02-22 12:16] engcom-Hotel commented on #35096
@engcom-Delta Please check the impact of the checkbox. This will help us in setting the priority.

Thanks

[2022-02-22 12:23] engcom-Hotel commented on #35094
@magento give me 2.4-develop instance

[2022-02-22 12:24] engcom-Hotel commented on #35094
@engcom-November As discussed in the triage meeting, please reverify if this issue occurs in the front end.

[2022-02-22 12:24] engcom-Hotel commented on #35094
@magento give me 2.4-develop instance

[2022-02-22 16:53] the-line commented on #35038
Try it with the following image:
https://www.dchaircosmetics.com/media/catalog/product/cache/bfb4627d111a798e98fdfb011538d81c/b/o/boef-hairfiber-.png

Also, it only happens with PHP 7.4.27 or newer.

[2022-02-22 17:10] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-22 20:07] slavvka commented on #34294
@magento give me 2.4-develop instance

[2022-02-23 04:44] lytesaber commented on #31117
As @vseager mentioned above this issue is still present on 2.4.3.

Admin Panel (Simple Product - Salable Quantity 0)
<img width="802" alt="image" src="https://user-images.githubusercontent.com/16328255/155262358-5249abe9-5efa-4b68-85dd-d07855cc6005.png">

Frontend (Simple Product - Stock Status "In Stock")
<img width="566" alt="image" src="https://user-images.githubusercontent.com/16328255/1552624

[2022-02-23 04:46] tschirmer commented on #31117
Still getting this on 2.4.3-p1

[2022-02-23 05:03] ClintTec commented on #8970
still happening on Magento 2.4.1p

[2022-02-23 06:59] engcom-Delta commented on #35120
Hi @adamlavery ,
Thank you for confirming and We could find out issue is reproducible on Magneto 2.4 Develop.
Hence marking the issue confirmed.

Steps followed:

Stores > Configuration > System > Backup Settings
Advanced --> System --> Backup Settings
Enable backups to 'Yes' option
Enable Scheduled Backup field to 'Yes'
**Actual results:**
No option to limit retained backups

<img width="1440" al

[2022-02-23 08:53] Sanjay-100 commented on #35129
@engcom-Hotel   Thanks for replay  i know it was not magento core issue. but it was something issue with nginx config file issue.

[2022-02-23 08:56] engcom-Hotel commented on #34650
@magento give me 2.4-develop instance

[2022-02-23 08:59] the-line commented on #35038
@magento give me 2.4-develop instance

[2022-02-23 09:15] mrtuvn commented on #35126
look reasonable ! I think this one affected to a lot of stores. Not a critical blocker. But should fix it as soon as possible

[2022-02-23 09:33] KernelFolla commented on #7044
maybe it's too late but I've found a solution for who comes here, in docker container (or in your linux environment) ps command is missing so magento tries with tasklist.exe, to solve the issue you need to install ps (usually with apt install procps )

[2022-02-23 09:45] the-line commented on #35038
@magento give me 2.4-develop instance

[2022-02-23 10:00] Minirock commented on #26333
Seems to be still valid in 2.4.1.

Any updates ?

[2022-02-23 10:03] support-smartebusiness commented on #34974
Hi,

the module **https://github.com/adiSmarte/filter-products** is not a third party module, its a code that can replicate the issue and all the code in **https://github.com/adiSmarte/filter-products/blob/master/Smart/Test/Plugin/Model/LayerPlugin.php** in doing is filter product collection by product id, and filtering product collection by id is a common practice and its broken in magento 2.4.3-

[2022-02-23 10:54] engcom-November commented on #35008
Verified the issue on Magento 2.4-develop branch having Enterprise edition modules enabled but cannot able to reproduce the issue.
**Steps performed:**
Multi store setup
1. Created admin user (Admin - System - Add new User)
2. Admin - System - User Roles - select role - Role Resources -  Role Scopes - Custom - assigned the user to 2nd website store only
3. Grant all access over that store only
4.

[2022-02-23 11:07] cfarnleitner commented on #24654
I just came across this issue's description in a clients live env. Even though I can yet not verify the steps taken, that lead to this situation, what is mentioned in "Actual result" (quote's customer_is_guest=1 and customer_id != null) can be seen in v2.4.3-p1 as well.

I'll try to come back to this issue with a better idea on what actually happened from the user perspective as this has occurred

[2022-02-23 11:46] engcom-November commented on #34937
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Issue: After setting the product visibility to "Not visible individually" for only one specific store view using "Update Attributes", all entries of product are deleted from url_rewrite table

[2022-02-23 11:49] razvan-optaros commented on #34646
Newrelic action should have a try catch. This is a bug.

[2022-02-23 11:56] engcom-Hotel commented on #35121
Hello @Sanjay-100,

The current stable version does not support PHP 8.x version. Please go through with the below link:

https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

Hence closing this issue.

Thanks

[2022-02-23 11:56] #35121 closed, assigned to engcom-Hotel

[2022-02-23 12:14] thinksys-dev opened #35130 "Email Template Css Styles breaking"
### Preconditions (*)

1. We installed the Patches MDVA-43395,MDVA-43443 but after installing the Email templates styles are breaking.
2. The styles which are set on Template styles box is not working on templates.

### Steps to reproduce (*)

1. Install the Patches MDVA-43395,MDVA-43443  on magento2 and set CSS under Template Styles text box on any email template in Admin then the CSS will not wo

[2022-02-23 12:26] engcom-Hotel commented on #35130
Hello @thinksys-dev,

Thanks for posting the issue!

Please let us know the below points in order to further analysis of the ticket:

- Summary of your environment
- CSS changes made
- If possible, please provide some screeshots

Thanks

[2022-02-23 12:29] denis-zyk commented on #35061
@magento give me 2.4-develop instance

[2022-02-23 12:54] engcom-Hotel commented on #34990
Hello @leduydong94,

Thanks for the confirmation. The issue will automatically be resolved in the next Magento release. As per confirmation in this [comment](https://github.com/magento/magento2/issues/34990#issuecomment-1046615899), we are closing this issue.

Thanks

[2022-02-23 12:54] #34990 closed, assigned to engcom-November

[2022-02-23 13:05] engcom-November commented on #35001
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Sitemap of second store view contains assigned page whereas sitemap of default store view does not contain assigned page.

Default store view sitemap:
![image](https://user-images.githubusercontent.com/60198231/155324605-f362ed07-d63e-4e48-96eb-6d54ffe193f5.png)

2nd store view sitemap:
![image](https://user-images.git

[2022-02-23 13:27] glo80326 commented on #33823
@magento give me 2.4-develop instance

[2022-02-23 13:27] glo80326 commented on #33823
@magento give me 2.4-develop instance

[2022-02-23 13:55] viral8421 opened #35132 "New Shipping Address is not saving on customer address book on checkout order"
### Preconditions (*)

1. Magento 2.4.3
2. You must register as a customer and have at least one address saved on the address book.

### Steps to reproduce (*)

1. Login as a customer with at least one saved address.
2. Add a product to cart
3. Go to checkout
4. Click on Add new address while adding address please check **Save in address book** and click on ship here button
5. Select any shipping

[2022-02-23 13:56] viral8421 commented on #35132
@magento give me 2.4-develop instance

[2022-02-23 14:13] viral8421 commented on #35132
@magento give me 2.4-develop instance

[2022-02-23 14:15] knsalim commented on #35132
@magento give me 2.4.3-p1 instance

[2022-02-23 14:22] knsalim commented on #35132
@magento give me 2.4.3 instance

[2022-02-23 14:37] oskar-olaussen opened #35133 "Removing a product from all websites in admin causes an SQLSTATE[42000]: Syntax error or access violation"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Go to product edit page in admin. You must be in scope "All Store views" and the product must not be visible individually
![image](https://user-images.githubusercontent.com/82803128/155339674-21b49a23-7d81-45fe-b43a-e9647cace197.png)

2. Remove all websites under "Product in Websites" and hit save.

### Expected result (*)

1.

[2022-02-23 14:46] engcom-Hotel commented on #35133
@magento give me 2.4-develop instance

[2022-02-23 15:29] glo80326 commented on #33823
@magento give me 2.4-develop instance

[2022-02-23 15:36] the-line commented on #35038
@magento give me 2.4-develop instance

[2022-02-23 15:44] vass30 commented on #34848
Hello @engcom-Alfa
I could not get the result described in the ticket because after manipulations with Base Url  customer remains logged in..

[2022-02-23 15:53] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-23 16:03] nwcasebolt commented on #27224
This is relevant for us as well. In our case, we would like to have the option to choose to display either the variation price(s) as is currently the case, or the actual prices as in this screenshot:

![Screen Shot 2022-02-23 at 9 30 31 AM](https://user-images.githubusercontent.com/55930080/155356901-d1bdbdad-4603-4e95-bf19-6f11f77ed6bf.png)

This can be accomplished very simply as this user descr

[2022-02-23 18:48] pmonosolo commented on #31752
Confirming 2.4.3 affected also. Table not being cleaned up and growing every day by a lot.

[2022-02-24 00:32] pauldonnelly commented on #29777
Thanks @rahulks16 your fix worked for me in 2.4.3-p1.

[2022-02-24 02:30] manhtranisobar commented on #34835
Hi team,

I have reopen this issue because I am getting another issue.
![image](https://user-images.githubusercontent.com/88669934/155445908-8aae2f22-22a2-4b97-92c4-a83db387029e.png)
This issue come from the file vendor/magento/module-website-restriction/view/frontend/layout/restriction_index_stub.xml

Thank to check again!

[2022-02-24 04:16] cpartica commented on #32437
I see.
well we would have to invent a schema for it. Current price schema wasn't meant to support both for Catalog and we had this initiative from product about 3 years ago.
Can you suggest a good schema?
Note:
value_with_tax and value_without_tax would be ok just when you have this setting, but not for the other settings
I wouldn't like to return null either.
You can find me on slack, form a grou

[2022-02-24 04:16] syed-netable commented on #24782
Hi @engcom-Charlie

Same issue here :(

[2022-02-24 04:18] syed-netable commented on #24782
Hi @engcom-Charlie

I am able to reproduce using @ghost steps

[2022-02-24 04:26] cpartica commented on #33629
that is an interesting idea for graphql to inherit frontend - but the code in GraphQL differs a lot from Luma and we won't be able to split the two. Even for frontend API there's a different area, and it's a by product of how area works.
Inheritance would also make it hard to split the two systems and be coupled forever.
Better fill in the gaps for the missing frontend logic in graphql and decoupl

[2022-02-24 06:09] engcom-Hotel commented on #35094
@magento give me 2.4-develop instance

[2022-02-24 06:51] engcom-November commented on #35061
Verified the issue on Magento 2.4-devvelop branch and the issue is reproducible.
On changing crypt key from Admin, new crypt key is getting added every time in app/etc/env.php file.
None of the encrypted config values (in core_config_data DB table) are re-encrypted using new crypt key during crypt key change
![image](https://user-images.githubusercontent.com/60198231/155473020-8b5db268-412b-4b49-b

[2022-02-24 07:06] engcom-Hotel commented on #35067
Dear @nsbhanu,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-24 07:06] #35067 closed, assigned to engcom-Hotel

[2022-02-24 07:07] engcom-Hotel commented on #34746
Dear @mischabraam,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-24 07:07] #34746 closed, assigned to engcom-Echo, engcom-Hotel

[2022-02-24 07:41] oskar-olaussen opened #35135 "Admin user can call arbitrary Module class's constructor via Cart Price Rules"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Create a new Cart Price Rule
![Screenshot from 2022-02-24 09-30-10](https://user-images.githubusercontent.com/82803128/155478528-1e5cc036-0b8b-400c-83e9-293ec9dd31f6.png)

2. Modify value of Conditions option value in browser's inspect. For example:
![Screenshot from 2022-02-24 09-09-23](https://user-images.githubusercontent.c

[2022-02-24 08:14] engcom-November commented on #35132
Hi@ viral8421

Thank you for reporting the issue.

We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:
1:Login as a customer with at least one saved address.
2:Add a product to cart
3:Go to checkout
4:Click on Add new address while adding address please check Save in address book and click on ship here button
5:Select any shipping meth

[2022-02-24 08:21] JeroenVanLeusden commented on #33096
@wahidnory please reopen ticket. Was able to reproduce on 2.4.3 using @paulpartington-cti steps.

[2022-02-24 09:04] winds1983 opened #35136 "Upgrade 2.3.7 to 2.4.3-p1: Unable to apply data patch Magento\PageBuilder\Setup\Patch\Data\UpgradePageBuilderStripStyles for module Magento_PageBuilder"
Unable to apply data patch Magento\PageBuilder\Setup\Patch\Data\UpgradePageBuilderStripStyles for module Magento_PageBuilder. Original exception message: Type Error occurred when creating object: Magento\PageBuilder\Model\Dom\Element, Argument 2 passed to Magento\PageBuilder\Model\Dom\Element::__construct() must be an instance of Gt\Dom\Element, null given, called in vendor/magento/framework/Objec

[2022-02-24 09:30] knsalim commented on #35132
@magento give me 2.4.3-p1 instance

[2022-02-24 09:32] knsalim commented on #35132
@magento give me 2.4-develop instance

[2022-02-24 09:52] tuey30716 commented on #35098
I got same error but mind, if that catalog page have bundle product. the page stop render by that bundle product grid.
![121321](https://user-images.githubusercontent.com/27965693/155500763-4a4a0dd7-a4b6-45f2-9177-fa07ce2b1bef.PNG)

[2022-02-24 10:03] engcom-Delta commented on #35024
Hi @in-session ,
Thank you for logging an issue. We would like to get more details on step# 2 , where to add those lines in specified xml file.
Moreover, Kindly provide clear steps for single store with screenshots, so that we can try to replicate for multiple stores.
Hence added the label 'Needs Update'.

[2022-02-24 10:11] viral8421 commented on #35132
hi @engcom-November,

Yes, I've also tried on the Magento 2.4-develop branch but the issue is not reproducible.

But it seems that it will not work on the Magento2.4.3-p1 Enterprise Edition.

[2022-02-24 10:13] tuna2smc commented on #34945
Yeap but imho i think we should add some notify/notes somewhere for this one to avoid misleading or miss-acknowledges

[2022-02-24 10:16] knsalim commented on #35132
Hi @engcom-November
I have tried the same in magento 2.4.3-p1  enterprise edition I am able to reproduce the issues . I have attached the screen cast for your reference

https://user-images.githubusercontent.com/54523613/155504948-ae5bddb7-2b5a-4097-9ec7-7c2fb6d25c56.mp4

[2022-02-24 11:15] hostep commented on #30282
We've seen a similar problem on one of our shops, where sometimes products are not deleted from the Elasticsearch index after a product import where products get deleted.
We do use https://github.com/Smile-SA/elasticsuite/ on this particular project, so it might also be a bug in that module, but it's hard to say at this moment ...

@sdzhepa or @sidolov or @sivaschenko: is there any news yet around

[2022-02-24 11:17] DipaliMarade opened #35137 "Magento 2.4.1 Unable to to import custom options in different store view."
Hi,

I am trying to import custom options store wise.

Below is the Rest API i am using for english store /us_en/V1/products/SKU.

for spanish store /us_sp/V1/products/SKU.

But whenever i try to add custom option option in one store they are getting updated in all other store.

My Expectation for above issue is - Custom option should get updated store wise.
In the API i am mentioning the store co

[2022-02-24 11:18] mrtuvn commented on #35130
i don't have much information but i think email styles need to rework after fix/patch
Current you have to migrate styles in admin to theme (less/css ) because styles email include admin not able to work after fix/apply patch
Maybe a lot of stores may be affected this.

[2022-02-24 11:21] mrtuvn commented on #35130
SQL command may help you to know how many templates broke. Bracket in css after patch will broke
[code]

[2022-02-24 11:28] Sanjay-100 opened #35138 "why mangeto 2 showing 1.0.0"
### Summary (*) Hi i setup magento local with git clone
` git clone https://github.com/magento/magento2.git
 `

### Examples (*)
i try to check with CLI
`
 php bin/magento --version
Magento CLI 1.0.0+no-version-set
`

 Solution ; don't know

magento admin panel

![image](https://user-images.githubusercontent.com/98302784/155515829-434344be-b240-4b66-8bf4-0d3998fb619e.png)

[2022-02-24 11:30] Sanjay-100 commented on #35138
Summary of the issue : magento version wrong setup with git clone
Information on your environment : LEMP stack
Steps to reproduce :  create new clone ` git clone https://github.com/magento/magento2.git`
Expected and actual results  : magento panel version 2.*.*

[2022-02-24 12:03] thinksys-dev commented on #35130
How we can fix the issue, how the CSS will work on email templates. could you please provide the suggestion/steps or any link to fix this.

[2022-02-24 12:34] engcom-November commented on #35135
Verified the issue on Magento 2.4-develop branch
On modifying option value of Conditions section in browser's inspect of Cart Price Rule, and selecting the same value in UI that has been modified, error is displayed and user is redirected to dashboard page.
![image](https://user-images.githubusercontent.com/60198231/155524657-62229097-7ce1-4992-8f03-863e2ac936ac.png)

![image](https://user-images.

[2022-02-24 13:03] engcom-Hotel commented on #35138
@magento give me 2.4-develop instance

[2022-02-24 13:40] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2022-02-24 14:37] schnere commented on #35115
In my case I have to problem when I create a CMS page with URL key "newsletter". If I change the URL key to newsletter1 it works fine.

[2022-02-24 16:11] kevincarcache-omni commented on #33879
It seems that magento has a cron that runs every day at midnight, which cleans the expired sessions, if you do not have the cron activated and the life time of the sessions is short, this error occurs and it is not possible to access to the administration panel
![image](https://user-images.githubusercontent.com/39271000/155562618-09445486-a3f7-4ec0-b8d2-c347545decff.png)

[2022-02-24 17:53] djview commented on #2916
I thought I'd let people know that I tried a different solution for this problem and it worked really well. I found some code to implement a modal popup box for the error message. You just need to drop a new file

app/design/frontend/YOUR/TEMPLATE/Magento_Payment/templates/transparent/iframe.phtml

into your theme directory structure there. Copy paste the code from the top box at the following lin

[2022-02-24 22:17] hostep commented on #35135
@nathanjosiah, just tagging you in here, sounds security related.

[2022-02-25 01:00] nathanjosiah commented on #35135
@magento export issue to Jira project AC as Bug

[2022-02-25 01:15] nathanjosiah commented on #35135
@hostep I don't see an issue with this. When the rule module loads the post data there is a [check that the requested class implements the ConditionInterface](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Rule/Model/ConditionFactory.php#L52). The error in this report is due to a typo (`Magento\Quote\Model\CoponManagement`  should be `Magento\Quote\Model\CouponManagement`) b

[2022-02-25 01:17] fiko commented on #13952
Hello All,

I tried to fix the issue, so I setIsActive to false once customer placing the order. And in order to handle (in case there is an error while placing order), I set active to true again.

Hope it's for good, I've test it at the same time almost 30 times. and it works well.

[2022-02-25 07:19] engcom-Hotel commented on #35138
Hello @Sanjay-100,

Thanks for posting the issue!

We have checked the issue in the cloud instance and it is not reproducible for us. Please have a look into below screenshot for reference:
![image](https://user-images.githubusercontent.com/51681618/155671892-a3d24282-441b-4754-a14b-67dbd698e271.png)

Please review again and let us know in case we have missed anything.

Thanks

[2022-02-25 07:44] pkocybik commented on #12615
Is there any chance of getting it fixed in the near future?

[2022-02-25 08:19] engcom-Hotel commented on #34971
Dear @attheCube,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-25 08:19] #34971 closed, assigned to engcom-Lima

[2022-02-25 08:20] engcom-Hotel commented on #35062
Dear @Dhaval410,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-25 08:20] #35062 closed, assigned to engcom-Lima

[2022-02-25 08:21] engcom-Hotel commented on #35073
Dear @bylli79,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-25 08:21] #35073 closed, assigned to engcom-Lima

[2022-02-25 09:16] antbates91 commented on #24654
I have also come accross this issue.

I spotted it when the shipping address validation started to fail on the checkout.

This is because the quotes were marked as guest, despite being logged in and a guest can't have an address id belonging to a logged in customer.

[2022-02-25 09:45] engcom-Hotel commented on #34294
@magento give me 2.4-develop instance

[2022-02-25 10:12] ByJacob opened #35140 "Magento2 don't work with redis in cluster mode"
### Preconditions (*)

1. Magento 2.4.3
2. Redis 6 configured in cluster mode (or use AWS ElastiCache in cluster mode with 3 masters)

### Steps to reproduce (*)

1. Run magento
2. Configure redis config and cache (redis is configured in [cluster mode](https://redis.io/topics/cluster-tutorial))

### Expected result (*)

1. All `./bin/magento` comands works correct and return status code `0`
2. Cac

[2022-02-25 10:20] onlinebizsoft commented on #34003
@ihor-sviziev @engcom-Alfa any news? strange behavior of closing issue!

[2022-02-25 10:29] onlinebizsoft commented on #30128
@hostep I'm not very clear about the git flow of Magento product, not sure when this git repository (2.4-develop branch) merged into release,.....if there is any easy way or some points where we can see all issues or pull requests will be included in 2.4.4 release then it would be great.

[2022-02-25 10:33] thinksys-dev commented on #35130
@mrtuvn
Gentle Reminder: Could you please suggest the solution, and also tell will Magento will provide any patch in the future for this to fix and how much should be waited so that CSS can pick from admin templates.

[2022-02-25 10:49] engcom-November commented on #23938
Verified the issue on Magento 2.4-develop branch and Tax is not recalculated for credit-memo:
![image](https://user-images.githubusercontent.com/60198231/155702463-a23cbebd-2007-4648-8967-1656a5ed34f8.png)

[2022-02-25 10:58] engcom-November commented on #35132
Hi @viral8421

We verified the issue on Magento 2.4-develop branch with enterprise edition modules installed but not able to reproduce the issue. Its recommended to verify the issues on Magento 2.4-develop branch as it is having latest code base. We are closing this issue as this is not reproducible on 2.4-develop branch.

Thanks

[2022-02-25 10:58] #35132 closed, assigned to engcom-Delta

[2022-02-25 11:51] engcom-November commented on #35038
Verified the issue on Magento 2.4-develop branch having PHP version 7.4.27 with above image but cannot able to reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/155710575-e64cdcb2-58c0-4dc3-bf65-0321dd3629eb.png)

![image](https://user-images.githubusercontent.com/60198231/155710538-02ea1252-5371-4aca-b8c9-eae9f00355e2.png)

![image](https://user-images.githubusercon

[2022-02-25 12:40] engcom-November commented on #35084
Verified the issue on Magento 2.4-develop branch and GraphQL login as customer token is not working :
![image](https://user-images.githubusercontent.com/60198231/155716702-f42200c2-cc1d-4de6-9ecd-73f11d3c0a41.png)

[2022-02-25 13:08] Quazz opened #35141 "Synonyms don't work correctly when using "Minimum Terms to Match" using Elasticsearch"
### Preconditions (*)

1. Magento 2.4.3
2. Elasticsearch 7

### Steps to reproduce (*)

1. Define synonym group (eg notebook,laptop)
2. Have product with name "New Laptop" and another product with name "New Laptop Notebook"
3. Use Elastichsearch 7 as search engine
4.  Set "Minimum Terms to Match" to a value (eg 2 or 75% or 2<75%)
5. Search in frontend on "notebook" or "laptop"

### Expected result

[2022-02-25 13:36] engcom-Delta commented on #35123
Hi @PierW ,
Thank you for reporting the issue.We have verified the issue on Magento 2.4-develop branch however the issue is reproducible.Hence we are confirming the issue.

**Steps performed:**
1. Install a clean version of Magento version 2.4-develop
2. go to backend
3. Create a Product and insert a description with page builder inside a row and 1 column
4. Save

Actual Result:
Text is not aligne

[2022-02-25 14:08] vandijkstef commented on #34325
Reproduced with Composer 1.10.25 Mage 2.4.3-p1, upon new module install, and fixed by quoted above

[2022-02-25 14:08] paul-uz opened #35143 "Different products randomly drop Catalog Price Rule"
We are experiencing a strange issue in Magento 2.3.7-p2 where different products assigned to a catalog price rule are dropping the discount at random times.

A manual reindex seems to fix it temporarily, which is unusual, as the cron is running every minute.

I'm not seeing any obvious errors in the logs either.

The affected products are not appearing in the `catalogrule_product` table, but are i

[2022-02-25 14:50] PiroozMB commented on #4112
@Olga Moyseyenko @veloraven
You are very funny just going around and closing the issues remaining them with no solution :-)
I don't know how you got hired there lol. Is there nothing better to do for you there ?
When people say the issue is not solved ,they really mean it. So don't close the issues like this. Just help to solve them.

[2022-02-25 15:35] manavluhar commented on #26789
I am able to reproduce the issue @engcom-Hotel
@magento I am working on this

[2022-02-25 16:08] tcmax76 commented on #32943
We are also having this same issue on our sites.

[2022-02-25 17:15] oskarolaussen commented on #35135
Thanks for the response! Not currently on my work computer but I'm fairly certain that by following the steps I provided the error logged was about the method setId not existing in the class provided, implying that the class was instantiated and then the method was called on it. The code uses the object manager directly so are you sure the flow goes through the factory referenced?

[2022-02-25 18:56] chapagain opened #35145 "Indefinite Spinner on New Media Gallery Opened in CMS Page/Block & Catalog Edit Page"
We see an indefinite spinner in the **New Media Gallery** window when opened in the Page Builder of CMS Block, CMS Page, and Product Description edit page.

This is blocking adding images to CMS Block or Page.

The Media Gallery page works fine when opened directly from `Magento admin > CONTENT > Media > Media Gallery`.

### Preconditions

1. Magento version 2.4.3-p1
2. [New Media Gallery](https:/

[2022-02-25 18:58] chapagain commented on #35145
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-02-25 19:26] chapagain commented on #35145
Hi @magento, This issue happens only in production mode. Can you please provide me 2.4-production instance?

[2022-02-25 19:48] hostep commented on #30128
@onlinebizsoft: most details can be found in the [release notes](https://devdocs-beta.magento.com/guides/v2.4/release-notes/open-source-2-4-4.html) (there is a chance these aren't finalised yet, because it's on the "beta" devdocs environment). At the bottom of the release notes, there is a big amount of links to github issues and pull requests.

Hope this helps a bit 🙂

[2022-02-25 19:48] chapagain commented on #35145
@magento give me 2.4-production instance ee edition - upcoming 2.4.x release

[2022-02-25 19:49] chapagain commented on #35145
https://github.com/magento give me 2.4-production instance - upcoming 2.4.x release

[2022-02-25 19:50] chapagain commented on #35145
@magento give me 2.4-production instance ee edition - upcoming 2.4.x release

[2022-02-25 19:50] chapagain commented on #35145
@magento give me 2.4-production instance - upcoming 2.4.x release

[2022-02-26 00:07] nicolasddev opened #35146 "Inaccurate Shipping Cost for Multiple Packages"
### Preconditions (*)

Magento v2.3 & 2.4

### Steps to reproduce (*)

1. Configure any shipping method with a max_package_weight value.
2. Add multiple products to the shopping cart, making sure that multiple boxes are required based on the shipping method's maximum package weight.
3. Trigger the \Magento\Quote\Model\Quote\Address\RateCollectorInterface::collectRates() method either by requesting

[2022-02-26 05:20] engcom-Hotel commented on #26789
Hello @manavluhar,

We are reopening this issue for further analysis.

Thanks

[2022-02-27 16:58] magenx commented on #35140
this page explain everything

https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Replication.Redis-RedisCluster.html

https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/GettingStarted.ConnectToCacheNode.html

[2022-02-27 23:44] baseplayer commented on #34216
Hi,

I use 2.3.7-p2 and the same problem is there?

I am realy sorry too say but Magento 2 has so many bugs, i use magento for 11 years
but since magento 2 i find bugs over and over again. in frontpage(customer account) and backend.

Every time i ask my dev to fix it cost me more than 1000,- euro and this is the truth?
How can this be?

What is strange that the problems sometimes where solved year

[2022-02-27 23:46] baseplayer commented on #34216
It seems like old files with old bugs are used for new patches>?

[2022-02-28 05:11] akangithub commented on #35071
No try and catch block in ServiceInputProcessor at ($object->{$setterName}($setterValue);) is causing to throw error having the framework data. Can you check with some other null input values?

[2022-02-28 06:38] engcom-Hotel commented on #35088
Dear @Rakhi161,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-28 06:38] #35088 closed, assigned to engcom-Hotel, Rakhi161

[2022-02-28 06:39] engcom-Hotel commented on #35081
Dear @InfoAmbient,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-28 06:39] #35081 closed, assigned to engcom-Hotel

[2022-02-28 06:40] engcom-Hotel commented on #35079
Dear @williambize,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-28 06:40] #35079 closed, assigned to engcom-Hotel

[2022-02-28 06:41] engcom-Hotel commented on #35063
Dear @joeridewit1,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-28 06:41] #35063 closed, assigned to engcom-Hotel

[2022-02-28 06:42] engcom-Hotel commented on #25182
Dear @WalterSmulders @thomas-harding @nuzil,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-28 06:42] #25182 closed, assigned to engcom-Hotel

[2022-02-28 07:11] FrankRATB opened #35147 "Google console returning Sitemap unreadable"
### Preconditions (*)

1.Magento 2.4.0
2.

### Steps to reproduce (*)

1. I generated the XML sitemap via magento>marketing>sitemap - screen shot attached
![Sitemap_error_280222_2](https://user-images.githubusercontent.com/100557130/155939615-0f5e05e5-0e0f-40ef-bd73-49aae99e3a84.png)

2. However Google console reports this as unreadable as the sitemap is an HTML - screen shot attached
![Sitemap_er

[2022-02-28 08:03] JoostWan commented on #32948
@ihor-sviziev Thanks. It's working

[2022-02-28 08:23] engcom-November commented on #35137
Hi @DipaliMarade Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
**Able to update custom options only in specific store view.** Below steps are performed to update custom options only in specific store view:

1. Admin - Stores - Configuration - Catalog - Set Price scope to "Website" - Save Config
2. Re-index and c

[2022-02-28 09:36] Sanjay-100 commented on #35138
@engcom-Hotel    thanks for conformation  but why show me the wrong i am not sure

i create project with Git Repo clone
`
git clone https://github.com/magento/magento2.git
`
Examples (*)
i try to check with CLI
`
php bin/magento --version Magento CLI 1.0.0+no-version-set
`

[2022-02-28 09:40] OPielech opened #35149 "Overriding exception message"
Case, that wasted my all day for debugging.
In our project we do massive products import via rabbitmq and for optimization we splitted this process for two queues. Sometimes this couses deadlocks on database, which we catch and then resend this message to the queue. This time we got error log 'The linked products data is invalid. Verify the data and try again.' and we thought, that this is somethi

[2022-02-28 10:25] engcom-November commented on #35143
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
**Steps performed:**
Admin - System - Index Management - Indexers are set to "Update By Schedule"
Stores - Attributes - Product - Search for SKU - Storefront Properties - Use for Promo Rule Conditions - Set to Yes and Save
re-index and clear cache
Marketing - Catalog Price Rule - Create New Rule
Edit the rule

[2022-02-28 10:31] engcom-November commented on #34976
Hi @MelissaVE ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-02-28 10:31] #34976 closed, assigned to engcom-November

[2022-02-28 10:33] paul-uz commented on #35143
@engcom-November unfortunately, this is on 2.3.x and we are not in a position to move to 2.4

[2022-02-28 10:45] DipaliMarade commented on #35137
Hi

I think this is only to add custom options.

But my issue is i am not able to add custom options under specific product store wise.
Consider product 10020 if i try to add custom options "Unit" under this product for spanish store they are also getting updated in all other stores.
API i am using is /us_sp/V1/products/SKU.

Request JSON

{

"product": {

"sku": "10020",
"name": "Maddox Breeze Cl

[2022-02-28 10:46] kerlama commented on #35130
Hi,
I can confirm the issue too.

[2022-02-28 10:57] engcom-Delta commented on #35149
Hi @OPielech ,
Thank you for raising an issue . Kindly provide the steps to reproduce the issue ,actual results, expected results and screenshots if required. Hence added 'Needs update' label.

[2022-02-28 11:04] engcom-November commented on #35147
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/155972391-ff67d645-7b41-422a-b4b6-39aba78ba241.png)
@FrankRATB kindly verify the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-02-28 11:10] ezerway commented on #9988
The issue still happen in v2.4.1 with elasticsearch please re-open again. :((

[2022-02-28 11:11] m2-assistant[bot] opened #35150 "[Issue] Add .htpasswd to banned locations in nginx config"
This issue is automatically created based on existing pull request: magento/magento2#34388: Add .htpasswd to banned locations in nginx config

---------
### Description (*)
The nginx config file contains a section that catches and blocks requests that dont match the other blocks. If the .htaccess is blocked, it just seems logical to exclude the .htpasswd too because of sensitive data.

Sometimes n

[2022-02-28 11:44] ihor-sviziev commented on #32948
Hi @JoostWan,
Thank you for confirming! I'm closing this issue now.

[2022-02-28 11:44] #32948 closed, assigned to nobody

[2022-02-28 11:46] engcom-Alfa commented on #35128
Since this Github Issue is duplicate of [#35108](https://github.com/magento/magento2/issues/35108), closing this ticket. For any future reference please follow-up [THIS GITHUB ISSUE](https://github.com/magento/magento2/issues/35108) only.
Thanks

[2022-02-28 11:46] #35128 closed, assigned to dudzio12

[2022-02-28 12:51] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2022-02-28 12:54] OPielech commented on #35149
@engcom-Delta
It is impossible to provide reproduction steps, because in our case it takes place randomly while massive messages consuming by rabbitmq on more than one queues at the same time.
I can show You example log from Kibana. Normally when deadlock occures we get log:
`{
  "message": "Import product error",
  "context": {
    "sku": "38802",
    "message": "Database deadlock found when tryi

[2022-02-28 13:28] engcom-Delta commented on #35141
Hi @Quazz,
We tried to reproduce the issue but it is not reproducible on Magento 2.4 Develop branch with latest code.
Followed below steps:
1. Define synonym group (eg notebook,laptop)
<img width="1440" alt="Screenshot 2022-02-28 at 6 21 01 PM" src="https://user-images.githubusercontent.com/51681379/155988477-22a88b12-ce27-4c26-88f6-9e8c4e5f8d6d.png">

2. Have product with name "New Laptop" and an

[2022-02-28 14:01] engcom-Delta commented on #35145
Hi @Mukesh Chapagain,
Thank you for reporting the issue. We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:
1. Login to Magento admin
2. Go to CONTENT > Elements > Pages OR CONTENT > Elements > Blocks
3. Click on "Add Page" or "Add Block"
4. Click on the Page Builder section.
5. Drag the HTML Code attribute to Page Builder
6. Click on

[2022-02-28 14:26] #33823 closed, assigned to nobody

[2022-02-28 17:24] lbajsarowicz commented on #13225
`2.4.3`, 2022 issue is still there.

[2022-03-01 03:34] cpartica commented on #34783
@oneserv-heuser - can we just leave "new_to_date" without new_from_data?
why do you need the From? do you have such frontend needs to specify a date range?

[2022-03-01 03:41] cpartica commented on #34783
more like missed requirements actually - we should of not deprecated those

[2022-03-01 04:05] #28860 closed, assigned to nobody

[2022-03-01 04:17] haiacom commented on #29197
an other reason that cause the issue here is that there is no inode left for the current disk, you can just check by running this command "df -hi"

[2022-03-01 04:20] cpartica commented on #29910
closing this because we fixed this in another way - we encode customer segment into the cache key then we hash everything with store and currency - so customer segment won't be public knowledge

[2022-03-01 04:20] #29910 closed, assigned to nobody

[2022-03-01 04:30] cpartica commented on #32590
re-opening this as it's important to fix even if stalled issue

[2022-03-01 04:56] cpartica commented on #29057
but it should

[2022-03-01 04:59] cpartica commented on #29057
similar issue https://github.com/magento/magento2/issues/33848

[2022-03-01 05:27] engcom-November commented on #35094
Hi @Malan

We tried to reproduce the issue again on Magento 2.4-develop branch but the issue is not reproducible.

**Steps performed:**
1: Install a clean version of Magento version 2.4-develop
2: Go to configuration -> sales -> shipping methods -> flatrate -> set price = 5 and in Free shipping set minimum order amount=35
3: Choose products so total > 35
4: Create order in backend as shown in scre

[2022-03-01 06:03] engcom-November commented on #34982
Hi @engcom-Alfa / @engcom-Charlie ,

This issue is not reproducible on Magento 2.4-develop branch without PR changes. Can you please check the issue with PR changes https://github.com/magento/magento2/pull/34911 and provide your inputs on [this](https://github.com/magento/magento2/issues/34982#issuecomment-1016438905)
Thank you.

[2022-03-01 06:08] DipaliMarade opened #35151 "Import image public URL"
Hi,

I am getting public URL from client's system. what i want to do is I want to add image URL on magento product through Rest API.
But on the standard Product API section i did not get any way to add public URL.
Is there any way to do so. I think only way i found is to add Base64.
Let me know if it is possible to add public URL?

[2022-03-01 07:04] sagarppanchal opened #35152 "Applied Coupon Message missing"
In the Core Magento 2.4.3-p1 cart page, when we apply coupon there is no any message is appearing, its simply applies coupon if its correct and refreshing the page.

### Preconditions (*)

1. Magento 2.4.3-p1
2. Tested with sampledata and its coupon : H20

### Steps to reproduce (*)

1. Add Product to cart ex. SKU : 24-UG06
2. Proceed to Cart Page
3. Apply coupon ex. H20

### Expected result (*)

[2022-03-01 07:18] engcom-Hotel commented on #35138
Hello @Sanjay-100,

You need to run the below command to check the Magento version:

`php bin/magento --version`

It will output something like the below:
<img width="613" alt="image" src="https://user-images.githubusercontent.com/51681618/156122778-054fcd51-89e1-46a6-9adb-b461637b954a.png">

Thanks

[2022-03-01 07:43] engcom-November commented on #35152
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Coupon applied successfully and message is displayed as expected in Shopping Cart page - No issue
![image](https://user-images.githubusercontent.com/60198231/156126053-1896f394-e79f-4f97-8fdd-f81f53fc5ded.png)
@sagarppanchal kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if an

[2022-03-01 07:46] PascalBrouwers commented on #31558
Issue still exists in 2.4.3. The patch in https://github.com/magento/magento2/pull/30928 does not fix it as this PR is already in 2.4.3.

[2022-03-01 07:49] PascalBrouwers commented on #30685
Have the same issue with 2.4.3-p1 with includes the PR. Nothing is fixed.

[2022-03-01 07:55] engcom-November commented on #35023
Hi MihaiComan90,

Thank you for reporting the issue,We are unable to  reproduce the issue on Magento 2.4 develop branch.

Steps Followed:

1.installed a standalone version of 2.4.3-p1
2.Installed the magento/extension-b2b via composer
3.Done with set:up / static-content / cache:clean
4.Login to admin panel
5.Accessed the sales order admin page
6.noticed the header of the grid with filters
Expected

[2022-03-01 09:04] engcom-November commented on #35143
Hi @paul-uz ,
Its recommended to verify issues on Magento 2.4-develop branch only as it is the upcoming 2.4.x release. Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible. You can get the cloud 2.4-develop instance by commenting on this issue with "@magento give me 2.4-develop instance"

Thank you.

[2022-03-01 09:08] paul-uz commented on #35143
I appreciate what you are syaing @engcom-November but I doubt I would be able to replicate it on 2.4, especially as we do have additional 3rd party plugins installed etc.

I ended up backing up and deleting some old temp table that were floating about, and ran `bin/magento index:reset` and after a re-index, it seems to have resolved the issue.

[2022-03-01 09:08] #35143 closed, assigned to engcom-November

[2022-03-01 09:21] alexmtch commented on #32341
Hello @engcom-Lima Make sure you goes trough this condition with you test case.
`if (file_exists($configCacheFile) && is_readable($configCacheFile))`

I've reproduced in local with this case.

[2022-03-01 09:58] engcom-Delta commented on #34889
Hi @uandiweb ,
Thank you for prompt reply. We tried to reproduce it on Magento 2.4 Develop with latest branch , Issue is reproducible.

Steps followed:
**Pre-Condition:**
1. Inventory module should have been installed successfully.
2. Store--> Sources--> create new source
<img width="1440" alt="Screenshot 2022-03-01 at 2 55 35 PM" src="https://user-images.githubusercontent.com/51681379/156145697-5

[2022-03-01 10:07] engcom-Delta commented on #35098
@magento2.4 instance

[2022-03-01 10:18] MihaiComan90 commented on #35023
Hello @engcom-November,

Have you deployed a comm version of magento or enterprise? Thanks

[2022-03-01 10:48] engcom-November commented on #35137
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible:
Sent PUT request to /rest/[store-code]/V1/products/[sku] using below sample payload - Updated Price for Customizable options for only one store view - Issue: Price got updated for all stores
`
{

"product": {

"sku": "dwwdwdwd",
"name": "dwwdwdwd",
"attribute_set_id": 4,
"price": 32,
"extension_attributes": {
"st

[2022-03-01 11:07] engcom-November commented on #35071
Verified the issue again on Magento 2.4-develop branch with below sample payload and the issue is reproducible:
Sent PUT request to /rest//V1/products/null  by passing null in url and also in body (name and price) and response 200 status code - Issue: No validation error
Expected result: Error should be thrown
![image](https://user-images.githubusercontent.com/60198231/156158032-95d7a5de-ef76-44a2

[2022-03-01 12:02] convenient commented on #23661
I believe this is the commit here that fixes this https://github.com/magento/magento2/commit/14558892cc0aa06629e0e7b0a78276587fcc6d6d

[2022-03-01 12:09] engcom-Hotel commented on #35071
Hello @engcom-November,

As per the discussion in triage call, please check this issue again.

Thanks

[2022-03-01 12:24] engcom-Hotel commented on #34889
Hi @engcom-Delta,

As per the triage meeting, we need to recheck this issue.

Thanks

[2022-03-01 13:49] engcom-Delta commented on #35070
Hi @jeremycharron ,
Thank your for reporting an issue . Kindly elaborate more on step#5 .How can we test it please?
Added the label 'Needs update'.

[2022-03-01 14:02] jeremycharron commented on #35070
Hi @engcom-Delta ,

If step 1 to 4 are done, you should have a new row in the `cms_page` table for your created page.
![image](https://user-images.githubusercontent.com/25036022/156182532-e7840dca-dcdc-43d0-93e6-928dfc4e9886.png)

You need to edit the value in the `content` cell.
Let's say the content looks like this :
`<div data-content-type="block" data-appearance="default" data-element="main">{

[2022-03-01 16:30] engcom-Hotel commented on #35151
Hello @DipaliMarade,

Currently, we have only API which requires Base 64 encoded value for product image uploading. Please go through with the below link for documentation:

https://magento.redoc.ly/2.4.3-admin/tag/productsskumedia#operation/catalogProductAttributeMediaGalleryManagementV1CreatePost

Thanks

[2022-03-01 16:52] #32590 closed, assigned to engcom-Hotel

[2022-03-01 16:53] cpartica commented on #32590
this was fixed in 2.4.4 and closing it again

[2022-03-01 19:06] pmonosolo opened #35153 "Noticed exception 'Magento\Framework\Exception\SessionException' with message 'The "http_user_agent" session value is invalid. Verify and try again.'"
### Preconditions (*)

Hello,

I have installed New Relic on a production website and noticed there is an error popping in the logs showing up.

The error happens when users visit with specific User Agent - IPhone users from Instagram.

I assume the users are some kind of bots or the issue is caused by the internal Instagram browser that does not create a proper session.

1. Magento 2.4.3 CE
2. Us

[2022-03-01 19:39] maconeto opened #35154 "magento 2.4.3-p1 - catalog price rule and product custom option price bug when convert currency"
### Preconditions (*)
1. Magento version 2.4.3-p1
1. PHP 7.4

### Steps to reproduce (*)

1. Setup fresh Magento website with 1 website, 1 store and 2 store views. Base currency EUR, first store view has display currency = EUR,  second store view has display currency = NOK.   Setup currency rate 1 EUR = 10 NOK
1. Create simple product with price = 100 EUR, add custom option of type checkbox for th

[2022-03-01 20:40] pmonosolo commented on #35153
@magento give me 2.4-develop instance

[2022-03-01 20:51] pmonosolo commented on #35153
https://github.com/magento give me 2.4.3-develop instance

[2022-03-01 20:51] pmonosolo commented on #35153
@magento give me 2.4.3-develop instance

[2022-03-01 21:00] leonhelmus commented on #34937
We also have a fix when doing this with the api will share it tomorrow

[2022-03-01 21:01] pmonosolo commented on #35153
Hmmm, looks like its erroring out on 2.4-develop instance(when going to /admin url it redirects to homepage),

I don't know how to turn on error reporting on the instance, can somebody point me to the docs?

[2022-03-01 21:18] pmonosolo commented on #35153
I think its happening when the User Agent is changing on the URL:

![image](https://user-images.githubusercontent.com/66754347/156250240-50e0d204-938a-4050-b971-adf9361fd178.png)

![image](https://user-images.githubusercontent.com/66754347/156250348-74d5d27e-8e09-4fca-9901-8b96a4afb90b.png)

Then it goes to the home page:

![image](https://user-images.githubusercontent.com/66754347/156250392-24006

[2022-03-01 21:36] chardwick99 commented on #35115
@engcom-Hotel, I am having the issue with a CMS **Page**, with _any duplicate URL for two different store's CMS Pages_. This should not happen.

**Preconditions (*)**
2.3.7p-2, MultiStore enabled

**Steps to reproduce (*)**
Go to Content > Pages
Create two CMS page with different store views, and identical URL identifiers (e.g. "home")
Press Save

**Expected result (*)**
The CMS page is saved with

[2022-03-02 01:49] VivekShingala commented on #33697
Yeah, waiting on this since long.

[2022-03-02 06:21] benjaminv commented on #10821
but the default `.:/opt/plesk/php/7.4/share/pear` should include both, `.` for Magento 2 and `/opt/plesk/php/7.4/share/pear` for others systems.
Does `. : /opt/plesk/php/7.4/share/pear` make sense at all? I added space in the between it works now, no idea why.

[2022-03-02 06:32] engcom-Hotel commented on #35107
Dear @ageffray,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-02 06:32] #35107 closed, assigned to engcom-Hotel

[2022-03-02 07:45] f3abdurraoof commented on #29517
Hi @mrtuvn did you get the solution ?
We are getting similar issue, while uploading png images for the blog post, image not showing on front end. Things works fine when uploading jpg images.

[2022-03-02 09:08] davidandersson1 commented on #18006
Hello,

We are using magento open source 2.4.3-p1 and faced same issue on admin reorder time, means existing order contains configurable product and after press on reorder button on admin area we faced below error

"Product "{sku}" not found. This product is no longer available."

Please let me know if Is there any solution for this issue!

Thanks,
David Andersson

[2022-03-02 09:57] engcom-November commented on #35023
Hi MihaiComan90,

Thank you for  reverting back.We tried to reproduce the issue with magento 2.4.3-P1 enterprise edition with B2B.
Thank you.

[2022-03-02 10:01] engcom-November commented on #35152
Verified the issue again on Magento 2.4-develop branch with sample data and coupon H20 but the issue is still not reproducible on Ubuntu 20.04.3 LTS - 64bit and Chrome browser
![image](https://user-images.githubusercontent.com/60198231/156339227-1203876f-342f-41d6-a743-d1c4626415eb.png)
@sagarppanchal kindly recheck the issue on Magento 2.4-develop branch as it is having latest code base and upcom

[2022-03-02 10:10] engcom-Hotel commented on #34627
Hello @tommi-martin @braders,

Have you tried to reproduce the issue in Magento 2.4-develop branch? It seems that the is already fixed in this branch.

Thanks

[2022-03-02 10:11] MihaiComan90 commented on #35023
Hello @engcom-November,

I totally forgot to specify, the issue lies with community edition not enterprise with the b2b extension. I know it is a little bit weird and shouldn't be used that way, but that's how you can reproduce it.

Cheerd

[2022-03-02 10:34] eerohakio commented on #29817
As @juharintanen mentioned this is valid. Tested also in Magento 2.4.3-p1. With the fix mentioned got the thing working.

[2022-03-02 10:41] Flipmediaco commented on #10821
Either the "space" breaks the open_basedir configuration or everything after the "space" is ignored and thus your include path is "." - allow includes from current working directory... I suppose it remains to be seen if the "other systems" that require the "pear" part of the open_basedir configuration continues to work.

The main issue is that your include_path configuration will likely have a val

[2022-03-02 10:43] patelnimesh1988 commented on #29506
Please check this:
https://magento.stackexchange.com/questions/127471/discount-tax-compensation-amount-attribute-in-sales-order-item-magento-2

[2022-03-02 10:44] patelnimesh1988 commented on #21456
Please check this:
https://magento.stackexchange.com/questions/127471/discount-tax-compensation-amount-attribute-in-sales-order-item-magento-2

[2022-03-02 10:46] Sanjay-100 commented on #35138
@engcom-Hotel

`php bin/magento --version
Magento CLI 1.0.0+no-version-set

`

[2022-03-02 10:57] chris-pook commented on #3707
Pretty sure this is still an issue. Those same steps from @forgeonline still result in the same error in Magento 2.3

[2022-03-02 12:14] sagarppanchal commented on #35152
@engcom-November Thanks for the confirmation, on the instance its working fine for me as well.

[2022-03-02 12:14] #35152 closed, assigned to engcom-November

[2022-03-02 12:35] engcom-November commented on #34959
Hi @anderspirlo ,
Verified the issue again on Magento 2.4-develop branch with tax configuration as per [comment](https://github.com/magento/magento2/issues/34959#issuecomment-1043034536). Please find the findings/observations below:

Product Price: $50
Tax: 10%
Since display settings set to including tax. displayed as $55
Since Apply Discount set to Excluding tax: 50 - (10% of 50) = 50 - 5 = 45
Si

[2022-03-02 13:09] MeCapron commented on #29288
Hello,

I reopen this issue as I bump into this earlier.

To add a bit explanations just look at :

[code]

in `magento/framework/Api/ExtensibleDataObjectConverter.php`

Having the same attribute name as customer one in your extension attribute will result in your extension attribute overriding customer one.

Example :

[code]

Will give the customer with the wrong ID, 187 in this case.

I think t

[2022-03-02 13:15] engcom-November commented on #34863
Verified the issue again on Magento 2.4-develop vanilla instance from bot but cannot able to reproduce the issue:
Instance URL: https://1c9dcf6e7e90deed522db184295c2434.instances.magento-community.engineering/
Stores - Settings - Configuration - General - Web - Scope: Default Config
![image](https://user-images.githubusercontent.com/60198231/156368256-0ba370cb-a35e-4501-9b52-ec615f97a6a7.png)

Sto

[2022-03-02 13:58] engcom-Hotel commented on #33763
Dear @webtekindo,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-02 13:58] #33763 closed, assigned to engcom-Hotel

[2022-03-02 14:01] engcom-Hotel commented on #35110
Dear @DomPixie,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-02 14:01] #35110 closed, assigned to engcom-Lima

[2022-03-02 14:04] engcom-Hotel commented on #35138
Hello @Sanjay-100,

Can you please try again by setting up fresh Magento in your system?

Thanks

[2022-03-02 16:10] jlenzstaysafe commented on #25636
Config products continue to be unacceptably slow.  On a category with 40 config products, load times are astronomically high.  Even on Magento 2.4.3 EE.

[2022-03-02 16:22] Melnychuk-Alexandr commented on #28476
@magento I am working on this

[2022-03-02 18:53] Ocramius commented on #34562
There are only `dev-latest` and `dev-master` of `roave/security-advisories`: they point to the same ref, and, by design, they include `tinymce/tinymce` as exclusions.

The only workaround here is to say that the package replaces `"tinymce/tinymce": "x.y.z"`, where `x.y.z` is a version not affected by security issues (needs upgrading of tinymce too)

[2022-03-02 21:34] ericerway commented on #30835
give me 2.4.3 instance with edition ee

[2022-03-02 21:35] ericerway commented on #30835
@magento give me 2.4.3 instance with edition ee

[2022-03-03 05:47] engcom-Hotel commented on #35114
Dear @aarontalcott,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-03 05:47] #35114 closed, assigned to engcom-Hotel

[2022-03-03 05:53] engcom-Delta commented on #24654
Hi @thompalstra ,

Thank you for reporting the issue.but we need little bit of clarification about the steps you provided to reproduce.
Step#5 says "Fill in the password and password repeat inputs".
![Screenshot from 2022-03-02 17-23-20](https://user-images.githubusercontent.com/51681379/156504723-084c2565-2a5e-4778-bfad-c0063c267fc0.png)

As per above screenshot we could not find out field for pa

[2022-03-03 06:48] engcom-Delta commented on #35141
@magento give me 2.4-develop instance

[2022-03-03 06:48] engcom-Delta commented on #35098
@magento give me 2.4-develop instance

[2022-03-03 08:30] amenk opened #35158 "Problem with Phone Number required in different stores"
Follow up of #10978

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help du

[2022-03-03 08:30] amenk commented on #35158
@magento give me 2.4-develop instance with extensions magefan/module-cli

[2022-03-03 08:41] thinksys-dev commented on #31923
Hi Team,

Do you have any fix or patch for this, please let us know about this. Thanks

[2022-03-03 08:47] amenk commented on #35158
https://github.com/magento give me 2.4-develop with extensions magefan/module-cli instance

[2022-03-03 08:49] amenk commented on #35158
@magento give me 2.4-develop with extensions magefan/module-cli instance

[2022-03-03 08:58] engcom-Delta commented on #34975
Hi @stevekem ,
Thank you for reporting the issue,We are unable to  reproduce the issue on Magento 2.4 develop branch.Please review provided steps.
Steps Followed:

1.Login to admin Panel
2.Go to Stores-->Configuration-->Security-->Google Recaptcha Admin Panel-->reCAPTCHA v2("I am not a robot)
3.Added Google API Website Key and Google API Secret Key to reCAPTCHA v2("I am not a robot)
4.Enabled for

[2022-03-03 09:18] engcom-Delta commented on #34324
Hi @Green2Matter,
Thank you for reporting the issue, We are unable to  reproduce the issue on Magento 2.4 develop branch.

Steps Followed:
1.Installed Magento  2.4.3-p1.
2.After Enabling 2FA with "sudo php bin/magento module:enable Magento_TwoFactorAuth" not able to login to admin panel.hence forth we are not able to configure 2FA through Stores-->Configuration-->Security
3.Followed below steps to

[2022-03-03 09:27] engcom-Delta commented on #10674
Hi @hostep ,
The issue is reproducible with the given steps on Magento 2.4 Develop. Hence Marking the issue 'Issue Confirmed'.

Steps followed:
1. Install Magento 2.2.0-rc22 or 2.2.7 or 2.3.0 or 2.4.3 or 2.4-develop using composer
2. Add 2 language packs using composer: composer require honl/magento2-nl-nl imaginaerum/magento2-language-fr-fr
3. Run bin/magento setup:upgrade
4. Create 2 different s

[2022-03-03 09:30] hostep commented on #10674
Thanks, it's great to see that the majority of time spend on this issue in the last 5 years, was trying to reproduce it instead of trying to fix it.

[2022-03-03 10:07] engcom-Delta commented on #35070
Hi @jeremycharron ,
Thank you for your quick reply. We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

Steps performed:
1. Create a CMS Block with any content
![35070](https://user-images.githubusercontent.com/51681379/156542466-f29b9d4f-f93f-4cfb-b023-a38ff8068bf0.png)

2. Create a CMS Page and add previously created CMS Block in the page.
![35070 TW

[2022-03-03 10:16] amenk commented on #35158
@engcom-Delta Yes, that is my plan, but I did not succeed in spinning up a test instance with CLI access which I need for the repro. Do you have an idea about this?

[2022-03-03 10:39] Manjula-kalyan opened #35159 "magento2 customer admin grid not loaded properly in Magento2.4.3p1"
### Preconditions (*)

1.Magento2.4.3p1

### Steps to reproduce (*)

1.All the customers are not listed in customer grid. It's shows only one customer
2.error in console-Uncaught TypeError: Unable to process binding "text: function(){return $col.getLabel($row()) }"
Message: Cannot read properties of undefined (reading 'isValid')

### Expected result (*)

1. [Screenshots, logs or description]
2.

#

[2022-03-03 11:04] engcom-November commented on #35159
Hi @Manjula-kalyan ,
Thank you for reporting and collaboration. However provided steps are not enough for us to reproduce the issue. Kindly recheck the issue on Magento 2.4-develop branch as it is the upcoming 2.4.x release and elaborate steps to reproduce / missing configuration details if you are still facing the issue.
Thank you.

[2022-03-03 11:10] zepgram opened #35160 "2.4.3-p1 - Magento\Customer\Model\Address\AbstractAddress::_implodeArrayValues($value)"
### Preconditions (*)

1. Magento 2.4.3-p1
2. PHP 7.4

### Steps to reproduce (*)

1. To reproduce, simply try to set an address through graphql with a non scalar attribute (null) for second street.<br>
![image](https://user-images.githubusercontent.com/16258478/156549296-296ff652-3e0f-4559-b6f6-b06b40b938cf.png)
[code]

### Expected result (*)

1. While analysing this issue, I found out that `mag

[2022-03-03 11:24] engcom-Hotel commented on #34126
Hello @mrtuvn,

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible. We have followed the below steps to reproduce:

Steps:
1. Create a theme in the Master branch and check the `theme` table for its entry. Please have a look at the below screenshot:
![with_master_theme_1](https://user-images.githubusercontent.com/51681618/156555099-b2b3a561

[2022-03-03 11:28] engcom-Alfa commented on #34982
Hi @aapokiiso
Thanks for your reply and apologies for late response from our end!
We looked into the PR code changes, and could not identify the proper use case of code updates.
Can you please elaborate us if you can analyse any use case, that will help in improving the Magento system?
Please provide us the detailed steps to execute the scenario; and what is the current feature and how the feature

[2022-03-03 11:35] balabany commented on #8276
I am using the latest Magento 2 and having the same issue. Anyone knows how to fix? When I am in a cart page and clicking to Proceed to Checkout button, it gives me the following error.

1 exception(s):
Exception #0 (Magento\Framework\Stdlib\Cookie\CookieSizeLimitReachedException): Unable to send the cookie. Size of 'mage-messages' is 23854 bytes.

Exception #0 (Magento\Framework\Stdlib\Cookie\Coo

[2022-03-03 12:51] ihor-sviziev commented on #34324
Hey @engcom-Delta,
Have you read the title, description and comments? People are complaining about missing the "TRUST THIS DEVICE" checkbox, not the error message on the screenshot.

PS: from your screenshot, it feels like the feature is broken on the 2.4 develop branch. It shouldn't have any errors.

[2022-03-03 12:55] jeremycharron commented on #35070
Hello @engcom-Delta

I was not specific enough : **You need to use the Pagebuilder Block Content component.**

The legacy Static Block Widget doesn't have a preview, this one is working fine.

I will update the steps to reproduce.
Thanks!

![cms-block](https://user-images.githubusercontent.com/25036022/156568635-72b1c917-4539-4a94-8118-56b30336439c.png)

After changing to block identifier :
![afte

[2022-03-03 13:00] engcom-November commented on #35160
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
![image](https://user-images.githubusercontent.com/60198231/156569002-85925224-6b6f-4e62-bc26-45ab7d560404.png)

[2022-03-03 13:50] MatthijsvanNoort commented on #35130
Confirming this issue. Brackets {} in CSS missing

[2022-03-03 14:27] nathanjosiah commented on #34324
Im not sure what @engcom-Delta is looking at but the security team (my team) is aware of what this is about. We just got some clarification from the compliance teams about what we are even allowed to pursue with this request. I don't have any updates to share but we will be discussing this item soon.

[2022-03-03 14:39] Green2Matter commented on #34324
@ihor-sviziev @engcom-Delta
Yes, the issue is about missing "Trust this device" checkbox.
In regard to "Invalid security or Form key, Please refresh the page", solution will be provided in the next release: https://github.com/magento/magento2/issues/33749#issuecomment-908145941

@nathanjosiah please keep us updated 😁

[2022-03-03 14:40] engcom-Delta commented on #35141
@magento give me 2.4-develop instance

[2022-03-03 15:21] hostep commented on #35130
@nathanjosiah: just wanting to confirm if you guys are aware of this issue? It was posted in the security Slack channel a week or 2 ago, but I didn't saw a confirmation from you guys so we aren't sure if you are aware of this problem and if work on it has started to fix it or not?

There is some little info about here:
- https://gist.github.com/wigman/171f9314d692d23330591d20cec3a9fd#css-in-email-

[2022-03-03 15:40] engcom-Delta commented on #35074
We have noticed that this issue has not been updated for a period of 13 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-03-03 15:40] #35074 closed, assigned to engcom-Delta

[2022-03-03 16:43] cpartica commented on #34266
Settled on what we'll do. We are going to just return the placeholder image to prevent blocking errors and log non existing images not found -
We also want to add a field-  "errors" as data to any query - that a PWA would better interpret - GQL spec doesn't have this
a differentiation between critical fatal errors vs recoverable errors like this one -
plz refer to this recommendation as a further

[2022-03-03 16:46] nathanjosiah commented on #35130
We are aware of several negative side-effects of the security hotfix. At this time we do not have plans to issue a third patch however this (and others) will be resolved in the upcoming April releases 2.4.4/2.3.7-p3/2.4.3-p2. As always the recommendation is to upgrade to the latest available Magento versions in order to have the latest quality and security fixes. Please keep in mind this is a sens

[2022-03-03 20:51] hostep commented on #35130
Thanks for this info, that's very much appreciated!

----

Just wanted to bring up that a solution for this issue is floating around (on at least 2 different slack workspaces than the official one from Magento) without a guarantee that it doesn't re-introduce the security issue. So maybe reconsider the third patch solution as it seems like some people can't wait yet another month.

[2022-03-04 01:03] engcom-Delta commented on #35098
https://github.com/magento give me 2.4-develop instance

[2022-03-04 01:09] engcom-Delta commented on #35098
@magento give me 2.4-develop instance

[2022-03-04 02:10] engcom-Delta commented on #35141
Hi @Quazz,
Thank you for your quick reply and we have verified the issue on Magento 2.4 Develop , Here are the test results.
1. Define synonym group (eg notebook,laptop)
<img width="1440" alt="Screenshot 2022-03-04 at 6 04 16 AM" src="https://user-images.githubusercontent.com/51681379/156678038-76441897-de04-438e-a81d-48653876717d.png">
2. Have product with name "New Laptop" and another product wi

[2022-03-04 05:53] engcom-Hotel commented on #34126
Hello @mrtuvn,

I have tried the steps given in your last [comment](https://github.com/magento/magento2/issues/34126#issuecomment-1057973423) as well, but for us, the values are not changing in the database. Please have a look at the below screenshot:

- In `master` branch after running `setup:upgrade` command:

![1](https://user-images.githubusercontent.com/51681618/156707524-a4acfd46-a4ba-4155-a

[2022-03-04 06:35] amenk commented on #35158
@engcom-Delta Does adding extensions work only for the Magento team ? (see https://devdocs.magento.com/contributor-guide/contributing.html#customize-deployed-instances) can you issue that command above `give me 2.4-develop instance with extensions magefan/module-cli`) to get an instance with the CLI so I can reproduce the issue we are facing?

[2022-03-04 09:09] Sanjay-100 commented on #35138
@engcom-Hotel   ok let me try that one

[2022-03-04 09:11] engcom-Hotel commented on #35140
Hello @ByJacob,

I hope your problem has been solved by going through the documentation link in this [comment](https://github.com/magento/magento2/issues/35140#issuecomment-1053615007).

Thanks

[2022-03-04 09:13] engcom-Hotel commented on #35138
Ok @Sanjay-100, thanks for the reply.

[2022-03-04 09:25] ByJacob commented on #35140
Unfortunately, that does not solve the problem. The documentation only shows the different methods for configuring ElastiCache and how to connect to it when Cluster Mode is turned off and on.
My probleme is that I cannot configure redis backend when redis is running with **cluster mode enabled**.

- The colinmollenhour/Cm_Cache_Backend_Redis package in use [does not support cluster configuration](

[2022-03-04 09:32] adamlavery opened #35161 "Buttons not showing on UI Listing component"
1. Magento 2.4.3-p1

### Steps to reproduce (*)

Create a new listing UI component to add as a custom tab on product edit page. This involves creating far more code than it should need so here's the relevant section of the listing XML:

[code]

### Expected result (*)
Button Add Quantity should be added to listing

### Actual result (*)
Button is not added and no errors/logs anywhere to indicate w

[2022-03-04 09:36] adamlavery commented on #35161
Please note: for a development instance to be any use for this kind of issue we also need SSH access to be able to install modules. We don't get that so won't ask for one.

[2022-03-04 09:44] engcom-Hotel commented on #35129
Hello @Sanjay-100,

We have tried to reproduce the issue by installing fresh Magento 2.4-develop in the system with Nginx. But the issue is not reproducible for us.

Please have a look at below screenshot for reference:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51681618/156739469-eb4a759a-17eb-4d40-9c38-f344c9e145fe.png">

Thanks

[2022-03-04 11:13] engcom-November opened #35162 "Order Total is becoming negative value during checkout if discount is greater than Cart value"
### Preconditions (*)

1. Magento 2.4-develop
2.

### Steps to reproduce (*)

1. Create Cart Price Rule with Action "Fixed amount discount for Whole Cart" and amount $100
2. Stores - Settings - Configuration - Sales - Tax - Calculation Settings - 'Apply Customer Tax' Set to "After Discount", Apply 'Discount On Prices' - "Including Tax" - Save Config
3. Default Tax Destination Calculation - Germany

[2022-03-04 11:15] apomili opened #35163 "Product Recommendations - Adobe Sensei CSP - Refused to load the script https://web-sdk.aptrinsic.com/api/aptrinsic.js"
### Preconditions (*)

1. Magento Commerce 2.4.3
2. Adobe Sensei Integration

### Steps to reproduce (*)

1. Go in the backoffice:  Marketing > Product Recommendations
2. Open the browser's console

### Expected result (*)

1. No JS error

### Actual result (*)

1. launch-177bc126c8e6.min.js:4 Refused to load the script 'https://web-sdk.aptrinsic.com/api/aptrinsic.js?a=AP-XD7ZED5OKDHG-2-1' because

[2022-03-04 12:34] engcom-November commented on #34294
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue due to below issue:
https://github.com/magento/magento2/issues/35162.
Unable to place order with above configuration as order amount is always becoming negative value.
Steps performed:
Create Cart Price Rule with Action "Fixed amount discount for Whole Cart" and amount $100
Stores - Settings - Configuration - S

[2022-03-04 13:35] engcom-November commented on #34650
Verified the issue on Magento 2.4-develop branch and the issue is reproducible
![image](https://user-images.githubusercontent.com/60198231/156772741-c7ac3b0f-4e5d-45e6-8177-506cb45d7f86.png)
![image](https://user-images.githubusercontent.com/60198231/156772840-1b3a960b-5402-49c9-a68b-fd76f116f901.png)

[2022-03-04 13:50] baatractive opened #35164 "Wrong parameter are passed to setFreeShipping method"
### Preconditions (*)
1. 2.4.3, master branch

### Steps to reproduce (*)
1. The `setFreeShipping` requires an integer parameter while `isFreeShipping` method interface returns a boolean.

### Expected result (*)
The following call to `setFreeShipping` passes a boolean value while it should pass an integer: https://github.com/magento/magento2/blob/81340cb1b7231e875ceb92c333f371fd3a2309b8/app/code/

[2022-03-04 14:00] mad-develop commented on #32177
I recently stumbled on this issue. As @Sental mentioned the issue was introduced with #28238.

The issue #32066 seems also to be related. After the change to nummeric array index in the prefix options, the current value is no longer found and get added.

My current fix is a composer patch, reverting the change from #28238.
I'm not done testing, but so far frontend issues seems to be fixed.
I am al

[2022-03-04 15:25] Rickertje commented on #23938
Any news anybody? The issue is still not reopend.

[2022-03-04 17:50] vzabaznov commented on #33685
Hey guys, thank you for reporting please consider to use L2 cache https://devdocs.magento.com/guides/v2.4/config-guide/cache/two-level-cache.html

[2022-03-04 18:01] jonathanribas commented on #33685
L2 cache was a disaster on our Kubernetes cluster, really bad performance.
We will try to give it a try once again.

[2022-03-04 19:16] eliacimdavila commented on #6167
I am facing this in 2.3.4. The customer wants to create/update 30,000 configurable products, and each one takes so long. It will need two weeks of an uninterrupted process to finish.

[2022-03-04 19:31] maxq commented on #6167
Make sure your indexing is set to update by schedule then it should fix that. That was our issue it was index on save so it was indexing for a very long time. Once we switched to updated by schedule it was down to seconds to save.

[2022-03-04 21:07] roemerdlr commented on #27942
Magento 2.3.3
The **Custom Layout Update** is being added in: vendor/magento/module-catalog/Controller/Category/View.php line 293
In my case was wrong date saved in catalog_category_entity_datetime
![image](https://user-images.githubusercontent.com/1199171/156841233-4dbe28d7-797e-40aa-909e-d7cff44b674b.png)

[2022-03-04 22:28] hcmlopes opened #35165 "Bundle Product discounts not saved to quote_item table"
### Preconditions (*)
1. Magento 2.4.3-p1

### Steps to reproduce (*)
1. Create Cart Price Rule for 10%
2. Add Bundle Product to cart
3. Check column row_total_with_discount, discount_amount, base_discount_amount, discount_percent in database table quote_item
4. Check API /rest/<STORE_CODE>/V1/guest-carts/<CART_ID>/totals

### Expected result (*)
1. The fields are being calculated properly and sto

[2022-03-05 06:20] vicehope opened #35167 "umasked quote_id being passed when calling estimate-shipping-methods API in checkout page"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Login to storefront as a regular customer
2. Add few items into the cart
3. Click on "Proceed to checkout"
4. Checkout page renders on the browser
6. API call to rest/home3/V1/guest-carts/22806/estimate-shipping-methods where `22806` is the unmasked quote_id

### Expected result (*)

1. Checkout as registered customer
2. Ab

[2022-03-05 15:55] DEHAINI commented on #13961
can u please gie me a clear example? i have the same issue and i can not resolve it

[2022-03-05 16:36] #35167 closed, assigned to nobody

[2022-03-05 22:00] denistrator commented on #29694
@ihor-sviziev hi. the issue is still reproducible on 2.4 when using an alias instead of a path to the component in js layout

[2022-03-06 13:03] PromInc commented on #34863
https://github.com/magento give me 2.4-develop instance

[2022-03-06 13:07] PromInc commented on #34863
@magento give me 2.4-develop instanc

[2022-03-06 13:15] PromInc commented on #34863
@magento give me 2.4-develop instance

[2022-03-06 14:03] PromInc commented on #34863
I was able to get a Magento instance and test this.

In my tests below you can see that there are some cookies that respect the configuration and some that do not.  In my testing it seems that only the **Cookie Domain** setting is an issue.   I did some tests with the **Cookie Lifetime** and **Cooke Path** fields and found them to work for the cookies I was paying attention to.  Though the expirat

[2022-03-06 15:21] Rickertje opened #35168 "Discount(s) ignored in Subtotal condition of Free Shipping Cart Rule"
### Preconditions (*)
1. M2.4 develop

### Steps to reproduce (*)
1. Clean install
2. Deactivate Flat rate shipping method
3. Activate Free shipping for minimum amount of 99999999
4. Remove alle cart rules. Create 2 new cart rules:
a) TEST with coupon code TEST, no conditions, discount 100 for the whole cart, discard subsequent rules = No
b) FREE SHIPPING no coupon code, condition: subtotal excl V

[2022-03-07 02:13] engcom-Delta commented on #35133
Hi @oskar-olaussen ,
Thank you for raising an issue , We tried to reproduce the issue on Magento 2.4 Develop latest branch but issue is not reproducible. Hence request to review the provided steps.

Steps followed:
1. Go to product edit page in admin. You must be in scope "All Store views" and the product must not be visible individually
<img width="1440" alt="Screenshot 2022-03-07 at 7 34 15 AM"

[2022-03-07 02:16] engcom-Delta commented on #35136
Hi @winds1983 ,
Thank you for raising an issue, We tried to reproduce the issue on Magento 2.4 Develop , We found that issue is not reproducible after running the command.

Hence , request to elaborate more on pre-conditions.

[2022-03-07 02:37] engcom-Delta commented on #35161
Hi @adamlavery ,
Thank you for raising an issue and happy to assist. Could you please specify that in which file provided code has to be added for new listing UI component to add as a custom tab on product edit page.
Hence, We added the label 'Needs update'.
Regards,

[2022-03-07 06:39] engcom-Hotel commented on #35140
Hello @ByJacob,

Thanks for the confirmation!

We have tried to reproduce the issue by following the Redis cluster documentation [here](https://redis.io/topics/cluster-tutorial). And after setting up the Redis cache by following the [Magento docs](https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-pg-cache.html), we are able to reproduce the issue in the latest Magento 2.4-develop br

[2022-03-07 06:45] engcom-November commented on #35036
Hi @snuffer82 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-07 06:45] #35036 closed, assigned to engcom-November

[2022-03-07 06:45] engcom-November commented on #35054
Hi @Veltix ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-07 06:45] #35054 closed, assigned to engcom-November

[2022-03-07 07:49] engcom-November commented on #34502
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Sort By Position - Desc - All the Products having Position value "0" are not getting sorted by product ID
![image](https://user-images.githubusercontent.com/60198231/156989492-bfbdd137-c659-42d5-864c-86b0f8ed09e3.png)

![image](https://user-images.githubusercontent.com/60198231/156989421-9d44c0b1-815b-477a-ac08-a6a7e4b

[2022-03-07 08:12] engcom-November commented on #35135
Verified the issue again on Magento 2.4-develop branch by correcting typo mistake. Please find the observations below:
On modifying option value of Conditions section in browser's inspect of Cart Price Rule, and selecting the same value in UI that has been modified, error is displayed and user is redirected to dashboard page.
![image](https://user-images.githubusercontent.com/60198231/156992529-a8

[2022-03-07 09:10] engcom-Delta commented on #35096
Hi @kimurabanyan,
Based on above description confirming the issue.Hi @kimurabanyan,

We have verified the issue on Magento 2.4-develop branch however the issue is reproducible
https://github.com/magento/magento2/issues/35096#issuecomment-1046939040

[2022-03-07 09:15] engcom-Delta commented on #35070
Hi @jeremycharron ,
Hi @jeremycharron ,
We tried to reproduce the issue with the above mentioned step but not able to reprouce it,
as shown in the screenshot
![screen123](https://user-images.githubusercontent.com/51681379/157002093-a9e4af2f-c928-46a5-8c7e-39205011ba46.png)

can you plz tell us the use case of  Replace block_id value with the block identifier in the content cell.

[2022-03-07 09:34] adamlavery commented on #35161
Normal rules and placement for this code, although appreciate using UI components is overly complicated requiring large amounts of displaced code. This is the listing component XML in:

`Vendor/Module/view/adminhtml/ui_component/quantities_grid.xml`

This is referenced in the tab XML that is inserted into the product page:

[code]

[2022-03-07 10:00] Rickertje commented on #35168
I just tried this on 2.2.10 and it seemed to have worked correctly back then

[2022-03-07 10:12] engcom-Delta commented on #35154
Hi @maconeto
Thank you for reporting the issue.
We tried to reproduce the issue on Magento 2.4-develop branch but the issue is not reproducible.

1. Setup fresh Magento website with 1 website, 1 store and 2 store views. Base currency EUR, first store view has display currency = EUR, second store view has display currency = NOK. Setup currency rate 1 EUR = 10 NOK
2. Create simple product with price

[2022-03-07 10:49] chriswatt opened #35169 "Admin - Custom Admin Path - Underscore characters not allowed"
Magento version: 2.4.3

Stores > Configuration > Advanced > Admin > Admin Base URL - Use Custom Admin Path = Yes

The `Custom Admin Path` field has some UI validation preventing underscores from being added to the custom admin path.

![image](https://user-images.githubusercontent.com/488912/157017187-0b4bbf91-1a60-4493-bfc4-0b04cbee10c4.png)

[2022-03-07 10:55] engcom-Delta commented on #35153
Hi @pmonosolo ,

Thank you for raising the issue , we tried to reproduce it on Magento 2.4 Develop but it is reproducible.
Hence marking the issue 'Issue Confirmed'.
Steps followed:

1. Turn on HTTP_USER_AGENT validation
![Screenshot from 2022-03-07 16-11-50](https://user-images.githubusercontent.com/51681379/157016866-118323cd-7528-4b7f-81e9-3f4c66348012.png)

2. Open Magento 2.4.3 /admin page us

[2022-03-07 11:03] danielpugh commented on #26786
just come across this issue on 2.4.3-p1.
the problem occurred because using the mageworx delivery date module and the adyen payment method together.
i do not want to edit core files, but this does seem to fix the issue.
confused why it has been fixed in EE, (i.e. implying identified as a bug), but not the community edition??

[2022-03-07 11:58] engcom-Hotel commented on #35130
Hello @thinksys-dev,

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible for us. We have followed the below steps in order to reproduce the issue:
1. Trying to send a "Forgot Password" email before applying patch:
<img width="726" alt="image" src="https://user-images.githubusercontent.com/51681618/157029336-e40880d6-b03a-4827-90c5-0a010817

[2022-03-07 12:41] hostep commented on #35130
@engcom-Hotel: please stop wasting time on this, it's already confirmed internally and a fix is already being worked on or is already finished and will be delivered in Magento 2.4.4 an other versions as you can see from [this comment](https://github.com/magento/magento2/issues/35130#issuecomment-1058249592).

[2022-03-07 12:46] maconeto commented on #35154
Thank you for your reply. Please check my screenshots below, it is easier
to see it in product page

on store view 1 - the custom option price is 8.50 EUR
[image: image.png]

But when switching to store 2, the price is now 850 NOK.  It should have
been 85 NOK only (8.5 x 10)

[image: image.png]

To elaborate 2: when creating product in admin, I added a custom option of
type checkbox and give it fi

[2022-03-07 13:07] engcom-Hotel commented on #35013
Engcom team verification is in progress.

[2022-03-07 13:07] jeremycharron commented on #35070
Hello @engcom-Delta ,

I'm not sure to understand the screenshot you sent. It looks like a text component. Try removing everything and put a block component directly at the root of pagebuilder. An empty block component should look like this :
![image](https://user-images.githubusercontent.com/25036022/157039999-83a96df3-a5c1-4fc4-a638-29c077212ee9.png)

The content of the page in the database shou

[2022-03-07 13:26] engcom-Delta commented on #35162
@magento give me 2.4-develop instance

[2022-03-07 14:37] LexKoomen commented on #33519
Any update on this?

[2022-03-07 15:25] engcom-Delta commented on #35162
Hi @engcom-November ,
We tried to reproduce the issue on Magento 2.4.Develop latest branch ,
issue is reproducible for Germany Country Whereas for US shipping address it did not show negative value during checkout. Hence confirming the issue .

**Steps followed:**
1. Create Cart Price Rule with Action "Fixed amount discount for Whole Cart" and amount $100
<img width="1440" alt="Screenshot 2022-03-

[2022-03-07 15:53] nmtrimblper opened #35170 "Magento 2 Quality Patch Tool MDVA-43443"
### Preconditions (*)

1. 2.4.3-p1 Enterprise Edition (on prem)
2. Currently attempting to apply the patch in a local environment

### Steps to reproduce (*)

1.  Install the quality patches tool: composer require magento/quality-patches
2.  Install the MDVA-43443 security patch using the tool from the project root directory: ./vendor/bin/magento-patches apply MDVA-43443

### Expected result (*)

[2022-03-07 16:10] Rickertje commented on #23938
@hostep? @sidolov?

[2022-03-07 17:54] uandiweb opened #35171 "Duplicate SKUs When Using Leading 0 Causes Errors - Bulk Unassign Inventory Source"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Inventory/ MSI enabled

### Steps to reproduce (*)

1. Create a simple product with SKU 01234
3. Create another simple product with SKU 1234
4. Ensure both products don't have inventory source assigned
5. Use the product bulk action tool to assign inventory source (i.e. default) to both products at once (Catalog - Products - Select Products - Actions -

[2022-03-08 01:07] naomirobichaud commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2022-03-08 03:37] preeteshtavant commented on #34866
@m2-assistant @mmezhensky @m2-github-services @m2-community-project @engcom-November
is there any update on this.

@mmezhensky its showing merge request failed.

Could you please provide an update on this.

[2022-03-08 03:37] preeteshtavant commented on #34866
is there any update

[2022-03-08 05:13] engcom-November commented on #35168
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue in both the cases: A and B.
In both the cases A and B Shipping Method is not getting applied - No issue
![image](https://user-images.githubusercontent.com/60198231/157169496-8c66f73c-2659-42e2-8407-66be29cd6d5f.png)
![image](https://user-images.githubusercontent.com/60198231/157169525-048aa7aa-40e7-45ac-abbc-a6