[2016-10-20 10:44] ankitce commented on #4296
[Reproducible error](https://github.com/magento/magento2/issues/4187#issuecomment-255071297)

[2016-10-20 10:57] cashgrow commented on #5008
Still here in 2.1.2

[2016-10-20 11:26] ivagarfitt opened #7101 "Magento 2.1.1 Roles Resource Tree not showing"
In the backend, going to system->roles, adding a new role and setting it to custom permissions, the resource tree is empty.

`public function getTree()
    {
        $resources = $this->_aclResourceProvider->getAclResources();
        $rootArray = $this->_integrationData->mapResources(
            isset($resources[1]['children']) ? $resources[1]['children'] : []
        );
        return $rootArra

[2016-10-20 11:29] veloraven commented on #7051
@sma09sjb I was sure I had added the link to requirements, sorry for inconvenience. Here you are: [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).
I also thought that you mentioned OS of the server (as it usually happens), and did not realize that it was about customer's system.
@JDavidVR  thank you for noting this point.

[2016-10-20 11:38] cscd98 opened #7102 "Blank page"
Hi,

I have a new magento site using nginx + redis cache backend + redis session front end + varnish.

After a while, for no reason and the logs are empty.. the page will render as a blank page.

[2016-10-20 11:50] tkacheva commented on #3890
Internal issue **MAGETWO-56062**

[2016-10-20 11:52] ghost commented on #2855
Yes. I have tried both update by schedule and update on save. Neither works correctly. The new products do not show until the indexers are reindexed manually through CLI.

[2016-10-20 11:53] Corefix opened #7103 "Filters can't filter ranged from 0"
### Preconditions

1. Community Version 2.1.2
2. PHP 7.0.10
3. Some products already in Magento with products with quantity 0 and products without
### Steps to reproduce

1. Go to Magento admin
2. Go to Products > Catalog
3. Select Filters
4. Enter in Quantity from 0 to 0
5. Press apply filters
### Expected result

1. I would expect to see all products with quantity of 0 to be displayed
### Actual

[2016-10-20 11:59] licentia commented on #4580
@mmansoorebay This commit fe97d9e fixes the duplicated increment_id, but now the order is duplicated, only with two different increment_id.

[2016-10-20 12:05] webguys911 opened #7104 "15-45 second page loads on edit product after Upgrade from 2.0.9 to 2.1.2"
### Preconditions

2500+ categories still loaded almost instantly on 2.0.9
### Steps to reproduce
1. CLI update from 2.0.9 to 2.1.2

[2016-10-20 12:10] ghost commented on #6787
Hi @sevos1984 Below are the steps to reproduce.

**Preconditions**
1. Magento CE 2.1.2 without sample data is installed.

**Steps to reproduce**
1. Register new user by creating a new account (/customer/account/create/)
2. Go to the admin panel and change the usergroup from the registered user from general to retailer and save the changes
3. Login at storefront with newly created user
4. After log

[2016-10-20 12:19] jitendracis commented on #3331
Hi,
I am getting same issue "In Authorize.net test mode, after order place page is not redirecting to success page." in Magento 2.0.8.

Could you please tell me, in which file you have fixed this issue? Because I don't want to upload all files on Magento 2 website.

Please let me know.

[2016-10-20 12:27] trichter01 commented on #6950
@joni-jones, thanks for the acknowledgement. I have disabled the Order Number Customiser module to make sure the module isn't a factor. In conclusion, that module is irrelevant to the issue here..

[2016-10-20 12:30] YevSent commented on #6950
@trichter01, after some debugging I've found what `\Magento\Framework\App\Config\ScopePool::getScope` doesn't return correct scope.

[2016-10-20 12:37] sevos1984 commented on #6847
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-20 12:37] #6847 closed, assigned to sevos1984

[2016-10-20 12:38] victor-v-rad commented on #6945
I assume data inconsistency in DB. Some records in tables with foreign keys that points to non-existing records of other tables.

[2016-10-20 12:46] trichter01 commented on #6950
@joni-jones, is this possibly the same issue? https://github.com/magento/magento2/issues/2857

[2016-10-20 12:46] sevos1984 commented on #7026
I mean everything works fine in both modes. The problem seems to be in case sensitive file system, are you using Windows?

[2016-10-20 12:51] PascalBrouwers commented on #4226
Not too mention that the repository getList function expects a \Magento\CatalogInventory\Api\StockItemCriteriaInterface instead of \Magento\Framework\Api\SearchCriteria which makes it very hard to work with.

[2016-10-20 12:55] mashb1t commented on #5352
@timbaker1991 Well, it definitely had to be included in Release 2.1.2 ... Still waiting for the fix!

[2016-10-20 13:01] sevos1984 commented on #6924
@githeat Have you tried updating your code base?

[2016-10-20 13:13] frostshoxx commented on #7024
Thank you, I'll try that. Appreciate the heads up.

[2016-10-20 13:13] #7024 closed, assigned to nobody

[2016-10-20 13:18] frostshoxx opened #7106 "Unable to import production images using “additional_images” column"
According to Magento 2 dev guide on [importing product images](http://docs.magento.com/m2/ce/user_guide/system/data-import-product-images.html), we should be able to add additional images to the column `additional_images` using full URLs.

However, when I created an import csv file with the following example:

I got a validation error for `Column names: "additional_images " are invalid`. I did not

[2016-10-20 13:42] ghost commented on #5836
It appears that the following indexes are not getting invalidated/reindexed when creating/adding a new product:

[code]

I am able to get the new products to show by going to Products -> Categories and clicking Save on the default category(making no changes to the default category).

[2016-10-20 13:47] somat211 commented on #4187
We are facing the same error when the customer address has not region. We have also checked on Magento 2 live Demo at http://magento2-demo.nexcess.net/ We have created a customer address without the region. We have tried to place orders and it shows the only Order Summary on checkout page.
You can check with below Customer Address:
First Name *: Test
Last Name  *: Test
Street Address *: Test Addre

[2016-10-20 14:12] RUjmiak opened #7107 "Rest API: unable to clean cart and then unable to assign cart to customer"
1. Magento 2.1.2
### Steps to reproduce
1. Create new cart with basic integration token
2. Add product to cart
3. Customer login (for example login before checkout)
4. Than you cant continue with calls (carts/{cartId}..) because Consumer is not authorized to access
5. You need to assign cartId to customer so you can use call PUT carts/{cartId}

{
  "customerId": 124252,
  "storeId":1
}
### Expecte

[2016-10-20 14:33] veloraven commented on #3243
@jstuardo is this issue still actual?
If it is could you please provide exact and detailed steps as I was not able to reproduce this issue.

[2016-10-20 14:35] toddwolaver opened #7108 "Unable to run deploy:mode:set production"
### Preconditions
1. Install from git
   1. magento/magento2 develop branch
   2. sha: cbe29b04210a99df03813a9840784908220dae1b
2. PHP 7.0.10 (also seen on 5.6.23)
3. MySQL  5.6.30
4. Install via command line, no sample data
### Steps to reproduce
1. run ‘php bin/magento deploy:mode:set production'
### Expected result
1. Run DI compilation and deploy static content
### Actual result
1. DI compilat

[2016-10-20 14:49] melindash commented on #6671
I am also experiencing this issue, on two different installations and can confirm the root and default category have the same request path as the product, which is causing the same issue.

The strange thing is that, for my installations, I have no trouble adding products to categories through the admin panel. The issue only occurs when I attempt to assign products to a category via the REST API -

[2016-10-20 15:21] SerhiyShkolyarenko commented on #6849
@ytorbyk Thank you for your contribution to Magento!
I performed all the steps you described, after step 5 i settled both transactions and continued step 6.
I checked sales_creditmemo table and found that invoice_id field contains correct invoice id.
Here is a data dump of my sales_creditmemo table:

[code]

Am I doing anything wrong?

[2016-10-20 15:25] TClilMouse commented on #5428
@tkacheva I upgraded to Magento 2.1.2 still having this issue.

[2016-10-20 15:30] nomuprive commented on #6917
@SerhiyShkolyarenko I just sent you the database dump via email. Thanks!

[2016-10-20 15:32] YevSent commented on #6950
No isn't, #2857 relates to php doc types.

[2016-10-20 15:34] viktym commented on #6977
Hi @amarroni
I can't reproduce this issue on 2.1.2 and develop branch.
If I understand you well you try to place an order with the virtual product using PayPal Payflow Pro method with Payment Action "Sale". In this case, the order is placed with status "Complete". Try to update your magento instance to latest patch release 2.1.2
Thanks for the feedback.

[2016-10-20 15:35] SerhiyShkolyarenko commented on #6911
@dapdx thank you for reporting!
AFIU you mean "Actions" tab on step 2. I tried these steps on the latest develop branch and I see "Category is 4" after step 5. Do you have the same result on the latest develop?

[2016-10-20 15:38] tanberry commented on #1812
We've moved to an internal ticket (MAGETWO-58288) and are working this now. Thanks for your persistence/patience. ;-) @almarchenko

[2016-10-20 15:48] trichter01 commented on #6950
ok, what's the next step for a solution?

[2016-10-20 16:00] SerhiyShkolyarenko commented on #6826
@melindash thank you for reporting!
Please explain which autofilling way you use. Do you use autofilling for email only? My Chromium autofills addresses only, so I had to enter my email manually. Using "Autofill" extension v 6.12 caused some problems on address form, but order was placed successfully.

[2016-10-20 16:00] jvreeken commented on #6929
I tried the same fix on our staging server changing the address lines to 1, but this didn't fix it on staging...

Staging is in production mode, and local in development... maybe that has something to do with it?

I also thought it might be https vs http using a sandbox key with authorize.net so I changed staging to not force https trying to get staging more in line with my dev environment and I'v

[2016-10-20 16:01] slackerzz opened #7109 "composer and devDependencies"
I'm currently running 2.1.2

`composer install --no-dev`
### Expected result

the packages in the `"require-dev"` section of `composer.json` should not be installed
### Actual result

the command installs the packages in the `"require-dev"` section of `composer.json`!

At first i thought it was a problem with composer, but this only happens inside a magento project

[2016-10-20 16:01] viktym commented on #7066
Hi @Rich8881
Unfortunately, I could not reproduce the issue as you described it.
Placing order with our sandbox Braintree account  works well.
Could you please enable Debug option in Advanced Braintree Settings and check /var/log/debug.log after placing order. There should be detailed information about Braintree requests and responses. Also, please check /var/report folder for any information.
Tha

[2016-10-20 16:04] dapdx commented on #6911
Yah, I've upgraded to 2.1.2 and still have this issue. If I know the category number I can enter it and it works, but if I use the selector box, which brings up the list of categories and I select the category I want, it doesn't save. I think it's an issue with the selector function.

[2016-10-20 16:34] philipvandebriel commented on #7104
We have same problem with 4000 categories.

[2016-10-20 16:47] SantoDE commented on #6683
I just encountered that bug as well. Is there any ETA for a fix?

[2016-10-20 16:50] pboisvert commented on #6683
no ETA yet as the bug has not been confirmed. The original reporter has been asked for information to help us reproduce. Then we need to do that and if an issue then schedule a fix.

[2016-10-20 17:15] SantoDE commented on #6683
@pboisvert what else do you need? His report looks quite helpfull :)

[2016-10-20 17:24] cod3gen commented on #4756
Hi All,

Ive had the same issue since the very first release. First i logon to admin then go to Setup Wizard. Press sign in, and add my credentials to Magento and then that famous "please wait" wheel spins indefinitely. Okey, checking error log which shows this:
`AH01797: client denied by server configuration: /home/admin/domains/example.com/public_html/app/etc/config.php`

Then, the whole Magento

[2016-10-20 17:38] mglavinic commented on #6683
@pboisvert it is very easy to reproduce the error. Just follow the steps from which I wrote in bug report. If I can help you somehow let me know.

[2016-10-20 17:38] sajidunnar commented on #3268
did anyone got its solution ? I just migrated from m1 to m2 and having this issue

[2016-10-20 17:41] sajidunnar commented on #1471
I am on 2.1.1 and facing same issue ?  I just moved from magento 1.9 to magento 2.1.2 with data migration tools and whenever I am saving category I got this error any help ?

[2016-10-20 18:00] pboisvert commented on #6683
I will let @veloraven answer that question. I just saw the "needs update" label which we use when more info is needed. I also see that the report has been edited so perhaps the missing info has been filled in now that was missing when the needs update tag was added. Looks complete to me now.

[2016-10-20 18:45] sdroid-vie opened #7111 "Unable to rearrange categories and edit or create products"
### Preconditions

1.  Magento 2.1.2, cloud server, PHP 7.0.9-1+deb.sury.org~xenial+1 (cli) ( NTS ), mysql  Ver 14.14 Distrib 5.7.15,
2. Importing a CSV file with ~160 items in it, No errors whatsoever!
3. Tried importing both with and without url_key specified
### Steps to reproduce

1.  Import data from CSV
2.  Try to drag one category into another
3. Try changing categories of products or other

[2016-10-20 19:53] PieterCappelle commented on #7100
This is correct behaviour. On page load the basket is rendered from cache. After page load ajax call is executed to get cart information. We need this to use full page cache and varnish.

[2016-10-20 20:10] dmcmillin opened #7113 "newsletter not sending 2.2.0-dev"
### Preconditions
1. php 5.6
2. magento 2.2.0-dev
3. centos 6
4. Dovecot
5. Google Hosted Email.
### Steps to reproduce
1. Setup as normal 2.2.0-dev
2. Put customers in and assign them to the newsletter
3. Send out a newsletter
### Expected result

1. Should send out.
### Actual result

1. Nothing sends out.

I checked database and cron. It's appearing in there and says its successful. I checked l

[2016-10-20 20:27] mbrinton01 commented on #7084
@fvschie do you mean the status for a particular order, or a list of all possible statuses including custom ones?

[2016-10-20 20:41] mbrinton01 commented on #5330
Thank you all for your comments.  Two points:
1. This is a bug, so I have reopened the issue. It should be possible to access the WSDL itself with anonymous access
2. Before we are able to fix the bug, if you use same authorization header you would use for a SOAP request, you should be able to access the WSDL

[2016-10-20 20:45] mbrinton01 commented on #5330
Tracking bug internally under MAGETWO-55200

[2016-10-20 20:49] Fairlight60 commented on #5288
I still have this issue in Magento 2.1.2 running under Uniform Server Zero XIII, PHP 7.0 and Windows 8.1, did I miss something?

[2016-10-20 20:55] cuiyang000 commented on #5590
Hi @choukalos

I think the search is not working as you described, and it became a problem.

I have a clean installation of 2.1.0, when I search for "abc 999" here as you can see the product with both words was on the second: http://m2-demo.mgt4.iggo.fi/catalogsearch/result/?q=abc+999

And it's second because there're not so many products, if there're many and that product was created late (=big p

[2016-10-20 21:01] cuiyang000 commented on #6793
Can confirm the same issue.

I have a clean installation of 2.1.0, when I search for "abc 999" here as you can see the product with both words was on the second: http://m2-demo.mgt4.iggo.fi/catalogsearch/result/?q=abc+999

And it's second because there're not so many products, if there're many and that product was created late (=big product id), I'd bet it would be in a very late position. Because

[2016-10-20 21:11] afavata commented on #6260
Hi @NadiyaS
this issue is affecting many people wordwide... non permitting to be online in the proprer local language.
Is it possible to request a very urgent release for 2.1.2 to resolve this issue.
thanks

Alex

[2016-10-20 21:14] graffxdesign commented on #5642
Hi Guys,

I am having the same issue, friend has asked my help and I can't believe there is not solution. His partner is furious and I am not sure what to tell them, can anyone take a look and let me know if you see the issue.

I tried commenting that line and it didn't work. It looks like everything is sent to auth.net but the response is not being read by M2.

http://tinyurl.com/z6tmv5c

Console

[2016-10-20 21:51] brianschroeter commented on #5642
I've tried just about everything, and couldn't get this to work. 50+ hours in, we've opted to just use BrainTree. That works fine for our needs.

[2016-10-20 21:52] graffxdesign commented on #5642
Thanks @brianschroeter,

Yeah I am 20 hours into it myself, mindblowing that we cant figure it out. It is like magento is not handling the response.

[2016-10-20 22:17] brianschroeter commented on #5642
@graffxdesign

Any time! I tried the following...
- Fresh install with 2.0.X (with, and without SSL)
- Fresh install with 2.1.X (with, and without SSL)
- I've commented the line referenced above, to no avail
- Disabled / Enabled cache, and recompiled the code
- Read through the debug, and exception logs. Not much was helpful there!
- Attempted to use the module with Credit Card Verification on, an

[2016-10-20 22:21] graffxdesign commented on #5642
@brianschroeter I understand fully, I have a huge client that is moving to M2 and if I didn't know this right now I could have lost the client on the new year.. and it would devastate my family until I found another.

Thank you very much for the information it is very helpful and I will go back to the CC company to find another solution!

[2016-10-20 23:34] jvreeken commented on #5642
I think magento not fixing this is just a ploy for them to get people to switch to braintree as that is owned by paypal which is owned by ebay which owns magento.

[2016-10-21 00:01] brianschroeter commented on #5642
@jvreeken Very possible! However, I will say that Braintree worked incredibly well out of the box. Go figure, lol.

[2016-10-21 00:15] Ctucker9233 commented on #4921
@FerrazzzZ I apologize. I believe I commented on the wrong issue.

[2016-10-21 01:15] markdavies commented on #6422
This is a critical error - any update?

[2016-10-21 01:20] shanevbg opened #7114 "Save & Duplicate product doesn't take new image (and other things)"
Created a  product, saved and duplicated it
Changed the title and image
New product kept old title, apparently had to change scope to change the title in the specific store
Changed image in both scopes
Still showing original image
### Preconditions
1. Magento 2.1.2
2. PHP 7.0.8-0ubuntu0.16.04.3
3. Apache version 2.4.20
4. Multiple Tenant Magento stores (for different scope issues)
### Steps to rep

[2016-10-21 02:38] leoquijano opened #7115 "Customer Addresses: Can't convert undefined to object"
Hello,

I'm using Magento 2.1.2, and I noticed that there's a Javascript error when loading the `vendor/magento/module-customer/view/frontend/web/js/model/customer-addresses.js` file, in the product detail page.

I get this:

![captura de pantalla de 2016-10-20 20-19-01](https://cloud.githubusercontent.com/assets/7789514/19584554/985ee010-9702-11e6-9a1d-58c8d8ad5e62.png)

After reviewing the sourc

[2016-10-21 02:47] shanevbg commented on #7083
I had the same problem, what I did was add the following to my .htaccess file (I am using Apache)
`RewriteEngine On`
`RewriteBase /`
`RewriteCond %{HTTPS} off`
`RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}`

[2016-10-21 03:16] f00stx commented on #6078
I'm also having this issue, and have recently done an upgrade to CE 2.1.2. Is there a fix for this somewhere? This was a clean install from a version downloaded last week, which I upgraded to 2.1.2 today, and then tried to install an extension via the web setup wizard.

I didn't think to capture the output before closing the tab but it closely matches the output @hrle991 pasted in the ticket.

[2016-10-21 03:23] webguys911 commented on #7104
It is absolutely unbearable..I thought after merging JS files, minifying, even tried removing about half of them..worst part I think is the spinner freezing up my browser completely until it loads..you can't expect anyone to use that...I felt like it was/is so close.. 2.0.9 would and might still be usable but the top level category filter is an issue for my client..the import process is so slow to

[2016-10-21 04:29] wclsandipan commented on #6924
No. It worked with 2.1.0 CE as well, there would be some issue with server configuration I guess, as we have transferred the site to another server, it started working. I need to ask the server administrator about the difference.
I guess you can close ticket as the original author of this ticket is not responding.

[2016-10-21 04:53] caseyjonesaustralia commented on #2732
Change to developer mode - this disabled the bundling which seems to be causing the issue.
Once in developer mode, change the settings in Developer > Javascript Settings

[2016-10-21 04:59] rip057 commented on #5236
the attribute_id 63, from what i can tell, and this is only due to my self made api that only interfaces with the mysql db to create categories, products, pictures, etc.  i digress, while i dont know specifically what table attribute_id 63 is in, 61 is in catalog_category_entity_varchar , 62 & 65 are in catalog_category_entity_text , 60 is in catalog_category_entity_text , so instead of the catalo

[2016-10-21 05:02] rip057 commented on #6415
[mysqld]
innodb_data_file_path=ibdata1:10M:autoextend
tmp_table_size=50M
max_heap_table_size=50M

in /etc/my.cnf and a restart of mariadb fixed this for me.

[2016-10-21 05:14] brendanbell commented on #2666
Hi,

So Im experiencing an issue with relation to the above.
1. I'm running on Mage 2.1.2
2. I have been importing a number of products all using remote urls. During the import process everything is fine, then when loading a new bunch of images from a website I started to see the following error during the import.

![error_1](https://cloud.githubusercontent.com/assets/1163263/19587116/7c15885a-97a

[2016-10-21 06:32] apurv-anand commented on #7100
How about customer experience? The customer would keep seeing 4 then 0 then 4 and then 0 again... (assuming 4 is the no of items in the cart) while he/she is browsing the site for more products. This is more amplified on a slower network where 0 would stay for longer time.

Technical solutions should cater in a way that customer exp is not affected, not the other way round.

How do you propose to

[2016-10-21 06:44] ericahoekerd commented on #5330
Hi Mark, great finally :-) ! Thanks and I appreciate your effort to dive into this!

[2016-10-21 07:21] MarkB42 commented on #5330
@mbrinton01 Thanks for re-opening this bug. Much appreciated.

[2016-10-21 07:53] sevos1984 commented on #6852
I can't reproduce this, what is you server timezone and customer's timezone?

[2016-10-21 08:00] thaopw opened #7116 "Need to trim namespace value in .xml files"
### Preconditions
1. Magento CE 2.1.x
### Steps to reproduce
1. Declare a namespace (includes a space character or newline) like value in `.xml` files tags

E.g:
- `<argument name="productDataProvider" xsi:type="object"> Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider </argument>`
### Expected result

1. Similar declare (ignore newline, space in tags value) :

   `<argument name="produ

[2016-10-21 08:27] sma09sjb commented on #7051
Hi @veloraven unfortunately that link isn't working for me, i'm assuming it's purely for internal use.

This error occurred on a  customer environment we were using to test our site.

Can you confirm this is a Magento bug and if so when i can expect some resolution?

Thanks,

Sophie

[2016-10-21 08:40] sevos1984 commented on #6787
Thanks, I found ticket for this problem MAGETWO-58335 it will be soon delivered.

[2016-10-21 08:50] sevos1984 commented on #6465
@kweij Does solution from @Dart18  help?

[2016-10-21 08:50] sippsolutions opened #7118 "Switching cms widget type and then trying to insert into editor fails"
### Steps to reproduce

1. Go to Admin => Content => Block => New Block
2. Click the widget add button
3. Select "CMS Page Link"
4. Select "CMS Static Block" (same select element)
5. Configure widget
6. Click "Insert widget"
### Expected result

1. Widget gets inserted
### Actual result

1. Insert fails.

var validationResult is false in "lib/web/mage/adminhtml/wysiwyg/widget.js" because magento t

[2016-10-21 08:56] sevos1984 commented on #4671
Is this still actual?

[2016-10-21 08:58] sevos1984 commented on #4841
Try upgrade to latest magento version, run full reindex and clear all caches. Reply if this helps.

[2016-10-21 09:06] fvschie commented on #7084
I meant the list of all possible statuses.

We want to trigger a campaign, but not all customers assign statuses to states properly, so we'd rather allow them to select statuses that should trigger the campaign.

Should probably be in the same endpoint as the store config, as that's where you configure it in the Admin panel.

[2016-10-21 09:09] sevos1984 commented on #7014
Have you cleared browser cache?

[2016-10-21 09:22] yariksheptykin opened #7119 "Field not sanitizied for HTML tags."
[removed content of security report]

[2016-10-21 09:34] SerhiyShkolyarenko commented on #6917
@williambize looks like the issue root is in your theme. Your dump didn't work for me with your value of  design/theme/theme_id(table core_config_data), I changed id to 1, went to product page and added it to cart successfully.
Is the issue reproducible for you on clean magento installation?

[2016-10-21 09:36] YevSent commented on #6941
Hi @PierAlex, thanks for reporting and please provide more details about:
1. What type of PayPal integration do you use?
2. Your payment action is `authorization` or `sale`?
3. Do you use checkout for authorized or guest customer?
4. The billing address the same as shipping?

Also, please, enable debug mode for PayPal integration in the Magento admin configuration and attach debug log with request

[2016-10-21 09:40] sneha-sukumaran opened #7120 "We can't find quote item error on configurable product after updating item in IE 11"
### Preconditions
1.  Magento 2.0.10
### Steps to reproduce
1.  Install Magento 2.0.10 with sample data
2.  In IE 11 load magento site frontend
3.  Add a configurable product to cart.
4. Goto cart page and click edit item icon.
5. Will be redirected to Product page, Select options and click update cart
### Expected result
1. Cart item updated and rediect to shopping cart page
### Actual result
1.

[2016-10-21 09:49] grasdaggel commented on #7014
Yes, have done that. Can't reproduce the error anymore, because we've purged M2.1.2 from the server and installed 2.0.9 from scratch again.

[2016-10-21 09:55] alena-marchenko commented on #4580
Hi @SidneyBilliet

The fix is delivered to develop branch. Closing the issue.

[2016-10-21 09:55] #4580 closed, assigned to alena-marchenko

[2016-10-21 09:55] YevSent commented on #6827
Hi, @janepoltoratskaya. We are closing this issue because it hasn’t been updated in more than two weeks.
If you can still reproduce this issue, please, be free to reopen it.

[2016-10-21 09:55] #6827 closed, assigned to alena-marchenko

[2016-10-21 10:11] joshdifabio opened #7121 "It's possible to create multiple products with the same SKU"
### Preconditions

This issue exists in current HEAD in the develop branch (0c6227d2c0b68f55bc1d7fb0e878a3c597b50653). The bug is very apparent from looking at the code. The environment is irrelevant to the issue.
### Steps to reproduce

Save a non-existent product more than once simultaneously (e.g. via the REST API).
### Expected result

For all but the "winning" save operation (i.e. the one whi

[2016-10-21 10:16] alena-marchenko commented on #6897
Hi @sneha-sukumaran

Are you able to reproduce this issue on the latest develop branch?
Thank you.

[2016-10-21 10:24] SerhiyShkolyarenko commented on #6911
reproduced on v. 2.1.2, but it's fixed in develop branch.

[2016-10-21 10:24] gorillagroup commented on #7062
@veloraven CatalogImportExport module not present in EE code pool.
This module is used in both CE and EE.
CatalogImportExport module get's inherited from CE code pool in Magento EE.
Please reopen a ticket.

[2016-10-21 10:35] gorillagroup commented on #7062
#7089

[2016-10-21 10:45] sneha-sukumaran commented on #6897
@alena-marchenko  I did not check it on the latest branch. But i think it should be reproducible.

[2016-10-21 10:56] sneha-sukumaran opened #7122 "Flyout cart not updating in https pages"
### Preconditions
1.  Magento 2.0.10
2. SSL Certificate
### Steps to reproduce
1. Install magento 2.0.10
2. Set https for base secure urls for frontend in admin
3. Goto frontend add a product to cart. Observe the minicart items and count. Count will be one and the product will be displayed in minicart
4. From mini cart click view/edit cart, this will take to cart page(which is https)
5. In cart pa

[2016-10-21 11:06] JacobDrummond commented on #6858
@sma09sjb,

I had a similar issue with Date fields in #6323.

@mmansoorebay pushed two commits ([#1](/magento/magento2/commit/910b93709170f94d0558b0e4d31f825ac96b6fbc), [#2](/magento/magento2/commit/5632d2a9e75023c432c220db58d53dcca8768283)) to rectify the issue. Do these fix your issue?

[2016-10-21 11:21] sneha-sukumaran opened #7123 "Auto suggestion not working in my account page with https"
### Preconditions
1.  Magento 2.0.10
2. SSL Certificate
### Steps to reproduce
1. Install magento 2.0.10 with sample data
2. Set https for base secure urls for frontend in admin
3. Login to magento frontend
4. Goto My account page
5. Click on search bar and type a text ex: pan
### Expected result
1. Autosuggestion's for "pan" will be displayed
### Actual result
1. No Suggestions shown

When i chec

[2016-10-21 11:26] thdoan opened #7125 "Number input fields have invalid 'maxlength' attribute"
### Preconditions

1. v2.1.1
### Steps to reproduce

1. Open `module-catalog/view/frontend/templates/product/view/addtocart.phtml`

Note that `addtocart.phtml` is just one example -- there could be other number inputs with the `maxlength` attribute in other templates.
### Expected result

1. Number input fields can have `min` and `max` attributes, but not `maxlength`, which is only applicable to t

[2016-10-21 11:28] channelriyas commented on #6929
Same Issue facing on Magento 2.1.2. any solution ?

[2016-10-21 11:31] royduin commented on #4255
Thanks @Yogesh7989, works great! I think the migration script should do this... agree @ilol? I did some research and it looks like for 1.7 we need the `Version11410to2000` migration instead of the `Version191to2000` for Url Rewrites but I haven't tested it.

[2016-10-21 11:39] sdroid-vie commented on #7111
I solved it by deleting everything. It currently works. On the old system I have updated from 2.1.0 to 2.1.2, maybe this played a role.

[2016-10-21 11:40] #7111 closed, assigned to nobody

[2016-10-21 11:56] bartoszkubicki commented on #6392
Hm, I am not sure how to make a patch, so for now I will post a code of block:

[code]

and it is added inside `catalog_category_view.xml`:

`<referenceBlock name="category.products.list">
                        <block class="[VENDOR]\SkinHelper\Block\Catalog\Product\IsInWishlist" name="name_catalog_isinwishlist" cacheable="false"/>
  </referenceBlock>`

Works for me only with `cacheable="false"`

[2016-10-21 11:58] lhsatch commented on #7102
Have you turned on developer mode?

[2016-10-21 12:01] tkacheva commented on #2697
Internal issue MAGETWO-50525

[2016-10-21 12:02] veloraven commented on #3510
Internal ticket MAGETWO-59942

[2016-10-21 12:07] lhsatch commented on #7113
Hi,
Have you checked with your hosting provider to see if emails/newsletters are being sent out and by which email address. If you are not using SMTP then the email address that the emails are being sent from may be being blocked.

[2016-10-21 12:19] veloraven commented on #3560
@karishmadaffodil as I can understand the original issue was solved.
If you have any additional questions please address them  to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions as The GitHub issue tracker is intended for technical issues only.
If you can still reproduce this issue, please create

[2016-10-21 12:19] #3560 closed, assigned to nobody

[2016-10-21 12:28] lhsatch commented on #7087
If you take a look in vendor\magento\module-configurable product\view\frontend\templates\product\view\type\options\configurable.phtml you will see a call to $block->getJsonConfig(). This function contains all the data you will probably need relating to the dropdown values of a configurable product. The only problem is that it currently is only setup to get the current product. In your list.phtml f

[2016-10-21 12:32] suraleb opened #7126 "magento 2.1.2 Configurable product "%1" does not have sub-products"
magento 2.1.2 php 5.6
Create product
Create 2 attributes color
Save product

On product page receive exception:

1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Configurable product "test bag2" does not have sub-products

Exception #0 (Magento\Framework\Exception\LocalizedException): Configurable product "test bag2" does not have sub-products
#0 /media/sf_Projects/sv

[2016-10-21 12:36] lhsatch commented on #7082
Can you show your full di.xml file including the schema declaration and xml tags.

[2016-10-21 12:46] NadiyaS commented on #6260
Hi @afavata ,
if this issue is very critical for you, you can use our fix for now (see commits [cc5cd56](https://github.com/magento/magento2/commit/cc5cd5606745e6050de5074b21b7d3a7bae79e02) and [cd5bb2d](https://github.com/magento/magento2/commit/cd5bb2dece341552e0ee41b358d4baedcc9e37f6), so you need to do changes in 2 files: vendor/magento/magento2-base/setup/src/Magento/Setup/Module/I18n/Context

[2016-10-21 12:50] lhsatch commented on #7050
Could it be an issue with your CDN. I noticed that there was an error relating to Cloud flare in the console.

[2016-10-21 12:51] sma09sjb commented on #5618
Has this been fixed? We're experiencing a similar issue with the setting Mask for Meta Keywords when this is empty, i.e. we're not using the system value.

I suspect all the fields in this config section are causing the same error but i don't know for sure.

This is not ideal as for SEO purposes we're we're hoping to have no meta keywords.

Any update would be greatly appreciated.

Thanks,

Sophie

[2016-10-21 12:52] lhsatch commented on #7039
Try changing to developer mode and using di compile

[2016-10-21 12:57] Asitis commented on #6929
Same for me :/ somehow glad to see it's not us, but damn, another critical bug? Where does it end...

[2016-10-21 13:08] lhsatch commented on #6975
Have you setup your cron.

[2016-10-21 13:10] amarroni commented on #6977
Hi @vikty, thank you so much for your response. I'll try to update my instance and I'll let you know.
Right now I'm running other project with 2.2-dev version I will to apply other order there too.

Thank you so much,
Best,
Alejandro.

[2016-10-21 13:25] measureddesigns commented on #3545
Still have this issue in Magento CE ver. 2.1.2.
Any news on when this might go live?

[2016-10-21 13:28] openmagecz commented on #3214
Also having the same issue on Windows 10 using EasyPHP DEVSERVER. Everything done using this tutorial from Amasty - https://blog.amasty.com/how-to-install-magento-2-php7-localhost/ - but getting also "_Could not parse theme static file .../vendor/magento/theme-frontend-blank/web/css/email-fonts.less_". In frontend and backend, all icons are broken. Some idea? Have bought EasyPHP to be able to chec

[2016-10-21 13:32] redelschaap opened #7127 "Decimal input validation (for product attributes) fails with some locales (adminhtml)"
When using a language that uses a comma as a decimal separator, input fields with decimal validation act weird and fail to validate. This happens with product attributes, I haven't tested it with input fields on other pages.
### Preconditions

Using Magento 2.1.2 on nginx, PHP 7 and MySQL 5.6 with admin language set to Dutch (Nederlands for The Netherlands).
### Steps to reproduce
#### Saving a pr

[2016-10-21 13:35] tkacheva commented on #7092
@grasdaggel Plese help to understand the use case you are trying to do?

[2016-10-21 13:35] tkacheva commented on #7092
Issue MAGETWO-59944

[2016-10-21 13:43] comdiler opened #7129 "No Puerto Rico in Directory Module"
### Preconditions
1. Magento CE. Tag 2.1.2
### Steps to reproduce
1. Open Admin Panel
2. Create New Customer
3. Add New Customer Address
4. Select Country "Puerto Rico"
### Expected result
1. Puerto Rico should be present in list
### Actual result
1. No Puerto Rico in list

![screen shot 2016 10 21 at 15 40 57](https://cloud.githubusercontent.com/assets/1975805/19600382/0de60852-97a5-11e6-903c-ca5

[2016-10-21 13:44] redboxmarcins commented on #5157
Any update on this ticket?
I already have another example where preference is not working after compilation

`<preference for="Magento\Framework\Data\Form\Element\Editor" type="Vendor\Name\Block\Element\Editor" />`

[2016-10-21 13:46] lhsatch commented on #6797
Can you post your addtocart.phtml file (module-catalog\view\frontend\templates\product\view\addtocart.phtml) or if your module is using a different addtocart file can you upload that.

[2016-10-21 13:53] veloraven commented on #3923
I was able to reproduce this issue: in case when admin who import products uses different locale than the one who made export.
Internal ticket: MAGETWO-59946

[2016-10-21 14:01] dthampy commented on #6858
internal jira ticket has been created -MAGETWO-59937

[2016-10-21 14:01] #7129 closed, assigned to nobody

[2016-10-21 14:24] sevos1984 commented on #6888
You can't do this at the moment. You can add them in order you need, or change value in catalog_product_link_attribute_int table.

[2016-10-21 14:25] #6888 closed, assigned to nobody

[2016-10-21 14:36] badtad opened #7130 "Magento 2.1.0 Admin Front End Pages not Working - Fresh Install"
Performed an install of Magento 2.1.0 from PLESK Panel.    Website loads with LUMA frontpage which is fine.    When I login to the admin panel, the panel appears ok until I go to:
1. Content -->Design---> Configuration wherein I get a blank screen.
2. Products-->Categories-->Add Subcategory  wherein the frontend does not allow me to input a subcategory
3. Products-->Catalog-->Add Product  where th

[2016-10-21 14:51] rob1256 opened #7131 "Magento 2.1.2 Private Scope Blocks Caching"
### Preconditions
1. Magento 2.1.2
2. PHP 7
3. MySQL 5.6
4. Nginx
### Steps to reproduce
1. Set `$this->_isScopePrivate = true;` in your block constructor (after `parent::__construct()`)
2. Load a page with the block displayed and FPC enabled
3. Change the contents of your block
4. Reload page
### Expected result
1. New block content displayed as content is AJAX'd in via `/page_cache/block/render/

[2016-10-21 14:57] hamdrew opened #7132 "Magento installs several Magento_TestModule modules"
### Preconditions
1. Magento CE 2.1.0, obtained using Composer: [my composer.json file](https://gist.github.com/hamdrew/6d4eca506e362b318f8e9f0e63ef3729)
2. `{MAGE_ROOT}/app/etc/config.php` exists and does not have any _Magento_TestModule_ modules listed.
### Steps to reproduce
1. Run the Magento CLI installer with an empty database
### Expected result
1. Magento should only install the modules li

[2016-10-21 14:59] grasdaggel commented on #7092
I've found out that the item_id is the ID from the quote. The table for the quotes itselfs hold each item_id together with the foreign key, the product ID. I wasn't able to find any Mage-hooks to get the product ID by item_id and therefore I've build a dirty ajax which does a manual SQL query... That solved my problem.

So, in short:
- item_id => item cart id for respective current quote, not the

[2016-10-21 15:00] veloraven commented on #4642
Internal Ticket was created MAGETWO-59954

[2016-10-21 15:00] grasdaggel commented on #5231
Any update on this? Its been a while.

[2016-10-21 15:01] grasdaggel commented on #5520
This bug still exists in Magento 2.0.9. It still not fixed.

[2016-10-21 15:15] convenient commented on #6942
Theoretically if your instance was vanilla and your website suffered this error, would the output look similar to this?

![image](https://cloud.githubusercontent.com/assets/600190/19603578/9d291578-97a9-11e6-8458-df5ed0821277.png)

[2016-10-21 15:19] sevos1984 commented on #6882
Thanks for reporting, internal ticket created MAGETWO-59955

[2016-10-21 15:23] commalex commented on #5527
URL key for specified store already exists. - I'm getting this error when trying to upload products via CSV.  Have truncated all the SQL tables relating to products, but still some underlying issues.  The products are enabled, with a stock level, but products not coming up on my front end.  Using A configurable products and 6 children from 2 variation types, size and material.

SQLSTATE[23000]: In

[2016-10-21 15:25] alena-marchenko commented on #5934
Hi @jernejh

Fix for MAGETWO-56345 tickets is merged to develop branch, closing the issue.
Thank you.

[2016-10-21 15:25] #5934 closed, assigned to alena-marchenko

[2016-10-21 15:25] MomotenkoNatalia commented on #7067
Hi @slackerzz
.lib-popup(); mixin works as expected. It is less mixin that set popup styles without JS.
Anyway, I created  internal ticket (MAGETWO-59956) to verify and probably modify our documentation for popup mixin.
Moreover, we have huge epic to improve our documentation of UI library.

[2016-10-21 15:26] alena-marchenko commented on #6798
Hi @aaronallen8455

Fix for MAGETWO-59149 tickets is merged to develop branch, closing the issue.
Thank you.

[2016-10-21 15:26] #6798 closed, assigned to alena-marchenko, viktym

[2016-10-21 15:37] davidaddison commented on #5639
Do we have a fix on this yet?  This one is a big problem for any store with significant order volume.

[2016-10-21 15:39] afavata commented on #6260
Hi @NadiyaS
thank you for your quick reply. I followed your suggestion changing the two files as follow:
I have copied the whole content of file **Context.php** and **AbstractFile.php** both at version **cd5bb2d on Sep 7** and pasted respectively in

[code]

Then I submitted the command:
`bin/magento i18n:pack -m replace -d source_it_IT.csv it_IT`

Result... a folder **i18n** was created in the sy

[2016-10-21 16:20] jernejh commented on #5642
@brianschroeter , @jvreeken - it wouldn't be a problem at all, if Braintree wouldn't be so restrictive for smaller companies outside US (company of one of my clients got refused by Braintree. On the other hand, they had no problems registering with Authorize.net). So, now what, wait over a month for 2.1.3 release which won't fix the problem again? Magento development team, c'mon 👎

[2016-10-21 16:35] graffxdesign commented on #5642
@brianschroeter do you think someone can just make a direct post module? I would think that would be the best solution.

[2016-10-21 17:00] brianschroeter commented on #5642
@jernejh Ah, that certainly is a problem. I don't know when / if this'll be fixed, as it was apparently fixed (as per the comments above), but there is no commit referencing this ticket. Furthermore, the dev files do not fix this issue (I've tried), and the last changes to the authorize.net module had nothing to do with this.

@graffxdesign That was the route that I was going to take, until my cli

[2016-10-21 17:28] kandrejevs opened #7135 "Cart price rule save/edit sets coupon expiration date to today"
Creating new cart price rule with specific coupon sets exipiration_date for coupon to today causing coupons to stop working after midnight (takes in account only Y-m-d)

Magento CE and EE 2.1.2, nginx, php7
### Steps to reproduce
1. Create cart price rule
2. Leave "From" and "To" dates empty (they are not required)
3. Save cart price rule
4. Expiration dates are set to today

for rule settings ple

[2016-10-21 17:52] Rich07082 commented on #5642
Does anyone know what was the last version of 2.x.x that worked?

I see most people talking about a problem with Authorize.net but I just wanted to say I'm having the same issue using Paypal payflow.

I've also tried Braintree in sandbox mode and was able to get guest orders through with only one address line but if I tried to login with an account that was created already the order would fail wit

[2016-10-21 18:03] jernejh commented on #5642
Maybe I was not clear in previous posts, in both 2.1.1 and 2.1.2 I am still getting trouble with the infinite spinner for failure scenarios (entering test visa card number for instance), but for valid credit card numbers I was able to successfully finish the payments through Authorize.net.

[2016-10-21 18:04] graffxdesign commented on #5642
So I tried it in the admin backend and it does show the error at least and the wheel doesn't spin for ever. I still got the standard email from auth.net saying that the script timed out. So I tried to it with a valid card, my card was charged but I got this error below. It seems like the response from auth.net is getting lost when it is supposed to hit magento.

`Order saving error: SQLSTATE[23000

[2016-10-21 18:05] graffxdesign commented on #5642
@jernejh So on a successful transaction it worked fine for you?

[2016-10-21 18:26] jernejh commented on #5642
@graffxdesign - I just tested 2.1.2 version and I was able to get the payment through. so, both 2.1.1. and 2.1.2 have the same behaviour - for positive scenario (valid credit card number), the payment gets through successfully, while for negative scenario (invalid test Visa number 4111111111111111), I am experiencing indefinite spinner problem - https://github.com/magento/magento2/issues/6474

[2016-10-21 18:34] Rich07082 commented on #5642
Jernejh,
  Is that with one or two address lines?

Do you have any other work around that your using?

I've been unable to get payments to go through trying multiple options?

How about guest checkout or logging in with a previously created account with two address lines?

Rich

[2016-10-21 18:44] andidhouse commented on #6609
@tkacheva not shure why you remove the frontend label here? This is a frontend issue? Can you pls confirm the issue?

[2016-10-21 19:01] jernejh commented on #5642
Street address was in one line. In 2.1.1, I was able to do successful payments for both guest and logged in users. This time (for 2.1.1) I tested only for guest user - it worked. I never tried two address line scenario.

@Rich07082 what do you mean by workaround? I was not messing with Magento core code,

I ticked off just the following security options in authorize.net:
- Reject Transaction If Ca

[2016-10-21 19:19] Rich07082 commented on #5642
what i meant by a work around was using only one address line instead of the two default.

Rejecting the CCV code value not matching I would consider a work around.  I would think you'd want to use this for fraud protection.

Transactions not submitting billing address I would consider a work around also being you would want the billing address submitted for zip or avs verification.

Rich

[2016-10-21 19:38] graffxdesign commented on #5642
Okay, so I think at this point we need to have someone build a direct post module that we can all use. Do any of you have any developers that are up for the task asap? I can throw some cash in if someone wants to handle the programmer, or if you have one I can manage him and give you all the files when it is complete.

[2016-10-21 20:01] dmcmillin commented on #6975
Yes, it works just fine.

[2016-10-21 20:17] dmcmillin commented on #7113
I actually partially fixed the problem return sender as yes under configuration. However, its now doing this as following as the return email. info@xxxx.com CustomerSupport@ip-x-x-x-x.ip.secureserver.net

[2016-10-21 20:30] lhsatch commented on #7113
Magnetos email is using the server user as the from address. You can ask your hosting provider to map outgoing email addresses to the address set in magento or you can get a free SMTP plugin and ask your hosting provider to send emails from SMTP.

[2016-10-21 20:34] dthampy commented on #5533
Thanks for the bug report. Internal jira ticket MAGETWO-59962

[2016-10-21 20:35] dthampy commented on #5533
#6855

[2016-10-21 20:36] dthampy commented on #5533
Similar to [#6855](url)

[2016-10-21 20:38] Ctucker9233 commented on #3063
@ajpevers for those of us that don't/can't use composer, how do we get the fix?

[2016-10-21 20:39] gabs77 commented on #5820
Having the same problem in 2.1.2.

[2016-10-21 20:42] Ctucker9233 commented on #3507
@mohsinrasool @rbostan have you tried removing the entire vendor folder and then reloading a clean vendor folder from your magento version? Worked for me.

[2016-10-21 20:45] Ctucker9233 commented on #6716
@alena-marchenko is there a commit reference?

[2016-10-21 20:47] PieterCappelle commented on #6817
Any update on this issue? I don't think it's in development branch yet.

[2016-10-21 20:48] dmcmillin commented on #7113
this seems more like a bug than a hosting issue. Especially considering I had never encountered this issue in 1.9.x.x

[2016-10-21 20:55] lhsatch commented on #7113
It would be interesting to find out the from address (within the email headers) your emails were being sent from before you upgraded. Some email clients such as hotmail can be quite strict as to let an unauthorised email be allowed to pass through. Setting up SMTP is the best way when dealing with php based email sending.

[2016-10-21 21:04] sharmashashank342 opened #7136 "Session Issues"
I have faced an unimaginable issue related to Session between 2 Magento 2.1.0 Running on Parallel Folders of Same Server.

1st site URL : http://104.236.212.58/e3donline/
2nd site URL : http://104.236.212.58/splash/

i was facing a bit issues of Minicart Functionalities on my 1st site but was working fine on 2nd Site
so i choose to Debug the issue.

I added the Product Named Nike Dry Team Brazil,

[2016-10-21 21:14] Ctucker9233 commented on #5101
@SerhiyShkolyarenko So how hard would this have been to include in 2.1.2? It's just adding a comma to four files. I'm trying to understand the methodology here. I understand needing a cutoff point, at some point you have to ship what you have. But a lot of these fixes are no brainers and it's hard to understand why many things that had fixes prior to 2.1.2 were not included.

[2016-10-21 21:16] devdesco-ceo opened #7137 "Rest API V1 on Checkout/cart address request eror 404"
When on checkout/cart page, the system shoots 500 error on POST, and 404 on GET request at /rest/frca/V1/carts/mine/estimate-shipping-methods URI.

If I try just GET request on /rest/frca/V1/carts/mine/, proper XML response is generated.

The following exception message is being logged upon the error:

I am running latest M2 2.1.2 under PHP7.0.12 with Nginx in front.

[2016-10-21 21:18] dmcmillin commented on #7113
from address was whatever address I specified within m1. for some odd reason, m2 is sending out as if for name it's expecting an email address rather than a name.

[2016-10-21 21:28] PierAlex commented on #6941
Hi @joni-jones,
1. Website Payments Standard
2. Sale
3. Checout for registered customer
4. No

I can't provide logs, sorry.

Thanks.

P.S. I'm upgrading to the 2.1.2 and it seems that something has chenged.

[2016-10-21 21:45] lhsatch commented on #7113
I bet magento 1 was sending emails out using serverusername@serverdetails,com but you would never know unless you checked the email logs with the hosting provider. I stumbled across this when a client said that customers that have hotmail emails were not receiving order detail emails but other customers were . Further investigations led to finding out the email from the header was actually using t

[2016-10-21 22:53] PierAlex commented on #6941
...same problem on 2.1.2

[2016-10-21 23:14] adityag186 opened #7138 "Cannot access web setup wizard from admin panel"
### Preconditions

magento version 2.1.1.
1. Magento version 2.1.1. Trying to upgrade to 2.1.2
2.  Logged in from admin account
### Steps to reproduce

1. Log in to magento panel
2. Go to System-> Web Setup Wizrrd
3.
### Expected result

1. Should be able to access web setup wizard and update magento
### Actual result

1. See the following message -
   Welcome to Magento Admin, your online store h

[2016-10-21 23:54] Ctucker9233 commented on #6564
@SerhiyShkolyarenko is there a commit reference?

[2016-10-22 00:23] TheNavigat commented on #7028
@veloraven I apologize, the issue is updated!

[2016-10-22 02:23] graffxdesign commented on #5642
Not sure this is the issue, but it looks like it might be sending the month as single digit, maybe that is causing an isssue? I will test it out.

[2016-10-22 06:13] pncookson commented on #6793
I have the same problem.  Magento 2.12 :-(

[2016-10-22 08:00] PierAlex commented on #6941
...in addition, on 2.1.2, enabling debug mode for paypal, i can see in the log file that values for:
COUNTRYCODE, STATE, CITY, ADDRESS, ZIP, PHONENUMBER
are the same as
SHIPTOCOUNTRYCODE, SHIPTOSTATE, SHIPTOCITY, SHIPTOADDRESS, SHIPTOZIP, SHIPTOPHONENUMBER
and that those values come from the shipping address provided in Magento.

Billing address is not provided to paypal.

[2016-10-22 09:18] YevSent commented on #6941
@PierAlex, COUNTRYCODE, STATE, CITY, ADDRESS, ZIP, PHONENUMBER - there are billing address details. By default billing address the same as shipping, do you have different billing address for the customer?

Without debug logs it's hard to understand what happens.

[2016-10-22 09:51] hocomadvies commented on #4575
@perfpcs I managed to get it going after an update to 2.1.2 on my own vps. Only falling in other problems. Where did you get the 2.1.3 version from? Github? I like to update to that as well.
I now installed the tar.gz version from Magento.com. and getting Cannot gather stats! Warning!stat(): stat failed for /var/www/html/pub/media/catalog/product/i/m/i0351.jpg seems that should be solved in the 2.

[2016-10-22 10:02] hocomadvies commented on #7032
Hi I decided to upgrade to a higher version on a other server (2.1.2) now the spinning wheel problem has gone. Only end up with other problems instead! So this can be closed and wait for #6737 to be solved

[2016-10-22 13:15] peec commented on #6869
I can reproduce. 2.1.2 . Production, one of our customers have the same problem. We lost a sale on this just now. This is urgent! When shipping methods gets refreshed, it clears the first shipping address as the selected shipping address - which makes step 2 of checkout not completed.

[2016-10-22 13:36] bartoszkubicki commented on #6392
tested on clean Magento instance - 2.1.2 and doesn't work if it's not marked as `cacheable="false"` or FPC is not disabled.

[2016-10-22 14:48] redelschaap opened #7140 "Magento\Cms\Api\Data\PageSearchResultsInterface::getItems() returns wrong type"
According to the documentation, `\Magento\Cms\Api\Data\PageSearchResultsInterface::getItems()` should return an array of `\Magento\Cms\Api\Data\PageInterface` objects, while it currently returns an array of arrays.
### Preconditions

I am using Magento 2.1.
### Steps to reproduce

[code]
### Expected result

According to the documentation, I would expect `$pages` to be an array of `\Magento\Cms\Ap

[2016-10-22 15:06] graffxdesign commented on #5642
So we fixed half of the issues, it will now process a payment and send you to the success page, it will also refresh the page after a failed transaction. The issue is with the 'region language detect'. I will get you more info ASAP.

[2016-10-22 18:42] convenient commented on #6942
I've spent an hour or so playing and have a few thoughts, although sadly no solution. I hope I actually get my hands on a demonstrable case of this bug at some point in the future.

### M1 and configuration corruption

There were multiple errors that could cause config corruption in M1, aside from the cache locking race condition (https://github.com/convenient/magento-ce-ee-config-corruption-bug#u

[2016-10-22 19:07] IlyaSkriblovsky commented on #2022
@antboiko ~~Hi, Anton. I have Magento 2.1.2 installed and default quantity is zero for me too. Is it something wrong with my configuration?~~

Never mind, I've messed up with inventory settings

[2016-10-22 19:15] ghost commented on #7038
I've noticed that sometimes the order is there but won't show up in Sales-> Orders until you sort/re-apply a filter. Try hitting the date purchased, for example, and see if the newest order floats up.

[2016-10-22 19:16] diode-dynamics commented on #6764
@lexbeelen thank you for posting the issue. We are experiencing exactly the same thing, but unfortunately your posted extension did not resolve it. Do you have any additional suggestions you came across in diagnosing the problem?
EDIT: Sorry, did not execute installation properly. Works great, thanks so much!

[2016-10-22 19:46] ghost opened #7141 "Fedex Plugin Doesn't support LTL only Air Freight"
Fedex Plugin Doesn't support LTL only Air Freight. Only 1 Day, 2 Day, and 3 Day freight work. I called fedex and they said its not sending the appropriate data to there service for this to work.

[2016-10-22 19:48] sinamiandashti commented on #2241
@davidalger is the payment operation gonna change in 2.2 completely ?

[2016-10-22 21:31] ziiljuks commented on #5808
Same happens for me but on desktop view (laptop with touchscreen if that somehow changes things).
Ubuntu 16.04. Clean M 2.1.2 install. Luma theme, developer mode, cache disabled.

With mouse clicks and touch.

[2016-10-22 22:13] PierAlex commented on #6941
@joni-jones
it is exactly what I'm reporting.
In the fields: COUNTRYCODE, STATE, CITY, ADDRESS, ZIP, PHONENUMBER there are values related to the shipping address and not to the billing address.

The customer has 2 addresses, 1 is the default billing address and the other one is the default shipping address.
To Paypal, only shipping address data are sent. In the fields for billing address there are

[2016-10-22 22:50] bvboas opened #7143 "Paypal Express Checkout - Address Required Fields Issue"
### Preconditions
1. Magento 2.1.2
2. Paypal Express Checkout Enabled
### Steps to reproduce
1. Add Product to Cart
2. Click Checkout with Paypal on minicart
3. Go to Paypal, login
4. Selected an address, and click "continue"
5. get redirected back to the store specific Paypal checkout page
6. Order
### Expected result
1. An address form should be presented to the user to fill required fields
###

[2016-10-22 22:55] PierAlex opened #7144 "Minicart shows always the base image for configurable product but not the base image for the options selected"
Magento 2.1.2
 Plesk 12.5.
 Apache 7.08
 MySql 5.6.29
 Nginx
### Steps to reproduce
1.  Create configurable product with many different color
2.  set different images per color attribute
3.  add product to cart selecting a color that is different from the base image of the product
### Expected result
1. in the minicart i see the base image for the choosen color
### Actual result
1. in the minicart

[2016-10-23 02:23] ghost opened #7145 "Possible to set sales rules/coupons with expiration dates before effective date."
Magento 2.0.9 and greater
### Steps to reproduce
1. Create a cart price rule (or catalog rule)
2. Set a normal start date
3. Set an expiration date before the date, in our case it was set to some date in 1942
### Expected result

1. Magento 2 shouldn't allow this to begin with, form should validate that you have set the date to something ridiculous.
### Actual result

The rule doesn't work, as exp

[2016-10-23 03:57] ooples commented on #5547
I'm getting this error as well. Is there a fix that will be released soon?

[2016-10-23 12:13] postadelmaga commented on #1018
should we expect any fix for Magento 1.x ?

[2016-10-23 14:20] nomuprive commented on #6917
@SerhiyShkolyarenko I reply via email but didn't hear back from you so I will add my reply here...

I did try changing the theme before and didn't see any change. But when you mentioned that again, I tried it one more time by switching to Luma the Magento default theme and click on "Add to Cart". It redirected to cart page, but the product was not added to the cart. So I doubt if the issue is with

[2016-10-23 17:07] ghost commented on #5808
@ilol any update on this?

[2016-10-23 18:26] markdavies commented on #2758
This has now been reported and acknowledged here:
#4622

[2016-10-23 18:27] markdavies commented on #4622
This is still an issue months later, any update?

[2016-10-23 19:47] ooples commented on #4394
I'm having this error as well and I have attached my acl.xml file which seems to show the title attribute is correct. I'm using magento 2.1
[acl.txt](https://github.com/magento/magento2/files/546597/acl.txt)

[2016-10-23 20:11] orlangur commented on #7136
Hi @sharmashashank342,

Magento 2 is not intended to work in such configuration yet. You cannot have two Magento instances on the same host.

The problem is not in session but that local storage is shared among two of instances. To fix this you can add several aliases pointing to 104.236.212.58 IP address.

I'm not sure why it is not fixed yet by proper namespacing of local storage data as looking

[2016-10-23 20:52] orlangur commented on #7131
So, why content of private scope block should not be cached for concrete user in browser?

This is misuse of private scope block feature. You don't need excessive AJAX call each time cookie is deleted or added.

Yep, and also cache the result on client side so that AJAX call is not performed EACH TIME you open the same page.

[2016-10-23 20:55] orlangur commented on #7144
There is an option to control this behavior in Admin UI I believe: https://github.com/magento/magento2/blob/develop/app/code/Magento/ConfigurableProduct/etc/config.xml#L12 Not sure why is uses parent product image by default though.

[2016-10-23 21:02] orlangur commented on #7122
This seems to be fixed in `develop` but not delivered to 2.0/2.1 branches yet: https://github.com/magento/magento2/issues/6487#issuecomment-251943469 Fix seems to be easy to cherry-pick to me also.

[2016-10-23 21:49] ooples commented on #4394
@estaticfear What is the file path where the correct acl.xml is located?

[2016-10-23 22:22] Tjmstudios commented on #7093
@veloraven updating @claridgeandco issue with images.

![screen shot 2016-10-24 at 9 21 01 am](https://cloud.githubusercontent.com/assets/11372070/19629945/5ed7160c-99cb-11e6-956f-e8f4820fd5b4.png)
![screen shot 2016-10-24 at 9 21 31 am](https://cloud.githubusercontent.com/assets/11372070/19629944/5ed382f8-99cb-11e6-940e-c761f8d919fd.png)
![20 catalog price rule promotions marketing magento admin]

[2016-10-23 22:33] ooples opened #7146 "Can't edit or add new user role"
I try to create a new user role and the initial page is blank and when I hit save role, I get the following error:

Notice: Undefined index: rolename in httpdocs/vendor/magento/module-user/Controller/Adminhtml/User/Role/SaveRole.php on line 213

### Preconditions

1. Magento Version 2.1
### Steps to reproduce

1. Click on Add New Role
2. Page is blank except for save role so clicking on that is th

[2016-10-24 01:08] shahankitb997 commented on #6939
Hi @dthampy Any updates? You can look in to the StackOverflow for More detail

http://magento.stackexchange.com/questions/139587/magento-2-product-import-error-product-type-is-invalid-or-not-supported-dupl

[2016-10-24 01:25] ghost commented on #5713
I got the same error for a shipment module.

It tooks me 2 days to find what the problem was.

It was ... coding type of my registration.php was UTF-8 but all files must be UTF-8 (without BOM) and this problem was solved :)

So the shipping module was showing up in admin even with this UTF-8 problem, but in showing the product list I got this error (no relation, no attributes) but somewhere is som

[2016-10-24 01:58] povesma opened #7147 "active product_count in categories search"
It is very useful to know number of active products (status = 1) in the search categories API call. Currently we can see total number of all products (including disabled).
### Preconditions

Magento 2.1.2
### Steps to reproduce
1. /rest/V1/categories?root_category_id=24
### Expected result

{
  "id": 24,
  "parent_id": 23,
  "name": "Best Sellers",
  "is_active": true,
  "position": 2,
  "level":

[2016-10-24 02:55] blackworm commented on #4637
I also have same problem but on Magento version: 2.0.7
http://prntscr.com/cy4lkj
Cart display:
http://prntscr.com/cy4lmx

[2016-10-24 03:00] pantaoran commented on #2855
Yes, update by schedule, cron running every minute.

[2016-10-24 03:26] pantaoran commented on #5836
I was excited to read that, but it doesn't work for me. Saving the default category doesn't change anything, only manual (CLI) indexing will make the new product appear.

I also note that I don't have flat data.

Edit: after enabling both flat tables, the described workaround works! Saving the default category made the new product appear.

Another edit: I tried the above on a different M2 instance

[2016-10-24 04:49] qrider commented on #5236
for me it was a migrated default category. Lucky for me I planned to rebuild the categories anyway.

To fix it I added error handling to the core file temporarily around line 166 in module-eav/Model/ResourceModel/ReadHandler.php. I was then able to load the page and delete the category through the admin interface. You have to create and set a new default in your store else Magento will not let you

[2016-10-24 05:45] darrenjennings opened #7149 "Admin WYSIWYG upgrade to latest Tiny MCE 4.*"
On latest mangeto version, would love to see TinyMCE upgraded and maintained since Magento is several versions behind latest TinyMCE. https://www.tinymce.com/

Newest version should include integration with image uploading/resizing/editing, magento widget/variable insertion etc.

I've attempted to upgrade the core myself so as to offer a PR, but it broke too many things along the way. :)

[2016-10-24 06:19] muhsin-k commented on #7003
@veloraven Thanks for your answer:
There is  an api available for getting all the lables `{{base_url}}/index.php/rest/V1/products/attributes/:attribute_id/options`

[2016-10-24 06:19] #7003 closed, assigned to nobody

[2016-10-24 06:44] thdoan opened #7150 "Hidden fields are not used on the product page"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Go to /caesar-warm-up-pant.html and select a color and size.
### Expected result

1. The option values should be stored as hidden input fields (`<input type="hidden">`).
### Actual result

1. The option values are stored as normal text input fields and hidden using CSS, which is a bit hacky unless there is a good reason for doing it th

[2016-10-24 06:54] thdoan commented on #7150
I see this comment in the source (`swatch-renderer.js`):

Since the swatches already act as a quasi-validator by nature (i.e., you can't normally select an invalid color or size since only valid ones are rendered), hidden input fields should be used instead. If technically inclined types want to hack the code to add an invalid or out-of-range option, then there is no client-side solution that can

[2016-10-24 07:06] veloraven commented on #6656
@javiermartinezruiz thank you for report.
We have created internal issue MAGETWO-59973

[2016-10-24 07:37] SerhiyShkolyarenko commented on #6817
MAGETWO-58730 - commit e788a24 is delivered to develop branch too.
@PieterCappelle is the issue reproducible for you on the clean Magento installation? Which configuration changes have you performed?

[2016-10-24 07:37] tranductrong92 opened #7151 "Error when run code in external file/script in magento 2.1.2 PHP7"
### Preconditions

1. Magento 2.1.2
2. PHP 7.0
### Steps to reproduce

1. Run code in external file/script in root folder
2. Sample code

require **DIR** . '/app/bootstrap.php';

class App
    extends \Magento\Framework\App\Http
    implements \Magento\Framework\AppInterface
{
    public function launch()
    {
        echo "test";
        // test code here
        // must return the response

[2016-10-24 07:38] veloraven commented on #6855
I’m closing this issue because it is a duplicate. Please reopen this issue as needed.

[2016-10-24 07:38] #6855 closed, assigned to nobody

[2016-10-24 07:40] PascalBrouwers commented on #6855
Would be nice if you would mention the duplicate ;)

[2016-10-24 07:47] thdoan opened #7152 "Product page validation error message not in correct position"
### Preconditions

1. Magento v2.1.1
### Steps to reproduce

1. Go to /caesar-warm-up-pant.html
2. Without selecting a color or size, click on 'Add to Bag'
### Expected result

1. The color and size options should be highlighted alerting the customer which fields are incomplete.
### Actual result

1. The color and size options are not highlighted. There's simply two redundant error messages below

[2016-10-24 07:51] PascalBrouwers commented on #6869
@SerhiyShkolyarenko still not convinced? 3 people are able to reproduce this severe issue.

[2016-10-24 07:53] rob1256 commented on #7131
Could I ask what the use-case of the private scope block feature is then?  Is it to try and stop any crawlers indexing the content?

At the very least it seems that even if this feature wasn't intended to allow you to stop caching a particular block; it could quite easily be re-appropriated to allow for that use-case.

[2016-10-24 08:09] veloraven commented on #7095
@hezide thank you for your report.
We've created internal ticket MAGETWO-59977

[2016-10-24 08:14] AlexandreKhayrullin commented on #6852
The server's timezone is "CEST" (UTC+0200). The frontend's timezone is "America/Santiago" (UTC-0400) , defined on the website scope. The backend, on the other hand, uses the default timezone (no special configuration in the core_config_data table) .

[2016-10-24 08:15] SerhiyShkolyarenko commented on #6917
@williambize as far as behaviour changed to the opposite and cannot be reproduced on the clean Mangento 2, we close this issue.
Adding to cart was successful on my instance v2.1.2. Please create a new issue if you manage to reproduce it on the clean installation without code changes.

[2016-10-24 08:15] #6917 closed, assigned to SerhiyShkolyarenko

[2016-10-24 08:27] PierAlex commented on #7144
Hi Vlad,
thank you very much.
I was not able to find the configuration because i was looking for it only in tabs General, Catalog and in the theme config.
This setting is in Sales ->Checkout -> Cart. The default value is the parent image.

[2016-10-24 08:27] #7144 closed, assigned to nobody

[2016-10-24 08:51] leechilli commented on #5608
@SerhiyShkolyarenko Can still reproduce the problem on 2.0.0 and 2.1.1.

You can find the zip here: http://digital-dev.co.uk/home/UK-Tablerates.zip I wasn't able to upload it as an attachment with this comment

[2016-10-24 08:59] bartlubbersen opened #7153 "Adding video gallery item through API does not set extension attributes"
### Preconditions
1. Magento 2.1.2
2. PHP7
### Steps to reproduce

1. Go to swagger or call rest API through script
2. Try updating or creating a product with a video_url, video_title etc. with media type "external-video".
3. I used the following JSON:

[code]

Ofcourse I used a valid base64 encoded image as thumbnail and used a correct SKU.
### Expected result

Product should be created or update

[2016-10-24 09:12] kanduvisla commented on #6770
This error still persists in M2.1.2. Is there any sight on when this is going to be fixed?

[2016-10-24 09:17] SerhiyShkolyarenko commented on #6869
@PascalBrouwers @PieterCappelle @peec of couse I beleive you experienced the issue and I appreciate much you report it and help us to improve Magento. To make sure the issue is fixed we need repeatable steps to reproduce. Let's find them together.
This time I tried v2.1.2  in default and production mode and checkout worked fine.
@peec  and @PieterCappelle have you tried reproducing on latest devel

[2016-10-24 09:21] rob1256 commented on #5212
It also looks like this issue was fixed 4 months ago but it's not been released yet:
https://github.com/magento/magento2/commit/04a020a2e1db9f38378473733d65925b18dbdd15

[2016-10-24 09:22] mortenbm commented on #7060
Issue was fixed after applying all commits. Thank you for your time!

[2016-10-24 09:22] #7060 closed, assigned to olysenko

[2016-10-24 09:38] SerhiyShkolyarenko commented on #6869
@peec and @PieterCappelle in case you reproduce the issue on develop branch, could you please check the fix https://github.com/magento/magento2/pull/6870 from @PascalBrouwers? Does it help you?

[2016-10-24 09:45] thlassche opened #7155 "Styling of <legend> elements break in Chrome 56"
### Preconditions

1. Magento version: 2.1.3
2. Chrome 56 (Chrome 55 works fine)
### Steps to reproduce

1. Open the admin login page
### Expected result

1.  A proper styled login form
### Actual result

1.
   ![screen shot 2016-10-24 at 11 42 42](https://cloud.githubusercontent.com/assets/2959888/19640930/3d356d6e-99df-11e6-8c4a-c93d7099198d.png)
   ![screen shot 2016-10-24 at 11 48 44](https://

[2016-10-24 09:48] kanduvisla commented on #6770
I've created a pull request that fixes this issue. What it does:

[code]

In other words:

When there is an attribute ID (which is the case with existing attributes), load the already known attribute code. If there is no attribute ID, try the 'old behaviour'. Which is: check for a param called `attribute_code` or try to generate a code according to the `frontend_label`.

[2016-10-24 09:57] SerhiyShkolyarenko commented on #7038
@zhxcanada @sylink is it dependent on payment or shipping method? Have you tried to analyze that for "lost" orders?

[2016-10-24 10:11] franckgarnier21 commented on #6938
Hello,

I report the same problem on native Magento 2.1.2 when I try to export configurable product with 2 variations.

I manually edit the file to be able to import them.

@ps202 You can based on this value or refer to the documentation to build your import file

sku=example-Red-XS,size=XS,color=Red|sku=example-Red-S,size=S,color=Red|sku=example-Red-L,size=L,color=Red.............................

[2016-10-24 10:11] SerhiyShkolyarenko commented on #6392
Your $data parameter is required. What is `di.xml` config for this class?

[2016-10-24 10:18] ihor-sviziev opened #7156 "Incorrect strong password validation"
During customer creation I'm trying to put password that should be marked as strong, but validation fails.
### Preconditions
1. Magento 2.1.2 installed via composer
### Steps to reproduce
1. Go to Customer registration page
2. Put in password & confirmation fields following password - "фффФФФ123" (on russian keyboard layout)
3. Click "Sign up" button
### Expected result
1. Password should be marke

[2016-10-24 10:24] ihor-sviziev commented on #7155
@thlassche you're using dev version, that could contains issues. I think issues like this should be reviewer & fixed only in stable versions

[2016-10-24 10:25] slackerzz commented on #7067
@MomotenkoNatalia ok, so how should it be initialized?

[2016-10-24 10:25] SerhiyShkolyarenko commented on #6392
Which way `$_productCollection` is assigned?

[2016-10-24 10:37] mrkhoa99 commented on #7151
@tranductrong92 if you want to create a playground, please, see this post: http://magento.stackexchange.com/questions/39981/how-can-i-create-my-dirty-playground-file-in-magento-2

[2016-10-24 10:52] tranductrong92 commented on #7151
@mrkhoa99 I consult to it, but version 2.1.2 is not working and display errors @@.. version 2.0.7 works fine

[2016-10-24 11:44] stevewinni commented on #5283
We are also facing this issue, M2 v2.1.2

Value in backend for product 24.16 desired front end price 29.00, First Item in cart = 29.00 second item in card 29.01 thus totalling,  58.01.

We cannot launch without this fix as a lot of product with error in this way.

Thanks

[2016-10-24 12:00] tkacheva commented on #6609
@andidhouse Frontent label indicates that it's issue around Frontend framework.

[2016-10-24 12:05] ghost commented on #5836
I also have multi-store enabled due to single-store mode causing other issues.

[2016-10-24 12:09] hocomadvies opened #7157 "Magento 2.2.0-dev selected backend language not applied"
when selecting a different language for he backend user it is not applied. Although I can see in the database that the selected language is saved for the user.
### Steps to reproduce
1.  Go into user config and select interface local
2. Save it and empty the cache files
3. refresh the backend
### Expected result
1.  the new language should appear in this case nl_NL
### Actual result
1. Nothing is

[2016-10-24 12:16] AntonEvers commented on #3063
@Ctucker9233 in your "require-dev" section of composer.json, include this dependency:

[code]

And run `composer update`

This will alias 2.0.4 as version 0.3.10 and install it without conflicting with other modules' dependencies.

Needless to say this will install a higher version of phpseclib than required by some modules which means they may be incompatible. Probably it will work fine, but I ha

[2016-10-24 12:17] ps202 commented on #6938
Any update on this?

@franckgarnier21 thanks, I have already done that, but it did not work. Did it work for you?

[2016-10-24 12:17] Dysp1 opened #7158 "Admin page 404 error after flush cache from admin"
I have a fully working installation of Magento.  Customer pages and admin pages both work perfectly.  I can browse products and make orders as a customer.  I can login to admin pages, see the orders, add new products, see dashboard etc.  But as soon as I hit the "Flush Magento Cache" -button from admin I will jump to Magento 404 page and Admin is not accessible.

Preconditions
1. Magento CLI versi

[2016-10-24 12:23] ghost commented on #2913
Hi Is there any update on this?

[2016-10-24 12:30] sneha-sukumaran commented on #7122
@orlangur Thanks for the reference. I did do the change as per reference. But count is not updating in reorder scenario. Any input on this?

[2016-10-24 12:32] veloraven commented on #3619
I'm closing this issue as duplicate as we already have internal ticket MAGETWO-59973 for issue #6656.
I have updated internal ticket with additional information from this issue.

[2016-10-24 12:32] #3619 closed, assigned to nobody

[2016-10-24 12:39] punkstar commented on #5283
We investigated this on behalf of @PushEngineering and came up with this solution - https://github.com/meanbee/magento2-tax-rounding, rounding to three decimal places.  Thanks to @PushEngineering for recommending we release our solution.

[2016-10-24 12:45] vanderlee commented on #4331
Neither the `UPDATE admin_passwords` hack nor the `UPDATE core_config_data` hack worked for me.
My CMS shows the `It's time to change your password.` message three times and is stuck on this screen, no matter what I do.

![image](https://cloud.githubusercontent.com/assets/649240/19646137/679917ae-99f8-11e6-9288-5ed088dc0dd8.png)

[2016-10-24 13:02] mrkhoa99 commented on #7151
@tranductrong92 , seem that your constructor arguments not correct, should try:

[code]

Take a look at **vendor/magento/framework/App/Http.php** in Magento 2.1.2 to see more details.

[2016-10-24 13:04] vishveskrish opened #7159 "Loader issue with Payflow Pro Payment Method."
Preconditions
1. Magento CE 2.1.2(upgraded from 2.0.2 to 2.1.2) without sample data installed.
2. Configured PayPal Payflow Pro Payment Method.

Steps to reproduce
1. Navigate to storefront.
2. Click "Add to Cart" and go to the cart checkout page.
3. Enter all the details which require to place an order and click on Place order button.

Actual and Expected result:

Expected result:
The loader imag

[2016-10-24 13:11] franckgarnier21 commented on #6938
Hello,

@ps202 It works very well for me. The attribute and options should be created before.

Create another topic, I will try to help you. The problem here concerns the export and not the import process.

[2016-10-24 13:14] veloraven commented on #5740
I'm closing this issue as duplicate for #4642.
Internal ticket MAGETWO-59954

[2016-10-24 13:14] #5740 closed, assigned to odubovyk

[2016-10-24 13:18] dthampy commented on #6938
internal jira ticket - MAGETWO-59934

[2016-10-24 13:34] jvreeken commented on #5642
@graffxdesign please share your fix/workaround :) we are still having problems in live mode for failed transactions.

[2016-10-24 13:35] thlassche commented on #7155
@ihor-sviziev Agreed, however we should make sure that Magento is compatible by the time Chrome 56 is released

[2016-10-24 13:38] LiamFielding opened #7160 "Relative url does not trigger sections update."
### Preconditions
1. Set up an action that will trigger a section refresh
2. Example: test/manage/add
### Steps to reproduce
1. Submit a post request to action url (relative). $.post('test/manage/add'...
### Expected result
1. A call to the section to update.
### Actual result
1. Nothing. Or other sections such as messages, but not the section you desired. Example: cart.

Why does this not functio

[2016-10-24 13:51] vanderlee opened #7162 "Magento upgrade documentation to 2.1 broken"
The 2.0 to 2.1 upgrade process as described in the documentation at http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_21-upgrade.html is badly broken.
### Preconditions
1. Working Magento 2.0.10
### Steps to reproduce
1. Click downloadlink to http://www.magento.com/download for patch MDVA-532 at; redirected to 404-like page at https://www.magentocommerce.com/download
2. Google for MDV

[2016-10-24 14:05] franckgarnier21 commented on #6788
I report the same problem. EE support ticket just created.

[2016-10-24 14:13] Mattyweeks commented on #6704
Would really like an answer to this too!

[2016-10-24 14:28] jakobfdev commented on #5948
This is really frustrating. Run into the same problem. I'm already using several 3rd party and self written modules to fix these kind of bugs. Almost three months now for such a basic functionality.

[2016-10-24 14:41] orlangur commented on #7122
@sdzhepa, please advice if you have some insight.

[2016-10-24 14:47] giacmir opened #7163 "Create a dropdown attribute can have unintended effects on eav_entity_attribute_option table"
When creating a new attribute of type dropdown you can pass an 'option' key to your array to provide a list of possibile options to show in dropdown.

Usually you do something like:

[code]

But what if I omit array keys or my keys start with a number?

Here we have a `(int)` casting of the array key to be used as option_id field in db.
https://github.com/magento/magento2/blob/2.1.2/app/code/Magen

[2016-10-24 14:56] SerhiyShkolyarenko commented on #6668
@mbrzuzy thank you for reporting! Our internal issue is MAGETWO-60001.

[2016-10-24 15:09] SerhiyShkolyarenko commented on #6697
@grasdaggel please clarify precondition "we are using the splendid internet de_DE-CSV"

[2016-10-24 15:16] pitangaweb commented on #2121
I'm experiencing the exact same issue on Magento 2.1.2 on blank theme. Category filter disappear as soon as I add products on subcategory.

[2016-10-24 15:31] loekderooij commented on #4868
This is a real serious issue, especially when you have many payment methods. One of our customers uses 2 payment providers which makes the total of payment methods 50+. Excluding countries and region reduces the request size, but even then the code looping these methods gets real slow. Total loading time took up to 30 seconds.

Since our customer only uses a total of 7 payment methods, I 'fixed' t

[2016-10-24 15:41] pynej commented on #4868
Related to https://github.com/magento/magento2/issues/6997 though there may be more issues like the payment methods not covered in that ticket.

[2016-10-24 15:44] adragus-inviqa commented on #6997
Maybe related to this "feature request" - https://github.com/magento/magento2/issues/4217 ?

_It was moved to the forums, as I clearly wasn't serious about the problem. The trollface didn't help my cause. I think they'll move yours to the forums, too, @pynej. Clearly not a bug._

[2016-10-24 15:48] waynetheisinger commented on #3901
As well as the failures noted above I am also getting:

[code]

[2016-10-24 16:16] piotrekkaminski commented on #6919
@phoenix-bjoern would you be willing to contribute this as a PR?

[2016-10-24 16:16] piotrekkaminski commented on #6918
@phoenix-bjoern would you be willing to contribute this as a PR?

[2016-10-24 16:18] piotrekkaminski commented on #6732
It is critical theme removal leaves system in a state that does not results in exceptions. marking as a bug

[2016-10-24 16:20] piotrekkaminski commented on #6732
adding report MAGETWO-46231 to make sure uninstall command removes the theme from DB

[2016-10-24 16:20] piotrekkaminski commented on #7116
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #7116 closed, assigned to nobody

[2016-10-24 16:20] piotrekkaminski commented on #7023
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #7023 closed, assigned to nobody

[2016-10-24 16:20] piotrekkaminski commented on #7016
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] piotrekkaminski commented on #7015
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #7016 closed, assigned to ilol, slavvka, skovalenk

[2016-10-24 16:20] piotrekkaminski commented on #7012
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #7015 closed, assigned to nobody

[2016-10-24 16:20] #7012 closed, assigned to nobody

[2016-10-24 16:20] piotrekkaminski commented on #6919
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #6919 closed, assigned to mbrinton01

[2016-10-24 16:20] piotrekkaminski commented on #6918
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #6918 closed, assigned to mbrinton01

[2016-10-24 16:20] piotrekkaminski commented on #7033
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #7033 closed, assigned to nobody

[2016-10-24 16:20] piotrekkaminski commented on #4218
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-10-24 16:20] #4218 closed, assigned to nobody

[2016-10-24 16:25] dthampy commented on #6939
Since I couldn't reproduce your issue locally, I cannot create an internal jira ticket. I checked the issue details that you described in Stack overflow. So please send the information to dthampy@magento.com.
Thanks.

[2016-10-24 16:26] eug123 commented on #6943
Hi @slackerzz,
Files are published as copies in case they were preprocessed somehow, please compare your original less source and its' published copy.

[2016-10-24 16:43] jakobfdev opened #7164 "Adding "out of stock" product confgurations to cart - wrong notification"
### Preconditions
1. Magento 2.1.2 from composer
2. PHP 5.6, MySQL 5.7
### Steps to reproduce
1. Fresh magento install
2. Create configurable product with a single config attribute and several simple products
3. Set one simple products stock quantity to 0 and to "Out of stock"
4. In the frontend go to the configurable, choose the config value of the "Out of stock" simple product and add it to cart

[2016-10-24 16:55] quienti commented on #7164
Duplicate: https://github.com/magento/magento2/issues/7069

[2016-10-24 17:07] paales commented on #7015
@piotrekkaminski This surely isn't a new feature, just a regular bug, please open.

[2016-10-24 17:14] #7164 closed, assigned to nobody

[2016-10-24 18:26] azeemism opened #7165 "[2.1.2 CE] env.php overwritten when a module is disable and cron runs in the background"
### Summary

env.php overwritten when a module is disable and cron runs in the background
### Preconditions
1. Composer install Magento 2.1.1 CE, 2.1.2 CE
2. php bin/magento setup:install --backend-frontname="123adcd"
3. php bin/magento deploy:mode:set developer
4. php bin/magento maintenance:enable
5. php bin/magento setup:di:compile
6. php bin/magento --ansi setup:static-content:deploy en_CA
7.

[2016-10-24 18:51] alankent commented on #4218
Hi @giacmir - just to clarify on "its a bug", it is defined (and important) Magento behavior. There is a directory structure to CSS (and Less) files that a web browser sees. One of the currently supported modes is "client side Less compilation". It can _only_ see the web server directory structure. So the structure of files as visible via a web browser is the "true" directory structure as seen by

[2016-10-24 19:01] jvreeken commented on #6474
yes... problem is still happening on 2.1.2 for me too.

[2016-10-24 19:23] sajidunnar commented on #1471
Guys I debug the issue and found the cause I was having ,
My product name and category name were same so it was generating same urls ,  I assume Magento may  have handle this instead of error

[2016-10-24 19:53] williambize commented on #6823
@devdesco-ceo Thanks for sharing! Were you able to find a solution to this issue? I'm also having "Add to Cart" and checkout problem with Porto. A Magento Developer on here confirmed that Porto was causing the problem because the "Add to Cart" and checkout is working just fine with Magento 2 default theme. But it looks like our issues are not the same but a little crossing for one to suggest they

[2016-10-24 20:17] mbrinton01 commented on #6919
Tracking internally as MAGETWO-60017

[2016-10-24 20:22] mbrinton01 commented on #6918
Tracking internally as MAGETWO-60018

[2016-10-24 21:13] dmcmillin opened #7167 "2.2.0-dev - cms images are being added as __directive for path"
### Preconditions
1. php 5.6
2. centos 6.5
3. Magento 2.2.0-dev
### Steps to reproduce

1. create page in cms or block
2. upload image using insert image
3.
### Expected result

1. image should be in path http://www.examplesite.com/pub/media/xxx/xxx.etc
### Actual result

1. image path random in terms of letters and numbers but always contains links like below
   https://www.example.com/admin_url/

[2016-10-24 21:15] assaka commented on #2504
The solution of @iget-esoares has fixed the issue for me also.
Thanks Iget!

[2016-10-24 23:20] dthampy commented on #6841
Thank you for the detailed bug report. Internal jira ticket ->MAGETWO-60031

[2016-10-24 23:40] Ctucker9233 commented on #6911
@SerhiyShkolyarenko is there a commit reference?

[2016-10-25 00:01] nwrman commented on #4945
I'm still having this problem with 2.1.1 CE

[2016-10-25 00:04] stamster commented on #7162
IMHO and from our latest experience, you should stay on 2.0.x stack.
2.1.1. is even more broken. We had a hell of our time to push 2.1.0 into production recently.
M 1.x is going to be deprecated / obsolete, that's why we wanted to use M2 at first place, it turned out that was a big mistake.

[2016-10-25 00:14] Ctucker9233 commented on #5943
@veloraven @magento-admin @magento-team Please, any news on this issue?

[2016-10-25 00:17] Ctucker9233 commented on #6858
I have a similar issue I described here #5943 , still waiting for resolution. The newsletter queue time does not reflect my local time. I tried the commits referenced, but it does not solve my issue.

[2016-10-25 00:39] nwrman commented on #4945
I just upgraded to 2.1.2 and the problem persists.

[2016-10-25 03:20] tranductrong92 commented on #7151
@mrkhoa99 you can fix sample code in **Steps to reproduce**?...I have tried many ways but not correct :(

[2016-10-25 03:28] robert-lero9 commented on #7036
@veloraven This is actually an issue in Magento 2 CE 2.1.1 also so this should be analyzed and considered for a bugfix.

Indeed the behaviour is as @MagePsycho has described. The country selection for the backend customer admin address page comes from the countries configured for the store that is set as default in the "All Stores" management instead of the configuration for the Allow Countries op

[2016-10-25 03:47] dthampy commented on #6832
Internal jira -MAGETWO-60033 has been created for this issue.

[2016-10-25 04:17] mrkhoa99 commented on #7151
@tranductrong92  try with my dirty playground: https://gist.github.com/mrkhoa99/b8648168406cb222f5800e7ec0ebc603

[2016-10-25 04:37] sneha-sukumaran commented on #7122
@orlangur I found the fix for it. Looks like it is another bug from magento https://github.com/magento/magento2/issues/6121

[2016-10-25 06:43] ewallkrishnaprakash opened #7168 "Product review success message showing in all pages"
### Preconditions

1. We are  using magento2.1.1 on apache2.4 with php7 and mysql 5.7.
### Steps to reproduce

1. Open the product detail page and review the product. Review success message will showing the product detail page (http://prnt.sc/cylror).
2. The same message displayed in home page (http://prnt.sc/cylrsw)
### Expected result

1. The success message needs to shown only in product detail

[2016-10-25 06:56] SerhiyShkolyarenko commented on #6997
MAGETWO-40098 implies another approach and more changes, so it's a story in terms of scrum.

[2016-10-25 07:01] shahankitb997 commented on #6939
@dthampy   Sure Thanks a Lot. Mailed. Please check.

[2016-10-25 07:12] tranductrong92 commented on #7151
@mrkhoa99 I found the cause of the error. After run command  bin/magento setup:di:compile then my dirty playground has error, previously, it works fine...why?

[2016-10-25 07:15] serzhik commented on #6866
UPD: It's don't work on clean Magento EE 2,1.1 install with sample data.

[2016-10-25 07:16] kanduvisla opened #7169 "M2.1.2 : Database / configuration seems lost after automated deployment."
I'm not even sure how to report this issue, because it seems very random and the fix also works very random, but I'll give it a try:
### Fact 1:

I've got a deployment setup that creates a copy of the database, runs a upgrade/compile/static-content against it, and if everything passes it simply copies all the generated stuff from `pub/static` and `var/di` and `var/generation` to the production sit

[2016-10-25 07:29] mrkhoa99 commented on #7151
@tranductrong92 you should read more here: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-compiler.html. Please close this issue if your issue solved.

[2016-10-25 07:30] slackerzz commented on #6943
I've compared the two files and they are different, under `app/code/design/frontend/<Vendor>/<theme>/css/source` my less files contains some:

`@import "dir/_mypartial"`

while in `pub/static/frontend/<Vendor>/<theme>/<locale>` these imports became:

`@import "dir/_mypartial.less"`

but why? It doesn't make sense http://lesscss.org/features/#import-directives-feature

[2016-10-25 07:34] veloraven commented on #5354
@bkristl thank you for your report.
We have internal ticket MAGETWO-59267 created for issue #6634.
So I'm closing this issue as duplicate.

[2016-10-25 07:34] #5354 closed, assigned to nobody

[2016-10-25 07:34] Morgon opened #7170 "Numeric-ish values not properly evaluated on varchar attributes"
I had a varchar attribute that I needed to change from `7` to `07`. No matter how many times I tried, I could not get it to save `07`. Wholly different values worked, and I was then able to save it back to `07` afterwards. It wasn't until I tried saving `07` back to `7`, and failing, that I realized what is probably happening.

With PHP being a loosely-typed language, my guess is that the ORM/Mode

[2016-10-25 07:38] LiamFielding commented on #7159
Funnily enough this may relate to my problem. Are you trying to update another section than messages? The messages request is made every time I call certain urls. If it's the section that needs updating this may be the problem.

[2016-10-25 07:56] SerhiyShkolyarenko commented on #6911
It was fixed in MAGETWO-55184. Commits: 911ec93 and a86eda3.

[2016-10-25 07:57] giacmir commented on #4218
Thanks @alankent for your clarification.

I don't want to be polemic, but I still think that this issue represent a broken functionality.
And the point is exactly where you say "we need some way to register 3rd party composer packages with JS/CSS/whatever". This "some way" is exactly what the @import directive in less is for.

For server side compilation the required less files are collected by a

[2016-10-25 07:59] bartoszkubicki commented on #6392
I haven't added any configuration for this class in `di.xml`. Should I add something? What is more I haven't encountered error about `$data`. `$productCollection` is assigned natively, I haven't changed the behavior. Template is placed in custom  theme: `Magento_Catalog\templates\product\list.phtml` and only changes are provided above.

[2016-10-25 08:05] veloraven commented on #7170
@Morgon thank you for your your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.
Custom customer's attributes is Enterprise functionality.

[2016-10-25 08:09] SerhiyShkolyarenko commented on #6869
@PascalBrouwers @PieterCappelle @peec which versions of php and mysql do you use?

[2016-10-25 08:13] PascalBrouwers commented on #6869
PHP 7.0.11
MySQL 5.7.11

I also had a thought. Maybe it's the browser. I am using Chrome 53.0.2785, what are you using @SerhiyShkolyarenko ?

[2016-10-25 08:14] Morgon commented on #7170
This is not limited to Customer Attributes, that was just where I noticed it first.
I have also verified this issue exists with Product Attributes, even on a fresh install of CE 2.1.2 - setting one of the demo products' name to "0001" and then to "1" results in the original value being kept.

Updated the original report to remove the specific distinction.

[2016-10-25 08:17] veloraven commented on #7101
@ivagarfitt thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-25 08:17] sma09sjb commented on #6858
@JacobDrummond we'd like to avoid modifying the core code files if possible. Any ideas when this fix will be part of an official release?

[2016-10-25 08:32] tranductrong92 commented on #7151
@mrkhoa99 I've read it and I don't understand why the issue failed. This command bin/magento setup:di:compile is required.

[2016-10-25 08:38] mrkhoa99 commented on #7151
@tranductrong92 this is because your Magento application is in `production` mode, please, switch to `developer` mode: `deploy:mode:set developer`

http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html
http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html

[2016-10-25 09:03] tranductrong92 commented on #7151
@mrkhoa99 oh thank you very much!...so this command bin/magento setup:di:compile only used developer mode.

[2016-10-25 09:03] pascaladriaansen commented on #5260
I think this needs to be reopened. @sdzhepa I tried the fix from the develop branch, but unfortunately this does not fix this issue completely.

It only fixes the type of error message a user gets (by throwing a SecurityViolationException in stead of a normal Exception). It still doesn't fix the [issue mentioned earlier](#issuecomment-246544341) by @Omar-Oleh and @crantron.

Steps to reproduce on

[2016-10-25 09:09] peec commented on #6869
@SerhiyShkolyarenko I use php 7.0.11. (specifcally [this docker image](https://github.com/peec/magento2-php-fpm-aws/blob/master/Dockerfile)).

My full stack:
Nginx,
Varnish
php 7 with php-fpm
mysql 5.6

[2016-10-25 09:12] veloraven commented on #7118
@sippsolutions thank you for your feedback.
Please, identify which version of Magento you are running.

[2016-10-25 09:17] #7151 closed, assigned to nobody

[2016-10-25 09:17] cizgidekiadam opened #7171 "Editing checkout agreements throws exception"
### Preconditions

1. Magento 2.1.2
2. Updated from 2.1 via composer
3. Single Store Mode enabled
### Steps to reproduce

1. Create new checkout agreement.
2. Try to edit
### Expected result

1. Open agreement for edit
### Actual result

1. <pre>Warning: htmlspecialchars() expects parameter 1 to be string, array given in
   /vendor/magento/framework/Data/Form/Element/AbstractElement.php on line 28

[2016-10-25 09:20] creative-resort opened #7172 "proposal: Show missing privileges instead of required"
### Preconditions

using a MySQL DB user with missing privilege e.g. "REFERENCES"
Magento CE 2.1
### Steps to reproduce
1. start the setup process
2. go to the database check / setup step
### Expected result
1. would like to see which privilege is missing directly, resulting from the array_diff in
   setup/src/Magento/Setup/Validator/DbValidator.php  DbValidator :: checkDatabasePrivileges()
### Ac

[2016-10-25 09:43] SerhiyShkolyarenko commented on #6869
@PascalBrouwers i used Firefox 49 for checking this issue.

[2016-10-25 09:45] PascalBrouwers commented on #6869
Ah, could you try it with Chrome? I'll see if I can check my Magento 2.1.2 with Firefox then.

[2016-10-25 09:56] sippsolutions commented on #7118
@veloraven I'm using 2.1.1 but the bug still exists in the latest version.

[2016-10-25 09:56] JamboMedia opened #7173 "Rich snippets magento 2 - bug - price notation not right"
Preconditions

Magento 2.1.2

Steps to reproduce
1. Test a productpage from the demo shop

The rich snippets for magento 2 are giving a warning for the element price

https://search.google.com/structured-data/testing-tool#url=http%3A%2F%2Fmagento2demo.firebearstudio.com%2Fargus-all-weather-tank.html

The notation is now:

<span class="price">$22.00</span>

The notation should be: (whithout the Cur

[2016-10-25 10:22] miakusha commented on #7103
Hi @Corefix , thanks for report
We've created internal ticket MAGETWO-60044 to address this issue.

[2016-10-25 10:47] miakusha commented on #7057
Hi @lhsatch , fourth step contain issue `$this->_stockItemRepository->get($product_id)` you must pass stock_item_id instead of product_id
For obtain stock_item object by product use `$stockItem = $product->getExtensionAttributes()->getStockItem();` or configure search criteria (\Magento\CatalogInventory\Api\StockStatusCriteriaInterface)  and use `\Magento\CatalogInventory\Api\StockStatusRepository

[2016-10-25 11:04] bst2002git commented on #5873
Hello,
i'v installed Magento 2.0.1 and upgraded to 2.1.2   and wondered why instead address is shown the template format variables {{}}.... an the problem is the "auto_increment_increment=5" (percona mysql cluster) is set to internal 5, so it increments 5,10,15,20,25...
So my question is what can i do, changing Hard-Coded IDs in Magento? What about when i update Magento, must remember to change th

[2016-10-25 11:11] veloraven commented on #7126
@suraleb thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please also provide more detailed steps.

[2016-10-25 11:13] MaksimPaliy commented on #7126
@veloraven Just try to add new configurable product with 2 atributes

[2016-10-25 11:18] odubovyk commented on #7115
Hi @leoquijano, thank you for the report.
Could you please add the Steps To Reproduce of how you come to error in console.

[2016-10-25 11:27] veloraven commented on #7137
@devdesco-ceo thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please also provide exact requests you use.

[2016-10-25 11:34] veloraven commented on #7141
@joshspivey thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.
Please also explain what do you mean as 'FedEx Plugin'.

[2016-10-25 11:40] deepthit57 opened #7175 "Trying to add out of stock product, redirects to cart page with improper error message"
Set stock for a product
Add item to cart
Make the stock 0 for same product in backend
Now click on checkout for same product in frontend

Expected:
Must display notification in cart page that product is out of stock

Actual:
Redirects to cart page with the below message:
You have no items in your shopping cart.

Click here to continue shopping.
![out_of_stock_in_checkout](https://cloud.githubuserc

[2016-10-25 11:48] Bartlomiejsz opened #7176 "Custom category attributes scope not working"
### Preconditions
1. Magento 2.1.2
### Steps to reproduce
1. Add custom attribute to category with website scope:

[code]
1. Add it to ui_component:

[code]
### Expected result
1. Custom attribute should be visible with scope `[website]`
### Actual result
1. No scope label is visible, and attribute saves as it was set to store_view scope

[2016-10-25 12:11] tkacheva commented on #6732
Relates to #1596

[2016-10-25 12:12] veloraven commented on #7173
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify exact version of Magento you are running.

[2016-10-25 12:13] maciejtrybula commented on #6803
The same problem here, any chance to fix it?

[2016-10-25 12:17] veloraven commented on #7175
@deepthit57 thank you for your feedback.
Please identify which version of Magento you are running.

[2016-10-25 12:19] deepthit57 commented on #7175
Issue caught in 2.1.1. Now i did a fresh installation of 2.1.2 EE and i still face the issue

[2016-10-25 12:19] YevSent commented on #6941
Hi, @PierAlex, sorry for a delay with answer.

For now, this is an expected behavior, when a customer selects shipping address, billing address is also selected the same as shipping in the background (even if the customer has default billing address).
But, on the develop branch we added an option, which allow changing a billing address on the Payment step for all available payments.

This option a

[2016-10-25 12:19] lhsatch commented on #7057
Thank you for your response but if this is used to get the Stock item qty by product_id then how do you go about getting the stock qty for a product by product_id ?

Thanks

[2016-10-25 12:19] veloraven commented on #7102
@craigcarnell thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-25 12:39] bst2002git commented on #4377
reference to my post #5873, i'v installed 2.0.1 and updated to 2.1.2 Magento (via composer)...
which tables and entries must be change in Accordance to the hardcoded ATTRIBUTE IDs.
Changing IDs in PHP Code is not so good, i must remember doing this after every Update, bad Idea.
So setting right IDs into tables is i think the best aproach?

By the way updating via composer to 2.1.2 does this includ

[2016-10-25 12:49] afavata commented on #4641
any news on this issue...

[2016-10-25 12:50] veloraven commented on #6936
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-25 12:50] #6936 closed, assigned to nobody

[2016-10-25 12:51] veloraven commented on #6934
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-25 12:51] #6934 closed, assigned to nobody

[2016-10-25 12:51] veloraven commented on #6925
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-25 12:51] #6925 closed, assigned to nobody

[2016-10-25 12:52] #6908 closed, assigned to nobody

[2016-10-25 12:52] veloraven commented on #6901
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-25 12:52] #6901 closed, assigned to nobody

[2016-10-25 12:52] #6896 closed, assigned to nobody

[2016-10-25 12:53] veloraven commented on #6860
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-25 12:53] #6860 closed, assigned to nobody

[2016-10-25 12:53] veloraven commented on #6853
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-25 12:53] #6853 closed, assigned to nobody

[2016-10-25 12:54] #6788 closed, assigned to nobody

[2016-10-25 12:58] veloraven commented on #6797
@djfordz is there any update?
Is this issue still actual?

[2016-10-25 12:58] anilkasar12 opened #7177 "Add custom product attribute and assign to particular attribute set"
Add custom product attribute and assign to particular attribute set
### Preconditions

Magento2.0.2
### Steps to reproduce

Add custom product attribute
### Expected result

Custom attribute should able to assign given attribute set
### Actual result

Custom attribute should assign to all available attribute set.

[2016-10-25 12:58] miakusha commented on #7146
Hi @ooples, I cannot reproduce this issue.
Try to clear browser local cache

[2016-10-25 13:07] veloraven commented on #6969
@mitulispace please identify which version of Magento you are running.
This issue seems to be a duplicate of #4687

[2016-10-25 13:10] vzabaznov commented on #3545
Hi @jh-tom @measureddesigns will be fixed in internal ticket MAGETWO-57024 for 2.1 version

[2016-10-25 13:14] lhsatch commented on #7057
Hi Miakusha,
Thank you for getting back to me. Although I have managed to get the stock qty using the StockState class I haven't been able to find a function that will get the product stock state (in stock, out of stock) by product_id. As  `$this->_stockItemRepository->get($product_id)` is used by referencing the stock_item_id what can be used to get the product stock status? I haven't found anywh

[2016-10-25 13:26] SerhiyShkolyarenko commented on #6911
closing as duplicate of #5526

[2016-10-25 13:26] #6911 closed, assigned to SerhiyShkolyarenko

[2016-10-25 13:30] springimport commented on #5582
@MagePsycho you can see https://github.com/magento/magento2/issues/5747

[2016-10-25 13:36] veloraven commented on #6975
@dmcmillin did you answer for my question or for the question from @lhsatch ?
Please provide information about your environment: PHP version, MySQL version, OS. As I can see from the description you use Apache as web server.

[2016-10-25 13:39] miakusha commented on #6857
Hi @100php , I cannot reproduce this issue.
Can you reproduce issue on clean Magento without any extensions?

[2016-10-25 13:45] jakobfdev commented on #6422
Please fix this soon.
My project is becoming an odyssey of reading up on bugs...

[2016-10-25 14:05] JamboMedia commented on #7173
Better?

[2016-10-25 14:14] jwallb40 commented on #5642
Yes, any information @graffxdesign would be appreciated, as we're stuck in the same boat.

[2016-10-25 14:16] eug123 commented on #6943
@slackerzz yes you are right, you can import files without extension.
But currently magento processes `@import` directives so to find respective file and rebuilds `@import` using actually found file path with extension.
So to have symlinks you need to include .less extension to the path and use single quotes
(i.e. `@import 'dir/_mypartial.less';`).
Thanks

[2016-10-25 14:18] veloraven commented on #6996
@tommoholmes10 do I understand correctly that:
**Actual Result:**
(+) Order is created
(+) Success page is open
(-) Ordered product is added to the shopping cart again

**Expected Result:**
(+) Order is created
(+) Success page is open
(+) Shopping cart is empty

If I do not please describe your actual and expected result in this way.
Please also describe your steps in the way like 'open the page'

[2016-10-25 14:25] jzembala commented on #7126
Same exception is throwing to support_report.log while displaying category page (with configurable products).
As I saw in core code, this exception appears when the cheapest product is out of stock (has _stock_status_ != 1 in table _cataloginventory_stock_status_).

Info:
After upgrade 2.1.0 to 2.1.2
PHP 7.0.6

[2016-10-25 14:26] DreLincolin opened #7178 "Product Save Not Working"
**The Problem**

Product not working in general, so i cant create no products at all.
So what happens is when you try to create a product from the backend, you input some any product name 100% unique ( some thing like dsfkjdskhsdfgdsf ), same goes to url with a .html in the end  ( dsfkjdskhsdfgdsf.html ), all necessary fields set.
On a first save attempt it returns you an error saying:

URL key fo

[2016-10-25 14:28] nuwaus commented on #6929
Please check your `sales_sequence_meta` and `sales_sequence_profile` tables
They should be similar to these,
![2016-10-25 19_50_07-magento2 nl _ localhost _ magento2_magento _ sales_sequence_profile _ phpmyadmin](https://cloud.githubusercontent.com/assets/209750/19690120/379139ec-9aed-11e6-9535-1b77454acaf0.png)
sales_sequence_profile

![2016-10-25 19_51_29-magento2 nl _ localhost _ magento2_magen

[2016-10-25 14:30] veloraven commented on #7028
@TheNavigat thank you for your update.
Could you please do one more? Please add in a comment clear and short steps to reproduce, actual result and expected result. Without explanation who and why did it. Additional explanation may be very useful for understanding of the whole picture but it takes more time to understand what is the exact problem and how someone can reproduce it. Especially taking

[2016-10-25 14:31] SerhiyShkolyarenko commented on #4872
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-25 14:31] #4872 closed, assigned to asemenenko, SerhiyShkolyarenko

[2016-10-25 14:31] hocomadvies commented on #7157
Could this be caused using an existing database? So there might still be something in the database referring to the (old)default language. So it does not matter whatever is selected on the user config-page?

[2016-10-25 14:31] SerhiyShkolyarenko commented on #6734
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-25 14:31] #6734 closed, assigned to nobody

[2016-10-25 14:32] SerhiyShkolyarenko commented on #6780
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-25 14:32] #6780 closed, assigned to SerhiyShkolyarenko

[2016-10-25 14:33] veloraven commented on #7031
@mitulispace please identify which version of Magento is running.

[2016-10-25 14:34] veloraven commented on #7032
@hocomadvies thank you for update.
I'm closing this issue.

[2016-10-25 14:34] #7032 closed, assigned to nobody

[2016-10-25 14:35] maghamed commented on #7057
Hi @lhsatch

Actually \Magento\CatalogInventory\Api\Data\StockStatusInterface
should answer to all your questions.

Long story short:
Magento has StockItem entity which represents amount (Qty) of specific product (productId) on a concrete stock (stockId).
StockItemInterface should be used when you would like to "write" data into the data storage (like update amount of products to sync up Magento w

[2016-10-25 14:44] dmcmillin commented on #6975
I found out the issue. My VPS uses Exim and m2 doesn't support it very well. It sends out emails without a true -f flag and my host then sends it out with mixed headers which causes it to be denied by most email host as spam.

[2016-10-25 14:45] ghost commented on #7162
We'll track this issue in the devdocs repo.

[2016-10-25 14:55] schnappenberger opened #7179 "Save And Duplicate Product leads to duplicated entity_varchar entries"
Wen you save and duplicate a product a save on the new product is executed which stores data in entity_varchar. The Duplicate-Method from ResourceModel\Product adds all attribute values from old id. The result are duplicated attributes in entity_varchar
### Preconditions
- Magento 2.1.2
- PHP 7
- Mysql 5
### Steps to reproduce
1. Save and Duplicate a Product
2. Search entity_varchar values in db f

[2016-10-25 14:58] PierAlex commented on #6941
Thanks Ievgen, i'll wait for that release.
PierAle

[2016-10-25 14:59] palamar commented on #7098
Internal task MAGETWO-60065 has been created for this issue

[2016-10-25 15:22] Ubeo commented on #5352
It looks like it is still not repaired in 2.1.2

[2016-10-25 15:43] EthicalErik opened #7180 "Add root or sub categorie button dissapear if you change store view"
### Preconditions

Magento 2.1.2
### Steps to reproduce
1. Products > categories
2. You can see the add root and subdirectory button
3. Change the store view.
   4.The buttons are not there anymore and you can't add a root or sub categories to that view.
### Expected result
1. A add a root categorie and a add a sub categorie button
### Actual result

1. No buttons
   ![magentogit1](https://cloud.g

[2016-10-25 15:50] romainruaud opened #7181 "Catalog Product Listing Ui component multiplies SQL clauses"
### Preconditions

1. Magento 2.1.1
2.
### Steps to reproduce

1. Navigate to the Product Listing page
2. Apply filtering (eg. on attribute set and product type)
3.
### Expected result

1. Only one filter on attribute_set_id and type_id
### Actual result

When logging the query :

SELECT `e`.*, `at_qty`.`qty` FROM `catalog_product_entity` AS `e`
 LEFT JOIN `cataloginventory_stock_item` AS `at_qty`

[2016-10-25 15:58] PascalBrouwers commented on #6869
Ok... the same thing is happening in Firefox.
Now with screenshots to show steps:

Create account
![magento2_issue_6869_1_create_account](https://cloud.githubusercontent.com/assets/17834386/19693415/bc3a8f52-9adb-11e6-8c18-2ceedea30c32.png)

Add to cart
![magento2_issue_6869_2_add_to_cart](https://cloud.githubusercontent.com/assets/17834386/19693421/c631eeb0-9adb-11e6-9d8c-ca4afe75f7c2.png)

From

[2016-10-25 16:01] palamar commented on #7082
Please provide more information, I can't reproduce issue with provided steps.
You can check my code [Custom_Module.zip](https://github.com/magento/magento2/files/551072/Custom_Module.zip)

[2016-10-25 16:04] PascalBrouwers opened #7182 "Not all customers are shown in backend"
### Preconditions
1. Magento 2.1.2 develop branch
### Steps to reproduce
1. Created 2 user accounts. first user with email: pascal@h-o.nl the second with pascal+1@h-o.nl (these are valid email addresses)
2. Go to the backend and see all customers
### Expected result
1. I should see 2 customers
### Actual result
1. Only 1 customer is shown:

![screen shot 2016-10-25 at 17 45 08](https://cloud.githu

[2016-10-25 16:09] PascalBrouwers commented on #7182
If I wait for the indexer to update it I see the new customer, but a new problem arrises:

![screen shot 2016-10-25 at 18 06 08](https://cloud.githubusercontent.com/assets/17834386/19694051/1d4862f4-9ade-11e6-86ac-5cee8c725fc1.png)

[2016-10-25 16:13] kokoc commented on #3515
Thanks for your findings.

This node was used as a container in previous design, not for catalog inventory module. The same behaviour could be observed in sales menu (Sales -> Operations)
Also we can't remove such obsolete nodes now, because of possible impact on developers who use these nodes.

[2016-10-25 16:13] #3515 closed, assigned to nobody

[2016-10-25 16:14] PascalBrouwers commented on #7182
Nevermind. My local database went down and I understand that I have to wait for the indexer to finish.

[2016-10-25 16:14] #7182 closed, assigned to nobody

[2016-10-25 16:30] cuiyang000 commented on #5627
Same here with 2.1.1

[2016-10-25 16:32] graffxdesign commented on #5642
Hi, I paid another programmer to find the error, he is going to send me the files and when he does I will post them asap.

[2016-10-25 16:46] Ctucker9233 commented on #5943
@veloraven modifying my php.ini file with date.timezone = "America/Los Angeles" helps some but I still have a two hour discrepancy.

[2016-10-25 16:51] dmitrisol commented on #4974
This is happening because of incorrect collection being passed to PdfInvoices massAction.

The consequence is that the invoice collection is filtered (incorrectly) by orderId.

To reproduce the issue, you shall invoice some of the orders, leave some orders not invoiced, then invoice some others in a random order.

The issue is not reproducible if orders are invoices in the same order as they're pl

[2016-10-25 16:55] SerhiyShkolyarenko commented on #6869
Bingo! I reproduced that! (dancing)
@PascalBrouwers between steps 2 and 3 of your initial message was absent a line

Issue doesn't depend on browser. Reproduced both for FF and Chrome. Internal issue MAGETWO-60076.
Thank you!

[2016-10-25 17:07] dmitrisol commented on #6219
The error reported is related to moving a file from a folder to another, not renaming it within the same folder, as my first message clearly explains.

Say you have to move a file from folder A to folder B (not children of each other or even from "var/tmp" to "var"), which I believe the third parameter to renameFile() is for?

May I suggest you to give a little more credit to developers like mysel

[2016-10-25 17:11] leoquijano commented on #7115
Hi @odubovyk, open the product detail page while logged out. It may also break in the checkout page.

If it's not happening due to other conditions (i'm using a custom theme), try to call that function from a template, `getAddressItems`, while not logged in.

You can see directly in the code example that the observable is not being used correctly, anyway. Calling `isLoggedIn` without the parenthes

[2016-10-25 17:13] leoquijano commented on #4218
I agree with @giacmir and I should mention that given the current state of upgrading, we're expecting Magento to break functionality between minor versions anyway, so this is a good update to include in 2.2.0

[2016-10-25 17:44] springimport commented on #6119
I had the same problem with my theme after including a block.

[code]

I solved it by adding `etc/view.xml` from luma.

[2016-10-25 17:44] ntoombs19 commented on #6572
I traced through the code to determine exactly why this problem exists. I found that any product that has the attribute 'required_options' set to true, will use the product URL as the "Add to cart" form action rather than the add to cart URL.
Product URL:
`https://m2demo.dev/chaz-kangeroo-hoodie.html?options=cart`
Add To Cart URL:
`https://m2demo.dev/checkout/cart/add/uenc/aHR0cHM6Ly9yZWJhcmNlLmRl

[2016-10-25 18:05] dthampy commented on #6713
internal jira ticket - MAGETWO-60074

[2016-10-25 18:15] HaykDrnoyan opened #7184 "[Exception] Warning: Error while sending QUERY packet."
Installing Magento 2.1.2 with Sample data. Downloaded the package from site (no composer install). Both web wizard installation and cli installation hang on Module 'Magento_ConfigurableSampleData': and showing an error: [Exception]
  Warning: Error while sending QUERY packet. PID=15454 in /home/..../vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 228

### Preconditions

CEN

[2016-10-25 18:16] alex-bukach commented on #7155
It might be not Magento issue, I have faced <legend> issue in Chrome on other sites.

[2016-10-25 18:23] Cacasapo commented on #5101
From what I gather, 2.1.2 was only a security update, so no fixes were included.

[2016-10-25 18:35] erikhansen commented on #6882
@ihor-sviziev I just tested the patch from your PR and I can verify that it fixed the described issue.

[2016-10-25 18:37] graffxdesign commented on #5642
On the Currency.php the local is defaulting to 'NULL', you can set your default local on line 106.

[code]

[2016-10-25 18:49] develpr commented on #5133
I've seen no updates so far (including on other support channels).

[2016-10-25 18:49] dmcmillin commented on #7113
Weirdly enough you're semi right. Magento is not attempting to utilize -f to send mail as from in exim. Which is causing the issue.

[2016-10-25 18:51] sumit619 opened #7185 "Thumbnail Missing formmagento 2.1x front end"
### Preconditions

1. 2.1x
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-10-25 19:02] graffxdesign commented on #5642
Anyone else not able to log onto github? I am getting server not found.

Anyway, I tried a successful order in the admin backend, I was told that it uses M1 code in the admin area, but I am getting an error.

An error occurred while trying to report this transaction to the merchant. An e-mail has been sent to the merchant informing them of the error. The following is the result of the attempt to c

[2016-10-25 19:09] ghost commented on #7162
@vanderlee I cannot reproduce your issue. I downloaded `zip` and `tar.gz` for CE without issues. Can you try again?

[2016-10-25 19:36] ghost commented on #7184
@HaykDrnoyan CE or EE? I'll assume CE

[2016-10-25 19:53] ghost commented on #7184
FWIW, could not reproduce with CE 2.1.2 with sample data (`.zip`), CLI install, CentOS 6, MySQL 5.6, PHP 5.6.22

[2016-10-25 20:00] wojtekn commented on #3515
@kokoc why you close this? you could at least document it somewhere as "known bug".

[2016-10-25 20:06] myselfgaurav commented on #3025
hi i got same error could not figure why so below is code in my front page:

[2016-10-25 20:07] ghost commented on #7184
Also could not reproduce with same `.zip`, CLI install, CentOS 7, PHP 7.0.6, MySQL 5.7

[2016-10-25 20:17] jvreeken commented on #5260
I'm still having problems with this as well:
Steps to reproduce on Magento 2.1.2:
1. Apply fixed files from 7a67ac9
2. Clear all rp_token and rp_token_created_at values in the customer_entity column:
UPDATE customer_entity SET rp_token=NULL;
UPDATE customer_entity SET rp_token_created_at=NULL;
3. Send password reset email by clicking link in admin or frontend
4. Reset the customer's password via t

[2016-10-25 20:50] mark-aculus commented on #7055
I can confirm that I am having the exact same issue as @cylix99.

I am running Magento 2.1.0

I am using one module to send emails out through SMTP.  It is possible that it has aggravated the situation, otherwise, I think newsletters wouldn't really work for anyone.  This is the custom module I am using:

https://www.magentocommerce.com/magento-connect/smtp-pro-email-free-custom-smtp-email.html

T

[2016-10-25 21:04] miro91 opened #7186 "Checkout stuck step 2 (payment) on Firefox only"
I have magento 2 running on live project and our clients are seeing some weird issue on Firefox browser. I was able to reproduce it only once and after refreshing the page everything is working as expected. I will be happy if someone have/had similar issue and have some information how to debug/fix it.
### Preconditions
1. Magento CE 2.1.0
2. Production mode & Varnish
3. Firefox latest version
###

[2016-10-25 23:53] Ctucker9233 commented on #5943
@veloraven with the help of my hosting company, I think I've traced it to app/bootstrap.ini date_default_timezone_set('UTC');
This issue has appeared before. See #3028.
I understand the reasoning for keeping it UTC.
In framework/stdlib/DateTime/DateTime.php it looks like it is supposed to create an offset from UTC so that the users local time is displayed in the newsletter queue. It would appear t

[2016-10-26 01:26] nagrgk opened #7187 "Grouped product - tax class sent multiple times - elasticsearch"
Grouped product  having 3 child products, reindex will send 3 same tax class ids to elastic search and it throws exception.

ps in this set: 6', 8' and 10'. 100% soft and durable cotton. Plastic cinch buckle is easy to use. Choice of three natural colors made from phthalate and heavy metal free dyes.","gender":"89 90 93","image":"\/l\/u\/luma-yoga-strap-set.jpg","is_returnable":"2","material":"41

[2016-10-26 02:19] phuc128t opened #7188 "Authorize.net Direct Post - Checkout timeout"
### Preconditions

1. Magento 2.1.2
2. PHP 7.0.8 and mysql 5.7
3. Ubuntu Apache
### Steps to reproduce

1. Setup authorize.net direct post with sandbox account or real account but use test mode
2. Add product to cart and process to checkout with test credit card
### Expected result

1. Payment goes through and takes customer to success page
### Actual result

1. Got "Sorry, but something went wron

[2016-10-26 03:18] duyleekun commented on #7178
Same thing happens to me

Environment

Docker inside Ubuntu
Magento 2.1

[2016-10-26 03:29] myselfgaurav opened #7189 "Error filtering template: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'e.name' in 'field list',"
i did migrated my magento 1.9 using data migration toll it was migrated well

Now i did below steps

1: change category and product in catalog to flat (for speed issue)
2: i flushed image cache from magento backend

After that my rest of  pages was working fine but on home pages i was getting below error in place of block that show latest products

**Display “We're sorry, an error has occurred whi

[2016-10-26 04:02] mitulispace commented on #4687
Magento ver. 2.1.1

[2016-10-26 04:03] mitulispace commented on #6969
Magento ver. 2.1.1  But This issue Solved
Step follow
Note : Your Website path Will be put Ex. php abc.com/bin/magento
Step1 Run following command php bin/magento setup:static-content:deploy
Step2 Run  php bin/magento setup:upgrade
Step3 Run  php bin/magento setup:di:compile
Step4 Run  php bin/magento cache:clean

[2016-10-26 04:10] joedin51 commented on #4139
I have the same problem. shipping amount flat rate & table rates go to 0 when shipping cart has more than 1 item.  I have tested running Wampx64 on Windows 10,  Several version on the community as well as cloned version on the gethub site. You would think that someone would be looking into this problem, as there are a lot of problems being reported on the Internet. I hope this will be resolved soo

[2016-10-26 04:27] mitulispace opened #7190 "How To uninstall extension in Magento ver. 2.1.1"
How To uninstall extension   in Magento ver. 2.1.1   ????
Any Step ??

[2016-10-26 04:27] mitulispace commented on #7031
Magento ver. 2.1.1  @veloraven

[2016-10-26 04:30] mitulispace commented on #6736
This issue  Solved    extension Not Support

[2016-10-26 04:32] phuc128t commented on #7188
It seems there are some reported for this issue. I tried some solution suggested here https://github.com/magento/magento2/issues/4813 but no luck. Or we can't test it with sandbox account. My site is under development but still can access from public.

[2016-10-26 04:34] #6969 closed, assigned to nobody

[2016-10-26 04:34] #6736 closed, assigned to nobody

[2016-10-26 04:58] mitulispace commented on #7189
Delete All Cache in This Folder var/cache

[2016-10-26 05:10] tylerd92vn commented on #6414
Can anyone mark this as solved?

[2016-10-26 05:11] tylerd92vn commented on #4139
I solved this here @joedin51

https://github.com/magento/magento2/issues/6414?_pjax=%23js-repo-pjax-container#issuecomment-245303669

[2016-10-26 05:17] mitulispace opened #7191 "New Integration Form Not Open"
### Steps to reproduce

1. System => Extensions => Integrations
2. Click On Add New Integration Form Not  Open
### Expected result

1.  Form Open  Proper
### Actual result

![capture1](https://cloud.githubusercontent.com/assets/16436069/19714183/bdd00c8c-9b69-11e6-9060-ebb3fec39442.PNG)

[2016-10-26 06:05] shahankitb997 commented on #6939
Hi @dthampy Have u got time to check. I already mailed with you details. Let me know if you need more info

[2016-10-26 06:15] pyyick commented on #4170
@wojciechowskid I disabled the cache, but the same error happens too.

[2016-10-26 07:05] slackerzz commented on #6943
Maybe It would be nice to include such information in the docs. I thought I was using standard LESS, instead we have a customized version. Each day I discover a different behavior from the standard LESS language, like https://github.com/magento/magento2/issues/4218 or https://github.com/magento/magento2/issues/2264

[2016-10-26 07:30] veloraven commented on #3154
For develop was fixed in b75fc4f8
For 2.0 - Internal ticket MAGETWO-57645

[2016-10-26 07:51] #3821 closed, assigned to ishakhsuvarov

[2016-10-26 08:01] PascalBrouwers commented on #6869
Yay! Glad you could reproduce it. You can use my fix in https://github.com/magento/magento2/pull/6870 for this issue.

[2016-10-26 08:02] veloraven commented on #3860
Closed as has been already fixed in 3ff19bf82a c2fd29677 0859c7d3

[2016-10-26 08:02] #3860 closed, assigned to nobody

[2016-10-26 08:07] veloraven commented on #3911
Closed as has been already fixed in 5099ab40 b3e4c3bb2 e7ae8f3c

[2016-10-26 08:07] #3911 closed, assigned to nobody

[2016-10-26 08:11] almarchenko commented on #1812
Hi @qwerty7869 , @markoshust
Do you need info about using datepicker via the Field UI component (date input in Admin forms are implemented like this) or simply using the widget?
In other words, was your request about improving the  http://devdocs.magento.com/guides/v2.1/javascript-dev-guide/widgets/widget_calendar.html doc, or about the absence of the comprehensive doc about Field UI comp?
We will

[2016-10-26 08:12] #4035 closed, assigned to nobody

[2016-10-26 08:23] veloraven commented on #4068
Closed as this issue has been already fixed in 26386404
If you still can reproduce it feel free to create new GitHub issue

[2016-10-26 08:23] #4068 closed, assigned to nobody

[2016-10-26 08:37] PaulBoss commented on #6781
Is there an update or timeframe for this issue? We also want to sync the product data and we are waiting for a fix for this. A workaround would be to do an API call for /product/{sku} for every product but that will add a significant load to the store.

[2016-10-26 08:39] PaulBoss commented on #6127
Is there an update or timeframe for this issue? We also want to sync the product data and we are waiting for a fix for this. A workaround would be to do an API call for /product/{sku} for every product but that will add a significant load to the store.

[2016-10-26 08:45] paales commented on #6415
@rip057 In my case 512M wasn't enough, so upping the memory limit wont solve this issue.

[2016-10-26 08:49] SerhiyShkolyarenko commented on #6869
@PascalBrouwers thanks. We changed this behavior in scope of MAGETWO-56073 and the issue is fixed too. Please, wait for delivery of MAGETWO-56073.

[2016-10-26 08:55] PascalBrouwers commented on #6869
Cool, does it also solve the issue with adding a new address during checkout?

[2016-10-26 08:57] serzhik commented on #6866
Look at vendor\magento\module-wishlist\Pricing\ConfiguredPrice\ConfigurableProduct.php

[code]

https://github.com/magento/magento2/blob/2.1/app/code/Magento/Wishlist/Pricing/ConfiguredPrice/ConfigurableProduct.php#L22-L33

[2016-10-26 09:20] Tristan-N commented on #2619
@Iazel Can you tell me something more about that script that worked for you? What script did you use, where did you put it and what did it do (in short). It would help me out a lot because I don't want to save 900+ categories one by one.

I have the same problem as mentioned by @djha108 and others. Using Magento 2.1.1 with PHP 7.0.12.

Thanks!

[2016-10-26 09:30] Tristan-N commented on #1471
@sajidunnar How did you debug? I sometimes run into this issue. Can't tell you exact when and how, but usually when saving an category. In that situation there was a product in a subcategory that caused issues in all parental categories. Removed that product and I was able to save cats again.

This issue ran on Magento 2.1.2. Didn't had time to debug so went for remove and recreate the same produc

[2016-10-26 09:32] lhsatch commented on #7057
Hi Maghamed,
You are a legend!!!!! That has worked perfectly and the getStockStatus() function works for both 0 quantities and for stock status (out of stock).  Thank you.

[2016-10-26 09:40] veloraven commented on #4174
Original internal ticket was closed without fixing.
We now have another one - MAGETWO-52971
I'm closing this issue as duplicate of #4462

[2016-10-26 09:40] #4174 closed, assigned to tanya-soroka

[2016-10-26 09:59] SerhiyShkolyarenko commented on #6694
The fix is delivered to develop branch. Closing the issue.

[2016-10-26 09:59] #6694 closed, assigned to nobody

[2016-10-26 10:03] SerhiyShkolyarenko commented on #6866
The fix is delivered to develop branch. Closing the issue.

[2016-10-26 10:03] #6866 closed, assigned to antboiko

[2016-10-26 10:05] sajidunnar commented on #1471
@Tristan-N  I used phpstorm with xdebug to follow the flow of execution as its was having couple of observers before and after save of categories , code was calling aroundReplace from vendor/magento/module-catalog-url-rewrite/Model/Category/Plugin/Storage.php, it has parameters named urls , which has all URL Rewrites of our store( I guess) function is trying to find possible  duplicate url rewrite

[2016-10-26 10:05] SerhiyShkolyarenko commented on #5693
The fix is delivered to develop branch. Closing the issue.

[2016-10-26 10:05] #5693 closed, assigned to alena-marchenko, viktym

[2016-10-26 10:08] janeblonde opened #7192 "Customizable Options, when selected on the front end, they update the price of the UpSells and Related products."
**Preconditions**
    Magento CE 2.1.0
    PHP  7.0.12
   MySQL Version mysqlnd 5.0.12-dev

Steps to reproduce

**Create a product**
1. add upsells for the products
2. added Related products
3. Add some customizations with prices (I added tickboxes)
4. Go to product page on front end
5. tick any option

**Expected Result**
The price of the product increases

**Actual Result**
The product price inc

[2016-10-26 10:09] iazel commented on #2619
@Tristan-N I've uploaded the script in this repo:
https://github.com/Iazel/magento2-regenurl

Please notice that this wasn't meant to be published, so it is a little rough and has been developed for my specific use case ^^" However it could be useful as a starting point.

[2016-10-26 10:10] SerhiyShkolyarenko commented on #6127
The fix is delivered to develop branch. Closing the issue.

[2016-10-26 10:10] #6127 closed, assigned to mbrinton01

[2016-10-26 10:20] SerhiyShkolyarenko commented on #6224
The fix is delivered to develop branch. Closing the issue.

[2016-10-26 10:20] #6224 closed, assigned to victor-v-rad

[2016-10-26 10:36] noprobz09 commented on #4637
I also have problem regarding on creating custom theme, Im using Magento 2.1.1 version.
Screenshots:
http://screencast.com/t/Zc9phqMMQ
http://screencast.com/t/S8cETnk84

[2016-10-26 10:36] romainruaud opened #7193 "Product Edit Page : Category Picker Component too slow if many categories."
### Preconditions

1. Magento 2.1.1
2.
### Steps to reproduce

1. Build a catalog with many categories (I have 6000 categories, from levels 1 to 8).
2. Access the Product Edit page in back-office.
### Expected result

1. Page is displayed after a reasonable time (3-4 seconds) and the form is accessible for editing. The category picker also works fast.
### Actual result

1. The page is properly dis

[2016-10-26 11:02] odubovyk commented on #7125
Thank you for the report.
Internal ticket MAGETWO-60127

[2016-10-26 11:05] Tristan-N commented on #2619
@Iazel Thanks a lot! this is great! I do have some further questions for you. Can i contact you by email for example?

[2016-10-26 11:06] veloraven commented on #4184
We are working on this issue.

[2016-10-26 11:06] sIiiS commented on #4921
issue still available in 2.1.2 and will be fixed with changing address lines to 1 !

[2016-10-26 11:11] vihuarar commented on #5222
I solved just doing a `php bin/nagento inderxer:reindexer` in terminal

[2016-10-26 11:18] odubovyk commented on #7115
Thank you. Internal ticket - MAGETWO-60128

[2016-10-26 11:28] snez commented on #5801
+1

[2016-10-26 11:30] ilol commented on #7156
@ihor-sviziev,  Can you use latin alphabet for your purposes?

[2016-10-26 11:36] ihor-sviziev commented on #7156
@ilol for latin alphabet it works as should, however for non-latin alphabet - validation fails.

[2016-10-26 11:42] kevincal commented on #5504
I've seen this in 1.9.x as well.  Have you found a resolution?

[2016-10-26 11:56] veloraven commented on #5131
Closed as the issue was already fixed for 2.1.
Please create new GitHub issue if you can still reproduce it.

[2016-10-26 11:56] #5131 closed, assigned to maksek

[2016-10-26 12:00] veloraven commented on #5266
This issue is already fixed in develop.
Internal ticket for 2.1 - MAGETWO-56950

[2016-10-26 12:02] pronto2000 opened #7194 "Registering on checkout success page always generates user with two addresses, even when asked not to"
When a guest registers on checkout success page, the account created has always two addresses assigned to it, even after user explicitly asks to use shipping address for billing.
### Preconditions

1. Issue manifest on all Magento 2 versions released so far (tested on CE 2.1.2 and EE 2.1.2)
### Steps to reproduce

1. As a guest put something to the shopping cart and complete 1. step of checkout.
2

[2016-10-26 12:24] dcabrejas commented on #7186
I have exactly the same issue on Magento 2.1.0, it happens sporadically so I can't provide further details as to how to replicate it other than what @miro91 has already written. I can however tell you that for us, we have replicate it on Google Chrome and Safari so I don't think this is specific to the Firefox browsers. There is nothing in the logs nor in the browser console when the issue happens

[2016-10-26 12:27] kanduvisla opened #7195 "M2.1.2 : Live site in production shows blank page with only 'Add Video' button."
When I try to edit a product in production, I only get an 'Add Video'-button like this:

![screen shot 2016-10-26 at 14 23 06](https://cloud.githubusercontent.com/assets/346681/19725782/de187074-9b87-11e6-9cf5-7e9de0b6f920.png)

Source:

[code]

... that's it. The source just ends there at `data-types="`.

I have no exception or anything useful in my `var/log`-folder. However, I do have a PHP erro

[2016-10-26 12:30] Loxzibit commented on #7186
I have the same issue on two different projects, one is running 2.0.9 and the other is running 2.1.0. Is there a solution for this?

[2016-10-26 12:38] iazel commented on #2619
@Tristan-N if it something about this issue, please write it here, so everyone can benefit from it. If it is something regarding the script, then open an issue on the repo :)

[2016-10-26 12:48] ihor-sviziev commented on #6275
Unfortunately I have this issue too.
In develop branch we already have fix for this issue: https://github.com/magento/magento2/commit/23103c03c527fe1ed3e1a3be691436818b7963fe

Waiting for release that will include it...

[2016-10-26 12:57] SerhiyShkolyarenko commented on #6869
No, it doesn't. Created a separate issue for prefilled address form: MAGETWO-60110.

[2016-10-26 13:09] ghost commented on #7186
@dcabrejasazagra  @Loxzibit  are your stores set in production mode?

[2016-10-26 13:24] odubovyk commented on #7046
Thank you for the ticket.
We had internal ticket MAGETWO-58614 on this.
It was fixed and delivered https://github.com/magento/magento2ce/pull/422
I'm closing this ticket

[2016-10-26 13:32] #7046 closed, assigned to nobody

[2016-10-26 13:41] veloraven commented on #6401
Internal ticket for 2.1 - MAGETWO-58362

[2016-10-26 13:44] dcabrejas commented on #7186
@jupiter01 I have managed to replicate this issue on both production and developer mode

[2016-10-26 13:44] mombrea opened #7196 "Grunt config is overwritten on Magento updates via composer"
This issue occurs on composer upgrades of Magento CE 2.x.x

Latest instance occurs in upgrade to Magento CE version 2.1.2
### Steps to reproduce

1. Configure your theme for Grunt in /dev/tools/grunt/config/themes.js
2. Update Magento using composer
### Expected result

1. Magento should update but not overwrite configuration files
### Actual result

1. /dev/tools/grunt/config/themes.js is overwri

[2016-10-26 13:45] palamar commented on #7171
Internal ticket MAGETWO-60143 has been created to track this issue.

[2016-10-26 13:51] HellgaM opened #7197 "Negative product qty with "-" is not valid in admin panel product page"
Negative product qty with "-" is not valid even if "backorder" is enabled
https://drive.google.com/a/interiorwebdesign.com/file/d/0ByJDgAmB3zgAYk0tQmRhVnZWNms/view?usp=drivesdk
### Preconditions

Magento version is 2.1.0
PHP 7
MySql 5.6
### Steps to reproduce
1. Open product in admin panel
2. Set inventory "-8"
3. try to save product
### Expected result
1.  Value with "-" should be valid
### Actua

[2016-10-26 14:19] timhofman commented on #5880
@piotrekkaminski in which release can we expect this switch? We are currently running into performance issues in which \Magento\Framework\Encryption\Crypt.php:__construct is the bottleneck. It's adding several seconds to the response time.

![mcrypt](https://cloud.githubusercontent.com/assets/1487933/19733152/7b04e992-9ba3-11e6-8ae1-d7cad7f7c3a1.png)

[2016-10-26 14:23] SerhiyShkolyarenko commented on #5181
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-26 14:23] #5181 closed, assigned to SerhiyShkolyarenko

[2016-10-26 14:26] odubovyk commented on #7090
Thank you for the report. Internal ticket MAGETWO-60146

[2016-10-26 14:31] palamar commented on #7168
Internal ticket MAGETWO-60147 for this issue has been created.

[2016-10-26 14:33] joates-ldg commented on #5319
I'm running the same setup as @peec but with 2.1.3 and experiencing the same issue.

However I can login to the admin, we are instead receiving an error on the product overview page of the admin while trying to load an ajax page.

I've switched to DB for sessions, which has resolved the issue, however again I don't think this is a long term fix.

[2016-10-26 14:35] odubovyk commented on #7156
I close this as cyrillic symbols are not supported for the password. Password must use latin symbols

[2016-10-26 14:37] #7156 closed, assigned to nobody

[2016-10-26 14:38] kanduvisla commented on #7195
So far I'm trying to break down where this error occurs. It looks like the big hold-up is caused by a plugin in the Product Swatches module. The code seems to break when the interceptor tries to execute `\Magento\Swatches\Model\Plugin\Product::afterGetMediaAttributes()`.

The code breaks when the following line is executed in `Magento\Framework\Interception\Interceptor`:

[code]

But still, I thin

[2016-10-26 14:38] vanderlee commented on #7162
Tried Chrome, Firefox, Opera, Edge, IE11 and Safari; all failed.

The login screen looks like this:
![image](https://cloud.githubusercontent.com/assets/649240/19730452/94902812-9b9a-11e6-8594-bcf2d89ae648.png)
I'm logged correctly, but then the download simply does not start.

[2016-10-26 14:40] vanderlee commented on #7162
Just checked on another PC w/ Chrome: the login popup looked okay, but still no download.

[2016-10-26 14:47] palamar commented on #7167
Such URL exists only on backend in WYSIWYG area, if you open CMS page/block on frontend URL will be like http://www.example.com/media/wysiwyg/<image name>.
Such behavior is not a bug.
If you see same URL on frontend as on backend, provide more details please.

[2016-10-26 14:48] maghamed commented on #7090
Hi @lhsatch

Looks like you use
\Magento\CatalogInventory\Model\ResourceModel\Stock\Status::getProductsStockStatuses($productIds, $websiteId, $stockId = Stock::DEFAULT_STOCK_ID)

method passing $websiteId = 1 (your current website) and get an empty result, because ResurceModel Stock Status uses it as a filter for cataloginventory_stock_status table.

Correct way to achieve desirable behavior is to

[2016-10-26 14:58] kanduvisla commented on #7195
ARGH!

Sorry guys, my bad... turns out I screwed up the `eav_attribute`-table with a faulty upgradescript. Well at least, it was faulty at first. What it tried to do is create an attribute programatically with frontend input type `select`. But instead of setting `frontend_input` to `select`, I'd set `frontend` to select, causing Magento to look for a frontend model named `select`. Which doesn't ex

[2016-10-26 14:58] #7195 closed, assigned to nobody

[2016-10-26 15:09] SerhiyShkolyarenko commented on #7096
@RUjmiak V1/carts/mine/shipping-information is a composite(aggregate) service which processes shipping address, billing address, shipping carrier code and shipping method code, then returns payment information. It was created for one page checkout higher performance. It needs full data object(full address data).

In Magento quote address and customer address are different instances, so they are no

[2016-10-26 15:10] pobrassard commented on #6296
Hi,

Is it possible that this issue it not only with PayPal Express. I'm getting the same problem with other payments method not integrated by default in Magento.

[2016-10-26 15:10] patrick-bigbridge commented on #5680
Thanks for the explanation. The DataObject objects returned by getMediaGalleryImages() provide many interesting facts, but not the "roles" of the image (i.e. base, small, thumbnail, swatch). I would like to filter just the swatch image, if possible.

[2016-10-26 15:28] SerhiyShkolyarenko commented on #6964
Closing the issue as far as we covered different aspects of the topic.

[2016-10-26 15:28] #6964 closed, assigned to SerhiyShkolyarenko

[2016-10-26 15:38] Kasoi-free opened #7198 "Table Rates shipping method does not update checkout"
Changing the shipping address on checkout does not make Table Rate method to update.
### Preconditions
1. Magento 2.1.2 with sample data
2. PHP 7.0.12 and MySQL 5.6
3. Chrome 54 and Firefox 49
### Steps to reproduce
1. Disable all shipping methods but leave Table Rates enabled
2. Import in Table Rates one rate for some non-default country like Afghanistan:
   AFG,_,_,0.0000,15.0000
3. Add Simple p

[2016-10-26 15:39] myselfgaurav commented on #7189
Done this many times

On 26 Oct 2016 10:29 am, "mitulispace" notifications@github.com wrote:

[2016-10-26 15:52] saschabratton commented on #1471
@sajidunnar do you have multiple stores?

[2016-10-26 16:14] DreLincolin commented on #7178
duyleekun

Did you try creating a product with out no Category selected as related ?
In my case i tried to create new products with our adding it to any category and all is ok
when trying to update it to any category it fails with that error
Seems Category URL rewrites are broken for some reason
Also Products in Category view (Front End) not showing

[2016-10-26 16:22] dmcmillin commented on #7167
Nope. That url was taken from frontend. I am not getting media/wysiwyg

On Wed, Oct 26, 2016 at 7:48 AM, Mykola Palamar notifications@github.com
wrote:

##

Vasari Plaster and Stucco, LLC
Web Support Specialist
805-845-2497

[2016-10-26 16:23] dthampy commented on #6939
@shahankitb997 , after looking into your issue with import, it looks like there is a product attribute that you have created with name "Product Type" which has an attribute code = "product_type".
Please remember that product_type is a reserved name . So if you could delete or rename that attribute code to something else , your import should work fine.

More info has been sent to your email.

Thank

[2016-10-26 16:27] tuandev-nv commented on #4394
@ooples app/code/CompanyName/ModuleName/etc/acl.xml

[2016-10-26 17:01] frostshoxx commented on #7106
Turned out it was the extra space after ".._images " that caused the issue.

It might be worthwhile for the importer to trim the column name before/during the column validation, though.

[2016-10-26 17:01] #7106 closed, assigned to nobody

[2016-10-26 17:16] pyostrike commented on #6925
Хохлы ) Лишь бы не работать.

[2016-10-26 17:28] southerncomputer commented on #7190
in theory:
http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-uninstall-mods.html

in reality (With composer):
php bin/magento module:disable Module_Name
composer remove Composer_Module_Name

In reality: Good luck with either of those actually working, you'll need to clean out app/code and undo all the database install/changes, after you php bin/magento module:disable , plu

[2016-10-26 17:30] southerncomputer commented on #7189
rebuild your indexes! Especially after making changes to flat. I'd not use flat if I were you, switch to a SOLR/ELASTICSearch (ElasticSuite !) product for search

[2016-10-26 18:18] tomasvinduska commented on #6588
still no fix?

[2016-10-26 18:19] liiskmaa commented on #4921
I couldn't set the address lines to 1 because it is multi-line attribute and its minimum value is 2.
One way to fix it is to override the
`getMultilineFieldConfig`
method in
`Magento\Checkout\Block\Checkout\AttributeMerger`
class and change the line 274 so that it looks like this

`'validation' => $isFirstLine
         ? array_merge(
                        ['required-entry' => (bool)$attributeCon

[2016-10-26 18:21] pitangaweb opened #7199 "Price filter showing prices excluding taxes"
### Preconditions

1. Magento 2.1.2 installed using composer
### Steps to reproduce

1. Set catalog settings to show prices _including taxes_ on front-end
2. Enable layered navigation by setting "is anchor" to yes on every categories
### Expected result

1. Price filter on catalog pages should display price ranges _including_ taxes.
### Actual result

1. Price filter displays price ranges _excludi

[2016-10-26 18:33] unfunco commented on #5701
Since `ext-openssl` is already a requirement of Magento, would it not make more sense to use that instead? PHP 7.1 will be throwing `E_DEPRECATED` for the use of `ext-mcrypt`, and it will either be moved to PECL in 7.2 or 8.0. Usage (ignoring vendors) is contained within `Framework/Encryption` and it shouldn't be too complicated to migrate (code) – migrating existing data might be more involved.

[2016-10-26 19:05] ghost commented on #7162
I logged in the same way as you did on Chrome. I'll see if I can find someone internally who can explain it.

[2016-10-26 19:10] titus213 opened #7200 "Configurable Products dropdown not showing pricing"
I have a configurable product and the configurations all have different prices.  The dropdown on my configurable product does not show pricing information (like it did in Magento 1.9).
### Preconditions

Magento ver 2.1.2 up to 2.3.1
### Steps to reproduce

1. Create a configurable product with two attributes and that the second attribute (second in the list, never the first one - it's essential f

[2016-10-26 19:11] dthampy commented on #6683
Thank you for your bug report - internal jira ticket MAGETWO-60169 is created to track this issue.

[2016-10-26 19:29] plentyhappy commented on #7198
I am mainly posting this to confirm that others are seeing this problem too and first poster is not alone.  Tested from multiple locations and computers

**Preconditions:**
- on our development site
- Magento 2.1.2 without sample data
- php 7.0.11
- MySQL 5.6.25
- We use flat rate ship table.

**Steps to reproduce:**

1) clear cache

 2) add to cart

 3) check out

4) type in a test shipping addre

[2016-10-26 19:58] gorillagroup opened #7201 "Reorder functionality is adding disabled products to cart"
Magento adds products that have been disabled to the cart.
### Preconditions
1. Magento 2.1.2 EE
2. Customer account created
### Steps to reproduce
1. Place Order in Magento for a product
2. Disable the product in the admin panel
3. Log into the My Account section, open the order details for the previously placed order and click "reorder"
4. Disabled item gets added to the cart
### Expected result

[2016-10-26 20:29] Enelar commented on #2276
@magento-team catched it on 1.13.0.2, on zero length file

[2016-10-26 20:39] Sanfam commented on #2816
For those troubleshooting this issue on Magento 2.1 and ahead, it appears that this field was relocated to `CONTENT > Design > Configuration > Edit > HTML Head`, moved from its previous home under Store Configuration

[2016-10-26 20:41] Sanfam commented on #7197
Additional note: While Magento appears to be able to track negative inventory counts and can even export this data as part of a comprehensive Product Data Export, but will error out when attempting to import these negative `qty` values (regardless of whether or not inventory tracking or backorder are enabled)

[2016-10-26 20:43] suntrop commented on #7072
I ~~am~~ was using PHP 5.5.33 and ~~get~~ got the same error. Now with 5.6.16 it works.
Perhaps this helps people coming from google :-)

[2016-10-26 20:51] MarekKarmelski commented on #3754
Confirm! Still bug in CE 2.1.2

[2016-10-26 21:29] SantoDE commented on #4170
I'm encountering the same Issue with a disabled FPC as well. While manually applying the fix commit above all works out. Is there any ETA on when this is getting into a "real version"? How do you guys apply those workarounds? I mean it's fixed in this git repro code. I don't really get that.

[2016-10-26 21:49] SantoDE commented on #6882
Is that possible linked to #4170 @sevos1984 ?

[2016-10-26 22:20] dthampy commented on #6816
internal jira ticket MAGETWO-60176 is created to track this issue.

[2016-10-27 00:16] eharvest commented on #5260
I'm running 2.1.0, got a project just about to launch now I cannot create/reset password when I add new customer. Steps to reproduce:
1) Add a new website - Wholesale
2) Add a new customer and assign him to Webiste: Wholesale, Customer Group: Wholesale.

Notification email sends ok, but once I try to create the password, it give error: **Something went wrong while saving the new password.**

I hav

[2016-10-27 00:22] btjackson11 commented on #4895
@klict do you remember which module it is? Having the same issue, but can't track down what is causing it.

[2016-10-27 01:19] shahankitb997 commented on #6939
Hi @dthampy Still issue persist with Default Product Type as Well. I mailed u with detail.  Please check & respond. I'm using Windows 10 64 Bit, MS Office 2016.

[2016-10-27 03:12] sitepodmatt commented on #2996
Is there a related issue open for this? Surely we're not going to close this silent failing with no debug hints as ok

[2016-10-27 03:46] phuc128t commented on #7188
Sorry, It seems a custom theme issue.

[2016-10-27 03:46] #7188 closed, assigned to nobody

[2016-10-27 06:01] itaymesh opened #7202 "Can't reorder product tabs using any standard way: before, after <move />"
Product tab reordering is not working using any standard way: before, after <move />

For example, if you'd like to move the "Description" tab after any other tab it WILL NOT WORK.
`<move element="product.attributes" destination="product.info.details" after="-" />`

Even if you try to use a before attribute in the original layout XML catalog_product_view.xml
`<block class="Magento\Catalog\Block\Pr

[2016-10-27 06:10] popatkaran opened #7203 "customer segment issue after data migration magento1 to magento2 enterprise edition"
I have completed with data migration and data was migrated from magento 1 (ee : 1.12.0.2) to magento 2 (ee: 2.1.1). After migration I have reindex data and cleared cache. In front-end I am getting error

[code]

I have attached report log file here for reference.
[1272167402754.zip](https://github.com/magento/magento2/files/555056/1272167402754.zip)

If I disable **Magento_CustomerSegment** extens

[2016-10-27 07:18] klict commented on #4895
@btjackson11
Hi,
In our case it was "FollowupEmail" by Aheadworks. We don't know what they did but we couldn't create any creditmemo.

[2016-10-27 07:20] Davidmichael4u commented on #2429
Magento - one among the top 3 most preferred eCommerce development platform offers a new REST API that is compatible with its latest Magento 2.0 version. https://magento.uservoice.com/forums/72699-magento-mobile/suggestions/17099923-magento-rest-api-for-magento-2-mobile-app

[2016-10-27 07:31] ericahoekerd opened #7204 "2.1.2 CE WEBAPI: product is assigned to all websites if store_code 'all' is used by SOAP request"
Magento 2.1.2

If we send a XML request (see attachment) with store code 'all', the product is assigned to all available websites. This is a bug. We set the store to 'all' beacuse the description and attributes should be global available. If we use a specific store_code this is not happening.

With the webservice method 'catalogProductWebsiteLinkRepositoryV1SaveRequest' the assignment for a produc

[2016-10-27 07:31] hd1272 commented on #7184
Thanks for checking, @xcomSteveJohnson Yes, CE, 2.1.2 I installed using CLI and after sampledata:deploy, modeul:enable /_sample data modules_/, on setup:upgrade step I receive this

Module 'Magento_ConfigurableSampleData':

  [Magento\Framework\Exception\SessionException]
  Area code not set: Area code must be set before starting a session.

  [Magento\Framework\Exception\LocalizedException]
  Are

[2016-10-27 07:35] vanderlee commented on #7162
There seems to be a new download page today: https://magento.com/tech-resources/download, which DOES work. The old URL https://www.magentocommerce.com/download now redirects to that page too.

It's still not ideal, not being able to download to the server directly, but atleast I can download again.

[2016-10-27 07:35] ericahoekerd opened #7205 "2.1.2 CE WEBAPI: SOAP empty special price will result in a price 0.0000 bug"
Magento 2.1.2
[special_price_product_save.zip](https://github.com/magento/magento2/files/555203/special_price_product_save.zip)

STEPS to reproduce: create an XML request as in the zip
ACTUAL result: special price is set for product to 0
EXPECTED: don't touch special price for an item when no value is sent

If we are sending an empty special price in the productSave method, the price is saved as 0

[2016-10-27 07:38] suntrop commented on #7072
Ok, 2.1 doesn't work on PHP 5.5. 2.0 was the last release working with 5.5

[2016-10-27 08:12] vanderlee opened #7206 "Composer conflicts updating to CE2.1"
When trying to update CE2.0.10 to CE2.1 using composer, after applying the MDVA-532, I get version conflicts.
### Preconditions
1. Magento CE 2.0.10 with MDVA-532 patch applied
### Steps to reproduce
1. `composer require "magento/product-community-edition:2.1.*" --no-update`
2. `composer update`
### Expected result
1. Updating the packages for latest CE2.1
### Actual result

[code]

I've tried fix

[2016-10-27 09:12] SerhiyShkolyarenko commented on #3997
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-27 09:12] #3997 closed, assigned to SerhiyShkolyarenko

[2016-10-27 09:21] storepeinture commented on #7180
I have the same issue, and I just got here to report the exact same thing. So, I can confirm this issue on my side (Magento 2.1.2).
Also reloading the page doesn't help.

[2016-10-27 09:21] davidnguyen2205 opened #7207 "Cannot get the product's price included tax by rest api"
### Preconditions

Magento 2.1.1
### Steps to reproduce
1. Add tax rate & rule (10%)
2. Change some settings in Stores > Configuration > Sales > Tax:
   ![price incl tax](https://cloud.githubusercontent.com/assets/18303554/19761430/1dedd2d8-9c60-11e6-8df8-d3cbc33ba6a3.PNG)
3. Add a new product (for testing):
   Price: $10
4. Save then indexer:reindex and clear cache or even disable cache.
### Expe

[2016-10-27 09:25] davidnguyen2205 commented on #7199
Same as my problem...

[2016-10-27 09:34] veloraven commented on #7157
@hocomadvies you need to have installed translation for desired language in order to use it. Magento itself contains en_US language only.
You can find information in the [User Guide](http://docs.magento.com/m2/ce/user_guide/stores/store-language-add.html?Highlight=localization) .
I'm closing this issue as it is not a Magento issue.
Please refer to the [Community Forums](https://community.magento.c

[2016-10-27 09:34] #7157 closed, assigned to nobody

[2016-10-27 09:35] veloraven commented on #7160
@LiamFielding thank you for your feedback.
Please identify which version of Magento you are running.

[2016-10-27 09:59] OZZlE opened #7208 ""Used in Product Listing" - not implemented?"
### Preconditions
1. Magento CE 2.1.1
2. PHP 7.0.8
3. MySql  Ver 14.14 Distrib 5.6.32-78.0, for debian-linux-gnu (x86_64) using  6.3
### Steps to reproduce
1. Choose an existing product attribute such as Country of manufacturer
2. Choose: Used in Product Listing: Yes
### Expected result
1. You can see the attribute on frontend in the product listing (category page) beneath each product info when t

[2016-10-27 10:05] deepthit57 commented on #4852
Hi Elen,
Is this available in 2.1.2 EE? As far as i can see, its still not working for grouped items. Could you please confirm

[2016-10-27 10:07] fvschie commented on #4004
And now? :-)

[2016-10-27 10:09] deepthit57 opened #7209 "Gift wrap option for individual items not displayed for grouped items"
Magneto Enterprise Edition
Version: 2.1.2
![gfit_wrap_option_not_displayed_for_item_level](https://cloud.githubusercontent.com/assets/20681023/19763401/76af0ac2-9c5b-11e6-9d48-92a4a496e010.png)

Steps:
1. Go to Magento admin
2. Go to Stores-.Configuration->Sales->Sales
3. Set "yes" for all the options under Gift Options Section
4. Save the config
5. Go to stores->Other Settings->Gift Wraping
6. Ad

[2016-10-27 10:15] odubovyk commented on #7051
Supported browsers can be found [here](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements_browsers.html) , and we support IE9-10-11 on Storefront.
On current develop this issue is fixed.

[2016-10-27 10:24] R4c00n opened #7210 "Address attribute not saving correctly via AttributeRepository"
I'm trying to add a custom EAV attribute to the `customer_address` entity, but it's not showing in the order address form.
### Preconditions

**Magento Version** 2.1.1
**PHP Version** 7.0
### Steps to reproduce

1. Add a new attribute to the `customer_address`:

[code]
1. Run `bin/magento setup:upgrade`
### Expected result

It should show the new attribute inside the order address form.
### Actual

[2016-10-27 10:33] Dbl0207 commented on #7050
Hi Ihsatch,
  Thank you for that. But i have removed the setup with respect to Cloudflare, but still iget this issue.

[2016-10-27 10:51] chatthana opened #7211 "Transactional email image upload does not work properly in 2.1.2"
### Issue

In admin panel -> content > configuration -> design -> transactional email, we try to upload the image from our local machines (Ubuntu 16.04 and CentOS 7 both running on virtual hosts) but failed. We try to close and reload the page but the image recently uploaded is not found.
### Expected result

We just want the uploader to work properly so we can setup the transactional email

[2016-10-27 10:55] abubner opened #7212 "Magento 2.1 Assign Simple/Virtual Products to a configurable Product"
I have a problem with my custom product importer.

As HowTo i used this article:
https://firebearstudio.com/blog/how-to-programmatically-create-a-configurable-magento-2-product.html

I have 2 super attributes: foo_color and foo_size

After adding new simple products and save them, i create a config product and assign
the new simple ids to the config. product. But this do not work!! - After save th

[2016-10-27 11:12] odubovyk commented on #7081
As I understand the problem is that Integrations page is not opened and outputs error.
If it is the case, it is not reproducible.

[2016-10-27 11:21] palamar commented on #7167
I need more details, as in my case all works as expected.
Do you have additional stores, how you store images (filesystem or database), where HTTPS is turned on (only frontend, only backend, on both).
Thanks.

[2016-10-27 11:30] boldhedgehog opened #7213 "WEBAPI: PHP session is always started 2.1.2"
Although REST API should be stateless for anonymous calls, PHP session is always created. This is caused by the fact that session_start() is called implicitly from '\Magento\Framework\Session\SessionManager' constructor.

There are 2 issues with this: Spammed PHP session which will never be used, if remote address validation is enabled for sessions, clients with dynamic IP address will get 302 red

[2016-10-27 11:34] reshadzazai commented on #815
I am trying to install Magento but during instillation I get the following errors starting with
Module 'Magento_ConfigurableSampleData':
Installing data...
[ERROR] exception 'Exception' with message 'Warning: Error while sending QUERY packet. PID=320942 in /home/kabuls5/public_html/shopping/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 228' in /home/kabuls5/public_html/sh

[2016-10-27 11:34] reshadzazai commented on #815
Stack trace:
#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'Error while sen...', '/home/kabuls5/p...', 228, Array)
#1 /home/kabuls5/public_html/shopping/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php(228): PDOStatement->execute(Array)
#2 /home/kabuls5/public_html/shopping/vendor/magento/framework/DB/Statement/Pdo/Mysql.php(95): Zend_Db_Statement_Pdo->_exec

[2016-10-27 11:35] reshadzazai commented on #815
Anyone can help me please.

[2016-10-27 11:36] sam-g-roberts opened #7214 "Grunt:exec error on Magento 2.1.2 using custom theme"
When running Grunt exec i've just started getting the below error. I've tried clearing out the var and the pub/static folders as well as running grunt:clean before exec. Any help would be much appreciated.

`Processed Area: frontend, Locale: en_US, Theme: vendor/theme, File type: less.

[2016-10-27 11:40] veloraven commented on #7113
@dmcmillin thank you for report.
I'm closing this issue as duplicate of #6975 as according to your comments they both have the same reason.

[2016-10-27 11:40] #7113 closed, assigned to nobody

[2016-10-27 11:43] hostep opened #7215 "Dynamic Media URLs in Products not working properly"
### Preconditions

1. Magento CE 2.1.2
2. PHP 7.0.10
### Steps to reproduce
1. Make sure the setting `Allow Dynamic Media URLs in Products and Categories` is set to `Yes` (in  `Catalog`)
2. Make sure the setting `Use Static URLs for Media Content in WYSIWYG for Catalog` is set to `No` (in `Content Management`)
3. Open an existing product or create a new one
4. Go to the `Description` field
5. Hide

[2016-10-27 11:43] markshust commented on #1812
@almarchenko there is information about the widget themselves, but not how to use them. how would we use them in a module?

[2016-10-27 11:45] PascalBrouwers commented on #4645
If anyone is interested. Tried using apache with compiled libxml2 --with-threads but to no avail.

This issue started when I went from macOs Apache/2.4.18 to homebrew Apache/2.4.23

[2016-10-27 11:49] veloraven commented on #7138
@adityag186 thank you for your report.
I'm closing this issue as duplicate of #4687 and #4391

[2016-10-27 11:49] #7138 closed, assigned to nobody

[2016-10-27 11:50] lhsatch commented on #7050
Hi,
Have you installed any additional plugins?

[2016-10-27 11:53] veloraven commented on #4391
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Additionally there is a duplicate issue #4687.

[2016-10-27 11:53] #4391 closed, assigned to oshmyheliuk

[2016-10-27 11:56] lhsatch commented on #7050
Actually this may be a permissions issue. Ensure that the folders and files have the correct permissions. I am guessing that the files and folders were working correctly locally as there were different permissions set.

[2016-10-27 12:03] veloraven commented on #7185
@sumit619 please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-27 12:06] veloraven commented on #7187
@nagrgk thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-27 12:08] veloraven commented on #7190
I'm closing this issue as the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-10-27 12:08] #7190 closed, assigned to nobody

[2016-10-27 12:09] veloraven commented on #7191
@mitulispace thank you for your feedback.
Please identify which version of Magento you are running.

[2016-10-27 12:16] veloraven commented on #7192
@janeblonde thank you for your report.
I'm closing this issue as duplicate of #4588

[2016-10-27 12:16] #7192 closed, assigned to nobody

[2016-10-27 12:30] umang-ranium opened #7216 "Add to cart error"
### Preconditions

1. Developer mode , ubuntu, php 7
2. Magento 2.1
### Steps to reproduce

1. Go to product page,
2. Click Add to cart
3. error unable to save quote
### Expected result

1. Should add product to cart
### Actual result

1. [Screenshot, logs]
   Warning: Invalid argument supplied for foreach() in /var/www/vhosts/shop/vendor/magento/module-media-storage/Model/File/Validator/NotProtec

[2016-10-27 12:32] odubovyk commented on #6975
I think this can be closed.

[2016-10-27 12:32] #6975 closed, assigned to nobody

[2016-10-27 12:44] veloraven commented on #7201
@gorillagroup thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2016-10-27 12:45] veloraven commented on #7202
@itaymesh thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-27 12:50] veloraven commented on #7204
@tinxit thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-27 12:51] veloraven commented on #7205
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-27 13:02] veloraven commented on #7209
@deepthit57 please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-27 13:02] mitulispace commented on #7191
@veloraven  magento ver 2.1.1

[2016-10-27 13:07] odubovyk commented on #6956
Cannot reproduce. Description is pour and not enough.
You create product with images, then export it? Then modify CSV and import?
What is the _Import Behavior_ add/update or replace and so on.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-10-27 13:10] SerhiyShkolyarenko commented on #4340
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-27 13:10] #4340 closed, assigned to SerhiyShkolyarenko

[2016-10-27 13:18] razvanbalosin commented on #2630
I think this has to be reopened as the checkout page is still not translatable (version 2.1.1)

[2016-10-27 13:22] victor-v-rad commented on #7203
Hi @popatkaran

There is a dedicated [place](https://github.com/magento/data-migration-tool/issues) for the Data Migration Tool issues. Please report there.
As for your error. For quick fix try to change SQL query in Magento 2 DB -> enterprise_customersegment_segment.condition_sql field. I believe replacing 'entity_id' to 'row_id' will fix your issue. But in the migration tool the root of problem

[2016-10-27 13:24] ericahoekerd commented on #7205
all info is in the zip and in the topic

[2016-10-27 13:25] ericahoekerd commented on #7204
are you reading the issue? magento 2.1.2 as mentioned, check the zip all info is in.

[2016-10-27 13:27] hezide opened #7217 "Problem saving "new order" template with the variable %account_url"
### Preconditions

1. magento 2.1.2
### Steps to reproduce

1. load "new order" template
2. save
### Expected result

1. email template saved
### Actual result

1. 404 error: Page not found.

This error occurs only if the link to view order details is like this:  <a href="%account_url".
full code for this link is:

 `<a href="%account_url">by logging in</a>.' account_url=$this.getUrl($store,'custo

[2016-10-27 13:29] victor-v-rad commented on #7203
Internal issue MAGETWO-60207 for the tool to fix it

[2016-10-27 13:45] odubovyk commented on #6903
@emorphis-pravesh, please make sure that all cashes are clean. Cannot reproduce this

[2016-10-27 13:49] SerhiyShkolyarenko commented on #7107
@RUjmiak what do you mean on "basic integration token"?
Please point URL for each step. What are permissions for your integration?

[2016-10-27 14:12] veloraven commented on #7196
@mombrea please identify which version of Magento you are running.

[2016-10-27 14:20] mombrea commented on #7196
@veloraven Updated to indicate Magento 2 CE through version 2.1.2

[2016-10-27 14:23] ghost commented on #7162
@vanderlee You're correct, confirmed by Operations. We had a bad alias for that page. I wonder how it worked for me. Anyway, thanks for reporting this and sorry for the trouble.

It should be fixed now.

[2016-10-27 14:25] studiotwentyeleven commented on #7186
We are also experiencing this issue on 2.1.0.  As @miro91 said after refresh it works fine, we have found the issue across all browsers.

[2016-10-27 14:27] dthampy commented on #6939
@shahankitb997 , not sure when you said:

[2016-10-27 14:32] veloraven commented on #7085
@grasdaggel thank you for update and additional explanation.
We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (

[2016-10-27 14:38] 12impress opened #7219 "Magento 2.1.2 Flat Category and Product sort by name faillure"
### Preconditions

1. Magento 2.1.2
2. PHP 7.0.8
3. MySQL 5.6.30
### Steps to reproduce

1. After update from Magento 2.1 to Magento 2.1.2 and using a flat catalogue, the sort by name is not working. It only sorts by position
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-10-27 14:41] veloraven commented on #6944
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-27 14:41] #6944 closed, assigned to nobody

[2016-10-27 14:44] veloraven commented on #6967
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-27 14:44] #6967 closed, assigned to nobody

[2016-10-27 14:52] dthampy commented on #6984
@This looks an issue that already exists. Internal jira ticket - MAGETWO-58977( Target version- 2.1.3)

[2016-10-27 14:57] jzembala commented on #7027
With filterable option "with results" Magento not shows options which not reduce results. In other words when you choose filter "with results" on attribute, Magento will list only options with counting less than number of all products returned by collection.

It is implemented here: vendor/magento/module-catalog-search/Model/Layer/Filter/Attribute.php:110

[2016-10-27 15:12] odubovyk commented on #7197
@HellgaM, thank you for the report. Internal ticket MAGETWO-60216.

[2016-10-27 15:38] dunarri commented on #4974
I am experiencing this problem as well after migrating data to 2.1.1

[2016-10-27 15:38] myselfgaurav commented on #7189
fine i switched for speed , i had used varnish still speed was not that
good , so i reverted to fix this issue can you sugges way to imporve speed .

 Sent with Mailtrack
https://mailtrack.io/install?source=signature&lang=en&referral=gauravkr.mishra90@gmail.com&idSignature=22

On Wed, Oct 26, 2016 at 11:00 PM, sam brown notifications@github.com
wrote:

[2016-10-27 15:48] sajidunnar commented on #1471
NO ,

On Wed, Oct 26, 2016 at 8:53 PM, Sascha Bratton notifications@github.com
wrote:

##

Sajid Hussain Unar

Magento Ecommerce Consultant | Dacoders Agile Innovations

213-457-3386 | info@dacoders.com | http://www.dacoders.com

LinkedIn: http://linkedin.com/in/sajidhussain

[2016-10-27 16:22] dthampy commented on #7108
Thank you for your bug report. Internal ticket MAGETWO-60218 is created to track this.

[2016-10-27 18:24] ghost commented on #7196
I have experienced this also several times, was not sure if it was a bug or not.

[2016-10-27 18:47] devdesco-ceo commented on #6823
No, I did not solve the issue yet. The code in Porto theme seems fine, but I am going to upgrade Porto to 2.4.0 today and see what happens.

Also, Porto Theme developer are very sluggish with support, no matter how good their theme is. I did a lot of modifications and CSS styling of it, and it looks awesome. Check it out and tell me what you think - [https://endohaus.com](url)

As to default blank

[2016-10-27 18:59] dmcmillin commented on #6975
Yeah. I thought that it was two different issues but it seems to be only one. Sorry

[2016-10-27 19:02] dmcmillin commented on #7167
No additional stores. I have it stored as filesystem. HTTPS is disabled on frontend, enabled in admin.

[2016-10-27 19:06] treestonemedia commented on #2824
Hi!

Magento folks, we cannot develop sites if when in dev mode it takes two minutes for each page to load.
Either we all missed the boat, or you need to address this issue ASAP

[2016-10-27 19:16] treestonemedia commented on #5946
Any update?

Same Issue here:

PHP 7
no Varnish
no Page Cache enabled
Magento 2.1.1

Standard template Magento/luma

[2016-10-27 19:17] hostep commented on #6638
Sorry for the late reply, I was away on holiday.

Anyway, @tkacheva, you are incorrect.

Traditionally in Magento (1 and 2) you can define configuration settings for the adminhtml by configuring them in the `Default Config` scope and override them for the frontend in lower scopes (website or storeview).

For example: we always set the `Default Config` locale to `en_US` while configuring the differ

[2016-10-27 19:17] sylvainraye commented on #5946
The issue can be temporary fixed by enabling the full page cache even without using Varnish
But in development phase it's a pain

[2016-10-27 19:20] hostep commented on #7167
@palamar: we also see this, see this slightly related issue: https://github.com/magento/magento2/issues/7215

[2016-10-27 19:20] treestonemedia commented on #5946
@diglin How can Magento2 live with such a nasty bug? don't they have Q&A testing before they release?

[2016-10-27 19:24] sylvainraye commented on #5946
@treestonemedia there are tons of unit testing on PHP side. I don't know how they handle testing on frontend side part. It's quite a complex software with tons of possible combination, so I find difficult to test all of them. The worse is not that, we provide feedbacks and the issue in the latest release is still there.

[2016-10-27 19:27] treestonemedia commented on #5946
@diglin Is there a way to prioritize issues? we cannot "Sell" Magento2 when basic things like this don't work.
look @ the sites here, they all have bugs (some of them are really slow) https://trends.builtwith.com/websitelist/Magento-2
Either Magento2 gets their act together or...

[2016-10-27 19:36] sylvainraye commented on #5946
@treestonemedia I don't know, Magento people decides themselves, which makes more or less sense.
The public release was published before one year. It's since a long time but there are still young problems. That's why I still develop 1.x projects. I just do module for 2.x to get experience. 1.x is stable and good enough to do everything you need. Magento 1.x needed also several years until lots of

[2016-10-27 20:06] paragonie-scott commented on #5701
`defuse/php-encryption` uses OpenSSL, but more importantly it offers simple and easy-to-use _authenticated encryption_.

[You want authenticated encryption](https://tonyarcieri.com/all-the-crypto-code-youve-ever-written-is-probably-broken).

[2016-10-27 20:34] dthampy commented on #7180
Internal jira ticket -MAGETWO-60226 created to track this issue.

[2016-10-27 20:50] TenzinNKhando opened #7222 "REST API PUT for Category isn't working"
### Preconditions

1.  Magento 2.0.7
### Steps to reproduce

1. Using Chrome extension ARC
2. Using endpoint /V1/categories/{id}
3. Set method to PUT
4. Used: 'Content-Type: application/json'
5. Trying to change description to a category that already exist with Raw Payload as:
   {
   "category": {
     "name": "Tenzin",
     "customAttributes": [{
     "attributeCode":"description",
     "value":

[2016-10-27 20:55] jvreeken commented on #5260
now all I'm getting is YOUR PASSWORD RESET LINK HAS EXPIRED.

[2016-10-27 21:27] unfunco commented on #5701
An easy-to-use abstraction over OpenSSL is fine. For simplicity's sake, I'd rather not have to compile an additional extension or use `PECL`, which could also be curtains shortly... hence my recommendation of OpenSSL since it's already a requirement, an additional entry in the `requires` object of my `composer.json` is a 👍 from me.

[2016-10-27 21:54] paragonie-scott commented on #5701
Understood.

We are in agreement that OpenSSL is preferable to mcrypt. I just wanted to emphasize the use of a secure abstraction instead of lower-level primitives. :)

[2016-10-27 22:58] tvainisi commented on #4414
Hello @KrystynaKabannyk The gift message seems to me to be not included in the json response in 2.1.1 CE.

[2016-10-27 23:28] Ctucker9233 commented on #6852
I think this bug is also affecting the newsletter queue. See issue #5943. In the comments I attempted to trace where the problem might be coming from.

[2016-10-27 23:48] Ctucker9233 commented on #3063
@ajpevers I'll leave it alone for now. As I said, I don't have access to composer, so it looks like there's no way for me to get the fix right now. Any idea which version of magento will have it?

[2016-10-28 00:06] btjackson11 opened #7223 "Magento 2.0.7 and 2.1.1 - "Could not save credit memo""
I have three sites (two on Magento 2.0.7 and one on Magento 2.1.1), all three cannot process a credit memo refund with orders using Authorize.Net (but can with Paypal orders). When I hit "Refund" on the credit memo page of an order invoice I get an error that says "Could not save credit memo" (see attached image). All three sites have varying extensions and settings with the only major similarity

[2016-10-28 01:15] shahankitb997 commented on #6939
@dthampy Ahh Gotcha. I have created custom product_type attribute & it's overwriting with Magento product_type. Let me check i think it's going to solve the issue. It's NOT Magento Issue i think

[2016-10-28 01:17] thdoan opened #7224 "Configurable products not shown in Recently Viewed widget"
### Preconditions

1. Magento 2.1.2
### Steps to reproduce

1. Add the Recently Viewed widget to the product page
2. Go to a configurable product, e.g. /caesar-warm-up-pant.html
3. Go to any other product, e.g. /pursuit-lumaflex-trade-tone-band.html
### Expected result

1. Caesar Warm-Up Pant should show up in the Recently Viewed widget after step 3 above.
### Actual result

1. The Recently Viewed

[2016-10-28 01:21] theskillwithin commented on #2824
I am starting to use NPM-scripts instead of Gulp because it is faster and easier.
(see here) https://github.com/theskillwithin/hrtcup/blob/master/package.json

however, I don't think this will solve the speed issue.
I attended a meetup about 6months at magentoHQ in culver, pretty much every other frontend dev I have spoken to does not have an answer to this problem and has given up, including me.

[2016-10-28 02:16] shahankitb997 commented on #6939
Thanks @dthampy It's My Issue. Solved & Closing this Issue. Thanks for Pointing Out issue which I have Missed

[2016-10-28 02:16] #6939 closed, assigned to nobody

[2016-10-28 03:03] rendyep opened #7225 "[BUG] [Magento 2.1.2] Programmatically creating an empty dropdown attribute, "apply_to" is set to NULL (from "simple") after adding options through store admin"
### Preconditions
1. Magento 2.1.2
2. Windows 10
3. PHP 7.0.12
4. MySQL 5.6.30

### Steps to reproduce
1. Create an empty dropdown product attribute named "price_unit" programmatically through InstallData.php, set "apply_to" to "simple".
2. After setup:upgrade, things are going fine. In store admin, the "price_unit" attribute is shown on simple product create or edit page (an empty dropdown), and

[2016-10-28 04:28] azeemism commented on #6759
I also have the same issue. Frequency of occurrence is always.

### Using

Magento 2.1.2
Composer install and upgraded from 2.1.1 to 2.1.2
Debian Jessie 8
PHP7.0 w/ opcache enabled
Mode is developer
Using redis - setup per devdocs
Using varnish - setup per devdocs, but have set,
php bin/magento cache:disable
All 3rd party extension disabled
Stock luma theme.

### Steps to Reproduce:
1. Have had th

[2016-10-28 06:06] popatkaran commented on #7203
Hi @victor-v-rad

Thanks for suggestion. I have changed "entity_id" to "row_id" in following two files and it solved my issue in frontend also but I am not sure I that if I am on proper way or not. I have updated

files. Still I am struggling in admin area for adding new segment and edit existing one. Any help regarding this will be grateful.

[2016-10-28 07:48] ytorbyk opened #7227 ""x_forwarded_for" value is always empty in Order object."
Developer branch used

### Preconditions
1. This scenario i quiet difficult to reproduce since $_SERVER['HTTP_X_FORWARDED_FOR'] must be available.

### Steps to reproduce

1. Place any order

### Expected result

1. "x_forwarded_for" field must contain that value from $_SERVER['HTTP_X_FORWARDED_FOR']

### Actual result

1. "x_forwarded_for" field is always empty

### Thoughts
I've tried to find ou

[2016-10-28 07:58] victor-v-rad commented on #7189
I have migrated 1.9 store to Magento 2 CE and switched to flat categories and products. Did reindex&&cacheclean and saw catalog_category_flat\* catalog_product_flat\* tables are filled with data. Opened storefront and everything works without errors.

According to SQL error you got. I think the problem is in 'FROM catalog_product_entity AS e' . It should be FROM catalog_product_flat_1 AS e'

[2016-10-28 08:16] olysenko commented on #7086
issue is fixed. closed as an duplicate of the [5871](https://github.com/magento/magento2/issues/5871)

[2016-10-28 08:16] #7086 closed, assigned to nobody

[2016-10-28 08:20] cscd98 commented on #7102
@veloraven going to close for now as it hasn't happened in 2.1.7
@lhsatch nope it's a live site

[2016-10-28 08:20] #7102 closed, assigned to nobody

[2016-10-28 08:32] janeblonde commented on #4588
The solution above works but the files are located:
/vendor/magento/module-catalog/view/frontend/templates/product/view/form.phtml
/vendor/magento/module-catalog/view/frontend/templates/product/view/options.phtml

[2016-10-28 08:33] lhsatch commented on #7102
This might be a javascript issue. Open up the console in Chrome and check for any errors. Also sometimes you may have php errors that will may show up either in the blank page if you inspect it or it ajax is involved you can inspect the page and look in the network tab.

[2016-10-28 08:51] sergiojovanig commented on #7135
This is fixed in https://github.com/magento/magento2/issues/6762

[2016-10-28 08:51] sergiojovanig commented on #7002
This is fixed in https://github.com/magento/magento2/issues/6762

[2016-10-28 09:08] rendyep opened #7228 "[BUG][Magento 2.1.2] Unable to delete product on store admin"
### Preconditions
1. Magento 2.1.2
2. Windows 10
3. PHP 7.0.12
4. MySQL 5.6.30

### Steps to reproduce
1. Go to admin - Products - Catalog
2. Check one or more products on the list
3. Select "Delete" on the action list
4. Confirm delete selected items

### Expected result
1. Response with message "A total of [number of deleted items] record(s) have been deleted."
2. The products which are requeste