[2020-08-19 10:41] magento-engcom-team commented on #29606
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27478 by @fsw in 2.4-develop branch
Related commit(s):
 - [9565c44b1ca474825731b4ed265724238540f6ad](https://github.com/magento/magento2/commit/9565c44b1ca474825731b4ed265724238540f6ad)
 - [ab74f29eb820ae3931aef8fcd7ce9860c684c1ea](https://github.com/magento/magento2/commit/ab74f29eb820ae3931aef8fcd7ce98

[2020-08-19 10:41] #29606 closed, assigned to nobody

[2020-08-19 10:41] magento-engcom-team commented on #24060
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#29413 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [5a0680cd19ec70d110ba995996f6f2785258cfb9](https://github.com/magento/magento2/commit/5a0680cd19ec70d110ba995996f6f2785258cfb9)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-19 10:41] #24060 closed, assigned to Bartlomiejsz

[2020-08-19 10:41] magento-engcom-team commented on #29416
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29410 by @angelo983 in 2.4-develop branch
Related commit(s):
 - [209018c237afb975a05b9460701f215338a9013c](https://github.com/magento/magento2/commit/209018c237afb975a05b9460701f215338a9013c)
 - [afdcc93028526e740594a146b252f5047a65ac07](https://github.com/magento/magento2/commit/afdcc93028526e740594a146

[2020-08-19 10:41] #29416 closed, assigned to nobody

[2020-08-19 10:41] magento-engcom-team commented on #1711
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#29435 by @jmonteros422 in 2.4-develop branch
Related commit(s):
 - [11d0a351c4ad83637620c9b7ab00ef68b028b7fa](https://github.com/magento/magento2/commit/11d0a351c4ad83637620c9b7ab00ef68b028b7fa)
 - [25133c56cf0e0390c11399b78cbe3fb426fdd1be](https://github.com/magento/magento2/commit/25133c56cf0e0390c11399b78cbe

[2020-08-19 11:04] m2-assistant[bot] opened #29674 "[Issue] Remove wishlist sidebar for wishlist index page"
This issue is automatically created based on existing pull request: magento/magento2#28441: Remove wishlist sidebar for wishlist index page

---------

### Description (*)

Remove wishlist sidebar for wishlist index page
### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#N/A

### Manual testing scenarios (*)

1. Add product into a wishlist for registered customer

[2020-08-19 11:13] magento-engcom-team commented on #29315
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-19 11:14] magento-engcom-team commented on #29315
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36860` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-19 11:47] ajijshekh123 commented on #29674
@magento give me 2.4-develop instance

[2020-08-19 11:47] magento-engcom-team commented on #29674
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-19 11:48] magento-engcom-team commented on #29674
Hi @ajijshekh123, here is your [Magento instance](https://i-29674-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29674-2-4-develop.instances.magento-community.engineering/admin_d179](https://i-29674-2-4-develop.instances.magento-community.engineering/admin_d179)
Login: `03b33656` Password: `6a35cc783ff1`
Instance will be terminated in up to 3 hours.

[2020-08-19 12:15] ajijshekh123 commented on #29674
Hi @ravi-chandra3197,
I have verified this issue in the latest Magento 2.4 Instance. I don't know this is an issue or feature but as per your expected result and actual result, I have reproduced this issue.

Thanks.

[2020-08-19 12:17] magento-engcom-team commented on #29674
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2020-08-19 12:36] Minirock opened #29676 "Table catalog_product_index_eav isn't properly updated"
### Preconditions (*)

1. Magento version : 2.3.1

### Steps to reproduce (*)

1. Create a custom product filterable attribute with source model
2. Save one product with this attribute

### Expected result (*)

1. The attribute is well updated in  backend (This is fine)
2. The attribute should appear in filter for layered navigation (This is not fine)

### Actual result (*)

1. The attribute isn't

[2020-08-19 12:41] engcom-Delta commented on #29178
Issue is not reproducible on magento 2.4-develop, 2.4.0, 2.3.5-p2
Closed as fixed

[2020-08-19 12:41] #29178 closed, assigned to nobody

[2020-08-19 13:09] magento-engcom-team commented on #29653
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36864` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-19 13:34] t-eichmann opened #29678 "Shipping step in checkout showsState/Province select box on initial page load even if configured not to do so"
### Preconditions (*)

1. Install a clean Magento 2.4 system with sample data

### Steps to reproduce (*)

1. In the backend, go to Stores -> Configuration -> General -> General, open the State Options and select one country, for example Afghanistan, in the "State is Required for" field
2. Set "Allow to Choose State if It is Optional for Country" to No, Save the settings
3. Put something in the ca

[2020-08-19 13:41] navarr commented on #28763
@PromInc Please find the patch here: https://gist.githubusercontent.com/navarr/646de78ee83ed6822209836e7034821c/raw/db0cdb6472eb2adcab9349e432a41129b6dd3037/VRTX-788-2.3.4-p2.patch

I'm sorry for the delay.  After this patch is applied, $0 orders will be processed by Vertex

[2020-08-19 13:50] m2-assistant[bot] opened #29679 "[Issue] Refactor Category Link: Replace deprecated interface, clean the code"
This issue is automatically created based on existing pull request: magento/magento2#29564: Refactor Category Link: Replace deprecated interface, clean the code

---------
### Description (*)
That is a little change that needs to be approved by Magento Community Engineering team as it changes the Interface used.
I decided to isolate that, as it's going to take months to get the approval :-)

This

[2020-08-19 13:55] nathanjosiah commented on #28102
@IgorVitol It's an interesting proposal. As I said, we would like to explore this idea further but I definitely see this being a tricky thing to implement because of how asset chains can be loaded. With core magento it is currently impossible to know which client-side assets are possible to be loaded on a given page which would make it impossible to accurately determine which policies would be nee

[2020-08-19 13:58] jpellerin-absolunet commented on #17164
@magento-engcom-team I can still reproduce this bug on a 2.4 instance. Is there a fix I can apply to make it work? Or would @carolineboivin's workaround be the way to go?

[2020-08-19 14:04] magento-engcom-team commented on #29500
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36868` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-19 14:23] mtjweb opened #29680 "Mysql error when installing Magento 2.4 by composer."
### Preconditions (*)

1. Magento 2.4
2. CentOS 7
3. Php 7.3.21
4. MariaDB 10.3.24

### Steps to reproduce (*)

1. In composer run the following command:
php bin/magento setup:install --base-url="http://example.com/" --db-host="localhost" --db-name="dbname" --db-user="dbuser" --db-password="dbpassword" --admin-firstname="admin" --admin-lastname="admin" --admin-email="info@example.com" --admin-user

[2020-08-19 14:25] robsch opened #29681 "M 2.4: Elasticsearch is not used on search in frontend and backend"
I have described my issue already here: https://magento.stackexchange.com/questions/320019/elasticsearch-does-search-in-frontend-work-that-way . But now I found out, that ES is not used when I enter anything in the search box. But I do not get errors, afaik.

'Test connection' in the admin panel is successful. And reindexing on the command line seems to populate ES. E.g. `curl -XGET "http://colop_

[2020-08-19 14:43] Minirock commented on #29676
I've been investigating this a little more, and I end up finding what is wrong.

The attribute type is 'text'. This isn't an issue anywhere...except for one indexer class `vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php`.

Inside the method `_getIndexableAttributes`

For multiselect attributes like this one, the type requested is varchar and not text

    $select->

[2020-08-19 14:48] lokeshvnaik opened #29683 "Multi Source Inventory - Product not visible in the category and search with multi website and multi source"
**Preconditions (*)**

1. Magento 2.3.3
2. Multi website
- a) base website (Country: US)
- b) canada website (Country: Canada)
5. Root category same for both websites
6. Stores > Configuration > Catalog > Inventory > Stock Options > Set Display Out of Stock Products to No

**Steps to reproduce (*)**

1. Create a simple product which is mapped to both websites (us and canada) and assign them to a c

[2020-08-19 15:13] Vanitha-bujjinga commented on #28986
Appreciate for your help, @sabamanz00r. It is working fine. Kudos...

[2020-08-19 16:02] ryanb945 commented on #22161
Any update on this??

[2020-08-19 16:31] yutv opened #29686 "No Cross-Sells on cart page"
### Preconditions (*)

1. Magento Cloud 2.3.5. **Please note** the bug is in the Magento_Catalog module from Magento Open Source which is a part of Magento Cloud, see Source Code section below.
2. **Important**: make sure `row_id` <> `entity_id` for all records in the `catalog_product_entity` table

### Steps to reproduce (*)

1. Back Office: Choose a product (e.g. SKU-01), add a Cross-Sell to it

[2020-08-19 17:28] sdzhepa commented on #28544
Priority/Severity changed to P4 S4 due to issue effects and can be reproduced on with sample data

[2020-08-19 17:29] #29666 closed, assigned to krzksz

[2020-08-19 17:30] naydav opened #29687 "Revert @api annotation in Magento\LoginAsCustomerAssistance\Block\Adminhtml\NotAllowedPopup"
Due to PATCH release (2.4.1), nothing should be marked as API.

Block should be skipped for passing static test
[code]

[2020-08-19 17:34] vmartins commented on #29293
I have the same problem:
[code]

This happened after I tried to sort by the column "Allocated sources" on the order screen.

**Environment**
- Magento 2.4.0 (migrated from 1.9.x)
- PHP 7.4

[2020-08-19 19:51] m2-assistant[bot] opened #29689 "[Issue] Set of improvements for LoginAsCustomer modules"
This issue is automatically created based on existing pull request: magento/magento2#29688: Set of improvements for LoginAsCustomer modules

---------
### Summary (*)
Magento 2.4-develop
PR contains a set of improvements for LoginAsCustomer modules.

- Replaced `around` plugin with `after`
- Removed redundant code
- Correctly used `isSetFlag` instead of `(bool)->getValue()`

### Examples (*)

###

[2020-08-19 20:12] MagDevX commented on #23107
I confirm that this issue exists in Magneto CE 2.3.5-p1, but it is VERY tricky to reproduce! I spent hours comparing two seemingly identical listings to figure why one of them shows the videos and the other one doesn't.

**TL;DR The order of adding videos and images matters. The videos should be uploaded first, then the images should be added.**

In order to reproduce the issue follow these steps:

[2020-08-19 22:03] MagDevX opened #29690 "Magento 2 product YouTube video is not playing for the simple products within a configurable product"
This issue was reported here ( https://github.com/magento/magento2/issues/23107 ) but could not be reproduced. In my tests in clean installations of v2.3.5-p1 this problem consistently happened when a video is added to the simple products within a configurable product if those simple products already have a photo and the video is moved to the position before (to the left of) image.

### Preconditi

[2020-08-20 03:57] gh-darvishani commented on #20229
it is mg 2.3.5 p1 but I am still facing this issue

[2020-08-20 04:39] aheadcreative commented on #28420
Same issue - NOT fixed in 2.3.5-p1

[2020-08-20 04:43] lokeshvnaik commented on #27460
Faced another issue in Magento 2.3.3 which seems related to this one but with MSI and multi website setup.
https://github.com/magento/magento2/issues/29683

Can someone let us know the related commits or relevant patch release for 2.3.3 if this has been fixed under some other issue?

As @codebase-md pointed out the issue is still present in version 2.3.5-p1. @sdzhepa Can you please test this on Ma

[2020-08-20 05:03] Jeeva-Rathinam commented on #13604
Did anyone found an answer?

[2020-08-20 05:49] rahul-ks176 opened #29691 "Issue arised when a product add to compare with another product"
### Preconditions (*)

1.Magento ver. 2.3.5-p2
2.PHP 7.3.20
3.mysql  Ver 14.14

### Steps to reproduce (*)

1.Adding two simple products from the admin->catalog->products section.
2.adding these two products add to the compare list.
3.compare these two added products.

### Expected result (*)

1. The CSS of the compare list page should not be broken and links should be clickable.

### Actual resul

[2020-08-20 05:53] rahul-ks176 commented on #29691
We add the two products from admin section. after adding those products add to the compare list, we compare these two products then the CSS is broken of compare list page

[2020-08-20 06:44] engcom-Delta commented on #28158
@cristienache , thank you for your report. Issue is not reproducible on the latest 2.4-develop
![Peek 2020-08-20 09-38](https://user-images.githubusercontent.com/51681379/90725875-7f48c200-e2c9-11ea-8a06-73cff1dc1030.gif)

If you'd like to update the issue, please reopen it.

[2020-08-20 06:44] #28158 closed, assigned to engcom-Delta

[2020-08-20 07:47] engcom-Delta commented on #26730
Hi @devendra-m you for your report, I'm not able to reproduce issue by steps you described on the latest 2.4-develop
**Result:**
- Switch store view
![#26730issueLoginStoreView](https://user-images.githubusercontent.com/51681379/90731501-71e40580-e2d2-11ea-807e-cb25b049981c.gif)

- Switch stores
![#26730issueLoginStore](https://user-images.githubusercontent.com/51681379/90731522-78727d00-e2d2-11ea

[2020-08-20 07:47] #26730 closed, assigned to shikhamis11

[2020-08-20 08:04] Mecalux-Developer opened #29694 "Mixins js do not appear when we open product links in a new tab"
### Preconditions (*)

1. Our ecommerce: Magento 2.3.4-p2
2. php version:  7.3.16
3. Database: Mysql 5.7
4. Varnish: 6.2.3
5. Elasticsearch: 6.8.7
6. Redis: 5.0.4
7. Apache: 2.4.6
8. Our website: https://www.shelvingdirect.com/

### Steps to reproduce (*)

1. Create a mixin of some file on the product page. For example, override some method of the Magento_Catalog/js/price-box.js module
2. Go to th

[2020-08-20 08:25] kishansatasiya commented on #22353
Same Error show after upgrade Magento 2.1.1 to 2.3.5.

SQLSTATE[HY000]: General error: 1025 Error on rename of './databsename/#sql-e76_ed2' to './databsename/customer_group' (errno: 150 - Foreign key constraint is incorrectly formed), query was: ALTER TABLE customer_group MODIFY COLUMN customer_group_id int(10) UNSIGNED NOT NULL AUTO_INCREMENT

[2020-08-20 09:13] Mecalux-Developer commented on #14118
Same issue in Magento 2.3.4-p2
https://github.com/magento/magento2/issues/29694

[2020-08-20 09:50] MackieeE commented on #10088
+1 - I'm having to unset this key prior to an Update everytime!

[2020-08-20 10:06] mrtuvn opened #29696 "Incorrect return type asset file"
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/View/Asset/File.php#L204

class Magento\Framework\View\Asset\File.php

Take a look at method getContext

current return value is File\Context but i think we should correct type return to ContextInterface

### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento

[2020-08-20 10:29] bjq commented on #29334
[Progress: 925 / 1282]
Module 'Magento_SalesSampleData':

In Full.php line 174:

  DDL statements are not allowed in transactions

In Mysql.php line 528:

  DDL statements are not allowed in transactions

setup:install [--amqp-host AMQP-HOST] [--amqp-port AMQP-PORT] [--amqp-user AMQP-USER] [--amqp-password AMQP-PASSWORD] [--amqp-virtualhost AMQP-VIRTUALHOST] [--amqp-ssl AMQP-SSL] [--amqp-ssl-optio

[2020-08-20 11:02] sunilit42 commented on #26603
Any update on this?

[2020-08-20 11:08] engcom-Delta opened #29697 "[B2B] Add logs for `Login as Customer Company` module"
### Preconditions (*)

1. Magento 2.4-develop
2. Login as Customer module related
3. B2B Features->Enable Company=Yes
![image](https://user-images.githubusercontent.com/51681379/90762218-5b977300-e2ed-11ea-8fc3-4ae44788bb47.png)

### Steps to reproduce (*)

1. Log in as Company Admin
![image](https://user-images.githubusercontent.com/51681379/90762336-8e416b80-e2ed-11ea-95c9-ca9ed74d8ccd.png)
2. C

[2020-08-20 11:12] krishprakash commented on #29691
@magento give me 2.4-develop instance

[2020-08-20 11:12] magento-engcom-team commented on #29691
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-20 11:13] magento-engcom-team commented on #29691
Hi @krishprakash, here is your [Magento instance](https://i-29691-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29691-2-4-develop.instances.magento-community.engineering/admin_82df](https://i-29691-2-4-develop.instances.magento-community.engineering/admin_82df)
Login: `dad1b474` Password: `37afb44e14da`
Instance will be terminated in up to 3 hours.

[2020-08-20 11:15] shahriar-vdc opened #29698 "[2.3.5-p2] Total due is not updated when order is completed with canceled items"
### Preconditions (*)
1. Magento 2.3.5-p2
**Doesn`t reproducible on 2.4-develop**

### Steps to reproduce (*)
1. Place an order with items where the quantity is more than 1
2. Create an invoice & shipment for the order _partially_
3. Cancel the rest of the order items by canceling the order

### Expected result (*)
1. **Total due** should be 0 since the order status is 'complete'
2. **Grand total*

[2020-08-20 11:17] sheshagiriAnvekar commented on #6568
Is this issue solved in 2.3.5 p1 ?

[2020-08-20 11:22] krishprakash commented on #29691
Hi @rahul-ks176. I'm not able to reproduce the issue on latest instance
Kindly provide the additional steps OR any specific case to reproduce the issue
Refer Screenshot:
![image](https://user-images.githubusercontent.com/46617848/90763942-2e56bf00-e305-11ea-9699-88d333a9a733.png)

[2020-08-20 11:31] jordanvector commented on #26882
@chrisastley have you seen this https://github.com/magento/magento2/pull/28331. Some guy made a backport to 2.3 for those fixes.  Looks like magento never rolled in his commit because his PR was on the wrong branch 🙄

[2020-08-20 11:35] chrisastley commented on #26882
I had to modify the patch file in the end, it appears that the changes in magento 2.3.5-p2 included the changes to the luma theme email template files so I had to remove those from the patch and it then worked.

[2020-08-20 11:37] ihor-sviziev commented on #15047
Hi @kinhcan,
I'm closing this issue as we weren't able to reproduce the issue and didn't get any answer https://github.com/magento/magento2/issues/15047#issuecomment-602444182 or additional info during long period of time.

[2020-08-20 11:40] ihor-sviziev commented on #21353
Hi @mageprince,
I'm closing this issue as the issue was in the web server configuration. This info was added to dev docs:
https://devdocs.magento.com/guides/v2.3/install-gde/prereq/apache.html#apache-required-directives

[2020-08-20 11:40] #21353 closed, assigned to ihor-sviziev

[2020-08-20 11:41] rahul-ks176 commented on #29691
Ok, thanks @krishprakash <https://github.com/krishprakash>,

Actually this issue arises in Magento ver 2.3.5-p2 which I am using at this
time.
I have also tested this issue in your demo server of Magento which is
shared by Magento with you.
Now, this issue has been resolved in Magento ver 2.4.0.

------------------------------------
Thanks & Regards,
Rahul Rathour
Software Developer
Ksolves - http

[2020-08-20 11:44] krishprakash commented on #29691
@rahul-ks176. so closing this issue as not able to reproduce on latest instance
Thank You !!

[2020-08-20 11:44] #29691 closed, assigned to krishprakash

[2020-08-20 12:02] jordanvector commented on #26882
Ok I will post this here for others on 2.3 struggling with this. I rolled these fixes against 2.3.5-p2 (removing the template changes bc they are already there).

https://gist.github.com/jordanvector/ead76e777afb3fe71b4e7716496619a6#file-mc-31544-2-3-5-p2-patch

Then I can add it as a composer patch like so

[code]

[2020-08-20 12:24] AliceAdl commented on #6331
I’m having the same issue - uploading videos simply adds a still image

[2020-08-20 12:47] Muhamann commented on #4588
I have this issue at 2.3.5p

On PDP, when selecting a size / simple-product in configurable-select, it changes all prices on the page, including upselling and related products.

How can i fix this?

[2020-08-20 12:47] Muhamann commented on #5798
I have this issue at 2.3.5-p1

On PDP, when selecting a size / simple-product in configurable-select, it changes all prices on the page, including upselling and related products.

How can i fix this?

[2020-08-20 13:00] m2-assistant[bot] opened #29700 "[Issue] improve test AccountTest"
This issue is automatically created based on existing pull request: magento/magento2#29693: improve test AccountTest

---------

### Description (*)

Improve test `dev/tests/integration/testsuite/Magento/Customer/Controller/AccountTest`
Now assert is based on _XPath_ selector instead of _assertStringContainsString_

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magent

[2020-08-20 15:37] sdzhepa opened #29701 "Test Issue"
test
 er
1. 1
1. 2
1. 3

[2020-08-20 15:37] magento-engcom-team commented on #29701
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2020-08-20 15:38] magento-engcom-team commented on #29701
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36887` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-20 15:47] sdzhepa opened #29702 "Test content integration"
1. 1
1. 2
1. 3

<!---
Please review our guidelines before adding a new issue: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Fields marked with (*) are required. Please don't remove the template.
--]

### Preconditions (*)
[!---
Provide the exact Magento version (example: 2.4.0) and any important information on the environment where bug is reproducible.
--]
1. # h3. Steps to r

[2020-08-20 15:47] magento-engcom-team commented on #29701
Hi @sdzhepa, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-36887` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if

[2020-08-20 15:47] #29701 closed, assigned to sdzhepa

[2020-08-20 15:47] magento-engcom-team commented on #29702
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36888` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-20 16:14] sb-nick commented on #19415
Hi,
I'm running 2.3.3-p1 and this setting "Show Related videos" = N isn't preventing other videos from loading. I see that Magento closed this for no attention, but fact remains there is still a bug here to be fixed. I really don't want videos not related to my company to show up after a video is played.

[2020-08-20 16:46] maghamed commented on #28897
Hi there, let me provide additional input here.

We are seriously considering PHP 8.0 support for Magento, and some of the features would be especially handy for Magento.
Now we are trying to fit compatibility with PHP 8.0 to our very tight product backlog :)

Currently, we support PHP 7.4 / 7.3, and taking into account that active support of 7.3 will end soon, we switched our CI/CD infrastructure

[2020-08-20 18:43] markshust opened #29704 "Submit search button in form-mini should be disabled until minimum search length is reached"
### Preconditions (*)

1. Base install of Magento 2.4.0 with sample data installed.
2. The issue is prevalent on every operating system and browser.

### Steps to reproduce (*)
1. Focus on form-mini search box.
2. Type one or two alphanumeric characters in search box.

### Expected result (*)
- Submit button (magnifying glass) remains disabled until minimum search length is reached:
![Screen Shot

[2020-08-20 19:40] toledoroy commented on #12868
I'm getting a similar error after running updating M2.3.5-p1 to N2.4.0 via Composer Update

The error happens when trying to logging to the admin
(BTW, if the only error message had also included the XML filename everyone's life would have been so much easier)

1 exception(s):
Exception #0 (LogicException): Could not create an acl object: Invalid Document
Element 'resource': The attribute 'title'

[2020-08-20 20:09] peterkeijsers opened #29706 "setValidation() bug in Magento_Ui/js/form/element/abstract"
When changing the validation rules of an existing uiComponent object the method sets the required property wrong. Its the below file:
https://github.com/magento/magento2/blob/b0eec737e7179bdd5451485f921942f36bcb01ad/app/code/Magento/Ui/view/base/web/js/form/element/abstract.js#L302

Instead of `this.required(!!rules['required-entry']);` it should be `this.required(!!this.validation['required-entry

[2020-08-20 20:25] sumil3890 commented on #28924
Hello,

Sorting is not working in magento 2.3.5p2 with elastic serach 6 version.

[2020-08-20 20:27] m2-assistant[bot] opened #29707 "[Issue] Property "ShowDefaultNotificationMessage" does not have accessor method"
This issue is automatically created based on existing pull request: magento/magento2#26056: Property "ShowDefaultNotificationMessage" does not have accessor method

---------

### Description (*)

If you want create queue which will triggered whem you will save product in the admin (I created plugin afterSave for the Magento\Catalog\Model\ResourceModel\Product::save()), you will get critical error

[2020-08-20 20:43] hostep commented on #23731
Hi @duffner

Sorry currently little time to dig into this again (it was indeed a while ago), but I'm noticing that #23319 is fixed now in Magento 2.3.4 by MC-17606.
There isn't 1 merge commit but 4 apparently:
- https://github.com/magento/magento2/commit/d6b08dc90a6e032d8dfd33c2b386ab46de9b22bb
- https://github.com/magento/magento2/commit/b413b024507c7d817b54514294c3d8079e98cfe0
- https://github.c

[2020-08-20 21:43] magento-engcom-team commented on #29673
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29669 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [4b0fdfcf4d83b4dc180cefa65a717fbddb790dc9](https://github.com/magento/magento2/commit/4b0fdfcf4d83b4dc180cefa65a717fbddb790dc9)
 - [6b01af91fdc4720f73302f89256c1c91f345c429](https://github.com/magento/magento2/commit/6b01af91fdc4720f73302

[2020-08-20 21:43] #29673 closed, assigned to lbajsarowicz

[2020-08-20 21:43] magento-engcom-team commented on #29672
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29670 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [f0264c9b244f5a488525d96d7afbb3f35a48568d](https://github.com/magento/magento2/commit/f0264c9b244f5a488525d96d7afbb3f35a48568d)

The fix will be available with the upcoming 2.4.2 release.

[2020-08-20 21:43] #29672 closed, assigned to lbajsarowicz

[2020-08-20 21:43] magento-engcom-team commented on #1764
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#29636 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [d1abc9dd10c47da048a0ceafca37c9b45102fe36](https://github.com/magento/magento2/commit/d1abc9dd10c47da048a0ceafca37c9b45102fe36)
 - [070749dacea796fae19cd935e3318498cd06bb7a](https://github.com/magento/magento2/commit/070749dacea796fae19cd935e3318498c

[2020-08-20 21:43] magento-engcom-team commented on #29649
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29630 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [674a2f8fdc42722f77d925e6dec66ae8e67b8b5e](https://github.com/magento/magento2/commit/674a2f8fdc42722f77d925e6dec66ae8e67b8b5e)
 - [de733ae857a2552181990d13977d82df88548e9d](https://github.com/magento/magento2/commit/de733ae857a2552181990d139

[2020-08-20 21:43] #29649 closed, assigned to Usik2203

[2020-08-20 21:43] magento-engcom-team commented on #29679
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29564 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [987b162533a0ec4cd683808d9c307898846d7d12](https://github.com/magento/magento2/commit/987b162533a0ec4cd683808d9c307898846d7d12)
 - [77135cfb8e690874f248ec87749f866ec90a8bbd](https://github.com/magento/magento2/commit/77135cfb8e690874f248e

[2020-08-20 21:43] #29679 closed, assigned to lbajsarowicz

[2020-08-20 21:43] magento-engcom-team commented on #29653
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29518 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [895c284fb15afaef3e6fb59302a045707aa25706](https://github.com/magento/magento2/commit/895c284fb15afaef3e6fb59302a045707aa25706)
 - [b213b797f7563f67706d15f702a20fd2f388cc59](https://github.com/magento/magento2/commit/b213b797f7563f67706d1

[2020-08-20 21:43] #29653 closed, assigned to ihor-sviziev

[2020-08-20 21:43] magento-engcom-team commented on #29315
Hi @willwright. Thank you for your report.
The issue has been fixed in magento/magento2#29316 by @willwright in 2.4-develop branch
Related commit(s):
 - [e786d514ef72699bdedada6444665d882dd015c3](https://github.com/magento/magento2/commit/e786d514ef72699bdedada6444665d882dd015c3)
 - [e0972bf2ac019a1b4645f2aaa7ac2e6016859fe5](https://github.com/magento/magento2/commit/e0972bf2ac019a1b4645f2aaa7ac2e

[2020-08-20 21:43] #29315 closed, assigned to willwright

[2020-08-21 01:38] magento-engcom-team commented on #29700
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29693 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [af54db3b44a9e55b0665898e8d582302039e5838](https://github.com/magento/magento2/commit/af54db3b44a9e55b0665898e8d582302039e5838)

The fix will be available with the upcoming 2.4.2 release.

[2020-08-21 01:38] #29700 closed, assigned to engcom-Charlie

[2020-08-21 03:36] ihor-sviziev commented on #27162
FYI changes that were fixing this issue were reverted and it was considered as not a defect. More details here https://github.com/magento/magento2/pull/27340#issuecomment-677927564

[2020-08-21 04:45] ajijshekh123 commented on #29686
Give me @magento give me 2.4-develop instance

[2020-08-21 04:45] magento-engcom-team commented on #29686
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-21 04:46] magento-engcom-team commented on #29686
Hi @ajijshekh123, here is your [Magento instance](https://i-29686-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29686-2-4-develop.instances.magento-community.engineering/admin_5b51](https://i-29686-2-4-develop.instances.magento-community.engineering/admin_5b51)
Login: `23095b54` Password: `e5165eabcb19`
Instance will be terminated in up to 3 hours.

[2020-08-21 04:49] krishprakash commented on #29704
@magento give me 2.4-develop instance

[2020-08-21 04:49] magento-engcom-team commented on #29704
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-21 04:51] magento-engcom-team commented on #29704
Hi @krishprakash, here is your [Magento instance](https://i-29704-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29704-2-4-develop.instances.magento-community.engineering/admin_d0b2](https://i-29704-2-4-develop.instances.magento-community.engineering/admin_d0b2)
Login: `8cc91991` Password: `5246ac252660`
Instance will be terminated in up to 3 hours.

[2020-08-21 04:59] magento-engcom-team commented on #29704
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36904` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-21 05:00] ajijshekh123 commented on #29686
Hello @yutv,
I have verified this issue in the latest Magento 2.4 Instance with your steps, actual result and expected result.
The issue is not reproduced in the Latest Magento 2.4 Instance.
**PFA:**

![Admin_CrossSellProduct](https://user-images.githubusercontent.com/24711761/90853923-20eb1480-e399-11ea-9ae2-fd6b63d822bf.png)

![Shopping-Cart_CrossSellProduct](https://user-images.githubuserconten

[2020-08-21 06:07] yutv commented on #29686
@ajijshekh123,

Have you met described preconditions?

It can be reproduced in Magento Cloud and I believe in Magento Commerce versions where is Content Staging functionality but not in the Magento Open Source. I created issue here because problematic code is located in the Magento Open Source module.

Can you test it in the Magento Cloud or Magento Commerce?

[2020-08-21 06:09] ajijshekh123 commented on #29686
@yutv

Magento doesn't provide the Magento cloud server Instance. So If the latest Magento instance is available on our cloud server I will verify this issue and update you today EOD.

Thanks

[2020-08-21 06:33] LiamTrioTech commented on #19469
Still a problem in 2.3.5 btw.
Upgrade to 2.4.x?

[2020-08-21 06:36] LiamTrioTech commented on #22036
Think I'm seeing this issue on Magento 2.3.5 after upgrading from 2.2.0.

[code]

$block->getProduct() is null.

[code]

[code]

Note: After applying the fix from https://github.com/magento/magento2/pull/22034/files it gives another error.
But after I run upgrade, di compile it fixes it.
Thanks very much.

Is there a patch for this that we can apply with composer or do I just have to upgrade to 2.

[2020-08-21 06:50] zohaibmir commented on #29686
we also have the same issue and it can be produceable if we have different row_id and entity_id in catalog_product_entity table. Magento use entity_id like described above to load crosssell on cart page.

[2020-08-21 07:27] hostep commented on #19469
@LiamTrioTech: have you read [this comment](https://github.com/magento/magento2/issues/19469#issuecomment-606145768) and [this comment](https://github.com/magento/magento2/issues/19469#issuecomment-596142891)? It says it is fixed in 2.4.0 and will be fixed in 2.3.6 as well.

[2020-08-21 07:45] hostep commented on #28897
@maghamed: @bryanveIoso commented on 7 July before Magento 2.4.0 was released (20 July), at that time no Magento versions were out with support for PHP 7.4 😉

Thanks for the extra information though!

[2020-08-21 07:58] manezaf8 commented on #26377
How far is Magento from fixing this issue ?

[2020-08-21 08:26] sergey-ctrl commented on #29243
A month has passed, is there any information?

[2020-08-21 08:26] LexKoomen commented on #19241
This commit is merged into 2.4-develop for this issue: https://github.com/magento/magento2/commit/66d259ed37ac8d7170012e14efb5df12c562cf13

Thought you might wanna know in case you want to create a patch.

[2020-08-21 09:36] #29473 closed, assigned to nobody

[2020-08-21 10:24] onepack opened #29709 "Login as costomer in Incognito Tab"
### Description (*)

At this moment the login as customer functionality logs admin users into a new browser tab.
This is fine if they would not already have a tab open with a frontend login for themselves.
The moment the use this function they will be logged out of the current frontend session.
Then they have to use the login as customer button again to really login as customer.

### Expected beha

[2020-08-21 11:42] engcom-Delta opened #29710 "[EE] Admin is not able log in as customer registered on restricted website when Share Customer Accounts=Global"
### Preconditions (*)

1.Magento 2.4-develop
2.Login as Customer module related
3.Second website is created
![image](https://user-images.githubusercontent.com/51681379/90273765-28c22a80-de68-11ea-9599-bd1da0a12ebe.png)
4. Add Store Code to Urls=Yes
5. Customer is registered on additional website (e.g., `New Website`)
![image](https://user-images.githubusercontent.com/51681379/90881561-1473b580-e3b

[2020-08-21 12:20] #29709 closed, assigned to nobody

[2020-08-21 12:32] m2-assistant[bot] opened #29712 "[Issue] Fixed the wrong code style in return type declaration"
This issue is automatically created based on existing pull request: magento/magento2#29703: Fixed the wrong code style in return type declaration

---------

### Description (*)

This pull request (PR) fixes the wrong code style of the return type declaration

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits are accompanied by meanin

[2020-08-21 14:12] rakeshsigma opened #29713 "Magento 2.4 | Cron job getting missed multiple times"
### Preconditions (*)

1. Magento 2.4
2. PHP 7.4
3. Elasticsearch 7.8
4. Apache2

### Steps to reproduce (*)

Please review the attached screenshot.

After upgrading Magento with the latest version, we are facing this issue with cron. Cron getting missed multiple times. We have followed the below steps but still the same result.

Updated the cron timing.
Disabled third party extension crons.
Disab

[2020-08-21 14:13] BarnyShergold opened #29714 "CSV Import of Product Prices at Website Level NOT Identified by product_websites"
### Preconditions (*)

1. Magento 2.3.4-p2
2. Multi-Website configuration

### Steps to reproduce (*)

1. Add products and allocate to all sites
3. Create a CSV like "incorrect.txt" (attached) and import to update prices.

### Expected result (*)

1. Price for each website for the product should be set as indicated in the CSV

### Actual result (*)

1. Website Level prices are NOT added or updated

[2020-08-21 14:19] #26888 closed, assigned to nobody

[2020-08-21 17:13] #29702 closed, assigned to sdzhepa

[2020-08-21 18:04] Neos2007 opened #29718 "Wrong handling some of asynchronous bulk operations and related mysql queue messages in Magento 2.4.0"
### Preconditions (*)

1. Magento version: **2.4.0**
2. Configured cron for running message queue consumers.

### Steps to reproduce (*)
1. On the product grid in the backend perform massaction to update attribute values for couple products ("check" products and select "Update Attributes" action from "Actions" dropdown).
2. Set values for needed attributes or/and assign products to websites and sa

[2020-08-21 22:21] #29687 closed, assigned to nobody

[2020-08-21 22:24] #29117 closed, assigned to nobody

[2020-08-22 04:30] mrtuvn opened #29719 "Font format incorrect import in theme"
### Preconditions:

Magento 2.4-develop

Default magento font import lib-font-face use type woff or woff2. In real case when user use another font type such as true type. Font import will work incorrect if add format truetype

Example in less define custom font

`.lib-font-face(
    @family-name: 'Inter-Light',
    @font-path: '@{baseDir}fonts/Inter-Light',
    @font-format: 'ttf',
    @font-weigh

[2020-08-23 10:42] MeeGz opened #29720 "GraphQl products query returns missing items on using `category_id` filter with `in` array"
### Preconditions (*)

1. creating 2 categories as subcategories of the root one (test1 and test2)
2. creating 2 products 1 for each created category (product1 for test1 and product2 for test2)

### Steps to reproduce (*)

1. using graphql client running this query
[code]

### Expected result (*)

1. getting the `total_count` = 2
2. getting 2 products into `items` property

### Actual result (*)

[2020-08-23 12:00] gwharton opened #29721 "Logo is always 170 pixels wide, regardless of actual size"
### Preconditions (*)
1. 2.4-develop

### Steps to reproduce (*)
1. Login to Admin
2. Content -> Configuration -> Global -> Edit -> Header
3. Upload 800x300 example logo image (attached to issue)
4. Enter 800 in Logo Attribute Width
5. Enter 300 in Logo Attribute Height
6. Save Configuration
7. Clear cache
8. Go to frontend and inspect logo dimensions

### Expected result (*)
1. Logo is 800 pixels

[2020-08-23 18:49] dverkade commented on #29063
@sdzhepa, don't know why you're assigning this a P2 and S2 while it should be an S0 as explained in the description

It's not possible to create configurable products when you have a large number of configurable attributes on your site. This affects a critical part of Magento and there's no workaround available, so should be an S0 issue.

[2020-08-23 21:46] sarjangautam commented on #29070
We have recently upgraded to 235 P1 from 233 P1 and this is happening a lot for us. Our trading/online team are making changes in categories and they need to save multiple categories for promotional activities. However, whenever they do so we start getting issue with indexes and products start disappearing from categories in frotend and search.

During this time we get messages like `report.WARNIN

[2020-08-23 22:49] mtsmtyuta commented on #21646
We have this issue time and time again. How is this issue closed?  Obviously there are so many merchants that suffer from this issue and I could find no explanation or sufficient solution except disabling MSI completely.  Sometimes we can't just turn off MSI because some other modules like Magesuite rely on it.

https://magento.stackexchange.com/questions/277993/disable-stock-check-decrease-when-s

[2020-08-24 05:29] trunglv commented on #4536
- Updating : Magento 2.4, TinyCME 4.0
Fixing lib/web/mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter.js.
Function : getSettings, variable settings, add new config value : 'valid_elements': '*[*]'

`getSettings: function () {
            var settings,
                eventBus = this.eventBus;

            settings = {
                selector: '#' + this.getId(),
                theme: 'modern',

[2020-08-24 06:16] Mecalux-Developer commented on #29694
Thanks for your answer. We have the requirejs-config.js file created.
To reproduce this problem, we have to go to the home page, then right-click the mouse and _**open the product in a new browser tab for several products.**_

The folder structure of the example module is the following:

![image](https://user-images.githubusercontent.com/69892724/91009425-dbb92380-e5e0-11ea-9bfe-9c781cb1bef5.png)

[2020-08-24 07:02] LexKoomen commented on #22196
hii @engcom-Charlie ,

How is this fixet? I want to backport it to 2.3 but can't seem to find a reference.

[2020-08-24 07:45] mozinomer opened #29723 "Magento 2 gets stuck at 59% with the installing the module Magento_GoogleShoppingAds"
![Screenshot (203)](https://user-images.githubusercontent.com/28697746/91017398-9f4cee00-e607-11ea-9673-7a3edbca98dd.png)

Magento 2 gets stuck at 59% with the installing the module Magento_GoogleShoppingAds

Any possible solution for this?

[2020-08-24 08:10] Mecalux-Developer commented on #29334
@mrtuvn  It seems that the problem appears only when the package has LUMA data. The clean install works well.

[2020-08-24 08:30] magento-engcom-team commented on #29712
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29703 by @andrewbess in 2.4-develop branch
Related commit(s):
 - [01e90b12be723c1b64e10c8aa7028bfbe7263015](https://github.com/magento/magento2/commit/01e90b12be723c1b64e10c8aa7028bfbe7263015)

The fix will be available with the upcoming 2.4.2 release.

[2020-08-24 08:30] #29712 closed, assigned to andrewbess

[2020-08-24 08:30] magento-engcom-team commented on #29501
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29460 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [83b40124d87c7904d062577f21566eabdec15f8a](https://github.com/magento/magento2/commit/83b40124d87c7904d062577f21566eabdec15f8a)
 - [152c29b6b28a21df854d2924c9cb7b92bde190bc](https://github.com/magento/magento2/commit/152c29b6b28a21df854d2924c

[2020-08-24 08:30] #29501 closed, assigned to Usik2203

[2020-08-24 08:30] magento-engcom-team commented on #28422
Hi @VincentMarmiesse. Thank you for your report.
The issue has been fixed in magento/magento2#29510 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [1a7c8cd619b4936fd544ac669bf4f5e66bcc7d34](https://github.com/magento/magento2/commit/1a7c8cd619b4936fd544ac669bf4f5e66bcc7d34)
 - [6e53e0d90b3cbc86ee368c35605615d713fe9682](https://github.com/magento/magento2/commit/6e53e0d90b3cbc86ee36

[2020-08-24 08:30] #28422 closed, assigned to konarshankar07

[2020-08-24 08:30] magento-engcom-team commented on #29267
Hi @jigar48. Thank you for your report.
The issue has been fixed in magento/magento2#29474 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [1b39196a80c9c4a3d229c121b647b82ae242193d](https://github.com/magento/magento2/commit/1b39196a80c9c4a3d229c121b647b82ae242193d)
 - [9a980484c23a78f888708223df55f56090b970c9](https://github.com/magento/magento2/commit/9a980484c23a78f888708223df55f

[2020-08-24 08:30] #29267 closed, assigned to engcom-Charlie

[2020-08-24 08:30] magento-engcom-team commented on #29537
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27494 by @dxx004 in 2.4-develop branch
Related commit(s):
 - [a4c74d8fd1cb4a67faee123607dab819bea54f04](https://github.com/magento/magento2/commit/a4c74d8fd1cb4a67faee123607dab819bea54f04)
 - [18e7519bb69cd05bb73a9c0afb8d4948850b9f9a](https://github.com/magento/magento2/commit/18e7519bb69cd05bb73a9c0afb8

[2020-08-24 08:30] #29537 closed, assigned to dxx004

[2020-08-24 08:30] magento-engcom-team commented on #29661
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28512 by @Ynhockey in 2.4-develop branch
Related commit(s):
 - [204d0c3528fabf95c0554731dc37351bbeb26cc9](https://github.com/magento/magento2/commit/204d0c3528fabf95c0554731dc37351bbeb26cc9)

The fix will be available with the upcoming 2.4.2 release.

[2020-08-24 08:30] #29661 closed, assigned to nobody

[2020-08-24 08:30] magento-engcom-team commented on #29145
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29042 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [1b0f8df856aedb16d2afd731638fa9d2677cad45](https://github.com/magento/magento2/commit/1b0f8df856aedb16d2afd731638fa9d2677cad45)
 - [680ca2b76e5f64c1b629052930fe9663ca01e7a1](https://github.com/magento/magento2/commit/680ca2b76e5f64c1b629

[2020-08-24 08:30] #29145 closed, assigned to DmitryTsymbal

[2020-08-24 08:30] magento-engcom-team commented on #28802
Hi @medigeek. Thank you for your report.
The issue has been fixed in magento/magento2#28816 by @medigeek in 2.4-develop branch
Related commit(s):
 - [2dfa2218604b370840935e65e982eac02f8afa68](https://github.com/magento/magento2/commit/2dfa2218604b370840935e65e982eac02f8afa68)

The fix will be available with the upcoming 2.4.2 release.

[2020-08-24 08:30] #28802 closed, assigned to medigeek

[2020-08-24 08:30] magento-engcom-team commented on #28674
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28548 by @Scarbous in 2.4-develop branch
Related commit(s):
 - [eface05ef1d45660670c2b1bab2cb791235cd91c](https://github.com/magento/magento2/commit/eface05ef1d45660670c2b1bab2cb791235cd91c)
 - [9bd16bac9c49cf15bb22654049c9944b52731f9c](https://github.com/magento/magento2/commit/9bd16bac9c49cf15bb2265404

[2020-08-24 08:30] #28674 closed, assigned to engcom-Delta

[2020-08-24 08:39] mrtuvn commented on #29334
@Mecalux-Developer  yes this issue may happen when you install with sampledata. Maybe related with modules sample data with some logic patch/setup incorrect. When you setup upgrade data magento  will trying to run recursive loop through patch data for update schema.

[2020-08-24 08:42] nagrgkgc commented on #2991
@magento-team
possible to provide fixes ? will have to apply fixes in old version of magento.

[2020-08-24 08:50] konarshankar07 commented on #29704
@magento I'm working on this

[2020-08-24 08:54] Mecalux-Developer commented on #29694
It seems the problem is fixed in 2.4. We have not been able to reproduce this problem in 2.4 either. But we have been able to reproduce this problem in 2.3.4-p2 LUMA (Vainilla)

[2020-08-24 09:21] WebKenth commented on #7298
This might be relevant to this issue:

If you have a parent category with `is_anchored` = `true` and the product you are trying to remove from the parent exists on a child category this constraint will trigger.

I can't confirm if it exists in all cases, but we are using Elasticsearch which contains the catalog_category_product index and have a "Smart Category" module which handles catalog_categor

[2020-08-24 09:54] lmn00005 opened #29725 "Formulario de contacto Magento 1.9.4.2"
Una vez relleno el formulario de contacto con los datos cuando le doy a enviar la página refresca pero no llega nada a mi correo.
El formulario es el que viene por defecto

[2020-08-24 11:20] moni921 commented on #4330
We faced similar issue after upgrading to magento 2.4. We replaced value to 0 in table and theme started showing. However now header is missing in child theme. It is coming in parent theme.

Please let me know if there can be a fix for it

[2020-08-24 11:44] jrson83 commented on #29350
Same issue. I can't update to 2.4.0 because of the error. I tried `composer update --ignore-platform-reqs`. It worked but if run `bin/magento setup:upgrade` which results a error message from elasticsearch: No alive nodes found in your cluster

[2020-08-24 12:00] arjunadobe opened #29727 "PHPUnit 9.1.5 issue - Integration test and Unit Test Failed For Core Modules"
### Preconditions (*)
1. Magneto 2.4
2. Phpunit 9.1.5
3. PHP 7.4.9

### Steps to reproduce (*)
1. Add test suit for Magento core modules in phpunit.xml (dev/tests/integration/phpunit.xml)
2. bin/magento dev:test:run integration

### Expected result (*)

Should pass the integration test for core Magento Modules in phpunit [9.1.5]

### Actual result (*)
`PHP Fatal error:  Declaration of Magento\Sale

[2020-08-24 12:18] krishprakash commented on #29725
Hi @lmn00005. GitHub issue Tracker is intended for magento 2 core technical issues only.
Kindly refer community forum Or Stack exchange for general discuss about this topic
Thanks!!

[2020-08-24 12:18] #29725 closed, assigned to nobody

[2020-08-24 13:11] hostep commented on #4871
As far as I can see this is still missing in the latest versions of Magento. But if I'm mistaken, let me know!

In my opinion it's a bug and not a missing feature. People do deploy multiple Magento instances on one server and having a way to purge caches from Varnish for a single Magento instance is needed. Currently it looks like it purges caches for all instances of Magento which are behind the

[2020-08-24 13:27] hostep commented on #29350
@jrson83: please read the entire thread, the correct answer is in it. (and Elasticsearch has nothing to do with this issue. It should be running and Magento should be able to connect to it since it became a hard requirement for Magento 2.4.0 and higher)

Also Github isn't a general "please help me with this random problem I got" platform. Please refer to https://magento.stackexchange.com/ or https

[2020-08-24 13:28] kishorkoshti commented on #26547
Hi, any fix or updates available on this. Experiencing the same still.

[2020-08-24 14:29] speedupmate commented on #28161
https://github.com/magento/magento2/commit/e5cd82d87c7254503b4c9b6a7ff17017413dd016 will not solve this until every bit of data that this endpoint needs is validated before endpoint is called .

+ its still incredibly stupid to evoke the action after one action is finished

This change is so incredibly bad that its almost impossible to disable this ajax call without loosing backwards compatibility

[2020-08-24 14:50] EhabAmawi commented on #25769
@ihor-sviziev
isn't there a current solution for this problem I just updated to Magento 2.4 put as @ammarabdulsalam said the Arabic letters are disjointed

[2020-08-24 14:55] koopjesboom commented on #2619
I have used this Oleg Koval Extension and yes it generates the URL's for the category urls.

If not use separate commands for products and categories:    $> php bin/magento ok:urlrewrites:regenerate --entity-type=category

All the commands you can find here: [https://github.com/olegkoval/magento2-regenerate_url_rewrites](https://github.com/olegkoval/magento2-regenerate_url_rewrites)

[2020-08-24 15:24] m2-assistant[bot] opened #29728 "[Issue] Remove X-Frame-Options from pub/.htaccess"
This issue is automatically created based on existing pull request: magento/magento2#29716: Remove X-Frame-Options from pub/.htaccess

---------
### Description (*)
+ Removed due to duplicate headers
+ Got removed from .htaccess in https://github.com/magento/magento2/commit/f831931213b8e55d275c17a76a21a4a53a671eeb#diff-8052c42ab3b8aa06a3f5f788a4ddccc2
+ Is being set by the app, configured in env.p

[2020-08-24 15:29] m2-assistant[bot] opened #29729 "[Issue] Add Regions for Uruguay."
### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Regions for Uruguay will be added with this PR. Regions are using the ISO 3166-2 code (the regions table can be check here [https://en.wikipedia.org/wiki/ISO_3166-2:UY](https://en.wikipedia.org/wiki/ISO_3166-2:UY))

### Expected result (*)
Once you finish the installation the country should show you Regions on shipping estimation, ch

[2020-08-24 15:32] iphigenie commented on #28614
It's annoying that we can't just block the checkout API because it somehow breaks checkout then.

I have had the same issue on 2.3.4 and Stripe so it is not just Braintree

Blocked it via Cloudflare putting automatic humanity check on all the countries that are known to have these kind of operations (that one was Philippines) but it is a luxury few will have - I can put a geo captcha check on near

[2020-08-24 15:40] m2-assistant[bot] opened #29730 "[Issue] Improved logic selecting for displaying bulk related status messages in the backend system messages area."
This issue is automatically created based on existing pull request: magento/magento2#29717: Improved logic selecting for displaying bulk related status messages in the backend system messages area.

---------
Improved logic selecting for displaying bulk related status messages in the backend system messages area.

### Description (*)
This pull request modifies classes "Magento\AsynchronousOperatio

[2020-08-24 15:41] cherryz23 commented on #28614
Let me get back to you.

Sent from my Apple Watch

[2020-08-24 16:42] Stoyvo commented on #29686
Was able to recreate this issue in Magento 2.3.4 on Magento.Cloud. How does a critical component like this make it into a release?

[2020-08-24 17:51] redati commented on #2332
it happened to me in version 2.4 when creating a configurable product, members were registered as virtual.

[2020-08-24 18:02] RiteshSrivastava90 commented on #13594
{
     "message": "Carrier with such method not found: %1, %2",
     "parameters": [
         "freeshipping",
         "freeshipping"
     ],
new user register this error come on checkout page

[2020-08-24 20:21] chdzma opened #29731 "Add product to wishlit without registering gives error 404 Page not found"
Adding a product to the wishlist without being registered gives error 404 after confirming account.

### Preconditions (*)

1. Magento version: 2.3.5
2. Nginx
3. Php 7.2

### Steps to reproduce (*)

1. Enable account parameter "Require Emails Confirmation"
2. Without being logged in, add a product to the wishlist. This will redirect you to account creation.
3. Create an account and confirm email.

[2020-08-24 20:58] kimpi33 opened #29732 "recently viewed not seen in version 2.3.5"
After updating magento from to 2.3.5, keeping the widget settings, the widget disappears

### Preconditions (*)

1. Magento 2.3.x
2. Correct active widget in background

### Steps to reproduce (*)

1.Upgrade to Magento 2.3.5

### Expected result (*)

![image](https://user-images.githubusercontent.com/70173628/91095712-ccf75e80-e62a-11ea-9af8-9fd0b13f61c6.png)

### Actual result (*)

![image](https

[2020-08-25 04:38] ihor-sviziev commented on #4871
Yeah, will reopen the issue

[2020-08-25 04:43] ihor-sviziev commented on #25769
@EhabAmawi @ammarabdulsalam could you report a separate issue with the exact steps to reproduce and data that currently works incorrectly?

[2020-08-25 05:48] sayanthkoroth commented on #28161
@magento-engcom-team Is there any update here ? I am using custom payment method in my store and I updated the store to 2.3.5-p2. Now on selecting credit card as payment method, an ajax 'set-payment-information' is triggered with a 400 status code.

[2020-08-25 06:02] ajijshekh123 commented on #29721
@magento give me 2.4-develop instance

[2020-08-25 06:02] magento-engcom-team commented on #29721
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-25 06:03] magento-engcom-team commented on #29721
Hi @ajijshekh123, here is your [Magento instance](https://i-29721-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29721-2-4-develop.instances.magento-community.engineering/admin_2352](https://i-29721-2-4-develop.instances.magento-community.engineering/admin_2352)
Login: `58aa3b1b` Password: `509815ad9f08`
Instance will be terminated in up to 3 hours.

[2020-08-25 06:19] ajijshekh123 commented on #29721
Hello @gwharton,
I thought this is not an issue but this is a Magento feature.
As per your steps to be reproduced, actual result and expected result. I have reproduced on Magento 2.4 Instance.
PFA:
Admin:
![image](https://user-images.githubusercontent.com/24711761/91130202-ebac3280-e6c8-11ea-9148-2abc552c1eaf.png)

Front end:
![image](https://user-images.githubusercontent.com/24711761/91130092-bd2

[2020-08-25 06:21] magento-engcom-team commented on #29721
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-25 06:22] magento-engcom-team commented on #29721
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36982` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-25 07:11] moni921 commented on #27140
I got same after upgrading to 2.4

Any solution,  how to fix it

[2020-08-25 07:16] dMar280 commented on #7298
Same issue on 2.3.4.

I'm using an external module for categories import and it triggers this error. I'm aware now that it's a Magento2 core issue.
It doesn't seem to be an issue related with products but exclusively with categories.

[2020-08-25 07:26] engcom-Delta commented on #28041
@srokatonie,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-25 07:26] #28041 closed, assigned to engcom-Delta

[2020-08-25 07:33] engcom-Delta commented on #28804
@lbajsarowicz,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-25 07:33] #28804 closed, assigned to engcom-Delta

[2020-08-25 07:35] engcom-Delta commented on #28574
@vini1996, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-25 07:35] #28574 closed, assigned to engcom-Delta

[2020-08-25 07:40] engcom-Delta commented on #27875
@dudzio12,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-25 07:40] #27875 closed, assigned to engcom-Delta

[2020-08-25 07:42] engcom-Delta commented on #18027
@krzysztofkuzniar,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-25 07:42] #18027 closed, assigned to engcom-Delta

[2020-08-25 07:44] mrtuvn commented on #29694
Don't know but from my knowleadges in 2.4 magento brings update with some improvements in JavaScript . Mixin module has been refactored to improve the loading and application of mixins for advanced bundled modules. But consider update maybe risky for live site running. We can't know problem something went wrong when some 3rd-party modules may breaks compatible

[2020-08-25 07:49] engcom-Delta commented on #26861
@jimses, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-25 07:49] #26861 closed, assigned to engcom-Delta

[2020-08-25 08:14] Mecalux-Developer commented on #29694
Thanks for your reply,
We urgently need a fix for this version (2.3.4-p2). Can you review this case? Some patch etc.
We are really concerned that mixins will not work when we open the pages in a new tab with the right mouse button.
Thanks again, Regards

[2020-08-25 08:18] daniel-jarzebowski-accenture commented on #29720
@magento give me 2.4-develop instance

[2020-08-25 08:18] magento-engcom-team commented on #29720
Hi @daniel-jarzebowski-accenture. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-25 08:20] magento-engcom-team commented on #29720
Hi @daniel-jarzebowski-accenture, here is your [Magento instance](https://i-29720-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29720-2-4-develop.instances.magento-community.engineering/admin_bd1e](https://i-29720-2-4-develop.instances.magento-community.engineering/admin_bd1e)
Login: `56ec47fe` Password: `09b5281d6a62`
Instance will be terminated in up to 3 hours.

[2020-08-25 08:37] mrtuvn commented on #29694
check a couple PRs
https://github.com/magento/magento2/pull/27690
https://github.com/magento/magento2/pull/25869
https://github.com/magento/magento2/pull/25587

[2020-08-25 08:39] konarshankar07 commented on #29721
@magento I'm working on this

[2020-08-25 08:46] norgeindian opened #29734 "Admin Dashboard shows wrong period for yearly statistics"
### Preconditions (*)

1. Magento 2.4-develop, 2.3.5-p2

### Steps to reproduce (*)

1. Login to the admin dashboard
2. Change time period to yearly
3. Check graph

### Expected result (*)

1. I would expect the shown period to only include the last 12 months

### Actual result (*)

![image](https://user-images.githubusercontent.com/11156287/91152880-ce269b00-e6bf-11ea-9da0-fcce983a9d0a.png)
More

[2020-08-25 09:11] ihor-sviziev commented on #28897
I will re-open this issue, as it wasn't resolved yet, there is no php 8 support.

[2020-08-25 09:34] victortodoran commented on #29734
@magento give me 2.4 instance

[2020-08-25 09:35] victortodoran commented on #29734
@magento give me 2.4-develop instance

[2020-08-25 09:35] magento-engcom-team commented on #29734
Hi @victortodoran. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-25 09:36] magento-engcom-team commented on #29734
Hi @victortodoran, here is your [Magento instance](https://i-29734-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29734-2-4-develop.instances.magento-community.engineering/admin_39a7](https://i-29734-2-4-develop.instances.magento-community.engineering/admin_39a7)
Login: `caeaa300` Password: `8ef7cc6790dc`
Instance will be terminated in up to 3 hours.

[2020-08-25 09:43] ilnytskyi opened #29735 "The designLoader plugin loads too much data Magento\Theme\Plugin\LoadDesignPlugin"
### Summary (*)

When we create custom controllers they will be always affected by design loader plugin
DI definition
[code]
When we take a look what it does; It leads to `\Magento\Framework\View\DesignLoader::load` method
The method does too much work. It loads design, translation, and design updates.
[code]
### Examples (*)
This plugin adds its overhead to controllers dispatching. It affects per

[2020-08-25 09:54] magento-engcom-team commented on #29698
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36990` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-25 09:57] monikav-dckap commented on #29674
@magento I am working on this.

[2020-08-25 10:00] ilnytskyi commented on #29735
Guys who worked recently with controllers improvement for 2.4, your opinions needed
@lbajsarowicz @lenaorobei @ihor-sviziev

[2020-08-25 10:03] hostep commented on #7298
For people who keep running against this, first start by investigating if you don't have invalid url-related data in your catalog, you can use [this module](https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker) for that if you want to.

If you are importing new products or categories, then make sure the url_key's for them won't cause conflicts with already existing categori

[2020-08-25 10:04] lbajsarowicz commented on #29735
@ilnytskyi Great idea to optimize that. I'm putting that on my list and will be back with the review soon.

[2020-08-25 10:08] TheRealHunzik opened #29736 "Getting paging Parameter NULL in custom Dataprovider Magento 2.4"
### Summary (*)

I have Created an Extension on Magento 2.3 where I have an Admin Grid whose data in provided By Custom Data Provider not by collection

### Examples (*)

[code]
This Code is Working perfectly with Magento 2.3.X but in Magento 2.4 I am getting an error

**Notice: Trying to access array offset on the value of type null**
in these lines

[code]

### Proposed solution

`($this->reques

[2020-08-25 10:19] joshdavenport commented on #3897
We're seeing this issue in a default environment provided to us by a mainstream Magento focussed hosting provider. Pretty poor state of affairs that the application should experience this issue so immediately.

Has anybody out there definitively found out the internal reason this happens without resorting to hacks?

[2020-08-25 10:41] Eddcapone opened #29737 "Missing support for security feature "integrity" | Element 'css', attribute 'integrity': The attribute 'integrity' is not allowed."
### Preconditions (*)

1. Enterprise 2.4.0

### Steps to reproduce (*)

1. Create a theme
2. Add file THEME\Magento_Theme\layout\default_head_blocks.xml with following content:

[code]
3. Clear cache
4. Reload frontend.

### Expected result (*)

1. Frontend should load

### Actual result (*)

1. Element 'css', attribute 'integrity': The attribute 'integrity' is not allowed.

---
Please provide [Se

[2020-08-25 10:41] engcom-Charlie commented on #25948
Hello @zingix
Thank you for contribution and collaboration!
We are not able to reproduce this issue on the latest 2.4-develop branch by following steps:

1. Configure indexer to run on schedule.
2. Create a new custom attribute for products with "Use in Layered Navigation" => "Filterable (with results)".
3. Create a new configurable product.
4. Assign the attribute to the main product and all it's

[2020-08-25 11:03] mtjweb commented on #29680
Problem was solved by adding the following code to my.cnf and restarting MySQL-server:

`# Important: inside the mysqld block
[mysqld]
# Add new log file size
innodb_log_file_size=512M
# Disable strict mode
innodb_strict_mode=0`

[2020-08-25 11:03] #29680 closed, assigned to nobody

[2020-08-25 11:10] magento-engcom-team commented on #1763
Hi @astorm. Thank you for your report.
The issue has been fixed in magento/magento2#29633 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [9fd19aa5e6210e23d84d36b15f9807a2442a0854](https://github.com/magento/magento2/commit/9fd19aa5e6210e23d84d36b15f9807a2442a0854)
 - [084f689c14cc47fae2b53c8f11f87de548e76227](https://github.com/magento/magento2/commit/084f689c14cc47fae2b53c8f11f87de548e76

[2020-08-25 11:10] magento-engcom-team commented on #1769
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#29684 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [4e112321d92b65852db358feb1e9098e023eb346](https://github.com/magento/magento2/commit/4e112321d92b65852db358feb1e9098e023eb346)
 - [f648b8b3c293f837bbbbad6688990ecf228f323d](https://github.com/magento/magento2/commit/f648b8b3c293f837bbbbad6688990ecf2

[2020-08-25 11:20] adrian-martinez-interactiv4 commented on #19469
Hi, we've recently run into this issue within a Magento installation with 1100K customers. I've been investigating, and this is what I found, just in case it is useful for someone.

I know this issue is related with setup:upgrade performance related with customer_grid indexer, and this comment is about customer_grid indexer inner performance, but since it affects also setup:upgrade when reindexing

[2020-08-25 11:46] monikav-dckap commented on #29318
@magento give me 2.4-develop instance

[2020-08-25 11:46] magento-engcom-team commented on #29318
Hi @monikav-dckap. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-25 11:47] magento-engcom-team commented on #29318
Hi @monikav-dckap, here is your [Magento instance](https://i-29318-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29318-2-4-develop.instances.magento-community.engineering/admin_e20a](https://i-29318-2-4-develop.instances.magento-community.engineering/admin_e20a)
Login: `ae2e6feb` Password: `c19504872bbe`
Instance will be terminated in up to 3 hours.

[2020-08-25 11:55] ihor-sviziev commented on #19469
@adrian-martinez-interactiv4 amazing job! This is really huge step forward!

@o-iegorov could you review following comment https://github.com/magento/magento2/issues/19469#issuecomment-679964528? Could you bring us more info which performance issues it were causing when used update by schedule for customer grid index? maybe we as a community could fix it?

[2020-08-25 12:16] engcom-Foxtrot commented on #29101
Fixed in https://github.com/magento/magento2-login-as-customer/pull/179 and merged in https://github.com/magento/magento2ce/pull/5993.

[2020-08-25 12:16] #29101 closed, assigned to naydav, engcom-Foxtrot

[2020-08-25 12:40] gcampedelli commented on #3897
Please check it => https://pt.slideshare.net/TonyBrown44/magento-2-and-avoiding-the-rabbit-hole

[2020-08-25 12:43] gcampedelli commented on #3897
And it can also be a plugin. Have you checked if billing address is displaying all right.
In one of our install we had a problem with Mega Menu module overwriting menu trying to avoid ttl and it breaks details billing address in checkout

[2020-08-25 13:28] engcom-Foxtrot opened #29739 "[EE][MFTF] Group: Place order and reorder."
Login as Customer Enterprise Edition logging function should be covered by MFTF test.

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) a

[2020-08-25 13:28] bckpff opened #29740 "Subtotal Cart Price Rule excludes product tax for fixed amount"
### Preconditions (*)
Reproducing on 2.4-develop
Magento ver. 2.3.5-p2 - upgraded from 2.3.5-p1 using composer

- Product price includes product tax. Product tax is 5%. Shipping table rate is 10,- €.
- Create subtotal cart price rule to apply 10 € fixed discount if subtotal is greater or equal than 50,- €

### Steps to reproduce (*)

- As customer, add two products to cart (f.e. 2x "Gwyn Endurance

[2020-08-25 13:33] camelscript commented on #29534
Got the same issue and could not install even with Auth Basic disabled. Elasticsearch is running and i can $curl and see "200 OK" and the JSON that Elasticsearch provides but still an error during isntallation.

[2020-08-25 13:41] joshdavenport commented on #3897
Thanks for the link @gcampedelli, that was helpful. You're right, just found 500 happening during the request for the block.

1. Check varnishlog for `/page_cache/block/esi/blocks/` requests. Useful to run `varnishlog -q 'ReqURL ~ "^/page_cache/block"'` so you only see what you're interested in.
2. Check `RespStatus` and `RespReason`. Chances are you're seeing a 500 Internal Server Error.
3. Worth

[2020-08-25 13:59] joshdavenport commented on #3897
Also see https://github.com/varnishcache/varnish-cache/issues/3264 which could affect the developer experience of this kind of issue in the future

[2020-08-25 14:06] Eddcapone commented on #1821
Still not fixed in magento 2.3.5 ? Please reopen the issue.

[2020-08-25 14:07] monikav-dckap commented on #29318
@engcom-Alfa, It seems the Expected behavior. When we click the Customer Edit link, it gets opened in a new tab. So clicking the Back URL navigating to Customer Grid Page seems correct. If the Customer Edit link opened on the same tab, then we can consider this as a bug.

If its a bug, then we should check all other Customer Edit links available in other admin pages. I have checked the Customer Ed

[2020-08-25 14:09] madhippieqq commented on #29740
@magento give me 2.4-develop instance

[2020-08-25 14:09] magento-engcom-team commented on #29740
Hi @madhippieqq. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-25 14:11] magento-engcom-team commented on #29740
Hi @madhippieqq, here is your [Magento instance](https://i-29740-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29740-2-4-develop.instances.magento-community.engineering/admin_75c5](https://i-29740-2-4-develop.instances.magento-community.engineering/admin_75c5)
Login: `a749cc0b` Password: `070b466cba2a`
Instance will be terminated in up to 3 hours.

[2020-08-25 14:15] Eddcapone opened #29741 "Can't change load order of scripts / css files"
I've added bootstrap 4 to magento 2. But bootstrap is overriding basic CSS of magento 2, e.g. it changes the font-size in body to 1rem and so on.

We could easily solve it, by loading bootstrap 4 before styles-l.css and styles-m.css. So I tried the new `order` attribute and setting it to 0, but it is still getting loaded after style-m.css and style-l.css

https://github.com/magento/magento2/issues

[2020-08-25 14:25] paul-gene commented on #28161
@sayanthkoroth you're wasting your time I imagine. Magento won't fix this for 2.3.5 now that 2.4 is out.

[2020-08-25 14:37] gcampedelli commented on #3897
Hi Josh, you are right. Default Magento Varnish.vcl does not work in all kind of installs. I modified it as well to make Varnish work in some cases.

[2020-08-25 14:50] madhippieqq commented on #29740
Could reproduce this issue on 2.4-develop

[2020-08-25 15:52] engcom-Delta commented on #29481
Hi @mtjweb Hello @justinwatkins
I am not able to reproduce this issue  by provided steps. Tested on the latest 2.4-develop and 2.3.5-p2 branches.
Could you check my steps are correct?
*Testing scenario:*

*Steps to reproduce:*

1. Create new store view
2. Set to German locale
3. Create simple product
4. Open a product for editing
5. Change scope. For example Default (Dutch) => German
6. Change Pro

[2020-08-25 16:03] Eddcapone commented on #29741
I was able to make a temporary [workaround](https://magento.stackexchange.com/a/320730/66769).

[2020-08-25 16:27] vkolesny commented on #28567
According to the Product Owner comments this issue is considered as Not a Bug, and escalated L3 issue was closed as Won't Fix as well (MC-34502):

**Product Owner's clarification:**
_Creating a customer is meant to be a public API so that a new customer can create an account without requiring authorization. Unfortunatelly there is nothing we can do it at the GraphQL layer.
It looks like this is by

[2020-08-25 16:27] #28567 closed, assigned to nobody

[2020-08-25 16:42] mrtuvn commented on #29741
do you try add bootstrap like this in link below
https://gist.github.com/mrtuvn/34ae6f5bce175872e72520c29bcc3b03

magento current not work order in css tag in xml. Move bootstrap styles before base styles magento

in my opinion i don't like bootstrap include in . Some feature you can write your own in case you need (grids, col system, gap..). All the rest feature magento support already (flexbox f

[2020-08-25 17:05] mtjweb commented on #29481
That's the right way to reproduce. But the URL rewrite isn't created. You can check this under Marketing -> URL Rewrite and also check this in the front end when switching scope when you are on a product page.

[2020-08-25 19:31] agustinUTN commented on #25038
does anybody fix this issue on 2.3?

[2020-08-25 22:01] smiverma commented on #26377
Magento 2.3 still supports PHP 7.2  and PHP 7.2 doesn't support SameSite attribute for `secookies()` function so we cannot add explicit support for SameSite in Magento framework. we are investigating what could be done on our side to support 2.3 line however we have added support in our next release 2.4.1

[2020-08-25 22:59] kamzata commented on #27540
Now I'm using 2.4.0 version and it works fine.

[2020-08-26 03:26] ihor-sviziev commented on #27540
In this case I’m closing this issue

[2020-08-26 03:26] #27540 closed, assigned to ihor-sviziev

[2020-08-26 04:05] LiamTrioTech opened #29744 "Add fields on Widgets for adding extra css classes/styling."
### Summary (*)
Unable to select widget's static block element to style it with CSS.

### Examples (*)
[code]

Then the static block contents of the widget could be styled with CSS.

### Proposed solution
Similar to the example given here, extending cms/widget_block template to add getBlockId() into css class names,, but as a field for class names in the admin widget edit form.
https://magento.sta

[2020-08-26 04:42] magentodev1 opened #29745 "[Urgent] All Products and design gone on front end Magento"
Some may know but there is a thing called "Yotpo" it basically puts a review widget or something of some sort on each product. it came preinstalled with my Porto template. I made a copy of the yotpo file and put it on my local directory. then edited the copy and put it back into the yotpo file and my website now no longer shows any product.

### Preconditions (*)

1. Magento 2
2. Core ftp
3. Porto

[2020-08-26 07:31] engcom-Delta commented on #29723
Hello @mozinomer
Could you provide more details for reproduce this issue?
Please add version of magento.
What value is in memory_limit (php.ini)?
Are there any errors in the logs?

Thank you!

[2020-08-26 07:35] hostep commented on #24445
This is probably fixed by [MC-32593: var/resource_config.json is regenerated each time an image is requested by get.php](https://github.com/magento/magento2/commit/1808301b9f9), this seems to be included in Magento 2.4.0
Can somebody confirm?

[2020-08-26 08:42] Eddcapone commented on #29741
I already tried the code from your first link. But it does not solve the problem. Bootstrap still gets loaded after style-m and style-l

[2020-08-26 08:46] engcom-Delta commented on #29481
![Peek 2020-08-26 11-12](https://user-images.githubusercontent.com/51681379/91281252-83c11f00-e790-11ea-9995-aa3632815829.gif)

[2020-08-26 08:57] engcom-Delta commented on #29481
@mtjweb
Please check if enable [Automatic Redirects](https://docs.magento.com/user-guide/marketing/url-redirect-product-automatic.html)
In the admin panel
![Screenshot_123](https://user-images.githubusercontent.com/51681379/91283510-5b86ef80-e793-11ea-9768-395a6839955f.png)

[2020-08-26 09:05] m2-assistant[bot] opened #29747 "[Issue] Assign user to role and roles list commands"
This issue is automatically created based on existing pull request: magento/magento2#28677: Assign user to role and roles list commands

---------
### Description (*)
Creates Admin-role management commands.

### Manual testing scenarios (*)
1. Run `bin/magento admin:role:list`
2. Get some of the existing roles and save role ID
3. Create new admin user from admin panel
4. Run `bin/magento admin:use

[2020-08-26 09:19] magento-engcom-team commented on #27477
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37047` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 09:21] albsa commented on #29740
We commited patch https://github.com/pixelhed/magento2/commit/25ea6caf9f64c9ad55e951c54bbb633b84f3dcc2 thanks to @pixelhed

This fixed the issue for us temporarily untill core fix is released.

[2020-08-26 09:26] w0d4 commented on #29312
I see the same problem. I cannot get 2FA to work, since the mail is sent from owner@example.com
Since I'm working with a more secure mailserver, I cannot sent mails from example.com domain.
I suggest to add a parameter during installation to set the owners E-Mail adress.

[2020-08-26 10:23] aymen2255 commented on #25075
Hi, I have the same problem, what is the name of this extension

[2020-08-26 10:40] nitaipanda commented on #27542
Guest checkout - No such entity with cartId.

![image](https://user-images.githubusercontent.com/20333565/91294059-96e6e580-e7b6-11ea-84b8-725f50831871.png)

[2020-08-26 10:44] nitaipanda commented on #27542
Guest checkout - No such entity with cartId = 141
![image](https://user-images.githubusercontent.com/20333565/91294412-15438780-e7b7-11ea-8d74-bc091618349d.png)

how to solve this issue.i have use magento 2.3.5

[2020-08-26 10:45] nitaipanda commented on #27542
Please help me i can not find the solution.please help me

[2020-08-26 10:47] nitaipanda commented on #27542
![image](https://user-images.githubusercontent.com/20333565/91294714-9569ed00-e7b7-11ea-8330-89af7bab04bc.png)

[2020-08-26 10:50] m2-assistant[bot] opened #29748 "[Issue] Remove redundant methods"
This issue is automatically created based on existing pull request: magento/magento2#29147: Remove redundant methods

---------
This PR removes redundant methods
`_isAllowed()` in `app/code/Magento/AsynchronousOperations/Controller/Adminhtml/Index/Index.php`
`_toHtml()` in `app/code/Magento/Sales/Block/Adminhtml/Order/Create/Newsletter.php`
These methods just call parents methods

[2020-08-26 10:52] magento-engcom-team commented on #29729
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37050` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 11:05] xiangkundavis opened #29749 "After enable staging feature, how load sales rule by rule id"
### Preconditions (*)
1.  Mgaento EE 2.3.5p1

### Steps to reproduce (*)
1.  Create a new cart price rule and the status is "disable". This rule id is **37**
2.  Click "Schedule New Update" to add a new schedule and enable this cart price rule
3. Go to table salesrule, there will be 3 more records which rule_id is **37**
4. Use the code below to load the sales rule which rule id is 37
<<<

[2020-08-26 11:17] m2-assistant[bot] opened #29750 "[Issue] Introduce separate BlockByIdentifier class to get Layout Block based on CMS Block Identifier"
This issue is automatically created based on existing pull request: magento/magento2#28147: Introduce separate BlockByIdentifier class to get Layout Block based on CMS Block Identifier

---------
### Description (*)

The existing class is anti-pattern:
1. Uses `\Magento\Framework\Model\AbstractModel::load` to load Model
1. If `block_id` is identifier, the `getIdentities` method returns same identi

[2020-08-26 11:24] gaiterjones commented on #3897
I am seeing this with Varnish 6.x and Magnto 2.3x and 2.4x. I followed @joshdavenport 's advice to filter the varnish logs with

`varnishlog -q "ReqURL ~ '/page_cache/block/'"`

And browsed to the ESI block

`/page_cache/block/esi/blocks/%5B"catalog.topnav"%5D/handles/WyJkZWZhd...`

This returned a 503 and the following errors in the varnish log

-   VCL_return     restart
-   VCL_Error      Too m

[2020-08-26 11:32] mrtuvn commented on #29741
Yeah tried again but not work! I'm not sure why order attribute not work when magento allow its via xml but current this is all we have. In the end you can't order css load

[2020-08-26 11:58] ihor-sviziev commented on #29572
@koushikch7 could you provide sample code for reproducing this issue?

I believe it was fixed by removing those two lines: https://github.com/magento/magento2/pull/29349/files?file-filters%5B%5D=.js&file-filters%5B%5D=.xml#diff-d31bcdab992b8a290ce2d9ae7ed5bb62R883-R884

[2020-08-26 12:15] moni921 commented on #27140
@advcha , please help us

[2020-08-26 12:20] engcom-Delta commented on #27470
Hello @
Could you provide more details for reproduce this issue?
Please add screenshots with settings of a cart price rule.

Thank you!

[2020-08-26 12:22] magento-engcom-team commented on #29551
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37056` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 12:31] Aquive commented on #25182
@ericclaeren I tested the changes on 2.3.5 it didn't solve the issue either.

[2020-08-26 12:43] krishprakash commented on #29597
@magento give me 2.4-develop instance

[2020-08-26 12:43] magento-engcom-team commented on #29597
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-26 12:44] magento-engcom-team commented on #29597
Hi @krishprakash, here is your [Magento instance](https://i-29597-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29597-2-4-develop.instances.magento-community.engineering/admin_18e6](https://i-29597-2-4-develop.instances.magento-community.engineering/admin_18e6)
Login: `d6feb06d` Password: `5de792c207ea`
Instance will be terminated in up to 3 hours.

[2020-08-26 12:50] magento-engcom-team commented on #1760
Hi @CoreyCole. Thank you for your report.
The issue has been fixed in magento/magento2#29632 by @jmonteros422 in 2.4-develop branch
Related commit(s):
 - [afe499d5fbd09abd86e3c8d48797395fada01fa6](https://github.com/magento/magento2/commit/afe499d5fbd09abd86e3c8d48797395fada01fa6)
 - [0994c44a964406f1eae1c4779903c78533111989](https://github.com/magento/magento2/commit/0994c44a964406f1eae1c4779903c

[2020-08-26 12:50] magento-engcom-team commented on #26080
Hi @korostii. Thank you for your report.
The issue has been fixed in magento/magento2#26081 by @korostii in 2.4-develop branch
Related commit(s):
 - [cfab7825e1d5ce33d38bc81963ee60d3dd04f41a](https://github.com/magento/magento2/commit/cfab7825e1d5ce33d38bc81963ee60d3dd04f41a)
 - [7c263e8b775b19d9091bc0f79a44e87b2c190a4a](https://github.com/magento/magento2/commit/7c263e8b775b19d9091bc0f79a44e87b2c

[2020-08-26 12:50] #26080 closed, assigned to korostii

[2020-08-26 12:50] magento-engcom-team commented on #25595
Hi @Khushbu-Webkul-QA. Thank you for your report.
The issue has been fixed in magento/magento2#29269 by @ralbin in 2.4-develop branch
Related commit(s):
 - [67a4be3c2d31abb4b0198069e89589780c11fae6](https://github.com/magento/magento2/commit/67a4be3c2d31abb4b0198069e89589780c11fae6)
 - [3a1df1d28f8087ca12f3248c1fa359fc8a43272a](https://github.com/magento/magento2/commit/3a1df1d28f8087ca12f3248c1fa

[2020-08-26 12:50] #25595 closed, assigned to ralbin

[2020-08-26 12:50] magento-engcom-team commented on #29553
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27696 by @krzksz in 2.4-develop branch
Related commit(s):
 - [28d1af5276caa759139299096e0cbc40f4618da2](https://github.com/magento/magento2/commit/28d1af5276caa759139299096e0cbc40f4618da2)
 - [b842083a7b6e08418f5bbb16f0a90abaf1bd8b44](https://github.com/magento/magento2/commit/b842083a7b6e08418f5bbb16f0a

[2020-08-26 12:50] #29553 closed, assigned to krzksz

[2020-08-26 12:50] magento-engcom-team commented on #29500
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29482 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [c9f95060af1a600385e211727827579be8b512af](https://github.com/magento/magento2/commit/c9f95060af1a600385e211727827579be8b512af)
 - [db43cb8549d60f1eb7d2fcc4d80aec34bdc40fd4](https://github.com/magento/magento2/commit/db43cb8549d60f1eb7d2fcc4d

[2020-08-26 12:50] #29500 closed, assigned to Usik2203

[2020-08-26 12:50] magento-engcom-team commented on #29194
Hi @posidonius. Thank you for your report.
The issue has been fixed in magento/magento2#29353 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [3d7298e3d10a77b5321a152bfec9eeea634b079d](https://github.com/magento/magento2/commit/3d7298e3d10a77b5321a152bfec9eeea634b079d)

The fix will be available with the upcoming 2.4.2 release.

[2020-08-26 12:50] #29194 closed, assigned to srsathish92

[2020-08-26 12:50] magento-engcom-team commented on #13401
Hi @duffner. Thank you for your report.
The issue has been fixed in magento/magento2#28163 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [85b6d054008a84a7b7a3439f66ee6d6aec925c17](https://github.com/magento/magento2/commit/85b6d054008a84a7b7a3439f66ee6d6aec925c17)
 - [47bc47bc97fb36f93e91f1595f63825bd406c8b3](https://github.com/magento/magento2/commit/47bc47bc97fb36f93e91f1595f63825

[2020-08-26 12:50] #13401 closed, assigned to Bartlomiejsz

[2020-08-26 12:50] magento-engcom-team commented on #26903
Hi @speedupmate. Thank you for your report.
The issue has been fixed in magento/magento2#27691 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [a9ca0f632da13071b9f44f706fda8740809e29d9](https://github.com/magento/magento2/commit/a9ca0f632da13071b9f44f706fda8740809e29d9)
 - [fc1a6c5264353b9e5adc9fb84851ea2d1b4c063f](https://github.com/magento/magento2/commit/fc1a6c5264353b9e5adc9fb8

[2020-08-26 12:50] #26903 closed, assigned to ProkopovVitaliy

[2020-08-26 12:51] pmarjan commented on #29372
**From Description**
The way that this issue is described in the first place

- run only one test (testRequestCacheTagsForCategoryListOnMultipleIds) from the test class
- run the full class

 and the `$actualCacheTags` result are different for single test case run and the full class, suggests that the tests are NOT independent of each other.

**Production behavior**
I checked the behavior without

[2020-08-26 12:53] magento-engcom-team commented on #29597
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37057` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 13:19] magento-engcom-team commented on #29337
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37058` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 13:27] krishprakash commented on #29336
@magento give me 2.4-develop instance

[2020-08-26 13:27] magento-engcom-team commented on #29336
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-26 13:28] magento-engcom-team commented on #29336
Hi @krishprakash, here is your [Magento instance](https://i-29336-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29336-2-4-develop.instances.magento-community.engineering/admin_18dd](https://i-29336-2-4-develop.instances.magento-community.engineering/admin_18dd)
Login: `5724d34e` Password: `4d54a67c66b5`
Instance will be terminated in up to 3 hours.

[2020-08-26 13:32] engcom-Delta opened #29752 "Stores are not shown in "Login as Customer: Select Store" modal window on order view page"
### Preconditions (*)

1. Magento 2.4.1 ( СЕ )
2. Login as Customer module enabled
3. Store View To Login To=Manual Selection
4. Create additional website
![image](https://user-images.githubusercontent.com/51681379/91309370-31482880-e7b9-11ea-8d66-f90aebb2590b.png)

### Steps to reproduce (*)

1. Create customer with checked "Allow remote shopping assistance" option
2. Place order by customer
3. G

[2020-08-26 13:34] magento-engcom-team commented on #29336
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37059` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 13:39] krishprakash commented on #28627
Closing this issue as related PR #28621 is also closed by author

[2020-08-26 13:39] #28627 closed, assigned to nobody

[2020-08-26 13:44] magento-engcom-team commented on #29734
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37060` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 13:51] amenk commented on #13440
Is anybody working on this? We applied the PR Patch, but it seems that is causes other issues (checkbox Create Permanent Redirect for old URL on categories no longer clickable). Please keep that in mind when regression testing.

[2020-08-26 14:15] barryvdh commented on #28966
I can verify this issue on 2.3.5-p2 with ElasticSearch 7. Many products show correctly, but it's also missing quite a few products. In my case some configurable products. The products are visible when I visit the url directly, but they do not appear in the category pages or search results. All indexes were up-to-date and cache was cleared.

Switching back to MySQL solved the issue directly.

[2020-08-26 14:20] engcom-Delta opened #29754 "[EE] Appropriate message should be shown when no stores are available to select"
### Preconditions (*)

1. Magento 2.4.1 EE edition
2. Login as Customer module related
3. Store View To Login To=Manual Selection
4. Create additional website
![image](https://user-images.githubusercontent.com/51681379/91309370-31482880-e7b9-11ea-8d66-f90aebb2590b.png)
5. Customer with checked "Allow remote shopping assistance" option is created on additional website
6. Share Customer Accounts=Per

[2020-08-26 14:20] mobweb commented on #16295
Same issue here on 2.3.5-p1, saw the same console error message which lead to the product edit page not loading. After removing the attribute group named "Description" I was able to load the page without any issues.

[2020-08-26 14:26] lenaorobei commented on #29750
Duplicate https://github.com/magento/magento2/issues/28309

[2020-08-26 14:26] #29750 closed, assigned to lbajsarowicz

[2020-08-26 14:36] johncarlson21 commented on #24484
could you please tell me what the proper product_page_image_large params should be set to. I have it in my view.xml file but like this:

<image id="product_page_image_large" type="image"/>

and I'm running 2.3.4 and the patch changes are there.

[2020-08-26 14:37] JoostWan commented on #28966
Same problem over here with configurable products that are missing with Elastic Search 7 like @barryvdh

[2020-08-26 14:39] mtjweb commented on #29481
Yes, that's enabled.
![Schermafbeelding 2020-08-26 163831](https://user-images.githubusercontent.com/16004337/91317712-acf6a500-e7ba-11ea-8bb8-bff7b4a7f2ef.png)

[2020-08-26 15:13] m2-assistant[bot] opened #29756 "[Issue] Fix code breaking comma in array_merge_recursive"
This issue is automatically created based on existing pull request: magento/magento2#29755: Fix code breaking comma in array_merge_recursive

---------
The unnecessary comma caused an error message when the cache status was read (php ./bin/magento cache:status).

The error message: "Parse error: syntax error, unexpected ')' in ./setup/src/Magento/Setup/Module.php on line 82"

After removal of the

[2020-08-26 15:19] m2-assistant[bot] opened #29757 "[Issue] Bulk ACL management for AsynchronousOperations Admin UI"
This issue is automatically created based on existing pull request: magento/magento2#27580: Bulk ACL management for AsynchronousOperations Admin UI

---------
### Description (*)
After Migrating of Asynchronous Operations from Magento Commerce to Magento Open Source, looks like part of functionality was extended.

In details:
In magento_bulk table was added user_type, which defines type of the use

[2020-08-26 15:26] engcom-Delta opened #29758 "[EE] Admin is redirected from order view page to customer grid page when use login as customer for restricted website"
### Preconditions (*)

1. Magento 2.4.1 EE edition
2. Login as Customer module related
3. Store View To Login To=Auto-Detection
4. Create additional website
![image](https://user-images.githubusercontent.com/51681379/91309370-31482880-e7b9-11ea-8d66-f90aebb2590b.png)
5. Customer with checked "Allow remote shopping assistance" option is created on additional website

### Steps to reproduce (*)

1.

[2020-08-26 15:30] elbasri opened #29759 "exported CSV permissions fix"
Hi
i have a magento 2 installation using version 2.3.5-p

### Expected result (*)

download exported files using magento admin

### Actual result (*)
when export products (for example) from system=>data transfer=>export
all is going well, the export message added to the cron, and the exported csv is saved to magento_install_dir/var/export
but its saved under permissions 0644
bu result, i cant down

[2020-08-26 15:30] engcom-Delta opened #29760 "Store View should be replace to Store"
### Preconditions (*)

1. Magento 2.4.1
2. Login as Customer module related

### Steps to reproduce (*)

1. According https://github.com/magento/magento2/issues/29101
2.

### Expected result (*)

1. `Store View` should be replace to `Store`

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/51681379/91323836-05816e80-e7ca-11ea-95c6-40a6c7730434.png)
2.
![image](https://u

[2020-08-26 17:44] hardyjohnson commented on #26377
There are multiple examples of setcookie polyfills for lower PHP versions, one of which is provided by GoogleChromeLabs (https://github.com/GoogleChromeLabs/samesite-examples/blob/master/php.md)  and a similar one from @HirokazuNishi (https://github.com/Veriteworks/CookieFix) mentioned above. While those solutions may not be elegant, they surely can be implemented in the framework to uphold any in

[2020-08-26 19:38] magento-engcom-team commented on #29752
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-26 19:39] magento-engcom-team commented on #29752
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37097` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-26 19:53] m2-assistant[bot] opened #29764 "[Issue] Allow filter directive processors to be used with the Widget template filter"
This issue is automatically created based on existing pull request: magento/magento2#28723: Allow filter directive processors to be used with the Widget template filter

---------
### Description (*)
This allows the use of filter directives with the `Magento\Widget\Model\Template\Filter` filter (which is used by CMS content). This makes extending the filter directives actually useful.

By applying

[2020-08-26 22:21] Overlap88 opened #29765 "Tax handling on credit notes still faulty in Magento 2"
Summary of the issue - Magento Tax handling when you add an adjustment fee is incorrect
    Information on your environment - Magento 2.3.4 (but was like this on 1.9)
    Steps to reproduce - issue a credit on any invoice and add adjustment fee to reproduce
    Expected and actual results - VAT total should change to reflect the credit but it doesn't

- [ ] Severity: **S2** _- Affects non-critical

[2020-08-26 22:58] fredden commented on #13440
@amenk Thanks for the feedback. I'd not noticed that before your message, so thanks for raising. What version of Magento did you apply the patch to? I've done a little testing just now and get the same behaviour with & without the patch on my development branch (which is up-to-date with `2.4-develop` at time of writing).

[2020-08-27 03:25] terrybakshi opened #29766 "Magento 2.2.7 Issue"
### Preconditions (*)

1. Magento 2.2.7
2. LFD emails

### Steps to reproduce (*)

1.Not Sure

### Expected result (*)

1. Just all of the sudden i started receiving these email from server

Time:         Thu Aug 27 05:00:38 2020 +0200
Account:     (Example Domain Name)
Resource:     Process Time
Exceeded:     155197 > 1800 (seconds)
Executable:   /usr/local/cpanel/bin/jailshell
Command Line: jail

[2020-08-27 03:41] mrtuvn commented on #29745
Check log so you can reveal some caused problem. In case you want to remove yotpo update composer with this below to removes optional modules
https://github.com/yireo/magento2-replace-bundled

[2020-08-27 03:42] mrtuvn commented on #29745
"We're sorry, an error has occurred while generating this content." is meaning something went wrong . Take a look at folder var/log in root magento folder

[2020-08-27 04:36] krishprakash commented on #29766
Hi @terrybakshi. Kindly contact your server team to review into this
This is not any default magento problem so closing this as non issue
Also you can raise this at [mangento stack exchange](https://magento.stackexchange.com/) Or [community forum](https://community.magento.com/) to help further

[2020-08-27 04:36] #29766 closed, assigned to krishprakash

[2020-08-27 05:01] amenk commented on #13440
@fredden actually we are a bit outdated (2.3.3-p1)

That means you are not seeing the issue with the "Create Permanent Redirect for old URL", right?

I am attaching our exact patch for reference. I think it might be outdated and I possibly have to try your most recent version, in case did not notice the regression.

[fix_custom_category_attribute_default_value_checkbox.zip](https://github.com/mage

[2020-08-27 05:21] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-08-27 05:21] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-27 05:23] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_c982](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_c982)
Login: `7ac52cf0` Password: `488721e8942d`
Instance will be terminated in up to 3 hours.

[2020-08-27 06:32] konarshankar07 commented on #29752
@magento I'm working on this

[2020-08-27 07:02] engcom-Delta commented on #29481
@mtjweb
As you can see from my comments above, it works for me

[2020-08-27 07:02] tuyennn commented on #7165
@DanielRuf have same problem
[code]
What the hell here with Magento

[2020-08-27 07:35] gwharton opened #29767 "Generated Varnish.vcl healthcheck urls do not work when 'document_root_is_pub' => true"
### Preconditions (*)

1. 2.4-develop

### Steps to reproduce (*)

1. Go to backend
2. Stores -> Configuration -> Advanced -> System -> Full Page Cache
3. Turn on Varnish Cache
4. Save config
5. Export VCL for Varnish 6
6. Inspect default.vcl file

### Expected result (*)

1. Healthcheck urls should be '^/(pub/)?health_check.php' in the case of regex
2. Healthcheck urls should be '/health_check.ph

[2020-08-27 07:45] fredden commented on #13440
Thanks, that's helpful. I can definitely see that the checkbox does nothing with this patch applied, but it also seemed to do nothing when I returned the old hard-coded values. I'll investigate further.

I don't expect recent changes to the patch to behave any differently. The initial code was a 95% solution, with one bug fixed for 'containers' later. Recent changes are cosmetic only and won't aff

[2020-08-27 07:56] engcom-Foxtrot commented on #29752
@konarshankar07 this issue isn't reproducible on 2.4-develop branch. You need access to a private repository to fix this issue.

[2020-08-27 07:57] madhippieqq commented on #29740
I applied the same patch. This didn't work for me.

[2020-08-27 08:00] albsa commented on #29740
@madhippieqq how did you apply the patch? we had to make some addjustments to the patch file.
Did you follow the instructions how to apply a patch in Magento 2?
Then you would have to edit the patch file because the original file contains path of local core code. You have to adjust to composer vendor modules file path.

Note: this is a .diff file

`diff --git a/Model/Sales/Total/Quote/CommonTaxCol

[2020-08-27 08:10] magento-engcom-team commented on #1774
Hi @ajzele. Thank you for your report.
The issue has been fixed in magento/magento2#29711 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [a7a20f8f1ec67aa74f350dfb03d12a7a0061bfc8](https://github.com/magento/magento2/commit/a7a20f8f1ec67aa74f350dfb03d12a7a0061bfc8)
 - [d6de4c43fe3280df8202c2e0c6254328c36d1d49](https://github.com/magento/magento2/commit/d6de4c43fe3280df8202c2e0c6254328c36d1

[2020-08-27 08:10] magento-engcom-team commented on #29515
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29210 by @woutk88 in 2.4-develop branch
Related commit(s):
 - [82d60a3c1f7b08702f3701485d92411e4a309138](https://github.com/magento/magento2/commit/82d60a3c1f7b08702f3701485d92411e4a309138)
 - [f1758dbaeb3eb9e48faedec1456c6957b480b3cf](https://github.com/magento/magento2/commit/f1758dbaeb3eb9e48faedec145

[2020-08-27 08:10] #29515 closed, assigned to woutk88

[2020-08-27 08:19] konarshankar07 commented on #29752
Hello @engcom-Foxtrot ...
Yes, I'm not able to reproduce this issue in 2.4-develop branch so Shall I need to unassign the issue? cause I don't have access to the private repo

[2020-08-27 09:01] ngtuan96lc opened #29768 "Missing Product scope after create websites/stores/storeviews via Data/Patch"
### Preconditions (*)

1. Magento version 2.4 Enterprise
2. Ubuntu 20.04
3. PHP7.4

### Steps to reproduce (*)

1. Create file Patch in new module
2. Run command line : bin/magento setup:install (with first run) or bin/magento setup:upgrade
3. This is my code:
![image](https://user-images.githubusercontent.com/22560466/91420089-5d79ad00-e87e-11ea-8121-64055a3d863f.png)

### Expected result (*)

1.

[2020-08-27 09:01] sonbui00 commented on #3280
I think the issue still happend

[2020-08-27 09:08] iloa08 commented on #10676
Hi,
some news for this post ?
I'm facing teh same :/

[2020-08-27 09:15] engcom-Foxtrot commented on #29752
@konarshankar07 I'll unassign you.

[2020-08-27 09:23] ihor-sviziev commented on #29588
Duplicates https://github.com/magento/magento2/issues/28186

[2020-08-27 09:23] #29588 closed, assigned to ihor-sviziev, chandru-199

[2020-08-27 09:38] engcom-Charlie commented on #26526
Hello @PascalBrouwers
Thank you for your contribution and collaboration!
We are not able to reproduce this issue on the latest 2.4-develop branch having order without extension on the latest 2.4-develop branch by following steps:
1. Retrieve order by `\Magento\Sales\Api\OrderRepositoryInterface::get`

**AR**: Order returned successfully.

Could you please take a look?

[2020-08-27 09:39] PedroPinto2005 commented on #28298
Any update on the issue. Able to replicate on Magento EE  2.3.5-p1

[2020-08-27 09:42] TimonVS opened #29769 "Can't use fragments for `related_products`, `upsell_products` or `crosssell_products`"
### Preconditions (*)

1. Magento 2.4.0

### Steps to reproduce (*)

When trying to query `related_products`, `upsell_products` or `crosssell_products` on `ProductInterface` using a fragment `ProductCard`, the result has a `name` of `null`, and the price is 0 (for both max and min) for `upsell_products` and `crosssell_products` (the price is fine for `related_products`). When you inline the fragme

[2020-08-27 09:58] #29350 closed, assigned to nobody

[2020-08-27 10:05] madhippieqq commented on #29740
@albsa Since it were only two changed lines , I just applied the changes to Model/Sales/Total/Quote/CommonTaxCollector.php on my local machine manually, cleared cache and generation folder and retried. The error still occurs on magento 2.3.5-p2.

[2020-08-27 10:23] magento-engcom-team commented on #29075
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37115` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-27 10:34] daniDLL commented on #28298
Hi @PedroPinto2005,

In our case the origin of the issue was an encoding error in the Page Builder module. Magento gave us a patch to solve this error.

The error is in this file: `vendor/magento/module-page-builder/view/adminhtml/web/js/utils/editor.js`

Simply change this line:

`var image = (0, _jquery)("<img />").prop("id", btoa(match).replace(/\+/g, ":").replace(/\//g, "_").replace(/=/g, "-")

[2020-08-27 10:54] PedroPinto2005 commented on #28298
Thank you! We were able to fix the issue with the patch.

[2020-08-27 11:19] magento-engcom-team commented on #29678
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37116` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-27 11:27] engcom-Delta commented on #29638
Hello @noshok
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2020-08-27 11:58] mattias commented on #28966
We have the same issue here. They will come back as soon as you run bin/magento indexer:reindex manually, but after a few minutes there are products missing again.

[2020-08-27 12:32] pmarjan opened #29775 "Full Page Cache is active when Authorization header is send, but Authorization Bearer is never used"
### Problem short description
Full page cache is expected to be ignored for any GET graphQl cacheable requests that do send Authorization header.
But, this is not the case. GET graphQl requests are still cached leading to sending wrong data when customer group dependent data is expected.

### Problem long description
When GET requests are made on cacheable queries, such as "categories, products, c

[2020-08-27 12:58] Eddcapone opened #29776 "Page Builder Wysiwyg Editor Element blocks view to content area"
### Preconditions (*)

1. Enterprise 2.3.5-p2

### Steps to reproduce (*)

1. Create new page
2. Add column
3. Configure left column to take 3/12 of the space. (Right column takes rest of the space.)

![image](https://user-images.githubusercontent.com/16349349/91444691-64e88880-e875-11ea-806a-aa9ebc38301f.png)

4. Add a text field to the left column.
5. Click into the text field and select the Tab

[2020-08-27 12:59] hemendraajmera commented on #28243
@shikhamis11 any updates on issue or intermediate solution ASAP

[2020-08-27 13:00] engcom-Delta commented on #29627
Hello @mdehaan
I am not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
Could you confirm my steps are correct?

*Testing scenario:*
**Preconditions**

1. Magento 2.4
2. Admin interface language set to Dutch for the currently logged in admin.

**Steps to reproduce:**

1. Create a catalog price rule
2. Set the start date to 18-08-2020 (or today's date)
2. Save the r

[2020-08-27 13:00] VZeroCool commented on #29776
@magento give me 2.4-develop instance

[2020-08-27 13:00] magento-engcom-team commented on #29776
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-27 13:02] magento-engcom-team commented on #29776
Hi @VZeroCool, here is your [Magento instance](https://i-29776-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29776-2-4-develop.instances.magento-community.engineering/admin_e7c1](https://i-29776-2-4-develop.instances.magento-community.engineering/admin_e7c1)
Login: `e118096f` Password: `98bd0d4e0daf`
Instance will be terminated in up to 3 hours.

[2020-08-27 13:07] engcom-Delta commented on #29138
@webkul-ajaysaini, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:07] #29138 closed, assigned to engcom-Lima

[2020-08-27 13:09] engcom-Delta commented on #28980
@aveevan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:09] #28980 closed, assigned to engcom-Lima

[2020-08-27 13:11] engcom-Delta commented on #28977
@anujeetphj, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:11] #28977 closed, assigned to engcom-Lima

[2020-08-27 13:12] engcom-Delta commented on #28489
@evokul,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:12] #28489 closed, assigned to engcom-Lima

[2020-08-27 13:15] engcom-Delta commented on #27302
@lionelbui, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:15] #27302 closed, assigned to engcom-Lima

[2020-08-27 13:17] engcom-Delta commented on #27056
@SmooreMB, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:17] #27056 closed, assigned to engcom-Lima

[2020-08-27 13:18] engcom-Delta commented on #28671
@smoi, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-27 13:18] #28671 closed, assigned to engcom-Lima

[2020-08-27 13:23] engcom-Delta commented on #29197
Hello @mcfriend99
Could you provide more details for reproduce this issue?
Please add version of magento.

[2020-08-27 13:43] engcom-Delta commented on #28626
Hello @wadrajab
Could you provide more details for reproduce this issue?
Please add version of magento.
Is Class `Magento\Framework\App\ResourceConnection\Proxy` exists in youre magento?

Thank you!

[2020-08-27 13:47] cezard opened #29777 "Elastic Search 7 - Search Adapter strange bug on Magento 2.4 fresh install"
### Preconditions (*)

Installed fresh copy of latest magento version from here: https://magento.com/tech-resources/download#archive-releases and included the sample data.

PHP 7.3, MySQL 5.7.31

Link to installation: https://magento2.vali.softwareimc.dev/

### Steps to reproduce (*)

We are unable to see the Toolbar on the category page:

https://magento2.vali.softwareimc.dev/men/tops-men.html

#

[2020-08-27 13:47] engcom-Delta commented on #28637
Hello @saadfaruq
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2020-08-27 14:02] engcom-Delta commented on #28655
Hi @zhican
Could you provide more details for reproduce this issue?
Please add version of magento.

Thank you!

[2020-08-27 14:26] cpartica commented on #29775
this behavior is intentional and documented in devdocs

[2020-08-27 14:51] #29768 closed, assigned to nobody

[2020-08-27 14:53] ngtuan96lc commented on #29768
sorry, It's my mistake !
I misunderstand about dropdown Product Scope  :(

[2020-08-27 14:54] m2-assistant[bot] opened #29778 "[Issue] Add font weight heavy variable"
This issue is automatically created based on existing pull request: magento/magento2#29773: Add font weight heavy variable

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Small additional to core lib. Add more font weight for reuse

### Expected result (*)
Adding more font weight for reuse

### Actual result (*)

[2020-08-27 14:55] m2-assistant[bot] opened #29779 "[Issue] Remove space between textarea field in contact form"
This issue is automatically created based on existing pull request: magento/magento2#29771: Remove space between textarea field in contact form

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Just clean code template. Remove space between textarea in contact form

### Expected result (*)
Just clean code template. Remove space between textarea in contact form

### Actual result (*

[2020-08-27 14:56] m2-assistant[bot] opened #29780 "[Issue] Reset customer password bug. Fixed retrieving first item from Search Results"
This issue is automatically created based on existing pull request: magento/magento2#29770: Reset customer password bug. Fixed retrieving first item from Search Results

---------

This PR fixes retrieving of first item from the Search Results Items executed during forgot password processing.

### Description (*)
In the logs I have a notice:
`Message: Notice: Undefined offset: 0 in /var/www/app/ma

[2020-08-27 15:22] gwharton commented on #29777
are you using Varnish? That can cause the toolbar to go missing. There is a fix merged recently that fixed the dissapearing toolbar for me with Varnish 6.

[2020-08-27 15:29] shikhamis11 commented on #28243
Hi @hemendraajmera , the root cause of the issue is that the top level domain is missing at Magento installation url

[2020-08-27 15:29] cezard commented on #29777
We are not using Varnish - it's a standard cpanel server

[2020-08-27 15:31] shikhamis11 commented on #28243
Also can you let me know which browser you are using ?
Try with firefox as I experienced same issue with chrome but that works fine with firefox

[2020-08-27 15:41] Blatant commented on #29734
Just FYI, I beleive the issue is in the logic at lines 453 to 468 of the file `D:\wamp64\www\autoglym2.local\vendor\magento\module-reports\Model\ResourceModel\Order\Collection.php`

            case '2y':
                $startMonthDay = explode(
                    ',',
                    $this->_scopeConfig->getValue(
                        'reports/dashboard/ytd_start',

[2020-08-27 16:02] engcom-Delta commented on #28662
Hello @AJHopper
I'm not able to reproduce issue by steps you described on clean 2.4-develop and 2.3.5p-2
What payment and shipping method do you use?
The only error in the console. But no exceptions.
![Screenshot_130](https://user-images.githubusercontent.com/51681379/91466354-abe77580-e897-11ea-9e2f-2cb5409295d5.png)

[2020-08-27 16:07] engcom-Delta commented on #29450
Hello @Jeeva-Rathinam

Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2020-08-27 16:08] AJHopper commented on #28662
hey @engcom-Delta
What SKU did you use for the product? would the sku be the "Test12."?

If so then that would work as it expected, it only works for fully numeric skus that end with .

For example "12345." if it has letters in it the sku is fine.

the reason seems to be because when its handling the sku lookup it converts them to a string from a generic object, and that conversion treats the . at

[2020-08-27 16:46] engcom-Delta commented on #28662
@AJHopper
I have checked with different variations.
![Screenshot_132](https://user-images.githubusercontent.com/51681379/91470715-bc9aea00-e89d-11ea-8464-aeeaa6e9da09.png)

[2020-08-27 17:18] monikav-dckap commented on #27474
@magento I am working on this

[2020-08-27 19:49] mzenner1 commented on #21666
I can confirm 2.3.5 that this is broken on customer register/edit screens when "date of birth" is enabled.  It will not let me save the customer, saying "Please enter a valid date"

[2020-08-27 20:34] jkenneydaniel commented on #25981
I'm very sad to see this issue closed without any real/legitimate explanation as to why a breaking change was introduced in 2.3.3 without any highlight whatsoever, that the devdocs are still incorrect (even for 2.4) and the answer here is basically "oh well" without a decent explanation of a path forward.

Very. Disappointing.

[2020-08-27 20:40] #28560 closed, assigned to Usik2203

[2020-08-27 20:50] bagbarn opened #29786 "PHP 7.4 Bug"
### Preconditions (*)

1. Magento 2.3.5-p2
**Does`t reproducible on 2.4-develop**
### Steps to reproduce (*)

1. Install M2.4 on dev server using php 7.3.21
2. Change to 7.4.9 after successful M2.4 installation
3. Home page loads correctly but catalog and product pages returns "processing error"
4. All pages load correctly when reverting to php7.3.21
### Expected result (*)

1. pages to load witho

[2020-08-27 20:55] sdzhepa commented on #25602
Hello @polcarrasco

We are not able to reproduce this issue on the latest `2.4-develop` and latest release `2.4.0`
It seems the issue was already fixed in some other task or PR.

Could you please provide more details is it actual now and how to repro it on the `2.4-develop`? or we can close this issue

[2020-08-27 21:01] giordhano commented on #3280
this happens with configurable products.

![image](https://user-images.githubusercontent.com/823663/91494462-7bdfa880-e87e-11ea-92da-8af312ce5e2b.png)

Magento 2.3.5-p1

[2020-08-27 21:06] cannycookie commented on #21885
We also need this resolving,  was hopeful 2.4 would have brought some fresh updates but at present we have to drop all images before importing otherwise end up with new images duplicated, empty and set as base, small and thumb :-(
![zZ8mMZ-19H-rxdghklIosnxucBX9tptokw](https://user-images.githubusercontent.com/500822/91494830-6637a680-e8b1-11ea-884e-7782ad29f9ed.png)

[2020-08-27 21:09] sdzhepa commented on #24809
Devdocs has been updated : https://docs.magento.com/user-guide/stores/security-google-recaptcha.html

[2020-08-27 21:09] #24809 closed, assigned to sdzhepa

[2020-08-27 21:28] theloveofcode commented on #29049
Is anyone working on this?

[2020-08-28 00:03] erfanimani commented on #28966
@mattias can you reproduce this on your local development environment?

[2020-08-28 03:29] mrtuvn commented on #29776
@davemacaulay better move this to pagebuilder repo

[2020-08-28 03:44] vishaltajpara commented on #22173
Replace below file line in magento ver 2.3.2, after replace live filter working fine.

vendor/magento/module-ui/Component/Form/Element/DataType/Date.php
function convertDate

$dateObj = $this->localeDate->date(
	new \DateTime(
		$date,
		new \DateTimeZone($this->localeDate->getConfigTimezone())
	),
	$this->getLocale(),
	true
);

**Replace To**

$dateObj = $this->localeDate->date($date, $this->getL

[2020-08-28 04:17] rdudhara commented on #29777
I have also facing the same issues.

[2020-08-28 04:21] ktsour commented on #26377
I have tried your plugin but it makes the add-to-cart to stop working. I will post an issue to your repo too.

My workaround was to add the following in the .htaccess file:
Header always edit Set-Cookie ^(PHPSESSID.*)$ $1;HttpOnly;Secure;SameSite=None

I hope it helps until a permanent solution is found.

[2020-08-28 04:21] hemendraajmera commented on #28243
Okay, I am trying chrome but it not working.
 I already using a domain name instead of an IP address.

[2020-08-28 04:27] hkvega01 opened #29787 "Unable to unassign product from a category [Visual Merchandiser]"
### Preconditions (*)

1. magento 2.4 commerce edition

### Steps to reproduce (*)

1. assign a product into a category
2. click unassign in category tab to unassign product

### Expected result (*)

1. [Screenshots, logs or description]
![image](https://user-images.githubusercontent.com/4374758/91520900-11377700-e929-11ea-9d97-cbf5068702d6.png)
click unassign

### Actual result (*)

1. refresh th

[2020-08-28 05:06] Mathanagopal97 opened #29788 "Customizable Options throw undefined offset error upon updating the Type."
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Create a Simple product and assign categories.
2. Add two custom options of type Radio Button and add values (Minimum of two values).
3. Save the product.
4. View the product in the front end.
5. Make sure that the product has stock and status is In-stock.
6. Got to the product edit page.
7. Without deleting the custom opti

[2020-08-28 05:06] Mathanagopal97 commented on #29788
@magento give me 2.4-develop instance

[2020-08-28 05:06] magento-engcom-team commented on #29788
Hi @Mathanagopal97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-28 05:07] magento-engcom-team commented on #29788
Hi @Mathanagopal97, here is your [Magento instance](https://i-29788-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29788-2-4-develop.instances.magento-community.engineering/admin_730f](https://i-29788-2-4-develop.instances.magento-community.engineering/admin_730f)
Login: `32cce500` Password: `c64f16ca8b8e`
Instance will be terminated in up to 3 hours.

[2020-08-28 05:16] Mathanagopal97 commented on #29788
Issue is not reproduced. I am closing this issue.

[2020-08-28 05:16] #29788 closed, assigned to nobody

[2020-08-28 05:35] m2-assistant[bot] opened #29789 "[Issue] Drop indexer changelog tables on mview unsubscribe"
###### (i) This ticket is created automatically based on a verified GitHub issue.
{panel}
***If you are starting to work on this Jira ticket, please notify issue reporter and authors of related community pull requests (if any) that you are going to work on this issue:***
  1.  *Assign [#29789](https://github.com/magento/magento2/issues/29789) issue to yourself on Magento GitHub*
  2.  *Add comment

[2020-08-28 06:52] magento-engcom-team commented on #29778
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37190` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-28 07:13] hemendraajmera opened #29791 "Invalid form key when try to login or add to cart from any page"
### Summary (*)

I am trying to log in as customer account with details, it showing invalid form key, please refresh the page. I tried a couple of times but facing the same issue.
### Examples (*)

check form key is visible on-page.
### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as R

[2020-08-28 07:20] yesman2104 opened #29792 "Can't edit or delete description of product in Multi Store using Page Builder"
**Preconditions (*)**
1. - Magento 2.3.5p2 EE
2. - Ubuntu 19.04 server

**Steps to reproduce (*)**

- Access to edit product
- Select store view (Store A, Store B, ...)
- Clict to page builder of description, try to edit content of description using row with html
![Screenshot from 2020-08-28 14-12-06](https://user-images.githubusercontent.com/9280251/91532580-b9a10780-e938-11ea-8f2c-2c2a2fa5004f.p

[2020-08-28 09:07] hemendraajmera commented on #29791
I am using 2.3.5-p1 version

[2020-08-28 09:13] engcom-Delta commented on #27458
@magento give me 2.4-develop instance

[2020-08-28 09:13] magento-engcom-team commented on #27458
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-28 09:14] AymericJoubert commented on #29334
*As a workaround*, to unlock the `setup:upgrade` process on your development environments, you can add a log the in following class :
`\Magento\SalesSequence\Model\Builder` at line 253

The log :
`echo $this->ddlSequence->getCreateSequenceDdl($this->data['sequence_table'], $this->data['start_value']);`

This will print the query that causes the error. You can run this query manually in your databa

[2020-08-28 09:14] magento-engcom-team commented on #27458
Hi @engcom-Delta, here is your [Magento instance](https://i-27458-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27458-2-4-develop.instances.magento-community.engineering/admin_2d51](https://i-27458-2-4-develop.instances.magento-community.engineering/admin_2d51)
Login: `d6358fbd` Password: `d05b6e685384`
Instance will be terminated in up to 3 hours.

[2020-08-28 09:42] engcom-Delta commented on #29605
Closed as duplicate of [27458](https://github.com/magento/magento2/issues/27458)

[2020-08-28 09:42] #29605 closed, assigned to engcom-Delta

[2020-08-28 10:03] daancart2quote commented on #26394
Also the tax setting: `Calculation Settings > Apply Tax On > Custom price if available` is not respected.
I can't find when this issue is introduced, but I'd guess it is in 2.3.2.

[2020-08-28 10:15] sforsarvesh commented on #25209
Hi,
Has anybody found a solution ? Because recently i have faced the same issue in EE 2.3 .

[2020-08-28 10:30] MrPotatox opened #29797 ""Pending, in queue" message remain even after bulk action - update of product attributes is done"
- Summary of the issue,
After attempting to update product attributes in bulk I have a "stuck" system message of
[Task "Update attributes for 679 selected products": 0 item(s) have been scheduled for update.]
This has been in "Pending, in queue" status for about 2 weeks now.

### Preconditions
Magento ver. 2.3.5-p2, 2.4-develop
Using Magento Cloud Commerce (Valid for Magento Open Source as well)

[2020-08-28 10:32] iphigenie commented on #29522
Where is the "max-messages" in the deployment config, I cannot find it

[2020-08-28 11:45] schmengler commented on #15196
## Confirmed as well:

In `\Magento\Framework\Config\File\ConfigFilePool::getPathsByPool()`:
[code]

This is the method that returns `config.local.php` and it is not used anywhere anymore.

## However, we found a different solution:

In `install-config-mysql.php`, add the following parameter with a comma separated list of modules

[code]

[2020-08-28 11:47] magento-engcom-team commented on #27458
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37200` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-28 11:53] engcom-Delta commented on #29706
Hello @peterkeijsers
Could you provide more details for reproduce this issue?
Please add version of magento.

Thank you!

[2020-08-28 12:15] engcom-Delta commented on #28206
Hello @jitenderkamat
What version of magento are you using?
Please check `user.ini` file which overwritten the `memory_limit` constant

[2020-08-28 12:48] engcom-Delta commented on #28203
Hello @
Hello @jhouedanou @lampham2141993
Could you provide more details for reproduce this issue?
How many products do you have?
Did this issue occur after the upgrade?

Thank you!

[2020-08-28 13:19] VladimirZaets commented on #29797
@magento I am working on it

[2020-08-28 13:24] engcom-Delta commented on #28258
Hello @
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.
Do you use third-party extensions for reporting?

Thank you!

[2020-08-28 13:40] jhouedanou commented on #28203
Hello @engcom-Delta
How are you ?

Could you provide more details for reproduce this issue?

- _Go to Catalog > Products
- Select all the products
- Click on actions
- Click on update attributes
- Click on "tax class", change
- Set it to "None"_
-
I've also tried
php n98-magerun2.phar sys:cron:run consumers_runner
 and a reindex,

and also
php bin/magento cron:run

All the attributes are modified,

[2020-08-28 13:50] mattias commented on #28966
@erfanimani We're trying hard to reproduce this. Locally nothing breaks, I'm using the exact same version of elasticsearch as I do on the production server. They're using position as sorting, and I've tried changing up positions locally to see if something would break but without success. Saving products randomly doesn't help either. Really not sure at all what's causing this.

I've also tried swi

[2020-08-28 14:39] simonmarcoux opened #29800 "Mixin on mage.promptEditWithList widget from Magento_MultipleWishlist breaks the edit wishlist modal"
### Summary of the issue
After creating a mixin for the mage.promptEditWithList widget in Magento_MultipleWishlist, the edit wishlist link to open the modal in the wishlist page does not work anymore.

This post has the exact same issue with code examples: https://magento.stackexchange.com/questions/320880/multiple-wishlist-mixin-for-mage-prompteditwithlist-is-broken

### Preconditions (*)
1. Mage

[2020-08-28 14:40] engcom-Delta commented on #28317
Hello @StuartAndertonGM
Hi @webkul-ajaysaini . Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop and 2.3.5-p1.
All my indexes are seted to "Update on Save"
"Use Web Server Rewrites" seted to "Yes" by default.

[2020-08-28 14:41] engcom-Charlie commented on #28116
Hi @ishakhsuvarov we are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
Could you please take a look?
Thank you.

[2020-08-28 14:49] jissereitsma commented on #15196
@schmengler Haha, we should bundle these resources. Because I've been using `disable-modules` in my install scripts for some time. Even with a custom made function to "calculate" which modules to enable and which ones not.

[2020-08-28 15:47] bdevi opened #29801 "Elasticsearch//No Alive Nodes Found In Your cluster // Magento 2.4.0 New Error"
![2020-08-28 (2)](https://user-images.githubusercontent.com/66864122/91587223-179f1080-e974-11ea-8b35-385a062f403b.png)

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-08-28 15:48] tushhan commented on #28092
I am using Magento 2.3.5-p2 and having the same problem, I don't know what is causing this but some customers facing the same issue while others not, and this makes me think whether Magento checkout page is compatible with all browsers or not.

It has been weeks now, no solution, and many customers think to move Shopify or similar platforms because of these bugs and problems while Magento fails ma

[2020-08-28 17:02] Blatant commented on #26377
Another angle, I'm currently using this stanza in my .htaccess file. Prob best to fix within the framework tho.

	    <If "%{HTTP_USER_AGENT} !~ /(iPhone; CPU iPhone OS 1[0-2]|iPad; CPU OS 1[0-2]|iPod touch; CPU iPhone OS 1[0-2]|Macintosh; Intel Mac OS X.*Version\x2F1[0-2].*Safari|Macintosh;.*Mac OS X 10_14.* AppleWebKit.*Version\x2F1[0-3].*Safari)/i">
            Header always edit Set-Cookie (.*

[2020-08-28 17:06] Blatant commented on #27942
Yea it's a bit fiddly, the blank parent theme xml and the actual override would work. I think when I looked at the code the dropdown to set it on the CMS page is theme aware, so if you assign your page to Store 2 which is using "ChildTheme" and save when it reloads it will load your child theme specific XML for setting it, but then you have 2 identical CMS pages, one for the stores using the child

[2020-08-28 17:57] srsathish92 commented on #27569
@VladimirZaets @sdzhepa This issue is not reproducible in 2.4-develop. can you please check from your end?

[2020-08-28 22:54] xtremevision opened #29802 "No payment methods in checkout, although have 3 methods enabled. Magento 2.3.5-p2"
### Preconditions (*)

1. Magento 2.3.5-p2 (Upgraded from 2.3.0)
2. PHP 7.2.33
3. CentOS 7 x64
4. Apache 2.4.6

### Steps to reproduce (*)

1. Enable payment methods: Bank Transfer and Cash On Delivery. We also have MobilPay module installed, for credit cards. Payment methods are configured for ALL countries.
2. Add product to cart
3. Go to checkout
4. No payment methods displayed

### Expected re

[2020-08-28 22:55] xtremevision commented on #29802
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-08-28 22:55] magento-engcom-team commented on #29802
Hi @xtremevision. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-28 22:57] magento-engcom-team commented on #29802
Hi @xtremevision, here is your [Magento instance](https://i-29802-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29802-2-4-develop.instances.magento-community.engineering/admin_a4a7](https://i-29802-2-4-develop.instances.magento-community.engineering/admin_a4a7)
Login: `76fb1b69` Password: `b8f87cfc6237`
Instance will be terminated in up to 3 hours.

[2020-08-28 23:03] xtremevision commented on #29802
Placed order successfully on vanilla instance 2.4.

[2020-08-29 03:55] bdevi commented on #29801
i Have Upgrated to magento 2.4.0 but there is a problem in admin dashboard eLasticsearch has not working on cofiger it shows this massage
![2020-08-29 (2)](https://user-images.githubusercontent.com/66864122/91628034-8bbfcf80-e9d9-11ea-811b-d89ae4e059a6.png)

[2020-08-29 05:11] ajijshekh123 commented on #29787
@magento give me 2.4-develop instance

[2020-08-29 05:11] magento-engcom-team commented on #29787
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-29 05:13] magento-engcom-team commented on #29787
Hi @ajijshekh123, here is your [Magento instance](https://i-29787-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29787-2-4-develop.instances.magento-community.engineering/admin_1837](https://i-29787-2-4-develop.instances.magento-community.engineering/admin_1837)
Login: `ffcbaa98` Password: `fae1e38c08be`
Instance will be terminated in up to 3 hours.

[2020-08-29 05:31] ajijshekh123 commented on #29787
Hi @hkvega01,
Verified this issue in the latest Magento 2.4 Instance in the below steps:
1. Admin > Catalog > Categories
2. Create a new category and Assign the product then click on Save button
3. The product is assigned properly.
4. Again Reassign the product and click on save button.
5. Product is removed on the selected categories.

Working fine in the Magento 2.4 Instance.
@hkvega01 - If anyt

[2020-08-29 05:54] xeontcs opened #29803 "Magento 2.3 Varnish Cache and Sitemap issue"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Varnish Cache
3. sitemap.xml

### Steps to reproduce (*)

1. Re-Generate the sitemap.xml

### Expected result (*)

1. Get the latest version of the sitemap.xml > https://domain.tld/sitemap.xml

### Actual result (*)

1. Getting the Cached (previous) version of sitemap.xml

Tried both Refreshing and Flushing the cache.

From the Varnish log when refresh

[2020-08-29 06:06] mrtuvn commented on #29801
seem related with same problem https://github.com/magento/magento2/issues/29462
Make sure you setup properly elastic search
In your case maybe magento can't connect or see elastic service

[2020-08-29 06:08] mrtuvn commented on #29357
@bluedarter2  the guide updated https://docs.magento.com/user-guide/stores/contact-us.html#method-2-without-sample-data

[2020-08-29 06:59] xeontcs commented on #29803
I tried this in two different Magento 2.3.5-p1 installations with Varnish(Official) and million12/varnish Dockers. But the same result.

I only can fix this issue by adding ,

`sub vcl_recv {

   if (req.url ~ "^/sitemap.xml") {
      return (pass);
   }
........`

To Varnish VCL

[2020-08-29 07:30] HeiderSati opened #29805 "Magento 2.4 upgrade fails if there is data under catalog_product_entity_varchar"
### Preconditions (*)

1. Upgrading from version 2.3.5 into Version 2.4.0
2. The bug is in the upgrade script (php bin/magento setup:upgrade) throwing the error (see below)

### Steps to reproduce (*)

1. Install Magento 2.3.5 v2.3.5 first.
2. Have items already in your catalog_product_entity_varchar table (i.e. add some product attributes TEXT)
3. Upgrade into Magento 2.4.0
4. The upgrade would f

[2020-08-29 07:39] HeiderSati commented on #29805
Further into the problem details, I debugged the installation and can see the following in your upgrade code:

Under vendor/magento/module-catalog-url-rewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php

You have:

Line-67 says:

 $result = $this->moduleDataSetup->getConnection()->fetchAll($select);

This reads all details from the catalog_product_entity_varchar table, on my installation it loads

[2020-08-29 07:50] HeiderSati commented on #29805
In other words, the existing logic of:

1) Read database values,
2) Do some changes (if any)
3) Re-Insert back into the database with the function that throws an exception/error if the value is there already

Of course would fail, mainly because the ID/Keys are already in the database.

The solution is to change (3) into (Update if the value change)... please remove the Insert function at the end

[2020-08-29 08:34] dverkade opened #29806 "Indexer cronjobs flushes all category and product pages in FPC / Varnish"
### Preconditions
1. Magento 2.3.5-p1
2. Have Varnish configured as full page cache.
3. Have the Magento cronjob scheduled to run every minute.
3. Have the indexers all set to "Update on schedule"
4. Have Varnish configured to monitor / log incoming cache purge requests

### Steps to reproduce
1. Have an indexer, for instance the "Category Products" index, set to "Index required"
2. Let the cronjo

[2020-08-29 10:49] bdevi commented on #29801
hiii,
MRTUVN
ELASTICSEARCH SETUP IS PRE INSTALL AND CONFIGERED IN MY CASE
I USE CPANEL FOR INSTALLTION  MAGENTO 2.4.0 BUT IT SHOWS THAT I HAVE NO NODES  AVAILABLE IN MY CLUSTER, WHAT IS THIS **CLUSTER**  ISS
PLEASE HELP IF YOU CAN.....
THANKS

[2020-08-29 11:13] mrtuvn commented on #29801
https://devdocs.magento.com/guides/v2.4/config-guide/elasticsearch/es-overview.html
 Have u check this ? Almost case come from misconfigured . Try ping or cluster health check with corresponding your ser er type

[2020-08-29 11:36] mandarmorye commented on #29534
Also try `--elasticsearch-host='127.0.0.1' --elasticsearch-port='80'`

[2020-08-29 12:31] avinashm29 opened #29808 "Only dashboard page is open"
After login, dashboard page is opened and after you click on any button like Sales, Catalog or Stores or anyone...the requested page doesn't open how many times you click.

[2020-08-29 14:08] shikhamis11 commented on #29808
hi @avinashm29
please follow magento [issue reporting guideline](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report your issue .
also try to reproduce the issue on magento develop instance and share screenshots

[2020-08-29 14:12] shikhamis11 commented on #29802
@magento give me 2.3.5-p2 instance

[2020-08-29 14:12] magento-engcom-team commented on #29802
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-08-29 14:14] magento-engcom-team commented on #29802
Hi @shikhamis11, here is your [Magento instance](https://i-29802-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29802-2-3-5-p2.instances.magento-community.engineering/admin_7892](https://i-29802-2-3-5-p2.instances.magento-community.engineering/admin_7892)
Login: `05f24093` Password: `32bdaaf5abc1`
Instance will be terminated in up to 3 hours.

[2020-08-29 14:33] shikhamis11 commented on #29802
hi @xtremevision
I checked the mentioned issue at 2.3.5-p2 instance , the issue is not reproducible there .
![image](https://user-images.githubusercontent.com/25526037/91638984-f7815700-ea30-11ea-8087-10637da8db2a.png)

 It seems it is on your instance may be due to some customisation or 3rd party module .

[2020-08-29 14:33] #29802 closed, assigned to shikhamis11

[2020-08-29 14:40] shikhamis11 commented on #29777
hi @cezard,
can you share the details about the magento version you are using ?
it is `2.4` or something else ?

[2020-08-29 14:51] cezard commented on #29777
It's 2.4 - fresh installation, no themes no modules

[2020-08-29 15:00] gwharton commented on #29777
I see the menu bar fine on mobile and desktop.

[2020-08-29 15:26] shikhamis11 commented on #29756
closing since replated PR #29755 is already closed

[2020-08-29 15:26] #29756 closed, assigned to nobody

[2020-08-29 15:43] shikhamis11 commented on #29749
hi @davissuperman for `salesrule` table`rule_id` doesn't seems to be the `primary_key` so the you need to check for the `primary key` for the table  which is `row_id`
also github is intended for bugs in core functionalities for discussion and development related issues you can refer [Magento Stack Exchange](https://magento.stackexchange.com) & [Magento Community Forum](https://community.magento.co

[2020-08-29 15:43] #29749 closed, assigned to shikhamis11

[2020-08-29 17:10] SergioMordente opened #29809 "Don't save custom Attributes and price in quote_item Rest Api"
### Summary (*)

I don't know if it's a problem or if what I want is not possible, I put this question on StackExchange but there was no interaction.
I created a custom Attributes module in quote_item and order_item, in di.xml I declared the plugin
[code]
QuoteItemRepository.php
[code]
Estou usando para teste swagger e envio post para  /V1/carts/{quoteId}/items
[code]

I can intercept the values o

[2020-08-29 17:16] anuprasadkummali opened #29810 "Magento CE 2.3.4 Same cron jobs scheduled in bunch of 20 - 30."
Magento CE 2.3.4 Same cron jobs scheduled in bunch of 20 - 30. Causing a swarm of cron jobs in the server most going to pending state. Causing high CPU issue on server through php-fpm process.

This is my new production server, noticed after debugging high CPU issue.
### Preconditions (*)

1. Install Magento 2.3.4 CE
2.Check the corn_scheduler table

### Steps to reproduce (*)

1.
2.

### Expected

[2020-08-29 21:19] gwharton commented on #29810
This is the correct and expected behaviour. See Store->Configuration->Advanced->System->Cron (Scheduled Tasks) to define/configure how far ahead items are scheduled.

[2020-08-29 21:24] gwharton commented on #29656
I wonder if this is why when running command line apps in magento that emulate the FRONTEND AREA, that it cannot find the view.xml file in my theme, and balks trying to generate image urls (as it doesn't know any image sizes in the theme)

[2020-08-30 06:21] magentodev1 commented on #29745
Alright guys, I solved my problem simply by manually running the cron jobs and re indexing. Although I was not able to delete the The extremely headache of a module more as a virus "Yotpo" I am just glad the website is working. I'll look into the links provided and see what I can do with Yotpo. Really held me far back from putting the website into production

[2020-08-30 06:21] #29745 closed, assigned to nobody

[2020-08-30 06:28] bdevi commented on #29801
SORRY I CANT UNDERSTAND **Try ping or cluster health check elastic with corresponding your server type**
I THINK I HAVE TO MAKE NODES IN MY CLUSTER  BUT HOW ?

[2020-08-30 08:41] pmarjan commented on #28550
Hello @nrkapoor, @cpartica

upon closer inspection of the related PRs to this ticket, I noticed that there is NO new schema that is specific to the shared catalog.

For example the schema.graphqls that has been added to the CatalogPermissionsGraphQl module does only extend two queries

- categoryList
- categories

and they are both specific to the catalog.

Thus no wonder, most of the coding relat

[2020-08-30 22:07] ghost opened #29811 "Website is not indexing"
### Preconditions (*)

1. Website is not getting indexed in SERPs
2. When We submit sitemap.xml google websiter it shows 403 error.
3. When We submit Web page link google websiter it not index error.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](ht

[2020-08-30 23:04] nrkapoor commented on #28550
@pmarjan it has to also support products query.

[2020-08-31 02:28] popovdenis opened #29812 "Restricted countries are not loading on Customer Addresses on Admin"
### Preconditions (*)

1. Magento version 2.3.3
2. PHP version is 7.2.24

### Steps to reproduce (*)

1. Navigate to Admin > Stores > Configuration > General > General
2. Open Country Options tab
3. Find Allow Countries, un-check the checkbox from Use System value and select any country, for example, Australia
4. Save changes
5. Navigate to Admin > Customers > All Customers
6. Select any existing

[2020-08-31 05:07] nbhat705 opened #29813 "Magento 2.3.3 View Order not working after PayU integration."
Not able to open any orders post payu integration
     - Magento 2.3.3, Linux server (cloud)
     - Integrate payu (via composer or command line or using web wizard)
     - Go to Sales>Order(s)>View the particular  order records should be opened in view mode.

### Preconditions (*)

1. Magento 2.3.3
2. Php 7.2

### Steps to reproduce (*)

1. Download the PayuIndia plugin for magenton 2.3.3 (this w

[2020-08-31 05:29] koushikch7 commented on #29572
@ihor-sviziev its a simple code as below,
[code]

[2020-08-31 05:34] krishprakash commented on #29812
@magento give me 2.4-develop instance

[2020-08-31 05:34] magento-engcom-team commented on #29812
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-31 05:36] magento-engcom-team commented on #29812
Hi @krishprakash, here is your [Magento instance](https://i-29812-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29812-2-4-develop.instances.magento-community.engineering/admin_84a1](https://i-29812-2-4-develop.instances.magento-community.engineering/admin_84a1)
Login: `068bced0` Password: `ea21240954a4`
Instance will be terminated in up to 3 hours.

[2020-08-31 05:38] ihor-sviziev commented on #29572
@koushikch7 thank you! It would be much better to identify the issue. Just added this code sample to issue description

[2020-08-31 06:19] VZeroCool commented on #29813
@magento give me 2.4-develop instanc

[2020-08-31 06:19] VZeroCool commented on #29813
@magento give me 2.4-develop instance

[2020-08-31 06:19] magento-engcom-team commented on #29813
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-31 06:21] magento-engcom-team commented on #29813
Hi @VZeroCool, here is your [Magento instance](https://i-29813-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29813-2-4-develop.instances.magento-community.engineering/admin_6634](https://i-29813-2-4-develop.instances.magento-community.engineering/admin_6634)
Login: `58f52827` Password: `902403b86d5f`
Instance will be terminated in up to 3 hours.

[2020-08-31 06:33] krishprakash commented on #29812
Hi @popovdenis.
Not able to reproduce the issue on latest magento as mentioned steps below:

1. Go to system configuration-> Use system value -> Select country as only Australia
![image](https://user-images.githubusercontent.com/46617848/91688231-2e658300-eb7f-11ea-9a3a-0330239ee09c.png)
2. Clear caches from cache management
3. Admin -> Customer -> All Customer
4. Add New Customer
![image](https:/

[2020-08-31 06:33] #29812 closed, assigned to krishprakash

[2020-08-31 09:44] ihor-sviziev commented on #29805
Hi @HeiderSati,
This issue was already reported in https://github.com/magento/magento2/issues/29365. I’m closing this issue
Duplicates https://github.com/magento/magento2/issues/29365

[2020-08-31 09:44] #29805 closed, assigned to ihor-sviziev

[2020-08-31 09:50] cezard commented on #29777
Maybe it's something server-related, but I have no idea what it could be.

During debugging we've managed to reach the conclusion that the method getSize() on the collection returns 0, even though the count() method on the same collection returns 6 for example

[2020-08-31 09:52] gwharton commented on #29777
https://magento.stackexchange.com/questions/4036/difference-between-getsize-and-count-on-collection#:~:text=There%20is%20a%20difference.,and%20only%20override%20getSelectCountSql()%20.

[2020-08-31 09:54] krish-vivek commented on #29801
Problem in your elasticsearch configuration 'elasticsearch.yml' file,

First You have to run below command to check your elasticsearch running in your system,
**curl localhost:9200**
if above command gives result like below string
{
  "name" : "XXXX-PC",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "aK3eUvikR9O2kke16TZiDw",
  "version" : {
    "number" : "7.9.0",
    "build_flavor" : "de

[2020-08-31 10:02] engcom-Delta commented on #28203
Hello @jhouedanou
Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop.
I using RabbitMQ.
I`m run this commands as described [here](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-queue.html):

`bin/magento queue:consumers:list`
`bin/magento queue:consumers:start async.operations.all &`
Also clear cache and run cron (twice)

[2020-08-31 10:10] cezard commented on #29777
Reindexing was the first thing I attempted - it didn't fix it.

[2020-08-31 10:25] pmarjan commented on #28550
@nrkapoor

products query - done! :)

https://github.com/magento/magento2/issues/28563

[2020-08-31 10:28] magento-engcom-team commented on #23881
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37225` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-31 10:28] schmengler commented on #15196
@jissereitsma Nice, would you share it here? I guess it reads `config.php` and of course we can build our own, but I'll not be the last to come here and look for a solution :)

[2020-08-31 10:47] jackrevate commented on #29797
Having same issue with 2.4.0, upgraded from 2.3.5-p1 to 2.3.5-p2 then to 2.4.0.

It's really annoying, hoping this can be fixed asap.

[2020-08-31 10:52] jissereitsma commented on #15196
@schmengler Argh, just looked it up but I threw it out. I'm currently relying on composer replace, combined with MySQL in tmpfs, combined with ReachDigitals framework. Anyway, the function simply did an include of the original `app/etc/config.php` its `modules` section, looking through the modules and matching them by name: Including my own modules, including modules starting with `Magento_` but e

[2020-08-31 11:38] mozinomer commented on #29723
Hy @engcom-Delta.

Magento Version is 2.3 and it gets stucks at 59% of installation on the windows but worked fine on the Linux and Mac
the Value in the php.ini is more than 4GB
nope am afraid there isn't any error log it just get stucks

[2020-08-31 12:00] cezard commented on #29777
Did some more debugging - it seems that the issue starts with the _totalRecords for the collection coming up as 0 from somewhere.

The getSize on the Collection calls this method in `Magento\Framework\Data\Collection\AbstractDb`

`public function getSize()
    {
        if ($this->_totalRecords === null) {
            $sql = $this->getSelectCountSql();
            $this->_totalRecords = $this->_to

[2020-08-31 12:13] magento-engcom-team commented on #29502
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-31 12:14] magento-engcom-team commented on #29502
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37226` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-31 12:21] dev-ajaysaini opened #29816 "Checkbox is not visible to Create shipping label"
While creating shipment there is no checkbox available in Magento 2.4.0

### Preconditions (*)

1. Magento 2.4.0
2. Place order with a shipping method which have functionality to create shipping label.

### Steps to reproduce (*)

1. Place an order with simple product
2. Choose an shipping method which have feature to create shipment label.
3. Try to create shipping label

### Expected result (*)

[2020-08-31 12:33] HeiderSati commented on #29365
I reported the same problem in ticket 29805, closed due to being duplicated to this one.

I am posting my solution to the issue below whilst Magento is taking time to push another update:

->

Further into the problem details, I debugged the installation and can see the following in your upgrade code:

Under vendor/magento/module-catalog-url-rewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php

Yo

[2020-08-31 12:41] dev-ajaysaini opened #29817 "Unable to create shipping label after creating shipment."
Unable to create shipping label for already shipped order.

### Preconditions (*)

1. Magento 2.4.0
2. Choose shipping method which have feature to create shipment label.

### Steps to reproduce (*)

1. Place an order with simple product
2.Choose shipping method which have feature to create shipment label.
3. Do shipment without creating shipping label for the same order.
4. Go to Shipments and ch

[2020-08-31 12:50] IbrahimS2 commented on #26675
@magento-engcom-team It still persisting even on M2.3.5-p2, can we have this ported/merged to p3 maybe?

[2020-08-31 13:19] engcom-Delta commented on #29723
Hello @mozinomer
According to the [documentation](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements_repo-tls1-2.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=2.4%20requirements):

Magento works well on the Linux [because](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html):

But it`s possible to use [Virtu

[2020-08-31 13:19] #29723 closed, assigned to engcom-Delta

[2020-08-31 13:22] krishprakash commented on #29779
@magento give me 2.4-develop instance

[2020-08-31 13:22] magento-engcom-team commented on #29779
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-31 13:24] magento-engcom-team commented on #29779
Hi @krishprakash, here is your [Magento instance](https://i-29779-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29779-2-4-develop.instances.magento-community.engineering/admin_9ea6](https://i-29779-2-4-develop.instances.magento-community.engineering/admin_9ea6)
Login: `c7d0d7c5` Password: `56f1d1569832`
Instance will be terminated in up to 3 hours.

[2020-08-31 13:27] magento-engcom-team commented on #29779
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37229` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-31 13:34] cezard commented on #29777
I managed to track it down. This is very strange though:

Apparently the bug is in `Magento\Elasticsearch7\SearchAdapter\Adapter`

When returning the results for the search query, this is the code that returns the total :

[code]

But the `$rawResponse['hits']['total']` is not an array, it contains the value directly:

[code]

As soon as I change the total to:  `'total' => $rawResponse['hits']['to

[2020-08-31 13:36] magento-engcom-team commented on #28255
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37231` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-31 13:41] engcom-Delta commented on #29759
Hi @elbasri thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop and on 2.3.5-p2
![Peek 2020-08-31 16-36](https://user-images.githubusercontent.com/51681379/91726088-57e6d480-eba8-11ea-8eb0-71fe02df1654.gif)

Please take a look for [File systems access permissions](https://devdocs.magento.com/guides/v2.4/config-guide/prod/prod_file-sys-perms.html)

[2020-08-31 13:41] #29759 closed, assigned to engcom-Delta

[2020-08-31 13:47] vasilii-b commented on #29817
@magento give me 2.3.5-p1 instance

[2020-08-31 13:59] engcom-Delta commented on #28353
Hi @cyberbloke, try to update php memory limits in .htaccess and .user.ini files in Magento root directory from 765MB to 2G as they override system php limits.

[2020-08-31 14:24] IvanCyber opened #29818 "Problem with Klaviyo integration"
Hi all,

I tried to add Klaviyo integration in Magento ver. 2.3.5.
Once I accessed System -> Web Setup Wizard and accessed Extension Manager, I got the following infinite loop:
https://gyazo.com/c5948ac30991a432aff3efbb069db7be

I need this for setting up coupons that I will use in Klaviyo works - related to my Magento store. I was following this help article: https://help.klaviyo.com/hc/en-us/art

[2020-08-31 14:29] sidolov commented on #29747
Closed as duplicate of https://github.com/magento/magento2/issues/28803

[2020-08-31 14:29] #29747 closed, assigned to Stepa4man

[2020-08-31 14:37] IvanCyber commented on #29818
Hi all,

I cannot provide more details, since I am not the owner of the Magento account and the marketplace as well. Can that be the cause of my issue?

Thank you.

[2020-08-31 14:38] gwharton commented on #29777
You may want to update the title so the ES team will pick it up. Strange though as I am running ES7 and I dont get the issue. I wonder if there has been a change in the ES setup between versions. Good spot though, and good debugging.

[2020-08-31 15:03] andrewbess commented on #29818
Hello @IvanCyber
Could you provide information from browser dev tools, please?

Thank you in advance.

[2020-08-31 15:34] engcom-Delta commented on #28384
Hi @PivitParkour94 @darshanperpule
I am not able to reproduce this issue on the latest 2.4-develop and 2.3.5-p2 branches by provided steps.
Could you confirm my steps are correct?
**Steps to reproduce:**

1. Create site, store and store view
2. Ensure the timezone for that website config is set to Use Default
3. Assign at least one product to it
4. Create a catalog price rule, set any condition.
5

[2020-08-31 15:48] Eddcapone opened #29819 "How are we supposed to deploy changes to production with zero downtime"
### Summary (*)

Lets say you have two environments. A dev and a production. Now on dev make a change in your theme or in a module, and push the theme/module into production and execute the commands:

     php bin/magento setup:upgrade && php bin/magento setup:di:compile && php bin/magento setup:static-content:deploy de_DE en_US

Now reload the frontend a second after firing up the command and you

[2020-08-31 15:50] magento-engcom-team commented on #29786
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37243` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-31 16:28] vmasciotta commented on #7647
2.3.5-p2 here we are again...

[2020-08-31 16:39] mrtuvn commented on #29819
IMO this is more related with infastructure how to delivery code than related with magento problem
In real case process more complicated than normal deploy
zero-downtime = you can not run these commands that you posted on live system. So basically you need to have pre-production system deploy on that and apply to real live production

[2020-08-31 16:50] elbasri commented on #29759
Thank you for reply,
the problem is that magento cron save exported file with permissions 0644 (even if the export folder have 0777 permissions), is there any ressources about this?

[2020-08-31 18:23] timelam commented on #25221
The problem returned after upgrading to 2.3.5-p2. Now we're getting logged out after adding the tracking number, but it is saved to the order. I checked the file and this fix is already present. Now I'm looking for a new solution.

[2020-08-31 18:47] m2-assistant[bot] opened #29823 "[Issue] [MFTF] Added new ActionGroup for clicking AddToCart button"
This issue is automatically created based on existing pull request: magento/magento2#29820: [MFTF] Added new ActionGroup  for clicking AddToCart button

---------
Added `StorefrontClickAddToCartButtonActionGroup` for click AddToCart button

[2020-08-31 18:47] m2-assistant[bot] opened #29824 "[Issue] [MFTF] use AdminOpenCreateNewCMSPageActionGroup for navigation to create new cms page"
This issue is automatically created based on existing pull request: magento/magento2#29821: [MFTF]  use AdminOpenCreateNewCMSPageActionGroup  for navigation to create new cms page

---------
Use already defined action group `AdminOpenCreateNewCMSPageActionGroup`  for navigation to create new cms page

[2020-08-31 18:47] m2-assistant[bot] opened #29825 "[Issue] [MFTF] Add new AdminOpenIndexManagementPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29822: [MFTF]  Add new  AdminOpenIndexManagementPageActionGroup

---------
This PR add new `AdminOpenIndexManagementPageActionGroup` for opening Index Management Page

[2020-08-31 19:04] sdzhepa commented on #27569
Hello @srsathish92

Thank you for the update. Seems it was already fixed in some other pr
Closed as cannot reproduce

[2020-08-31 19:04] #27569 closed, assigned to nobody

[2020-08-31 20:46] m2-assistant[bot] opened #29838 "[Issue] [MFTF] removed redundant action group"
This issue is automatically created based on existing pull request: magento/magento2#29834: [MFTF] removed redundant action group

---------
This PR remove `AdminNavigateToPageGridActionGroup` because we have similar logic in `AdminOpenCMSPagesGridActionGroup`

[2020-08-31 20:47] m2-assistant[bot] opened #29839 "[Issue] [MFTF] Removed redundant action group"
This issue is automatically created based on existing pull request: magento/magento2#29833: [MFTF] Removed redundant action group

---------
This PR remove redundunt ActionGroup i see that name of the file is different than name action group.
We should use `app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpenCmsBlockActionGroup.xml` instead
`app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpentCms

[2020-08-31 20:48] m2-assistant[bot] opened #29840 "[Issue] [MFTF] removed redundant action group"
This issue is automatically created based on existing pull request: magento/magento2#29826: [MFTF] removed redundant action group

---------
This PR removed redundant `GoToAttributeGridPageActionGroup` we have similar `AdminOpenAttributeSetGridPageActionGroup`

[2020-08-31 20:51] m2-assistant[bot] opened #29841 "[Issue] [MFTF] add AssertStorefrontCustomerLogoutSuccessPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29836: [MFTF] add AssertStorefrontCustomerLogoutSuccessPageActionGroup

---------
This PR add new Assert ActionGroup for asserting `CustomerLogoutSuccessPage`

[2020-08-31 20:52] m2-assistant[bot] opened #29842 "[Issue] [MFTF] use action group to go to customer account"
This issue is automatically created based on existing pull request: magento/magento2#29835: [MFTF] use action group to go to customer account

---------
This PR uses `StorefrontOpenMyAccountPageActionGroup` for navigation to customer account

[2020-08-31 20:52] m2-assistant[bot] opened #29843 "[Issue] [MFTF] use ActionGroup for navigation to checkout page"
This issue is automatically created based on existing pull request: magento/magento2#29832: [MFTF] use ActionGroup for navigation to checkout page

---------
This PR use `StorefrontOpenCheckoutPageActionGroup` for navigation to CheckoutPage

[2020-08-31 20:52] m2-assistant[bot] opened #29844 "[Issue] [MFTF] add new AdminOpenCatalogSearchTermIndexPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29831: [MFTF] add new  AdminOpenCatalogSearchTermIndexPageActionGroup

---------
This PR add new `AdminOpenCatalogSearchTermIndexPageActionGroup` and use this one instead
`<amOnPage url="{{AdminCatalogSearchTermIndexPage.url}}" stepKey="openAdminCatalogSearchTermIndexPage"/>`
           ` <waitForPageLoad stepKey=

[2020-08-31 20:53] m2-assistant[bot] opened #29845 "[Issue] [MFTF] add new AdminOpenAdminThreeDSecurePageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29830: [MFTF] add new AdminOpenAdminThreeDSecurePageActionGroup

---------
This PR add `AdminOpenAdminThreeDSecurePageActionGroup` we will able to use it in future for navigation to `AdminThreeDSecurePage`

[2020-08-31 20:53] m2-assistant[bot] opened #29846 "[Issue] [MFTF] add new AdminOpenWebConfigurationPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29829: [MFTF] add new AdminOpenWebConfigurationPageActionGroup

---------
This PR add new `AdminOpenWebConfigurationPageActionGroup` and uses this one instead
` <amOnPage url="{{WebConfigurationPage.url}}" stepKey="navigateToWebConfigurationPage"/>`
      `  <waitForPageLoad stepKey="waitForPageLoad"/>`

[2020-08-31 20:53] m2-assistant[bot] opened #29847 "[Issue] [MFTF] add new AdminOpenGeneralConfigurationPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29828: [MFTF] add new  AdminOpenGeneralConfigurationPageActionGroup

---------
This PR add new `AdminOpenGeneralConfigurationPageActionGroup` and uses this one instead
`<amOnPage url="{{GeneralConfigurationPage.url}}" stepKey="goToGeneralConfig"/>`
       ` <waitForPageLoad stepKey="waitForConfigPage"/>`

[2020-08-31 20:53] m2-assistant[bot] opened #29848 "[Issue] [MFTF] add new AdminOpenConfigurationStoresPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29827: [MFTF] add new  AdminOpenConfigurationStoresPageActionGroup

---------
This PR add new `AdminOpenConfigurationStoresPageActionGroup`  and use this one instead
`<amOnPage url="{{ConfigurationStoresPage.url}}" stepKey="navigateToWYSIWYGConfigPage1"/>`
       ` <waitForPageLoad stepKey="wait1"/>`

[2020-08-31 20:57] sdzhepa commented on #29595
Closed as duplicate of https://github.com/magento/inventory/issues/3018

[2020-08-31 20:57] #29595 closed, assigned to nobody

[2020-09-01 04:46] darshanperpule commented on #28384
Hi @engcom-Delta
Did you try with multi-website and store view setup?

[2020-09-01 07:03] shigawaka commented on #23729
Issue still exists in 2.3.5 p2

[2020-09-01 07:23] IvanCyber commented on #29818
Sure @andrewbess
please check this screen. Can you please advice on this issue? https://gyazo.com/68457788e12fac4466a49d65e407ce0b

Thank YOU in advance :)

[2020-09-01 08:10] Eddcapone commented on #29819
"So basically you need to have pre-production system deploy on that and apply to real live production"

Like described in my workflow example?

[2020-09-01 08:21] oefterdal commented on #8846
We experience this bug with version 2.3.5-p1

[2020-09-01 08:36] toddhainsworth commented on #27258
Hey @Jitheesh and @sdzhepa did you find a resolution for this? I suspect based on the activity that it's reproducible in 2.3 but not 2.3 - is that correct?

[2020-09-01 08:43] clion007 opened #29849 "Can't upload product image after upgrade to magento 2.3.5-p2"
### Preconditions (*)

1. Magento version:2.3.5-p2
2. PHP version:7.1, Mysql 5.7

### Steps to reproduce (*)

1. In the page of product edit, I test upload images in backend at the tab Images and videos. I found it couldn't upload and there is no any error message in the page and log. Only alert an error widow notice that file was not uploaded, wrong file,
2. I found in the latest version of magen

[2020-09-01 10:15] engcom-Foxtrot opened #29850 "Improve Login as Customer MFTF tests."
### Summary (*)

Move the Login as Customer related MFTF tests configuration preconditions/afterconditions to a test suite mapped to the login_as_customer instead of performing the same configuration for each test.

### Examples (*)

See MFTF tests in LoginAsCustomer/Test/Mftf/Test.

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/cont

[2020-09-01 10:22] engcom-Delta commented on #29540
@brosenberger Seems like it is expected behavior for latest magento version - 2.4-develop
Feel free to create issue in [community-features](https://github.com/magento/community-features/issues) repo for further discussion
I'm closing this issue as **Cannot Reproduce** on 2.4-develop

If you'd like to update it, please reopen the issue.

[2020-09-01 10:22] #29540 closed, assigned to engcom-Delta

[2020-09-01 10:28] riconeitzel commented on #21885
Can anyone confirm this happens with API imports as well? We upgraded from 2.3.3 to 2.3.5 and noticed various images being duplicated. It seems that's related to the number oft store views. basically for every store view a new copy.

[2020-09-01 10:28] Flipmediaco commented on #28614
I can confirm Magento 2.3.5-p1 using the Gene Braintree Payment Method and standard Magento checkout remains vulnerable to these attacks.

We have had another instance of a Carding Attack since upgrading the site to 2.3.5-p1

This time the activity was shut down after around 19 requests by CloudFlare, but this is a very loose-fitting plaster so to speak.

Would be good to know resolving this is pa

[2020-09-01 10:41] ihor-sviziev commented on #29572
Hi @koushikch7,
We have confirmation that PR fixes this issue: https://github.com/magento/magento2/pull/29349#issuecomment-684757994

[2020-09-01 10:48] magento-engcom-team commented on #29581
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37264` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-01 11:08] Eddcapone opened #29851 "Unable to add dynamic block to sliders"
### Description (*)

It is not possible to select static blocks in the page builder in the widget select menu.

1. Create new CMS site
2. Add slider
3. Edit Slide 1
4. Under Content: Message Text, click on the Button "Insert Widget..."
5. Click on the Dropdown Widget-Type and look at the list

![image](https://user-images.githubusercontent.com/16349349/91842229-faa85d00-ec53-11ea-8968-c8f21513f78c

[2020-09-01 12:12] raghav111jain opened #29852 "[Magento 2.3.5 p2] Upload fails in image uploader"
### Preconditions (*)

1.magento 2.3.5 p2
2.php 7.3

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help

[2020-09-01 12:21] magento-engcom-team commented on #29568
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37277` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-01 13:24] Eddcapone opened #29853 "Not possible to create shipping rules based on category/attribute-set"
### Description (*)

We need to create shipping rules which looks at category or attribute-set.

For example, we try to make the category "t-shirts" have shipping cost X and category "shoes" shipping cost Y.

### Expected behavior (*)

You should be able to create a shipping rule based on category or attribute-set

### Benefits

You would be able to create more advanced shipping rules.

### Additi

[2020-09-01 13:47] codemastering commented on #29797
Having the same issue with 2.4.0, upgraded from 2.3.5 to 2.4.0, Thankfully, I took back up before upgrade to 2.4.0, Restored back to 2.3.5

Looking forward to any temporary fix for this issue.

Thanks

[2020-09-01 13:51] eduardoPavon commented on #28326
I have the same problem. Any update on this issue?

[2020-09-01 13:51] ajijshekh123 commented on #29852
Hello @raghav111jain,
Please add proper Steps to be reproduced, Actual result and Expected result.
Thanks.

[2020-09-01 13:58] manishgoswamig commented on #7298
I am also facing this issue unable to understand why this is being happened.

[2020-09-01 14:03] vishal13061993 commented on #15599
Facing same issue.
Please check the following screenshots:
For KSA: https://prnt.sc/u9no4r
For UAE: https://prnt.sc/u9nn8x

Now orders grid for KSA orders: https://prnt.sc/u9nlkm
@magento-engcom-team please reopen this issue

[2020-09-01 14:22] sarvang01 opened #29855 "Website Indexing Problem:"
Hello All,

I am new in this platform. My Website base is Magento 2 - Since last some days I am trying to index my website on google, but it's not going to index.

I have submitted a website in Google console and try to submit sitemap.xml but it shows a 403 error.

I couldn't identify proper solution for the same. here I am attaching the necessary screens to understand this case.

Please suggest a

[2020-09-01 14:24] engcom-Delta commented on #29786
Hi @bagbarn thank you for your report. I rechecked again as my previous instance was misconfigured. The issue is not reproducible in such cases:
- upgrade from 2.3.5-p2 to 2.4.0 - no errors on catalog page with php7.3/7.4( flow from https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html)
- install 2.4-develop with php7.3 than change php to 7.4 - no errors on catalog page
- install 2

[2020-09-01 14:53] mlaurense commented on #29505
@engcom-Alfa I am experiencing the same error, but not with the **Catalog Category Link** widget, but the **Catalog Products List** widget.

1. Open CMS page (e.g. home)
2. Add a Catalog Products List widget
3. Enter a title, choose Products Grid Template
4. Conditions: SKU is (choose any existing SKU)

Result is the error @dmcmillin is also experiencing. If you re-read his error report, he alread

[2020-09-01 14:58] vpodorozh commented on #26377
@okorshenko - so 2.4.1 is expected version with a fix?
thx!

[2020-09-01 15:24] mlaurense commented on #29505
Turns out the error is originating from the call to getImage:
```<?= $block->getImage($_item, $image)->toHtml() ?>```
Further investigation leads to a theme override of vendor/magento/module-catalog/view/frontend/templates/product/image_with_borders.phtml which was heavily modified in 2.4.0. Disabling this override fixes the problem.

[2020-09-01 15:38] m2-assistant[bot] opened #29857 "[Issue] removed redundant and clean code less"
This issue is automatically created based on existing pull request: magento/magento2#29856: removed redundant and clean code less

Clean and remove redundant code less in configurable product module
flex-direction row is initial so don't need re-declare it

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Clean and remove redundant code less in configurable product module
flex-dire

[2020-09-01 15:48] ihor-sviziev commented on #29852
@raghav111jain
please check if you have installed `fileinfo` extension, usually it goes bundled with php

[2020-09-01 17:57] gwharton opened #29859 "Minicart height not calculated correctly under certain circumstances"
### Preconditions (*)

1. 2.4.0

### Steps to reproduce (*)

1. Create 3 test products, all with 0 stock, all with backorders enabled with notify
2. Go to frontend and add 5 of each to your basket

### Expected result (*)

1. Minicart should be sized appropriately

![image](https://user-images.githubusercontent.com/30697781/91888470-4410a080-ec84-11ea-9816-500d7722aff5.png)

### Actual result (*)

[2020-09-01 18:27] ioweb-gr commented on #28207
The problem is that creating a Plugin for frontend, it will remove the limitation for every other call as well.

I just don't see why this should be enforced everywhere in the frontend on the collection level without a way to disable it for a specific query. I mean I'm selecting products via the repository based on custom search criteria for a reason, but extra search criteria is automatically inj

[2020-09-01 18:44] ajijshekh123 commented on #29859
@magento give me 2.4-develop instance

[2020-09-01 18:44] magento-engcom-team commented on #29859
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-01 18:45] magento-engcom-team commented on #29859
Hi @ajijshekh123, here is your [Magento instance](https://i-29859-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29859-2-4-develop.instances.magento-community.engineering/admin_b03b](https://i-29859-2-4-develop.instances.magento-community.engineering/admin_b03b)
Login: `27539f6b` Password: `84258787d4d1`
Instance will be terminated in up to 3 hours.

[2020-09-01 19:12] ajijshekh123 commented on #29859
Hi @gwharton,
Verified this issue in the latest Magento 2.4 Instance with the above steps to be reproduced, actual result and expected result.
**PFA:**
![Cart_Magento_Issue](https://user-images.githubusercontent.com/24711761/91895592-20b21980-ecb5-11ea-909a-c9502b1ef86f.png)

Thanks.

[2020-09-01 19:15] magento-engcom-team commented on #29859
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-01 19:15] raghav111jain commented on #29852
Thanks @ihor-sviziev its working man (fileinfo extension not installed)

[2020-09-01 19:15] #29852 closed, assigned to ihor-sviziev, ajijshekh123

[2020-09-01 19:18] magento-engcom-team commented on #29859
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37290` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-01 19:21] gwharton commented on #29859
The effect is much more pronounced if the product name is short enough so that the backorder message goes onto two lines without scrollbar and onto three lines with the scrollbar.

[2020-09-01 19:27] ajijshekh123 commented on #29851
Hi @Eddcapone,
I have verified this point in Magento 2.4 Community Instance. This is not an issue. This is a feature.
@sdzhepa -  I don't have Magento 2.4 Enterprise Instance so not able to test this issue from my end. Can you please verify in your end and update your thought. This is an issue or feature.

Thanks.

[2020-09-01 19:44] ihor-sviziev commented on #29852
I'd like to reopen this task and add ext-fileinfo to the composer.json.
Could you provide more info how we can get the same php configuration as you had?

[2020-09-01 20:06] johnorourke commented on #26377
@ktsour @Blatant if you're struggling because PHPSESSID gets set without it my PR might help: https://github.com/magento/magento2/issues/27531 - I haven't had time to make the unit tests they asked for so it got closed.

[2020-09-01 23:38] dbashyal commented on #10644
We are using 3rd party product importer and found $0 for configurable but showing the correct price for option selection. After saving one of the child products manually in admin, configurable started showing correct price of $42.95 in the frontend.

[2020-09-02 02:33] kyokorin commented on #29334
Can you give more specific steps detail sir?

[2020-09-02 03:11] popovdenis commented on #29812
Hi @krishprakash ,

Thank you for your testing and reply!
It is possible to get a patch to resolve this issue on Magento 2.3.3 version? Or focus us to files where this issue is fixed?
Our project is going Live and we don't have ability to upgrade Magento to the newest version.

[2020-09-02 03:22] ihor-sviziev commented on #29819
Hi @Eddcapone,
You have to separate build preparation and deployment itself.
More details here: https://devdocs.magento.com/guides/v2.4/config-guide/deployment/
In general it should look like this:
![](https://devdocs.magento.com/common/images/config_split-deploy_workflow.png)

For example you can look at https://github.com/jalogut/magento2-deployer-plus that supports zero downtime deployments

[2020-09-02 04:40] magento-engcom-team commented on #29857
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37308` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-02 05:32] Arul2020 commented on #5876
I'm facing the same issue in Magento 2.4.0 EE. Any solution for this?

[2020-09-02 06:02] ihor-sviziev commented on #28102
@nathanjosiah I believe we can start with checking production vs test mode and if payment method is enabled. For instance if authorize.net isn't enabled on the website - let's not add his domains at all, if it is enabled in "production" mode - let's add only production domain(s), if it's in sandbox mode - lets add only sandbox domains. All this info for sure could be provided by extensions. The sa

[2020-09-02 06:32] monikav-dckap commented on #28208
@magento give me 2.3.5.-p1-develop instance

[2020-09-02 06:33] magento-engcom-team commented on #28208
Hi @monikav-dckap. Thank you for your request. I'm working on Magento 2.3.5.-p1-develop instance for you

[2020-09-02 06:44] engcom-Charlie commented on #29017
Hi, @drc0 I think that issue is in absent validation in admin.
What do you

[2020-09-02 06:58] magento-engcom-team commented on #25199
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37309` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-02 07:21] sandy6666 commented on #29533
@magento I am working on this

[2020-09-02 07:22] sandy6666 commented on #29533
@magento add to contributors team

[2020-09-02 07:23] sandy6666 commented on #29533
@magento I am working on this

[2020-09-02 07:29] ihor-sviziev commented on #29852
This issue duplicates https://github.com/magento/magento2/issues/24332.

@raghav111jain FYI we have a pull request that solves this issue: https://github.com/magento/magento2/pull/29671, so after accepting this PR it will work even w/o fileinfo php extension.

As for now we have a workaround to install fileinfo extension.

[2020-09-02 07:47] sandy6666 commented on #29533
It is correct when it comes to multi website timezones

[2020-09-02 07:47] #29533 closed, assigned to sandy6666

[2020-09-02 07:53] wojtekn opened #29862 "Product attribute options management uses scopes inconsistently"
### Preconditions

1. Clean Magento 2.3.5-p1, 2.4-develop is installed

### Steps to reproduce

1. Get list of "color" attribute values using /rest/V1/products/attributes/color/options GET method (in default Magento installation it shows empty list what is expected) eg.:

[code]

2. add "red" color using /rest/V1/products/attributes/color/options POST method

[code]

3. Get list of "color" attribu

[2020-09-02 07:55] wojtekn commented on #29862
@magento give me 2.4-develop instance

[2020-09-02 07:55] magento-engcom-team commented on #29862
Hi @wojtekn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-02 07:56] magento-engcom-team commented on #29862
Hi @wojtekn, here is your [Magento instance](https://i-29862-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29862-2-4-develop.instances.magento-community.engineering/admin_81b3](https://i-29862-2-4-develop.instances.magento-community.engineering/admin_81b3)
Login: `556398ec` Password: `a37721e69201`
Instance will be terminated in up to 3 hours.

[2020-09-02 08:00] wojtekn commented on #29862
I reproduced issue using provided vanilla 2.4 instance.

[2020-09-02 08:10] bdevi commented on #29801
Thanks Will Inform you further

[2020-09-02 09:08] engcom-Echo commented on #29059
Hi, @victortodoran.  Thank you for your report.
Same the problem has already fixed after the merge (https://github.com/magento/magento2/pull/28902).
Discussion of the issue here (https://github.com/magento/magento2/pull/29220)

Please reopen and update if you wish to continue.
Thank you for your collaboration.

[2020-09-02 09:08] #29059 closed, assigned to nobody

[2020-09-02 09:22] #29575 closed, assigned to nobody

[2020-09-02 09:22] nomedia commented on #29575
solved by adding a plugin

[2020-09-02 10:05] Eddcapone commented on #29819
@ihor-sviziev Thank you. We are hosted on Rackspeed.

I have a few questions:

1. Stop queue workers (EE only)

Where did you read about this, it is not described in the documentation entry which you have posted. How is it done? How do I know if the queue workers are even running atm?

2. Update/Import configurations

I guess this is done by calling `php bin/magento setup:upgrade` ?
If I execute t

[2020-09-02 10:19] Eddcapone commented on #29851
Yes, it is a feature request...

[2020-09-02 10:36] ihor-sviziev commented on #29819
1. About message queue in general described in https://devdocs.magento.com/guides/v2.4/config-guide/mq/manage-message-queues.html
It is available not only in EE since magento 2.3. By default magento runs message queue consumers automatically with a cron job, but you can customize this behavior if needed.
Usually we’re killing all message queue processes just before pulling new code to production i

[2020-09-02 10:39] engcom-Delta commented on #29811
Hi @dharmesh201190 thank you for your report.
Could you add more details how to reproduce issue on Magento instance or locally?

[2020-09-02 11:03] magento-engcom-team commented on #28477
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37314` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-02 11:07] codemasternode opened #29864 "Unable to make graphql mutation, error occurs "Schema is not configured for mutations.""
### Preconditions (*)
1. Clear version of Magento 2.4 is installed
2. Magento installation is setup correctly
3. Queries for getting products and categoryList are working correctly

### Steps to reproduce (*)
1. I open Graphql Client and fill URL
2. Next, i write mutation, it's copy and paste from Magento 2.4 documentation: https://devdocs.magento.com/guides/v2.4/graphql/mutations/create-customer.

[2020-09-02 11:48] Eddcapone opened #29865 "Can't login to frontend after upgrading to 2.4.0"
### Preconditions (*)

- Shop in Developer mode
- PHP 7.4.9
- PHP Module "Sodium" is installed.
- libsodium is installed with version 1.0.18

### Steps to reproduce (*)

1. Upgrade shop from EE 2.3.5-p2 to EE 2.4.0
2. Disable Module "Magento_TwoFactorAuth" (not sure if it makes a difference, but I mention all steps I made)
3. Try to login to frontend as customer.

### Expected result (*)

1. Login

[2020-09-02 12:19] Eddcapone commented on #29865
I noticed that the array `$hasVersionMap` in the file *vendor\magento\framework\Encryption\Encryptor.php* is missing an entry which causes the bug.

So I changed it from

    /**
     * @var array map of hash versions
     */
    private $hashVersionMap = [
        self::HASH_VERSION_MD5 => 'md5',
        self::HASH_VERSION_SHA256 => 'sha256'
    ];

to

    /**
     * @var array map of hash versi

[2020-09-02 12:51] nayan88 commented on #16409
@denistrator Did you find any alternate solution for this issue?
As this issue is also present in magento 2.4.0 version.

[2020-09-02 13:02] ihor-sviziev commented on #29387
Hi @TheRealHunzik,
As we didn't get any response for a long time - we'll close this issue due to inactivity.
Feel free to write any comments or re-open this issue if this it still not resolved for you.

[2020-09-02 13:02] #29387 closed, assigned to ihor-sviziev

[2020-09-02 13:28] Eddcapone commented on #29865
I noticed that the problem disapears after changing back to PHP 7.3.21 so it must have something to do with missing support for PHP 7.4

[2020-09-02 13:59] zigojacko commented on #25659
So I am seeing that this issue is still apparent in version 2.3.5-p1 even after [countless reports stemming back a few years](https://github.com/magento/magento2/issues/18148) and reading the above, am I right in reading that this issue is also still apparent in version 2.4.0 ?

[2020-09-02 13:59] k4emic commented on #28472
@magento give me 2.3.5-p2 instance

[2020-09-02 13:59] magento-engcom-team commented on #28472
Hi @k4emic. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-09-02 14:01] magento-engcom-team commented on #28472
Hi @k4emic, here is your [Magento instance](https://i-28472-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-28472-2-3-5-p2.instances.magento-community.engineering/admin_3d2c](https://i-28472-2-3-5-p2.instances.magento-community.engineering/admin_3d2c)
Login: `fee6df65` Password: `940632d1e907`
Instance will be terminated in up to 3 hours.

[2020-09-02 14:05] lano-vargas opened #29870 "Magento 2.3.5 Review Link on click error"
### Preconditions (*)

1.Magento2.3.5
2.Have products

### Steps to reproduce (*)

1.Navigate to product page
2.clicks on the link : Be the first to review this product
<img width="623" alt="Screenshot 2020-09-02 at 15 03 59" src="https://user-images.githubusercontent.com/3495481/91993664-8fcb5480-ed2d-11ea-948e-b508e889e7f4.png">

### Expected result (*)

1. [Screenshots, logs or description]
2.

[2020-09-02 14:14] DavaGordon opened #29871 "Composer Update - EE 2.3.5 > 2.4.0 - Failed"
### Preconditions (*)

1. Composer Update 2.3.5 > 2.4.0
2. PHP 7.3.19

### Steps to reproduce (*)

Running composer update from command line seems to complain about version mismatch of PHP also incompatible version of module-paypal-on-boarding also issues with locked versions.

commands performed so far each one with the same result also tried after deleting vendor and composer.lock to see if it m

[2020-09-02 14:16] bdbosman commented on #28186
I'm having the same issue on 2.3.5-p1

[2020-09-02 14:18] k4emic commented on #28472
Not able to reproduce this on 2.3.5-p2

[2020-09-02 14:19] k4emic commented on #28472
@magento give me 2.3.5-p1 instance