[2018-01-08 14:04] deadlyw1re opened #13059 "Cart and checkout broke after upgrade to 2.2.2"
### Preconditions

1.  Magento version 2.2.2

### Steps to reproduce

1. Update from 2.1.7 to 2.2.2

### Expected result

1. Normal cart and checkout

### Actual result

1. White page on checkout and almost white page on cart

### Cart
![cart](https://user-images.githubusercontent.com/23723417/34674181-39f7cb7c-f485-11e7-8802-5007b2aa77a0.PNG)

### Checkout
[code]

[2018-01-08 14:05] winterk80 commented on #12233
Hello. Any update on this? You referenced it back to the initial ticket which created this ticket. No patch was made.

[2018-01-08 14:28] danmentzer commented on #12097
I got the same warning from upgrading from 2.2.0  to 2.2.2 via command line.
The warning comes up right when running php bin/magento setup:upgrade

[2018-01-08 14:36] ferrazzuk commented on #13059
@deadlyw1re that is not a bug. Since the 2.2.* they added strict validation to XML, the exceptions say that the node attribute "ifconfig" you are using in referenceBlock is not allowed, so really what you need to do is remove that invalid attribute.

Also ifconfig work on block creating not when referencing it.

[2018-01-08 15:00] deadlyw1re commented on #13059
@ferrazzuk Thank you, that solves the cart problem and the 2 exeptions on the elements referenceBlock.

[2018-01-08 15:47] KevinMace commented on #12097
The solution by @jzahedieh worked perfectly for me.

[2018-01-08 16:11] Brunzig commented on #11754
Can you explain how you did this? I'm having the same issue.

[2018-01-08 16:17] robin31 commented on #8546
This is fixed by #8548

[2018-01-08 16:34] Yonn-Trimoreau commented on #12828
PR done.

I was thinking of a better solution but I don't have enough time to do it: http://mydons.com/error-handler-with-requirejs/

[2018-01-08 16:52] ferrazzuk commented on #13056
@allamsettiramesh have you cleared di and appropriate caches? Also if you're using magento  > 2.2.* you will need to clear the generated folder. Also instead of overriding the full class, you could use a plugin.

[2018-01-08 16:53] lbetineli commented on #2933
Magento 2.2.2 here and the error "cannot read `is_zipcode_optional` of undefined" appeared in the checkout/cart page. Configuration was:

`"Stores > General > Default Country: Brazil"
"Stores > General > Allow Country: Brazil"
"Stores > General > Optional Zipcode: None"`

When debugging I realized that the "update" method in region.js was called twice and the "value" parameter was always "US" at s

[2018-01-08 18:00] versdivers commented on #11754
Well what happened for me what the images where getting an auto-size. But what Magento does is calculating the size in the view.xml and using that in JS filles to manually set the css to X px.

Are you using bootstrap? Or anything that resizes the images?

[2018-01-08 18:19] akilirw commented on #12708
When I updated via composer, it deleted some files from the `setup` folder. At first my error was:

<pre>$ php bin/magento
PHP Warning:  Uncaught Exception: Warning: require(/vagrant/setup/config/application.config.php): failed to open stream: No such file or directory in /vagrant/vendor/magento/framework/Console/Cli.php on line 70 in /vagrant/vendor/magento/framework/App/ErrorHandler.php:61
Stack

[2018-01-08 19:15] magento-team commented on #12393
Hi @klakovskiy. Thank you for your report.
The issue has been fixed in magento/magento2#13019 by @dverkade in 2.2-develop branch
Related commit(s):
 - 13546a71cd7169549d08546d56daca0859dc73cb

The fix will be available with the upcoming patch release.

[2018-01-08 19:15] #12393 closed, assigned to nobody

[2018-01-08 19:15] magento-team commented on #12446
Hi @wd7080. Thank you for your report.
The issue has been fixed in magento/magento2#12649 by @osrecio in 2.2-develop branch
Related commit(s):
 - 6ea1c43040a0364ee2483837256077511dc1301a

The fix will be available with the upcoming patch release.

[2018-01-08 19:15] #12446 closed, assigned to osrecio

[2018-01-08 19:15] magento-team commented on #12894
Hi @mazur-vlad. Thank you for your report.
The issue has been fixed in magento/magento2#12917 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - 4f9156625eeddfa7770d03724c93a8e04ff2531b

The fix will be available with the upcoming patch release.

[2018-01-08 19:15] #12894 closed, assigned to nobody

[2018-01-08 20:08] okorshenko commented on #9243
Hi @okorshenko. Thank you for your report.
The issue has been fixed in magento/magento2#12958 by @dverkade in 2.1-develop branch
Related commit(s):
 - abc7bc6b4f571a9131d97a732a8d0bc2a4271d5d

The fix will be available with the upcoming patch release.

[2018-01-08 20:08] okorshenko commented on #10812
Hi @s3rj1k. Thank you for your report.
The issue has been fixed in magento/magento2#12959 by @dverkade in 2.1-develop branch
Related commit(s):
 - 704960a6a1af41c95e9e1c90b11016426ab5d5b5

The fix will be available with the upcoming patch release.

[2018-01-08 20:09] juharintanen commented on #12950
I had the exact same thing.
And as Vitaliy Novakivskiy wrote in that Stack Exchange link

My url_rewrite table did have an empty request_path row for some reason. I deleted it and everything worked again.

[2018-01-08 20:14] LSERRE commented on #12950
Hi,

Yes I ended up as the same way. Thanks for your answer.

[2018-01-08 22:08] orlangur commented on #13056
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-01-08 22:08] #13056 closed, assigned to nobody

[2018-01-08 22:13] orlangur commented on #13021
`"pelago/emogrifier": "1.2.0",` is currently used, upgrade could be probably not so easy due to breaking changes.

GitHub is intended for bug reports, please use [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) for other suggestions like improvements or feature requests.

If you can test updated version, pull request would be welcomed.

How

[2018-01-08 22:13] #13021 closed, assigned to nobody

[2018-01-08 22:18] orlangur commented on #13028
@dmanners @magento-engcom-team problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository, isn't it?

[2018-01-08 22:22] orlangur commented on #13059
Hi @deadlyw1re, thanks for report, however this is correct system behavior. See https://github.com/magento/magento2/issues/11194#issuecomment-333978626 for more details.

[2018-01-08 22:22] #13059 closed, assigned to nobody

[2018-01-08 22:23] orlangur commented on #13013
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-01-08 22:23] #13013 closed, assigned to nobody

[2018-01-08 22:34] orlangur commented on #12172
Hi @versdivers,

Via Admin UI as well, however, when there is no matching attribute in new attribute set value will be (and must be) lost.

It breaks data integrity and keeps orphaned data in database.

I would recommend for your particular customized store to simply disable attribute set removal. I don't see what could be improved in core as there are already all necessary warning messages implem

[2018-01-08 22:40] orlangur commented on #12828
Removing label for re-evaluation, for me personally this issue looks definitely as must-be-fixed.

[2018-01-09 00:46] josephmcdermott commented on #9694
I agree with @jantzenw, these methods "sound necessary" due to their awful naming: `startSetup` and `endSetup`.

They should be replaced with more granular, more scarily named methods that in most cases a developer would not go near unless they really needed to.

[2018-01-09 00:50] magento-team commented on #7816
Hi @LiamFielding. Thank you for your report.
The issue has been fixed in magento/magento2#12852 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 36cac170cf32657bfd84214dde9fbfefc1e38e73

The fix will be available with the upcoming patch release.

[2018-01-09 01:28] JaBolton opened #13062 "Date Parsing Failed"
After importing products, I received the following message "One or more indexers are invalid. Make sure your Magento cron job is running.".  So I went to force the CRON job to run again.  It failed, so I ran it from CLI and it failed still.  Error message was "[Exception]
  Warning: IntlDateFormatter::parse(): Date parsing failed in /home/sites/3b/
  7/7a0dc223ba/public_html/vendor/magento/framewo

[2018-01-09 02:26] thaddeusmt commented on #11825
Magento support gave us a patch for 2.2.2, so perhaps it will be fixed in 2.2.3+

[2018-01-09 02:27] matiasnombarasco commented on #12419
I can confirm that same issue in 2.2.0

[2018-01-09 02:28] thaddeusmt commented on #12939
I'm sorry, talking with Magento support we have been having a hard time pinning down the pre-conditions to this issue. It seems to be only with the sorting by the "Name" attribute... I'll update when we have time to nail this down more. Sorry for not defining this issue more clearly before I filed it, I'll update once I have a chance to investigate more.

[2018-01-09 02:43] syed786hasan commented on #10264
Hi Dear
Awaiting your reply please

On Jan 8, 2018 9:05 AM, "Syed Hassan" <syed786hasan@gmail.com> wrote:

[2018-01-09 03:25] syed786hasan commented on #10264
Sorry

It is not a migrated version
We just completed a successful domain change recently

On Jan 8, 2018 9:05 AM, "Syed Hassan" <syed786hasan@gmail.com> wrote:

[2018-01-09 04:44] bluethink164 commented on #8892
When overriding the catalog_product_view.xml, it seems that the changes in ProductVideo are no longer applied – so the line has to be added manually:

It works for [me](http://www.ophidia.net/insane/magento2-addfotoramavideoevents-is-not-a-function/?lang=en)

`<container name="product.info.media" htmlTag="div" htmlClass="product media" after="product.info.main">
    <block class="Magento\Catalog\B

[2018-01-09 06:17] magento-engcom-team commented on #12833
@karimsamir, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-09 06:17] #12833 closed, assigned to nobody

[2018-01-09 06:31] magento-engcom-team commented on #12861
@Chiemo  thank you for your report,
But please first answer question from our last post.

[2018-01-09 06:45] magento-engcom-team commented on #13028
Hi @mayankzalavadia,
For migration-related issues please use the correct repository:
  [https://github.com/magento/data-migration-tool](https://github.com/magento/data-migration-tool)
Thank you.

[2018-01-09 06:45] #13028 closed, assigned to nobody

[2018-01-09 06:49] Chiemo commented on #12861
@magento-engcom-team: I use magento open source ce 2.2.2 version. Was that your question?

Thanx,

Chiemo

[2018-01-09 07:17] sunil-gcet commented on #13062
Hello JaBolton, can you provide site credentials. We would like to take a look ?

[2018-01-09 07:30] magento-engcom-team commented on #12865
@WSIADA, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-09 07:30] #12865 closed, assigned to nobody

[2018-01-09 07:46] alexlitvinenko commented on #12986
@hackrat, try to reproduce it on a clean magento instance (with sample data) with default settings.

[2018-01-09 07:59] magento-engcom-team commented on #12975
@danscan1712 please confirm for us the following. In the "sales_order_item" table find item_id that is equal to the order_item_id You sent in Your request (in Your case it was 50). Now look what order_id and what product_id correspond to that item_id. Then enter that order (with that order_id) in Admin and go to its shipment section. Make sure that the product with that product_id is not present i

[2018-01-09 08:09] p-bystritsky commented on #12803
Issue already fixedin 2.2-develop.

[2018-01-09 08:25] magento-engcom-team commented on #13022
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-01-09 08:26] #13022 closed, assigned to nobody

[2018-01-09 08:31] Yonn-Trimoreau commented on #12828
Can you also remove the non-issue label on the PR please?

[2018-01-09 08:51] Brunzig commented on #11754
Yes I'm using bootstrap framework for a custom theme.

[2018-01-09 08:52] magento-engcom-team commented on #13014
@jammy525 Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-09 09:02] Vikram0811 commented on #12777
@pmjcreations could you please let me know how to enable mod_version in cPanel ? I am facing the same issue with clean Magento 2.2.2 install
Thanks.

[2018-01-09 09:08] jagriti1234 commented on #12877
I am fixing this issue as per @azeemism and creating a pull request #mm18in

[2018-01-09 09:17] pmjcreations commented on #12777
Hi @Vikram0811

Go to WHM > Software > EasyApache 4 and click on the Customize button in Currently Installed Packages section.
In Apache Modules section, you can search for `mod_version` and install it

[2018-01-09 09:23] Vikram0811 commented on #12777
Hi,

It seems I do not have access to WHM panel, though I can login to cPanel. Is there any other way I can enable mod_version ?
Thanks

[2018-01-09 09:27] magento-engcom-team commented on #12999
@abancroft0  thank you for your report,
Please try to do request "PUT" and tell us what result you get:

**URL**: http://{host}/rest/V1/products/grouped_sku/links

**BODY:**
{
  "entity": {
    "sku": "grouped_sku",
    "link_type": "associated",
    "linked_product_sku": "simple_sku",
    "linked_product_type": "simple",
    "position": 1,
    "extension_attributes": {
      "qty": 0
    }
  }
}

[2018-01-09 09:29] pmjcreations commented on #12777
If you don't have access to WHM, you may not have shell access.

Try to contact your hosting provider or your system admin. Else find another hosting set-up like a VPS which will give you full root access.

[2018-01-09 09:37] wcldharamveer opened #13063 "magento 2.2 Warning: array_merge(): Argument #2 is not an array in vendor/magento/module-catalog/Helper/Product/Configuration.php on line 118"
After upgrade magento 2.1.9 to 2.2.0, I have added a product with additional_options to cart. Product is added to cart successfully but when we go to cart page it is showing  Exception Warning: array_merge(): Argument #2 is not an array in vendor/magento/module-catalog/Helper/Product/Configuration.php on line 118.

My Server Details:
1. magento Version 2.2.0
2. PHP 7
3. MYSQL 5.7.2

Error message

[2018-01-09 09:43] wcldharamveer commented on #13063
I have commented line number 118  $options = array_merge($options, $this->serializer->unserialize($addOptions->getValue())); in vendor/magento/module-catalog/Helper/Product/Configuration.php file. It is now showing cart items on cart page but the item additional options are not showing.
So kindly provide the best solution to fix it.

Thanks,
Dharmveer Rawat

[2018-01-09 10:12] iWEBproject commented on #11963
Hi klimart and Happy New Year
I just Modify both View.php in the paths you described
Result Product Page Is working
Category Page is not working
Version Of Magento is Clean 2.2.2

[2018-01-09 10:33] Lycanite commented on #12999
I'm having a similar issue with: http://{host}/rest/V1/configurable-products/{sku}/child
Calling that to associate a child product with a configurable product removes all assigned image types from the configurable product such as thumbnail.

[2018-01-09 10:41] versdivers commented on #11754
I wraped my .product.media div and added classes to it like this
Not sure if that was the trick that did it since this is a long time ago.

I use Bootstrap 4
I know it has something to do with the flex that you need to give a width or you need to change in a block or something.

`<div class="product-general-row row no-gutters"><div class="product media col-12 col-md-auto mx-auto"></div`

[2018-01-09 10:46] agata-maksymiuk commented on #11002
2.2.1 also it happens.
1. Cron selects all "pending" jobs:
`SELECT `main_table`.* FROM `cron_schedule` AS `main_table` WHERE (`status` = 'pending')`
2. Adds some new ones:
`INSERT INTO `cron_schedule` (`job_code`, `status`, `created_at`, `scheduled_at`) VALUES ('indexer_update_all_views', 'pending', '2018-01-09 10:17:06', '2018-01-09 10:20:00')`
3. Each selected record updates to "running" status

[2018-01-09 10:53] luckyduck opened #13067 "Visibility changes in Magento\Catalog?"
It seems that the visibility of certain methods was changed somewhere along the line in recent Magento 2.x releases. One example:

Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing

This broke a major part of our code, because for example the method customizeTierPrice() cannot be called in a subclass any longer.

Was this intentional? Did this happen by mistake?

The problem fo

[2018-01-09 11:19] amorcian commented on #13062
I love how you circumvented their shitty guidlines ahah

[2018-01-09 11:34] orlangur commented on #13063
So what is argument `#2` in fact?

[2018-01-09 11:38] orlangur commented on #13067
From https://github.com/magento/magento2/commit/967ee1a0ce5af580afcc48369466dbd0fd65734d it does not look like a really necessary change.

Generally extending core classes is highly discouraged.

[2018-01-09 11:46] luckyduck commented on #13067
But, isn't this the hole point when you rewrite/extend/change nearly any functionally in magento? Just for clarification: where should we draw the line. Any good guidelines what to extend and what not?

[2018-01-09 11:47] yehor-chernyshov commented on #8412
Hallo, I have "solve" this issue with using \Magento\Store\Model\App\Emulation::startEnvironmentEmulation() function before sending and stopping after.

[2018-01-09 11:52] magento-engcom-team commented on #13046
@PierreLeMaguer  thank you for your report,
Do you use any third-party theme or extension?

[2018-01-09 11:54] luckyduck commented on #13067
I see, composition over inheritance. Nevermind. But still, the private methods can be used in that case.

[2018-01-09 12:00] magento-engcom-team commented on #12861
@Chiemo thank you for your answer.
Then please specify what do you mean "b2b customer".

[2018-01-09 12:10] sudhirtricore opened #13068 "Invalid Scope or Scope id"
Invalid scope or scope id

I'm running on magento 2.2.1.

However when i tried to change the logo from Content>Configuration>Edit>Header>Logo Image.
Every time i have upload Logo image no matter what size or what format we have for logo its always end with an error = "Invalid scope or scope id".

I have also change scope and scope_id into database but every time same error was append at the end.

[2018-01-09 12:11] #13068 closed, assigned to nobody

[2018-01-09 12:12] ronnie48 opened #13069 "Invalid scope or scope id"
Invalid scope or scope id

I'm running on magento 2.2.1.

However when i tried to change the logo from Content>Configuration>Edit>Header>Logo Image.
Every time i have upload Logo image no matter what size or what format we have for logo its always end with an error = "Invalid scope or scope id".

I have also change scope and scope_id into database but every time same error was append at the end.

[2018-01-09 12:15] ronnie48 opened #13070 "Category Banner Image Can't Upload"
Category Image Can't Upload

A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

I'm running on magento 2.2.1.

Whenever i have tried to Upload category image its always give me an error like this.

"A technical problem with the server created an error. Try again to continue what you were doing. If the problem

[2018-01-09 12:19] #13069 closed, assigned to nobody

[2018-01-09 12:19] #13070 closed, assigned to nobody

[2018-01-09 12:26] RomaKis commented on #7515
Working on this.

[2018-01-09 12:27] ronnie48 opened #13071 "Invalid Scope or Scope id"
Invalid Scope or Scope id error.

**Preconditions**

1. Magento 2.2.2
2. PHP 7.1

**Steps to reproduce**

1. Navigate to Admin > Content > Configuration.
2. Edit Store theme.
3. Upload Logo from Header section.

**Expected result**

1. Header logo need to be upload.

**Actual result**

1. Invalid Scope or Scope id error.

![large](https://user-images.githubusercontent.com/24474925/34720828-3a63004

[2018-01-09 12:31] PierreLeMaguer commented on #13046
Yes, I use the module elasticsuite, version 2.3.10 [https://github.com/Smile-SA/elasticsuite](https://github.com/Smile-SA/elasticsuite)

[2018-01-09 12:34] magento-engcom-team commented on #13017
@JackNorm, thank you for your report.
We've created internal ticket(s) MAGETWO-86491 to track progress on the issue.

[2018-01-09 12:46] magento-engcom-team commented on #13067
@luckyduck, thank you for your report.
We've created internal ticket(s) MAGETWO-86493 to track progress on the issue.

[2018-01-09 12:47] sivajik34 commented on #11825
can you share me the patch

[2018-01-09 12:48] EliasZ opened #13072 "Cannot pass a different date & time format for order created_at"
### Preconditions
1.  Magento 2.2

### Steps to reproduce
1. Get an order's formatted created_at property with `Magento\Sales\Model\Order::getCreatedAtFormatted`

### Expected result
1. Be able to fully customize the date and time format

### Actual result
1. You can pass a `IntlDateFormatter` constant indicating which format to use but it is applied to both the date and time display:

[code]

As

[2018-01-09 12:54] ronnie48 opened #13074 "Category Banner Image Can't Upload"
Category Image Can't Upload

A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

**Preconditions**

1. Magento 2.2.2
2. PHP 7.1

**Steps to reproduce**

1. Navigate to admin > catalog > category.
2. Select any category.
3. Click on content and upload Category banner image.
4. Click on save.

**Expected result**

[2018-01-09 13:05] bhupeshkushwaha commented on #8843
# # #

[2018-01-09 13:08] andkirby commented on #12176
I'd confirm this issue. Just there is some difference: we are still facing this issue in shopping cart and on some other pages on front store.

[2018-01-09 13:08] Sharmilasrini95 opened #13075 "Custom Options not working when editing product on cart"
**Preconditions:**
1. Magento 2.2.1
2. PHP 7.1
3. MySQL 5.6

 **Steps to reproduce**
1. Add the product to cart which has custom options
2. After that try to edit the product from the mini cart or shopping cart.
3. Enter the qty and click update cart button.

**Expected Result**
1. The quantity should be updated with appropriate price of custom options

 **Actual result**
1. It says "Please specif

[2018-01-09 13:12] emilshamloo commented on #12095
I have installed 2.2.2 and I have this problem.
Is there any tutorial for newbies to follow?
Thansk in advane :-)

[2018-01-09 13:30] magento-engcom-team commented on #13075
@Sharmilasrini95 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-09 13:34] magento-engcom-team commented on #13074
@ronnie48 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![cat_image_0891280985](https://user-images.githubusercontent.com/31669971/34723266-9f801184-f552-11e7-8a37-2b43f19cb656.png)

[2018-01-09 13:38] magento-engcom-team commented on #13058
@superdea , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-09 13:48] ronnie48 commented on #13074
@magento-engcom-team thanks for your feedback.

As i know this issue is created on my server and same thing is works in another magento setup and also works fine in localhost.

Does anything related to server side?

[2018-01-09 14:06] amalkarmick commented on #7734
I want to add category filter in catalog search. What do I need to do ?
Anyone has any idea ?

[2018-01-09 14:07] magento-engcom-team commented on #13055
@deadlyw1re , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-09 14:46] vseager commented on #4822
Still having the problem on 2.1.11

[2018-01-09 14:46] sl02 opened #13077 "sjparkinson/static-review is abandoned"
### Preconditions
1. Magento 2.2.1

### Steps to reproduce
Upgrade to Magento 2.2.2 via composer:
1. composer require magento/product-community-edition 2.2.2 --no-update
2. composer update

### Expected result
Completion of composer update command without errors

### Actual result
Get error:
Package sjparkinson/static-review is abandoned, you should avoid using it. Use phpro/grumphp instead.

![ss

[2018-01-09 14:52] vseager commented on #4822
Update: This was fixed by...

https://github.com/magento/magento2/issues/4822#issuecomment-253877404

[2018-01-09 14:52] magento-engcom-team commented on #12981
This issue is fixed by the [pull request 12036](https://github.com/magento/magento2/pull/12036)

[2018-01-09 14:52] #12981 closed, assigned to nobody

[2018-01-09 14:54] SilvanLaroo commented on #2121
Same issue on Magento 2.1.10.

[2018-01-09 14:55] magento-engcom-team commented on #13077
@sl02 Thanks for your report. We are Closing this issue because it is a [duplicate](https://github.com/magento/magento2/issues/12989)

[2018-01-09 14:55] #13077 closed, assigned to nobody

[2018-01-09 15:06] sl02 commented on #12989
My understanding is that sjparkinson/static-review is a dev dependency not needed for production.

I too get the error when upgrading from 2.2.1 -> 2.2.2:
`Package sjparkinson/static-review is abandoned, you should avoid using it. Use phpro/grumphp instead.
`

As suggested by @orlangur , I tried removing the package
`composer remove sjparkinson/static-review`

But when I do I get
`sjparkinson/stat

[2018-01-09 15:10] abancroft0 commented on #12999
@magento-engcom-team the response is "true" both when the product link exists and when it doesn't. In both cases, the link is created and the media image types are **not** modified.

[2018-01-09 15:29] ishakhsuvarov commented on #12892
@Lez-2 Closing this issue, as solution is delivered to 2.2

[2018-01-09 15:29] #12892 closed, assigned to devamitbera

[2018-01-09 16:33] RomaKis commented on #7522
This bug isn't reproducible on 2.1-develop and 2.2-develop anymore.

[2018-01-09 17:44] Chiemo commented on #12861
- b2b customer = business customers who buys as a company  vs.
- b2c customer = private customer who buys for his own use

The shop I am working on offers products to business customers in europe. The shop is located in Germany. Accoding to EU rules a business customer let's say from France with a valid VAT-ID can buy excluding VAT.

The shop system has to check during checkout if a business custo

[2018-01-09 18:55] ArvidBaa commented on #12271
I have a similar issue, but instead of executing grunt:exec, I am executing the command
[code]
directly and I get the same type of error message:
[code]

My `/dev/tools/grunt/configs/themes.js` file include
[code]
and the file `styles.less` exist in the folder `/app/design/frontend/Vendor/Theme/web/css/`.

I stumbled across this command when I really was searching for a solution to an issue I have

[2018-01-09 19:15] magento-team commented on #7441
Hi @DariuszMaciejewski. Thank you for your report.
The issue has been fixed in magento/magento2#13011 by @wardcapp in 2.3-develop branch
Related commit(s):
 - 0d7f30903b2dd2e7fefac798e6a21d8838dd4e71

The fix will be available with the upcoming patch release.

[2018-01-09 19:15] magento-team commented on #12793
Hi @mzenner1. Thank you for your report.
The issue has been fixed in magento/magento2#12853 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 01013fa674409a0f62cc66ee2f041b76211915cb
 - b566ca72a5c3f5cf817ad9c6d0bc346bf2014556

The fix will be available with the upcoming patch release.

[2018-01-09 19:15] magento-team commented on #7543
Hi @ovsokolov. Thank you for your report.
The issue has been fixed in magento/magento2#12640 by @arnoudhgz in 2.3-develop branch
Related commit(s):
 - 07233f2d04b92f308e99fe7fc0e5c24dd21ac4e5
 - 0a6ac4c0e8890de054be722718389aabf7e3e96e
 - b6215b64d45be94ece709abbcd39021529a885b4
 - 15523e82c43708eb3105e00405486495d7a068b8

The fix will be available with the upcoming patch release.

[2018-01-09 19:23] orlangur commented on #12989
@sl02,

Yeah, it was a mistake, I even commented on this in some issues in this repository. Was moved out of `require-dev` as a quick fix for unrelated issue.

It means that you already removed it (either manually or with command).

[2018-01-09 19:30] JaBolton commented on #13062
Right,  Did a little more work on this and found that after doing the following the problems went away.  Might just have been fluke.
I re-ran the php bin/magento cron:install [--force] from the Magento 2.2 Documentation
Then manually ran php bin/magento indexer:reindex
Since then it appears that all my cron jobs have been runnning automatically and smoothly.

@sunil-gcet No you can't!
@amorcian  N

[2018-01-09 19:30] #13062 closed, assigned to nobody

[2018-01-09 19:42] dapdx opened #13078 "How is Magento in 2018?"
This might be against the rules on this forum, but hoping someone can give me an update on how Magento 2 is performing these days. I was using mid last year, but had to ditch it as it was just too buggy and each release seemed to just totally mess up our stores. Our clients got pissed, and we had to go back to 1.9

Anyway, how are the newer releases? Is this ok for a production environment now? Is

[2018-01-09 20:05] magento-team commented on #12320
Hi @gvigner. Thank you for your report.
The issue has been fixed in magento/magento2#13041 by @monaemipro in 2.2-develop branch
Related commit(s):
 - d9536c881f164cd032bc3ffe6413569dd2ea222d

The fix will be available with the upcoming patch release.

[2018-01-09 20:05] #12320 closed, assigned to dasharath-wagento

[2018-01-09 20:05] magento-team commented on #12601
Hi @wd7080. Thank you for your report.
The issue has been fixed in magento/magento2#13026 by @sanjay-wagento in 2.2-develop branch
Related commit(s):
 - 023fb1a6475cce54493f6b2f0b4277cb6a285773
 - 7727086c752862ada226106c929f1c01ccae8c7a

The fix will be available with the upcoming patch release.

[2018-01-09 20:05] #12601 closed, assigned to sanjay-wagento

[2018-01-09 20:05] magento-team commented on #10415
Hi @spyrule. Thank you for your report.
The issue has been fixed in magento/magento2#12964 by @wardcapp in 2.2-develop branch
Related commit(s):
 - 207fdb030ea15b670ee356e0fc6d64168f991dec
 - 2a23a945d0dc40a295ecf679d84c1356a8c27a1c
 - 1a77bfc9244de2537dfcddf9d1295ceca7a8bd5d

The fix will be available with the upcoming patch release.

[2018-01-09 20:05] #10415 closed, assigned to wardcapp

[2018-01-09 20:05] magento-team commented on #12209
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#12731 by @zamoroka in 2.2-develop branch
Related commit(s):
 - 30b8293b6ba86d0aba94fbb0e1a41fac154a1716

The fix will be available with the upcoming patch release.

[2018-01-09 20:05] magento-team commented on #9036
Hi @domeglic. Thank you for your report.
The issue has been fixed in magento/magento2#11369 by @denisristic in 2.2-develop branch
Related commit(s):
 - 32558577099d2cdc3dd56cf5d84f814ab3184987
 - f1bcf38e7ce0202bde7be843ba1c46d20687ab43

The fix will be available with the upcoming patch release.

[2018-01-09 20:05] #12209 closed, assigned to nobody

[2018-01-09 20:05] #9036 closed, assigned to denisristic

[2018-01-09 22:06] 4DallasC commented on #12938
OMG if only you put as much effort into resolving these bug as you do denying them, I'm sure Magento would work a lot better for all of us.
<pre>
  $field = $fieldset->addField('date', 'date', [
            'name'         => 'date',
            'label'        => __('Report Date'),
            'input_format' => 'yyyy-MM-dd',
            'date_format'  => $this->_localeDate->getDateFormatWithLongYea

[2018-01-10 00:04] executekcouk opened #13079 "Issues trying to install extensions on Magento 2"
### Preconditions

1. MAgento 2.1.7 - PHP version 7.0
2. http://nimb.ws/Tkt3fh - shows this issue when trying to add in new installation on our dev environment even though the website is fully working and all other elements work.

Errors exactly as it appears and the issue is no versions are mentioned:

Check Cron Scripts
Cron script readiness check failed. Hide detail

Error from Setup Applicatio

[2018-01-10 00:10] magento-team commented on #12320
Hi @gvigner. Thank you for your report.
The issue has been fixed in magento/magento2#13029 by @dasharath-wagento in 2.2-develop branch
Related commit(s):
 - f83956bbd221446407f94d20c4e868347952e66a
 - 294c09eb3cc0e16cb1eb711b35e05ced7aae8232

The fix will be available with the upcoming patch release.

[2018-01-10 03:59] vinayshah commented on #13063
In the previous version i.e. 2.1.x the additional options used to using serialize and unserialize additional options. But in 2.2.x the serialize and unserialize functions are deprecated.

They have created a serializer class, in that they have written json_encode() and json_decode() function. So you would need to change the code from where you add additional options.

Hope this helps!

[2018-01-10 04:34] thaddeusmt commented on #11825
[magento_2.2.2_add-to-wishlist-login-register_patch.txt](https://github.com/magento/magento2/files/1617535/magento_2.2.2_add-to-wishlist-login-register_patch.txt)

[2018-01-10 04:43] pareshpansuriya commented on #12394
Hello @twain83 can you write which string is not translated.

[2018-01-10 04:45] thaddeusmt opened #13080 "Admin Global Search for Products not working correctly"
### Preconditions

1. Magento 2.2.2
2. Log in as Admin
3. Make sure admin global search is enabled and products are indexed

### Steps to reproduce

1. Type part of a product name in Global search at top of Admin pages
2. In auto-complete, click on `"search term" in Products` option, where "search term" is your search, well, search terms
3. The Product grid will load with the "?search=search%20ter

[2018-01-10 06:06] wcldharamveer commented on #13063
I have checked code and found that magento 2.2 is using Magento\Framework\Serialize\Serializer\Json class function serialize and unserialize. Here json_encode is using for serialize and json_decode is using for unserialize data.
I was used php function serialize and unserialize for additional options creation with cart items. it was working well with magento 2.1.x but not working with magento 2.2.

[2018-01-10 06:10] magento-engcom-team commented on #12842
@lsonkar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-10 06:10] #12842 closed, assigned to nobody

[2018-01-10 06:35] rzinnatullin opened #13083 "OptionManagement.validateOption throws NoSuchEntityException for "0" option label"
### Preconditions

1. Magento 2.1.11 (and 2.2.2 I suppose)

### Steps to reproduce
1. Create a product attribute of 'dropdown' type via admin page with one option (Admin value: 0, Default Store View value: 0)
2. Programmatically delete the option using OptionManagement.delete method
[code]

### Expected result
1. The option should be delete w/o any errors

### Actual result
1. `NoSuchEntityExcepti

[2018-01-10 06:39] miteshdhaduk commented on #5405
It does not work in Magento2.2.2

[2018-01-10 06:44] magento-engcom-team commented on #12999
@abancroft0 so your issue is resolved. Do we understand you right?

[2018-01-10 06:45] magento-engcom-team commented on #13074
@ronnie48 , thanks for you update. If in local environment works without problem, yes issue is related to for server

[2018-01-10 07:02] #13074 closed, assigned to nobody

[2018-01-10 07:10] ronnie48 commented on #13074
@magento-engcom-team ,

I am getting 406 error in validate call, so what could be the issue? Issue seems on server but I am not able to figure it out so can you please let me know what could be the issue? is there any specific requirements for category image upload?

https://www.awesomescreenshot.com/image/3089483/5d71adf55651dc6bf42fe8a71695cf33

[2018-01-10 07:39] magento-engcom-team commented on #13079
@executekcouk  thank you for your report
Please provide details about how is configured the file "Cron Scripts" in your case?

[2018-01-10 07:53] magento-engcom-team commented on #13078
@dapdx The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2018-01-10 07:53] #13078 closed, assigned to nobody

[2018-01-10 07:59] executekcouk commented on #13079
Thanks for the response @magento-engcom-team - Not a developer myself so not sure if this is what you are referring to: http://nimb.ws/7qSdAj

It was set up by a developer i paid to do the website who now has done a runner!

[2018-01-10 08:32] Fredwak commented on #1619
That issue is marked as closed, but it still occurs.

only with the solution of @Tyrianad it work - but is this the correct solution?

If you create following structure:
+ _extend.less (Include file _includes.less)
+ _includes.less (include files typography/_header.less, typography/_footer.less)
+ typography
++ _header.less
++ _footer.less

The includes are made _without_ @Tyrianad solution.
The f

[2018-01-10 08:59] tdgroot opened #13087 "Missing method setIsAnchor() in \Magento\Catalog\Api\Data\CategoryInterface"
This might be an issue or it could have been designed this way. I just stumbled upon the fact that this method is missing.

### Preconditions

1. Magento 2.2.2

### Steps to reproduce

No steps, it's a missing piece in the code.

### Expected result

1. Method `\Magento\Catalog\Api\Data\CategoryInterface::setIsAnchor(bool)` exists.
2. Method `\Magento\Catalog\Api\Data\CategoryInterface::getIsAncho

[2018-01-10 09:16] bordeo opened #13088 "Changing admin Sales Orders filter after check one order will check it all"
On Admin Sales -> Orders filtering with one result and selecting one row/order result on selecting all orders.

### Preconditions
1. Magento 2.1.10 and 2.2.0
2. Log in as Admin
3. Orders must be more than 2 to test

### Steps to reproduce
1. Go to Sales > Orders
2. Filter the list using "Search by keyword" obtaining one row as result
3. Click on order checkbox to select the only one order. See "Se

[2018-01-10 09:37] rorteg commented on #6426
Confirming that this issue still exists on a fresh install of Magento 2.2.2.

[2018-01-10 09:42] visahardik commented on #8426
I have same issue with 2.1.2 and also follow last comment solution, But still getting error while save products.
Any Idea ?

[2018-01-10 09:46] dwirt commented on #12081
@rsulym Try @Userr017 solution again, but with this path:
`app/design/frontend/theme/theme/Magento_Checkout/web/template/summary/cart-items.html`

[2018-01-10 10:00] mageho commented on #12185
Same issue in Magento 2.2.2
Test with iPhone 6 device.
You can't reproduce this on a web browser.

[2018-01-10 10:05] shinesoftware opened #13089 "Store Views are not copied when I set a new store to a group of products."
### Preconditions

Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento ver. 2.1.9 - Clean setup by command line
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper

### Magento Store Configuration

The magento store has been configured a

[2018-01-10 10:10] flamboy commented on #10321
@magento-engcom-team, The same issue. Trying to create my own ui component in ui form using modifiers http://devdocs.magento.com/guides/v2.1/howdoi/customize_product.html#modifier
Got the same error, trying using undescore library fix the issue http://i.prntscr.com/_7bIGxD8SqubGdxoAdlhkw.png

[2018-01-10 10:25] mihaifaget commented on #10351
@magento-engcom-team the bug still exists in 2.2.2

[2018-01-10 10:54] flamboy commented on #10321
temporary solution add code to layout (without using mixins)
[code]

[2018-01-10 10:57] 29sunil opened #13091 "Magento admin is not able to delete page."
### Preconditions

1. We have migrated data from magento 1.9.4 to magento 2.2.2
2. Now we are facing some issues.
   A. Admin is not able to  delete page.
   B. Product is not added to minicart
   C. We have multiple store in magento2.2 . Can we delete other store from admin section.
       Earlier we try this step . After that product ,pages, static block section is not loaded.

1. delete page (

[2018-01-10 11:06] sakti-do opened #13092 "issue in magento 2 url rewrite management"
### Preconditions

1. Need to create a rewrite url for a particular category.
2. Need to redirect it to external link

### Steps to reproduce

1. got url rewrite under admin marketing tab
2. create a new url rewrite for a category as custom
3. put "catalog/category/view/id/215/" in request path
4. put "external link to target path and save

### Expected result

1. it should redirect to that given

[2018-01-10 11:17] shimouniak commented on #4362
I still have the same debug log entry in 2.2.2:

[2018-01-09 17:01:16] main.DEBUG: cache_invalidate:  {"method":"GET","ur...

[2018-01-10 11:31] chris-pook commented on #11828
This is an issue with the way PHP7.1 handles strings differently. This issue should not be closed. I have added a PR to fix the issue here: https://github.com/magento/magento2/pull/13093

[2018-01-10 11:41] magento-engcom-team commented on #13091
Hi @29sunil
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-01-10 11:42] shinesoftware opened #13094 "Custom Error Page settings"
### Preconditions

Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento ver. 2.1.9 - Clean setup by command line
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper

### Magento Store Configuration

The configuration of the magento store

[2018-01-10 11:44] 29sunil commented on #13091
Helllo,
This issue is not related to migrations work. Because we have migrate all data successfully. the issue is related to magento default issue.

Thanks

[2018-01-10 11:51] chickenland commented on #13047
Wouldn't this cause an issue whereby REDIS dies, sessions start getting stored in var/cache, REDIS comes back up and wipes everyone's baskets as their session doesn't exist anymore? (as Magento hits REDIS instead of the filesystem). I guess there could/should be some migration between the two?

[2018-01-10 12:18] magento-engcom-team commented on #13088
@bordeo, thank you for your report.
We've created internal ticket(s) MAGETWO-86557 to track progress on the issue.

[2018-01-10 12:18] ghost opened #13095 "No locale for Swedish (Finland)"
### Preconditions
1. Magento 2.1.10

### Steps to reproduce
1. Go to Stores > Configuration > General > General > Locale Options > Locale

### Expected result
1. Option found for Swedish (Finland)

### Actual result
1. No option found for Swedish (Finland)

[2018-01-10 12:20] magento-engcom-team commented on #13091
@29sunil , thank you for your response.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-10 12:20] magento-engcom-team commented on #13048
@dooblem, thank you for your report.
We've created internal ticket(s) MAGETWO-86558 to track progress on the issue.

[2018-01-10 12:30] magento-engcom-team commented on #13087
@tdgroot, thank you for your report.
We've created internal ticket(s) MAGETWO-86559 to track progress on the issue.

[2018-01-10 12:40] magento-engcom-team commented on #13079
@executekcouk,
And what extension do you want to install?

[2018-01-10 12:49] magento-engcom-team commented on #13046
@PierreLeMaguer,
Please install on your server one more instance (clear, fresh, without any custom themes, third-party extensions, etc.) and try to reproduce the issue on it, so that we can start to explore the problem from the very root.

[2018-01-10 12:50] Chiemo commented on #12861
SUCCESS!

I checked the extensions and found a shipping extension we did not install: **Temando_Shipping**. Disabling this module, deleting the contents of the pub/static folder, deploying the static conent again and refreshing the cache solved the problem. Shipping methods are now available for b2b customers with valid VAT-ID and checkout is possible.

The solution for my problem was already publ

[2018-01-10 13:02] wpalmer commented on #6221
Wouldn't this be a bug in the .gitignore file? Surely any files which are updated by composer, should not be tracked in git?

[2018-01-10 13:04] sunil-gcet commented on #13094
Hello shinesoftware, can you send the local.xml file changes here so we can have a look ?

[2018-01-10 13:04] 29sunil commented on #13091
Please check attach video for page delete error in admin section.
https://we.tl/nLrkKs25QZ

Thanks

[2018-01-10 13:05] #12861 closed, assigned to nobody

[2018-01-10 13:07] shinesoftware commented on #13094
Hi @sunil-gcet yes of course.

    <?xml version="1.0"?>

    <config>
        <skin>custom</skin>
        <report>

            <action>print</action>

            <subject>Store Debug Information</subject>

            <email_address></email_address>

            <trash>leave</trash>
        </report>
    </config>

![magento-error-custom](https://user-images.githubusercontent.com/1553035/347744

[2018-01-10 13:15] sunil-gcet commented on #13094
Thanks shinesoftware,

I just tried to reproduce the same error on one of our installation and following are the results :

![err](https://user-images.githubusercontent.com/11224869/34774645-2295556e-f636-11e7-9788-bb82857c73ab.png)

Above are the screenshot of local.xml and template inside new folder name custom, i have change text to Custom Temporarily Unavailable

You can see the desired result

[2018-01-10 13:18] wpalmer commented on #6419
In either case, surely any file which is managed via `composer install` should be added to `.gitignore`?

[2018-01-10 13:26] zaheerbadi commented on #12097
@KevinMace Can you please give us script to resolve this issue?
Thanks

[2018-01-10 13:26] orlangur commented on #13092
@sakti-do does it redirect to external link when you enter URL containing "catalog/category/view/id/215/"?

[2018-01-10 13:26] shinesoftware commented on #13094
hi again,

maybe I have understood the issue. When I execute by shell:

the maintenance mode is enabled and the error is not a 503 like in your magento but the error code is 500.

![selezione_098](https://user-images.githubusercontent.com/1553035/34775119-4f9d90cc-f612-11e7-9d77-8e93a4afb927.png)

[2018-01-10 13:33] sunil-gcet commented on #13094
Great to hear, but more to help if you look at vendor/magento/framework/App/Http.php method catchException and handleDeveloperMode

So you can see that in the case of developer mode it is supposed to send 500 response code not 503, but in production mode it gives 503

Hope it helps

[2018-01-10 13:40] sunil-gcet commented on #13089
Hi shinesoftware,

It will be time consuming job to reproduce the steps above on new server, can you provide access to location where you are facing this issue ?

[2018-01-10 13:43] shinesoftware commented on #13094
So, I don't understand why it replies with a 500 error code in production mode.

[2018-01-10 13:47] executekcouk commented on #13079
This occurs for anything i try to install via magento. In this instance it was a reindexing extension from magento marketplace.

[2018-01-10 13:52] 29sunil commented on #13091
Please check add to cart issue video in below URL.
https://we.tl/LXP0dlmh4Y

Thanks

[2018-01-10 13:59] shinesoftware commented on #13089
We cannot share the credentials for a private store, but the issue is simple to test.
- Standard Magento Setup
- Create 2 stores with 2 store views for each store.
- Set 2 languages for each store view
- Create 2 products
- Translate the description of these 2 products into the 2 different store view
- You have to add these 2 products in both stores using the "Update Attribute" tool.
- Now you hav

[2018-01-10 14:18] sakti-do commented on #13092
@orlangur no, it doesn't work, it's working, if its an internal link.

[2018-01-10 14:30] magento-engcom-team commented on #13095
@rasmuswikman, thank you for your report.
We've created internal ticket(s) MAGETWO-86566 to track progress on the issue.

[2018-01-10 14:31] Ralfi18 opened #13098 "Call to undefined method Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend::getAllOptions()"
Hello!

When migrating to Magento 2 (from magento 1.9.3) using Data Migration Tool, in the Admin/Customers i get this Error:

![screenshot-2018-1-10 http denta loc](https://user-images.githubusercontent.com/15306968/34777666-b607d550-f623-11e7-9ebd-b925ac880f70.png)

Call to undefined method Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend::getAllOptions()

Fatal error: Uncaught Error: Call

[2018-01-10 14:32] dakira commented on #1619
@Fredwak my solution works perfectly fine for me (and many others I know). I think this problem is a documentation problem on the Magento side. After more playing around (and using multiple themes) I settled on doing this **once** for every new theme before running `grunt watch` for the **first** time.

[code]

This should be part of the documentation on how to create a new theme.

[2018-01-10 14:35] Fredwak commented on #1619
oh sorry - i have missed to add the text (and not note the infos of @Tyrianad)

[2018-01-10 14:36] KevinMace commented on #12097
@zaheerbadi I've just created this gist with my solution. It might not be the most elegant solution, however it did the job :) https://gist.github.com/KevinMace/214d46b3505739120a908b6be13c8fd1

You'll need to add the console command to your di.xml

[2018-01-10 14:38] magento-engcom-team commented on #13091
@29sunil ,thank for you video. We not reproduce the issue with vanilla installation of Magento 2.2.2.

[delete_page.zip](https://github.com/magento/magento2/files/1619211/delete_page.zip)

[2018-01-10 14:49] AleksLi opened #13099 "Out of stock products is displaying in product listing."
### Preconditions

1. Magento 2.2.0
2. mysql Ver 15.1 Distrib 10.0.31-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
3. PHP 7.0.22

### Steps to reproduce

1. Check your [catalog inventory configuration](http://joxi.ru/EA4Q6vbSwEV7Lr)
2. You should have multiple attributes visible in catalog listing. [Like that.](http://joxi.ru/Grq1ygBiQ5Zajr)
3. Go to some product on Admin Panel (confi

[2018-01-10 14:50] zaheerbadi commented on #12097
Thanks @KevinMace I have checked it in DB but all value is set still not working :(

[2018-01-10 14:57] magento-engcom-team commented on #13098
@Ralfi18 For migration-related issues please use the correct repository:
https://github.com/magento/data-migration-tool
Thank you.

[2018-01-10 14:57] #13098 closed, assigned to nobody

[2018-01-10 14:58] AleksLi commented on #12817
No, I don't have any new notifications

[2018-01-10 15:13] bedroomathletics opened #13100 "Upgraded M2 2.2.1 to 2.2.2 - 'System' Issues"
Hi Guys,

Hope you can help - I am unable to add a new integration in the system admin interface. My hosts have said this is an issue with an upgrade to Magento 2.2.2 so putting it here...

### Preconditions
1. Magento Version 2.2.2
2. Community Edition
3. PHP Version 7

### Steps to reproduce
1. Log in to admin
2. 'System'
3. Under 'Extensions', click 'Integrations'

### Expected result
1. 'Add N

[2018-01-10 15:14] magento-engcom-team commented on #13003
@saurastra-developer , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-10 15:23] xmav commented on #12070
Same for products grid.
(Websites column is not visible with Single Store mode = Yes)

[2018-01-10 15:29] ishakhsuvarov commented on #11828
@chris-pook Thank you for providing the fix. Reopened while it's in the delivery process.

[2018-01-10 15:33] ruthgeridema opened #13102 "review/product/listAjax/id/{{non existent id}/"
### Preconditions
1. All magento 2 versions

### Steps to reproduce
1. Visit review/product/listAjax/id/{{non existent id}/

### Expected result
1. I would expect a 404 not found

### Actual result
https://i.gyazo.com/c0c9b0218b7a99c7148f8dab67296671.png
An exception which triggers a 503 HTTP status code

[code]

Normally a customer won't see this, but a search on Google says otherwise:
https://ww

[2018-01-10 15:39] djfordz opened #13103 "Checkout takes 30-60 seconds to complete when products above 50k and stock indexer set to update on save"
After submitting final order review to capture payment, checkout takes 30-60 seconds to complete when very large number of products exist and cataloginventory_stock is set to update on Save. We believe this is due to the amount of products being indexed at the time of payment capture to update stock. If said indexer is set to update on schedule the time is reduced by 800%

### Preconditions

1. Ma

[2018-01-10 15:40] sebfie commented on #10162
Hello, same bug here, I use one step checkout? Can it be the reason?

[2018-01-10 15:57] Yonn-Trimoreau commented on #12081
Could someone propose a pull request? That should accelerate ***a lot*** the process of getting this fix in the next release..

[2018-01-10 16:08] AirmanAJK opened #13104 "Info"
I have discovered a security issue in Magento.

Precondition - Redacted
Steps to Reproduce - Redacted
Actual Result - Redacted
Expected Result - Redacted

[2018-01-10 16:14] ihor-sviziev commented on #13104
https://magento.com/security here is link "REPORT SECURITY ISSUE"

[2018-01-10 16:17] ihor-sviziev commented on #13103
@djfordzreindex process is really slow process, so it's better to execute it in async way, using "update on schedule". So it's not an issue

[2018-01-10 16:26] djfordz commented on #13103
@ihor-sviziev

Noted

[2018-01-10 16:38] djfordz commented on #13103
@ihor-sviziev

Actually, after further pondering, I do believe this to be an issue, as it shouldn't reindex entire product base on checkout, just the products that are purchased.

I believe this to be a bug, and I don't believe this was an issue in previous versions.

[2018-01-10 16:53] AirmanAJK commented on #13104
Thank you. I've submitted a report to the link you provided.

[2018-01-10 16:54] #13104 closed, assigned to nobody

[2018-01-10 16:56] LeorentKelmendi commented on #4944
This framework, its shit.

[2018-01-10 17:28] octoxan opened #13105 "Product images won't load in developer mode"
### Preconditions
1. Magento version 2.2.1
2. PHP version 7.0

### Steps to reproduce
1. Create a custom theme, don't even overwrite any files yet
2. Switch to the theme and developer mode
3. Get errors on any page trying to get product images

### Expected result
1. It to load images and not crash

### Actual result
[code]

[2018-01-10 17:54] vesan-83 commented on #6221
Sorry guys but your comments are totally pathetic.
Did you even think that developers need to fix thousands of your bugs in files which can't be extended by plugins or rewrites? We found a custom way to apply patches on this tones of bullshit.
Nobody even tried to understand core of the problem and provide acceptable answer how to handle such problems.
It doesn't make sense to report anything.
Goo

[2018-01-10 18:00] magento-team commented on #11796
Hi @losetemp. Thank you for your report.
The issue has been fixed in magento/magento2#13081 by @punitv in 2.2-develop branch
Related commit(s):
 - 828352628c82ec94f24e11b9a0fc861d60cccf96
 - 1a407e6246ab3b5e7b2333b46364412df50f5bf7
 - c0d59a8e52bdb85b56bfa045875b48c55061e7ae
 - 6181457b10f4f442795f0ca134575378bec95e78
 - 15064d91e790dbb9ef230d4b4d05f1ae741214e3

The fix will be available with the

[2018-01-10 18:00] #11796 closed, assigned to nobody

[2018-01-10 18:00] #12828 closed, assigned to nobody

[2018-01-10 18:15] hostep commented on #6221
@vesan-83: the bug around the file `dev/tools/grunt/configs/themes.js` has been fixed in Magento 2.2.0 where you aren't supposed to overwrite that file any longer, you need to create a copy of that file and call it `dev/tools/grunt/configs/local-themes.js` and reference it from the file `grunt-config.json` which you can copy from `grunt-config.json.sample`. The problem does still exist on 2.1.x th

[2018-01-10 18:20] southerncomputer commented on #13007
I'd do:
php bin/magento -vv
(to check for obvious errors, should display none)
and check your env.php and redis/memcache settings..
maybe even flush cache and redis-cli -p 6380 flushall to boot!
restart varnish/php-fpm/nginx

[2018-01-10 18:23] wpalmer commented on #6221
Yes, and for those cases where this is needed, you can force-add the file. But as a default, it would make sense to not have a file managed by two separate systems. It would make a lot more sense to need to explicitly specify "I want to do something odd" than to have the *default* behavior be odd.

Of course, if you think it's normal enough to modify the file that it should *not* be ignored by def

[2018-01-10 18:24] southerncomputer commented on #12886
Yes! 2M products - it would require a huge sitemap set of files, but can never get there. probably should use a batch control method like product-indexing to recycle memory usage!

[2018-01-10 18:55] abancroft0 commented on #12999
@magento-engcom-team Yes, you have provided me with a work around to this issue by using "PUT" and the grouped sku, instead of "POST" and the simple sku.

[2018-01-10 19:15] gety9 commented on #1024
So right now Magento 2 has Full Name instead of Separate First and Last Names?

[2018-01-10 19:56] htmlvet opened #13106 "Transactions posting to PayPal as authorizations only, despite being set to "sale""
Going crazy over here trying to figure out what is going on. Payment method is PayPal Payments Pro. When entering a CC order it displays an error that the order did not go through and an order is not generated. Checking on the backend of paypal I can see an authorization of 0.00 but no sale. PayPal express using a paypal account works just fine. Exception.log shows no errors. Cleared cache via cpa

[2018-01-10 19:59] sooryakumar opened #13107 "installation incomplete ..50%"
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':

Module 'Magento_Directory':

Module 'Magento_AdvancedPricingImportExport':

Module 'Magento_Config':

Module 'Magento_Backend':

Module 'Magento_Theme':

Module 'Ma

[2018-01-10 20:00] orlangur commented on #13103
I don't remember such setting ever recommended for production.

[2018-01-10 20:01] sooryakumar opened #13108 "."

[2018-01-10 20:05] orlangur commented on #13083
Hi @rzinnatullin, thanks for comprehensive investigation!

Are you interested in preparing a pull request maybe? They are processed pretty fast nowadays, it would speed up fix availability for everyone and also it is easier to discuss concrete code snippet.

[2018-01-10 20:05] #13108 closed, assigned to nobody

[2018-01-10 20:07] magento-engcom-team commented on #13107
thank you for your report.
Unfortunately we can not reproduce the issue

[2018-01-10 20:07] #13107 closed, assigned to nobody

[2018-01-10 20:08] #12874 closed, assigned to nobody

[2018-01-10 20:24] NickyBass commented on #5596
Hi Guys i have edited a little bit the fix of @hostep to be 100% sure that your Customers will not see Google Analytics if they have not accepted cookies.
Unfortunately this helper doesn't work:
`$this->helper('Magento\Cookie\Helper\Cookie')->isUserNotAllowSaveCookie()`
And the result is always "true" despite you have accepted or not cookies.

An easy fix is to copy the file:
`vendor/magento/modul

[2018-01-10 20:30] magento-engcom-team commented on #13048
@dooblem, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-10 21:05] magento-team commented on #7441
Hi @DariuszMaciejewski. Thank you for your report.
The issue has been fixed in magento/magento2#12962 by @wardcapp in 2.1-develop branch
Related commit(s):
 - af6366dee9483086e17ee1abf41b4b9d8d6db307
 - a7c6f0745862e53702d6b9ddf1c78728aff36860

The fix will be available with the upcoming patch release.

[2018-01-10 21:05] magento-team commented on #10682
Hi @fouli86. Thank you for your report.
The issue has been fixed in magento/magento2#12956 by @dverkade in 2.1-develop branch
Related commit(s):
 - 85db3a0b195857541cae8ceec99420e2f977a431
 - 66d4d4ef58633b2dd2f8df4f0dc08cecdaee9f01

The fix will be available with the upcoming patch release.

[2018-01-10 22:23] orlangur commented on #13099
Hi @AleksLi, did you assure stock index was updated? Is this cache-related?

[2018-01-10 22:35] careys7 opened #13110 "Can"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-01-10 22:35] #13110 closed, assigned to nobody

[2018-01-10 22:43] careys7 opened #13111 "Can't specify --cleanup-database install param during integration test bootstrap"
### Preconditions

1. Magento 2.2.1

### Steps to reproduce

1. Try to specify an install flag that requires no value in `dev/tests/integration/install-config-mysql.php`, eg

[code]

### Expected result

1. `--cleanup-database` flag is added to setup:install command that is executed during integration test bootstrap process

### Actual result

1. Flag is filtered due to logic in [TestFramework\App

[2018-01-10 23:07] satellite1 commented on #6655
Hello,

This issue should not be flagged as closed. As this is not a fix:

In your NGINX site enabled cfg, change:

    root $MAGE_ROOT/pub;
    for
    root $MAGE_ROOT/

This issue happens on a fresh install and it more than likely has to do with the nginx.config.sample file and NGINX vhost.

A valid permanent solution is welcome.

Tested on Ubuntu 16.04 LTS LAMP using Magento 2.2.1 w/ NGINX 1.10

[2018-01-10 23:12] gilbertsohal opened #13112 "Magento CE 2.2.2 - Set Product as New From (Invalid input datetime format) Locale AU"
### Preconditions

1. Magento CE 2.2.2
2. PHP version: 7.0
3. Locale AU

### Steps to reproduce

Set Locale AU
1. Stores > Configuration >General > General > Locale Options
Set Default Country to Australia and Locale to AU
Step 1 Screenshot
https://prnt.sc/ggek4e

2. Admin > Account Settings > My Account > Account Information
Set Interface Locale to English Australia
Step 2 Screenshot
https://prnt

[2018-01-11 00:30] magento-team commented on #5129
Hi @gizmocn. Thank you for your report.
The issue has been fixed in magento/magento2#13084 by @mayankzalavadia in 2.2-develop branch
Related commit(s):
 - f36d2ce4ba1d0d7f2a2634c2794b956cc6f57877

The fix will be available with the upcoming patch release.

[2018-01-11 00:30] #5129 closed, assigned to nobody

[2018-01-11 03:04] ostappashko opened #13113 "Multiple form post submits in adminhtml form"
### Preconditions

1. Magento 2.17

### Steps to reproduce

1. Go To Admin
2. Go To Marketing->Catalog Price Rule
3. Click Add new Rule
4. Fill out Form
5. Click Save button multiple times

### Expected result

1. One record created

### Actual result

1. Multiple duplicate records created

This is happening across all forms. The one that use ui_component don't have this issue.

[2018-01-11 03:55] GraysonAstral commented on #11562
### hi, I have some question ..

I want to add extra tab at admin product form .I use modifyer pool and it works ! But I can not get input data from data provider ,here is my screen and code ...

Can you solve my problem ?
<br>

![2018-01-11 11 46 46](https://user-images.githubusercontent.com/31534427/34807788-aadcda3e-f6c5-11e7-880e-08c7beda4a6a.png)

[code]

### Product data provider :

[code]

[2018-01-11 04:53] riprod commented on #9762
Is there a solution for this? I am using NetSuite with the FarApp integration for Magento and get the error ‘you can’t create a shipment without any products’ when trying to update products

I am on Magento 2.2.2.
Php 7.0

[2018-01-11 06:00] devamitbera commented on #12892
@ishakhsuvarov ,thanks

[2018-01-11 06:21] magento-engcom-team commented on #12886
@Ctucker9233, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-11 06:21] #12886 closed, assigned to nobody

[2018-01-11 06:25] xi-ao commented on #10650
@s-hoffman Yes, I can confirm we can reproduce the issue on a 2.2.2 EE.

[2018-01-11 06:34] AleksLi commented on #13099
hi @orlangur , Magento cache is disabled and I've tried to do reindex manually `$ php bin/magento indexer:reindex`. Nothing helpes

[2018-01-11 06:40] #12999 closed, assigned to nobody

[2018-01-11 06:43] hitarthpattani commented on #12317
@lee586 I am working on this issue and I will try to resolve it ASAP. Please feel free to reach me if you have any further concern related to this issue.

[2018-01-11 06:52] hitarthpattani commented on #13099
Hello @orlangur, I think I am working on similar kind of issue which is an issue with "out of stock" swatches displays at frontend. Can you please check and confirm https://github.com/magento/magento2/issues/12317?

[2018-01-11 06:56] yesman2104 commented on #12271
Please help  me !!!!

[2018-01-11 06:59] magento-engcom-team commented on #13079
@executekcouk,
And have you tried to follow the recommendations (instructions) given under each item that didn't pass the required validation (marked with cross in the circle)

[2018-01-11 07:17] ghost opened #13114 "Multiple Custom option product save issues. Get error "Invalid Form Key. Please refresh the page."."
Edit product and add Customizable Options for that, For the multiple option(More than 55), it fires the error message"Invalid Form Key. Please refresh the page."

### Preconditions

1. Magento v2.2.2 sample_data

### Steps to reproduce

1.  Install Magento v 2.2.2 with sample_data
2. Edit any simple product Catalog -> Product
3. Add customizable options (I tried with 55 customizable options)

###

[2018-01-11 07:31] hossam-fares opened #13115 "Add support to Docker, Docker-compose and kubernetes charts"
It would be great to have an official containers ecosystem support

[2018-01-11 07:47] jyrkij commented on #12356
I'm having this exact issue in 2.2.2

[2018-01-11 07:49] bufei commented on #10821
Anyone know how to fix on AWS?
ubuntu 16.04 with apache2 php7.0.22

[2018-01-11 07:56] zaheerbadi opened #13116 "Something went wrong while saving this configuration: Warning: array_replace_recursive(): recursion detected"
### Preconditions

1.  Magento 2.2.2
2. Apache 2.4.18
3. My SQL 5.7.11
4. Wamp 3.0.4

### Steps to reproduce

1. installed fresh magento
2. try to save any configuration
3. it invalidate FPC everytime you save configuration

### Expected result

1. save configuration without any error
2. it should not invalidate FPC everytime we save configuration

### Actual result

1. https://www.screencast.com/

[2018-01-11 08:07] mak0605 opened #13117 "Swatch Attribute is not getting save while deleting a swatch row with empty admin scope text"
### Preconditions

1. Magento 2.2

### Steps to reproduce

1. Install Magento v 2.2
2. Login to admin and  Goto Store- >Attribute->Product
3. Find a attribute like color
4. Open color attribute and make it to Visual Swatch type
5. In Manage Swatches section add color swatches
6. Now Click on Add Swatch button, a row will appear just remove it without filling anything into it.
7. Click on save, you

[2018-01-11 08:21] allamsettiramesh commented on #13056
orlangur..May i know why should closed this issue.

[2018-01-11 08:26] Sylvesterx1 opened #13118 "[Magento 2.1.11] After set minimum price get error during clear basket"
# Preconditions
1.  Magento 2.1.11
2.  VPS Linux Debian 9
3. Basket cleaning error (after set minimum price order).

### Address site to check error:
- http://brandswearxv.nazwa.pl/

### Description of the problem:
- When I set the minimum order price, for example 200 euro.  and I will add products to the basket, then try to clean the basket or remove a single product receives an error.
when I tur

[2018-01-11 08:41] magento-engcom-team commented on #13118
@Sylvesterx1 Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-11 08:55] Sylvesterx1 commented on #13118
@magento-engcom-team Ticket update.

[2018-01-11 08:59] duckchip commented on #12202
Any news of this issue?

thx!

[2018-01-11 08:59] AleksLi commented on #13099
Hi @hitarthpattani, Yes #12317 is similar to this one. I couldn't find any issue like that, so that's why I created this one.
**This 2 issues are similar**

[2018-01-11 09:09] mageho commented on #12081
@magento-engcom-team Is there any progress on MAGETWO-83448?

[2018-01-11 09:14] Vikram0811 opened #13119 "Magento 2.2.2 - Error when trying to set store in Production Mode"
When trying to set the store in production mode, it throws below exception

`Something went wrong while deploying static content. `
`Command returned non-zero exit code: `/opt/cpanel/ea-php70/root/usr/bin/php -f /home/storeq/public_html/bin/magento setup:static-content:deploy -f en_US`

I could see that compilation is successful, but it gives error while deploying static content. Along with that o

[2018-01-11 09:30] p06pratibha commented on #4059
my magento ver. is 2.1.8, still same issue coming, please review this once.

[2018-01-11 09:32] sunil-gcet commented on #13089
Hello @magento-engcom-team , i would like to check this issue #MM18IN

[2018-01-11 09:40] sunil-gcet commented on #13119
Hello @Vikram0811 , i think first step should be to check var, pub and generated folders permission.. it should be writable. Also for second point you should check the mode once more i believe these type of messages come in developer mode.

[2018-01-11 09:40] magento-engcom-team commented on #13092
@sakti-do Thanks for your report. We tried to reproduce your issue on the clean instance of Magento and external redirections worked fine. Please make reindex and flush your Magento cache, that should help. And please let us know if it helped you thank you.

[2018-01-11 09:43] magento-engcom-team commented on #13100
@bedroomathletics Thanks for your report. We tried updating from 2.2.1 to 2.2.2 and we weren't able to reproduce the issue, please try to reproduce on the clean instance of magneto without any of the 3'rd party code, and let us know if you can still reproduce it, thank you.

[2018-01-11 09:46] magento-engcom-team commented on #13099
Duplicate of #12317

[2018-01-11 09:46] #13099 closed, assigned to nobody

[2018-01-11 09:48] Tristan-N commented on #11639
Are there any updates regarding this issue?

[2018-01-11 09:48] Vikram0811 commented on #13119
I guess it might be due to those attributes are not allowed when using referenceBlock. Below is my default.xml

[code]

Is the anything wrong in above xml ?

[2018-01-11 09:48] poojawebkul commented on #12828
Hello @magento-team, thanks for the notification.

[2018-01-11 09:53] AntonEvers opened #13120 "MDVA-275 code is not present in Magento 2.1-develop - 2.3-develop"
Emails from admin being sent out using default config’s email, not the specific store email

### Preconditions

1.  2.1-develop
2. 2.2-develop
3. 2.3-develop

### Steps to reproduce

1. Set store's email addresses different on store level than on default level
2. Send a credit memo email or re-send an order email

### Expected result

1. From email address is the address that is configured in the

[2018-01-11 09:56] ash0955 opened #13121 "Fatal error: Class 'Magento\Framework\App\Bootstrap' not found"
Hi ,

I am getting an error of "Fatal error: Class 'Magento\Framework\App\Bootstrap' not found" in magento 2.

The website was working fine without any issue . But now i am getting error "Fatal error: Class 'Magento\Framework\App\Bootstrap' not found in /home3/labelhfv/public_html/app/autoload.php on line 40".

Please help me to get rid of this.

[2018-01-11 09:58] wolfuma opened #13122 "Configurable products without TAX, child with TAX or reverse"
### Preconditions

1. Magento 2.2.1
2. Enable Tax zone and tax class

### Steps to reproduce

1. Add configurable product with different child products (Fe: Colour, storage, etc)
2. Enable taxable goods on configurable product
3. Create child products with different attributes.
4. Put tax class to NONE on any child product
5. Put TAX class to TAXABLE GOODS on any other child product
=> If its conf

[2018-01-11 09:59] sunil-gcet commented on #13119
@Vikram0811  you need to take move tag out of the referenceBlock, please try and let me know if it works

[2018-01-11 10:02] Vikram0811 commented on #13119
@sunil-gcet that is working as I have already tried and tested. It gives no exception when <move> tag is outside <referenceBlock>.

But I wonder why it works like this coz on my Azure server everything works like charm, only on Linus its giving this error. Also if I move this out of referenceBlock, then under which referenceBlock should I place the above move elements ?
Thanks

[2018-01-11 10:07] sunil-gcet commented on #13119
@Vikram0811  the move element is not dependent on the referenceblock, so you need to put it outside all referenceBlock, it simply set the declared block or container to another element.

Regarding your Azure server, i believe its because of version difference, are the version on both server same ?

[2018-01-11 10:11] Vikram0811 commented on #13119
Yes both servers running same versions of all PHP and Magento. I am just curious to find the depth of this issue as why it works inside referenceBlock in Azure and localhost and why it don't on Linux.

[2018-01-11 10:15] Vikram0811 commented on #13119
Set permission 777 to var. pub and generated folders. Resolved <move> element issue and finally when I set the store in production mode it says below

![production-error](https://user-images.githubusercontent.com/4048181/34820385-62410158-f6e6-11e7-995e-e0067d990d1b.png)

[2018-01-11 10:20] sunil-gcet commented on #13119
a distant thought try after increasing your memory size too, it should be more than 768M atleast

[2018-01-11 10:37] sakti-do commented on #13092
@magento-engcom-team , Thanks for your reply, I tried that, but it didn't work. Even I tried with dev mode, but didn't get any luck. Finally, I have managed that using .htaccess

[2018-01-11 10:38] bedroomathletics commented on #13100
Thanks for the update on this. This is practically a clean install - the only extension(s) we installed at this point were M2E Pro and then the Claue Magento theme?

Thanks.

[2018-01-11 10:45] Vikram0811 commented on #13119
PHP memory_limit 1G

[2018-01-11 10:51] ash0955 commented on #13121
Any Responce?

[2018-01-11 10:51] nobodypb commented on #12097
Based on the findings of @jzahedieh I wrote a MySQL query, that should insert the missing default entries.
Don't forget to backup your 'core_config_data' table first.
[code]

I also want to add that although this only gives a warning, it creates major problems because it terminates the command `php bin/magento setup:upgrade`. Therefore it isn't possible to perform an complete upgrade.

[2018-01-11 10:53] sunil-gcet commented on #13119
Can you try to run this way

1. php -dmemory_limit=10G bin/magento deploy:mode:set production --skip-compilation (skip compilation first)
2. php -dmemory_limit=10G bin/magento setup:static-content:deploy

[2018-01-11 10:59] zaheerbadi commented on #12097
@nobodypb Same issue nothing changed even after run the above query.

[2018-01-11 11:09] sunil-gcet commented on #13119
also check following link in case you have also installed the migration tool.

https://community.magento.com/t5/Technical-Issues/Can-t-enable-production-mode/m-p/54794#M1624

[2018-01-11 11:09] magento-engcom-team commented on #13119
@Vikram0811 Please check lib/internal/Magento/Framework/View/Layout/etc/body.xsd. This schema doesn't allow <move> element inside <referenceBlock> element. Try to put <move> element outside <referenceBlock name="footer_links">

[2018-01-11 11:16] Vikram0811 commented on #13119
@magento-engcom-team , you mean the below is correct
[code]

[2018-01-11 11:16] MattUnity opened #13126 "2.2.2 - Duplicating Bundle Product Removes Bundle Options From Original Product"
I can't seem to duplicate bundle products and retain their bundle options on a Vanilla 2.2.2 installation - It moves the bundle options over but doesn't appear to retain them for the original product, leaving it blank and stripping its options.

### Preconditions
1. Magento 2.2.2
2. PHP 7.0.27

### Steps to reproduce
1. Create a simple product
2. Create a bundle product, adding the aforementioned

[2018-01-11 11:31] zaheerbadi commented on #13116
Without resolve this error we can't able to move ahead as we are not able run `php bin/magento setup:upgrade` command .

[2018-01-11 11:55] divivu commented on #11639
Hi Tristan-N, this issue will be fixed on 2.3.x releases. You can check commits that related on magento 2 repo. Now I am not focus on this issue anymore.

[2018-01-11 11:56] magento-engcom-team commented on #13119
@Vikram0811 Yes this code looks fine, did it solved your problem?

[2018-01-11 11:57] emilshamloo opened #13127 "Designe is gone!"
### Preconditions

1. Magento 2.2.2, sample product is installed, new theme is installed,

### Expected result

1. Login to back-end, under Store /Configuration/ General, I expect to see "Design" tab .

### Actual result
 I should see the tab " Design", but it is not there!
![image](https://user-images.githubusercontent.com/2904897/34824587-7073aa12-f6cf-11e7-8d36-f1c37c5e9b16.png)

[2018-01-11 12:00] magento-engcom-team commented on #13127
@emilshamloo Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-11 12:00] onlinebizsoft opened #13128 "Exception log is missing backtrace"
### Preconditions

1. Magento version 2.2.x

### Steps to reproduce

1. Create any exception in the site
2. Open var/log/exception.log

### Expected result

1. We expect the exception error detail is there with FULL debug backtrace

### Actual result

1. We only get the exception error message without the backtrace so it is impossible to identifier where the issue start.

[2018-01-11 12:02] jagritijoshi commented on #13105
Hello
   Its working in my local environment.Please flush the cache and reload this page.

[2018-01-11 12:03] magento-engcom-team commented on #13121
@ash0955 thanks for the report, in order for us to help you. Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-11 12:06] staradzinau opened #13129 "Product view page design is broken, when theme is set using Store Design Schedule"
### Preconditions

1. Install Magento ver. 2.2.X with sample data
2. Install (or create) any additional theme

### Steps to reproduce

1. Go to admin panel, open **Content -> Configuration** grid, and set native **Magento Luma** theme for the whole store
2. Open **Content -> Schedule** grid and set additional theme for specific store view to display at the current moment
3. Override related produc

[2018-01-11 12:09] BarnyShergold commented on #8227
We have 2 M2 instances where we are getting this issue -

A product on the M2 instance is allocated to two websites, it has not been modified for nearly a year (the timestamps on catalog_product_entity) and was working fine on both sites. At some point recently the URL of the product has reverted to catalog/product/view/id/1083/s/..... form on ONE of the websites, on the other it is still fine. Ch

[2018-01-11 12:21] toregam11 opened #13130 "I don't see the page perfectly"
### Preconditions

1. Magento 2.1.7
2.

### Steps to reproduce

1. Go to some page

### Expected result

1. I  see the page perfectly

### Actual result

1.
![immagine](https://user-images.githubusercontent.com/35334924/34825299-33c56d78-f6d2-11e7-800b-15968d59ee80.png)

[2018-01-11 12:26] magento-engcom-team commented on #13130
@toregam11 Thanks for your report. In order for us to reproduce it, please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-11 12:27] nobodypb commented on #12097
@zaheerbadi you could try to run the following query, which creates a default value for every existing path.
[code]

In my case the missing default entries started all with path `advanced/modules_disable_output/`.
I also managed to resolve this issue by saving the config at STORES>Configuration>Advanced->Advanced prior to updating.

If none of these solutions fixes the problem for you, the cause i

[2018-01-11 12:36] magento-engcom-team commented on #13128
@onlinebizsoft Thanks for your report. With such steps, no exceptions will be logged into exception.log, but into report.log Please provide more detailed steps in order for us to reproduce the actual issue.

[2018-01-11 12:40] mritu19 opened #13131 "Multiple Configurable product Attribute and its Option not saving programatically"
Hi,

I am working on M2.2.0 and I am writing the script to import product from CSV file. For the same, I have written the code to add/create the Simple Product as well as Configurable product and have successfully able to create both products.
 But I am not able to add multiple attribute (color and material )  and its options in configurable product. I am able to add only one attribute options in

[2018-01-11 12:55] Vikram0811 commented on #13119
@magento-engcom-team, I have already resolve the issue `Element 'move': This element is not expected.` by moving the <move> node outside, but I still could not set my store to production mode. It still persists.

Thanks.

[2018-01-11 12:57] onlinebizsoft commented on #13128
@magento-engcom-team well this is correct with every exception. And in my exception log file, we only get something like this

[2018-01-11 09:29:22] main.CRITICAL: Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "1986" already exists. {"exception":"[object] (Exception(code: 0): Item (Magento\\Catalog\\Model\\Product\\Interceptor) with the same ID \"1986\" already exists. at /home

[2018-01-11 13:09] worla opened #13135 "Magento 2.2.1 Readiness Check, Cron Scripts, Cloudways"
I have installed Magento 2.2.1 on my Cloudways server. While trying to install an extension in the extension manager. This is what I get

Cron script readiness check failed.

Error from Setup Application Cron Script: Cron job has not been configured yet

### Preconditions

Cloudways automatic installer, Magento 2.2.1 with Varnish

1.  Magento 2.2.1, PHP 7.0,  MySQL 5.6

### Steps to reproduce

1.

[2018-01-11 13:10] timbaker1991 commented on #3280
Using Magento 2.2.x there is no option for "Customer Data Lifetime", only "Online Minutes Interval". Is this something that can only be set in 2.3.x?

[2018-01-11 13:17] Tantuss opened #13136 "Error in vendor/magento/module-shipping/Model/Config/Source/Allmethods.php - public function toOptionArray"
### Preconditions

Magento 2.2.2 but also 2.2.1

### Steps to reproduce

This code is used by an external extension, but this should just work.
See also: https://github.com/magmodules/magento2-channable/issues/28
But this is actually not the extensions bug, it is a bug in Magento 2.2 code.
See below my explanation.
I have no idea where else this is used in Magento, but if it is, there should be al

[2018-01-11 13:19] keywoker commented on #12655
@ferrazzuk Hello, Can you add code of your plugin or link ?

[2018-01-11 13:31] Tantuss commented on #13136
To make it more complete..
If you look here:
vendor/magento/module-usps/Model/Carrier.php

Line 1148: public function getAllowedMethods()

You see that the return of this function is an array.

So the error is a logical result.

[2018-01-11 13:38] magento-engcom-team commented on #13117
@mak0605, thank you for your report.
We've created internal ticket(s) MAGETWO-86644 to track progress on the issue.

[2018-01-11 13:39] magento-engcom-team commented on #13071
@ronnie48 Thanks for your report. In order for us to reproduce the issue, please clarify the steps, screenshots would be useful too! Thank you

[2018-01-11 13:41] ArvidBaa commented on #12271
@yesman2104: as omiroshnichenko was asking, are you sure the file exist under path from config? Have you also updated `/dev/tools/grunt/configs/themes.js` with the theme you are developing?

[2018-01-11 13:42] magento-engcom-team commented on #13092
@sakti-do Thanks for clarifying that, also please let us know if the problem is solved for you. Thank you.

[2018-01-11 13:43] omiroshnichenko commented on #12271
@yesman2104 Also, can you try to run directly bin/magento command and show result

[2018-01-11 13:47] ihor-sviziev commented on #13127
It was moved.
http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/theme-apply.html

[2018-01-11 13:48] sudhirtricore commented on #13071
@magento-engcom-team

Steps to reproduce

1. Navigate to Admin > Content > Configuration.
2. Edit Store theme.
3. Upload Logo from Header section and hit save button.
4. After page refresh i got this Invalid scope or scope id error.

[2018-01-11 13:49] ihor-sviziev commented on #13115
@hossam-fares we're using Magento with docker and docker compose. What would you like to have/see?

[2018-01-11 13:50] ronnie48 commented on #13071
@magento-engcom-team

Steps to reproduce

Navigate to Admin > Content > Configuration.
Edit Store theme.
Upload Logo from Header section and hit save button.
After page refresh i got this Invalid scope or scope id error.

[2018-01-11 13:53] msieprawski commented on #12802
Any updates on this one?

[2018-01-11 13:55] magento-engcom-team commented on #13100
@bedroomathletics We weren't able to reproduce on the clean instance of Magento, seems like it's a problem with the M2E Pro. Or another 3'rd party code. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. Also, you can tr

[2018-01-11 13:55] #13100 closed, assigned to nobody

[2018-01-11 14:06] magento-engcom-team commented on #13119
@Vikram0811 Please try to reproduce this issue, on the clean instance of Magento or please provide error log details, thank you.

[2018-01-11 14:10] magento-engcom-team commented on #13105
@octoxan , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-11 14:30] magento-engcom-team commented on #13126
@MattUnity, thank you for your report.
We've created internal ticket(s) MAGETWO-86647 to track progress on the issue.

[2018-01-11 14:48] AleksLi opened #13139 "Invalid date when I tried to save Catalog Price Rule with French locale in version 2.2.2."
### Preconditions

1. Magento 2.2.2
2. mysql Ver 15.1 Distrib 10.0.31-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
3. PHP 7.0.22

### Steps to reproduce

1. Change admin language to French
2. Go to Marketing->Catalog Price Rules and a create New one.
3. In the Date Range choose [date like this](http://joxi.ru/vAWXyZeu109KGr)

### Expected result

1. Save this rule without errors.

###

[2018-01-11 14:54] pdenissen opened #13140 "No element found with ID 'checkout.cart.totals.container' in Cart page"
### Preconditions

System
- MacOS
- Nginx
- PHP7.1
- MySQL

### Steps to reproduce

Have no layout-updates in custom theme for checkout_cart_index.xml

### Expected result

I Should see my shopping cart.

### Actual result

With a 'simple product' in my cart I got this error.
`Exception #0 (OutOfBoundsException): No element found with ID 'checkout.cart.totals.container'`

With a 'configurable prod

[2018-01-11 15:11] xhallix commented on #11107
why is this issue closed ? Changing things on magento core does not resolve this?

[2018-01-11 15:37] kanduvisla commented on #7720
One could argue that this is not an issue but a feature: what Magento does: is when saving a product, it looks at the current store to determine where to save the attributes to. You could solve this by using emulation when using CLI:

    /** @var \Magento\Store\Model\App\Emulation $this->emulation */
    $this->emulation->startEnvironmentEmulation($product->getStoreId(), Area::AREA_ADMINHTML);

[2018-01-11 15:58] magento-engcom-team commented on #13128
@onlinebizsoft Seems like it's a Feature Request and not a core issue. Feel free to make a pull request for this. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Ma

[2018-01-11 15:58] #13128 closed, assigned to nobody

[2018-01-11 17:03] Anmer opened #13142 "Magento 2.1.5 Payment error"
I've Magento 2.1.5 running on LEMP
Braintree,stripe and Ingenico works finally but our locally developed payment won't be able to work what can be causing error ?

### Preconditions
1. Magento 2.1.5
2. Login to magento account with address information are full

### Steps to reproduce

1. add an item to cart
2. proceed to checkout
3. Choose the payment method
4. Place order
5. 3D verification page

[2018-01-11 17:04] Sharkozp opened #13143 "Swagger get store information gives error"
### Preconditions
2.2.x

### Steps to reproduce
1. Go to Swagger
2. open storeStoreConfigManagerV1
3. Method GET /V1/store/storeConfigs
4. Values for search:
[code]
[code]
[code]

### Expected result

[code]

### Actual result

[code]

[2018-01-11 17:05] thosch-mpa commented on #6224
Now the Checkout-Agreements does not work, I have a Magento 2.1.10 with Checkout-Agreements enabled (Manuel - with Checkbox).

I can Place the order without checking the Agreement.

[2018-01-11 17:08] Anmer commented on #13142
Hundreds of tries have been done and many professionals got a look at the issue and debug with no result,  before posting here.

[2018-01-11 17:10] cristienache commented on #10878
@dmitry-fedyuk 's fix worked for me. Just remove cache:
`rm -rf var/cache var/log var/page_cache var/view_preprocessed`

Thank you @dmitry-fedyuk!

[2018-01-11 17:57] magento-engcom-team commented on #12184
Thank you for your report. This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange] (https://magento.stackexchange.com/) site for advice or general discussion about this. Otherwise you may submit Pull Request with the suggested changes.

[2018-01-11 17:57] #12184 closed, assigned to serhii-balko

[2018-01-11 17:59] cotardo18 commented on #12119
hi @mattcoz , could you fix the issue?

[2018-01-11 19:20] magento-team commented on #12221
Hi @alexhadley. Thank you for your report.
The issue has been fixed in magento/magento2#13034 by @bhargavmehta in 2.2-develop branch
Related commit(s):
 - 149d08fbae7a0c747e816fb47752581486c27677
 - e851948a93f63887f053559802b6de1348db4a56

The fix will be available with the upcoming patch release.

[2018-01-11 19:20] #12221 closed, assigned to bhargavmehta

[2018-01-11 19:20] magento-team commented on #12705
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#13036 by @vinayshah in 2.2-develop branch
Related commit(s):
 - 843bc6229ba141cd1f326eeb90013c342c2d2983
 - f89e04d8252a672fef58d5d7eea9331ed8a5222f
 - df96b51224f928cde3919cf6a69ca8c4236afc86

The fix will be available with the upcoming patch release.

[2018-01-11 19:20] #12705 closed, assigned to nobody

[2018-01-11 19:20] magento-team commented on #12876
Hi @nfourteen. Thank you for your report.
The issue has been fixed in magento/magento2#13044 by @torhoehn in 2.2-develop branch
Related commit(s):
 - 9ab75baec089c4a327a0c3b082f0aaedfbfb15ad
 - 93453a811e7cc5fb128fe7abd96233d47e010d4f

The fix will be available with the upcoming patch release.

[2018-01-11 19:20] magento-team commented on #9969
Hi @simpleadm. Thank you for your report.
The issue has been fixed in magento/magento2#12668 by @dverkade in 2.2-develop branch
Related commit(s):
 - 2c1d6a4d115f1e97787349849d215e6c73ac1335

The fix will be available with the upcoming patch release.

[2018-01-11 19:20] #12876 closed, assigned to nobody

[2018-01-11 19:20] magento-team commented on #6486
Hi @cherreman. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1018 by @nmalevanec in 2.2-develop branch
Related commit(s):
 - fa6782f3a22f1185ebd4e71e915962f2a57c199f
 - 9db02736120ce911f670e2a1f31efef5435aca7c
 - 1d37cce45ac025929277dcdbeb44f1889564b23a
 - de673880b16ae39cb4fe5e325f747a9f05b735c1
 - d132c7ec62baccae9ee5ac4272eba2a7d9fdc8e8

The fix will be availa

[2018-01-11 19:20] #9969 closed, assigned to adrian-martinez-interactiv4

[2018-01-11 19:20] #6486 closed, assigned to nmalevanec

[2018-01-11 19:47] executekcouk commented on #13079
the problem is each problem is not clear. For example the php version is incorrect but it doesn't state which version is required for instance, so not sure what exactly we need to do here?

[2018-01-11 20:08] hanxiangwu commented on #10639
Hello,

How do we disable this feature? because we set up a free shipping , and sometime the free shipping is auto applied, and we don't want that.

Thank you

[2018-01-11 20:16] orlangur commented on #11107
Hi @xhallix, as you can see this issue was closed by reporter. Please report a new one with exact steps to reproduce (feel free to take them from this issue) if you experience the same issue.

[2018-01-11 20:40] maqlec commented on #11577
@mipsvikas this problem isn't about loading wrong files in javascript. Tiny_mce library should be excluded from minification but it is not. On 2.1.7 version it worked well but in 2.1.10 is broken.

[2018-01-11 20:59] joni-jones commented on #13136
Hi, @Tantuss, did you get the same error on the fresh installation of Magento without extensions? I've checked described case and I didn't get any errors.

According to a described example with `USPS`, the [$carrierMethods](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Shipping/Model/Config/Source/Allmethods.php#L49) contains array in the following format:
[code]
So, [$meth

[2018-01-11 21:01] minhluan259 commented on #5129
@magento-team
#13084 this patch has an issue
when moving the mouse out of the box, the magnifier-zoom does not hidden
https://prnt.sc/hz6ax8

[2018-01-11 21:04] minhluan259 commented on #5129
#mageconf  I can fix this issue

[2018-01-11 21:33] miguelsolano commented on #7354
Leaving this comment here for anyone who might be waiting on a fix from Magento or simply trying to debug the problem.

Run the following sql
*be advised this is sql so please please please try it locally or on dev before staging or prod.

`UPDATE magento_targetrule SET action_select = NULL;`

Then hit the PDP page and it should load just fine. The reason this is happening is because SQL is being

[2018-01-11 21:52] orlangur commented on #13127
Hi @emilshamloo, thanks for your report, it was raised before many times, please check https://github.com/magento/magento2/issues/10269#issuecomment-316086522 for example.

[2018-01-11 21:52] #13127 closed, assigned to nobody

[2018-01-11 21:54] orlangur commented on #13121
Hi @ash0955,

Try reverting to previous state with Git when site worked correctly.

Probably somehow autoload was broken, you can try `composer install` to get it regenerated.

[2018-01-11 21:58] orlangur commented on #13120
Oh, nice finding 👍 Wondering if we can analyze git log automatically/semiautomatically to find all missing fixes.

[2018-01-11 22:21] djfordz commented on #13103
I will close this as noted. Thanks for the explanation.

[2018-01-11 22:21] #13103 closed, assigned to nobody

[2018-01-11 22:40] magento-team commented on #4292
Hi @digitalpianism. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1195 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - 39671901f124b1b065ad92d7d4d421228edc9485

The fix will be available with the upcoming patch release.

[2018-01-11 22:40] magento-team commented on #758
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1193 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - 6d86db14751c3b152c2c34a37e89a89fe6e85166

The fix will be available with the upcoming patch release.

[2018-01-11 22:40] magento-team commented on #10415
Hi @spyrule. Thank you for your report.
The issue has been fixed in magento/magento2#13012 by @wardcapp in 2.3-develop branch
Related commit(s):
 - e8dad7a12430901ca26de6506cda8261453442dd
 - 9a456957cdc5bb5b3133a32d246b771e189e0a5f
 - 03f250ae5155c9f473fb68de473a87acaf343042

The fix will be available with the upcoming patch release.

[2018-01-11 22:40] magento-team commented on #9969
Hi @simpleadm. Thank you for your report.
The issue has been fixed in magento/magento2#12949 by @dverkade in 2.3-develop branch
Related commit(s):
 - 10550760af088f5325202e19e8a8371c8c5072a2

The fix will be available with the upcoming patch release.

[2018-01-11 22:50] magento-team commented on #2156
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#12954 by @dverkade in 2.1-develop branch
Related commit(s):
 - 65c99b982c15ebbbd0d9a5535af0f3dc156552e7
 - f215350f211c50590981b12c4ab3146499e087cf
 - a0b7bc5ae9c151889d382fc27d6605d15ed5625b

The fix will be available with the upcoming patch release.

[2018-01-11 22:50] magento-team commented on #9969
Hi @simpleadm. Thank you for your report.
The issue has been fixed in magento/magento2#12952 by @dverkade in 2.1-develop branch
Related commit(s):
 - bbe2f1a4b2ade0403760196c001d1b7156a5ddcb
 - b5b59be6fa3676a98d7777abfdc01c525ba587ce

The fix will be available with the upcoming patch release.

[2018-01-12 00:25] Joedel-Esco commented on #5873
Still seeing this issue.

Using magento 2.2.2 CE
Once a customer Checkouts even if the customer is registered or not.

How to recreate. Freshly install magento 2.2.2

1. Add Test Product
2. Configure Paypal Express checkout.
3. Checkout via paypal express
4. Finish the process.
5. Check the Order of the Customer in the admin Panel.

![image](https://user-images.githubusercontent.com/34368214/34854

[2018-01-12 00:46] Ctucker9233 commented on #12886
@magento-encom-team Please reopen this. I apologize. I forgot about this issue but I have run into it again. It is still actual. It is Magento Open Source. Please, if it is not a bug, advise me on what I need to do to increase the execution time.

[2018-01-12 01:00] Ctucker9233 commented on #12886
@magento-engcom-team Found the solution to my problem. Production mode was not enabled! Perhaps a warning should be displayed instead of a 500 timeout. It should default to "Attention! Production mode must be enabled to generate sitemap." ...or something like that. It would save people the headache of beating their head against the wall trying to find out why it isn't working.

[2018-01-12 02:23] aCicchelli opened #13147 "Magento 2.2 Order Product Reporting - Not Summarizing and Filtering Properly within the Grid"
Looking at the Ordered Products Report  (Reports->Products->Ordered) report, it doesn't to be summarizing within the grid at  all. It's also not 'sorting' the tables in any particular order.

It'll show many duplicates making a little unusable for us and some our our clients.
See attached. I've tried different views, filters, etc doesn't seem to matter.

![summarizing](https://user-images.githubus

[2018-01-12 04:21] aref-lazrek opened #13148 "Product import with unicode category names"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Import a csv file with products containing unicode categories (arabic)
2. File checking is valid

### Expected result
1. Import successful

### Actual result

1. Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`**`.`catalog_category_product`, CONSTRAINT `CAT_CTGR_PRD_CTGR_ID_CAT_C

[2018-01-12 05:30] fooman commented on #13135
@worla this issue seems specific to the set up of the cloudways environment. I suggest logging a support issue with them to get your Magento instance set up correctly.

[2018-01-12 05:30] #13135 closed, assigned to nobody

[2018-01-12 06:35] Joedel-Esco opened #13149 "Missing Billing Address Info via Paypal Express Checkout"
I've been running Magento 2.2.2 CE on RHEL with apache 2.4.6

Missing Billing Address using Paypal Express Checkout ( Production ) this issue is similar with #5873

**Preconditions**
1. RHEL 7.4
2. Magento version 2.2.2 CE ( no Data )
3. PHP 7.1.13
4. Mysql 15.1 Distrib 10.1.30 - MariaDB

**Steps to reproduce**
1. Create a Freshly install Magento 2.2.2 ( No Data )
2. Configure Paypal Express Check

[2018-01-12 06:39] ash0955 commented on #13121
Hi @orlangur

I already tried **composer install** in root directory. But still at same. Please check the screenshot.
![label](https://user-images.githubusercontent.com/24731295/34862599-55fbe0c4-f791-11e7-94eb-4274eae84f3b.PNG)
Please suggest what to do..Thanks

[2018-01-12 06:50] sunil-gcet commented on #13142
Hello @magento-engcom-team i would like to take a look at this issue
@Anmer can you send the module so i can install it on my server and test it there ? also test credentials if needed.

[2018-01-12 06:52] sunil-gcet commented on #13139
Hello @magento-engcom-team  i would like to take a look on this issue., can you please send the invitation

[2018-01-12 07:21] Joedel-Esco commented on #13149
![email missing billing info](https://user-images.githubusercontent.com/34368214/34863778-221ff89c-f7ac-11e7-94fc-1f518585e77c.PNG)

here is a screenshot of magento automated email from orders. still the billing details is blank/missing

[2018-01-12 07:38] Tantuss commented on #13136
Of course I do not try it on a fresh installation without any configurations.
I assume Magento is not developed to be only installed default and that configuration should be done.

Set in the core_config_data table the path:
carriers/usps/allowed_methods
to a value of 'NULL'.

(so basically nothing selected)

Then you get back the array at the wrong variable.

[2018-01-12 08:00] joni-jones commented on #13136
I assume Magento is not developed to be only installed default.

It helps to understand if extensions could be a reason for this issue.

carriers/usps/allowed_methods
to a value of 'NULL'.
(so basically nothing selected)

This behavior doesn't seem correct because you don't have a possibility to don't select at least one allowed method, also, by default, the `Use system value` option is enabled fo

[2018-01-12 08:02] Tantuss commented on #13136
It might be possible in Magento 1 and it might be there because of migration from Magento 1 to 2.

[2018-01-12 08:06] shahar-bch87 opened #13150 "Credit Card auto cancellation"
Preconditions
2.1.5

Steps to reproduce
Customer order using Credit Card as payment

Actual result
order got canceled without doing anything.
![screen shot 2018-01-12 at 4 05 54 pm](https://user-images.githubusercontent.com/13197694/34865140-8c7b677a-f7b2-11e7-87b8-438b0a236f12.png)

[2018-01-12 08:18] Tantuss commented on #13136
It might seem not correct, but it is definitely possible to do it from the user interface. Just set 1 as active, saved, checked db and it was there. Then unselected that 1 and there was again NULL in the database.

So it is not only related to migration, it is also just easy possible from the UI.

[2018-01-12 08:32] thosch-mpa commented on #6224
Now the Checkout-Agreements does not work, I have a Magento 2.1.10 with Checkout-Agreements enabled (Manuel - with Checkbox).

I can Place the order without checking the Agreement.

[2018-01-12 08:50] speedupmate commented on #10639
rewrite a template, i just replaced the part when template is loaded with ajax as follows

`/**
         * fix of m2 issue where rate checking is done in template level and not on actual values in quote
         */
        renderer.render = _.wrap(renderer.render , function (originalMethod, tmplPath) {
            var loadPromise = loader.loadTemplate(tmplPath);
            return loadPromise.then

[2018-01-12 09:13] Hobbit78 commented on #13140
Hi,

I think I found the problem on my side.
We have created a custom module which is not working good.
By disabling the module the cart seems to work fine.

I'm not sure yet what causes the problem.

[2018-01-12 09:25] koenner01 opened #13151 "Adding product attribute options through api can fail because of incorrect string comparison"
Trying to insert a new product attribute option through the api that contains an existing value but starting with a character '0' will fail. This also happens when directly using the Magento\Catalog\Api\ProductAttributeOptionManagementInterface add function

### Preconditions
1. PHP7
2. CE 2.2.2 (looking at the codebase on github this issue is present since the start of Magento2), also tested on E

[2018-01-12 09:48] ash0955 commented on #13121
Hi,

I Think there is some files missing in my lib folder **lib/internal/Magento/Framework/App/Bootstrap.php** and now plz tell me how can i get missing files using command or copy paste from magento directory?

[2018-01-12 09:52] serhii-balko commented on #10012
Hi @frshjb373
I want to create pull request to fix the issue.
Could you share rates csv file with more that 955 rows.
Thanks

[2018-01-12 09:57] onlinebizsoft commented on #13128
@magento-engcom-team very strange, look like you are intended to close issues than listening from community. I had to make many research and testes before reporting this to you but you take it very fast.

And I'm seeing many other cases which is true to many people (including me) and you just close them :)
https://github.com/magento/magento2/issues/12097

[2018-01-12 10:01] maqlec commented on #4828
@OnePhilT your browser tries to load minified tiny_mce. It shouldn't be minified. Your have to use extension which overrides dev/js/minify_exclude setting. In my case It was MSP_ReCaptcha.

[2018-01-12 10:08] maqlec commented on #11577
Ok, I know where exactly problem is. You have to use extension which overrides dev/js/minify_exclude setting (it should have "/tiny_mce/" value which prevents this library from minification). In my case it was MSP_ReCaptcha extension.

[2018-01-12 10:11] sunil-gcet commented on #13139
Hi @AleksLi i think i am close on finding the issue, i have replicated it on a fresh install of v2.2.2, although i think the issue is not due to locale but its due to the datepicker fields.

When i investigated i saw the date values to post are like 20/01/+00201818 instead of 20/01/2018 and thus the validation fails on vendor/magento/module-rule/Model/AbstractModel.php:399

I am moving to find the

[2018-01-12 10:36] JuteSenthil commented on #11577
@mipsvikas : Thanks you so much. It's work perfect as expect. Thanks once again.

[2018-01-12 10:47] sakti-do commented on #13092
@magento-engcom-team Using URL rewrite, it's not working. That's why, i have managed that using .htaccess

[2018-01-12 11:04] prateekkarki opened #13152 "Listing block cannot be overridden for search results page"
### Preconditions
Magento 2.2.x
php 7.1

### Steps to reproduce
1. Create a module
2. Add di.xml to update preferences for Magento\Catalog\Block\Product\ListProduct and add a new class to use for the class
3. Add the new class and extend it with Magento\Catalog\Block\Product\ListProduct
4. Use a method from the new class in Magento_Catalog/templates/product/list.phtml

### Expected result
1. Every

[2018-01-12 11:05] klakovsky opened #13153 "Credit memo for orders with zero TotalPaid"
### Preconditions

1. Magento 2.3-develop
2. Create order with zero Amount (all Grand Total, Total Paid, Total Refunded, Total Due, Subtotal, Shipping & Handling, Tax are zero ) in status = "Pending" and 1 SKU qty = 1.

### Steps to reproduce
1. First Set tax calculation setting according to this screenshot
![57360176-14df4180-71ac-11e9-874b-6dcdd2a1f1d1](https://user-images.githubusercontent.com/

[2018-01-12 11:11] maqlec commented on #11577
@JuteSenthil it's illusion, it's not working like a charm. Only on the first look but try to add image or link in editor and you shouldn't see modal content because links without .min are hardcored in tiny_mce templates

[2018-01-12 11:12] gino-g commented on #12683
unfortunately, I don't have have access to apache module on my hosting and I can't change or enable mod_version.
Hoe can i resolve it?

[2018-01-12 11:33] magento-engcom-team commented on #13071
@ronnie48 We tried to reproduce it with a clean instance of Magento, and we weren't able to reproduce the issue. Please try to reproduce it on the clean instance of Magento, and let us know if you are able to reproduce the issue, thank you.

[2018-01-12 11:39] mipsvikas commented on #11577
@JuteSenthil  Welcome

[2018-01-12 11:40] bvboas commented on #12683
@gino-g edit the .htaccess file and find the code similar to (there are multiple instances):

[code]

If your apache version is equal or greater to 2.4, leave these lines:

[code]
If your apache version is lower than 2.4, leave these lines:

[code]

[2018-01-12 11:41] mipsvikas commented on #11577
@maqlec  Its not due to any extension override. I had found issue into freshly installed magento. Might be it already resolved in the latest version.

[2018-01-12 11:42] sylink commented on #6005
Why is a common trend for M2 issues that some contributor/dev comes in and complains about procedural rules rather than taking the literally free work being done and being happy with it ?

[2018-01-12 11:43] akbaradeeb commented on #12880
@magento-engcom-team

Please revert me.

Full error are following

Warning: session_start(): Cannot send session cache limiter - headers already sent (output started at \/home\/everstyle\/public_html\/vendor\/zendframework\/zend-http\/src\/PhpEnvironment\/Response.php:114) in \/home\/everstyle\/public_html\/vendor\/magento\/framework\/Session\/SessionManager.php on line 189","1":"#0 [internal func

[2018-01-12 11:49] sunil-gcet commented on #13139
on further investigation it seems that the error is coming only on the date formats having year format like "yyyy", which are set from vendor/magento/zendframework1/library/Zend/Locale/Data/ folder for each teritory and language

@magento-engcom-team can you let us know if we are correct in above findings ?

also will this date format issue will be covered in next release ?

[2018-01-12 11:49] magento-engcom-team commented on #13118
@Sylvesterx1 Thanks for your report. We weren't able to reproduce it with a clean instance of Magento. Could you please clarify what kind of product are you adding? Also please try to reproduce it with a clean instance of Magento and let us know if you still can reproduce the issue, thank you.

[2018-01-12 12:05] magento-engcom-team commented on #12915
@hemendraajmera
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-12 12:05] worla commented on #13135
@fooman , Thank you

[2018-01-12 12:38] AleksLi commented on #13139
Hi @sunil-gcet. I'm happy to hear that you are close to fixing this.
Keep me in the loop.

[2018-01-12 12:44] gino-g commented on #12683
@bvboas
Hi,
Thank you for a quick response but unfortunately for me, even after removing the section 1
   <Files auth.json>
            Require all denied
    </Files>
(my apache is 2.4.3-25) it did not work.

Changed my php to 7.1, even that did not help.
My upgrade was smooth and I can still execute all SSH commands but i wonder what went so wrong?

Any help getting it up would really mean a lot

[2018-01-12 12:46] magento-engcom-team commented on #13113
@ostappashko thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-12 12:58] samuelecarpene commented on #13007
After searching in log i found that the problem was there because of a third part module. Thank you all.

[2018-01-12 12:58] #13007 closed, assigned to nobody

[2018-01-12 13:02] ferrazzuk commented on #13007
@samuelecarpene what was the problem?

[2018-01-12 13:07] samuelecarpene commented on #13007
@ferrazzuk i did not investigate on the problem because it was present only in production. The module is this (https://github.com/magespecialist/m2-MSP_DevTools) if someone experiece the same problem.

[2018-01-12 14:17] koenner01 opened #13156 "Updating attribute option data through API will set unwanted source_model on the attribute"
When updating an eav attribute's options through the API, the source_model of the attribute will be set to 'Magento\Eav\Model\Entity\Attribute\Source\Table'. Not only is this unwanted, it also completely destroys the ability to update this attribute's options through the backend.

### Preconditions
1. PHP7.0
2. CE 2.2.2 (also tested EE 2.2.2)

### Steps to reproduce
1. Create a new multiselect pro

[2018-01-12 14:24] Eytham opened #13157 "Last Ordered Items block - bad js code"
The left block Last Ordered Items is not showing properly the Add to cart button on the :
data-bind="css: {'no-display': !lastOrderedItems().isShowAddToCart}
Always returning false.
Target JS file is : Magento_Sales/web/js/view/last-ordered-items.js

### Preconditions
1. Environnement Docker NGINX php 7
2. Magento 2.2

### Steps to reproduce
1. In my account or in catalog, left block Last ordered

[2018-01-12 14:24] Sylvesterx1 commented on #13118
@magento-engcom-team, adds any product to the basket and then I can not clean it. I did not make any modifications to the files. Do you know how to solve this problem? Thanks for your help.

[2018-01-12 14:36] koenner01 commented on #13156
Added bonus is that the storeview values for the options are also not rendered because the _getOptionValuesCollection function in Magento\Eav\Block\Adminhtml\Attribute\Edit\Options\Options only fetches the option values for 1 storeId (which in most cases is also not the correct one)

[2018-01-12 15:15] peterjaap commented on #7658
Issue is still relevant in 2.2.2.

[2018-01-12 15:15] MattUnity opened #13158 "2.2.2 - Duplicating bundle product options between products via CSV forces 'Out Of Stock' status."
This appears to be completely regardless of inventory or stock management status.

Trying to duplicate bundle options from a source product, to a destination product, via CSV Import/Export results in the destination product being forced into an 'Out Of Stock' status that I can't find a way to rectify, despite the bundle and all product options having a quantity and having their stock status set co

[2018-01-12 15:19] jordy2607 commented on #11577
i can confirm the findings from @maqlec . In our case we are also using the MSP_ReCaptcha module. After disabling the minify_exclude config in this module the wysiwyg editor is working again when minification is enabled.

The only other Magento module which adds this config is the Module_Store, which adds /tinymce/ to the minify_exclude list.

Apparently these configs aren't merged in Magento 2.1.

[2018-01-12 15:26] gituncar opened #13159 "Search witch char -"
I have product name example
MKJ1973-791, but when I try look for this item on text box search, result is empty,

Search is good if I enter MKJ1973
I have magento 2.2 CE

[2018-01-12 15:37] magento-engcom-team commented on #13159
@gituncar Thanks for your reply, could you please clarify what is your exact version of Magento do you have, also please clarify if you are searching on the storefront or in your dashboard, screenshots would be helpful too.

[2018-01-12 16:18] peterjaap commented on #7658
The content it tries to append looks like this;

`<script type="text/x-magento-init"><![CDATA[{"*": {"Magento_Ui/js/core/app":  .... etc etc ....}]]></script>`

Maybe we can use an AJAX request to pull in that data from a controller, so it doesn't have to be included in the XML payload.

[2018-01-12 16:24] sanjay-wagento commented on #12714
@magento-engcom-team I am very near to solve an issue. So please do not assign to other.

[2018-01-12 16:33] Bashev commented on #12939
I have same problem in one M2 installation. For some reason `e.entity_id` is added before `name` (or another attr) in order list.

[2018-01-12 16:48] orlangur commented on #6005
@sylink,

This is never true due to process restrictions.

I'm not even sure such code snippet posting is allowed by EE license. My main concern here is that there is no reason to create mess in CE repo when there is working partners program to process contributions into B2B/EE.

[2018-01-12 19:25] lasg125 commented on #12662
Hey guys any update on this issue? or some way to get around?

[2018-01-12 20:10] ncrichards commented on #13143
Apparently swagger does not support arrays in get requests. The parameters are not being parsed correctly.
As per the Magento store config API, below is how to build your query.

Assuming you want to list the configs for the stores (default and test).
Use a RESTful client to pass your Authorization header
Authorization: Bearer token_value_here

http://yourdomain.com/rest/V1/store/storeConfigs?stor

[2018-01-12 20:30] willfrombrazil opened #13163 "Can't Upgrade to Magento CE 2.2 - Language Dependency conflict"
### Preconditions
Magento CE 2.1.9

### Steps to reproduce
Upgrade via Command:

### Expected result
Magento Upgrade

### Actual result

I get the following error message on the terminal:

If I try to update magento/language-pt_br via command, I get this error message:

And if I try to upgrade the language pack via the component manager, I get the following error:

Check Component Dependency
We fo

[2018-01-12 22:33] jaume-solis opened #13164 "Android Checkout Performance"
### Preconditions

Magento version 2.2.1
PHP 7
10.1.26-MariaDB-0+deb9u1
Debian 9.1

### Steps to reproduce

1. Start Website on Android Mobile like Huawei P10
2. Add to cart a product
3. Go to Checkout

### Expected result

1. Load Checkout like Desktop and Iphone, on these devices, knockout checkout appears on 1 second aprox.

### Actual result

PHP page loads on correct time, but knockout checko

[2018-01-12 23:56] oviliz commented on #7589
Have you had any chance to do that @yofisim ?

[2018-01-13 05:31] Anmer commented on #13142
@sunil-gcet Thanks for interest I sent credentials to your email address, hope you can find issue origin, so if it's module related we can close this this issue but if it's a bug to escalate the issue with more details.

[2018-01-13 08:59] jignesh26 commented on #6803
@R4c00n I am checking this issue. As you have told us that Product::save method is deprecated. So logically only one to use the product save using ProductRepositoryInterface. I am debugging this issue and will update you soon. Meanwhile, if anyone has any idea related to this ticket can share that help me to resolve it fast.

@p-bystritsky you have made commit what is that status?

[2018-01-13 09:08] nawabamit commented on #7548
when i enter new password and click to submit button its reload the page and nothing happen. after refresh the page it shows 'Please enter a new password' every time. i create new multiple time but its show same error in magento 2

[2018-01-13 10:17] maqlec opened #13165 "Cannot exclude Magento/blank at deploy static content"
I have theme which is child of Magento/blank. I want to deploy static content for this theme but I don't need parent theme to deploy so i use --exclude-theme=Magento/blank option in command line

### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Make theme which parent is Magento/blank
2. Exclude theme from deploy use command: bin/magento setup:static-content:deploy --exclude-theme=M

[2018-01-13 12:58] Sureshchikani commented on #12411
I have same issue with my custom extension which is working fine with previous version but not working in 2.2.2. I am trying to find out the solution but still not get any solution.

If any one know about the issue, let me know the solution.

[2018-01-13 13:18] dan-advantec commented on #3890
Unfortunately, this still appears to be an issue on 2.2.2

[2018-01-13 15:10] ju5t opened #13166 "Installer resets admin password"
### Preconditions

We're running Magento2 in a Docker container. We try to verify if we're connecting to an existing installation with `bin/magento setup:db:status` but for reasons beyond my knowledge this fails. It returns `No information is available: the Magento application is not installed.`. I assume this doesn't actually connect to the database but verifies it through a local file. I'm not a

[2018-01-13 18:35] orlangur commented on #12411
@Sureshchikani release notes containing backward-incompatible changes information is a good starting point. There is also quite detailed http://devdocs.magento.com/guides/v2.2/ext-best-practices/tutorials/serialized-to-json-data-upgrade.html tutorial.

[2018-01-13 22:50] lingwooc commented on #12828
I've implemented @Yonn-Trimoreau's fix. I'm still investigating, but my checkout breaks (checkout-loader is never hidden) when the google analytics script (from Magento_GoogleAnalytics) is blocked. I need to check with luma but on my theme disabling Magento_GoogleAnalytics or ublockorigin fixes the issue.

I've tried editing Magento_GoogleAnalytic\view\frontend\templates\ga.phtml to use "require("

[2018-01-13 23:04] lingwooc commented on #12428
This seems to be related to magento/magento2#13061 and #12828 . The pr doesn't appear to fix this issue though.

Even if you replace the x-magento-init block in Magento_GoogleAnalytic\view\frontend\templates\ga.phtml  with...
[code]

...which shouldn't be able to kill any javascript flow, checkout-loader is still not cleared and the checkout doesn't work.

Error thrown is:
[code]
Caught error (pri

[2018-01-13 23:25] ihor-sviziev commented on #13157
@Eytham could you please create Pull request with your changes?

[2018-01-14 06:24] AntonEvers opened #13168 "Custom address attributes with "Show on Storefront" set to "No" still show in checkout"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Create a custom customer address attribute
2. Set "Show on Storefront" to "No"
3. Select all forms in "Forms to Use In"
4. Register a customer
5. In the backend, fill the value of the custom attribute with "This should be hidden"
6. Add a product to your cart, go to checkout, login
7. Proceed to the shipping address page

### Expected

[2018-01-14 08:13] Khaleel commented on #7475
This is still in the new releases and at a loss at how these developers from Ukraine operate. Complete no regards to FE and basic UI and UX requirements. No wonder Magento are going with PWA and scrapping this idea of over engineered solutions.

[2018-01-14 13:42] styzzz opened #13172 "Magento2 Authroize.net Payment Fails Customer Messages"
When using Magento 2.1.7, and a customer tries to checkout, and the order fails due to Address Verification failure, the message says "Server Error. Please contact the server administrator"

In Magento 1, there was a module you could install that would inform customers of why the payment failed (i.e. Address verification failure). This doesnt happen in Magento 2.

### Preconditions
1. Magento vers

[2018-01-14 14:09] ju5t commented on #13166
I have spent the better part of the day debugging what's going on. I found that for the deployment to work consistently I need to include both `app/etc/env.php` and `app/etc/config.php` in source control. This means I can now work around the issue where the admin's password is changed but it's not perfect.

You could argue that once the application is installed there is no need to test for it bein

[2018-01-14 18:22] sylink commented on #10650
This issue also exists in CE 2.2.x.  Its hilariously server breaking.

[2018-01-14 21:17] orlangur commented on #13166
Hi @ju5t,

I'm not quite sure I understood the problem correctly

After installer is run again does admin user password match `--admin-password="$ADMIN_PASSWORD"` specified via CLI?

[2018-01-14 21:39] ju5t commented on #13166
@orlangur yes. And perhaps that is to be expected or in fact a feature, but as the installer made no other changes I didn't see it coming.

[2018-01-15 02:14] benyang2015 opened #13175 "how to switch website on storefront header"
### Preconditions

1. magento 2.2.2
2. php7.1.8,mysql5.8

### Steps to reproduce

1. add the block to the vendor/magento/module-theme/view/frontend/layout/default.xml
<block class="Magento\Framework\View\Element\Template" name="header-website" template="Magento_Theme:html/website.phtml" />
2. on the  Magento\Framework\View\Element\Template.php
add the function
public function getWebsites() {
    $

[2018-01-15 03:48] careys7 commented on #12419
Same issue in 2.2.2

[2018-01-15 04:29] weynhamz opened #13176 "Magento EE 2.2 PHPUNIT not installed"
Fresh installed Magento EE 2.2, no vendor/bin/phpunit exists after `composer install`.

### Preconditions

1. Magento EE 2.2
2. With Composer

### Steps to reproduce

1. composer install

### Expected result

1. vendor/bin/phpunit exists

### Actual result

1. No vendor/bin/phpunit exits

Tried run `composer require phpunit/phpunit` manually, shows below error:

Looks like zend-session clearly sta

[2018-01-15 06:30] #12915 closed, assigned to nobody

[2018-01-15 07:41] barjas commented on #7170
same issue here ..

[2018-01-15 07:52] magento-engcom-team commented on #13175
@benyang2015 Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-15 08:07] magento-engcom-team commented on #12899
@iproger, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-15 08:24] sunil-gcet commented on #10162
We are also facing same problem on magento v 2.2.2, is there any solution for this error yet ?

[2018-01-15 08:30] magento-engcom-team commented on #12919
@VadimDraganyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-15 08:30] #12919 closed, assigned to nobody

[2018-01-15 08:31] Yonn-Trimoreau commented on #12828
Have you remove the file `pub/static/frontend/<Vendor>/<theme>/<language_LANGUAGE>/mage/apply/main.js`? If not, you may be still loading the old Magento file. Open your network tab and check if you're loading your overriden `main.js`.

If it still does not work and you want to try using `require` instead of `x-magento-init`, you can catch the script loading error by using something like [this](htt

[2018-01-15 08:43] magento-engcom-team commented on #13147
@aCicchelli, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-15 08:47] bambamboole opened #13177 "Can't save attributes on a configurable product"
### Preconditions
I have a Magento Installation where I can't save attributes on a configurable product. (simple products work!).

Magento Version: 2.2.2
PHP Version: 7.1.13
MySQL Version: 10.1.30-MariaDB

### Steps to reproduce
1. Add a configurable product
2. Change some attributes (tested with product images and country of manufacturer)
3. Press Save

### Actual Result
The following error occur

[2018-01-15 08:52] sebfie commented on #10162
Do you use ogone/engenico?

Sébastien fieloux
Développeur freelance
0698458781 <//0698458781>
sebastien.fieloux@gmail.com
http://www.sebfie.com

Le 15 janvier 2018 à 09:25:14, Sunil Verma (notifications@github.com) a
écrit:

[2018-01-15 09:02] magento-engcom-team commented on #13118
@Sylvesterx1 We made a [video](https://streamable.com/g3ltt) where we are trying to follow your description. Please watch and let us know if we missed something. Thank you
 https://streamable.com/g3ltt

[2018-01-15 09:09] magento-engcom-team commented on #13121
@ash0955 Please, try reverting to the previous state with Git when site worked correctly.  Thank you

[2018-01-15 09:22] sunil-gcet commented on #10162
@sebfie no we have created a new payment gateway and no where in the code we are sending the email, so its triggering from core magento somewhere.

[2018-01-15 09:35] LucaGallinari commented on #9486
Any update on this? It's really important, our customers are getting mad while doing data entry

[2018-01-15 10:20] koenner01 commented on #10726
I'm having the same problem when trying to use the \Magento\Framework\Webapi\ServiceOutputProcessor to process an invoice to fetch it's dataModel.

Calling:

[code]

Will produce an exception:

`Class \Magento\Sales\Api\Data\InvoiceItemInterface[] does not exist`

[2018-01-15 10:23] teokolo opened #13179 "Unable to reset customer password after requiring province/state"
### Preconditions

1. Magento 2.1.11 clean install
2. PHP 5.6.33, Apache 2.2, Mysql-5.7.20
3. Single website, configured this way (probably bug is present for other combinations):
a) Default Country: Italy
b) Allowed Countries: Italy
c) State is Required for: do not set Italy (default setting: unselected)

### Steps to reproduce

1. Place an order registering an account, when asked for an address

[2018-01-15 10:34] teokolo commented on #13179
Same error when logging in customer account and trying to change password: /customer/account/edit/
Error message: region is a required field.

[2018-01-15 10:52] sadon commented on #8020
The same result with REST calls.

[2018-01-15 11:11] JasonScottM commented on #9466
The link should work now.

[2018-01-15 11:17] suthanalley commented on #7825
I have create attribute set going through this tutorial https://magenticians.com/create-attribute-set-programmatically-magento-2/ . It helps me a lot to implement the code as i have not implemented the same for the first time but at last i fixed the error that i am having module not found.

[2018-01-15 11:27] Sharkozp commented on #13143
Hi,

I think this is related to this [issue-12790](https://github.com/magento/magento2/issues/12790)

[2018-01-15 11:59] magento-engcom-team commented on #13079
@executekcouk, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-15 12:05] #13079 closed, assigned to nobody

[2018-01-15 12:33] koenner01 opened #13180 "Fetching invoice items with \Magento\Sales\Model\Order\Invoice getItems function sometimes returns a collection"
When looking at \Magento\Sales\Model\Order\Invoice the getItems function states that the return value should be an array of \Magento\Sales\Api\Data\InvoiceItemInterface.

[code]

However, when calling this function it will some times return a Magento\Sales\Model\ResourceModel\Order\Invoice\Item\Collection.

This is caused by the fact that when items are added to the invoice the addItem function is

[2018-01-15 12:38] koenner01 commented on #13180
The same faulty logic is applied to the getComments function in \Magento\Sales\Model\Order\Invoice

[2018-01-15 12:38] nmallepally commented on #8744
Hi @magento-engcom-team

I still have this error in Magento 2.1.8.
embedded youtube video displays as a static image on the configurable product.

Any workaround on 2.1.8 to fix this issue?.

Thanks

[2018-01-15 12:53] densen45 opened #13181 "Prices of Bundle products on customer's wishlist are wrong"
### Preconditions

We tested this on two environments:
1. Ubuntu 17.04, Apache2, PHP 7.0
2. Ubuntu 17.10, Nginx, PHP 7.0

And we were able to reproduce this issue on the following two Magento 2 versions:
1. M 2.1.10
2. M 2.2.2

### Steps to reproduce

1. Create a Bundle product in the backend with at least one option with "Radio" and "User defined quantity" (also experienced the issue for "Checkbo

[2018-01-15 13:10] serhii-balko commented on #10012
Hi @paras0092
This issue can be temporary solved by set `max_input_vars = 2000` param in php.ini or .htaccess.

[2018-01-15 13:38] ananth-iyer opened #13183 "Authorize.net Payment Merchant Timeout Errors"
### Preconditions

1. Tested on Magento 2.1.0 CE & Magento 2.2.2 CE

### Steps to reproduce

1. Setup a sandbox account with authorize.net
2. Try to place an order using test credit card data

### Expected result

1. Should place the order successfully.

### Actual result

1. Transaction request post params: x_version:3.1
x_delim_data:FALSE
x_relay_response:TRUE
x_test_request:TRUE
x_login:73dKDJk

[2018-01-15 13:52] ferrazzuk commented on #13176
PHPUnit is under vendor/phpunit not vendor/bin/phpunit

[2018-01-15 14:04] magento-engcom-team commented on #7402
Hi @janeblonde
This issue is fixed in 2.2 version

[2018-01-15 14:04] #7402 closed, assigned to nobody

[2018-01-15 14:13] Hexmage commented on #5570
The bug appears to only have been fixed for Magento 2.2.

[2018-01-15 14:40] wobstyr commented on #11113
I've got the same issue, how do we proceed? how do we remove this now?

[2018-01-15 14:42] tvainisi commented on #7599
@roseofgold I do not concur.  I still have this problem in 2.1.9 - update of configurable product via rest API causes all child products to be lost.

[2018-01-15 14:45] romeof1980 commented on #11113
hi @wobstyr ,
as said, it is not a Magento 2 issue but you should review sample data and especially extension compatibilities with 2.2.x . If they are not compatible, update them then run the upgrade to 2.2.x!

[2018-01-15 15:18] wobstyr commented on #11113
hi @romeof1980
ok i hear you, but how do i get rid of it? I've tried everything! i cant even find which on is causing the issue.

[2018-01-15 15:32] sebfie commented on #10162
I think the called which send email is : `registerAuthorizationNotification`

[2018-01-15 15:53] asrenzo commented on #12671
Any progress about this problem ?

[2018-01-15 16:01] romeof1980 commented on #11113
hi @wobstyr ,
well, discussing it on "GitHub's Magento 2 issue" it's not appropriate because it's clearly not a bug but a support request. If you want to contact me directly I can probably provide some support.
have a great day,
romeo

[2018-01-15 16:06] gino-g commented on #12683
Hi,
I tried generating the same error on my localhost by commenting mod_version and I was not able to get the same 500 Internal server Error.
So, I am really not sure it is this one thing which is holding back the webpage..

Can someone guide me?

[2018-01-15 16:25] magento-engcom-team commented on #13179
@teokolo, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-15 18:09] serefatka commented on #2332
any updates regarding this issue? the same problem on magenta v.2.2

[2018-01-15 19:12] robwaug commented on #9059
Hi Magento Support Team, was the bug ever fixed? I reproduced this bug in 2.1.9 build.

[2018-01-15 19:17] Olek89 opened #13186 "percentage code not correctly working"
Hello Community,

i have the magento 2 installed and now problems in the rabattcodes and the taxes.
I have simply 20% rabatt code, but still the summery is not corectly.
why it is so?

![image](https://user-images.githubusercontent.com/31250340/34958186-0a4bff40-fa31-11e7-81a6-6747b949f7aa.png)

[2018-01-15 19:23] orhabas commented on #6754
hi @hostep,
We’re experiencing the same issue in 2.1.7 :/
Can you share your patch for that version?
10x!

[2018-01-15 20:32] ValoKoski opened #13188 "Cannot edit product after migration 1.9 -> 2.2.2"
### Preconditions
CentOS 7
Magento 2.2.2 (Origin 1.9.x)
MariaDB, PHP7

### Steps to reproduce
migrate from 1.9. to 2.2.2

### Actual result
Everything went ok. Customers, Products, Store settings are ok. When You try to edit migrated product then error occured and i didn't find any help for this:

{"0":"The configuration parameter \"formElement\" is a required for \"NULL\" field.","1":"#0 \/var\/w

[2018-01-15 20:52] ValoKoski commented on #13188
found it.. remove from "eav_attribute_set" table everything with "Migration_Default" and case closed.

[2018-01-15 20:52] #13188 closed, assigned to nobody

[2018-01-15 21:19] danbuchal opened #13191 "Unable to remove ProductWebsiteLink via API for the calling website"
### Preconditions
Magento 2.2.2

### Steps to reproduce
1. Create a product and associate it with more than 1 website.
2. Use REST call to remove website: (DELETE /V1/products/:sku/websites/:websiteId)
    NOTE: The domain used should be that of the website we are attempting to remove from the product

### Expected result
The website id should be removed from the associated websites

### Actual re

[2018-01-15 21:39] gilbertsohal commented on #13112
@magento-engcom-team

Could you please guide me what to do?

[2018-01-15 21:56] hostep commented on #6754
@orhabas: should be the one in my [comment from 12 Mar 2017](https://github.com/magento/magento2/issues/6754#issuecomment-285934482), but not entirely sure anymore, it's been too long.

Maybe it becomes time to propose this fix in a PR, so the fix gets included in a stable version of 2.1.x (it already should be included in 2.2.x) instead of keep working with these patches. If someone feels like it

[2018-01-15 23:41] Voblerbg commented on #5097
Hi,
I have a problem with visualization of Promo Price in Configurable products. The old price is struck through and the new price is visible, but it is not shown as a promo price.

![screenshot_9](https://user-images.githubusercontent.com/35472165/34965627-354b8bb6-fa5e-11e7-9f7b-5736be557e20.jpg)

My simple product is OK and I want the Configurable product to look the same.
Magento ver. 2.2.1

!

[2018-01-16 01:05] crantron commented on #11754
I'm having this issue too on magento 2.2.0
This should be fixed.

[2018-01-16 03:54] weynhamz commented on #13176
Yes, I am aware of that, I means the binary symlink, but also, vendor/phpunit is not there too. It is not installed due to conflict with zend-ssion.

[2018-01-16 03:55] weynhamz commented on #13176
If I manually require a lower version 6.4.4, it installed,  but some tests failed to run.

[2018-01-16 04:04] harimayco commented on #12095
Same problem on 2.2.2 developer mode.

[2018-01-16 04:54] tschirmer commented on #6366
This is continuing for me as well.
For my setup:
 - File user is centos
 - Web server user is apache
 - var/cache is set to 2770 (770 with a GUID sticky bit)

 What happens is:
 - Cron is run before the frontend and any cache files created have the file user (e.g. ec2-user / centos) as the owner and group.
 - The web server (running php-fpm) tries to create a cache file under the cache dir.

[2018-01-16 06:00] versdivers commented on #11754
The key in this whole thing is that Magento calculates the height and width based on the pictures height and width. If you use bootstrap then that picture becomes a flex image (i think). Anyways , it has no defined height and width since its responsive. I fixed this on my part of the code i can tell you that and out of the box Magento does seem to work just fine so i think this is an compatibility

[2018-01-16 06:27] nawabamit commented on #5260
set new password not working when customer want to reset in  magento 2. its load the page after submit and nothing happen.
note-Always show (Please enter a new password) i have change multiple time new passwords

![set_new_password_not_working after submit](https://user-images.githubusercontent.com/24496702/34974645-34fe8cde-fab4-11e7-837b-e0a0a87b4a9e.png)

[2018-01-16 06:34] likeweb commented on #9488
Hi
why is this issue be closed, the problem is stil there, I use M2 version 2.2.2 and adding new country stil not working.
I think its not a feature, its a issue.
Thanks

[2018-01-16 07:22] andy17612 opened #13205 "In magento 2.2.2 Url Options issue"
### Preconditions

1. magento 2.2.2
2. php71

### Steps to reproduce

1. Setting Url Options >
2. Add Store Code to Urls > YES
3. When i changing other language store the `?___from_store=` is showing.

### Expected result

1. Fix and Remove http://exsample.com/en/ ?___from_store=fr
2. http://exsample.com/fr/ > http://exsample.com/en/

### Actual result

1. http://exsample.com/fr/
2. http://exsampl

[2018-01-16 07:30] ChandrakantDevani opened #13206 "Magento 2 shopping cart and checkout issue for multi website"
Hi,
I have generate multi website in magento 2. second website into shopping cart and checkout page not working in live server, but localhost into working fine why??
please help me.

[2018-01-16 07:53] joni-jones commented on #13183
Hi, @Ananth747, your sandbox configuration is invalid.
The `test mode` option should be `false` for sandbox accounts, it used only for production accounts.
Also, please, check if your Authorize.net URLs configured correctly:
Gateway URL: https://test.authorize.net/gateway/transact.dll
Transaction Details URL: https://apitest.authorize.net/xml/v1/request.api

[2018-01-16 07:57] joni-jones commented on #13172
Hi, @styzzz, this is expected behavior.

Magento doesn't provide customization for error messages, which allows reducing security risks. Such feature will be available in 2.2.4 release and will be allowed for payments based only on [Payment Provider Gateway](http://devdocs.magento.com/guides/v2.2/payments-integrations/payment-gateway/payment-gateway-intro.html). The Authorize.net won't be affected

[2018-01-16 07:57] #13172 closed, assigned to nobody

[2018-01-16 08:12] ferrazzuk commented on #13176
@weynhamz magento uses an older version, thats why it fails. Magento currently uses `"phpunit/phpunit": "4.1.0"` which is obsolete but thats what they use :/

[2018-01-16 08:14] magento-engcom-team commented on #13206
@ChandrakantDevani Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-16 08:14] ruthger92 commented on #12994
Maybe Magento isn't able to write to the folder because of permissions?
Check your permissions of the folder.

[2018-01-16 08:30] magento-engcom-team commented on #12789
@pielbar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-16 08:30] #12789 closed, assigned to nobody

[2018-01-16 08:30] magento-engcom-team commented on #13168
@ajpevers , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-01-16 08:30] #13168 closed, assigned to nobody

[2018-01-16 08:32] serefatka commented on #3902
I have te same issue magento 2.2.2. I changed weight to 2kg in configurable product and in virtual products and still no shipping tab in the checkout.

PhilippLak you can export products to csv update weight and import file back to magento
System->Data Transfer-Export.

[2018-01-16 08:32] aref-lazrek opened #13207 "Currency symbol not appearing in arabic store view"
### Preconditions

1. PHP 7.1
2. Magento 2.2.2

### Steps to reproduce

1. Created second store view with Arabic locale
2. Set the currency as SAR (saudi arabia riyal)

### Expected result

1. Currency symbol appear on arabic store view

### Actual result

1. Currency symbol is appearing in english store view but in arabic it's missing
![arabic_currency_symbol](https://user-images.githubuserconten

[2018-01-16 08:39] magento-engcom-team commented on #13158
@MattUnity thank you for your report,

Do you mean in backend bundle product has stock status "In Stock" but on the storefront, it isn't displayed?

[2018-01-16 08:47] MattUnity commented on #13158
That's correct - The bundle itself is flagged as In Stock in back end, and all the corresponding simple product options are all In Stock, but the product itself on front end will not display as anything other than Out Of Stock and refuse to work.

I've tested this on both a 2.1.6 vanilla and 2.2.2 vanilla installation and can confirm it only occurs on 2.2, 2.1 appears to work perfectly fine.

[2018-01-16 08:57] mihaifaget opened #13209 "Wysiwyg editor fails on IE11"
Install a clean magento. I am using 2.1.9 but the same thing happens in 2.2.2 and will happen on any version that still uses tinyMce 3.4.7

## Preconditions

Magento Version 2.*
## Steps to reproduce

Go to magento backend and edit any wysiwyg field using IE11. Select a text and click the link button. Or just click the wysiwyg html button.
## Expected result

Inserted link should be attached to se

[2018-01-16 09:00] digvijay2017 commented on #11347
@ebaschiera  I have tried to install the patch from the PR. But i am getting error :
![magento2](https://user-images.githubusercontent.com/30342958/34980164-9e0c67f4-fac9-11e7-8012-04c4e9fbbcd7.png)

I think, there is some mistake in the patch file :  https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/11602.patch

Is someone else install the patch from the PR ?

[2018-01-16 09:19] BKZYELON commented on #10311
I have same issue in 2.1.5..

How can i resolve it ?

[2018-01-16 09:24] magento-engcom-team commented on #13175
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2018-01-16 09:30] magento-engcom-team commented on #13168
@ajpevers, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-16 09:35] magento-engcom-team commented on #13175
@benyang2015, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-16 09:47] magento-engcom-team commented on #13176
@weynhamz , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-01-16 09:47] #13176 closed, assigned to nobody

[2018-01-16 10:18] davidverholen opened #13210 "Configurable Product Links Validation Bug when int value is 0"
### Preconditions
1. Magento 2.4-develop
2. Attribute with Source Model having 0 as one value
3. Create a simple Product with attribute value 0 selected

### Steps to reproduce

1. Create configurable containing the simple product via REST Api

### Expected result

1. Configurable Product is created with the linked simple product

### Actual result

1. Exception thrown: Product with id \"%1\" does

[2018-01-16 10:21] davidverholen commented on #13210
when it's confirmed I can provide a small pr just making the validation type safe

[2018-01-16 10:30] magento-engcom-team commented on #13176
@weynhamz, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-16 10:46] Dieudon opened #13211 "Updating category with /rest/V1/categories/ID does not update level"
When using the Magento 2 rest API for updating categories it will update all options except the **level** of the category.

### Preconditions
Magento version 2.1.10
PHP 7.0.22
Mysql 5.7.20

### Steps to reproduce
Perform call to  **/rest/V1/categories/8893** where 8893 is the ID of the category we want to update.
With in the body the following data where both **level** and **position** have been c

[2018-01-16 11:02] devamitbera commented on #10057
Same issue is also exist for magento 2.2.X

[2018-01-16 11:07] magento-engcom-team commented on #13205
@rigu12, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 11:12] allininfosystems opened #13212 "description field is not with html editor"
Hi,

I am trying to see wysing editor for description field for product edit in admin.I also set use wysing editor to yes in product attribute.Also I have ran indexer from terminal.

But I am not able to see wysing editor.

Please help

[2018-01-16 11:34] magento-engcom-team commented on #13209
@mihaifaget, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 11:40] Toregam commented on #12994
The permissions are 7 7 7

Il 16 gen 2018 9:14 AM, "Ruthger Idema" <notifications@github.com> ha
scritto:

[2018-01-16 11:46] kevincream opened #13213 "Fatal error at admin customer edit"
### Preconditions
1. PHP 7.0.25
2. MariaDB 10.1.29
3. Confirmed Magento versions: v2.2.0 & v2.2.2

### Steps to reproduce
1. Create user role with custom access
2. Enable everything under Sales, Customers & Stores leave the rest unchecked at Role Resources.
3. Add user to this role
4. Login with this user
5. Try to edit an existing customer

### Expected result
1. User can be editted

### Actual r

[2018-01-16 11:53] Sharkozp opened #13214 "Not a correct displaying for Robots.txt"
### Preconditions

1. Magento 2.2.1

### Steps to reproduce

1. Add new Robots to Content -> Configuration (Design) -> Edit (Global) -> Search Engine Robots
2. Add this lines:
[code]
3. Or reset to default
4. Check http://{magento_url}/robots.txt

### Expected result

1. It must show the same that added to textfield
[code]

### Actual result

1. It is showing all in one line:
![image](https://user

[2018-01-16 11:59] magento-engcom-team commented on #13186
@Olek89 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [X] Preconditions: Magento version
 - [X] Steps to

[2018-01-16 12:01] magento-engcom-team commented on #13181
@densen45, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 12:05] magento-engcom-team commented on #13212
@allininfosystems thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x]

[2018-01-16 12:05] styzzz commented on #13172
There used to be an extension for Magento 1 that would do this. I wish Magento 2 would build in this functionality, cause its useful, and may customers think there is a website error when they try and checkout, when it is really their error.

[2018-01-16 12:06] magento-engcom-team commented on #13140
@Hobbit78 , thanks for your response. We can close this issue?

[2018-01-16 12:17] ruthger92 commented on #12994
Hi @Toregam ,

Please set xDebug breakpoint to:
/vendor/magento/module-sitemap/Controller/Adminhtml/Sitemap/Generate.php:35

So, to be sure: line 35.
Set a watcher at $e, click at 'message'. Then you will get the error causing the sitemap fail.

Example of an sitemap error I get:
https://i.gyazo.com/43b9e8a4f6aaad5adeafc25c79aa1e74.png

After that you can start debugging! If you get the message, m

[2018-01-16 12:27] bexdoggett opened #13215 "Update to 2.1.11 from 2.1.10 causes MYSQL error when using a custom product attribute as a condition on the Catalog Products List widget"
### Preconditions

1. Magento 2.1.11
2. PHP Version 7.0.19
3. Percona for MYSQL 5.6.36-82

### Steps to reproduce

1. Upgraded 2.1.10 to 2.1.11
2. Login to Magento 2 Admin
3. Use Flat Catalog Product and Use Flat Catalog Category are set to yes
4. Content > Blocks > Select 'Homepage Featured Products' > Edit
5. Under Content > Insert Widget
6. Widget Type: Catalog Products List, Enter Title, Numbe

[2018-01-16 12:33] ruthger92 commented on #13186
Hi @Olek89 ,
Please check your tax settings on your shop. It's not a Magento 2 bug.
You get 20% discount of the price excluding TAX (Mwst.) at the moment, not from the price including TAX.

99,95/1,19 (price excluding TAX) = 83,99
20% of 83,99 = 16,80

**Please check in your Admin:**
Stores > Configuration > Sales > Tax > Calculation Settings > Apply Discount On Prices.
I believe it states 'Exclud

[2018-01-16 12:34] nmallepally commented on #6360
Hi,

I have updated to 2.2.2 version from 2.1.8 but the bug still appears.
it still shows as an image instead of a youtube embedded video.

on the load it shows up as video loading with video symbol and then it jumps and comes up as an image.
![after loading](https://user-images.githubusercontent.com/19605497/34989180-73e0681e-fab9-11e7-8fcb-5411e4392e72.PNG)

Is there any workaround or quick fix

[2018-01-16 12:43] fwolfst commented on #12921
`bin/magento module:disable Temando_Shipping` fixes this for us. Thanks @orlangur for pointing out the relation with the other issue.
That means to have a 2.2.2 installation that works for customers with adblock you need to disable two foreign modules that were slipped in with 2.2.2 (Dotdigitalgroup_Email being the other one).

[2018-01-16 12:55] BabliDey commented on #6392
I am using magento 2.1.8. I my custom theme app\design\frontend\Sample\theme-frontend-shop\Magento_Catalog\templates\product\view\form.phtml I have  done

`$quoteId = $objectManager->get('Magento\Checkout\Model\Session')->getQuoteId();
$currentItemCount=0;
if(!empty($quoteId)){
   //$cartData = $objectManager->create('Magento\Quote\Model\QuoteRepository')->get($quoteId)->getAllVisibleItems();
	$ca

[2018-01-16 12:55] keinereiner commented on #7801
I have the same issue. @magento-engcom-team how you can say that you can't reproduce this bug? I think the screenshot and the desription desicribe the process correct.
And @oleg-onufer why is this not a bug? Two magento core modules should do not the same thing with the calculation! I think one of this module should check what the other modul do!

in the past i like magento, but with magento 2...

[2018-01-16 13:18] vaaralav opened #13216 "`quoteAddressToFormAddressData` mutates the argument"
### Preconditions

1. Magento >=2.1.9 (at least)

### Steps to reproduce

1. Require `'Magento_Checkout/js/model/address-converter'` inside any JavaScript module.
2. Call `quoteAddressToFormAddressData` method with some `address`.

### Expected result

1. `address.street` should remain as an array. Eg. `['Sesame Street']`

### Actual result

1. `address.street` becomes an object. Eg. `{0: 'Sesame

[2018-01-16 13:30] troublediehard commented on #12112
I had the same error with php7.0 but works fine with 7.1, so I think it could relate to PHP version or configuration.

[2018-01-16 13:30] magento-engcom-team commented on #13139
@AleksLi, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 13:35] BabliDey commented on #6624
I am using magento 2.1.8. I my custom theme app\design\frontend\Sample\theme-frontend-shop\Magento_Catalog\templates\product\view\form.phtml I have  done

`
$quoteId = $objectManager->get('Magento\Checkout\Model\Session')->getQuoteId();
$currentItemCount=0;
if(!empty($quoteId)){
	$cartItems = $objectManager->get('\Magento\Checkout\Model\Session')->getQuote()->getAllVisibleItems();
	$itemsIds = arr

[2018-01-16 13:41] sabarivenkat commented on #11529
I am also facing the same issue in Magento 2.2.2 itself. I think this happens only when upgrading the Magento version.

[2018-01-16 13:57] Igloczek opened #13218 "CLI Backup doesn't work properly when directory is a symlink"
### Preconditions
1. Symlinked `pub/media` directory

### Steps to reproduce
1.  `bin/magento setup:backup --media`

### Expected result
1. Fully functional backup file

### Actual result
1. Backup size is 4KB and contains just a symlink

@matthiasherold hint - it might be a `magento/framework/Backup/Filesystem/Helper.php:110`

[2018-01-16 14:02] magento-engcom-team commented on #13214
@Sharkozp, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 14:12] BabliDey opened #13219 "Full page cache problem in magento 2"
https://github.com/magento/magento2/issues/6624
https://github.com/magento/magento2/issues/6392

As the two above told issues are closed that's why I am posting this .

I am using magento 2.1.8. I my custom theme app\design\frontend\Sample\theme-frontend-shop\Magento_Catalog\templates\product\view\form.phtml I have  done

`
$quoteId = $objectManager->get('Magento\Checkout\Model\Session')->getQuote

[2018-01-16 14:22] PascalBrouwers commented on #13218
Related issue: https://github.com/magento/magento2/issues/6470

[2018-01-16 14:30] magento-engcom-team commented on #13010
@nuethicadam, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 14:55] magento-engcom-team commented on #13158
@MattUnity, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-16 15:00] koenner01 opened #13222 "Magento\Sales\Api\Data\OrderPaymentInterface is missing a setter for 'additional_information' data"
When trying to run a payed order through a \Magento\Framework\Webapi\ServiceOutputProcessor it will fail because the 'additional_information' data has no corresponding setter defined in the interface.

### Preconditions
1. PHP7
2. CE 2.2.2

### Steps to reproduce
1. Create a payed order
2. Try to process the order with a \Magento\Framework\Webapi\ServiceOutputProcessor:

[code]

### Expected resul

[2018-01-16 15:29] koenner01 commented on #13222
The \Magento\Sales\Model\Order\Payment\Info class however does have that setter implemented (and the order payment extends this class)

[2018-01-16 15:32] Bilbaukai commented on #5929
@magento-engcom-team Is it ever going to be fixed on 2.0.X ?

[2018-01-16 15:42] Detzler commented on #12910
so whats the next procedure?

[2018-01-16 15:57] sumanta-ghosh opened #13224 "Integrity constraint violation: 1062 Duplicate entry 'default-0-system/full_page_cache/varnish/access_list'"
### Preconditions

1. Install V2.2.2

### Steps to reproduce

1. Enable developer mode and then maintenance mode and then defaults mode again.
2. Access the Admin » Stores » Configuration » Advanced »System

I don't know the exact step to reproduce the issue, I play with Magento command.

### Expected result

1. It shows system related settings options

### Actual result
![image](https://user-imag

[2018-01-16 16:14] rigu12 commented on #13205
Have a solution now? @magento-engcom-team Thank you

[2018-01-16 17:01] scottsb opened #13225 "Merged CSS/JS files require pub/static/_cache writeable, contrary to documentation"
### Preconditions
1. Have Magento installed with two filesystem owners [as documented](http://devdocs.magento.com/guides/v2.2/config-guide/prod/prod_file-sys-perms.html), with all code files (source and CLI-generated) read-only for web server user. This includes the full `pub/static` directory.
2. Turn on the merging of CSS or JS files.

### Steps to reproduce
Clear static file cache and load home

[2018-01-16 17:23] indefinitedevil commented on #12983
Where Temando_Shipping came from: "Magento Shipping (powered by Temando)" http://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.2CE.html

However, we are still getting this issue on M2.2.2EE with Temando_Shipping disabled having flushed the cache, cleared the generated files, cleared the view_preprocessed files, and cleared the static content.

[2018-01-16 17:25] attiquer commented on #8084
Using Magento 2.1.11 and still get this error when trying to view a configurable product with alot of configurations (around 1,000).
Please re-open this issue !

[2018-01-16 17:34] Olek89 commented on #13186
Hello ruther92,

thank you very much, that`s working.

[2018-01-16 17:41] torhoehn opened #13226 "Can't close full screen gallery on iOS devices"
It's not possible to close the full screen image gallery on iOS devices. Maybe other devices are affected.
I found some other issues or comment regarding this topic, but they've been closed by mistake.
https://github.com/magento/magento2/issues/12185
https://github.com/magento/magento2/issues/12490#issuecomment-353934666
https://magento.stackexchange.com/questions/207194/magento-2-product-gallery-

[2018-01-16 18:00] ripen-misha commented on #13213
Running into the same issue. A user with admin privileges can edit customer just fine, but a user with custom access  (Sales/Orders, Customers, System/Notifications) cannot access Edit Customer page. After clicking Edit link on the customer grid, the page fails to load. Fatal error is found in php log (the same error as reported in the original post.)

Magento ver. 2.2.0

[2018-01-16 18:02] salelsol commented on #9965
- Just uncheck: Hide from Product Page for images stay the same.

[2018-01-16 18:45] crantron commented on #11754
@versivers can you provide the fix implemented?

[2018-01-16 19:01] versdivers commented on #11754
@crantron I wrote my fix 3 comments ago with the side notification that i'm not sure if that is what fixed it. I developed a whole theme so i would need to look into it. But try what i did above if you use bootstrap.

[2018-01-16 19:02] OZZlE commented on #9965
Magento has told us at least not to use Flat tables in M2, might be interesting to know..

[2018-01-16 19:04] OZZlE commented on #13219
You should never user ObjectManager in M2 unless you are writing a Symfany a lá `php bin/magento` script..

[2018-01-16 19:09] lecahipe commented on #11892
I have installed magento 2.2.0 and still having this problem

[2018-01-16 19:32] oviliz commented on #12878
Hope we'll see a fix soon. Just launching a website to then find this... :o:

[2018-01-16 19:40] abrittis commented on #10172
I agree with korostii.  Why is the attribute code uneditable, and there is a automatic generator that uses the label to generate an invalid one - thus limiting the ability to name the label.

Either:
   1.  Allow the user to generate their own code.  System can give a uniqueness error length error as needed.
   2.  If the editor / system feels the need to generate a code (i.e. the user left it bla

[2018-01-16 20:41] novakivskiy opened #13227 "Knockout Recently Viewed contains wrong product url (with category path), also not correct url <meta property="og:url"> on product view page"
### Preconditions

1. Magento 2.2.2
2. PHP 7

I added "Recently Viewed" to the product page. Using  xml layout
[code]

### Steps to reproduce

1. Site use product configuration "Use Categories Path for Product URLs" = NO
2. Open several products to fill history of the products viewed
3. On any page of the site, open  page inspector(web developer utility)  and see the local storage cache "product_d

[2018-01-16 20:58] ishakhsuvarov commented on #8453
Hi @joost-florijn-kega. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1216 by @serhii-balko in 2.2-develop branch
Related commit(s):
 - 21566e89530af3eda7ff0f11d6cdd3b50eb87c71

The fix will be available with the upcoming patch release.

[2018-01-16 20:58] #8453 closed, assigned to serhii-balko

[2018-01-16 20:58] ishakhsuvarov commented on #12967
Hi @linden2015. Thank you for your report.
The issue has been fixed in magento/magento2#12990 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - df2c8fdafb387b0e7817cba73b5c9cd1634ea6f2

The fix will be available with the upcoming patch release.

[2018-01-16 20:58] ishakhsuvarov commented on #12877
Hi @azeemism. Thank you for your report.
The issue has been fixed in magento/magento2#13066 by @jagritijoshi in 2.2-develop branch
Related commit(s):
 - bc434c1bd3cc043f988349c55a4e68d12aa17f34

The fix will be available with the upcoming patch release.

[2018-01-16 20:58] #12877 closed, assigned to nobody

[2018-01-16 20:58] #12967 closed, assigned to nobody

[2018-01-16 20:58] ishakhsuvarov commented on #12787
Hi @schmengler. Thank you for your report.
The issue has been fixed in magento/magento2#13033 by @devamitbera in 2.2-develop branch
Related commit(s):
 - 755978397a8d0bacbfe81f7240b1e3ff3b9b23af
 - b85349745c4a593306edf61dae2235cd96a0fcd2
 - be8b258b6a7ff406f099619c917e2001731f1157

The fix will be available with the upcoming patch release.

[2018-01-16 20:58] #12787 closed, assigned to devamitbera

[2018-01-16 20:58] ishakhsuvarov commented on #8114
Hi @geon. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1032 by @RomaKis in 2.2-develop branch
Related commit(s):
 - 5bac54fc879f5551b8187c0250b5874efdb74391
 - 4456872bb47fee7271ce887a306e1bf7477e9d2e
 - 42ee7cc8bc5e2bb8121e9e13b1c90b3255ba6897

The fix will be available with the upcoming patch release.

[2018-01-16 20:58] #8114 closed, assigned to RomaKis

[2018-01-16 21:15] YuanXiong opened #13228 "Magento 2.2.2 catalog product list widget showing items incorrectly"
### Preconditions

1. Magento version EE 2.2.2, PHP version 7.0.22
2. Have 6 product items in stock
### Steps to reproduce

1. Log in to the store admin dashboard, go to Content->Pages
2. Edit the default home page template, insert a widget with type = Catalog Products List.
3. Save the page and refresh the cache.

### Expected result

1. Showing 5 product items each row with the same width on lar

[2018-01-16 21:21] TimQSO opened #13229 "Peristent cart cookie is not generated for guests and thus persistent cart isn't working"
When we want to use the Persistent Shopping Cart functionality it does not seem to work for guest users. For guest users the persistent shopping cart cookie isn't created and thus when the session expires the shopping cart is gone.

**Preconditions**

1. Magento 2.4
2. PHP 7.3 | Ubuntu 18.04 LTS | Nginx 1.14.0 or Apache 2.4.29
3. MySQL 5.7.28

**Steps to reproduce**
1. Enable Persistent Shopping C

[2018-01-16 21:30] aeu commented on #9998
We changed PayPal providers and I am also seeing this.  I am also seeing this issue.

[2018-01-16 21:44] danijelkusic opened #13230 "Price change when Locale changes to Serbian"
### Preconditions

I have a multilingual magento. It's all in EURO currency. When "Locale" changes to Serbian (In Serbian Store View ), the price changes. Instead of e.g. € 441.16 be 0.441 €

### Expected result
The price should remain unchanged

Magento 2.2.2
PHP 7.1.13
SQL 5.5.32
System Linux

![serbian](https://user-images.githubusercontent.com/35351307/35013779-ba82fffc-fb0e-11e7-91ab-9e823453

[2018-01-16 22:09] harrywutech opened #13231 "Default State or Province is not pre-selected in the Estimate Shipping and Tax"
### Preconditions

1. Magento CE 2.1.9 with sample data is installed.

### Steps to reproduce

1. Go to Admin -> Stores -> Sales -> Tax ->Default Tax Destination Calculation
2. Set Default Country to Canada and set Default State to British Columbia

### Expected result

1. The default state or province should pre-selected as British Columbia

![shopping cart](https://user-images.githubusercontent.

[2018-01-16 22:22] Lukas1Komarek commented on #4927
I had this issue while saving my custom entity with _entity_id =""_. I spent hours before realizing that entity_id has to be explicitly set to _null_.

[2018-01-16 23:41] oviliz commented on #10499
2.2.2 is the same...

[2018-01-16 23:43] oviliz commented on #11498
This is still happening with 2.2.2 and 2.2.1 as pointed in https://github.com/magento/magento2/issues/10499, why is it closed?

[2018-01-16 23:49] smashhell commented on #5351
Magento version 2.2.2 confirmed this is still an issue.

[2018-01-17 00:41] KSaho commented on #6639
I've just had an interesting issue with the Magento 2 Web API that has the same result, but with a twist.

**Preconditions:**
PHP 7.0.22-0ubuntu0.16.04.1
Magento CE 2.2.2
redis-cli 4.0.2
mysql 5.7.20

**Steps to reproduce:**
Default install
Set Mage environment to production
Use page cache (Redis) - Not sure if this has anything to do with it.
Call the Web API from a local machine to the server an

[2018-01-17 01:29] KSaho opened #13232 "Magento 2 REST Web API calls leak the full database query"
I've just had an interesting issue with the Magento 2 Web API.

**Preconditions:**
PHP 7.0.22-0ubuntu0.16.04.1
Magento CE 2.2.2
redis-cli 4.0.2
mysql 5.7.20

**Steps to reproduce:**
Default install
Set Mage environment to production
Use page cache (Redis) - Not sure if this has anything to do with it.
Call the Web API (REST API: catalogProductRepositoryV1 GET products/) from a local machine to the

[2018-01-17 01:55] magento-team commented on #5550
Hi @Sanfam. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1117 by @nmalevanec in 2.2-develop branch
Related commit(s):
 - a975698726721488ab14c5f6a03b517f2a690f00

The fix will be available with the upcoming patch release.

[2018-01-17 01:55] #5550 closed, assigned to nobody

[2018-01-17 01:55] magento-team commented on #11828
Hi @lee586. Thank you for your report.
The issue has been fixed in magento/magento2#13101 by @chris-pook in 2.2-develop branch
Related commit(s):
 - ee5fc2ece394318aa8f06ecaaae15ffc6dddb645

The fix will be available with the upcoming patch release.

[2018-01-17 01:55] #11828 closed, assigned to nobody

[2018-01-17 02:27] lee586 commented on #12317
Thank you for working on this @hitarthpattani. This is a major issue for anyone having configurable products with 2 or more attributes trying to control inventory.

[2018-01-17 02:36] okorshenko commented on #12967
Hi @linden2015. Thank you for your report.
The issue has been fixed in magento/magento2#12991 by @ihor-sviziev in 2.1-develop branch
Related commit(s):
 - a6b9571a25c08634ff32cbd533888e3b5cbf9643

The fix will be available with the upcoming patch release.

[2018-01-17 04:55] BabliDey commented on #13219
Then how can I get cart item count from a custom theme html page?

[2018-01-17 06:23] zaheerbadi commented on #13116
@magento-engcom-team any progress on this please guide us on this if possible?

[2018-01-17 06:41] magento-engcom-team commented on #13186
@Olek89, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-17 06:43] #13186 closed, assigned to nobody

[2018-01-17 06:48] davidverholen opened #13234 "[2.3.x][REST] required configurable attributes should not be required value in configurable product"
### Preconditions
1. Magento 2.3.x CE & EE
1. API Integration in place

### Steps to reproduce
1. Create a custom required, global product attribute that can be used for configurations (e.g. select)
1. Create one or more simple products with different values for the attribute
1. Create a configurable product over the rest api and leave the required attribute empty
(I think the API point is only im

[2018-01-17 07:21] aathil-ali opened #13236 "set default vlaues in checkout in magento 2"
### Preconditions

1. I need set default vlaues in checkout in magento 2

[2018-01-17 07:22] davidverholen commented on #13210
update: it does not happen when saving the product in the backend because the problem is in a Plugin on the ProductRepository which is not used for saving the Product in the Adminhtml Save Controller

[2018-01-17 07:24] magento-engcom-team commented on #13236
@aliaathil Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2018-01-17 07:37] aathil-ali opened #13237 "set default vlaues for region (state) in checkout in magento 2"
### Preconditions

1. set default vlaues  for region (state) in checkout in magento 2

### Steps to reproduce

1.
<script>
    require([ 'jquery', 'jquery/ui'], function($)
        setInterval(function () {
                if($('input[name="city"]').val() != 'Perth')
                {
                    $('input[name="region"]').val("WA");
                    $('input[name="region"]').prop('disab

[2018-01-17 07:49] davidverholen commented on #13210
update: also some interesting behavior / bug: if you update the product via PUT request and do not specify type_id: configurable in the payload, the validation is not triggered since the product is not considered a configurable product here:  https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/ConfigurableProduct/Model/Plugin/ProductRepositorySave.php#L60

[2018-01-17 08:24] magento-engcom-team commented on #13236
@aliaathil, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-17 08:25] magento-engcom-team commented on #13236
@aliaathil Closing this one, because of https://github.com/magento/magento2/issues/13237

[2018-01-17 08:25] #13236 closed, assigned to nobody

[2018-01-17 09:12] magento-engcom-team commented on #13213
@kevincream, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-17 09:12] magefan commented on #13213
We have the same issue.

[2018-01-17 09:17] magento-engcom-team commented on #13211
@Dieudon, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-17 09:17] lokeg888 commented on #6803
HI All,

here is the solution to resolve the issue.

app\code\DieKavallerie\ProductImageFix\Model\Catalog\Product\Gallery\Processor.php

Please search for $mediaGalleryData['images'][] = [
            'file' => $fileName,
            'position' => $position,
            'label' => '',
            'disabled' => (int)$exclude,
               ];

and replace with
$mediaGalleryData['images'][] = [

[2018-01-17 10:10] ruthger92 commented on #13186
No problem! @Olek89

[2018-01-17 10:30] bpoiss commented on #11585
Have you found a workaround for this bug?

[2018-01-17 11:04] luckyduck commented on #10580
Same for de_DE on 2.1.9

[2018-01-17 11:06] am-wtw commented on #2746
I am facing the same issue in 2.2.1.
Anyone has any idea how to resolve it in 2.2.1.

[2018-01-17 11:24] Arcturpartner commented on #12421
I have same issue when i save some of my websites in design configuration (Content -> Design -> Configuration). With some websites I don't have an issue when saving!

[2018-01-17 11:44] magento-engcom-team commented on #13230
@danijelkusic, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-17 11:48] ebaschiera commented on #12218
I got the same issue with a 94% discount on a whole cart.
Commmit https://github.com/ajpevers/magento2/commit/847d412f8f9e2abeba97ac3999f6a1fbdf3ae9f2 fixed my issue. Thanks!

[2018-01-17 11:51] danijelkusic commented on #13230
It's nice, is there anything I can do to fix the problem right now?

There is one more thing. When the interface language is set, there is Serbian (Cyrillic). That's fine, but there should be a Serbian (Latin)

[2018-01-17 11:52] ebaschiera commented on #12218
Sorry, I forgot to mention that I am on Magento EE 2.1.10.

[2018-01-17 12:14] magento-engcom-team commented on #13231
@hanxiangwu, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-17 12:30] magento-engcom-team commented on #12882
@hemendraajmera, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-17 12:30] #12882 closed, assigned to nobody

[2018-01-17 12:47] chedaroo commented on #12474
Is this not a dupe of #12317?

[2018-01-17 12:48] ramusadwika commented on #13006
Hi @rohit-wagento ,

Have you checked this issue.

[2018-01-17 12:48] devenkuswa commented on #6167
@veloraven I am facing same issues on 2.1.7.
There are approx 1000 associate product with 7 attribute. It does not allow to save product after a limit and crash, eventually it even not allow to open that edit screen.
On save it shows "413 Request Entity Too Large" and on hitting product edit URL it shows "503 Service Unavailable". I have already made changes in server configuration.
I have tried o

[2018-01-17 12:55] Mistrb opened #13239 "City is required by FedEx Freight in Cart Estimation"
When using FedEx freight, it is required to pass the City in addition to State and zipcode in order to get a freight estimate. M1 supported this by having a "City" field in the "ESTIMATE SHIPPING AND TAX" area in the cart. This field is no longer available.

### Preconditions
Magento 2.1.10

### Expected result
A shipping quote from Fedex

### Actual result
Carrier requires City, which is missing.

[2018-01-17 13:16] Ekkoe commented on #8807
This bug is appearing for us in version 2.2.2. Cache doesn't seem to affect it.

1. Open page of configurable product
2. Select the configuration (e.g. 'Size XL') from the dropdown menu
3. Press 'add to cart'

Expected result: the product is added to cart with the appropriate size.

Actual result: the page reloads and the message 'You need to choose options for your item' appears.

[2018-01-17 13:16] koenner01 opened #13240 "Permanent 301 redirect is not generated when product url changes on storeview scope"
When changing a product's url in the backend on storeview scope, there is no 301 rewrite being generated.

### Preconditions
1. PHP7
2. CE 2.2.2 (we previously tested this issue too on 2.1.7+ and it existed there too)

### Steps to reproduce
1. Create a website and add multiple storeviews to it
2. Create a product, add it to your new website and then save it
3. Now change the store scope on the pr

[2018-01-17 13:17] BabliDey opened #13241 "Cart Does not contain item"
### Preconditions

1. Installed magento 2.1.8 community version.
2. installed some 3rd party modules like custom checkout field, Heidelpay, multiflatrate, Google analytics, Blog and trusted shop.
3. Installed custom theme for designing

### Steps to reproduce

1. Adding a product in cart and do not checkout
2. After a long time when cart is empty trying to add a product in my cart again
3.

### Ex

[2018-01-17 13:19] rohit-wagento commented on #13006
HI @ramusadwika ,
I have found the code, which is causing the issue i am checking on it to fix it

[2018-01-17 13:24] magento-engcom-team commented on #13241
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).  We will need some steps to reproduce in order for us to help you with that problem, thank you.

[2018-01-17 13:34] novakivskiy commented on #13227
if I activate the configuration "Use Canonical Link Meta Tag For Products = YES",
then the tag will be added to the page `<link  rel="canonical"> </link>` (program code https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/Block/Product/View.php, 153 line ). But this is not logical behavior, because I have a configuration "Use Categories Path for Product URLs = NO"

[2018-01-17 13:34] bpoiss commented on #11585
@TechOS-PL what if I have custom sales rules?

[2018-01-17 13:34] swissdeveloper commented on #12412
Any updates or fixes on this issue?

[2018-01-17 14:03] patchee500 commented on #12612
I also ran into this issue.
From what I am seeing this happens only to users who get their customer group emulated (and vat number validated) during checkout. (customers with a valid tax id shipping to another country within the EU that is)

When Magento fetches an address object from db it seems to turn the region data into an array (`Magento\Customer\Model\Address\AbstractAddress::getDataModel`,

[2018-01-17 14:12] YachYaroslav commented on #12459
I've faced this issue too.

* Magento 2.2
* Grunt-cli 1.2.0
* Grunt 1.0.1

Same steps as in @skilar info.

[2018-01-17 14:21] magento-engcom-team commented on #13218
@Igloczek, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-01-17 14:54] magento-engcom-team commented on #13224
@sumanta-ghosh Thanks for your report. Please clarify your steps, and exact commands and the order that you used, thank you.

[2018-01-17 15:00] magento-engcom-team commented on #13177
@bambamboole , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-17 15:03] magento-engcom-team commented on #13215
@bexdoggett , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-17 15:08] juansumma commented on #9137
@darkogoles1 but if you set "is_system = 0", you won't see the field in the edit customer form in the admin

[2018-01-17 15:18] attheCube commented on #13139
@magento-engcom-team
I got the same problem after updating from 2.1.3 to 2.1.10 for german admin language.
Datepicker is formatting like dd.mm.yyyy and js-validation refuses.

[2018-01-17 15:22] peterjaap commented on #7658
Did some further digging.

This UI component is the part that gets added to the main content XML, causing it to break; `vendor/magento/module-configurable-product/view/adminhtml/ui_component/product_form.xml`

This UI component exists of the block `Magento\ConfigurableProduct\Block\Adminhtml\Product\Edit\Tab\Variations\Config\Matrix` with the template `vendor/magento/module-configurable-product/vi

[2018-01-17 15:53] amardeepthadisetty commented on #3307
I have a different problem. My magento version is 2.2.2. I am using the following code:
`"entity": {
"orderId": 4883,
								  "items": [
									{
									  "extension_attributes": {},
									  "order_item_id": "7141",
									  "qty": "1"
									}
								  ],
								  "notify": true,
								  "append_comment": true,
								  "comment": {
									"extension_attributes": {},

[2018-01-17 16:19] Ahsaa opened #13242 "Mangento 2.2.2 Checkout issue"
![untitled](https://user-images.githubusercontent.com/35535569/35053422-0f3867a0-fbd0-11e7-82e3-bd06a7a60e0a.jpg)

Please provide solution. once i click on GO TO Checkout the page is just loading.

[2018-01-17 16:28] vtimonin opened #13243 "FPC of the pages related to a purchased product is flushed after every checkout"
By default, Magento 2 flushes 'full page' cache of the pages related to a purchased product after every checkout. While a part of the customers make their orders, the other customers browsing the categories can experience intermittent slower page loads because pages are not served from the cache

### Preconditions
1. Varnish is used for FPC

### Steps to reproduce
1. Open a product detail page.
2.

[2018-01-17 16:29] SarrahE opened #13244 "Content pages are not loading in admin"
When I log into the dashboard on Magento 2.2.2 The dashboard loads just fine. I click on content and then pages and nothing will load. It just spins in the center of the screen. I let it sit for about 30 minutes and it still would not load.

[2018-01-17 16:31] krisztian-fekete commented on #6382
I'm having this issue with 2.2.1.

### Workaround
Stretching the default (20x30) swatch image using `background-size: cover` looks a bit ugly if you need a bigger swatch, so as a workaround, I used the thumbnail image (it's loaded anyway, so this doesn't have any performance impacts I think).

1. I needed this for the layered navigation, so I copied `vendor/magento/module-swatches/view/frontend/te

[2018-01-17 17:01] lingwooc commented on #12828
@Yonn-Trimoreau you've probably seen in the other issue but it's definitely loading the new js. I also tried require directly, bizarrely that doesn't work either. I'm just going to block the script on the effected pages of the checkout (maybe them all!)

[2018-01-17 17:10] magento-team commented on #11428
Hi @sasilinux. Thank you for your report.
The issue has been fixed in magento/magento2#13141 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - 976182b27212fb22bdb12c0a2da3e6a3e7231368
 - 3fc1f40d84b319e254284054c8a4dfe4aacf1a18
 - 0f36e0eac721070312fede445aa13d3b838e35d4

The fix will be available with the upcoming patch release.

[2018-01-17 17:10] #11428 closed, assigned to mrodespin

[2018-01-17 17:10] magento-team commented on #11497
Hi @pmoreno1980. Thank you for your report.
The issue has been fixed in magento/magento2#13141 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - 976182b27212fb22bdb12c0a2da3e6a3e7231368
 - 3fc1f40d84b319e254284054c8a4dfe4aacf1a18
 - 0f36e0eac721070312fede445aa13d3b838e35d4

The fix will be available with the upcoming patch release.

[2018-01-17 17:10] #11497 closed, assigned to nobody

[2018-01-17 17:10] magento-team commented on #13095
Hi @rasmuswikman. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1207 by @nmalevanec in 2.2-develop branch
Related commit(s):
 - ecaa2c01e1d4c57b86a95404b61046db6ae2d580

The fix will be available with the upcoming patch release.

[2018-01-17 17:10] #13095 closed, assigned to nmalevanec

[2018-01-17 17:14] amardeepthadisetty commented on #3307
Here is the stack over flow question:
[https://stackoverflow.com/questions/48226701/magento-rest-api-tracking-number-not-being-updated](url)

[2018-01-17 17:55] VincentMarmiesse commented on #6868
Hello,
Any news on this issue?

[2018-01-17 17:56] hanxiangwu commented on #13231
Thank you, when this issue will be fixed? and if it is a easy fix, then how could we fix it by ourselves?

[2018-01-17 18:05] heidiboh commented on #4291
Using 2.2 This is still a problem. When uploading data matching the format of the sample file, get this error:
**Header contains invalid attribute(s): "reward_update_notification", "reward_warning_notification"**

[2018-01-17 18:09] vipin12117 opened #13245 "After upgrade 2.1.8 to 2.2.2. frontend page not being loading"
### Preconditions

1. www.durattach.com
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-01-17 19:00] OZZlE commented on #13219
You could use a Controller and put the class in the constructor

[2018-01-17 19:23] piotrekkaminski commented on #8099
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2018-01-17 19:23] #8099 closed, assigned to nobody

[2018-01-17 19:23] piotrekkaminski commented on #3209
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2018-01-17 19:23] #3209 closed, assigned to nobody

[2018-01-17 19:23] piotrekkaminski commented on #13115
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2018-01-17 19:23] #13115 closed, assigned to nobody

[2018-01-17 19:23] piotrekkaminski commented on #12996
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2018-01-17 19:23] #12996 closed, assigned to nobody

[2018-01-17 19:23] piotrekkaminski commented on #12885
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2018-01-17 19:23] #12885 closed, assigned to nobody

[2018-01-17 19:23] piotrekkaminski commented on #12854
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2018-01-17 19:23] #12854 closed, assigned to nobody

[2018-01-17 20:02] orlangur commented on #4927
@Lukas1Komarek well, it takes seconds to see the resulting SQL and observe oddities in it.

[2018-01-17 20:48] peterjaap commented on #7658
Apparently, I completely overlooked this workaround; https://github.com/magento/magento2/issues/8084#issuecomment-335239220

This works, although of course it is still terribly slow.

[2018-01-17 21:46] raycenakayama92 opened #13246 "M 2.1.7 Special Price Date From and To Fields are missing"
### Preconditions

1. Under Advanced Pricing, in the edit page of an Item Record, the two special price date fields are missing.
2. Where/how can I make these fields visible?

### Steps to reproduce

1. Search Catalog, pick an item to edit
2. Go to edit page for that item
3. Go to Advanced Pricing, no special price date fields

### Expected result

1. There should be Special From and To date field

[2018-01-17 22:20] khawaib commented on #9988
I tested it in 2.2.2 and this problem still exists.
SKU is VL-50 and when searched no results. Advanced search returns correct results shwne SKU is searcched there.

[2018-01-17 23:42] careys7 commented on #8099
@piotrekkaminski is this a feature?

[2018-01-18 00:59] floorz commented on #5304
Does this new approach to adding Payment Methods apply to Offline Payment Methods, such as one similar to Purchase Order?

I ask because I've gotten pretty far down the line using the deprecated approach which shows my payment method in the checkout, but after converting it over to the Adapter approach the method no longer shows in checkout.

[2018-01-18 03:05] magento-team commented on #12430
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#13025 by @pradeep-wagento in 2.2-develop branch
Related commit(s):
 - b3c0a3f3cc6d3e2fcf944bffa41735a1a97fb3d9

The fix will be available with the upcoming patch release.

[2018-01-18 03:05] #12430 closed, assigned to pradeep-wagento

[2018-01-18 03:15] duffner commented on #8734
@magento-engcom-team, I was able to reproduce it.  It appears this is only an issue with "production" mode enabled.  However, it doesn't appear to me in "developer" mode using an Ubuntu 14, NGNIX based installation.

[2018-01-18 04:49] #13237 closed, assigned to nobody

[2018-01-18 05:04] bondimedical3 opened #13247 "M2.2.2 Multiple Bugs with Product Videos on Mobile"
### Preconditions
1.  Magento 2.2.2
2.  PHP 7.1

### Steps to reproduce
1.  Add a YouTube Video to a product page
2.  Move it to second position and place a static image first

### Expected result
1.  YouTube video should play

### Actual result
1. YouTube video does not play
2. When the YouTube video is placed in the second position it does not play no matter how many times it is pressed on mobil

[2018-01-18 05:14] simpsonguy02 commented on #3917
Anyone have a solution for this? I have tried reindex and reset solutions and this did not fix issue for me?

[2018-01-18 05:15] aasim110 commented on #9833
@jmtakahashi truncate the entire table except image entries.

[2018-01-18 05:42] amardeepthadisetty opened #13248 "Unable to update tracking number, carrrier code and title using magento rest api"
My magento version is 2.2.2. I am using the following code:
`"entity": { "orderId": 4883, "items": [ { "extension_attributes": {}, "order_item_id": "7141", "qty": "1" } ], "notify": true, "append_comment": true, "comment": { "extension_attributes": {}, "comment": "Item(s) has been shipped", "is_visible_on_front": 0 }, "tracks": [ { "extension_attributes": {}, "track_number": "028806881473805", "ti

[2018-01-18 06:10] Ananth747 commented on #13183
Hi, @Joni-jones, as you said I have changed `test mode` option to `false` then changed Gateway URL and Transaction Details URL to test URLs.

After that, we tested on development website and got below message from test transact.dll URL:

Please let me know how to solve the above issue.

[2018-01-18 06:30] avinashsamala opened #13249 "Magento 2 Product Collection API with price filter"
Hi Team,

I am getting issue with Magento 2 Rest API for product collection with price fileter. Please check below link,

https://magento.stackexchange.com/questions/204704/magento-2-filter-products-by-price-from-rest-api

thanks,

[2018-01-18 07:09] joni-jones commented on #13183
At first, you need to check `debug.log` and `exception.log` in Magento, also, please, check transaction status on Authorize.net side. Seems like something is not configured properly.

[2018-01-18 07:15] BabliDey commented on #13241
Hello @magento-engcom-team I have updated my post in proper way. Have a look now.

[2018-01-18 08:09] magento-engcom-team commented on #13241
@BabliDey Thanks for your report, unfortunately, we can't reproduce the issue with a clean instance of Magento. We would recommend you trying to clear your cache, the problem might be there, but it looks like it's a 3'rd party code that is a problem, try to figure out which one of them causing the problem, by running one of them at a time.  If the problem won't be solved,  please refer to the [Com

[2018-01-18 08:12] magento-engcom-team commented on #13241
@BabliDey, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-18 08:13] #13241 closed, assigned to nobody

[2018-01-18 08:37] cmuench opened #13250 "Unable to translate custom attributes in admin backend"
### Preconditions
A custom attribute is created.
We have different frontend labels for the attribute. Store views with different locale settings exist.
Admin users are speaking different languages and need a localized attribute label.

### Steps to reproduce
Create an custom attribute with different frontend labels.

### Expected result
There are two possible results:

1. A user can see the specif

[2018-01-18 08:39] magento-engcom-team commented on #13242
@Ahsaa thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [X] Preconditions: Magento version
 - [X] Steps to r

[2018-01-18 08:43] magento-engcom-team commented on #13244
@SarrahE  thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps t

[2018-01-18 08:53] magento-engcom-team commented on #13245
@vipin12117  thank you for your report
Unfortunately, we can't reproduce this issue.
Please provide us more information on how you did it step by step.

[2018-01-18 09:12] koenner01 opened #13252 "Fetching customer entity through API will not return 'is_subscribed' extension attribute"
In the Magento_Newsletter module an extension attribute 'is_subscribed' is defined for the \Magento\Customer\Api\Data\CustomerInterface. However when fetching the customer through api, the extension attribute is not present in the data.

### Preconditions
1. PHP7
2. CE 2.2.2 (also tested EE 2.2.2)

### Steps to reproduce
1. Create a new customer through the frontend registration and make sure to c