[2020-02-13 05:09] ajijshekh123 commented on #26797
@magento give me 2.4-develop instance

[2020-02-13 05:09] magento-engcom-team commented on #26797
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-13 05:10] magento-engcom-team commented on #26797
Hi @ajijshekh123, here is your [Magento instance](https://i-26797-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26797-2-4-develop.instances.magento-community.engineering/admin_1cee](https://i-26797-2-4-develop.instances.magento-community.engineering/admin_1cee)
Login: `162350fa` Password: `6d3edb22a9af`
Instance will be terminated in up to 3 hours.

[2020-02-13 05:22] LiamKarlMitchell commented on #4536
Still a problem.. Magento 2.3.2

Checking if this work-around solves it...
https://github.com/pavelleonidov/magento2-tinymce4

[code]

But I think disabling the p tags by using forced_root_block might have an adverse effect of preventing some features/styling of sections of text.

```php bin/magento setup:upgrade && php bin/magento setup:di:compile && php bin/magento setup:static-content:deploy -f

[2020-02-13 05:50] irshad-iflair opened #26853 "Tax with Country store dropdown option not auto select actual tax rate calculation."
### Summary of the issue (*)
-> Magento CE 2.3.2 with sample data is installed.
-> **I need, Multiple stores have a common country (i.e. united states and country states should be all) then different tax rules for all stores(*)**.

### Examples (*)
->  I create Two different stores **US and US1 for the common country (i.e. united states)** https://i.stack.imgur.com/S3X1I.png. Then create two diffe

[2020-02-13 05:51] ajijshekh123 commented on #26797
Hi @ganedda-softfobia,
I have reproduced this issue in default Magento 2.4 Instance as per defined steps.
**See attached the video:**

![Payment_T C_Issue](https://user-images.githubusercontent.com/24711761/74405375-f3a23480-4e52-11ea-9339-97753d4c34d1.gif)

Thanks.

[2020-02-13 05:52] irshad-iflair commented on #26853
yes

[2020-02-13 05:53] magento-engcom-team commented on #26797
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31471` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-13 05:56] #26834 closed, assigned to sudheers-kensium

[2020-02-13 05:56] ajijshekh123 commented on #26841
@Resurgem - Not able to reproduce this issue default Magento 2.3 instance on my local system.
Can I close this issue or not?

[2020-02-13 05:58] matthew-muscat opened #26854 "Configurable product displays a price of $0.00 when no options are selected"
### Preconditions (*)

1. "Catalog -> Inventory -> Display Out of Stock Products" is set to "Yes"

### Steps to reproduce (*)

1. Ensure that the system configuration of "Catalog -> Inventory -> Display Out of Stock Products" is set to a value of "Yes"
2. Navigate to a configurable product page, and view the product page with no options selected
3. Observe the frontend displaying "As low as $0"

#

[2020-02-13 05:59] matthew-muscat commented on #26854
@magento give me 2.4-develop instance

[2020-02-13 05:59] magento-engcom-team commented on #26854
Hi @matthew-muscat. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-13 05:59] magento-engcom-team commented on #26854
Hi @matthew-muscat, here is your [Magento instance](https://i-26854-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26854-2-4-develop.instances.magento-community.engineering/admin_2915](https://i-26854-2-4-develop.instances.magento-community.engineering/admin_2915)
Login: `da2f163b` Password: `8fe10e518844`
Instance will be terminated in up to 3 hours.

[2020-02-13 06:14] LiamKarlMitchell commented on #4536
I had this issue because I'm trying to put the WeltPixel Pearl theme Social Icons in the footer of a site.

https://pearl.weltpixel.com/v5/weltpixel-social-icons
[code]
Gets completely removed.

Maybe related/regression of this but should be fixed...
https://core.trac.wordpress.org/ticket/28940

If I put content in the i tag it is changed to an em tag, spans are changed to p as well.
Also media ur

[2020-02-13 06:17] matthew-muscat commented on #26854
This looks to be related to Multi Source Inventory — a similar issue is described over at https://community.magento.com/t5/Magento-2-x-Technical-Issues/Default-Configurable-Product-Pricing-states-0-00-after-setting/td-p/141223 and raised in https://github.com/magento/inventory/pull/2528

Upon further investigation, it would appear this issue was fixed in magento/inventory via https://github.com/ma

[2020-02-13 06:17] #26854 closed, assigned to matthew-muscat, krishprakash

[2020-02-13 06:25] magento-engcom-team commented on #26245
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#26246 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [7141278628d4ef0d54d244ab337cbea62e7f37d8](https://github.com/magento/magento2/commit/7141278628d4ef0d54d244ab337cbea62e7f37d8)
 - [a5f0d30e309aa8d2db9f138254cb1d35c752ec99](https://github.com/magento/magento2/commit/a5f0d30e309aa8d2db9f138254

[2020-02-13 06:25] #26245 closed, assigned to atwixfirster

[2020-02-13 06:25] magento-engcom-team commented on #26276
Hi @yutv. Thank you for your report.
The issue has been fixed in magento/magento2#26279 by @yutv in 2.4-develop branch
Related commit(s):
 - [26872216194a2c534104573bb3e25075d933fc0c](https://github.com/magento/magento2/commit/26872216194a2c534104573bb3e25075d933fc0c)
 - [4e81fd8452469c6497bd3362fe80d4006b43151b](https://github.com/magento/magento2/commit/4e81fd8452469c6497bd3362fe80d4006b43151b)

[2020-02-13 06:25] magento-engcom-team commented on #25487
Hi @toxix. Thank you for your report.
The issue has been fixed in magento/magento2#25488 by @toxix in 2.4-develop branch
Related commit(s):
 - [49809a7af6493851d88e858cf5b7dcead56ec38e](https://github.com/magento/magento2/commit/49809a7af6493851d88e858cf5b7dcead56ec38e)
 - [d4931eca33116a8dddba85ef6b139efa75b8bb5b](https://github.com/magento/magento2/commit/d4931eca33116a8dddba85ef6b139efa75b8bb5b

[2020-02-13 06:25] #25487 closed, assigned to toxix

[2020-02-13 06:25] magento-engcom-team commented on #863
Hi @nmohanswe. Thank you for your report.
The issue has been fixed in magento/magento2#26502 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [c9d5e8ef8e3b12f6483ec02e2bf561c2752b68d1](https://github.com/magento/magento2/commit/c9d5e8ef8e3b12f6483ec02e2bf561c2752b68d1)
 - [8357cf80e7cde248c091bf7fef6934c40e47400a](https://github.com/magento/magento2/commit/8357cf80e7cde248c091bf7fef6

[2020-02-13 06:25] magento-engcom-team commented on #24842
Hi @adrian-martinez-interactiv4. Thank you for your report.
The issue has been fixed in magento/magento2#24843 by @adrian-martinez-interactiv4 in 2.4-develop branch
Related commit(s):
 - [504dd9144be469897baf834e58ae057537a07288](https://github.com/magento/magento2/commit/504dd9144be469897baf834e58ae057537a07288)
 - [3eb4110c2b5d37df4a9d155d6dfe73042424b1c0](https://github.com/magento/magento2/com

[2020-02-13 06:25] #24842 closed, assigned to adrian-martinez-interactiv4

[2020-02-13 06:25] magento-engcom-team commented on #26141
Hi @textarea. Thank you for your report.
The issue has been fixed in magento/magento2#26142 by @textarea in 2.4-develop branch
Related commit(s):
 - [81b580accc3e0c48fb96f668be63680d9f055acd](https://github.com/magento/magento2/commit/81b580accc3e0c48fb96f668be63680d9f055acd)
 - [75b6674a6dbaa6ddce5ca4d11e48e8f787210280](https://github.com/magento/magento2/commit/75b6674a6dbaa6ddce5ca4d11e48e8f787

[2020-02-13 06:25] #26141 closed, assigned to textarea

[2020-02-13 06:25] magento-engcom-team commented on #26760
Hi @minhluan259. Thank you for your report.
The issue has been fixed in magento/magento2#26764 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [f9697f509ae09f5c9e0f0d7b1a2de7ed9a53fc16](https://github.com/magento/magento2/commit/f9697f509ae09f5c9e0f0d7b1a2de7ed9a53fc16)
 - [bf21c4bea3cbd600ee1333186bf43b3065847681](https://github.com/magento/magento2/commit/bf21c4bea3cbd600ee1333186bf4

[2020-02-13 06:25] #26760 closed, assigned to nobody

[2020-02-13 06:25] magento-engcom-team commented on #25245
Hi @vishalverma279. Thank you for your report.
The issue has been fixed in magento/magento2#25246 by @vishalverma279 in 2.4-develop branch
Related commit(s):
 - [6b3bd36cb4fda9a9f162f123932c6b9f93291ae9](https://github.com/magento/magento2/commit/6b3bd36cb4fda9a9f162f123932c6b9f93291ae9)
 - [c7483ba1085ed271e0e098de55bc1092a4910f09](https://github.com/magento/magento2/commit/c7483ba1085ed271e0e098

[2020-02-13 06:25] #25245 closed, assigned to nobody

[2020-02-13 06:25] magento-engcom-team commented on #14885
Hi @amenk. Thank you for your report.
The issue has been fixed in magento/magento2#26714 by @drpayyne in 2.4-develop branch
Related commit(s):
 - [4e1bfdeda9d7da91509a3f738e881ad92614a577](https://github.com/magento/magento2/commit/4e1bfdeda9d7da91509a3f738e881ad92614a577)
 - [2f591a8805a03ca0479724a695baeb67586a2e59](https://github.com/magento/magento2/commit/2f591a8805a03ca0479724a695baeb67586a2

[2020-02-13 06:25] #14885 closed, assigned to drpayyne

[2020-02-13 06:28] sdouma commented on #25670
seriously magento, this is a pretty big issue.

[2020-02-13 06:49] LiamKarlMitchell commented on #12165
Still a problem why is this closed?

[2020-02-13 08:07] Resurgem commented on #26841
Yeah

[2020-02-13 08:10] #26841 closed, assigned to nobody

[2020-02-13 08:27] TobiasCodeNull commented on #26384
The pull request has been accepted so you can use this patch to fix the issue in your Magento 2.3.3 instance: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/26548.patch

[2020-02-13 08:44] vincent-le89 commented on #26843
@magento give me 2.4-develop instance

[2020-02-13 08:44] magento-engcom-team commented on #26843
Hi @vincent-le89. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-13 08:45] magento-engcom-team commented on #26843
Hi @vincent-le89, here is your [Magento instance](https://i-26843-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26843-2-4-develop.instances.magento-community.engineering/admin_f7f3](https://i-26843-2-4-develop.instances.magento-community.engineering/admin_f7f3)
Login: `1f44e808` Password: `8bcd94ad2674`
Instance will be terminated in up to 3 hours.

[2020-02-13 08:45] magento-engcom-team commented on #847
Hi @kalenjordan. Thank you for your report.
The issue has been fixed in magento/magento2#25991 by @drpayyne in 2.4-develop branch
Related commit(s):
 - [9f1be1dbba124ca102ec414fa82f7e4967341d4e](https://github.com/magento/magento2/commit/9f1be1dbba124ca102ec414fa82f7e4967341d4e)
 - [8c4b6d6cb45fee6962ff7827832a9da79cd1aaa4](https://github.com/magento/magento2/commit/8c4b6d6cb45fee6962ff7827832a9da

[2020-02-13 08:47] drpayyne commented on #847
Hi @magento-engcom-team, how exactly did I fix this issue in https://github.com/magento/magento2/pull/25991? I'm confused this is linked to that.

[2020-02-13 09:15] #26819 closed, assigned to engcom-Alfa

[2020-02-13 09:49] AresAndy commented on #5906
Hello,

I was too stumbling with those dreadful UI Components, and this:

Let me rephrase it... Unless you manage during development to cause an issue that will be caught by the DI, there is **ZERO** error reporting, a blank page in most cases! And no chance of debugging that, nor u-tests. That, and the fact this ticket has been closed without solving this issue (using 2.3.x here) is totally wrong

[2020-02-13 09:50] raduluputu commented on #23069
Hello,
I am encountering the same exact issue. Any updates on when to expect the solution for it?
Thanks!

[2020-02-13 09:54] zeshanrahman commented on #13282
![image](https://user-images.githubusercontent.com/15862232/74422573-d54d3080-4e74-11ea-980f-3507c25d04e2.png)
magento 2 how can we show tier price with tax on listing page

[2020-02-13 09:58] rvm-pmis commented on #15656
I'm seeing something very similar (perhaps the same issue) when duplicating from the default storeview (currently on magento version 2.3.3-p1)
In the default storeview we have everything in english.
In the dutch storeview it's translated to nl_NL
When duplicating a product in the default storeview, the duplicate has the default english content in the dutch storeview instead of dutch content like t

[2020-02-13 10:07] sergiy-v opened #26856 "Wrong gallery main image and active preview after updating for configurable products."
Wrong gallery main image and active preview after gallery data updating for configurable products.

### Preconditions
1. Magento 2.4

### Steps to reproduce
1. Create a configurable product (the `color` attribute uses for example) with associated products:
- product with 'Black' color
- product with 'White' color

2. Add image and video for each products like on the screenshot below.
<img width="1

[2020-02-13 10:08] maxxeh1 commented on #26698
Personally I am getting very tired of issues arising in patch versions of Magento. 2.3.4 has introduced two major payment bugs - one for Paypal which should NOT have happened and one for certain third party vendor payment methods, such as Magenticity SagePay, see here: [2.3.4 Checkout Infinite Loop](https://github.com/magento/magento2/issues/26786). How does this happen?!

[2020-02-13 10:48] ainigma32 commented on #26689
I am experiencing the exact same problem using composer 1.9.3
It looks like the version constraint that the good people of firebearstudio are using, has become invalid as of composer 1.9.2.
See #https://github.com/composer/composer/issues/8527#issuecomment-574552473

The [Magento docs](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html) mention that the latest stable

[2020-02-13 10:58] hostep commented on #26698
It looks like Magento has released a hotfix for this problem on: https://magento.com/tech-resources/download#download2353

Maybe somebody running into this issue can test and report back if this fixes it for them?

[2020-02-13 11:04] hostep commented on #26689
So, since this seems to be a bug which was fixed in composer, this should remain closed as there is nothing in Magento which can fix this.

@ninarosemary, @ainigma32: please talk to the folks from firebear, they should fix this bug, Magento can't fix it and Composer won't fix it.

Thanks!

[2020-02-13 11:07] hostep commented on #26689
@engcom-Hotel or @sdzhepa: can you talk to the people responsible for hosting the packages on repo.magento.com to search for that particular pattern where a range is being used as an alias, like `5.5.33 as ^5.2` in all packages on there?

And then to contact the maintainers of such packages, so they can fix that in a new version of their modules.

[2020-02-13 11:10] magento-engcom-team commented on #24822
Hi @vovayatsyuk.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [c5cbcfe14a9b3019ae3f4470e857176ddbaa54f0](https://github.com/magento/magento2/commit/c5cbcfe14a9b3019ae3f4470e857176ddbaa54f0)

The fix will be available with the upcoming `2.4.0` release.

[2020-02-13 11:10] #24822 closed, assigned to nobody

[2020-02-13 11:12] engcom-Bravo commented on #26794
Hello @vahir2016

Thank you for your report.

Can you please help us to reproduce this issue by answering the following question?

- Are you using Magento Enterprise Edition?
- Does your Magento instance has any extensions installed?
- Can you please provide full commands you are using in steps 3 and 4?

Thank you for collaboration

[2020-02-13 11:15] magento-engcom-team commented on #26827
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31474` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-13 11:44] ainigma32 commented on #26689
Thanks @hostep

[2020-02-13 11:48] Leandry commented on #26856
@magento give me 2.4-develop instance

[2020-02-13 11:48] magento-engcom-team commented on #26856
Hi @Leandry. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-13 11:48] magento-engcom-team commented on #26856
Hi @Leandry, here is your [Magento instance](https://i-26856-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26856-2-4-develop.instances.magento-community.engineering/admin_989a](https://i-26856-2-4-develop.instances.magento-community.engineering/admin_989a)
Login: `75a38337` Password: `b6581c639d16`
Instance will be terminated in up to 3 hours.

[2020-02-13 12:00] magento-engcom-team commented on #26817
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31477` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-13 12:05] sergiy-v opened #26858 "Wrong gallery behavior when query url param configurable product"
Wrong gallery behavior for preselected option by query url param for configurable product.

### Preconditions
1. Magento 2.4

### Steps to reproduce
1. Create a configurable product (the `color` attribute uses for example) with associated products:
- product with 'Black' color
- product with 'White' color

2. Add image and video for each products like on the screenshot below.
<img width="1783" alt

[2020-02-13 12:09] magento-engcom-team commented on #26856
@Leandry Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-13 12:09] magento-engcom-team commented on #26856
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31478` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-13 12:25] Leandry commented on #26858
@magento give me 2.4-develop instance

[2020-02-13 12:25] magento-engcom-team commented on #26858
Hi @Leandry. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-13 12:26] magento-engcom-team commented on #26858
Hi @Leandry, here is your [Magento instance](https://i-26858-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26858-2-4-develop.instances.magento-community.engineering/admin_6afb](https://i-26858-2-4-develop.instances.magento-community.engineering/admin_6afb)
Login: `4f18cd1e` Password: `8f208541171f`
Instance will be terminated in up to 3 hours.

[2020-02-13 12:44] ihor-sviziev commented on #16362
Hi @engcom-Golf @VladimirZaets,
If I remember - you were saying that expected behavior should discussed with PO in order to decide if it's real issue or not.

Is there any updates?

[2020-02-13 12:45] magento-engcom-team commented on #26838
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31479` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-13 12:49] engcom-Alfa commented on #26832
Hi @r32rf
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-02-13 12:49] #26832 closed, assigned to engcom-Alfa

[2020-02-13 12:50] r32rf commented on #26832
????

[2020-02-13 13:18] magento-engcom-team commented on #26858
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31480` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-13 13:20] vahir2016 commented on #26794
Hello,

Yes

Yes, and I also hacked magento native archive order script to add a limit (I have a lot of orders which leads to issues). But orders are not in "sales_order_grid" after cron "magento_salesarchive_archive_orders"

But I didn't hack magento cron "sales_grid_order_async_insert". I think this cron should not get all orders which have been *already archived*.

This cron is getting his orde

[2020-02-13 14:28] sdzhepa commented on #8198
Reopened this issue to re-consider, investigate one more times

[2020-02-13 14:45] engcom-Bravo commented on #26845
Hello @vijay-prevaj

We tried to reproduce this issue on Magento 2.4-develop
After the Import of .csv file, the message appeared _Created 1, Updated 7_, as expected
![created_updated](https://user-images.githubusercontent.com/51680745/74445771-9bcdf280-4e7f-11ea-8bc2-ff968bdfd737.png)

We also tried to update only the Bundle product by adding another, already existing product to the bundle option.

[2020-02-13 14:51] engcom-Golf commented on #8198
Hi @avoelkl  @olivercastro, thank you for attention on this issue, the current behavior is correct, for now magento render prices depend on locale that your store have, for example if your store have en_US locale and you have for example CHF currency, then all curency will be displayed as an "USA standart prices" not an "CHF".
And If you switch locale to de-CH then your price will render for Swiss

[2020-02-13 15:06] engcom-Bravo commented on #26831
Duplicate of #26853

[2020-02-13 15:06] #26831 closed, assigned to engcom-Bravo

[2020-02-13 15:12] vijay-prevaj commented on #26845
I use custom page to display all the bundle product and i use productCollectionFactory to load the product in that page.

**EX Code :**
`$Products = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$ProCollection = $Products ->addAttributeToSelect('*')->addAttributeToFilter('type_id','bundle');
print_r($ProCollection->getData());`

**Output on first import of produ

[2020-02-13 15:14] vijay-prevaj commented on #26845
And also i noticed that in **cataloginventory_stock_status** table the value for the bundle item is removed when i run reindex so the collection become empty.

[2020-02-13 15:37] Zyles commented on #9186
Why is this not confirmed and reproduced on 2.4-develop?

It is reproduced on 2.2.x and work has not begun yet to fix it?!

[2020-02-13 16:02] damienwebdev opened #26859 "[FEAT] Token Revocation Call in REST API"
### Description (*)
As a user, when I log out, I want to guarantee that my token is revoked. Currently, with the REST API, there's no known way to do this.

The GraphQL api supports this:
https://devdocs.magento.com/guides/v2.3/graphql/mutations/revoke-customer-token.html

### Expected behavior (*)
I can securely revoke my authentication token.

### Benefits
Basic security improvement for customer

[2020-02-13 16:04] damienwebdev opened #26860 "[FEAT] Add token refresh API call to GraphQl and REST API"
## Description (*)
As a user, when I am authenticated via token, I would like to be able to refresh my token (either get a new one, or refresh the expiration on my existing token). Currently, with the REST API and GraphQl APIs, there's no known way to do this.

## Expected behavior (*)
As a developer, I can securely refresh a customer's authentication token.

## Benefits

Basic usability and secur

[2020-02-13 16:19] jimses opened #26861 "Quantities / Salable Quantities are not decremented correctly at point of sale and shipping. M v. 2.3.0"
Summery(*):

There is an issue with inventory/salable quantities after a product has been purchased.
There is some inconsistency in the number of product subtracted from inventory and
salable quantity. Sometimes 1, sometimes 2, sometimes 0 items are subtracted from
the inventory, while sometimes salable quantity will go down the same amount, double the
amount or remain unchanged after a transactio

[2020-02-13 16:51] nikolaevas commented on #26689
Hello @ninarosemary @ainigma32 @hostep,

We confirm that the problem is on our side. Few of our first module versions contain composer alias which is not working with composer 1.9.2. Now we trying to contact people responsible for marketplace so they can disable those versions. I will be back to you as soon as I get a response from the marketplace.

[2020-02-13 17:12] rani-webkul commented on #26858
@magento give me 2.4-develop instance

[2020-02-13 17:12] magento-engcom-team commented on #26858
Hi @rani-webkul. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-13 17:13] magento-engcom-team commented on #26858
Hi @rani-webkul, here is your [Magento instance](https://i-26858-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26858-2-4-develop.instances.magento-community.engineering/admin_e54d](https://i-26858-2-4-develop.instances.magento-community.engineering/admin_e54d)
Login: `b8fa97fb` Password: `b6c25bc07745`
Instance will be terminated in up to 3 hours.

[2020-02-13 17:22] shikhamis11 commented on #26859
Hi @damienwebdev
Thank you for reporting this issue . This issue will move faster if you will create this issue at [Magento Feature request](https://github.com/magento/community-features) repository.
Please do so .
thanks

[2020-02-13 17:22] #26859 closed, assigned to shikhamis11

[2020-02-13 17:34] Rajat9620 opened #26864 "Api Integration activate error"
Hello Support,

I hope you are doing fine.
I have installed printfull Integration in the my magento 2 store. After installing the the extension, when tried to activate I am getting this error "The attempt to post data to consumer failed due to an unexpected error. Please try again later."

After checking the exception log, I am getting this error message
main.CRITICAL: Invalid header line detected

[2020-02-13 17:41] magedev218 commented on #14642
I have tried to resolve this issue by applying given patch but it does not work for me. Can any one help me?
Getting Error after applying above patch is as below:
`[2020-02-13 17:17:38] main.CRITICAL: Message has been rejected: Property "SkipAttr" does not have accessor method "getSkipAttr" in class "Magento\ImportExport\Api\Data\ExportInfoInterface". [] []`

[2020-02-13 17:53] fisal77 commented on #25769
@Alwafaa123

In this case ... I am very sorry to inform you that Magento is built using Zend framework,
and unfortunately, there are many problems in supporting Arabic, especially in the Zend PDF.

that’s why we use TCPDF http://www.tcpdf.org/

but in your case you have two options as I see:

1st option is create new module with Zend Drawer & TCPDF to support Arabic Characters and solving the reve

[2020-02-13 17:54] rani-priya opened #26865 "Wrong items showing while creating an order from admin"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. navigate to backend -> sales -> order
2. view any order
3. then in another tab try create new order
4. in previous tab(step - 2) click on edit order and then select products in current tab where you are creating new order
5. select any random product and add to order
6. here you will see additional items of edited order

### Exp

[2020-02-13 18:00] damienwebdev opened #30820 "Token Revocation REST API"
### Description (*)
As a user, when I log out, I want to guarantee that my token is revoked. Currently, with the REST API, there's no known way to do this.

The GraphQL api supports this:
https://devdocs.magento.com/guides/v2.3/graphql/mutations/revoke-customer-token.html

### Expected behavior (*)
I can securely revoke my authentication token.

### Benefits
Basic security improvement for customer

[2020-02-13 18:01] #26860 closed, assigned to nobody

[2020-02-13 18:05] dan-ding commented on #19710
If you're seeing your hashes change **again** from a magento upgrade to (like to 2.3.4), the problem your seeing could be that magento changed the hashing function. It's happened before, Re: https://github.com/magento/magento2/issues/19710#issuecomment-529967703

In this later case the function `convertToReadableFormat` was changed:
https://github.com/magento/magento2/blob/2.3/app/code/Magento/Cat

[2020-02-13 18:56] bartoszkubicki opened #26866 "Queue consumer handler can't be virtual type"
### Preconditions (*)

1. Magento 2.3.3
2. Rabbit MQ 3.7.8

### Steps to reproduce (*)

1. In custom module add consumer in `queue_consumer.xml` for any queue
2. Consumer should be virtual type
3. Start consumer from console

### Expected result (*)

1. Consumer handles message

### Actual result (*)

1. Consumer is not started
2. There is error in console: "Service method specified as handler for

[2020-02-13 18:59] JMC-PK commented on #4911
My Cron logs are approaching the gigabytes per day due to this check failing once a minute...

[2020-02-13 19:20] JaredAllen1 commented on #8615
We are still experiencing this issue in 2.3.3.

[2020-02-13 19:36] hostep commented on #19710
I totally agree @dan-ding!

@akaplya, since you are [responsible for the Catalog module](https://github.com/magento/architecture/wiki/Component-Assignments), can we somehow try to add some kind of check to try to avoid as much as possible to change the hashes for resized images? I'm considering such a change backwards incompatible, since it means that all previously resized images are no longer va

[2020-02-13 19:57] lbajsarowicz opened #26867 "[Admin Log] No way to remove single filter from Admin Log grid"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Filter Admin Action Log grid by Action Group, Action and put Details
2. Try to remove only Action (there are only filter options - no "empty" option)
![image](https://user-images.githubusercontent.com/1639941/74473127-5de2c580-4ea3-11ea-8422-14d64775b435.png)

### Expected result (*)
1. I should be able to remove single filter

[2020-02-13 20:03] PiotrSiejczuk commented on #26867
@lbajsarowicz I guess the issue is there, but...
Admin  Log is Commerce Specific Feature: https://docs.magento.com/m2/ee/user_guide/system/action-log-report.html hence this should go to Magento Support / Commerce Repo - Issues Reporting

[2020-02-13 20:09] lbajsarowicz commented on #26867
@magento-engcom-team Could you move the ticket to another repo?

[2020-02-13 20:40] LiamKarlMitchell commented on #12165
What if you make the custom widget use single quotes?

[2020-02-13 21:08] magento-engcom-team commented on #26698
Hi @kerlama.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3.4-p1-develop` branch(es).
Related commit(s):
 - [3d7db6f4fbfe381414b8d19c4a489d71df553f36](https://github.com/magento/magento2/commit/3d7db6f4fbfe381414b8d19c4a489d71df553f36)

The fix will be available with the upcoming `2.3.5` release.

[2020-02-13 21:35] wilfriedwolf commented on #23063
Hi,

just found this issue after debugging a similar issue in M 2.3.1:
When using theme specific translations, the Phrase above the product images (view/frontend/templates/email/price.phtml:12) uses the the theme specific translation, the one below (view/frontend/templates/email/price.phtml:45) does not.
This is probably due to the fact, that the `\Magento\Store\Model\App\Emulation::startEnvironme

[2020-02-14 01:30] joshfedo opened #26870 "Attribute sets not preserving attribute values when set is changed and attribute is placed in a diffrent group."
### Preconditions (*)
1. Magento ver. 2.3.3
2. PHP 7.1.33

### Steps to reproduce (*)
1. In the admin navigate to Stores -> Attribute Sets
2. Click on any attribute set (i'll use the default DBs "Gear" attribute set)
3.Move a attribute out of a group (ie. Search engine optimization -> url_key gets moved into Product Details -> url_key)
4. Edit a product (Catalog ->product -> Any product)
5. Take n

[2020-02-14 01:30] joshfedo commented on #26870
@magento give me 2.4-develop instance

[2020-02-14 01:31] magento-engcom-team commented on #26870
Hi @joshfedo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 01:31] magento-engcom-team commented on #26870
Hi @joshfedo, here is your [Magento instance](https://i-26870-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26870-2-4-develop.instances.magento-community.engineering/admin_8a08](https://i-26870-2-4-develop.instances.magento-community.engineering/admin_8a08)
Login: `8d92b259` Password: `5f915275065c`
Instance will be terminated in up to 3 hours.

[2020-02-14 01:38] joshfedo commented on #26870
I can confirm this is still a issue on the magento 2.3.4 instance provided above.

[2020-02-14 04:50] ajijshekh123 commented on #26870
Hello @joshfedo,
I am trying to reproduce this issue but I can't find it.
Can you please share me 1 video to reproduce this issue?

Thanks.

[2020-02-14 05:03] joshfedo commented on #26870
@ajijshekh123 please review this video https://streamable.com/hivhg

The video end abruptly but please note that the attribute I used in this example "url_key" is blank after changing the attribute set to "gear" at the end.

I've also tested this on the test environment provided by creating new attribute sets and products and the bug persists.

[2020-02-14 05:32] Shraddha996 opened #26871 "Admin login page blank"
Hello,
After successful installation of Magento framework, am getting a blank page on the admin login screen
There are multiple solutions suggests that change the code from the  path
/vendor/magento/framework/View/Element/Template/File/Validator.php
but there are no folders such in my directory

please help

[2020-02-14 05:34] Shraddha996 commented on #26871
@magento give me 2.4-develop instance

[2020-02-14 05:34] magento-engcom-team commented on #26871
Hi @Shraddha996. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 05:35] magento-engcom-team commented on #26871
Hi @Shraddha996, here is your [Magento instance](https://i-26871-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26871-2-4-develop.instances.magento-community.engineering/admin_0d1d](https://i-26871-2-4-develop.instances.magento-community.engineering/admin_0d1d)
Login: `59feba26` Password: `862c012010db`
Instance will be terminated in up to 3 hours.

[2020-02-14 05:41] ajijshekh123 commented on #26870
@magento give me 2.4-develop instance

[2020-02-14 05:41] magento-engcom-team commented on #26870
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 05:41] magento-engcom-team commented on #26870
Hi @ajijshekh123, here is your [Magento instance](https://i-26870-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26870-2-4-develop.instances.magento-community.engineering/admin_d1b9](https://i-26870-2-4-develop.instances.magento-community.engineering/admin_d1b9)
Login: `a8ee1f98` Password: `28174747df0e`
Instance will be terminated in up to 3 hours.

[2020-02-14 05:59] magento-engcom-team commented on #26870
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31514` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-14 06:06] ajijshekh123 commented on #26870
I have been reproduced this issue in the default Magento 2.4 instance.
See attached the video.
![Issue](https://user-images.githubusercontent.com/24711761/74505861-3b41c280-4f1e-11ea-8956-677f5415a38f.gif)

Thanks.

[2020-02-14 06:46] krishprakash commented on #26865
@magento give me 2.4-develop instance

[2020-02-14 06:47] magento-engcom-team commented on #26865
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 06:47] magento-engcom-team commented on #26865
Hi @krishprakash, here is your [Magento instance](https://i-26865-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26865-2-4-develop.instances.magento-community.engineering/admin_1abe](https://i-26865-2-4-develop.instances.magento-community.engineering/admin_1abe)
Login: `b21d79b5` Password: `39e0c2495e83`
Instance will be terminated in up to 3 hours.

[2020-02-14 07:21] Mathanagopal97 opened #26872 "Configurable product disable configurations not working properly"
When I disable a generated simple product in a configurable product, rest of the products in the configuration is not getting displayed.
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create an attribute set named shirt and add colour and size as the product attributes. Colour contains blue and black. Size contains Small and Large. Both of them are dropdown.
2. Create a co

[2020-02-14 07:21] Mathanagopal97 commented on #26872
@magento give me 2.4-develop instance

[2020-02-14 07:21] magento-engcom-team commented on #26872
Hi @Mathanagopal97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 07:22] magento-engcom-team commented on #26872
Hi @Mathanagopal97, here is your [Magento instance](https://i-26872-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26872-2-4-develop.instances.magento-community.engineering/admin_90ea](https://i-26872-2-4-develop.instances.magento-community.engineering/admin_90ea)
Login: `a4644bcf` Password: `9902eafd9f4f`
Instance will be terminated in up to 3 hours.

[2020-02-14 07:23] Mathanagopal97 commented on #26872
Looks like the magento instance provide is not secure.
![Screenshot from 2020-02-14 12-53-04](https://user-images.githubusercontent.com/29875835/74510069-f707ef80-4f28-11ea-8b4e-a57591851970.png)

[2020-02-14 07:24] Mathanagopal97 commented on #26872
@ajijshekh123 You can use the provide instance if you want.

[2020-02-14 07:24] ajijshekh123 commented on #26872
@Mathanagopal97 - Click on Advance and Click on the footer of the link.

[2020-02-14 07:25] Mathanagopal97 commented on #26872
Thanks man.

[2020-02-14 07:27] magento-engcom-team commented on #26865
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31516` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-14 07:31] shikhamis11 commented on #26871
H @Shraddha996
can you please update the issue description It will help us to reproduce the issue
you can check [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

also this issue seems related to wrong installation
if you have installed  magento through composer
try checking directory https://github.com/magento/magento2/tree/2.4-develop/lib/internal/

[2020-02-14 07:37] krishprakash commented on #26828
Hi @nickpiro.
Can not able to reproduce the issue in latest magento instance
Please review below screenshot for same
![image](https://user-images.githubusercontent.com/46617848/74510916-c759e700-4f2a-11ea-916d-2dbe1d9d75af.png)
Feel free to reopen the issue if you find this issue in latest magento 2.3.4
Thanks !!

[2020-02-14 07:37] #26828 closed, assigned to krishprakash

[2020-02-14 07:53] ajijshekh123 commented on #26872
Hello @Mathanagopal97,
I have verified this issue as per your steps and screenshot. But I can't reproduce this issue in the Default Magento 2.4 Instance.
Please see attached below issue video:
![ConfigProduct_Issue](https://user-images.githubusercontent.com/24711761/74511917-17d24400-4f2d-11ea-834d-dd62e54115de.gif)

Let me know your feedback.

Thanks.

[2020-02-14 08:28] Mathanagopal97 commented on #26872
Ok fine. I'll close this one.

[2020-02-14 08:29] #26872 closed, assigned to nobody

[2020-02-14 08:38] krishprakash commented on #26777
Hi @Zyles.
Can not able reproduce this issue as provided steps by you.
Please review below link for reference:
https://drive.google.com/a/krishtechnolabs.com/file/d/1gGj90YNl7oxg15_v9MFVQAzq2kz5YC15/view?usp=drivesdk
Kindly provide more information to reproduce this
Thanks

[2020-02-14 09:13] dot319 opened #26874 "Multiselect config option 'use default' check disappears upon saving in website scope if value is locked in config.php"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Add a multiselect config option in adminhtml/system.xml in an existing section in a custom group
2. Lock a value for this config option in the default scope
3. Go to configuration in the adminpanel and find the multiselect option
4. Switch to a website scope
5. Note that the newly added config option is grayed out a

[2020-02-14 09:16] dot319 commented on #26874
@magento give me 2.3.2 instance

[2020-02-14 09:16] magento-engcom-team commented on #26874
Hi @dot319. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2020-02-14 09:16] magento-engcom-team commented on #26874
Hi @dot319, here is your [Magento instance](https://i-26874-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-26874-2-3-2.instances.magento-community.engineering/admin_4093](https://i-26874-2-3-2.instances.magento-community.engineering/admin_4093)
Login: `55362579` Password: `4fcd0cf4eb82`
Instance will be terminated in up to 3 hours.

[2020-02-14 09:22] irshad-stack commented on #14220
@hello-developers: How can create different Tax rate for multiple stores for the same country.
 Is it possible to create multiple stores for the same country (to all states) and each store has assigned for different tax rules?
Example for the country US I want to create three different stores.

**1) US-store-1
2) US-store-2
3) US-store-3

And each store has a different tax rule.**
please check thi

[2020-02-14 09:46] chrisastley commented on #26826
I have this issue on 2 sites which have just been updated from 2.3.3 to 2.3.4, but have also successfully updated several sites without the issue appearing. I have tried changing the pagination size as @niku0911 suggested but no joy.

[2020-02-14 09:48] jayanta88 commented on #25153
Hello,

Can anyone tell me if this is fixed in Magento's latest version or not. Also how to add this fix in my 2.3.3 version without editing the core file.

Thanks

[2020-02-14 09:53] niku0911 commented on #26826
i have an issue with Elastic Search module so i disabled them and , Reindex and clear cache.

so may be it's one of your extension are causing magento 2 default functionality.

[2020-02-14 10:08] dimonovp commented on #25162
Hi @slavvka. Can you create back-port for 2.3-develop, because this issue isn't fixed in 2.3-develop?

[2020-02-14 10:20] #25162 closed, assigned to nobody

[2020-02-14 11:38] vincent-le89 commented on #26827
Hi guys,

This issue happens when we save a product attribute with "frontend_input" => "swatch_text" via API. Other front_input types like text,... haven't happened.
We need someone checkout logic of repository: function save(app/code/Magento/Catalog/Model/Product/Attribute/Repository.php).
@vincentteyssier After you create a product attribute via API, you can go to that product attribute in admin

[2020-02-14 11:45] engcom-Delta commented on #26811
Marked as **Feature Request**
Should be moved to feature request [repo](https://github.com/magento/community-features) for further discussion
cc @sdzhepa

[2020-02-14 11:46] engcom-Bravo commented on #26845
Hello @vijay-prevaj

Thank you for your quick response

I was able to reproduce this with your code. After exporting, the previously added Bundle product disappeared from Storefront

We are confirming this issue on Magento 2.4-develop.

Thank you for collaboration

[2020-02-14 11:48] magento-engcom-team commented on #26845
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31534` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-14 11:50] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-02-14 11:50] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 11:51] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_3441](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_3441)
Login: `09c7553c` Password: `8faa1ad55e03`
Instance will be terminated in up to 3 hours.

[2020-02-14 12:03] engcom-Delta commented on #26861
@jimses , thank you for your report. Described scenario is MSI functionality
Please, refer to **Magento Inventory Project (a.k.a MSI)** [repo](https://github.com/magento/inventory)  for further investigation

[2020-02-14 12:17] sanjay-wagento commented on #9634
Your solution is working for migrated data

[2020-02-14 12:19] ghost opened #26875 "API Functional Tests not using "test database" when running data fixtures."
### Preconditions (*)

1. Magento 2.3.3-p1
2. PHP 7.1
3. Default DB
4. API Functional Test DB
5. Configure API Functional Test phpunit.xml and install-config-mysql.php (set this to use the API DB)

### Steps to reproduce (*)

1. Create API Test
2. Use @magentoApiDataFixture (order_with_customer.php)

### Expected result (*)

1. Test should run data fixture against API DB

### Actual result (*)

1.

[2020-02-14 12:22] BezV8 commented on #10664
@engcom-Hotel I managed to track the issue down to a custom extension, removing that fixed it.

[2020-02-14 12:26] BezV8 commented on #24031
The fix included in 2.3.4 has fixed the issue on most categories for me, but a few seem to still exhibit the buggy behaviour. All of those with the layered navigation still showing all also have anchor set to no.

[2020-02-14 12:39] cjelger commented on #26811
Moved to https://github.com/magento/community-features/issues/241

[2020-02-14 12:39] #26811 closed, assigned to engcom-Delta

[2020-02-14 12:55] ilnytskyi opened #26876 "Error when sending sales mails in async mode if product was removed"
### Preconditions (*)

1. magento 2.3.1+
2.

### Steps to reproduce (*)

1. Set up async mails sending
2. Buy a product, create order, invoice or shipment
3. Send sales mails
4. Remove product (along with configurable(parent) product)
5. Try to resend sales email (e.g. set column `email_sent` to Null in relative tables)
6. or try to send invoice/shipment again
![Selection_375](https://user-images.

[2020-02-14 13:19] engcom-Bravo commented on #26813
Hello @r32rf

Thank you for your report

This is not a bug, this is a mistake in the command syntax. According to the [documentation](https://devdocs.magento.com/guides/v2.3/migration/migration-migrate.html) you need to specify the path to the config.xml
In my case, the command looks like this ``` php -dmemory_limit=152216212154213T bin/magento migrate:data data-migration-tool/etc/opensource-to-op

[2020-02-14 13:23] hmib commented on #23993
Running composer upgrade solved this issue.

[2020-02-14 14:38] itwebdev2 commented on #26819
@magento give me 2.3.3 instance

[2020-02-14 14:39] magento-engcom-team commented on #26819
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-14 14:40] magento-engcom-team commented on #26819
Hi @itwebdev2, here is your [Magento instance](https://i-26819-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26819-2-3-3.instances.magento-community.engineering/admin_f0ff](https://i-26819-2-3-3.instances.magento-community.engineering/admin_f0ff)
Login: `05825c64` Password: `d773c1e740ad`
Instance will be terminated in up to 3 hours.

[2020-02-14 14:50] jimses commented on #26861
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-14 14:51] magento-engcom-team commented on #26861
Hi @jimses. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 14:51] magento-engcom-team commented on #26861
Hi @jimses, here is your [Magento instance](https://i-26861-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26861-2-4-develop.instances.magento-community.engineering/admin_0a5e](https://i-26861-2-4-develop.instances.magento-community.engineering/admin_0a5e)
Login: `e6a09fa6` Password: `95029639d1f4`
Instance will be terminated in up to 3 hours.

[2020-02-14 14:57] ihor-sviziev commented on #23122
@engcom-Golf could you check if this issue still valid on 2.4-develop?

[2020-02-14 15:00] bmitchell-ldg commented on #26672
It's this pull request that has caused it to allow spacing https://github.com/magento/magento2/commit/6f4f511822fbbcb743a7d4a8de6353d207d99429#diff-386b1042295a816ae69d1e2988756f82
The change to prepareProductUrlKey in \Magento\CatalogUrlRewrite\Model\ProductUrlPathGenerator
needs changing back to
protected function prepareProductUrlKey(Product $product)
    {
        $urlKey = (string)$product->g

[2020-02-14 15:15] mverstraete commented on #20229
Adding the is_string check in `app/code/Magento/Catalog/view/frontend/templates/product/compare/list.phtml` now causes some attribute values to not render at all.

For example, in the case of boolean attributes, `\Magento\Catalog\Block\Product\Compare\ListCompare::getProductAttributeValue` returns a `\Magento\Framework\Phrase` object, with the values of either "Yes" or "No".  These values are now

[2020-02-14 15:48] rigroweb commented on #23463
I am having this issue as well with Magento 2.3.3

I have seen this occurring across different payment processors with no correlation or commonalities between the orders that this is occurring to.

Was this issue resolved or simply closed?

[2020-02-14 15:53] ramesh-durairajaram commented on #26672
@bmitchell-ldg , thanks for the support. Will fix this method.

[2020-02-14 15:57] rigroweb opened #26880 "Orders being deleted from database, both sales_order and sale_quote tables"
### Preconditions (*)

I am currently using Magento 2.3.3 however this has been reported as well (Issue #23463) on previous Magento versions.
This error has occurred across all browsers and when using various different payment processors, some Magento built-in one such as authorize.net and some extensions such as cardknox

### Steps to reproduce (*)

1. Customer successfully places an order
2. Cre

[2020-02-14 15:58] rigroweb commented on #26880
To ensure that I can reproduce please:
@magento give me 2.4-develop instance

[2020-02-14 15:58] magento-engcom-team commented on #26880
Hi @rigroweb. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 15:59] magento-engcom-team commented on #26880
Hi @rigroweb, here is your [Magento instance](https://i-26880-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26880-2-4-develop.instances.magento-community.engineering/admin_d078](https://i-26880-2-4-develop.instances.magento-community.engineering/admin_d078)
Login: `a0795db4` Password: `809288f62f5b`
Instance will be terminated in up to 3 hours.

[2020-02-14 16:00] rigroweb commented on #26880
The site is giving me security warnings as the ssl expired already.
As I want to process payment transactions can you please send me a secure version?

[2020-02-14 16:00] licentia commented on #23463
@rigroweb I've closed this issue.

In my case, our client had previously made a custom development with some MySQL triggers firing when adding new records to the sales grid which were falling and breaking the transaction. That's why the records where not being committed.

I would advise you to check your INNODB engine status to look for any possible issues

Regards

[2020-02-14 16:02] bvboas commented on #23463
@rigroweb I've closed this issue.

In my case, our client had previously made a custom development with some MySQL triggers firing when adding new records to the sales grid which were falling and breaking the transaction. That's why the records where not being committed.

I would advise you to check your INNODB engine status to look for any possible issues

Regards

[2020-02-14 16:03] rigroweb commented on #23463
Thank you so much for replying.
What kind of triggers? That might be able to point me in the right
direction.

On Fri, Feb 14, 2020 at 11:00 AM Green Flying Panda <
notifications@github.com> wrote:

[2020-02-14 16:06] bvboas commented on #23463
@rigroweb They were performing some kind of reporting, when adding a new record to the sales table, with a large dataset of records, which was taking too long and returning a timeout.

This was a custom development, and is not included in Magento.

Running the following MySQL query might give you an idea about the problem

[code]

[2020-02-14 16:11] joshfedo commented on #26870
I would also like to note that **some** attribute will persist after you press save. Here is a additional screen recording where the attribute "short_description" does not persist https://streamable.com/zwp0o

[2020-02-14 16:26] jimses commented on #26861
@magento give me 2.3-develop instance

[2020-02-14 16:26] magento-engcom-team commented on #26861
Hi @jimses. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-14 16:28] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-02-14 16:28] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 16:29] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_1f8e](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_1f8e)
Login: `f6a44567` Password: `adf56644f110`
Instance will be terminated in up to 3 hours.

[2020-02-14 16:57] Brengineer commented on #20229
Yes, I agree. I did not like the given fix either. This is why I suggested in the first place to "cast the result... as a string". This way, it is always rendered, but it will not cause any errors.

[2020-02-14 17:31] stradd opened #26882 "2.3.4 Email Template New Pickup Order or add New Template order items are missing in Mail"
**Preconditions (*)**
magento 2.3.4

I installed magento 2.3.4 with sample data.
In the customer order mail order items are missing

**Steps to reproduce(*)**

Stores> Configuration> Sales > Sales Emails> New Order Confirmation select Template: New Pickup Order
Sales > Order: Select a order, goto Information, Send Mail

In the mail that Magento sends, the section with the order items is not transf

[2020-02-14 17:51] orlangur commented on #19604
@Nikkumawat please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions

[2020-02-14 17:58] magento-engcom-team commented on #26882
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31544` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-14 20:06] ihor-sviziev commented on #26880
@rigroweb now should be fixed, please try again

[2020-02-15 04:16] magento-engcom-team commented on #26824
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-15 04:16] magento-engcom-team commented on #26824
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31571` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-15 06:15] Sepremex commented on #19491
This issue still there, I'm using:
Debian 10
apache 2, MariaDB, I was hopping I could use PHP7.4 but the installation told me NOT.. so 7.2 it is...
The server is a dedicated custom build...
aside from the other comments, on my case the only thing I got on the error log is:
`[Fri Feb 14 23:19:07.371332 2020] [proxy_fcgi:error] [pid 20303:tid 140677054547712] (70007)The timeout specified has expired

[2020-02-15 10:36] Mavlyan opened #26884 "Customer address is duplicated after setBillingAddressOnCart GraphQL mutation."
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)

Do all steps via GQL:
1. Authorize ( generateCustomerToken mutation)
2. Create cart (customerCart query)
3. Add product to cart (addSimpleProductsToCart mutation)
4. Set billing address (`setBillingAddressOnCart` mutation).
Important:  *save_in_address_book: true*

[code]

After this step customer address appears in customer_addre

[2020-02-15 10:58] Rajat9620 commented on #26864
@magento-engcom-team  any update please?

[2020-02-15 13:39] stradd opened #26885 "2.3.4 no image is displayed in the customer mail"
I installed magento 2.3.4 with sample data.

Go to
Content - Configuration, in Design Configuration Apply a Theme
In Transactional Email upload a Logo Image, Flush Magento Cache
Go to
Sales - Orders,  Select one order, Send Mail

No image is displayed in the customer mail

[2020-02-15 20:57] emanueljacob opened #26888 "font filetype src format in .lib-font-face mixin is not wrapped with quotation marks"
When using the `.lib-font-face()` mixin with an explicit `@font-format` like "woff" set, will not work. The font won't render (at least in chrome) because the filetype in the css src format is not wrapped in single quotation marks.

compiled CSS SHOULD look like this
[code]

compile css how the mixin will generate it (look at format quotation marks):
[code]

This could easily be fixed, by using le

[2020-02-15 21:22] rrebisz opened #26889 "Onestep checkout and multishipping disabled - no "go to checkout" button in the shopping cart"
With onestep checkout turned off and multishipping turned off, it is not possible to place an order.

### Preconditions (*)
1. Magento 2.3.4 commerce
2. Chrome 80.0.3987.106

### Steps to reproduce (*)
1. go to stores/ configuration/ sales/checkout and set "Enable Onepage Checkout" to "No
2. Go to stores/ configuration/ sales/multishipping settings and set "Allow Shipping to Multiple Addresses" to

[2020-02-16 02:22] mrtuvn commented on #26889
Can't reproduce your case in latest branch 2.4-develop
@rrebisz do you check this in 2.4-develop
@magento give me 2.4-develop instance

[2020-02-16 02:22] magento-engcom-team commented on #26889
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-16 02:22] magento-engcom-team commented on #26889
Hi @mrtuvn, here is your [Magento instance](https://i-26889-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26889-2-4-develop.instances.magento-community.engineering/admin_d7ec](https://i-26889-2-4-develop.instances.magento-community.engineering/admin_d7ec)
Login: `4d78e5a7` Password: `7530197ef8b5`
Instance will be terminated in up to 3 hours.

[2020-02-16 04:20] mrtuvn commented on #26850
Pricing is still hard parts in magento 2 and undoubtedly need refactors and improvements

[2020-02-16 06:52] Techytt commented on #21879
any latest update on this issue?

[2020-02-16 09:50] FadyEffat commented on #26849
I'm having the same issue with 2.3.3 and 2.3.4

[2020-02-16 10:47] stradd commented on #26885
I found the mistake. Magento references the image with https. But I worked with http in my test environment. The mail program notices that there is no certificate and does not load the image

[2020-02-16 10:47] #26885 closed, assigned to nobody

[2020-02-16 11:41] ioweb-gr opened #26891 "Magento cannot handle it's own products export when importing to different installations"
### Preconditions (*)
Magento 2.4
Two Magento instances: the first with Sample Data, the second without it

 **Case 1**
### Steps to reproduce (*)
1. Use a standard installation with sample data deployed.
2. Go to System -> Export  and export all products.
3. Go to a second installation without sample data deployed.
4. Go to System -> Import and use the previously exported csv file.

### Expected

[2020-02-16 11:42] ioweb-gr commented on #26891
@magento give me 2.4-develop instance

[2020-02-16 11:42] magento-engcom-team commented on #26891
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-16 11:42] magento-engcom-team commented on #26891
Hi @ioweb-gr, here is your [Magento instance](https://i-26891-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26891-2-4-develop.instances.magento-community.engineering/admin_89d2](https://i-26891-2-4-develop.instances.magento-community.engineering/admin_89d2)
Login: `89abd026` Password: `bdc512fc2d57`
Instance will be terminated in up to 3 hours.

[2020-02-16 12:32] ioweb-gr commented on #26891
There's nothing different in the upcoming 2.4 version to handle new attribute options. Same behaviour. Trying case 1

In this case size does not exist so it fails the validation but color exists and is missing only the options.

![image](https://user-images.githubusercontent.com/20220341/74604697-0887fd80-50c9-11ea-9122-6b4d30ba74f3.png)

[2020-02-16 12:48] hiteshgb commented on #23993
Any update on this issue as I am also facing same issue.

[2020-02-16 14:26] koushikch7 commented on #26891
@magento give me 2.3.4 instance

[2020-02-16 14:26] magento-engcom-team commented on #26891
Hi @koushikch7. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-16 14:26] magento-engcom-team commented on #26891
Hi @koushikch7, here is your [Magento instance](https://i-26891-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26891-2-3-4.instances.magento-community.engineering/admin_c04f](https://i-26891-2-3-4.instances.magento-community.engineering/admin_c04f)
Login: `379d62f2` Password: `4eec0e06dc6d`
Instance will be terminated in up to 3 hours.

[2020-02-16 14:29] vincentteyssier commented on #26827
Hi and thanks for looking into this. The workaround is a bit tedious since I might have to do that for hu ndreds of products, but not much of a choice :)
I reported another issue with the attributes option API when attribute is swatch_text.... not sure this helps, but there seems to be a few issues related to swatch text.
Thanks a lot and good luck!

[2020-02-16 15:50] viktym commented on #26840
I confirm this issue with PayPal Payflowpro, @magento-engcom-team please create internal issue and assign it on MPI team
@sjb9774 Thanks for reporting, the fix will be available till the end of the week

[2020-02-16 16:42] magento-engcom-team commented on #26840
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31573` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-16 17:30] novikor commented on #26520
As discussed in #appdesign Slack channel:
The issue must be solved by adding full reindex execution at the very end of the Magento installation process.

[2020-02-16 18:33] shikhamis11 commented on #26620
hi @Kleibert
I am closing this issue due to inactivity also not able to reproduce this issue with given steps .. feel free to reopen if it requires additional steps verify this issue and share details here

[2020-02-16 18:33] #26620 closed, assigned to shikhamis11

[2020-02-16 19:03] diazwatson commented on #23993
hi @hiteshgb have you tried after running `composer update` ?

[2020-02-16 20:17] sgriffiths-ly commented on #20481
In which version is this fixed?
I'm experiencing this in Magento 2.3.3

[2020-02-17 03:18] ramu15061987 opened #26893 "Tax is not showing in authorize.net panel for orders with Authorize.net (not directpost)"
### Preconditions (*)

1. Magento version 2.4-develop, Magento 2.3.4
2. Configured Authorize.net  not direct post

### Steps to reproduce (*)

1. Placed an order with Authorize.net and tax not showing in authorize.net panel
2. We enabled debug and observed tax related params are not exist in request

### Expected result (*)

Tax should appear in authorize.net

### Actual result (*)

 tax related p

[2020-02-17 04:40] hiteshgb commented on #23993
Yes but after after removing updates it is still showing error.

[2020-02-17 07:27] vijay-prevaj commented on #26845
Thank you for confirming this working this issue. And also we found solution to this issue.

Here is the patch we developed to resolve the issue.

https://drive.google.com/open?id=1W-htVQ0CckS6275otpegEt7SrZO3YXlj

[2020-02-17 08:22] GuiltyNL commented on #26557
@monotheist We may have a related issue.

Here we get 404 errors on several category pages when they are served from Varnish. At first the cached pages work well and after some time they are giving a 404 until we clear the cache.

[2020-02-17 09:43] engcom-Bravo commented on #26884
Reproducible on Magento 2.4-develop
![two adresses](https://user-images.githubusercontent.com/51680745/74641846-abe51b00-517a-11ea-9c48-f4ef18cb3012.png)

[2020-02-17 09:49] magento-engcom-team commented on #26884
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31586` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-17 10:10] GuiltyNL commented on #26834
@monotheist

Take a look here:

https://community.magento.com/t5/Magento-2-x-Technical-Issues/JsFooterPlugin-php-Error/m-p/376068#M12165

[2020-02-17 10:16] tuyennn commented on #26573
Has same issue, crapware on magento

[2020-02-17 10:36] Tjitse-E commented on #15433
@magento give me 2.4-develop instance

[2020-02-17 10:36] magento-engcom-team commented on #15433
Hi @Tjitse-E. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-17 10:37] magento-engcom-team commented on #15433
Hi @Tjitse-E, here is your [Magento instance](https://i-15433-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-15433-2-4-develop.instances.magento-community.engineering/admin_6c7f](https://i-15433-2-4-develop.instances.magento-community.engineering/admin_6c7f)
Login: `342d56af` Password: `b43cfdfbd220`
Instance will be terminated in up to 3 hours.

[2020-02-17 10:49] Tjitse-E opened #26895 "Attribute values cleared after changing attribute group"
### Related issues:
- https://github.com/magento/magento2/issues/15433

### Preconditions (*)

1. 2.4-develop  community develop instance

### Steps to reproduce (*)

1. Create a new product with a price of $100 and the default attribute set
2. Create a new attribute set based on 'Default'. Create a new attribute group, call it 'New pricing group' and add the price and price view attributes to thi

[2020-02-17 10:55] koenner01 commented on #21386
I have stumbled into this issue and I have found this will be the case for every attribute on an EAV model object.

The origin of the problem can be traced to \Magento\Eav\Model\Entity\AbstractEntity::_collectSaveData function where you can find

[code]

The _isAttributeValueEmpty check being done is adding the empty values to be deleted (instead of updated)

[2020-02-17 10:58] Janvh commented on #11263
2.3.4 cloud version issue still exist!

[2020-02-17 10:59] engcom-Bravo commented on #26853
Hello @irshad-iflair

Thank you for your report

I believe that it is not possible to set different tax rules for the same country, same state, same Website, but different Stores.
This is not a bug, and I believe that in Magento, user doesn't select Store scope for applying tax. User selects region.

(For example, the Tax title doesn't influence the Tax scope.)
![tax_title](https://user-images.git

[2020-02-17 10:59] #26853 closed, assigned to nobody

[2020-02-17 11:11] surelockrich opened #26896 "Only X left Threshold is not working in configurable product"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Stores --> catalog --> inventory --> Stock options : Only X left Threshold= 3
### Expected result (*)

1.It is working with a simple product but not working with configurable product
![stock-left](https://user-images.githubusercontent.com/25629588/74648556-f038e100-51a3-11ea-86d9-6f885b48440e.JPG)

2. It is not working with th

[2020-02-17 11:18] koenner01 commented on #21386
I think you misread the original post; We are not asking for the "Use default" checkbox to be checked. We want to be able to save "empty" values on storeview scope.

[2020-02-17 11:23] magento-engcom-team commented on #26850
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31591` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-17 11:24] surelockrich commented on #26896
I have Explained in best simple way if you still find difficulties. I will share the video for better information.

Thank You

[2020-02-17 11:33] monotheist commented on #26834
@GuiltyNL Thank you.

[2020-02-17 11:34] krishprakash commented on #26896
@magento give me 2.4-develop instance

[2020-02-17 11:34] magento-engcom-team commented on #26896
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-17 11:35] magento-engcom-team commented on #26896
Hi @krishprakash, here is your [Magento instance](https://i-26896-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26896-2-4-develop.instances.magento-community.engineering/admin_e393](https://i-26896-2-4-develop.instances.magento-community.engineering/admin_e393)
Login: `db94f4bb` Password: `6a20970a4858`
Instance will be terminated in up to 3 hours.

[2020-02-17 11:49] zeshanrahman commented on #12225
<?php
                            if($_product->getTierPrice()){
                                $tierPrice = $_product->getTierPrice();
                                     foreach ($tierPrice as $key => $value) {
                                    $qty = (int)$value['price_qty'];

                                    $price = $value['price'];

                                     $formattedTierP

[2020-02-17 11:53] magento-engcom-team commented on #26896
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31593` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-17 12:17] krishprakash commented on #26889
Hi @rrebisz. If you disable the One page checkout then proceed to checkout button should not be display on shopping cart and mini cart.
This is expected magento behavior not a bug.
You need to enable the One page checkout to place an order.
Thanks

[2020-02-17 12:29] Tjitse-E commented on #26895
@magento give me 2.4-develop instance

[2020-02-17 12:29] magento-engcom-team commented on #26895
Hi @Tjitse-E. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-17 12:30] magento-engcom-team commented on #26895
Hi @Tjitse-E, here is your [Magento instance](https://i-26895-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26895-2-4-develop.instances.magento-community.engineering/admin_51bd](https://i-26895-2-4-develop.instances.magento-community.engineering/admin_51bd)
Login: `b792e526` Password: `364574a44e7e`
Instance will be terminated in up to 3 hours.

[2020-02-17 13:11] Tjitse-E commented on #26895
Possible duplicate: https://github.com/magento/magento2/issues/11516

[2020-02-17 13:28] johncarlson21 commented on #21879
@Techytt this will be included in the 2.4 update I believe.. I took the above changes and added them as an extension to mine for now.

[2020-02-17 13:30] devchris79 commented on #26837
I have done a bit more experimentation and the issue appears to be a Magento core caching issue. When Signed in I am sometimes seeing the account link display sign in while already signed in, I can then clear the full page cache while signed in and the issue disappears and pages behave normally for the signed on session.

Ultimo is using core functionality to add the sign in/out link:

![issue](ht

[2020-02-17 13:44] ihor-sviziev commented on #9581
@engcom-Golf @engcom-Alfa could you double check if this issue still valid, as we're having bugfix in #25746, so I'm not sure if it's valid

[2020-02-17 13:44] monotheist commented on #26837
@devchris79 Thanks for checking on this. Really appreciate. Is there a possible workaround or fix?

[2020-02-17 13:56] soumyamol-mathew opened #26898 "Alert Message On Product Page"
When adding a product from wishlist to cart, alert messages are displaying more than once.
The number of alert messages is equal to the number of custom options.
![image](https://user-images.githubusercontent.com/26896299/74659257-018ce800-51ba-11ea-8a1b-9c75b8c44e87.png)

### Preconditions (*)

1. Add products with custom options to the wishlist.
2. Add the product from wishlist to cart.

### Ste

[2020-02-17 14:04] devchris79 commented on #26837
Sorry but I don't have anything

[2020-02-17 14:12] irshad-iflair commented on #26853
Here  I make a dropdown for the users to choose the option of the tax rate, https://i.stack.imgur.com/76U7m.png.
is it not possible on particular  tax rule product price calculate accordingly.?

[2020-02-17 16:26] slashplusweb commented on #26888
@magento give me test instance
@magento give me 2.4-develop instance

[2020-02-17 19:30] nobodyfamouz commented on #25199
Thanks to this indexing of category products went from impossible (7+ hours) to 10 seconds! Thanks a lot!

[2020-02-17 19:36] sjb9774 commented on #26840
@viktym Thanks for working on this. Knowing that Chrome plans to start rolling this new behavior out as default to a limited userbase (I don't know how small or large this initial rollout may be) in the next few days should we be worried that Payflow checkout could be broken for potentially many Chrome users until the end of the week when your fix becomes available? Thanks again

[2020-02-17 21:00] gcampedelli opened #26901 "Make Custom Layout Update file selectable generally available in all categories, products and cms pages."
### Description (*)
Currently in version 2.3.4 Custom Layout Update has been removed to improve security which is great. But to add an update you have to create a xml file in relevant theme directory Magento_Cms, Magento_Catalog using this termination:

[code]

a) I tried this feature in using this termination  "cms_page_view_selectable_mylandingpage_custom.xml"

b) It would be nice if we declare

[2020-02-18 03:38] yvaliya4 commented on #26898
@magento give me 2.4-develop instance

[2020-02-18 03:39] magento-engcom-team commented on #26898
Hi @yvaliya4. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-18 03:39] magento-engcom-team commented on #26898
Hi @yvaliya4, here is your [Magento instance](https://i-26898-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26898-2-4-develop.instances.magento-community.engineering/admin_2261](https://i-26898-2-4-develop.instances.magento-community.engineering/admin_2261)
Login: `3cdb5966` Password: `91fb7dc08683`
Instance will be terminated in up to 3 hours.

[2020-02-18 04:06] yvaliya4 commented on #26898
Issue: Confirmed

[2020-02-18 05:39] magento-engcom-team commented on #26898
@pawankparmar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2020-02-18 05:46] magento-engcom-team commented on #26898
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31605` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-18 06:04] krishprakash commented on #26889
Hi @rrebisz.
No any reason to get opened as this is expected magento behavior.
so closing this ticket as non issue.

[2020-02-18 06:04] #26889 closed, assigned to krishprakash

[2020-02-18 07:39] ihor-sviziev commented on #16362
@lenaorobei @slavvka could you add an update, what's the current status?

[2020-02-18 08:08] speedupmate opened #26903 "Guest visitor e-mail in checkout kicks off password field visibility"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. add items to cart and reach checkout , use a unregistered e-mail in e-mail field and fill address data
2. go back to cart page (or to any other page as long outside from checkout page)
3. then go back to checkout page and see that it presents password fields for authenticating for e-mail that is not registered

### Expected re

[2020-02-18 09:05] ihor-sviziev commented on #16657
Hi @smiso,
According to test results in https://github.com/magento/magento2/pull/18709#issuecomment-581847344 we weren't able to reproduce this issue on 2.4-develop. Could you confirm that it's already fixed?

[2020-02-18 09:11] alexmtch opened #26905 "Saving an entit on Console Command generate a deadlock exception on url_rewrite table"
### Preconditions (*)

1. Magento 2.3.3 on developer mode
2. Magento 2.3.4 on developer mode

### Steps to reproduce (*)
1. Create a new Console Command class like bellow
`class Test extends Command
{
    /**
     * @var CategoryFactory
     */
    private $categoryFactory;

    public function __construct(
        CategoryFactory $categoryFactory
    ) {
        $this->categoryFactory = $category

[2020-02-18 09:15] eduard13 commented on #26898
@soumyamol-mathew, looks like this was made intentionally, in order to display all the issues that are related to adding that product to the cart.

Here is the internal ticket MAGETWO-52011 where this behavior has been added.
Thank you.

[2020-02-18 09:19] VitaliyBoyko commented on #9756
Hi @magento-engcom-team
The issue is still reproducible time by time on the Magento 2.3.2.

![image](https://user-images.githubusercontent.com/20116393/74721668-6c810200-5240-11ea-8c42-844c354e1512.png)

Thank you!

[2020-02-18 09:27] umeshkdm opened #26906 "after placed order getting error The entity that was requested doesn't exist. Verify the entity and try again."
1 exception(s):
Exception #0 (Magento\Framework\Exception\NoSuchEntityException): The entity that was requested doesn't exist. Verify the entity and try again.

Exception #0 (Magento\Framework\Exception\NoSuchEntityException): The entity that was requested doesn't exist. Verify the entity and try again.
<pre>#1 Magento\Sales\Model\OrderRepository\Interceptor->___callParent('get', array(25)) called

[2020-02-18 09:53] Parakoopa commented on #25438
@rohit-wagento Are you still working on the issue? Otherwise I have the following fix for it and could open a PR if that's okay:

[code]

I don't think @ngreimel-lt 's patch above is related to the issue, but maybe I'm missing something

[2020-02-18 10:29] wittyvishwas commented on #23729
@magento give me 2.3-develop instance

[2020-02-18 10:29] magento-engcom-team commented on #23729
Hi @wittyvishwas. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-18 10:34] soumyamol-mathew commented on #26898
@eduard13, I know its a default behavior, but it looks terrible. Just a line of the message is enough to notify about the required fields.

[2020-02-18 10:52] surelockrich commented on #26896
Hello team,

Can you inform me about this issue, How much time it will take to solve?

@krishprakash @magento-engcom-team

Thank you

[2020-02-18 10:53] vincent-le89 commented on #26905
Hi @alexmtch

I tried on source code Magento 2.3.4 but it doesn't happen error like yours.
Try code:
1. File: app/code/Niteco/ChangeCategory/etc/di.xml
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <argum

[2020-02-18 11:29] deepaksnair commented on #26896
@magento give me 2.4-develop instance

[2020-02-18 11:30] magento-engcom-team commented on #26896
Hi @deepaksnair. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-18 11:30] magento-engcom-team commented on #26896
Hi @deepaksnair, here is your [Magento instance](https://i-26896-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26896-2-4-develop.instances.magento-community.engineering/admin_5ac2](https://i-26896-2-4-develop.instances.magento-community.engineering/admin_5ac2)
Login: `6ad6edba` Password: `0a95a8ae52e7`
Instance will be terminated in up to 3 hours.

[2020-02-18 11:30] LSERRE commented on #13225
+1 , This is still an issue with Magento 2.3.1

[2020-02-18 12:21] CeligoLabs commented on #26249
Hi team,
A gentle reminder, reopen the ticket, as the issue was not resolved.

[2020-02-18 12:33] reply-jpetersen opened #26908 "Group_Id set to default if saving account information"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a user account
2. Change customer group to differnent than default group
3. Login with user account
4. Save contact information in customer account

### Expected result (*)

1. Contact information are saved and the customer is still assigned to the assigned customer group

### Actual result (*)

1. Contact information a

[2020-02-18 12:34] reply-jpetersen commented on #26908
@magento give me 2.4-develop instance

[2020-02-18 12:34] magento-engcom-team commented on #26908
Hi @reply-jpetersen. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-18 12:34] magento-engcom-team commented on #26908
Hi @reply-jpetersen, here is your [Magento instance](https://i-26908-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26908-2-4-develop.instances.magento-community.engineering/admin_7dcc](https://i-26908-2-4-develop.instances.magento-community.engineering/admin_7dcc)
Login: `ecc0db69` Password: `8c0b63e2f449`
Instance will be terminated in up to 3 hours.

[2020-02-18 12:55] dthivanka commented on #12218
I was able to reproduce this issue in a Magento 2.3.4 instance with sample data. You need to have following tax calculation settings to reproduce this.
![Screenshot from 2020-02-18 12-43-48](https://user-images.githubusercontent.com/820360/74737601-123a6e00-524d-11ea-845f-f8510b969ef7.png)

follow @elvinristi steps to reproduce.

https://github.com/magento/magento2/pull/12219/commits fix the issue

[2020-02-18 13:02] ihor-sviziev commented on #12218
@magento give me 2.4-develop instance
@dthivanka could you try to reproduce it on test instance?

[2020-02-18 13:02] magento-engcom-team commented on #12218
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-18 13:03] magento-engcom-team commented on #12218
Hi @ihor-sviziev, here is your [Magento instance](https://i-12218-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-12218-2-4-develop.instances.magento-community.engineering/admin_8101](https://i-12218-2-4-develop.instances.magento-community.engineering/admin_8101)
Login: `40a74aa0` Password: `7ddd5db5252d`
Instance will be terminated in up to 3 hours.

[2020-02-18 13:15] dthivanka commented on #12218
@ihor-sviziev sure
@magento-engcom-team can I get a instance with sample data ?

[2020-02-18 13:16] ihor-sviziev commented on #12218
@dthivanka it's not supported, but you could generate small performance profile (test products, categories, etc) here: https://i-12218-2-4-develop.instances.magento-community.engineering/pub/testing/

[2020-02-18 13:27] manish-sirvi opened #26909 "Add grouped product with individual quantity to cart using rest api"
### Summary (*)

Currently i'm using  **POST** **/V1/carts/mine/items** rest api endpoint to add products to carts.
So for grouped product if use the payload as mentioned in devdoc then this picks the default quantity which is used in adminhtml to add those products to cart.

So if i want to add custom quantity for each product to add to cart, i am unable to use "product_option" in payload for gro

[2020-02-18 13:40] Eddcapone commented on #7889
What is this option doing?

[2020-02-18 14:20] amitbdigitalaptech commented on #25502
@navarr

If we upgrade  Vertex to version `3.3.0` for Magento Open source 2.3.3 Then the issue will resolve or not?

[2020-02-18 14:21] navarr commented on #25502
@amitbdigitalaptech The issue should resolve, yes.

[2020-02-18 14:25] wittyvishwas commented on #23729
@magento give me 2.3-develop instance

[2020-02-18 14:25] magento-engcom-team commented on #23729
Hi @wittyvishwas. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-18 14:30] dthivanka commented on #12218
@ihor-sviziev Can't replicate on magento 2.4-develop branch instance. May be it's fixed now on develop branch

[2020-02-18 14:48] amitbdigitalaptech commented on #25502
@navarr
I don't think, it will work

I have  tried  by adding `"vertex/module-tax": "3.3.0",` at `composer.json`.

**Getting below Error:**

[code]

[2020-02-18 14:49] agata-maksymiuk opened #26911 "Customer visitor model is not initialized until any POST request to controller is sent"
### Preconditions (*)

1. Magento 2.3.3 EE

### Steps to reproduce (*)

1. Open your Magento 2 shop as new visitor (eg. private window in your browser)
It is important to use an existing instance, already visited by many users before, not vanilla one.
2. Go to the page DOMAIN/catalog/product_compare/index

### Expected result (*)

1. Compare list is empty - you've just enter the page and never add

[2020-02-18 14:54] navarr commented on #25502
@amitbdigitalaptech You need to add a replace directive to your composer.json:

[code]

Then, if address validation is desired, you'll have to require that module separately (like tax)

[2020-02-18 15:24] ihor-sviziev commented on #12218
@dthivanka thank you for confirmation! In this case I'm closing this issue

[2020-02-18 15:24] #12218 closed, assigned to nobody

[2020-02-18 15:45] wigman commented on #25038
@engcom-Charlie I personally find it unacceptable to close a ticket if there's a workaround, without a real fix.
Does this remain on an internal backlog, or will this bug remain in core?

From the people experiencing the issue: could someone check the following?
In `\Magento\Catalog\Block\Product\ListProduct::configureToolbar`, wrap `$toolbar->setCollection($collection);` with a check to see if th

[2020-02-18 17:52] extremeskillz opened #26913 "Magento 2.3.4 order confirmations showing up as attachements to email clients"
Magento 2.3.4 (upgrade from 2.3.3)
Ubuntu 16.04LTS

Just did a fresh upgrade to 2.3.4 and the order confirmations from client order placed are not showing up at HTML anymore. They are showing up as attachements to emails. This impacts thunderbird and outlook email clients. Mobile email clients like seem to be fine. This needs to be address as its confusing clients when they reset passwords or sign

[2020-02-18 18:52] ivankristic commented on #19479
what in the a**...??
why is this closed @craigcarnell ?
its just closed in the other issue as well

this is your damn bug.

1. get vanilla instance
2. create A table **directly** in DB with `enum` type column
3. watch how your magnificent framework breaks...

its ridiculous that it reads whole DB on setup:upgrade.
WHY?

i created audit table, because, guess what, theres smth buggy with magento and

[2020-02-18 19:11] angelo983 opened #26914 "Timeout after click on Shopping cart Tab of a customer profile page"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Login as a customer, for example ALICE
2. Put a simple variation of a configurable product into the shopping cart
3. With API call, decrease stock to 0 and put simple product Out of Stock
4. From backend, open ALICE customer profile and click on Shopping cart Tab

### Expected result (*)
1. Product listed in the abandoned cart

[2020-02-18 19:19] magento-engcom-team commented on #24941
Hi @erlisdhima.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-22740` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you sti

[2020-02-18 19:30] angelo983 commented on #26914
OFF-TOPIC: in this vanilla instance, you can find in var report an exception trace because is impossible to use search box in home page

[2020-02-18 19:38] angelo983 commented on #26914
Issue is not reproducible in Magento 2.4, but only in Magento 2.3.X

[2020-02-18 20:16] foreverhydrox commented on #8267
Disabling Automatic Group Changes fixed it for me.

[2020-02-18 20:55] onlyapproved commented on #22094
+1 Dosn't matter if elastic search is disabled / enabled.

[2020-02-18 21:08] afirlejczyk commented on #7283
Is anybody is working to port changes for Magento 2.3.4? If not I will try to port changes from Magento 2.2 https://github.com/magento/magento2/pull/17371

[2020-02-18 22:13] Bartlomiejsz commented on #21353
@magento-engcom-team @ihor-sviziev seems the issue is solved on 2.4-develop:
![image](https://user-images.githubusercontent.com/9566840/74782708-468d4900-52a4-11ea-990f-cd5441bc9eca.png)

[2020-02-18 23:08] Emilietrepanier commented on #26698
The patch did not fix it for me.
before I had an: internal Error..... Report ID: webapi
and now the an: Infiniteloo detected, review the trace for the looping path

[2020-02-18 23:15] MicheleBeargroup commented on #23808
Because we'd customized our checkout and billing showed up at an earlier step, I had to backtrack through templates that were pulling into our customized version of billing-address.html - one of these items was list.html - so I added that template to our them with a check for addressOptions since it was possible with a Guest user it would not exist -
<div class="control" data-bind="if: (typeof add

[2020-02-19 00:18] jackrevate commented on #26698
Infinite loop detected appeared due to a third party extension 'Stripe' - they have released a newer version.

[2020-02-19 02:47] pawankparmar commented on #26898
@eduard13 , as this is done intentionally and as per your comment it is not a bug , should I work on this or not ?

Thank you

[2020-02-19 04:13] soumyamol-mathew commented on #26898
@pawankparmar, yes, please. As it looks terrible, we actually need a solution for this.

[2020-02-19 04:14] ihor-sviziev commented on #21353
Hi @shikhamis11 could you confirm that issue is fixed and close the issue?

[2020-02-19 04:28] krishprakash commented on #26903
@magento give me 2.4-develop instance

[2020-02-19 04:28] magento-engcom-team commented on #26903
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-19 04:29] magento-engcom-team commented on #26903
Hi @krishprakash, here is your [Magento instance](https://i-26903-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26903-2-4-develop.instances.magento-community.engineering/admin_3b68](https://i-26903-2-4-develop.instances.magento-community.engineering/admin_3b68)
Login: `6cb9f73d` Password: `b0ea869be18f`
Instance will be terminated in up to 3 hours.

[2020-02-19 04:32] wittyvishwas commented on #23729
@magento give me 2.3-develop instance

[2020-02-19 04:32] magento-engcom-team commented on #23729
Hi @wittyvishwas. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-19 04:37] pawankparmar commented on #26565
@engcom-Hotel, I have checked and found there is no translation available for short day name in CSV.

[2020-02-19 04:38] magento-engcom-team commented on #26903
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31655` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-19 04:49] magento-engcom-team commented on #26908
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31656` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-19 05:06] renard123 opened #26917 "Tax rate Zip/Post range and check box alignment issue"
### Preconditions (*)
Magento: 2.3.4

### Steps to reproduce (*)
Admin -> Store -> Taxes -> Tax Zones and Rates -> Add new -> Tax rate Zip/Post range

### Expected result (*)
Should be in same line

### Actual result (*)
![image](https://user-images.githubusercontent.com/50658701/74803585-73bd1400-5303-11ea-83c9-700eeade9670.png)

[2020-02-19 05:14] magento-engcom-team commented on #26917
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31657` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-19 05:45] vincentteyssier opened #26918 "Currency switcher not working with Varnish despite X-Magento-Vary generated properly"
### Preconditions (*)
1.  Magento 2.3.4
2. Varnish 5.2.1y, full page cache enabled
3. PHP 7.3 OPCache enabled

### Steps to reproduce (*)
1. Allow several currency
2. Go to homepage and change currency from the currency switch

### Expected result (*)
1. Currency is changing

### Actual result (*)
1. Currency is not changing

More details:
I tried disabling OPCache and Block cache but no change. O

[2020-02-19 05:46] ghost opened #26919 "Cart rule coupon expiration date not getting saved in salesrule_coupon Magento 2.3.4"
It is working properly in 2.3.0, I guess some newer releases have affected this.

### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a cart rule with expiration date from backend.

### Expected result (*)

1. In salesrule_coupon table expiration_date should have value

### Actual result (*)

1. In salesrule_coupon table expiration_date has NULL value

[2020-02-19 06:20] JPNestNgocTruong commented on #9756
thanks @VitaliyBoyko
much appreciate your effort on this matter

[2020-02-19 06:25] mrtuvn commented on #26903
i'm working on this issue. Can you guys assign me on this

[2020-02-19 07:32] sam110386 commented on #25768
Guys, is this resolved in 2.3.4 ? Btw, I still see this issue in 2.3.4

[2020-02-19 07:38] vovsky commented on #25768
@sam110386  It is not resolved in 2.3.4, PR is not merged. But to fix that switch to website/store scope on Authorize.net configuration page and set "capture" action there.

[2020-02-19 07:58] bernd-reindl opened #26921 "Backend cart in customer detail view"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2.x
3. Multi website environment

### Steps to reproduce (*)

1. Setup a multi website environment
2. Set customer/account_share/scope to 0 (SHARE_GLOBAL)
3. create an customer on website > 1 (default frontend website)
4. Add something to the cart on website > 1
5. Now in the database should be an active cart for the store in website with id > 1 and

[2020-02-19 07:58] bernd-reindl commented on #26921
@magento give me 2.4-develop instance

[2020-02-19 07:59] magento-engcom-team commented on #26921
Hi @bernd-reindl. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-19 07:59] magento-engcom-team commented on #26921
Hi @bernd-reindl, here is your [Magento instance](https://i-26921-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26921-2-4-develop.instances.magento-community.engineering/admin_f5f1](https://i-26921-2-4-develop.instances.magento-community.engineering/admin_f5f1)
Login: `71b4736a` Password: `89854edda769`
Instance will be terminated in up to 3 hours.

[2020-02-19 08:21] cidarco opened #26922 "endless loading in checkout page"
Hello there,
I do have a problem in my website which is, after filling all shipping informations and pressing "Update" button, the website stuck on an endless loading then customers could not place an order.

I have this issu for both payment methods. [https://www.cidar.co/checkout/#payment](url)

Also I have a problem with shipping page for the products that contains just one option (1 size, 1 co

[2020-02-19 08:24] bernd-reindl commented on #26921
Additionaly if a customer has products in his quote with store_id > 1 this cart is not shown in backend.

See Customer 2 in instance  https://i-26921-2-4-develop.instances.magento-community.engineering/admin_f5f1. This customer has products in quote with store_id 2. But the shopping cart Tab shows only an empty cart.

![cart](https://user-images.githubusercontent.com/2369089/74815485-9d713d80-52f9

[2020-02-19 09:13] dragonfly4 commented on #23448
@magento give me 2.3.4 instance

[2020-02-19 09:13] magento-engcom-team commented on #23448
Hi @dragonfly4. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-19 09:14] magento-engcom-team commented on #23448
Hi @dragonfly4, here is your [Magento instance](https://i-23448-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-23448-2-3-4.instances.magento-community.engineering/admin_ad20](https://i-23448-2-3-4.instances.magento-community.engineering/admin_ad20)
Login: `63c1b56b` Password: `12500c135616`
Instance will be terminated in up to 3 hours.

[2020-02-19 09:28] jhruehl commented on #26921
Already argued with the Enterprise support about it. Debugging clearly shows it cannot work for a multiwebsite/store setup with shared customers.

Only one active cart could be handled by the code, but it actually tries to load the quote for store id 0, for which no active quote exists, so in the aftermath getAllItems() is called on an unfiltered quote object and returns all quote items given in t

[2020-02-19 09:52] devchris79 commented on #26913
Actually the fix for this should be in 2.3.5, here is the discussion:
#25076

and the commit:
6976aabdfdab91a9d06e412c2ed619538ed034b6

[2020-02-19 09:55] stkristobal commented on #26880
We are also experiencing this; and I can add that it has occurred for us even with bank transfer payment - where there's no third party payment processing. So the issue seems unrelated to payment provider.

[2020-02-19 10:12] davidpixie commented on #25209
Still occurring on fresh install of 2.3.4 too :-(

[2020-02-19 10:24] davidpixie commented on #25099
This is still happening on fresh install of 2.3.4. Reverting the following file to the 2.3.2 version fixed it for me:

**module-catalog/Model/Category/Attribute/Backend/Image.php**

[2020-02-19 10:46] engcom-Alfa commented on #26906
Hi @umeshkdm. Thank you for your report.
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop and 2.3.4 version. The order placed successfully and without errors.
So we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still f

[2020-02-19 10:46] #26906 closed, assigned to engcom-Alfa

[2020-02-19 11:15] gwharton commented on #26913
In my opinion that commit is not the proper fix. All it does is remove the content disposition inline header. The correct fix should be to fix the zend framework bug which incorrectly utf-8 encodes the content disposition header if present. That is the real reason for the issue.

[2020-02-19 11:32] maniramav opened #26925 "Magento 2.3.4 Product Export error"
### Preconditions (*)

When I select **Products** from **Entity Type** list, It should show **Entity Attributes** with Attribute Filters. It is not showing the list, when I click **Continue** , error is showing up as **

**

This issue started happening after I updated my Magento from 2.3.2 to 2.3.4

### Steps to reproduce (*)

![Annotation 2020-02-19 104828](https://user-images.githubusercontent.

[2020-02-19 11:42] devchris79 commented on #26837
@shikhamis11 Ultimo is using top.links from xml  /vendor/magento/module-customer/view/frontend/layout/default.xml. This appears to be getting cached in the Magento full page cache and served incorrectly as if the user is signed out.

If I applied cacheable="false" to the authorization-link it works fine, but this kills the entire page cache as far as I know. It seems like Magento has been closing

[2020-02-19 12:04] ihor-sviziev commented on #26880
@rigroweb @stkristobal unfortunately in order to fix the issue we need to identify it, so we need more details. Following info could help us reproduce the issue:
- exact steps to reproduce (if you have)
- error or exception logs
- any other info, for instance what exact payment method was used, how it was configured, etc.

Please remove your personal info/credentials/internal info/etc. before addi

[2020-02-19 12:40] krishprakash commented on #26922
Hi @cidarco.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the[ Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank You.

[2020-02-19 12:40] #26922 closed, assigned to nobody

[2020-02-19 12:57] alexmtch commented on #26905
Hello @vincent-le89 , you cannot reproduce because you doesn't follow the steps to reproduce.

It seems that when we use my process implementing the same as you but the CategoryFactory model is loaded by the dependency injection it won't works. Watch out this

[code]

[2020-02-19 13:27] oefterdal opened #26931 "Add attributes options via rest API"
### Preconditions (*)
Clean install of Magento 2.3.4

### Steps to reproduce (*)
1. Post via Postman
2. Create size attribute and modify attribute_id in json
3. Endpoint: /rest/V1/products/attributes/size
4. Post example
[code]

### Expected result (*)
Attributes created

### Actual result (*)
`"message": "SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a fo

[2020-02-19 13:27] oefterdal commented on #26931
@magento give me 2.4-develop instance

[2020-02-19 13:27] magento-engcom-team commented on #26931
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-19 13:28] magento-engcom-team commented on #26931
Hi @oefterdal, here is your [Magento instance](https://i-26931-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26931-2-4-develop.instances.magento-community.engineering/admin_1854](https://i-26931-2-4-develop.instances.magento-community.engineering/admin_1854)
Login: `048a0249` Password: `f41a424b6e0b`
Instance will be terminated in up to 3 hours.

[2020-02-19 13:36] oefterdal commented on #26931
On instance:

_https://i-26931-2-4-develop.instances.magento-community.engineering/admin_1854_

**I get:**

[code]

With this message

`{"attribute":
{
  "is_wysiwyg_enabled": false,
  "is_html_allowed_on_front": false,
  "used_for_sort_by": false,
  "is_filterable": false,
  "is_filterable_in_search": false,
  "is_used_in_grid": true,
  "is_visible_in_grid": true,
  "is_filterable_in_grid": true,

[2020-02-19 13:37] extremeskillz commented on #26913
I'm in agreement with gwharton. The should have been fixed by now with the 2.3.4 role out. I saw the tickets mentioning this but unless its fix in the stock code I don't consider that production.

[2020-02-19 13:41] gwharton commented on #26913
Magento had included the content disposition inline header since day 1 but was never an issue because zend framework 1 didnt have the bug. It only became a problem recently when magento moved to zend framework 2 which contains the bug. I dont know what other effects renoving the disposition inline header will have.

[2020-02-19 13:43] maniramav commented on #26925
There is another tread similar to this, [https://github.com/magento/magento2/issues/17320#issuecomment-409862037](url)

[2020-02-19 13:51] extremeskillz commented on #26913
The other thing to is I upgraded using composer, not the archive so the the temp fix mentioned is not in the same locations mentioned.  The original 2.2.2 install was from archive but all upgrades have been with the cli using composer. I'm using the Luma theme.

[2020-02-19 13:52] engcom-Alfa commented on #23729
Hi @jammy-git @wittyvishwas.
Unfortunately, we are not able to reproduce this issue on fresh 2.4 develop and 2.3.4-version.

**Actual Result:**
The customer receives two emails:
1. Welcome to  Website Store;
2. Newsletter subscription confirmation;
After confirmation, we received the third letter:
Newsletter subscription success

So, we have to close it.

Please feel free to comment, reopen or cre

[2020-02-19 13:52] #23729 closed, assigned to engcom-Alfa

[2020-02-19 14:24] engcom-Alfa commented on #26895
Hi @Tjitse-E. Thank you for your report.
This issue is duplicate to #11516.
The problem was reproduced on 2.4-develop instance and confirmed. The status is now "ready for dev"
So, we have to close it.
Thanks!

[2020-02-19 14:25] engcom-Alfa commented on #26895
Duplicate of #11516

[2020-02-19 14:25] #26895 closed, assigned to engcom-Alfa

[2020-02-19 14:26] dragonfly4 commented on #7668
Thanks to @bpoiss  for the hint. Spent 1 day searching for this problem.

Migration from v1.6 to v2.3.3 with the [Data Migration Tool](https://github.com/magento/data-migration-tool/releases/tag/2.3.3) resulted in not saving the VAT number. Neither in frontend and backend.

`SELECT * FROM eav_attribute where attribute_code = 'vat_id'`

Resulted in ID 563 while a fresh install returned ID 2.

ID 56

[2020-02-19 14:29] sdzhepa commented on #24941
@engcom-Delta

Could you please re-verify this issue internal jira ticket has been closed by an internal team as Cannot Reproduce, probably it was already fixed in the scope of another task/issue?

[2020-02-19 14:42] ilnytskyi commented on #26809
Try to install each group separetely with locks
This way you only run cron groups you want
Processes are not overlaped and stay locked

https://github.com/magento/magento2/issues/25987#issuecomment-576034263
e.g.
[code]

[2020-02-19 14:59] AleksLi commented on #21193
I found the exact line where the config of Global DI.xml would be overridden by the local di.xml file.

lib/internal/Magento/Framework/ObjectManager/Config/Config.php:248 _mergeConfiguration method. Replacing the old configuration with the new one.

[2020-02-19 15:00] tuyennn commented on #19278
@peterlembke @magento-engcom-team I have same issue experience on Magento 2.1.18, probably will have update to 2.3 but not now.

[2020-02-19 16:16] tufahu commented on #21193
https://github.com/magento/magento2/pull/21796 already closed here.

[2020-02-19 16:25] ihor-sviziev commented on #25938
@engcom-Charlie I don't agree. This is not the feature, this is a bug, as you can't configure "recommended" search engine with web installer.

[2020-02-19 16:28] amelojunior commented on #6144
I got this issue in Magento 2.3.2, any solution ?

[2020-02-19 16:34] sedonik commented on #26541
Hi

Cause I didn't reproduce moment when after Payment Getaway it lefts status "pending_payment'. I've only changed status in DB. Here is a screenshot where should be set (in item #26541).

![pending_payment](https://user-images.githubusercontent.com/5873715/74853150-2f9f3300-5346-11ea-88fa-f7412b0f9362.jpg)

[2020-02-19 16:41] asim-vax commented on #26377
Has there been any progress made? We are seeing this affect customers now

[2020-02-19 17:04] muratbinerbay commented on #25672
I think is an issue for PayPal payments through Braintree too.

**Preconditions (*)**
Magento 2.3.3 or 2.3-develop
Simple product is created.
Condition in Terms and Conditions is created and enabled.

**Steps to reproduce (*)**
Activate Braintree Paypal
Make a checkout
Don`t mark "Terms and Conditions" checkbox
Select Braintree Paypal payment
Click "Place Order" button

**Expected result (*)**
Sho

[2020-02-19 17:19] devchris79 commented on #26837
I have updated default.xml to the simplest form imaginable and the issue still seems to be there. I now have:

[code]
I browse through a few pages, home screen, category, product page etc. while not signed in, then I sign in and browse, the sign in link will incorrectly appear on some pages.

[2020-02-19 17:20] sjb9774 commented on #26377
@asim-vax In what way?

[2020-02-19 17:22] floplus commented on #26908
Same problem exists in the adminhtml_customer form, btw...

[2020-02-19 17:24] drew7721 commented on #26824
After looking into this, it seem that the same issue was happening with the wishlist.
[See first release note for 2.3.1](https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.1OpenSource.html#wishlist)

I assume this could be fixed in the same way. Looking for the commit that fixed that. For some reason there is no link in the release notes.

[2020-02-19 18:22] Jimgitsit commented on #19479
Looks like the user that closed this had their account deleted. Any one at Magento got eyes on this issue anymore or are our comments going into the ether?

[2020-02-19 18:31] stkristobal commented on #26880
@ihor-sviziev I wish I could. For us it's been random, but has occured 5 times in the past two months - covering 2.3.3 and 2.3.4. Both using Klarna and Wiretransfer.
- We get copies of the order confirmation, so I know this is sent (customer also gets it).
- It's also in the reservations table in Klarna, with the order number
- The order number is not listed in the database or the backend.
- No er

[2020-02-19 18:42] Grumag commented on #26698
@jackrevate This is happening to sites that do not have Stripe installed at all.  We have the same issue after upgrade to 2.3.4. Tried the the patch and it didn't do anything.

This is NOT fixed.

[2020-02-19 18:45] Emilietrepanier commented on #26698
We do not have stripe either and found that 1 third party tier pricing module was responsible.

[2020-02-19 18:49] rigroweb commented on #26880
I have had the exact same experience using both authorize.net and cardknox
as the payment processor.

   - We get copies of the order confirmation, so I know this is sent
   (customer also gets it).
   - It's also in the payments table in Authorize.net or Cardknox, with the
   order number, and the payment is authorized and collected.
   - The order number is not listed in the database or the back

[2020-02-19 18:50] Grumag commented on #26698
@Emilietrepanier Is it maybe from MageWorx, as we do have their extension installed, to add fees.

[2020-02-19 19:23] ivankristic commented on #19479
heck, sry @craigcarnell , i saw ghost being out and thought you took the assignment..

lets try like this @Jimgitsit

@magento-team @ajijshekh123 @srsathish92 @vincent-le89 @pawankparmar @Usik2203 @ramesh-durairajaram @ilnytskyi @shikhamis11 @sergiy-v @viktym @sdzhepa

hopefully thats enough

[2020-02-19 19:32] hostep commented on #26824
@drew7721: just a hint, if you look in the source code of the release notes, you'll find the ticket number: `MAGETWO-95311`. If you then search for commits in a clone of this git repo using something like: `git log origin/2.4-develop --grep 'MAGETWO-95311'`, you'll find 2 commits:
- 4333c92bf37af3c9e50fd953a46e904f0a1c2b05 (the fix)
- 6b14118933380d3d80d2efcb9a3e6095a93cb6b1 (the merge commit)

No

[2020-02-19 21:53] AleksLi commented on #26106
I tried to verify that the issue is still relevant but I couldn't.
What I did:
Branch 2.4-develop.
<img width="1389" alt="downloadable product-2 2020-02-19 22-41-25" src="https://user-images.githubusercontent.com/10618641/74879516-9aae3100-5369-11ea-9a6d-e6191d10af25.png">
I tried to get it using GRAPHQL
<img width="1167" alt="chrome-extension:::fkkiamalmpiidkljmicmjfbieiclmei" src="https://user-i

[2020-02-19 21:53] #26106 closed, assigned to AleksLi

[2020-02-19 22:50] vmasciotta commented on #11372
Same issue for me with Magento 2.3.4 using deployer

[2020-02-19 22:50] drew7721 commented on #16453
@ci2014 Yes, this is still valid and it gets worse in 2.3.4 as decimal attributes are actually assigned the price values.

[2020-02-20 00:20] magento-engcom-team commented on #26843
Hi @karthi6116. Thank you for your report.
The issue has been fixed in magento/magento2#26857 by @vincent-le89 in 2.4-develop branch
Related commit(s):
 - [bab4fb677ea110d614d434937264fc107ac75c1d](https://github.com/magento/magento2/commit/bab4fb677ea110d614d434937264fc107ac75c1d)
 - [fb71138cc42493df673d5b7440154db0021485e3](https://github.com/magento/magento2/commit/fb71138cc42493df673d5b744015

[2020-02-20 00:20] #26843 closed, assigned to vincentle89

[2020-02-20 00:20] magento-engcom-team commented on #24547
Hi @nikoskip. Thank you for your report.
The issue has been fixed in magento/magento2#24612 by @sashas777 in 2.4-develop branch
Related commit(s):
 - [a15f33557d72d4ab05a99e9583fbfc0e2daa2ba2](https://github.com/magento/magento2/commit/a15f33557d72d4ab05a99e9583fbfc0e2daa2ba2)
 - [664056fc0e4fedc5c10aac2d14537b285dbefffd](https://github.com/magento/magento2/commit/664056fc0e4fedc5c10aac2d14537b285

[2020-02-20 00:20] #24547 closed, assigned to sashas777

[2020-02-20 00:20] magento-engcom-team commented on #26054
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#26659 by @dasharath-wagento in 2.4-develop branch
Related commit(s):
 - [1f96b873283229aa6892444244475d9992c0d8f2](https://github.com/magento/magento2/commit/1f96b873283229aa6892444244475d9992c0d8f2)
 - [89b0a9d4edd2380672ee813d812fe8fbf715eb61](https://github.com/magento/magento2/commit/89b0a9d4edd2380672ee813d812f

[2020-02-20 00:20] #26054 closed, assigned to dasharath-wagento

[2020-02-20 00:20] magento-engcom-team commented on #26240
Hi @sergiy-v. Thank you for your report.
The issue has been fixed in magento/magento2#26317 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [b3abb06344d88d366a23f32a144f3d70abe4fb3c](https://github.com/magento/magento2/commit/b3abb06344d88d366a23f32a144f3d70abe4fb3c)
 - [9d9086fd7aeb1574c14b4608daf393b6ac7080fc](https://github.com/magento/magento2/commit/9d9086fd7aeb1574c14b4608daf393b6ac

[2020-02-20 00:20] magento-engcom-team commented on #26314
Hi @sergiy-v. Thank you for your report.
The issue has been fixed in magento/magento2#26317 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [b3abb06344d88d366a23f32a144f3d70abe4fb3c](https://github.com/magento/magento2/commit/b3abb06344d88d366a23f32a144f3d70abe4fb3c)
 - [9d9086fd7aeb1574c14b4608daf393b6ac7080fc](https://github.com/magento/magento2/commit/9d9086fd7aeb1574c14b4608daf393b6ac

[2020-02-20 00:20] #26314 closed, assigned to sergiy-v

[2020-02-20 01:56] ramesh-durairajaram commented on #26882
Hi @shikhamis11 , I don't get this new pickup template in `new order confirmation` option. How do we get this new pickup template

[2020-02-20 02:34] salvadorcanillas opened #26937 "Braintree Credit Card Not Working for Virtual Product When 3DSecure is set to Yes"
### Preconditions (*)

1. Magento CE 2.3.3 with Sample Data
2. magento-braintree version 100.3.3

### Steps to reproduce (*)

1. Create a virtual product
2. Add a Braintree Sandbox account. Set the 3D Secure Verification Setting to Yes. Set Threshold Amount to any amount.
3. Order the virtual product and use Credit Card (Braintree) as payment method.

### Expected result (*)

1. Order successfully

[2020-02-20 02:38] salvadorcanillas commented on #26937
@magento give me 2.3.3 instance

[2020-02-20 02:55] Emilietrepanier commented on #26698
@Grumag For us it was Blue Jalapeno Tier Pricing

[2020-02-20 03:14] toby-pondr commented on #10454
It seems like the confusion stems from if there's one colour vs multiple colours. If there is only one colour choice available, the sold out size will be hidden. Whereas if there are multiple colour choices available, the sold out size will be striked.

Personally, I would like the option to always show the sold out size, regardless of the number of colours available.

[2020-02-20 03:20] toby-pondr commented on #15047
I don't believe this to be a bug. It's more just how they've decided to handle this logic.

That said, I would like an option to show sold out sizes on items with just one attribute.

[2020-02-20 03:22] shikhamis11 commented on #26871
hi @Shraddha996
I am closing this issue due to inactivity .. feel free to open this issue with updated description

[2020-02-20 03:22] #26871 closed, assigned to shikhamis11

[2020-02-20 03:28] shikhamis11 commented on #26837
@devchris79 thanks for all the information ..
did you try to reproduce the issue at magento clean instance without theme ?

[2020-02-20 03:43] nntoan commented on #23400
Another commit related:
- 6d985af3486280a5a672ef32681a6cdb2a148aa3

[2020-02-20 04:38] jsdupuis opened #26938 "Cannot ship product if user doesn't have permission to edit Source configurations"
### Preconditions (*)

1. Magento Open Source 2.3.3
2. Php 7.2
3. Using MSI (Multiple Source Inventory). Website has 1 stock made of 2 sources.

### Steps to reproduce (*)

1. Have a product with 2 sources and with quantity 1+ in both sources
2. Have a user/role that doesn't have permission to edit store configurations
2. Have that user open an order that contains this product and click "Ship"

##

[2020-02-20 04:39] ajijshekh123 commented on #26937
@magento give me 2.4-develop instance

[2020-02-20 07:14] gotanasro3 commented on #25171
JannPadley  ->  THANKS YOU!!!
it works for me, the problem has been fixed
m: 2.3.3

thank you very much again

[2020-02-20 07:25] shikhamis11 commented on #21353
@magento-engcom-team give me 2.4-develop instance

[2020-02-20 07:47] shikhamis11 commented on #21353
Hi @ihor-sviziev I checked as per explanation of @sdzhepa coupon code with `/` is valid and it should be working at every place at checkout as well as on shopping cart ..
I checked on magento 2.4-develop instance It seems working at checkout cart page but not on checkout page .. so this issue persist at magento 2.4-develop instance also

[2020-02-20 08:00] soumyamol-mathew commented on #26898
@pawankparmar, @eduard13, Any update on the issue??

[2020-02-20 08:11] MageSuper commented on #26758
@Tripuls-Magento  I just had this issue, and thank god you outlined the workaround :D

Thank you.

[2020-02-20 08:12] ihor-sviziev commented on #21353
@shikhamis11 thank you!

[2020-02-20 08:24] eduard13 commented on #26898
Hi @pawankparmar, if you have any improvement to add here, just create a PR with your solution.
Thank you.

[2020-02-20 09:02] Bartlomiejsz commented on #21353
@ihor-sviziev @shikhamis11 that's weird, you can see on image attached in my previous comment that this request was finished successfully and coupon code was added. On github test instance it ends with 404. If I'll be able to I'll try to verify what can be a difference here somewhere in future

[2020-02-20 09:09] bernd-reindl opened #26940 "URL Rewrite destroyed"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Setup a multi website (not store) environment. (E.G. Website 1 = DE; Website 2 = EN)
2. Add a categories and translate the url path (E.G. global:Kategorie 1 (kategorie-1); website 2:Category 1 (category-1)
3. Add a product to the category and assign only to website 1 (Do not assign the product to website 2)
4. Check the URL re

[2020-02-20 09:09] engcom-Alfa commented on #26864
Hi, @Rajat9620. Thank you for your report.

Unfortunately, we are not able to reproduce this issue on clean 2.4 develop and 2.3.4 instances.
Probably the problem is with **Printful Integration** 3rd party extension.
So, we have to close it.

Thanks!

[2020-02-20 09:09] #26864 closed, assigned to engcom-Alfa

[2020-02-20 09:26] engcom-Delta commented on #24941
Hi @erlisdhima, @36serg6 . I am not able to reproduce issue by steps you described on clean 2.4-develop.
file with image from [comment](https://github.com/magento/magento2/issues/24941#issuecomment-541069246):
[importImageUrl1.csv.txt](https://github.com/magento/magento2/files/4229852/importImageUrl1.csv.txt)

file with image from another url:
[importImageUrl2.csv.txt](https://github.com/magento/m

[2020-02-20 09:26] #24941 closed, assigned to engcom-Delta

[2020-02-20 09:49] bernd-reindl commented on #26940
I can confirm this is reproduceable in vanilla Magento (2.4-dev)

![url_rewrite](https://user-images.githubusercontent.com/2369089/74921717-78023380-53ce-11ea-90ce-aa2bb9aadb0b.jpg)
![category-website 1](https://user-images.githubusercontent.com/2369089/74921738-7d5f7e00-53ce-11ea-8442-341006795e35.jpg)
![category-website 2](https://user-images.githubusercontent.com/2369089/74921764-83555f00-53ce-

[2020-02-20 09:52] manju-Cue commented on #26913
I also faced this issue in Magento2.3.3. I was considering it will be fixed in new release magento2.3.4 but unfortunately, it's still there.
And, I'm also in agreement with gwharton that it should be fixed in Zend framework.

[2020-02-20 09:59] engcom-Golf commented on #25038
Issue is reproducible if some custom module loads collection before `Magento\Catalog\Block\Product\ListProduct` block, and sets` pageSize()` then when `Magento\Catalog\Block\Product\ListProduct` initialized, they use the previous collection where exists pageSize(), and this is wrong, because on store front we have broken pagination.

- 1  Create Custom module, wich loads collection before ListProd

[2020-02-20 10:17] bernd-reindl commented on #26921
I have solved it by three modifications.

1. Edit Magento\Sales\Block\Adminhtml\ShoppingCartsTab -> getTabUrl()

`return $this->getUrl('customer/*/carts', ['_current' => true]);`
not
`return $this->getUrl('customer/*/cart', ['_current' => true]);`

customer/*/cart(s) handle all store_ids

I also think that ShoppingCartsTab should be part of module-quote not module-sales.

2. Magento\Customer\Block

[2020-02-20 10:39] disha2018 opened #26941 "searchV1 not getting proper result for API"
Hi team,

I need a api for getting all the result for the query keyword.

I tried the following url:
`{{m_url}}/rest/{{m_store_code}}/V1/search?searchCriteria[requestName]=quick_search_container&searchCriteria[filterGroups][0][filters][0][field]=search_term&searchCriteria[filterGroups][0][filters][0][value]=play&searchCriteria[filterGroups][0][filters][0][conditionType]=like `

I tried to add fiel

[2020-02-20 10:42] magento-engcom-team commented on #26893
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31711` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-20 10:44] gjportegies commented on #13225
I'm having this issue as wel on Magento 2.3.4 after enabling CSS merge. Because of this it looks like my images are dissapearing on PDP.

[2020-02-20 10:53] engcom-Alfa commented on #9756
Hi @JPNestNgocTruong @VitaliyBoyko.
Looks like this is the same issue as in #8933.
Isn't?
Thanks!

[2020-02-20 11:12] VitaliyBoyko commented on #9756
HI @engcom-Alfa
Nope, this issue is related to Sales Order functionality, the mentioned one to the Catalog Product functionality. Sales Tables could even have a separate DB if Database Sharding is being used. Moreover, as you can see from descriptions and comments, preconditions for issues are quite different. Thank you!

[2020-02-20 11:30] hostep commented on #21885
Possible fix in https://github.com/magento/magento2/pull/26713

[2020-02-20 11:39] VitaliyBoyko commented on #9756
The root of the issue seems to be the same. Closing this one. Thank you!

[2020-02-20 11:39] #9756 closed, assigned to engcom-Alfa

[2020-02-20 11:46] ihor-sviziev commented on #8615
@stephenbori @JaredAllen1
Are you using Apache? If yes - did you tried to to set following option in virtualhost?
[code]

Ref: https://github.com/magento/magento2/issues/13343#issuecomment-362783825

[2020-02-20 11:54] engcom-Delta commented on #12390
@WinstonN @J-SM @serucee , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-02-20 11:54] #12390 closed, assigned to engcom-Delta

[2020-02-20 12:03] engcom-Delta commented on #26038
@StratumWeb , thank you for your report. Salable quantities is MSI functionality
Please, refer to **Magento Inventory Project (a.k.a MSI)** [repo](https://github.com/magento/inventory)  for further investigation

[2020-02-20 12:03] #26038 closed, assigned to shikhamis11, engcom-Delta

[2020-02-20 12:07] ihor-sviziev commented on #21353
@Bartlomiejsz It might be related to apache vs nginx configuration.
On test instances we have apache.

I think it might be related to following:
https://github.com/magento/magento2/issues/13343#issuecomment-362783825
https://github.com/magento/magento2/issues/8615#issuecomment-588980345

[2020-02-20 12:14] Bartlomiejsz commented on #21353
Definitely looks like it @ihor-sviziev, I'm using nginx locally, so setting AllowEncodedSlashes should fix this for apache I think 👍

[2020-02-20 12:33] GuiltyNL commented on #12354
For me the solution was to specify the MAGE_RUN_CODE in my NGINX configuration for the admin backend. I did specify the run codes for our front end websites, but I did not know I needed to specify the run code for the admin also:

[code]
For Apache this would be something like:

[code]

I hope this solves the issue for you guys.

[2020-02-20 12:35] GuiltyNL commented on #3147
I think specifying the run code in the webservers config, could solve this issue too. Please see: https://github.com/magento/magento2/issues/12354#issuecomment-588998818

[2020-02-20 12:39] GuiltyNL commented on #12502
I think specifying the admin run code in the webservers config, could solve this issue too. Please see: https://github.com/magento/magento2/issues/12354#issuecomment-588998818

[2020-02-20 12:44] LordHansolo opened #26942 ""Add to Cart" button appear on category pages for "Out of Stock" products"
### Preconditions (*)
1. Magento 2.3.4 CE

### Steps to reproduce (*)
1. Enable MSI.
2. Set configuration in admin panel Stores->Settings->Configuration->Catalog->Inventory->Stock Options->Display Out of Stock Products = Yes
3. Add product to cart with maximum available qty.
4. Place order.
5. Flush cache.

### Expected result (*)
1. On category page fully sold product has status "Out of Stock" an

[2020-02-20 12:47] ihor-sviziev commented on #21353
Hi @slavvka,
Could you help to resolve incorrect Apache  configuration of test instances?

@Bartlomiejsz in addition to that I reported issue to describe needed configuration in the devdocs https://github.com/magento/devdocs/issues/6689

[2020-02-20 12:52] shashank9044 opened #26943 "Admin Action log doesn't log before change value?"
# Preconditions (*)
Magento 2.3.4 vanilla installation, we faced issue in Action Logging, Action Log only shows the result after change column not in before change column, before change column it shows N/A.

The values in the column **Value Before Change**  always have **N/А** values regardless of whether this is the first change or the next, or when the default value is returned.

### Steps to re

[2020-02-20 13:12] gwharton opened #26945 "Braintree error messages not consistent between 3DS and non 3DS"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
[code]
Observe position of Decline message.
Use debug tools to verify that the error message displayed is the same as the response back from Braintree.

![Without3DS](https://user-images.githubusercontent.com/30697781/74936559-41361880-53e2-11ea-840c-24787050b4dc.jpg)

[code]
Observe position of Decline message.
Use debug tools to

[2020-02-20 13:20] disha2018 commented on #26941
tried https://i-26941-2-4-develop.magento-testing-service.engineering/swagger

its giving 500: Error: Internal Server Error

API Token : 2h8rhb3fj3zjr811pl5ospbqkrlot1zp

check with "searchV1" api please
searchCriteria[requestName]=quick_search_container
searchCriteria[filterGroups][0][filters][0][field]=search_term
searchCriteria[filterGroups][0][filters][0][value]=car
searchCriteria[filterGroups

[2020-02-20 13:58] gwharton opened #26946 "Declined Braintree 3DS enabled transactions result in stuck loader icon"
### Preconditions (*)
1. 2.4-develop

### Steps to reproduce (*)
[code]
### Expected result (*)
1. Transaction is declined and able to retry using different details

### Actual result (*)
1. Checkout is stuck on loader

[2020-02-20 14:03] #26945 closed, assigned to nobody

[2020-02-20 14:25] engcom-Alfa commented on #26158
Hi, @Zyles. Thank you for your report.

This is the expected behavior that we cannot cancel an order in the payment review status.
At this stage, the bank decides whether to accept or decline the payment.
![1582208472046](https://user-images.githubusercontent.com/51679138/74942355-cd553980-53fc-11ea-963a-6cdeef520423.png)

Suppose the bank withdraws money from the account and at the same time we c

[2020-02-20 14:25] #26158 closed, assigned to sdzhepa, shikhamis11, engcom-Alfa

[2020-02-20 14:26] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-02-20 14:46] drew7721 commented on #16453
@ci2014 Yes, this is still valid and it gets worse in 2.3.4 as decimal attributes are actually assigned the price values. I will open another issue for this though.

[2020-02-20 14:46] palviggi-flagbit commented on #26692
We had the same problem, and at least on our case we tracked it down to a high amount of "show table status like 'store';" queries, resulting from the fix in https://github.com/magento/magento2/pull/24959

it adds a constant check to see if the store tables exists, without caching, even in the same transaction.

I reverted the changes and load went back to normal

[2020-02-20 14:50] Zyles commented on #26158
Your graph fails when Paypal fails to update your order.

[2020-02-20 15:03] engcom-Echo commented on #26794
Hi, @vahir2016. Thank you for your report.

Unfortunately, I do not reproduce it.

Cron "sales_grid_order_async_insert" work with "Only orders created/updated since the last method call will be added."

Invoices/Shipment/Creditmemo tied to orders also remain?

[2020-02-20 15:51] magento-engcom-team commented on #26943
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31717` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-20 15:56] magento-engcom-team commented on #26698
Hi @kerlama.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [92d178479561187cd22e810e90b28fbb67507640](https://github.com/magento/magento2/commit/92d178479561187cd22e810e90b28fbb67507640)
 - [f6cfd3a89a57786eb53eed451e120cc358b2f789](https://github.com/magento/magento2/c

[2020-02-20 16:07] GuiltyNL commented on #26921
I can confirm we are having this issue too. On Magento 2.3.3 Multi Website / Multi Storeview

[2020-02-20 16:59] drew7721 opened #26949 "Unable to create a product attribute of type Decimal for products on 2.3.4"
### Preconditions (*)

1. Magento 2.3.4

### Issue
The issue is with the **Decimal** product attribute. I believe this has been an issue for a while now but I can't seem to find a proper ticket describing this issue.

Say you need a product attribute such as `volume` that would be decimal values such as liters. There is no actual Decimal attribute, so it's determined that we'll use price instead.

[2020-02-20 17:21] extremeskillz opened #26950 "Magento 2.3.4 showing both Authorize.net Payments options as Depreciated"
### Description (*)
I just upgraded my magento 2.3.3 install to magento 2.3.4 and now we are seeing both Authorize.net options marked as depreciated. We are using the normal Authroize.net and not the Direct Post but what is going on with these plugins being depreciated? Authorize.net is the defacto standard for payments and would be nice to know what is the replacement since many of us use it as i

[2020-02-20 18:12] sdzhepa commented on #26943
@magento give me 2.4-develop instance

[2020-02-20 18:12] magento-engcom-team commented on #26943
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-20 18:13] magento-engcom-team commented on #26943
Hi @sdzhepa, here is your [Magento instance](https://i-26943-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26943-2-4-develop.instances.magento-community.engineering/admin_ea59](https://i-26943-2-4-develop.instances.magento-community.engineering/admin_ea59)
Login: `7c0e8d42` Password: `1345b57de2af`
Instance will be terminated in up to 3 hours.

[2020-02-20 18:20] fongd commented on #26882
I believe this issue also affects 2.3.3-p1 as well.

[2020-02-20 18:48] deepakpant91 opened #26951 "Product image disappeared in product view page after appearing for a while"
### Preconditions (*)

1. version 2.3.3
2. product page issue

### Steps to reproduce (*)

1. Go to product page http://kindercanteen.in/banana-makhana-quickie-3.html
2. After sometime product page image disappears

### Expected result (*)

1.  On Product page, images will appear

### Actual result (*)

1. On the product, page images disappeared after some time.

[2020-02-20 18:53] shikhamis11 commented on #26951
@magento give me 2.4-develop instance

[2020-02-20 18:53] magento-engcom-team commented on #26951
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-20 18:54] magento-engcom-team commented on #26951
Hi @shikhamis11, here is your [Magento instance](https://i-26951-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26951-2-4-develop.instances.magento-community.engineering/admin_e92c](https://i-26951-2-4-develop.instances.magento-community.engineering/admin_e92c)
Login: `a3733020` Password: `c53e094eb81b`
Instance will be terminated in up to 3 hours.

[2020-02-20 18:59] gwharton commented on #26951
Unlikely to be reproducable on vanilla. Suggest probably one of your modules is affecting things. I notice you have two modules that are both loading the owl.carousel stuff and are two different versions. Perhaps the conflict with the product image lies there as when the image disapears is when javascript is launched, i.e when the carousel takes over displaying the image (which doesnt work) from t

[2020-02-20 19:06] MichaelThessel commented on #21663
I'm seeing the same issue. In my case I get the error when searching for a sku using the keyword search field in the product grid in admin.

[code]

I will re-open this ticket as this is still being reported by multiple people and the proposed workarounds are just masking the problem.

[2020-02-20 19:54] shikhamis11 commented on #26951
Hi @deepakpant91
I checked url you shared ` http://kindercanteen.in/banana-makhana-quickie-3.html` I am not able to reproduce image disappear issue .. share you browser details too ..
also I am not able to reproduce any such behaviour either on magento 2.3.3 or magento 2.3.4
Please share video if you are able to reproduce this issue at magento instances also update description if it requires any a

[2020-02-20 20:37] roni-sooryen commented on #26507
@devchris79  Please keep me up to date with the status of your cron job processes. You can use the https://github.com/kiwicommerce/magento2-cron-scheduler to kill your cron job after the cron job runs for 3 hours.

[2020-02-20 20:38] roni-sooryen commented on #26809
Seems like this issue is able to fix this problem https://github.com/magento/magento2/issues/26507

[2020-02-20 20:42] roni-sooryen commented on #25634
Seems like this issue is able to fix this problem #26507

[2020-02-21 01:15] not-art opened #26955 "Front-end is not working after 2.3.3 upgrade to 2.3.3-p1"
### Preconditions (*)

1. Upgrading from 2.3.3 to 2.3.3-p1
2. Installing via composer
3. Have 2.3.3 supplemental patches applied to your composer.json / in composer-patches (EG: EmailMessageInterface backward compatibility issue patch for Magento 2.3.3, Fixed method chaining contract for Product Collection patch for Magento 2.3.3, etc)
4. Using nginx / php-fpm
5. Local / on-site hosting, not cloud

[2020-02-21 03:09] thunderwin commented on #5513
3 years, the bug still here?  ,  You can only use email_reset.

[2020-02-21 05:42] deepakpant91 commented on #26951
@shikhamis11 i have updated the images for this product.I have uploaded multiple images for this product then the images are displayed.If i upload single image then the issue is there.Please check this http://kindercanteen.in/banana-makhana-quickie-2.html

And if i use multiple images for product then at category page product image not displaying.

[2020-02-21 05:57] manju-Cue commented on #15187
Same issue I am facing on Magento 2.3.3. I found it in cron.log for indexer_update_all_views.
Did anyone get a solution for this?

[2020-02-21 07:00] leosingh44 commented on #24984
How is the issue closed?

Just to update in my case the issue was related to

`->addTo($emails)`

I checked this and found it was in

So I added a small check in the function

Replace

[code]
To

[code]

[2020-02-21 07:00] dipakCrayon commented on #23052
I also try above patches but not works for me in magento 2.3.3

[2020-02-21 07:10] Kannakiraj commented on #26937
@magento give me 2.3.3 instance

[2020-02-21 07:10] magento-engcom-team commented on #26937
Hi @Kannakiraj. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-21 07:11] magento-engcom-team commented on #26937
Hi @Kannakiraj, here is your [Magento instance](https://i-26937-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26937-2-3-3.instances.magento-community.engineering/admin_3612](https://i-26937-2-3-3.instances.magento-community.engineering/admin_3612)
Login: `7f0bcaca` Password: `6d36e87eb3db`
Instance will be terminated in up to 3 hours.

[2020-02-21 07:35] markPostema opened #26956 "Incorrect date formatting when switching between English and Dutch admin user language."
### Preconditions (*)

1. Magento ver. 2.3.3
2. Admin user language English(US)

### Steps to reproduce (*)

1. Set product 'Set Product as New From' to 7th of february 2020 (02/7/2020)
2. Save product
3. Change admin user language to Dutch(Netherlands)

![english_us](https://user-images.githubusercontent.com/2315282/75013470-a8a4a480-5484-11ea-9298-299f6d5ed168.png)

### Expected result (*)

1. T

[2020-02-21 07:42] markPostema commented on #26956
@magento give me 2.3.3 instance

[2020-02-21 07:42] magento-engcom-team commented on #26956
Hi @markPostema. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-21 07:43] magento-engcom-team commented on #26956
Hi @markPostema, here is your [Magento instance](https://i-26956-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26956-2-3-3.instances.magento-community.engineering/admin_21b7](https://i-26956-2-3-3.instances.magento-community.engineering/admin_21b7)
Login: `3199922f` Password: `4b64feefeeaf`
Instance will be terminated in up to 3 hours.

[2020-02-21 08:01] markPostema commented on #26956
Issue reproduced on https://i-26956-2-3-3.instances.magento-community.engineering/admin_21b7 magento instance.

Date on english language
![instance_english_us](https://user-images.githubusercontent.com/2315282/75015331-a17f9580-5488-11ea-96f1-e59801fc2738.png)

Date on dutch language
![instance_dutch_nl](https://user-images.githubusercontent.com/2315282/75015361-b78d5600-5488-11ea-8aab-8a09ed0aeef

[2020-02-21 09:46] engcom-Delta commented on #26914
Hi @angelo983 , thank you for your report. According contributor's [guide](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest `2.4-develop` branch.
If you'd like to update the issue, please reopen it.

[2020-02-21 10:04] bojjaiah commented on #25039
@magento-engcom-team @magento-team @m2-backlog @gauravagarwal1001 @shikhamis11  I'm also having the same issue in Magento V2.3.3. Can we have solutions to fix this within MagentoV2.3.3 without the upgrade to Magento V2.3.4 Please suggest to us?

[2020-02-21 10:10] marvinhinz opened #26960 "X-Magento-Tags Header too long - Apache / PHP error 500 on category pages"
### Preconditions (*)
1. Latest Magento 2.3.4 (Developer Mode)
2. A category containing many (simple) products (in this case about 2600)
3. No Varnish
4. Apache + PHP7.3-FPM (happens with 7.2 too)

### Steps to reproduce (*)
It seems magento creates http headers that are too long for most or some apache configurations. For me it happens when visiting a category page with many products.

PHP error

[2020-02-21 10:54] GuiltyNL commented on #26956
I can confirm this is an issue. In the mean while we've removed the Dutch locale for our backend.

[2020-02-21 10:56] Seb33300 commented on #6610
Hello @magento-engcom-team, I am not able to find the commit/PR fixing this issue.
Can you please give us the link?

Thank you

[2020-02-21 11:01] devchris79 commented on #26837
Root of the issue seems to be in the Ultimo theme caching, I have taken this up with the authors and will let @monotheist know the outcome.

Luma and blank themes don't show the issue.

[2020-02-21 11:15] munkhulzii commented on #3294
For me the session factory made the difference.

[code]

[2020-02-21 11:19] sprankhub opened #26962 "Backend Create Order: Configure Product Shows Two Stars For Required Custom Options"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Create a product with a required custom option.
2. Start to create an order in the backend.
3. Click on the "Configure" link for the product with the required custom option.

### Expected result (*)
One red star is shown to indicate that the option is required:

![image](https://user-images.githubusercontent.com/930199/75030352-

[2020-02-21 11:21] shikhamis11 commented on #26962
@magento give me 2.4-develop instance

[2020-02-21 11:21] magento-engcom-team commented on #26962
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-21 11:21] magento-engcom-team commented on #26962
Hi @shikhamis11, here is your [Magento instance](https://i-26962-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26962-2-4-develop.instances.magento-community.engineering/admin_27f8](https://i-26962-2-4-develop.instances.magento-community.engineering/admin_27f8)
Login: `12892e79` Password: `0e6acb8ed2be`
Instance will be terminated in up to 3 hours.

[2020-02-21 11:35] shikhamis11 commented on #26962
@magento give me 2.3.4 instance

[2020-02-21 11:35] magento-engcom-team commented on #26962
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-21 11:36] magento-engcom-team commented on #26962
Hi @shikhamis11, here is your [Magento instance](https://i-26962-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26962-2-3-4.instances.magento-community.engineering/admin_a11d](https://i-26962-2-3-4.instances.magento-community.engineering/admin_a11d)
Login: `3825d7f9` Password: `45a0c864b1a8`
Instance will be terminated in up to 3 hours.

[2020-02-21 11:38] devchris79 commented on #26507
@roni-sooryen Happy to report that we still have nothing stuck :-)

[2020-02-21 11:47] shikhamis11 commented on #26962
hi @sprankhub
I checked this issue is reproducible at magento 2.3.4 but not reproducible at magento 2.4-develop instance .
It seems it is already fixed at magento 2.4-develop instance.

[2020-02-21 11:47] #26962 closed, assigned to shikhamis11

[2020-02-21 12:12] sprankhub commented on #26962
You are right, @shikhamis11. As a reference, this has been fixed in https://github.com/magento/magento2/commit/91b8378752e5a29f8a8d99537dc1827e9e87bdfa.

[2020-02-21 12:57] Sathishkumar8731 opened #26963 "Missing JS file (critical-css-loader) in Magento 2.3.4"
### Preconditions (*)

1. Magento 2.3.4
2. MYSQL 5.6
3. PHP 7.2.X

### Steps to reproduce (*)

1. Go to the File Path: app/code/Magento/Theme/view/frontend/requirejs-config.js
2. Open the "requirejs-config.js" file and you can find below code in Mapper section

`'criticalCssLoader':      'Magento_Theme/js/view/critical-css-loader', `

3. Whereas, critical-css-loader js file should be available in

[2020-02-21 13:10] devchris79 commented on #26956
I think this is another manifestation of my issue #26675
Happily there is a fix in there :-)

[2020-02-21 13:30] axu34 commented on #8970
Any news on this bug?

[2020-02-21 13:49] inkobject commented on #8970
@sdzhepa to continue the "respond to comments one year later" trend, thank you for your input. If it is of any use, I have since moved to different hosts and have made many changes to the environment. I have not seen the issue crop up since. I agree with your observation regarding my experience.

[2020-02-21 14:25] mirzasahaab commented on #23808
/** * Magento 2.3.2 Fix checkout address issue. */

define([
    'ko',
    'underscore',
    'Magento_Ui/js/form/form',
    'Magento_Customer/js/model/customer',
    'Magento_Customer/js/model/address-list',
    'Magento_Checkout/js/model/quote',
    'Magento_Checkout/js/action/create-billing-address',
    'Magento_Checkout/js/action/select-billing-address',
    'Magento_Checkout/js/checkout-data'

[2020-02-21 14:29] engcom-Charlie commented on #26458
Hi @NetStorm84, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-02-21 14:29] #26458 closed, assigned to engcom-Charlie

[2020-02-21 14:30] engcom-Charlie commented on #26368
Hi @Kindlebit-Kbs, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-02-21 14:30] #26368 closed, assigned to engcom-Charlie

[2020-02-21 17:08] roni-sooryen commented on #26507
Seems like this is the same issue here https://github.com/magento/magento2/issues/22438

[2020-02-21 17:48] skybreaker85 commented on #24984
@leosingh44
What you are about to do in your code is indeed fixed. Your Question:

And your suggestion
[code]

Is no longer needed, because the method: `->addAddressByType(..)` now contains this line:
https://github.com/magento/magento2/blob/5f3b86ab4bd3e3b94e65429fed33f748d29c1bbe/lib/internal/Magento/Framework/Mail/Template/TransportBuilder.php#L431

It indeed does work now, without changes on c

[2020-02-21 19:10] bartoszkubicki opened #26969 "Queue_topology.xml queue declaration"
### Summary (*)

There are a few issues about queue declaration in file `queue_topology.xml`.
First of all queues are side-effect of exchange and binding declaration. It is higly unintuituve. If we use [lib](https://github.com/php-amqplib/php-amqplib) laying underneath, we declare exchange, queue, and we bind them together, which is much more clear. It is worth noticing that queue, once declared c

[2020-02-21 19:20] bartoszkubicki opened #26970 "Message exchange allowed types"
### Summary (*)

According to [docs](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/message-queues/config-mq.html#queuetopologyxml) only one type of exchange is allowed and it's `topic`. Is there any reason for these? I can understand, that using `topic exchange`, we can achieve all features of all native exchanges types. However excellent community plugins for rabbit (introducing new

[2020-02-21 19:36] not-art commented on #26955
Hello,

I think this is definitely related to the security patch not working, as the first change I saw in 2.3.3-p1 was in the main di.xml injecting a preference for VariableResolverInterface, which wasn't in 2.3.3. :( Did something not get properly patched in 2.3.3-p1, or did 2.3.4 functionality get added to 2.3.3-p1? :(

[2020-02-21 20:00] naydav commented on #26938
This bug should be moved to
https://github.com/magento/inventory/issues

[2020-02-21 20:21] naydav commented on #26942
Potentially Index (Stock) could be stored in dedicated data storage not related to SourceItems(reservations) at all.

That's segregation between Read and Command which provide ability to scale Read and Write infrastructure independently.

Maybe make sense to create a separate module for cases when system is not supposed to be split.
But it should be approved by Product Owner.

[2020-02-21 20:34] naydav commented on #26702
Hello @vahir2016,
It is legacy code.

Possibility to work with Multi Stocks was implemented in a separate project:
https://github.com/magento/inventory/wiki

Do you mean **Multi-Source Inventory (MSI) project**? Can you provide more details, what exactly is the issue?

Thanks

[2020-02-21 20:49] bartoszkubicki commented on #24826
Issue is well described [here](https://github.com/magento/magento2/issues/26209), so I close this issue.

[2020-02-21 20:49] #24826 closed, assigned to nobody

[2020-02-21 22:13] hostep commented on #26955
We are running 2.3.3-p1 on many shops without this issue, are you sure you did everything correct? Some more debugging and trying to figure out what goes wrong in your instance might prove useful here.

Can you double check if your `app/etc/di.xml` file contains this line:
`<preference for="Magento\Framework\Filter\VariableResolverInterface" type="Magento\Framework\Filter\VariableResolver\Strategy

[2020-02-21 22:20] magento-engcom-team commented on #25963
Hi @koushikch7. Thank you for your report.
The issue has been fixed in magento/magento2#26523 by @novikor in 2.4-develop branch
Related commit(s):
 - [b43980b94cdd208ee80e0e2cc9fc302469d96439](https://github.com/magento/magento2/commit/b43980b94cdd208ee80e0e2cc9fc302469d96439)
 - [93793d8af1c0de796df340beb9f8707a941e28f1](https://github.com/magento/magento2/commit/93793d8af1c0de796df340beb9f8707a9

[2020-02-21 22:20] #25963 closed, assigned to novikor, konarshankar07

[2020-02-21 22:20] magento-engcom-team commented on #14958
Hi @LlZARD. Thank you for your report.
The issue has been fixed in magento/magento2#22296 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [8529467d79abb67a63db2a0128f6723ec1c06af9](https://github.com/magento/magento2/commit/8529467d79abb67a63db2a0128f6723ec1c06af9)
 - [4c4ae5350087e8e441d1513d45e1e372b15d2ec3](https://github.com/magento/magento2/commit/4c4ae5350087e8e441d1513d45e1e372

[2020-02-21 22:20] #14958 closed, assigned to Bartlomiejsz

[2020-02-21 22:20] magento-engcom-team commented on #26675
Hi @devchris79. Thank you for your report.
The issue has been fixed in magento/magento2#26701 by @edenduong in 2.4-develop branch
Related commit(s):
 - [5ebb43bb59b97f5315ae6421fe3c1b04c6affc70](https://github.com/magento/magento2/commit/5ebb43bb59b97f5315ae6421fe3c1b04c6affc70)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-21 22:20] #26675 closed, assigned to edenduong

[2020-02-21 22:20] magento-engcom-team commented on #26583
Hi @srsathish92. Thank you for your report.
The issue has been fixed in magento/magento2#26584 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [9c11369cea37527da27c63108b8e18fa3b56ee9d](https://github.com/magento/magento2/commit/9c11369cea37527da27c63108b8e18fa3b56ee9d)
 - [00317ef8f28a89c2ad7e5bf23d47beca8d9534ac](https://github.com/magento/magento2/commit/00317ef8f28a89c2ad7e5bf23d47

[2020-02-21 22:20] #26583 closed, assigned to srsathish92

[2020-02-21 22:20] magento-engcom-team commented on #26416
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26418 by @hitesh-wagento in 2.4-develop branch
Related commit(s):
 - [1aed73ef7b48ea17e9f5f52d949dba056b591cfd](https://github.com/magento/magento2/commit/1aed73ef7b48ea17e9f5f52d949dba056b591cfd)
 - [f88223a74a92cc8c3eafc7bf5aea6c6f8c88e83f](https://github.com/magento/magento2/commit/f88223a74a92cc8c3eafc7

[2020-02-21 22:20] #26416 closed, assigned to hitesh-wagento

[2020-02-21 22:20] magento-engcom-team commented on #25656
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#25806 by @Parakoopa in 2.4-develop branch
Related commit(s):
 - [0cea191adfc16bb7b3fcfc5b0d331bf3420ecc5d](https://github.com/magento/magento2/commit/0cea191adfc16bb7b3fcfc5b0d331bf3420ecc5d)
 - [99a1a98228b4dc0e280ad9d3feec89f6d2ecb334](https://github.com/magento/magento2/commit/99a1a98228b4dc0e280ad9d3feec89f

[2020-02-21 22:20] #25656 closed, assigned to theCapypara

[2020-02-21 22:20] magento-engcom-team commented on #25675
Hi @wibbel. Thank you for your report.
The issue has been fixed in magento/magento2#26650 by @molneek in 2.4-develop branch
Related commit(s):
 - [e088db1dcacf61f5861a8fffa607eabaef2ae66a](https://github.com/magento/magento2/commit/e088db1dcacf61f5861a8fffa607eabaef2ae66a)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-21 22:20] #25675 closed, assigned to molneek

[2020-02-21 22:20] magento-engcom-team commented on #24971
Hi @salmanazeez786. Thank you for your report.
The issue has been fixed in magento/magento2#24976 by @UncleTioma in 2.4-develop branch
Related commit(s):
 - [4c23a16eb20505a61edf317a1f6e75307aa6c05f](https://github.com/magento/magento2/commit/4c23a16eb20505a61edf317a1f6e75307aa6c05f)
 - [acb45f60b6cc825b4c7eccc7d06f7c9065c62291](https://github.com/magento/magento2/commit/acb45f60b6cc825b4c7eccc7d0

[2020-02-21 22:20] #24971 closed, assigned to UncleTioma

[2020-02-21 22:32] hostep commented on #26960
This is strongly related to https://github.com/magento/magento2/issues/6401 and is probably a duplicate.
But I'll leave this ticket open for now, since it needs to be more in the spotlight and needs to get fixed sooner rather than later.

[2020-02-21 23:11] bernd-reindl commented on #26940
Issue: Clear Description
Reproduced on 2.4.x

[2020-02-21 23:17] GuiltyNL commented on #12502
It is only able to do so when you pass the MAGE_RUN_CODE admin in Nginx or Apache. But that results in other unexpected beaviour like Magento searcing for product tables in Store 0 (and those don't exist) and other referral issues on the frontend (after adding products to a wishlist) and issues with incorrect links in certain emails that are mailed to customers (they receive backend links where it

[2020-02-21 23:23] lbajsarowicz opened #26973 "Fatal error on calling ImageFactory::create() for product_page_image_large"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Create a product with no image
2. Use `product_page_image_large` in your layout

### Expected result (*)
1. Placeholder displayed

### Actual result (*)
1. Fatal error: `PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Catalog\Block\Product\ImageFactory::getRatio() must be of the type integer, null given`

[2020-02-21 23:26] GDauer commented on #26940
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-21 23:26] magento-engcom-team commented on #26940
Hi @GDauer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-21 23:26] magento-engcom-team commented on #26940
Hi @GDauer, here is your [Magento instance](https://i-26940-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26940-2-4-develop.instances.magento-community.engineering/admin_1e8c](https://i-26940-2-4-develop.instances.magento-community.engineering/admin_1e8c)
Login: `0e7a6a93` Password: `7030602188fd`
Instance will be terminated in up to 3 hours.

[2020-02-22 00:14] viktym commented on #26840
@sjb9774
The initial solution is ready and moving to the QA stage.
I expect that we will be ready to provide a patch early next week

[2020-02-22 00:24] GDauer commented on #26940
@magento give me 2.3.4 instance

[2020-02-22 00:25] magento-engcom-team commented on #26940
Hi @GDauer. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-22 00:25] magento-engcom-team commented on #26940
Hi @GDauer, here is your [Magento instance](https://i-26940-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26940-2-3-4.instances.magento-community.engineering/admin_34bb](https://i-26940-2-3-4.instances.magento-community.engineering/admin_34bb)
Login: `aaaf757c` Password: `637532920abf`
Instance will be terminated in up to 3 hours.

[2020-02-22 00:41] dverkade opened #26975 "Tests are failing when they are running at 00:00"
### Summary

- Created a new PR: https://github.com/magento/magento2/pull/26972
- PR didn't include any DB changes, so these test should not fail.
- Tests are failing due to them running and comparing results between 2 different dates: https://public-results-storage-prod.magento-testing-service.engineering/reports/magento/magento2/pull/26972/4b011829bf88bf9a4456d5585652a609/DatabaseCompare/ee-skip

[2020-02-22 00:43] GDauer commented on #26940
Hi @bernd-reindl i'm trying to work on your issue but i could not reproduce it. Can you give more information, maybe a video?

[2020-02-22 00:49] bernd-reindl commented on #26940
i already have reproduced it in https://i-26940-2-4-develop.magento-testing-service.engineering/admin_afb8

See my screenshots above.

[2020-02-22 01:25] lbajsarowicz commented on #26975
@slavvka That's something I've mentioned plenty of times on Maintainers chat.

Low-hanging fruits are:
1. Set the custom date and time for the testing environment
1. Do not run tests less than an hour before midnight.

More complicated is to avoid using current time in tests (I assume it's part of Tests Best Practices - isn't it @Vinai ?), but then we'll have to rewrite most of the tests.

[2020-02-22 04:25] slavvka commented on #26607
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26608 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [e6a3bee7dfbf17456e768a77d78e8e9a1b5bf133](https://github.com/magento/magento2/commit/e6a3bee7dfbf17456e768a77d78e8e9a1b5bf133)
 - [e26a536d1960253dfa2242b5793a6c805413a9ca](https://github.com/magento/magento2/commit/e26a536d1960253dfa2242b579

[2020-02-22 04:25] #26607 closed, assigned to lbajsarowicz

[2020-02-22 04:33] mrtuvn commented on #26753
@paul-gene may be this event will help you 'checkout_cart_save_before'

[2020-02-22 06:15] magento-engcom-team commented on #25856
Hi @lgrassini. Thank you for your report.
The issue has been fixed in magento/magento2#25858 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [840cec90c04a917530c3b9d652b4c39ba763e89d](https://github.com/magento/magento2/commit/840cec90c04a917530c3b9d652b4c39ba763e89d)
 - [5fb9d49ac15f785ccede9a7df5bc01161f3ee5f5](https://github.com/magento/magento2/commit/5fb9d49ac15f785ccede9a7df5bc0

[2020-02-22 06:15] #25856 closed, assigned to lbajsarowicz

[2020-02-22 06:55] ghost opened #26976 "Wrong Customer Group assign to order"
### Preconditions (*)

1.Magento 2.3.4
2.

### Steps to reproduce (*)

1. In admin configuration Enable Automatic Assignment to Customer Group set yes
2. login with different Customer Group then Default Group set in admin.
3. Place order

### Expected result (*)

1. order need to display same login customer group .

### Actual result (*)

1. order display customer group which set as default group

[2020-02-22 07:06] prashantbarot commented on #26976
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-22 07:07] magento-engcom-team commented on #26976
Hi @prashantbarot. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-22 09:48] AleksLi commented on #26976
@prashantbarot I reproduced the issue on 2.4-develop branch. Also the customer group has changed when the order was placed.

For example I've set wholesale group for customer and _General_ as Customer Group then Default Group in configuration (system->configuration). When the order was placed I've seen that Customer group in order is _General_ but should be **wholesale**. And the customer group fo

[2020-02-22 11:16] ilnytskyi opened #26978 "Running the console commands loads the modules twice. Increases execution time"
### Preconditions (*)
2.4-develop
Class:` Magento\Framework\Module\ModuleList\Loader::load`
Is it a bug or a feature? Extra 200 ms in CLI can be not that a lot, but when we see this in many places and running every command is affected by this problem; it increases the execution time.

1. Run any CLI command and see this
![upload_1](https://user-images.githubusercontent.com/3192770/75091222-217e2c0

[2020-02-22 11:26] ilnytskyi commented on #23577
@magento-engcom-team @ivan-koliadynskyy
Can anyone check this comment ?
https://github.com/magento/magento2/issues/26692#issuecomment-589086483

if the check result is not cached it can affect performance and increase DB load ?

[2020-02-22 11:38] deepjoshi94 commented on #23631
Hello,
I am facing the same issue with Magento 2.3.2 CE.
Any fixes for this?

[2020-02-22 12:13] gwharton commented on #26946
Looks great. PR fixes issue for me. :)

[2020-02-22 14:17] krishprakash commented on #26976
Hi @prashantbarot.
Issue is duplicate to #26719 and already open.
You can track progress from above issue id
Thanks

[2020-02-22 15:28] pradeep-wagento commented on #23631
@deepjoshi94
You can use this fix https://github.com/magento/magento2/pull/26662/commits/8f4360b3d0e501d54d66bcf6cd20d26174824319

[2020-02-22 16:29] vipin12117 commented on #26578
I am also facing same issue. Can magento tell what changed in collection pagination in 2.2 and 2.3 ?

[2020-02-22 18:10] seyuf commented on #5304
@flancer64 the Adapter seems to not be the right replacement in every case`Magento\Payment\Model\MethodInterface` is. Indeed `\Magento\Payment\Model\Method\Adapter` forces one to set a gateway command. It would be nice if @orlangur could confirm this... Also the deprecated AbstractMethod seems to be still predominately present in magento code base so i assume, we still have some months/year before

[2020-02-22 21:36] GuiltyNL commented on #12354
@ask694 please try this PR, change line 111 in this file, just remove the !, it seems to work for us:

https://github.com/magento/magento2/pull/25563/files

[2020-02-22 21:37] GuiltyNL commented on #12502
This PR seems to fix the issue:

https://github.com/magento/magento2/pull/25563/files

[2020-02-22 22:41] AnemosGroup commented on #24808
The fix is working but the merge is not taking into consideration the available quantity of stock products.
At Model\Quote.php, lines 2392 and 2393:
...
$quoteItem->setQty($quoteItem->getQty() + $item->getQty());
$this->itemProcessor->merge($item, $quoteItem);
...

The setQty bypasses any check of availability / eligibility.
Let's say a product has only 1 items in stock, a logged in customer adds

[2020-02-22 23:02] ghost opened #26981 "Guest cart assignToCustomer REST Api merges carts without checking for stock quantity / product eligibility."
**Additional information**
When the customer places the order, a cart item quantity error is thrown.
`"message": "The requested qty is not available",` and long calls trace, which is correct.
The issue is: **The customer is forced to guess what cart item has not enough stock quantity or to update qty / delete the cart item accordingly.**

### Preconditions (*)
1. Magento 2.4
2. All steps are inten

[2020-02-22 23:05] AnemosGroup commented on #26981
@magento give me 2.3.4 instance

[2020-02-22 23:06] magento-engcom-team commented on #26981
Hi @AnemosGroup. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-22 23:06] magento-engcom-team commented on #26981
Hi @AnemosGroup, here is your [Magento instance](https://i-26981-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26981-2-3-4.instances.magento-community.engineering/admin_7364](https://i-26981-2-3-4.instances.magento-community.engineering/admin_7364)
Login: `1ea907be` Password: `26cb559148dd`
Instance will be terminated in up to 3 hours.

[2020-02-23 03:21] atIOCrON commented on #8181
Any update on this, Magento?

How is it possible a bug like this gets reported in Jan 2017 and in Jan 2020 it still isn't fixed?

We have staff on the phone all day every day placing orders and inadvertently filling customers accounts with duplicate addresses.

This lack of action on the part of Magento is seriously making me wish we'd chosen another platform.

If @erikhansen can come up with a wo

[2020-02-23 03:24] xeontcs commented on #24353
Same issue. Since Magento 2 is using VCL 4.0, I changed my Docker to million12/varnish which is Varnish 4 for now.

[2020-02-23 11:42] jesperbrejning commented on #26254
we see the same issues

[2020-02-23 15:27] mugua opened #26985 "AS ISO 3166, TW shoud be Taiwan, Province of China（中国台湾），Pls update it !"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-02-23 15:30] ihor-sviziev commented on #24353
@engcom-Alfa @engcom-Bravo @engcom-Foxtrot could you review this issue again? It looks to me really critical

[2020-02-23 17:19] AnemosGroup commented on #26981
@magento-engcom-team I confirm that I were able to reproduce the issue on vanilla Magento instance following steps to reproduce.

[2020-02-23 17:43] lbajsarowicz opened #26986 "REST API Pagination Does not work as expected"
### Preconditions (*)
1. Magento 2.3.4
2. REST API Call

### Steps to reproduce (*)
1. Fixture with 3 orders
2. Request with `page_size` = 1 and `current_page` = 99

### Expected result (*)
1. `total_count` returns 3
2. `items` returns empty array **OR** OutOfRangeException

### Actual result (*)
1. `total_count` is 3
2. `items` returns repeated last page of results

### Kudos for
@ihor-sviziev ,

[2020-02-23 18:34] luzat commented on #26675
Won't this fix be applied to 2.3?

[2020-02-23 18:40] lbajsarowicz commented on #26986
I'm going to address the issue with data described with `dataProvider`:
[code]

[2020-02-23 19:15] gwharton commented on #26675
I don't know what Magento's plan is for backporting to 2.3. Presumably they are still going to be releasing 2.3.5 etc... so I would assume they will be handling the backporting internally, as we are no longer able to generate backports outside of the magento organisation.

In the meantime....

For each issue I care about, that has been merged into 2.4, I create a diff and apply it using the cweaga

[2020-02-23 19:38] lbajsarowicz commented on #26986
The source of the issue is located in:

https://github.com/magento/magento2/blob/09de30c806de5f69c081991f8afabcdfc3b19926/lib/internal/Magento/Framework/Data/Collection.php#L240-L249

Although `$this->_curPage` is overwritten by the

[code]

That is not passed back to all APIs. There are two options, actually:
1. Remove above-mentioned mechanism to return no values when we reached the last page.
2

[2020-02-23 22:46] lbajsarowicz opened #26989 "MFTF: Use Magento Cron for reindexing after creating data"
### Preconditions (*)
1. Magento 2.4
2. Magento Functional Testing Framework 2.6

Issue: `indexer:reindex` is used for reindexing or no reindexing happens.

### Steps to reproduce (*)
N/A

### Expected result (*)
1. Magento Cron is used for reindexing
2. Reindex happens after each `<createData` group

### Actual result (*)
1. `<magentoCli` with `indexer:reindex` and `cache:flush` is used

[2020-02-24 01:03] bugbuster2 opened #26991 "Configurable Product Not correctly being populated on 2.3.4"
### Preconditions (*)
1. Magento 2.3.4
2.

### Steps to reproduce (*)
1.Create two separate attribute with a number of options (I had 5 in one and 10 in the 2nd one)
2.Generate configurable options using these two attribute
3 In product edit mode, I try to disable some of the options generated from these two attribute.

### Expected result (*)
1. [Screenshots, logs or description]
2.The disable op

[2020-02-24 05:53] matthew-muscat commented on #26709
@magento give me 2.4-develop instance

[2020-02-24 05:53] magento-engcom-team commented on #26709
Hi @matthew-muscat. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-24 05:54] magento-engcom-team commented on #26709
Hi @matthew-muscat, here is your [Magento instance](https://i-26709-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26709-2-4-develop.instances.magento-community.engineering/admin_36ba](https://i-26709-2-4-develop.instances.magento-community.engineering/admin_36ba)
Login: `c6016c60` Password: `7ca19cfdb748`
Instance will be terminated in up to 3 hours.

[2020-02-24 06:19] matthew-muscat commented on #26709
@ajijshekh123 — confirming i'm able to repeat the issue on Magento v2.3.4 and also the latest Magento 2.4-develop snapshot.

The behaviour specifically occurs when viewing a configurable product, making a selection of a specific configuration, which contains a video located in any area other than the first image position.

If the instance remains online, this can be viewed over at...
https://i-267

[2020-02-24 06:39] leosingh44 commented on #24984
@skybreaker85  I have already applied the same code, but still it didn't hence I wanted to share the fix which I did.

I tried that already but didn't worked for me, and hence I came up with the code that I shared.

[2020-02-24 06:49] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-02-24 06:49] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-24 06:49] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_919b](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_919b)
Login: `4484b7c5` Password: `85644f65765e`
Instance will be terminated in up to 3 hours.

[2020-02-24 07:15] renard123 opened #26992 "Add New ratings Is active and checkbox alignment issue"
Add New ratings Is active and checkbox alignment issue

### Preconditions (*)
Magento: 2.3.4

### Steps to reproduce (*)
- Admin -> Stores -> Attributes -> Ratings -> Add new ratings

### Expected result (*)
It should display in same line

### Actual result (*)
![image](https://user-images.githubusercontent.com/50658701/75133818-2b866300-5702-11ea-8379-34abfd595b75.png)

[2020-02-24 07:28] avoelkl commented on #8198
This, thanks for having a look again.
I'll talk to my colleague if the he set en_SG correctly. @ihor-sviziev

[2020-02-24 08:07] ioweb-gr commented on #26733
@mrtuvn I read a few articles regarding this update for custom layouts and it seems that people who upgraded mention that the old directives added via the textarea box in backend are still in effect, it's just admins that lost the ability to edit them. Several mention that upgrading didn't affect their store.

However I can verify from my own experience that installing sample data on a lot of them

[2020-02-24 08:15] matthew-muscat commented on #26709
Upon further investigation, it appears that this issue is due to the data on the `Magento_ProductVideo/js/fotorama-add-video-events` widget

Specifically `optionsVideoData` looks to have the video data always set as the first object in the array of product media gallery assets.

It would appear the sort order of the gallery is not occurring in https://github.com/magento/magento2/blob/2.4-develop/a

[2020-02-24 08:30] magento-engcom-team commented on #26992
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31802` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-24 08:42] prashantbarot commented on #26976
Hi @krishprakash

            Thanks for check this one i check with issue #26719 and #26976 both has different issue.In #26976 issue coming only if we set yes for Enable Automatic Assignment to Customer Group and coming this issue in frontend. and #26719 issue coming in admin if try to create reorder.

[2020-02-24 08:43] Tomasz18 commented on #23583
@magento I am working on it

[2020-02-24 08:59] krishprakash commented on #26976
@prashantbarot. Reopened as issue is coming in different scenario.
Thanks for feedback !!

[2020-02-24 09:01] magento-engcom-team commented on #26976
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31803` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-24 09:06] markPostema commented on #26956
I applied the fix in your issue, it does not seem to work.

[2020-02-24 09:20] soumyamol-mathew commented on #26898
Hi @pawankparmar, Any updates on the issue?

[2020-02-24 09:25] ravi-chandra3197 commented on #26992
@magento give me 2.4-develop instance

[2020-02-24 09:25] magento-engcom-team commented on #26992
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-24 09:26] magento-engcom-team commented on #26992
Hi @ravi-chandra3197, here is your [Magento instance](https://i-26992-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26992-2-4-develop.instances.magento-community.engineering/admin_9463](https://i-26992-2-4-develop.instances.magento-community.engineering/admin_9463)
Login: `e71c3d5f` Password: `30e757358794`
Instance will be terminated in up to 3 hours.

[2020-02-24 09:38] ovidiucaramida commented on #5710
An easy to use and cheap solution for returns is this extension
https://webpanda-solutions.com/easy-returns.html

[2020-02-24 10:03] vincent-le89 commented on #26905
Hi @alexmtch

Sorry for reply late because I was busy with some personal works. I tried to use the dependency mechanism as you mentioned but the result wasn't different.
Refer my record: https://vimeo.com/393395840

This is my new code
1. File: app/code/Niteco/ChangeCategory/Console/Command/Category.php
[code]
Please feel free to let me know if you have any questions.
Best Regards
Vincent Le

[2020-02-24 11:13] hostep commented on #26985
Closing as a duplicate of https://github.com/magento/magento2/issues/24515

@mugua: if you have more information about this or if you don't agree with the statement over there, please continue the discussion in https://github.com/magento/magento2/issues/24515, thanks!

[2020-02-24 11:13] #26985 closed, assigned to nobody

[2020-02-24 11:40] magento-engcom-team commented on #26973
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31806` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-24 11:46] hewgim commented on #21025
Is there any news on this? It seems like this functionality is extremely important. There are loads of attributes that would apply to say simple products but not configurable products like EAN numbers etc. Are we instead meant to put configurable products and simple products in different attribute sets ?

[2020-02-24 12:14] devchris79 commented on #26837
The issue appears to be a change in 2.3.2 that made view models shared by default, consequently the settings that are built up in cfg.css wouldn't be correct for all the view models (product view, homepage, cat view etc.) There is a shared=false attribute, but I have been unable to get that to work.

The layouts for all pages are defined in
/app/design/frontend/Infortis/ultimo/Infortis_Ultimo/layo

[2020-02-24 12:36] oefterdal commented on #26931
Testet on multiple installations, get the same problem.

[2020-02-24 12:38] oefterdal commented on #26374
@shikhamis11 Did you find out anything?

[2020-02-24 12:42] bugbuster2 commented on #26872
Did you manage to resolve this problem at the end? Because I have the same problem, where if I disable one configurable option, the rest disappears from the drop down menu instead of the one that has been disabled.

[2020-02-24 12:56] riyajkadar opened #26994 "Backoffice order add product price issue"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. When adding product to order price is showing wrong, product price is 16.70 but it was showing 1670

### Expected result (*)

1. The site has 2 languages EN and FR. It is working fine for EN language. I am facing this issue only in FR Language.

### Actual result (*)

1. ![image](https://user-images.githubusercontent.com/61417

[2020-02-24 12:59] leosingh44 commented on #26994
@riyajkadar I suggest you to add data to the blank Points in order for someone to proceed.

[2020-02-24 13:12] leosingh44 commented on #26951
Hi @deepakpant91

It seems it is not a Magento bug but issue with the website.

I suggest you to post the issue on https://magento.stackexchange.com/
But do post all details, onl then anyone will be able to help.

Thanks

[2020-02-24 13:19] deepakpant91 commented on #26951
I think it is Magento issue because I have installed Magento 2.3.3 and when
I tested it then there is not any extension running.

On Mon, 24 Feb, 2020, 6:42 pm Gagan, <notifications@github.com> wrote:

[2020-02-24 13:22] gwharton commented on #26951
ok, well the issue won't get looked at until it can be confirmed on 2.4-develop. I recommend you use the instructions above to deploy a 2.4-develop test instance, and then prove it is not working on there. Be sure to post exact steps to reproduce the issue on the test instance, otherwise this will just get closed.

[2020-02-24 13:26] deepakpant91 commented on #26951
Ok I will create instance then reproduce the issue if this will happen with
2.4 because my version is 2.3.3

On Mon, 24 Feb, 2020, 6:52 pm gwharton, <notifications@github.com> wrote:

[2020-02-24 13:40] hostep commented on #13222
A new attempt at fixing this is happening in https://github.com/magento/magento2/pull/26748

[2020-02-24 14:04] xeontcs commented on #9537
Same issue. Subscribing for an update.

[2020-02-24 14:09] verheesj commented on #26850
Isn't this because the product in question is a configurable product?

[2020-02-24 14:30] asim-vax commented on #26377
@sjb9774 our 3DS payment gateways were redirecting to blank basket after inputting their bank details (session cookie not persisting). The fix from @HirokazuNishi worked great, and has fixed it for us(setting samesite to none, and secure to true)

[2020-02-24 14:41] asim-vax commented on #25480
We are using 2.3.3 EE, and have the same issue. We took https://github.com/magento/magento2/commit/1c3ee947270eb0465aef2710f3c216795747bbaf and turned it into a patch, this has fixed our problem of not moving from tmp directory

[2020-02-24 14:45] verheesj commented on #26882
@magento give me 2.4-develop instance

[2020-02-24 14:45] magento-engcom-team commented on #26882
Hi @verheesj. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-24 14:46] magento-engcom-team commented on #26882
Hi @verheesj, here is your [Magento instance](https://i-26882-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26882-2-4-develop.instances.magento-community.engineering/admin_8d71](https://i-26882-2-4-develop.instances.magento-community.engineering/admin_8d71)
Login: `9254450c` Password: `9cc5942a15ef`
Instance will be terminated in up to 3 hours.

[2020-02-24 15:00] sjb9774 commented on #26840
@viktym Thanks for your work on this, I look forward to seeing the fix soon

[2020-02-24 15:01] palviggi-flagbit commented on #22094
In my case it started happening after upgrading to 2.3.4.
The internal exception said that it couldn't execute a DDL during a transaction, and the error went away when I changed the indexers from "Run on Save" to "Run on Schedule". It's probably trying to create an index table during the product save

[2020-02-24 15:19] ilnytskyi commented on #26850
@verheesj
yes, but the problem is in its price renderer implementation

[2020-02-24 15:42] 0m3r commented on #24047
Currently, it's trying to do (Note the backticks):

[code]
This should instead be:

[code]

Fast fix

[code]

[2020-02-24 15:55] 0m3r commented on #24047
Fixed in 2.4-develop

https://github.com/magento/magento2/commit/f4de663ae5bc43a2d3bb1f09ec85599a65722691
[code]

[2020-02-24 15:57] amenk commented on #23540
The solution by @slackerzz sounds very reasonable to me.  Those systemd services should be in the devdocs :)

Starting the consumers via cron also seems to have the side-effect, that the first cron-run never returns

[2020-02-24 16:07] drew7721 commented on #26824
Great hint @hostep ! That will be very handy! Thanks!

[2020-02-24 16:44] christianbookpwood commented on #26578
Just FYI, I found that in my case this was fixed when I upgraded the Mirasvit Sphinx Search Ultimate to 1.0.138:

https://mirasvit.com/docs/module-search-ultimate/current/changelog#1-0-138

[2020-02-24 16:56] Cahoo commented on #26913
I've faced issue with =0A=0A=0A=0A=0A=0

![image](https://user-images.githubusercontent.com/17934645/75173299-563ede80-5737-11ea-82c7-8b6a9a042912.png)

[2020-02-24 17:29] not-art commented on #26955
Hi Hostep,

We've applied supplemental patches in 2.3.3 via composer in the past without issue, so we're confident we applied 2.3.3-p1 correctly, but I will check di.xml on the staging box having this issue and report back, thanks for the thread to pull to help us figure this out.

[2020-02-24 18:16] bubasuma commented on #25834
Internal Magento team is working on this issue right now.

[2020-02-24 19:40] svenakela commented on #4911
2.3.4 still...

[2020-02-24 20:17] svenakela commented on #4911
This seems to fix it but I don't understand why a cron job needs as free permissions. Go to your magento folder and run following:
`find . -type f -exec chown 664 {} \;`
`find . -type d -exec chown 775 {} \;`
`chown -R your_user:your_group`

truncate your log file and see if there are any new warnings coming through:
`rm var/log/update.log && touch var/log/update.log`

If you still have problems,

[2020-02-24 20:52] JacobBrownAustin commented on #6865
I'm seeing this issue as well on Magento 2.2.11 .
Thanks for the workaround @simon-letch  and @tschirmer !

[2020-02-24 21:44] hostep commented on #26955
If you apply 2.3.3-p1 using composer patches (like we do), make sure you also patch the `magento/magento2-base` package. This one should contain the extra line in the `app/ec/di.xml` file (amongst a whole bunch of other changes).

[2020-02-24 21:48] JacobBrownAustin commented on #6865
Also experiencing this on 2.3.4 (current latest release).

[2020-02-24 21:55] Megarushing commented on #6865
I was experiencing this before using bitnami magento2 image, but now I updated the image to 2.3.4 and this issue is doesnt seem to be happening anymore, disabled the workaround

[2020-02-25 01:43] sdzhepa commented on #24168
Hello @jamie-selesti

It seems this issue has been fixed with 2.3.4 release where the support of Invisible Google reCAPTCHA V3 was added

[2020-02-25 01:43] #24168 closed, assigned to sdzhepa

[2020-02-25 02:03] vibrantBits commented on #2400
This software is crap. It stucks at every step.

Can't believe it is a market leader.

[2020-02-25 04:33] ajijshekh123 commented on #26919
@magento give me 2.4-develop instance

[2020-02-25 04:33] magento-engcom-team commented on #26919
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-25 04:34] magento-engcom-team commented on #26919
Hi @ajijshekh123, here is your [Magento instance](https://i-26919-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26919-2-4-develop.instances.magento-community.engineering/admin_cf7d](https://i-26919-2-4-develop.instances.magento-community.engineering/admin_cf7d)
Login: `7f00802b` Password: `cc7fd0692886`
Instance will be terminated in up to 3 hours.

[2020-02-25 04:42] ajijshekh123 commented on #26919
Issue not produced.
See attached the screenshot:

![CouponCode_Date_Issue](https://user-images.githubusercontent.com/24711761/75215545-18819a80-57b7-11ea-85ae-a9a19fbc44b7.png)

If you have found this issue again, Please share the video and open the issue.

Thanks.

[2020-02-25 04:42] #26919 closed, assigned to ajijshekh123

[2020-02-25 05:04] ajijshekh123 commented on #26937
Hello @salvadorcanillas ,
I have verified this issue as per your steps, actual result, expected result and additional steps. But I didn't reproduce this issue.
@salvadorcanillas - Can you please share the video?
**See attached the screenshot:**

![Braintree_Issue1](https://user-images.githubusercontent.com/24711761/75216549-5a601000-57ba-11ea-9f36-9d5f9d6003a8.png)

![Braintree_Issue2](https://use

[2020-02-25 05:10] salvadorcanillas commented on #26937
Please try to order as guest.

[2020-02-25 05:12] ajijshekh123 commented on #26937
Okay @salvadorcanillas, Let me check it and update you.

[2020-02-25 05:22] ajijshekh123 commented on #26937
Hello @salvadorcanillas,
I have verified this issue as a Guest user with 2 different scenarios:
3D Secure "Yes" - Place an order is successful without getting error.
See screenshot:
![GuestUser_3D_Yes](https://user-images.githubusercontent.com/24711761/75217333-c2aff100-57bc-11ea-8b84-dd74e40446c2.png)

3D Secure "No" - Place order is successful with getting error.
See screenshot:
![GuestUser_3D_N

[2020-02-25 05:23] magento-engcom-team commented on #26937
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31852` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-25 05:27] surelockrich commented on #26896
Hello Team,

Can you update me about this issue?

Thank You

[2020-02-25 06:33] fannycqcang commented on #4617
@bastianhilton   How did you solve it？My credential was still working a few days ago, but I can't today

[2020-02-25 07:20] yogisfunda commented on #12059
Well, the issue was in 2.2 and I am sure it's solved in the latest 2.4... thanks for the fixes but I've already got this solved on Magento 2.2 in couple of days after posting the issue here. Anyways thanks for the notification.

[2020-02-25 09:20] santosh-ks153 opened #27002 "Product bulk update is not working.even cron job is running as per magento standard."
### Preconditions (*)

1.  Magento 2.3.2
2.  Php 7.2
3.  Mysql 5.6

### Steps to reproduce (*)

1. Bulk products not updated.
2. The cron job is running properly as per Magento standards

### Expected result (*)

I want to update the product.

### Actual result (*)

![screenshot-elifeguard-cw920e8cvsqhnbxp mojostratus io-2020 02 25-14_48_31](https://user-images.githubusercontent.com/55832852/75232

[2020-02-25 09:48] GuiltyNL commented on #27002
Could you try to disable Magento_Amqp and Magento_AmqpStore modules and after that add a new bulk job to the queue?

There are some reports that disabling these modules would solve the hanging jobs.

[2020-02-25 10:07] nicholasscottfish commented on #19220
Hi @Nazar65, what was the fix for this, I seem to be experiencing the same issue on a site running 2.2.5; we're not currently in a position to upgrade.

[2020-02-25 10:15] santosh-ks153 commented on #27002
okay let me try this.

[2020-02-25 10:32] manju-Cue commented on #14582
I am facing the same issue on fresh Magento2.3.3 :(

[2020-02-25 10:37] santosh-ks153 commented on #27002
Magento_AmqpStore is not available in Magento 2.3.2.
and I did disable the Magento_Amqp but still not working.

[2020-02-25 10:40] santosh-ks153 commented on #27002
also, I did this step with no luck.
https://magento.stackexchange.com/questions/281723/magento-2-bulk-actions-not-starting

Is it core bugs?

[2020-02-25 10:44] devchris79 commented on #27002
Our site kept getting stuck cron jobs and high ram usage due to stuck processes, this appears to have been solved by adding the code below to env.php:

[code]

This does presume you are not using RabbitMQ though.

[2020-02-25 10:45] santosh-ks153 commented on #27002
We did this step as well.

On Tue, Feb 25, 2020, 4:14 PM devchris79 <notifications@github.com> wrote:

[2020-02-25 10:50] devchris79 commented on #27002
It may also be worth checking you ram usage

[2020-02-25 10:50] santosh-ks153 commented on #27002
I don`t think its ram usage issue but let me try with that.

[2020-02-25 10:52] GuiltyNL commented on #27002
I don't think it is a general bug, because bulk updates are working here. However, we are on 2.3.3

[2020-02-25 11:05] santosh-ks153 commented on #27002
yes, that why I m asking it core bugs with 2.3.2?

[2020-02-25 11:35] Eddcapone opened #27003 "How to contribute a fix?"
I found a mini bug in **\vendor\magento\module-catalog\view\frontend\templates\product\compare\list.phtml**, which is easy to fix.

So I created a fork and cloned it. Then I executed **composer update**, but there are only a few folders in **vendor/magento**

How am I supposed to fix this bug if the files are not even there?

[2020-02-25 11:42] hostep commented on #27003
@Eddcapone: Magento's git repository uses a different structure, most of Magento's code is in one large git repository as it's easier to manage this way probably.

You can find the file you are searching for in `app/code/Magento/Catalog/view/frontend/templates/product/compare/list.phtml`

You can associate `vendor/magento/module-catalog` in a real project with `app/code/Magento/Catalog` in the git

[2020-02-25 11:45] hostep commented on #27002
It should also be working on Magento 2.3.2, I've tested this quite extensively.

@santosh-ks153: you'll probably need to do a bit of debugging, maybe this helps: https://github.com/magento/magento2/issues/23450#issuecomment-520134243

[2020-02-25 11:53] SGSJazzSingh opened #27005 "Multistore Category URL Generation Issue"
### Preconditions (*)
1. Magento 2.3.4
2. PHP 7.2.24

### Steps to reproduce (*)

1. Create an additional store.
2. Create two root categories with an identical category tree i.e:
    - root category 1
        - category 1
        - category 2
            - category 3
    - root category 2
        - category 1
        - category 2
            - category 3

3.) Create a product and assign it to the

[2020-02-25 12:03] fdanialex commented on #26596
Increase your memory_limit in PHP to match the requirements: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#memory-requirement

You may do this to complete the `setup:upgrade` phase:

 `$ php -d memory_limit=2048M bin/magento setup:upgrade`

[2020-02-25 12:06] santosh-ks153 commented on #27002
I did every possible solution available on Google with no luck.

[2020-02-25 12:08] Eddcapone commented on #27003
I see, thank you!

[2020-02-25 12:11] #27003 closed, assigned to nobody

[2020-02-25 12:11] magento-engcom-team commented on #9537
:white_check_mark: Confirmed by @engcom-Golf
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31869` were created

**Issue Available**: @engcom-Golf, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-25 12:20] engcom-Golf commented on #26047
Hi @Elamurugan-Nallathambi thank you for you report, this issue has already fixed in 2.4-develop and available on 2.3.4 release

[2020-02-25 12:20] #26047 closed, assigned to krishprakash

[2020-02-25 12:21] Eddcapone opened #27006 "Label translation missing in product compare list"
### Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)
1. Login as Customer
2 Add some products to the compare list
3. Go to "https://www.example.de/catalog/product_compare/index/"
4. Check if Labels on the left are getting translated

### Expected result (*)
Labels are getting translated.

![image](https://user-images.githubusercontent.com/16349349/75247168-9d79ad80-57d1-11ea-8de5-131905

[2020-02-25 12:33] operator888 commented on #4921
Almost 4 years after the initial report of this bug and its still here...

[2020-02-25 12:49] engcom-Alfa commented on #26829
Hi, @ridesoft. Thank you for your report!

As we see from your description, you are using PHPUnit version **8.5.2**.
In [Magento 2.3 technology stack requirements](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html)  states that Magento(v. 2.3) recommends using PHPUnit version **6.2.0**.
There should be no such error in this version.
So, we have to close it.

Please

[2020-02-25 12:50] will-wright1 opened #27008 "Invoice pdf year in date increasing on Magento 2.3.4"
The date on the invoice pdf increases year by year every time you create a new invoice.

### Preconditions (*)
1. Magento 2.3.4
2. Both Nginx and Apache Servers

### Steps to reproduce (*)
1. Create an order.
2. Create a second order.
3. Sales > Invoices > View Invoice for order 1 > Print
4. Sales > Invoices > View Invoice for order 2 > Print
5. The year on the date of the two invoice pdf's will b

[2020-02-25 12:57] ridesoft commented on #26829
Ok... so basically is not possible to run integration tests with php73+ because phpunit 6.2.0 supports only php72.

[2020-02-25 13:00] webamondo commented on #27008
I think this has maybe been fixed in 2.4 via this PR https://github.com/magento/magento2/pull/26701

[2020-02-25 13:03] prabhasunyscape commented on #7317
Might be cause of space.

[2020-02-25 13:04] krishprakash commented on #27008
Hi @webamondo. Yes issue is fixed in 2.4.
It will reflect in next 2.4 release.
Thanks!!

[2020-02-25 13:04] #27008 closed, assigned to krishprakash

[2020-02-25 13:18] matthewhaworth commented on #20867
@meichenblatt  which module mate?

[2020-02-25 13:29] engcom-Golf commented on #26829
HI @ridesoft how you run in `vendor/bin/phpunit PHPUnit 8.5.2` ? as far i remeber there always  6.2 version.

[2020-02-25 13:32] engcom-Golf commented on #26829
I think it would be better to open issue on devdoc and update PHPUnit requirements https://devdocs.magento.com/guides/v2.3/test/unit/unit_test_execution_cli.html

[2020-02-25 13:37] engcom-Golf commented on #26829
@ridesoft  here an example of running unti tests on php7.3

![DeepinScreenshot_select-area_20200225153906](https://user-images.githubusercontent.com/51681547/75252132-b63f8e80-57e4-11ea-8099-4fbb947789c3.png)

[2020-02-25 13:59] engcom-Golf commented on #17884
Hi @navarr thank you for your report, issue is not reproducible now on 2.4-develop branch, feel free to reopen this one, if you still have an issue with it.

[2020-02-25 13:59] #17884 closed, assigned to engcom-Charlie

[2020-02-25 14:02] AnnaShepa commented on #26956
@magento give me 2.3.3 instance

[2020-02-25 14:02] magento-engcom-team commented on #26956
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-25 14:03] AnnaShepa commented on #26956
@magento give me 2.4-develop instance

[2020-02-25 14:03] magento-engcom-team commented on #26956
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you