[2019-07-26 08:23] magento-engcom-team commented on #23601
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2019-07-26 08:26] magento-engcom-team commented on #23601
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18653` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:27] b2bdokter commented on #7570
Okay I try to reproduce it... Give me one please thank you

[2019-07-26 08:29] magento-engcom-team commented on #23895
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18654`, `MC-18655` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:30] magento-engcom-team commented on #23880
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18656` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:32] engcom-Charlie commented on #7570
@b2bdokter use it:
Admin access: https://i-7570-2-3-develop.instances.magento-community.engineering/admin
Login: admin Password: 123123q
Instance will be terminated in up to 3 hours.

[2019-07-26 08:34] magento-engcom-team commented on #23897
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18657`, `MC-18658` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:37] engcom-Charlie commented on #23886
@rani-webkul , i agree. But configuration of bundle product not like in your steps. I will change decription and confirm it.
Thank you for contributing!

[2019-07-26 08:39] magento-engcom-team commented on #23886
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18659` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:51] magento-engcom-team commented on #23890
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18660`, `MC-18661` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:56] ionutdicu commented on #22103
<pre>Override vendor/magento/framework/Mail/Message.php:165:
 private function createHtmlMimeFromString($htmlBody)
    {
        $htmlPart = new Part($htmlBody);
        //Add this:
        $htmlPart->setEncoding(Mime::ENCODING_BASE64);
       ...
    }
</pre>

[2019-07-26 08:59] magento-engcom-team commented on #23889
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18662` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 09:00] b2bdokter commented on #7570
Tried to reproduce on that installation , cant reproduce.

But since it happens on our own installation.
Whats more important to me and others still experiencing this... What can we do to solve this ?

customer invalid adress id 3832

I see no decent solution anywere...

[2019-07-26 09:14] pandyakrunal commented on #23855
Some time its work and some time it throws Network error when download.

[2019-07-26 09:16] mallafreDG commented on #22407
Hello, I just reproduced this issue in a new project based in Magento 2.3.2 and me and a teammate saw that disabling the vertex cache, does the menu works as intended (for anyone who gets this issue).

[2019-07-26 09:19] magento-engcom-team commented on #23900
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18663`, `MC-18664` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 09:19] engcom-Alfa commented on #22818
Hi @flauschi ! Thank you for your report.

I am not able to reproduce the issue on fresh 2.3-develop and 2.3.2 instances.

This issue was already fixed in 2.3.2 release in commit 5ec74e261a8ff78a7c8a9b85b9344418df66ead3

[2019-07-26 09:19] #22818 closed, assigned to engcom-Alfa

[2019-07-26 09:22] engcom-Charlie commented on #23761
Hi, @domeglic ! I check it on fresh Magento 2.3.2:
**Actual result:**
No errors
GIF:
![Peek 2019-07-26 12-17](https://user-images.githubusercontent.com/51680850/61941153-9bcbdb00-af9f-11e9-8825-4efd267f187c.gif)
----------------------------------------------------------------------------------------------------------------------------
If you wont to test in instance you can write "@magento give me

[2019-07-26 09:22] magento-engcom-team commented on #23761
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-26 09:23] magento-engcom-team commented on #23761
Hi @engcom-Charlie, here is your [Magento instance](https://i-23761-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23761-2-3-develop.instances.magento-community.engineering/admin](https://i-23761-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 09:24] Flipmediaco commented on #7570
@b2bdokter This is a data issue...

The table `customer_address_entity` has a foreign key named `customer_address_id` of 3832 which is the primary key `entity_id` of `customer_address_entity`... If you review these two tables, I suspect you will find the address identified by`entity_id` 3832 is no longer present, yet a reference in another table remains. The exacts specifics of this will likely be

[2019-07-26 09:31] magento-engcom-team commented on #23751
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18665` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 09:58] engcom-Bravo commented on #23855
@magento give me 2.3-develop instance

[2019-07-26 09:58] magento-engcom-team commented on #23855
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-26 09:58] magento-engcom-team commented on #23855
Hi @engcom-Bravo, here is your [Magento instance](https://i-23855-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23855-2-3-develop.instances.magento-community.engineering/admin](https://i-23855-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 10:04] slackerzz commented on #19469
For those waiting for a fix i suggest to use a composer patch that removes the `vendor/magento/module-customer/Setup/RecurringData.php`, here's mine:

[code]

Regarding the pull request i don't know what to say, we have to wait.
I dont know if @orlangur is away, on holiday or something else, however i opened it the 14th of February.

[2019-07-26 10:06] b2bdokter commented on #7570
Thank you @Flipmediaco for your time ,have a great day too

[2019-07-26 10:10] joshi8383 opened #23903 "category not shown in home page"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-07-26 10:15] engcom-Bravo commented on #23855
@pandyakrunal, please enter the above instance where we created an order and processed it to Complete status. Then we printed the invoice and here is what we successfully got:
[invoice2019-07-26_10-03-13.pdf](https://github.com/magento/magento2/files/3435266/invoice2019-07-26_10-03-13.pdf)
You can try to do it Yourself.
Thus we cannot confirm this issue as a Magento's core bug, and so we are suppo

[2019-07-26 10:15] #23855 closed, assigned to shikhamis11

[2019-07-26 10:20] pandyakrunal commented on #23855
Yes, I check it is work. Is this version is 2.3.2?

[2019-07-26 10:30] engcom-Bravo commented on #23855
@magento give me 2.3.2 instance

[2019-07-26 10:30] magento-engcom-team commented on #23855
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-07-26 10:31] magento-engcom-team commented on #23855
Hi @engcom-Bravo, here is your [Magento instance](https://i-23855-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-23855-2-3-2.instances.magento-community.engineering/admin](https://i-23855-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 10:33] pandyakrunal commented on #23855
Ok, thank you for your support.

[2019-07-26 10:37] engcom-Bravo commented on #23855
You are welcome @pandyakrunal. The last instance is exactly of 2.3.2 version. Unfortunately the result is the same as You may see.

[2019-07-26 10:42] engcom-Bravo commented on #23903
Hello @joshi8383. You need to give us some information about Your case. So please fill in the required parts of the issue description. Thank You.

[2019-07-26 10:50] bobemoe commented on #22103
This didn't actually fix the problem for me. I needed this as well https://github.com/magento/magento2/pull/23650

[2019-07-26 10:57] gwharton commented on #22103
@bobemoe, yes, This PR changes the emails so they are sent as MIME, but does not adjust the encoding. PR #23650 changes the encoding. Both are required together to get the functionality back to what we had in 2.2.7

@ionutdicu I wouldnt recommend setting the encoding to BASE64 as in your example. Follow PR #23650 which sets the encoding properly for both html and plain text emails.

[2019-07-26 11:26] kapil-infobeans commented on #1334
Hi @hackin88 ,

You can add jQuery or other dependency like below code, using shim configuration in **requirejs-config.js** file, and then you can initialize it on your element using below syntax.

[code]

Use on html element using below syntax.

[code]
I hope it helps.

[2019-07-26 11:52] sergey-solo commented on #5901
@heldchen Can't reproduce on 2.3.2 sample data either.

default.xml (or catalog_category_view.xml)
[code]
my_shiny_handle.xml
[code]

The above works correctly. Would you please describe your steps in more detail?

[2019-07-26 11:57] heldchen commented on #5901
@sergey-solo please re-read the issue description carefully: this issue is about layout update defined in the categories via the databasei... this issue is *not* about layout updates that are defined within layout xml files, those always worked.

![image](https://user-images.githubusercontent.com/299636/61950129-43033f00-afad-11e9-971a-240e7bf6dcfd.png)

[2019-07-26 12:09] bahramdavodi commented on #19710
with this extension product images load directly without cache and resized.

[2019-07-26 12:10] magento-engcom-team commented on #23661
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18666` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 12:13] magento-engcom-team commented on #21581
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18667` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 12:19] edenduong opened #23904 "No auto-focus after validation at "Create Configurations" button => User can not see the error message"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Catalog->Products
2. Add Products
3. Scroll to **Create Configurations**
![image](https://user-images.githubusercontent.com/8234209/61950937-a1dead80-afd9-11e9-96a9-6624f4f4036d.png)
4. Click the button **Create Configurations**

### Expected result (*)

1. Validate: Invalid, auto focus to the error fields

### Act

[2019-07-26 12:25] seyuf commented on #18802
Any news on this?
M 2.3.1 community
Elasticsearch
[code]

[2019-07-26 12:41] flauschi commented on #22818
It was not fixed in 2.3.2. The commit #5ec74e2 was after 2.3.2 release. But it is true, that it is fixed in the develop branch. Thanks for closing the issue!

[2019-07-26 12:45] #23724 closed

[2019-07-26 13:01] sajidunnar commented on #14582
I installed @khasru   module but it  dint work but it fixed the error but was getting message no data on export .

-- This issue is  with migrated data
-- Once I saved Tier Pricing in Store mode then  export worked properly as it should
-- Once Change Single-Store Mode to  yes  , it seems it helped but not sure but price export now

Thanks

[2019-07-26 13:02] vbuck commented on #19469
Thanks @slackerzz. Your patch is exactly what I have been applying since I first opened this ticket last year. It has not yet created any problems for me. I'll continue to wait on Magento until the core issue is resolved.

[2019-07-26 13:24] neobiz commented on #2380
Hello,
The issue still happen in Magento 2.2.6, is there a solution ?

[2019-07-26 13:29] magento-engcom-team commented on #23899
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18668` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 13:48] vivekkumar945744 opened #23907 "Coupon applied more than once when per customer usage is set to 1"
### Preconditions (*)

1. Magento Community 2.3.1

### Steps to reproduce (*)

1. Create Cart Price rule with 'Uses per Customer' value set to 1
2. Add 2 Items in cart
3. Apply coupon
4. Place order with Multiple Addresses to different shipping address for each item
5. Increase "Uses per Customer" limit to 2 for coupon and then try to apply the same coupon for the same customer.

### Expected resu

[2019-07-26 14:04] tylerssn commented on #9774
Seems like this may still be an issue in the latest 2.2.

[2019-07-26 14:10] domeglic commented on #23761
You need to go to the actual cart page after adding to cart.

[2019-07-26 14:24] magento-engcom-team commented on #23904
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18669`, `MC-18670` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 14:32] nilarocks commented on #22353
Same Error show after upgrade Magento 2.1.7 to 2.3.2.

SQLSTATE[HY000]: General error: 1025 Error on rename of './databsename/#sql-e76_ed2' to './databsename/customer_group' (errno: 150 - Foreign key constraint is incorrectly formed), query was: ALTER TABLE `customer_group` MODIFY COLUMN `customer_group_id` int(10) UNSIGNED NOT NULL  AUTO_INCREMENT

[2019-07-26 14:36] sivaschenko commented on #23382
I think https://github.com/magento/magento2/blob/2.3.1/lib/web/mage/common.js can verify if form action is external and skip adding form key in that case

[2019-07-26 15:03] mehmetuygun opened #23908 "The shipping information was unable to be saved. verify the input data and try again."
### Additional Details
Detailed explanation and result of the investigation  https://github.com/magento/magento2/issues/23908#issuecomment-538087658

### Preconditions (*)

1. Magento 2.3.2, 2.3-develop

### Steps to reproduce (*)

1. Create a customer account
2. Go to my account, and add a shipping address
2.5. Enable Persistent Shopping Cart **(updated Oct 10.2019)**
3. Add any product and ~go t

[2019-07-26 15:06] magento-engcom-team commented on #22808
Hi @ioweb-gr, @k4emic, @tdgroot, @gulshanchitransh.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [6a694a9bab15ab20531ffb2f70a744127611a1e3](https://github.com/magento/magento2/commit/6a694a9bab15ab20531ffb2f70a744127611a1e3)
 - [6e350d1a703199ded6d872367a5668f57c9f92cb

[2019-07-26 15:06] #22808 closed, assigned to k4emic, tdgroot, gulshanchitransh

[2019-07-26 15:06] mehmetuygun commented on #23908
@magento give me 2.3.2

[2019-07-26 15:06] mehmetuygun commented on #23908
@magento give me 2.3.2 instance

[2019-07-26 15:06] magento-engcom-team commented on #23908
Hi @mehmetuygun. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-07-26 15:07] mdhia opened #23909 "Canceled items in invoice grand total"
### Preconditions (*)

1. A Magento 2.2.9 instance

### Steps to reproduce (*)

1. Put the same item twice in the cart
2. Make a regular checkout
3. Cancel one of the items and create for the other a shipment
4. Create a Invoice for the shipped item

### Expected result (*)

1. The grand total in the created invoice contains only the one invoiced items

### Actual result (*)

1. The grad total in

[2019-07-26 15:07] magento-engcom-team commented on #23908
Hi @mehmetuygun, here is your [Magento instance](https://i-23908-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-23908-2-3-2.instances.magento-community.engineering/admin](https://i-23908-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 15:11] PierreLeMaguer opened #30585 "Complex products children ids are not cached in Type class leading to multiple unnecessary db requests"
**Description**

in the product page, the method 'getChildrenIds' is called several times and each time we make an SQL request to get this info.
For example juno-jacket.html with the sample data, the method of the configurable type is called 20 times.

**The problem**
The result of this method is not stored in a cache to avoid to make useless request.

**benefits**
We earn time by making a cache a

[2019-07-26 15:20] emanuelerangan commented on #7497
Magento 2.3.2 is also affected by this problem, here's my fast solution (I'm not a Magento expert):

- inside my theme version of  vendor/magento/module-checkout/view/frontend/web/js/model/shipping-service.js
- inside setShippingRates function, last thing:

`setShippingRates: function (ratesData) {
            shippingRates(ratesData);
            shippingRates.valueHasMutated();
            check

[2019-07-26 15:29] gwharton commented on #22808
Hmmm, those commits don't appear in 2.3-develop and they also conflict with changes that were merged into 2.3-develop in PR #23598 11 days ago. @ihor-sviziev can you take a quick look at this to make sure this is right. which commits will take precedence, the above commits, or those in #23598. 2.3-develop currently reflects the changes in #23598.

[2019-07-26 16:00] gwharton opened #23911 "Database Media Storage : php bin/magento catalog:images:resize fails to process images from database if not present locally (Again!)"
### Preconditions (*)
1. magento 2.3-develop vanilla

### Steps to reproduce (*)
1. Deploy 2.3-develop

[code]
Verify image exists in filesystem
[code]
Verify image exists in database
[code]
Delete pub/media/catalog folder
[code]
run php/magento catalog:image:resize to generate cached images

### Expected result (*)
Cached images generated in database and on file system

### Actual result (*)
[cod

[2019-07-26 16:02] magento-engcom-team commented on #23911
@gwharton Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is ad

[2019-07-26 16:10] ihor-sviziev commented on #22808
Hi,
Sorry, right now on vacation, could check it in a weak

On Fri, Jul 26, 2019 at 18:31 gwharton <notifications@github.com> wrote:

[2019-07-26 16:13] engcom-Bravo commented on #23907
Hello @vivekkumar-webkul, Thanks for reporting. The setting is called "Uses per Customer". Now, here the customer uses the coupon only once - "Apply coupon" in Your steps to reproduce is mentioned only once isn't it? So the behavior is quite correct. If the setting were called something like "Uses per shipping" or "Uses per order" and the behavior remained the same as now then it would definitely

[2019-07-26 16:18] gwharton commented on #22808
@ihor-sviziev . Don't worry. a check of 2.3-develop around 10 minutes later showed it had been merged and conflicts resolved so we're all good. Well, apart from the fact that the conflicts weren't resolved correctly and the bug that #23598 fixed is now broken again, but thats another issue, for another PR, for another day. :)

[2019-07-26 16:31] TomashKhamlai opened #23912 "Merchant will have problems with shipping if price of configurable is $0.00 and configurable variation has weight"
### Preconditions (*)

1. Flat Rate is on
2. Free Shipping is off
3. Customer is registered(with or without address)

### Steps to reproduce (*)

1. Create Configurable Product.
Fill name, SKU and price = 0.00
Leave everything else as is
Click **Create Configurations** button
Select attribute `color`
black - $0 - 100500, white- $2 -100500
Click Generate Products
In the grid "Current Variations" se

[2019-07-26 16:54] TomashKhamlai opened #26117 ""Current user does not have an active cart" even when he actually has one"
### Preconditions (*)

1. Registered Customer

### Steps to reproduce (*)

1. Generate token
2. Create an empty cart
3. Get inactive cart through the order completion
4. Generate token again
5. Create an empty cart
6. Put a product to cart
7. Set Billing address with card_id of inactive cart

### Expected result (*)

1. Truth

### Actual result (*)

1. False
[code]
###  Additional confirmation inf

[2019-07-26 17:02] shikhamis11 commented on #23571
hello @simonlandry0
Thanks for reporting this issue.
This will process faster if you will create it on [Magento  Feature request ](https://github.com/magento/community-features). so closing from here .

[2019-07-26 17:02] #23571 closed, assigned to shikhamis11

[2019-07-26 17:23] magento-engcom-team commented on #23451
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18686` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 17:25] ludcl commented on #8285
I am having the same issue while trying to use a plugin for Magento\Framework\Logger\Monolog in Magento 2.3.1.
Is there a solution or a workaround? Thanks!

[2019-07-26 17:31] magento-engcom-team commented on #23429
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18687` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 17:45] magento-engcom-team commented on #23371
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18688` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 19:07] xuanserfe commented on #11991
@nicholasscottfish a little bit late, but we face a similar issue and for us, it was a bad configuration on the cookies. Review that just in case, regards!

[2019-07-26 19:08] andimov commented on #22516
Thanks all, PR with changes were [delivered](https://github.com/magento/magento2/commit/d7b928af7737ea660d668bb60195351bd00070cb)
The issue covered by Performance Acceptance Test which required for each PR.

[2019-07-26 20:42] magento-engcom-team commented on #22112
Hi @delyriand, @rsimmons07.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-26 20:42] #22112 closed

[2019-07-26 20:42] magento-engcom-team commented on #23654
Hi @shilpambb, @edenduong.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-26 20:42] #23654 closed, assigned to edenduong

[2019-07-26 20:42] magento-engcom-team commented on #23751
Hi @gwharton, @gwharton.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-26 20:42] #23751 closed, assigned to gwharton

[2019-07-26 20:58] shilpambb commented on #23654
Will this be included in 2.2?

[2019-07-26 21:10] amanuni commented on #23618
@magento give me 2.3-develop instance

[2019-07-26 21:10] magento-engcom-team commented on #23618
Hi @amanuni. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-26 21:11] magento-engcom-team commented on #23618
Hi @amanuni, here is your [Magento instance](https://i-23618-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23618-2-3-develop.instances.magento-community.engineering/admin](https://i-23618-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-27 03:39] nagrgk opened #23914 "escapeUrl - Magento XSS issue"
### Preconditions (*)
please note that magento layered navigation has XSS issue because layer url has not been escaped with escapeUrl. Please help to add fix immediately in core product
1. this is escapeUrl issue
![escapeUrl](https://user-images.githubusercontent.com/2674815/61989506-098d0b00-b063-11e9-8055-ca6ec81ca7e3.PNG)

### Steps to reproduce (*)
left filter with swatches, link, label need t

[2019-07-27 05:59] sohelmagento opened #23915 "Authorize.net payment gateway issue"
**Preconditions**

Magento CE 2.2.4
PHP 7.1.30
MySQL 5.6.30

**Steps to reproduce**
1. Follow all these instruction provide by magento and authorize.net for integration.
2. Set to live payment and also setup backend for live payment.
3. Fill all required field like API ID, Transaction key, Signature key and both URL.
4. Add the signature key module to bypass MD5 key.
5. Increased transaction timeo

[2019-07-27 09:20] irajneeshgupta commented on #23915
@sohelmagento

since you are using `Magento CE 2.2.4` , i assume that you have applied patch for `md5 to sha-256`
and then generate  fresh production keys from authorize.net.
Try the following for production :
test mode : `No`
gateway url : `https://secure.authorize.net/gateway/transact.dll`
txn detail url : `https://api2.authorize.net/xml/v1/request.api`

In my case test , this issue arise while

[2019-07-27 09:29] hostep commented on #23914
Hi @nagrgk

I've seen a bunch of commits landing on the `2.3-develop` branch in the last couple of weeks  fixing not escaping output all over the Magento codebase.
The problem you mentioned was fixed in: https://github.com/magento/magento2/commit/50329e21a45254eb210dc8293bbc5705fd866c19#diff-f4e3f76f4cf865522b96b664b0a390ac

My guess is that Magento 2.3.3 will contain these fixes (release date is

[2019-07-27 09:29] #23914 closed, assigned to nobody

[2019-07-27 09:41] sohelmagento commented on #23915
@irajneeshgupta
Thanks your response,

Yes i have applied patch for md5 to sha-256 and i am using the same configration that you have mentioned but i am still having this same error. No matter i try in test and production mode.

[2019-07-27 09:53] edenduong opened #23916 "Missing Validation at some Payment Method Settings"
### Preconditions (*)

1. Magento 2.3 develop

### Steps to reproduce (*)

1. Go to Store->Configurations->Sales->Payment Method
2. Find these fields:
- Check/Money Order
  * Minimum Order Total
  * Maximum Order Total
- Bank Transfer Payment
  * Minimum Order Total
  * Maximum Order Total
  * Sort Order
- Cash On Delivery Payment
  * Minimum Order Total
  * Maximum Order Total
  * Sort Order
- Pu

[2019-07-27 12:22] wltprgm commented on #5835
I literally have no idea what kind of configuration you guys are talking about. And nobody seems to explain what this kind of syntax does.

<tiny_mce>/regex/</tiny_mce>
<vimeo>https://someurl/player.js</vimeo>

When to put certain type of tags?

I am trying to modify an extension from Mageplaza because of this issue during minification.

https://www.mageplaza.com/magento-2-social-share/

![image](

[2019-07-27 13:32] YiffyToys opened #23920 "CSV Import "Download Sample File" contains useless integer weight"
### Description (*)
Using "Download Sample File"  in the "import CSV" page for product creates
a sample CSV with a weight of "1".
This is useless as it does not show how to format decimal numbers.

### Expected behavior (*)
A sample weight of e.g. 1.23

### Benefits
Different locales on the client PC format decimal numbers in different ways.
The provided sample value should aid the user in debuggi

[2019-07-27 13:35] YiffyToys opened #23921 "Field msrp_display_actual_price_type exported in non-importable format"
### Preconditions (*)
1. Magento 2.3.2
2. Products present

### Steps to reproduce (*)
1. Export products.
2. import the downloaded CSV file as is

### Expected result (*)
Exported format should be accepted for import too.

### Actual result (*)

The field "msrp_display_actual_price_type" exports as the numerical value "4"
but in import requires the string value "Use config" and rejects the numeri

[2019-07-27 14:16] YiffyToys opened #23922 "CSV import ignores "dropdown" and "multiselect" additional_attributes"
### Preconditions (*)

1. Magento 2.3.2
2. create a number of additional attributes, some of them being of "dropdown" and "multiselect" type.

### Steps to reproduce (*)
1. import a simple products XML with the "additional_attributes" specifiing values for all custom attributes

### Expected result (*)

1. values for numerical and text attributes are imported correctly
2. values for attributes tha

[2019-07-27 14:27] YiffyToys commented on #23922
Update:
It DOES work when a separate CSV updates JUST one additional_attribute using the "Admin" value of the selectable option.

[2019-07-27 14:55] magento-engcom-team commented on #22702
Hi @nehaguptacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#23803 by @edenduong in 2.3-develop branch
Related commit(s):
 - [d56257230757b56120ea07bfce51d0a4a94b3afb](https://github.com/magento/magento2/commit/d56257230757b56120ea07bfce51d0a4a94b3afb)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-27 14:55] #22702 closed, assigned to edenduong

[2019-07-27 14:55] magento-engcom-team commented on #23789
Hi @p-bystritsky. Thank you for your report.
The issue has been fixed in magento/magento2#23790 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [a99014e3ef132ecf8f7949b6411760c07678f9cc](https://github.com/magento/magento2/commit/a99014e3ef132ecf8f7949b6411760c07678f9cc)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-27 14:55] #23789 closed, assigned to p-bystritsky

[2019-07-27 14:55] magento-engcom-team commented on #23777
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23779 by @edenduong in 2.3-develop branch
Related commit(s):
 - [4954bd1f9f80fe0d725569602a40ba5f250a4dae](https://github.com/magento/magento2/commit/4954bd1f9f80fe0d725569602a40ba5f250a4dae)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-27 14:55] #23777 closed, assigned to edenduong

[2019-07-27 14:55] magento-engcom-team commented on #23678
Hi @textarea. Thank you for your report.
The issue has been fixed in magento/magento2#23679 by @textarea in 2.3-develop branch
Related commit(s):
 - [089e24a10d2ee8d527e5e65308d384a095127461](https://github.com/magento/magento2/commit/089e24a10d2ee8d527e5e65308d384a095127461)
 - [fb7d3aeec66ef78767bd1faf48d57711f62ec593](https://github.com/magento/magento2/commit/fb7d3aeec66ef78767bd1faf48d57711f6

[2019-07-27 14:55] #23678 closed, assigned to textarea, shikhamis11

[2019-07-27 17:57] marco7319 commented on #22597
Hello
I installed magento 2.3.2 with Luma theme,
when I add product to cart, the basket remains empty
Thank you

[2019-07-27 19:02] marco7319 commented on #22597
empty cart when adding product, reproduced in magento 2.3.2. with theme Luma

[2019-07-27 20:34] marco7319 commented on #12362
@aleksejtsebinoga

Hello,
can you explain to me in detail the steps please?

aleksejtsebinoga> @hmphu @Alexander-Pop @winterk80 @tuyennn @gabrieljadeau ,

[2019-07-27 20:46] djamps commented on #15427
We're getting this issue about 1 out of 1000 orders.

What is everyone's setting for Asynchronous grid settings?

Supposedly turning it on reduces database contention (and potential deadlocks) on the orders and is listed in best practices.

[2019-07-27 22:05] marco7319 opened #23923 "cart empty with magento 2.3.2 theme luma with samples"
### Preconditions (*)

1. Magento 2.3.2.
2. Theme Luma with samples
3. Website over Linux server
4. Google Chrome
5. PHP 7.2
6. Install via Softaculous
7. Date install : 26/07/2019

### Steps to reproduce (*)

1. Install Magento 2.3.2 with theme Luma with samples via cpanel via softaculous
2. If your are connected or not, add a product with the button "Add in the cart"
3. Click on the button "cart

[2019-07-28 00:28] edenduong opened #23924 "Export Csv, Export Excel in Report->Marketing->(Abandoned Cart, Products in Cart) has wrong ACL"
Controller:

[code]

extends from `\Magento\Reports\Controller\Adminhtml\Report\Shopcart`

But in `_isAllowed()` function, because of the Action Name => It will run in "Default" case =>`Magento_Reports::shopcart` is the ACL
=> Has the wrong ACL.

Should be: `Magento_Reports::abandoned` and  `Magento_Reports::product`

=> admin with no permission "Abandoned Cart" still export Abandoned Cart Report

[2019-07-28 05:40] krishprakash commented on #23916
@magento give me 2.3-develop instance

[2019-07-28 05:41] magento-engcom-team commented on #23916
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-28 05:41] magento-engcom-team commented on #23916
Hi @krishprakash, here is your [Magento instance](https://i-23916-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23916-2-3-develop.instances.magento-community.engineering/admin](https://i-23916-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-28 05:46] magento-engcom-team commented on #23916
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18707` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-28 08:46] hammockvienna commented on #12362
i can confirm report of @marco7319 , i have the same issue on 2.3.2.

When i add something to the cart, the cart is not empty from a frontend user experience. BUT the small cart icon does not show (1). I have also seen occurrences that the small icon had (1) but after the page completed loading the (1) was gone. When i proceed to checkout the cart is already empty.
In the bug description above it

[2019-07-28 11:36] krishprakash commented on #23924
@magento give me 2.3-develop instance

[2019-07-28 11:36] magento-engcom-team commented on #23924
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-28 11:36] magento-engcom-team commented on #23924
Hi @krishprakash, here is your [Magento instance](https://i-23924-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23924-2-3-develop.instances.magento-community.engineering/admin](https://i-23924-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 02:47] ghost opened #23931 "admin panel totally inaccessible for screen readers"
i'm thadeu, a blind ecommerce owner. and i was wondering to get started with magento... but the problem is:

the magento admin panel, has mouseover elements, or something similar to it...
what happens is: i can't do anything using a screen reader. since i'm blind, i can't do anything.

i'm using latest version of magento...
what this was suposed to happen is, soon as i put the screen reader cursor

[2019-07-29 02:57] nigeriangirl commented on #15427
Having this issue on 2.3.0 for all orders

[2019-07-29 03:36] cartooncatfish commented on #15115
Still got such warning message in the debug.log for version 2.2.9 when signing up new customers.

[2019-07-29 03:59] erfanimani commented on #11692
How is this still open after multiple years? Or maybe we're all expected to investigate the exported VCL file and catch the error ourselves?

[2019-07-29 04:01] erfanimani commented on #11692
Never mind — seems to be fixed in 2.3.3: https://github.com/magento/magento2/issues/22143

[2019-07-29 04:37] ajijshekh123 commented on #23892
@davidduong90  - feel free to reopen this issue when you are entering the issue details in the proper format.

[2019-07-29 04:37] #23892 closed, assigned to ajijshekh123

[2019-07-29 06:23] irajneeshgupta commented on #23915
@sohelmagento
This error generally occurs when no txn details return from authorize.net or a timeout occured.
You can view the response in `var/log/payments.log`
It should look like this :

`
[2019-07-19 15:50:39] main.DEBUG: array (
  'response' =>
  array (
    'x_response_code' => '1',
    'x_response_reason_code' => '1',
    'x_response_reason_text' => 'This transaction has been approved.',

[2019-07-29 06:56] engcom-Charlie commented on #23761
@domeglic , no errors again:
![Peek 2019-07-29 09-54](https://user-images.githubusercontent.com/51680850/62027703-0b7fd700-b1e7-11e9-9e2a-1f7c430fc84f.gif)

[2019-07-29 07:06] engcom-Charlie commented on #23923
Hi @marco7319 ! Magento is not supported on Windows OS. You can read it on this page https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html.
Thank for your report!

[2019-07-29 07:06] #23923 closed, assigned to engcom-Charlie

[2019-07-29 07:35] engcom-Charlie commented on #23921
Hi @YiffyToys ! I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1.Login to admin
2.Go to System->Export
3.Select "Entity Type" value = products and "Export File Format" value = CSV
4.Find "msrp_display_actual_price_type" and set value = "Use config"
5.Press "Continue" button and download a file
6.Open this file

**Actual result:**
![image](https://user-ima

[2019-07-29 07:35] #23921 closed, assigned to engcom-Charlie

[2019-07-29 07:42] PascalBrouwers commented on #22240
This is not expected behaviour. With constraints Magento creates a shorter name when they are too long. It should do the same here.

[2019-07-29 08:01] mfickers opened #23932 "Decimal quantity is not displayed for wishlist items."
### Preconditions (*)

1. Magento 2.2 or 2.3

### Steps to reproduce (*)

1. Add a product with decimal quantity to wishlist.
2. Try to save a decimal quantity for the wishlist item.

### Expected result (*)

1. Decimal quantity is saved for the item and displayed in the wishlist.

### Actual result (*)

1. Decimal quantity is saved but not displayed in the wishlist.

[2019-07-29 08:07] engcom-Charlie commented on #23922
Hi @YiffyToys ! I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**
1.Create a number of additional attributes, some of them being of "dropdown" and "multiselect" type.
2.Import a simple products XML with the "additional_attributes" specifiing values for all custom attributes
3. Go to Caterlog->Products
4.Check value of created product

**Actual result:**
All v

[2019-07-29 08:08] #23922 closed, assigned to engcom-Charlie

[2019-07-29 08:15] magento-engcom-team commented on #23911
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18708` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-29 08:31] aleksejtsebinoga commented on #12362
@hammockvienna, @marco7319

Ah, sorry. I should've mentioned, that the patch was developed for 2.2.x.
Never tested it with 2.3.x.

But I suppose that they've updated session management. So it is not compatible anymore.

But you still have the empty cart problem in 2.3.2 without the patch?

[2019-07-29 08:51] ajijshekh123 commented on #23932
Give me @magento give me 2.3-develop instance

[2019-07-29 08:51] magento-engcom-team commented on #23932
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-29 08:52] magento-engcom-team commented on #23932
Hi @ajijshekh123, here is your [Magento instance](https://i-23932-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23932-2-3-develop.instances.magento-community.engineering/admin](https://i-23932-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 09:01] engcom-Bravo commented on #23908
Hello @mehmetuygun. Thanks for applying. We've been not able to reproduce Your issue on a vanilla magento instance. Please confirm You are able to to so.

[2019-07-29 09:08] ajijshekh123 commented on #23932
This issue I have reproduced in the Magento 2.3 Instance.
**See attached screenshot:**

![2019-07-29 (1)](https://user-images.githubusercontent.com/24711761/62035911-65e05e00-b20e-11e9-8120-54b886b378b8.png)

![2019-07-29](https://user-images.githubusercontent.com/24711761/62035913-6678f480-b20e-11e9-843e-51f1b8e493cc.png)

[2019-07-29 09:08] ajijshekh123 commented on #23932
Give me @magento give me 2.2-develop instance

[2019-07-29 09:08] magento-engcom-team commented on #23932
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-29 09:09] eermolaev opened #23934 "Authorize Net issue on the admin order creation page"
### Preconditions (*)

1. Install Magento 2.3.2
2. Enable a few shipping methods, more than 1 method should be available in your store
3. Configure Authorize Net setting, only this payment should be available in your store

### Steps to reproduce (*)

1. Go to the admin area
2. Start the order creation process: choose customer and products
3. Choose one of the shipping methods (few methods must be

[2019-07-29 09:26] magento-engcom-team commented on #23932
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18712` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-29 09:31] mehmetuygun commented on #23908
I couldn't reproduce issue on magento instance either.
After I adding `$customerId = $this->customerSession->getId();` in to begging of the function `private function doValidate(AddressInterface $address, ?int $customerId): void` the error stop showing up. And I could pass to payment page. How is possible customerId passing as null? it happens when I logged in and try place order with saved addres

[2019-07-29 09:35] magento-engcom-team commented on #23934
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18714` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-29 09:45] ymarc77 opened #23935 "Can't select tax class at product edit after upgrade"
### Precondition (*)
1. Magento 2.2.9
2. PHP 7.1

### Steps to reproduce (*)

Migration 2.2.8 to 2.2.9 seems to be successful but when:
1. Catalog > Product > Add Simple Product (or Edit)
2. There is no "Tax Class Field"
3. Layout is messed
https://i.ibb.co/C1D7f01/Voila-Capture-2019-07-29-11-34-33-AM.png

4. You can save product without tax class (which is required)
5. Tax_class_id is visible on

[2019-07-29 09:48] hammockvienna commented on #12362
@aleksejtsebinoga
yes i have that issue as discribed above. The product is in the cart, but the cart i can changes after some ajax requests from (1) to (0). After that if i reload, the product is gone.
In Magento 2.2.8 i didnt have that issue, but we would like to upgrade to 2.3.2 and there we have it :-(

@Alexander-Pop which Magento version do you use? And did you check the magento2-session-unbl

[2019-07-29 09:48] engcom-Charlie commented on #23931
Hi @thadeu220 ! What software do you use?

[2019-07-29 10:02] gwharton opened #23936 "Database Media Storage : clearing image cache does not clear cached image files from database"
### Preconditions (*)
1. magento 2.3-develop

### Steps to reproduce (*)
1. Deploy 2.3-develop

[code]
Verify cached images exist in filesystem
[code]
Verify cached images exist in database
[code]

[code]
Verify cached images no longer exist in filesystem
[code]
Verify cached images no longer exist in database
[code]
### Expected result (*)
1. When the image cache is cleared, all cached images are

[2019-07-29 10:18] engcom-Bravo commented on #23909
Hello @mdhia. Would You please describe us in more details how exactly You canceled one of the items after the order had been created. Thank You.

[2019-07-29 10:20] marco7319 commented on #12362
see ticket #23923 . Is it an operating system problem? to install linux on his computer?

[2019-07-29 10:29] engcom-Charlie commented on #23935
Hi @ymarc77 ! I can't reproduce this issue on fresh Magento 2.2.8.
After upgrade to 2.2.9 i have a tax class attribute on add product page.
I have to close this issue.
Thank for your report!

[2019-07-29 10:29] #23935 closed, assigned to engcom-Charlie

[2019-07-29 10:30] YiffyToys commented on #23921
![Unbenannt](https://user-images.githubusercontent.com/52350973/62041611-59eba080-b1fc-11e9-9cc1-0b797ffbf249.PNG)

Reproducable on my 2.3.2 . I'll investigate.
Can the ATmagento  -bot produce a 2.3.2 or just the -develop snapshots?

[2019-07-29 10:33] erfanimani opened #23937 "Customer data cart section is always reloaded"
### Preconditions (*)

1. Reproduced with Magento 2.3.1 and 2.3.2
2. Luma theme

### Steps to reproduce (*)

1. Add product to the cart

This causes an AJAX POST request to `/checkout/cart/add/uenc/...... `
Then it causes a refresh of customer data of the cart and message sections.

Up until now, everything is OK.

2. Navigate to another page

### Expected result (*)

1. Customer section is not re

[2019-07-29 10:34] erfanimani commented on #23937
@magento give me 2.3-develop instance

[2019-07-29 10:34] magento-engcom-team commented on #23937
Hi @erfanimani. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-29 10:34] engcom-Charlie commented on #23921
@YiffyToys bot can't do it but you can try on magento 2.3-develop instance.
@magento give me 2.3-develop instance

[2019-07-29 10:34] magento-engcom-team commented on #23921
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-29 10:34] magento-engcom-team commented on #23937
Hi @erfanimani, here is your [Magento instance](https://i-23937-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23937-2-3-develop.instances.magento-community.engineering/admin](https://i-23937-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 10:35] magento-engcom-team commented on #23921
Hi @engcom-Charlie, here is your [Magento instance](https://i-23921-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23921-2-3-develop.instances.magento-community.engineering/admin](https://i-23921-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 10:38] engcom-Charlie commented on #23921
@YiffyToys use it please:
Admin access: https://i-23921-2-3-develop.instances.magento-community.engineering/admin
Login: admin Password: 123123q
Instance will be terminated in up to 3 hours.

[2019-07-29 10:42] hammockvienna commented on #12362
@marco7319 Its a Vultr linux server (In #23923 they mention windows)

[2019-07-29 10:42] erfanimani commented on #23937
Can reproduce on vanilla instance.

[2019-07-29 10:43] thadeu220 commented on #23931
I do use NVDA, a free screen reader with all popular browsers such as Mozilla firefox, google chrome and also internet explorer
I did not tested on mobile browsers with their specific operating system such safari
Since i am new to github, i don't know how to put labels on this topic lol :D
Well i did the same tests with jaws but same issue.
NBDA and jaws are in the same browsers and i did the test

[2019-07-29 10:44] engcom-Bravo commented on #23912
Hello, @TomashKhamlai. Currently we've been bot able to reproduce Your issue following the steps provided. Probably there is (are) some essential detail(s) You have missed. Would You please revise the issue and help us to reproduce it. Thank You.

[2019-07-29 10:51] erfanimani commented on #12362
For everyone that is experiencing empty cart issues, a good thing to check is to see if your session is actually different. So compare the PHPSESSID cookie value before and after the cart becomes empty. If it's the same session ID, it might not actually be a session loss issue, but something else that messes up your cart.

[2019-07-29 10:53] YiffyToys commented on #23921
Ok. I'll be able to try it tonight (in about 7-8 hours)

[2019-07-29 10:57] engcom-Charlie commented on #23921
@YiffyToys , thats ok, but this instance will be terminated in up to 3 hours. But
you can request another one when it will be convenient for you

[2019-07-29 11:01] engcom-Bravo commented on #23908
@mehmetuygun, if an issue is not reproduced on a fresh magento instance, free from any custom code, third party extensions, etc., then it is not a core magento bug this repository is intended for reporting. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue

[2019-07-29 11:14] aleksejtsebinoga commented on #12362
@erfanimani , @marco7319 , @hammockvienna ,

Guys, please note that this thread is for concurrent session issue in checkout.
This bug happens, when you are landing into the checkout when it is under high load.

It is not related to the empty cart on the product adding.

[2019-07-29 11:27] engcom-Charlie commented on #23931
@thadeu220 , sorry, but i can't install NVDA because my OS is Linux.
So I can only advise using another software(Bandicam is good).
I have to close this issue.
Thank for your report!

[2019-07-29 12:38] thadeu220 commented on #23931
i will reopen it... because this in no sense... (Bandicam is a screen recorder, and we are talking about screen readers...
and linux has orca, you may install it running this in the terminal, consider in this sample, the ubuntu...
sudo apt install orca
than
sudo orca

this will install and activate orca screen reader... the problem are in screen reader, due to accessibility problems.
the mobile br

[2019-07-29 12:40] asim-vax opened #23938 "Credit Memo - doesn't recalculate tax"
If an order is placed for $65.00 (incl tax) and we want to refund the customer $5. We set adjustment fee to $60.00 ($5 refunded).

The totals appear correct, but the tax on the credit memo is the tax from original order, not the tax on the refund.

The tax needs to be recalculated for credit memo, as we must be able to refund tax properly.

related issue:
https://github.com/magento/magento2/issues

[2019-07-29 12:40] thadeu220 commented on #23931
i'm looking for another web hosting, just to test if the problem are in my hosting (this is pratically impossible, but...) or, in the magento...
cause, i really don't know, i do tested the magento live demo, and it works, that's why i'm asking.

[2019-07-29 12:43] hostep commented on #23937
Let's close this as a duplicate of https://github.com/magento/magento2/issues/23208
There is a pending PR to fix it: https://github.com/magento/magento2/pull/23282

Thanks for the report!

[2019-07-29 12:43] #23937 closed, assigned to nobody

[2019-07-29 13:06] MauBoy commented on #4555
Dear Magento-Team,

why should this issue not be fixed?
Please have a look into your own documentation: https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/responsive-web-design/rwd_css.html

As described in "Media queries in Magento default themes" use this for tablet styles:

I'm working with this given solution and it isn't working. So could you please add the fix for that or update your

[2019-07-29 13:11] engcom-Charlie commented on #23931
@thadeu220 i tested with ChromeVox extension https://chrome.google.com/webstore/detail/chromevox/kgejglhpjiefppelpmljglcjbhoiplfn?hl=en
and this extension works fine on admin page. I can propose to use it with Magento.

[2019-07-29 13:17] zsebacher-integritystl commented on #23872
Since you clearly did not read any part of this ticket, the client is not on version 2.3 they are on version 2.2.3

This needs to be reopened as it is an issue with magento 2

[2019-07-29 13:32] thadeu220 commented on #23931
friend, i did the test, and it reads...
nvda also reads the text normally. but you cannot use the menus in the navigation bar, even with chrome vox... and chromevox does the same thing.
the issue is: you cannot navigate the navigation menus with the keyboard...
if i move the nvda focus to the catalog, instead of popping up the add product and other function, it does nothing...
neighter opening the

[2019-07-29 13:40] engcom-Charlie commented on #23931
@magento give me 2.3-develop instance

[2019-07-29 13:40] magento-engcom-team commented on #23931
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-29 13:41] magento-engcom-team commented on #23931
Hi @engcom-Charlie, here is your [Magento instance](https://i-23931-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23931-2-3-develop.instances.magento-community.engineering/admin](https://i-23931-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 13:46] thadeu220 commented on #23931
THANKS... LETS SEE

[2019-07-29 13:46] engcom-Charlie commented on #23931
@thadeu220 i understand your problem and i find a bags on admin pages.

[2019-07-29 13:48] engcom-Charlie commented on #23931
@thadeu220 i reopen this issue

[2019-07-29 13:49] thadeu220 commented on #23931
hwhat the fuck! it works...
confirmed, starring, issue finished, the problem are in my environment, but, the problem, i don't know witch one...
i'm using hostinger... PHP 7.1

[2019-07-29 13:54] engcom-Charlie commented on #23931
@thadeu220 did you solve the problem?

[2019-07-29 13:57] Alexander-Pop commented on #12362
@hammockvienna still on M1 having all issues described here. In process of migration to M2 hopping that session problem will go away but as i see this "ghost" still appear from time to time on some stores...

[2019-07-29 13:59] engcom-Charlie commented on #23872
@zsebacher-integritystl i have to check it on developer branches.
I'm sorry but i can't find a commit where that problem was fixed.
If you wont to fix that problem just update your magento to latest versions.

[2019-07-29 14:02] thadeu220 commented on #23931
in the development instance that you gave me, it works normally, but, it does not work in my hosting...

[2019-07-29 14:12] engcom-Charlie commented on #23931
@thadeu220 so i have to close it.
Thank you for your report and contributing!

[2019-07-29 14:12] #23931 closed, assigned to engcom-Charlie

[2019-07-29 14:18] zsebacher-integritystl commented on #23872
You can't just "update" magento to the latest version because all of the versioning was handled so poorly that it breaks other areas.

[2019-07-29 14:28] magento-engcom-team commented on #23281
Hi @SpaceWhite, @geet07.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17566` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But i

[2019-07-29 14:28] #23281 closed, assigned to geet07

[2019-07-29 14:50] marco7319 commented on #23923
@engcom-Charlie

hi my website is over Linux server installed with Cpanel by Lukuid and Softaculous

thank you

[2019-07-29 15:05] nmalevanec opened #23940 "Incorrect Quantity Displayed In Admin Area when used 'Qty Uses Decimals'"
###### Preconditions (*)

1. Magento 2.3-develop
###### Steps to reproduce (*)
1. Create a product with the following configurations
Minimum Qty Allowed in Shopping Cart = 2.14
Qty Uses Decimals = Yes
Qty Increments = 2.14
1. Navigate to Storefront and add created simple product to cart with qty = 2.14
1. Navigate to Checkout and verify, qty still = 2.14
1. Place order.
1. Navigate to admin area o

[2019-07-29 15:16] koopjesboom commented on #4331
Magento 2.3.2 Going from production to Develop and back to production triggers this Password reset loop. Anny solution without making any permanent changes to the database? Or a Patch?

[2019-07-29 16:47] dipak85shinde commented on #5876
I am facing the same issue in Magento2.3.
any solution?

[2019-07-29 17:09] mspaccesi opened #23941 "Magento 2 does not export CSV products"
Trying to export products from System -> Export -> select products from the look up -> Continue; no csv file is downloaded with the products loaded into it.

[2019-07-29 17:56] longcreek commented on #22587
M 2.3.2. Shared Host (A2). Deployed patch yesterday using; composer require cweagans/composer-patches.

Added to composer.json:

"extra": {
  "magento-force": "override",
  "patches": {
    "magento/module-catalog-search": {
      "Layered navigation performance": "https://bitbucket.org/muntzamersfoort/magento2-patches/raw/0ac032f30a6ab8b3f56b63d06db4c1649923f499/layered-navigation-performance.pat

[2019-07-29 18:24] ryandiamond23 commented on #22778
@magento-engcom-team give me 2.2.9 instance

[2019-07-29 18:25] magento-engcom-team commented on #22778
Hi @ryandiamond23. Thank you for your request. I'm working on Magento 2.2.9 instance for you

[2019-07-29 18:25] magento-engcom-team commented on #22778
Hi @ryandiamond23, here is your [Magento instance](https://i-22778-2-2-9.instances.magento-community.engineering).
Admin access: [https://i-22778-2-2-9.instances.magento-community.engineering/admin](https://i-22778-2-2-9.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 18:27] ryandiamond23 commented on #22778
@magento-engcom-team give me 2.3.1 instance

[2019-07-29 18:27] magento-engcom-team commented on #22778
Hi @ryandiamond23. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-07-29 18:27] magento-engcom-team commented on #22778
Hi @ryandiamond23, here is your [Magento instance](https://i-22778-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22778-2-3-1.instances.magento-community.engineering/admin](https://i-22778-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-29 21:55] magento-engcom-team commented on #23382
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-07-29 21:59] frostbitten commented on #5590
Hi, I noticed it mentioned there was market research and that "if there are extra results it's not a big deal." Can somebody point me to that research? Everyone we have test our magento site complains they see a bunch of random search results. If the first few results are correct it doesn't seem to help, they see the rest and think they're way off base with their search criteria. I can't imagine s

[2019-07-29 22:04] magento-engcom-team commented on #23382
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18730` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-29 22:14] WinstonN commented on #5863
@magento-engcom-team why has this issue been closed?

[2019-07-29 23:01] sdzhepa commented on #19882
Hello @alex4allofyou

I close this issue as `cannot reproduce` because we are not able to reproduce it by provided steps.

[2019-07-29 23:01] #19882 closed, assigned to sdzhepa

[2019-07-30 01:27] reymart081678 opened #23944 "Issue uploading table rate in magento 2"
### Preconditions (*)

1. Magento ver 2.2.9 under builderall

### Steps to reproduce (*)

1. Export csv file under table rate
2. Update table rate table based on the shipping rate in our country
3. Upload table rate using upload button
4. Save config but an error occurred
![tableRateExport](https://user-images.githubusercontent.com/4920883/62093530-33853e00-b2ac-11e9-9abf-0331db6d0fb5.png)

### Ex

[2019-07-30 03:35] erfanimani commented on #23877
Same is happening for the mini cart. If `product_image_white_borders` is false, the product image is stretched until it fits inside a square.

@NickdeK I'm just wondering what's the expected result exactly? For the image to be zoomed-in and cropped until it fits the specified width and hight as declared in view.xml?

[2019-07-30 03:58] kevinvuillemin commented on #7199
Hello did you found a solution ?

[2019-07-30 04:39] ajijshekh123 commented on #23944
Give me @magento give me 2.3-develop instance

[2019-07-30 04:39] magento-engcom-team commented on #23944
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 04:40] magento-engcom-team commented on #23944
Hi @ajijshekh123, here is your [Magento instance](https://i-23944-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23944-2-3-develop.instances.magento-community.engineering/admin](https://i-23944-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 05:00] ajijshekh123 commented on #23944
@reymart081678 - I have verified this issue in Magneto 2.3 Instance. But I haven't reproduced this issue.
@reymart081678 - Can you please share the table rate file which you have uploaded?

[2019-07-30 05:51] sohelmagento commented on #23915
@irajneeshgupta,
Thanks your response,

We discus about this error with authorize.net support team they told us you response code is correct it's third party module exception. For transaction id 0 we change some code in
[code]
but still showing this error.

[2019-07-30 06:00] vincent2090311 commented on #23754
@ajijshekh123
Could you re-open this issue? Not just me face the issue, other people get the same issue with me.

[2019-07-30 06:19] ajijshekh123 commented on #23754
Okay @vincent2090311

[2019-07-30 06:30] angelflo commented on #5863
same question :
@magento-engcom-team why has this issue been closed? !!!

[2019-07-30 06:38] NickdeK commented on #23877
@erfanimani I don't think the default behaviour should be to crop the image; essential product information may be lost depending on the content. My current fix is to just resize the image with CSS to fit the container and align it in the center/middle of the container.

[2019-07-30 07:01] stenovishal98 opened #23945 "[2019-07-30 12:11:53] [ERROR] SyntaxError: Unexpected token < in JSON at position 83"
I am Working on localhost. when I click in place order button   then I saw console error "[2019-07-30 12:11:53] [ERROR] SyntaxError: Unexpected token < in JSON at position 83". how I solve this issue.please guys help me.
![error](https://user-images.githubusercontent.com/53423249/62107700-cda5b000-b2c5-11e9-8865-d54f93ea794f.png)

[2019-07-30 07:02] engcom-Charlie commented on #23923
@marco7319 but i can't reproduce it on fresh Magento 2.3.2 and 2.3-develop. You can try to reproduce it in 2.3-develop instance. I will request it for you or you can write "@magento give me 2.3-develop instance" and try to reproduce this issue please.

[2019-07-30 07:02] magento-engcom-team commented on #23923
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 07:03] magento-engcom-team commented on #23923
Hi @engcom-Charlie, here is your [Magento instance](https://i-23923-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23923-2-3-develop.instances.magento-community.engineering/admin](https://i-23923-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 07:06] engcom-Charlie commented on #23945
Hi @stenovishal98 ! Can you give me more info about you Magento configuration?

[2019-07-30 07:09] hoangnm89 commented on #23754
I'm getting the same issue with 2.3.2 fresh installation.
i tried on 2.3.1, no issue.

i think this is a clue for who want to fix the issue, sorry i have not tried yet.

**2.3.1 adminhtml_email_template_preview.xml**
https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Email/view/adminhtml/layout/adminhtml_email_template_preview.xml

[code]

**2.3.2 adminhtml_email_template_preview.xml*

[2019-07-30 07:19] zarkiewicz commented on #22952
Hi @magento-engcom-team
Can I get fix for this issue?
Links to commit(s) not working.

[2019-07-30 07:29] engcom-Charlie commented on #23754
I reproduce this issue on:
**2.3-develop**
![image](https://user-images.githubusercontent.com/51680850/62109329-b90cec00-b2b4-11e9-8786-b903c25262a4.png)

**2.3.2**
![image](https://user-images.githubusercontent.com/51680850/62109364-cf1aac80-b2b4-11e9-82bf-6ee754cd26a7.png)

Iframe height is so small. I confirm this issue.

[2019-07-30 07:29] magento-engcom-team commented on #23754
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18734` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 07:54] decece commented on #19694
Hello,

just for the record, for whoever ends up in this thread: Check your PDO extensions!

We had this issue happen as well:
PHP 7.1 or 7.2
Debian 9
Magento 2.3

The database values were alright, but they weren't showing that well on the frontend (values multiplied, due to the comma and period being mixed out). On the backend you couldn't browse any product, due to the dreaded error: 'value x,00

[2019-07-30 07:58] reymart081678 commented on #23944
Hi Ajij,
   Please see attach table file.

Thank you

On Tue, Jul 30, 2019 at 1:01 PM Ajij Shekh <notifications@github.com> wrote:

[2019-07-30 07:59] magento-engcom-team commented on #23936
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18735` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 07:59] marco7319 commented on #23923
@engcom-Charlie  Hello
Thank you for the access
Yes same résults , cart empty

[2019-07-30 08:11] engcom-Charlie commented on #23923
@marco7319 i open this instance and try to reproduce it after you. Result:
![Peek 2019-07-30 11-08](https://user-images.githubusercontent.com/51680850/62112037-954ca480-b2ba-11e9-911a-d6dc60684b4f.gif)
Can you try to reproduce it on your server with another browser?

[2019-07-30 08:14] marco7319 commented on #23923
@engcom-Charlie
Hello
thank you, it works well now.
I do not understand pq I had this problem ...
I made disconnect after creating a category and a product ...

[2019-07-30 08:17] engcom-Charlie commented on #23923
@marco7319 you are welcome!
Thank for your report!

[2019-07-30 08:21] magento-engcom-team commented on #23037
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18736` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 08:33] vinayshah commented on #19710
@emilev79 It would have some performance impacts, but this is short solution, which i have made looking for exact problem.

[2019-07-30 09:11] ShapesGraphicStudio commented on #12356
Indeed, still having this issue in 2.3.0 too.

[2019-07-30 09:18] ajijshekh123 commented on #23944
@reymart081678 - No attachment file is available in your previous message.

[2019-07-30 09:37] reymart081678 commented on #23944
Using github now to attach the file, but it says "we don't support that file type" .csv
re save as xsls. resave as .csv later
[tablerates.xlsx](https://github.com/magento/magento2/files/3446151/tablerates.xlsx)

[2019-07-30 09:44] engcom-Charlie commented on #22497
Hello everyone! I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Create a child theme of Magento Luma
2. Create the folder/file structure based on the screenshot I've attached.
![image](https://user-images.githubusercontent.com/51680850/62118789-f5494800-b2c6-11e9-8b71-8557eda15fe5.png)
3. add the layout update to a category
![image](https://user-images.

[2019-07-30 09:44] #22497 closed, assigned to engcom-Charlie

[2019-07-30 09:50] kapil-infobeans commented on #23371
Is anybody taking this for development? I do not have zipcode pattern database. If anyone has that, I can take this for development.

[2019-07-30 09:54] yatintheoctopustech commented on #23802
Its still not working

[2019-07-30 10:39] magento-engcom-team commented on #23938
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18737`, `MC-18738` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 10:42] AlterWeb commented on #8630
I agree with this. Just wasted a few hours debugging this in Magento 2.3.2 ;-).

[2019-07-30 10:52] magento-engcom-team commented on #23940
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18739`, `MC-18740` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 11:06] engcom-Bravo commented on #23941
Hello @mspaccesi. Thanks for applying. Are Your talking about Magento version 2.3.2?

[2019-07-30 11:17] ajijshekh123 commented on #23944
Give me @magento give me 2.3-develop instance

[2019-07-30 11:17] magento-engcom-team commented on #23944
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 11:18] magento-engcom-team commented on #23944
Hi @ajijshekh123, here is your [Magento instance](https://i-23944-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23944-2-3-develop.instances.magento-community.engineering/admin](https://i-23944-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 11:28] ajijshekh123 commented on #23944
@reymart081678 - Successfully uploaded your attached file in Magento Instance 2.3 and It's not reproduced.
**See attached the Video:**

![TableRateUpload](https://user-images.githubusercontent.com/24711761/62125501-f12f2180-b2ea-11e9-9fdb-9c4362cd29fe.gif)

[2019-07-30 11:33] LucianMihalache commented on #15187
Any updates? this breaks the indexer and causes missing products from the indexed product table.
This is a really old problem, how comes that it is still not fixed...

[2019-07-30 12:08] ghost opened #23946 "Cannot do second partial invoice after first partial invoice"
### Preconditions (*)

1. Magento 2.2.8
2. Braintree setup to authorize only

### Steps to reproduce (*)

1. Add 2+ products to cart
2. Order products as guest using Credit Card
3. In order admin, invoice for 1 item, This should go through fine
4. Invoice again for 1 more item. Error will occur

### Expected result (*)

1. Second invoice should go through same as the first

### Actual result (*)

[2019-07-30 12:09] rammohan-krish commented on #23837
@magento give me 2.3-develop instance

[2019-07-30 12:09] magento-engcom-team commented on #23837
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 12:09] magento-engcom-team commented on #23837
Hi @rammohan-krish, here is your [Magento instance](https://i-23837-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23837-2-3-develop.instances.magento-community.engineering/admin](https://i-23837-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 12:10] t-eichmann commented on #15427
Can confirm the problem for 2.3.1 on all Paypal orders.

[2019-07-30 12:16] matt-gribben opened #23947 "Order beforeSave plugin throws TypeError"
I've built a plugin that catches the order beforeSave event in order to add some extra data to the an order attribute. The problem is that when this plugin fires it causes an error;

[code]

### Preconditions (*)

1. Magento 2.3.1
2. Nginx / PHP 7.2.19

### Steps to reproduce (*)

My Order plugin looks like this

[code]

And my di.xml looks like this;

[code]

### Expected result (*)

1. I would e

[2019-07-30 12:37] AndyJAllen commented on #23837
FYI the solution suggested on the Stack Exchange thread that I linked above worked for me...so consider patching the Paypal ReCaptcha module.

[code]

[2019-07-30 12:47] magento-engcom-team commented on #23836
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18742` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 12:57] rammohan-krish commented on #23837
@AndyJAllen Thanks for the information, will check and confirm the issue.

[2019-07-30 13:36] ron-jomashop commented on #23941
Have you turn on cronjobs in the background?

[2019-07-30 13:40] johncarlson21 commented on #22497
@engcom-Charlie thank you for testing again.
This still is happening for me.
one thing I did not mention in my above scenario is that I have a layout update in the Magento_Catalog/layout/catalog_category_view.xml file that overrides all the categories
`<referenceBlock name="category.products.list">
            <action method="setTemplate">
                <argument name="template" xsi:type="string

[2019-07-30 13:42] engcom-Bravo commented on #23946
Hello @paul-gene. Could You please try to reproduce Your issue not on 2.2.8 but on the fresh, vanilla 2.3-develop instance as You are advised to do in one of the [above](https://github.com/magento/magento2/issues/23946#issuecomment-516390971) bot's comments. Thank You.

[2019-07-30 13:45] paul-gene commented on #23946
@magento give me 2.3-develop instance

[2019-07-30 13:45] magento-engcom-team commented on #23946
Hi @paul-gene. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 13:46] magento-engcom-team commented on #23946
Hi @paul-gene, here is your [Magento instance](https://i-23946-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23946-2-3-develop.instances.magento-community.engineering/admin](https://i-23946-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 13:47] delve-game-studios opened #23948 "Tablerate Shipping regex not correct at RateQuery:134"
### Preconditions (*)

1. Magento version 2.3.2
2. UK zip codes are separated by space not a dash and the tablerate plugin doesn't recognize it.
3. File to be fixed: magento/module-offline-shipping/Model/ResourceModel/Carrier/Tablerate/RateQuery.php at line 134. It checks for prefixes from zip codes that are separated only by as dash but UK zip codes are separated by empty space.

### Steps to rep

[2019-07-30 14:00] paul-gene commented on #23946
@magento give me 2.2-develop instance

[2019-07-30 14:00] magento-engcom-team commented on #23946
Hi @paul-gene. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-30 14:12] engcom-Charlie commented on #22497
@johncarlson21 so did you solve your problem?

[2019-07-30 14:18] paul-gene commented on #23946
OK, so it looks like this cannot be replicated on a fresh install, due to another bug in Braintree.

In core Braintree, card details are stored regardless of whether the config is set not to store cards.

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Braintree/Gateway/Request/VaultDataBuilder.php#L33

Because this is always `true`, everyones cards are stored in the DB, rega

[2019-07-30 14:18] johncarlson21 commented on #22497
@engcom-Charlie no, the only way that I can get this to work is to remove the product list update from the catalog_category_view.xml file.
can I send you my layout file and you can look to make sure I don't have a mistake

[2019-07-30 14:20] engcom-Charlie commented on #22497
@johncarlson21 yes,sure

[2019-07-30 14:20] johncarlson21 commented on #22497
@engcom-Charlie also.. if you have a catalog_category_view.xml file and a catalog_category_view_id_456.xml file, it still uses the catalog_category_view.xml layou update for the product list.

[2019-07-30 14:23] johncarlson21 commented on #22497
here are both my files, the global one for category view and the specific one for the category.

[Archive.zip](https://github.com/magento/magento2/files/3447250/Archive.zip)

[2019-07-30 14:33] engcom-Charlie commented on #22497
@johncarlson21 i got this exception "Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'Magento_Catalog::category/title.phtml' in module: 'Magento_Theme' block's name: 'page.main.title'".
Can you send this file please?

[2019-07-30 14:56] ghost opened #23949 "Card stored for customers despite Vault being disabled in Payment config"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Ensure vault is disabled for Braintree
2. Create customer account and login
3. Order a product and use Credit Card via Braintree (note that no option to save card is present)
4. Goto account and click Store Payment Methods

### Expected result (*)

1. No stored payment methods should exist

### Actual result (*)

1. Previously u

[2019-07-30 14:56] paul-gene commented on #23949
Related to https://github.com/magento/magento2/issues/23946

[2019-07-30 14:57] paul-gene commented on #23949
Reproduced on 2.3.x

[2019-07-30 15:17] scne commented on #22094
I've still this problem! I'm using elastichsearch5 with magento 2.3.1, please let's me know if someone resolve this issue!

[2019-07-30 15:30] TzumB opened #23950 "Can't invoice on Magento 2.3.2 :("
### Preconditions (*)

1. 2.3.2
2. Magento Back-end creating-and-invoicing orders

### Steps to reproduce (*)

1. I have created a new order, messed around with the order status to test the e-mails,
2. Pressed "Invoice", ticked "email copy of invoice" en clicked "Submit Invoice"

### Expected result (*)

1. I'd expected Magento to continue to create the invoice and close the order
2.

### Actual r

[2019-07-30 15:45] TzumB commented on #23950
I have just discovered that the error only occurs when I have a virtual product on the order.
I am trying to invoice a service (virtual product) together with some materials (simple product) and this is where the error happens.
When I remove the virtual product from the order it WILL invoice!

[2019-07-30 15:52] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-07-30 15:53] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 15:53] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 15:59] heldchen commented on #23948
this should be a configurable option (with a sane default) IMO, as it makes too many assumptions that are valid for just one (US?) / a few countries currently.

[2019-07-30 16:00] ryandiamond23 commented on #22095
@magento-engcom-team Is there a patch for this for 2.2.9? We are seeing this issue as well on Magento Cloud.

[2019-07-30 16:01] johncarlson21 commented on #22497
[extra_files.zip](https://github.com/magento/magento2/files/3447638/extra_files.zip)
here is the other files you will probably need.

[2019-07-30 16:06] magento-engcom-team commented on #23924
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18764` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 16:20] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-07-30 16:20] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 16:21] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 18:50] magento-engcom-team commented on #23671
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18313` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 18:51] magento-engcom-team commented on #23847
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18769` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 19:38] Nazar65 commented on #23941
Hi @mspaccesi please run php bin/magento cron:install, let me know if issue still exists.

[2019-07-30 19:38] #23941 closed, assigned to nobody

[2019-07-30 20:04] magento-engcom-team commented on #23671
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18773` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-30 20:04] #23671 closed, assigned to nobody

[2019-07-30 20:42] ju2kr opened #23951 "Magento Upgrade Issue 2.3.1 ==> 2.3.2 catalogCategoryManagementV1"
### Preconditions (*)

1. I upgraded my Magento 2.3.1 Magento 2.3.2;
2. I'm using two store views, german and english
<img width="1782" alt="Bildschirmfoto 2019-07-30 um 22 34 40" src="https://user-images.githubusercontent.com/8549484/62163406-91e90580-b31a-11e9-9baf-20d7b5ee95e5.png">

### Steps to reproduce (*)

1. http://myurl.com/rest/german/V1/categories?rootCategoryId=27&depth=1

### Expecte

[2019-07-30 20:46] ju2kr commented on #23951
@magento give me 2.3-develop instance

[2019-07-30 20:46] magento-engcom-team commented on #23951
Hi @ju2kr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-30 20:47] magento-engcom-team commented on #23951
Hi @ju2kr, here is your [Magento instance](https://i-23951-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23951-2-3-develop.instances.magento-community.engineering/admin](https://i-23951-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-30 20:55] ju2kr commented on #23951
@m2-assistant  do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?

  yes

[2019-07-30 21:18] sdzhepa commented on #19858
Hello @stephan-cream and @dverkade

Thank you for collaboration!

Internal Magento team reviewed and investigated this issue in the scope of [related jira tickets](https://github.com/magento/magento2/issues/19858#issuecomment-448177105) `MAGETWO-97207`, `MAGETWO-97208`

All related tickets were closed with resolution `Not a Bug` and comment/explanation:

[2019-07-30 21:28] DrewML commented on #22995
@adifucan has picked this up internally. Seeing good results so far 👍

[2019-07-30 21:38] sdzhepa commented on #23915
Hello @sohelmagento  and @engcom-Charlie

Could you please confirm that issue can be reproduced by provided steps on **clear Magento Open Sorce 2.3 installation**?

In case is it related only to `2.2.x` version we should close this issue because Magento no longer accepts pull requests related to the 2.2

[2019-07-30 21:54] sjb9774 commented on #22952
@magento-engcom-team  I am seeing this issue on another environment again. Can you please provide a patch or working links to the commits that are supposed to fix this? I checked the DelegateAccount and CustomAttributesProcessor files on 2.3 develop and they do not appear to have been changed for a while.

From what I can tell this is not fixed since the linked commits don't exist so I'm going to

[2019-07-30 21:55] dverkade commented on #19858
Hi @sdzhepa,

I'm reopening this issue for two reasons:

First this behaviour was working in M1. When a catalog price rule changed the product price in M1 this was reflected in the discount fields of the sales_order_item database table. This way you could always determine if a discount was used when the product was ordered.

Secondly, either way, a special price or a price different then the origi

[2019-07-30 21:58] david-fuehr commented on #23411
The commit https://github.com/magento/magento2/commit/117d7103de2989168af45de550091e79f815d54e improved quote (error) handling but also introduced a log that is wrong in my opinion. It was first delivered with 2.3.2.

Line 276 from that commit logs a critical error, when a `\Magento\Framework\Exception\NoSuchEntityException` occurs. Inspecting the context of that line, this should not be done:
`\M

[2019-07-30 21:59] andimov commented on #22516
The issue has been fixed in 2.3-develop branch
The fix will be available with the upcoming 2.3.3 release.
I have to close this issue.
Thanks for the report!

[2019-07-30 21:59] #22516 closed, assigned to andimov

[2019-07-30 22:02] sdzhepa commented on #23671
@magento give me 2.2-develop instance

[2019-07-30 22:02] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-30 22:04] sdzhepa commented on #23671
Thank you for your request. I'm working on Magento 2.1-develop instance for you

[2019-07-30 22:04] sdzhepa commented on #23671
@magento give me 2.1-develop instance

[2019-07-30 22:04] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2019-07-30 22:26] sdzhepa commented on #23671
@magento give me 2.2 instance

[2019-07-30 22:28] sdzhepa commented on #23671
@magento give me 2.2.3 instance

[2019-07-30 22:28] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-07-31 00:33] edenduong opened #23953 ""Merge On Conflict" missing the Label in "New Synonym Group" form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go Marketing -> Search Synonyms -> New Synonym Group
2. Check the form

![image](https://user-images.githubusercontent.com/8234209/62174769-4576e780-b365-11e9-892d-76cf17d582b2.png)

### Expected result (*)

1. Has the label

### Actual result (*)

1. No Label (User can not understand, must hover on ? to read) => BAD UX

[2019-07-31 01:10] krishprakash commented on #23953
@magento give me 2.3-develop instance

[2019-07-31 01:10] magento-engcom-team commented on #23953
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 01:11] magento-engcom-team commented on #23953
Hi @krishprakash, here is your [Magento instance](https://i-23953-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23953-2-3-develop.instances.magento-community.engineering/admin](https://i-23953-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 01:14] magento-engcom-team commented on #23953
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18779` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 02:37] freeloop001 commented on #22776
@davemacaulay [magento/magento2-page-builder-ee#63](url) now is 404 not found , can you tell me how to fix this bug, like above patch? thank you.

[2019-07-31 02:46] erfanimani opened #23955 "Minicart shows HTML when using file upload custom option"
### Preconditions (*)

1. Tested on Magento 2.3.2
2. Luma theme

### Steps to reproduce (*)

1. As an admin, create a product with a custom option with type file upload
2. As a customer, add the product to the cart after having selected a file
3. Open up the mini cart, and expand "See Details" for the recently added product

### Expected result (*)

1. See the custom option label with the filename

[2019-07-31 02:46] erfanimani commented on #23955
@magento give me 2.3-develop instance

[2019-07-31 02:46] magento-engcom-team commented on #23955
Hi @erfanimani. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 02:47] magento-engcom-team commented on #23955
Hi @erfanimani, here is your [Magento instance](https://i-23955-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23955-2-3-develop.instances.magento-community.engineering/admin](https://i-23955-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 02:55] erfanimani commented on #23955
Reproduced:

![image](https://user-images.githubusercontent.com/930470/62180184-9ac0f200-b381-11e9-83bf-7a971616e4f9.png)

[2019-07-31 03:48] magento-engcom-team commented on #23955
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18780` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 05:07] mrtuvn commented on #22964
got same issue with korean locale here
i have tested in 2.3.2 instance

[2019-07-31 05:50] rammohan-krish commented on #23837
@magento give me 2.2-develop instance

[2019-07-31 05:50] magento-engcom-team commented on #23837
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-31 05:53] wenfei158 opened #23956 "About the Plugin to modify the Product\Collection::load function"
### Summary (*)
We want to use MongoDB to save some product attributes for performance. So I want to override the function  `\Magento\Catalog\Model\ResourceModel\Product\Collection::load`  by plugin.

But we found it will make `Infinite loop` to customize `\Magento\Catalog\Model\ResourceModel\Product\Collection::load`  by plugin.

### Examples (*)

The ProductCollection.php
[code]
di.xml
[code]
 T

[2019-07-31 06:28] robert-schmidt commented on #23336
Thanks @engcom-Delta.

Did you also try to run setup:upgrade after setting up magento to use an SSL MySQL connection?

Did you inspect the Magento\Setup\Validator\DbValidator::checkDatabaseConnection() method and see that it "doesn't know" about any driver_options instruction?

Thanks.

[2019-07-31 06:46] ajijshekh123 commented on #23944
@reymart081678 - Please update here.

[2019-07-31 07:00] bhaveshpp opened #23957 "Configurable product is not display shipping information on checkout page"
### Preconditions (*)

1. Magento ver. 2.3.2
2. Browser: Any
3. Hosted on Apache2
### Steps to reproduce (*)

1. Install Magento 2.3.2
2. Create one simple product and one configurable product with any attribute [here I have use color].
3. First, add the simple product to cart and proceed checkout it works normally [with the simple product is redirected to the [magento project]/checkout/#shipping

[2019-07-31 07:01] reymart081678 commented on #23944
Hi Ajij,
   I cannot upgrade to 2.3 for now. Current version is 2.2.9

[2019-07-31 07:09] engcom-Bravo commented on #23903
@joshi8383, if the issue is still actual for You, please add needed details and reopen it.

[2019-07-31 07:09] #23903 closed, assigned to engcom-Bravo

[2019-07-31 07:18] engcom-Charlie commented on #22497
Hi @johncarlson21 ! It works with your files:
![image](https://user-images.githubusercontent.com/51680850/62191602-7d3d5980-b37c-11e9-81c8-a4a6d48dfb39.png)
![image](https://user-images.githubusercontent.com/51680850/62191624-8a5a4880-b37c-11e9-8c96-96455adc7f99.png)

[2019-07-31 07:27] engcom-Charlie commented on #23915
Hi @sohelmagento and @sdzhepa
I can't reproduce this issue on fresh Magento 2.3-develop.
@sohelmagento can you check it on 2.3-develop instance? I will request instance for you or you can just write "@magento give me 2.3-develop instance"
Thanks!

[2019-07-31 07:28] magento-engcom-team commented on #23915
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 07:28] magento-engcom-team commented on #23915
Hi @engcom-Charlie, here is your [Magento instance](https://i-23915-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23915-2-3-develop.instances.magento-community.engineering/admin](https://i-23915-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 07:40] WinstonN commented on #21964
I get the following error which seems similar to this one, Magento 2.2.9

[code]

I have the settings as described above by @magento-engcom-team

[2019-07-31 08:00] engcom-Charlie commented on #19858
Hi @sdzhepa and @dverkade .
This issue is still reproducible on fresh Magento 2.3-develop.

In the backoffice "Discount Amount" value = 0$:
![image](https://user-images.githubusercontent.com/51680850/62194076-c3e18280-b381-11e9-8763-90fed87c53ee.png)

In the table sales_order_item the discount_amount or discount_percent value = 0 too.
![image](https://user-images.githubusercontent.com/51680850/621

[2019-07-31 08:02] duckchip opened #23958 "New bulk schedule doesn't create operations automatically"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Create a new bulk schedule
[code]
In this scenario we add 1 operation to a bulk.  The moment `scheduleBulk` is called, a new record inside the `magento_bulk` table is created.

Even with the queues up and running the operations are not created and stay "Pending"

<img width="1118" alt="Screen Shot 2019-07-31 at 09 59 05" src="

[2019-07-31 08:20] rammohan-krish commented on #23837
@magento give me 2.2-develop instance

[2019-07-31 08:20] magento-engcom-team commented on #23837
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-31 08:51] engcom-Bravo commented on #23948
Hello @milan-vugrinchev, Thanks for applying. Would You please give us a reference to the official source on Table Rate shipping method in Magento where it is said that the rate of a particular record in the DB table will be applied to all zip-codes starting with a string given in dest_zip field of that record. Or anything else saying that dest_zip value is not necessarily supposed to be a valid z

[2019-07-31 08:57] magento-engcom-team commented on #23837
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18783` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 09:13] edenduong commented on #23957
@bhaveshpp : Please check the children of the configurable product. I think it is the Virtual Product. So it doesn't have the shipping.

[2019-07-31 09:41] sunbeamshawls opened #23959 "magento 2.3.2 back end product not visible showing error"
Just installed magento 2.3.2 but on the front end the products are displaying which are default sample products while installing magento 2.3.2

BUT ON THE BACK END ADMIN PANEL WHEN YOU CLICK ON CATALOG > PRODUCT IT SHOWS ERROR

A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.
![product not loading](https://us

[2019-07-31 09:53] magento-engcom-team commented on #23951
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18784` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 09:54] engcom-Bravo commented on #23949
Hello again @paul-gene. We followed the steps You provided in this issue and here is what we have after the the order has been placed:
![Screenshot from 2019-07-31 12-48-37](https://user-images.githubusercontent.com/51680745/62202430-f4311d00-b391-11e9-8be4-d8376d92d15f.png)

[2019-07-31 09:58] paul-gene commented on #23949
It's fixed in 2.3-develop by https://github.com/magento/magento2/pull/19767

It affects 2.3.1 and I imagine any 2.2.x version.

[2019-07-31 10:00] murali290987 opened #23960 "Azure BlobFuse + Magento 2 Static Files sync"
### Preconditions (*)

1. Magento Version 2.3.1

### Steps to reproduce (*)

1. RHEL 7.4
2. Azure Virtual Machine
3. Azure Database for MySQL server
4. Install BlobFuse for file sync between VM and BlobStorage https://github.com/Azure/azure-storage-fuse
5. Run deployment command - sudo php -dmemory_limit=6G ../bin/magento setup:static-content:deploy

### Expected result (*)

1. [Screenshots, logs

[2019-07-31 10:15] milan-vugrinchev commented on #23948
Can’t really give anything of value just stating that this should be an issue because it’s not said that the TableRate shipping method for (for example US only method) that’s the idea behind my issue. UK zip codes start with String and are separated by space not a dash. I would only like this to be an official release instead of me touching vendor folder. That’s all.

Best Regards,
Milan Vugrinche

[2019-07-31 10:27] ajijshekh123 commented on #23944
Hi @reymart081678,
If it feasible in your end please upgrade the Magento version and verify the issue.

[2019-07-31 10:27] ajijshekh123 commented on #23944
Give me @magento give me 2.2-develop instance

[2019-07-31 10:27] magento-engcom-team commented on #23944
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-31 10:32] engcom-Charlie commented on #23959
Hi @sunbeamshawls! Can't reproduce this issue on Magento 2.3.2 and 2.3-develop. I think that problem only on your instance. You can try to re-install magento for fix it.
Thank for your report!

[2019-07-31 10:32] #23959 closed, assigned to engcom-Charlie

[2019-07-31 10:40] TomashKhamlai commented on #23912
@magento give me 2.3-develop instance

[2019-07-31 10:40] magento-engcom-team commented on #23912
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 10:40] magento-engcom-team commented on #23912
Hi @TomashKhamlai, here is your [Magento instance](https://i-23912-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23912-2-3-develop.instances.magento-community.engineering/admin](https://i-23912-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 10:42] magento-engcom-team commented on #23069
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18785` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 10:42] SudoPlz commented on #21666
If you've installed magento via composer the path is `/home/tyanabel/www/vendor/magento/framework/Stdlib/DateTime/Timezone.php#L332`

[2019-07-31 10:52] TomashKhamlai commented on #23957
@bhaveshpp, exactly the same behavior described in #23912. I thought that the reason is 0 price or 0 weight of the configurable when price and weight have only configurable variants (simple product with some color) but it looks like I was wrong.

[2019-07-31 11:04] engcom-Bravo commented on #23948
Thank You for replly @milan-vugrinchev. Seems there is some misunderstanding. If You store not the prefix but the valid UK zip-code in the DB (like AB31 2AR with a space in between, just as it should be) then everything will work properly. And as so then where the bug is?

[2019-07-31 11:07] engcom-Bravo commented on #23948
Or @milan-vugrinchev You mean there is no bug. You simply want Magento to be able to work with prefixes and not just with the full zip-codes?

[2019-07-31 12:03] scne commented on #22094
Also in magento 2.3.2 this problem persists!

[2019-07-31 12:32] btarshad opened #23961 "Unable to get quote items in custom module phtml file or in observer."
I have created a phtml file in my custom module.
Path: app/code/Essence/Fcf/view/frontend/templates/packages.phtml

I called this file in my cms page "packages"  by following code:

Url: http://essence.onlineprojectprogress.com/packages

I have listed here a specific category products. I have also added "Add to Cart" button on each product.

After adding products to the cart, products are successf

[2019-07-31 12:32] milan-vugrinchev commented on #23948
Of course… otherwise we’ll have a 100GB table only for zip codes and for each zip code there’ll be at least 20 rows for price per package_value_with_discount … which makes this method inefficient. It has the functionality to check for prefixes but only one kind… not everywhere the zip code is separated from the prefix with a dash in some countries is a space.

Best Regards,
Milan Vugrinchev

From:

[2019-07-31 12:38] btarshad commented on #23961
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-31 12:38] magento-engcom-team commented on #23961
Hi @btarshad. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 12:39] magento-engcom-team commented on #23961
Hi @btarshad, here is your [Magento instance](https://i-23961-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23961-2-3-develop.instances.magento-community.engineering/admin](https://i-23961-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 12:42] btarshad commented on #23961
I cannot produce this issue only on admin panel but in my custom module.

[2019-07-31 13:02] Rus0 commented on #19858
It is still reproducible, I am working on a solution.

[2019-07-31 13:04] vdubyna commented on #18140
The issue still exists in 2.3.2, the only thing needed to fix it is to update the lock resource
and set lock_id to lock

[code]

[2019-07-31 13:08] engcom-Bravo commented on #23948
Ok, @milan-vugrinchev, now everything has become clear. We are confirming Your issue. Thanks for reporting.

[2019-07-31 13:09] magento-engcom-team commented on #23948
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18786` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 13:14] engcom-Charlie commented on #23961
Hi @btarshad! I goes to your site and when i click add to card i saw this code is worked:
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
$items = $cart->getQuote()->getAllItems();
foreach($items as $item) {
echo 'ID: '.$item->getProductId().'<br />';
echo 'Name: '.$item->getName().'<br />';
echo 'Sku: '.$item->getS

[2019-07-31 13:18] btarshad commented on #23961
I really need help.

That result is coming using objectmanager in observer that I cannot use. I want to use observer default feautres as below:

`    public function execute(EventObserver $observer)
 `   {`
    `    $item = $observer->getQuoteItem();`
`	}`

I am using following event:
checkout_cart_product_add_after

But it returns nothing.

Second thing, I want to get cart item in my phtml file u

[2019-07-31 13:20] engcom-Charlie commented on #19858
@Rus0 , okay i confirm it.

[2019-07-31 13:20] magento-engcom-team commented on #19858
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18787` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 13:27] david-fiaty-cko commented on #13952
+1

[2019-07-31 13:52] engcom-Charlie commented on #23961
@btarshad in my local $item = $observer->getQuoteItem(); works fine, but tested not in custom module.

[2019-07-31 13:54] shweta2014 commented on #9988
I am still getting this issue in 2.2.7. In my case when I am searching the product with keyword "A-9" in quick search at the frontend, It's not showing any result.
I have specified the string "A-9" in both Product Name and SKU.
But It's showing the result when I am searching in the SKU field with Advance Search.

[2019-07-31 13:57] magento-engcom-team commented on #23920
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18788` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-31 13:58] scne opened #23962 "The stock item was unable to be saved. Please try again."
### Preconditions (*)
### Preconditions
1. magento 2.3.1 CE
2. PHP 7.1.29
3. elasticsearch 5

### Steps to reproduce (*)
update multiple products via REST API with a PUT request. Every time I get this error: **_The stock item was unable to be saved. Please try again._**. This issue persist with elasticsearch 5 as indexer, and with MariaDB as indexer

To reproduce this issue try to perform a PUT re

[2019-07-31 14:04] Nazar65 commented on #9988
@shweta2014 that is the reason why this issue closed, this feature available on ee version, and i don't know if this will be correct to do same thing on ce version.

[2019-07-31 14:10] joinso opened #23963 "middleName not present in Order List from Admin"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. In Magento Admin, setup MiddleName as visible on Customer Configuration
2. Register a new customer and provide First Name, Middle Name and Last Name.
3. Place an order.
4. Go to Admin > Sales

### Expected result (*)

1. "Middle Name", "Prefix" and "Suffix" must shown.

### Actual result (*)

1. "Middle Name" is not present i

[2019-07-31 14:23] snoroozi commented on #7299
Also urgently needing help with this. What fixes it?

[2019-07-31 14:25] engcom-Charlie commented on #23961
@btarshad well i check your site again and i see you fix it.
I close this issue.
Thank you for your report!

[2019-07-31 14:25] #23961 closed, assigned to nobody

[2019-07-31 14:28] squeegy06 opened #23964 "Refunding remaining items on partially shipped order does not complete order"
We have an issue where occasionally a customer will place an order and one or more items in the order, but not all items, go on backorder and we are unable to ship them immediately.  So instead we ship only some of the items and notify the customer of the backorder.  And sometimes the customer doesn't want to wait, so they request a refund on the backordered items.  When we complete the refund, al

[2019-07-31 15:07] edenduong commented on #23964
@magento give me 2.3-develop instance

[2019-07-31 15:07] magento-engcom-team commented on #23964
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 15:08] magento-engcom-team commented on #23964
Hi @edenduong, here is your [Magento instance](https://i-23964-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23964-2-3-develop.instances.magento-community.engineering/admin](https://i-23964-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 15:32] johncarlson21 commented on #22497
@engcom-Charlie can I get your full theme files so I can have a look because for some reason when I go to another install and make a simple theme, it stops using any type of product list.. just empty, which makes no sense at all.

[2019-07-31 16:03] magento-engcom-team commented on #22792
Hi @jonesio.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18795` was closed as `non-reproducible` in `2.2-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still

[2019-07-31 16:11] sdzhepa commented on #19858
Hello @dverkade @Rus0

Thank you for the feedback and argumentation.
I have updated internal Jira ticket with additional information and argumentations.

to: @engcom-Charlie
Please, take into account next:
- when you confirm Issue, especially in the case that was reopened, you should **update Issue description with additional information like reasons for reopening** or at least lates affected Mage

[2019-07-31 17:07] davemacaulay commented on #22776
@freeloop001 Page Builder repositories are private, the issue is not yet fixed in core. You can simply apply the patch in the first post if you'd like to fix it or wait for a future release where we fix it.

[2019-07-31 17:38] johncarlson21 commented on #22497
@engcom-Charlie alright... so I've recreated the catalog_category_view_id_3.xml file and I must have had a typo or something not exactly sure.

one thing that I noticed though is I still cannot do the layout update from the category specifically. so if I were to remove that category 3 xml file, and then put the code into the categories Design -> Layout Update XML section, it does not take affect.

[2019-07-31 17:56] johncarlson21 commented on #22497
@engcom-Charlie so the weird thing is if I do this, it does everything accept override the category.products.list template.

[2019-07-31 18:47] barbazul commented on #19597
I am having the same issue with Aurora  (mysql 5.6 compatible).

[2019-07-31 18:48] KholdenSP commented on #21666
If you can't make a programming change, you can also use bulk actions to make the update. That should work. This really appears to be a bug only when you make a change on the simple product edit page.

[2019-07-31 19:03] djamps commented on #12412
There are more issues with duplicate function than just url/path.   For example, the following attributes are copied:

image_label
small_image_label
thumbnail_label

With their values = the name of the original product.   You cannot edit these attributes in admin.

Now, when you search for the original product by name, the newly created products will show along side the original product in your ad

[2019-07-31 19:32] sdzhepa commented on #23671
@magento give me 2.2.3 instance

[2019-07-31 19:32] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-07-31 19:33] sdzhepa commented on #23671
@magento give me 2.2 instance

[2019-07-31 19:36] sdzhepa commented on #23671
@magento give me 2.2 instance

[2019-07-31 19:37] sdzhepa commented on #23671
@magento give me 2.2-develop instance

[2019-07-31 19:37] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-07-31 19:42] SoloDevAtrix commented on #7299
This is what "fixed" it for me, just like a lot else broken in M2, if you want it to actually work you have to purchase a module, going m2 was a giant mistake.  https://store.paradoxlabs.com/magento2-authorize-net-cim-payment-module.html

[2019-07-31 20:19] sdzhepa commented on #23642
Hello @lingwooc

Thank you for contribution and collaboration!

We have already updated the Braintree API to the latest Js SDK 3 and implemented integration with Braintree 3DS 2.0 service. These changes will be available in 2.3.3 and 2.2.10.

Also, we have started communication https://community.magento.com/t5/Magento-DevBlog/3D-Secure-2-0-changes/ba-p/136460  that we are going to deprecate all th

[2019-07-31 20:20] #23642 closed, assigned to sdzhepa, engcom-Charlie

[2019-07-31 20:55] magento-engcom-team commented on #23376
Hi @stephan-cream, @sanjay-github.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [0f44fbd5bb123c78d6b84355ace79ecf896ad212](https://github.com/magento/magento2/commit/0f44fbd5bb123c78d6b84355ace79ecf896ad212)
 - [706b8f8f980078c1d19592e3103e38eaefd6bafc](https://github.

[2019-07-31 20:55] magento-engcom-team commented on #23462
Hi @craigcarnell.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [ac6512c2dbdf5df87df88f9d528c512f8e099ac0](https://github.com/magento/magento2/commit/ac6512c2dbdf5df87df88f9d528c512f8e099ac0)
 - [1172c2ea2aab95677ab2fd7508e1ab12aac3aada](https://github.com/magento/magen

[2019-07-31 20:56] Fgruntjes opened #23965 ""Duplicate FOREIGN KEY constraint name" error when using default value `NULL` in `db_schema.xml` on foreign key column"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Create a module with a `db_schema.xml` containing a nullable foreign key column:

[code]

2. Run the `setup:upgrade` command twice.

### Expected result (*)
1. First run of `setup:upgrade` the table is created
2. Second run should do nothing

### Actual result (*)
1. First run of `setup:upgrade` the table is created
2. Second ru

[2019-07-31 20:58] Fgruntjes commented on #23965
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-31 20:58] magento-engcom-team commented on #23965
Hi @Fgruntjes. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-31 20:59] magento-engcom-team commented on #23965
Hi @Fgruntjes, here is your [Magento instance](https://i-23965-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23965-2-3-develop.instances.magento-community.engineering/admin](https://i-23965-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-31 21:55] ron-jomashop commented on #23908
Looks like this ticket: https://github.com/magento/magento2/issues/8544

[2019-07-31 22:17] sdzhepa commented on #23671
test

[2019-07-31 22:47] sdzhepa commented on #22952
Hello @sjb9774

I have checked in the internal Jira:

1. The fix was delivered into `2.3-develop` branch in the scope of internal ticket `MC-17201`.
Related commits:
- https://github.com/magento/magento2/commit/5223ed0226c2f176e6ffe81f039e94ef54910390
- https://github.com/magento/magento2/commit/52d678676ad85c09584e913cb90362b10707905f
Based on Jira, will be available with 2.3.4 release

2.  Commi

[2019-08-01 00:32] sshymko opened #23966 "WYSIWYG image upload dialog hangs up"
WYSIWYG editor in the admin panel _sometimes_ hangs up upon opening an image upload dialog. The "Please wait..." spinner animation does not go away (until you refresh the page and have more luck next time).

### Preconditions (*)
1. Magento 2.3.1 Open Source
2. Google Chrome 74.0.3729.169 (Official Build) (64-bit)
2. Configuration > General > Content Management > WYSIWYG Options > Enable WYSIWYG E

[2019-08-01 00:33] sshymko commented on #23966
@magento give me 2.3-develop instance

[2019-08-01 00:33] magento-engcom-team commented on #23966
Hi @sshymko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-01 00:34] magento-engcom-team commented on #23966
Hi @sshymko, here is your [Magento instance](https://i-23966-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23966-2-3-develop.instances.magento-community.engineering/admin](https://i-23966-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-01 00:47] sshymko commented on #23966
Confirmed the issue is reproducible on the vanilla instance provided above.
It took multiple page refreshes ~5 to reproduce the issue.
<img width="1179" alt="magento2_admin_cms_wysiwyg_img_upload_hang_up" src="https://user-images.githubusercontent.com/1231423/62257590-f65ba180-b3ba-11e9-853d-efd414b8fea7.png">

[2019-08-01 01:15] sshymko commented on #23966
The bug causes instability of the following MFTF tests:
[code]

As demonstrated above, the image upload issue affects all instances of WYSIWYG editor in admin.

[2019-08-01 04:40] btarshad commented on #23961
But it is not working in my module. See my packages.phtml file full code:

`<div class="col-md-12"><h2 class="page-title">Choose how many guests per package:</h2></div>`
`<?php`
`$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();       `

`$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');`
`$categoryHelper = $objectManager->get('\Magento\Catalog\

[2019-08-01 05:15] krishprakash commented on #23966
@magento give me 2.3-develop instance

[2019-08-01 05:15] magento-engcom-team commented on #23966
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-01 05:16] magento-engcom-team commented on #23966
Hi @krishprakash, here is your [Magento instance](https://i-23966-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23966-2-3-develop.instances.magento-community.engineering/admin](https://i-23966-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-01 05:38] krishprakash commented on #23966
Hi @sshymko,
I'm not able to reproduce this issue as provided steps by you.
Is there any specific case in which you phase this issue ?

[2019-08-01 05:43] edenduong opened #23967 ""New Tax Rate" missing validation => data is automatically changed when saving"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Store -> Tax Zone and Rate
2. New Tax Rate
3. Fill: 12345678901 (over 10 character) in "Zip/Post Code"
4. Save
5. Back to the tax rate which is saved
6. See "Zip/Post Code"

### Expected result (*)

1. Don't allow to save

### Actual result (*)

1. Saved. But the "Zip/Post Code" cut to 1234567890

[2019-08-01 07:07] engcom-Charlie commented on #17465
Hello @Mrjain13

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:

[2019-08-01 07:07] #17465 closed, assigned to nobody

[2019-08-01 07:23] engcom-Charlie commented on #22497
@johncarlson21 i still can't reproduce it:
1.catalog_category_view_id_3.xml deleted:
![image](https://user-images.githubusercontent.com/51680850/62273505-6105ef00-b446-11e9-86f6-fa72daa9506f.png)
2.

[2019-08-01 07:36] engcom-Charlie commented on #8651
Hello @qwerty7869

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](http

[2019-08-01 07:36] #8651 closed, assigned to engcom-Charlie

[2019-08-01 07:49] matthiashamacher opened #23969 "Customer Group / Tier Prices not applied"
### Preconditions (*)

1. Magento 2.3.1 CE

### Steps to reproduce (*)

1. Add a new Customer Group
2. Assign a customer the new customer group
3. Add a tier price to a product
4. Save the product
5. Log in as the customer
6. Open the product
<img width="403" alt="Screenshot 2019-08-01 at 09 44 28" src="https://user-images.githubusercontent.com/32356549/62274858-fb633400-b440-11e9-8499-57d6ffe7051

[2019-08-01 07:50] sshymko commented on #23966
Provided steps are the exact steps. The issue is random and does not always reproduce. It took me 5-10 page refreshes to reproduce it on the provided instance. Could you please try to refresh the page and repeat the steps to reproduce multiple times?

[2019-08-01 07:50] mdesplenter opened #23970 "Iframe element fails in product WYSIWYG editor on Magento 2.2.9"
### Preconditions (*)
1. Magento 2.2.9 & 2.3-develop
2. The condition is to switch the tinyMCE from version 4 to version 3 in the backend config (General > Content Management)

### Steps to reproduce (*)
1. Go to Youtube, select a movie, and use the embed function
2. Go to a product
3. Add this line of code in the text area for content
4. Switch to the editor

or

1. Open a product that already ha

[2019-08-01 07:53] mdesplenter commented on #23970
@magento give me 2.2.9 instance

[2019-08-01 07:53] magento-engcom-team commented on #23970
Hi @mdesplenter. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-01 07:53] mdesplenter commented on #23970
@magento give me 2.3-develop instance

[2019-08-01 07:53] magento-engcom-team commented on #23970
Hi @mdesplenter. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-01 07:54] magento-engcom-team commented on #23970
Hi @mdesplenter, here is your [Magento instance](https://i-23970-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23970-2-3-develop.instances.magento-community.engineering/admin](https://i-23970-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-01 07:57] #23969 closed, assigned to nobody

[2019-08-01 08:00] mattheo-geoffray commented on #8344
Is there any news on that issue?

[2019-08-01 08:00] mdesplenter commented on #23970
I cannot reproduce this in 2.3.x , it's a different editor.
Testing on a local vanilla 2.2.9 instance gives the same error.

[2019-08-01 08:01] mdesplenter commented on #23970
@magento no , not in 2.2.3

[2019-08-01 08:19] engcom-Charlie commented on #23965
Hello @Fgruntjes
I can't reproduce this issue on fresh Magento 2.3-develop.
**Manual testing scenario:**
1.Create a module with a db_schema.xml containing a nullable foreign key column:
[code]
2.Run setup:upgrade
3.Check a created table in mysql(have to be exist)
4.Run setup:upgrade again
**Actual result:**
Upgrade finished successfully

So i have to close this issue.
Thank for your report!

[2019-08-01 08:25] engcom-Charlie commented on #23961
@btarshad  can you drop me your module?

[2019-08-01 08:30] matthiashamacher commented on #23969
That the Price isn't 150.60€ is default Magento behaviour because the price is higher than the base price.
Tier Prices are only shown if the Tier Price which would be shown is lower than the base price.

[2019-08-01 09:04] btarshad commented on #23961
[Essence.zip](https://github.com/magento/magento2/files/3455812/Essence.zip)

[2019-08-01 09:07] engcom-Charlie commented on #23970
Hello @mdesplenter

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](htt

[2019-08-01 09:09] magento-engcom-team commented on #23967
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18817` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-01 09:16] rani-priya opened #23971 "Disable Guest Checkout if Cart Contains Downloadable Items doesn't work correctly"
### Preconditions (*)

1. Magento version 2.3.2
2. Php version: 7.2.19

### Steps to reproduce (*)

1. navigate to backend->stores->configuration->catalog->Downloadable Product Options
2. Set Shareable -> No and Disable Guest Checkout if Cart Contains Downloadable Items -> No
![downloadable-product-issue](https://user-images.githubusercontent.com/44425160/62280272-37aa8a80-b469-11e9-9a6e-9fa6ac016

[2019-08-01 09:34] btarshad opened #23973 "Product image disappeared in product view page after appearing for a while"
This is my url:
http://essence.onlineprojectprogress.com/basic-package.html

This is a configurable product. When this url loads, product image appears for a seconds and disappears suddenly.

![asdfe](https://user-images.githubusercontent.com/53523233/62282688-983bc680-b46d-11e9-840c-a87f8becb35b.png)

What could be the issue?

[2019-08-01 09:40] swnsma opened #23974 "Unable to place an order"
### Preconditions (*)
1. Magento 2.3
2. Active Store with id 1.
3. Created Product with SKU 'TEST-123' with qty 1 and assigned to website of Store 1.
4. Backorders disabled.
5. Enabled Flatrate shipping method (Admin Panel -> Stores -> Configuration -> Sales -> Shipping Methods -> Flat Rate).
6. Enabled Check/Money Order payment method (Admin Panel -> Stores -> Configuration -> Sales -> Payment Me

[2019-08-01 09:43] krishprakash commented on #23973
Hi @btarshad. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
It will help faster for you.
Thank You.

[2019-08-01 09:43] #23973 closed, assigned to krishprakash

[2019-08-01 09:43] engcom-Charlie commented on #23961
@btarshad thank for contributing! Sorry,but i can't use your module to test.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.Or you can post your issue on [Stackoverflow](https://stackoverflow.com/) and someone will give a decision.

[2019-08-01 10:09] amitebizon commented on #7658
@rydemods Yes, It is in Magento 2.3 too and exist in Magneto 2.3.2 too. Have you get any solution ?

[2019-08-01 10:14] simonmaass commented on #7658
can confirm - 2.3.2 still having the problem

[2019-08-01 10:27] kirtinariya1 opened #23975 "Can't able to update multiple same child category in diffrent parent."
Magento 2 programtically import categories via CSV and re-importing via CSV but can't able to update child categories data as same categories of multiple parent.

**Categories Example:**

[code]

While re-importing categories via CSV only updating content of `Mobile` category child categories `Samsung` and `Sony` but not updated content of `TV` and `Device` child categories.

### Preconditions (*)

[2019-08-01 10:28] amitebizon commented on #7658
It is having in Magento 2.3.2 on **System -> Data Transfer -> Export** page. Unable to export the product.

[2019-08-01 10:30] py4762013 commented on #13466
Hi guys,
I fixed this bug.
https://github.com/py4762013/Magento_AutoInvoiceEmail

[2019-08-01 10:38] engcom-Bravo commented on #23963
Hello @joinso. Thanks for applying. In fact Name and Address Options section where middle name, prefix and suffix are configured is responsible for displaying these options in Customers Account (please see official Magento [user guide])(https://docs.magento.com/m2/ce/user_guide/customers/name-address-options.html))
And there everything works as expected. There is nowhere said that all of the confi

[2019-08-01 10:41] joinso commented on #23963
But must be displayed in Order List, like First Name or Last Name.

[2019-08-01 11:26] inder009 commented on #19710
Hello there,
I also was getting same problem of broken product images. In my experience i was using external cdn path for static and media folder. i just keep blank
Secure Base URL for User Media Files  &  Base URL for User Media File   path from web configuration. and Run php bin/magento catalog:images:resize command. Then image cache regenerated.  Hope this suggestion will help for someone.

-

[2019-08-01 11:30] engcom-Bravo commented on #23964
Hello, @squeegy06, thanks for applying. We haven't noticed any information on invoicing the order in Your Steps To Reproduce. Before You create a Credit Memo for some part of the items, there obviously an invoice for those items has had to be created. That's what we are able to conclude from the description of Your case. But what we can not now is that whether You have the other (shipped) part of

[2019-08-01 11:40] Leone opened #23976 "Missing payment method on sales order grid"
In the order grid, in the admin panel, payment methods are missing:
- in filters (it is not possible to choose e.g. "Bank Transfer Payment"
- in the payment method column in the grid (column "Payment Method" is empty if customer chose e.g. "Bank Transfer Payment" method).

### Preconditions (*)

1. Magento 2.2.9 and 2.3.0+
2. Configured payment methods (e.g. Bank Transfer Payment)

### Steps to re

[2019-08-01 11:41] Leone commented on #23976
@magento give me 2.3-develop instance

[2019-08-01 11:41] magento-engcom-team commented on #23976
Hi @Leone. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-01 11:42] magento-engcom-team commented on #23976
Hi @Leone, here is your [Magento instance](https://i-23976-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23976-2-3-develop.instances.magento-community.engineering/admin](https://i-23976-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-01 11:47] engcom-Charlie commented on #23962
Hello @scne
I can't reproduce this issue on fresh Magento 2.3-develop.
**Manual testing scenario:**

1. Configure Elasticsearch 5
2. Create simple product
3.  To update a product send a PUT request with this body:
`{
	"product": {
		"sku": "product_code",
		"attribute_set_id": 4,
		"status": 1,
		"type_id": "simple",
		"visibility": 4,
		"extension_attributes": {
			"stock_item": {
				"qty": 132,

[2019-08-01 11:47] #23962 closed, assigned to engcom-Charlie

[2019-08-01 11:49] Leone commented on #23976
I'm sorry, I just noticed that this issue has been fixed in 2.3-develop ([commit](https://github.com/magento/magento2/commit/da0c7374e5dcae81735552bdd685ee5e646b8486))

But the issue is still valid in 2.3.2. What are the chances that in 2.3.3 version the bug will be fixed?

[2019-08-01 11:51] ajijshekh123 commented on #23944
@reymart081678 - feel free to reopen the issue if you have found in Magento 2.3 instance.

[2019-08-01 11:51] #23944 closed, assigned to ajijshekh123

[2019-08-01 11:52] scne commented on #23962
@engcom-Charlie Please try to update more products simultaneously! For one single request all works ok.

[2019-08-01 12:09] TomashKhamlai opened #23977 ""This item has weight" switcher is not sensitive to weight changes"
When the product is virtual Merchant cannot set the weight before he hasn't switched to "The item has weight" and from this point, the issues sounds pointless. But there is another way to update weight from Magento UI with virtual configurable variants

### Preconditions (*)

1. Explanation to #23957 and #23912

### Steps to reproduce (*)

1. Create Configurable Product.
Fill name, SKU and price =

[2019-08-01 12:09] #23912 closed, assigned to engcom-Bravo

[2019-08-01 12:11] johnny-longneck commented on #12591
Same here in a B2B shop powered by Magento 2.3.1...

[2019-08-01 12:11] TomashKhamlai commented on #23957
@bhaveshpp, if your problem was solved please close this issue.

[2019-08-01 12:13] Naveesh29 opened #23978 "how to fetch swatch_images url in product listing in magento 2 and how to loop them in an array"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-08-01 12:33] squeegy06 commented on #23964
Hello @engcom-Bravo, I'm not sure I quite understand your response but I do see that I may have been a little lax on my steps to reproduce.  When completing the purchase we checkout using a credit card method which invoices and captures the payment as part of the order creation.  So if I had to update my steps to be more detailed.

1) Browse to the frontend of your store.
2) Add 2 or more items to

[2019-08-01 12:36] TomashKhamlai opened #23979 "Typo in the Merchant Docs about Product Variation Attribute Requirements"
### Preconditions (*)

1. No preconditions

### Steps to reproduce (*)

1. [Product Variation Attribute Requirements](https://docs.magento.com/m2/ee/user_guide/catalog/product-create-configurable.html#Product-Variation-Attribute-Requirements). Strange: anchor links do not work on https://docs.magento.com, so scroll down to the section **Product Variation Attribute Requirements**

### Expected resu

[2019-08-01 12:42] TomashKhamlai commented on #23979
@lorikrell, is it the right place to create issues on Merchant Documentation?

[2019-08-01 12:50] johnny-longneck commented on #16016
I am also looking for this feature. Any news?

[2019-08-01 13:04] mauricehermans commented on #16016
Nope ☺

Van: johnny-longneck <notifications@github.com>
Beantwoorden - Aan: magento/magento2 <reply@reply.github.com>
Datum: donderdag 1 augustus 2019 om 14:52
Aan: magento/magento2 <magento2@noreply.github.com>
CC: Maurice Hermans | Nutrition Company <maurice@nutritioncompany.nl>, Comment <comment@noreply.github.com>
Onderwerp: Re: [magento/magento2] Discoutn for payment method (#16016)

I am als

[2019-08-01 13:08] rommelfreddy commented on #16016
Have a look at this repository. this will fix that.
https://github.com/MagestyApps/magento2-fix-discount-rules
I use this also for a customer of mine. it works pretty fine.

maybe someone wants to create a pull request with the code from MagestyApps (please get in contact with them)

[2019-08-01 13:16] t-eichmann commented on #15427
As it turned out for us, the problem was not in the Magento code. We have a custom payment method with an observer listening to the sales_order_payment_save_before event. In the observer we Injected an instance of  Magento\Webapi\Controller\Rest\InputParamsResolver and called its resolve method without checking if the route name is empty. If the route name is not empty this causes an exception, be

[2019-08-01 13:26] engcom-Alfa commented on #23979
Hi @TomashKhamlai please open issue here -> https://github.com/magento/devdocs

[2019-08-01 13:26] #23979 closed, assigned to nobody

[2019-08-01 13:31] engcom-Charlie commented on #23962
@scne i tried:
![image](https://user-images.githubusercontent.com/51680850/62297277-9d9f0e00-b479-11e9-85a0-e12993ee6d1b.png)

![image](https://user-images.githubusercontent.com/51680850/62297345-b4ddfb80-b479-11e9-917f-7e3a81d2ca01.png)

[2019-08-01 13:46] scottsb commented on #21299
Note that it is possible to fix this in affected versions using a custom module (or even just a line added to `di.xml` of an existing module if you have one that is suitable). You don't need to use a Composer patch here.

I didn't assemble it into a full-blown Git repo, but these are the files for such a module:
https://gist.github.com/scottsb/d719678955f682cdaf872a64f0f9b809

[2019-08-01 13:54] engcom-Alfa commented on #23978
Hello @Naveesh29 .  Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-08-01 13:54] #23978 closed, assigned to engcom-Alfa

[2019-08-01 14:10] ron-jomashop commented on #23908
Could be related to this ticket: https://github.com/magento/magento2/issues/22112

[2019-08-01 14:22] engcom-Bravo commented on #23964
Yes @squeegy06, You understand me quite right. Please take a look at one of Your orders which has already been completely invoiced and captured whether the Invoice button is still displayed their on the order page, like this
![invoice](https://user-images.githubusercontent.com/51680745/62301240-e1494600-b480-11e9-9d87-31440c244a51.png)

[2019-08-01 14:32] squeegy06 commented on #23964
@engcom-Bravo No, I do not see the invoice button when I view an order that I have placed.

[2019-08-01 14:41] johncarlson21 commented on #22497
well.. it must be something with my install not sure exactly.

[2019-08-01 14:42] engcom-Bravo commented on #23964
Ok, @squeegy06, then let me ask You yet to try to reproduce the issue on a vanilla 2.3-develop instance as we are not able to reproduce it on such. (Yes, I see Your version is 2.2.8 but if we can not reproduce an issue on such an instance we are supposed to close it according to our workflow). Thank You.

[2019-08-01 14:49] ylgendev opened #23981 "Customer Address Attribute displays wrong label"
### Preconditions (*)

1.Magento 2.3.1 (or Magento 2.2.8)
2.PHP 7.2 (or PHP 7.0)
3.Samples data

### Steps to reproduce (*)

1. Login to admin
2. Go to **Stores** -> **Attributes** -> **Customer Address** https://cl.ly/b9e89260918d
3. Add New Attribute
4. Complete the fields as in the screenshoot https://cl.ly/439b3e9201c1 .
The attribute is a **Text Field** attribute, "**Show on Storefront**" is

[2019-08-01 14:50] squeegy06 commented on #23964
@engcom-Bravo I have found what I am missing.  The issue is only occurring when we issue a partial refund on a single sku.  Let me update my steps.

1) From the frontend, add multiple quantities (2 or more) of a single item.  For example, add 2 of the same tote bag to your order.
2) Complete the order as usual.
3) From the admin review the order, be sure it's invoiced.
4) Create a partial shipment

[2019-08-01 14:53] ylgendev commented on #23981
yes. I confirm the issue on vanilla Magento Instance.

[2019-08-01 15:02] hungpvdev commented on #15605
Hi, i found a case to re-procedure this issue more clearly.
I have one configurable product have 2 child. All product have 1 attribute type datetime. In my case it is custom attribute name "model_release_date"
In parent product we leave it empty, but in 2 child product set value for them.
When reindex (elasticsearch) there will error like this:
DateTime::__construct(): Failed to parse time string

[2019-08-01 15:04] ron-jomashop commented on #23618
It seems like this issue related to the customer id is missing when retrieving the shipping address. If you set $customerId = null in the method doValidate() in Magento\Quote\Model\QuoteAddressValidator. It will display the error on checkout.

[2019-08-01 15:12] ron-jomashop commented on #23908
This issue is related to this issue: https://github.com/magento/magento2/issues/23618

[2019-08-01 15:45] scne commented on #23962
@engcom-Charlie I've a queue which send more then two requests simultaneously to REST endpoint of my magento. If I try to send these request with a REST client all works fine, but when I try to update the stock quantity of products in _**burst**_ mode I get this issue.

[2019-08-01 16:00] sdzhepa commented on #23671
@magento give me 2.2-develop instance

[2019-08-01 16:00] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-01 16:01] groomershop commented on #22027
On confirm this on on fresh install:
- Magento 2.3.2 (from composer): composer create-project --repository=https://repo.magento.com/ magento/project-community-edition public_html
- Magento sample data (from composer): php bin/magento sampledata:deploy
- PHP 7.2.20 and MariaDB (MySQL) 10.3.10 with Opcache

Result:
1 product in cart: 446 queries in checkout/cart/ and 342 queries in checkout/
10 prod

[2019-08-01 16:04] sdzhepa commented on #23671
@magento give me 2.2

[2019-08-01 16:08] sdzhepa commented on #23671
@magento give me 2.2 instance

[2019-08-01 16:53] jeffekg commented on #17951
Same issue here, on EE

[2019-08-01 17:00] shikhamis11 commented on #23950
@magento give me 2.3-develop instance

[2019-08-01 17:00] magento-engcom-team commented on #23950
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-01 17:00] magento-engcom-team commented on #23950
Hi @shikhamis11, here is your [Magento instance](https://i-23950-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23950-2-3-develop.instances.magento-community.engineering/admin](https://i-23950-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-01 17:21] shikhamis11 commented on #23950
Hello @TzumB
Thank you for reporting this issue , but I am not able to reproduce it either on magento 2.3- develop instance or magento 2.3.2 . Please try to reproduce it on the magento 2 develop instance and share screenshots if you are able to reproduce it

[2019-08-01 18:07] magento-engcom-team commented on #23746
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18838` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-01 18:10] #23135 closed, assigned to shikhamis11, mahesh-rajawat

[2019-08-01 20:02] mapoftampa commented on #3657
Hi, I know this is an old thread, but I am having the same problem in Magento 2.2.6. I tried to apply the code fix you suggested, but the code block in form-mini-js is a little different in 2.2.6. Instead of e.target, it is listed as e.currentTarget. I've tried it both ways, and I still can't get it to work. I'm also not sure if I have completely cleared that .js from the caches, but I believe I h

[2019-08-01 20:10] magento-engcom-team commented on #23453
Hi @centipedexv.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3.3-develop` branch(es).
Related commit(s):
 - [564f4411775cc0495a8dd8bffc6a110989c75b7d](https://github.com/magento/magento2/commit/564f4411775cc0495a8dd8bffc6a110989c75b7d)

The fix will be available with the upcoming `2.3.3` release.

[2019-08-01 20:10] #23453 closed, assigned to nobody

[2019-08-01 21:00] #23932 closed, assigned to mfickers

[2019-08-01 21:00] #23904 closed, assigned to edenduong

[2019-08-01 21:00] magento-engcom-team commented on #23900
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23901 by @edenduong in 2.3-develop branch
Related commit(s):
 - [b1a672fa936314847917571191974f28a9a4f646](https://github.com/magento/magento2/commit/b1a672fa936314847917571191974f28a9a4f646)
 - [23e077166d048f63dd461bcf6d3edb54bd35a9df](https://github.com/magento/magento2/commit/23e077166d048f63dd461bcf6d3edb54

[2019-08-01 21:00] #23900 closed, assigned to edenduong

[2019-08-01 21:00] magento-engcom-team commented on #23916
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23917 by @edenduong in 2.3-develop branch
Related commit(s):
 - [d4e86dd824031d9e50380e0c2da55000079006e3](https://github.com/magento/magento2/commit/d4e86dd824031d9e50380e0c2da55000079006e3)

The fix will be available with the upcoming 2.3.3 release.

[2019-08-01 21:00] #23916 closed, assigned to edenduong

[2019-08-01 21:00] magento-engcom-team commented on #23405
Hi @pmsteil. Thank you for your report.
The issue has been fixed in magento/magento2#23866 by @matei in 2.3-develop branch
Related commit(s):
 - [856d3e903ae807a005bbc3a82cae42d740eeccaf](https://github.com/magento/magento2/commit/856d3e903ae807a005bbc3a82cae42d740eeccaf)
 - [eea95a070aba7dc81c1b6d9d03933a4c4e352077](https://github.com/magento/magento2/commit/eea95a070aba7dc81c1b6d9d03933a4c4e3520

[2019-08-01 21:00] #23405 closed, assigned to matei

[2019-08-01 21:01] ju2kr commented on #23966
@sshymko I have exactly the same problem, it occurs at irregular intervals. So far I haven't been able to see a fixed pattern to reproduce the problem.

[2019-08-01 21:20] nexus4alii1991 commented on #17323
still having this issue on magento version 2.2.8
I have a domain https://xyz.com/admin and subdomain https://test.xyz.com/admin
When i login to admin of these two domains, while i am working i get routed back to login page without loggin out, then i login again and i get notified other oppened session is expired.
can you please fix this are show how to fix it in v2.2.8

[2019-08-01 21:32] sshymko commented on #23966
The issue must be caused by race condition of JavaScript callbacks toggling "Please wait..." spinner.
Occurrence of the issue depends on the timing of AJAX calls and alignment of stars :)

[2019-08-01 22:04] GuiltyNL commented on #21385
https://github.com/magento/magento2/issues/13996

https://github.com/magento/magento2/issues/4422

'm not alone. :)

[2019-08-01 22:05] GuiltyNL commented on #4422
Does someone has a solution yet?

[2019-08-02 00:24] sjb9774 commented on #22952
@sdzhepa Thank you for the update, I appreciate it. I applied the following patch using `cweagans/composer-patches` and it seems to have resolved the issue. Closing as this has the appropriate commit links now and appears to be fixed.

[code]

[2019-08-02 00:24] #22952 closed, assigned to nobody

[2019-08-02 01:48] magento-engcom-team commented on #23071
Hi @adarshkhatri, @adarshkhatri.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2.10-develop` branch(es).
Related commit(s):
 - [cbf8a5d6e8b6879aa944c6faa30563150ce20a22](https://github.com/magento/magento2/commit/cbf8a5d6e8b6879aa944c6faa30563150ce20a22)
 - [9fcaa745d6abb661c9ca88f95a52b88221da1293](https://github

[2019-08-02 04:23] bhaveshpp commented on #23957
@TomashKhamlai Thank you
@edenduong Thank you for Providing me solution
My issue is solved.

[2019-08-02 04:23] #23957 closed, assigned to engcom-Bravo

[2019-08-02 04:29] vinayshah commented on #19710
But this used to not work for all clients.

[2019-08-02 04:50] alexblueacorn commented on #6401
I'm on 2.3.2 and we still have this issue. I can fix it on my local mac, just by increasing proxy memory buffer, but we have production on ubuntu , apache php-fpm and we having issues to configure it right,
For now we just disabled FPC , but I think do the same @pynej suggested. Just exclude childs from the list.

[2019-08-02 04:51] krishprakash commented on #23981
@magento give me 2.3-develop instance

[2019-08-02 04:52] magento-engcom-team commented on #23981
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 04:52] magento-engcom-team commented on #23981
Hi @krishprakash, here is your [Magento instance](https://i-23981-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23981-2-3-develop.instances.magento-community.engineering/admin](https://i-23981-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 05:03] alexblueacorn commented on #6401
`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
declare(strict_types=1);

namespace Magento\ConfigurableProduct\Model\Plugin\Frontend;

use Magento\ConfigurableProduct\Model\Product\Type\Configurable;
use Magento\Catalog\Model\Product;

/**
 *  Extender of product identities for child of configurable products
 */
class ProductIdentitiesExten

[2019-08-02 05:09] kirtinariya1 opened #23982 "Sales Configuration in the 'Orders Cron Settings' under the field 'Pending Payment Order Lifetime (minutes)' have not proper validation"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

`Sales` configuration in the `Orders Cron Settings` have a field `Pending Payment Order Lifetime (minutes)` that field have used `Pending Payment Order Lifetime (minutes)`. But issue is that field taking any of the value. There should be take proper validation.

1. Login to the Magento 2 admin.
2. Go to the STORES >> Settings >>

[2019-08-02 05:22] ajijshekh123 commented on #23982
Give me @magento give me 2.3-develop instance

[2019-08-02 05:22] magento-engcom-team commented on #23982
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 05:23] magento-engcom-team commented on #23982
Hi @ajijshekh123, here is your [Magento instance](https://i-23982-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23982-2-3-develop.instances.magento-community.engineering/admin](https://i-23982-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 05:30] ajijshekh123 commented on #23982
Issue reproduced.

**See attached screenshot:**

![Magento 2 3 Cron Issue](https://user-images.githubusercontent.com/24711761/62346723-c9bb9d00-b514-11e9-9f3d-8abbb8f29845.png)

[2019-08-02 05:31] magento-engcom-team commented on #23982
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18848` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 05:40] krishprakash commented on #23966
@sshymko @ju2kr  I have tried several times but couldn't reproduce the issue.
It may be browser specific issue.
Can you please share the browser detail in which you produce this issue.
Thanks

[2019-08-02 05:44] sshymko commented on #23966
@krishprakash it's not enough to try 2-3 times. It literally takes 10 or sometimes more test case repetitions with the page refresh (Ctrl+R) in between. See the exact browser version in the preconditions.

[2019-08-02 05:44] mmularski commented on #23975
@magento give me 2.2.7 instance

[2019-08-02 05:44] magento-engcom-team commented on #23975
Hi @mmularski. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-02 06:01] krishprakash commented on #23981
Hi @ylgendev, which magento Edition do you use? Enterprise or Community?
Customer custom address attributes are available in Enterprise edition only.
If you use this one, please contact the Support with your problem.

[2019-08-02 06:39] Thakur001 commented on #22952
@sjb9774 Thank you for the update, I have applied this code in vendor/magento/module-customer/Model/Delegation/Storage.php but it get an error :
atal error: Uncaught Error: Class 'Magento\Customer\Model\Delegation\CustomAttributesDataInterface' not found in /home/project/public_html/vendor/magento/module-customer/Model/Delegation/Storage.php:138

[2019-08-02 06:49] engcom-Delta commented on #22968
Hi @bhavik43
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://de

[2019-08-02 06:49] #22968 closed, assigned to engcom-Delta

[2019-08-02 07:20] hostep commented on #21385
@GuiltyNL: How are your indexers setup, as `Updated by Schedule` or `Update on Save`?

I remember [a talk](https://www.meet-magento.nl/session/stop-flushing-the-magento-cache) from @johnhughes1984 at MM19NL saying there is a bug in Magento when the latter is chosen in that it always flushes the entire cache instead of only flushing the cache specific to a certain product/category.

[2019-08-02 07:21] mattyl commented on #18148
Its crazy this is still an issue a year on and no one is assigned to it

[2019-08-02 07:23] ylgendev commented on #23981
@ylgendev Yes it is Enterprise . I already created a ticket to them .

[2019-08-02 07:37] engcom-Delta commented on #13473
Hi @Tonzr
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://devdo

[2019-08-02 07:37] #13473 closed, assigned to nobody

[2019-08-02 07:46] engcom-Charlie commented on #23962
@scne i tried to reproduce it with 6 requests via cmd(multiple requests):
![image](https://user-images.githubusercontent.com/51680850/62353089-78121300-b512-11e9-831c-67699f5eaf50.png)
All responses is OK.

[2019-08-02 07:53] engcom-Charlie commented on #23962
@scne can you please provide your steps to reproduce this issue with simultaneously requests?

[2019-08-02 07:56] engcom-Charlie commented on #12411
Hello @sanjayjethva

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](ht

[2019-08-02 07:56] #12411 closed, assigned to engcom-Charlie

[2019-08-02 08:04] edenduong opened #23984 "No validation "Sort Order" in "New Rating" form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Stores-> Rating
2. Add New Rating
3. Fill All information, "Sort Order" fill "one"
4. Save Rating

### Expected result (*)

1. Can not save

### Actual result (*)

1. Still save

[2019-08-02 08:05] engcom-Charlie commented on #20480
Hello @dipti2jcommerce

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code]

[2019-08-02 08:05] #20480 closed, assigned to dipti2jcommerce, priti2jcommerce, engcom-Charlie

[2019-08-02 08:10] engcom-Alfa commented on #20629
Hello @magolovanov !

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](h

[2019-08-02 08:10] #20629 closed, assigned to engcom-Alfa

[2019-08-02 08:11] engcom-Delta commented on #13247
Hi @bondimedical3
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https

[2019-08-02 08:11] #13247 closed, assigned to nobody

[2019-08-02 08:11] engcom-Charlie commented on #18550
Hello @4ctobias

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:

[2019-08-02 08:11] #18550 closed, assigned to engcom-Charlie

[2019-08-02 08:30] engcom-Alfa commented on #23270
Hello @graemelambert !
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](

[2019-08-02 08:30] #23270 closed, assigned to engcom-Alfa

[2019-08-02 08:37] engcom-Charlie commented on #13552
Hello @leoquijano

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](http

[2019-08-02 08:37] #13552 closed, assigned to brideo, engcom-Charlie

[2019-08-02 08:39] engcom-Charlie commented on #22948
@magento give me 2.3-develop instance

[2019-08-02 08:39] magento-engcom-team commented on #22948
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 08:39] magento-engcom-team commented on #22948
Hi @engcom-Charlie, here is your [Magento instance](https://i-22948-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22948-2-3-develop.instances.magento-community.engineering/admin](https://i-22948-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 08:40] GuiltyNL commented on #21385
Hi @hostep indexers are updated by schedule.

Also the FPC always changes to 'INVALIDATED' after a (short) while.

The cache is also completely flushed after a customer places an order. And sometimes that is very few minutes. So our shop is uncached most of the time.

Our cache warmer tries to keep up and warms about 1.200.000 pages per day because of the constant flushing.

[2019-08-02 08:41] GuiltyNL commented on #4422
@andidhouse werre you able to solve this already?

[2019-08-02 08:42] engcom-Charlie commented on #22948
Hello @vini1996

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:

[2019-08-02 08:42] #22948 closed, assigned to engcom-Charlie

[2019-08-02 08:46] engcom-Alfa commented on #22006
Hello @jameshalsall !

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](

[2019-08-02 08:46] #22006 closed, assigned to engcom-Alfa

[2019-08-02 09:47] tuyennn opened #23986 "Catalog Price Rule applied to Customer Group wrong price value on minicart, cart after adding to cart."
### Preconditions (*)

1. Magento 2.1.17 & 2.2.7

### Steps to reproduce (*)

1. Create New customer group, assign new group to a customer
2. Create new Catalog Price Rule with discount and specific applied for the new customer group
3. Login on new customer account and saw the product price on product view, minicart and cart after adding this to cart.
4. If I land on checkout -> the price was cor

[2019-08-02 10:25] mack4hack commented on #23392
@LovelySetia I am facing the same issue using Magento v2.3.1

[2019-08-02 10:25] engcom-Alfa commented on #23049
Hello @wajeehmmc !

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](htt

[2019-08-02 10:25] #23049 closed, assigned to engcom-Alfa

[2019-08-02 10:33] tuyennn commented on #23986
@magento give me 2.3-develop instance

[2019-08-02 10:33] magento-engcom-team commented on #23986
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 10:34] magento-engcom-team commented on #23986
Hi @tuyennn, here is your [Magento instance](https://i-23986-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23986-2-3-develop.instances.magento-community.engineering/admin](https://i-23986-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 10:40] engcom-Bravo commented on #23964
Please @squeegy06, watch our video and tell us where we go wrong if we do so.
![StatusComplete](https://user-images.githubusercontent.com/51680745/62364718-ef53a100-b52a-11e9-92b1-0520ace16778.gif)

[2019-08-02 10:41] tuyennn commented on #23986
Closed due cannot reproduce on 2.3-develop instance

[2019-08-02 10:41] #23986 closed, assigned to nobody

[2019-08-02 10:58] Valerii-Lazarevych commented on #17357
how to reopen the issue?

[2019-08-02 10:58] engcom-Bravo commented on #22366
Hello, @Mitrajsinh

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](htt

[2019-08-02 10:58] #22366 closed, assigned to anujwebkul

[2019-08-02 11:01] ThakurPradeep commented on #22952
Hi @sdzhepa after implement your code "5223ed0"
https://github.com/magento/magento2/commit/5223ed0226c2f176e6ffe81f039e94ef54910390

previous error is not show but  this error is get **we can't save the customer** and other think is when we refresh the page or resubmit account is create but on order is assign under this acoount.
Magento version => 2.3.1(B2B)
please help me .
Thanks

[2019-08-02 11:04] #23732 closed, assigned to nobody

[2019-08-02 11:22] magento-engcom-team commented on #23376
Hi @stephan-cream, @sanjay-github.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [e83fc73cbff9ffb5ed5726632097fbacdc419b34](https://github.com/magento/magento2/commit/e83fc73cbff9ffb5ed5726632097fbacdc419b34)
 - [5a5a24667af26979eeaa273e2d3119355bc9cdce](https://github.

[2019-08-02 11:22] #23376 closed, assigned to sanjay-github

[2019-08-02 11:22] magento-engcom-team commented on #23462
Hi @craigcarnell.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [959437a67b3b412d1f8ba0250110b000205eb9e6](https://github.com/magento/magento2/commit/959437a67b3b412d1f8ba0250110b000205eb9e6)
 - [adfa33f91c9ecb6bdfd913a6a9296531bd8d278b](https://github.com/magento/magen

[2019-08-02 11:36] krishprakash commented on #23984
@magento give me 2.3-develop instance

[2019-08-02 11:36] magento-engcom-team commented on #23984
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 11:37] magento-engcom-team commented on #23984
Hi @krishprakash, here is your [Magento instance](https://i-23984-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23984-2-3-develop.instances.magento-community.engineering/admin](https://i-23984-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 11:41] Darkbelg commented on #22609
This issue is reproducible on version 2.2.9.

[2019-08-02 11:50] krishprakash commented on #23984
Hi @edenduong.
If you fill all required fields and click on save it should save ratings so what is the issue.
Can you please explain and update the issue description.

[2019-08-02 12:03] magento-engcom-team commented on #23984
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18854` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 12:19] ThakurPradeep commented on #22952
Thanks @sdzhepa your code is working fine.address variable is missing in our code at the time of implement of our code

[2019-08-02 12:26] engcom-Bravo commented on #20017
Fixed in 2.3-develop but only partially.

[2019-08-02 12:33] squeegy06 commented on #23964
@engcom-Bravo Looks like me you followed my steps to the letter.  I will have to do some more testing then to figure our what I am missing.  I appreciate your help and sorry for any wasted time.

[2019-08-02 12:36] engcom-Delta commented on #19207
Hi @convenient
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://

[2019-08-02 12:36] #19207 closed, assigned to nobody

[2019-08-02 12:41] magento-engcom-team commented on #22662
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18855` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 12:55] razvan-f commented on #16859
Having same problem. Magento 2.3.2, PHP 7.2, Siteground hosting.

[2019-08-02 13:02] magento-engcom-team commented on #23977
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18856` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 13:03] celorodovalho commented on #23808
Thank you @Dzhus111, it was exactly my problem!

[2019-08-02 13:04] engcom-Alfa commented on #13017
@magento-engcom-team give me 2.3-develop instance

[2019-08-02 13:05] magento-engcom-team commented on #13017
Hi @engcom-Alfa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 13:05] magento-engcom-team commented on #13017
Hi @engcom-Alfa, here is your [Magento instance](https://i-13017-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13017-2-3-develop.instances.magento-community.engineering/admin](https://i-13017-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 13:07] engcom-Bravo commented on #23964
You are welcome @squeegy06. Waiting for Your updates.

[2019-08-02 13:13] magento-engcom-team commented on #23071
Hi @adarshkhatri, @adarshkhatri.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3.3-develop` branch(es).
Related commit(s):
 - [a242f2dc1b8c6e84a8ee569e6a3bcf0f74881c05](https://github.com/magento/magento2/commit/a242f2dc1b8c6e84a8ee569e6a3bcf0f74881c05)
 - [fa604dc7b68c2cbbf94b8379c9a5140c8606a990](https://github.

[2019-08-02 13:13] #23071 closed, assigned to adarshkhatri

[2019-08-02 13:39] engcom-Bravo commented on #23976
Hello @Leone. Thanks for applying. If the issue is fixed in the develop version it shall be supplied in the next release version.

[2019-08-02 13:39] #23976 closed, assigned to engcom-Bravo

[2019-08-02 13:48] wpalmer opened #23987 "Escaper#escapeXssInUrl (internally: Escaper#escapeScriptIdentifiers) incorrectly convert un-truthy values to empty string"
### Preconditions (*)
1. Any version (up to current HEAD as of July 2nd 2019)

### Steps to reproduce (*)
1. Call Escaper#escapeXssInUrl with value `"0"` (eg: `$this->_escaper->escapeXssInUrl("0");` in block context)

### Expected result (*)
1. return value of `"0"`, ie: unmodified

### Actual result (*)
1. returns an empty string `""`

This appears to be due to lines such as:

        $filteredDa

[2019-08-02 14:06] marco7319 commented on #19710
Hi,
I installed magento 2.3.2 and magmi 7.23, everything works fine. Import products = ok and result import images in pub / media / catalog = ok but in the frontend of the store, the image does not display, I get a logo image of magento or small logo broken image.

[2019-08-02 14:23] engcom-Bravo commented on #23946
Hello again @paul-gene. As we can conclude taking into consideration [Your comment to Your another issue](https://github.com/magento/magento2/issues/23949#issuecomment-516783223) this issue must also have been fixed by #19767 in 2.3-develop version. So due to our workflow we are closing it now. Please feel free to reopen if deem necessary.

[2019-08-02 14:23] #23946 closed, assigned to nobody

[2019-08-02 14:34] engcom-Bravo commented on #23949
Hello @paul-gene. `2.2-develop` branch was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details. As for 2.3.x versions - if the bug has been fixed in current develop version th

[2019-08-02 14:34] #23949 closed, assigned to nobody

[2019-08-02 14:38] paul-gene commented on #23949
@engcom-Bravo does that mean 2.2 will never get fixed?

[2019-08-02 14:45] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-08-02 14:45] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-02 14:46] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-02 14:47] magento-engcom-team commented on #22774
Hi @vseager, @Valant13, @gauravagarwal1001.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18859` was closed as `non-reproducible` in `2.2-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of

[2019-08-02 14:55] magento-engcom-team commented on #22774
Hi @vseager, @Valant13, @gauravagarwal1001.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18858` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of

[2019-08-02 15:00] engcom-Bravo commented on #23949
Yes @paul-gene, unfortunately it means exactly that. I'm not sure if it equally concerns Enterprise Edition, but as for Community Edition (this repository is intended for) everything is just like that.

[2019-08-02 15:04] magento-engcom-team commented on #23966
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18861` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 16:32] sdzhepa opened #23989 "State/Province field does not clear after select country which have no state drop down."
### Preconditions (*)

1. magento 2.3
2.

### Steps to reproduce (*)

1. Go to Admin
2. Customer -> All Customers
3. Add New Customer
4. Edit Customer -> Addresses
5. Add New Address
6. Select country as US and select any state
7. Now select different country which have no country drop down
8. See the state/province

### Expected result (*)

1. State/Province field should empty.

### Actual result

[2019-08-02 16:35] sdzhepa opened #23990 "Reset not working properly in Add review from admin"
### Preconditions (*)

1. magento 2.3

### Steps to reproduce (*)

1. Go to Admin
2. Marketing -> All Reviews -> New Review
3. Click any product
4. Fill all data
5. Click on Reset

### Expected result (*)

1. Review form should reset and stay on same page
2.

### Actual result (*)

1. https://www.screencast.com/t/dT6oqMKkF

[2019-08-02 16:36] magento-engcom-team commented on #23989
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18892` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 16:37] magento-engcom-team commented on #23717
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18893` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 16:37] shikhamis11 commented on #23717
since the issue is fixed and merged to 2.3-develop branch I am closing this one

[2019-08-02 16:37] #23717 closed, assigned to edenduong

[2019-08-02 16:39] magento-engcom-team commented on #23990
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18894` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 16:44] shikhamis11 commented on #23974
Hi @swnsma
Thank you for reporting this issue . May be the issue is related to #18812.

[2019-08-02 16:47] sdzhepa opened #23991 "Store view specific label text field not clear when click on reset"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Go to Admin
2. Marketing -> Cart Price Rule
3. Fill all the fields
4. Click on Reset
5. Review the Store View Specific Labels -> Default Store View field

### Expected result (*)

1. All the fields should clear when click on Reset.

### Actual result (*)

1. "Store View Specific Labels" still has value
2. https://www.screenca

[2019-08-02 16:49] magento-engcom-team commented on #23721
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18895` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 16:52] magento-engcom-team commented on #23991
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18896` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 17:04] shikhamis11 commented on #23989
@sdzhepa @krishprakash this issue may be similar to #23460

[2019-08-02 17:07] magento-engcom-team commented on #22562
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18897` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 17:09] magento-engcom-team commented on #20806
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18898` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 17:14] magento-engcom-team commented on #3594
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-08-02 17:20] magento-engcom-team commented on #3594
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18899`, `MC-18900` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-02 17:36] sdzhepa commented on #16069
Hello @alexber88

This issue was investigated by internal Magento team in the scop of related Jira ticket.
The described flow was additionally discussed with Product Managers/Owners and was confirmed it is not a bug but expected behavior, this requirement covered by internal test case.

Unfortunately, I have to close this issue as well because such changes will not be approved.

To help at least s

[2019-08-02 17:36] #16069 closed, assigned to nobody

[2019-08-02 18:05] flahub commented on #20952
It worked for me rename package.json.example to package.json, that is what I was missing. :-)

[2019-08-02 21:50] #23989 closed, assigned to sdzhepa, shikhamis11

[2019-08-03 01:02] diazwatson opened #23993 "bin/magento throws a Warning: array_key_exists(): The first argument should be either a string or an integer"
### Preconditions (*)

1. Checkuot commit e008e80c6ee in 2.3-develop branch
2. PHP 7.1.26

### Steps to reproduce (*)

1. Run `bin/magento`

### Expected result (*)

1. See a list of all commands available

### Actual result (*)

[code]

[2019-08-03 01:14] diazwatson commented on #23993
@magento give me 2.3-develop instance

[2019-08-03 01:14] magento-engcom-team commented on #23993
Hi @diazwatson. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-03 01:14] magento-engcom-team commented on #23993
Hi @diazwatson, here is your [Magento instance](https://i-23993-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23993-2-3-develop.instances.magento-community.engineering/admin](https://i-23993-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-03 01:16] diazwatson commented on #23993
Forgot there is not ssh access to this instance so it is not possible to reproduce the issue there 🤷‍♂

[2019-08-03 01:47] edenduong opened #23996 ""Conditions" field of Catalog Price Rule no reset after clicking reset button"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Admin
2. Marketing -> Catalog Price Rule
3. Fill "Condition" Field
4. Click on Reset

### Expected result (*)

1.  should clear when click on Reset.

### Actual result (*)

1. "Condition" still has value

[2019-08-03 03:09] seattletechworks commented on #13475
I also experienced this issue recently with Magento 2.3.2 using Luma theme.

This is a duplicate issue, please refer to https://github.com/magento/magento2/issues/3421

It occurs when Varnish is enabled.

[2019-08-03 03:35] krishprakash commented on #23996
@magento give me 2.3-develop instanc

[2019-08-03 03:36] krishprakash commented on #23996
@magento give me 2.3-develop instance

[2019-08-03 03:36] magento-engcom-team commented on #23996
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-03 03:37] magento-engcom-team commented on #23996
Hi @krishprakash, here is your [Magento instance](https://i-23996-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23996-2-3-develop.instances.magento-community.engineering/admin](https://i-23996-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-03 03:43] magento-engcom-team commented on #23996
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18925` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-03 04:10] thanhnhan98 opened #23998 "Configurable product in Magento 2 not show in product manager after import"
### Preconditions (*)

1.PHP 7.0.6
2.MySQL CE 5.6.30
3.Magento 2.1.0

### Steps to reproduce (*)

1.Create a CSV with 3 virtual products and one configurable product.
2.The only attribute configurable is COLOR.
3.Add to the CSV (screenshot attached) the additional_attributes field, as well as configurable_variations and configurable_variation_lables.

### Expected result (*)

1. Import success
2.

[2019-08-03 09:03] edenduong opened #23999 ""Selected Attributes" lost selected value when filter"
### Preconditions (*)

1. Magento 2.3-develop
2. Created at least 2 dropdown attributes (color, size)

### Steps to reproduce (*)

Remember: **Created at least 2 dropdown attributes (color, size)**
1. Go to backend
2. Catalog -> Product -> Add Product
3. Fill require information
4. Click "Create Configurations"
5. In "Selected Attributes", select "color"
6. Go to filter, filter "size" in "Attribut

[2019-08-03 09:57] edenduong opened #24002 "No focus to invalid element in "Advance Pricing" => User can not see the error message when Creating Bundle Product"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. Create new Bundle Product
3. Go to Advanced Pricing
4. In "Customer Group Price" - Click "Add"
5. Fill 22 in Quantity
6. Click Done

### Expected result (*)

1. Validate, focus to the "%" element => User can see the message "This is a required field."

### Actual result (*)

1. Validate, but user can not

[2019-08-03 11:09] krishprakash commented on #23999
@magento give me 2.3-develop instance

[2019-08-03 11:10] magento-engcom-team commented on #23999
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-03 11:10] magento-engcom-team commented on #23999
Hi @krishprakash, here is your [Magento instance](https://i-23999-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23999-2-3-develop.instances.magento-community.engineering/admin](https://i-23999-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-03 11:20] magento-engcom-team commented on #23999
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18926` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-03 11:23] magento-engcom-team commented on #24002
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18927` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-03 11:48] hostep opened #24004 "Less compilation problems in Magento/backend theme"
### Description

This is similar issue as what was being reported in https://github.com/magento/magento2/issues/23619
But this time it's for the Magento/backend theme.
The fact that there are errors in the less code might indicate that certain things aren't getting outputted in css properly. But without deeper research I can't confirm this yet.

### Preconditions (*)
1. Magento 2.3-develop branch

[2019-08-03 15:14] edenduong opened #24007 ""Currency Converter API" notify "Notice: Undefined index" when import currency rate"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. Store -> Currency Rate
3. "Import Service" choose "Currency Converter API"
4. Click "Import"

### Expected result (*)

1. Notify correct error message

### Actual result (*)

1. "Notice: Undefined index"
![image](https://user-images.githubusercontent.com/8234209/62413653-a0e1f780-b63b-11e9-9a7f-bd1d0a8a4

[2019-08-03 15:15] edenduong commented on #24007
@magento give me 2.3-develop instance

[2019-08-03 15:15] magento-engcom-team commented on #24007
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-03 15:15] magento-engcom-team commented on #24007
Hi @edenduong, here is your [Magento instance](https://i-24007-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24007-2-3-develop.instances.magento-community.engineering/admin](https://i-24007-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-03 15:17] edenduong commented on #24007
I can reproduce the issue on vanilla Magento instance

[2019-08-03 15:31] magento-engcom-team commented on #24007
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18928` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-03 16:38] ramandhillon31 commented on #14952
Hi,

I'm using  Magento Ver. 2.3.0.
The order confirmation email is coming from a very strange email address.
I have updated all the store email address.
Please advise.

Thank you,
Raman

[2019-08-03 18:06] DanielRuf commented on #14952
Hi @ramandhillon31,

Please check the latest releases for the patch.
Also see https://github.com/magento/magento2/issues/14952#issuecomment-492186332

[2019-08-03 19:02] marco7319 commented on #21387
Hi
when I import in magento 2.3.2 with a csv in backend, and that I put the url address of google to go to take a picture remotely, via url external, that I put in the cell column base_image, I have an error in the import report :
Imported resource (image) could not be downloaded from external resource due to timeout or access permissions

[2019-08-03 19:11] marco7319 commented on #21387
Hi, i have the same problem, if i want to import in the backend of magento 3.2.3 with a csv file. if i have a url external in a cell in the column base_image .. additional_images ....
Message : Imported resource (image) could not be downloaded from external resource due to timeout or access permissions
THANKS

[2019-08-03 21:12] nadroj467 commented on #18148
Same issue in 2.3.2. Above fix that has worked for some, has not worked for me... this really should have an official fix by now

[2019-08-03 23:00] marco7319 commented on #20348
i have this problem wtih magento 2.3.2, it's possible ?

[2019-08-04 05:38] konarshankar07 commented on #23966
Hello @sshymko ,
I think this issue might be fixed in https://github.com/magento/magento2/pull/23621. Can you please test with the mention pull request

Thanks

[2019-08-04 05:46] arushibansal013 commented on #23998
@thanhnhan98 thanhnhan98 Can you attach the CSV you are using and is the issue reproducible in Magento 2.3-develop version

[2019-08-04 10:38] hiteshagrawal84 opened #24009 "New Quote is not creating after order place for logged in customer"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Logged with registered customer
2. Place a new order
3. Check exception.log file

### Expected result (*)

1. New quote should be created for customer

### Actual result (*)

1. report.CRITICAL: No such entity with customerId = 31 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0)

[2019-08-04 14:40] marco7319 opened #24010 "Product image failure when importing through CSV url external"
### Preconditions (*)

Magento 2.3.2
PHP Version  ea-php7.2.
Linux
release with no Sample Data
Csv with column base_image thumbnail_image small_image additional_images
remote url address in cells
http://www.tompetty.com/sites/g/files/g2000007521/f/styles/photo-carousel/public/sample1_1.jpg

### Steps to reproduce (*)

1. Create CSV file
2. Go to System > Import with following settings:
Entity Type

[2019-08-04 14:54] nadroj467 opened #24011 "Magento 2.3.2 Update Attributes screen not loading"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.1

### Steps to reproduce (*)

1. Select multiple products from product grid
2. Select Actions > Update attributes from drop down

### Expected result (*)

1. Expected load Update Attributes screen with attribute options

### Actual result (*)

1. No options available on update attributes screen - just a heading
2. No console errors visible
![image]

[2019-08-04 14:55] nadroj467 commented on #24011
@magento give me 2.3-develop instance

[2019-08-04 14:55] magento-engcom-team commented on #24011
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-04 14:55] magento-engcom-team commented on #24011
Hi @nadroj467, here is your [Magento instance](https://i-24011-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24011-2-3-develop.instances.magento-community.engineering/admin](https://i-24011-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.