[2016-05-23 14:28] quienti commented on #4627
Oops, sorry !
Bad copy / paste

I have upgrade Magento 2.0.6 to 2.1.0 RC1
After update, when I use `bin/magento setup:upgrade`, I have this error

[2016-05-23 14:29] tkacheva commented on #4520
Hi @theskillwithin,
since you use sass here is the great news for you https://alankent.me/2016/05/21/magento-2-community-project-moving-from-less-to-sass/
SNOW.DOG will be leading community for this effort so you can contact them to incorporate your ideas

[2016-05-23 14:31] davidalger commented on #4614
@commcad I'm sure everyone at Magento appreciates the positive feedback. :) Since this does not appear to be a technical issue, I am going to go ahead and mark it as closed, but thank you for sharing!

[2016-05-23 14:32] #4614 closed, assigned to nobody

[2016-05-23 14:33] magenx commented on #4629
fresh composer installation, why it breaks and downloads 2.0.6 instead of 2.1-rc??

[2016-05-23 14:36] mazhalai commented on #4627
Haven't been able to reproduce this error. Also, cannot figure out where `4-Images` is coming from. Do you have sample data or some other 3rd party modules?

[2016-05-23 14:39] mazhalai commented on #4629
Can you post the exact command(s) you used.

[2016-05-23 14:43] stamster commented on #4643
_tmp tables are defined as of type 'MEMORY', i.e. they're lost after server reboot/shutdown which is likely your case - moving to another host.

Run `indexer:reindex` from magento CLI.

[2016-05-23 14:44] magenx commented on #4629
it is the same installation procedure
`composer -vvv create-project --repository-url=https://repo.magento.com/ magento/project-community-edition  .`

`Installing magento/project-community-edition (2.0.6)`

latest version 2.1-rc1 ?? no?

[2016-05-23 14:45] nobuttsalex commented on #4638
It's now under Content > Design instead of Stores > Configuration

[2016-05-23 14:46] quienti commented on #4627
I have a lot of customs modules, but any work with eav_attribut_group
I did not found `4-Images` in my database too

I succeed to upgrade after commenting this
https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Setup/UpgradeData.php#L241-247

But not really a solution

[2016-05-23 14:51] dsikkema-magento commented on #4556
Thank you for the info. There are a few options in that doc you supplied. Are you separating your two sites by different domains, or different paths on the same domain? And are you setting the run type and run code variables in different entry points, or in htaccess?

[2016-05-23 14:52] mazhalai commented on #3086
@MichielTG you mean when you login to admin and click on config->web setup wizard?

[2016-05-23 14:53] mazhalai commented on #4629
@magenx but 2.1-rc1 is not a stable release, does this work? `composer -vvv create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.0-rc1 .`

[2016-05-23 14:54] lazarenkoalexey commented on #4643
Hi,
thank fo your answering!!
But while reindexing I have another error:
General error: 1366 Incorrect integer value: '' for column 'from_time' at row 1, query was: INSERT INTO `catalogrule_product`
I think is relate to wrong format column. Am I right?
Can you help with it?
Thanks

[2016-05-23 14:55] piotrekkaminski commented on #4520
@theskillwithin additionally you shouldn't have to disable all caches doing front-end changes. Our internal developers work with all caches on and clear them as needed. You can also look at https://github.com/SnowdogApps/magento2-frontools for workflow optimization ideas.

[2016-05-23 14:57] nobuttsalex commented on #4556
The two sites are on the same domain but different subdomains. And I have this code at the bottom of index.php

[code]

[2016-05-23 14:58] piotrekkaminski commented on #4244
@PascalBrouwers were you running it from command line on via cron?

[2016-05-23 15:04] magenx commented on #4629
ok, i give up, this is tagged as Latest Release on github page....

[2016-05-23 15:06] antboiko commented on #4611
Hello @bondimedical3

Correct. If order includes only downloadable/virtual products there is a notice "You don't need to select a shipping address." below Shipping Address and "You don't need to select a shipping method." below Shipping Method, so no Shipment is being created for such orders.

Best,
Anton.

[2016-05-23 15:06] SteveRohrlack commented on #4630
same here

As a reference, I created a dump from [catalogProductAttributeRepositoryV1Get](https://github.com/magento/magento2/files/277706/catalogProductAttributeRepositoryV1Get.txt) for the attribute.

At first I thought this has something to do with the option labels per store but all options already have separate labels for store and admin.

[2016-05-23 15:12] ghost commented on #3086
@mazhalai Yes, this is indeed the issue right now.

[2016-05-23 15:12] antboiko commented on #4611
Hello @bondimedical3

Correct. If order includes only downloadable/virtual products there is a notice "You don't need to select a shipping address." below Shipping Address and "You don't need to select a shipping method." below Shipping Method, so no Shipment is being created for such orders.

Best,
Anton.

[2016-05-23 15:13] antboiko commented on #4611
Hello @bondimedical3

Correct. If order includes only downloadable/virtual products there is a notice "You don't need to select a shipping address." below Shipping Address and "You don't need to select a shipping method." below Shipping Method, so no Shipment is being created for such orders.

Best,
Anton.

[2016-05-23 15:15] mazhalai commented on #3086
@MichielTG are you still on 2.0 and upgrading to 2.0.1/2.0.2 there were a couple of issues re upgrade. Please read this http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html

[2016-05-23 15:15] stamster commented on #4643
You can try to run my custom script: http://stamster.github.io/magento2-commander.sh
Put it in your magento root dir, and `chmod +x` it before running.

[2016-05-23 15:21] PascalBrouwers commented on #4244
Both, but my mistake was I did not read the migration readme entirely. It states you have to run indexes BEFORE you start the migration proces. I did not do that, thus my catalogsearch_fulltext kept being in the 'processing' state.

[2016-05-23 15:21] SteveRohrlack commented on #4630
same here

As a reference, I created a dump from [catalogProductAttributeRepositoryV1Get](https://github.com/magento/magento2/files/277706/catalogProductAttributeRepositoryV1Get.txt) for the attribute.

At first I thought this has something to do with the option labels per store but all options already have separate labels for store and admin.

[2016-05-23 15:21] ghost commented on #3086
@mazhalai We currently have Magento ver. 2.0.2 - because we were able to upgrade Magento 2 to 2.0.1 and 2.0.2 with Installatron (http://installatron.com).

[2016-05-23 15:25] nikunj1990 commented on #1726
There is no solution so far all pages,Add to cart every thing is slow on local host and cache is enabled.
it take ages to load pages and addtocart. even no extension added, no theme added all that comes fresh installation.that must work fast.

[2016-05-23 15:34] yssource opened #4645 "developer mode throw an exception, But production mode is good"
`exception 'Magento\Framework\Exception\LocalizedException' with message 'Invalid Document failed to load external entity "urn:magento:framework:Data/etc/argument/types.xsd" Line: 0 Element '{http://www.w3.org/2001/XMLSchema}redefine': Failed to load the document 'urn:magento:framework:Data/etc/argument/types.xsd' for redefinition. Line: 12 ' in /home/jimmy/www/magento2/porto/lib/internal/Magento/

[2016-05-23 15:37] yssource opened #4646 "developer mode throws an exception, but production mode is good"
`exception 'Magento\Framework\Exception\LocalizedException' with message 'Invalid Document failed to load external entity "urn:magento:framework:Data/etc/argument/types.xsd" Line: 0 Element '{http://www.w3.org/2001/XMLSchema}redefine': Failed to load the document 'urn:magento:framework:Data/etc/argument/types.xsd' for redefinition. Line: 12 ' in /home/jimmy/www/magento2/porto/lib/internal/Magento/

[2016-05-23 15:40] yssource opened #4647 "developer mode throws an exception, but production mode is good"
`exception 'Magento\Framework\Exception\LocalizedException' with message 'Invalid Document failed to load external entity "urn:magento:framework:Data/etc/argument/types.xsd" Line: 0 Element '{http://www.w3.org/2001/XMLSchema}redefine': Failed to load the document 'urn:magento:framework:Data/etc/argument/types.xsd' for redefinition. Line: 12 ' in /home/jimmy/www/magento2/porto/lib/internal/Magento/

[2016-05-23 15:50] MomotenkoNatalia commented on #4586
@ADDISON74 Thanks for reporting this issue! Internal ticket MAGETWO-53318

[2016-05-23 15:53] ruby10 commented on #3526
@MomotenkoNatalia , @kandy , I am also facing same issue while adding images to already existing item on Magento 2, is there any update on it? Also is there any API to upload images on Magento2 so I can link it later to existing items?

[2016-05-23 15:56] itaymesh commented on #4617
@maksek , I can confirm the issue was solved.
Thanks a lot.

[2016-05-23 16:01] ruby10 commented on #3526
@MomotenkoNatalia , @kandy , I am also blocked by this issue while creating media (image) entries for already existing items, is there any update on it? Also is there any API existing which let us upload images on Magento?

[2016-05-23 16:02] ruby10 commented on #3526
@MomotenkoNatalia , @kandy , I am also blocked by this issue while creating media (image) entries for already existing items, is there any update on it? Also is there any API existing which let us upload images on Magento?

[2016-05-23 16:03] mazhalai commented on #3086
@MichielTG do you have access to your var folder. Please try clearing it, and then access setup-wizard.

[2016-05-23 16:20] ghost commented on #3086
@mazhalai Do you mean all files and folders?
We have just tried cleaning:
Clearing var/cache
Clearing var/session
Clearing var/page_cache
Clearing var/tmp

[2016-05-23 16:30] vzaporozhets commented on #3507
@adragus-inviqa No, I'm not kidding :-) I checked logs of our environment with PHP7/nginx where 2.0.X has been tested and didn't find such messages. If Magento works and all layouts are fine - this is fail error reporting which need to be fixed. We just need to reproduce it - I'll keep you informed.

[2016-05-23 16:38] ghost commented on #3086
Thanks for the tip. I just cleaned the whole directory and this seems to fix the 404-error however. Some files are currently missing according to the browser:

[code]

Could the setup directory be corrupted?

[2016-05-23 16:42] mazhalai commented on #3086
@MichielTG please check file permissions.

[2016-05-23 16:58] pboisvert commented on #4647
closing as this looks like a duplicate of https://github.com/magento/magento2/issues/4645

[2016-05-23 16:58] #4647 closed, assigned to nobody

[2016-05-23 16:59] pboisvert commented on #4646
closing as this looks like a duplicate of https://github.com/magento/magento2/issues/4645

[2016-05-23 16:59] #4646 closed, assigned to nobody

[2016-05-23 17:17] springerin commented on #3507
same errors with:
Server version: Apache/2.4.18 (Ubuntu) Server built:   2016-04-15T18:00:57
PHP 7.0.6-13+donate.sury.org~xenial+1 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies
    with Xdebug v2.4.0, Copyright (c) 2002-2016, by Derick Rethans
Descript

[2016-05-23 17:19] thomvanderboon commented on #4290
@SidneyBilliet This issue has already been resolved in "development branch" about a month ago. I have just rechecked and it works OK on "development branch"
@antboiko Pls close issue as it has already been resolved in "development branch".
@piotrekkaminski See e-mail :)

[2016-05-23 17:20] #4290 closed, assigned to antboiko

[2016-05-23 17:34] davidalger commented on #4643
@dzotic9 What is the MySql version on each of the two servers? Are they the same? Did you have any errors/warnings/notices when you imported the database onto the new server?

Nothing you've said here so far indicates there is a bug with Magento, but something getting messed up in the database migration. I've personally migrated databases from one environment multiple times (for sites which are no

[2016-05-23 17:36] kassner opened #4648 "Magento\Email\Model\Template\Filter can't be intercepted"
Hi,

Magento version: 2.0.6

I created a simple plugin: (class exists, but its contents does not interfere here).

[code]

But this results in a weird error message:

[code]

Obviously, the code generated is wrong:

[code]

Where I can dig into to fix this?

Thanks!

[2016-05-23 17:36] yssource commented on #4647
@pboisvert I'm sorry for this duplicate of #4645
The github responded to me 404, page not found while I was opening this thread. It seems to me that it failed to open this issue and it was not listed on the issues. Actually, I didn't see it until now.
Thanks for closing this duplicate one.

[2016-05-23 17:40] kassner opened #4649 "Use multiple template modifiers"
Hi,

I have an email template with this:

[code]

So, if the user adds an HTML tag, it is not escaped in the email template. The thing is that is not possible to combine `escape` and `nl2br` at the same time. Is there a way to achieve this without a plugin?

Thanks!

[2016-05-23 17:42] commcad opened #4650 "Quick question: .json suggestions of (new-to-me) packages"
I am getting an exhausting wishlist of things to get today! Can someone help me out to chose; what would make Magento 2.0.1 super happy to run reliably on a vm instance (Ubuntu preferably)? Just so we can prepare here. We have everything else (I mean mysql and php lolll)

Json is suggesting me to get below. Me think he is out of his mind lol

Do I (really really) need to install all of that to mee

[2016-05-23 18:46] krlecarp commented on #4625
Thanks @latenzio I set the Sample Data to 100.1.\* and it passed the Readiness Check for 2.1.0rc1.

However, while the upgrade appears to have completed, I am now getting an exception `report.CRITICAL: exception 'InvalidArgumentException' with message 'Plugin class Magento\Framework\App\Response\XFrameOptPlugin doesn't exist' in /var/www/html/mage22/vendor/magento/framework/Interception/PluginList

[2016-05-23 18:48] leoquijano opened #4651 "Cant set HtmlTag to "nav" (backport to 2.0 branch)"
Hi,

I see that in #2549 an issue with using nav as an HtmlTag was fixed in the develop branch. However, when upgrading to v2.0.6, I see it still has that issue.

Is there any chance that the fix is backported to the 2.0 stable branch? It's not a backward compatibility breaking change, and it would help some theme developers.

Thanks

[2016-05-23 19:00] krlecarp commented on #4625
Another update.  I ran `magento setup:upgrade` from the CLI and it went through the motions and now successfully updated.  Unsure if it's a bug from the web system upgrade, or not, but this is what I did.

[2016-05-23 19:00] #4625 closed, assigned to nobody

[2016-05-23 19:41] mazhalai commented on #4650
Those are just `suggests` from the various packages that we depend on. TO read more about suggests : https://getcomposer.org/doc/04-schema.md#suggest

Closing since this is not really a bug.

[2016-05-23 19:41] #4650 closed, assigned to nobody

[2016-05-23 20:42] yssource commented on #4645
I'm using the nginx.conf.example and magento v2.0.5.
This only happens when setting up with "set $MAGE_MODE developer;"
And then everything woks well, if change to be "set $MAGE_MODE production;"

[2016-05-23 21:51] dsikkema-magento commented on #4556
So I still need to try to reproduce this using the same multisite technique you're using, but one observation: you're only setting PARAM_RUN_TYPE to 'website' if your secondary website is used - otherwise the var isn't set so default run type value will be 'store.' I'm not positive right now whether we support that (having different run types per website), I'll dig into that - but in the meantime,

[2016-05-23 22:36] hyturkyilmaz opened #4652 "Fatal error on newsletter"
## Steps to reproduce
1. Use magento 2.0.6.
2. [Example] Follow panel>marketing>newsletter>add new template.
## Expected result
1. [Example] Adding new newsletter template.
## Actual result
1. [Example] Error message appears: "Fatal error: Call to a member function getId() on string in /home/bumbabic/public_html/vendor/magento/module-google-optimizer/Observer/Block/Category/AddGoogleExperimentFiel

[2016-05-23 23:11] dsikkema-magento commented on #4556
But even using that method I don't reproduce. The puzzler is that the two websites should be differentiated in the cache by their store view codes, which should be different. Could you please add this line:
`\Magento\Framework\App\ObjectManager::getInstance()->get('\Psr\Log\LoggerInterface')->emergency('vary-string:' . implode(',', $this->data));`

To the beginning of `\Magento\Framework\App\Http\

[2016-05-24 00:12] dv8nate opened #4653 "Cron Job not running - Cpanel"
## Steps to reproduce

I have searched Stack with no luck, I have come from Magento 1 where you could index from the admin to Magento 2.0.6 where you have to run cron jobs.

I have a fresh install on a CentOS 6.6 with Cpanel. Running php 7.

I have put up about 150 products so far, however, I have reached a point they are no longer appearing on my site. I believe this is due to my cron jobs aren't

[2016-05-24 01:01] piotrekkaminski commented on #4242
@antonkril can you take a look?

[2016-05-24 01:20] piotrekkaminski commented on #4237
@melnikovi it's rather an inconsistency issue. All dates should be saved in one format and displayed accordingly to user preference/needs. @ajpevers do you have any specific issues resulting out this - as in promotions getting live to early etc?

[2016-05-24 02:31] manhao-chen commented on #3605
could we get some updates regarding this bug? this should of been resolved for all people who wanting to use soap integration with other applications/services, but we can't cause of the serialization...

[2016-05-24 02:59] vivekadvsol commented on #3605
Now I gone back to 1.9 and the main reason being not able to use the soap.

[2016-05-24 03:12] dv8nate opened #4654 "Mannually run Cron, Error"
I've executed your crons manually,

This is the error :-
/usr/local/cpanel/bin/jailshell: -c: line 0: unexpected EOF while looking for matching `''
/usr/local/cpanel/bin/jailshell: -c: line 1: syntax error: unexpected end of file

[2016-05-24 03:25] leoquijano commented on #4622
I can confirm the issue:

Setting the value to "false" in `view.xml` will make it true:
`(bool) "false" = true`

Setting the value to "0" in `view.xml` will make it empty:
`empty("0") = true`

Thanks @brendanmckeown for the workaround, it does work.

[2016-05-24 03:32] piotrekkaminski commented on #4236
internal issue MAGETWO-53358

[2016-05-24 03:32] piotrekkaminski commented on #4234
Fix was merged to develop branch.

[2016-05-24 03:32] #4234 closed, assigned to nobody

[2016-05-24 03:33] piotrekkaminski commented on #4233
@antonkril  can you take a look?

[2016-05-24 03:34] refaelgold commented on #4651
waiting for solution also

[2016-05-24 03:53] robinhuy commented on #3755
I have same errors, I install magento 2.1.0-rc1 on Ubuntu 16 with Nginx and PHP7. When I open browser console in categories manage page, it display error:

[2016-05-24 04:07] dv8nate commented on #2855
Hi team,

I'm getting the same issues, Im on a hosted server running Cpanel and CentOS 6.6, PHP7 I have tried the below. In the Error log it shows 2016-05-24 13:23:02 Ran jobs by schedule, However, no indexing occurs.

/usr/local/bin/php /home/downupne/public_html/bin/magento cron:run | awk '{ print strftime("\%Y-\%m-\%d \%H:\%M:\%S"), $0; fflush(); }' 2>&1 >> ~/magento_cron.log

/usr/local/bin/ph

[2016-05-24 04:12] dv8nate opened #4655 "Web Wizard update - Failed"
Utilizing web wizard update, fails on Component Dependancy

We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

Problem 1
- magento/module-wishlist-sample-data 100.0.2 requires magento/module-

[2016-05-24 04:18] krlecarp commented on #4655
Was just there myself @dv8nate .  See  #4625 .  One thing I left out at the end, make sure you reset permissions and clean the caches.

[2016-05-24 04:44] dv8nate commented on #4655
Thaks Mate,

I know how to clear the caches, How can I reset the permissions without SSH?

[2016-05-24 04:50] piotrekkaminski commented on #4232
We are nearly done fixing this issue and should be merged soon.

[2016-05-24 04:51] krlecarp commented on #4655
That's one for the bosses.  I'm sure you are already aware of their [permission document](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html), but it doesn't cover non-CLI (SSH) environments.  There has been a fair amount of discussion on non-cli, but I'm not sure where it stands to date.

Honestly, it may be best to uninstall sample data, or reinstall using the non-s

[2016-05-24 04:54] piotrekkaminski commented on #4231
@choukalos performance issue MAGETWO-53360

[2016-05-24 04:55] piotrekkaminski commented on #4230
@alankent do we have any solution/response to this (cc @antonkril )

[2016-05-24 05:03] piotrekkaminski commented on #4226
Internal issue MAGETWO-53361

[2016-05-24 05:05] piotrekkaminski commented on #4225
@yagupatel this is a question better suited for http://magento.stackexchange.com/ or community.magento.com. Github is only used for error reports.

[2016-05-24 05:05] #4225 closed, assigned to antboiko

[2016-05-24 05:07] piotrekkaminski commented on #4223
@AskBear this question is better suited for http://magento.stackexchange.com/. GitHub is only used for issue reports.

[2016-05-24 05:07] #4223 closed, assigned to ishakhsuvarov

[2016-05-24 05:08] #4221 closed, assigned to nobody

[2016-05-24 05:17] piotrekkaminski commented on #4220
Anyone else experiencing this issue?

[2016-05-24 05:18] piotrekkaminski commented on #4191
@bkristl we need your response to the question above to proceed with the fix.

[2016-05-24 05:19] piotrekkaminski commented on #4188
Such questions are best suited for http://magento.stackexchange.com/ or community forums. GitHub is used for issue reports only.

[2016-05-24 05:19] #4188 closed, assigned to nobody

[2016-05-24 05:20] piotrekkaminski commented on #4187
Closing due to lack of updates. @wclansar if you still experience this issue please create a new report.

[2016-05-24 05:20] #4187 closed, assigned to ishakhsuvarov

[2016-05-24 05:21] piotrekkaminski commented on #4185
@enasibrahim do you still have this problem on latest version? I was not able to reproduce it. Are there any errors in the logs?

[2016-05-24 05:23] piotrekkaminski commented on #4184
Internal ID MAGETWO-47017

[2016-05-24 05:32] sivajik34 commented on #4638
I seen but still layout design disturbed for product edit,theme edit etc.

[2016-05-24 05:36] dv8nate commented on #4655
I have just had my hosting provider reset permission via SSH, I have cleared the caches, with no luck.

Looks like ill have to reinstall without sample data, which then leads to my issues logged on [#4654](https://github.com/magento/magento2/issues/4654) and [#4653](https://github.com/magento/magento2/issues/4653)

If you have any advice it would be great, unfortunately, I will need to look at ano

[2016-05-24 05:46] ishakhsuvarov commented on #4640
@bgkavinga Thank you for reporting. Looks like this issue is already fixed in the `develop` branch. Could you please verify?

[2016-05-24 06:15] qwerty7869 commented on #4591
If anyone has the fix for this issue than please help it.

[2016-05-24 06:17] ishakhsuvarov commented on #4637
@LiamFielding Thank you for reporting the issue. `cart().summary_count` is not used anymore in the `develop` branch, could you please update and recheck?

[2016-05-24 06:21] ishakhsuvarov commented on #4591
@qwerty7869 Thank you for reporting. This issue is already fixed in the `develop` branch, could you please check and report if it works fine for you?

[2016-05-24 06:53] tdgroot commented on #4117
Having the same problem as well..

@sdzhepa the commit you are referring to hasn't even been released yet (only `2.1.0-rc1`).

Tested with caching enabled/disabled, static-content redeployment as well.

[2016-05-24 07:01] quienti commented on #4098
Apparently, work fine on Magento 2.1.0 RC1

[2016-05-24 07:01] #4098 closed, assigned to slavvka

[2016-05-24 07:06] marvincaspar commented on #3765
Same issue for customer address attributes

[2016-05-24 07:14] tdgroot commented on #4117
Guess this issue can be closed.
See more at https://github.com/magento/magento2/issues/3043

[2016-05-24 07:16] ishakhsuvarov commented on #4414
@jim5359 Thank you for reporting the issue. We have created an internal ticket `MAGETWO-53362` to investigate and fix.

[2016-05-24 07:22] magenx commented on #4629
so im not able to install it with composer??? for gods sake how many versions out there??? github, magento website, magento repo...

[2016-05-24 07:31] andidhouse commented on #4422
Just installed and tested varnish version 4.x. - very rocking fast! But also here: the cache gets invalidated from time to time.. also no orders or backend action is taken. This happens regularly but i can´t figure out what it is that invalidates the varnish as well.

Any suggestions here? (Maybe this is an own topic)

[2016-05-24 07:49] lazarenkoalexey commented on #4643
@**stamster** Thanks for sharing your script. It is very useful to learn order of magento cli commands

@**davidalger** Yes, I had imported from MySQL 5.7 into MySQL 5.6 but wasn't a root cause.
I use two db instances with replication. That's why an error occur with indexing. Now I solved this problem.
Thanks everybody for help :)

[2016-05-24 07:50] #4643 closed, assigned to nobody

[2016-05-24 07:50] vil11 commented on #4623
Hi @Ctucker9233 !

Have you configured multiple Websites with [Apache](http://devdocs.magento.com/guides/v2.0/config-guide/multi-site/ms_apache.html) or [Nginx](http://devdocs.magento.com/guides/v2.0/config-guide/multi-site/ms_nginx.html)?

Have you flushed Magento cache after switching the Theme?

##

:sunny: D Vilchynskyi, M2 QA

[2016-05-24 07:54] sivajik34 commented on #4638
i think this is new layout design.in first shot not able to digest.

[2016-05-24 07:54] #4638 closed, assigned to nobody

[2016-05-24 07:58] ishakhsuvarov commented on #4117
@Desmaster Thank you for the update. Closing.

[2016-05-24 07:58] #4117 closed, assigned to ishakhsuvarov

[2016-05-24 08:13] andidhouse opened #4656 "Bug with success message box"
There is a bug when you ad a product to cart or subscribe to "alert subscription" on a product. The bug appears when you do this actions and then after hitting the button (for example "ad to cart") and then do not wait a while to completely render the message box but change quickly to another site. Then the "success message" is shown on each page. It looks like if the action is not completed at th

[2016-05-24 08:14] nobuttsalex commented on #4556
First website:
[2016-05-24 08:13:03] main.EMERGENCY: vary-string: [] []
[2016-05-24 08:13:03] main.EMERGENCY: vary-string:0,,default,GBP [] []

Second website:
[2016-05-24 08:13:06] main.EMERGENCY: vary-string: [] []
[2016-05-24 08:13:06] main.EMERGENCY: vary-string:0,,default,GBP [] []

[2016-05-24 08:18] ishakhsuvarov commented on #4589
@NanthiniMuralidaran Thank you for reporting. Please let us know how did you configure the **Checkout Options** section (under **Stores > Configuration > Sales > Checkout**) and Magento version you are using.
Thanks.

[2016-05-24 08:22] redelschaap commented on #3872
Any update on this?

[2016-05-24 08:24] NanthiniMuralidaran commented on #4589
Thank you for your response.Iam using the Magento 2.0.5 version and here
am attaching the pictures of checkout configuration in admin panel.
Thanks in advance.

On Tue, May 24, 2016 at 1:49 PM, Ievgen Shakhsuvarov <
notifications@github.com> wrote:

##

This message originates from LeanSwift, Inc and may contain confidential
information intended solely for the use of the addressee. If you are not

[2016-05-24 08:28] NanthiniMuralidaran commented on #4589
![checkout_one](https://cloud.githubusercontent.com/assets/17905842/15497287/999760b2-21b7-11e6-909d-7038cc66fd0e.PNG)
![checkout_two](https://cloud.githubusercontent.com/assets/17905842/15497288/999f0d80-21b7-11e6-9d8e-7fbc097e47d2.PNG)

[2016-05-24 08:48] redelschaap opened #4657 "Errors while editing CMS in grid with Google Analytics Experiments enabled"
With Google Analytics Experiments enabled, CMS page settings can't be edited from the grid directly.

When editing a page which is (already) actived for all store views, the error `[Page ID: ##] Wrong request parameters` is given. See the attached image. When editing a page which is activated for a single store view, I got a JSON error with a message saying something like `unexpected token ">"`.

[2016-05-24 08:49] ferluk commented on #4449
it happend too on frontend page
fresh installation 2.1.0-rc1 with no sample data

[2016-05-24 09:01] thlassche commented on #4070
I can confirm that it works for 7.0.6 (both igbinary and standard serializer)

[2016-05-24 09:10] sivajik34 opened #4658 "product price index update by schedule not working as expected"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Change product price index mode to `update by schedule`
3. update any product price
## Expected result
1. Now status should be re-index required
## Actual result

1.status is still ready instead of re-index required

note: catalog_product_price_cl table contains entries of product (version_id,product_id)

[2016-05-24 09:15] ksz2013 opened #4659 "Install + Upgrade scripts"
Hi,

Issue can be reproduced on all versions of magento.

The problem that I noticed is the following:
If i have a module which contains InstallData and UpgradeData as well and the module gets enabled and I trigger the setup:upgrade command the UpgradeData scripts get ignored.
Basically the $context->getVersion() is empty and thus this the whole upgrade scripts are ignored.

This is working if the

[2016-05-24 09:19] LS-Supriya commented on #4220
Even I am facing this Issue.

**Steps to Reproduce:**
1. Add a product to cart
2.Click on Proceed to Checkout
3.Page will be redirected to Login page (as guest checkout is disabled - handled in code)
4. Now Again add a product to cart
5. Login to Magento
6. Click on Proceed to checkout (in our case page will be automatically redirected to Edit cart page when items are present in the cart during lo

[2016-05-24 09:20] #4659 closed, assigned to nobody

[2016-05-24 09:28] redelschaap opened #4660 "Multiple URLs causes duplicated content"
I noticed that categories, products, CMS pages and controllers load the same content with or without a trailing slash. Index controllers also load the same content with or without index folders in the URL.

This behaviour is not wanted from a SEO perspective. Multiple URLs causes duplicated pages. When search engines find two URLs for the same category, they will be treated as two URLs but marked

[2016-05-24 09:33] luciodiri opened #4661 "Unable to upgrade EE from 2.0.2"
## Steps to reproduce
1. Magento EE 2.0.2 is installed.
2. Go to Admin->System Wizard-> System Upgrade
3. Open version dropdown
## Expected result
1. Magento EE newer versions exist in dropdown (i.e. 2.0.6)
## Actual result
1. Only current version (2.0.2) exists in dropdown

[2016-05-24 09:55] 4DallasC commented on #4400
Hello @mkastaneda

I've got a similar problem in vendor\magento\module-catalog\view\adminhtml\layout\CATALOG_PRODUCT_COMPOSITE_CONFIGURE.xml

where someone forgot to add the name for the block:-
<quote>
&lt;block class="Magento\Catalog\Block\Adminhtml\Product\Composite\Fieldset\Options"  template="catalog/product/composite/fieldset/options.phtml"&gt;
.....
&lt;/block&gt;
</quote>
and I can't refer

[2016-05-24 10:00] joebusby commented on #4422
I too have problems with the page cache getting invalidated with or without Varnish.  It's better with Varnish, but I have to re-index and clear the cache and reboot to get it to work, and even then it only lasts for a while.   Any configuration change at all seems to make it start invalidating the cache on every order again.  I have been trying to figure out what specific steps make it work again

[2016-05-24 10:02] srinivasanithin commented on #4527
@katmoon :
can you please let us know your findings in this issue?

[2016-05-24 10:04] shiftedreality commented on #4657
Hi @redelschaap

Thank you for creating this issue.
We have created internal ticket MAGETWO-53388 to investigate it.

[2016-05-24 10:12] pboisvert commented on #4527
@mbrinton01 can you have the team take a look at this issue?

[2016-05-24 10:20] andidhouse commented on #4422
@joebusby i think it is normal that varnish purges on configuration changes (see magento documentation for this). BUT it is not normal that varnish invalidates without any configuration change completely. At our side varnish purges also from time to time also no orders or backend action is made which makes it not usable. we also set the malloc to 3g what should be more then enough space for the ca

[2016-05-24 10:47] hiephm opened #4662 "$customer->getOrigData() return null in customer_save_before event"
## Steps to reproduce
1. Create an observer to observe `customer_save_before` event
2. Save customer in backend, check the customer object in observer

[code]
## Expected result

`$customer->getOrigData()` should return data before save, so that we can compare with updated data to perform some logic.
## Actual result

`$customer->getOrigData()` return null because it never loaded.
Currently I have

[2016-05-24 10:59] joebusby commented on #4422
@andidhouse    Yes,  it should invalidate the page cache on configuration changes, but I guess I was expecting that clearing the cache would allow you to take orders again without the page cache invalidating each time again until re-index and reboot.

[2016-05-24 11:00] Taral-Patoliya opened #4663 "Impossible to override or extend the them's etc/view.xml file from a module"
Recently I needed to add the image sizes to re-size the product images to a certain size in a module, which i found impossible because the sizes are defined in the them/etc/view.xml.I could not find any other way to get the sizes from any other source. There should be a way to override or define a file containing all these parameters for the context of the module. so we do not have to depend on th

[2016-05-24 11:02] woakley opened #4664 "Cannot run web setup wizard"
## Steps to reproduce
1. Click "Web Setup wizard"
## Expected result
1. Open Web Setup Wizard!
## Actual result
1. redirects to /setup/index.php/session/unlogin

[2016-05-24 11:03] dexterityzx commented on #3679
@daim2k5  Do you mean the FOREIGN KEY constraints?

[2016-05-24 11:19] ghost commented on #3086
@mazhalai Thank you for your message. File permissions was indeed the issue. However we are now getting the '"Sorry, we can't take that action right now" error.
And we also tried the guidelines which didn't seem to fix the issue: http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/were-sorry.html#not-auth

We are looking forward to your message.

[2016-05-24 11:21] flipflap opened #4665 "Fail after changing value of attributes"
**Info: It happen only to attribute with time from to**
## Steps to reproduce
1. Change Value New or Spiecial Price from / to of a product
## Expected result
1. Save and change value
## Actual result
1. Product fail and can't be edited anymore

![error-attribute](https://cloud.githubusercontent.com/assets/6672673/15502144/7580c7fe-21b2-11e6-926a-77a342d2a3ff.gif)

[2016-05-24 12:22] creatuitydevelopers opened #4666 "Order export process generates CSV file containing 20 records only"
## Hello All,

We have encountered an error related to the order export process – CSV file always generates 20 records only, despite the fact that the actual number of exported records was higher.

The issue occurs on Magento EE 2.0.6.
## Steps to reproduce
1. Go to Magento Admin Panel.
2. Create more than 20 orders.
3. Go to Sales -> Orders grid.
4. Select all orders.
5. Click on Export CSV file.

[2016-05-24 12:45] Deepthi57 opened #4667 "Gift wrap options are not displayed in Magento2 front end"
Steps to reproduce
Magneto Enterprise Endition
Version: 2.0.3
Steps:
1. Go to Magento admin
2. Go to Stores-.Configuration->Sales->Sales
3. Set "yes" for all the options under Gift Options Section
4. Save the config
5. Go to stores->Other Settings->Gift Wraping
6. Add Gift Wrapping
7. Go to View and Edit cart from Magento front end
8. Look for Gift wrap options
Observation:
Option to ad gift wrap

[2016-05-24 12:52] Yogesh7989 commented on #4356
Hello ,

I have Find solution  in this way.

First check your affected rows with select query in url_rewrite

**SELECT
   request_path,
   SUBSTRING(request_path, 1, CHAR_LENGTH(request_path) - 1) AS col_trimmed
FROM url_rewrite
WHERE request_path LIKE '%/'**

**Update affected row
UPDATE `url_rewrite` SET `request_path` = SUBSTRING(request_path, 1, CHAR_LENGTH(request_path) - 1) WHERE request_pat

[2016-05-24 12:53] Yogesh7989 commented on #4255
this will work for me.

First check your affected rows with select query in url_rewrite

**SELECT
   request_path,
   SUBSTRING(request_path, 1, CHAR_LENGTH(request_path) - 1) AS col_trimmed
FROM url_rewrite
WHERE request_path LIKE '%/'**

**Update affected row
UPDATE `url_rewrite` SET `request_path` = SUBSTRING(request_path, 1, CHAR_LENGTH(request_path) - 1) WHERE request_path LIKE '%/'**

Thanks

[2016-05-24 13:06] miguelbalparda commented on #4070
Had this same issue with PHP 7.0.5 and Magento 2.0.6, removing var/di/relations.ser brought back the application.

[2016-05-24 13:11] miguelbalparda opened #4668 "Conflicting component dependencies 2.0.6 to 2.1.0-rc1"
## Steps to reproduce
1. Upgrade Magento to 2.0.6 using PHP 7.0.5. Remove var/di/relations.ser as per #4070
2. Try to upgrade to RC.
## Expected result
1. Magento 2 upgraded to RC
## Actual result
1.

We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requiremen

[2016-05-24 13:15] mazhalai commented on #4629
@magenx did you try `composer -vvv create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.0-rc1 .`?

All of the different version serve different purposes, you can read more about it here: http://devdocs.magento.com/guides/v2.0/install-gde/continue.html

also what RC really means: https://en.wikipedia.org/wiki/Software_release_life_cycle#Release_candidate

[2016-05-24 13:15] #4629 closed, assigned to mazhalai

[2016-05-24 13:17] mazhalai commented on #4220
@inborntech @LS-Supriya do you have any custom modules?

[2016-05-24 13:19] mazhalai commented on #4661
@luciodiri please do not post EE issues here. That's what partner portal is for.
Please check if your `var/composer_home/auth.json` has the correct keys.

[2016-05-24 13:20] mazhalai commented on #4664
@woakley what version of magento, OS and PHP? Also, can you please clear your var (everything except composer_home) and try again?

[2016-05-24 13:20] vzaporozhets commented on #4360
Fix for MAGETWO-51413 is already merged into develop. @devdesco-ceo - please, reply if you can reproduce this issue with latest M2 code.

[2016-05-24 13:20] flipflap opened #4670 "Warning always_populate_raw_post_data should be -1 but it is already -1"
## Steps to reproduce
1. Using Update Wizard in Magento 2.0.2
## Expected result
1. Doing the Update
## Actual result
1. Warning that always_populate_raw_post_data should be -1 but it is already on -1
   ![populate-1](https://cloud.githubusercontent.com/assets/6672673/15505254/ee90747c-21c2-11e6-8c53-e51086d6b18b.gif)
   ![populate-2](https://cloud.githubusercontent.com/assets/6672673/15505259/f27

[2016-05-24 13:20] mazhalai commented on #3086
@MichielTG please check keys within `var/composer_home/auth.json`

[2016-05-24 13:21] LS-Supriya commented on #4220
Yes. We are developing our own module

[2016-05-24 13:22] tanghia opened #4671 "Can't change customer address templates"
Steps to reproduce
1. Click on Stores->configuration -> customer (section) -> address template
2. Add new attribute to: text, text one line, Html, PDF
3. Reindex: php bin/magento indexer:reindex
4. Refresh cache

Expected result
1. Custom attribute shows up address book, select box (text one line), and customer information -> customer view
2. Custom attribute shows up billing address & shipping ad

[2016-05-24 13:22] mazhalai commented on #4668
@miguelbalparda we already have a ticket for this internally. This issue is present only in versions using sample data.

Internal ticket MAGETWO-52502

[2016-05-24 13:23] bgkavinga commented on #4640
Yes, it is fixed. Thank you.

[2016-05-24 13:23] #4640 closed, assigned to ishakhsuvarov

[2016-05-24 13:25] miguelbalparda commented on #4668
@mazhalai got it, I experienced the same issue with Magento 2.0.6 using PHP 5.6. Thank you!

[2016-05-24 13:26] vzaporozhets commented on #4347
Yes, this problem is fixed by adding scrollbar. Closing this ticket.

[2016-05-24 13:26] #4347 closed, assigned to nobody

[2016-05-24 13:31] mazhalai commented on #4670
@flipflap can you verify that no other ini files override this value?

[2016-05-24 13:36] mvistas opened #4672 "Required parameter depending from another is allways required"
Hello all,

I create a widget where some parameters depends from other. This parameters are required.
For example:
`<parameter name="block_content_type" xsi:type="select" source_model="namespace\modulename\Model\Config\Source\Types" visible="true" sort_order="2" >
            <label translate="true">Text Block type</label>
        </parameter>`

`<parameter name="text" xsi:type="block" required="t

[2016-05-24 13:42] flipflap commented on #4670
Yes, no other ini files override this value.

[2016-05-24 13:46] mazhalai commented on #4670
@flipflap we have created MAGETWO-53407 to investigate and fix, however, can you please give more details about your env? What is your OS and webserver?

[2016-05-24 13:50] mazhalai commented on #4635
@commcad we have created MAGETWO-53408 to investigate and fix.

[2016-05-24 13:56] vkorotun commented on #3507
Ok, guys. There is no bug here ) Really.
There are two reasons, why you all see such a logs.

Reason 1
People keep forgetting remove "before" and "after" attributes for blocks which have been moved to another parent, so those are no longer relevant. Internal ticket in progress MAGETWO-53410 and we will clean up legacy references soon.

Reason 2
As an example, let's take `<referenceContainer name="

[2016-05-24 13:57] zanilee commented on #4622
Hi, @brendanmckeown!

Thank you for reporting this issue. Internal ticket MAGETWO-53411

[2016-05-24 13:58] slavvka commented on #4307
Hi @philippsander, the fixe has been delivered to mainline. See commits 541ec80, 55a6e51, b4d3739, eec31f6, af2a832, d97ebe5, 3120b1e and 66e6ad6. Thank you for your contribution to Magento 2!

[2016-05-24 13:58] #4307 closed, assigned to slavvka

[2016-05-24 14:07] flipflap commented on #4665
It works now after I changed time settings.

[2016-05-24 14:17] flipflap commented on #4570
Hurra, the problem is solved after changing the time zone setting :-)

[2016-05-24 14:19] vkosenok commented on #2931
I have the same bug. Previous solution works fine for me. But probably we can fix it in bit more easier way.
Replace:
`$select->where('(' . $orWhereCondition . ') AND ' . $andWhereCondition);`
with:
`$select->where($orWhereCondition . ' OR (' . $andWhereCondition . ')');`

[2016-05-24 14:21] elenleonova commented on #3449
The issue was fixed as a part of 2.0.6

[2016-05-24 14:21] #3449 closed, assigned to nobody

[2016-05-24 14:23] elenleonova commented on #2412
All - we have addressed this issue as a part of 2.0.6. If you have some comments, please feel free to reopen this issue or open a new one.

[2016-05-24 14:23] #2412 closed, assigned to nobody

[2016-05-24 14:26] ishakhsuvarov commented on #4059
@jim5359 Closing this issue as the fix had been delivered to the `develop` branch with the commit [`cca6a48`](https://github.com/magento/magento2/commit/cca6a48).
Please feel free to reopen if the issue persists.

[2016-05-24 14:31] flipflap commented on #4670
Servername  srv19
cPanel-Version  56.0 (build 18)
Design  paper_lantern
Apache-Version  2.4.18
PHP-Version 5.5.33
MySQL-Version   5.6.30
Architektur x86_64
Betriebssystem  linux
Pfad zu Sendmail    /usr/sbin/sendmail
Pfad zu Perl    /usr/bin/perl
Perl-Version    5.10.1
Kernel-Version  2.6.32-531.23.3.lve1.3.6.el6.x86_64

[2016-05-24 14:34] fooman opened #4673 "2.1.0-rc1 does not include repo.magento.com"
## Steps to reproduce
1. Install Magento from `2.1.0-rc1` tag
## Expected result
1. `composer.json` includes

[code]
## Actual result
1. `composer.json` without repositories defined

[2016-05-24 14:46] shiftedreality commented on #2529
Hi @mttjohnson

We've created internal ticket MAGETWO-53419 for this issue.
Thank you for your attention on it.

[2016-05-24 14:48] dsikkema-magento commented on #4556
It appears as though the second website is using the same store view as the first. Can you double check that you have a separate store view and separate store for the second website?

For instance, my log output for 2nd website is:
`[2016-05-24 14:43:50] main.EMERGENCY: vary-string:test_store_view,USD,0, [] []`
But if I used the same store view for both sites, I'd see what you see: "default" in bo

[2016-05-24 14:48] KrystynaKabannyk commented on #2984
Hello @craigcarnell, this issue has been fixed in the 2.0.7 patch release and I'm closing it. Thanks for reporting the issue! If you have additional questions or proposals you are welcome to create another one.

[2016-05-24 14:48] #2984 closed, assigned to nobody

[2016-05-24 14:49] KrystynaKabannyk commented on #2878
Hello @zhipeng001, this issue has been fixed in the 2.0.7 patch release and I'm closing it. Thanks for reporting the issue! If you have additional questions or proposals you are welcome to create another one.

[2016-05-24 14:49] #2878 closed, assigned to alena-marchenko

[2016-05-24 14:51] KrystynaKabannyk commented on #4076
Hello @thomvanderboon, this issue has been fixed in the 2.0.7 patch release. Thanks for reporting the issue! If you have additional questions or proposals you are welcome to create another one.

[2016-05-24 14:53] KrystynaKabannyk commented on #3305
Hello @caesarcxiv, this issue has been fixed in the 2.0.7 patch release. Thanks for reporting the issue! If you have additional questions or proposals you are welcome to create another one.

[2016-05-24 14:57] springerin commented on #3507
definitively usefull having the url in order to investigate what is the real issue
thanks

[2016-05-24 15:04] 7ochem opened #4675 "Package videlalvaro/php-amqplib is abandoned"
I have initiated a new composer project and added Magento2 (EE) as a dependency (version `~2.06`).

When running `$ composer install` I'm getting a warning:

With `$ composer depends videlalvaro/php-amqplib` I'm seeing which packages depend on this abandoned one:

Is this an issue? Shouldn't Magento2 use php-amqplib/php-amqplib instead as suggested?

_I suppose CE has the same issue, therefor repo

[2016-05-24 15:09] mazhalai commented on #4675
@7ochem Please do not post EE issues on github. Please use partner portal.

Also, this has already been fixed in 2.1.0-rc1.

Closing, since not a bug.

[2016-05-24 15:09] #4675 closed, assigned to nobody

[2016-05-24 15:15] nobuttsalex commented on #4556
Each has it's own website, store and store view. They also have different themes and different categories/products and with full page cache disabled everything works as it should. I'm now on 2.1.0-rc1. In earlier versions on the dev branch my setup worked perfectly with full page cache enabled.

[2016-05-24 15:18] antonkril commented on #4242
Probably the issue is with changed constructor signature, but anyway proper error message should be reported.

[2016-05-24 15:18] nobuttsalex commented on #4556
Something I'll point out which may help replicate the problem is new sessions are more likely to load the wrong homepage. If a session has seen the correct homepage it will continue to however many times you refresh but if you were to clear your cookies you would probably get the wrong one again.

[2016-05-24 15:30] piotrekkaminski commented on #4180
Is anyone else experiencing this? Is the load caused by waiting for the page to load or slow request from server?

[2016-05-24 15:34] piotrekkaminski commented on #4177
Internal issue MAGETWO-53429

[2016-05-24 15:34] dkvashninbay commented on #4242
@OlaviSau If I understand you correctly, you've created interface and implementation for webApi, and added/modified existing webapi.xml routes.
If so, cache should be flushed on any change to webapi.xml, as webApi routes are computed once and are stored in cache.

[2016-05-24 15:36] dsikkema-magento commented on #4556
Ok, I was able to reproduce the problem. We'll look into it.

[2016-05-24 15:38] miguelbalparda commented on #2412
![exfzwzpx8vyoq](https://cloud.githubusercontent.com/assets/3997682/15510080/5a0016f2-21ac-11e6-9390-d250abf1979d.gif)
Thank you!

[2016-05-24 15:39] piotrekkaminski commented on #4174
Internal issue MAGETWO-53430

[2016-05-24 15:41] piotrekkaminski commented on #4170
Anyone else having this issue? we are unable to replicate. Do you see any errors in the browser console or any failed AJAX requests?

[2016-05-24 15:46] ruby10 opened #4676 ""cc_type" is not coming with payment info in order data"
Hey there,

I am facing this issue while retrieving order data using api "/rest/V1/orders/{orderId}" ,field "cc_type" is missing in payment block . I have  used payment gateway "braintree" for this order.  Sample payment block which I am getting with order data is provided below.Please have a look and let me know if it's a bug or enhancement ,  also when solution will be out, as it acting as major

[2016-05-24 15:46] Vinai commented on #4180
Can't confirm (El Capitain with current FF).

[2016-05-24 15:53] choukalos commented on #4630
Tracking internally - MAGETWO-53431

[2016-05-24 15:58] krlecarp commented on #4170
Yes.  On 2.1.0-RC1, not sure what it was like on 2.0.6 as I upgraded right away.  Chrome console says the following, along with the screen capture.  Hopefully that is sorta helpful.

[code]

![image](https://cloud.githubusercontent.com/assets/1714009/15510750/a52fc2f4-218d-11e6-9498-69ac55260da8.png)

[2016-05-24 15:58] choukalos commented on #4616
Which version are you on?

[2016-05-24 16:03] piotrekkaminski commented on #4170
Internal issue MAGETWO-53432

[2016-05-24 16:08] piotrekkaminski commented on #4169
internal issue MAGETWO-53433

[2016-05-24 16:09] piotrekkaminski commented on #4168
This question is better suited for community.magento.com. Github is used for issue reports.

[2016-05-24 16:09] #4168 closed, assigned to nobody

[2016-05-24 16:09] piotrekkaminski commented on #4166
@mbrinton01 can you look into it?

[2016-05-24 16:11] Ctucker9233 commented on #4623
Configured with Apache and Magento cache completely flushed.

[2016-05-24 16:11] piotrekkaminski commented on #4165
Closing due to lack of updates.

[2016-05-24 16:11] #4165 closed, assigned to NadiyaS

[2016-05-24 16:14] piotrekkaminski commented on #4161
@mbrinton01 can you have someone look into it?
@minetteyou that question is probably more suited for http://magento.stackexchange.com/

[2016-05-24 16:18] piotrekkaminski commented on #4159
Based on the latest changes so far it won't be possible to access web wizard when located in pub unless you set up separate domain to access the top level. It should be fixed better in a future version.

[2016-05-24 16:18] tadhgbowe commented on #2564
Hi All.

I'm happy to see interest in this issue. antboiko from your comment:

In other words, user can generate one configuration, then replace it with already existing one and continue adding others manually.

I'm sorry this is unacceptable. On Step 2 of Create Configurations we should have the option to "it's okay I don't need to set up new simple variations, they already exist, I just want to

[2016-05-24 16:19] piotrekkaminski commented on #4159
Internal issue for proper fix MAGETWO-52799

[2016-05-24 16:24] piotrekkaminski commented on #4151
Any other feedback on this? Does the tier price replace the previous feature enough?

[2016-05-24 16:29] piotrekkaminski commented on #4146
We cannot reproduce on latest develop version. Are you able to check there as well? Is it reproducible in vanilla installation?

[2016-05-24 16:32] piotrekkaminski commented on #4145
Internal issue MAGETWO-53436

[2016-05-24 16:32] piotrekkaminski commented on #4144
@antonkril can you take a look?

[2016-05-24 16:33] piotrekkaminski commented on #4143
Internal issues MAGETWO-53437

[2016-05-24 16:35] piotrekkaminski commented on #4142
internal issue MAGETWO-53438

[2016-05-24 16:46] piotrekkaminski commented on #4139
Closing due to lack of response. If you have same issues please open a new issue.

[2016-05-24 16:48] piotrekkaminski commented on #4136
internal issue MAGETWO-53440

[2016-05-24 17:01] Kdtv1977 commented on #4617
Just a question. So if you credentials works you should be able to connect via https://repo.magento.com/login right? I always get the message "Invalid credentials"? Any ideas

[2016-05-24 17:11] redboxmarcins opened #4677 "Magento 2 hardcoded attribute sets in interface"
0
down vote
favorite

Is there any reason why Attribute sets are hardcoded in magento 2 in interfaces?

Example in Magento\Customer\Api\CustomerMetadataInterface has const ATTRIBUTE_SET_ID_CUSTOMER=1

Magento\Rma\Api\RmaAttributesManagementInterface has it too as ATTRIBUTE_SET_ID=9

Because of that - when you have non standard attribute set Ids (f.e. after data migration from M1) - you cannot save

[2016-05-24 17:19] fooman opened #4678 "Advanced Modules Configurations during installation produces JS error"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Run composer install
3. Start Web UI installer
4. Progress to Step 4
5. Click on "Advanced Modules Configurations"
## Expected result
1. Advanced Modules Configurations expands
## Actual result
1. JS error in console Firefox 41:

Error: $scope.store.allModules is undefined
$state.loadModules@http://local.example.com/m2-comp-test/se

[2016-05-24 17:40] fooman commented on #4678
The Next button also doesn't work - no error message - tried with 2.1.0-rc1

[2016-05-24 17:41] piotrekkaminski commented on #4135
@mjcutter @parekhreena does it happen on latest version? seems the related issue is closed. If yes, please create a new issue.

[2016-05-24 17:41] #4135 closed, assigned to ishakhsuvarov

[2016-05-24 17:42] piotrekkaminski commented on #4133
@antonkril can you look into it?

[2016-05-24 17:45] piotrekkaminski commented on #4132
@choukalos  please check this one

[2016-05-24 17:47] piotrekkaminski commented on #4131
Internal issue MAGETWO-53441

[2016-05-24 17:49] piotrekkaminski commented on #4128
Internal issue MAGETWO-53442

[2016-05-24 17:50] piotrekkaminski commented on #4127
Raised priority of this issue

[2016-05-24 17:54] piotrekkaminski commented on #4125
@mrtuvn can you clarify what is the error in .htaccess file?

[2016-05-24 17:56] piotrekkaminski commented on #4112
internal issue MAGETWO-53443

[2016-05-24 17:57] piotrekkaminski commented on #4111
Internal issue MAGETWO-53444

[2016-05-24 17:58] piotrekkaminski commented on #2810
Possibly related to internal issue MAGETWO-53444

[2016-05-24 18:01] piotrekkaminski commented on #4108
Internal issue MAGETWO-53445

[2016-05-24 18:40] ghost commented on #3086
@mazhalai I have double checked the auth.json, but those settings are filled in properly. I also tried regenerating the keys without any success.

[2016-05-24 19:28] jpreed2 commented on #4059
I just tested the latest develop branch and this is still not fixed.  It's fixed specifically for the built in methods, like UPS.  But for custom shipping methods (added via extension) it is still not triggering the update.

[2016-05-24 19:34] jpreed2 opened #4679 "Cart custom shipping methods not updating when address changed"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Enable custom shipping methods added through extension.
3. Disable all built in shipping methods (i.e. UPS).
4. Add an item to your cart from the store front end.
5. Go to checkout.
6. Shipping methods show "Sorry, no quotes are available for this order at this time"
7. Enter an address.
## Expected result
1. The shipping methods s

[2016-05-24 19:41] #4360 closed

[2016-05-24 19:47] nickmarx12345678 commented on #3470
+1, have encountered this attempting to use the Magento1 to Magento2 migration tool, causes a Fatal with output semi-finished

[2016-05-24 19:55] mazhalai commented on #4504
@venkatesansuffixtree closing due to non-responsiveness.

[2016-05-24 19:55] #4504 closed, assigned to mazhalai

[2016-05-24 19:56] mazhalai commented on #4445
@AngelsDustz did you have a chance to try it on 2.1.0-rc1?

[2016-05-24 19:57] mazhalai commented on #4546
@commcad  @robfico  @sakamotz the spinning wheel issue has been fixed in 2.1.0-rc1. Have you had a chance to try it out?

[2016-05-24 20:01] wq9 opened #4680 "Product Custom Option Value is cut off in /admin/sales/order/view/"
## Steps to reproduce
1. Create a product with Custom Option, `Input Type` = `Field`
2. Enter a string longer than 55 characters, for example `https://media.example.com/2c013ce0c4c207e8cf648d55f054bdd3.jpg`
3. Order the item.
4. View the order in the admin interface
## Expected result

In the Items Ordered section, the custom option value should display in full, or at least display in full when yo

[2016-05-24 20:28] mazhalai commented on #4678
@fooman, it takes a while to read the file system and load all modules. What OS are you on?

[2016-05-24 20:30] daim2k5 commented on #3679
@dexteritycc yes

[2016-05-24 20:32] daim2k5 commented on #4617
@Kdtv1977 no the credentials are for https://username:password@repo.magento.com/packages.json

[2016-05-24 20:50] PieterCappelle commented on #4656
We're having the same problem. Magento version 2.0.7.

[2016-05-24 21:03] mazhalai commented on #4677
@redboxmarcins thank you for reporting, we have an internal ticket to fix this issue: MAGETWO-53451
However, since this involves backward incompatible changes, the next window for this change is 2.4

[2016-05-24 21:17] fooman commented on #4678
It's on x86_64 GNU/Linux (3.16.7-24-desktop) - trying to continue hours later is still the same with no visual feedback.

[2016-05-24 21:46] mazhalai commented on #4678
Did you try cleaning browser cache and localstorage for that specific url?

[2016-05-24 21:53] mazhalai commented on #3951
@devhn @benchmarky Can you please give us detailed steps and env to reproduce this issue?
- Was this Web setup wizard upgrade or via CLI?
- What OS? What PHP version? What Webserver?

[2016-05-24 22:11] redboxmarcins commented on #4677
@mazhalai this issue is quite serious as data migration tool is generating 2 attribute sets or more per eav_entity_type - so in this case any custom attributes for customer entity cannot be saved.

Wouldnt be possible to replace hardcoded ID with id taken from eav_entity_type ?

[2016-05-24 22:12] astorm opened #4681 "Magento RC 1: Static Cache Files have an Unacceptable Performance Regression"
The performance of the initial hit/file-generation of static files (i.e. javascript, css, etc. files served from `/pub/static/...` or `/static/...`) has degraded significantly in Magento 2.1-RC1 release candidate.

**Note:** the `curl-format.txt` file used in the following examples in included at the end of this issue.

For example, in a Magento 2.0.4 system, if (with developer mode enabled) I rem

[2016-05-24 22:37] nickmarx12345678 commented on #3470
@stefandoorn did you happen to have a go-around for this?

[2016-05-24 23:27] leoquijano opened #4682 "Improve error reporting for failed order placement (checkout)"
Hi,

I've been debugging some checkout issues. I noticed that several of them were fixed in Magento 2.0.7, so I went in to test our payment process using that version.

As I tested my integration with Autorize.NET DPM gateway, my checkout page froze in the "loading" stage. The order was successfully received and Authorize.NET debug log showed the information. However, something was happening after

[2016-05-25 00:06] aoldoni opened #4683 "Magento 2.1 RC1 > no changelog"
Magento 2.1 doesn't contain a changelog describing the changes.
https://github.com/magento/magento2/blob/2.1.0-rc1/CHANGELOG.md

This is more of a documentation issue, but part of this repository. Please advise if this should be reported somewhere else?

I know we have these release notes: http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC1CE.html - but we expect the changelog

[2016-05-25 00:16] piotrekkaminski commented on #4095
@gplanchat do you still have this error? Have you tried applying the solutions from article above? if you still have this issue. please open a new ticket and reference this one.

[2016-05-25 00:16] #4095 closed, assigned to nobody

[2016-05-25 00:18] piotrekkaminski commented on #4084
@virani06 Could you provide more detailed steps how to reproduce it?

[2016-05-25 01:26] micheese opened #4684 "Magento 2.0.6 : Editing a chosen configurable product from cart should automatically select previously chosen attributes"
## Steps to reproduce
1. Create a configurable product (ex: two colours red and blue)
2. Chose blue product and add it to the cart
3. Edit item from cart (you are redirect to the product page)
## Expected result
1. Blue colour previously choose should be selected by default.
## Actual result
1. None of the attributes are actually selected.

[2016-05-25 02:57] pen65978 opened #4685 "accidentally upgrade to 2.1.0 can not downgrade"
How do you downgrade from magento 2.1.0 to 2.0.x?

[2016-05-25 03:40] pboisvert commented on #4683
Hi Alisson--fine to report this one here. Partners though should log issues in the partner portal so we have formal tracking. Agree with the feedback that change log should provide more guidance on the nature of changes.

[2016-05-25 03:53] leoquijano commented on #4682
Here's an additional suggestion. It turns out I hadn't configured the default relay URL for Authorize.NET, so this code was failing silently (`/vendor/magento/module-payment/view/frontend/web/transparent.js`):

[code]

Is there any way to catch error messages when doing that `submit()` call? In my case it was `"The Referrer or Relay Response URL is invalid."` (error reference can be seen [here](ht

[2016-05-25 04:41] webspeaks commented on #1784
Hi, any update on this? Has this feature been implemented?

[2016-05-25 04:41] webspeaks commented on #1783
Hi, any update on this? Has this feature been implemented?

[2016-05-25 05:48] aoldoni commented on #4683
Hi @pboisvert

Thanks for the response.
- This is just a general comment for the community version, not actually expecting a partner-like service level or anything on this.
- I guess I decided to create the issue since there was no Changelog on the 2.1 RC1 tag, and wanted to validate my expectation was correct.
- Happy with the previous level of detail on the previous Changelogs - it was simply th

[2016-05-25 05:51] pboisvert commented on #4684
@antboiko i think this may be a duplicate of previously reported issue. If so can you reference original issue and close this one.

[2016-05-25 05:59] pboisvert commented on #4681
@choukalos passing to you to take up with the performance team

[2016-05-25 06:38] flipflap commented on #4670
Where can I find MAGETWO-53407?

[2016-05-25 06:41] pboisvert commented on #4670
This is a reference an an internal Jira ticket for us to track the fix. These are not viewable externally.

[2016-05-25 06:44] flipflap commented on #4670
Ok I see, thanks

[2016-05-25 06:45] karanbhomiagit commented on #4676
Hi, I am facing a similar issue while making a GET call on "/rest/V1/orders/" api.
The field "cc_type" is missing from the response json.

[2016-05-25 06:46] srinivasanithin commented on #4676
Hi

We need this field cc_type to know which type of card was used in order information this gives us way to merchants to assign appropriate accounts for this transaction in ERP system integrated with Magento.

This field was available in Magento 1x and now i see this field value is not getting populating when using braintree.

can you please looking and let us know if feature is removed ( i  see

[2016-05-25 06:48] pboisvert commented on #4683
ok--no problem Alisson. Understand why it was posted as an issue.

[2016-05-25 06:49] flipflap opened #4686 "Magento 2.0.2 Upgrade: Sorry, we can't take that action right now."
## Steps to reproduce
1. Try to update Magento 2.0.2
2. Cronjobs works, no migration tool
3. Repositories already in composer.json file and no data migration tool
4. Logged in and key saved
## Expected result
1. Start update.
## Actual result
1. Sorry, we can't take that action right now.

[2016-05-25 07:02] stefandoorn commented on #3470
@nickmarx12345678 I was developing a custom module and needed this to run the unit tests standalone. I simply just figured out from the composer.lock of M2 which version was installed/required and required the same dependency in my custom module in the require-dev part to support the tests. Not optional, but it worked :)

[2016-05-25 07:13] MagePsycho commented on #473
Any updates on this? When we can expect the beta version of multi-node inventory in Magento2?
This would definitely help lots of merchants.

[2016-05-25 07:26] shiftedreality commented on #4651
Hi @leoquijano. Thank you for your submission.

This fix will be delivered with 2.1.0 release.
Currently we don't have plans to release it with 2.0.\* patch.
If you still have any questions - feel free to reopen this ticket ore create new one.
Closed.

[2016-05-25 07:26] #4651 closed, assigned to shiftedreality

[2016-05-25 07:28] antboiko commented on #2564
Hi @tadhgbowe ,

Thanks for your comment. As I mentioned above, we added the ticket to our backlog to revise the flow for configurable product.
As for now, please refer to my suggestion as a workaround with existing flow.

Regarding "...the select manually button disappears if there are no associations.", the fix is already in develop branch and will be also available in one of future patches.

Be

[2016-05-25 08:02] andidhouse opened #4687 "Web Setup Wizard not reachable with varnish caching active"
Magento 2.0.6
Varnish installed version 4.2

Configuration made according to magento guideline.

Problem:
When clicking on the Web Wizard from the backend the site gets redirected to:

http://www.domain.com:8080/setup/

And a blank white screen is shown.
When reloading the site we get redirected to http://www.domain.com:8080/setup/index.php/session/unlogin with this message:

Welcome to Magento Ad

[2016-05-25 08:03] AngelsDustz commented on #4445
@mazhalai Sorry I didn't after we saw it didn't work/gave problems on 2.0.5
we reverted back to 2.0.0 A.S.A.P.

[2016-05-25 08:11] luongngoctien commented on #4119
Hi Guys
  Any  update here, I upgrade to version 2.0.6 but still have this error

[2016-05-25 08:25] redboxmarcins commented on #4677
Easy fix is below, so I create a plugin to handle it

[code]

[2016-05-25 08:43] redboxmarcins commented on #4677
I found another occurrence of that in Customer Repository
Magento\Customer\Model\ResourceModel\CustomerRepository

[code]

and in Magento\Customer\Model\Customer

[code]

[2016-05-25 09:23] fooman commented on #4678
I was able to pass that step with a fresh browser session now. Will close this one for now but currently investigating why it got stuck on the last step.

[2016-05-25 09:23] #4678 closed, assigned to nobody

[2016-05-25 09:30] andidhouse opened #4688 "Also Varnish Cache invalidates most of the pages when saving one product"
Hi there,

first we tried the magento2 internal FPC and realized that on one event (a backend product save or an incoming order) clears the complete FPC cache. The feedback on this from magento side is that it is normal - ok for us as Magento recommends Varnish.

Now we set up varnish according to the magento varnish guide and filled up the cache completely by crawling the site - so fine so good.

[2016-05-25 09:41] woakley commented on #4664
Magento 2.05
CentOS
PHP 5.6

Clearing var did not help.

[2016-05-25 09:46] andidhouse commented on #4422
hi @joebusby @joanhe,

i created a new issue regarding varnish cache functions and in my opinion no documentation and bug: #4688

I hope to find answers here because i think it is also lack of documentation on varnish caching which caches are invalidated on which actions for default and how you can change this.

[2016-05-25 09:48] nntoan opened #4689 "Why customerRepository take too long to save a single customer with addresses?"
Hi,

I'm wondering why customer repository always cost me from 7 ~ 15s to save a single customer (with addresses).

Do you have any idea to optimise the method (save) or just simply had better idea?

Thanks.

[2016-05-25 09:52] lgt commented on #4114
can you please paste a link to the fix. I have this bug on 2.0.7

[2016-05-25 10:03] kanduvisla opened #4690 "2.0.6 : Symlinks are not created in developer mode"
I recently updated to Magento 2.0.6, and now my symlinks are no longer created when I run my site in developer mode.

When I delete the `pub/static`-folder (I run nginx, so I don't need the `.htaccess` file) and reload the page, only `requirejs-config.js` files are created, nothing else.

When I run `setup:static-content:deploy`, all files are copied, instead of symlinked.

Can anyone tell me what

[2016-05-25 10:16] kanduvisla commented on #4690
My bad!

It turns out my nginx configuration was overwritten by a provision script. Therefore, my `$MAGE_MODE` was not set (at all). Applying the default example from `nginx.conf.sample` solved my problem!

Another 3 hours well spent...

[2016-05-25 10:16] #4690 closed, assigned to nobody

[2016-05-25 10:22] asemenenko commented on #4682
Added to MAGETWO-53457

[2016-05-25 10:23] duongquyet opened #4691 "bug require js"
I have added code to file "requirejs-config.js":

var config = {
    map: {
        '*': {
            'owlcarousel/js': 'Loadjs/js/owl-carousel/owl.carousel',
            'owlcarousel/minjs': 'Loadjs/js/owl-carousel/owl.carousel.min'
        }
    }
};

code add to content:
require(["jquery", "owlcarousel/js"], function($){
    $("#owlslide").owlCarousel({
        ....
    });
});

It's can show

[2016-05-25 10:35] robinhuy commented on #4546
I have same errors, in Setup Wizard I cannot click to anything except Home button. I see log in browser:
- Component manager:
  `angular.js:7715 GET localhost/setup/index.php/component-grid 500 (Internal Server Error)`
- System upgrade:
  `angular.js:7715 GET localhost/setup/index.php/select-version 500 (Internal Server Error)`
- System config, when save config:
  `angular.js:7715 POST localhost/s

[2016-05-25 10:56] robinhuy commented on #4626
When I go Content (or Products), I get same errors (in Chrome console)
`Uncaught TypeError: Cannot read property 'provider' of undefined`
`require.js:166 Uncaught Error: Script error for: rjsResolver`

[2016-05-25 11:10] jsakars opened #4692 "Catalog New Products List widget shows out of stock products"
## Steps to reproduce
1. Install Magento 2.0.7
2. Set `Display Out of Stock Products` config parameter to `No`
3. Insert `Catalog New Products List` widget into a CMS page
4. Open CMS page
## Expected result
1. Only products that are in stock are shown
## Actual result
1. Also out of stock products are shown

P.S. Category view works fine and respects `Display Out of Stock Products` config value

[2016-05-25 11:21] mslabko commented on #4169
Hi @OwenRay ,

I cannot reproduce this issue on develop branch. Do you have default magento2 installation without extra modules?

[2016-05-25 11:26] sjauck opened #4693 "Extension Attributes and Integration Tests"
I used extensions Attributes to add an additionall attribute to coupons.
With den Command Line setup:di:compile command i can generate the new Interfaces.
If i run the phpunit Command on Command Line it fail because the Interface isn´t generated.
## Steps to reproduce
1. Install Magento EE 2.0.4
2. Add an extension Attribute with complex type to the Magento Sales Rule Coupon.
   3.1 Generate the d

[2016-05-25 11:34] OwenRay commented on #4169
I didn't notice at first, but the normal way of adding attributes doesn't allow any special characters.
In this case I was creating attributes programatically. That way I was able to create an attribute with the attribute-code containing a "."
So I think it's up to you whether or not to treat this as a bug.

[2016-05-25 11:43] mslabko commented on #4169
Thank you for clarifying!

[2016-05-25 11:59] cmuench commented on #4449
I have the same issue in Admin area on Product-List and Order-List.
-> EE 2.1.0-rc1

I can reproduce the issue in Google Chrome 49.
In a Firefox 41.0.2 i have no problems.

[2016-05-25 12:05] redboxmarcins commented on #4681
@astorm I cannot replicate it

My testing environment is
php7 with fpm
nginx
ssd drive samsung 850 Pro

[code]

Steps I took
1. Cloned fresh 2.1RC repository
2. Created database
3. Ran composer install
4. Installed using CLI
5. Prepared vhost for nginx (added ssl as well)

Then

Enabled developer mode

[code]

Cache is on by default after installation

[code]

Here are actual tests:

[code]

Can y

[2016-05-25 12:05] tanghia opened #4694 "Magento 2.1 - Can't update custom attribute value for customer (account edit form)"
Magento 2.0.2 -> 2.0.6 update value of custom attributes on account edit page successfully, but magento 2.1 can't update (no error message or javascript error).
### Steps to reproduce
1. Create account with custom attributes successfully
2. Login
3. Edit account information
### Expected result
1. Value of custom attributes changed
### Actual result
1. New values is not update.

Magento also hardco

[2016-05-25 12:07] redboxmarcins commented on #4681
@astorm actually after disabling cache,

[code]

see results

[code]

[2016-05-25 12:24] tkacheva commented on #4681
Internal issue MAGETWO-53458

[2016-05-25 12:39] bh-ref opened #4695 "Magento 2.1 RC1: product catalog in backend cannot be displayed"
## Steps to reproduce
1. Install Magento Magento 2.1 RC1.
2. In backend, go to Product -> Catalog.
## Expected result
1. List of products appears.
## Actual result
1. The following error appears:
   `Warning: DOMDocumentFragment::appendXML(): Entity: line 1: parser error : CData section too big found in /magento/lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Template.php on line 60`
2. I

[2016-05-25 12:42] shiftedreality commented on #2819
Fix was merged.
Closed.

[2016-05-25 12:42] #2819 closed, assigned to nobody

[2016-05-25 12:46] ishakhsuvarov commented on #4416
@Katerina1993 @andidhouse  @redboxmarcins Thank you for reporting this issue. Looks like we already have a similar item in our backlog with the internal id `MAGETWO-52593`. We will update this ticket as soon as issue is resolved.

[2016-05-25 12:47] ishakhsuvarov commented on #3531
@Katerina1993 Closing this ticket for now. Please reopen if you have any additional questions.

[2016-05-25 12:47] #3531 closed, assigned to ishakhsuvarov

[2016-05-25 12:48] antboiko commented on #4684
Hi @michiz05000 , thanks for reporting this issue. We've created internal ticket MAGETWO-53459.

Best,
Anton.

[2016-05-25 12:48] ishakhsuvarov commented on #4040
@yetket Closing this ticket for now, please reopen if the issue persists.

[2016-05-25 12:48] #4040 closed, assigned to ishakhsuvarov

[2016-05-25 12:49] antboiko commented on #4684
https://github.com/magento/magento2/issues/4440

[2016-05-25 13:03] bh-ref commented on #4695
Sorry, seems to be a problem with an extension (I just disabled all non-Magento modules and the problem is gone).

[2016-05-25 13:03] #4695 closed, assigned to nobody

[2016-05-25 13:11] dartanandan commented on #4327
Hi @ joni-jones,

Sorry i got the same issue in php7 also.

[2016-05-25 13:13] dartanandan commented on #4327
Hi @joni-jones,

Sorry i got same issue also in php7. I followed [32ca5c9](https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6) this but not fix.

[2016-05-25 13:23] maghamed commented on #2538
@EmilyPepperman and @mc388 could you please provide exact version of MySQL on which you reproduce the bug? Because on our infrastructure Search works as expected. Seems that was a MySQL bug which has been fixed in one of the MySQL releases.

[2016-05-25 13:30] nigelcopley commented on #4546
Had this issue on 2.0.6 and just upgraded to 2.07 and the same issue.
- Keep getting 500 internal server error on /setup/index.php/componentGrid/sync
- Also get an angular warning on /setup/index.php/component-grid
-  -  The specified value "{{currentPage}}" is not a valid number. The value must match to the following regular expression: -?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?

When checking error_log

[2016-05-25 13:31] BenGlassAtlas opened #4696 "Admin product search - Pressing enter does not submit"
## Steps to reproduce
1. Login to the admin
2. Go to `products > catalog`
3. Click on filters
4. Enter some text in the name field
5. Press enter on your keyboard
## Expected result
1. Pressing enter should submit the form (good UX)
## Actual result
1. Nothing happens
## Notes
- I am currently on version 2.0.4 so apologies if this has recently been fixed, I'm unable to update the Magento version a

[2016-05-25 13:32] YevSent commented on #4327
The fix for this issue already included to 2.0.7 version

[2016-05-25 13:46] mazhalai commented on #4685
We do not support downgrade. Option would be to create backup, uninstall 2.1 and re install 2.0.x.

[2016-05-25 13:48] mazhalai commented on #4686
@flipflap where are your keys saved? Make sure they are available in `var/composer_home/auth.json`

[2016-05-25 13:49] mazhalai commented on #4687
@andidhouse can you please clean your `var/session` folder and try again?

[2016-05-25 13:50] #4685 closed, assigned to nobody

[2016-05-25 13:51] TommyKolkman commented on #4506
I can second VegasJames's problem on 2.0.7. Also, my theme inherits correctly.

[2016-05-25 14:06] mazhalai commented on #4664
@woakley there have been some fixes in 2.1.0-rc1 version. Can you check if it is working fine using that?

[2016-05-25 14:11] mazhalai commented on #4546
@robinhuy what errors in Readiness check.
@caleoroco these issues have been fixed in 2..1.0-RC1

[2016-05-25 14:11] flipflap commented on #4686
That auth.json file was missing, now I added it but is still doesn't work.

[code]

[2016-05-25 14:14] leoquijano commented on #4651
Hi @shiftedreality , yes, I have a question: what would it take to include it with 2.0.\* patch? It's a one line change.

[2016-05-25 14:18] slackerzz opened #4697 "Magento upgrades"
Every update overwrites:
- `packages.json`
- `dev/tools/grunt/configs/themes.js`

Could be possible to rename them to something like `packages.json.sample` and `themes.js.sample`?

[2016-05-25 14:24] redboxmarcins commented on #4677
Related to https://github.com/magento/magento2/issues/4694

[2016-05-25 14:26] ark99 commented on #4686
@flipflap, can you please post the root composer.json's "repositories" : [ ] section?

[2016-05-25 14:27] mazhalai commented on #4686
@flipflap can you confirm that repo.magento.com is the only repo within composer.json?

[2016-05-25 14:28] nigelcopley commented on #4546
@mazhalai thanks.  is 2.1.0 rc1 ready for a production site?

[2016-05-25 14:31] mazhalai commented on #4546
@caleoroco no not yet.

[2016-05-25 14:32] choukalos commented on #4679
Internal ticket - MAGETWO-53468 ; CC'ing @ilol so he's aware of issue; marked for patching back to 2.0.x

[2016-05-25 14:34] nigelcopley commented on #4546
@mazhalai OK, thanks again.  Is there a workaround for now on the current version?

[2016-05-25 14:34] flipflap commented on #4686
I don't know, this is in my root composer.json:

[code]

[2016-05-25 14:36] mazhalai commented on #4546
@caleoroco unfortunately significant changes have been made within [setup](https://github.com/magento/magento2/tree/develop/setup)

[2016-05-25 14:38] luukskeur commented on #4551
Hi @antboiko, I'm using version 2.0.5.

[2016-05-25 14:41] gorillagroup opened #4698 "Zero Subtotal Checkout switch order to Complete status"
## Steps to reproduce
1. Install Magento from 2.0.7 tag.
2. Set for Zero Subtotal Checkout New Order Status = Pending.
## Expected result
1. New Order on Pending status
## Actual result
1. Order in Complete status so no ability to create invoice or shipping
2. Sometimes I can see that order in Grid at Pending status but on Order view page status is complete.

[2016-05-25 14:49] choukalos commented on #4681
Hey @astorm  can you email me with Skype / Slack / Hipchat info?  We need more info on your setup/environment and I'd like to pass your contact info to the engineer assigned to this issue.  I'm cchoukalos at magento.com .  Thanks!

[2016-05-25 14:54] redboxmarcins opened #4699 "Magento 2.1.0 RC1 : cannot install sample data"
## Steps to reproduce
1. Install Magento from `2.1.0 RC1` branch.
2. Run `bin/magento sampledata:deploy`
## Expected result
1. composer.json is updated
2. sample data is downloaded
## Actual result
1. Composer error

[code]

[2016-05-25 14:59] mazhalai commented on #4699
Sample data packages for 2.1 have not been published yet.

[2016-05-25 15:00] redboxmarcins commented on #4699
That explains, can I use https://github.com/magento/magento2-sample-data/tree/2.1

[2016-05-25 15:15] mazhalai commented on #4699
Yes you should be able to do that.

[2016-05-25 15:26] slackerzz commented on #4075
i had the same error in Magento EE 2.0.7
after creating the "optional" etc/view.xml in my theme the error disappeared

[2016-05-25 15:34] #4698 closed, assigned to nobody

[2016-05-25 15:39] antonlazarchenko opened #4700 "magento 2.0.7 sampledata:deploy|remove fatal error"
Hi.
I've updated magento from 2.0.4 to 2.0.7 via composer.
And then I tried to remove sample data using CLI and got following error.

php70 bin/magento sampledata:remove
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Symfony\Component\Console\Input\ArrayInput::__construct() must be of the type array, object given, called in /srv/mat24/web/vendor/magento/framework/ObjectManager/Factory/

[2016-05-25 15:43] toniyecla opened #4701 "Notifications Actions - missing carriage return"
## Steps to reproduce
1. Login Admin. Go to Notifications section.
## Expected result

Read
Details
Mark as Read
Remove
## Actual result
1. ReadDetailsMark as ReadRemove

(all on the same line)

[2016-05-25 15:49] shuaiZend commented on #4119
@luongngoctien
set "Merge JavaScript Files"  to Yes.
try it.

[2016-05-25 16:23] robfico commented on #2538
ok, we upgraded from MySQL 5.7.10 to latest 5.7.12, and the search now completes without any issue. Looks like MySQL fixed a bug that Magento was triggering previously.  :)

[2016-05-25 16:42] samtay opened #4703 "Custom attributes do not work as intended"
See below example

[code]

**ANY** values in `$_data[self::CUSTOM_ATTRIBUTES]` is lost, and not saved properly.

This is because the product repository issues a product model `load` which loads all attributes, custom or not, into the `_data` array. Anytime the app calls `ProductInterface::getCustomAttributes` (which it does try to do when saving, to grab any values there) any custom attribute 'key

[2016-05-25 16:44] adragus-inviqa opened #4704 "Magento\Framework\Session\SessionManager breaks contract of Magento\Framework\Session\StorageInterface"
[Here](https://github.com/magento/magento2/blob/a5fa3af3b16bb03dcc01068aed0c58d8993fd092/lib/internal/Magento/Framework/Session/SessionManager.php#L157), [here](https://github.com/magento/magento2/blob/a5fa3af3b16bb03dcc01068aed0c58d8993fd092/lib/internal/Magento/Framework/Session/SessionManager.php#L240), [here](https://github.com/magento/magento2/blob/a5fa3af3b16bb03dcc01068aed0c58d8993fd092/lib

[2016-05-25 16:45] samtay commented on #4703
Note: This is a larger issue for those leveraging the webapi data object input converter. That converter will throw exceptions when any input keys reference attribute codes not present in the ProductInterface schema, hence they must be set in a nested `$inputData['custom_attributes']` node. But, once nested there, that data will never be saved.

[2016-05-25 16:51] adragus-inviqa commented on #4703
I'm not sure of the issue, but I think they _do_ work, but they're a bit confusing. Maybe you can find something useful in this discussion: http://magento.stackexchange.com/questions/87452/how-do-the-extension-attributes-work-in-magento-2

[2016-05-25 16:57] dsikkema-magento commented on #4681
What I'm seeing is that, yes, there can be a kind of slowdown that makes the initial request take ~2-4 seconds. But it's not per each static asset request, it's about initialization of different cache content that's used by the PHP application. So one static asset request, for an asset that's not in pub/static/, will take 2-4s, while a subsequent static asset request that also gets generated by th

[2016-05-25 17:00] refaelgold commented on #4626
can you edit the cms page? @robinhuy

i guess if they not answer my question so its a bug

[2016-05-25 17:01] Vinai commented on #4703
Are you sure the products attribute set contains the custom attribute, and that the attributes property `is_user_defined` is `1`?
I found once I get those right it works, at least for customers, and I think for products, too, iirc...

Note: this is about custom attributes, not extension attributes, right?

[2016-05-25 17:05] adragus-inviqa commented on #4703
Correct, but there's some mentioning about custom attributes in that SO link, too.

[2016-05-25 17:12] samtay commented on #4703
Yes @Vinai the attributes are user defined and set up properly. See the code I linked above, it is very clear that anything set via `setCustomAttribute($key, $value)` is overwritten. The only way to get data to save on products is to have the data in the `$_data` property directly via `setData($key, $value)`, but at that point you are not coding against the interface.

[2016-05-25 17:34] astorm commented on #4681
@choukalos Thanks for the quick response. Let's keep the conversation in GitHub -- it's well designed for conversations about code/performance/software, and keeping it public means everyone gets a record of what sort of information the team needs for these sorts of issues.

OS/Software versions as follows

[code]

MySQL dump is attached.

Magento was installed using the composer `create-project` m

[2016-05-25 17:40] mazhalai commented on #4704
@adragus-inviqa thank you for reporting, we have created MAGETWO-53472 to fix.

[2016-05-25 17:47] davidnguyen2205 commented on #4154
I got the temporary solution that use sequence module in your xml:

[code]

[2016-05-25 17:49] astorm commented on #4681
@dsikkema @redboxmarcins Ah ha, thank you!  When I had installed previous versions of Magento the cached defaulted to being on.  I assumed the same was true of RC1, but it looks like the caches default to being off (at least after using the `create-project`/`setup:install` method).

@piotrekkaminski -- I think this is your territory (if not, please pass it on to whomever's it is) -- is there a com

[2016-05-25 17:49] dsikkema commented on #4681
Are caches enabled?

[2016-05-25 17:56] hostep commented on #4697
I agree.

Fortunately `packages.json.sample` is already available in Magento 2.1.0-rc1, see this commit: https://github.com/magento/magento2/commit/9ba77d903d173a134ef4c5b1f9de0d3f4d73d47d

The `themes.js` file remains unchanged for now. Hopefully that one will get renamed too.

[2016-05-25 18:09] paliarush commented on #4635
@commcad Thank you for reporting the issue. However it is not reproducible on my environment : Ubuntu 14.04, Apache 2.4, PHP 7.0.6, self-signed certificate, Firefox on OSX.

I have seen the same behavior as you are describing when I had outdated JS cached by the browser (basically you updated your code base, and JS parts on the server and in the browser diverged). Could you please confirm the issu

[2016-05-25 18:24] stamster commented on #4700
Sampledata is, at best said lottery. It can break your entire Magento2 instance at any time.

You can first try to:

[code]

any sampledata modules.

Then run `setup:upgrade`

[2016-05-25 18:31] yuklia commented on #2972
@MichielTG the same issue on php 7

[2016-05-25 18:32] krejcif opened #4706 "CMS page is loosing routes on multiple edit"
## Steps to reproduce
1. Install Magento Enteprise 2.0.6
2. Create more CMS pages eg. four
3. Check more of them and edit multiple http://prntscr.com/b8ddgp
4. Change for example layout column
5. Apply
6. Save Edits
## Expected result

CMS Pages will be still available on their URL keys
## Actual result

CMS pages lost routes (probably url rewrites) but URL keys is still the same in CMS page edit

[2016-05-25 18:40] mazhalai commented on #2972
@MichielTG @yuklia please do not post on closed issues, create a new issue please.

[2016-05-25 18:47] krejcif commented on #4706
It can't be fixed by re-saving CMS page. Page has to be removed and created again.

[2016-05-25 18:48] astorm commented on #4681
@choukalos Trying the MySQL dump again.
[magento_2_1_rc1_2016-05-25.sql.gz](https://github.com/magento/magento2/files/282696/magento_2_1_rc1_2016-05-25.sql.gz)

[2016-05-25 18:52] dsikkema-magento commented on #4681
I'm going to go ahead and close this ticket as unreproducible since it just needed caches enabled -- however -- Regarding caches being enabled or disabled by default, I just installed rc1 from both github and composer and saw caches enabled. @astorm if caches aren't enabled, I think that's no good - could you please raise a separate issue for that (so others who might have the same issue can see t

[2016-05-25 18:52] #4681 closed, assigned to choukalos

[2016-05-25 18:58] astorm opened #4707 "Improve Dev Experience Performance ( aka Magento 2.1 RC1: Static Asset Application too Slow Without Caches )"
Per https://github.com/magento/magento2/issues/4681#issuecomment-221671239, Magento's static asset serving application is too slow without caches enabled.

Default application state after installation should be with caches on.

Baseline cache-less Magento performance should be improved.

Please see original ticket for reproduction steps and actual/expected behavior. https://github.com/magento/mage

[2016-05-25 19:00] astorm commented on #4707
Tagging original participants so ticket isn't lost after original ticket was closed. Participate/ignore as you would the initial ticket /cc @pboisvert @redboxmarcins @tkacheva @choukalos @dsikkema @piotrekkaminski

[2016-05-25 19:01] DavidBelicza opened #4708 "CI - Build failed"
Develop branch does not pass CI tests on Travis-CI, all branches came from develop. So it looks like the whole development flow stuck, this unreliable for me. This should be fixed?

The Travis-CI test result gives: Cannot modify header information - headers already sent by (output started at /home/travis/build/magento/magento2/vendor/phpunit/phpunit/src/Util/Printer.php:172

Develop branch is brok

[2016-05-25 19:03] dsikkema-magento commented on #4707
Internal ticket MAGETWO-53474

[2016-05-25 19:08] yuklia opened #4709 "magento 2.0.7 / Set deployment mode to production fails"
**Env**
php 7
magento 2.0.7
Ubuntu GNU/Linux
current mode: developer

**Steps to reproduce**
1 removed contents from: `var/generation, var/di, var/cache, var/view_preprocessed, pub/static`
2 run `php bin/magento deploy:mode:set production`

**Expected result**
`Current application mode: production.`
**Actual result**

[code]

**If i run separately** `php -d memory_limit=1G -f /var/www/bin/magento

[2016-05-25 19:08] dsikkema-magento commented on #4707
What was exact composer command to download code? I just copied the exact install command from previous thread, only modifying database credentials and the like, and the caches were enabled on a rc1 codebase retrieved via:

`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.0-rc1`

[2016-05-25 19:09] EmilyPepperman commented on #2538
This morning upgraded MySQL to 5.7.12 and all is well! @maghamed

[2016-05-25 19:26] piotrekkaminski commented on #4709
Note that compile multi tenant mode was removed in new versions. Can you provide more information as which user you run the command from command line?

[2016-05-25 19:28] bwaters commented on #4540
Thanks for reporting I am looking into this.  Your Bug 2: The Menu does not appear when browsing the site in secure "Https" mode.  Is reported here https://github.com/magento/magento2/issues/3897.

The best workaround is to add -p feature=+esi_ignore_https to /etc/sysconfig/varnish

I still need to track down your Bug 1 --
Can you tell me your settings for Stores -> Configuration -> Web -> Base UR

[2016-05-25 19:30] dsikkema-magento commented on #4707
dug around a bit, looks like this issue appears when upgrading via CLI

[2016-05-25 19:38] yuklia commented on #4709
@piotrekkaminski from www-data.
By the way, where "Note that compile multi tenant mode was removed in new versions" was mentioned ?
i have a brand new version of Magento  2.0.7

[2016-05-25 20:01] gahinton opened #4710 "Merge CSS Causes Slow Admin"
If you enable Merge CSS, it drastically affects the performance of the Admin section. Without Merge CSS enabled, admin pages load in less than 1 second. With Merge CSS enabled, admin pages sometimes take 2+ minutes to load. The benefits of enabling are definitely not worth the inconveniences!

[2016-05-25 20:16] daim2k5 commented on #2538
@mc388 did you tried the MySQL to 5.7.12 ?

[2016-05-25 20:40] leoquijano opened #4711 "Improve error reporting for products images import"
When importing products using the System -> Import Products feature, if there problems importing the images, Magento just fails with:

[code]

No information is given about the cause of the problem, nor any help for the developer to sort it out. Generic calls to fix permissions don't really help, and it makes the process of importing products way longer than expected.

As explained [here](https://

[2016-05-25 20:42] joebusby commented on #4540
How does the "-p feature=+esi_ignore_https" fix the problem of the menus putting the site into Https mode?  That defeats the point of Varnish right?  Https does not cache.  Maybe I have to try it to see. . .

Do I run the https through the varnish server then?

my Config:

Base URL
http://www.mydomain.com/
Specify URL or {{base_url}} placeholder.
Base Link URL
{{unsecure_base_url}}
May start with

[2016-05-25 21:08] choukalos commented on #4707
Clarifying this Github issue for ensuring caches are turned on after upgrading via CLI.  We're tracking that internally as ( MAGETWO-53474 ).

@astorm - Static asset serving too slow when caches are being turned on is a feature request.  Is this feature request valuable?  What use cases would a developer have where caches are all disabled and new assets are being generated?

[2016-05-25 21:16] mazhalai commented on #4707
@choukalos yes re MAGETWO-53474

[2016-05-25 23:43] stamster commented on #4709
I have 2.0.7 too, and this works fine.

[2016-05-26 00:02] stamster opened #4712 "MAGE_MODE not respected after v2.0.7 fresh install"
## Steps to reproduce
1. Install Magento from `2.0` branch (2.0.7 release)
2. [nginx configuration] set $MAGE_MODE developer;  fastcgi_param  MAGE_MODE $MAGE_MODE;
3. `magento deploy:mode:show`
## Expected result

`Current application mode: developer.`
## Actual result

`Current application mode: default.`

When I change it manually with:
`magento deploy:mode:set developer`
it works.

[2016-05-26 00:26] astorm commented on #4707
@choukalos
1. The inevitable use cases similar to the one that prompted the original ticket
2. There are UI and command line features for turning the cache on and off.  If the user has cache turned off, they'll be hindered by this problem anytime they add new files to the system, or move/rename a file (implicit -- if there are no use cases for a developer to turn caching off, why can they?)
3. Hid

[2016-05-26 00:36] bch80 commented on #4603
I deleted everything and re-installed it.
`git clone git@github.com:magento/magento2.git
git checkout tags/2.0.7 -b 2.0.7
`
I hope future updates won't be such a big headache.

[2016-05-26 00:38] TenzinNKhando commented on #3934
_Bump_
I've run into the same issue.

Has anyone found a workaround to mass import advance pricing?

[2016-05-26 01:51] chris-brabender commented on #3503
@slavvka not sure if this has been brought up previously, but we applied these patches to a 2.0.7 installation and the Admin notifications (saved product etc) are being shown on the frontend only.

No save message after save product in admin

<img width="1558" alt="screen shot 2016-05-25 at 9 49 43 pm" src="https://cloud.githubusercontent.com/assets/5144830/15561339/bcf62d7a-22c2-11e6-87ef-398ffb2

[2016-05-26 03:41] robinhuy commented on #4546
@mazhalai when I install magento 2.1.0-rc1,
I pass all Readiness Check (step 1 of installation)

But Readiness Check before Install Component (all fail except Check Component Dependency)

Here is warning from Chrome console:

[2016-05-26 03:48] robinhuy commented on #4626
@refaelgold no sir, I can't edit products page too.
So I'm trying with magento 2.0.7

[2016-05-26 04:29] luongngoctien commented on #4119
@shuaiZend it's not the solution.

[2016-05-26 05:06] bgkavinga opened #4713 "Braintree js.braintreegateway is not excluded from minify"
Since the Braintree js.braintreegateway js in not excluded in minify, it fails to load Braintree in checkout when js minification is enabled.
Quick fix: Add following to one of config.xml

[code]

[2016-05-26 05:24] Deepthi57 commented on #4667
Hi, This is important.Kindly requesting you to prioritize this.
Thanks in advance

[2016-05-26 06:13] ishakhsuvarov commented on #4667
@Deepthi57 We are looking into the issue. Does this reproduce on clean installation? Have you tried to upgrade form 2.0.3?

[2016-05-26 07:22] anton-huz commented on #4620
@rawick could you do:

 `TRUNCATE `ui_bookmark`;` in scope of your MYSQL db.
Grids UI have such feature as _"Bookmarks"_. It allows to save Grid's state per user. It's ON by default. Looks like you got cached value.

[2016-05-26 07:31] Bravarg commented on #4620
@guz-anton I cleared all the caches, include this table and pub/static/ content. the problem is exactly in ignoring xml attribute "sortOrder". Yes, you can replace columns in ui_component, clear cached table and it will be ok, but attribute "sortOrder" won't has any usage anyway.

[2016-05-26 07:33] petertindemans commented on #1471
Same here, updated to Magento 2.0.7 but the problem still exist. In my case I have no category or url_rewrite specified.

When products have a duplicate name the import will fail (Error: Specified url key is already exist in rows).

[2016-05-26 07:40] shiftedreality commented on #4651
Whole development and management teams are mainly focused on delivery of 2.1.
Integration of existing fixes into 2.0.\* patches requires additional resources and marked with lower priority then delivery of stable release.
Btw, after your request we've added  it to "Patch candidates" list and it will be integrated in future patches.

[2016-05-26 07:40] antboiko commented on #3919
@cs221313

Hi David, I'm closing this issue. Feel free to reopen it if needed.

Best,
Anton.

[2016-05-26 07:40] #3919 closed, assigned to nobody

[2016-05-26 08:18] acharrex commented on #4329
+1 Please reopen this issue

[2016-05-26 08:21] anton-huz commented on #4620
@rawick
`sortOrder` is used on upper level than you point. Before Grid (via `listing.js`) applying `position` some actions are done by [`layout.js`](https://github.com/magento/magento2/blob/develop/app/code/Magento/Ui/view/base/web/js/core/renderer/layout.js#L276).

On Grid level with `position` works Bookmark UI component. It uses component's indexes. And it expected behavior. `position` has othe

[2016-05-26 08:24] soncp commented on #4119
Hello?

Do you have any solution? How to fix that error?

[2016-05-26 08:25] pboisvert commented on #4329
Mark--can you look at this issue in terms of should it be closed (issue resolved) and tracked as a feature request or if the issue stays open given there is a technical issue vs what we have stated should be available?

[2016-05-26 08:35] bkristl commented on #4582
I have the same experience when i update all products qty and price.

$filter = $this->filterBuilder->setField('type_id')->setConditionType('eq')->setValue('simple')->create();
$filterGroups[] = $this->filterGroupBuilder->addFilter($filter)->create();
$products = $this->productRepository->getList($this->searchCriteriaBuilder->setFilterGroups($filterGroups)->create())->getItems();
foreach ($product

[2016-05-26 08:52] acharrex commented on #4329
As explained above, send the following data to the method /V1/creditmemo/refund POST should be enough:

[code]

If not provided, the other values (grand total, subtotal, store id etc.) should be automatically calculated by Magento.

[2016-05-26 09:51] antonlazarchenko commented on #4700
@stamster, uh, thats right) I tried to do so - uninstalling all of those modules and one by one, but everytime after console had wrote "Removing code from Magento codebase:" and nothing happened during a half of hour... Well, I decided to reinslall magento. It's much efficient and much faster as well. :) Maybe the problem is in server configuration.

[2016-05-26 09:53] rganin commented on #4112
Issue is not reproducible on 2.0.4, 2.0.7 and 2.1 with following combinations:
- 1 website (default), 2 store views (default & french),
- 2 websites (default, french). with one store view each (default - default, french - french)

Please verify that parent category (german-parent-category) in your instance has url-key value overriden on store view level. Please provide more details on the category

[2016-05-26 10:01] rganin commented on #4700
@antonlazarchenko , try to clean your var/generation directory.
`rm -Rf <magento_root>/var/generation/*`

[2016-05-26 10:31] swapnilagarwwal commented on #2412
@elenleonova I have 2.0.6, but still facing the same issue.
<img width="1274" alt="screen shot 2016-05-26 at 4 00 57 pm" src="https://cloud.githubusercontent.com/assets/5382204/15571876/17303162-235b-11e6-8bdb-e2933084fccf.png">
<img width="829" alt="screen shot 2016-05-26 at 4 00 50 pm" src="https://cloud.githubusercontent.com/assets/5382204/15571877/1737ca76-235b-11e6-98a9-f1c0d442fd1e.png">

[2016-05-26 10:40] asemenenko commented on #4676
Added to MAGETWO-53493

[2016-05-26 11:04] ishakhsuvarov commented on #4119
We could not reproduce the issue with the stock installation from the `2.0` branch. Do you have any themes/extensions which could influence this? Any specific settings etc? Have you tried with the clean Magento installation?
Reopening for further investigation.

[2016-05-26 11:13] ishakhsuvarov commented on #4460
@devhn Which payment method did you use when placing order?
@andidhouse Please provide more precise steps to reproduce the issue (how do you clean the cart, etc.) Thanks.

[2016-05-26 11:25] usn0545 opened #4714 "Unable to override the block "Block/System/Config/Form/Field.php""
when I install my custom module and developer mode is on. Now if I make my module as store based.
then it is throwing an error as "**## Fatal error: Call to a member function isSingleStoreMode() on a non-object in /var/www/html/magento/vendor/magento/module-config/Block/System/Config/Form/Field.php on line 151**". And when I tried to override this block file then it is not overriding.
Can you tell

[2016-05-26 11:28] antonlazarchenko commented on #4700
@rganin, already tried but nothing. I cleaned /di and /generation, did setup:di:compile, setup:upgrade. Nothing.

[2016-05-26 11:38] shuaiZend commented on #4119
@ishakhsuvarov Javascript Error loading sequence caused by inconsistent.

[2016-05-26 12:19] andidhouse commented on #4460
@ishakhsuvarov
Steps:
1. put some times in the shopping cart
2. wait some time (in our case and settings half an our)
3. the shopping cart page is empty - BUT the minicar is not empty but having the articles stored

[2016-05-26 12:32] ghost opened #4715 "2.1 RC - Custom options not draggable from page to page"
## Steps to reproduce
1. Edit product with custom options with more than 20 options
## Expected result
1. Options draggable
## Actual result
1. Can't drag options between pages

<img width="1266" alt="screen shot 2016-05-26 at 15 28 09" src="https://cloud.githubusercontent.com/assets/710612/15574533/97142398-2356-11e6-84d1-aed71e4d283b.png">

[2016-05-26 12:40] AymericJoubert opened #4717 "Admin ajax request when profiler is enabled - Magento 2.0.7"
When profiler is enabled, the admin ajax calls fails and return error 500.
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Enable MAGE_PROFILER
3. Go to Store / Configuration / General / General / Store Information
4. Choose a Country in the list and Save Config
## Expected result
1. Country value is stored in core_config_data table and visible in admin
## Actual result
1. We ar

[2016-05-26 12:41] slackerzz commented on #4697
I've just submitted a pull request for theme.js

[2016-05-26 12:46] peec opened #4718 "[2.0.7] Force Sign-In => This user has no tokens."
Version: 2.0.7
## Steps to reproduce
1. Click on a signed in user
2. Click on Force Sign In
## Expected result
1. Logged in user gets signed out.
## Actual result
1. Error message. "This user has no tokens."

[2016-05-26 12:55] redboxmarcins opened #4719 "Cron when defined in db has no name property"
## Steps to reproduce
1. As example I use xtento product feed generator, but it doesn't matter as any will do
2. In core_config_data table there are entries:

[code]
1. When \Magento\Cron\Model\Config::getJobs() is executed - array of the jobs from database will not have name property as xml ones.
2. This f.e. will break n98magerun sys:cron:list as it expects name to be set - https://github.com/ne

[2016-05-26 13:20] shiftedreality commented on #4706
Hi @magexo

Thank you for reporting.
Internal ticket MAGETWO-53495 was created to resolve this issue.

[2016-05-26 13:24] vzabaznov commented on #4143
hi @doppiobrodo we cannot reproduce this issue now, can you re-check it please in fresh Magento?

[2016-05-26 13:30] AntonEvers commented on #1931
This problem can be reproduced by removing an element in a parent theme and trying to cancel it in a child theme.

[2016-05-26 13:36] katmoon commented on #3815
Hi @SamTay

Magento Admin expects date/time to be set in Magento timezone, EST in your case.
So if your local machine is in UTC, you should set `2016-03-16 11:18:00` in Admin. This applies to any functionality in Admin, not only CatalogEvents.

@antboiko This is indeed not obvious and we raised this question several times. There was a proposition to add a time clock in Admin so that it's clear wha

[2016-05-26 13:36] #3815 closed, assigned to voleye

[2016-05-26 13:38] mazhalai commented on #4603
@Chris8080 upgrading while using git is a different workflow. All, you need to do is `git pull`, to get the latest version. GIt is recommended only for contributing developers. All others should either use the zip downloaded from magento.com or `composer create-project....`, then the scenario you described will work.

Please read more about different use cases: http://devdocs.magento.com/guides/v2

[2016-05-26 13:38] #4603 closed, assigned to nobody

[2016-05-26 13:42] mazhalai commented on #4546
@robinhuy looks like you do not have the crons setup, Please see http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

We need these crons for upgrading magento, enabling/disabling/installing/uninstalling modules etc.

[2016-05-26 13:43] ishakhsuvarov commented on #4460
@andidhouse Steps you described look similar to the ones in #4416 I'm pretty sure it is the same case. We currently have a similar item in our backlog with the internal id `MAGETWO-52593`.

[2016-05-26 13:56] mazhalai commented on #4700
@stamster @antonlazarchenko  we have created MAGETWO-53496 to investigate and fix module:uninstall, and MAGETWO-53497 to investigate and fix sampledata:remove

[2016-05-26 14:00] qwerty7869 commented on #4591
Can you please tell me in which commit the issue was fixed?

[2016-05-26 14:10] mazhalai commented on #4673
@fooman did you mean the git tagged version? Yes this was removed intentionally so that travis builds would be able to run without additional authentication.

If it is missing from the composer.json from the zip from magento.com or the `composer create-project..` then it is an issue.

Closing since this is not a bug.

[2016-05-26 14:10] #4673 closed, assigned to nobody

[2016-05-26 14:25] ishakhsuvarov commented on #4395
@kozhemyakin Thank you for reporting this issue. We have tried to reproduce it with the installation from the `develop` branch but with no luck. Which version are you using?

[2016-05-26 14:26] karl-ravn commented on #4474
Seems to be same problem as #4580

[2016-05-26 14:31] fooman commented on #4673
@mazhalai yes this is from the git tagged version. In my view all installation methods should create the same working software irrespective of the source. When I download from repo.magento.com the code should be the same as what is on github. If that is not a given this will lead to even more hard to track down support issues.

Can't you just add your credentials in travis once:

![screenshot-trav

[2016-05-26 14:33] anton-huz commented on #4691
Hi @duongquyet ,
You miss `shim` option. The root issue is in how OwlCarousel handle own dependencies. It requires _jQuery_. But RequerJS doesn't know about this dependency. And can load `owl.carousel.js` earlier (especially it has smaller file size).

So your example could looks like:

[code]

and in template place:

[code]

update: its handy to have _return_ value for widgets/plugins.

[2016-05-26 14:33] #4691 closed, assigned to guz-anton

[2016-05-26 14:43] ishakhsuvarov commented on #4591
@qwerty7869 You may try to cherry-pick commit [`eec3cf1`](https://github.com/magento/magento2/commit/eec3cf17bc5deae71c83c797d1339de46cf6905f), it should fix some of the mini-cart issues.

[2016-05-26 14:50] futurmat commented on #1471
I have the same problem running on the latest Magento. I removed all url_rewrite entries of the the type category - did not help in my case. The URL is built using the SKU which is by definition unique in my table. So I'm pretty sure there are no existing entries with the same value.

[2016-05-26 14:52] karl-ravn commented on #4474
The problem seems to be that the quote has been created with a reserved_order_id, but there already exists a row with the same increment_id in order_sales.

The error goes through:
OrderManager#save(\Magento\Sales\Api\Data\OrderInterface $entity)
OrderService#place(\Magento\Sales\Api\Data\OrderInterface $order)
QuoteManagement#submitQuote(QuoteEntity $quote, $orderData = [])
(line 478 Magento 2.0.

[2016-05-26 15:01] buskamuza commented on #4673
@fooman , these credentials will not work for PRs.
Also, git-based version is different in its nature, it already has everything packed instead of being composed by Composer from different packages. So it doesn't need this repository (at least it should not need). But Composer-based installation requires the repository to be included, so it is included there. There are more differences in `compose

[2016-05-26 15:07] viktym commented on #4676
This issue is not reproducible on 2.0.7 and current develop branch

[2016-05-26 15:09] dsikkema-magento commented on #2412
@agarwalswapnil are your webserver PHP user and your CLI php user the same or different? And have you set the permissions recommended in http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html ?

[2016-05-26 15:10] bh-ref commented on #4112
Hi @rganin

Thank you for looking into this issue.

All german url-keys are defined on default level (store view: all). The french url-keys are defined in the french store view. (In other words, no german url-keys are defined and/or overriden in the german store view).

[2016-05-26 15:12] bh-ref commented on #4112
also, just to clarify, we are using this combination: 1 website (default), 2 store views (german (sort order 0) & french (sort order 1)).

[2016-05-26 15:14] sevos1984 commented on #4558
This is a known issue (internal ticket MAGETWO-53134), thanks for posting

[2016-05-26 15:17] delyriand commented on #1471
I have the same problem 'URL key for specified store already exists.'. My problem is not related to the categories but a duplication of my product:
During the validation of the multi-store catalog import, the product is in two different bunch into `importexport_importdata` table. My "main" line product is a bunch and my declination for the "my_store" is in a second bunch.
And during import, it cre

[2016-05-26 15:18] sevos1984 commented on #4689
Is your problem for customer entity only? What about other entites?

[2016-05-26 15:19] leoquijano commented on #4651
Thanks!

[2016-05-26 15:21] cdiacon opened #4720 "isAdminSecure never used or missing code"
This property is never used protected $_isAdminSecure = null;
## Steps to reproduce
1. Install Magento from `develop` branch.
2. File Magento\Store\Model\Store.php  line 209
   https://github.com/magento/magento2/blob/develop/app/code/Magento/Store/Model/Store.php#L209
3. It looks like this flag is never used or there is missing code or should be moved to a new file?!?

Thanks.

[2016-05-26 15:50] MauroNigrele commented on #4411
+1
By default auto settings feature copy the entire description to meta-description including tags, fast solution should be remove/filter in attribute backend (before save)

[2016-05-26 16:47] gamort commented on #4430
I've run into a similar issue with magento 2.0.7 [and a number of prior versions].

Attempting to change a category url key throws a duplicate url error.

By turning on database query logging, I tracked down the query that through the error and discovered the  issue was with product url's not category url's.  When the category url key is updated it looks like:
url_rewrite is updated with the new c

[2016-05-26 16:49] gamort commented on #1471
See https://github.com/magento/magento2/issues/4430 for a potential hack to work around the issue.  I suspect the urls are generated in the same way for product updates as for category updates.  De-duping the list will work around the issue.

[2016-05-26 17:05] gamort commented on #4487
See https://github.com/magento/magento2/issues/4430 for a potential workaround until this is fixed

[2016-05-26 17:46] hostep commented on #4697
👍

Pinging @xcomSteveJohnson as these changes will require the documentation about npm & grunt to be updated (http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html#grunt_prereq).

[2016-05-26 17:59] piotrekkaminski commented on #4143
@mktudock please see above - we cannot reproduce. Can you reproduce it on latest (2.0.7) or 2.1RC?

[2016-05-26 18:27] thomasnordkvist commented on #3354
Hi @vkorotun i'm also interested in the eta for patch functionality.
Reading above it seems like i need to rewrite quite a few integrations i have, or just skip upgrading magento at some point untill PATCH is working or i have had time to change what i need.

The sensible thing in my opinion would be to keep the current functionality and make category_ids act "PATCH strategy" or at least move curr

[2016-05-26 18:27] mazhalai commented on #4700
@aabumuslimov I have not been able to recreate both issues related to sampledata:remove and module:uninstall Can you please make sure your file permissions are as expected?

[2016-05-26 18:30] markalston commented on #1471
I have discovered another cause of this issue.  If you are importing items which share a same-named subcategory (i.e. Mens/Shirts and Womens/Shirts ) those subcategories, in this case "Shirts" must already exist.  If they don't exist, when the file is imported, Magento creates them but tries to give both of them the url_key "shirts."  This causes the url key error.

Manually creating these categor

[2016-05-26 18:37] watermark opened #4722 "PHP Parse error: syntax error, unexpected '.', expecting ')' in /path/UpdateLoggerFactory.php on line 31"
## Steps to reproduce
1. Fresh install of 2.0.7 on PHP 5.5.x
2. Complete install process via web browser
3. Run a cron script, ie 'php -f update/cron.php'
## Expected result
1. It to run without issue
## Actual result
1. PHP Parse error:  syntax error, unexpected '.', expecting ')' in /home/user/public_html/update/app/code/Magento/Update/UpdateLoggerFactory.php on line 31
## Fix

This is a PHP 5.5

[2016-05-26 18:42] mazhalai commented on #4722
@watermark we are going to drop support for 5.5 in future releases. http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC1CE.html
I would suggest you to upgrade your php version.

[2016-05-26 18:44] watermark commented on #4722
@mazhalai I appreciate the information.  I believe 2.0.x intended to support php 5.5?

[2016-05-26 19:15] fooman opened #4723 "LocalStorage of the setup installer is not restricted by path"
## Steps to reproduce
1. Install Magento any 2.x version into a subfolder ie into `http://example.com/m2-205/` using the Web Setup Installer
2. Install any other Magento version into a subfolder of the same domain ie into `http://example.com/m2-210-rc1/` using the Web Setup installer
## Expected result
1. The installer should not have any knowledge of the installation values of the first install
#

[2016-05-26 19:26] erikhansen opened #4724 "Admin product enabled/disabled UI is not obvious"
The admin toggle that demonstrates whether a product is enabled is easy to miss, especially on a wide screen:

![magento admin-zamqk](https://cloud.githubusercontent.com/assets/129031/15587086/35a93584-234d-11e6-99b2-06f80fc7fdd8.png)

I'd recommend moving it and making the disabled state red:

![8 -vdmxz](https://cloud.githubusercontent.com/assets/129031/15587147/8fad327e-234d-11e6-8bc5-62a09ae6f

[2016-05-26 20:06] dsikkema-magento commented on #4722
@watermark, yes, 2.0.x supports 5.5, but there will be future Magento 2.x  releases which won't support 5.5.

[2016-05-26 20:19] mbrinton01 commented on #4350
Thank you @mackelito, I have created internal ticket MAGETWO-53521 to track your request.

[2016-05-26 20:26] piotrekkaminski commented on #4673
Hey @fooman the git version is really only designed for contributions, not for regular usage. This might change in the future. But for everything else you should really use composer install.

[2016-05-26 20:29] OgreMHDW opened #4725 "Static files are not generated for custom theme"
## Steps to reproduce
1. The theme is installed in app/design
2. The theme in set in store configuration
## Expected result
1. Running php bin/magento setup:static-content:deploy should deploy theme to pub/static folder
2. Site should read normally.
## Actual result
1. php bin/magento setup:static-content:deploy only deploys the Magento/blank and Magento/luma themes to the pub/static folder.
2. Cu

[2016-05-26 20:41] bwaters commented on #4540
You need to pass both http and https traffic through varnish.  You do this by terminating the ssl before varnish in a load balancer like haproxy, nginx, or Amazon elastic load balancer.

When the varnish cache is enabled in magento it starts sending esi:include tags for blocks of content.  If a request is made bypassing varnish (like your https requests),  these esi tags will not interpreted by va

[2016-05-26 20:41] mbrinton01 commented on #4537
Thank you @nobuttsalex, I have created internal issue MAGETWO-53522 to look into this for you.

[2016-05-26 20:45] fooman commented on #4673
@piotrekkaminski understood - it's just because this installation method exists people will use it - which means that I, as an extension developer, will encounter merchants using them all. The more differences there are between the installation methods the more work for us. I will sort my thoughts on this and create a new issue for this broader discussion.

On a sidenote so far we have used instal

[2016-05-26 20:48] mbrinton01 commented on #2012
Hello @qrz-io, we are working on building Multi-Node Inventory that will include the ability to set stock for multiple sources and assign these sources to websites, but do not have an exact ETA.  More detail is in #473

[2016-05-26 20:55] mazhalai commented on #4700
@aabumuslimov how did you initially deploy Magento? via composer create project? via git or via zip downloaded from magento.com?

[2016-05-26 21:08] mbrinton01 commented on #3787
Thank you @chrisconlon-klaviyo for the additional feedback. I have added your comments about /V1/customers/search and /V1/carts/search to the internal ticket.

[2016-05-26 21:10] crantron commented on #4725
What is your parent theme?

[2016-05-26 21:10] mbrinton01 commented on #473
@MagePsycho I do not have an firm ETA, but I can confirm this feature is in development now.  Thank you for your feedback on priority.

[2016-05-26 21:20] mackelito commented on #4350
Awesome!
Let me know if I can help out somehow!..

BTW.. can I track the ticket somewhere?

[2016-05-26 21:25] mbrinton01 commented on #4350
@mackelito we don't have a way for external users to view our internal issues in JIRA, but I will comment here if we have more questions in the future.

[2016-05-26 21:43] davidalger commented on #4070
I can confirm this works in 7.0.6 as well… so since it didn't turn out to be a real bug in Magento (which now officially does not support 7.0.5 specifically) I'm going to close this.

For any future readers: If you are running PHP 7.0.5 and having issues, upgrade to PHP 7.0.6 or better! :)

[2016-05-26 21:43] #4070 closed, assigned to joanhe

[2016-05-26 21:44] piotrekkaminski commented on #4101
@caesarcxiv i'm not sure if i understood it correctly. Would you be able to record you screen with this issue?

[2016-05-26 21:44] mazhalai commented on #4722
@watermark we have created MAGETWO-53524 to investigate and fix.

[2016-05-26 21:48] joebusby commented on #4101
My earlier comment was for an earlier version, and this behavior seems to be fixed for us now.

[2016-05-26 22:03] SophiaKtv commented on #3294
Experiencing the same problem.
When I disable cache bin/magento cache:disable I can get if a customer is loged in from the Session object.

[2016-05-26 22:15] piotrekkaminski commented on #4096
@salelsol @simonkguest @urielbeaupre do you still get this issue in later versions?

[2016-05-26 22:32] salelsol commented on #4096
- Hi, I´ve solved this issue if duplicate a product in an all new product in and all new categorie, then I haven´t any issue when duplicate a product, but for old Magento 1 imported products with yours categories, I can´t duplicate any product because crash server. Lasted version tryed is Magento 2.0.6.

Best Regards
Toni

[2016-05-26 22:36] piotrekkaminski commented on #4096
Internal issue MAGETWO-53526

[2016-05-26 22:56] piotrekkaminski commented on #4086
@OgreMHDW are you able to reproduce it on the latest version?

[2016-05-26 22:58] piotrekkaminski commented on #4085
@igrslv @adifucan can this be closed?

[2016-05-26 22:58] ghost commented on #4609
@samleeiii
https://github.com/magento/magento2/blob/develop/app/design/frontend/Magento/luma/etc/view.xml#L84

[code]

You must change it. It works.
https://github.com/magento/magento2/blob/develop/lib/web/fotorama/fotorama.js#L511
btw you can find all default options of gallery on 487-531 lines.

[2016-05-26 23:00] JaggedJax opened #4727 "Access Token & Access Token Secret getting cleared"
### Preconditions
Magento 2.0.7

## Steps to reproduce
1. Complete oAuth connection and acquire access token and secret
## Expected result
1. Access token and secret last indefinitely
## Actual result
1. If the Access token has not been used in Approx 1-2 hours, Magento2 deletes the Access token and Access Token Secret under the Integration Details so API calls no longer work.

What could be causi

[2016-05-26 23:01] piotrekkaminski commented on #4083
Internal issue MAGETWO-53527

[2016-05-26 23:44] simonkguest commented on #4096
For me, the way i have been working around this issue;
Create a new product.
Duplicate the new product
Duplicate the duplicated product (not the original)

This has been working for me.  I hope this may help

I believe that salelsol is correct I have not been able to duplicated imported products either.

[2016-05-27 01:32] danny-balance commented on #4712
@stamster The CLI doesn't load Nginx configuration, so it can't read your env variable. See my issue #4304

[2016-05-27 01:52] JaggedJax opened #4728 "Shipping notification email missing product info"
## Steps to reproduce
1. Fresh install of Magento 2.0.7
2. Create a shipment for an order via the API and add tracking
3. Generate a customer shipment notification email using: POST /V1/shipment/{id}/emails
## Expected result
1. Email sent to customer listing tracking info and products shipped
## Actual result
1. Email contains all the correct information, except where it lists the products, the p

[2016-05-27 04:14] quynhvv commented on #3855
@guys: How to solve this issue?
I get this issue too.
My context: PHP 5.6.20 + Nginx server + Magento 2.0.7
Thanks.

[2016-05-27 04:57] kgvconsulting commented on #4260
hi @mazhalai

I cant get the new upgraded version to show up, Is there a way to verify if the upgrade really went trough?

Thanks

[2016-05-27 05:02] kgvconsulting commented on #4260
![screenshot 2016-05-27 01 01 28](https://cloud.githubusercontent.com/assets/11282348/15598300/a4a62c9a-23a6-11e6-8bda-24e1cc8a3b7d.png)

Even I did try to upgrade using SSH up to 2.0.5 Does not show that?

[2016-05-27 06:31] johnnywokka commented on #1691
I have just started building my first M2 site and was shocked to find the telephone field could not be made optional in the admin.

Pretty fundamental, as has already been said if  you're selling virtual products and I also think it's now illegal in Germany to force people to enter their phone number at the checkout.

Any eta when this will be fixed?

[2016-05-27 07:03] patrickpeng2091 opened #4729 "unable to access the backend block Page"
## Steps to reproduce

1.install Magento 2.0.6 with  PHP 7
## Expected result
1. unable to access the  backend block Page
   ![image](https://cloud.githubusercontent.com/assets/4326820/15599809/76140740-2418-11e6-85d9-8b24d72790ac.png)
## Actual result

1.VM10326:1 Uncaught SyntaxError: Unexpected token < in JSON at position 104688

[2016-05-27 07:18] pboisvert commented on #4724
thanks Erik for the suggestion

@antboiko can you run this one by the UX team for their view and if valid file a Jira ticket and close this issue

[2016-05-27 07:23] YevSent commented on #4713
This issue duplicated to #3916 and already resolved in the develop branch.
Closing this issue, please feel free contacting us if you have any further issues.

[2016-05-27 07:23] #4713 closed, assigned to alena-marchenko

[2016-05-27 07:38] ruby10 commented on #4728
This issue is coming for the shipments created via Magento2 API "V1/shipment", for shipments created from admin panel email is containing item sku and other related data, Please do provide update on this issue

[2016-05-27 07:59] antonlazarchenko commented on #4700
@mazhalai, file permissions is ok. According to deployment: firstly git pull, then composer install, then via browser did setup process.

[2016-05-27 08:01] asimraffaqat commented on #3528
You must have other characters where numeric value is required, even a **blank space** is also considered as a character. OR have you copy and paste code from pdf or somewhere else.?
Just add numeric value e.g. 135 or 200 etc.

[2016-05-27 08:25] tadhgbowe commented on #2564
Hi Anton.

Many thanks for the update. I know there are lots and lots of potential issues raised here. So it must be a nightmare to keep people up to date. When you say:

"the fix is already in develop branch and will be also available in one of future patches"

That's fine. But imagine how amazing it would be to get a notification saying when it will be launched into production (minor or bug vers

[2016-05-27 08:25] patrickpeng2091 commented on #1643
hello ,
I encountered the same problem。
![image](https://cloud.githubusercontent.com/assets/4326820/15602387/8519dbe8-2427-11e6-85fe-a1ebd481e9ac.png)
VM12300:1 Uncaught SyntaxError: Unexpected token < in JSON at position 104688

chrome :  50.0.2661.102 (64-bit)
firefox: 46.0.1

[2016-05-27 08:32] rganin commented on #4112
@bh-ref thanks for clarification, I will resume the investigation.

[2016-05-27 08:54] patrickpeng2091 commented on #4561
hello ,  i got the same error for the magento 2.0.6 to magento 2.0.7 .

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for magento/magento2ce 2.0.6 -> satisfiable by magento/magento2ce[2.0.6].
    - magento/product-community-editio

[2016-05-27 08:58] yssource opened #4731 "developer mode throws an exception, but production mode is good"
My working environment looks like this.  And I run magento with a fresh installer by composer create-project.
`Fedora 23 kernal: 4.4.9-300.fc23.x86_64`

[code]

[code]

It is reporting the following warnings, when I was debugging and found it was caused by

[code]

[code]

[2016-05-27 09:02] patrickpeng2091 commented on #4561
I downloaded magento version : https://github.com/magento/magento2/archive/2.0.6.zip .

Can not  update ?

[2016-05-27 09:03] tranductrong92 opened #4732 "error when run exec php file"
Magento\Framework\Exception\LocalizedException: The specified "/var/www/magento2module/var/generation/Magento/Catalog/Model/Product/Action/Interceptor.php.14051" file could not be written Warning!file_put_contents(/var/www/magento2module/var/generation/Magento/Catalog/Model/Product/Action/Interceptor.php.14051): failed to open stream: Permission denied in /var/www/magento2module/vendor/magento/fra

[2016-05-27 09:06] yssource commented on #4732
Files Permission denied, try to `sudo chmod 777 -R .` as a workaround

[2016-05-27 09:16] stamster commented on #4712
Well,
the exact same setup is on my other instances, the only difference being older Magento 2.0.6. and 2.0.5.
magento deploy:mode:show on that other (older) instances shows correct "developer" mode.

[2016-05-27 09:25] krisdass commented on #4430
Thank you @gamort . I will check your solution

[2016-05-27 09:39] alena-marchenko commented on #4676
Hi @ruby10

Closing the issue, please feel free to reopen it with detailed steps to reproduce it it still persist

[2016-05-27 09:39] #4676 closed, assigned to mbrinton01

[2016-05-27 09:41] jmackiol-dotsource opened #4734 "Catalog data disappears in the store front after admin user role creation and admin login with new role"
## Steps to reproduce
1. Install Magento EE 2.0.0 or 2.0.7 using composer.
2. Add new catalog root category
3. Create new website
4. Create new store with website from step 3 and root category from step 2
5. Create new store view for store from step 4
6. Create admin user role with limited access to the website from step 3
7. Create new admin user with role from step 6
8. Logout with current admin

[2016-05-27 09:42] jmackiol-dotsource commented on #4492
Issue also exists in Magento 2.0.6 EE and 2.0.7 EE

[2016-05-27 09:53] sivajik34 opened #4735 "indexes missing from admin panel"
[code]

In admin panel both  catalog_product_flat ,catalog_category_flat indexes are missing.

![indexes](https://cloud.githubusercontent.com/assets/7636894/15604616/eca68710-241e-11e6-8297-5e0c8f68e446.png)

[2016-05-27 09:56] jmackiol-dotsource opened #4736 "Magento 2 project files in "/dev/tests/integration/etc/" are removed by "composer update" with new Magento 2 release"
## Steps to reproduce
1. install Magento 2 EE (version 2.0.5 / 2.0.6) with composer.json created by "composer create-project"
2. add project specific files to the project root and "/dev/tests/integration/etc/install-config-mysql.php"
3. Run "composer create-project"
4. Check if the file  "/dev/tests/integration/etc/install-config-mysql.php" exists is positive
5. Update the Magento 2 version in com

[2016-05-27 09:58] Vinai commented on #4736
Thanks for the report, closing due to duplicate existing issue https://github.com/magento/magento2/issues/3249

[2016-05-27 09:58] #4736 closed, assigned to nobody

[2016-05-27 10:01] sivajik34 commented on #4735
i think this is not an issue  but still confusion.why its not listed in the grid ? how to use these two indexes?

[2016-05-27 10:03] lgt opened #4737 "xPath error in mails"
I'm using magento 2.0.7 and I get the following error on order mail confirmation.Swicthing from default to production the error is still there. This seems to be related to the included css in header.
If I remove
`{{inlinecss file="css/email-inline.css"}}` than I do not get the error, but still need some styling!
  How to suppress ?

`CSS Inline Error: Warning: DOMXPath::query(): Invalid expression

[2016-05-27 10:29] digitalpianism opened #4738 "Error after upgrading from 2.0.6 to 2.1-rc1"
## Steps to reproduce
1. `git checkout 2.1-rc1`
2. `composer update`
3. Access the backend
## Expected result
1. Backend is accessible
2. ...
## Actual result
1. Got the following exception

[code]

It has nothing to do with Alan Storm's `DigitalPianism_Commercebug` module.

The real problem is that the `afterSave` method declaration has changed from 2.0 to 2.1

2.0 version:

[code]

2.1 version:

[2016-05-27 10:36] tranductrong92 opened #4739 "error when run exec php help help"
**file A.php:**
ini_set('display_errors', 1);
error_reporting(E_ALL);
$key = 1234;
$storeId = 1;
$logFile = text.txt;
exec( "php  " . "B.php  " . $key . " " . $storeId . " > " . $logFile . " &");

**file B.php:**
require **DIR** . '/../app/bootstrap.php';
$bootstrap = \Magento\Framework\App\Bootstrap::create(BP, $_SERVER);
require __DIR__ . '/C.php';
/*\* @var \Magento\Framework\App\Http $app */
$

[2016-05-27 10:37] #4732 closed, assigned to nobody

[2016-05-27 11:02] BeppeT opened #4740 "CSS files missing on dashboard"
I updated Magento CE to the version 2.0.7 by composer

Now (only) in dashboard page the CSS files are missing

[2016-05-27 11:17] BeppeT commented on #4740
I have encountered the same problem in other pages

[2016-05-27 11:24] antonlazarchenko opened #4741 "magento from 2.0.4 to 2.0.7 custom payment error with valid input data "message":"Please enter a valid credit card expiration date.""
I made custom payment similar to this https://github.com/Inchoo/magento2-Inchoo_Stripe (but not Stripe - Onpex payment, if it is important)
After "composer update" my core changes from 2.0.4 to 2.0.7.
Testing payment at newer version showed me error. I entered test credit card, valid expiration date and cvv and got payment error **"Please enter a valid credit card expiration date."**
REST query se

[2016-05-27 11:28] rganin commented on #4112
@bh-ref still cannot reproduce the issue on 2.0.4. Sorry for the silly question but do you have url-key for french store view on parent category? Or do you have some url-related extensions or customizations?

[2016-05-27 12:06] stevenvdp commented on #4112
We have a similar problem.

Category configuration:
Default config > url_key = "products"
French store > url_key = "produits"

Product configuration:
Default config > url_key: "awesome_product"
French store > url_key: "un_produit"

The url rewrite will be created after saving the product, but the category path is not store specific.
French store rewrite: products/un_produit

We are using v2.0.6 an

[2016-05-27 12:19] gplanchat commented on #4095
Hello @piotrekkaminski

We are currently investigating, I'll give you feedback when we will have finished.

Thank you

[2016-05-27 12:27] MomotenkoNatalia commented on #4701
@toniyecla thanks for reporting this issue! I am going to close it as duplicate - https://github.com/magento/magento2/issues/4586

[2016-05-27 12:27] #4701 closed, assigned to nobody

[2016-05-27 13:09] erikhansen commented on #4724
@pboisvert For what it's worth, I had a tech-savvy client spend a good amount of time yesterday, trying to figure out why a product wasn't showing on the frontend. She checked all of the settings she knew to check (visibility, in stock, assigned to correct website, etc), but had to come to me for help when it still wasn't showing. Turns out the product was "Offline" (aka, disabled), but she didn't

[2016-05-27 13:21] ajayshukla opened #4742 "Invoice capture not working in magento2."
## Invoice Capture is not working in Magento 2.0.6
1. For the invoices whose initial state is pending, I am trying change it to Paid by clicking the Capture link on admin invoice details page but its still remains pending.
2. I think this is because of these lines of code in vendor/magento/module-sales/Controller/Adminhtml/Order/Invoice in execute method:

[code]
3. Rather than changing the state

[2016-05-27 13:29] Taral-Patoliya opened #4743 "2.0.7 not able to import the products exported from 2.0.4"
I have exported the products from 2.0.4 with some additional attribues. but when i am trying to import the products, the following error shows up in check data stage.

Where <attribute_name> is name of the attribute (Drop down)

I have crosschecked with every value provided in the csv and the options in the attribute. they completely match.

I tried after removing the erroneous rows, but it genera

[2016-05-27 13:31] mazhalai commented on #4260
@kgvconsulting please do not post on closed issues.

This shows you have the latest 2.1.0-rc1. It should show up in the lower right hand side when you login to admin. Also, it should be in your root composer.json file's require section as `"magento/product-community-edition": "2.1.0-rc1",`

[2016-05-27 13:41] mazhalai commented on #4561
@admin-it  @mboukhanoufa @patrick4u please do not post on closed issues.

For EE versions, please post on the partner portal.

[2016-05-27 13:45] mazhalai commented on #4738
@digitalpianism the proper steps for upgrading when using git versions are documented here: http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/dev_update-magento.html

Looks like you missed `setup:upgrade` which would have cleaned up di generation and cache. There is one open issue regarding cache not being enabled again after CLI upgrade, #4707, but everything else should be working f

[2016-05-27 13:49] Pakkapao commented on #4618
This affects the **pdf invoice** as well. If customer purchases the same product with different option/price, it will definitely confuse customer.  I'm currently using Magento 2.0.6.

[2016-05-27 13:50] Taral-Patoliya opened #4744 "Use database of 2.0.4 in 2.0.7"
I need to know if is it feasible to use database of 2.0.4 in 2.0.7? i have downloaded the latest version i.e. 2.0.7 and i am having trouble in importing (https://github.com/magento/magento2/issues/4743) the products from 2.0.4 to 2.0.7, so i am considering this option.

[2016-05-27 13:52] Kustorovsky opened #4745 "Custom category attribute with cms block chooser don't work"
## Steps to reproduce
1. Create a new category attribute with source="Magento\Catalog\Model\Category\Attribute\Source\Page"
   $categorySetup->addAttribute(
           \Magento\Catalog\Model\Category::ENTITY, 'topmenu_category_banner', [
               'type' => 'int',
               'label' => 'Category Top Menu Banner',
               'input' => 'select',
               'source' => 'Magento\Cata

[2016-05-27 13:55] zinittest commented on #2876
@xkerkhof Thanks for workaround. Really saved my time. I've experienced this issue on CE 2.0.4. BTW, must be related to #3765.

[2016-05-27 13:56] kgvconsulting commented on #4260
@mazhalai Im sorry but I have the same issue I don't think the upgrade went trough, the bottom right of the admin show v 2.0.2

and yes in the web system update is showing what versions are available but the lowest one in the bottom v 2.02 state - (CURRENT)

![screenshot 2016-05-27 09 54 13](https://cloud.githubusercontent.com/assets/11282348/15610085/773adca6-23f1-11e6-8d00-a738db7d95d6.png)

And

[2016-05-27 14:01] fpsthirty opened #4746 "Missing styles for section in Reports"
Magento v2.0.6
Sections: Ordered, Order Total, Order Count, New
Shortcoming: mistakenly missing styles for drop-down list: http://joxi.ru/V2VR3MQI04nJ72.jpg
Elements ID: gridProductsSold_report_period, gridTotalsCustomer_report_period, gridAccounts_report_period
**Expected class**: admin__control-select

Sections: Views, Bestsellers, Orders, Tax, Invoiced, Shipping, Refunds, Coupons
Shortcoming: m

[2016-05-27 14:02] mazhalai commented on #4744
@Taral-Patoliya you should get 2.0.4 code base and migrate from your existing db to the new one after install. Then you can perform upgrade to 2.0.7 via [CLI](http://devdocs.magento.com/guides/v2.0/comp-mgr/cli/cli-upgrade.html) (preferred if you have access to CLI) or [Web](http://devdocs.magento.com/guides/v2.0/comp-mgr/upgrader/upgrade-start.html).

[2016-05-27 14:05] mazhalai commented on #4260
@kgvconsulting But this is a new issue, please start a new thread.

[2016-05-27 14:07] kgvconsulting opened #4747 "problem with magento2 upgrade"
@mazhalai
 Im sorry but I have the same issue I don't think the upgrade went trough, the bottom right of the admin show v 2.0.2

and yes in the web system update is showing what versions are available but the lowest one in the bottom v 2.02 state - (CURRENT)

![screenshot 2016-05-27 09 54 13](https://cloud.githubusercontent.com/assets/11282348/15610085/773adca6-23f1-11e6-8d00-a738db7d95d6.png)

An

[2016-05-27 14:09] kgvconsulting commented on #4260
@mazhalai OK I did #4747

[2016-05-27 14:16] mazhalai commented on #2300
We have added extra logging and return codes for all CLI commands which can be verified in 2.1.0-rc1.
Please open a new issue if problems persist.
Closing this issue.

[2016-05-27 14:16] #2300 closed

[2016-05-27 14:17] mazhalai commented on #4002
@blizam both issues have been addressed, hence closing this issue. Thank you for reporting this issue.

[2016-05-27 14:17] #4002 closed, assigned to mazhalai

[2016-05-27 14:18] mazhalai commented on #2977
@jkristoffer closing as non responsive.

[2016-05-27 14:18] #2977 closed, assigned to mazhalai

[2016-05-27 14:19] mazhalai commented on #2981
@jkristoffer closing as non-responsive.

[2016-05-27 14:19] #2981 closed, assigned to mazhalai

[2016-05-27 14:22] MomotenkoNatalia commented on #4746
@fpsthirty Thanks for reporting this issue! Which Magento version do you use?

[2016-05-27 14:23] sdzhepa commented on #4667
Hello @Deepthi57

I have verified this issue on 2.0.3 using described steps and settings. I cloned develop branch and perform "git checkout tags/2.0.3"
And  I cannot reproduce it.

What I did:
- used clear Magento instance(just installed).
- created only 1 simple product
- 1 Gift wrapping is created
- Set "yes" for all the options under Gift Options Section
- verified flow for Guest and for Regist

[2016-05-27 14:28] fpsthirty commented on #4746
@MomotenkoNatalia , v2.0.6

[2016-05-27 14:30] mazhalai commented on #4747
@kgvconsulting to clarify you went to admin->config->Web setup wizard->System upgrade clicked on 2.0.5 and upgrade went through without errors, but your version is not updated? I think were was a bug for version not showing up correctly, let me check if that was fixed in any 2.0.x versions.

Right now, it looks like upgrade did go through, since composer.json has the correct version.
You can clari

[2016-05-27 14:36] kgvconsulting commented on #4747
@mazhalai

NO that is incorrect, I started to upgrade from v.2.0.2 to v. 2.0.3 the previous issue #4260, trough WebSetup Wizard and never went trough it stay like for over 12 hours showing that upgrading but notting upgraded at all, Than I did manual with SSH and tried the same for v. 2.0.4 and v 2.0.5 manual upgrade with SSH, unfortunately it never changed in the right bottom corner on admin site

[2016-05-27 14:43] fpsthirty opened #4748 "Emoji: mistaken user registration with a blank firstname and lastname from phone."
## Magento v2.0.6, Steps to reproduce:
1. From mobile phone fill in the fields Name and surname only emoji-symbols: http://joxi.ru/VrwWzjgHKQqxnr.jpg
2. Fill in all other fields valid data.
3. Click "Create an Account".
## Expected result:

After click "Create an Account" see message: "This is a required field.".
## Actual result:

User was created, in admin panel firstname and lastname are empty

[2016-05-27 14:44] katmoon commented on #4735
Hi @sivajik34

Flat indexers can be turned on in Stores > Configuration > Catalog > Catalog > Storefront > Use Flat Catalog Category/Product = Yes

Does this answers your question?

Thanks,
Kateryna.

[2016-05-27 14:44] mazhalai commented on #4747
@kgvconsulting, the issue is that version is incorrectly displayed in admin even though upgrade has worked. (in your case manual upgrade) This has been fixed, but not ported to  2.0.x yet.

Re Web Setup System Upgrade, we have added extensive logging in 2.1.0-rc1 so it should be easier going ahead. Also, did you happen to save any files from var after failed upgrade? It will help us diagnose the p

[2016-05-27 14:47] mazhalai commented on #3010
@smartperf closing as non-responsive.

[2016-05-27 14:47] #3010 closed, assigned to mazhalai

[2016-05-27 14:47] kgvconsulting commented on #4747
@mazhalai I did not have them any longer usualy after cleaning var/ I hold in temp folder for 72 hours, I need to do 2.06 and up to 2.1.0 v upgrade now so I can safe var folder before each upgrade if that would help?

[2016-05-27 14:48] mazhalai commented on #3115
@ashishnai closing as non-responsive.

[2016-05-27 14:48] #3115 closed, assigned to mazhalai

[2016-05-27 14:48] mazhalai commented on #3596
@gnusmus closing as non-responsive.

[2016-05-27 14:48] #3596 closed, assigned to nobody

[2016-05-27 14:50] mazhalai commented on #4445
@AngelsDustz regardless, we have created MAGETWO-53544 to investigate.

[2016-05-27 14:55] kgvconsulting commented on #4747
@mazhalai Please could you confirm if the following is the correct command lines for SSH upgrade? Just want to be sure that I'm doing it correctly. Thank you

---

First performing manual backup (because the web admin site no longer work), Than:

In composer.json changing this line

"magento/product-community-edition": "2.x.x",
I'm changing the line 5 as well "version": "2.x.x", to keep it in sync

[2016-05-27 14:55] mazhalai commented on #4700
@antonlazarchenko  what about steps for `I've updated magento from 2.0.4 to 2.0.7 via composer.` How did you do that? was that git based?

[2016-05-27 14:57] antonlazarchenko commented on #4700
@mazhalai, I've updated actually /app/code folder with it's modules by git. So /vendor changed by composer.

[2016-05-27 15:01] mazhalai commented on #4747
Yes it would be useful to see contents of var if upgrade fails via Web. Also, just confirming that you have the required crons setup.

`composer require magento/product-community-edition 2.x.x --no-update` and `composer update` is redundant since you already modified composer.json. Also, not sure why you need `php bin/magento setup:upgrade` after cache:flush. Everything else looks good.

[2016-05-27 15:02] mazhalai commented on #4700
@antonlazarchenko so you checked out tag 2.0.7? or latest from develop?

[2016-05-27 15:04] yssource commented on #4166
I'm sorry to open this issue here. Actually, this happens under magneto v1.x.
Feel free to close it, if there is no such a similar problem for magento v2.x

[2016-05-27 15:05] cspruiell commented on #4537
Hi @nobuttsalex, we are unable to reproduce the issue with the missing services in the integration screens using any version of PHP. Have you tried clearing your browser cache to flush any outdated JS files?
I have opened a separate internal issue to investigate the issue of the incorrect WSDL list: MAGETWO-53545.

[2016-05-27 15:07] kgvconsulting commented on #4747
OK here is the just created log in var/log/system.log about the failure of admin site web back up

[2016-05-27 13:53:52] main.CRITICAL: Notice: Undefined offset: 1 in /home/flowersv/public_html/vendor/magento/module-backup/Helper/Data.php on line 273 [] []

Could you advise? Thank you

[2016-05-27 15:08] mazhalai commented on #4723
Thank you @fooman we have created MAGETWO-53546 to investigate and fix.

[2016-05-27 15:11] fooman opened #4749 "2.1.0-rc1 Utilise Catalog module's major version bump"
This commit here https://github.com/magento/magento2/commit/90f4decc16357dddfc91366d8b37f2668be18631 tries to prevent a breaking change for the Catalog module. It does so by directly using the ObjectManager instead of using proper Dependency Injection hiding away the dependencies essentially writing worse code.

Since we have a breaking change in the Catalog module any way due to https://github.co

[2016-05-27 15:12] choukalos commented on #4434
Converting to a performance bug; internal tracking - MAGETWO-53547

[2016-05-27 15:13] mazhalai commented on #4747
@kgvconsulting Do you have any backed-up files under `var/backups/` ?

[2016-05-27 15:14] kgvconsulting commented on #4747
Yes a lot :)

![screenshot 2016-05-27 11 13 58](https://cloud.githubusercontent.com/assets/11282348/15612290/233998d0-23fc-11e6-9bdb-96b532f4222b.png)

The last 2 on May 1st I did manually the web back up refuse to work

this from SSH image

~/public_html/var/backups]# ls -alh
total 3.1G
drwxr-xr-x  2 flowersv flowersv 4.0K May  1 13:52 ./
drwxr-xr-x 11 flowersv flowersv 4.0K May 27 11:17 ../
-rw-

[2016-05-27 15:15] choukalos commented on #4696
We were not able to apply the new data grid in it's entirety to the admin/product grid.  We're tracking this internally as ( MAGETWO-37743 )

[2016-05-27 15:18] choukalos commented on #4244
Note prior to doing a migration - need to ensure indexes are all indexed/completed.

Closing.

[2016-05-27 15:18] #4244 closed, assigned to kandy

[2016-05-27 15:24] mazhalai commented on #4747
@kgvconsulting move  backup-2016-04-30-10-12.tar.gz and backup-2016-05-01-01-19.tar.gz to another folder outside of magneto code base, it looks like it wasn't created by Magento, hence not in the correct filename format, and hence throwing errors.

[2016-05-27 15:26] sevos1984 commented on #4748
Created internal issue MAGETWO-53548, thanks for reporting!

[2016-05-27 15:30] kgvconsulting commented on #4747
I did move them however the back up dont work, now is showing in system.log this error

[2016-05-27 15:27:32] main.CRITICAL: Item (Magento\Framework\DataObject) with the same id "1462109407_db" already exist [] []
[2016-05-27 15:29:23] main.CRITICAL: Item (Magento\Framework\DataObject) with the same id "1462109407_db" already exist [] []

[2016-05-27 15:38] jzahedieh opened #4750 "Mini/sidebar shopping cart limit/count not implemented"
## Steps to reproduce
1. Install Magento from `version 2.0.6 (enterprise)` branch with sample data.
2. Set store configuration `Maximum Display Recently Added Item(s)` to `2
   (_Located under Sales > Checkout > Shopping Cart Sidebar_)
3. Clear caches
4. Add 3+ separate items to basket.
5. Assert limited to two in mini cart / checkout sidebar
## Expected result
1. Assert 2 items are displayed in m

[2016-05-27 15:45] antboiko commented on #4724
@erikhansen

Hello Erik, thank you for the suggestion.

Please let me show you how this option will look in 2.1
![enable product - yes](https://cloud.githubusercontent.com/assets/15442705/15612304/df89ff18-2436-11e6-8a86-8fb5b6dbf43a.png)
![enable product - no](https://cloud.githubusercontent.com/assets/15442705/15612310/e7658df6-2436-11e6-815e-8ac3be812f44.png)

"Enable Product" is more visible n

[2016-05-27 15:52] erikhansen commented on #4724
@antboiko I think the UI in Magento 2.1 is much better! My only suggestion would to be change the disabled state of the toggle from grey to red, as it will make the state of the toggle more clear. Green/red are pretty well-established colors for on/off.

[2016-05-27 16:21] sivajik34 commented on #4735
Thank you.sorry for silly question/ raising an issue.

[2016-05-27 16:21] #4735 closed, assigned to voleye

[2016-05-27 16:55] mazhalai commented on #4747
@kgvconsulting that does look strange. Will investigate in scope of  MAGETWO-53543

[2016-05-27 16:57] kgvconsulting commented on #4747
ok thank you will wait for your feedback

[2016-05-27 17:01] alihalabyah commented on #2400
For anyone still facing this issue, apparently it is related to the permissions on the log files, Magento keeps trying to write whatever log before showing the successful page, therefore just give the correct permissions while the indicator still showing 90% and on the next poll request you'll get the success page

[2016-05-27 17:10] mazhalai commented on #2400
@alihalabyah please do not post on closed issues, create a new one.

[2016-05-27 17:15] mazhalai commented on #4700
@antonlazarchenko  how exactly did you update app/code? physically copy files?

I tried the following steps and cannot reproduce your error:
- git checkout tag/2.0.4 -b 2.0.4
- install
- bin/magento sampledata:deploy
- bin/magento setup:upgrade
- git commit your changes since composer.json and lock were updated.
- git checkout tag/2.0.7 -b 2.0.7
- composer update (this removes the sample data modu

[2016-05-27 17:19] piotrekkaminski commented on #4710
We are aware of this issue. Internal issue ID: MAGETWO-53223

[2016-05-27 17:21] Ctucker9233 commented on #4623
Any thoughts on this issue? I was able to get it working simply by including the store name in the url and disabling the "route to base url" option. I'd prefer to set it up in the way the documentation says to so that nothing could possibly break in the future.

[2016-05-27 17:22] mbrinton01 commented on #4166
@yssource have you tried to reproduce it against M2.x?

[2016-05-27 17:23] #4101 closed, assigned to nobody

[2016-05-27 17:27] Ctucker9233 opened #4751 "Pressing enter in SKU field under related products saves the product instead of entering the SKU number"
## Steps to reproduce
1. Edit product
2. Go to related products tab
3. Reset filter to show all products
4. Type in a sku number in the sku field
5. Hit enter
## Expected result

The system searches for that sku number and displays it.
## Actual result

Product gets saved and returns to main catalog screen. SKU search only works if search button is pressed.

This is not a big issue just more of an

[2016-05-27 17:29] piotrekkaminski commented on #4080
Fixed internally. Will be published soon.

[2016-05-27 17:29] #4080 closed, assigned to guz-anton

[2016-05-27 17:41] wittness87 opened #4753 "Default Country (for address) at checkout is always United States"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. All settings in backend have been changed so default country and default shipping country are United Kingdom.
3. Add product to cart and proceed to checkout.
## Expected result
1. Add product to cart and proceed to checkout, United Kingdom should be the default shipping country (for address)
## Actual result
1. Install Magento from

[2016-05-27 17:51] piotrekkaminski commented on #4074
The best place to ask questions like this is magento.stackexchange.com. Github is only for error reports and contributions.

[2016-05-27 17:51] #4074 closed, assigned to ishakhsuvarov

[2016-05-27 18:04] stamster commented on #4700
Yeah, some errors of this kind are hard to reproduce. Often I wonder what in the world could cause so much damage to bring your entire instance down. Trying the same on the exact same vritual server works. But, it's not that simple as while in a development process you configure various things.

Personally, I would (I did) avoid sample data at all costs if you need to develop on Magento2. It can c

[2016-05-27 18:30] piotrekkaminski commented on #4071
This seems related to MAGETWO-46014 (which is currently merged into develop branch) and many Github issues https://github.com/magento/magento2/issues/4336
https://github.com/magento/magento2/issues/4186
https://github.com/magento/magento2/issues/3503

If you still experience it on develop version, please open a new issue referencing this.

[2016-05-27 18:30] #4071 closed, assigned to ishakhsuvarov

[2016-05-27 18:34] piotrekkaminski commented on #2962
Closing in favor of more generic https://github.com/magento/magento2/issues/4068

[2016-05-27 18:34] #2962 closed, assigned to nobody

[2016-05-27 18:34] piotrekkaminski commented on #2794
Closing in favor of more generic https://github.com/magento/magento2/issues/4068

[2016-05-27 18:34] #2794 closed, assigned to nobody

[2016-05-27 18:42] piotrekkaminski commented on #4068
Internal issue  MAGETWO-53555

[2016-05-27 18:55] piotrekkaminski commented on #4061
Internal issue MAGETWO-53557

[2016-05-27 19:06] piotrekkaminski commented on #4058
Issue was fixed and merged to develop branch.

[2016-05-27 19:06] #4058 closed, assigned to ishakhsuvarov

[2016-05-27 19:06] MauroNigrele commented on #4061
**\- Update -**
Actually, this bug also apply for any "no-admin" user regardless the permissions.

I guess that adding the below code on: `\Magento\Catalog\Controller\Adminhtml\Product\SuggestAttributeSets` this should be fixed:

[code]

Sorry no time for PR :(

[2016-05-27 19:08] piotrekkaminski commented on #4052
Internal issue MAGETWO-53558

[2016-05-27 19:09] piotrekkaminski commented on #4053
Internal issue MAGETWO-53559

[2016-05-27 19:12] kgvconsulting commented on #4747
@mazhalai

when try to do:

composer update in root of magento install I'm getting this error, could you help, please

flowersv@flowersvibe.com [~/public_html]# composer update
bash: composer: command not found
flowersv@flowersvibe.com [~/public_html]# php composer update
Could not open input file: composer
flowersv@flowersvibe.com [~/public_html]#

[2016-05-27 19:13] piotrekkaminski commented on #4049
internal issue MAGETWO-53560

[2016-05-27 19:14] piotrekkaminski commented on #4048
Internal issue MAGETWO-53561

[2016-05-27 19:24] piotrekkaminski commented on #4046
It is better to ask this on magento.stackexchange.com. If it turns out to be Magento bug - please create new issue referencing this.

[2016-05-27 19:24] #4046 closed, assigned to NadiyaS

[2016-05-27 19:26] piotrekkaminski commented on #4045
internal issue MAGETWO-53563

[2016-05-27 19:26] mazhalai commented on #4747
@kgvconsulting you do not have composer installed. `curl -sS https://getcomposer.org/installer | php`
and then `mv composer.phar /usr/local/bin/composer` or to where ever your bin folder is.

[2016-05-27 19:31] kgvconsulting commented on #4747
Ok I need to move it after installation to server-root level /usr/local/bin/composer with root credentials or to magento-root folder with web user credentials?

[2016-05-27 19:31] choukalos commented on #4060
Hello @SamTay you are correct that's how search criteria works [doc link](http://devdocs.magento.com/guides/v2.0/howdoi/webapi/search-criteria.html).

What would you like to see for search criteria?

I've created an epic to track this request internally ( MAGETWO-53564 ).

[2016-05-27 19:36] mazhalai commented on #4747
server root with root credentials.

[2016-05-27 19:49] piotrekkaminski commented on #4043
Internal issue MAGETWO-53565

[2016-05-27 20:06] techgeeksquared commented on #3963
@mazhalai but, how do I implement this fix into an existing structure?

[2016-05-27 20:12] kgvconsulting commented on #4747
Ok Thanks so far all is good, however i got to issue when downloading from magento github repository, for whatever reason my github credentials dont work

flowersv@flowersvibe.com [~/public_html]# composer update
Loading composer repositories with package information
    Authentication required (repo.magento.com):
      Username: xxxxxxxxxxxxxxx
      Password:

  [Composer\Downloader\TransportExc

[2016-05-27 20:16] samtay commented on #4060
Ability to specify nested and/or logic, see above example.

[2016-05-27 20:19] degaray commented on #2961
Same on 2.0.6

[2016-05-27 20:20] degaray commented on #2961
Anyone has a work around?

[2016-05-27 20:31] kgvconsulting commented on #4747
@mazhalai Success after this update the magento admin started to show correct version:

![screenshot 2016-05-27 16 30 52](https://cloud.githubusercontent.com/assets/11282348/15620489/7abd965c-2428-11e6-915e-13a75fbad779.png)

[2016-05-27 20:34] kgvconsulting commented on #4747
@mazhalai unfortunately the backup didn't fix it continue not to display the existing back up files and cant do new back up also the system.log have the same error:

[2016-05-27 20:32:00] main.CRITICAL: Item (Magento\Framework\DataObject) with the same id "1462109407_db" already exist [] []

[2016-05-27 20:35] piotrekkaminski commented on #4037
internal issue MAGETWO-53568

[2016-05-27 20:36] kgvconsulting commented on #4747
@mazhalai  the web system upgrade now show the correct current version too

![screenshot 2016-05-27 16 35 10](https://cloud.githubusercontent.com/assets/11282348/15620593/1fa3c2b8-2429-11e6-84ad-73b21626188e.png)

[2016-05-27 20:42] kgvconsulting commented on #4747
@mazhalai

Just one question when I'm upgrading from v 2.0.7 to v 2.1.0-rc 1 I need to change the line in composer.json file

"magento/product-community-edition": "2.1.0",

or

"magento/product-community-edition": "2.1.0-rc 1",

Thank you

[2016-05-27 20:43] piotrekkaminski commented on #4035
Internal issue MAGETWO-53569

[2016-05-27 20:44] piotrekkaminski commented on #4026
Can you try if it still happens on latest develop branch? Can you provide more details how to reproduce - only on import? what is the file structure @jasonacres ?

[2016-05-27 20:45] piotrekkaminski commented on #4023
Seems like it is solved now. Please open a new issue referencing this one if you still have the problem.

[2016-05-27 20:45] #4023 closed, assigned to nobody

[2016-05-27 20:48] duffner opened #4754 "Theme update selection missing in 2.1 Branch"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Went to Stores -> Design ->  Looked for themes (Nothing Found)
## Expected result
1. Have the admin ability to change the theme
## Actual result
1. Only robot settings displaying in Design Tab
   <img width="1245" alt="screen shot 2016-05-27 at 3 47 08 pm" src="https://cloud.githubusercontent.com/assets/7387019/15620832/4e2f7e9e-2422-1

[2016-05-27 21:46] LoganGS commented on #4430
I installed Magento via composer, so my core modules are in the **"/vendor"** directory.

I tracked down where the info was being inserted in the database. First breadcrumb was in this file:

[code]

At the bottom of the method **_saveProducts()**, we are calling **_saveProductAttributes()**, passing through the attributes (including the **url_key**). The **_saveProductAttributes()** method is cal

[2016-05-27 22:03] cspruiell commented on #4365
hi @devdesco-ceo -- can you provide the source you were minifying in your first example?

[2016-05-28 01:28] duongquyet commented on #4691
Hi @guz-anton ,
We try change it and it seem like work for me. Thanks you.

[code]

[2016-05-28 01:42] stevekem commented on #4710
https://github.com/magento/magento2/issues/4321

[2016-05-28 03:41] kgvconsulting commented on #4747
@mazhalai

OK I found the correct version and updated to v. 2.1.0-cr1

the admin site show the correct version in the bottom right

![screenshot 2016-05-27 23 24 36](https://cloud.githubusercontent.com/assets/11282348/15624873/0ca08a90-2463-11e6-9869-e540bf94b015.png)

However there is a issue with web wizard when access it ask for magento keys (public and private) and even after I enter them the

[2016-05-28 03:58] tranductrong92 commented on #4739
I resolve by $argv = $_SERVER["argv"]; @@

[2016-05-28 03:58] #4739 closed, assigned to nobody

[2016-05-28 07:07] sivajik34 commented on #4754
@duffner go to content ->design->configuration .you can find there.

[2016-05-28 14:17] liquidia commented on #4321
same issue works better without merging css / js

[2016-05-28 14:18] liquidia commented on #4710
Please note its not only  admin but front end gets slow down too . i am running latest version 2.07

[2016-05-28 14:19] Deepthi57 commented on #4667
Hi,
Thanks got checking.  I have installed the latest version and it's working
fine. Thanks for the help
On 27 May 2016 7:54 pm, "Serhii Dzhepa" notifications@github.com wrote:

[2016-05-28 14:38] peec opened #4755 "Payment settings disappears on deploy routine [braintree, paypal]"
**Magento version:** 2.0.7
**PHP version:** 7.0.3

Every time i deploy payment configuration from sales tabs is flushed.
**And customers can NOT use payment methods.**

![payment-methods](https://cloud.githubusercontent.com/assets/131546/15627897/351b4ff6-24f3-11e6-9339-a2ad5d0822ff.png)

The deployment routine is basically this:
1. Run setup:install so all instances ( i have multiple support ) ge

[2016-05-28 15:08] ghost commented on #4747
FWIW, just as another point of view, I successfully upgraded from CE 2.0.2 with sample data to CE 2.0.7, creating backups along the way. I verified the system worked in both versions by placing an order on the storefront. The issue I found was that, after upgrade, I had to reapply permissions. I got the "We're sorry, an error has occurred while generating this email." on the storefront, which is d

[2016-05-28 15:15] ghost commented on #4697
@hostep acknowledged, thanks!

[2016-05-28 15:20] gizmocn commented on #3843
Just try 2.1 branch, the problem is still exist, any one can help?

[2016-05-28 15:23] gizmocn commented on #3843
@voleye Can you help for this?

[2016-05-28 15:27] ghost commented on #4686
Looks like @flipflap 's `composer.json` is correct. There is only one thing in the `repositories` section. @mazhalai is correct that the most typical reason for that error is missing auth keys.

You might also have an issue reaching `repo.magento.com` from your Magento server. Can you verify it's reachable by pinging it and also posting the result of `nslookup repo.magento.com`?

[2016-05-28 15:34] kgvconsulting commented on #4747
@xcomSteveJohnson - Thanks, but with me is not the case, I don't have issues with permissions, those may arise if during installation and upgrade you mix root and web user owner during those processes, to avoid that before do upgrade or any type install you should log out root and log in and work only as web user on magento2, than you would never get permissions issues.

Our issue with back up is

[2016-05-28 15:36] ghost commented on #4670
If you use Apache, you can try adding this to `.htaccess`. I have never tried it but it might work:

[code]

Let us know if it helps.

[2016-05-28 16:15] neoshd opened #4756 "Magento 2.0.7 Component Manager Problem (Please wait loading), Checking Component Dependency Problem"
Hi,
i installed magento 2.0.7
The problem is that, when i am in the Component Maganer, and i Sync my account, it showns an infinite "please wait" loading, and i can't install any extension at all. (see photo)

So i decided to upgrade to the latest version of magento 2.1 rc1, but i have this problem (see photo)
and can't continue.

How can i resolve this iusses, i can't do anything.
Thank you.

![l

[2016-05-28 16:18] yssource opened #4757 "Multiple stores URL rewrite don't work correctly."
## Steps to reproduce
1. Install Magento from `tag 2.0.7` branch.
2. Set up two stores for one website. And configure two stores with two different root categories respectively.

   Main Webstie

[code]

My categories looks like

[code]

My default store is USA Store
1.  **[Example]** Selecting store switcher from USA to Germany.

http://m2.dev/?___store=de_de&___from_store=en_us
1. Selecting Groc

[2016-05-28 19:17] ghost commented on #4756
I advise against upgrading because RC1 is probably less stable than 2.0.7.

From your Magento server, can you ping `repo.magento.com`? What does `nslookup` tell you?

[2016-05-28 19:22] ghost commented on #4655
@dv8nate I am pretty sure we didn't publish sample data for RC1 and I'm not sure why it shows up in the component list. The fact your versions show a mix of RC1 and 100.\* versions indicates what you can is to either:
-  Not upgrade to RC1; it's probably less stable than 2.0.7
-  During System Upgrade, set the version of each sample data component to the largest number that is _not_ RC1. I did suc

[2016-05-28 19:50] neoshd commented on #4756
it shows me "ping: icmp open socket: Operation not permitted"
how can i solve it?
`

[2016-05-28 20:01] ghost commented on #4655
Could be a [permissions issue on ping itself](http://ubuntuforums.org/showthread.php?t=2079091) or [possibly this](http://serverfault.com/questions/696281/ping-icmp-open-socket-operation-not-permitted-in-vserver), or it could be a firewall or something like that. Have you checked your firewall settings?

[2016-05-28 21:01] vcpawate commented on #4515
please help

[2016-05-28 22:32] ghost commented on #4756
Same problem here. I upgraded from setup wizard from 2.0.6. I can get to system upgrade and system config. I've tried with cache disabled and enabled. Any help?
![image](https://cloud.githubusercontent.com/assets/18555775/15630292/47d266b6-24e9-11e6-97b3-49a8569be450.png)

[2016-05-28 22:59] neoshd commented on #4756
i set to 755 the permissions of public_html folder, and the Checking Component Dependency problem is gone.
But now i have another problem:
i have to disable the checkout module of magento, and in the readiness check i have the Checking Component Dependency problem again.

[2016-05-29 04:43] tehXor commented on #1691
@pronto2000 I'm not sure if there is a country for which this statement is true and if you are living in it but for most parts of the world this is bullshit (one of my clients ships worldwide and works with nearly all international and some national parcel services and none ever required a phone number).

And yes, in Germany you can even get sued for it if you are selling products where it is not

[2016-05-29 06:55] hectornguyen commented on #2797
I'm using Magento 2.0.7 at this moment, and seem it still not be patched yet.

[2016-05-29 08:43] yssource commented on #4757
I'm sorry, it's not the issue about magento 2. Since, I have installed a extension which changed the topmenu.phtml. After disabling the extension, M2 works as expected.

[2016-05-29 08:43] #4757 closed, assigned to nobody

[2016-05-29 09:11] rudik99 opened #4758 "Up"
## Steps to reproduce
1. Install Magento from `main` branch. Problem exists from ver 2.0.0 to 2.0.7
2. Go to Products > Catalog
3. Select two or more products and choose "update attributes"
4. Select any field that has [Inc. Tax] or similar tool tip
5. Start typing
## Actual result
1. Text that you are typing is been hidden by the "tip"
## Expected result
1. The [Inc. Tax] or similar, either disap

[2016-05-29 10:21] andidhouse commented on #4710
i can confirm that merging css or / and javascript has destroyed our installation (2.0.7.) - tested twice.
After merging very slow front and backend and the system can't find the merged css and javascript files.

no way to turn this back i think... so for now:
DO NOT USE THIS OPTIONS AS IT WILL MAYBE KILL YOUR INSTALLATION.

[2016-05-29 10:33] mengento opened #4759 "order product options doesn't display"
My php version is 7.0.6
magento version is 2.0.7
I Submit Invoice after,
order product options doesn't display
![20160529181622](https://cloud.githubusercontent.com/assets/10205547/15632616/3265c844-25cb-11e6-8898-59e08e53a7ba.png)

![20160529181700](https://cloud.githubusercontent.com/assets/10205547/15632661/11ff4674-25cc-11e6-9fb4-c56579640fc1.png)

![20160529181851](https://cloud.githubusercon

[2016-05-29 13:18] minhluan259 opened #4760 "Install magento 2.1 with sampledata, progress 62% and never done"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Add sampledata  2.1

Ubuntu, nginx, php 7

Install log

Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':
Installing schema...

Module 'Magento_Advanced

[2016-05-29 13:38] sydekumf opened #4761 "Plugin does not work for getJsonConfig() of Configurable-Block"
## Steps to reproduce
1. Use the following plugin:

[code]

[code]
1. Load configurable product on the frontend
## Expected result
1. The plugin gets executed
## Actual result
1. The plugin does **not** get executed
2. The Configurable block gets called from a template `Magento_Swatches::product/view/renderer.phtml` and it seems that there is no interceptor for the block which could call the plugi

[2016-05-29 13:44] ghost commented on #4760
My understanding is that Release Candidate 1 sample data wasn't published. In any case, we [advise against](http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC1EE.html) trying it. Sorry for your trouble.

[2016-05-29 13:46] ghost commented on #4756
Try running the [module dependency report](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-depen.html#config-cli-depend-rpt-run) and disable the other modules that checkout depends on.

[2016-05-29 14:13] kandy commented on #4761
At which area the plugin is registered?

[2016-05-29 14:15] sydekumf commented on #4761
Global area

[2016-05-29 14:19] ankitce opened #4762 "Download link in order confirmation email"
## **Steps to reproduce**
1. Create order of downloadable product in admin panel with "Send email.." option ticked.
2. Check the order confirmation email and click/tap on the 'Download' link.
## **Expected result**

It should redirect to download link on frontend.
## **Actual result**

It redirects to 'Admin panel' and also reveals the admin URL key.

So, it's _functional_ as well as _security_ is

[2016-05-29 14:19] kandy commented on #4761
Can you review that in your installation do not registered other plugins for this class?
Also can you check that your module is enabled  and cache and generated files was cleaned?
And please disable page cache and block cache.

[2016-05-29 15:02] #4761 closed, assigned to nobody

[2016-05-29 15:09] neoshd commented on #4756
i resolved the checkout module problem, but remains the most important problem:
can't sync the profile and installing the extensions..

[2016-05-29 15:47] BeniSt commented on #4170
I have the same issue:

Magento 2.0.7
PHP Version 7.0.4.
No Varnish, Redis
HTTPS only
No Sample Data
Current application mode is default
No javascript bundling, merge, or minify.
No CSS merge or minify.
No HTML minify.
Enabled Single Store Mode.
No CDN
Chrome browser.

[2016-05-29 16:51] GlobalOutsourcing opened #4763 "Categories not showing on home page but showing on all other pages"
1. Installed Magento successfully with no issues,  logged into admin after and checked frontend without any errors
2. Created sample category
3. Refreshed cache
4. Navigated to home page and no categories, then navigated to sign in and category displayed, same with create an account but when navigating to home page then the categories do not show.

No errors in log in relation to this.

Please ass

[2016-05-29 18:33] ghost commented on #4763
Do you have "full page cache enabled"? What build?

[2016-05-29 18:41] GlobalOutsourcing commented on #4763
No, I have changed it to Varnish. I got Magento 2.0.7 from composer and installed through setup wizard without any issues.

Web rewrites enabled, https by default and added a product also and no issues but the categories are not showing on homepage only on fresh installation. Reindex also. Another installation environment I indtalled of Magento 2.0.6, 2 days ago is fine and showing categories on h

[2016-05-29 18:54] ghost commented on #4763
The biggest problem I've had in the past was "folder-file" permissions setting on the server. After 3 different host, I found one that understands Magento 2. No issues on the frontend at all.

[2016-05-29 19:25] GlobalOutsourcing commented on #4763
Permissions are fine as I have followed magento official documentation and adoing the owmer to the specities grouP and rinning installtation through it. Tested checkout, uploads etc. Am on a dedicated server so powerful enough to handle the application. Hosting is not the issue for me nor am looking for another provider, rather want to find out exactly what the issue with this installation is for

[2016-05-29 19:28] commcad opened #4765 "2.1.0-rc1 - Web Setup clean-up scripts (cache type not supported)"
## Steps to reproduce
1. Installed Magento 2.0.7 and upgraded to 2.1.0rc using Web setup (All good, thank you!)
2. From 2.1.0rc; using the WebSetup wiz > Sync > install extension
3. Proceed to install steps
## Expected result
1. To become millionaire overnight so I can quit working forever ;)
## Actual result
1. Although the extension installed flawlessly and works without a glitch, I did receive

[2016-05-29 19:33] commcad commented on #4765
Others: Notice the diff of time zones in the log (screengrab above). Time traveling!

[2016-05-29 21:13] komsitr commented on #2619
The issue as mentioned by @eworksmedia still persists on Magento 2.0.7
Further to his feedback, I try to add a product to multiple categories. The URL is only generated correctly when it is being viewed on the assigned categories' page. Please find the following scenarios:
1. Add product to "Sub Category 1" only
- At Category 1 the URL is "/catalog/product/view/id/5/s/product-1/category/3/"
- At S

[2016-05-29 21:39] commcad commented on #4763
Jeff is correct, perms. Had to deal with this more than once now and found out that the virtual host's root folder needed permission more than anywhere else. Just brute force it:
- note the sudo everywhere

$ cd /var/www/  (i.e. in front of your vhost root)
$ sudo chown -R youruser:www-data .
$ sudo chgrp -R www-data .
$ sudo chmod -R ug+rw .

$ cd in your var/www/magento2folder
$ sudo find . -typ

[2016-05-30 01:37] danny-balance commented on #4305
Hi @mazhalai is there any update to this issue?

[2016-05-30 03:52] vutrankien opened #4767 "Paging magento 2 not correct when use group in collection"
**Version** : Magento2-0.5
**Steps to reproduce**

I using code :

[code]

**Expected result**

![1](https://cloud.githubusercontent.com/assets/14917460/15641912/2cdd1802-266e-11e6-8169-ac0ddb763ed0.png)

**Actual result**

![2](https://cloud.githubusercontent.com/assets/14917460/15641916/2f61d31a-266e-11e6-9b52-cf0daf457097.png)

**Note**

The count total items not correct

**Posible fix**

I che

[2016-05-30 07:53] ishakhsuvarov commented on #4667
@Deepthi57 Thank you for the update. Closing the issue for now, please reopen if you have any additional questions.

[2016-05-30 07:53] #4667 closed, assigned to ishakhsuvarov

[2016-05-30 08:34] NadiyaS commented on #4666
Hi @creatuitydevelopers ,
thank you for reporting this issue. This bug is already fixed and fix will be merged soon. Internal ticket is MAGETWO-42062

[2016-05-30 08:45] 2007lf opened #4768 "Get img or css file absolute path"
I have a question, help someone can help me.
This is my website path, I create new theme, now I want get the file a.jpg absolute path, how should I write code?
/var/www/magento2/app/design/frontend/Test/Ttheme/web/images/a.jpg

[2016-05-30 08:51] 2007lf commented on #4768
When I use magento1, I write code like this,

[code]

[2016-05-30 08:52] NadiyaS commented on #2961
Hi,
this issue was also reported in #4666.
Bug is already fixed and fix will be merged to develop branch in few days.

[2016-05-30 09:00] GlobalOutsourcing commented on #4763
Hi commcad,

Thank you very much for the detailed instructions.

I have followed it to the latter but unfortunately no joy with the categories appearing in the homepage.

I have checked the system.log and noticed this at the end after following the above:

`[2016-05-30 08:08:13] main.CRITICAL: Invalid template file: 'Magento_Catalog::js/components.phtml' in module: '' block's name: 'catalog_catego

[2016-05-30 09:14] antonlazarchenko commented on #4700
@mazhalai, I did approximately following on remote server:
- git pull origin mybranch (as i said - there is my composer, app/code, etc)
- composer install
- web/setup via browser interface ising a private tab
- bin/magento setup:static-content:deploy en_US
- bin/magento setup:di:compile
  Then I successfully removed sampledata locally "sampledata:remove", made commit and push to git.
- remote - gi

[2016-05-30 09:18] rganin commented on #4112
Could reproduce the issue.
@stevenvdp great thanks for your input, proceeding with fix.

[2016-05-30 09:25] bh-ref commented on #4112
@stevenvdp thank you for diving into it!

@rganin we actually do have some extensions related to url-keys, but they should not interact in that way. But I am happy to test the eventual fix against our extension.

[2016-05-30 09:40] dartanandan commented on #4327
Am checked this version also, still i get same issue.

[2016-05-30 10:02] lucscu commented on #3364
Why no one reply to this huge bug?

[2016-05-30 10:04] mzeis commented on #3537
I experienced the same problem and can confirm that the suggestion by @wojtekn works.

[2016-05-30 10:14] DRAJI opened #4769 "To call a phtml file in cms page"
I have googled "How to add a phtml file to cms". I got an answer like below

**{{block class="Magento\Framework\View\Element\Template" name="test_file" template="Magento_Theme::html/test.phtml"}}**

But it doesn't work for me. It returns an empty page & generates 500 internal server error.

How should i call phtml file in cms page? I'm using Magento 2.0.5 version

[2016-05-30 10:17] anton-huz commented on #2697
Hi @joebusby,
It's great that such CDN configuration works for you.
But _Minify HTML_ and _GZip compression_ not the same. Currently the issue with html content in Magento App. It's about  _Minify HTML_. Html cannot be minifying properly by 3rd party app. Because html templates contain business logic in html comments, that should be trimmed in general approach.

_GZip compression_  works great and

[2016-05-30 10:19] slackerzz opened #4770 "/lib/web/css/docs/dropdowns.html examples are broken"
Visit http://magento2-demo.nexcess.net/pub/static/frontend/Magento/blank/en_US/css/docs/dropdowns.html
(as far as i know this should be the "official" frontend demo) and try to see a dropdown, i couldn't.

[2016-05-30 11:01] designhunger commented on #4737
I get the same error, but not exclusive in the order confirmation, but on all magento mails (magento 2.0.6)

[2016-05-30 11:20] sunilit42 opened #4771 "Checkout edit address functionality missing"
Hello,

I am login as customer and i have 5 address in my account.

I am on checkout page now, i want to edit shipping address on checkout page but there is no functionality for same.

[2016-05-30 11:21] NadiyaS commented on #4145
Hi @jaimestuardo , @kanduvisla ,
we can not reproduce this bug neither in 2.0.2 nor in 2.0.4 Magento version.
Please provide more details steps to reproduce.

Thanks

[2016-05-30 11:22] sunilit42 opened #4772 "Save Address on checkout not working"
Hello,

I am login as customer and i want to add new address on checkout page, Magento 2 provide that, but in that popup showing save address in address book checkbox but that is not working.

[2016-05-30 11:24] antboiko commented on #4715
Hi @rasmuswikman , thanks for your inquiry. We've created internal ticket MAGETWO-53590 for this improvement and added it to the backlog.

Best,
Anton.

[2016-05-30 11:29] itaymesh commented on #4745
Hi,
Is there any update about this issue?
Thanks

[2016-05-30 11:46] MidnightDesign opened #4773 "Can't update store view specific labels of order statuses"
## Steps to reproduce
1. Open an order status in the admin area
2. Enter a new store view specific label without changing the status label
3. Hit "Save Status"
4. Open the same status again
## Expected result

The label you just entered is still there
## Actual result

The label is still the same

The problem is that [`isModified()`](https://github.com/magento/magento2/blob/develop/lib/internal/Ma

[2016-05-30 11:57] kanduvisla opened #4774 "Fixed Product Taxes (FPT) are not used from simple products"
## Steps to reproduce
1. Create a configurable product
2. Give it's child-products different FPT values
3. Add the product to the cart
## Expected result
1. That the product in the cart has the FPT applied of the child product
## Actual result
1. The FPT of the parent product (configurable) is applied instead.

[2016-05-30 12:17] jaimestuardo commented on #4145
Just go to Sales -> Transactions option. Error appears immediately, Maybe, it is because I have the site locale to Spanish.

[2016-05-30 12:26] jaimestuardo commented on #4145
@adragus-inviqa I tried it but no avail:

[code]

Maybe I have to modify Magento core?

[2016-05-30 12:30] alextotal commented on #3601
HI Kevin and Guz, I'm facing the same issue but it happens in chrome, firefox and edge. I can't see any CMS content nor products, on backend and the console is giving me this error: http://i.imgur.com/F8hYii6.png
Any ideas how can I find those files it says I'm missing or how can I solve it?

[2016-05-30 12:40] stamster commented on #4712
I have installed fresh instance - and this issue is present, i.e. I was able to reproduce it in a same manner.

[2016-05-30 12:55] peec commented on #4755
After further investigation it seems that the **encrypted fields that disappears after deploying**.

Affected Braintree values that gets removed:
- Public Key
- Private key

Affected PayPal values that gets removed ( Website Payments Standard and  Express Checkout):
- API Username
- API Password
- API Signature

All other non encrypted information stays.

[2016-05-30 13:17] NadiyaS commented on #4263
Hi @snez,
we can not reproduce this bug neither on 2.0.4 Magento version nor on latest version (develop branch).
Please provide more detailed information and do not forget to mention version number.

[2016-05-30 13:45] jaimestuardo opened #4775 "Failed login alert message are not shown when the error occured"
This is happening to me always. Currently, I have 2.0.6 version.

In frontend, when I enter bad login information, no error mesage appears in the page. It just does not login.

when I finally do a successful login and cause a message to appear, for example, by adding a product to shopping cart, the login failed error appears, together with the new alert.

If, for example, do 5 failed login attempt

[2016-05-30 13:53] grasdaggel opened #4776 "Changing the default sorting on category overview"
We want to change the order of the products on the category page. Right now its not really clear how its sorted. We want to have the most new and latest products on top left (Pos 0 for example), the second-latest product on Pos 1, and so on.

Its not very clear how Magento2 sorts the products by default, but its not ascending, and we want it ASC. How can we achieve this?

Or is it anywhere documen

[2016-05-30 14:58] vovan1983 opened #4777 "Authorize.net isn't worked after upgrade from 2.0.4 to 2.0.7."
After upgrade Magento 2 version from 2.0.4 to 2.0.7 don't work standart Magento's payment method "Authorize.net". It not appear in checkout payment page - "No Payment method available.". In version 2.0.1 - 2.0.4 this module is worked.
And my custom payment method based on inchoo_stripe began get message "Please enter a valid credit card expiration date.".
I've tryied install this both modules sepa

[2016-05-30 15:12] krejcif commented on #2463
Magento EE 2.0.6. Same problem.

[2016-05-30 15:21] Fdec opened #4778 "Sorting configurable products by price doesn't work when simple product has special_price"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Edit a simple product (which is a variation of a configurable product)
3. Add special_price
4. Go in catalog product list
## Expected result
1. sorting by price based on min_price of a simple product
## Actual result

![capture du 2016-05-30 17 08 44](https://cloud.githubusercontent.com/assets/5850723/15652972/3440b498-268a-11e6-9f

[2016-05-30 15:25] kanduvisla opened #4779 "Simple products not working properly when child product has custom options set in database"
I have this strange situation in a clients' installation: I have a configurable product (ID=111) and it has 2 simples attached (ID 112 & 113). Now when I save it in the backend, the following happens:
- In my 'configurations' section there is only one product. This is wrong.
- In my databases' `catalog_product_super_link` there are 2 relations (as expected).
- In my databases' `catalog_product_rel

[2016-05-30 15:32] itaymesh commented on #4745
It seems like to custom attributes are not being added to the meta object on:

[code]

The $meta object at the end of the function contains ONLY the hard-coded array located at:

[code]

[2016-05-30 15:41] vil11 commented on #4680
Looks like a reproducible bug. Internal ticket **MAGETWO-53668**.

##

:sunny: dvilchynskyi, M2 QA engineer.

[2016-05-30 15:49] designhunger commented on #4379
This is still a problem in version 2.0.7 and therefor a checkout in a german shop is not possible. Attached you find the complete stack trace.

`"Fatal Error: 'Uncaught Error: Call to a member function getAgreementIds() on null in /Users/Bernd/Entwicklung/Magento/infoplus/vendor/magento/module-checkout-agreements/Model/Checkout/Plugin/Validation.php:62Stack trace:#0 [internal function]: Magento\Ch

[2016-05-30 16:08] fooman opened #4781 "Web Setup Wizard needs better error messaging"
## Steps to reproduce
1. Install Magento 2.0.x from zip
2. Go to System > Web Setup Wizard
3. Go to System Upgrade (without ever signing in or creating an auth.json file for repo.magento.com)
4. Go to Component Manager, sign in with repo.magento.com credentials and hit Sync (configure php to have less than the recommended memory size for composer to work)
## Expected result
1. A meaningful error m

[2016-05-30 16:19] adifucan commented on #4085
@piotrekkaminski yes please.

[2016-05-30 16:55] alentsch opened #4782 "Magento 2 - Checkout shipping form: region translations not shown"
Magento 2.0.6
Shipping form in the checkout

After creating regions for Japan in the table `directory_country_region` and the translations in table `directory_country_region_name` the **translated region names are NOT shown** in the checkout **shipping form** (only the untranslated names from table `directory_country_region`). This is a "show stopper" for our current effort to use Magento 2 for ou

[2016-05-30 18:01] punkstar opened #4784 "Incorrectly generated autoload files when installing to a root level directory"
When installing Magento to a root level directory (e.g. `/magento`) the files generated by Composer contain invalid paths and result in the inability to load `Magento\Framework\Component\ComponentRegistrar`, bricking the application.

This was discovered when installing Magento into a top level directory inside of a [docker container](github.com/meanbee/docker-magento2).

The problem appears to be

[2016-05-30 18:32] hostep commented on #4776
Possible duplicate: https://github.com/magento/magento2/issues/1266

[2016-05-30 18:32] commcad opened #4785 "2.1.0rc - Paypal Website Payments Standard module doesn't work"
## Steps to reproduce
1. Install Magento from 2.0.7 > Upgrade to 2.1.0rc using Web Setup Wizard (no sample data)
2. Store > Configuration > Sales > Payment Method > Enable Website Payments Standard
3. > Insert valid facilitator (merchant) email + API credentials > Save > Clear cache
4. Products > Category > Add New Category
5. Products > Catalog > Add New Product
6. Save everything, go get a coffe

[2016-05-30 18:53] commcad commented on #4785
Loaded sample data and carried the same frontend steps > same error and trace.

Cache emptied > reindexed > stats refreshed >  Redis-cli flushall/flushdb, everything I could do to set this back to a ootb stance.

Let me know if you need me to do anything else (I'll archive this VM in a meantime)

[2016-05-30 19:06] sunilit42 commented on #4771
Below file contain some code for edit address:

Magento\Customer\view\frontend\web\js\model\customer\address.js

 getCacheKey: function() {
                return this.getKey();
            },
            isEditable: function() {
                return false;
            },
            canUseForBilling: function() {
                return true;
            }

in magento 2 given fixed value for edi

[2016-05-30 19:10] vkosenok commented on #4219
Found the same issue.
Server config: SSL + Nginx + Varnish (that works as proxy for https/http)

Seems that this code doesn't allow all possible scenarios like proxy (HTTP_X_FORWARDED_FOR).

[code]

[2016-05-30 19:58] alentsch commented on #4782
Just upgraded to Magento 2.0.7 and the problem is still there.

[2016-05-30 21:15] rudik99 commented on #3942
Is this something that will get fixed in 2.1 release?

[2016-05-30 22:36] danny-balance commented on #4712
@stamster As far as I'm aware CLI will never read the nginx configuration (nginx is a webserver, CLI is not a web interface) so this is expected behaviour. `deploy:mode:set` will adjust your `app/etc/env.php` file, check your other instances for this file.

[2016-05-31 00:30] simmo-codes commented on #2084
I have this issue as well. Paypal (Braintree) does not have a button to proceed with payment.
Picture of missing 'Pace Order' button, or paypal logo etc: https://i.imgur.com/ZDVzA7U.png

[2016-05-31 02:55] FoxtrotOscar2 opened #4786 "DOB blank when saved, customer group resets following save."
We have DOB required for customers; we also have customer groups. When a customer is assigned to any special group, this status is reset (to "General") when the customer enters DOB again from the customer front-end.
## Steps to reproduce
1. Install "stable" Magento from magento main
2. Enable DOB (required) in customer settings
3. In admin create new customer group  (Store -> Other Settings -> Cus

[2016-05-31 05:11] magesh7j opened #4787 "Authorize net payment not working in magento 2.0.7"
In Magento 2.0.7, Authorize net test mode not working, if we place the order on checkout, Nonstop spinner loading. how to fix this issue. even i have checked , to changing the php version 5.5.32 to 7.0.7 , please help me

[2016-05-31 06:22] flipflap commented on #4670
I tried to add this to .htaccess and now it works:

`php_flag always_populate_raw_post_data -1`

[2016-05-31 06:28] flipflap commented on #4686
@xcomStefeJohnson how can I send a ping? nslookup repo.magento.com tells me command not found in the shell. Thanks.

[2016-05-31 06:37] ajayshukla commented on #4742
Any solution would be highly appreciated! Can anyone please have your say on the solution for this bug?

[2016-05-31 06:44] GlobalOutsourcing commented on #4763
I have reinstalled 2.0.6, upgraded through Magento 2 system to 2.0.7 and no issue now so no idea what went wrong but all is well now.

Thanks for all those that attempted to help.

[2016-05-31 06:44] #4763 closed, assigned to nobody

[2016-05-31 07:03] hb-github commented on #4668
I have experienced the same issue  with Magento 2.0.6 , can we have any alternate solution for the same ?

[2016-05-31 07:33] NadiyaS commented on #3364
Hi @Lewiscowles1986 , @chris-brabender ,
thank you for reporting this issue and we are sorry for delay. This bug really exists on 2.0.7 version. But it is fixed on current develop branch. You can upgrade your code from develop branch or wait until next release.
Feel free to reopen this issue if you will have the same problem on next Magento version.

[2016-05-31 07:33] #3364 closed, assigned to NadiyaS

[2016-05-31 07:37] NadiyaS commented on #4552
Hi @pareshe,
described bug is not reproducible on 2.0.7 version. Please upgrade your version to 2.0.7 (if you have lower version) or provide more details to reproduce it.

Thanks

[2016-05-31 07:47] teokolo opened #4788 "Wrong sitemap product url"
### Preconditions
1. Magento 2.0.6

### Steps to reproduce
1. "Use Categories Path for Product URLs" set to NO in configuration -> catalog -> catalog -> Search Engine Optimization
2. Create Categories with products
3. Generate sitemap

### Actual result
1. Sitemap is generating wrong urls containing category slug, e.g.:
`<loc>site/category-name/product-name</loc>`

### Expected result
1. `<loc>sit

[2016-05-31 07:55] LiamFielding opened #4789 "Tags from head in body, and title appearing visibly on page"
![headbody](https://cloud.githubusercontent.com/assets/19282144/15667280/6105a49c-270d-11e6-8e2d-4683351b11e7.JPG)

So far from what I have seen this only shows on _some_ product pages.

[2016-05-31 07:59] ntzz commented on #3352
@antboiko is there any update for this?

[2016-05-31 08:02] grasdaggel commented on #4776
Seems like an identical problem here. I also think that #1266 is a duplicate. However, its been a long time that someone touched #1266!

[2016-05-31 08:22] ishakhsuvarov commented on #4772
@sunilit42 We have tried and could not reproduce the issue as described with the clean installations from `develop` and `2.0` branches. Please provide more detailed preconditions, steps to reproduce and Magento version you are using.
Thank you.

[2016-05-31 08:27] antboiko commented on #4778
Hello @Fdec , thanks for reporting this issue. We've created internal ticket MAGETWO-53675.

Best,
Anton.

[2016-05-31 08:28] ishakhsuvarov commented on #4379
@devdesco-ceo @designhunger We have tried, but could not reproduce the issue yet with the clean installation from `2.0` branch. Please provide more detailed information on Checkout Agreements configuration you are using.
Thank you.

[2016-05-31 08:35] kanduvisla commented on #4779
I found it!

For reasons unknown, in `catalog_product_entity` the values `has_options` and `required_options` were set to `1`, even though that when I edit the product there were no options visible. So a couple of questions arise here:
- How did `has_options` and `required_options` got set to `1`? Did the client add options? If so, why weren't they set to `0` when the custom options were deleted?

[2016-05-31 08:39] kanduvisla commented on #4779
Just tested saving a product with custom options and then remove the options and re-save it. The database was cleaned up nicely. So it's strange where in my project it went wrong. Perhaps sometimes somewhere in a fatal error or something ...

Needless to say, I still think that this issue requires some attention. Especially in the product grid when adding configurations manually.