[2017-06-09 21:34] #9216 closed, assigned to anziv, naouibelgacem

[2017-06-09 21:35] okorshenko commented on #9679
The fix was delivered to 2.1-develop and develop branch. Thank you @hostep for your contribution!

[2017-06-09 21:35] #9679 closed, assigned to nobody

[2017-06-09 21:40] okorshenko commented on #7959
@ihor-sviziev thank you for your comment

[2017-06-09 21:40] #7959 closed, assigned to OZZlE, dreamworkers

[2017-06-09 21:56] woutersamaey commented on #9756
I can see 3 solutions here
- Sending the mail using a message queue would be much better, or
- updating just the single field instead of the entire order. There is just no need to process everything. Or,
- remove the field from the order tanle, and create a separate email log table that can be linked to the order table. This way we can keep track of all order mails sent, their timings and there is

[2017-06-09 22:53] kcsf commented on #5260
@spyrule - problem existed for both new & existing users.
@eCommerceGorilla - yes, still existed after disabling all extensions.

In short; we solved it - after upgrading from 2.1.6 to 2.1.7 & making some changes to the database.  We're going to push the changes live next Monday - and I will report back here with the solution when confirmed.

[2017-06-10 00:57] nanae29 commented on #6929
Comment try, catch to see error
/vendor/magento/module-checkout/Model/GuestPaymentInformationManagement.php/
/vendor/magento/module-checkout/Model/PaymentInformationManagement.php

public function savePaymentInformationAndPlaceOrder(
    $cartId,
    \Magento\Quote\Api\Data\PaymentInterface $paymentMethod,
    \Magento\Quote\Api\Data\AddressInterface $billingAddress = null
) {
    $this->savePayme

[2017-06-10 07:13] magentoguyssageone commented on #9488
Hi
Hello nano1313 it is very good help for me, can you  please give me step by step guide?
Thanks!!

[2017-06-10 09:36] ulftietze opened #9899 "Price in cart can become zero if backorders are allowed"
### Preconditions

1. Magento 2.1.2 CE
2. Backorders allowed with "Allow Backorders below 0"
3. Flat Catalog (Category / Products) = enabled
4. Display out of stock products = enabled
5. Manage Stock is enabled
6. Product XY has inventory > 0

### Steps to reproduce

1. Buy product XY so it has inventory left < 0
2. Open product detail page
3. Set disable Status of product (in database or with $pr

[2017-06-10 10:02] amitshree commented on #4053
I'm working on this.

[2017-06-10 10:03] nitin700 commented on #6323
I am working on it..

[2017-06-10 10:09] NikhilCPatil commented on #8601
working on this..

[2017-06-10 10:16] vkranjith commented on #9196
I am working on it.

[2017-06-10 10:31] richievalsalan commented on #9020
i am working on this

[2017-06-10 10:43] jamiejackson1183 commented on #2121
Also having same issue in 2.1.3 Enterprise

[2017-06-10 10:49] Emadis commented on #6323
Issue fixes 1 month ago.
Thank you

Le 10 juin 2017 14:03, "nitin700" <notifications@github.com> a écrit :

[2017-06-10 11:25] nitin700 commented on #6885
working on it

[2017-06-10 11:26] nitin700 commented on #6323
@Emadis Thanks for the information.

[2017-06-10 11:27] DJ0815 commented on #5937
@rbostan it is not a 100% solution, it only works with a single domain.
I have a multi store with multidomains, www.domain.de, www.domain.com ....

when i try to checkout at www.domin.com (which is the standard domain) everything is working great, but when i try to checkout at www.domain.de i get the following script error:

`XMLHttpRequest cannot load http://www.domain.com/mycart_updatepayment/ch

[2017-06-10 11:41] arshadpkm commented on #6992
I will check this one

[2017-06-10 11:47] rbostan commented on #5937
@DJ0815,
 in server headers, you may set allowed origins something like that:

For apache, you should add to <IfModule mod_headers.c> section in .htaccess file
<pre>
SetEnvIf Origin "http(s)?://(www\.)?(domain.com|domain.de)$" AccessControlAllowOrigin=$0
Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
</pre>
ref: [https://stackoverflow.com/a/1850482

[2017-06-10 11:58] mohammedalzubi commented on #6763
running 2.1.6 and I'm still seeing it,
Warning: DOMDocumentFragment::appendXML(): Entity: line 1: parser error : internal error: Huge input lookup

Can you please reopen

[2017-06-10 12:46] amitshree commented on #4053
I'm planning to develop a new option named "Date Time" for "Catalog Input Type for Store Owner" while creating a new attribute similar to "Date" option.

[2017-06-10 12:50] richievalsalan commented on #9020
I am not able to reproduce this issue in Version 2.2 ,

Following are the steps I had taken.

a) Created 7 products from backend
b) Searched using multiple keywords, each keywords had its 'definite' listing of products which seem to be consistent every single time.

Note:
However this issue is found at 2.1.x version (2.1.4 to be precise) while tested

[2017-06-10 14:32] extroniks opened #9900 "Cms module collections missing event prefix"
### Preconditions

1. Magento 2.1.7 CE

### Steps to reproduce

1. Try to observe events: cms_page_collection_load_before, cms_page_collection_load_after, cms_block_collection_load_before, cms_block_collection_load_after

### Expected result

1. Event is dispatched and listeners execute

### Actual result

1. Listeners aren't executed because the collections are missing the event prefix

Code line

[2017-06-10 15:14] DJ0815 commented on #5937
Thanks for your fast reply, but i still get the error:

For me with my bad english it sounds like, that there has been a disallowance before?

[2017-06-11 09:45] calvintwr commented on #7197
problem still exists with 2.1.1

[2017-06-11 11:02] alakhdeveloper opened #9901 "braintree.api is undefined"
Hello,

we are using braintree extension in out magento website. https://www.carshoez.com
at checkout page, i am getting js issue TypeError: braintree.api is undefined .

I have try to debug it and fount when the braintree get init the braintree.api didn't found.
code: init: function() {
        this.client = new braintree.api.Client({clientToken: this.clientToken});
    },

how can i fix this. Ve

[2017-06-11 14:38] blueeyes4ya commented on #9847
I have this issue in 2.1.7 as well. Add to cart adds a product to the minicart but the checkout page shows empty.

[2017-06-11 15:10] barbazul opened #9903 "Composer Integrity tests use hash validation but its deprecated"
### Preconditions

1. Composer 1.3.0+ (I am running 1.4.1)
1. Magento installed via Composer

### Steps to reproduce

1. Run static integration tests (more specifically: ComposerLockTest)

### Expected result

1. Tests should pass

### Actual result

Tests fail.

[code]

### Additional information
Composer deprecated the hash property in composer.lock and instead uses content-hash to determine if

[2017-06-11 18:14] wsakaren commented on #9534
Should be closed, is config.

[2017-06-11 18:44] THEANONYMOU5 commented on #4054
2.1.5 -> 2.16  pub/media/wysiwyg is now gone.  I have successfully upgraded ever version using my workflow from 2.1.1 to 2.1.5.  I did nothing different this time.

[2017-06-11 20:33] addxorsw commented on #9667
@rparsi-commer It's been disabled all along.

[2017-06-12 04:37] cizgidekiadam opened #9906 "catalogrule_group_website always refilling while indexing and a criticism about catalogrule_product indexer"
I figured that while waiting a looonng index processing to complete (It is not to be completed for a couple days).

While trying to track tables changes (it is funny) desperately, i see that catalogrule_group_website table refilling continuously.

I thought it is strange so look at `applyAllRules` method in 'module-catalog-rule/Model/Indexer/IndexBuilder', there is a call to `updateCatalogRuleGrou

[2017-06-12 04:41] rbostan commented on #6754
@hostep Not working for me with 2.1.2
There is not an error. It is creating a `catalogsearch_fulltext_scope1_tmp` but not filling it.
Another issue, there is fifty thousands records in `catalogsearch_fulltext_cl`, indexer not processing them.

[2017-06-12 04:57] rbostan commented on #5937
@DJ0815 we all not Englishman, so could not be perfect in speaking :)
We are Magento people in here. It is fine with your English.

As in https://stackoverflow.com/a/40193633 , you should add more headers to be working.

For example apache
<pre>
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</pre>

And nginx of course
<pre>
add_header "Origin, X-Requested

[2017-06-12 05:55] deepak-netwin commented on #7146
Here are the steps how I identified the faulty acl.xml:
1) Overridden the helper file in di.xml of my custom module
<preference for="Magento\Integration\Helper\Data" type="VENDORNAME\MODULENAME\Helper\ExtendIntegrationData" />

2) Created file named as ExtendIntegrationData.php at VENDORNAME\MODULENAME\Helper
Then overridden function mapResources() in it as below:

public function mapResources(arr

[2017-06-12 06:27] lfritsche opened #9907 ""No payment information required" - Email not sent by cronjob"
### Preconditions

1. Magento 2.1.6 (issue since 2.0.4)
2. PHP 5.6 & 7.0

### Steps to reproduce

1. If order mails are triggered within a cronjob-run process, every Magento standard payment method (PayPal, checkmo, bank transfer payment, ...) proceeds as excepted and an order mail is sent, expect on payment method "no payment information required".
2. Trying to send an order-mail of an order plac

[2017-06-12 06:54] enrico69 commented on #9287
This problem is still present in the 2.1.7 EE. I opened a ticket on the partner support.

[2017-06-12 07:01] nntoan commented on #4331
Instead of update value of `admin/security/password_is_forced`, try to insert new record like this

[code]

If password lifetime is set to empty then this feature will be disabled.

[2017-06-12 07:04] Frits1980 commented on #7146
@Geert82 I ended up removing every extension 1 by 1 to figure out that it was a free extension made by Solwin. The most useless extension ever extualy. https://www.solwininfotech.com/product/magento-2-extensions/scroll-to-top-magento-2/

[2017-06-12 07:09] sumanparihar commented on #9856
This issue come :--
Click Cart icon then the minicart popup is showed up then click the trash icon and A popup is showed up "Are you sure you would like to remove this item from the shopping cart?" Then click 'OK'
=>After that again you Click Cart icon then the minicart popup is showed up then click the trash icon and A popup is showed up "Are you sure you would like to remove this item from the s

[2017-06-12 07:21] veloraven commented on #9898
@vitormfs thank you for your feedback.
Please format this issue according to template: with exact and detailed steps about your installation process, actual result, and expected result. Beside the rules it is much easier to understand what is the actual problem is when issue is described by template.
Please also specify your environment: OS, versions of PHP, MySQL and web-server.
Please also speci

[2017-06-12 07:24] srinivasanithin commented on #9874
@magento-team Any update ?

[2017-06-12 07:34] gsomoza commented on #9901
Your site is probably not loading one or more Braintree JS libraries. There could be many reasons for that. A few things that could help you debug a bit more:

* In development mode, and with JS merging/compiling disabled, reload the page and check for any errors (e.g. 404) on JS files.
* Switch to the default theme and see if it works there. If it does, then it's probably an issue with your theme

[2017-06-12 07:54] DJ0815 commented on #5937
It's getting more curious (for me). As i thought i had set all headers correctly, i have changed all webistes to the same domain, so I could exclude this problem.

But the Disount still was updated only at the default website, although you could see that the price was reloaded on checkout page on all websites.

- The cart price rule is activated for all websites and all customer groups.
- When i c

[2017-06-12 07:56] veloraven commented on #9882
@Sandy-Verma thank you for your report.
Please provide some additional information:
* Is your category anchor or not?
* Are there any subcategories or all products are assigned just to this one category? What is categories structure?
* Do you get specified error at once or after some time? How long do you wait to see it?
* Which values do you us for
** memory_limit
** max_execution_time
* Was it c

[2017-06-12 08:00] DigiWorksNL commented on #7197
@calvintwr look at this issue: https://github.com/magento/magento2/issues/9139
May be you can apply the commits by your self?

[2017-06-12 08:09] SilvanLaroo commented on #6509
I also want to now how to fix this issue without changing core files.

[2017-06-12 08:31] cizgidekiadam opened #9909 "Updating single category meta info, invalidates all FPC"
### Preconditions

1. Magento 2.1.2
2. PHP 7.0.18
3. Varnish for FPC

### Steps to reproduce

1. Be sure for FPC enabled and content cached
2. Update a category meta info
3. Save
4. Visit page

### Expected result

1. Saved category and updated FPC for just that category related pages

### Actual result

1. All FPC cleared.

[2017-06-12 08:34] veloraven commented on #9833
@aasim110 thank you for your feedback.
Please format this issue according to [template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines), with exact steps to reproduce, actual result and expected result.
Please also provide additional information:
* from what version did you upgrade?
* exact steps you did  during upgrade
* information about your environment: OS, versions of PHP

[2017-06-12 08:39] addxorsw commented on #9222
If it's still relevant, try this:
[code]

[2017-06-12 08:55] kanduvisla commented on #5339
I'm having this same problem in CE 2.1.7 when I extend `\Magento\Catalog\Model\ResourceModel\Eav\Attribute` and add an extra dependency to the constructor. The `__sleep()`-fix doesn't work, since it's parent class is already doing the same.

[2017-06-12 09:03] aasim110 commented on #9833
Upgrade 2.1.4 to 2.1.7
1. Before upgrade size option in confugurable is dropdown as per admin setting.
2. After upgrade size dropdown changed to swatches (it was working fine in old version).
3. Also it is working fine when I change "vendor/module-swatches" directory to old version "vendor/module-swatches"

For upgrade
1. Rune update command
2. Run upgrade command
3. run deploy command

We are usi

[2017-06-12 09:14] Matic commented on #9639
Any ideas how to solve this until the official bugfix is released ?

[2017-06-12 09:21] zaaaidi commented on #7333
@WaterSlide  Thanks alot. Its really works for me.

[2017-06-12 09:45] DJ0815 opened #9910 "configurable product Final Price ignores special date to"
When set a special price for child products which is outdated it still uses the special price for final price in product list

### Preconditions
1. Community Edition 2.1.6.
2. all caches deactivated, no varnish

### Steps to reproduce
1. creat configurable product with several child products
2. added special price to child products with date range 07/29/2015 to 08/05/2015
3. run indexer

### Expec

[2017-06-12 10:00] kishorhase commented on #2913
Any update on this? Issue still persist in Magento ver. 2.1.7

[2017-06-12 10:12] josefbehr commented on #3594
@ishakhsuvarov This is still an issue in 2.1.7, the supposed fix doesn't work. Please re-open and fix this issue for real.

[2017-06-12 10:28] veloraven commented on #9843
@whatsnow thank you for your report.
Please provide some additional information:
* product of what type do you add?
* do you add product as a guest or registered customer?
* was it clear Magento install or upgrade from some previous version?
It also looks like from your log that region field is absent on the shopping cart page however it is supposed to be there. Did you turn it off in some way?

[2017-06-12 10:30] adrian-martinez-interactiv4 commented on #4173
Why isn't this fix already applied at 2.1.7 version ? :(

[2017-06-12 10:32] onepack commented on #4096
This is a huge issue!
My client has duplicated 16 pre-migration products and now they ran out of 100GB of extra storage they just bought.
So now the shop with 6000 products is using 200GB to just... run....
I will advice them not to use the duplicate option for now until I tested the option described here.

[2017-06-12 10:41] Nym77 opened #9912 "General system exception happened on importing a csv file"
I am trying to upload a csv file that contains 100 products ( Magento ver. 2.1.3 ).
Normally thies is not an issue and i was able to uplaoad similar csv file before.
If i try to do it now i obtain the following exception:

![screen shot 2017-06-12 at 12 38 51](https://user-images.githubusercontent.com/9418130/27030353-2a6987ae-4f6c-11e7-8024-ab0a3c376c1f.png)

General system exception happened
Add

[2017-06-12 10:45] nahidacm commented on #6857
Probably some cart price rule override the shipping cost.
Please check in:  Admin->Marketing->Promotions->Cart Price Rules

[2017-06-12 10:48] veloraven commented on #9847
@edenreich thank you for your report.
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html)

[2017-06-12 10:55] reviskar opened #9913 "Inconsistent "checkout_quote_init" event dispatch."
We need a quote to have a unique string as a identifier. So, naturally, it seemed that the event "checkout_quote_init" would suit well for the initiation of our custom parameter. The thing is, this event is ONLY dispatched, when a customer is not logged in (\Magento\Checkout\Model\Session::252)

### Preconditions

1. Magento CE 2.1.7
2. PHP 7

### Steps to reproduce

1. Create a observer class for

[2017-06-12 11:05] whatsnow commented on #9843
- product of what type do you add? simple products
- do you add product as a guest or registered customer? both
- was it clear Magento install or upgrade from some previous version? clean install
- It also looks like from your log that region field is absent on the shopping cart page however it is supposed to be there. Did you turn it off in some way?  No i didnt

[2017-06-12 11:22] alakhdeveloper commented on #9901
I have tested with disable the js merge as well as the latest version of braintree. but still getting the same issue.

[2017-06-12 11:49] jonpday commented on #4331
@nntoan this sounds like a really bad idea, and breaks a key PCI security requirement regarding password rotation. @piotrekkaminski can the above reply be removed or otherwise flagged as inappropriate?

[2017-06-12 12:17] franckgarnier21 commented on #4773
The bug is still present on Magento 2.1.7

[2017-06-12 12:21] gsomoza commented on #9913
This is not really "inconsistent" – Magento will only initialize the quote once: if the customer is already logged in, then it will try to retrieve an existing quote for that customer.

Since what you're trying to do is closely related to "how" the quote model is created or it's identity (it MUST be created with an unique string identifier), I would consider implementing this as a plugin for `\Mag

[2017-06-12 12:26] gsomoza commented on #9901
Could you share a copy of your `composer.lock` file? I probably won't have time to try to duplicate this issue on a clean Magento install (I'm not from the Magento team), but if anyone else does then having that file would probably help a lot.

[2017-06-12 12:28] lfritsche opened #9916 "Magento 2.1.6 - Cronjob triggered e-mails ignores theme-fallback (Template, PDF, Customizations,...)"
### Preconditions

1. Magento 2.1.6
2. PHP 7.0

### Steps to reproduce

1. We create invoice and shipment programmatically after placing an order with some cronjob routines.
2. After creating the invoice the email should be sent which worked very well until we updated from 2.0.4 to 2.1.6
3. Right no those mails sent within a cronjob routine are free from any design changes within app/design. They

[2017-06-12 12:28] NMills12 commented on #9196
Thank you for working on this. It will be a much more useful report once the simple products are shown.

Nakia M. Mills
Sanders Candy
ph: 586-464-5368
SandersCandy.com<http://www.sanderscandy.com/> I Facebook<http://www.facebook.com/SandersCandy> I Twitter<http://twitter.com/#!/SandersCandy> I YouTube<http://www.youtube.com/user/Tvanhemm>
View 2017 Online Retail Catalog<https://view.publitas.com/s

[2017-06-12 12:32] veloraven commented on #9385
@pioneerathletics I'm closing this issue as it was fixed in Magento 2.1.7.
If you still experience this problem please create new GitHub issue.

[2017-06-12 12:32] #9385 closed, assigned to nobody

[2017-06-12 12:39] veloraven commented on #9275
@martijnhovinga this issue should be fixed in Magento 2.1.7. Could you please confirm that you do not experience it anymore?

[2017-06-12 12:39] reviskar commented on #9913
Thank You very much for the quick response. Will try to change my approach to this.

Still I don't quite understand that, when I am logged in, and do not have a quote (i.e. have just finished an order and starting another order - therefore initializing a new quote) why isn't this new quote considered as "initialized". As You said, Magento will try to retrieve an existing quote - what if it doesn't

[2017-06-12 12:44] veloraven commented on #9275
@erfanimani , @dawhoo if you experience another issue even connected with this one, please create separate GitHub issue and format it according to [template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps, actual and expected results and environmentdescription.

[2017-06-12 12:50] Nym77 commented on #9912
just a small update on my side.
One of the attribute of the file had the same name of an attribute coming from Luma example. As result these 2 attributes were conflicting.

Issue has been solved once the attribute coming from Luma has been replaced by a new attribute. Hope that this will help for future references.

Still the error report from the console could be improved..

[2017-06-12 13:01] veloraven commented on #9629
@DH0 this issue should be fixed in Magento 2.1.7.
If you still experience it please format this issue according to [template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce.

[2017-06-12 13:05] royvanos opened #9918 "Magento 2 automatically disables maintenance mode after certain actions"
### Preconditions

1. Any Magento 2 version

### Steps to reproduce

1. Enable maintenance mode
2.a Run scheduled backup with maintenance mode enabled
2.b Switch from developer mode to production mode

### Expected result

1. Maintenance mode enabled

### Actual result

1. Maintenance mode disabled

After doing a scheduled backup with maintenance mode enabled the store takes itself out of maintena

[2017-06-12 13:05] veloraven commented on #7710
Internal ticket was created for this issue: MAGETWO-69709

[2017-06-12 13:07] veloraven commented on #6363
Internal ticket was created for this issue - MAGETWO-69701

[2017-06-12 13:19] veloraven commented on #9862
@royvanos thank you for your report.
Internal ticket was created for this issue - MAGETWO-69712

[2017-06-12 13:44] veloraven commented on #3759
New internal ticket - MAGETWO-69700

[2017-06-12 13:59] decius7bc commented on #4530
"Hot fix" would be applying the following diff.
I.e. just loading the rating summary if it's "falsy" at the time of checking… There may be better options, though.

Will create a pull request eventually…

[code]

[2017-06-12 14:14] tamount commented on #5666
HELLO
i want try the workaround . "Copy the folder \vendor\magento\module-email\view\frontend\email to \vendor\magento\module-email\view\adminhtml\email\." but i don ' thave this folders in my root directory, i have magento 2.1.5, php5.6
In my folder " C:\xampp\htdocs\magento2\vendor\magento " i have: "Compose", "magento-composer-installer" and "zendframwork1",
Can you help me what to do? pleaaaaa

[2017-06-12 14:40] RixXuan commented on #7199
@ThisIsRuddy your problem came from visualizing after taxed final price, here is quick solution, you can override method **_getProductCollection** from Magento\Catalog\Block\Product\ListProduct class by using your own ListProduct class, before return productCollection object, you can apply your own filter logic to filter again whole collection.

For instance, mention that price_filter in Magento u

[2017-06-12 14:46] rhoerr commented on #5835
It may not break PayPal anymore, but this issue still affects third party libraries.

Addendum to @Igloczek 's note above with the workaround: If your library is included at runtime (IE, not a header script tag), the filename will be processed via the following script (generated by PHP at runtime):

`/pub/static/adminhtml/Magento/backend/en_US/secure/requirejs-min-resolver.min.js`

The `dev/js/min

[2017-06-12 14:47] korostii commented on #4173
@magento-team, please reopen this until the fix is released in a 2.1.x version.

[2017-06-12 15:01] igortregub commented on #6739
I've had the same issue. Have you any updates about it in magento 2.1.6 ?

[2017-06-12 15:01] webspeaks commented on #7994
Any solution to this?

[2017-06-12 15:05] yosefkurniawan commented on #7665
Got the same problem. any workaround?

[2017-06-12 15:08] onepack commented on #4096
I have just made 110GB free by removing all the duplicates... My god this is a mess.
For now I instructed the client to remove the images from the product before duplicating it.
They can put them back after they are finished.
Will try one of the above solutions later today.

[2017-06-12 15:10] gsomoza commented on #9913
Your thought process is correct from the customer's perspective, but bottom line is that the `checkout_quote_init` event has a slightly different meaning in Magento's internals than it does from a customer experience point of view. I haven't looked at the low-level process with enough detail to be more specific than that.

Glad I could help. Good luck on the implementation!

[2017-06-12 15:13] andidhouse commented on #7994
Not shure if it helps you but we solved our deploy errors with this:
--------

sudo php bin/magento setup:static-content:deploy --jobs=0 && sudo php bin/magento setup:static-content:deploy de_DE --jobs=0

--------
"jobs=0" did the trick for us

[2017-06-12 15:17] gsomoza commented on #9913
Forgot to answer your question:

In that case it will proceed with the empty quote model [created here](https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Model/Session.php#L213) (and as a consequence probably with `$this->getQuoteId() === null` assuming the default object state).

If you implement a plugin on the factory using the object manager, then that line that create

[2017-06-12 15:19] bap14 opened #9919 "Pattern Validation via UI Component Fails to Interpret String as RegEx Pattern"
When using a UI Component based form and adding a custom regular expression pattern validation to an input field, the supplied pattern is not properly converted from a string to a javascript RegEx object.

### Preconditions
1. Magento EE 2.1.7, Magento CE 2.1.7
2. PHP 7.0.17
3. MySQL 5.7.18

### Steps to reproduce
1. Create a custom UI Component form
2. Add a `validation` item to an input field
3.

[2017-06-12 15:29] bap14 opened #9920 "stripped-min-length Validation via UI Component Fails with "special" characters"
When using a UI Component and adding the "stripped-min-length" validation as a rule to an input component, if the user inputs a "special" character (e.g. /, &, etc.) a javascript error is thrown.

### Preconditions
1. Magento EE 2.1.7, Magento CE 2.1.7
2. PHP 7.0.17
3. MySQL 5.7.18

### Steps to reproduce
1. Create a UI Component based form
2. Add the following validation to the XML form element d

[2017-06-12 15:31] spyrule commented on #7146
I can confirm, when we removed our Solwin extension (Contact Widget), we regained access to our user roles.

[2017-06-12 15:49] Frits1980 commented on #7146
To bad that Solwin just doesn't live up to coding standards.

[2017-06-12 16:05] treestonemedia commented on #4828
still doesn't work for us on 2.1.6

[2017-06-12 16:07] webspeaks commented on #7994
@andidhouse "jobs=0" did not work for me :(

[2017-06-12 16:18] smokygeek17 commented on #8574
same problem. any fix?

[2017-06-12 16:56] waynetheisinger commented on #6497
Hi @schmengler I just noticed that when you originally created this you asked the core team to let you know if your proposed solution was acceptable so that you could create a PR... they added an "up for grabs" label on 31st May 2017 so looks like they are happy with your solution.. if you wanted to do it? otherwise if you give me a bit more guidance I'll have a go at it.... I've got broken tests

[2017-06-12 18:17] hostep commented on #9918
Just informational, but the first case was already reported before: https://github.com/magento/magento2/issues/7951

[2017-06-12 18:20] ErvinLlojku commented on #8034
Any update regarding the issue?

[2017-06-12 18:49] nikolaybaychenko opened #9921 "Magento 2.1 Rest API save attribute group does not change attribute_set_id"
### Preconditions

1. Magento 2.1.7

2. PHP 7.0.18

### Steps to reproduce
1. Having a test attribute group:
[code]
2. Send a Rest API request:

Headers:

    content-type: application/json
    Authorization: Bearer <authorization token>

Body:

    {
      "group": {
        "attribute_group_id": "103",
        "attribute_group_name": "Test",
        "attribute_set_id": 13,
        "extension_att

[2017-06-12 18:54] jupiter01 commented on #9307
Having this issue also.

[2017-06-12 19:29] matutetandil commented on #4394
Happened the same to me. But is not a Magento issue, is an external extension that doesn't have defined the title in the acl.xml. @kanduvisla's suggestion helped me to find the module. Would be nice to have something similar in further versions.

[2017-06-12 19:50] dersam commented on #7140
Still present in 2.1.7.

[2017-06-12 20:36] roseofgold opened #9923 "Upgrading to 2.1.7 changed dropdown attributes to swatches"
Preconditions
1. Magento 2.1.7
2. PHP 7.0.17
3. mySQL 5.6.35-80.0

Steps to reproduce
1. Installed Magento 2.1.2 with custom products
2. Used Web Setup Wizard to Upgrade System to 2.1.7

Expected result
1. Size options show on front end as dropdown list. Code is placed in `<div class="field configurable required">`
![image](https://user-images.githubusercontent.com/14198652/27053913-f06db798-4f73-

[2017-06-12 21:03] greg-io7 commented on #6153
This issue is still occurring in v2.1.3  .... I "fixed" it by following the steps above to create a new custom template.

[2017-06-12 21:05] dverkade commented on #9407
Hi @maghamed,

I have made the latest changes to this PR and it is now passing.

[2017-06-12 21:19] rosandrest commented on #8522
Do you know what release this will be fixed in?

[2017-06-12 22:08] dverkade commented on #9243
Hi @okorshenko

I did some digging into this issue and here is what I found.

As far as I can see the mention to Zend_Service is incorrent and might be a bug in Zend Framwork. If you look into the Zend\Currency class you see that it only allows for Zend_Currency_CurrencyInterface classes to be passed to the setService function. So the getService can only return a class which implements this interf

[2017-06-12 22:12] rparsi-commer commented on #9667
@addxorsw Sorry, I'm out of ideas.  I'm still in the noob phase of learning magento2 framework.

[2017-06-13 02:28] nntoan commented on #4331
@jonpday Your comment is ridiculous, I don't want to fight with you. So have fun.

[2017-06-13 03:19] amarnik commented on #8202
I had the same problem with one of the Product Attributes. To fix the problem I run the query:
[code]
and then just looked at the result and removed duplicates. I also had to remove corresponding values from `mgbe_eav_attribute_option` (based on option_id field)
After removing all duplicates I was able to save Options

[2017-06-13 04:58] jer23jk commented on #8652
Same problem on Magento 2.1.7

Create dropdown customizable prices - Option Type dropdown

Same as siven76:

Steps to reproduce

Edit a product with customizable option
Set the price (over $999)
Save the product
Edit the product again. The price will have comma separators.
Save the product again.

[2017-06-13 05:16] skrobotov commented on #7178
Solved by commenting out upload_tmp_dir in MAMP's php.ini

[2017-06-13 05:36] AntonEvers opened #9924 "Prefix and suffix are not prefilled in the quote shipping address"
### Preconditions

1. enable customer prefix and suffix in the customer config
2. create an account with a prefix and a suffix

### Steps to reproduce

1. start an order, using an account with a prefix and a suffix
2. visit the shipping address step in the checkout

### Expected result

1. shipping address should be prefilled with prefix, firstname, middlename, lastname, suffix

### Actual result

[2017-06-13 05:46] ajpevers commented on #5658
@andimov could you please reopen this issue

[2017-06-13 06:24] best4u opened #9926 "Page title is empty if layout `content` container removed"
### Preconditions

1.  Magento 2.1.6 CE
2.  XAMPP on Windows
3.  CMS page for home
4. PHP Version 5.6.30

### Steps to reproduce

1. For the homepage CMS page fill in the meta title and page title (mine was "homepage")
2. in `cms_index_index.xml` (for example) add `<referenceContainer name="content" remove="true"/>`

### Expected result

1. Page content should not be visible on the page
2. Page ti

[2017-06-13 06:48] Sapta34 commented on #5876
I want to import the attach CSV file to magento 2.0.10. I have successfully import this csv, but the options for the configurable product not display in frontend. Alreday reindex and clear cache.
[catalog_product_20170605_101740.zip](https://github.com/magento/magento2/files/1070518/catalog_product_20170605_101740.zip)

[2017-06-13 06:57] pantaoran commented on #5316
@hostep You have to be joking with your temporary solution. I just ran a regex to find all offending occurrencies in core phtml templates. It found 1109 cases within app/code/Magento.

@chenshanmin I guess it would be possible to try and do this with regular expressions search & replace.
I used the regex "[^\s]\?>" to search for any non-whitespace characters followed by a php closing tag. You coul

[2017-06-13 07:26] veloraven commented on #9919
@bap14 thank you for your report.
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2017-06-13 07:38] veloraven commented on #9849
@dawhoo thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. As it is much easier to understand and reproduce the problem when the isssue is well-formatted.

[2017-06-13 07:42] veloraven commented on #9920
@bap14 thank you for your report.
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2017-06-13 07:47] veloraven commented on #9843
@whatsnow thank you for your response.
Could you please provide a screenshot?
And do you use any custom extensions or custom theme?
We were not able to reproduce this issue.

[2017-06-13 07:49] kllee824 commented on #3421
I got the same issue and fixed it by removed TTL attribute.

Thanks a lot

[2017-06-13 07:54] marcojacobsNL opened #9927 "Subtotal in my account is excluding tax when defined including"
### Preconditions

1. Magento 2.1.7
2. Plesk server
3. PHP 7.0.19
4. 10.1.24-MariaDB

### Steps to reproduce

1. Go to stores->sales->tax
2. Make every field including tax, save & clear cache.
3. Go to store front and login into account and view orders.
4. Subtotal of order is still excluding tax.

### Expected result

1. Subtotal in My Account is expected to show including tax.

### Actual result

[2017-06-13 08:01] kiranmaip commented on #9595
To fix this issue we need to override the  function "prepare" in below path "Magento\Quote\Model\Quote\Item\Processor"

The below solution will resolve the issue
 /**
     * Set qty and custom price for quote item
     *
     * @param Item $item
     * @param \Magento\Framework\DataObject $request
     * @param Product $candidate
     * @return void
     */
    public function prepare(Item $item,

[2017-06-13 08:04] sumanparihar commented on #8649
I am using Magento CE 2.1.7 and follow steps to reproduce issue. but it's work fine. there is no issue with admin order list after delete customer.

[2017-06-13 08:23] schmengler commented on #6497
@waynetheisinger thanks for noticing! Yes, this was the idea and step three is tricky indeed. I think the best way to find the places that need to change is to look for usages of `commit()`. Commit callbacks could have been added by an extension, so for any `commit()` within a `try..catch` block  the `AfterCommitException` should be handled. Do you want to give it a try? Then please go ahead!

[2017-06-13 08:38] pantaoran commented on #5316
Apologies, I should have read it more carefully. Yes, my regex searches for any closing tags and does not consider the presence of comments, and it is therefore irrelevant here. I'll see if I can come up with a better one.

[2017-06-13 08:42] korostii commented on #9923
Whis seems to be a duplicate of #9832. Please check if you have uses of `isProductHasSwatchAttribute` in your customized code as per [this comment](https://github.com/magento/magento2/issues/9832#issuecomment-306027785).

[2017-06-13 08:45] lfritsche opened #9929 "Wrong (full-) tax calculation on partial creditmemo (PDF totals)"
### Preconditions

1. Magento 2.1.6 (and tested on 2.0.4)
2. PHP 7.0 (and 5.6)
3. Display full tax summary on invoice,order,creditmemo,... -> YES

### Steps to reproduce

1. Creating a partial credit memo
2. Print creditmemo
3. wrong *full* tax calculation
![image](https://user-images.githubusercontent.com/15127451/27073406-054374b8-5024-11e7-92ee-b7a399dfd9ed.png)
Tax calculation is split into th

[2017-06-13 09:08] phanngochanh commented on #5428
Thanks @ksz2013. It work for me

[2017-06-13 09:14] devjsha commented on #9927
Did you tried placing new order after changing the configurations ??

[2017-06-13 09:26] waynetheisinger commented on #6497
@schmengler The thinking being that we do this, even if a rollback isn't called in any of the catch blocks for the try block where the commit is called, because a rollback may be called further up the stack...?

[2017-06-13 09:32] malikt commented on #7357
I was able to fix it, instead of editing each product and ordering the images.
create a new module for the fix or add the following in existing module (amend the paths accordingly)
you will need following lines in `MTM/Galleryfix/etc/di.xml`
[code]
create a file `Gallery.php` and place it in `MTM/Galleryfix/Plugin` folder.
[code]
clear the var folder and refresh the frontend, hopefully gallery wil

[2017-06-13 09:44] tarnagas commented on #6703
Same issue!

[2017-06-13 09:45] user340581 commented on #6703
Beste heer/dame,

Ik ben weer vanaf 29 juni aanwezig i.v.m. vakantie vanaf 5 juni, e-mails worden dan weer beantwoord.

Mvg

Felix Scheiffers
Object Oriented Automation

[2017-06-13 10:20] cve commented on #5352
I have 2.1.7 and this problem is still there... :(

[2017-06-13 10:23] koenner01 commented on #9862
This was already fixed on the develop branch in MAGETWO-50289 (https://github.com/magento/magento2/commit/2477c5ca5fdac3c972e81835dc3550f6bdbaacc6)

[2017-06-13 11:02] phoenix128 opened #9930 "FIX for Asymmetric Transaction Error with ElasticSearch"
`\Magento\Catalog\Model\Product\Gallery\Processor::addImage` does not work with ElasticSearch while importing images programmatically due to undefined index.

### Preconditions

1. Magento CE/EE 2.1.x
2. ElasticSearch configured

### Steps to reproduce

1. Programmatically add a product image using `\Magento\Catalog\Model\Product\Gallery\Processor::addImage`
2. Save the products

### Expected resu

[2017-06-13 11:09] nitinwaves commented on #8921
Guys this a critical bug and Magento Should fix into next release

[2017-06-13 11:12] arshadpkm commented on #6992
@okorshenko Need one help Travis fails with test INTEGRATION_INDEX=3, here is the link https://travis-ci.org/magento/magento2/jobs/242316296 But I am not sure how my commit related to this file. and how can I fix this?

[2017-06-13 11:16] reviskar commented on #9913
So I came back to this now, and the plugin-to-the-factory way seems the most obvious here indeed. Sorry for the trouble, got it working as it was intended after dropping the observer. For me, the case is closed for now :) :+1:

Many thanks for the trouble.
R

[2017-06-13 11:26] xeriuk commented on #9927
Yes multiple new orders

[2017-06-13 11:58] webshotNL commented on #6924
Exactly the same problem on 2.1.7. It works only when you split them in batches of 500 products per import.

[2017-06-13 12:50] johnny-longneck opened #9931 "Empty image alt-text & missing alt attribute on product detail page"
### Preconditions
1. PHP 7
2. M2.1.6

### Steps to reproduce
1. Import product images and image labels via csv.

### Expected result
1. Backend: Image "alt-text" field is being filled by the imported image label
2. Frontend: Product Detail Page Images have alt attribute

### Actual result
1. Backend alt text field is empty, even though label was imported and can be seen on product list page as alt

[2017-06-13 12:52] johnny-longneck commented on #3322
This is still existing.

[2017-06-13 12:56] timste commented on #3322
in category listing M2 use the name from the product for the alt tag. in product detail view, when you dont set the alt text is the alt tag missing. in M1 was the default alt text the product name.

[2017-06-13 13:03] timste commented on #9931
in category listing M2 use the name from the product for the alt tag. in product detail view, when you dont set the alt text is the alt tag missing. in M1 was the default alt text the product name.

[2017-06-13 13:10] johnny-longneck commented on #9931
Furthermore it seems the alt-text is saved in "additional_image_label" instead of base_image_label for example

[2017-06-13 13:29] eharvest commented on #7298
@sadeeshmca I tried your fix but it didn't work for me as the error persists as I tried to save my category. I couldn't find your suggested file, in my case I edited:
`app/code/Magento/UrlRewrite/Model/Storage/DbStorage.php`
I have fixed some of these problematic categories by exclude certain products, it looks like those products were created wrong, maybe they been duplicated without changing the

[2017-06-13 13:29] yasirrose opened #9933 "check out page is showing empty magento 2.1.6"
I am having issue with magento checkout page, everything is working fine but when i add product to cart, it is showing empty.

I have enable the errors but no errors found in logs or checked out page.

It is showing following warning in console.

[code]

Page is showing script tag only when i view the source of the page. Not know if it will help anyone to solve my issue.

[2017-06-13 13:55] bap14 commented on #9919
@veloraven  I installed Magento CE 2.1.7 and added my custom module and confirmed this does occur in the CE release as well.  I would prefer to keep this in the public domain in case there are other developers running into this same issue.  I can report it in both if necessary.  I'll update the initial posting to include the CE edition as well.

[2017-06-13 13:56] bap14 commented on #9920
@veloraven  I installed Magento CE 2.1.7 and added my custom module and confirmed this does occur in the CE release as well.  I would prefer to keep this in the public domain in case there are other developers running into this same issue.  I can report it in both if necessary.  I'll update the initial posting to include the CE edition as well.

[2017-06-13 14:06] alena-marchenko commented on #5356
Hi @woei66

Fix for MAGETWO-60828 is merged to develop branch, closing the issue.
Thank you.

[2017-06-13 14:06] #5356 closed, assigned to nobody

[2017-06-13 14:08] alena-marchenko commented on #9639
Hi @tomasinchoo

Fix for MAGETWO-69340 is merged to develop branch, closing the issue.
Thank you.

[2017-06-13 14:08] #9639 closed, assigned to alena-marchenko

[2017-06-13 14:28] schmengler commented on #6497
@waynetheisinger no, just that even if no callback is registered at that point like in the aforementioned plugins, there still might be callbacks. I think we can assume that a rollback will always be in a try..catch block immediately after `beginTransaction`. And exactly those are the places we are looking for.

[2017-06-13 14:50] antboiko commented on #9923
Hi @roseofgold, thank you for your report. We checked the opposite case (swatch attributes being converted to dropdowns) within #9832 and we couldn't reproduce the issue.
Can you please check the suggestion provided by @korostii and let us know if the issue is still reproducible.

[2017-06-13 14:56] KevinMace commented on #9837
I can confirm i'm also seeing the exact same issue.

[2017-06-13 15:13] devjsha commented on #9927
I think it's correct only because if you check the note in small letters mentioned below the Catalog Prices
field, it says "This sets whether catalog prices entered from Magento Admin include tax." This means that whatever is the amount of the product is, it is including tax. So this is the reason why the subtotal is showing as excluding tax in my account.

[2017-06-13 15:14] coatesjonathan opened #9934 "Setup:di:compile issue"
When I run:

php bin/magento setup:di:compile

I get this error at 71%:

[ReflectionException]
  Class Zend\Cache\Storage\StorageInterface does not exist

How do I fix?

[2017-06-13 15:18] xeriuk commented on #9927
Okay, so there isn't a way we can show the subtotal without tax conducted?

[2017-06-13 15:34] devjsha commented on #9927
See if you set the configuration settings to Excluding tax then that means your subtotal doesn't include tax amount so in my account the order details will be shown something like this.

Subtotal	                        $100.00
Shipping & Handling	$5.00
Tax	                                $8.25
Grand Total	                $113.25

And if you set the configuration settings to Including tax then tha

[2017-06-13 15:39] xeriuk commented on #9927
I see.

We don't want to show any tax values on our magento shop. So to speak we want to see it like this:

product 1 $5 (incl tax)
product 2 $5 (incl tax)
subtotal $10
Shipping $6
total $16

But at this moment it won't allow that. Is that correct?

[2017-06-13 16:07] waynetheisinger commented on #6497
@schmengler - got it - and looking though a "find" I think you're right.

Although there are places where commit is called that are not in a `try-catch` block and there are also places where a method called `rollback` is called without a matching `commit`, these are not true rollbacks in the transaction sense (relating to things like database rollbacks in the backup system).

So I think you are ri

[2017-06-13 16:36] devjsha commented on #9927
Yes it will, set your configuration setting to including tax then it will show like this only. Just check the following

Product 1 100$(incl tax)
Subtotal	$100.00
Shipping & Handling	$5.00
Grand Total	$105.00

The above shown example is similar to your requirement and this can be achieved by setting configuration setting to including tax.

[2017-06-13 16:54] okorshenko commented on #6992
@arshadpkm please, create pull request against 2.1-develop branch, but not 2.1

[2017-06-13 17:49] jordanbrauer commented on #9934
What is your PHP memory limit?
Have you installed Magento?
Have you recently upgraded Magento? If so, did you run `composer update` to install the new code?

[2017-06-13 18:25] puples commented on #9761
@tomasinchoo thanks, i go to see that

[2017-06-13 18:51] roseofgold commented on #9923
@korostii it is very similar to #9832. It is the opposite case as @antboiko said.

I have not extended the swatches module. I have checked the vendor files (`vendor/magento/module-swatches/Block/Product/Renderer/`) and the getRendererTemplate fuction does have `$this->isProductHasSwatchAttribute()` in it.

Is there somewhere else I should check? **Novice Magento coder here**

[2017-06-13 19:45] pioneerathletics commented on #8574
I fixed the issue by creating Magento_ProductVideo>web>js>load-player.js in my theme.
Then find line 320 in load-player.js and change http://player.vimeo.com/video/ to https://player.vimeo.com/video/

Now video plays as expected.

[2017-06-13 21:20] dfelton opened #9936 "EE 2.1.7 layout_merged.xml file missing definition for layoutType"
### Preconditions
1. Magento EE 2.1.7

### Steps to reproduce
1. Install Magento EE 2.1.3 or 2.1.7.
2. Turn on developer mode
3. Deploy frontend static files
4. Turn off all cache types
5. Load a frontend page

### Expected result
1. support_report.log should be clean (or not exist at all yet)

### Actual result
- `\Magento\View\Model\Layout\Merge::_validateMergedLayout()` litters `var/log/support

[2017-06-13 23:21] korostii commented on #5356
Hi @alena-marchenko, please do explain the following: how does a bunch of commits in develop branch helps merchabts running the last released version (2.1.7 at the moment)? How can one benefit from this fix?

Wouldn't it be logical to keep the issue open until the fix is present in an official release?

[2017-06-13 23:28] korostii commented on #9639
Hi @alena-marchenko
The issue is acknowledged for both 2.1.x and 2.0.x branches.
Please, please don't close the issue until the fix is backported to both of them and released officially.

Reminds me of this old child's game: you cover your eyes with your hands, you don't see the monster, and so you say it doesn't exist.
That trick only works when the monster was imaginary in the first place.

[2017-06-13 23:42] korostii commented on #9923
I'd start in `app` folder if you have any local customizations and also I would check all of 3-rd party modules\themes you happen to have.

`vendor/magento` folder is _expected_ to be okay, in this case it's probably your other code that got outdated and needs to be adjusted.

Any chance you could find amore experienced colleague to lend you a hand and help you find the issue?
Magento StackExchang

[2017-06-13 23:46] korostii commented on #8574
So, even though you've found a working workaround, it's still a bug in Magento CE?

Wouldn't you want to have it fixed in Magento itself, as well?
Just a friendly FYI: keeping the issue open might help with that, and a pull request is also an option.

[2017-06-14 00:30] davidalger commented on #2083
The GitHub issue tracker is only intended for technical issues resulting from underlying issues in the Magento software. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and support.

[2017-06-14 00:30] #2083 closed

[2017-06-14 00:32] davidalger commented on #5016
@juanangel123 Thanks for reporting this. If you would like to resolve this issue (if it even still exists given how long it's been since this was originally opened), please submit a PR with the change. Closing for now. Thanks!

[2017-06-14 00:32] #5016 closed, assigned to nobody

[2017-06-14 00:36] davidalger commented on #8289
@drcsystems2 CI builds are currently passing on develop. If you have trouble with Travis on a particularly PR, please try rebasing on latest develop and comment on that PR if the trouble persists (and you don't believe it's due to your changes). Closing.

[2017-06-14 00:36] #8289 closed, assigned to nobody

[2017-06-14 01:38] fooman commented on #9929
I believe this https://github.com/magento/magento2/pull/9939 might fix this one

[2017-06-14 01:41] #9913 closed, assigned to nobody

[2017-06-14 02:03] erfanimani commented on #3754
Yeah, same issue on 2.1.7..

[2017-06-14 03:01] kllee824 commented on #9828
Hi Brikner,

Is a configure about "Apache for the SSL termination"? I have setup testing environment 2 Apache Web server with Magento 2.0.14, Varnish, Redis and work fine with load test in http condition.

We would like to study implement this setup on production site, so that's a https environment and I see SSL termination can be form a trust channel between 2 web servers and Varnish. But dont kn

[2017-06-14 05:35] dhduc commented on #3897
@Jilco it seems that removed TTL attribute is working, but have a side effect when to do that.
According to the author of @sivaschenko site, each time you updated a category, the all website page cache will be flushed. Follow his article about this problem http://www.sivaschenko.com/magento2-full-page-and-block-cache-types/

[2017-06-14 05:50] addxorsw commented on #9667
@rparsi-commer Thanks for your help and the tips about irc. My purpose of reporting here is just report a bug, if it's an actual bug. What I need to do with the request I can most likely do another way around.

I will probably close this issue and report it properly by guidelines later.

[2017-06-14 06:06] SirTarox commented on #5959
Still not fixed in 2.1.5 :(

[2017-06-14 06:20] fezanqadirbhatti commented on #4795
Simply replace the magento file in bin directory with the new one and run the following command on magento file if your host is linux:

sudo chmod u+x bin/magento

Note: Before running bash command make sure your current working directory must be Magento 2.x root.

[2017-06-14 07:31] veloraven commented on #9927
@xeriuk thank you for your report.
Unfortunately we were not able to reproduce this issue.
Could you please provide some additional information?
# Did you clear all cache including Varnish, Redis if used, etc?
# Was it clear Magento install or upgrade from some previous version?
# What scope level did you use for tax settings? (Global/website/store/store view)
# How did you add a localization?
# D

[2017-06-14 07:49] keinereiner commented on #6640
still in 2.1.7 exists this problem....

[2017-06-14 07:56] m2developer commented on #3566
Still no updates ?

[2017-06-14 08:01] lfritsche commented on #9929
@fooman Hi Kristof,

thank you for your immediate support.
Seems to be exactly what I was looking for.

https://github.com/magento/magento2/pull/9939/commits/ab0f7ef2996d63bac0e520f96140723cc9de92ef

[2017-06-14 08:13] harimayco commented on #3759
the patch does not work on 2.1.7.

[2017-06-14 08:27] stephan-cream opened #9940 "MySQL database quote tables updated_at invalid default value"
### Preconditions
Magento version up to 2.1.6 with MySQL version on or above 5.7
### Steps to reproduce:
Run the following query.
ALTER TABLE quote AUTO_INCREMENT = 1
-or-
ALTER TABLE quote_item AUTO_INCREMENT = 1
-or-
ALTER TABLE quote_address AUTO_INCREMENT = 1
-or-
ALTER TABLE quote_address_item AUTO_INCREMENT = 1
-or-
ALTER TABLE quote_payment AUTO_INCREMENT = 1
-or-
ALTER TABLE quote_shipping

[2017-06-14 08:52] DavidLambauer opened #9942 "REST | API guest-cart returns Cart Id with quotes."
To use the Magento 2 Checkout, I am starting with getting a Cart Id. Due to that, I run the following request:

```BASEURL/rest/V1/guest-carts```

### Preconditions
1. Magento EE 2.1.6

### Steps to reproduce
1. Enter the following request in your terminal: ```curl --request POST  --url BASE_URL/rest/V1/guest-carts```

### Expected result
1. 9cdb1f51fdc3bfa2313dae65eb231271

### Actual result
1. "

[2017-06-14 09:07] ajpevers commented on #4237
@ishakhsuvarov this is fixed with #9943

[2017-06-14 09:10] sakisplus commented on #6588
This bug still exist in 2.1.7 CE.

[2017-06-14 09:21] veloraven commented on #9830
Internal ticket was created: MAGETWO-69787

[2017-06-14 09:42] patruvlad commented on #6382
Just tested this on Magento 2.1.7 with the steps above that @K7Triton wrote , the swatch images still do not resize.

[2017-06-14 09:50] shruti-ranium commented on #3724
Having the same issue while overriding default email order template
in file app/code/Vendor/Module/view/frontend/layout/sales_email_order_renderers.xml
`<page
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd"
label="Email Creditmemo Items List" design_abstraction="custom">

    <body>

        <referen

[2017-06-14 10:47] PatrickSH opened #9944 "Name attribute shows empty when creating custom fields on product creation form"
When i try to add new fields to product creationgform in the html name attribute shows up empty, i tried to add the new field both by extending product_form.xml and by using a modifier but both approches ends up the same - a empty name attribute.

I also added these custom fields to
category_form.xml
cms_page_form.xml

Using the exact same method and here it works perfectly.

### Preconditions
1.

[2017-06-14 11:40] Brikner commented on #9828
Hi Lun,

I'm going to have to defer your question to more experienced members in this community, if they care to answer you. I'm a Magento novice, and although I _have_ been getting things to work (eventually), I have no idea if I'm doing it "right."

Sorry, but I'd rather give no advice than bad advice.

Scott B.

[2017-06-14 12:03] veloraven commented on #9921
Internal ticket: MAGETWO-69850

[2017-06-14 13:03] veloraven commented on #9851
@rosandrest thank you for your report.
Please clarify several points.
1. Do you mean variations of configurable product at step 7? As related product has different meaning in Magento.
2. What product do you mean in expected and actual result? Are you waiting to see configurable product or its variation? Please specify it directly.
3. Is this product 'In Stock' or 'Out of Stock'? If you are talking

[2017-06-14 13:58] PVLPM opened #9945 "Magento admin panel doesn't work correctly"
I've just logged into my Magento admin panel and I can't work properly.

### Preconditions

1. Magento 2 installed on cPanel via Softaculous
2. Magento ver.       2.1.7
cPanel Version	58.0 (build 49)
Apache Version	2.2.31
PHP Version	        5.4.45
MySQL Version	10.1.22-MariaDB-cll-lve
Architecture	        x86_64
Operating System	linux
Perl Version	        5.10.1
Kernel Version	        2.6.32-673.

[2017-06-14 14:16] Turv commented on #9774
I can confirm I have the same problem too. I do not want to manage stock levels, only a binary in stock / out of stock.

[2017-06-14 14:27] rosandrest commented on #9851
1. To clarify, the duplicated configurable product has variations that are related to it so I delete those in step 5. I create new variations in Step 7.
2. I expect to see my new duplicated product with it's new variations that I created in step 7 to show up.
3. The product is in stock as are all it's variations that are associated with it. I have double checked to see that they are products in th

[2017-06-14 14:31] waynetheisinger commented on #6497
@schmengler I presume that it is only Resource Model `commits` we are interested in because they extend `AbstractResource`:

    try {
            // Find and remove unused attributes
            foreach ($attributeTables as $attributeTable) {
                $progress->setMessage($attributeTable . ' ');
                $affectedIds = $this->getAffectedAttributeIds($connection, $attributeTable);

[2017-06-14 14:32] dfelton opened #9946 "Magento EE 2.1.7 elements.xsd rules causes XSD validation errors on auto-generated block names."
### Preconditions
1. Fresh install of Magento 2.1.7 EE

### Steps to reproduce
Due to the nature of the cause of the issue, there is not a way to consistently reproduce the problem. This is because the method used to generate the hash relies the md5 result of a constantly changing value. Therefore it is by chance that a block will have a invalid generated name.

Will provide additional information

[2017-06-14 14:33] MTheProgrammer opened #9947 "503 when trying to access admin route"
The menu block is unable to fetch categories for current store

### Preconditions

1. Magento CE 2.1.6 && EE 2.1.7
2. Set admin panel frontName in etc/env.php different than _admin_

### Steps to reproduce

1. Go to http://domain.com/admin

### Expected result

1. Redirect to 404 page

### Actual result

1. Error in sql selecting from not existing table catalog_category_flat. This is caused by fac

[2017-06-14 15:03] mattkrupnik commented on #9940
I have this same issue.

[2017-06-14 15:09] scottsb opened #9948 "Event observers fire from disabled modules"
Magento will still fire observers for disabled modules.

Besides simply triggering unwanted functionality, this can also potentially cause fatal errors if the module was disabled before the install scripts ever ran, as the observer will expect the module to be installed (and any schema/data changes to be applied), which it won't be in this case.

### Preconditions
Magento 2.1.3

### Steps to repro

[2017-06-14 15:38] dnadle commented on #9830
This has something to do with full page caching. PrintShipment::_prepareLayout() is called 4 times successfully by an execution chain renders the print version of the order correctly. But then it is called again, by a different chain for which the registry is not properly initialized and this _prepareLayout() call exits with the fatal error. I don't yet know what is triggering this second renderin

[2017-06-14 15:52] okorshenko commented on #6382
All fixed from 2.1-develop branch will be available  in upcoming patch releases

[2017-06-14 16:29] br0k3n commented on #4120
Hi, how did you solve it?

Thanks

[2017-06-14 16:56] korostii commented on #9946
Actually, the commit is only present on the `develop` branch. Here's what this file looks like at the latest release on the stable branch (which is `2.1`, by the way): https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/View/Layout/etc/elements.xsd#L143

Which means that 2.1.7 CE hasn't received this update neither.
Hooray, EE users were not discriminated! CE users are negl

[2017-06-14 17:05] korostii commented on #6382
So the fix for this bug is not released yet?
Wouldn't it make sense to keep the issue open until that patch release becomes available?

[2017-06-14 17:06] dfelton commented on #9946
@korostii Thank you for this. This is very helpful. I was unaware of the purpose of the 2.1-develop branch so after you elaborated on this that does indeed make me feel better about the situation.

I may go ahead and do what you have suggested for a few XSD files. Locally I've resorted to updating a few vendor files directly but this approach obviously does not bode well for when I upgrade to futu

[2017-06-14 17:08] nikolaybaychenko opened #9949 "Magento 2 Rest API edit category gives unexpected result"
This issue was previously reported [here](https://github.com/magento/magento2/issues/9667). The reason for making a new issue is formatting a complaint according to the reporting guidelines.

### Preconditions

1. Magento 2.1.7
2. PHP 7.0.18

### Steps to reproduce

1.  Having a test category of products:
[code]

2. Send a Rest API request:

Headers:

[code]

Body:
[code]

### Expected result

[co

[2017-06-14 17:08] #9667 closed, assigned to nobody

[2017-06-14 17:10] korostii commented on #9946
No problem, glad to help :)
Good luck with your future endeavors & have a nice day!

[2017-06-14 17:12] dfelton commented on #9936
After reading @korostii's [comment](https://github.com/magento/magento2/issues/9946#issuecomment-308493361) regarding the purpose the `2.1-develop` branch vs the `develop` branch, I am lead to believe this XSD file simply has not been updated in the latest version of either EE or CE. [Reviewing 2.1-develop seems to confirm this](https://github.com/magento/magento2/blob/2.1-develop/lib/internal/Mag

[2017-06-14 17:13] dfelton commented on #9946
Closing issue after gaining a better understanding of branches and their purpose.

[2017-06-14 17:21] korostii commented on #9946
Actually I'd advise to keep an issue open until it gets released. Otherwise the guys at Magento, Inc. probably won't stumble upon it, ever (nor will they care about backporting it).

[2017-06-14 17:24] dfelton commented on #9946
thanks again :)

[2017-06-14 18:04] Cyrus180 opened #9950 "Disabling product variation with Actions dropdown doesn't work"
### Preconditions

1. Magento 2.1.3
2. Apache 2.4.25
3. PHP 7.0.19
4. MySQL 10.1.24

### Steps to reproduce

1.  Edit a configurable product.
2.  Scroll down to the Configurations.
3.  Click on Select -> Disable in the Actions column on one of the variations.
4. Click on Save.

### Expected result

1.  The variation should be disabled.

### Actual result

1. The variation is still enabled. It is e

[2017-06-14 18:34] rimkutea commented on #1569
Good day, it could be my issue as well. I run a "pho -i" and got "Loaded Configuration File => /etc/php.ini". Where could I search the "On the server upload a php file with phpinfo()"? On the root folder could not see it...

[2017-06-14 20:23] paragonie-scott commented on #5701
sodium_compat v1.0 is out if the Magento team wants to switch to more secure cryptography

[2017-06-14 22:22] mrIntegrator opened #9951 "Admin Checkout Customer Form Datepicker Not Displaying After AJAX Load"
When placing an order in the admin, date attribute fields (e.g. date of birth) on the customer form are not transformed into date pickers when the form is loaded by AJAX. If the page is refreshed, the date pickers appear.

### Preconditions

1. Magento CE 2.1.5 with sample data.

### Steps to reproduce

1. In the admin, under Stores > Configuration > Customers > Customer Configuration > Name and A

[2017-06-14 22:47] mrIntegrator commented on #9951
Found the solution. The following line must be added after [app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js:1037](https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js#L1037):

`jQuery('#' + this.getAreaId(id)).trigger('contentUpdated');`

I can create this pull request if the issue has not already been fixed.

[2017-06-14 23:06] sakisplus commented on #9882
I use Magento 2.1.t and I have the same issue if i copy my database from a production server to a local development server.

When this error appear I search my var/exception.log file and found an excpetion starts with
[2017-06-14 22:46:39] main.CRITICAL: PDOException: SQLSTATE[HY000]: General error: 1449 The user specified as a definer ('[db_user]'@'localhost') does not exist in ...

I fix this is

[2017-06-14 23:14] roseofgold commented on #9923
I will see if I can find some help on StackExchange or through my PHP groups.

[2017-06-15 01:55] chenshanmin commented on #5316
I repeated all php tags  Ha ha ha

[2017-06-15 02:18] adrianvanderwal opened #9952 "Admin -> Stores -> any sub page not loading css"
Clean install of Magento
Performing initial setup of store locale - set from US to AUS
Went to set tax rates etc - css not loading correctly.

Magento is trying to use:

`<link rel="stylesheet" type="text/css" media="all" href="http://shop.mydomain.com.au/pub/pub/static/version1497419493/adminhtml/Magento/backend/en_US/extjs/resources/css/ext-all.css">`
**Note the double /pub**

Should be:
`<link

[2017-06-15 02:32] zhangjunwen commented on #9547
I Get the same error, have fixed it?

[2017-06-15 02:45] kllee824 commented on #9828
Hi Scott,

Thanks anyway. You have give me some idea to implement SSL with Varnish.

Lun

[2017-06-15 04:54] harimayco commented on #7441
is there any update for about this issue?
I'm also having this issue with latest magento 2.1.7.

[2017-06-15 04:57] ihor-sviziev commented on #1146
I think it would be great to mark /index.php as deprecated with description to use /pub/index.php instead.
And in few next releases we can remove it.

[2017-06-15 06:31] amitshree commented on #4053
After debugging further I see the "Date" option is already of datetime type. Only issue is that time is hidden in admin section. May be because we want to show only date in admin section? If we want to show time also that can be enabled from `app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/datepicker.js` by setting `showsTime` to `true` .

@okorshenko  Can you let me know how to go ahea

[2017-06-15 07:17] shirsatsandeep commented on #5490
@andidhouse did you get any solution

[2017-06-15 07:19] shirsatsandeep commented on #5490
@andidhouse  @TommyKolkman

I am using table rates for singapore and rest of world -

Singapore hipping Costs for Rods
1 Rod 25
2 Rods 25
3 Rods 35
4 Rods 35
5 Rods 45
6 Rods 45

Global Shipping Costs for Rods.
1 Rods 100
2 Rods 100
3 Rods 130
4 Rods 200
5 Rods 230
6 Rods 260

1 Go to Storefront as guest
2 Add simple product to cart
3 Go to Checkout
4) Singapore is default country
5) But it show g

[2017-06-15 07:32] shirsatsandeep commented on #5490
I figure it out, i forgot to set Tax configuration, and set default country to singapore

[2017-06-15 08:21] osrecio commented on #5823
Hi, IMHO third solution is the most suitable.

[2017-06-15 08:28] matthewhaworth commented on #7931
We've had this issue too, it's been exceeding 100 cookies for me. It appears to be duplicating some, which I wasn't even sure was actually possible..

[2017-06-15 08:57] PKRAY007 opened #9954 "checkout with credit card issue (sorry but something went wrong message when checkout with credit card (Authorize.net)"
### Issue:
Problem when checkout with credit card (Authorize.net)
### Version:
Magento ver. 2.1.2

Hi there,
Some of our customer complain that they can't checkout with Credit Card (Authorize.net). A sorry message "**sorry but something went wrong**" showing when checkout. I have checked the issue also found the problem using credit card (testing mode). Another thing that it showing the order stat

[2017-06-15 09:38] prdptom opened #9956 "Magento 2.1.5, Categories not shown in Add Product page"
### Preconditions

1. Server setup in Linux
2. Dashboard > Products>Catalog>Add Product
3. Click on Categories Drop Down

### Expected result

1.  Categories tree shown

### Actual result

1.
![product-category-error](https://user-images.githubusercontent.com/22837574/27175304-656d1344-51dc-11e7-9f06-3f46dfdc0076.PNG)
2.
/pub/static/adminhtml/Magento/backend/en_US/knockoutjs/knockout.js:3012 Uncau

[2017-06-15 09:45] stephan-cream commented on #5675
This issue is still there.
Using Magento version 2.1.6.

[2017-06-15 10:20] sduif commented on #8426
We had the same issue. Our client imported products through the backend, after which certain products would not save (Warning: Illegal string offset 'price_qty').

Solution for us was similar to what @lisaaugustine pointed out. A single attribute value was saved in one of the product entity tables. Steps to resolve:

1. Backup your database
2. Locate your "tier_price" attribute ID (Stores -> Attri

[2017-06-15 10:26] gold2040 commented on #8964
Has a fix been pushed for this yet?, it is really quite urgent and pressing that this is sorted

[2017-06-15 11:28] PascalBrouwers commented on #4896
If it's coming from a 3rd party module, make sure they use the factory method.
E.g. EavSetupFactory instead of EavSetup in the constructor.

[2017-06-15 11:41] ghkroshnal commented on #1369
Hi guys, implementing  solution by 'vpiyappan' front page seems ok but the back end has not stopeed loadng, so what I see in the backend is a loading sign only. I am using xampp 3.2.2

[2017-06-15 11:51] sivajik34 opened #9958 "EntityManager entity's entityType check"
When we are loading entity through entity manager following statement calling 7 times:

` $this->typeResolver->resolve($entity); `

1.Magento\Framework\EntityManager\EntityManager :load
2.Magento\Framework\EntityManager\Operation\Read :execute
3.Magento\Framework\EntityManager\Operation\Read\ReadMain :execute
4.Magento\Framework\EntityManager\Hydrator:extract
5.Magento\Framework\EntityManager\Oper

[2017-06-15 12:11] nl2asa commented on #9956
Same problem here. JQuery  problem?

[2017-06-15 12:15] lucacarafoli commented on #8426
Thank you @sduif, we resolved the problem in the same way.

[2017-06-15 12:32] IlnitskiyArtem commented on #8198
This is not a bug.
You can change the Currency display settings in "Stores > Currency > Currency Symbols"

[2017-06-15 12:37] prdptom commented on #9956
@nl2asa

No idea. I have'nt changed any js files let alone in admin. Weirdly, catalog selection in product page works perfect in my local system which is in windows but not in server. So Im inclined to believe it has to do something with server.

[2017-06-15 13:36] aholovan commented on #8566
Hello,
@Corefix, @koenner01 have You guys tested the fix on 2.1.6, 2.1.7? With this fix I've got 500 error on Cart when some simple product of configurable is in Quote and on that moment is out of stock.

PHP Fatal error:  Uncaught Error: Call to a member function getPrice() on null in ../vendor/magento/module-configurable-product/Model/Product/Type/Configurable/Price.php:43\nStack trace:\n#0 ../v

[2017-06-15 13:38] veloraven commented on #8470
Internal ticket for ver. 2.1 - MAGETWO-58503

[2017-06-15 13:41] CMoorhouse opened #9959 "Minicart redirects customer to homepage on firefox"
### Preconditions
1. Magento 2.1.5
2. php 7.0.17
3. Domain www.priceofbath.com
2. Browser not working correctly is firefox

Hi

The details are:

### Steps to reproduce
1. Visit - https://www.priceofbath.com/squash/testing.html
2. Add a product to the basket/cart
3. The number of items now show in the minicart icon in the header
4. Selecting the minicart icon/number in a firefox browser redirects

[2017-06-15 14:05] IlnitskiyArtem commented on #7718
Thank you, Internal ticket was created for this issue - MAGETWO-69896

[2017-06-15 14:10] vityakopin commented on #8147
@abhijitbanik2016 I tried to subscribe for newsletters on your site and did it successfully. Is the issue still actual?

[2017-06-15 14:26] dharmendrakothe commented on #6866
Main issue fix but still showing  0.00 on sidebar

[2017-06-15 14:27] veloraven commented on #9276
@rip057 thank you for your feedback.
Is this issue still actual for Magento 2.1.7? There were fixes for images in this version.

[2017-06-15 14:48] veloraven commented on #9478
@timhofman thank you for your feedback.
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.
We can not treat

[2017-06-15 15:06] hostep commented on #8566
@aholovan: https://github.com/magento/magento2/issues/5519#issuecomment-282315348

[2017-06-15 15:09] franckgarnier21 commented on #6924
Magento, can you improve you error reporting in order to add the Exception Stack trace and not only catch the exception and return a general error message ?

[2017-06-15 15:29] veloraven commented on #9668
@dankocherga thank you for your feedback.
Customer custom address attributes are available in Enterprise edition only.
As you use Community Edition please address your question at  [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) or [Magento Stack Exchange](http://magento.stackexchange.com/). As it is not a native behavior of Magento

[2017-06-15 15:34] veloraven commented on #8564
@piatrouski is this issue still actual?
If it is please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is not, please close it.

[2017-06-15 16:24] simonsaysforcepush commented on #5478
This is STILL broken in 2.1.7... Why? There's no reason for this. This is basic functionality, as .ico is the standard accepted format.

[2017-06-15 16:28] nogoodchoices commented on #5453
I am running into the same error.

Magento EE v 2.1.7
PHP 7.0.12

Is this issue being looking into by the Magento team?

[2017-06-15 16:29] veloraven commented on #9007
@PascalBrouwers thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2017-06-15 16:30] veloraven commented on #9008
@mpchadwick thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2017-06-15 16:33] veloraven commented on #9175
@surajsanchit please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2017-06-15 16:38] veloraven commented on #9685
@klein0r thank you for your feedback.
Which Magento edition do you use? As I can see you mention customer custom attributes.
Customer custom attributes are available in Enterprise edition only.
If you use this one, please contact Magento support instead of posting your issue here.
If you use Community Edition please address your question at  [programming questions forum](https://community.magento.

[2017-06-15 16:41] stephenkidwell commented on #8978
Anyone know if this issue has been resolved? I can't find a reference in any recent release.

[2017-06-15 16:42] veloraven commented on #9871
@magentomaniac  thank yuo for your report.
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2017-06-15 16:44] veloraven commented on #9903
@barbazul thank you for your report.
Please, identify which version of Magento you are running.

[2017-06-15 16:53] waynetheisinger commented on #6497
I've created PR #9955  for this but I'm not very clear on how to move this ticket into the PR created column of the Project Board - or is this something that board moderators do? I would imagine that its a drag and drop functionality for those with permissions?

[2017-06-15 16:57] thaddeusmt commented on #8399
I have attempted to create an extension that allows CORS cross-domain requests without modifying your Apache and Nginx server configs. It handles the OPTIONS pre-flight request, and allows configuring the Origin domain in the Admin Configuration. Feel free to check it out, and let me know if I have implemented any part of the CORS protocol incorrectly (or if I have bugs in my Magento code!). Thank

[2017-06-15 17:38] stevematthewroberts commented on #5272
The issue is normally when you have a theme over written. That theme I guess has no styles.
You are flushing the cache which then reverts to the theme which the styles arent there or connected.

[2017-06-15 17:43] stevematthewroberts opened #9960 "Developer Mode / Static Files still showing"
### Preconditions

1. Magento 2.1
2.

### Steps to reproduce

1. Switch on Developer Mode
2. Flush Static Files Cache
3. Shows My Theme, Change My Theme, It then depends on Static Files and I don't want it to.

### Expected result

1. For static files to be irrelavent

### Actual result

1. [Screenshot, logs] Reverts to static files

I switch on developer mode and flush static files. I then need M

[2017-06-15 18:43] pkm32 commented on #7958
@AvanorHealthcare, when you say you use the composer.json, can you please tell me how you used this file? Is there a UI, or did you run a command using this file?

Thank you

[2017-06-15 18:43] Silarn commented on #8399
@thaddeusmt That looks like a great solution until/if/when they get around to implementing CORS in core, thanks!

I haven't pored over the module yet, but I plan to pull it and start testing soon.

[2017-06-15 18:50] hostep commented on #5352
@timbaker1991: I backported the fix from the develop branch to the 2.1-develop branch over here:
https://github.com/magento/magento2/pull/9590

So it should get included in the next minor release (2.1.8 hopefully).

[2017-06-15 19:17] thomasnordkvist opened #9961 "Unused product attributes display with value N/A or NO on storefront"
### Preconditions

1. Magenti 2.1.7

### Steps to reproduce

1. Create product attribute of type text field and set visible on catalog storefront.
2. Add attribute to attribute set default.
3. Create product with attribute set default and do not

### Expected result

1. Attribute should not be seen on product page in More Informatin tab

### Actual result

1. Attribute shows on product page with v

[2017-06-15 19:25] #9805 closed, assigned to nobody

[2017-06-15 19:25] #9924 closed, assigned to nobody

[2017-06-15 19:32] JamesonNetworks commented on #7958
@pkm32 https://store.fooman.co.nz/blog/installing-a-magento-2-extension-from-marketplace-using-command-line.html

This is all from the commandline and gets committed with the repo

[2017-06-15 19:59] schizek commented on #4004
What's the status on this?

[2017-06-15 20:19] amanuni commented on #3724
@nobuttsalex your method is working just their is small change is directory structure di.xml file should be in `Vendor/Module/etc/di.xml` instead of  `Vendor/Module/etc/frontend/di.xml`

Here is the code that i use for override default renderer of email template.

Vendor/Module/etc/di.xml
[code]

Vendor/Module/Block/Order/Email/Items/Order/DefaultOrder.php
[code]

For override default.phtml file c

[2017-06-15 20:55] korostii commented on #9951
It's not likely that you'll have any attention from core developers soon enough.
I'd advise to either go ahead with pull request right away or check whether the issue can be reproduced using latest code from `develop` branch yourself.

[2017-06-15 21:09] korostii commented on #9954
You might be surprised, but such an error message may appear for a multitude of reasons.

You'll need to dig deeper: please check both Magento's logs at `<Magento installation root dir>var/log` and server response using browser's inspector: look for the response to the transact.dll ajax request on the Network tab when you experience the error.

The underlying issue is most likely a misconfiguratio

[2017-06-15 21:20] korostii commented on #9958
I believe the community forums are expected to be used for technical questions.
GitHub Issues, on the other hand, are for the consistently reproducible bugs.

So, unless you have some concrete benchmarks or a pull request to back it up, I am not quite sure what kind of a response are you hoping for here.

[2017-06-15 21:33] korostii commented on #9668
@veloraven, [extension attributes and EAV attributes aren't the same thing](https://github.com/magento/devdocs/issues/1217#issuecomment-308672200), Are you sure you're not mixing up those?

[2017-06-15 21:40] barbanet commented on #6656
The problem is on ZF definition. This affect M1 & M2 because both use the same libraries ZF1.
I've made a blog post (in spanish) with the explanation and the solution: http://www.damianculotta.com.ar/magento/bug-en-los-locales-es-en-magento-1-y-2

Also I made a PR to the Magento's ZF repository with the fix for es_* locales: https://github.com/magento/zf1/pull/9

@jahicDario can you check if the p

[2017-06-15 21:48] korostii commented on #8564
Oh wow. 4 months. That was fast :D
@veloraven, please see [my comment](https://github.com/magento/magento2/issues/8564#issuecomment-280613973) above, I pointed out exact places in source code (which haven't changed since, meaning the issue is still actual.

It is quite clear that root cause of the error is being lost. Short of a pull request, I fail to understand what else do you need.

It's not a

[2017-06-15 21:54] korostii commented on #5478
@veloraven, could you please an official response regarding.. what takes so long?
The issue is reportedly "fixed", what are the steps for a merchant in order to apply this fix to his Magento instance (if it's not in any of the versions released, as of yet)?

[2017-06-15 22:02] korostii commented on #9007
@veloraven, have you even read the report? Looks quite complete to me.
Your response seems to be a case of bureaucracy in action.

**Steps to reproduce:** log in as a customer, create 581 addresses, do a checkout.
**Expected result:** sane response time.
**Actual result:** hanging for more than 2 minutes.

Does the report meet your high standards now?

[2017-06-15 22:09] korostii commented on #9175
@veloraven, this is a request to backport a fix which is already accepted into the `develop` branch.
Please read the description provided with the pull request referenced in the report if you require any more details: https://github.com/magento/magento2/pull/7344

[2017-06-15 22:21] korostii commented on #9871
Hi @veloraven
Isn't Magento_Catalog module shared with CE?

[2017-06-15 22:22] roseofgold commented on #9923
I have searched through my files. The only place that isProdustHasSwatchAttribute or getRendererTemplate shows up is in the vendor files.

[2017-06-15 22:27] rip057 commented on #9276
I must admit I need to update I will do it tonight

On Jun 15, 2017 9:53 AM, "Olga Moyseyenko" <notifications@github.com> wrote:

[2017-06-15 22:41] okorshenko commented on #9850
Hi @osrecio
Do you have any progress on this? Do you need some help?

[2017-06-15 22:46] osrecio commented on #9850
I'm working on it. these weeks I'm very busy. But I will try looking gaps to commit some progress

[2017-06-16 00:03] barbazul commented on #9903
I just checked current HEAD  and this was fixed  recently.

I still think the test is redundant with ComposerTest, but this ticket is no longer relevant.

[2017-06-16 00:03] #9903 closed, assigned to nobody

[2017-06-16 00:35] #9426 closed, assigned to nobody

[2017-06-16 04:26] abhijitbanik2016 commented on #8147
@vityakopin now its resolved.

On Thu, Jun 15, 2017 at 7:40 PM, vityakopin <notifications@github.com>
wrote:

--
With regards

Abhijit Banik
Fashion, Photography and Textile Designer
Mobile: +91-9898013751
E-Mail: abhijitindesign2012@gmail.com

[2017-06-16 04:52] johnsonmasih commented on #4468
There error in 2.1.7 too, couldn't find the solution on whole internet...

[2017-06-16 04:53] phuongnd commented on #4468
@smokygeek17  do you refresh the cache?

@johnsonmasih just disable blocks HTML output cache, it will be sorted out.

[2017-06-16 05:23] johnsonmasih commented on #4468
@phuongnd Refreshing cache  or disabling blocks HTML output cache didn't work

[2017-06-16 05:33] phuongnd commented on #4468
@johnsonmasih  we're using multi widget here http://novetty.zooextension.com/stores/store/switch/?___store=home9_en and it's working very well.

[2017-06-16 06:46] romeof1980 commented on #9276
I'd advise to test it on a dev. Not in production. The problem could be fixed in Magento core but not in your theme.
Testing directly in production is at your own risk..
cheers!

---- On Fri, 16 Jun 2017 00:28:02 +0200 notifications@github.com wrote ----

I must admit I need to update I will do it tonight

On Jun 15, 2017 9:53 AM, "Olga Moyseyenko" <notifications@github.com> wrote:

—
You are rece

[2017-06-16 07:30] pascaladriaansen commented on #9466
I think this is the same issue as #4096.

[2017-06-16 07:32] shruti-ranium commented on #3724
above code worked for me.Thanks.

[2017-06-16 07:37] JancyAbraham opened #9962 "Unable to save tax_class_id attribute"
Unable to edit/save tax_class_id attribute from backend. The page is always loading when I try to save this. All other attributes working fine

**Preconditions**
Magento CE 2.1.7

**Steps to reproduce**
   1. Go to Admin > Store > Attributes > Product
   2. Edit 'tax_class_id' attribute
   3. Press Save button

**Expected result**
Changes should be saved and display success message

**Actual resul

[2017-06-16 07:40] SyedMuneebb commented on #2824
Magento 2 is not slow but yes it can become slow due to our own mistakes. If your store is slow then you can boost its speed by updating version, enabling cache, optimizing etc. Here's a step by step guide on it: [Why Magento 2 is slow?](https://magenticians.com/why-magento-2-is-slow/)

[2017-06-16 07:42] rip057 commented on #9276
It's fine it seems to be working, I just use my own API to add pictures
from my proprietary Android application, and it doesn't use any of the
Magento apis, it just inserts into the MySQL db into
catalog_product_entity_media_gallery catalog_product_entity_media_ga
llery_value, catalog_product_entity_media_gallery_value_to_entity, and into
catalog_product_entity_varchar.  Since I never save the pro

[2017-06-16 07:43] PascalBrouwers commented on #9007
@veloraven I have updated the issue according to the issue reporting guidelines.

[2017-06-16 07:47] reviskar commented on #6680
Same issue here with Magento 2.1.7. Still no fix to this?

[2017-06-16 08:02] korostii commented on #9426
Hello @magento-team,
Could you please announce in which version is this fix scheduled to ship?
It's a bit confusing to see the issue closed while the latest (2.1.7) release still has the bug inside.

[2017-06-16 08:03] korostii commented on #4237
Hello @magento-team,
Could you please announce in which version is this fix scheduled to ship?
It's a bit confusing to see the issue closed while the latest (2.1.7) release still has the bug inside.

[2017-06-16 08:05] korostii commented on #8147
Hi @abhijitbanik2016
Can you confirm the issue was caused by 3rd-party code and not Magento CE itself?
If that's the case, feel free to close the issue.

[2017-06-16 08:08] ishakhsuvarov commented on #4237
Pull Request was targeted to the `develop` branch so we expect it to be shipped in 2.2.0.

[2017-06-16 08:11] abhijitbanik2016 commented on #8147
@korostii I am not very sure about the cause. I reinstalled updated Magento
version. Then I worked on it. Now i am not finding that error.

On Fri, Jun 16, 2017 at 1:35 PM, korostii <notifications@github.com> wrote:

--
With regards

Abhijit Banik
Fashion, Photography and Textile Designer
Mobile: +91-9898013751
E-Mail: abhijitindesign2012@gmail.com

[2017-06-16 08:13] jacquesbh commented on #2824
We are talking about Magento in Developer mode, not in production @SyedMuneebb.

[2017-06-16 08:28] veloraven commented on #9016
@mb-tec thank you for your report.
This issue has already been fixed in develop #6894
And we have internal ticket for fixing it in ver. 2.1 - MAGETWO-67470

[2017-06-16 08:28] amanuni commented on #3724
@shruti-ranium enjoy!

[2017-06-16 08:38] stevematthewroberts opened #9963 "Issue with Front End vs Pub/Static/Frontend on site"
Hello

I am creating a theme in 2.1, but I have an issue with files being updated in pub/static/frontend/<my-theme>/en_GB/.

Steps:

1) Within app/design/frontend/<theme-parent>/<my-theme> I would edit css.

2) Refresh website and see old changes in pub/static/frontend/<my-theme>/en_GB/

3) Dashboard > Flush Static Files Cache

4) The site reverts to my new changes

5) Make more changes to app/des

[2017-06-16 08:44] smokygeek17 commented on #4468
@phuongnd Yes it did. And your next advise to disable the HTML output cache didn't work.

We just used the "SKU is one of" option and listed all SKUs that are needed.

But it's obviously a bug.

[2017-06-16 08:47] phuongnd commented on #4468
@smokygeek17 yes, it's exactly a bug. **Disable block html cache** is just a temporary solution.

[2017-06-16 08:51] korostii commented on #9963
I believe you should switch that one to client-side and flush static folder afterwards (make sure to keep `.htaccess` files!).
There's also a [guide](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html) detailing the use of Grunt with Magento

Generally, if you have a technical question like that, the [Community Forums](https://community.magento.com/) or the [Magent

[2017-06-16 09:03] magentomaniac commented on #9871
Thanks for your reply @veloraven. We've handled this issue internally so there's no need to escalate to EE support at this point in time.

Although I haven't confirmed this myself I believe @korostii is right and the issue will be reproducible in M2 CR version as well as this is a common module and the functionality it's related to is very much standard.

[2017-06-16 09:27] Emergento commented on #9455
We get the same identical issue

[2017-06-16 09:36] stevematthewroberts commented on #9963
This is a nightmare!

So I did the following
1) STORES > Configuration > ADVANCED > Developer > Frontend Development Workflow > Workflow type > client-side less compilation and check Use system value
2) Dashboard > System > Cache Management > Flush Static Files Cache

and nothing, all styles still go to pub/static

I really need help! :(

I'll ask on those forums too, thank you

[2017-06-16 09:41] erfanimani opened #9965 "Configurable products preview images/color swatches not working when "Use Flat Catalog Product" is enabled."
### Preconditions
1. Install Magento CE 2.1.7

### Steps to reproduce
1. In the admin, edit the color attribute: enable "Used in product listing", set input type to "Visual Swatch", enable "Update Product Preview Image", enable "Use Product Image for Swatch if Possible"
2. In the admin, create a configurable product with a couple child products, with each their own set of images
3. Go to the categ

[2017-06-16 09:57] ricardowong commented on #6362
Although this is not a correct solution you can override **vendor/magento/framework/Locale/Format.php** to fix the currency to the desired value:

`        // MODIFICATION TO CORE FILE, TO FIX ISSUE WITH CURRENCY FORMAT
	    if($localeCode == 'es_MX'){
            $decimalSymbol = '.';
            $groupSymbol = ',';
        }`

[2017-06-16 10:29] angelo983 opened #9967 "Some messages in Customer Account Create not translated"
Some messages in Customer Account Create not translated

### Preconditions
1. Magento 2.1.7
2. PHP 5.6
3. Use a located version (not en_US nor en_GB)

### Steps to reproduce
1. Go to Create an Account
2. Insert a small password or a password with only ciphers, insert a not valid email address

### Expected result
1. Warning messages about password validation appears in locale language

### Actual

[2017-06-16 10:43] djbokkeman commented on #9464
I got the same issue.

[2017-06-16 11:18] lingwooc commented on #5475
@codekipple They have not. Just tried the same thing and got the same error in **CE 2.1.7**, one presumes for the same reason. *sigh* It is quite frustrating how many already fixed bugs I hit in the releases.

[2017-06-16 11:20] PKRAY007 commented on #9954
Hi @korostii
Thanks for your response. I have checked the `<Magento installation root dir>var/log/debug.log` only showing the below response,
`[2017-06-16 10:30:45] main.DEBUG: per product type 5.9500 simple {"is_exception":false} `[]
`[2017-06-16 10:30:45] main.DEBUG: per product type 5.9500 simple {"is_exception":false} []`
`[2017-06-16 10:30:50] main.DEBUG: cache_invalidate:  {"method":"POST","

[2017-06-16 11:24] eInyzant commented on #7570
is it really fixed already ?
I still have this issue on magento 2.1.6

[2017-06-16 11:41] cygnet-aamunshi commented on #9445
Hello,

We can reproduce this issue. For every fresh quote for the first time when a fresh new session is initialise and if we try to add multiple products programmatically then it will give us the given error after adding the first product to cart.

After the first error is reported it works smoothly for every time we try to add the bunch of products. ut, if we clear browser cache or place an ord

[2017-06-16 11:45] caleoroco commented on #9191
Same Issue but on a new install of 2.0.14 php5.6

[2017-06-16 11:51] veloraven commented on #8473
@sashas777 thank you for your feedback.
I'm closing this issue as RMA functionality is available in Enterprise edition only.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues a

[2017-06-16 11:51] #8473 closed, assigned to nobody

[2017-06-16 12:00] veloraven commented on #8131
Internal ticket - MAGETWO-69899

[2017-06-16 12:03] veloraven commented on #8236
Internal ticket was created - MAGETWO-69931

[2017-06-16 12:08] kevingimbel commented on #9963
This really is a nightmare.

For the past hours I tried everything that came to my mind and searched through Google to get my custom LESS file to re-compile and apply its changes. It's pure stress and pain to work with CSS/LESS in Magento 2 in my opinion.

What I did (in no specific order):

- I ran `bin/magento setup:static-content:deploy de_DE en_US`
- used `cache:clean` and `cache:flush`
- remo

[2017-06-16 12:15] bartlubbersen commented on #8274
I solved this problem for my API with the following plugin:

[code]

and class

[code]
Hope this helps.

[2017-06-16 12:18] bartlubbersen commented on #7845
@veloraven,
We are using CE and not enterprise, however this still is a bug and not a question. Since you can also add custom address attributes via setup scripts, so it still needs solving.

[2017-06-16 12:19] veloraven commented on #8251
Internal ticket was created for this issue: MAGETWO-69905

[2017-06-16 12:19] stevematthewroberts commented on #9963
I am at that point, so I can easily create my own theme within app/design/frontend/my-theme/ with my own css/less/sass (im using less). as long as I in the dashboard flush the Static Files Cache.

I have to do this every change, I thought I was the only one with this issue but seems not. What is this with Magento 2.1, this cant be serious!

I have Developer Mode On.

This Caching seems a bit ridic

[2017-06-16 12:22] mzenner1 commented on #5670
Issue is still present on 2.1.7.  Please fix this guys.  What's the point of allowing us to set a product's visibility to "Search" only if the toolbar pagination and count totals still see it on category pages??  I hope you are aware of this issue

[2017-06-16 12:24] Buy-bg commented on #8251
Hello, does the creation of the internal ticket mean that the issue will now be reviewed and we can expect some actions :) ?

[2017-06-16 12:28] audexpro commented on #8251
I solved by replacing these files  https://github.com/magento/magento2/commit/0942a9a85193b8cac9b61af5ef0f44a6be3e843f

[2017-06-16 12:33] Buy-bg commented on #8251
Thanks a lot, man :) :) :) We will try that for sure :+1:

[2017-06-16 12:40] redelschaap opened #9968 "Canceled invoice can be canceled again"
A canceled invoice can be canceled again. I think `\Magento\Sales\Model\Order\Invoice::cancel` should check whether the invoice can be canceled before executing all cancel operations.

### Preconditions

1. Tested on Magento 2.1.5

### Steps to reproduce

1. Load a canceled invoice programmatically
2. Call `$invoice->cancel()`

### Expected result

1. Throw an exception saying the invoice has alre

[2017-06-16 12:40] PKRAY007 commented on #9954
Someone says that, this error generally comes when server connection timeout of api has been expired. For authorize.net it is 45 second. For that I have increased the expire time to 60 second, but no luck,

in `vendor/magento/module-authorizenet/Model/TransactionService.‌​php` const `CONNECTION_TIMEOUT = 60;`

[2017-06-16 12:43] IlnitskiyArtem commented on #9896
Thank you, Internal ticket was created for this issue - MAGETWO-69927

[2017-06-16 12:51] audexpro commented on #8251
@Buy-bg Here is what I have replaced https://www.dropbox.com/s/zs6q27k0a96gpk5/M2%20Tanslation%20issues%200942a9a.zip?dl=0

Let me know if it works for you too ;)

[2017-06-16 12:54] COTIGA commented on #7310
`
cd /MAG/2/PATH
nano composer.json
`
DELETE THE LINE (CTRL + K)
"fabpot/php-cs-fixer": "~1.2",
SAVE (CTRL + O)
CLOSE nano (CTRL + X)
`
composer update
composer require friendsofphp/php-cs-fixer --dev
`

[2017-06-16 13:03] veloraven commented on #7910
@ewallkrishnaprakash thank you for your report.
Is this issue still actual? We were able to reproduce it only partly on the specified version.
And we were not able to reproduce it on the latest version (2.1.7).

[2017-06-16 13:07] veloraven commented on #8350
@vipinroy is this issue still actual?

[2017-06-16 13:17] veloraven commented on #7781
@sameasterling thank you for your report.
Could you please confirm if this issue still actual?
We were not able to reproduce it on ver. 2.0.14.

[2017-06-16 13:37] mzenner1 commented on #5670
I'm responding to my own post from just above.  It just occurred to me that if a product is set to be visible in "Search" only, it does not need to be in a category.  The pagination issue can be fixed by simply untagging the search only products from all categories.

[2017-06-16 13:38] simpleadm opened #9969 "Cancel order and restore quote methods increase stocks twice"
Some payment methods in cancel payment action try to cancel current order and restore quote and as the result product qty is increased by 2.

### Affected payment methods
1. Paypal Hosted Pro (CE, EE)
2. Paypal Payflow (CE, EE)
3. Worldpay (EE)
4. Eway (EE)
5. PayEx (Third party payment gateway)

### Preconditions
1. Magento 2.1.* CE and EE
2. Configured payment methods

### Steps to reproduce
1.

[2017-06-16 13:47] veloraven commented on #6190
@juanmrad is this issue still actual?
We are not able to reproduce it. And as I see on the screenshot from the first message 'auto_bill' attribute is marked as system, so you should not have possibility to delete it.

[2017-06-16 13:51] veloraven commented on #7699
@Remishevskiy thank you for your report.
Is this issue still actual?
We were not able to reproduce it on the ver. 2.1.7

[2017-06-16 13:53] veloraven commented on #8172
@gabriel-sf is this issue still actual?
We were not able to reproduce it on the latest version.

[2017-06-16 13:53] biclope commented on #9969
you found it, you patched it

[2017-06-16 13:56] veloraven commented on #7634
@JonyD thank you for your report.
We were not able to reproduce this issue. Could you confirm that it is still reproduces on the ver. 2.1.7?

[2017-06-16 13:58] veloraven commented on #9825
@rbur0425  thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2017-06-16 14:02] veloraven commented on #7782
@mtb2112 thank you for your feedback.
Is this issue still actual?
We were not able to reproduce this issue.
Are other letters sent without problems?

[2017-06-16 14:06] mtb2112 commented on #7782
I'm can't answer that as I am no longer working on any Magento platforms.

[2017-06-16 14:08] veloraven commented on #7880
@vikramshivtare is this issue still actual?
We were not able to reproduce it on the ver. 2.1.7.

[2017-06-16 14:28] ishakhsuvarov commented on #7845
@bartlubbersen Please look into the Pull Request #9712 proposed by @bka and @storbahn
It is aimed to fix this issue, and is already merged in the branch `develop`. Hope that helps for now.

[2017-06-16 14:32] ishakhsuvarov commented on #8964
@gold2040 I am not aware of any solution implemented by now. Did you check if issue exists in the `develop` branch?
Please upvote the issue, it may speed up the process.
Thank you.

[2017-06-16 14:32] InvaderDolan commented on #9945
**!!! SOLVED !!!**
I just pressed on these buttons in Cache Management:
**Flush JavaScript/CSS Cache**  (Themes JavaScript and CSS files combined to one file)
**Flush Static Files Cache**  (Preprocessed view files and static files)

If it didn't help, try to reindex and flush all available caches.

[2017-06-16 14:33] InvaderDolan commented on #9945
**!!! SOLVED !!!**
I just pressed on these buttons in Cache Management:
**Flush JavaScript/CSS Cache**  (Themes JavaScript and CSS files combined to one file)
**Flush Static Files Cache**  (Preprocessed view files and static files)

If it didn't help, try to reindex and flush all available caches.

[2017-06-16 14:35] InvaderDolan commented on #9945
**OH NO**

Buttons still don't work properly. And icons again are empty rectangles...

[2017-06-16 15:41] maxinacube opened #9971 "Saving page in admin removes page from hierarchy"
### Preconditions
1. Magento EE 2.1.7
2. PHP 7.0.16
3. MySQL 5.5.45-37.4
4. Active migration from 1.13.0.1 to 2.1.3 and upgraded since

### Steps to reproduce
1. Create a Hierarchy (Ex. Helpful Links)
2. Create a Page (Ex. Contact)
3. Check off desired Hierarchy (Ex. Make Contact a child of Helpful Links)
4. Save Page
5. Edit Contact page and save again

### Expected result
1. Page should save as

[2017-06-16 15:43] EGrasso87 commented on #5538
Hi
I have this same issue as @philipburrell  reported
news?
many thanks

[2017-06-16 16:24] korostii commented on #9954
As harsh as it is, I don't really care about your issue. I am just passing by, I am not a representative of Magento, Inc.
I might help you with some pointers, but ultimately it's up to you and no-one else.

Oh, and read the error you've just found!
`An error occurred while trying to report this transaction to the merchant. An e-mail has been sent to the merchant informing them of the error.`
Did y

[2017-06-16 17:22] Detzler commented on #2824
I think it's time for **Magento 3**

[2017-06-16 17:46] rafaelcostarocha commented on #9833
Hi!
I'm new to Magento, and how could I disable Reddis or apply that `default_jobs_amount = 1` fix?
Thanks in advance!

[2017-06-16 18:49] Tomasz-Silpion commented on #8447
I've encountered similar error on another page and fixed it with removing

[code]

from my custom theme layout default.xml

[2017-06-16 19:29] emosquito commented on #8172
On version 2.1.7 you need to select Action >> Free Shipping - something from that dropdown, AND Action >> Apply to Shipping Amount - Yes

[2017-06-16 21:07] daniel-ifrim commented on #7646
@Juigeli I have same problem in Magento CE 2.1.6.
This happens to me if I have 1 configurable product from other attribute set that does not have this attribute in it. It happens only for multiselect. I've tested it on CE 2.1.6 with sample data too.
@Juigeli  Do you have a configurable product  in related, cross or up-sell products like my case ?

[2017-06-16 21:43] daniel-ifrim commented on #4822
I have this issue on not saving multiselect in a product.
I see this issue reported here. It could be various reasons but also it can be the same issue:
https://github.com/magento/magento2/issues/7646
https://github.com/magento/magento2/issues/5445

This happens to me if I have 1 configurable product from other attribute set that does not have this attribute in it.
Actually I'm doing more tests an

[2017-06-17 01:09] gabriel-sf commented on #8172
@veloraven I haven't implemented the latest version version yet. I will be able to do this in a few weeks given we are about to launch. Will update once this is ready

[2017-06-17 06:52] skymeissner commented on #4662
Still happens in 2.1.7

[2017-06-17 08:42] zdjm opened #9972 "Media server issue"
This may be as intended but here we go. We are designing a new setup for a customer and found a small issue in 2.1.7. There is 6 servers in the setup

Admin / media
www01
www02
db
cache
proxy

We have all the media loading off admin / media server via a sub domain media.domain.com the admin panel is loaded off admin.domain.com. We have sync scripts that sync everything from admin to www01 and www0

[2017-06-17 14:47] timneutkens commented on #9942
Expecting all responses from the api being valid JSON. This is not a bug/issue. Example:

[code]

[code]

[2017-06-17 22:02] bap14 commented on #9919
I didn't specify this earlier, but I was working in the admin area, not the frontend.

[2017-06-17 22:02] bap14 commented on #9920
I didn't specify this earlier, but I was working in the admin area, not the frontend.

[2017-06-17 22:41] lingwooc commented on #4506
I have 2.6mb merged .min.js which isn't too bad. It doesn't gzip though which rather spoils it. I have mod_deflate setup in the magento root .htaccess and it works for other files in _cache/merged. Any fixes?

Thinking about it, why aren't static files pre-gzipped when they are deployed rather than done on the fly each time?

[2017-06-18 08:55] codedge opened #9976 "Default storeview status field should be readonly not disabled"
When trying to change the name of the default storeview, the first time you want to save your changes an error message occurs saying `The default store cannot be disabled`. That occurs as the `status` field is set to `disabled` instead of `readonly` and so the status field is not correctly submitted.

### Preconditions
* Magento CE 2.1.7
* No test data installed, almost plain vanilla install

###

[2017-06-18 09:04] matin73 commented on #5836
so, today i had time to have again a look to this problem. setting cron to 2 minutes an trunk table did not help. changes price and no index was rebuilt again:
![grafik](https://user-images.githubusercontent.com/3177275/27259547-a6546854-5415-11e7-9290-cdb6c1a0205e.png)
![grafik](https://user-images.githubusercontent.com/3177275/27259550-b248ebc6-5415-11e7-8ee1-942db25c1f4b.png)
![grafik](https://

[2017-06-18 09:11] PKRAY007 commented on #9954
@korostii, My mistake, I am so sorry and apologize for using the sentence. I am very grateful for your kindness, for helping to resolve my problem.

Currently, I am checking all the issue that you mentioned here. I will update here if the problem solve or not.

Again, I am apologize for my mistake.

Regards,

[2017-06-18 10:43] s00071609 commented on #4785
Looks like this issue is not fixed with magento 2.1.7 either. Amazing, this issue is still there and not fixed for over a year now. Its being carried over with every new upgrade

[2017-06-18 10:49] daniel-ifrim opened #9977 "Attribute set info does not persist correctly on product save"
### Preconditions

1. Magento CE 2.1.7 with sample data

### Steps to reproduce

1. Go to a product (admin edit product page) and add a configurable product (from other attribute set) as related product, up-sell product or cross-sell product.
I used the first product in catalog, "Joust Duffle Bag" (SKU 24-MB01) and added to related products the configurable product 'Caesar Warm-Up Pant' (SKU MP01)

[2017-06-18 10:58] s00071609 commented on #9455
Same here this issue has been there forever in magento 2. No fix yet or solution. DOes anyone know why this is being carried over from magento 2 to mangento 2.1.7?

[2017-06-18 13:57] rderwish commented on #9898
Hey i have the same problem.
I use the magento version 2.1.7 on localhost.
Php Version: 5.6.30
MySQL data base
Apache Server

I have the same problem with the Magento Home page images too.

[2017-06-18 14:25] southerncomputer commented on #8787
This happened when I upgraded from 2.1.2 to 2.1.7 - all floats rendered inaccurately. Suggest removing this code since it belongs in php.ini !

[2017-06-18 14:27] southerncomputer commented on #8569
You can use the develop patches to insert @ sign in front of every mcrypt* function to stop the warnings, but you have to change the VOID to VOIDACTION controllers as well since void is reserved in 7.1 - same patches for develop work for 2-1!

[2017-06-18 16:58] behnamshayani commented on #9977
also relates to: https://github.com/magento/magento2/issues/7876

[2017-06-18 17:51] daniel-ifrim commented on #9977
Thank you @behnamshayani
Yes, I can save when cache is disabled. It's because some of the function use `$this->eavConfig->getAttribute(...)` and other classes create different instances of the attribute. The attribute set info is set to any of these and not accessible from the other instances of attribute class.

[2017-06-19 03:35] aaronware commented on #7388
What worked for me was a combination of @thelettuce's suggestion along with the commit that is currently in develop https://github.com/magento/magento2/commit/1db9cef7462af6d39ddc5de0dd53f4c9f70cbb23

The @thelettuce's suggested changes fixed the price display for me on the shipping selection step of the one page checkout, but when you proceeded to the payment area and viewed the shipping summary

[2017-06-19 04:59] aasim110 commented on #9833
Temperory solution is put old version default swatch module "vendor/magento/module-swatches" with new one.
it is working fine for me.

[2017-06-19 05:15] Bartlomiejsz commented on #8198
@IlnitskiyArtem You can set there only symbol. I.e. if you would like to show CHF price in store view with fr_FR language price will show as 99.99 CHF, and it doesn't matter that country is still set to Switzerland. So I don't think it is the good place to change this.
Tell me if I'm wrong.

[2017-06-19 06:00] webspeaks commented on #7647
Same issue on 2.1.5

[2017-06-19 07:16] lojasmarques commented on #9933
Na página aparece o mesmo problema, não sei  se aconteceu depois que alterei as posições dos Menus do Catálogo, pois não aparece mais nada no Lojas> Configurações> Configuração e também aparece a tela em branco a página do Código-Fonte do Checkout e a mensagem "There has been an error processing your request"  < https://lojasmarques.com/br/checkout/ >
Host: 93.188.160.65
user: u358341845
senha: (p

[2017-06-19 07:28] kaushalsutharhs opened #9979 "Minicart is not getting updated after disabling product from backend"
### Preconditions

1. Magento ver. 2.1.5 CE
2. PHP 7.0.15-0ubuntu0.16.04.4
3. MySQL version 5.7.17-0ubuntu0.16.04.1

### Steps to reproduce

1. Add any product into cart
2. Disable added product from backend
3. Item is removed in shopping cart page as expected. However, Product is not removed from Minicart.

### Expected result

1. Once a product is disabled from backend, it should be removed from

[2017-06-19 08:19] veloraven commented on #8147
I’m closing this issue as it was resolved.
If you can still reproduce this issue, please create a new GitHub issue report.

[2017-06-19 08:19] #8147 closed, assigned to nobody

[2017-06-19 08:20] Pradeepw commented on #2457
This works like a charm. Thanks..

[2017-06-19 08:25] harimayco commented on #4531
@jaredchu fix for duplicate product in export https://github.com/magento/magento2/issues/7350

[2017-06-19 08:28] veloraven commented on #8109
@bat553 thank you for your report.
Could you confirm that this issue is still actual?
Please note that Magento 2.2. does not support PHP 5.5, please confirm that you can reproduce this issue on a supported environment (PHP ver. 7.0.2, 7.0.4, 7.0.6-7.1.0)

[2017-06-19 08:37] veloraven commented on #7722
@cduperron thank you for your report but I'm closing this issue as it's not a bug.
Products will get to the widget as soon as you delete them from compare products list. If you need this functionality to work in other way please submit your improvement to  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (se

[2017-06-19 08:37] #7722 closed, assigned to nobody

[2017-06-19 09:03] veloraven commented on #8303
@jeanpham when you create a product without weight you create a virtual product. You can not add a weight to a virtual product via import. You should convert your product to a simple one and then update its weight. You can find more discussion in #8228

[2017-06-19 09:03] #8303 closed, assigned to nobody

[2017-06-19 09:07] veloraven commented on #7427
@fxdegroot is this issue still actual?
We were not able to reproduce it on 2.1.7.

[2017-06-19 09:11] veloraven commented on #8162
@saroj2jcommerce is this issue still actual?
Could you confirm if is is still reproduces in ver. 2.1.7?

[2017-06-19 09:32] korostii commented on #9972
Sounds like a bug to me. I would guess that's it's doing the file_exists check on the wrong location ignoring your media domain setting (only using it later when returning URL to frontend).
I guess you could check that hypothesis by replacing images on your `www` instances with zero-size files having same names. That would be a funny workaround :)

[2017-06-19 10:02] korostii commented on #9976
Seems like a duplicate of #7349 and #6435. The bug has two internal tickets MAGETWO-60746 and MAGETWO-57979 for more than half a year.

So here's a little joke: how many developers do you need in order to change an attribute on a html input?

@magento-team, any feedback on this one?

[2017-06-19 10:07] korostii commented on #9954
Sure, no problem :)

Just wanted to make sure you understand that there's a limit to the help one might expect out here.
This is first and foremost a bug tracker.

Best regards & good luck with your findings.

[2017-06-19 10:13] Scqualo71 opened #9980 "Layered Navigation with configurable product"
Hello,

I think is not correct the layered navigation with configurable product in Magento 2. Configurable products should be visible only if they have associated some SIMPLE PRODUCT that respects ALL applied filters. The same problem is with advantage research.

### Preconditions

1. Magento CE ver. 2.1.7

### Steps to reproduce

1. Insert this products:
![image](https://user-images.githubusercon

[2017-06-19 10:23] pascaladriaansen commented on #9066
I am also experiencing this in 2.1.7

[2017-06-19 10:45] elachino commented on #8170
We resolve it disabling all product when became out of stock and re-enabling when turn in stok. This solution give some problem if you want out of stock size in product view, but resolve temporally out of stok filter.
If someone need we are releasing an observer model that enable and disable automatically product when go out of stock or return in stock.

[2017-06-19 11:11] vityakopin commented on #7627
Internal ticket MAGETWO-69958 was created.

[2017-06-19 11:25] AlexWorking commented on #8480
Hi. Could you please confirm that the issue remains actual for 2.1.7 as we can't reproduce it in this version. Thank's.

[2017-06-19 11:39] krutkoroma79911 commented on #6574
Internal ticket was created for this issue - MAGETWO-69936

[2017-06-19 11:40] krutkoroma79911 commented on #4942
Internal ticket was created for this issue - MAGETWO-69959

[2017-06-19 11:53] PKRAY007 commented on #9954
@korostii
Thanks for your help. Finally the problem is fixed. The problem was in script timed out when Authorize.net trying to post transaction results to it.
I am very grateful to you for finding the issue. :+1:  :1st_place_medal:

Regards,

[2017-06-19 12:19] veloraven commented on #7475
This issue is treated as an improvement, not a bug.
New internal ticket - MAGETWO-65583

[2017-06-19 12:25] Detzler commented on #9979
A better approach would be to not remove the products from the quote (minicart and cart page). The user should see the unavailable products on the cart page so that he can react e.g. add an alternative product into cart.

[2017-06-19 12:35] veloraven commented on #3605
I'm closing this report as the issue has been fixed.
If you can still reproduce this issue, please create a new GitHub issue report.

[2017-06-19 12:35] #3605 closed, assigned to nobody

[2017-06-19 12:41] chickenland opened #9981 "M2 suggests running setup:upgrade if version number of module is higher than expected"
This appears to be an issue that is highlighted whilst using different versions of a module within source control, where there is a different version of a module in another branch.

When you update a module, and then switch branches to a branch with a lower version number, Magento throws an exception prompting the user to run bin/magento setup:upgrade.

```\Magento\Framework\Module\DbVersionInfo::

[2017-06-19 12:44] smoskaluk commented on #7714
Please advise, is this issue relevant for latest Magento version (2.1.7), I can't reproduce it.

[2017-06-19 12:48] veloraven commented on #5619
I'm closing this issue as a duplicate of #5266

[2017-06-19 12:48] #5619 closed, assigned to nobody

[2017-06-19 12:50] vityakopin commented on #8282
Internal ticket MAGETWO-69965 was created;

[2017-06-19 12:50] veloraven commented on #5612
This issue is fixed in internal ticket MAGETWO-57153.
It will be available in one of the nearest releases.

[2017-06-19 12:52] veloraven commented on #6060
@rramiii is this issue still actual?
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2017-06-19 12:54] veloraven commented on #5636
I'm closing this report as the issue has been fixed.
If you can still reproduce this issue, please create new GitHub issue report.

[2017-06-19 12:54] #5636 closed, assigned to nobody

[2017-06-19 12:55] veloraven commented on #6262
Internal Ticket for ver. 2.1 - MAGETWO-58149

[2017-06-19 13:03] Sergeacc commented on #7852
Certain modules have dependencies on other modules, in which case you might not be able to enable or disable a module because it has dependencies on other modules.

[2017-06-19 13:08] vityakopin commented on #7733
Unfortunately, I could not reproduce the issue as you described it. Can you reproduce this issue on latest version of Magento?

[2017-06-19 13:09] oleg-onufer commented on #8238
Internal ticket was created for this issue -- MAGETWO-69961

[2017-06-19 13:11] oleg-onufer commented on #5711
Internal ticket was created for this issue --  MAGETWO-69926

[2017-06-19 13:12] vityakopin commented on #7740
Unfortunately, I could not reproduce the issue as you described it. Can you reproduce this issue on latest version of Magento?

[2017-06-19 13:17] dmitriyprime commented on #4792
Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too. Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-06-19 13:20] southerncomputer commented on #9981
What if the architecture of the tables/data change and you revert back to an older version (of magento/of module) - you wouldn't be warned until a schema failure/logical data failure occurs?

It would be nice if magento allowed you to roll back changes in such a case!

[2017-06-19 13:24] veloraven commented on #6293
I'm closing this issue as duplicate of #5377 as there are more discussions in that issue.

[2017-06-19 13:24] #6293 closed, assigned to nobody

[2017-06-19 13:26] oleg-onufer commented on #5639
Unfortunately, I could not reproduce the issue as you described it. Can you reproduce this issue on latest version of Magento2 ?

[2017-06-19 13:26] veloraven commented on #5377
Is this issue still actual?
We were not able to reproduce it.

[2017-06-19 13:28] oleg-onufer commented on #7801
Unfortunately, I could not reproduce the issue as you described it. Can you reproduce this issue on latest version of Magento2 ?

[2017-06-19 13:30] dmitriyprime commented on #7178
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-06-19 13:32] VasylShvorak commented on #7283
Thanks for reporting this issue. Created internal issue MAGETWO-69970 to investigate and track this issue.

[2017-06-19 13:35] chickenland commented on #9981
@southerncomputer Yes - this is the only reason I could imagine as mentioned above.  In my case this isn't an issue, but I could see that this might be the reason for larger/public modules.

If there was an encouragement to use SemVer, would it be unreasonable to expect M2 to check the major version and potentially inforce this logic, but ignore it on minor/patch versions?

[2017-06-19 13:35] veloraven commented on #6042
I'm closing this issue as it was already fixed in MAGETWO-56018 created for #5573

[2017-06-19 13:35] #6042 closed, assigned to victor-v-rad

[2017-06-19 13:39] veloraven commented on #4291
This issue has already been fixed. Internal ticket for ver. 2.1. - MAGETWO-58760.
Internal ticket for ver. 2.0 - MAGETWO-58392.
These fixes should be available in some of the nearest release.

[2017-06-19 13:40] krutkoroma79911 commented on #5815
@flipflap Unfortunately, I could not reproduce the issue as you described it. Can you reproduce this issue on latest version of Magento2 ?

[2017-06-19 13:41] VasylShvorak commented on #6588
I cannot reproduce this issue. Please add more details to your description of the steps you followed when identifying this issue.

[2017-06-19 13:46] veloraven commented on #3771
We have internal ticket MAGETWO-61923 for ver. 2.1

[2017-06-19 13:51] ferrazzuk commented on #4536
So, any news on this?

[2017-06-19 13:55] smoskaluk commented on #7311
@rhodimus I cannot reproduce this issue. May you please, let me know if you can reproduce this issue on latest version of Magento2 (2.1.7)?

[2017-06-19 13:57] sakisplus commented on #6588
To reproduce this issue:

1. Set your system (frontend) to use a language that contain non latin characters (i.e. Greek - el_GR locale)
2. Use non latin characters as values in a category fields (Meta Keywords, Meta Description), copy paste this value:
For **Meta Keywords** "καλημέρα, ένα, δύο, τρια"
For **Meta description** "Αγόρασε ποιοτικά προϊόντα στις καλήτερες τιμές"
3. Load that category to

[2017-06-19 13:58] jaimin1671992 opened #9982 "Magento Email Cron Job Not Working."
Magento Email Cron Job Not Working so we can not make a schedule of email marketing.

[2017-06-19 14:04] artlesshand commented on #4977
Any updates on this issue?

[2017-06-19 14:07] siliconalchemy commented on #2976
@kamleshyaduwanshi Please, don't ever advise people in public to chmod 777.

@maderlock @sshymko Thanks very much, your 'export HTTPS=on' workaround works perfectly.

@veloraven Has this issue been fixed in the developer branch, yet a year on still hasn't made it to a public release?  It's really incredible how many major, fundamental problems are in Magento that are fixed yet spend months and mon

[2017-06-19 14:08] 1408sheva commented on #8181
Internal ticket MAGETWO-69934 was created;

[2017-06-19 14:08] vityakopin commented on #7582
Thanks for reporting this issue. I cannot reproduce this. Try to delete cookies after switching between store views. Could you confirm that this issue is still actual?

[2017-06-19 14:11] Andrii-Deineha commented on #5505
Unfortunately, I could not reproduce the issue as you described it. Please provide more information about your Magento installation, including the versions of PHP and MySQL you are using as well as the web server.

[2017-06-19 14:12] rgoncharuk commented on #5423
@Ctucker9233 internal MAGETWO-55189 closed as Won`t Fix. As I understood you agreed that the upgrade way mentioned in the description can not be used. Improvements into documentation can be created as PR to https://github.com/magento/devdocs Feel free to connect the Community Engineering team for support on that PR

[2017-06-19 14:12] #5423 closed, assigned to tkacheva

[2017-06-19 14:13] lingwooc commented on #4977
I've patched/replaced a couple of files in this [module](https://github.com/lingwooc/overlayMagnify-magento2/). The important bits are the css and the js which you could just throw in your theme ([here](https://github.com/lingwooc/overlayMagnify-magento2/tree/master/app/code/thousandmonkeys/OverlayMagnify/view/frontend/web/)). It also makes the magnifier work on touch screen laptops which it rathe

[2017-06-19 14:15] flipflap commented on #5815
I don't use system backup anymore. So I don't know. I think if no other people have this problem you can close it.

[2017-06-19 14:17] dmitriyprime commented on #3412
Unfortunately, I could not reproduce the issue as you described it. Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-06-19 14:18] korostii commented on #5636
Hi @veloraven,
The commits referencing the issue seem to show up on `develop` branch only, but maybe I'm missing something.

Could you please reference the version in which this fix was released (if any)? If there isn't one, I'd say it seems a bit premature to close the issue.

[2017-06-19 14:24] lingwooc commented on #7595
This is also related to #7624 & #9322

[2017-06-19 14:25] oleg-onufer commented on #7662
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-06-19 14:30] hostep commented on #7733
@vityakopin: the issue only existed for a couple of months on the `develop` branch, but was never released in an actual release. It seems like it was recently fixed, see https://github.com/magento/magento2/issues/9452 for more info.
It looks like @jasonheecs came to the same conclusion as I did. Sorry for creating a duplicate ticket. Which one should we close?

[2017-06-19 14:32] lingwooc commented on #9963
I find everything is a bit more predictable in production mode. After less changes I just deploy static content (_always_ with locals) which also generates css from less and refresh browser (make sure browser caching is off). If I change an xml or similar then I'll do a cache flush. You also need to delete the static/frontend files manually if you change a module .js because deploying doesn't over

[2017-06-19 14:34] rhodimus commented on #7311
@smoskaluk I don't have the time to retest fully, but the code looks like its been fixed at least in > 2.1.3

[2017-06-19 14:35] korostii commented on #9981
Possible duplicate of #9008.
Current behavior clearly needs to be changed (at the very least, the exception message has to be less confusing).

[2017-06-19 14:38] korostii commented on #7178
Hi @dmitriyprime, what makes you think the issue is OS-dependent?
Have you seen [this comment](https://github.com/magento/magento2/issues/7178#issuecomment-256239459), for example?
In fact, there are multiple people reporting the same issue down the thread.

[2017-06-19 14:43] oleg-onufer commented on #7662
I cannot reproduce this issue.
 Magento2  does  not support browser Internet Explorer 10
Can you reproduce this issue on latest version of Magento2 following requirements:
Magento2 supported browsers:
   http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements_browsers.html
Magento2  supported Operating systems:
   http://devdocs.magento.com/guides/v2.1/install-gde/system-requirement

[2017-06-19 14:44] 1408sheva commented on #7619
@thdoan Is this issue still actual? We were not able to reproduce it on ver. 2.1.7.

[2017-06-19 14:48] veloraven commented on #6751
This issue has already been fixed in develop branch.
Closed.

[2017-06-19 14:50] korostii commented on #9982
Hi @jaimin1671992, could you please provide any more details than that?

As you may already know, some setting up has to be done on your webserver in order for the cron to be running properly. See [this guide](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html) for detailed instructions.
Please verify via `crontab -l` that the Magento cron jobs were set up pro

[2017-06-19 14:55] AlexWorking commented on #8213
Thank's for contacting us on this issue. We created an appropriate internal ticket MAGETWO-69973. After the bug is fixed You'll be immediately notified.

[2017-06-19 15:03] MattND commented on #9965
I also have the exact same issue! Very frustrating............

[2017-06-19 15:10] IlnitskiyArtem commented on #3867
@OleksiyOleksiyovych is this issue still actual?

[2017-06-19 15:11] IlnitskiyArtem commented on #5623
@alcantera is this issue still actual?
We were not able to reproduce it on 2.1.7.

[2017-06-19 15:11] veloraven commented on #7500
This issue has already been fixed in develop branch.
Internal ticket for ver. 2.1 - MAGETWO-63621

[2017-06-19 15:13] veloraven commented on #7411
This issue has already been fixed in develop branch.
Closed.

[2017-06-19 15:13] #7411 closed, assigned to nobody

[2017-06-19 15:15] IlnitskiyArtem commented on #7167
@dmcmillin thank you for your report.
We have created internal ticket MAGETWO-58156

[2017-06-19 15:20] veloraven commented on #4232
Internal ticket for ver. 2.0 - MAGETWO-57816
It has been already fixed and will be available in one of nearest releases.

[2017-06-19 15:21] veloraven commented on #5194
This issue was already fixed for develop branch.
Closed.

[2017-06-19 15:21] #5194 closed, assigned to nobody

[2017-06-19 15:21] #9698 closed, assigned to nobody

[2017-06-19 15:21] pboisvert commented on #9698
closing given issue is resolved by 2.1.7 release

[2017-06-19 15:36] korostii commented on #2976
As Hanlon's razor states, "Never attribute to malice that which is adequately explained by stupidity". May I assure that to the best of my knowledge, the source code of EE version is just as buggy (at the very least, the parts shared have identical sources in corresponding versions).

However, [there](https://github.com/magento/magento2/issues/4237#issuecomment-308962425) [seems](https://github.co

[2017-06-19 15:36] veloraven commented on #4356
Internal issue was closed as not a bug with a comment from PO that we don't want to have a separate indexer for URL rewrites in M2.
If you think such improvement should be done please submit it to Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-req

[2017-06-19 15:36] #4356 closed, assigned to nobody

[2017-06-19 15:52] korostii commented on #3412
This is getting ridiculous.
Hi @dmitriyprime, have you actually verified the `Magento\Backend\Controller\AdminhtmlIndex::_isAllowed()` method is returning `false` instead? Otherwise I fail to understand what you were trying to reproduce, exactly.

[2017-06-19 16:00] siliconalchemy commented on #2976
Eloquently put :) If that's the case, it's a spectacularly stupid policy given the evident timescales involved and the magnitude of the bugs - it just makes Magento appear to be a heap of bugs that are never resolved.  Fixing them all in the next major release is all very well, but that release will no doubt have it's own round of bugs from new features which will take a while before it's stable e

[2017-06-19 16:07] korostii commented on #6751
I am very glad that the people using `develop` branch in production will this issue resolved for them.
However, in which version will the fix be released for the rest of the users?
You know, all the other mere mortals who happen to use either composer-installed version or the package downloaded from the official website.
Could you please provide a link to the downloadable version/patch or a compos

[2017-06-19 16:14] #4309 closed, assigned to nobody

[2017-06-19 16:15] veloraven commented on #4337
Internal ticket was closed as not a bug.
You can submit to [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96)) if you think it should be implemented.
Closed.

[2017-06-19 16:15] #4337 closed, assigned to nobody

[2017-06-19 16:16] veloraven commented on #4112
This issue was fixed for ver. 2.1.
Closed.

[2017-06-19 16:18] korostii commented on #5194
The issue was reported on 2.1.x branch.
Could you please explain the reasoning behind fixing it on `develop`? (and not `2.1-develop` or both)
That is about as useful for a user of a composer-installed version of Magento CE 2.1.x as fixing it for EE only: there is no safe and straightforward way to take advantage of the fix.

Is there some kind of guide regarding patching such an instance using the

[2017-06-19 16:23] veloraven commented on #4131
This issue has been fixed in 2.0.11.
If this issue still reproduces please create new GitHub issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and specifying exact Magento version.
Closed.

[2017-06-19 16:23] #4131 closed, assigned to nobody

[2017-06-19 16:28] veloraven commented on #3853
This issue has been already fixed.
Closed.

[2017-06-19 16:28] #3853 closed, assigned to ishakhsuvarov

[2017-06-19 16:33] veloraven commented on #3977
This issue was fixed in develop branch.
Closed.

[2017-06-19 16:33] #3977 closed, assigned to nobody

[2017-06-19 16:35] veloraven commented on #4331
This issue has already been fixed for both: 2.0 and 2.1.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result and specify Magento version.

[2017-06-19 16:39] korostii commented on #2976
My thoughts exactly.

In addition, a Magento employee [publicly stated](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/ba-p/60088#M15) that they are "focusing majority [of] our workforce on upcoming 2.2 release" and that they "want to backport only issues which community voted most.".

That also means that 2.1 branch might be switched to "security patches only" mode shortly

[2017-06-19 16:41] veloraven commented on #2854
Internal ticket for ver. 2.0 - MAGETWO-63211
Issue has been fixed for ver. 2.1

[2017-06-19 16:43] veloraven commented on #6488
Original internal ticket was closed as a duplicate.
New internal ticket for ver. 2.1 - MAGETWO-64069

[2017-06-19 16:46] korostii commented on #4112
Hi @veloraven could you please reference a particular version (2.1.6, 2.1.7, etc.)? Or at least a commit that fixes the issue?

[2017-06-19 16:49] korostii commented on #3853
Hi @veloraven,
The commits referencing this issue seem to be present on the `develop` branch only.
Can you please point out the version in which this fix was released?

[2017-06-19 16:53] korostii commented on #3977
Hi @veloraven,
The was reported on 2.0.x and 2.1.x branches. When are patches for these branches are expected to be released?
Could you please keep the issue open until it is fixed **on the same branch as it was reported on**?

[2017-06-19 16:57] korostii commented on #4331
Hi @veloraven,
Can you please point out the exact versions in which this fix was released? Or at least please reference the particular corresponding commits.

[2017-06-19 16:58] korostii commented on #2854
Hi @veloraven,
Can you please point out the exact 2.1.x version in which this fix was released? Or at least please reference the particular corresponding commits.

[2017-06-19 17:06] zdjm commented on #9972
LOL, funny you mention that. I talked to my team about doing that and its ugly but it works..

[2017-06-19 17:07] veloraven commented on #5660
Closed.
This issue was already fixed for develop branch.
It should be fixed soon for previous versions.
Internal ticket for ver. 2.0 - MAGETWO-64144
Internal ticket for ver. 2.1 - MAGETWO-63818

[2017-06-19 17:07] #5660 closed, assigned to antboiko

[2017-06-19 17:16] veloraven commented on #5618
This issue has already be fixed for develop branch.
It also has been fixed for version 2.1 in scope of internal ticket MAGETWO-56937. The fix will be available in one of the nearest releases

[2017-06-19 17:17] korostii commented on #5660
I've heard closed tasks are not being monitored by the Community Engineering team no more, see [here](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/ba-p/60088#M15). Does that mean these internal tickets for 2.0 and 2.1 won't be a priority neither?

If that the case, could you please the keep the issue open? It would be a pity to see it being forgotten about, and lost, and

[2017-06-19 17:18] veloraven commented on #6166
This issue was fixed for develop branch.
Closed.

[2017-06-19 17:18] #6166 closed, assigned to nobody

[2017-06-19 17:22] veloraven commented on #6259
Internal ticket for ver. 2.1 - MAGETWO-58436
This issue was already fixed for develop branch

[2017-06-19 17:28] veloraven commented on #4531
This issue was fixed for develop branch.
Internal ticket for ver. 2.0 - MAGETWO-62439
Internal ticker for ver. 2.1 - MAGETWO-58548

[2017-06-19 17:30] orlangur commented on #8055
Oh, this one was tough :) Thanks for your analysis @korostii, I've read a lot of links mentioning **"Object DOMDocument should be created"** from Google but none of them pointed to a right direction.

[2017-06-19 17:32] veloraven commented on #7927
Internal ticket was created - MAGETWO-69966

[2017-06-19 17:37] veloraven commented on #9466
Closed as a duplicate of #4096

[2017-06-19 17:44] thanasisloi7 opened #9983 "Marketing Rules"
I just install magento 2.1.7, all works fine expect for marketing rules, both cart and catalog.
When i am going to put the conditions and i click on plus (+) button then i select from the dropdown list something and megento going to the homepage.
I delete all magento installation and install from beging and i have again the same problem.

[2017-06-19 17:53] Qbixx commented on #9466
As far as I can see this isn't a duplicate of #4096.

When looking at the behaviour of #4096 there are some different things going on than in this issue.

When duplicating a product on this issue the page doesn't go in a loop to reload the product page. Also, with this issue the website doesn't become unavailable. The website itself is still working, only the disk space of the server is filling up

[2017-06-19 17:55] ktomk commented on #3977
@korostii: You don't keep the issue open, however, you ask for the SHA hash of the commit where it was fixed. In git with that hash you can see in which branch the fix has landed.

@veloraven: Could you please provide the hash reference of the fixing commit(s)?

[2017-06-19 18:12] veloraven commented on #5815
I'm closing this issue as we were not able to reproduce it.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result and specify Magento version.

[2017-06-19 18:12] #5815 closed, assigned to nobody

[2017-06-19 18:19] veloraven commented on #6030
I'm closing this issue as it has already been fixed.
Internal ticket MAGETWO-54704

[2017-06-19 18:19] #6030 closed, assigned to nobody

[2017-06-19 18:20] hostep commented on #3977
Guys, if you scroll up a little bit to August 5th, you'll see the commit: https://github.com/magento/magento2/commit/8888d9b2d7b1c00c239951b1177fbb552457c73d ;)
You can also [search for the MAGETWO number](https://github.com/magento/magento2/search?q=MAGETWO-52439&type=Commits&utf8=%E2%9C%93), it will (most of the time) also reveal the commit(s).

Although I do agree that it sometimes has to be co

[2017-06-19 18:29] angelo983 opened #9984 "Checkout page hangs"
Wrong evaluating check of position param (Position at which item should be inserted.)
let hang Checkout Page

### Preconditions
1. Centos 6.7 Final
2. Plesk 12.5 (Apache 2.2.15)
3. Magento 2.1.7
4. PHP 5.6
5. Existing set of configurable products and linked simple products

### Steps to reproduce
1. Put in cart at least one simple product from a configurable product page
2. Go to checkout page

##

[2017-06-19 18:39] ktomk commented on #3977
Sorry, just wanted to mediate not escalate ;) - @hostep Thanks for the insight. The git history is a merge commit extravaganza :)

[2017-06-19 18:51] boostmagento opened #9985 "Exception error on Module name when it has number(s) on product_options.xml - Regex issue"
There is a regex error when you have product_options.xml BUT the name of the module contains different characters then letters. Module name needs to fit this regex: [a-zA-Z\\\\]. If you want to use for instance numbers then that will cause error.

### Preconditions
1. Magento 2.1.7 CE - new installation, no customization
2. PHP 7.0.19
3. Percona DB 5.7

This is an issue with a regex on module name

[2017-06-19 21:04] schmengler commented on #6497
Yes. I see the team is already handling the PR. Good job!

[2017-06-19 22:53] brideo commented on #3412
I'm probably not going to update this with steps to reproduce, feel free to close this issue.

[2017-06-20 01:19] btwq commented on #9833
Hi @aasim110 do you mean, in order to fix this issue, you have replaced the NEW module (that comes with the patch) with the OLD one?

[2017-06-20 01:30] #3412 closed, assigned to nobody

[2017-06-20 03:23] MichaelJamesParsons commented on #6424
This is still an issue for 2.1.7. It was very embarrassing for this bug to come up during a demo with one of my clients. I hope a fix is coming up soon.

[2017-06-20 03:27] shahankitb997 commented on #6391
Even in 2.1.7 still exists.

[2017-06-20 03:50] shahankitb997 commented on #5929
Still issue on 2.1.7

[2017-06-20 05:10] vishalsanwar opened #9987 "Magento 2.1.7, Categories name not saving in Add category page"
I have tried to create new Category and save it then category is created but Name and status not saving
Also when I create a new product it gives me blank page.
I have installed a fresh Magento ver. 2.1.7

![categories inventory products magento admin](https://user-images.githubusercontent.com/3647631/27317559-c486d0f6-55a4-11e7-902f-e329049e66d2.png)

[2017-06-20 05:27] harimayco opened #9988 "Quick search by SKU not working properly"
### Preconditions

1. Magento CE 2.1.7
2. PHP 5.6.28
3. MySQL 5.6.35

### Steps to reproduce

1. Create an item with SKU# 16-07
2. Do frontend quick search for 16-07
![product admin](https://s1.postimg.org/3n60l7nu7/screenshot_20170620_111647.png)

### Expected result

1. Search returns product 16-07

### Actual result

1. Search returns no products.
![search by sku not found hyphen](https://s1.po

[2017-06-20 06:08] veloraven commented on #6278
This issue has been fixed already in ver. 2.0.11.
Closed.

[2017-06-20 06:08] #6278 closed, assigned to nobody

[2017-06-20 06:11] veloraven commented on #6201
This issue has already been fixed in develop branch.
Internal ticket for version 2.1 - MAGETWO-58519 has also already been fixed. It will be available in one of the nearest releases.

[2017-06-20 06:14] SchumacherFM commented on #6424
This bug will/might be fixed in 2.2. The 2.1 Version only receives security fixes. For client demos we use 2.2 ;-)

[2017-06-20 06:19] veloraven commented on #4331
It was fixed in ver. 2.0.10, commits: ddf959866c5d3545167de04f7d8ec7d1d28f9006, 1c4e5e8817d3a23cef70a5488e8e6ecaac5e2cee, 35e9f37ceafc4d0335291fb598ff80b25dee816b

[2017-06-20 06:19] prdptom commented on #9956
@nl2asa
Do u have megamenu added in your site?

[2017-06-20 06:20] Bartlomiejsz commented on #7582
@vityakopin @veloraven issue still persists on 2.1.7

[2017-06-20 06:22] veloraven commented on #6121
This issue was fixed in 2.1.2. 2.0.10 and develop branch.
Closed.

[2017-06-20 06:22] #6121 closed, assigned to nobody

[2017-06-20 06:25] veloraven commented on #6342
Internal ticket for ver. 2.1 - MAGETWO-58571.
The issue has been already fixed and will be available in one of the nearest releases.

[2017-06-20 06:29] veloraven commented on #7942
This issue was fixed in develop branch.
Internal ticket for ver. 2.1 - MAGETWO-69672

[2017-06-20 06:41] veloraven commented on #7199
I'm closing this issue as internal ticket was closes as not a bug: layered navigation with prices including tax will multiply index size, also that will break manual Layered Navigation with fixed intervals if it's configured (i.e. 100-200, 200-300, 300-400).
However you can submit this issue to [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-R

[2017-06-20 06:56] MidnightDesign commented on #7852
@Sergeacc Did you even read my post? It's a proposal to _remove_ the dependency because it's not really necessary.

[2017-06-20 06:58] krutkoroma79911 commented on #6396
@apurv-anand Unfortunately, I could not reproduce the issue as you described it. Can you reproduce this issue on latest version of Magento2?

[2017-06-20 07:03] dankocherga commented on #9668
OK, closing the issue since it's not going to be fixed by the core team.
I have used custom attribute method to solve the problem:

[code]

[2017-06-20 07:03] #9668 closed, assigned to nobody

[2017-06-20 07:06] mukdam commented on #5937
Getting the same issue when we create for specifying payment method Magento, not recalculated rule which created in backend.

But know I am using http://magento.stackexchange.com/questions/128580/magento-2-discount-depend-on-payment-method-does-not-work but this not Magento Specified solution

[2017-06-20 07:12] oleg-onufer commented on #7694
Написать ему что-то типа
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-06-20 07:12] oleg-onufer commented on #7694
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-06-20 07:23] andidhouse commented on #6424
i am not shure but not fixing a major bug since over 10 month from magento side... if it is fixed in 2.2 ok - but then it is 12 month and i think all agree that this is a time period nobody can work with.

[2017-06-20 07:28] floplus commented on #9919
Magento CE 2.1.7, Frontend Shippment Address in Checkout, added pattern validation by LayoutProcessorPlugin:

[code]

Same problem: is passed as string to pattern validation in rules.js

[2017-06-20 07:34] krutkoroma79911 commented on #7836
@dmcmillin I can`t reproduce this issue as you described it. Can you check if issue is still on the latest version Magento 2 ?

[2017-06-20 07:39] veloraven commented on #7933
This issue was fixed for develop branch.
Closed.

[2017-06-20 07:39] #7933 closed, assigned to misha-kotov

[2017-06-20 07:40] veloraven commented on #7479
This issue was fixed in scope of internal ticket MAGETWO-59718.
Closed.

[2017-06-20 07:40] #7479 closed, assigned to nobody

[2017-06-20 07:45] smoskaluk commented on #4830
@katesuykovskaya Unfortunately, I could not reproduce the issue as you described it. May please let me know if this problem reproducible on latest release version of Magento2?

[2017-06-20 07:48] veloraven commented on #7612
I'm closing this issue as internal ticket was closed as not a bug.

[2017-06-20 07:48] #7612 closed, assigned to nobody

[2017-06-20 07:51] veloraven commented on #7761
I'm closing this issue as a duplicate of #7469

[2017-06-20 07:51] #7761 closed, assigned to nobody

[2017-06-20 07:53] veloraven commented on #7601
I'm closing this issue as internal ticket was closed as not a bug:

[2017-06-20 07:53] #7601 closed, assigned to nobody

[2017-06-20 07:54] veloraven commented on #7576
This issue has already been fixed.
Closed.

[2017-06-20 07:54] #7576 closed, assigned to misha-kotov

[2017-06-20 07:55] veloraven commented on #6766
This issue was fixed for develop branch.
Closed.

[2017-06-20 07:55] #6766 closed, assigned to BaDos

[2017-06-20 07:56] veloraven commented on #5317
This issue was fixed for develop branch.
Closed.

[2017-06-20 07:56] #5317 closed, assigned to nobody

[2017-06-20 08:00] veloraven commented on #6683
I'm closing this issue as a duplicate of #5385.
It was already fixed for develop.
Internal ticket for ver. 2.1 - MAGETWO-58514

[2017-06-20 08:00] #6683 closed, assigned to nobody

[2017-06-20 08:01] veloraven commented on #5385
This issue was already fixed for develop.
Internal ticket for ver. 2.1 - MAGETWO-58514

[2017-06-20 08:04] smoskaluk commented on #7291
@PieterCappelle Hi! You may see that Magento use Default "Contact Form" Email Template (Stores - Configuration - General - Contacts - Email Options) If you want to see and amend this template, you need go to Marketing - Email Templates, click Add New Templates, choose in "Template" dropdawn input "Contact Form" and click "Load Template"

[2017-06-20 08:27] pitangaweb commented on #7199
Well I can understand the implications, but I find it really weird that such an essential feature for the European market (and lots of countries) might never be implemented.

[2017-06-20 08:28] veloraven commented on #7279
I'm closing this issue as it was fixed in develop and there are no plans to fix it in ver. 2.1 or 2.0 for now.

[2017-06-20 08:33] veloraven commented on #7108
I'm closing this issue as internal ticket was closed as duplicate.
The issue was fixed in internal ticket MAGETWO-59641 for develop branch and in MAGETWO-60366 for ver. 2.1.

[2017-06-20 08:33] #7108 closed, assigned to nobody

[2017-06-20 08:36] veloraven commented on #7092
I'm closing this issue as internal ticket was closed as not a bug.

[2017-06-20 08:36] #7092 closed, assigned to nobody

[2017-06-20 08:37] veloraven commented on #6776
This issue was fixed for develop branch.
Closed.

[2017-06-20 08:37] #6776 closed, assigned to nobody

[2017-06-20 08:40] IlnitskiyArtem commented on #7795
@rbostan Cart price rule applied if you buy 3 identical products (qty=3), you will get the 1 completely free. (Discount = Product Price)

[2017-06-20 08:43] veloraven commented on #7469
This issue was already fixed in develop branch.
Internal ticket for ver. 2.1 - MAGETWO-65467

[2017-06-20 08:45] veloraven commented on #7862
This issue has already been fixed in develop branch.
Internal ticket for ver. 2.1. - MAGETWO-63309 - it is planned for one of the next releases.

[2017-06-20 08:46] veloraven commented on #6988
This issue was fixed in develop branch.
Closed.

[2017-06-20 08:46] #6988 closed, assigned to nobody

[2017-06-20 08:59] korostii commented on #6166
Hi @veloraven
The issue was reported on Magento 2.1. Please don't close the issue unless the fix is released for 2.1.x branch officially. Until the fix gets into a released version, this issue will persist for ordinary merchants.

If there's some internal policy that says you should close the issue, could you guys at least put a milestone when you're closing the issue so that we see in which futur

[2017-06-20 09:03] veloraven commented on #7401
This issue has already been fixed for ver. 2.1 and the fix will be available in one of the nearest releases.

[2017-06-20 09:04] veloraven commented on #8375
This issue was fixed in develop branch.
Closed.

[2017-06-20 09:04] #8375 closed, assigned to nobody

[2017-06-20 09:14] korostii commented on #3977
Hi @ktomk, hi @hostep.
Thank you guys for caring and for the timely response. That's a lot more than I see from occasional raids by Magento, Inc. employees ;)

Seen the commit, however:
I happen to use a composer-installed version and I have no intent to patch any files in `vendor` directly. It makes me sad that cherry-picking those patches has became the new norm. Especially seeing that are appro

[2017-06-20 09:15] veloraven commented on #2908
This issue has already been fixed in develop branch.
Internal ticket for ver. 2.1 - MAGETWO-57153 - fix will be available in one of the nearest releases.
We were not able to reproduce this issue for ver. 2.0.

[2017-06-20 09:18] veloraven commented on #5885
This issue has already been fixed in develop branch.
Internal ticket for ver. 2.1 - MAGETWO-57153 - fix will be available in one of the nearest releases.
We were not able to reproduce this issue for ver. 2.0.

[2017-06-20 09:19] veloraven commented on #2908
I'm closing this issue as a duplicate for #5885 - as there are more comments and info in that one.

[2017-06-20 09:19] #2908 closed, assigned to mslabko

[2017-06-20 09:23] korostii commented on #4331
Thanks a lot, however I am using 2.1.x branch.
It seems that on 2.1 branch the code was corrected even earlier in scope of different task (see 00059a49 for example), so the issue probably wasn't even present on 2.1.0. Good to know.

[2017-06-20 09:24] veloraven commented on #4052
Internal ticket was closed as a duplicate.
Corresponding internal tickets are already closed as they were fixed for develop branch.
Closed.

[2017-06-20 09:24] #4052 closed, assigned to nobody

[2017-06-20 09:27] veloraven commented on #3548
This issue was already fixed for ver 2.1.
Internal ticket for ver. 2.0 - MAGETWO-57137
But as it's unlikely that it will be fixed I'm closing this issue

[2017-06-20 09:27] #3548 closed, assigned to nobody

[2017-06-20 09:29] jarnooravainen opened #9990 "Product import doesn't allow empty attribute values for non-static attributes"
### Preconditions

1. Magento 2.1.8
2. Product attribute has non-empty value in the DB
3. In the import file product attribute's value is empty

### Steps to reproduce

1. Run product import
2. Check product attribute's value in the DB

### Expected result

1. Product attribute's value is empty after the import

### Actual result

1. Product attribute's value is not updated to empty

Seems bit odd

[2017-06-20 09:50] korostii commented on #6030
Hi @veloraven,
I found 5 commits referencing a (duplicate?) issue #5133, one of them marked with MAGETWO-54704 and already on `2.1-develop` indeed: 95daeec

Can you confirm whether the other four marked with MAGETWO-56978 are also required for proper prices' functioning in a multi-website setup? Here they are: a8dc219, 64f2769, 2a573cc, 36b8852
These commits don't seem to be present on `2.1-develo

[2017-06-20 09:58] icbrg commented on #9307
Me too, same issue in 2.1.7

[2017-06-20 09:58] noprobz09 opened #9991 "Transactional Email logo not updating"
### Preconditions
Magento 2.1.3
PHP version 7.0.8
MySQL version 5.7.13

### Steps to reproduce
Transactional Email
To update Email logo

### Expected result
The updated email logo will show

### Actual result
updated email logo not showing

**Screenshots:**
https://www.screencast.com/t/i6AHj951YidQ

[2017-06-20 10:22] krutkoroma79911 commented on #6470
@peec Hello, can you check your problem on the latest version Magento 2? I can`t reproduce it

[2017-06-20 10:25] AlexWorking commented on #8184
Hello. We reproduced this bug on version 2.1.3. But in develop version, that is 2.1.7 for Your case this very bug seems to be fixed as we have not been able to reproduce it on. So please let us now if You still can reproduce this issue on 2.1.7.  Thank You.

[2017-06-20 10:44] angelo983 commented on #9505
It is still existing in the 2.1.7 version too

[2017-06-20 10:52] veloraven commented on #6120
This issue was fixed in develop branch.
Internal ticket for ver. 2.1. -  MAGETWO-67765

[2017-06-20 10:55] veloraven commented on #5809
This issue was closed in develop branch.

Closed.

[2017-06-20 10:55] #5809 closed, assigned to nobody

[2017-06-20 11:00] veloraven commented on #5810
This issue was fixed in develop branch.
Closed.

[2017-06-20 11:00] #5810 closed, assigned to nobody

[2017-06-20 11:00] korostii commented on #6424
Hi @SchumacherFM, is that official?

Is there some kind of public announcement you could reference in that regard?

[2017-06-20 11:02] korostii commented on #7933
Hi @veloraven,
Is there a backport planned for this issue?

[2017-06-20 11:03] stevematthewroberts commented on #9963
Hi, Thanks for the reply.

What's the difference between flushing the static cache? and Deploying static content?
I'm using grunt so I would ' grunt clean:theme ' after every less change, it's annoying.

[2017-06-20 11:04] veloraven commented on #5973
This issue was fixed in develop branch in scope of internal ticket MAGETWO-57279
Internal ticket for ver. 2.1 - MAGETWO-58518

[2017-06-20 11:06] korostii commented on #6766
Hi @veloraven,
This seems to be a security issue.
Is there a backport planned to 2.0.x and 2.1.x?

[2017-06-20 11:06] andidhouse commented on #6424
@korostii  - i think you will not revceive a public announcement regarding this. There are over 2K issues reported here (maybe 200-300 are really bugs) and i think magento has no interest at all to communicate that 2.1 is only getting security updates.

In my opinion the magento communication should be more developer centered - not marketing centered.

[2017-06-20 11:17] korostii commented on #7279
Hi @veloraven,
That sounds as if 2.1 and 2.0 branches are effectively abandoned and will only receive security fixes in the future.

Can you confirm that starting from now there will is no support period for 2.1 planned whatsoever, despite the fact that 2.2 isn't even out yet?
That would also mean that the most modern branch safe for production use is... 1.9.x (as all the others either don't recei

[2017-06-20 11:21] korostii commented on #6776
Hi @veloraven,
Are there any plans to backport this fix?

[2017-06-20 11:22] korostii commented on #6988
Hi @veloraven,
Are there any plans to backport this fix?

[2017-06-20 11:22] korostii commented on #8375
Hi @veloraven,
Are there any plans to backport this fix?

[2017-06-20 11:28] hostep commented on #9991
@noprobz09: this has been reported at least 10 times before, please try searching for existing issues before creating a new one, tnx :)

Anyway, the issue was already fixed on the develop branch and was backported to the 2.1-develop branch and will most likely be released in the next 2.1.x release.
See https://github.com/magento/magento2/issues/5352 for more details.

[2017-06-20 11:32] korostii commented on #3548
hi @veloraven,

What's that supposed to mean? Are you able to see the future?
Or are you saying that even a community pull request backporting this fix won't be accepted? In that case, would you mind adding it as a "known issue" to the 2.0.x's release notes?

If you meant to say "Magento, Inc. decided no to put any effort into backporting this issue", why not mark it as "up for grabs" so that some

[2017-06-20 11:35] korostii commented on #5809
Hi @veloraven, are there any plans to backport the fix to 2.1.x branch?

[2017-06-20 11:36] korostii commented on #5810
Hi @veloraven, are there any plans to backport the fix to 2.1.x and 2.0.x branches?

[2017-06-20 11:37] yumicom commented on #7279
I've been expecting a stable version of Magento 2 for more than a year (((

[2017-06-20 11:39] mayankzalavadia commented on #9307
We are also facing the same issues on Magento 2.1.7. If anyone finds a solution for this issue then please share it with all.

[2017-06-20 11:44] lingwooc commented on #9307
@gclift gave a manual solution above. It will need some db editing.

[2017-06-20 11:48] korostii commented on #9991
Well, to be perfectly honest, fix ( 23103c0 ) was done more than a *year*(sic!) ago and yet it's still not available in the latest released version. So whose fault is that?

I wouldn't blame users for reporting it 10 times more.
It's not as if there's an easy workaround available for everyone (like, for example, "update to 2.1.7")

[2017-06-20 11:50] DavidLambauer opened #9993 "No Possibility to add a Website/Store by an Install Script"
I want to create a Website and Store with a Setup Script in a separate Module which is not possible due to the API. The Repository Interfaces do not offer any functionality to create a Store or a Website. Due to that, I always have to insert my values into the Database forced. This is the same way Magento handles the Creation of the default values for these Entities.

Is there a reason for this mi

[2017-06-20 11:58] lingwooc commented on #9963
"Deploying static content" copies and processes _all_ the static files (js CSS less images etc). Less seems to happen first which is handy. Production mode doesn't generate these on the fly like Dev mode does. Clearing the static cache I'm Dev mode is clearing the auto generated files so they can be updated.

Client side less compilation might be worth looking at.

[2017-06-20 12:06] stevematthewroberts commented on #9963
I've read putting in ' SetEnv MAGE_MODE developer ' in the .htaccess file can also switch developer mode on.

Anyway what modes would you consider when developing a theme?
I'm in developer mode, with Client side less compilation.

I'm currently getting that issue of FileError cannot find files in pub/static folders.

This is impossible!

[2017-06-20 12:10] veloraven commented on #7380
This issue was fixed in develop branch.
It also was fixed for ver. 2.1 in internal ticket MAGETWO-61907 and for ver. 2.0 in internal ticket MAGETWO-61908.
Fixes will be available in one of the nearest releases.

[2017-06-20 12:11] coatesjonathan commented on #9934
I haven't updated Magento, and Yes it's fully installed, seems all good, I have realised this issue is due to the Magento Stripe Extension I have added.

[2017-06-20 12:12] veloraven commented on #6138
This issue has been already fixed and the fix will be available in one of the nearest releases.

[2017-06-20 12:13] lingwooc commented on #9963
Honestly I don't use developer mode because of issues like that (although others will probably tell you I'm wrong). I've developed themes and modules purely in production mode. It is a little irritating running setup:static-content:deploy a lot, but I find it faster and less "weird". I believe there are also still bugs where stuff works in developer mode but not production.

[2017-06-20 12:16] veloraven commented on #6079
This issue has already been fixed in develop branch.
I also was fixed for ver. 2.1 in scope of internal ticket - MAGETWO-63589. The fix will be available in one of the next releases.

[2017-06-20 12:18] veloraven commented on #4778
This issue was fixed in develop branch.
It also was fixed for ver. 2.1 and will be available in one of the nearest releases.

[2017-06-20 12:18] stevematthewroberts commented on #9963
Ah ok, thats good to know. Thank you. I will try production mode.

[2017-06-20 12:23] veloraven commented on #7153
This issue was fixed in develop branch.
It also was fixed for ver. 2.0 (internal ticket - MAGETWO-62587) and ver. 2.1 (MAGETWO-61135). Fixes will be available in one of the nearest releases.

[2017-06-20 12:25] bat553 commented on #8109
@veloraven I migrated to PHP 7.0 and the bug seems to be resolved.

[2017-06-20 12:28] veloraven commented on #3482
This issue was fixed.
Closed.

[2017-06-20 12:28] #3482 closed, assigned to nobody

[2017-06-20 12:29] veloraven commented on #7058
I'm closing this issue as internal ticket was closed as a duplicate for MAGETWO-59626 which has been fixed already.

[2017-06-20 12:29] #7058 closed, assigned to nobody

[2017-06-20 12:31] veloraven commented on #4108
This issue was fixed in develop branch.
It also was fixed for ver. 2.1 - internal ticket - MAGETWO-57028. Fix will be available in one of the nearest releases.

[2017-06-20 12:31] veloraven commented on #8094
This issue was fixed in develop branch.
Closed.

[2017-06-20 12:31] #8094 closed, assigned to nobody

[2017-06-20 12:32] veloraven commented on #7804
This issue was fixed in develop branch,
Internal ticket for ver. 2.1 - MAGETWO-62266

[2017-06-20 12:35] veloraven commented on #7687
This issue was fixed in develop branch.
It also was fixed for ver. 2.1 (internal ticket - MAGETWO-57607) and fix will be available in one of the nearest releases.
We were not able to reproduce this issue for ver. 2.0.

[2017-06-20 12:37] veloraven commented on #9452
This issue was fixed in develop branch.
Closed.

[2017-06-20 12:37] #9452 closed, assigned to nobody

[2017-06-20 12:38] veloraven commented on #7211
@chatthana is this issue still actual?
We were not able to reproduce it.

[2017-06-20 12:40] veloraven commented on #7152
This issue was fixed in ver. 2.1.4 in scope of internal ticket MAGETWO-57832.
Original internal ticket was closed as a duplicate.
Closed.

[2017-06-20 12:40] #7152 closed, assigned to nobody

[2017-06-20 12:44] korostii commented on #8094
Hi @veloraven, having a fix on develop isn't the same as resolving the issue.

Are there any plans to backport this issue on Magento side?
If not, please reopen the issue and mark it as "up for grabs" so that people would know it is okay to create a pull request targeting `2.1-develop` in order to help with the backporting process.

[2017-06-20 12:49] codedge commented on #9976
Oh, I did look for an existing ticket but wasn't able to find one.
Would it help if I create a PR @magento-team?

[2017-06-20 12:50] dmitriyprime commented on #7178
Unfortunately, I could not reproduce the issue as you described it. May please let me know if this problem reproducible on latest release version of Magento2?

[2017-06-20 13:03] veloraven commented on #4857
This issue was fixed in develop branch.
Closed.

[2017-06-20 13:03] #4857 closed, assigned to nobody

[2017-06-20 13:06] veloraven commented on #3814
I'm closing this issue as we were not able to reproduce it on develop branch, most likely it was fixed in scope of some other task.
If you can still reproduce this issue, please create a new GitHub issue report.

[2017-06-20 13:06] #3814 closed, assigned to nobody

[2017-06-20 13:08] hostep commented on #9991
@korostii: chill chill, instead of whining everywhere about issues not being fixed in a new release, you could be a lot more helpful by creating backports of fixes yourself like I am doing. It seems to be the only way to quickly make Magento more stable then the state it is in today.
I agree with you that it should be Magento's responsibility to backport these fixes, but it seems that they are too

[2017-06-20 13:09] #5612 closed, assigned to nobody

[2017-06-20 13:11] #4291 closed, assigned to nobody

[2017-06-20 13:15] #4232 closed, assigned to rgoncharuk, antboiko

[2017-06-20 13:16] oleg-onufer commented on #8089
This issue  is a duplicate of this one https://github.com/magento/magento2/issues/8172
Internal ticket was created for this issue -- MAGETWO-69940

[2017-06-20 13:23] veloraven commented on #5811
I'm closing this issue as it was fixed in develop branch and there are no plans to backport it to version 2.1 at the moment.

[2017-06-20 13:23] #5811 closed, assigned to nobody

[2017-06-20 13:23] #5618 closed, assigned to nobody

[2017-06-20 13:27] veloraven commented on #5128
I'm closing this issue as it was fixed in develop branch and no backports to ver. 2.1 or 2.0 are planned now.

[2017-06-20 13:27] #5128 closed, assigned to nobody

[2017-06-20 13:27] michel334 commented on #6260
this issue seems to be still present in 2.1.7 is there an ETA on the release?

[2017-06-20 13:28] veloraven commented on #6943
I'm closing this issue as it was fixed in develop branch.

[2017-06-20 13:28] #6943 closed, assigned to nobody

[2017-06-20 13:31] #7401 closed, assigned to nobody

[2017-06-20 13:35] chickenland commented on #1702
For those looking where to configure this, it is in Stores | Configuration -> General | General -> Locale Options -> Weight Unit

[2017-06-20 13:35] veloraven commented on #4731
I'm closing this issue as we were not able to reproduce it on develop branch.
If you can still reproduce this issue, please create a new GitHub issue report.

[2017-06-20 13:43] veloraven commented on #9669
Internal ticket was created - MAGETWO-69716

[2017-06-20 13:46] Andrii-Deineha commented on #6657
@GuidoHub  is this issue still actual? Unfortunately, I could not reproduce the issue as you described it

[2017-06-20 13:48] krutkoroma79911 commented on #8298
@CNanninga hello can you check your problem again on the latest version of Magento2?

[2017-06-20 13:52] tmotyl commented on #4731
Does it mean that the next version of Magento 2.2 will be released from branch develop?

[2017-06-20 14:08] VasylShvorak commented on #6588
@sakisplus Please provide more information about your language pack installation including link and type installation.

[2017-06-20 14:08] NadiyaS commented on #4731
@tmotyl
yes, 2.2.0 version will be created from branch 'develop'

[2017-06-20 14:27] kanduvisla opened #9995 "M2.1.7 : Custom options that are $1000 or more are set to $1 when saved again"
Now here's an interesting one: Got this from a client, but I was able to reproduce it on a vanilla installation of Magento 2.1.7. Appearantly, when you create a custom option that is $1000 or higher and you save the product twice, the price of this option is set to $1.

Can anyone confirm this?

### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. Create a simple product
2. Add a custom

[2017-06-20 14:29] spyrule commented on #7401
Well its still happening in 2.1.7 and so this ticket shouldn't be closed until its actually posted.

[2017-06-20 14:50] davidalger commented on #6260
@michel334 Fixed on develop means it will be included in the next feature release. I.e. Magento 2.2 should have the fix. If there are fixes you would like to see back ported to 2.1 (i.e. where Magento only fixes on develop), feel free to back port the fix and submit a PR to the 2.1-develop branch.

[2017-06-20 15:05] miguelbalparda commented on #6337
#9992 is in the process of being merged, any chance you could test the patch? Thanks!

[2017-06-20 15:33] mauromm opened #9997 "Can't create new order in admin when es_AR locale is enabled"
### Preconditions

1. Magento 2.1.6
2. PHP 7.0.18

### Steps to reproduce

1. Set admin user language as es_AR in panel.
2. Go to SALES > ORDERS > CREATE NEW ORDER
3. Select existing user or button to create new one.

### Expected result

1. Magento must redirect to create order section.

### Actual result

1. Magento doesn't redirect. It keeps in the selection page after call ajax:

.../sales/ord

[2017-06-20 15:42] lilu-box commented on #9821
I have the same issue with Some images on my site (in particularly with logo which I'm trying to change). And the weird thing is that i get **404 Page not found** just for some files from the same folder in which there are also files with the **same permissions** which i can see without any problem.
I've tried all possible solutions which i could find - nothing.
It came to my attention in Media St

[2017-06-20 15:48] oleg-onufer commented on #7698
Thank you, Internal ticket was created for this issue - MAGETWO-70026

[2017-06-20 15:53] korostii commented on #9991
There is this bottleneck called "Community Engineering Team". It seems that both backporting and processing Pull Requests falls under their jurisdiction and the team is quite small.

As far as I understand, they decided to focus on Pull requests precisely because backporting _everything_ would take too much effort: there were dozend if not hundreds of fixes missing from 2.1 and only present on dev

[2017-06-20 16:01] mynameismud opened #9998 "IPN method validation needs to allow refunds against inactive methods"
### Preconditions
- v2.1.3
- You need a standard Paypal account
- You need a Payflow Pro account also

**NOTE: It appears that ANY two Paypal types of accounts would suffice for this test. This is a general issue with validation in Ipn.php, not an issue specific to these two methods.**

### Steps to reproduce
1. Enable Paypal Express Checkout and process a payment using it
2. Disable Paypal Expres

[2017-06-20 16:05] korostii commented on #4731
Does it mean 2.1's issues will be ignored unless they exist on 2.2 as well?

[2017-06-20 16:08] korostii commented on #6260
@davidalger, your answers raises yet another question: what's the ETA on the release of 2.2? :)

[2017-06-20 16:26] LuisChaves commented on #5037
Already have a definitive solution on this issue? I'm using Magento 2.1.7 and the error continues.

[2017-06-20 16:35] NadiyaS commented on #4731
@korostii , no, it does not. Bugs with high priority are being fixed and they are delivered in patch releases for 2.1.

[2017-06-20 17:14] georgios-2317 commented on #7469
On version 2.1.7 now, is this meant to be fixed here @veloraven ?

[2017-06-20 17:21] ThisIsRuddy commented on #7199
I too share this opinion 😐

On Tue, 20 Jun 2017, 09:27 pitangaweb, <notifications@github.com> wrote:

[2017-06-20 17:37] isacsg opened #9999 "curly brackets in emails for custumer"
### Preconditions

1. Magento 2.1.6
2. en_US & pt_BR
3. All emails send for costumer

### Steps to reproduce

1. I installed the magento translation pt_BR, and the emails sent to the client started to come between {{}}, tags in text email.
2. I remove the translation and the emails sent do client started to come between {{}}
3. I recreated template emails without {{}} in the code but the tags cont

[2017-06-20 18:21] erikrijn opened #10000 "M2.1.7 - REST API can only update images once"
Tested on Magento 2.1.7 with PHP7.

1. Create a new product image via the REST API.
2. The POST method return the ID of the created image.
3. Update the image by SKU and ID, using the REST API.
4. The PUT returns 'true' and the changes are visible on the front-end.
5. Now do another update by SKU and ID, using the REST API.
6. It throws the exception:

I can reproduce this bug with every image, an

[2017-06-20 18:29] lazyguru commented on #7279
@veloraven I'm curious as to why this is not being back-ported. Both 2.0 and 2.1 are still inside their support windows for bug fixes. This is a bug fix. Seems only logical that it should apply.

[2017-06-20 18:31] rbur0425 opened #10001 "Configurable Attribute cannot have more the 247 options"
Magento 2.1.7

I have added a bunch of different sizes for a custom attribute. The attribute have 247 options. When I attempt to add another option it does not save. It remains at 247.

[2017-06-20 18:34] #10001 closed, assigned to nobody

[2017-06-20 18:34] rbur0425 commented on #10001
Solved - change the following in php.ini

[code]

[2017-06-20 18:57] drsholtes commented on #9991
It'd be really cool if this platform worked!

[2017-06-20 21:15] isacsg commented on #9999
Resolved, i'm reinstall the past "vendor/magento/module-customer".
Thanks.

[2017-06-20 21:15] #9999 closed, assigned to nobody

[2017-06-20 22:55] okorshenko commented on #5083
Closing this issues. The functionality is deprecated.

[2017-06-20 22:55] #5083 closed, assigned to nobody

[2017-06-20 23:12] MichaelJamesParsons commented on #6424
@SchumacherFM I've got an application that is ready to launch, with the exception of this blocker. Is there a known temporary fix? or at least a stable version I can downgrade to?

[2017-06-20 23:19] ianfp commented on #7633
@joni-jones Is there an open Github issue I can follow to track the progress of the switch to the new Authorize.net API? DPM is not a good option for my organization, and I was shocked to discover that it is the only Authorize.net option in Magento 2!

[2017-06-21 00:08] apicht opened #10002 "After upgrade 2.1.2 to 2.1.7, Redis cache ends up in bad state intermittently, then all requests return 503"
### Preconditions

1. Magento CE 2.1.7
2. OS: RHEL 7.2
3. Apache 2.4.6-45
4. PHP 7.0.19-1 (IUS)
5. Redis 3.2.4-1 (IUS)
6. Percona MySQL 5.7.15-9
7. 2 identical servers behind an F5 load balancer, plus a separate admin server.
8. Media is shared between the servers via NFS.

### Steps to reproduce

1. Run production traffic for hours to days until the 503s begin.
2. We have been unable to reproduce

[2017-06-21 00:46] Caryyon commented on #6424
This seems to be an issue with decimal points in some of the custom options. Try and drop any of those before downgrading.

[2017-06-21 01:00] brideo commented on #9187
I'm a bit confused why this was ever changed? It would be good if this was a configuration option or something.

[2017-06-21 01:58] codeimpact commented on #6929
I had the same problem as well and I found the reason.

In my case, I only got the problems on my test server, locally no issues at all.

The reason is that I copied my local database to my test server, with an other database name, after logging my database I saw that one query failed, it was trying to use my old database name.

After a database dump I saw triggers which referring to the old datab

[2017-06-21 04:13] MichaelJamesParsons commented on #6424
@Caryyon After extensive testing, it seems the issue may be related to the size of the request, not the values of each attribute. I was able to create product variations using single attributes at a time. When I attempted to generate the variations using the two larger attributes (most values), the request failed.

## Failed Attempt: size (5 values) and color (9 values)
The following request retur

[2017-06-21 05:52] jupiter01 commented on #3139
This is still an issue in 2.1.7.

[2017-06-21 06:25] Bartlomiejsz opened #10003 "Store url directive in anchor inside WYSIWYG"
### Preconditions
1. Magento 2.1.7

### Steps to reproduce

1. Edit product in backend
2. Hide editor in 'Description field'
3. Try to insert anchor with store url directive (`<p><a href="{{store url="test"}}">Test</a></p>`)
4. Show editor
5. Hide editor again

### Expected result

1. It should be shown unchanged

### Actual result

1. Code is broken: `<p><a href="{{store url=">Test</a></p>`

[2017-06-21 06:51] jigneshaccorin commented on #6450
Any update on this? I am facing a similar issue with persistent

[2017-06-21 06:53] parththummar commented on #6450
Any update on this? I am facing a similar issue with persistent on 2.1.4

[2017-06-21 07:03] #8089 closed, assigned to lewisvoncken

[2017-06-21 07:05] veloraven commented on #7402
Internal ticket was created for this issue - MAGETWO-70023

[2017-06-21 07:09] veloraven commented on #6161
Internal ticket was created - MAGETWO-70028

[2017-06-21 07:12] veloraven commented on #4815
This issue was fixed.
Closed.

[2017-06-21 07:12] #4815 closed, assigned to nobody

[2017-06-21 07:15] krutkoroma79911 commented on #4431
@MartijnBraam Hello, i tried to reproduce your issue and i can`t do it, can you check your problem on the latest version of Magento 2 (2.2.0)?

[2017-06-21 07:17] krutkoroma79911 commented on #7114
@shanevbg Hello, is your problem still actual? Please check it on the latest version of Magento 2.

[2017-06-21 07:21] PascalBrouwers opened #10004 "Asymmetric transaction rollback Exception overthrows SQL error, impedes debugging"
Reopening https://github.com/magento/magento2/issues/6465

### Preconditions
1. Magento 2.1.4

### Steps to reproduce
1. Add an attribute to Customer and use it in grid, e.g.:
[code]
2. Forget (hey, everybody's got to learn) to add the attribute to the indexer
3. Add/save a new Customer

### Expected result
1. The SQL error of the missing field in the `customer_grid_flat` table. Or maybe an Except

[2017-06-21 07:23] PascalBrouwers commented on #10004
And the other reason I am reopening this issue is because I have a cron that keeps giving an error with:
[code]

[2017-06-21 07:25] joni-jones commented on #7633
Hi, @ianfp, there is no any tickets on Github about updating Authorize.net API, only internal ticket `MAGETWO-53511`. However, now we don't develop any new features for Authorize.net (including the API updating) and I can't provide any estimation for these changes.

[2017-06-21 07:32] titechnologies commented on #8022
Is it solved yet ?

[2017-06-21 07:36] 1408sheva commented on #6161
Thank you, Internal ticket was created for this issue - MAGETWO-70028

[2017-06-21 07:38] goben2489 opened #10005 "Create order programmatically with no item magento 2 dont work"
### Preconditions

1. Magento 2.1.5
2.

### Steps to reproduce

I try create order by manual with no item, have only customer info, payment and shipping but order create has stage complete, i think it check quote have item or total > 0 but i have not find it

` public function execute()
 {
    $post = $this->getRequest()->getPostValue();
    $this->inlineTranslation->suspend();
    try {
        $

[2017-06-21 07:39] SyedMuneebb commented on #4653
Checkout this guide to understand about Cron: [Cron Job Magento 2](https://magenticians.com/setup-cron-job-magento-2/)

[2017-06-21 07:42] SyedMuneebb commented on #1132
Maybe you have missed any step in creating custom module. Here's a step by step guide: [Create Hello World module in Magento 2.](https://magenticians.com/create-module-in-magento-2/)

[2017-06-21 07:46] AlexWorking commented on #7954
Hi. We created an internal ticket for Your issue - MAGETWO-70038. You'll be informed right after the bug is fixed. Thank You for applying.

[2017-06-21 07:46] PascalBrouwers commented on #7862
There is a next release for 2.1? Do you know when?

[2017-06-21 07:53] veloraven commented on #7560
We already have internal ticket for this issue: MAGETWO-56349

[2017-06-21 07:58] koenner01 commented on #8274
Can this be treated together with https://github.com/magento/magento2/issues/7468

[2017-06-21 08:05] PascalBrouwers commented on #9175
I'm starting to suspect more and more than veloraven is just a bot.

[2017-06-21 08:07] oleg-onufer commented on #7035
Magento does not support the php version you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-06-21 08:12] IlnitskiyArtem commented on #6050
@springimport In actual result I see you use OpenServer Web server (Windows)
Magento does not support your operating system. Please confirm that the issue reproduces  on some supported system as well. Please see [Magento technology stack requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html) for more information.

[2017-06-21 08:14] vityakopin commented on #8026
I've linked this GitHub issue to internal ticket MAGETWO-69938.

[2017-06-21 08:21] Andrii-Deineha commented on #9891
@ashishrvtech
Internal ticket MAGETWO-69825 was created.

[2017-06-21 08:23] veloraven commented on #8369
We already have internal ticket for ver. 2.1 - MAGETWO-68810

[2017-06-21 08:25] veloraven commented on #7733
I'm closing this issue as it was already fixed in develop branch and there is separate ticket for ver. 2.1  - #8369 (Internal ticket MAGETWO-68810)

[2017-06-21 08:25] #7733 closed, assigned to nobody

[2017-06-21 08:28] waynetheisinger commented on #10004
There is a PR in progress that may very well solve this https://github.com/magento/magento2/pull/9955 - can't promise - depends if your situation is being caused by a plugin.

[2017-06-21 08:30] VasylShvorak commented on #5192
@Dayssam Is this issue still actual? We were not able to reproduce it on the ver. 2.1.7

[2017-06-21 08:31] veloraven commented on #6403
Internal ticket was created - MAGETWO-69938
I'm closing this issue as #8026 has more detailed description.

[2017-06-21 08:31] #6403 closed, assigned to tkacheva

[2017-06-21 08:32] jalogut commented on #7826
As mentioned on PR #5082 this issue is already fixed in current develop branch:

- https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Product/Validator/Media.php#L81

[2017-06-21 08:32] #7826 closed, assigned to nobody

[2017-06-21 08:40] PascalBrouwers commented on #10004
@waynetheisinger tnx for the info. I have no idea where my 'Asymmetric transaction rollback' error is coming from so I hope yours will fix it :)

[2017-06-21 08:43] smoskaluk commented on #4641
Thanks for posting, Internal ticket created MAGETWO-70040

[2017-06-21 08:43] poochie2 commented on #9737
+1

[2017-06-21 08:47] krutkoroma79911 commented on #5726
@ngashokkumar Thanks for your issue. The internal ticket was created MAGETWO-70043

[2017-06-21 08:48] korostii commented on #4731
Hi @NadiyaS, thanks for the timely response. I am sorry to continue bothering you, but i have couple of follow-up questions and @veloraven seems to mostly ignore me for whatever reason.

1. Is there a definition of "high priority" which I could look up somewhere? Does "security only" sound about right?

2. Since you seem to be representing Magento, I presume that you're saying that developers _fro

[2017-06-21 08:51] Andrii-Deineha commented on #7751
@TomoNZ
Hi,  is this issue still actual?

[2017-06-21 09:07] koenner01 commented on #7468
I have found a problem when using the empty logic;

If you try to import an empty value '' for a product's special_price, it will result in special_price 0.

The problem is an insert being doing in \Magento\CatalogImportExport\Model\Import\Product in function _saveProductAttributes:

[code]

If an empty string value is being inserted into the entity_int or entity_decimal tables they result into va

[2017-06-21 09:11] AliPs94 commented on #5590
@michalbiarda
In my local module what file should I create either than  module.xml , search_request and register file ?

[2017-06-21 09:26] hostep commented on #7733
@veloraven: as far as I'm aware, this issue doesn't exist in version 2.1, so why do you have an internal ticket for this?

[2017-06-21 10:08] ishakhsuvarov commented on #7279
@lazyguru @korostii Reopening again, since there is still no released version where the fix is available.

Currently all the capacity of Magento teams working on 2.1 is busy with items of higher priority, so we can not provide information regarding the ETA for this fix.
Please feel free to submit a Pull Request with the backport or upvote this issue to raise it's priority.

Thank you for collabora

[2017-06-21 10:15] veloraven commented on #8649
@sfedosimov is this issue still actual?
We were not able to reproduce it.

[2017-06-21 10:20] veloraven commented on #7561
@deepak-netwin is this issue still actual?
We were not able to reproduce it.

[2017-06-21 10:22] veloraven commented on #7481
I'm closing this issue as we were not able to reproduce it and reporter's account was deleted.
If you can still reproduce this issue, please create a new GitHub issue report.

[2017-06-21 10:22] #7481 closed, assigned to nobody

[2017-06-21 10:23] korostii commented on #4431
Hi @krutkoroma79911, Hi @veloraven,
1) As far as I know, *2.1.7* is the latest stable release, is it not?
2) Is there a way to get 2.2.0 CE other than by cloning repository?
3) Are you really suggesting to use `develop` branch in production in order resolve various issues including this one? Is that official?

[2017-06-21 10:24] veloraven commented on #5754
I'm closing this issue as the problem was resolved.
If you can still reproduce this issue, please create a new GitHub issue report.

[2017-06-21 10:24] #5754 closed, assigned to nobody

[2017-06-21 10:29] korostii commented on #7114
Hi @krutkoroma79911, Hi @veloraven,

I'm confused.
Are you guys saying you cannot reproduce the issue?
Or are you saying the issue is fixed already?

If it's neither of those, why not write the real reason for ignoring this issue?

[2017-06-21 10:30] koenner01 opened #10006 "CatalogImportExport: Cannot import value 0 for price attributes"
When you import a value of 0 for a price attribute, the value will not be imported and Magento will keep its current value for the attribute.

### Preconditions
1. MG2 CE 2.1.7 (also tested on 2.1.5, 2.1.6)
2. PHP 7.0

### Steps to reproduce
1. Create a product and set its price to greater than 0
2. Create an import CSV with data for the product and a price of 0
3. Import the CSV

### Expected res

[2017-06-21 10:37] koenner01 commented on #7468
Another issue in the same clearEmptyData function https://github.com/magento/magento2/issues/10006

[2017-06-21 10:53] simonrl commented on #8202
@amarnik The query returned 0 results in my case.

I am having the issue on Magento CE 2.1.7 with the following attribute:

[code]

Happens when I try to change the value for "used_in_product_listing" in the backend.

[2017-06-21 10:56] MartijnBraam commented on #4431
@krutkoroma79911 I cannot check the problem since I've removed magento 2 a year ago

[2017-06-21 10:57] vkublytskyi commented on #4731
Hi, @korostii. Let me try to answer your questions.

1. Priority of issues reported at GitHub defined by the community as described at [blog post](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/ba-p/60088). Priority of an issue also may be raised based on requests to support or any other feedback. Not only security issue may be back-ported to `2.1-develop` branch. The only

[2017-06-21 11:01] veloraven commented on #9420
@Danielc3 we were not able to reproduce this issue by provided steps.
Please provide more detailed steps or additional preconditions.
Do you use clean install or upgrade from some previous version?
Do you use any external extensions?
Please also provide information about your environment: OS, versions of PHP, MySQL, web-server.

[2017-06-21 11:08] korostii commented on #10005
This is very interesting, but why would you even _want_ an order with **no** items inside?
Have you tried creating an order with at least a virtual item inside?

I doubt any of the behavior you seem to be relying on is covered by @api annotations, and I don't think it is symptomatic of any bugs neither. When doing a deep customization like that, you're largely on your own. The GitHub issue tracker

[2017-06-21 11:11] AlexWorking commented on #7897
Hi slackerzz. An internal ticket MAGETWO-70053 has been created  based on Your issue. You'll be immediately notified after the issue is resolved. Thank You for appliance.

[2017-06-21 11:13] chiragp-wagento opened #10007 "ProductAlert: Product alerts not showing in admin side product edit page"
### Preconditions
Below is environment I am using

1. Magento version CE 2.1.5
2. PHP Version 7.0.15
3. MySQL Version 5.7.18

### Steps to reproduce

1. Make any product out of stock and view the product in front side
2. Make sure you are logged in and click on " Notify me when this product is in stock " link to subscribe for stock alert and it will show "Alert subscription has been saved." succes

[2017-06-21 11:16] smoskaluk commented on #4751
Internal ticket created MAGETWO-70054

[2017-06-21 11:19] korostii commented on #5590
Hi @AliPs94, please try reading [this tutorial](https://magenticians.com/create-module-in-magento-2/) first or [devdocs](http://devdocs.magento.com/) for a jump start on module development.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/) for technical questions and support.

[2017-06-21 11:23] AliPs94 commented on #5590
@korostii
Thanks for help , I know how to develop a magento module but I'm try to set @michalbiarda solution but this code is not working alone , I think there another files.

[2017-06-21 11:25] oleg-onufer commented on #7546
Unfortunately, I could not reproduce the issue. Can you check your problem on the latest version of Magento 2 (2.2.0)?

[2017-06-21 11:28] ArthurTransoftgroup commented on #6955
Internal ticket MAGETWO-69947 was created;

[2017-06-21 11:36] ArthurTransoftgroup commented on #6682
Internal ticket MAGETWO-69957 was created;

[2017-06-21 11:36] korostii commented on #7279
Hi @ishakhsuvarov, thanks a lot for reopening the issue and for your informative response!

[2017-06-21 11:39] chm1975 commented on #9998
Hi. I have detected the same issue on my side. Also tested on version 2.1.7 with the same bad result.
The line with problems is this:
[code]
Is incorrect this line becuase in the case that we change after several months of sales to other payment method and we need deactivate Paypal Express, for example all pending refunds will return Ipn error to Paypal.

Magento team should consider improve this

[2017-06-21 11:40] veloraven commented on #4900
@thilipdilip is this issue still actual?
We were not able to reproduce it.

[2017-06-21 11:40] Koc commented on #5530
still occurs on 2.1.7. Please reopen

[2017-06-21 11:45] 1408sheva commented on #7726
@molneek Is this issue still actual? We were not able to reproduce it on ver. 2.1.7.

[2017-06-21 11:48] ChandhruSekar opened #10008 "Indian Rupee Symbol not displaying in magento2"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-06-21 11:51] #7119 closed, assigned to nobody

[2017-06-21 11:51] molneek commented on #7726
@1408sheva I've never tried to reproduce it on ver. 2.1.7. So, I think this issue isn't actual at the moment.

[2017-06-21 11:55] korostii commented on #4731
Hi @vkublytskyi, thank you for the detailed response!

I am well aware of the points 1 and 2 you mention and understand the reasoning behind them.
However, if those policies are still in place, I do not fully understand why does it make sense to close an issue like this one.

Closing an acknowledged issue commonly means that the issue is resolve and there's no more work to be done (which is not tr

[2017-06-21 11:56] #10008 closed, assigned to nobody

[2017-06-21 11:57] veloraven commented on #7513
@maximbaibakov is this issue still actual?
We were not able to reproduce it.

[2017-06-21 11:58] veloraven commented on #8230
@flipflap is this issue still actual?
We were not able to reproduce it.

[2017-06-21 11:59] maderlock opened #10009 "Cannot apply discount to price based on customer group"
### Preconditions

1. Magento 2 (all versions < 2.2 it seems)

### Steps to reproduce

1. Set prices for a product for two customer group via tiered pricing
2. Create a catalog rule discount that applies to product
3. Apply rule

### Expected result

1. The discount from the catalog rule would discount the base price set for each customer group

### Actual result

1. The discount applied to the ma

[2017-06-21 11:59] jhruehl opened #10010 "M2.1.7, Checkout as logged in user: Validation Error 'Please enter less or equal than {0} symbols' on empty 2nd address line when adding new address"
If one tries to add a new address during the checkout process as a logged in user, whose default address has no 2nd address line, one gets the validation error 'Please enter less or equal than {0} symbols' on this line.
Once anything is entered in the 2nd address line and removed, the error doesn't show up on retries unless store cookies are deleted.

### Preconditions
1.  Magento 2.1.7
2. PHP Ver

[2017-06-21 12:03] kamilszewczyk commented on #5502
Is this issue going to be addressed in Magento 2.2?

[2017-06-21 12:14] vityakopin commented on #6585
Magento does not support your operating system. Please confirm that the issue reproduces  on some supported system as well. Please see [Magento technology stack requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html) for more information.