[2018-03-11 11:00] tonytrinh206 commented on #6817
@richardechidna I have installed a refresh Magento 2.1 and it fixed the problem

[2018-03-11 11:04] richardechidna commented on #6817
@tonytrinh206 thanks for the info :) However my issue is in 2.2.1 , with 2.1 I hadn't faced this issue!!!

[2018-03-11 11:37] GlobalOutsourcing commented on #14040
Resolved by removing everything from Plesk admin --> Websites & Domains --> "Your Magento 2 Domain" --> Apache & nginx Settings for "Your Magento 2 Domain" --> Additional Apache directives &
Additional nginx directives.

Thanks.

[2018-03-11 11:37] #14040 closed, assigned to nobody

[2018-03-11 14:05] tonytrinh206 commented on #12527
Thanks @jimmyhien, I have fixed the issue by changing the getPriceFormat function in lib/internal/Magento/Framework/Locale/Format.php file to

[code]

[2018-03-11 16:25] sudaifhaider commented on #12779
yes, I have entered as jpg, png . I have updated magento to 2.2.3 but still facing the same issue. Please help I really need this to work.

Thanks.

[2018-03-11 17:11] sudaifhaider opened #14046 "You need to choose options for your item."
unable to add the product to cart with customizable options

Preconditions
choose phone model upload file and add to cart

it should get added to the cart
file should get upload
Steps to reproduce
Create a configurable product with dropdown option for phone model.
in Customizable option, choose file in option type, and required and price type as fixed save the product.

Expected result
should get

[2018-03-11 21:11] centminmod opened #14047 "magento 2.2.2 cron:install formating incorrect"
### Preconditions
1.  Magento 2.2.2 installed via composer
2. CentOS 7.4, PHP 7.1.15 with Zend Opcache, MariaDB 10.1.31 MySQL

### Steps to reproduce

1. installed Magento 2.2.2 via composer
2. run `bin/magento cron:install` command

### Expected result
Proper setup of cronjob with MAGENTO comment on newline

[code]

### Actual result
Missing newline for MAGENTO START comment as it's tagged on end

[2018-03-11 21:48] germaike commented on #5735
HI,
Any luck on fixing this issue. I have this on a 2.1.4 installation.
Turned of passing cart line items without any luck.
Other suggestions?

Kind regards

[2018-03-11 21:53] germaike commented on #6897
@magentoprince

Did you get any response?

[2018-03-11 22:23] mclevenger commented on #5948
In Magento 2.2.2

Worked out a plugin to allow for out of stock child option products of a configurable product to work in concert with @mjankiewicz  helper.

Key point was in "vendor/magento/module-configurable-product/Model/ResourceModel/Attribute/OptionSelectBuilder.php

Created  a plugin to modify the select to allow for out of stock products in the configurable options:

<?php

namespace Wate

[2018-03-11 22:32] intercase opened #14049 "Retrieve session information from another customer under /customer/section/load/sections=&update_section_id=true"
### Preconditions

- It happens on a fresh Magento 2.2.2 installation via composer.
- PHP 7.1
- MySQL 5.6

### Steps to reproduce

1) Installed Magento 2.2.2 via composer
2) Go to frontend and register a new customer. Logoff and login with this customer.
3) Open a new browser or use another device to repeat the step (2).
4) Under device 1, open a new tab and go to http://localhost/customer/section

[2018-03-12 03:02] pyyick commented on #13443
Magento 2.1.2 have the same problem

[2018-03-12 03:23] BubblegumAnarchy commented on #11131
Experiencing the same issue here. The image is saved with a backend url that is not visible to anyone outside of the admin account that "placed" the image using wysiwyg. I've tried uploading again and placing each image (no copy + paste) and the problem still occurs.

[2018-03-12 03:33] estellehuang opened #14050 "Import related products issue"
I imported four related products for a product. The related products are showing in the frontend.But only two related products are showing in the backend. I have run index and cleared cache. But the issue is still exist.

[2018-03-12 05:00] mageprince commented on #6897
This issue happened, when we install any third party extension which has extra order attribute. Which is add or subtract an amount from the order total.
The temporary solution for this issue that, you can disable transfer cart line items from admin.
`Stores->Configuration->Sales->Payment Method->Paypal->Configure->Advanced Settings->Transfer Cart Line Items`

Which means that PayPal only receives

[2018-03-12 06:52] magento-engcom-team commented on #13529
@domeglic,
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 06:52] #13529 closed, assigned to nobody

[2018-03-12 06:55] magento-engcom-team commented on #14050
@estellehuang , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] S

[2018-03-12 07:02] GraysonAstral commented on #6803
@magento-engcom-team
Sor , I am facing the same issue on 2.2.1 version.

[2018-03-12 07:05] magento-engcom-team commented on #13801
@shinesoftware
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 07:05] #13801 closed, assigned to nobody

[2018-03-12 07:13] magento-engcom-team commented on #13834
@evodus
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 07:13] #13834 closed, assigned to nobody

[2018-03-12 07:19] magento-engcom-team commented on #13837
@talk2mybot
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 07:19] #13837 closed, assigned to nobody

[2018-03-12 07:21] magento-engcom-team commented on #13838
@vipin12117
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 07:21] #13838 closed, assigned to nobody

[2018-03-12 07:26] magento-engcom-team commented on #13873
@jaui21
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 07:26] #13873 closed, assigned to nobody

[2018-03-12 07:34] Szpadyzor commented on #6803
Working solution from production system:

1. Prepare images entries:

`protected function createMediaImagesEntries($images)
    {
        $entries = [];

        foreach ($images as $key => $value) {
            $fileTitle = $value['title'] ?? null;
            /** @var \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterfaceFactory; $mediaEntry */
            $mediaEntry = $this->entr

[2018-03-12 07:39] magento-engcom-team commented on #13634
@andrew21111, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 07:39] #13634 closed, assigned to nobody

[2018-03-12 08:03] magento-engcom-team commented on #9685
@klein0r
Yes of course, if you don't specify `'user_defined' => true`, than your attribute always will present in customer edit form.
You should add attribute with `'user_defined' => true`, and specify where do you want to show by 'used_in_forms':
[code]

[2018-03-12 08:05] klein0r commented on #9685
I'm pretty sure that I've set user_defined to true. But I will test that :) Thanks a lot

[2018-03-12 08:15] magento-engcom-team commented on #9685
@klein0r Tell me please if it helped solve your problem,
and If the problem is exhausted, please close the issue.
Thanks

[2018-03-12 08:31] #13487 closed, assigned to nobody

[2018-03-12 08:49] magento-engcom-team commented on #14004
Hi @himanshu8
If you have applied grid filter in admin, than you can show row status filter:
![screenshot_1](https://user-images.githubusercontent.com/31669971/37273600-ffe9538a-25e2-11e8-8c13-66ee72ce91b3.png)

[2018-03-12 08:54] eskilh opened #14052 "M2.2.3 Checkout - Once integer is stored for State/Province field, it can not be changed to alphanumeric"
### Preconditions

1. Magento 2.2.3 with sample data, installed via composer, fresh installation.
2. PHP 7.0.27-0+deb9u1, mysqld  Ver 10.1.26-MariaDB-0+deb9u1

### Steps to reproduce

1. Put item in cart. Go to checkout.
2. Select Country without prepoulated list of State/Provinces.
3. Enter integer value in State/Province field. (E.g. "1").
4. Fill in the rest of the forms with mock data.
5. Cont

[2018-03-12 09:04] magento-engcom-team commented on #14004
@himanshu8 If the issue is not actual close it please

[2018-03-12 09:09] #13345 closed, assigned to nobody

[2018-03-12 09:10] #12708 closed, assigned to nobody

[2018-03-12 09:30] magento-engcom-team commented on #14038
@siliconalchemy, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 09:30] magento-engcom-team commented on #13345
@ahmadvaqaskhan, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 09:30] magento-engcom-team commented on #12708
@sureshpareek, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 09:30] magento-engcom-team commented on #13773
@webspeaks, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 09:35] magento-engcom-team commented on #14012
@mzenner1 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![order_a](https://user-images.githubusercontent.com/31669971/37276056-6c91cf0c-25e9-11e8-8753-b83267b93a5d.png)

[2018-03-12 10:00] logicallimit commented on #11107
I am also getting this error on CENTOS 7.4 when I try to run command

I get following message:
![cant-find-the-role](https://user-images.githubusercontent.com/7191368/37276772-bee8f7b6-2608-11e8-8cdf-32afc71e4722.png)

I am at Magento 2.2.2 CE. My site is currently hosted at some other host and I am planning it to migrate it to VPS from other host. I copied my current production code to the new ho

[2018-03-12 10:00] andkirby commented on #13995
Uh, yeah, that's EE issue.

[2018-03-12 10:10] cedricziel opened #14053 "[FEATURE] Add CLI command to dump the sitemap"
Currently, there's a cronjob that is run on a schedule. Since we deploy our site through deployer, the root directory content is reset on basically every deployment cycle.

So this now needs manual actions in the form of someone logging into the backend and clicking the "generate" button on the sitemap entries.

So in essence there should be a CLI command to dump the registered sitemaps to disk.

[2018-03-12 10:18] voquockhanh commented on #4637
@dambrogia Thank you. It was help me a lot :D

[2018-03-12 10:30] magento-engcom-team commented on #14047
@centminmod, thank you for your report.
The issue is already fixed in 2.3.0
But we will consider to backport the fix to patch releases

[2018-03-12 10:50] ju5t opened #14054 "Updating customers through rest/V1/customers/:id fails since 2.2.2"
### Preconditions
1. We first tested this on version 2.2.1 -- updating customers through the API works.
2. We then upgraded to version 2.2.2 -- updating customers through the API fails.

The error persists in 2.2.3.

### Steps to reproduce
1. Create a customer through the API.
2. Update a customer through the API.

We use Python to interface with Magento.

Our update call is:

[code]

The customer

[2018-03-12 11:02] bydrei opened #14055 "Getting group id from customer session returns wrong data type."
If you get the customer from the session and then get the group id, the group id is returned as a string. The return type for that function specifies it should be of type int but it is returning as a string.

### Preconditions

1. Magento 2.1.12
2. PHP 7.0.27
3. MySQL 5.7.21

### Steps to reproduce

[code]

### Expected result

`$groupId` should be of type int and not a string.

### Actual result

[2018-03-12 11:11] capkafitz commented on #10687
Method processMediaGallery() in ProductRepository.php (version 2.2.2 line 492): Every product save resets all media attributes. Problem is that key 'types' does not exists when using the function getMediaGallery('images').

`$this->getMediaGalleryProcessor()->clearMediaAttribute($product, array_keys($product->getMediaAttributes()));
        $images = $product->getMediaGallery('images');
        if

[2018-03-12 11:15] magento-engcom-team commented on #12619
@Rockfordgun we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-12 11:15] #12619 closed, assigned to nobody

[2018-03-12 11:17] capkafitz commented on #10687
Method processMediaGallery() in ProductRepository.php (version 2.2.2 line 492): Every product save resets all media attributes. Problem is that key 'types' does not exists when using the function getMediaGallery('images').

`$this->getMediaGalleryProcessor()->clearMediaAttribute($product, array_keys($product->getMediaAttributes()));`
`$images = $product->getMediaGallery('images');`
`        if ($i

[2018-03-12 11:17] magento-engcom-team commented on #12798
@subhashbodana please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-12 11:17] #12798 closed, assigned to nobody

[2018-03-12 11:19] magento-engcom-team commented on #13725
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-12 11:19] #13725 closed, assigned to nobody

[2018-03-12 11:22] magento-engcom-team commented on #14002
@shater1990 , thanks for your update. We cannot reproduce the issue with sample data too.
![img_block_sample_data](https://user-images.githubusercontent.com/31669971/37281010-33b1ce44-25f8-11e8-9322-df466857f13d.png)

![img_block_sample_data2](https://user-images.githubusercontent.com/31669971/37281020-3ad06d3e-25f8-11e8-8b7b-ebdcc5d4c418.png)

We think you issue is related for you server configur

[2018-03-12 11:30] magento-engcom-team commented on #13725
@pramodhanu, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 11:30] magento-engcom-team commented on #14052
@eskilh, thank you for your report.
The issue is already fixed in 2.3.0
But we will consider to backport the fix to patch releases

[2018-03-12 11:37] magento-engcom-team commented on #9972
Hi @zdjm Is the issue still actual?

[2018-03-12 11:40] nickygencs17 commented on #11107
Disable the Shopial_Facebook module it’s was causing your error.

[2018-03-12 11:42] speedupmate commented on #14052
@magento-engcom-team great can you point to parts of the code where it was fixed , so extension devs could backport or suggest hotfix to customers before 2.3.0 is out and patch released

[2018-03-12 11:45] mzenner1 commented on #14012
I am able to replicate this on a blank 2.2.3 install.  I see the success message in your screenshot above.  I too am getting that same success message (that both items were created).  However, if you actually go to Sales->Shipments, was that shipment really created?  For me it is not.

[2018-03-12 11:47] shater1990 commented on #14002
Hello.
I did set permission about var and pub folder.
![image](https://user-images.githubusercontent.com/36569777/37281578-e1c1cc8c-2634-11e8-8ffa-925a1d79fa6f.png)
![image](https://user-images.githubusercontent.com/36569777/37281617-0249480e-2635-11e8-9f00-b7bd7d7e74ab.png)

But it don't work. my server configurations is default.

So I did update some code of di.xml and App/Filesystem/DirectoryRe

[2018-03-12 11:51] gnanasekaranl opened #14056 "Coupon API not working for guest user"
Followed below steps,
1. Create cart for guest user URL: http://devsite.com/magento2.2/rest/all/V1/guest-carts

   Content-Type: application/json
   Method: POST
   Authorization Bearer Key: yfna0bkjnj3j8jcr42rk7a1f3391yy0c

   Request Parameters: NIL

   Response :
adf748e2e78b4cd4d7d3795a127bed97  (Generates Cart ID in response)
create coupon in backend and also by API
Apply this coupon to cartI

[2018-03-12 12:06] siliconalchemy commented on #14038
@magento-engcom-team Thanks for the quick response.  If there is any workaround or commit/patch that I can manually backport to the live codebase please let me know, as it is affecting our live site.

[2018-03-12 12:25] magento-engcom-team commented on #14054
@ju5t, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-12 12:29] himanshu8 commented on #14004
Ya it's there!, Thank so you for your time.
Really appreciated!!.

[2018-03-12 12:29] #14004 closed, assigned to nobody

[2018-03-12 12:30] magento-engcom-team commented on #13053
@fcmoto, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 12:30] magento-engcom-team commented on #9252
@Igloczek, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 12:30] magento-engcom-team commented on #14055
@ferrazzuk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 12:46] xpedicion commented on #12412
Yeah, this one is a pain. For the time being, I "fixed" it by extending the ProductUrlPathGenerator class in my own module and forcing the getUrlPath function to always just use url_key and ignore url_path altogether until this gets officially fixed.

[2018-03-12 12:49] durgagupta commented on #10737
i am also facing same issue could not find node to add hex code or  image
[code]

[2018-03-12 12:52] magento-engcom-team commented on #14007
@Yogeshks, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 13:08] ennostuurman commented on #10766
@magento-engcom-team thx for your investigation, the use case that you tested (bin/magento deploy:mode:set production) does indeed produce the right output. But that is not the issue that I described.

Did you also test the different deploy strategies, http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-static-view.html 'stand alone' in production mode?

1. remove pub/st

[2018-03-12 13:30] magento-engcom-team commented on #13924
@fvschie, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 13:30] magento-engcom-team commented on #13996
@KooTjoo, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 13:37] magento-engcom-team commented on #12939
Thank You @jonathan-martz. But here's next video
[Demo.zip](https://github.com/magento/magento2/files/1802908/Demo.zip) demonstrating there is everything OK with site You referred us to as well. Or do we had to change something via admin before fulfilling the check?

[2018-03-12 13:49] kanduvisla commented on #13902
I have this same problem with Magento 2.1.12.

The bpost shipping carrier has carrier codes with underscores, like:

- `bpost_homedelivery`
- `bpost_pickuppoint`
- `bpost_clickcollect`
- etc.

The code in `Magento\Checkout\Model\PaymentInformationManagement::savePaymentInformation()` explodes the selected shipping carrier by an underscore character and sets this as `limit_carrier`:

    // Shippin

[2018-03-12 13:52] ju5t commented on #14054
@magento-engcom-team this was tested thoroughly on clean installations. I've tested both the specified upgrade path from 2.2.1 to 2.2.2 as well as clean installations for 2.2.1, 2.2.2 and 2.2.3. A clean installation in our case comes down to composer.json having a minimum of:

[code]

No further plugins were installed.

I rewrote our API-call into a one-file example and created a gist of it that c

[2018-03-12 13:54] Cristiano81 commented on #12399
I found a solution, please try to follow this fix:
https://github.com/magento/magento2/pull/11306
and then change
/vendor/magento/module-rule/Model/AbstractModel.php
according to this:

line 108 change
\Magento\Framework\Stdlib\DateTime\TimezoneInterface $localeDate
to
\Magento\Framework\Stdlib\DateTime\Timezone $localeDate

line 360 change
$value = new \DateTime($value);
to
$value =  $this->_loca

[2018-03-12 14:05] fuunnx opened #14058 "Missing minified scripts on production mode (404 error)"
Hi, I've developped a custom theme based on luma for a customer with various plugins etc. and everything works really fine in `developer mode`.

But when I switch to `production mode` it breaks because some unrelated third-party minified scripts are missing:
![capture d ecran 2018-03-12 a 14 44 20](https://user-images.githubusercontent.com/5963805/37287299-cce7f0d2-2604-11e8-9297-9780155c7eb5.png)

[2018-03-12 14:30] magento-engcom-team commented on #14049
@intercase, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 14:30] magento-engcom-team commented on #14004
@himanshu8, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 14:30] magento-engcom-team commented on #14012
@mzenner1, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 14:30] magento-engcom-team commented on #10766
@ennostuurman, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 14:30] kanduvisla commented on #13902
As a temporary solution (at least for 2.1.12) I came op with a plugin that fixes this for 99.9%.

`di.xml`:

[code]

`app/code/Vendor/Module/Plugin/Magento/Checkout/Model/PaymentInformationManagement.php`:

[code]

The 0.1% that is not fixed is if there are carriers that have matching names with underscores. For example: `carrier_foo` and `carrier_foo_bar`. In this case, when `carrier_foo_bar` is

[2018-03-12 14:34] magento-engcom-team commented on #14054
@ju5t , Unfortunately,  could not reproduce the issue as you described it. I tested in 2.1.x and 2.2.x latest release. Could you please confirm if I correctly doing:
1. Create a customer with REST API. Send POST request (/rest/V1/customers) with body: ` {
    "customer": {
    "email": "abc@example.com",
    "firstname": "Test",
    "lastname": "Customer",
    "websiteId": 1
    },
    "password":

[2018-03-12 14:42] thlassche commented on #13902
@kanduvisla Thanks, added the login step to the steps to reproduce section

[2018-03-12 15:03] kshaa opened #14061 "Configurable Product Type resource model 'getChildrenIds' method incorrect return format."
### Preconditions
1. Want to batch get simple product ids from configurable product ids
2. Magento version 2.4-develop

### Steps to reproduce
1. Inject class \Magento\ConfigurableProduct\Model\ResourceModel\Product\Type
2. Apply array of multiple configurable id's to method getChildrenIds

### Expected result
1. Returns array, matching configurable ids to arrays of simple ids
// Start of edit
2.

[2018-03-12 15:10] kshaa commented on #14061
Possible solution is to replace the getChildrenIds method as such:
Original
[code]

Changed
[code]

[2018-03-12 15:20] xpoback commented on #7176
@SimonAnguish No real fix, only a temporary solution.
Since I had to overwrite the data provider model to apply [this fix](https://github.com/magento/magento2/commit/14205b7c4997603daf657faddcdecd2c478245b7) (which has been present in the develop branch since three months, but is still missing even in the latest release), I added my custom attribute code to the return result of the  [function here

[2018-03-12 15:23] ju5t commented on #14054
I found the issue.

You're specifying `id: {customer_id}` in your request body. This seems redundant (and was not required before 2.2.2) as the request uri already contains the customer id. I didn't find a reference to this in the documentation. The Swagger-documentation in fact doesn't mention this endpoint at all.

[2018-03-12 15:26] magento-engcom-team commented on #14058
Hi @fuunnx
We can not reproduce it with any Magento theme.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-12 15:26] #14058 closed, assigned to nobody

[2018-03-12 15:30] magento-engcom-team commented on #13561
@craigcarnell, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 15:30] magento-engcom-team commented on #14039
@ferrazzuk, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0

[2018-03-12 15:30] #14039 closed, assigned to nobody

[2018-03-12 15:31] ferrazzuk commented on #14039
@magento-engcom-team can you point me to the fix?

[2018-03-12 15:34] Rickertje commented on #5590
@michalbiarda @nathanmerrill - any comment?

[2018-03-12 15:34] centminmod commented on #14047
Cheers @magento-engcom-team much appreciated :)

[2018-03-12 16:01] PascalBrouwers commented on #13229
@irenelagno could you have a look at this please? :)

[2018-03-12 16:04] shinesoftware opened #14063 "Wrong invoice prefix in multistore setup due to default store id"
### Preconditions
Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento ver. 2.1.9 - Clean setup by command line
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper

### Steps to reproduce
#### Magento Store Configuration
The magento store

[2018-03-12 16:30] magento-engcom-team commented on #14056
@gnanasekaranl, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-12 16:30] magento-engcom-team commented on #14054
@ju5t, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-12 16:43] AlanJudi commented on #14025
I had done exactly as you have in the video.. instead I got an invalid
scope error.

Installed a clean instance with no demo content, the problem is persistent.

On Monday, March 12, 2018, Magento Community Engineering <
notifications@github.com> wrote:

[2018-03-12 17:13] #14036 closed, assigned to nobody

[2018-03-12 17:20] nbmwebdev opened #14064 "Layer Text disappearing"
When I try to edit default layer text from a default slider on Magetique template from Template Monster, and save, the layer text disappear, but the edit is not visible in my FrontPage, even when the default text is still there...

[2018-03-12 17:33] moeen-basra commented on #12789
@magento-engcom-team I'm having the same issue.

[2018-03-12 20:40] AlanJudi commented on #14025
I'm using Magento version 2.2.3, different from what you have in the video.

On Mon, Mar 12, 2018 at 12:43 PM, Ala Khalil <khalilala1@gmail.com> wrote:

[2018-03-12 21:38] hfgoulding commented on #12330
@tonybrown85
I installed your solution, running 2.2.3 and got this error:
Fatal error: Uncaught Error: Call to undefined method Magento\Bundle\Model\Product\Type\Interceptor::getCustomAttribute() in /app/code/TonyBrown/ForceInventory/Plugin/Bundle.php:11 Stack trace: #0 /vendor/magento/framework/Interception/Interceptor.php(135): TonyBrown\ForceInventory\Plugin\Bundle->aroundIsSalable(Object(Magen

[2018-03-12 22:37] tonybrown85 commented on #12330
@hfgoulding

I'd recommend using version 1.0.0 instead as that should work fine and just force as default, as opposed to using a product attribute to conditionally force it.

I've just installed it on my local copy of M.2.2.1 but I cannot replicate the error. Perhaps change it to if($subject->getData('force_visibility')) instead within both bundle.php and simple.php. That may fix it but I'm hazard

[2018-03-12 23:35] svenakela commented on #5927
Had the same problem today on a 2.1.11 installation and the only solution that worked was @grasdaggel 's developer mode and upgrade commands.

[2018-03-13 03:15] dearmatta commented on #11412
Thank you @davepullen  it`s a real method to solute this problem

[2018-03-13 03:29] dearmatta commented on #7411
yes ,it`s a solution for that Excepection error on the command,very thanks for you~! @JDavidVR

[2018-03-13 05:16] woshka opened #14067 "on fa_IR Persian Locale product price input has extra character results in validation error for input number"
product price input has extra character results in validation error for input number on Persian language

Hello,
after changing the locale to fa_IR which means farsi_IRAN and in other words Persian language
there has been a bug on the backend product page
when creating a product it is fine but after modifying a product there if we don't touch the price input box it will return an error that the

S

[2018-03-13 05:44] woshka opened #14068 "Error when locale is changed to fa_IR"
Error on Backend when the magento is converted to fa_IR Locale
Please fix this issue on 2.1.x since we have too many magento websites on themes designed for 2.1
there is a hotfix but I do not believe is the correct way in this url

https://github.com/magento/magento2/issues/3541

### Preconditions

1. Magento 2.1.12
2. Magento 2.1.3
3. Centos 6.9
4. Cpanel

php -v
PHP 5.6.34 (cli) (built: Mar  9 2

[2018-03-13 05:50] woshka opened #14069 "[FEATURE] add Jalali calandar AKA Persian Calandar for magento2"
need Jalali AKA Prsian calandar for magento2

1. jalali or persian calandar had 12 months
2. an example of this is in
http://babakhani.github.io/PersianWebToolkit/doc/datepicker/example/
https://plugins.jquery.com/pwt.datepicker/
https://www.jqueryscript.net/demo/Persian-Jalali-Calendar-Data-Picker-Plugin-With-jQuery-kamaDatepicker/

### Preconditions

1. Magento 2.3.x
2. Magento 2.2.x
3. Magento

[2018-03-13 06:02] woshka opened #14070 "[FEATURE]Rial currency must not have .00 at the end"
Persian Rial Currency does not have .00 at the end meaning that for example 21.00 is not applicable
the rial currency is such 34000 Rial
5400Rial

there is a comma delimiter that is arbitrary for any thousand
for example 34,000
5,400
9,360,764
but there shoudn't be .00 at the end since  does not have any value
### Preconditions

1. magento 2.3.x
2. magento 2.2.x
3. magento 2.1.x
4. magento 2.0.x

[2018-03-13 06:19] HirokazuNishi commented on #14070
It's same in JPY (and maybe same for TWD, IDR, VND and KRW)

[2018-03-13 06:22] patelnimesh1988 opened #14071 "Not able to change a position of last two related products in case of I've 20+ related products."
Hello,

Not able to change a position of last two related products in case of I've 20+ related products.

### Preconditions
1. Magento 2.2.2
2. PHP 7.0.10
3. Apache 2.4.23 (Window 10)

### Steps to reproduce
1. Login to admin and edit product.
2. Add 60 products as related products and save the product.
3. Again add 2 more products in related products.
4. Try to change recently added 2 products po

[2018-03-13 06:30] HirokazuNishi opened #14072 "Change zip code validation pattern for Japan"
### Preconditions

1. magento 2.3.x
2. magento 2.2.x
3. magento 2.1.x
4. magento 2.0.x

### Steps to reproduce

1. Add one more item into cart
2. Proceed checkout step
3. Choose "Japan" for country
4. Set zip code like "123" or "123-4567"
5. If you set other pattern, you may get validation error message.

### Expected result

1. "1234567" or "123-4567" only can pass the validation. Since 1998, Jap

[2018-03-13 06:31] orlangur commented on #14070
And `HUF`: https://github.com/magento/magento2/issues/10954#issuecomment-350783072

Not sure if discarding decimal described in https://github.com/magento/magento2/issues/1240 is the right method for every such currency.

[2018-03-13 06:48] payaltpss opened #14073 "price with inclusive tax"
can we show price in left filter inclusive tax? as we add price in back-end exclusive tax. and show on front-end inclusive tax. So when we select price result is different. Its so confusing.. Please Help.. I don't want to rework on adding price

[2018-03-13 06:49] woshka commented on #14070
changing this behavior for just only some currencies
some people has modified the core to remove the .00 decimal at the end of prices but it is not a good idea and having a conditional to just only for some currencies or having this as an option in the backend would be a great Idea

[2018-03-13 07:02] magento-engcom-team commented on #14050
@estellehuang, thank you for your report.
We've acknowledged the issue and added to our backlog. If You want to have Your issue resolved You may add to Your CSV file the related_position column with position numbers, that correspond to related products. They should be separated by coma.

[2018-03-13 07:44] ratnajain commented on #12180
Hello,
I'm new to magento..and i'm trying to install magento-2 setup in Windows..but i'm getting error as following:
Fatal error: Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in D:\wamp\www\magento2\app\code\Magento\Payment\Model\Method\Logger.php on line 8

[2018-03-13 07:46] NickvdMeij opened #14074 "Magento code generation bug, resulting in mails not sending!"
### Preconditions

1. Have Magento 2.1.12 installed
2. PHP 7.0.26
3. MySQL 5.6

### Steps to reproduce

1. Install https://github.com/Bogardo/Mailgun-Magento2 extension
2. Run setup:upgrade, di:compile and flush all cache
3. Configure the extension
4. Try and send a mail (order mail, invoice mail or any other mail)

### Expected result

1. The mail should send correctly

### Actual result

1. The

[2018-03-13 08:30] r3v4ek commented on #13229
@magento-engcom-team Hi. We have the same problem in our store. Any updates from your side?

[2018-03-13 08:44] magento-engcom-team commented on #13305
@milansimek we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-13 08:44] #13305 closed, assigned to nobody

[2018-03-13 08:45] PixelT opened #14075 "Can't download magento from site"
I cannot download magento from https://magento.com/tech-resources/download
I select format, click download, login to my account and after that I have infinite loading...

There is an error in console on xhr request:
[code]

[2018-03-13 08:50] mage2guru commented on #9425
Hi,

Take a look at [https://magento2developer.com/blog/javascript-error-with-magento-porto-theme.html](url) there is guide for fixing there

Thank you,
Tuan

[2018-03-13 09:01] magento-engcom-team commented on #14025
Ok, @AlanJudi. Please, record a video of how You do that. In that video show us at first Your store configuration by opening Stores->All Stores. With that focus on each  (if there are several) store view name (link) with the mouth pointer till the store view's URL appear down in the left corner of the screen and so we can see the store views' ids. And then show us the process of logo change. But i

[2018-03-13 09:02] ioweb-gr opened #14076 "Checkout not showing shipping step after switching product weight from 0 to something else"
### Preconditions

PHP Version: 7.0.28
Magento 2.2.2
Debian 8 server
Luma theme
Developer / Production mode

### Steps to reproduce

1. Create a configurable product with a few variations (PRODUCT-1).
2. Leave weight field to 0
3. Add PRODUCT-1 to cart as a guest
4. Go to checkout as a guest
5. You can see that shipping step is missing.
6. Log in as admin on another browser and change PRODUCT-1 we

[2018-03-13 09:20] magento-engcom-team commented on #14068
@woshka, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release. In addition, identify any other information needed to reproduce your issue.

[2018-03-13 09:30] magento-engcom-team commented on #14063
@shinesoftware, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-13 09:30] magento-engcom-team commented on #14058
@fuunnx, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-13 09:30] magento-engcom-team commented on #13305
@milansimek, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-13 09:30] magento-engcom-team commented on #13769
Hi @pawcioma. Thank you for your report.
The issue has been fixed in magento/magento2#14051 by @pawcioma in 2.3-develop branch
Related commit(s):
 - [8d3205926eeafe0b6973cee3af76b8f2ffca7dfa](https://github.com/magento/magento2/commit/8d3205926eeafe0b6973cee3af76b8f2ffca7dfa)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-13 09:30] magento-engcom-team commented on #12405
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#14043 by @hostep in 2.3-develop branch
Related commit(s):
 - [7a2d71561fbde5ea849fbeccaf2847fcddd6adc6](https://github.com/magento/magento2/commit/7a2d71561fbde5ea849fbeccaf2847fcddd6adc6)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-13 09:41] magento-engcom-team commented on #14075
@PixelT , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-13 09:41] #14075 closed, assigned to nobody

[2018-03-13 09:46] densen45 commented on #13863
I'm able to reproduce this issue on 2.2.3, but only if none of the children have the multiple select attribute. Maybe this is why you can not reproduce the issue, because as you show in the videos one of the children has the same attribute set, so the same multiple select attribute.

I have done some research and found out, that the attribute's option array (for working Bundles) is being imploded

[2018-03-13 09:49] samgranger commented on #3279
+1

@piotrekkaminski - We're seeing a performance issue due to this controller not being cached on category pages. In our situation, in some cases, there are ~20 ajax requests to this controller. When using Redis for session storage you really start seeing issues. When logging Redis, it seems as it has issues breaking session locks due to the amount of requests being fired at the same time. To dup

[2018-03-13 09:49] samgranger commented on #3279
If wanted, I can fix this & create a pull request.

[2018-03-13 09:59] ju5t commented on #14054
@magento-engcom-team I don't think it's correct Magento behaviour. This was changed between versions and there doesn't seem to be any relevant documentation. At least not that I could find.

[2018-03-13 10:09] purpletreesoft commented on #9533
When is it going to be GA? well this was irritating for me so I ended up doing some work to fix it. See https://github.com/purpletreesoft/magento-checkout-fix

[2018-03-13 10:13] xanka commented on #6126
@Mahmoud-Refaat I checked, the product is website_id=0 but get same issue. It's not work. My magento 2 I using is 2.2.3

[2018-03-13 10:41] jalogut commented on #8852
@dersam I tested that and I am afraid it is not true. `extend.less` from parent are also overwritten for modules if you have a multi parent theme structure. The only way to extend your parent's extends without overwriting them is editing the `styles-m.less` and `styles-l.less` in your child theme. There you can add a custom `@magento_import` extend for your child:

[code]

[code]

That way, you ca

[2018-03-13 10:55] magento-engcom-team commented on #14073
@payaltpss, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-03-13 11:02] orlangur commented on #14074
There seems to be nothing to fix here from Magento side.

By convention, when class suffixed with `Factory` like `Nyholm\Psr7\Factory\StreamFactory` does not exist it is supposed to be autogenerated. As `Nyholm\Psr7\Factory\Stream` does not actually exist (as it is an optional dependency and not used in your scenario), autogeneration is not possible.

Thoughts?

[2018-03-13 11:02] woshka commented on #14068
Hello,
What is your testing envirenment for reproducing this issue?
I have installed many clean installation more than 10 on diffrent servers all running on a centos 6.X and reproduced the same issue

according to this
https://github.com/magento/magento2/issues/3541
it seems that there is no issue on Ubuntu libicu 52.1

"Seem that problem occur when run magento 2 on Centos with Iibicu version 50.1

[2018-03-13 11:12] magento-engcom-team commented on #14064
@nbmwebdev, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-13 11:12] #14064 closed, assigned to nobody

[2018-03-13 11:14] zakgrindle commented on #5726
This is causing issues for me too in a case where I have a retail and wholesale site, with wholesalers sending password resets to customers on the retail store.

Due to all the private declarations, it's a nightmare to override, I've basically had to copy the entire file for now.

Will this be updated in later versions?

[2018-03-13 11:20] orlangur commented on #14074
After a quick analysis,

38 | 7.2593 | 65405640 | Mailgun\Mailgun->post( ) | .../Mailgun.php:135
-- | -- | -- | -- | --
39 | 7.2593 | 65405640 | Mailgun\Connection\RestClient->post( ) | .../Mailgun.php:204
40 | 7.2594 | 65408760 | Mailgun\Connection\RestClient->send( ) | .../RestClient.php:179
41 | 7.2633 | 65435688 | Http\Message\MultipartStream\MultipartStreamBuilder->__construct( ) | .../RestCl

[2018-03-13 11:24] woshka opened #14077 "codegeneration may fail on no spaces between end of php tags and semicolon when minify is enabled on the backend"
There is a problem whwn minfy is enabled in the backend
if there are some spaces in php inline tags forexample
<?php endif;?>
in example above if the ?> is near the end of statement semicolon ; then it will result in an error on di:compile code generation and we have to edit the php codes and change it like this
<?php endif; ?>
so that the code generation will work when the minify is turned on in

[2018-03-13 11:30] magento-engcom-team commented on #10111
@driskell, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0

[2018-03-13 11:30] #10111 closed, assigned to nobody

[2018-03-13 11:30] magento-engcom-team commented on #14061
@kshaa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-13 11:32] orlangur commented on #12180
Hi @ratnajain, this is already fixed in https://github.com/magento/magento2/commit/a7d4180ce61a7e9027befefac4ef4af6333ee8ff

Please don't use Windows, it is not supported and there could be some issues.

[2018-03-13 11:42] orlangur commented on #14070
@woshka I believe you didn't understand my point :)

I'm saying that the way rounding should work for JPY may be not applicable for some other similar currencies like HUF or IRR.

So this could be not a problem just with displaying prices but also how you calculate taxes.

[2018-03-13 11:46] woshka commented on #14070
@orlangur
I am not familiar with the JPY currency system
however if there are differences for any countries currencies there should be a configurable change at the installation level which can not be reverted for a specific store
or at least make changes just only on the view when a specific currency is enabled
after all having .00 omitted at least on the view is essential for IRR currency

[2018-03-13 11:48] emilshamloo opened #14078 "magento Table Rate Shipping csv Region/State"
I work with Magento 2.2.2
And I am trying to add different prices for differnt cities in my country.

I have only 2 shipping rates! One for my City and another for rest of my country, Norway.
Can I add the name of my City, “Oslo” in the “Region/State” and “*” for rest of the country?
Like this?
“Country”	“Region/State”	“Zip/Postal Code”	“Order Subtotal (and above)”	“Shipping Price”
NOR	Oslo	*	0	12

[2018-03-13 11:58] magento-engcom-team commented on #14071
@patelnimesh1988, thank you for your report.
We've acknowledged the issue and added to our backlog. Also please be aware that Windows is not a supported operating system for Magento 2, so You may encounter other issues that do not appear on the supported operating system.

[2018-03-13 11:58] magento-engcom-team commented on #14046
@sudaifhaider , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![config_choose](https://user-images.githubusercontent.com/31669971/37340332-7548035e-26c6-11e8-926c-9737181e6bda.png)

![conf_add](https://user-images.gith

[2018-03-13 12:03] jonathan-martz commented on #12939
Yeah the "sort by name/position" is working, but if you change the direction of the sorting its.

[2018-03-13 12:09] orlangur commented on #14055
This issue is not valid, see https://github.com/magento/magento2/pull/10519#issuecomment-322029527 for more details.

Numeric strings are defined as `int` all over the codebase in fact.

[2018-03-13 12:09] #14055 closed, assigned to yogeshsuhagiya

[2018-03-13 12:17] orlangur commented on #14073
Hi @payaltpss, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-03-13 12:17] #14073 closed, assigned to nobody

[2018-03-13 12:23] ksiamro commented on #12524
I have similar issue with Magneto 2.1.7

[2018-03-13 12:30] magento-engcom-team commented on #14067
@woshka, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-13 12:36] orlangur commented on #14078
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

AFAIR, `*` will still match Oslo.

[2018-03-13 12:36] #14078 closed, assigned to nobody

[2018-03-13 12:39] AaronKaa opened #14080 "Category path is the same as key producing duplicate URL issue"
### Preconditions
Magento 2.4
Ubuntu 18.04

### Steps to Reproduce

1. Create any category on second level (with parent_id =2).
Name: Test category 1, Url key: test-category-1.
2. Create sub category in "Test category 2" with `level = 2` by res api:
`/V1/categories`
[code]
At now we have the url_key: "test-category-1" and path: "/test-category-1/test-category-2".

3. Change the url key of the Test

[2018-03-13 12:44] orlangur commented on #14076
This will produce virtual product I believe and thus there is no shipping required.

[2018-03-13 12:51] orlangur commented on #14068
@woshka could you please dump the contents of `$daysData` in https://github.com/magento/magento2/blob/2.2-develop/lib/internal/Magento/Framework/View/Element/Html/Calendar.php#L70?

[2018-03-13 12:54] orlangur commented on #14068
So probably `$localeData['calendar']['gregorian']['dayNames']` is empty in your case, as you mentioned in other issue persian calendar. Probably some `$localeData['calendar']['persian']` contains this data.

[2018-03-13 13:09] kega-jira commented on #13665
We can confirm this issue, also already reported it in the Magento support system

[2018-03-13 13:10] MalibuCommerce commented on #10550
Thanks a bunch, @philipvandebriel! Lifesaver!

[2018-03-13 13:10] ioweb-gr commented on #14076
Yes exactly it will produce virtual product and shipping is not required. However if that product is added to the cart while weight is 0 and the admin changes the weight to 1kg because he realizes he made a mistake. The user's cart stays stuck on a state where shipping doesn't show until the user empties the cart. The issue is the cart is not updated correctly and it's not reflected in the checkou

[2018-03-13 13:14] fabioluz commented on #4145
@DaimPiek's solution worked for me. I'm using Magento 2.1.9 and cannot update due to plugins.

[2018-03-13 13:14] maximehuran opened #14081 "Avoid getShippingRates().subscribe to be called twice"
JS functions which subscribe to `shippingService.getShippingRates()` are called twice

### Preconditions
1. Actual for 2.3-develop

### Steps to reproduce
1. Add console.log() in `app/code/Magento/Checkout/view/frontend/web/js/view/cart/totals.js` between l.24 and l.25
1. Add product to cart;
2. Go to Shopping Cart;
3. Show console and when total is loaded, the log is shown twice

### Expected res

[2018-03-13 13:19] NickvdMeij commented on #14074
What convention are you talking about? A Magento convention?

If this is a common problem with most package, then might it just simply be the case that Magento has a faulty implementation?...
At the moment, we simply fixed it by locking the version of the package https://github.com/Bogardo/Mailgun-Magento2 (see https://github.com/MyCademy/Mailgun-Magento2) which works for us, but since this is a c

[2018-03-13 13:30] magento-engcom-team commented on #13997
@raviozainfo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-13 13:30] #13997 closed, assigned to nobody

[2018-03-13 13:30] orlangur commented on #14081
Observed behavior is correct.

Suggested change won't work in case rates array structure is the same with different contents.

See https://forums.asp.net/t/2056128.aspx?What+is+the+use+of+valueHasMutated+in+Knockout+js and https://stackoverflow.com/questions/13316034/knockoutjs-calling-valuehasmutated-too-often?noredirect=1&lq=1 for more details.

[2018-03-13 13:30] victortodoran opened #14082 "Exception #0 (Exception): Warning: SessionHandler::read(): Unable to clear session lock record in /var/www/magento/vendor/magento/framework/Session/SaveHandler/Native.php on line 22"
**Env:**
PHP 7.0.20
Magento 2.2.2 Commerce
Memcached:1.4.35

**Steps to Reproduce**
Install Magento 2.2.2
Configure to use memcached as specified in dev docs
Try to access admin area

**Expected result:**
After login access admin area

**Actual result:**
`Exception #0 (Exception): Warning: SessionHandler::read():  Unable to clear session lock record in        /var/www/magento/vendor/magento/framew

[2018-03-13 13:31] magento-engcom-team commented on #14076
@ioweb-gr, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
We do:
1. Create a configurable product with a few variations with weight = 0 (This item has no weight).
2. Add created product to cart as a guest
3. Go to checko

[2018-03-13 13:32] KarlDeux commented on #10346
@TomashKhamlai @careys7,

That is exactly what I did, basically created a siegue against the W.API with 20 r/s while the cron was cleaning and had a deadlock. After the indexes didn't get one.

Maybe under a higher load it might encounter a deadlock again but I feel like 20 r/s are fairly good.

[2018-03-13 13:34] magento-engcom-team commented on #14072
@HirokazuNishi , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-13 13:35] magento-engcom-team commented on #13117
Hi @mak0605. Thank you for your report.
The issue has been fixed in magento/magento2#13717 by @enriquei4 in 2.2-develop branch
Related commit(s):
 - [0fc6be3a18fa8bdfe2a1bb19a2ce883fa18ac27d](https://github.com/magento/magento2/commit/0fc6be3a18fa8bdfe2a1bb19a2ce883fa18ac27d)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-13 13:35] #13117 closed, assigned to serhii-balko

[2018-03-13 13:35] magento-engcom-team commented on #13385
Hi @alexkuk. Thank you for your report.
The issue has been fixed in magento/magento2#13607 by @shyamranpara in 2.2-develop branch
Related commit(s):
 - [f473572a997812b8d61ec0ee3f000a569857b263](https://github.com/magento/magento2/commit/f473572a997812b8d61ec0ee3f000a569857b263)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-13 13:35] magento-engcom-team commented on #7372
Hi @candia. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1140 by @nmalevanec in 2.2-develop branch
Related commit(s):
 - [263f71d0171171f33871344769dd20843ef6cc09](https://github.com/magento/magento2/commit/263f71d0171171f33871344769dd20843ef6cc09)
 - [4f6296ccb20cfbd5cd8814f4ba509d0e1acd4432](https://github.com/magento/magento2/commit/4f6296ccb20cfbd5cd8814f4ba

[2018-03-13 13:35] #13385 closed, assigned to shyamranpara

[2018-03-13 13:35] #7372 closed, assigned to nobody

[2018-03-13 13:45] orlangur commented on #14074
Well,

is literally saying that the class does not exist.

By convention I mean that coding in Magento ecosystem you should know how classes like `Nyholm\Psr7\Factory\StreamFactory` are treated by Magento autoloader. This is described, for example, here: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/factories.html#writing-factories

I don't see what can be fixed here on Magento side,

[2018-03-13 13:52] woshka commented on #14068
I am on mobile right now and I will provide you the requested file
gowever it is a clean install that I have done this hunderd of times and got the same result issue

[2018-03-13 13:53] NickvdMeij commented on #14074
@orlangur I truly hope you are joking right? So, because you guys have made up your own convention, the whole PHP ecosystem has to rewrite their code to support it for Magento?... I can tell you up front, not gonna happen.

The bug is in the Magento autoloader BTW, if you guys build in a check if the class even exists before trying to make a factory out of it, the problem should never occur.

Furt

[2018-03-13 13:55] orlangur commented on #10737
Reopening for recheck by @magento-engcom-team.

[2018-03-13 13:55] magento-engcom-team commented on #14077
@woshka, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-13 14:15] ssmadsen commented on #6754
@PetraSwed
What elasticsearch module are you using?

[2018-03-13 14:17] ssmadsen commented on #6754
Facing same issue in Magento 2.1.8 using Mirasvit Elastic Search.
85000 products, index time: 70minutes.

Two stores.

No products while reindexing catalogsearch_fulltext.

Can any confirm the above mentioned fixes actually work?

[2018-03-13 14:23] magento-engcom-team commented on #10737
@slavkodick, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-13 14:24] magento-engcom-team commented on #13863
Ok, @densen45. Can You confirm, please that You can reproduce Your issue on a clear freshly installed Magento instance with empty database created just for this instance and so the instance does not contain (not simply has disabled but does not contain) any third party extensions, themes, custom modules.  The instance should just have been downloaded from the official Magento site. Thank You.

[2018-03-13 14:30] magento-engcom-team commented on #14002
@shater1990, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-13 14:30] #14002 closed, assigned to nobody

[2018-03-13 14:45] #14082 closed, assigned to nobody

[2018-03-13 14:51] orlangur commented on #14074
Then this package have to be wrapped in a proper class. The whole point is that client code should not depend on third party components directly.

That's how factory autogeneration works, please get familiar with documentation provided by me.

Please update issue description with expected result in terms of Magento autoloader behavior.

Current behavior: when there is no class `AnyVendor\AnyPackag

[2018-03-13 14:57] orlangur commented on #14054
@magento-engcom-team it would be nice to find out why customer id became mandatory in the first place (is there some JSON schema maybe / why Swagger is not relevant?) and change documentation if it's really needed or change code behavior back if such change is not really necessary.

[2018-03-13 15:01] orlangur commented on #8579
Let's track this issue under https://github.com/magento/magento2/issues/3625.

[2018-03-13 15:01] #8579 closed, assigned to nobody

[2018-03-13 15:02] orlangur commented on #3625
One more: https://github.com/magento/magento2/issues/8579

[2018-03-13 15:12] orlangur commented on #10734
@DKoctopus no idea, didn't even reproduce the issue, try quickly checking git history of this file in 2.2-develop/2.3-develop, if no fix - you have to debug and fix by yourself, ideally contributing PR to a mainline.

[2018-03-13 15:16] BabliDey opened #14084 "Disabled and Excluded From menu categories are still coming in frontend"
### Preconditions

1. magento 2.1.8
2. php 7

### Steps to reproduce

1. After login go to Product> categories. Click one of the sub categories of default category.
2. Enable Category to no
3. Include in Menu to no
4. Displaysetting > Anchor to no
5.  run the three connad below
      php bin/magento indexer:reindex
      php bin/magento catche:clean
      php bin/magento catche:flush

### Expected

[2018-03-13 15:29] NickvdMeij commented on #14074
Yeah, that's how **Magento** does factory autogeneration, and it's incorrect and leads to unexpected bugs. That's why I opened this issue. Simply saying "oh don't use the word `Factory` in your class names" is a wrong way of doing autogeneration IMO.

Like said earlier, there is no exception that is being thrown, and if there is an exception thrown it get caught. However, in the adminhtml, you get

[2018-03-13 15:29] orlangur commented on #13063
@wcldharamveer it would be much faster to check 2.2 release notes instead of learning from code :) http://devdocs.magento.com/guides/v2.2/ext-best-practices/tutorials/serialized-to-json-data-upgrade.html

[2018-03-13 15:30] magento-engcom-team commented on #13810
@akshgods, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-13 15:30] #13810 closed, assigned to nobody

[2018-03-13 15:32] maximehuran commented on #14081
I have only one problematic case if I remove the line. It is when I push an element directly in my array
[code]

With that and without the `shippingRates.valueHasMutated()`, my subscribers are not notified.
But, I'm a good developper, so when I change an element in my array, I set it in my object after :

[code]

My test is made inside the `app/code/Magento/Checkout/view/frontend/web/js/view/cart/

[2018-03-13 15:34] PetraSwed commented on #6754
@ssmadsen also Mirasvit Elastic Search. This is what they say:
"Yes, with elastic engine, we always clear indexed data before start full reindex (only full reindex clear data).
it's behavior/limitation of our implementation."

We avoid doing full reindex of catalogsearch_fulltext during the day. But since we are updating product info, stock and prices from PIM and ERP we need to do full reindex at

[2018-03-13 15:36] bvboas commented on #6754
@PetraSwed  we have 10k products and 6 store view, we use the wyomind elasticsearch plugin and takes less than 3 mins to fully reindex...

[2018-03-13 15:39] orlangur commented on #14074
Well, it would be much faster to just read the manual http://devdocs.magento.com/guides/v2.0/extension-dev-guide/factories.html#writing-factories prior to writing Magento code.

It is quite expectable to implement buggy software if you don't follow the best practices. Third party components are wrapped in classes for a reason and not just because Magento likes to have as much classes as possible.

[2018-03-13 15:39] #14074 closed, assigned to nobody

[2018-03-13 15:40] mutantturkey commented on #5589
Pretty sure this is still an issue.

Request:

    rest/default/V1/guest-carts/f5b1ae18723d2ea95d5b0e9cf74d977d/shipping-information

Partial result:

"totals":

  `{"grand_total":99.99,"base_grand_total":106.61,"subtotal":99.99,"base_subtotal":99.99,"discount_amount":0,"base_discount_amount":0,"subtotal_with_discount":99.99,"base_subtotal_with_discount":99.99,"shipping_amount":0,"base_shipping_am

[2018-03-13 15:54] orlangur commented on #14081
With consecutive calls to `shippingService.setShippingRates(data);` will subscribers be notified in case only one element of array is changed?

[2018-03-13 15:56] Nyholm commented on #14074
I have briefly read the discussion and I've read the link @orlangur provided. If I understand this Magento conversion properly, then all code will break if I write:

[code]
Is that really the intention?

[2018-03-13 15:59] maximehuran commented on #14081
I don't know excatly what you mean but if I do :
[code]

My subscribers are called 3 times with my new array element inside :
![image](https://user-images.githubusercontent.com/11380627/37353533-d2e8018a-26df-11e8-988a-15d224596155.png)
2 elements before
3 elements after (displayed 3 times)

[2018-03-13 16:05] orlangur commented on #14074
@Nyholm yes, that's how https://en.wikipedia.org/wiki/Fail-fast is supposed to work. Developer is quickly notified that he is referring to nonexistent `Foo` class.

As I understood the problem, some kind of feature detection is implemented with `class_exists('SomeOfTheFactory')` in a third-party library. In Magento world instead of such magic there would be a concrete implementation preference in

[2018-03-13 16:06] orlangur commented on #14081
@maximehuran the same amount of elements but change some of them I mean.

[2018-03-13 16:11] Nyholm commented on #14074
No. This is were you are wrong. It should not break anything. It should return `false`. Check the manual: http://php.net/manual/en/function.class-exists.php

I understand that Magento has some sweet magic. But this is a PHP library. It does not care for any specific conventions etc etc in Symfony, Magento, Zend or any framework.

-------------

If one would like to use a third party **PHP** librar

[2018-03-13 16:23] site-me commented on #2666
so by summarising all the solutions I've seen here and in other places, I did the following:
- updated magento from 2.2.1 to 2.2.3
- removed all not alnum  characters from the image names and forced it to lowercase `'Image-Name.jpg' > md5('Image-Name') . 'jpg' `
- changed the file owner to 'www-data' - `chown www-data:www-data pub/media/import/*`
- changed image files permissions `chmod 0755 pub/m

[2018-03-13 16:30] magento-engcom-team commented on #14074
@NickvdMeij, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-13 16:33] superdav42 commented on #4511
I must point out that this goes beyond XML sitemaps. They should be fixed to use the watermarked images but we also need to ensure only watermark images are stored and made accessible to the public. As it is it's really easy to guess the non watermarked url from the watermarked url.
Watermarked:
/pub/media/catalog/product/cache/31daca0335ff17117734e43b9856c7ed/s/k/sku.jpg
Non-Watermarked
/pub/medi

[2018-03-13 16:50] magento-engcom-team commented on #13474
Hi @zack6849. Thank you for your report.
The issue has been fixed in magento/magento2#13486 by @JeroenVanLeusden in 2.1-develop branch
Related commit(s):
 - [9e49ae79a3e023f38ce90e6fa0cab41edd62539d](https://github.com/magento/magento2/commit/9e49ae79a3e023f38ce90e6fa0cab41edd62539d)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-13 17:00] AaronKaa commented on #14080
This looks like it could be related to issue #7298

[2018-03-13 17:20] midlan opened #14086 "Guest cart API ignoring cartId in url for some methods"
### Preconditions
1. Magento 2.2.3

### Steps to reproduce
I am following the [API documentation](http://devdocs.magento.com/swagger/index.html) to create guest cart and add item to it:
1.  `POST https://yourdomain/rest/default/V1/guest-carts` (with empty body) creates cart for you and return **cartId** in body
2.  `GET https://yourdomain/rest/default/V1/guest-carts/`**`:cartId`** to check you car

[2018-03-13 18:09] tdgroot commented on #5998
I agree with @dmanners. This issue should be closed.

[2018-03-13 18:11] tdgroot commented on #13944
@neeta-wagento are you picking up this issue?

[2018-03-13 18:14] craigcarnell commented on #12273
Any updates on this?
[code]

[2018-03-13 18:30] gabrielgdiniz opened #14087 "Images don`t display on categories"
### Preconditions

1.
2.

### Steps to reproduce
1. Click on the main page (home page), everything shows up normally. But if you click on a category of product, you can`t see any images, shows up like an "?".

### Expected result
1. All images should appear normally

### Actual result
1. I can`t see the products images when I click on an especific category
2. [Scree
![captura de tela 2018-03-13 as

[2018-03-13 19:05] superdav42 opened #14089 "Malaysian (Malaysia) missing from locale list"
### Preconditions
1. Magento 2.2.3
2. PHP 7.1.11
3. intl extension 1.1.0
4. ICU version 57.1

### Steps to reproduce
1. Go to Store Configuration page
2. Change locale to Malaysian (Malaysia)
3. It's not there!

### Expected result

1. Malaysian (Malaysia) is on the list of locales

### Actual result

1. It's not

Magento\Framework\Locale\Config has the code `ms_Latn_MY` for Malaysian (Malaysia) b

[2018-03-13 19:10] hostep commented on #12273
@craigcarnell: supporting PHP 7.2 has been turned into a community project, feel free to participate: https://github.com/magento-engcom/php-7.2-support/issues
There is a weekly update of the project on Youtube: https://www.youtube.com/channel/UCUsdK3NnJ0LqhNJCrJDdiug/playlists

[2018-03-13 19:22] hostep commented on #14077
@woshka: this sounds a little bit like this problem: https://github.com/magento/magento2/issues/5316

But I'm very confused about your statement that enabling/disabling minification has influence on the code being generated by the `setup:di:compile` command, I don't think those two things are related?

Maybe you can give a concrete example? I think you were trying to add an example, but we can't s

[2018-03-13 19:58] orlangur commented on #14074
Nope, see for example https://stackoverflow.com/a/1589227/8640867

The magic comes from a library calling `class_exists` for nonexisting classes. That's exactly why you should not use low level third party libraries (ideally - any of them) in a client code.

That's exactly why it is not safe to bring third party libraries into your client code without proper testing. Library should be either wrapp

[2018-03-13 20:03] baskuis opened #14090 "Payment methods do not show on multi shipping checkout"
### Preconditions
1.  https://stackoverflow.com/questions/49264867/payment-methods-are-not-showing-up-on-multi-shipping
2. Payment options are showing fine: /default/checkout/#payment
3. Payment options are not showing up: /multishipping/checkout/billing/
4. Upon clicking: 'Go to Review Your Order' - the following message is displayed: We can't complete your order because you don't have a payment

[2018-03-13 20:20] orlangur commented on #13958
@davidbrandastic, you can still use resource model for this entity

[code]

in comment you quoted

    * service contract model loading operations.

[2018-03-13 20:24] orlangur commented on #13958
@kshaa,

just check PHPDocs for deprecated methods

[code]

and follow this recommendation.

[2018-03-13 20:24] #13958 closed, assigned to nobody

[2018-03-13 20:29] orlangur commented on #13597
@david-garcia-garcia,

Try to narrow bug in your installation to produce an isolated test case.

[2018-03-13 20:34] woshka commented on #14068
like I said have a clean installation and the contents are the same
./vendor/magento/framework/View/Element/Html/Calendar.php on line 70
`        // get days names
        $daysData = $localeData['calendar']['gregorian']['dayNames'];
        $this->assign(
            'days',
            [
                'wide' => $this->encoder->encode(array_values(iterator_to_array($daysData['format']['wide']))

[2018-03-13 20:43] orlangur commented on #14068
@woshka not the source code but the contents of variable. With `var_export` or something.

It is much easier than trying to reproduce exactly the same locale configuration.

[2018-03-13 20:54] woshka commented on #14068
I added this code to export but the error seems to be before this code execution and have the same error
[demo2.magento2farsi.com
](url)
        // get days names
        $daysData = $localeData['calendar']['gregorian']['dayNames'];
        echo var_export($daysData);
exit();

[2018-03-13 20:58] orlangur commented on #14068
Try dumping `$localeData['calendar']` then.

[2018-03-13 21:09] orlangur commented on #14090
@baskuis which payment methods did you enable? Looks like none of them supports multishipping.

[2018-03-13 21:10] orlangur commented on #14089
@superdav42 you can try fix similar to https://github.com/magento/magento2/commit/ecaa2c01e1d4c57b86a95404b61046db6ae2d580 on your side and prepare a pull request if it works.

[2018-03-13 21:11] Nyholm commented on #14074
... Im not sure what you are referring to.

There is not magic with calling `class_exists`. That function should check if a class exists or not...

Wow, this seams a bit hostile to me. Telling people to not use other libraries is not the way you create "A **Flexible**, Open Source Commerce Platform" as you write in the heading of [the website](https://magento.com/products/open-source).

----------

[2018-03-13 21:25] orlangur commented on #14074
It triggers autoloading in some cases which obviously can throw exceptions.

That's not what I was saying. You should not use external classes directly in controllers/models/blocks etc but properly encapsulate them. So that you can upgrade or replace third party components easily afterwards.

This is true even for PHP functions, like https://github.com/magento/magento2/blob/2.2-develop/lib/interna

[2018-03-13 21:32] orlangur commented on #14074
@Nyholm,

Static calls and no way to configure component behavior is not a good choice when you implement Magento module. It would mean that you make your extension not extendable for others.

Not just Magento core is quite flexible but also third party modules should be implemented keeping totally custom implementation in mind. So that you can install third party module and then slightly change i

[2018-03-13 22:13] centminmod commented on #11002
seem i might be getting this issue too in 2.2.2

[code]

[2018-03-13 22:45] gwharton commented on #11002
@centminmod I think you might be ok there actually. Magento schedules cron jobs in batches, so the pending jobs you are seeing there are probably the scheduled jobs for the next 20 minutes or so. This "scheduling ahead" behaviour can be configured in

`Stores -> Configuration -> Advanced -> System -> Cron configuration options for group : xxxx -> Schedule Ahead for`

and

`Stores -> Configuration

[2018-03-13 22:55] matthewscalf commented on #13478
Any update on this? Seems pretty urgent as you can't setup a customer service rep to create orders in the admin without it. Can't give customer service god mode. Makes no sense.

[2018-03-14 03:57] vince1222 opened #14092 "Report on Products in Carts"
### Preconditions

1. Magento 2.18
2. PHP 7.0.23

### Steps to reproduce

1. Login Admin Dashboard
2. Reports >Under Marketing >Products in Cart
3.

### Expected result

1.  View All customer cart .

### Actual result

1. empty data, Nothings display on the window
![23](https://user-images.githubusercontent.com/824697/37382656-deeb7e0e-277e-11e8-953a-75a725effde5.PNG)

[2018-03-14 04:33] adil26 opened #14093 "Element 'referenceBlock', attribute 'class': The attribute 'class' is not allowed after upgrade version from Magento 2.1.7 to 2.2.2"
Hello guys,

After my upgrade from 2.1.7 to 2.2.2, I had fetching this error. The problem is in the front end. I encounter the following problem:

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'class': The attribute 'class' is not allowed.
Line: 720

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'refe

[2018-03-14 05:24] sudaifhaider commented on #14046
Is there any settings required as I believe I am on version 2.2.3 the latest one.
I am facing this issue with all my products with apparels size swatches also. Please let me know if any product attribute or any other part needs some different settings.

Thanks in advance.

[2018-03-14 06:13] yspeedwicked commented on #4432
Magento 2.2.1, still facing the same issue, guys any update?

[2018-03-14 06:52] magento-engcom-team commented on #14046
@sudaifhaider , thanks for your response and please check this issue on clean installation without any third party modules or extensions if you have. Screenshots or logs helps too.

[2018-03-14 06:56] woshka commented on #14068
`  protected function _toHtml()
    {

        $localeData = (new DataBundle())->get($this->_localeResolver->getLocale());

 echo var_export($localeData['calendar']);
exit();

//$localeData = (new DataBundle())->get('en_US');

        // get days names
        $daysData = $localeData['calendar']['gregorian']['dayNames'];

        $this->assign(
            'days',
            [
                'wi

[2018-03-14 06:57] teoteo commented on #4511
superdav42:

On some sites it is a big issue. I’ve partially solved adding rewrite rules in .htaccess in var/media/catalog folder, but a wrong behaviour of some extension can still copy in cache folder the not watermarked image.

[2018-03-14 07:04] magento-engcom-team commented on #12939
@jonathan-martz, here's another video. Everything seems to work correctly when filtering by name. As for the filtering by position first we need to assign positions for those products in that category in admin. By default they are all equal to 1 so changing sort order from ascending to descending or backwards does nothing for now. If needed we'll use the Backend with the corresponding Frontend at

[2018-03-14 07:05] brynayrb commented on #7930
@sharmstr, were you able to patch this one?

[2018-03-14 08:12] magento-engcom-team commented on #14087
@gabrielgdiniz, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] S

[2018-03-14 08:21] magento-engcom-team commented on #14093
@adil26, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2018-03-14 08:22] maximehuran commented on #14081
I can easily change the carrier_code of an element and set it just after :
[code]

Log after change :
![image](https://user-images.githubusercontent.com/11380627/37390609-f2287172-2768-11e8-8d00-99b16754c0ae.png)

[2018-03-14 08:25] ioweb-gr commented on #14076
I'll try and make a fresh install this weekend to see if it persists for my setup and get back with more info.

[2018-03-14 08:32] magento-engcom-team commented on #14087
@gabrielgdiniz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce, magento version or try to reproduce this issue on a clean installation or latest release.

[2018-03-14 08:45] magento-engcom-team commented on #14010
Hi @webshouters. Thank you for your report.
The issue has been fixed in magento/magento2#14016 by @DaniloEmpire in 2.3-develop branch
Related commit(s):
 - [79e87b414972ff6c01bce1747bec4700455a23f8](https://github.com/magento/magento2/commit/79e87b414972ff6c01bce1747bec4700455a23f8)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-14 08:45] magento-engcom-team commented on #13652
Hi @Sunil-Nethues. Thank you for your report.
The issue has been fixed in magento/magento2#13802 by @afirlejczyk in 2.3-develop branch
Related commit(s):
 - [764f0862f46204f649367728333f40f39509bd7c](https://github.com/magento/magento2/commit/764f0862f46204f649367728333f40f39509bd7c)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-14 08:51] Sylvesterx1 opened #14094 "The new added size can not be saved"
### Preconditions

1. Latest version 2.2.3
2. Linux Debian 9

### Steps to reproduce

1. Go to **Store** --> **features** --> **Products**
2.  Edit size field
3.  Add new size and try save it
* When I only change filed example size XS to L and save then work OK. But when I add new field and try to save it then I received error.

### Expected result

1.  I added new sizes, filled the entire list. W

[2018-03-14 08:55] magento-engcom-team commented on #14084
Hello @BabliDey. Thanks for reporting. We've been not able to reproduce Your issue. Could You please try to reproduce it an a clean freshly installed version of Magento. Thank You.

[2018-03-14 09:00] Frodigo commented on #13589
@testmagento2  I tested this in Magento 2.2.4-dev and I could not replicate this error.

<img width="1064" alt="zrzut ekranu 2018-03-14 o 09 58 58" src="https://user-images.githubusercontent.com/11998249/37392448-7ea19eee-276e-11e8-9d1c-cf55a2ef5076.png">

[2018-03-14 09:11] magento-engcom-team commented on #14092
@vince1222 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![product_add_front](https://user-images.githubusercontent.com/31669971/37392963-67928178-2778-11e8-9285-1de47537330e.png)

![product_in_cart_admin](https://us

[2018-03-14 09:20] orlangur commented on #14068
@woshka,

`$localeData = (new DataBundle())->get($this->_localeResolver->getLocale());`

`$localeData` cannot be undefined after this.

You can even `var_export` the whole `(new DataBundle())->get($this->_localeResolver->getLocale())` to see what is returned.

[2018-03-14 09:24] orlangur commented on #14081
Sorry, missed this earlier. As we assume `shippingService.setShippingRates` should always be used and not just direct modifications of previously set array, it is safe to remove this line.

Could you prepare a pull request against `2.2-develop` branch please?

[2018-03-14 09:25] magento-engcom-team commented on #14080
Hi @AaronKaa. Thank you for report.
W can not reproduce the issue.
Can you confirm that the issue is reproducing on clean version magento?
Thanks

[2018-03-14 09:29] orlangur commented on #14093
@adil26 you need to fix invalid layout XML so that it corresponds to XSD schema, please check https://github.com/magento/magento2/issues/13829 or other similar issues for details.

[2018-03-14 09:29] #14093 closed, assigned to nobody

[2018-03-14 09:31] AaronKaa commented on #14080
I cant confirm that - the store itself has been updated from magento 2.1.5 and the data was imported via rest api (I should have mentioned that in the initial post), at this point were almost ready to go live with a new store.

[2018-03-14 09:35] masterkinou commented on #8267
Had the same issue with Magento 2.1.12 and PHP 7.0

The fix renatolovato proposed fixed this issue.

[2018-03-14 09:35] woshka commented on #14068
there is something stated the issue in the code of magento too

`        /**
         * Month names in abbreviated format values was added to ICU Data tables
         * starting ICU library version 52.1. For some OS, like CentOS, default
         * installation version of ICU library is 50.1.2, which not contain
         * 'abbreviated' key, and that may cause a PHP fatal error when passing

[2018-03-14 09:39] KarlDeux commented on #12426
Hi!

So I am working on this and there are many questions that needs to be clarify by someone from @magento-engcom-team .

I made some changes in order to show correctly the price message for configurable products in the category/view layout as can be seen here:

<img width="455" alt="captura de pantalla 2018-03-14 a las 10 27 20" src="https://user-images.githubusercontent.com/5971780/37393835-917

[2018-03-14 09:39] magento-engcom-team commented on #14090
Hi @baskuis
Thank you for report.
Please note the previous comment and tell if it helped you.

[2018-03-14 09:39] bpoiss commented on #10234
Is there any workaround for this problem, or has someone any idea where the problem is located in the code?

[2018-03-14 09:39] Frodigo commented on #13820
I'm working on it.

[2018-03-14 09:45] adeelq commented on #13888
@VZeroCool This has been fixed in our latest internal release and will be in next Magento release. Here is the commit to the fix https://github.com/dotmailer/dotmailer-magento2-extension/commit/124cf86e48cef7dac04f2b859365e9757d2b7b63

[2018-03-14 10:20] nkajic commented on #12584
Hi @ajpevers,

I am testing this patch on my staging with M2.2.0. After applying patch I have noticed when saving product on store level it applies this price to website level (that is fine), but it also applies same price to default level resulting in replacing original default price and replacing prices for other websites which does not have their price in catalog_product_bundle_selection_price

[2018-03-14 10:22] paragpadsumbiya commented on #14094
@Sylvesterx1  I have tried this with same os and same version but cant reproduce this issue .Can you please clean catch and try again .

[2018-03-14 10:28] JeroenVanLeusden commented on #12419
@magento-engcom-team Can you tell us the commit where this is fixed?

[2018-03-14 10:30] magento-engcom-team commented on #14093
@adil26, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-14 11:00] AaronKaa commented on #14080
We've found that editing the category using the api doesn't have this effect so we're going to do it that way for now.

[2018-03-14 11:05] #13758 closed, assigned to nobody

[2018-03-14 11:07] paragpadsumbiya commented on #14084
Hello @BabliDey . I have checked this issue with same versions .But cant reproduce it .Can you please flush cache and try again .

[2018-03-14 11:29] Sylvesterx1 commented on #14094
@paragpadsumbiya  Please check our movie: https://streamable.com/1xas6

[2018-03-14 11:44] magento-engcom-team commented on #14080
@AaronKaa please more describe steps to reproduce issue

[2018-03-14 11:44] paragpadsumbiya commented on #14094
@Sylvesterx1 thanks for video . I have tried same way but cant find issue .Let @magento-engcom-team to review your issue .By mean time can you please install fresh set up and try again .

[2018-03-14 11:45] francymin commented on #11562
We have the same problem. Magento 2.2.2, can't see the new panel in the product add/edit form after setup:upgrage, cache:clean, cache:flush and browser cache clean.

[2018-03-14 11:54] adil26 opened #14097 "Magento 2.2.2 Warning: Invalid argument supplied for foreach() in /var/www/html/brasi-magento2/vendor/magento/module-catalog-widget/Block/Product/ProductsList.php on line 262"
Hello Guys,
I have upgraded magento version from 2.1.7 to 2.2.2.

When I go to category page this issue occur:
Warning: Invalid argument supplied for foreach() in /var/www/html/brasi-magento2/vendor/magento/module-catalog-widget/Block/Product/ProductsList.php on line 262

[2018-03-14 12:11] ssmadsen commented on #6754
@PetraSwed
Yeah, this solution will probably work as a 'quickfix', but in general, clearing all data from elasticserver before the indexer is completely done and ready to be deployed, is just stupid imo.

Though, we still have issues with disapperaed products when only reindexing catalogsearch_fulltext. But maybe thats whats this post is actually about - and not the issue related to Mirasvit Exten

[2018-03-14 12:13] AaronKaa commented on #14080
We imported all of the categories and products via the REST API on version 2.1.5
Upgraded to 2.2.2
Tried to edit a category via both the web interface and the REST API and both produce the same results
Making a new category via the web interface and editing it doesn't have the same effect

[2018-03-14 12:30] magento-engcom-team commented on #14089
@superdav42, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-14 12:32] paragpadsumbiya commented on #14097
@adil26 thank you for your report.
Please use the issue reporting guidelines to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:

 Preconditions: Magento version
 Steps to reproduce
 Expected result
 Actual result

[2018-03-14 12:35] magento-engcom-team commented on #14086
@midlan, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-14 12:39] KarlDeux commented on #13883
Hi,

Are we sure that we want this as a default feature?
To me this implies quite a lot cases.

Why would I want my users to have the latest version of a product that they didn't purchase?
I see that in most cases it would make sense but it might be cases were you don't want your customers to update their version without charges while you want new purchases to have the latest one.

How shall this

[2018-03-14 12:41] sjhill-rwcc commented on #6655
Just to note that I have the same issue. The offical magento secutiy scanner tool reccomended we make the change from

[code]
Upon doing this the security scanner passes but now the web wizard has dissapeard. Our site is set in production mode.

[2018-03-14 13:30] magento-engcom-team commented on #13412
@minikist, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-14 13:46] koopjesboom commented on #2619
Since it is magento and version 2.3 has been released there is still no solution for this matter?
Why doesn't  magento-engcom-team move this issue forward in TODO in branch version 6.8-develop so we know it will be repaired in a few years from now. Having this problem since version 2.1.4. I refuse to pay for a matter that is well known and there should be a decent basic and free (still open-source

[2018-03-14 14:00] benjamin-garnier opened #14101 "Grouped products save/update by SOAP api, affectation of simple products not working"
Hello, my goal is to be able to create grouped products by SOAP api, linking (already existing) simple products to it.
The thing is, when i'm trying to add 4 simple products to the gouped product, only 2 appear in the admin view, and they are not always the same! I mean by that  this situation :
simple products : A B C D,
soap created grouped product : E (with A B C D in the soap envelop).
Admin p

[2018-03-14 14:01] timpea commented on #8211
Is there any update on this bug?

[2018-03-14 14:03] Hoszi commented on #10821
Hi,
Please don't manuipulate the include_path in php.ini.
I think I made a better solution.
The problem is a restriceted area on every production server so the is_readable() function throw an error instead of return true or false (as the php.net mention. this information is missing from the doc).
My solution is to overwrite the "/vendor/magento/zendframework1/library/Zend/Loader.php" file:

Origin

[2018-03-14 14:06] michapietsch commented on #13403
Right now I experience this behavior in v2.2.3 on two systems:
- one set up via ```composer create-project```, ```bin/magento sampledata:deploy``` and ```bin/magento setup:install```
- the other using the zip file with sample data and the web setup wizard

No errors in the Network tab or on the console. Requests finish successfull. The basket is still empty after a page reload.

PHP 7.1 and Apache

[2018-03-14 14:07] balwant20 opened #14102 "Front controller reached 100 router match iterations Issue"
I couldn't resolve this issue.

i am using Magento 2.1.7

this  issue occurs when i disabled products in admin backend, visit the product page on the frontend (see a Front controller reached 100 router match iterations) ..

Steps to reproduce
1. Disable product / page in the backend.
2. Visit product/page in frontend .
3. get  Front controller reached 100 router match iterations

[2018-03-14 14:08] hamdrew opened #14103 "Varnish configuration prevents caching of any FrontController content"
### Preconditions
1. Magento 2.2.2
2. Varnish 4.0.5

### Steps to reproduce

1. Configure Varnish as detailed in the [Varnish Config Guide](http://devdocs.magento.com/guides/v2.2/config-guide/varnish/config-varnish.html)
1. When configuring Varnish, ensure you are using a fresh export of VCL
1. Magento is set to developer mode
1. Open Developer Tools in your favorite browser to inspect response he

[2018-03-14 14:18] hamdrew commented on #14103
I'm closing this as I haven't fully tested, and my theory is incorrect.

[2018-03-14 14:18] #14103 closed, assigned to nobody

[2018-03-14 14:20] shinesoftware commented on #10660
After clearing the cookies all works as well.

[2018-03-14 14:26] webspeaks commented on #8267
For me it was due to a third party extension. I removed that extension and now it is fixed.

[2018-03-14 14:44] Loqic2633 commented on #10821
How do you exactly override this?
Copy to /magento/app/code/local/Zend/Loader.php?

[2018-03-14 14:46] duffner commented on #9703
@magento-engcom-team, this is still a bug in 2.2.3 as a guest within the cart.

[2018-03-14 14:58] jonathan-martz commented on #12939
Yes its a second Problem which is similar to first post , with the same Solution to solve it.

*Solution: uncomment **$this->setOrder('entity_id');**

[2018-03-14 15:04] Hoszi commented on #10821
As I know there is no way to override with a copy so I just simple overwrite the original file.
I know its not the best solution but I hope they will fix this bug somehow.

[2018-03-14 15:04] intercase commented on #14049
The solution was found by reading the Magento documentation, we noticed that the full page cache was caching the section controller:
http://devdocs.magento.com/guides/v2.2/extension-dev-guide/cache/page-caching/public-content.html

We have solved the problem by doing a rewrite of the file:
vendor/magento/module-customer/Controller/Section/Load.php

In the execute function

Before:

[code]

After:

[2018-03-14 15:09] Loqic2633 commented on #10821
Yeah I have read that you need to copy it somewhere and at the definition to composer.json.
Don´t really want to do that.
I will do it the same way and fix it in the original file.

If you change that file, do you have to restart apache etc.?

[2018-03-14 15:17] #14101 closed, assigned to nobody

[2018-03-14 15:23] benjamin-garnier commented on #14101
It was due to the "position" option for the linked products.
It needs to be setted, and with a unique value (setting 1 to all of them at each call doesn't add the last on top or after the actual number 1, it results on the bug i described).

[2018-03-14 15:26] gabs77 commented on #5316
When we have /// in the data:image/gif;base64, the minify html remove all the datas in the image.

Ex:
data:image/gif;base64,R0lGODlhEAAQAPQAAP///wAAAPDw8IqKiuDg4EZGRnp6egAAAFhYWCQkJKysrL6+vhQUFJycnAQEBDY2NmhoaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAAFdyAgAgIJIeWoAkRCCMdBkKtIHIngyMKsErPBYbA

[2018-03-14 15:26] Hoszi commented on #10821
don't need to restart apache. maybe u should flush cache.

[2018-03-14 15:28] magento-engcom-team commented on #14094
Hello @Sylvesterx1. Thanks for reporting. In order not to encounter "Admin is a required field in the each row." You need to fill in not only option values for admin but also the descriptions for those values (Opis.. as we see in Your language). As for the other message in Your video it seems to be bug but we need to recheck it. We'll do that soon.

[2018-03-14 15:30] magento-engcom-team commented on #8017
@magenx, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0

[2018-03-14 15:30] #8017 closed, assigned to nobody

[2018-03-14 15:34] magento-engcom-team commented on #7856
@wsheldon thank you for report.
The issue was fixed in 2.2 versions

[2018-03-14 15:38] Loqic2633 commented on #10821
So, I cleaned and flushed and so on.
This is not working for me. I´m going to try something else.

[2018-03-14 15:58] magento-engcom-team commented on #14102
@balwant20, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-14 16:05] andrewhowdencom commented on #12655
Still present in 2.3. https://github.com/magento/magento2/issues/12993

[2018-03-14 16:06] ismail-sallami commented on #11498
I encountered the same issue after upgrading from 2.0.4 to 2.1.4.
I am using Paypal Plus plugin for Germany.
Before the upgrade it was working fine. After the upgrade I see only the cash method that I enabled, no PayPal iFrame at all.
I checked my PayPal Sandbox API calls and I can see the calls arriving fine.

[2018-03-14 16:08] vbuck commented on #12993
See related issue #12655:

* https://github.com/magento/magento2/issues/12655#issuecomment-371962845

[2018-03-14 16:12] balwant20 commented on #14102
@magento-engcom-team  which version you produced this error?
i am talking about Magento 2.1.7

[2018-03-14 16:21] magento-engcom-team commented on #14102
@balwant20, we try to reproduce this issue on 2.1.7
Steps we did:
1. Create simple product s1.
2. Navigate to storefront http://magento-domain/s1.html
3. Navigate to admin .
4. Disable product s1.
5. Save product.
6. Navigate to storefront http://magento-domain/s1.html
404 Not Found page shows up.
Please correct our steps, in case they are wrong, Or try to reproduce issue on clean installation.

[2018-03-14 16:29] cdiacon opened #14104 "Admin Section is not visible in backend on production mode"
I cannot access the section if the section id or group contains "dev" as an id and the production mode is enabled as a result the admin visibility will change the section to hidden.

### Preconditions

1. magento with the branch 2.2.4-preview installed
2. php 7.0
3. production mode

### Steps to reproduce

1. create a section in adminhtml/system.xml in a custom module with the section id that cont

[2018-03-14 16:30] magento-engcom-team commented on #7856
@wsheldon, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-14 16:30] magento-engcom-team commented on #8084
@joshspivey, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0

[2018-03-14 16:30] #8084 closed, assigned to nobody

[2018-03-14 16:45] magento-engcom-team commented on #3483
Hi @keyurshah070. Thank you for your report.
The issue has been fixed in magento/magento2#13024 by @pradeep-wagento in 2.2-develop branch
Related commit(s):
 - [2fb34ef4d42552ccbf0e1b7138630f05f0f1bb5f](https://github.com/magento/magento2/commit/2fb34ef4d42552ccbf0e1b7138630f05f0f1bb5f)
 - [c0ef7803a7b2fdd62dbb59b1199333d3f473203d](https://github.com/magento/magento2/commit/c0ef7803a7b2fdd62dbb59b

[2018-03-14 16:45] #3483 closed, assigned to pradeep-wagento

[2018-03-14 16:49] balwant20 commented on #14102
thanks for your support @magento-engcom-team
Happy Coding..!!!

[2018-03-14 16:52] umarch06 commented on #4767
@mayankzalavadia I faced this issue again in 2.2.2 develop, what about reopening this issue? We should fix this in next build as it is common when we are using group by.

[2018-03-14 17:11] willcodeforfood commented on #8172
@Rickertje you could try adding a row in the rate table for $0 carts to have them ship for $0.

If that doesn't work, you could try turning on query logging and checking to see what minimum cart amount is being passed in the query. This should give some insight into why no rates are being found. Probably the conditions in the query are wrong, or just the rows are missing (see suggestion above).

[2018-03-14 17:14] cdiacon commented on #14104
found the issue that may be related to this change here

https://github.com/magento/magento2/pull/12207

So this Class https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Config/Model/Config/Structure/ConcealInProductionConfigList.php#L81

the ishidden method was changed from

[code]
to

[code]

this line here

if ($value === static::HIDDEN && strpos($path, $configPath) !==false)

[2018-03-14 17:36] peterjaap commented on #8084
@magento-engcom-team could you refer to a specific commit? I'm curious to see which solution you implemented.

[2018-03-14 17:37] ennostuurman commented on #10766
@magento-engcom-team thanx for the feedback. It might be obvious but will you also test this with the 2.2 deployment pipeline http://devdocs.magento.com/guides/v2.2/config-guide/deployment/pipeline/ (i.e. config export including multi store views and locales) ?

[2018-03-14 17:38] Sylvesterx1 commented on #14094
@magento-engcom-team  I've filled all the boxes as you said, and now I'm trying to save.

Still the same error, please check below:
![image](https://user-images.githubusercontent.com/35328055/37420363-ec212578-27b6-11e8-80a2-5ca086fa25b4.png)

[2018-03-14 20:41] paddy194 commented on #12221
Conversion doesnt work here too. Ravinsky is right I guess.

[2018-03-14 21:09] GlobalOutsourcing opened #14107 "In multi store views, text swatch fields are not displaying correctly in backend under Store view titles"
### Preconditions
Magento 2.2.2 upgrade to Magento 2.2.3 through composer (Developer Mode) Magento Luma theme with no customization (Only 3rd party extensions)
CentOS Linux 7.4.1708 (Core)
PHP 7.0.28 FastCGI Application served by Apache
Plesk Onyx 17.5.3 Update #43
Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 core(s))
mysql Ver 15.1 Distrib 10.1.29-MariaDB

### Steps to reproduce
1. Setup multiple s

[2018-03-14 21:18] gustavopinto commented on #5654
Hi @alankent and @choukalos,

thanks once again for answering our research inquiries. We were able to collect 35 responses and we drafted a research paper with the results. The paper was submitted and accepted for the 14th International Conference on Open Source Systems (http://oss2018.org/). You can find the paper [here](http://gustavopinto.org/lost+found/oss2018.pdf). Hope you enjoy reading the

[2018-03-14 22:15] Sylvesterx1 opened #14108 "Picture of the product disappears after entering the product"
### Preconditions

1.  Magento 2.2.3
2.  Debian 9

### Steps to reproduce

1.  I'm adding a new product
2.  then I go to the frontend
3.  I enter the product and suddenly the photo disappears

### Expected result

1.  I am entering an old product and the picture is displayed correctly

### Actual result

1. Here is movie which description problem: https://streamable.com/oz97w

[2018-03-14 22:19] fooman commented on #14104
@cdiacon agreed that this is indeed somewhat unexpected behaviour - however looking at https://github.com/magento/magento2/pull/12207/files#diff-94a0fc0a8eaeff073c1bf44718066492R148 it should be possible for you to add an exemption.

[2018-03-14 22:43] brideo opened #14109 "`MAX_NUM_COOKIES` doesn't follow the open-closed principle"
### Preconditions

1. Magento 2.x

### Steps to reproduce

1. open `Magento\Framework\Stdlib\Cookie\PhpCookieManager::checkAbilityToSendCookie
2. See `PhpCookieManager::MAX_NUM_COOKIES`

### Expected result

1. Should bind using `static::MAX_NUM_COOKIES`

### Actual result

2. I cannot change the outcome of this class without rewriting 3 methods

[2018-03-14 23:39] spectravp commented on #12146
When updating Magento via composer to version 2.2.3, it installs magento/framework (101.0.3) which does NOT contain the fix for this issue. Have tried completely removing all composer installed components and reinstalling, same result.

If I download the latest tarball from https://magento.com/tech-resources/download the above fixes are not present.

Has this change not been merged into a release?

[2018-03-14 23:44] israelguido commented on #9032
Same problem with EE 2.1.8

[2018-03-15 00:35] fasaro opened #14110 "Magento 2.2 Cannot save shipment"
### Preconditions

1. Magento 2.2.2
2. PHP 7.1
3. Maria DB 10.1

### Steps to reproduce

1. Admin
2. Sales → Orders
3. Select order to ship
4. Add tracking number → Submit Shipment

### Expected result

1. Shipping Created Successful

### Actual result

1. Cannot save shipment
![screenshot-2018-3-14 000000001 orders operations sales magento admin](https://user-images.githubusercontent.com/25376355

[2018-03-15 02:20] brideo commented on #4546
This seems to be related to instantiating the `Magento\Setup\Model\Installer` or `Magento\Setup\Model\InstallerFactory` class for me.

You can see in the construct of `InstallerFactory` it depends on the class `ServiceLocatorInterface`.

I don't really want to spend time debugging the internals of the Magento_Setup module so have just switched my dependency.

[2018-03-15 03:11] me2r036 commented on #13724
Hi there,
updateImage() won't update media attribute, i.e. "types".

As you can see the $fieldsMap does not contain "type".
    public function updateImage(\Magento\Catalog\Model\Product $product, $file, $data)
    {
        $fieldsMap = [
            'label' => 'label',
            'position' => 'position',
            'disabled' => 'disabled',
            'exclude' => 'disabled',
            'me

[2018-03-15 05:14] brendanfalkowski opened #14111 "PHP short echo is an anti-pattern and should be removed"
The PHP short echo used widely in PHTML templates cannot be commented out easily:

[code]

You must star comment the entire declaration, which is tedious:

[code]

And also breaks another necessary commenting use case:

[code]

The PHP short echo should have been considered an anti-pattern because it restricts commenting, which is a hallmark of good code.

The standard echo is far more flexible an

[2018-03-15 05:39] miteedesign commented on #8170
Hi there, I am having the same issue and I'm on 2.2.2. Does anyone know the fix for it?

[2018-03-15 05:39] brendanfalkowski commented on #14111
Found a workaround. Closing.

Reference: https://twitter.com/mostlymagic/status/974154073736753152

[code]

[2018-03-15 06:21] magento-engcom-team commented on #14108
Hello @Sylvesterx1. Thanks for reporting. Please tell us which products You consider as new and which old.

[2018-03-15 06:21] magento-engcom-team commented on #13947
@sambalay
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-15 06:21] #13947 closed, assigned to nobody

[2018-03-15 06:24] magento-engcom-team commented on #13935
@Toregam
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-15 06:24] #13935 closed, assigned to nobody

[2018-03-15 06:27] magento-engcom-team commented on #13163
@willfrombrazil
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-15 06:27] #13163 closed, assigned to nobody

[2018-03-15 06:40] magento-engcom-team commented on #14094
@Sylvesterx1, Right next to Admin* column the Discription for admin column should be displayed. That must be not empty. Please see screenshot.
![swatches](https://user-images.githubusercontent.com/31669971/37447833-8459b830-282c-11e8-8977-f8f6a3e05f3e.png)

[2018-03-15 06:55] ecalimlim7 commented on #6688
Hi! I encountered a problem with my Magento site...I'm not a developer of Magento. I just edited the "REQUEST PATH" on my /MARKETING/URL RE-WRITE, then i also changed the setup of "SIGN STATIC FILES" to "yes" value. I flush the cache storage, now my website is broken. Please see live site http://www.alohapearls.net/. Maybe you can help me figure out the problem?

Thanks

[2018-03-15 06:59] brendanfalkowski commented on #14111
Actually that's not a viable workaround because most servers disable short tags (but apparently not short echo.

[2018-03-15 07:13] magento-engcom-team commented on #14094
@Sylvesterx1, we've acknowledged the issue and added to our backlog in part of "The value of Admin scope can't be empty" error message appearance.

[2018-03-15 07:22] pemann commented on #14049
I think this is fixed in 2.2.2. See the commit: https://github.com/magento/magento2/commit/86c7816de42c9fa5e3d630dad1b1b1941b0d00ff

[2018-03-15 08:02] Sylvesterx1 commented on #14108
@magento-engcom-team  You can check here:

this new product: http://wearon.pl/gant-zegarek-warren-gt004002.html

here is old product: http://wearon.pl/ikat-tiered-tank-dress-1.html

also in new add product no working hovering on the product on the category page. On old products work perfect.

[2018-03-15 08:08] prateekkarki commented on #13152
@magento-engcom-team Hi, Is there any way I could track the progress on this issue, or estimate the days in which this issue might be resolved?

[2018-03-15 08:08] prateekkarki commented on #13152
@magento-engcom-team Hi, Is there any way I could track the progress on this issue, or estimate the days in which this issue might be resolved?

[2018-03-15 08:19] kunj1988 opened #14112 "Duplicate bundle product's child products issue."
When we create duplicate bundle product from Ex. Sprite Yoga Companion Kit  > Sprite Yoga Companion Kit 1 and after duplication while we delete duplicate product(Ex. Sprite Yoga Companion Kit 1) from grid main product "(Ex. Sprite Yoga Companion Kit)" options also removed.

### Preconditions

1. Magento version 2.2.1
2. Magento version 2.2.2
3. Magento version 2.2.3

### Steps to reproduce

1. Fir

[2018-03-15 08:39] tousif12 opened #14113 "Print order just printing a empty pdf on magento 2.1.8"
## Preconditions
Magento 2.1.8

## Steps to Reproduce
Login as customer
Place order
Go to "My account" page on frontend
Click on your order
Click "Print Order"
## Actual Result
https://image.ibb.co/eP3N7x/pdf.png
Pdf just with  date order #  on top

## Expected result
Order printed on pdf

**P.S**   I was getting this error first   https://github.com/magento/magento2/issues/10530   which I fixed b

[2018-03-15 08:43] magento-engcom-team commented on #3621
@manhao-chen  Closing this ticket for now due to inactivity and report itself not containing required information.
Please verify with up-to-date version and update report if you still believe that the issue exists.

[2018-03-15 08:43] #3621 closed, assigned to nobody

[2018-03-15 08:44] Lycanite commented on #14080
I'm working with AaronKaa on this project. I think it's related to products added via the REST API.
For example, if you add a category with a parent category like this:
`{
    "category": {
        "name": "Test",
        "is_active": true,
        "include_in_menu": true,
        "level": 0,
        "position": 0,
        "parent_id": PARENT_ID,
        "custom_attributes": [{
            "attrib

[2018-03-15 08:53] Sylvesterx1 commented on #14108
I've located the problem:

when I choose a size drop down list  then the pictures disappear:
![image](https://user-images.githubusercontent.com/35328055/37452995-a8d05476-2836-11e8-9414-fb481c31f2e4.png)

when I add the size as a graphic sample, everything works:
![image](https://user-images.githubusercontent.com/35328055/37453022-ba7574fe-2836-11e8-94f8-1dc29605518c.png)

[2018-03-15 08:54] kanduvisla opened #14114 "2.2.3 : The EAV ReadHandler does not order the attributes when fetching them from the database"
This one was a bit tricky to track down but bear with me:

I had the situation where when I would load a product of a certain store ID, for some attributes I would get the value of the admin store. Using the famous var_dump 'n die-debugging technique I was able to track down the problem:

`Magento\Eav\Model\ResourceModel\ReadHandler::execute()`.

In this method, various select-statements are built

[2018-03-15 08:56] kanduvisla commented on #14114
I now see that this is a possible duplicate of: #6958

[2018-03-15 08:58] Sylvesterx1 commented on #14094
OK so this should solve the problem but just tell me because I have a lot of languages. This field is too small to see what it writes. How to solve it ?
![image](https://user-images.githubusercontent.com/35328055/37453231-602da920-2837-11e8-9105-684df69856d5.png)

[2018-03-15 09:00] jellesiderius commented on #10071
We had the same problem... This could be anything. For us the fix was to change our current logged in admin user's password...

[2018-03-15 09:05] magento-engcom-team commented on #13420
Hi @Jimgitsit

Looks like there is more suitable way of resolving order status label from order:
`\Magento\Sales\Model\Order\Config::getStatusLabel` takes status code as a parameter and returns status label. Status code itself is present in `OrderInterface`.

This indeed seems to be a desired Magento behavior and not a bug.
Closing the ticket as the GitHub issue tracker is intended for Magento Cor

[2018-03-15 09:05] #13420 closed, assigned to nobody

[2018-03-15 09:10] magento-engcom-team commented on #13605
Hi @emilshamloo
The GitHub issue tracker is intended for Magento Core technical issues only.
Please use "Contact Seller" button [on this page](https://marketplace.magento.com/shopialfb-facebook-module.html) to report issue with the extension.

[2018-03-15 09:10] #13605 closed, assigned to nobody

[2018-03-15 09:15] magento-engcom-team commented on #13622
@primzonltd Unfortunately we are unable to provide any assistance unless issue is reproducible with the described steps on our side.
Please attempt this flow on the latest version without any extensions enabled. If the issue persists please update bug report with all the required information and reopen.
Thank you for collaboration.

[2018-03-15 09:15] #13622 closed, assigned to nobody

[2018-03-15 09:15] Igloczek commented on #14111
It's part of PSR-1 and shouldn't be considered as a anti-pattern.
https://www.php-fig.org/psr/psr-1/

[2018-03-15 09:21] kanduvisla commented on #6958
What's the priority on this issue? Because since Magento 2.2.x the entity manager has gotten a much bigger role when it comes to handling products.

[2018-03-15 09:35] Sathishkumar8731 opened #14116 "Password strength calculation issue while reset the password."
### Preconditions

1.  Magento 2.2.2
2.

### Steps to reproduce

1.  Remove the Newsletter Subscriber block in default.xml on Theme module
2. Now, Go to login page and give forgot password
3. After getting email notification for password reset, click on it
4. You will be redirected to domainname/customer/account/createpassword/
5. Now you can find the issue that Password strength calculation will

[2018-03-15 09:46] ishakhsuvarov commented on #14111
@brendanfalkowski Thank you for reporting.
This is intentionally implemented this way. You may use https://github.com/magento/magento2/pull/1563 for reference and more information.

Closing as non-issue

[2018-03-15 09:46] #14111 closed, assigned to nobody

[2018-03-15 09:48] elioermini commented on #12362
The solution of @acetronaut is working on 2.1.12 is also solving this issue #4301 the only change on top I added in start() is `$this->renewCookie($sid);` after `$this->validator->validate($this);`

[2018-03-15 09:50] ishakhsuvarov commented on #14108
@Sylvesterx1 Thank you for reporting
Please attempt this with a stock Magento installation without extensions and customizations to make sure that issue is not cause by any of those.

[2018-03-15 09:54] ishakhsuvarov commented on #14102
@balwant20 Per your comment I assume that ticket may be closed now.
Please reopen if the issue persists and provide clear steps to reproduce on the latest Magento version.
Thank you.

[2018-03-15 09:54] #14102 closed, assigned to nobody

[2018-03-15 09:59] paragpadsumbiya commented on #14112
@kunj1988  thank you for your report.
Please use the issue reporting guidelines to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:

Preconditions: Magento version
Steps to reproduce
Expected result
Actual result

Can you please provide detialed informat

[2018-03-15 10:03] paragpadsumbiya commented on #14110
@fasaro Thanks for reporting .I have checked with Magento 2.2.2 but cant reproduce it . Can you please check is there any custom payment method making issue . Can you please check with fresh installed magento .

[2018-03-15 10:06] Loqic2633 commented on #10821
So, I figured out, that he searches for the EmailAdress.

[2018-03-15 10:09] paragpadsumbiya commented on #14094
@Sylvesterx1 @magento-engcom-team Look lik this issue is appreaing with multiple store views .It is working fine when you have only one store in English .

@Sylvesterx1 For spacing issue there is one more issue same for placeholder when there are multiple store views . #14107

[2018-03-15 10:11] paragpadsumbiya commented on #14107
@GlobalOutsourcing same spacing issue is mentioned in comment in referenced issue when there are multiple store views .

[2018-03-15 10:30] magento-engcom-team commented on #12969
@boldhedgehog, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-15 10:51] Loqic2633 commented on #10821
So I figured out, that he searches in the Loader.php for the EmailAddress.php in
"/vendor/magento/zendframework1/library/Zend/Validate/Magento\Framework\Validator\EmailAddress.php"
where he never finds that file.
When I give him the path to:
"/vendor/magento/framework/Validator/Magento\Framework\Validator\EmailAddress.php" he can validate and everything is fine.

I wonder why your edit in the Load

[2018-03-15 10:52] hostep commented on #7856
@magento-engcom-team: I think you guys have to remove the label `Fixed in 2.2.x` and re-open this issue based on your latest comment, no?

[2018-03-15 10:59] sunilit42 opened #14118 "Mixin js not loading when Switch Tab while loading site"
Preconditions
1) Magento 2.2.*
2) Open Multiple Tabs in browser
3) Create one mixins file

Steps to reproduce
1) open your site (open your developer console)
2) switch to another tab
3) after finish load step 1 site go to there
4) In console you can check no mixins js load

Expected result
It should be load all mixins js file.

Actual result
It is not loading mixins js

For example we are creating

[2018-03-15 11:01] ishakhsuvarov commented on #14090
@baskuis Multiple address checkout currently does not support online payment methods

[2018-03-15 11:18] Rickertje commented on #8172
@willcodeforfood Thanks! It tried this (see attached) and it seems to be a very nice workaround. Still it should be solved in an appropriate way.
![afbeelding](https://user-images.githubusercontent.com/27420995/37460084-6cd84f82-284a-11e8-944b-e06436bce70b.png)

[2018-03-15 11:23] paragpadsumbiya commented on #14118
@sunilit42 Thanks for reporting . After add any file you if you are in developer mode you need to run Grunt again or if you are in production mode you need to below steps to reflect your code .

rm -rf var/di var/generation var/cache var/pagecache
php bin/magento cache:clean
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy

[2018-03-15 11:30] sunilit42 commented on #14118
@paragpadsumbiya  js and css loading properly.

It is mixin js issue.

we are extending js functionality, that js does not load when we switch tab while page load.

If you are not switching tab then works.

[2018-03-15 11:30] magento-engcom-team commented on #14104
@cdiacon, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-15 11:30] magento-engcom-team commented on #14102
@balwant20, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-15 11:30] magento-engcom-team commented on #14113
@tousif12 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![print_order](https://user-images.githubusercontent.com/31669971/37460777-f5de6dac-2854-11e8-9a35-1c42ba682249.png)

![print_orde_2](https://user-images.github

[2018-03-15 12:01] magento-engcom-team commented on #14094
Hi again, @Sylvesterx1. There is definitely a bug that many fields are being not displayed enough if You have many store views. It will be processed with the issue #14107. Temporally You can solve this problem by using "Tab" key on the keyboard. When You have filled in the field of Admin value for the swatch press Tab key and You'll get into the next field the description field for admin. Thus You

[2018-03-15 12:06] cpjeanpaul opened #14119 "Update category name via API REST"
### Preconditions

1. Magento 2.1.10

### Steps to reproduce

1. CREATE a Category via API REST
2. UPDATE the name of the same category via API REST

### Expected result

1. show the new name of the category in the store menu
2. show the new name of the category in category tree (backoffice)

### Actual result

1. The updated name is displayed by GET via API REST
2. The updated name is displayed i

[2018-03-15 12:19] orlangur commented on #14109
Open-closed principle does not dictate `static::` should only be used to access constants by the way.

[2018-03-15 12:23] magento-engcom-team commented on #14080
Hi @AaronKaa and @Lycanite
We were able to reproduce this issue by following these steps:
1. Create any category on second level (with parent_id =2).
Name: Test category 1, Url key: test-category-1.
2. Crete sub category in "Test category 2" with `level = 2` by res api:
[code]
At now we have the url_key: "test-category-1" and path: "/test-category-1/test-category-2".

3. Change the url key of the

[2018-03-15 12:49] tousif12 commented on #14113
@magento-engcom-team   Yes I tested on other versions it is working . But I noticed 1 thing that on other versions on print order a new page open a on reload a  window.print()  apply  .In my version its like

[code]

But In  other versions its like

[code]

As onload function.    Where I can find that function written ? As I am unable to find it .   It may cause error ?

And 2nd thing on my whole

[2018-03-15 12:52] AaronKaa commented on #14119
This could be related to #14080

[2018-03-15 13:09] rajanzestard commented on #6578
I fixed the issue but I don't know about if its create any issue in the future or not?

Just open the database, find the customer_sublogin table and go to the structure of the table

Here, you can see that the Email field, that is not null, just make it like it accepts the Null values.

Then try with forgot password

[2018-03-15 13:23] orlangur commented on #14109
@brideo,

[code]

This value is not supposed to be changed as it is based on RFC.

Could you please describe what you try to achieve by changing this value? I remember it was a problem in `2.1.x` as reaching limit produced a fatal error but now it is just logged

[code]

[2018-03-15 13:30] magento-engcom-team commented on #14080
@AaronKaa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-15 13:46] magento-engcom-team commented on #14107
@GlobalOutsourcing, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-15 13:47] magento-engcom-team commented on #14116
@Sathishkumar8731 , thank you for your report. Please add more detail information about first step (Remove the Newsletter Subscriber block). On folder app/code/Magento/Theme/view/frontend/layout/default.xml this block is absent.

[2018-03-15 13:49] magento-engcom-team commented on #10742
@ADDISON74 Unfortunately we are closing this ticket now, as github issue tracker is only intended for Magento 2 core technical issues. Please refer to the [Community Forums](https://community.magento.com/) to submit a feature request.

Thank you for collaboration.

[2018-03-15 13:49] #10742 closed, assigned to nobody

[2018-03-15 13:53] magento-engcom-team commented on #13526
@vincentplc, thank you for report. Unfortunately, we cannot reproduce this issue with described steps.
Steps we did:
1. Create 3 stores English en_us, 繁體中文 zh_hant_hk, and 简体中文 zh_hans_cn with status Enabled.
2. Use luma in Contnet/Config/Configuration set Luma theme for global scope
3. Find zh_Hans_CN.csv on the internet

4. Install this file zh_Hans_CN.csv (Traditional Chinese Language pack)
$ b

[2018-03-15 13:53] magento-engcom-team commented on #13047
Hi @craigcarnell
Unfortunately we are closing this ticket now, as Github issue tracker is intended only for core Magento technical issues. Please refer to the [Community Forums](https://community.magento.com/) to submit a feature request or use [magento/community-features](https://github.com/magento/community-features/issues) repository to describe your idea.

Thank you for collaboration

[2018-03-15 13:53] #13047 closed, assigned to nobody

[2018-03-15 13:56] magento-engcom-team commented on #14113
@tousif12 , thanks for you update. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-03-15 13:57] malikt opened #14120 "Custom Discount attribute in totals doesn't work if grand total reduces more than 50%"
Hi,
I have developed a module that allows a discount on order total based on some rules. The order gets placed if the discount is at a rate where grand total remains around 50% of its original amount. but if it gets below, then the payment method returns an error:
"The requested Payment Method is not available."

### Preconditions
1.  Mage 2.2.0
2. Php 7.0.23
3. Apache 2.4.27
4. MySQL 5.7.19
5. Wa

[2018-03-15 13:58] ishakhsuvarov commented on #14107
@GlobalOutsourcing Closing this report as duplicate of #13053.
Please continue tracking under that id.

Thank you for collaboration.

[2018-03-15 13:58] #14107 closed, assigned to nobody

[2018-03-15 13:59] ishakhsuvarov commented on #14094
@Sylvesterx1 Closing this report as duplicate of #13053.
Please continue tracking under that id.

Thank you for collaboration.

[2018-03-15 13:59] #14094 closed, assigned to nobody

[2018-03-15 13:59] ishakhsuvarov commented on #13053
Similar issue reports for reference:
* #14107
* #14094

[2018-03-15 14:02] magento-engcom-team commented on #13669
Hi @winterk80 Thank you for reporting.

Unfortunately we are closing this ticket now, as Github issue tracker is intended only for core Magento technical issues. Please refer to the [Community Forums](https://community.magento.com/) to submit a feature request or use [magento/community-features](https://github.com/magento/community-features/issues) repository to describe your idea.

Thank you for

[2018-03-15 14:02] #13669 closed, assigned to nobody

[2018-03-15 14:06] magento-engcom-team commented on #13883
@KooTjoo Thank you for reporting

Unfortunately we are closing this ticket now, as Github issue tracker is intended only for core Magento technical issues. Please refer to the [Community Forums](https://community.magento.com/) to submit a feature request or use [magento/community-features](https://github.com/magento/community-features/issues) repository to describe your idea.

@KarlDeux Thank you

[2018-03-15 14:06] #13883 closed, assigned to nobody

[2018-03-15 14:08] magento-engcom-team commented on #13924
@fvschie Thank you for reporting

Unfortunately we are closing this ticket now, as Github issue tracker is intended only for core Magento technical issues. Please refer to the [Community Forums](https://community.magento.com/) to submit a feature request or use [magento/community-features](https://github.com/magento/community-features/issues) repository to describe your idea.

Also, consider submi

[2018-03-15 14:08] #13924 closed, assigned to nobody

[2018-03-15 14:16] #13903 closed, assigned to nobody

[2018-03-15 14:24] magento-engcom-team commented on #14114
@kanduvisla , We a closing as duplicate of #6958

[2018-03-15 14:24] #14114 closed, assigned to nobody

[2018-03-15 14:29] ASKendrew commented on #6817
Issue is still present on 2.2.3.

[2018-03-15 14:30] magento-engcom-team commented on #14114
@kanduvisla, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-15 14:30] magento-engcom-team commented on #14113
@tousif12, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0, 2.1.12

[2018-03-15 14:30] #14113 closed, assigned to nobody

[2018-03-15 14:39] wescey commented on #5929
This problem still exist in 2.2.2 or specifically URL rewrites doesn't do the job. @magento-engcom-team

[2018-03-15 14:41] alexguz79 commented on #2666
@site-me i have to say this is a dumb thing that most of us don't think about when uploading images.

I was banging my head for about an hour before finding this and realizing how easy it was.

[2018-03-15 14:42] okorshenko commented on #12317
Hi @mysil2 for the linking to PR. Closing the issue

[2018-03-15 14:42] #12317 closed, assigned to hitarthpattani

[2018-03-15 15:20] jzahedieh commented on #13478
Can also confirm this was included in 2.1.11

https://github.com/magento/magento2/blob/2.1.11/app/code/Magento/Braintree/Controller/Adminhtml/Payment/GetClientToken.php

[2018-03-15 15:30] magento-engcom-team commented on #13923
@jamie-selesti, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-15 15:30] #13923 closed, assigned to nobody

[2018-03-15 15:30] magento-engcom-team commented on #13736
@magefast, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-15 15:42] okorshenko commented on #12474
Hi @chedaroo @mysil2 thank you for linking the issue and PRs. Closing the issue

[2018-03-15 15:42] #12474 closed, assigned to nobody

[2018-03-15 15:44] okorshenko commented on #12474
Hi @mysil2 Thank you for your involvement to Magento Community. I just sent you an invitation to magento organization or the github. Please accept the invite and you will be able to close the issue when you find that they are already fixed.

[2018-03-15 15:48] okorshenko commented on #12524
The issue has been fixed and delivered to 2.2-develop branch

[2018-03-15 15:49] okorshenko commented on #12827
Hi @dharmendra-wagento thank you for your investigation. Closing the issue

[2018-03-15 15:49] #12827 closed, assigned to nobody

[2018-03-15 15:58] malikt commented on #14120
seems have found the solution, closing the ticket.

[2018-03-15 15:58] #14120 closed, assigned to nobody

[2018-03-15 16:09] balwant20 opened #14122 "export functionality doesn't work for first time in admin 2.1.7"
I couldn't find the solution of this issue.

currently i am using Magento 2.1.7 .

this issue occurs when i login admin panel of mysite.and on the order page i export my order data then it redirects me to admin dashboard .when second time i try to export data then it exports order data correctly.

Steps to reproduce

1.  login admin panel.
2. go sales->orders
3. click on export button
4. redirect

[2018-03-15 16:14] rqsakai commented on #10111
Is there any fix or patch for 2.1.* ?

We are experiencing same issue since updated from 2.1.8 to 2.1.12, all session related requests are extremely slow and new relic gives us the following transaction as responsible for 80% - 90% of the transaction time:

`Cm\RedisSession\Handler::read`

Magento  Commerce 2.1.12
PHP 7.0.24
AWS ElasticCache Redis 2.8.24

We are losing 74% of our revenue since las

[2018-03-15 16:19] brideo commented on #14109
The open close rule does not dictate anything. It’s a principle in which you don’t have to edit the original code to change the outcome. Binding to the constant using the static binding would achieve this.

The static binding I’m talking about, was referencing a constant.

What I’m trying to achieve by changing the MAX_NUM_COOKIES constant is changing the max number of cookies.

Logging error is c

[2018-03-15 16:41] benyanke commented on #7570
Any update on this, Magento? Still a breaking issue for us.

[2018-03-15 16:58] cherednichenkoa commented on #13863
Have same issue mentioned above

[2018-03-15 17:17] kvydiuk opened #14124 "Please delete this :) sorry"

[2018-03-15 17:22] lano-vargas commented on #13959
Same issue here 2.2.2 on Fresh Instalation.

[2018-03-15 17:31] brendanfalkowski commented on #14111
I guess the PSR people never comment out code.

Seems like a valid need but ¯\_(ツ)_/¯

[2018-03-15 17:34] driskell commented on #10111
@rqsakai We manually modified the files in Magento that configure php-redis-session-abstract so that they inverted the value. Either directly, or via composer patch

[2018-03-15 17:40] lano-vargas commented on #13311
@magento-engcom-team  Same issue here. 2.2.2

**main.CRITICAL: Exception message: Warning: A non-numeric value encountered in .../vendor/magento/zendframework1/library/Zend/Locale/Math/PhpMath.php on line 94**

Once I added DOB I was able so save/create new customer from backend.

[2018-03-15 17:49] lano-vargas commented on #12402
@AzeemYusufali  https://github.com/magento/magento2/issues/13311

[2018-03-15 17:50] lano-vargas commented on #1437
@sivajik34 https://github.com/magento/magento2/issues/13311

[2018-03-15 17:52] buiductho195 commented on #7869
just run a2enmod rewrite (on apache server)

[2018-03-15 18:02] cherednichenkoa commented on #13863
You can use fix from here https://github.com/magento/magento2/pull/14125

[2018-03-15 18:54] rqsakai commented on #10111
@driskell are you reffering to this? https://github.com/colinmollenhour/php-redis-session-abstract/commit/6f005b2c3755e4a96ddad821e2ea15d66fb314ae

If yes our file is following this rule.

Thanks for the help

[2018-03-15 19:00] #14124 closed, assigned to nobody

[2018-03-15 19:55] orlangur commented on #14109
I meant that following this approach means to forbid `self::` for class constants at all.

Thanks for a really illustrative link! Looks like as Magento [supports IE11](http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements_browsers.html) `50` is still a relevant value for core.

Great, looks like you really understand what you're doing 👍 If some Magento merchants don't care about I

[2018-03-15 19:55] lano-vargas commented on #5910
@magento-engcom-team  has this been fixed on 2.2.2? I am experiencing this issue for a Second website please see here: https://magento.stackexchange.com/questions/217570/magento-2-braintree-payment-method-error-for-second-website
Thanks.

[2018-03-15 20:18] lano-vargas commented on #8154
@amansilla  similar issue  ref: https://github.com/magento/magento2/issues/5910

[2018-03-15 20:41] lano-vargas opened #14126 "Latest Google Chrome Browser issue with duplicate id #billing-new-address-form:"
Magento 2.2.2 Latest Google Chrome Version { Version 63.0.3239.84 (Official Build) (64-bit) } detects duplicate ids and console.log an ERROR

Add a product to cart and go to checkout process at  /checkout/#payment  inspect element that gives the error: attached screenshot.

![screen shot 2018-03-15 at 20 33 28](https://user-images.githubusercontent.com/3495481/37489907-08cc2d32-2891-11e8-926a-e42d

[2018-03-15 20:52] blizzardengle opened #14127 "Incorrect product prices and taxes at checkout when using customer groups and special pricing."
### Preconditions

1.  Install or update to Magento 2.2.2 with one page checkout enabled and linked to a shipping provider; we use FedEx.
2.  Add products with the following conditions:
      - The products price.
      - Advanced price (special price) lower than the price from the last step with no ending date.
      - Advanced price for customer group. Add an even lower price than the last step

[2018-03-15 22:33] amplifictechnology commented on #9577
I know this is closed but I am curious if anyone else has encountered this issue?
Preconditions: Clean install on Ubuntu Linux w/MySQL
Installed Magento 2.2.3 from composer
Steps:
Log in from the admin panel, and create a new sales order
Fill in all of the required fields
Click "Submit Order"
As the original poster noted above, the page scrolls up slightly but no error message.
I checked debug set

[2018-03-15 22:53] kemexyz commented on #12459
Ubuntu 16.04.3 LTS
Magento 2.2.3

package.json:
Grunt 1.0.1
grunt-exec 2.0.0

I can confirm this issue, also the provided solution to downgrade grunt-exec to 1.0.0 resolves my issue.

As a result of this error "grunt watch:" will not work.

[2018-03-16 03:15] brideo commented on #14109
I see, I personally always try to use `static::` rather than `self::`, but I can see why you'd want consistency.

Yeah, I did think about suggesting di or a config path, however, I don't know if you want it to be that easily configurable for reasons you've mentioned.

I have created a pull request:

https://github.com/magento/magento2/issues/14109

I'm not sure whether I'm doing the correct thing

[2018-03-16 03:34] xtremeperf commented on #13940
@rigu12 ,

If the Magento2 app is instantiated while you are trying to perform these commands, then code/files/directories are re-created on the fly.  This includes static content and files in `var/view_preprocessed/`, `generated/`, `var/cache/`, `var/page_cache`, `pub/`, just to name a few.  The app is instantiated any time the `/index.php` or `pub/index.php` script is executed.  This includes ac

[2018-03-16 03:41] mrIntegrator commented on #6942
Sorry, that it's been a while. This bug came back to mind when I noticed one of sites still had layout cache disabled in production as a precaution. Lo and behold, the bug still exists in the latest version of Magento (currently 2.2.3). So here's what I've discovered.

**Steps to Reproduce:**

1. Install Magento with Redis cache (I used db 0 for sessions, 1 for cache, 2 for FPC).

1. Navigate to a

[2018-03-16 04:17] mrIntegrator commented on #6942
Interestingly, you can see from the GIT log that this bug has been present from the initial implementation of that class, prior even to the 2.0 release. It also very similar to a config cache bug that was introduced in 2.1.6 and corrected in 2.1.8 which would break the the checkout page. The cause was the same then as it is now: assuming a cache key will exist in Redis without checking that it's a

[2018-03-16 05:54] shubh1105 opened #14130 "Upgrading magento version issue"
1. While I am trying to upgrade magento version 2.1.11 to 2.2.3 then its just checking magento version
2. When I open my admin then in System-> web setup wizard->system upgrade then after entering access keys its showing chekcing latest version but its not showing its just loading for long time. Can you plz help me to fix this issue????

[2018-03-16 06:04] zolat commented on #6942
hi @mrIntegrator, thank you for sharing these findings. We have also had this issue and as a result are not able to use layout cache on one of our websites. Due to your findings, we performed an investigation into our Redis cache and found that it is quite unlikely that LRU is causing the layout cache key to be evicted; here are our findings:
- Layout cache items are saved without an expiry date.

[2018-03-16 06:18] pemann commented on #13505
@Detzler can you be more specific. What is the same and collides between the two cookies?
I have setup just like this (xyz.com and test.xyz.com) but I haven't got any problems with cookies (yet).

[2018-03-16 06:38] paragpadsumbiya commented on #14126
@lano-vargas  thank you for your report.
Please use the issue reporting guidelines to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:

Preconditions: Magento version
Steps to reproduce
Expected result
Actual result

Can you please provide detialed infor

[2018-03-16 06:38] paragpadsumbiya commented on #14122
@balwant20  thank you for your report.
Please use the issue reporting guidelines to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:

Preconditions: Magento version
Steps to reproduce
Expected result
Actual result

Can you please provide detialed informa

[2018-03-16 06:41] paragpadsumbiya commented on #14122
@balwant20 i have checked this and it is working fine . It might be possible that when you try to export order data at time your session is expired and  you are redirect to Admin panel .Can you please check with fresh installation and try again if problem persists or not .

[2018-03-16 06:50] paragpadsumbiya commented on #14130
You can also upgrade version from terminal .You need to follow below steps to upgrade your version.
1) composer require magento/product-community-edition 2.2.3 --no-update
2) composer update
3) rm -rf var/di var/generation var/cache var/pagecache
4) php bin/magento cache:clean
5) php bin/magento cache:flush
6) php bin/magento setup:upgrade
7) php bin/magento setup:static-content:deploy
8) php bin/

[2018-03-16 06:52] paragpadsumbiya commented on #14130
@shubh1105 You need to follow guidelines to report issue here .
Please use the issue reporting guidelines to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:

Preconditions: Magento version
Steps to reproduce
Expected result
Actual result

Otherwise they

[2018-03-16 06:52] Sathishkumar8731 commented on #14116
Hi Team,

**To disable the Newsletter Subscriber.**

1) Go to the file path: vendor/magento/module-newsletter/view/frontend/layout/default.xml

2) Add the below code in <body> of default.xml file.

<referenceBlock name="form.subscribe" remove="true"/>

3) Run all the commands, then check whether "Newsletter subscriber Email field" is remove on Footer.

**To  go the password reset **
4)Now, Go to l

[2018-03-16 06:59] magento-engcom-team commented on #14112
@kunj1988, thank you for your report. We've acknowledged the issue and added to our backlog.
[Please watch the video about how to reproduce this issue.](https://github.com/magento/magento2/files/1818187/Sprite.Yoga.Companion.Kit.webm.zip)

[2018-03-16 07:03] rohit47rohit commented on #8964
Has this been Fixed yet in Latest magento verson ?

[2018-03-16 07:04] balwant20 commented on #14122
@paragpadsumbiya i dont think so it session expired problem..!!
it happens every first time when i export order data or customer data and any export action, its redirect me admin dashboard while second time it export data correctly .

[2018-03-16 07:08] balwant20 commented on #14122
#Preconditions: Magento version 2.1.7

#Steps to reproduce
 1. login admin panel.
 2 .go sales->orders
 3. click on export button
 4. redirect me dashboard page(for First time).

#Expected result
export my data in csv format.

#Actual result
it redirect me admin dashboard.

[2018-03-16 07:15] kemeice commented on #13504
try running php bin/magento setup:di:compile  this should solve it .   you may need to give the var cache folder the correct permission after this command

[2018-03-16 07:25] darkrisingx commented on #13889
Was having the same issue on 2.2.2 thought was a bug until after while upgraded to 2.2.3.

After upgrading to 2.2.3 it followed so I started to look into the issue. Found my issue as the magento team has stated to be a theme issue.

Looking into my theme the issue is something in my footer html not looked at my footer html yet but maybe I forgot to close a tag or something.

From your images the t

[2018-03-16 07:57] shubh1105 commented on #14130
Hello,

As you send me commads which i have run but its showing error messages as i
have attached screenshot below. can you plz help me to find solution??

*Thanks & Regard*
*Shubham S. Pandit*

[2018-03-16 08:28] ishakhsuvarov commented on #14126
@lano-vargas Thank you for reporting.
This report partly duplicates #13415

I am closing this issue now. Please continue tracking under given reference.

[2018-03-16 08:28] #14126 closed, assigned to nobody

[2018-03-16 08:28] ishakhsuvarov commented on #13415
Similar report: #14126

[2018-03-16 08:38] ishakhsuvarov commented on #5942
@JacobDrummond Looks like a solution has been found for the issue a long time ago and this ticket is not active anymore.
I'm closing this report now.

Thank you for collaboration.

[2018-03-16 08:38] #5942 closed, assigned to nobody

[2018-03-16 08:43] ishakhsuvarov commented on #5921
Hi @kandrejevs
From the comments it looks like described problem is solved and this ticket is inactive now.
We are closing the report now.
Please reopen if you still have any problems with this.

Thank you for collaboration

[2018-03-16 08:43] #5921 closed, assigned to nobody

[2018-03-16 08:45] ishakhsuvarov commented on #9068
Hi @Vinai
I am closing this now due to inactivity.
Please reopen if you feel like continuing conversation on this subject.

Thank you for collaboration.

[2018-03-16 08:45] #9068 closed, assigned to nobody

[2018-03-16 08:51] JacobDrummond commented on #5942
@ishakhsuvarov,

category_form.xml is not a good solution, given that attributes are configurable at run-time (not just write-time).

[2018-03-16 08:53] ishakhsuvarov commented on #10496
Hi @rakibabu
Unfortunately changing this behavior may break client code which already relies on existing flow. Thus, it is best to leave it as is, given that other methods of achieving the same result exist.

Thank you for collaboration

[2018-03-16 08:53] #10496 closed, assigned to nobody

[2018-03-16 08:53] JacobDrummond commented on #5929
For everyone having issues with this issue, a workaround was outlined [here](/magento/magento2/issues/5929#issuecomment-238170690).

This bug is annoying, but it shouldn't prevent go-lives.

[2018-03-16 08:55] joinso opened #14131 "Client Side Errors not cleared after correct submission of forms"
### Preconditions

1. Magento 2.2.3
2. PHP 7.1.13

### Steps to reproduce

1.  Just perform any client side error on forms like register, or change password.
2. Then just fill the form correctly and submit.
3. When you go to any page, the client side error message is not cleared and the error is show in every page, like "You did not sign in correctly or your account is temporarily disabled.".

###

[2018-03-16 08:56] magento-engcom-team commented on #5237
Hi @mcspronko
We are closing this now due to inactivity and "cannot reproduce" report in the comment above.
Please feel free to reopen and provide more information if you think that issue still exists.

Thank you

[2018-03-16 08:56] #5237 closed, assigned to nobody

[2018-03-16 09:00] iamckdev opened #14132 "Why Magento2.x admin always go to Dashboard after session expire or logout instead or previous page?"
Hi Team,

### Preconditions

1. Magento 2.2.3
2. Default theme default sample data

### Steps to reproduce

I am facing some critical redirection issue in magento 2 admin area.

This is working fine in magento 1.9.

I have checked in both Magento 1 or Magento 2.

There is no issue in Magento 1.9.x.

**A scenario for example:**

Suppose i am login in Magento 2 admin and open three tabs.

Tab 1. Pro

[2018-03-16 09:08] aathil-ali opened #14133 "Pagination is not working Properly when category product collection in list page"
### Preconditions

1. Magento 1.9.3.2
2. PHP 7.022 ,Mysql 5.7

### Steps to reproduce

 $todayStartOfDayDate  = Mage::app()->getLocale()->date()
            ->setTime('00:00:00')
            ->toString(Varien_Date::DATETIME_INTERNAL_FORMAT);

        //special to date
        $todayEndOfDayDate  = Mage::app()->getLocale()->date()
            ->setTime('23:59:59')
            ->toString(Varien_Date

[2018-03-16 09:14] gagan67commerce opened #14134 "Swatches not showing on homepage New products widget"
Create New products via magento's default widget and call on homepage

### Preconditions
1. Magento 2.4-develop

### Steps to reproduce

1. Create a widget and call New products on hompage
2. Add to list any configurable product

### Expected result
1. Swatches should be visible on homepage

### Actual result
1. No swatches coming on homepage
![#14134issue](https://user-images.githubusercontent.co

[2018-03-16 09:21] titechnologies commented on #4699
Still getting the issue in 2.2.3

[2018-03-16 09:30] magento-engcom-team commented on #14126
@lano-vargas, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-16 09:30] magento-engcom-team commented on #14109
@brideo, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-16 09:36] EliasZ opened #14135 "extension attributes on StoreInterface object not set"
### Preconditions
Magento 2.2.3

### Steps to reproduce
Add an extension attribute for `StoreInterface`:

    <extension_attributes for="Magento\Store\Api\Data\StoreInterface">
        <attribute code="some_attribute" type="integer" />
    </extension_attributes>

Add this column to the `store` table with an update/upgrade/install script.

### Expected result
Whenever retrieving a `StoreInterface`

[2018-03-16 09:40] magento-engcom-team commented on #14119
@cpjeanpaul, thank you for your report.
We've acknowledged the issue and added to our backlog.

**Steps to reproduce**

1. CREATE a Category via API REST **POST /V1/categories**

  "category": {
    "name": "CAT",
    "is_active": true
  }
}

2. UPDATE the name of the same category via API REST **PUT /V1/categories/3**

      "category": {
    "name": "CATnew",
    "is_active": true
  }
}

[2018-03-16 09:46] lano-vargas commented on #14126
@ishakhsuvarov  I shall track duplicate issue #13415 thanks.

[2018-03-16 10:12] yaroslavGoncharuk commented on #8170
Hi @miteedesign.

Provide please:
Database
PHP
OS
Magento edition - CE or EE
Indexer Mode - Update on Save or Update by Schedule
Attribute Catalog Input Type for Store Owner - Dropdown, Visual Swatch, Text Swatch
Attribute Use in Layered Navigation - Filterable (with results), Filterable (no results)
Configuration Display Out of Stock Products - Yes or No
Any other changed options.

Or just create

[2018-03-16 10:15] paragpadsumbiya commented on #14134
@gagan67commerce Thanks for reporting .Can you please check by login with sample customer because it might be posible that some widget can be viewed if customer has logged in .You need to change that permission .

[2018-03-16 10:18] paragpadsumbiya commented on #14130
@shubh1105 i cant find any screenshot here .can you please provide details so i can check that .

[2018-03-16 10:22] paragpadsumbiya commented on #14132
@chandrakeshkumar Yes its default behaviour of Magento 2. Whenever you login in Admin panel you always redirect toDashboard .When you refresh second page it also redirect to dashboard because it regenartes session and form key which you redirect to Admin . Yes i am agree with you that is should redirect to previous state from where we left off .

[2018-03-16 10:22] paragpadsumbiya commented on #14132
@chandrakeshkumar You need to follow guidelines to report issue here .
Please use the issue reporting guidelines to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:

Preconditions: Magento version
Steps to reproduce
Expected result
Actual result

Otherwi

[2018-03-16 10:29] gagan67commerce commented on #14134
No, the issue is not with the logged in, the issue actually is the file which is rendering the block does not have the block for swatches rendered. What basically is needed is that the render.block should be there within the catalogwidget module, which is how the product swatches are there in the list page. It is the code that is missing.

[2018-03-16 10:40] ishakhsuvarov commented on #14135
Hi @EliasZ
Thank you for reporting.

The described Actual Result is the correct Magento behavior. It is also documented in [developer documentation](http://devdocs.magento.com/guides/v2.2/extension-dev-guide/extension_attributes/adding-attributes.html) that a set of plugins should be implemented in order to support an extension attribute.

You may find some additional information with examples on

[2018-03-16 10:44] chandrakeshkumar commented on #14132
@paragpadsumbiya Thanks for your response, I have updated issue.. You can check same scenario with Magento 1.9.x, it's working fine(redirect to previous state from where you left off). Why it's not working with Magento 2. Please fix this.. Admin loss time to reopen again pages where this was left off.

[2018-03-16 10:52] magento-engcom-team commented on #14133
Hi @aliaathil
Thank you for reporting.

The GitHub issue tracker is intended for Magento 2 Core technical issues only.
Please refer to the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-03-16 10:52] #14133 closed, assigned to nobody

[2018-03-16 11:00] magento-engcom-team commented on #13444
@username, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.
You don't have to use CLI commands if you have created maintenance.html and have configured Apache according to the d

[2018-03-16 11:00] #13444 closed, assigned to nobody

[2018-03-16 11:01] wescey commented on #5929
@JacobDrummond does this affect the categories URL structure aswell? Trying to redirect a category path but it doesn't come through.

[2018-03-16 11:05] magento-engcom-team commented on #13553
@zolat , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce: how did you do the update, parameter of your server or try to reproduce this issue on a clean installation

[2018-03-16 11:06] ntuong95 commented on #5536
Not fixed on 2.2.3 . Frontend is still empty where Catalog Category Link Widget presents.

[2018-03-16 11:13] paragpadsumbiya commented on #14132
@chandrakeshkumar Yes you are right .Now as your issue pass guidelines .Magneto team will consider this issue and raise ticket and will solve in next verison .
@magento-engcom-team can you please check this and update this as this is very critical issue .

[2018-03-16 11:16] paragpadsumbiya commented on #14122
@balwant20  You need to edit this issue and update this issue same as above comment so magento team can check this .

[2018-03-16 11:25] VladimirZaets commented on #13865
Hi @krzksz, Magento can't correctly work in the case when cookies are disabled, but I agree that we should give some notification to the user about it. I think the solution with notification in modal window is ok. We should add JS script that will check cookie state when JS is application bootstrapping, for this we can use "cookieEnabled" property in navigation object.

[2018-03-16 11:26] EliasZ commented on #14135
@ishakhsuvarov Thank you for your answer. I would have expected this to work out of the box for primitive types like integers, strings and such. Only when you add a complex type you need to populate it yourself.

When using the method suggested, there is no instance of `StoreExtensionInterface` injected by core Magento meaning we should add this ourselves for each `AbstractExtensibleModel` which m

[2018-03-16 11:30] magento-engcom-team commented on #13444
@VincentMarmiesse, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-16 11:32] woshka opened #14137 "Attribute name in other language issue"
When an attribute in other language such as persian is defined
the attribute would be set as______ many underlines base on the quantity of characters of that words in that language
and if we wanted to create another attribute that has the same length it will through an error that it can not be saved
### Preconditions

1. magento 2.x
2.

### Steps to reproduce

1. go to attributes and create an att

[2018-03-16 11:46] magento-engcom-team commented on #14122
@balwant20 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release (for 2.1.x now is 2.1.12)

![export](https://user-images.githubusercontent.com/31669971/37519062-74ef58ec-2920-11e8-89a5-6b45057c7988.png)

[2018-03-16 11:49] sunilit42 commented on #14118
@magento-engcom-team

Any update on this?

[2018-03-16 12:11] mrIntegrator commented on #6942
You're may very well be right that it is not caused by LRU. I can't actually prove how the page layout cache key is lost. In our case, it was only occurring on a site that had very high traffic and was using Redis for both Magento cache and FPC, thus increasing the amount of memory used. The only time we reproduced this locally, and how I was able to finally debug this, is when we set up a small s

[2018-03-16 12:30] yspeedwicked commented on #14056
Coupon code also does not work for logged-in customer through webapi, on frontend it works fine.

magento-engcom-team any  updates?

[2018-03-16 12:37] woshka opened #14138 "Outdated package after upgrade sjparkinson/static-review is abandoned"
outdated package after upgrade

Package sjparkinson/static-review is abandoned, you should avoid using it. Use phpro/grumphp instead.
Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead.

### Preconditions

1. magento 2.12
2.

### Steps to reproduce

1. upgrade using composer
2.
3.

### Expected result

1. no warning

### Actual result

1. [Sc

[2018-03-16 12:45] studioworx-meniconi commented on #7624
Sorry to reopen and drag this but im having the same issue on a magento 2.2 with migration data. ive tried the method mentioned by @joebordo but doesnt seem to work as no old price is showing.

Any advice would be much appreciated.

[2018-03-16 12:56] Sil-B commented on #12176
@arronmoss we have exactly the same issue

[2018-03-16 13:00] arronmoss commented on #12176
@Sil-B no sorry, and no sign of steps to replicate so it's a very worrying situation to when this might reappear.

[2018-03-16 13:09] Sil-B commented on #12176
@arronmoss oke thanks. We've had this problem twice in one week. It appears out of the blue and was not caused by a setup:upgrade.

After deleting the promorule and a reindex everything works fine again.

[2018-03-16 13:14] ishakhsuvarov commented on #14135
In this case you may use auto generated `StoreExtensionInterface` to create one.
You may use `afterGetExtensionAttributes` plugin as documentation suggests or check if it's already exists when attempting to set data to the extension.

[2018-03-16 13:16] ishakhsuvarov commented on #14135
Unfortunately I have to close this issue as Github issue tracker is intended to be used only for Magento 2 core technical issues.
If you are looking for the discussion on the subject https://magento.stackexchange.com/ may be a more suitable place.

Thank you.

[2018-03-16 13:16] #14135 closed, assigned to nobody

[2018-03-16 13:18] ishakhsuvarov commented on #14138
Hi @woshka
Thank you for reporting.

There is a Pull Request which is going to fix it in `2.2.x` soon: https://github.com/magento/magento2/pull/14091

[2018-03-16 13:24] joinso commented on #14131
Related to Third party module.

[2018-03-16 13:24] #14131 closed, assigned to nobody

[2018-03-16 13:30] magento-engcom-team commented on #14137
@woshka ,thank you for your report.
We were not able to reproduce this issue by this steps.
*Steps to reproduce*
#  Go to Stores -> Attributes -> Product
#  Change language to persian
#  Try created attributes with persian label and code
 Can't save attribute. We got an error "Please use only letters (a-z), numbers (0-9) or underscore (_) in this field, and the first character should be a letter."

[2018-03-16 13:32] magento-engcom-team commented on #14132
@chandrakeshkumar
Thank you for your report. This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this. Otherwise you may submit Pull Request with the suggested changes.

[2018-03-16 13:32] #14132 closed, assigned to nobody

[2018-03-16 13:43] chandrakeshkumar commented on #14132
This is not correct behavior you can check this issue in Magento 1.9.x. Why it's working fine in Magento 19.x, and not in Magento2. Please share this issue with your core development team for review..

[2018-03-16 13:57] magento-engcom-team commented on #14131
@userName, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-16 14:01] fvschie commented on #4004
Awesome, I am glad to hear it! Thanks a lot.

[2018-03-16 14:05] kingshukdeb commented on #8957
This same issue exists with category too. When you try to update a category via API it doesnt create permanent redirect for old URL.

[2018-03-16 14:11] neillrobson opened #14140 "UI component definition.map.xml overlooks XSD-valid nodes"
### Preconditions

The issue was discovered in Magento 2.2.2 EE, but looks like it still exists in the 2.2-develop branch of this repository.

### Steps to reproduce

1. Create and configure a new UI form component with the following XML definition:

[code]

### Expected result

1. The XML should validate with the provided XSD files. (It does.)
2. When viewing the form in the browser, a dropdown s

[2018-03-16 14:20] magento-engcom-team commented on #10559
Hi @srenon. Thank you for your report.
The issue has been fixed in magento/magento2#12929 by @srenon in 2.2-develop branch
Related commit(s):
 - [1350c77193f939e40deea8101cf8fd6befde4abe](https://github.com/magento/magento2/commit/1350c77193f939e40deea8101cf8fd6befde4abe)
 - [33261e0b5096a249a0bd0a239a4c2b9f4cbfdc0c](https://github.com/magento/magento2/commit/33261e0b5096a249a0bd0a239a4c2b9f4cbfdc

[2018-03-16 14:20] #10559 closed, assigned to nobody

[2018-03-16 14:20] magento-engcom-team commented on #14010
Hi @webshouters. Thank you for your report.
The issue has been fixed in magento/magento2#14121 by @sidolov in 2.2-develop branch
Related commit(s):
 - [8cfffc1d479f88a09bdf84678e9b81531b275d7d](https://github.com/magento/magento2/commit/8cfffc1d479f88a09bdf84678e9b81531b275d7d)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-16 14:20] #14010 closed, assigned to nobody

[2018-03-16 14:20] magento-engcom-team commented on #13820
Hi @Pumppa. Thank you for your report.
The issue has been fixed in magento/magento2#14105 by @Frodigo in 2.2-develop branch
Related commit(s):
 - [2235f3e6301dd91a5dd1bcac7376fc75bc738fe9](https://github.com/magento/magento2/commit/2235f3e6301dd91a5dd1bcac7376fc75bc738fe9)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-16 14:20] #13820 closed, assigned to Frodigo

[2018-03-16 14:20] magento-engcom-team commented on #13988
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#13989 by @krzksz in 2.2-develop branch
Related commit(s):
 - [9eb3c6f5a00b12cde1b397bab983305acf568688](https://github.com/magento/magento2/commit/9eb3c6f5a00b12cde1b397bab983305acf568688)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-16 14:20] #13988 closed, assigned to rogyar

[2018-03-16 14:20] magento-engcom-team commented on #5463
Hi @maderlock. Thank you for your report.
The issue has been fixed in magento/magento2#13884 by @k4emic in 2.2-develop branch
Related commit(s):
 - [adab3e55ea7d0e6406e16d5798ce7ff5f230b7fe](https://github.com/magento/magento2/commit/adab3e55ea7d0e6406e16d5798ce7ff5f230b7fe)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-16 14:20] magento-engcom-team commented on #13231
Hi @hanxiangwu. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1258 by @serhii-balko in 2.2-develop branch
Related commit(s):
 - [0cabe58e64e89f8b1284a3ffb71593ad04d6e525](https://github.com/magento/magento2/commit/0cabe58e64e89f8b1284a3ffb71593ad04d6e525)
 - [0ad6208ddd87c9d27681418294e42c9c8af0e637](https://github.com/magento/magento2/commit/0ad6208ddd87c9d27681

[2018-03-16 14:20] #13231 closed, assigned to serhii-balko

[2018-03-16 14:20] EliasZ commented on #14135
@ishakhsuvarov Alright, seems like a weird design decision to make extensions responsible of handling the injection of  `ExtensionAttributesInterface` on `AbstractExtensibleModel`. Would make more sense to include it by default so we do not always require an extra interceptor to make sure it is there.

[2018-03-16 14:25] nmalevanec opened #14141 "Unable to Save Simple Simple Product after Converting it to Configurable and Back to Simple again ."
### Preconditions
1. Magento 2.2.3

### Steps to reproduce
1.  Navigate to admin.
2. Start creating simple product.
3. Add name, sku and price(double check price is entered)
4. Open "Configurations" tab.
5. Press "Create Configurations" button.
6. Go through process and generate some configurations.
7. After configurations have been generated, remove all products from "Current Variations" grid, so

[2018-03-16 14:30] magento-engcom-team commented on #14131
@joinso, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-16 14:30] magento-engcom-team commented on #14116
@Sathishkumar8731, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-16 14:30] EliasZ opened #14142 "ScopeOverriddenValue does not use ScopeResolver"
### Preconditions
Magento 2.2.3

### Steps to reproduce
- Define a custom `ScopeProviderInterface` for an entity type.

### Expected result
- Find out that when  you want to interact with your custom scoping, it is properly used in `Magento\Catalog\Model\Attribute\ScopeOverridenValue`

### Actual result
- In `ScopeOverridenValue` the scope is not resolved and the default (legacy) Magento behavior

[2018-03-16 15:00] Lapinou42 commented on #829
Hello,

After many hours of searching, I couldn't find a solution to get it working. I have the exactly same issue as @nyov . I'm using Magento 2.2.3. Un created a freshly integration, copie/paste my consumer key/secret and tried to get an access token. I get all the time a 401 error with : oauth_problem=Consumer+key+has+expired.

Is it fixed in 2.2.3 ? I guess yes. I don't understand what's wrong

[2018-03-16 15:08] PascalBrouwers opened #14143 "Allow to disable module via installer using enable_modules = all"
When installing via the installer you can use the options `disable_modules` and `enable_modules`
How it works now is that you need to list all modules in the `enable_modules` list if you want to be able to disable a module for install.

### Preconditions
1. Magento 2.4

### Steps to reproduce
1. Use a cli command to install magento with option enable_modules = all and disable_module
[code]

### Ex

[2018-03-16 15:11] ricarraf commented on #13258
Hi, Actually this is simple to solve. At this moment Magento is only searching results based on the email address, you have to query the database with the store ID and the email.

--

I would like to propose this fix to magento, how can I do that?

Regards,
Ricardo

[2018-03-16 15:35] cdiacon opened #14147 "Wishlist event save after unexpected behaivour"
I have created an observer to wishlist_save_before  event but it's never triggered anymore. Saving new wishlist event will never hit the wishlist save before/after events.

### Preconditions

1. Magento 2.2-develop
2. php 7.0
3. MySQL Version 5.7.21

### Steps to reproduce

1. Create a new customer.  New wishlist will be created against this new customer.
2. Create an observer to wishlist_save_bef

[2018-03-16 15:38] cdiacon commented on #14147
Found this line of code on this PR

https://github.com/magento/magento2/commit/f64f00987b582e8ee5be8af4454244c3cd34d1cb

[code]
But the wishlist object will be new only when the new customer account is created not when the new wishlist is saved.

[2018-03-16 15:43] hayatbiralem commented on #12986
There is the same problem in 2.2.3.

[2018-03-16 15:49] #14141 closed, assigned to nobody

[2018-03-16 15:53] #13660 closed, assigned to nobody

[2018-03-16 16:11] chrisgan commented on #14050
@magento-engcom-team

This is also a problem for upsell_skus and crossell_skus
The fix of adding a 'related_position' does fix the issue. Along with a upsell_position, and crosssell_position columns as required.

The problem comes if you are migrating data from M1. Mostly I saw the positions are either '0' or theres no value at all. So in these cases you have then create a position value for these

[2018-03-16 16:37] brandontamm commented on #7856
Do you guys have a primer on Magento's recommended usage of mapping via composer, or any documentation to show how to map files? particularly, how to map all files in a directory so we dont have to map each and every file?

[2018-03-16 16:39] magento-engcom-team commented on #6694
Hi @luukschakenraad. Thank you for your report.
The issue has been fixed in magento/magento2#14117 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [4ddb33631c67f2f3e128eb87f0188d1d102a0ca2](https://github.com/magento/magento2/commit/4ddb33631c67f2f3e128eb87f0188d1d102a0ca2)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-16 16:39] magento-engcom-team commented on #5808
Hi @peec. Thank you for your report.
The issue has been fixed in magento/magento2#14098 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [ab695e07f14d2176f815371e5cadd33469815923](https://github.com/magento/magento2/commit/ab695e07f14d2176f815371e5cadd33469815923)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-16 16:39] magento-engcom-team commented on #4173
Hi @adrok. Thank you for your report.
The issue has been fixed in magento/magento2#14096 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [1a8e4a56988238ea3947ea61337d3987fd9af10d](https://github.com/magento/magento2/commit/1a8e4a56988238ea3947ea61337d3987fd9af10d)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-16 16:47] hostep commented on #7856
@brandontamm, see documentation over here: https://github.com/magento/magento-composer-installer

To see some examples, you can take a look at the file: `vendor/magento/magento2-base/composer.json` (not available in the git repo, only after setting up a magento2 project using composer).

[2018-03-16 17:26] jjcsinke commented on #5929
I found this somewhere else:
https://github.com/olegkoval/magento2-regenerate_url_rewrites/tree/master/Console/Command

seems to work OK.

[2018-03-16 17:53] VladimirZaets commented on #14140
Hi, @RNanoware.
The better solution for fix this issue is to change XSD schema for validating cases when common properties are placed inside `formElement`.

Firstly, we should have the same lists of elements that we can use as `formElement` because for now, they are different.

[formElements list inside ui_configuration.xsd](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Ui/

[2018-03-16 18:13] pjw345 opened #14148 "Magento 2.2.3 widget_form_element_dependence textarea required"
If you have a form that has a widget_form_element_dependence and one of the fields is a textarea field that is required in one of the sets, it doesn't ignore the required field if it's currently not in the active list of fields

### Preconditions

1.  Magento 2.2.3
2. PHP 7.0.28

### Steps to reproduce

1. Create a Form with a widget_form_element_dependence
2. Form has for example a select and var

[2018-03-16 18:37] guidokudo opened #14149 "Magento ver. 2.1.11 "Stores" -->"Configuration" --> "General" / "Design" Does not exist"
**Preconditions**
I know this sounds like the popular issue, like "I can't see theme options under Design" and I know it was moved to "Content". But in my case I don't have Design under General at all... This issue is on  Magento ver. 2.1.11 (Community).

**Steps to reproduce**
1. Installed Magento ver. 2.1.11, Apache 2.4, PHP 7.0.28, MySQL 1st Gen 5.6
2. Logged in to Magento admin panel.
3. Follo

[2018-03-16 18:44] bentintoshape opened #14150 "Google Verification Code disappears"
Google Merchant Center Verification code was in code last week.  Now it's gone.   No one removed it.  How could it "JUST DISAPPEAR"???????

Magento Cloud 2.2.2

### Steps to reproduce

1.  Grab a magic wand, tap the top of your computer with it and make HTML TAG disappear.
2.  I have no idea how to reproduce it.   Tag was there and now it's not.
3.

### Expected result

1.   Once the TAG is there

[2018-03-16 20:58] treii28 commented on #4687
I'm running into this on 2.2.2 with a varnish cache setup

[2018-03-16 21:06] j3ch opened #14152 "Security: oauth_callback_confirmed missing from Request Token Response"
According to the OAuth 1.0 Rev A Spec: https://oauth.net/core/1.0a/, request token response should include oauth_callback_confirmed=true

This is added in Rev A, which is to address a session fixation attack (https://oauth.net/advisories/2009-1/). Magento should verify the callback URL before issuing request tokens. This also prevents user from using any library implemented to the new spec.

### P

[2018-03-16 21:47] snackbar65 commented on #7624
After upgrading from Magento 2.1 to  2.2.3 the solution of @joebordo stopped working. Also, when a child product is selected on the product page, the old price is not showing anymore.

[2018-03-16 22:11] techani21 commented on #14130
Please put on the screenshot.
Did you try with enable all module ?

[2018-03-16 22:28] ishakhsuvarov commented on #14140
Hi @RNanoware
Would you like to submit a Pull Request with a fix for this problem? It will speed up delivery in the scope of future patch releases.

[2018-03-16 22:32] ishakhsuvarov commented on #14152
Hi @j3ch
Thank you for reporting.

Please report security issues via [Magento Security Center](https://magento.com/security) "Report Security Issue" section.

Thank you for collaboration!

[2018-03-16 22:32] #14152 closed, assigned to nobody

[2018-03-16 22:36] ishakhsuvarov commented on #14150
Hi @bentintoshape
According to the report you are using

Please report Cloud Edition issues to the relative support contact.

Thank you for collaboration.

[2018-03-16 23:59] guidokudo commented on #14149
Ok, my bad,  everything is in Content-->Configuration, then you have to choose store-view, for which you want configs.

[2018-03-16 23:59] #14149 closed, assigned to nobody

[2018-03-17 00:26] milansimek commented on #13305
@magento-engcom-team Hi, Sorry for the delayed response. I have been quite busy, will post more detailed instructions to reproduce soon.

[2018-03-17 00:30] milansimek opened #14153 "UI Component listing action column outside of screen when too many columns"
### Preconditions

1. Magento 2.x
2. Google Chrome 65 (maybe previous versions also)

### Steps to reproduce

1. Edit cms_page_listing.xml
2. Add the following snippet to the columns tag:
[code]

3. Clear cache and empty `ui_bookmark` table
4. Go to CMS page listing
5. Resize screen to 1200px wide
6. Scroll to the right to the actions column
7. Click on it

### Expected result

The dropdown menu s

[2018-03-17 04:56] #13888 closed, assigned to nobody

[2018-03-17 07:36] nfourteen commented on #13228
@magento-engcom-team I was about to report this issue too and can confirm this occurs in Magento Open Source 2.2.2 as well.

I replaced the following lines in Magento\CatalogWidget\templates\product\widget\content\grid.phtml

[code]
with:
[code]

This does fix the layout problem for the Magento\CatalogWidget\Block\Product\ProductsList widget for all media query breakpoints. Please let me know if y

[2018-03-17 07:56] chandrakeshkumar commented on #14132
@sidolov, @orlangur and **UX** team What do you think? Please review this issue step by step. I am working on 3-5 projects in a one day.

I facing redirection issue every time when session expired or log out any tabs. Then all tabs automatically go to dashboard after login. and I need to open all tabs again. this is too much time taken the job.

Everything working fine in Magento 1.9.x version.

T

[2018-03-17 08:33] sergei-sss opened #14155 "2.2.3 CE: error on tax rates step for setup:perf:generate-fixtures"
### Preconditions
1. Magento  2.2.3 CE (clear composer installation)
2. PHP 7.1.15-1, mysql  Ver 15.1 Distrib 10.2.13-MariaDB

### Steps to reproduce
1.  try generate extra-large set from setup:perf:generate-fixtures

### Expected result
1. Data will be successfuly generated

### Actual result
1. Error on "Generating tax rates..." step.
https://drive.google.com/file/d/1QMrCHu9godNmwKv89aXAGMXxksyV

[2018-03-17 10:20] magento-engcom-team commented on #13685
Hi @kirmorozov. Thank you for your report.
The issue has been fixed in magento/magento2#13688 by @kirmorozov in 2.3-develop branch
Related commit(s):
 - [c36fb765a26f91a92bddfc23c65766fbc561e9ec](https://github.com/magento/magento2/commit/c36fb765a26f91a92bddfc23c65766fbc561e9ec)
 - [b21f2a6dd30d79cb0bd0e782caab202834b57655](https://github.com/magento/magento2/commit/b21f2a6dd30d79cb0bd0e782caab20

[2018-03-17 10:23] ioweb-gr commented on #13112
@gilbertsohal  I'm on a 2.2.3 installation and it's still occurring for me.

[2018-03-17 10:40] magento-engcom-team commented on #10559
Hi @srenon. Thank you for your report.
The issue has been fixed in magento/magento2#12928 by @srenon in 2.1-develop branch
Related commit(s):
 - [155f91c71dba48f3b27f86364a15675b7ab321c7](https://github.com/magento/magento2/commit/155f91c71dba48f3b27f86364a15675b7ab321c7)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-17 10:40] magento-engcom-team commented on #3489
Hi @Grohotun. Thank you for your report.
The issue has been fixed in magento/magento2#14151 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [a676af86fe11a6bc1ecf4e46fe413afeef4ac14f](https://github.com/magento/magento2/commit/a676af86fe11a6bc1ecf4e46fe413afeef4ac14f)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-17 11:05] kvydiuk opened #14159 "Change product position under category doesn't works"
### Preconditions

1. Magento 2.1.8
2. PHP 7
3. nginx
4. mysq
5. varnish

### Steps to reproduce

1. Login to admin panel
2. Set all indexers in "Update By Schedule" mode
3. Go to category with already assigned products
4. Change product position

### Expected result

1. Product position is changed on category view page on FE

### Actual result

1. Product position is not changed on category view

[2018-03-17 11:56] simonmaass commented on #14126
i have the same issue with 2.2.3

[2018-03-17 13:47] goeword commented on #5479
Hi,

I am experiencing same issue on my checkout page here, it shows: An error occurred on the server. Please try to place the order again.

Google chrome browser is showing following message:

/rest/english/V1/guest-carts/d78c1ba71d139a97e903304366505e3a/payment-information Failed to load resource: the server responded with a status of 400 (Bad Request)
VM5311:2 POST https://brands-hub.com/rest/e

[2018-03-17 13:48] goeword commented on #5479
Hi,

I am experiencing same issue on my checkout page here, it shows: An error occurred on the server. Please try to place the order again.

Google chrome browser is showing following message:

/rest/english/V1/guest-carts/d78c1ba71d139a97e903304366505e3a/payment-information Failed to load resource: the server responded with a status of 400 (Bad Request)
VM5311:2 POST https://mydomain.com/rest/eng

[2018-03-17 14:00] logicallimit commented on #5517
Any suggestion from Magento core team. I am getting it on my Magento 2.2.2 based website. I have disabled use of SID in admin panel. Please give some concrete solution. If you need to see the url of my live website, I can share here.

The problem is that it looks very bad in u of homepage and also in our google adwords and analytics, every url with a unique id is considered as a new url.

[2018-03-17 15:07] hostep commented on #5517
@logicallimit: please see the issue progress over here: https://github.com/magento/magento2/issues/9453
It looks like the fix is going to be included in Magento 2.2.4. The commit which should fix the issue (not tested by myself): https://github.com/magento/magento2/commit/38720ea0920622b8b66e2b576ea7d630ff9294c1

[2018-03-17 16:51] ericvhileman commented on #10650
We wrote an extension to fix these bugs, speed up performance, and control the execution of tasks: https://github.com/magemojo/m2-ce-cron

[2018-03-17 16:52] ericvhileman commented on #5836
We wrote an extension to fix these bugs, speed up performance, and control the execution of tasks: https://github.com/magemojo/m2-ce-cron

[2018-03-17 16:58] RNanoware commented on #14140
I would certainly be glad to put together a patch for this issue. I may not get around to it immediately due to my schedule, so if anyone else wants to grab it, they can also feel free!

[2018-03-17 17:00] ericvhileman commented on #11002
We wrote an extension to fix these bugs, speed up performance, and control the execution of tasks: https://github.com/magemojo/m2-ce-cron

[2018-03-17 18:19] ishakhsuvarov commented on #14140
@RNanoware Thanks!

[2018-03-17 20:23] sudaifhaider commented on #14046
Thanks for your response. Now I am getting some different error.

I created one simple product added customizable options.
1. file
2. radio buttons.

But while uploading file and adding the product i get below error:
Cannot read contents from file "/tmp/opt/bitnami/php/tmp/phpycj8my" Warning!file_get_contents(/tmp/opt/bitnami/php/tmp/phpycj8my): failed to open stream: No such file or directory
bel

[2018-03-17 20:44] ci2014 commented on #13763
@ravishukla007 Same issue here.

[2018-03-17 21:12] jignesh26 commented on #6803
Thanks for the update @szpadyzor

[2018-03-17 21:17] acejakk commented on #10588
This bug is affecting me aswell in Magento 2.2.2 CE.

[2018-03-17 22:54] ricarraf commented on #13258
I've made a pull request for solve this...
I am not sure if I've done it right since it is my first contribution to this project.
The pull is: https://github.com/magento/magento2/pull/14162

Regards.

[2018-03-18 00:37] pblicharz opened #14163 "Cannot Import Products with Default Import Tool"
I am having a problem with product import feature on magento 2.2.2. When I import properly configured file, I get no such entity.

please see: https://www.screencast.com/t/CoVrtxpmW

Could you please assist?

Magento 2.2.2
PHP 7.0
New Instal
Theme from Template Monster #62000

### Steps to reproduce
1. please see: https://www.screencast.com/t/CoVrtxpmW

### Expected result
1. Usually the import wi

[2018-03-18 00:43] nyov commented on #829
As a note from myself; I've stopped working with Magento2 since, so didn't have a chance to re-check on this issue. I can't say whether it was resolved. Sorry.

[2018-03-18 03:12] nedge2k commented on #13604
This is an issue for me too. For example, in automotive products, a "water pump belt" for one engine can be completely different to another engine. I generally have my URL structure as "domain.tld/engine-name/part-category/part-name/"

[2018-03-18 06:34] fluential commented on #12983
@magento-engcom-team  Let's face it the Temando module is buggy, I have exactly same issue happening but unfortunately I don't have a reliable way to reproduce. The only way to fix it is to disable it. Can you make sure to track this bug internally and perhaps more details will be provided soon?

[2018-03-18 06:56] logicallimit commented on #5517
Thanks @hostep for the update. However, I will be really grateful if you know about any workaround for this for Magento 2.2.2 and can share here. I have tried the ones suggested in this forum and others available on other websites that suggests to modify the .htaccess file. My website uses https://www. pattern. I have used this in both secured and unsecured url in Magento Admin also. The solution

[2018-03-18 07:01] Anantkprajapati commented on #10531
Working fine reindexing with 4,00,000 in magento 2.1.9 after change @ashuston comment.

thanks guys

[2018-03-18 09:59] Vinai commented on #9068
Sorry for the inactivity @maghamed and @ishakhsuvarov  - I missed the notification for your first reply. Too many notifications from the M2 github. Since it seems like you already have taken care of the issue I believe you did right to close it. Thanks for your work!

[2018-03-18 10:08] hostep commented on #5517
@logicallimit: this is from memory, but I think the above RewriteRule doesn't work when you go to the bare domain name (not 100% sure though). Maybe this will work better:

[code]

If that doesn't work, maybe try out the [suggestion from @jaywilliams](https://github.com/magento/magento2/issues/5517#issuecomment-278797107), the first couple of lines, it looks fine as well.
But it all comes down to

[2018-03-18 12:37] Grohotun commented on #3489
@magento-engcom-team wil be this issue also updated on 2.1+ versions?

[2018-03-18 12:48] Grohotun opened #14166 "Jmeter error"
Using benchmark.jmx from CE setup/performance-toolkit folder

`jmeter.bat -n -t benchmark.jmx -j jmeter.log -l jmeter-results.jtl -Jhost=XXXXXX -Jbase_path=/ -Jadmin_path=backend -JsetupAndTearDownThread=10 -Jramp_period=300 -Jusers=1000 -Jorders=100000 -Jadmin_user=admin -Jadmin_password=XXXXXX -Jrequest_protocol=https`

After small time test fails.

On jmeter.log I can see error:

### Small inve

[2018-03-18 13:28] gawpo50 opened #14167 "Invalid scope or scope id"
### Preconditions

1. Unable to load and save new logo image....get this error on save........Invalid scope or scope id
2. Magento version 2.2.0 thru 2.2.3

### Steps to reproduce

1. Login to backend
2. Click on Content->Configuration
3. Select store
4. Click upload logo image button
5. Choose logo image
6. Click Save button
7. Get error.....Invalid scope or scope id

### Expected result

1. I ex

[2018-03-18 14:05] breg-13 commented on #14159
Also seems this issue causes all indexers (catalogsearch_fulltext, catalog_product_price_indexer, etc)

[2018-03-18 14:06] mjf10 commented on #8522
I'm having the same issue in 2.2.2. I get several orders each day that show as "Pending" but nothing was ever passed to the gateway (authorize.net)

[2018-03-18 14:26] Dx3webs commented on #10165
I am seeing the same issue on 2.2.3.. the vcl config posted above works.. while that generated by magento does not

[2018-03-18 15:04] QKChris commented on #13774
@magento-engcom-team Hello, can you tell me the approximate time of the problem be solved?

[2018-03-18 15:59] snackbar65 commented on #9377
After upgrading to Magento 2.2.3 the fix by @wenpingguo no longer works.

[2018-03-18 23:10] gawpo50 commented on #14167
Have done several fresh re-installs of Magento 2.2.3 and get the same error each time when trying to upload a new store logo. So the problem is repeatable.

[2018-03-19 00:05] nfourteen commented on #14167
@gawpo50 I don't have a fresh install, so I couldn't test this. If you look at the URL, it should contain `edit/scope/stores/scope_id/1/` or the like. The `Magento\Theme\Controller\Adminhtml\Design\Config\Save` controller gets the scope parameter from the URL and then tries to load the `$desingConfigData` with that id. Before the data is loaded, there's a check to ensure there's a valid scope (thi

[2018-03-19 00:47] gawpo50 commented on #14167
1. Website name has not changed
2. Have done several fresh installs of Magento
3. Using the default Luma theme on all store views
4. Still getting the same error

I don't have a clue what to do now

[2018-03-19 01:38] nfourteen commented on #14167
@gawpo50 I ran a `whois` on your site and saw you're using GoDaddy. This seems to be an issue on their end as per the following reported issues: [#14025](https://github.com/magento/magento2/issues/14025), [#13875](https://github.com/magento/magento2/issues/13875)

From what I see in your screenshot above, there are no URL params present. These have to be set in the URL, otherwise you'll keep getti

[2018-03-19 01:48] GraysonAstral commented on #6803
Thanks for @Szpadyzor ,but Actually the code in my project didn't work .
I created a new Repo to fix  this problem , It always work find in my project.
Can any one give me some suggest ? I am a new in Magento 2 .

here is the Repo link , but just have Chinese version ..
[https://github.com/GraysonAstral/ProductImageFix](https://github.com/GraysonAstral/ProductImageFix)

[2018-03-19 02:20] gawpo50 commented on #14167
![store-code](https://user-images.githubusercontent.com/37498213/37574907-034335a0-2b74-11e8-9393-12815b08333c.jpg)

Screenshot as you requested

[2018-03-19 02:40] nfourteen commented on #14167
Can you get a hold of the PHP error logs and see if anything is reported there? Also, if you have PhpMyAdmin, find the `core_config_data` table and run a search on `design/theme/theme_id` and see what rows are returned. Or, if you have access to the **SQL** tab, you can run `SELECT * from core_config_data WHERE path = 'design/theme/theme_id';`. Directions here: [http://support.hostgator.com/articl

[2018-03-19 03:15] gawpo50 commented on #14167
This is a screenshot of what got returned from the SQL Query:

![](https://user-images.githubusercontent.com/37498213/37574907-034335a0-2b74-11e8-9393-12815b08333c.jpg)

[2018-03-19 03:52] nfourteen commented on #14167
So with that I'm at a loss. The scope should be resolved and valid. The last thing would be the PHP error log. I have one last idea to check there. Search for `\Magento\Framework\App\ScopeResolverInterface` in them.

[2018-03-19 07:45] Szpadyzor commented on #6803
@GraysonAstral 404 on link.

[2018-03-19 08:14] GraysonAstral commented on #6803
@Szpadyzor Thanks , I modify the repo to public . Now it's Available.

[2018-03-19 08:38] gixid192 commented on #2146
This can be reproduced with a fresh installation, however, Magento fixed it in 2.2.x
Magento fixed the vendor/magento/module-ui/view/base/web/js/form/element/select.js file (line 40)
`parseOptions` function.
An alternative way for the lower versions is to change `vendor/magento/module-directory/Model/ResourceModel/Country/Collection.php` (line 240) at the end of function `toOptionArray`  ![fix](ht

[2018-03-19 08:47] namratavora commented on #2146
@au00433276 , @gritdigital-mibu ,

Yes, the issue is been fixed in Magento version 2.2.2

[2018-03-19 08:51] ishakhsuvarov commented on #14155
Hi @sergei-sss
Thank you for reporting.
We have tried to reproduce with the clean installation and it didn't fail.

Are you attempting to generate entities on a clean database or does it have some data already? Did you use the store while generating? Maybe some cron jobs?

Also, we advise to do all performance-related tasks (including generation) with xdebug extension disabled.

[2018-03-19 09:12] orlangur commented on #13604
@nedge2k as far as I remember, from URL Rewrites perspective there will be no error for "water pump belt" URL Key autogenerated in different categories. Probably there is stricter check during import which mandates any URL Key to be generated only once to avoid heavy check for URL Key uniqueness in every store.

[2018-03-19 09:14] Rudoslav commented on #2786
I have encountered the same problem in the 2.2.1. Store view switch works on home page, but redirects to the default store view on any other page.

[2018-03-19 09:14] ioweb-gr commented on #14076
After further troubleshooting it was a usage error on my part. Just changing the configurable product from "This product has no weight" to "this product has weight" isn't enough. You need to do it on all simple product variations as well in order to see the changes on the checkout because the simple products are the ones that actually get added to the cart.

Thanks for checking it out and helping

[2018-03-19 09:14] #14076 closed, assigned to nobody

[2018-03-19 09:41] Vikram0811 opened #14171 "Magento 2.2.2 - Tablerates not working on Cart Page"
I am using `Tablerates` as my shipping method and the condition is set to `Price vs Destination`.

**Use case One**

    Free Shipping over $200

**Use case Two**

    If zip code falls under Zone 1 i.e. 28682-28685, `$20` flat rate shipping fee

**Use case Three**

    If zip code falls under Zone 2 i.e. 28360-28365, `$50` flat rate shipping fee

 Below is how my CSV looks like

    Country   Reg

[2018-03-19 09:49] VincentMarmiesse commented on #13511
FYI we had the same issue on a 2.2.3 without Redis nor Varnish.
It was quite random but the steps where the same :

1. Add a product to cart
2. Go to shopping cart page
3. Shopping cart page says the cart is empty.

Disabling SID resolved the issue (for the moment at least).

[2018-03-19 10:03] sergei-sss commented on #14155
Ok, I will try generate again without xdebug.

[2018-03-19 10:03] Lapinou42 commented on #829
Well, thank you @nyov for your reply ;)

[2018-03-19 10:04] PieterCappelle commented on #13983
@dmanners Can you assign import/export label to this one?

[2018-03-19 10:06] ishakhsuvarov commented on #14155
@sergei-sss Thanks. You may also try to launch generation process again, it is supposed to continue where it left stopped.

[2018-03-19 10:30] magento-engcom-team commented on #14140
@RNanoware, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-19 10:55] vy-shmal commented on #11526
Are you running XAMPP in administration mode.  Because I had the same issue and solved it by  re running XAMPP as administrator, restart processes and redeploy static content.

[2018-03-19 11:09] dmanners commented on #13983
Hey @PieterCappelle I have added the label. I am fairly sure that this is a duplicate of an issue we have in the import/export project (https://github.com/magento-engcom/import-export-improvements). Pieter could you have a look through the issues and link the duplicate and close this issue for me.

Thank you.

[2018-03-19 11:56] jonathanKingston opened #14172 "Remove use of setTimeout eval"
### Preconditions
1. Using 2.3-devel

### Steps to reproduce

Call sites like:
- app/code/Magento/Integration/Controller/Adminhtml/Integration/LoginSuccessCallback.php
  - Should be replaced for `function () {...}`
- app/code/Magento/Ui/view/base/web/js/lib/view/utils/raf.js
  - Should throw if the callback isn't a function

This bug should audit if throwing causes issues in callsites that accept

[2018-03-19 12:10] jonathanKingston commented on #14172
Optionally this commit could also include adding `'use strict'` to all JS files and removing `arguments.callee`. Both `arguments.callee` and string eval prevent the use of strict mode.

[2018-03-19 12:16] Szpadyzor commented on #6803
@GraysonAstral still don't know why you want to overwrite core magento mechanism. I gave you working solution.

And what does it mean that "code in my project didn't work" ? Some exception is thrown or what?

[2018-03-19 12:43] magento-engcom-team commented on #14118
@sunilit42 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-19 12:57] ishakhsuvarov commented on #14171
Hi @Vikram0811
Thank you for reporting.

Could you please attach logged exception, which happened during the `/rest/default/V1/carts/mine/totals-information 500 (Internal Server Error)` request?

[2018-03-19 13:21] kvydiuk opened #14175 "Braintree online refund issue"
### Preconditions

1. Magento 2.1.8
2. nginx/1.10.3
3. 10.0.34-MariaDB
4. PHP 7.0.22

### Steps to reproduce

1. Create two websites
2. Set two different Braintree account credentials for different websites
3. Place order with Braintree payment method in website that is not default
4. Go to order in admin panel
5. Select "Invoices" tab
6. Press "View" invoice
7. Go to "Credit Memo"
8. Press "Refun

[2018-03-19 13:30] magento-engcom-team commented on #14159
@breg-13 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release(for 2.1.x is 2.1.12).

[2018-03-19 13:39] joost-florijn-kega commented on #14049
@pemann,

That commit doesn't fix it, because the header isn't replaced but just added to the headers of the response. Only the first header with the same name is return:
https://github.com/zendframework/zend-http/blob/master/src/Headers.php#L257

I have created a pull request to fix this issue:
https://github.com/magento/magento2/pull/14176

[2018-03-19 13:40] Vikram0811 commented on #14171
Hi,

The response I get

`{"messages":{"error":[{"code":500,"message":"Fatal Error: 'Uncaught TypeError: Argument 1 passed to Magento\\Quote\\Model\\Cart\\Totals::setExtensionAttributes() must be an instance of Magento\\Quote\\Api\\Data\\TotalsExtensionInterface, instance of Magento\\Quote\\Api\\Data\\AddressExtension given, called in \/home\/storeq\/public_html\/vendor\/magento\/framework\/Api\/D

[2018-03-19 14:04] magento-engcom-team commented on #14046
@sudaifhaider , thanks for your update. We not reproduced this issue on fresh installation. Please tried to reproduced on fresh installation without any third party code.

[2018-03-19 14:39] mzeis commented on #10146
Hi,

I'm re-opening this in accordance with @paliarush. This is an acknowedlged bug and tracked in MAGETWO-85859.