[2022-09-13 13:01] leonhelmus opened #36136 "Product Alert Adding custom CMS blocks to mail template"
### Preconditions and environment

- Magento 2.4.4-p1
- php 8.1

### Steps to reproduce

1. Go to backend
2. Create a cms block (Content > Blocks) > Add new Block > Edit with pagebuilder
3. Add element named a HTML code
[code]
4. add identifier "custom"
5. Enable back in stock
6. Go to marketing > Email templates
7. Add new template > load template "Stock Alert"
8. Add this in the content {{block

[2022-09-13 13:38] engcom-November commented on #35183
Hi @dphilipps
As I can see this issue got fixed in the scope of the internal Jira ticket AC-2619 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2619&type=commits
Based on the Jira ticket, the target version is 2.4.6.
Thank you.

[2022-09-13 13:43] dphilipps commented on #35183
Hi @engcom-November
That's good news, and thanks - I appreciate the update.

Dave.

[2022-09-13 13:47] engcom-November commented on #34337
Hi @lphilippo
As I can see this issue got fixed in the scope of the internal Jira ticket AC-1486 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-1486&type=commits
Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-13 13:56] engcom-Hotel commented on #33889
Hello @<reporter>,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-1000 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-1000&type=commits

Based on the Jira ticket, the target version is 2.4.4.

Thanks

[2022-09-13 14:29] engcom-Delta commented on #35494
Hi @johnybk08

The issue was already fixed and merged in Inventory develop branch [PR](https://github.com/magento-commerce/inventory/pull/247).

Thanks.

[2022-09-13 14:30] engcom-Hotel commented on #34058
Hello,

We have tried to reproduce the aforementioned issue on the latest 2.4-develop code base & were unable to do so.

Please find the steps followed to reproduce & associated screenshots below for reference.

1. Admin - Marketing - Cart Price Rules - Add New Rule - Create Specific Coupon , Customer Groups - All except "Not Logged In" (exclude "Not Logged In")

Set Uses per Coupon, Uses per Cust

[2022-09-13 14:37] saran2108 commented on #35494
Hi @engcom-Delta

Please share patch for this fix, Shared develop branch [PR](https://github.com/magento-commerce/inventory/pull/247) not able to access showing 404

[2022-09-13 14:47] kanevbg commented on #9695
@domeglic As far as I understand, the solution you provided should work only for varnish FPC, but it wont work for the build-in caching as the "no cache" headers will not prevent storing the cache in the backend storage (eg redis), can you confirm?

[2022-09-13 14:49] gwharton commented on #33756
https://github.com/magento give me 2.4-develop instance

[2022-09-13 14:50] gwharton commented on #33756
@magento give me 2.4-develop instance

[2022-09-13 14:58] lano-vargas commented on #29635
Ahahha that's convenient the issue was created 2020 2 years ago on version 2.3.5 Obviously. I haven't test it on 2.4 back them not sure if it was available yet! Thanks for fixing the issue on 2.4 versions.

[2022-09-13 15:26] kanevbg commented on #9695
@domeglic On practice you are right, it seems to works for built-in type too, because of that implementation: `\Magento\Framework\App\PageCache\Kernel::process`, what will happen is to save the cache to the FPC storage with lifetime 0 which should practically delete it from the storage.

[2022-09-13 16:15] colinmollenhour commented on #34758
The session supports disabling locking in the config so if you can figure out how to update the config in this context that would work: https://github.com/colinmollenhour/php-redis-session-abstract/blob/b70508a9b2183d4fc13871cf9138a52fbef776f3/src/Cm/RedisSession/Handler/ConfigInterface.php#L131

[2022-09-13 19:53] posdevworks commented on #9640
Are there any fixes to this? Encountering this issue on Magento 2.3.7

[2022-09-13 20:26] rafaelpatro opened #36137 "Mutation deletePaymentToken just disables and hide instead of deleting?"
**Pre Conditions (*)**
Magento 2.4-develop with Credit card payment and vault enabled.

**Description**

I'm having some issues with disabled tokens.
And I figured out the repository for tokens never deletes the registries. Actually they are just disabled by setting visibility and activation flags to zero.

https://github.com/magento/magento2/blob/7c6b6365a3c099509d6f6e6c306cb1821910aab0/app/code/

[2022-09-13 21:47] antoniocarboni opened #36138 "PHP 8.1 not supported because wrong dependency for friendsofphp/php-cs-fixer"
### Preconditions and environment

- Magento version: 2.4.5
- PHP 8.1

### Steps to reproduce

Copy metapackage composer.json and run composer update on php 8.1

### Expected result

composer update complete the update process

### Actual result

Composer fail with this error:
`- symfony/process[v5.0.0, ..., v5.0.8] require php ^7.2.5 -> your php version (8.1.0) does not satisfy that requirement.

[2022-09-13 22:00] shocker178 opened #36139 "Unable to reindex Product Prices in m"
### Preconditions and environment

- Magento version 2.4.4
- Have migrated data from Magento 1.9.3.8 store
- No customisations of installation, no changes made in Magento admin

### Steps to reproduce

1. Run php bin/magento indexer:reindex catalog_product_price

### Expected result

`Product Price index has been rebuilt successfully`

### Actual result

Error:
[code]

### Additional information

[2022-09-14 05:22] engcom-Delta commented on #36134
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:**

While sending the invoice mail , mail was sent and  an error is showing in the system.log file.

**Pre-requisite:**

1. Magento 2.4.x CE

**Steps to reproduce:**

1. Create a order from frontend
2. Create a invoice for the order
3. Send the mail from invoice
4. Checked in system.log file

**Expec

[2022-09-14 06:06] engcom-Dash commented on #36106
@magento give me 2.4-develop instance

[2022-09-14 06:12] t-heuser opened #36140 "[GraphQL] Price and Category Aggregation Labels are not translated"
### Preconditions and environment

- Magento version: 2.4.5
- A store view with any language thats not english

### Steps to reproduce

Execute the following graphql query:
[code]

This query fetches all available aggregations (filters) and the labels for them.

### Expected result

I would expect all labels to be translated into the language of the store (german in my case).
[code]

### Actual re

[2022-09-14 06:12] oneserv-heuser commented on #36140
@magento give me 2.4-develop instance

[2022-09-14 06:20] oneserv-heuser commented on #36140
I can confirm the issue on a magento vanilla instance.
I set the language for the store to german and translated the labels for the attributes price and color.
Price and category are still in english while color is in german now.

[2022-09-14 06:33] engcom-Dash commented on #35997
@magento give me 2.4-develop instance

[2022-09-14 07:05] engcom-Dash commented on #36106
Hi @mohammadbharmal ,

We are trying to reproduce the issue in 2.4-develop branch.But we are not able to reproduce the issue.
Imported product should be a in-stock with the backorder.

**Screenshots:**
![Screenshot from 2022-09-14 12-29-30](https://user-images.githubusercontent.com/60198592/190084394-2d118f56-66e9-4e8a-bf35-1be706875a9d.png)
![Screenshot from 2022-09-14 12-25-28](https://user-imag

[2022-09-14 07:35] engcom-Dash commented on #35997
Hi @DiegoItaly ,

This Issue is Duplicate [https://github.com/magento/magento2/issues/35602](https://github.com/magento/magento2/issues/35602)

Here i provide the Jira Link your Reference:
Jira Link: https://jira.corp.magento.com/browse/AC-5969

Thanks!!!

[2022-09-14 07:48] rogerdz commented on #35901
It was fixed in commit https://github.com/magento/magento2/commit/29f065842df8485c6300c4056eac134dfaa906c6

[2022-09-14 07:56] engcom-Dash commented on #36103
Hi @JamesFX2 ,

Thanks for your contribution...

Are you using Custom script or Official script for the Migration process?...May be the issue with Migration From M1 to M2  as well  as this issue is not the Part of core magento.

Shall we close this issue???

Thanks

[2022-09-14 08:14] mohammadbharmal commented on #36106
Hello @engcom-Dash,

Thank you for work on this issue.

I'll try on the above instance and will back to you.

[2022-09-14 08:14] engcom-Lima commented on #36052
Hi @jancyceymox ,

This issue is duplicate of this issue -https://github.com/magento/magento2/issues/35971.
Hence,closing this issue.

Thanks

[2022-09-14 08:14] #36052 closed, assigned to engcom-Delta

[2022-09-14 08:31] engcom-Bravo commented on #36097
@magento give me 2.4-develop instance

[2022-09-14 09:18] devchris79 commented on #36138
We have our Composer require set to friendsofphp/php-cs-fixer": "^2.18"
Its then grabbing v2.19.3, so I guess that must be the best version that works with everything else.

[2022-09-14 09:22] cafefin commented on #34764
@magento give me 2.4-develop instance

[2022-09-14 10:00] engcom-November commented on #34397
Hello @bgorski
As I can see this issue got fixed in the scope of the internal Jira ticket AC-1536 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC1536&type=commits
Based on Jira, target version is 2.4.5
Thank you.

[2022-09-14 10:06] cafefin commented on #34764
I can reproduce this issue . Tried login as 2nd Store customer but magento direct to 1st store view
Customer Account Information:
![image](https://user-images.githubusercontent.com/33374759/190125470-47752e2a-e8de-4b68-9f46-aaada305e406.png)
When login as customer :
![image](https://user-images.githubusercontent.com/33374759/190125705-5f15c075-fa8e-4dc6-a89c-c307c9b25dac.png)

[2022-09-14 10:15] engcom-November commented on #35335
Hi @magentix
As I can see this issue got fixed in the scope of the internal Jira ticket AC-2892 by the internal team
Related commits: d0e6289cc682de0024f531bc508499c4b3f2dc26 and 7f6bbfdf0f797e8af7971ce2893ffc721dcd5ea3
Based on Jira, target version is 2.4.5
Thank you.

[2022-09-14 10:15] engcom-Bravo commented on #36128
@magento give me 2.4-develop instance with EE

[2022-09-14 10:32] engcom-Bravo commented on #36128
@magento give me 2.4-develop instance 2.4.3-p1 with EE

[2022-09-14 10:33] engcom-Hotel commented on #35910
Hello @real34,

Thanks for the response!

Based on your comment, we have tried to reproduce the issue in Magento 2.4-develop branch. And the issue is reproducible for us. It seems that there is a mismatch in comment vs functionality. In the comment, it is written that the `getting EAV attribute option value by option id` but actually it is getting by `value_id` in the `get` method of `app/code/Mag

[2022-09-14 10:34] engcom-Bravo commented on #36128
@magento give me 2.4-develop instance with edition EE

[2022-09-14 10:42] engcom-Bravo commented on #36128
@magento give me 2.4-develop instance with edition ee

[2022-09-14 10:42] engcom-Dash commented on #36139
**Hi @shocker178 ,**

We are trying to reproduce the issue in magento 2.4.4 instance.But we are not able to reproduce.
Product Price index has been rebuilt successfully.

**Screenshots**:
![3](https://user-images.githubusercontent.com/60198592/190132104-ce977f01-7ce6-4ab7-871a-6f79cf0e5c23.png)

Steps:
1.Install 2.4.4 instance
2.Run php bin/magento indexer:reindex catalog_product_price
3.Product P

[2022-09-14 10:58] danielrussob commented on #35494
Hello @saran2108 ,
you must apply Quality Patch: MDVA-41061-V4 and ACSD-45488

https://devdocs.magento.com/quality-patches/tool.html#patch-grid

[2022-09-14 10:59] danielrussob commented on #35724
solved in quality patch: MDVA-41061-V4 and ACSD-45488

https://devdocs.magento.com/quality-patches/tool.html#patch-grid

[2022-09-14 11:02] ilnytskyi commented on #35243
@riversy I faced similar issue, noticed that the column `row_total_incl_tax` has different value.
Correct value would be `row_total  - discount_amount + tax_amount`

Did you manage to find a workaround?

[2022-09-14 11:14] engcom-Hotel commented on #35901
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6385 by the internal team
Related commits: https://github.com/search?q=AC-6385&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-14 11:14] #35901 closed, assigned to nobody

[2022-09-14 11:16] engcom-Hotel commented on #35561
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3201 by the internal team
Related commits: https://github.com/search?q=AC-3201&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-14 11:16] #35561 closed, assigned to mmezhensky

[2022-09-14 11:18] engcom-Hotel commented on #34880
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2058 by the internal team
Related commits: https://github.com/search?q=AC-2058&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-14 11:18] #34880 closed, assigned to nobody

[2022-09-14 11:19] engcom-Hotel commented on #35449
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3499 by the internal team
Related commits: https://github.com/search?q=AC-3499&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-14 11:19] engcom-Hotel commented on #34975
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3179 by the internal team
Related commits: https://github.com/search?q=AC-3179&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-14 11:21] riversy commented on #35243
Hi, @ilnytskyi

The following patch fixed the problem on my project:

[code]

I hope it will help you as well.

[2022-09-14 11:24] engcom-November commented on #35162
Issue will not be fixed and is cancelled with below reasons:
1. During configuring, there is sufficient warning to the merchant that they are performing some configurations that could lead to problems. Being even more stringent and stopping the merchant from proceeding with their configuration would require substantial effort on definition and also implementation. We would probably have to check a

[2022-09-14 11:27] PashaIhnatjo commented on #36097
what version of magento is installed on this instance?

[2022-09-14 11:29] engcom-November commented on #35494
Hi,
As I can see this issue got fixed in the scope of the internal Jira ticket ACP2E-813 by the internal team 
Related commits: https://github.com/magento/magento2/search?q=ACP2E-813&type=commits
Based on Jira, target version is 2.4.6
Thank you.

[2022-09-14 11:30] engcom-Bravo commented on #35182
Hello @dphilipps,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2619 by the internal team

Related commits:https://github.com/magento/magento2/search?q=AC-2619&type=commits

Based on the Jira ticket, the target version is 2.4.5.

Thanks

[2022-09-14 11:35] engcom-November commented on #31351
Hi,
This issue got fixed in the scope of the internal Jira ticket AC-1946 by the internal team 
Related commits: https://github.com/magento/magento2/search?q=AC-1946&type=commits
Based on Jira, target version is 2.4.4
Thank you.

[2022-09-14 11:44] engcom-November commented on #33145
Hi @leoquijano
As I can see this issue got fixed in the scope of the internal Jira ticket AC-711 by the internal team 
Related commits: https://github.com/magento/magento2/search?q=AC711&type=commits
Based on Jira, target version is 2.4.5
thank you.

[2022-09-14 11:51] engcom-November commented on #33673
Hi,
As I can see this issue got fixed in the scope of the internal Jira ticket AC-714 by the internal team 
Related commits: https://github.com/magento/magento2/search?q=AC-714&type=commits
Based on Jira, target version is 2.4.4
Thank you

[2022-09-14 11:57] engcom-November commented on #32875
Hi @mmansoor-magento ,
It has been decided that this is expected behavior of Magento and no need to change the current tax calculation logic.
Thank you.

[2022-09-14 11:57] sprankhub commented on #35962
I suggest that the Magento core team uses https://github.com/yireo/Yireo_ExtensionChecker/ to make sure all dependencies are found :see_no_evil:

[2022-09-14 11:57] sprankhub commented on #35479
I suggest that the Magento core team uses https://github.com/yireo/Yireo_ExtensionChecker/ to make sure all dependencies are found :see_no_evil:

[2022-09-14 11:58] norgeindian commented on #33802
Does anybody by chance already have a patch file to fix this?

[2022-09-14 12:00] engcom-November commented on #34033
Hi @wstnbrg
It has been decided that this is expected behavior of Magento and no need to change the current tax calculation logic.
Thank you.

[2022-09-14 12:04] engcom-November commented on #32875
Hi @mmansoor-magento
As I can see this issue got fixed in the scope of the internal Jira ticket AC-853 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-853&type=commits
Based on Jira, target version is 2.4.4
Thank you

[2022-09-14 12:07] engcom-November commented on #33947
It has been decided that this is expected behavior of Magento but not bug.
The straight forward use case when store country, shipping origin country, tax rate country and shipping address is the same then the tax functionality is working as expected.

Taking cues from the below mentioned comments on JIRA ticket [AC-1191](https://jira.corp.adobe.com/browse/AC-1191),

https://jira.corp.magento.com/b

[2022-09-14 12:09] engcom-Bravo commented on #36097
Hi @PashaIhnatjo,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.Kindly refer the screenshots.

<img width="1512" alt="Screenshot 2022-09-14 at 2 17 34 PM" src="https://user-images.githubusercontent.com/51680745/190148907-34f06fcb-e355-41a9-a736-8d4f202295e4.png">

<img width="1512" alt="Screenshot 2022-09-14 a

[2022-09-14 12:15] engcom-November commented on #32067
Hi,
This issue got fixed in the scope of the internal Jira ticket AC-1050 and has been merged to [api-changes-develop](https://github.com/magento/inventory/tree/api-changes-develop)  branch
Commit id: e4406290483ff6e3f34cb2932aa3ef6772cc7b8a
Based on Jira, target version is 2.4.4

[2022-09-14 13:07] PashaIhnatjo commented on #36097
Nfr

yes in your environment I also cant reproduce it
but if I am correct understand  you have version 2.4.5 (perhaps higher)
I checked on 2.4.4 and 2.4.2 and it plays for me (
I will check it again

[2022-09-14 13:16] engcom-Bravo commented on #36128
Hi @shafeekb1,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with edition ee but could not able to reproduce the issue.Kindly refer the attached videos.

https://user-images.githubusercontent.com/51680745/190163600-565cd986-79ec-48d4-8344-adbaab5ab127.mov

https://user-images.githubusercontent.com/51680745/190163721-8bfd666d-65d9-4667-ab75-0f00ef2cd05

[2022-09-14 13:23] engcom-Bravo commented on #36091
Hi @RanjitBShinde,

Thanks for quick Response.

 Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
 We are creating categories(23) in our instance from backend.we are able to get all active categories.Kindly refer
 screenshots.

<img width="1512" alt="Screenshot 2022-09-14 at 6 51 28 PM" src="https://user-images.githubusercontent.com/51680745/190165469-3ca

[2022-09-14 13:43] RanjitBShinde commented on #36091
Hi @engcom-Bravo

Thanks for looking into it.

Looks like you are using categories graphql query. We are facing issue for **categoryList** query, which is used in default pwa venia to fetch header menu. Please refer below screenshot.

<img width="1322" alt="image" src="https://user-images.githubusercontent.com/16210367/190170418-2a2c86ed-c8a6-4161-930a-66b11be8dceb.png">

[2022-09-14 13:43] engcom-Lima commented on #34546
HI @Hexmage ,

I have tried to reproduce the issue in 2.4-develop and followed below steps but issue is not reproducible to me:

1. Create a cart
2. Add 2 products to the cart with at least 4 quantities each.
3. Set the quantity of added products below the quantity in the cart from admin.
4. Get cart details through graphql query:
[code]
5. Also Stores >> configuration >> Catalog >> inventory >>Pr

[2022-09-14 14:39] t-heuser opened #36142 "[GraphQL] Result for route query for products and cms pages is never cached"
### Preconditions and environment

- Magento version: 2.4.5
- Cache must be enabled (for easy testing use default file cache)
- A product with the url key "test"
- A cms page with the url "test-cms"

### Steps to reproduce

Execute the following query as GET request:
[code]

[code]

### Expected result

I expect the query result to be cached with the following cache identity tag:
For products: mag

[2022-09-14 15:03] AaronONeill commented on #36138
We haven't seen this issue in particular, but we have seen other "weirdisms" since the upgrade. What we did to solve what we were seeing was just to ensure composer was updated with `composer self-update` and then cleared vendor and removed the composer.lock (if they exist) - `rm -rf vendor/* composer.lock`

After that we did another `composer install`, which did the trick.

[2022-09-14 15:23] ilnytskyi commented on #35243
@engcom-November since the issue is reproducible and confirmed. Could you check falling tests in https://github.com/magento/magento2/pull/36141

We have config like this:
![Selection_015](https://user-images.githubusercontent.com/3192770/190195573-ec9202fd-d7e4-4fff-902b-9d81ec5e4cd2.png)

The fix suggested by @riversy resolves the problem in our case as well.
But now I have doubts if values for `

[2022-09-14 15:35] rogerdz commented on #36125
It still works, I can't duplicate

![2022-09-14_22-34](https://user-images.githubusercontent.com/78783748/190198870-dc601eff-d2dd-4c4d-9835-daf61243ff62.png)
![2022-09-14_22-35](https://user-images.githubusercontent.com/78783748/190199011-e859645f-1252-4e18-bf9a-390d366051ae.png)

[2022-09-14 17:59] rodrigowebjump commented on #36139
@magento give me 2.4.4 instance

[2022-09-14 19:06] hostep commented on #36138
@antoniocarboni: I'm noticing the mention of `deployer/deployer` in your error, which is not a dependency of Magento.
Have you tried it without `deployer/deployer` already? Or tried upgrading `deployer/deployer` to 7.x ?

[2022-09-14 19:39] jayantakr1 opened #36143 "Magento2.4.5 Product Customizable Options drag and drop move not working in admin"
Magento2.4.4 and Mageno 2.4.5 CE

Product  Customizable Options drag and drop move not working in admin

Screen-shot: https://nimb.ws/1yIui9

Anyone can help me to fix it out?

[2022-09-14 20:38] nbennett25 commented on #35743
@engcom-Hotel  - is there a patch available for 2.4.3 to resolve the error?

[2022-09-14 20:44] hostep commented on #33802
Here's one for Magento 2.4.5 which I've created earlier today, it's based on https://github.com/magento/magento2/pull/33803 but had to fix some merge conflicts, so hopefully those were solved correctly, but it seems to work on our end at least.

[PR-33803-Framework.txt](https://github.com/magento/magento2/files/9569853/PR-33803-Framework.txt)

[2022-09-15 05:56] engcom-November commented on #31764
Verified the issue on Magento 2.4-develop all instances : Enterprise and B2B but observed different behavior while verifying the issue but no exception/errors observed in logs.
Scenario 1: 2.4-develop branch without B2B:
Customers - All Customers - Filtering with Company column (updated with billing / Shipping Addresses - Company name) working fine. Address company name displayed in the grid - **N

[2022-09-15 09:08] DiegoItaly commented on #35997
thank you very much!

[2022-09-15 09:38] engcom-Lima commented on #28040
@magento give me 2.4-develop instance

[2022-09-15 10:17] ZoeZhong-AAXIS commented on #35297
Thanks. This also works for me.

[2022-09-15 10:39] gyduxa commented on #36125
Thank you for the confirmation @rogerdz . I've discovered a module was interfering with this, after disabled it, it worked as expected also.

[2022-09-15 10:39] #36125 closed, assigned to nobody

[2022-09-15 10:49] Albinoty commented on #23063
Hello everyone, have we some updates about this issue ?

[2022-09-15 12:17] guvra commented on #36063
Until it is fixed, I implemented a workaround with a phpstan extension:

[code]

This workaround is not ideal, because this extension will prevent phpstan from displaying an error when a Phrase object is passed to a function that only accepts strings (e.g. `public function foo(string $text)`.

[2022-09-15 12:27] engcom-November commented on #29957
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.
Even after running the cron - able to download custom option file from Sales - Oders - Order details page.

[2022-09-15 12:48] oneserv-heuser commented on #36142
@magento give me 2.4-develop instance

[2022-09-15 13:18] t-heuser opened #36144 "[GraphQL] products query is very slow if retrieving price of several configurable products"
### Preconditions and environment

- Magento version: 2.4.5
- A category with 36 or more configurable products which all have at least 200 variants

### Steps to reproduce

Execute the following query:
[code]

Here I'm trying to reveice 36 products of a category. 36 is a standard magento listing size for categories. This query is very slow and takes **more than a minute** if all/a lot of the produ

[2022-09-15 13:19] oneserv-heuser commented on #36144
What I did as quick workaround: Created an around plugin that gets the data from the index if present and otherwise executes the slow function. Here is a patch file which includes the fix as a module:
[fix(graphql)__products_query_is_slow_with_configurable_products.txt](https://github.com/magento/magento2/files/9575558/fix.graphql.__products_query_is_slow_with_configurable_products.txt)

[2022-09-15 13:21] engcom-November commented on #35568
Verified the issue on Magento 2.4-develop branch with mariadb installed and reindexing catalog_product_attribute took 07 seconds only.
![image](https://user-images.githubusercontent.com/60198231/190414661-6de7f137-60de-4b5e-859d-c9d4d439006b.png)

[2022-09-15 13:25] usuyukiso commented on #14240
reproduced for M2.4.3 and 2.4.4-p1

[2022-09-15 13:34] mohammedTBB opened #36145 "Error: RemovePasswordAndUserConfirmationFormFieldsPlugin::afterGetForm(): Argument #2 ($result) must be of type Magento\Framework\Data\Form, null given"
### Preconditions and environment

Magento v2.4.5
php v8.1
amasty/module-xcoupon v1.1.16

### Steps to reproduce

1- Go to admin panel
2- Marketing
3-cart price rules
4-add new rule

### Expected result

should open the form of creating a new rule without error.

### Actual result

[2022-09-12T14:57:29.735745+00:00] main.CRITICAL: TypeError: Magento\AdminAdobeIms\Plugin\RemovePasswordAndUserConfir

[2022-09-15 14:38] rogerdz commented on #36121
I think the price of 288.48$ is the right price
On Magento it will store the price in the base currency in the quote and then multiply it by the currency rate
€166.08 + €35.67 = €201.75 * 1.4150 (EUR->USD rate) = $285,47625 rounded through the round function in magento to $285.48
On the product page € 166.08 * 1.4150 = $235.0032 rounded through the round function is $235.00, if it is fixed for it

[2022-09-15 15:19] jayantakr1 commented on #36143
Can you please give me file path ?

[2022-09-15 15:47] JamesFX2 commented on #36103
I think one of the M1 extensions we used modified product_options to use MEDIUMTEXT and when we used the official script, it truncated the field. We must have done something like UPDATE sales_order_item SET product_options = '' where length(product_options) =... to clear the invalid product options.

Yes, please close this issue.

[2022-09-15 16:06] rogerdz commented on #36143
check in tab 'Files changed' in PR

[2022-09-15 17:42] lilbumblebear commented on #36091
I have a similar issue with categoryList query, where children appear for some menu items, but not others.

Ex I have a structure similar to this:

Category A
- SubCategory B
Category C
- SubCategory D
Category E
Category F
Category G
- SubCategory H

I get A, C, E, F and G returned in my results, but only G has children defined, the others are blank.

Perhaps there is a setting I am missing in th

[2022-09-16 02:25] onlinebizsoft commented on #36121
@rogerdz I understand it is a hard situation and we need the Magento team to look at

[2022-09-16 03:39] JonathanHelvey commented on #22344
+1

[2022-09-16 06:01] kamranzafar1 commented on #32242
Any solution for this

[2022-09-16 06:06] kamranzafar1 opened #36149 "Magento 2.3.4-p2 issue on changing media_gallery attribute to Global "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'attribute_id' in 'where clause' query was: DELETE FROM catalog_product_entity WHERE (attribute_id = '268') AND (store_id IN(1, 10, 13))""
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

In Admin Panel Navigate to (Admin->STORES->Attributes->Product) search Attribute Code (media_gallery) click on record and edit this attribute. Then change the attribute scope (ATTRIBUTE INFORMATION -> Properties -> Advanced Attribute Properties -> Scope) chang

[2022-09-16 06:53] norgeindian commented on #33802
@hostep , thanks a lot, awesome. Works fine for me.

[2022-09-16 07:13] engcom-Lima commented on #36117
@magento give me 2.4-develop

[2022-09-16 07:16] engcom-Lima commented on #36117
@magento give 2.4-develop instance

[2022-09-16 07:17] engcom-Lima commented on #36117
@magento give me 2.4-develop instance

[2022-09-16 08:07] engcom-Hotel commented on #36142
Hello @oneserv-heuser,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch by setting up the breakpoint on the below file in line number 32:

https://github.com/magento/magento2/blob/91549b925da128ba79807400f551f2b2d0cfeed9/app/code/Magento/CatalogUrlRewriteGraphQl/Model/Resolver/UrlRewrite/CatalogUrlResolverIdentity.php#L29-L39

but the de

[2022-09-16 08:09] vandijkstef commented on #29444
I have a similar issue, but it's resulting in 404's for us:

Product name contains `ü`
SEO Url key changes that character into `-uuml-` (html-encoding)
Magento product grid renders `ü` in the url -> this results in a 404

Manually updating the SEO url fixes the issue, but this is often forgotten resulting in unreachable products

[2022-09-16 08:26] AndreaGot commented on #9280
I don't think so, I am currently experiencing the same issue. I can just upload images less than ~30kB, but anything over that takes a considerably long time. To be fair, I tried uploading a 2MB image many times but I never saw it finishing successfully.

[2022-09-16 08:36] iphigenie commented on #35970
This bug is in a published live release and it is site breaking - it needs to be added to the release notes!

[2022-09-16 08:40] gladroger commented on #36082
Is there any known workaround this problem?

PHP Fatal error: Uncaught TypeError: str_replace(): Argument #3 ($subject) must be of type array|string, bool given in vendor/magento/framework/Filesystem/DirectoryList.php:137

[2022-09-16 08:40] iphigenie commented on #35970
Also this should not have happened all the way to release -

How can we have an automated test that searches for hard coded table names in queries/conditions - there never should be any, they should be gettable() / gettablename() variables?

[2022-09-16 09:15] devchris79 commented on #36138
@hostep I am guessing the 3.8.0 version has been taken [from here ](https://github.com/magento/magento2/blob/2.4-develop/composer.json)
Is there a page with the recommended 2.4.5 version constraints?

I didn't realise we were so out of date with our version of the php-cs-fixer!

[2022-09-16 09:40] engcom-Dash commented on #36103
Hi @JamesFX2 ,

This Issue is not the part of Core Magento...So we are Closing the issue.

thanks!!!

[2022-09-16 09:40] #36103 closed, assigned to engcom-Dash

[2022-09-16 09:45] engcom-November commented on #33355
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if the issue is still reproducible on 2.4-develop branch.
Thank you.

[2022-09-16 09:45] #33355 closed, assigned to engcom-November

[2022-09-16 09:46] engcom-Dash commented on #36149
@magento give me 2.4-develop instance

[2022-09-16 09:51] engcom-November commented on #34586
Hi @wilfriedwolf ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-16 09:51] #34586 closed, assigned to wilfriedwolf, engcom-November

[2022-09-16 09:55] engcom-November commented on #29635
Thank you for the response @lano-vargas . We are closing this issue as the issue is not reproducible anymore on 2.4-develop. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-16 09:55] #29635 closed, assigned to lano-vargas, engcom-November

[2022-09-16 10:03] orkuncv commented on #36097
@magento give me 2.4-develop instance

[2022-09-16 10:04] kamranzafar1 commented on #36149
![image](https://user-images.githubusercontent.com/59957511/190614716-a0048212-5977-4efa-b74f-fcfa63e49d71.png)

[2022-09-16 10:06] kamranzafar1 commented on #36149
when trying to change back the scope from storeview to Global, got error above in attached image.

[2022-09-16 10:08] engcom-November commented on #30337
@magento give me 2.4-develop instance

[2022-09-16 10:26] engcom-November commented on #34384
Verified the behavior on Magento 2.4-develop branch and cls value is <0.25 for desktop but is more than > 0.5 for Mobile. Hence confirming this issue.
**Steps**:
1. Magento cloud instance - with sample data - Product details page - Breathe-Easy Tank
2. Inspect element - Lighthouse - Device Desktop - Analyse page load:
No issue. CLS is 0.23
![image](https://user-images.githubusercontent.com/6019823

[2022-09-16 10:41] engcom-Hotel commented on #35743
Hello @nbennett25,

This code was removed from the code-base quite a while ago and we are not able to provide a fix or patch in the scope of this repository. Adobe Commerce and Magento Open Source are not supporting this module anymore for current and future versions.

As an advice, I would recommend trying:

- Contact Vertex extension support   and ask them if any patch or fix available

- If you

[2022-09-16 10:43] engcom-Hotel commented on #29529
Hello,

As per the above comment https://github.com/magento/magento2/issues/29529#issuecomment-1000187036, the issue is fixed hence we are closing this issue.

Thanks

[2022-09-16 10:43] #29529 closed, assigned to nobody

[2022-09-16 10:49] engcom-Bravo commented on #36128
@magento give me 2.4.3-p1 instance with edition ee

[2022-09-16 10:49] engcom-Dash commented on #36149
**Hi @kamranzafar1 ,**

We are checking the issue in 2.4-develop branch and we are getting actual result...we are not able to change scope.

**ScreenShots:**
![Screenshot from 2022-09-16 16-12-59](https://user-images.githubusercontent.com/60198592/190622201-0ad03eb3-a823-46cc-b922-512c35fbfba6.png)

**Steps We Follwed by:**
1.Install Magento instance
2.Go to Stores
3.Click Attribute
4.Go to Produc

[2022-09-16 10:56] engcom-Dash commented on #36057
Dear @n2diving-dgx ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!!!

[2022-09-16 10:56] #36057 closed, assigned to engcom-Dash

[2022-09-16 11:17] engcom-November commented on #30337
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Irrespective of the store code passed to the graphql query in the headers - Product reviews which does not exist for other store are also returned.
Steps:
Enabled Product Reviews from admin (Stores - Configuration - Catalog - Catalog - Product reviews)
Stores - Configuration - Attributes - rating - select price - Set r

[2022-09-16 11:58] engcom-Hotel commented on #36145
Hello @mohammedTBB,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but it is not reproducible for us. Can you please confirm if this issue can be reproducible without `amasty/module-xcoupon v1.1.16` because this is the third-party module and not maintained by Magento?

Also, we have checked the plugin mentioned in the main description

[2022-09-16 12:09] engcom-Lima commented on #36073
@magento give me 2.4-develop instance

[2022-09-16 12:36] oneserv-heuser commented on #36142
@engcom-Hotel It seems like your cache isn't working at all. Because if you fire a GET request only the first one ever executes the resolver ([magento2/app/code/Magento/UrlRewriteGraphQl/Model/Resolver/Route.php](https://github.com/magento/magento2/blob/91549b925da128ba79807400f551f2b2d0cfeed9/app/code/Magento/UrlRewriteGraphQl/Model/Resolver/Route.php#L44-L66)) of the query. The second request do

[2022-09-16 14:48] hostep commented on #36138
If you just setup a new 2.4.5 project with composer, you'll get the `composer.json` file you are looking for. If you add the `--no-install` flag, it will go really quickly.

So something like this:

[code]

[2022-09-16 15:03] Jeffrey-H commented on #34898
Recently I'm facing this same issue on a much used Magento environment. The problem appeared out of thin air. After adding the suggested headers, the problem still continues. I'm really frustrated since I can no longer edit any products or categories.

[2022-09-17 02:12] ebrahemelkholy07 opened #36150 "import products, checked rows not equal checked entities and import only 10 products"
### Preconditions and environment

Magento 2.3.7-p3

### Steps to reproduce

when trying to import products by CSV file for example 72 products like attacked image and all columns correct it importing only random 10 products from CSV file without return any error message and in onther file import only 1 product.
trying to delete the imported files from var/import_history and from the database
and

[2022-09-17 04:03] zexperto opened #36151 "Cannot empty Customer`s Custom Attribute (Text Field) after Save it with any Value"
### Preconditions and environment

- Magento version: Latest version, Magento Open Source 2.4.5
- you just need to install Magento Open Source Version 2.4.5
- Create Customer Attribute in any way you want

### Steps to reproduce

1. Install Magento Open Source Version 2.4.5 by composer  (https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/composer.html)
2. Create Custom

[2022-09-17 14:52] simsComputing commented on #35907
@magento I am working on this

[2022-09-17 14:52] simsComputing commented on #35907
@magento add to contributors team

[2022-09-17 14:53] simsComputing commented on #35907
@magento I am working on this

[2022-09-17 15:18] pmzandbergen commented on #35907
@simsComputing has already been fixed, see https://github.com/magento/magento2/pull/35908#issuecomment-1243411000

[2022-09-17 15:18] #35907 closed, assigned to simsComputing

[2022-09-17 17:48] JoergLindner commented on #35329
Correct, but we do not see an issue with search. Besides that even with this work around it does not work. While testing on Desktop or even with S-Pen from Samsung, everything work fine on our dev site, while using Mobile rsolution, but as soon you use your finger, you need to stay +1 sec. on it than you will get a overlay of a selection what you could do. The same is for selecting the store view

[2022-09-17 18:09] simsComputing commented on #35907
@pmzandbergen , issue was fixed in commit eb02e71
i think this issue can be closed as is. I don't know the procedure.

[2022-09-17 18:18] dekiakbar opened #36154 "Configurable stock status is not correct when using custom stock (MSI)"
### Preconditions and environment

- Magento version : 2.4-develop with enterprise edition modules enabled, Magento 2.4.4 (CE), Magento 2.4.4 (EE)
- PHP8.1
- mariadb: 10.4
- elasticsearch: 7.11
- nginx: 1.19

### Steps to reproduce

- crate new source in admin > store > sources, i.e : source A
- create new stock in admin > store > stock, i.e : custom stock
- assign source A to Custom stock, and al

[2022-09-17 20:03] #36150 closed, assigned to nobody

[2022-09-17 20:12] gkunz commented on #34795
Closing this issue as the first set of MFA token have been distributed last year. The issue can be re-opened if and when new token become available.

[2022-09-17 20:12] #34795 closed, assigned to nobody

[2022-09-17 22:28] atIOCrON commented on #26786
We came across this error on community v2.4.3-p1. Why is this issue "closed" if it still exists? Can anyone point me to a patch? We don't want to comment out lines in core files as there could be serious unintended consequences.

[2022-09-18 00:48] atIOCrON commented on #34956
Any update on this? When will it be fixed?

[2022-09-18 04:24] justgh252 commented on #29350
@legaciespanda i followed your instruction to upgrade my magento from version 2.2.7 to 2.4.0. Everything works fine until i try to run command php bin/magento setup:upgrade and i am getting following error message. can you provide a solution? (before the upgrade, we actually have removed all the extensions.)

Notice: Undefined index: core_store in /chroot/home/html/vendor/magento/framework/Setup/D

[2022-09-18 04:27] justgh252 commented on #29350
@legaciespanda i should also mention that when i go to website frontend, i am seeing following error message:

1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
Magento_GoogleShoppingAds schema: current version - none, required version - 4.

[2022-09-18 10:43] simsComputing commented on #35907
Wow i didn't see your previous messages. Sorry.

[2022-09-18 10:49] simsComputing commented on #33969
@magento I am working on this

[2022-09-18 12:47] zapotocnylubos commented on #35671
The mentioned patch results (for me) in an error during `setup:install`

Installing database schema:
Schema creation/updates:

[2022-09-18 12:59] lbajsarowicz commented on #35671
@zapotocnylubos There are two possible patches - Just use the other one :)

[2022-09-18 14:02] zapotocnylubos commented on #35671
U mean the plugin, right?

[2022-09-18 19:14] reniraj commented on #19710
This is for EE ?

[2022-09-18 21:08] TysvdHeuvel opened #36156 "Updating a category name via REST API is only visible on front-end, not on the back-end."
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1. First create a sub category under Default category, manually or via API, call it "Apples"
2. Make a REST call to update the category name as described here:
https://magento.redoc.ly/2.4.5-admin/tag/categoriesid#operation/PutV1CategoriesId
So, put to /V1/categories/{id}, and set the name to "Oranges".
Reindex and

[2022-09-19 01:22] m2-assistant[bot] opened #36157 "[Issue] add phpstan-deprecation-rules"
This issue is automatically created based on existing pull request: magento/magento2#36148: add phpstan-deprecation-rules

---------

### Description (*)

Static Tests: add phpstan/phpstan-deprecation-rules for detecting usage of deprecated classes, methods, properties, constants and traits.

### Related Pull Requests

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

###

[2022-09-19 05:05] engcom-Bravo commented on #35943
Hi @Velbro,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-19 05:05] #35943 closed, assigned to engcom-Bravo

[2022-09-19 05:06] engcom-Bravo commented on #31489
Hi @OleksiyOleksiyovych,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-19 05:06] #31489 closed, assigned to KrishnaK-Z, engcom-Bravo

[2022-09-19 06:49] mohammedTBB commented on #36145
Hello @engcom-Hotel

the error is not reproducible without the plugin `amasty/module-xcoupon v1.1.16`

In all cases, whenever you try to add new cart rule, the plugin return `null`.

[2022-09-19 07:22] engcom-Hotel commented on #36145
Hello @mohammedTBB,

Thanks for the reply!

In that case, I would like to suggest you connect with the developers of `amasty/module-xcoupon v1.1.16` for this issue. As this module is not maintained by Magento, you need to connect with them.

Thanks

[2022-09-19 07:58] engcom-Hotel commented on #36142
Hello @oneserv-heuser,

Thanks for the response!

Yes, you were right, we were hitting the POST request mistakenly. And now as we tried to debug this issue with GET request we are able to reproduce the issue.

After clearing the cache, normally the first request is taking time but other consecutive hits should not take times and server the response from the cache.

But here in this case, when we a

[2022-09-19 09:20] Aquive commented on #33741
I still have this issue on Magento 2.4.5

[2022-09-19 09:37] engcom-Dash commented on #36151
@magento give me 2.4-develop instance

[2022-09-19 09:41] jakwinkler opened #36158 "Getting value of product attribute "country_of_manufacture" returns a space character when value is unassigned"
### Preconditions and environment

- Magento 2.4.3-p1

### Steps to reproduce

- go to product page
- add a template file to display `country_of_manufacture` value on a product page somewhere (just a quick example)
[code]

### Expected result

`$attibuteValue` should be
[code]
or an empty string
[code]

when `country_of_manufacture` is unassigned

### Actual result

`$attibuteValue` is
[code]
when

[2022-09-19 10:14] engcom-Dash commented on #35997
Hi @DiegoItaly ,

Thanks For your contribution...We are Closing the issue.

Thanks!!!

[2022-09-19 10:14] #35997 closed, assigned to engcom-Dash

[2022-09-19 10:46] engcom-Lima commented on #34546
Hi @Hexmage ,

Thank for your contribution and collaboration.

Please provide more information required to reproduce the issue.

Thanks

[2022-09-19 11:13] shanthi-gif opened #36159 "need 244"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2022-09-19 11:16] shanthi-gif commented on #36159
@magento give me 2.4.4 instance

[2022-09-19 11:21] Kamina92 commented on #35667
we solved the same problem creating a plugin for Magento\User\Model\Notificator

with this workaround

`/**
     * Workaround to disable store code in reset password link
     *
     * @param Notificator $subject
     * @param callable $proceed
     * @param UserInterface $user
     * @return bool
     */
    public function aroundSendForgotPassword(
        Notificator $subject,
        callable

[2022-09-19 11:36] engcom-Bravo commented on #36128
Hi @shafeekb1,

Thanks for your response.

It is recommended to verify the issues in Magento 2.4 develop instance this is having a latest code base.The issue might have been fixed on 2.4-develop and so issue is not reproducible any more.

Kindly upgrade your Magento instance to Latest version and check the issue is still reproducible.

Let us know you are still facing the issue.

Thanks.

[2022-09-19 11:44] shanthi-gif commented on #36159
@magento give me 2.4.4 instance

[2022-09-19 11:46] shanthi-gif commented on #36159
@magento give me 2.3.7-p3 instance

[2022-09-19 12:28] engcom-Bravo commented on #36091
Hi @RanjitBShinde,

Thanks for quick response.

Kindly refer this [document](https://devdocs.magento.com/guides/v2.4/graphql/queries/category-list.html).As per document the categoryList query returns 20 nodes.

<img width="963" alt="Screenshot 2022-09-19 at 5 38 24 PM" src="https://user-images.githubusercontent.com/51680745/191013855-9305cfd9-a25c-47a6-a6bf-b9c674e9b4a6.png">

Kindly count the nod

[2022-09-19 12:46] engcom-November commented on #29580
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.
![image](https://user-images.githubusercontent.com/60198231/191020197-398622a0-ca8c-4fae-9657-c1447ff55a31.png)
Kindly recheck the issue on Magento 2.4-develop branch as its the upcoming 2.4.x release and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-09-19 13:24] #35958 closed, assigned to engcom-Dash

[2022-09-19 13:33] engcom-Delta commented on #34394
Hi @DmitryFurs,

We have tried to reproduce this issue in 2.4-develop but for us, it is not reproducible.

We have followed below steps

1.Created catalogproducts table using a declarative schema
<img width="385" alt="Screenshot 2022-09-19 at 4 03 10 PM" src="https://user-images.githubusercontent.com/51681379/190999381-c4ddad11-4d60-4fd2-b16d-9cc6cc477992.png">

2.Added rows to the catalogproducts

[2022-09-19 14:11] navarr commented on #34394
@engcom-Delta The removal of VBEs resolved the symptom of the issue.

The real issue is the way di.xml is merged between the global app/etc/di.xml and module di.xmls (with module di.xml's replacing, instead of expanding, entries in app/etc/di.xml).

When this issue was created, Vertex added a schema trigger.  Any module that does so will overwrite core schema triggers - which is not desirable.

[2022-09-19 15:45] nbennett25 opened #36161 "Magento 2.3.5-p2 Paypal Recaptcha does not detect scope"
### Preconditions and environment

- Magento 2.3.5-p2
- `magento/module-paypal-recaptcha` is enabled
- Installment has 2 websites

### Steps to reproduce

1. Go to Admin > Stores > Configuration, select Website scope
2. Go to Security > Google Recaptcha > Frontend
3. Set enabled to Yes
4. Go to Security > Google Recaptcha > Frontend > Use in PayPal PayflowPro payment form
5. Set value to No
6. Sav

[2022-09-19 17:53] DmitryFurs commented on #34394
@engcom-Delta Yes, @navarr is right, the problem is that you can't add your own triggers. When merging from different areas, native triggers will be overridden, even if they have other unique names.

[2022-09-19 19:55] artmouse commented on #36082
The problem is related to changing the default path upload_tmp_dir in PHP-FPM setting.
...
\Magento\Framework\Filesystem\DirectoryList::__construct
...
[code]

realpath may return false

[2022-09-19 21:58] frostitution commented on #34202
Just discovered this issue on 2.4.4 EE, does @braders patch still work as a temporary fix? Is this still a thing on 2.4.5?

[2022-09-19 22:06] lfolco commented on #35292
Is there a PR for this issue that could be used to create a patch?

[2022-09-20 00:08] lbajsarowicz commented on #28804
2022, issue is still with us :)

[code]

[2022-09-20 03:02] Oscarvaz96 opened #36163 "typo error on a js file."
### Summary (*)

On Magento 2.3.5 there is a typo error right here:
vendor/magento/module-catalog/view/frontend/web/js/product/storage/storage-service.js
line 120:
 /**
             * Subscribers list
             */
            subsctibers = {};
this object  subsctibers = {}; is used in further parts of this js with that same name, which is a typo.

### Examples (*)

line 191
processSubscribers:

[2022-09-20 03:18] engcom-November commented on #35979
Hi @KrusLeung ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-20 03:18] #35979 closed, assigned to engcom-November

[2022-09-20 03:19] engcom-November commented on #36029
Hi @alexmtch ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-20 03:19] #36029 closed, assigned to engcom-November

[2022-09-20 03:21] engcom-November commented on #36009
Hi @UglyWillDuckling ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-20 03:21] #36009 closed, assigned to engcom-November

[2022-09-20 03:23] engcom-November commented on #36076
@magento give me 2.4-develop instance

[2022-09-20 04:15] engcom-November commented on #36076
Hi @sunilit42 , Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible. Sort By Product Name - All 12 products are getting displayed per page and sorting is working on alphabetical order in the category page
![image](https://user-images.githubusercontent.com/60198231/191166105-e73b3791-ccd8-4aa0-bd9e-7a8d979b797e.png)
Kindly re

[2022-09-20 04:43] engcom-November commented on #36070
Verified the behavior on Magento 2.4-develop and "Developer" configuration is not available when mode set to Production. For other modes: Default and Developer modes - "Asynchronous indexing" config option is available in Grid settings. As per Magento [devdocs](https://experienceleague.adobe.com/docs/commerce-operations/performance-best-practices/configuration.html?mt=false#asynchronous-order-data

[2022-09-20 04:51] engcom-November commented on #31779
Hi @shikhamis11 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-20 04:51] #31779 closed, assigned to engcom-November

[2022-09-20 05:43] sunilit42 commented on #36076
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php#L239

Check this line , here is bug

if we enter name store wise name, coding doing sorting based on global name

i found that issue with EE endition and here may be also

[2022-09-20 05:45] kazimck commented on #32177
The issue is reproducing in M2.4.3. Any solution for this?

[2022-09-20 05:59] engcom-Hotel commented on #35292
Hello @lfolco,

Please find attached the patch file. This may help you.

[35292.patch.txt](https://github.com/magento/magento2/files/9604499/35292.patch.txt)

This is fetched from the internal PR.

Thanks

[2022-09-20 08:18] engcom-Bravo commented on #36120
@magento give me 2.4-develop instance

[2022-09-20 08:55] hansvereyken commented on #32554
We are hitting the same problem, but in the docs:
https://devdocs.magento.com/guides/v2.4/graphql/caching.html#:~:text=Magento%20explicitly%20disallows%20caching%20the%20following%20queries.

Magento explicitly disallows caching the following queries.

I can't find any reason for this. It's just written as something that's not allowed, but why?

[2022-09-20 09:03] engcom-Hotel commented on #26112
Hello @TomashKhamlai,

We have tried to reproduce the issue in Magento 2.4-develop branch and we have the below findings.
we have tried with an expired token and we are not able to get the cart created.

followed steps:-

- Generate Customer token
- Wait for token expiration
- Create an empty cart using the expired token

Please find the below screen for your reference.
<img width="1440" alt="imag

[2022-09-20 09:03] #26112 closed, assigned to engcom-Charlie

[2022-09-20 09:10] engcom-Hotel commented on #36087
Dear @sandip9909,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-20 09:10] #36087 closed, assigned to engcom-Hotel

[2022-09-20 09:36] engcom-Lima commented on #35667
Hi @kassner @

[2022-09-20 09:36] engcom-Delta commented on #34394
@DmitryFurs ,@navarr
We have tried to reproduce this issue in magento 2.4-develop still this issue is not reproducible with merging of di.xml files. In below document vertex is not bundled extension in latest versions.
https://docs.magento.com/user-guide/tax/taxes.html
<img width="995" alt="Screenshot 2022-09-20 at 2 43 11 PM" src="https://user-images.githubusercontent.com/51681379/191218568-00e97

[2022-09-20 09:43] engcom-Dash commented on #36161
@magento give me 2.4-develop instance

[2022-09-20 10:12] engcom-Dash commented on #35812
Hi @Hexmage,

We are checking the issue with 2.4-develop instance and we are not able to reproduce the issue because we are getting expected result....

Screenshots:
![Screenshot from 2022-09-20 15-02-44](https://user-images.githubusercontent.com/60198592/191231149-92f3cb4e-9bc4-4b7f-895c-b5dd1f89161f.png)
![4](https://user-images.githubusercontent.com/60198592/191231183-51192c38-7ced-46e8-8187-98

[2022-09-20 10:13] engcom-Bravo commented on #36140
@magento give me 2.4-develop instance

[2022-09-20 10:44] engcom-Charlie commented on #35084
As mentioned in [comment](https://github.com/magento/magento2/pull/35080#issuecomment-1252169277), closing this issue.

Thank you!

[2022-09-20 10:44] #35084 closed, assigned to nobody

[2022-09-20 10:49] engcom-November commented on #36157
We are considering this as feature request as this is current/existing behavior of magento and not mentioned anywhere in magento official docs and release notes of [2.4.4](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-4.html) and [2.4.5](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-5.html)

[2022-09-20 10:53] engcom-Dash commented on #36136
@magento give me 2.4-develop instance

[2022-09-20 11:11] engcom-Hotel commented on #36149
Hello @engcom-Dash,

As per our discussion, we need to recheck this issue according to the main description.

Thanks

[2022-09-20 11:29] Viper9x commented on #35275
Hi @csvikram44
This issue is invalid.
In the changes in PR [24743](https://github.com/magento/magento2/pull/24743/) @dmdanilchenko changed the `width` (and `height`) in both HTML and XML files:
app/code/Magento/Catalog/view/frontend/web/template/product/image_with_borders.html
app/design/frontend/Magento/blank/etc/view.xml
app/design/frontend/Magento/luma/etc/view.xml
You can take a look at PR's c

[2022-09-20 11:46] engcom-Delta commented on #36094
Hi @Yuwei9291 ,
We have tried to reproduce this issue in magento 2.4.5
Steps are followed to reproduce.
1.Created a product and open the Edit with PageBuilder.
<img width="1398" alt="Screenshot 2022-09-20 at 3 41 42 PM" src="https://user-images.githubusercontent.com/51681379/191238415-432f0227-8db1-44dd-bf57-6ca1436f4bcd.png">

2.Added row, dragged text and  added the few paragragh.
<img width="13

[2022-09-20 11:54] engcom-Bravo commented on #36120
Hi @AndreaMastracchio,

Thanks for reporting and collaboration.

We are happy to assist to you.Kindly provide exact steps to reproduce and also kindly provide screenshots if required.

Thanks.

[2022-09-20 12:07] engcom-Dash commented on #36136
Hi @leonhelmus ,

We are trying to reproduce the issue in 2.4-develop branch and 2.4.4 also we are not able to reproduce the issue.
we are getting The block "custom" gets rendered as html.

For your reference i attached the screenshots:
![Screenshot from 2022-09-20 17-33-12](https://user-images.githubusercontent.com/60198592/191252915-60f6d549-eb41-4bf9-8544-42ac87e3e6ad.png)
![Screenshot from 202

[2022-09-20 12:09] sandy6666 commented on #36070
This is the current valid solution.

[2022-09-20 12:18] sandy6666 commented on #35847
@magento I am working on this

[2022-09-20 12:40] engcom-Lima commented on #35667
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Admin password reset link is not working.

**Pre-requisite:**

- Fresh magento `2.4-develop` should be installed.
- Multiple Website should be created

**Steps to reproduce:**

1. Enable settings Add Store Code to Urls
2. Create 2 new website with each 1 store view
3. Create new admin user
4. Rese

[2022-09-20 13:01] lbajsarowicz commented on #32177
PR with the fix: https://github.com/magento/magento2/pull/36003
Composer Patch: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/36003.diff
Instructions: https://devdocs.magento.com/guides/v2.4/comp-mgr/patching/composer.html

[2022-09-20 13:18] #29418 closed, assigned to Usik2203

[2022-09-20 13:32] jaykobi commented on #30094
Two years latwer... bug still present in Magent 2.4.5

[2022-09-20 14:02] sezio commented on #23063
I think the easiest way to solve this problem is by adding a `store_id` column in the stock and price alert tables.
I know it modifies a core table but that's the way I fixed it when I faced this problem.

Then, I overrided the `\Magento\ProductAlert\Controller\Add\Price` and `\Magento\ProductAlert\Controller\Add\Stock` classes to get the current `store_id` and set it in the alert.

Once the corre

[2022-09-20 14:08] mohammedTBB opened #36165 "Error 500 admin panel"
### Preconditions and environment

- Magento version 2.4.5
- Php version 8.1

### Steps to reproduce

go to admin panel

### Expected result

show sign in form for admin panel with no errors

### Actual result

Error 500 in admin panel.

Server error log:
[Wed Sep 14 10:26:27.629433 2022] [proxy_fcgi:error] [pid 68838:tid 140186163726080] [client [127.0.0.1:41690](http://127.0.0.1:41690/)] Prematu

[2022-09-20 14:16] ProxiBlue commented on #9223
having issues building magnto for deploy

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - yireo/magento2-replace-inventory[4.2.0, ..., 4.2.7] cannot be installed as that would require removing magento/project-community-edition[2.4.3-p2]. They all replace magento/module-inventory-bundle-import-export and thus cannot coexist.
    - yireo/magento2-replace

[2022-09-20 14:21] lfolco commented on #35292
thank you!

[2022-09-20 14:24] ihor-sviziev commented on #30094
@jaykobi, accodring to the following line, it shouldn't reproduce on 2.4.5. https://github.com/magento/magento2/blob/d648bdc238ba6b59890694251655f725ad1b5d88/app/code/Magento/Sales/view/adminhtml/templates/order/totals/tax.phtml#L63
If you can reproduce this issue on clean magento installation, please report a separate issue for that.

[2022-09-20 14:35] engcom-Lima commented on #36165
@magento give me 2.4-develop instance

[2022-09-20 14:53] engcom-Hotel commented on #36135
Hello @higuhi,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento's development branch i.e. 2.4-develop and the issue is reproducible for us. We have also checked the official website of [Oauth1.0](https://oauth.net/core/1.0/#nonce) for the documentation related with timestamp, which is as follows:

We are getting the actual result mentioned in the main desc

[2022-09-20 15:33] dongyi-chun commented on #36145
I have a same issue with different extension(Mageplaza_RequestForQuote).
But it is good to solved as @mohammedTBB suggested.

[2022-09-20 16:34] leonhelmus commented on #36136
@engcom-Dash could it be that the feature environment for the product elart queue has an area, because our queue uses global and that's why that patch is needed.

[2022-09-20 16:36] leonhelmus commented on #36136
We added the static block in this way {{block or are you using a widget?

[2022-09-20 17:19] machado-thiago commented on #36037
@magento I am working on this

[2022-09-20 17:31] machado-thiago commented on #36037
@magento add to contributors team

[2022-09-20 17:32] machado-thiago commented on #36037
@magento I am working on this

[2022-09-20 17:45] hostep commented on #32910
@engcom-November: in case you're wondering, after @engcom-Charlie's last comment here, we moved the discussion to [the associated PR](https://github.com/magento/magento2/pull/35053#issuecomment-1108685058), sorry for not leaving an update over here.

[2022-09-20 17:47] seungwooc-23 commented on #34349
Hi @jdereus87 and @nazarklovanych , we are on 2.4.4 and still experiencing this problem on the creditmemo page.

[2022-09-20 17:57] sdouma commented on #35918
For amasty users getting this error see the suggest in the composer.json
`{
    "name": "amasty/shopby",
    "description": "Improved Layered Navigation by Amasty",
    "require": {
        "php": ">=7.3.0",
        "amasty/base": ">=1.13.5",
        "magento/module-layered-navigation": ">=100.2.0",
        "magento/module-catalog-search": ">=101.0.2",
        "magento/module-swatches": ">=100.2.0

[2022-09-20 18:13] hostep commented on #35292
@lfolco: the merge commit is this one: https://github.com/magento/magento2/commit/e4d10436897c1e11e46cc871a44135a92a063a5f, which seems to be much cleaner that the patch that was provided earlier.

[2022-09-20 18:54] DmitryFurs commented on #34394
@engcom-Delta What should we do if we need to install the vertex module or any other that adds its own triggers? If this module is installed, the problem will reappear. How to fix the situation?

[2022-09-20 19:58] ghost opened #36167 "Float comparisons failing on unit tests with sebastian/comparator >= 4.0.8"
### Preconditions and environment

- 2.4.3-p2
- PHPUnit environment with sebastian/comparator >= 4.0.8

### Steps to reproduce

Run the MFTF unit tests over Sales, SalesRule and Tax modules.

### Expected result

Tests pass.

### Actual result

<summary>Tests fail on float comparisons</summary>
<details>
<pre>
There were 14 failures:
1) Magento\SalesRule\Test\Unit\Model\Rule\Action\Discount\ToPerc

[2022-09-20 22:23] pmonosolo commented on #35838
I have the same issue, its also compounded by Amasty plugin redirecting all 404 pages to search making it confusing as hell.

This is still present on 2.4.5 upgrade from 2.4.3.

I think what happens is that after an unsuccesful login, it loses referrer URL or something similar happens and it just dumps the user to 404 page.

[2022-09-20 22:47] pmonosolo opened #36168 "Magento 2.4.5: Magento\ProductAlert\Model\Mailing\ErrorEmailSender::execute(): Argument #2 ($storeId) must be of type int, string given"
### Preconditions and environment

- Magento version 2.4.5 CE
- Upgrade from 2.4.3 (vendor folder was deleted during upgrade)
- PHP 8.1

ERROR:
 Magento\ProductAlert\Model\Mailing\ErrorEmailSender::execute(): Argument #2 ($storeId) must be of type int, string given, called in /home/www/public_html/vendor/magento/module-product-alert/Model/Mailing/AlertProcessor.php on line 130

### Steps to reprod

[2022-09-20 23:30] pmonosolo commented on #36168
Something probably up the stack has triggered the error as line 130 in  ErrorEmailSender.php is an end of line.

Files that include ErrorEmailSender.php:

[code]

[2022-09-21 03:05] engcom-November commented on #36156
@magento give me 2.4-develop instance

[2022-09-21 03:50] engcom-November commented on #36156
Verified the issue on both 2.4-develop and 2.4.5 versions and the issue is reproducible. Hence updating the description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/191410299-292fd231-eae9-43f1-8c41-663b2ad403dc.png)
![image](https://user-images.githubusercontent.com/60198231/191410325-32c975ad-df72-4cfe-afb4-77fa6f2091a9.png)

[2022-09-21 04:18] engcom-November commented on #36131
Hi @TerrapinSoftware ,
Thank you for reporting and collaboration. As mentioned by @hostep , this is a known issue and mentioned in release notes of 2.4.5 [devdocs](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-5.html#known-issue) See the [Admin can’t create order/reorder when Braintree payment enabled](https://support.magento.com/hc/en-us/articles/8322266352525) Knowledge B

[2022-09-21 04:18] #36131 closed, assigned to engcom-November

[2022-09-21 04:51] sandy6666 commented on #35836
@magento I am working on this

[2022-09-21 05:03] sandip9909 commented on #36087
close

[2022-09-21 05:16] engcom-Delta commented on #35967
Hi @pixel-paul ,

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-21 05:56] engcom-Charlie commented on #32910
Hi @engcom-November,

Missed out to mention that latest update here which we have posted on PR.

As per the clarification from @hostep [here](https://github.com/magento/magento2/pull/35053#issuecomment-1103905337), I have reproduced the issue and mentioned the [steps](https://github.com/magento/magento2/pull/35053#issuecomment-1108607663) for the reproduction. Observed that issue is reproducible h

[2022-09-21 06:26] engcom-Bravo commented on #36081
@magento give me 2.4-develop instance

[2022-09-21 06:51] ronak-vaimo opened #36169 "Admin forgot password email in wrong link"
### Preconditions and environment

- Magento version 245
- Config web/url/use_store = 1

### Steps to reproduce

1. Set config web/url/use_store = 1 (Stores > Configuration > General > Web > Url Options > Add Store Code to Urls = Yes)
2. Clear cache
3. Go to admin login page and then click on **Forgot your password?**
4. Enter email and click on Retrieve Password
5. Check email in reset password l

[2022-09-21 06:56] engcom-Delta commented on #36109
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:**

When we try to change the product's layout in admin panel from the custom module,we are getting an Exception message.

**Pre-requisite:**
 2.4-develop

**Steps to reproduce:**
1.Create a custom module

2.Change the catalog_product_edit.xml and product_form.xml files as mentioned in the main descr

[2022-09-21 06:59] ronak-vaimo commented on #36169
@magento give me 2.4-develop instance

[2022-09-21 07:07] ronak-vaimo commented on #36169
Magento Instance in I can't test because mail not working.
Error : Unable to send mail. Please try again later.

[2022-09-21 09:30] DanieliMi commented on #35866
This has been fixed in https://github.com/magento/magento2/commit/38cc5b1e35940dfe1d7a30605457f08222445658. Should be fixed in 2.4.5.

[2022-09-21 09:41] peterjaap commented on #36078
@sdzhepa still curious to know how it is fixed in 2.4.4 then. Since the patch _can_ still be applied on 2.4.4, even though it is not meant for that version. That would mean the code hasn't changed, otherwise the patch application would fail. So how is it fixed?

[2022-09-21 09:56] klein0r commented on #35909
Looks like this has been fixed in bb55549cd3016987663272e7ffe3f452c8d6e40d

I'm going to override the limiter.phtml

[2022-09-21 10:27] RikvdHeijden opened #36170 "fatal error in GraphQL Types"
### Preconditions and environment

Version 2.4.5, don't know if other versions are currently affected

### Steps to reproduce

Update your local composer and run di:compile.

### Expected result

A successful di:compile

### Actual result

The message will be something like: Fatal error: Type of Magento\Framework\GraphQl\Schema\Type\StringType::$name must be string (as in class GraphQL\Type\Defini

[2022-09-21 10:39] vandijkstef commented on #36107
@magento give me 2.4-develop instance

[2022-09-21 10:47] vandijkstef commented on #36107
Tried to verify again, above issue not resolved. Can't directly find an active issue on this.

[2022-09-21 10:49] hostep commented on #36078
@nathanjosiah: can adobe publish some kind of post-mortem about this, too many people are confused about this.

[2022-09-21 10:52] sandy6666 commented on #36163
@magento i am working on this

[2022-09-21 10:53] engcom-Hotel commented on #36090
Dear @alexey-dorosh,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-21 10:53] #36090 closed, assigned to engcom-Hotel, alexey-dorosh

[2022-09-21 10:57] engcom-November commented on #32910
Thanks for the update @engcom-Charlie , confirming this issue as its reproducible on 2.4-develop branch.
Thank you.

[2022-09-21 11:31] tdgroot commented on #36170
Can confirm, also ran into this problem on Magento 2.4.4

[2022-09-21 11:41] engcom-November commented on #29089
We are closing this issue as there has been no latest updates on the same. Kindly reopen / create if the issue is still reproducible.
Thanks.

[2022-09-21 11:41] #29089 closed, assigned to engcom-November

[2022-09-21 11:42] engcom-November commented on #34436
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if the issue is still reproducible.
Thanks.

[2022-09-21 11:42] #34436 closed, assigned to engcom-November

[2022-09-21 11:43] engcom-November commented on #30719
Hi @rani-priya ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-21 11:43] #30719 closed, assigned to sathiyaaa, engcom-November

[2022-09-21 11:44] Nuranto commented on #36170
Same error here. Probably because of the new release of webonyx/graphql-php ?

[2022-09-21 11:44] engcom-November commented on #35600
Hi @shubham-lade ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue you are still facing any issues.
Thank you.

[2022-09-21 11:44] #35600 closed, assigned to engcom-November

[2022-09-21 11:52] engcom-Bravo commented on #36081
Hi @jayankaghosh,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.We are able to Update customer email with customer has 100+ orders with in a few seconds.Kindly refer the screenshots.

<img width="1171" alt="Screenshot 2022-09-21 at 5 17 49 PM" src="https://user-images.githubusercontent.com/51680745/191496376-032009f2

[2022-09-21 11:55] upbott-gulshan commented on #34562
Any update on this? This seems blocking upgrade to latest versions.

[2022-09-21 11:59] engcom-Bravo commented on #36165
Hi @mohammedTBB,

Thanks for reporting and collaboration.

We are happy to assist to you.Kindly provide exact steps to reproduce and also kindly provide screenshots if required.

Kindly go through with this [document](https://devdocs.magento.com/guides/v2.4/install-gde/composer.html) for installing a  Magento Instance.

Please let us know if you are still facing any issue.

Thanks.

[2022-09-21 12:08] engcom-November commented on #33767
We are closing this issue as its not reproducible anymore on Magento 2.4-develop branch.

[2022-09-21 12:36] chrisastley commented on #36170
I came across this issue earlier doing updates to an existing site. This is caused by an update earlier today to composer module webonyx/graphql-php (https://github.com/webonyx/graphql-php)

I had to downgrade by running `composer require webonyx/graphql-php:14.11.6`

[2022-09-21 12:38] engcom-Bravo commented on #36144
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 but the issue is not reproducible.We are able to retrieve the price of configurable products within less than a minute.

1.Created 36 configurable products with 200+ variants.

<img width="1157" alt="Screenshot 2022-09-21 at 5 33 30 PM" src="https://user-images.githubusercont

[2022-09-21 13:06] Jarzebowsky commented on #36170
I came across this one on Magento 2.4.5 as well. Temporary solution given by @chrisastley does the trick.

[2022-09-21 13:27] pkarsai commented on #31920
After this was fixed, the fix was removed by this commit: https://github.com/magento/magento2/commit/405ee6ebdfb9a3df7455153eb11af2f91fdba562

So in version 2.4.5 the bug is back again... 🤦🏻‍♂️

[2022-09-21 13:42] git-seb commented on #35918
Changing the public function apply code on line 101 in SearchResultApplier.php to this also fixes it:
[code]

Fix provided by Mirasvit

[2022-09-21 14:04] engcom-Lima commented on #35838
Hi @pmonosolo & @ananth-iyer ,

Thanks for your contribution and collaboration.

Internal team is working on it ,we will come back soon with some result.

Thanks

[2022-09-21 14:13] dragonfly4 commented on #35724
I couldn't figure out what was going on until I found this issue. Can confirm this is a bug on v2.4.4

[2022-09-21 14:17] Nuranto commented on #26850
still valid on 2.4.5

[2022-09-21 15:31] #36170 closed, assigned to nobody

[2022-09-21 16:34] pmonosolo commented on #35838
Thanks @engcom-Lima !

It'd be great if the fix was released as a hotfix instead of waiting for a full release or a patch.

We cant have enterprise software have a serious issue where we lose customers because the basic function such as login does not work.

[2022-09-21 17:48] nbennett25 commented on #36161
@engcom-Dash can you confirm the versions of the `magento/module-paypal-recaptcha` and `msp/recaptcha` are in 2.4? (we're working with 2.3.5-p2)

Did you switch to the website scope in the configuration? The issue isn't that the paypal recaptcha config isn't working, it's that it's not working within the website scope (ie, change website, then set it to No while the default config is Yes)

We buil

[2022-09-21 19:07] Nuranto opened #36174 "Performance - Loading attribute options from DB"
### Summary (*)

When using `$product->getAttributeText('some_attribute_using_table_source')`, this is executed :

[code]

And `getOptionText` get its data from database.

The issue is that if we call `getAttributeText()` several times, a call to database will occur every time. I know query cache will help, but this is still DB calls, so DB load (with networks time for each request, etc..) which i

[2022-09-21 20:26] hostep commented on #36169
This was reported before: https://github.com/magento/magento2/issues/35667 and got confirmed yesterday, I think we should close this issue here as a duplicate?

[2022-09-21 20:33] TysvdHeuvel commented on #26053
Thanks Ludwig! 2 hours of research.. but thanks to this hint I managed to solve my problem.
How did you find out? My logs don't show anything that points in this direction.

[2022-09-21 20:41] Darkwolf81 opened #36175 "Creditmemo Creation Error in 2.4.5: Please enter positive number in this field"
### Preconditions and environment

- Magento 2.4.5
- PHP 7.4.21 (Amazon AWS Elastic Beanstalk Platform, Nginx)

### Steps to reproduce

1. Create a creditmemo for any order
2. Error Message: Please enter positive number in this field

### Expected result

Creditmemo successfully created

### Actual result

Error Message: Please enter positive number in this field
In the input field, there is the f

[2022-09-21 20:43] Darkwolf81 commented on #36175
@magento give me 2.4-develop instance

[2022-09-21 20:57] Darkwolf81 commented on #36175
Hi, i cannot reproduce the error on the test Magento Instance. This has a system configuration, thats not affected by the error. The error in 2.4.3 could although not being reproduced on the Test Instance.

[2022-09-21 21:08] florinm8 opened #36176 "Reorder product with options is failing"
### Preconditions and environment

- Version: Magento 2.4.5
- php 8.1
- I use aheadworks/module-sarp2 module which adds subscription option, but i suspect it is not the cause of the issue. None of my orders - with products without subscription - have the option key on info_buyRequest  (see detail on 'Actual result' section below)

### Steps to reproduce

1. place an order with a product that add c

[2022-09-22 03:18] engcom-November commented on #36074
Hi @ardianthaqit ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with and without MSI(Inventory) enabled both and the issue is not reproducible in both the cases.
Product stock qty with 1 and 2 - stock status is in stock and able to add to cart from front end.
![image](https://user-images.githubusercontent.com/60198231/191650782-c662bac7-d6da-4731-836f

[2022-09-22 04:24] engcom-November commented on #24718
Verified the issue on latest Magento 2.4-develop instance and the issue is reproducible. Hence confirming this issue.
There is no restriction to add duplicate values for option_id. Adding duplicate values for option_id with same store_id is returning no error in eav_attribute_option_value DB table. Adding so is breaking Layered Navigation on Front end Search Results page. Hence confirming this iss

[2022-09-22 04:37] engcom-Delta commented on #35595
Hi @NickvdMeij

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-22 04:39] patrasq commented on #34135
Hi, any update on this? 2.4 instance, same behavior.

[2022-09-22 06:21] engcom-Bravo commented on #36176
@magento give me 2.4-develop instance

[2022-09-22 06:33] engcom-Bravo commented on #36176
@magento give me 2.4-develop instance

[2022-09-22 06:41] jspoe commented on #34898
Submitted a support ticket for a commerce client for this.

I asked them if they could add a more specific notice about what pagebuilder element has an error and should be fixed.
From support perspective, they could not deliver a fix or script to do this, but managed to get some information that might help someone.

The issue (besides the header) resides pagebuilder elements that were created pre

[2022-09-22 09:47] NickvdMeij commented on #35595
@magento give me 2.4-develop instance

[2022-09-22 11:11] oneserv-heuser commented on #36144
https://github.com/magento give me 2.4-develop instance

[2022-09-22 11:16] oneserv-heuser commented on #36144
@magento give me 2.4-develop instance

[2022-09-22 11:18] engcom-November commented on #36175
Hi @Darkwolf81 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop and Magento 2.4.5 open source versions as well but the issue is not reproducible.
As per the pre conditions mentioned by you, PHP 7.4 is not a supported version for Magento 2.4.5. Kindly check the Magento [System requirements](https://experienceleague.adobe.com/docs/commerce-operations/installatio

[2022-09-22 11:20] engcom-Bravo commented on #36169
Hi @ronak-vaimo,

Thanks for reporting and collaboration . Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above steps to reproduce. however, similar issue has been confirmed [here](https://github.com/magento/magento2/issues/35667)

Hence we are closing this as a duplicate.

Thanks.

[2022-09-22 11:20] #36169 closed, assigned to engcom-Bravo

[2022-09-22 11:40] oneserv-heuser commented on #36144
@engcom-Bravo
Sorry, it looks like I need to specify my numbers a little bit more. Please try the same with bigger configs. For example our biggest configurable product has around 1.200 single products. So I guess our biggest category has around 15.000 single products behind it's configurable products in the first 36 products.

Could you please try to reproduct the issue with even bigger configs,

[2022-09-22 11:44] engcom-Bravo commented on #36176
Hi @florinm8,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 but the issue is not reproducible. Created a Product with custom options and placed order successfully.Kindly refer the screenshots.

<img width="1171" alt="Screenshot 2022-09-22 at 3 49 21 PM" src="https://user-images.githubusercontent.com/51680745/191737229-db06c842-ea1d-4b64-988

[2022-09-22 12:29] NickvdMeij commented on #35595
@engcom-Delta here you go, yet another video **proving** the bug still exist: [youtube link ](https://youtu.be/iWd1pNuEGW0) . Please do a better job actually _following_ the 2 video's I made now, as well as the written guide how to reproduce it! I really get the feeling I'm being trolled, already spend way too much time trying to have you guys recognize the problem....

[2022-09-22 12:32] engcom-November commented on #36124
Hi @hhonetree Thank you for reporting.
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible. After changing the stock status from out of stock to instock and with quantity - product is searchable in both front end and graphql as well.
![image](https://user-images.githubusercontent.com/60198231/191747655-926c9a6a-7303-4487-92f2-8c80e32ad0cc.png)
Kindly recheck the beha

[2022-09-22 12:39] NickvdMeij opened #36178 "Repost due to incorrectly closed issue #35595"
### Preconditions and environment

See https://github.com/magento/magento2/issues/35595

### Steps to reproduce

See https://github.com/magento/magento2/issues/35595

### Expected result

See https://github.com/magento/magento2/issues/35595

### Actual result

See https://github.com/magento/magento2/issues/35595

### Additional information

See https://github.com/magento/magento2/issues/35595

###

[2022-09-22 13:26] SerhiiMandrykin opened #36179 "Exception when trying to validate a simple product for a sales rule"
### Preconditions and environment

- Magento version: 2.4.3-p3
- Anything else that would help a developer reproduce the bug:
Exception: `Call to a member function getTypeId() on null`
File: `/vendor/magento/module-configurable-product/Plugin/SalesRule/Model/Rule/Condition/Product.php`
Line: `59`

### Steps to reproduce

1. Get a simple products loaded and a sales rule loaded
2. Execute validation

[2022-09-22 13:39] davidandersson1 commented on #35366
@ssx if you any idea, can you please tell me, how to apply this patch via composer.json??
https://gist.github.com/ssx/275bc6c9674277ed8d26592235f1cc6b

For example, if specific module patch then we can apply like
"extra": {
        "magento-force": "override",
        "composer-exit-on-patch-failure": true,
        "patches": {
            "magento/module-cache-invalidate": {
                "GH 8

[2022-09-22 13:52] writyou commented on #35366
After magento2.4.5 js is compressed, the production mode, the product cannot be saved, and the cms article cannot be saved

[2022-09-22 13:56] antonfries commented on #35366
You have to use "magento/magento2-base" - after composer update/install the files getting copied to main directory, if missing

[2022-09-22 14:14] OvalMedia commented on #8933
2.4.3-p1 same error. Happens with regular import/updates of ~4000+ products.

[2022-09-22 14:23] writyou commented on #35286
magento2.4.5 erro

  if (typeof value === 'object' && !!(value.padding || value.margin)) {
                    allFilled = true;
                    _.flatten(_.map(value, _.values)).forEach(function(val) {
                        if (utils.isEmpty(val)) {
                            allFilled = false;
                            return allFilled;
                        }
                    });

[2022-09-22 14:54] JonathanHelvey commented on #22970
Hi [himanshu-tech], I am running into this exact same error. I take it, its one of my attributes values is wrong. However, I am not sure. How exactly did you find what attribute was throwing error? How did you fix? Just curious, thank you for the help.

[2022-09-22 15:02] mohammedTBB commented on #36165
Hi [engcom-Bravo](https://github.com/engcom-Bravo)

I have tried to reproduce the error in a fresh magento 2.4.5 instance, and it is not reproducible in a local environment.

Although on a certain server setting it could be reproduced.

[2022-09-22 15:02] #36165 closed, assigned to engcom-Bravo

[2022-09-22 15:49] engcom-Delta commented on #36085
Hi @AprilNJ,

 We have tried to reproduce this issue in magento 2.4-develop, but issue is not reproducible .

Precondition:
• Magento version : 2.4.4-develop
• PHP 8.1

We have followed below steps
1.We called getResultCount() function in Magento\CatalogSearch\Block\Result.
<img width="634" alt="Screenshot 2022-09-22 at 9 01 45 PM" src="https://user-images.githubusercontent.com/51681379/191789963-

[2022-09-22 16:08] Darkwolf81 commented on #36175
Hello @engcom-November
Magento 2.4.4 added compatibility with PHP 8.1, but it is no requirement. Fresh install of 2.4.5 is still possible. Current composer.json has the requirement:
[code]
PHP 8.1 is although currently not available on Amazon AWS, so max 8.0 is possible to use.

Maybe other users can confirm the issue, too. I can only confirm that the error affected through changes in the file des

[2022-09-22 18:33] sivaganeshsg commented on #34180
This is still pending @bireney

[2022-09-22 18:59] mirianfalconi commented on #36076
@magento I am working on this

[2022-09-22 18:59] mirianfalconi commented on #36076
@magento add to contributors team

[2022-09-22 19:01] mirianfalconi commented on #36076
@magento add to contributors team

[2022-09-22 19:02] mirianfalconi commented on #36076
@magento I am working on this

[2022-09-23 02:12] DJOGlobal2022 opened #36182 "Order number 000176319 show paid $1152.20, but we didn't receive the payment through Braintree, could you please advise where has the payment gone through? Thank you"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-09-23 04:44] davidandersson1 commented on #35366
@antonfries thanks a lot for your reply and it's works perfectly.

[2022-09-23 05:23] kamranzafar1 commented on #36149
Any update on the issue.

[2022-09-23 05:35] #36179 closed, assigned to nobody

[2022-09-23 05:53] engcom-November commented on #36133
We are considering this as feature request but not a bug since this is an existing behavior of Magento2.

[2022-09-23 05:58] netjordanlee commented on #30540
Reproduced in 2.4.3-p1

As @HarryHung-Shopstack describes, we can search for numbers, but trying to do a search for any string results in the error above (number_format_exception). Haven't tested the fix from @trunglv yet, will edit here with results when tested.

[2022-09-23 06:12] engcom-November commented on #36107
@magento give me 2.4-develop instance

[2022-09-23 06:40] engcom-Bravo commented on #36144
@magento give me 2.4-develop instance

[2022-09-23 07:35] danielpugh commented on #35297
bin/magento config:set system/security/max_session_size_admin 2560000

worked for me (phew!)

[2022-09-23 07:54] Nuranto opened #36183 "Minify Html issue"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

Edit a template having a `if` condition

replace one `<?php endif ?>` with `<?php //test comment ?><?php endif ?>`

### Expected result

html file gets minified correctly

### Actual result

The `endif` is removed in minified html. The page gives a 500 result.

### Additional information

Even if it is a bad coding

[2022-09-23 07:57] amokato commented on #36054
Any updates on this? Nobody seems to care about such a severe issue.

[2022-09-23 08:09] mrtuvn commented on #36183
https://github.com/magento/magento2/issues/32153
Your case already reported here

[2022-09-23 08:17] Nuranto commented on #36183
Yes sorry, I did search, however didn't find it.

[2022-09-23 08:17] #36183 closed, assigned to nobody

[2022-09-23 09:00] pkarsai commented on #27450
Thank you! This thread saved me a couple of hours of debugging. I made this patch to add uppercase letters and underscores to the list of accepted characters in directive names:

[code]

[2022-09-23 09:14] iwanvanzijderveld opened #36184 "Magento multishipping error message incompatible with update-shopping-cart.js"
### Preconditions and environment

- 2.4.5
- Magento Multishipping

### Steps to reproduce

1. Login as customer.
2. Add 99 quantity of any item
3. Proceed to cart
4. Use multishipping checkout
5. Update the quantity to reach the limit for multishipping quantity
6. Submit

### Expected result

Error message to be shown:
`The requested qty exceeds the maximum qty allowed in shopping cart`

### Actu

[2022-09-23 09:20] DuckThom opened #36185 "[2.4.5] setup:static-content:deploy hanging after upgrading"
### Preconditions and environment

- Magento 2.4.5
- PHP 8.1

### Steps to reproduce

1. Run `bin/magento setup:static-content:deploy -f -j 4 en_US en_GB nl_NL nl_BE sv_SE`

### Expected result

Execution time is the same as 2.4.4:

[code]

### Actual result

Process appears to hang and is using 100% of the CPU core it's running on, any child processes that were created will be marked as Zombie si

[2022-09-23 09:20] chrislomax83 opened #36186 "webonyx/graphql-php 14.11.7/8 breaks compile"
### Preconditions and environment

- 2.4.5, probably lower versions as well that don't employ a strict version of webonyx/graphql-php

### Steps to reproduce

Install a composer extension and composer updates.

Composer is set to "~14.11.6" so it upgrades to "14.11.8"

A new release of webonyx was deployed 2 days ago which does the upgrade.

It has a strict type of "public string $name = Type::FLO

[2022-09-23 09:29] Anve94 commented on #36185
+1
I can confirm severe performance degradation in static content deploy on three independent projects, all using a quick deploy strategy using multiple jobs in parallel. All these projects are being upgraded to 2.4.5 and this issue started occurring when deploying our upgrade branch to test and acceptance environments. Production is on 2.4.3-p2 for all 3 projects and is unaffected by performance

[2022-09-23 09:32] engcom-Dash commented on #33799
@magento give me 2.4-develop instance

[2022-09-23 09:34] chrislomax83 commented on #36186
Actually, ignore this.

It seems the version 14.11.8 fixes the incorrect deployment and it was specific to 14.11.7.

It just seems I was really unlucky on the timing of when my composer updated to the broken version

[2022-09-23 09:34] #36186 closed, assigned to nobody

[2022-09-23 10:15] engcom-Lima commented on #36184
@magento give me 2.4.5 instance

[2022-09-23 10:54] engcom-November commented on #36107
@magento give me 2.4-develop instance

[2022-09-23 11:09] hostep commented on #36054
@sdzhepa: can we have somebody to verify this? This indeed sounds like a P0 or P1 prio if it's true. Thanks!

I can **not** confirm that this is true on Magento 2.4.3-p3 on production shops of ours, it works as expected over there. We haven't tried 2.4.4 or 2.4.5 yet in production, so I can't speak about those versions yet.

[2022-09-23 11:12] Mabonito commented on #1583
Hi Kandy, the link that you share on the above send to a 404 page, is there an alternative for this link.
Thank you

[2022-09-23 11:14] engcom-November commented on #36108
Hi @mohammedTBB ,
Verified the issue on both Magento 2.4.5 and 2.4-develop instances but the issue is not reproducible.
Layered Navigation "filterable with results" is working fine for 'Manufacturer' attribute on frontend and no errors/ exceptions observed in the logs. Kindly check if any 3rd party extensions / modules enabled is causing this issue and recheck on Magento 2.4-develop instance and e

[2022-09-23 11:34] engcom-November opened #36188 "Unable to add full description during product creation with page builder enabled"
### Preconditions and environment

2.4-develop
Page builder enabled

### Steps to reproduce

1. Login to admin and create new product
2. Expand Content - Full Description - Edit with Page builder
3. Drag and Drop any Layouts.

### Expected result

Able to add the content

### Actual result

Unable to drag and drop any of the pagebuilder layouts and add content

https://user-images.githubuserconten

[2022-09-23 11:39] engcom-November commented on #36107
Hi @vandijkstef , Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop branch but unable to edit with Page builder for Products and this issue is being tracked in this bug: https://github.com/magento/magento2/issues/36188.
This issue needs to be verified once above issue is resolved. Hence we are moving this issue to "On hold"
Thank you.

[2022-09-23 11:42] engcom-Bravo commented on #36188
Hi @engcom-November,

Thank you for reporting and collaboration.Verified the issue on Magento 2.4-develop branch and the issue is reproducible.

Thanks.

[2022-09-23 11:45] engcom-Bravo commented on #36182
Hi @DJOGlobal2022,

Thanks for reporting and collaboration.

We are happy to assist to you.Kindly provide exact steps to reproduce and also kindly provide screenshots if required.

Thanks.

[2022-09-23 11:58] engcom-November commented on #36168
Hi @pmonosolo ,
Thank you for reporting and collaboration. Product Alert emails are not getting triggered on Magento 2.4-develop instance is an ongoing issue confirmed [here](https://github.com/magento/magento2/issues/35602). We are closing this issue as duplicate. Kindly move on to this [issue](https://github.com/magento/magento2/issues/35602) for latest updates / solutions on the same.
Thank you

[2022-09-23 11:58] #36168 closed, assigned to engcom-November

[2022-09-23 12:07] Nuranto opened #36189 "HTML minification does not process html static files"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1. Enable HTML minification
2. Generate static content
3. Set deploy mode to production
4. Load frontend home, and check html files loaded

### Expected result

HTML static files are minified.

Example :
[code]

### Actual result

Only phtml files are minified
Example :
[code]

### Additional information

_No respo

[2022-09-23 12:19] engcom-Bravo commented on #36144
Hi @oneserv-heuser,

Thanks for quick update.

Verified the issue on Magento 2.4-develop branch and 2.4.5 but the issue is not reproducible.We are able to retrieve the price of configurable products within less than a minute.

Created a 36 Configurable Product with 10,000+ Variants and assigned it to category.

<img width="1105" alt="Screenshot 2022-09-23 at 4 20 07 PM" src="https://user-images.gi

[2022-09-23 12:25] engcom-Lima commented on #36184
:heavy_check_mark: Issue confirmed

Issue got reproduced in Magento **2.4-develop**  &&  **2.4.5** .

**Description:** Magento multishipping error message incompatible with update-shopping-cart.js

**Pre-requisite:**
- 2.4.5 and 2.4-develop should be installed.
- Multi_shipping

**Steps to reproduce:**
1. Login as customer.
2. Add 99 quantity of any item
3. Proceed to cart
4. Use multishipping che

[2022-09-23 12:36] Nuranto commented on #34758
@colinmollenhour Why the lock sleep time is at least 0.5s ? Can't we sleep less ?

[code]

[2022-09-23 12:38] engcom-Bravo commented on #36140
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 but the issue is reproducible.Price and Category Aggregation labels are not translated.kindly refer the screenshots.

Language of the Store Configured as German.

<img width="1185" alt="Screenshot 2022-09-23 at 5 51 35 PM" src="https://user-images.githubusercontent.com/516807

[2022-09-23 12:38] amokato commented on #36054
We're having this issue on 2.4.4 (CE). It seems that some errors are written to the system.log.

[2022-09-23 13:24] engcom-November commented on #36154
@magento give me 2.4-develop instance with edition ee

[2022-09-23 14:28] #33383 closed, assigned to khrystynastolbova

[2022-09-23 14:33] rogerdz commented on #36156
@TysvdHeuvel Use http://<website_url>/rest/all/V1/categories/45  for update global attribute value

[2022-09-23 14:59] engcom-November commented on #36154
Hi @dekiakbar ,
Verified the issue on Magento 2.4-develop with Enterprise version and is reproducible. Hence confirming the issue.
Note: This issue is not reproducible on Magento 2.4-develop instance alone.

[2022-09-23 16:55] Nuranto opened #36190 "Consider adding a unique key to catalog_product_entity_media_gallery_value"
### Summary (*)

Magento 2.4.5

I'm currently inspecting performances and I found this :
![Capture d’écran 2022-09-23 à 18 51 04](https://user-images.githubusercontent.com/1633463/192012230-684ba608-6249-40f5-ab97-00641691c349.png)

Which leads to a loading time of 40 seconds for a product page, caused by `Magento\Catalog\Model\Product\Gallery\ReadHandler::sortMediaEntriesByPosition`.

The issue

[2022-09-23 17:37] engcom-Hotel commented on #35595
Hello @NickvdMeij,

We are an apology for this. We are reopening this ticket for further investigation and marking the other issue as a duplicate of this.

Thanks

[2022-09-23 17:37] engcom-Hotel commented on #36178
Duplicate of https://github.com/magento/magento2/issues/35595

[2022-09-23 17:37] #36178 closed, assigned to nobody

[2022-09-23 19:55] Nuranto commented on #29409
If someone is brave enough to dig in, I guess that a start would be to replace Array functions, especially in dom-observer.js

See https://leanylabs.com/blog/js-forEach-map-reduce-vs-for-for_of/

[2022-09-23 20:22] bshellma opened #36191 "Magento Admin is Super Slow for Browsing and Editing Products even though main website is fast - Why is this the case?"
### Preconditions and environment

- Magento's current version
- I have an eCommerce store with thousands of products

### Steps to reproduce

1. Go to the admin page
2. Search for a product series or individual product
3. Choose whether to see 20-999 results on a page
4. Whether it is 1 product, 20, or 999 products, you must wait 3-5 minutes for the result to load
5. Why is this an issue for the

[2022-09-23 22:29] bmxmale opened #36192 "Deprecated Functionality: strpos(): Passing null to parameter #1 ($haystack) of type string is deprecated in /var/www/vendor/magento/framework/DataObject.php on line 131"
### Preconditions and environment

- CE 2.4.4
- PHP8.1

### Steps to reproduce

Issue related with #35602, same steps, desc copied from related issue.

Enable product alert stock in BO (Configuration > Catalog >Product Alerts > Allow Alert When Product Comes Back in Stock > Yes, Allow Alert When Product Price Changes - Yes)
Reindex and cache flush
Front end - Login as customer - Select a Product w

[2022-09-24 05:19] rogerdz commented on #36184
@magento I am working on this

[2022-09-24 05:19] rogerdz commented on #36184
@magento add to contributors team

[2022-09-24 06:32] dtavieres commented on #35978
Good morning,
Is there any news or patch already for this issue ?
thank you

[2022-09-24 08:07] hostep commented on #8933
If you have an import that runs from within a PHP script, try to lock the indexer cronjobs before you start the import.
If those are locked, it means the import will run and block the indexers from running at the same time. When the import is finished, unlock the locks and the indexers will be able to run again.
Also, when the indexers are running while the import starts, doing this will prevent t

[2022-09-24 13:37] #34707 closed, assigned to Kiraberos

[2022-09-24 13:37] #36042 closed, assigned to nobody

[2022-09-24 13:37] #32177 closed, assigned to lbajsarowicz, desaiuttam, Sental

[2022-09-24 16:46] stradd opened #36194 "cron:run gives an error message"
### Preconditions and environment

CE 2.4.5

### Steps to reproduce

Install 2.4.5
setup:di:compile

### Expected result

Ran jobs by schedule.

### Actual result

PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in magento/generated/metadata/global.php on line 8

### Additional information

memory_limit=-1 is set in php.ini
All other cronjobs on m

[2022-09-24 17:01] stradd opened #36195 "After the update from 2.3.5-p1 to 2.4.5 the store switcher no longer works"
### Preconditions and environment

2.4.5

### Steps to reproduce

composer require magento/product-community-edition  --no-update
composer update
php bin/magento setup:upgrade && rm -rf pub/static/* && rm -rf var/view_preprocessed/* && php bin/magento setup:di:compile && php bin/magento setup:static-content:deploy && php bin/magento indexer:reindex && php bin/magento cache:clean && php bin/magento

[2022-09-25 12:01] Manju-crz commented on #34766
@magento give me 2.4.4 instance with edition b2b

[2022-09-25 14:38] rogerdz opened #36196 "Customer attribute and customer address attribute alway require when select 'Use Default' in config"
### Preconditions and environment

- Magento version 2.4-develop

### Steps to reproduce

1. Go Admin - Stores - Configuration - Customers - Customer Configuration
2. Untick 'Use system value' and set value Required for Show Date of Birth, Show Tax/VAT Number, Show Gender, Show Telephone, Show Company, Show Fax
3. Save config
4. Reindex and flush cache
5. Go edit 1 customer, the fields above are a

[2022-09-25 19:45] florinm8 commented on #36176
Hi, thanks for checking, it seems that the 3rd party aheadworks_sarp module is causing the issue. I got confused as the Magento\Sales\Model\Reorder\OrderInfoBuyRequestGetter class was introduced in magento 2.4.4 and it's working well without it.

[2022-09-26 01:05] DJOGlobal2022 commented on #36182
Good morning

Order number  000176319 showing paid $1152.20, but we didn't receive the payment into our bank account, could you please advise where has the payment gone through. There is no payment method on the payment  information. Please see screenshot below, thank you.
***@***.***

***@***.***
If the payment information as below, we always received the payment into our bank account, thank you.

[2022-09-26 04:35] engcom-Delta commented on #36110
Hi @oa19

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-26 04:36] engcom-Delta commented on #36110
Hi @oa19

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-26 04:36] #36110 closed, assigned to engcom-Delta

[2022-09-26 06:11] engcom-November commented on #36192
Hi @bmxmale  ,
Thank you for reporting and collaboration. Product Alert emails are not getting triggered on Magento 2.4-develop instance is an ongoing issue confirmed https://github.com/magento/magento2/issues/35602. We are closing this issue as duplicate. Kindly move on to this https://github.com/magento/magento2/issues/35602 for latest updates / solutions on the same.
Thank you.

[2022-09-26 07:37] RajasekarPanneerselvam commented on #33799
@magento give me 2.4-develop instance

[2022-09-26 07:54] engcom-Bravo commented on #36191
@magento give me 2.4-develop instance

[2022-09-26 09:46] devchris79 opened #36199 "Admin dashboard order total incorrect on page load"
### Preconditions and environment

Magento version 2.4.5,2.4-develop
PHP 8.1

1.Install Magento Instance.
2.Enable Admin dashboard Chart and use aggregated data
3.Create Orders for any product and do invoice and ship, because from completed orders we can get the Revenue.
4.Check Revenue for Today and 24hrs Timeline.
5.To see the Difference in Revenue we need to have Revenue for 24hrs and for Today

[2022-09-26 09:54] #36192 closed, assigned to engcom-November

[2022-09-26 10:05] vandijkstef opened #36200 "Magnifier.js syntax error"
### Preconditions and environment

- Mage 2.4.4

### Steps to reproduce

1. Open the console on the Product Detail page and define `const data={}` in the console.
2. Try to navigate the image gallery and get the below error:
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/51681618/207542848-193d6fbb-94c2-4a9f-ba81-51d015f26b5b.png">
3. But if replace `;` to `,` from `l

[2022-09-26 10:46] stradd commented on #36194
One more addition
The cronjob will not be executed as long as the global.php is present. If you delete them, the command php bin/magento cron:remove must first be executed and then the cronjob must be reinstalled with php bin/magento cron:install --force before the cronjob works again.

[2022-09-26 11:14] engcom-Bravo commented on #36199
@magento give me 2.4-develop instance

[2022-09-26 11:16] engcom-Bravo commented on #36176
Hi @florinm8,

Aheadworks/module-sarp2 module is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place p

[2022-09-26 11:18] engcom-Bravo commented on #36176
Hi @florinm8

Thanks for quick response.

Aheadworks/module-sarp2 module is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on

[2022-09-26 11:18] #36176 closed, assigned to engcom-Bravo

[2022-09-26 12:06] engcom-Bravo commented on #36191
Hi @bshellma,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 and the issue is not reproducible.Kindly refer the attached videos.

https://user-images.githubusercontent.com/51680745/192266256-cf4e8cbf-ab4a-403d-9834-5a54bef1dd96.mov

https://user-images.githubusercontent.com/51680745/192266392-71af1bdb-1066-429e-a155-b537a6bc947d.mov

Please

[2022-09-26 12:13] engcom-November commented on #36095
Hi @zolikonta ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.
User is able to place orders with both Paypal Express checkout and Cash on delivery payment methods with available shipping methods.
![image](https://user-images.githubusercontent.com/60198231/192273087-f0ee5cc4-6364-461f-a9ca-0589e617d7bd.png)
Kindly reche

[2022-09-26 12:24] engcom-Hotel commented on #36151
Hello @zexperto,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue has been reproducible for us. We have followed the below steps:
1. Create a new module for the custom customer attributes. Please find attached as a reference:
[Magz.zip](https://github.com/magento/magento2/files/9646116/Magz.zip)
2. Try to edit the custom

[2022-09-26 12:30] engcom-November commented on #36068
Hi @mklooss ,
Thank you for reporting and collaboration. Verified the issue on both Magento 2.4-develop and 2.4.5 instances but the issue is not reproducible.
We are able to submit order with PayPal Express checkout when calculation settings set to - Catalog Prices - including Tax in both USD and EURO currency.
![image](https://user-images.githubusercontent.com/60198231/192276122-42f0983e-89a2-429

[2022-09-26 12:30] engcom-Bravo commented on #36199
Hi @devchris79,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 and the issue is not reproducible.Kindly refer the attached screenshot.

<img width="1378" alt="Screenshot 2022-09-26 at 5 38 10 PM" src="https://user-images.githubusercontent.com/51680745/192272492-86773a94-8f53-4efb-9fa4-1006835ac31c.png">

Please let us know we miss anything.

[2022-09-26 12:43] devchris79 commented on #36199
Hi @engcom-Bravo,

Was the order for vk kv within the last 24 hours? The issue shows for us when there is an order from the later part of the previous day that shouldn't be added to the total.
The strange thing is it works fine when the time selector is changed and reverted, it just appears on the page load.

[2022-09-26 12:59] engcom-Delta commented on #36163
Hi @Oscarvaz96

Thanks for the contribution!

we have tried to reproduce the issue in Magento 2.4-develop branch. And the issue is reproducible for us.
we haved checked the storage-service.js file as mentioned above lines and in other places. we found the typo error.

<img width="454" alt="Screenshot 2022-09-26 at 6 24 15 PM" src="https://user-images.githubusercontent.com/51681379/192281856-dd248c

[2022-09-26 13:06] Rueff19 opened #36201 "Mage error component is duplicating error warnings on form inputs"
### Preconditions and environment

- Magento 2.4.5
- The error can be reproduced in any form (ex: login form)

### Steps to reproduce

1. Submit blank login form;
2. Fill the email input and submit again;
3. Remove the email and submit blank form again;
4. Click one more time on submit button.

### Expected result

There should only be one error warning.

### Actual result

Two error warnings appe

[2022-09-26 16:05] nataliefox-288 opened #36202 "Empty block name error with module-price-permissions"
### Preconditions and environment

Magento version: 2.4.5
There appears to be a bug in the enterprise module module-price-permissions when a block with no name is used (on an admin screen). A message is seen:
Deprecated Functionality: stripos(): Passing null to parameter #1 ($haystack) of type string is deprecated in /app/vendor/magento/module-price-permissions/Observer/AdminhtmlBlockHtmlBeforeObs

[2022-09-26 16:38] kiruthika1611 opened #36203 "Category url rewrites is not SEO friendly in multi store webiste (Magento Version : 2.4.4)"
### Preconditions and environment

- Magento version - **2.4.4**

### Steps to reproduce

**Example :**

**Step - 1**
**Create Multi store website**

-    Login to admin -> Store -> Configuration -> All  store -> Create a stores

**Please refer Below image**

![image](https://user-images.githubusercontent.com/114425316/192330212-eef074ee-1e2e-43a3-8b03-eaeff5c1cda5.png)

**Step - 2**
**Product Imp

[2022-09-26 18:25] LeoNun commented on #35603
Hello,
having the same problem in magento 2.4.5.

Best regards,
L Nunes

[2022-09-26 18:36] devteam-carmelo commented on #34325
Using composer 2 seems to solve the issue.

[2022-09-26 20:55] jdubbya commented on #35603
This is also occurring when sending out **shipment** notification emails in Magento 2.4.4-p1.

[2022-09-26 21:53] bhairavi25 commented on #30835
@magento-admin give me 2.4.4 instance with edition b2b

[2022-09-26 21:56] bhairavi25 commented on #30835
@magento give me 2.4.4 instance with edition b2b

[2022-09-27 00:21] db879 opened #36204 "Something went wrong with processing the default view and we have restored the filter to its original state."
### Preconditions and environment

- Magento version 2.4.1-p1
- entered search field and the system produced the error: Something went wrong with processing the default view and we have restored the filter to its original state. The page is now stuck on loading.

### Steps to reproduce

1. navigated to sales
2. clicked in search tab, entered a name

### Expected result

search would have come up w

[2022-09-27 00:37] #36204 closed, assigned to nobody

[2022-09-27 04:08] davidduong90 commented on #35657
@Kerolusnasser Thank you! In my case, I need to update plugin Magefan_Blog

[2022-09-27 05:22] engcom-November commented on #36089
Hi @densen45 , Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance with both German(Germany) and French(France) locale options but the issue is not reproducible.
Steps performed:
1. Locale set to English (United States). Created Bundle product with Special Price in decimal values.
2. Locale changed to French (France).
3. Clean cache
4. Front-end - Catalog

[2022-09-27 06:19] r-martins commented on #26955
Just try to change app/etc/di.xml..
from
[code]
to
[code]

Then re-run `bin/magento s:d:c`

[2022-09-27 07:35] mklooss commented on #36068
@engcom-November you should use the express Button direct from an Product or from the cart, so paypal did not know about the shipping costs.

[2022-09-27 07:45] engcom-Bravo commented on #36201
@magento give me 2.4-develop instance

[2022-09-27 07:48] dtavieres commented on #35978
Hello @engcom-Delta. Any news about this issue ? any patch ?

[2022-09-27 07:56] #29994 closed, assigned to nobody

[2022-09-27 07:59] dtavieres commented on #35978
Good morning .
Is there any patch or workaround for version 2.4.5
Thank you

Kindest Regards,
----------------------------------------
Daniel Tavieres
CEO | DLO
Mobile +1 (305) 773-5573 / +34 699 46 37 26

 [A picture containing logo  Description automatically generated]

DLO Corp (US) : +1 (305) 448-6062
DLO Europa SL: +34 934 814 788
DLO de Costa Rica SA: +506 7122 0579

From: Penchalaiah K ***@

[2022-09-27 08:11] kamranzafar1 commented on #36149
@engcom-Hotel @engcom-Dash
Any update on the issue?

[2022-09-27 08:57] ecoprince commented on #35584
I found an issue with getPaymentRequest() structure.

Solution:
**vendor/paypal/module-braintree-core/view/frontend/web/js/googlepay/implementations/core-checkout/method-renderer/googlepay.js**

getPaymentRequest()

     if (this.getEnvironment() !== "TEST") {
          result.merchantInfo = {
              "merchantId": this.getMerchantId()
          };
     }

[2022-09-27 08:59] engcom-Hotel commented on #35978
Hello @dtavieres,

We will get back to you on this soon.

Thanks

[2022-09-27 09:17] dtavieres commented on #35978
thank you. I appreciate it

Kindest Regards,

-------------------------------------------------------------

Daniel Tavieres

CEO | DLO

Mobile +1 305 773 5573 / +34 699 46 37 26

On Sep 27, 2022, at 10:59, Abhinav Pathak ***@***.***> wrote:

﻿

Hello @dtavieres<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdtavieres&data=05%7C01%7Cdtavieres%40dlocorp.com%7C2686dfe

[2022-09-27 09:17] adaudenthun commented on #35775
Can confirm same issue on 2.4.3-p3

[2022-09-27 09:24] driskell commented on #30017
Reproducible in 2.4.3

* Make any product out of stock and view the product in front side.
* Subscribe for 'Product back in stock' alert.
* Go to admin panel and make that product back in stock.
* Also disable that product
* **Wait for the product alert schedule to run**
* You get an email

@magento give me 2.4-develop instance

[2022-09-27 10:01] adamzero1 commented on #9340
As this isn't a "bug" but we also wanted to use gift messages for virtual orders (orders only containing virtual products) we have made a module to allow this: [zero1/module-gift-message-for-virtual-orders](https://packagist.org/packages/zero1/module-gift-message-for-virtual-orders)
Hope this saves someone some time! :D

[2022-09-27 10:40] engcom-November commented on #36202
Hi @nataliefox-288 ,
Thank you for reporting and collaboration. However, Advanced Feeds module is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extens

[2022-09-27 10:40] #36202 closed, assigned to engcom-November

[2022-09-27 11:10] engcom-Hotel commented on #36196
Hello,

As per the process, all the issues have been confirmed by the Engcom team member. So @engcom-November, I request you to please go through with it and try to reproduce the issue.

Thanks

[2022-09-27 11:31] engcom-Bravo commented on #36199
@magento give me 2.4-develop instance

[2022-09-27 11:47] vandijkstef commented on #34325
Yes. But 2.4.3-X and 2.4.4-X has a support for Composer 1 according to the documentation (https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/system-requirements.html).

And half this thread has been about making aware that this is limited to Composer 1. If we wait till EOL of 2.4.3/2.4.4 we can close this issue indeed

[2022-09-27 11:52] pmzandbergen commented on #13639
Note: This has not been fixed in any 2.4.x branch, the PR has been moved to 2.5.

[2022-09-27 12:01] mnowakCode commented on #35286
I have the same issue. After updating Magento from version 2.3.7-p1 to 2.4.4 we can't edit products, categories and cms pages.
![image](https://user-images.githubusercontent.com/78545108/192519679-94fe3992-ecee-4aad-9db9-366d0ad0cba2.png)
![image](https://user-images.githubusercontent.com/78545108/192519724-3b8508b6-72ab-4caf-ac15-a8b1829529c3.png)

[2022-09-27 12:10] engcom-November commented on #36100
Hi @mariogobos ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop multi store instance but the issue is not reproducible.
Customer account is getting created as expected in all stores both with and without VAT number - No issue.
![image](https://user-images.githubusercontent.com/60198231/192521353-9265e83f-b9f7-489e-9526-6c01ce53ac44.png)
![image](https://user-i

[2022-09-27 12:42] engcom-Bravo commented on #36182
Hi @DJOGlobal2022,

Kindly provide preconditions, Steps to reproduce, Actual Result, Expected Result, and also kindly provide screenshots if required. These information will be required to proceed further.

Thanks.

[2022-09-27 12:47] engcom-Bravo commented on #36199
Hi @devchris79,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 and the issue is not reproducible.Kindly refer the attached screenshot.

<img width="1322" alt="Screenshot 2022-09-27 at 6 12 51 PM" src="https://user-images.githubusercontent.com/51680745/192529502-7247cf67-7854-4a1d-b54b-1e2b9fb0c237.png">

<img width="866" alt="Screenshot 2022

[2022-09-27 12:51] engcom-Bravo commented on #36201
Hi @Rueff19,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances
Kindly refer screenshot.

<img width="635" alt="Screenshot 2022-09-27 at 6 19 32 PM" src="https://user-images.githubusercontent.com/51680745/192530833-f62ffcba-463a-4640-9a93-49fc56d88eea.png">

Steps to reproduce
1.Submit blank

[2022-09-27 13:10] devchris79 commented on #36199
Hi @engcom-Bravo

The screenshot shows orders that have been placed in the "Today" time frame, and works fine (as I would have expected).

Issue is that orders appear to be added to the numerical totals that were within the last 24hrs time frame (when page is first loaded). If you had an order at say 10pm from the previous day it would be incorrectly added to the numerical total on the page loads,

[2022-09-27 13:24] #33450 closed, assigned to nobody

[2022-09-27 14:06] engcom-Delta commented on #35662
https://github.com/magento give me 2.4-develop instance

[2022-09-27 14:06] engcom-Delta commented on #35662
@magento give me 2.4-develop instance

[2022-09-27 16:54] pmonosolo commented on #34182
I have an override for Currency.php from 2.4.3 days, and when upgrading to 2.4.5 the override fixes the issue.

[2022-09-27 19:13] github-jira-sync-bot opened #36207 "Validation messages are duplicated on customer registration form and other input forms"
**Preconditions**
Install Magento 2.4 develop with sample data.

**Issue** 
On all the pages which has the form, validate message are duplicated.

**Steps To Reproduce**
1. Open Storefront.
2. Click "Create Account" link.
3. Fill in form data, leave the Last Name and Email field blank -> Click Submit button.
4. Fill in Last Name field -> Click submit button again.
5. Remove data on the Last Name f

[2022-09-27 19:13] colinmollenhour commented on #34758
@Nuranto Good question, it wasn't a highly researched conclusion.. The general idea is that such locks should be rare, basically only occurring if the user has some sort of long-running process that is locking the session or the server is being completely overwhelmed by traffic in which case checking the lock too frequently can just make the issue worse.

If you have a situation that every page lo

[2022-09-27 21:07] nthurston commented on #35093
Can someone link the PR for this?
As a note, I've confirmed the issue on 2.4.4-p1 so it is still not fixed there.

[2022-09-28 03:48] engcom-Delta commented on #36185
Hi @DuckThom ,

Thank you for reporting and collaboration

We have tried to reproduce this issue but issue is not reproducible .

Precondition:
• Magento version : 2.4.5-develop
• PHP 8.1

We have followed below step

1. Run bin/magento setup:static-content:deploy -f -j 4 en_US en_GB nl_NL nl_BE sv_SE in magento2.4.4
<img width="1120" alt="Screenshot 2022-09-28 at 8 57 19 AM" src="https://user-ima

[2022-09-28 04:22] engcom-November opened #36208 "Multiple Store views - Admin - Category page - Sorting by Product Name issue"
### Preconditions and environment

2.4-develop
Multi store setup
Create categories and assign products
### Steps to reproduce
1. Create Products >=12 and save
1. Change scope to "Default Store View" - Change Product Names and save
1. Change scope to other website ex: "france" - Change Product Names and save
Product Names should be different for all store views.
1. Verify Admin - Catalog - Categori

[2022-09-28 04:23] engcom-November commented on #36076
Verified the issue again on Magento 2.4-develop instance but observed below different issue on Admin - Categories page.
Steps performed:
1. Saved 12 products with different product names in All Store views scope, Default store view scope and other website scope
2. Clean cache
3. Verified front end - Category page of main website and other website
4. sort by Product Name - No issue found
Sorting wo

[2022-09-28 04:52] engcom-November commented on #36068
Hi @mklooss ,
Thank you for the response. Verified the behavior again on Magento 2.4-develop instance with below 2 scenarios. Please find the observations below:
**Scenario 1#**  Payment with PayPal Express Checkout from Checkout payment page.
Behavior: Total Grand Total including taxes and shipping costs displayed on PayPal page
![image](https://user-images.githubusercontent.com/60198231/19269033

[2022-09-28 05:24] engcom-Delta commented on #36185
Hi @DuckThom,

Thank you for reporting and collaboration.

We have tried to reproduce this issue but issue is not reproducible .

Precondition:
• Magento version : 2.4.5-develop
• PHP 8.1

We have followed below steps
1.Ran bin/magento setup:static-content:deploy -f -j 4 en_US en_GB nl_NL nl_BE sv_SE in magento 2.4.4

<img width="1120" alt="Screenshot 2022-09-28 at 8 57 19 AM" src="https://user-im

[2022-09-28 05:58] hostep commented on #36185
I've just tested it out over here on a project where we are upgrading from Magento 2.3.7-p4 to Magento 2.4.5 and can confirm that the same problem is happening. When I switch from 4 jobs to 1 job, it's no longer hanging, but it takes a lot longer to execute then normal.
With 4 jobs, it just seems stuck on the line for `frontend/Magento/luma/sv_SE`:
<img width="888" alt="Screenshot 2022-09-28 at 07

[2022-09-28 06:37] engcom-Lima commented on #36050
@magento give me 2.4.5 instance

[2022-09-28 06:38] engcom-Bravo commented on #36097
Hi @PashaIhnatjo,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-28 06:38] #36097 closed, assigned to engcom-Bravo

[2022-09-28 06:51] Nuranto commented on #34758
@colinmollenhour I agree with you, the real issue is on Magento's side. Session management was always a nightmare, even on Magento 1. (It is not specific to GraphQL, we don't use GaphQL, and still have the issue.)

And @rsidhaarth is right, disabling the locking can cause bugs... However, I guess we don't have the choice to do that as long as this is not fixed in magento.

[2022-09-28 07:10] engcom-Lima commented on #36050
Hi @n2diving-dgx ,

Thanks for contribution and collaboration.

This issue is duplicate of  this issue https://github.com/magento/magento2/issues/35329
Hence, closing this issue as duplicate.

Thanks

[2022-09-28 07:10] #36050 closed, assigned to engcom-Lima

[2022-09-28 07:13] engcom-Lima commented on #35329
This isssue is reproducible in 2.4.5.

**Screen recording for reference:**

https://user-images.githubusercontent.com/60198022/192712521-ce79264e-cde0-4c55-a801-98770c863d6a.mov

[2022-09-28 07:37] OleksandrZelenchuk commented on #12496
It appears to still be and issue in 2.4.3-p1.
Did some investigation and apparently it only take place if you try to update value of attribute which does not have a store value yet. If you remove a check box to use default value in backend on store level and then save a product manually - next time you try to update attribute via rest call it will work.

[2022-09-28 07:38] engcom-Hotel commented on #35093
Hello @nthurston,

I think you are looking for the commits related to the fix. For this please refer the below link:

https://github.com/search?q=org%3Amagento+AC-2642&type=commits

Thanks

[2022-09-28 09:20] engcom-Bravo commented on #36203
@magento give me 2.4-develop instance

[2022-09-28 09:37] engcom-Lima commented on #36119
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Magento 2.4.x When Elasticsearch doesn't work, orderings will be unlimitedly spammed.

**Pre-requisite:**
- Magento `2.4-develop` should be installed.
- Elasticsearch 7

**Steps to reproduce:**

1. Add to cart
2. Go checkout page
3. Disable Elasticsearch service (Elasticsearch suddenly stop workin

[2022-09-28 09:49] 50xSolutions commented on #36191
Hi @bshellma , we had this same issue when upgrading from Magento 2.3 to Magento 2.4. Can you please check in Stores - Configuration - Advanced - System what value is in Max Session Size in Admin?

![image](https://user-images.githubusercontent.com/23242787/192747738-9cb1e9ce-418f-44be-808f-7b59026def6e.png)

We have to even disable the max size for a while, because the admin panel was incredibly

[2022-09-28 11:04] engcom-Hotel commented on #36063
Hello @guvra,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop instance and the issue is reproducible for us with the same steps as mentioned in the main description:

1. At the root of your Magento project, create a file named Test.php with the following contents:
[code]
2. Run PHPStan:
[code]

Please find below the screenshot of the error for

[2022-09-28 11:20] engcom-Lima commented on #36194
Hi @stradd ,

Thanks for your contribution and collaboration.

It is recommended to use 2G as given in [document](https://experienceleague.adobe.com/docs/commerce-operations/performance-best-practices/hardware.html#memory).
Kindly change memory limit as per our document. If you facing any issue let us know.

Thanks

[2022-09-28 11:23] DuckThom commented on #36185
@engcom-Delta I've done some testing on clean installations and the slowdown effect is not very noticeable, however it is still there. Here are some timings taken from my testing:

### Magento Open Source

<details><summary>2.4.4</summary>
<p>

[code]

</p>
</details>

<details><summary>2.4.5</summary>
<p>

[code]

</p>
</details>

As you can see, not a large difference. Things get more interestin

[2022-09-28 11:28] engcom-Lima commented on #36138
Hi @antoniocarboni ,

Thanks for yours contribution and collaboration.

Try to install Magento2 as suggested by @hostep in above [comment]
(https://github.com/magento/magento2/issues/36138#issuecomment-1249463209) .
If you are facing any issue kindly use our official [document](https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/composer.html?lang=en#get-the-metapackage)

[2022-09-28 15:47] mimou78 commented on #35956
magento give me 2.4-develop instance

[2022-09-28 16:16] kamephis commented on #36054
In our case the exceptions seem to be written into the system.log instead of the exception.log (2.4.4 CE). The exception.log stays empty.

[2022-09-28 16:26] deeke-dmf opened #36210 "Using 'getCustomAttribute' in a 'catalog_product_save_before' observer prevents 'Multiple Select'-fields from being saved"
### Preconditions and environment

Magento Version: **2.4.5**

### Steps to reproduce

1. Create a new "Multiple Select" field named `test_attribute_1`
2. Create an observer for the `catalog_product_save_before` event which uses the `getCustomAttribute` method of the product to be saved
3. Select new values for the `test_attribute_1` field

[code]
[code]

### Expected result

The new selected valu

[2022-09-28 17:13] kiruthika1611 commented on #36203
Hi @engcom-Bravo ,

**Summary of the issue :**
- [ ] Category url rewrites is not SEO friendly in multi store website

- [ ] For IN and UK website, Category URL is not SEO friendly.

- [ ] For US website, SEO friendly category URL is correctly populated.

**Step to Reproduce :**

**Step - 1**
**Create Multi store website**

Login to admin -> Store -> Configuration -> All store -> Create a stores

[2022-09-28 19:04] hostep commented on #36194
134217728 bytes is 128 MB (134217728 / 1024 / 1024), so something is overwriting your memory_limit to 128 MB instead of 2 GB or -1. You're going to need to figure out what exactly is doing this.

[2022-09-28 19:42] friendscottn commented on #35961
It looks like there's an [example of how to fix this on the older gene/module-braintree](https://github.com/genecommerce/module-braintree-magento2/commit/2c47dab6d612c7a0d5285d95df895ad0439b3a01), but the fix is not available in the magento marketplace yet.

[2022-09-28 20:15] mttjohnson commented on #34758
I was thinking it would be worth exploring if it was possible to determine the HTTP request type [before setting up the session handler](https://github.com/magento/magento2/blob/2.4.3-release/lib/internal/Magento/Framework/Session/SaveHandler/Redis.php#L63) so that it would be possible to pass in a third parameter to `\Cm\RedisSession\Handler()` call to indicate that it should start a read only se

[2022-09-28 21:48] colinmollenhour commented on #34758
@mttjohnson I'm open to a PR for supporting a no-locking flag in the handler.

As a dirty hack you might be able to call `session_close()` somewhere after the session is instantiated (or force it to happen) but early in the request so the lock is released sooner.

I would still encourage the M2 community to focus on avoiding instantiating a session at all for requests that don't actually use it, t

[2022-09-29 04:36] engcom-November commented on #36196
@magento give me 2.4-develop instance

[2022-09-29 04:46] engcom-November commented on #36196
Verified the issue on Magento 2.4-develop instance and the issue is reproducible.
![image](https://user-images.githubusercontent.com/60198231/192941102-eea45bfd-3ae1-4ca7-8de4-0cdb5d32d725.png)

[2022-09-29 05:44] engcom-November commented on #36076
Verified the issue again on Magento 2.4-develop instance and the issue is reproducible for other website store (Other than default website). Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/192948650-a62dd5c3-cc3d-4053-8a40-ab7bc0492a8f.png)
![image](https://user-images.githubusercontent.com/60198231/192948720-f4ab56ce-64d4-4ee0-a040-a42bbd941111.png)

[2022-09-29 06:32] Nuranto commented on #34758
@mttjohnson couldn't that be done on Magento's side, by disabling the disable_locking parameter when POST ?

[2022-09-29 06:45] sunilit42 commented on #36076
To fix issue

diff --git a/vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php b/vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
index 97cb92ab..d57cc7e2 100755
--- a/vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
+++ b/vendor/magento/module-elast

[2022-09-29 06:45] sunilit42 commented on #36076
To fix issue

`diff --git a/vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php b/vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
index 97cb92ab..d57cc7e2 100755
--- a/vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
+++ b/vendor/magento/module-elas

[2022-09-29 07:22] engcom-Lima commented on #32387
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Magento logs are not coming properly.

**Pre-requisite:**
- Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. Set mode to Developer
2. Enable Debug
3. Check logs in `var/log/`

**Expected result:**

1. Debug log will contain debug logs only
2. Cron log will contain cron

[2022-09-29 07:45] stradd commented on #36194
Since I only downloaded and installed version 2.4.5 and the problem only occurs if the /generated/global.php file exists, I assumed that the problem was caused by an error in Magento itself. So I reported the bug. All other memory-intensive commands such as setup:di:compile also run perfectly. phpinfo() also confirms the memory limit of 2G.
Would you agree that the issue is with Magento?

[2022-09-29 07:47] #34546 closed, assigned to nobody

[2022-09-29 07:51] #28040 closed, assigned to dmytro-ch, atwixfirster

[2022-09-29 08:29] Nuranto opened #36211 "UI Grids - Implement M1 shift-click functionnality"
### Description (*)

On M1, we can shift click to select rows in grids :

Select first row, then shift+click some other row will select all rows between those two.

### Benefits

Better user experience when using massactions on grids

[2022-09-29 09:10] engcom-Bravo commented on #36203
@magento give me 2.4-develop instance

[2022-09-29 09:21] engcom-Lima commented on #36055
@magento give me 2.4.5 instance

[2022-09-29 09:37] engcom-Lima commented on #36055
@magento give me 2.4-develop instance

[2022-09-29 09:38] EXTRA5POWER commented on #35961
5388 4105 3200 7731
09/32
CVV 812

[2022-09-29 09:52] engcom-Lima commented on #36055
:heavy_check_mark: Issue confirmed

Issue got reproduced in Magento **2.4-develop**  and **2.4.5**

**Description:**
Showing wrong count of items for Ryker product when Display out of stock options is set to Yes.

**Pre-requisite:**
Fresh magento `2.4-develop`  && `2.4.5` should be installed.

**Steps to reproduce:**
1. Login as admin.
2. Go to Stores >> configuration >> Catalog >> Inventory >> Di

[2022-09-29 10:16] ModeBan commented on #10170
Hi i came across this issue.

Reproduced by opening the import menu and selecting product type

[2022-09-29 10:17] engcom-Lima commented on #36194
Dear @stradd ,

Thanks for your contribution and collaboration.

Kindly provide us exact steps inorder to reproduce the issue as issue is not reproducible to me.

Thanks

[2022-09-29 10:54] alryalls commented on #36014
so is it being worked on, or....?

[2022-09-29 11:55] engcom-Bravo commented on #36203
Hi @kiruthika1611,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch we are able to reproduce the issue.Kindly refer the attached screenshots.

Step to Reproduce :

Step - 1
Create Multi store website

Login to admin -> Store -> Configuration -> All store -> Create a stores

<img width="1470" alt="Screenshot 2022-09-29 at 5 15 50 PM" src="https://user-im

[2022-09-29 11:55] engcom-Bravo commented on #36199
Hi @devchris79,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.Kindly refer the attached video.

Issue is that orders appear to be added to the numerical totals that were within the last 24hrs time .It works fine when the time selector is changed and reverted to Today Chart.

https://use

[2022-09-29 13:03] webgility-amazonapi opened #36213 "Order download issue through rest API"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. download orders through this API : rest/V1/orders?searchCriteria[sortOrders][0][field]=updated_at&searchCriteria[sortOrders][0][direction]=ASC&searchCriteria[filter_groups][0][filters][0][field]=updated_at&searchCriteria[filter_groups][0][filters][0][value]

[2022-09-29 14:06] sunilit42 commented on #36076
@magento I am working on this

[2022-09-29 14:10] nathanjosiah commented on #36078
We cannot discuss the details of vulnerability fixes. The patch may be able to be applied to version it is not meant for but that doesn't mean it isn't fixed.

As an abstract example:

[code]

In this example, the temporary fix was in the "hack fix" but the bug was in the `getResult`. Which means a proper fix wouldn't have the hack fix and not affect that line.

If you think that you have found a

[2022-09-29 14:12] engcom-November commented on #33644
Hi @vmalyk ,
We verified the issue again on Magento 2.4-develop instance and the issue is not reproducible anymore. Store view specific order status labels are retrieved as expected for all stores. We are closing this issue. Kindly create new issue if you are still facing any issues.
![Uploading image.png…]()

Thank you.

[2022-09-29 14:12] #33644 closed, assigned to vmalyk, shikhamis11

[2022-09-29 14:19] peterjaap commented on #36078
@nathanjosiah ok thanks for clearing that up. Just wanted to be sure the vuln was fixed in 2.4.4.

[2022-09-29 15:01] alexmtch opened #36215 "GRAPHQL - CategoryInterface breadcrumbs are not correctly sorted"
### Preconditions and environment

- Magento version : 2.4.3
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Run a categoryList query on a specific category (not top level) and retrieve results

### Expected result

Get breadcrumbs sorted

### Actual result

Breadcrumbs are not sorted

### Additional information

`\Magento\CatalogGraphQl\Model\Resolver\Catego

[2022-09-29 15:03] #31537 closed, assigned to GrzegorzWalewski, serbynskyi

[2022-09-29 15:17] in-session opened #36217 "Quality Patches Tool"
### Preconditions and environment

I would like to ask a basic question regarding the Adobe Quality Patches.

Why are these not included directly in some cases?
For example, MDVA-12304 - Increases the maximum number of cookies from 50 to 200.

[code]

Doesn't it make sense to include this in the core with such a patch?
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Frame

[2022-09-29 16:16] pmonosolo commented on #36055
Thanks @engcom-Lima !

The issue is not really in the number, its the time it takes to pull the number of the products.

If you have a 300,000 sku store, this is an issue because it outputs the whole catalog 300,000 products on a search page, for EVERY search!

[2022-09-29 16:28] mttjohnson commented on #34758
@Nuranto In thinking through this, I don't think we'd want to disable locking on any session writes because that puts the risk of whatever has a write with locking disabled of being able to overwrite session data for a request where locking is enabled and locking enabled requests expecting other write requests to be utilizing locking. The session locking is going to be important on all writes in o

[2022-09-29 16:40] sdaugherty-rp commented on #36048
@magento I am working on this

[2022-09-29 16:40] sdaugherty-rp commented on #36048
@magento add to contributors team

[2022-09-29 16:41] sdaugherty-rp commented on #36048
@magento I am working on this

[2022-09-29 16:46] sdaugherty-rp commented on #36048
Spot on. Added this PR/Commit: https://github.com/magento/magento2/pull/36221/commits/f7570c22723cc67be6fae88d14419ec86a36a586

Reused similar approach in `vendor/magento/module-asynchronous-operations/Controller/Adminhtml/Bulk/Retry.php` to add non-empty json response:

![image](https://user-images.githubusercontent.com/101587900/193090332-1a9e5e9b-a8ee-4feb-b6f5-e4d3c51aabc6.png)

[2022-09-29 21:01] nopenopenope commented on #10527
I still reproduce this issue in Magento ^2.4.x

[2022-09-29 21:29] hostep commented on #36194
Not yet no, I agree with @engcom-Lima that we need more information. You'll need to prove somehow with a clean installation of Magento that you can trigger this problem.

But if I have to guess: some custom code is probably going to set a memory_limit to 128 MB in your instance for some reason, and it's being triggered by running the cronjobs.

Maybe try searching your custom code for it, maybe th

[2022-09-29 22:09] mphx2 opened #36223 "calendar not excluding dates"
### Preconditions and environment

- Magento 2
If an item is already "rented out" it still shows dates available on the calendar that have already been selected. You only find out that item is not available when you click "Rent" button to add item to cart. Item does not get added to cart and all you can do is to keep choosing dates until one set of dates works. Need to be able to "grey out" the da

[2022-09-30 00:14] achatpc commented on #35942
I can not see update from Classy-llama team.

I thy to cite somes users from organisation.

Thank you in advance.

@magento/classy-llama
@rtull
@jonathanhodges
@mttjohnson

[2022-09-30 03:18] sdouma commented on #32089
@magento-engcom-team can we get movement on this? This breaks any extending the stock interface and has been a pain

[2022-09-30 03:39] engcom-November commented on #36215
Hi @alexmtch ,
Verified the issue on Magento 2.4-develop instance but could not reproduce the issue. Breadcrumbs information is retrieved level wise:
![image](https://user-images.githubusercontent.com/60198231/193184975-3292bc1b-7c8a-468e-a696-a96866670a50.png)
![image](https://user-images.githubusercontent.com/60198231/193185008-db4ad75f-d208-4ae4-97a3-8b7be0c7c733.png)
Kindly check the behavior

[2022-09-30 04:01] engcom-November commented on #36223
Hi @mphx2
Thank you for reporting and collaboration. However, Rental system is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support)

[2022-09-30 04:01] #36223 closed, assigned to engcom-November

[2022-09-30 04:09] tuyennn commented on #26709
https://github.com/magento/magento2/issues/29690
https://github.com/magento/magento2/issues/28875
https://github.com/magento/magento2/pull/30938

[2022-09-30 04:12] tuyennn commented on #29690
@magento give me 2.4-develop instance

[2022-09-30 04:38] sdouma commented on #32089
@magento-engcom-team
Failing because the interface is returning \Magento\Framework\Api\ExtensionAttributesInterface? This seems wrong unless architecture changes are coming. Can we just keep the stock extension interface and remove the methods?

[2022-09-30 05:07] engcom-November commented on #36195
Hi @stradd ,
Thank you for reporting and collaboration. Verified the issue on both Magento 2.4-develop instance and by upgrading from 2.3.5-p1 to 2.4.5 project-community-edition but unable to reproduce the issue.
**Steps performed:**
1. Installed German Language package and changed the admin configuration locale options to Germany.
2. Cleared cache
3. Upgraded to Magento 2.4.5. Ref [Upgrade Guide]

[2022-09-30 07:04] konarshankar07 commented on #36188
@magento I am working on this

[2022-09-30 07:21] #35852 closed, assigned to artskirk

[2022-09-30 07:26] Xuanmoi commented on #28092
I also encountered this problem.
From the network point of view, the safari browser, using paypal to place an order, will repeatedly send the request, send 4 set-payment-information requests, (normally 2 times), and thus send 2 get-total requests (normally 1 time) times), the second get-total request fails, resulting in the display of an error message.
Temporary solution: The set-payment-informati

[2022-09-30 09:40] engcom-November commented on #36054
Verified the issue on fresh instance of 2.4.5 Project-community-edition and the issue is reproducible. exception.log file is missing in var/log folder. No errors are written into exception.log. Only all errors are written into system.log file.
**Note**: There is no issue when the Magento is upgraded to 2.4.5 from 2.4.3 Project-community-edition. exception.log file is present in this case and all t

[2022-09-30 10:35] engcom-Lima commented on #36213
Hi @webgility-amazonapi ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue but issue is not reproducible to me . Please clear cache and try to test it in latest 2.4-develop.
Kindly provide more information inorder to reproduce the issue.

Thanks

[2022-09-30 11:15] engcom-Lima commented on #36217
Hi @in-session ,

Thanks for yours contribution and collaboration.

As per this [document](https://support.magento.com/hc/en-us/articles/360025675051-MDVA-12304-503-error-on-store-front-and-cookie-error) Adobe Commerce default cookies limit is set to 50 and if the client's browser hits the limit, Commerce throws an exception. The solution provided in the patch increases the cookie limit to 200.

I

[2022-09-30 11:36] engcom-Lima commented on #36123
Hi @francosmp ,

Thanks for your contribution and collaboration.

Kindly provide us information in order to reproduce the issue.
Also go through the document one by one may be you are missing something from your end.

1. [System requirements](https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/system-requirements.html)
2. [Installation guide](https://experienceleague.ado

[2022-09-30 11:37] chrisscotweb commented on #8016
This just hit me with Magento1, for anyone interested, my Magento1 fix diff follows.  The Magento2 code looks very similar, and could be easily fixed in a similar manner.  Simply store the original disabled state on each element in initialize and restore to that instead.

diff --git a/js/mage/adminhtml/form.js b/js/mage/adminhtml/form.js
index 3d510f01..b0cd6e1a 100644
--- a/js/mage/adminhtml/form

[2022-09-30 13:07] TheBadong opened #36225 "Scoped EAV attribute value same for all websites"
### Preconditions and environment

- Magento Commerce 2.4.4
- Php 8.1

### Steps to reproduce

Context : We have several websites and need to have multiple street lines on only one of them
Steps to reproduce :
1. Have a magento instance with two websites
2. Make sure the 'multiline count' of the default street attribute is set to 1
3. Add a line into customer_eav_attribute_website for another webs

[2022-09-30 14:23] miwrona2 commented on #30685
I think, it is fixed in Magento ver. 2.4.3-p1. I had the same issue while trying to execute php bin/magento setup:install (I had sample data related packages in my composer.json), so I checked var/log/system.log and found this

[code]

After searching the web I realized, there is not much space on a disk Elasticsearch can use (inside docker container in my case). **I freed up some space** in locat

[2022-09-30 17:26] engcom-Hotel commented on #36158
Hello @qsolutions-pl,

Thanks for the report and collaboration!

We have tried to reproduce the issue in the latest development branch i.e. 2.4-develop and the issue is still reproducible. Hence we are confirming the issue with some more details in the main description.

Thanks

[2022-09-30 22:11] damienwebdev commented on #34758
I don't know if it's been mentioned yet, but there's work in v2.4.5 to disable sessions on GraphQl as they're not strictly necessary any more.

@cpartica or @sidolov may know best, I haven't messed around with the setting yet.

[2022-10-03 02:19] 34cnk34 commented on #8664
@jagoman85
I am still having the issue. Mirasvit keep saying their extension works as expected. I cant figure out what causing this issue.
We have so many nested categories. I assume issue related that. But so far i couldnt find any solution. If you guys found something, please let me know

[2022-10-03 05:44] engcom-November commented on #36033
Hi @damienwebdev ,
Thank you for reporting and collaboration. This issue is a duplicate of https://github.com/magento/magento2/issues/35634 which has been confirmed. We are closing this issue. Kindly move onto this issue for latest updates / solutions on the same.
Thank you.

[2022-10-03 05:44] #36033 closed, assigned to engcom-November

[2022-10-03 05:56] engcom-November commented on #34460
hi @mkawachi ,
We are closing this issue as there has been no latest update on the same. Kindly create new issue if you are still facing any issues.
Thank you.

[2022-10-03 05:56] #34460 closed, assigned to engcom-November

[2022-10-03 05:58] engcom-November commented on #29957
We are closing this issue as there has been no latest update on the same. Please create new issue if the issue is still reproducible.
Thank you.

[2022-10-03 05:58] #29957 closed, assigned to engcom-November, viniciusbordinhao-blueacorn

[2022-10-03 06:00] engcom-November commented on #29580
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if the issue is still reproducible.
Thank you.

[2022-10-03 06:00] #29580 closed, assigned to moloughlin, engcom-November

[2022-10-03 06:02] engcom-November commented on #35568
We are closing this issue as there has been no latest update on the same. Kindly reopen /create bug report if the issue is still reproducible.
Thank you.

[2022-10-03 06:41] engcom-Bravo commented on #36128
Hi @shafeekb1,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-03 06:41] #36128 closed, assigned to engcom-Bravo

[2022-10-03 06:41] engcom-Bravo commented on #36091
Hi @RanjitBShinde,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-03 06:41] #36091 closed, assigned to engcom-Bravo

[2022-10-03 06:41] engcom-Bravo commented on #36007
Hi @SunilC1512,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-03 06:41] #36007 closed, assigned to engcom-Bravo

[2022-10-03 06:42] #35013 closed, assigned to krishprakash

[2022-10-03 06:43] #33729 closed, assigned to jonatanrdsantos

[2022-10-03 06:43] #35528 closed, assigned to nisha-vaghela

[2022-10-03 07:00] kamranzafar1 opened #36227 "Magento 2.3.4-p2 issue on changing media_gallery attribute to Global "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'attribute_id' in 'where clause' query was: DELETE FROM catalog_product_entity WHERE (attribute_id = '268') AND (store_id IN(1, 10, 13))""
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

In Admin Panel Navigate to (Admin->STORES->Attributes->Product) search Attribute Code (media_gallery) click on record and edit this attribute. Then change the attribute scope (ATTRIBUTE INFORMATION -> Properties -> Advanced Attribute Properties -> Scope) chang

[2022-10-03 07:05] engcom-November commented on #36188
@magento give me 2.4-develop instance

[2022-10-03 08:44] engcom-Hotel commented on #31537
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-1805 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-1805&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-03 08:52] engcom-Bravo commented on #36225
@magento give me 2.4-develop instance

[2022-10-03 09:10] engcom-Bravo commented on #36225
@magento give me 2.4-develop instance with edition ee

[2022-10-03 09:24] engcom-Hotel commented on #35852
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6084 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6084&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-03 09:29] mattgrul commented on #13225
With the current "PR Created" label being added I'm hoping we are close to a possible solution for this issue. However I can't seem to find any corresponding PR, does anyone have a link?

[2022-10-03 09:59] jagoman85 commented on #8664
@34cnk34
I had a couple of issues, but the first issue was the main cause...

1. Upgrade to latest Magento Version (2.4.3+) & Mirasvit Plugin version & Use ElasticSearch 7
2. Other 3rd Party Plugin caused a slow down (BSS Commerce Plugins "Hide Price" & "Multi Wishlist" in my case)
3. Settings for attributes Colour & Size were misconfigured for Layered Navigation (cant remember what the config was

[2022-10-03 10:02] engcom-Bravo commented on #36227
@magento give me 2.4-develop instance

[2022-10-03 10:10] Tomasito665 opened #36230 "Stale links to topics migrated to Adobe domains"
### Summary (*)
Adobe migrated Magento documentation to Adobe domains.
https://devdocs.magento.com/migrated.html

### Examples (*)
The pull request description template itself is a clear example:

[code]

The link points to https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog, which was moved to https://developer.adobe.com/commerce/contributor/guides/code-contributio

[2022-10-03 10:33] khnaim commented on #36113
Hello,

I have de same problem (Adobe Commerce ver. 2.4.5).

Do you have a solution to fix this problem?

TIA

[2022-10-03 10:35] engcom-Bravo commented on #36227
Hi @kamranzafar1,

Similar issue has been found here [36149](https://github.com/magento/magento2/issues/36149).

Hence we are closing as duplicate.

Thanks.

[2022-10-03 10:35] #36227 closed, assigned to engcom-Bravo

[2022-10-03 11:41] engcom-Lima commented on #36086
Hi @savlo,

Thanks for your contribution and collaboration.

I have added 3000+ products in the Magento2 and ran the indexer command **` bin/magento indexer:reindex`**

I was getting below message :
**`Catalog Search index is locked by another reindex process. Skipping.`** and from. category 1 to 4 products are displayed rest categories products is not getting displayed because of this.

**Screens

[2022-10-03 11:55] savlo commented on #36086
@engcom-Lima I did not use that indexer, I have used a custom one that is a bit harder to implement and had mviews with ids of millions as increment_id, but the issue should still happen for any of the mviews, since that way the batcher works it is the same

[2022-10-03 12:25] ioweb-gr commented on #36084
But that one refers to addAttributeUpdate and not save attribute so it's different area

[2022-10-03 12:30] engcom-Bravo commented on #36113
Hi @codebase-md,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above steps to reproduce. however, similar issue has been confirmed here [35920](https://github.com/magento/magento2/issues/35920).

Hence we are closing this as duplicate.

Thanks.

[2022-10-03 12:30] #36113 closed, assigned to engcom-Bravo

[2022-10-03 13:06] engcom-November commented on #36049
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence updating the description with exact steps and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/193583598-a58bd079-e567-43ac-810a-cf3e1bf2288d.png)
After saving the product with no changes made - catalog price rule got removed on front end.
![image](https://user-images.githubuser

[2022-10-03 13:57] #28878 closed, assigned to rani-priya

[2022-10-03 14:13] sdzhepa commented on #36230
Hello @Tomasito665

Could you please be more specific or provide more details about where exact wrong links?
In the description, you provided an example for the pull request but PR template does not have a section for Severity

Template in use: https://github.com/magento/magento2/blob/2.4-develop/.github/PULL_REQUEST_TEMPLATE.md

For issues, all templates can be found https://github.com/magento/ma

[2022-10-03 14:52] Tomasito665 commented on #36230
Hello @sdzhepa,

Thanks for coming back to me. If you click [New issue](https://github.com/magento/magento2/issues/new/choose) → [Developer experience issue](https://github.com/magento/magento2/issues/new?assignees=&labels=Triage%3A+Dev.Experience&template=developer-experience-issue.md), the template still contains the old links. Many links on other documentation are also old, including some links

[2022-10-03 16:41] texboy commented on #36119
@magento I am working on this

[2022-10-03 17:12] bsp-cory commented on #13225
@mattgrul if there is a PR, I would LOVE to see it.  This has been driving me nuts for a couple of years now, and it would really help my quality of life if I didn't have to keep selectively changing permissions on these static files.

[2022-10-03 18:17] hostep commented on #35528
Closed without any comments? Possibly fixed by [AC-3178::Order remains in status 'processing' after shipping, if items is get partially refunded](https://github.com/magento/magento2/commit/64d121cc9ca5dc799ecc6cd3cfee7f943acc5e7b)

[2022-10-03 19:24] kanevbg commented on #13225
I do not see PR either. Would be very pleased to see such too. Same opinion as of @Stoyvo , it's really unacceptable and pretty strange such a flaw to exists so much time on such advanced system. Someone should add more labels, like "platform health"

[2022-10-04 00:35] erfanimani commented on #13225
For those wondering, the PR is likely created on Adobe's internal VCS, so you know it's being worked on.

[2022-10-04 03:53] manhtranisobar opened #36233 "Reindex customer indexer error when add more custom customer attributes"
### Preconditions and environment

- Magento 2.4.5
- MySQL 8

### Steps to reproduce

1. Create new 3 varchar customer attributes with Use in Search Options is Yes
![image](https://user-images.githubusercontent.com/88669934/193730416-e6787956-20e3-47a1-8d8e-5c1cfd82178e.png)

2. Go to cli and run command:
`bin/magento indexer:reindex customer_grid`

### Expected result

Reindex successfully

### A

[2022-10-04 06:15] engcom-Bravo commented on #36120
Hi @AndreaMastracchio,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-04 06:15] #36120 closed, assigned to engcom-Bravo

[2022-10-04 07:28] antonioglass opened #36234 "Wrong custom option title translations when creating order manually in Magento Admin"
### Preconditions and environment

- Magento 2.4.1
- Anything else that would help a developer reproduce the bug.
- Magento 2.4-develop with multiple website, and store.
- PHP 8.1

### Steps to reproduce
1. Create multiple website, Store and Store view.
2. Create a product with custom options.
3. Translate custom options for 2 different store views.
4. Create an order via Magento Admin for store 2

[2022-10-04 08:50] engcom-Bravo commented on #36233
@magento give me 2.4-develop instance

[2022-10-04 08:51] vandijkstef commented on #36200
Hi @engcom-Delta,

Sorry I missed your question for a bit. Basically I have another js-script running that is trying to set a variable `const data`. The variable initialisation of the magnifier script is interupted by the `;` on the line containing `$magnifierPreview = $(largeWrapper);` making every variable after it global, as it's not prefixed by `var|let|const` anymore.

[Here's an interesting

[2022-10-04 08:54] thampe commented on #35499
Hi @engcom-November,

could you reopen the issue? Details you can find in my comment above.

Thanks.

[2022-10-04 09:31] JamesFX2 opened #36235 "Sales Order Report Generation SQL Error"
### Preconditions and environment

- Magento version 2.4.4
- A large amount of orders, over 6.7 million rows in sales_order_item
- A timezone offset on the store, e.g. BST, CET
- RDS with tmp_table_size at 512MB
- \Magento\Sales\Model\CronJob\AggregateSalesReportOrderData::execute

### Steps to reproduce

1, Allow cron aggregate_sales_report_order_data to run.
2. Cron generates error below (when t

[2022-10-04 10:04] Eddcapone commented on #16227
We have the same Issue on Magento 2.4.2 EE

[2022-10-04 10:15] engcom-Bravo commented on #36233
@magento give me 2.4-develop instance with edition ee

[2022-10-04 10:27] engcom-Bravo commented on #36234
@magento give me 2.4-develop instance with edition ee

[2022-10-04 11:43] engcom-November commented on #36190
hi @Nuranto ,
Thank you for reporting and collaboration.
If the issue is caused due to 3rd party extension, community cannot able to provide fix for it in this repository as code of that extension is not part of https://github.com/magento/magento2 git repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market

[2022-10-04 11:58] engcom-Lima commented on #36233
@magento give me 2.4.5 instance with edition ee

[2022-10-04 12:36] engcom-Bravo commented on #36234
Hi @antonioglass,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue.We are getting correct custom option title translations when creating order manually in Magento Admin.Kindly refer screenshots.

<img width="776" alt="Screenshot 2022-10-04 at 5 17 52 PM" src="https://user-images.githubusercontent.com/51680745/19382072

[2022-10-04 12:37] engcom-November commented on #36230
Hi @Tomasito665 ,
Thank you for reporting and collaboration. I believe updates/modifications to devdocs should be reported in this [repository](https://github.com/magento/devdocs/). Hence raised new issue report for the same: https://github.com/magento/devdocs/issues/9523 . Kindly check and move on this issue for latest updates / solutions on the same.
Thank you.

[2022-10-04 12:58] Nuranto commented on #36190
Hi @engcom-November,

I was not asking to fix my bug, it's already fixed. I just spotted out a missing unique index. There's no need to reproduce anything, it's just obvious that this table should have that unique index.
It would make the whole project more stable to use, and would avoid bugs to appear because of it.

Here's the requested change :

[code]

[2022-10-04 13:13] antonioglass commented on #36234
Hello!

Thanks for working on this. I reproduced the issue on your Magento 2.4-develop instance.

1. Created additional store view.
2. Created a product "Product with custom options".
3. Added a custom option.
4. Translated a custom option for both store views.
5. Created an order via Magento Admin.

See screenshots below.

![1](https://user-images.githubusercontent.com/71437038/193828250-800d2008

[2022-10-04 13:40] lucbard opened #36236 "Magento 2.4.4 CE - Import (add/replace) an existing product with a quantity does not increase the salable quantity. If initial quantity at 0."
### Preconditions and environment

Magento 2.4.4 CE
This test was also perform on a vanilla install of Magento with sample data

### Steps to reproduce

1. Create a CSV File with these headers: sku, qty, is_in_stock
2. Put the sku of an existing product with a qty of 10 for example and is_in_stock = 1
3. Make sure the existing product in Magento has a current qty and salable quantity at 0
4. Got t

[2022-10-04 14:09] engcom-Lima commented on #36233
:heavy_check_mark: Issue confirmed

Issue got reproduced in **`2.4-develop`** & **`2.4.5`** branch.

**Description:**
Getting sql state error while running indexer.

**Pre-requisite:**
Fresh magento `2.4-develop`  and `2.4.5` should be installed.

**Steps to reproduce:**
Followed  configuration done in screenshot.
Ran the indexer using command :
`bin/magento indexer:reindex customer_grid`

**Expec

[2022-10-04 16:07] rogerdz commented on #35920
I don't know why it is need create a collection for filtering and sorting using mysql. It should be action in elasticsearch (include move out stock product to bottom of list).
I created a PR for this idea https://github.com/magento/magento2/pull/36102

[2022-10-04 17:02] engcom-Delta commented on #36185
Hi @hostep @DuckThom,

Thank you for the response.

:heavy_check_mark: Issue confirmed

We have checked this issue in magento 2.4.4 to magento 2.4.5 and magento 2.4 - develop.

**Description:**

**Pre-requisite:**
1. Magento 2.4.5
2. PHP 8.1

**Steps to reproduce:**

1. Install Magento 2.4.4 instance and execute rm -R var/view_preprocessed/* pub/static/* && time php -d memory_limit=-1 bin/magento

[2022-10-04 17:30] engcom-November commented on #35988
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence confirming the issue.
Issue: Sub categories children categories are not retrieved in the response.
![image](https://user-images.githubusercontent.com/60198231/193886676-fe59d1d1-0d71-437e-9d9e-579f85e3bf71.png)
![image](https://user-images.githubusercontent.com/60198231/193886727-1ca3a171-331c-41c2-a8a7-17ae164

[2022-10-04 18:33] texboy commented on #36020
@magento I am working on this

[2022-10-05 04:01] AngeloZou opened #36243 "Magento 2.4.5 How to hide duplicate pictures when the product color is switched"
Hi, I used to seek workarounds for magento 2.4.2 on the stackexchange that fixed this issue, but when I upgraded to magento 2.4.5, those workarounds were outdated because magento had a major upgrade.

How can I re-solve this problem, thank you all.

https://i.stack.imgur.com/dnUeW.png
https://i.stack.imgur.com/jXTtz.png
https://i.stack.imgur.com/VQclz.png

### Steps to reproduce (*)
1. Install Mag

[2022-10-05 06:57] caos989 commented on #33766
I had the same problem when I activated Stripe. I'm also using Amasty.

Solution for me was to edit the file: vendor/stripe/module-payments/etc/config.xml

I added <title> in Line 7
            <rate_limiter>
                <title>Rate Limiter</title>

[2022-10-05 08:22] jesse-deboer opened #36245 "Theme Name not available in logo to be used as title"
### Preconditions and environment

- 2.4.5

### Steps to reproduce

1. Navigate to: `app/code/Magento/Theme/view/frontend/templates/html/header/logo.phtml`
2. Locate the following function: `$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();`
3. Check Magento codebase for `getThemeName()`

### Expected result

`getThemeName()` is available inside `Magento\Theme\Bl

[2022-10-05 08:22] jesse-deboer commented on #36245
@magento give me 2.4-develop instance

[2022-10-05 09:07] hieudmg commented on #36086
I have this issue too. If you guys want to fix it just override the `ChangeLogBatchWalker` class and add  replace group statement with order:

`di.xml`
[code]

`ChangeLogBatchWalker.php`
[code]

[2022-10-05 09:18] hieudmg commented on #36086
I have this issue on 2.4.3-p1 too. I was banging my head for months not knowing why the index records was always missing. I can rest now.

[2022-10-05 09:27] DuckThom commented on #36185
It looks like this might be fixed by https://github.com/magento/magento2/commit/12a9eacaf57baf1dbd71b22cbd9ada32f3ffa479

I just applied these changes to my 2.4.5 Open Source testing installation I used above (where the compilation time was 93s) and it's now back to a more normal 26s

Unfortunately, it doesn't look like this will be released with 2.4.5-p1 as I just installed the pre-release in my

[2022-10-05 12:45] joachimVT commented on #35671
Having the same issue,
Creating a plugin
<plugin name="fix_default_charset" type="Project\Theme\Plugin\OverrideDefaultCharsetPlugin" sortOrder="1"/>
Does not fix this issue.  After a successful deploy running setup:db:status still shows:
Declarative Schema is not up to date

[2022-10-05 14:18] LimbicGit commented on #33455
We are facing exact same issue. Anyone has any clue about how to solve it, please?

[2022-10-05 16:52] andrewdaluz commented on #15114
@JoostWan just saved my day. All the mapped files/folders from that composer.json list are required for the deployment on adobe cloud. I've then added the following files to the repository and everything worked like a charm:
`pub/errors pub/get.php pub/cron.php pub/.user.ini pub/.htaccess pub/index.php pub/health_check.php lib/.htaccess pub/media/.htaccess   pub/media/customer/.htaccess  pub/media

[2022-10-05 22:58] thomas-kl1 commented on #35149
@engcom-Hotel please reopen

[2022-10-05 23:38] pmonosolo commented on #34855
Any update on this issue guys?

I mean seriously this is like 500ms of dead space while your customer is fighting against their thoughts of "Do I really need this?"

When used on One Step Checkouts it's even slower because the sections reload multiple times.

[2022-10-06 02:41] damienwebdev opened #36246 "docs(graphql): ConfigurableProductOptions.use_default is documented incorrectly"
### Summary (*)

As a developer, I was reviewing the documentation for `ConfigurableProductOptions` in GraphQl and I noticed:

### Examples (*)

[code]

Specifically,

[code]

This doc is incorrect.

### Proposed solution
Change the doc to read more similarly to `ConfigurableProductOptionsValues.use_default_value` (the real purpose of the node).

[code]

As that's the actual purpose of the flag.

[2022-10-06 05:36] mvenghaus opened #36248 "Duplicate Form Key Cookie"
### Preconditions and environment

- Magento 2.4.5

### Steps to reproduce

1. Open any page with page cache enabled.
Ex:  https://demoshops.splendid-internet.de/magento/demoshop-magento2-daily/hero-hoodie.html
-> first form_key by js

2. Select size & color
-> second form_key by php

### Expected result

one "form_key" cookie

### Actual result

there are two cookies
"form_key"
"form_key"

### Ad

[2022-10-06 05:57] engcom-November commented on #36074
Hi @ardianthaqit ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-06 05:57] #36074 closed, assigned to engcom-November

[2022-10-06 06:27] doanhpv-0200 opened #36249 "Coupon "Fixed amount discount for whole cart" apply for bundle product not working well"
### Preconditions and environment

- Magento version: 2.4.4
- Coupon for rule `Fixed amount discount for whole cart` not working well for bundle product

### Steps to reproduce

1. Create 2 bundles item with 2 (or more product) with price is $500 and $1000 (2 bundles with same items but order is difference)
2. Create 1 coupon with rule `Fixed amount discount for whole cart` with discount is betwee

[2022-10-06 06:54] engcom-Hotel commented on #34855
Hello @pmonosolo,

As I can see this issue is prioritized as P3, currently the status of the related JIRA is `TECH ANALYSIS QUEUE`. I will update you more on this further.

Thanks

[2022-10-06 07:08] engcom-Hotel commented on #35149
Sure @thomas-kl1 @sheepfy

@sheepfy Thanks for more information. We are reopening this issue for more investigation.

Thanks

[2022-10-06 07:25] seak6adtn59v commented on #35724
Is there any patch for Magento Open Source? Or these patches only applies to Adobe Commerce versions?

We are having same issue in Magento Open Source as well.

[2022-10-06 07:25] seak6adtn59v commented on #35724
Is there any patch for Magento Open Source? Or these patches only applies to Adobe Commerce versions?

We are having same issue in Magento Open Source as well.

[2022-10-06 07:40] sebfie commented on #35724
These patches are for opensource version, here are my git patches applied in this order :

https://gist.github.com/sebfie/cacb5410b37af1217c3b6c8d8fbeb11d

[2022-10-06 09:09] engcom-Hotel commented on #35528
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3178 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-3178&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-06 09:11] engcom-Hotel commented on #33729
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-838 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-838&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-06 10:33] engcom-November commented on #36246
Hi @damienwebdev ,
Thank you for reporting and collaboration. Can you please provide more specific details about the incorrect documentation: of "use_default" here.
Currently "use_default" returns whether the configurable option can be used as default or not and "use_default_value" returns whether values of the option can be used as default or not. Please refer the screenshot of the same
![image](

[2022-10-06 10:58] Tomasito665 commented on #36230
Hi @engcom-November,

I filed a pull request to update all links to migrated documentation to their updated URLs. It has been two days since I filed the PR and yet CI checks appear in progress still. How long do they normally take? Am I missing something?

Thanks

[2022-10-06 11:02] damienwebdev commented on #36246
Can you explain exactly (perhaps with examples) what:

Means?

[2022-10-06 11:49] engcom-November commented on #36248
Hi @mvenghaus ,
Thank you for reporting and collaboration. Verified the issue on both Magento 2.4-develop instance and 2.4.5 project-community-edition as well but the issue is not reproducible.
Only one "form_key" cookie is present as displayed below:
![image](https://user-images.githubusercontent.com/60198231/194304743-fc5d4624-988f-4d9a-9541-65f5a0bd76bb.png)
Kindly check the behavior on Magento

[2022-10-06 11:53] mklooss commented on #36068
@engcom-November

exactly and this is now an issue, for PaypalAccountes based in EU.

[2022-10-06 12:01] mvenghaus commented on #36248
@engcom-November

Step 1
open
https://demoshops.splendid-internet.de/magento/demoshop-magento2-daily/hero-hoodie.html
-> first form_key by js

Step 2
select size & color
-> second form_key by php

[2022-10-06 12:22] engcom-Lima commented on #36235
Hi @JamesFX2 ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue but Issue is not reproducible to me.
Creating 6.7 million orders is not possible in local so, I have tried to test it with 1.5lakh orders using perfomance fixtures and I ran cron by using command **`bin/magento cron:run --group aggregate_sales_report_order_data`** and timezone = "Brasilia Standard

[2022-10-06 12:33] engcom-Lima commented on #36086
Hi @savlo ,

Thanks for your contribution and collaboration.

Can you provide me custom indexer that you have craeted ? It will be really helpful to me to reproduce the issue.

Thanks

[2022-10-06 12:41] engcom-November commented on #36249
Hi @doanhpv-0200 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but unable to reproduce the issue. Please find the steps performed below:
**Steps performed:**
1. Created Bundle product with 2 Bundle options (Ship Bundle Items - Separately)
![image](https://user-images.githubusercontent.com/60198231/194314037-d0f2175c-6508-492d-b0ce-066a5413205a.png)

[2022-10-06 13:30] robin31 commented on #34733
For others running in docker and facing this issue, until this is fixed in the core, sharing my small hack;

Running in a `php:8.1-fpm-alpine` container the following downgrades your libxml2 to `2.9.4` and dropped failures massively.
I've not encountered an issue by doing this so far. PHP will still say it's built with the newer version but it will load this older version.

[code]

  Make sure you

[2022-10-06 15:05] git-seb commented on #35918
@06romix Can you make it available with composer? Thanks and great work.

[2022-10-06 15:35] schizek opened #36250 "Custom Layout Update (i.e. "selectable layouts") Stopped Working on v2.4.5"
### Preconditions and environment

- Magento version: 2.4.5
- Trying to add [Custom Layout Updates (selectable layouts)](https://developer.adobe.com/commerce/frontend-core/guide/layouts/xml-manage/#create-selectable-layouts) no longer works as of v2.4.5 (tested and works in 2.4.4 and 2.4.3 as expected)

### Steps to reproduce

1. Setup vanilla install of Magento Open Source or Adobe Commerce 2.4.5

[2022-10-06 17:16] i6media commented on #35899
Any updates on this matter?

[2022-10-06 21:46] hostep commented on #35592
@engcom-Lima, @engcom-Hotel: this makes no sense, why did the issue got closed? Never even got feedback from the PO so I don't understand why this got closed for no good reason?

[2022-10-06 23:45] luishenriqueamaral commented on #34758
We are also facing the same problem using our headless storefront and Magento checkout pages. Although we don't use graphql, our requests towards default and custom rest endpoints are stuck in Redis operations. We contacted Adobe support and they recommended us to disable the session locking and they also mentioned that this is default in the cloud version.

I noticed that @colinmollenhour  mentio

[2022-10-07 03:06] davidduong90 commented on #10408
Hello @arunkumar2687,

Do you find the solution?

[2022-10-07 03:29] mttjohnson commented on #34758
@damienwebdev I was reading the release notes on 2.4.5 last week and noticed that it mentioned there was some ability to disable sessions on GraphQL requests, and I think that would solve the big issues for operating Magento with a PWA that makes a lot of concurrent GraphQL requests. While writing to and locking sessions on all other requests hitting the backend is still excessive, it would be nic

[2022-10-07 05:59] glo71317 commented on #35899
@i6media It will be merge soon, PR in queue

[2022-10-07 06:18] engcom-Bravo commented on #36144
Hi @oneserv-heuser,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-07 06:18] #36144 closed, assigned to engcom-Bravo

[2022-10-07 06:18] engcom-Bravo commented on #36081
Hi @jayankaghosh,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-07 06:18] #36081 closed, assigned to engcom-Bravo

[2022-10-07 06:32] in-session opened #36251 "GraphQL product filter by sku case sensitive problem"
### Preconditions and environment

- Magento version 2.4.5
- Varnish
- ElasticSearch 7.9.3

In our own instance we have a problem that we cannot find some products via GraphQL.
After some testing we found out that there must be a problem with case sensitive.

### Steps to reproduce

-

### Expected result

![Ashampoo_Snap_Freitag, 7  Oktober 2022_8h24m19s](https://user-images.githubusercontent.com

[2022-10-07 06:35] in-session commented on #36251
@magento give me 2.4-develop instance

[2022-10-07 06:38] glo35082 commented on #36049
Our internal team has started working on this.

[2022-10-07 07:40] i6media commented on #35899
@glo71317 could you link the correct PR here? The one from @Bashev is not sufficient since it still fetches all products and filters them afterwards by PHP (slow loading times), instead of in the query itself.

[2022-10-07 07:42] asim-blueprintprep opened #36252 "Custom Import - Not allowed to set "allowed error count" to 0"
### Preconditions and environment

- Magento 2.4.2-p2
- PHP7.4

### Steps to reproduce

1. Navigate to admin
2. system -> import
3. pick any from dropdown
4. try to set allowed error count to 0
5. validation says you need to enter a number greater than 0
![Screenshot 2022-10-06 at 16 00 04](https://user-images.githubusercontent.com/85678471/194499095-52811096-e0f4-4eb6-b7a9-362c91c5a1ed.png)

###

[2022-10-07 07:43] engcom-Lima commented on #36225
Hi @TheBadong ,

Thanks for your contribution and collaboration.

i would like to inform you that in current magento **2.4-develop**  'multiline count' we can't give less than 2 as range given is **2-20**.
Please refer below screenshot for your reference:

<img width="1172" alt="Screenshot 2022-10-07 at 12 48 04 PM" src="https://user-images.githubusercontent.com/60198022/194495863-51a3d37a-a9fb-4f

[2022-10-07 07:43] asim-blueprintprep commented on #36252
@magento give me 2.4-develop instance

[2022-10-07 07:51] asim-blueprintprep commented on #36252
I can confirm this bug exists in vanilla

[2022-10-07 07:58] asim-blueprintprep commented on #36252
@magento I am working on this

[2022-10-07 07:59] asim-blueprintprep commented on #36252
@magento add to contributors team

[2022-10-07 07:59] asim-blueprintprep commented on #36252
@magento I am working on this

[2022-10-07 08:08] glo71317 commented on #35899
@i6media We raised the internal PR so you will not have the access for the same, so i don't think it will help. we have taken the commits from @Bashev PR and written automation tests.

[2022-10-07 09:01] engcom-Bravo commented on #36236
@magento give me 2.4-develop instance

[2022-10-07 09:37] jankovandeventer commented on #36243
Hello,

I am experiencing the same issue with a configurable product from the sample data.
Magento 2.4.5 Open Source with Sample Data

[2022-10-07 09:41] bramvanderholst opened #36254 "npm audit critical vulnerabilities"
### Preconditions and environment

Magento version 2.4.x (and, as the relevant package is unchanged in 2.5 dev, probably also in 2.5)

### Steps to reproduce

1. Make sure the package.json is up to date with https://github.com/magento/magento2/blob/2.4-develop/package.json.sample
2. run `npm i`

### Expected result

No (critical) vulnerabilities in npm dependencies

### Actual result

2 critical v

[2022-10-07 09:43] engcom-Lima commented on #36252
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Custom Import - Not allowed to set "allowed error count" to 0

**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. Navigate to admin
2. System -> import
3. Pick any from dropdown
4. Try to set `Allowed error count` to 0
5. Validation says you need to en

[2022-10-07 10:11] asim-blueprintprep commented on #36252
@engcom-Lima I have fixed this issue in my PR, does it need anything else?

[2022-10-07 10:58] engcom-Hotel commented on #36250
Hello @schizek,

Thanks for the contribution and collaboration!

I have a question here, have you activated the theme from the below path where you keep this file `app/design/frontend/<Namespace>/<theme>/Magento_Catalog/catalog_product_view_selectable_24-MB01_puppies.xml
`:
[code]

Thanks

[2022-10-07 11:04] engcom-Bravo commented on #36234
@magento give me 2.4-develop instance

[2022-10-07 12:20] engcom-November commented on #36078
Hi @pemann  ,
As mentioned by @sdzhepa , mentioned patches are applicable only for Magento instances <= 2.4.3-p1 and <= 2.3.7-p2. The issue was addressed in 2.4.4, 2.4.3-p2, and 2.3.7-p3 and was available as hotfix patches before that. Kindly confirm if you have found a vulnerability in latest magento instance with steps to confirm or we can close the issue.
Thank you.

[2022-10-07 12:23] engcom-Bravo commented on #36236
Hi @lucbard,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue. After Importing (add/replace) an existing product with a quantity we are able to increase the salable quantity.If initial quantity at 0.Kindly refer the screenshots.

<img width="1226" alt="Screenshot 2022-10-07 at 5 49 44 PM" src="https://user-images.gith

[2022-10-07 12:31] engcom-Bravo commented on #36234
Hi @antonioglass,

Thanks for quick Response.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue.We are getting correct custom option title translations when creating order manually in Magento Admin.Kindly refer screenshots.

<img width="801" alt="Screenshot 2022-10-07 at 4 47 35 PM" src="https://user-images.githubusercontent.com/51680745/194552677-430ae6ba-8986-

[2022-10-07 13:04] quterorta commented on #36199
@magento I am working on this

[2022-10-07 14:23] DeryabinSergey commented on #24463
3 years after original post on fresh 2.4-develop is still actual

[code]

[2022-10-07 15:39] #36246 closed, assigned to engcom-November

[2022-10-07 15:56] #36133 closed, assigned to andrewbess

[2022-10-07 16:05] github-jira-sync-bot opened #36255 ""Something went wrong" error is displayed when clearing the completed bulk tasks."
**Issue:**
"Something went wrong" error is displayed when clearing the completed bulk tasks.

 

**Steps to reproduce:**
* Perform a bulk operation (eg: Bulk update product attributes).
* Make the operation completed (eg: run {{{}bin/magento queue:consumer:start product*action*attribute.update{}}})
* Click on the "Dismiss All Completed Tasks" link after expanding the admin notification section.
![

[2022-10-07 16:09] github-jira-sync-bot opened #36256 "Admin order emails send even when 'Email order confirmation' is unchecked"
**Issue:**
Admin order emails send even when 'Email order confirmation' is unchecked

 

**Steps to reproduce:**
* Create a customer account or register as a customer (for the purpose of creating an admin order).
* Go to Sales > Order and click on "Create New Order".
* Select the customer, add the products to the order, fill in the address, and select the Shipping and Payment methods.
* Before sub

[2022-10-07 16:32] 34cnk34 commented on #8664
Thank you
I will try your solutions

On Mon, Oct 3, 2022 at 6:00 AM jagoman85 ***@***.***> wrote:

[2022-10-07 17:30] #35899 closed, assigned to Bashev

[2022-10-07 17:30] #36055 closed, assigned to Bashev

[2022-10-07 19:16] texboy commented on #36255
@magento I am working on this

[2022-10-07 19:24] kuafucode commented on #35651
@magento I am working on this

[2022-10-07 19:29] kuafucode commented on #35651
Sorry just noticed there was already a 'PR created' label, did I mess this up?

[2022-10-07 23:11] pmonosolo opened #36258 "Magento 2.4.5: https://website.com/admin/media_gallery/media/index/key 500 error"
### Preconditions and environment

- Magento 2.4.5 CE
- Site upgraded today
- Media folder whitelists added to config.xml
- DEV server and Local Docker machine are both working
- PRODUCTION server running PHP 8.1.11

Browser console is throwing 500 error on this URL:
https://website.com/admin/media_gallery/directories/gettree/key/4d486839c31bcb04b636dd6fefd8187545d560766dfba297b62e42ecfedfa25d/?is

[2022-10-07 23:44] pmonosolo commented on #36258
My server admin said there was not enough memory assigned - he added more and now this:

![image](https://user-images.githubusercontent.com/66754347/194675954-8723d249-f215-478d-97ba-a9f2ba3339a8.png)

[2022-10-07 23:55] pmonosolo commented on #36258
Looks like whatever the task that runs when it looks through folders runs for too long and just bricks the Media Gallery.

Is there some list generation happening or does this run every time the Media Gallery is opened?

We have a lot of images in our folders, so I assume its related.

[2022-10-08 00:30] schizek commented on #36250
Yes I do have that theme activated.  I found the cause of my issue, however, for some reason that theme was set to a virtual theme so I updated that in the DB, cleared the cache and pub/static and it is now working as expected.  Whoops.  Sorry for the trouble!

```UPDATE `theme` SET `type` = 0 WHERE `theme_path` = 'FetchDesigns/base';```

`bin/magento c:c && rm -rf pub/static/*`

[2022-10-08 00:30] #36250 closed, assigned to engcom-Hotel

[2022-10-08 09:59] dtavieres commented on #35978
Hello again, @engcom-Delta. Any news about this issue ? any patch? we are unable to edit or display correctly pages because Vimeo and other js are not found .
Thank you

[2022-10-08 13:15] ssx commented on #35899
@glo71317 can you provide a patch file for the changes?

[2022-10-09 07:17] in-session commented on #36251
The problem was generated by an external Elastic Search module, thank you for the review.

[2022-10-09 07:17] #36251 closed, assigned to engcom-Lima

[2022-10-09 07:23] in-session commented on #36217
Hi @engcom-Lima ,

Thanks for the feedback, then why aren't the cookies adjusted to 200 in the core right away?

[2022-10-09 14:44] damienwebdev opened #36259 "feat(framework): support loading multiple entities in a single call on `Magento\Framework\App\CacheInterface`"
### Description (*)

It would be very nice if we could load multiple entities at once in a single network round trip. The underlying `Credis` client support it via pipeline (and is already used in preloading implementation).

In other implementations that do not support pipelines we can simply fall back to a naive `foreach` awaiting a better implementation for that client.

### Expected behavior (

[2022-10-10 01:52] linkdandyparanormal opened #36260 "Identify"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Do Everything to Sign in new account. After pushing enter it is suppose to send your email a confirmation for identity. Using iPhone 11.

### Expected result

I have waited a day for confirmation email, nothing came to junk or inbox

### Actual result

Cannot

[2022-10-10 06:03] engcom-November commented on #36124
Hi @hhonetree ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-10 06:03] #36124 closed, assigned to engcom-November

[2022-10-10 06:04] engcom-November commented on #36108
Hi @mohammedTBB ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-10 06:04] #36108 closed, assigned to engcom-November

[2022-10-10 06:06] engcom-November commented on #36095
Hi @zolikonta ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-10 06:06] #36095 closed, assigned to engcom-November

[2022-10-10 07:35] engcom-Delta commented on #36185
Hi @hostep @DuckThom,

Thank you for the response.

✔️ Issue confirmed

Issue got reproduce,After upgrading magento2.4.4 to magento 2.4.5.

**Description:**

After upgrading magento 2.4.4 to magento 2.4.5, while running setup:static-content:deploy command It is taking more time than magento 2.4.4

**Pre-requisite:**

1. Magento 2.4.5
2. PHP 8.1

**Steps to reproduce:**

1. Install Magento 2.4.4 in

[2022-10-10 07:38] hostep commented on #36185
@engcom-Delta: can you verify it again on the latest 2.4-develop branch?

Like @DuckThom said, it sounds like it already got fixed in [ACP2E-1168: Static content deployment timed out or failed](https://github.com/magento/magento2/search?q=ACP2E-1168&type=commits)

[2022-10-10 08:13] antonioglass commented on #36234
Hello!

Thanks for working on this.

You need to choose a second store view while creating an order.

Please, try again.

This is a serious issue and we need to solve it ASAP. Thanks in advance!

[2022-10-10 08:23] engcom-Hotel commented on #35604
Hello,

As I can see this issue got fixed by the internal team
Related commits: https://github.com/magento/magento2/commit/b2bfd0562c3ea5708fb836347404ce38b57040c4

Hence closing the issue.

Thanks

[2022-10-10 08:23] #35604 closed, assigned to nobody

[2022-10-10 08:56] engcom-Bravo commented on #36234
@magento give me 2.4-develop instance

[2022-10-10 10:16] onlinebizsoft commented on #36121
@engcom-Bravo can you let me know the situation of this? why was it closed as Completed without any pull request or related Jira ticket?

[2022-10-10 10:18] engcom-Hotel commented on #34898
Hello @ZephyrDogma @kingshukdeb @jspoe ,

We have again tried to reproduce the issue in the latest Magento 2.4-develop branch and the issue is more able to reproducible.

We have tried the below ways in order to reproduce the issue:

- By adding the below attribute in the `H2` tag:
`data-content-type="heading"`
- By adding the below content:
[code]
[code]

It seems the issue has been fixed and mer

[2022-10-10 10:28] engcom-Hotel commented on #35434
Hello,

The issue has been fixed by the ext-Braintree developers and as per the developers, this has been provided with Magento 2.4.6 release. Meanwhile, if someone faced this issue can use the below patch provided by them:

[code]

Hence closing this issue. As nothing to be fixed at the Magento end.

Thanks

[2022-10-10 10:28] #35434 closed, assigned to cctorres

[2022-10-10 10:30] #36085 closed, assigned to engcom-Delta

[2022-10-10 10:31] engcom-Bravo commented on #36260
@magento give me 2.4-develop instance

[2022-10-10 10:58] engcom-Bravo commented on #36191
@50xSolutions Thanks for your contribution.

@bshellma Kindly recheck the issue on Magento 2.4-develop instance and check if any 3rd party extensions / modules enabled is causing this issue.

[2022-10-10 11:28] engcom-November commented on #35733
@magento give me 2.4-develop instance

[2022-10-10 11:47] engcom-Hotel commented on #35634
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-5972 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-5972&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-10 11:47] #35634 closed, assigned to nobody

[2022-10-10 11:49] antonioglass commented on #36234
@engcom-Bravo I just reproduced the issue on your instance. See steps and screenshots below.

1. Create New Order in Englishstoreview.
2. Add product "Simple".
3. Submit Order.

![Screenshot 2022-10-10 at 14 46 53](https://user-images.githubusercontent.com/71437038/194859699-459ff1b3-b992-41c5-a7b7-4c62351a3d17.png)
![Screenshot 2022-10-10 at 14 47 27](https://user-images.githubusercontent.com/714

[2022-10-10 11:50] engcom-Hotel commented on #35899
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6395 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6395&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-10 11:51] engcom-Hotel commented on #35513
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3167 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-3167&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-10 11:51] #35513 closed, assigned to nobody

[2022-10-10 12:15] engcom-November commented on #35733
Hi @mwdana ,
Verified the issue again on both Local 2.4-develop instance and cloud instance but the issue is not reproducible in both front end and Admin order creation page. Please find the steps performed below:
1. Configured UPS Shipping method as mentioned [above](https://github.com/magento/magento2/issues/35733#issuecomment-1224291757)
2. Created a simple product with Weight 1 LBS
3. Front en

[2022-10-10 12:27] kiruthika1611 opened #36261 "Couldn't able to create a customer in admin panel for multi website (Magento Version : 2.4.4)"
### Preconditions and environment

- Magento version - **2.4.4**

### Steps to reproduce

**Example :**

**Step - 1**
**Create Multi store website**

Login to admin -> Store -> Configuration -> All store ->

1. Create a websites
2. Create store
3. Create store view

**Please refer Below image**
![image](https://user-images.githubusercontent.com/114425316/194864979-de0d8b83-24e2-4489-96b9-cbe4c6779