[2019-02-14 16:35] magento-engcom-team commented on #21233
Hi @alessandrosiervo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-02-14 16:57] ryandiamond23 commented on #21231
@magento-engcom-team give me 2.2.7

[2019-02-14 16:58] ryandiamond23 commented on #21231
@magento-engcom-team give me 2.2.7 instance

[2019-02-14 16:58] magento-engcom-team commented on #21231
Hi @ryandiamond23. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-02-14 16:58] magento-engcom-team commented on #21231
Hi @ryandiamond23, here is your [Magento instance](https://i-21231-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21231-2-2-7.instances.magento-community.engineering/admin](https://i-21231-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 17:05] goivvy commented on #21209
Why did you close it? The issue is reproduced if you use php 7.1.26

[2019-02-14 17:14] ananth-iyer commented on #21233
@alessandrosiervo Please verify it once in Magento Luma theme and let us know

[2019-02-14 17:25] alessandrosiervo commented on #21233
@ananth-iyer thanks for answer.
I changed to Magento Luma and it work correctly.... it's a problem with Porto 3.1.7 .... do you know any solution to this with porto? i contact porto team now..

Thanks you

[2019-02-14 17:58] magento-engcom-team commented on #21232
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-14 18:06] dmytro-ch commented on #19872
@magento-engcom-team give me test instance

[2019-02-14 18:10] hostep commented on #19714
@AnotherAlexSmith: since Magento releases a new version every 3 months, it is expected that 2.2.8 will be released end of February and 2.2.9 end of May.

[2019-02-14 18:14] dmytro-ch commented on #19872
@magento-engcom-team give me 2.3-develop instance

[2019-02-14 18:14] magento-engcom-team commented on #19872
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 18:15] magento-engcom-team commented on #19872
Hi @dmytro-ch, here is your [Magento instance](https://i-19872-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19872-2-3-develop.instances.magento-community.engineering/admin](https://i-19872-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 18:27] hostep commented on #21205
@MichaelThessel: you shouldn't use custom less variables defined in a theme directly in a module itself (in `app/code/Ac/Megamenu` or `vendor/ac/megamenu`), because you are creating an incorrect dependency. A module doesn't know if a particular theme exists so it shouldn't rely on less variables from a specific theme.
You should create a module directory in your theme itself (`app/design/frontend/

[2019-02-14 18:40] shikhamis11 commented on #21232
@magento-engcom-team give me 2.3-develop instance

[2019-02-14 18:41] magento-engcom-team commented on #21232
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 18:41] magento-engcom-team commented on #21232
Hi @shikhamis11, here is your [Magento instance](https://i-21232-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21232-2-3-develop.instances.magento-community.engineering/admin](https://i-21232-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 18:54] shikhamis11 commented on #21232
@magento-engcom-team give me 2.2-develop instance

[2019-02-14 18:54] magento-engcom-team commented on #21232
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-14 18:55] magento-engcom-team commented on #21232
Hi @shikhamis11, here is your [Magento instance](https://i-21232-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21232-2-2-develop.instances.magento-community.engineering/admin](https://i-21232-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 19:10] magento-engcom-team commented on #21232
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98277`, `MAGETWO-98278` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-14 19:15] magento-engcom-team commented on #20906
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#21157 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [ee8868922bd027510c707a092d2c0f0d04019b71](https://github.com/magento/magento2/commit/ee8868922bd027510c707a092d2c0f0d04019b71)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:15] magento-engcom-team commented on #20555
Hi @amitcedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#21199 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [b86a3940282b558ecb0363b990b6ff3dc41a61d0](https://github.com/magento/magento2/commit/b86a3940282b558ecb0363b990b6ff3dc41a61d0)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:15] magento-engcom-team commented on #20800
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21172 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [a16427dbf793d530491c3969f77e085a1208d3ce](https://github.com/magento/magento2/commit/a16427dbf793d530491c3969f77e085a1208d3ce)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:15] magento-engcom-team commented on #20989
Hi @dharmendra-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#21159 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [9612b4221fac3d1cbac3ca1dac338e92fb92dc3c](https://github.com/magento/magento2/commit/9612b4221fac3d1cbac3ca1dac338e92fb92dc3c)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:15] magento-engcom-team commented on #20911
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#21162 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [2220707dd64518b64fe87a4b56fb2972fed9ac8e](https://github.com/magento/magento2/commit/2220707dd64518b64fe87a4b56fb2972fed9ac8e)
 - [be92e7b79ebe046ccd01abed961229d3bdf22e3a](https://github.com/magento/magento2/commit/be92e7b79ebe046ccd01abed96122

[2019-02-14 19:15] magento-engcom-team commented on #20468
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20476 by @parag2jcommerce in 2.2-develop branch
Related commit(s):
 - [9e8173ff4930a9760007e8e37daadaeddafe6938](https://github.com/magento/magento2/commit/9e8173ff4930a9760007e8e37daadaeddafe6938)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:15] magento-engcom-team commented on #18357
Hi @michelecanal. Thank you for your report.
The issue has been fixed in magento/magento2#18866 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [2a6f8340de5fd6fd96c4d0848ba84e9e64cc1cf0](https://github.com/magento/magento2/commit/2a6f8340de5fd6fd96c4d0848ba84e9e64cc1cf0)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:15] magento-engcom-team commented on #18954
Hi @Ctucker9233. Thank you for your report.
The issue has been fixed in magento/magento2#18866 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [2a6f8340de5fd6fd96c4d0848ba84e9e64cc1cf0](https://github.com/magento/magento2/commit/2a6f8340de5fd6fd96c4d0848ba84e9e64cc1cf0)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-14 19:21] peterjaap commented on #13325
@magento-engcom-team @miguelbalparda @osrecio could somebody give this an issue some much-needed attention?

[2019-02-14 19:24] sjb9774 commented on #20164
@irajneeshgupta I recently had this problem, are you still able to look into this?

I am running Magento Enterprise 2.2.7.

The issue is that there are hardcoded block names in `magento/module-google-tag-manager/view/frontend/layout/catalog_product_view.xml` such as `product.info.upsell`. These block names are used in `\Magento\GoogleTagManager\Block\ListJson::getListBlock` to retrieve information

[2019-02-14 19:32] GuiltyNL commented on #13325
I can't be difficult to solve.

It is a important core feature of M2 that can't be used now.

[2019-02-14 20:31] Cristy94 commented on #21201
How is this not a core issue? A fresh installation does not work while the installer passes all checks and says installation was successful. Why does it say everything is ok if it is clearly not?

[2019-02-14 20:44] magento-engcom-team commented on #20492
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20529 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [7c4cea2a56aecc92249ca376d5baaa8166bb045b](https://github.com/magento/magento2/commit/7c4cea2a56aecc92249ca376d5baaa8166bb045b)
 - [8a28cca64af335735acb299598a6b1a0330a86d0](https://github.com/magento/magento2/commit/8a28cca64af335735acb2

[2019-02-14 20:51] judaschwartz opened #21237 "Update Customer data with REST API"
### Preconditions (*)

1. 2.3.0 (have not tested previous versions)

### Steps to reproduce (*)

1. When using the API to update a customer

     curl -X PUT "https://example.com/index.php/rest/all/V1/customers/8" -H "accept: application/json" -H "Content-Type: application/json" -H "Authorization: Bearer TOKEN" -d "{ \"customer\": { \"middlename\": \"string\" }}"

### Expected result (*)

1. The c

[2019-02-14 20:51] magento-engcom-team commented on #21237
Hi @judaschwartz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-14 20:54] magento-engcom-team commented on #6162
Hi @otg-chris. Thank you for your report.
The issue has been fixed in magento/magento2#21145 by @gauravagarwal1001 in 2.3-develop branch
Related commit(s):
 - [76468502c720ae637c3c61382dfd57a40c071ad1](https://github.com/magento/magento2/commit/76468502c720ae637c3c61382dfd57a40c071ad1)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-14 20:54] magento-engcom-team commented on #7974
Hi @mtstedman. Thank you for your report.
The issue has been fixed in magento/magento2#21145 by @gauravagarwal1001 in 2.3-develop branch
Related commit(s):
 - [76468502c720ae637c3c61382dfd57a40c071ad1](https://github.com/magento/magento2/commit/76468502c720ae637c3c61382dfd57a40c071ad1)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-14 20:54] magento-engcom-team commented on #21144
Hi @gauravagarwal1001. Thank you for your report.
The issue has been fixed in magento/magento2#21145 by @gauravagarwal1001 in 2.3-develop branch
Related commit(s):
 - [76468502c720ae637c3c61382dfd57a40c071ad1](https://github.com/magento/magento2/commit/76468502c720ae637c3c61382dfd57a40c071ad1)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-14 20:54] magento-engcom-team commented on #20888
Hi @dominicfernando. Thank you for your report.
The issue has been fixed in magento/magento2#20895 by @realadityayadav in 2.3-develop branch
Related commit(s):
 - [3da7c76af8bd0c518e31bff67768672c496c94fc](https://github.com/magento/magento2/commit/3da7c76af8bd0c518e31bff67768672c496c94fc)
 - [d697ea68c237ca77fd8e935bf1f5a514d7947b5b](https://github.com/magento/magento2/commit/d697ea68c237ca77fd8e

[2019-02-14 20:54] #21144 closed, assigned to nobody

[2019-02-14 20:54] #20888 closed, assigned to surabhisrivastava09, realadityayadav

[2019-02-14 20:54] magento-engcom-team commented on #21101
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#21102 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [60e59a8240ea8a64553d72ebdd32c4009e7286bb](https://github.com/magento/magento2/commit/60e59a8240ea8a64553d72ebdd32c4009e7286bb)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-14 20:54] magento-engcom-team commented on #21070
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#21071 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [e575e978df3ad1ab690bf8af5c192872d15c549c](https://github.com/magento/magento2/commit/e575e978df3ad1ab690bf8af5c192872d15c549c)
 - [d3a1fd12406a37e943d9b4577e91c8c53e120e35](https://github.com/magento/magento2/commit/d3a1fd12406a37e943d9b457

[2019-02-14 20:54] #21070 closed, assigned to abrarpathan19

[2019-02-14 20:54] magento-engcom-team commented on #20919
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#21009 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [20dc45a8a27f64914626dd25baa1773005ef85a5](https://github.com/magento/magento2/commit/20dc45a8a27f64914626dd25baa1773005ef85a5)
 - [32accc927c867cbf42e218063f4d449ee9346f27](https://github.com/magento/magento2/commit/32accc927c867cbf42e218063f4d44

[2019-02-14 20:54] magento-engcom-team commented on #17564
Hi @Rutvee123. Thank you for your report.
The issue has been fixed in magento/magento2#20902 by @satyaprakashpatel in 2.3-develop branch
Related commit(s):
 - [e34db300648121696ba3b6ba426c06a0065ade2c](https://github.com/magento/magento2/commit/e34db300648121696ba3b6ba426c06a0065ade2c)
 - [119fe1e3af48ebb4c8566434dc7d710dec450119](https://github.com/magento/magento2/commit/119fe1e3af48ebb4c8566434

[2019-02-14 20:54] #20919 closed, assigned to nobody

[2019-02-14 20:54] #17564 closed, assigned to satyaprakashpatel

[2019-02-14 20:54] magento-engcom-team commented on #17861
Hi @sskulkarni. Thank you for your report.
The issue has been fixed in magento/magento2#20896 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [8ff4aa55e320cb9facba7149ca71bca3b5ecebea](https://github.com/magento/magento2/commit/8ff4aa55e320cb9facba7149ca71bca3b5ecebea)
 - [fa72ee7f925963020ec5f5af558abff09fa4795b](https://github.com/magento/magento2/commit/fa72ee7f925963020ec5f5af558ab

[2019-02-14 20:54] #17861 closed, assigned to Ketika, shikhamis11

[2019-02-14 20:54] magento-engcom-team commented on #18698
Hi @PiroozMB. Thank you for your report.
The issue has been fixed in magento/magento2#20953 by @serhiyzhovnir in 2.3-develop branch
Related commit(s):
 - [be874714e96cc17cd8d9de71159769aeabf7d10e](https://github.com/magento/magento2/commit/be874714e96cc17cd8d9de71159769aeabf7d10e)
 - [600e090a2c4acdcbcbc2e95851debf17858e1435](https://github.com/magento/magento2/commit/600e090a2c4acdcbcbc2e95851deb

[2019-02-14 20:54] #18698 closed, assigned to nobody

[2019-02-14 20:54] magento-engcom-team commented on #20299
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20466 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [4b04aed0dbc2708eb66973b3a67dc80c56983c43](https://github.com/magento/magento2/commit/4b04aed0dbc2708eb66973b3a67dc80c56983c43)
 - [3475a1f309305fb08123ba495b83ecf8553e3468](https://github.com/magento/magento2/commit/3475a1f309305fb08123ba4

[2019-02-14 20:54] magento-engcom-team commented on #11358
Hi @heyqule. Thank you for your report.
The issue has been fixed in magento/magento2#20682 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [2258f50be930dddee4eb3e575e3826a2edbdd817](https://github.com/magento/magento2/commit/2258f50be930dddee4eb3e575e3826a2edbdd817)
 - [938eaf39d5406f8327d7cb445b0a16686aa7d063](https://github.com/magento/magento2/commit/938eaf39d5406f8327d7cb445b0a16686

[2019-02-14 20:54] #11358 closed, assigned to niravkrish

[2019-02-14 20:54] magento-engcom-team commented on #19701
Hi @Rjgoolsby. Thank you for your report.
The issue has been fixed in magento/magento2#20682 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [2258f50be930dddee4eb3e575e3826a2edbdd817](https://github.com/magento/magento2/commit/2258f50be930dddee4eb3e575e3826a2edbdd817)
 - [938eaf39d5406f8327d7cb445b0a16686aa7d063](https://github.com/magento/magento2/commit/938eaf39d5406f8327d7cb445b0a166

[2019-02-14 20:54] #19701 closed, assigned to niravkrish

[2019-02-14 20:54] magento-engcom-team commented on #20163
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20165 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [51f1261497bd4fff2ba5221180e66457950632b5](https://github.com/magento/magento2/commit/51f1261497bd4fff2ba5221180e66457950632b5)
 - [c8d4c53d4a2a3b6d0d942453e34fc6161c63097d](https://github.com/magento/magento2/commit/c8d4c53d4a2a3b6d0d942453e

[2019-02-14 20:54] #20163 closed, assigned to cedarvinda

[2019-02-14 20:57] judaschwartz commented on #21237
`@magento-engcom-team give me 2.3-develop instance` - upcoming 2.3.x release

[2019-02-14 20:57] magento-engcom-team commented on #21237
Hi @judaschwartz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 20:57] magento-engcom-team commented on #21237
Hi @judaschwartz, here is your [Magento instance](https://i-21237-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21237-2-3-develop.instances.magento-community.engineering/admin](https://i-21237-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 21:18] Karlasa commented on #21225
@magento-engcom-team give me 2.3-develop instance

[2019-02-14 21:18] magento-engcom-team commented on #21225
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 21:19] magento-engcom-team commented on #21225
Hi @Karlasa, here is your [Magento instance](https://i-21225-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21225-2-3-develop.instances.magento-community.engineering/admin](https://i-21225-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 21:28] Karlasa commented on #21225
@speedy008 I think it's not issue but just UI decision to have all primary actions on right and secondary ones on left. Currently as it shows only one icon it may look odd but in commerce version there can be alot more options (e.g. gift option, requisition list...)
I will close this issue. Do not hesitate to contact me if you think this should be an issue.

[2019-02-14 21:28] #21225 closed, assigned to nobody

[2019-02-14 23:12] geerlingguy commented on #19597
We are now running into this as well on Magento 2.3.0 on MySQL (Aurora RDS database in AWS).

[2019-02-15 00:32] Zyles opened #21244 "Luma theme huge whitespace on category grid"
### Preconditions (*)

1. Luma theme Magento 2.3.0
2. Sample data

### Steps to reproduce (*)

1. Navigate to category page with sample data

### Expected result (*)

2 products per row on mobile and full width category page without whitespace on right side on desktop

### Actual result (*)

Category page has a huge white space on desktop on the right side and shows 1 product per row instead of 2

[2019-02-15 00:32] magento-engcom-team commented on #21244
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-15 05:43] harpreetomni opened #21248 "Unable to place order with Virtual product"
At the checkout page, after filling the billing info for a Virtual Product, as soon as I click on the update button then all the payment methods disappear and the screen shows "No Payment Methods".

### Preconditions (*)
1. Magento Version: 2.2.2
2. Virtual Product
3. PayPal Payflow Pro(Credit Card Payment Method)

### Steps to reproduce (*)
<img width="360" alt="11" src="https://user-images.githu

[2019-02-15 05:43] magento-engcom-team commented on #21248
Hi @harpreetomni. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-15 05:47] magento-engcom-team commented on #21248
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-15 05:47] magento-engcom-team commented on #21244
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-15 05:47] charleskj commented on #12483
This is related to this issue : https://github.com/magento/magento2/issues/19230

Actually what happened is magento tries to cancel the expired orders in the past and put back the stock of cancelled item.
This job is throwing some error in middle, unfortunately it happened after stock get increased, but order status not updated to cancel.
So job will pick the same order again and again which resul

[2019-02-15 06:02] magento-engcom-team commented on #21248
Hi @harpreetomni. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 06:03] magento-engcom-team commented on #21248
Hi @harpreetomni, here is your [Magento instance](https://i-21248-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21248-2-3-develop.instances.magento-community.engineering/admin](https://i-21248-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 06:37] girish-codilar commented on #20997
@magento-engcom-team give me 2.2.7 instance

[2019-02-15 06:37] magento-engcom-team commented on #20997
Hi @girish-codilar. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-02-15 06:38] magento-engcom-team commented on #20997
Hi @girish-codilar, here is your [Magento instance](https://i-20997-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-20997-2-2-7.instances.magento-community.engineering/admin](https://i-20997-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 07:39] engcom-backlog-nazar commented on #21201
@Cristy94 But why many people can install without this errors ?

[2019-02-15 07:40] magento-engcom-team commented on #21233
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 07:41] magento-engcom-team commented on #21237
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 07:42] magento-engcom-team commented on #21231
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 07:43] engcom-backlog-nazar commented on #21233
Hi @alessandrosiervo
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-15 07:43] #21233 closed, assigned to nobody

[2019-02-15 07:50] engcom-backlog-nazar commented on #21209
@goivvy I have the same version php and issue not appear

[2019-02-15 08:03] abrarpathan19 opened #21253 "Admin Newsletter Information checkbox not align"
### Preconditions (*)

1.Magento 2.3

### Steps to reproduce (*)

1. Admin -  Customer - All Customers - Edit Customers.
2. Newsletter - Subscribed to Newsletter checkbox is not align.

### Expected result (*)

1. http://prntscr.com/mld4hd

### Actual result (*)

1. http://prntscr.com/mlcfdr

[2019-02-15 08:03] magento-engcom-team commented on #21253
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-15 08:03] magento-engcom-team commented on #21253
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-15 08:05] krishprakash commented on #21253
@magento-engcom-team give me 2.3-develop instance

[2019-02-15 08:05] magento-engcom-team commented on #21253
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 08:06] magento-engcom-team commented on #21253
Hi @krishprakash, here is your [Magento instance](https://i-21253-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21253-2-3-develop.instances.magento-community.engineering/admin](https://i-21253-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 08:14] krishprakash commented on #21253
@magento-engcom-team give me 2.2-develop instance

[2019-02-15 08:14] magento-engcom-team commented on #21253
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-15 08:15] magento-engcom-team commented on #21253
Hi @krishprakash, here is your [Magento instance](https://i-21253-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21253-2-2-develop.instances.magento-community.engineering/admin](https://i-21253-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 08:20] krishprakash commented on #21253
It reproduced on 2.2.
![newsletter](https://user-images.githubusercontent.com/46617848/52843587-959c1d80-3128-11e9-9aba-0b043aab0010.jpg)

[2019-02-15 08:23] alessandrosiervo commented on #21233
i solved issue , i must disable LazyLoad of Porto settings.

Sorry for wrong post, i think that is a magento bug and not Porto

[2019-02-15 09:03] mage2pratik opened #21255 "Magento backend Cache Management mass action checkbox alignment is not proper."
Magento backend Cache Management mass action checkbox alignment is not proper.

### Preconditions (*)

1. Magento 2.3.x
2. Php 7.1.2

### Steps to reproduce (*)

1) Login to admin panel
2) Navigate on System -> Tools (Cache Management)
3) Observe the mass action check-box

### Expected result (*)

![screenshot2](https://user-images.githubusercontent.com/33807558/52845732-d480a200-312d-11e9-87cb-39

[2019-02-15 09:03] magento-engcom-team commented on #21255
Hi @mage2pratik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-15 09:03] magento-engcom-team commented on #21255
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-15 09:05] krishprakash commented on #21255
@magento-engcom-team give me 2.3-develop instance.

[2019-02-15 09:05] magento-engcom-team commented on #21255
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 09:06] magento-engcom-team commented on #21255
Hi @krishprakash, here is your [Magento instance](https://i-21255-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21255-2-3-develop.instances.magento-community.engineering/admin](https://i-21255-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 09:09] magento-engcom-team commented on #21255
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-15 09:12] engcom-backlog-nazar commented on #21255
HI @mage2pratik please edit screen shot and set red color where issue is present. thank you

[2019-02-15 09:13] magento-engcom-team commented on #21248
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 09:16] mage2pratik commented on #21255
Hi @engcom-backlog-nazar just updated.

[2019-02-15 09:35] alen9788 opened #21259 "magento 2.3 import update product Customizable Options not working"
### Preconditions (*)

1. MCE2.3
2. PHP7.2

### Steps to reproduce (*)

1. Export the products by the System>>Export
2. Open the csv file, there are 2 custom options of size&color for the clothes
3. There are several colors such as Green, red. Changed the color Green to DeGreen
4.Save the file and upload it by the System>>Import>> Add/update

### Expected result (*)

There should be still 2 custom

[2019-02-15 09:35] magento-engcom-team commented on #21259
Hi @alen9788. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-15 09:39] magento-engcom-team commented on #21259
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 09:39] magento-engcom-team commented on #21231
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98287`, `MAGETWO-98288` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-15 09:41] magento-engcom-team commented on #21255
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98289` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-15 09:41] PiroozMB commented on #14667
Hi @DrewML
Can I apply the fix to magento 2.2.3 please? it's really frustratig on mobile phones and tablets.

[2019-02-15 10:02] BB-000 commented on #16419
Magento 2.2.5, the line in fotorama-add-video-events.js = line 447. Is there a 2.2.5 patch available?

[2019-02-15 10:06] engcom-backlog-nazar commented on #21259
@magento-engcom-team give me 2.3-develop instance

[2019-02-15 10:06] magento-engcom-team commented on #21259
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 10:07] magento-engcom-team commented on #21259
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21259-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21259-2-3-develop.instances.magento-community.engineering/admin](https://i-21259-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 10:07] engcom-backlog-nazar commented on #21259
Hi @alen9788 thank you for you report, i;m not able to reproduce following steps you described on clean magento 2.3-dev instance
![deepinscreenshot_select-area_20190215120638](https://user-images.githubusercontent.com/40756439/52849659-3800d480-311a-11e9-969d-b8ed93fac550.png)

[2019-02-15 10:11] ananth-iyer commented on #21233
@alessandrosiervo You should contact Porto regarding LazyLoad issue

[2019-02-15 10:18] alen9788 commented on #21259
Thanks for the quick reply.

Please try to reproduce it again. Drop down type is selected.

https://prnt.sc/mlfcfa

After we import , it become this
https://prnt.sc/mlfdoo

If one product is updated normally, please try large , such as 100, 200 products uploaded, probably some working, some not working.

[2019-02-15 10:18] dmcanna commented on #19710
I have the same issue with white borders and my changes in theme view.xml don't work. It helps me only if I create etc/view.xml in some module (this module has sequence on Magento_Catalog) with
<vars module="Magento_Catalog">
     <var name="product_image_white_borders">0</var>
</vars>

[2019-02-15 10:19] engcom-backlog-nazar commented on #21248
Hi @harpreetomni thank you for you report, i;m not able to reproduce following steps you described, this may be related to your custom modules.
![deepin-screen-recorder_select area_20190215121809](https://user-images.githubusercontent.com/40756439/52850346-e9ecd080-311b-11e9-8e67-e6ba1fcf9d63.gif)

[2019-02-15 10:19] #21248 closed, assigned to nobody

[2019-02-15 10:28] engcom-backlog-nazar commented on #21259
@alen9788 Magento  add new row when i change the title but other updates works perfectly
![deepinscreenshot_select-area_20190215122718](https://user-images.githubusercontent.com/40756439/52850833-2c62dd00-311d-11e9-9db8-4202ffbb215d.png)

[2019-02-15 10:29] engcom-backlog-nazar commented on #20164
HI @sjb9774 the google-tag-manager available only in EE version, We can accept only CE issues.

[2019-02-15 10:29] #20164 closed, assigned to nobody

[2019-02-15 10:34] alen9788 commented on #21259
So what to do if we want to update the "red" to other word such as "DeRed"  ?The option title is still Color

[2019-02-15 10:35] Userr017 commented on #19710
I have was same issue. So I restored back to 2.2.7 because this big issue. Hope so someone fix this issue for magento 2.3.0.

[2019-02-15 10:36] peterjaap commented on #17813
"Funny" side-effect;

After applying the patch (which fixes this issue), our client mentioned that Magento showed a "Compare Products" option in the header:

![image](https://user-images.githubusercontent.com/431360/52851010-4ef0f800-3115-11e9-862a-373da78a54b5.png)

It appears that due to this bug, Magento copied values from `product_data_storage` to `recently_compared_product` (maybe instead of

[2019-02-15 10:36] lgrassini commented on #15031
@engcom-backlog-pb any news about this?

[2019-02-15 10:44] engcom-backlog-nazar commented on #21259
@alen9788 but this works as expected see screenshot
![deepinscreenshot_select-area_20190215124358](https://user-images.githubusercontent.com/40756439/52851693-6d5bf100-311f-11e9-82c7-b5c761c2d758.png)

[2019-02-15 10:45] nicholasscottfish commented on #20066
Hi there,

Has there been an official patch for this issue. I'm also experiencing this on v2.2.5, any help would be appreciated?

"Please check the billing address information. firstname is a required field. lastname is a required field. street is a required field. city is a required field. telephone is a required field. postcode is a required field. countryId is a required field."

[2019-02-15 10:46] engcom-backlog-nazar commented on #21259
@alen9788 if you change Option title this is the new option so that was magento create new because this option no more Color

[2019-02-15 10:47] abrarpathan19 commented on #21244
@magento-engcom-team give me 2.3-develop instance

[2019-02-15 10:47] magento-engcom-team commented on #21244
Hi @abrarpathan19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 10:47] magento-engcom-team commented on #21244
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-15 10:47] magento-engcom-team commented on #21244
Hi @abrarpathan19, here is your [Magento instance](https://i-21244-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21244-2-3-develop.instances.magento-community.engineering/admin](https://i-21244-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 10:48] magento-engcom-team commented on #19561
Hi @nimitaemipro. Thank you for your report.
The issue has been fixed in magento/magento2#19608 by @emiprotech in 2.3-develop branch
Related commit(s):
 - [f7fb1865aac9b80d1bc57d6d1e28e78aff8bc7ee](https://github.com/magento/magento2/commit/f7fb1865aac9b80d1bc57d6d1e28e78aff8bc7ee)
 - [4d84a7a5af05d347e1b726d5c4dca4d4cc7c97c6](https://github.com/magento/magento2/commit/4d84a7a5af05d347e1b726d5c4dc

[2019-02-15 10:48] #19561 closed, assigned to nimitaemipro

[2019-02-15 10:48] magento-engcom-team commented on #19328
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#21069 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [505352c0f87cff15ccdf00494694675263a6f2b0](https://github.com/magento/magento2/commit/505352c0f87cff15ccdf00494694675263a6f2b0)
 - [5efc288db2c5f5bdc45bf4c25bbf8458eb6996de](https://github.com/magento/magento2/commit/5efc288db2c5f5bdc45bf4c25bbf8458

[2019-02-15 10:48] magento-engcom-team commented on #18347
Hi @benoitrenaud. Thank you for your report.
The issue has been fixed in magento/magento2#20495 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [57f6957df12c1d9997f88e10f1262087e6d0a66a](https://github.com/magento/magento2/commit/57f6957df12c1d9997f88e10f1262087e6d0a66a)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-15 10:48] #18347 closed, assigned to nobody

[2019-02-15 10:48] magento-engcom-team commented on #18944
Hi @supportnubix. Thank you for your report.
The issue has been fixed in magento/magento2#19996 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [76040cca09f858b264ad67b7dc4d9a498df1ac08](https://github.com/magento/magento2/commit/76040cca09f858b264ad67b7dc4d9a498df1ac08)
 - [d5b7745bbddeb94dc1e7017f1b7249c2b139bb2d](https://github.com/magento/magento2/commit/d5b7745bbddeb94dc1e7017f1b7

[2019-02-15 10:48] #18944 closed, assigned to nobody

[2019-02-15 10:48] magento-engcom-team commented on #18056
Hi @synolia-bvo. Thank you for your report.
The issue has been fixed in magento/magento2#18852 by @wiardvanrij in 2.3-develop branch
Related commit(s):
 - [a8f662ebe2ed6a190ea34d407a6085678add93f0](https://github.com/magento/magento2/commit/a8f662ebe2ed6a190ea34d407a6085678add93f0)
 - [04aa94e7062eab740d88c814277e08e0458596a1](https://github.com/magento/magento2/commit/04aa94e7062eab740d88c814277e

[2019-02-15 10:48] #18056 closed, assigned to nobody

[2019-02-15 10:50] alen9788 commented on #21259
yes what we faced is that we did not change the option title, just change the option, but still they are added rather than updated.
https://prnt.sc/mlfdoo

As you see, duplicated Size&Color

[2019-02-15 10:51] engcom-backlog-nazar commented on #21259
@alen9788 No in my case i have successfully update Color, can you recheck on vanilla instance ?

[2019-02-15 11:02] ajheaton90 commented on #18148
I just wanted to update, I had this very same issue using PayPal pro hosted solution using magento 2.3 and human's fix worked for me, order successfully goes to Processing, I saw some users reported with 2.3 it went to suspected fraud but this was not the case for me.

[2019-02-15 11:13] lgrassini commented on #15031
Apparently spammers are exploiting some API or entering the data via URL. Since I can't see a spike of activity equivalent in Google Analytics.
**Consider limiting this fields (first and last name) also in backend not only in frontend.**

[2019-02-15 11:16] peterjaap commented on #17813
My conclusion from the previous response was not really correct although I feel like this is related. Even after nuking localStorages, the products re-appeared. I checked my database and this is what I found;

![image](https://user-images.githubusercontent.com/431360/52853253-50252380-311b-11e9-881a-069715a21c79.png)

The same four products kept being added to the compare products localStorage bec

[2019-02-15 11:31] peterjaap opened #21264 "Compared items in database have no visitor and no customer ID"
Our client noticed that on a lot of computers (and customers), the Compare Products option showed up in the header;

![image](https://user-images.githubusercontent.com/431360/52851010-4ef0f800-3115-11e9-862a-373da78a54b5.png)

After some searching and [wrong conclusions](https://github.com/magento/magento2/issues/17813#issuecomment-463991314), I found that the culprit was the `catalog_compare_item

[2019-02-15 11:31] magento-engcom-team commented on #21264
Hi @peterjaap. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-15 11:32] DeLuuk commented on #21059
@engcom-backlog-nazar Oke and I'm guessing you have to use the true_word_char() macro when you sent the string to mysql?
If so, do you know the file that that's located in? I had searched that file for a long time and couldn't find it before..

But again thanks for helping me so far!

[2019-02-15 11:58] magento-engcom-team commented on #21264
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 12:15] magento-engcom-team commented on #21244
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 12:16] engcom-backlog-nazar commented on #21244
Hi @Zyles thank you for you report, I'm closing  this as duplicate to this -> https://github.com/magento/magento2/issues/20140

[2019-02-15 12:16] #21244 closed, assigned to abrarpathan19

[2019-02-15 12:27] robhuijben commented on #8734
@akssaiyad unfortunately this is the Magento 2 repository

[2019-02-15 12:35] simonmaass commented on #7350
this issue doesnt seem fixed!

[2019-02-15 12:35] novikor commented on #21062
@orlangur , I have found a solution how to apply this rule to phpcs and static tests.
Ruleset.xml is present in `magento/magento-coding-standard`, but [.php_cs.dist](https://github.com/magento/magento2/blob/2.3-develop/.php_cs.dist) is not.

May I create a PR in this repository?

[2019-02-15 12:47] zipnfc commented on #18148
@ajheaton90 - thank so much for confirming this - I will now give this a go. We just put the new Magento 2 shop live (zipnfc.com) at the weekend on 2.2.6 and everything is working perfectly.  Really pleased with it but will test on 2.3 now!

[2019-02-15 13:02] rogyar commented on #20919
@magento-engcom-team give me 2.2-develop instance

[2019-02-15 13:02] magento-engcom-team commented on #20919
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-15 13:03] magento-engcom-team commented on #20919
Hi @rogyar, here is your [Magento instance](https://i-20919-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20919-2-2-develop.instances.magento-community.engineering/admin](https://i-20919-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 13:03] engcom-backlog-nazar commented on #21259
@alen9788 i'm closing this for now, if you have some additional information please reopen the issue.

[2019-02-15 13:03] #21259 closed, assigned to nobody

[2019-02-15 13:12] magenx commented on #15031
account data injected directly to API, if you have it open,

[code]

you can configure access to your API only to your authorized IP addresses.
https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/
http://nginx.org/en/docs/http/ngx_http_access_module.html

[2019-02-15 13:16] orlangur commented on #21062
@novikor sure thing! Are you going to implement a proper `php-cs-fixer` integration?

[2019-02-15 13:16] shikhamis11 commented on #21253
hi @abrarpathan19
 It seems this issue is already created and confirmed

[2019-02-15 13:17] #21253 closed, assigned to krishprakash

[2019-02-15 13:58] magento-engcom-team commented on #21152
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98294`, `MAGETWO-98295` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-15 14:01] peterjaap commented on #21264
Well here's how to reproduce the bug itself;
- Add rows to the `catalog_compare_item` table with `customer_id = NULL` and `visitor_id = 0`.

I've updated the OP.

[2019-02-15 14:09] engcom-backlog-nazar commented on #21264
@peterjaap where they must be appear ?

[2019-02-15 14:13] peterjaap commented on #21264
@engcom-backlog-nazar only when the current customer actively added them to the compare list.

[2019-02-15 14:21] mage2pratik opened #21271 "Address book display horizontal scroll in responsive view"
### Preconditions (*)

1. Magento 2.3.x
2. Php 7.1.2

### Steps to reproduce (*)

1. Go to My Account
2. Add Additional addresses in my account -> Address book
3. See the added addresses in responsive views iPad(768x1024).
4. Displaying the horizontal scroll

### Expected result (*)

![screenshot](https://user-images.githubusercontent.com/33807558/52862219-bf6e3800-315a-11e9-8138-968b1e7b0b50.png)

[2019-02-15 14:21] magento-engcom-team commented on #21271
Hi @mage2pratik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-15 14:21] magento-engcom-team commented on #21271
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-15 14:23] krishprakash commented on #21271
@magento-engcom-team give me 2.3-develop instance.

[2019-02-15 14:23] magento-engcom-team commented on #21271
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 14:23] judaschwartz commented on #21237
* Reproduced on 2.2.x

[2019-02-15 14:23] magento-engcom-team commented on #21271
Hi @krishprakash, here is your [Magento instance](https://i-21271-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21271-2-3-develop.instances.magento-community.engineering/admin](https://i-21271-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 14:25] magento-engcom-team commented on #21237
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98296`, `MAGETWO-98297` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-15 14:25] gwharton commented on #17691
Still not working in 2.3-develop

Here is a video of vanilla 2.3-develop.

I have opened up the developer tools and filtered on the ajax call to update the column positions in the database ui_bookmark table.

Note, when I first open the page, no ajax call is made as the page loads.

I then drag "Grand Total (Purchased)" to the beginning of the table.

An ajax call is made which saves the new colum

[2019-02-15 14:27] magento-engcom-team commented on #21271
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-15 14:31] novikor commented on #21062
Yes, I will try

[2019-02-15 14:37] engcom-backlog-nazar commented on #21264
@peterjaap just checked and the not appear on frontend, any other case ? maybe you have some module that break session ?

[2019-02-15 14:45] magento-engcom-team commented on #6162
Hi @otg-chris. Thank you for your report.
The issue has been fixed in magento/magento2#21239 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d77bc6acaccaecddc4bda3415d268ed21ef94981](https://github.com/magento/magento2/commit/d77bc6acaccaecddc4bda3415d268ed21ef94981)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-15 14:45] magento-engcom-team commented on #7974
Hi @mtstedman. Thank you for your report.
The issue has been fixed in magento/magento2#21239 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d77bc6acaccaecddc4bda3415d268ed21ef94981](https://github.com/magento/magento2/commit/d77bc6acaccaecddc4bda3415d268ed21ef94981)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-15 14:45] magento-engcom-team commented on #21144
Hi @gauravagarwal1001. Thank you for your report.
The issue has been fixed in magento/magento2#21239 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d77bc6acaccaecddc4bda3415d268ed21ef94981](https://github.com/magento/magento2/commit/d77bc6acaccaecddc4bda3415d268ed21ef94981)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-15 14:45] magento-engcom-team commented on #21101
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#21238 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [544d99c4a30f0e89604fd2ef78dc3c6f1edb96c7](https://github.com/magento/magento2/commit/544d99c4a30f0e89604fd2ef78dc3c6f1edb96c7)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-15 14:45] judaschwartz commented on #21237
I created a PR to fix this
https://github.com/magento/magento2/pull/21236

[2019-02-15 14:50] engcom-backlog-nazar commented on #21264
@peterjaap My observation when visitor becomes to 0
1 go to frontend  as guest
2 add to compare product
3 register Customer
4 Logout now you have visitor_id =0 but have customer_id

So if you have some bug with session you may have also customer_id=null

[2019-02-15 15:15] Cristy94 commented on #21201
@engcom-backlog-nazar That's how bugs work, right? It's like saying, if 2 planes crash but 998 are fine, then there is no problem, **as the majority are fine**.

It's clearly an issue when a locale is used, there are many people having this issue (just first results from some google searches):
https://magento.stackexchange.com/questions/219268/setupstatic-contentdeploy-issue-with-locale
https://st

[2019-02-15 15:18] engcom-backlog-nazar commented on #21201
@Cristy94 ok i agree with you , but how we can reproduce this ? without reproduce issue we cannot create a PR

[2019-02-15 15:33] HirokazuNishi opened #21274 "Cannot run catalog price index by tmp table is full"
Product price indexer cannot execute index update. Magento can update indexes by schedule, but if huge entity id differences in same schedule job, product price indexer will be stopped by tmp table size is full. This issue caused by Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\Query\BaseFinalPrice Line 221. "BETWEEN" condition specifies huge amount of rows at once. (For example, "e.en

[2019-02-15 15:33] magento-engcom-team commented on #21274
Hi @HirokazuNishi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-15 15:34] magento-engcom-team commented on #21274
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-15 16:43] Softwebsrl opened #21276 "Blank page after adding filters in only one category page"
The site has 6 daughters categories of "Default Category". I entered in all the filters by clicking on
"anchor".  When I insert them in the last one, the page is displayed blank. I tried to remove the anchor and display the products in that category, and an empty sidebar next to it.
![default](https://user-images.githubusercontent.com/47670694/52870863-166b1180-3149-11e9-81e9-9178340e92fd.PNG)
![c

[2019-02-15 16:43] magento-engcom-team commented on #21276
Hi @Softwebsrl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-15 17:01] mrwibbles commented on #4737
Upgrading to the latest version fixed it for me, currently running on Magento 2.2.7

`composer require pelago/emogrifier`

[2019-02-15 17:33] geerlingguy opened #21277 "No supported version of Elasticsearch will work with Magento 2.x as of 2019-03-11"
### Description (*)

In https://github.com/magento/magento2/issues/18974, it was reported that Elasticsearch 6.x versions are incompatible with Magento 2, and installations will silently fail the test connection, and you can't index or search Magento data with Elasticsearch 6 or later.

That issue was closed as it was not considered a bug that Magento supported Elasticsearch 2.x and 5.x and didn't

[2019-02-15 17:33] magento-engcom-team commented on #21277
Hi @geerlingguy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-15 17:33] geerlingguy commented on #18974
Moving conversation here, which is a feature request: https://github.com/magento/magento2/issues/21277 (since this was closed).

Also, is MySQL search being deprecated? If so, it might be good to get Magento working with a more modern version of Elasticsearch...

[2019-02-15 17:35] geerlingguy commented on #21277
@magento-engcom-team - Yes. I'm testing on enterprise but also confirmed with community edition.

[2019-02-15 17:58] snoroozi commented on #14667
1 word magiczoom

Scott Noroozi
CEO| Co-Founder | SysAdmin
The Green Nursery, Inc.
thegreennursery.com

________________________________
From: PiroozMB <notifications@github.com>
Sent: Friday, February 15, 2019 4:43:16 AM
To: magento/magento2
Cc: Scott Noroozi; Comment
Subject: Re: [magento/magento2] Product Page Product Images Slow to Load (#14667)

Hi @DrewML<https://github.com/DrewML>
Can I app

[2019-02-15 18:26] magento-engcom-team commented on #21271
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-15 18:39] Cristy94 commented on #21201
I can 100% reproduce it on my environment.

`@magento-engcom-team give me 2.3-develop instance` - upcoming 2.3.x release

[2019-02-15 18:39] magento-engcom-team commented on #21201
Hi @Cristy94. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 18:40] magento-engcom-team commented on #21201
Hi @Cristy94, here is your [Magento instance](https://i-21201-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21201-2-3-develop.instances.magento-community.engineering/admin](https://i-21201-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 18:44] mahesh-rajawat opened #21278 "Sort order missing on Downloadable Product Links and Sample Columns"
### Preconditions (*)

1. Magento 2.2
2. Magento 2.3.0

### Steps to reproduce (*)

1. I need to add a column after Links Title column programatically.
2. I have created a plugin of
`\Magento\Downloadable\Ui\DataProvider\Product\Form\Modifier\Links::modifyMeta()`
[code]
3.  After applying this code with **sortOrder 15** on this custom column the links table columns misplaced

### Expected result (

[2019-02-15 18:44] magento-engcom-team commented on #21278
Hi @maheshWebkul721. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-15 18:46] Cristy94 commented on #21201
I tried to reproduce it in your Environment, but:

1) When I installed Magento 2 in my case, I selected at installation time the ro_RO locale.
2) When I changed the locale in your environment to ro_RO, the frontend store language (text) was still in English (language doesn't seem to change).

[2019-02-15 20:46] sdzhepa commented on #20480
@magento-engcom-team give me 2.3-develop instance

[2019-02-15 20:46] magento-engcom-team commented on #20480
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-15 20:47] Nazar65 commented on #21193
@Nazar65 test

[2019-02-15 20:47] magento-engcom-team commented on #20480
Hi @sdzhepa, here is your [Magento instance](https://i-20480-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20480-2-3-develop.instances.magento-community.engineering/admin](https://i-20480-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-15 20:48] Nazar65 commented on #21193
@Nazar65 test

[2019-02-16 05:06] rav-redchamps opened #21281 "Wrong order amount on dashboard on Last orders listing when order has discount and it is partially refunded"
### Preconditions (*)

1. Magento version 2.3.0

### Steps to reproduce (*)

1. Add a product with quantity 3 to Cart
2. Create a 10% discount coupon from admin and apply it to the cart
3. Go to checkout and place order
4. Invoice the order from admin, if placed using the offline payment method
5. Create a credit memo for the order to refund 2 quantities out of 3
6. Now notice the "Total" column f

[2019-02-16 05:06] magento-engcom-team commented on #21281
Hi @rav-redchamps. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-16 05:24] rav-redchamps commented on #21281
Create a pull request https://github.com/magento/magento2/pull/21283 to fix this issue.

[2019-02-16 05:28] rav-redchamps commented on #18754
This issue is still repeatable on 2.3-develop branch when you view data of particular store/website in the admin dashboard.

Just fixed it in pull request https://github.com/magento/magento2/pull/21283

[2019-02-16 05:50] magento-engcom-team commented on #21281
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-16 05:50] shikhamis11 commented on #21281
@magento-engcom-team give me 2.3-develop instance

[2019-02-16 05:50] magento-engcom-team commented on #21281
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-16 05:51] magento-engcom-team commented on #21281
Hi @shikhamis11, here is your [Magento instance](https://i-21281-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21281-2-3-develop.instances.magento-community.engineering/admin](https://i-21281-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-16 06:30] magento-engcom-team commented on #21281
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98300` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-16 06:43] rav-redchamps commented on #21281
Already fixed in pull request #21283

[2019-02-16 08:23] magento-engcom-team commented on #13552
Hi @brideo. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detai

[2019-02-16 08:25] brideo commented on #13552
Cool, I will start today.

[2019-02-16 09:27] magento-engcom-team commented on #21278
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-16 10:45] ask694 commented on #19565
Hi @magento-engcom-team   This fix not worked for me. i had changed the code directly to the core module. Any other solution.? still i'm getting the public_html on the sitemap xml

[2019-02-16 10:59] R-K-Shrivastaw opened #21284 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later. WYSIWYG editor, Image upload error in magento 2.3"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

1. [Screenshots, logs or description]
2.

[2019-02-16 10:59] magento-engcom-team commented on #21284
Hi @R-K-Shrivastaw. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-16 12:32] aluckyar commented on #7441
In the Magento version 2.2.6 the order can be modified from the Admin, in the Manage Options (Values of Your Attribute) tab of the attribute

[2019-02-16 13:05] magento-engcom-team commented on #14492
Hi @novikor. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-16 15:45] magento-engcom-team commented on #21070
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#21250 by @suryakant-krish in 2.2-develop branch
Related commit(s):
 - [da3a606adcdce1e1f55e2e74e106cf3f67a650db](https://github.com/magento/magento2/commit/da3a606adcdce1e1f55e2e74e106cf3f67a650db)
 - [6acd8a4c1265c3f6da08b9d7722a77d83def245f](https://github.com/magento/magento2/commit/6acd8a4c1265c3f6da08b9

[2019-02-16 15:45] magento-engcom-team commented on #17861
Hi @sskulkarni. Thank you for your report.
The issue has been fixed in magento/magento2#21245 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [77c780d5ae54a8ec982648d6104cff6da50e35a6](https://github.com/magento/magento2/commit/77c780d5ae54a8ec982648d6104cff6da50e35a6)
 - [5eeecac645d53a3c543247a1d6e6c26752ee5012](https://github.com/magento/magento2/commit/5eeecac645d53a3c543247a1d6e6c

[2019-02-16 17:39] magento-engcom-team commented on #21284
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-16 20:16] AleksLi commented on #14788
@rocketweb  I found the reason for that behavior. I've investigated the issue and found that you were changed the wrong arguments.
`$eavSetup->updateAttribute(Product::ENTITY, 'color','position', 10, 200);`
The position you were trying to change is the position of the attribute in [category layer navigation](https://monosnap.com/file/oDfblxX2DK6UNqryKJJt3MQ4B0MZnA)

The real one you are looking fo

[2019-02-16 20:17] AleksLi commented on #14788
@rocketweb Reach out to me if something is still unclear.
CC::@magento-engcom-team

[2019-02-16 20:49] Mkennethsmith opened #21285 "PHP Fatal Error: Uncaught Type Error Account Management Authenticate"
### Preconditions (*)

1. Fresh install of Magento 2.3 Commerce

### Steps to reproduce (*)

1.  With a fresh install of Magento 2.3 Commerce, create a single customer via the admin panel
2. On the frontend, attempt to login with the created customer with anything in the password field

### Expected result (*)

1. An invalid exception message of  "'Invalid login or password." is displayed to the u

[2019-02-16 20:50] magento-engcom-team commented on #21285
Hi @Mkennethsmith. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-16 21:04] Mkennethsmith commented on #21285
Issue seems to stem from the fact a user has no passwords set yet, and there for no password hash yet exists.

See screen shot below for reference to issue in \Magento\Framework\Encryption\Encryptor.php line 238.

![screenshot 2019-02-16 at 20 58 15](https://user-images.githubusercontent.com/16221145/52905153-0711c400-322e-11e9-86f5-272573178eca.png)

The most appropriate place to check if a hash

[2019-02-16 21:15] magento-engcom-team commented on #19274
Hi @dyuk1987. Thank you for your report.
The issue has been fixed in magento/magento2#19359 by @jaimin-ktpl in 2.3-develop branch
Related commit(s):
 - [8b30520d4d0bb5ca0ebcc1ddd51d33708df753ae](https://github.com/magento/magento2/commit/8b30520d4d0bb5ca0ebcc1ddd51d33708df753ae)
 - [05dadd8eac7113fa98f975a8bff575a4341a7702](https://github.com/magento/magento2/commit/05dadd8eac7113fa98f975a8bff575a

[2019-02-16 21:15] #19274 closed, assigned to jaimin-ktpl

[2019-02-16 21:36] themoonwatcher commented on #7298
After a migration and a week digging into the problem the only thing that worked for me was https://www.safemage.com/url-optimization-after-migration-magento-2.html

I had to downgrade to 2.2.7 to use it. It says it works on 2.3 but it does not.

[2019-02-17 11:44] magento-engcom-team commented on #21285
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-17 11:45] shikhamis11 commented on #21285
@magento-engcom-team give me 2.3-develop instance

[2019-02-17 11:46] magento-engcom-team commented on #21285
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-17 11:46] magento-engcom-team commented on #21285
Hi @shikhamis11, here is your [Magento instance](https://i-21285-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21285-2-3-develop.instances.magento-community.engineering/admin](https://i-21285-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-17 11:55] shikhamis11 commented on #21285
@Mkennethsmith this issue is not reproduceable at current Magento 2.3 develop instance

[2019-02-17 11:55] #21285 closed, assigned to shikhamis11

[2019-02-17 14:18] devamitbera commented on #10088
@magento-engcom-team ,any body has any feedback on my suggestion over comment https://github.com/magento/magento2/issues/10088#issuecomment-460028255

[2019-02-17 14:29] sukhvirkardam commented on #15490
when i use this extesnion it show me error .

![image](https://user-images.githubusercontent.com/17808927/52914452-66370d80-32ee-11e9-8531-c47d424bcb25.png)

[2019-02-17 19:07] gitxsun commented on #21201
I have exact same issue.   Already wasted one whole days , then saw this post.      My dev is using PHP 7.1 .   but my testing production server is using PHP 7.2.        I suspect that it is a PHP 7.2 and Magento 2.3 bug.

[2019-02-17 19:22] maheshWebkul721 commented on #21278
@magento-engcom-team issue can be reproduced.

[2019-02-17 19:58] ianitsky opened #21289 "Issue with password hash version on Encryptor"
### Summary (*)

Maybe this issue are visible only for me because I some things in the password section in the core module.
But I experienced one error that don't do sense for me.

This is the error message:
[code]
On the file: Magento\Framework\Encryption\Encryptor:274 we have the explode function:
[code]
But the value of $this->passwordHashMap is:
[code]
after evaluate:
[code]
because the value

[2019-02-17 19:58] magento-engcom-team commented on #21289
Hi @ianitsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-17 22:25] Cristy94 commented on #21201
I have PHP 7.1 on my servver and have this issue, so not sure it is related to the PHP version. Do you also have have your shop in a  locale different then the default one (en_US) ?

[2019-02-18 03:05] magento-engcom-team commented on #21278
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98301`, `MAGETWO-98302` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-18 04:23] tschirmer opened #21290 "Sitemap generated has wrong url when docroot is changed to pub"
### Preconditions (*)

1. Magento 2.3
2. Apache 2.4
3. PHP 7.1

### Steps to reproduce (*)

1. Setup Apache's docroot directory to Magento's pub dir ( /var/www/html/magento/pub/ ) as per install guide: https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html
2. Goto Backend of magento and generate sitemap under Marketing -> Sitemaps.
3. Create new sitemap
4. Click o

[2019-02-18 04:23] magento-engcom-team commented on #21290
Hi @tschirmer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-18 05:08] VZeroCool commented on #21290
@magento-engcom-team give me 2.3-develop instance` - upcoming 2.3.x release

[2019-02-18 05:08] magento-engcom-team commented on #21290
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 05:09] magento-engcom-team commented on #21290
Hi @VZeroCool, here is your [Magento instance](https://i-21290-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21290-2-3-develop.instances.magento-community.engineering/admin](https://i-21290-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 06:16] magento-engcom-team commented on #21290
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 06:18] engcom-backlog-nazar commented on #21290
Hi @tschirmer thank you for you report, I'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/5321

[2019-02-18 06:18] #21290 closed, assigned to nobody

[2019-02-18 06:18] magento-engcom-team commented on #21289
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 06:19] magento-engcom-team commented on #21276
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 06:19] magento-engcom-team commented on #21277
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 06:57] R1zzzler commented on #14952
After applying patch #18471 on M2.3 we still get no valid From Name and also no valid To name.
So on transactional M2.3 emails both ->setFrom and AddTo only set emailaddress and not the Name part.
Has the way ->addTo($email,$customername) changed since 2.2.7 ( works there ) in 2.3 or after applying 18471 patch?

[2019-02-18 07:18] ioweb-gr commented on #18339
I've noticed that whenever a block is repeated in a page it always ends up with duplicate IDs. Even when you use in the phtml the following code.

<?php <div id="echo uniqid()"> </div> ?>

Is there a best practice to avoid this issue?

[2019-02-18 07:41] engcom-backlog-nazar commented on #19565
HI @ask694 you can recheck on 2.3-develop branch

[2019-02-18 08:15] magento-engcom-team commented on #21274
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98304`, `MAGETWO-98305` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-18 08:17] engcom-backlog-nazar commented on #21274
Hi @HirokazuNishi thank you for your report, `Run indexer via cron (do not run it via bin/magento)`
If you run manually php bin/magento cron:run. then indexer works as expected ? it only occurus when indexer runs on shedule ?

[2019-02-18 08:20] engcom-backlog-nazar commented on #21276
Hi @Softwebsrl
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-18 08:20] #21276 closed, assigned to nobody

[2019-02-18 08:25] magento-engcom-team commented on #21179
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98306`, `MAGETWO-98307` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-18 08:56] stephangroen commented on #4432
Still seeing this issue with multiple Magento 2 shops, including 2.2.7.

[2019-02-18 09:27] engcom-backlog-nazar commented on #21264
Hi @peterjaap i'm closing this for now, as we not have clear steps to reproduce. if you have some additional information please reopen the issue.

[2019-02-18 09:27] #21264 closed, assigned to nobody

[2019-02-18 09:37] Mkennethsmith commented on #21285
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 09:37] magento-engcom-team commented on #21285
Hi @Mkennethsmith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 09:38] magento-engcom-team commented on #21285
Hi @Mkennethsmith, here is your [Magento instance](https://i-21285-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21285-2-3-develop.instances.magento-community.engineering/admin](https://i-21285-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 09:39] craigcarnell commented on #20571
@engcom-backlog-nazar Any update on this issue please?

[2019-02-18 10:36] engcom-backlog-nazar commented on #21289
Hi @ianitsky thank you for you report, this already fixed in 2.3-develop branch
![deepinscreenshot_select-area_20190218123530](https://user-images.githubusercontent.com/40756439/52945150-beffb800-3379-11e9-8ff1-dec36eb8f748.png)

[2019-02-18 10:36] #21289 closed, assigned to nobody

[2019-02-18 11:11] engcom-backlog-nazar commented on #21106
HI @sshymko thank you for you report, i' closing this on comment -> https://github.com/magento/magento2/issues/21106#issuecomment-462460396

[2019-02-18 11:14] magento-engcom-team commented on #21284
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-18 11:14] abrarpathan19 commented on #21284
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 11:15] magento-engcom-team commented on #21284
Hi @abrarpathan19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 11:15] magento-engcom-team commented on #21284
Hi @abrarpathan19, here is your [Magento instance](https://i-21284-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21284-2-3-develop.instances.magento-community.engineering/admin](https://i-21284-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 11:20] engcom-backlog-nazar commented on #21284
Hi @R-K-Shrivastaw
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2019-02-18 11:44] apomili opened #21292 "Google Analytics isAnonymizedIpActive always true"
### Preconditions (*)

1 - Magento ver. 2.2.7 (and below, I suppose)
2 - Google Analycs correctly activated and Anonymize Ip turned to off.

### Steps to reproduce (*)
1 - Install and activate GA Debbugger chrome extension
2 - Open the chrome console and browse the shop

### Expected result (*)
GA set with no ip anon

### Actual result (*)
Running command: ga("set", "anonymizeIp", true)

---------

[2019-02-18 11:44] magento-engcom-team commented on #21292
Hi @apomili. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-18 12:02] magento-engcom-team commented on #21292
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 12:09] SatishDubariya opened #21293 "Validation for 'Maximum quantity allowed in shopping cart' get failed when it is set to 0."
### Preconditions (*)

1. magento 2.3.0

### Steps to reproduce (*)

1. Store > Configuration > catalog > inventory > product stock options > Maximum Qty Allowed in Shopping Cart = 0
2. add product in cart.

### Expected result (*)

1. Product not added to cart and message appear: The requested qty exceeds the maximum qty allowed in shopping cart

### Actual result (*)

1. product added successful

[2019-02-18 12:10] magento-engcom-team commented on #21293
Hi @SatishDubariya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-18 12:14] wojtekn opened #21294 "Cart can't be emptied if any product is out of stock"
### Preconditions

1. Magento 2.3
2. Magento 2.2

### Steps to reproduce

1. Add simple product in backend, set positive quantity and Stock Status = In Stock
2. Open another browser tab and access product in frontend
3. Add product to cart
4. Navigate to cart
5. Enable "Clear Shopping Cart" button by running this code in console:
`jQuery('.action.clear').show()`
It's hidden in CSS for some reason.

[2019-02-18 12:14] magento-engcom-team commented on #21294
Hi @wojtekn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-18 12:15] magento-engcom-team commented on #21293
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 12:16] engcom-backlog-nazar commented on #21293
HI @SatishDubariya thank you for you report i;m closing this as duplicate to this-> https://github.com/magento/magento2/issues/18477

[2019-02-18 12:16] #21293 closed, assigned to nobody

[2019-02-18 12:17] SatishDubariya commented on #21293
Ok thanks for sharing related link.

[2019-02-18 12:18] engcom-backlog-nazar commented on #21284
@R-K-Shrivastaw please describe issue correct , and then please reopen this issue. Best Regarrds

[2019-02-18 12:18] #21284 closed, assigned to shikhamis11, abrarpathan19

[2019-02-18 12:22] magento-engcom-team commented on #21294
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 12:24] wojtekn commented on #21294
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 12:24] magento-engcom-team commented on #21294
Hi @wojtekn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 12:25] magento-engcom-team commented on #21294
Hi @wojtekn, here is your [Magento instance](https://i-21294-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21294-2-3-develop.instances.magento-community.engineering/admin](https://i-21294-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 12:28] oleksii-lisovyi commented on #14232
Hi all.

The issue if fixed in 2.2-develop branch (not sure about the branch 2.3-develop).
For now for Magento 2.2.x you can apply patch from the commit https://github.com/magento/magento2/commit/d7d13a4cc8c8dfd21d2dc051e87676cab7c491be

We've tested it on 2.2.7 - the is fixed.

[2019-02-18 12:30] wojtekn commented on #21294
I reproduced issue on test 2.3 instance.

[2019-02-18 12:33] magento-engcom-team commented on #21294
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98308`, `MAGETWO-98309` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-18 13:00] mage2pratik opened #21296 "Pagination drop-down size does not appropriate."
Pagination drop-down size does not appropriate.

### Preconditions (*)

1. Magento 2.3.x
2. Php 7.1.2

### Steps to reproduce (*)

1. Go to Admin
2. Content >> Blocks
3. Review the pagination drop-down size.

### Expected result (*)

![screenshot](https://user-images.githubusercontent.com/33807558/52952577-fa66aa80-33aa-11e9-99ac-05ff68479a63.png)

### Actual result (*)

![screenshot2](https://use

[2019-02-18 13:00] magento-engcom-team commented on #21296
Hi @mage2pratik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-18 13:00] magento-engcom-team commented on #21296
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-18 13:02] krishprakash commented on #21296
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 13:02] magento-engcom-team commented on #21296
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 13:03] magento-engcom-team commented on #21296
Hi @krishprakash, here is your [Magento instance](https://i-21296-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21296-2-3-develop.instances.magento-community.engineering/admin](https://i-21296-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 13:05] krishprakash commented on #21296
![pagination](https://user-images.githubusercontent.com/46617848/52952868-ee2f1d00-33ab-11e9-9ae3-0134864fd2b5.png)

[2019-02-18 13:08] chipbizz opened #21297 "Terms and Conditions not showing in backend Magento 2.2.7"
### Preconditions (*)

1. Magento 2.2.7
2. Php 7.0.33
3.

### Steps to reproduce (*)

1. Store > Setting > Terms and Condition
2. 2\. Add New condition > save

### Expected result (*)

1. Saved conditions should be listed

### Actual result (*)

1. No conditions are shown on the Terms and Conditions page, so it's impossibile to edit or delete them
![fu](https://user-images.githubusercontent.com/39

[2019-02-18 13:08] magento-engcom-team commented on #21297
Hi @chipbizz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-18 13:11] magento-engcom-team commented on #21297
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-18 13:12] krishprakash commented on #21297
@magento-engcom-team give me 2.2-develop instance

[2019-02-18 13:12] magento-engcom-team commented on #21297
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-18 13:13] magento-engcom-team commented on #21297
Hi @krishprakash, here is your [Magento instance](https://i-21297-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21297-2-2-develop.instances.magento-community.engineering/admin](https://i-21297-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 13:23] magento-engcom-team commented on #21297
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 13:24] rogyar commented on #19647
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 13:24] magento-engcom-team commented on #19647
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 13:24] magento-engcom-team commented on #19647
Hi @rogyar, here is your [Magento instance](https://i-19647-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19647-2-3-develop.instances.magento-community.engineering/admin](https://i-19647-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 13:26] engcom-backlog-nazar commented on #21297
HI @chipbizz thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules.

[2019-02-18 13:26] #21297 closed, assigned to krishprakash

[2019-02-18 14:12] kolucciy opened #21299 "HEAD request returns 404"
### Preconditions (*)

1. Magento 2.3.0
2. HTTPS
3. Nginx

### Steps to reproduce (*)

1. Clear FPC and don't access the site
2. Run `curl -X HEAD -i https://demo1-m2.mage.direct/` or `curl -I https://demo1-m2.mage.direct/`
3. After couple of HEAD requests with response 404 the home page gets cached and after that any valid GET request returns 404 until FPC is refreshed.

### Expected result (*)

[2019-02-18 14:13] magento-engcom-team commented on #21299
Hi @kolucciy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-18 14:14] engcom-backlog-nazar commented on #21292
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 14:14] magento-engcom-team commented on #21292
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 14:15] magento-engcom-team commented on #21292
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21292-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21292-2-3-develop.instances.magento-community.engineering/admin](https://i-21292-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 14:41] engcom-backlog-nazar commented on #21292
Hi @apomili thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3-develop instance
![deepinscreenshot_select-area_20190218164042](https://user-images.githubusercontent.com/40756439/52958090-06973b80-339c-11e9-9f54-a45f6f6ef245.png)

[2019-02-18 14:48] magento-engcom-team commented on #21299
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 14:53] apomili commented on #21292
The variable in ga.phtml is passed correcty, but  when is checked in the file google-analitycs .js

(config.pageTrackingData.isAnonymizedIpActive)

the condition is always "true"

[2019-02-18 15:14] dmytro-ch commented on #20760
@magento-engcom-team give me 2.3-develop instance

[2019-02-18 15:14] magento-engcom-team commented on #20760
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-18 15:14] magento-engcom-team commented on #20760
Hi @dmytro-ch, here is your [Magento instance](https://i-20760-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20760-2-3-develop.instances.magento-community.engineering/admin](https://i-20760-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 15:14] dmytro-ch commented on #20760
@magento-engcom-team give me 2.2-develop instance

[2019-02-18 15:14] magento-engcom-team commented on #20760
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-18 15:15] magento-engcom-team commented on #20760
Hi @dmytro-ch, here is your [Magento instance](https://i-20760-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20760-2-2-develop.instances.magento-community.engineering/admin](https://i-20760-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 15:21] k4emic opened #21304 "Declarative schema: Constraint with type="index" breaks setup process on subsequent upgrades"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Use `<constraint xsi:type="index"...` in db_schema.xml
2. Run setup:upgrade twice

Sample db_schema.xml file

[code]

### Expected result (*)

1. Setup process completes with no changes detected
2.

### Actual result (*)

1. Command fails with message `PDOException: SQLSTATE[42000]: Syntax error or access violation: 1061 Dupl

[2019-02-18 15:21] magento-engcom-team commented on #21304
Hi @k4emic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-18 15:28] magento-engcom-team commented on #21304
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-18 15:28] k4emic commented on #21304
Some speculation on why this happens:

The `\Magento\Framework\Setup\Declaration\Schema\Diff\TableDiff::calculateDiff` treats indexes and constraints very differently when the diff is calculated. The example column will be added correctly at first, but subsequent runs of `setup:upgrade` will identify it (correctly) as an index instead of a constraint, which leads Magento to believe the index shoul

[2019-02-18 15:57] k4emic commented on #21304
Doing a little more research, it seems like the `<constraint>` element is too loosely defined in what it should allow.

Something like `<constraint xsi:type="table" name="my_table" />` and `<constraint />` is totally valid according to the XSD.

[code]

`<constraint>` is the only type with no `type` attribute of the three.
Something like the following could help developers choosing the right eleme

[2019-02-18 16:30] magento-engcom-team commented on #18944
Hi @supportnubix. Thank you for your report.
The issue has been fixed in magento/magento2#21262 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [f0670b6675875620a0a92c57e96d943de3eb6e1b](https://github.com/magento/magento2/commit/f0670b6675875620a0a92c57e96d943de3eb6e1b)
 - [04f6cfedfd6ec39fcbe0d8ae8ae298c2c62f734d](https://github.com/magento/magento2/commit/04f6cfedfd6ec39fcbe0d8ae

[2019-02-18 16:30] magento-engcom-team commented on #19561
Hi @nimitaemipro. Thank you for your report.
The issue has been fixed in magento/magento2#21263 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [cbf2c011a88210984dc77dda7a5ddd5a55ee72f7](https://github.com/magento/magento2/commit/cbf2c011a88210984dc77dda7a5ddd5a55ee72f7)
 - [ee8402fd25974d64c98a8da28fcbf042251b4da6](https://github.com/magento/magento2/commit/ee8402fd25974d64c98a8da2

[2019-02-18 16:30] magento-engcom-team commented on #18158
Hi @Cristiano81. Thank you for your report.
The issue has been fixed in magento/magento2#21273 by @tufahu in 2.2-develop branch
Related commit(s):
 - [4d9e6c8f946594af042c9d8eec8e82ecc63aa307](https://github.com/magento/magento2/commit/4d9e6c8f946594af042c9d8eec8e82ecc63aa307)
 - [523567461e74dd4580fe8e4e59d71aeae8191042](https://github.com/magento/magento2/commit/523567461e74dd4580fe8e4e59d71aeae

[2019-02-18 16:30] magento-engcom-team commented on #18347
Hi @benoitrenaud. Thank you for your report.
The issue has been fixed in magento/magento2#21261 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [46572afd1a9f142958207718311dad47b667d606](https://github.com/magento/magento2/commit/46572afd1a9f142958207718311dad47b667d606)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-18 16:30] magento-engcom-team commented on #20299
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20539 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [867f47465bfee044b51b621392ca3228fb803a2c](https://github.com/magento/magento2/commit/867f47465bfee044b51b621392ca3228fb803a2c)
 - [362f81fada5975a193b1a41415725cf9bdad4ef7](https://github.com/magento/magento2/commit/362f81fada5975a193b1a414

[2019-02-18 16:39] chris-huffman commented on #13690
I'm seeing the same issue, it seemed much easier to reproduce on Magento Commerce version. Seems like the easy solution is to disable "RefreshCustomerData"observer as @kpitn mentions. But the original commit message "My Wishlist control contains incorrect info after longterm session is over" doesn't give much insight into the original reason why this observer was added. I don't like just removing

[2019-02-18 16:56] magento-engcom-team commented on #21292
:white_check_mark: Confirmed by @Nazar65
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-18 19:20] magento-engcom-team commented on #21196
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#21197 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [90f6ad53585fb87aefd3b0fecf32fb03a9a3caef](https://github.com/magento/magento2/commit/90f6ad53585fb87aefd3b0fecf32fb03a9a3caef)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-18 19:20] #21196 closed, assigned to eduard13

[2019-02-18 19:20] magento-engcom-team commented on #20838
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#20839 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [b76711cfc35e2bd07b734726ad244a7054453375](https://github.com/magento/magento2/commit/b76711cfc35e2bd07b734726ad244a7054453375)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-18 19:20] #20838 closed, assigned to abrarpathan19

[2019-02-18 19:20] magento-engcom-team commented on #19485
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#19487 by @gwharton in 2.3-develop branch
Related commit(s):
 - [77a5cd1a51e376d4f02bc23dcfdee0c61f08c6a7](https://github.com/magento/magento2/commit/77a5cd1a51e376d4f02bc23dcfdee0c61f08c6a7)
 - [ff9282dca5b76a1df543c4ab8a001def4b9e9e0c](https://github.com/magento/magento2/commit/ff9282dca5b76a1df543c4ab8a001def4b

[2019-02-18 19:20] #19485 closed, assigned to nobody

[2019-02-18 19:20] magento-engcom-team commented on #19166
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#19191 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [ccba42089f1ca465cb43fc60339671db5e9a504a](https://github.com/magento/magento2/commit/ccba42089f1ca465cb43fc60339671db5e9a504a)
 - [f8a6d059fbe002e6bcc1a81ea9fdc73f069f97e2](https://github.com/magento/magento2/commit/f8a6d059fbe002e6bcc1a81ea9fdc7

[2019-02-18 19:20] #19166 closed, assigned to Nazar65

[2019-02-18 19:48] DanielRuf opened #21305 "checkDatabasePrivileges prevents install on managed hosting"
### Preconditions (*)

1. Magento 2.2.7
2.

### Steps to reproduce (*)

1. Install on a shared hosting, all the checks will fail.
2.

### Expected result (*)

1. The checks should not happen or we should be able to skip them.
2.

### Actual result (*)

1. The checks can not be skipped.
2.

[2019-02-18 19:48] magento-engcom-team commented on #21305
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-18 19:52] AleksLi commented on #13191
@danbuchal I investigated the issue very precisely. And I tried to reproduce it on Magento 2.3 version and I couldn't.
I think the logic has been changed since January 15, 2018.
Here is what I found now in ProductRepository:
<img width="915" alt="magento 2 from magento github public projects magento2source - public app code magento catalog model productrepository 2019-02-18 20-49-23" src="https://

[2019-02-18 19:58] DanielRuf opened #21306 "Do not set / recommend /admin for backend login"
### Preconditions (*)

1. https://devdocs.magento.com/guides/v2.2/install-gde/composer.html sets the backend page to `/admin`
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. A hint to use / generate a path
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-02-18 19:58] magento-engcom-team commented on #21306
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-18 20:06] DanielRuf opened #21307 "2.2.7: Configuration - Advanced - System is empty"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-02-18 20:06] magento-engcom-team commented on #21307
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-18 20:06] DanielRuf commented on #21307
@magento-engcom-team give me 2.2.7 instance

[2019-02-18 20:07] magento-engcom-team commented on #21307
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-02-18 20:07] magento-engcom-team commented on #21307
Hi @DanielRuf, here is your [Magento instance](https://i-21307-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21307-2-2-7.instances.magento-community.engineering/admin](https://i-21307-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-18 20:08] #21307 closed, assigned to nobody

[2019-02-18 20:16] scottsb commented on #18339
@ioweb-gr That is because once a block is generated, it is cached in memory and reused when it is output the second time rather than being regenerated. Hence your `uniqid()` call only runs once. The best practice is not to include the same block multiple times if it contains IDs.

[2019-02-18 20:22] scottsb commented on #18339
Note that this is an accessibility issue, as having duplicate IDs referenced by ARIA attributes, as these do, violates [WCAG 2.0 criterion 4.1.1 (level A)](https://www.w3.org/TR/UNDERSTANDING-WCAG20/ensure-compat-parses.html).

[2019-02-18 20:56] ioweb-gr commented on #18339
@scottsb I see, I understand why it's being cached but there are use cases like that. Imagine a menu that's included 3 times in the page (sticky menu, mobile menu, top menu) but using an unique ID. Creating 3 separate menu instances for this is not user friendly especially when you need to use the same menu items. There are sites with over 100 menu items and multilanguage means even more maintenan

[2019-02-18 21:50] dnesdeveloper commented on #13705
any solution?

[2019-02-18 22:19] sshymko commented on #21106
@engcom-backlog-nazar
What was the issue closed?
The issue with the `loops=1` is reproducible on vanilla Magento of any version.
Yes, there's a workaround to use `loops=2`, but the bug report is still valid.
Please reopen the ticket.

[2019-02-18 22:29] Banhawy commented on #10479
This issue also exists on Magento version 2.3 every time I do a clean installation using composer.

[2019-02-18 22:36] DanielRuf opened #21308 "htaccess for brotli not working"
### Summary (*)

I want to add the following code to my htaccess but it does not work.
https://github.com/h5bp/html5-boilerplate/blob/master/dist/.htaccess#L897-L949

Does not work in root and also not in pub.

### Examples (*)

### Proposed solution

[2019-02-18 22:36] magento-engcom-team commented on #21308
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-18 23:05] LiamKarlMitchell commented on #6688
Having this issue on Magento 2.3 via nginx.

[2019-02-18 23:15] magento-engcom-team commented on #18698
Hi @PiroozMB. Thank you for your report.
The issue has been fixed in magento/magento2#20954 by @serhiyzhovnir in 2.2-develop branch
Related commit(s):
 - [9b6ef590ed0fc95c5da7e5ebfacf5b2452dead5e](https://github.com/magento/magento2/commit/9b6ef590ed0fc95c5da7e5ebfacf5b2452dead5e)
 - [d70186b5835f4839413c283a5f319618998b762e](https://github.com/magento/magento2/commit/d70186b5835f4839413c283a5f319

[2019-02-18 23:15] magento-engcom-team commented on #20755
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20781 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [7383946a868dbe8c36ffeb1605097addfb08a2f5](https://github.com/magento/magento2/commit/7383946a868dbe8c36ffeb1605097addfb08a2f5)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-18 23:15] magento-engcom-team commented on #18525
Hi @vetshopdeveloper. Thank you for your report.
The issue has been fixed in magento/magento2#21164 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [11cafc3ce9b662ab0ea871c36761f59565343a37](https://github.com/magento/magento2/commit/11cafc3ce9b662ab0ea871c36761f59565343a37)
 - [c1f3f36b38b45fe94b54de7ec4785395a6c326b9](https://github.com/magento/magento2/commit/c1f3f36b38b45fe94b54de7

[2019-02-18 23:38] LiamKarlMitchell commented on #802
Not working.

[2019-02-19 00:15] magento-engcom-team commented on #21177
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#21178 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [e434bb1c67f48c5f6169103dd50e23b3c56a8713](https://github.com/magento/magento2/commit/e434bb1c67f48c5f6169103dd50e23b3c56a8713)
 - [53284040760ef6993c6554b96d716a964312a4e5](https://github.com/magento/magento2/commit/53284040760ef6993c6554b96d716a96

[2019-02-19 00:15] #21177 closed, assigned to abrarpathan19

[2019-02-19 00:15] magento-engcom-team commented on #5021
Hi @vphat28. Thank you for your report.
The issue has been fixed in magento/magento2#19505 by @vovsky in 2.3-develop branch
Related commit(s):
 - [2360efd5e6854488c5e23a985249a5ab68221acf](https://github.com/magento/magento2/commit/2360efd5e6854488c5e23a985249a5ab68221acf)
 - [9ab59dc70e1ee7b51a931979cdcfc5fa0fc6d5d3](https://github.com/magento/magento2/commit/9ab59dc70e1ee7b51a931979cdcfc5fa0fc6d

[2019-02-19 01:05] HirokazuNishi commented on #21274
@engcom-backlog-nazar yes, this issue only happened on schedule reindex. Manual reindex from bin/magento can finish without any errors.

[2019-02-19 01:57] magento-engcom-team commented on #14134
Hi @rav-redchamps. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-19 02:19] Zyles commented on #13823
I have this issue in 2.3.0 with PHP 7.1.

If i set Anchor to "No" and I click it in the left category filter I get"Exception #0 (Magento\Framework\Exception\StateException): The bucket doesn't exist." error.

[2019-02-19 05:15] Zyles opened #21316 "Widget positions using rule engine"
### Description (*)

Why is the widget rule options not fully integrated like other parts of the admin? The support and technology is there, yet it is not possible to utilize it fully.

In "Widget options" using "CMS Static Block" the conditions rule engine is not visible/functional.

### Expected behavior (*)

Be able to use the rule based engine to more specifically say where a widget can go.

F

[2019-02-19 05:15] magento-engcom-team commented on #21316
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-19 06:04] Zyles commented on #21244
I am having the same issue with related products and cross sells grid. It is wrapping the product list too early causing white space.

Can you please have a look.

[2019-02-19 06:04] Zyles commented on #20140
I am having the same issue with related products and cross sells grid. It is wrapping the product list too early causing white space.

Can you please have a look.

[2019-02-19 06:12] R-K-Shrivastaw commented on #19795
Hi, I am using the magento 2.3 developement, On creating a new user I am getting the error like this:
`{"0":"Deprecated Functionality: idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated in \/home\/ccadministrator\/public_html\/ANGEL\/vendor\/zendframework\/zend-validator\/src\/EmailAddress.php on line 560","1":"#0 [internal function]: Magento\\Framework\\App\\ErrorHandler->handler(8192, 'idn_to_

[2019-02-19 06:25] dharake commented on #12124
**FOR GOOGLE CLOUD SQL USERS**

I'm trying to migrate a 2.3 CE database to Google Cloud SQL on a 2nd gen server. Upon reindexing I get the "violates GTID consistency" error for the Product EAV index.

There's little info on the forums so far, so thought I'd contribute my findings.

1. Forget about the module (https://github.com/bangerkuwranger/Magento-2-GTID-Safe-URL-Rewrite-Tables), the guy made

[2019-02-19 07:01] terrybakshi commented on #19127
This issue still exist in 2.2.7 not fixed in 2.2.7

[2019-02-19 07:33] magento-engcom-team commented on #21305
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 07:33] magento-engcom-team commented on #21306
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 07:33] magento-engcom-team commented on #21308
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 07:33] magento-engcom-team commented on #21316
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 07:42] k4emic opened #21322 "Declarative schema: Omitting indexType throws exception"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Add any module with the below db_schema.xml contents
2. Run `php bin/magento setup:upgrade` multiple times

[code]
### Expected result (*)

1. Index is created on first run
2. Subsequent runs results in no modifications

### Actual result (*)

1. Index is created on first run
2. Subsequent runs will throw an exception: `PDOEx

[2019-02-19 07:43] magento-engcom-team commented on #21322
Hi @k4emic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-19 07:46] magento-engcom-team commented on #21322
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 07:47] engcom-backlog-nazar commented on #21322
Hi @k4emic hi thank you for you report,  please open issue here ->https://github.com/magento-engcom/msi

[2019-02-19 07:49] k4emic commented on #21322
Hi @engcom-backlog-nazar
The MSI component is simply used as an example here, adding an index to any table/column will result in this bug.

[2019-02-19 07:53] k4emic commented on #21322
Digging a bit into the code, this happens because the two compared elements (generated index and existing index) uses two different casings for "btree" in their dataset: https://cl.ly/f1b0ca1d4e8f/Image%202019-02-19%20at%208.50.19%20AM.png

`\Magento\Framework\Setup\Declaration\Schema\Dto\Factories\Index::DEFAULT_INDEX_TYPE` is set to "BTREE". Changing it to lowercase resolves the problem.

[2019-02-19 07:59] magento-engcom-team commented on #21299
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98314` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-19 08:06] magento-engcom-team commented on #21322
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98315` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-19 08:14] magento-engcom-team commented on #21296
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-19 08:18] magento-engcom-team commented on #21296
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98316` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-19 08:20] dmytro-ch commented on #21296
Please note, the issue is not reproducible on `2.2-develop` branch.

[2019-02-19 08:28] Rafiqul-Islam-Rafiq commented on #12679
![error](https://user-images.githubusercontent.com/5735168/53000327-49b3e600-3452-11e9-9638-73a502c43e24.png)

I am having the same problem after upgrading to magento 2.2.7

[2019-02-19 08:31] craigcarnell commented on #20571
@engcom-backlog-nazar This is a major bug, can I please have an update?

[2019-02-19 08:49] terrybakshi commented on #19127
@vovayatsyuk This issue still exist in 2.2.7 not fixed in 2.2.7 is there a patch for this as well, i check they will fix the issue in 2.2.8 but how can we update magento to 2.2.8 if web setup wizard is not working

[2019-02-19 08:56] vovayatsyuk commented on #19127
@terrybakshi you can try to update Magento via command line interface.

The link to the patch that fixes the issue is mentioned in https://github.com/magento/magento2/issues/19127#issuecomment-443242863.

[View patch](https://github.com/magento/magento2/commit/ebe4af7f2b210b33cba727b10f6321746a071956).

[2019-02-19 09:11] engcom-backlog-nazar commented on #21306
HI @DanielRuf thank you for you report, if you want to use generated admin url, just not set on install, and you will have generated url like this ->`"admin_jkhgdfq"`

[2019-02-19 09:47] engcom-backlog-nazar commented on #21316
Hi  @Zyles   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-19 09:47] #21316 closed, assigned to nobody

[2019-02-19 09:59] asim-vax opened #21326 "safari ad blocker checkout doesn't load - GA enabled"
### Preconditions (*)
1. php7.0-7.2
2. mysql
3. magento 2.2.6 & magento 2.3

### Steps to reproduce (*)
1. vanilla install
2. create test product
3. enable GA in stores -> config -> sales -> Google API
4. use safari
5. add test product to basket
6. enable ublock origin, visit checkout
7. infinite loader
8. disable ublock origin, reload page
9. checkout works

This was fixed for majority of browser

[2019-02-19 09:59] magento-engcom-team commented on #21326
Hi @asim-vax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-19 10:00] asim-vax commented on #21326
@magento-engcom-team give me 2.3-develop instance

[2019-02-19 10:00] magento-engcom-team commented on #21326
Hi @asim-vax. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-19 10:01] magento-engcom-team commented on #21326
Hi @asim-vax, here is your [Magento instance](https://i-21326-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21326-2-3-develop.instances.magento-community.engineering/admin](https://i-21326-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-19 10:03] SyntaxKay opened #21327 "Checkout Page Cancel button is not working"
### Preconditions (*)

1.Magento 2.3 Develop

### Steps to reproduce (*)

1. Add any virtual product to cart from front -> Proceed to checkout
2. Click on Cancel Button.

### Expected result (*)

1.There should be some action by clicking on cancel button

### Actual result (*)

 ![actual result](https://user-images.githubusercontent.com/33230237/53006556-6dc7f500-345b-11e9-95ef-89e5bb5f0284.png)
1

[2019-02-19 10:03] magento-engcom-team commented on #21327
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-19 10:03] magento-engcom-team commented on #21327
Hi @jignesh26. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-19 10:04] magento-engcom-team commented on #21327
:white_check_mark: Confirmed by @jignesh26
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-19 10:05] magento-engcom-team commented on #21326
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 10:06] magento-engcom-team commented on #21327
Hi @jignesh26. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-19 10:07] magento-engcom-team commented on #21327
:white_check_mark: Confirmed by @jignesh26
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-19 10:10] engcom-backlog-nazar commented on #21308
Hi @DanielRuf
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-19 10:10] #21308 closed, assigned to nobody

[2019-02-19 10:12] magento-engcom-team commented on #21327
Hi @jignesh26. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-19 10:12] magento-engcom-team commented on #21327
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-19 10:13] krishprakash commented on #21327
@magento-engcom-team give me 2.3-develop instance

[2019-02-19 10:14] magento-engcom-team commented on #21327
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-19 10:14] magento-engcom-team commented on #21327
Hi @krishprakash, here is your [Magento instance](https://i-21327-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21327-2-3-develop.instances.magento-community.engineering/admin](https://i-21327-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-19 10:14] asim-vax commented on #21326
I can confirm i can reproduct this issue on the 2.3 vanilla instance generated

[2019-02-19 10:15] engcom-backlog-nazar commented on #21106
@sshymko so how we can fix this in magento ? if problem not in  magento codebase ?

[2019-02-19 10:18] pmouawad commented on #21106
@engcom-backlog-nazar, maybe you should open another issue to fix issues in test plan.

See https://github.com/magento/magento2/issues/21106#issuecomment-462465899 and other performance issues.

Thanks

[2019-02-19 10:20] asim-vax commented on #21326
Also, as a sidenote - your SSL cert is invalid, meaning some browsers reject it

[2019-02-19 10:26] engcom-backlog-nazar commented on #21106
Hi @pmouawad thanks as this file located in setup module we can leave this issue here, thanks for explanation

[2019-02-19 10:34] jignesh26 commented on #21327
this issue is related to virtual product, when you dont have shipping information at that time cancel button is not working.

[2019-02-19 10:41] wessel-techtribe-nl commented on #19739
The manufacturer row was missing in eav_attribute in our  installation so we did the following:

`

INSERT INTO `eav_attribute` (`attribute_id`, `entity_type_id`, `attribute_code`, `attribute_model`, `backend_model`, `backend_type`, `backend_table`, `frontend_model`, `frontend_input`, `frontend_label`, `frontend_class`, `source_model`, `is_required`, `is_user_defined`, `default_value`, `is_unique`

[2019-02-19 10:42] AnshuMishra17 opened #21329 "URL Rewrites are overwritten"
### Preconditions (*)
I am able to reproduce the issue of the following Magento Open Source version
1. 2.2.6
2. 2.2.7

### Steps to reproduce (*)
1. Add multiple websites, for example I have three websites, each website has its own store and corresponding store view.
![step1](https://user-images.githubusercontent.com/3141554/53007841-1414fa00-345e-11e9-875f-522a811771cf.png)
2. Go to Catalog -> Pr

[2019-02-19 10:42] magento-engcom-team commented on #21329
Hi @AnshuMishra17. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-19 10:44] magento-engcom-team commented on #21327
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-19 10:46] DanielRuf commented on #21306
Sure but shouldn't it be the same in the docs? Because in the docs we set `admin` for the url which is not really great.

[2019-02-19 10:51] engcom-backlog-nazar commented on #21306
@DanielRuf ahhh..  ok. but maybe we open issue on devdocs ?

[2019-02-19 11:09] rauwebieten commented on #18383
We had the same problem. Turns out to be missing shipment data from a migration. This caused some shipment id's to be used twice... We fixed our db-data, and the problem was gone.

[2019-02-19 11:11] matthiashamacher opened #21332 "Attribute code is invalid"
### Preconditions (*)

1. Magento Version: 2.3.0

### Steps to reproduce (*)

1. Add an attribute with attribute code longer than 31 characters i.e. "farbmuster_blankleder_futterleder"
2. Try to save the attribute

### Expected result (*)

1. The attribute should be saved
2. No errors should be shown

### Actual result (*)

1. An error message is being shown `Attribute code "farbmuster_blankleder_

[2019-02-19 11:12] magento-engcom-team commented on #21332
Hi @matthiashamacher. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-02-19 11:18] engcom-backlog-nazar commented on #21332
HI @matthiashamacher thank you for you report, i'm closing this as duplicate to this one -> https://github.com/magento/magento2/issues/20766

[2019-02-19 11:18] #21332 closed, assigned to nobody

[2019-02-19 11:51] magento-engcom-team commented on #21329
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-19 12:10] larsroettig opened #21334 "[Performance] Redis has more Network Traffic"
### Preconditions (*)

1.  Install Magento 2.1.15  with  ```bin/magento setup:perf:generate-fixtures ./setup/performance-toolkit/profiles/ee/medium.xml ```
2. Install Magento 2.1.8  with  ```bin/magento setup:perf:generate-fixtures ./setup/performance-toolkit/profiles/ee/medium.xml ```
3. Setup redis for config and caching

### Steps to reproduce (*)

1. bin/Magento  c:f
2. Profile https://2.1.15.

[2019-02-19 12:11] magento-engcom-team commented on #21334
Hi @larsroettig. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-19 12:23] devamitbera commented on #10088
i have two solutions to this  issue

Solution 1: remove children from data provider (edited)
means remove public function getChildren(); method from  https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Api/Data/CategoryInterface.php#L137

[2019-02-19 12:24] devamitbera commented on #10088
f I will implement second  option
Then there are 3 scenario where the behavior of the API is confusing
So, can you please discussion with magneto  core team about the above 3 scenarios
And can confirm the behavior

[2019-02-19 12:26] magento-engcom-team commented on #21304
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98318` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-19 12:45] narendravyas24 commented on #12390
Fix mentioned here:
[](https://magento.stackexchange.com/questions/148454/shipping-address-missing-on-payment-page-refresh)
Worked perfectly for me.
Although we are in need of a best solution.

[2019-02-19 13:20] Nazar65 commented on #21193
HI @theodorhanu your issue fixed in this PR -> https://github.com/magento/magento2/pull/20891

[2019-02-19 13:26] DanielRuf commented on #21306
Sounds good. Let me do this now. I'll close this issue here then.

[2019-02-19 13:28] DanielRuf commented on #21306
https://github.com/magento/devdocs/issues/3772

[2019-02-19 13:28] #21306 closed, assigned to nobody

[2019-02-19 13:33] theodorhanu commented on #21193
Hi @Nazar65

Thanks for the update.
Is there any chance that you can provide/know an estimate release date for a magento 2.3.(1?) version, which includes these fixes?

[2019-02-19 13:34] Nazar65 commented on #21193
@theodorhanu on 2.3.2 release

[2019-02-19 13:36] scottsb commented on #18339
@ioweb-gr Right, you don't want to have to manually reproduce the same block completely separately. As I understand it, when included via layout XML with two different names a block should not be reused from the in-memory cache. I'm not sure why you were seeing that.

This particular case is unusual, though, as the block is not included using normal layout XML practices. There is a block in the la

[2019-02-19 13:44] BrockleyJohn commented on #19716
Anyone got a workaround? Client has a newly acquired 2.2.6 store and can't edit the manufacturer attribute on newly added products, while ones that were created before upgrade are fine.

[2019-02-19 13:45] rykiplov commented on #4921
The problem still exist if you turn on js bundling. Does anyone have solution which works with turned on js bundling?

[2019-02-19 14:22] honza-pavlik commented on #19307
Hi all,
is there any progress? Plans?

[2019-02-19 15:23] adnnor opened #21336 "Store credit is not removing from the order totals - Magento commerce 2.3"
Pardon me if it is not appropriate place to put Magento Commerce 2.3 related bugs here.

### Preconditions (*)

1. Vanilla Magento Commerce 2.3.
2. Ubuntu 18.04 LTS.
3. Chrome Version 72.0.3626.96 (Official Build) (64-bit)

### Steps to reproduce (*)

1. Register a new account from the storefront e.g. john@example.com
2. From Magento admin, update the Store Credit to 100 for john@example.com
3. On

[2019-02-19 15:26] magento-engcom-team commented on #21336
Hi @adnnor. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-19 15:30] Axel29 commented on #16939
Hello,

This fix should have been present since 2.2.8 but I can't see it in 2.3.0.

[2019-02-19 15:36] adnnor commented on #21336
Yes, I confirm. I am able to reproduce the issue on vanilla Magento Commerce 2.3 following steps I mentioned in the report.

[2019-02-19 16:14] shikhamis11 commented on #21327
@magento-engcom-team give me 2.2-develop instance

[2019-02-19 16:14] magento-engcom-team commented on #21327
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-19 16:15] magento-engcom-team commented on #21327
Hi @shikhamis11, here is your [Magento instance](https://i-21327-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21327-2-2-develop.instances.magento-community.engineering/admin](https://i-21327-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-19 16:15] jeffminor commented on #20966
This is a HUGE issue for us as well. We have 2 store views with 480,xxx skus. Indexing of catalogsearch_fulltext for elasticsearch 5.2.2 went from approximately 60 minutes on 2.2.5 (enterprise edition) to 89+ hours on 2.3. We cannot go to production with this. How could this have been released (especially for enterprise customers) with this large an issue in it?

[2019-02-19 16:23] magento-engcom-team commented on #21327
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98322`, `MAGETWO-98323` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-19 16:32] craigcarnell commented on #13773
Can confirm this bug.

In sales_order_grid and sales_order I have a created_at time of 2019-02-19 15:43:19

But in the admin I have:

Feb 19, 2019, 15:02:00 PM

Timezone is Europe/London.

[2019-02-19 17:03] med-amin commented on #5728
me too i have the same issue every thing is filled up

[2019-02-19 17:25] magento-engcom-team commented on #21196
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#21320 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [1e4055d7e734be1cf69312a40147a68c5183e1bc](https://github.com/magento/magento2/commit/1e4055d7e734be1cf69312a40147a68c5183e1bc)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-19 17:25] magento-engcom-team commented on #18775
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#21229 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [079d5d5f99f1cd6db5d03fb1adba3e685fd3b8f9](https://github.com/magento/magento2/commit/079d5d5f99f1cd6db5d03fb1adba3e685fd3b8f9)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-19 17:25] magento-engcom-team commented on #20760
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21173 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [e9102ecb206fd19b73493b0f7e1e00dbc92d661f](https://github.com/magento/magento2/commit/e9102ecb206fd19b73493b0f7e1e00dbc92d661f)
 - [17d416a1d0fda6d3d2cc8730198d354a56ce4923](https://github.com/magento/magento2/commit/17d416a1d0fda6d3d2c

[2019-02-19 17:25] magento-engcom-team commented on #20163
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20370 by @dipti2jcommerce in 2.2-develop branch
Related commit(s):
 - [c874bf5176c292b13e403724cb91a7d7ebc40fc6](https://github.com/magento/magento2/commit/c874bf5176c292b13e403724cb91a7d7ebc40fc6)
 - [9f1a322c239f940457b30ceadf137628651e04ad](https://github.com/magento/magento2/commit/9f1a322c239f940457b3

[2019-02-19 17:54] ralbin opened #21339 "Gift Cards are not automatically generated if payment is auth and capture at the same time"
We noticed that gift cards were not being generated any longer after an upgrade from 2.25 to 2.2.7.
After some research here is what I uncovered:

Due to a timing issue on the event observers, the vendor/magento/module-gift-card/Observer/GenerateGiftCardAccountsInvoice.php:110 $invoiceItem->getOrderItemId() is null
when it should be the order item id, therefore the validation fails and the qty sho

[2019-02-19 17:56] magento-engcom-team commented on #21339
Hi @ralbin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-19 17:57] dmytro-ch commented on #21255
The issue has been fixed in scope of #20237.
Thank you!

[2019-02-19 17:58] ralbin commented on #21339
Yes, I validated this on vanilla install of 2.2.7.

Yes, I was able to validate this on vanilla 2.2.7

[2019-02-19 17:59] magento-engcom-team commented on #21339
Hi @ralbin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-19 18:00] magento-engcom-team commented on #21339
Hi @ralbin, here is your [Magento instance](https://i-21339-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21339-2-3-develop.instances.magento-community.engineering/admin](https://i-21339-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-19 18:01] magento-engcom-team commented on #21339
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-19 18:02] magento-engcom-team commented on #21336
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-19 18:07] sunilit42 commented on #20478
@Vinai  can i implement using section method?

get data from customer section and display it?

[2019-02-19 18:08] sunilit42 commented on #21327
@magento-engcom-team give me 2.3-develop instance

[2019-02-19 18:08] magento-engcom-team commented on #21327
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-19 18:09] magento-engcom-team commented on #21327
Hi @sunilit42, here is your [Magento instance](https://i-21327-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21327-2-3-develop.instances.magento-community.engineering/admin](https://i-21327-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-19 18:12] kandy commented on #21334
@larsroettig, I agree that increasing of data stored in the cache is bad behavior.
But we decided on it due to security and performance reason.
Do you think there a way how to better implement it?

[2019-02-19 18:26] valdislav commented on #17618
It is nature of this key, one way or another the key which passing in request validates with a key related to customer cookie (customer either have a sessionId or form_key in a cookie). So because there is no way to set cookie restricted to site domain in customer browser who is attacked I do not think it is a bug.

[2019-02-19 18:28] larsroettig commented on #21334
Hi @kandy,
most Redis clusters are behind a Firewall I understand the point with security. Because if the Redis Content for whatever reason is stolen passwords are not encrypted.

A private ```$cache``` can help because it is a singleton object for a checkout site you ask 5 times Redis what is the config for this one request.

Maybe we can spilt the config by ```obscure``` than it will be not so w

[2019-02-19 19:04] MichaelThessel commented on #21205
@hostep, thanks, that totally makes sense now. Much appreciated!

[2019-02-19 19:11] sshymko commented on #21106
@engcom-backlog-nazar
JMeter JMX file is in the Magento codebase and it's implemented in such a way that it's impossible to run scenarios once (loops = 1). The fix should be in the JMX logic. It could be as dirty as `if (loops = 1) loops = loops + 1`. From the user standpoint, all input parameters should behave as intended.

[2019-02-19 20:00] ralbin commented on #21339
Here is a patch that I have, its a small change from the original one I provided, I needed a few small changes for it to work as expected, and I just tested it on a cloud integration environment.

Hopefully it can help!

[174746-gift-cards-observer.patch-v2.zip](https://github.com/magento/magento2/files/2881786/174746-gift-cards-observer.patch-v2.zip)

[2019-02-19 21:09] hostep commented on #19716
@BrockleyJohn points to the correct comment(s) indeed.

But this isn't a bug as far as I can see.

I just did some testing, with Magento 2.2.5, the `apply_to` column for the `manufacturer` attribute in the `catalog_eav_attribute` table in the database only has the value `simple`.

After upgrading to Magento 2.2.6, the `apply_to` value becomes `simple,configurable`.

If somehow this `apply_to` colu

[2019-02-19 21:44] miquelmauri opened #21342 "Order email sender not working magento 2.3"
### Preconditions (*)

1. magento version 2.3.0

### Steps to reproduce (*)

1. send order email

### Expected result (*)

1. email sender uses defined sales representative sender name and email

### Actual result (*)

1. host user email used

[2019-02-19 21:44] magento-engcom-team commented on #21342
Hi @miquelmauri. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-19 21:50] miquelmauri commented on #21342
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-02-19 21:50] magento-engcom-team commented on #21342
Hi @miquelmauri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-19 21:51] magento-engcom-team commented on #21342
Hi @miquelmauri, here is your [Magento instance](https://i-21342-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21342-2-3-develop.instances.magento-community.engineering/admin](https://i-21342-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-19 22:23] magento-engcom-team commented on #20969
Hi @k4emic. Thank you for your report.
The issue has been fixed in magento/magento2#20971 by @k4emic in 2.3-develop branch
Related commit(s):
 - [c5c5e418e0af9a685c12fe7800477038882ed7c8](https://github.com/magento/magento2/commit/c5c5e418e0af9a685c12fe7800477038882ed7c8)
 - [77b0ae817bdda6a3a76be0a4ccfab2a394a6bea1](https://github.com/magento/magento2/commit/77b0ae817bdda6a3a76be0a4ccfab2a394a6be

[2019-02-19 22:23] #20969 closed, assigned to nobody

[2019-02-19 23:28] verdde commented on #21204
@engcom-backlog-nazar

Could you please explain how you did the translation ? Did you tested on multiple store views for a specific language/locale ?

I've everything i knew/could and it still doesn't work.

I would greatly appreciate it.

Thank you !

[2019-02-20 00:30] magento-engcom-team commented on #21271
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#21272 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [9c4554cd574505f6f15258d594e6721b89bf004b](https://github.com/magento/magento2/commit/9c4554cd574505f6f15258d594e6721b89bf004b)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-20 00:30] #21271 closed, assigned to shikhamis11

[2019-02-20 00:30] magento-engcom-team commented on #14882
Hi @domeglic. Thank you for your report.
The issue has been fixed in magento/magento2#20617 by @lisovyievhenii in 2.3-develop branch
Related commit(s):
 - [eb0653c69918a8381f6f22b9bc4eb316feba6a36](https://github.com/magento/magento2/commit/eb0653c69918a8381f6f22b9bc4eb316feba6a36)
 - [9948dfeae767d48375058758919f13a1def1153b](https://github.com/magento/magento2/commit/9948dfeae767d48375058758919f

[2019-02-20 00:30] #14882 closed, assigned to lisovyievhenii

[2019-02-20 00:31] ghost opened #21343 "How to create identifier for checkout?"
Hi!

Long story short:

I have a PWA webshop where I am using Magento 2 as a backend through rest API.

I am calling out Magento CMS pages by identifiers, same with static blocks. Works perfectly.

But, I intend to embed Magento checkout on my PWA. I can not just embed this, as it would probably be the easiest option, but embedding it does expose the checkout to some security concerns I am not dee

[2019-02-20 00:31] magento-engcom-team commented on #21343
Hi @Decntdefalt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-20 00:36] Decntdefalt commented on #21343
This has nothing to do with Magento issues, it is a feature idea discussion. If you're not willing to discuss features for external PWA than I believe in few years that you will be outnumbered by the number of competitors that do understand the important principle of integrating CMS with external PWAs.

[2019-02-20 03:57] magento-engcom-team commented on #21329
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-20 05:08] AnshuMishra17 opened #21348 "URL rewrites removal issue while removing product from website from product edit mass action"
### Preconditions (*)
I am able to reproduce the issue on Magento Open Source 2.2.7

### Steps to reproduce (*)
1. Add multiple websites, for example I have three websites, each website has its own store and corresponding store view.
![step1](https://user-images.githubusercontent.com/3141554/53067636-0feaea00-34fb-11e9-8354-1fcfc1c86408.png)
2. Go to Catalog -> Product -> select any product and ed

[2019-02-20 05:08] magento-engcom-team commented on #21348
Hi @AnshuMishra17. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-20 06:17] dmytro-ch commented on #20838
@magento-engcom-team give me 2.2-develop instance

[2019-02-20 06:17] magento-engcom-team commented on #20838
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-20 06:17] magento-engcom-team commented on #20838
Hi @dmytro-ch, here is your [Magento instance](https://i-20838-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20838-2-2-develop.instances.magento-community.engineering/admin](https://i-20838-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 07:31] magento-engcom-team commented on #12053
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-20 07:37] magento-engcom-team commented on #21348
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 07:37] magento-engcom-team commented on #21343
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 07:39] engcom-backlog-nazar commented on #21348
Hi @AnshuMishra17 thank you for you report i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/21329

[2019-02-20 07:39] #21348 closed, assigned to nobody

[2019-02-20 07:40] #21343 closed, assigned to nobody

[2019-02-20 07:41] magento-engcom-team commented on #21342
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 07:42] magento-engcom-team commented on #21336
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 07:42] engcom-backlog-nazar commented on #21336
Hi @adnnor  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-02-20 07:42] #21336 closed, assigned to nobody

[2019-02-20 07:43] magento-engcom-team commented on #21339
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 07:45] magento-engcom-team commented on #21329
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98330`, `MAGETWO-98331` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-20 07:52] engcom-backlog-nazar commented on #21277
Hi  @geerlingguy    thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-20 07:52] #21277 closed, assigned to nobody

[2019-02-20 07:55] AnshuMishra17 commented on #21348
@engcom-backlog-nazar How it is duplicate #21329?
#21329 is while we are adding to a website using mass action.
This one is while we are removing the website using mass action.
These are two different cases.

[2019-02-20 07:58] engcom-backlog-nazar commented on #21348
@AnshuMishra17, this problem related to mass action, so just add additional description to your first issue and this also will be fixed.

[2019-02-20 08:01] engcom-backlog-nazar commented on #21342
HI @miquelmauri thank you for you report, i'm not able to reproduce following steps you described, this may be related to your server configuration.
![deepinscreenshot_select-area_20190220100005](https://user-images.githubusercontent.com/40756439/53075670-6ace1280-34f6-11e9-9732-b2e18783ff8a.png)

[2019-02-20 08:01] #21342 closed, assigned to nobody

[2019-02-20 08:03] AnshuMishra17 commented on #21348
@engcom-backlog-nazar I just saw that you have already referenced this issue on #21329. So, I am assuming this will also be considered while working on #21329

[2019-02-20 08:10] fabianaromagnoli opened #21349 "Magento 2.2.7 - Cannot create attribute option via Rest API"
### Preconditions
1. Magento 2.2.7 (But it was experienced also on 2.2.5)
2.PHP 7.1

### Steps to reproduce
1. Setup a fresh installation of Magento 2.2.7
2. Login to admin
3. Create a new product attribute, with type dropdown (leave all other fields default)
4. Create 2 options for this attribute: one with admin label **0** and the other one with admin label **00**, like this:
![attribute](https:

[2019-02-20 08:10] magento-engcom-team commented on #21349
Hi @fabianaromagnoli. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-02-20 08:18] magento-engcom-team commented on #21349
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 08:24] engcom-backlog-nazar commented on #21349
Hi @fabianaromagnoli thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release
![deepinscreenshot_select-area_20190220102242](https://user-images.githubusercontent.com/40756439/53077000-b7ffb380-34f9-11e9-82d0-154d5db701e7.png)
![deepinscreenshot_select-area_20190220102248](https://user-images.githubusercontent.com/40756439/53077001-b7ffb38

[2019-02-20 08:24] #21349 closed, assigned to nobody

[2019-02-20 08:48] magento-engcom-team commented on #21106
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98332`, `MAGETWO-98333` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-20 09:51] paul-gene commented on #5201
I'm having this issue after pulling down a project. After running `composer install`, I can run `bin/magento` but the cache commands are not available.

[2019-02-20 09:55] magentopits opened #21352 "Product name not changing in cart and mincart after language switch in Magento 2.2.6"
### Preconditions

1. Magento 2.2.6
2. PHP 7.1.9
3. MySQL 5.7.19
4. Ubuntu 16.04.5 LTS

### Steps to reproduce
1. Login to admin.

2. Create a product with names PRODUCT-NAME-ENGLISH and PRODUCT-NAME-GERMAN for languages ENGLISH and GERMAN respectively.

3. Go to front-end and switch language to ENGLISH.

3. Go to the product category page or product detail page and add product to cart.

4. Go to

[2019-02-20 09:55] magento-engcom-team commented on #21352
Hi @magentopits. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-20 10:06] mageprince opened #21353 "On checkout page coupon code validation message break when enter coupon like "test/""
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Create a new Cart Price Rule from _Admin > Marketing > Cart Price Rule_
2. Select the next setting and value
-- **Coupon = Specific Coupon**
-- **Coupon Code = test/**
3. Go to Storefront as Guest or Registered user
4. Add test product to Shopping Cart
5. Go to Shopping Cart page
6. Click "Apply Discount Code" and apply coupon

[2019-02-20 10:06] magento-engcom-team commented on #21353
Hi @mageprince. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-20 10:06] magento-engcom-team commented on #21353
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-20 10:08] krishprakash commented on #21353
@magento-engcom-team give me 2.3-develop instance

[2019-02-20 10:08] magento-engcom-team commented on #21353
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-20 10:09] magento-engcom-team commented on #21353
Hi @krishprakash, here is your [Magento instance](https://i-21353-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21353-2-3-develop.instances.magento-community.engineering/admin](https://i-21353-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 10:18] magentopits opened #21355 "Minicart subtotal is zero after login in Magento 2.2.6"
### Preconditions

1. Magento 2.2.6
2. PHP 7.1.9
3. MySQL 5.7.19
4. Ubuntu 16.04.5 LTS

### Steps to reproduce
1. Login as customer.

2. Clear everything from cart.

3. Logout customer.

3. Go to the product category page or product detail page and add a product to cart.

4. Login as customer.

### Expected result

1. Subtotal will be displayed correctly in mini-cart.

### Actual result

1. Subtot

[2019-02-20 10:19] magento-engcom-team commented on #21355
Hi @magentopits. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-20 10:21] magento-engcom-team commented on #21355
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 10:28] magento-engcom-team commented on #21352
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 10:32] Akki-8388 commented on #7350
getting same issue any one have solution

[2019-02-20 10:52] eduard13 commented on #14992
Hi @iuwqyir , could you provide the way how you add the form to checkout page? I wasn't able to reproduce after adding a new form on shipping step.
![xnip2019-02-20_12-50-03](https://user-images.githubusercontent.com/15868188/53086615-1c2c7280-350e-11e9-8fc8-86a98a7f0b0f.jpg)
So could you please provide more details regarding this issue?
Feel free to reopen the issue once you have some additional

[2019-02-20 10:52] #14992 closed, assigned to nobody

[2019-02-20 11:10] miquelmauri commented on #21342
No changes to host configuration between 2.2.6 and 2.3.0. I upgraded to 2.3.0 in new folder and if I activate 2.2.6 again, mail sender is working fine...

[2019-02-20 11:56] engcom-backlog-nazar commented on #21355
Hi @magentopits thank you for the report, this issue is already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-20 11:56] #21355 closed, assigned to nobody

[2019-02-20 12:00] magentopits commented on #21355
Hi

Is there any patch or commits available for this fix?

[2019-02-20 12:09] mageprince opened #21359 "Search with long string display horizontal scroll in front end"
### Preconditions (*)

1. Magento 2.3.x
2. Magento 2.2.x

### Steps to reproduce (*)

1. Front end: Search with long string like (test4234gdfgdf34467676474747474676647747475754754745745744757745)
2. See the horizontal scroll

### Expected result (*)

![search results for test4234gdfgdf34467676474747474676647747475754754745745744757745](https://user-images.githubusercontent.com/24751863/53090633-0a

[2019-02-20 12:09] magento-engcom-team commented on #21359
Hi @mageprince. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-20 12:09] magento-engcom-team commented on #21359
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-20 12:11] krishprakash commented on #21359
@magento-engcom-team give me 2.3-develop instance

[2019-02-20 12:11] magento-engcom-team commented on #21359
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-20 12:12] magento-engcom-team commented on #21359
Hi @krishprakash, here is your [Magento instance](https://i-21359-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21359-2-3-develop.instances.magento-community.engineering/admin](https://i-21359-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 12:14] krishprakash commented on #21359
@magento-engcom-team give me 2.2-develop instance

[2019-02-20 12:14] magento-engcom-team commented on #21359
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-20 12:15] magento-engcom-team commented on #21359
Hi @krishprakash, here is your [Magento instance](https://i-21359-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21359-2-2-develop.instances.magento-community.engineering/admin](https://i-21359-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 12:28] hypershopbv commented on #13440
@rou9e thanks for your solution. It works. However, for boolean or select attributes it shows the options twice, with same values. Any suggestion for this?

[2019-02-20 12:45] tr33m4n commented on #16419
For reference, here's a guide on migrating away from Froogaloop, I'd imagine this would need to be applied to the Vimeo player functionality https://github.com/vimeo/player.js/blob/master/docs/migrate-from-froogaloop.md

[2019-02-20 12:46] tr33m4n commented on #16419
My bad, clicked the close button by accident

[2019-02-20 12:47] zimme opened #21361 "Bestsellers collection is using ratingLimit as sql select limit"
### Summary (*)

1. 2.2.6, but looking in the 2.3-develop branch it seems to have the same bug.

### Examples (*)
[Here](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/ResourceModel/Report/Bestsellers/Collection.php#L136) and [here](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/ResourceModel/Report/Bestsellers/Collection.php#L1

[2019-02-20 12:47] magento-engcom-team commented on #21361
Hi @zimme. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-20 13:14] engcom-backlog-nazar commented on #21352
Hi @magentopits thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-20 13:14] #21352 closed, assigned to nobody

[2019-02-20 13:15] magento-engcom-team commented on #21231
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-02-20 13:15] magento-engcom-team commented on #21361
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-20 13:24] ameshca opened #21362 "Discount applied getting disappeared after login in Magento 2.2.6"
### Preconditions (*)

* Magento 2.2.6
* PHP 7.1.9
* MySQL 5.7.19
* Ubuntu 16.04.5 LTS

### Steps to reproduce (*)

1. First login as customer
2. Empty the cart
3. Logout customer
4. Add a product to the cart
5. Apply a discount coupon
6. Login with same customer
7. Go to cart page

### Expected result (*)

1. In the cart page the previously applied coupon will be present

### Actual result (*)

1

[2019-02-20 13:24] magento-engcom-team commented on #21362
Hi @ameshca. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-20 13:32] magentopits commented on #21352
Hi,

Is there a patch or commit for this, so that i can apply it in my installation?

[2019-02-20 13:49] RandyCillekens commented on #9186
@hostep - Did you find a solutions or a work around for this? We are having the same issue to and it is a real pain in the **s for not being able to use the API where it is meant for.

[2019-02-20 14:07] rou9e commented on #13440
@hypershopbv
I don't have this kind of problem but I experienced a duplicated text attribute one time.
It was due to a simple mistake : I definied an attribute in a specific group in _getFieldsMap() method, but I was calling it in another group (because I changed my mind) in the form.xml.
Hope that it could help you.. (bool / select attributes works fine for me).

[2019-02-20 14:10] andrew-knifecenter commented on #16171
Just wanted to leave this here in case it helps someone. I had this same error and it was actually due to some formatting issues (line breaks) created by the ```config:dump``` command. This caused the import parsing to fail and the exception thrown was misleading. Hope this helps someone else!

[2019-02-20 14:21] maxxeh1 commented on #18154
@erikhansen does this patch file work for 2.2.7?

[2019-02-20 15:01] mhujer opened #21364 "REST API multiselect attribute BC break between 2.1.8 and 2.3.0"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Have a multiselect attribute
2. Update the product data through the REST API and pass an array of IDs as a value for this multiselect attribute

### Expected result (*)

1. Attribute is updated (as it worked in 2.1.8)

### Actual result (*)

1. Error message is returned:

[code]

### Workaround
Implode the ids and send t

[2019-02-20 15:01] magento-engcom-team commented on #21364
Hi @mhujer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-20 15:17] swnsma commented on #18323
@aholovan,
Please create new issue for this case.

[2019-02-20 15:20] klierik opened #21365 "CSS Property name issue"
### Preconditions (*)
1. Magento 2.3.0

### Steps to reproduce (*)
Source:
```https://github.com/magento/magento2/blob/2.3-develop/app/design/frontend/Magento/blank/Magento_Swatches/web/css/source/_module.less#L117```

Mistake in word "blackground":
```.lib-css(blackground, @attr-swatch-option__selected__background);```
Correct:
```.lib-css(background, @attr-swatch-option__selected__background);``

[2019-02-20 15:21] magento-engcom-team commented on #21365
Hi @klierik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-20 15:22] magento-engcom-team commented on #13338
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-02-20 15:24] ankit-sf commented on #21364
Now instead of _array of ids_ values is changed by _comma seperated ids_

[2019-02-20 15:27] mhujer commented on #21364
@ankit-sf So this change was intentional and is expected?

[2019-02-20 15:36] magento-engcom-team commented on #21362
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-20 15:36] ankit-sf commented on #21364
no, i think it is intentional, it's just that it is not corrected in 2.3 but is corrected in previous versions 2.2 and 2.1

[2019-02-20 15:37] shikhamis11 commented on #21362
@magento-engcom-team give me 2.2-develop instance

[2019-02-20 15:38] magento-engcom-team commented on #21362
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-20 15:38] magento-engcom-team commented on #21362
Hi @shikhamis11, here is your [Magento instance](https://i-21362-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21362-2-2-develop.instances.magento-community.engineering/admin](https://i-21362-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 15:39] peterjaap commented on #12641
I think this is now fixed in 2.2-develop (staged for 2.2.8 release) here; https://github.com/magento/magento2/pull/17882

[2019-02-20 16:08] shikhamis11 commented on #21362
@ameshca Thank you for your report.
this issue is not reproducable at current magento 2.2-develop instance message here if you are able to reproduce at current magento instance

[2019-02-20 16:08] #21362 closed, assigned to shikhamis11

[2019-02-20 16:08] verdde commented on #21204
Please reopen the ticket this is affecting everyone i am working with and it's using Magento 2.3

[2019-02-20 16:10] magento-engcom-team commented on #21365
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-20 16:12] nallias opened #21366 "Tax zones import csv limitation"
### Preconditions (*)

1. magento 2.2.0
2. no additional module about V.A.T. managment

### Steps to reproduce (*)

1. Administration panel
2. Stores tab
3. Taxes > Tax rules
4. add or edit one tax rule
5. at the bottom of "Additional Settings", upload a 200+ lines csv

### Expected result (*)

1. All correct lines are uploaded (not necessary every lines)
2. If necessary, error message

### Actual

[2019-02-20 16:12] magento-engcom-team commented on #21366
Hi @nallias. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-20 16:22] verdde opened #21367 "Translate "This is a required field" and validation errors on 2.3 - REGISTRATION PAGE #21204"
Reopening ticket 21204 which has been closed without any resolution, and the bug is still there without anyone fixing it, being caused by lib/web/mage/validation.js

### Preconditions (*)
Magento 2.3 vanilla with 2 store views

I've installed multiple language packs, currently using this one
https://github.com/EaDesgin/magento2-romanian-language-pack

Everything is translated except the JS validat

[2019-02-20 16:22] magento-engcom-team commented on #21367
Hi @verdde. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-20 16:23] verdde commented on #21367
Commented but no feedback on https://github.com/magento/magento2/issues/21204

[2019-02-20 16:23] magento-engcom-team commented on #21365
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98336` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-20 16:24] nallias commented on #21366
Indeed, I reproduced it on a vanilla magento 2.2.0
The environment (further from magento 2.2.0) is a Linux 4.4.0-98-generic Ubuntu.
If you need any more precision, tell me.

[2019-02-20 16:24] magento-engcom-team commented on #21366
Hi @nallias. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-20 16:24] magento-engcom-team commented on #21366
Hi @nallias, here is your [Magento instance](https://i-21366-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21366-2-3-develop.instances.magento-community.engineering/admin](https://i-21366-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 16:26] priti2jcommerce commented on #21366
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (264/250 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 16:26] nilesh2jcommerce commented on #21366
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (264/250 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 16:26] ajay2jcommerce commented on #21366
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (256/250 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 16:26] nainesh2jcommerce commented on #21366
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (258/250 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 16:26] amol2jcommerce commented on #21366
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (257/250 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 16:29] nallias commented on #21366
Thanks. On your 2.3 the upload is impossible with my file "as is", I had to remove the Puerto Rico line (country code PR is refused)
Then, all my lines are uploaded.

This means that I shall abandon my 2.2.0 and attempt to migrate on 2.3?
Also, why do you refuse the 'PR' country code?

[2019-02-20 16:31] magento-engcom-team commented on #21359
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-20 16:32] nallias commented on #21366
New attempt on my 2.2.0 with the file without the line for 'PR' : no error message.
But only the first 200 lines are imported.

May it be because of RAM limitations on my server?

[2019-02-20 16:32] magento-engcom-team commented on #21359
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98337`, `MAGETWO-98338` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-20 16:40] magento-engcom-team commented on #21353
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-20 16:42] shikhamis11 commented on #21353
also at backend it is allowed to create coupon code like test/ . cart is being applied from checkout cart page but not from payment step

[2019-02-20 16:43] magento-engcom-team commented on #21353
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98339`, `MAGETWO-98340` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-20 16:47] #21366 closed, assigned to nobody

[2019-02-20 17:13] mattijv commented on #21299
**This is an issue with the Magento built-in full page cache.**
Here's a quick fix for the issue while waiting for Magento to fix the root cause in the core:

Add this plugin in a di.xml somewhere
[code]
And create the following class in the path defined by the di.xml file
[code]

Alternatively you can disable the fullpage cache, but that is **not advisable** since it affects performance. Better s

[2019-02-20 17:18] vetrivel163 commented on #15545
@Mathiu How you disabled "Magento_Search and Magento_CatalogSearch"? It has dependency.

	root@44fffe3e7f6e:/var/www/html# bin/magento mo:dis Magento_Search Magento_CatalogSearch
	Unable to change status of modules because of the following constraints:
	Cannot disable Magento_Search because modules depend on it:
	Magento_CatalogImportExportStaging: Magento_CatalogImportExportStaging->Magento_Catal

[2019-02-20 17:37] magento-engcom-team commented on #14134
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-02-20 18:21] hostep commented on #9186
@RandyCillekens: no, sorry, no solution, the client just learned to live with the bug and changed how they dealt with catalog data as far as I remember (I'm no longer working on this project though).

[2019-02-20 18:38] Mathiu commented on #15545
@vetrivel163 I don't have any of the modules listed installed.

[2019-02-20 18:39] magento-engcom-team commented on #13072
Hi @devamitbera. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>