[2018-11-12 05:40] orlangur commented on #19160
@kevinvuillemin,

How anyone else can reproduce it then? Which actions were made by customer B at the time of order placement?

[2018-11-12 05:57] nadeefit6 opened #19162 "Cant change Invoice/ CreditMemo sequnce numbers storeviewl-evel"
### Preconditions (*)

1. Magento 2.2.5
2. create 2 store views per web site

### Steps to reproduce (*)

1. Change In 'prefix' of 'sales_sequence_profile' table to

 # update `sales_sequence_profile` set `prefix` = 11 where meta_id =11; (Storeview 1 - default website-Order)
# update `sales_sequence_profile` set `prefix` = 12 where meta_id =12; (Storeview 1 - default website-Invoice)
 # update `sa

[2018-11-12 05:57] magento-engcom-team commented on #19162
Hi @nadeefit6. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-12 07:05] magento-engcom-team commented on #19156
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 07:06] magento-engcom-team commented on #19159
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 07:10] magento-engcom-team commented on #19137
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 07:10] xi-ao commented on #18802
We're using Magento Cloud for production of course, but the issue can be reproduce on local, development-oriented instances too.

[2018-11-12 07:13] engcom-backlog-nazar commented on #18630
@dverkade, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-11-12 07:22] #19156 closed, assigned to nobody

[2018-11-12 07:34] orlangur commented on #19160
Magento is not supposed to update quote in case you modified customer ids directly in database.

[2018-11-12 07:58] Hansys commented on #18248
`php bin/magento module:disable Amazon_Core Amazon_Payment Amazon_Login Klarna_Core Klarna_Ordermanagement Klarna_Kp Vertex_Tax`
worked for me, while we are not using those modules

[2018-11-12 08:04] orlangur commented on #18811
Closing due to inactivity. Feel free to update issue description with needed information and reopen it.
Thanks for collaboration!

[2018-11-12 08:04] #18811 closed, assigned to navarr

[2018-11-12 08:08] engcom-backlog-nazar commented on #19137
Hi @antheny916 thank you for you report, i'm not able to reproduce following steps you described, in clean magento instance, The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-12 08:08] #19137 closed, assigned to nobody

[2018-11-12 08:20] engcom-backlog-nazar commented on #19162
Hi @nadeefit6 thank you for you report, as i can see, you just overwriting the same row with meta_id=12, and meta_id=11, so you basically not set id to storeview 2, this is not a bug.

[2018-11-12 08:20] #19162 closed, assigned to nobody

[2018-11-12 08:21] magento-engcom-team commented on #19160
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 08:56] lior4 opened #19163 "דגמים נעלמו מהקטגוריות SALE > טימברלנד ונאוטיקה"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2018-11-12 08:56] magento-engcom-team commented on #19163
Hi @lior4. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-12 09:38] jakwinkler opened #19166 "Customer related values are NULL for guests converted to customers after checkout."
### Preconditions (*)

1. Magento 2.2.6 CE (OpenSource)
2. No checkout customizations,

### Steps to reproduce (*)

1. Allow customers to create account after checkout
2. Create few orders as guest customers and create an account after checkout process
3. Create a module with a plugin aroundSave for SalesOrder class
4. In aroundSave method, try to fetch customer name from order object
[code]

###

[2018-11-12 09:38] magento-engcom-team commented on #19166
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-12 09:47] engcom-backlog-nazar commented on #19159
Hi @nigarjafar thank you for you report, this issue has already fixed in 2.3-develop but they you have another issue ->https://github.com/magento/magento2/issues/13961 so you can't take oauth token :)

[2018-11-12 09:47] #19159 closed, assigned to nobody

[2018-11-12 09:47] magento-engcom-team commented on #19163
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 09:49] engcom-backlog-nazar commented on #19163
Hi @lior4 please describe you issue with english language, thank you then reopen the issue.

[2018-11-12 09:49] #19163 closed, assigned to nobody

[2018-11-12 09:51] magento-engcom-team commented on #19166
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 09:55] magento-engcom-team commented on #18617
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#19061 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [73ff7cbc55cb1bbde88a96421daa5410f1fdd8c9](https://github.com/magento/magento2/commit/73ff7cbc55cb1bbde88a96421daa5410f1fdd8c9)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-12 09:55] magento-engcom-team commented on #18150
Hi @andy17612. Thank you for your report.
The issue has been fixed in magento/magento2#18816 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [3d0d8b7674c6798c3907cb77e690f62ef5310592](https://github.com/magento/magento2/commit/3d0d8b7674c6798c3907cb77e690f62ef5310592)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-12 09:55] magento-engcom-team commented on #14294
Hi @bobemoe. Thank you for your report.
The issue has been fixed in magento/magento2#15961 by @Mobecls in 2.3-develop branch
Related commit(s):
 - [3feda05339677a30590230745619db035781752d](https://github.com/magento/magento2/commit/3feda05339677a30590230745619db035781752d)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-12 09:55] #14294 closed, assigned to nobody

[2018-11-12 10:04] vivek-graas opened #19167 "Broken UI on vanilla Magento 2.3 install from HEAD"
### Preconditions (*)

1.CE 2.3-develop - HEAD (Latest commit 072ef37)
2.Vanilla magento 2.3 installation on Ubuntu 18.04 and MySQL, Nginx, FPM
3. Chrome / Firefox browser on Ubuntu desktop

### Steps to reproduce (*)

1. Install Magento 2.3 from source using contributor guidelines from the HEAD
2.Note: I don't get the errors if I install from an earlier commit (Oct 31)

### Expected result (*)

1

[2018-11-12 10:04] magento-engcom-team commented on #19167
Hi @vphalak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-12 10:05] raivisdejus commented on #18735
Issue for this has been created on GraphQL specific repo https://github.com/magento/graphql-ce/issues/246

[2018-11-12 10:06] vphalak commented on #19167
@magento-engcom-team give me 2.3-develop instance

[2018-11-12 10:06] magento-engcom-team commented on #19167
Hi @vphalak. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-12 10:06] magento-engcom-team commented on #19167
Hi @vphalak, here is your [Magento instance](http://34.228.235.121/i-19167-2-3-develop/).
Admin access: [http://34.228.235.121/i-19167-2-3-develop//admin](http://34.228.235.121/i-19167-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 10:13] BlitzInternet commented on #19075
Thanks for the info.

@magento-engcom-team In which commit was the issue described above solved? We would like to create a workaround and could backport it, if possible.

[2018-11-12 10:16] magento-engcom-team commented on #19166
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96273`, `MAGETWO-96274` were created

[2018-11-12 10:17] magento-engcom-team commented on #19166
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-12 10:18] magento-engcom-team commented on #19167
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 10:19] engcom-backlog-nazar commented on #19167
HI @vphalak  did you try to clean pub static folder ?

[2018-11-12 10:53] engcom-backlog-nazar commented on #19167
@vphalak i'm no able to reproduce following steps youre described, seems like problem related to your configuration, please try  to clean pub/static folder, and let me know if the issue still presist, if you like to update this please reopen the issue.

[2018-11-12 10:53] #19167 closed, assigned to nobody

[2018-11-12 11:09] magento-engcom-team commented on #17625
Hi @chefbuitenhuis. Thank you for your report.
The issue has been fixed in magento/magento2#17854 by @cezary-zeglen in 2.2-develop branch
Related commit(s):
 - [f6eb7fb7f7d35dce7df81fd4fdf1b8dbee54b3db](https://github.com/magento/magento2/commit/f6eb7fb7f7d35dce7df81fd4fdf1b8dbee54b3db)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-12 11:09] magento-engcom-team commented on #18652
Hi @Hoszi. Thank you for your report.
The issue has been fixed in magento/magento2#18743 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [e40b9c7396d98dd136883cda2112ef98f8fcfe7e](https://github.com/magento/magento2/commit/e40b9c7396d98dd136883cda2112ef98f8fcfe7e)
 - [451b6baf59a14eb7284e8263905853215d6448cd](https://github.com/magento/magento2/commit/451b6baf59a14eb7284e8263905853215

[2018-11-12 11:09] #18652 closed, assigned to Alex-Lunkov

[2018-11-12 11:09] magento-engcom-team commented on #18939
Hi @progammer-rkt. Thank you for your report.
The issue has been fixed in magento/magento2#18959 by @torhoehn in 2.2-develop branch
Related commit(s):
 - [b51e3be2789eba8bb10f57c2714dffa482f3c4d8](https://github.com/magento/magento2/commit/b51e3be2789eba8bb10f57c2714dffa482f3c4d8)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-12 11:09] #18939 closed, assigned to torhoehn, anujwebkul

[2018-11-12 11:09] magento-engcom-team commented on #17635
Hi @dbsdsun. Thank you for your report.
The issue has been fixed in magento/magento2#17915 by @magently in 2.2-develop branch
Related commit(s):
 - [e9451e0f337cc48e285905c99e83221defc78a36](https://github.com/magento/magento2/commit/e9451e0f337cc48e285905c99e83221defc78a36)
 - [29680f7653167268f474af8929b87aa2d863b9b5](https://github.com/magento/magento2/commit/29680f7653167268f474af8929b87aa2d86

[2018-11-12 11:09] #17635 closed, assigned to nobody

[2018-11-12 11:09] magento-engcom-team commented on #14849
Hi @raymond62. Thank you for your report.
The issue has been fixed in magento/magento2#14914 by @phoenix128 in 2.2-develop branch
Related commit(s):
 - [03e7de4dedd9336dabb90a267acb49b9a044c3f8](https://github.com/magento/magento2/commit/03e7de4dedd9336dabb90a267acb49b9a044c3f8)
 - [5d2b5be882918e36aa328b735c8bd00599b3b5c8](https://github.com/magento/magento2/commit/5d2b5be882918e36aa328b735c8bd00

[2018-11-12 11:09] #14849 closed, assigned to phoenix128

[2018-11-12 11:45] indefinitedevil opened #19168 "Cart rule Buy X only applies to single product but can be defined on category basis"
We have noticed an issue with applying cart price rules to a category in combination with a Buy X rule. Namely that the Buy X condition only works when there are enough items of a single product, and doesn't consider if there are enough products from the condition which is what we expected.

If there is an offer for "Get a discount for every two things you buy from this category", we expect it to

[2018-11-12 11:46] magento-engcom-team commented on #19168
Hi @indefinitedevil. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-11-12 11:46] indefinitedevil commented on #19168
@magento-engcom-team give me 2.2.6 instance

[2018-11-12 11:46] magento-engcom-team commented on #19168
Hi @indefinitedevil. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-12 11:47] magento-engcom-team commented on #19168
Hi @indefinitedevil, here is your [Magento instance](http://34.228.235.121/i-19168-2-2-6/).
Admin access: [http://34.228.235.121/i-19168-2-2-6//admin](http://34.228.235.121/i-19168-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 11:51] magento-engcom-team commented on #19152
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-12 12:04] TomashKhamlai commented on #19152
Please open exactly the same issue on [magento-engcom/msi](https://github.com/magento-engcom/msi/issues/new?template=bug_report.md), then slightly modify this issue and open it also in (magento/community-features)[https://github.com/magento/community-features/issues/new], but remove all the MSI related stuff(change the screenshot and description).

Now you have like 2 in 1 bug and both of them are

[2018-11-12 12:08] #19152 closed, assigned to nobody

[2018-11-12 12:11] magento-engcom-team commented on #19168
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-12 12:16] magento-engcom-team commented on #18281
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-12 12:27] #18281 closed, assigned to nobody

[2018-11-12 12:28] magento-engcom-team commented on #18339
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-12 12:34] aasim110 opened #19169 "Magento 2.2.6 Won't let me add "&" to product attributes"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Go to admin >> Stores >> Attributes >> Product
2. Select any attribute
3. For testing purpose select "color" attribute
4. Add any value with "&" sign
5. e.g add "abc & def" in value
6. Check with multiple values

### Expected result (*)

1. When save the attribute It should save "abc & def".

### Actual result (*)

1. When we

[2018-11-12 12:34] magento-engcom-team commented on #19169
Hi @aasim110. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-12 12:35] TomashKhamlai commented on #18339
@magento-engcom-team give me 2.3-develop instance

[2018-11-12 12:35] magento-engcom-team commented on #18339
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-12 12:35] magento-engcom-team commented on #18339
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-18339-2-3-develop/).
Admin access: [http://34.228.235.121/i-18339-2-3-develop//admin](http://34.228.235.121/i-18339-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 12:38] magento-engcom-team commented on #18983
Hi @progreg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-12 12:39] magento-engcom-team commented on #19169
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 12:43] engcom-backlog-nazar commented on #19169
Hi @aasim110 thank you for you report, this is acknowledged issue,  -> https://github.com/magento/magento2/issues/18493 and this will be fixed,

[2018-11-12 12:43] #19169 closed, assigned to nobody

[2018-11-12 12:48] TomashKhamlai commented on #18339
[Html Checker 2.3-develop.pdf](https://github.com/magento/magento2/files/2571940/Html.Checker.2.3-develop.pdf)

[2018-11-12 12:49] TomashKhamlai commented on #18339
@magento-engcom-team give me 2.2-develop instance

[2018-11-12 12:49] magento-engcom-team commented on #18339
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-12 12:49] magento-engcom-team commented on #18339
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-18339-2-2-develop/).
Admin access: [http://34.228.235.121/i-18339-2-2-develop//admin](http://34.228.235.121/i-18339-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 13:15] TomashKhamlai commented on #18339
[Html Checker 2.2-develop.pdf](https://github.com/magento/magento2/files/2572008/Html.Checker.2.2-develop.pdf)

[2018-11-12 13:16] magento-engcom-team commented on #18339
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96279`, `MAGETWO-96280` were created

[2018-11-12 13:17] magento-engcom-team commented on #18340
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-12 13:19] TomashKhamlai commented on #18340
@magento-engcom-team give me $VERSION instance

[2018-11-12 13:20] TomashKhamlai commented on #18340
@magento-engcom-team give me 2.3-develop instance

[2018-11-12 13:20] magento-engcom-team commented on #18340
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-12 13:20] magento-engcom-team commented on #18340
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-18340-2-3-develop/).
Admin access: [http://34.228.235.121/i-18340-2-3-develop//admin](http://34.228.235.121/i-18340-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 13:32] TomashKhamlai commented on #18340
[Html Checker 2.3-develop.pdf](https://github.com/magento/magento2/files/2572060/Html.Checker.2.3-develop.pdf)

[2018-11-12 13:32] nuovecode commented on #17285
It works with php 7.2.* ( I was reporting just to add info to the issue) thanks!

[2018-11-12 13:33] #18340 closed, assigned to nobody

[2018-11-12 13:36] DanielRuf commented on #17285
Thanks for the info. was not quite clear for me.

[2018-11-12 13:38] magento-engcom-team commented on #18504
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-12 13:41] PiroozMB commented on #13594
you always close issues leaving people with no solution. nice job

[2018-11-12 13:43] TomashKhamlai commented on #19168
@magento-engcom-team give me 2.3-develop instance

[2018-11-12 13:43] magento-engcom-team commented on #19168
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-12 13:43] magento-engcom-team commented on #19168
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-19168-2-3-develop/).
Admin access: [http://34.228.235.121/i-19168-2-3-develop//admin](http://34.228.235.121/i-19168-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 13:45] diglin commented on #13594
To be fair enough regarding Magento contributors / team, for the Fooman Surcharge Module, the developer fixed it on his side. Magento itself should not be involved as it was an issue introduced by the third party module.

[2018-11-12 13:46] PiroozMB commented on #13594
@diglin I don't have any thirdparty module installed on my magento nor Fooman !!

[2018-11-12 13:48] diglin commented on #13594
@PiroozMB ok, just wanted to speak and share about the case I met.

[2018-11-12 13:55] magento-engcom-team commented on #19116
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-12 14:14] aadmathijssen commented on #18148
In our case, this problem also affected the Ingenico ePayments (Ingenico_OPS) module.

Reverting the change to the first line of the method `\Magento\Sales\Model\Order\Payment\State\RegisterCaptureNotificationCommand::execute` seemed to resolve the issue.

That is, changing line 38 of `vendor/magento/module-sales/Model/Order/Payment/State/RegisterCaptureNotificationCommand.php` from

[code]

to

[

[2018-11-12 14:21] bbmxxc opened #19172 "Newsletter subscription does not set the correct store_id if already subscribed. Not Fixed in 2.3-dev"
Regarding https://github.com/magento/magento2/issues/19131.
I (again) tried it on 2.3-dev an the issue is *not* fixed in 2.3-dev.

### Preconditions (*)

1. latest Magento Version 2.3-dev
2. Have at least two stores ( A and B)
### Steps to reproduce (*)

1. Register a user in  A
2. Subscribe to Newsletter in A
3. Switch to Store B
4. Subscribe to Newsletter again

### Expected result (*)

1. When

[2018-11-12 14:21] engcom-backlog-nazar commented on #19160
Hi @kevinvuillemin i'm not able to reproduce following steps you are described, and if you update customer ids direct in database, this is expected behavior.

[2018-11-12 14:21] #19160 closed, assigned to nobody

[2018-11-12 14:30] engcom-backlog-nazar commented on #19172
Hi @bbmxxc on fresh magento 2.3-dev instance
![selection_199](https://user-images.githubusercontent.com/40756439/48353488-34336100-e698-11e8-8c92-607401549be4.png)

[2018-11-12 14:33] bbmxxc commented on #19172
Hi! Thanks for the fast reply. But this are all different users. Try registering an user in one store and subscribing to the newsletter in a different one.

[2018-11-12 14:35] engcom-backlog-nazar commented on #19172
@bbmxxc but if i switch to store B then user logout.

[2018-11-12 14:41] bbmxxc commented on #19172
Well my customer stays logged in. But you could still log him in again at the other store.

[2018-11-12 14:41] bbmxxc commented on #19172
@magento-engcom-team give me $VERSION instance

[2018-11-12 14:41] bbmxxc commented on #19172
@magento-engcom-team give me 2.3-develop instance

[2018-11-12 14:41] magento-engcom-team commented on #19172
Hi @bbmxxc. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-12 14:42] magento-engcom-team commented on #19172
Hi @bbmxxc, here is your [Magento instance](http://34.228.235.121/i-19172-2-3-develop/).
Admin access: [http://34.228.235.121/i-19172-2-3-develop//admin](http://34.228.235.121/i-19172-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-12 14:48] winterk80 opened #19173 "Customer only pages sessions being indexed, Magento 2.x"
### Preconditions (*)
All Magento 2.2.x versions

### Steps to reproduce (*)
1. Customer only pages such as the login page, cart, etc are set to index by Magento. This is a concern that session data is indexed for both SEO and security reasons. Also creates a larger server load from bots following sessions.
2. What happens in sessions are captured by google resulting in thousands of indexed pages

[2018-11-12 14:48] magento-engcom-team commented on #19173
Hi @winterk80. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-12 14:50] winterk80 commented on #14971
Hello,
It's been 4 months, when will there be a solution?

[2018-11-12 14:50] bbmxxc commented on #19172
I rebuild the situation on requested instance. There ist StoreA and StoreB and a user registered on StoreA. I have subscribed to the newsletter on both stores but the store_id saved to the subscription is always that of StoreA.

[2018-11-12 17:03] uandiweb commented on #18819
Is there a temporary fix? Any store that has multiple filters is probably losing sales due to the incorrect message: "We can't find products matching the selection". The 2018 holiday season is right around the corner, and this is needs a fix.

Thank you!

[2018-11-12 19:03] nadeefit6 commented on #19162
Mistake in writing.
Changed the query in description.
The actual values are not working with non-duplicae data asw ell.
Please check.

[2018-11-12 20:36] Ctucker9233 commented on #6558
@magento-engcom-team Please point out where in 2.2 this fix is present? It seems to still be an issue for some.

[2018-11-12 20:38] mitcht commented on #15156
Thanks for the concern for all of us 1.x users.

[2018-11-12 20:38] Ctucker9233 commented on #12679
@magento-engcom-team Please reinvestigate.

[2018-11-12 20:53] magento-engcom-team commented on #19172
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-12 21:43] friendscottn commented on #2904
I also see this issue about once a day on our website. It looks like [direct post has been deprecated](https://developer.authorize.net/api/upgrade_guide/#dpm). Is there an effort to move to the Accept.js implementation going on?

[2018-11-12 21:45] orlangur commented on #19173
@winterk80 oh, great finding! Probably it was tied somehow to cacheable/non-cacheable pages.

[2018-11-12 22:00] kevinvuillemin commented on #19160
Hello,

Thank you very much for your answer

I want just add that i not updated customer ids direct in database, only import.

Magento2 update the quote of customer when you add or delete product in cart alright ? But if you  pay directly, the quote not updated, but i think it's important, because if the quote is very old and you pay directly an old cart nothing data updated. So you can have the w

[2018-11-12 22:17] okorshenko commented on #13095
@magento-engcom-team give me 2.2.4 verification instance

[2018-11-12 22:17] magento-engcom-team commented on #13095
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.4 verification instance for you

[2018-11-12 22:19] okorshenko commented on #13095
@magento-engcom-team give me 2.2.4 instance

[2018-11-12 22:19] magento-engcom-team commented on #13095
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-11-12 22:20] magento-engcom-team commented on #13095
Hi @okorshenko, here is your [Magento instance](http://34.228.235.121/i-13095-2-2-4/).
Admin access: [http://34.228.235.121/i-13095-2-2-4//admin](http://34.228.235.121/i-13095-2-2-4//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-13 07:10] magento-engcom-team commented on #19173
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 07:12] magento-engcom-team commented on #19142
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 07:17] engcom-backlog-nazar commented on #19162
@nadeefit6 ok

[2018-11-13 07:34] magento-engcom-team commented on #18457
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 07:39] engcom-backlog-nazar commented on #18457
Hi @vseager thank you for you report, this issue has already fixed in 2.3-develop.
![selection_201](https://user-images.githubusercontent.com/40756439/48397881-dc443b00-e727-11e8-9c82-fa8e558840b7.png)

[2018-11-13 07:39] #18457 closed, assigned to nobody

[2018-11-13 07:40] devqualwebs opened #19178 "Product price incl tax not working if tax applied only for specific countries."
### Summary (*)

I've installed Magento v.2.1.3 and configured some products, and put price incl. tax, Also assigned tax rule, which should be applied to it. The tax rule which I've selected in products, Is configured as For Saudi Arabia, The tax rate should be 5%, And for other countries, it should be 0. I've created it for all countries.
### Examples (*)

When I go to the checkout page, AS produ

[2018-11-13 07:40] magento-engcom-team commented on #19178
Hi @devqualwebs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-13 07:42] magento-engcom-team commented on #18363
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 07:57] engcom-backlog-nazar commented on #18363
HI @werfu, thank you for you report, this is expected behavior, you need to use grouped product instead of bundle. If you select required that means you need to buy this option anyway. this not means that you can add it quickly to cart

[2018-11-13 07:57] #18363 closed, assigned to nobody

[2018-11-13 07:58] magento-engcom-team commented on #19178
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 08:01] Mobecls commented on #13736
In this situation, I just changed the '& gt;' on '>' in the widget code.

[2018-11-13 08:10] engcom-backlog-nazar commented on #19178
Hi @devqualwebs only 2.2.0+ bug reports are considered nowadays. Try upgrading.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-13 08:10] #19178 closed, assigned to nobody

[2018-11-13 08:14] engcom-backlog-nazar commented on #19162
@nadeefit6 magento not allow you to change the prefix for orders, and  this is not best way to change this on database.  It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-13 08:34] magento-engcom-team commented on #18451
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 08:42] engcom-backlog-nazar commented on #18965
Closing this issue as this was fixed on 2.3-develop branch and will be available with the upcoming 2.3.1 release.

[2018-11-13 08:42] #18965 closed, assigned to nobody

[2018-11-13 08:45] engcom-backlog-nazar commented on #18775
HI @saphaljha i'm closing this issue as this already fixed in 2.3-develop branch

[2018-11-13 08:47] engcom-backlog-nazar commented on #18475
Hi @dewayneholden i'm closing this issue, as this already fixed in 2.3-develop branch.

[2018-11-13 08:50] engcom-backlog-nazar commented on #18655
Hi @jhruehl i'm closing this issue as this already fixed in 2.3-develop branch.

[2018-11-13 08:50] #18655 closed, assigned to mahesh-rajawat

[2018-11-13 08:51] DanielRuf commented on #18475
Wait, what a bout a backport or do you expect that we all upgrade to 2.3?

[2018-11-13 08:56] engcom-backlog-nazar commented on #18475
@DanielRuf but this issue fixed in 2.2-develop also, i  tested

[2018-11-13 08:57] engcom-backlog-nazar commented on #18475
@DanielRuf https://github.com/magento/magento2/pull/18597

[2018-11-13 08:59] DanielRuf commented on #18475
Ok, because this piece of information was missing here. Thanks for the link.

[2018-11-13 08:59] #18475 closed, assigned to nobody

[2018-11-13 09:03] TomashKhamlai commented on #19168
@magento-engcom-team give me 2.2-develop instance

[2018-11-13 09:03] magento-engcom-team commented on #19168
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-13 09:04] magento-engcom-team commented on #19168
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-19168-2-2-develop/).
Admin access: [http://34.228.235.121/i-19168-2-2-develop//admin](http://34.228.235.121/i-19168-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-13 09:05] engcom-backlog-nazar commented on #18854
Hi @saphaljha i'm closing this issue as this was fixed in 2.3-developed and not appear in 2.2-develop.

[2018-11-13 09:12] engcom-backlog-nazar commented on #18688
Hi @davegog i'm closing this issue, as this was fixed on 2.3-develop branch and not appear on 2.2-develop branch.

[2018-11-13 09:21] engcom-backlog-nazar commented on #18605
Hi @larsroettig  i'm closing this issue, as this was fixed on 2.3-develop branch and not appear on 2.2-develop branch.

[2018-11-13 10:03] magento-engcom-team commented on #18791
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 10:14] hardik-krish commented on #17868
Hi @abhaykhatariya @magento-engcom-team @magento-admin

I reviewed and tested this as per provided steps. Actually this is not an issue this is feature request.

[2018-11-13 11:02] vseager commented on #14071
This is still an issue on 2.2.5, using Ubuntu OS.

### Preconditions
1. Magento 2.2.5
2. Centos 7

### Steps to reproduce
1. Create a product
2. Add more than 20 items to one of the product grids (Related product, bundle items etc)
3. Attempt to reorder products using drag and drop feature, moving an item from page 1 to page 2 of the product grid.

### Expected result
It is expected that the above

[2018-11-13 11:33] magento-engcom-team commented on #7443
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-13 11:41] TomashKhamlai commented on #7443
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-13 11:42] #7443 closed, assigned to nobody

[2018-11-13 11:49] bbacika commented on #12527
Dear All,
Need some help in similar topic. (sorry if isn't correct topic)
On my product page when  prices are 3 digits then one 0 appear as first digit. (with 4 digits works nice).

On admin site prices is without dot or comma, on all product page the same is correct with 3 digits.

Magento 2.2.5
single store en_Us, only prices are in local corrency (HUF -Ft)
Price on product page displayed correc

[2018-11-13 12:05] magento-engcom-team commented on #15035
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-13 12:29] wescey commented on #5036
Im running a 2.2.2 installation with 5 multiple websites with each own currency. In the Sales > Orders grid (grand total base), it's only displaying one currency that is based on default value.

[2018-11-13 12:33] fwolfst commented on #14964
Can happens on updates to 2.2.6, too.

[2018-11-13 12:57] speedy008 commented on #18854
Hello
I have started working on fixing this issue in 2.2x

[2018-11-13 13:09] devqualwebs opened #19186 "Price Incl tax is not showing for logged in users."
### Preconditions (*)

1. Setup Magento v 2.1.3, configured product price incl tax.

### Steps to reproduce (*)

1. Change Product price to Incl. tax on product listing page, single product page.
2. Set Tax rule for all the countries and assign customer tax class -> Retailer, Wholesale and General.
3. Configuration for tax is like [this].(https://www.awesomescreenshot.com/image/3725118/9c48d3b1ebd

[2018-11-13 13:09] magento-engcom-team commented on #19186
Hi @devqualwebs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-13 13:11] TomashKhamlai commented on #15035
Fixed in 2.3.1 (2.3-develop)

[2018-11-13 13:12] tejashp77 commented on #13504
I have the same issue. anyone has a solution yet? I don't think delete global.php is the proper solution?

[2018-11-13 13:13] tejashp77 commented on #11526
I have the same issue. anyone has a solution yet? above solutions not working for me.

[2018-11-13 13:13] speedy008 commented on #18775
Hi @engcom-backlog-nazar
I have started working on 2.3x Instance to resolve this issue.

[2018-11-13 13:16] magento-engcom-team commented on #2991
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-13 13:30] engcom-backlog-nazar commented on #18775
Hi @speedy008  this issue fixed in 2.3-develop, just leave this open.

[2018-11-13 13:40] tejashp77 commented on #11526
I created the custom module and it gives me the error when I try to add the new entry from admin grid.

Fatal error: Uncaught Error: Call to a member function setActive() on boolean in /home/www/jambiyo.com/vendor/magento/module-backend/Model/View/Result/Page.php:27 Stack trace: #0 /home/www/jambiyo.com/app/code/MyModule/StoreLocator/Controller/Adminhtml/Storelocator/Edit.php(53): Magento\Backend\

[2018-11-13 13:46] DavaGordon commented on #11526
Anyway to see the layouts anything xml in module

[2018-11-13 13:48] tejashp77 commented on #11526
<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" layout="admin-2columns-left" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <update handle="storelocator_storelocator_edit"/>
    <body/>
</page>

[2018-11-13 13:49] tejashp77 commented on #11526
`<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" layout="admin-2columns-left" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <update handle="storelocator_storelocator_edit"/>
    <body/>
</page>`

[2018-11-13 13:51] k4emic opened #19187 "TypeError when using PHP 7.2 [Magento 2.3 beta]"
### Preconditions (*)

1. Magento 2.3 beta (any edition)
2. PHP 7.2.10

### Steps to reproduce (*)

1. Create admin user
2. Attempt login with credentials

### Expected result (*)

1. Admin user is logged in

### Actual result (*)

1. Error is thrown:
[code]

### Why this happens
More recent versions of Magento sets the `declare(strict_types=1);` flag in most (all?) classes.
The hash version passe

[2018-11-13 13:51] magento-engcom-team commented on #19187
Hi @k4emic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-13 13:51] k4emic commented on #19187
@magento-engcom-team give me 2.3-develop instance

[2018-11-13 13:52] magento-engcom-team commented on #19187
Hi @k4emic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-13 13:52] magento-engcom-team commented on #19187
Hi @k4emic, here is your [Magento instance](http://34.228.235.121/i-19187-2-3-develop/).
Admin access: [http://34.228.235.121/i-19187-2-3-develop//admin](http://34.228.235.121/i-19187-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-13 13:54] tejashp77 commented on #11526
above is code from storelocator_storelocator_new.xml

[2018-11-13 14:05] k4emic commented on #19187
I'm unable to reproduce this on the vanilla instance given here. Could this be tied to PHP 7.2 exclusively? Is there any way of verifying the PHP version of the given instances?

[2018-11-13 14:07] webusat commented on #14206
@magento-engcom-team
This is still broken, any update?

[2018-11-13 14:11] sidolov commented on #18158
Hi @paul-blundell , we expecting 2.3 release very soon, but current fix will be available in 2.3.1 version according to the previous comment.

[2018-11-13 14:23] NileshThote opened #19189 "Magento2 rest api add customer token in create customer api"
i am using
magento 2.1.1
php version 7.0

this is my payload and response.

![screenshot 106](https://user-images.githubusercontent.com/42933455/48419184-5226c180-e77d-11e8-8d21-45279364d78c.png)

### Summary (*)

i want to add customer token in the response and i am using following magento 2 api :

http://host/index.php/rest/default/V1/customers

### Example (*)

in the response i want to add **s

[2018-11-13 14:32] plodistov opened #19190 "There is no chance to recover password after MAGETWO-92989 change"
### Preconditions (*)
1) installed php version 7.1.21
2) magento 2.2.6

### Steps to reproduce
1) Sign in with any customer, to have a row in table `customer_visitor`
2) Sign out
3) Fill in the forget password form
4) Open link from the received email for password recovery
5) After submitting new password form, we're getting next error:

_Warning: SessionHandler::destroy(): Parent session handler

[2018-11-13 14:33] magento-engcom-team commented on #19190
Hi @plodistov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-13 14:34] magento-engcom-team commented on #2991
@TomashKhamlai Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"`

[2018-11-13 14:47] magento-engcom-team commented on #2991
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96319`, `MAGETWO-96320` were created

[2018-11-13 14:55] squeegy06 commented on #18838
Hello again,

I've had some time to work on this issue, and I'm fairly confident there is an issue here.  @engcom-backlog-nazar mentioned this was fixed, but it does not appear that the fix made it into 2.2.5.

So, testing from a fresh install of 2.2.5, when checking out with PayPal, a customer does indeed only get one confirmation email, but it's not because everything functioned correctly, inste

[2018-11-13 15:13] magento-engcom-team commented on #7623
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-13 15:16] plodistov commented on #19190
@magento-engcom-team give me 2.2.6 instance

[2018-11-13 15:16] magento-engcom-team commented on #19190
Hi @plodistov. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-13 15:17] magento-engcom-team commented on #19190
Hi @plodistov, here is your [Magento instance](http://34.228.235.121/i-19190-2-2-6/).
Admin access: [http://34.228.235.121/i-19190-2-2-6//admin](http://34.228.235.121/i-19190-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-13 15:18] magento-engcom-team commented on #19190
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-13 15:19] engcom-backlog-nazar commented on #19190
Hi @plodistov  this was fixed in this PR -> https://github.com/magento/magento2/pull/19026

[2018-11-13 15:20] eduard13 commented on #19172
Hi @bbmxxc I'm not sure how could you get the following result:
[code]
As there is no way to subscribe the customer, because he's already subscribed in another store. Can you give me more details regarding this?
I followed the same steps, but couldn't get the duplication rows in DB (tried in 2.2 and 2.3).

I agree that there is an issue regarding the customer subscription from different stores and

[2018-11-13 15:31] bbmxxc commented on #19172
Hey @eduard13!

I for subscribing in store **B** i use the subscription box in the lower right corner. Or Programmatically by calling Magento\Newsletter\Model\Subscriber::subscribe(...).

[2018-11-13 15:32] TomashKhamlai commented on #15864
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-13 15:36] eduard13 commented on #19172
@bbmxxc thank you for informing, I will take it into account while investigating this.
Thank you.

[2018-11-13 16:00] danemacmillan commented on #8145
In reading though the [2.2.6. release notes](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.6CE.html), it's made clear that M2 has moved forward with its image generation tool. My only question is, will on-the-fly image generation still be supported? A 90% performance increase is unimportant when the operation takes days (and has never personally completed ever).

Have the c

[2018-11-13 16:08] leoquijano commented on #15864
Thanks @TomashKhamlai.

Questions:
- Is this going to be fixed in a 2.2 release?
- Which commits fix this in the 2.3 branch?

[2018-11-13 16:16] DavaGordon commented on #11526
Can u include a screenshot in its native formatting as this doesn't help

[2018-11-13 17:09] lewisje commented on #2904
Authorize.Net itself does have a free extension that supports Accept.js, and I've been trying to get it to actually work on my store: https://marketplace.magento.com/authorizenet-magento-module-authorizenet.html

[2018-11-13 17:25] orlangur commented on #19189
@NileshThote, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-11-13 17:25] #19189 closed, assigned to orlangur

[2018-11-13 17:25] magento-engcom-team commented on #19189
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-13 17:52] vasilii-b commented on #18976
Hi @mhenkel1,
Unfortunately I didn't reproduce the issue on both `2.2-develop` an `2.3-develop`. Taking your code as example will result into a true result - issue reproduced.
[code]
But, your PUT request is wrong. The problem is in type naming. Why do you add `s` at the end ? 🤔

Here is a valid PUT request that succeeds:
[code]

Can you give it a try ?

[2018-11-13 17:52] vasilii-b commented on #18976
Closing the issue until new details are provided. Thank you!

[2018-11-13 17:52] #18976 closed, assigned to vasilii-b

[2018-11-13 18:05] geerlingguy commented on #4955
Just noting my frustration with this behavior too—I'm trying to deploy Magento 2 in a containerized environment (in Kubernetes), with a static env.php file which is controlled by our VCS and deployment tools, and uses environment variables for many important bits of information.

It seems like, even after Magento is installed, the first page request to any new container will trigger Magento to rew

[2018-11-13 18:34] sreichel opened #19196 "$product->getUrlInStore() always uses default base url"
### Summary (*)

Tested with 2.2.5/2.2.6

Products `getUrlInStore()` methods does not use store related base URL from configuration.

### Examples (*)

**Setup:**

- 2 storeviews
- a custom module that loads current product from registry (on admin product edit page)
- set different URL keys per storeview
- try to get product URL for given store id

Simplified ...

    $this->registry->registry('pr

[2018-11-13 18:34] magento-engcom-team commented on #19196
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-13 19:01] geerlingguy commented on #12890
@kirkmadera - We had the exact same issue; I moved the `app/etc/env.php` file to `app/etc/env.php.bak` before the install, then moved it back post install, and it seemed to work okay then.

[2018-11-13 19:50] magento-engcom-team commented on #19142
Hi @gwharton. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-11-13 19:51] DominicWatts commented on #13504
Depends what solution you are after. I gave up with wamp.

Instead I've started to use docker for M2 dev work.

https://github.com/DominicWatts/docker-magento2

[2018-11-13 21:36] kmddevdani commented on #15849
https://github.com/magento/magento2/pull/15960 fixes it for me; I am on Magento 2.2.5.

[2018-11-13 22:29] oviliz commented on #3897
2016 and is a `closed` issue while the problem is still present in 2.2.4 at least...

[2018-11-14 03:33] vtransy commented on #11170
One more thing can cause this issue is webroot mapping. I see that in css url not include pub path. In my case I use apache 2 on Ubuntu I got this issue when map webroot like this:

**VirtualDocumentRoot /var/www/html/my_project/**

then I change to this:

**VirtualDocumentRoot /var/www/html/my_project/pub/**

and I resolved this isssue.

[2018-11-14 04:12] orlangur commented on #19142
@tomekjordan is there any reason to reload home page?

[2018-11-14 04:13] dan-ding commented on #15605
this looks like it will occur at least when a configurable product does not have an attribute set in which it's children do. For instance take the field news_from_date, which should be rather standard. If a configurable product does not have a value set for it (no entry in this example in catalog_product_entity_datetime), but it's children product do have it set, then this error occurs.

[2018-11-14 05:54] shachiarkatkar commented on #18983
@magento-engcom-team give me 2.2.5 instance

[2018-11-14 05:54] magento-engcom-team commented on #18983
Hi @shachiarkatkar. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-14 05:55] magento-engcom-team commented on #18983
Hi @shachiarkatkar, here is your [Magento instance](http://34.228.235.121/i-18983-2-2-5/).
Admin access: [http://34.228.235.121/i-18983-2-2-5//admin](http://34.228.235.121/i-18983-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-14 05:57] magento-engcom-team commented on #19196
Hi @vaibhavahalpara. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-11-14 06:16] DanielRuf commented on #19142
The logo should just link to the homepage. It should not work as a reload buttin imho.

[2018-11-14 06:17] DanielRuf commented on #19142
The logo should just link to the homepage. It should not work as a reload button imho.

[2018-11-14 07:07] engcom-backlog-nazar commented on #18791
Hi @gabs77   Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-14 07:07] #18791 closed, assigned to nobody

[2018-11-14 07:34] magento-engcom-team commented on #2856
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 07:43] delyriand opened #19201 "When click on "Proceed to checkout" in cart, we are disconnected"
### Preconditions (*)

1. Magento 2.2.5
2. sample data

### Steps to reproduce (*)

1. I log in with my customer account (go to customer/account/login/ and use customer sample roni_cost@example.com / roni_cost3@example.com)
2. I click on "View and Edit Cart" in the mini cart
3. Before total block is completely loaded, i click on "Proceed to checkout" (just after the first display of total block)

[2018-11-14 07:43] magento-engcom-team commented on #19201
Hi @delyriand. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-14 07:59] engcom-backlog-nazar commented on #2856
Hi @akai-z The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 07:59] #2856 closed, assigned to nobody

[2018-11-14 08:00] magento-engcom-team commented on #3724
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 08:13] magento-engcom-team commented on #17186
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-14 08:14] engcom-backlog-nazar commented on #3724
hi @forgeonline, The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 08:14] #3724 closed, assigned to nobody

[2018-11-14 08:15] magento-engcom-team commented on #5785
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 08:24] #5785 closed, assigned to nobody

[2018-11-14 08:38] engcom-backlog-nazar commented on #6161
Hi @blizam The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 08:38] #6161 closed, assigned to nobody

[2018-11-14 08:39] magento-engcom-team commented on #6733
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 08:44] gwharton commented on #19142
@DanielRuf. I agree there seems to be no reason to implement a reload button on the homepage, but i also dont think it doesnt do any harm, and if it helps some users on mobile then ....... Anyway, the PRs are there if it os decided to go forward with this.

[2018-11-14 08:52] gjportegies commented on #10838
I'm experiencing this problem on my Magento 2.1.12 as well. Is there any fix for the Magento 2.1.* ? Because the fixes mentioned earlier are all applying for Magento 2.2+

[2018-11-14 09:01] engcom-backlog-nazar commented on #6733
Hi @yumicom The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 09:01] #6733 closed, assigned to nobody

[2018-11-14 09:05] magento-engcom-team commented on #7543
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 09:09] #19190 closed, assigned to nobody

[2018-11-14 09:20] engcom-backlog-nazar commented on #7543
Hi @ovsokolov The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 09:20] #7543 closed, assigned to nobody

[2018-11-14 09:52] engcom-backlog-nazar commented on #7825
Hi @rbairwell The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 09:52] #7825 closed, assigned to nobody

[2018-11-14 09:53] magento-engcom-team commented on #9466
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 10:05] engcom-backlog-nazar commented on #9466
Hi @qbixx  The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 10:08] tuyennn commented on #5885
For those ones need to have it on your 2.1.x store. Use this patch
https://gist.github.com/tuyennn/77c3308b54b9abb7a907429c50166b6d

[2018-11-14 10:14] biplab-r commented on #10666
I am running Magento EE 2.2.6. Facing the same issue as well.

[2018-11-14 10:16] sneha-panchal opened #19205 "Bundle Product Option with input type is checkbox and add to cart with 3 values only 2 values added to cart"
All selections of a bundle option of type check box that were checked once are added to cart -- not all selected values displaying in cart.

### Preconditions (*)

1. Magento 2.2.5
2. sample data

### Steps to reproduce (*)
1. Open and edit this product Sprite Yoga Companion Kit (SKU : 24-WG080) (Bundle Product) on its own
2. Change first bundle option(option title is : Sprite Stasis Ball) input t

[2018-11-14 10:16] magento-engcom-team commented on #19205
Hi @sneha-panchal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-14 10:33] magento-engcom-team commented on #14046
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 10:40] CompactCodeEU commented on #9292
"it changed so it is not good". Magento team is working hard on improving on each aspect. They provide such a massive open source framework. Magento 2 is way better then Magento 1 in many regards. Often the bugs and features that are lacking are still comming from old Magento 1 code. We develop in Magento 2 as an agency full time and sure there are a lot of improvements to be done every update the

[2018-11-14 10:44] CompactCodeEU commented on #9292
In regards of this wysiwyg you are aware that in the upcoming 2.3 they are implementing the new wysiwyg which is far less buggy and had more features. https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.0OpenSource.html

[2018-11-14 11:00] engcom-backlog-nazar commented on #14046
Hi @sudaifhaider  The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 11:00] #14046 closed, assigned to nobody

[2018-11-14 11:09] magento-engcom-team commented on #15206
Hi @suryakant-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-11-14 11:11] magento-engcom-team commented on #12213
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 11:14] dwaynebartels commented on #16854
We've introduced a workaround in our code by overwriting the default billing and shipping address when available. In the case of new adresses the boolean value default billing or shipping is sufficient.

This way we can support older and newer versions of Magento.

[2018-11-14 11:15] vphalak commented on #19167
I think I see the source of the issue. The page source shows **/pub/** being appended to baseUrl for loading static assets. See below. However, I am not certain what causes it. Regenerated pub/static files several times. Permissions look ok too.

[code]
Found a really old issue with the same problem: https://github.com/magento/magento2/issues/2711

[2018-11-14 11:45] convenient opened #19207 "Redis session concurrency error not correctly handled (intermittent "Area Code Is Not Set" report)"
### Preconditions
1. Magento 2.1.15 (although I believe this will affect 2.2)
2. php 7.0
2. Use redis for sessions

### Steps to reproduce
1. Trigger a redis `ConcurrentConnectionsExceededException` when loading a web page, instructions for emulating this error are included in the section titled "To emulate locally"

### Expected result
1. A redis session error is reported, clearly highlighting th

[2018-11-14 11:45] magento-engcom-team commented on #19207
Hi @convenient. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-14 11:45] AidanThreadgold commented on #16101
Hi @ilievski  - you mentioned;

Are you able to share any of those logs or the process by which you came to identify that it was the payment method at fault here?

Thanks,

[2018-11-14 11:46] wojtekn commented on #19172
I also spot issue related to this and there is another way to reproduce it, in backend:

1. Install clean Magento 2.2.x or 2.3.x (sample data not needed)
2. Log in into admin backend
3. Create a second website, store and store view
4. Open the second website frontend
5. Register new customer account and subscribe to the newsletter during registration
6. Back to the backend
7. Edit customer, open N

[2018-11-14 11:51] magento-engcom-team commented on #19186
Hi @Dharmeshvaja91. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-14 11:56] leoquijano commented on #3724
Hello @engcom-backlog-nazar, I have a few questions:

1. Is this going to be fixed in the 2.2 line as well?
2. Which commits fix this in the 2.3 branch?

Thanks!

[2018-11-14 12:03] engcom-backlog-nazar commented on #3724
@leoquijano
1 - Yes.
2 - This was fixed by core team

[2018-11-14 12:10] hoangnm89 commented on #15620
i'm using 2.2.5, and got the same issue. in my case, the email has no subject:

![image](https://user-images.githubusercontent.com/655821/48481623-da21cf80-e840-11e8-9ed1-7ba35b0a5522.png)

[2018-11-14 12:13] magento-engcom-team commented on #15541
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-14 12:13] TomashKhamlai commented on #15541
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 12:13] #15541 closed, assigned to nobody

[2018-11-14 12:15] convenient commented on #19207
To confirm i have replicated this on a vanilla 2.1.15 EE install, although I do not believe that this is related to EE code in any way.

[2018-11-14 12:25] vivek-graas opened #19208 "RequireJS using incorrect baseUrl in developer mode"
### Preconditions (*)

1.CE 2.3-develop - HEAD (Latest commit 877bffd)
2.Vanilla magento 2.3 installation on Ubuntu 18.04 and MySQL, **Nginx, FPM**
3. Chrome / Firefox browser on Ubuntu desktop

### Steps to reproduce (*)

1. Install Magento 2.3 from source using contributor guidelines from the HEAD
2. Enable developer mode, clear pub/static and cache folders.
3. Load site in the browser. I get 40

[2018-11-14 12:34] vphalak commented on #19208
@magento-engcom-team give me 2.3-develop instance

[2018-11-14 12:34] magento-engcom-team commented on #19208
Hi @vphalak. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-14 12:35] magento-engcom-team commented on #19208
Hi @vphalak, here is your [Magento instance](http://34.228.235.121/i-19208-2-3-develop/).
Admin access: [http://34.228.235.121/i-19208-2-3-develop//admin](http://34.228.235.121/i-19208-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-14 12:41] vphalak commented on #19208
The test environment launched above also contains /pub/ in the baseUrl. However, there we don't see 404 errors. So this could be specific to nginx / fpm? I am using the vanilla nginx.conf.sample from the cloned repo. I am confused if the baseUrl should contain /pub/ or not.
(Note: a vanilla environment from few commit before, I don't get /pub/.)

[2018-11-14 12:44] leoquijano commented on #3724
Thanks @engcom-backlog-nazar.

About No. 2, can they share the commits here? They are important so we can reproduce the official fix while we wait for the upcoming release.

[2018-11-14 12:52] engcom-backlog-nazar commented on #3724
@forgeonline  seem like this commit have partial fix https://github.com/magento/magento2/pull/8353/files

[2018-11-14 12:53] manolismax opened #19209 "Validation on Product quantity in case of decimals"
Hello,
I have faced a validation issue, on product quantity when i work with decimals. I get a quantity validation error if i set decimal value to Increments

### Preconditions
Magento 2.2.6
sample data

### Steps to reproduce

#### On admin->productPage -> Advanced Inventory
Set :

- Minimum Qty Allowed in Shopping Cart = 0.5
- Qty Increments = 0.1

#### Frontend Product page
 Set:  quantity =1

[2018-11-14 12:53] magento-engcom-team commented on #19209
Hi @manolismax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-14 12:54] leoquijano commented on #3724
So it's only partially fixed?

[2018-11-14 12:59] engcom-backlog-nazar commented on #3724
@forgeonline in this commit fix only for 3 points, but on 2.3 release the all point are fixed.

[2018-11-14 13:07] engcom-backlog-nazar commented on #12213
Hi @linden2015 The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 13:07] #12213 closed, assigned to nobody

[2018-11-14 13:07] leoquijano commented on #3724
@engcom-backlog-nazar , I'm not the OP, btw :)

Thanks! If you get a chance, can you please let us know if you find the full 2.3 release fix so we can reproduce / backport that one to our setups?

[2018-11-14 13:09] engcom-backlog-nazar commented on #3724
@forgeonline ok, i will try to find this.

[2018-11-14 13:10] magento-engcom-team commented on #13512
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-14 13:31] magento-engcom-team commented on #15062
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-14 13:38] Khushbu-Webkul-QA opened #19210 "In Bundle type product,at front end do not show the default quantity of product after selecting the multiple select input type"
### Preconditions (*)

1. 2.2.6
2.

### Steps to reproduce (*)

1. From back end>add bundle type product>click on bundle item>click on add option>give option title> input type( MULTIPLE SELECT)>add product to option>give default quantity>click on IS DEFAULT>save the product>on front end>do not show the default quantity
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. On front

[2018-11-14 13:38] magento-engcom-team commented on #19210
Hi @khushbu0912. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-14 13:44] drbservices commented on #14046
@engcom-backlog-nazar Thank you very much for the update on this one, but can you please send a link to the commit that fixes this issue on 2.3 release branch? Just so we can implement the fix on our production environment while the 2.3 is not officially release?

[2018-11-14 14:09] engcom-backlog-nazar commented on #14046
@sudaifhaider this was fixed by the core team, so i'm not able to share with commit.

[2018-11-14 14:14] magento-engcom-team commented on #7623
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96347`, `MAGETWO-96348` were created

[2018-11-14 14:18] orlangur commented on #19142
@DanielRuf @gwharton just trying to understand the use case as home page does not seem to contain any dynamic elements which would require refresh. Just in case when connection is interrupted probably but it would be strange to locate logo on page, if it is loaded, instead of constantly located refresh button in browser.

Asking for evaluation by some UX person from Magento now.

[2018-11-14 14:21] DanielRuf commented on #19142
Exactly. Do not replicate / duplicate browser navigation inputs as this is not good UX.

[2018-11-14 14:42] TomashKhamlai commented on #15062
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-14 14:42] #15062 closed, assigned to nobody

[2018-11-14 14:46] craigcarnell commented on #9454
@onepack Also get this issue on 2.2.6. Do you have any SQL that deletes the duff entries I could use?

[2018-11-14 14:56] torhoehn commented on #19115
@engcom-backlog-nazar We updated to Magento ver. 2.3.0-beta32. Now it's working again.

[2018-11-14 14:57] apple4ever commented on #15605
That's possible... now to figure out which attribute and which products are like that.

I would think this would be better handled by Magento though.

[2018-11-14 15:48] maderlock commented on #1146
It was closed, but not fixed.

[2018-11-14 15:48] systems-diplomatic opened #19211 "Suddenly started using another logged in user's session"
### Preconditions (*)
1. Magento 2.2.6 (but we have also seen it on 2.2.4)
2. FPC enabled or disabled
3. SID NOT included in URL
4. At least one item (doesn't matter which one) needs to be in the shopping cart in two user's sessions

### Steps to reproduce (*)
1. Click on link to view cart (not minicart) or go to checkout

### Expected result (*)
1. The user must only see their own details, none f

[2018-11-14 15:49] magento-engcom-team commented on #19211
Hi @systems-diplomatic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-11-14 15:51] asim-vax opened #19212 "Magento EE 2.2.6 - adblocker blocks checkout functionality with minified/merged js"
### Preconditions (*)
1.php 7.1
2. Magento EE 2.2.6

### Steps to reproduce (*)
) Installed vanilla Magento EE 2.2.6
2) created product (admin panel -> catalog -> products -> new product)
3) admin panel -> store -> config -> sales -> google API -> enabled -> YES
4) admin panel -> store -> config -> sales -> google API -> account number -> 12345
5) admin panel -> store -> config -> advanced -> deve

[2018-11-14 15:51] systems-diplomatic commented on #19211
@magento-engcom-team give me 2.2.6 instance

[2018-11-14 15:51] magento-engcom-team commented on #19212
Hi @asim-vax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-14 15:51] magento-engcom-team commented on #19211
Hi @systems-diplomatic. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-14 15:52] asim-vax commented on #19212
Possibly related to: #12428

[2018-11-14 15:52] magento-engcom-team commented on #19211
Hi @systems-diplomatic, here is your [Magento instance](http://34.228.235.121/i-19211-2-2-6/).
Admin access: [http://34.228.235.121/i-19211-2-2-6//admin](http://34.228.235.121/i-19211-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-14 15:59] TomashKhamlai commented on #17429
According to this document https://devdocs.magento.com/guides/v2.2/mtf/mtf_quickstart/mtf_quickstart_environment.html
Firefox 45.0 ESR is still supported browser.

![not_fixed](https://user-images.githubusercontent.com/11827230/48494602-e4d76700-e836-11e8-9285-b28a29480105.gif)

[2018-11-14 16:50] orlangur commented on #19212
@asim-vax, according to https://github.com/magento/magento2/issues/12428#issuecomment-416556613 this problem is reproduced only with Magento Commerce.

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2018-11-14 17:03] magento-engcom-team commented on #19205
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-11-14 17:04] maheshWebkul721 commented on #19205
@magento-engcom-team give me 2.2-develop instance

[2018-11-14 17:04] magento-engcom-team commented on #19205
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-14 17:05] magento-engcom-team commented on #19205
Hi @maheshWebkul721, here is your [Magento instance](http://34.228.235.121/i-19205-2-2-develop/).
Admin access: [http://34.228.235.121/i-19205-2-2-develop//admin](http://34.228.235.121/i-19205-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-14 17:35] orlangur commented on #19142
@gwharton would be great to understand why it is not clickable in the first place but I doubt it is possible)

[2018-11-14 17:58] gwharton commented on #19142
Yeah, I did check when the Homepage logo click check was introduced and it was all the way back to the first alpha commit, i.e its always been there.

[2018-11-14 18:24] magento-engcom-team commented on #19205
@maheshWebkul721 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-14 18:31] maheshWebkul721 commented on #19205
@magento-engcom-team give me 2.3-develop instance

[2018-11-14 18:31] magento-engcom-team commented on #19205
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-14 18:31] magento-engcom-team commented on #19205
Hi @maheshWebkul721, here is your [Magento instance](http://34.228.235.121/i-19205-2-3-develop/).
Admin access: [http://34.228.235.121/i-19205-2-3-develop//admin](http://34.228.235.121/i-19205-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-14 18:32] magento-engcom-team commented on #19205
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96351` were created

[2018-11-14 18:39] fbkaasa commented on #9700
We are experiencing problems as well
Magento 2.2.6
<env:Text xml:lang="nb">Internal Error. Details are available in Magento log file. Report ID: webapi-5beb501e8c3b7</env:Text>

But there are no var/report/api folder or files

[2018-11-14 19:01] adamstapley commented on #4680
Did anybody ever find a fix for this or work around? We have a site that personalises gifts and can't see what text people want on items if they enter more than 50 characters.

[2018-11-14 19:31] kalpeshhiran opened #19214 "Login user programmatically showing wrong default header message "Default welcome msg!" instead of showing "Welcome, user!""
### Description

When you login to Magento 2.2.6 programmatically with code below, header show default message "Default welcome msg!" instead of "Welcome, user!"

// Load customer session
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customerSession->setCustomerAsLoggedIn($customer);

### Preconditions
1. Magento 2.2.6

### Steps to reproduce
1. Login with setCustom

[2018-11-14 19:31] magento-engcom-team commented on #19214
Hi @kalpeshhiran. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-14 22:55] magento-engcom-team commented on #19127
Hi @terrybakshi. Thank you for your report.
The issue has been fixed in magento/magento2#19143 by @vovayatsyuk in 2.3-develop branch
Related commit(s):
 - [e827b3220c12cc8e793e0486cd9425e4ca4c2853](https://github.com/magento/magento2/commit/e827b3220c12cc8e793e0486cd9425e4ca4c2853)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-14 22:55] magento-engcom-team commented on #17833
Hi @rossmc. Thank you for your report.
The issue has been fixed in magento/magento2#19144 by @vpodorozh in 2.3-develop branch
Related commit(s):
 - [57fcc1b24c4c582a96930ff7465e5f74417f2bcc](https://github.com/magento/magento2/commit/57fcc1b24c4c582a96930ff7465e5f74417f2bcc)
 - [fe73cf00549475b0ffc5a470e10ba4f1f3893b78](https://github.com/magento/magento2/commit/fe73cf00549475b0ffc5a470e10ba4f1f38

[2018-11-14 22:55] magento-engcom-team commented on #19101
Hi @davidlhoumaud. Thank you for your report.
The issue has been fixed in magento/magento2#19130 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [fe7b9ac55097b64a023e607acacb1857f1926367](https://github.com/magento/magento2/commit/fe7b9ac55097b64a023e607acacb1857f1926367)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-14 22:55] #19101 closed, assigned to rogyar, vasilii-b

[2018-11-15 00:59] friendscottn commented on #16779
@adkanojia
@magefan 's fix actually does fix the issue. It's not to prevent the condition from happening.
Your description of "You have not canceled the item" is the generic string that hides the underlying foreign key constraint error. In other words it's the same issue.

Your custom method is probably not getting picked up because the updateCustomerRuleUsages
 method is unfortunately private.

I

[2018-11-15 01:39] magento-engcom-team commented on #19214
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-15 01:40] orlangur commented on #19214
@kalpeshhiran, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

Note that welcome message is displayed using https://devdocs.magento.com/guides/v2.2/extension-dev-guide/cache/page-caching/private-content.html, so, after login corresponding session needs to be invalidated.

[2018-11-15 01:40] #19214 closed, assigned to orlangur

[2018-11-15 04:29] kalpeshhiran commented on #19214
@orlangur I assume this is a bug and I am not asking for any customization.

When someone login to Magento 2.2.6 either with login form or login function provided by Magento **setCustomerAsLoggedIn**, behaviour should be same.

I am looking to see just default msg which is shown after user login (includes fullname), and not really looking to customize anything.

I will appreciate if anyone can hel

[2018-11-15 05:33] Dharmeshvaja91 commented on #19186
Hello,
@magento-engcom-team give me 2.3-develop instance

[2018-11-15 05:33] magento-engcom-team commented on #19186
Hi @Dharmeshvaja91. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-15 05:33] magento-engcom-team commented on #19186
Hi @Dharmeshvaja91, here is your [Magento instance](http://34.228.235.121/i-19186-2-3-develop/).
Admin access: [http://34.228.235.121/i-19186-2-3-develop//admin](http://34.228.235.121/i-19186-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-15 06:25] JackWormUK opened #19215 "x-magento-cache-control - Aditional Variables Included"
### Preconditions (*)

1. Magento 2.2.6 CE
2. Varnish 5.2.1
3. CentOS 7 with WHM/Cpanel and Apache
4. Engintron (Nginx)
5. APACHE cache modules through EasyApache4 (for reference and in case they are relevant);
mod_cache, mod_cache_disk, mod_cache_socache, mod_expires, mod_file_cache, mod_pagespeed

### Steps to reproduce (*)

1. Install Magento 2.2.6 CE through composer
composer create-project --

[2018-11-15 06:30] JackWormUK commented on #19215
@magento-engcom-team

Yes, i can reproduce this on a blank vanilla magento install, which is installed as above

[2018-11-15 06:37] Dharmeshvaja91 commented on #19186
Hi @magento-engcom-team I am not able to reproduce the issue on vanilla instance 2.3.
so we can close the issue.

[2018-11-15 07:13] balodisu commented on #13258
On 2.2.5 this is not fixed.

[2018-11-15 07:50] magento-engcom-team commented on #12419
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 08:07] engcom-backlog-nazar commented on #13512
Hi @vishalmangoitsolutions The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 08:07] #13512 closed, assigned to nobody

[2018-11-15 08:10] magento-engcom-team commented on #13513
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 08:21] engcom-backlog-nazar commented on #13513
Hi @sergei-sss The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 08:21] #13513 closed, assigned to nobody

[2018-11-15 08:25] #11372 closed, assigned to nobody

[2018-11-15 08:28] #12679 closed, assigned to nobody

[2018-11-15 08:30] engcom-backlog-nazar commented on #17115
@DanielRuf, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-11-15 08:30] #17115 closed, assigned to engcom-backlog-nickolas

[2018-11-15 08:31] engcom-backlog-nazar commented on #18767
@kerlama, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-11-15 08:31] #18767 closed, assigned to nobody

[2018-11-15 08:32] mtsmtyuta commented on #5730
CatalogSearch/Block/Result.php has this function
    public function setListOrders()
    {
        $category = $this->catalogLayer->getCurrentCategory();
        /* @var $category \Magento\Catalog\Model\Category */
        $availableOrders = $category->getAvailableSortByOptions();
        unset($availableOrders['position']);
        $availableOrders['relevance'] = __('Relevance');

        $this->

[2018-11-15 08:32] engcom-backlog-nazar commented on #17902
@JigSays, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-11-15 08:32] #17902 closed, assigned to nobody

[2018-11-15 08:33] magento-engcom-team commented on #14071
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-15 08:34] engcom-backlog-nazar commented on #18845
@Mor10Mort, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-11-15 08:34] #18845 closed, assigned to navarr

[2018-11-15 08:45] engcom-backlog-nazar commented on #12419
Hi @bnymn The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 08:45] #12419 closed, assigned to nobody

[2018-11-15 08:47] magento-engcom-team commented on #12336
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 08:54] engcom-backlog-nazar commented on #12336
Hi @pioneerathletics The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 08:54] #12336 closed, assigned to nobody

[2018-11-15 08:57] ghost opened #19218 "ReflectionException"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.1.23
3. Centos 7

### Steps to reproduce (*)

1. php bin/magento

### Expected result (*)

1.  Information

### Actual result (*)

1.
[code]

[2018-11-15 08:57] magento-engcom-team commented on #19218
Hi @SerhanYavcin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-15 08:59] victortodoran opened #19219 "Magento 2.2.3 Admin Grid showing wrong date."
### Context (*)
Admin Grids are displaying the wrong date.
For the sake of this issue I will only refer to the customer grid which is native Magento.

### Preconditions (*)

1. Magento 2.2.3
2. The server running Magento and the Mysql server have the same timezone. UTC.

### Steps to reproduce (*)

1. Create customer at YYYY-MM-DD 01:00:00. e.g 2018-05-22 01:00:00.
    Or just set created_at to re

[2018-11-15 08:59] magento-engcom-team commented on #19219
Hi @victortodoran. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-15 09:09] magento-engcom-team commented on #12581
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 09:11] engcom-backlog-nazar commented on #19218
Hi @SerhanYavcin what's wrong here ?

[2018-11-15 09:11] TomashKhamlai commented on #17429
@sidolov, please check.

[2018-11-15 09:22] victortodoran commented on #19219
Yes

[2018-11-15 09:30] magento-engcom-team commented on #10790
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 09:34] #10790 closed, assigned to nobody

[2018-11-15 09:38] #19219 closed, assigned to nobody

[2018-11-15 09:38] magento-engcom-team commented on #12647
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 09:39] #12647 closed, assigned to TomashKhamlai

[2018-11-15 09:42] magento-engcom-team commented on #12647
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 09:45] Flowlance opened #19220 "bin/magento setup:upgrade causes metadata locks"
### Preconditions (*)
1. Magento 2.2.6
2. MySQL 5.7.23 (Amazon RDS)
3. Jenkins
4. A huge store with 250000 products, and each product has more than 200 attributes.

### Steps to reproduce (*)
1. We're using Jenkins for continuous integration.
2. When running "bin/magento setup:upgrade" from the jenkins build server, it takes a really long time (sometimes 1 hour+).
3. After viewing MySql server pro

[2018-11-15 09:45] magento-engcom-team commented on #19220
Hi @Flowlance. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-15 10:01] rikwillems opened #19221 "Backend product grid show price of default store view not the default value"
### Preconditions (*)

1. Magento 2.2.3
2. Multistore setup

### Steps to reproduce (*)

1. Add a product and set a price
2. Switch to (default) store view and set new price
3. Go to product grid

### Expected result (*)

1. See the default price value

### Actual result (*)

1. See the price of the default store view

[2018-11-15 10:01] magento-engcom-team commented on #19221
Hi @rikwillems. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-15 10:03] SerhanYavcin commented on #19218
I'm getting an error

[code]

[2018-11-15 10:05] engcom-backlog-nazar commented on #19218
@SerhanYavcin  run php bin/magento setup:di:compile

[2018-11-15 10:06] engcom-backlog-nazar commented on #19218
@SerhanYavcin have you any 3rd party modules ?

[2018-11-15 10:08] magento-engcom-team commented on #13384
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 10:17] jorgb90 commented on #18969
@engcom-backlog-nazar We need to do this every time when coming back from production mode.

<img width="592" alt="schermafbeelding 2018-11-15 om 11 16 00" src="https://user-images.githubusercontent.com/7294081/48546208-10566200-e8c8-11e8-8576-026f414717ed.png">

[2018-11-15 10:17] magento-engcom-team commented on #14052
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 10:21] engcom-backlog-nazar commented on #13384
Hi @ulicodex The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 10:21] #13384 closed, assigned to nobody

[2018-11-15 10:27] #14052 closed, assigned to nobody

[2018-11-15 10:30] SerhanYavcin commented on #19218
@engcom-backlog-nazar  I tried, but I got the same result.

[2018-11-15 10:35] eTonki opened #19223 "How can I get the "Qty Increments" in addtocart.phtml ?"
In Magento 2.2.6 from the file

"/app/design/frontend/THEME/Magento_Catalog/templates/product/view/addtocart.phtml"
How can I get the "Qty Increments" that I set as in the screenshot?
 [Screenshot](https://i.stack.imgur.com/KQRt9.png)

I have done a lot of tests but they do not work, for example:

<?php echo $product->getStockItem()->getData('qty_increments') ?>
<?php echo $block->getProductQtyInc

[2018-11-15 10:35] magento-engcom-team commented on #19223
Hi @eTonki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-15 10:39] eTonki opened #19224 "How can I get the "Qty Increments" in addtocart.phtml ??"
### Summary (*)
In Magento 2.2.6 from the file

"/app/design/frontend/THEME/Magento_Catalog/templates/product/view/addtocart.phtml"
How can I get the "Qty Increments" that I set as in the screenshot?

### Examples (*)
 [Screenshot](https://i.stack.imgur.com/KQRt9.png)

### Proposed solution
I have done a lot of tests but they do not work, for example:

[code]

[2018-11-15 10:39] magento-engcom-team commented on #19224
Hi @eTonki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-15 10:41] #19223 closed, assigned to nobody

[2018-11-15 10:49] magento-engcom-team commented on #7906
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 10:52] brideo commented on #9466
Is there a particular commit we can look at for patching?

[2018-11-15 11:11] steffen-wirth commented on #16016
@engcom-backlog-pb i also need this as a rule condition - what was the reason for removing it? It is also visible in 2.3 documentation of price rules

[2018-11-15 11:52] engcom-backlog-nazar commented on #13631
Hi @schmengler The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 11:52] #13631 closed, assigned to nobody

[2018-11-15 11:54] magento-engcom-team commented on #13147
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 12:09] engcom-backlog-nazar commented on #13147
Hi @aCicchelli ,The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 12:09] #13147 closed, assigned to nobody

[2018-11-15 12:11] magento-engcom-team commented on #16406
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-15 12:19] sibhis commented on #8898
I'm facing same issue..Did you find any solution?

[2018-11-15 12:44] sibhis commented on #8898
In my case, there is no id in the element

[2018-11-15 12:46] sibhis commented on #8898
https://magento.stackexchange.com/questions/154510/magento-2-how-to-make-validation-on-same-name-array-input

This link is helped for the solution...

[2018-11-15 12:49] SerhanYavcin commented on #19218
@engcom-backlog-nazar  Do you have a solution to this error?

[2018-11-15 12:51] TomashKhamlai commented on #7906
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

![2 3 0-magento-trim](https://user-images.githubusercontent.com/11827230/48553941-ad73c380-e8e5-11e8-8b8b-4e5d07522161.gif)

[2018-11-15 12:51] #7906 closed, assigned to nobody

[2018-11-15 12:54] engcom-backlog-nazar commented on #16406
Hi @kanduvisla this issue still present  on 2.3-develop branch
![selection_206](https://user-images.githubusercontent.com/40756439/48554169-53bfc900-e8e6-11e8-8882-ca79a30fba4f.png)

[2018-11-15 12:57] magento-engcom-team commented on #10411
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 12:59] TomashKhamlai commented on #10411
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 13:04] engcom-backlog-nazar commented on #19218
@SerhanYavcin, i have no idea, try recheck you permission to generated folders, delete all folders in "generated" but dont delete the .htaccess file

[2018-11-15 13:06] #10411 closed, assigned to nobody

[2018-11-15 13:10] magento-engcom-team commented on #14063
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 13:12] TomashKhamlai commented on #14063
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 13:12] #14063 closed, assigned to nobody

[2018-11-15 13:15] SerhanYavcin commented on #19218
@engcom-backlog-nazar I tried and recheck permisson. generated folder permisson value 777

[2018-11-15 13:17] magento-engcom-team commented on #18387
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-15 13:18] engcom-backlog-nazar commented on #19218
@SerhanYavcin I'm no have this error on clean magento 2.2.6 instance

[2018-11-15 13:20] poveu commented on #8810
Any chance on fixing this on 2.2.6?

[2018-11-15 13:30] #14140 closed, assigned to nobody

[2018-11-15 13:35] ihor-sviziev commented on #1146
Hi @maderlock,
If this issue still reproducing on latest magento versions - please report separate issue with steps to reproduce, actual and expected results.

[2018-11-15 13:41] TomashKhamlai commented on #16499
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 13:41] #16499 closed, assigned to nobody

[2018-11-15 13:46] magento-engcom-team commented on #17225
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-15 13:48] TomashKhamlai commented on #17225
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-15 13:48] #17225 closed, assigned to mhauri

[2018-11-15 13:55] craigcarnell commented on #17225
@TomashKhamlai Define soon please.

[2018-11-15 14:03] magento-engcom-team commented on #19220
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-15 14:06] TomashKhamlai commented on #19220
@Flowlance do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

Could you please share your experience? How the products and attributes were moved to vanilla Magento Open Source instance?

[2018-11-15 14:08] magento-engcom-team commented on #19221
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-15 14:48] TomashKhamlai commented on #19221
@magento-engcom-team give me 2.3-develop instance

[2018-11-15 14:48] magento-engcom-team commented on #19221
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-15 14:48] ksz2013 opened #19225 "Body class containes _ instead of -"
### Summary (*)
Body classes generation has changed.

### Examples (*)
For the latest 2.3 version in this commit https://github.com/magento/magento2/commit/00fc06d4466e9d2ab61714f4741224b3b016d57a#diff-991e58213a3fece7cb59fd74cb824f8f

The unescape for _ for the body classes was removed. Is this necessary?
With this change if i have a controller Catalog/Product/View inside my Namespace/Modulename

[2018-11-15 14:48] magento-engcom-team commented on #19225
Hi @ksz2013. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-15 14:48] magento-engcom-team commented on #19221
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-19221-2-3-develop/).
Admin access: [http://34.228.235.121/i-19221-2-3-develop//admin](http://34.228.235.121/i-19221-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-15 14:55] heldchen commented on #18927
I think no one disagrees with the notion that `getTableName` should be used. unfortunately, not all thrid party extensions are following best practizes.

our customers currently are using payment extensions that have long names, and as such run into this problem once upgraded to 2.3. for those customers that already have a production magento 2.2 store, chances are basically zero that the extension

[2018-11-15 15:15] Aqib133 opened #19228 "Magento 2 Header Sign In Sign Out Issue on Home Page"
### Preconditions (*)

1. Magento 2.2
2. Ultimo theme

### Steps to reproduce (*)

1.Go to home page

2.Click 'Sign In' from header

3.Enter login credentials to enter customer account

4.Click website logo to go back to home page

5.Notice that on the home page the header is still showing 'Sign In' instead of showing the customer is logged in and a 'Sign Out' link.

### Expected result (*)

1. Si

[2018-11-15 15:15] magento-engcom-team commented on #19228
Hi @Aqib133. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-15 15:21] martin-ramos commented on #18781
I use Magento 2.2.6 and I have the same problem with image placeholders. I update to 2.2-dev and I have the same problem. Could you show me the code that correct this issue? or Could you tell me how did you resolve this problem?

[2018-11-15 15:37] ewengcameron commented on #19168
Any update on this? We are experiencing this issue on 2.2.6.

[2018-11-15 16:07] paulkirow opened #19229 "Remove from cart error in IE11"
### Preconditions

1.  Magento ver. 2.2.5
2.  WeltPixel Pearl theme
3. Internet Explorer 11.345.17134.0

### Steps to reproduce

1. Add item to cart.
2. Remove item from cart.

### Expected result

1. The item should be removed from the cart

### Actual result

1. The item is not removed from the cart.
There is an error in `~\vendor\magento\module-checkout\view\frontend\web\js\sidebar.js` at line

[2018-11-15 16:07] magento-engcom-team commented on #19229
Hi @paulkirow. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-15 16:28] friendscottn opened #19230 "Can't Cancel Order"
### Preconditions (*)

1. 2.2.6
2. Allow guest checkout
3. Have a coupon you can use

### Steps to reproduce (*)

1. Checkout as a guest using a valid coupon
2. After placing the order, register an account using the create account button on the order confirmation page.
3. Login to the admin
4. Make sure to get the order to a processing state.
5. Try to cancel the order

### Expected result (*)

1.

[2018-11-15 16:29] magento-engcom-team commented on #19230
Hi @friendscottn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-15 16:37] andrewhowdencom commented on #473
Googlers: https://github.com/magento-engcom/msi/wiki

[2018-11-15 16:50] rusdragos commented on #19225
I'm interested in this as well, it is breaking functionality in many of our extensions. Is this change really necessary?

[2018-11-15 16:58] DanielRuf commented on #19225
I can not see this in the linked diff. Can you point us to the right change?
Also this commit just adds support for BEM classes.

[2018-11-15 17:04] ksz2013 commented on #19225
Hi @DanielRuf ,

https://github.com/magento/magento2/commit/00fc06d4466e9d2ab61714f4741224b3b016d57a#diff-9715340011b3760b01c96d997e7e7894R466

Basically here it was changed

$className = preg_replace('#[^a-z0-9]+#', '-', strtolower($className));

to

$className = preg_replace('#[^a-z0-9-_]+#', '-', strtolower($className));

But this leaves body classes with _ in them such as namespace_modulename-

[2018-11-15 17:39] mariamghalleb commented on #18467
@engcom-backlog-nazar  how can I fix it on my website? I don't intend to update

[2018-11-15 17:42] MuhammadUsman1947 opened #19231 "Magento ver. 2.2.5 , Checkout errors"
Magento ver. 2.2.5 , Checkout errors, SEE SNAPSHOT.

  **Summary of the issue :**

Was working on theme modification, added custom js and css files just.

  **Information on your environment**

Magento ver. 2.2.5
Current PHP version:  7.1
Godaddy Hosting

  **Steps to reproduce**

Dont know, you can check live https://osakajdmmotors.com/

Let me know if there is any solution.

Thanks
![checkout pa

[2018-11-15 17:42] magento-engcom-team commented on #19231
Hi @MuhammadUsman1947. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-15 18:09] brampta commented on #7624
I found that this solution works for me on 2.2.6, now old prices are showing for configurable products in the catalog, hower this causes a new bug, on product pages the old price is initially shown for a second or 2 and then disappears in a flash :(. When selecting an option it goes back to displaying but that was always like that. Seems like there is some Ajax rewriting the price after the fact o

[2018-11-15 18:13] magento-engcom-team commented on #19230
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-11-15 18:13] maheshWebkul721 commented on #19230
@magento-engcom-team give me 2.2-develop instance

[2018-11-15 18:13] magento-engcom-team commented on #19230
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-15 18:14] magento-engcom-team commented on #19230
Hi @maheshWebkul721, here is your [Magento instance](http://34.228.235.121/i-19230-2-2-develop/).
Admin access: [http://34.228.235.121/i-19230-2-2-develop//admin](http://34.228.235.121/i-19230-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-15 18:25] andkirby opened #19233 "Scheduled export doesn't read extension from \Magento\ImportExport\Model\Export\Adapter\AbstractAdapter::getFileExtension()"
### Summary (*)

Scheduled export doesn't read extension from `\Magento\ImportExport\Model\Export\Adapter\AbstractAdapter::getFileExtension()` but uses formatter XML configuration name instead.

Magento `v2.2.5`

### Examples (*)
Let's say we added a specific XML formatter in `etc/export.xml` in our module:
[code]
Next step, we implement writer
[code]

When I use regular export - it works as expec

[2018-11-15 18:51] novikor commented on #13258
@balodisu , please reopen  the issue if steps to reproduce and the problem are still actial

[2018-11-15 18:54] magento-engcom-team commented on #19230
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96384` were created

[2018-11-15 19:03] maheshWebkul721 commented on #19228
@Aqib133 , please test with Magento Default Luma theme, issue is not reproducible.

[2018-11-15 19:41] giordhano commented on #13984
Same here

[2018-11-15 20:40] denysaw commented on #10605
This SHOULD be fixed for sure! Because Merging and Bundling JS in admin area for us caused error in completeLoad() method of lib/web/requirejs/require.js on Catalog -> Products page. It TOTALLY STUCKS in FF, and mostly totally stucks in Chrome! This is another huge stone to Magento's "stability". I even don't pray you will read this and fix this bug in a year. Community version should be fixed by

[2018-11-15 20:44] CompactCodeEU commented on #10605
@denysaw what version are you using?

[2018-11-15 20:47] Jean-MarcS opened #19234 "Magento 2.1.x deploy static lost SQL connection if session in DB"
### Preconditions (*)

1. Magento 2.1.7 (but had the same issue on precedent 2.1.X versions)
2. Magento on a LXC container and MariaDB 10.2 on another one (on Proxmox), working perfectly except that
3. System on production mode
4. Tested with MariaDB with Galera cluster and without
5. All MariaDB timeout variables set to more than 60s, buffers seem large enough

### Steps to reproduce (*)

1. Set

[2018-11-15 20:47] magento-engcom-team commented on #19234
Hi @Jean-MarcS. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-15 21:02] denysaw commented on #10605
2.2.6 CE, sure. I console.logged all js files, which goes thru evaluation and there's just Magento's files ( Dunno even what to think. My only chance was to disable merge/bundle in admin area. But it's unreal, yep. Even tried to add scope 'store' rows in DB with configs (merge/bundling) just for store. Nothing (

[2018-11-15 21:39] CompactCodeEU commented on #10605
How is Magento installed? Did you composer install it or?

[2018-11-15 22:35] adarshkhatri commented on #19210
@magento-engcom-team give me 2.2.4 instance

[2018-11-15 22:57] magento-engcom-team commented on #13136
Hi @diazwatson. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-15 23:09] jrrimando commented on #9762
Is there any updates to this issue? I'm hitting a development roadblock as well.

[2018-11-16 00:26] pkjoshi opened #19235 "Cannot set Product Enable status to disabled"
### Preconditions (*)

1. Magnento version 2.2.1
2.Also Checked on Magento 2.2.5

### Steps to reproduce (*)

1. even on fresh install the problem is there.
2.

### Expected result (*)

1. [Screenshots, logs or description]
when I change the default from enabled to disabled for status attribute, the status should be disabled on adding a new product and should remain disabled, until I chose to enab

[2018-11-16 04:10] magento-engcom-team commented on #18652
Hi @Hoszi. Thank you for your report.
The issue has been fixed in magento/magento2#19179 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [8f463db4808afc9f8f4908a4dee65f3abe981eba](https://github.com/magento/magento2/commit/8f463db4808afc9f8f4908a4dee65f3abe981eba)
 - [63c9ea46673e58f2712da5a768d0840ece184152](https://github.com/magento/magento2/commit/63c9ea46673e58f2712da5a768d0840ece184

[2018-11-16 04:10] magento-engcom-team commented on #7849
Hi @quienti. Thank you for your report.
The issue has been fixed in magento/magento2#19174 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [0566957554fa964f79518b7b93920fe12db39c8a](https://github.com/magento/magento2/commit/0566957554fa964f79518b7b93920fe12db39c8a)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-16 04:10] magento-engcom-team commented on #18939
Hi @progammer-rkt. Thank you for your report.
The issue has been fixed in magento/magento2#19174 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [0566957554fa964f79518b7b93920fe12db39c8a](https://github.com/magento/magento2/commit/0566957554fa964f79518b7b93920fe12db39c8a)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-16 04:10] magento-engcom-team commented on #5929
Hi @JacobDrummond. Thank you for your report.
The issue has been fixed in magento/magento2#19170 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [284daec007cc9cc5bacc736e3d6ce00ebdf751ef](https://github.com/magento/magento2/commit/284daec007cc9cc5bacc736e3d6ce00ebdf751ef)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-16 04:10] magento-engcom-team commented on #18532
Hi @oleksii-lisovyi. Thank you for your report.
The issue has been fixed in magento/magento2#19170 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [284daec007cc9cc5bacc736e3d6ce00ebdf751ef](https://github.com/magento/magento2/commit/284daec007cc9cc5bacc736e3d6ce00ebdf751ef)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-16 04:10] magento-engcom-team commented on #6803
Hi @R4c00n. Thank you for your report.
The issue has been fixed in magento/magento2#18952 by @progreg in 2.3-develop branch
Related commit(s):
 - [152b0924d652de96bb49a93959bb3b304e2601ba](https://github.com/magento/magento2/commit/152b0924d652de96bb49a93959bb3b304e2601ba)
 - [7fd52e7ea8f7c7f77702d1b7a4665e715eee1ac3](https://github.com/magento/magento2/commit/7fd52e7ea8f7c7f77702d1b7a4665e715eee1

[2018-11-16 04:10] #6803 closed, assigned to progreg

[2018-11-16 04:10] magento-engcom-team commented on #12970
Hi @kirillvidyuk. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#2315 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [f631c90376dd2d217686e781147cc707bd816c8f](https://github.com/magento/magento2/commit/f631c90376dd2d217686e781147cc707bd816c8f)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-16 04:10] magento-engcom-team commented on #18956
Hi @larsroettig. Thank you for your report.
The issue has been fixed in magento/magento2#18958 by @larsroettig in 2.3-develop branch
Related commit(s):
 - [54f4802d5a9ef58418e395e8d12ab4931907d6eb](https://github.com/magento/magento2/commit/54f4802d5a9ef58418e395e8d12ab4931907d6eb)
 - [144ea18392229aef98c5a21165fba106bd97840d](https://github.com/magento/magento2/commit/144ea18392229aef98c5a21165fb

[2018-11-16 04:10] #18956 closed, assigned to larsroettig

[2018-11-16 04:10] magento-engcom-team commented on #18979
Hi @nthurston. Thank you for your report.
The issue has been fixed in magento/magento2#19027 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [c720d972108e6991f127f6f71e63485290dabe61](https://github.com/magento/magento2/commit/c720d972108e6991f127f6f71e63485290dabe61)
 - [5fa66213fa852793694b4aee831bb93969bff5d0](https://github.com/magento/magento2/commit/5fa66213fa852793694b4aee831bb939

[2018-11-16 04:10] #18979 closed, assigned to vasilii-b

[2018-11-16 04:10] magento-engcom-team commented on #17488
Hi @paul-blundell. Thank you for your report.
The issue has been fixed in magento/magento2#18973 by @prakashpatel07 in 2.3-develop branch
Related commit(s):
 - [97d5e9bd3ad830edbcb392790b282698e092c032](https://github.com/magento/magento2/commit/97d5e9bd3ad830edbcb392790b282698e092c032)
 - [b8882988a5850232efbf2c3b996d6d9aebfa2903](https://github.com/magento/magento2/commit/b8882988a5850232efbf2c3

[2018-11-16 04:36] AbdulKadir-Agoliya commented on #7874
Using Magento 2.2.5  Same issue.

when remove one category from product and then save category it will throw me error  like :

Could not save product "55" with position 0 to category 4 {"exception":"[object] (Magento\\Framework\\Exception\\CouldNotSaveException(code: 0): Could not save product \"55\" with position 0 to category 4 at /home/luxmadein/public_html/vendor/magento/module-catalog/Model/C

[2018-11-16 05:02] vajadharmesh opened #19241 "Invoice PDF and Shipment PDF does not generate as per storefront language"
### Preconditions (*)

1.Go to Admin >> SALES >> Invoices >> Click on View >> Download the Invoice PDF

### Steps to reproduce (*)

1.Create multiple stores view from admin, set each store view a different language. each store view display proper language as set.
2.Now problem is that when you generate invoice PDF its not consider the store view language from where the order was placed.
3.Same pro

[2018-11-16 05:02] magento-engcom-team commented on #19241
Hi @vajadharmesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-16 05:42] Dharmeshvaja91 commented on #19241
Hi @magento-engcom-team,  I am working on this issue please  give me $VERSION instance

[2018-11-16 05:48] AbdulKadir-Agoliya commented on #7916
i have same issue i am using magento 2.2.5 .
product have assign two category one is children and second is its parent.
when i remove parent category assignment from product and then save.
it will throw error
Could not save product "55" with position 9 to category 3

can you please give me any solution?

[2018-11-16 05:54] santhoshnsscoe commented on #18248
I ran the below sql command and the website started working.

[code]

[2018-11-16 06:46] MuhammadUsman1947 commented on #19231
Hi,

I have resolved the issue, I was created css and include in /public_html/app/design/frontend/Hiddentechies/bentriz/Magento_Theme/layout/default.xml

like this :

<page layout="3columns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <update handle="default_head_blocks"/>
  <head>
    <css

[2018-11-16 06:46] #19231 closed, assigned to nobody

[2018-11-16 06:56] Dharmeshvaja91 commented on #19241
Hi , @magento-engcom-team give me 2.3-develop instance

[2018-11-16 06:57] magento-engcom-team commented on #19241
Hi @Dharmeshvaja91. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-16 06:57] magento-engcom-team commented on #19241
Hi @Dharmeshvaja91, here is your [Magento instance](http://34.228.235.121/i-19241-2-3-develop/).
Admin access: [http://34.228.235.121/i-19241-2-3-develop//admin](http://34.228.235.121/i-19241-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-16 07:08] Dharmeshvaja91 commented on #19241
Hi, @magento-engcom-team  please install this  language packs for French and Germany (fr_FR,de_DE) on this instance

[2018-11-16 07:33] engcom-backlog-nazar commented on #19218
@SerhanYavcin i'm, closing this, i'm not able to reproduce on clean magento instance, seems like problem related to your configuration. is you like to update this, please reopen the issue.

[2018-11-16 07:33] #19218 closed, assigned to nobody

[2018-11-16 07:34] magento-engcom-team commented on #19235
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 07:36] engcom-backlog-nazar commented on #19235
Hi @pkjoshi, I'm not able to reproduce following steps your described, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-11-16 07:36] #19235 closed, assigned to nobody

[2018-11-16 07:36] magento-engcom-team commented on #19228
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 08:02] engcom-backlog-nazar commented on #19228
Hi @Aqib133  this issue relate to your custom theme,The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-16 08:02] #19228 closed, assigned to nobody

[2018-11-16 08:03] magento-engcom-team commented on #19234
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 08:13] tonycr7 commented on #18256
Hi @nuwaus,

I tried overriding the 'AccountManagement' Class and its working fine. Please make sure the private functions which are using 'resetPassword' function are also included in the extended class. In addtion to this if you are overriding the whole file then please make sure all class has namespace because in core  'AccountManagement' class excluded some class namespace which are in the sam

[2018-11-16 08:15] engcom-backlog-nazar commented on #19234
Hi @Jean-MarcS i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-11-16 08:15] #19234 closed, assigned to nobody

[2018-11-16 08:16] magento-engcom-team commented on #19224
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 08:17] engcom-backlog-nazar commented on #19224
Hi @eTonki, thank you for you report, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-11-16 08:17] #19224 closed, assigned to nobody

[2018-11-16 08:18] magento-engcom-team commented on #19212
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 08:19] engcom-backlog-nazar commented on #19212
@asim-vax , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-11-16 08:19] #19212 closed, assigned to nobody

[2018-11-16 08:40] akios111 commented on #12119
Hello,could you please explain what you code you put and where to fix this issue?
It's happening to me also

[2018-11-16 08:58] PerfectusInc commented on #12584
Any update on this issue? I can still see this issue on latest Magento v2.2.6
When this will be resolved?

[2018-11-16 09:01] magento-engcom-team commented on #19207
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 09:04] nuwaus commented on #18256
@tonycr7

So far I managed to fix it by removing the **module-customer** module from composer and adding a clone of it with changes again via composer, eg: **module-customer-temp**

That way I managed to get it working, but I'll try as you mentioned and write the outcome here, soon..

[2018-11-16 09:30] magento-engcom-team commented on #19187
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 09:33] engcom-backlog-nazar commented on #19211
Hi @systems-diplomatic thank you for you report, i'm not able to reproduce following steps you described, i'm really don't  know in which cases you have the actual result. this may bge related to your custom code.

[2018-11-16 09:33] #19211 closed, assigned to nobody

[2018-11-16 09:34] engcom-backlog-nazar commented on #19211
@systems-diplomatic, also take a look  this commit, https://github.com/magento/magento2/pull/17608

[2018-11-16 09:42] mischabraam commented on #15116
Magento 2.2.6 with command `bin/magento setup:upgrade` gives the same error. Please fix.

[2018-11-16 09:43] magento-engcom-team commented on #19071
@swnsma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96390`, `MAGETWO-96391` were created

[2018-11-16 09:45] swnsma commented on #19071
Fixed with PRs:
2.2-develop: https://github.com/magento/magento2/pull/19073
2.3-develop: https://github.com/magento/magento2/pull/19087

[2018-11-16 09:46] engcom-backlog-nazar commented on #18027
**Steps to reproduce:**

- **Create two simple products:**
--  Name="simple1", Price=55.89
--  Name="simple2", Price=8.87
- **Configure Shipping Methods:**
-- Flat Rate -> Enabled=No
-- Free Shipping - > Enabled=Yes
- **Configure Tax:**
-- Calculation Settings:
-- Catalog Prices=Including Tax
-- Apply Discount On Prices=Including Tax
-- Shopping Cart Display Settings:
-- Display Prices=Including T

[2018-11-16 09:47] td-emerson opened #19242 "Customer Export Issue In M2"
### Preconditions (*)
1. Magento 2.2.6

### Steps to reproduce (*)

1. Add an additional gender option for gender attribute and assign that option to any customer
**Screenshots**: [](https://drive.google.com/a/raveinfosys.com/file/d/1IDkWOteMOses6hQQiAfa08xpOx0Wwjby/view?usp=drivesdk)
[](https://drive.google.com/a/raveinfosys.com/file/d/1ej9pD86cZGx53OJepc8FvKn9WG3DFz8G/view?usp=drivesdk)
2. Now e

[2018-11-16 09:48] #19242 closed, assigned to nobody

[2018-11-16 09:53] vpatidar009 opened #19243 "Unable to export customers"
### Preconditions (*)
1. Magento 2.2.6

### Steps to reproduce (*)

1. Add an additional gender option for gender attribute and assign that option to any customer
**Screenshots**: https://drive.google.com/a/raveinfosys.com/file/d/1IDkWOteMOses6hQQiAfa08xpOx0Wwjby/view?usp=drivesdk
https://drive.google.com/a/raveinfosys.com/file/d/1ej9pD86cZGx53OJepc8FvKn9WG3DFz8G/view?usp=drivesdk
2. Now export cu

[2018-11-16 09:53] magento-engcom-team commented on #19243
Hi @vpatidar009. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-16 09:54] engcom-backlog-nazar commented on #19187
Hi @k4emic thank you for you report this issue has already fixed in 2.3-develop branch.

[2018-11-16 09:54] #19187 closed, assigned to nobody

[2018-11-16 10:09] k4emic commented on #19187
Hi @engcom-backlog-nazar
What leads you to this conclusion? No changes have been made in the respective file since June 7th, so why am I experiencing this on beta32? (Running EE in my case, but this is irrelevant for this bug).

The commit which caused this problem was added on May 13th [link](https://github.com/magento/magento2/commit/ab0508ba986f83a2853ac84cf077a91a91e8f82e#diff-07981c7827bdf60b

[2018-11-16 10:14] engcom-backlog-nazar commented on #19187
@k4emic this may be related to ee version, i set break point on this line, but the debugger won't stop there

[2018-11-16 10:19] magento-engcom-team commented on #15571
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-16 10:27] #15571 closed, assigned to nobody

[2018-11-16 10:30] magento-engcom-team commented on #16161
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-16 10:30] magento-engcom-team commented on #19241
@Dharmeshvaja91 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-16 10:36] magento-engcom-team commented on #19241
@Dharmeshvaja91 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96392` were created

[2018-11-16 10:50] magento-engcom-team commented on #19201
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 11:03] engcom-backlog-nazar commented on #19201
Hi @delyriand i'm not able to reproduce following steps your described, on clean magento instance, this may be related to your custom module.

[2018-11-16 11:03] #19201 closed, assigned to nobody

[2018-11-16 11:04] engcom-backlog-nazar commented on #19201
@delyriand also this may be fixed by this commit -> https://github.com/magento/magento2/pull/17608

[2018-11-16 11:47] lano-vargas opened #19245 "Special Price From/To Times One Day not respected when sent/updated via Soap API"
Brief descritpion:

If I need the product to have special price for at least one day that ends at 3 o'clock so:
[code]
### Preconditions (*)

1.Magento2.2.2
2.services=catalogSpecialPriceStorageV1

### Steps to reproduce (*)
1.Create configurable product and add at least one configurable option.
2.Add special price via API:

[code]

### Expected result (*)
1.
<img width="425" alt="screen shot 2018

[2018-11-16 11:48] magento-engcom-team commented on #19245
Hi @lano-vargas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-16 12:01] TomashKhamlai commented on #10902
@magento-engcom-team give me 2.3-develop instance

[2018-11-16 12:01] magento-engcom-team commented on #10902
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-16 12:02] magento-engcom-team commented on #10902
Hi @TomashKhamlai, here is your [Magento instance](http://34.228.235.121/i-10902-2-3-develop/).
Admin access: [http://34.228.235.121/i-10902-2-3-develop//admin](http://34.228.235.121/i-10902-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-16 12:12] magento-engcom-team commented on #19243
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-16 12:25] #19243 closed, assigned to nobody

[2018-11-16 12:47] magento-engcom-team commented on #19117
Hi @progreg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-16 12:48] mropanen commented on #18781
They're probably referring to this https://github.com/magento/magento2/pull/18660

[2018-11-16 13:33] leoquijano commented on #15571
Hi @magento-engcom-team and @engcom-backlog-nazar, do you have the specific commits that were used to fix this in 2.3?

2.3 is a big release and we're monitoring some issues so we can have a backport to 2.2. Having explicit commits allows us to implement the change ourselves for LTS projects.

If there are commits in 2.2 those would also be useful.

[2018-11-16 13:55] victor-v-rad commented on #7916
Tried your steps to reproduce but got no error

[2018-11-16 14:17] TomashKhamlai commented on #10902
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-16 14:18] #10902 closed, assigned to nobody

[2018-11-16 14:23] #14355 closed, assigned to nobody

[2018-11-16 14:37] convenient commented on #19207
@engcom-backlog-nazar Agreed. On the 2.3 branch I got a similar sensible report generated.

I believe the `Area code is not set` issue only occurs when using PHP 7.0, I've just ran a few tests and the issue is reproducible on 2.2 with php 7.0.

As magento 2.3 relies on PHP 7.1 or higher it will not be affected.

[2018-11-16 14:53] engcom-backlog-nazar commented on #19207
@convenient, i'm closing this as this was fixed in 2.3-develop. if someone in future have same issue we can reopen this one.

[2018-11-16 14:54] TomashKhamlai commented on #14328
The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-16 14:54] #14328 closed, assigned to nobody

[2018-11-16 14:55] magento-engcom-team commented on #12717
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-16 14:57] convenient commented on #19207
@engcom-backlog-nazar Are github issues now only interested in 2.3?

I thought 2.2 was still supported until December 2019?

[2018-11-16 15:01] magento-engcom-team commented on #12414
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-16 15:07] engcom-backlog-nazar commented on #19207
@convenient i'm just tested on 2.2-dev seems like really this occurs only with php7.0 version, yes 2.2 supported, but this is specified bug, only with specific php version. Maybe leave this open.

[2018-11-16 15:18] orlangur commented on #19220
@Flowlance you can try using vanilla instance with the copy of this database.

[2018-11-16 15:26] #12717 closed, assigned to nobody

[2018-11-16 15:32] magento2dev commented on #18008
Hi @dqblanco,
Did you finally find the updated code to fix this issue ?

Thanks !

[2018-11-16 16:14] grlambert opened #19246 "Admin navigation covering page details"
Magento ver. 2.2.6
![m2 admin issue](https://user-images.githubusercontent.com/3420860/48633075-27f51f80-e988-11e8-9fe3-6388465b60c1.png)

### Steps to reproduce (*)
1.open admin. Click catalog>products and the page is only displaying whitespace. If you scroll down the products will appear.
2.when you search for a product they will appear and then when you scroll the display area of the page clear

[2018-11-16 16:15] magento-engcom-team commented on #19246
Hi @grlambert. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-16 16:18] grlambert commented on #19246
I am not sure what other information you are looking for on this situation. Please advise.

[2018-11-16 16:20] grlambert commented on #19246
I am not a developer. I am a user and am having trouble using Magento 2.2.6 can you please help?

Sincerely,

HEAVYGLARE EYEWEAR

14055 Grand Ave, STE G

Burnsville, MN 55337

Monday through Friday

9:00 AM—6:00 PM CST

(651) 209-8474 | 888-548-0558

 <https://www.facebook.com/Heavyglare.eyewear>  <https://www.linkedin.com/in/grantlambert>   <https://twitter.com/Heavyglare>   <https://plus.google.

[2018-11-16 16:26] gmachure opened #19247 "Magento 2 : fix php 7.2 error : Countable interface not implemented"
### Preconditions (*)

1. Magento ver. 2.3.0-beta32
2. PHP Version : 7.2.12

### Steps to reproduce (*)

1. Create custom module.
2. Add fileUploader form element in ui_component form).
[code]
### Expected result (*)

1. ![image](https://user-images.githubusercontent.com/25632159/48633557-e1251b00-e9c3-11e8-904f-53e08dfbf32d.png)

### Actual result (*)

![image](https://user-images.githubuserconte

[2018-11-16 16:38] magento-engcom-team commented on #19093
Hi @larsroettig. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-11-16 17:11] jamie-selesti commented on #8640
I tried to do the overide but I keep getting

`atal error: Uncaught Error: Cannot instantiate interface Magento\ConfigurableProduct\Pricing\Price\PriceResolverInterface in /example.com/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50 Stack trace: #0 /example.com/vendor/magento/framework/ObjectManager/ObjectManager.php(70): Magento\Framework\ObjectManager\Factory\Dynamic\Deve

[2018-11-16 21:03] machaka commented on #19230
Hi there, I'm able to reproduce it, I'm facing the same issue on magento 2.2.6

[2018-11-16 21:05] mfsa93 opened #19251 "Error with reindex"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.1.24 (cli)
3. MySQL  Ver 8.0.12 for osx10.14 on x86_64 (Homebrew)

### Expected result (*)

1.  I expect the reindex run success

### Actual result (*)

![image](https://user-images.githubusercontent.com/34313628/48647090-e5980680-e9b8-11e8-9aba-28d9af335197.png)

![image](https://user-images.githubusercontent.com/34313628/48647154-26901b00-e9b9-11e

[2018-11-16 21:05] magento-engcom-team commented on #19251
Hi @mfsanchez. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-16 21:32] mfsanchez commented on #19251
@magento-engcom-team give me 2.2.6 instance

[2018-11-16 21:32] magento-engcom-team commented on #19251
Hi @mfsanchez. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-16 21:33] magento-engcom-team commented on #19251
Hi @mfsanchez, here is your [Magento instance](http://34.228.235.121/i-19251-2-2-6/).
Admin access: [http://34.228.235.121/i-19251-2-2-6//admin](http://34.228.235.121/i-19251-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-16 21:42] mfsanchez commented on #19251
@magento-admin I need run the command` php -f bin/magento indexer:reindex`,  because can't run the cron.

[2018-11-16 23:40] slavvka commented on #16434
Hi @robertkent. Thank you for your report.
The issue has been fixed in magento/magento2#17889 by @rogyar in 2.2-develop branch
Related commit(s):
 - [f74460631c7feabb72c7ca3dec76a7bb92a17a41](https://github.com/magento/magento2/commit/f74460631c7feabb72c7ca3dec76a7bb92a17a41)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-16 23:40] #16434 closed, assigned to nobody

[2018-11-16 23:45] robyerevan opened #19253 "Category update/save after hierarchy changes with drag-and-drop breaks parent-child relationship"
### Preconditions (*)

1. Magento ver. 2.2.3
2. Multistore setup

### Steps to reproduce (*)

1. Goto magento Admin -> Catalog -> Categories
2. Create multi-level category hierarchy
3. Move a sub-category from one level to upper level with mouse drag-and-drop
4. After successful ajax update click on save button located on right top corner

### Expected result (*)

1. New category hierarchy should

[2018-11-16 23:45] magento-engcom-team commented on #19253
Hi @robyerevan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-16 23:54] robyerevan commented on #19253
Tested with vanilla Magento 2.2.3 single store, same issue.
Save is posting old values and messing with relationship records.
in admin area hierarchy will appear as changed however in store front end its old one.

DB records , "parent_id", "level" are wrong
DB record "path" is correct that's any its ambiguous, and we see different hierarchy in front end and admin area, different results.

[2018-11-17 00:00] mfsanchez commented on #19251
@magento-engcom-team

[2018-11-17 06:59] sanjaychouhan180 commented on #6895
Why is it not fixed yet?

[2018-11-17 07:14] ramkishansuthar opened #19256 "Access Token Lifetime for Customer is not working"
### Preconditions (*)

1. Magento 2.5
2. GET V1/carts/mine

### Steps to reproduce (*)

1. Set customer token life time to empty from admin by navigating to Store -> Configuration -> Services -> OAuth -> Access Token Expiration
2. Now generate customer token and access any API which requires customer token.
3. I am accessing GET V1/carts/mine service

### Expected result (*)

1. It should return c

[2018-11-17 07:15] magento-engcom-team commented on #19256
Hi @ramkishansuthar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-11-17 07:37] benyang2015 opened #19257 "can't translate country name"
can't change country name ,change 台灣 to 中國台灣
（zh_Hant_TW）
I change vendor/magento/zendframework1/library/Zend/Locale/Data/zh_Hant.xml and vendor/magento/zendframework1/library/Zend/Locale/Data/zh_Hant_TW.xml
but does not work

### Preconditions (*)

1.magento2.2.6
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Sc

[2018-11-17 07:37] magento-engcom-team commented on #19257
Hi @benyang2015. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-17 11:08] shachiarkatkar commented on #18983
Applied the patch but facing same error.

[2018-11-17 11:58] shachiarkatkar commented on #18983
Correction the patch worked for me thanks @progreg

[2018-11-17 12:24] shachiarkatkar opened #19258 "Incorrect orders updated"
### Preconditions (*)
1. Magento 2.2.5
2. Php 7.0

### Steps to reproduce (*)
1. Open order grid in two tabs.
2. Apply filter of order status in both tabs. Both tabs should show same orders. (ex. pending)
3. Select first order in first tab and change the status of order(ex. change to hold).
4. Without refresh select same order in second tab and update status(ex. change to cancel)

### Expected res

[2018-11-17 12:46] shachiarkatkar commented on #19258
@magento-engcom-team have checked on clean 2.2.5 and 2.3-dev branch got same error

[2018-11-17 16:20] saxsax1995 commented on #12362
hi @gabrieljadeau , maybe you will have to custom by yourself, that's what i did back there :( because each magento version is difference :(

[2018-11-17 16:20] shachiarkatkar commented on #19258
@konarshankar07 its not just about hold status but the other orders shouldn't be updated. Please check Following code in vendor/magento/module-ui/Component/MassAction/Filter.php:

 * Adds filters to collection using DataProvider filter results
     *
     * @param AbstractDb $collection
     * @return AbstractDb
     * @throws LocalizedException
     */
    public function getCollection(AbstractDb

[2018-11-17 16:53] fritzmg commented on #7253
The toolbar still cannot be moved outside of the product list because of this: [ListProduct.php#L509](https://github.com/magento/magento2/blob/2.2.6/app/code/Magento/Catalog/Block/Product/ListProduct.php#L509)
[code]
No matter what you do, this will __always__ make the toolbar a child of the product list block. And since _all_ of the methods are private, you can't even easily just replace this fun

[2018-11-17 17:41] fritzmg commented on #7253
PR provides: https://github.com/magento/magento2/pull/19259

[2018-11-17 17:50] Ctucker9233 commented on #8725
@magento-engcom-team The Issue still seems to exist. Can we have a link to the commits that fix this please?

[2018-11-17 18:44] Ctucker9233 commented on #13993
@magento-engcom-team Please reference commits.

[2018-11-17 20:08] Ctucker9233 commented on #15923
@p-bystritsky @magento-engcom-team What commits fix this?

[2018-11-17 20:12] Ctucker9233 commented on #11292
@magento-engcom-team A year later and still no fix?

[2018-11-17 21:48] Ctucker9233 commented on #8219
@magento-engcom-team @joni-jones This fix doesn't seem to be included in 2.2. Any news?

[2018-11-18 00:52] orlangur commented on #11292
@Ctucker9233 such scenario is still quite nonrealistic. I don't see this issue got much upvotes, isn't it?

@Microguru looks like you're not invalidating private data accordingly.

[2018-11-18 00:59] Ctucker9233 commented on #18037
@engcom-backlog-nazar I'm interested in seeing the commit as well or at least what version of Magento it's slated for.

[2018-11-18 01:05] orlangur commented on #19257
@benyang2015 GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

You're not supposed to change anything inside `vendor` and `Zend_Locale` is not used anymore AFAIR.

[2018-11-18 01:05] #19257 closed, assigned to nobody

[2018-11-18 01:09] orlangur commented on #19214
@kalpeshhiran no, please check the documentation I referenced. I suppose in the latter case private data section is not invalidated properly thus you see old data.

[2018-11-18 01:42] Ctucker9233 commented on #9136
@magento-engcom-team Can we expect any progress on this issue soon?

[2018-11-18 05:51] konarshankar07 commented on #19258
@shachiarkatkar
I tried to reproduce the issue but I'm not able to do it. I followed the following step to reproduce.
1)On the first tab, I change the order status to hold
2)On the second tab, I change the order status to unhold (without reloading the tab).
Its working fine in 2.2.5. Let me know if I missed any step to reproduce this issue.
Thanks

[2018-11-18 13:50] sreichel opened #19262 "Poor UX when editing attribute options in multistore setup"
### Preconditions (*)

1. since 1.x/2.x
2. multiwebsite/store setup

- Website 1 - B2B - DE
- Website 1 - B2B - EN
- Website 1 - B2C - DE
- Website 1 - B2C - EN
- Website 2 ...
- ...

### Steps to reproduce (*)

1. multiple storeviews with same label/name. (You can not use cryptic names here b/c its displayed in store switcher)
2. go to attribute edit page for a select/multiselect attribute like c

[2018-11-18 13:50] magento-engcom-team commented on #19262
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-18 15:04] dmytro-ch opened #19263 "Broken backend popup view"
The confirmation popups are broken due to the reduced width.

### Preconditions (*)

1. Magento versions: 2.2.7 and 2.3

### Steps to reproduce (*)

1. Login to the admin panel.
2. Go to `System -> Cache Management`.
3. Click "Flush Cache Storage".

### Expected result (*)

1. Content does not overlap the "close" button. (including tablet and mobile view);
2. The Popup has the normal width (75%),

[2018-11-18 15:04] magento-engcom-team commented on #19263
Hi @dmytro-ch. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-18 15:52] fritzmg commented on #7253
I have outlined (yet another) workaround in this Magento Stackexchange thread: https://magento.stackexchange.com/a/250433/37461

[2018-11-18 16:29] maheshWebkul721 commented on #19253
Hi @robyerevan i am not able to reproduce this error on 2.2-develop

[2018-11-18 19:19] magento-engcom-team commented on #19210
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-11-18 23:41] tippaluru commented on #12721
Hi,

Wondering if there is a patch/fix for this issue in the community edition (2.2.2).

Thank you.

[2018-11-19 01:50] JackWormUK commented on #19215
I have got a bit further with this issue.

It appears to be the Apache Module - mod_pagespeed.

With this disabled, everything works as expected.

However, it does not explain why varnish cache headers are correct when Caching Application is set to Built-In Cache but are not correct when the Caching Application is set to Varnish Cache with mod_pagespeed enabled?

[2018-11-19 06:08] magento-engcom-team commented on #19210
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-11-19 06:11] maheshWebkul721 commented on #19210
Hi @Khushbu-Webkul-QA , Selected Quantity details are in Bundle product summary section.
please refer to this screenshot.

[2018-11-19 06:14] #19210 closed, assigned to mahesh-rajawat

[2018-11-19 06:28] magenest-dev opened #19267 "Can't add product with non-required Customizable Options Checkbox to Cart"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1.24
3. MySQL 5.7

### Steps to reproduce (*)

1. Create a product with a Customizable Option
- type:Checkbox
- required: No
![2018-11-19 13 21 32](https://user-images.githubusercontent.com/44190478/48689792-96431780-ebfe-11e8-8918-3f5af760b787.png)
2. Go to product page on frontend
3. Add Product to Cart without checking any checkbox
![2018-11-19 1

[2018-11-19 06:41] magenest-dev commented on #19267
@magento-engcom-team give me 2.3-develop instance

[2018-11-19 06:41] magento-engcom-team commented on #19267
Hi @magenest-dev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-19 06:42] magento-engcom-team commented on #19267
Hi @magenest-dev, here is your [Magento instance](http://34.228.235.121/i-19267-2-3-develop/).
Admin access: [http://34.228.235.121/i-19267-2-3-develop//admin](http://34.228.235.121/i-19267-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-19 06:47] magenest-dev commented on #19267
@magento-engcom-team I confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce

[2018-11-19 06:50] magenest-dev commented on #19267
I think this is where the problem lies: app/code/Magento/Catalog/Model/Product/Option/Type/Select.php:74

[2018-11-19 07:32] magento-engcom-team commented on #10562
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-19 07:37] charleskj commented on #14592
We had experience the same issue, this is still existing

[2018-11-19 07:55] engcom-backlog-nazar commented on #9050
Hi @vlauria The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-19 07:55] #9050 closed, assigned to nobody

[2018-11-19 07:55] engcom-backlog-nazar commented on #10562
Hi @ulftietze The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-19 07:55] #10562 closed, assigned to nobody

[2018-11-19 07:57] magento-engcom-team commented on #10754
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-19 07:59] magento-engcom-team commented on #19251
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-19 08:03] engcom-backlog-nazar commented on #19251
Hi @mfsanchez  , thank you for you report, I'm not able to reproduce following steps you described on clean magento 2.2.6 instance.The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issu

[2018-11-19 08:03] #19251 closed, assigned to nobody

[2018-11-19 08:07] magento-engcom-team commented on #19246
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-19 08:18] magento-engcom-team commented on #19267
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-19 08:34] Flowlance commented on #15545
Same problem. Hundreds of inserts to search_tmp_*. Production server goes down multiple times a day. Any progress here?

![screenshot 2018-11-18 at 20 48 17](https://user-images.githubusercontent.com/3727974/48694998-2c1a7a80-ebde-11e8-940b-e717899df633.png)

[2018-11-19 08:35] magento-engcom-team commented on #19267
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96448` were created

[2018-11-19 08:36] engcom-backlog-nazar commented on #10754
Hi @gilbertsohal The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-19 08:36] #10754 closed, assigned to nobody

[2018-11-19 08:37] magento-engcom-team commented on #19196
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-19 08:54] Mathiu commented on #15545
Not giving any priority this feels bad, not sure why there no fix for this yet as its a breaking bug and been up since about half a year.

I have updated Magento to latest 2.2.6 version which didn't fix the issue and ended up disabling Magento_Search and Magento_CatalogSearch. After disabling them, our site is running super smooth but there is no search...

[2018-11-19 08:54] fastsourceindia opened #19268 "Unable to save Stock Item"
I am new to Magento and I have installed a fresh copy of Magento 2.2.6 CE in Google cloud. When I try to save a simple product I am getting "Unable to save Stock Item". I will be happy if anybody can some insight to this error.

[2018-11-19 08:55] magento-engcom-team commented on #19268
Hi @fastsourceindia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-11-19 08:56] orlangur commented on #19209
@eduard13 I don't think so. The one you mentioned is about validation in Admin UI, this one is about rounding.

[2018-11-19 08:56] magento-engcom-team commented on #19268
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-19 08:59] engcom-backlog-nazar commented on #19246
Hi @grlambert   , thank you for you report, I'm not able to reproduce following steps you described on clean magento 2.2.6 instance.The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this iss

[2018-11-19 08:59] #19246 closed, assigned to nobody

[2018-11-19 09:00] orlangur commented on #19209
Ref older issue: https://github.com/magento/magento2/issues/8404#issuecomment-342001698

Validation should occur the same way it works on PHP side.

[2018-11-19 09:06] engcom-backlog-nazar commented on #19268
Hi @fastsourceindia  , thank you for you report, The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-19 09:06] #19268 closed, assigned to nobody

[2018-11-19 09:18] Dharmeshvaja91 commented on #18794
Hi , @webkul-ratnesh  are you working on this issue??

[2018-11-19 09:35] magento-engcom-team commented on #16436
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-19 09:36] magento-engcom-team commented on #19142
Hi @orlangur. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-11-19 10:01] evs-xsarus commented on #13612
I have the same problem, this could be a fix (at least the detail page shows again):

[code]

[2018-11-19 10:38] orlangur commented on #7231
@joshdavenport @hostep @mveeramneni can somebody contribute such downgrade of JS library maybe?

[2018-11-19 10:58] shachiarkatkar commented on #19258
Try to cancel the order in second tab

[2018-11-19 11:06] vishal-magento360 commented on #18577
@nicobatty  @magento-engcom-team  any update on this issue ? kindly response.
Thanks

[2018-11-19 11:07] ratnesh-kadam commented on #19258
@magento-engcom-team
Please follow following steps to reproduce the error:
1. Open order grid in two tabs.
2. Apply filter of order status in both tabs. Both tabs should show same orders.
3. Select first order in first tab and change the status of order.
4. Without refresh select same order in second tab and update status
------------------------------------------
Expected result:
It should throw

[2018-11-19 11:10] magento2dev commented on #7522
Any update on this issue ? @magento-engcom-team

Thanks !

[2018-11-19 11:46] engcom-backlog-nazar commented on #19196
@sreichel ohh, sorry, now i'm enable ->Add Store Code to Urls, but url has wrong link, now clear.

[2018-11-19 11:47] magento-engcom-team commented on #19196
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96454`, `MAGETWO-96455` were created

[2018-11-19 11:47] paul-blundell commented on #18158
@sidolov but that fix apparently hasn't resolved the issue anyway. Any idea when this will be resolved?

[2018-11-19 11:51] engcom-backlog-nazar commented on #16436
Hi @mariamghalleb The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-19 11:51] #16436 closed, assigned to nobody

[2018-11-19 13:03] dudzio12 commented on #19230
Same for me

[2018-11-19 13:17] #19071 closed, assigned to dimasalamatov

[2018-11-19 13:57] b6024636 commented on #6173
@Tereta you're a star mate

[2018-11-19 14:32] ivankakurov commented on #13766
This issue is not fixed.
In magento 2.2.6 after change address line number in store, customer whit address whit more then lines can't edit in administration.
After click button "Save and Continue Edit",
magento return error:  "Street Address" cannot contain more than 2 lines." .
Can't delete address in admin, can't add new adderss.
The customer is total broke i can't change anything, because magen

[2018-11-19 14:56] kevingimbel commented on #4330
I'd like to add that we experienced the same issue with Magento 2.2.6 lately.

We were migrating a system to a new server and somehow during the installation the "main" theme was set to `type = 1` in the database which effectively made it unusable and resulted in us spending quite some time debugging because it looked like only half of our changes were applied since we inherit from a parent theme.

[2018-11-19 15:11] magento-engcom-team commented on #19247
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-19 15:22] KevinGimbel opened #19269 "Logo "alt" attribute not escaped; possible (self) XSS"
### Preconditions (*)

1. Magento 2.2.6 up and running

### Steps to reproduce (*)

1. Go to `Content -> Design -> Configuration`
2. Edit a theme (doesn't matter which) by clicking "Edit"
3. Scroll down to "Header" and add the following to the `Logo Image Alt` field
[code]
*Notice the leading `"`*

### Expected result (*)

1. The `alt` attribute on the image is properly escaped

### Actual result

[2018-11-19 15:23] magento-engcom-team commented on #19269
Hi @kevingimbel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-19 15:31] kevingimbel commented on #19269
Reproduced on http://34.228.235.121/i-19269-2-2-6/

Screenshot of Home Page after doing the steps above
![screen shot 2018-11-19 at 16 30 26](https://user-images.githubusercontent.com/2161714/48716815-74ef2500-ec18-11e8-8741-e3d1f51b1ca9.png)

[2018-11-19 15:58] pusachev commented on #14733
Hi, @engcom-backlog-nazar should you provide me link to fix?

[2018-11-19 16:46] smcpaiva opened #19271 "Category tree is slow with many category"
### Preconditions (*)

Magento 2.2.5 and 2.2.6
PHP 7, MySQL/MariaDB

### Steps to reproduce (*)

Have 25.000 categories from level 1 to 6
All categories are set to have is_anchor = 1.
At this moment I do not have products associated with categories.

### Expected result (*)

Display Time for Product Create / Edit page should be reasonable (2-3 s)

### Actual result (*)

Display time is around 2 mi

[2018-11-19 16:47] magento-engcom-team commented on #19271
Hi @smcpaiva. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-19 22:06] sreichel commented on #19196
@engcom-backlog-nazar just to mention ... adding store code should be avoided ... we use different domains/subdomains instead. But his shouldnt make a difference for that issue. :) Thanks for progress.

[2018-11-19 22:10] markalston commented on #14206
My fixes #14277 are still working great for me but I have been unable to get @magento-engcom-team to implement them.    My git skills are causing issues and their tests are wrong which causes their broken free shipping to pass and mine to fail.   If you have any hints on how to get that patch implemented let me know.

[2018-11-20 07:33] magento-engcom-team commented on #19269
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96471`, `MAGETWO-96472` were created

[2018-11-20 07:34] magento-engcom-team commented on #19271
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-20 07:36] engcom-backlog-nazar commented on #19271
Hi @smcpaiva thank you for you report, this is acknowledged issue, please look -> #18144

[2018-11-20 07:36] #19271 closed, assigned to nobody

[2018-11-20 07:39] DanielRuf commented on #19269
This is not XSS. XSS is if someone adds JavaScript to the URL / address bar and it happens. Also just admins can edit this field.

[2018-11-20 07:41] DanielRuf commented on #19269
This is the same in many other places. No special XSS here, just missing escaping. It is up to the admin who can edit this field / data.

[2018-11-20 07:41] magento-engcom-team commented on #15557
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 07:44] DanielRuf commented on #19269
See https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)

A typical (reflected) XSS is for example something like `search?q=><script>alert(window.location.hostname)</script>`

[2018-11-20 07:50] magento-engcom-team commented on #16237
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 07:54] engcom-backlog-nazar commented on #16237
Hi @reviskar The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-20 07:54] #16237 closed, assigned to nobody

[2018-11-20 07:56] magento-engcom-team commented on #19229
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-20 08:04] engcom-backlog-nazar commented on #19229
Hi @paulkirow, thank you for you report, I'm not able to reproduce following steps you described in clean magento instance, this may be related to your custom theme.

[2018-11-20 08:04] #19229 closed, assigned to nobody

[2018-11-20 09:13] byronlbailey opened #19273 "DB Plaintext Password sent to browser"
Magento 2.2.6

When there is a connectivity problem between the Magento Process (in this case, running in Apache) and the database (in this case MySQL), the below stack trace is displayed to the end user.  As you can see, the stack trace includes the database password.  The stack trace is included below.  The desired behavior is to not show any passwords in any logs or error messages, except perha

[2018-11-20 09:13] magento-engcom-team commented on #19273
Hi @byronlbailey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-20 09:14] engcom-backlog-nazar commented on #15557
Hi @middlegrey The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-20 09:14] #15557 closed, assigned to nobody

[2018-11-20 09:15] magento-engcom-team commented on #19273
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-20 09:15] DanielRuf commented on #19273
In general: you should disable that errors are shown in production.

[2018-11-20 09:17] DanielRuf commented on #19273
See https://bugs.php.net/bug.php?id=67206

[2018-11-20 09:19] engcom-backlog-nazar commented on #19273
Hi @byronlbailey  thank you for you report, this bug not related to magento, this issue related to your configurations settings.

[2018-11-20 09:19] #19273 closed, assigned to nobody

[2018-11-20 09:20] dyuk1987 opened #19274 "Why is SessionManager used instead of its Interface?"
### Summary (*)

I was trying to fix the issue mentioned in #12362, by injecting an updated version of SessionManager to replace the original **Magento\Framework\Session\SessionManager**, on a **Magento 2.2.5**. After a while, I managed to find a few exceptions being thrown around by some of the third-party modules I have previously installed. The main problem here is that some of the classes in t