[2019-12-19 04:38] krishprakash commented on #26098
Hi @shikhamis11. I don't think this consider as an issue.
This is default magento behavior since magento 2.2.
Let me know your thoughts on this
Thanks.

[2019-12-19 04:40] krishprakash commented on #26123
Hi @Zyles.
The GitHub issue tracker is intended for Magento Core technical issues only.
Seems you improve the magneto by supporting with new feature so please add this in [feature request repository ](https://github.com/magento/community-features/issues)
So closing this ticket.
Thank You.

[2019-12-19 04:40] #26123 closed, assigned to krishprakash

[2019-12-19 04:47] ajijshekh123 commented on #26091
Give me @magento give me 2.4-develop instance

[2019-12-19 04:47] magento-engcom-team commented on #26091
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-19 04:48] magento-engcom-team commented on #26091
Hi @ajijshekh123, here is your [Magento instance](https://i-26091-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26091-2-4-develop.instances.magento-community.engineering/admin](https://i-26091-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-19 04:48] shikhamis11 commented on #26098
hi @krishprakash , Thank you for your feedback :)
yes at first look it seems to be default behaviour and not an issue but if we go for user perspective this seems to be a issue thats why I confirmed it.

[2019-12-19 05:06] krishprakash commented on #26098
@shikhamis11  another use case as per user perspective:
 If user want to add to cart 2-3 products from same product row or after next row then every time user need to scroll down to that product row for add to cart that product.
As currently user can see the Add to cart button changed to added once click on it so user can know.

[2019-12-19 05:23] shikhamis11 commented on #26098
@krishprakash
there can be multiple cases , I will discuss about it and update here.

[2019-12-19 05:24] magento-engcom-team commented on #26091
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29922` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 05:32] shikhamis11 commented on #26089
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2019-12-19 05:32] magento-engcom-team commented on #26089
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-19 05:33] magento-engcom-team commented on #26089
Hi @shikhamis11, here is your [Magento instance](https://i-26089-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26089-2-4-develop.instances.magento-community.engineering/admin](https://i-26089-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-19 06:26] shikhamis11 commented on #26078
hello @devchris79
I checked the issue on chrome browser for both on magento version
Magento ver. 2.3.3 for both reCaptchaV2 and invisible Recaptcha
but getting error on console.
let me know if it requires any additional step to reproduce this issue ?

[2019-12-19 07:48] salehawal commented on #26092
still waiting ...

[2019-12-19 08:18] engcom-Echo commented on #26087
Hello @andrewkett

The 2.3-develop branch is already closed for changes. The main one is the 2.4-develop.
It looks like this issue has already been fixed in 2.4-develop.

[2019-12-19 08:28] andrewkett commented on #26087
Does that mean this will not be resolved until 2.4 is released?

On Thu, 19 Dec 2019, 9:18 PM Viktoriia Sekeresh, <notifications@github.com>
wrote:

[2019-12-19 08:39] monotheist opened #26132 "Script errors in console"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.3

### Steps to reproduce (*)

1. Open browser console and navigate the store and you will see attached console errors occurring intermittently

### Expected result (*)

1.  No errors
2.

### Actual result (*)

1. Tried both Luma and Ultimo theme. Cleared static directory and regenerated content. Nothing has solved this issue?

![console-errors](htt

[2019-12-19 08:39] engcom-Echo commented on #26087
@andrewkett
Yes, but all changes are already available on 2.4 develop.

[2019-12-19 08:45] engcom-Echo commented on #26052
Hello @Zyles

According [this](https://github.com/magento/magento2/issues/26052#issuecomment-567160072)  comment I close this issue as it was connected with environment configuration.

[2019-12-19 09:03] shikhamis11 commented on #26089
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2019-12-19 09:03] magento-engcom-team commented on #26089
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-19 09:04] magento-engcom-team commented on #26089
Hi @shikhamis11, here is your [Magento instance](https://i-26089-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26089-2-4-develop.instances.magento-community.engineering/admin](https://i-26089-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-19 09:15] magento-engcom-team commented on #26089
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29924` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 09:24] flytomek commented on #2996
Same issue in Magento 2.3.3

[2019-12-19 09:25] engcom-Charlie commented on #25701
Hello @sdzhepa
This issue related to sample data.
Could you transfer this issue to the Magento sample data repository?

[2019-12-19 09:28] engcom-Echo commented on #26132
Hello @monotheist

Try to run
 `bin/magento setup:static-content:deploy en_US --exclude-theme Magento/luma --no-html-minify`
More info [here](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-static-view.html)

[2019-12-19 09:36] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2019-12-19 09:36] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-19 09:36] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-19 09:50] magento-engcom-team commented on #26102
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29926` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 09:50] monotheist commented on #26132
@engcom-Echo Thanks for your time and reponse. I just tried that command and flushed the cache. Issue still exists. Also please note that I don't have third party extension installed. Please help.

[2019-12-19 09:51] Nazar65 commented on #26031
Hi @molovo where did you get a manual to create grouped product programmatically ? :) I think that you have an issue some where in your code, because error sayas that it expected to be array, but instead got null, so i think your missed some data in your code. Could you check how it works in "core" files an find the difference with your code & or you can check integration test files to find how cr

[2019-12-19 09:52] devchris79 commented on #26078
I assume you mean you don't get an error in the console? That's strange, I have found a second person that describes the same issue, they are working in Luma and an unadulterated core:
[https://magento.stackexchange.com/questions/286724/magento-2-recaptcha-uncaught-typeerror-cannot-read-property-nodename-of-undef](url)

Here is our settings, the backend captcha is turned off and the frontend is ru

[2019-12-19 10:15] engcom-Echo commented on #26132
@monotheist
Try to run `php bin/magento setup:static-content:deploy`
Is the magento page displayed normally?

[2019-12-19 10:18] monotheist commented on #26132
@engcom-Echo Yes. The page loads normally. I see the page contents. But there are console errors.

[2019-12-19 10:19] magento-engcom-team commented on #26112
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29927` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 10:37] magento-engcom-team commented on #26118
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29929` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 10:40] duckchip commented on #21885
Does anyone have a fix for 2.3.3 with an including fix to remove duplicates? Our server just exploded to 55gb on images because of the duplication during the import..

[2019-12-19 10:43] BenSpace48 commented on #9486
@tushhan Can you add steps to replicate on a vanilla instance of Magento 2.3.3 please? If you do this ticket can hopefully be re-opened.

[2019-12-19 10:52] kanenas commented on #4911
Same problem with Magento 2.3.1

[2019-12-19 10:54] magento-engcom-team commented on #11262
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29930` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 10:58] hasim32 opened #26133 "Coupon code text field not display in proper width in Internet Explorer/EDGE browser"
Coupon code text field not display in proper width in Internet Explorer/EDGE browser

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
Review the coupon code section in IE or Edge browser

### Expected result (*)
It should display same as per chrome/firefox browsers

![image](https://user-images.githubusercontent.com/56119534/71167502-cd10b480-227a-11ea-976b-4806e8c081d7.png)

###

[2019-12-19 11:13] engcom-Bravo commented on #26119
Reproducible on 2.4.x
GraphQL query returns the URL of the Image URL for Thumbnails and Small image

[2019-12-19 11:14] magento-engcom-team commented on #26119
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2019-12-19 11:15] magento-engcom-team commented on #26119
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2019-12-19 11:16] magento-engcom-team commented on #26119
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29932` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 11:23] maaarghk commented on #18717
@ihor-sviziev obviously not since the "fix" referred to here was introduced in 2.3.3

for anyone else fucked over by this, here's a module that applies the fix from #25603 on top of the revert fa468e7298b42c0a233bbcb7db932f8a8ccbb32f - `composer require maaarghk/fuck-magento` - so you can happily go back to `/` as a category suffix.

or if your client has a stick up their arse maybe you can just p

[2019-12-19 11:59] engcom-Delta commented on #26053
@Zyles , thank you for your report.
Looks like it would be good solution to add output with stack trace in var/log. For now response is `"message": "The product can't be saved."`
Marked as **Future Request**
cc @sdzhepa

[2019-12-19 11:59] engcom-Foxtrot commented on #8344
Hello @mgeoffray.
Thank you for your report and collaboration.
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.
![изображение](https://user-images.githubusercontent.com/51681487/71171888-85ccf880-2267-11ea-9411-66b8962f526e.png)

I have to close this issue. If you have some additional information, feel free to reopen this issue.
Thanks for your report.

[2019-12-19 11:59] #8344 closed, assigned to engcom-Echo, engcom-Foxtrot

[2019-12-19 12:04] magento-engcom-team commented on #26133
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29933` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 12:15] Zyles commented on #26052
Really? Do you find this error message to give adequate feedback to a developer on what the problem is?

[2019-12-19 12:18] magento-engcom-team commented on #26020
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29935` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 12:27] Zyles commented on #26123
Oh yeah I forgot about that repo that nobody in the Magento 2 team reads.

Will re-post it there.

Thanks.

[2019-12-19 12:38] devchris79 commented on #26132
Try switching to developer mode then back to production, this should also rebuild content:

`bin/magento deploy:mode:set developer`
then
`bin/magento deploy:mode:set production`

[2019-12-19 12:47] monotheist commented on #26132
I have done that too. no luck

[2019-12-19 12:53] engcom-Bravo commented on #26117
Reproducible on Magento 2.4
This error message appears:
[code]

[2019-12-19 12:53] magento-engcom-team commented on #26117
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29936` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 12:59] engcom-Echo commented on #25947
Hello @taihuuho

Could you provide more details for reproduce this issue?
Please add screenshot with your memory settings.

[2019-12-19 13:13] engcom-Echo commented on #26132
@monotheist

Try reinstalling the Ultimo theme.

[2019-12-19 13:15] divyajyothi5321 opened #26135 "Sticky header for navigation in mobile, desktop"
### Description (*)

Sticky header for mobile, desktop versions

### Expected behavior (*)

It will be easier for user to navigate the categories (using sticky menu) at any position in the page.

### Benefits

It is a smart navigation that fixes the menu to the top of screen as the user scrolls down a page.

### Additional information

It improves user experience

[2019-12-19 13:16] monotheist commented on #26132
@engcom-Echo I tried that also. I have also tried switching to Luma. Issue persists.

[2019-12-19 13:27] engcom-Echo commented on #26132
@monotheist

These errors are related to the Ultimo theme. Try deleting it and checking the console log.
Then run `php bin/magento setup:static-content:deploy` clear the cache
![Screenshot_18](https://user-images.githubusercontent.com/51681435/71176903-794e9d00-2273-11ea-8b20-585100d1db8a.png)
![Screenshot_17](https://user-images.githubusercontent.com/51681435/71176904-794e9d00-2273-11ea-82b6-4803

[2019-12-19 13:38] magento-engcom-team commented on #26052
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29939` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 13:50] monotheist commented on #26132
@engcom-Echo I just switched to Luma and I seeing the same console errors in Luma. Please see attached. Ultimo in completely disabled. Cache flushed and static content redeployed.

![lumaone](https://user-images.githubusercontent.com/16968205/71178600-8af46c80-2294-11ea-9934-e9bd4d4cbb2e.jpg)
![lumatwo](https://user-images.githubusercontent.com/16968205/71178606-8e87f380-2294-11ea-8f75-94f0910b5d1

[2019-12-19 14:08] engcom-Bravo commented on #26114
Reproducible on Magento 2.4
GraphQL query returns:

[2019-12-19 14:11] magento-engcom-team commented on #26114
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29941` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 14:11] engcom-Echo commented on #26132
@monotheist
Could you show the result of the next command?
`php bin/magento deploy:mode:show`

[2019-12-19 14:23] engcom-Echo commented on #26132
@monotheist
Could you provide more details for reproduce this issue?
Please add the steps that were taken before receiving these errors.

[2019-12-19 14:28] Feyks opened #26138 "Lock Error While Updating Products Websites Attributes Mass Action"
### Context

Migrating data from Magento 1.9.3.8 to 2.3.3, i used the module data-migration-tool. When the migration succeeded, I began to look at the product on the frontend. Theproduct hadn't been associated to my new website.
So I intended to associate them with a mass action using Catalog->Products->Select All->Update Attributes->Websites.
The Bulk Action wasn't starting so I intended to launc

[2019-12-19 14:32] Feyks commented on #26138
@magento give me 2.4-develop instance

[2019-12-19 14:32] magento-engcom-team commented on #26138
Hi @Feyks. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-19 14:33] magento-engcom-team commented on #26138
Hi @Feyks, here is your [Magento instance](https://i-26138-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26138-2-4-develop.instances.magento-community.engineering/admin](https://i-26138-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-19 14:36] monotheist commented on #26132
@engcom-Echo These console errors are occurring both in developer and production mode. And it is also occurring irrespective of themes. To reproduce open browser console and navigate the store and you will see  console errors.

[2019-12-19 14:44] magento-engcom-team commented on #26113
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29945` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 14:50] devenkuswa opened #26139 "Customer form additional info block is not at right place"
### Preconditions (*)

1.Magento version: Commerce 2.3.3

### Steps to reproduce (*)

1. Create a referenceContainer for form.additional.info in any module's customer_account_edit.xml layout file
2. Add any custom block to show it on the customer form

### Expected result (*)

1. Additional block content should show below the customer form.

### Actual result (*)

1. It does not show additionally

[2019-12-19 15:00] kunzi commented on #15545
I too have this kind of problem. Neverending similar mysql processes are making the server super slow many times a day. I have to manually kill the processes. Tried the extension provided here, but no luck. We do have plenty of attributes in use. Just upgraded to 2.3.3. Did not have this problem with 2.2.3. Already had to disable Amasty's Improved Layered Navigation as the result was immediate ris

[2019-12-19 15:36] maaarghk commented on #15864
for me, still occurs on 2.3.3 if cache_types/full_page = 1

[2019-12-19 15:42] alex-james commented on #18717
Thank you @maaarghk for providing the link to the code which helped me solve this issue. The Magento 2.3.3 release note under URL Rewrites states:

But from what I have seen in 2.3.3 it looks like it now strips out the all query string parameters regardless of whether there is a trailing slash or not in the url. This has now broken pagination and # items per page functionality on category page url

[2019-12-19 15:43] magento-engcom-team commented on #26093
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29948` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-19 16:17] engcom-Echo commented on #26132
Hello @monotheist

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

Open homepage on frontend.

**Result:**
No errors. Page loaded successfully.
![Screenshot_20](https://user-images.githubusercontent.com/51681435/71189546-aa3acc00-228b-11ea-9d1d-a118476da4d5.png)
![Screen

[2019-12-19 16:17] #26132 closed, assigned to engcom-Echo

[2019-12-19 19:31] cmple commented on #2540
Any update on this? The issue still exists in v2.3.3.

[2019-12-19 19:43] textarea opened #26141 "Modal Popup and Custom subTitle erased"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Create a popup or custom modal with a title and subtitle, then change title with setTitle() method.

### Expected result (*)
1. Subtitle still exists

### Actual result (*)
1. Subtitle get erased

[2019-12-19 19:52] hostep commented on #10424
@tushhan: can you open a new issue with exact steps to reproduce, that would be very much appreciated, thanks!

[2019-12-19 19:59] hostep commented on #15864
@maaarghk: I can't reproduce it with [these steps](https://github.com/magento/magento2/issues/15864#issuecomment-441100421) on a vanilla 2.3.3 installation, and yes full_page cache is enabled.

Are you sure this isn't caused by some customisation?
If you can reproduce on a vanilla installation, please provide exact steps to reproduce and open a new issue, thanks!

[2019-12-19 21:23] GuiltyNL commented on #19714
I guess this ticket should be reopened. The switches now works while not being logged in. But when you login with a customer account, the behaviour is like described in this ticket.

[2019-12-19 21:33] hostep commented on #19714
@GuiltyNL: that's a new bug being tracked in https://github.com/magento/magento2/issues/24942

[2019-12-19 22:29] dchaykas commented on #4620
2.2.8 same issue, adding "sortOrder" attribute to <column> node has no effect (even with clearing cache) until the table ui_bookmark is truncated.

[2019-12-20 00:36] ezequielalba opened #26143 "PageBuilder disabled still shows layout on frontend for product page"
### Preconditions (*)

1. Magento 2.3.3
2. Clean instance by scratch, inheriting from Luma Theme

### Steps to reproduce (*)

1. Disable PageBuilder for global site scope configs or CLI
2. Flush cache and load Product Page
3. Layout should be default from Magento core not the PageBuilder overrides.

Here what DevDocs says it should happen: https://devdocs.magento.com/page-builder/docs/how-to/how-t

[2019-12-20 00:43] ezequielalba commented on #26143
@magento give me 2.3.3 instance

[2019-12-20 00:43] magento-engcom-team commented on #26143
Hi @ezequielalba. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-20 00:44] magento-engcom-team commented on #26143
Hi @ezequielalba, here is your [Magento instance](https://i-26143-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26143-2-3-3.instances.magento-community.engineering/admin](https://i-26143-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-20 00:53] ezequielalba commented on #26143
@magento the instance I need has to be Enterprise edition with PageBuilder included. I can't replicate on 2.3.3 Open Source vanilla instance.

[2019-12-20 01:16] ezequielalba commented on #26143
UPDATE:

The issue is that pagebuilder by being enabled by default on 2.3.3 overrides Default Layouts configurations, so even if pagebuilder is disabled the configurations stays the same because there's no automatic update (bad logic behind it).

FIX:
- Setup script to update `web/default_layouts/default_product_layout` with the default Magento layout for product you want.
- Via Admin Configuratio

[2019-12-20 01:16] #26143 closed, assigned to nobody

[2019-12-20 03:38] tuyennn opened #26145 "Add new customer address error window.checkoutConfig is undefined due by postCodeValidator"
### Preconditions (*)

1. Magento CE 2.3.3
2.

### Steps to reproduce (*)

1. Landing to create new customer address
2. Don't input anything at first but change the country to see State/Province changed accordingly

### Expected result (*)

1. Non of javascript error on log
2. State/Province changed accordingly follow country

### Actual result (*)

1. window.checkoutConfig is undefined
2. State/P

[2019-12-20 03:38] tuyennn commented on #26145
@magento give me 2.4-develop instance

[2019-12-20 03:38] magento-engcom-team commented on #26145
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-20 03:39] magento-engcom-team commented on #26145
Hi @tuyennn, here is your [Magento instance](https://i-26145-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26145-2-4-develop.instances.magento-community.engineering/admin](https://i-26145-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-20 03:45] tuyennn commented on #26145
Closed due cannot replicate on vanilla Magento instance

[2019-12-20 03:45] #26145 closed, assigned to nobody

[2019-12-20 03:51] r-martins commented on #23405
This issue is related to [paragonie/sodium_compat](https://github.com/paragonie/sodium_compat) lib. It was reported and **fixed** as [described there on #107](https://github.com/paragonie/sodium_compat/issues/107).

It was fixed on paragonie's project on Nov 8, and published on the release 1.12.1.

Basically if you installed Magento 2 recently you may not have this problem regardless your libsodiu

[2019-12-20 04:47] koushikch7 commented on #25963
@konarshankar07  This issue is not only for the Customer group grid, but also for the all grids (Default and Custom) which need fixed globally not like everywhere i think.

[2019-12-20 05:47] #25748 closed, assigned to wagento-bhavin

[2019-12-20 05:54] adarshkhatri opened #26146 "Elasticsearch is not able to search “5600” when product name has “TW5600”"
**My Product name:** `Epson EH TW5600 Full HD Home Cinema Projector | Lens Shift | 2500 Lumens | Bluetooth Audio`

**Search Term:** `"5600"` or `"Epson 5600"`

In the above condition, my elasticsearch is not able to search **"5600"**. It returns empty products.

I was using `solr` in my Magento 1 and it was working fine.

### Preconditions (*)

1. Magento 2.3
2. Elastic Search 6+ and enabled
3. Pr

[2019-12-20 06:32] magento-engcom-team commented on #26101
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29961` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-20 06:40] shikhamis11 commented on #26078
Hi @devchris79 , can you Please let me know the version of Chrome on which you are facing this issue ?
@engcom-Charlie can you please also look into this issue ?

[2019-12-20 06:43] sudheers-kensium commented on #26139
@magento give me 2.4-develop instance

[2019-12-20 06:43] magento-engcom-team commented on #26139
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-20 06:44] magento-engcom-team commented on #26139
Hi @sudheers-kensium, here is your [Magento instance](https://i-26139-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26139-2-4-develop.instances.magento-community.engineering/admin](https://i-26139-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-20 06:51] magento-engcom-team commented on #26141
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29962` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-20 07:05] kunzi commented on #22587
This is a huge issue for us in M2.3.3. We also have lots of bundle products, so I guess the mentioned patch is not going to be too helpful for us. Did not have this issue with M2.2.3. Right after updating to 2.3.3 this started happening.

[2019-12-20 07:41] engcom-Echo commented on #25921
Hello @matutetandil

We are closing this issue due to inactivity.
If you'd like to update it, please reopen the issue.

[2019-12-20 07:41] #25921 closed, assigned to engcom-Echo

[2019-12-20 07:48] chalov-anton opened #26147 ""Found 2 elements with non-unique id" warning appears in browser console on pages where sticky headers are enabled"
### Preconditions (*)
1. Magento 2.4
2. Chrome version(Version 79.0.3945.79)

### Steps to reproduce (*)

- Login to admin panel
- Navigate to Content - Pages
- Open Chrome Developer Console (F12) and observe

### Expected result (*)
No warning messages, all id's should be unique

### Actual result (*)
Warning message _Found 2 elements with non-unique id_
![two_elements_with_non_uniqu_id](https://

[2019-12-20 08:03] magento-engcom-team commented on #26147
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29966` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-20 08:53] GuiltyNL commented on #19714
@hostep Thanks!

[2019-12-20 08:56] GuiltyNL commented on #24942
I can confirm we are having this issue too on 2.3.3 (we upgraded from 2.2.7). This ticket should be reopened.

[2019-12-20 09:03] engcom-Bravo commented on #26111
Hello @lsv
Thank you for reporting an issue.
Please, let me clarify if we understand the bug.
In our case, we have a Configurable product which contains two Color configurations, for example, _"Color1"_ and _"Color2"_. We disable the _"Color2"_ configuration and perform the following GraphQL query
[code]
In the response, we get One enabled product _variant_, but we still get the **value index** of

[2019-12-20 09:25] devenkuswa commented on #26139
Actually the issue is in this file.
/vendor/magento/module-customer-custom-attributes/view/frontend/templates/customer/form/edit.phtml

Current Code:

            <div class="control">
                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                    data-input="confirm-password"
                    autocomplete="off" />

[2019-12-20 09:26] antoinekociuba commented on #11170
Hi there, is some people are still in trouble with that issue, simply remove or switch dev/static/sign setting, from core_config_data table, to 0.

It did the trick on my side.

Check https://github.com/magento/magento2/issues/7869 for more details.

[2019-12-20 09:27] antoinekociuba commented on #21201
Hi there, is some people are still in trouble with that issue, simply remove or switch _dev/static/sign_ setting, from _core_config_data_ table, to 0.

It did the trick on my side.

Check https://github.com/magento/magento2/issues/7869 for more details.

[2019-12-20 09:37] engcom-Charlie commented on #26078
@shikhamis11 yes, of course

[2019-12-20 09:55] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2019-12-20 09:55] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-20 09:56] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-20 10:04] mrkimmok opened #26149 "Class Magento\Catalog\Api\Data\ProductExtensionInterfaceFactory does not exist -error while running Magento integration tests"
### Preconditions (*)

1. Magento 2.3.3 CE with Sample Data installed
2. Site was previously v.2.3.1 (installed and updated with composer installation method)

### Steps to reproduce (*)

1. Set up/prepare local integration test configurations and database based on the documentation: https://devdocs.magento.com/guides/v2.3/test/integration/integration_test_execution.html#setup
2. Navigate to dev/t

[2019-12-20 10:14] engcom-Charlie commented on #26078
Hello @devchris79
I can't reproduce this issue on the Magento 2.3.3

**Testing scenario:**
1. Enable Google recaptcha on the frontend from Configuiration -> Security -> Google reCaptcha and make sure the newsletter option is enabled
![image](https://user-images.githubusercontent.com/51680850/71247647-cf7a1980-2321-11ea-9b4e-f1b6e97eac09.png)
2. Go to the frontend and check console for errors
**Res

[2019-12-20 10:17] maaarghk commented on #15864
I was on a vanilla install of 2.3.3.

Following above steps, between steps 2 and 3, and between steps 6 and 7 empty all tables from the database.

Rather than removing the file I tried removing just install date, crypt key, lock, backend frontname, repeating no 3 continued to fail. Strangely setting cache_types/full_page = 0 then running no 3 again worked.

#23577 might be more relevant?

Actually

[2019-12-20 10:35] startshopNL opened #26151 "Magento 2 Composer error when trying to install modules [UnexpectedValueException]"
I'm trying to install a module with magento 2 composer. However, when I try the command:

    composer require sendcloud/sendcloud

**I see an error:**

    [UnexpectedValueException]
    RecursiveDirectoryIterator::__construct(vendor/magmodules/packages): failed to open dir: No such file or directory

**Earlier, I tried to install a module :**

    composer config repositories.magmodulesartifacts

[2019-12-20 10:39] startshopNL commented on #26151
@magento give me 2.4-develop instance

[2019-12-20 10:39] magento-engcom-team commented on #26151
Hi @startshopNL. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-20 10:39] magento-engcom-team commented on #26151
Hi @startshopNL, here is your [Magento instance](https://i-26151-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26151-2-4-develop.instances.magento-community.engineering/admin](https://i-26151-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-20 11:00] engcom-Echo commented on #25999
Hello @gcampedelli

This issue is related to [19462](https://github.com/magento/magento2/pull/19462) and [19433](https://github.com/magento/magento2/pull/19433).
Any invoiced orders in Magento cannot be canceled, but they can be closed. You need to issue a credit memo, which is refund in Magento.
 Please see the [comment](https://github.com/magento/magento2/pull/19433#issuecomment-443140805). It i

[2019-12-20 11:34] #26138 closed, assigned to nobody

[2019-12-20 11:41] kunzi commented on #25378
I too still have this problem after applying patch to 2.3.3. Any additional fixes?

[2019-12-20 11:47] engcom-Charlie commented on #26139
Hello @devenkuswa

I am not able to reproduce this issue on the Magento 2.3-develop with EE modules

**Testing scenario:**
1. Create a referenceContainer for form.additional.info in any module's customer_account_edit.xml layout file
![image](https://user-images.githubusercontent.com/51680850/71252725-6c42b400-232e-11ea-965f-bcfda7b5f6fc.png)
2. Create a block and template
![image](https://user-ima

[2019-12-20 12:03] brankoajzele opened #26152 "Vertex_Tax module, "No such entity with addressId", excessive logging"
### Summary (*)
The `getDefaultBilling` and `getDefaultShipping` methods of `vendor/vertex/module-tax/Model/AddressDeterminer.php` log every exception.

[code]
The logging happens.
- whenever a new customer is registered and does not yet have any address assigned
- whenever existing customer, without address assigned, adds a product to cart

Given how try-catch code is already accounting for the N

[2019-12-20 12:13] engcom-Delta commented on #26124
Hi @shinoamakusa thank you for your report. Unfortunately , I'm not able to reproduce issue by steps you described on clean 2.4-develop. I also cannot reproduce it on magento 2.3.3 (composer installation) with disabled all Magento_Inventory modules.

**Steps to reproduce:**

- Install magento with table prefix
- Update "Quantity" product attribute to be used in frontend layered navigation
- ![imag

[2019-12-20 12:13] laccas commented on #24353
Sadly this problem also occured on one of my main projects. I can confirm that these 503 errors are happenning from nowhere. In my case, there were other problems (memory issues), so I tought that the problem comes from those. But no, those weren't related. The fix seems to me that solved my issue.

[2019-12-20 12:39] engcom-Charlie commented on #26149
Hello @ambkimmok

I can't reproduce this issue on the fresh Magento 2.4-develop.

**Testing scenario:**
1. Set up/prepare local integration test configurations and database based on the documentation: https://devdocs.magento.com/guides/v2.3/test/integration/integration_test_execution.html#setup
2. Navigate to dev/tests/integration folder
3. Run Magento Integration Tests -testsuite using CLI with t

[2019-12-20 12:41] Phennim opened #26153 "Magento\Quote\Model\Quote::removeItem() not working when the deprecated Magento\Checkout\Model\Cart::removeItem() does"
I'm trying to remove a quote item under certain conditions when adding another product to the cart.
Since the Cart shows a deprecated warning I tried the suggested Quote class. But I'm unable to us it to remove a quote item with it.

### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Subscribe to `checkout_cart_product_add_after` event
[code]
2. Inject the two classes:
[co

[2019-12-20 12:45] duckchip commented on #21885
the commit that @simonworkhouse referred to, was the suicide bomber in our case as well.
Patching that to the previous implementation fixed it.
 In my opinion this really should be reverted.

[2019-12-20 13:15] engcom-Bravo commented on #26146
Hello @adarshkhatri
Thank you for your report.
We are aware of this problem, there is already a similar issue entered under Magento2 repository
https://github.com/magento/magento2/issues/25115
We are closing this issue as Duplicate

[2019-12-20 13:15] #26146 closed, assigned to nobody

[2019-12-20 13:24] ReggieTe commented on #13746
@ananth-iyer  the patch you suggested is not working and it seems to be already there

[2019-12-20 13:38] ReggieTe commented on #13746
We're experiencing a very similar issue too but the steps are a bit different to the ones raised by @alexgoodey .The site is a multi-store site and almost every time a user switches stores the issue is highly likely to appear when adding a cross sell item to cart ,the item is not added to bag  and at time even without switching stores the issue appears.

We checked the form_key in normal mode and

[2019-12-20 13:44] seppoviuh opened #26155 "Table quote column customer_note uses wrong type"
### Preconditions (*)
Magento version 2.3.3 & 2.4-develop
The table "quote" column "customer_note" uses type varchar(255). It should be using type "text" instead. In every other sales table, the type is defined as "text".

Changing the data type from a custom module is also not possible with the declarative schema feature because the attribute length is not allowed.
![image](https://user-images.gi

[2019-12-20 14:21] magento-engcom-team commented on #26155
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29982` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-20 14:43] MagentoChannels commented on #25927
Hello, we've found a bug in the Google Shopping ads extension that removes the user from the GMC account created during onboarding shortly after the onboard process is complete. This prevents the user from claiming & verifying their account, and running ad campaigns. We will be releasing a fix to address this issue as soon as we can, and I will update this thread once we have an ETA on the fix. We

[2019-12-20 15:24] sdzhepa commented on #26139
Hello @devenkuswa

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Mag

[2019-12-20 15:33] navarr commented on #26152
Hi @ajzele,

Could you please provide information about your environment as is requested in the ticket template?

[2019-12-20 16:38] lenaorobei commented on #26111
@engcom-Bravo thank you for the investigation. I updated ticket description with the expected result.

[2019-12-20 16:38] magento-engcom-team commented on #26111
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29989` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-20 17:22] sdzhepa commented on #26098
Hello @sudheer-gajjala and @shikhamis11,  @krishprakash

Thank you for contribution and collaboration!

First of all, I want to say that I agree with each of you in this thread:

- This is default Magento behavior that was made intentionally and currently it is expected behavior
- Also, it sounds like nice to have an improvement for user experience
- On the other hand, user scenario "If user want

[2019-12-20 17:47] taihuuho commented on #25947
@engcom-Echo
I tried to import 2 configurable products. Each one has about 100 simple products.
I'll add the screenshots and more details tonight.
Sorry for the late response

[2019-12-20 18:00] kunzi commented on #22587
To continue the story, we fixed this problem by changing the catalog search to use elasticsearch6+ in Magento configurations. It resulted even complicated layered navigation combinations to happen very quickly.

[2019-12-20 18:05] fabriciosobral opened #26156 "The Luma Theme Banner House needs a lower margin when resolution above 1024px"
### Preconditions (*)

1.Clean install Magento 2.0.4 Commerce
2.Sample data installed via composer

### Steps to reproduce (*)

1. Open home, Click in Women Menu
2. Observe the Yellow Banner
3. Change resolution to above 1024px

### Expected result (*)

1. Margin Bottom to button WOMEN'S TEES
![image](https://user-images.githubusercontent.com/51653844/71280370-bc734380-2339-11ea-8f4f-e80120dde8d4.

[2019-12-20 18:06] fabriciosobral commented on #26156
I AM WORKING ON THIS ISSUE AT THIS MOMENT

[2019-12-20 18:08] ukguy commented on #22587
That's true, after many many hours (at great expense for our client) we also resolved this with Elasticsearch back in October. Magento 2.3.2 does not work well with layered navigation and catalog search set to mysql.
Also note not to use mariaDB 10.3 which also has issues, causing catalog search to never complete.

[2019-12-20 18:08] fabriciosobral commented on #26156
@magento give me 2.4-develop instance

[2019-12-20 18:08] magento-engcom-team commented on #26156
Hi @fabriciosobral. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-20 18:09] magento-engcom-team commented on #26156
Hi @fabriciosobral, here is your [Magento instance](https://i-26156-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26156-2-4-develop.instances.magento-community.engineering/admin](https://i-26156-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-20 19:14] rubenromao commented on #10580
that's not true.

[2019-12-20 21:14] Zyles opened #26158 "Unable to cancel order in Payment Review status"
### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Create an order
2. Make sure the order gets stuck in Payment Review status, could happen for a variety of reasons
3. Try to cancel order (not possible). No cancel button, and cancel action on grid does not work.
4. Order will be stuck in Payment Review status permanently

### Expected result (*)

Able to cancel an order in Paymen

[2019-12-20 21:54] shinoamakusa commented on #26124
You are still sorting by product name not quantity. I was talking about this toggle (Used in Storefront Sorting):
![image](https://user-images.githubusercontent.com/9992759/71295240-e9baf400-232f-11ea-9690-cc1204783a80.png)

When toggle enabled gives this upon sorting category by Quantity
![image](https://user-images.githubusercontent.com/9992759/71295315-36063400-2330-11ea-9244-c084abf1f67c.png)

[2019-12-20 22:09] shinoamakusa commented on #26124
The query that is being generated does not have table prefix specifically for cataloginventory_stock_item table and does for all others in the query

[code]

[2019-12-20 22:22] sdzhepa commented on #24526
Hello @rasmuswikman @zhartaunik

Thank you for contribution and collaboration!

A couple of minutes ago I received notification that the internal Magento team is working on a fix for this issue in the scop of the internal ticket. The fix should be completed and delivered into the `2.4-develop` branch soon. After delivery, this issue will be closed and commented with details about commits.

[2019-12-21 05:18] xeontcs commented on #15545
None of the solutions worked for me as well. We have one attribute called Sale (Yes/No) which cause the issue. Removing this attribute temporary solved the issue.

[2019-12-21 06:54] kunzi commented on #15545
Try activating Elasticsearch6+ in Magento configurations as a search engine for catalog search. That solved my issues and even complicated layered navigation searches are done quickly.

[2019-12-21 13:00] devchris79 commented on #26078
Closing issue as @shikhamis11 and @engcom-Charlie can't replicate.

[2019-12-21 13:00] #26078 closed, assigned to shikhamis11, engcom-Charlie

[2019-12-22 07:58] acashley commented on #23339
I tried this suggested config change in nginx but still seeing the same errors;

Access to XMLHttpRequest at 'https://assets.cnd-domain.com/static/frontend/MyTheme/Theme/en_GB/Plumrocket_SocialLoginFree/template/customer/authentication-popup.html' from origin 'https://www.domain.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not a

[2019-12-22 07:58] acashley commented on #23339
Please advise what CDN you are using for the assets loaded from the different domain.

[2019-12-22 09:17] weismannweb commented on #24353
Hi,

I have a question regarding this.  We were having this same issue.  We added that code from @HOSTED-POWER but we still saw an error but this time it had out of "workspace (bo)" in the log file which led me to this: https://www.claudiokuenzler.com/blog/737/varnish-panic-crash-low-sess-workspace-backend-client-sizing

Now what I think what is happening is once we added that code to set req.hash

[2019-12-22 14:41] acashley commented on #23339
Finally found the issue(s)...

1. Preventing URL rewriting:
- By default the SSL configuration on Cloudflare is set to:
Flexible - Encrypts traffic between the browser and Cloudflare

- I had to change SSL mode to:
Full - Encrypts end-to-end, using a self signed certificate on the server
(you could also use Full (strict) in some cases)

This was a problem because my HTTP vhost in nginx is configur

[2019-12-22 22:14] krausenspb opened #26159 "Unable to save shipment address. Firstname is required"
### Summary

When I try to place an order after the customer registration/Login. Magento 2.3.3 shows "First Name is a required Field Error. Firstname field is not displayed. When I try create shipping address at profile page or at backend - firstname field is displayed but same validation error occured!

### Preconditions
Magento 2.3.3
Migration from 1.9.3.4

### Steps to reproduce
1. Login
2. Che

[2019-12-22 23:57] erikhansen commented on #19597
@rganin It looks like you're the one who [committed the code](https://github.com/magento/magento2/commit/edec48ae150b0173f2f967058777295e6c615dc3) (or at least merged the PR) that multiple people have reported as not fixing the issue reported here. It looks like you're not subscribed to this issue, so I'm pinging you here so you're aware of the comments above.

[2019-12-23 03:37] shinoamakusa commented on #26124
Could we please reopen and figure this out ;)

[2019-12-23 04:45] krishprakash commented on #26135
Hi @divyajyothi5321.  Thank you for report.
This looks like feature request so need to confirm with team.
@sdzhepa please review the ticket info and give your feedback on this.
Thanks.

[2019-12-23 06:07] krishprakash commented on #26159
@magento give me 2.4-develop instance

[2019-12-23 06:08] magento-engcom-team commented on #26159
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-23 06:08] magento-engcom-team commented on #26159
Hi @krishprakash, here is your [Magento instance](https://i-26159-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26159-2-4-develop.instances.magento-community.engineering/admin](https://i-26159-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-23 06:23] krishprakash commented on #26159
Hi @krausenspb. Not able to reproduce the issue.
please update the steps to reproduce the issue with proper reproducible steps.
Thanks.

[2019-12-23 07:34] webkul-ajaysaini commented on #25581
There is another issue at the time of reorder.
Buyer Not able to reorder products when custom option changed.

[2019-12-23 09:32] krausenspb commented on #26159
@krishprakash May be trouble because data migration from 1.9.3.4 so you can't reproduce it on clear magento?

Backend steps:
1. Login to backend
2. Go to cutomers->All customers-> Edit customer ->Addreses -> Add new address
3. Filll all required fields and submit form
4. Validation fails (firstname is required)

![222](https://user-images.githubusercontent.com/17198710/71349474-2846ed80-2580-11ea-

[2019-12-23 09:35] magento-engcom-team commented on #26124
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30001` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 09:41] krishprakash commented on #26159
Hi @krausenspb. Thank you for feedback.
Are you done the data migration with data migration tool ?

[2019-12-23 09:46] DigitalStartupUK commented on #23339
I also want to chime in here and state that once it was **confirmed** that this wasn't a bug a few weeks ago, I did some more digging and determined that I had to add the following to my Apache Config (inside `<Directory /var/www/html/>`). Therefore, making it an environmental issue:

[code]

[2019-12-23 09:46] krausenspb commented on #26159
@krausenspb yes, data migration tool

Additional info: When I try to edit shipping address, all fields savad exept "firstname".

[2019-12-23 09:52] krishprakash commented on #26159
All the Data Migration tool related issues should reported in its separate [Data migration tool repository](https://github.com/magento/data-migration-tool/issues)
Please report issue here.
Thanks

[2019-12-23 09:52] #26159 closed, assigned to krishprakash

[2019-12-23 09:57] engcom-Echo commented on #25999
Dev Docs will be updated as soon as possible.
According to [this](https://github.com/magento/magento2/pull/19433#issuecomment-443140805) comment the issue is invalid and functionality works correctly.

[2019-12-23 09:57] #25999 closed, assigned to engcom-Echo

[2019-12-23 10:03] krausenspb commented on #26159
@krishprakash Thanks for answer.
But I don't know issue related with migration tool or not. But I will duplicate issue. Thanks

[2019-12-23 10:36] HOSTED-POWER commented on #24353
Hello @weismannweb , I'm not sure if I understand it completely (lack of time atm), however after using the updated VCL we had 0 critical errors. So I don't think we hit that error (if I understand correctly that's a critical one too)

[2019-12-23 10:39] HOSTED-POWER commented on #24353
PS: I see we have this as a default in our optimized settings:  "-p workspace_backend=320k "

[2019-12-23 10:42] magento-engcom-team commented on #3625
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-23 10:59] engcom-Alfa commented on #12790
Hi @Sharkozp. Thank you for collaboration!

We are not able to reproduce this issue on the fresh 2.4-develop instance. Everything works correctly.

**Precondition:**
have at least 1 order with status: pending

**Manual testing scenario:**
1. Go to Swagger;
2. open salesOrderRepositoryV1;
3. Call method GET /V1/orders;

Values for search:
- Field - status
- Value - pending
- Condition type - eq

**

[2019-12-23 11:04] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2019-12-23 11:04] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-23 11:04] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-23 11:05] magento-engcom-team commented on #3625
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-23 11:06] magento-engcom-team commented on #3625
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30006` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 11:46] engcom-Charlie commented on #26030
Hello @LouNik1984
We are not able to reproduce your issue on the Magento 2.4-develop.
Because your code is wrong. You have to set `tittle` separately of another data.
You can only change the title for different stores(another data have to be same and can't be replaced for different stores).

So i have to close this issue.
Thanks for your report!

[2019-12-23 11:46] #26030 closed, assigned to engcom-Charlie

[2019-12-23 12:10] hasim32 opened #26164 "Underline should not display on hover for delete icon at shopping cart Internet explorer browser"
Underline should not display on hover for delete icon at shopping cart Internet explorer browser.

### Preconditions (*)
Magento: 2.3.3
Windows IE 11

### Steps to reproduce (*)
- Open site in Internet explorer 11
- Add product to cart
- hover on delete icon

### Expected result (*)
Underline should not display on hover for delete icon as pr Chrome and Firefox

### Actual result (*)
![image](https

[2019-12-23 12:30] vinaysikarwar commented on #10765
Its still not working. Custom Rendered data not exporting from custom class.

[2019-12-23 12:39] CsSatter commented on #26040
Hi @shikhamis11,
Could you link us the commit message related to the fix?
Thank you!

[2019-12-23 12:39] magento-engcom-team commented on #26164
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30037` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 12:42] zhartaunik commented on #24353
Have the same issue, as described. You even don't need to surf the website. The website has ~5 products and 7 cms pages.
I simply opened homepage at once. In one hour there was already inline 503 error (returned by varnish as a content part) instead of the menu. (It was on Friday). After the weekend the site was totally down and we got 503 error from varnish.
The issue reproduced on staging and lo

[2019-12-23 12:48] magento-engcom-team commented on #5322
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-23 12:49] magento-engcom-team commented on #5322
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30039` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 12:56] ivankristic commented on #5322
Is your bot ok, or buggy as well? Spamming me after 2mo of silence

[2019-12-23 13:09] b2bdokter commented on #24942
experiencing on 2.3.3 too

[2019-12-23 13:10] LouNik1984 commented on #26030
"You have to set tittle separately of another data"

I'm not sure if I understand correctly: what you mean is that I have to first create the option and then get the option and change the title? I cannot add the different titles during creation? Is that what you mean?

[2019-12-23 13:17] engcom-Alfa commented on #7522
Hi @axthor. Thanks for your collaboration!

We are not able to reproduce this issue on the fresh 2.4-develop instance. Everything works correctly.

**Manual testing scenario:**

1.Log in to Admin;
2. In the admin menu, navigate to Products > Catalog;
3. Ensure that the status of one or more products is set to "disabled";
4. Note the "records found" product count at the top of the grid;
5. Click in

[2019-12-23 13:20] GuiltyNL commented on #24942
@magento-engcom-team this ticket should be reopened.

[2019-12-23 13:29] engcom-Charlie commented on #26030
@LouNik1984 yes, right

[2019-12-23 13:40] engcom-Charlie commented on #4955
Hello @ludwig-gramberg

We are not able to reproduce this issue on a fresh Magento 2.4-develop.

**Testing scenario:**

1. Set only read permissions for `env.php`
2. Run some CLI command

**Result:**
Commands are working as expected:
![image](https://user-images.githubusercontent.com/51680850/71360824-c1363280-2599-11ea-8ff2-dee78f0c30be.png)

So i have to close your issue.
If you still faced this

[2019-12-23 13:40] #4955 closed, assigned to engcom-Charlie

[2019-12-23 13:52] stevetnt commented on #5980
I would like to chime in here and mention that after we switched servers to AWS, and possibly due to Varnish cache setup -- our pages can be refreshed while product is saving without issues. Product always gets updated now and have not had this issue once.

My advice to a lot of people here would be to check and make sure Varnish and/or your caching setup is working properly.

Have a great day! Ho

[2019-12-23 14:00] magento-engcom-team commented on #9205
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30042` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 14:37] magento-engcom-team commented on #10353
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30044` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 14:39] magento-engcom-team commented on #5913
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30045` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 14:46] Parakoopa commented on #4955
@engcom-Charlie This is still an issue, see my comments. This is not the only instance where the file has to be writable.

[2019-12-23 14:47] engcom-Bravo commented on #6578
@magento give me a 2.0 instance

[2019-12-23 14:49] aloksparx commented on #13873
Hi, I am facing the same error in magento 2.3.3 after upgrade from 2.2. Any suggestion will be great help

[2019-12-23 15:01] magento-engcom-team commented on #7253
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-12-23 15:05] engcom-Alfa commented on #7253
This issue is reproduced on the fresh 2.4-develop instance

**Steps to reproduce:**
1. Open catalog module -> catalog_category_view.xml
2. Try to move a toolbar outside the block.
[code]
**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/71364958-46bfdf80-25a6-11ea-9270-9d1d11f8ddc4.png)

[2019-12-23 15:07] aloksparx commented on #13873
Nothing has been found the log files.

[2019-12-23 15:10] aloksparx opened #26166 "Customer with Same Email Id Exists in the store. Please try to reset password"
Hi, I have upgraded the magento 2 version from 2.2.3 - 2.3.3. After upgrade everything working as expected but the Customer registration is not working and throwing error "Customer with Same Email Id Exists in the store. Please try to reset password". Nothing can be found in the log files.
You can check the issue at https://www.pretmetled.nl/customer/account/create/

Website is live and we are loo

[2019-12-23 15:39] engcom-Echo commented on #11314
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
"Persistent Shopping Cart" is enabled

**Steps to reproduce:**

1. Add product to basket
2. Login - choose "remember me"
3. Leave the browser open
4. Refresh the page after some time

**Result**
The customer is remain logged in
Or - if the session has expired, th

[2019-12-23 15:42] romeof1980 commented on #25892
thanks a lot @AjayKrP ,
that solved our issue too.
Note that the exception will be hidden in production mode but in developer the exception will be thrown. We noticed it in production though, due to the fact that search term where not found in catalogsearch fulltext (both with Elasticsearch6 and Mysql).
That can turn in a nightmare in a catalog with ten of thousands of products.
This is a bug pres

[2019-12-23 15:59] engcom-Echo commented on #26103
Hello @monotheist

Thank you for contribution and collaboration!
Please check the [timeouts](https://info.varnish-software.com/blog/understanding-timeouts-varnish-cache) settings and varnish log (run `varnishncsa`)

[2019-12-23 16:02] magento-engcom-team commented on #5980
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30047` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-23 16:45] rparsi-boxycharm commented on #24365
@maheshWebkul721 @engcom-Bravo Any progress on this?
This is an issue for our store....there are several admins, our site has high volume of sales so manually tracking inventory is not feasible, so we need a way to prevent admin generated Orders that result in negative product stock quantity.
We do NOT use backorders (setting is disabled, `No Backorders` value in config).
What settings and/or mage

[2019-12-23 16:52] rparsi-boxycharm commented on #22443
@tomekjordan This IS an issue...an admin (or several admins) may not always know the exact product stock situation, especially in high volume sales sites.
We do NOT use the backorders setting; (setting is disabled, `No Backorders` value in config)
What magento core code do I need to override to prevent admin created Orders that result in negative product stock quantity?

[2019-12-23 19:09] shikhamis11 commented on #26166
Hi @aloksparx
Please correct the issue format .. also please provide additional informations to reproduce this issue.

[2019-12-23 20:49] taihuuho commented on #25947
<img width="1276" alt="Screen Shot 2019-12-23 at 2 42 40 PM" src="https://user-images.githubusercontent.com/12061272/71379889-bdeb7880-2592-11ea-9481-ccb20c97c13c.png">

@engcom-Echo , please see the memory settings in the screenshot above.

**Reproduction steps**
- Create 10 different colors and 9 different sizes
- Try using the Bulk API to import 2 configurable products using those colors and si

[2019-12-23 21:24] smadasam commented on #8933
So, what is a workaround once you are in this state?  My reindexing cron job doesn't run anymore.  Given it is is always locked, it seems like the lock is leaked/stale.  Can I just manually delete the lock somehow?

[2019-12-24 05:28] maheshWebkul721 commented on #24365
@rparsi-boxycharm , you can go with [https://github.com/magento/magento2/pull/24945/commits/2f60bd15d65ff8fe961b9b6d844adcef2e2f00f2](url) solution for your store. I suggest you to create a patch for this.

[2019-12-24 05:39] maruti-bit opened #26167 "I am using google recaptcha of magento2 .but it loading very slow.Most of time it loads after submission of form.hence it gives error missing parameter of recaptcha"
### Preconditions (*)

1.I am using magento 2.3.2 CE
2.using google recaptcha magento2

### Steps to reproduce (*)

1.when i am on recaptcha page (sign in,contact,signup,forgot pass),captcha loads after page submit
2.hence it gives error like captcha parameter missing

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-12-24 06:02] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2019-12-24 06:02] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-24 06:02] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-24 07:37] engcom-Alfa commented on #7658
Reproduced on the fresh 2.4-develop instance.

**Manual testing scenario:**
1.Create a configurable product with ~5000 sub-products;
2. Try to access product edit page in the backend;

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/71400959-06f20a00-2631-11ea-8232-b1669fc7952b.png)

[2019-12-24 07:38] magento-engcom-team commented on #7658
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30050` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 07:59] divyajyothi5321 opened #26168 "Input Checkbox Alignment Issue at checkout page in Safari Browser"
### Preconditions (*)

1. Magento2.4

### Steps to reproduce (*)

1. Go to Front end, add any product to Cart.
2. Go to Checkout Page.
3. Fill all the shipping details
4. Then go to Review and payments
5. The checkbox is not aligned properly for the My billing and shipping address are the same.

### Expected result (*)

1. My billing and shipping address input checkbox Should be aligned properly.

[2019-12-24 08:16] engcom-Bravo commented on #6578
Hello @heldchen
We can't reproduce this issue on Magento 2.4 develop
We are performing the following steps:
1. From Admin _Stores - Configuration - Customer - Customer Configuration - Name and Addresses Options_ set **Show Telephone** to **No**
![telephone_no](https://user-images.githubusercontent.com/51680745/71401537-d7440180-2632-11ea-95c0-da5c14aa74a9.png)
2. From the Store Front, Create an Ac

[2019-12-24 08:18] engcom-Bravo commented on #6578
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2019-12-24 08:20] magento-engcom-team commented on #7253
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30052` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 08:45] magento-engcom-team commented on #26168
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30053` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 09:07] magento-engcom-team commented on #8755
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30054` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 09:17] shubhamsikarwar commented on #6399
I also have same issue. Update.log file size increase to 18GB. Any solution ?

[2019-12-24 09:18] magento-engcom-team commented on #6092
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-24 09:19] magento-engcom-team commented on #6092
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30055` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 09:47] engcom-Echo commented on #11627
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Click Men - Bottoms - Pants -> 12 items
2. Click Style - Leggings -> 4 items, 2 in green
3. Click Color - Green

**Result**
2 items found
![Screenshot_31](https://user-images.githubusercontent.com/51681435/71407197-167a4e80-2643-11ea-9673-108937383212.pn

[2019-12-24 09:47] #11627 closed, assigned to engcom-Echo

[2019-12-24 09:58] magento-engcom-team commented on #7537
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-12-24 10:03] magento-engcom-team commented on #7537
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30057` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 10:18] hostep commented on #24353
Let me re-open this issue, it seems that the error only occurs after a while, but @engcom-Delta only took a few minutes to test the issue, so that's not really representative.

[2019-12-24 10:22] engcom-Alfa commented on #7537
Reproduced on the fresh 2.4-develop instance

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/71408773-02851b80-2648-11ea-870a-8355da282b39.png)

[2019-12-24 10:23] hostep commented on #24942
@GuiltyNL: we should first test if this is still an issue on the `2.4-develop` branch. It [was reported](https://github.com/magento/magento2/issues/24942#issuecomment-561359666) as not being reproducible on `2.3-develop` (which became `2.4-develop` some days ago). It might mean that a fix is already there.
If a fix is already there, it would be nice if somebody could try to figure out where it is

[2019-12-24 10:29] magento-engcom-team commented on #10355
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30058` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 10:34] aloksparx commented on #26166
Please close the ticket. I found problem was due to extension i was using for mailchimp. Extension URL: https://store.ebizmarts.com/mailchimp4magento2.html

[2019-12-24 10:36] magento-engcom-team commented on #8211
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30059` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 10:37] heldchen commented on #6578
appreciate you looking into this, but: this issue was reported in 2016 and confirmed several times in the past, so for sure I won't waste anymore of my time on this.

[2019-12-24 10:48] #26166 closed, assigned to shikhamis11

[2019-12-24 11:03] aloksparx opened #26171 "Country dropdown populating wrong countries while adding Customer Address from Backend."
### Preconditions (*)
1. Magento Community version 2.3.3 installed with/without sample data
2. Allowed countries are selected from Store->Configuration->General->Country Options

### Steps to reproduce (*)
1. Please Allow Random countries from  Store->Configuration->General->Country Options->Allowed Countries
2. Try to Add customer Address from Admin->All Customer->Edit any Customer -> Add New Add

[2019-12-24 11:10] Stepa4man commented on #24353
@zhartaunik @weismannweb
Do you have clear steps to reproduce?

[2019-12-24 11:24] engcom-Delta commented on #10461
Hi @merance2000 . Unfortunately, I cannot reproduce this issue on 2.4-develop.
**Case1:**
```$product->setPrice($price); $this->productRepository->save($product);```
**Actual result:**
:heavy_check_mark: Images are not removed from updated product

**Case2:**
Via Rest API:
Post : /rest/V1/products
Simple body for request:
[code]
**Actual result:**
:heavy_check_mark: Images are not removed from upd

[2019-12-24 11:34] engcom-Charlie commented on #7299
Hello @alessandrozucca

I am not able to reproduce this issue on a fresh Magento 2.4-develop

**Testing scenario:**

1. Go to the checkout after adding something to the basket
2. Send a request to the REST endpoint V1/carts/mine/billing-address using the payload below
`{"cartId":"6","address":{"countryId":"GB","regionId":"0","region":"","street":["54 Carnegie Court",""],"company":"","telephone":"0

[2019-12-24 11:43] weismannweb commented on #24353
BIG DISCLAIMER: I am totally new to varnish cache with Magento 2.3 which we did on this project for the first time as it was a large and heavily trafficked site so what I write below is a total guess.  Please bear that in mind.

I think it depends on what change we did fixed it.  I think the restarts code fixed it but then i got the workspace error.  I am not sure if they are related or separate.

[2019-12-24 11:47] hiren-aimsinfosoft opened #26172 "Stock filter ( quantity_and_stock_status ) is not displayed in layered navigation"
### Preconditions (*)
1. Magento 2.4-develop
2. Display out of stock product in listing page

### Steps to reproduce (*)`
1. Configure `quantity_and_stock_status` attribute according https://docs.magento.com/user-guide/catalog/navigation-layered-filterable-attributes.html#step-1-set-up-the-attribute-properties
![image](https://user-images.githubusercontent.com/51681379/97003776-a2e7ed00-1544-11eb-

[2019-12-24 11:54] engcom-Delta commented on #10578
@cproboscht Unfortunately, I cannot reproduce this issue on 2.4-develop
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2019-12-24 11:54] #10578 closed, assigned to engcom-Delta

[2019-12-24 12:05] krishprakash commented on #26171
Hi @aloksparx. Thank you for your report.
Issue is already open
You can review the conversation at #25218

[2019-12-24 12:05] #26171 closed, assigned to krishprakash, sudheer-gajjala

[2019-12-24 12:08] magento-engcom-team commented on #7392
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30061` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 12:17] magento-engcom-team commented on #25947
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30062` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 12:27] kanhaiya5590 commented on #20164
@jfgalano @Ohopwood
This happens if you removed any one of these  `catalog.product.related ` or `product.info.upsell` or `checkout.cart.crosssell`  or `search_result_list` or `checkout.cart.crosssell ` or `category.products.list` block(s). we will get this issue, to make it work i created a [patch](https://github.com/kanhaiya5590/Fatal-error-with-Google-Tag-Manager-in-Magento-2.3.x/blob/master/kan

[2019-12-24 12:31] magento-engcom-team commented on #8897
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-24 12:39] magento-engcom-team commented on #7856
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30063` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-24 12:58] engcom-Charlie commented on #23443
Hello @TommyKolkman

I am not able to reproduce this issue during upgrading Magento 2.2.x to 2.3.2.
My testing scenario is according this [guide](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html).

So i have to close this issue as not reproducible.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento

[2019-12-24 12:58] #23443 closed, assigned to engcom-Charlie

[2019-12-24 13:04] hewgim commented on #11002
Is this issue actually fixed. I've just had two separate development servers use up over 1 million CPU seconds in a few hours as a result of the magento cron, on a pretty much vanilla installation of Magento 2.3.3 with 30 products and zero activity apart from the cron running

One server had 10000 rows in the cron schedule table and the other had just over 1000 (after I had changed the save histor

[2019-12-24 13:14] engcom-Alfa commented on #9252
Closing due Travis CI is no longer supported. Thanks!

[2019-12-24 13:16] #9252 closed, assigned to engcom-Alfa

[2019-12-24 13:26] mageprince opened #26174 "Address Book tab keep not selected after add or edit customer address"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Log in as customer with username and password
2. Open address book
3. Add new address or edit existing address
4. Save address

### Expected result (*)

1. Address Book tab not highlighted

### Actual result (*)

1. Address Book tab keep highlighted
![Address Book](https://user-images.githubusercontent.com/24751863/71414865-f4

[2019-12-24 13:27] ajijshekh123 commented on #26174
Give me @magento give me 2.4-develop instance

[2019-12-24 13:27] magento-engcom-team commented on #26174
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-24 13:27] magento-engcom-team commented on #26174
Hi @ajijshekh123, here is your [Magento instance](https://i-26174-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26174-2-4-develop.instances.magento-community.engineering/admin](https://i-26174-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-24 13:33] ajijshekh123 commented on #26174
@mageprince - I have verified this issue latest Magento 2.4 Instance and In this instance, it is working fine.
Now I have close the issue. @mageprince - If you have reproduce again this issue you can open it and add the video or screenshot or steps.

[2019-12-24 13:33] #26174 closed, assigned to ajijshekh123

[2019-12-24 14:07] engcom-Delta commented on #10704
@nadeefit6 @rafaelcalero Unfortunately, I am not able to reproduce issue on  2.4-develop
**Steps to reproduce:**
- Generate a coupon code from Cart price rule for free shipping.
![image](https://user-images.githubusercontent.com/51681379/71415867-98c83a00-2666-11ea-884c-6563a5e9ebd4.png)

- Shipping method is UPS
![image](https://user-images.githubusercontent.com/51681379/71415780-25262d00-2666-11

[2019-12-24 14:24] engcom-Echo commented on #11078
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. Magento install with two separate stores (Store A and Store B), with two separate catalog root categories (`Store A Root` and `Store B Root`)
2. At least one top-level category under each root category (`Store A Root -> Category 1`, `Store B Root -> Category

[2019-12-24 14:24] #11078 closed, assigned to engcom-Echo

[2019-12-24 14:29] hewgim commented on #17951
Same issue here on 2.3.3 . Thought it was an issue with the cron scheduler but now believe it's these queue consumers that never complete. Caused 2 separate development servers to crash. Not the best first impression of Magento 2 unfortunately.
<img width="879" alt="Screenshot 2019-12-24 at 12 40 48" src="https://user-images.githubusercontent.com/24464795/71416729-b04cf600-2659-11ea-844b-90fe8f92c

[2019-12-24 14:31] #11314 closed, assigned to engcom-Echo

[2019-12-24 14:32] korostii commented on #25990
Uhm, 64k seems like a rather reasonable limit for product description. Could you pleas elaborate on the exact business case where one would require such an abundant amount of text filled into this single field? I mean, your case might be valid, but I am pretty sure this isn't a common problem.

It doesn't seem meaningful to extend the text attribute type used here any further. On the other hand, y

[2019-12-24 14:32] hewgim commented on #11002
On further investigation it appears that my problem of excessive cpu usage is due to a bug in magento queue consumer logic in 2.3 that means they never complete. see https://github.com/magento/magento2/issues/17951

[2019-12-24 20:55] VladimirZaets commented on #26155
Hi @seppoviuh. Thank you for your report.
The issue has been fixed in magento/magento2#26160 by @ravi-chandra3197 in 2.4-develop branch
Related commit(s):
 - [0621d52235993e3eec4835490e1939af09137481](https://github.com/magento/magento2/commit/0621d52235993e3eec4835490e1939af09137481)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-24 20:55] #26155 closed, assigned to ravi-chandra3197

[2019-12-24 20:55] VladimirZaets commented on #761
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#25864 by @serhiyzhovnir in 2.4-develop branch
Related commit(s):
 - [2be777942056985a81371890cfc010d43c47bccd](https://github.com/magento/magento2/commit/2be777942056985a81371890cfc010d43c47bccd)
 - [83fadc4a406bbe6500034f46ee3802b4c408cb08](https://github.com/magento/magento2/commit/83fadc4a406bbe6500034f46ee3802

[2019-12-25 02:57] testmagento2 commented on #25887
But why no one update this.
This is a big issue.

[2019-12-25 09:49] divyajyothi5321 opened #26176 "Footer Newsletter input field width is not identical in Internet Explorer/EDGE browser compared with chrome"
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Go to Frontend footer section
2. The newsletter input field width is not identical in Internet Explorer/Edge Browser

### Expected result (*)

1. Newsletter input field width should identical in all broswers
2.
![search-expected](https://user-images.githubusercontent.com/54176640/71441536-d80a8f80-2727-11ea-8afa-05f0b9dcafd4.png

[2019-12-25 11:20] Den4ik commented on #10704
@nadeefit6 @rafaelcalero Same results that provided by @engcom-Delta on 2.4-develop branch
**Before coupon apply in cart:**
![image](https://user-images.githubusercontent.com/1129623/71444257-f751ee80-2720-11ea-8726-9a3f172a9e90.png)
**After coupon apply in cart:**
![image](https://user-images.githubusercontent.com/1129623/71444269-033db080-2721-11ea-8fd7-adeb18fbe42d.png)
**Before coupon apply at

[2019-12-25 11:42] rav-redchamps commented on #6436
You might use this extension as well

https://redchamps.com/discontinued-products-magento-2-extension.html

It can disable welcome email for customers created from admin/api or for specific customer groups

[2019-12-25 17:28] monotheist opened #26177 "More than one redirect with trailing slash in secure non-www url"
### Preconditions (*)

1. Magento 2.3.3
2. SSL enabled

### Steps to reproduce (*)

1. In Firefox browser enter https://example.com/mens-wear
2. There is more than one redirect with trailing slash in secure non-www url when you inspect the network tab in firefox browser. As you can see from below a secure non-www url is forwarded to a url with trailing slash and then again forwarded to one with no

[2019-12-26 05:13] Alwafaa123 commented on #25769
@engcom-Charlie how can we solve the issue? any idea?

[2019-12-26 05:53] KaustubhBorate commented on #23013
I am facing this issue on Magento 2.2.9. I have Upgrade the version from 2.2.3 to 2.2.9 and after that i am facing this issue.
Please  guide me to resolve.

[2019-12-26 06:13] salehawal opened #26178 "Upgrading from 2.3.1 to 2.3.3 | Blank Page"
### Preconditions (*)
1- Magento 2.3.3
2- php 7.1

### Steps to reproduce (*)
1. Upgrade from Magento 2.3.1 to 2.3.3

### Expected result (*)
1. site to work fine

### Actual result (*)
1. blank page with Error Code 500 in Request

[2019-12-26 07:37] KaustubhBorate opened #26179 "Issue with Downloadable product status at FE"
I am facing an issue with downloadable products, Magento showing at status 'pending' instead of 'Available'. The order is completed but still shows pending and downloadable product link is not displaying.
 This Issue on Magento 2.2.9.
I have upgrade the magento from 2.2.3 to 2.2.9 and then after this issue occur.

[2019-12-26 08:10] dollyanddotty opened #26180 "Facebook integration"
Hi,

How long would you need to set up facebook integration?
If it's a quick process. Please do it, now.

[2019-12-26 08:40] krishprakash commented on #26179
Hi @KaustubhBorate. Thank you for your report.
Issue is already fixed in latest magento
You can review the previously added issue at #23549

[2019-12-26 08:40] #26179 closed, assigned to krishprakash

[2019-12-26 08:42] engcom-Charlie commented on #25769
@Alwafaa123 sorry, but i have no idea.

[2019-12-26 08:42] engcom-Delta commented on #11343
@tuyennn Unfortunately, I am not able to reproduce issue by steps you described on 2.4-develop
![#11343Issue](https://user-images.githubusercontent.com/51681379/71467586-0641ab00-27cc-11ea-8f05-a3e4b0735365.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are stil

[2019-12-26 08:42] #11343 closed, assigned to engcom-Delta

[2019-12-26 08:49] magento-engcom-team commented on #6610
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30074` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 08:54] engcom-Echo commented on #11326
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
I created new 5 catalog price rules and deactivated others 15.

**Result**
Scheduled reindex going on and discounted prices shown. MySql error log is empty
![Screenshot_36](https://user-images.githubusercontent.com/51681435/71468162-bfed4b80-27cd-11ea-9991-0

[2019-12-26 08:54] #11326 closed, assigned to engcom-Echo

[2019-12-26 08:57] krishprakash commented on #26176
@magento give me 2.4-develop instance

[2019-12-26 08:57] magento-engcom-team commented on #26176
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-26 08:57] magento-engcom-team commented on #26176
Hi @krishprakash, here is your [Magento instance](https://i-26176-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26176-2-4-develop.instances.magento-community.engineering/admin](https://i-26176-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-26 09:06] magento-engcom-team commented on #26176
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30075` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 09:09] divyajyothi5321 opened #26181 "Out of stock text is not aligned properly with add to cart button at list page in responsive"
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Go to Frond end and product listing page
2. In mobile view the out of stock text and add links are misaligned compared with add to cart button

### Expected result (*)

1. The out of stock text and add links should be aligned with add to cart button in all screens
2.
![outofstok-expected](https://user-images.githubusercontent.co

[2019-12-26 09:27] engcom-Charlie commented on #19865
Hello @joebordo

I am not able to reproduce this issue on a fresh Magento 2.4-develop

**Testing scenario:**

1. Create a new Color2 Attribute with predefined colors (images as swatches) and set the Global scope in Advanced Attribute Properties
2. Create New Attribute Set And add the created Color2 Attribute to the set.
3. Click ADD PRODUCT
4. Choose your created Attibute SET
5. Fill all the necce

[2019-12-26 09:29] magento-engcom-team commented on #11516
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30076` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 09:31] magento-engcom-team commented on #8897
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30077` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 09:34] magento-engcom-team commented on #26181
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30078` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 09:35] chalov-anton opened #26957 "The date in To field can be set older than date in From field (Date filters)"
### Preconditions (*)

Magento 2.4-develop
Created Order and Customer

### Steps to reproduce (*)
1. From admin Go to _Sales - Orders_
2. Click **Filters**, Set **Purchase Date** _from_, for example Todays date
3. Try to set, **Uploaded Date** or **Modification Date** _to_, for example, a day before
4. Click **Apply Filters**

### Expected result (*)
1. There should not be an ability to select a d

[2019-12-26 09:39] engcom-Charlie commented on #19795
Hello @Abdulkadiragoliya

I am not able to reproduce this issue on a fresh Magento 2.4-develop.

**Testing scenario:**

1. Create account with your email
2. Place order
3. Check your email

**Result:**
All emails have send:
![image](https://user-images.githubusercontent.com/51680850/71470118-da2a2800-27d3-11ea-9b96-5d882aa5c356.png)
![image](https://user-images.githubusercontent.com/51680850/71470

[2019-12-26 09:39] #19795 closed, assigned to engcom-Charlie

[2019-12-26 09:43] magento-engcom-team commented on #11692
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30080` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 09:46] magento-engcom-team commented on #19737
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30081` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 10:10] engcom-Echo commented on #11966
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. Multiple store views
2. Have a default tax class for products
![Screenshot from 2019-12-26 12-04-31](https://user-images.githubusercontent.com/51681435/71471573-8f5edf00-27d8-11ea-874b-31fba8f5e0b6.png)

**Steps to reproduce:**

1. Go to Catalog > Products
2.

[2019-12-26 10:10] #11966 closed, assigned to engcom-Echo

[2019-12-26 10:23] magento-engcom-team commented on #12319
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30082` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 10:25] engcom-Alfa commented on #11895
Hi @liangdefeng. Thank you for reporting.

We are not able to reproduce this issue on the fresh 2.4-develop instance.

**Manual testing scenario:**
1. Created website, store and store view as follow.
![websites](https://user-images.githubusercontent.com/51679138/71472134-925acf00-27da-11ea-8dab-d11dc18a4419.png)
2. Open TestView2, delete it.

**Actual Result:**
The store view is deleted successful

[2019-12-26 11:01] engcom-Charlie commented on #19429
Hello @datasolution75

I am not able to reproduce this issue on a fresh Magento 2.4-develop.

**Testing scenario:**

1. Make an Order with shipping cost and VAT on the shipping. (in my exemple 5$ with a 20% VAT rate)
2. Use a discount fixed on cart with an amount that can apply to shipping also (in my example 5$)

**Result:**
Credit memo has been created
![image](https://user-images.githubusercont

[2019-12-26 11:01] #19429 closed, assigned to engcom-Charlie

[2019-12-26 11:13] engcom-Alfa commented on #11995
Reproduced on the fresh 2.4-develop instance

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/71473825-6bec6200-27e1-11ea-9410-fe2321729ea5.png)

[2019-12-26 11:14] magento-engcom-team commented on #11995
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30084` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 11:43] magento-engcom-team commented on #11768
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30085` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 12:22] dollyanddotty commented on #26180
Hi, we would like to have an automatic feed from www.dollyandotty.co.uk to Facebook.
How long do you need to set this up?
Can we do this today?

[2019-12-26 12:24] #26180 closed, assigned to nobody

[2019-12-26 12:43] engcom-Alfa commented on #11998
Reproduced on the fresh 2.4-develop instance

**Manual testing scenario:**

1. In Admin, set Stores -> Configuration -> SALES -> Tax -> Price Display Settings -> Display Product Prices In Catalog to "Including and Excluding Tax"
2. Configure tax class and set it for the product
3. Set special price for the product
4. In vendor/magento/module-catalog/view/base/templates/product/price/final_price.ph

[2019-12-26 12:43] magento-engcom-team commented on #11998
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30089` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 13:05] hostep commented on #19795
@engcom-Charlie: for completeness sake, can you also test with an older version of the ICU library?
This was reported in the [following comment](https://github.com/magento/magento2/issues/19795#issuecomment-448492023).

Thanks!

[2019-12-26 13:15] kovinet commented on #24902
I am on Magento 2.3.3 and I still have this issue.

[2019-12-26 13:35] engcom-Echo commented on #12527
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
 1. Setup the default store with Australia locale by following this tutorial https://www.fontis.com.au/blog/how-to-set-up-a-magento2-store-for-australia
2. Add a second store view with Vietnam locale
3. Add products to store with AUD currency
5. Go to the fr

[2019-12-26 13:35] #12527 closed, assigned to engcom-Echo

[2019-12-26 13:52] nagrgk opened #26184 "Why "search_tmp_" used? and whats use of it?"
#15545
https://magento.stackexchange.com/questions/143420/magento2-search-tmp-join-leads-to-empty-results-in-category-listing

### Preconditions
There are lot of issues with Magento, biggest is performance issue at category/search.
Main issue is creating dynamic tables on run time and causing lot of issues.
1. create search_tmp temp table when click on category/search
2. it creates more than 12 or

[2019-12-26 13:59] nagrgk commented on #26184
yes, it is reproducible in vanilla Magento

[2019-12-26 14:32] magento-engcom-team commented on #12183
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30092` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-26 14:35] engcom-Charlie commented on #18927
Hello @jhruehl
Your issue is already fixed in `2.4-develop` branch.
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/SalesSequence/etc/db_schema.xml#L44

So i have to close this issue as not reproducible.

Please feel free to comment, reopen or create new ticket according to the Issue reporting guidelines
if you are still facing this issue on the latest Magento 2.4-develop bra

[2019-12-26 14:35] #18927 closed, assigned to engcom-Charlie

[2019-12-26 14:45] engcom-Alfa commented on #11759
Hi @kevingimbel ! Thank you for your reporting.

We are not able to reproduce this issue on the fresh 2.4-develop instance. Everything works correctly. So we have to close it.

**Manual testing scenario:**
1. Create a custom theme and set it active (e.g. app/design/frontend/Test/base;
2. Add app/design/frontend/Test/base/i18n/de_DE.csv to the theme;
3. Add "Place Order", "WILL NOT BE TRANSLATED" t

[2019-12-26 14:45] #11759 closed, assigned to engcom-Alfa

[2019-12-26 14:52] engcom-Echo commented on #12509
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
1. Create Parent, Child and Grandchild categories
2. Magento will create correct URL rewrites for all three categories
3. Move Child category to the same level as Parent category

**Result**
Magento creates correct URL rewrites for the Child category and all

[2019-12-26 14:52] #12509 closed, assigned to engcom-Echo

[2019-12-26 16:19] engcom-Echo commented on #12500
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
1. Use code supplied in module 'ReachDigital_GetListIssue'.
[ReachDigital.zip](https://github.com/magento/magento2/files/1518274/ReachDigital.zip)
2. Add a configurable with visual swatch configured for the 'color' attribute. Add some simple products who hav

[2019-12-26 16:19] #12500 closed, assigned to engcom-Echo

[2019-12-26 17:57] dyushkin commented on #25981
Hi @not-art, below you can find an explanation from one of our developers:

To copy the data, you must initially using setExtensionAttributes($extensionAttributes) for quote. And for the save in the table sales_order it is necessary to implement a plugin, which would properly process the data from extensions attributes for saving. See https://devdocs.magento.com/guides/v2.3/extension-dev-guide/ext

[2019-12-26 17:57] #25981 closed, assigned to nobody

[2019-12-26 22:43] justinharris1986 opened #26186 "Adding two bundles to the cart, with a similar simple item causes checkout to fail"
### Preconditions
1. Magento 2.3.3
2. PHP 7.2.26
3. MariaDB 10.3.21

### Steps to reproduce
1. Create 3 Simple products, SKU A, SKU B and SKU C. Ensure they are all active and sell-able (ie have qty)
2. Create 2 Bundle products:
Bundle SKU 1 should have SKU A and SKU B
Bundle SKU 2 should have SKU B and SKU C
3. Add bundle SKU 1 to to the shopping cart
4. Add bundle SKU 2 to to the shopping cart

[2019-12-26 22:44] justinharris1986 commented on #26186
@magento give me 2.3-develop instance

[2019-12-26 22:44] magento-engcom-team commented on #26186
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-27 01:26] SlowFamily commented on #21885
@jalung 's patch worked for me, except for that Magento 2.3.3 (if not earlier versions) renames images all lowercase, so the image name preg_match needs to be case insensitive. Patch with that change here: [Product-revised-version.txt](https://github.com/magento/magento2/files/4003767/Product-revised-version.txt)

[2019-12-27 05:39] Zyles opened #26187 "Not able to uninstall Yotpo_Yotpo"
I have malware on my 2.3.3 default installation called Yotpo_Yotpo and it is not possible to uninstall it.

### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento 2.3.3 using composer
2.
[code]
[code]

### Expected result (*)

Able to uninstall Yotpo_Yotpo

### Actual result (*)

Unable to uninstall Yotpo_Yotpo

[2019-12-27 07:27] JustinFu45 opened #26188 "Product with 2 varaibles does not have pre-selected values"
There are products in our magento2 store, which have different
- package sizes
- different strengths

We want to have already a pre-selected values for them so that customers do not have to select anything themselves (example in the picture) this is how it should be.

At the moment when a client goes to a product page, they only see the possible variables to choose from and have to select them man

[2019-12-27 07:32] tuyennn commented on #8181
The last fix related to this issue was 2d007bed2fc42324b9c71f858e3e833c94f58bb4
MAGETWO-59997: Shipping address duplicates if entered credit card was incorrect during checkout via Braintree

Now it was broken on 2.3.3 also with 2.4-dev

[2019-12-27 07:36] magento-engcom-team commented on #12087
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30096` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-27 07:49] Zyles opened #26189 "Unable to uninstall Braintree"
Not able to uninstall malware Braintree module.

### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento 2.3.3 using composer
2. `$ php bin/magento module:uninstall -r Magento_Braintree Magento_BraintreeGraphQl --clear-static-content`
3.
[code]
4.
[code]

### Expected result (*)

Able to uninstall module.

### Actual result (*)

Unable to uninstall module.

Error:
`Cla

[2019-12-27 08:14] whxt0901 commented on #8104
Now, I encountered the same problem, please help me

[2019-12-27 08:17] whxt0901 commented on #8104
All of the product images after duplicated is (mysqlhost)/static/version157743xxxx/adminhtml/Magento/backend/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg

[2019-12-27 08:19] whxt0901 commented on #8524
Very honored to have a same problem here

[2019-12-27 08:49] engcom-Delta commented on #12159
Hi @jeroenkosse Unfortunately, I am not able to reproduce issue you described on 2.4-develop
**Steps to reproduce:**
- Multiple store views:
- - Default Store View
- - Second Store View
- - Third Store View
![image](https://user-images.githubusercontent.com/51681379/71509907-ae6f7680-2895-11ea-9ab6-aa4e91520aa9.png)

- Create category `cat1` and set image for Category Image
- Change store view
- E

[2019-12-27 08:55] nit-it opened #26191 "Need To Change Label In Totals Block in Order View Page"
After Place, the order, Create an Invoice Of some items. After that Cancel, the order, Total of Cancel items display as Total Due.

### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)
1. Place Order with 5 Items.
2. Now Create Invoice For 1st 3 Items.
3. Cancel Order.

### Expected result (*)
1. If Order Cancel, then Change the label of Total Due.

### Actual result (*)
1. If Order Ca

[2019-12-27 09:02] magento-engcom-team commented on #18392
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30102` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-27 09:38] engcom-Charlie commented on #18346
@magento give me 2.4-develop instance

[2019-12-27 09:38] magento-engcom-team commented on #18346
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-27 09:39] magento-engcom-team commented on #18346
Hi @engcom-Charlie, here is your [Magento instance](https://i-18346-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-18346-2-4-develop.instances.magento-community.engineering/admin](https://i-18346-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-27 09:41] engcom-Delta commented on #12464
@Hocdoc  @gagan67commerce Unfortunately, I am not able to reproduce issue you described on 2.4-develop
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2019-12-27 09:41] #12464 closed, assigned to engcom-Delta

[2019-12-27 09:48] rav-redchamps commented on #1580
I have wonderful news for this thread. We just released an opensource Magento 2 extension that will wrap all the 3rd party extension menu items to a common menu item named "Extensions".

It can be found here https://github.com/redchamps/clean-admin-menu

![before-after](https://user-images.githubusercontent.com/5336201/71512388-f86b5300-28bb-11ea-8cff-a39422fe553d.gif)

[2019-12-27 09:55] engcom-Alfa commented on #12837
Hi @mageprince. Thank you for your reporting.

Currently, it is default Magento behavior.
[code]
**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/71512488-14acc700-289f-11ea-807a-85d317a2ea47.png)

So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Is

[2019-12-27 09:55] #12837 closed, assigned to engcom-Alfa

[2019-12-27 10:13] engcom-Echo commented on #13307
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
1. Create a bundle product with more options to get pagination.
2. Select the First page of bundle options.
3. Delete any one of the bundle options.

**Result**
Bundle options is deleted. No errors.
![Screenshot_39](https://user-images.githubusercontent.com/

[2019-12-27 10:13] #13307 closed, assigned to engcom-Echo

[2019-12-27 10:26] engcom-Echo commented on #13421
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Create bundle product
2. Try to remove all products
3. Click on Save
4. Enter price and quantity
5. Click on Save

**Result**
Product successfully saved - no errors
![Screenshot_42](https://user-images.githubusercontent.com/51681435/71513673-fb5a4980-28a

[2019-12-27 10:26] #13421 closed, assigned to engcom-Echo

[2019-12-27 10:52] engcom-Delta commented on #12703
@bmisyura @Sorbog Unfortunately, I am not able to reproduce issue by steps you described on 2.4-develop
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2019-12-27 10:52] #12703 closed, assigned to engcom-Delta

[2019-12-27 10:55] engcom-Charlie commented on #18346
Hello @hellotaran

I am not able to reproduce this issue on a fresh Magento 2.4-develop.

**Testing scenario:**

1. Login to Magento admin and wait for 900 seconds or 15 minutes.
2. Post 15 minutes click on any menu link in admin area.

**Result:**
No any message.
![image](https://user-images.githubusercontent.com/51680850/71514082-c0591580-28a5-11ea-86e8-79fc6e8cc5e4.png)

So i have to close this

[2019-12-27 10:55] #18346 closed, assigned to engcom-Charlie

[2019-12-27 11:15] magento-engcom-team commented on #18140
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30104` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-27 11:30] engcom-Bravo commented on #9073
Hello @AlexandreKhayrullin
Unfortunately, I cannot reproduce this issue by steps you described on 2.4-develop
Please feel free to comment, reopen or create a new ticket according to the Issue reporting guidelines
if you are still facing this issue on the latest 2.4-develop branch. Thank you for collaboration.

[2019-12-27 11:31] #9073 closed, assigned to nobody

[2019-12-27 11:58] engcom-Alfa commented on #12914
Hi, @duffner. Thank you for your reporting.

We are not able to reproduce this issue on the fresh 2.4-develop instance. Everything works well.
So we have to close it.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develo

[2019-12-27 11:58] #12914 closed, assigned to engcom-Alfa

[2019-12-27 12:04] Zyles opened #26193 "Unable to uninstall Authorizenet"
More malware unable to be removed.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento 2.3.3
2. Try to uninstall Authorizenet modules
3. Go to checkout

### Expected result (*)

Able to uninstall Authorizenet.

### Actual result (*)

Exception #0 (ReflectionException): Class Magento\Authorizenet\Model\Directpost does not exist

[2019-12-27 12:14] magento-engcom-team commented on #18025
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30105` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-27 12:29] Zyles commented on #26189
Checkout:

`Exception #0 (ReflectionException): Class BraintreeFacade does not exist`

Why the hell does checkout depend on Braintree? We don't use it, we don't need it.

[2019-12-27 12:42] engcom-Delta commented on #12390
@WinstonN @J-SM @serucee Unfortunately, I am not able to reproduce issue on 2.4-develop

**Case 1:** https://github.com/magento/magento2/issues/12390#issue-275994177
:heavy_check_mark: Result:
![image](https://user-images.githubusercontent.com/51681379/71516794-9eff2600-28b3-11ea-8ca4-49458abf36dc.png)

**Case 2:** https://github.com/magento/magento2/issues/12390#issuecomment-414638348
:heavy_chec

[2019-12-27 12:45] engcom-Alfa commented on #12881
Duplicate of #8897

[2019-12-27 12:45] #12881 closed, assigned to engcom-Alfa

[2019-12-27 12:46] magento-engcom-team commented on #18012
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30107` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-27 12:58] magento-engcom-team commented on #13961
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30108` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-27 13:08] kassner opened #26194 "Magento_Newsletter cannot be disabled"
There are several classes under the `Magento\Customer` (and one under `Magento\Review`) namespace that are requiring `Magento\Newsletter` classes, making it impossible to successfully disable/remove the newsletter module, if one uses another solution.

1. `Magento\Customer\Block\Account\Dashboard`
2. `Magento\Customer\Block\Account\Dashboard\Info`
3. `Magento\Customer\Block\Adminhml\Edit\Tab\Newsl

[2019-12-27 13:09] kassner commented on #26194
I could write a PR for that, but given this will break backwards compatibility, which Magento release could a PR be targeted to?

[2019-12-27 13:25] engcom-Bravo commented on #12856
Reproducible on Magento 2.4-develop
![bundle_subtotal](https://user-images.githubusercontent.com/51680745/71518767-0bcaee00-28bd-11ea-94f9-4d56dcd474b7.png)

[2019-12-27 13:31] magento-engcom-team commented on #12856
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-27 13:52] magento-engcom-team commented on #12899
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-27 13:57] engcom-Bravo commented on #12899
Rechecked on Magento 2.4-develop via Swagger. The response is
[code]

[2019-12-27 14:20] Zyles commented on #26178
And what is the 500 error in logs?

Clean cache etc.

[2019-12-27 14:21] engcom-Echo commented on #13508
Hello All

This issue is duplicate of [#12707](https://github.com/magento/magento2/issues/12707) so I am closing this issue.

[2019-12-27 14:21] #13508 closed, assigned to engcom-Echo

[2019-12-27 14:22] Zyles commented on #26177
Check if this helps: https://github.com/magento/magento2/pull/25603

[2019-12-27 15:11] stephan-cream commented on #10207
@engcom-Charlie
Apparently it no longer is an issue.
But as i said before:

`It is fine if it is fixed in 2.4.0 but we have no idea when this will be released.
My bug report was not only placed on 2017 but also refers to Magento versions up to 2.3.2.
If there has been a fix released for this but it won't be released for current released versions, we would at least like to know what that fix is so

[2019-12-27 15:23] Zyles opened #26196 "Invoices, credit memos do not show up in the grid after creation"
### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Create an order
2. Create an invoice
3. On the next screen click "Invoices", does the invoice show up? No it does not.
4. Refresh the page, invoice shows up
5. Create a credit memo
6. Click "Credit Memos", does the credit memo show up? Nope.
7. Refresh page, now it shows up
8. Now try it with shipments and guess what happens

###

[2019-12-27 15:30] gwharton commented on #26194
2.4-develop i would imagine is currently accepting breaking changes as 2.4 is not out yet.

[2019-12-27 16:11] hostep commented on #24942
Alrighty, for the people searching after the fix, I took a couple of hours today to go searching for it and after a bunch of bisecting attempts I finally found the fix over here: https://github.com/magento/magento2/commit/f19c780fb7e31db89bfd9965e177d52ad03dacd7

Adding the `sortOrder="1000"` to that `hashGenerator` item fixes the problem in Magento 2.3.3!

[2019-12-27 16:39] monotheist commented on #26177
@Zyles Thank you. I see solution but I am finding it hard to understand. Could you please help me by pointing exact changes that are required to be done? Much appreciated.

[2019-12-27 16:41] Zyles commented on #26177
https://github.com/magento/magento2/commit/fa468e7298b42c0a233bbcb7db932f8a8ccbb32f

https://github.com/magento/magento2/pull/25603/files

[2019-12-27 16:56] rob-gonz commented on #5662
Bump @hamdrew, @piotrekkaminski , @rganin This is not fixed.

[2019-12-27 17:22] hostep commented on #25480
Accidentally saw the following commit flying by on the `2.4-develop` branch, which might fix this problem: https://github.com/magento/magento2/commit/1c3ee947270eb0465aef2710f3c216795747bbaf (not verified myself yet).

[2019-12-27 17:27] monotheist commented on #26177
@Zyles Thank you. I am still finding it hard. I believe there are 3 files. Below are the files with fixes. Can you please confirm?

https://raw.githubusercontent.com/magento/magento2/fa468e7298b42c0a233bbcb7db932f8a8ccbb32f/app/code/Magento/UrlRewrite/Controller/Router.php
https://raw.githubusercontent.com/magento/magento2/fa468e7298b42c0a233bbcb7db932f8a8ccbb32f/app/code/Magento/UrlRewrite/Test/U

[2019-12-27 18:34] monotheist commented on #26177
Or these 5 files.

https://raw.githubusercontent.com/magento/magento2/b1a2a29671de32d90dbc10a3b0ced6a3d71b2b72/dev/tests/integration/testsuite/Magento/UrlRewrite/_files/url_rewrite_rollback.php
https://raw.githubusercontent.com/magento/magento2/b1a2a29671de32d90dbc10a3b0ced6a3d71b2b72/app/code/Magento/UrlRewrite/Test/Unit/Controller/RouterTest.php
https://raw.githubusercontent.com/magento/magento2

[2019-12-27 18:45] not-art commented on #25981
Hi @dyushkin, thanks for finding out the root cause with one of the developers. I would like to share my frustration that this was not very well-documented in the 2.3.3 patch notes, which state:

This fix was a backwards-incompatible / breaking change for anyone who extension attributes in the previous manner (as suggested by Magento), but it isn't documented that previous code using the old exten

[2019-12-27 18:53] Zyles commented on #26177
You need to do the rollback in the first link and then apply the changes in the pull request.

You can skip the test files in test directories.

Add lines with + and remove -

[2019-12-27 19:17] monotheist commented on #26177
@Zyles is it not possible to just replace my current file with below file?
https://raw.githubusercontent.com/magento/magento2/b1a2a29671de32d90dbc10a3b0ced6a3d71b2b72/app/code/Magento/UrlRewrite/Controller/Router.php

[2019-12-27 19:22] devamitbera commented on #25078
@sudheers-kensium where the solution? You have referred #25077.

it is confusion.

Please refer the right solution.

[2019-12-27 19:31] gxuqin opened #26197 "Image of category uploaded in catgory info page will be lost after 2nd reopening and saving."
### Preconditions (*)

1. An image of category is uploaded in Category editing page: admin/catalog/category/edit/id/4

### Steps to reproduce (*)

1. Reopen the category with image attached with the category
2. Just click the Save button with nothing to do.
3. See the Category Image field, the previous uploaded image is gone.

### Expected result (*)

1. [Screenshots, logs or description]
![image]

[2019-12-27 19:42] Zyles commented on #26177
Could work. Just make a backup of the original file.

[2019-12-27 19:49] monotheist commented on #26177
@Zyles Thank you so much. Essentially I just need to focus on one file which is Router.php in both the links.

[2019-12-28 03:54] monotheist commented on #26177
@Zyles I tried replacing Router.php file from both the links. Cleared cache and restarted php-fpm. My issue still exists.

[2019-12-28 04:26] Zyles commented on #26177
What is your category suffix setting?

I was unaware that the default nginx conf worked with SSL at all, since it is not even configured to.

[2019-12-28 05:05] monotheist commented on #26177
@Zyles Category suffix setting is empty. I don't have anything in there. I am seeing this issue on two live stores. Please see attached image. Fresh install is out of scope. I have separate config for SSL which includes the default magento nginx conf. Please see below.

[code]

![Screenshot 2019-12-28 at 10 17 10 AM](https://user-images.githubusercontent.com/16968205/71539122-b85cac80-295d-11ea-80

[2019-12-28 05:52] krishprakash commented on #26197
Hi @gxuqin.
Issue is duplicate to #25099
Issue will be fixed in next 2.3.4 release
You can review the feedback from above given issue link.
Thanks.

[2019-12-28 05:52] #26197 closed, assigned to krishprakash

[2019-12-28 06:19] Rawpro1 opened #26198 "google ads setting showing null after configuration data"
### Preconditions (*)

1. magento 2.3
2. google shopping ads

### Steps to reproduce (*)

1. configuration the google shopping ads  extinction
2.
3.

### Expected result (*)

1. [Screenshots, logs or d
![magento](https://user-images.githubusercontent.com/59303403/71539826-323b6880-2953-11ea-9dba-29f2cc346a71.PNG)
escription]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-12-28 06:48] Zyles commented on #26177
You need to verify the issue on a fresh 2.3.3 install to determinte if it is a M2 or nginx configuration issue or one of your extensions.

[2019-12-28 10:50] mrtuvn opened #26199 "Category form not load when many products assigned to category"
This actually happen in my client site with many product counts in category
default category (root) have more 800K products
### Preconditions (*)

1. Magento 2.3.3 CE
2. Production mode
3. php 7.2.24
4. Flat Category + Catalog enabled

### Steps to reproduce (*)

1. Assign many product to one default category
2. Visit Category page manager in admin

### Expected result (*)

1. Form category load s

[2019-12-28 20:24] psapoznik commented on #13873
Hello , same error in 2.2.9 :(

[2019-12-28 21:54] TimQSO opened #26201 "Integrity constraint violation for guest users and non-existing quotes, causes guest users not being able to use the cart anymore."
When a guest visitor with an existing session and shopping cart returns to the shop while in the mean time his quote has been cleared (or removed), the guest user is not able to add items to his shopping cart until he removes his cookies. An error is logged in exception.log for a 'Integrity constraint violation'

### Preconditions (*)

- Magento 2.3.3 CE
- Production mode
- php 7.1 / 7.2 / 7.3

##

[2019-12-28 22:01] GuiltyNL commented on #26201
@magento give me 2.4-develop instance

[2019-12-28 22:01] magento-engcom-team commented on #26201
Hi @GuiltyNL. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-28 22:01] magento-engcom-team commented on #26201
Hi @GuiltyNL, here is your [Magento instance](https://i-26201-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26201-2-4-develop.instances.magento-community.engineering/admin](https://i-26201-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-28 22:06] GuiltyNL commented on #26201
To reproduce on that instance, I need to be able to empty the quote table. @magento-engcom-team

[2019-12-29 04:45] VladimirZaets commented on #25974
Hi @hans-vereyken. Thank you for your report.
The issue has been fixed in magento/magento2#26033 by @Leone in 2.4-develop branch
Related commit(s):
 - [284e3edc3b97fb05c9f01b3e9932a542551fec87](https://github.com/magento/magento2/commit/284e3edc3b97fb05c9f01b3e9932a542551fec87)
 - [2ae68386fc04fda7bb6ca9748277e81983732610](https://github.com/magento/magento2/commit/2ae68386fc04fda7bb6ca9748277e819

[2019-12-29 04:45] #25974 closed, assigned to Leone

[2019-12-29 04:45] VladimirZaets commented on #13136
Hi @Tantuss. Thank you for your report.
The issue has been fixed in magento/magento2#25315 by @mrodespin in 2.4-develop branch
Related commit(s):
 - [529c46f8d445cfb27c58519bf0caab398c15d1c7](https://github.com/magento/magento2/commit/529c46f8d445cfb27c58519bf0caab398c15d1c7)
 - [c4a3c0084eeb076f3620f98b716cd04e8113b004](https://github.com/magento/magento2/commit/c4a3c0084eeb076f3620f98b716cd04e81

[2019-12-29 04:45] #13136 closed, assigned to mrodespin

[2019-12-29 04:45] VladimirZaets commented on #25674
Hi @dobooth. Thank you for your report.
The issue has been fixed in magento/magento2#25838 by @mautz-et-tong in 2.4-develop branch
Related commit(s):
 - [cf1b0845fd7d0c083b5f20ba2c0a495d0e9bf9ad](https://github.com/magento/magento2/commit/cf1b0845fd7d0c083b5f20ba2c0a495d0e9bf9ad)
 - [37cf56d23baf4d54fdfcd45b0c7570f2313c4813](https://github.com/magento/magento2/commit/37cf56d23baf4d54fdfcd45b0c7570

[2019-12-29 04:45] #25674 closed, assigned to mautz-et-tong

[2019-12-29 09:33] jaimiedijstra commented on #25430
Worked for me too as the others! Just 3 rows effected, saved me a headache thank you!

[2019-12-29 09:48] Rawpro1 commented on #25506
I can confirm that I'm having the same behaviour on firefox as @elfeffe mentions. You get to do one more step but hten blank screen as in chrome.
Refused to load the stylesheet 'https://fonts.googleapis.com/css?family=Work+Sans:400,700.less' because it violates the following Content Security Policy directive: "default-src 'self' data: 'unsafe-inline' 'unsafe-eval' channels.magento.com assets.adobe

[2019-12-29 11:11] marcoaacoliveira commented on #26201
@GuiltyNL I tried to reproduce this bug in my instance with Magento 2.4 and I wasn't able to.

**I'll try now in the 2.3.3** as mentioned in the preconditions.

Are you sure there is no other third party component causing this problem?

[2019-12-29 12:23] monotheist commented on #26103
@engcom-Echo I don't see anything in the varnish logs. But this is what I see in nginx log and screen.
[29/Dec/2019:17:49:57 +0530] "GET /sitemap.xml HTTP/2.0" 503 280 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:71.0) Gecko/20100101 Firefox/71.0"

![Screenshot 2019-12-29 at 5 52 49 PM](https://user-images.githubusercontent.com/16968205/71556891-12479a00-2a64-11ea-9b1e-82b583d16ea1.jpg)

[2019-12-29 13:50] milindsingh opened #26202 "Missing method in webapi.xml results in fatal error on setup:upgrade"
Magento: 2.3.3

### Summary (*)

1. Create a custom module with a `webapi.xml` and add a route URL. For Example:
[code]
2. Create a repository interface and class `MyVendor\MyModule\Api\MyRepositoryInterface` **but do not add the method** `getMyContent` in any.

3. Run `php bin/magento setup:di:compile` and results success.

4. Run  `php bin/magento setup:upgrade` and results fatal error as below.

[2019-12-29 16:38] monotheist opened #26203 "Media and static files being served both from pub and non pub folder"
### Preconditions (*)

1. Magento 2.3.3 & 2.4-develop
2. Nginx (reproduced only on Nginx)

### Steps to reproduce (*)

1. Load some img in `pub `folder( banner.jpg in this case)
2. Type example.com/pub/banner.jpg and example.com/banner.jpg

### Expected result (*)

1. example.com/banner.jpg should throw 404 error

### Actual result (*)

1.  I am able to access example.com/pub/banner.jpg and exampl

[2019-12-29 18:18] VladimirZaets commented on #22047
Hi @PiotrSiejczuk. Thank you for your report.
The issue has been fixed in magento/magento2#25957 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [5819ded0ed228e0de105000d92da26531c07785a](https://github.com/magento/magento2/commit/5819ded0ed228e0de105000d92da26531c07785a)
 - [906c5a0d88fc5bc868a894b6397d0d71824bf614](https://github.com/magento/magento2/commit/906c5a0d88fc5bc868a894b63

[2019-12-30 05:08] anowarsadata commented on #24808
What need to do for work with magento 2.3.3

[2019-12-30 05:23] krishprakash commented on #26186
@magento give me 2.4-develop instance

[2019-12-30 05:23] magento-engcom-team commented on #26186
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-30 05:23] magento-engcom-team commented on #26186
Hi @krishprakash, here is your [Magento instance](https://i-26186-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26186-2-4-develop.instances.magento-community.engineering/admin](https://i-26186-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-30 05:58] VladimirZaets commented on #24972
Hi @k-edasi. Thank you for your report.
The issue has been fixed in magento/magento2#26170 by @ravi-chandra3197 in 2.4-develop branch
Related commit(s):
 - [666d4c0ff2b3a498d97acd101ae1ec86592bee70](https://github.com/magento/magento2/commit/666d4c0ff2b3a498d97acd101ae1ec86592bee70)
 - [e037d514215f9e662b5585a5ab967ca4edcde3af](https://github.com/magento/magento2/commit/e037d514215f9e662b5585a5ab9

[2019-12-30 05:58] #24972 closed, assigned to ravi-chandra3197

[2019-12-30 05:58] VladimirZaets commented on #26164
Hi @hasim32. Thank you for your report.
The issue has been fixed in magento/magento2#26173 by @divyajyothi5321 in 2.4-develop branch
Related commit(s):
 - [216d2c127c311244f52b5530286b2679488ed033](https://github.com/magento/magento2/commit/216d2c127c311244f52b5530286b2679488ed033)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-30 05:58] #26164 closed, assigned to divyajyothi5321

[2019-12-30 05:58] VladimirZaets commented on #25659
Hi @quantumAV. Thank you for your report.
The issue has been fixed in magento/magento2#25876 by @azambon in 2.4-develop branch
Related commit(s):
 - [45592e234b8ee700b02e82c28c9c7ee94ae13b51](https://github.com/magento/magento2/commit/45592e234b8ee700b02e82c28c9c7ee94ae13b51)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-30 06:03] krishprakash commented on #26186
Hi @justinharris1986. Not able to reproduce this issue as provided steps by you.
Please review once on latest magento instance by adding this comment _**(@magento give me 2.4-develop instance)**_ and let me know if you phase this or not.
Thanks.

[2019-12-30 06:03] magento-engcom-team commented on #26186
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-30 06:04] magento-engcom-team commented on #26186
Hi @krishprakash, here is your [Magento instance](https://i-26186-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26186-2-4-develop.instances.magento-community.engineering/admin](https://i-26186-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-30 06:22] Techytt commented on #7296
I am also not able to purge varnish cache using Default Magento php bin/magento cache:flush command, please guide me on this

[2019-12-30 07:26] aloksparx commented on #13873
Please try to disable all extensions.. even delete them by keeping backup and try once. If it will work then keep them one by one.

[2019-12-30 07:37] ajijshekh123 commented on #26191
Give me @magento give me 2.4-develop instance

[2019-12-30 07:37] magento-engcom-team commented on #26191
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-30 07:38] magento-engcom-team commented on #26191
Hi @ajijshekh123, here is your [Magento instance](https://i-26191-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26191-2-4-develop.instances.magento-community.engineering/admin](https://i-26191-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-30 07:48] ajijshekh123 commented on #26191
@nit-it - Your point is good but this is an improvement, not an issue.
Now, this issue is confirmed.

[2019-12-30 07:50] magento-engcom-team commented on #26191
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30118` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 08:32] magento-engcom-team commented on #13114
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-30 08:35] engcom-Echo commented on #13457
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**
**Steps to reproduce:**

1. Create a fresh installation of Magento without any sample data or previous use.
2. Create 4 simple products - their configuration is not important but must be enabled/in stock.
    It is essential that these products are the first added to the new install

[2019-12-30 08:35] #13457 closed, assigned to engcom-Echo

[2019-12-30 08:42] krishprakash commented on #26196
@magento give me 2.4-develop instance

[2019-12-30 08:42] magento-engcom-team commented on #26196
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-30 08:42] magento-engcom-team commented on #26196
Hi @krishprakash, here is your [Magento instance](https://i-26196-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26196-2-4-develop.instances.magento-community.engineering/admin](https://i-26196-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-30 08:47] marcoaacoliveira commented on #26202
Hi @milindsingh thanks for your issue, I'll check It.

[2019-12-30 08:52] krishprakash commented on #26196
Hi @Zyles. Thank you for your report.
Not able to reproduce the issue as per your given steps.
Refer below screencast for same
https://www.screencast.com/t/C5mXrVZ2
Feel free to reopen if you confirm that issue is reproduce on latest magento instance.

[2019-12-30 08:52] #26196 closed, assigned to krishprakash

[2019-12-30 09:00] magento-engcom-team commented on #13229
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30119` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 09:26] engcom-Echo commented on #13927
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
    Create some products with enable and disable status

**Steps to reproduce:**

1. Log in to Admin
2. Go to System > Index Management
3. Set all indexers to Update by Schedule mode through Magento admin
4. Enable disabled product
5. Wait until cron will run "in

[2019-12-30 09:26] #13927 closed, assigned to engcom-Echo

[2019-12-30 09:29] Zyles commented on #26196
@magento give me 2.3.3 instance

[2019-12-30 09:29] magento-engcom-team commented on #26196
Hi @Zyles. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-30 09:30] magento-engcom-team commented on #26196
Hi @Zyles, here is your [Magento instance](https://i-26196-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26196-2-3-3.instances.magento-community.engineering/admin](https://i-26196-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-30 09:42] Zyles commented on #26196
Looks like another random Magento 2 bug with bad release QA because of upgrading from 2.3.1 to 2.3.3

[2019-12-30 09:45] magento-engcom-team commented on #14001
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30122` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 09:47] GuiltyNL commented on #26201
I will look at this. I wanted to try this on an instance here, but I'm not able to empty tables ;)

[2019-12-30 09:54] magento-engcom-team commented on #13114
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30124` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 09:57] magento-engcom-team commented on #17973
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30125` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 09:57] engcom-Bravo commented on #13120
Hello @AntonEvers
On Magento 2.4-develop, the Credit Memo email sender is the email
![custom_email_store](https://user-images.githubusercontent.com/51680745/71576537-a1eb5800-2af9-11ea-8203-bbae6a5234ce.png)
Here is a screenshot from the mail client where you can see that the mail sender is the one configured in Store view
![credit_memo_email1](https://user-images.githubusercontent.com/51680745/71

[2019-12-30 09:58] #13120 closed, assigned to nobody

[2019-12-30 10:10] Etje opened #26205 "Escaping in Search Recommendations"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Type "%27><qss%20a%3DX168794596Y1Z%20> as search query
2. The search recommendations are just raw query text. So, when you use the above mentioned search query, the output will be `"'>`

### Expected result (*)

1. Search Recommendations should be escaped

### Actual result (*)

1. if the above mentioned search query is

[2019-12-30 10:23] engcom-Charlie commented on #17964
Hello @Jakhotiya

We are not able to reproduce this issue on the latest Magento 2.4-develop.
We cannot test with Authorize.Net Direct Post because it is deprecated payment method
(has been replaced by just Authorize.Net) see more [here](https://docs.magento.com/m2/ce/user_guide/payment/authorize-net-direct-post.html).

**Testing scenario:**
1. Configure Authorize.net payment method
2. Go to Admin-

[2019-12-30 10:23] #17964 closed, assigned to engcom-Charlie

[2019-12-30 10:26] magento-engcom-team commented on #12899
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30126` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 10:29] magento-engcom-team commented on #12856
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30127` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 11:02] lbajsarowicz opened #26206 "Missing information about currently reindexed index on failure"
### Summary (*)
When reindex fails, you have no information which indexer failed.

### Examples (*)
![image](https://user-images.githubusercontent.com/1639941/71579245-06a7b200-2afc-11ea-9c50-56eef292e700.png)

### Proposed solution
Output the indexer name without a newline, then the time it took.

[2019-12-30 11:05] engcom-Delta commented on #12938
@niravkrish thanks for investigation.
Closed as non-issue

[2019-12-30 11:05] #12938 closed, assigned to engcom-Delta

[2019-12-30 11:08] Krielkip commented on #6146
Reproduced on 2.4-develop;

Since https://github.com/magento-engcom/php-7.2-support/pull/136 is not been merged. magento/zendframework1 is still being used?

Instead of waiting for the new solution, let's fix the "old" code and help many people at this moment 😄

[2019-12-30 11:22] hasim32 opened #26208 "Sorting issue for status column for Cache Management"
Sorting issue for status column for Cache Management

### Preconditions (*)
Magento 2.3.3

### Steps to reproduce (*)
Admin -> System -> Tools -> Cache Management
Change the status of any type to disabled
check the status sorting

### Expected result (*)
Sorting should working fine

### Actual result (*)
it remains same
![image](https://user-images.githubusercontent.com/56119534/71578753-71b6b000-

[2019-12-30 11:28] milindsingh commented on #26202
Thanks @marcoaacoliveira
I am on developer mode still, I think the same will happen on production mode too.

[2019-12-30 11:32] kassner opened #26209 "Billing address needs to come first"
### Preconditions (*)

When programatically creating a quote, if the `$quote->getShippingAddress()` is called *BEFORE* `$quote->getBillingAddress()`, the `$quote->getShippingAmount()` is always zero. If the `$quote->getBillingAddress()` is omitted, this doesn't happen.

### Steps to reproduce (*)

**Code e.g.:**

Given this snipped of code:

[code]

This gives me this output, as I expected:

### E

[2019-12-30 11:42] engcom-Delta commented on #13053
@fcmoto thank you for your report. I am not able to reproduce issue on  2.4-develop
![#13053issue](https://user-images.githubusercontent.com/51681379/71580604-0dd5bc80-2b0a-11ea-95f8-7a2339690175.png)

![#13053issue2](https://user-images.githubusercontent.com/51681379/71580608-11694380-2b0a-11ea-8075-df16ecc5f7d3.png)

Please feel free to comment, reopen or create new ticket according to the [Issu

[2019-12-30 11:42] #13053 closed, assigned to engcom-Delta

[2019-12-30 11:53] Krielkip commented on #6146
😱  something with fix commit and close ticket..

[2019-12-30 11:59] Krielkip commented on #6146
Can be closed if this is merged: https://github.com/magento/zf1/pull/26

[2019-12-30 12:06] engcom-Bravo commented on #13139
Hello @AleksLi
On Magento 2.4-develop, a proper error message appears - "_The end date must be greater than the start date_"
![date_error](https://user-images.githubusercontent.com/51680745/71581270-18458580-2b0d-11ea-9555-7bc913b7cf23.png)
So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/mage

[2019-12-30 12:06] #13139 closed, assigned to engcom-Bravo

[2019-12-30 12:08] magento-engcom-team commented on #26208
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30129` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 12:09] magento-engcom-team commented on #14080
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30130` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 12:14] marcoaacoliveira commented on #26202
@milindsingh I couldn't reproduced it neither on Magento 2.3.2 nor 2.4 (in setup:upgrade step, I don't have a clean instance of Magento 2.3.3 right now so I didn't try on it), but when I tried to access swagger I got strange errors (that doesn't mean anything). I think it would be a good improvement throws exceptions in this case.

[2019-12-30 12:36] sprankhub opened #26210 "Setup PHP CodeSniffer Automatically Via composer.json"
### Summary
When setting up a new Magento project, one always needs to manually configure PHP CodeSniffer. According to https://www.jetbrains.com/help/phpstorm/using-php-code-sniffer.html#configure-tool-inspection-composer, it is possible to configure PHP CS in phpStorm by adding it to the `composer.json`.

### Examples
Create a new Magento project in phpStorm and add some code, which triggers a P

[2019-12-30 12:46] magento-engcom-team commented on #14081
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30132` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 13:14] magento-engcom-team commented on #13143
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30133` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 13:16] magento-engcom-team commented on #14509
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30134` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 13:43] durexlovesex commented on #19429
@engcom-Charlie please check [the comment](https://github.com/magento/magento2/issues/19429#issuecomment-564657965) I've left above

[2019-12-30 13:55] magento-engcom-team commented on #14885
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30135` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 13:55] engcom-Charlie commented on #19429
Hello @durexlovesex, please create a new issue for it.
Thanks for contributing!

[2019-12-30 13:57] engcom-Charlie commented on #17949
Hello @sskulkarni

We are not able to reproduce this issue on the latest Magento 2.4-develop.

**Testing scenario:**

1. Go to "Stores" > "Configuration" > "Customers" > "Customer Configuration" > "Name and Address Options" and set "Show Prefix" to "No" First.
2. Store any address in account.
3. Remove any prefix if stored in Customer or Address.
4. Now Set "Show Prefix" to "Required"
5. Now go to

[2019-12-30 13:57] #17949 closed, assigned to engcom-Charlie

[2019-12-30 14:23] flytomek commented on #20098
I've set up fresh Magento 2.3.3 instance on new server and... exactly this issue happened again!

[2019-12-30 14:36] engcom-Echo commented on #14377
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Create a Simple Product
2. Set the "Minimum Qty Allowed in Shopping Cart" for that Simple Product e.g. to 5
3. Create a Bundle Product
4. Add the Simple Product to an Option of the Bundle Product
5. Open the Bundle Product on Frontend
6. Select the Simpl

[2019-12-30 14:36] #14377 closed, assigned to engcom-Echo

[2019-12-30 14:41] engcom-Bravo commented on #13158
Hello @MattUnity
We can not reproduce this issue on Magento 2.4-develop
In the exported CSV file, we have copied the "bundle_values" cell of the relating bundle, to the "bundle_values" cell of the destination bundle, and performed successful Import.
Both Bundle Products are "In Stock" in Admin and is Store View.

So, we have to close it.
Please feel free to comment, reopen or create new ticket acc

[2019-12-30 14:41] #13158 closed, assigned to nobody

[2019-12-30 14:46] flytomek opened #26212 "Product image failure when importing through CSV"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.3.11-1~deb10u1 (cli) (built: Oct 26 2019 14:14:18)
3. Debian GNU/Linux 10.2

### Steps to reproduce (*)

1. Create CSV file
[code]
2. Go to System > Import, select Add/update product and upload file

### Expected result (*)
1. Import simple product with image

### Actual result (*)

1. When importing: Following Error(s) has been occurred during impo

[2019-12-30 15:25] ajzele commented on #26152
It seems to be the same ting ... https://github.com/magento/magento2/issues/15115, in my case I was using Magento 2.3.3

[2019-12-30 15:25] #26152 closed, assigned to navarr

[2019-12-30 15:36] engcom-Echo commented on #14420
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
Product cost in USD will be 114.33 and EURO will be 80.80
a) Now a customer click add to cart for a bundle product with store currency as EURO with one quantity and the product is added to cart with mini-cart updated successfully with price EURO 80.80.
b) Cu

[2019-12-30 15:36] #14420 closed, assigned to engcom-Echo

[2019-12-30 16:33] engcom-Echo commented on #12662
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions**
Magento 2.4 with sample data

**Steps to reproduce:**

1. Enable product url by categories in Stores > Configuration > Catalog > Catalog > Search Engine Optimization > Use Categories Path for Product URLs
2. On the frontend, click on Women > Tops in the main menu

[2019-12-30 16:33] #12662 closed, assigned to engcom-Echo

[2019-12-30 17:02] magento-engcom-team commented on #17951
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30139` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 17:04] magento-engcom-team commented on #17951
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30139` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-30 19:10] milindsingh commented on #26209
Thanks @kassner for creating this issue. I did face this long ago while creating orders programmatically.

[2019-12-30 21:22] pbh-stu commented on #25887
@testmagento2 I couldn't agree more! A leading ecom platform major version release with a broken paypal module and no patch in sight. It's this sort of craziness that makes me question if i should continue with magento at all.
It will work if you turn off in context checkout but that's not good enough IMO we are paying magento £££/month for bugs and more bugs.

[2019-12-30 23:43] kassner commented on #26209
Somewhat related: #24826

[2019-12-31 04:20] huykon commented on #15112
I have same issue with Magento version 2.3.3. Could anyone have solution to resolve it?

[2019-12-31 04:42] #26186 closed, assigned to krishprakash

[2019-12-31 07:45] magento-engcom-team commented on #13400
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30142` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 08:19] Daataadirect1 commented on #6939
Sir, I'm using with different attribute name instead of the default "product_typ
![save](https://user-images.githubusercontent.com/44942996/71614916-36c08500-2bd0-11ea-93c0-21214e599460.JPG)
e". But still same error

[2019-12-31 08:20] mrtuvn commented on #26199
Found error seem same behavior with issue
https://github.com/magento/magento2/issues/7658

[2019-12-31 08:28] engcom-Delta commented on #13262
@erikkubica @toddhainsworth  Unfortunately, I am not able to reproduce issue by steps you described on clean 2.4-develop
**Steps to reproduce:**
[code]
**Actual result:**
:heavy_check_mark: Images role is not changed after updating products from code

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issu

[2019-12-31 08:28] #13262 closed, assigned to engcom-Delta

[2019-12-31 08:29] gaiterjones commented on #25378
@kunzi - don't think this will be fixed this decade...

[2019-12-31 08:32] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2019-12-31 08:32] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-31 08:33] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-31 08:36] kunzi commented on #25378
@gaiterjones As a workaround I installed Amasty's Improved Layered Navigation extension and that fixed this issue.

[2019-12-31 08:42] nilesh2jcommerce commented on #26178
Hi @salehawal ,

I have upgraded Magento version from 2.3.1 to 2.3.3. After executes all commands to upgrade .Magento upgraded successfully and working fine.

You have to upgrade php version too from 7.1 to 7.2. Magento 2.3.3 now supports PHP 7.3.x (tested with PHP 7.3.8) and PHP 7.2.x (tested with 7.2.21)
As you using php 7.1
Then execute composer require magento/product-enterprise-edition 2.3.3

[2019-12-31 08:43] magento-engcom-team commented on #17934
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30145` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 08:57] engcom-Delta commented on #13282
@LordHansolo @zipnfc  Thank you for your reports, I am not able to reproduce issue by steps you described on 2.4-develop
![image](https://user-images.githubusercontent.com/51681379/71615885-27374100-2bbc-11ea-81ac-b65b96234727.png)

![image](https://user-images.githubusercontent.com/51681379/71615889-2f8f7c00-2bbc-11ea-8fad-96337cab7312.png)

Please feel free to comment, reopen or create new ticke

[2019-12-31 08:57] #13282 closed, assigned to engcom-Delta

[2019-12-31 09:12] engcom-Bravo commented on #13443
Hello @torhoehn

We are not able to reproduce the issue on 2.4-develop with Sample Data
After ``` bin/magento catalog:images:resize```, we are able to change the product color preview.

![product_image](https://user-images.githubusercontent.com/51680745/71616208-b729ba80-2bbd-11ea-916a-02e4c4295f13.gif)
We have to close it.
Please feel free to comment, reopen or create a new ticket according to th

[2019-12-31 09:18] magento-engcom-team commented on #26103
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30146` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 09:22] magento-engcom-team commented on #17933
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30147` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 09:33] engcom-Charlie commented on #17896
Hello @duckchip

We are closing this issue as not relevant because now in 2.4-develop we can `call the storeInteface to verify whether it's active or not instead of using the Factory` as expected:
![image](https://user-images.githubusercontent.com/51680850/71616814-d0803600-2bc0-11ea-9a68-194a9da252d6.png)
![image](https://user-images.githubusercontent.com/51680850/71616840-ef7ec800-2bc0-11ea-832f

[2019-12-31 09:33] #17896 closed, assigned to engcom-Charlie

[2019-12-31 09:56] engcom-Charlie commented on #17863
Hello @adaudenthun

We are closing this issue as not relevant.

The issue has been fixed in magento/magento2#18658 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [53a06a9ba12c0f4be0b28fdf6f9cf45540cebae6](https://github.com/magento/magento2/commit/53a06a9ba12c0f4be0b28fdf6f9cf45540cebae6)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guid

[2019-12-31 09:56] #17863 closed, assigned to engcom-Charlie

[2019-12-31 10:22] magento-engcom-team commented on #14296
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30149` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 10:26] fingertips-solutions commented on #16531
Same Issue for me Magento 2.3.3 PHP 7.2.26. php module fileinfo is installed and enabled. but still getting error file validation failed.

if i change this return $this->fileMime->getMimeType($this->_file['tmp_name']); to  return $this->_file['type']; it says unsupported file format. i am uploading jpg file.

Can any one tell me how to fix this.

[2019-12-31 10:37] engcom-Delta commented on #13335
@gianiaco thank you for your report. I am not able to reproduce issue by steps you described on clean 2.4-develop
![image](https://user-images.githubusercontent.com/51681379/71618852-286f6a80-2bca-11ea-84b0-b4eaf5c3f9b9.png)

Are you still facing this issue on the latest `2.4-develop` branch?

[2019-12-31 10:50] engcom-Bravo commented on #13633
Hello @andrii-dymov

We are not able to reproduce the issue on Magento 2.4-develop
We have created a User Role, as described in the  Steps To Reproduce
![content_element_blocks](https://user-images.githubusercontent.com/51680745/71619186-ce6fa480-2bcb-11ea-94bf-22fd152bfd0e.png)

Assigned it to a User and Signed In with him.
**Actual Result**: All the blocks are displayed
![blocks_grid](https://us

[2019-12-31 10:50] #13633 closed, assigned to nobody

[2019-12-31 11:02] torhoehn commented on #13443
@engcom-Bravo Please select a color filter and see if product swatches are selected correctly.

[2019-12-31 11:32] salehawal commented on #26178
i have the community version not the enterprise .. and the issue was a missing vendor module which i copy from a backup and it worked

now i have a new issue:

1 exception(s):
Exception #0 (Exception): Warning: filesize(): stat failed for https://cdn.jomlah.com/pub/media/mageplaza/brand/apple.jpg in /var/www/dev.jomlah.com/vendor/magento/framework/Image/Adapter/Gd2.php on line 63

Exception #0 (Ex

[2019-12-31 11:39] salehawal commented on #26178
i have 2 sites using the same CDN, do i have to turn off the CDN on the test one? the one i am upgrading is dev.jomlah.com

[2019-12-31 11:52] salehawal commented on #26178
i did removed CDN and still the issue is present ..

1 exception(s):
Exception #0 (Exception): Warning: filesize(): stat failed for https://dev.jomlah.com/pub/media/mageplaza/brand/apple.jpg in /var/www/dev.jomlah.com/vendor/magento/framework/Image/Adapter/Gd2.php on line 63

Exception #0 (Exception): Warning: filesize(): stat failed for https://dev.jomlah.com/pub/media/mageplaza/brand/apple.jpg i

[2019-12-31 11:54] magento-engcom-team commented on #14143
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30151` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 11:58] salehawal commented on #26178
confirming that it is not a permission issue after applying 777 to pub/media/*

[2019-12-31 12:03] lbajsarowicz opened #26214 "Bundle Product / Create / Price validation for dynamic price"
### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
1. Enter "New Product / Bundle" form
2. Turn off "Dynamic price"
3. Enter the price and remove it. You'll see a validation error.

### Expected result (*)
1. Turning dynamic price back on should turn off validation on price field

### Actual result (*)
1. ![ezgif-7-7a7ea0e29f9d](https://user-images.githubusercontent.com/1639941/71621

[2019-12-31 12:21] salehawal commented on #26092
any update?

[2019-12-31 12:26] Zyles commented on #26178
Looks like a Mageplaza issue not Magento. Contact them.

[2019-12-31 12:31] nilesh2jcommerce commented on #26178
@salehawal
Yes it is Mageplaza custom module issue not Magento issue.

[2019-12-31 12:32] salehawal commented on #26178
already did .. lets see their feedback

[2019-12-31 12:38] hostep commented on #17896
Just FYI, this was already part of [Magento 2.3.0](https://github.com/magento/magento2/blob/2.3.0/app/code/Magento/Store/Api/Data/StoreInterface.php#L78) by https://github.com/magento/magento2/pull/10923

[2019-12-31 12:41] lbajsarowicz commented on #26208
@magento give me 2.4-develop instance

[2019-12-31 12:41] magento-engcom-team commented on #26208
Hi @lbajsarowicz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-31 12:41] magento-engcom-team commented on #26208
Hi @lbajsarowicz, here is your [Magento instance](https://i-26208-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26208-2-4-develop.instances.magento-community.engineering/admin](https://i-26208-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-31 12:51] milindsingh commented on #26202
Thanks @marcoaacoliveira I have tried in 2.4-develop but unable to reproduce. So closing it for now.

[2019-12-31 12:51] #26202 closed, assigned to nobody

[2019-12-31 12:52] lbajsarowicz commented on #26208
Confirmed.

[2019-12-31 13:30] magento-engcom-team commented on #26214
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30152` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 13:57] engcom-Bravo commented on #13636
Hello @Karlasa
We are not able to reproduce the issue on Magento 2.4-develop. So we close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) .
Thank you for collaboration.

[2019-12-31 13:57] #13636 closed, assigned to engcom-Bravo

[2019-12-31 14:02] lbajsarowicz commented on #26214
@magento give me 2.4-develop instance

[2019-12-31 14:02] magento-engcom-team commented on #26214
Hi @lbajsarowicz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-31 14:02] magento-engcom-team commented on #26214
Hi @lbajsarowicz, here is your [Magento instance](https://i-26214-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26214-2-4-develop.instances.magento-community.engineering/admin](https://i-26214-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-31 14:07] ericclaeren commented on #25182
@magento-engcom-team Which version is it?

Think it's this commit:
https://github.com/magento/magento2/commit/3096b56dcebdd96d864ea09059997e4021333403

[2019-12-31 14:41] magento-engcom-team commented on #13915
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30153` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-31 16:23] salehawal commented on #26178
ok they fixed the issue and now we are back to blank page issue and when i checked the error log i get this error:

2019-12-31 19:20:26.150087 [NOTICE] [19719] [102.46.38.208:36004:HTTP2-19] [STDERR] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Catalog\Model\ResourceModel\Product\Collection::addIsSaleableAttributeToFilter() must be of the type array or null, integer given, ca

[2019-12-31 16:56] phoenix128 opened #26217 "Wrong fields selection while using fragments on GraphQL products query"
Magento does not return all the required information while using fragments on products query.

### Preconditions (*)
Magento 2.3.x and Magento 2.4.x

### Steps to reproduce (*)

Run a GraphQL query with fragments like the following one:

[code]

### Expected result (*)
The expected result is to have the right image url and product price as well as other fields

### Actual result (*)
The actual res

[2019-12-31 17:04] salehawal commented on #26178
yea i guess it is back to the theme again .. oh my god ):

[2019-12-31 17:04] gaiterjones commented on #25378
@kunzi - do you mean Search or Layered Navigation? Not sure why the Amasty layered navigation extension would this fix elastic search problem? I expect 2.3.4 will be released soon will wait and see if the problem gets fixed then...

[2019-12-31 17:26] adamstephenswod opened #26219 "Reviews will not load after clicking "Reviews""
When clicking to see and read reviews, the screen scrolls to the review section but will NOT display the reviews. It will only show the text box to write a review.
![image](https://user-images.githubusercontent.com/59397464/71628885-15579d00-2bc0-11ea-9279-a322602b2de5.png)

![image](https://user-images.githubusercontent.com/59397464/71628903-243e4f80-2bc0-11ea-871f-33f3ebcbb27c.png)

When pressin

[2019-12-31 22:46] ghost opened #26220 "elasticsearch 7"
Does Magento work with elasticserach 7?

### Description (*)
add support for elasticsearch 7

### Additional information
some servers only have elasticsearch 7 available

[2019-12-31 23:38] kunzi commented on #25378
@gaiterjones I have no idea why, but after enabling the Amasty's extension all the pagination problems we had disappeared. If I remember correctly we had this pagination problem on category pages and on search result page.

[2020-01-01 00:14] justinharris1986 opened #26221 "Cart Price rules - Cannot enable "Apply to shipping amount" when you Apply "Fixed amount discount for whole cart""
### Preconditions
1. Magento 2.3.3
2. PHP 7.2.26
3. MariaDB 10.3.21

### Steps to reproduce
1. go to Marketing -> Cart Price Rules
2. Add a new rule
3. Open up actions section
4. Ensure "Apply" Is set to "Fixed amount discount for whole cart"

### Expected result
1. Apply to Shipping Amount is grayed out and cannot be set to Yes

### Actual result
1. You should be able to add your discount to the

[2020-01-01 00:14] justinharris1986 commented on #26221
@magento give me 2.4-develop instance

[2020-01-01 00:14] magento-engcom-team commented on #26221
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-01 00:15] magento-engcom-team commented on #26221
Hi @justinharris1986, here is your [Magento instance](https://i-26221-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26221-2-4-develop.instances.magento-community.engineering/admin](https://i-26221-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-01 00:17] justinharris1986 commented on #26221
I cannot recreate this in 2.4-develop, HOWEVER, I can create this in a vanilla 2.3.3 instance.

[2020-01-01 00:42] bhapps opened #26222 "mview.xml doesn't allow numbers in "module name""
### Preconditions (*)

1.Magento ver. 2.3.3
2.LAMP Build using Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-72-generic x86_64)

### Steps to reproduce (*)

1.Create extension that has a number in the module name and utilizing Materialized View
2.naming convention example: \MyCompany\My3rdExtension\
3.table resource example: mycompany_my3rdextension
4.Review also [magento/magento2/issues/24323#issue-486016

[2020-01-01 22:46] Serializator opened #26224 "Cache type without "instance" causes exception when disabling the module through "Cache Management" in the backend"
### Preconditions (*)
1. Magento 2.3.3 CE

### Steps to reproduce (*)

1. Create a cache type using "cache.xml" without the "instance" argument
[code]
2. Go to "System > Cache Management" in the backend
3. Check the checkbox of the cache type "Exceptional Cache Type"
4. Select "Disable" and click "Submit"

### Expected result (*)
I'd expect the cache type to be successfully disabled.

According to

[2020-01-02 03:38] adarshkhatri commented on #25115
Any update on this?

[2020-01-02 04:32] mrtuvn commented on #26222
Next update v2.3.4 will have this fix. So if you are using 2.3.3 problem still exist

[2020-01-02 05:14] hitesh-wagento opened #26226 "Checkbox alignment issue on Customer Account Create"
### Summary

Checkbox alignment issue on Customer Account Create

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Go to Customer Account Create Page

### Expected result

1. Checkbox should be aligned.
![expected](https://user-images.githubusercontent.com/23443991/71652629-dc006800-2d4c-11ea-9282-3ae2b49f8a64.png)

### Actual result

1. Checkbox li

[2020-01-02 06:26] hitesh-wagento opened #26227 "Need some space between input and update button Minicart"
### Summary

Need some space between input and update button in Minicart

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Add any product in cart
2. Click on input in Minicart
3. Add Qty you will see the update button

### Expected result

1. Need some space between input and update button in Minicart like in mobile view.
![expected](https://user-i

[2020-01-02 07:04] Puru2016 commented on #14784
I am also facing cart rule (action) issue, I have mention my issue here in details:-
https://magento.stackexchange.com/questions/299864/magento2-cart-rule-not-working-properly

[2020-01-02 07:07] Puru2016 commented on #12476
I am also facing cart rule (action) issue, I have mention my issue here in details:-
https://magento.stackexchange.com/questions/299864/magento2-cart-rule-not-working-properly

Please update here if any one find any solution or idea to fix this.

[2020-01-02 07:39] magento-engcom-team commented on #13342
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30157` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 07:44] hatimeria-artur-jewula opened #26228 "qty_shipped and qty_canceled always at 0 for order item child"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Place an order with configurable product
2. Create invoice for the order
3. Create shipment for the order

### Expected result (*)
1. qty_shipped set on the child level to be the same as on the parent item level

### Actual result (*)
1. qty_shipped on child level is always 0

The same issue is for cancelling an item. qty_

[2020-01-02 07:48] rav-redchamps commented on #23993
I had faced the same problem in 2.4-develop. As shared by @devamitbera, running `composer update `solves the error.

[2020-01-02 07:48] ajijshekh123 commented on #26228
Give me @magento give me 2.4-develop instance

[2020-01-02 07:48] magento-engcom-team commented on #26228
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-02 07:49] magento-engcom-team commented on #26228
Hi @ajijshekh123, here is your [Magento instance](https://i-26228-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26228-2-4-develop.instances.magento-community.engineering/admin](https://i-26228-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-02 07:51] hatimeria-artur-jewula commented on #26228
@ajijshekh123 remember that this issue is not visible in admin panel as order item information there are taken from parent item (configurable) level. To see the problem you need to have access to the database.

[2020-01-02 07:56] ajijshekh123 commented on #26228
@hatimeria-artur-jewula - This is not feasible for me to review the Default Magento database.
If possible so Let me review this in My system default Magento database and update it.

[2020-01-02 08:02] rav-redchamps opened #26229 "Active menu is not set when opening admin path Marketing > User Content > Pending Reviews"
### Preconditions (*)

1. Magento version 2.3.3

### Steps to reproduce (*)

1. Go to admin path Marketing > User Content > Pending Reviews and you will notice that no menu item is activated in the admin primary menu

### Expected result (*)

1. Marketing/Pending Reviews menu item show be shown as active

![Pending Reviews-active](https://user-images.githubusercontent.com/5336201/71656951-8e432a00

[2020-01-02 08:04] rav-redchamps commented on #26229
@magento give me 2.4-develop instance

[2020-01-02 08:04] magento-engcom-team commented on #26229
Hi @rav-redchamps. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-02 08:05] magento-engcom-team commented on #26229
Hi @rav-redchamps, here is your [Magento instance](https://i-26229-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26229-2-4-develop.instances.magento-community.engineering/admin](https://i-26229-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-02 08:16] engcom-Delta commented on #13531
@peterjaap thanks for investigation, you are right. Function `testEncodeNotValidSource` runs twice and check data from `encodeNotValidSourceDataProvider` to appropriate exception.

![#13531issue](https://user-images.githubusercontent.com/51681379/71657474-a8234380-2d48-11ea-8f5c-bca935be0a44.gif)

Closed as non-issue

[2020-01-02 08:16] #13531 closed, assigned to engcom-Delta

[2020-01-02 08:30] magento-engcom-team commented on #13689
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30158` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 08:37] milindsingh commented on #26226
Hi @hitesh-wagento What is the real difference in the two images you added?

[2020-01-02 08:40] magento-engcom-team commented on #26229
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30159` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 08:42] rav-redchamps commented on #26229
The pull request for the issue has been created https://github.com/magento/magento2/pull/26230. Hopefully, it will be processed soon.

[2020-01-02 08:54] hitesh-wagento commented on #26227
I am working on this issue

[2020-01-02 08:54] hitesh-wagento commented on #26226
I am working on this issue

[2020-01-02 08:56] hitesh-wagento commented on #26226
@milindsingh Please see checkbox and label alignment

[2020-01-02 09:07] ajijshekh123 commented on #26228
@sdzhepa - Can you please verify this issue? I can't able to review the DB for the Default Magento 2.4 Instance.

[2020-01-02 09:14] kkhebbar89 opened #26231 "Large Cart Issue"
### Preconditions (*)

1. Magento 2.3.3 CE with sample data

### Steps to reproduce (*)

1. Add more than 80 products in the cart as logged in user
2. Then the next click of Add to cart in product detail page takes lot of time
3. Logging In with 80 or more product takes lot of time to login
4. Shopping Cart page also takes lot of time to load

### Expected result (*)

1. Add to cart with large car

[2020-01-02 09:20] vertikacore opened #26232 "Braintree Creditmemo Issue with multi website"
Preconditions
Magento 2.1.8

Steps to reproduce
Create two websites
Set two different Braintree account credentials for different websites
Place order with Braintree payment method in website that is not default
Go to order in admin panel
Select "Invoices" tab
Go to "Credit Memo"
Press "Refund"

Expected result
Successful message is displayed and refund is processed in Braintree

Actual result
Err

[2020-01-02 09:27] engcom-Bravo commented on #13746
Hello @alexgoodey
The issue is not reproducible on Magento 2.4-develop with Sample Data
The form_key values are different in two different browsers. Please see the screenshot
![form_keys](https://user-images.githubusercontent.com/51680745/71660111-b5453000-2d52-11ea-8cb2-e095a3cdad66.png)

So, we have to close this issue.
Please feel free to comment, reopen or create new ticket according to the [I

[2020-01-02 09:31] alexgoodey commented on #13746
@engcom-Bravo

I refer you to my earlier comment (using developer tools doesn't demonstrate the issue) https://github.com/magento/magento2/issues/13746#issuecomment-368498965

[2020-01-02 09:43] engcom-Delta commented on #13665
@real34 thank you for your report. I am not able to reproduce issue by steps you described on 2.4-develop

![#13665issue](https://user-images.githubusercontent.com/51681379/71660837-f1799000-2d54-11ea-837c-0fe5c412112c.gif)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if

[2020-01-02 09:43] #13665 closed, assigned to engcom-Delta

[2020-01-02 09:53] onlinebizsoft commented on #13746
I can't believe this is the team who have made the Magento product!!!

[2020-01-02 10:26] engcom-Bravo commented on #13443
@torhoehn Thank you for your response.
After the ```bin/magento catalog:images:resize```, I have applied a color filter and tried to switch between product swatches. The colors are changed successfully.
![color_filter](https://user-images.githubusercontent.com/51680745/71662631-dad63780-2d5a-11ea-874c-a888bece624e.gif)

Can you please confirm that you are facing this issue on Magento 2.4-develop ?

[2020-01-02 10:33] hitesh-wagento opened #26235 "Both Menu spacing should be same"
### Summary

Both Menu spacing should be the same in mobile view

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Go to the mobile view
2. Click on Humber menu

### Expected result

1. Both Menu spacing should be the same
![expected](https://user-images.githubusercontent.com/23443991/71662962-69f24800-2d79-11ea-95dd-8d0f380490d6.jpg)

### Actual re

[2020-01-02 10:40] hitesh-wagento commented on #26235
I am working on this

[2020-01-02 10:43] ajijshekh123 commented on #26235
Okay @hitendra-wagento , Can I confirm this issue or not?
Have you seen this issue in Latest Magento 2.4 Instance?

Thanks.

[2020-01-02 10:47] magento-engcom-team commented on #26235
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30163` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 10:56] Marineimpulseo commented on #25927
@MagentoChannels Sorry to disturb you. Could you tell me approximatively how long it could takes please ? Depending on the answer, I will find another solution to use shopping.
Many thanks

[2020-01-02 10:56] gaiterjones commented on #25378
Turns out another extension was not compatible with Elastic Search 6 in 2.3.3 and created exactly the same pagination issue as described here. Moral of the story is *always* check your modules for incompatibility first...

[2020-01-02 10:57] hitesh-wagento commented on #26235
Hi @ajijshekh123

I have @hitesh-wagento  not @hitendra-wagento

Thanks

[2020-01-02 10:59] ajijshekh123 commented on #26235
Sorry for the inconvenience @hitesh-wagento

[2020-01-02 11:05] eduard13 commented on #26224
Hi @Serializator, I was able to reproduce it, and working on a fix for it. Please note that I've updated the description a bit, by adjusting the path for the XSD file.
Thanks.

[2020-01-02 13:00] devchris79 commented on #25735
@sdzhepa Sorry I don't know if the bot unassigned you as a result of my accidental closure of this issue. I have re-opened as the issue remains outstanding.

[2020-01-02 13:22] rammohan-krish commented on #26199
@mrtuvn Yes verified the issues and behavior is same as issue mentioned #7658
And also it moved to Ready for Dev in community backlog, so you can track the fix on the same issue.
Marking as Duplicate and closing the issue.

[2020-01-02 13:22] #26199 closed, assigned to rammohan-krish

[2020-01-02 13:39] IvanSemerenko opened #26239 "No field name displayed while Company creation"
### Preconditions (*)

1.Magento version 2.3.3

### Steps to reproduce (*)

1.Go to Admin > Customers > Companies
2.Click Add New Company
3.Expand Legal Address section

### Expected result (*)

1. labels for all fields should be displayed
2.

### Actual result (*)

1. No label for the first field displayed

![screenshot](https://user-images.githubusercontent.com/19283694/71669630-fac72480-2d75-11

[2020-01-02 13:45] engcom-Bravo commented on #13751
Hello @adi3009
We have rechecked this issue on Magento 2.4-develop and can not reproduce it
The Attributes contain the new _test_multiselect_
![attribute](https://user-images.githubusercontent.com/51680745/71669566-bc316a00-2d75-11ea-80cc-d2185dfc05b3.png)
And the **catalog_product_flat_1** table contains **test_multiselect** column
![test_multiselect](https://user-images.githubusercontent.com/516

[2020-01-02 13:45] #13751 closed, assigned to nobody

[2020-01-02 13:58] augrinovska commented on #26212
@magento give me 2.4-develop instance

[2020-01-02 13:58] magento-engcom-team commented on #26212
Hi @augrinovska. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-02 13:59] magento-engcom-team commented on #26212
Hi @augrinovska, here is your [Magento instance](https://i-26212-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26212-2-4-develop.instances.magento-community.engineering/admin](https://i-26212-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-02 14:03] engcom-Bravo commented on #13746
@alexgoodey @onlinebizsoft
Thank you for your comments.
Sorry, I've acknowledged my mistake. The issue is still present in Magento 2.4-develop
![form_value](https://user-images.githubusercontent.com/51680745/71670678-53e48780-2d79-11ea-8f98-d067d588aed4.png)

[2020-01-02 14:08] magento-engcom-team commented on #13746
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30171` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 14:15] augrinovska commented on #26212
Hi @magento-engcom-team, @flytomek

**These steps were taken**:
1. Created CSV file
2. Go to System > Import, select Add/update product and upload file

**Actual Result:**
The product was successfully imported with an image with a label Base. See image below.
![screencapture-i-26212-2-4-develop-instances-magento-community-engineering-admin-catalog-product-edit-id-1-2020-01-02-15_16_42](https://use

[2020-01-02 14:15] #26212 closed, assigned to milindsingh

[2020-01-02 15:02] magento-engcom-team commented on #13851
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30172` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 15:12] augrinovska commented on #26194
Hi @kassner,

Your **Actual Result** is related to the permissions of the generated folder.

`Class Magento\Customer\Controller\Adminhtml\Index\Save\Interceptor generation error: The requested class did not generate properly, because the 'generated' directory permission is read-only. If --- after running the 'bin/magento setup:di:compile' CLI command when the 'generated' directory permission is se

[2020-01-02 15:20] GuiltyNL commented on #26201
Dug into this and you are correct @marcoaacoliveira . Sorry for this. It was caused by a rewrite of @stephan-cream . Now removed and problem solved.

[2020-01-02 15:20] #26201 closed, assigned to nobody

[2020-01-02 15:22] sergiy-v opened #26240 "Minimum Advertised Price doesn't change for selected swatch option for configurable product"
### Preconditions
1. Magento 2.4

### Steps to reproduce
1. Enable MAP (Store -> Configuration -> Sales -> Sales -> Minimum Advertised Price -> Enable MAP).

1. Create configurable product for attribute with 'swatch' (Visual Swatch, Text Swatch) type with associated products:
-  simple A: price 1, MAP 11. (ex: 'black' color)
-  simple B: price 1, MAP 12. (ex: 'white' color)

### Expected result
![

[2020-01-02 15:24] Leandry commented on #26240
@magento give me 2.4-develop instance

[2020-01-02 15:24] magento-engcom-team commented on #26240
Hi @Leandry. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-02 15:24] magento-engcom-team commented on #26240
Hi @Leandry, here is your [Magento instance](https://i-26240-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26240-2-4-develop.instances.magento-community.engineering/admin](https://i-26240-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-02 15:41] magento-engcom-team commented on #26240
@Leandry Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-01-02 15:43] magento-engcom-team commented on #26240
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30173` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-02 15:48] augrinovska commented on #26151
Hi @startshopNL,

This issue seems to be related to your composer/PHP version. I couldn't reproduce this error using Magento 2.4-develop branch and PHP 7.3.

[2020-01-02 15:52] waqasali5006-dev opened #26242 "Advance reporting redirecting on 404"
As per below advance reporting documentation
https://docs.magento.com/m2/ce/user_guide/reports/advanced-reporting.html

I followed each and every step and got success message and wait till night 2am as per the requirement cycle time but still getting 404 when clicking on advance reporting button, google analytics and integration are configured, advance reporting status is active not even pending b