[2021-02-04 08:02] ihor-sviziev commented on #5927
Hi,

This issue comes from not cleaning the var/view_preprocessed folder where all the LESS files are copied and then compiled.
This is done to have faster static content deploy of multiple themes/locales. I think we shouldn't fix this behavior.

In case if you have this issue - here are few options:
1. Delete the `var/view_preprocessed` folder (here copied LESS files during setup:static-content:d

[2021-02-04 08:02] #5927 closed, assigned to ihor-sviziev

[2021-02-04 08:15] ihor-sviziev commented on #6419
Hi,

I re-analyzed this issue again and saw that fixing this issue will not be easy, while it is too low a priority.
It's better to close this issue and for those who are getting it - use one of the options listed below.

**Workarounds:**
1. add one more command after the `composer install` to your deployment process, like this:
[code]
2. switch from apache to Nginx + php-fpm (to be honest, this i

[2021-02-04 08:15] #6419 closed, assigned to ihor-sviziev

[2021-02-04 08:17] engcom-Alfa commented on #31958
Hi, @Eddcapone.
Unfortunately, we are not able to reproduce the issue on a fresh `2.4-develop CE`, `2.4-develop EE `, and `2.4.1 composer.`
Everything works as expected.

_**Preconditions:**_

- Php 7.4
- Apache
- Mysql 8.0

_**Manual testing scenario:**_

1. Create a custom module:

- Create block:
**app\code\Custom\Module\Block\Scripts\Filter.php**

[code]
- Create Template:
**app\code\Custom\Mo

[2021-02-04 08:53] #24128 closed, assigned to nobody

[2021-02-04 08:55] magento-engcom-team commented on #24128
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 09:27] Eddcapone commented on #31958
@engcom-Alfa This is weird. I have no explanation why it works on your side but not on mine.
I just tested it with Firefox and Chrome in inspector mode and I get the same bug again and again.

Does anyone have an idea what might cause it?

[2021-02-04 09:29] ihor-sviziev commented on #31958
@Eddcapone can we add it to some cms page and test on test instances?

[2021-02-04 09:32] oviliz commented on #26254
This is a serious issue as it renders the products invalid and not eligible for Google Search's rich results...

[2021-02-04 09:34] Eddcapone commented on #31958
@ihor-sviziev Good idea, maybe this will identify the problem. It might be a server problem.

[2021-02-04 09:37] Eddcapone commented on #31958
If I just execute it in the browser, then It works. So the server does fiddle with the result for unknown reasons.

![image](https://user-images.githubusercontent.com/16349349/106873583-e79f2a80-66d4-11eb-94b7-6fe9730cda77.png)

[2021-02-04 09:40] Eddcapone commented on #31958
We can also simplify the example to this:

[code]

**Output**: `<li>test`

[2021-02-04 09:58] engcom-Bravo commented on #31912
Hello @chequille

The _State/Province_ is not required for Germany. So when the _Allow to Choose State if It is Optional for Country_ is set to _Yes_, the _State/Province_ is displayed
![yes](https://user-images.githubusercontent.com/51680745/106876008-f2ab8800-66df-11eb-8db9-bfbb36472076.png)

When the _Allow to Choose State if It is Optional for Country_ is set to _No_, the _State/Province_ is N

[2021-02-04 10:31] ihor-sviziev commented on #31958
@magento give me 2.4-develop instance

[2021-02-04 10:39] rahulpathakweb commented on #26991
Hi Dear,

Please update the configrable.js file only,  you will get error free and configrable dropdown will populate 100%. Please upldade 👍 https://github.com/magento/magento2/blob/f661205a5c5d27e519ad57219cdc1f8d12afe3de/app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js

[2021-02-04 10:50] mihaifaget commented on #7560
Problem still exists in 2.4. Even the logs have the wrong timezone...but someone thinks it's ok to close this and hide it under the carpet.
cron schedules at 12:00:00 and gets missed at 11:00:00, the same difference between magento timezone and utc.

[2021-02-04 10:56] ihor-sviziev commented on #31958
Hi @Eddcapone,
I wasn't able to reproduce this issue on test instance:
https://beb9d6c6fa8bee902aff6686df4369d6-2-4-develop.instances.magento-community.engineering/
![image](https://user-images.githubusercontent.com/1873745/106883234-65b8fc80-66e8-11eb-9b3a-1d8e2782941d.png)
![image](https://user-images.githubusercontent.com/1873745/106883152-47eb9780-66e8-11eb-9cd7-ef076d9918b4.png)

[2021-02-04 11:02] sreichel commented on #30697
The other issue is also closed. Should this be reopened?

[2021-02-04 11:51] engcom-Bravo commented on #30241
Hello @oliverde8

Thank you for your report.

We Confirm that this is a valid issue on the latest 2.4-develop. Additional info is added to the description.

[2021-02-04 11:52] magento-engcom-team commented on #30241
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40757` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-04 12:14] magento-engcom-team commented on #31043
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40758` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-04 12:31] hubertus2017 opened #31967 "AGAIN: Missing paid orders and lock wait timeouts in Guest Checkout"
During peak sales hour, we loose 3% of orders, due to "ghost orders".

**#25862: NOT FIXED!!**

We have a problem in Magento 2.4.1 : Customers tell me: After payment they are redirected to the shop. And: their cart is still filled after the payment. Then they order a second time and then it works. But the payment is done twice. And only one order is in magento, the other first order is a "ghost or

[2021-02-04 12:36] paul-uz commented on #5491
This is happening in Magento 2.3.5-p2

Order total was £46, (£36 for prodcuts, £10 for shipping)

Qtys to Return set to 0
Adjustment Refund set to £24.10
Adjustment Fee set to 0

Error states "The most money available to refund is £46.00."

Also, if Item qtys are changed first, updating totals for adjustment refund amount reset the qtys to return.

[2021-02-04 12:59] engcom-Delta commented on #31416
@ajmalbuffy sorry for delay. Disabled Magento_TwoFactorAuth module should not affect to elasticsearch connection.
My elasticsearch.yml:
[elasticsearch.yml.txt](https://github.com/magento/magento2/files/5925715/elasticsearch.yml.txt)

Elasticsearch version:
![image](https://user-images.githubusercontent.com/51681379/106893266-f8ac6380-66f5-11eb-9423-eed5364fa60f.png)

[2021-02-04 13:45] Paksifules95 commented on #12004
Hi SundarAkula, you have a solution to this problem?

[2021-02-04 13:47] #30766 closed, assigned to nobody

[2021-02-04 13:47] #28708 closed, assigned to nobody

[2021-02-04 13:47] #28592 closed, assigned to nobody

[2021-02-04 13:51] webamMarko commented on #30949
This is still an issue. Don't see what else I can contribute. Please let me know if you need more information.

[2021-02-04 14:01] magento-engcom-team commented on #26280
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40759` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-04 14:03] engcom-Delta commented on #30252
@Mavlyan , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-04 14:03] #30252 closed, assigned to engcom-Delta

[2021-02-04 14:12] engcom-Foxtrot opened #31968 "TimezoneInterface::getConfigTimezone should be used with $scopeType and $scopeCode params."
### Summary (*)

Both \Magento\Framework\Stdlib\DateTime\Timezone and \Magento\Framework\Stdlib\DateTime\DateTime are using  Magento\Framework\Stdlib\DateTime\TimezoneInterface::getConfigTimezone method. None of them are setting $scopeType and $scopeCode params. So for now we cannot do some time calculation by Framework classes for any scopes except explicitly set through di.xml without workaround

[2021-02-04 14:34] engcom-Delta commented on #31538
@ashaaniebose  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-04 14:34] #31538 closed, assigned to engcom-Delta

[2021-02-04 14:47] #28362 closed, assigned to nobody

[2021-02-04 14:47] #23493 closed, assigned to nobody

[2021-02-04 14:47] #27607 closed, assigned to nobody

[2021-02-04 14:47] #23963 closed, assigned to nobody

[2021-02-04 14:47] #27283 closed, assigned to nobody

[2021-02-04 14:47] #26243 closed, assigned to nobody

[2021-02-04 14:47] #24830 closed, assigned to nobody

[2021-02-04 14:48] magento-engcom-team commented on #23493
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 14:48] magento-engcom-team commented on #23963
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 14:50] magento-engcom-team commented on #23963
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 14:58] ilnytskyi commented on #31317
We face this issue too. Bots are building strange URLs

[2021-02-04 15:19] ihor-sviziev commented on #30814
@techqa10 have you fixed the issue you had?

[2021-02-04 15:27] engcom-Bravo commented on #31964
Hello @Eddcapone

Thank you for your report.

This is the expected behavior for the English Locale. If you'll change the Admin Locale to German, the search will find the _Schiebetür_ block
![shube](https://user-images.githubusercontent.com/51680745/106914303-8e072200-670d-11eb-8279-ee11827c022a.png)

We are closing this issue. Please feel free to comment, reopen or create a new ticket according to

[2021-02-04 15:27] #31964 closed, assigned to krishprakash

[2021-02-04 15:45] usuyukiso commented on #28916
Sometimes reproduced in M2.4.1

[2021-02-04 15:47] #22018 closed, assigned to nobody

[2021-02-04 15:47] #22665 closed, assigned to nobody

[2021-02-04 15:47] #20516 closed, assigned to nobody

[2021-02-04 15:48] magento-engcom-team commented on #22665
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 15:48] magento-engcom-team commented on #20516
Hi @yashwant2jcommerce.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24322` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-04 15:49] magento-engcom-team commented on #20516
Hi @yashwant2jcommerce.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24322` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-04 15:54] orthener commented on #31753
Patch file (if it help someone) `MC-40463__Vimeo-simple-API-stop-working-as-expected.patch` (tested on M2.4.1)
[code]

[2021-02-04 15:55] Eddcapone commented on #31964
Ok, but this is not clear and not a good solution. I am german and I rather work in a english UI, because instructions and the documentation are also written in english and it is much easier to follow them with an english UI.

[2021-02-04 15:56] iux commented on #31024
Hello, i have the same problem. At the moment to fix it i did:
copy: vendor/magento/module-layered-navigation/view/frontend/templates/layer/filter.phtml to app/design/frontend/Vendor/ThemeName/Magento_LayeredNavigation/templates/layer/filter.phtml
and removed from line 21 to 29.

[2021-02-04 16:00] Eddcapone commented on #31958
@ihor-sviziev , Thanks for testing it. I also tested it on another computer and get the same bug, so it must be definitely a serverside problem.  Does anyone have an idea why the bug exist on our server and not on the test server from magento?

[2021-02-04 16:04] Eddcapone commented on #31958
@ihor-sviziev I added the block to a Page Builder HTML Node, maybe that is causing it? I can't test on a normal open source magento.

[2021-02-04 16:50] BB-000 opened #31971 "LayeredNavigation/templates/layer/filter.phtml php format change breaks frontend"
The updated version of this file breaks the frontend a bit, the line breaks that were added mean that blank space is output after the 'count'. This causes bad looking frontend (empty space and orphan brackets wrapping onto the next line). Reverting to the version without line breaks after '$filterItem->getCount()' fixes it

[2021-02-04 17:53] gabrieldagama commented on #31453
Hi @engcom-Delta, can you double-check the dates on the database? We need to understand if this issue is on the presentation layer or not.

Please, also validate if the rules are being applied based on the dates used to create the object.

[2021-02-04 19:36] chequille commented on #31912
Hi, that's what I expect to have.
Unfortunately, on my site this is not the case and I am using 2.4.1
As I said, exactly same settings as in 2.3.5.
I made a cross check in 2.3.5 and dit set the value to YES and I saw, state/province is shown.

So what else could cause this behaviour?
Maybe the settings for allowed countries does have an influence. My shop is set to Germany only.
What is your setti

[2021-02-04 20:08] #28118 closed, assigned to nobody

[2021-02-04 20:13] sdzhepa commented on #28118
Update:
Internal Jira ticket related to this issue was closed as "Won't fix".

Described steps to reproduce is expected result.
This option can be configured in the admin panel
- Swatch attributes (Admin > Stores > Attributes > Product) have a setting `Update Product Preview Image`. If set to `No` will simply prevent swatches from updating product images. This setting is only available for the inp

[2021-02-04 20:31] sdzhepa commented on #28021
Hello @NiklasBr and @hostep

Thank you for your collaboration and contribution!

At some point, Magento stoped the update changelog in '2.4-develop' for 2.3.x.
It was done intentionally because branches have a different commit history.

But actual changelog can be found in branch/tag per specific version as it was mentioned https://github.com/magento/magento2/issues/28021#issuecomment-621129512

S

[2021-02-04 20:31] #28021 closed, assigned to nobody

[2021-02-04 21:01] chequille commented on #31912
Additional info:
I added one more contry in "Allowed Countries".
If I select in the checout the other country and selected immediately afterwards again German, than the State/Province disappers.

Therefore, try with following settings:
Default Country: Germany
Allowed Countries: Germany
And of course the "Allow to choose ...." to NO
This is exactly my setup and the State/Province selection is show

[2021-02-04 21:21] #17460 closed, assigned to nobody

[2021-02-04 22:19] #31945 closed, assigned to nobody

[2021-02-04 22:21] magento-engcom-team commented on #31945
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 22:21] #24002 closed, assigned to nobody

[2021-02-04 22:21] #23445 closed, assigned to nobody

[2021-02-04 22:23] magento-engcom-team commented on #24002
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-04 22:23] magento-engcom-team commented on #23445
Hi @melaxon.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23804` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-04 22:58] mrtuvn commented on #31967
I'm not sure this problem fixed or not
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Checkout/Model/GuestPaymentInformationManagement.php#L102
Here is the last file modify
Seem this problem hard to reproduce in when you need real online payment with high stress store peaks

[2021-02-04 23:11] mrtuvn commented on #31971
Can you describe what expect and actually results that you want to see ?

[2021-02-04 23:59] #24191 closed, assigned to nobody

[2021-02-04 23:59] #21650 closed, assigned to nobody

[2021-02-04 23:59] #17818 closed, assigned to nobody

[2021-02-05 00:02] magento-engcom-team commented on #24191
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-05 00:02] magento-engcom-team commented on #21650
Hi @MartinAarts.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24081` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-05 00:06] mrtuvn commented on #31760
Have you try
`<span data-bind="i18n: 'Next: Review & Payment'"/>`

[2021-02-05 01:48] dwestvik commented on #28237
This happened, today, on our site and don't have Amasty.

[2021-02-05 02:45] mrtuvn commented on #31792
By the way docs related with standard less has updated
https://devdocs.magento.com/guides/v2.4/coding-standards/code-standard-less.html

[2021-02-05 05:25] ihor-sviziev commented on #31958
@engcom-Alfa could you double check that on EE version with a page builder ?

[2021-02-05 05:54] SukimaSwitch opened #31973 "Cannot save product in store view scope without Magento_Catalog::edit_product_design"
**Preconditions**

Magento 2.4-develop;
Magento Open Source 2.3.5-p2;

**Steps to reproduce**
1. Create a simple product;
1. Use an administrator account, set the "Schedule Design Update" attribute under the store view scope (***Default Store View*** for ex.)  for any product, and then save changes;
![image](https://user-images.githubusercontent.com/48080750/106994514-e561cc80-67b7-11eb-99f6-76a27

[2021-02-05 07:03] engcom-Alfa commented on #27935
Hi @dani97  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-05 07:03] #27935 closed, assigned to engcom-Alfa

[2021-02-05 07:14] drdrpetersilie opened #31974 "Magento hängt komplett"
![Magento Ladefehler](https://user-images.githubusercontent.com/78585901/107001505-08758780-678a-11eb-8933-48d6127d0b75.PNG)

Hallo,
Auch neu laden und neu einloggen bringt nix, jedes mal steht das gleiche da. Bitte helfen sie mir.

LG Luca Amend
Metzgerei der Ludwig

Please review our guidelines before adding a new issue: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Fields

[2021-02-05 07:33] hubertus2017 commented on #31967
Hello,
thank you. Hmm, the file GuestPaymentInformationManagement.php on github, that you referenced, is exactly the one we already have on the server. A diff gives no difference between both files.

[2021-02-05 07:40] i95devdivya opened #31975 "Cutom column filter which is added in Sales invoice grid in Magento 2.4 admin is not working"
### Preconditions (*)
1. Magento CE 2.4
2. PHP 7.4

### Steps to reproduce (*)
1.  Create any custom table with a column having Magento invoice increment id and other columns for example ERP invoice number
2. Add ERP invoice number column in sales invoice grid using ui component <Namespace>\<Modulename>\view\adminhtml\ui_component\sales_order_invoice_grid.xml
3. Join the custom table with sales in

[2021-02-05 07:50] engcom-Delta commented on #30484
@asiapatrick  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-05 07:50] #30484 closed, assigned to engcom-Delta

[2021-02-05 07:52] engcom-Delta commented on #31312
@gbyte-dev we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-05 07:52] #31312 closed, assigned to engcom-Delta

[2021-02-05 08:06] adam-webee opened #31976 "Validator builder do not pass constraint arguments to the constructor"
### Preconditions (*)
1. Bug is reproducible on any Magento 2.4 or Magento 2.3.

When creating object instances with the object manager, parameters for the constructor have to be provided as an associative array, where the key represents the name of the parameter and the value represents its value. When 'validate.xml' file is parsed (in \Magento\Framework\Validator\Config) constraint arguments are

[2021-02-05 08:09] adam-webee commented on #31976
@magento I am working on this

[2021-02-05 08:09] adam-webee commented on #31976
@magento add to contributors team

[2021-02-05 08:28] engcom-Bravo commented on #31966
Hello @thinksys-dev

Thank you for your report.

Can you please clarify how this issue is connected to Magento core?

Thank you in Advance

[2021-02-05 08:30] engcom-Bravo commented on #31974
Hello @drdrpetersilie

Can you please update the issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)?

[2021-02-05 08:46] miteshdhaduk commented on #4306
Payment method based on the shipping address or payment method? Any clarification on this?

[2021-02-05 08:47] plastikschnitzer commented on #27590
Dear bot, issue is still relevant. Please respect labels that are put in place by your other bot-friends around here ;-)

[2021-02-05 08:48] plastikschnitzer commented on #29568
still relevant.

[2021-02-05 08:54] engcom-Bravo commented on #31912
@chequille Can you please check if Germany is not selected in _State is Required for_ on your setup?
![germany](https://user-images.githubusercontent.com/51680745/107011013-c0f9f600-679f-11eb-81fd-245da3128cb6.png)

We have rechecked with the _Default Country: Germany_, the result is the same.
And Germany is in the list of _Allowed Countries_ by default. Actually all the Countries are selected in

[2021-02-05 09:11] mrtuvn commented on #31967
@sidolov @sivaschenko @gabrieldagama maybe know this

[2021-02-05 09:13] magento-engcom-team commented on #31973
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40777` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-05 09:15] engcom-Delta commented on #31642
@bartoll , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-05 09:15] #31642 closed, assigned to engcom-Delta

[2021-02-05 09:21] #31786 closed, assigned to sdzhepa, engcom-Alfa, engcom-Kilo

[2021-02-05 09:22] engcom-Delta commented on #31971
Hi @BB-000 thank you for your report.
Please update issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and add more details how to reproduce issue, additional screenshots will be useful.

[2021-02-05 09:26] Eddcapone commented on #17340
I have the same issue, but the cookieMessages do not appear even after reloading the site. I am on Enterprise 2.4.1

[2021-02-05 09:41] chequille commented on #31912
Hi,
In "State is Required for" Germany is not selected !!!!!!!!!!
And in Allowed Countries, as I said already **ONLY GERMANY** is selected

[2021-02-05 09:46] Eddcapone commented on #31958
@ihor-sviziev The bug must have something to do with the page builder. I just tested it again by adding my script to the page.wrapper container via the default.xml layout file and it works there.

[2021-02-05 10:14] engcom-Bravo commented on #30740
Hello @rani-webkul

Thank you for your report.

We confirm that the issue is reproducible on the latest 2.4-develop. Additional info is added to the description.

[2021-02-05 10:16] magento-engcom-team commented on #30740
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40778` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-05 10:38] drdrpetersilie opened #31977 "Magento Ladefehler"
### Preconditions (*)
 2.3.4
1.
2.

### Steps to reproduce (*)

1. ich habe bei den Spalten Verfügbarkeit ausgewählt und wollte mir alle Artikel anzeigen lassen die nicht auf Lager sind
2. Daraufhin hat es sich dann komplett aufgehangen und seit stunden tut sich nichts

### Expected result (*)

1. [Screenshots, logs or description]
2. ich wollte mir alle Artikel anzeigen lassen die nicht auf Lager

[2021-02-05 10:53] netzkollektiv opened #31978 "Price cannot be saved per website (prices website scoped)"
### Preconditions (*)

1. Magento 2.3.5p1
2. the store has two websites, e.g. "DE" and "AT"
3. every website has a single storeView

### Steps to reproduce (*)

1. Price Scope is set to "per website"
2. Create a product with price = 10
2. Switch to another StoreView than default
3. Remove "Use default" for price, set price = 20
4. Save the product

### Expected result (*)

1. Price for website 1 s

[2021-02-05 11:03] engcom-Bravo commented on #31912
@chequille Thank you for the response. We are asking about the Allowed Countries list because of

Yes, we have already rechecked this setup.

Please, try to use the _@magento give me 2.4-develop instance_ comment. This will deploy a temporary 2.4-develop instance for you. Please check if the behaviour is reproducible.

[2021-02-05 11:11] engcom-Alfa commented on #31958
The issue is reproducible on the EE 2.4.1 with a page builder.
![2021-02-05_13-09](https://user-images.githubusercontent.com/51679138/107026525-7edaaf80-67b3-11eb-8854-51cc5e8b3fd5.png)
It looks like the problem may be related to Page Builder functionality.

[2021-02-05 11:22] MajorKuprich opened #31979 "Backup cron schedule not working"
### Preconditions (*)

1. Magento 2.4.1 CE

### Steps to reproduce (*)

1. Enable scheduled backup from admin config (Stores -> Configuration -> Advanced -> System -> Backup Settings).
2. Flush M2 cache.
3. Install and run cronjobs (bin/magento cron:install && bin/magento cron:run).

### Expected result (*)

1. Cronjob scheduled & executed (related record created in **cron_schedule** table).

###

[2021-02-05 11:42] volanar commented on #30490
The problem is relevant because there is no relationship between the product set and the product type

[2021-02-05 11:49] drdrpetersilie commented on #31977
Also ich wollte mir alle Artikel die nicht auf Lager sind angucken. Deshalb habe ich bei Spalten den Punkt Verfügbarkeit ausgewählt dann wurde mir oben alle Artikel angezeigt die Auf Lager sind. Daraufhin habe ich dann bei der Ansicht den Pfeil nach unten gedrückt damit die NIcht auf Lager als erstes oben angezeigt werden. Dann kam der Fehlercode wie auf dem Screenshot und seitdem läd es. Habe sch

[2021-02-05 12:09] engcom-Golf commented on #26020
Hello, @carloricci84
According to documentation cache:flush command flushing a cache type purges the cache storage, which might affect other processes applications that are using the same storage.
It means if different cache types use the same database in Redis they will be flushed as well because it flushes the whole storage.
To avoid flushing all cache types use cache:clean [type] command to cle

[2021-02-05 12:09] #26020 closed, assigned to engcom-Golf

[2021-02-05 12:11] magento-engcom-team commented on #26020
Hi @carloricci84, @engcom-Golf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29935` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-05 12:23] Eddcapone opened #31980 "How to get access to magento commerce/enterprise github?"
### Summary (*)

I created an issue which is for magento 2 enterprise, but it got moved to the enterprise repository,
and I received the info that I don't have access to it.

How can I get access to the enterprise magento 2 github?

### Examples (*)

-

[2021-02-05 12:39] engcom-Bravo commented on #31978
Hello @netzkollektiv

Thank you for your report.

The issue is already fixed on the latest 2.4-develop. Please see the attachment.
![fixed](https://user-images.githubusercontent.com/51680745/107034735-cb2bec80-67bf-11eb-854e-9a0ef4189010.png)

Can you please Confirm if you are able to reproduce it on the latest 2.4-develop?

Thank you in advance

[2021-02-05 13:36] i95devdivya opened #31981 "Getting request parameter NULL in custom Dataprovider in Magento 2.4"
### Preconditions (*)
1. Magento 2.4
2.PHP 7.4

### Steps to reproduce (*)
1. Add a custom grid with custom collection in product edit page by using the UI component in the Magento admin
2. To display respective product data, the current product id is not getting from the request parameter
3.  We are getting current product id like the below
4. $currentProductId = $this->request->getParam('current

[2021-02-05 13:49] #25907 closed, assigned to engcom-Charlie

[2021-02-05 13:49] #31514 closed, assigned to AnnaAPak

[2021-02-05 13:49] #31515 closed, assigned to AnnaAPak

[2021-02-05 13:49] #31517 closed, assigned to AnnaAPak

[2021-02-05 13:49] #31519 closed, assigned to AnnaAPak

[2021-02-05 13:49] #31520 closed, assigned to AnnaAPak

[2021-02-05 13:49] #31623 closed, assigned to AnnaAPak

[2021-02-05 13:49] #31641 closed, assigned to MellenIO

[2021-02-05 13:49] #31801 closed, assigned to sergiy-v

[2021-02-05 13:49] #30882 closed, assigned to mrtuvn

[2021-02-05 13:49] #30936 closed, assigned to larsroettig

[2021-02-05 13:49] #31300 closed, assigned to PierW

[2021-02-05 13:49] #31530 closed, assigned to edspc

[2021-02-05 13:49] #29365 closed, assigned to ravi-chandra3197

[2021-02-05 15:07] mrtuvn commented on #31980
It's private repo you must have authorized/invited to access it

[2021-02-05 15:35] sdzhepa commented on #31967
Hello @mrtuvn
cc: @sidolov @gabrieldagama @zakdma
Based on the discussion and comments https://github.com/magento/magento2/issues/25862

- https://github.com/magento/magento2/issues/25862#issuecomment-745423635

As I understood fix was delivered into `2.4-develop` and should be available in the next release version.

[2021-02-05 15:51] sdzhepa commented on #25862
Hello @zcuric @hubertus2017

jFYI: https://github.com/magento/magento2/issues/31967#issuecomment-774107176

[2021-02-05 16:02] mrtuvn commented on #29325
Just wonder why do you use specific variable `$dictonary` ? Why no use something else ?

[2021-02-05 16:10] sdzhepa commented on #28740
Hello @mattijv

I set the label `Triage: Dev.Experience` because Steps to Reproduce does not describe flow for the end-user on Magento UI.
This means that need a developer to understand the problem, how it affects Magento functionality, what flows could be broken, what the impact,  etc.

Later, this issue was reviewed and discussed at the [Public Triage Meeting](https://github.com/magento/magento2

[2021-02-05 16:26] sdzhepa commented on #17186
The issue has been fixed in https://github.com/magento/magento2/issues/17186#issuecomment-715499238

[2021-02-05 16:26] #17186 closed, assigned to nobody

[2021-02-05 16:39] sdzhepa commented on #28153
Hello @nocturnalfrog

I do not have any updates.
As I can see this issue was reviewed and Triaged
It was handled a bug report and the label " feature request" was removed.
It was prioritized on the [Public Triage Meeting](https://github.com/magento/magento2/wiki/Public-Triage-Meeting)  as Priority: P3 based on [Community Backlog Priority](https://devdocs.magento.com/contributor-guide/contributing.

[2021-02-05 16:47] magento-engcom-team commented on #16202
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40780` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-05 16:50] sdzhepa commented on #30366
Reopened.

Should be verified and confirmed one more time according to the comment  https://github.com/magento/magento2/issues/30366#issuecomment-742666633

[2021-02-05 17:26] chequille commented on #31912
@magento give me 2.4-develop instance

[2021-02-05 18:00] hubertus2017 commented on #31967
Hello,
i read magento 2.4.3 release is in August 2011 😲
As this is a higly time and turnover killer, is there anywhere a fix available?

[2021-02-05 18:41] jigar48 opened #31982 "Braintree PayPal not working Magento 2.3.5-p1 enterprise edition"
### Preconditions (*)

1. Magento 2.3.5-p1
2. PHP 7.2

### Steps to reproduce (*)

1. Configure the Braintree PayPal and Braintree Credit card
2. Add to cart item and checkout
3. Choose Braintree PayPal Option and click on Pay with PayPal
4. PayPal window is opened and closed immediately with Console error

https://api.sandbox.braintreegateway.com/merchants/p7hk7jx76tsyf9ht/client_api/v1/paypal_he

[2021-02-05 22:28] ericmorand commented on #29325
Because it is the name of the property in the specification of the product.

[2021-02-06 07:08] mrtuvn commented on #29325
When use data in block i usually use setData('variable') instead. Also magento allow pass view model object in layout and call it later in template

[2021-02-06 07:35] chequille commented on #31912
Hi Guys,
meanwhile, I tried on the given instance and I could not reproduce it.
But, to get exactly the same config as in my setup, I must go through the whole config section and I do not have the time for it.
For my site, I found another way to hide the region_id field in the checkout and because it is a not required field this is OK.

I still wonder, why it is working in my 2.3.5-p1 setup.
The o

[2021-02-06 08:27] zcuric commented on #25862
Oh boy, so not in 2.4.2? Man, this is disappointing. Can some please make a patch or extension that fixes this?

[2021-02-06 09:23] grassst commented on #31024
Hello,

@iux thank you!
That worked also for me... :-)

[2021-02-06 13:35] huykon commented on #8189
how to fix this problem?

[2021-02-06 13:54] james-noon commented on #31117
Wow yes please implement into 2.4.2 or at least a hotfix...this is an incredibly annoying big bug. Looks like from past reports this has been a problem since 2.3.x (from this time last year: https://community.magento.com/t5/Magento-2-x-Technical-Issues/Display-Out-of-Stock-when-Salable-Quantity-is-0/td-p/289077)

To have to wait another 6+ months [for 2.4.3] is pretty ridiculous honestly. As @s-ke

[2021-02-06 14:37] mrtuvn commented on #31849
CC @lbajsarowicz @Vinai @vkublytskyi

[2021-02-06 14:53] silkspin commented on #28239
This is causing big problems for me in 2.4.1 too. I also agree with the proposals above. I have come up with my own workaround until this problem is fixed, but it might not be suitable for everyone. It involves making changes to the database. I have added "Small" to the end of my image labels ("Alt Text" in the admin) to differentiate the large product images from the smaller category page images.

[2021-02-06 15:32] mrtuvn commented on #29268
this is not stale

[2021-02-06 15:37] cengizcoskun commented on #31105
I use "PayPal All-in-One Payment Solutions" and still same problem..

[2021-02-06 15:37] mrtuvn commented on #29125
Seem this problem still need more discuss for properly solutions! I can admit translate in magento still too overwhelmed and sometimes  we can't predictable how it should work

[2021-02-06 18:43] medigeek commented on #14606
FYI, in case you get this error, you need to setup your store's information:

source:  https://www.mageplaza.com/kb/how-setup-store-information-magento-2.html

[2021-02-06 22:31] #30843 closed, assigned to nobody

[2021-02-07 09:05] #30845 closed, assigned to nobody

[2021-02-07 11:05] #23316 closed, assigned to nobody

[2021-02-07 11:05] #30759 closed, assigned to nobody

[2021-02-07 12:20] engcom-Alfa commented on #31977
Hi @drdrpetersilie. Thank you for your report!
Could you describe the problem in English, providing all the details?
Thanks!

[2021-02-07 13:52] chequille commented on #31117
Need this fix as well.
Guys come on an let us know!!!!

[2021-02-07 15:49] JakobKjoller commented on #26960
I have the same issue when getting large search results in  Magento 2.4.1.

Is there a fix for it?

I tried the one in the description, and it worked.

[2021-02-07 16:36] #24543 closed, assigned to nobody

[2021-02-07 16:38] magento-engcom-team commented on #24543
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-07 18:35] engcom-Bravo commented on #31946
@bkey88 Thank you for the quick response.

Can you please check if there are any errors in the web browser's dev console?
(right-click, select **Inspect**, or click **F12**. Switch to _Console_)
![console](https://user-images.githubusercontent.com/51680745/107155901-c31caa00-6983-11eb-9f45-9aeb5d4e5504.png)
If yes, please share the error.

Also, please check the _var/log_ directory, if there are a

[2021-02-07 19:36] pianistchopin commented on #27867
Great
@bnymn

I had ever faced with this error but I had got you , so I can fix this error

->
"-  update version as composer 1.10.3 "

Thank you so much!

[2021-02-07 19:59] bargoslino commented on #30826
Hi!
Problem remains still.
It seems to have something to do with Configuration Cache, but every time i
refresh it i try changing any shipping method title, And again the change
is not saved and caché is again invalidated

Here some pictures:

El El vie, 11 dic. 2020 a la(s) 03:44, Prakash Prajapati <
notifications@github.com> escribió:

--

BARBARA GOSLINO

bgoslino@mefisto.com.ar

Cel: +54911-552

[2021-02-08 03:04] erfanimani opened #31984 "Expecting 404, getting 500: "Trying to access array offset on value of type bool""
### Preconditions (*)

1. Magento 2.4.1
2. PHP 7.4

### Steps to reproduce (*)

1. As an admin, create an saleable product with any URL, such as "box"
2. Set "Generate "category/product" URL Rewrites" to "No"
3. As a customer, visit the URL /abc/box.html

### Expected result (*)

1. 404 page not found error, as the category abc does not exist

### Actual result (*)

1. 500, Trying to access array

[2021-02-08 03:04] erfanimani commented on #31984
@magento give me 2.4-develop instance

[2021-02-08 03:22] erfanimani commented on #31984
I can't seem to reproduce this. Are the develop instances running PHP 7.4?

[2021-02-08 04:41] ananth-iyer commented on #10365
@dfvincent Reason behind this is scope value is empty in core_config_data, run below SQL query:
SELECT * FROM core_config_data WHERE scope = ''

Run above query in your Magento 1 database also

You must delete the empty rows in Magento 1 then start the settings migration process.

[2021-02-08 04:43] krishprakash commented on #31980
Hi @Eddcapone. It is private repository so you need to get authorization from community team.
Thanks!!

[2021-02-08 04:43] #31980 closed, assigned to krishprakash

[2021-02-08 05:29] bluemwhitew commented on #31984
@magento give me 2.4-develop instance with env php 7.4

[2021-02-08 06:16] bluemwhitew commented on #31450
@magento I am working on this

[2021-02-08 06:53] mattijv commented on #28740
@sdzhepa In that case, apologies. I was under the assumption that the Dev.Experience label denotes issues only related to the development experience in Magento. Those don't seem to get much action and in my personal experience have been closed without resolution. Obviously incorrect code doesn't seem to be a purely development experience problem. But if the label also covers all issues not (easily

[2021-02-08 07:11] Eddcapone commented on #31980
How do I get autorization/invitation?

[2021-02-08 07:42] nige-one commented on #6615
This is in fact still a thing in 2.4.1!

The template does not use the `value` of the product specific super attribute configuration from `catalog_product_super_attribute_label` in

https://github.com/magento/magento2/blob/3b397a99a59d300ebf20dcbe7d8fa22e6842b2d1/app/code/Magento/ConfigurableProduct/view/frontend/templates/product/view/type/options/configurable.phtml#L17

but uses the attribute's

[2021-02-08 08:20] #29445 closed, assigned to engcom-Echo

[2021-02-08 09:25] engcom-Alfa commented on #31979
Hi @MajorKuprich. Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop. Everything works as expected.

**Manual testing scenario:**

1. Go to `Admin -> Stores -> Configuration -> General -> Locale Options` and set correct Time Zone ( in my case:

![Screenshot from 2021-02-08 10-52-56](https://user-images.githubusercontent.com/51679138/107197871-23

[2021-02-08 09:25] #31979 closed, assigned to engcom-Alfa

[2021-02-08 09:55] engcom-Alfa commented on #28619
Hi @ymerfeld  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-08 09:55] #28619 closed, assigned to engcom-Alfa

[2021-02-08 10:01] engcom-Alfa commented on #31771
Hi @anvanza  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-08 10:01] #31771 closed, assigned to engcom-Alfa

[2021-02-08 10:17] technodelight commented on #31225
@engcom-Hotel could you please reopen the issue?

[2021-02-08 11:01] wb-magma commented on #3544
I'm on 2.4.1 and the issue is still there.

[2021-02-08 11:37] hareshpatel commented on #29357
same error how can resolve help me

[2021-02-08 12:09] engcom-Delta commented on #31453
Hi @gabrieldagama . Looks like it is not the issue on the presentation layer as we had invalid date value after rule was created:
![image](https://user-images.githubusercontent.com/51681379/107216976-3111b180-6a16-11eb-98bb-7533c86ac54e.png)

**Manual testing scenario:**

- Code snippet for cart rule with Specific Coupon:
[code]

- Cart rule after creation:
![image](https://user-images.githubuserc

[2021-02-08 12:30] gabrieldagama commented on #30583
Hi @tope316 I will be closing this issue for now as it seems to not be a problem. Please feel free to reopen it and add more information. Thanks!

[2021-02-08 12:30] #30583 closed, assigned to nobody

[2021-02-08 12:40] kassner commented on #31973
Likely related to the fix in #28106

[2021-02-08 12:42] magento-engcom-team commented on #30366
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40804` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-08 12:45] kassner commented on #26292
I have a patch to split the `cache_types` to a new file (`app/etc/cache.php`). Is that kind of change still possible on 2.4 or we need to wait for the 2.5-develop branch to open up?

[2021-02-08 12:58] magento-engcom-team commented on #31939
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40805` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-08 13:30] erfanimani commented on #31984
@magento give me 2.4-develop instance with env php 7.4

[2021-02-08 13:42] mrtuvn commented on #29357
Note your theme could be from app folder or vendor folder

First create file follow
app/design/frontend/YourVendorBrand/yourThemeName/Magento_Contact/templates/form.phtml

Copy content from this file (or use your own file)
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Contact/view/frontend/templates/form.phtml
If you want customise content file feel free customise in your f

[2021-02-08 13:55] gabrieldagama commented on #31286
Hi @AngelsDustz, can you check if there is any extra information on the logs? A backtrace would be good in this case to identify where exactly this exception is being thrown.

Thanks.

[2021-02-08 13:56] engcom-Delta commented on #27453
Hi @atIOCrON thank you for your report.
Starting from `2.4.0` release, code related to this payment was removed from Magento code-base:
[Magento Open Source 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html)

All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento

[2021-02-08 13:56] #27453 closed, assigned to engcom-Delta

[2021-02-08 14:00] gabrieldagama commented on #26135
Hi @ihor-sviziev, I think it is useful for UX perspective. We probably should review the PRs and select one to proceed with. Do you have any concerns with it?

[2021-02-08 14:37] engcom-Alfa commented on #27942
Hi @Krapulat . Thank you for your report!

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Everything works as expected.

**Manual testing scenario:**

1. Add the file: `app/design/frontend/VENDOR/THEME/Magento_Catalog/layout/catalog_category_view_selectable_[ID]_name.xml`
For example: delete breadcrumbs from category page;

[code]

2. Create a category in admin;
3. Go

[2021-02-08 15:09] engcom-Delta commented on #31068
@vpashovski  not sure if it is the issue. For now getter could correct handle with attributes codes `title_h_1`
Do you have a solution for case when attributes code are `title_h_1` and `title_h1` that don't break current behavior?

[2021-02-08 15:15] vpashovski commented on #31068
Hi @engcom-Delta , I didn't work on this issue and I don't have a solution for this. Sorry

[2021-02-08 15:58] github-jira-sync-bot opened #31991 "[GraphQL] [B2B Negotiable Quote] Allow company users to query negotiable quotes belonging to subordinates"
### **Value Statement**

As a company buyer,

I want to view negotiable quotes created by my subordinates via GraphQL

So that I can have better visibility into negotiable quotes that are relevant to me
### **Assumptions and Notes**

 B2B has a company structure
* Each company has a company admin which can perform any action within the company
* Company users can manage other users (subordinates)

[2021-02-08 16:46] Eddcapone opened #31992 "How to resize media if they are on another domain?"
### Summary (*)

I moved my media files to another domain and added the domain entry in the settings at
Stores -> Settings: Configuration -> General -> Base Url's -> Base URL for User Media Files

If I execute ` php bin/magento catalog:image:resize` then I get warnings like **Cannot resize image "/home/company/project/pub/media/catalog/product/e/_/e.png" - original image not found**

Do I have to

[2021-02-08 17:13] Eddcapone commented on #31992
I think instead of setting up a fresh magento we are supposed to use an existing one for example only upload images on the production server and enter the base url of that server everywhere in **Stores -> Settings: Configuration -> General -> Base Url's -> Base URL for User Media Files**

[2021-02-08 17:13] #31992 closed, assigned to nobody

[2021-02-08 18:02] Eddcapone opened #31993 "Images are not getting loaded if you change media base url"
### Preconditions (*)

I have two projects:

- relaunch.company.de
- redesign.company.de  (clone from relaunch.company.de)

**Note**: The base url of both projects is set to their `pub` directory.

I want to setup `redesign.company.de` to make it load images from `relaunch.company.de` so that I don't always have to upload the media to both projects.

So In `redesign.company.de` I added the URL `ht

[2021-02-08 19:29] f1-outsourcing commented on #31536
You may write it anyway you like.

[2021-02-08 19:48] cfarnleitner opened #31994 "Bundle item options missing tax in cart and minicart"
### Preconditions
1. Magento 2.4.0
2. and Magento 2.4.1 (earlier versions not tested)
3. Magento 2.4-develop

### Steps to reproduce (*)
1. Create one or more simple products with a tax class (above 0%) and a price (excl tax)
2. Create a dynamic-price bundle product holding one or more of these simple products
3. Set display prices for cart (Display Prices) and catalog (Display Product Prices In C

[2021-02-08 19:55] f1-outsourcing commented on #31513
I think you should bounce this back to the developer that created it like this. This way you will educate him to do proper research. Even if you do not have any database experience. You should look up statements and understand what they do and mean, before you implement them. (similar to #31536)

I can not remember running into such issues installing magento 1.9 in a shared environment, so maybe y

[2021-02-08 19:58] pixel-paul commented on #27942
I do not understand why, when it is clear this issue is related to **Magento 2.3.4**, you are trying reproduce this issue using the **2.4-develop branch**. Perhaps try and reproduce using **2.3.6**?

[2021-02-08 20:16] #24203 closed, assigned to nobody

[2021-02-08 20:18] magento-engcom-team commented on #24203
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-08 20:28] gwharton commented on #24203
Don't know why I bothered. I wrote you an integration test that proved the issue but still noone was bothered to look at it, and now it gets closed. Looks like the bug will just remain.

[2021-02-08 20:57] navarr commented on #10360
I am currently encountering this error on a project where we're using a custom JavaScript bundler.  On a soft-refresh, this works fine; but on a hard-refresh, the `.on` is called before there is a body in the DOM; leading to future attempts to initialize magento widgets through triggering the contentUpdated on dynamic elements broken.

[2021-02-08 21:17] chaikivskyi commented on #28180
Yes, is still relevant.

[2021-02-08 21:19] chaikivskyi commented on #26262
Yes, it is still relevant.

[2021-02-08 21:36] navarr commented on #10360
I solved this little race condition by patching it to listen to the `html` element.

Cweagans patch here: https://gist.githubusercontent.com/navarr/84bd34c38d449e90a84ffa4e70657276/raw/7c6f3e482ffe37b018b7db44da19e8a8974dd7fd/ROCK-557-handle-contentupdated.patch

If using ECE patching procedures, the paths of the patch will need to be changed from `vendor` to the webroot lib folder

[2021-02-08 22:09] #23637 closed, assigned to nobody

[2021-02-08 22:11] magento-engcom-team commented on #23637
Hi @damienwebdev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23829` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-08 22:18] david-fuehr opened #31995 "Can't place order due to "unknown connection name db""
The error (see below) seems to happen in context of inventory reservation. During place order
`\Magento\InventorySalesApi\Api\PlaceReservationsForSalesEventInterface::execute` tries to save an asynchronus task to create inventory reservation. In this context, the `\Magento\Framework\MessageQueue\PublisherPool::publish` wants to get configuration for connection with type "db", but the `\Magento\Fra

[2021-02-08 23:53] mrtuvn commented on #26135
Select one of mine

[2021-02-09 01:21] mrtuvn commented on #31993
Seem related with this https://github.com/magento/magento2/pull/31817#issuecomment-766558399 by @ihor-sviziev

[2021-02-09 01:22] nwcasebolt commented on #31869
Any progress on this? I was just testing this functionality again and getting the same results.

[2021-02-09 04:13] seattletechworks commented on #26501
I recently upgraded my store from Magento 2.3.5p1 to 2.4.1. I had also removed WeltPixel's Pearl theme. At least, I thought it was completely removed. During the upgrade, while running "php bin/magento setup:upgrade", I encountered the error -

SQLSTATE[42000]: Syntax error or access violation: 1061 Duplicate key name 'WISHLIST_CUSTOMER_ID', query was: ALTER TABLE wishlist ADD CONSTRAINT WISHLIST_

[2021-02-09 04:19] ParimalSigma commented on #28226
Hello @engcom-Delta,

I have checked this in vanila magento and I am able to reproduce this issue, please see this screenshot for reference:

![slowness](https://user-images.githubusercontent.com/19204773/107315098-0843f780-6abc-11eb-852b-23a81c629ce9.png)

[2021-02-09 04:22] DmitryFurs commented on #30997
The issue is still relevant.

[2021-02-09 07:43] engcom-Alfa commented on #31993
Hi @Eddcapone .
We are not able to reproduce the described problem. Everything works properly.
The issue may be related to incorrect environment configuration.
Could you take a look at issue #31817?
Thanks!

[2021-02-09 07:44] ajitverma-ks opened #31996 "Export Button is not working when External Data Provider is used in the ui_component grid."
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [x] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-02-09 07:48] david-fuehr commented on #31995
I just investigated further and found out, that somehow in the module `magento/module-mysql-mq` was corrupt in the local installation. This lead to missing connection type "db".

Therefore this issue is no longer reproducible and can be closed.

[2021-02-09 07:48] #31995 closed, assigned to nobody

[2021-02-09 07:57] dverkade commented on #30901
@ihor-sviziev as mentioned in the initial ticket description this issue is reproducible local and on production environments. Test instance from Magento Github reflect this as well, so this is an active issue that needs to be worked on.

[2021-02-09 08:11] #30867 closed, assigned to nobody

[2021-02-09 08:15] magento-engcom-team commented on #28387
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40808` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-09 08:27] ihor-sviziev commented on #10360
@navarr is there any clear steps to reproduce? If so - could you report a separate issue for that?

[2021-02-09 08:59] engcom-Alfa commented on #31741
Hi @vijay-prevaj. Thank you for your report.
We are not able to reproduce the issue on the commerce edition too. Everything works as expected.
Perhaps the problem may be due to the wrong configuration of the RabbitMQ server.

Magento EE
**Manual testing scenario:**

1. Create new product with REST API:
**PUT** `http://magento24.loc/rest/all/async/bulk/V1/products/bySku`
![Screenshot from 2021-01-2

[2021-02-09 08:59] #31741 closed, assigned to engcom-Alfa

[2021-02-09 09:10] Eddcapone commented on #31993
I have this .htaccess in `pub/media` on both servers:

[code]

I compared it with a fresh magento and they are identical.

[2021-02-09 09:15] Eddcapone commented on #31993
@engcom-Alfa Did you tested with product images? The problem only occurs with cached images.

[2021-02-09 09:22] martinshawruroc opened #31999 "Country isn't translated in customer emails when asyncronous sending is enabled"
### Preconditions (*)

1. 2.4.1
2. latest `2.4-develop`

### Steps to reproduce (*)

1. Create a fresh Magento2 instance, I used https://github.com/markshust/docker-magento with the latest `2.4-develop` branch (55c4ff8fbe6c17495477c5debb05cb84f9602236 at time of writing). I've also replicated the issue on 2.4.1
2. Create a simple product, details are unimportant
3. Create a new store view against

[2021-02-09 09:58] github-jira-sync-bot opened #32000 "Invalid Template Strings when Translate Inline enabled"
Preconditions:

Magento installed
 Several products and a customer is created
 Add product to cart on storefront
 Login to admin area
 Go to stores > Configuration > Advanced > Developer > Translate Inline
 Set Enabled for Storefront option to Yes and save configuration
 Flush Cache

Template strings are shown with formatting when inline translation is enabled.

Expected: Text remains the same
 Ac

[2021-02-09 10:02] bmitchell-ldg commented on #30128
I disabled all of our custom modules and any 3rd party ones and it was still happening, i think it might be down to a plugin called afterUpdateMview in vendor/magento/module-indexer/Model/Processor/CleanCache.php which i can see being called after the reindex has completed

![Screenshot 2021-01-29 at 16 47 08](https://user-images.githubusercontent.com/3041320/107345464-7dfb9380-6abb-11eb-824e-d98e

[2021-02-09 10:05] mastiuhin-olexandr commented on #32000
@magento I am working on this

[2021-02-09 10:10] WebKenth commented on #15215
![image](https://user-images.githubusercontent.com/13419123/107348488-5b6f7780-6ac7-11eb-9aa5-e1ac654e8486.png)
Why is this a thing?

A closed Issue that is reproducible with a core bug alot of activity, yet just closed?

[2021-02-09 10:19] Eddcapone opened #32001 "How to get invitation/authorisation for Enterprise repository on github?"
### Summary (*)

I am using Magento 2.4.1 Enterprise, there are some issues which do not exist in open source magento, for example page builder related issues.

I already asked the question "[How to get access to magento commerce/enterprise github?](https://github.com/magento/magento2/issues/31980)" but the question was closed and I only got the message, that I need to get invited and authorized,

[2021-02-09 10:35] magento-engcom-team commented on #31999
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40809` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-09 10:39] mrtuvn commented on #32001
github is not active than slack channel in my opinion . You should ask for invite in there could help! I'm not sure
I'm not in the part of that private repo
Go here https://magentocommeng.slack.com

[2021-02-09 10:44] engcom-Alfa commented on #27942
@pixel-paul https://github.com/magento/magento2/wiki/GitHub-Issues-Processing-Workflow#verification

[2021-02-09 10:48] tarunpg commented on #30339
@nicholasscottfish We are also seeing this issue on our Sandbox "Billing state format is invalid". I contacted Braintree and they informed that " in production a 2 or 3 digit billing state is required for 3DS 2. Otherwise, if a longer billing state is passed, the authentication will be downgraded to 3DS 1. Therefore, the validation error in Sandbox is intended to encourage merchants to pass a 2-3

[2021-02-09 11:24] thomas-kl1 opened #32004 "htmlClass pattern validation is too restrictive"
Resource: https://www.w3.org/TR/CSS22/syndata.html
Part 4.1.3

### Preconditions (*)
1. Add a new container in your layout
2. Add a htmlClass with a character like "@"

### Steps to reproduce (*)
1. Add a new container in your layout
2. Add a htmlClass with a character like "@"

### Expected result (*)
1. The container is added to the dom with the correct class attribute value

### Actual result (

[2021-02-09 11:24] thomas-kl1 commented on #32004
@magento I am working on this

[2021-02-09 11:35] pixel-paul commented on #27942
@engcom-Alfa thanks. So how do you make a pull request for the 2.3.7 branch to be released in Q2 of this year? (Ref:https://devdocs.magento.com/guides/v2.3/release-notes/open-source-2-3-6.html)

[2021-02-09 11:48] github-jira-sync-bot opened #32006 "Unexpected behavior on the PayPal express review page during loading"
Precondition:

1. [Configure PayPal Express Checkout](https://jira.corp.magento.com/browse/MAGETWO-76147)
2. Create simple product (price = 10)
3. Create customer with address:
(on) use incorrect address
* First Name: Account
* Last Name: Account
* Email Address: Account@gmail.com
* Company: Company
* Address: Street Address
* City: City
* State/Province: California (CA)
* Zip/Postal Code: 90230
*

[2021-02-09 11:48] victorpetryk commented on #32006
@magento I am working on this

[2021-02-09 11:50] ankurAuriga commented on #31146
@DanielRuf - After applying patch 1.12.4 from https://github.com/DanielRuf/snyk-js-jquery-565129 in Magento 2.2.11, mini cart is stopped working. It does not show any content.

[2021-02-09 11:53] engcom-Kilo opened #32007 "Schedule Design Update when edit product in backend seem not set properly"
When edit product owner have able to set "Schedule Design Update"
Choose date applied, which theme will update, and page layout. But after set page layout to another value (example: 3 columns)
save and clear cache, Back to frontend and view exactly product edited before
View page source and see body class in DOM
Seem page layout not actually update. Owner will expected page layout change exactly l

[2021-02-09 11:58] magento-engcom-team commented on #32007
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40811` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-09 12:27] iphigenie opened #32010 "Division by zero at order completion on tax exempt products when multiple tax rates exist"
This has happened to me on 2.4.1 where all my products have taxes applied except for one which is tax exempt

An order with that product in it will have its payment successfully taken but then fail at the final step

### Preconditions (*)

Have products with multiple tax rates applied

Have a class of products where these tax rates are all 0, overriding the default.

### Steps to reproduce (*)

Pl

[2021-02-09 12:32] sivaschenko opened #32011 "Auto generated code needs to be marked as API"
### Description
Auto-generated code needs to be marked as API

### Details
1. Auto generated code needs to be marked as @api:
   1. \Magento\Framework\Api\Code\Generator\ExtensionAttributesInterfaceFactoryGenerator
   1. \Magento\Framework\Api\Code\Generator\ExtensionAttributesInterfaceGenerator
   1. \Magento\Framework\Api\Code\Generator\ExtensionAttributesGenerator
   1. \Magento\Framework\Messa

[2021-02-09 12:33] engcom-Alfa commented on #31881
Hi @paulvandermeijs. Thank you for your report!
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
Looks like the issue has already been fixed.

**Preconditions:**

1. Magento 2.4-develop;
2. Using a virtual product with a Price of 0, Manage Stock "Yes", and Quantity of 1;
3. Having Zero Subtotal Checkout enabled with New Order Status "Processing" and Automatically Invoice

[2021-02-09 12:33] #31881 closed, assigned to engcom-Alfa

[2021-02-09 12:42] engcom-Delta commented on #31994
@magento give me 2.4-develop instance

[2021-02-09 12:49] sivaschenko opened #32013 "Mark AdvancedSearch, Analytics, Backend, Bundle, CardinalCommerce as API"
The following interfaces should be marked as API in 2.4-develop branch
1. app/code/Magento/AdvancedSearch/Block/SearchDataInterface.php
1. app/code/Magento/Analytics/Api/Data/LinkInterface.php
1. app/code/Magento/Analytics/Api/LinkProviderInterface.php
1. app/code/Magento/Analytics/Model/Connector/CommandInterface.php
1. app/code/Magento/Analytics/Model/ExportDataHandlerInterface.php
1. app/code/M

[2021-02-09 12:50] sivaschenko opened #32014 "Mark Catalog interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch
1. app/code/Magento/Catalog/Block/Product/AwareInterface.php
1. app/code/Magento/Catalog/Block/Product/ReviewRendererInterface.php
1. app/code/Magento/Catalog/Controller/Adminhtml/Product/Initialization/Helper/HandlerInterface.php
1. app/code/Magento/Catalog/Controller/Product/View/ViewInterface.php
1. app/code/Magento/Catalog/

[2021-02-09 12:52] sivaschenko opened #32015 "Mark Catalog*, Checkout, Cms, ConfigurableProduct interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. app/code/Magento/CatalogGraphQl/DataProvider/Product/LayeredNavigation/LayerBuilderInterface.php
1. app/code/Magento/CatalogGraphQl/Model/Resolver/Categories/DataProvider/Category/CollectionProcessorInterface.php
1. app/code/Magento/CatalogGraphQl/Model/Resolver/Product/Price/ProviderInterface.php
1. app/code/Magento/Catalo

[2021-02-09 12:53] sivaschenko opened #32016 "Mark Cron, Csp, Customer and Deploy interfaces as API"
The following interfaces should be marked as API in api-changes-develop branch

1. app/code/Magento/Cron/Model/DeadlockRetrierInterface.php
1. app/code/Magento/Csp/Api/CspAwareActionInterface.php
1. app/code/Magento/Csp/Api/CspRendererInterface.php
1. app/code/Magento/Csp/Api/Data/ModeConfiguredInterface.php
1. app/code/Magento/Csp/Api/Data/PolicyInterface.php
1. app/code/Magento/Csp/Api/InlineUti

[2021-02-09 12:55] sivaschenko opened #32017 "Mark Directory, Downloadable, Eav and Elasticsearch interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch
1. app/code/Magento/Directory/Model/Country/Postcode/ConfigInterface.php
1. app/code/Magento/Directory/Model/Country/Postcode/ValidatorInterface.php
1. app/code/Magento/Downloadable/Api/DomainManagerInterface.php
1. app/code/Magento/Downloadable/Pricing/Price/LinkPriceInterface.php
1. app/code/Magento/Eav/Model/Entity/Attribute

[2021-02-09 12:56] sivaschenko opened #32018 "Mark GraphQl, ImportExport, Indexer, Integration and LoginAsCustomer interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch
1. app/code/Magento/GraphQl/Controller/HttpHeaderProcessorInterface.php
1. app/code/Magento/GraphQl/Controller/HttpRequestValidatorInterface.php
1. app/code/Magento/GraphQl/Model/Query/ContextInterface.php
1. app/code/Magento/GraphQl/Model/Query/ContextParametersInterface.php
1. app/code/Magento/GraphQl/Model/Query/ContextParam

[2021-02-09 12:57] sivaschenko opened #32019 "Mark MediaGallery interfaces as API"
The following interfaces should be marked as API in api-changes-develop branch

1. app/code/Magento/MediaContentApi/Api/GetAssetIdsByContentFieldInterface.php
1. app/code/Magento/MediaContentApi/Api/UpdateContentAssetLinksInterface.php
1. app/code/Magento/MediaContentApi/Model/GetAssetIdsByContentFieldInterface.php
1. app/code/Magento/MediaContentApi/Model/SearchPatternConfigInterface.php
1. app/c

[2021-02-09 12:59] sivaschenko opened #32020 "Mark Msrp, Newsletter, PageCache, Payment, Paypal and Quote interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. app/code/Magento/Msrp/Pricing/MsrpPriceCalculatorInterface.php
1. app/code/Magento/Newsletter/Model/SubscriptionManagerInterface.php
1. app/code/Magento/PageCache/Model/Spi/PageCacheTagsPreprocessorInterface.php
1. app/code/Magento/Payment/Api/Data/PaymentAdditionalInfoInterface.php
1. app/code/Magento/Payment/Model/Method/

[2021-02-09 13:00] sivaschenko opened #32021 "Mark ReleaseNotification, RemoteStorage and Sales interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. app/code/Magento/ReleaseNotification/Model/ContentProviderInterface.php
1. app/code/Magento/RemoteStorage/Driver/DriverFactoryInterface.php
1. app/code/Magento/RemoteStorage/Driver/RemoteDriverInterface.php
1. app/code/Magento/RemoteStorage/FilesystemInterface.php
1. app/code/Magento/Sales/Api/OrderCustomerDelegateInterface

[2021-02-09 13:01] sivaschenko opened #32022 "Mark Search, Security, Shipping, Store, Tax, Theme and Ui interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. app/code/Magento/Search/Model/SearchEngine/ValidatorInterface.php
1. app/code/Magento/Search/Setup/InstallConfigInterface.php
1. app/code/Magento/Security/Api/Data/UserExpirationInterface.php
1. app/code/Magento/Shipping/Model/Carrier/Source/GenericInterface.php
1. app/code/Magento/Store/Model/Config/Importer/Processor/Proc

[2021-02-09 13:03] sivaschenko opened #32023 "Mark UrlRewriteGraphQl, User, Vault, Webapi, Widget and Wishlist interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. app/code/Magento/UrlRewriteGraphQl/Model/Resolver/UrlRewrite/CustomUrlLocatorInterface.php
1. app/code/Magento/User/Model/Spi/NotificationExceptionInterface.php
1. app/code/Magento/User/Model/Spi/NotificatorInterface.php
1. app/code/Magento/Vault/Block/Customer/IconInterface.php
1. app/code/Magento/Webapi/Controller/Rest/Re

[2021-02-09 13:04] sivaschenko opened #32067 "Mark Inventory interfaces and blocks as API"
The following interfaces and blocks should be marked as API in api-changes-develop branch

1. inventory/InventoryApi/Model/IsProductAssignedToStockInterface.php
1. inventory/InventoryCatalogApi/Model/SourceItemsProcessorInterface.php
1. inventory/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/ResolverInterface.php
1. inventory/InventoryIndexer/Indexer/SelectBuilderInter

[2021-02-09 13:06] sivaschenko opened #32024 "Mark Framework interfaces as API part 1"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/Amqp/Topology/BindingInstallerInterface.php
1. lib/internal/Magento/Framework/Api/AttributeTypeResolverInterface.php
1. lib/internal/Magento/Framework/Api/CriteriaInterface.php
1. lib/internal/Magento/Framework/Api/Search/AggregationInterface.php
1. lib/internal/Magento/Framework/Api/Search/Ag

[2021-02-09 13:07] sivaschenko opened #32025 "Mark Framework interfaces as API part 2"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/App/CsrfAwareActionInterface.php
1. lib/internal/Magento/Framework/App/DefaultPathInterface.php
1. lib/internal/Magento/Framework/App/DeploymentConfig/ImporterInterface.php
1. lib/internal/Magento/Framework/App/DeploymentConfig/ValidatorInterface.php
1. lib/internal/Magento/Framework/App/Deplo

[2021-02-09 13:08] sivaschenko opened #32026 "Mark Framework interfaces as API part 3"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/Async/CancelableDeferredInterface.php
1. lib/internal/Magento/Framework/Async/DeferredInterface.php
1. lib/internal/Magento/Framework/Autoload/AutoloaderInterface.php
1. lib/internal/Magento/Framework/Backup/SourceFileInterface.php
1. lib/internal/Magento/Framework/Cache/ConfigInterface.php
1.

[2021-02-09 13:09] sivaschenko opened #32027 "Mark Framework interfaces as API part 4"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/Encryption/Adapter/EncryptionAdapterInterface.php
1. lib/internal/Magento/Framework/Event/ConfigInterface.php
1. lib/internal/Magento/Framework/Event/InvokerInterface.php
1. lib/internal/Magento/Framework/Event/ManagerInterface.php
1. lib/internal/Magento/Framework/Exception/TemporaryStateExce

[2021-02-09 13:10] sivaschenko opened #32028 "Mark Framework GraphQL interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch:

1. lib/internal/Magento/Framework/GraphQl/Config/ConfigElementFactoryInterface.php
1. lib/internal/Magento/Framework/GraphQl/Config/ConfigElementInterface.php
1. lib/internal/Magento/Framework/GraphQl/Config/Element/FieldInterface.php
1. lib/internal/Magento/Framework/GraphQl/Config/Element/OutputFieldInterface.php
1. lib/int

[2021-02-09 13:12] sivaschenko opened #32029 "Mark Framework interfaces as API part 5"
The following interfaces should be marked as API in 2.4-develop branch:

1. lib/internal/Magento/Framework/HTTP/AsyncClient/HttpResponseDeferredInterface.php
1. lib/internal/Magento/Framework/HTTP/AsyncClientInterface.php
1. lib/internal/Magento/Framework/Image/Adapter/AdapterInterface.php
1. lib/internal/Magento/Framework/Image/Adapter/ConfigInterface.php
1. lib/internal/Magento/Framework/Indexer

[2021-02-09 13:13] sivaschenko opened #32030 "Mark Framework MessageQueue interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/MessageQueue/BulkPublisherInterface.php
1. lib/internal/Magento/Framework/MessageQueue/CallbackInvokerInterface.php
1. lib/internal/Magento/Framework/MessageQueue/ConnectionTypeResolverInterface.php
1. lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ConsumerConfigItem/HandlerInterf

[2021-02-09 13:14] sivaschenko opened #32031 "Mark Framework Model, Module, Mview and ObjectManager interfaces as API"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/Model/Entity/ScopeInterface.php
1. lib/internal/Magento/Framework/Model/Entity/ScopeProviderInterface.php
1. lib/internal/Magento/Framework/Model/EntitySnapshot/AttributeProviderInterface.php
1. lib/internal/Magento/Framework/Model/ResourceModel/Db/VersionControl/RelationInterface.php
1. lib/i

[2021-02-09 13:16] sivaschenko opened #32032 "Mark framework interfaces as API part 6"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/Profiler/Driver/Standard/OutputInterface.php
1. lib/internal/Magento/Framework/Search/Adapter/Aggregation/AggregationResolverInterface.php
1. lib/internal/Magento/Framework/Search/Adapter/OptionsInterface.php
1. lib/internal/Magento/Framework/Search/Adapter/Preprocessor/PreprocessorInterface.p

[2021-02-09 13:17] sivaschenko opened #32033 "Mark Framework Setup interfaces as API"
The following interfaces should be marked as API

1. lib/internal/Magento/Framework/Setup/ConfigOptionsListInterface.php
1. lib/internal/Magento/Framework/Setup/DataCacheInterface.php
1. lib/internal/Magento/Framework/Setup/Declaration/Schema/DataSavior/DataSaviorInterface.php
1. lib/internal/Magento/Framework/Setup/Declaration/Schema/DataSavior/DumpAccessorInterface.php
1. lib/internal/Magento/Fr

[2021-02-09 13:18] sivaschenko opened #32034 "Mark Framework interfaces as API part 7"
The following interfaces should be marked as API in 2.4-develop branch:

1. lib/internal/Magento/Framework/Stdlib/DateTime/Timezone/LocalizedDateToUtcConverterInterface.php
1. lib/internal/Magento/Framework/TestFramework/Unit/Autoloader/GeneratorInterface.php
1. lib/internal/Magento/Framework/Translate/Inline/ProviderInterface.php
1. lib/internal/Magento/Framework/TranslateInterface.php
1. lib/int

[2021-02-09 13:19] sivaschenko opened #32035 "Mark Framework interfaces as API part 8"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/View/Element/ComponentVisibilityInterface.php
1. lib/internal/Magento/Framework/View/Element/Message/InterpretationStrategyInterface.php
1. lib/internal/Magento/Framework/View/Element/Message/Renderer/PoolInterface.php
1. lib/internal/Magento/Framework/View/Element/Message/Renderer/RendererInt

[2021-02-09 13:20] sivaschenko opened #32036 "Mark Framework interfaces as API part 9"
The following interfaces should be marked as API in 2.4-develop branch

1. lib/internal/Magento/Framework/View/File/FileList/CollateInterface.php
1. lib/internal/Magento/Framework/View/Helper/SecureHtmlRender/SecurityProcessorInterface.php
1. lib/internal/Magento/Framework/View/Layout/Argument/UpdaterInterface.php
1. lib/internal/Magento/Framework/View/Layout/Condition/VisibilityConditionInterface

[2021-02-09 13:29] sivaschenko opened #32037 "Update Framework interfaces"
The following interfaces should be updated in 2.5-develop branch:

1. lib/internal/Magento/Framework/MessageQueue/ConsumerConfigurationInterface.php: Remove deprecated methods
1. lib/internal/Magento/Framework/View/DesignInterface.php: Remove deprecated setArea method
1. lib/internal/Magento/Framework/Webapi/CustomAttributeTypeLocatorInterface.php: Remove deprecated methods

[2021-02-09 13:30] sivaschenko opened #32038 "Mark moved interfaces as API"
The following interfaces should be moved and marked as API

Depends on https://github.com/magento/magento2/issues/32040 (moving and deprecation of interfaces in 2.4)

1. app/code/Magento/AsynchronousOperations/Model/OperationRepositoryInterface.php: Move to \Magento\AsynchronousOperations\Model\ResourceModel\Operation\OperationRepository and then mark as @api in 2.5. Deprecate in 2.4
1. lib/intern

[2021-02-09 13:34] sivaschenko opened #32039 "Mark Exceptions as API"
The follwoing Exceptions should be marked as API in 2.4-develop branch

1. app/code/Magento/Checkout/Api/Exception/PaymentProcessingRateLimitExceededException.php
1. app/code/Magento/SalesRule/Api/Exception/CodeRequestLimitException.php

[2021-02-09 13:39] sivaschenko opened #32040 "Mark interfaces as deprecated"
The following interfaces should be marked as deprecated in 2.4-develop branch

1. app/code/Magento/AsynchronousOperations/Model/OperationRepositoryInterface.php: Deprecate and move to \Magento\AsynchronousOperations\Model\ResourceModel\Operation\OperationRepository
1. lib/internal/Magento/Framework/View/Asset/PreProcessor/Helper/SortInterface.php: Deprecate and move out from /Helper/ namespace
1.

[2021-02-09 13:54] magento-engcom-team commented on #31994
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40814` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-09 14:01] eduard13 commented on #31935
@Usik2203 @cpartica after a deeper look, I'd like to provide my investigation results here. So, if checking the ES grouped product data, we may see that the Grouped product keeps the assigned simple products url_keys as a list.
[code]

Our query, which requests the `eq` condition, correctly returns the data, since `eq` also checks the list items, based on the following statement:

[code]
Source: h

[2021-02-09 14:04] norgeindian commented on #29734
@kaivanshah02 , any news regarding this topic?

[2021-02-09 14:14] sivaschenko opened #32041 "Factories for API classes/interfaces should be marked as API"
The following factories should be marked as API in 2.5-develop branch

1. app/code/Magento/Catalog/Block/Product/ImageFactory.php
1. app/code/Magento/Catalog/Model/Product/Type/Price/Factory.php
1. app/code/Magento/Config/Block/System/Config/Form/Field/Factory.php
1. app/code/Magento/Config/Block/System/Config/Form/Fieldset/Factory.php
1. app/code/Magento/Customer/Model/Metadata/FormFactory.php
1.

[2021-02-09 14:19] sivaschenko opened #32043 "Mark Catalog Blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Catalog\Block\Navigation
1. Magento\Catalog\Block\FrontendStorageManager
1. Magento\Catalog\Block\Adminhtml\Product
1. Magento\Catalog\Block\Adminhtml\Category\Tree
1. Magento\Catalog\Block\Adminhtml\Category\Edit
1. Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Options
1. Magento\Catalog\Block\Adminhtml\Product\Edit

[2021-02-09 14:20] engcom-Hotel commented on #25447
Closing the issue due to inactivity.
Feel free to reopen it if you can reproduce it.

[2021-02-09 14:20] #25447 closed, assigned to engcom-Hotel

[2021-02-09 14:21] sivaschenko opened #32044 "Mark Backend Blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Backend\Block\Menu
1. Magento\Backend\Block\GlobalSearch
1. Magento\Backend\Block\Page
1. Magento\Backend\Block\Template
1. Magento\Backend\Block\Denied
1. Magento\Backend\Block\Page\Header
1. Magento\Backend\Block\Page\Notices
1. Magento\Backend\Block\Page\RequireJs
1. Magento\Backend\Block\Page\Footer
1. Magento\Backe

[2021-02-09 14:22] magento-engcom-team commented on #25447
Hi @wibbel, @engcom-Hotel.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25117` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-09 14:22] sivaschenko opened #32045 "Mark Checkout and Bundle blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Checkout\Block\Cart
1. Magento\Checkout\Block\Registration
1. Magento\Checkout\Block\Onepage
1. Magento\Checkout\Block\Onepage\Success
1. Magento\Checkout\Block\Onepage\Failure
1. Magento\Checkout\Block\Onepage\Link
1. Magento\Checkout\Block\Item\Price\Renderer
1. Magento\Checkout\Block\Cart\Grid
1. Magento\Checkout\Blo

[2021-02-09 14:23] sivaschenko opened #32046 "Mark Sales Blocks as API part 1"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Sales\Block\Widget\Guest\Form
1. Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer
1. Magento\Sales\Block\Adminhtml\Items\Column\Name
1. Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn
1. Magento\Sales\Block\Adminhtml\Order\AbstractOrder
1. Magento\Sales\Block\Adminhtml\Order\Payment
1. Magento\Sales

[2021-02-09 14:24] sivaschenko opened #32047 "Mark Sales Blocks as API part 2"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Sales\Block\Adminhtml\Order\Invoice\Totals
1. Magento\Sales\Block\Adminhtml\Order\Invoice\Create\Form
1. Magento\Sales\Block\Adminhtml\Order\Invoice\Create\Items
1. Magento\Sales\Block\Adminhtml\Order\Invoice\View\Form
1. Magento\Sales\Block\Adminhtml\Order\Invoice\View\Comments
1. Magento\Sales\Block\Adminhtml\Order\In

[2021-02-09 14:25] sivaschenko opened #32048 "Mark Customer, User, Directory, Store and Cms Blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Customer\Block\SectionConfig
1. Magento\Customer\Block\CustomerData
1. Magento\Customer\Block\CustomerScopeData
1. Magento\Customer\Block\Newsletter
1. Magento\Customer\Block\Address\Grid
1. Magento\Customer\Block\Address\Book
1. Magento\Customer\Block\Address\Edit
1. Magento\Customer\Block\Form\Edit
1. Magento\Customer

[2021-02-09 14:28] sivaschenko opened #32049 "Mark Theme, Eav, Ui, Rss, Wishlist and Downloadable Blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Theme\Block\Html\Header
1. Magento\Theme\Block\Html\Notices
1. Magento\Theme\Block\Html\Footer
1. Magento\Theme\Block\Html\Pager
1. Magento\Theme\Block\Html\Breadcrumbs
1. Magento\Theme\Block\Html\Topmenu
1. Magento\Theme\Block\Html\Title
1. Magento\Theme\Block\Html\Header\Logo
1. Magento\Theme\Block\Adminhtml\Design\Co

[2021-02-09 14:30] sivaschenko opened #32050 "Mark Newsletter, Review, PageCache, Tax, Payment, Contact, Shipping and ImportExport Blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\Newsletter\Block\Subscribe
1. Magento\Newsletter\Block\Adminhtml\Subscriber
1. Magento\Newsletter\Block\Adminhtml\Problem
1. Magento\Newsletter\Block\Adminhtml\Template\Edit
1. Magento\Newsletter\Block\Adminhtml\Queue\Edit
1. Magento\Review\Block\Adminhtml\Rss\Grid\Link
1. Magento\Review\Block\Customer\Recent
1. Magento

[2021-02-09 14:31] sivaschenko opened #32051 "Mark CatalogSearch, Msrp, CustomerBalance, GiftCardAccount, ConfigurableProduct, GiftCard, GroupedProduct and Search blocks as API"
The following Blocks should be marked as API in 2.5-develop branch

1. Magento\CatalogSearch\Block\Result
1. Magento\CatalogSearch\Block\Advanced\Result
1. Magento\CatalogSearch\Block\Advanced\Form
1. Magento\Msrp\Block\Popup
1. Magento\CustomerBalance\Block\Sales\Order\Customerbalance
1. Magento\CustomerBalance\Block\Adminhtml\Sales\Order\Create\Payment
1. Magento\CustomerBalance\Block\Adminhtml\

[2021-02-09 14:34] engcom-Delta commented on #31982
Hi @jigar48  thank you for your report. I checked issue with PayPal Express Checkout and PayPal Payflow Pro payment methods and it is not reproducible on clean magento 2.4-develop
Starting from `2.4.0` release, code related to this payment was removed from Magento code-base:
[Magento Open Source 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-sou

[2021-02-09 14:34] #31982 closed, assigned to engcom-Delta

[2021-02-09 15:10] sivaschenko opened #32052 "Mark blocks as API"
The following blocks should be marked as API in 2.5-develop branch

1. Magento\InstantPurchase\Block\Button
1. Magento\Paypal\Block\Logo
1. Magento\Paypal\Block\Iframe
1. Magento\Paypal\Block\Billing\Agreements
1. Magento\Paypal\Block\Billing\Agreement\View
1. Magento\Paypal\Block\Express\Review
1. Magento\Paypal\Block\Express\InContext\Component
1. Magento\Paypal\Block\Express\Review\Details
1. M

[2021-02-09 15:11] DanielRuf commented on #31146
@Anahitmartirosyan please do not simply apply the patch. The supplied jQuery version is already patched.

Also please see the previous comments about the exact parts, which are applied. Not all parts of the patches are applied in Magento.

[2021-02-09 15:12] DanielRuf commented on #31146
@Anahitmartirosyan please do not simply apply the patch. The supplied jQuery version is already patched.

Also please see the previous comments about the exact parts, which are applied. Not all parts of the patches are applied in Magento.

Check your browser console for any errors.

[2021-02-09 15:14] DanielRuf commented on #31146
@Anahitmartirosyan please do not simply apply the patch. The supplied jQuery version is already patched.

Also please see the previous comments about the exact parts, which are applied. Not all parts of the patches are applied in Magento.

Check your browser console for any errors.

Please carefully read https://github.com/magento/magento2/issues/31146#issuecomment-738112151.

[2021-02-09 15:20] sivaschenko opened #32053 "Mark AdminNotification, Multishipping and other blocks as API"
The following blocks should be marked as API in 2.5-develop branch

1. Magento\AdminNotification\Block\Window
1. Magento\AdminNotification\Block\ToolbarEntry
1. Magento\AdminNotification\Block\System\Messages\UnreadMessagePopup
1. Magento\GoogleAdwords\Block\Code
1. Magento\GoogleOptimizer\Block\Code\Product
1. Magento\GoogleOptimizer\Block\Code\Category
1. Magento\Marketplace\Block\Partners
1. Ma

[2021-02-09 15:28] sivaschenko opened #32054 "Mark classes and interfaces as API"
The following classes and interfaces should be marked as API

1. Magento\Framework\Data\FormFactory
1. Magento\Framework\View\Element\UiComponent\Control\ButtonProviderInterface
1. Magento\Framework\Event\ManagerInterface
1. Magento\Framework\App\Filesystem\DirectoryList
1. Magento\Framework\Api\AbstractSimpleObject
1. Magento\Framework\Controller\Result\JsonFactory
1. Magento\Framework\App\Respon

[2021-02-09 15:30] sivaschenko opened #32055 "Update classes and interfaces"
The following classes and interfaces should be updated

1. Magento\Framework\App\Area	Change visibility of protected properties/methods to private
1. Magento\Framework\Api\SearchCriteriaBuilder	Change visibility of protected properties to private. Stop inheriting from deprecated class, implement recommended interface instead
1. Magento\Framework\Module\Manager	Remove deprecated methods
1. Magento\

[2021-02-09 15:33] sivaschenko opened #32056 "Mark classes and interfaces as API part 2"
The following classes and interfaces should be marked as API in 2.4-develop branch

1. Magento\Ui\DataProvider\Modifier\PoolInterface
1. Magento\Framework\App\RouterInterface
1. Magento\Framework\Setup\Patch\DataPatchInterface
1. Magento\Framework\Console\Cli
1. Magento\Catalog\Controller\Adminhtml\Product
1. Magento\Framework\App\Config\ValueFactory
1. Magento\Framework\Module\ModuleListInterface

[2021-02-09 15:35] sivaschenko opened #32057 "Update classes and interfaces part 2"
Update the following classes and interfaces in 2.5-develop branch

1. Magento\Framework\Data\Form\Element\Factory	Change visibility of protected properties to private
1. Magento\Customer\Controller\Adminhtml\Index	Remove deprecated methods and properties
1. Magento\Sales\Model\Order\Email\Sender\OrderSender	Change visibility of protected properties and methods to private
1. Magento\Sales\Model\Ord

[2021-02-09 15:36] sivaschenko opened #32058 "Mark classes and interfaces as API part 3"
The following classes and interfaces should be marked as API in 2.4-develop branch

1. Magento\Framework\Data\Form\Element\Image
1. Magento\Sales\Model\Order\Pdf\Total\DefaultTotal
1. Magento\Catalog\Block\Adminhtml\Product\Edit\Button\Generic
1. Magento\Sales\Controller\Adminhtml\Order
1. Magento\Customer\Setup\CustomerSetup
1. Magento\Checkout\Controller\Cart
1. Magento\Quote\Model\Quote\Item\Ca

[2021-02-09 15:37] sivaschenko opened #32059 "Update classes and interfaces part 3"
Update the following classes and interfaces in 2.5-develop branch:

1. Magento\Checkout\Model\Type\Onepage	Create a new interface and move constants there. Current class must implement the new interface to maintain backward compatibility
1. Magento\Framework\Image\AdapterFactory	Change visibility of protected properties to private
1. Magento\Catalog\Model\Config	Change visibility of protected prop

[2021-02-09 15:38] sivaschenko opened #32060 "Mark interfaces deprecated"
The following interfaces should be deprecated

1. app/code/Magento/Catalog/Model/Layer/ContextInterface.php: Note from Kril: As Magento moves from inheritance-based APIs all such classes will be deprecated together with their corresponding abstract classes.
1. app/code/Magento/Catalog/Model/Product/Gallery/ImagesConfigFactoryInterface.php: No need to introduce interface for factories. Factory clas

[2021-02-09 15:41] sivaschenko opened #32061 "Remove deprecated interfaces part 1"
The following deprecated interfaces should be removed in 2.5-develop branch

1. app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection/DefaultFilterStrategyApplyCheckerInterface.php: Deprecated since May 2019
1. app/code/Magento/MediaGalleryApi/Model/Asset/Command/DeleteByDirectoryPathInterface.php: Can be removed, has been deprecated since April 2020
1. app/code/Magento/MediaGalle

[2021-02-09 15:43] sivaschenko opened #32062 "Remove deprecated framework interfaces"
The following deprecated interfaces should be removed in 2.5-develop branch:

1. lib/internal/Magento/Framework/App/Action/HttpHeadActionInterface.php: Deprecated since March 2019. Has replacement
1. lib/internal/Magento/Framework/App/TemplateTypesInterface.php: Deprecated since 2017
1. lib/internal/Magento/Framework/Filesystem/ExtendedDriverInterface.php: Implementation will be merged into \Magen

[2021-02-09 15:46] sivaschenko opened #32063 "Mark interfaces deprecated"
The following interfaces should be marked as deprecated

1. app/code/Magento/Analytics/Model/ConfigInterface.php: should be replaced by Magento\Framework\Config\DataInterface
1. app/code/Magento/Analytics/Model/Connector/Http/ClientInterface.php: should be replaced by Psr\Http\Client\ClientInterface
1. app/code/Magento/Analytics/Model/Connector/Http/ResponseHandlerInterface.php: related to app/cod

[2021-02-09 15:46] sidolov commented on #32001
@Eddcapone please, contact Magento Community Engineering team (engcom@adobe.com) with your request. I'm closing the issue since it's not suitable for bug tracker. For further questions please, use Magento forums.

[2021-02-09 15:46] #32001 closed, assigned to nobody

[2021-02-09 15:47] sivaschenko opened #32064 "Remove deprecated interfaces"
Remove the following deprecated interfaces in 2.5-develop branch.

This task depends on deprecation in 2.4: https://github.com/magento/magento2/issues/32063

1. app/code/Magento/Analytics/Model/ConfigInterface.php: should be replaced by Magento\Framework\Config\DataInterface
1. app/code/Magento/Analytics/Model/Connector/Http/ClientInterface.php: should be replaced by Psr\Http\Client\ClientInterfac

[2021-02-09 15:53] thomas-kl1 commented on #32060
that's sad it was never completed, `Magento/Framework/EntityManager` was so much easier to use and extensible than current abstractModel and ResourceModel

[2021-02-09 15:55] #30274 closed, assigned to nobody

[2021-02-09 16:02] steven-hardy opened #32065 "Error: Call to a member function addressGetAttributeValidationClass() on null"
### Preconditions (*)

1. 2.4.1
2. PHP 7.4

### Steps to reproduce (*)

1. When navigating through the customer account, you click on edit address.
2. I have replaced these files from the 2.4 master branch so they have not been modified in any way

### Expected result (*)

1. I expect to be able to go through to customer/address/edit/id/3/
2.
![image](https://user-images.githubusercontent.com/5091

[2021-02-09 16:03] steven-hardy commented on #32065
@magento give me 2.4-develop instance

[2021-02-09 16:12] JelleGe opened #32066 "Magento 2.4.2 - Customer prefix - Duplicate frontend and empty admin"
---
name: Bug report
about: Technical issue with the Magento 2 core components

---

### Preconditions (*)
1. Magento 2.4.2
2. Customer prefix bug. On frontend inside the customer account, when a customer has already picked a prefix and saved, after the page refresh the prefix is available twice in the dropdown:

### Steps to reproduce (*)
1. Create or login to customer account
2. Then navigate to

[2021-02-09 16:16] JelleGe commented on #32066
@magento I am working on this

[2021-02-09 16:17] JelleGe commented on #32066
@magento give me 2.4-develop instance

[2021-02-09 16:25] iphigenie commented on #32010
@magento give me 2.4-develop instance

[2021-02-09 16:27] JelleGe commented on #32066
Same issue on the 2.4-develop instance. The problem does not occur on the registration page, but on the customer edit page inside the account on frontend.

[2021-02-09 16:32] zcuric commented on #25862
@sdzhepa has this landed in 2.4.2?

[2021-02-09 16:53] TerreFra commented on #25981
Hi @not-art.
We have the same problem on our Magento application, we have upgraded Magento from 2.3.1 to 2.3.5-p2 and now our copyFieldsetToTarget from quote to Order doesn't work anymore.

You find a solution about this problem? What we need to change in order to resolve the issue?
Thank you.

[2021-02-09 16:56] #30319 closed, assigned to nobody

[2021-02-09 16:56] #30335 closed, assigned to nobody

[2021-02-09 16:56] #30354 closed, assigned to nobody

[2021-02-09 16:56] #30381 closed, assigned to nobody

[2021-02-09 16:56] #30383 closed, assigned to nobody

[2021-02-09 16:56] #30384 closed, assigned to nobody

[2021-02-09 17:03] steven-hardy commented on #32065
This is not happening in the instance that you have given me. I would like to know what I can do to resolve this. The theme is custom built however, we have not changed anything to do with the `module-customer`

[2021-02-09 17:04] steven-hardy commented on #32065
![image](https://user-images.githubusercontent.com/50919787/107399669-e5840400-6af8-11eb-82f8-3938c05add50.png)
This is the expected result.

[2021-02-09 18:32] Eddcapone commented on #32001
It is not just a "bug tracker" it is an issue tracker and I posted under "Developer Experience issues". But thx

[2021-02-09 18:55] NiklasBr commented on #28021
@sdzhepa No, the changelog is still not updated properly: https://github.com/magento/magento2/blob/2.4.2/CHANGELOG.md

[2021-02-09 19:07] erikhansen commented on #27367
I'm also interested in a solution for this for Magento 2.3.4-p2.

[2021-02-09 19:26] #30483 closed, assigned to nobody

[2021-02-09 19:26] #30495 closed, assigned to nobody

[2021-02-09 19:26] #30598 closed, assigned to nobody

[2021-02-09 19:42] sdzhepa commented on #15026
The issue should be re-verified and confirmed on the latest `2.4-develop`
Or closed as not actual or not a bug

[2021-02-09 19:44] sdzhepa commented on #17895
Should be re-verified and confirmed on the latest `2.4-develop`

[2021-02-09 19:45] sdzhepa commented on #15328
Should be re-verified and confirmed on the latest `2.4-develop`

[2021-02-09 19:47] sdzhepa commented on #12671
Should be re-verified and confirmed on the latest `2.4-develop`

[2021-02-09 20:15] xpoback commented on #12671
@sdzhepa As I far as I could tell:
- the problem is present in 2.3.6
- the problem has been fixed for 2.4.2 (2.4-develop) https://github.com/magento/magento2/commit/4f90cf54c303bdcb3de6d010a63fb8af87d46eec

I hope it gets backported to 2.3.7

[2021-02-09 20:22] magento-engcom-team commented on #27738
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40819` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-09 20:24] hostep commented on #31993
@Eddcapone: make sure the contents of the `etc/view.xml` file of your custom theme between the two instances has the exact same `<media>` node. I seem to remember that part of the contents of that file determines the hash that is calculated for resized/cached images.

If this doesn't help, you could try to debug [the `miscParams` data](https://github.com/magento/magento2/blob/2.4.2/app/code/Magent

[2021-02-09 20:33] hostep commented on #32066
Confirmed. See some screenshots below.

@JelleGe: could you edit your opening post and follow the [issue reporting template](https://raw.githubusercontent.com/magento/magento2/2.4-develop/.github/ISSUE_TEMPLATE/bug_report.md), so that you can specify steps to take to reproduce, it will help for maintainers to quickly reproduce your issue.

Admin specifies 3 options:
<img width="1248" alt="Screensh

[2021-02-09 21:09] #30659 closed, assigned to nobody

[2021-02-09 21:09] #30688 closed, assigned to nobody

[2021-02-09 21:09] #30704 closed, assigned to nobody

[2021-02-09 21:09] #30717 closed, assigned to nobody

[2021-02-09 21:11] magento-engcom-team commented on #30659
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-09 21:11] magento-engcom-team commented on #30704
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-09 21:28] navarr opened #32068 "'contentUpdated' event listener isn't always created due to a race condition"
### Preconditions
1. Magento 2.3.6
1. Utilize a JavaScript bundling system (our system uses Advanced Bundling)
2. Utilize a theme based on theme-frontend-blank
3. Ensure your bundling system is loading the requirejs config in an element in the <head>
4. mage/mage should be loaded in the same file that applies the requirejs config

### Steps to reproduce
1. Load a webpage
2. Place a breakpoint on `

[2021-02-09 22:37] gwharton commented on #18329
Well, someone else will need to confirm this, but I have just upgraded to 2.4.2, and my code that needed the above patches to implement an "OR" search criteria filter now works without the patch.

Release notes for 2.4.2 state "Customized filter groups are now applied correctly when searching on customers. Previously, the afterSearch function did not OR filters as expected. #24576"

So, i'm gonna

[2021-02-10 00:13] #17323 closed, assigned to nobody

[2021-02-10 00:13] #29618 closed, assigned to nobody

[2021-02-10 01:46] edenduong commented on #32046
Hi @sivaschenko,

I check Sales Blocks class but I see it has been marked @api . So we should add additional information or do nothing ?

Thanks.

[2021-02-10 01:46] edenduong commented on #32047
Hi @sivaschenko,

I check Sales Blocks class but I see it has been marked @api . So we should add additional information or do nothing ?

Thanks.

[2021-02-10 02:48] mrtuvn commented on #32065
why do you need to replace file with 2.4 master branch ? Have you test with 2.4.2 new release?
Maybe some files modify and not sync with magento
https://github.com/magento/magento2/blob/2.4.2/app/code/Magento/Customer/view/frontend/layout/customer_address_form.xml
https://github.com/magento/magento2/blob/2.4.2/app/code/Magento/Customer/view/frontend/templates/address/edit.phtml

[2021-02-10 04:06] mrtuvn commented on #32034
i'm working on this

[2021-02-10 04:07] mrtuvn commented on #32034
@magento I am working on this

[2021-02-10 05:05] krishprakash commented on #32066
Hi @JelleGe. Thank you for your report.
Yes, Issue is reproduced. Kindly update the issue description accordingly to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) it will help contributor to reproduce the issue and fix it.

[2021-02-10 05:06] magento-engcom-team commented on #32066
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40823` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-10 05:17] mrtuvn commented on #30166
This issue is not a stale

[2021-02-10 06:06] ajijshekh123 commented on #31927
Hello @d-rowton,
If you are facing this issue again you can reopen with proper steps, actual result, and expected result.
Thanks.

[2021-02-10 06:06] #31927 closed, assigned to ajijshekh123

[2021-02-10 07:08] m2-assistant[bot] opened #32072 "[Issue] Removed CliCacheFlushActionGroup usage for Checkout module"
This issue is automatically created based on existing pull request: magento/magento2#32071: Removed CliCacheFlushActionGroup usage for Checkout module

---------
### Description
Removed CliCacheFlushActionGroup usage for Checkout module

[2021-02-10 07:29] kassner opened #32073 "2.3.6-p1 breaks with PHP 7.2"
### Preconditions

1. Magento 2.3.6;
2. PHP 7.2;

### Steps to reproduce

1. Upgrade Magento to 2.3.6-p1;

### Expected result

1. Store working;

### Actual result

1. _Any_ page in the store gives a 500 error and the exception log contains the following:

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the

[2021-02-10 07:35] kassner commented on #32073
If you are stuck on PHP 7.2 until 2.3.7 comes around, here is a [patch](https://gist.github.com/kassner/07d648aa6ab132198340caa7f24580c1) for you.

Really shameful that the composer.json says PHP 7.1+ but feature-wise it breaks on <7.3. At least make the composer.json reflect what you are doing.

[2021-02-10 07:58] hostep commented on #32073
I've warned @fascinosum and @nathanjosiah about this 8 days ago on Slack that they would need to communicate properly to their users that 2.3.6-p1 would break on PHP 7.1 and 7.2. Unfortunately I haven't seen anything mentioned in the security bulletins around this 🤷‍♂️
They did confirm they would change the composer constraints in Magento 2.3.7 to prevent this from happening in the future, but tha

[2021-02-10 08:05] kanduvisla commented on #31939
Hi @engcom-Alfa , please not that I've already fixed this issue in PR #31942

[2021-02-10 08:06] engcom-Alfa commented on #12671
Hi @asrenzo. Thank you for your report!
We are not able to reproduce the issue on a fresh 2.4-develop instance. Looks like the problem has already been fixed.

**Actual Result:** :heavy_check_mark: A zero subtotal order is created with processing status

![2021-02-10_10-05](https://user-images.githubusercontent.com/51679138/107481868-8b7e4f80-6b87-11eb-8eb8-4e61617e6180.png)

So, we have to close

[2021-02-10 08:06] #12671 closed, assigned to engcom-Alfa

[2021-02-10 08:11] kassner commented on #32073
If you run Ubuntu LTS, you either patch it or keep the store offline until 2.3.7 is available.

[2021-02-10 08:26] MourIdri opened #32074 "Azure Blob storage integration"
Hi we have our magento on Azure , is it possible to bring also a storage media for Azure blob storage ?

like the one for s3 ?
https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html

[2021-02-10 08:26] steven-hardy commented on #32065
We have managed to find the problem file. There is no issue here with Magento. It is the custom file that we have created that was the issue. Reverting /app/code/Magento/Customer/view/frontend/layout/customer_address_form.xml solved our issue.

[2021-02-10 08:26] steven-hardy commented on #32065
Closing

[2021-02-10 08:26] #32065 closed, assigned to nobody

[2021-02-10 08:39] ProkopovVitaliy commented on #32067
@magento i am working on this

[2021-02-10 08:40] ProkopovVitaliy commented on #32061
@magento i am working on this

[2021-02-10 08:41] ProkopovVitaliy commented on #32062
@magento i am working on this

[2021-02-10 08:42] ProkopovVitaliy commented on #32064
@magento i am working on this

[2021-02-10 08:44] ProkopovVitaliy commented on #32054
@magento i am working on this

[2021-02-10 08:44] ProkopovVitaliy commented on #32055
@magento i am working on this

[2021-02-10 08:44] ProkopovVitaliy commented on #32056
@magento i am working on this

[2021-02-10 08:45] ProkopovVitaliy commented on #32057
@magento i am working on this

[2021-02-10 08:45] ProkopovVitaliy commented on #32058
@magento i am working on this

[2021-02-10 08:45] ProkopovVitaliy commented on #32059
@magento i am working on this

[2021-02-10 08:48] vlmed commented on #32053
@magento i am working on this

[2021-02-10 08:48] vlmed commented on #32051
@magento i am working on this

[2021-02-10 08:49] vlmed commented on #32050
@magento i am working on this

[2021-02-10 08:49] vlmed commented on #32049
@magento i am working on this

[2021-02-10 08:50] vlmed commented on #32052
@magento i am working on this

[2021-02-10 08:51] engcom-Bravo commented on #31839
We are closing this issue due to inactivity. Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-02-10 08:51] #31839 closed, assigned to engcom-Bravo

[2021-02-10 08:52] mrtuvn commented on #32048
@magento I am working on this

[2021-02-10 08:55] vlmed commented on #32023
@magento i am working on this

[2021-02-10 08:59] hostep commented on #32073
But Magento 2.3.7 isn't going to be able to run on PHP 7.2 either if I understand everything correctly ...

[2021-02-10 09:05] mrtuvn commented on #32065
Glad it's help

[2021-02-10 09:18] Eddcapone opened #32075 "setup:static-content:deploy fails with errors which makes no sense"
### Preconditions (*)

1. 2.4.1 (i had this bug with any version since I started with magento 2)

### Steps to reproduce (*)

If I execute `php bin/magento setup:static-content:deploy` then I get alot of errors like:

    Compilation from source: /home/company/staging.company.de/app/design/frontend/company/fresh/web/css/source/_mixins/fx.less
    variable @theme__color__primary is undefined in fil

[2021-02-10 09:21] kassner commented on #32073
18.04 has PHP 7.2, 20.04 has PHP 7.4. There is no version with PHP 7.3.

[2021-02-10 09:22] kassner commented on #32073
Anyway, that's not the issue. The issue is that the composer.json does not reflect the project dependencies.

[2021-02-10 09:31] ProkopovVitaliy commented on #32063
@magento i am working on this

[2021-02-10 09:48] vlmed commented on #32052
Hello @sivaschenko,

I checked all Blocks class from this issue and all of them have already marked as @api . So should I add additional information or do nothing?
Thanks.

[2021-02-10 09:49] vlmed commented on #32016
@magento I am working on this

[2021-02-10 09:50] magento-engcom-team commented on #15328
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40828` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-10 10:06] xpoback commented on #27844
Any idea whether this ever will be fixed for Magento 2.3.x?

[2021-02-10 10:12] vlmed commented on #32053
@magento i am working on this

[2021-02-10 10:16] vlmed commented on #32053
Hello @sivaschenko,

I checked all Blocks class from this issue and all of them have already marked as @api . So should I add additional information or do nothing?
Thanks.

[2021-02-10 10:19] m2-assistant[bot] opened #32079 "[Issue] Removed CliCacheFlushActionGroup usage for Customer module"
This issue is automatically created based on existing pull request: magento/magento2#32078: Removed CliCacheFlushActionGroup usage for Customer module

---------
### Description
Removed CliCacheFlushActionGroup usage (or changed value) for Checkout, CurrencySymbol and Customer modules.

[2021-02-10 10:25] vlmed commented on #32051
@magento i am working on this

[2021-02-10 10:26] vlmed commented on #32051
Hello @sivaschenko,

I checked all Blocks class from this issue and all of them have already marked as @api . So should I add additional information or do nothing?
Thanks.

[2021-02-10 10:28] tim-breitenstein-it commented on #24656
Still exists on Magento 2.4.2

[2021-02-10 10:29] vlmed commented on #32041
@magento I am working on this

[2021-02-10 11:00] #30891 closed, assigned to nobody

[2021-02-10 11:02] Eddcapone opened #32081 "Don't log customers out, after they change their password"
### Description (*)

I noticed that you are getting logged out, if you are changing your password as a customer.
This makes no sense to me.

### Expected behavior (*)

Don't log users out if they have changed the password.

### Benefits

Users can proceed shopping without having to log in again.
They might find it too exhausting and rather leave the site.

### Additional information

-

[2021-02-10 11:09] Usik2203 commented on #31935
Hi @eduard13
Thank you for this information, it's really helpful for me.
I will try follow your advice and try to remove` url_key ` of  simple  product from grouped.
Thanks

[2021-02-10 11:16] engcom-Alfa commented on #17895
Hi @masodu. Thank you for your report!
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Looks like the issue has already been fixed.

**Manual testing scenario:** can be useful: [devdocs](https://devdocs.magento.com/guides/v2.4/rest/tutorials/orders/order-create-quote.html)

1. Create a customer cart (customer is logged in based on a customer token)
2. Set the billing ad

[2021-02-10 11:16] #17895 closed, assigned to engcom-Alfa

[2021-02-10 11:35] pemann commented on #32073
So to patch this we should override Magento\Backend\Model\Auth\Session in adminhtml/di.xml and Magento\Framework\Session\Generic in frontend/di.xml ? Anything else?

[2021-02-10 11:51] jai247 opened #32083 "UI: Sortable icon is missing on the Product ordered report grid columns"
### Preconditions (*)

1. Magento 2.4.2
2. UI bug. The sortable icon is missing on the Product ordered report grid columns

### Steps to reproduce (*)

1. Go to Reports > Products -> Ordered.
2. Click on any columns in the grid ASC and DESC sortable icons are missing.

### Expected result (*)

1. The sortable ASC and DESC icons should display on the columns.

### Actual result (*)

1. The sortable

[2021-02-10 11:52] jai247 commented on #32083
@magento Please provide development instance

[2021-02-10 11:52] jafar247commerce commented on #32083
@jai247 , Please provide the dev instance of 2.4.2

[2021-02-10 11:54] jai247 commented on #32083
@magento I am working on this

[2021-02-10 11:54] jai247 commented on #32083
@magento add to contributors team

[2021-02-10 11:55] jai247 commented on #32083
@magento I am working on this

[2021-02-10 11:56] jai247 commented on #32083
@magento Please provide the dev instance of 2.4.2

[2021-02-10 12:07] engcom-Alfa commented on #32083
@magento give me 2.4-develop instance

[2021-02-10 12:13] ku4er007 opened #32084 "Open page with 404 error by click on "?" button on "Store View Specific Labels""
Mac Catalina 10.15.7
Safari 13.1.3

### Preconditions (*)

1. Logged in admin Magento 2.0
2.

### Steps to reproduce (*)

1. Click on side menu "Marketing - Promotions - Cart Price Rules"
2. Click on "Add new Rule"
3. Open menu "Labels"
4. Click on "?" button near "Store View Specific Labels" section title

### Actual result (*)

1. Open page with 404 error
2.

---
Please provide [Severity](https:

[2021-02-10 12:16] magento-engcom-team commented on #30446
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40839` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-10 12:17] magento-engcom-team commented on #32083
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40840` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-10 12:19] vlmed commented on #32039
@magento I am working on this

[2021-02-10 12:24] jai247 commented on #32083
@magento I am working on this

[2021-02-10 12:25] jai247 commented on #32083
@magento give me 2.4-develop instance

[2021-02-10 12:32] ihor-sviziev commented on #30446
https://github.com/magento/magento2/pull/31965 fixed codingStandardsIgnoreFile

[2021-02-10 12:32] ProkopovVitaliy commented on #32064
@sivaschenko i removed deprecated interfaces [here](https://github.com/magento/magento2/pull/32086)

[2021-02-10 12:33] vlmed commented on #32014
@magento I am working on this

[2021-02-10 12:51] jeroenkosse opened #32088 "ArrayIterator incompatible method current() php 7.4"
### Preconditions (*)

1. Version 2.4.1 and previous releases with support for php 7.4
2. Environment should use php >= 7.4

### Steps to reproduce (*)

1. Invoke the \Magento\Catalog\Block\Product\ListProduct::initializeProductCollection function on a product page with a product with categories
2. Following line will be executed: $this->setCategoryId(current($categories->getIterator())->getId());

[2021-02-10 12:52] engcom-Bravo commented on #30948
Hello @cdiacon-img

Thank you for your report.

Can you please clarify, are you trying to add multiple Products with options using one mutation, or you are trying to add one single configurable product with multiple options?
In any case, could you please provide a mutation example?

Thank you in advance

[2021-02-10 12:56] ProkopovVitaliy commented on #32050
@magento i am working on this

[2021-02-10 13:00] sivaschenko opened #32089 "[Inventory] Remove StockExtension class and interface"
### Description

Even though extension attributes PHP classes/interfaces were not supposed to be created manually, we have several such occurrences.
It is preferable to remove these classes/interfaces because they block extensibility of the base interfaces.

### Details

Remove `Magento\InventoryApi\Api\Data\StockExtension` and `Magento\InventoryApi\Api\Data\StockExtensionInterface` in future-deve

[2021-02-10 13:03] cdiacon-img commented on #30948
Hi @engcom-Bravo

As I remember it was adding multiple products(cart items) with this mutation

[code]

[2021-02-10 13:04] ProkopovVitaliy commented on #32050
@sivaschenko all of the mentioned classes already marked as api in this commit `a6e43abdcecce2b063b314aae73cede677c029bc`.

[2021-02-10 13:05] ProkopovVitaliy commented on #32089
@magento i am working on this

[2021-02-10 13:07] engcom-Alfa commented on #32084
Hi @ku4er007.
Thank you for your report.
We are not able to reproduce this issue. Everything works as expected.

**Actual Result:** :heavy_check_mark: Linked [page](https://docs.magento.com/user-guide/configuration/scope.html) is succesfully opened

![Screenshot from 2021-02-10 15-04-09](https://user-images.githubusercontent.com/51679138/107513872-8a621800-6bb1-11eb-979e-653f26d405ee.png)

So, we

[2021-02-10 13:07] #32084 closed, assigned to engcom-Alfa

[2021-02-10 13:14] rahul-ks176 opened #32091 ""Create an Account" button of customer registration form is disabled when we submit the form with the different passwords in password and confirm password field"
### Preconditions (*)

1. Magento 2.4.1
2. PHP 7.3.20

### Steps to reproduce (*)

1. click on create an account link on the header at the home page.
2. fill the required details with different passwords in 'password' and 'confirm password' field of the form.
3. click on create an account button then the confirm password field highlight with the error msg and create an account button is disabled.

[2021-02-10 13:24] ku4er007 commented on #32084
ср, 10 февр. 2021 г. в 15:07, Oleksii Stasiv <notifications@github.com>:

[2021-02-10 13:34] pemann commented on #32073
Actually it is better to do Auth\Session override in etc/di.xml so it will work both admin & rest.

[2021-02-10 13:34] ProkopovVitaliy commented on #32062
@magneto i am working on this

[2021-02-10 13:35] pusachev commented on #31920
Same issue after upgrade to 2.4.2

[2021-02-10 13:51] #30878 closed, assigned to nobody

[2021-02-10 13:53] vlmed commented on #32049
@magento i am working on this

[2021-02-10 13:58] vlmed commented on #32049
Hello @sivaschenko,

I checked all Blocks class from this issue and all of them have already marked as @api . So should I add additional information or do nothing?
Thanks.

[2021-02-10 13:59] ihor-sviziev commented on #31920
@pusachev, you can apply https://github.com/magento/magento2/pull/31940 as a patch

[2021-02-10 14:09] pusachev commented on #31920
@ihor-sviziev  yep I see it.

Thanks

[2021-02-10 14:18] vlmed commented on #32062
@Magneto i am working on this

[2021-02-10 14:20] oneserv-heuser commented on #28397
Can confirm that this issue still exists in 2.4.1.

[2021-02-10 14:32] engcom-Bravo commented on #30948
@cdiacon-img Thank you for the quick response.

This actually was the mutation we have tried to reproduce with.
The difference is that we are getting a different error
[code]
This happens when we try to add two products. The _Configurable2_ itself is added to the Cart successfully.

[2021-02-10 14:58] cdiacon-img commented on #30948
@engcom-Bravo

I am not sure why you are getting product not found but I guess you are hitting the condition of this test

`testAddVariationFromAnotherConfigurableProductWithTheSameSuperAttributeToCart`

But in my case it was getting attribute data from wrong product
`You need to choose options for your item`

This is how we patched at the moment, I hope this helps :

[code]

[2021-02-10 14:59] cdiacon-img commented on #30948
This is the same thing that @nige-one pointed out above.

[2021-02-10 15:04] engcom-Bravo commented on #26960
Seems to be fixed on the latest 2.4-develop.

**Preconditions:**
PHP7.4
Apache server
Developer Mode

Multiple Store views
Several Categories with more than 3000 products in it

Tested with _Add Store Code to URL_ enabled and disabled

**Manual steps:**
Browsing the Storefront categories, Store views, Products pages
Browsing through the Categories in Admin Panel

Checking the _var/log/apache2/_ er

[2021-02-10 15:19] oneserv-heuser commented on #28397
@magento give me 2.4-develop instance

[2021-02-10 15:47] smirkos opened #32097 "Clean all entity bunches on products importing"
### Summary (*)

During products importing programmatically by cron the table "importexport_importdata" will fully cleaned, because the delete query not include the *`where`* clause and then not filtered.

### Examples (*)

### Proposed solution

Implemented a plugin that override method `cleanBunches` and append where clause.

This solution work for me.

[code]

[code]

---
Please provide [Severi

[2021-02-10 15:49] mfchk opened #32098 "Not able to install magento-module-staging-page-builder with composer install"
Got 404 Error, seems the repo has been disappear? Will it be back soon? Thanks
[code]

[2021-02-10 15:52] vlmed commented on #32062
@magento I am working on this

[2021-02-10 15:58] m2-assistant[bot] opened #32100 "[Issue] Admin login issue fix."
This issue is automatically created based on existing pull request: magento/magento2#32099: Admin login issue fix.

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. None

### Manual testing scenarios (*)

1. Install Magento 2 with `--use-rewrites=0` option or set `web/seo/use_rewrites` to `0` in core_config_data_table.
2. Open URL `<magento host>/<backe

[2021-02-10 16:27] #31846 closed, assigned to engcom-Echo

[2021-02-10 16:27] #31889 closed, assigned to engcom-Golf

[2021-02-10 16:27] #31890 closed, assigned to viktorpetryk

[2021-02-10 16:54] saphaljha commented on #32066
@magento I am working on this issue.

[2021-02-10 17:53] czettnersandor commented on #15609
I believe this is related to items in the configurable product being out of stock. My Magento version is 2.4.1

[2021-02-10 18:07] grazianodimaio commented on #23180
This issue can be found on 2.3.5-p2.
Does anyone found a solution to this?
I'm asking to myself how it can be possible to find something like this after 4 years.

[2021-02-10 18:28] nathanjosiah commented on #29235
@magento export issue to Jira project MC as Bug

[2021-02-10 18:29] nbennett25 commented on #31280
Unfortunately for us @techzilla @lingwooc we aren't using WeltPixel on this site. @magento so will there not be a patch for this for v.2.3.5-p2? we just need to upgrade to 2.4?

[2021-02-10 18:36] irenelagno commented on #29235
@magento export issue to Jira project MC as Bug

[2021-02-10 18:41] #23016 closed, assigned to nobody

[2021-02-10 18:43] magento-engcom-team commented on #23016
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-10 19:00] adamphh commented on #32061
@magento I am working on this

[2021-02-10 19:00] adamphh commented on #32061
@magento add to contributors team

[2021-02-10 19:01] adamphh commented on #32061
@magento I am working on this

[2021-02-10 19:02] nathanjosiah commented on #29235
Internal issue MC-40854 created for investigation

[2021-02-10 20:38] Calypso971 commented on #32073
Ran into this too (Ubuntu 18.04LTS, so bound to php7.2. Wanted to start upgrade the testenvironment to 20.04 some time ago and that isn't possible because M2.3 doesn't support php7.4 yet. Upgrading to M2.4 is considered more tricky at this moment because of customisations and used theme - testing has to be very extensive).

To be honest, I think this is a disgrace for Magento; just apparantly drop

[2021-02-10 21:08] #29235 closed, assigned to nobody

[2021-02-10 21:10] nathanjosiah commented on #29235
This issue has been fixed in 2.4.2, 2.4.1-p1, 2.3.7, 2.3.6-p1 and as part of internal tickets MC-36789, MC-36886, MC-36790, and MC-37973 respectively.

[2021-02-10 21:21] github-jira-sync-bot opened #32102 "[UX] Configurations are not preserved on form reload when new configurable product creation fails"
This is a usability issue.

1. Open backend
1. Go to products grid
1. Create configurable product with 1 attribute named "Configurable One"
1. Save product
1. Create new configurable product configuration basing on 5 attributes with only 2 variations each
1. Enter  "Configurable One" as name
1. Configure variations qty and prices (enter different price and qty for each vatiation)
1. CLick Save

(-

[2021-02-10 21:22] mastiuhin-olexandr commented on #32102
@magento I am working on this

[2021-02-10 21:52] pbaum83 commented on #3544
Can confirm, running 2.4.1 also and this bug has been causing us some issues as well.

[2021-02-10 21:57] live4soccer7 commented on #3544
How can we get this re-opened? It is definitely still an issue on 2.4.1. I have not tried it yet on 2.4.2.

[2021-02-10 22:22] magento-quality-patches commented on #31967
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-31519: Fixes the issue where missing paid orders and lock wait timeouts in Guest Checkout.

**Compatible versions**
Magento OpenSource/Commerce/Commerce Cloud 2.3.5, 2.3.5-p1, 2.3.5-p2

:warning: We strongly recommend testing all patc

[2021-02-10 22:23] hostep commented on #3544
It's probably worth opening a new ticket. Tickets which got closed 5 years ago often no longer get attention even if people continue to comment on them. So opening a new ticket with exact steps of how to reproduce is probably a better idea if you want to see a fix for this one day :)

[2021-02-10 22:24] magento-quality-patches commented on #31967
@mrtuvn @hubertus2017 ^^^^

[2021-02-10 22:25] magento-quality-patches commented on #25862
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-31519: Fixes the issue where missing paid orders and lock wait timeouts in Guest Checkout.

**Compatible versions**
Magento OpenSource/Commerce/Commerce Cloud 2.3.5, 2.3.5-p1, 2.3.5-p2

:warning: We strongly recommend testing all patc

[2021-02-10 22:26] magento-quality-patches commented on #25862
@zcuric ^^^

[2021-02-10 23:12] pmonosolo commented on #3544
Just don't use the uninstall cli command. Many plugin vendors don't even write the Uninstall scripts.

From what I understand, uninstall scripts require rolling back all the data, deleting tables and so on. I would not recommend using it as Uninstall script is probably the last thing plugin devs look at if they do at all (I have yet to see a commercial plugin that has an uninstall script) .

Just

[2021-02-11 01:07] nathanjosiah commented on #32073
PHP 7.2 has reached end of life, To maintain PCI compliance, Magento should not be run on unsupported software. Additionally our docs have been updated that Magento supports PHP 7.3
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements.html#php

(which now would also include 7.2)

However after some discussion we have opened bugs to remove the composer support and we are also goi

[2021-02-11 01:07] #32073 closed, assigned to nobody

[2021-02-11 04:13] Yuwei9291 commented on #27252
same problem on 2.4.1 2.4.2

[2021-02-11 04:29] Kishorchhugani opened #32104 "Media Gallery doesn't show any product images"
### Preconditions (*)

1.Install Fresh Magento 2.4.1

### Steps to reproduce (*)

1.Set No to Enable Old Media Gallery option in Advanced->System  section in system configuration
2.go to content ->media gallery

### Expected result (*)

1. All images should be display

### Actual result (*)

1. No images are displaying in the media gallery

---
Please provide [Severity](https://devdocs.magento.com

[2021-02-11 06:30] hareshpatel commented on #9111
Hello same issue can you plz help me
what is step resolve this issue

[2021-02-11 06:33] pemann commented on #32073
Funny, how you tried to built the support for 7.2 but the very first naive test (load any page) showed that it did not work.
https://github.com/magento/magento2/blob/2.3.6-p1/lib/internal/Magento/Framework/Stdlib/Cookie/PhpCookieManager.php#L333

Is there anything else important in 2.3.6-p1 besides Lax-cookies?

[2021-02-11 06:38] nathanjosiah commented on #32073
@pemann I don't understand what you are saying. I explicitly said we do Not support 7.2 because it is not PCI compliant. It may not load but it isn't supported and isn't tested.

As for the value of 2.3.6-p1 it is a security release plus major required hotfixes. The security details can be found on https://helpx.adobe.com/security/products/magento/apsb21-08.html

[2021-02-11 06:51] Calypso971 commented on #32073
I understand what you're saying, but Magento 2.3 users on Ubuntu (and possibly deriviates as Mint?) are screwed; they cannot upgrade PHP to 7.4 because you only start supporting it under 2.3.7, and that is not released yet, so you "need" to stay at 2.3.6 knowing that there are security fixes in 2.3.6p1... great...

My conclusion: PHP7.4 support should already have been in 2.3.6 or even 2.3.6p1. Be

[2021-02-11 07:06] pemann commented on #32073
Someone wrote the code to support 7.2 (and older) but it seems that he/she did not run / test it on 7.2 even once. That is pretty optimistic development.

Thanks for the link! It seems that patching is the way to go, since there are some other critical fixes.

[2021-02-11 07:23] Calypso971 commented on #32073
testing isn't conclusive here (install was yesterday, first test is only to visit the testsite and do a testorder), but with the "not-official-patch" that test worked. Maybe we're encountering other strange things in the tests today/tomorrow, but what you are saying that no page loads isn't my experience.

[2021-02-11 07:23] sprajapat770 opened #32105 "swaches are not filtering issue for configurable product"
Magento 2.4.0 not filtering Swaches of Configurable product Website Wise so simple product assigned to different website are also rendered with configurable product in.

### Preconditions (*)

1. You should have Two Websites on Same Magento 2.4.0.
2. Should Have Configurable Product And Two Simple Product Variations.
3. Swatch Attribute and Assigned to Simple Products also.

### Steps to reproduce

[2021-02-11 07:29] engcom-Alfa commented on #32091
@magento give me 2.4-develop instance

[2021-02-11 07:47] engcom-Alfa commented on #32091
Hi @rahul-ks176. Thank you for your report!
Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop.
Looks like the issue has already been fixed.

**Actual Result:** :heavy_check_mark:  The "create account" button is enabled and you can create a client

![Peek 2021-02-11 09-41](https://user-images.githubusercontent.com/51679138/107611938-c9de4200-6c4d-11eb-8dc9-5442a04eeb52.g

[2021-02-11 07:47] #32091 closed, assigned to engcom-Alfa

[2021-02-11 07:49] kassner commented on #32073
Usually the GitHub issues stay open until a fix is made public 🙄

Heck, the `2.3` branch here on GitHub doesn't even have the 2.3.6-p1 patch in it :|

@nathanjosiah that's not true. PHP 7.2 is PCI compliant if you are using Ubuntu LTS. Just because the _PHP Group_ isn't supporting PHP 7.2 does not mean no one else is providing that support.

[2021-02-11 07:52] rahul-ks176 commented on #32091
Hi @engcom-Alfa <https://github.com/engcom-Alfa>,

Actually, this issue arises in the magento2.4.1 version only. In
magento2.4.0 it works correctly.
Can you please check it in a specific Magento 2.4.1 version?

------------------------------------
Thanks & Regards,
Rahul Rathour
Software Developer
Ksolves - https://www.ksolves.com
Email: rahul.rathour@ksolves.com
Contact: 8887846302

On Thu, Feb 1

[2021-02-11 08:02] oneserv-heuser commented on #28397
Yeah wow it has already expired.

@magento give me 2.4-develop instance

[2021-02-11 08:14] github-jira-sync-bot opened #32106 "Payment Methods radio-buttons disappear after a "Create New Order" page in Admin panel is reload"
**Preconditions:**
* Magento 2.4.1, 2.4.2 is installed
* A Customer Account is created with Billing and Shipping address
* A Simple product is created
* Several payment methods are configured

**Steps to Reproduce:**
* Go to the Magento Admin Panel > SALES > Orders
* Click "Create New Order" button
* Select the created Customer
* Click "Add Products" button
* Select created Production
* Click "Add

[2021-02-11 08:14] oneserv-heuser commented on #28397
I can confirm that the issue still exists on ver. dev-2.4-develop

I did the exact same thing as @sdzhepa did in his video and the same error occurs.

[2021-02-11 08:15] victorpetryk commented on #32106
@magento I am working on this

[2021-02-11 08:15] hubertus2017 commented on #31967
Hello,
is there also a patch for M2.4.1/ M2.4.2 ?

[2021-02-11 08:29] magento-engcom-team commented on #30573
Hi @sdzhepa, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38581` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-11 08:55] hareshpatel commented on #2065
hello same issue how can resolve ?

[2021-02-11 09:32] magento-engcom-team commented on #29948
Hi @sdzhepa, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37482` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-11 09:42] engcom-Alfa commented on #32104
Hi @Kishorchhugani. Thank you for your report!
After disabling the old gallery, you need to run the following commands:

- Set No to Enable Old Media Gallery option in Advanced->System section in system configuration;
- Run in console `php bin/magento media-gallery:sync`;
- Run in console `php bin/magento media-content:sync`;

Once synchronization is complete, all images should be displayed in the

[2021-02-11 10:13] Eddcapone commented on #32075
If I am using `grunt refresh` in a environment with deploy mode set to developer , then it works without any errors. Why does it fail in production mode with `php bin/magento setup:static-content:deploy -f` ?

[2021-02-11 10:22] vovayatsyuk commented on #28208
This issue is still relevant.

Additional note: when agreements are enabled you'll see the error about agreements when trying to change the selected payment method.

![image](https://user-images.githubusercontent.com/306080/107624501-a7efba00-6c63-11eb-899b-5219d7155246.png)

[2021-02-11 10:25] hostep commented on #32075
Does it fail on a particular theme? Maybe `Magento/blank` ?
I've seen failures like that which can happen when you try to use a variable defined in a custom theme from inside a module, then compiling the `Magento/blank` theme will break since it doesn't know that variable.

Magento's SCD command compiles your custom theme + its parent themes, so that could be a possible explanation here.
This beha

[2021-02-11 10:30] ghost opened #32108 "Color swatch for multi website view showing wrong on frontend"
### Preconditions (*)
Magento 2.4.1
PHP 7.3.26-1+ubuntu20.04.1+deb.sury.org+1 (cli) (built: Jan 13 2021 08:01:31) ( NTS )

1. Create 2 websites with 1 store view each

### Steps to reproduce (*)

1. Create 2 websites with 1 store view each
2. Create configurable select attribute (eg color) with different store view simple product E.g RED From the First website and YELLOW From another website.
3. N

[2021-02-11 10:49] Kishorchhugani commented on #32104
thank you now its working ..all images are there

[2021-02-11 10:49] #32104 closed, assigned to engcom-Alfa

[2021-02-11 10:57] brightonmike opened #32109 "GraphQL Applying Reward Points does not update Grand Total"
When you apply reward points to a cart via GraphQL, the Grand Total is not updated to reflect the correct amount (original total with reward points value deducted).

### Preconditions (*)

1. Magento 2.4.2
2. Logged in customer
3. Customer has reward points
4. Reward points are configured with an exchange rate

### Steps to reproduce (*)

1. Using GraphQL apply reward points to the cart using `app

[2021-02-11 11:09] ProkopovVitaliy commented on #32054
@magento i am working on this

[2021-02-11 11:21] magento-engcom-team commented on #32105
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40860` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-11 11:26] Daniel304 commented on #28237
Same here... I do found out that it is a combination of google pagespeed and varnish in my case.. and it is only on specific category pages... Really strange behaviour

[2021-02-11 11:30] ProkopovVitaliy commented on #32055
@magento i am working on this

[2021-02-11 11:42] Eddcapone commented on #32075
@hostep, I figured it out that the bug is related to the filename. I have to add an underscore `_` in front of the files where the problem occurs. I am confused as why this is necessary and why I never had to do this when using `grunt refresh`.

So I changed `_variables/colors.less` to `_variables/_colors.less` **and** `_mixins/fx` to `_mixins/_fx.less`

I am puzzled why the filename caused the bu

[2021-02-11 12:51] krishprakash commented on #31874
Hi @deepanshuyadav87. Thank you for your report.
Feel free to reopen the ticket once you confirm that issue reproduce on latest 2.4-develop instance
Thanks!!

[2021-02-11 12:51] #31874 closed, assigned to krishprakash

[2021-02-11 12:53] bartoszkubicki commented on #26970
Still an issue

[2021-02-11 12:58] HenriNijborg commented on #30908
Yes, this issue is still relevant. Pull Request author @chiranjeevi-cj asked for help from @magento-engcom-team in related pull request https://github.com/magento/magento2/pull/30941

[2021-02-11 13:06] pemann commented on #32073
@magento give me 2.4-develop instance

[2021-02-11 13:55] engcom-Bravo commented on #32109
Hello @brightonmike

Thank you for your report.

We Confirm that the issue is reproducible on the latest 2.4-develop.
_Reward Points_ is a Commerce only functionality, so we are moving the issue to the Enterprise repository.

Thank you

[2021-02-11 14:03] ProkopovVitaliy commented on #32056
@magento i am working on this

[2021-02-11 14:04] griffithg opened #32114 "Support S3 Compatible Storage"
### Description (*)
As a site admin I would like to be able to use my S3 compatible storage (ex. MinIO) in the same way I use AWS S3 storage.

### Expected behavior (*)
If I am using AWS S3 nothing changes. If I want to use S3 API compatible storage there would be a config option to provide a URL and a option to enable path style endpoints.

### Benefits
It would give those of us hosting on-prem t

[2021-02-11 14:07] engcom-Bravo commented on #32109
Additional info is added to the description

[2021-02-11 14:14] sivaschenko commented on #32049
Thanks for checking @vlmed, nothing should be done, I will recheck the blocks lists for all tasks

[2021-02-11 14:15] #32049 closed, assigned to vlmed

[2021-02-11 14:17] sivaschenko commented on #32050
Thanks for checking @ProkopovVitaliy ! I will review the list of blocks for all the tasks

[2021-02-11 14:17] #32050 closed, assigned to ProkopovVitaliy

[2021-02-11 14:18] #32051 closed, assigned to vlmed

[2021-02-11 14:18] ProkopovVitaliy commented on #32057
@magento i am working on this

[2021-02-11 14:19] #32053 closed, assigned to vlmed

[2021-02-11 14:19] #32052 closed, assigned to vlmed

[2021-02-11 14:20] sivaschenko commented on #32047
Thanks for checking @edenduong ! I will review the blocks lists for all tasks

[2021-02-11 14:20] #32047 closed, assigned to edenduong

[2021-02-11 14:20] #32046 closed, assigned to edenduong

[2021-02-11 14:32] coderimus commented on #20032
According to the issue history and current state of the 2.4 project, I close this issue.

[2021-02-11 14:32] #20032 closed, assigned to nobody

[2021-02-11 14:34] magento-engcom-team commented on #20032
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 14:44] victortodoran opened #32116 "Customers that have unsubscribed to the newsletter in the time span from when the queue was created and the actual sending of the newsletter still receive newsletters"
### Preconditions (*)

1. Latest Magento install 2.4-develop

### Steps to reproduce (*)

1. Subscribe 2 customers to newsletter
2. Confirm their subscription
3. Create a newsletter queue that is to execute after a few minutes (say 5 for example)
4. Unsubscribe one of the customers (**before** the queue executes)

### Expected result (*)

1. Only the subscribed customer receives the newsletter ema

[2021-02-11 15:06] amitvkhajanchi commented on #9458
I have same issue.  I just migrated from Magento 2.3.3 -> 2.4.1 this week and configured Varnish.   I have about 5000 products on catalog and have 6 store views (US, FR, UK, DE, IT, ES) etc.   I had to put in a cron to flush my cache every 2 hours... as it was growing to 100GB (magento2/var/cache).   I disabled FPC in app/etc/env.php but cache seems to be still growing at alarmingly quick speed...

[2021-02-11 15:33] amitvkhajanchi opened #32118 "Magento 2.4.1 - HUGE Cache Sizes grows quickly"
Magento CE 2.4.1
Ubuntu 20.04 LTS
PHP 7.4.3
MySQL 8.022 (Amazon RDS)
Elasticsearch 7.6.2
Redis 5.2.1
Varnish 6.2.1
Nginx 1.8

PS.  I have over 5000+ products in 2 websites (EU/US)  EU site has 5 Store views (EN,FR,IT,DE,ES).  US site has 1 Store view (US).  Total of 6 Store view for my site.

During Testing, the site was performing well on my staging server.  When I finally deployed it to producti

[2021-02-11 15:45] engcom-Delta commented on #28700
@ferdiusa @Yuwei9291  Are you able to reproduce issue on the latest 2.4-develop?

[2021-02-11 15:54] github-jira-sync-bot opened #32119 "A Configuration of a Configurable Product is reset when editing it in the Wish List"
**Preconditions:**
* Magento EE 2.4.1, EE 2.4.2, EE 2.4.2-p1 is installed
* A Customer account is created
* **A Configurable product is created:**
 name = TEST CONFIGURABLE 1;
 attribute = color;
 values = “red”, “black”;
 price of the “red” child product = $100;
 price of the “black” child product = $200.

**Steps to Reproduce:**
* Go to the Storefront as the created Customer
* Go to the created

[2021-02-11 16:24] vincent2090311 opened #32121 "Error when add product to cart with attachment"
### Preconditions (*)

1. Magento 2.4.2
2.Nginx 1.19
3.MariaDB 10.4

### Steps to reproduce (*)

1.Create simple product with custom option file (create 2 or more file custom options)
2.Go to product page, add product to cart with file attachment
3.Can not add product to cart because error Call to undefined method Magento\Catalog\Model\Product\Option\Type\File\ValidatorFile::setIsValid() in /vendo

[2021-02-11 16:29] #25885 closed, assigned to nobody

[2021-02-11 16:29] #30914 closed, assigned to nobody

[2021-02-11 16:29] #25668 closed, assigned to nobody

[2021-02-11 16:31] magento-engcom-team commented on #25668
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 16:53] harrigo commented on #30758
Yeah i have this, nothing seems to be wrong can login, checkout however I get that little warning popup and also the exact JS error in my console. I'm on Magento 2.3.5, did you manage to solve or find out any more about what is causing this?

[2021-02-11 17:01] thinksys-dev commented on #30758
@harrigo Yes i solved this.
Solution :
I created a patch for the model file : /vendor/magento/module-checkout/Model/GuestTotalsInformationManagement.php
code :
`public function calculate(
        $cartId,
        \Magento\Checkout\Api\Data\TotalsInformationInterface $addressInformation
    ) {
        /** @var $quoteIdMask \Magento\Quote\Model\QuoteIdMask */
        $quoteIdMask = $this->quoteIdMa

[2021-02-11 17:10] mokhtarino opened #32123 "Exception when saving Hierarchy after editing cms Page"
### Preconditions (*)

1. Magento Entreprise  2.4.1
2. PHP 7.4.12
3. mysql  Ver 15.1 Distrib 10.3.25-MariaDB

### Steps to reproduce (*)
1.Create a Page (Ex. Test with url key = test)
2. Create a Hierarchy (Ex. Links)
3. Make 'Test' a child of Links and save Hierarchy
5. On CMS > Page Edit the url key of the CMS Page 'Test'
5. Go to Hierarchy , refresh the page and try to save it

### Expected res

[2021-02-11 17:33] hostep commented on #32118
Since your block caches are very big, I believe this might be a duplicate of https://github.com/magento/magento2/issues/29964 which was fixed in Magento 2.4.2

You can try to temporarily disable the Magento_Csp module and see if that solves it. If that is the case you'll be certain that it's the same bug and upgrading to 2.4.2 should fix it.

[2021-02-11 18:21] harrigo commented on #30758
Oh awesome will make a patch tomorow and see if it works! This one has
confused me for a few days.

On Thu, 11 Feb 2021, 17:02 thinksys-dev, <notifications@github.com> wrote:

[2021-02-11 18:54] saphaljha commented on #31994
@magento I am working on this issue

[2021-02-11 20:05] nathanjosiah commented on #32073
@Calypso971

I understand but PHP 7.3 is still available and still supported.

@kassner
The release is available https://github.com/magento/magento2/releases/tag/2.3.6-p1

This may be true but this is not official support and we cannot be PCI compliant and support a software that is officially EOL.

[2021-02-11 20:27] lc-mayoul commented on #14377
With Magento 2.4.1 & 2.4.2, I can now reproduce the issue described in the ticket. (And I'm interested in its fix)
Is it possible to reopen it?

[2021-02-11 21:17] redati commented on #32121
I also have the problem

[2021-02-11 21:19] redati commented on #32121
I also have the problem

[2021-02-11 21:23] redati commented on #32121
@magento give me 2.4-develop instance

[2021-02-11 21:56] redati commented on #32121
Product successfully added to cart with attachment. Is this instance really the same as 2.4.2?

https://6c3bfcbc397191d071c41ec3e859bd68-2-4-develop.instances.magento-community.engineering/product-with-attachment.html

[2021-02-11 21:56] redati commented on #32121
@magento give me 2.4.2 instance

[2021-02-11 22:04] #27490 closed, assigned to nobody

[2021-02-11 22:04] #27456 closed, assigned to nobody

[2021-02-11 22:04] #27475 closed, assigned to nobody

[2021-02-11 22:04] #30707 closed, assigned to nobody

[2021-02-11 22:04] #27514 closed, assigned to nobody

[2021-02-11 22:05] #27531 closed, assigned to nobody

[2021-02-11 22:05] #27534 closed, assigned to nobody

[2021-02-11 22:05] #27551 closed, assigned to nobody

[2021-02-11 22:05] #27562 closed, assigned to nobody

[2021-02-11 22:05] #27564 closed, assigned to nobody

[2021-02-11 22:05] #27837 closed, assigned to nobody

[2021-02-11 22:05] #27659 closed, assigned to nobody

[2021-02-11 22:05] #27794 closed, assigned to nobody

[2021-02-11 22:05] magento-engcom-team commented on #27490
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:05] #27859 closed, assigned to nobody

[2021-02-11 22:05] #27879 closed, assigned to nobody

[2021-02-11 22:05] #27864 closed, assigned to nobody

[2021-02-11 22:05] #27870 closed, assigned to nobody

[2021-02-11 22:05] #27881 closed, assigned to nobody

[2021-02-11 22:05] #27884 closed, assigned to nobody

[2021-02-11 22:05] #27893 closed, assigned to nobody

[2021-02-11 22:05] #26228 closed, assigned to nobody

[2021-02-11 22:05] #26294 closed, assigned to nobody

[2021-02-11 22:05] #26297 closed, assigned to nobody

[2021-02-11 22:05] #26286 closed, assigned to sdzhepa

[2021-02-11 22:05] #26350 closed, assigned to nobody

[2021-02-11 22:05] #26385 closed, assigned to nobody

[2021-02-11 22:05] #26394 closed, assigned to nobody

[2021-02-11 22:05] #26351 closed, assigned to nobody

[2021-02-11 22:05] #26481 closed, assigned to nobody

[2021-02-11 22:05] #26553 closed, assigned to nobody

[2021-02-11 22:07] magento-engcom-team commented on #27490
Hi @magedev218.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-32889` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-11 22:07] magento-engcom-team commented on #30707
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #27837
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #27879
Hi @Sharmilasrini95.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-34028` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-11 22:07] magento-engcom-team commented on #26228
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #26294
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #26297
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #26350
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #26481
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-11 22:07] magento-engcom-team commented on #26394
Hi @seppoviuh.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30483` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-11 22:07] magento-engcom-team commented on #26553
Hi @rommelfreddy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-31177` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-11 22:09] redati commented on #32121
Bug confirmed in 2.4.2 could not add item to cart

https://6c3bfcbc397191d071c41ec3e859bd68-2-4-2.instances.magento-community.engineering/product-with-attachment.html

[2021-02-11 22:50] redati commented on #32121
in if (empty($src) || empty($dst) || !$isUploaded) {

remove  || !$isUploaded and upload work.

$isUploaded it is an array and has the correct value.

[2021-02-11 23:21] redati commented on #32121
the error only appears if there are two or more attachments in the product.

!$isUploaded return true.

[2021-02-12 00:09] #29596 closed, assigned to nobody

[2021-02-12 00:09] #29613 closed, assigned to nobody

[2021-02-12 00:09] #29610 closed, assigned to nobody

[2021-02-12 00:09] #29623 closed, assigned to nobody

[2021-02-12 00:09] #29678 closed, assigned to nobody

[2021-02-12 00:09] #29607 closed, assigned to nobody

[2021-02-12 00:09] #29727 closed, assigned to nobody

[2021-02-12 00:09] #29736 closed, assigned to nobody

[2021-02-12 00:09] #29737 closed, assigned to nobody

[2021-02-12 00:09] #29741 closed, assigned to nobody

[2021-02-12 00:09] #29744 closed, assigned to nobody

[2021-02-12 00:09] #29853 closed, assigned to nobody

[2021-02-12 00:09] #29767 closed, assigned to nobody

[2021-02-12 00:09] #29800 closed, assigned to nobody

[2021-02-12 00:09] #29803 closed, assigned to nobody

[2021-02-12 00:09] #29862 closed, assigned to nobody

[2021-02-12 00:09] #29810 closed, assigned to nobody

[2021-02-12 00:09] #29864 closed, assigned to nobody

[2021-02-12 00:09] #29900 closed, assigned to nobody

[2021-02-12 00:09] #29902 closed, assigned to nobody

[2021-02-12 00:09] #30397 closed, assigned to nobody

[2021-02-12 00:09] #29903 closed, assigned to nobody

[2021-02-12 00:09] #29924 closed, assigned to nobody

[2021-02-12 00:09] #29955 closed, assigned to nobody

[2021-02-12 00:09] #29953 closed, assigned to nobody

[2021-02-12 00:09] #29983 closed, assigned to nobody

[2021-02-12 00:09] #30068 closed, assigned to nobody

[2021-02-12 00:09] #29995 closed, assigned to nobody

[2021-02-12 00:09] #30021 closed, assigned to nobody

[2021-02-12 00:09] #30098 closed, assigned to nobody

[2021-02-12 00:11] magento-engcom-team commented on #29678
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 00:11] magento-engcom-team commented on #29862
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 00:11] magento-engcom-team commented on #30397
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 00:11] magento-engcom-team commented on #29953
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 00:11] magento-engcom-team commented on #30098
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 00:22] LiamTrioTech commented on #29744
Reopen please.

[2021-02-12 00:23] LiamTrioTech commented on #30068
Reopen

[2021-02-12 02:32] #28886 closed, assigned to nobody

[2021-02-12 02:32] #28931 closed, assigned to nobody

[2021-02-12 02:32] #28824 closed, assigned to nobody

[2021-02-12 02:32] #28841 closed, assigned to nobody

[2021-02-12 02:32] #28978 closed, assigned to nobody

[2021-02-12 02:32] #28884 closed, assigned to nobody

[2021-02-12 02:32] #29033 closed, assigned to nobody

[2021-02-12 02:32] #28960 closed, assigned to nobody

[2021-02-12 02:32] #29051 closed, assigned to nobody

[2021-02-12 02:32] #28997 closed, assigned to nobody

[2021-02-12 02:32] #29003 closed, assigned to nobody

[2021-02-12 02:32] #29155 closed, assigned to nobody

[2021-02-12 02:32] #29166 closed, assigned to nobody

[2021-02-12 02:32] #29070 closed, assigned to nobody

[2021-02-12 02:32] #29136 closed, assigned to nobody

[2021-02-12 02:32] #29151 closed, assigned to nobody

[2021-02-12 02:32] #29219 closed, assigned to nobody

[2021-02-12 02:32] #29221 closed, assigned to nobody

[2021-02-12 02:32] #29225 closed, assigned to nobody

[2021-02-12 02:33] #29236 closed, assigned to nobody

[2021-02-12 02:33] #29241 closed, assigned to nobody

[2021-02-12 02:33] #29242 closed, assigned to nobody

[2021-02-12 02:33] #29243 closed, assigned to nobody

[2021-02-12 02:33] #29246 closed, assigned to nobody

[2021-02-12 02:33] #29252 closed, assigned to nobody

[2021-02-12 02:33] magento-engcom-team commented on #28931
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 02:33] #29270 closed, assigned to nobody

[2021-02-12 02:33] #29282 closed, assigned to nobody

[2021-02-12 02:33] #29288 closed, assigned to nobody

[2021-02-12 02:33] #29293 closed, assigned to nobody

[2021-02-12 02:33] #29314 closed, assigned to nobody

[2021-02-12 02:34] magento-engcom-team commented on #29033
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 02:34] magento-engcom-team commented on #29166
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 02:34] magento-engcom-team commented on #29155
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 02:34] magento-engcom-team commented on #29282
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 02:34] LiamTrioTech commented on #29314
Still a problem.

[2021-02-12 02:49] erfanimani commented on #31984
@magento give me 2.4-develop instance with env php 7.4

[2021-02-12 03:02] erfanimani commented on #31984
I can't reproduce through the deployment service. I'm unsure of whether it's actually giving me a php 7.4 instance.

I can reproduce on 2.4-develop and 2.4.2 contributor package on my local.

[2021-02-12 03:19] amitvkhajanchi commented on #32118
@hostep

Thanks for quick response.  I have disabled the module.  I am using Amazon EFS for the pub/media folder and realized that I had encryption on for this.   I created another unencrypted volume and mounted this to pub/media.  This helped my problem somewhat as I was filling 100GB of space in 30min and that changed to 60GB in 3-4 hours.   Which was still crazy.

I will check in the morning (a

[2021-02-12 03:32] #29310 closed, assigned to nobody

[2021-02-12 03:32] #28416 closed, assigned to nobody

[2021-02-12 03:32] #28463 closed, assigned to nobody

[2021-02-12 03:32] #28423 closed, assigned to nobody

[2021-02-12 03:32] #28425 closed, assigned to nobody

[2021-02-12 03:32] #28464 closed, assigned to nobody

[2021-02-12 03:32] #28454 closed, assigned to nobody

[2021-02-12 03:32] #28455 closed, assigned to nobody

[2021-02-12 03:32] #28470 closed, assigned to nobody

[2021-02-12 03:32] #28509 closed, assigned to nobody

[2021-02-12 03:32] #28510 closed, assigned to nobody

[2021-02-12 03:32] #28648 closed, assigned to nobody

[2021-02-12 03:32] #28659 closed, assigned to nobody

[2021-02-12 03:32] #28686 closed, assigned to nobody

[2021-02-12 03:32] #28690 closed, assigned to nobody

[2021-02-12 03:32] #28751 closed, assigned to nobody

[2021-02-12 03:32] #28801 closed, assigned to nobody

[2021-02-12 03:32] #28762 closed, assigned to nobody

[2021-02-12 03:32] #28766 closed, assigned to nobody

[2021-02-12 03:32] #28792 closed, assigned to nobody

[2021-02-12 03:32] #29303 closed, assigned to nobody

[2021-02-12 03:32] #29322 closed, assigned to nobody

[2021-02-12 03:32] #29328 closed, assigned to nobody

[2021-02-12 03:32] #29332 closed, assigned to nobody

[2021-02-12 03:32] #29371 closed, assigned to nobody

[2021-02-12 03:32] #29356 closed, assigned to nobody

[2021-02-12 03:32] #29359 closed, assigned to nobody

[2021-02-12 03:32] #29370 closed, assigned to nobody

[2021-02-12 03:34] magento-engcom-team commented on #28463
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 03:34] magento-engcom-team commented on #28464
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 03:34] magento-engcom-team commented on #28801
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 03:35] magento-engcom-team commented on #29371
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 04:19] avinashgarg opened #32126 "Delta Rounding Problem With same price and qty in tax"
Please see attachment , still exist in all version
![image](https://user-images.githubusercontent.com/10251306/107729642-789a8500-6d17-11eb-9976-69515653c48c.png)
@mageho

[2021-02-12 04:22] avinashgarg commented on #32126
https://tinyurl.com/y63jpcbo

[2021-02-12 04:23] avinashgarg commented on #32126
Temporary i found a solution by commenting one in below function, and working fine but need to double sure is this right or not ?

[2021-02-12 04:32] #28173 closed, assigned to nobody

[2021-02-12 04:32] #28181 closed, assigned to nobody

[2021-02-12 04:32] #28187 closed, assigned to nobody

[2021-02-12 04:32] #28196 closed, assigned to nobody

[2021-02-12 04:32] #28199 closed, assigned to nobody

[2021-02-12 04:32] #28241 closed, assigned to nobody

[2021-02-12 04:32] #28242 closed, assigned to nobody

[2021-02-12 04:32] #28245 closed, assigned to nobody

[2021-02-12 04:32] #28278 closed, assigned to nobody

[2021-02-12 04:32] #28280 closed, assigned to nobody

[2021-02-12 04:32] #28289 closed, assigned to nobody

[2021-02-12 04:32] #28298 closed, assigned to nobody

[2021-02-12 04:32] #28299 closed, assigned to nobody

[2021-02-12 04:32] #28307 closed, assigned to nobody

[2021-02-12 04:32] #28320 closed, assigned to nobody

[2021-02-12 04:32] #28326 closed, assigned to nobody

[2021-02-12 04:32] #28329 closed, assigned to nobody

[2021-02-12 04:32] #28333 closed, assigned to nobody

[2021-02-12 04:32] #28356 closed, assigned to nobody

[2021-02-12 04:32] #28368 closed, assigned to nobody

[2021-02-12 04:32] #28369 closed, assigned to nobody

[2021-02-12 04:33] #29523 closed, assigned to nobody

[2021-02-12 04:33] #29532 closed, assigned to nobody

[2021-02-12 04:33] #29467 closed, assigned to nobody

[2021-02-12 04:33] #29505 closed, assigned to nobody

[2021-02-12 04:33] #29550 closed, assigned to nobody

[2021-02-12 04:33] #29508 closed, assigned to nobody

[2021-02-12 04:33] #29536 closed, assigned to nobody

[2021-02-12 04:33] #29570 closed, assigned to nobody

[2021-02-12 04:33] #29571 closed, assigned to nobody

[2021-02-12 04:34] sashas777 commented on #28289
This issue still valid

[2021-02-12 04:35] magento-engcom-team commented on #29523
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 04:35] magento-engcom-team commented on #29532
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 04:35] magento-engcom-team commented on #29550
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 04:36] sashas777 opened #32127 "Module Store dependancy on module MessageQueue"
The module store should have dependency on MessageQueue because it uses:
[code]
https://github.com/magento/magento2/blob/2.3/app/code/Magento/Store/Model/Store.php#L413

Currently it is only depends on framework:
https://github.com/magento/magento2/blob/2.3/app/code/Magento/Store/composer.json
which doesn't have Magento\Framework\MessageQueue

### Preconditions (*)
1.  Copy last version of Module_

[2021-02-12 04:36] sashas777 commented on #32127
This is not resolved per https://github.com/magento/magento2/issues/28289

[2021-02-12 05:26] rani-webkul commented on #30740
@magento give me 2.4-develop instance

[2021-02-12 05:32] #27361 closed, assigned to nobody

[2021-02-12 05:32] #27395 closed, assigned to nobody

[2021-02-12 05:32] #27400 closed, assigned to nobody

[2021-02-12 05:32] #27416 closed, assigned to nobody

[2021-02-12 05:32] #27901 closed, assigned to nobody

[2021-02-12 05:32] #27432 closed, assigned to nobody

[2021-02-12 05:32] #27909 closed, assigned to Zaahed

[2021-02-12 05:32] #27918 closed, assigned to nobody

[2021-02-12 05:32] #27974 closed, assigned to nobody

[2021-02-12 05:32] #27937 closed, assigned to nobody

[2021-02-12 05:32] #27970 closed, assigned to nobody

[2021-02-12 05:32] #28014 closed, assigned to nobody

[2021-02-12 05:32] #27973 closed, assigned to nobody

[2021-02-12 05:32] #28016 closed, assigned to nobody

[2021-02-12 05:32] #28071 closed, assigned to nobody

[2021-02-12 05:32] #28056 closed, assigned to nobody

[2021-02-12 05:32] #28090 closed, assigned to nobody

[2021-02-12 05:32] #28093 closed, assigned to nobody

[2021-02-12 05:32] #28095 closed, assigned to nobody

[2021-02-12 05:32] #28109 closed, assigned to nobody

[2021-02-12 05:32] #30043 closed, assigned to nobody

[2021-02-12 05:32] #30082 closed, assigned to nobody

[2021-02-12 05:32] #30084 closed, assigned to nobody

[2021-02-12 05:32] #30155 closed, assigned to nobody

[2021-02-12 05:32] #30105 closed, assigned to nobody

[2021-02-12 05:32] #30159 closed, assigned to nobody

[2021-02-12 05:32] #30113 closed, assigned to nobody

[2021-02-12 05:34] magento-engcom-team commented on #27361
Hi @trucatchtraps.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33015` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-12 05:34] magento-engcom-team commented on #27924
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:34] magento-engcom-team commented on #27974
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:34] magento-engcom-team commented on #28014
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:34] magento-engcom-team commented on #28016
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:34] magento-engcom-team commented on #28071
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:34] magento-engcom-team commented on #30155
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:34] magento-engcom-team commented on #30159
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 05:38] Calypso971 commented on #32073
You are clearly not standing into the reality of Linux distributions here: they don't carry every PHP version. In Ubuntu the current LTS versions 7.2 and 7.4 are available. The only way installing 7.3 in it is through 3rd party repositories or by hand - both are not what you want in a professional environment: it can haunt you for quite some time.

But the real problem here is that Magento in the

[2021-02-12 06:39] ghost opened #32128 "Region select field won't load in registration page"
### Preconditions (*)

1. Version 2.4.0

### Steps to reproduce (*)

1. Enable address fields in registration page using xml

File: customer_account_create.xml
[code]

### Expected result (*)

1. Region select field load with options:
![expected](https://user-images.githubusercontent.com/1442836/107736654-5dad1e00-6ce1-11eb-9494-34caa7b06cdd.png)

### Actual result (*)

1. Region select field won'

[2021-02-12 07:19] #31891 closed, assigned to engcom-Echo, yogesh-valiya

[2021-02-12 07:19] #32006 closed, assigned to viktorpetryk

[2021-02-12 07:40] #26726 closed, assigned to nobody

[2021-02-12 07:40] #26737 closed, assigned to nobody

[2021-02-12 07:40] #26757 closed, assigned to nobody

[2021-02-12 07:40] #26785 closed, assigned to nobody

[2021-02-12 07:40] #26940 closed, assigned to nobody

[2021-02-12 07:40] #26978 closed, assigned to nobody

[2021-02-12 07:40] #26981 closed, assigned to nobody

[2021-02-12 07:40] #27055 closed, assigned to nobody

[2021-02-12 07:40] #27022 closed, assigned to nobody

[2021-02-12 07:41] #27121 closed, assigned to nobody

[2021-02-12 07:41] #27161 closed, assigned to nobody

[2021-02-12 07:41] #27166 closed, assigned to nobody

[2021-02-12 07:41] #27140 closed, assigned to nobody

[2021-02-12 07:41] #27146 closed, assigned to nobody

[2021-02-12 07:41] #27151 closed, assigned to nobody

[2021-02-12 07:41] #27176 closed, assigned to nobody

[2021-02-12 07:41] #27189 closed, assigned to nobody

[2021-02-12 07:41] #27195 closed, assigned to nobody

[2021-02-12 07:41] #27204 closed, assigned to nobody

[2021-02-12 07:41] #27213 closed, assigned to nobody

[2021-02-12 07:41] #27220 closed, assigned to nobody

[2021-02-12 07:41] #27238 closed, assigned to nobody

[2021-02-12 07:41] #27239 closed, assigned to nobody

[2021-02-12 07:41] #27256 closed, assigned to nobody

[2021-02-12 07:41] #27303 closed, assigned to nobody

[2021-02-12 07:41] #27314 closed, assigned to nobody

[2021-02-12 07:41] #30137 closed, assigned to nobody

[2021-02-12 07:41] #30158 closed, assigned to nobody

[2021-02-12 07:42] magento-engcom-team commented on #26726
Hi @rikwillems.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-31176` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-12 07:42] magento-engcom-team commented on #27166
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 07:42] magento-engcom-team commented on #27216
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 07:46] bohdan-harniuk commented on #15122
@magento I am working on this

[2021-02-12 08:02] engcom-Alfa commented on #32121
Hi @vincent2090311. Thank you for your report!
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Looks like the problem has already been fixed by the commit - 9ce80c9914b740d30aef5cef7bbca8febe64a0c5

**Actual Result:** :heavy_check_mark: Can add product to cart without any issue

![Peek 2021-02-12 10-00](https://user-images.githubusercontent.com/51679138/107743202-222e4

[2021-02-12 08:02] #32121 closed, assigned to engcom-Alfa

[2021-02-12 08:12] engcom-Alfa commented on #30655
Hi @Anantkprajapati   we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-12 08:12] #30655 closed, assigned to engcom-Alfa

[2021-02-12 08:19] chequille commented on #30098
Unbelievable, it was reproduced on 2.4.x and nobody cares.

[2021-02-12 08:52] engcom-Bravo commented on #32128
Hello @labofidea

Thank you for your report.

This is actually a Duplicate of #30099 and there is already a created Pull Request fixing the issue https://github.com/magento/magento2/pull/31755

Please follow the updates on the PR.

We are closing this issue as Duplicate. Please feel free to comment or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/mage

[2021-02-12 08:52] #32128 closed, assigned to engcom-Bravo

[2021-02-12 09:01] engcom-Bravo commented on #32126
Hello @avinashgarg

Thank you for your report.

Please, update your issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) with Preconditions, Steps To reproduce, Actual Result, Expected Result. So that we could reproduce the issue and provide a solution.

Thank you in advance.

[2021-02-12 09:07] SAPIGMBH commented on #29797
For me, this solved this issue on 2.4.1. Existing "stuck" jobs I had manually removed from the database..but all "new bulk changes" after fix run without any problems.

[2021-02-12 09:08] SAPIGMBH commented on #29797
For me, this solved this issue on 2.4.1. Existing "stuck" jobs I had manually removed from the database..but all "new bulk changes" after fix run without any problems.

[2021-02-12 09:09] JustADude-86 commented on #29797
For me, this solved this issue on 2.4.1. Existing "stuck" jobs I had manually removed from the database..but all "new bulk changes" after fix run without any problems.

[2021-02-12 09:23] in-session commented on #29797
In my case it seems like there were problems with the cron after the update the magento.

After reinstall the cron `bin/magento cron:install [--force]` removed old jobs manually in the DB and add the fix, it works fine
[https://github.com/magento/magento2/pull/29814/files](https://github.com/magento/magento2/pull/29814/files)

[2021-02-12 09:30] Eddcapone commented on #29741
This is still relevant.

[2021-02-12 09:31] Eddcapone commented on #29737
This is still relevant.

[2021-02-12 09:32] Eddcapone commented on #29853
This is still relevant

[2021-02-12 09:40] atolodas opened #32134 "When adding a new rating, have an error"
Magento version 2.4.2
PHP 7.4
Mysql - Mariadb 10,4

When adding a new rating, have an error:

`SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`rating`, CONSTRAINT `RATING_ENTITY_ID_RATING_ENTITY_ENTITY_ID` FOREIGN KEY (`entity_id`) REFERENCES `rating_entity` (`entity_id`) ON DELETE CASCADE), query was: INSERT INTO `rating` (`

[2021-02-12 09:45] engcom-Bravo commented on #30948
Hello @cdiacon-img

I'm still getting a different error than the reported.
The following mutation
[code]
returns
[code]
It might be that on 2.4-develop the behavior is different. I noticed that you are reporting the issue on 2.3.4. Can you please verify if the issue is reproducible on 2.4-develop for you?

Thank you

[2021-02-12 09:50] #30181 closed, assigned to nobody

[2021-02-12 09:50] #30214 closed, assigned to nobody

[2021-02-12 09:50] #30193 closed, assigned to nobody

[2021-02-12 09:50] #30435 closed, assigned to nobody

[2021-02-12 09:50] #30535 closed, assigned to nobody

[2021-02-12 09:50] #30247 closed, assigned to nobody

[2021-02-12 09:50] #30548 closed, assigned to nobody

[2021-02-12 09:50] #26587 closed, assigned to nobody

[2021-02-12 09:50] #26467 closed, assigned to nobody

[2021-02-12 09:50] #26603 closed, assigned to nobody

[2021-02-12 09:50] #26516 closed, assigned to nobody

[2021-02-12 09:50] #26595 closed, assigned to nobody

[2021-02-12 09:51] magento-engcom-team commented on #30214
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 09:51] magento-engcom-team commented on #30535
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 09:51] magento-engcom-team commented on #26587
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 09:51] magento-engcom-team commented on #26603
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 09:51] magento-engcom-team commented on #26587
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-12 10:00] GuiltyNL commented on #26516
This 'stale' thing is stupid. The problem is still here, don't close tickets  when they are not solved. The Magento team should put more efford in reviewing and solving this tickets themselves instead of the community.

[2021-02-12 10:25] atishgoswami commented on #30719
Thanks @rani-webkul for reporting this issue, I was also facing the same issue

This is the patch for the issue if anyone else might be looking for it 😄
https://github.com/magento/quality-patches/blob/master/patches/os/MDVA-31363__fixes_cart_price_rule_coupon_does_not_apply_via_graphQl__2.4.0.patch

[2021-02-12 10:27] bohdan-harniuk commented on #15122
@magento-engcom-team give me 2.3-develop instance

[2021-02-12 10:28] bohdan-harniuk commented on #15122
@magento-engcom-team give me 2.2-develop instance

[2021-02-12 10:33] Dren7755 commented on #20973
Looks like we have the same problem on our production server.
From time to time we can see following situation in newrelic
![image](https://user-images.githubusercontent.com/19759530/107757590-6f68e280-6d2e-11eb-9578-c07e8930e461.png)

[2021-02-12 11:03] sodhancha commented on #25862
This is not compatible with EE 2.4.0
Please provide a patch which is compatible with EE 2.4.0

On Thu, Feb 11, 2021 at 4:12 AM Magento Quality Patches <
notifications@github.com> wrote:

--
Regards,
Sodhan Manandhar

[2021-02-12 11:24] zcuric commented on #25862
@ma

@magento-quality-patches

[2021-02-12 11:24] redati commented on #32121
This committee is not included in release 2.4.2

[2021-02-12 11:48] mrtuvn commented on #32024
I am working on this

[2021-02-12 11:48] mrtuvn commented on #32024
@magento I am working on this

[2021-02-12 12:01] engcom-Alfa commented on #32134
Hello @atolodas .Thank you for your report.

Please, update your issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) with Preconditions, Steps To reproduce, Actual Result, Expected Result. So that we could reproduce the issue and provide a solution.
Thanks!

[2021-02-12 12:11] mrtuvn commented on #32037
@magento i am working on this

[2021-02-12 12:21] jbrada commented on #29293
Hello,

I've just reproduced the issue on 2.4.1 Open Source.

**Environment**
- Magento 2.4.1
- PHP 7.4

[2021-02-12 13:12] Kaorionline opened #32137 "Bom dia!!!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-02-12 13:17] Kaorionline opened #32138 "Bom dia!!!Trabalho como o Magento integrado a SkyHub, e estou com problemas ao consumir os pedidos, tem demorado muito tempo o ultimo pedido esta disponível para sincronizar e ainda não foi consumido"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-02-12 13:19] engcom-Bravo commented on #32116
Hello @victortodoran

Thank you for your report.

We Confirm that the issue is reproducible on the latest 2.4-develop. The Unsubscribed Customer still receives a Newsletter.

[2021-02-12 13:20] magento-engcom-team commented on #32116
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40885` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-12 13:28] frank-bokdam commented on #31975
The class has been replaced by a Virtual type: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/etc/di.xml#L841

You can start using this virtualType injecting the `searchResults` class in your constructor and replacing it with the Virtualtype.

[2021-02-12 13:33] vcollina commented on #31117
Same problem here. Unbelievable such a simple and basic thing as a product going out of stock to be so painfull. We literally have to monitor the products hourly to update them to "out of stock" manually and despite this effort we still have to answer complains from customers. Its a ton of work literally wasted. What a regret having updated from 1.9 to this.

[2021-02-12 13:36] bohdan-harniuk commented on #15122
@magento-engcom-team give me 2.3-develop instance

[2021-02-12 13:43] mrtuvn commented on #32025
@magento i am working on this

[2021-02-12 14:31] f1-outsourcing opened #32143 "magento 2.3 take a clear stance on whether or not you support shared hosting."
I am testing with magento 2.3.6 and was testing if emails are going out (currently they are not). So I could remember from previous versions that the cron was responsible for sending these.

so I ran

`php -d disable_functions=none bin/magento cron:run`

Still no email, but I noticed that the cron log showed messages about trying the exec function. I do hope that for something as simple as sending

[2021-02-12 14:40] Axel29 commented on #23063
Does anyone have a solution for that bug? Even a hotfix that could be applied via an override? Thank you!

[2021-02-12 14:53] engcom-Bravo commented on #30341
Hello @dverkade

Thank you for your report

We confirm that the _default value_ checkbox for **Price** doesn't appear on 2.4-develop. We are adding a _feature request_ label to this issue.

Thank you

[2021-02-12 15:00] dverkade commented on #30341
Hello @engcom-Bravo,

Thank you for confirming, however this is not a feature requests, it's a bug. Magento shows the checkbox on all fields that be set on different scope levels, in this case it's not shown which is the expected behaviour. This can't qualify as a feature as it's basic functionality of Magento not working.

I've also set this to an S0 severity issue because there's no way for the

[2021-02-12 15:01] bohdan-harniuk commented on #15122
That issue is not reproducible on 2.2.9/2.3.6. Reproduced only on 2.2.4. We should close this issue.

[2021-02-12 15:10] krishprakash commented on #32137
Closing this as per you added new issue

[2021-02-12 15:10] #32137 closed, assigned to krishprakash

[2021-02-12 15:15] mrtuvn commented on #32118
As i remember this caused by high load plugin design load
Need some workarounds recheck disable this move to properly place with correct use
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Theme/etc/di.xml#L109 <= default codebase
@hostep @amitvkhajanchi

[2021-02-12 15:22] coderimus commented on #15122
Hello @bohdan-harniuk
Thank you for your investigation and detail report on a call. Good to have such a quick reaction to the P1 issue. Really helpful! 👍

I close this issue.

[2021-02-12 15:22] #15122 closed, assigned to nobody

[2021-02-12 15:29] bassplayer7 commented on #28692
Note for visitors from Google: this is still a bug but it hasn't been fixed in the core.

[2021-02-12 15:44] i95devdivya commented on #31975
@frank-bokdam Thank you for your response.

I added virtualType as below in our module <Namespace>/<Modulename>/
etc/di.xml. But it's not working.

<virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid\Collection">
        <arguments>
            <argument name="joins" xsi:type="array">
                <item name="custom_table" xsi:type="array">
                    <item name="ta

[2021-02-12 15:55] OxCom opened #32144 "Magento 2.3.x and 2.4.x API product search with sort by price does not work properly"
https://github.com/magento/magento2/blob/53ad434d78cd2d357203fb82e5ea059883f403b8/app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php#L1740

and

https://github.com/magento/magento2/blob/53ad434d78cd2d357203fb82e5ea059883f403b8/app/code/Magento/Elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php#L81

Order by **price_index.min_price = 0** cause issue on AP

[2021-02-12 16:51] amitvkhajanchi commented on #32118
@hotstep @mrtuvn

Thanks for all the feed-back.  I can confirm to you that disabling Magento_Csp module resolved the issue on Magento 2.4.1 version I have.   My cache only grew to 600MB and is stable now compared to multiple GB previous days.   This is inline with my experience on Magento 2.3.3.  Thanks for the help and prompt feed-back.  I really appreciate it!!!

[2021-02-12 17:10] f1-outsourcing opened #32148 "magento 2.3 when you click 'send email' you get a message 'You sent the order email.'"
When you click 'Send Email' on this page adminuo/sales/order/view/order_id/140/key/xxx/

This is an incorrect message. The message is not send, the sending is scheduled not?

[2021-02-12 17:50] #29209 closed, assigned to zaximus84

[2021-02-12 17:52] magento-engcom-team commented on #29209
Hi @bernd-reindl, @zaximus84.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-36269` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-12 18:24] f1-outsourcing commented on #32148
this[1] works for me, and here[2] they write that magento 2.3 is still using the php mail function. So I do not know why these mails are not going out. I have even reverted back to original/default templates of magento, but still no luck.

Thus, I do not know how you can generate a message with a green check mark, when in fact the message is not send.

php -r "mail('test@example.com','theme','body

[2021-02-12 18:29] Eddcapone opened #32149 "Style is not getting compiled"
### Preconditions (*)

2.4.2
Production Mode

### Steps to reproduce (*)

I try to compile my code from my build system.

I don't know how we can reproduce it, today it worked the whole day but suddenly it fails.

    php bin/magento setup:di:compile
    php bin/magento setup:static-content:deploy en_US de_DE

    git add pub/static/
    git add pub/media/
    git add generated/
    git commit -m