[2019-03-05 08:02] irehmankhan commented on #16436
@engcom-backlog-nazar  can you please tell the fix or patch ? because my client doesn't want to upgrade to 2.3 but I have to fix this issue

[2019-03-05 08:14] R-K-Shrivastaw commented on #19549
I am having the same error in my development magento. Cant upload the logo. If anyone knows how to fix it, please help me.

[2019-03-05 08:24] fooman commented on #21552
Just to note a custom attribute is not the same as an extension attribute.

[2019-03-05 08:31] engcom-backlog-nazar commented on #21571
Hi @joeyazar thank you for you report, this settings allow you to add required field on customer account information, and not on "customer account create", this fields appears on customer checkout, and in customer account.

[2019-03-05 08:31] #21571 closed, assigned to nobody

[2019-03-05 08:35] engcom-backlog-nazar commented on #21552
Hi @tnsezer thank you for your report, extension attributes and custom_attribute are completely different, please refer to https://devdocs.magento.com/guides/v2.3/extension-dev-guide/attributes.html

[2019-03-05 08:35] #21552 closed, assigned to nobody

[2019-03-05 08:38] tnsezer commented on #21552
@fooman  @engcom-backlog-nazar I also can not reach the data via getExtensionAttribute. There are a bug issue.

[2019-03-05 08:40] engcom-backlog-nazar commented on #21552
@tnsezer you need to set extension_attributes.
[code]

[2019-03-05 08:42] joeyazar commented on #21571
Thank you for your reply.
But why when i select from the same list Suffix, Prefix, Middle name, date of birth, vat and gender they all appear in the account sign up.
![image](https://user-images.githubusercontent.com/36643877/53792029-6f052180-3f33-11e9-96b7-af45f896aa6c.png)

[2019-03-05 08:51] engcom-backlog-nazar commented on #21567
Hi @rakesh-gangani thank you for you report, this issue has already fixed in 2.2-develop and 2.3-develop branch and available on 2.2.7 release.
![deepinscreenshot_select-area_20190305105112](https://user-images.githubusercontent.com/40756439/53792542-9ad4d700-3f34-11e9-8748-a430c3ae6f21.png)

[2019-03-05 08:51] #21567 closed, assigned to nobody

[2019-03-05 09:15] amol2jcommerce commented on #21558
@magento-engcom-team give me 2.3-develop instance

[2019-03-05 09:15] magento-engcom-team commented on #21558
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-05 09:16] magento-engcom-team commented on #21558
Hi @amol2jcommerce, here is your [Magento instance](https://i-21558-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21558-2-3-develop.instances.magento-community.engineering/admin](https://i-21558-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 09:18] akosglue commented on #8770
2.3.0 same error remains.

[2019-03-05 09:25] craigcarnell commented on #13773
@magento-engcom-team Any updates on this issue please?

[2019-03-05 09:41] mhenkel1 commented on #10737
@magento-engcom-team Since you are unable to reproduce, please explain how you add an option with a hex code to an swatch attribute by using the rest api. YOU WILL NOT BE ABLE TO DO THIS, thats how you reproduce it. Next time please read the issue fully.

[2019-03-05 10:05] gwharton commented on #7739
Just be aware that when you get the error saying From set twice, this means that the $message object that Magento is using to formulate an email has already been used for a previous email and still has content in it. In the #7739 fix, the from address is cleared before being reset, but what about the other fields. Sure the body and subject will be rewritten as the new email is formed, but what if

[2019-03-05 10:18] svossen opened #21573 "Checkout email input field keeps `aria-invalid='true'` attribute and value after succesful validation"
### Preconditions
I’m seeing this behavior on every Magento2 shop I tested, both in Firefox and Chrome. Even on _fresh_ Magento installations. The specifications for the situation of the attached screenshots are:
* Magento Open Source `2.3.0`
* Sample Data `100.3.*`
* macOS Mojave `10.14.2`
* PHP `7.1.25`
* MySQL `5.7.24`
* Firefox `66.0b12 (64-bit)`

### Steps to reproduce
1. Add product to cart

[2019-03-05 10:18] magento-engcom-team commented on #21573
Hi @svossen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-05 10:21] magento-engcom-team commented on #21573
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 10:23] svossen commented on #21573
@magento-engcom-team give me 2.3-develop instance

[2019-03-05 10:23] magento-engcom-team commented on #21573
Hi @svossen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-05 10:24] magento-engcom-team commented on #21573
Hi @svossen, here is your [Magento instance](https://i-21573-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21573-2-3-develop.instances.magento-community.engineering/admin](https://i-21573-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 10:30] svossen commented on #21573
@magento-engcom-team I can confirm this occurs as well in the mentioned Magento instance.
<img width="933" alt="screenshot 2019-03-05 at 11 27 31" src="https://user-images.githubusercontent.com/5097018/53799112-feadce80-3f39-11e9-8725-a103d7d594b4.png">

[2019-03-05 10:52] FuzzyPones opened #21574 "Configuration for path: "customer/account_share/scope" doesn't exist"
### Preconditions (*)

1. Magento version 2.3.0
2. Get the configuration path for "Share Customer Accounts" from : https://devdocs.magento.com/guides/v2.3/config-guide/prod/config-reference-most.html

### Steps to reproduce (*)

1. Fresh checkout and setup based on magento installation guide https://devdocs.magento.com/guides/v2.3/install-gde/prereq/nginx.html
2. Execute: bin/magento config:show c

[2019-03-05 10:53] magento-engcom-team commented on #21574
Hi @FuzzyPones. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-05 10:54] magento-engcom-team commented on #21573
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98561`, `MAGETWO-98562` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-05 10:54] magento-engcom-team commented on #21574
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 10:56] Parakoopa commented on #8927
I can confirm this issue still exists in Magento 2.3.
@magento-engcom-team, can you re-open the issue? The original description is still valid.

[2019-03-05 10:58] Parakoopa commented on #8927
Oh, actually, there is one more step to reproduce the issue in Magento 2.3. It only seems to happen if the attribute set is switched via the form when creating or editing a product. Should I open a new issue for this?

[2019-03-05 11:00] engcom-backlog-nazar commented on #21574
HI @FuzzyPones thank you for you report, please uncheck checkbox in store->configuration->customer configuration.
![deepinscreenshot_select-area_20190305125906](https://user-images.githubusercontent.com/40756439/53800953-96191e80-3f46-11e9-8e29-8cee2bb37584.png)

[2019-03-05 11:00] #21574 closed, assigned to nobody

[2019-03-05 11:33] lbajsarowicz opened #21577 "Cannot see MSI Source after unassign and reassign it"
### Preconditions (*)
1. Magento 2.3.0 installed from Composer
2. MSI installed (by default with Magento 2.3.0 CE)

### Steps to reproduce (*)
1. Admin Panel: Enter "Add product" form
2. Click "Assign sources" button, wait for pan to open
3. Select one of the sources (eg. "Default"), click "Done"
4. Unassign selected source with thrash icon
5. Click "Assign sources" button again, wait for pan to o

[2019-03-05 11:33] magento-engcom-team commented on #21577
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-05 11:52] magento-engcom-team commented on #21564
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-05 11:53] hiren0241 commented on #21564
@magento-engcom-team give me 2.3-develop instance

[2019-03-05 11:53] magento-engcom-team commented on #21564
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-05 11:53] magento-engcom-team commented on #21564
Hi @hiren0241, here is your [Magento instance](https://i-21564-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21564-2-3-develop.instances.magento-community.engineering/admin](https://i-21564-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 11:55] TomashKhamlai opened #21578 "In admin area the Minimum Qty Allowed in Shopping Cart should be always less than the Maximum Qty Allowed in Shopping Cart"
### Preconditions (*)

1. Simple Product with qty 100500 or Configurable option with visibility set to Catalog, Search

### Steps to reproduce (*)

1. Edit the product in Advanced Inventory set
Minimum Qty Allowed in Shopping Cart to 5000
and set
Maximum Qty Allowed in Shopping Cart to 100
2. Click 'Done' and Save the product

### Expected result (*)

1. Cannot click 'Done' or 'Save'

### Actual r

[2019-03-05 11:55] magento-engcom-team commented on #21578
Hi @TomashKhamlai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-05 11:59] lbajsarowicz opened #21579 "MFTF does not work with Composer setup"
### Preconditions (*)
1. Magento 2.3.0 installed with Composer

### Steps to reproduce (*)
1. Try to generate tests with `vendor/bin/mftf generate:tests`

### Expected result (*)
1. Tests generated with some `DEPRECATED` notices.

### Actual result (*)
[code]

### Temporary workaround:
1. Clone latest `2.3-dev` branch from Magento repository
2. Copy `Test/Mftf` directory contents for some modules:

[2019-03-05 11:59] magento-engcom-team commented on #21579
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-05 11:59] magento-engcom-team commented on #21577
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 12:01] lbajsarowicz commented on #21577
@magterskine Confirmed / reproduced during #MageTestFest in Florence.

[2019-03-05 12:01] engcom-backlog-nazar commented on #21577
HI @lbajsarowicz thank you for you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-03-05 12:01] #21577 closed, assigned to nobody

[2019-03-05 12:04] magento-engcom-team commented on #21578
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 12:04] magento-engcom-team commented on #21579
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 12:13] TomashKhamlai commented on #14102
@magento-engcom-team give me 2.3-develop instance

[2019-03-05 12:13] magento-engcom-team commented on #14102
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-05 12:13] magento-engcom-team commented on #14102
Hi @TomashKhamlai, here is your [Magento instance](https://i-14102-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14102-2-3-develop.instances.magento-community.engineering/admin](https://i-14102-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 12:25] TomashKhamlai opened #21580 "Front controller reached 100 router match iterations"
Can be related to #4706 or #14102

### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Navigate to Marketing -> SEO & Search -> URL Rewrites
2. Click Add URL Rewrite
	Create URL Rewrite: Custom
	Request Path: go-to-admin
	Target Path: admin
	Redirect Type: No
and save it.
3. Navigate to {{ base_url }}/go-to-admin

### Expected result (*)

1. URL Rewrite works as expected

[2019-03-05 12:25] magento-engcom-team commented on #21580
Hi @TomashKhamlai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-05 12:30] snowcore opened #21581 "Catalog Products List widget - prices are loaded from wrong source"
### Preconditions (*)
1. Magento 2.2.7 (2.3) - both Open Source and Commerce editions
2. Flat catalog enabled

### Steps to reproduce (*)
Create widget "Catalog Products List", add some random products to it.

### Expected result (*)
Product prices are loaded from price index table `catalog_product_index_price`

### Actual result (*)
In the resulting product collection prices are taken from **flat

[2019-03-05 12:30] magento-engcom-team commented on #21581
Hi @snowcore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-05 12:53] FuzzyPones commented on #21574
Okay, can this error be a bit more declarative then? How are improvements being issued?

Doesn't exist != unavailable due to checkboxes being ticked

[2019-03-05 13:19] hiren0241 commented on #21564
At 2.3 develop instance notification message is different. It is showing as "The requested qty is not available".

[2019-03-05 13:36] hiren0241 commented on #21564
As per step to reproduce:
This screen-shot for step-6 : https://prnt.sc/mtjp3x
Another screen-shot for step-7 : https://prnt.sc/mtjr1d

Above screen-shot taken at 2.3 develop instance.

[2019-03-05 13:48] magento-engcom-team commented on #21579
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98564` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-05 13:49] lbajsarowicz opened #21583 "ElasticSearch indexer breaks on mapper_parsing_exception"
### Preconditions (*)
1. Fresh Magento 2.3.0 installed from Composer
2. Fresh Elasticsearch 6.6.1 installed from Homebrew

### Steps to reproduce (*)
1. Install sample data
2. Run `bin/magento index:reindex`

### Expected result (*)
1. Index finished successfully

### Actual result (*)
1. Error
[code]

[2019-03-05 13:50] magento-engcom-team commented on #21583
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-05 13:50] magento-engcom-team commented on #21583
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 13:54] engcom-backlog-nazar commented on #21583
Hi @lbajsarowicz thank you for you report, implementation of elasticsearch 6.0 already on 2.3-develop branch and will be available on 2.3.1 release. https://github.com/magento/magento2/pull/21458

[2019-03-05 13:54] #21583 closed, assigned to nobody

[2019-03-05 15:12] joekersh commented on #11142
For anyone getting this, you've probably got a CMS page or something with the same url key as one of the categories without the suffix.

For example, a CMS page called brands and a category called brands.html will cause the above error becuase once the suffix is gone they will be the same

[2019-03-05 15:17] orlangur commented on #15772
@dverkade does not mean issue is valid, just that it is reproduced.

DIsplaying 0.53 is correct behavior. However, it would be even better to have proper validation to allow entering only 2 digits after comma.

[2019-03-05 15:23] orlangur commented on #21578
@TomashKhamlai such validation seems to be pretty useless to me. What is the problem with current system behavior?

[2019-03-05 15:31] craigcarnell commented on #7241
What version is this being added in?

[2019-03-05 15:40] TomashKhamlai commented on #21578
It's useless for me too but the problem is that we have ability to configure Magento to generate conflicting statements on Storefront and this problem will only appear if Merchant is not attentive.

This check looks so simple that I have never tried to break it before :)

[2019-03-05 16:10] magento-engcom-team commented on #15772
:white_check_mark: Confirmed by @dverkade
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-05 16:10] magento-engcom-team commented on #15772
:white_check_mark: Confirmed by @dverkade
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-05 16:14] dverkade commented on #15772
Hi @magento-engcom-team,

This issue was confirmed by you, however the label was removed. I'm not allowed to add it again. Please add the label "Confirmed" again to this issue.

@orlangur as mentioned the @magento-engcom-team has confirmed the issue and they determine the roadmap. If the issue is not valid the @magento product owner can determine this and close the issue. This is a real world issu

[2019-03-05 16:19] mattijv commented on #21299
@Vinai I've updated my pull request based on our discussion here, if you are interested.

The interface mapping change should fix the original 404 issue, but I also added code that strips the body from the responses and adds the Content-Length header. Since the response rendering happens in Magento\Framework\App\Http and the full content is required for the Content-Length, I really couldn't change

[2019-03-05 16:21] orlangur commented on #15772
@dverkade I'll raise is Slack what can be done with https://github.com/magento/magento2/issues/10532 feature request which this issue is a part of.

[2019-03-05 16:22] orlangur commented on #21578
@TomashKhamlai everything can be implemented, just doubt such validation rule added would bring a lot of value :) Not closing though, maybe somebody will want to embody it into life.

[2019-03-05 17:00] ayasoftware commented on #18326
I have just tried to edit a product with a tier pricing configuration and i got the error:
Unique constraint violation found - I'm using 2.2.6

[2019-03-05 18:00] AleksLi commented on #15772
@dverkade what should I do then. Ping me when you'll decide what to do here.

[2019-03-05 18:01] magento-engcom-team commented on #21580
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-05 18:02] shikhamis11 commented on #21580
@magento-engcom-team give me 2.3-develop instance

[2019-03-05 18:02] magento-engcom-team commented on #21580
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-05 18:03] magento-engcom-team commented on #21580
Hi @shikhamis11, here is your [Magento instance](https://i-21580-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21580-2-3-develop.instances.magento-community.engineering/admin](https://i-21580-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 18:08] shikhamis11 commented on #21580
@magento-engcom-team give me 2.2-develop instance

[2019-03-05 18:09] magento-engcom-team commented on #21580
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-05 18:09] magento-engcom-team commented on #21580
Hi @shikhamis11, here is your [Magento instance](https://i-21580-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21580-2-2-develop.instances.magento-community.engineering/admin](https://i-21580-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 18:13] magento-engcom-team commented on #21580
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98565`, `MAGETWO-98566` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-05 18:13] gwharton commented on #21546
A quick look at the code on this. 2.3 processes the image cache differently to 2.2.

In 2.3 it now uses an Observer that triggers after product save. This then uses \Magento\MediaStorage\Service\ImageResize.php to generate the cached images on the filesystem.

HOWEVER

The above function was implemented without any consideration for the database media storage mode. Its not a bug, it is completely

[2019-03-05 18:48] magento-engcom-team commented on #21398
Hi @mageprince. Thank you for your report.
The issue has been fixed in magento/magento2#21538 by @mageprince in 2.2-develop branch
Related commit(s):
 - [d504aa1ca7f42156d0ca3f08a4f3905b40df8066](https://github.com/magento/magento2/commit/d504aa1ca7f42156d0ca3f08a4f3905b40df8066)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-05 18:48] magento-engcom-team commented on #15059
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#21513 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [8493e59539df034b78b3424c37c3c87c927c724a](https://github.com/magento/magento2/commit/8493e59539df034b78b3424c37c3c87c927c724a)
 - [65e9346166084c859b0e1d58e8448aabc9f4bc49](https://github.com/magento/magento2/commit/65e9346166084c859b0e1d58e8

[2019-03-05 18:48] magento-engcom-team commented on #19166
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#21325 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [9746716226a11b4f19a6e1351c4428df2dcc3742](https://github.com/magento/magento2/commit/9746716226a11b4f19a6e1351c4428df2dcc3742)
 - [abcf202ef6bc9c3d9b3276215126e7404b5326e7](https://github.com/magento/magento2/commit/abcf202ef6bc9c3d9b3276215126e7

[2019-03-05 18:48] magento-engcom-team commented on #11740
Hi @lee586. Thank you for your report.
The issue has been fixed in magento/magento2#18472 by @gwharton in 2.2-develop branch
Related commit(s):
 - [82a635b3a4eb0fd0e2f030d82495ab717ee11db5](https://github.com/magento/magento2/commit/82a635b3a4eb0fd0e2f030d82495ab717ee11db5)
 - [16afc0962463261e4464456b9bdaad4e8f3be924](https://github.com/magento/magento2/commit/16afc0962463261e4464456b9bdaad4e8f3b

[2019-03-05 18:48] magento-engcom-team commented on #14945
Hi @chequille. Thank you for your report.
The issue has been fixed in magento/magento2#18472 by @gwharton in 2.2-develop branch
Related commit(s):
 - [82a635b3a4eb0fd0e2f030d82495ab717ee11db5](https://github.com/magento/magento2/commit/82a635b3a4eb0fd0e2f030d82495ab717ee11db5)
 - [16afc0962463261e4464456b9bdaad4e8f3be924](https://github.com/magento/magento2/commit/16afc0962463261e4464456b9bdaad4e8

[2019-03-05 18:48] magento-engcom-team commented on #14952
Hi @tstamplis. Thank you for your report.
The issue has been fixed in magento/magento2#18472 by @gwharton in 2.2-develop branch
Related commit(s):
 - [82a635b3a4eb0fd0e2f030d82495ab717ee11db5](https://github.com/magento/magento2/commit/82a635b3a4eb0fd0e2f030d82495ab717ee11db5)
 - [16afc0962463261e4464456b9bdaad4e8f3be924](https://github.com/magento/magento2/commit/16afc0962463261e4464456b9bdaad4e8

[2019-03-05 18:48] magento-engcom-team commented on #16355
Hi @versdivers. Thank you for your report.
The issue has been fixed in magento/magento2#18472 by @gwharton in 2.2-develop branch
Related commit(s):
 - [82a635b3a4eb0fd0e2f030d82495ab717ee11db5](https://github.com/magento/magento2/commit/82a635b3a4eb0fd0e2f030d82495ab717ee11db5)
 - [16afc0962463261e4464456b9bdaad4e8f3be924](https://github.com/magento/magento2/commit/16afc0962463261e4464456b9bdaad4e

[2019-03-05 20:27] fooman commented on #15441
2.3.0 was released with these changes included. See https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html for detailed upgrade instructions.

[2019-03-05 20:27] #15441 closed, assigned to nobody

[2019-03-05 21:05] magento-engcom-team commented on #13982
Hi @matthew-muscat. Thank you for your report.
The issue has been fixed in magento/magento2#21434 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [cd9287867dbe0843614ef6ac9cf75da203505d82](https://github.com/magento/magento2/commit/cd9287867dbe0843614ef6ac9cf75da203505d82)
 - [f1de3406cd8cfb3454baef8a72ed2d2cc0d4f10e](https://github.com/magento/magento2/commit/f1de3406cd8cfb3454baef

[2019-03-05 21:17] magento-engcom-team commented on #21454
Hi @Jitheesh. Thank you for your report.
The issue has been fixed in magento/magento2#21455 by @Jitheesh in 2.3-develop branch
Related commit(s):
 - [11cfe04010a640f52be271cbb7d0ed129a9b900b](https://github.com/magento/magento2/commit/11cfe04010a640f52be271cbb7d0ed129a9b900b)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-05 21:17] #21454 closed, assigned to Jitheesh

[2019-03-05 21:17] magento-engcom-team commented on #21292
Hi @apomili. Thank you for your report.
The issue has been fixed in magento/magento2#21303 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [edb9c6ebbb92fd97d953a4160d6b48e6654af448](https://github.com/magento/magento2/commit/edb9c6ebbb92fd97d953a4160d6b48e6654af448)
 - [1e86f88082360477a56d3beff6fd3d5c877ddaab](https://github.com/magento/magento2/commit/1e86f88082360477a56d3beff6fd3d5c877d

[2019-03-05 21:17] #21292 closed, assigned to nobody

[2019-03-05 21:17] magento-engcom-team commented on #21077
Hi @prakash2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21079 by @prakash2jcommerce in 2.3-develop branch
Related commit(s):
 - [7fc0ff766a4ca185366a8d5c52c1197a3b067131](https://github.com/magento/magento2/commit/7fc0ff766a4ca185366a8d5c52c1197a3b067131)
 - [01d7f5126d7ec13fd28e18c9bc4b65cc92f2faff](https://github.com/magento/magento2/commit/01d7f5126d7ec13f

[2019-03-05 21:17] #21077 closed, assigned to nobody

[2019-03-05 21:17] magento-engcom-team commented on #14857
Hi @scottsb. Thank you for your report.
The issue has been fixed in magento/magento2#20818 by @david-fuehr in 2.3-develop branch
Related commit(s):
 - [b9190b3e0dc8118043d10d3c652243fc439ac20c](https://github.com/magento/magento2/commit/b9190b3e0dc8118043d10d3c652243fc439ac20c)
 - [ebc266b5e0f229c644a4329f7463696020b6a681](https://github.com/magento/magento2/commit/ebc266b5e0f229c644a4329f74636960

[2019-03-05 21:17] #14857 closed, assigned to milindsingh

[2019-03-05 21:17] magento-engcom-team commented on #20128
Hi @realJustmike. Thank you for your report.
The issue has been fixed in magento/magento2#20129 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [b1b6c3c9e9878c96e0b021c9489b6fdd490ea17f](https://github.com/magento/magento2/commit/b1b6c3c9e9878c96e0b021c9489b6fdd490ea17f)
 - [92dd7df47ba6fbe62bf0bc260c2c6cf286f2498d](https://github.com/magento/magento2/commit/92dd7df47ba6fbe62bf0bc260c2

[2019-03-05 21:17] #20128 closed, assigned to irajneeshgupta

[2019-03-05 21:17] magento-engcom-team commented on #20078
Hi @floorz. Thank you for your report.
The issue has been fixed in magento/magento2#20079 by @floorz in 2.3-develop branch
Related commit(s):
 - [be02c1e1cd1b1547b3d087be9a96ea7a12f2b46c](https://github.com/magento/magento2/commit/be02c1e1cd1b1547b3d087be9a96ea7a12f2b46c)
 - [dc8d2d5a316ec9013a97d5850f78d39446351131](https://github.com/magento/magento2/commit/dc8d2d5a316ec9013a97d5850f78d394463511

[2019-03-05 21:17] #20078 closed, assigned to floorz

[2019-03-05 21:33] magento-engcom-team commented on #20317
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-03-05 21:46] snoroozi commented on #18470
@gwharton I patched all my 2.3 files with the PR 18471 and now still have this issue of no FROM NAME.

Can you tell me how I can get that working for my customers as well?

[2019-03-05 22:01] MichaelThessel opened #21586 "Static content deployment generates css with obsolete files"
### Preconditions (*)

1. 2.3.0
2. production mode

### Steps to reproduce (*)

1. Deploy new less files via git

### Expected result (*)

1. setup:static-content:deploy will deploy css with content from new less files

### Actual result (*)

1. Less files from var/view_preprocessed are used to generate the new css
2. Obsolete styles are deployed
3. Only deleting var/view_preprocessed & pub/static

[2019-03-05 22:02] magento-engcom-team commented on #21586
Hi @MichaelThessel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-05 22:38] Ctucker9233 commented on #11292
@orlangur Just wondering what was up with this, since its old and still open. If it's a non-issue, why is it still open?

[2019-03-06 00:50] facetimer commented on #13774
Really strange that nobody encounter the same issue!

[2019-03-06 00:51] robyerevan opened #21587 "Broken Tax Zones and Rates Search - SQLSTATE[42S22]"
### Preconditions (*)

1. Magento 2.2.3

### Steps to reproduce (*)

1. Go to Admin -> Stores -> Taxes -> Tax Zones and Rates
2. Add New Tax Rate, save few tax rates
3.  Do combined search using **Tax Identifier = AL and State Region = AL**

### Expected result (*)

1. Combined search executed and output is displayed to admin
2. Admin can continue using "Tax Zones and Rates" search again

### Actu

[2019-03-06 00:51] magento-engcom-team commented on #21587
Hi @robyerevan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-06 00:53] robyerevan commented on #21587
This issue is similar to [issue 21521](https://github.com/magento/magento2/issues/21521) but it is not the same
they happen in 2 different pages "Tax Zones and Rates" and "Tax Rules"

[2019-03-06 00:53] robyerevan commented on #21587
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-03-06 00:53] magento-engcom-team commented on #21587
Hi @robyerevan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 00:54] magento-engcom-team commented on #21587
Hi @robyerevan, here is your [Magento instance](https://i-21587-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21587-2-3-develop.instances.magento-community.engineering/admin](https://i-21587-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 00:57] magento-engcom-team commented on #21587
Hi @robyerevan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 00:58] magento-engcom-team commented on #21587
Hi @robyerevan, here is your [Magento instance](https://i-21587-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21587-2-3-develop.instances.magento-community.engineering/admin](https://i-21587-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 00:58] robyerevan commented on #21587
Won't reproduce on Magento ver. dev-2.3-develop

[2019-03-06 01:01] facetimer commented on #13983
@keyuremipro Hello !
I am really stuck!
I must to import all my custom option for multi store view by csv...

Do you kno how to resolve this kind of issue #13774 ?

Thank you

[2019-03-06 03:48] rvovnenko commented on #2291
Hi @sdzhepa ,
I am not working on this one.
The fix provided by @StevenGuapaBV is good enough, I think it was not accepted because @StevenGuapaBV was pushing it directly to magento2 instead of own git.
In any case please put it back to development.

[2019-03-06 05:56] coresh commented on #2852
### To me helped:

app/etc/env.php

'db' field -> if field 'indexer': exists => required appending creditenials:

[code]

[2019-03-06 05:59] dipti2jcommerce commented on #21587
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 05:59] magento-engcom-team commented on #21587
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 06:00] magento-engcom-team commented on #21587
Hi @dipti2jcommerce, here is your [Magento instance](https://i-21587-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21587-2-3-develop.instances.magento-community.engineering/admin](https://i-21587-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 06:20] magento-engcom-team commented on #21558
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98575` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 06:21] rogyar commented on #21558
Please note the issue is about clicking on reviews count from product listing page. There's nothing wrong in case of reviews count on product detail page

[2019-03-06 06:30] magento-engcom-team commented on #21564
@rogyar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-06 06:32] magento-engcom-team commented on #21564
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98576`, `MAGETWO-98577` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 06:33] dipti2jcommerce opened #21590 "toolbar amount not proper on mobile for order history page of my account dashboard"
### Preconditions (*)
1.Version 2.3
2.Mobile view

### Steps to reproduce (*)
1.Go to order history page of my account dashboard
2.check mobile view ,toolbar amount not proper

### Expected result (*)
![2019-03-06_11-52_my orders](https://user-images.githubusercontent.com/18118638/53860670-c2e13a80-4007-11e9-8134-d80fb9c3a9ae.jpg)

### Actual result (*)
![2019-03-06_11-51_my orders](https://user-i

[2019-03-06 06:34] magento-engcom-team commented on #21590
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-06 06:36] magento-engcom-team commented on #21590
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-06 06:38] krishprakash commented on #21590
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 06:38] magento-engcom-team commented on #21590
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 06:39] magento-engcom-team commented on #21590
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-06 06:39] magento-engcom-team commented on #21590
Hi @krishprakash, here is your [Magento instance](https://i-21590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21590-2-3-develop.instances.magento-community.engineering/admin](https://i-21590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 06:42] magento-engcom-team commented on #21590
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98578`, `MAGETWO-98579` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 07:38] magento-engcom-team commented on #21587
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-06 07:38] magento-engcom-team commented on #21586
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-06 07:57] dipti2jcommerce opened #21592 "Newsletter subscription input box in footer: on iPad (9.7"), in portrait mode, placeholder text is not visible"
### Preconditions (*)
Magento Open Source 2.3-develop
iPad emulation in Chrome 72
<img width="648" alt="screen shot 2019-03-06 at 17 50 57" src="https://user-images.githubusercontent.com/33287185/53894259-78c47d00-4038-11e9-84a2-2cdc0a754ad6.png">

### Steps to reproduce (*)
1. Open any Luma storefront page on iPad (9.7")
2. Scroll down to newsletter subscription block in the global footer.

### E

[2019-03-06 07:57] magento-engcom-team commented on #21592
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-06 08:00] engcom-backlog-nazar commented on #21586
HI @MichaelThessel thank you for you report, this is expected behavior on production mode, please refer to -> https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-static-view.html

[2019-03-06 08:00] #21586 closed, assigned to nobody

[2019-03-06 08:03] engcom-backlog-nazar commented on #21587
HI @robyerevan thank you for your report, this issue has already fixed in 2.3-develop and will be available on 2.3.2 release.

[2019-03-06 08:03] #21587 closed, assigned to nobody

[2019-03-06 08:29] Al3ks73 commented on #21592
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 08:30] magento-engcom-team commented on #21592
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 08:32] magento-engcom-team commented on #21490
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98580` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 08:34] magento-engcom-team commented on #21467
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98581` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 08:37] magento-engcom-team commented on #21592
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-06 08:38] krishprakash commented on #21592
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 08:38] magento-engcom-team commented on #21592
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 08:39] magento-engcom-team commented on #21592
Hi @krishprakash, here is your [Magento instance](https://i-21592-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21592-2-3-develop.instances.magento-community.engineering/admin](https://i-21592-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 08:40] krishprakash commented on #21592
@magento-engcom-team give me 2.2-develop instance

[2019-03-06 08:40] magento-engcom-team commented on #21592
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-06 08:41] magento-engcom-team commented on #21592
Hi @krishprakash, here is your [Magento instance](https://i-21592-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21592-2-2-develop.instances.magento-community.engineering/admin](https://i-21592-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 08:41] Al3ks73 commented on #21590
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 08:42] magento-engcom-team commented on #21590
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 08:42] magento-engcom-team commented on #21590
Hi @Al3ks73, here is your [Magento instance](https://i-21590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21590-2-3-develop.instances.magento-community.engineering/admin](https://i-21590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 08:44] Puru2016 opened #21594 "Magento2: After updatig from magento2.2.3 to magento 2.3, not able to access categories in admin, Infinite loading."
Magento2: After updating from Magento2.2.3 to Magento 2.3, not able to access categories in admin, Infinite loading.

### Preconditions (*)
I was upgraded my site from Magento2.2.3 to Magento2.3. It was successful and site working fine. But unfortunately, cannot access category section in admin area.

### Steps to reproduce (*)

1. Open admin panel
2. Go to catalog >> Categories
3. Try to access a

[2019-03-06 08:44] magento-engcom-team commented on #21594
Hi @Puru2016. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-06 08:45] magento-engcom-team commented on #21594
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-06 08:59] CompactCodeEU commented on #16355
@magento-engcom-team You already said that this would be fixed in 2.3. I do not think that there is an upcoming 2.2.9 release anymore. That version has already been released. Do you mean there is a patch for 2.2.9? We still changed it in 2.3.0 though for our customers since the fix was not implemented.

[2019-03-06 09:07] adam-inco commented on #14592
Hi, This issue is also in Magento 2.3 hoping skynixukraine fix will solve this as it seems it cannot be tested easily without an expired card :S

[2019-03-06 09:34] magento-engcom-team commented on #21564
Hi @DenisSaltanahmedov. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-03-06 09:38] rafael-shkembi commented on #19283
This issue is not reproducible on 2.3
Tested on different servers with the same shasum  in composer.lock and it passed through.

[2019-03-06 11:30] aario opened #21595 "Notice: Undefined index: suggestions"
### Preconditions (*)

1. Magento ver. 2.3.0
2. elasticsearch 5.6.15
[code]

### Steps to reproduce (*)
1. Configure magento 2 to use elasticsearch with all default settings
2. Search for anything
3. Reindex magento 2
4. Search for anything

### Expected result (*)

1. It should search

### Actual result (*)

1. Below error appears:
[code]

[2019-03-06 11:30] magento-engcom-team commented on #21595
Hi @aario. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-03-06 11:32] orlangur commented on #11292
@Ctucker9233 refreshing the whole page would be really lame UX, so, expected result here in description is wrong. Looks like just nobody bothered to fix current behavior - as I mentioned earlier, this scenario is quite nonrealistic.

[2019-03-06 11:33] dwaynebartels commented on #9486
What is the status of this issue?

Updateing products on storeview level using REST API also unchecks al the boxes.
Even those who we didnt touch.

[2019-03-06 11:39] hiren0241 opened #21596 "Checkout: it is possible to leave blank Shipping Details section and get to Payment Details section by URL"
### Preconditions (*)

- Magneto 2.3-develop

### Steps to reproduce (*)

1. Add a product to your Shopping Cart
2. Proceed to storefront checkout
3. Get to /checkout/#shipping URL
4. Change the URL to /checkout/#payment in browser
5. Go to the /checkout/#payment URL

### Expected result (*)

Some kind of validation should be triggered which will not allow you to leave blank Shipping Details.

###

[2019-03-06 11:39] magento-engcom-team commented on #21596
Hi @hiren0241. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-06 11:41] dipti2jcommerce commented on #21596
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 11:41] magento-engcom-team commented on #21596
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 11:41] magento-engcom-team commented on #21596
Hi @rammohan-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-03-06 11:41] magento-engcom-team commented on #21596
Hi @dipti2jcommerce, here is your [Magento instance](https://i-21596-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21596-2-3-develop.instances.magento-community.engineering/admin](https://i-21596-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 11:43] rammohan-krish commented on #21596
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 11:43] magento-engcom-team commented on #21596
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 11:44] magento-engcom-team commented on #21596
Hi @rammohan-krish, here is your [Magento instance](https://i-21596-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21596-2-3-develop.instances.magento-community.engineering/admin](https://i-21596-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 11:51] rammohan-krish commented on #21596
Issue reproduced in Magento2.3.x
Please refer to the attached screenshot.
![image](https://user-images.githubusercontent.com/46926270/53879351-3dc04a80-4034-11e9-99ed-0de0b79bb7c1.png)

[2019-03-06 11:52] magento-engcom-team commented on #21596
:white_check_mark: Confirmed by @rammohan-krish
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-06 11:53] rammohan-krish commented on #21596
@magento-engcom-team give me 2.2-develop instance

[2019-03-06 11:54] magento-engcom-team commented on #21596
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-06 11:54] magento-engcom-team commented on #21596
Hi @rammohan-krish, here is your [Magento instance](https://i-21596-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21596-2-2-develop.instances.magento-community.engineering/admin](https://i-21596-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 11:57] rammohan-krish commented on #21596
@magento-engcom-team give me 2.2-develop instance

[2019-03-06 11:57] magento-engcom-team commented on #21596
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-06 11:58] magento-engcom-team commented on #21596
Hi @rammohan-krish, here is your [Magento instance](https://i-21596-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21596-2-2-develop.instances.magento-community.engineering/admin](https://i-21596-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 11:59] magento-engcom-team commented on #21595
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-06 12:00] padmapriya-thattaivaradhan commented on #9486
Any update on this issue? It happens when I check "Use Default Value" on store view and click save. The checkbox remains unchecked.

[2019-03-06 12:01] engcom-backlog-nazar commented on #21595
Hi @aario thank you for your report, magento supports, elasticsearch2.4 5.2.x and 6.0 https://github.com/magento/magento2/pull/21458

[2019-03-06 12:01] #21595 closed, assigned to nobody

[2019-03-06 12:02] magento-engcom-team commented on #21596
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-06 12:03] engcom-backlog-nazar commented on #21596
Hi @hiren0241 thank you for you report, same here -> https://github.com/magento/magento2/issues/20393

[2019-03-06 12:03] rammohan-krish commented on #21596
Reproduced in Magento2.2.x
Please refer to the attached screenshot.
![image](https://user-images.githubusercontent.com/46926270/53880027-f2a73700-4035-11e9-9439-6bf91ea66cb2.png)

[2019-03-06 12:05] rammohan-krish commented on #21596
Issue still reproducing in latest magento versions.

[2019-03-06 12:09] engcom-backlog-nazar commented on #21594
hi @Puru2016 thank you for you report, i'm not able to reproduce following steps, you described, problem may be related to your custom modules.

[2019-03-06 12:09] #21594 closed, assigned to nobody

[2019-03-06 12:12] engcom-backlog-nazar commented on #21566
HI @Faradey thank you for your report, please describe a valid case for this issue, i'm not able to reproduce following steps you described, on clean magento 2.3-dev instance.

[2019-03-06 12:12] #21566 closed, assigned to irajneeshgupta

[2019-03-06 12:16] hostep commented on #9486
@dwaynebartels: as far as I'm aware this got fixed in 2.2.6 for the adminhtml "use default value" checkboxes. But some people in here commented this isn't true but then fail to provide exact steps to reproduce on 2.2.6 or 2.2.7, so the status is a bit unknown at the moment I'm afraid.

As for REST API calls, that's a different bug, you can follow these issues:
- for products: https://github.com/ma

[2019-03-06 12:26] Al3ks73 commented on #21596
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 12:26] magento-engcom-team commented on #21596
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 12:27] magento-engcom-team commented on #21596
Hi @Al3ks73, here is your [Magento instance](https://i-21596-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21596-2-3-develop.instances.magento-community.engineering/admin](https://i-21596-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 12:47] sivaschenko commented on #17592
The pull request https://github.com/magento/magento2/pull/19095 was reverted, see details here: https://github.com/magento/magento2/pull/19095#issuecomment-470093891

[2019-03-06 13:24] eerorika opened #21599 "Google chart API used by Magento dashboard scheduled to be turned off"
Magento uses a Google web API http://chart.apis.google.com/chart to draw the admin dashboard graph. The API has been deprecated in [2012](https://developers.googleblog.com/2012/04/changes-to-deprecation-policies-and-api.html) and has been scheduled to be turned off on [March 14, 2019](https://developers.google.com/chart/image/docs/making_charts)

### Preconditions (*)

1. Any Magento version (incl

[2019-03-06 13:24] magento-engcom-team commented on #21599
Hi @eerorika. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-06 13:25] magento-engcom-team commented on #21383
Hi @devchris79. Thank you for your report.
The issue has been fixed in magento/magento2#21527 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [eaad776629a933b944663ef35c4bac08143d0592](https://github.com/magento/magento2/commit/eaad776629a933b944663ef35c4bac08143d0592)
 - [aa7fee51fb66d75800c7c454da013b75d565ebe4](https://github.com/magento/magento2/commit/aa7fee51fb66d75800c7c454da013b75

[2019-03-06 13:25] magento-engcom-team commented on #21599
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-06 13:36] magento-engcom-team commented on #21596
Hi @niravkrish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-03-06 14:19] magento-engcom-team commented on #21599
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98583`, `MAGETWO-98584` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 14:51] KevinBKozan commented on #21579
@lbajsarowicz Looking into this, and at a glance it seems that the errors in the output are from some MSI tests that are refering to entities like `AdminUpdateCustomerGroupByEmailActionGroup`, which are present in `2.3-develop` and not `2.3.0` (which is why copying files works to solve this).

My guess is that this was delivered in MSI to their release candidate branch, but it was only delivered t

[2019-03-06 15:16] shikhamis11 commented on #21590
@Karlasa thanks for your question
with the issue description and images I think it comes under design issue not major but with design there is chances of improvement

[2019-03-06 15:35] Alex-Lunkov commented on #21592
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 15:35] magento-engcom-team commented on #21592
Hi @Alex-Lunkov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 15:36] magento-engcom-team commented on #21592
Hi @Alex-Lunkov, here is your [Magento instance](https://i-21592-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21592-2-3-develop.instances.magento-community.engineering/admin](https://i-21592-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 15:45] magento-engcom-team commented on #21592
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-06 15:46] cadencelabs-master commented on #9486
Based on the code, this issue appears to have been fixed - you can see the history here: https://github.com/magento/magento2/commits/2.2/app/code/Magento/Catalog/Controller/Adminhtml/Product/Initialization/Helper/AttributeFilter.php

The addition of the isAttributeShouldNotBeUpdated method is meant to address this issue (I believe).

[2019-03-06 15:52] Rueff19 opened #21602 "2.3 - WYSIWYG Editor removes <i> tag"
### Preconditions (*)

1. Magento ver 2.3.0
2. PHP 7.2.15
3. Ubuntu 18.04.1

### Steps to reproduce (*)

1. Content -> Pages -> Show or hide wysiwg editor -> Insert <i></i> tag anywhere. Inside elements or on it's own.

### Expected result (*)

![wysiwyg_editor_error_1](https://user-images.githubusercontent.com/19212914/53894153-80c7f100-4027-11e9-995e-ad55f7df8b56.png)

### Actual result (*)

![w

[2019-03-06 15:52] magento-engcom-team commented on #21602
Hi @Rueff19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-06 15:54] Rueff19 commented on #21602
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 15:54] magento-engcom-team commented on #21602
Hi @Rueff19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 15:55] magento-engcom-team commented on #21602
Hi @Rueff19, here is your [Magento instance](https://i-21602-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21602-2-3-develop.instances.magento-community.engineering/admin](https://i-21602-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 15:56] magento-engcom-team commented on #21592
:white_check_mark: Confirmed by @Alex-Lunkov
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98586`, `MAGETWO-98587` were created

**Issue Available**: @Alex-Lunkov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-06 16:11] pjw345 opened #21603 "Adminhtml - Create order - no customer selected"
### Preconditions (*)

1. Fresh install of Magento 2 - 2.3.0
2. Deploy sample data

### Steps to reproduce (*)

1.  Sales -> Orders -> Create New Order
![capture1](https://user-images.githubusercontent.com/24723606/53895598-50ce1d00-402a-11e9-9675-4bd487a3b920.PNG)
![capture2](https://user-images.githubusercontent.com/24723606/53895622-5b88b200-402a-11e9-9d86-8548f95a4516.PNG)
2.  F5 (browser refr

[2019-03-06 16:11] magento-engcom-team commented on #21603
Hi @pjw345. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-06 16:26] Rueff19 commented on #21602
@magento-engcom-team

[2019-03-06 16:26] magento-engcom-team commented on #21602
Hi @Rueff19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 16:27] magento-engcom-team commented on #21602
Hi @Rueff19, here is your [Magento instance](https://i-21602-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21602-2-3-develop.instances.magento-community.engineering/admin](https://i-21602-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 16:55] staywithabhi commented on #10234
hi,
Is there any update on this issue,facing the same issue in magento 2.3.0.
Using onestepcheckout and facing the same issue

[2019-03-06 17:28] gwharton opened #21604 "Database Media Storage - Admin Product Edit page does not handle product images correctly in database storage mode"
### Preconditions (*)
1. Magento 2.2-develop or 2.3-develop

### Steps to reproduce (*)
1. Vanilla install of 2.2-develop or 2.3-develop
2. Change mode to database storage, synchronise and save settings
3. Add new product and assign an image
4. Save the product
5. Verify that the image is present in the filesystem (2.3-develop will fail this test due to #21546. Don't worry, carry on the test as we

[2019-03-06 17:28] magento-engcom-team commented on #21604
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-06 18:04] MichaelThessel commented on #21586
You got to be kidding me. Please point me to the section where it says:

* Delete everything in pub/static
* Delete everything in var/view_preprocessed
* Run setup:static-content:deploy.

Even if this were documented in the docs, who on earth thinks this is even a remotely reasonable deployment strategy?

[2019-03-06 18:49] ananth-iyer commented on #21603
@magento-engcom-team give me 2.3-develop instance

[2019-03-06 18:49] magento-engcom-team commented on #21603
Hi @ananth-iyer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-06 18:49] magento-engcom-team commented on #21603
Hi @ananth-iyer, here is your [Magento instance](https://i-21603-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21603-2-3-develop.instances.magento-community.engineering/admin](https://i-21603-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-06 19:08] ananth-iyer commented on #21603
@pjw345 Yes, If I refresh the customer grid page it is showing create order page to add products, etc.
After page refresh it allows to create a new customer but cannot use existing customer for the order.

[2019-03-06 20:34] ADDISON74 commented on #11292
If nobody was bothered to fix this issue it doesn't mean it is fixed by default. As an engineer I have to analyze all aspects that could potentially create trouble without letting my users to discover them. This means being a pro. Thanks God this is not aircraft industry!

I will recommend to all my clients continuing using Magento 1 as much as they can. There a many wrong UX aspects in Magento 2

[2019-03-06 21:47] rossmc opened #21608 "GraphQL not working on fresh install of 2.3"
### Summary
I'm trying to set use GraphQL on a fresh install of 2.3 so I can use it with PWA studio, but GraphQL is not working. It gives the following error.
`SyntaxError: Unexpected token < in JSON at position 0`

### Preconditions (*)

1. Magento 2.3
2. PHP 7.2
3. Set Magento to _developer mode_

### Steps to reproduce (*)

1. Followed the steps from the [devdocs](https://devdocs.magento.com/gu

[2019-03-06 21:47] magento-engcom-team commented on #21608
Hi @rossmc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-06 22:09] Faradey commented on #21566
This is example data of form and function isArrayLike. This function returns an incorrect value
[code]
result: true

[2019-03-06 22:51] magento-engcom-team commented on #16884
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-06 22:56] AleksLi commented on #16884
@magedevjosh Hi. I was investigating this issue. I can reproduce it easily. You are right.
But.. I found the similar blocks that are visible with the first page loading.
Please look at any block added here `sales_order_create_load_block_sidebar.xml`.
Let's take wishlist for example. You can find `sales_order_create_load_block_sidebar_wishlist.xml` which is describing the behavior on the first load

[2019-03-07 05:06] ihor-sviziev commented on #16355
Hi @CompactCodeEU,
Releases in 2.3.x and 2.2.x lines are going together, so this fix should be included in upcoming 2.3.1 and 2.2.9 releases, as @magento-engcom-team said

[2019-03-07 05:23] LiamKarlMitchell commented on #16203
How to backport to 2.2.5 please, has someone got an extension plugin for this, it's kind of an important functionality to let orders email know of orders...

[2019-03-07 06:31] dynamicswebkul opened #21610 "No loading mask on sitemap, when click on Save"
Getting multiple success notifiaction when clicking on save site map button.

### Preconditions (*)

1. Magento : 2.3
2. PHP : 7.2
3. Mode set : Production

### Steps to reproduce (*)

1. Go to Marketing option.
2. Click on site map
3. Then click on add site map.
4. Fill the require fields.
5. Click on save button multiple time.

### Expected result (*)

1. https://prnt.sc/mufeq1
2. Success messag

[2019-03-07 06:31] magento-engcom-team commented on #21610
Hi @webkul-ramakant. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-07 07:21] abrarpathan19 commented on #21602
@magento-engcom-team give me 2.3-develop instance

[2019-03-07 07:21] magento-engcom-team commented on #21602
Hi @abrarpathan19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-07 07:21] magento-engcom-team commented on #21602
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-03-07 07:21] magento-engcom-team commented on #21602
Hi @abrarpathan19, here is your [Magento instance](https://i-21602-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21602-2-3-develop.instances.magento-community.engineering/admin](https://i-21602-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-07 07:21] rogyar commented on #20809
I believe it's a good idea to have the same layout for all basic forms

[2019-03-07 07:46] magento-engcom-team commented on #21608
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 07:46] magento-engcom-team commented on #21610
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 07:50] magento-engcom-team commented on #21602
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 07:50] engcom-backlog-nazar commented on #21602
Hi @Rueff19 Yes, TinyMCE treats all empty elements that don't have meaning in html as empty space, same as browsers treat them. <span></span>, <div></div>, even <p></p> are not displayed in the browser. If they have any attributes, they are not removed.

[2019-03-07 07:50] #21602 closed, assigned to abrarpathan19

[2019-03-07 07:54] engcom-backlog-nazar commented on #21602
@Rueff19 work around
The second, more stable solution was to use a html comment tag, this doesn’t have the side effect of visually outputting any extra markup as per the previous option.

`<i class="fa fa-gamepad"></i>`

[2019-03-07 08:02] engcom-backlog-nazar commented on #21608
Hi @rossmc thank you for you report, i'm not able to reproduce following steps you described, please recheck your configurations.
![deepin-screen-recorder_select area_20190307100221](https://user-images.githubusercontent.com/40756439/53941200-2d55b180-40c0-11e9-8f31-0238e6e83046.gif)

[2019-03-07 08:02] #21608 closed, assigned to nobody

[2019-03-07 08:03] magento-engcom-team commented on #21603
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 08:12] priti2jcommerce commented on #21590
@magento-engcom-team give me 2.3-develop instance

[2019-03-07 08:12] magento-engcom-team commented on #21590
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-07 08:13] magento-engcom-team commented on #21590
Hi @priti2jcommerce, here is your [Magento instance](https://i-21590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21590-2-3-develop.instances.magento-community.engineering/admin](https://i-21590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-07 08:15] Rueff19 commented on #21602
@engcom-backlog-nazar Thank you, as ver 2.2 allows it I thought it was something more complicated.
Thanks for the quick reply and work arround.

[2019-03-07 08:19] digikeijs commented on #16604
Anybody got this working on 2.3? When I want to install this patch I get

 - Applying patches for magento/module-quote (1)
    ~ digikeijs/magento2: https://github.com/magento/magento2/commit/9c066ca1cc2f2db9e66575da25992ca9bb74f65a.patch [NEW]
      Fix issue getting rates while placing order from Admin panel
  [Vaimo\ComposerPatches\Exceptions\PatchFailureException]
  Cannot apply patch /tmp/com

[2019-03-07 08:21] magento-engcom-team commented on #21604
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 08:21] magento-engcom-team commented on #21610
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98604`, `MAGETWO-98605` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-07 08:26] Rueff19 commented on #21602
@engcom-backlog-nazar
With the , another thing is that it now changes the <i> tag to <em>.
In this case it doesn't affect the outcome but might be something worth looking into.

[2019-03-07 08:33] engcom-backlog-nazar commented on #21602
@Rueff19 https://github.com/tinymce/tinymce/issues/2689#issuecomment-391686340

[2019-03-07 08:37] magenx commented on #12615
the problem in `http -> https` redirect in nginx ??

[2019-03-07 08:45] magenx commented on #7266
#15031

[2019-03-07 09:02] rossmc commented on #21608
@engcom-backlog-nazar
Discovered the issue.  I installed magento with composer which have GraphQL modules remove by the replace array.
https://github.com/magento/magento2/blob/2.3-develop/composer.json#L160

I remove them from the replace array and ran composer update, and it now works :)

[2019-03-07 09:09] magento-engcom-team commented on #21610
Hi @SikailoISM. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-03-07 09:14] magento-engcom-team commented on #21603
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98606`, `MAGETWO-98607` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-07 09:29] engcom-backlog-nazar commented on #21578
Hi @TomashKhamlai thank you for you report, i dont think that we need add validation for this simple case. This is simple logic between min and max values.

[2019-03-07 09:29] #21578 closed, assigned to nobody

[2019-03-07 09:47] korostii commented on #8688
I'm confused. It seems a bit unreasonable to close a ticket if it is still a valid, confirmed, planned and unfixed issue.
I mean, it obviously doesn't help clearing your backlog since the issue is [still placed in that TODO column](https://github.com/magento/magento2/projects/14#card-5893339)

Hopefully, your internal ticket ( MAGETWO-84643 ) is still open though, please correct me if it's not?

O

[2019-03-07 09:52] engcom-backlog-nazar commented on #4567
HI @elioermini this is expected behavior, if you have order in status processing, please do the credit memo.

[2019-03-07 09:52] #4567 closed, assigned to NadiyaS

[2019-03-07 09:55] #21214 closed, assigned to abrarpathan19, krishprakash

[2019-03-07 10:17] engcom-backlog-nazar commented on #11431
Hi @lduivenvoorde this issue has already fixed in 2.3-develop branch and will be available on 2.3.2 release.

[2019-03-07 10:17] #11431 closed, assigned to magento-engcom-team

[2019-03-07 10:34] ArtemLysak opened #21612 "Customer ajax login: form_key validation is missing"
### Preconditions (*)
1. Magento 2.3.0 - both Open Source and Commerce editions
2. Guest checkout is disabled
3. Guest user

### Steps to reproduce (*)
1. Add any product to the card
2. Click "Proceed to checkout" button in minicart or shopping cart page
3. Submit login form with valid credentials
4. Intercept submitted request
5. Delete 'form_key' value from cookie
6. Delete 'form_key' value from

[2019-03-07 10:35] magento-engcom-team commented on #21612
Hi @ArtemLysak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-07 10:40] fabrice-dresscodes commented on #13466
Hello. Any progress or fix ?

[2019-03-07 10:40] lbajsarowicz opened #21613 "[MFTF] Lack of Nginx configuration to run command.php"
### Description (*)
In Magento Functional Testing Framework we have example .htaccess file for `magento2/dev/tests/acceptance/.htaccess.sample`, but there's no configuration for Nginx.

### Expected behavior (*)
There should be nginx.config.sample

### Benefits
Safe Nginx text environment

[2019-03-07 10:40] magento-engcom-team commented on #21613
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-07 10:41] magento-engcom-team commented on #21612
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 10:45] kanduvisla opened #21614 "M2.2.7 : FPC clears checkout session on uncached pages and Magento_Persistent module disabled"
I have this strange issue that when I enabled Full Page Cache (FPC), my checkout session's quote_id
is removed whenever the visitor comes on an uncached page.

I suspect that this issue has something to do with the `\Magento\Checkout\Model\Layout\DepersonalizePlugin`, which runs a `clearStorage()` on the session object so that no session-related information will be rendered accidentally in the tem

[2019-03-07 10:45] magento-engcom-team commented on #21614
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-07 10:48] magento-engcom-team commented on #21614
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 11:08] SEtela opened #21615 "Magento 2.2.6 Unable to create a new image entry with SOAP method catalogProductAttributeMediaGalleryManagementV1Create"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Create a SOAP call for catalogProductAttributeMediaGalleryManagementV1Create.
2. Try to add a new image to an existing product.

### Expected result (*)

1. The call creates a new image for the product and the image is visible in magento backend.

### Actual result (*)

1. The Create call returns:
[faultstring] => Argument 1 p

[2019-03-07 11:08] magento-engcom-team commented on #21615
Hi @SEtela. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-07 11:14] mohith227 commented on #10424
before saving the product or  any attributes of the product setCurrentStore to '0' (zero) you can do this  by following these steps

use Magento\Store\Model\StoreManagerInterface;
class YourClassName
{
 /**
     * @var StoreManagerInterface
     */
    protected $_storeManager;
 public function __construct(
    StoreManagerInterface $storeManager
    )
    {
   $this->_storeManager = $storeManager

[2019-03-07 11:17] engcom-backlog-nazar commented on #21613
HI @lbajsarowicz thank you for your report, for this small changes, please create  PR directly.

[2019-03-07 11:17] #21613 closed, assigned to nobody

[2019-03-07 11:22] nei opened #21617 "Column value_id on catalog_product_entity_varchar reaching its limit"
We've faced the issue where our attribute value_id on the table catalog_product_entity_varchar reached its limit 2147483648.

I was wondering if it is a good solution to chane it to unsigned so it would give me the double of the current size.

Something like this:
[code]

[code]

I was wondering if value_id is actually used somewhere because it seems it is not. should it should be fine to change i

[2019-03-07 11:22] magento-engcom-team commented on #21617
Hi @nei. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instanc

[2019-03-07 11:26] engcom-backlog-nazar commented on #21614
Hi @kanduvisla thank you for your report. is there any additional steps to reproduce this issue ?

[2019-03-07 11:26] magento-engcom-team commented on #21617
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 11:39] Jitheesh opened #21618 "Catalog rule with is oneof/ not one of not working with multiple SKU condition"
Catalogue rule is only applied to first SKU if we include multiple SKUs from product chooser grid while configuring **is one of** or **is not one of** conditions.
### Preconditions (*)

1. Magento 2.2 or 2.3

### Steps to reproduce (*)

1.  Include SKU attribute in promo rule conditions Store >  Attributes > Product > Edit SKU  > Use for Promo Rule Conditions > Yes
2. Create Catalogue rule, fill r

[2019-03-07 11:39] magento-engcom-team commented on #21618
Hi @Jitheesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-07 11:47] sanganinamrata opened #21620 "Update title of Review content"
### Description (*)
Update review text in menu like in Magento 1 as Review -> All reviews

![2019-03-07_17-13-57](https://user-images.githubusercontent.com/37930646/53954598-b38fe900-40fc-11e9-9a7e-080361c94d38.jpg)

### Expected behavior (*)

![2019-03-07_17-02-04](https://user-images.githubusercontent.com/37930646/53954605-bc80ba80-40fc-11e9-95c0-e2268c0bbc38.jpg)

### Benefits

It helps to get

[2019-03-07 11:47] magento-engcom-team commented on #21620
Hi @sanganinamrata. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-07 11:47] magento-engcom-team commented on #21620
Hi @gelanivishal. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-07 11:57] deloenzien commented on #13466
Enable Asynchronous sending. Then cron takes care of sending e-mails.
This works for me.

[2019-03-07 12:02] mohith227 commented on #21478
before saving the product or any attributes of the product setCurrentStore to '0' (zero) you can do this by following these steps

use Magento\Store\Model\StoreManagerInterface;
class YourClassName
{
/**
* @var StoreManagerInterface
*/
protected $_storeManager;
public function __construct(
StoreManagerInterface $storeManager
)
{
$this->_storeManager = $storeManager;
}
public function yourFunctionN

[2019-03-07 12:04] GauravTiwari0801 opened #21622 "in my system magento 2.3.0 is working very slow & products is only showing in admin panel-not in home page."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-07 12:04] magento-engcom-team commented on #21622
Hi @GauravTiwari0801. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-03-07 12:06] engcom-backlog-nazar commented on #21622
Hi @GauravTiwari0801
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-07 12:06] #21622 closed, assigned to nobody

[2019-03-07 12:06] mohith227 commented on #21386
before saving the product or any attributes of the product setCurrentStore to '0' (zero) you can do this by following these steps

use Magento\Store\Model\StoreManagerInterface;
class YourClassName
{
/**
* @var StoreManagerInterface
*/
protected $_storeManager;
public function __construct(
StoreManagerInterface $storeManager
)
{
$this->_storeManager = $storeManager;
}
public function yourFunctionN

[2019-03-07 12:07] GauravTiwari0801 commented on #4345
in my system magento 2.3.0 is working very slow & products is only showing in admin panel-not in home page.
luma theme i m using and products is not adding.

[2019-03-07 12:08] GauravTiwari0801 opened #21623 "in my system magento 2.3.0 is working very slow & products is only showing in admin panel-not in home page.i m using luma theme and products is not showing in home page"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2019-03-07 12:08] magento-engcom-team commented on #21623
Hi @GauravTiwari0801. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-03-07 12:10] engcom-backlog-nazar commented on #21617
Hi @nei
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-07 12:10] #21617 closed, assigned to nobody

[2019-03-07 12:11] engcom-backlog-nazar commented on #21623
HI @GauravTiwari0801 thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-07 12:11] #21623 closed, assigned to nobody

[2019-03-07 12:12] magento-engcom-team commented on #21604
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98608`, `MAGETWO-98609` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-07 12:17] magento-engcom-team commented on #21615
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 12:18] kanduvisla commented on #21614
@engcom-backlog-nazar I'm trying to figure out what goes wrong. I have multiple Magento 2 installations, but this only affects one. That makes it so strange.

I am currently researching the session handlers. The weird part is (on a vanilla installation) that when `writeClose()` is called, the checkout session is empty, but as soon as (on a new request) the `session_start()` is called, the checkout

[2019-03-07 12:19] engcom-backlog-nazar commented on #21615
Hi @SEtela thank you for you report, magento supports only 7.1.3+ | 7.2.x- | --
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-03-07 12:19] #21615 closed, assigned to nobody

[2019-03-07 12:21] magento-engcom-team commented on #21618
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-07 12:24] magento-engcom-team commented on #11268
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98610`, `MAGETWO-98611` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-07 12:32] SEtela commented on #21615
Hello @engcom-backlog-nazar the php version was incorrectly informed in the post by me. I checked the server end of magento and the php version there is 7.1.17. Could you please reopen the bug issue.

[2019-03-07 12:33] engcom-backlog-nazar commented on #21615
@SEtela ok, i'm will recheck if issue exist i will reopen.

[2019-03-07 12:37] dwaynebartels commented on #9186
We have dozens of clients who have this problem.

We often update only name as store-view specific (language). Because of this bug all store-view data becomes outdated very quickly.
We explain the client that this is a Magento side bug, send a link to the bug and then propose that their Magento developers solve the issue.
So then 3 parties are involved looking at this issue, which consumes allot o

[2019-03-07 12:45] magento-engcom-team commented on #21603
Hi @ananth-iyer. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-03-07 12:49] ylgenguxholliOfficial opened #21624 "Magento 2.2.7 Thumbnails Sort Order not synchronized with admin configs"
### Preconditions (*)
1. Magento Enterprise 2.2.7

### Steps to reproduce (*)

1. Change the Sort Position of images in Product Edit on admin part.
2. Set the roles for the new image i set first in position https://d.pr/free/i/vl6hrV
3. Save works fine also the sort is i set it up in admin .
4. Cleared all cache that exists, run the reindex
5. In frontend for the Thumbanils it shows the Old Sort.

[2019-03-07 12:49] magento-engcom-team commented on #21624
Hi @ylgenguxholliOfficial. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanil

[2019-03-07 12:51] nei commented on #21617
@engcom-backlog-nazar I thought it was a core issue since it is how EAV is modeled. I did question but the purpose of the issue is to actually fix it on the core but making this attribute unsigned.

[2019-03-07 12:55] PascalBrouwers commented on #21596
Any idea how to fix this?

[2019-03-07 12:57] magento-engcom-team commented on #21624
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-07 12:57] kanduvisla commented on #21614
At first tests it seems that disabling the persistent cart module caused this issue. I'll check if re-enabling it solves it.

[2019-03-07 12:57] PascalBrouwers commented on #20393
@engcom-backlog-nazar Let me make this more clear to you.
When a customer is logged in, he is forwarded to the payment step when he only has 1 address. But Because he is skipping the shipping step allot of adres validation errors occur. Same issue as https://github.com/magento/magento2/issues/21596

[2019-03-07 12:59] engcom-backlog-nazar commented on #21624
@magento-engcom-team give me 2.3-develop instance

[2019-03-07 12:59] magento-engcom-team commented on #21624
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-07 12:59] PascalBrouwers commented on #21596
You can reproduce it by being logged in, when going to checkout you are beging forwarded to the payment step when you only have 1 address. But because you are skipping the shipping step allot of address validation errors occur.

[2019-03-07 12:59] magento-engcom-team commented on #21624
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21624-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21624-2-3-develop.instances.magento-community.engineering/admin](https://i-21624-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-07 13:01] oleksii-lisovyi commented on #16604
Hi, @digikeijs.

The issue is fixed in the 2.3-develop in the commit https://github.com/magento/magento2/commit/cc00197d13d6244e32201e4c6bf00287e54747c5.
You can try to apply this commit instead of that one, that is related to 2.2.x.

[2019-03-07 13:04] digikeijs commented on #16604
Well it's not fixed in 2.3 but found a solution already but will also check your info thanks

[2019-03-07 13:05] PascalBrouwers commented on #10234
Facing this issue too.

[2019-03-07 13:07] engcom-backlog-nazar commented on #21624
Hi @ylgenguxholliOfficial thank you for you report, i'm not able to reproduce following steps you describe, this may be related to your custom modules.

[2019-03-07 13:07] #21624 closed, assigned to nobody

[2019-03-07 13:08] aishwaryasunarc commented on #10234
Any update ?

[2019-03-07 13:24] oleksii-lisovyi commented on #16604
@digikeijs, 2.3 is a stable version, but 2.3-develop is a development branch, than usually contains more fixes and improvements comparing to the branch of stable version.
Just try to apply that patch - the fix looks the same as on 2.2.

[2019-03-07 13:34] digikeijs commented on #16604
Sorry you are right, misread that :-)

[2019-03-07 13:37] kanduvisla commented on #21614
I re-enabled the module and it seems that that solves the issue. So that makes this issue reproducible (already tested it on a vanilla installation):

- Disable `Magento_Persistent` module
- Enable Full Page Cache (all caches)
- Go to product page
- Add it to the cart
- Edit the URL by adding a random parameter (for example `?foo=bar`) so it misses the cache

I'll update this issue.

@engcom-backl

[2019-03-07 13:40] digikeijs commented on #16604
Same problem :-(  Processing patches configuration

[code]

[2019-03-07 14:18] Salle79 opened #21625 "path error validation for setting values on store_config_data when path is greater than three levels"
### Description (*) (tested on pure magento)
A validator regarding amount of allowed path levels for when saving to store_config_data ($this->scopeConfig->setValue('path/to/value, "value") since more than three levels (three/level/path/to/value) breaks index=>value association when values are being read.

### Expected behavior (*)
When developer tries to set value with a invalid path Ie (too/many/

[2019-03-07 14:18] magento-engcom-team commented on #21625
Hi @Salle79. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-07 14:25] oleksii-lisovyi commented on #16604
There is one more additional commit, that was done before that change.
Please add a patch for the commit https://github.com/magento/magento2/commit/b35b68130265163f2ed151ff94e0d9f7fc63d44c as well.
This should help.

[2019-03-07 14:43] engcom-backlog-nazar commented on #21625
Hi @Salle79 thank you for you report, in magento we have more than 3 levels, and this works as expected.
![deepinscreenshot_select-area_20190307164132](https://user-images.githubusercontent.com/40756439/53964463-159a1f80-40f8-11e9-98e0-68c26393b02f.png)

[2019-03-07 14:43] #21625 closed, assigned to nobody

[2019-03-07 15:05] jorgehs91 commented on #10865
Same problem here @chrishister01 .

Any hint of how can we bypass this problem?

[2019-03-07 15:07] Krossfire opened #21626 "Can't load product's attribute set, when category_ids is outside the "General" group"
### Preconditions (*)

1. Magento 2.2.7, 2.3.0 - clean installs
2. PHP 7.1 (2.2.7), PHP7.2 (2.3.0)

### Steps to reproduce (*)

1. Create a new Attribute Set, based on the Default attribute set
2. When editing the new Attribute Set, move the "category_ids" attribute outside the General group (you can move it to any other existing group)
3. Save your new attribute set
4. Try to create a new product

[2019-03-07 15:07] magento-engcom-team commented on #21626
Hi @Krossfire. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-07 15:12] ArtemLysak opened #21627 "Duplicate private_content_version cookie in POST response"
### Preconditions (*)
1. Magento 2.3.0 - both Open Source and Commerce editions
2. FPC is enabled
2. Varnish selected as FPC processor

### Steps to reproduce (*)
1. Make any POST request to magento (add product to the cart, for example)

### Expected result (*)
There are **one** `private_content_version` cookie in magento response

### Actual result (*)
There are **two** `private_content_version`

[2019-03-07 15:13] magento-engcom-team commented on #21627
Hi @ArtemLysak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-07 15:16] engcom-backlog-nazar commented on #21615
@SEtela  i'm not able to reproduce following steps you described. on 2.3-develop branch, seems like you have null at this point.
![deepinscreenshot_select-area_20190307171021](https://user-images.githubusercontent.com/40756439/53966525-0321e500-40fc-11e9-9e47-3ad6a88579c4.png)

[2019-03-07 15:53] Axel29 commented on #21058
Hi,

I've managed to narrow down the issue. The bug only seems to appear when using store codes in URLs.

[2019-03-07 15:53] Axel29 commented on #21058
Hi @engcom-backlog-nazar ,

I've managed to narrow down the issue. The bug only seems to appear when using store codes in URLs.

[2019-03-07 15:57] magento-engcom-team commented on #21580
Hi @progreg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-07 16:00] progreg commented on #21580
@TomashKhamlai , Hi, the problem is in multiple areas. If you are using `Redirect Type: No` it means that Magento actually wouldn't do some additional request, It will use forward strategy and here we have some magic.

In case of forwarding strategy, the area will be the same as before (in case of url rewrite: frontend) and router that can match admin request available only for the admin area. And

[2019-03-07 16:22] Webroju opened #21630 "Shopping Cart has to update complete after country changes when displayed prices with tax"
Show prices with tax at the shopping cart is enabled. I ship from inside of the eu (Germany).  If I customer changed the shipping country form Germany to switzerland (Outside of the EU) then the tax goes to 0,00. This works correct at the summary on the right side. But the prices have to update also at the product table at the shopping cart. Now you see diffrent prices.

### Preconditions (*)

1.

[2019-03-07 16:22] magento-engcom-team commented on #21630
Hi @Webroju. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-07 16:29] digikeijs commented on #12436
@magento-engcom-team can you please create a proper commit and fix for this bug? Has been dragging on for so long. The issue is still present in magento 2.3 and will happen when you have a vat number in your address details. This fix actually solves the issue

vendor/magento/framework/DB/Adapter/Pdo/Mysql.php

as of line 3084 change to
[code]

[2019-03-07 16:46] digikeijs commented on #12436
@magento-engcom-team give me 2.3.0 instance

[2019-03-07 16:46] magento-engcom-team commented on #12436
Hi @digikeijs. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-07 16:47] magento-engcom-team commented on #12436
Hi @digikeijs, here is your [Magento instance](https://i-12436-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-12436-2-3-0.instances.magento-community.engineering/admin](https://i-12436-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-07 17:39] 0-Sony opened #21632 "Fatal Error on Category page if the category has a description : Uncaught TypeError: preg_match() expects parameter 2 to be string, boolean given"
### Preconditions (*)

1. Magento 2.3.0
2. php 7.2.15

### Steps to reproduce (*)

1. Add a description to a category in the back office and save.
2. Go to the category page on front

### Expected result (*)

1. See the category page with the description

### Actual result (*)

1. "Fatal error: Uncaught TypeError: preg_match() expects parameter 2 to be string, boolean given in [site_root]/vendor/m

[2019-03-07 17:39] magento-engcom-team commented on #21632
Hi @0-Sony. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-07 17:42] 0-Sony commented on #21632
@magento-engcom-team give me 2.3-develop instance

[2019-03-07 17:42] magento-engcom-team commented on #21632
Hi @0-Sony. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-07 17:43] Axel29 commented on #21058
New comment @engcom-backlog-nazar , the problem is in `\Magento\Store\App\Response\Redirect::_isUrlInternal` method that compares the base URL of the current website to the destination's website base URL.

[2019-03-07 17:43] magento-engcom-team commented on #21632
Hi @0-Sony, here is your [Magento instance](https://i-21632-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21632-2-3-develop.instances.magento-community.engineering/admin](https://i-21632-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-07 17:54] 0-Sony commented on #21632
@magento-engcom-team give me 2.3 instance

[2019-03-07 17:55] 0-Sony commented on #21632
@magento-engcom-team give me 2.3.0 instance

[2019-03-07 17:55] magento-engcom-team commented on #21632
Hi @0-Sony. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-07 17:56] magento-engcom-team commented on #21632
Hi @0-Sony, here is your [Magento instance](https://i-21632-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21632-2-3-0.instances.magento-community.engineering/admin](https://i-21632-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-07 18:24] 0-Sony commented on #21632
I am not able to reproduce the issue on develop and master instance. I close the issue.

[2019-03-07 18:24] #21632 closed, assigned to nobody

[2019-03-07 19:46] leoquijano commented on #11431
@engcom-backlog-nazar , do you have a commit number so we can apply the fix to the 2.2 line?

[2019-03-07 20:44] bartoszkubicki opened #21634 "Extending quote item with extension attributes - problem with load/save of attributes"
### Summary (*)

Recently, I was trying to extend quote item with extension attributes. I needed it inside cart and checkout. So there are actually two ways for loading and persisting extension attributes along extended model.

* First is creating plugins on repository of entity which has these new attributes.
For `CartItemRepository` this maybe would work for webapi - inside cart, checkout quote

[2019-03-07 20:44] magento-engcom-team commented on #21634
Hi @bartoszkubicki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-07 21:06] sadon commented on #10474
Magento 2.3.0

_Please select one of each of the ratings_

 doesn't translate

[2019-03-07 21:06] bartoszkubicki opened #21635 "Service contracts vs using methos from implementations"
### Summary (*)

Service contracts are really great, but there are a lot of situations when they are hard to follow. There are functions from implementations used in code or these functions are really useful and they tempt to use themselves (as we know what is the implementations and it is not likely that it will be changed). In effect, contract service are used, but in fact it impossible to chang

[2019-03-07 21:07] magento-engcom-team commented on #21635
Hi @bartoszkubicki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-07 21:37] garmentprinterink commented on #10485
I am having this same issue on Magento 2.3. Has anyone found a solution for this?

[2019-03-07 21:43] orlangur commented on #15031
Thanks @magenx, closed as duplicate.

[2019-03-07 21:43] #15031 closed, assigned to nobody

[2019-03-07 22:01] tkymuk opened #21636 "CSV upload removing configurable_variations from configuarble products"
### Preconditions (*)

1. Magento 2.3.0 CE running on siteground shared host.
2.

### Steps to reproduce (*)
1. I created a configurable product with 4 simple products as variations. I downloaded the CSV for these a template. Deleted the products on the site. Added 5 more configurable products with 4 simple products for each configurable. I uploaded this CSV to find that the simple products linked

[2019-03-07 22:01] magento-engcom-team commented on #21636
Hi @tkymuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-07 22:15] magenx commented on #15031
#7266

[2019-03-08 00:42] r-martins commented on #19479
In order to reproduce/debug the erorr, I've added an `xdebug_break()` before the throw exception on \Magento\Framework\Setup\Declaration\Schema\Db\DefinitionAggregator::fromDefinition.
This way I was able to Xdebug and see the module that was causing the problem...
![debugging-it](https://user-images.githubusercontent.com/191149/53999323-1930b380-4197-11e9-86cb-a5882afaa6a4.jpg)

[2019-03-08 04:05] jaxtheking commented on #14267
I can confirm I also get this error on all pages in the BO.

[2019-03-08 04:05] nickpiro opened #21637 "Free Shipping Cart Price Rule Issue Magento 2.3.x"
I'm not sure if this has been posted already, but we've been having an issue with cart price rules. We created a Cart Price Rule for Free Shipping for Matching Items Only. When you add an item to the cart that fits the criteria, free shipping is available. When you add a second product to the cart, one that is NOT a matching item, free shipping is still available. Please see below! Hopefully I exp

[2019-03-08 04:06] magento-engcom-team commented on #21637
Hi @nickpiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-08 04:20] nickpiro commented on #21637
@magento-engcom-team give me 2.2.5 instance

[2019-03-08 04:20] magento-engcom-team commented on #21637
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-03-08 04:21] magento-engcom-team commented on #21637
Hi @nickpiro, here is your [Magento instance](https://i-21637-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-21637-2-2-5.instances.magento-community.engineering/admin](https://i-21637-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 04:45] nickpiro commented on #21637
I was able to reproduce the issue in vanilla 2.2.5

[2019-03-08 05:08] geet07 commented on #13428
I am working on this

[2019-03-08 05:33] magento-engcom-team commented on #21612
@ansari-krish Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2019-03-08 05:35] ansari-krish commented on #21612
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 05:36] magento-engcom-team commented on #21612
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 05:36] magento-engcom-team commented on #21612
Hi @ansari-krish, here is your [Magento instance](https://i-21612-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21612-2-3-develop.instances.magento-community.engineering/admin](https://i-21612-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 07:11] Karlasa commented on #21590
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 07:11] magento-engcom-team commented on #21590
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 07:12] magento-engcom-team commented on #21590
Hi @Karlasa, here is your [Magento instance](https://i-21590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21590-2-3-develop.instances.magento-community.engineering/admin](https://i-21590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 08:38] dudzio12 commented on #19283
To make it work (this is not fix, this is to bypass someone's bad decisions):

1. `rm -rf vendor/vertex`
2. `rm -rf ~/.cache/composer/files/vertex` or `rm -rf ~/.composer/cache/files/vertex` (depeneds on OS)
3. `composer update vertex/module-tax`

That will download new zip, with different checksum. I'm pissed of changing module files without changing the version, that is bad practise and it's not

[2019-03-08 08:54] samgranger opened #21640 ""Minimum Qty Allowed in Shopping Cart" functionality breaks product "Update Attributes" functionality"
### Preconditions (*)
1. Magento 2.2.7 / 2.3.0

### Steps to reproduce (*)
1. Check the value of `cataloginventory/item_options/min_sale_qty`, the default value is `1`.
2. Go to: Stores -> Configuration -> Catalog -> Inventory
3. Make sure there are multiple or no rules for 'Minimum Qty Allowed in Shopping Cart' & save your configuration.
4. You'll now see that `cataloginventory/item_options/min_s

[2019-03-08 08:54] magento-engcom-team commented on #21640
Hi @samgranger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-08 09:04] rogyar commented on #21620
In my humble opinion, that's a good solution in terms of wording. Since "Reviews" contains pending reviews, it's a good point to mention the "All reviews"

[2019-03-08 09:10] hiren0241 commented on #21640
@magento-engcom-team Please give me 2.3-develop instance

[2019-03-08 09:14] hiren0241 commented on #21640
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 09:14] magento-engcom-team commented on #21640
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 09:15] magento-engcom-team commented on #21640
Hi @hiren0241, here is your [Magento instance](https://i-21640-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21640-2-3-develop.instances.magento-community.engineering/admin](https://i-21640-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 09:19] magento-engcom-team commented on #14112
Hi @riccardougolini. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-03-08 09:29] hiren0241 commented on #21640
Hi @samgranger, By following steps to reproduce, I am unable to reproduce it.

[2019-03-08 09:30] riccardougolini commented on #14112
not reproducible for Magento 2.3

[2019-03-08 09:36] samgranger commented on #21640
@hiren0241 I noticed the setting wasn't changed, see screenshot. I have changed this for you. Please try the Update Attributes functionality again.
<img width="1492" alt="screen shot 2019-03-08 at 10 31 39" src="https://user-images.githubusercontent.com/1847151/54020400-fcdc4900-418d-11e9-9fea-1711c2e619c3.png">

<img width="1598" alt="screen shot 2019-03-08 at 10 35 50" src="https://user-images.g

[2019-03-08 09:38] magento-engcom-team commented on #21612
Hi @ansari-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-08 09:38] hiren0241 commented on #21640
@samgranger Okay, got  your point. Let me try once again.

[2019-03-08 09:44] hiren0241 commented on #21640
@samgranger Reproduced. Thanks for correction.

[2019-03-08 09:44] ansari-krish commented on #21612
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 09:44] magento-engcom-team commented on #21612
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 09:44] magento-engcom-team commented on #21640
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-08 09:45] magento-engcom-team commented on #21612
Hi @ansari-krish, here is your [Magento instance](https://i-21612-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21612-2-3-develop.instances.magento-community.engineering/admin](https://i-21612-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 09:47] magento-engcom-team commented on #21640
:white_check_mark: Confirmed by @hiren0241
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-08 09:47] hiren0241 commented on #21640
@magento-engcom-team give me 2.2-develop instance

[2019-03-08 09:47] magento-engcom-team commented on #21640
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-08 09:48] magento-engcom-team commented on #21640
Hi @hiren0241, here is your [Magento instance](https://i-21640-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21640-2-2-develop.instances.magento-community.engineering/admin](https://i-21640-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 09:57] riccardougolini commented on #21546
hi,
i tried to reproduce it on Magento 2.3: i followed the steps but seems to be fine on this version. @gwharton have you tried to clean cache after changing db settings? @magento-engcom-team

[2019-03-08 09:57] rogyar commented on #21618
Hi @Jitheesh.
I cannot reproduce this issue on 2.3-develop. If you select products from the list (upon SKUs selection), the values are being added with ", " as a separator. But once the rule is saved, the separator is trimmed to "," automatically.
If you try to open and edit the rule by adding the spaces manually - the spaces are trimmed once again after rule saving.

**Condition**
![image](https:

[2019-03-08 10:00] magento-engcom-team commented on #21640
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-08 10:07] magento-engcom-team commented on #21499
Hi @lfluvisotto. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-03-08 10:08] hiren0241 commented on #21640
@samgranger
Issue confirmed: https://prnt.sc/mv00le
Presently, I am working on this issue.

[2019-03-08 10:10] dudzio12 commented on #19283
@rafael-shkembi - It happened to me yesterday on 2.3 instance.

Personally I think, that this issue is Magento independent and can only be truly fixed by applying the authors of the package to good practices. The bad part is that they cannot roll back it, because one half of developers updated the package and second half have not and one package cannot exist in two checksum simultaneously. We can

[2019-03-08 10:10] akosglue commented on #19187
is this solved finally? I get the same error in 2.3., with php 7.2

[2019-03-08 10:12] sparrowek opened #21641 "Incorrect product counts in layered navigation for stock status"
### Preconditions (*)

1. Magento version 2.2.6
2. Standard installation, no custom plugins

### Steps to reproduce (*)

1. Enable filterable (no results) for quantity_and_stock_status attribute.
2. Enable show out of stock products.
3. Edit one of products and change its status to out of stock.
4. Clear cache and re-index.

### Expected result (*)

1. The quantity filter should appear in the laye

[2019-03-08 10:12] magento-engcom-team commented on #21641
Hi @sparrowek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-08 10:15] digikeijs commented on #16604
Sorry for all the questions, can you help me running multiple patches? Like this it does not work

[code]

[2019-03-08 10:17] magento-engcom-team commented on #21626
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-08 10:18] Jitheesh commented on #21618
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 10:18] shikhamis11 commented on #21626
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 10:18] magento-engcom-team commented on #21618
Hi @Jitheesh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 10:18] magento-engcom-team commented on #21626
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 10:19] magento-engcom-team commented on #21618
Hi @Jitheesh, here is your [Magento instance](https://i-21618-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21618-2-3-develop.instances.magento-community.engineering/admin](https://i-21618-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 10:20] magento-engcom-team commented on #21626
Hi @shikhamis11, here is your [Magento instance](https://i-21626-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21626-2-3-develop.instances.magento-community.engineering/admin](https://i-21626-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 10:27] Webroju commented on #21630
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 10:28] magento-engcom-team commented on #21630
Hi @Webroju. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 10:28] magento-engcom-team commented on #21630
Hi @Webroju, here is your [Magento instance](https://i-21630-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21630-2-3-develop.instances.magento-community.engineering/admin](https://i-21630-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 10:28] shikhamis11 commented on #21626
@magento-engcom-team give me 2.2-develop instance

[2019-03-08 10:28] magento-engcom-team commented on #21626
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-08 10:29] magento-engcom-team commented on #21626
Hi @shikhamis11, here is your [Magento instance](https://i-21626-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21626-2-2-develop.instances.magento-community.engineering/admin](https://i-21626-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 10:36] gwharton commented on #21546
@riccardougolini Yeah, ive tried clearing cache. See the below video.

https://www.youtube.com/watch?v=2jFL7l1fZGs

If you apply #21605 and rerun the test then you make some progress and the image is copied locally and displays correctly on the admin page, but the cached images are still not pre-processed, as per this bug.

[2019-03-08 10:37] asim-vax commented on #21326
@engcom-backlog-nazar has there been any update?

[2019-03-08 10:38] shikhamis11 commented on #21626
@Krossfire Thank you for your report . this issue is not coming either on 2.3-develop and 2.2-develop instance. so I am closing this one message here if you still getting this issue on 2.2 of 2.3 develop instance

[2019-03-08 10:38] #21626 closed, assigned to shikhamis11

[2019-03-08 10:39] magento-engcom-team commented on #21640
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-08 10:40] samgranger commented on #21640
Great, thank you @hiren0241

[2019-03-08 10:44] magento-engcom-team commented on #21640
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98627`, `MAGETWO-98628` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-08 10:51] riccardougolini commented on #21546
@gwharton I tried again following your video but seems to be ok. Can i've a copy of your config.php? is a clear magento 2.3 installation?

[2019-03-08 10:51] magento-engcom-team commented on #21641
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-08 10:51] Jitheesh commented on #21618
Hi @rogyar

I'm not able to replicate this issue on Magento 2.3 develop [instance](https://i-21618-2-3-develop.instances.magento-community.engineering/)  but still I can see this issue on my local 2.3 branch. Maybe this issue is resolved by recent pull requests.

[2019-03-08 11:01] Webroju commented on #21630
it is reproducible on the Magento 2.3-develop instance

[2019-03-08 11:08] akosglue commented on #1146
same in 2.3.0

[2019-03-08 11:11] OvalMedia opened #21642 "Using two databases, one with the other without table_prefix"
### Summary (*)
magento 2.2.7

I created an additional custom database connection. While the magento database uses a table_prefix, the custom database does not. When accessing the custom database through custom models magento tries to access the tables with a prefix.

env.php:

[code]
I have looked all over the internet but nobdy seems to have a solution.

### Proposed solution
Since the table_pre

[2019-03-08 11:11] magento-engcom-team commented on #21642
Hi @OvalMedia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-08 11:23] sivaschenko commented on #21637
#magettestfest19

[2019-03-08 11:24] thanhdv2811 opened #21644 "Unable to get user id when customer is logged in"
### Preconditions (*)

1. PHP 7.1.26
2. Magento 2.3

### Steps to reproduce (*)

1. Inject class \Magento\Customer\Model\Authorization\CustomerSessionUserContext in any constructor method
2. Log in to customer account
3. call method getUserId on the frontend

### Expected result (*)

1. Return user id

### Actual result (*)

1. return null

[2019-03-08 11:24] magento-engcom-team commented on #21644
Hi @thanhdv2811. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-08 11:26] oleksii-lisovyi commented on #16604
No problem. Each patch must contain 1 source. So adding 2 patches for 1 module requires to have following structure:

[code]

Please check on typos, because I'm writing from phone.

[2019-03-08 11:38] charleskj commented on #19842
facing same in 2.2.7

[2019-03-08 11:41] samuel27m opened #21645 "Different default ON_DELETE parameters in two classes"
### Summary (*)

Function `Magento\Framework\DB\Ddl\Table::addForeignKey` has onDelete parameter default to null which leads to be set in the table as NO ACTION

Function `Magento\Framework\DB\Adapter\AdapterInterface::addForeignKey` has onDelete parameters default which leads to be set in the table as CASCADE

### Examples (*)

$connection is a `Magento\Framework\DB\Adapter\AdapterInterface` obje

[2019-03-08 11:41] magento-engcom-team commented on #21645
Hi @samuel27m. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-08 11:47] jakwinkler opened #21646 "Multisource Inventory, can't ship items when using default Stocks"
### Preconditions (*)

1. Magento 2.3
2. Multisource inventory setup to use default stock

### Steps to reproduce (*)

1. Create a simple product with Qty 1
2. Complete checkout process with that product
3. Go to admin panel: try to create shipment for that order

### Expected result (*)

1. Shipment should be created, no errors

### Actual result (*)

1. Error: `Not all of your products are avail

[2019-03-08 11:47] magento-engcom-team commented on #21646
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-08 11:57] Karlasa opened #21648 "Checkout Agreements checkbox missing asterisk"
### Preconditions (*)

saw issue in both 2.2 and 2.3

### Steps to reproduce (*)

1. Create Terms and Conditions agreement
2. Enable it with "manual" setting so checkbox would be shown
3. Go to checkout

### Expected result (*)

Agreement checkbox label should have red asterisk as it's required to check it

### Actual result (*)

Asterisk is missing and after pressing place order gives message tha

[2019-03-08 11:57] magento-engcom-team commented on #21648
Hi @Karlasa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-08 11:59] magento-engcom-team commented on #21192
Hi @DenisSaltanahmedov. Thank you for your report.
The issue has been fixed in magento/magento2#21476 by @DenisSaltanahmedov in 2.3-develop branch
Related commit(s):
 - [2f1bc31ea9a1c2430ee7e1453e95fc312bced9a2](https://github.com/magento/magento2/commit/2f1bc31ea9a1c2430ee7e1453e95fc312bced9a2)
 - [e29807f35269bb72f5ad9b963042d9d5b8e66498](https://github.com/magento/magento2/commit/e29807f35269bb

[2019-03-08 11:59] #21192 closed, assigned to DenisSaltanahmedov

[2019-03-08 11:59] magento-engcom-team commented on #20187
Hi @melaxon. Thank you for your report.
The issue has been fixed in magento/magento2#20239 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [e6f642277893816ba6384f3a3b92c6b2ead6a4bc](https://github.com/magento/magento2/commit/e6f642277893816ba6384f3a3b92c6b2ead6a4bc)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-08 11:59] #20187 closed, assigned to melaxon, GovindaSharma

[2019-03-08 11:59] magento-engcom-team commented on #21329
Hi @AnshuMishra17. Thank you for your report.
The issue has been fixed in magento/magento2#21462 by @AnshuMishra17 in 2.3-develop branch
Related commit(s):
 - [7cacec1f4b4abe09d991c79f4e15cb465056b670](https://github.com/magento/magento2/commit/7cacec1f4b4abe09d991c79f4e15cb465056b670)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-08 11:59] magento-engcom-team commented on #21278
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#21279 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [c9a9d6406aaa5a4d68e2ed35abe5f847c394285c](https://github.com/magento/magento2/commit/c9a9d6406aaa5a4d68e2ed35abe5f847c394285c)
 - [92d2a3c1e5a2f71c67b1335b7d909136e106b554](https://github.com/magento/magento2/commit/92d2a3c1e5a2f71c67b1

[2019-03-08 11:59] magento-engcom-team commented on #19117
Hi @rauberdaniel. Thank you for your report.
The issue has been fixed in magento/magento2#20484 by @david-fuehr in 2.3-develop branch
Related commit(s):
 - [79cefb5a1015fbfd870d3a691d3340aaf6ff451b](https://github.com/magento/magento2/commit/79cefb5a1015fbfd870d3a691d3340aaf6ff451b)
 - [41de8cbda332b839eddc754e51adb2c6ada54fcc](https://github.com/magento/magento2/commit/41de8cbda332b839eddc754e51a

[2019-03-08 11:59] #21278 closed, assigned to nobody

[2019-03-08 11:59] #19117 closed, assigned to nobody

[2019-03-08 11:59] magento-engcom-team commented on #19632
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19637 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [2e855c44cc81096d6ea18e446e16fe95b9529d61](https://github.com/magento/magento2/commit/2e855c44cc81096d6ea18e446e16fe95b9529d61)
 - [f4de9140885de05d73573dea06bfc81ecba557a4](https://github.com/magento/magento2/commit/f4de9140885de05d73573dea06bfc81e

[2019-03-08 11:59] #19632 closed, assigned to SyntaxKay

[2019-03-08 11:59] magento-engcom-team commented on #17297
Hi @j0um. Thank you for your report.
The issue has been fixed in magento/magento2#18705 by @pmclain in 2.3-develop branch
Related commit(s):
 - [0db0e84dee2a3c1ef66ab83ed7950a9db9b5af17](https://github.com/magento/magento2/commit/0db0e84dee2a3c1ef66ab83ed7950a9db9b5af17)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-08 11:59] #17297 closed, assigned to pmclain

[2019-03-08 12:00] wjpbill commented on #17310
I've been directed to post on here by Yireo as they think my problem is the same.

Firstly, I'm not brilliantly technical so apologies if this isn't clear.

On a live M2.2.5 site, running in production mode with docroot set to pub, I've started seeing errors in exception.log

`[2019-03-03 10:50:36] main.CRITICAL: Report ID: webapi-5c7bb17c499c1; Message: Warning: session_start(): Failed to read se

[2019-03-08 12:08] pixiemediaweb commented on #21557
One of our clients is having this issue also since updating to 2.2.6.  When creating an order in admin for an item with 1 in stock, they get 'we dont have as many [product name] as you requested' when trying to add the item to the order.

Is there a known fix?

[2019-03-08 12:08] gwharton commented on #21546
Yeah, I'm not sure why you can't reproduce it. I dont do anything special in my test deployments.

The steps in my install script are

[code]

[2019-03-08 12:17] MartinAarts opened #21650 "Saving product with options with thousands separator in price fails"
### Preconditions (*)

Magento 2.2.7
Set admin user locale to for example dutch
### Steps to reproduce (*)

1. Create a product with custom options
2. set price of custom option to 1000
3. Save product
4. open product again, and try to save.

### Expected result (*)

1. Product should save fine.

### Actual result (*)

1. When opening product for the second time, the price of the product has been

[2019-03-08 12:17] magento-engcom-team commented on #21650
Hi @MartinAarts. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-08 12:18] MartinAarts commented on #21650
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 12:18] magento-engcom-team commented on #21650
Hi @MartinAarts. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 12:19] magento-engcom-team commented on #21650
Hi @MartinAarts, here is your [Magento instance](https://i-21650-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21650-2-3-develop.instances.magento-community.engineering/admin](https://i-21650-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 12:45] MartinAarts commented on #21650
Just reproduced this issue on 2.3 develop.
![schermafbeelding 2019-03-08 om 13 44 53](https://user-images.githubusercontent.com/22233203/54029352-65d0ba80-41a8-11e9-8390-9f7ccd1f5654.png)

[2019-03-08 13:10] magento-engcom-team commented on #21077
Hi @prakash2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21588 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [ab2de1505b5b98d746c3623269e19fdb283676b5](https://github.com/magento/magento2/commit/ab2de1505b5b98d746c3623269e19fdb283676b5)
 - [c6c6ead1aaaa5e45b992aff7d564a44c2276e083](https://github.com/magento/magento2/commit/c6c6ead1aaaa5e45b99

[2019-03-08 13:10] magento-engcom-team commented on #18134
Hi @N1ghtfl0w. Thank you for your report.
The issue has been fixed in magento/magento2#19551 by @suneet64 in 2.2-develop branch
Related commit(s):
 - [f0a92f2a2ad7e6a8f6c03b7bded7b2092561f07b](https://github.com/magento/magento2/commit/f0a92f2a2ad7e6a8f6c03b7bded7b2092561f07b)
 - [dbf5293d42f7f88eae47913b746278cf16045914](https://github.com/magento/magento2/commit/dbf5293d42f7f88eae47913b746278cf1

[2019-03-08 13:10] magento-engcom-team commented on #20310
Hi @NickdeK. Thank you for your report.
The issue has been fixed in magento/magento2#21570 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [ce1c1a2e8f2342efb287934066e70587fe16c30d](https://github.com/magento/magento2/commit/ce1c1a2e8f2342efb287934066e70587fe16c30d)
 - [c821730fa110d93f92a87feb3e1bc8253c6ba820](https://github.com/magento/magento2/commit/c821730fa110d93f92a87feb3e1bc825

[2019-03-08 13:14] wouter-toppershops commented on #19747
there is an diff patch for
https://github.com/magento/magento2/commit/312cd809b49b569ad0b5900504c4dec76c573cbd.diff

[2019-03-08 13:17] DigitalStartupUK commented on #17310
@wjpbill This appears to be related to your session handler such as Redis or Varnish. Perhaps they aren't configured to take on your increase in site traffic? I'd focus my investigation into that.

[2019-03-08 13:18] daniel-ifrim opened #21651 "News from date and news to date icons alignment in admin edit product page"
### Preconditions (*)

1. Magento 2.3.0 with sample data

### Steps to reproduce (*)

1. Go to a product edit page in admin
2. Look on fields 'Set Product as New From' and 'To'.

### Expected result (*)

1. The date picker icon (calendar icon) is not visually aligned. The icon of news from date attribute is over the input text of attribute news to date.

### Actual result (*)

1. The icons should

[2019-03-08 13:18] magento-engcom-team commented on #21651
Hi @daniel-ifrim. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-08 13:29] matthewhaworth opened #21653 "Advanced reports fails to export on certain operating systems"
### Preconditions (*)

1. Clean install of Magento 2.3.0

### Steps to reproduce (*)

1. Enable the Magento Advanced Reporting cron job
2. Wait for the cron job to run

### Expected result (*)

1. The cron job should finish successfully
2. Access to advanced reporting should therefore be granted (provided other conditions are satisfied).

### Actual result (*)

1. The cron job fails due to an infi

[2019-03-08 13:29] magento-engcom-team commented on #21653
Hi @matthewhaworth. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-08 13:33] sergiynezbritskiy opened #21654 "\Magento\Framework\Data\Collection::clear does not clear the result for \Magento\Framework\Data\Collection::getSize"
:

### Preconditions (*)

1. Magento version: 2.2.5 - 2.2.7

### Steps to reproduce (*)

1. Create any instance of \Magento\Framework\Data\Collection. e.g. \Magento\Sales\Model\ResourceModel\Order\Collection
2. Get count for this collection, call getSize().
3. Change collection select. e.g. add some additional filter by calling \Magento\Framework\Data\Collection\AbstractDb::addFieldToFilter('entit

[2019-03-08 13:33] magento-engcom-team commented on #21654
Hi @sergeynezbritskiy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-03-08 13:33] matthewhaworth commented on #21653
I've found that this appears to have already been fixed here: https://github.com/magento/magento2/commit/f08a19d0ee62362dfb64596377fe786c3f95cd09

[2019-03-08 13:33] #21653 closed, assigned to nobody

[2019-03-08 13:34] aleromano89 commented on #18410
Hi @RishabhRkRai, I have tried to reproduce the issue on dev-2.3-develop but the order changes are reflected both on simple product page and on configurable page, by selecting product X.
Can you give me more details in order to reproduce this issue?

thanks

[2019-03-08 13:44] wjpbill commented on #17310
Thanks for replying DigitalStatupUK, very much appreciated.

My hosting company got someone to work on it and they've increase max_concurrency to 20.

Fingers crossed it handles it all. It does seem a bit short sighted by Magento though not to flag it anywhere.

[2019-03-08 13:45] hiren0241 commented on #21640
@samgranger While getting configuration from database , this value: '{&quot;32000&quot;:456,&quot;0&quot;:123}' creates an error.

[2019-03-08 13:47] DigitalStartupUK commented on #17310
@wjpbill Awesome. Please, give us an update in the future to confirm the fix. Others would find that very useful to know.

[2019-03-08 13:53] avstudnitz commented on #7931
@orlangur This happened to us as well. Having a low limit for the maximum cookies IS a Magento issue. We'll report that to the Commerce support as well. Please reopen. Magento supports customizing, so telling us that it's no issue if it's not reproducable on a Vanilla installation is an invalid excuse.

[2019-03-08 14:02] samgranger commented on #21640
Indeed, I believe this use to be a fixed integer value but now it can vary per user group. You'd expect the default value would also be an object now instead of just being `1`.

[2019-03-08 14:18] danemacmillan opened #21655 "setup:static-content:deploy's `--language` option does nothing"
Given how frustratingly inaccurate, overlooked, or plain wrong the devdocs are on too many occasions, and how inaccurate, plain broken, or simply void the Magento2 tools are, and the amount of time spent debugging issues to get to this point, this is the most I can commit to reporting a ticket. Tend to your garden, team.

I'm on version `2.2.7`. Vanilla install.

When I run the following CLI comma

[2019-03-08 14:18] magento-engcom-team commented on #21655
Hi @danemacmillan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-08 14:19] danemacmillan commented on #21655
This is the most you're going to get.

[2019-03-08 14:31] danemacmillan opened #21656 "setup:static-content:deploy's `--symlink-locale` option does nothing"
Version: `2.2.7` vanilla install

Not only does the `--symlink-locale` option do nothing, it has no mention in the docs. In fact, there is just about no code in the core related to this functionality, beyond the constant assigned the option name. If this option is no longer valid, why do you keep it in the code?

😠

I've made mention of this issue in #21655 as well.

[2019-03-08 14:31] magento-engcom-team commented on #21656
Hi @danemacmillan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-08 14:38] aleromano89 opened #21657 "Placeholder image added to gallery when configurable product has no images"
### Preconditions
1. Magento 2.3-develop

### Steps to reproduce
1. Have product configurable A (visibility-catalog,search) and one or more simple products associated to it.
2. Associate one or more images to the simple product X. (no images for configurable)
3. On frontend, go to configurable product page and select product X.

### Expected result
1. You see just images associated to the simple p

[2019-03-08 14:39] magento-engcom-team commented on #21657
Hi @aleromano89. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-08 14:41] aleromano89 commented on #21657
@magento-engcom-team give me 2.3-develop instance

[2019-03-08 14:41] magento-engcom-team commented on #21657
Hi @aleromano89. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-08 14:41] magento-engcom-team commented on #21657
Hi @aleromano89, here is your [Magento instance](https://i-21657-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21657-2-3-develop.instances.magento-community.engineering/admin](https://i-21657-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-08 15:07] aleromano89 commented on #21657
@magento-engcom-team I confirm, the issue is reproducible on vanilla Magento instance. Thank you

[2019-03-08 15:15] lfluvisotto commented on #21499
@wojtekn

It isn't a JS hack it's a JS fix, since magento 1 and now with magento 2 that button to clear/empty the cart comes before the update cart button.

For example: your fix is about changing the position of buttons, but if the user want to keep in their layout/template the clear/empty cart button button before update cart button, your fix it's going to fail.

[2019-03-08 15:17] sudhanshu-bajaj commented on #21657
Hi @aleromano89 this issue is not reproducible at my end. Thank you.

[2019-03-08 15:18] distvan commented on #6126
I can reproduce this issue in version 2.3.0 well anytime:
1.step:  turn off the inventory management (Stores/configuration/catalog/inventory/product stock options/Manage stock: NO)
2. step: create a category
3. step: create a product and put into the category
4. load the category page and see the error

[2019-03-08 15:22] sudhanshu-bajaj commented on #21657
Hi @aleromano89, I think this is not an issue. This is default behaviour of gallery display.

[2019-03-08 15:25] aleromano89 commented on #21657
@sudhanshu-bajaj I know it is default, but placeholder is not a real image and it could be better to hide it.

[2019-03-08 15:35] hiren0241 commented on #21640
@samgranger  I have fixed issue by getting exact configuration value set by back-end configuration. Now, whatever sets in back-end same will reflect in frontend as well.

[2019-03-08 16:01] garmentprinterink opened #21659 "Datetime format error"
### Preconditions (*)

1. Magento Open Souce 2.3
2.Linux server running CentOS release 6.10 (Final)

### Steps to reproduce (*)

1. Upgrade from Magento 2.2.5 to 2.3
2. Create a new product > Set Product as New from and to
3. Click save.

### Expected result (*)

1. I expected the product to be saved.
2. For the product to be labeled as new for the time period I selected.

### Actual result (*)

1

[2019-03-08 16:01] magento-engcom-team commented on #21659
Hi @garmentprinterink. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-03-08 16:07] garmentprinterink commented on #21659
Yes, I was able to reproduce this error on a vanilla version of Magento.

[2019-03-08 16:53] mvillarejoruiz commented on #21428
Hi!
Same problem here with magento 2.3.
Configurable product with empty short description returns fatal error :
![image](https://user-images.githubusercontent.com/31466237/54042666-f7512400-41ca-11e9-8e97-7937b1ce7280.png)

[2019-03-08 17:05] josenacasabogiii commented on #18752
I also had this issue after migrating from Magento 1.9.3 to Magento 2.3. Not sure how to fix it. Is there an update or quick fix to this one? Thank you!!

[2019-03-08 17:47] testmagento2 commented on #14090
I don't get why Magento not giving a solution for Payment methods on multi shipping addresses, for credit card.

[2019-03-08 19:15] hassanas commented on #7635
https://magento.stackexchange.com/questions/261272/magento-2-2-7-no-such-entity-with-cartid/265089#265089

[2019-03-08 20:10] orlangur commented on #7931
@avstudnitz Magento should contain limits corresponding to RFC so that store is available for maximum amount of customers. If in your case too much cookies were used, simply customize the limit, there is nothing to fix here from Magento side.

[2019-03-08 20:14] orlangur commented on #7931
@avstudnitz also, please check https://github.com/magento/magento2/issues/17195#issuecomment-445139580, the part which needs to be changed from Magento side is tracked there.

[2019-03-09 02:43] chrishister01 commented on #10865
It turned out we were running into a bug within the system. After applying a later patch, everything started working as expected. I can't recall which part of the system needed this patch, but it had something to do with the checkout functionality.
--
Chris HisterSenior Web Developer, Austin TX773.620.0387

    On Thursday, March 7, 2019, 9:06:09 AM CST, Jorge Henrique <notifications@github.com> w

[2019-03-09 08:33] ankit-root commented on #13276
I have faced the same issue on Magento 2.2.6 before we have migration from M1 to M2

When I added Configurable products on the cart then added Simple product on the cart will facing error

 PHP Fatal error:  Uncaught Error: Call to undefined method Magento\\Bundle\\Model\\Product\\Type::getConfigurableAttributeCollection() in /var/www/html/magentothird/vendor/magento/module-configurable-product/He

[2019-03-09 08:35] ankit-root opened #21663 "Call to undefined method Magento\Bundle\Model\Product\Type::getConfigurableAttributeCollection()"
**1) Summary of the issue**

    I have faced the below issue on Magento 2.2.6 before we have migration from M1.1.9 to M2.2.6
    When I added Configurable products on the cart then added Simple product on the cart will facing error but when we added Simple product on the cart then added Configurable product on the cart after working fine

**2) Information on your environment**
  - Magento 2.2.6

[2019-03-09 08:35] magento-engcom-team commented on #21663
Hi @ankit-root. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-09 08:53] ankit-root commented on #21663
**1) Summary of the issue**

    I have faced the below issue on Magento 2.2.6 before we have migration from M1.1.9 to M2.2.6
    When I added Configurable products on the cart then added Simple product on the cart will facing error but when we added Simple product on the cart then added Configurable product on the cart after working fine

**2) Information on your environment**
  - Magento 2.2.6

[2019-03-09 08:57] magento-engcom-team commented on #21663
Hi @ankit-root. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-09 08:57] magento-engcom-team commented on #21663
Hi @ankit-root, here is your [Magento instance](https://i-21663-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21663-2-3-develop.instances.magento-community.engineering/admin](https://i-21663-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-09 09:00] ankit-root commented on #21663
what will we do on instance server?

[2019-03-09 09:17] ankit-root commented on #21663
I have used the same scenario on your server it's working but after migration these not working.t

[2019-03-09 09:22] ankit-root opened #21664 "Uncaught Error: Call to undefined method Magento\\Bundle\\Model\\Product\\Type::getConfigurableAttributeCollection()"
**1) Summary of the issue**

    I have faced the below issue on Magento 2.2.6 before we have migration from M1.1.9 to M2.2.6
    When I added Configurable products on the cart then added Simple product on the cart will facing error but when we added Simple product on the cart then added Configurable product on the cart after working fine

**2) Information on your environment**
  - Magento 2.2.6

[2019-03-09 09:22] magento-engcom-team commented on #21664
Hi @ankit-root. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-09 09:37] ankit-root commented on #21664
no

[2019-03-09 09:37] magento-engcom-team commented on #21664
Hi @ankit-root. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-09 09:38] magento-engcom-team commented on #21664
Hi @ankit-root, here is your [Magento instance](https://i-21664-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21664-2-3-develop.instances.magento-community.engineering/admin](https://i-21664-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-09 12:02] josenacasabogiii commented on #18752
I don't understand this error

An exception occurred on 'sales_model_service_quote_submit_failure' event: Rolled back transaction has not been completed correctly.
#0 /home/porcel12/public_html/products-new/vendor/magento/framework/Model/ResourceModel/AbstractResource.php(65): Magento\Framework\DB\Adapter\Pdo\Mysql-&gt;beginTransaction()
#1 /home/porcel12/public_html/products-new/vendor/magento/fr

[2019-03-09 15:13] maghamed commented on #21646
The corresponding ticket created in MSI GitHub https://github.com/magento-engcom/msi/issues/2073

But current steps to reproduce are not enough to replicate the issue, as the most basic scenario is described which is covered by both Functional Acceptance and integration tests and non-reproducible on clean Magento 2.3 installation.

I have several questions which could lead us to find a root cause

[2019-03-09 16:38] nickpiro commented on #21637
Anyone? I would think more websites would have issues with free shipping being added to products that don't ship free. Surprised it's still an issue in 2.2.5.

[2019-03-09 20:31] magento-engcom-team commented on #21499
Hi @magento-engcom-team. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><

[2019-03-10 00:43] CKENT0369 opened #21666 "Invalid input datetime format of value, set product as new"
### Preconditions (*)
1. Magento 2.3
2. en_US locale

### Steps to reproduce (*)
1. Create or edit product
2. Change date field for new from to anything
3. Click Save

### Expected result (*)

1. Product Saves with new from date

### Actual result (*)
1. Error occurs stating "Invalid input datetime format of value '3/09/2019'"
2. Product does not save.
3. Clearing the new from or to date allows sa

[2019-03-10 00:43] magento-engcom-team commented on #21666
Hi @CKENT0369. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-10 02:26] nightlybuilt commented on #19874
Neither the 'Save and Config' button nor the orange 'Save Config' button works for me. Nothing happens. They just does nothing. There were absolutely no JavaScript errors logged in the console. There is no way to change the theme for the storefront for me and I am lost.

I am using:
- Magento Community Edition 2.3.0
- WAMP 3.1.7 with PHP 7.1.26

[2019-03-10 05:17] mannanmughal commented on #19168
I'm having the same issue, is there a solution provided yet?

[2019-03-10 05:17] mannanmughal commented on #19168
I'm having the same issue, is there a solution provided yet?

[2019-03-10 05:25] dharake opened #21667 "New Rellic Indexing error in Magento 2.3.0 CE"
### Preconditions (*)

1. Ubuntu 18.04 LTS, Nginx, PHP 7.2, Varnish, Redis, MySQL, Magento 2.3.0 CE
2.New Rellic Reporting connected, APM applications successfully created by Magento through the API.

### Steps to reproduce (*)

1. Allow Magento to reindex data normally through cronjobs
2. Monitor exception.log & system.log
### Expected result (*)

1. Successful reindexation without errors

### Ac

[2019-03-10 05:25] magento-engcom-team commented on #21667
Hi @dharake. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-10 05:27] dharake commented on #21667
@magento-engcom-team I confirm this issue is being produced on a Vanilla Magento 2.3 CE instance

[2019-03-10 05:50] dharake opened #21668 "Magento 2.3 CE backend urser interface problem for product attribute options"
### Preconditions (*)

1.M2.3 CE running on any environment, not important here.

### Steps to reproduce (*)

1. Create 14 store views
2. Create a product attribute with options (i.e. dropdown)

### Expected result (*)

1. I should have adequate space in the table to input my values.

### Actual result (*)

1. ![Capture](https://user-images.githubusercontent.com/22891885/54081172-ef979980-4308-11e

[2019-03-10 05:50] magento-engcom-team commented on #21668
Hi @dharake. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-10 05:54] magento-engcom-team commented on #21655
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-10 05:55] milindsingh commented on #21655
This issue is same as  https://github.com/magento/magento2/issues/16806

I am already working on it, will test and complete by this weekend:
https://github.com/magento/magento2/pull/19944

[2019-03-10 05:57] dharake commented on #21668
@magento-engcom-team I confirm it's a Vanilla Magento instance.

[2019-03-10 05:58] magento-engcom-team commented on #21654
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-10 09:05] DanielRuf commented on #19874
@nightlybuilt please open a new issue.

[2019-03-10 09:27] thangasujithas commented on #6859
Hi,
 I am facing same problem. I have given the below configurations but now also shipping cost showed exclusive of tax in shopping cart but in checkout page it shows with tax.
Tax Class for Shipping -> Taxable goods
Calculation Settings -> Shipping Prices -> Excluding Tax
Shopping Cart Display Settings -> Display Shipping Amount -> Including Tax.
Can anyone give the solution for this.

[2019-03-10 10:46] hostep commented on #21651
@daniel-ifrim: thanks for the report. I believe this is a duplicate of https://github.com/magento/magento2/issues/18581, which was fixed in https://github.com/magento/magento2/pull/18638 and is to be released in 2.2.8 & 2.3.1 later this month.

Closing as duplicate, if you don't agree, please let me know.

[2019-03-10 10:46] #21651 closed, assigned to nobody

[2019-03-10 11:18] dmytro-ch commented on #21640
Hi @samgranger,
thank you for your report!

This bug has been already reported in #17592.
So I'm closing the current issue in order to avoid duplicates.

Thank you!

[2019-03-10 11:18] #21640 closed, assigned to hiren0241

[2019-03-10 11:49] Microtribute opened #21669 "Unable to Change Theme in Magento 2.3.0 (Non-duplicate, Requested to Open as a New Issue)"
### Preconditions (*)
- Magento Community Edition 2.3.0
- WAMP 3.1.7 with PHP 7.1.26
- Windows Server 2019 Datacenter.
- Google Chrome Version 72.0.3626.121 (Official Build) (64-bit)

### Steps to reproduce (*)
1. Log into the Admin Console.
2. Go to Content -> Configuration
3. Click an Edit link from any of the rows of the displayed table of stores and store views.
4. Change the Applied Theme to

[2019-03-10 11:49] magento-engcom-team commented on #21669
Hi @nightlybuilt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-10 12:21] usamahabib786 commented on #20366
@rddwh hi did you able to find a way for creating configurable products with bulk api? or still waiting for magento's update? Any reply soon will be highly appreciated as i am seriously facing issue at my work due to this

thanks

[2019-03-10 12:28] vasilii-b commented on #21669
@magento-engcom-team give me 2.3-develop instance

[2019-03-10 12:28] magento-engcom-team commented on #21669
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-10 12:29] magento-engcom-team commented on #21669
Hi @vasilii-b, here is your [Magento instance](https://i-21669-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21669-2-3-develop.instances.magento-community.engineering/admin](https://i-21669-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-10 12:44] DanielRuf commented on #21669
@Nazar65 why the downvote?

[2019-03-10 13:13] gwharton opened #21671 "Database Media Storage - Transaction emails logo not used when pub/media cleared"
### Preconditions (*)
1. 2.2-develop or 2.3-develop

### Steps to reproduce (*)
1. Setup Magento
2. Change media storage mode to database
3. Synchronize
4. Save Settings
5. Set store General Contact email address to valid email
6. Set email logo (Content->Configuration->Edit->Transactional Emails)
7. Clear Cache
8. Verify email logo exists in database <- This will fail here due to #21672
9. Verify

[2019-03-10 13:13] magento-engcom-team commented on #21671
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-10 13:14] gwharton commented on #21671
Reproducable on both 2.2-develop and 2.3-develop

[2019-03-10 14:02] Nazar65 commented on #21669
@DanielRuf WAMP 3.1.7 with PHP 7.1.26

[2019-03-10 14:13] gwharton opened #21672 "Database Media Storage - Design Config fails to save transactional email logo correctly"
### Preconditions (*)
1. 2.2-develop or 2.3-develop

### Steps to reproduce (*)
1. Setup Magento
2. Change media storage mode to database
3. Synchronize
4. Save Settings
5. Content->Configuration->Edit->Transactional Emails
6. Upload New Image (but don't save)
7. Verify temporary email logo exists in pub/media
8. Verify temporary email logo exists in database
9. Save Config
10. Verify email logo e

[2019-03-10 14:13] magento-engcom-team commented on #21672
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-10 14:26] DanielRuf commented on #21669
Not sure but this should be no problem.

The PHP version is supported and you can use the stack you want - if it works is a different thing.

[2019-03-10 14:30] Nazar65 commented on #21669
@DanielRuf WAMP 3.1.7 i'm mean that windows not supports

[2019-03-10 14:38] DanielRuf commented on #21669
I am aware of this. But please let us check if we can reproduce this or not. Someone is already working on this.

[2019-03-10 14:39] DanielRuf commented on #21669
We just dropped the official Windows support due to specific issues. This does not mean that Magento does not run on Windows anymore.

[2019-03-10 16:44] nightlybuilt commented on #21669
@DanielRuf @Nazar65 I don't think the issue is happening because I am using WAMP or Windows. Other parts of Magento work well for me.

[2019-03-10 18:12] magento-engcom-team commented on #21669
Hi @Leandry. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-10 18:16] magento-engcom-team commented on #21668
Hi @Leandry. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-10 18:16] Leandry commented on #21668
@magento-engcom-team give me 2.3-develop instance

[2019-03-10 18:16] magento-engcom-team commented on #21668
Hi @Leandry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-10 18:17] magento-engcom-team commented on #21668
Hi @Leandry, here is your [Magento instance](https://i-21668-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21668-2-3-develop.instances.magento-community.engineering/admin](https://i-21668-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-10 18:36] Leandry commented on #21668
Hi, @dharake.

Unfortunately, I was not able to reproduce the issue on three different browsers on 2.3 Vanilla Magento instance.
![2019-03-10_20-25-39](https://user-images.githubusercontent.com/9416636/54089602-49cd4480-4373-11e9-911e-cecac33a0d3a.gif)

Could you update preconditions and give more information(for example browser and OS)?

Thank you!

[2019-03-10 18:52] Leandry commented on #21669
Hi, @DanielRuf
I was not able to reproduce the issue. I successfully changed the theme and saved the store view/website.
![2019-03-10_20-44-51](https://user-images.githubusercontent.com/9416636/54089849-1f30bb00-4376-11e9-8ef2-046051687799.gif)

Could you try to reproduce the issue on Vanilla Magento 2.3 CE instance?
`@magento-engcom-team give me 2.3-develop instance`

Thank you!

[2019-03-10 18:52] magento-engcom-team commented on #21669
Hi @Leandry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-10 18:52] magento-engcom-team commented on #21669
Hi @Leandry, here is your [Magento instance](https://i-21669-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21669-2-3-develop.instances.magento-community.engineering/admin](https://i-21669-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-10 18:57] nightlybuilt commented on #21669
Guys, I use 2.3.0 not 2.3-develop.

[2019-03-10 19:12] dharake commented on #21668
Hi @Leandry ,

Thanks for taking the time to test this.

Please find attached, Chrome, IE, Edge

![ie](https://user-images.githubusercontent.com/22891885/54089935-2d330b80-4377-11e9-9bb3-c7bae8e3ed1d.PNG)
![edge](https://user-images.githubusercontent.com/22891885/54089936-2dcba200-4377-11e9-8df3-f74a66b020be.PNG)
![chrome](https://user-images.githubusercontent.com/22891885/54089937-2dcba200-4377-1

[2019-03-10 19:15] dharake commented on #21668
Hi @Leandry ,

Thanks for taking the time to test this.

Please find attached, Chrome, IE, Edge

![ie](https://user-images.githubusercontent.com/22891885/54089935-2d330b80-4377-11e9-9bb3-c7bae8e3ed1d.PNG)
![edge](https://user-images.githubusercontent.com/22891885/54089936-2dcba200-4377-11e9-8df3-f74a66b020be.PNG)
![chrome](https://user-images.githubusercontent.com/22891885/54089937-2dcba200-4377-1

[2019-03-10 19:47] Leandry commented on #21668
@dharake,

Thank you for additional information, but the issue was not replicated on GC, EDGE.

![2019-03-10_21-43-26](https://user-images.githubusercontent.com/9416636/54090536-daa91d80-437d-11e9-9ebf-a13f8ea26da7.png)

Closing the issue.

Thank you!

[2019-03-10 19:47] DanielRuf commented on #21669
So it is solved in the latest dev build then.
So this will be fixed in 2.3.1 or later.

[2019-03-10 19:47] #21668 closed, assigned to nobody

[2019-03-10 19:48] DanielRuf commented on #21669
@magento-engcom-team give me 2.3.0 instance

[2019-03-10 19:48] dharake commented on #21668
Quelle surprise!

[2019-03-10 19:48] magento-engcom-team commented on #21669
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-10 19:48] magento-engcom-team commented on #21669
Hi @DanielRuf, here is your [Magento instance](https://i-21669-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21669-2-3-0.instances.magento-community.engineering/admin](https://i-21669-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-10 19:51] nightlybuilt commented on #21669
@DanielRuf How do I install Magento 2.3.1? Can't find an official documentation. Just do a git clone?

[2019-03-10 19:51] DanielRuf commented on #21669
I can not reproduce it on 2.3.0.

[2019-03-10 19:52] DanielRuf commented on #21669
2.3.1 is not yet released.
https://github.com/magento/magento2/releases

[2019-03-10 20:07] magento-engcom-team commented on #21666
Hi @Leandry. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-10 20:07] Leandry commented on #21666
@magento-engcom-team give me 2.3-develop instance

[2019-03-10 20:07] magento-engcom-team commented on #21666
Hi @Leandry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-10 20:08] magento-engcom-team commented on #21666
Hi @Leandry, here is your [Magento instance](https://i-21666-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21666-2-3-develop.instances.magento-community.engineering/admin](https://i-21666-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-10 20:54] shikhamis11 commented on #21659
@magento-engcom-team give me 2.3-develop instance

[2019-03-10 20:54] magento-engcom-team commented on #21659
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-10 20:55] magento-engcom-team commented on #21659
Hi @shikhamis11, here is your [Magento instance](https://i-21659-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21659-2-3-develop.instances.magento-community.engineering/admin](https://i-21659-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-10 21:19] Leandry commented on #21666
Hi @CKENT0369

The issue was reproduced in 2.3.0 but **fixed** in 2.3-develop.

So, Please wait for a feature release 2.3.1.

Thank you!

[2019-03-10 21:21] #21666 closed, assigned to nobody

[2019-03-10 21:22] Leandry commented on #21669
Not reproduce in 2.3.0

[2019-03-10 21:22] #21669 closed, assigned to nobody

[2019-03-10 21:25] CKENT0369 commented on #21666
That doesnt do much good for trying to get an an install up and running. What is the lead time on 2.3.1. Also is there a commit that I can look at to find what files need to be change to fix for now.

[2019-03-10 21:53] baskuis commented on #12975
Hi @danscan1712 - if you don't mind me asking. Since you haven't followed up for a while about this issue - have you been able to resolve it? I'm having the same issue - payload is exactly as it should - all the id's and quantities match. But calling the rest/vi/order/[ID]/ship endpoint with the payload as you described above results in: "Shipment Document Validation Error(s):\nThe order does not

[2019-03-10 23:25] onepack opened #21678 "Magento 2.3 catalogsearch_fulltext no dropdown attribute labels but numbers"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2
3. Demo content

### Steps to reproduce (*)

1. Use a standard of Create a custom dropdown attribute and make it available in the search.
2. Assign the attribute to an attribute group
3. Set the value of the attribute in a product
4. Reindex all indexes via cli command

### Expected result (*)

1. Expected is that the product can than be searched vi

[2019-03-10 23:26] magento-engcom-team commented on #21678
Hi @onepack. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-10 23:49] CKENT0369 opened #21679 "Sku not cleaned from db when deleted"
### Preconditions (*)

1. 2.3

### Steps to reproduce (*)

1. Create a configurable product
2. Enter SKU example - 100-123-4567
3. Select configurable options
4. Save product
5. Go to product grid in admin
6. Select the newly created configurable and it simple products.
7. Select actions and click delete
8. Products are deleted from grid
9. Create a new configurable product same as before. With sa

[2019-03-10 23:49] magento-engcom-team commented on #21679
Hi @CKENT0369. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-11 04:02] laladtn opened #21680 "Catalog price rules doesn't take effect"
### Preconditions (*)

1. Magento 2 EE ver. 2.2.5

### Steps to reproduce (*)

1. Marketing > Catalog Price Rules
2. Add new rule
3. Fill in Rule name, Select all in Websites and Customer Groups
4. Conditions: no conditions
5. Actions: Apply as percentage of original - Discount amount: 10%
6. Save
7. Flush cache

### Expected result (*)

1. On front-end, product price is marked down 10% from the r

[2019-03-11 04:02] magento-engcom-team commented on #21680
Hi @laladtn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-11 06:14] qsolutions-pl commented on #21646
1. There are no 3rd party extensions related to stock management
2. We created only 1 stock, default one
3. Product Qty = 1, product was created in admin UI, managed stock
4. Ordered 1 qty
5. 15
6. 15
7. 0

Stock was updated by the client over the weekend.
Could this be related to Magento 2.2 -> 2.3 upgrade which was done last week?

[2019-03-11 06:55] amol2jcommerce commented on #21603
@magento-engcom-team give me 2.2-develop instance

[2019-03-11 06:55] magento-engcom-team commented on #21603
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-11 06:55] magento-engcom-team commented on #21603
Hi @amol2jcommerce, here is your [Magento instance](https://i-21603-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21603-2-2-develop.instances.magento-community.engineering/admin](https://i-21603-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 07:07] abrarpathan19 commented on #21657
@magento-engcom-team give me 2.3-develop instance

[2019-03-11 07:07] magento-engcom-team commented on #21657
Hi @abrarpathan19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-11 07:07] magento-engcom-team commented on #21657
Hi @abrarpathan19, here is your [Magento instance](https://i-21657-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21657-2-3-develop.instances.magento-community.engineering/admin](https://i-21657-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 07:20] rydemods commented on #7658
Still have this issue with Magento 2.3

[2019-03-11 07:36] magento-engcom-team commented on #21664
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 07:36] magento-engcom-team commented on #21656
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue