[2018-08-15 19:27] Dan0sz commented on #3149
@tigerx,

The fix to this is pretty simple actually:

Just update the updateBaseImage()-method with the following:

    updateBaseImage: function (images, context, isInProductView, eventName) {
        var gallery = context.find(self.options.mediaGallerySelector).data('gallery');

        if (eventName === undefined && gallery !== undefined) {
            self.processUpdateBaseImage(images, contex

[2018-08-15 19:29] Dan0sz commented on #12517
@tigerx, @TonyDeplanque, @czettnersandor, @magento-engcom-team

The fix to this is pretty simple actually:

Just update the updateBaseImage()-method with the following:

    updateBaseImage: function (images, context, isInProductView, eventName) {
        var gallery = context.find(self.options.mediaGallerySelector).data('gallery');

        if (eventName === undefined && gallery !== undefined) {

[2018-08-15 19:56] Ctucker9233 commented on #12426
@alfonso-eusebio I've noticed the same as well. I think you have it right.

[2018-08-15 21:11] graemel commented on #13225
I see this behaviour in 2.1.

[2018-08-15 22:39] kingavi26 commented on #5847
Thank you very much.

[2018-08-15 23:58] lfolco commented on #7557
I have a commit that I'm testing, please don't close this.

[2018-08-16 02:50] simonworkhouse commented on #17614
@engcom-backlog-nickolas Try updating the url suffixes directly in the config.php file.

[2018-08-16 03:12] rqsakai commented on #17580
In your case, it didn't happen because your stores have different increment id prefixes.

In my vanilla installation and in my customer installation when I create store views they have the same prefixes.

Kind regards,

[2018-08-16 03:32] shansari25 commented on #2568
Im facing this issue in Magento 2.2.4 - products disappeared after reindex. Pls suggest a solution.

Magento is seriously a very bad tool, i made a big mistake, i have gone through several issues. And now this one and no patch and no solution anywhere.

[2018-08-16 03:39] shansari25 commented on #8018
Im facing this issue in Magento 2.2.4 - products disappeared after reindex. Pls suggest a solution.

Magento is seriously a very bad tool, i made a big mistake, i have gone through several issues. And now this one and no patch and no solution anywhere.

Pls suggest a solution to solve this issue. The solution given above doesnt fit for Magento 2.2.4, pls suggest a solution for Magento 2.2.4 versio

[2018-08-16 03:39] kllee824 commented on #7488
More understanding the custom option issue, I have a problem, the configurable product's custom options are missing when click 'add to cart' button. But only a few products are missing, we need deleted the option and re-created them to resume the function. But we have found the issue still occurs after the day but a different configurable product.

Thanks
Kalun

[2018-08-16 03:42] shansari25 commented on #10471
Im facing this issue in Magento 2.2.4 - products disappeared after reindex. Pls suggest a solution.

Magento is seriously a very bad tool, i made a big mistake, i have gone through several issues. And now this one and no patch and no solution anywhere.

Pls suggest a solution to solve this issue. The solution given above doesnt fit for Magento 2.2.4, pls suggest a solution for Magento 2.2.4 versio

[2018-08-16 04:04] shansari25 commented on #8018
Im facing this issue in Magento 2.2.4 - products disappeared after reindex. Pls suggest a solution.

Pls suggest a solution. The solution given above doesnt fit for Magento 2.2.4, pls suggest a solution for Magento 2.2.4 version. The folder structure shown above doesn't match with 2.2.4 version so not able to understand where I have to make changes. And I guess after making the code changes we nee

[2018-08-16 05:13] dbsdsun opened #17635 "addExpressionFieldToSelect has to be called after all addFieldToSelect"
### Preconditions

1. Magento 2.1.12
2.

### Steps to reproduce

1. create a collection
2. the following code will only addExpressionFieldToSelect before addFieldToSelect, and the 'stime_part' won't appear in the result.
           $bookingCollection = $this->_bookingCollectionFactory->create();
            $bookingCollection->addExpressionFieldToSelect('stime_part', 'time(start_time)', []);

[2018-08-16 05:13] magento-engcom-team commented on #17635
Hi @dbsdsun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-16 06:00] andreperegrina commented on #16729
This anyone solve this problem?
I have the same issue in Chrome

[2018-08-16 06:54] dbsdsun commented on #17340
You need to upgrade a javascript library, I remember it is jQuery.

The problem is the javascript to remove cookie failed.

[2018-08-16 06:57] engcom-backlog-nickolas commented on #17580
@rqsakai, different increment id prefixes for different store views it's default vanilla magento behaviour.
https://github.com/magento/magento2/blob/50f974b0c8f3ada8d7a2c9b0f9924976dacd2088/app/code/Magento/Quote/Model/QuoteManagement.php#L458
https://github.com/magento/magento2/blob/50f974b0c8f3ada8d7a2c9b0f9924976dacd2088/app/code/Magento/Quote/Model/ResourceModel/Quote.php#L166-L172

If you'd l

[2018-08-16 06:57] #17580 closed, assigned to nobody

[2018-08-16 07:24] #17600 closed, assigned to nobody

[2018-08-16 07:41] Johan-Trp commented on #14667
To quantify the problem, I've started measuring the issue with Tag Manager and GA User Timings. If more of you do this, we can put the problem in perspective by quantifying it.

In Tag Manager you make:

Trigger: PDP First Product Visible with type Element Visibility, Selection Method: CSS Selector on element img.fotorama__img (depends on your theme perhaps), once per page, say 40% visibility (sma

[2018-08-16 07:58] magento-engcom-team commented on #13747
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#15942 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [933e4964b2d67bb1865325902c8245db453b060f](https://github.com/magento/magento2/commit/933e4964b2d67bb1865325902c8245db453b060f)
 - [a579bff44bbf87cf623efe36d70b52f610978415](https://github.com/magento/magento2/commit/a579bff44bbf87cf623efe36d70b52f6109

[2018-08-16 07:58] #13747 closed, assigned to eduard13

[2018-08-16 08:03] CompactCodeEU commented on #8018
@shansari25 They have changed indexing in Magento 2.2.5. Not sure if that fixes it. We did not have any problems anymore after upgrading our clients to Magento 2.2.4. Since the functions changed within that directory i guess they changed this bug.
I used to set isRangingNeeded to false but now it seems that is default.
You can check that in `vendor/magento/module-catalog/Model/Indexer/Product/Cate

[2018-08-16 08:14] josh-carter commented on #10454
@jeffb1a5 I've actually done this in a separate extension myself. You'd have to create one and add some sort of identifier to the JSON thats rendered JsonSwatchConfig i think it'd be. You'd then look at setting a flag maybe to identify the out of stock sections, then based off that in the JS add a class onto the swatch elements and handle the strikethrough with CSS.

Thats one was to go for it. I

[2018-08-16 08:46] Stassy opened #17638 "Bundle Special Prices not correctly rounded"
When adding a Special Price to a bundle like 78,9473% (4 decimals), it's saved ok in the database.
If you load the same bundle and save again, it's changed to 78.95% (2 decimals)

### Preconditions
1. Magento 2.2.5 (able to reproduce everytime)

### Steps to reproduce
1. Create one product with price 760€
2. Create a bundle with this product
3. Set a special price to this bundle to 78.9473%
    (I

[2018-08-16 08:46] magento-engcom-team commented on #17638
Hi @Stassy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-16 08:49] Stassy commented on #17638
@magento-engcom-team give me 2.2.5 instance

[2018-08-16 08:49] magento-engcom-team commented on #17638
Hi @Stassy. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-16 08:50] magento-engcom-team commented on #17638
Hi @Stassy, here is your [Magento instance](https://i-17638-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17638-2-2-5.engcom.dev.magento.com/admin](https://i-17638-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-16 08:54] engcom-backlog-nickolas commented on #17635
Hello @dbsdsun, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-16 08:55] Stassy commented on #17638
@magento-engcom-team I confirm I can reproduce it on Vanilla

[2018-08-16 09:04] raisaev commented on #12594
Transforming the Reviews grid to the version based on UiComponent is definitely a good thing.

But the issue can be reproduced on ANY of grids that still use the old approach. Yes, perhaps this is really the last of the grids that do not use UiComponent in Magento Core but there can be a lot in other extensions written for M2.

A good solution is to do both:
- fix the selection bug for all old gri

[2018-08-16 09:12] bernykosh commented on #5119
i am having the same issue

[2018-08-16 09:16] engcom-backlog-andrii commented on #17634
@bruno-serfe , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-16 09:22] #17318 closed, assigned to nobody

[2018-08-16 10:09] chris-pook commented on #16427
Thanks for the workaround suggestion @troublediehard , this is a pretty serious issue as clients are unable to manage their content without a major upgrade.

[2018-08-16 10:31] josh-carter commented on #16069
Possibly related to https://github.com/magento/magento2/pull/12936 & https://github.com/magento/magento2/issues/10454

[2018-08-16 11:13] topranavp opened #17639 "Export Products is not working after 2.2 versions"
### Preconditions
Have installed Magento 2.3, 2.4, 2.5 with Sample Data, tried to export data from Admin->System->Export->Products. Seems, Entity Attributes grid is not loading. It was loading in M2.1 version.

### Steps to reproduce
1. Install Magento 2.3 or Later versions with Sample Data
2. Admin->System->Export, select Products in Entity Type, Entity Attribute grid is not loading plus upon cli

[2018-08-16 11:13] magento-engcom-team commented on #17639
Hi @topranavp. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-16 11:16] snoroozi commented on #14667
It's the js

On Thu, Aug 16, 2018, 3:42 AM Johan T. <notifications@github.com> wrote:

[2018-08-16 11:27] philip-teslenko opened #17640 "Sales Rule shipping discount incorrect applying"
### Preconditions
1. Magento ver. 2.2.5

### Steps to reproduce
1. Create new Sales Rule
2. Add discount rules and conditions
3. Switch "Apply to shipping amount" checkbox to "Yes"
4. Save Sales Rule

### Expected result

1. Discount conditions are applied only to shipping cost

### Actual result

1. Discount is applied simultaneously to quote subtotal and to shipping cost

[2018-08-16 11:27] magento-engcom-team commented on #17640
Hi @philip-teslenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-08-16 11:31] engcom-backlog-pb commented on #15827
@PiotrSzlagura, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-16 11:36] marionvdw commented on #6876
Hi !

I have the same problem but I can't solve it.
Can you explain what you did exactly please ?

Thank you in advance !!

[2018-08-16 11:36] tuyennn commented on #5261
@dunghangnuakhong  @magento-engcom-team
"We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9"

I still could reproduce this on 2.1.9, any bug fix commit or reference link for this issue.
 1. Check QTY and stock status before check out.
![image](https://user-images.githubusercontent.com/4010395/44206140-04e98280-a183-11e8-9b95-a112eefbc527.png)
 2. Check out order and payment success.
![image](https://u

[2018-08-16 11:38] marionvdw opened #17641 ""Add New Address" button - blank page"
In the customer account Address Book the button to "Add New Address" in the additional address entries section does nothing (blank page).
Preconditions

    Magento 2.1.14

Steps to reproduce

    Go to "Account" page
    Navigate to "Address Book"
    Click "Add New Address" button

Expected result

    On "Add New Address" button click should prompt a new form to create an additional address

Ac

[2018-08-16 11:38] magento-engcom-team commented on #17641
Hi @marionvdw. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-16 11:46] engcom-backlog-pb commented on #17639
@topranavp, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/44206619-19b61e00-a163-11e8-856d-3f0da448b973.gif)

[2018-08-16 12:05] szreka commented on #17621
@magento-engcom-andrii I couldn't recreate this issue on a clean install. I reported it because this issue appears on more projects, but it might be caused by a custom module. Thank you for your reply.

[2018-08-16 12:05] #17621 closed, assigned to nobody

[2018-08-16 12:32] engcom-backlog-andrii commented on #17638
@Stassy , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-16 12:50] Vikram0811 commented on #17340
@dbsdsun can you let me know which JS to update and where to update?

Thanks

[2018-08-16 12:51] engcom-backlog-pb commented on #15697
@mpchadwick, thank you for your report.
This GitHub issue tracker is intended for Magento Community Edition technical issues only, so it's not recommended to create Elasticsearch-related issues here.

[2018-08-16 12:51] #15697 closed, assigned to nobody

[2018-08-16 13:09] sanjayjethva commented on #9497
I am facing same issue in 2.2.5

[2018-08-16 13:13] sidolov commented on #16273
Hi @adampmoss. Thank you for your report.
The issue has been fixed in magento/magento2#16310 by @vasilii-b in 2.1-develop branch
Related commit(s):
 - [2f8f469b36c7390a602b7f9c9713b03a64f5184b](https://github.com/magento/magento2/commit/2f8f469b36c7390a602b7f9c9713b03a64f5184b)
 - [ecfbe2450f844fea4dcc2c45aacc72accf5ec796](https://github.com/magento/magento2/commit/ecfbe2450f844fea4dcc2c45aacc72ac

[2018-08-16 13:13] sidolov commented on #13102
Hi @ruthger92. Thank you for your report.
The issue has been fixed in magento/magento2#17632 by @mage2pratik in 2.1-develop branch
Related commit(s):
 - [81c0320faf3fc5df6dee1227d22651604ade8b57](https://github.com/magento/magento2/commit/81c0320faf3fc5df6dee1227d22651604ade8b57)
 - [c729a3bb2bec3a505c4ab523ad04897b0519be2c](https://github.com/magento/magento2/commit/c729a3bb2bec3a505c4ab523ad0489

[2018-08-16 13:13] sidolov commented on #16499
Hi @emiprotech. Thank you for your report.
The issue has been fixed in magento/magento2#17629 by @jignesh-baldha in 2.1-develop branch
Related commit(s):
 - [0ffcfab6105c468cf461225ee07e088b525b80c7](https://github.com/magento/magento2/commit/0ffcfab6105c468cf461225ee07e088b525b80c7)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-16 13:15] engcom-backlog-nickolas commented on #17640
Hello @philip-teslenko, thank you for your report. Described behaviour is correct one. Apply to Shipping Amount = Yes means discount will be applied also to shipping cost, Even if you take a look at comment below button, it doesn't say discount will be applied only to shipping cost.
![apply_to_shipping](https://user-images.githubusercontent.com/40755810/44208571-5f75e500-a169-11e8-9040-f9c76b015eb

[2018-08-16 13:15] #17640 closed, assigned to nobody

[2018-08-16 13:33] davidalger commented on #13225
This is a problem with 2.2.x as well. It starts with the files in static/_cache/merged not being written during static content deploy, and then the issue is compounded (on either a read-only file system or ) when Magento attempts to write merged JS / CSS files to disk during a web request.

[2018-08-16 13:35] engcom-backlog-andrii commented on #17641
@marionvdw , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-16 13:54] engcom-backlog-pb commented on #17285
@edwinbos, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/44212784-f1cfb600-a174-11e8-86cd-c4b9447ea9dd.gif)

[2018-08-16 13:54] #17285 closed, assigned to nobody

[2018-08-16 14:15] magento-engcom-team commented on #15085
Hi @jesse-dev. Thank you for your report.
The issue has been fixed in magento/magento2#17562 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [897e7df9441d121af626cace56cbc2a53e35c38d](https://github.com/magento/magento2/commit/897e7df9441d121af626cace56cbc2a53e35c38d)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-16 14:15] magento-engcom-team commented on #10687
Hi @boxyman. Thank you for your report.
The issue has been fixed in magento/magento2#17554 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [1c74f5576011cd442dc086e52935c9fe68e7aa3e](https://github.com/magento/magento2/commit/1c74f5576011cd442dc086e52935c9fe68e7aa3e)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-16 14:15] magento-engcom-team commented on #16555
Hi @p-bystritsky. Thank you for your report.
The issue has been fixed in magento/magento2#16784 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [ab1324ecc1d5e2990acfd4f14c7b77765d343a9e](https://github.com/magento/magento2/commit/ab1324ecc1d5e2990acfd4f14c7b77765d343a9e)
 - [7187c2e318e41e0e5bf0c93f663e17d543ee5380](https://github.com/magento/magento2/commit/7187c2e318e41e0e5bf0c93f663e1

[2018-08-16 14:15] magento-engcom-team commented on #13948
Hi @doctormess. Thank you for your report.
The issue has been fixed in magento/magento2#17610 by @arnoudhgz in 2.3-develop branch
Related commit(s):
 - [43bbdb5730adbe56d161e38e236035c4af0a2c2f](https://github.com/magento/magento2/commit/43bbdb5730adbe56d161e38e236035c4af0a2c2f)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-16 14:15] magento-engcom-team commented on #15041
Hi @leoquijano. Thank you for your report.
The issue has been fixed in magento/magento2#17604 by @jignesh-baldha in 2.3-develop branch
Related commit(s):
 - [b6df8e7c9046b0125fb3211217572dd26c7cbee7](https://github.com/magento/magento2/commit/b6df8e7c9046b0125fb3211217572dd26c7cbee7)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-16 14:15] magento-engcom-team commented on #17587
Hi @simonworkhouse. Thank you for your report.
The issue has been fixed in magento/magento2#17596 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [9a5bfd3f38f09f94553ef79da140291943a5e57a](https://github.com/magento/magento2/commit/9a5bfd3f38f09f94553ef79da140291943a5e57a)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-16 15:10] engcom-backlog-nickolas commented on #14602
Hello @treii28, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-16 15:16] BoyH opened #17644 "Error message - 'Unable to send mail.'"
Hi,

Orders can not be processed by customers, the following error message is given: 'Unable to send mail'.

Changing the email address doesn't help. What to do?

Thanks.

Regards,
Boy

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-16 15:16] magento-engcom-team commented on #17644
Hi @BoyH. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-16 16:42] muckee opened #17647 "Magento 2.2.5: Closing bracket/semi-colon is removed from Magento_Ui bootstrap.js and app.js files."
When I access the files via the path `[magento_dir]/vendor/magento/module-ui/js/...`, then I can see that the files do contain the closing bracket and semi-colon, but when they are rendered on the frontend it is missing.

### Preconditions
1. Ubuntu 18.04
2. Nginx 1.14
3. MariaDB 15.1 Distrib 10.1.34
4. PHP 7.1

### Steps to reproduce
1. Install Magento 2.2.5.
2. Access website frontend
3. View co

[2018-08-16 16:42] magento-engcom-team commented on #17647
Hi @JoshuaFlood. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-16 16:55] rochaaa commented on #4699
Still getting in 2.2.5

**Solution above** by @rafaelcalero and @JustinWang24 works like a charm.

[2018-08-16 16:56] ncompass commented on #16531
Yes FileInfo PHP module fixed this for me.

I think the compatibility checker needs to check against the required PHP modules for the version you are about to update to. Not your current version.

This way we'd all be made aware that changes are required prior to upgrade.

[2018-08-16 16:57] shansari25 commented on #8018
@CompactCodeEU
thank you for your response and I could see that isRangingNeeded is returning false.

But my issue is not resolved, how do I resolve it, the products are totally blank in the frontend and we are not able to find out what to do, looks like there is no other mention of this issue anywhere other than making changes in isRangingNeeded.

Pls suggest a solution or a way to solve this issu

[2018-08-16 17:07] clikit101 commented on #12366
@bmzero
Did you ever find a solution for Magento 2.2.3 or did you only resort to Kfriend's patch?  I am looking at ParadoxLabs's Authorize.net CIM extension and wondering if that would not be the ultimate solution

[2018-08-16 17:26] AndyJAllen commented on #16101
I am experiencing the same problem on Magento 2.2.5, using the same steps as ilievski. The problem only happens when you sign in AFTER adding the product to the cart.

[2018-08-16 17:52] hostep commented on #17634
@engcom-backlog-andrii or @bruno-serfe, can you guys add some more exact steps to reproduce?

I've seen this happening occasionally that caches get disabled somehow by "something", but it is certainly not for **every** `composer update` call, there must be some other condition, otherwise I would run into this problem multiple times a day, which simply isn't happening.

Exact conditions and steps t

[2018-08-16 18:06] bruno-serfe commented on #17634
Hi @hostep I've tried in my work environment and it's just that, I've bring the latest changes from the git repo and then executed "composer update" just "as is" with no other previous command and is just disabling entire magento 2 cache, commands that are executed after composer update are:

[code]

and that's all., hope that helps. Magento version is 2.2.3

Kind regards,
Bruno

[2018-08-16 18:27] bruno-serfe commented on #17634
Hi @hostep
Regarding:

I really don't know, but I'll consider to check that, if it helps to resolve this.
I'll post back when I've some update about that.

Thanks to you guys.

[2018-08-16 18:29] joshuaadickerson commented on #12366
@clikit101 I'd recommend ParadoxLab's module.

[2018-08-16 18:37] markshust opened #17648 "UI validation rule for valid time am/pm doesn't work when js is minified"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Run SQL: `update core_config_data set value = 1 where path = 'dev/js/minify_files'`
2. `bin/magento deploy:mode:set production`
3. Run production compilation scripts
4. Try to save a ui component that validates against `time12h`

### Expected result

1. The input field should validate against the `time12h` validation rule

### Actual re

[2018-08-16 18:37] magento-engcom-team commented on #17648
Hi @markoshust. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-16 19:02] AirmanAJK commented on #12366
FYI, you can allow AVS mismatches in your Authorize.NET configuration as well as other relaxations on what must match or be flagged as fraud instead of failing. Obviously, you will need to be more vigilant about fraudalent orders if you do this.

[2018-08-16 19:10] markalston commented on #16388
@quisse Can you see if my pull request  #14277 fixes this issue for you.  Free shipping is badly broken in M2.  We were unable to have some items free shipping and others not working accurately.  This PR has fixed all the issues for us.

I'm trying to fix some travis tests which are causing my pr to fail apparently.

[2018-08-16 19:48] CompactCodeEU commented on #8018
Add me on skype. Rob.conings. This is not a conversation for here. It seems more like a stackexchange conversation or personal conversation

[2018-08-16 19:49] markalston commented on #16388
My PR #14277 should fix this issue in a more complete way. You can use either shipment or matching items only. With matching items only, any items with free shipping will keep the flat rate price at 0.  As soon as you add an item without free shipping you will get the normal flat rate pricing for the order.

Give it a try and let me know if it fixes the issue for you or if you have any other feedb

[2018-08-16 21:07] markalston commented on #14206
@magento-engcom-team  Free shipping is still broken.  Your test happened to work simply due to the order of the items in the cart.  Currently magento doesn't work properly with mixed free and non free items for shipping.  #14277 fixes this problem.  I would love help getting this patch merged into magento.

[2018-08-16 21:41] AdminLinenStore commented on #14856
experience the same issue on 2.2.1

[2018-08-16 21:42] AirmanAJK commented on #12366
@clikit101 If you need, I can share my code snippet to display the error message as a modal UI alert. It uses the built in Magento components, so it's not much code. Here's a screenshot:
![payment alert](https://user-images.githubusercontent.com/18410935/44236610-3c503300-a173-11e8-90b5-835774ba4d26.png)

[2018-08-16 21:55] clikit101 commented on #12366
@AirmanAJK   It would definitely help if you could share your code snippet to display the error as a modal UI alert. At least customers would see the message and we could give them the opportunity to call us in case of problems.

[2018-08-16 22:02] zlik opened #17653 "Error on the reviews grid page due to PHP notice "iconv_strlen(): Detected an illegal character in input string""
### Summary
Our Magento administrators were sometimes getting a blank page when opening a reviews grid page (Marketing -> Reviews) in Magento admin panel. We are using standard Magento product reviews functionality.

### Steps to reproduce

1. Submit a product review with an invalid UTF-8 escape sequence, e.g. `\xe9` in details. Make sure your string is not escaped and sent as is. You can craft an

[2018-08-16 22:02] magento-engcom-team commented on #17653
Hi @zlik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-17 02:27] rpelorosso commented on #13823
Is there any news on this issue? I have the same problem.

[2018-08-17 06:37] jspoe commented on #12594
Agreed, I'll work on the bugfix first then and make a pull request for the UiComponent afterwards.

[2018-08-17 06:48] engcom-backlog-nickolas commented on #17648
Hello @markoshust, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-17 07:26] engcom-backlog-andrii commented on #17644
@BoyH ,  thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2018-08-17 07:37] engcom-backlog-nickolas commented on #17647
@JoshuaFlood, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-08-17 07:50] engcom-backlog-nickolas commented on #14672
@salehawal, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 07:50] #14672 closed, assigned to nobody

[2018-08-17 08:01] k4emic commented on #17640
@engcom-backlog-nickolas What is the use case for this setting to work on both totals, compared to only working for shipping? Merchants have very little control of how the discount is applied here, when it's applied to both totals.

[2018-08-17 08:53] arteugen commented on #16523
Hello @BabliDey, i got also this error message with the same conditions and magento version. How could you fix this issue?
Best regards,
Eugen

[2018-08-17 09:17] Johan-Trp commented on #14667
After over 50K user timing samples, we can see some patterns in mobile vs desktop and by browser:

![50k-samples-by-device-and-browser](https://user-images.githubusercontent.com/40690109/44258215-9c47e780-a20e-11e8-8228-23bc27f014b4.png)

The average has been creeping up considerably and worryingly. Chrome desktop is an absolute shocker with average main image load time of over 1 minute.

Bots and

[2018-08-17 09:33] JoshuaFlood commented on #17647
@magento-engcom-team give me 2.2.5 instance

[2018-08-17 09:33] magento-engcom-team commented on #17647
Hi @JoshuaFlood. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-17 09:34] magento-engcom-team commented on #17647
Hi @JoshuaFlood, here is your [Magento instance](https://i-17647-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17647-2-2-5.engcom.dev.magento.com/admin](https://i-17647-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-17 09:40] jvhost opened #17656 "Magento 2.2.4 Free Shipping Enable “Show Method” do not show"
Preconditions

Magento 2.2.4 / Php 7.0.20-1 / Mysql 5.6.30

Steps to reproduce
1.Enable ”Free shipping” Method
2.Set "Minimum Order Amount" price which is bigger than the price in my shopping cart.
3.Enable "Show Method if Not Applicable".

Expected result
The "Free Shipping Method" will show with not applicable notice.

Actual result
The "Free Shipping Method" never show

Issue 16312 was never re

[2018-08-17 09:40] magento-engcom-team commented on #17656
Hi @jvhost. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-17 09:42] Johan-Trp commented on #17591
We face the same issue. We have a Dutch storeview and an English one. We have two categories where this problem shows up. One called Bestsellers and one called Sale. In Dutch, we also want to call them that. But Magento won't let us, because the translation file kicks in, and it auto-translates these two to "Meest verkochte producten" which is a horribly long category name and Sale becomes "Verkoo

[2018-08-17 09:56] gaetanzip commented on #11882
I could add it to env.php with `config:set dev/debug/debug_logging 1`. Thank you :)

[2018-08-17 10:05] engcom-backlog-pb commented on #7877
@antonlazarchenko, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If someone has some updates, please open a new issue.

[2018-08-17 10:05] #7877 closed, assigned to nobody

[2018-08-17 10:15] sanderjongsma opened #17658 "validate function in vatvalidation calls checkVatNumber a lot"
I discovered this issue because I use the following module: [Dutchento_Vatfallback](https://github.com/Dutchento/m2-vatfallback). In here I configured Vatlayer so vatnumbers within Magento are validated through their API. No I saw the calls to their API where extreme high, so I went debugging first in the module and after that in Magento itself. After a while I came across the `validate` function

[2018-08-17 10:16] magento-engcom-team commented on #17658
Hi @sanderjongsma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-17 10:41] alpana-expobiz commented on #14685
###

1.

-

- [ ] @ #

[2018-08-17 10:42] adamkingfisher commented on #17579
My apologies, could of swear I put Magento 2.2.4! Updated above.

[2018-08-17 10:42] #17579 closed, assigned to nobody

[2018-08-17 10:43] diglin commented on #16209
I confirm the issue. We have the same by a merchant. Investigation in progress on our side for a fix

[2018-08-17 10:53] sidolov commented on #6585
Hi @springimport. Thank you for your report.
The issue has been fixed in magento/magento2#14393 by @centerax in 2.2-develop branch
Related commit(s):
 - [654f350bf6ecd61fd59f6c79949db869661bb17e](https://github.com/magento/magento2/commit/654f350bf6ecd61fd59f6c79949db869661bb17e)
 - [f5adaa3dd75b26643cbe9ac260dcab37e59d6d30](https://github.com/magento/magento2/commit/f5adaa3dd75b26643cbe9ac260dcab

[2018-08-17 10:53] #6585 closed, assigned to nobody

[2018-08-17 11:32] NiteshKuyate commented on #12789
I'm also having the same issue.

[2018-08-17 11:32] engcom-backlog-nazar commented on #14313
@EirikSl  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:32] #14313 closed, assigned to nobody

[2018-08-17 11:33] engcom-backlog-nazar commented on #15555
@johnny-longneck  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:33] #15555 closed, assigned to nobody

[2018-08-17 11:34] engcom-backlog-nazar commented on #15439
@ADVANCEDSPORTVE  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:34] #15439 closed, assigned to nobody

[2018-08-17 11:34] engcom-backlog-nazar commented on #15494
@Fredwak  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:34] #15494 closed, assigned to nobody

[2018-08-17 11:35] engcom-backlog-nazar commented on #15901
@deepkamal  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:35] #15901 closed, assigned to nobody

[2018-08-17 11:36] engcom-backlog-nazar commented on #15449
@LouNik1984  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:36] #15449 closed, assigned to nobody

[2018-08-17 11:37] engcom-backlog-nazar commented on #15430
@Jaydeepjd  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:37] #15430 closed, assigned to nobody

[2018-08-17 11:38] engcom-backlog-nazar commented on #13536
@johnny-longneck  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:38] #13536 closed, assigned to nobody

[2018-08-17 11:38] engcom-backlog-nazar commented on #17292
@davoc  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:38] #17292 closed, assigned to nobody

[2018-08-17 11:39] engcom-backlog-nazar commented on #17287
@naren211  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 11:39] #17287 closed, assigned to nobody

[2018-08-17 11:47] TonyDeplanque opened #17661 "Upload category image with same image name"
### Preconditions
Magento 2.2.5

### Steps to reproduce

1. Take a category.
2. Upload Category image.
3. Save your category.
4. Take a another Category and upload image with another image but same image name.
5. Save your category.

### Expected result

1. The categories have a different images.

### Actual result

1. The last image with the same name of the first image crushes the first image.

[2018-08-17 11:47] magento-engcom-team commented on #17661
Hi @TonyDeplanque. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-17 11:47] engcom-backlog-pb commented on #7801
@harleen-mann, please provide more detailed steps to reproduce, as we were not able to reproduce this issue.

[2018-08-17 12:01] manelio commented on #14103
Now I have the same theory. What way were you wrong?

In `Magento\Framework\App\FrontController` there's a call to `$this->response->setNoCacheHeaders(),` in the block

[code]

that calls to `$this->setHeader('cache-control', 'no-store, no-cache, must-revalidate, max-age=0', true);`.

And in the generated vcl there's this fragment:

[code]

It looks like there's no chance for a page to be cached.

[2018-08-17 12:28] engcom-backlog-pb commented on #10292
@andrewhowdencom, we were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-08-17 12:31] engcom-backlog-nazar commented on #14677
@JonathanBBD , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 12:31] #14677 closed, assigned to nobody

[2018-08-17 12:33] engcom-backlog-nazar commented on #15433
@bedroomathletics , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 12:33] #15433 closed, assigned to nobody

[2018-08-17 12:39] ishakhsuvarov commented on #14510
@victortodoran Are you still interested in this ticket?

[2018-08-17 12:40] engcom-backlog-nazar commented on #14685
@darinda , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 12:40] #14685 closed, assigned to nobody

[2018-08-17 12:43] engcom-backlog-nazar commented on #14616
@raymond62  thank you for your report.  we are closing this issue

[2018-08-17 12:43] #14616 closed, assigned to nobody

[2018-08-17 12:47] engcom-backlog-nazar commented on #13225
@scottsb , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 12:53] engcom-backlog-nickolas commented on #9803
@grigortonkov, thank you for your report. This issue already has been fixed in 2.2.x and 2.3.x versions.

[2018-08-17 12:53] #9803 closed, assigned to nobody

[2018-08-17 12:56] roma-glushko commented on #4588
Got the same on Magento 2.2.5

[2018-08-17 12:57] engcom-backlog-andrii commented on #17661
@TonyDeplanque , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-17 12:57] engcom-backlog-nazar commented on #14451
Hi @aniruddhadeshpande thank you for you report. the fix for issue has already on 2.2-develop branch and 2.3-develop branch

[2018-08-17 12:57] #14451 closed, assigned to nobody

[2018-08-17 13:03] engcom-backlog-pb commented on #17307
@RishabhRkRai, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-17 13:03] #17307 closed, assigned to nobody

[2018-08-17 13:04] NiteshKuyate commented on #16722
@DigiBlooD In which table ' oaut_consumer' entry exists.

[2018-08-17 13:06] engcom-backlog-nazar commented on #14969
Hi @bastc  This is duplicate for https://github.com/magento/magento2/issues/15219

[2018-08-17 13:06] #14969 closed, assigned to nobody

[2018-08-17 13:14] jvhost commented on #17656
Hi folks, thanks for the acknowledgement and adding to the backlog, In the mean-time, is there someplace I could start looking to try and debug it myself?  My client needs some sort of free shipping.  Thanks!

[2018-08-17 13:26] ishakhsuvarov commented on #13225
@davidalger @scottsb Sorry for the confusion. This ticket was closed mistakenly. We will take a look at it again and let you know.

[2018-08-17 13:36] jvhost commented on #16312
FYI, for anyone following, I re-created this in 17656 (https://github.com/magento/magento2/issues/17656)

[2018-08-17 13:45] saravananvelu commented on #13612
@magento-engcom-team  I am also facing the same issue after changing the Quantity attribute settings.
To reproduce the issue. Please follow the below steps,
1Product attribute grid -> select Quantity attribute-> Storefront Properties -> Change Visible on Catalog Pages on Storefront to Yes

[2018-08-17 13:45] harleen-mann commented on #7801
Hi

It is not showing tax in order total only on shopping cart page , on checkout page it seems fine
![screen shot 2018-08-17 at 14 40 59](https://user-images.githubusercontent.com/25430163/44269194-ba701080-a22b-11e8-9ac5-8a6a9cadc4ee.png)
![screen shot 2018-08-17 at 14 40 36](https://user-images.githubusercontent.com/25430163/44269196-bc39d400-a22b-11e8-81fc-50779686a5c2.png)

And i am using fol

[2018-08-17 14:27] engcom-backlog-nazar commented on #13225
hi @scottsb  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-17 14:28] JoshuaFlood commented on #17647
@magento-engcom-team Oops... I missed it. May I have another?

It is more common when the store is running in developer/default mode, when the cache is flushed and the website is visited for the first time, though it does appear intermittently on cached pages.

[2018-08-17 14:28] JoshuaFlood commented on #17647
@magento-engcom-team give me 2.2.5 instance

[2018-08-17 14:28] magento-engcom-team commented on #17647
Hi @JoshuaFlood. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-17 14:29] magento-engcom-team commented on #17647
Hi @JoshuaFlood, here is your [Magento instance](https://i-17647-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17647-2-2-5.engcom.dev.magento.com/admin](https://i-17647-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-17 14:34] ncompass commented on #2228
Can confirm this still exists in 2.2.5

[2018-08-17 14:37] engcom-backlog-pb commented on #5832
@grasdaggel, @OZZlE, we were not able to reproduce this issue by following the provided steps. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/44271997-455d0500-a244-11e8-9487-76bd29f7e2cb.gif)

[2018-08-17 14:41] OZZlE commented on #5832
2.1.12

[2018-08-17 15:10] JoshuaFlood commented on #17647
Well, I'm getting a different error... but an error is reported for `require.js` when I simply access the frontend without making any changes and refresh using "`Ctrl + f5`".

Here are screenshots of the console...

![1](https://user-images.githubusercontent.com/32198963/44273526-9f0b0280-a237-11e8-894c-3e67ca9711d2.png)
![2](https://user-images.githubusercontent.com/32198963/44273527-9f0b0280-a23

[2018-08-17 15:13] JoshuaFlood commented on #17647
@magento-admin @magento-engcom-team @magento-devops Please describe in explicit detail how you build these 'vanilla instances' so that I can replicate it. Your documentation is not clear at all and countless people have countless problems that you are rarely able to replicate, despite their common occurence amongst the Magento community. Presumably this is because you know something that we don't

[2018-08-17 16:42] diglin commented on #16209
Here is a statement of my first analyzes regarding "quantity_and_stock_status" attribute:

1) the attribute is not supposed to be used in grid, however that's the only way to have the column "Quantity" (in fact "Stock") and view "In Stock"/"Out of Stock" in grid view
2) the attribute is in fact used internally to set an array of "is_in_stock" and "qty" to be used in product edit form. That's why i

[2018-08-17 17:28] rishabhchd19 opened #17664 ""System" Backup not backing up completely"
### Preconditions

PHP 7.1, MAGENTO CE 2.2.5

### Steps to reproduce

1.  Cron jobs running:

* | * | * | * | * | /opt/cpanel/ea-php70/root/usr/bin/php -dmemory_limit=5G /home1/server/public_html/Magento CE 2.2.5/bin/magento cron:run >/dev/null 2>&1

* | * | * | * | * | /opt/cpanel/ea-php70/root/usr/bin/php -dmemory_limit=5G /home1/server/public_html/Magento CE 2.2.5/update/cron.php >/dev/null 2>&

[2018-08-17 17:28] magento-engcom-team commented on #17664
Hi @rishabhchd19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-17 17:32] hostep commented on #17634
Thanks for the update @engcom-backlog-andrii

Unfortunately I still can't reproduce:
- using PHP 7.0.31 & composer 1.7.1
- ran `composer create-project ...` to setup Magento OS 2.2.5
- ran `bin/magento setup:install ...`
- ran `bin/magento deploy:mode:set production`
- ran `composer update`
- ran `bin/magento cache:status`

Result: still all caches are enabled.

Really strange, so there must be so

[2018-08-17 17:34] zlik commented on #17653
@magento-engcom-team give me 2.2.3 instance

[2018-08-17 17:34] magento-engcom-team commented on #17653
Hi @zlik. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-08-17 17:35] magento-engcom-team commented on #17653
Hi @zlik, here is your [Magento instance](https://i-17653-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17653-2-2-3.engcom.dev.magento.com/admin](https://i-17653-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-17 17:35] hostep commented on #15555
@johnny-longneck, @LucScu, this issue might be related to https://github.com/magento/magento2/issues/17634, which Magento was able to reproduce (I'm not able to reproduce at the moment), so maybe watch that issue to find out if the fix for that issue also fixes this issue.

[2018-08-17 17:55] chattertech commented on #14667
Thanks Johan-Trp for quantifying the issue.

I have installed the BSS DeferJavascipt module and the Dankoz51 Fast Product Image extension and product pages are now the same speed as M1. However this performance should really be built in to Magento. It took a lot of time, research and testing to finally have what should be default performance.

Don't want to push a site but please see the following

[2018-08-17 18:01] bruno-serfe commented on #17634
Hi hostep, Yes I'm using Redis in my environment, maybe you should try with Redis.

[2018-08-17 18:04] bruno-serfe commented on #17634
Just in case, my composer version is:

[2018-08-17 19:41] zlik commented on #17653
@engcom-backlog-andrii, I was able to reproduce the issue in https://i-17653-2-2-3.engcom.dev.magento.com. Just go to https://i-17653-2-2-3.engcom.dev.magento.com/admin/review/product/index/ and you will see a blank page.

I used a string from our spam review when submitting a new review in your vanilla Magento environment. Here is the script that I used:

[code]

Please make sure to insert a corr

[2018-08-17 19:55] hostep opened #17673 "Disabling async email sending using cli when pending emails in queue causes an error"
### Preconditions
1. Magento 2.2.5
2. PHP 7.0.31

### Steps to reproduce
1. Make sure no cronjobs are active
2. Setup a clean Magento 2.2.5 installation (using composer)
3. Run `bin/magento config:set sales_email/general/async_sending 1`
4. In the backend, create a product
5. Flush caches
6. In the frontend, put the created product in your shopping cart, and go through the checkout so you have an

[2018-08-17 19:55] magento-engcom-team commented on #17673
Hi @hostep. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-17 21:14] markalston commented on #17131
I was getting the same error.  Disabling the bundled extension Temando_Shipping fixed the issue for me.

`
 ./bin/magento module:disable Temando_Shipping
`

[2018-08-17 21:15] markalston commented on #16958
Disabling Temando_Shipping fixed this for me as well.  Probably something to due with existing data on a magento instance being upgraded.

[2018-08-17 22:55] soly2014 opened #17675 "magento 2.2.4 gives error 500"
i just installed magento 2.2.4 on my ubuntu 16.04 with apache 2.4.18
Preconditions

Magento 2.2.4
PHP 7.0.
ubuntu 16.04
apache 2.4.18

Steps to reproduce

Go to admin and load web setup wizard to upgrade magento 2.2

Expected result

Website should load without any errors

Actual result
![magento-error](https://user-images.githubusercontent.com/7080614/44291845-67c14380-a281-11e8-82a1-aa2d7ec944e5

[2018-08-17 22:56] magento-engcom-team commented on #17675
Hi @soly2014. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-18 02:04] thunderwin opened #17676 "Permission setting up is not working， REST API"
Ok, I have set up an admin user role like this.

![image](https://user-images.githubusercontent.com/2757750/44294689-af6dbc80-a2cd-11e8-8b12-9d143b530894.png)

so most of API is working fine.  but

` V1/stockItems/:sku
`
is not working.

all my set up is correct.  I have to give my API user full permission. but this is not safe..

[2018-08-18 02:04] magento-engcom-team commented on #17676
Hi @thunderwin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-18 03:04] dnna commented on #8368
I also encountered this issue while trying to move the vendor dir to a path outside Magento's root (/app-vendor specifically) in my Docker container. I understand the security reason for this restriction, but should we maybe allow it to have access to templates inside the vendor dir?

[2018-08-18 07:28] Jeeva-Rathinam commented on #1643
@patrickpeng830 Did you solve the issue, i have same error during add-to-cart button in CM page -> code https://justpaste.it/49eqz

[2018-08-18 07:48] swapybanna opened #17677 "Drop down values are not showing in catalog product grid"
I am using Magento 2.1.13. The attributes values are showing blank in product grid. But when I edit that product they are showing selected and if I change the store view and just resave the product, then only the attribute values are showing in product grid, Why this issue is generating ?
Even I had tried to mass update the products. Still attributes values are not showing in grid.

[2018-08-18 07:48] magento-engcom-team commented on #17677
Hi @swapybanna. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-18 07:50] swapybanna commented on #17677
Is there any solution how can I update all products as per the store view.

[2018-08-18 10:05] andrewhowdencom commented on #10292
Hola @engcom-backlog-pb this is a particularly expensive issue to debug, and I don't have any reason to do it at the minute. Can you clarify the exact steps that you attempted, as asked before?

Cheers,

[2018-08-18 10:55] Mohammed-Tahair-Pasha commented on #2508
1. First of all make sure that you have entered right database name at database details step.

2. Check your database it must be clean. If you have imported the database from your Magento theme then clean it or create empty database. (Note : Database should be empty during Magento installation)

[2018-08-18 11:10] magento-engcom-team commented on #17648
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#17652 by @markoshust in 2.2-develop branch
Related commit(s):
 - [99a616d683778f3ab5298074ba29200f0ecc8fa8](https://github.com/magento/magento2/commit/99a616d683778f3ab5298074ba29200f0ecc8fa8)
 - [317545a811c492955d58c5d3afe3a6e466a4b6fb](https://github.com/magento/magento2/commit/317545a811c492955d58c5d3afe3a6

[2018-08-18 11:10] #17648 closed, assigned to nobody

[2018-08-18 12:44] DigiBlooD commented on #16722
@NiteshKuyate its the Consumer Key and Consumer Secret that are found for it there.

I got it working on my test stor witch is running on the same server as the live shop so the preconditions are the same. Small difference is that the test one is http and the live one is https. There is no https proxy's here.

I have tried setting the base url's to http on the live shop but that did not solve anyt

[2018-08-18 12:57] ArjenMiedema commented on #17675
Did you check your Apache error logs? That's where the HTTP errors (like 500 errors) are saved when they occur. It's really useful if you could post the error you get there.

[2018-08-18 13:46] LucScu commented on #15555
@hostep thx for the notification, i'll follow both issue.

[2018-08-18 15:46] JoshuaFlood commented on #17647
@magento-engcom-team I have just worked out that it occurs upon first visiting a page after flushing the cache/deploying static files.

I'm sure it must have been reported before that pages sometimes load incorrectly the first time, presumably because the event which requests files is asynchronous and the files being requested have not been properly generated before they are requested.

I also see

[2018-08-18 20:19] IgorVitol opened #17680 "[2.2.3+][CE/EE][Performance] Interception Cache compilation useless"
### Preconditions
1. Magento 2.2.3+ Commerce/Community

### Steps to reproduce
1. Install clean Magento 2.2.3+ Community/Commerce with sample data
2. Add profiler start/stop for next methods:
`\Magento\Framework\Interception\Config\Config::initialize`
`\Magento\Framework\Interception\PluginList\PluginList::_loadScopedData`
`\Magento\Framework\ObjectManager\Config\Reader\Dom::read`
**Note:** Profil

[2018-08-18 20:53] DigiBlooD commented on #16722
Two new issues related to this

The product it has fetched has prices set to 0,-

The products listed on Facebook if clicked they go to https://domain.com/product-name.html and not https://domain.com/product-name witch gives a 404 error.

It looks like it does not take consideration to the settings in System -> Configuration -> Catalog --> Product URL Suffix and Category URL Suffix.

[2018-08-18 21:46] DigiBlooD commented on #16722
Products missing prices is Configurable Products. It manages to fetch the price from Simple Products.

[2018-08-18 21:50] soly2014 commented on #17675
@ArdjanShero  still stuck

[2018-08-19 01:25] rqsakai commented on #17580
I found out the problem, apparently when you have more than 10 stores, then 10th and forward the prefix was caped on the first number.

So
prefix 10 = prefix 1
prefix 30 = prefix 3

[2018-08-19 06:39] ArjenMiedema commented on #17675
What does the backtrace say?

[2018-08-19 07:49] dmytro-ch commented on #17592
I will handle this issue. Thank you!

[2018-08-19 09:53] hostep commented on #17673
Small update here, this apparently never worked in any Magento version in contrast to what I thought earlier. Since the `config:set` command was only introduced in Magento 2.2.0, I tested that version, and the same problem occurs there.

I already tried applying the fix from https://github.com/magento/magento2/pull/17344 (since that sounds very related), but that doesn't fix it unfortunately.

[2018-08-19 10:08] gwharton opened #17691 "[2.2.*] Admin Grid column ordering/positioning not working"
### Preconditions
1. Magento 2.2.*

### Steps to reproduce
1. In sales order grid enable all columns
2. Move a column
3. Refresh page
4. Check moved column is in correct position
5. Repeat process until it fails (usually within 4 or five column moves)

### Expected result
1. Column positions should be correct following page refresh

### Actual result
1. Column positions are not always correct afte

[2018-08-19 10:08] magento-engcom-team commented on #17691
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-19 10:09] gwharton commented on #17691
I can reproduce the issue on vanilla installs of 2.2.3/2.2.4 and 2.2.5

[2018-08-19 14:36] kornblumenapotheke commented on #13553
Same problem here: 2.2.2 => 2.2.5
Would be nice to get any feedback from system how much has been processed so far...

Leaving Computer now for some ice cream, I suppose it takes hours to convert my 50K products...

[2018-08-19 16:10] joeshelton-wagento commented on #16171
I was able to work around the issue by deleting the system_config_snapshot flag.

`DELETE FROM flag WHERE flag_code = 'system_config_snapshot';`

[2018-08-19 20:29] wushu06 commented on #12271
any update on this issue. I looked everywhere ...

[2018-08-20 02:40] anthonydangbi opened #17692 "Creating a segment with multiple store views errors 500/logs out"
When creating a new segment and assigning it to multiple websites, it links to 500 error page.

Follow steps to replicate:

1. Admin > Create a NEW segment
2. Assign to >1 Website (Select AU and NZ)
3. Save
Current result: 500 Error
Expected result: Segment is created and saved

Note: 3252309 Customer records found

### Preconditions

Magento 2.2.5
PHP 7.1
mySQL 5.6

### Steps to reproduce

1. Adm

[2018-08-20 02:40] magento-engcom-team commented on #17692
Hi @anthonydangbi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-20 06:02] mak0605 commented on #17436
Hello @magento-engcom-team,
I'm facing same issue with magento 2.2.5 version. when i try to add some child product in configurable product i get this error.

{"0":"Notice: Undefined variable: product in \/Applications\/MAMP\/htdocs\/mage22511\/vendor\/magento\/module-catalog\/Controller\/Adminhtml\/Product\/Save.php on line 150","1":"#0 \/Applications\/MAMP\/htdocs\/mage22511\/vendor\/magento\/mod

[2018-08-20 06:39] engcom-backlog-nickolas commented on #17692
@anthonydangbi, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2018-08-20 06:39] #17692 closed, assigned to nobody

[2018-08-20 06:39] engcom-backlog-andrii commented on #17677
@swapybanna , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-08-20 06:48] engcom-backlog-nickolas commented on #17675
@soly2014, thank you for your report. I'm not able to reproduce this issue. Could you please add more details?

[2018-08-20 07:17] Jeeva-Rathinam commented on #16063
Any one help me how can i add add-to-cart button on CMS. I  need Name, Thumbnail Image, Price, Add-to-cart Button On CMS PAGE, here add to cart not woking,

code :

file path: app/desgin/frontend/base/default/template/myphp/myphpcode.phtml

[code]

[2018-08-20 07:31] engcom-backlog-andrii commented on #17691
@gwharton ,  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 08:25] michaelrachlitz commented on #17436
@mak0605 Don't press the save until you have altered your SKU's and you will be fine. Make sure all your SKU's is within the allowed number of characters.

[2018-08-20 08:28] engcom-backlog-nickolas commented on #17664
Hello @rishabhchd19, thank you for your report. I'm able to reproduce only different sizes for backups. Could you please add more details, or try to reproduce this issue on clean installation?

[2018-08-20 08:30] engcom-backlog-nickolas commented on #14622
@dariuszmaciejewski, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-20 08:30] #14622 closed, assigned to nobody

[2018-08-20 08:31] engcom-backlog-nickolas commented on #14783
@harshvardhanmalpani, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-20 08:31] #14783 closed, assigned to nobody

[2018-08-20 08:32] engcom-backlog-nickolas commented on #17112
@atsareva, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-20 08:39] magento-engcom-team commented on #9135
@refaelgold thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 08:39] #9135 closed, assigned to nobody

[2018-08-20 08:40] magento-engcom-team commented on #3170
@keithbentrup thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-08-20 08:40] #3170 closed, assigned to nobody

[2018-08-20 08:45] magento-engcom-team commented on #4464
@sergei-sss thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 08:45] #4464 closed, assigned to nobody

[2018-08-20 08:46] magento-engcom-team commented on #4479
@ruby10 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 08:46] #4479 closed, assigned to nobody

[2018-08-20 08:46] magento-engcom-team commented on #4522
@kandrejevs thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 08:46] #4522 closed, assigned to nobody

[2018-08-20 08:48] magento-engcom-team commented on #4704
@adragus-inviqa thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link]

[2018-08-20 08:48] #4704 closed, assigned to nobody

[2018-08-20 08:48] magento-engcom-team commented on #5458
@spipu thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https://

[2018-08-20 08:48] #5458 closed, assigned to nobody

[2018-08-20 08:49] magento-engcom-team commented on #4870
@rhoerr thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 08:49] #4870 closed, assigned to nobody

[2018-08-20 08:49] magento-engcom-team commented on #6055
@springimport thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-08-20 08:49] #6055 closed, assigned to nobody

[2018-08-20 08:50] magento-engcom-team commented on #6059
@christian-walker thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [lin

[2018-08-20 08:50] #6059 closed, assigned to nobody

[2018-08-20 08:51] magento-engcom-team commented on #6376
@ankitce thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 08:51] #6376 closed, assigned to nobody

[2018-08-20 08:51] magento-engcom-team commented on #6466
@denis-g thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 08:51] #6466 closed, assigned to nobody

[2018-08-20 08:52] magento-engcom-team commented on #6545
@davidalger thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 08:52] #6545 closed, assigned to nobody

[2018-08-20 08:53] magento-engcom-team commented on #6960
@schnappenberger thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link

[2018-08-20 08:54] magento-engcom-team commented on #7270
@dhx2 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https://g

[2018-08-20 08:54] #7270 closed, assigned to nobody

[2018-08-20 08:59] magento-engcom-team commented on #7361
@rosandrest thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 08:59] #7361 closed, assigned to nobody

[2018-08-20 09:00] magento-engcom-team commented on #7421
@tzyganu thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:00] #7421 closed, assigned to nobody

[2018-08-20 09:01] magento-engcom-team commented on #7574
@ntoombs19 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-08-20 09:01] #7574 closed, assigned to nobody

[2018-08-20 09:02] magento-engcom-team commented on #7772
@rbostan thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:02] #7772 closed, assigned to nobody

[2018-08-20 09:03] magento-engcom-team commented on #7842
@reijervano thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 09:03] #7842 closed, assigned to nobody

[2018-08-20 09:03] magento-engcom-team commented on #7873
@devonto thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:03] #7873 closed, assigned to nobody

[2018-08-20 09:03] magento-engcom-team commented on #7909
@tinxit thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 09:03] #7909 closed, assigned to nobody

[2018-08-20 09:04] magento-engcom-team commented on #8004
@chm1975 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:04] #8004 closed, assigned to nobody

[2018-08-20 09:04] magento-engcom-team commented on #8086
@wintermute-84 Unfortunately internal ticket is still open.

[2018-08-20 09:05] magento-engcom-team commented on #8316
@spyrule thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:05] #8316 closed, assigned to nobody

[2018-08-20 09:06] magento-engcom-team commented on #8371
@chm1975 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:06] #8371 closed, assigned to nobody

[2018-08-20 09:06] magento-engcom-team commented on #8455
@cykirsch thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-08-20 09:06] #8455 closed, assigned to nobody

[2018-08-20 09:06] magento-engcom-team commented on #8533
@thebod thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 09:06] #8533 closed, assigned to nobody

[2018-08-20 09:07] magento-engcom-team commented on #8688
@korostii thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-08-20 09:07] #8688 closed, assigned to nobody

[2018-08-20 09:07] magento-engcom-team commented on #8820
@tinxit thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 09:07] #8820 closed, assigned to gomencal

[2018-08-20 09:07] magento-engcom-team commented on #9146
@giano574 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-08-20 09:07] #9146 closed, assigned to nobody

[2018-08-20 09:08] magento-engcom-team commented on #9457
@DependencyHell thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link]

[2018-08-20 09:08] #9457 closed, assigned to nobody

[2018-08-20 09:08] magento-engcom-team commented on #9194
@vberthet thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-08-20 09:08] #9194 closed, assigned to nobody

[2018-08-20 09:08] magento-engcom-team commented on #9272
@thdoan thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 09:08] #9272 closed, assigned to nobody

[2018-08-20 09:09] magento-engcom-team commented on #9373
@lauriecrt thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-08-20 09:09] #9373 closed, assigned to nobody

[2018-08-20 09:09] magento-engcom-team commented on #9474
@zstutzman thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-08-20 09:09] #9474 closed, assigned to nobody

[2018-08-20 09:09] magento-engcom-team commented on #9746
@keiant25 thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-08-20 09:09] #9746 closed, assigned to nobody

[2018-08-20 09:09] #9522 closed, assigned to nobody

[2018-08-20 09:09] magento-engcom-team commented on #9909
@rbostan thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:09] #9909 closed, assigned to nobody

[2018-08-20 09:10] magento-engcom-team commented on #9884
@AlekosDordas thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-08-20 09:10] #9884 closed, assigned to nobody

[2018-08-20 09:10] magento-engcom-team commented on #9866
@steros thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-08-20 09:10] #9866 closed, assigned to nobody

[2018-08-20 09:12] magento-engcom-team commented on #9891
@ashishrvtech thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-08-20 09:12] #9891 closed, assigned to nobody

[2018-08-20 09:12] magento-engcom-team commented on #9921
@nikolaybaychenko thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [lin

[2018-08-20 09:12] #9921 closed, assigned to nobody

[2018-08-20 09:12] magento-engcom-team commented on #10098
@idziakjakub thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-08-20 09:12] #10098 closed, assigned to nobody

[2018-08-20 09:12] magento-engcom-team commented on #11255
@elektrozitrone thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link]

[2018-08-20 09:12] #11255 closed, assigned to nobody

[2018-08-20 09:12] magento-engcom-team commented on #10155
@kanduvisla thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 09:12] #10155 closed, assigned to nobody

[2018-08-20 09:13] magento-engcom-team commented on #10198
@harrigo thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-08-20 09:13] #10198 closed, assigned to nobody

[2018-08-20 09:13] magento-engcom-team commented on #10307
@kirkmadera thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-08-20 09:13] #10307 closed, assigned to nobody

[2018-08-20 09:32] engcom-backlog-nazar commented on #17184
Hi @Felistas
Thank you for reporting. I'm not able to reproduce your scenario, Please provide clear steps to reproduce applicable to a vanilla magento instance.
Thanks.

[2018-08-20 09:36] #16018 closed, assigned to nobody

[2018-08-20 09:37] engcom-backlog-nazar commented on #16018
Hi @sashas777  No have no idea where find this commit,  but have no this issue on clean 2.2-dev instance

[2018-08-20 09:53] ishakhsuvarov commented on #17433
@DanielRuf You might as well create a PR and link the issue from another repository ;)

[2018-08-20 09:58] GuiltyNL commented on #6498
Agreed with @webspeaks tranlating is already a pain in M2, this makes it even worse.

[2018-08-20 09:58] DanielRuf commented on #17433
That's my plan, to link my future PR to this issue here.

[2018-08-20 09:59] GuiltyNL commented on #6498
Err I did not unassign @sevos1984 ?

[2018-08-20 09:59] Yuibaritone opened #17696 "Language Switcher are not working on Magento 2.2.5"
### Preconditions
1. Magento 2.2.3
2. PHP 7.1.17

### Steps to reproduce

1. I create a new Store views set and assign this to Main Website [Store]
2. I switch to another language (en->th) and (th->en)

https://www.picz.in.th/image/BL8CYE

### Expected result

1. Expecting to be can  Language Switch are working

### Actual result

1. Language  Switcher are not working

[2018-08-20 09:59] magento-engcom-team commented on #17696
Hi @Yuibaritone. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-20 10:02] engcom-backlog-nazar commented on #16221
Hi @AdminLinenStore I'm not able to reproduce , can you confirm that you reproduce this on vanilla instance ?

[2018-08-20 10:03] engcom-backlog-pb commented on #17680
@IgorVitol, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 10:18] engcom-backlog-pb commented on #17696
@Yuibaritone, thank you for your report.
This is not a bug. Language switching in Magento 2 works in another way. Please
refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-20 10:18] #17696 closed, assigned to nobody

[2018-08-20 10:22] #2956 closed, assigned to rainashikha

[2018-08-20 10:23] #3139 closed, assigned to mmularski

[2018-08-20 10:38] engcom-backlog-nickolas commented on #17580
@rqsakai, thanks for feedback. I've tried to generate 20 store views. But, still there is a difference between order increment ids for store view with id = 2 and store view with id = 20. Therefore I wasn't able to reproduce this issue. Result is the same as on video I've posted before.

[2018-08-20 10:50] magento-engcom-team commented on #7327
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-20 10:50] #7327 closed, assigned to serhii-balko

[2018-08-20 10:51] engcom-backlog-nazar commented on #14667
Hi @chattertech  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 11:01] magento-engcom-team commented on #10035
@jhruehl We are closing this now per comment above. Please use that commit as a reference if needed.

[2018-08-20 11:01] #10035 closed, assigned to nobody

[2018-08-20 11:02] engcom-backlog-nazar commented on #14826
Hi @markoshust Added  testing criteria to https://github.com/magento/magento2/issues/14825
in this case  are identical

[2018-08-20 11:02] #14826 closed, assigned to nobody

[2018-08-20 11:04] magento-engcom-team commented on #10013
Hi @abdulmoizbaig

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:04] magento-engcom-team commented on #10003
Hi @Bartlomiejsz

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:04] magento-engcom-team commented on #8984
Hi @alexpoletaev

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:04] magento-engcom-team commented on #8849
Hi @jgodart

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #8201
Hi @OZZlE

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #8198
Hi @Bartlomiejsz

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #7493
Hi @minhluan259

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #7348
Hi @Januszpl

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #5542
Hi @vipin-eglobeits

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #5665
Hi @ErikPel

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #5417
Hi @bgkavinga

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #5077
Hi @werdlv

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #3496
Hi @moraryou

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #12088
Hi @The-Krang

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #4684
Hi @micheese

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #9817
Hi @oroskodias

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #7080
Hi @qbo-tech

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #8286
Hi @mattwellss

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #10450
Hi @DigitalStartupUK

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:05] magento-engcom-team commented on #10402
Hi @alessandroniciforo

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:06] magento-engcom-team commented on #4569
Hi @matt-bailey

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:06] magento-engcom-team commented on #7070
Hi @Styopchik

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:06] magento-engcom-team commented on #6043
Hi @DwayneH

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:06] magento-engcom-team commented on #5992
Hi @schmengler

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:06] magento-engcom-team commented on #6092
Hi @fooman

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-08-20 11:08] engcom-backlog-nazar commented on #14921
hi @georgios-2317 Sorry for the confusion. This ticket was closed mistakenly. We will take a look at it again and let you know.

[2018-08-20 11:09] Bartlomiejsz commented on #8198
@magento-engcom-team Should not-solved issue be closed after two weeks? Really?

[2018-08-20 11:09] Bartlomiejsz commented on #10003
@magento-engcom-team Should not-solved issue be closed after two weeks? Really?

[2018-08-20 11:13] magento-engcom-team commented on #14166
@Grohotun @paulie51 @mslabko Closing this ticket now, as from the thread it seems that issue is solved. Feel free to reopen if that's incorrect.

Thank you

[2018-08-20 11:15] magento-engcom-team commented on #13721
@terrybakshi @vberthet Thanks for finding duplicate. Please continue tracking under #12390

[2018-08-20 11:15] #13721 closed, assigned to nobody

[2018-08-20 11:17] NiteshKuyate commented on #16722
@DigiBlooD
I have also tried your steps on our test server, but no luck.
Did you figure out any solution for it?

[2018-08-20 11:19] engcom-backlog-nazar commented on #14921
@georgios-2317 seems the problem  on your configuration, i'm not able to reproduce this on AWS, and it not a issue in this file. Be free to close issue

[2018-08-20 11:20] achadee opened #17698 "Is it possible to create attributes sets and their options pragmatically but not during the install"
Hi,

We are developing a REST API that extends magento 2's functionality. One thing we need this API to do is to create attributes "on the fly" based on the custom JSON product payload sent.

Ive seen a lot of forum posts showing how to add attributes using the InstallData but none on how to add attributes by calling a function or model

Im also asking for our magento developer - I roughly know ho

[2018-08-20 11:24] #14921 closed, assigned to nobody

[2018-08-20 11:29] engcom-backlog-andrii commented on #17673
@hostep , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 11:30] engcom-backlog-nickolas commented on #7644
Hello @kanduvisla, is this issue still actual?

[2018-08-20 11:32] engcom-backlog-pb commented on #17698
@achadee, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-20 11:32] #17698 closed, assigned to nobody

[2018-08-20 11:51] DigiBlooD commented on #16722
@NiteshKuyate No sorry imo this is a code issue so the devs will have to take a look at it..

[2018-08-20 12:04] engcom-backlog-nazar commented on #14977
Hi @heyepic Closing this issue on @hostep  comment, If you'd like to update it, please reopen the issue.

[2018-08-20 12:04] #14977 closed, assigned to nobody

[2018-08-20 12:11] engcom-backlog-pb commented on #5832
@OZZlE, same behavior on Magento ver. 2.1.14. Please update steps to reproduce.

[2018-08-20 12:13] nathancasebolt commented on #16171
@joeshelton-wagento Are you sure re-running setup:upgrade won't regenerate this field? It's been a long time since I dealt with this, and I can't recall for certain.

My problem with this was that I have two development servers, each of which needs their own system => default => web => secure => base_url value. I got around the problem by removing this setting from env.php and sticking it in an $_

[2018-08-20 12:22] hamzaa112 opened #17699 "error in dom.php undefined variable magento 2 ubuntu"
#0 /var/www/html/magento/vendor/magento/framework/Config/Dom.php(115): Magento\Framework\Config\Dom->_initDom('<?xml version="...')#1 /var/www/html/magento/vendor/magento/framework/ObjectManager/Config/Reader/Dom.php(70): Magento\Framework\Config\Dom->__construct('<?xml version="...', Object(Magento\Framework\App\Arguments\ValidationState), Array, 'xsi:type', NULL)#2 /var/www/html/magento/vendor/m

[2018-08-20 12:24] #17357 closed, assigned to nobody

[2018-08-20 12:25] engcom-backlog-pb commented on #14406
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-20 12:25] #14406 closed, assigned to nobody

[2018-08-20 12:31] engcom-backlog-nazar commented on #15427
Hi @gewaechshaus Can you provide steps to reproduce ? or can you reproduce on vanilla instance ?

[2018-08-20 12:35] engcom-backlog-pb commented on #17699
@hamzaa112, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-08-20 12:35] #17699 closed, assigned to nobody

[2018-08-20 12:38] dmytro-ch opened #17700 "Message list component: the message type is always error when parameters specified"
### Preconditions
Magento 2.2.5

### Description
Component: ``Magento_Ui/js/model/messageList.js`` component.
The message type is always **"error"** when specifying the ``parameters`` property.

### Steps to reproduce

1. Use message list component (``Magento_Ui/js/model/messageList.js``).
2. Add success message with parameters. E.g.
[code]

### Expected result

1. The success message should be sh

[2018-08-20 12:38] magento-engcom-team commented on #17700
Hi @dmytro-ch. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-20 12:42] engcom-backlog-nickolas commented on #14587
Hello @pmclain, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 12:47] OZZlE commented on #5832
I experienced the issue in 2.1.12, using a custom parent theme that also overrides this template + other things in checkout, perhaps you can reproduce the issue by overriding everything checkout frontend related knockout js files and templates.. but I guess that would take considerable time.

I reported this so long ago I don't remember the exact scenario, but lets just close it until someone can

[2018-08-20 12:47] #5832 closed, assigned to nobody

[2018-08-20 13:40] joeshelton-wagento commented on #16171
In my case, I received the same error using either `setup:upgrade` or `app:config:import`.

[2018-08-20 13:48] anshgreensoft commented on #12914
this is resolved or not ??

[2018-08-20 13:52] larsroettig opened #17705 "CustomerAddressId will not set for new billing adress"
### Preconditions
1.  Magento 2.2.x or 2.3.x

### Steps to reproduce
1. Create a new Customer Account
2. Add one Product to Cart
3. Create a New Shipment Adress
![checkout1](https://user-images.githubusercontent.com/5289370/44344325-bd1f6f80-a490-11e8-97f9-57395787a6e0.png)
4. Use Shipment Adress as Order Adress
![checkout2](https://user-images.githubusercontent.com/5289370/44344355-d32d3000-a490-

[2018-08-20 13:52] magento-engcom-team commented on #17705
Hi @larsroettig. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-20 13:56] larsroettig commented on #17705
*Info:*

- Problem is in \Magento\Quote\Model\QuoteManagement::_prepareCustomerQuote
there will be setCustomerAddressId not set for the `$billing `

[2018-08-20 14:03] engcom-backlog-pb commented on #17700
@dmytro-ch, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 14:06] Johan-Trp commented on #14667
Glad to see this is now getting the much desired attention it clearly deserves, thanks!

My recordings are showing a stable trend on mobile, but on desktop things have gotten very bad since last Sunday. Given te fact nothing gets published on Sunday, perhaps Magento's own cache plays a part in this.

<img width="1347" alt="screen shot 2018-08-20 at 16 00 12" src="https://user-images.githubusercont

[2018-08-20 14:10] engcom-backlog-nazar commented on #14494
Hi @raymond62 , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-20 14:17] EustaceCS opened #17706 "can't designate products which belong to category list _only_ in Cart/Catalog Price Rules"
### Preconditions
1. Pure Magento 2.2.5 CE with sample data

### Steps to reproduce
1. Remove/inactivate Catalog Price Rules which could be present currently
2. Create a new active Catalog Price Rule with
- Rule Name: any
- Websites: all
- Customer Groups: all
- Conditions:
- - If ALL  of these conditions are FALSE :
- - - Category  is not one of  3
- Actions
- - Apply: as percentage of original
-

[2018-08-20 14:17] magento-engcom-team commented on #17706
Hi @EustaceCS. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-20 14:26] EustaceCS commented on #17706
I hereby acknowledge that all tests which led to assembling of issue #17706 were performed on pure Magento 2.2.5 CE with Magento's very own Sample Data _and_ that relevant Summary, Information, Steps and ER/AR needed to justify this issue as a bug (preliminarily, as a difficulity which can be improved, at least) are all included.

Thank you.

[2018-08-20 14:46] helefa commented on #12717
I am having this issue on 2.2.4. Above suggestion didn't help. If I apply the fixes intended for 2.3, will it help here too?

[2018-08-20 14:56] andrewhowdencom commented on #10292
By this I guess you mean composer install?

[2018-08-20 14:59] Vikram0811 commented on #17340
Hi @magento-engcom-team

If you check below URL's it will show the same issue i.e. success/error message not disappearing after certain seconds. Try using invalid credentials or add product to cart, you will encounter the same issue

http://magento2-demo.nexcess.net/customer/account/login/
http://magento2-demo.nexcess.net/radiant-tee.html

The same issue is occurring in our store

Thanks

[2018-08-20 15:09] Spaggel commented on #17705
@larsroettig I've added:
[code]

to `_prepareCustomerQuote()` after
[code]

to fix the problem (on a local environment). Should I open a PR for it to discuss it further?

[2018-08-20 16:09] siliconrockstar commented on #11895
Still running into this on 2.2.5 :/

[2018-08-20 16:16] Dannymx commented on #2504
The solution provided by @iget-esoares didn't work for me, maybe because I'm running this on Vagrant/Homestead box, but what really worked for me was this:

Insert this directive after this `location ~ ^/setup/index.php {`
`try_files $uri $uri/ /setup/index.php?$query_string;`

That fixed the problem for me.

[2018-08-20 16:56] abhaykhatariya commented on #16556
@engcom-backlog-nazar @magento-admin
Any update on this ?

[2018-08-20 18:21] jakwinkler opened #17709 "Product Page title being replaced with first related product name"
### Preconditions

1. Magento Commerce Edition 2.2.3
2. Have some products and related products added to a product page.
3. Issue happend on configurable product page

### Steps to reproduce

1. Make sure you have related product block visible on product page and related products assigned to main product
2. Move page title block using Layout XML to different section of the page, any place will do,

[2018-08-20 19:17] Orstio commented on #7107
Here is the problem.

The guest-cart endpoint requires you to be logged in as admin, but in module-quote/Model/GuestCartManagement/Plugin/Authorization, it checks to make sure you are logged in as the specified customer:

`    public function beforeAssignCustomer(
        \Magento\Quote\Model\GuestCart\GuestCartManagement $subject,
        $cartId,
        $customerId,
        $storeId
    ) {

[2018-08-20 19:59] rqsakai commented on #17580
Found the issue, this was due to a legacy modification to keep the increment id at 9 chars.

[2018-08-20 20:59] fooman commented on #6092
Still an issue on 2.3-develop

[2018-08-20 23:09] dbsdsun commented on #17340
I don't think it will disappear automatically after a few seconds. Where did you see the message disappear automatically?

[2018-08-21 00:10] sshymko commented on #9807
Experiencing the issue on 2.2.3 when MySQL server gets spontaneously overloaded by the query `INSERT INTO search_tmp_*` executed on a category view page. We haven't had an issue on 2.1.9 befoe upgradding to 2.2.3. Since then it reproduces infrequently out of blue.

[2018-08-21 03:52] vtransy commented on #5602
I got same issue, please read here for more detail about the cause and solution

https://mrvts.wordpress.com/2018/08/21/magento-2-required-parameter-theme_dir-was-not-passed-after-manually-adding-theme-remove-theme-delete-theme/

[2018-08-21 03:53] vtransy commented on #5294
thannks @afavata (y)

[2018-08-21 04:52] rishabhrkrai opened #17711 "Search Query Length Issue"
### Preconditions

1. Magento 2.2.5
2. PHP 7.0
3. MySQL 5.6

### Steps to reproduce

1. Login to Magento  Admin
2. Navigate to **Store > Configuration > Catalog and choose Catalog**. Expand the Catalog Search section and Set Minimal Query Length to 5.
3. Clean Cache.
4. Now trying to search  for the **pen**, an the search have found the search result.

### Expected result

1. It needs to display a

[2018-08-21 04:52] magento-engcom-team commented on #17711
Hi @RishabhRkRai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-21 05:32] TehJackal commented on #13929
I'm not sure what you mean by Symlink path, as I'm still fairly new to using and working with Magento 2

That being said when I try to upload a simple Jpg file, it does a refresh icon and then gives me this.

![image](https://user-images.githubusercontent.com/10318138/44382182-fb914a80-a4e1-11e8-9fef-89aedfb9649e.png)

[2018-08-21 06:08] engcom-backlog-andrii commented on #17676
@thunderwin , thank you for your report.
Please use the issue [reportingguidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)to report an issue. Please, edit issue description and include the preconditions,the steps required to reproduce, the actual result, and the expected result.Please, add the following information:
- [ ] Preconditions: Magento version
- [ ] Steps to

[2018-08-21 06:15] ArjenMiedema commented on #17675
So we can close this issue?

[2018-08-21 06:30] #17644 closed, assigned to nobody

[2018-08-21 06:32] engcom-backlog-nickolas commented on #17675
@soly2014, thank you for feedback. I'm closing this issue for now. If you'd like to update it, please reopen the issue.

[2018-08-21 06:32] #17675 closed, assigned to nobody

[2018-08-21 06:53] hostep commented on #13929
@TehJackal: that's a completely different error then what is discussed in this thread and has indeed nothing to do with symlinks. You might find a solution in the following thread though: https://github.com/magento/magento2/issues/16531 (try installing the php extension 'fileinfo')

[2018-08-21 07:30] magento-engcom-team commented on #14234
@absolutodigital, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-21 07:41] twosg commented on #11116
Beside the fact that this is not a real bug, the error message is not helpful enough. It should state at least the file where the problem occurs imo.

[2018-08-21 07:49] bhooby commented on #14222
@Sathishkumar8731  we too getting same error and orders also not getting saved.

[2018-08-21 07:40:48] main.CRITICAL: Wrong order ID: "700005907". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"700005907\".

[2018-08-21 08:05] LiamKarlMitchell commented on #11116
@teamtaheny1 Actually, I was able to modify the method to have it spit out the last $dom prior to erroring.
Then I was able to grep in all php files for it part of it to find the problem lines that needed fixing.

[code]

[2018-08-21 08:32] ryanpalmerweb commented on #16436
@pointia Assuming that you are clearing the image, small_image and thumbnail attributes, you may need to change the attribute IDs to match them in your installation, as mine existed at 87,88 and 89 respectively.

[2018-08-21 08:37] pointia commented on #16436
@ryanpalmerweb that's true. That's the reason why I wrote a decent explanation and the following sentence.

But you are right I should have mentioned that 85,86,87 are the attribute_ids of the image, small_image and thumbnail attributes.

[2018-08-21 08:48] saravananvelu commented on #17656
@jaiminparikh Did you fixed the issue?

[2018-08-21 08:49] engcom-backlog-andrii commented on #17711
@RishabhRkRai , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-21 08:55] zebimax opened #17715 "duplicate event in Delete operation transaction "entity_manager_delete_before""
### Preconditions

1. Magento 2 code

### Steps to reproduce

1. Observe \Magento\Framework\EntityManager\Operation\Delete::execute

### Expected result

1. 'entity_manager_delete_before' event dispatched once.

### Actual result

1. 'entity_manager_delete_before' event dispatched twice.

https://github.com/magento/magento2/blob/764b00c40d9ad6dd7c8b53f3ecf04a9b4fab2b2e/lib/internal/Magento/Framewo

[2018-08-21 08:55] magento-engcom-team commented on #17715
Hi @zebimax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-21 08:57] engcom-backlog-pb commented on #17706
@EustaceCS, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-21 08:57] engcom-backlog-nazar commented on #14148
Hi @pjw345 , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-21 09:00] magento-engcom-team commented on #17700
Hi @dmytro-ch. Thank you for your report.
The issue has been fixed in magento/magento2#17701 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [d438e9b68d111715b09c7252786ac2ec102ba19c](https://github.com/magento/magento2/commit/d438e9b68d111715b09c7252786ac2ec102ba19c)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-21 09:00] #17700 closed, assigned to dmytro-ch

[2018-08-21 09:02] engcom-backlog-pb commented on #17705
@larsroettig, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-21 09:02] engcom-backlog-nazar commented on #14519
Hi @erichagz I'm not able to reproduce, can you provide information when more often the errors are show ?

[2018-08-21 09:04] ihor-sviziev commented on #12717
@helefa if you'll apply patch from #12765 - it should work in 2.2.x, but as this change is not backward compatible - we can't add it to one of next 2.2.x releases.

[2018-08-21 09:06] jaiminparikh commented on #17656
@saravananvelu Still I am working on this.

[2018-08-21 09:30] saravananvelu commented on #17656
@jaiminparikh  I have fixed this issue in my local which I have done for one of our clients, if it is ok for you I will commit.

[2018-08-21 09:37] engcom-backlog-pb commented on #17715
@zebimax, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-21 09:41] Yuibaritone opened #17716 "Sorting Product name is not Working [Magento 2.2.5]"
### Preconditions

1. Install Magento 2.2.5
2. V.7.1.17

### Steps to reproduce

1.Go to frontend >> Test category
2.Change "Sort" to "Product Name"

### Expected result

1. When I Change "Sort" to "Product Name" is working

### Actual result

1. "Sort" to "Product Name" isn't working
2. "Sort" to "Position" is working
3. "Sort" to "Price" is working

[2018-08-21 09:42] magento-engcom-team commented on #17716
Hi @Yuibaritone. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-21 11:01] josephmcdermott commented on #16249
This is when the product has no meta title. On creating a product via the admin panel the meta title is auto-populated, but when creating a product through other means such as the API, they meta title can remain empty.

@engcom-backlog-pb create a new product in a vanilla 2.2.5, then edit the product and delete the meta title, and then you will see that the product has no title on the frontend.

I

[2018-08-21 11:03] engcom-backlog-nazar commented on #15115
Hi @InternetMedicineMan thank you for you report, the fix for this issue has already on 2.2-develop and 2.3-develop branch

[2018-08-21 11:04] josephmcdermott commented on #16249
Apologies, looks like you have already fixed this in 2.3-develop:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Helper/Product/View.php#L115

[2018-08-21 11:10] kemexyz commented on #12390
Confirming this issue on 2.2.5, its keeping customers from completing the checkout.

Preconditions
PHP 7.0.30-0ubuntu0.16.04.1
MySQL 5.7.23
Magento CE 2.2.5 – with min. 1 product, 1 shipping method, 1 payment method

Steps to Reproduce
1. Put product into cart
2. Go to checkout
3. Fill out shipping address
4. Continue to billing step
5. Select a payment method
6. Open another browser tab with the

[2018-08-21 11:19] engcom-backlog-andrii commented on #17716
@Yuibaritone, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

![sort](https://user-images.githubusercontent.com/41946904/44398618-38def200-a54d-11e8-8f99-736c18e9f38e.png)

[2018-08-21 11:48] engcom-backlog-nickolas commented on #17709
Hello @qsolutions-pl, thank you for your report. I'm not able to reproduce this issue.
![peek 2018-08-21 14-45](https://user-images.githubusercontent.com/40755810/44399722-3e3e3b80-a551-11e8-8759-9ee0211f6d15.gif)

Could you please add more details, or try tor reproduce this issue on clean installation?

[2018-08-21 11:50] likemusic opened #17727 "`catalog_product_entity_media_gallery` not cleared when related products deleted."
### Preconditions
1. Magento 2.2.5CE with sample data.

### Steps to reproduce
1. Go to Products page and delete all products.
2. Look at `catalog_product_entity_media_gallery` table.

### Expected result

1. Table `catalog_product_entity_media_gallery` is empty.

### Actual result

1. It's still has 3.422 rows.  There is no row was deleted.

[2018-08-21 11:50] magento-engcom-team commented on #17727
Hi @likemusic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-21 12:00] engcom-backlog-nazar commented on #15506
Hi @nikoelgatito We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
1->Have a PayPal account with a Newfoundland address that has been created before the name of the province has changed to "Newfoundland & Labrador".
2->please refer to the Community Forums or the Magento Stack Exchange site for advice or general discus

[2018-08-21 12:00] #15506 closed, assigned to nobody

[2018-08-21 12:20] sid031195 opened #17728 "the images not seen on dashboard it just showing alternate name of images"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-21 12:31] jaiminparikh commented on #17656
@saravananvelu sure you can commit it. Thanks for the update.

[2018-08-21 12:46] engcom-backlog-pb commented on #7083
@peec, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-21 12:47] engcom-backlog-nazar commented on #14964
Hi @gtlt  HI @rparsi I'm tested with-> update sales_order_address set email=null parent_id=null address_id=null; update quote_address set email=null Then run setup upgrade-> debug point on
[code]
I'm not have an error, filed not updated if i only delete the adress_id,
 the method fillQuoteAddressIdInSalesOrderAddress saves ids.

[2018-08-21 13:18] engcom-backlog-nazar commented on #14964
@gtlt thank you for you report. The fix for this issue will be available in 2.2.7 release https://github.com/magento/magento2/pull/16570

[2018-08-21 13:18] #14964 closed, assigned to nobody

[2018-08-21 13:35] adi3009 commented on #10814
can also replicate in 2.2.5

[2018-08-21 13:45] engcom-backlog-nazar commented on #14650
Hi @GlobalOutsourcing I'm not able to reproduce, Maybe problem in your environment ?

[2018-08-21 13:51] troublediehard commented on #16427
@chris-pook there are things I don't like about both solutions, but since it is a workaround I think it's fine.

[2018-08-21 13:58] engcom-backlog-pb commented on #10292
@andrewhowdencom
No, install through command line.

[2018-08-21 14:11] engcom-backlog-pb commented on #16249
@josephmcdermott , thank you for clarification.
We've acknowledged the issue and added to our backlog.

[2018-08-21 14:16] engcom-backlog-pb commented on #15523
@chipsmaster, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-21 14:16] #15523 closed, assigned to nobody

[2018-08-21 14:45] josephmcdermott commented on #3993
Could it be that this line needs to retrieve all sibling category ID's of the category being moved?
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/Model/Category.php#L460

eg:
[code]

This way the category, its previous siblings and new siblings all get their position reindexed.

[2018-08-21 14:46] mustdobetter commented on #12414
@okorshenko, could you please point us in the right direction fo the relevant pull request/changed code so we can fix this on our 2.2 install? Upgrading is not an option right now.

Many thanks.

[2018-08-21 14:49] adrcueva opened #17729 "Unable to post data to consumer due to an unexpected error"
Error: Unable to post data to consumer due to an unexpected error
Into: Activate a new integration
            callback: https://dev.utilex.pe
            Identity link URL: admin_2k4l9e
            Resource Access: ALL

Enviroment: Centos 7.0
                         Php 7.1.21
                         Mysql 8.0.12
                         Nginx 1.12.2

Steps to repoduce: Just add a new Integrati

[2018-08-21 14:49] magento-engcom-team commented on #17729
Hi @adrcueva. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-21 15:03] Grumag commented on #7977
No, that doesn't change anything. The setting was already set to Yes.

[2018-08-21 15:47] antonkril commented on #4506
Official bundling recommendation
https://devdocs.magento.com/guides/v2.3/performance-best-practices/advanced-js-bundling.html

[2018-08-21 16:02] 0-Sony commented on #7153
Hi all,
I managed to add video programmatically using REST call.
My problem was that all data were recorded in database, but in backoffice, only thumbnail was visible , and other fields were empty.
I noticed that in database the data were set for store_id 1.
So to set this for store_id 0 , i used this call :

`http://myawesomewebsite.com/rest/all/V1/products/{$sku}/media`

Here is an exemple :
`
$

[2018-08-21 16:04] vtransy commented on #14803
I got the same issue, found the cause and solution for this, more detail wrote here:
https://mrvts.wordpress.com/2018/08/21/magento-2-required-parameter-theme_dir-was-not-passed-after-manually-adding-theme-remove-theme-delete-theme/

[2018-08-21 16:08] simonrl commented on #11963
Hi, it seems to me that the above mentioned fix by @klimart does only work with products and categories that have the same URL key in both stores.
Did anyone get it working with different url keys?

[2018-08-21 16:27] erikhansen commented on #4506
@antonkril Thanks for sharing that detailed writeup about how to optimized Magento's bundling. I look forward to going through those steps for some of the Magento sites I'm working on. Due to the work involved with creating customized bundles, I expect the most merchants/developers will not implement them.

1. Do you anticipate a future core Magento release to ship with this type of configuration

[2018-08-21 16:30] pczerkas commented on #11840
Hello,
can anyone test this (2.2.4):
	<type name="Magento\Framework\Cache\InvalidateLogger">
        <arguments>
			<argument name="request" xsi:type="object">Magento\Framework\App\Request\Http\Proxy</argument>
        </arguments>
	</type>
?
Making "request" parameter for Magento\Framework\Cache\InvalidateLogger constructor lazy (Proxy) seems to resolve the issue in our setup.

[2018-08-21 16:36] leoquijano commented on #17582
Hi,

I also encountered this issue. In my case, this happens when ```config:show``` tries to display the value of ```dashboard/use_aggregated_data``` from ```app/etc/config.php```:

[code]

It seems that ```Magento\Config\Console\Command\ConfigShow::process``` is assuming that the ```Magento\Config\Model\Config\Structure::getElementByConfigPath``` method will always return an instance of ```Magent

[2018-08-21 16:52] ghost opened #17730 "Magento 2.2.4 - Cart Price Rule not working for some products"
We are using Magento 2.2.4
We have added cart rule without a coupon code.

In Actions, we have selected one of the SKU.

Apply Rule: Buy X get Y (Fixed Price)

### Expected result
All the mentioned SKU should be applicable for the cart rule

### Actual result
For some products, it working and for some SKUs, it is not working

Please note we have configurable products also.

[2018-08-21 16:52] magento-engcom-team commented on #17730
Hi @AlectoMysticCode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-08-21 16:59] ghost opened #17731 "Magento 2.2.4 - Advance Pricing not saving"
**Preconditions**
We are using Magento 2.2.4 and when we add Advanced pricing for the products

**Steps to reproduce**
1. Create simple product with all required fields and save
2. Open Advanced Pricing and add different price for Qty eg:
Website 1 => 1 Qty => $10
Website 1 => 2 Qty => $18
Website 1 => 3 Qty => $25
3. Save and go to storefront and change Qty 1, 2, and 3 for this product

### Expec

[2018-08-21 16:59] magento-engcom-team commented on #17731
Hi @AlectoMysticCode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-08-21 19:52] cesaroctaviods commented on #7623
I have the same issue in magento 2.2.5 :(

[2018-08-21 21:47] ezequielalba opened #17732 "Is there a reason why customerData works different on Product Page?"
Hello!

I am working a lot lately with the client side interactions and mage-cache-storage using the customerData. Like when the user clicks some button, I send information to the customerData and store it there for future use in the same session.

For example:
[code]

So far, really good, I was doing some cool stuff retrieving data from the Client side when User Interacts, storing information onc

[2018-08-21 21:47] magento-engcom-team commented on #17732
Hi @ezequielalba. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-21 21:52] ezequielalba commented on #17732
@magento-engcom-team give me 2.2.3 instance

[2018-08-21 21:53] magento-engcom-team commented on #17732
Hi @ezequielalba. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-08-21 21:53] magento-engcom-team commented on #17732
Hi @ezequielalba, here is your [Magento instance](https://i-17732-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17732-2-2-3.engcom.dev.magento.com/admin](https://i-17732-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-21 22:02] ezequielalba commented on #17732
@magento-engcom-team I just need to know if that is something that is supposed to happen in the product View or it is actually something that I can avoid by using another method or approach.
All the information required to reproduce the issue is specified correctly in the first comment/post of the thread. Thanks!

[2018-08-22 00:28] Flipmediaco commented on #16793
**Preconditions**
1. Magento version 2.2.5
2. php 7.1 OR 7.0

**Steps to reproduce**
Upgraded to Magento 2.2.5 from 2.2.4

Run cron via cli:-

$php -v
PHP 7.0.31-1+ubuntu16.04.1+deb.sury.org+1 (cli)

$php -d memory_limit=-1 public/bin/magento cron:run
OR
$/usr/bin/php7.1 -d memory_limit=-1 public/bin/magento cron:run

Fails to run cron, no jobs executed, no entries created in cron_schedule

**Expe

[2018-08-22 06:07] engcom-backlog-nazar commented on #17729
Hi @adrcueva i'm not able to reproduce by your scenario, please provide more information. Thanks.

[2018-08-22 06:10] engcom-backlog-nickolas commented on #17728
@sid031195, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, create issue with description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [

[2018-08-22 06:10] #17728 closed, assigned to nobody

[2018-08-22 06:35] finlander commented on #11821
Magento Social needs  PHP-FPM (FastCGI Process Manager) to be active. Switch PHP-FPM on and you'll be able to Authenticate it.

[2018-08-22 06:42] engcom-backlog-andrii commented on #17731
@AlectoMysticCode, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-22 06:51] engcom-backlog-nazar commented on #14423
Hi @vmsh0  i'm not able to reproduce by following steps your described, Also did you try to set permission by devDocs -> https://devdocs.magento.com/guides/v2.2/config-guide/prod/prod_file-sys-perms.html

[2018-08-22 06:52] Rutvee123 opened #17734 "Issue with custom admin grid timezone and date in Magento2"
![123](https://user-images.githubusercontent.com/37202663/44447584-4c9a5f00-a606-11e8-8aff-8eb1484175a9.png)
![456](https://user-images.githubusercontent.com/37202663/44447585-4c9a5f00-a606-11e8-9b97-272c3ed80df7.png)

In magento2 Inline Edit date issues while i edit the record and enter some date it will give one smaller date than it.

Preconditions
Magento version 2.2.3
php 7.0.29
mysqli mysqlnd

[2018-08-22 06:52] engcom-backlog-andrii commented on #17340
@Vikram0811, hi thanks for you update, but this is not a bug and expected Magento behavior.

[2018-08-22 06:52] magento-engcom-team commented on #17734
Hi @Rutvee123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-22 06:52] #17340 closed, assigned to nobody

[2018-08-22 06:59] engcom-backlog-andrii commented on #17653
@zlik , thanks for you update.
We've acknowledged the issue and added to our backlog.

[2018-08-22 07:05] DanielRuf commented on #14952
@ankit1388 this is not a good practice. Better use composer-patches.

[2018-08-22 07:32] Bluesilverlight opened #17736 "Repeated Error Message"
Hello

1) I keep getting error messages such as the following in the Admin Area of m Magento2.2.5 with Webkul Marketplace extension and Agorae Theme.

"There has been an error processing your request
Exception printing is disabled by default for security reasons.

Error log record number: 802764218454"

2) Also for example, I have added Categories and Root / Sub Categories, but they do not refresh

[2018-08-22 07:32] magento-engcom-team commented on #17736
Hi @Bluesilverlight. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-08-22 07:37] engcom-backlog-pb commented on #17736
@Bluesilverlight, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-22 07:37] #17736 closed, assigned to nobody

[2018-08-22 08:05] engcom-backlog-nazar commented on #14592
Hi @salmanazeez786 i'm not able to reproduce by following steps your described, i'm not able to add expired credit card it's impossible to testing.

[2018-08-22 08:11] engcom-backlog-pb commented on #16793
@Flipmediaco, thank you. We are reopening issue.

[2018-08-22 08:15] lennartbee commented on #5907
I had to use @rogan-son solution with a bigger number

[2018-08-22 08:47] stephan-cream commented on #7739
I found out how to reproduce this.
When sending multiple mails in the same process.
A cronjob would be a good example.
Another good example would be a mass action like the one provided by Mageworx's module-ordersgrid module to resend order emails, invoice emails and shipment emails.

The main cause is that a singleton is being used in the following files:
- `vendor/magento/framework/Mail/Template/

[2018-08-22 08:49] rickschippers commented on #11002
I see the same behaviour as @AgentGod. Multiple sites start creating deadlock errors after updating to 2.2.5. When I clear the cron_schedule it seems fine for a few days, then it starts again.

[2018-08-22 08:52] AdamReece-WebBox commented on #12273
We're finding it quite hard to believe that a platform this big is taking such a long time to support PHP 7.2, which has been stable for 9 months now...

Given that mcrypt got deprecated for PHP 7.1, which was released as stable Dec 2016, how has an enterprise grade product such as Magento still not caught up in nearly 2 years?

[2018-08-22 08:53] eamonsheeran commented on #12255
Thanks gab4mad it work for me too

[2018-08-22 08:55] engcom-backlog-nazar commented on #14118
Hi @sunilit42 I'm not able to reproduce folowing steps you described. the problem you are describet maybe relevant to web browser, we are closing this issue, If you'd like to update it, please reopen the issue.
![mixingjs](https://user-images.githubusercontent.com/40756439/44453580-06db9780-a602-11e8-8dcc-5b19f9902e8f.gif)

[2018-08-22 09:06] engcom-backlog-pb commented on #16793
@Flipmediaco, we were not able to reproduce this issue by following the steps you provided. Seems like your problem is caused by some custom modules.

[2018-08-22 09:10] qsolutions-pl commented on #17709
would you like for me to send layout XML I have configured?

[2018-08-22 09:15] developer-vtnetzwelt commented on #13959
I am also facing the same issue on version - 2.2.3.  On php-7.0.30 its working fine and on php-7.1.20  its giving same issue -  "Warning: A non-numeric value encountered in /home/www-data/staging.risch-shoes.com/vendor/magento/zendframework1/library/Zend/Locale/Math/PhpMath.php on line 94"

[2018-08-22 09:31] ihor-sviziev commented on #7739
Hi @stephan-cream  as I said before - this issue duplicating https://github.com/magento/magento2/issues/14952.
We have potential fix in https://github.com/magento/magento2/pull/16461 (but as it's not merged yet - we might change implementation)

[2018-08-22 09:48] ramindas commented on #14952
Hi Hans,

It worked for me now I can see from address applied below patch as you mentioned

https://github.com/magento/magento2/files/2309277/MDVA-10993_EE_2.2.4_v1.composer.patch.zip

Thanks...

[2018-08-22 09:51] engcom-backlog-pb commented on #3993
@stanislav-zgr, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-22 09:59] sunilit42 commented on #14118
Hello,

@magento-engcom-team checkout page comes using ajax and ko so works

Try to create one mixin for product page and try it

[2018-08-22 10:04] engcom-backlog-nazar commented on #14118
@sunilit42  ok.

[2018-08-22 10:06] sunilit42 commented on #14118
let me know if you want sample module

[2018-08-22 10:15] AlectoMysticCode commented on #17730
Hi,

Thanks for the help.

For anyone visiting this issue in future, please check it there is some 3rd Party extensions, who is putting checks on the cart rules that need to be applied or not. In my case, it was Amasty Rules Pro.

Hope this helps.

[2018-08-22 10:15] #17730 closed, assigned to nobody

[2018-08-22 10:45] ankit1388 commented on #14952
@DanielRuf I accept your answer. thanks

[2018-08-22 10:48] Flipmediaco commented on #16793
On further review I believe you are correct ;-) Potentially **Wyomind Cron Scheduler**

We have Wyomind Cron Scheduler installed on the instance suffering this issue.

The instance of this error reported on Stack Exchange as confirmed they have **Wyomind Cron Scheduler** installed. (https://magento.stackexchange.com/questions/236586/magento-2-2-5-error-on-cronrun-after-every-production-deployment)

[2018-08-22 10:50] ashishpatil111 commented on #16531
@AaronONeill Thanks, we installed the FileInfo php module in WHM-cpannel and it resolved this issue.

[2018-08-22 10:50] gwharton commented on #14952
The Magento Patch MDVA-10992_EE_2.2.4_v1.composer.patch implements the same solution that is waiting to be merged in PR #16461

[2018-08-22 10:55] DanielRuf commented on #14952
I think we have some article / guide somewhere.

There are some instructions at https://magento.stackexchange.com/questions/175598/how-to-apply-the-magento-2-patches.

Composer has to know where the needed patches are.

[2018-08-22 11:06] engcom-backlog-nazar commented on #14118
@sunilit42 Same result for custom module, Can you please provide your module ?
![selection_060](https://user-images.githubusercontent.com/40756439/44460105-95f1ab00-a614-11e8-9938-d6d3191ce502.png)

[2018-08-22 11:08] sunilit42 commented on #14118
just open url and switch to another tab

[2018-08-22 11:13] ankit1388 commented on #14952
@DanielRuf  this is good article i found
https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit

[2018-08-22 11:18] engcom-backlog-nazar commented on #14118
@sunilit42
![jsmixins](https://user-images.githubusercontent.com/40756439/44460523-14028180-a616-11e8-8e27-86dd0bc04dd1.gif)

[2018-08-22 11:28] cedmudit commented on #17731
@AlectoMysticCode
The advanced pricing concept I think you had taken wrongly, as the concept is if the customer will buy more products price will be reduced based on rules. Here the rules applicable based on each quantity, so if you enter rule like:
Website 1 -> All Groups -> 1Qty -> $10 Price
Website 1 -> All Groups -> 2Qty -> $9 Price
Website 1 -> All Groups -> 3Qty -> $8 Price

It will work.

W

[2018-08-22 11:35] jahicDario commented on #11263
I have similar problem. I also added custom attribute for customer and it is dropdown with list of users name. When I choose one of users from dropdown and click Save Customer I get message that custom attribute field is required even though I choose one value.

[2018-08-22 11:38] Detzler commented on #8884
confirm

[2018-08-22 11:46] engcom-backlog-nazar commented on #15654
Hi @nadroj467 did this issue appear only when you migrate from 1.9 magento to 2.0 ? I'm not able to reproduce on clean magento 2.2 instance

[2018-08-22 11:57] chris-pook commented on #16479
Is there any suggestion of how to fix this in a site running < 2.2.7 ?

A plugin approach does not work due to the `parent::getValue()` method call elsewhere which means custom code won't kick in (as per https://github.com/magento/magento2/issues/11699).

[2018-08-22 12:11] engcom-backlog-nazar commented on #15654
@nadroj467  we can not reproduce the issue on clean magento instance. Please, report the issue to the https://github.com/magento/data-migration-tool repository is there is an issue in the tool.

[2018-08-22 12:11] #15654 closed, assigned to nobody

[2018-08-22 12:47] engcom-backlog-nazar commented on #14118
@sunilit42 Can you reproduce this again ? or i can close issue ?

[2018-08-22 12:49] koopjesboom commented on #11263
@brplassen
Yes, Lots and lots of Developers love and adore Magento 2 to gain huge profits out of the unknown.
I am fighting against this because open source should not be a product to gain huge amount of profit from if there are problems in final versions. Otherwise they should change the name to open money machine. And i know this because i was one of the unknown and they drained me for 17834,40€

[2018-08-22 12:54] engcom-backlog-nazar commented on #13149
Hi @Joedel-Esco I'm closing this issue on @magewallet comment, that already fixed

[2018-08-22 12:54] #13149 closed, assigned to nobody

[2018-08-22 13:11] navarr opened #17744 "Virtual-only quotes use default shipping address for estimation instead of default billing address"
When you have a cart containing only virtual products and are a signed-in customer with different default shipping and billing addresses, the default shipping address information will be populated in the cart estimation field instead of the default billing address information - providing an incorrect estimation of tax charges.

### Preconditions

1. Magento 2.2.6-dev installed
2. Default tax rates

[2018-08-22 13:11] magento-engcom-team commented on #17744
Hi @navarr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-22 13:11] navarr commented on #17744
@magento-engcom-team give me 2.2-develop instance

[2018-08-22 13:11] magento-engcom-team commented on #17744
Hi @navarr. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-08-22 13:12] magento-engcom-team commented on #17744
Hi @navarr, here is your [Magento instance](https://i-17744-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17744-2-2-develop.engcom.dev.magento.com/admin](https://i-17744-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-22 13:18] sumeetmobiwebtech opened #17745 "Item (Magento\Review\Model\Review\Interceptor) with the same ID "5" already exists."
### Preconditions

1. Magento 2 version - 2.1.7
2. PHP Version 7.0.30-0
3. SQL - 5.0.12

### Steps to reproduce

1. On product detail page override theme here Magento_Catalog->layout->catalog_product_view.xml,here i paste this code
  `<referenceContainer name="product.info.additional">
        <block class="Magento\Review\Block\Product\View\ListView"  name="custom.product.section.info" template="M

[2018-08-22 13:18] magento-engcom-team commented on #17745
Hi @sumeetmobiwebtech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-08-22 13:25] engcom-backlog-pb commented on #17745
@sumeetmobiwebtech, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-22 13:25] #17745 closed, assigned to nobody

[2018-08-22 13:26] captainfromspace opened #17746 "Wrong image type is loaded when clicking a swatch image on the category page"
The default image shown for a product on the category page is either the `category_page_grid` image or the `category_page_list` image. When a user clicks on the a color swatch the image that gets loaded via ajax i `product_page_image_medium_no_frame`. That's the same image used on the product page.

First of all it's just a wast of bandwidth to load larger images than necessary, the `category_page

[2018-08-22 13:27] magento-engcom-team commented on #17746
Hi @captainfromspace. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-08-22 13:32] vmsh0 commented on #14423
Hi @engcom-backlog-nazar,
Thank you for your response.

I don't want to sound harsh but I clearly described all the steps I've taken, which include setting the filesystem permissions, in my original post.

This has happened throughout different versions of the software to many people, so maybe it's time to revise the specs and the code.
For one, it seems absurd that you have a system in place wher

[2018-08-22 13:34] kirmorozov commented on #13685
@piotrekkaminski Hello old friend.
This initiative is there since April and I have jQuery 3 in production for front-end.
Its been few months since I put a bit of an effort to fix tests and minor core incompatibilities.
Everything else was pushed to the core before April.

[2018-08-22 13:58] clikit101 commented on #12366
@AirmanAJK .  Any chance you can share your code snippet?

[2018-08-22 13:58] esiemens commented on #11821
we have PHP-FPM on and it still will not authenticate

[2018-08-22 13:59] AlectoMysticCode commented on #17731
@cedmudit
Actually my bad, for providing you with the wrong example. It is as intended as you showed above.

Actually, I can't reveal the client data, so came up with an example, which unfortunately I messed up.

But the issue still exists. The Quantity reset to 1 on product save and there is no error in any logs also.

Even if we make a single entry of Website 1 -> All Groups -> 2Qty -> $9 Price.

[2018-08-22 14:01] gwharton commented on #12273
@renttek , Yeah, I understand. I was merely suggesting that for most people the fact that PHP 7.1 is not end of life until the end of the year is mostly irrelevant, and much more important is when their current distro stops supporting PHP 7.1, which for unbuntu 17.10, has already happened. I understand other distro's are worse and some are better. Its just frustrating that I, personally, am stuck

[2018-08-22 14:06] engcom-backlog-pb commented on #17744
@navarr, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-22 14:10] craigcarnell commented on #12273
@gwharton Install Ubuntu 18.04. Do not install PHP 7.2, install 7.1 on it's own. It works just fine, but it's unnecessary hassle.

@renttek Can we get a refund for our license fees then? ;)

[2018-08-22 14:14] gwharton commented on #12273
@craigcarnell Yes, thats a way out, but experience tells me I will regret that approach as soon as I try to install anything else that has even a sniff of a dependency on php 7.2 through apt/dpkg.

[2018-08-22 14:18] craigcarnell commented on #12273
In November I will be updating this thread title to be 'PHP 7.3 is out...'

[2018-08-22 14:30] nuwaus opened #17748 "Invalid Form Key. Please refresh the page. when trying to save a category"
### Preconditions

1. Magento 2.2.5
2. PHP Version 7.1.20

### Steps to reproduce

1. Open a category by going through Catalog > Categories > Select a category in the tree
2. Make some changes (not required)
3. Hit save button to save the changes

### Expected result

1. Saving the category without any issue

### Actual result

1. Invalid Form Key. Please refresh the page. (no any long in error lo

[2018-08-22 14:30] magento-engcom-team commented on #17748
Hi @nuwaus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-22 14:37] engcom-backlog-pb commented on #17748
@nuwaus, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-22 14:37] #17748 closed, assigned to nobody

[2018-08-22 14:40] Shelley672 opened #17749 "New Products Showing Out of stock Magento 2.2.2"
New Bundle Products are showing out of stock. All simple items within the bundles are in stock and have a number in quantity.

[2018-08-22 14:40] magento-engcom-team commented on #17749
Hi @Shelley672. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-22 15:05] iget-master commented on #1619
I was having all this sh*t problems of everyone here. We sold to one of our clients a theme to migrate they store to Magento 2, because, wow, Magento 2 isn't that horrible thing that 1.x used to be. Bullshit!!! It's the same bad engineered software, made by a company that really don't care about things work or not to the outside developers.

I really hate Magento 2 at this point, as much as I hate

[2018-08-22 16:00] vincent2090311 opened #17752 "Multiselect product attribute doesn't work with product list widget"
Add product list widget to cms page/block with multi-select attribute filter doesn't work. Magento return wrong result due SQL query mismatch. The result is missing some products

### Preconditions

1. Magento CE 2.2.5
2. Default Luma theme
3. Sample data
4. Nginx 1.14
5. Mysql 5.7
6. PHP 7.0

### Steps to reproduce

1. go to any cms page and add new widget like this (activity is product multisele

[2018-08-22 16:35] zlik commented on #17653
No problem at all, thanks for checking @engcom-backlog-andrii. I understand this could have been tricky to reproduce so thanks for your patience.

[2018-08-22 17:14] Flipmediaco commented on #16793
With all Wyomind modules removed and all 3rd party modules disabled the issue still persists. I have ruled out the Wyomind not honouring being disabled by completely removing. All other extension have been set to disabled. I rolled back to 2.2.4 and cron works with and without Wyomind Cron Scheduler installed.

If I request test instance can I run the cron via cli?

I am happy to explore configura

[2018-08-22 17:16] vbuck opened #17753 "Magento cannot run with custom Composer vendor directories"
When using the `COMPOSER_VENDOR_DIR` setting to specify a vendor path outside of the Magento installation root, Magento's autoloader registration fails to generate the correct path.

### Preconditions

1. Any host with access to two separate parent directories.
2. Any recent version of composer installed

### Steps to reproduce

1. Create a temporary directory for vendor data: `mkdir /tmp/composer

[2018-08-22 17:16] magento-engcom-team commented on #17753
Hi @vbuck. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-22 18:12] milossh opened #17754 "Misleading error in Add Product Attribute screen"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1.  Navigate to Store->Attributes->Product
2.  Add new attribute
3.  Set Attribute Code to Foo_Bar
4. Click Save

### Expected result
1. An error message saying that capital letters are not allowed in Attribute Code field

### Actual result
1. Following error message:

[2018-08-22 18:12] magento-engcom-team commented on #17754
Hi @milossh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-22 18:27] bruno-serfe commented on #331
Hey Guys, I know this is old, but I experiencing the same issue here with Magento 2.2.3 any ideas? thanks!

[2018-08-22 18:44] milossh commented on #17754
Yes.

[2018-08-22 19:34] cap340 commented on #6955
Strange behavior for Magento2, already the same in Magento1... <br/>
From what I understood, Magento doesn't remove associated images when deleting a product in case of further needs but I still really don't understood possible issues.<br/>
My `media/catalog/product` folder size is almost **5gb** for actually only 11.000 products in the db and almost a year in production (clothes, 4 collections/ye

[2018-08-22 21:26] beatdemon commented on #3305
Hello, I seem to be having a very similar issue but with version 1.9.3.9 of Magento CE. Is anyone aware of this? Thank you for any help you can offer.

[2018-08-22 21:39] #13467 closed, assigned to nobody

[2018-08-22 22:17] andkirby commented on #13995
@ankit-sf , we just downgraded elasticsearch container (seem, to 2.x).

[2018-08-23 00:43] BuysTooMuch commented on #5398
Somehow, unbelievably, over two years later, still **not working in 2.2.5**

[2018-08-23 03:14] cedmudit commented on #17731
@magento-engcom-team give me magento 2.2.4 instance

[2018-08-23 03:51] salehawal opened #17757 "magento 2.2.4 | file permission problem"
- issue
RuntimeException : Cant Create Directory

- environment
Centos 6
php 7.1
magento 2.2.4

- steps to reproduce
php bin/magento setup:di:compile

- expectation and actual result
it should work fine, but it gives permission problems, and i always have to login as root and change all public_html folder ownership again to cpanel user then run chmod on ( pub, generated and var ) folders

this is

[2018-08-23 03:51] magento-engcom-team commented on #17757
Hi @salehawal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-23 03:54] salehawal commented on #17757
why failed, what is not clear?

[2018-08-23 04:02] pavelshulga commented on #17691
I'm working on #cd-balance

[2018-08-23 04:57] fauzie commented on #5408
@magento-engcom-team It doesn't fix also in 2.2.0

[2018-08-23 06:37] captainfromspace commented on #17746
Confirmed @magento-engcom-team

[2018-08-23 06:54] sidolov commented on #17648
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#17689 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [d942d6775a3cde1da54e68ed3cf9757ee4d105d4](https://github.com/magento/magento2/commit/d942d6775a3cde1da54e68ed3cf9757ee4d105d4)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-23 07:11] engcom-backlog-nazar commented on #17752
Hi @vincent2090311 , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-23 07:27] engcom-backlog-pb commented on #17757
@salehawal, when you click "new issue", a template is provided. Your issue structure should be based on this template.

[2018-08-23 07:27] engcom-backlog-pb commented on #17757
Also, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-23 07:27] #17757 closed, assigned to nobody

[2018-08-23 07:33] engcom-backlog-nazar commented on #14118
@sunilit42 we are closing this issue. If you'd like to update it, please reopen the issue.

[2018-08-23 07:33] #14118 closed, assigned to nobody

[2018-08-23 07:33] chandirasekarid commented on #5666
@vivek201

enter the informations in transaction emails section before saving the design configuration
It worked for me
![capture](https://user-images.githubusercontent.com/42635948/44511370-e2042480-a6d4-11e8-9b39-4c22b10e53fe.PNG)

[2018-08-23 07:42] engcom-backlog-andrii commented on #17731
@cedmudit , thanks for you works for this issue. But product advanced pricing on backend and frontend on Magento store cannot be different

[2018-08-23 07:43] Kaushik-Roy commented on #10010
### Hi guys, even i am facing the same issue here.This happens whenever i am going to checkout page and try to add a new shipping address. I get this particular error message under the additional street address fields.
### "Please enter less or equal than 255 symbols."

**Preconditions**
- Magento 2.1.5
- PHP Version 7.0.30
- MySQL Ver 14.14 Distrib 5.7.23, for Linux (x86_64)

**Steps to reproduce

[2018-08-23 07:51] kaushik-kumar-roy opened #17758 "M2.1.5, Checkout Shipping Address Popup Validation Error 'Please enter less or equal than {0} symbols' on empty 2nd address line when adding new address"
### Hi guys, I am facing the an issue here.This happens whenever i am going to checkout page and try to add a new shipping address. I get this particular error message under the additional street address fields.
### "Please enter less or equal than 255 symbols."

**Preconditions**
- Magento 2.1.5
- PHP Version 7.0.30
- MySQL Ver 14.14 Distrib 5.7.23, for Linux (x86_64)

**Steps to reproduce**
- Ad

[2018-08-23 07:52] magento-engcom-team commented on #17758
Hi @Kaushik-Roy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-23 07:56] peterjaap commented on #5701
@ishakhsuvarov judging from the [composer.json](https://github.com/magento-engcom/php-7.2-support/blob/2.3.1-develop/composer.json#L45) in that branch, M2.3.1 will still be using a polyfill for mcrypt. Can you confirm there is an initiative underway to actually implement libsodium along with sodium_compat instead of mcrypt, phpseclib and mcrypt_compat?

[2018-08-23 07:57] engcom-backlog-pb commented on #17753
@vbuck, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-23 08:02] paragonie-scott commented on #5701
I can answer this one, as I've been involved in the migration strategy and protocol review.

The gameplan is to switch to libsodium (with sodium_compat as a fallback when ext/sodium isn't available).

However, for the sake of decrypting **existing ciphertexts** after the M2 upgrade, mcrypt_compat was included as well. Its purpose is to enable seamless migrations to better encryption, not to keep M

[2018-08-23 08:06] engcom-backlog-andrii commented on #17754
@milossh , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-23 08:10] cedmudit commented on #17731
@engcom-backlog-andrii : Yes true that's I mentioned previously also if Magento is saving prices like
Website 1 => 1 Qty => $10
Website 1 => 2 Qty => $18
Website 1 => 3 Qty => $25

then it should work on frontend also in the same manner, and while adding the product in the cart it should increase the price, or we can apply validation at admin side to not save prices like above.

[2018-08-23 08:13] kanduvisla opened #17759 "M2.2.5 : CustomerRepository::getList() does not load custom attribute if the name is "company""
I have custom EAV attributes named "company" for customers, but this is not loaded if I use the `CustomerRepository::getList()`-method. Other custom attributes seem to be loaded properly.

### Preconditions

1. Magento 2.2.5

### Steps to reproduce

1. Create customer EAV attribute named "company" (varchar)
2. Populate it with some data
3. Load it with `CustomerRepository::get() / getById()`
4. Lo

[2018-08-23 08:13] magento-engcom-team commented on #17759
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-23 08:40] peterjaap commented on #5701
@paragonie-scott thanks for the explanation! Just listened to you on the Roundtable ep 71 (and 73) yesterday, great work on libsodium w/ PHP7.2 :+1:

[2018-08-23 08:41] Gagandeepwander opened #17760 "problem with the review"
Hey, there’s a problem with the review. Someone wrote a review but some of the end got cut off. Can you please take a look into this. in review tab is not showing complete review on product page. please help.

Thanks you

### Preconditions
    Magento ver. 2.2.2

### Steps to reproduce
     1. click on product.
     2. In productt page has a tabs.
     3. In Customer review tab has a two links  Si

[2018-08-23 08:41] magento-engcom-team commented on #17760
Hi @Gagandeepwander. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-08-23 08:57] engcom-backlog-pb commented on #17760
@Gagandeepwander, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2018-08-23 09:19] engcom-backlog-nazar commented on #17758
Hi @Kaushik-Roy I'm not able to reproduce following steps you described.
 we are closing this issue, If you'd like to update it, please reopen the issue.
![selection_061](https://user-images.githubusercontent.com/40756439/44516732-83d44300-a6ce-11e8-9fd2-cbc47e29830a.png)

[2018-08-23 09:19] #17758 closed, assigned to nobody

[2018-08-23 09:29] engcom-backlog-andrii commented on #17749
@Shelley672, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2018-08-23 09:29] #17749 closed, assigned to nobody

[2018-08-23 09:32] mropanen commented on #13995
Did you try with
`magento config:set catalog/search/engine elasticsearch5` ?

[2018-08-23 09:33] ankit-sf commented on #13995
@mropanen yes
magento config:set catalog/search/engine elasticsearch5 worked for me

[2018-08-23 09:41] bilalusean commented on #15545
any updates? it is a serious issue, please release a patch ASAP. We experienced this issue in Magento 2.2.2.

[2018-08-23 09:52] Gagandeepwander commented on #17760
1 . Preconditions
    Magento ver. 2.2.2

2 . Steps to reproduce
     1. click on product.
     2. In productt page has a tabs.
     3. In Customer review tab has a two links  Sign in or create an account. sign in with account .
     4. Add the review.

3 . Expected result
    In review tab is not showing complete review on product page.Someone wrote a review but some of
     the end got cut off.

[2018-08-23 10:16] harish-sfdc opened #17763 "Error installing Magento2"
I'm trying to install Magento 2.2.5 with sample data. when I hit Install now button in the sixth step, It throwed me many errors in the console. I'm providing you sample Error logs in the console.

[ERROR] PDOException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4-links_purchased_separately' for key 'EAV_ATTRIBUTE_ENTITY_TYPE_ID_ATTRIBUTE_CODE' in C:\xampp\htdocs\Magent

[2018-08-23 10:16] magento-engcom-team commented on #17763
Hi @harish-sfdc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-23 10:20] #17763 closed, assigned to nobody

[2018-08-23 10:26] HanakJakub opened #17764 "Edit order page has the same billing and shipping address even when original order has different addresses for Guest"
When you edit an order which has different shipping and billing address, new order contains only billing address and shipping address is set as same as billing address.
### Preconditions

1. Magento CE 2.2.5
2. PHP 7.0.30
3. MariaDB 10.1.34

### Steps to reproduce

1. Create an order with different shipping and billing addresses for **Guest account**
2. Open that order in admin and click Edit to o

[2018-08-23 10:26] magento-engcom-team commented on #17764
Hi @HanakJakub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-23 10:37] CrowlaraZ commented on #9505
@magento-engcom-team any help please?

[2018-08-23 10:51] Bodyanuk opened #17766 "Observer reset all previously added event data"
### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Create Observer on event `salesrule_rule_condition_combine`
2. Try to add your own `condition`

### Expected result

1. New Rule Condition added

### Actual result

1. Added just 'Customer Segment' condition

The issue happen because `\Magento\CustomerSegment\Observer\AddSegmentsToSalesRuleCombineObserver::execute` method ignore previ

[2018-08-23 10:52] magento-engcom-team commented on #17766
Hi @Bodyanuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-23 10:56] harish-sfdc commented on #17763
Magento version 2.2.5 (with sample data).
Steps to reproduce
1. Download the 2.2.5 and corresponding XAMPP version.
2. extract the zip folder and place the folder in the XAMPP files
3.. follow the 6 steps process of installation. Hit install now button and after 66% the installation throwed various errors.
![magento](https://user-images.githubusercontent.com/31885025/44521624-53ea6700-a6f1-11e8-88

[2018-08-23 11:15] engcom-backlog-andrii commented on #17764
@HanakJakub , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

![adress](https://user-images.githubusercontent.com/41946904/44522383-06fd9500-a6df-11e8-9d69-961f21a54543.png)

[2018-08-23 11:15] rishabhchd19 commented on #17664
Yes. Different sizes of the same "System". It should be the same if nothing has been added or updated. eg. System backup taken at 13:00:01 size 345MB. Now the system has no user and nothing updating or operating the website. On again backing up the System backup at 13:01:01 size will be different.
It shows that system files are not backing up completely.

[2018-08-23 11:17] harish-sfdc opened #17767 "magent (2.2.5) installation fails"
Magento version 2.2.5 (Zip with sample data).

Download the 2.2.5 and corresponding XAMPP version.
extracted the zip folder and place the folder in the XAMPP files
followed the 6 steps process of installation. finally Hit install now button and after 66% the installation throwed various errors.

![magento](https://user-images.githubusercontent.com/31885025/44522410-0f13ff80-a6f4-11e8-9e74-9e76c9f2

[2018-08-23 11:36] tuyennn commented on #5313
#5261

[2018-08-23 11:36] simonrl commented on #17121
Please reopen.

We are using Magento 2.1.14.
It also happens for us when we show images in the compare and wishlist sidebar.

The problem ist with `Magento\Catalog\Model\Product\Image::getResizedImageInfo()`. There are 2 issues here:
[code]

Because `isFile()` converts the path to an absolute path internally, the resulting path is something like `/var/www/magento/var/www/magento` (instead of `var/

[2018-08-23 11:37] tuyennn commented on #5313
#5261 @magento-engcom-team I still could reproduce this on 2.1.9, any bug fix commit or reference link for this issue.

[2018-08-23 11:39] CrowlaraZ commented on #11639
@dhorytskyi Hello! Can u help me please? which files i edit?
I am using 2.1.7, I cant upgrade to other version.
Thanks in advance!

[2018-08-23 11:45] engcom-backlog-nazar commented on #14489
Hi @iuwqyir  I'm not able to reproduce following steps you described,  can you please provide more information? where you apply this select ?

[2018-08-23 11:50] engcom-backlog-pb commented on #17759
@kanduvisla, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-23 11:55] Gagandeepwander commented on #17760
1 . Preconditions
Magento ver. 2.2.2

2 . Steps to reproduce
1. click on product.
2. In productt page has a tabs.
3. In Customer review tab has a two links Sign in or create an account.
sign in with account .
4. Add the review.

3 . Expected result
In review tab is not showing complete review on product page.Someone wrote
a review but some of
the end got cut off.

   1. Actual result
   Show the c

[2018-08-23 11:56] Gagandeepwander commented on #17760
you can check in this screenshot not showing completed customer review.

On Thu, Aug 23, 2018 at 5:25 PM, Gagandeep Kaur <
gagandeep.wbsofttech@gmail.com> wrote:

[2018-08-23 12:04] andkirby commented on #13995
@mropanen  Thanks for this note. Which version do you use?

[2018-08-23 12:07] Tjitse-E commented on #16202
@hostep you're right, the script doesn't fix the bad entities in the `catalog_category_entity_varchar`, but hopefully your fix can help with this.

[2018-08-23 12:12] harish-sfdc commented on #17767
@magento-engcom-team give me {$} instance

[2018-08-23 12:30] engcom-backlog-pb commented on #17766
@Bodyanuk, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2018-08-23 12:30] #17766 closed, assigned to nobody

[2018-08-23 12:37] engcom-backlog-pb commented on #17760
@Gagandeepwander, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation without any custom code.

[2018-08-23 12:39] engcom-backlog-nazar commented on #14412
Hi @bramulous , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-23 12:40] engcom-backlog-pb commented on #17463
@mishunia, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-23 12:40] #17463 closed, assigned to nobody

[2018-08-23 12:50] dzima-chyzhou opened #17769 "Validation "required-file" or "required" does not work in the system.xml file if a field type is image."
### Summary

If you create a field with the "image" type, validation "required" or "required-file" doesn't work.

### Preconditions
1. Magento 2.2.5 CE with sample data
2. PHP 7.0.30

### Steps to reproduce
1. Create any custom module.
2. Create system.xml configuration and add a field with image type for example:
[code]
3. Go to admin side configuration -> do not upload an image in this field ->

[2018-08-23 12:50] magento-engcom-team commented on #17769
Hi @chizhov13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-23 12:50] engcom-backlog-nazar commented on #17767
Hi @harish-sfdc We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
Please refer to the Community Forums or the Magento Stack Exchange site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-23 12:50] #17767 closed, assigned to nobody

[2018-08-23 12:54] harish-sfdc commented on #17767
Hi team,

I want to set up magento2 in my laptop. can you please me tell how to do it.

thanks in advance

On Thu, Aug 23, 2018 at 6:21 PM engcom-backlog-nazar <
notifications@github.com> wrote:

[2018-08-23 13:08] maximecarey opened #17770 "Table rate fail when using ZIP+4 shipping address"
### Summary
When a customer enters an American customer enters a ZIP+4 inside the ZIP code field, the table rate shipping method fails to return a quote.

### Preconditions

1. Linux
2. Magento 2.2.5
3. PHP 7.1.20

### Steps to reproduce

1. Create a Product with weight >= 1.
2. Enable the Table shipping rate
3. Import the rate CSV file:
`Country,Region/State,Zip/Postal Code,Weight (and above),Shi

[2018-08-23 13:08] nbennett25 commented on #6488
@magento-engcom-team we are also seeing this issue with 2.2.4 - customer has a single address, set as default billing and shipping address, yet the customer was able to place an order that does not have a shipping address.

[2018-08-23 13:08] magento-engcom-team commented on #17770
Hi @werfu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-23 13:11] magento-engcom-team commented on #17770
Hi @werfu. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-23 13:11] magento-engcom-team commented on #17770
Hi @werfu, here is your [Magento instance](https://i-17770-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17770-2-2-5.engcom.dev.magento.com/admin](https://i-17770-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-23 13:17] #17466 closed, assigned to nobody

[2018-08-23 13:19] #17769 closed, assigned to nobody

[2018-08-23 13:26] engcom-backlog-andrii commented on #17734
@Rutvee123 , thank you for your report.
Please refer to the Community Forums or the Magento Stack Exchange site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-23 13:26] #17734 closed, assigned to nobody

[2018-08-23 13:28] akmur commented on #1619
Hello, I am also having this problem.
To see changes to a theme file I have to run

[code]

followed by

[code]

However this doesn't seem the way it should be. I have been following the Magento guide, so I have no special configuration or anything.

[2018-08-23 13:37] akmur commented on #1619
This is my workaround for this problem.

Go to your terminal

[code]

then open package.json in the magento root,

and add this bit

[code]

replace of course what's in capital letters with your folder names.

then from the terminal:

[code]

Now it will watch for changes and run the clean and less tasks when a change happens.

Ugly workaround I know.

[2018-08-23 13:39] BenSpace48 commented on #7862
@magento-engcom-team - Any update on this please?

[2018-08-23 14:31] iget-master commented on #1619
@akmur, the problem with your proposed solution is that `grunt clean` deletes all files (including JS) and cause everything to recompile, and it's a ton of files.

The "fix" that I wrote on my angry post does work, but it's a pain to remember to always append the .less on files and to use single quotes. Really don't know how hard is to fix this issue, but I think that it's not too hard, looks like

[2018-08-23 14:43] engcom-backlog-pb commented on #17770
@werfu, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-23 14:44] engcom-backlog-pb commented on #17767
@harish-sfdc, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-23 14:47] davemacaulay commented on #7862
@BenSpace48 I've checked the internal ticket and have seen some progress on this issue. I've chased again to get a better understanding on where this sits.

[2018-08-23 14:54] akmur commented on #1619
To me your solutions is not working though :(
I'm having the worst developer experience lol

[2018-08-23 15:17] BenSpace48 commented on #16302
@magento-engcom-team give me 2.1.7 instance

[2018-08-23 15:18] magento-engcom-team commented on #16302
Hi @BenSpace48. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2018-08-23 15:26] BenSpace48 commented on #7862
Thanks as always! <3

[2018-08-23 15:36] beargroup-jay commented on #14423
For us this was triggered by the "update" cron, which afaik is responsible for applying updates to Magento itself via the [System Upgrade](https://devdocs.magento.com/guides/v2.2/comp-mgr/upgrader/upgrade-start.html) feature in admin. This is incompatible with the recommended hardening steps of removing write access, we do not ever want to apply updates through admin so we removed the "update/cron

[2018-08-23 15:51] hostep commented on #5863
@koopjesboom: if I remember correctly, @thlassche worked on this solution at the time when Magento devs showed very little interest in PR's being created or issues reported.
And even then, it takes a lot of work to figure out how these url rewrites work in Magento 2 (I've spend like more then 100 hours on various issues with those things), not everyone wants to offer all that time they've invested

[2018-08-23 16:01] bmzero commented on #12129
I had this same issue on 2.2.5. It was related to an outdated Amasty extension. We weren't using it anyway, so a quick disable of the extension, recompile, and good to go.

[2018-08-23 16:17] iget-esoares commented on #1619
Are you on linux? Can you post a the result of `ls -la pub/static/frontend/Yourthemevendor/.../css/sources` ?

[2018-08-23 17:38] iget-master commented on #1619
@akmur Actually, you said that are running `grunt clean && grunt less:themename`, but you are not running `grunt watch`? The `grunt watch` is responsible for automatically reload changes without needing to clean and less again.

The problem here is related to grunt watch itself, that should do the same trick as your `npm run watch` script.

[2018-08-23 17:39] syntheticlab commented on #5279
HI, facing same problem: on some 2.1.7 installations.

Any suggestions on how to overcome?

thanks everyone

[2018-08-23 18:11] seanscott49 commented on #12366
Same problem. Our call center got blocked by mod_security for 3 declined transactions because they didn't know it was declined. Calls me to say server down, which it wasn't. Investigated the issue, and the card was declined multiple times and only the call center was blocked for 30 mins. Then today, errors again. Dive in and it was AVS mismatched. By not having the reason for the decline come up a

[2018-08-23 19:07] jeffmowens commented on #14856
Magento issued us a patch to fix this problem.  We've moved on to 2.2.5

[2018-08-23 19:28] rishabhchd19 commented on #17664
The loading "Please wait" disappears while backing up and Page doesn't refresh automatically to show System backup and Backup image size. On manual refresh, the backup image is of different size and indicate that backup was stopped when Loading disappeared.

[2018-08-23 19:54] trucatchtraps commented on #14856
So instead of fixing the issue, they just removed all the progress updates within the popup? Attached are screenshots of the same Order from Magento 2.2.3 and 2.2.5.
![m2 2 3](https://user-images.githubusercontent.com/16922585/44548681-09aabb00-a6dc-11e8-9add-45a36c13e0d3.png)
![m2 2 5](https://user-images.githubusercontent.com/16922585/44548682-0a435180-a6dc-11e8-97d8-7e8b6067b5b7.png)

[2018-08-23 20:19] joshuaadickerson opened #17777 "Captcha Exception: Invalid method Magento\Framework\Session\Generic\Interceptor::isLoggedIn"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce

1. Install B2B module (I don't know where else this is used and it isn't just a bug for B2B since the Captcha class is wrong)
2. Go to /company/account/create/
3.

### Expected result

1. A "create account" page should appear

### Actual result

1. Get an exception

[code]

In `Magento\Captcha\Model\DefaultModel` the SessionMa

[2018-08-23 20:55] joshuaadickerson commented on #17777
@magento-engcom-team give me 2.2.5 instance

[2018-08-23 20:55] magento-engcom-team commented on #17777
Hi @joshuaadickerson. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-23 20:56] magento-engcom-team commented on #17777
Hi @joshuaadickerson, here is your [Magento instance](https://i-17777-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17777-2-2-5.engcom.dev.magento.com/admin](https://i-17777-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-23 21:18] bentintoshape opened #17778 "We can't save the invoice right now."
When trying to email a paid invoice to a customer and capture the funds we get this message

We can't save the invoice right now.

We have tried it multiple times.

![image](https://user-images.githubusercontent.com/34715239/44552514-25b85780-a6f0-11e8-8407-30c82766ac31.png)

[2018-08-24 06:00] vivektrootech commented on #5129
Confirm this on (Mage CE 2.2.5) PR #13084 messed up with Magnifier. You've to revert this PR to enable bug free image zoom.

[2018-08-24 06:41] MartinAarts commented on #17587
Fixed in #17776 for 2.2

[2018-08-24 06:41] #17587 closed, assigned to MartinAarts

[2018-08-24 07:59] Thundar opened #17780 "Module uninstall does not work with composer"
### Preconditions

1. Magento 2.2.5

### Steps to reproduce

1.  Install Magento with composer (2.2.x)
2.  Install Sample Data with bin/magento sampledata:deploy
3.  Complete Sample Data installation: bin/magento setup:upgrade
4.  Remove one package: bin/magento module:uninstall Magento_CmsSampleData

### Expected result

The expecteded result is that the result matches the guide and its sample:
h

[2018-08-24 07:59] magento-engcom-team commented on #17780
Hi @Thundar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-24 08:00] Thundar commented on #17780
@magento-engcom-team give me 2.2.5 instance

[2018-08-24 08:00] magento-engcom-team commented on #17780
Hi @Thundar. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-24 08:01] magento-engcom-team commented on #17780
Hi @Thundar, here is your [Magento instance](https://i-17780-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17780-2-2-5.engcom.dev.magento.com/admin](https://i-17780-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-24 08:16] nilesh111091 opened #17781 "Magento 2.2.5 Order Email Confirmation is not working"
Order email confirmation and all sales emails are not working.
In Advanced > System > Mail sending settings ->
Disable Email Communications set to "No"
Also set host and username password and port details too. Still not working.
![image](https://user-images.githubusercontent.com/42668713/44573349-067b0200-a7a4-11e8-832c-31d5c985862f.png)

[2018-08-24 08:16] magento-engcom-team commented on #17781
Hi @nilesh111091. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-24 08:17] Thundar commented on #17780
@magento-engcom-team cannot reproduce as I have not access to this instance's console

[2018-08-24 08:19] nilesh111091 commented on #17781
My magento version is 2.2.5.

[2018-08-24 09:30] MartinAarts commented on #17781
I think this issue is related to #14952

[2018-08-24 09:59] DanielRuf commented on #3503
Still not fixed in 2.2+. Can someone create a forward port?

[2018-08-24 10:01] DH0 commented on #15035
I would like to add a little more insight into this; I think it may be the same issue. When there is more than one product image, and slides are enabled (i.e. such that a left and right arrow is overlaid onto the product image on mouse over), if the magnifier cursor exits the product image via the overlaid arrows, the zoom window gets stuck on as described in the original post. This only appears t

[2018-08-24 10:29] akmur commented on #1619
@iget-master sorry I omitted that I started all this because grunt watch does nothing :)

[2018-08-24 10:30] akmur commented on #1619
@iget-esoares I only have a print.css...

[2018-08-24 11:05] GovindaSharma opened #17784 "store_view_code column has empty values in csv"
## Preconditions:
    1. Magento 2.2.2
    2. PHP 7.1
    3. Create Website, Store and Store View
    4. Create product and asign for this Website
## Steps to reproduce
1. Go to Back Office
2. System > Data Transfer > Export
3. Choose:
3.1. Entity Type = Products
3.2. Export File Format = CSV
4. Press 'Continue" button at the botom of the page

## Expected result
`store_view_code` column should co

[2018-08-24 11:05] magento-engcom-team commented on #17784
Hi @GovindaSharma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen