[2021-04-27 08:44] denchev commented on #32882
@Webalpha97 Check if you have products in admin panel. See if they are in stock, have price and belong to the appropriate website.

[2021-04-27 08:52] magento-engcom-team commented on #32880
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-27 08:52] magento-engcom-team commented on #32880
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-27 09:05] Webalpha97 commented on #32882
Yes I checked all products are there and yes it is on stockand having price and pointing to right website.

[2021-04-27 09:47] neddy236 commented on #21646
How is this closed?

[2021-04-27 11:11] ejnshtein commented on #32878
Okay, I'll create a PR, but not sure about tests, never wrote them for a PHP project, so I'll try my best.
The whole point of CMA is to create an isolated environment to run Magento in, so it should behave the same way if you do Magento env setup on your system.

Regarding the issue investigation, it looks like it doesn't like when the file inside the `pub/static` folder is a symlink.
Example:
I h

[2021-04-27 12:41] mfickers opened #32885 "Login on second attempt after one unsuccessful try redirects customer to 404 page"
### Preconditions (*)

1. Reproduced on Magento 2.4.1, Magento 2.4.2
2. Config "customer/startup/redirect_dashboard" is set to "No"

### Steps to reproduce (*)

1. Navigate to login page, without referrer parameter in URL (i.e. "/customer/account/login/")
2. Enter invalid login data and try to login
3. After page reload, URL will now contain a referrer parameter, which is the URL to "/customer/acc

[2021-04-27 13:05] magento-engcom-team commented on #32840
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42073` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-27 13:10] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-27 13:23] magento-engcom-team commented on #32885
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42075` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-27 14:39] mrtuvn commented on #32885
This issue should have P2 priority in my opinion

[2021-04-27 14:49] Den4ik commented on #32878
Hi @ejnshtein

Based on PHP documentation FileInfo extension bundled and enabled by default. https://www.php.net/manual/en/fileinfo.installation.php

I believe that use of native functional is better and we should add `ext-fileinfo` as required extension instead of using workarounds. I think this question should be discussed with core team.
@gabrieldagama could you assist with it?

[2021-04-27 15:04] pmbright commented on #31742
I get the same problem on Magento 2.3.6 using redis for session storage, I reverted to using DB for session storage and still got the problem.

Clearing site cookies fixes it temporarily.

[2021-04-27 15:32] frithjof commented on #32345
can this crapware please be removed from default install?

[2021-04-27 15:40] timpea commented on #32734
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-04-27 16:05] timpea commented on #32734
@iphigenie I hadn't spotted the "is undefined" option for the attribute.  That works as expected.

Agree, it could do with having this same option for the categories and documentation updating.

[2021-04-27 16:06] ejnshtein commented on #32878
Well, this is not exactly a workaround, since it's expected that `getimagesize` function returns array or false, it's just currently this code does not handle this behavior since it expect always an array.

[2021-04-27 16:12] MarvinBay opened #32887 "Customer page locks when requesting a password reset - for about 75% of customers....pls help if possible. v2.3.2"
### Preconditions (*)

1.v2.3.2
2.Customer page

### Steps to reproduce (*)

1.Simply attempt a password reset
2.Generally, page indicates that the customer is online when they are not.

### Expected result (*)

1. [Screenshots, logs or description]Allow a password reset
2.

### Actual result (*)

1. [Screenshots, logs or description]Page and ALL of Magento functionality locks for 3-5 minutes, Ret

[2021-04-27 16:15] tuyennn commented on #30753
@dverkade Try @hostep fix, this is exactly what are you looking for, this issue should be closed

[2021-04-27 16:28] ejnshtein commented on #32878
Tried with the `fileinfo` extension installed and it works as expected.
Nice.
For me, that means that I can just modify the config for Magento 2.4.2 in CMA so it will work now, probably will release a new version of CMA this week with the following changes.
As for magento source code, I don't think that the PR I send is unnecessary and would recommend merging it to the main branch, just to avoid p

[2021-04-27 16:40] Den4ik commented on #32878
Use `getimagesize` looks little bit strange because `Mime` class is common for different file types. Use of `ext-fileinfo` in composer.json message about issue on `composer install` step that expected behavior

[2021-04-27 16:54] gabrieldagama commented on #32542
@engcom-Oscar, can you re-confirm this issue? It seems to be fixed.

Thanks!

[2021-04-27 18:25] Webalpha97 commented on #8189
Any solution for this

[2021-04-27 18:35] maciej-orba opened #32888 "Tracked .gitignore file is overriden by composer! Magento 2.4.2-p1, 2.3.7"
### Preconditions (*)
1. Magento 2.4.2-p1, 2.3.7
1. Composer 2.0.11
1. PHP 7.4

### Steps to reproduce (*)
1. Create some empty directory for your workspace
1. `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition:2.4.2-p1 .` # or  2.3.7
1. `echo "/this/line/should/stay" >> .gitignore`
1. `git init`
1. `git add * && git add .*`
1. `git commit -m "Ini

[2021-04-27 18:57] hostep commented on #30753
Indeed, this issue should be closed, can somebody do that please, maybe @ihor-sviziev? Thanks! 🙂

[2021-04-27 20:53] ihor-sviziev commented on #30753
Closing this issue, as we have a solution in https://github.com/magento/magento2/issues/30753#issuecomment-721432311

[2021-04-27 20:53] #30753 closed, assigned to nobody

[2021-04-27 21:42] erikhansen commented on #24942
@AndresSB2018 I'd recommend using `composer-patches` to apply patches. Details here: https://gist.github.com/erikhansen/1b18980b39464dc94b9f09282a43ea31

[2021-04-27 22:00] erikhansen commented on #24942
Has anyone found a solution to this issue for Magento 2.3.5-p2? We just launched a Spanish version of xchair.com and are running into this. Steps to reproduce:

1. Go to xchair.com and use the top-left dropdown to switch to "Spanish"
2. Go to https://www.xchair.com/es/x3build.html
3. In the dropdown, switch back to "English" and you'll be redirected to https://www.xchair.com/, as expected
4. Now,

[2021-04-27 22:58] aligent-lturner commented on #30610
This is only stale because nobody has worked on it - it's still an issue.

[2021-04-27 23:12] PivitParkour94 commented on #28384
If this is fixed on the 2.3.x latest, then I'm happy to close this, otherwise can the changes made for it to work on 2.4.x be ported into the latest 2.3.x? That seems to be the actual problem here.
Thanks for your time @engcom-Oscar

[2021-04-28 03:03] 9030614389 commented on #31456
Hi,

This issue still exists and we have not received any solution on this.

Thanks & Regards,
------------------------------------------------------
*Shailaja Dara | Business Analyst  – JIVA InfoTech, Inc.*
***@***.*** ***@***.***>*
| *http://www.jivainfotech.com/
<http://www.jivainfotech.com/>*
Level 1 – Wing 2, Block 'C', Cyber Gateway, HITEC City, Madhapur, Hyderabad
- 500 081, Telangana, Indi

[2021-04-28 05:40] mrtuvn commented on #27738
still valid problem

[2021-04-28 05:47] denchev commented on #32882
@Webalpha97 If this is true, then the only other thing I can think of (without access to site and code) is to check your elasticsearch index. Magento 2.4.2 supports ES7 only and you should be able to see at least one index.

[2021-04-28 06:20] Webalpha97 commented on #32882
How I can check that can you please tell me steps.

I am using elastic search version 7.7.0.

[2021-04-28 06:45] Webalpha97 commented on #32882
@denchev can you tell I will do that right now.

[2021-04-28 07:26] eduard13 commented on #32760
@magento give me 2.4-develop instance

[2021-04-28 08:19] ihor-sviziev commented on #32839
Hi @Eddcapone,
It would not be good to show such warnings during setup:di:compile because there are valid cases when you have "optional" dependency to 3rd party extension. If module there - some model should be re-declared. Not sure if it's quite a popular use case, but anyway - that might not be the best behavior to see new warnings for a valid case.

Wring the static test will provide an ability

[2021-04-28 08:27] #24635 closed, assigned to vidyli

[2021-04-28 08:32] GuiltyNL commented on #6826
We are experiencing also issues. We have sometimes issues with guest checkouts. When firstname and lastname fields are autofilled,  Magento says that he needs firstname and lastname to proceed.

Customer has to remove the prefilled fields and fill them out by hand to fix it.

We have alike issues when we use a postcode validator tool. When the customer fills out the postcode and house number, the

[2021-04-28 08:37] iUnKindledOne opened #32890 "Infinite loading of orders"
- Summary of the issue:
      Tried to filter orders on specific date. Reached the last page of results and then it said "Something went wrong" took back to orders page saying "Something went wrong with processing the default view and we have restored the filter to its original state" and then in infinite loading page will show up. Can't do nothing in "Orders" page.

     - Information on your env

[2021-04-28 08:39] magento-engcom-team commented on #32760
@eduard13 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-28 08:40] magento-engcom-team commented on #32760
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-28 08:40] magento-engcom-team commented on #32760
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42087` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-28 08:41] eduard13 commented on #32760
Here is how the email looks after creating the invoice via REST API
![image](https://user-images.githubusercontent.com/15868188/116374030-9b1c4480-a816-11eb-8af5-9c82176de9dd.png)

[2021-04-28 09:30] mfickers commented on #32885
@mrtuvn I've created a PR: https://github.com/magento/magento2/pull/32891

[2021-04-28 09:56] OxCom commented on #32144
Branch 2.5-dev also affected by the issue

[2021-04-28 10:19] engcom-Oscar commented on #32542
@gabrieldagama  I still can reproduce it on latest 2.4-develop. Button "Activate" does not work to activate inactive integration.

[2021-04-28 10:19] magento-engcom-team commented on #32542
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41427` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-28 10:33] bampisSyk opened #32892 "Invalid check after saving product, for updating price / specialPrice attributes"
### Preconditions (*)

1. v2.3.6-p1
2. Update product specialPrice per website using product repository

### Steps to reproduce (*)

1. Set the price scope to "Website"
2. Load a product entity using ProductRepository
3. Update price and specialPrice with different values per storeView
4. Save each product entity using product repository

### Expected result (*)

1. Product has different price / s

[2021-04-28 11:20] Webalpha97 commented on #32882
When I run : elasticsearch-reindex.

Got this error :  Starting reindex in 1 shards.
/usr/local/lib/node_modules/elasticsearch-reindex/bin/elasticsearch-reindex.js:251
    throw new Error('"from" and "to" parameters are required');

[2021-04-28 11:49] maciej-orba commented on #32888
Two additionals refs:

https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-gitignore.html

So, how to ignore custom objects?

https://devdocs.magento.com/guides/v2.4/config-guide/config/config-php.html

[2021-04-28 12:19] YouCanDoIt12 opened #32893 "sdfghbnm, vb bn n"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-04-28 12:23] tuyennn opened #32894 "Catalog Search index exception: Could not ping search engine: No alive nodes found in your cluster"
### Preconditions (*)

1. Magento 2.4.2
2. Elastic Search 7.12.0

### Steps to reproduce (*)

1. Configuration the elastic from admin-end
[code]
[code]
2. Configure Catalog Search as elasticsearch7  host `127.0.0.1` and port `11243`, Test the connection successfully
3. Reindex by CLI

### Expected result (*)

1. Catalog Search could be reindexed successfully
2.

### Actual result (*)

1. Catalog S

[2021-04-28 12:30] sumeetmagento commented on #23719
@michelecanal are you able to solve this?
because I am getting this issue.

[2021-04-28 12:35] vovayatsyuk commented on #28208
This issue is still relevant. https://github.com/magento/magento2/issues/28208#issuecomment-777341425

[2021-04-28 12:35] mrtuvn commented on #31133
Not a stale

[2021-04-28 12:48] oneserv-heuser commented on #28397
Still an issue.

[2021-04-28 13:08] engcom-Oscar commented on #32890
Hi @iUnKindledOne ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue, looks like we miss some important preconditions, may you please update description.

[2021-04-28 13:26] #32893 closed, assigned to nobody

[2021-04-28 14:55] harrigo opened #32895 "Swatches Break Mouse Down Scroll (Auto Scroll) On Browsers"
Scroll wheel click & hold and keep mouse cursor moving up & down or left & right (auto scroll) on category pages and product pages with swatches does not activate when clicking in scroll wheel.

Seems to be caused by a mousedown event linked to main html element from jquery.mobile.custom.js (209), which I am assuming is triggered by something to do with Swatches as these seem to be present on ever

[2021-04-28 14:56] harrigo commented on #32895
@magento give me 2.4-develop instance

[2021-04-28 14:58] harrigo commented on #32895
@magento give me 2.3-develop instance

[2021-04-28 15:10] pineappledev48 opened #32896 "InnoDB: Cannot rename './magento2/catalog_product_index_eav_replica.ibd' database crash"
### Preconditions (*)

Magento 2.4.2
php 7.4
Developement installation

### Steps to reproduce (*)
Install extension from cli (stripe payment), go on admin web page and save some configuration, refresh cache from web admin

### Expected result (*)
Normal bheavior

### Actual result (*)
2020-01-22 19:24:28 140112818333888 [Note] InnoDB: Ignoring data file './my_store/catalog_category_product_index_

[2021-04-28 15:44] pineappledev48 commented on #25334
Hi, i cant see any work on this issue, but is still present with magento 2.4.2 and mariadb 10.5.9, anyone know a workaround?

[2021-04-28 15:47] pineappledev48 commented on #32896
#https://github.com/magento/magento2/issues/25334

[2021-04-28 15:59] Michael-073 opened #32897 "Adding new Vimeo video error"
I noticed that there are some videos from Vimeo that will return different data. Depending on what data is returned, the script that processes the video can crash.

### Preconditions (*)
1. Magento version 2.4.0
1. Patch MDVA-35092 applied

### Steps to reproduce (*)
1. Go to Admin -> Catalog ->Products
1. Select a product to edit
1. Go to Images and Videos section. Click Add Video
1. In the Url f

[2021-04-28 16:05] amcguireweb commented on #26599
We are also experiencing this problem.

[2021-04-28 17:36] fredden commented on #29647
This issue is awaiting action by Adobe staff.

[2021-04-28 18:03] matteolavaggi commented on #25334
@magento-team

[2021-04-28 18:05] matteolavaggi commented on #32896
@magento I am working on this

[2021-04-28 18:06] matteolavaggi commented on #32896
@magento add to contributors team

[2021-04-28 18:08] matteolavaggi commented on #25334
Have you found a solution to address this problem with galera cluster ? Thanks

[2021-04-28 18:11] matteolavaggi commented on #32896
@magento add to contributors team

[2021-04-28 18:40] bartoszkubicki commented on #26970
Still an issue

[2021-04-28 21:17] rimom commented on #25663
This is a very smart solution, however, please be aware that by doing this, you fail to be PCI compliant and may be subject to severe fines that could cost your entire business.

[2021-04-28 21:40] artttj commented on #26613
We are facing the same issue in the Magento Cloud production environment.

We have database slave and `entity_id`'s there are different in `review_entity` table as @elmahone mentioned.

The patch for `\Magento\Review\Block\Product\ReviewRenderer::getReviewsSummaryHtml()` solves the problem.

[2021-04-28 21:44] Bartlomiejsz commented on #26613
@dverkade @artttj actually this issue should already be fixed in mainline. Despite of my PR pretty similar changes were pushed to core in https://github.com/magento/magento2/commit/fb2f1a74ad2a9442c4c6ca39b85b42050a9f387b so this ticket should be closed in my opinion
CC @magento-engcom-team

[2021-04-28 21:49] Den4ik commented on #32896
Hi @pineappledev48
Thanks for your report.
Unfortunately, I'm not able to reproduce the issue on a fresh 2.4-develop by following steps from this issue with stripe module ver 2.5.7
So, I have close this ticket.

Please feel free to reopen issue if you are still facing this issue on the latest 2.4-develop branch.
Thanks.

[2021-04-28 21:49] #32896 closed, assigned to nobody

[2021-04-28 21:50] artttj commented on #26613
@Bartlomiejsz ,

Thanks for the info.

[2021-04-29 01:29] mrtuvn commented on #32894
Hi. Can you reproduce issue in 2.4-develop branch ? Just curiosity why do you not use 9200 port instead

[2021-04-29 01:43] mrtuvn commented on #32897
Can you reproduce in latest code base 2.4-develop ? Since i have checked some change in api endpoint vimeo and also some modify in codebase too

[2021-04-29 03:41] onlinebizsoft commented on #32823
We also have a similar issue, this is happening randomly and we can't reproduce easily
1. Add a product to cart successfully
2. The mini cart show no item

![image](https://user-images.githubusercontent.com/22501570/116499847-57d5da80-a8d7-11eb-9b45-fc954a0372ea.png)

[2021-04-29 05:23] matteolavaggi commented on #32896
Which database you are using? I've made some in deep investigation and
problems is related to reindex Cron and not from stripe module. Have you
test a galera cluster env like the one in the issue attached to this one?

Il Mer 28 Apr 2021, 23:49 Denis Kopylov ***@***.***> ha
scritto:

[2021-04-29 05:43] matteolavaggi opened #32898 "Magento 2.4.2 reindex disrupt galera database cluster setup"
- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users without workaround._

[2021-04-29 05:48] matteolavaggi commented on #32898
Mariadb report this error when try to start from a single node server

2020-01-22 19:24:28 140112818333888 [Note] InnoDB: Ignoring data file './my_store/catalog_category_product_index_store1.ibd' with space ID 26146, since the redo log references ./my_store/catalog_category_product_index_store1.ibd with space ID 26031.
2020-01-22 19:24:28 140112818333888 [Note] InnoDB: Ignoring data file './my_sto

[2021-04-29 05:49] matteolavaggi commented on #32898
@magento I am working on this

[2021-04-29 05:54] jigar48 commented on #28067
Not working on Magento 2.4.1

[2021-04-29 06:03] #24363 closed, assigned to engcom-Kilo

[2021-04-29 06:59] ZIPITRO commented on #31644
Thanks @slackerzz!
Are you currently working on a pull request?

[2021-04-29 07:20] harrigo commented on #32895
@magento give me 2.3-develop instance

[2021-04-29 07:49] Wiesjames opened #32900 "issue with loading new product configurations to configurable products"
### Preconditions (*)

1. version 2.4.1
2.

### Steps to reproduce (*)

1. open an already created configurable product
2. Click edit configurations
3. select new configurations
4. add them to product
5. click save and continue or save and close

### Expected result (*)

1. I expect when i add new products to the configurable product and press save that it updates the product listing with all the

[2021-04-29 08:54] Jasper-ketelaar commented on #27139
I think the 'problem runs a bit deeper than I originally thought. Simply put, Magento will not handle synchronous requests that are sent after each other as you would hope to expect. They have (as far as I am aware) no queue for stalling requests that come in when other requests are still being processed.

So if you send two quote-related requests in quick success Magento will somehow process them

[2021-04-29 09:01] wandyyd opened #32901 "Fatal error when do - media-gallery:sync"
### Preconditions (*)

1. Magento 2.4.2 (upgrade from 2.4.1)
2. Nginx server
3. PHP 7.4.16

**---Update---**
4. Enable Old Media Gallery - set to - No
5. Copy Media folder & files from M1 to M2
6. Run this, to make sure that folder is readable / writable

A little background, so, I tried to do migration from Magento 1.9.4.2 to Magento 2.4.2 (or latest version)
The update are going well, product da

[2021-04-29 09:03] wandyyd commented on #32901
@magento give me 2.4.2 instance

[2021-04-29 09:19] wandyyd commented on #32901
ahh.. seems I couldn't have SSH thing to test on the command.
Can mod helps on here?

[2021-04-29 09:21] pvalium commented on #27460
No news?

[2021-04-29 09:33] pixel-paul commented on #27460
Magento have changed the way in which they support releases. You are expected to upgrade to 2.4 for the fix as no backport will be made. They are only releasing security patches for the 2.3 branch now. Annoying but that is the reality.

[2021-04-29 10:32] magento-engcom-team commented on #32897
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-29 10:40] magento-engcom-team commented on #32897
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42105` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-29 11:01] arunkumar247 commented on #28092
@magento-engcom-team
I am also facing the issue in 2.4.1-p1 . Is there any steps taken to fix the issue? Why the ticket status is closed?
Please consider re-opening this issue and find the cause.

[2021-04-29 11:16] matteolavaggi commented on #32898
@magento-devops Can be a solution to change this file:

[](https://github.com/magento/magento2/blob/33242e4b19cf207d7b73f7791ef894b48bb41f8a/app/etc/di.xml)
[](https://github.com/magento/magento2/blob/2.4/app/etc/di.xml)

[code]

to

[code]

[2021-04-29 11:25] Wiesjames commented on #32900
not sure what i need to do to get this moving forward. i'm not a dev so no idea re what i'm missing here

[2021-04-29 11:25] Wiesjames commented on #32900
@magento give me 2.4-develop instance

[2021-04-29 12:38] juharintanen commented on #13342
Is the fix that that its clearly visible that Allow Multiple Boxes for Shipping depends on decimal qty
OR are we now allowed to create multiple packages for a single product?

[2021-04-29 12:53] magento-engcom-team commented on #32888
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42114` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-29 13:03] cubanmercury commented on #31007
We are also seeing this issue after upgrading from 2.3.6 -> 2.4.2 and with "Add store code to URLs" set to "no" and individual stores setup on different domains.
In our case there are no other CMS pages with the same url key (even across all store views) and there are no redirects setup for that particular key in the url_redirects table.
![image](https://user-images.githubusercontent.com/34423353/

[2021-04-29 13:33] #32806 closed, assigned to nobody

[2021-04-29 13:49] vyablonskiy commented on #32806
Hi @pdeboo, do you tried to use Filter on My Orders page?

[2021-04-29 13:58] fzr-dave commented on #32890
I had the same problem with one user. The only way I found to fix the problem was to delete the user and then re-enter them as a new user.

[2021-04-29 14:16] pdeboo commented on #32806
No – it doesn’t work the way I need it to.

From: vyablonskiy ***@***.***
Sent: Thursday, April 29, 2021 8:50 AM
To: magento/magento2 ***@***.***>
Cc: DeBoo, Philip ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] No option to search for specific order number. (#32806)

Hi @pdeboo<https://github.com/pdeboo>, do you tried to use Filter on My Orders page?

—
You are receiving this

[2021-04-29 16:09] m2-assistant[bot] opened #32905 "[Issue] Import/Export - Fix 'entity values are mixed' exception when no valid data"
This issue is automatically created based on existing pull request: magento/magento2#32904: Import/Export - Fix 'entity values are mixed' exception when no valid data

---------
### Description
The Import/Export module can operate in two modes: skip errors, stop on error. When configured to skip errors, the import will proceed irrespective of the validation result. When there is no data to import,

[2021-04-29 16:47] m2-assistant[bot] opened #32906 "[Issue] Selecting Existing Address in Admin Order"
This issue is automatically created based on existing pull request: magento/magento2#32783: Selecting Existing Address in Admin Order

---------
### Description
Selecting an existing address while creating an order does not have the customer_address_id field set correctly so this data is not passed to backend and saved. On page refresh 'Add New' is still selected.

The existing code tries to set t

[2021-04-29 17:25] miikEe13 commented on #12202
Even in the EE wasnt added :facepalm:

[2021-04-29 17:32] lagunacellar opened #32907 "Checkout failure when using PayPal and Braintree on Magento 2.4.2"
We have been having issues processing checkout when using PayPal through Braintree and credit card through Braintree.  At first, we thought it was just our site.  We have been disabling all 3rd party modules to isolate any potential cause.  That process is ongoing.  But we encountered the same issue when purchasing an extension on Magento Marketplace.  The exactly same error is thrown by the refer

[2021-04-29 17:56] cpartica commented on #31351
I think we can scope this for 2.4.3.
We only have to move that scope area code in dispatch and not a plugin
https://github.com/magento/magento2/issues/31351#issuecomment-792933568

[2021-04-29 18:04] rikwillems commented on #31351
@cpartica do you want me to provide a PR or will you take this on?

[2021-04-29 19:41] hostep commented on #32888
Some additional information.

This is the same behavior now in 2.3.7 as how it worked in Magento 2.3.6 and earlier.
Only in Magento 2.3.6-p1 this behavior changed and a `.gitignore` file wasn't getting installed anymore.

However, there seems to be one very big difference, the `.gitignore` file that ships with Magento 2.3.7 also ignores `/app/etc/config.php` now, where in 2.3.6 it didn't. This sou

[2021-04-29 19:59] RahulRajputana-Dev commented on #6331
On default magento theme and solwinnfreego theme video is playing fine. But after installing porto theme just showing thumbnail of youtube video instead of play. Does anyone know how to fix it?
Also non of product view is working. Please check video.
https://youtu.be/6k-caGMy6xw

[2021-04-29 20:14] RahulRajputana-Dev opened #32908 "Youtube Video not playing after installing porto theme"
### Youtube Video not playing after installing porto theme

Hi
I just intstalled a porto theme on magento 2.4 without sample data. Before installing porto theme youtube video and product view was working fine but just after installing porto theme both youtube video and product view not responding. Does someone know how to fix it?
### Preconditions (*)

1. Magento 2.4.0
2. Product View

### Steps t

[2021-04-29 20:23] fascinosum commented on #32888
thank you, @hostep. @tpogrebniak could you look at this possible new behavior?

[2021-04-29 21:13] collymore commented on #25663
On what basis would you fail PCI compliance for using this code?

[2021-04-29 21:48] rimom commented on #25663
My base is PCI DSS v3.2 Requirement 6.5.10:

But actually, looking at it properly, it seems that there is a kind of a "gray area" on this statement. If your solution complies with the requirements above, theoretically you should have no problem. I would consult a Qualified Security Assessor first just in case.

[2021-04-29 22:34] mrtuvn commented on #32898
cc: @maghamed  @kandy may have solid knowledges on this area

[2021-04-29 22:45] perryholden commented on #14881
After some local debugging, I found that if a custom attribute is set to not be visible (e.g. `catalog_eav_attribute.is_visible` is set to `0`), then it can't be saved. The import code then just silently ignores these attributes. So if anyone is dealing with this still, here are a few things I would check:

1. As some recommended above, avoid using the "additional_attributes" column. Just put the

[2021-04-30 02:35] mrtuvn commented on #3625
Hi @gabrieldagama any reason priority changed from P1 to P3. Are there any fix internal processing with this problem

[2021-04-30 02:37] marciomaciel opened #32909 "customAttributeMetadata GraphQl query has no cache identity"
*As a mobile device I want to have customAttributeMetadata query cached by full page cache and Varnish so we can get a cached version of result without overload our infrastructure during a large volume of requests to obtain details and options of EAV catalog attributes.*

### AC
* Do some requests to customAttributeMetadata query to get attribute options and details for color attribute
* Cache alw

[2021-04-30 05:20] juhanihaapala opened #32910 "Adding category to product in store view scope does not generate all url rewrites"
### Preconditions (*)

1. Reproduced at least on Magento 2.3.1, 2.3.6-p1, 2.4.2

### Steps to reproduce (*)

1. Create 2 store views
2. Create category with anchor enabled (and in 2.4.2 make sure category/product url generation is enabled)
3. Add new product without category
4. Open product edit in storeview scope
5. Add product to category and save

### Expected result (*)

1. Category product ur

[2021-04-30 05:27] matteolavaggi commented on #32898
Change di.xml seem to lock the reindex process indefinitely on the first index (from CLI).
First I've think this can be related to innodb force on the temp table , this can result in low speed reindexing due to galera need to spawn temp table to all the node, but I've try it on a fresh installation with only sample demo product and definitely this lock is not related to database replication task.

[2021-04-30 06:08] hustler203 commented on #17245
having this issue in Magento  2.4.2  installed on Centos  7  rpm fresh install

[2021-04-30 06:09] dverkade commented on #30341
Confirmed issues should not be closed automatically

[2021-04-30 06:32] sandy6666 commented on #32840
@magento I am working on this

[2021-04-30 06:35] sandy6666 commented on #32840
@magento give me 2.4-develop instance

[2021-04-30 06:45] sandy6666 commented on #32840
@magento this issue is not reproducable.
The update worked properly in the above instance given

[2021-04-30 06:56] rikwillems opened #32911 "CSV product import does not format url key when `url_key` column is used"
When I use the Magento default csv product import with an `url_key` field the value is not formatted/translit before being inserted into the database. This way I end up with spaces in the url key field. The rest of the system works ok with this except GraphQL which will output the `url_key` field directly from the database.

### Preconditions (*)
Magento 2.4.2 and probably all versions below.

###

[2021-04-30 07:03] duckchip commented on #29806
@gabrieldagama

don't know if it's 100% related but linking it anyway:
https://github.com/magento/magento2/issues/32780

[2021-04-30 07:10] Wiesjames commented on #32900
@magento-admin sorry guys i've no idea how i'm supposed to get attention for me query. i'm not a dev so not sure what i'm not adding to get this in front of someone

[2021-04-30 07:55] engcom-Oscar commented on #32901
Hi @wandyyd  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue. Looks like we miss some important preconditions, so may you please recheck and update description?

[2021-04-30 08:19] sanganb opened #32912 "Checkout edit address creates new address - magento2"
### Preconditions (*)

1. Magento 2.3
2.luma version

### Steps to reproduce (*)

1. Add product to cart and move to checkout then if existing shipping address is available  click edit  button.

![image](https://user-images.githubusercontent.com/73931635/116671657-d194c380-a9be-11eb-8299-dbdecf26fe82.png)

2.Edit the existing shipping address where pop up will open then, update the address which c

[2021-04-30 08:23] swap-994 commented on #32704
Hi Slava,

Sorry, for the late revert. Yes, I've checked the backend and the "Website
Server Rewrites" is enabled already.

Please let me know what should be done next in order to get the proper URL
format. Also, I don't know how to do a full reindex and flush cache, please
advise me step by step.

Thanks & Regards,
Swapnil Sharma

On Mon, Apr 12, 2021 at 11:54 AM Slava Moskalyuk ***@***.***>
wrot

[2021-04-30 08:29] nobodyMO commented on #32177
I'm surprised that anyone is using version 2.4.2 productively, when it can't even send mails to customers with the correct form of address.
Thanks for the fix for the frontend. Since we very often have to correct the addresses of the customers so that we can automatically create the labels for the packages, we unfortunately also need a solution for the backend. That's why I tried to solve the prob

[2021-04-30 08:32] magento-engcom-team commented on #32806
Hi @pdeboo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-42028` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-30 08:34] magento-engcom-team commented on #32806
Hi @pdeboo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-42028` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-30 08:41] krishprakash commented on #32912
@magento give me 2.4-develop instance

[2021-04-30 08:56] krishprakash commented on #32912
Hi @sanganb. Thank you for your report.
As provided steps not able reproduce the issue on magento 2.4-develop instance
Kindly confirm the issue reproducible on latest magento instance

[2021-04-30 09:17] wandyyd commented on #32901
Hi @engcom-Oscar !
Thanks for your reply, I already update the preconditions.
Please have a look if I miss some important things that need to be done.

PS - pardon me if I didn't reply promptly over the wekeend (I'm on GMT+7 timezone)
And so, I'm really new on Github world and stuffs, I do apologize if I miss some / other things that makes your works more difficult. 😞

Thanks! 😄

[2021-04-30 09:29] engcom-Oscar commented on #32900
Hi @Wiesjames   ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue. Looks like we miss some important preconditions, so may you please recheck and update description?

[2021-04-30 09:33] dverkade opened #32913 "CMS Page allows route names to be saved"
### Preconditions
1. Magento 2.4.1

### Steps to reproduce
1. Create a new CMS page
2. Set the title to "Checkout"
3. Save the CMS page. Pages is saved, URL Key is set to "checkout"
4. Try to save the page another time, notice "The value specified in the URL Key field would generate a URL that already exists." is shown.

### Expected result
1. On the first save when no URL key is given, validation

[2021-04-30 12:08] #32839 closed, assigned to nobody

[2021-04-30 12:29] NathanDayFE opened #32915 "Unable to Retrieve Cookie Messages on a site within a subdirectory"
### Preconditions (*)

1.Magento 2.3.6
2. Site Created in a Sub Directory e.g. `/fr`

### Steps to reproduce (*)

1. Submit a Contact Us form

### Expected result (*)

1. Success or Error Message Displays

### Actual result (*)

1. No Messages Displayed

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Re

[2021-04-30 13:03] Eddcapone opened #32916 "B2B Module 1.3.1 - Backend configuration site not loading because of error "Notice: Undefined index: title""
### Preconditions (*)

1. 2.4.2 EE
2. Magento 2 - B2B 1.3.1

### Steps to reproduce (*)

1. Load backend
2. Delete title of a shipping method to make it empty.
3. Navigate to System -> Configuration -> General -> B2B Features

### Expected result (*)

1. Should load

### Actual result (*)

1. Error is getting logged into var/log/exception.log and only an empty site is showing:

`Notice: Undefined

[2021-04-30 13:17] magento-engcom-team commented on #32910
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42144` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-30 13:22] magento-engcom-team commented on #32911
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42145` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-30 13:34] magento-engcom-team commented on #32880
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42146` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-30 13:53] vovsky commented on #32540
@magento I am working on this

[2021-04-30 13:54] Eddcapone opened #32917 "B2B 1.3.1 - 404 for company site"
### Preconditions (*)

1. 2.4.2 EE
2. B2B 1.3.1
3. Production Mode

### Steps to reproduce (*)

I don't know how to reproduce the error.

It works on a fresh magento 2.4.2.

I installed the B2B 1.3.1 on my project and enabled "Enable Company" in **System -> Configuration -> General -> B2B features**

If I now try to open the Company area at "Customers -> Companies" then I just get a 404 site.

The

[2021-04-30 15:22] staradzinau opened #32918 "Incorrect dispalying of out of stock bundle product"
### Preconditions (*)

1. Magento 2.4.2 with sample data installed
2. Stores → Configuration → Catalog → Inventory → Stock Options → Display Out of Stock Products → set the option to YES
3. Simple product, in stock, but with limited qty. Example:
![image](https://user-images.githubusercontent.com/24728606/116715565-8212bf80-a9df-11eb-91fb-631d2e296381.png)

### Steps to reproduce (*)

1. Create bu

[2021-04-30 15:28] ni-bschmitt commented on #8181
Same, still an issue - when creating an order via the Magento backend, addresses are always duplicated in case you don't uncheck 'save in address book'.  I guess That's not expected and a bug, so @lenaorobei re-open.

Steps to reproduce:
* Create an order via the backend for an existing customer already having a single address available
* Select the existing address during checkout
* Create order

[2021-04-30 15:40] magento-engcom-team commented on #10267
Hi @lfritsche.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24730` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2021-04-30 15:50] iUnKindledOne commented on #32890
Thank you so much, did that and all good. I searched and the problem is known for years. Man magento support sucks

[2021-04-30 18:53] kandy commented on #30593
Rest API represents "Admin level" API, and should contain only "raw" data.
If you're looking for a storefront level API, you need to switch GraphQL, as it was designed exactly for such a case

Feel free to close this ticket as it contradicts with technical vision, or leave a comment if you have any objection

[2021-04-30 19:11] m2-assistant opened #32920 "[Issue] [View] Removed extra space in link and script tag"
This issue is automatically created based on existing pull request: magento/magento2#32919: [View] Removed extra space in link and script tag

---------
### Description (*)
This PR helps to change extra spaces into single space in `<link>` and `<script>` tag.

### Fixed Issues (if relevant)
N/A

### Manual testing scenarios (*)
1. `./vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist lib/intern

[2021-04-30 19:26] magento-engcom-team commented on #13639
Hi @kanduvisla.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30625` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-30 19:26] #13639 closed, assigned to nobody

[2021-04-30 21:09] luigidi-it commented on #31312
Same issue.

No ElasticSearch.
Upgrade from 2.3.1 to 2.4.2.

main.CRITICAL: Type Error occurred when creating object: Magento\Search\Model\EngineResolver, Argument 2 passed to Magento\Search\Model\EngineResolver::__construct() must be of the type array, null given, called in /home/xxxx/public_html/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 121

[2021-04-30 21:47] Den4ik commented on #8181
@magento give me 2.4-develop instance

[2021-04-30 22:00] Den4ik commented on #8181
@ni-bschmitt Just checked on https://2ed8af33024e5452bc294f18ecc55f32-2-4-develop.instances.magento-community.engineering/admin_52b6
Issue is not reproduced.
Could you check on instance provided by Magento?

[2021-05-01 10:56] mrtuvn commented on #32285
Hi Is there any link available in devdocs for guide setup multiple domain/stores with 2.4.2 root pub changes

[2021-05-01 11:23] webrod opened #32923 ""Stock status" not global"
### Preconditions (*)

1. Magento 2.4.2
2. I have only 1 store. so there is store_id=0 (admin) and store_id=1 (my website)

### Steps to reproduce (*)

1. change "Stock status" from a product (e.g. from 'out of stock' to 'in stock')
2.

### Expected result (*)

1. status has changed for the 2 stores since it says it is a global value (both admin and frontend should be updated)
![image](https://use

[2021-05-01 11:24] webrod commented on #32923
@magento give me 2.4-develop instance

[2021-05-01 12:06] ia-gaurav opened #32924 "Gray out Not working if one of option of configurable Product is out of stock"
**Preconditions**
Magento 2.4.2
Browser Chrome/Firefox

**Issue: Out of stock configurable product with custom attribute configuration Size and Fit (custom configuration with visual swatch options) is not greyed out in the front end product page.**

**Steps to reproduce:**
1. Back End Side (admin) : Create a configurable product (Using existing, it might not reproduce).
    Use **Size** Attribute

[2021-05-01 12:09] ia-gaurav commented on #32924
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-05-01 12:28] webrod commented on #32923
interesting, on the magento instance, I was able to switch from "all store views"/"default store view".
and "stock status" IS global here, whether I change on either view, it applies to all, I can see that by switching the view after an update.
But on my website, fresh magento+ data/config migration from M1.9 to M2.4, this attribute is per store. I was able to change the setting "enable single sto

[2021-05-01 13:17] f1-outsourcing commented on #32143
WTF of course it is relevant

[2021-05-01 14:09] neddy236 opened #32925 "Catalog Category Indexing on DISABLED Store View takes a long time. Magento 2.4.2. Related issue -> #25199"
### Description

This is somewhat related to https://github.com/magento/magento2/issues/25199 .
While magento tries to reindex indexer -> 'catalog_category_product' it runs a query for 'catalog_category_product_index_store{{store_id}}_tmp .

This works fine for the first 2 store views but for the third one **which is also disabled**, it can take up to 10-15 minutes to complete.  The first 2 take l

[2021-05-01 14:56] mrtuvn commented on #32915
Hi Can you provide more details how do you setup website in sub folder ? Meaning you setup 2 sites right below
First folder contain main website
magento_root/

This folder contain second website ?
magento_root/fr/

[2021-05-02 10:15] MagePsycho commented on #18550
What's the solution for this?

[2021-05-02 11:21] ilnytskyi commented on #22479
up

[2021-05-02 12:29] addison74 opened #32926 "CMS menu issue - Luma Theme"
Luma Theme needs a check for different sizes of the screen.  In order to reproduce this issue click in the footer the linked named **Privacy and Cookie Policy** then resize the browser window. Bellow you may find how is looking the CMS menu when the size of the screen is a small one.

![Screenshot 2021-05-02 152055](https://user-images.githubusercontent.com/8360474/116813052-8b746700-ab5a-11eb-905

[2021-05-02 12:59] dverkade commented on #23014
Confirmed issue should not automatically be closed and should stay on the backlog. Posting comment here to disable the stale bot.

[2021-05-02 13:14] ADDISON74 commented on #11292
I recently installed Magento 2.4.2 and I discovered that this issue was fixed, beyond the smiles of some people who thought they were superior. In life you may meet many people who try to make you give up, but it is good to see your interest and never give up. Maybe the problem of these people comes from education, good manners, location.

A white ball for the Magento team anyway.

[2021-05-02 13:25] ADDISON74 commented on #10742
Comparing with Magento 1 when editing a product in Backend Magento 2 takes too much scrolling on a page and the UX is still a basic one. The layout of the page is still not responsive.

Without a collapsible option and its name for the first tab I managed to let only tow options there: Product Name and Enable Product. In this way all the other attributes were going in a dedicated tab and the windo

[2021-05-02 20:09] bartoszkubicki commented on #22084
Still an issue

[2021-05-02 20:09] bartoszkubicki commented on #21466
Still an issue

[2021-05-02 23:53] antoniocarboni commented on #26295
The bug is stil existing on 2.4.2 :(

[2021-05-03 03:28] mrtuvn commented on #32823
@onlinebizsoft This issue maybe from custom theme template cart not sync with new code

[2021-05-03 04:43] magento-engcom-team commented on #32926
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42155` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-03 05:16] #31916 closed, assigned to nobody

[2021-05-03 06:04] flauschi commented on #22885
Again: This shouldn't be marked as stale.

[2021-05-03 06:48] kassner commented on #20806
⬆️

[2021-05-03 07:51] eduard13 commented on #32908
Hi @RahulRajputana-Dev, since the issue occurred only after installing the theme, please report the issue to theme's vendor.
Thank you.

[2021-05-03 07:51] #32908 closed, assigned to nobody

[2021-05-03 08:02] eduard13 opened #32928 "[GraphQl][GiftRegistry] Removing the extra `addGiftRegistryItems` mutation"
Based on the following discussion, it turned out that we have to remove the implemented `addGiftRegistryItems` mutation and its implementation, since there is no such behaviour in default Luma theme.

### AC
- The `addGiftRegistryItems` mutation is removed
- The related implementation is removed

### Approved Schema
- [Following this discussion](https://github.com/magento/architecture/pull/480#dis

[2021-05-03 08:21] SteveReda opened #32929 "Cant change atribute set from default"
### Preconditions (*)
Magento ver. 2.2.7

### Steps to reproduce (*)
1. go to product page
2. change atribute set to other

### Expected result (*)
1. expecting it would save to the new atribute set

### Actual result (*)
1. Getting an error that i need to change an atribute of that atribute set wich i cant reach because i cant change the atribute set. (loophole)
2.
![image](https://user-images.gi

[2021-05-03 08:54] lbajsarowicz commented on #23251
I was able to reproduce the issue in Magento 2.4.2. Build process fails on `seutp:di:compile`
[code]

[2021-05-03 09:02] hostep commented on #23251
@lbajsarowicz: you can just remove `--optimize-autoloader` from your `composer install` command.
The autoloader will get optimised by your `dump-autoload` command a bit later.

[2021-05-03 09:12] kartikasodariya17 commented on #29801
Hello @suryadevsearce
I have found the solution and you will get the success after apply this process.

edit config/elasticsearch.yml
Pls, change the network.host: 0.0.0.0
After changing the config pls restart the apps
Don't forget to uncomment network host

Enjoy!

[2021-05-03 09:12] kondzerau-ivan commented on #4110
If we work with theme - ok, I can copied _responsive.less from lib. But when we customize module without access to the theme files, what can we do in that case with xxs, xs?

[2021-05-03 09:13] lbajsarowicz commented on #23251
@hostep Looks like it works (however, I tried that before and for some reason, it didn't work). Thank you.

[2021-05-03 09:18] k4emic commented on #21304
Bump

[2021-05-03 09:32] elouwerse opened #32930 "Static CMS image urls when using a different (sub)domain for custom admin url"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Admin panel » Stores » Configuration » General » Content Management » Use Static URLs for Media Content in WYSIWYG: No
2. Admin panel » Stores » Configuration » Advanced » Admin » Admin Base URL » Use Custom Admin URL: Yes
3. Set admin to a different (sub)domain than the actual store url.
4. Add/edit a CMS page, static block o

[2021-05-03 09:41] bdevi commented on #29801
Uncommont host mean sir

On Mon, 3 May, 2021, 2:42 pm Kartik Asodariya, ***@***.***>
wrote:

[2021-05-03 09:43] kartikasodariya17 commented on #29801
By default network.host: line is comment with # just remove it. Hope you understand.

[2021-05-03 10:07] magento-engcom-team commented on #32920
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42156` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-03 10:32] krishprakash commented on #32906
@magento give me 2.4-develop instance

[2021-05-03 10:35] krishprakash commented on #32739
Hi @yiukamsum. Can you please confirm this issue by adding comment for magento instance as not able to replicate the issue provided steps by you

[2021-05-03 10:42] magento-engcom-team commented on #32906
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42157` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-03 11:20] Eddcapone commented on #29113
Our data protection officer told us that this feature is very questionable from a data protection perspective. I don't know the reason though, im just the developer. Is there a easy way to completly remove it?

[2021-05-03 12:39] navarr commented on #17425
There hasn't been a non-patch release since the last time I confirmed this issue.  I don't believe it's qualified to be stale yet

[2021-05-03 12:40] navarr commented on #19846
Still Relevant

[2021-05-03 12:58] navarr commented on #28051
Blocked awaiting response form Magento

[2021-05-03 17:03] mehdichaouch commented on #8995
I got the same issue with a Magento 2.4.2, custom theme extending the Magento Luma.
Fix from @kovinet work well, but this is weird bug!

[2021-05-03 20:20] bartoszkubicki commented on #13952
It's waiting on release of this commit:

Adyen/adyen-magento2@a88db6a

[2021-05-03 20:37] Den4ik commented on #17425
@magento I'm working on it

[2021-05-03 20:55] Den4ik commented on #32926
@magento give me 2.4-develop instance

[2021-05-03 21:15] #31486 closed, assigned to nobody

[2021-05-03 22:06] Den4ik opened #32932 "[Js] Replace usage of Prototype JS"
### Description (*)
Magento use Prototype js that doesn't support 6 years.
In most cases prototype used in migrated M1 code that could be replaced.
### Expected behavior (*)
Prototype JS not used

### Benefits
1. Reduce the number of legacy code.

### Additional information

[2021-05-03 22:25] magento-engcom-team commented on #32930
@Den4ik Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-03 22:26] magento-engcom-team commented on #32930
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42160` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-04 02:06] onlinebizsoft commented on #32823
@mrtuvn but it is happening randomly

[2021-05-04 02:19] mrtuvn commented on #32823
If you have issue i highly recommended you create new seperate github issue with clear steps describe your problem

[2021-05-04 02:55] Webalpha97 commented on #32882
Any one who can help me out . I am getting issue after installing and doing fresh migration.

[2021-05-04 04:49] wandyyd commented on #32901
Hi.. any other updates on this?
Thanks!

[2021-05-04 06:56] MaddatiNishitha opened #32933 "Unable to create a refund to store credit through API document."
Preconditions (*)

CE 2.4.2

Summary of the issue:
We are trying to create a refund to the customer's store credit with the API call "/V1/creditmemo".
We are mapping all the required fields in the post body, but the store credits are not reflected in the Magento UI customer account.

Steps to reproduce (*)

Create order in Magento UI.
Create an Invoice for that order.
with the help of API call "/V

[2021-05-04 06:58] MaddatiNishitha commented on #32933
Hi Team,
We have added all the below details in the description
Summary of the issue
Information on your environment
Steps to reproduce
Expected and actual results

[2021-05-04 07:34] mehdichaouch commented on #30293
I got the same issue on a new Magento 2.4.2 EE !
Part of solution : [Update billing address inserts javascript string in the address
](https://magento.stackexchange.com/questions/306172/update-billing-address-inserts-javascript-string-in-the-address)

[2021-05-04 07:35] NathanDayFE commented on #32915
@mrtuvn In this particular case there are multiple websites running at the root directory with one website having 2 store views `DE` and `FR`, I wasn't the person to set this up in this way but what i can see is that the languages were setup in sub directories so that the language code displayed in the URL. I understand it's quite a common method to achieve this.

in this instance we have `example

[2021-05-04 08:41] dverkade commented on #32114
Open issues should not be closed automatically. Posting a comment here to remove the stale issue label.

[2021-05-04 10:49] magento-engcom-team commented on #32268
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42162` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-04 10:58] krishprakash commented on #32706
Hi @Axel29. Feel free to reopen/comment the issue once you confirm the issue is reproduce on latest 2.4-develop instance
Thanks!!

[2021-05-04 10:58] #32706 closed, assigned to krishprakash

[2021-05-04 11:20] matteolavaggi opened #32934 "Unable to remove sampledata"
### Preconditions (*)
Install a magento 2.4.2 using composer
Set
`bin/magento deploy:mode:set developer`
Install sampledata and restart all the web server / php /varnish

### Steps to reproduce (*)

[code]

### Expected result (*)
Image on frontend must be here and web page must not have error

### Actual result (*)

1) Refused to apply style from 'https://XXX.com/%7B%7BMEDIA_URL%7D%7Dstyles.css'

[2021-05-04 11:30] matteolavaggi commented on #32934
Ok one parts is my mistake, remember to enable opcache revalidate timestamp to 1 on php (cli and fpm) config

To solve the

[code]

error please remember to disable opcache or configure according developer need.

[code]

change

`opcache.validate_timestamps=0`

to

`opcache.validate_timestamps=1`

BTW sample data are not removed from the store and css problem cant be solved deleting another time /

[2021-05-04 11:52] 5m-solutions commented on #28092
We resolved this by removing the 'Email Associated with PayPal Merchant Account' and leaving it blank. A capital in this was the issue and on another client account they got their email mixed up. As the API is used anyway you don't need this filled in on the new Magento versions we believe. Works fine without it.

[2021-05-04 12:08] jacksonsinliss opened #32935 "too many redirects"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-05-04 12:37] matteolavaggi commented on #32934
There is no way to have back a working magento setup, i'm a bit confused because the operation is quite simple !

[code]

[2021-05-04 12:43] magento-engcom-team commented on #28092
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34638` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-04 12:46] Den4ik commented on #32935
I'm closing this issue due to empty description

[2021-05-04 12:46] #32935 closed, assigned to nobody

[2021-05-04 12:48] jacksonsinliss commented on #32935
Denis,

sorry about sending this by mistake before I could get any further than the title. The problem appears to be with the application and the owner is working on their website now.

Roger and out from the Isle of Wight

[2021-05-04 12:49] #26783 closed, assigned to nobody

[2021-05-04 13:28] ni-bschmitt commented on #8181
@Den4ik thank you for the support. Maybe the links are expired already, getting a 403 when clicking in them.

[2021-05-04 13:31] krzysztofkuzniar commented on #26815
In Magento 2.4.2 this issue still exist.

[2021-05-04 13:45] gauravharshranosys commented on #29320
Hello,

I am struggling with the same issue on Magento 2.4.1 .
We are having three columns in a page, where two of them columns were coming from CMS blocks, but when we edited that CMS block with page builder, it added additional div on those two column which didn't make alignment with third column and the third column misplaced, please help to fix this issue of adding additionally div.
Or if we c

[2021-05-04 14:14] niklaswolf opened #32938 "Add customer_address_id to CartAddressInterface"
As a developer I want to get the customer_address_id of cart addresses so that I can match them easily with the other addresses a customer has saved in his customer addresses. Right now you have to do basically a string compare with a combination of fields to get a match, which in fact doesn't have to be a match because you can create different customer addresses with exactly the same values.

Add

[2021-05-04 14:16] hostep commented on #30853
This is probably fixed by: [MC-41438: 100% Discount cart rule results in Tax invoiced](https://github.com/magento/magento2/commit/533ec2eb46c91b79b7a99ba4a6a164e2f6e3d7f1), which I'm guessing is going to be included in Magento 2.4.3

Maybe somebody can confirm this?

[2021-05-04 14:20] speedupmate commented on #15967
haha , you mean let it rot until it fixes itself ?

[2021-05-04 14:21] hostep commented on #32270
This is probably fixed by: [MC-41438: 100% Discount cart rule results in Tax invoiced](https://github.com/magento/magento2/commit/533ec2eb46c91b79b7a99ba4a6a164e2f6e3d7f1), which I'm guessing is going to be included in Magento 2.4.3

Maybe somebody can confirm this?

[2021-05-04 14:32] tejasklevu commented on #17008
it looks like this issue is not resolved in 2.4.x as well. can this be fixed?

[2021-05-04 15:00] lbajsarowicz commented on #23251
I always wondered if anyone is doing Code Review of Adobe Core developer changes.

Let's look at the "fixes" introduced in Magento 2.4.2: https://github.com/magento/magento2/commit/23c61bd49b5323d08f2cd4592ee451ca03e4b9e1

This is strictly related to the issue we are encountering (Look at the references to non-existing classes like `\Magento\Framework\App\ResourceConnectionConnection`)

[2021-05-04 15:13] mrtuvn commented on #32934
remove content with pub/static/* will delete all content inside static folder (included .htaccess) This may cause some issue and magento will not work properly
You should avoid run that command

[2021-05-04 15:43] iphigenie commented on #32721
I am amazed this was called S3 as anyone with bundles had their bundles suddenly shown on site at inflated price that didnt show in admin.  This would result in no sales and loss of confidence in customers.

I found this and searched for it in bugs but obviously since it is marked fixed it didnt show in default search.

Suggestion: Issues that exist in the current release but which will be fixed i

[2021-05-04 15:49] PromInc commented on #32721
@iphigenie I agree that I don't like the labeling of this.

This bug was also reported here: https://github.com/magento/magento2/issues/32383 before me and hence I closed this ticket personally.

This bug fix is in process to be resolved in v2.4.3 via that alternate ticket.

But since the current production code is still flawed, it's strange that the other ticket is marked as fixed.  It's not live

[2021-05-04 16:25] fxlip opened #32940 "Installing magento on database with sql_require_primary_key"
The installation fails when creating the schema, showing the `SQLSTATE [HY000] error: General error: 3750 Unable to create or change a table without a primary key, when the system variable 'sql_require_primary_key' is set. `

### Preconditions
    Magento 2.4
    Debian 10
    PHP 7.3.27
    MySQL 8 on DigitalOcean Cluster

### Steps to reproduce
`php -f bin/magento setup:install --base-url=http:/

[2021-05-04 16:31] klaviyojad commented on #2540
Im confused on all the above.  Is it being said that for the [/oauth/token/request ](https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication-oauth.html#pre-auth-token) we have to pass verifier token too?  Its clear that we have to for [oauth/token/access](https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication-oauth.html#get-access-token) b

[2021-05-04 16:49] gabrieldagama commented on #32307
As per the comment above, the issue is likely fixed on 2.4.2. If it is still relevant, please feel free to reopen it.

[2021-05-04 16:49] #32307 closed, assigned to denis-zyk

[2021-05-04 16:54] ni-bschmitt commented on #8181
@Den4ik the key difference is that **Add to address book** is by default unchecked, whereas it's **not** at the version I have (is there a configuration I can adjust?).

When I check *Add to address book* even if I selected *Select from an existing customer address* the address is duplicated.

# Select existing address
![image](https://user-images.githubusercontent.com/58559970/117039957-a46f4a80-

[2021-05-04 17:24] iphigenie commented on #31739
I wonder if that is related to the changes that caused this other issue #32721 ?

some really rough changes to links in 2.4.2 that clearly showed not enough of the development team and community use bundles in real world test scenarios at all

[2021-05-04 17:25] iphigenie commented on #32721
could #31739 come from the same set of mistakes but in LinkManagement not LinksList ?

[2021-05-04 17:32] iphigenie commented on #32721
Agreed - I felt like a right idiot when I spotted it, how could I have missed it. And my bundles are all FIXED PRICE too so no matter what this should not have happened...

PS: The fact that there is only ONE bundle product and ONE grouped product in the test data, instead of a set of them using the different configuration and visibility possibility, means these bugs keep happening on these produc

[2021-05-04 17:41] Den4ik commented on #8181
@ni-bschmitt  Thanks for details. Let me recheck it again

[2021-05-04 17:53] matteolavaggi commented on #32934
Hi thanks for your feedback, but I ran Magento under nginx so I don't need
htacces. Btw I've a copy of that file to be able to restore from git
archive (obviously with no difference in this behaviour).

Is a strange issue, I really can't address it, it's the second time I need
to reinstall from scratch , but I need to be able to install and uninstall
module and sample data with no issue before pro

[2021-05-04 17:54] matteolavaggi commented on #32898
Any idea? It's really possible that Magento does not support galera cluster db topology?

[2021-05-04 18:37] sprankhub commented on #27474
Still relevant :roll_eyes:

[2021-05-04 19:21] Swahjak commented on #13477
Still not stale

[2021-05-04 19:22] Swahjak commented on #17836
Still not stale

[2021-05-04 19:22] Swahjak commented on #22007
Still not stale

[2021-05-04 19:22] Swahjak commented on #27264
Still not stale

[2021-05-04 20:54] gman-1986 commented on #32192
This issue is still current, if I sell all my child products the configurable is out of stock but when my stock of my child products are updated with greater than 0 stock the configurable just displays out of stock and will not change stock status automatically to In Stock.

[2021-05-04 22:04] jonathanbray02 commented on #6331
I have the same issue. I tried code but not working

[2021-05-05 00:01] mrtuvn commented on #32180
Maybe we have regression bug here after some refactor

[2021-05-05 01:08] simonworkhouse commented on #17615
This issue is still relevant.

[2021-05-05 01:34] ioweb-gr commented on #22363
This is not stale

[2021-05-05 02:24] manish-sp commented on #29320
Hello @magento-engcom-team

Please assist in reopening this issue, as it has not yet been resolved. Thanks

[2021-05-05 02:30] manish-sp opened #32941 "CMS blocks and pages content edited with Page Builder adding extra html DIVS causing style issues #29320"
### Preconditions (*)

1. Magento 2 EE 2.4.1

### Steps to reproduce (*)

1.Edit CMS block or page with Page Builder
2. Save CMS block or page.

### Expected result (*)

1. Content should be saved without extra divs around CMS content
2.

### Actual result (*)

1. Content is saving successfully but some extra divs are automatically adding around content as you are seeing below.
2. `<div data-conte

[2021-05-05 02:31] manish-sp commented on #32941
@magento-engcom-team Same issue exists here
https://github.com/magento/magento2/issues/29320
this issue has been closed without fix.

[2021-05-05 02:33] simonworkhouse commented on #17614
This issue is still relevant.

[2021-05-05 02:33] simonworkhouse commented on #17585
This issue is still relevant.

[2021-05-05 02:50] ghost opened #32942 "Checkout - Conflict in the discount label"
Hey guys,

The checkout is applying the title of the block totals "discount" in the wrong way.

If there is a third-party block in totals_segment containing "discount" as part of the code and it comes before the discount, it is applied instead. (Attachment "checkout-discount.jpg")

Analyzing the code of the file "module-sales-rule/view/frontend/web/js/view/summary/discount.js", line line 60, there

[2021-05-05 02:53] dholidev commented on #32942
@felipeSoulmkt, pode acompanhar.

[2021-05-05 02:58] felipeSoulmkt commented on #32942
perfeito @dholidev, obrigado pela ajuda

[2021-05-05 04:01] mrtuvn commented on #29320
You can close new one i will help re-open this one

[2021-05-05 04:02] mrtuvn commented on #32941
@manish-sp re-opened issue. So i will close this

[2021-05-05 04:02] #32941 closed, assigned to nobody

[2021-05-05 04:39] sergeifilippov commented on #21646
We have same issue on a virgin install of 2.3.5-p1.

[2021-05-05 04:57] chequille commented on #28092
@5m-solutions
Hi, it does not work on my test shop using 2.3.5p2 version. I still get the error message "something went wrong ......."
Which version do you use?
Regards,
Chequille

[2021-05-05 05:56] #32542 closed, assigned to nobody

[2021-05-05 05:58] magento-engcom-team commented on #32542
Hi @sport24-rtr.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41427` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you st

[2021-05-05 06:02] engcom-Oscar commented on #32933
duplicate of https://github.com/magento/partners-magento2ee/issues/537

[2021-05-05 06:02] #32933 closed, assigned to nobody

[2021-05-05 06:23] hostep commented on #23122
Let's keep this issue open, it sounds important enough. Would be great if somebody could verify and assign priorities. @sidolov @gabrieldagama

[2021-05-05 07:12] #31344 closed, assigned to hws47a

[2021-05-05 07:14] #31959 closed, assigned to nobody

[2021-05-05 07:26] CelinaNguyen114 opened #32943 "Public Hash Error"
Hi Magento Supporter,

Currently, we have discovered the Public  Hash error when customers try to create a new order with a saved credit card, they get this error.  Also, we see this error when we try to place an order for an existing customer from the Admin panel. It has to do with the Vault where credit cards are saved.

### Preconditions

1. Magento CE 2.3.6-p1
2. Linux (x86_64)
3. PHP 7.3.28
4

[2021-05-05 07:28] mrtuvn commented on #29320
In the meantime no PR yet the quick trick is not use default component to avoid inline styles. Or you can use another module and disable PageBuilder. I highly recommended you check solutions by https://magesuite.io/

[2021-05-05 07:43] petrovsa commented on #27474
![Screenshot from 2021-05-05 10-41-21](https://user-images.githubusercontent.com/41642399/117110259-8697f900-ad8e-11eb-9866-8ad5eff2a8ab.png)
On 2.4-develop. Recheck please

[2021-05-05 07:51] magento-engcom-team commented on #27474
Hi @norgeindian.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-32976` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you st

[2021-05-05 07:54] amenk opened #32944 "*WIP* Discount (Cart Rules) Labels are displayed twice in Cart and Empty Label resolves to the discount code"
*WIP* Will add steps to reproduce after a test instance was started

### Preconditions (*)
1. Magento 2.3.4
2. Cart Price Rule exists "Freeshipping"
   * No label defined
   * Free shipping for cart value > 100$
3. Cart Price Rule "20%" exists
   * Default Label: "20% Discount"
   * Coupon Code 20OFF

### Steps to reproduce (*)
1. Put Product selene-yoga-hoodie.html ~ 48$ into Cart
2. Applied 20FF

[2021-05-05 07:54] amenk commented on #32944
@magento give me 2.4-develop instance

[2021-05-05 08:03] norgeindian commented on #27474
@petrovsa , your screenshot only provides information about the order confirmation mail.
This issue is about the invoice and the information if this has been sent or not.
Please be so kind and check again.

[2021-05-05 08:04] CelinaNguyen114 opened #32945 "Something went wrong with processing the default view and we have restored the filter to its original state error"
Hi Magento Supporter,

Currently, when we access the Admin with the Sale role only and  go to orders. We will get a  “Something went wrong with processing the default view and we have restored the filter to its original state” error. Could you please take a look and give us advice on how to fix it?

### Preconditions (*)

Magento CE 2.3.6-p1
Linux (x86_64)
PHP 7.3.28
mysql  Ver 15.1 Distrib 10.3.2

[2021-05-05 08:06] matteolavaggi commented on #32934
Here after a magento complete reinstall and running

`composer update`

Magento does not remove the module sample data entry from database. Any idea?

[code]

[2021-05-05 08:16] amenk commented on #32944
not reproducible on 2.4-develop. Seems fixed. Closing.

[2021-05-05 08:16] #32944 closed, assigned to nobody

[2021-05-05 08:25] matteolavaggi commented on #32934
Also on Content->desing->Configuration->theme is left  a ref url from sampledata deploy that point to a missing css. This url must be removed from config when run sampledata:remove

[2021-05-05 08:30] petrovsa commented on #27474
@norgeindian You are right!  Information is absent about the invoice and the information if this has been sent or not

[2021-05-05 08:30] manish-sp commented on #29320
Hello @mrtuvn thanks for suggestion but its Magento core feature and it should be bug free. I not prefer to to third-party modules if already Magento have same feature. Let @magento-engcom-team to fix this issue

[2021-05-05 08:40] magento-engcom-team commented on #27474
Hi @norgeindian.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-32976` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you st

[2021-05-05 08:44] ihor-sviziev commented on #23122
@gabrieldagama @sivaschenko, I think the priority for this issue should be set to p2, or even to p1.

[2021-05-05 08:53] gabrieldagama commented on #23122
Hi @ihor-sviziev @hostep, thanks for highlighting this issue. I wonder if this is still reproducible on 2.4-develop, as far as I can see the `getTransport()` method is always resetting its values since 2019.

[code]

@ryanpalmerweb were you able to reproduce this issue on the latest release 2.4.2? Thanks!

[2021-05-05 09:01] norgeindian commented on #27474
@petrovsa , thanks for checking. Do you have the possibility to reopen this issue somehow resp. re-open JIRA ticket `MC-32976`

[2021-05-05 09:05] ikevinsolomon commented on #32237
I'm facing a similar issue on EKS with redis, even with all the pods having the same app/etc/env.php with same crypt key.
I also reckon this might also have something to do something with https://github.com/magento/magento2/issues/29964

Can you please share more of your finding or your env.php

[2021-05-05 09:20] petrovsa commented on #27474
@norgeindian I don`t have possibility reopen this issue.

[2021-05-05 09:23] ryanpalmerweb commented on #23122
Hi @gabrieldagama,

Looking at the commit below the issue looks to be fixed in 2.3.3-p1 and 2.4.2, although I'm not able to check at the moment whether this is the case.

https://github.com/magento/magento2/commit/863ec2ebe29bc1c707383f05c37ebcfeb8437f94

What does MC-18193 refer to?

[2021-05-05 09:30] maciej-orba commented on #32888
@hostep elier file was not overridden by composer install if currently exists. it may be connected with composer 2 usage. same as other map files (.htaccess, etc...).

[2021-05-05 09:40] norgeindian commented on #27474
@dmitriyprime , thanks for trying, but it's still closed...

[2021-05-05 10:00] hostep commented on #32888
I've seen it happening as well as of lately, the overwriting of that file is not exactly the same behavior as before in Magento 2.3.6.

We have our own custom composer module that should overwrite the `.gitignore` file again on top of the default one that comes with Magento, but in 2.3.7 that seems to not be happening anymore or it could be that the sort order of when one module vs the other insta

[2021-05-05 10:06] Eddcapone commented on #20415
This still happens to me on 2.4.2 Enterprise. I am logged in and click on "To checkout" button but this pop up is showing instead.

[2021-05-05 10:20] umar-emo commented on #7589
@doublesharp OR @faisal-project
Can you explain more clearly How you guys implement this??

Thanks,

[2021-05-05 11:15] SilinMykola commented on #32910
@magento I am working on this

[2021-05-05 11:37] engcom-Oscar commented on #32887
@magento give me 2.4-develop instance

[2021-05-05 11:48] iphigenie commented on #31915
Hi @bagbarn

It's been a while since I updated to 2.4.1 but I think magento/inventory-composer-metapackage was retired, possibly even before 2.4 and is a remnant that should be gone - that it is still around is your issue.

Have you tried running --with-all-dependencies before even upgrading to 2.4.1 and then during the upgrade as that might help clean things up

[2021-05-05 12:07] krishprakash commented on #31444
Closing this issue as related PR #31354 already closed due to issue not reproducible on latest 2.4-develop instance

[2021-05-05 12:07] #31444 closed, assigned to krishprakash

[2021-05-05 12:12] krishprakash commented on #32800
Hi @Elmira9292. Feel free to reopen the ticket once you update all the necessary details for this issue
Thanks

[2021-05-05 12:12] #32800 closed, assigned to krishprakash

[2021-05-05 12:16] Den4ik commented on #27158
@qsolutions-pl Thanks for the report. Unfortunately I can't reproduce problem with provided steps.

https://user-images.githubusercontent.com/1129623/117139302-c1148c80-adb4-11eb-94f4-0ff67215c869.mp4

Please add more details for reproducing the problem and fill free to reopen issue.
Thanks.

[2021-05-05 12:16] #27158 closed, assigned to nobody

[2021-05-05 12:16] Joso commented on #22094
I had already set to schedule, but it kept giving me the error. I changed on save and the error disappeared, but I also changed the database user permissions from "usage" to "ALL" and changed two products without getting the error.

[2021-05-05 12:21] tim-breitenstein-it commented on #26960
My workaround: `vendor/magento/framework/App/Http.php`

[code]

[2021-05-05 12:27] Stepa4man opened #32946 "Hierarchy doesn't work when category url rewrites disabled"
### Preconditions
1. Go to system config disable URL rewrites for categories
2. Clear config cache

### Steps to reproduce
1. Create hierarchy node
2. Create a cms page and assign it to the hierarchy node
3. Go to hierarchy node's URL in the browser

### Expected result
1. You are ridirected cms page assigned to hierarchy node

### Actual result
1. Page not found

---
Please provide [Severity](htt

[2021-05-05 12:28] Stepa4man commented on #32946
@magento give me 2.4-develop instance

[2021-05-05 12:34] Stepa4man commented on #32946
This is issue for enterprise eddition

[2021-05-05 12:40] Stepa4man commented on #32946
Fix requires changes in community addition

[2021-05-05 12:41] Stepa4man commented on #32946
Duplicate of https://github.com/magento/partners-magento2ee/issues/542

[2021-05-05 12:47] ihor-sviziev commented on #23122
@ryanpalmerweb, thank you for the confirmation! I'm closing this issue as it was already fixed in https://github.com/magento/magento2/commit/863ec2ebe29bc1c707383f05c37ebcfeb8437f94.

[2021-05-05 12:47] #23122 closed, assigned to ihor-sviziev

[2021-05-05 12:53] Stepa4man commented on #32946
Already solved via https://github.com/magento/magento2/commit/6316620cca1482d4f56fd4f1e5d3482e6b1f6deb

[2021-05-05 12:53] #32946 closed, assigned to Stepa4man

[2021-05-05 13:23] ihor-sviziev commented on #26960
@tim-breitenstein-it, unfortunately, that's not a correct fix, as you're breaking the value of X-Magento-Tags, this will lead to not working cache cleaning in Varnish.

[2021-05-05 13:41] evs-xsarus commented on #29777
Perhaps a change in ES ? When running this with 7.9.0, an array is returned. On ES 7.10.2, an int is returned.

[2021-05-05 13:41] evs-xsarus commented on #29777
@cezard could you confirm your versions and reopen this ticket?

[2021-05-05 14:05] tim-breitenstein-it commented on #26960
@ihor-sviziev It´s only a workaround! But after all, better than a 503!

[2021-05-05 14:22] anthonyherve commented on #31124
Hello,

I'm agree with @WebKenth because the error is still there in 2.3.6.
Can you please test on 2.3.6 to try to confirm issue?

Thank you.

Regards,

[2021-05-05 14:27] tschallacka commented on #3544
Magento calls composer in a self contained bufferedoutput, hiding all the output. This hides that it wants the authentication keys for repo.magento.com.

To solve this issue, in your root magento folder you need to add auth.json as a new file, by copying auth.json.sample.
Add your magento public key as username and your private key as password in the json.
Add auth.json to your .gitignore

Now run

[2021-05-05 14:36] engcom-Oscar commented on #28092
I could reproduce this issue on latest 2.4-develop branch using Firefox browser.

[2021-05-05 14:39] vlad0337187 commented on #4159
Your Magento is shit.
It simply doesn't work after clean installation with Docker.
2.4.2
Can't visit any page of web app =)

[2021-05-05 14:42] stoutik commented on #31496
I have the same problem.

[2021-05-05 14:43] ihor-sviziev commented on #32851
**List of supported browsers:**
Microsoft Edge, latest–1
Firefox latest, latest–1 (any operating system)
Chrome latest, latest–1 (any operating system)
Safari latest, latest–1 (Mac OS only)
Safari Mobile for iPad 2, iPad Mini, iPad with Retina Display (iOS 12 or later), for desktop storefront
Safari Mobile for iPhone 6 or later; iOS 12 or later, for mobile storefront
Chrome for mobile latest–1 (An

[2021-05-05 14:48] magento-engcom-team commented on #30094
Hi @pjayramkumar, @Morgy93.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38991` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

Bu

[2021-05-05 15:05] JoostWan opened #32948 "Itemprop offers cache issue upsell"
### Preconditions (*)

1. Magento 2.3.6
2. Luma theme

### Steps to reproduce (*)
1. Create two products
2. Link both products to each other via upsell
3. Open product 1
4. Open product 2
5. View source code

### Expected result (*)
1. Product 2 has correct itemprop offer

### Actual result (*)
1. Product 2 has no itemprop offer (main product on that page)
2. Product 1 in the upsell section has de

[2021-05-05 15:16] mrtuvn commented on #31828
![Screenshot from 2021-05-05 22-15-08](https://user-images.githubusercontent.com/1908873/117165086-63e9fc80-adef-11eb-993f-3dca14251a3d.png)
Tested in my own setup
i have exactly 13 items totall for gear category
cc: @iphigenie

[2021-05-05 15:27] okorshenko opened #32949 "Test Issue"
### Preconditions (*)

1. Tests
2. Tests

### Steps to reproduce (*)

1. Test
2. Test

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help d

[2021-05-05 15:36] okorshenko commented on #32949
@magento I am working on this

[2021-05-05 15:38] doublesharp commented on #7589
@umar-emo You need to create a module (or add to another module) the plugin that modifies the behavior -

**`magento/app/code/Doublesharp/SortOutOfStockLast/registration.php`**
[code]

**`magento/app/code/Doublesharp/SortOutOfStockLast/etc/module.xml`**
[code]

**`magento/app/code/Doublesharp/SortOutOfStockLast/etc/di.xml`**
[code]

**`magento/app/code/Doublesharp/SortOutOfStockLast/Plugin/Catalog

[2021-05-05 15:38] okorshenko commented on #32949
@magento give me 2.4-develop instance

[2021-05-05 16:09] simon-letch commented on #32345
@ihor-sviziev The new dotdigital SMS extension was included as part of 2.4.2. Installs that had the core dotdigital extension disabled would cause this error. The cause of it is the SMS extension attempting to add a menu item to the menu the core extension adds. Which in this case doesn't exist as it's disabled.

There are community members which maintain modules to composer replace the bundled ex

[2021-05-05 16:19] tim-breitenstein-it commented on #26960
I edited my comment because I accidentally copied the wrong line :(

[2021-05-05 16:24] batmike commented on #32180
Looks like there is a fix for this is the quality-patches release 1.0.21 under MDVA-36615
[https://devdocs.magento.com/quality-patches/release-notes.html]

The fix is the same as what @michalbednarzcsm suggested above and it's working for me in our various environments.

[2021-05-05 16:24] ericerway commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-05-05 16:26] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-05-05 16:44] #32633 closed, assigned to nobody

[2021-05-05 16:45] magento-engcom-team commented on #32633
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-05 17:21] ia-gaurav opened #32950 "Encrypt customer email and phone number"
Magento Verison - Any

Option to encrypt customer email and phone number in database for security and database leak

[2021-05-05 17:54] chequille commented on #28092
I confirm this on 2.4.2
I cannot test develop branch.
But I do not wonder that it is still an issue, because it seems that nobody cares !!!!!!!
As it is with other things.
I am not happy, because I cannot switch to 2.4.x version. We rented a V-Server 6 months ago to get 2.4.x requirements and to be aible to switch but I am still online with 2.3.5 on a hosting server.
It is a shame, sorry guys but

[2021-05-05 18:07] Jehangir-Wahid commented on #3544
Hi,

@hostep @pbaum83 @wb-magma @live4soccer7 @tschallacka and @pmonosolo please refer to my solution posted [here](https://github.com/magento/magento2/issues/3544#issuecomment-729506080).

[2021-05-05 18:09] umar-emo commented on #7589
@doublesharp Perfect.

Let me make it as you explained.

May I know with that the filters are also working? Like sort by price, Position, Average etc

[2021-05-05 18:15] doublesharp commented on #7589
Yes, they all work for me. The module just uses a plugin to add an
additional sort to the query.

On Wed, May 5, 2021, 11:09 AM Umar Akram ***@***.***> wrote:

[2021-05-05 18:22] umar-emo commented on #7589
@doublesharp
When I make an module as you explain, I got this error.

![12](https://user-images.githubusercontent.com/10205592/117190300-aebc4200-adf8-11eb-9b61-04b9c683c059.PNG)

[2021-05-05 18:31] cpartica commented on #31351
you can take this if you don't mind

[2021-05-05 18:43] JR2Media opened #32951 "Magento 2.4.1: One or more of your dotdigital cron tasks have errors: ddg_automation_customer_subscriber_guest_sync,"
Latest version of Magento installed. At the top of Magento admin page, below are the messages displayed:

```One or more of your dotdigital cron tasks have errors: ddg_automation_customer_subscriber_guest_sync, ddg_automation_status, ddg_automation_reviews_and_wishlist, ddg_automation_catalog_sync, ddg_automation_importer, ddg_automation_campaign, ddg_automation_order_sync, ddg_automation_monitor,

[2021-05-05 18:45] JR2Media commented on #32950
Passwords are already encrypted.

[2021-05-05 18:46] ia-gaurav commented on #32950
i want to encrypt customer email and mobile number - as these information can be leaked if database stolen

[2021-05-05 18:46] #31968 closed, assigned to nobody

[2021-05-05 18:46] #30814 closed, assigned to nobody

[2021-05-05 18:46] #16407 closed, assigned to nobody

[2021-05-05 18:46] #26254 closed, assigned to nobody

[2021-05-05 18:49] magento-engcom-team commented on #26254
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-05 19:10] m2-assistant[bot] opened #32952 "[Issue] Prevent Category URL Rewrites generation when no Store Group assigned"
This issue is automatically created based on existing pull request: magento/magento2#32790: Prevent Category URL Rewrites generation when no Store Group assigned

---------

### Description (*)
During creating new website, Store Group and Store view using `php bin/magento setup:upgrade` - we got the following issue:
exception was thrown while it was trying to create a new store view that later on

[2021-05-05 19:11] chequille commented on #31117
@amr-oreaba-mok
I changed inventory code with the the link you gave above ( magento/inventory@476e018).
It looks like it will solve the problem when using
    	`$salable = $this->getSalableQuantityDataBySku->execute($sku);`
which I am using in my stock modul (showing it as a traffic light).
But as you see in the picture the selectable swatches still can be selected.
![grafik](https://user-images.g

[2021-05-05 19:19] m2-assistant[bot] opened #32954 "[Issue] Do not trigger url rewrites re-generation for all store views"
This issue is automatically created based on existing pull request: magento/magento2#32808: Do not trigger url rewrites re-generation for all store views

---------

### Description (*)
During creating a new website, Store Group and Store view using `php bin/magento setup:upgrade` - we noticed that some URL rewrites for categories on **different** stores were re-generated in DB, that's absolutely

[2021-05-05 19:56] tschallacka commented on #3544
Well technically it isn't a problem.

I documented my research here: https://blog.tschallacka.de/2021/05/binmagento-moduleuninstall-never.html and technically this isn't a bug. It's listed un the pre-requisites that you need to create an auth.json

https://devdocs.magento.com/guides/v2.4/install-gde/prereq/dev_install.html#authentication-file

So if you get this error, you basically skipped a step

[2021-05-05 19:58] doublesharp commented on #7589
@umar-emo that's from a different post, my example uses a different namespace/directory structure.

[2021-05-05 21:12] gondas33 opened #32956 "Magento 2.4.2 CLS issue"
As you might know, Google recently introduced a new ranking factor and that is CLS - Cumulative Layout Shift.
I have done few tests on default magento 2 stores and each of them fails the test of having 0 CLS on a product page.

Having a higher CLS than 0.25 as page will slowly destroy your organic rankings as also fail the test called 'Core Vitals' in Google Search Console.

### Preconditions (*)

[2021-05-05 21:13] an4rei commented on #32956
@magento give me 2.4-develop instance

[2021-05-05 21:22] an4rei commented on #32956
Issue exists on latest version as well:
![image](https://user-images.githubusercontent.com/11984860/117210847-e3cc9280-ae00-11eb-93c6-f9301b17110f.png)

[2021-05-05 21:57] intheshallow commented on #32571
Hello,

Is there any update on this? I am just checking in.

[2021-05-05 22:58] mrtuvn commented on #32180
@batmike can you verify your issue in latest code 2.4-develop ?

[2021-05-06 00:41] umar-emo commented on #7589
@doublesharp
Brother, when I remove your module from the directory, composer run fine.
I thought, It happening due to the different directory structure is different.

**Is there any common way, which is suitable for all type of directory.?**
Looking forward to hearing from you.
Thanks

![Csapture](https://user-images.githubusercontent.com/10205592/117226129-63705680-ae2d-11eb-9afb-0c217e44c290.PNG

[2021-05-06 05:32] ihor-sviziev commented on #32956
@sivaschenko @gabrieldagama, I think priority should be set to P2 for this issue
@mrtuvn, you might be interested in fixing this issue :)

[2021-05-06 05:52] ihor-sviziev commented on #32932
@sivaschenko @gabrieldagama, could this issue be set as a high priority? Removing usage of the prototype js, which is so old, is way better than updating prototype js in order to fix https://github.com/magento/magento2/issues/32847

[2021-05-06 06:25] Crissov commented on #29507
What's the actual status of this issue and the associated PR?
The [latter was closed due to inactivity](https://github.com/magento/magento2/pull/24712#issuecomment-696650426), although apparently everyone agreed this is a good thing and should be added.

[2021-05-06 06:27] mrtuvn commented on #32956
Is this issue remain in latest branch or official 2.4.2 ? In my opinion this issue should have P3-P4 priority
More precisely title should be "Improvement CLS in product details magento" Since we have a lot of page maybe next one will fix for category

[2021-05-06 06:30] #31760 closed, assigned to nobody

[2021-05-06 06:30] #31792 closed, assigned to nobody

[2021-05-06 06:32] magento-engcom-team commented on #31760
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-06 06:54] MartinSchillinger commented on #32222
Still relevant

[2021-05-06 07:14] ihor-sviziev commented on #3625
@mrtuvn, here is a description of why the priority has decreased: https://github.com/magento/magento2/pull/30140#issuecomment-802824494

[2021-05-06 07:22] Nazar65 commented on #32901
@magento I am working on this

[2021-05-06 07:29] Grohotun commented on #20778
No movement from Magento side, ticket MAGETWO-99040 were created

[2021-05-06 07:34] Nazar65 commented on #32901
hi @wandyyd could you please send the image that's media gallery is trying ti update ? also you can disable the metadata module of media gallery as a temporary solution to do the sync

[2021-05-06 07:38] Nazar65 commented on #32901
@wandyyd looks like it's already fixed -> https://github.com/magento/magento2/commit/82f89f50d694cbc48aa1ccfa87db2324348387c9

[2021-05-06 08:06] lenlorijn commented on #31814
Has anyone found a solution yet? This error is occurring for us as well after a 2.4.2 upgrade when searching for a customer by email via the API. It is not reproducible locally without customer data.

[2021-05-06 08:09] tim-breitenstein-it commented on #26960
I do some logging and found a very large 'X-Magento-Tags' header entry:

[code]

[2021-05-06 08:10] engcom-Oscar commented on #32945
Hi @CelinaNguyen114 Thank you for your report.
Unfortunately, we are not able to reproduce the issue. Looks like we miss some important preconditions, so may you please recheck and update description?

[2021-05-06 09:07] CelinaNguyen114 commented on #32945
Hi @engcom-Oscar,

Thank you for your feedback,

Good to note: This has only happened with non-administrator ID’s ( Sale level/role )

Steps to reproduce (*)
Step 1: access the Admin with the Sale role only.
Step 2: Go to view an order; you will see this error:

![Screenshot_9](https://user-images.githubusercontent.com/83684394/117270806-c987c880-ae83-11eb-923b-9ebaaea7a3c9.png)

Preconditions (*)

[2021-05-06 09:38] lenlorijn commented on #31814
For anyone finding this thread/issue. Our issue was duplicate newsletter subscribers, perhaps caused by the data-migration-tool.

[2021-05-06 10:23] rishisarvadaa opened #32958 "Two file upload not working within a same form in magento product page"
I have a default magento 2.4.2.installed on my server. In the product detail page there are 2 input types of file upload which is not working together. When I remove one input file type then it is working properly but when i add one more then I am not able to move forward. The error log is also empty. Please help me in finding the issue.

All I want to achieve is: these uploaded images should be a

[2021-05-06 10:48] theshreyas commented on #31898
same with bundle product. I have raised the issue [here](https://github.com/magento/magento2/issues/32834)

[2021-05-06 11:04] niku0911 commented on #32824
hi @SilinMykola  Thanks for solution

[2021-05-06 11:04] #32824 closed, assigned to SilinMykola

[2021-05-06 11:06] magento-engcom-team commented on #32824
Hi @niku0911, @SilinMykola.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-42032` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-06 11:44] EgorDubrovskiy commented on #30094
Hello everyone

This issue is reproducible for my site
We have free products on the site
If all products in an order are free, then we apply free shipping and billing methods and don't have tax for the order
In this case we create an invoice manually from the admin page and have the issue when we try to visit the invoice page

[2021-05-06 12:18] SilinMykola commented on #32519
@magento I am working on this

[2021-05-06 12:27] mrtuvn commented on #32956
![Screenshot from 2021-05-06 19-25-29](https://user-images.githubusercontent.com/1908873/117297872-ea124b80-aea0-11eb-9d1c-388fd064c496.png)
Here is my test in latest code base
Detail page luma setup sampledata (incognito mode)

[2021-05-06 12:31] dharake commented on #4159
Guys the component manager, see entire web setup wizard and GUI module control have been deprecated (its somewhere in release notes of 2.4.1 i think). You need to use ssh here on out, to the best of my knowledge.

![16203041916823178768749054648148](https://user-images.githubusercontent.com/22891885/117298426-0782ed80-ae80-11eb-94d1-bd22989faf1c.jpg)

[2021-05-06 12:33] dharake commented on #4159
I gave up trying to use docker for magento

[2021-05-06 12:34] dharake commented on #4159
Hopefully Adobe help steer them in a better direction 🤞

[2021-05-06 12:39] #32488 closed, assigned to nobody

[2021-05-06 12:40] Eddcapone commented on #10107
I still have this bug in 2.4.2 Enterprise

[2021-05-06 12:40] #32025 closed, assigned to mrtuvn

[2021-05-06 12:40] #32028 closed, assigned to mrtuvn

[2021-05-06 12:41] magento-engcom-team commented on #32488
Hi @renard123.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41344` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2021-05-06 12:49] ihor-sviziev commented on #32956
@mrtuvn, unfortunately, pagespeed usually shows different results than on localhost. So pls check it on some server

[2021-05-06 12:56] engcom-Oscar commented on #32222
Hi @MartinSchillinger ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue. Looks like we miss some important preconditions, so may you please recheck and update description?
After following steps from this ticket, we have such result:
![Screenshot from 2021-05-06 15-53-14](https://user-images.githubusercontent.com/60198413/117301680-8af20e00-ae83-11eb-831a-64b3cef38a

[2021-05-06 12:57] mrtuvn commented on #32956
Sorry i dont have any live server currently for that. But i think results may not difference too much. Yes we still need more improve in mobile when cls metric in mobile not good for user

[2021-05-06 13:03] #27590 closed, assigned to nobody

[2021-05-06 13:03] #31966 closed, assigned to nobody

[2021-05-06 13:04] magento-engcom-team commented on #27590
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-06 13:13] kolaente commented on #32224
Yes, still relevant.

[2021-05-06 13:14] ajitverma-ks opened #32960 "When make Grid using ui"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-05-06 13:15] ajitverma-ks commented on #32960
by mistake

[2021-05-06 13:15] ajitverma-ks commented on #32960
by mistake opened

[2021-05-06 13:15] ajitverma-ks commented on #32960
By mistake open

[2021-05-06 13:15] #32960 closed, assigned to nobody

[2021-05-06 13:51] sdzhepa opened #32961 "[TEST ISSUES]"
### Preconditions (*)

1. Magento 2.4.3
2.

### Steps to reproduce (*)

1. Add Virual product to cart
2. Go to checkout
3. Click Button

### Expected result (*)

1. [Screenshots, logs or description]
2.   error
[code]

attach screen
### Actual result (*)

1. [Screenshots, logs or description]
2. no error

### Additional Information
- additional clear steps to reproduce in this comment https://gith

[2021-05-06 13:55] sdzhepa commented on #32961
Hello @sdzhepa

Thank you for reporting and collaboration!

Could you please provide more details about steps and expected /actual result

[2021-05-06 14:07] ihor-sviziev commented on #32956
@mrtuvn you can check it on test instance

[2021-05-06 14:07] sdzhepa commented on #32961
@magento give me 2.4-develop instance

[2021-05-06 14:09] hostep commented on #32888
So here's my understanding of the issue, this has not been entirely researched but I think these are the basics:

Magento's https://github.com/magento/magento-composer-installer/ module has a feature to copy files outside of composer repository's to the project (they call this marshalling). In this case we are talking about a file called `.gitignore` inside the module `magento/magento2-base`

If I

[2021-05-06 14:31] sylvainraye commented on #13307
Hi @mageprashant

Did you resolved your issue ? We face the same one on Magento 2.4 with product bundle having a lots of options and selections into it.

Thank you for your feedback

[2021-05-06 14:39] Footshop-Andy opened #32962 "Encoding of ampersands in attribute set group name"
When creating a new group of attributes within an attribute set, including an ampersand in the name of the group displays correctly within the "Attribute Set" area of the admin. When viewing a product within the admin, this displays encoded as `&amp;`

Manually changing the name of the group from `&amp;` to `&` will fix the problem; but the next time the attribute set is saved, the problem is re-i

[2021-05-06 14:40] Footshop-Andy commented on #32962
@magento give me 2.4-develop instance

[2021-05-06 15:14] EgorDubrovskiy commented on #30094
A little update related to this issue
As I investigated the reason of the issue is that we load taxes by invoice ID instead of expected order ID
As I see in this case we always expect an order ID hire
Please let me know if invoice
ID is also right
vendor/magento/module-sales/Block/Adminhtml/Order/Totals/Tax.php:98

[2021-05-06 15:33] Ig0r-M-magic42 commented on #26276
@yutv @sudheers-kensium @magento-engcom-team commit https://github.com/magento/magento2/commit/26872216194a2c534104573bb3e25075d933fc0c#diff-e96dae14765cbb77c452167706254377f17c2c2821f689958e306c9c4f81169b
introduced following but for a problem (on 2.4.2)
![image](https://user-images.githubusercontent.com/22006850/117325408-998ef400-ae88-11eb-9f30-ac31b2f52462.png)

This is due to cloning that add

[2021-05-06 15:35] mateuszrusiecki commented on #4159
@dharake no they won't. It just can not be done :)

[2021-05-06 16:35] yutv commented on #26276
Hello @Ig0r-M-magic42,

Most probably you have Google Tag Manager (GTM) enabled on the website. I have noticed recently that the GTM script changes the `Array.prototype`, adds a lot of new methods there which are cloned and then displayed by knockout on checkout.

As a hotfix the following patch may be used.
[code]

It resolves the issue on checkout but there are other occurrences of `$.extend(tru

[2021-05-06 18:20] TinaLMoore commented on #30835
@magento give me 2.4.2 instance

[2021-05-06 18:27] ihor-sviziev commented on #32856
As I said in https://github.com/magento/magento2/issues/32851#issuecomment-832745748 , we can safely remove the MutationObserver, as all supported browsers already have native support of it

[2021-05-06 19:44] batmike commented on #32180
@mrtuvn - The latest 2.4-develop code does fix the issue. Thanks!

My comment from yesterday with the quality patch was tested again the 2.4.2 release code and that works also.

[2021-05-06 23:19] jordangottlieb-ych commented on #16345
Whoops.

[2021-05-07 00:31] tiagosampaio opened #32964 "Wrong discount calculation when using multiple fixed discount cart rules"
### Preconditions (*)

1. I believe that this happens to any Magento version but I'm using 2.3.7 Commerce Edition currently
2. Create two products with the base price of $19.00 each. Both products must be available to be purchased in the front store.
3. Create two cart discount rules
4. The first cart rule will apply a fixed discount amount of $10.00 to the whole cart. Define a specific coupon cod

[2021-05-07 00:50] pitbulk opened #32965 "Password policy exception when auto-provisioning an user during SSO"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
I have an [SSO extension ](https://marketplace.magento.com/sixtomartin-onelogin-module-saml2-extend.html) which is based on SAML. That extension defines an AdminLoginObserver for controller_action_predispatch_adminhtml_auth_login so basically a SAML Message is sent to the Magento login endpoint, I validate it and SSO the user relat

[2021-05-07 04:21] rishisarvadaa commented on #32958
Hi @engcom-Oscar ,
Can you please check the below link?
https://rucomfybeanbags.sarvadaa.com/joust-duffle-bag.html

I have installed another fresh magento setup with version 2.3.3. In that setup it is working perfectly. But when i do the same in magento 2.4.2 it is not working.

Is there any issue with this specific version?

[2021-05-07 05:45] magento-engcom-team commented on #7433
Hi @fchalet69.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24732` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2021-05-07 06:38] magento-engcom-team commented on #20317
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-07 06:48] JithinJay commented on #15427
HI @magento-devops  WE have faced the same issue in 2.3.1 EE, we are planning to upgrade to 2.4.2 EE does this fixed in 2.4.2 ?

[2021-05-07 07:03] Asifjalil99 opened #32966 "Magento 2.2.6 Search only search from starting word not from middle word"
Magento 2.2.6 Search only search from starting word

### Summary (*)
i am facing issue with magento 2.2.6 Search there is some products number in my website **e.g 30330, 303090, 30901, 450905 etc** when i enter 303 in my search the result show up correctly but when i enter 090 in the search bar ther result show up with this "Your search returned no results" how can i solve this issue also how can

[2021-05-07 07:12] Webalpha97 commented on #32882
No one is there to help out .I am getting this issue in magento 2.4.2

[2021-05-07 07:17] Webalpha97 opened #32967 "We can't find products matching the selection on Category Page Frontend in magento 2.4.2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-05-07 07:19] Webalpha97 commented on #32967
I had done re-indexing and even cleared cache. Then also showing Same issue.

[2021-05-07 07:24] rishisarvadaa commented on #32958
@engcom-Oscar
you can check here [https://www.mageplaza.com/kb/magento-2-demo.html](url) with both versions(2.3.3 & 2.4.2).
I have tried here also. It seems a issue with this specific version.

[2021-05-07 07:38] denchev commented on #32882
@Webalpha97 Github is not a support forum. I want to help you though so please find me in the Magento Community Engineering channel on Slack - magentocommeng.slack.com

[2021-05-07 07:52] engcom-Oscar commented on #32964
Hi @tiagosampaio  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue. Looks like we miss some important preconditions, so may you please recheck and update description?
After following steps from the ticket, result is:

![Screenshot from 2021-05-07 10-51-25](https://user-images.githubusercontent.com/60198413/117416607-35207300-af22-11eb-87de-4ea27bf6d6fe.png)

[2021-05-07 07:59] Ig0r-M-magic42 commented on #26276
@yutv thanks for the feedback, it's quite helpful

[2021-05-07 08:01] mrtuvn commented on #32967
Can you provide details related issue following guide

[2021-05-07 08:16] vandijkstef opened #32968 "REST orders/X/comments allows undefined statuses"
When updating the order-status/comments using the REST API, it allows for non configured status-es to be set

### Preconditions (*)

1. Magento CE 2.3.4
2. PHP 7.3.X

### Steps to reproduce (*)

1. Update status/add comment to order using REST API url: /rest/V1/orders/[ORDERID]/comments
2. In the payload add a 'status'-string that is not configured in Magento

### Expected result (*)

Either:
- De

[2021-05-07 09:10] iphigenie commented on #31828
My first notion is that an empty grouped product would not show a price, since it has no price of its own?

[2021-05-07 09:10] vandijkstef opened #32969 "Email styles not applied when using client-side less compilation"
When sending out emails in developer mode and client-side less compilation, all less compilation is disabled and emails appear unstyled.

### Preconditions (*)

1. Magento CE 2.3.4
2. PHP 7.3.X

### Steps to reproduce (*)

1. Set Magento in developer mode
2. Enable client-side less compilation
3. Make Magento send out an email (order-status update)

### Expected result (*)

1. A styled email

###

[2021-05-07 09:14] iphigenie commented on #31828
@magento give me 2.4-develop instance

[2021-05-07 09:21] colyield opened #32970 "Backend-Content-Themes-View, No theme information"
### Preconditions (*)

1. Magento version 2.4.2
![Screenshot 2021-05-07 052109](https://user-images.githubusercontent.com/18225064/117428441-16a38300-aef4-11eb-839f-0de7705f3429.jpg)

2.

### Steps to reproduce (*)

1. Upgraded from 2.4.1 to 2.4.2, the theme information does not display on the backend.
2.

### Expected result (*)

1. Theme information should display on Content-Themes-View.
2.

###

[2021-05-07 09:26] Asifjalil99 commented on #32966
any one can help ??

[2021-05-07 10:35] Webalpha97 commented on #32967
What you want let me know I will share that.

[2021-05-07 10:47] Webalpha97 commented on #32967
I had migrated data from M1.9.4.2  to M2.4.2.

[2021-05-07 10:47] Webalpha97 commented on #32967
I am having 2lakh products.

[2021-05-07 10:48] Webalpha97 commented on #32967
When I open magento 2.4.2 category page now product is displayed and it shows above error.

[2021-05-07 10:48] Webalpha97 commented on #32967
But it works for single product page .

[2021-05-07 13:06] alinolandry commented on #27564
I have a same issue in 2.3.5-p2

[2021-05-07 13:17] mrtuvn commented on #32970
Any log details ? See your logs from var/log folder

[2021-05-07 13:56] bampisSyk commented on #32892
Some more info about the issue.

The logic gets in the following snippet ( **Magento\Catalog\Model\Product\Attribute\Backend\Price -> afterSave()** )

`if ($this->isUseDefault($object)) {
                    $value = null;
                }`

The system checks if the value is overriden / get the default value passing null.
While digging some more , i've found that the **containsValue** function in

[2021-05-07 14:37] #31777 closed, assigned to ihor-sviziev, sergiynezbritskiy

[2021-05-07 14:38] spaho1986 opened #32971 ""Add to Cart" button is disabled on the category page"
### Preconditions (*)

1. Magento community v2.4.2
2. "Add to Cart" button on the category page is disabled

### Steps to reproduce (*)

1. Go to the category page by clicking any Magento category
2. Check the "Add to Cart" button of each product, it is disabled

### Expected result (*)

1. That button should not be disabled, at least it should be managed by a Magento configuration
2. The only way

[2021-05-07 14:44] spaho1986 commented on #32971
If you confirm that this is an issue, I can help you to solve it because I already have the solution.

[2021-05-07 15:17] hostep commented on #32888
After having 15 minutes to try to investigate this problem yesterday, I had another 10 minutes today and I think my comments from yesterday make little sense anymore, because I can reproduce the problem without having to update any modules.
Simply removing the `vendor/magento/magento2-base` directory and running `composer install` already overwrites the `.gitignore` file where before it didn't do

[2021-05-07 15:30] sdzhepa commented on #32971
@magento give me 2.4-develop instance

[2021-05-07 16:48] kennylawrence commented on #30584
this bug has killed me twice now. First on a development server, then again when I moved the theme over but didn't also check those particular settings (or at least, didn't care about them).

[2021-05-07 17:36] colyield commented on #32970
An exception log: main.CRITICAL: The "catalog.leftnav" block threw an exception, and it can't be rendered. {"exception":"[object] (Magento\\Framework\\Exception\\LocalizedException(code: 0): The \"catalog.leftnav\" block threw an exception, and it can't be rendered.

A system log: main.CRITICAL: Warning: A non-numeric value encountered in /var/www/html/vendor/magento/module-catalog-search/Model/La

[2021-05-07 19:07] Den4ik commented on #32971
@magento give me 2.4-develop instance

[2021-05-07 19:28] Den4ik commented on #32971
@spaho1986, thanks for report.
Issue is not reproduced on clear installation 2.4.2
![2021-05-07-22-26-22@2x](https://user-images.githubusercontent.com/1129623/117499107-6bdaa580-af83-11eb-8e5e-3a40d37b6fdf.jpg)
and not reproduced on 2.4-develop
![2021-05-07-22-28-12@2x](https://user-images.githubusercontent.com/1129623/117499202-8f9deb80-af83-11eb-8ce2-9972bfa2420a.jpg)

[2021-05-07 20:56] m2-assistant opened #32972 "[Issue] Allow translations for Login as Customer button"
This issue is automatically created based on existing pull request: magento/magento2#32392: Allow translations for Login as Customer button

---------

### Description (*)

The Login As Customer module adds a button to the customer edit page in the Admin panel.

The text "Login as Customer" can not be translated even though it is defined as "translatable" in the [module's di.xml](https://github.co

[2021-05-07 21:22] spaho1986 commented on #32971
@Den4ik @magento can you check the admin configuration option in STORES → Configuration → Sales → Checkout → Shopping Cart → “After Adding a Product Redirect to Shopping Car“
If you set it to yes, then you will be able to reproduce the issue on clear installation 2.4.2

[2021-05-08 00:13] mrtuvn commented on #32846
2.6.1
https://github.com/magento/magento2/blob/2.4-develop/lib/web/modernizr/modernizr.js

[2021-05-08 02:22] pitbulk commented on #32965
It seems that the issue happened because I created the user object and later used the same object after the save call to be injected into the session. After saving, if the user object is loaded
[code]
the issue is gone.

[2021-05-08 05:02] vinhan2020 commented on #29014
give me 2.4-develop instance

[2021-05-08 09:27] ninjacoder30 opened #32974 "Vertex Tax Calculation is really Slow on 2.4.2"
Magento 2.4.2 - vertex module calculation is extremely slow which makes the entire website slow wherever there is a calculation related code like add to cart , Checking totals on Checkout process etc.

 Steps to reproduce (*)
 I have Installed the vanilla Enterprise Edition on My system and i am testing the add to cart Api on Product listing Page
1. First thing u need to be logged in as a customer

[2021-05-08 11:01] ihor-sviziev commented on #31777
@sivaschenko why it was closed?

[2021-05-08 12:46] f1-outsourcing commented on #32150
So Adobe does not care about magento security? I always had the impression that adobe was shitty with programming and security ever since this flash debacle. Is it not time you invest more money in better development? Just writing some dumb arguments of the use of cron does not make it secure. Get someone professional to look at this.

[2021-05-08 17:16] VuThuan commented on #4059
Thank you for your information. I resolved my issue

[2021-05-09 02:12] colyield opened #32976 "add to cart button is grey in product listing page"
### Preconditions (*)

1. magento 2.4.2, upgraded from 2.4.1
2.

### Steps to reproduce (*)

1. No extension installed, very simple theme without any JS modified. The add to cart button is gray, not clickable.
2. Even if changed to the Luma theme, still same problem.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
![U

[2021-05-09 04:08] adamstapley opened #32977 "Text Area for Customizable Options shows line break html<br/> on the front end in cart area if a user enters more than 55 characters"
Summary of the issue
We have Customizable Options with text areas where people can enter up to 350 characters. If they enter a message that's 50 characters with line breaks it all works OK and displays properly in the cart area. If they enter more than 55 characters the cart area displays the html <br/> line break code

### Preconditions (*)
Information on your environment
Running Magento 2.4.2
De

[2021-05-09 04:10] adamstapley commented on #32977
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-05-09 04:23] adamstapley commented on #32977
Created a test product and issue still exist. This is a bundle product
URL: https://b8f5c5bbfe16193694e9c15ef90cc1d9-2-4-develop.instances.magento-community.engineering/checkout/cart/configure/id/5/product_id/2047/

![1](https://user-images.githubusercontent.com/45047386/117560550-d35b3700-b0e2-11eb-82e1-dcaee65fb370.JPG)
![2](https://user-images.githubusercontent.com/45047386/117560553-d6562780-b

[2021-05-09 06:53] Webalpha97 commented on #32967
Anyone here who can help me out for this issue.

[2021-05-09 09:20] mrtuvn commented on #32976
Can you share online store link related ?

[2021-05-09 12:15] ioweb-gr commented on #32236
Not stale

[2021-05-09 13:38] maxlussier opened #32978 "Unable to add a thumbnail picture of a video to a product"
### Preconditions (*)

1. Magento Open-Source 2.4.2
2. Ubuntu 20.04, PHP 7.4.19, MariaDB 10.4
2. With Patch MDVA-35092 applied
3. Sample Catalog data are installed

Not the same issue as: https://github.com/magento/magento2/issues/32897

### Steps to reproduce (*)

1. Go to admin. Catalog > Product.
2. Edit a product.
3. Go to section Images and Videos
4. Click on Add Video
5. Enter the following

[2021-05-09 13:39] maxlussier commented on #32978
@magento give me 2.4-develop instance

[2021-05-09 14:00] maxlussier commented on #32978
Unable to reproduce the issue with the Magento instance.

Could it be because I'm running locally? The POST AJAX request: https://88fd4427d143c69df86eb9b576fdda22-2-4-develop.instances.magento-community.engineering/admin_f9e0/product_video/product_gallery/retrieveImage/?isAjax=true

I would need someone other than myself to validate a local setup on Ubuntu having the same issue.

[2021-05-09 15:53] #31981 closed, assigned to nobody

[2021-05-09 15:55] #27065 closed, assigned to nobody

[2021-05-09 15:56] magento-engcom-team commented on #29574
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-09 17:47] colyield commented on #32976
I can PM you the website,  if you want. I prefer not to not publish it on
the internet.

Thanks,
Andy

On Sun, May 9, 2021 at 5:21 AM Tu Nguyen ***@***.***> wrote:

[2021-05-09 20:25] robbamber opened #32980 "Configurable products have no price once saved and reindexed"
### Preconditions (*)

1. Magento 2.4.2
2. Sample Data

### Steps to reproduce (*)

1. Install Magento sample data.
2. Check price data in catalog_product_entity_decimal. Configurable products have prices in the sample data:

<img width="1024" alt="catalog_product_entity" src="https://user-images.githubusercontent.com/52827107/117585290-850d5e80-b109-11eb-9b78-5a42057e1e86.png">

<img width="1024"

[2021-05-09 21:36] cdekkers commented on #31219
Just noticed this problem in our similar setup. Price index takes way too long to complete. With ~130k product, the process takes about a minute for Magento 2.3, and around 2 to 3 hours on Magento 2.4.

[2021-05-09 23:07] nizarweb77 opened #32981 "magento 2.4.1 big issue"
i try to transfer my magento2.4.1 site to anther hosting
but after that i see magento admin dasbord not organised like this without icone and without picture

<html>
<body>
<div class="menu-wrapper" style="color: rgb(0, 0, 0); font-family: &quot;MS Reference Sans Serif&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-

[2021-05-10 03:54] mrtuvn commented on #32981
have you try to re-run setup upgrade and static content deploy

[2021-05-10 06:17] gocom commented on #32222
@engcom-Oscar

As @MartinSchillinger outlined in the issue, you'll need to create multiple credit memos to be able to partially refund an order. In real life scenario this could also be an order that is processed in smaller batches (multiple invoices/shipments). In those screenshots, the whole order at appears to be invoiced at once and then single credit memo is created, instead of partial refund

[2021-05-10 06:34] nizarweb77 commented on #32981
i try it yes many times also i try many solution but same problem
i will send you the log so you can have a look sir

[2021-05-10 06:41] ihor-sviziev commented on #32974
@sidolov @sivaschenko @gabrieldagama could you forward this issue to vertex developers?

[2021-05-10 06:44] ihor-sviziev commented on #32951
@sivaschenko @sidolov @gabrieldagama could you forward this issue to dotdigital extension developers?

[2021-05-10 07:46] Sammnyg2 opened #32982 "Issue with Cache Management."
### Preconditions (*)

1.  Magento 2.3.5
2.

### Steps to reproduce (*)

1.  I flushed the catalog Images cache
2.  I flushed the Javascript/CSS cache
3.

### Expected result (*)

1. [Screenshots, logs or description]  The website is without layout and the links are un-clickable

### Actual result (*)

1. [Screenshots, logs or description]  The website is without layout and the links are un-clicka

[2021-05-10 07:50] mrtuvn commented on #32981
From my experience this case may related with infrastructure/server issues
Here is checklist for you
1. Check folders, files have set properly permission with correct read/write. Important folders, var/ pub/static generated
2. Make sure you set pub as root folder Ex: magento_root/pub <= this is root (May optional)
3. Double check availablilty file .htaccess in pub/ pub/static/ pub/media var/
4. Re

[2021-05-10 08:21] densen45 commented on #10679
This issue is still relevant. The Grouped Product duplication still does not work as expected.

Please fix this issue! We have large Grouped Products (with many children) and it's really annoying that we can't duplicate them.

[2021-05-10 08:32] gianstraf commented on #32245
@magento I am working on this

[2021-05-10 08:33] Nazar65 commented on #32901
@wandyyd  i think it should be included in the next release @gabrieldagama could you help us ?

[2021-05-10 08:58] dverkade commented on #27039
Posting a comment. Issues should not be automatically closed especially reproduced ones!

[2021-05-10 09:10] keyurshah070 commented on #31146
@DanielRuf all are false positive? or any specific one?

[2021-05-10 09:11] keyur-shah-accenture commented on #31146
@DanielRuf  as from your [PR](https://github.com/magento/magento2/pull/22418) it looks like it is covered CVE-2019-11358 but not all of them,

[2021-05-10 09:12] keyurshah070 commented on #31146
@DanielRuf as from your PR it looks like it is covered CVE-2019-11358 but not all of them,

[2021-05-10 09:17] keyurshah070 commented on #31146
thanks for the response @DanielRuf , as you mention Magento is planning to move in jQuery 3 , so do you know any plans for when it can happen? or any time-line?

[2021-05-10 09:22] Parism opened #32983 "Datetime custom attribute throws exception at mass attribute updates from admin product grid"
### Preconditions (*)

1. Magento version 2.4.1
2.

### Steps to reproduce (*)

1. Create a custom date and time attribute and assign it to an attribute set.
2. From admin panel go to Catalog -> Products -> Select a product which is assigned to the attribute set which includes the newely created date and time custom attribute -> Actions -> Update attributes

### Expected result (*)

1. ![image](ht

[2021-05-10 09:25] DanielRuf commented on #31146
No, I do not how the current plans are. I'm not that involved (anymore). Please ask the Magento product team regarding the plans to upgrade jQuery.

[2021-05-10 09:30] adam-webee commented on #31976
Hi,
This issue has not been yet confirmed and processed on the Magento side. I even proposed a solution - so please do not close it, as it is still present.

[2021-05-10 10:42] Den4ik commented on #32971
@spaho1986 Thanks for the update. Yes, issue reproduced in 2.4.2 but fixed in https://github.com/magento/magento2/commit/373c220429547a098520eed2ba0b34a01449401e
Fix will be available in next release

[2021-05-10 10:43] #32971 closed, assigned to nobody

[2021-05-10 10:46] Den4ik commented on #32971
@spaho1986 It's already fixed in 2.4-develop branch and will be available in next Magento release.

[2021-05-10 10:51] spaho1986 commented on #32971
@Den4ik thank you,
for the next time, if I already have a solution once I open the issue should I provide the fix too(at the same time) in order to become a Magento contributor?

[2021-05-10 10:55] Den4ik commented on #32971
@spaho1986 If you would like to become contributor just follow documentation [DevDocs](https://devdocs.magento.com/contributor-guide/contributing.html) and welcome aboard :)

[2021-05-10 11:12] spaho1986 commented on #32971
@Den4ik thank you :)

[2021-05-10 12:03] ia-gaurav opened #32984 "Non Product Images missing after enabling s3 bucket storage"
Magento Version - 2.4.2

Issue - I recently enabled s3 bucket for storage,  after doing it when i upload new images in product section they work properly, but when i upload images under my custom sections like blog they do not appear via url , images are getting created on s3 bucket but local verison of images are missing on server.

Where as in case of catalog images it auto create misisng images

[2021-05-10 12:17] mrtuvn commented on #32976
my suggestion is remove all files in vendor folder and re-run composer install again

rm -rf vendor/*
composer install

If your store live better clone to development site and re-check

[2021-05-10 12:37] johnny-longneck commented on #19710
Any new fixes for this? I upgraded from Magento 2.3.1 to 2.4.2 and in live environment all product images are only showing placeholder. Tried all solutions several times.

[2021-05-10 12:41] magento-engcom-team commented on #31777
Hi @sivaschenko, @ihor-sviziev, @sergeynezbritskiy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41383` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-10 12:43] magento-engcom-team commented on #31777
Hi @sivaschenko, @ihor-sviziev, @sergeynezbritskiy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41383` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-10 12:44] sivaschenko commented on #31777
It looks like an incorrect synchronization with the internal jira. We'll take a look at it.

Anyway, the changes are merged to 2.4-develop. Thank you @ihor-sviziev !

[2021-05-10 13:00] hostep commented on #32888
Okay, ignore all my ramblings above. None of them make sense because I was relying on my memory and started theorising instead of verifying some basic things first. Sorry about that!

Apparently the `.gitignore` file never got copied from the `magento2-base` package before Magento 2.3.7 / 2.4.2-p1
I incorrectly assumed this was the case, but it wasn't.

In Magento 2.3.7, for the first time in Mage

[2021-05-10 13:26] ia-gaurav opened #32985 "Removed unwated js called on Frontend via Require js"
Magento Version  : 2.4.1

Issue - There are many unwated js called on frontend via require js , i am not getting any way to remove this

Example Js - color-picker.js, tinycolor.js

[2021-05-10 13:58] mrtuvn commented on #32985
This already done in this PR
https://github.com/magento/magento2/pull/28400 (spectrum.js, tinycolor.js) (In progress)
calendar.js (merged)

[2021-05-10 14:08] potticus commented on #29462
In my case, it was saying the domain was invalid, but it turned out it was all to do with invisible illegal characters that got pasted when I copied the whole install command code from another website. It seems to tell you that the domain is invalid as that tends to be the first parameter declared in the command.

[2021-05-10 14:16] mrtuvn commented on #32976
![detail-Profile-20210510T211418](https://user-images.githubusercontent.com/1908873/117673391-f5cd7d00-b1d4-11eb-83f7-50fd30c5c7ea.gif)
quick gif show page product detail store 2.4.2

[2021-05-10 14:35] magento-engcom-team commented on #13639
Hi @kanduvisla.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30625` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-10 15:16] sta1r commented on #32951
This is just our module flagging cron errors via System messages. See https://docs.magento.com/user-guide/configuration/dotdigital/developer.html#system-alerts. To remove the messages either disable system alerts in the configuration, or (if you're not using it) disable the module and clear cache.

[2021-05-10 15:26] ia-gaurav opened #32987 "Disable captcha storefont config still load captcha js files"
**Preconditions (*)**

- Magento Version - 2.4.2
- Default Magento Theme
- Captcha is disabled on Frontend

**Steps to reproduce (*)**
- Do fresh Magento install - with or without demo Data
- Open developer tool, goto network tab
- Here you will see, unwanted js call for captcha
![image](https://user-images.githubusercontent.com/63009790/118082256-79a48680-b3da-11eb-9966-b6cf8286cd21.png)

**Expec

[2021-05-10 15:43] jwhitney55 commented on #31007
I have this same issue as well, after upgrading to 2.4.2.

[2021-05-10 15:51] tiagosampaio commented on #32964
@engcom-Oscar any update on this?

[2021-05-10 16:04] mrtuvn commented on #32987
Hi i don't think you can disable captcha module since this module dependency magento checkout. Which mean disable captcha may break checkout function

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Captcha/etc/module.xml

[2021-05-10 16:42] gabrieldagama commented on #32972
Created internal jira https://jira.corp.magento.com/browse/MC-42250

[2021-05-10 16:52] ia-gaurav commented on #32987
yes but issue is that enabling captcha cause extra 5 unwanted request call in network even when disabled from admin

![image](https://user-images.githubusercontent.com/63009790/117695803-42698600-b1de-11eb-8281-84ee7047f89d.png)

[2021-05-10 17:10] MichaelThessel commented on #26482
Definitely still an issue for us. Don't close issues because they have no activity.

[2021-05-10 18:34] sdzhepa commented on #27474
Reopened due to request from the community.
The issue should be reconsidering one more time

[2021-05-10 21:17] sdzhepa commented on #32961
@magento give me 2.4-develop instance

[2021-05-10 23:13] marciomaciel opened #32988 "System config value never marked as changed when set to use system value"
When restoring a system configuration to the default value in Magento Admin, the system does not identify that the option has been changed even if the default configuration is different from the selected one.

This problem occurs for any system configuration that has a backend_model that checks whether the value has been changed or if the cached value needs to be invalidated when value is restored

[2021-05-10 23:14] colyield commented on #32976
Same bug report on this link https://magento.stackexchange.com/questions/331719/magento-2-4-2-addtocart-button-disabled

[2021-05-10 23:16] adamstapley commented on #32977
This looks like it might be related to issue #25418

I created a fix in Magento 2.4.2:
/public_html/vendor/magento/module-checkout/view/frontend/templates/cart/item/default.phtml

Line 52
<?= $block->escapeHtml($_formatedOptionValue['full_view']) ?>
Change to
<?= $block->escapeHtml($_formatedOptionValue['full_view'], ['span', 'a']) ?>

All line break code is removed. I presume this isn't the 100%

[2021-05-11 01:00] mrtuvn commented on #32987
maybe we still have issue and now time for investigate more on that

[2021-05-11 01:32] adamstapley opened #32989 "Creating a bundle product with more than one file upload option and front end user can not add the item to their cart"
### Preconditions (*)
Magento 2.4.2
Php 7.3
MariaDB 10.3

### Steps to reproduce (*)
Upgraded from 2.3.2 - 2.4.2
A bundle product with more that one option to upload a file will not add to cart. We offer personalised gifts and some products have an option to upload a single product and this works fine. Others have options to upload three separate images and each image is a separate customizable op

[2021-05-11 01:45] #32989 closed, assigned to nobody

[2021-05-11 01:46] adamstapley commented on #32989
looks like it's OK in Vanilla so must be something on our end

[2021-05-11 01:50] wandyyd commented on #32901
Hi @Nazar65 - thanks for your info. So you mean, the next release will [**2.4.2-p1** on May 11](https://devdocs.magento.com/release/#release-schedule)?

[2021-05-11 03:58] colyield commented on #32976
I also tried the blank theme, same problem.
![Screenshot 2021-05-10 235629](https://user-images.githubusercontent.com/18225064/117756171-a9416c00-b1eb-11eb-8846-cf969cc2d7f0.jpg)

[2021-05-11 04:11] tuyennn commented on #29797
Applied this patch https://github.com/magento/magento2/pull/29814 on magento cloud 2.4.0-p1
Database changed
MariaDB [main]> EXPLAIN magento_operation;
+------------------------+------------------+------+-----+---------+----------------+
| Field                  | Type             | Null | Key | Default | Extra          |
+------------------------+------------------+------+-----+---------+--------

[2021-05-11 04:32] JonathanHelvey commented on #30194
We are receiving an error similar to this in magneto 2.3.5 pt 2 + ES 7

[2021-05-11 07:10] #30691 closed, assigned to nobody

[2021-05-11 07:11] zakdma commented on #30691
Additional case described in comment fixed in scope of internal code delivery of MC-39096.

[2021-05-11 07:35] TheRealHunzik opened #32990 "Date and Time Format for Custom Option Not Working"
### Preconditions (*)

1. Magento ver. 2.4.2
2. Nginx 1.18.0 (Ubuntu)
3. Maria DB 10.3.25

### Steps to reproduce (*)

1. [Follow these Steps](https://docs.magento.com/user-guide/stores/attribute-date-time-options.html) to Configure Date format
2. Check Date of Product with Custom Options of type Date

### Expected result (*)

1. Date Format Should Change on Front-end

### Actual result (*)

1. Se

[2021-05-11 08:34] magento-engcom-team commented on #32972
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42250` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-11 08:43] Den4ik commented on #29574
I think we should increase Priority and Severity to **P2** and **S2** because issue affect to user experience

[2021-05-11 09:07] TheRealHunzik commented on #32988
@magento-admin  give me 2.4-develop instance

[2021-05-11 09:13] magento-engcom-team commented on #29574
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40680` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-11 09:34] broeder commented on #29113
How can I remove this ?

[2021-05-11 10:02] engcom-Oscar commented on #32964
@tiagosampaio Thank you for your reply, with more detailed steps I was able to reproduce this issue and confirmed it.

[2021-05-11 11:53] olgaimproove commented on #31496
Magento 2.4.* having the same issue

[2021-05-11 11:57] engcom-Oscar commented on #32222
Hi @gocom @MartinSchillinger
I did partial invoice, just as it was said in the ticket.
### Steps to reproduce (*)
1. Products need to use taxes.
2. Order 2 qty of product sim1 and 1 qty of product sim2.
3. Create first invoice containing 1 qty of sim1 and 1 qty of sim2.
4. Create second invoice containing 1 qty of sim1.
5. Refund 1 qty of sim1 from first invoice by creating credit memo from the in

[2021-05-11 12:12] SvanteAvenla commented on #31496
I have the same problem. Magento 2.4.2.

[2021-05-11 12:14] m2-assistant opened #32991 "[Issue] MFTF: Checkout With Enabled Captcha"
This issue is automatically created based on existing pull request: magento/magento2#32986: MFTF: Checkout With Enabled Captcha

---------
This PR contains MFTF test for placing an order with enabled captcha

**Steps to reproduce:**

1 - Create customer
2 - Create product
3 - Login as customer
4- Add Product into shopping cart
5 - Place an order with incorrect captcha values
6 - Place an order wit

[2021-05-11 12:23] engcom-Oscar commented on #32958
@rishisarvadaa I tried to reproduce this issue on the latest 2.4-develop branch from here, but it worked fine in my case.  Looks like we miss some important preconditions, so may you please recheck and update description?

[2021-05-11 12:45] MartinSchillinger commented on #32222
Did you go to the creditmemo view by clicking "credit memo" in the invoice view or by creating new creditmemo from the order view. I can normally refund them if i don't come from the invoice view.
The difference is that the refund in the payment method is automatically triggered when you come from the invoice view but not if you come from the order view.

[2021-05-11 12:49] engcom-Oscar commented on #32222
yes, from invoice view

[2021-05-11 12:54] dverkade commented on #32277
I'm having this issue as well. Running the message queue consumer from the CLI will result in the same error, even with default consumers on Magento 2.4.2

![image](https://user-images.githubusercontent.com/1058480/117818219-b0f32600-b268-11eb-8a0c-ab68311bd9f8.png)

[2021-05-11 13:58] ChrisCGMarketing opened #32992 "Get rid of 'Get informations from IP address' in shipping options"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-05-11 14:46] Skullsneeze opened #32993 "Configurable product loses linked configurations that are available in specific websites when data for other store view scope is edited"
### Preconditions (*)

1. Magento Commerce version 2.3.6
2. Multiple websites / store views

  _For this example I use websites NL and DE, and store views nl_NL and de_DE_

### Steps to reproduce (*)

1. Go to Catalog > Products and create a configurable product
2. Create 2 configurations for the configurable product
3. Save the configurable product
4. Open one of the configurations for the config

[2021-05-11 14:53] TinaLMoore commented on #30835
@magento give me 2.4.2 instance

[2021-05-11 16:21] danielrussob commented on #18724
@magento give me test instance

[2021-05-11 16:21] danielrussob commented on #18724
@magento give me 2.4-develop instance

[2021-05-11 17:24] danielrussob commented on #18724
Hello @daniel-ifrim ,
thank you for your contribution

I'm not able to see a fix on your PR's instance, as you can see in the screenshot

![image](https://user-images.githubusercontent.com/13854502/117855736-0fc99700-b28b-11eb-9174-88caa9e52490.png)

[2021-05-11 18:30] Asifjalil99 commented on #32966
Its magento 2.2.6 and yes we are using Mysql search, let me explain again e.g i have a product with then name of **"Github"** if a user come to and search **"thu"** (which is middle word of the product name) so it should display the product **"Github"** to User.

[2021-05-11 18:33] mparrSaatva opened #32994 "Cart Price Rule scheduling feature doesn't accept changes to the 'label' value"
### Preconditions (*)

1. v 2.3.4
2. Cart Price Rule exists with:
* rule name
* description
* is active
* specific coupon and coupon code
* conditions:
** "If ALL  of these conditions are TRUE :"
***"Subtotal (Excl. Tax)  equals or greater than  1000"
* actions:
** fixed amount discount for whole cart, $200
** applied if "Attribute Set is ...."
* label

### Steps to reproduce (*)

1. create cart p

[2021-05-11 19:08] #32992 closed, assigned to nobody

[2021-05-11 19:52] hostep commented on #32888
@maciej-orba: it could be that there is an official way to do this in the https://github.com/magento/magento-composer-installer module, by specifying something like this in your `composer.json` file:

[code]
or
[code]

Source: https://github.com/magento/magento-composer-installer/pull/31 & https://github.com/magento/magento-composer-installer/blob/master/doc/Deploy.md#prevent-single-files-from-dep

[2021-05-11 20:09] maciej-orba commented on #32888
Thanks!

[2021-05-11 20:24] hostep commented on #32978
@maxlussier: can you try upgrading to Magento 2.4.2-p1 that got released just today. It contains a fix for Vimeo problems. It might fix your issue...

[2021-05-11 23:40] adamstapley commented on #32121
Has anybody got a fix for this? We've upgraded to 2.4.2 from 2.3.2 and have this issue. We have Weltpixel Pearl theme installed along with Mageplaza smtp and one step checkout. If anybody else with the issue can confirm if they have these extensions that would help.

[2021-05-12 04:26] #31996 closed, assigned to nobody

[2021-05-12 04:26] #29268 closed, assigned to nobody

[2021-05-12 04:27] #27354 closed, assigned to nobody

[2021-05-12 04:27] #31896 closed, assigned to nobody

[2021-05-12 04:27] #15026 closed, assigned to nobody

[2021-05-12 04:27] #29676 closed, assigned to nobody

[2021-05-12 04:27] #26262 closed, assigned to nobody

[2021-05-12 04:27] #31869 closed, assigned to engcom-Alfa

[2021-05-12 04:29] magento-engcom-team commented on #31232
Hi @m2-assistant[bot], @DmitryFurs.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40238` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-12 04:48] mrtuvn commented on #32153
Since this problem may related from another modules and not related with core modules
Can we close this?

[2021-05-12 04:57] mkawachi opened #32996 "State/Province Sorting of Magento2-jp has broken by the 2.3.6 core side logic change"
### Preconditions (*)

1. Magento CE/Community 2.3.6 later with sample data is installed
2. Install Community-engineering/japan-common (https://marketplace.magento.com/community-engineering-japan-common.html)

### Steps to reproduce (*)

1. Go to demo store front, and create a new account.
2. Click and see the State/Province pull-up list.

The cause is below code, it's added at 2.3.6
regionsEntrie

[2021-05-12 05:24] thomas-kl1 commented on #30722
Not stale

[2021-05-12 06:03] kassner commented on #26209
⬆️

[2021-05-12 06:06] #27883 closed, assigned to nobody

[2021-05-12 06:06] kassner commented on #32888
I've tested @hostep's first suggestion, works fine as a workaround.

[code]

[2021-05-12 06:07] magento-engcom-team commented on #27883
Hi @lbajsarowicz.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-34113` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-12 06:10] hostep commented on #32153
@mrtuvn: I strongly disagree. This is valid PHP code. The html minifier that Magento uses should be able to handle this. It doesn't matter if such code is part of custom code or not.

[2021-05-12 06:16] hostep commented on #30691
Found 2 commits tagged with `MC-39096`, just putting them here in case this is helpful:
- https://github.com/magento/magento2/commit/f1e5c457c922aad8f6b0d439a696c61d6dc018cc (already included in Magento 2.4.2)
- https://github.com/magento/magento2/commit/95e5361be18fd2064febb8c4fbe03e7239897761 (unreleased so far)

[2021-05-12 06:23] hostep commented on #32987
@mrtuvn:

This is incorrect, the dependency works the other way, it means: disabling the checkout may break the captcha module (even though this sounds unlikely). Also, the dependencies defined in the `module.xml` file are soft dependencies, so we can't really rely on that information.

[2021-05-12 06:24] mrtuvn commented on #32153
i'm sure with tested in vanilla magento setup in minify mode. Should be update from 3rd-party modules mentioned for work with the case minify

[2021-05-12 06:27] hostep commented on #32121
@adamstapley: look [a bit above](https://github.com/magento/magento2/issues/32121#issuecomment-778042202), the following commit should fix it: https://github.com/magento/magento2/commit/9ce80c9914b740d30aef5cef7bbca8febe64a0c5
You can try [to turn that commit into a patch](https://support.magento.com/hc/en-us/articles/360005484154) and see if that fixes it in your case.

[2021-05-12 06:29] hostep commented on #32153
But it's still a bug in core Magento's html minifier, people can waste many hours in researching why at a certain point their perfectly valid custom code is getting corrupt by the html minifier...

[2021-05-12 06:32] davidhiendl commented on #32153
How can it be 3rd-party modules fault that valid PHP code is not properly handled by the html minifier? Any and all valid PHP code should be handled by the minifier, if it cannot it is clearly a bug.

Just because 3rd party worked around it by modifying their source it does not mean the minifier is bug-free.
I've seen at least 3 modules that ran into this bug with newer magento versions.

[2021-05-12 06:49] ia-gaurav commented on #32987
i donot want unwated netwrok call of Captcha when it is disabled, any way for that

[2021-05-12 06:57] mrtuvn commented on #32153
ok i agree with your point if magento phtml renderer can handle that minify case related with this issue report. But that may not easy to fix.
@hostep If you have solution feel free to create pull request for such issue

[2021-05-12 07:16] michel334 commented on #30722
forgotten but not stale

[2021-05-12 07:23] gwharton commented on #29574
It's been broken since 2.2. I think most third parties will have worked around it by now 😀 been broken for so long, probs easier to remove it from the docs instead of fixing it. It would be useful if it worked though.

[2021-05-12 07:30] mrtuvn commented on #32987
Hi @ia-gaurav Can you provide more steps for check the case unwanted load captcha after disable config from backend

[2021-05-12 08:35] jayshields commented on #30486
Confirming the ReCAPTCHA key removing/save fixes this for us on 2.4. Without performing this action the checkout is blank with a JSON serialize error.

[2021-05-12 08:59] rishisarvadaa commented on #32958
@engcom-Oscar Just to confirm, did you check on this link?
https://www.mageplaza.com/kb/magento-2-demo.html

[url](https://www.mageplaza.com/kb/magento-2-demo.html)

[2021-05-12 09:22] Usik2203 commented on #30212
@magento I am working on this

[2021-05-12 09:49] tuyennn commented on #14674
@hostep It's not, I'm able to replicate the issue on M 2.4.0-p1 for now.

[2021-05-12 10:02] ia-gaurav commented on #32987
@magento give me 2.4-develop instance

[2021-05-12 10:11] ia-gaurav commented on #32987
@mrtuvn

See below screenshot , no captha enabled on frontend site too many unwated calls - 11 extra request of size 17.2 kB

![image](https://user-images.githubusercontent.com/63009790/117958111-54f7d280-b338-11eb-8f85-052958c23986.png)

[2021-05-12 10:14] #29651 closed, assigned to realchriswells

[2021-05-12 10:15] magento-engcom-team commented on #29651
Hi @m2-assistant[bot], @realchriswells.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39701` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-12 10:18] vlmed commented on #32990
@magento I am working on it

[2021-05-12 10:38] mrtuvn commented on #32987
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Captcha/view/frontend/layout/default.xml#L17
Here is the magic happen!
No matter you enable or disable this component always loaded

[2021-05-12 10:41] engcom-Alfa commented on #32982
HI @Sammnyg2
Can you please provide detailed steps to reproduce the issue along with screenshots/logs? Possibly you can even attached screen recording.
Currently we are unable to view the expected and actual attached screen shots too. Please make sure attached files are appropriate.
Thanks

[2021-05-12 10:49] sgonzalezmangana commented on #32862
Perfect time for this issue, we are working on an "Upgrade Best Practices Guide" planned to be added on devdocs, your contributions would be more than welcome.
We are also planning to have an upgrade guide to move from 2.3.x to 2.4.x please let me know if you would like to work on it or collaborate.

[2021-05-12 10:50] bentideswell opened #32998 "Admin UI Listing Component Loads Data Twice"
When using a listing component (eg. admin order grid), the initial browser request loads the collection for the grid with no filters or sorting applied. An AJAX request is then performed to reload the data with the correct sorting and filters.

I found this because I had a plugin that wrapped around getData for the oder grid data source and noticed that whenever I debugged the data, it was always

[2021-05-12 11:06] navarr commented on #32271
@magento give me 2.4-develop instance

[2021-05-12 11:14] navarr commented on #32271
Recreated on 2.4-develop (2.4.3-dev)

[2021-05-12 12:53] oneserv-heuser commented on #30501
Still unresolved.

[2021-05-12 13:27] Den4ik commented on #29574
@gwharton 😄 In this case we can just update documentation for each bug.
I'm still thought that fix bug and adding tests for this case is the best solution.
I hope some one from community or I'll have time for take it into progress in the near future.

[2021-05-12 13:44] Chandresh22 opened #33000 "Magento 2.4.2 Category Pages Sort by Quantity not working properly"
### Preconditions (*)

1. magento version 2.4.2
2. at least 5 products on category
3. make 1 or 2 product(s) out of stock

### Steps to reproduce (*)

1. Go to Stores menu and select Configuration -> Catalog -> Inventory -> Display Out of Stock Products to yes
2. Go to Stores menu and Select  Attributes -> Product
3. Search quantity_and_stock_status and edit it
4. Open last tab Storefront Properti

[2021-05-12 14:10] #32031 closed, assigned to nobody

[2021-05-12 14:10] gianisimone commented on #26698
The error is still there with Magento Community Edition 2.3.7. Unbelievable

[2021-05-12 14:13] engcom-Foxtrot commented on #32596
Hello,  @lewisvoncken. Unfortunately, I'm closing and re-creating this PR, as I was not able to push any changes to this PR branch. Please feel free to push any updates to https://github.com/magento/magento2/pull/33001.

[2021-05-12 14:13] gianisimone commented on #31105
Still getting the error with 2.3.7. Unbelievable!!!!! My store is useless as I cannot receive payments.
It is simply ridiculous!!

[2021-05-12 14:19] vlmed commented on #32990
Hello, @engcom-Alfa
If we look at the code, we can see that the Date Fields Order configuration is not used for the Js Calendar. And the date format is taken from the current locale
![1620828897596](https://user-images.githubusercontent.com/41998275/117990479-e02b9500-b345-11eb-8491-9e90ac841871.jpg)

Are you sure we need to change this behavior?

[2021-05-12 14:51] paras89 commented on #32990
Magento\Catalog\Block\Product\View\Options\Type\Date::getDateHtml makes use of the given configuration.
Magento\Catalog\Block\Product\View\Options\Type\Date::getDateHtml is called from module-catalog/view/frontend/templates/product/view/options/type/date.phtml

[2021-05-12 14:56] paras89 commented on #32990
Looks like Magento is coded to honor the order configuration only if Use JavaScript Calendar is set to NO.

<img width="854" alt="Screenshot 2021-05-12 at 15 55 50" src="https://user-images.githubusercontent.com/5895210/117997064-92f5f600-b33a-11eb-87d7-4951d36fe95a.png">
<img width="446" alt="Screenshot 2021-05-12 at 15 55 38" src="https://user-images.githubusercontent.com/5895210/117997084-97221

[2021-05-12 15:15] ihor-sviziev commented on #32654
Hi @peteandmad,
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2021-05-12 15:15] #32654 closed, assigned to ihor-sviziev

[2021-05-12 15:16] magento-engcom-team commented on #32913
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-12 15:16] magento-engcom-team commented on #32913
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-12 15:16] magento-engcom-team commented on #32913
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-12 15:16] magento-engcom-team commented on #32913
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-12 15:18] magento-engcom-team commented on #32913
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-12 15:18] magento-engcom-team commented on #32913
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-12 15:26] drinkingsouls commented on #25052
Magento  2.4.2, I still experience this issue.

[2021-05-12 15:54] giacmir commented on #22562
@magento-engcom-team this fix can break existing integrations based on simple product. Can you share which commit solved the issue?

[2021-05-12 15:59] engcom-Golf commented on #32923
@webrod I can't reproduce this issue. As you mentioned in your recent comment, you are also not able to reproduce the same. So considering this, I am closing this Issue.

[2021-05-12 15:59] #32923 closed, assigned to nobody

[2021-05-12 17:37] blmage commented on #32153
The problem comes from [this set of commits](https://github.com/magento/magento2/search?q=MC-36942&type=commits), but it is likely that any attempt to fix it will in turn bring some other problems, because [regexes are not the right tool for the job](https://stackoverflow.com/a/1732454).

Could a solution based for example on [nikic/php-parser](https://github.com/nikic/PHP-Parser) be considered in

[2021-05-12 17:37] blmage commented on #32153
The problem comes from [this set of commits](https://github.com/magento/magento2/search?q=MC-36942&type=commits), but it is likely that any attempt to fix it will in turn bring some other problems, because [regexes are not the right tool for the job](https://stackoverflow.com/a/1732454).

Could a solution based for example on [nikic/php-parser](https://github.com/nikic/PHP-Parser) be considered in

[2021-05-12 18:51] TheRealHunzik commented on #33000
@magento give me 2.4-develop instance

[2021-05-12 19:03] #32574 closed, assigned to eduard13, khrystynastolbova

[2021-05-12 19:03] #32928 closed, assigned to eduard13

[2021-05-12 19:03] #30210 closed, assigned to rogyar

[2021-05-12 19:03] #29631 closed, assigned to rogyar

[2021-05-12 19:06] Skullsneeze commented on #32993
@magento give me 2.4-develop instance

[2021-05-12 19:27] Skullsneeze commented on #32993
@engcom-Oscar I tested on the provided 2.4-develop instance, and the issue is not appearing there.

What I did notice is that the behaviour on my 2.3.8 instance is different. Mainly that when I switch to a different scope while editing the configurable product, I only see the configurations that are available in the selected scope (store views) website. On the 2.4-develop instance, I see all confi

[2021-05-12 19:28] Skullsneeze commented on #32993
@magento give me 2.3.6 instance

[2021-05-12 20:26] adamstapley commented on #32977
Reproduced on 2.4.x.

[2021-05-12 20:31] barbazul commented on #29365
I just noticed this fix is in the main branch but wasn't released in 2.4.2-p1 which is dissapointing

[2021-05-12 20:44] ihor-sviziev commented on #29365
@barbazul 2.4.2-p2 is a security-only release. That's why this change wasn't added

[2021-05-12 21:06] rangerz commented on #31814
I found a workaround on [here](https://magento.stackexchange.com/questions/329937/item-magento-customer-model-customer-interceptor-with-the-same-id-6827-alrea)

@lenlorijn
In `getList` function of  `vendor/magento/module-customer/Model/ResourceModel/CustomerRepository.php`
[code]

[2021-05-12 21:54] Den4ik commented on #32993
@Skullsneeze Thanks for the report.
`@magento` provide only mainline instance from `2.4-develop`
Unfortunately you could not take 2.3.6 instance here.

[2021-05-12 22:32] Den4ik commented on #32153
Hi team.
Issue really exists.
Magento correctly remove inline comments due to minification, but if comment contain html tags like `<span>` in example you will see issue.
Same issue will be presented for comments that contain html tags in multiline format but in one string `/** Test comment <span> */`

[2021-05-12 22:55] gocom commented on #32222
@engcom-Oscar

In the first credit memo you are refunding all products instead of just one (full, rather than [partial refund](https://github.com/magento/magento2/issues/32222#issuecomment-836233491)).

That said, reviewing code changes, at least that case appears to be fixed (but not yet released) in 7f9a7fd39b4514fee0ca9eb0a1a8701c6f2b4030, 8b873ad45946dbefbd75038baea32df29c49980b, 7d9d478b7c6b5

[2021-05-13 01:52] #28700 closed, assigned to nobody

[2021-05-13 01:52] #31046 closed, assigned to sdzhepa, RakeshJesadiya

[2021-05-13 01:52] #30490 closed, assigned to nobody

[2021-05-13 01:52] #30163 closed, assigned to nobody

[2021-05-13 01:52] #30677 closed, assigned to nobody

[2021-05-13 01:52] #29581 closed, assigned to oleksii-lisovyi

[2021-05-13 01:53] magento-engcom-team commented on #28700
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-13 01:53] magento-engcom-team commented on #30490
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-13 01:54] magento-engcom-team commented on #30163
Hi @chalov-anton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37867` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-13 01:54] magento-engcom-team commented on #29581
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-13 01:54] magento-engcom-team commented on #30677
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-13 01:55] magento-engcom-team commented on #31046
Hi @ajaysingh-webkul, @sdzhepa, @RakeshJesadiya.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39355` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-13 04:46] krishprakash commented on #32823
Hi @hannanhaider. Thank you for your report.
Looks like it's from your custom theme issue
@onlinebizsoft  Kindly create another issue if you confirm that issue reproduce on latest 2.4-develop instance

[2021-05-13 04:46] #32823 closed, assigned to krishprakash

[2021-05-13 04:49] krishprakash commented on #32983
@magento give me 2.4-develop instance

[2021-05-13 05:04] Hollgr opened #33002 "Magento 2. 4.0_ Product File Import Error: We can't provide the upload settings right now."
### Preconditions (*)

Hi There, I have zero development experience but our IT manager walked out so trying to solve some immediate problems.  Trying to upload import product cvs file, but when I go into import, there is a notice saying "We can't provide the upload settings right now."  Has anyone got any thoughts on what might be causing this?

If I Ignore it and continue to try to upload the imp

[2021-05-13 05:06] mrtuvn commented on #32987
Maybe js problem should report in another seperate ticket
May I ask you update description? Pre-condition, Steps check, expect, actually result

[2021-05-13 05:27] ia-gaurav commented on #32987
ok let me update it

[2021-05-13 06:02] krishprakash commented on #32983
For me it showing blank page here :
![image](https://user-images.githubusercontent.com/46617848/118084716-cbe7a680-b3de-11eb-87fe-1b617430c820.png)

[2021-05-13 07:11] Parism commented on #32983
@krishprakash That's right, if you have production mode on it shows the blank page you mentioned.
If you have developer mode on it prints the exception.
But the case is the same, there is a bug regarding the datetime attributes.

[2021-05-13 07:14] engcom-Oscar commented on #32222
Hi @gocom ! I did partial refund - for 1 product from the 1 invoice - but still issue not reproducing. Looks like it been fixed in latest 2.4-develop.
![Screenshot from 2021-05-13 10-07-37](https://user-images.githubusercontent.com/60198413/118091831-faac4f80-b3d3-11eb-8b7c-10edf9d2bad1.png)

[2021-05-13 08:31] ihor-sviziev commented on #32998
@bentideswell I think https://github.com/magento/magento2/pull/32090 should fix the listed issue.
/CC @Den4ik

[2021-05-13 08:39] Den4ik commented on #32998
**Duplicate for** https://github.com/magento/community-features/issues/238

[2021-05-13 09:09] bentideswell commented on #32998
That stops the reload happening but does it fix the issue of the correct data being loaded?

Also is a plugin to a file within the same module (Magento_Ui) the best way to fix this issue?

[2021-05-13 09:40] engcom-Oscar commented on #32958
@rishisarvadaa No, I have checked on local vanilla 2.4-develop instance.

[2021-05-13 09:52] engcom-Oscar commented on #32887
Hi @MarvinBay !
Unfortunately, we are not able to reproduce the issue because of lack of details in the ticket description.  So, we have to close this ticket.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch

[2021-05-13 09:52] #32887 closed, assigned to engcom-Oscar

[2021-05-13 10:30] engcom-Foxtrot commented on #32964
The issue is caused by calculation in \Magento\SalesRule\Helper\CartFixedDiscount::getDiscountAmount, where the whole cart price discount is divided between all cart items.

[2021-05-13 11:10] engcom-Oscar commented on #32704
@swap-994
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-index.html
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cache.html

[2021-05-13 11:14] engcom-Oscar commented on #32890
As we were not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket, we have to close this ticket.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch.

[2021-05-13 11:14] #32890 closed, assigned to nobody

[2021-05-13 11:15] bartoszkubicki commented on #32300
Still an issue, nothing has changed

[2021-05-13 12:53] engcom-Oscar commented on #32993
Hi @Skullsneeze I am not aware why the behavior so different on 2.4 and 2.3.6 Magento. But I also was not able to reproduce descried issue on the latest 2.4-develop branch.

[2021-05-13 13:12] engcom-Oscar commented on #33002
Hi @Hollgr  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue. Looks like we miss some important preconditions, so may you please recheck and update description?

[2021-05-13 13:18] Calvin495 opened #33005 "Not able to upgrade Magento v2.3.3 to Magento v2.4.2"
### Preconditions (*)

1. Current Magento version is 2.3.3
2. PHP v7.3
3. Memory limits and execution time is properly set as recommended by Magento
4. Composer version 1.x

### Steps to reproduce (*)

Followed below steps for version upgrade

[code]

### Expected result (*)

All Magento modules and other packages should be upgraded and all dependencies should be resolved correctly. The Magento ve

[2021-05-13 13:48] Den4ik commented on #32998
We have multiple filter classes and plugin to interface allow to process some additional logic related to all filters.
I'm close this issue.

Also I think I can describe implemented solutions on one of the Community call.
**cc** @gabrieldagama @sidolov @sivaschenko

[2021-05-13 13:48] #32998 closed, assigned to engcom-Delta

[2021-05-13 14:29] magento-engcom-team commented on #32980
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-13 14:33] TheRealHunzik commented on #32362
@magento add to contributors team

[2021-05-13 14:34] TheRealHunzik commented on #32362
hello @Magento thanks for added me

[2021-05-13 14:57] engcom-Charlie commented on #32980
This issue is reproducible.

Please note, in order to reproduce this issue we need to have fresh/new Magento setup.

[2021-05-13 15:57] n2diving-dgx opened #33007 "Array offset error in framework/View/Element/Html/Calendar.php"
Following an upgrade of M2.3.6-p1/php7.3  to M2.3.7/php7.4  an error similar to...

**main.CRITICAL: Notice: Trying to access array offset on value of type null in /vendor/magento/framework/View/Element/Html/Calendar.php on line 112**

appears in the var/log/system.log each time the crontab runs, i.e. a few times per minute.  The cause is a  compatibility issue with Calendar.php that was identifie

[2021-05-13 16:22] m2-assistant[bot] opened #33008 "[Issue] add missing PaymentMethodInterface"
This issue is automatically created based on existing pull request: magento/magento2#33003: add missing PaymentMethodInterface

---------
### Description (*)
During checkout payment information details can be requested via
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Checkout/Model/PaymentInformationManagement.php#L185

which uses
[code]

According to https://github.com/ma

[2021-05-13 16:44] TinaLMoore commented on #30835
@magento give me 2.4.2 instance

[2021-05-13 16:57] ia-gaurav commented on #32985
@mrtuvn  - please help me way to pull changes to avoid unwated js call

[2021-05-13 17:04] jonatanaxe commented on #32098
normal kkk

[2021-05-13 18:03] navarr commented on #32974
@ninjacoder30 Hi!  Do you have any additional information that lead you to the conclusion that this is due to `buildFromQuoteDetails`?

As far as the Vertex module is concerned, there have been no major changes to that method between 2.4.1 and 2.4.2, so I am surprised to hear of a major slowdown between the versions.

[2021-05-13 18:50] mortenbirkelund commented on #32256
Still relevant

[2021-05-13 18:56] sprankhub commented on #27126
Still relevant :roll_eyes:

[2021-05-13 21:17] pitbulk commented on #30498
Can Magento team take any action on this ticket?

[2021-05-13 21:26] ghost opened #33009 "Bundle Products cannot save an option price of 0"
### Preconditions (*)

1. Magento 2.4.2-p1

### Steps to reproduce (*)

1. Create a bundle product. (In the original case this was static sku, static price, 1 option with dropdown and multiple products, 1 option with checkbox and 1 product)
2. Attempt to set a price of 0 on items in the options
3. Save the product

### Expected result (*)

- Product saves with a price of 0 on those options.

### A

[2021-05-13 21:27] pmcnamaracpc commented on #33009
@magento give me 2.4-develop instance

[2021-05-13 21:41] pmcnamaracpc commented on #33009
I am having issues with recreating this on that development instance, I'll be checking again on the Magento instances this occurred on to see if there's more details needed to recreate

[2021-05-13 23:25] mrtuvn commented on #32985
You can get these update by update your magento instance to higher version (no need futher action). But if you want all you need to create you own patches and pick them one by one to your patch file (take time if you want deliver feature to store)
https://github.com/cweagans/composer-patches
Do you have tech or development knowledges

[2021-05-14 02:03] #28758 closed, assigned to nobody

[2021-05-14 02:05] magento-engcom-team commented on #28758
Hi @cs-media.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38054` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-14 03:36] Rakhi161 commented on #32983
@magento I am working on this

[2021-05-14 03:38] Rakhi161 commented on #32983
@magento give me 2.4-develop instance

[2021-05-14 03:46] daiduongvo18 commented on #13128
@lbajsarowicz Sure. I'll work on it when I have time. Currently I'm busy.

[2021-05-14 05:26] Nuranto commented on #32303
Still relevant

[2021-05-14 05:27] Nuranto commented on #31795
Still relevant

[2021-05-14 08:33] ceggebeen opened #33010 "Sort of related products in GraphQL not implemented"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Create a product and add some related products
2. Get product from de GraphQL endpoint

### Expected result (*)

1. Product data with related products sort by position

### Actual result (*)

1. Product data with related products without sort

[2021-05-14 08:45] ceggebeen commented on #33010
@magento I am working on this

[2021-05-14 08:45] ceggebeen commented on #33010
@magento add to contributors team

[2021-05-14 08:46] ceggebeen commented on #33010
@magento add to contributors team

[2021-05-14 08:46] ceggebeen commented on #33010
@magento I am working on this

[2021-05-14 08:46] schmengler commented on #31468
It still occurs on 2.4.2-p1 and the Magento_Csp module still contains the workaround on 2.4-develop

[2021-05-14 09:37] engcom-Oscar commented on #32964
### Preconditions (*)

1. Magento version 2.4-develop
2. Create two products with the base price of $19.00 each. Both products must be available to be purchased in the front store.
3. Create first cart rule will apply a fixed discount amount of $10.00 to the whole cart. Define a specific coupon code to activate this rule in the shopping cart
4. Create second cart rule will apply a fixed discount a

[2021-05-14 09:38] jasonrgd opened #33012 "Order moves to complete state if items are refunded but shipping is not."
If an order is refunded but the shipping of the order is not. then the order moves to a complete state.
Is this by design? Only shipped orders should move to complete state right ?

[2021-05-14 10:21] IvanCyber opened #33013 "Integration with Klaviyo "Sorry, something went wrong. Please try again later." issue"
@magento this is my issue:

### Preconditions (*)

Magento ver. 2.4.2

### Steps to reproduce (*)

1. I Login in Magento2 with admin credentials.
2. In Magento2 administration,  Stores -> Configuration -> Klaviyo is properly set, and I see the Klaviyo lists there in the dropdown list.
3. When I go to Magento administration, System -> Integrations and click "Add new integration",
 - I set name, my

[2021-05-14 10:35] danslo commented on #30514
Please re-open this issue, it is still present in 2.4.2.

Thanks for your patch @thlassche . The crazy part seems that Magento just swallows the error.

[2021-05-14 11:01] IvanCyber commented on #33013
@magento I am working on this

[2021-05-14 11:58] panwarsingh commented on #32833
I am having the same issue, can we have any fixes for this.

[2021-05-14 12:11] ihor-sviziev commented on #32833
@panwarsingh see my comment https://github.com/magento/magento2/issues/32833#issuecomment-826552227
I hope it will help you to resolve the issue.

[2021-05-14 12:12] panwarsingh commented on #32833
No its not helping in our case

[2021-05-14 12:25] ihor-sviziev commented on #32833
@panwarsingh, could you provide more tails, what isn't helping you, what issue you have, and how to reproduce it?

[2021-05-14 12:36] anupwankhede commented on #32294
Hi @vlmed ,

Was you able to fix this issue?
If you can please provide a patch or something we can refer to in the meantime please.

Thanks,
Anup

[2021-05-14 12:58] engcom-Golf commented on #32696
@f1-outsourcing I have tried reproducing this issue, but It is not replicated in Magento 2.4.2. Can you please upgrade your Magento version to verify.

[2021-05-14 13:28] panwarsingh commented on #32833
@ihor-sviziev we were trying to put Magento 2.4.2 website to production mode but when we used di-compile command it gave the error that directory not empty, you can have the screenshot below.

![issue](https://user-images.githubusercontent.com/84184281/118277273-40593d00-b4e6-11eb-923b-3ce3339fcf8d.png)

[2021-05-14 13:36] engcom-Oscar commented on #33012
Hi @jasonrgd! According to https://docs.magento.com/user-guide/sales/credit-memo-create.html, after creating Credit Memo and refunding, order should get "Complete" status. As you may see, it not possible to do shipping with such order as well, because order is "finalized".
So, I have to close this ticket as non-issue.

[2021-05-14 13:36] #33012 closed, assigned to nobody

[2021-05-14 13:44] Penchal-magento commented on #32988
Tried to reproduce the steps provided but we are unable to reproduce, kindly provide more detailed steps.

[2021-05-14 14:00] shaughnlgh commented on #19597
I can confirm that we had the same issue on 2 separate instances v2.4.2 and disabling both modules fixed the issue.

[2021-05-14 14:10] #32669 closed, assigned to nobody

[2021-05-14 14:11] magento-engcom-team commented on #32669
Hi @Eddcapone.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41767` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-14 14:39] magento-engcom-team commented on #32924
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-14 14:39] magento-engcom-team commented on #32924
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-14 16:03] Penchal-magento commented on #32300
We tried on Magento ver. dev-2.4-develop  and lower version (2.3.5)  but we did not get mentioned error.
Kindly upgrade magneto version to 2.4.

[2021-05-14 16:25] gosavesg opened #33017 "Order Status do not get updated in Shipment Grid."
@magento-admin  this is my issue:

### Preconditions (*)
Magento ver. 2.4.1.

### Steps to reproduce (*)

1. Create New Order status Shipped and assign to state complete and set as default status.
2. View any order in Processing status and click the Ship button and submit, shipment is generated with status Shipped.
3. Go to shipment grid and select order status column to show in grid. Status will

[2021-05-14 17:51] enyceedanny opened #33018 "Single Quotes in Search by Keyword in Admin > Catalog > Products causes error and gets stuck."
### Preconditions (*)

Version 2.4.2

### Steps to reproduce (*)

1. Admin > Catalog > Products
2. Use a single quote in the search by keyword input field.

### Expected result (*)

1. To actually search for the item including the quote

### Actual result (*)

1. Error popup saying "Something went wrong" And it doesn't go away until you delete the row containing the saved layout within ui_bookmark

[2021-05-14 17:52] enyceedanny commented on #33018
@magento give me 2.4-develop instance

[2021-05-14 17:59] #33018 closed, assigned to nobody

[2021-05-14 21:35] zenfork commented on #26613
Reproduced on Magento 2.4.0 CE (Cloud). Please, consider this query as a hotfix:
[code]

[2021-05-14 21:41] sidolov opened #33019 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-05-14 21:42] magento-engcom-team commented on #33019
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42310` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-14 21:42] #33019 closed, assigned to nobody

[2021-05-14 21:44] magento-engcom-team commented on #33019
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-14 23:17] mrtuvn commented on #33007
cc: @gabrieldagama @sivaschenko  maybe this commit fix related issue not sync to 2.3.7

[2021-05-15 00:49] maxlussier commented on #32978
Hi @hostep, thanks for looking into this issue. The fix you are talking about was included in the given instance and my issue is still occurring. Although I have to precise that the issue I'm having has nothing do to with Vimeo per se and has everything to do the fact that Magento is not able to validate, for a lack of better word, the vimeo product thumbnail.

Like I've said previously, I think t

[2021-05-15 00:53] mrtuvn commented on #32976
in frontend category page can you view error in console browser ?

[2021-05-15 02:28] Rakhi161 commented on #32983
![Uploading screenshot-192.168.32.118-2021.05.15-07_57_31.png…]()

[2021-05-15 02:29] Rakhi161 commented on #32983
![screenshot-192 168 32 118-2021 05 15-07_57_31](https://user-images.githubusercontent.com/56825336/118345628-6963e700-b553-11eb-8229-d6e421e9086e.png)

[2021-05-15 03:50] cha80 opened #33020 "when i upgrade magento2.1 to 2.2"
### Preconditions (*)

2.1 to 2.2
2. i don't know why
3. it's my mysql error log
[izm5ea0oa5iduipatpy2jyz.err.txt](https://github.com/magento/magento2/files/6482145/izm5ea0oa5iduipatpy2jyz.err.txt)

### Steps to reproduce (*)

1.
2.
bin/magento setup:upgrade

### Expected result (*)

1. [Screenshots, logs or description]
2.
![image](https://user-images.githubusercontent.com/56351661/118347177-b526

[2021-05-15 04:08] colyield commented on #32976
Yes, there are many errors. Some errors are caused by the tawk.to online
chat widget, I disabled it. The others were caused by the google recaptcha.
So I also deleted the google recaptcha settings for the front pages. Now
there's no error message in the console browser. But the add to cart button
on the category page is still not working.

If I leave the online chat widget on, then there are many

[2021-05-15 07:41] ia-gaurav opened #33022 "Move Out of Stock to Last"
**Preconditions (*)**

- 1. Magento Version - 2.4.2
- 2. Default Magento Theme

**Steps to reproduce (*)**
- Set **Display Out of Stock Products** to yes
- Make Product Out Of Stock

**Expected result (*)**
- Product should be moved to bottom as it bad for sales if top product are out of stock

**Actual result (*)**

-  Products keeps on showing at old positions

**Screenshot Below -**

![image](h

[2021-05-15 08:23] locotoko commented on #31820
I face the same issue, is it going to be resolved?

[2021-05-15 08:37] ninjacoder30 commented on #32974
@navarr - Hi, there are changes in that and one thing i notice they are calling region collection for every product.
add around 10 different sku's in the Cart and see the performance its really bad and wherever there is calculation that code is repeatedly called which wasn't happening before in 2.3 .

one of the code you can check is getRegionData() in 351  =>vendor/magento/module-directory/Helper

[2021-05-15 10:53] ia-gaurav commented on #33022
@magento give me 2.4-develop instance

[2021-05-15 10:58] ia-gaurav opened #33023 "Show Price for Out of stock"
**Preconditions (*)**

- 1. Magento Version - 2.4.2
- 2. Default Magento Theme

**Steps to reproduce (*)**
- Set **Display Out of Stock Products** to yes
- Make Product Out Of Stock

**Expected result (*)**

- Price should be shown on listing page

**Actual result (*)**

-  It does not shows price

**Screenshot Below -**

![image](https://user-images.githubusercontent.com/63009790/118358360-0cd8ea

[2021-05-15 11:10] ia-gaurav commented on #33023
@magento give me 2.4-develop instance

[2021-05-15 11:11] ia-gaurav commented on #33022
Issue can be checked on - https://eb5987fede11e3a5f6e2a1a98f399c92-2-4-develop.instances.magento-community.engineering/women/tops-women/hoodies-and-sweatshirts-women.html

[2021-05-15 11:18] ia-gaurav commented on #31268
@robbie-thompson  did u got solution to above

[2021-05-15 12:04] ia-gaurav commented on #7589
@doublesharp  - seems you module does not works with magento 2.4

Query i see using it in layer.php --> **SELECT `e`.* FROM `catalog_product_entity` AS `e` ORDER BY `is_salable` DESC**

But there in not column is_salable in catalog_product_entity database

[2021-05-15 12:13] umar-emo commented on #7589
Hy @doublesharp

I found that the perfect solution, Its working on all magento2 versions.
Even Filters also working fine.

https://meetanshi.com/blog/sort-magento-2-category-products-by-stock-quantity/amp/

[2021-05-15 14:08] mrtuvn commented on #30653
not stale today bitch

[2021-05-15 15:26] f1-outsourcing commented on #32696
2.3 is still a maintained version not? So should this then not be back ported? (I am waiting for you to implement the correct way to read php ini settings, because now I had to change the source to even get it to work on my environment)

[2021-05-15 17:33] ia-gaurav commented on #7589
@umar-emo  this seems not working in magento 2.4

[2021-05-16 04:33] mrtuvn commented on #32987
Should we update title for this issue ?
Example "Disable captcha storefont config still load captcha js files"
My expected we don't need disable completely captcha module but if admin owner set config in backend both captcha blocks and js related may not visible in frontend

[2021-05-16 04:38] mrtuvn commented on #32915
i think common owner store will set multiples website like this
example.com/uk/ for uk website and example.com/de/ for de website (Magento allowed we set config like this in backend). Cookie path for each store need to re-config for each website scope

Can we reproduce in latest code base ?
You can request instance from magento CI with command above "magento give.."

[2021-05-16 05:12] mrtuvn commented on #32976
blank content in backend theme view detail page meaning something broken. Maybe error happen in php

[2021-05-16 05:46] ia-gaurav commented on #32987
yes please do

[2021-05-16 08:05] colyield commented on #32976
I spent a long time upgrading the magento from 2.4.1 to 2.4.2 again, and
tried everything I can, no answer.

On Sun, May 16, 2021 at 1:12 AM Tu Nguyen ***@***.***> wrote:

[2021-05-16 08:33] mrtuvn commented on #32976
I tried test setup my local magento vanilla (luma) from 2.4.1 and upgrade to 2.4.2 (no additional theme or module) but cart button working fine from my local. I can't reproduce same as your case. If you have dev internal team let double check any previously works may touch to cart function

[2021-05-16 13:25] muxmix commented on #28092
This solution worked for me too! Thanks 5m

[2021-05-16 16:28] #30485 closed, assigned to nobody

[2021-05-16 16:28] #16728 closed, assigned to nobody

[2021-05-16 16:28] #13428 closed, assigned to nobody

[2021-05-16 16:28] #16242 closed, assigned to nobody

[2021-05-16 16:28] #23970 closed, assigned to nobody

[2021-05-16 16:28] #32075 closed, assigned to nobody

[2021-05-16 16:28] #13254 closed, assigned to nobody

[2021-05-16 16:29] magento-engcom-team commented on #30485
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-16 16:30] magento-engcom-team commented on #23970
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-16 16:30] magento-engcom-team commented on #30281
Hi @homanp.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40891` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-16 16:30] magento-engcom-team commented on #23889
Hi @gwharton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23895` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-16 16:45] homanp commented on #30281
🙏  @magento-engcom-team

[2021-05-16 20:34] maximilianmikus commented on #28200
there was a typo in the link: https://github.com/theshreyas/magento-2-quickies/tree/main/GraphQl/DynamicAttributesGraphql

[2021-05-16 21:16] colyield commented on #32976
We don't have any clue how to identify the problem.....

On Sun, May 16, 2021 at 4:33 AM Tu Nguyen ***@***.***> wrote:

[2021-05-16 21:42] haalmaguer commented on #13254
This is why Magento would fall behind it’s competition

On Mon, Feb 15, 2021 at 2:55 AM Simon Maass ***@***.***>
wrote:

--
Best Regards,

*Hector Almaguer*

[2021-05-17 01:43] #23512 closed, assigned to nobody

[2021-05-17 01:43] #32074 closed, assigned to nobody

[2021-05-17 01:44] magento-engcom-team commented on #23512
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-17 02:45] cha80 commented on #33020
i think it maybe  sales_order don't have index  cause this problem

[2021-05-17 05:10] wandyyd commented on #32901
Hi @Nazar65 & @gabrieldagama - I just tried to update to Magento 2.4.2-p1, and I still seeing the related file having the same code as previously, like, it doesn't do any update

Is there any special treatment that I need to do?

[2021-05-17 05:49] jesse-thomas commented on #9537
posting a comment to subscribe

[2021-05-17 06:50] zakdma commented on #21386
@magento i am working on it

[2021-05-17 06:55] TheRealHunzik commented on #32990
Anyone working on this issue?

[2021-05-17 06:56] zakdma commented on #21386
Cannot reproduce it on latest Magento version.
Also reporter didn't specify in description that price scope should be switched to website. Because for **Global scope** there are no **Use default** checkboxes
I'm closing this ticket. @gavinlimely please reopen it if you still can reproduce.

[2021-05-17 06:56] #21386 closed, assigned to zakdma

[2021-05-17 06:58] magento-engcom-team commented on #21386
Hi @gavinlimely, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24160` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-17 07:33] ajijshekh123 commented on #33000
@magento give me 2.4-develop instance

[2021-05-17 07:36] jorgb90 commented on #33013
Hi @IvanCyber ,

This wil fix your issue; https://github.com/magento/magento2/commit/68d20230ca9d6198fa3093eb174e24aff47b1646

[2021-05-17 08:04] ajijshekh123 commented on #33000
Hello @Chandresh22 ,
I have verified this issue as per your steps, actual result and expected result.
In default magento, Asc/Dsc functionality is not working on Sorting drop-down. In my end, Every time Out of stock product is showing on end of the list.

![Uploading image.png…]()

Thanks.

[2021-05-17 08:05] convenient commented on #28195
As I said in https://github.com/magento/magento2/issues/28195#issuecomment-771657248

[2021-05-17 08:06] magento-engcom-team commented on #33000
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42314` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-17 08:16] engcom-Alfa commented on #33020
Hi @cha80
Require more updates for re-producing issue like steps to reproduce , mysql version etc