[2017-11-02 18:21] moderncodes commented on #5558
Painful...
On our site, it ONLY works when product has 1(one) configurable attribute, in example: (**Size**: _S, M, X, XL_). So, when Medium out of stock, it will completely hide the swatch text.
But, once you add 2nd attribute (**Colors**: _White, Red, Black_), and of of those combo products out of stock (XL > Red), it still allows user to select the combo, but once user clicks "Add to Cart", mes

[2017-11-02 18:29] Dart18 commented on #8222
After the update to 2.2.0 the error seems to have disappeared and I'm no longer able to reproduce it.

[2017-11-02 18:38] kirmorozov commented on #11964
Will add it as soon as I'll have something solid. As of now I have raw bash scripts.

[2017-11-02 18:43] angelo983 opened #11969 "Can't empty cart with minimum order amount enabled"
### Preconditions

1.  Magento 2.1.9

### Steps to reproduce

1. Enable Minimum Order Amount in Stores > Configuration > Sales
2. Set Minimum Amount to 0.01
3. Put something in cart and after try to empty cart

### Expected result

1. Cart is emptied

### Actual result

1. Error message "Minimum order amount is 0,01 €"
2. Cart is not emptied

[MinimumOrderAmount.log](https://github.com/magento/mag

[2017-11-02 18:43] kirmorozov commented on #11967
Nice database,

I would think of using approach of Lazy Products.
1. Use Elasticsearch to index all the products directly from source.
2. Pull product into Magento database once requested.

This way you will have warm(requested) products in database and dont waste time on indexing.

[2017-11-02 18:53] kilis commented on #9676
Same problem. isRangingNeeded with return false doesn't help.

[2017-11-02 19:00] magento-team commented on #10185
Internal ticket to track issue progress: MAGETWO-83154

[2017-11-02 19:00] magento-team commented on #10195
Internal ticket to track issue progress: MAGETWO-83083

[2017-11-02 19:00] magento-team commented on #7640
Internal ticket to track issue progress: MAGETWO-82998

[2017-11-02 19:00] magento-team commented on #11409
Internal ticket to track issue progress: MAGETWO-82633

[2017-11-02 19:01] Floddy commented on #11910
I'll probably just use another event, not really sure what should be done if it should just be ran on this block explicitly, but that's another story.

Regarding bug or not, it renders `Magento\Catalog\Block\Product\ListProduct::addAttribute()` none-useable as far as I can see?

`addAttribute($code)` calls `_getProductCollection()->addAttributeToSelect($code)`
`_getProductCollection()` calls `init

[2017-11-02 19:03] KooTjoo opened #11970 "After Migration from Magento 1.9.3.2 to Magento 2.2.0 Ajax stops working"
**Preconditions**
PHP 7.0.
CentOS Linux 7.4
Plesk Onyx Server
MySQL Mariadb 10.1

Magento 2.2.0 Multistore setup

**Steps to Reproduce**
1. Clean Installation of M2.2.0
2. Added 1 product to test things
3. Ajax Cart and other Ajax Features (layered navigation) work as expected.
4. Reinstalled clean installation
5. Used Migration Tool to migrate form 1.9.3.2 to 2.2.0. No errors reported.

**Actual

[2017-11-02 19:23] SamantaPM commented on #7488
Any update on this issue? In which version will be resolved?

[2017-11-02 20:18] Mehran91z commented on #11840
OK, I need to install an Ubuntu then. I'll give it a try. But I doubt that the OS causing that!
Let me check it out.

[2017-11-02 20:18] piotrekkaminski opened #11971 "[MAGETWO-1543] Export - "Created At" filter works incorrect in the "entity Attributes" grid"
### Preconditions

1. Version 2.0
2. Several customers created on the current day

### Steps to reproduce

1. Go to System-> Import/Export-> Export at backend
2. Select "Customers" entity type
3. Select "Magento 1.7 format"
4. In the grid for "Created At" attribute select today date in the "From" and "To" filter
5. Press "Continue" button

### Expected result

1. The file was exported with custome

[2017-11-02 20:22] piotrekkaminski opened #11972 "[MAGETWO-1545] Export: "Associate to Website" Attribute Filter by Admin Not Working Correctly"
With "Associate to Website" attribute filtered by "Admin", customers associated with another websites are exported to csv file.

### Preconditions

1. There is one customer in the system created from Main Website
2. Version 2.0

### Steps to reproduce

1. Go to System-> Import/Export-> Export at backend
2. Select "Customers" entity type
3. Select "Magento 1.7 format"
4. In the grid for "Associate

[2017-11-02 20:24] piotrekkaminski opened #11973 "[MAGETWO-1552] Export: Attribute (Input Type Yes/No) Filter by 'No' Exports All Data"
If attribute with input type Yes/No filtered by "No", customers having attribute="Yes" are exported to csv file.

### Preconditions

1. There is a custom attribute created with input type Yes/No.
2. There is a customer in the system created with custom attribute value = "Yes".
3. Version 2.0

### Steps to reproduce

1. Go to System-> Import/Export-> Export at backend
2. Select "Customers" entity t

[2017-11-02 20:26] piotrekkaminski opened #11974 "[MAGETWO-1556] Export: Unable to Filter Data by Attribute With Input Type Multiple Select"
When trying to filter data by attribute with input type = Multiple Select, no data is exported to csv file.

### Preconditions

There is a custom attribute created with input type Multiple Select, 3 options enabled ("Option 1", "Option 2", "Option 3").
There is a customer in the system created with custom attribute value = "Option 1" and "Option 2".
Version 2.0

### Steps to reproduce

1. Go to Sy

[2017-11-02 20:31] piotrekkaminski opened #11975 "[MAGETWO-1802] Import of file with spaces in required attributes is allowed"
In case empty values (spaces) are specified for required attributes in import file (example: first name and last name), there is no validation error and import is done successfully. Though it's not possible to create a customer with empty first name and last name via admin interface.

### Test data
email|_website|firstname|group_id|lastname
----- | -------------|------|------|-------
test_ifebgl@u

[2017-11-02 20:36] piotrekkaminski opened #11976 "[MAGETWO-2328] Import with Append Complex Data for product with custom options not transfer values of not default store view"
### Preconditions

1. Several store view exists in the system
2. The simple product is created with custom option 'Checkbox' and with two rows (Default Values)
for example:

title of rows|price
---|---
title1|10
title2|20

3. Change the title and prices for custom option for not default store view
for example:

title of rows|price
---|---
update_title1|100
update_title2|200
4. Make export for this

[2017-11-02 20:42] mhauri commented on #11963
Tested it on a clean Magento 2.2 install with a second store view and "Add Store Code to Urls" enabled. It worked fine. There must be another issue why your store view switch doesn't work.

[2017-11-02 20:45] piotrekkaminski opened #11977 "[MAGETWO-2332] Product Export file contain the store views with which the product does not relate"
### Preconditions
1. Several websites with stores and store views exist
2. The simple product with any custom option is created and related only to 1 website and 1 category:
3. website-> _Main Website_
4. category-> _Default Root Category-> Some Subcategory_
5. Version 2.0

### Steps to reproduce
1. On backend go to _System-> Import\Export-> Export_
2. Select "Products" entity type
3. Export the .

[2017-11-02 20:48] piotrekkaminski opened #11978 "[MAGETWO-2343] Import does not work for product Custom Option with type = File"
### Preconditions
1. Version 2.0

### Steps to reproduce
1. Open Backend - Manage Products
2. Create new Product with custom option type = File
3. Open Export and make Product export
4. Open created Product and remove File custom option
5. Open Import and make Product import with before exported file

### Actual result
Imported custom option with type = File is not imported

### Expected result
Im

[2017-11-02 20:50] piotrekkaminski opened #11979 "[MAGETWO-2556] Product custom options are not deleted with import (replace behavior)"
After importing products file with no custom options in it (if Replace Existing Complex Data behavior was selected), existing product custom options are not deleted.

### Preconditions
Product created in the system with one/several custom options.
Csv file prepared that contains product information. Custom option fields are empty

### Steps to reproduce
1. Open Backend -> System -> Import/Export -

[2017-11-02 20:50] fooman commented on #11279
@piotrekkaminski I haven't tested it yet but I am sure that a composer update would fix it - however that defeats the purpose of the zip download in my eyes (if this leads to the de-commissioning of the zip downloads and make every one use Composer from the outset that works for me).

@maghamed the issue is with the downloadable zip file offered by Magento [here](https://magento.com/tech-resources

[2017-11-02 20:52] piotrekkaminski opened #11980 "[MAGETWO-2575] Import products with "Append Complex Data" behavior works incorrect with empty not required values"
Import products with "Append Complex Data" behavior works incorrect with empty not required values

### Preconditions
1. The simple product is created with the next custom option:
- input type "Drop-down" _(for example)_, title "drop", is required "Yes", sort order "1"
-- row title "drop_title", price "$5.00", sku "12345", sort order "2"

2. The csv file exists with next data:
- input type "Drop-d

[2017-11-02 20:59] CNanninga commented on #11305
@magento-engcom-team - Any word?  Those of us still on 2.1 still need a patch for this.

[2017-11-02 21:17] piotrekkaminski opened #11981 "[MAGETWO-2975] Import of products erases product order in category setting"
Setting product position setting, exporting products, and reimporting products causes product position setting to be erased.

### Preconditions
1. Version 2.0

### STEPS TO REPRODUCE
1) Sign into admin panel
2) Create 4 test products
3) Add them all to test category
4) Go to Category settings and set positions for all 4 products
5) Export file
6) Look over exported CSV file - no column showing for

[2017-11-02 21:20] piotrekkaminski opened #11982 "[MAGETWO-3668] Custom options have been imported via mass action without selecting action"
### Preconditions
Product with some custom options has been created

### Steps to reproduce
1. Log in to backend
2. Go Catalog>Manage Products
3. Start create new product
4. Open Custom options tab
5. Click Import Options button
6. Select Product 1 in opened window with grid
7. Press Submit button without selecting action

### Expected result:
Error message appears, custom options have not been im

[2017-11-02 21:31] piotrekkaminski opened #11983 "[MAGETWO-31739] Grouped product successfully exported without GroupedImportExport Module"
### Preconditions
Version 2.0

### Steps to reproduce

1.Delete GroopedImportExport Module before installation
2. Setup magento
3. Create several simple product
4. Create Grouped product
5. Go to System->Export
6. Perform Product Export
7. Check CSV file

### Actual result
file contain all product include grouped

### Expected result
grouped product should be absent in csv file

[2017-11-02 21:33] magento-engcom-team commented on #10395
@keevitaja, thank you for your report.
We've created internal ticket(s) MAGETWO-83202 to track progress on the issue.

[2017-11-02 21:36] magento-engcom-team commented on #10364
Hi @anujeetphj please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only. If you would like to have this feature, feel free submit the pull request! 👍

[2017-11-02 21:36] #10364 closed, assigned to nobody

[2017-11-02 21:37] Cornel99 commented on #11853
Steps to reproduce

a. When I click on the "Adauga in cos"(Add to Cart) button, the following text is appear in English (rather than the language used): Adding..., Added, Add to Cart
b. When I click on the minicart in top right to finalize the order, the texts also remain in English "Go to Checkout", "See Details", "Item(s)", "View or Edit Cart", "Qty")
c. When I go to Checkout I find that almost

[2017-11-02 22:30] magento-engcom-team commented on #11055
@pareshpa, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-02 23:18] SlavaYurthev opened #11984 "Fields "Welcome Text" and "Copyright" can't be set as empty"
### Preconditions
1.  Magento 2.2.0

### Steps to reproduce
1. Fields for Theme Configuration (admin/theme/design_config/edit) "Welcome Text" and "Copyright" leave empty and save config

### Expected result
1. Fields will be empty

### Actual result
1. Fields are still use default config values "Default welcome msg!" and "Copyright © 2013-2017 Magento, Inc. All rights reserved."

[2017-11-03 01:13] msawyers commented on #11706
Hi, I am checking the differences between both environments. I see where default magento works fine.

[2017-11-03 02:54] msawyers commented on #11706
I believe the below error is related to issue of not being able to add videos? error happens when open add product option..

[2017-11-03 02:42:55] main.CRITICAL: The element 'gallery' already has a child with alias 'content' {"exception":"[object] (Magento\\Framework\\Exception\\LocalizedException(code: 0): The element 'gallery' already has a child with alias 'content' at /home/public_html/uat/dev

[2017-11-03 03:14] okorshenko commented on #8970
The issue has been fixed and deliverd to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-03 03:14] #8970 closed, assigned to p-bystritsky

[2017-11-03 04:00] magento-team commented on #8970
Internal ticket to track issue progress: MAGETWO-82972

[2017-11-03 04:23] hemendraajmera commented on #11897
Any temporary solution ??

[2017-11-03 04:31] careys7 opened #11985 "Attributes with lots of options crash browser when viewed in admin"
### Preconditions

1. Magento 2.1.8, Magento 2.2.0

### Steps to reproduce

1. Add Color attribute with Swatch input type
2. Add ~800+ options
3. Click on "Add Swatch" button

### Expected result

1. Browser doesn't crash

### Actual result

1. Chrome freezes, Firefox freezes etc.
2. Difficult to find colours in select dropdown element when editing a product

---

A lot of our clients (particularl

[2017-11-03 04:33] routbiplab commented on #10853
Thanks for the info. Let me check with the URL if it works or not.

[2017-11-03 04:42] routbiplab opened #11986 "Unable to get credit type and expiry date details in payment in order API in Magento 2"
### Preconditions

1. Magento v2.1.9

### Steps to reproduce

1. Place an order through Authorize.net payment method.
2. Use REST API to pull the order using :
GET /V1/orders/{id}

### Expected result

1. Should get credit card type and expiry date details in payment section in response packet

### Actual result

1. "payment": {
        "account_status": null,
        "additional_information": [

[2017-11-03 05:19] sshymko commented on #8774
@hostep

Database is shared between web-servers, so the DB upgrade must be done once, not per server.

[2017-11-03 05:51] murtuza5253 commented on #5583
I have same issue with the firefox, I just disable my firebug extension and now its work normally

[2017-11-03 06:34] hemendraajmera opened #11987 "Show 0 price for the out of stock product for configurable product"
### Preconditions

1. Magento 2.1.8
2.

### Steps to reproduce

1. Added configurable product
2.  single product set out of stock
3.

### Expected result

1. showing product price

### Actual result

1. it showing 0 prices for the product and configurable attribute also not showing
![image](https://user-images.githubusercontent.com/2478037/32362413-291e7d20-c08f-11e7-9a4e-2317645244a1.png)

[2017-11-03 06:42] magento-engcom-team commented on #11970
Hi @KooTjoo
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-03 06:42] #11970 closed, assigned to nobody

[2017-11-03 07:31] magento-engcom-team commented on #10321
I understand you @yonitjio.
If you know where the error is, then please give part of your module with which the problem can be reproduced if use your file "practice_document_customform.txt".

[2017-11-03 07:34] skymeissner commented on #10168
Will this be backported to 2.1.x?

[2017-11-03 07:43] magento-engcom-team commented on #11706
Hello @msawyers. Tell us, please are there any  additional steps You do to the steps we've described here, and what do You exactly mean by "add product option".

[2017-11-03 08:00] magento-engcom-team commented on #9280
Hi @georgios-2317
You can help to detect the bug faster If you provide json content of your API request, since the response time depends on the size and count of images.

[2017-11-03 08:18] magento-engcom-team commented on #11940
Hello @hasnatme. Thanks for reporting. Please specify what version of Magento You had been using before upgraded to 2.2.

[2017-11-03 08:48] JanisE opened #11989 "Customer with empty "Date of Birth" cannot be saved"
Customer with empty "Date of Birth" cannot be saved even when it is not marked (or checked on the JS side) as mandatory.

### Preconditions
1. OS: Linux Mint 18.2 (based on Ubuntu Xenial).
2. Magento CE 2.2.0 with sample data is installed by Composer.

### Steps to reproduce
1. Sign up as a new user entering whatever name, e-mail, password.
2. In Admin go to Stores -> Customers -> All customers an

[2017-11-03 08:58] tonybrown85 commented on #9799
@magento-engcom-team This issue is not resolved guys. I've just upgraded to Magento 2.1.9 and this problem still persists. It drags the elements of related etc fine but doesn't save the sort order.

[2017-11-03 09:13] magento-engcom-team commented on #11978
@piotrekkaminski, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-11-03 09:13] #11978 closed, assigned to nobody

[2017-11-03 09:27] magento-engcom-team commented on #11984
@SlavaYurthev, thank you for your report.
We've created internal ticket(s) MAGETWO-83225 to track progress on the issue.

[2017-11-03 09:30] magento-engcom-team commented on #11971
@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-1543 to track progress on the issue.

[2017-11-03 09:34] koenner01 opened #11990 "ImportExport: Running multiple data imports in a single script can cause errors"
When running multiple data imports in a single script (we are first running a category import, then several product imports), problems can occur.

We are using a script that uses a \Magento\ImportExport\Model\ImportFactory to create \Magento\ImportExport\Model\Import objects for each individual import. But because the Import model object is using a singleton implementation of \Magento\ImportExport

[2017-11-03 09:49] magento-engcom-team commented on #11974
@piotrekkaminski , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2017-11-03 09:50] orlangur commented on #8876
Fixed in https://github.com/magento/magento2/commit/690e6b8db61af8de898d6f679abd094dfec7a57d#diff-b2831a7c3cb270df4d97726202456676 (no need to fix test when bad `Stdo` class was fixed).

[2017-11-03 09:50] #8876 closed, assigned to orlangur, ishakhsuvarov

[2017-11-03 09:53] binnykumar opened #11991 "Ajax add to cart gives 302 response code and not adding to cart"
When i am trying to add product, sometimes it is not getting added to cart.
In network response it is showing 302 status. When i did cache refresh, it is working for some times, and again showing same issue.

Magento 2.1.5
Mysql

Please visit this site
http://bodyshop.saascart.com/body/bath-and-body/view-all.html
Select any product from top, and try to add to cart.

Result, when trying to add to c

[2017-11-03 09:55] ishakhsuvarov commented on #11898
Hi @sschurink
According to this information from the [post.nl website](https://www.postnl.nl/en/mail-and-parcels/parcels/addressing-tips/) it is recommended to separate postal code digits and letters with a space.
Do you have any additional information on this?
Thanks

[2017-11-03 09:57] tonybrown85 commented on #7665
I'm experiencing a very similar issue where the customer's email address is not present at all in the address object. This only happens with Guest checkout. I get the following error message after clicking the place order button:

We can't save the address: Email has a wrong format

The fix which @magento-engcom-team has provided only applies to Magento 2.2 as that file doesn't exist in Magento 2.

[2017-11-03 10:00] georgios-2317 commented on #9280
Dont get me wrong @magento-engcom-team  I want to help with the process but finding it a bit difficult to understand your feedback here.

The response times for multiple images is **not** being reported here, so your comment on "count of images" does not apply.

The original ticket was for one image to be posted on an existing product via REST POST API.

So, a typical call may be to either

`POST

[2017-11-03 10:09] sschurink commented on #11898
Hai Ievgen,

That is indeed the official way to write it however due to evolving internet forms it is now also an accepted way to add no space between them.
So unofficially both formats are widely accepted in the Netherlands as correct formats.
And we would like to provide that service also without giving a warning box for a correct postal code (in the eyes of almost all Dutch citizens).

Thanks f

[2017-11-03 10:16] SchumacherFM commented on #8838
So lots of people complain and you just close this issue.

I'm also getting this "race condition" and the same errors either in the admin customer grid or in the product grid. It all depends if you are logged in or not when you do some product import or no idea. It's really hard to reproduce. Even in the backend I didn't apply any kind of filtering or sorting and despite that the error pops up som

[2017-11-03 10:17] SchumacherFM commented on #6602
Also confirmed for 2.2.0 no idea how to reproduce but it pops up sometimes in customer and catalog grid.

[2017-11-03 10:59] thiagolima-bm commented on #5770
@okobchenko done :)

[2017-11-03 11:00] magento-engcom-team commented on #11973
@piotrekkaminski , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2017-11-03 11:05] aadmathijssen commented on #8847
I just clicked 76 attributes to exclude all but 3 attributes from the export. This is not a "feature request", this is a missing piece of functionality. The absence of it is a bug. Please reopen this issue.

[2017-11-03 11:23] magento-engcom-team commented on #11983
@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-83230 to track progress on the issue.

[2017-11-03 11:30] magento-engcom-team commented on #11966
@Yasp0, thank you for your report.
We've created internal ticket(s) MAGETWO-83227 to track progress on the issue.

[2017-11-03 11:31] Mehran91z commented on #11840
Ok, I installed **Ubuntu 16.04** and **Xampp 7.0.24**, and **_problem still exists_**:

![magento_class_override_error](https://user-images.githubusercontent.com/17524536/32371844-b017a6ae-c0a7-11e7-8fd7-ac85c6b3f396.jpg)

[2017-11-03 11:47] magento-engcom-team commented on #11982
@piotrekkaminski, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 11:47] #11982 closed, assigned to nobody

[2017-11-03 11:56] Mehran91z commented on #11840
I install **Ubuntu 16.04** with **Xampp 7.0.24** but the **_problem still exists_**:

![magento_class_override_error](https://user-images.githubusercontent.com/17524536/32372719-4892b650-c0ab-11e7-8266-39ad9c3e76fb.jpg)

[2017-11-03 11:57] Aldecoez commented on #8508
Hi,
For me it almost works fine but i found some problem.
When i have  2 Themes :
ThemeA -> set on Global and Main Website(default)/ Store / StoreView
ThemeB -> set on new Website/ Store / StoreView

Generated js-translation.json is same for BOTH and i can find translations from ThemeA in js-translation genereted for ThemeB.
So i tried to switch them and then js-translation.json was same for BOTH

[2017-11-03 12:03] magento-engcom-team commented on #11589
@vinaysikarwar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-03 12:03] #11589 closed, assigned to nobody

[2017-11-03 12:24] thiagolima-bm commented on #11558
PR #11337 should solve this problem

[2017-11-03 12:26] carylewis commented on #7665
My team has observed a number of strange behaviours with Magento ee 2.1.9:

items added to a cart after a user's logged in session has expired, but
without refreshing the product page - this 'guest' quote can't be checked
out due to 'email address can't be saved'.

items added to a cart as a guest do not always get converted corrected to
the user's cart when they user logs in.

items added in prev

[2017-11-03 12:30] magento-engcom-team commented on #11989
@JanisE, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 12:30] #11989 closed, assigned to nobody

[2017-11-03 12:30] magento-engcom-team commented on #11877
@angelo983, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 12:30] #11877 closed, assigned to nobody

[2017-11-03 12:36] magento-engcom-team commented on #11991
@binnykumar We can't reproduce this issue. Please install fresh and clean Magento, and try to reproduce this issue again.

[2017-11-03 12:45] koenner01 commented on #11980
possible duplicates https://github.com/magento/magento2/issues/10006, https://github.com/magento/magento2/issues/7468

[2017-11-03 12:45] diptihere commented on #5948
Awesome solution..Its working

[2017-11-03 12:59] magento-engcom-team commented on #11972
@piotrekkaminski, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 12:59] #11972 closed, assigned to nobody

[2017-11-03 12:59] koenner01 commented on #11990
Ok my previously suggested fix doesn't work; I'm running into the same kind of problems when importing 10k+ products.

I'm now using the following in my module di.xml

`<type name="Magento\ImportExport\Model\ResourceModel\Import\Data" shared="false" />`

This forces every instance of the object the not be shared in the objectManager (and thus making it 'non singleton')

[2017-11-03 13:05] minlare opened #11995 "Category image does not copy from catalog/tmp/category to catalog/category directory when saving category whilst using database storage method"
### Preconditions

1. Magento 2.4-develop

### Steps to reproduce

1. Set media storage to database
2. Upload category image in admin section
3. Save the category

### Expected result

1. The image row in media_storage_file_storage table should have directory `catalog/category` and correct `directory_id`

### Actual result

1. The image row in media_storage_file_storage table has directory `catalo

[2017-11-03 13:30] magento-engcom-team commented on #11987
@hemendraajmera, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 13:30] #11987 closed, assigned to nobody

[2017-11-03 13:30] magento-engcom-team commented on #11976
@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-2328 to track progress on the issue.

[2017-11-03 13:50] zack6849 opened #11996 "Magento 2 Store Code validation regex: doesn't support uppercase letters in store code"
### Preconditions

1. Magento v2.1.9 (Probably earlier versions as well)

### Steps to reproduce

1.  Go to stores > all stores
2.  Create Store View
3.  Attempt to create a store code with uppercase letters

### Expected result

1.  It should work, or give an error message

### Actual result

1. You get an error message back saying

Now, this error message is totally acceptable, makes perfect sen

[2017-11-03 13:53] magento-engcom-team commented on #11981
@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-83239 to track progress on the issue.

[2017-11-03 14:21] VesnaS opened #11998 "Old price excluding TAX is incorrectly replaced by JavaScript"
### Preconditions

1. Tested on Magento versions 2.4-develop
2. PHP 7.2

### Steps to reproduce

1. In Admin, set Stores -> Configuration -> SALES -> Tax -> Price Display Settings -> Display Product Prices In Catalog to "Including and Excluding Tax"
2. Configure tax class and set it for the product
3. Set special price for the product
4. In vendor/magento/module-catalog/view/base/templates/product

[2017-11-03 14:24] magento-engcom-team commented on #11969
@angelo983, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-11-03 14:24] #11969 closed, assigned to nobody

[2017-11-03 14:29] ishakhsuvarov commented on #11898
@sschurink Thank you for the update.

[2017-11-03 14:30] magento-engcom-team commented on #11995
@minlare, thank you for your report.
We've created internal ticket(s) MAGETWO-83243 to track progress on the issue.

[2017-11-03 14:30] magento-engcom-team commented on #9166
@shavounet, thank you for your report.
We've created internal ticket(s) MAGETWO-83235 to track progress on the issue.

[2017-11-03 14:30] magento-engcom-team commented on #9280
@georgios-2317, thank you for your report.
We've created internal ticket(s) MAGETWO-83242 to track progress on the issue.

[2017-11-03 14:37] Triloworld commented on #11907
Ok. I find how to do that in Magento 2. Adding

Docs:
http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_ref

Lastly, in other word if there is just one block of corresponding logic then removing it remove all additional information. Maybe there will be more generic way to implement meta data in head than block in xml but now there is

[2017-11-03 14:37] #11907 closed, assigned to orlangur

[2017-11-03 14:37] magento-engcom-team commented on #11996
@zack6849, thank you for your report.
We've created internal ticket(s) MAGETWO-83245 to track progress on the issue.

[2017-11-03 14:38] magento-engcom-team commented on #2228
@luckyraul, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 14:38] magento-engcom-team commented on #2228
@luckyraul, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-03 14:47] magento-engcom-team commented on #11950
@michielgerritsen, thank you for your report.
We've created internal ticket(s) MAGETWO-83248 to track progress on the issue.

[2017-11-03 14:49] magento-engcom-team commented on #11940
And please @hasnatme notice that You may discount from special price via **Cart** Price Rule. Let us know whether this ability would suffice Your needs. Thank You.

[2017-11-03 14:50] eh6design opened #12000 "Extra slash added to category URL"
I am getting an extra slash added to my category URLs. Both 'Product URL Suffix' and 'Category URL Suffix' options are empty. Have tried adding then removing and still I get the extra slash (with full cache clear and reindex done also

### Preconditions

1.  Magento 2.2.0
2.  PHP 7.0.22/MySQL 5.6.36

### Steps to reproduce

1. Remove .html from both Product URL Suffix and Category URL Suffix
2. Re

[2017-11-03 15:15] eh6design commented on #12000
Looks like an import issue when importing products from M1. Setting 'Category URL Suffix to '/' and renaming/saving the category seems to remove the issue. Will try reimporting with this in place.

[2017-11-03 15:26] josephmcdermott commented on #10499
Agree with @Dart18 we have this issue on upgrade to CE 2.2.0 from 2.1.9. Same scenario, billing agreement NO caused PayPal to disappear. Setting billing agreement to YES causes it to reappear.

[2017-11-03 15:30] magento-engcom-team commented on #11998
@VesnaS, thank you for your report.
We've created internal ticket(s) MAGETWO-83250 to track progress on the issue.

[2017-11-03 15:30] magento-engcom-team commented on #11691
@diazwatson, thank you for your report.
We've created internal ticket(s) MAGETWO-83251 to track progress on the issue.

[2017-11-03 15:59] selusi opened #12004 "Fix date of birthday validation issue"
### Preconditions
1. PHP 7.0.22
2. Apache2
3. MySql5.6
4. Magento 2.2.0

### Steps to reproduce
1. In backend **Stores->Configuration->General->General->Locale options** set locale as **English (United States)**
2. In backend **Stores->Configuration->Customer->Customer configuration->Name and address options** set **Show Date of Birth** as optional or required
3. In frontend open the page to creat

[2017-11-03 16:07] josephmcdermott commented on #11885
Confirm this issue on vanilla Magento CE 2.2. The agreement IDs are not populated in the request to `/V1/carts/mine/set-payment-information` whereas they are for other methods like checkmo.

Pretty urgent one this i'd say...

[2017-11-03 16:08] widegento opened #12005 "[Magento 2.2 ] Website Resctriction Login only - Can't create account from BO"
### Preconditions

1. PHP 7.0.18
2. Apache 2.4
--
3. Magento 2.2 EE
4. B2B Modules

### Steps to reproduce

1.  In Store -> Configuration -> General -> WebsiteRestriction
2.  Put the restriction mode to : Private Sales - Login Only

### Expected result

1.  User won't be able to register
2.  User will only be able to login
3.  Account can be created from the backoffice so user will receive invitat

[2017-11-03 16:10] magento-engcom-team commented on #12000
@eh6design We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue.

[2017-11-03 16:17] ChristianWalker19 commented on #6173
This issue is still happening in 2.1.9. Shouldn't you be able to add and remove groups from the attribute set?

[2017-11-03 16:24] rishabhchd19 commented on #11624
any update upon this?

[2017-11-03 16:30] magento-engcom-team commented on #7720
@itaymesh, thank you for your report.
We've created internal ticket(s) MAGETWO-83254 to track progress on the issue.

[2017-11-03 16:32] Silarn commented on #11885
As I mentioned in the op, even if you add the agreement data to the API call, it still fails because the PayPal payment type complains that it can't save custom data. Best workaround is to override the validator and skip it for PayPal Express for the time being.

[2017-11-03 16:33] mzenner1 commented on #6173
They fixed the bug in 2.2.  But introduced a new one.
https://github.com/magento/magento2/issues/11516

[2017-11-03 17:43] LAccorinti commented on #5558
Fixed for 2.2.0 with this https://github.com/mjankiewicz/MagentoConfigurableProduct

[2017-11-03 17:47] AgentGod commented on #11412
Same here.
The strange thing is, on the same server I have 3 magento 2 installs. On both of them didn't have any issue updating to 2.2 on the last one I had this issue.

[2017-11-03 18:22] lmancuso commented on #8671
The issue still exists!

[2017-11-03 18:26] J-Fricke commented on #11942
@magento-engcom-team
Thanks for the input. I found out that our issue was this product had `No Backorders` set in Advanced Inventory and was why we could not change the status manually.

[2017-11-03 18:30] lmancuso commented on #8671
Guys, i can generate sitemap.xml with images.

Step 1: Stores > configuration > XML Sitemap > Product Options > Set "Add Images into Sitemap" NONE.

Step 2: Marketing > Sitemap >Generate

Step 3: The sitemap is generated.

Step 4:  Step 1 but set atribute in "ALL"

Step 5: Step 2

Works for me, the images appears in Facebook for example

Regards

[2017-11-03 18:43] iWEBproject commented on #11963
Hi Mhauri
Is it Possible to be fixed

[2017-11-03 18:46] piotrekkaminski commented on #11983
This issue was moved to magento-engcom/import-export-improvements#24

[2017-11-03 18:46] #11983 closed, assigned to nobody

[2017-11-03 18:55] piotrekkaminski commented on #11981
This issue was moved to magento-engcom/import-export-improvements#25

[2017-11-03 18:55] #11981 closed, assigned to nobody

[2017-11-03 19:21] indefinitedevil commented on #11778
No restricted access.

What it seems like is that the htaccess authentication to stop the site being accessed early was the issue. When an IP whitelist was applied, the problem appears to have stopped and stayed stopped.

Which is curious as it didn't affect things all the time, which is what I would expect from an htaccess issue.

[2017-11-03 19:21] #11778 closed, assigned to nobody

[2017-11-03 19:41] piotrekkaminski commented on #11980
This issue was moved to magento-engcom/import-export-improvements#26

[2017-11-03 19:41] #11980 closed, assigned to nobody

[2017-11-03 19:42] piotrekkaminski commented on #11979
This issue was moved to magento-engcom/import-export-improvements#27

[2017-11-03 19:42] #11979 closed, assigned to nobody

[2017-11-03 19:42] piotrekkaminski commented on #11977
This issue was moved to magento-engcom/import-export-improvements#28

[2017-11-03 19:42] #11977 closed, assigned to nobody

[2017-11-03 19:42] piotrekkaminski commented on #11976
This issue was moved to magento-engcom/import-export-improvements#29

[2017-11-03 19:42] #11976 closed, assigned to nobody

[2017-11-03 19:42] piotrekkaminski commented on #11975
This issue was moved to magento-engcom/import-export-improvements#30

[2017-11-03 19:42] piotrekkaminski commented on #11971
This issue was moved to magento-engcom/import-export-improvements#31

[2017-11-03 19:42] #11971 closed, assigned to nobody

[2017-11-03 19:48] piotrekkaminski commented on #11973
This issue was moved to magento-engcom/import-export-improvements#32

[2017-11-03 19:48] #11973 closed, assigned to nobody

[2017-11-03 19:49] piotrekkaminski commented on #11974
This issue was moved to magento-engcom/import-export-improvements#33

[2017-11-03 19:49] #11974 closed, assigned to nobody

[2017-11-03 19:53] piotrekkaminski commented on #11535
This issue was moved to magento-engcom/import-export-improvements#34

[2017-11-03 19:53] #11535 closed, assigned to nobody

[2017-11-03 19:53] piotrekkaminski commented on #11468
This issue was moved to magento-engcom/import-export-improvements#35

[2017-11-03 19:53] #11468 closed, assigned to nobody

[2017-11-03 19:54] piotrekkaminski commented on #10552
This issue was moved to magento-engcom/import-export-improvements#36

[2017-11-03 19:54] #10552 closed, assigned to magento-engcom-team

[2017-11-03 19:54] piotrekkaminski commented on #10080
This issue was moved to magento-engcom/import-export-improvements#37

[2017-11-03 19:54] #10080 closed, assigned to nobody

[2017-11-03 19:54] piotrekkaminski commented on #10006
This issue was moved to magento-engcom/import-export-improvements#38

[2017-11-03 19:54] #10006 closed, assigned to nobody

[2017-11-03 20:04] jimmypinto opened #12006 "Password Reset throws 'Something went wrong while resetting customer password' error"
It is happening with one of my customer's password reset and not an issue for rest. It shows 'Something went wrong while resetting customer password' error whenever I try to reset the customer's password. I did reset the time interval of password reset option but no use. Any help would be appreciated.

[2017-11-03 21:17] #11975 closed, assigned to nobody

[2017-11-03 21:41] sshymko commented on #11298
Experiencing the same issue after upgrading to 2.1.9.

@fwolfst Could you please share the fix even though it's in a 3rd party module?

[2017-11-03 22:36] fwolfst commented on #11298
@sshymko As far as I remember we had an incompatible plugin installed. I am sorry that I do not remember which one. Maybe you can start by deactivating all of your extensions (`bin/magento module:status` to list all plus the base ones). If that fixes the issue go on by reactivating some until you found the culprit - IF your issue actually resembles ours.

[2017-11-03 22:42] sshymko commented on #11298
Thanks for the suggestion, @fwolfst.
I was hoping to get some pointers on what faulty code to look for in 3rd party/custom modules.
Meanwhile, we'll use the workaround suggested by @tr33m4n to unblock the marketing team.

[2017-11-03 23:09] magento-team commented on #11898
Internal ticket to track issue progress: MAGETWO-83195

[2017-11-03 23:09] magento-team commented on #8799
Internal ticket to track issue progress: MAGETWO-83067

[2017-11-03 23:34] tr33m4n commented on #11298
@sshymko I think our issue was an old version of the Amasty Free Gift module, if you're using any Amasty extensions maybe check those first

[2017-11-03 23:35] gx2g commented on #6436
I'm using magento 2.1.7 and we are having this issue because we have whole sale customers that are first time buyers but created in-house by our admin team. we don't want to look sloppy by sending out welcome messages to customers that are created by admin group. should be a way to turn welcome email off.

[2017-11-03 23:53] sshymko commented on #11298
@tr33m4n
Yep, we've got some promotion-related Amasty extensions. Was suspecting these too. Thanks!

[2017-11-04 01:14] magento-team commented on #11898
Internal ticket to track issue progress: MAGETWO-83194

[2017-11-04 01:14] magento-team commented on #11868
Internal ticket to track issue progress: MAGETWO-83174

[2017-11-04 01:14] magento-team commented on #8799
Internal ticket to track issue progress: MAGETWO-83066

[2017-11-04 01:14] magento-team commented on #8954
Internal ticket to track issue progress: MAGETWO-83023

[2017-11-04 01:14] magento-team commented on #11697
Internal ticket to track issue progress: MAGETWO-82999

[2017-11-04 01:14] magento-team commented on #9028
Internal ticket to track issue progress: MAGETWO-81973

[2017-11-04 01:15] okorshenko commented on #11898
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-04 01:15] #11898 closed, assigned to nobody

[2017-11-04 01:16] okorshenko commented on #11868
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-04 01:16] #11868 closed, assigned to nmalevanec

[2017-11-04 01:16] okorshenko commented on #8799
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-04 01:16] #8799 closed, assigned to raumatbel

[2017-11-04 01:16] okorshenko commented on #8954
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-04 01:16] #8954 closed, assigned to nemesis-back

[2017-11-04 01:17] okorshenko commented on #11697
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-04 01:17] #11697 closed, assigned to nobody

[2017-11-04 01:17] okorshenko commented on #9028
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-04 01:17] #9028 closed, assigned to gabrielqs-redstage

[2017-11-04 01:43] magento-engcom-team commented on #11387
@rbur0425, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-04 01:43] #11387 closed, assigned to magento-engcom-team

[2017-11-04 01:47] magento-engcom-team commented on #8893
@albert-elcorriol, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-04 01:47] #8893 closed, assigned to nobody

[2017-11-04 01:55] magento-engcom-team commented on #8573
@sandraweb, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-04 01:55] #8573 closed, assigned to nobody

[2017-11-04 02:55] magento-team commented on #11898
Internal ticket to track issue progress: MAGETWO-83196

[2017-11-04 02:55] magento-team commented on #8799
Internal ticket to track issue progress: MAGETWO-83065

[2017-11-04 02:55] magento-team commented on #11697
Internal ticket to track issue progress: MAGETWO-83002

[2017-11-04 02:55] magento-team commented on #6948
Internal ticket to track issue progress: MAGETWO-83131

[2017-11-04 02:58] okorshenko commented on #6948
The issue has been fixed and delivered to 2.3-develop branch

[2017-11-04 02:58] #6948 closed, assigned to serhii-balko

[2017-11-04 05:44] devamitbera commented on #9926
The same issue has been facing at 2.2 sample data at env **XAMPP on Windows**.I am trying to debug .let see where the issue!

[2017-11-04 07:59] rogyar commented on #10699
I believe that loading extension attributes will have a huge performance impact in case of product list loading. So, that's the main reason why the extension attributes are not loaded.
As for the media library, it's easy to add this part to the response. If it makes sense, I can handle it. Thanks

[2017-11-04 10:28] vkublytskyi commented on #11558
@thiagolima-bm, yes this issue already fixed and will be released with next 2.2.x patch release

[2017-11-04 10:28] #11558 closed, assigned to nobody

[2017-11-04 11:05] luismiguelyangehuaman commented on #11895
I am working on it at #mm17es. :-D

[2017-11-04 11:14] KirianM commented on #10600
I am working on it at #mm17es

[2017-11-04 11:17] thiagolima-bm commented on #4831
I am working on it at #mm17es

[2017-11-04 11:18] manuelson commented on #11996
I am working on it at #mm17es

[2017-11-04 11:19] victor-martinez-interactiv4 commented on #11904
Can you assign this ticket to me please? #mm17es

[2017-11-04 11:19] thiagolima-bm commented on #4831
this was fixed already #11805

[2017-11-04 11:30] mallafreDG commented on #10805
I am working on it at #mm17es

[2017-11-04 11:39] mipsvikas commented on #11577
This is the problem due to after turn on JS minify option the static file path is incorrect as well as all plugn js are minimize in .min.js form but in script name it not with .min version.

I have fixed issue by modify in lib/web/tiny_mce/tiny_mce_src.js

**Find code near line 10833**
`tinymce.documentBaseURL = window.location.href.replace(/[\?#].*$/, '').replace(/[\/\\][^\/]+$/, '');

if (!/[\/\

[2017-11-04 11:43] valentinboyanov commented on #12004
I am working on it at #mm17es

[2017-11-04 11:48] crissanclick commented on #7995
I'm working on this issue at #MM17ES

[2017-11-04 11:48] IvanDotsenko commented on #10234
I am working on it at #mm17es

[2017-11-04 11:54] gomencal commented on #10707
I am working on it at #mm17es :)

[2017-11-04 12:09] victor-martinez-interactiv4 commented on #11904
Tested on Magento 2.2.1 No issue found, it's working as expected.

<img width="561" alt="screen shot 2017-11-04 at 13 08 09" src="https://user-images.githubusercontent.com/24246899/32405217-67442906-c161-11e7-904c-078b45e65c23.png">
<img width="1151" alt="screen shot 2017-11-04 at 13 08 42" src="https://user-images.githubusercontent.com/24246899/32405218-675dc1a4-c161-11e7-8461-ca19a8f902b4.png">

[2017-11-04 12:16] thiagolima-bm commented on #5237
I wasn't able to reproduce this bug.
branch 2.1 develop

[2017-11-04 12:21] luismiguelyangehuaman commented on #11895
I can't reproduced it

[2017-11-04 12:24] thiagolima-bm commented on #9113
I am working on it at #mm17es

[2017-11-04 12:24] victor-martinez-interactiv4 commented on #11984
Could you please assign this ticket to me? thanks #mmes

[2017-11-04 12:28] vrann commented on #11984
#mm17es

[2017-11-04 12:34] sbaixauli commented on #11453
I am working on it at #mm17es

[2017-11-04 12:46] KirianM commented on #10600
I can't reproduce it. I followed the steps specified by @RishabhRkRai plus configured a new tax for UK with a 20% VAT and configured that one as the default tax.

<img width="241" alt="qty1" src="https://user-images.githubusercontent.com/844565/32405483-6843639e-c166-11e7-8329-f2491af9c5d8.png">
<img width="225" alt="qty2" src="https://user-images.githubusercontent.com/844565/32405484-686ac984-c16

[2017-11-04 12:53] mrodespin commented on #11574
I am working on this issue #mm17es

[2017-11-04 12:58] victor-martinez-interactiv4 commented on #11984
Tested on Magento 2.2.1 and it's working fine, you can delete it and it's  not showing. Please check the Magento fallback structure, maybe you are changing at "default" level and the "store" level it's overwriting your settings.

[2017-11-04 13:03] vrann commented on #10470
#mm17es

[2017-11-04 13:04] victor-martinez-interactiv4 commented on #11948
I do recommend to install "htop" on the server and check what process it's consuming all the performance.

Maybe it's a cron, maybe it's something else

[2017-11-04 13:14] sbaixauli commented on #11453
Impossible to reproduce the error.

Magento Version: 2.2.1-dev
Add Store Code to Urls = Yes
Remove Cache, etc = Yes

Open url in a new browser and type url with store code and every thing works properly. No one modified this file '/app/code/Magento/Store/Model/StoreManager.php' since 5/8/17, so maybe someone fix it in a high level.

[2017-11-04 13:44] thiagolima-bm commented on #10699
I am working on it at #mm17es

[2017-11-04 13:56] ghost opened #12016 "Cross-sell product placeholder image size issue"

[2017-11-04 13:56] vrann commented on #11627
#mm17es

[2017-11-04 13:56] luismiguelyangehuaman commented on #11528
I am working on it at #mm17es

[2017-11-04 13:58] jmorenoons commented on #11627
I am working on it at #mm17es

[2017-11-04 14:05] sbaixauli commented on #12016
I am working on it at #mm17es

[2017-11-04 14:05] ghost opened #12017 "Cross-sell product placeholder image size issue"
In a cart page cross-sell product placeholder image size is too much small. Its size should be displayed same like Product listing page placeholder image.

### Preconditions

1. Magento 2.1.9
2. Magento 2.2.0

### Steps to reproduce

1. Install Magento with sample data.
2. Set cross-sell for any product. And in one of that selected product remove product image from any product.
3. Go to front end

[2017-11-04 14:06] #12016 closed, assigned to nobody

[2017-11-04 14:06] jplou-onestic commented on #11946
@sunilit42 Can't reproduce it in 2.2. Could you attach any screenshot or more details/steps on how to reproduce it?

[2017-11-04 14:07] erik-augustin commented on #7654
problem still in 2.1.9 when i click add text swatch attrib to edit
![image](https://user-images.githubusercontent.com/22492009/32406068-b7fd74b4-c171-11e7-8c82-490c9f88e742.png)

1 exception(s):
Exception #0 (Exception): Notice: Uninitialized string offset: 0 in /home/78667-61384.cloudwaysapps.com/ufpxeczjgw/public_html/vendor/magento/module-swatches/Block/Adminhtml/Attribute/Edit/Options/Visual.p

[2017-11-04 14:07] emiprotech commented on #12017
We have a solution for that. And we would link to work on this.

[2017-11-04 14:09] osrecio commented on #11543
I am working on it at #mm17es

[2017-11-04 14:15] osrecio commented on #11543
I can't reproduce this error with fresh `2.1-develop` branch, the problem described can be generated by a error with `stat()` function. Can be good if a `Exception` occurred delete the tmp file

[2017-11-04 14:30] sbaixauli commented on #10014
I am working on it at #mm17es

[2017-11-04 14:32] sitiodocanoamarelo commented on #11955
How I can I reopen the issue ?
I just added screenshots, as you can check "weak" or "very strong" both point to "no password" which was already translated...

![captura de ecra 2017-11-4 as 14 28 31](https://user-images.githubusercontent.com/33255208/32406242-cc4343ae-c16c-11e7-9ea0-a96ee20ca616.png)
![captura de ecra 2017-11-4 as 14 28 58](https://user-images.githubusercontent.com/33255208/324062

[2017-11-04 14:37] sitiodocanoamarelo commented on #11904
Hi,

I still see the "write us" below the "Contacta con nosotros" are you able to translate it as well ?
So should I upgrade to 2.2.1 and get this fixed ?

Thanks

[2017-11-04 14:44] sitiodocanoamarelo commented on #11904
Already done it, by cleaning cache several times and insisting on the inline translation.

[2017-11-04 14:44] #11904 closed, assigned to victor-martinez-interactiv4

[2017-11-04 14:48] valentinboyanov commented on #12004
The current issue was solved by the fixed issue magento/magento2#11067.

[2017-11-04 14:55] rafaesteller commented on #11015
I was not able to reproduce the issue on a Magento 2.2ce, using USD and EUR currencies.

[2017-11-04 15:08] jigar48 commented on #5876
Any Update on this issue

[2017-11-04 15:11] oksana8119 opened #12019 ""Please specify product option(s)." Message no hiding"
After add product to cart (configurable or bundle) "Please specify product option(s)." Message no hiding.

### Preconditions

1. Magento 2.2
2. php 7.0.25

### Steps to reproduce

1. Go to Category page
2. Try to add from Quick add to cart block configurable or bundle product to cart
3. After click -> redirected to product page, and showing message "Please specify product option(s)."
4. Change opt

[2017-11-04 15:23] dmanners commented on #11453
I think this was solved with magento/magento2#11337

[2017-11-04 15:28] mallafreDG commented on #10805
Reproduced the same error in Magento 2.2.1 with PHP 7.0.25

[2017-11-04 15:29] victor-martinez-interactiv4 commented on #7493
Can you assign me this ticket please? #mmes

[2017-11-04 15:31] d10nZ opened #12021 "Incorrect price calculation at Product View Page"
### Preconditions
1. Magento 2.1.9;
2. Magento-Sample-Data;
3. 1 web-site, 1 store and 2 store-views;
4. en-StoreView has currency USD and ua-StoreView has currency UAH (грн.);
5. Base currency for entire web-site is USD.
6. I defined CurrencyRate for pair USD/UAH = 2 (for example).

### Steps to reproduce
1. Go to the frontend -> Product View Page (choose any product).
2. Switch to StoreView "UA"

[2017-11-04 15:44] lionelalvarez commented on #11897
I think the condition you are using is not the correct one, You can try use "is one of", if you want the specific sku to be in the defined list.

[2017-11-04 15:52] valentinboyanov commented on #10207
I am working on it at #mm17es

[2017-11-04 15:54] victor-martinez-interactiv4 commented on #11904
Yes, you have to clear cache and full_page_cache after done the translations. Anyway I do recommend to use Magento translations in the code instead of inline-translations

<img width="1165" alt="screen shot 2017-11-04 at 16 50 52" src="https://user-images.githubusercontent.com/24246899/32406913-c1acbaba-c180-11e7-9e07-3061e69e2a6b.png">

[2017-11-04 16:16] jplou-onestic commented on #11450
Working on it at #mm17es

[2017-11-04 16:22] erik-augustin commented on #7654
found cause of problem and reported problem at store manager team:

importing product with new value of text swatch value creates incomplete stucture in database
opening attribute in admin magento with textswatches gives error likes this

https://github.com/magento/magento2/issues/7654

deleting incomplete textswatch in magento store manager and  upload change fixes problem please fix this problem

[2017-11-04 16:33] osrecio commented on #11825
I am working on it at #mm17es

[2017-11-04 16:36] PedroBlascoInteractiv4 commented on #9155
The qty param is send for post and in querystring. Can you assign me this issues

[2017-11-04 16:58] sahava314 commented on #7298
I just want to add one more reason why I received the url key error. In addition to fixing the url key product attributes after a data migration I ALSO had to delete any orphan records in url_rewrite :

delete from  url_rewrite where entity_type = 'product' and entity_id not in (select entity_id from catalog_product_entity);

Hope this helps someone. Thank you all for sharing your solutions!

[2017-11-04 17:14] victor-martinez-interactiv4 commented on #7493
Can't reproduce the same issues, it's true that some HTML codel is not 100% validating by https://validator.w3.org/nu/, giving some warnings.

[2017-11-04 17:23] i4rebecamartinez commented on #11984
Could you please assign this ticket to me? thanks.

Even if it is not showing in the front, which is the correct behavior, when you leave the fields empty, and you edit de configuration for the second time, default value is showing in the form, because is retrieving website configuration instead of store configuration.

[2017-11-04 18:21] minhluan259 commented on #7493
@victor-martinez-interactiv4
Itemprop  issue: may be this link can help you
https://stackoverflow.com/questions/36918465/itemprop-errors

Attribute code issue: I suggest change `attribute-code="size"` to `data-attribute-code="size"`

Can you show the warning of w3?

[2017-11-04 19:58] d10nZ opened #12024 "Minify Html doesn't process templates from Theme directory"
### Preconditions
1. Magento 2.1.9
2. Custom Theme with custom templates (app/design/{area}/{Theme_Path}/templates/)
3. deploy-mode = production

### Steps to reproduce
1. Set Minify Html to "YES";
2. php bin/magento setup:static-content:deploy (in console);

For details please look at the question [here (magento.stackexchange.com)](https://magento.stackexchange.com/questions/199999/minify-html-do

[2017-11-04 22:03] vinoth44 opened #12026 "Updating product multiselect attribute saving the old values too"
I have color as multiselect attribute in my catalog. When I create a product I select white and green as colors. Now I edit the product and unselect white, green and select Red. It works in backend but when I use layered navigation in frontend and choose products with white color it shows the product with only red color which had white and green earlier. When I checked catalog_product_entity_varch

[2017-11-04 22:49] denysaw commented on #7167
Yep. Same issue on 2.2

[2017-11-05 00:15] Starfish777 opened #12027 "Magento 2 downloadable product URL link & Downloadable attachment does NOT work"
Neither the Magento 2 downloadable URL link nor the Downloadable attachment work in Magento 2. I have included screenshots.  Even after purchase and invoicing order which then goes into customer account. The Downloadable links do not work and send an error message. Also when trying to upload a "Downloadable Product" file as an attachment. I also get a message saying "the file has not uploaded".

#

[2017-11-05 00:32] Starfish777 opened #12028 "Downloadable Products "INVOICED" selection does not work"
![image](https://user-images.githubusercontent.com/13037090/32410691-71766a92-c19d-11e7-936d-46083ba51ec1.png)

When you select Stores --> Configuration --> Catalog(Catalog)---> Downloadable Product Options the first option which is "Order item status to enable Downloads" has "Invoiced" chosen as a standard. But this does not work. When you create a Downloadable Product, and purchase it as a custo

[2017-11-05 02:07] nikoelgatito opened #12029 "Tax Report does not take into account credited taxes."
It seems that the Tax Report does not take into account the refunded taxes. Also when a credit memo is created, only the total tax_amount is calculated and stored in the database but no tax specific tax_amount is calculated or stored.

This means for example that if we sell a product which is taxed by 2 different taxes (5% + 10%), the credit memo tax_amount stored will only reflect the total 15% t

[2017-11-05 02:10] nikoelgatito commented on #7937
Hi, I do not agree as any credit issued for a product/service in a zone where it is subject to tax should also include the tax whether it is a partial refund for a refund for the entire price paid for an item.

When selling products in a region where a merchant has to charge tax, it is required by the law when refunding an amount related to a taxed transaction to also refund the tax attached to it

[2017-11-05 03:10] testmagento2 opened #12030 "Magento 2 When set to developer mode Magento crash"
After changing magento to dev mode website is crashing and getting php error
And cant understand what is that error about

### Preconditions
magento 2.7
php 70

PHP Fatal error: Uncaught Magento\Framework\Exception\LocalizedException: Invalid Document
Element 'config', attribute 'xsi:noNamespaceSchemaLocation': The attribute 'xsi:noNamespaceSchemaLocation' is not allowed.
Line: 2
in /home/software

[2017-11-05 09:17] enriquei4 commented on #6661
I'm working on this issue for #MM17ES

[2017-11-05 09:32] AgentGod commented on #11828
![php7 1 11](https://user-images.githubusercontent.com/8660031/32413559-53ce4f6c-c21c-11e7-879d-a15aac35da35.PNG)

Similar issue here. This one on top is with php7.1.11. The swatches are saved but not visible.

After changing the php version to 7.0.25 and refresh the page, I have this one below:

![php7 0 25](https://user-images.githubusercontent.com/8660031/32413557-460f8e4a-c21c-11e7-92d4-4e1f95

[2017-11-05 09:37] ajayak opened #12032 "OAuth Failed. oauth_problem=Consumer+key+has+expired"
Getting status as Unauthorized and description as oauth_problem=Consumer+key+has+expired when making Request to `oauth/token/request` to get oauth_token.

### Preconditions
1. Using Magento 2.2

### Steps to reproduce
1. Create an Integration. Name it "test" and enter the admin password
2. On the API tab, set Resource Access to All
3. Click save and then activate the service.
4. Copy Consumer Key

[2017-11-05 09:58] crissanclick commented on #10362
I'm working on this feature at #MM17ES

[2017-11-05 10:13] jmtakahashi commented on #5948
So it this issue fixed properly in 2.1.9?

Meaning, swatches are still displayed, but unselectable?

Currently, my store just hides the sizes that are out of stock, and only shows sizes that are in stock.  I'n assuming this is proper behavior, but is there way to show the sizes that are out if stock as well, and disable them from being selectable?

[2017-11-05 10:23] victor-martinez-interactiv4 commented on #11796
Can I get this ticket please? #mmes

[2017-11-05 10:24] luismiguelyangehuaman commented on #6305
I'm working on this issue for #MM17ES

[2017-11-05 10:24] GianniPDF commented on #10362
I have made some progress to this issue, forgot to mention it, please assign the issue to me please #MM17ES. I have talked to @crissanclick

[2017-11-05 10:29] vrann commented on #9155
#mm17es

[2017-11-05 10:30] vrann commented on #9869
#mm17es

[2017-11-05 10:34] vrann commented on #6123
#mm17es

[2017-11-05 11:16] rafaesteller commented on #10207
I am working on it at #mm17es

[2017-11-05 11:58] lionelalvarez commented on #7903
I am working on it at #mm17es

[2017-11-05 12:24] diptihere commented on #5948
I have checked this in 2.2.0. After applying above solution, It shows sizes which are out of stock and they wont be selectable.

[2017-11-05 12:28] victor-martinez-interactiv4 commented on #11796
I've been having a look into this ticket, and I can't see this grid problem on Luma Template. As far as I know your screenshots looks like you are using "2-columns-right" template" and the layered navigation or static blocks are not showing there, witch in this case, could be a catalog reindex problem.

Solution:
- if you are trying to avoid this white space, change your template to 1-column
-if y

[2017-11-05 13:08] redfishstix opened #12046 "Magento 2.1.7: swatchs not working"
Hi,

Been working with 2.1.7 for a while now, finish all my site but suddendly, some swatchs aren't working.

Preconditions:
1. Magento 2.1.7 running the Claue template from themeforest
2. php 7.0.25
3. No varnish enabled.
4: Mysql ver 14.14

Steps to reproduce:
When accessing the product listing (IE: click on a category, the various products will be displayed. I have my swatchs shown there as I h

[2017-11-05 13:54] Mgrennes commented on #12046
Hi there, what is G1 Failed? Do you need more info?

Thanks,

[2017-11-05 13:58] Mgrennes commented on #12046
Updated ticket with more information.

[2017-11-05 14:20] orlangur commented on #12030
Element 'config', attribute 'xsi:noNamespaceSchemaLocation': The attribute 'xsi:noNamespaceSchemaLocation' is not allowed.

Well, that's expectable, you need to fix invalid (i.e. not corresponding to XSD schema) `config.xml` files.

[2017-11-05 14:56] orlangur commented on #12032
Hi @ajayak, please check if https://github.com/magento/magento2/issues/10423#issuecomment-320083172 works in your case.

[2017-11-05 14:59] GitHamo commented on #5445
Solution suggested by @zexperto solved my problem. And it's kinda explain the issue.
If you explode a string separated by comma it will results in an array of strings not integers.

[2017-11-05 14:59] jmtakahashi commented on #5948
@diptihere which solution are you referring to?  The mjankiewicz extension doesn't work "out of the box" on my 2.1.9 store.

[2017-11-05 15:07] ajayak commented on #12032
Hi @orlangur,
I have already activated the integration but still getting this error.

[2017-11-05 15:47] diptihere commented on #5948
Yes, mjankiewicz extension. It worked for me. U just have to override this getOptions method. Is there any error u r getting.

[2017-11-05 16:16] hostep commented on #8774
@sshymko: we rely on `setup:upgrade` to also modify the `app/etc/config.php` file, because we currently don't version that file in Magento 2.1.x. That's why we run it on multiple nodes.

But your comment is correct though, if `setup:upgrade` would only manipulate the database we should only run it on a single server.

[2017-11-05 16:39] orlangur commented on #11996
@zack6849 well, `ACME_STORE1` and especially `AcME_StOrE1` is simply ugly and leads to potential mistakes in character case. I don't see any valid reason for this to be changed. Of course every regexp in the system can be expanded and such change is pretty easy but at least it would be nice to have some community discussion to approve such kind of changes.

Another recent example is inconsistent a

[2017-11-05 18:21] bitmee commented on #737
Hey GUys,

I am having the same issue. It looks like @kandy solution resolved the problem.

Grateful if you'll could advice me where do I need to change the domain to try the solution and see whether it works for me.

Regards,
Aditya

[2017-11-05 18:36] orlangur commented on #11283
@phpworld @mugua please provide additional details so that this issue can be investigated. Closing for now due to inactivity.

[2017-11-05 18:36] #11283 closed, assigned to orlangur

[2017-11-05 18:38] orlangur commented on #11641
@duongquyet feel free to confirm at any moment if this issue is reproducible on a supported operating system. Closing for now due to inactivity.

[2017-11-05 18:38] #11641 closed, assigned to orlangur

[2017-11-05 18:58] orlangur commented on #9926
Hi @best4u, this is expected system behavior: when you remove from layout block responsible for title filling, title will become empty.

Please check https://github.com/magento/magento2/issues/11907#issuecomment-341721558 to achieve what you probably needed instead of such a removal.

[2017-11-05 18:58] #9926 closed, assigned to nobody

[2017-11-05 19:10] zexperto commented on #11412
Thanks @davepullen ir solved my problem

[2017-11-05 20:01] thomvanderboon commented on #10892
After quite some testing over the last month, I came to the conclusion that this issue is moste likely opcache related. If you run opcache with the settings which are recommended, a edited index.php is only picked up after restart of the webserver.

[2017-11-05 20:01] #10892 closed, assigned to nobody

[2017-11-05 20:15] tapvt commented on #8404
@magento-engcom-team

I can confirm that there is a continued issue for "Qty Increment" client-side validation. Please see below.

## Preconditions
- Magento 2.2
- PHP 7.0.22
- Ubuntu 16.04.3 LTS

## Steps to Reproduce
- Admin Panel: "Products" -> "Add Product"
- Open "Advanced Inventory" dialog
- Set "Qty Uses Decimals" to "Yes"
- Set "Enable Qty Increments" to "Yes"
- Enter a "Qty Increments" va

[2017-11-05 20:35] luckyraul commented on #2228
@magento-engcom-team @orlangur  @PingusPepan
Stop this "close ticket first, don't care about problem"

At least two people confirmed - there is the problem.

[2017-11-05 21:13] testmagento2 commented on #12030
How to fix something like that?

[2017-11-05 21:53] orlangur commented on #12030
Remove such not allowed attribute.

[2017-11-05 21:55] orlangur commented on #2228
@luckyraul nope, there is no problem.

It was rechecked TWICE. To reopen it one more time there should be some more information.

[2017-11-05 22:05] southerncomputer commented on #11967
Since elasticsearch is nosql based, store attributes in elasticsearch instead of EAV, extend EAV attribute code to pull data from elasticsearch! Side load all product data into elasticsearch!

[2017-11-06 00:40] sshymko commented on #8774
@hostep
Storing the deployment configuration `app/etc/env.php` and `app/etc/config.php` under the version control has worked for us very well.

[2017-11-06 01:03] jmtakahashi commented on #5948
@diptihere how do I override the getOptions method?  Maybe thats where the problem is.

[2017-11-06 06:27] prestashoppay commented on #9275
Hi ,

**Migration 1.7.2 to magento 2.1.6 Images issues :**

I am using  magento 2.1.6 version , i have same issues product list and view page images path getting blank view .

In admin panel each products having images , but frontend url as like same below ,
example.com/pub/media/catalog/product/cache/f073062f50e48eb0f0998593e568d857/j/6/j6-4_3.jpg

I am using image re-size command via putty , but

[2017-11-06 06:27] prestashoppay commented on #9276
Hi ,

Migration 1.7.2 to magento 2.1.6 Images issues :

I am using magento 2.1.6 version , i have same issues product list and view page images path getting blank view .

In admin panel each products having images , but frontend url as like same below ,
example.com/pub/media/catalog/product/cache/f073062f50e48eb0f0998593e568d857/j/6/j6-4_3.jpg

I am using image re-size command via putty , but didn

[2017-11-06 07:07] magento-engcom-team commented on #12004
@selusi, thank you for your report.
We've created internal ticket(s) MAGETWO-83300 to track progress on the issue.

[2017-11-06 07:10] pareshe commented on #11966
But Tax Class attribute scope is "Website" and you have 2 store view.

[2017-11-06 07:13] yonitjio commented on #10321
Sorry for the late reply,

I don't know where exactly, and since it's not a big module, I've attached all.

Anyway, I've just restored the project and tried to reproduce the error, it did not occur.
But this time I'm using 2.1.9.

So I guess it's been fixed somehow?

[Fonel.zip](https://github.com/magento/magento2/files/1445292/Fonel.zip)

[2017-11-06 07:24] magento-engcom-team commented on #12005
Thank You for applying @widegento. The functionality You have mentioned above is not available in Community Edition versions of Magento. Therefore please address Your issue directly to Magento Support.

[2017-11-06 07:24] #12005 closed, assigned to nobody

[2017-11-06 07:30] magento-engcom-team commented on #8016
@koenner01, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-06 07:30] #8016 closed, assigned to magento-engcom-team

[2017-11-06 07:30] magento-engcom-team commented on #6836
@dmcmillin, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-06 07:30] #6836 closed, assigned to eug123

[2017-11-06 08:03] hostep commented on #10892
@thomvanderboon: you're probably talking about these settings: http://devdocs.magento.com/guides/v2.2/config-guide/prod/prod_perf-optimize.html?

And the problem is then probably caused by the setting `opcache.validate_timestamps=0`.
Just a hint, everytime you change a (php) file, it's best if you clear the opcache, using a function call like this: `opcache_reset();`

This might help in your case

[2017-11-06 08:06] hostep commented on #8774
Yes, I know it's recommended to store `config.php` in version control, we will probably start doing this in Magento 2.2.x. But you should **never** put `env.php` in version control, it contains sensitive data (like the database password), and you should never put sensitive data in version control :)

[2017-11-06 08:09] hostep commented on #9275
@prestashoppay: please use a newer version of Magento to upgrade to. The image resize changes in Magento 2.1.6 turned out to be very buggy and were reverted again in version 2.1.7, I'd recommend you to the latest version of 2.1.x

[2017-11-06 08:10] vantrinhvp opened #12052 "Product relations get lost on Scheduled new update EE 2.1.9"
### Preconditions
1. Magento EE 2.1.9
2. PHP 7.0.17

### Steps to reproduce

1. Open a configurable product in the Magento backend
2. Click Scheduled new update
3.  Change name and set time start date

### Expected result

1. Only change name product

### Actual result

1. product configuration is simple product and product relations get lost.

![screenshot_1](https://user-images.githubusercontent

[2017-11-06 08:41] abelyanvahe opened #12053 "Search term minimum length is static"
### Preconditions

1. Magento v2.2
2 . Everything else does not matter

### Steps to reproduce

1. Search for a term which has less then 3 characters.

### Expected result

1. Should see some results

### Actual result

1. Results are empty

### Solution
This is because even though we have a field in admin to set this, minimum term length is hardcoded i Magento\Framework\Search\Adapter\Mysql\Query

[2017-11-06 08:41] magento-engcom-team commented on #12021
@d10nZ, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-11-06 08:41] #12021 closed, assigned to nobody

[2017-11-06 08:54] prestashoppay commented on #9275
Hi @hostep ,

Thanks for your reply.

I am using following commands magento upgrade 2.1.6 to 2.1.7 , and also 2.1.9

I am getting error below command run via putty ,

`composer require magento/product-community-edition 2.1.7
composer update`

PFA
![error](https://user-images.githubusercontent.com/27668186/32432475-cba5b278-c2fd-11e7-8a28-b9b8d0e2e4ca.png)

`./composer.json has been updated
Loading

[2017-11-06 08:56] magento-engcom-team commented on #10321
Hi @yonitjio
I can not reproduce the issue with you attached module.
My steps are present in video:
[Screen 11-06-2017 10-50-15.zip](https://github.com/magento/magento2/files/1445545/Screen.11-06-2017.10-50-15.zip)

[2017-11-06 09:11] nuovecode commented on #10632
Same for me in 2.1.9

[2017-11-06 09:29] Prad2703 opened #12055 "Edit category and save meta title gives URL key for specified store already exists."
### Preconditions

1.  Centos sever.
2. We are using magento 2.1.7

### Steps to reproduce

1.  Go to this link ttps://www.craftnshop.com/admin_rrkl1o/
2.  Put u: infoway_dev and P: Prad@2703#
3. go to the catalog->category and click on the Gems & Jwellery.
4. Go to Seo content and put anything on the meta title then try to save.
5. It displays URL key for specified store already exists.

### Expe

[2017-11-06 09:30] magento-engcom-team commented on #10321
@yonitjio, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-06 09:30] #10321 closed, assigned to magento-engcom-team

[2017-11-06 09:35] magento-engcom-team commented on #12029
@nikoelgatito, thank you for your report.
We've created internal ticket(s) MAGETWO-83306 to track progress on the issue.

[2017-11-06 09:37] magento-engcom-team commented on #12027
@Starfish777 Hi. We cannot reproduce the issue . This error can be caused by server permissions / configurations. It could simply be a permission issue so please ensure your web server user has full rights as per it's recommended in [devdocs](http://devdocs.magento.com/guides/v2.1/install-gde/prereq/file-system-perms.html) .

[2017-11-06 09:42] hostep commented on #9275
@prestashoppay: please ask support questions on https://magento.stackexchange.com/ or https://community.magento.com/, GitHub isn't the place to ask these kind of questions, thanks! :)

[2017-11-06 09:49] magento-engcom-team commented on #12028
@Starfish777, thank you for your report.
If you need automatically get Invoiced upon purchase:

1. Go to  Stores > Configuration > Catalog(Catalog) > Downloadable Product Options and change to Order Item Status to Enable Downloads is Pending.

2. If product price for Downloadable Product is 0
Go to Stores > Sales > Payment Methods > Other  Payment Methods > Zero Subtotal Checkout
New Order Status

[2017-11-06 09:50] Yasp0 commented on #11966
@pareshe what do you mean? Do you mean in the Configuration menu?

[2017-11-06 09:51] prestashoppay commented on #9275
@hostep ,

Thanks for your reply.

[2017-11-06 09:58] PingusPepan commented on #2228
@orlangur My steps to reproduce:
Theme child of base theme.
update layout file from Magento_Theme (`Magento_Theme/layout/default_head_blocks.xml`)
Inserting this:
[code]
or this:
[code]
does not work. Errors produced are:
[code]
for the first example and
[code]
for the second example.

I would expect the second example to work but what works for me instead is this mess:
[code]

Please try my steps

[2017-11-06 10:09] joinso commented on #7525
Hi!

I try to add this translation (es_ES):
"Minimum of different classes of characters in password is %1. Classes of characters: Lower Case, Upper Case, Digits, Special Characters.","La contrase&ntilde;a ha de tener m&aacute;s de %1 caracteres, y ha de incluir al menos una letra may&uacute;scula, una letra min&uacute;scula y un n&uacute;mero o simbolo especial (gui&oacute;n, parentesis, puntos, .

[2017-11-06 10:11] orlangur commented on #2228
@PingusPepan thanks! @magento-engcom-team could you please check if you tried exactly the steps described by @PingusPepan?

[2017-11-06 10:30] magento-engcom-team commented on #12027
@Starfish777, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-06 10:30] #12027 closed, assigned to nobody

[2017-11-06 10:30] magento-engcom-team commented on #12028
@Starfish777, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-06 10:30] magento-engcom-team commented on #6173
@webspeaks, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-06 10:30] #6173 closed, assigned to magento-engcom-team

[2017-11-06 10:30] magento-engcom-team commented on #7319
@xaiamedia, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-06 10:30] #7319 closed, assigned to nobody

[2017-11-06 10:33] sbwcws commented on #4868
Did that extension help any one to speed up the checkout process

[2017-11-06 10:36] sbwcws commented on #11881
Able to solve it after re index and disabling Google page speed it's not a bug I apologize

[2017-11-06 10:36] #11881 closed, assigned to nobody

[2017-11-06 10:43] tmotyl commented on #10051
@davidalger please reopen the issue, as it's not solved and it's really a pain

[2017-11-06 10:48] marilena6 commented on #6622
I am using 2.1.4 and facing this issue, is there a patch or anything?

[2017-11-06 10:57] mstfash opened #12056 "Table rates issue not showing in website or in the database"
Hey i use a fresh 2.1.6 mage installation.

I setup table rates as usual but frontend does not appear in the website at all only the fixed tare shows up.
i imported a tablerate.csv with ~20rows and mage say no error while upload it.
and I get configurations has been updated message.

If i wanna export the csv i got a empty one.

So i checked the DB entry "shipping_tablerate" and this is also empty

[2017-11-06 11:04] orlangur commented on #12055
What if you save this category without changing any field or changing some other field?

[2017-11-06 11:06] #12028 closed, assigned to nobody

[2017-11-06 11:09] Prad2703 commented on #12055
I'm saving the category while try to update meta title. Please have a look.

[2017-11-06 11:22] orlangur commented on #12055
I'm asking if the issue is reproduced with slightly different steps. In case of incorrectly imported/migrated category such error could be displayed on any save, no matter which field is changed.

[2017-11-06 11:24] hemendraajmera commented on #11897
I have Already changed conditions to all or is one of, but not get the results

[2017-11-06 11:33] magento-engcom-team commented on #7565
Hi @bojjaiah
This is not a bug.
You should set additional attribute value `category_ids` as array like this:
[code]

[2017-11-06 11:43] magento-engcom-team commented on #12019
@oksana8119, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-06 11:43] #12019 closed, assigned to nobody

[2017-11-06 11:49] magento-engcom-team commented on #12055
@Prad2703 We cannot reproduce this issue as described. Please install clean and fresh Magento, and try to reproduce this issue again.

[2017-11-06 11:53] Prad2703 commented on #12055
Thanks for your checking. I'm getting the problem while editing the Gems & Jwellery. Please go to the aforesaid category and try to update Search Optimization Content "Meta Title" and Meta Description

[2017-11-06 12:06] hardikpathar commented on #5281
I am trying to create configrable product programatically. But having problem in the 2.1> version as simple products are not assigned to configrable products but in version 2.0.7 it's working fine. What is the issue?
My code is as below.

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // instance of object manager
					$configurable_product = $objectManager->create('\Magento

[2017-11-06 12:28] steros commented on #7680
I think we can leave this closed, it is most likely a rights problem due to using Mac OSX with VirtualBox and NFS-Folders.

[2017-11-06 12:29] ishakhsuvarov commented on #7683
Hi @comdiler
We are closing this issue now, as it seems that error in the test is fixed some time ago.
As of now there are no failing tests on the Travis CI builds (for example one of the latest runs for now: https://travis-ci.org/magento/magento2/builds/297078546)

Thank you.

[2017-11-06 12:29] #7683 closed, assigned to nobody

[2017-11-06 12:30] magento-engcom-team commented on #7527
@pmathbliss, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-06 12:30] #7527 closed, assigned to magento-engcom-team

[2017-11-06 12:30] magento-engcom-team commented on #11986
@routbiplab, thank you for your report.
We've created internal ticket(s) MAGETWO-83316 to track progress on the issue.

[2017-11-06 12:30] magento-engcom-team commented on #7565
@bojjaiah, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-06 12:36] magento-engcom-team commented on #12056
@heavenchains, thank you for your report.
This is duplicate of [#11468](https://github.com/magento/magento2/issues/11468)

[2017-11-06 12:36] #12056 closed, assigned to nobody

[2017-11-06 12:46] routbiplab commented on #11986
Thank you!

[2017-11-06 12:47] archonkulis opened #12058 "Can't save emoji in custom product options"
### Preconditions

1. Magento version 2.1.6 ( it doesn't matter actually )
2. PHP 7.0
3) Mysql 5.6

### Steps to reproduce

1. Add some custom options to product ( text )
2. Go to product in front-end, input some emoji in that text field, e.g. "123 😍"
3. Add to cart

### Expected result

1. Either cart would render fine or show an error that specific emoji insertion is not supported

### Actual re

[2017-11-06 12:53] Mgrennes commented on #12046
With some research, and i'm not sure why I didn't see this before, but this was fixed in 2.1.9 but the last comment said it still doesn't work: https://github.com/magento/magento2/issues/9965

Can anyone comment on this please?

[2017-11-06 13:04] rehoehle commented on #11055
@magento-engcom-team we have the same problem with the same version. But we get that only on  a second store-view. The default store view is working.

[2017-11-06 13:30] magento-engcom-team commented on #7739
@RishabhRkRai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-06 13:36] zack6849 commented on #11996
@orlangur to be honest, i feel it's a consistency issue, for example, order number prefixes.

Our store's order prefix for example, is MXS, eg: MXS-00000001 or something, when i'm creating a new store, the fact I can't put a uppercase store code is quite confusing, because it's uppercased in the oder numbers for example

Another thing is, maybe you shouldn't allow uppercase, i'm not making a defen

[2017-11-06 13:43] magento-engcom-team commented on #4428
@mstumpf818 Thank you for the report. Could you please let us know if the issue is still actual for 2.1.9 version? Thank you

[2017-11-06 13:46] maghamed commented on #11936
Hey @orlangur and @tzyganu , it's a pretty interesting question you raised here.

Here is what I think about this:

1. API **must** be self-descriptive.  A client of the API **should not** look at the implementation details to understand how does API work. It's enough to see Interface declaration to get a clue how to use API.  Current interface of the [AttributeGroupRepositoryInterface](https://gi

[2017-11-06 13:55] sunilit42 commented on #11946
Hello,
 Case 1) Go to Backend set Out of stock display No (Make sure some product out of stock)
Go to any category , check count of layer navigation of attribute

 Case 2) Go to Backend set Out of stock display Yes
Go to any category , check count of layer navigation of attribute, it will show same

It does not count out of stock product count into layer nav.

Check below file

https://github.com/

[2017-11-06 13:56] rustsol opened #12059 "Magento 2.2 email variables not referencing to the html values"
It seems like the default bug of Magento that does not send actual customer address, it sending in variable format, reference to sales email address as following format:

**Billing Address Edit** **Email and admin panel order section format for address**
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}}

[2017-11-06 14:14] orlangur commented on #11936
Started to reply on that issue that day with intention to reopen, maybe will find that comment in some other tab.

`ProductRepository` or `InvoiceRepository` are irrelevant as invoices and products have perfect sense be themselves.

On the other hand `AttributeGroup` has no sense in core without `AttributeSet`. Just like, as far as I know, we don't have a repository to manipulate categories to pro

[2017-11-06 14:20] dawolf commented on #8640
experiencing this problem in 2.1.9

code fixes above do not seem to work.

[2017-11-06 14:29] PieterCappelle commented on #7253
@springimport Could explain what you mean with adding several wrappers for default containers? We're having the same issue.

[2017-11-06 14:30] magento-engcom-team commented on #10061
@wjhuebner, thank you for your report.
We've created internal ticket(s) MAGETWO-70489, MAGETWO-83325 to track progress on the issue.

[2017-11-06 14:34] tzyganu commented on #11936
@orlangur You don't need an example from the core. The service contracts don't serve only the code. It should serve my needs also.
And here is what I need.
I have one requirement that all attribute groups called "This is my Group" should be renamed to "This is NOT my group" (names are fictional).
I can let the admin do that for all 54 attribute sets manually, but this will only solve it for the li

[2017-11-06 14:46] orlangur commented on #11936
That's absolutely clear from the SO question.

As far as I understand main concern here is performance and "lack of joins" is a common problem for current service layer. If we start changing implementations that way, not considering usefulness for core, than every real-world application would request "I need to do it in only one query!!!".

I don't see why resource models are bad for the case desc

[2017-11-06 14:51] orlangur commented on #11996
@zack6849 thanks for the real world example. Maybe it would be good at least to not allow mix of upper/lower case but just changing error message is the best option :)

[2017-11-06 14:52] magento-engcom-team commented on #12058
@archonkulis, thank you for your report.
We've created internal ticket(s) MAGETWO-83334 to track progress on the issue.

[2017-11-06 14:56] tzyganu commented on #11936
@orlangur resource models and collections would work, but I'm trying to build my code the proper magento  way. If there is a repository I use it.

[2017-11-06 15:07] magento-engcom-team commented on #11963
Hello @iWEBproject. Thanks for reporting. Would You please provide us detailed steps of how You set two store views.

[2017-11-06 15:17] magento-engcom-team commented on #12052
Thank You for applying @vantrinhvp. The functionality You have mentioned above (Schedule New Update) is not available in Community Edition versions of Magento. Therefore please address Your issue directly to Magento Support.

[2017-11-06 15:17] #12052 closed, assigned to nobody

[2017-11-06 15:21] magento-engcom-team commented on #12026
@vinoth44, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-06 15:25] magento-engcom-team commented on #7318
Hi @thomb2233
Thanks for reporting this issue.
Please share `.xml` file from `view/adminhtml/ui_component`, where you use listing component and all depending `.php` files.

[2017-11-06 15:30] magento-engcom-team commented on #5542
@vipin-eglobeits, thank you for your report.
We've created internal ticket(s) MAGETWO-83335 to track progress on the issue.

[2017-11-06 15:34] orlangur commented on #11936
And now there is no ready-to-use repository. Does it mean that in every such situation repositories functionality should be expanded?

[2017-11-06 15:52] whereowareadmin opened #12064 "Database Rollback not working with magento 2.1.9?"
I created one test DB backup "test backup" when trying to rollback with SSH it only looks for somecode_db.sql file instead this backup contains the name in its file. is it magento2.1.9 bug?

### Preconditions

1.  centos 7.4
2.  apache 2.4 / mysql 5.7/ php 7.0.2

### Steps to reproduce

1.  create a database backup from admin
2.  check from ssh if the database is in the list?
3.  run command in ss

[2017-11-06 16:07] abontjer commented on #11853
Same problem here using 2.1.9

[2017-11-06 16:15] tzyganu commented on #11936
@orlangur I don't know about every repository, but in this case I think I should. it's an easy fix and the impact should not be big.

[2017-11-06 16:32] iWEBproject commented on #11963
Hello
Yes of course I will try to describe
1. I upload compressed file el_GR.zip and Unzip in to this path: app/i18n/mageplaza/el_GR/
2. I Flush Magento Cache
3. I set up the store Views For English and Greek (I set up Greek as default) See Images also
![stores](https://user-images.githubusercontent.com/32092642/32451830-8ea8e23c-c320-11e7-90b0-1a1223d7e8a8.JPG)
![sores 2](https://user-images.gith

[2017-11-06 16:33] WalterSmulders commented on #10417
I experienced the same issue today and it kept me busy for a half day, but I found that at least my problem was not related to the Magento code.

One of the external extensions had a extra empty line at the beginning of the registration.php. This caused to add this extra empty line at the beginning of the response. This causes the browser to not recognise the image and thus not show it since it do

[2017-11-06 16:36] boscowitch commented on #9424
This seems also to affect the normal URL in 2.1.x
Too many redirect when the proxy forces ssl for the admin url but the databse is still set to http.

so HTTPS "on" seems to be ignored from the admin panel and it still tries to redirect back to http, hence the loop with the transparent https proxy in front of it redirecting everything to https....

[2017-11-06 17:00] magento-team commented on #7995
Internal ticket to track issue progress: MAGETWO-83278

[2017-11-06 17:09] piotrekkaminski commented on #11990
This issue was moved to magento-engcom/import-export-improvements#39

[2017-11-06 17:09] #11990 closed, assigned to nobody

[2017-11-06 17:10] piotrekkaminski commented on #9437
This issue was moved to magento-engcom/import-export-improvements#40

[2017-11-06 17:10] #9437 closed, assigned to nobody

[2017-11-06 17:10] piotrekkaminski commented on #9342
This issue was moved to magento-engcom/import-export-improvements#41

[2017-11-06 17:10] #9342 closed, assigned to nobody

[2017-11-06 17:12] piotrekkaminski commented on #9171
This issue was moved to magento-engcom/import-export-improvements#42

[2017-11-06 17:12] #9171 closed, assigned to nobody

[2017-11-06 17:12] piotrekkaminski commented on #8851
This issue was moved to magento-engcom/import-export-improvements#43

[2017-11-06 17:12] #8851 closed, assigned to nobody

[2017-11-06 17:13] piotrekkaminski commented on #8798
This issue was moved to magento-engcom/import-export-improvements#44

[2017-11-06 17:13] #8798 closed, assigned to nobody

[2017-11-06 17:13] piotrekkaminski commented on #8548
This issue was moved to magento-engcom/import-export-improvements#45

[2017-11-06 17:13] #8548 closed, assigned to nobody

[2017-11-06 17:13] piotrekkaminski commented on #8282
This issue was moved to magento-engcom/import-export-improvements#46

[2017-11-06 17:13] #8282 closed, assigned to nobody

[2017-11-06 17:14] piotrekkaminski commented on #8235
This issue was moved to magento-engcom/import-export-improvements#47

[2017-11-06 17:14] #8235 closed, assigned to magento-engcom-team

[2017-11-06 17:14] piotrekkaminski commented on #7495
This issue was moved to magento-engcom/import-export-improvements#48

[2017-11-06 17:14] #7495 closed, assigned to nobody

[2017-11-06 17:14] piotrekkaminski commented on #7468
This issue was moved to magento-engcom/import-export-improvements#49

[2017-11-06 17:14] #7468 closed, assigned to nobody

[2017-11-06 17:15] piotrekkaminski commented on #7412
This issue was moved to magento-engcom/import-export-improvements#50

[2017-11-06 17:15] #7412 closed, assigned to ioliinyk

[2017-11-06 17:15] piotrekkaminski commented on #6981
This issue was moved to magento-engcom/import-export-improvements#51

[2017-11-06 17:15] #6981 closed, assigned to nobody

[2017-11-06 17:21] piotrekkaminski commented on #6701
This issue was moved to magento-engcom/import-export-improvements#52

[2017-11-06 17:21] #6701 closed, assigned to nobody

[2017-11-06 17:21] piotrekkaminski commented on #6553
This issue was moved to magento-engcom/import-export-improvements#53

[2017-11-06 17:21] #6553 closed, assigned to EliasKotlyar

[2017-11-06 17:21] piotrekkaminski commented on #6193
This issue was moved to magento-engcom/import-export-improvements#54

[2017-11-06 17:21] #6193 closed, assigned to nobody

[2017-11-06 17:21] piotrekkaminski commented on #6004
This issue was moved to magento-engcom/import-export-improvements#55

[2017-11-06 17:21] #6004 closed, assigned to nobody

[2017-11-06 17:26] piotrekkaminski commented on #5690
This issue was moved to magento-engcom/import-export-improvements#56

[2017-11-06 17:26] #5690 closed, assigned to nobody

[2017-11-06 17:26] piotrekkaminski commented on #5306
This issue was moved to magento-engcom/import-export-improvements#57

[2017-11-06 17:26] #5306 closed, assigned to nobody

[2017-11-06 17:27] piotrekkaminski commented on #5154
This issue was moved to magento-engcom/import-export-improvements#58

[2017-11-06 17:27] #5154 closed, assigned to nobody

[2017-11-06 17:29] piotrekkaminski commented on #1804
This issue was moved to magento-engcom/import-export-improvements#60

[2017-11-06 17:29] #1804 closed

[2017-11-06 17:29] piotrekkaminski commented on #3923
This issue was moved to magento-engcom/import-export-improvements#61

[2017-11-06 17:29] #3923 closed, assigned to nobody

[2017-11-06 17:30] magento-engcom-team commented on #7486
@apurv-anand, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-06 17:30] #7486 closed, assigned to nobody

[2017-11-06 17:30] magento-engcom-team commented on #11552
@meeweed, thank you for your report.
We've created internal ticket(s) MAGETWO-83339 to track progress on the issue.

[2017-11-06 17:49] erik-augustin commented on #11892
same problem here m 2.1.9

[2017-11-06 19:00] magento-team commented on #7995
Internal ticket to track issue progress: MAGETWO-83284

[2017-11-06 19:00] magento-team commented on #11996
Internal ticket to track issue progress: MAGETWO-83276

[2017-11-06 21:33] romeof1980 commented on #2666
hi @TomashKhamlai !
thanks for your clarification. Unfortunately we've been experiencing it in a fresh 2.2.0 too. It imports just 1 product (with its own images) then fails after that with the same error reported above (products' images placed in same local server in pub/media/import).
following the many suggestions above didn't lead to a solution.
could you please provide a hint?
thanks!

[2017-11-06 22:48] pmoreno1980 opened #12066 "My Account display only 9 orders in "My Orders""
### Preconditions
Magento 2.1.7
PHP 7.0
Mysql 5.7
Using Paypal & Cybersource for CC

### Steps to reproduce
1.  I logged in in My Account as Customer
2.  I clicked on "My Orders" to see all my orders history.

### Expected result
1.  See all orders until today under "my orders"

### Actual result
1. I can see only 9 orders ( My Orders) but i can't see any order after 9/27/17 (i have a lot of order

[2017-11-06 23:08] key-dev commented on #11912
Its fixed. Phpmyadmin has no entry for the table.

[2017-11-06 23:08] #11912 closed, assigned to nobody

[2017-11-06 23:44] Mgrennes commented on #12046
Hi, I can confirm that upgrading to 2.1.9 did not fix anything.

[2017-11-07 01:07] Mgrennes commented on #12046
Well this is getting more bizarre. After re-creating another set of new configurable products with visual swatchs, it's still not working.

Now, if I go to older created configurable products with visual swatchs, if i click on those swatch, the NEW product shows up (only the main image will show up if click on the swatchs).

It doesn't make sense!

[2017-11-07 02:47] #8403 closed, assigned to magento-engcom-team

[2017-11-07 02:54] magento-engcom-team commented on #11301
@esimov, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-07 02:54] #11301 closed, assigned to magento-engcom-team

[2017-11-07 02:55] magento-engcom-team commented on #11681
@sudaifhaider, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-07 02:55] #11681 closed, assigned to nobody

[2017-11-07 02:55] Mgrennes commented on #12046
With some help, I was able to fix the last product that I added by disable the catalog product flat in configuration > catalog > catalog

All my other configurable product are still not working, except the last one I have configured.

[2017-11-07 03:08] magento-engcom-team commented on #10040
Hello @hostep
Thank you for your report. The `updater application` + some CLI commands are designed for composer based installations only by the nature of these commands. So we do not expect they these feature will work on Git based installations. We are working right now to unify the dev experience for both installations. But this will lead to reorganization of our GitHub repository.
We are closi

[2017-11-07 03:08] #10040 closed, assigned to okorshenko

[2017-11-07 03:11] magento-engcom-team commented on #11279
Hi @fooman
Thank you for the report. We are working right now to make it clear in the description. The Magento code won't be changed, so we are closing the issue.

[2017-11-07 03:11] #11279 closed, assigned to okorshenko

[2017-11-07 03:23] magento-engcom-team commented on #8651
@qwerty7869, thank you for your report.
We've created internal ticket(s) MAGETWO-73198 to track progress on the issue.

[2017-11-07 04:20] magento-engcom-team commented on #2293
Looks like the issue has been fixed in latest releases. Please try 2.2.0 and let us know if the issue is still valid.

[2017-11-07 04:20] #2293 closed

[2017-11-07 05:09] losetemp commented on #11796
Hello, thanks for your help, but this issue is in home page with widgets, you can install the magento 2.2.0 with sample data and you will find the columns wrong in some mobile test.

[2017-11-07 05:45] ankursachdeva11 commented on #11957
more things to add.

When we create an order using dynamic pricing disable then on UI price will be shown on parent level and same on order JSON.

When we create an order using dynamic pricing enable then on UI price will be shown on child level but in order, JSON price is showing on both parent and child level. Why?

[2017-11-07 05:57] magento-engcom-team commented on #8698
@kukulis, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-07 05:57] #8698 closed, assigned to orlangur

[2017-11-07 06:31] ishosys commented on #6924
Same issue in 2.2.0. importing grouped products.
[code]
if i remove associated_skus from CSV, it imports successfully.

I was able to successfully import the same CSV in ver 2.1.9

[MISC.xlsx](https://github.com/magento/magento2/files/1448908/MISC.xlsx)

[2017-11-07 06:39] archonkulis opened #12067 "In-correct addres validation for PayPal message not shown ( A match of the Shipping Address.... )"
### Preconditions

1. Magento version - 2.1.6 and 2.2.0
2. PHP 7.0
3. Mysql 5.6

### Steps to reproduce

1. Configure and Enable PayPal payment method - sandbox also works
2. Go to check-out, enter some address and input wrong post-code ( e.g. https://prnt.sc/h76cus - notice postcode is wrong )
3. Click on Continue To PayPal
4. Enter account details
5. Submit

### Expected result

1. After redirec

[2017-11-07 06:43] EdenCoder opened #12068 "Bundled product Bundle items" pagination prevents reordering between pages"
Bundled product Bundle options pagination prevents reordering between pages

### Preconditions

1. Magento 2.2.0
2. PHP 7.1
3. MySQL 14.14

### Steps to reproduce

1. Fill up a bundled product's bundle options to more than one page
2. Reorder something from one page to the other

### Expected result

1. Im not sure pagination should happen here?

### Actual result

1. You can only reorder within t

[2017-11-07 06:44] EdenCoder opened #12069 "Bundled product "Bundle items" pagination prevents reordering between pages"
Bundled product "Bundle items" pagination prevents reordering between pages

### Preconditions

1. Magento 2.2.0
2. PHP 7.1
3. MySQL 14.14

### Steps to reproduce

1. Fill up a bundled product's "Bundle items" to more than one page
2. Reorder a "Bundle item" from one page to the other

### Expected result

1. Should be able to reorder "Bundle item" between different pages

### Actual result

1. Yo

[2017-11-07 06:49] gwharton opened #12070 "M2.2.0 Admin Grid column ordering/positioning not working when single store mode set On"
### Preconditions
1. Magento 2.2.0, no special setup
2. Installed as defaults, just one store/website.

### Steps to reproduce
1. Set single store mode to no.
2. Clear Cache
3. TRUNCATE ui_bookmark table
4. Go to sales order grid
5. Move Status column close to start of table
6. Refresh Sales order grid
7. Sales order grid should be presented with the same column ordering with Status column close t

[2017-11-07 06:52] #12068 closed, assigned to nobody

[2017-11-07 06:54] tazign commented on #11893
Any Updates on this?

[2017-11-07 06:58] gwharton commented on #10595
@miguelbalparda What is the process of getting #10935 backported into 2.1 and 2.2

[2017-11-07 07:24] Rockfordgun opened #12071 "Multiple issue No adding to mini cart and wont checkout"
Hi there guys

Hope you can help.
I have been browsing around here trying to sort out some issues i have with magento 2.2.x.
I have a fresh install only testing with one product and im getting hurdle after hurdle.

My first issue is for some reason my mini cart isnt showing me that there is anything in no number shows up and it looks empty but when i go to /checkout/cart/ theres my order.

https:/

[2017-11-07 08:08] joinso opened #12072 "Rules.js not getting custom translations"
1. Magento version: CE 2.2.0
2. PHP Version: 7.1.7
3.- MySQL: 5.5.57

To reproduce:

1) Add a custom dictionary in :

MAGENTO_INSTALL_PATH/app/design/frontend/vendor/theme_name/i18n/es_ES.csv
And here add this line:
"This is a required field. Please, fill with your two last names. If you have only one, add an space.","Escriba sus dos apellidos completos. Si s&oacute;lo tiene un apellido, a&ntilde;

[2017-11-07 08:27] magento-engcom-team commented on #12070
@gwharton, thank you for your report.
We've created internal ticket(s) MAGETWO-83353 to track progress on the issue.

[2017-11-07 08:28] Quinten commented on #11816
We also use New Relic to monitor browser performance in production. It would be useful to have the sourcemaps generated somewhere for future reference and uploading to New Relic.

[2017-11-07 08:30] magento-engcom-team commented on #6959
@schnappenberger, thank you for your report.
The issue is already fixed in 2.1.9

[2017-11-07 08:30] #6959 closed, assigned to magento-engcom-team

[2017-11-07 08:30] magento-engcom-team commented on #7295
@theodorhanu, thank you for your report.
We've created internal ticket(s) MAGETWO-83352 to track progress on the issue.

[2017-11-07 08:33] magento-engcom-team commented on #12064
@whereowareadmin, thank you for your report.
We've created internal ticket(s) MAGETWO-83355 to track progress on the issue.

[2017-11-07 08:36] gwharton commented on #12030
May be related to #10889 which is a similar problem where there is obviously some issue with xml file validation, but only in developer mode. Works fine in production mode.

[2017-11-07 08:39] gwharton commented on #10210
@magento-engcom-team Is there a process to follow to request the backporting of the above commit into 2.1 and 2.2. Apologies if it is covered somewhere, but I did search to no avail.

[2017-11-07 08:42] magento-engcom-team commented on #12055
@Prad2703 Please install fresh Magento, and try to reproduce this issue again and provide information needed to reproduce your issue.

[2017-11-07 08:43] lexwet commented on #11885
Same issue.
Magento 2.2.0
PHP: 7.0.24

Users can not proceed to Paypal.
"Please agree to all the terms and conditions before placing the order."

Is there any quick/hotfix for this issue?

[2017-11-07 08:45] Prad2703 commented on #12055
My website in live mode and about to start the business and there is no way for me to install fresh magento there. Hope you understand my point of view. If you have any knowledge why the errors appear there then I can debug it. So kindly provide me the debug guidance.

[2017-11-07 09:03] magento-engcom-team commented on #12053
@abelyanvahe, thank you for your report.
We've created internal ticket(s) MAGETWO-83358 to track progress on the issue.

[2017-11-07 09:35] vincentwinkel commented on #2354
Ok, you moved to forums, but where is the solution ?
I'm also facing this issue. I added an event to block some orders after save (with personal logics) and the payment observer always update them to processing state.

Same problem with quotes. For this one, I found a workaround creating a plugin aroundExecute() on the observer. A plugin on a observer... what's the next step ? Overriding xslt conf

[2017-11-07 09:44] magento-engcom-team commented on #11684
@ibrahimbm, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-07 09:44] #11684 closed, assigned to nobody

[2017-11-07 10:18] maximgubar opened #12073 "ProductRepository fails to load product with camelcase SKU"
### Preconditions

1. Magento 2.1 | 2.2 | 2.3.0-dev
2. PHP 7.1.9
3. MySQL 5.7.19

### Steps to reproduce

1. Create a simple product with the camel case sku (for example "Test")
2. Use get() method of \Magento\Catalog\Model\ProductRepository to get this product by sku, and specify the sku in lower case.

### Expected result

1. NoSuchEntityException is returned

### Actual result

1. Notice: Undef

[2017-11-07 10:22] josephmcdermott opened #12074 "Bundle Creditmemo zero quantity bug"
### Summary (*)
There is a bug when creating a creditmemo for a bundle product when all of its parts are set to 0 quantity. This can become an issue when you only want to refund the shipping of a bundle-only order, since rather than refunding the shipping the entire order is refunded.

For mixed bundle and other product type orders, the behaviour is as expected in the resulting creditmemo, however

[2017-11-07 10:30] magento-engcom-team commented on #8410
@natebatty, thank you for your report.
We've created internal ticket(s) MAGETWO-83363 to track progress on the issue.

[2017-11-07 10:30] magento-engcom-team commented on #12066
@pmoreno1980, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-07 10:30] #12066 closed, assigned to nobody

[2017-11-07 10:30] magento-engcom-team commented on #11695
@srenon, thank you for your report.
We've created internal ticket(s) MAGETWO-83361 to track progress on the issue.

[2017-11-07 10:30] magento-engcom-team commented on #11881
@sbwcws, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-07 11:17] Drakhunter opened #12075 "Customer Email with diacritics isn't allowed"
Magento2 doesn't allow E-Mails with diacritics in CURL Requests.
According to [wikipedia](https://en.wikipedia.org/wiki/Email_address#Internationalization) this should be allowed, but Magento is restricting it.

Is there a Fix or Workaround or something?

### Preconditions
1. Magento Version 2.1.8

### Steps to reproduce
1. get email address with diacritics (pepé@emailtest.com)
2. create json data

[2017-11-07 11:31] magento-engcom-team commented on #12074
@josephmcdermott, thank you for your report.
We've created internal ticket(s) MAGETWO-83375 to track progress on the issue.

[2017-11-07 12:06] magento-engcom-team commented on #12075
@Drakhunter, thank you for your report.
We've created internal ticket(s) MAGETWO-83378 to track progress on the issue.

[2017-11-07 12:29] JerVoo commented on #12055
@Prad2703 you just clarify what @orlangur was trying to say:

Have you tried the following:
1. Navigate (in the backend) to the Gems & Jewelry category
2. Click the save button, without changing any fields.

Does the message still appear?

If it doesn't, try to edit any other field and see if the message still appears.

[2017-11-07 12:30] magento-engcom-team commented on #12046
@Mgrennes, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-07 12:30] #12046 closed, assigned to nobody

[2017-11-07 12:30] magento-engcom-team commented on #11781
@deepak-netwin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-07 12:30] #11781 closed, assigned to nobody

[2017-11-07 12:42] alen9788 opened #12076 "new version"
When would the next CE version M2.2.x be issued?

[2017-11-07 12:43] orlangur commented on #11936
@maghamed are you referring to `getList` implementation only or `save` or any other method with attribute set-related logic shall be changed too?

[2017-11-07 12:46] orlangur commented on #12030
@gwharton there is no XSD validation in production mode :) Such crash does not indicate that something needs to be changed in Magento but rather in some custom XML configurations.

[2017-11-07 13:13] boehsermoe commented on #10041
I still have the problem in the current 2.2.0.0 Version. When will the fix released?

[2017-11-07 13:18] Nix-id commented on #5836
I have problem on M2.2.0 with cron job "indexer_update_all_views"
it's stuck in "running" status
also exists process
20404 ?        Ss     0:00 /bin/sh -c /usr/bin/php /home/mag/www/*/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /home/mag/www/*/var/log/magento.cron.log
20437 ?        S      0:05 /usr/bin/php7.0 /home/mag/www/*/bin/magento cron:run --group=index --bootstrap=standalonePr

[2017-11-07 13:23] magento-engcom-team commented on #12076
Thank You @alen9788 for your submission. The Magento 2 GitHub repository is used to capture code and documentation issues. Questions should be posted to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-11-07 13:23] #12076 closed, assigned to nobody

[2017-11-07 13:28] daniel-ifrim commented on #9205
Does this makes sense for you guys too ? I'd like your feedback. I haven't tested it too much but it appears to work on Magento 2.2.0.
In
`Magento\CatalogUrlRewrite\Observer\ProductUrlKeyAutogeneratorObserver`

Replace:
[code]
with:
[code]

[2017-11-07 13:30] magento-engcom-team commented on #8300
@joshspivey, thank you for your report.
The issue is already fixed in 2.1.9

[2017-11-07 13:30] #8300 closed, assigned to magento-engcom-team

[2017-11-07 13:32] magento-engcom-team commented on #11957
@ankursachdeva11, thank you for your report.
We've created internal ticket(s) MAGETWO-83382 to track progress on the issue.

[2017-11-07 13:33] RakeshJesadiya commented on #9307
I am also experiencing this issue, after upgrade from 2.1.3 to 2.2.0
Any update for this issue?

[2017-11-07 13:41] Tristan-N commented on #11375
Same issue here. Tried all of the above, still no functioning minicart.

PHP 7.0 and 7.1
Mysql 5.7
Magento CE 2.1.9

[2017-11-07 13:45] pardco commented on #10666
@mbrinton01 I have the same problem

[2017-11-07 13:57] Justin991q commented on #11853
I've got the same issue with Magento 2.1.9.

[2017-11-07 14:01] krutkoroma79911 commented on #12071
@Rockfordgun Hi. Did you enabled some options on admin  or change any settings when you installed fresh instance?

[2017-11-07 14:14] magento-engcom-team commented on #8222
Hi @Dart18
Thanks for reporting this issue.
Could you please let us know if the issue is still actual? Thank you

[2017-11-07 14:22] Rockfordgun commented on #12071
Hi Krut i didnt make any changes on the besides currency and then filled in all the general details but thats it

[2017-11-07 14:30] magento-engcom-team commented on #12073
@maximgubar, thank you for your report.
We've created internal ticket(s) MAGETWO-83383 to track progress on the issue.

[2017-11-07 14:30] magento-engcom-team commented on #12067
@archonkulis, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-07 14:30] #12067 closed, assigned to nobody

[2017-11-07 14:30] Tristan-N commented on #11375
I figured out that once created an override for minicart.js and it didn't get updated like @orlangur mentioned

I checked the difference between the files (original in vendor folder and custom in app/design) (using diffchecker.com) to see what happened and updated the override.

After that I followed @fendowuk's advice:

To finish it all I cleared local browser cache and looked again and guess wha

[2017-11-07 14:31] 100rabhMisra commented on #5260
I have also faces this issue. I did it everything all suggestions but still faces same issue yet.. Anybody have another suggestion .. my issue is also - i have not resetting password from the admin side as well as frontend also..
Kindly give me suggestions what I do ?

[2017-11-07 14:38] magento-engcom-team commented on #8088
Hi @sergei-sss
It is not a bug.
You should add extension attribute like this
[code]

[2017-11-07 14:42] maghamed commented on #11936
About getList only. Regarding save - it's okay to prevent saving an AttributeGroup when attribute set id is not set, considering it as a required attribute.

[2017-11-07 14:42] mnuhell commented on #3759
This Patch is available to Magento 2.2?

[2017-11-07 14:45] Krapulat commented on #11853
Same issue in Magento 2.2.0

[2017-11-07 14:58] mihaifaget opened #12079 "Products in cart report error when we have grouped or bundle product"
When viewing the report 'Products in cart' the report gives error if we have a bundle or a grouped product in cart.

## Preconditions

Magento Version 2.1.9
## Steps to reproduce

Add a grouped or a bundle product to cart. Go to admin->Reports->Marketing->Products in cart and loop through pages or export to csv/excel.
## Expected result

Should see the Products in cart report or download csv/xml
#

[2017-11-07 15:01] marilena6 opened #12080 "Magento 2.1.4 and Authorize.net error: "Please enter a valid card number""
I am using Magento 2.1.4 on Php 7.0.12 and I face the following issue:

![authorizenet-invalid](https://user-images.githubusercontent.com/10513470/32500160-718dba2c-c3cc-11e7-992d-504dff9217ac.jpg)

I have searched everywhere, found this issue mentioned but nor resolved.

Please someone give an update on this?

[2017-11-07 15:15] gwharton commented on #10889
So, I picked out the xsd's from Magento 2.1 (and magento 2.0) and validated the default.xml from the above example against them and it fails to validate in the same way.

The only thing I can imagine is going on is in 2.1 the xsd validation was not being carried out properly and it was allowing the remove attributes as above when it shouldn't have.

Now that the xsd validation is working properly

[2017-11-07 15:29] orlangur commented on #10889
Exactly, we figured it out in some issue here right after 2.2 release. No such info in release notes though.

[2017-11-07 15:30] magento-engcom-team commented on #8088
@sergei-sss, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-07 15:39] jhruehl opened #12081 "Magento 2.2.0: Translations for 'Item in Cart' missing in mini cart."
Since updating one of our stores to Magento 2.2 the translations for 'Item in Cart' are not compiled into the var/view_processed/pub/static/frontend/{Magento-Theme}/{language code}/js-translation.json files, though the translations for 'Items in Cart' are correctly loaded.

### Preconditions
1. Magento 2.2.0
2. PHP 7.0 and 7.1 (different local setups and different testservers)
3. MySQL 5.5.5-10.1.

[2017-11-07 15:44] DogSports commented on #11654
I have exactly the same problem.

[2017-11-07 15:50] magento-engcom-team commented on #8268
Hi @albertixcom
We are not responsible for the generated Java code.
If you identify an error in the magentо code, please let us know.
The method "catalogProductRepositoryV1GetGet" works fine on generated api client on php for 2.1.9 version.

[2017-11-07 15:55] topranavp1 commented on #9954
I am having the same issue and using the default magento2 htaccess, but still I am getting the same error.

[2017-11-07 16:01] magento-engcom-team commented on #12080
@marilena6 Please install fresh Magento, and try to reproduce this issue again.

[2017-11-07 16:04] Cornel99 commented on #11853
Hello everyone,

I solved the issue following the post of @tadhgbowe on Jun 1st.

Here it is:
"Great! The fix is below. Sorry I don't have time to follow up myself. What would be even more amazing is to be able to track MAGETWO-69601 somewhere. When the ticket has been resolved it would be great if the original source (i.e. here) could be updated with the Magento release versions that contained th

[2017-11-07 16:04] #11853 closed, assigned to nobody

[2017-11-07 16:04] magento-engcom-team commented on #11816
@paveq Can you please provide, basic steps to reproduce, screenshots will be helpful too, and which file did you use to check the problem?

[2017-11-07 16:30] magento-engcom-team commented on #8268
@albertixcom, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-07 16:30] #8268 closed, assigned to magento-engcom-team

[2017-11-07 16:30] magento-engcom-team commented on #11880
@apedicdev, thank you for your report.
We've created internal ticket(s) MAGETWO-83395 to track progress on the issue.

[2017-11-07 16:30] magento-engcom-team commented on #2228
@luckyraul, thank you for your report.
We've created internal ticket(s) MAGETWO-44935 to track progress on the issue.

[2017-11-07 16:33] gwilliams01 opened #12083 "Cannot import zero (0) value into custom attribute"
When using the Admin product import feature it is not possible to import a zero (0) value into custom attribute field. Instead the value is unchanged.

### Preconditions
Magento 2.1.9

### Steps to reproduce
1. Create custom attribute using Text Field input type
2. Create product import CSV with "additional_attributes" column populated "custom_attribute_code=0"
3. Import - Entity Type "Products" -

[2017-11-07 16:42] Detzler opened #12084 "Product csv import > fail on round brackets in image filename"
### Preconditions
1. Magento 2.2.0
2. PHP 7.1.11
3. Ubuntu 14.04.5 LTS

### Steps to reproduce
1. Create a product csv file

sku | ...other required columns... | base_image
--- | --- | ---
12345 | ...... | myimages/image(1).jpg

2. Create an image file with round brackets under: var/import/myimages/image(1).jpg
3. Goto Magento Backend > System > Import > Product
4. Set the import behaviour accordi

[2017-11-07 16:48] klakovskiy commented on #4492
@magento-engcom-team,
I reproduced this issue, please reopen.

### Preconditions

1. Fresh Magento 2.2.1 CE or 2.1.9 CE

### Steps to reproduce

1. Add one any subscriber.
2. Add new user role "TestRole" with all Roles Resources exclude System node.
3. Create new user "TestUser" and grant new role "TestRole" to this user.
4. Logout.
5. Login as new user "TestUser".
6. Go to  Marketing -> Newslette

[2017-11-07 16:49] joshuaadickerson opened #12085 "Source generation failure with hirak/presstisimo plugin"
I tried to do a composer install and I get an error from Magento. It's failing on the hirak/presstisimo plugin that allows parallel Composer install.

### Preconditions

1. `composer global require hirak/prestissimo`
2. Magento 2.2
3. PHP 7.1

### Steps to reproduce

1. Run `composer global require hirak/prestissimo`
2. Run `composer install -o`

### Expected result

1. No errors on install

### A

[2017-11-07 16:56] trufla opened #12086 "Inactive Catalog Price Rules - Magento EE 2.1.7"
After adding Catalog Price Rules, they are inactive. In order to make them active it is required to schedule an update and run indexer:reindex. The problem is the Rule is still not active unless we change value of field is_active to 1 manually in table catalogrule.

During the debugging I discovered that Collection is generated based on condition SELECT `main_table`.* FROM `catalogrule` AS `main_t

[2017-11-07 16:58] ghost opened #12087 "Unable to insert widget with text value which contains }} string"
### Preconditions

1. Magento 2.4-develop

### Steps to reproduce

1. Go to admin **Content -> Pages**
1. Click **Add New Page**
1. Set **Page Title** to `Page Title`
1. Expand **Content** section
1. In the content field, click **Insert Widget** button
1. Choose any widget which has at least one text input, e.g. **Catalog Products List**
1. Set widget title: `Title}}`
1. Click **Insert Widget**
1.

[2017-11-07 17:23] Krapulat commented on #11853
Thanks @Cornel99. It worked!

[2017-11-07 17:59] The-Krang opened #12088 "Images added to a page using Admin, disappear from Frontend after logging out of Admin."
Clean install of version 2.2.  I am using the Open Source version, that was installed using Softaculous.

On a Linux-based web host.

In the cPanel, 1H Software PHP version Manager shows PHP version 7.1.

phpMyAdmin Web Server PHP shows up as version: 5.6.30. I don't know how to upgrade that yet.

No theme chosen for the store.

The only external thing I have is a module installed and enabled. It

[2017-11-07 18:29] abolivar opened #12089 "Error update to 2.2.1, module-signifyd 100.2.1 not found"
### Preconditions

1. PHP 7.1.7
2. MySQL 5.7.19

### Steps to reproduce

1. Edit composer.json "magento/product-community-edition":  from "2.2.0" to "2.2.1"
2. composer update

### Expected result

1. Update to 2.2.1

### Actual result

1.   Problem 1
    - Installation request for magento/product-community-edition 2.2.1 -> satisfiable by magento/product-community-edition[2.2.1].
    - magento/pro

[2017-11-07 18:36] #8846 closed, assigned to gomencal

[2017-11-07 19:01] kfriend commented on #11411
Any status update on this?

[2017-11-07 19:22] okorshenko commented on #12017
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-07 19:22] #12017 closed, assigned to nobody

[2017-11-07 19:23] okorshenko commented on #11700
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-07 19:23] #11700 closed, assigned to RomaKis

[2017-11-07 19:24] okorshenko commented on #7995
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-07 19:24] #7995 closed, assigned to crissanclick

[2017-11-07 19:24] okorshenko commented on #11996
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-07 19:24] #11996 closed, assigned to manuelson

[2017-11-07 19:28] okorshenko commented on #7903
The issue has been fixed and delivered to 2.1-develop branch. Will be available with next 2.1 release

[2017-11-07 19:28] #7903 closed, assigned to nobody

[2017-11-07 19:49] gx2g commented on #11347
please fix this, my company is having the same issue and we are live taking orders.

[2017-11-07 20:48] jissereitsma commented on #12089
I'm bumping into the same issue here, and this is stopping me from upgrading to 2.2.1 which is supposed to fix high security issues. Could it be that the issue here is that the `signifyd` module is still at version `100.2.0-dev`? https://github.com/magento/magento2/blob/2.2.1-preview/app/code/Magento/Signifyd/composer.json#L20

[2017-11-07 20:52] nelero commented on #12089
just received the email for new security updates.
And same problem... So much problem everytime in upgrading magento 2.x
how can we solve this ?

[2017-11-07 20:56] Stevie-Ray commented on #12089
https://github.com/magento/magento2/blob/2.2.1/app/code/Magento/Signifyd/composer.json#L20

[2017-11-07 21:00] Kipperlenny commented on #10821
Same with ispconfig and a fresh Magento 2.2 Installation.
Setting `include_path = "."` in Sites->Web Domain->Options->Custom php.ini settings helped me.

I think it's not about Backwards incompatible changes, it's an Installation Requirement.

[2017-11-07 21:03] rosen4o commented on #12089
I have found dirty fix for the issue
Copy folder from Magento 2.2.1 version to your for example 2.2.0 version
vendor/magento/module-signifyd

Open file
vendor/composer/installed.json

And place after module-shipping

{
            "name": "magento/module-signifyd",
            "version": "100.2.1",
            "dist": {
                "type": "zip",
                "url": "https://repo.magento.co

[2017-11-07 21:12] jissereitsma commented on #12089
Thanks @Stevie-Ray, so my comment is pointless. I referred to a different tag because I did not see `2.2.1` (yet). I think the solution of @rosen4o is kind of hacky. I'm now trying to add a new section to my `repositories` section in my `composer.json`:

[code]

[2017-11-07 21:22] Stevie-Ray commented on #12089
@jissereitsma adding a shasum to the "dist" works!
` "shasum": "370e54c1f1cc00ea441f3ac99e3a6932ce9866ea"`

[2017-11-07 21:36] kanduvisla commented on #5495
Why is this issue closed without any comment? I am curious about if this is intended behavior or if there is any workaround for this. I agree with the original issue that the result is not what you would expect.

[2017-11-07 21:53] nelero commented on #12089
tried @jissereitsma with "reference": null instead of "master" => KO
tried to add "version_normalized": "100.2.1.0", below "version": "100.2.1", => KO

inspired with the vendor/composer/installed.json from 2.2.1 zip

[code]

[2017-11-07 22:07] piotrekkaminski commented on #12089
This seems to be permission issue. Some folks cannot access 2.2.1, some cannot access Signifyd 100.2.1. However if i try with other keys, i see both properly. We are working to resolve that.

[2017-11-07 22:11] heldchen opened #12090 "getPriceFormat calculates wrong precision in CentOS when using some special currencies"
for currencies that have Swedish rounding (https://en.wikipedia.org/wiki/Cash_rounding), `Magento\Framework\Locale\Format::getPriceFormat()` returns the wrong number precision in some operating systems (tested with CentOS)

### Preconditions
1. Magento 2.2.0
2. PHP 7.0.19
3. CentOS Linux 7 (Core)

### Steps to reproduce
1. set store locale to `de_CH`
2. check html source for `/checkout/cart/` and

[2017-11-07 22:15] stevekarwacki commented on #11374
Can confirm this issue happens on CE and EE

[2017-11-07 22:51] okorshenko commented on #11347
hi @gx2g feel free to join code review and testing of proposed solutions (see linked Pull Requests)
Please let us know if the proposed solution works for you
Thank you

[2017-11-07 23:20] #10583 closed, assigned to YevSent

[2017-11-07 23:21] okorshenko commented on #4004
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-07 23:21] #4004 closed, assigned to nemesis-back

[2017-11-07 23:21] okorshenko commented on #10583
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-08 00:08] fooman commented on #12089
I have attached the signifyd package from my composer cache (usual caveats not from the source, etc... so apply as many checks as needed to compare against the code from the repository, alternatively you should be able to zip up this [folder](https://github.com/magento/magento2/tree/2.2.1/app/code/Magento/Signifyd))

[2d7c6066042fd4b5f390baf35c558ba3ca481061.zip](https://github.com/magento/magento

[2017-11-08 00:28] lee586 commented on #12089
Same here. magento/product-community-edition 2.2.1 requires magento/module-signifyd 100.2.1

[2017-11-08 01:15] gilbertsohal commented on #10754
@magento-engcom-team @orlangur

Have you fixed this issue? I still facing same issue in 2.1.10 Please help?

[2017-11-08 01:32] fooman commented on #12089
@MageSuper repo.magento.com is different for each user (as it holds your Magento Marketplace purchases in addition to Magento itself, or also Magento Commerce if you are an Enterprise customer) - it seems they have an issue with not all users having the same packages available to them when they should.

[2017-11-08 01:44] MageSuper commented on #12089
@fooman It seems only the mentioned module, as the upgrade went successfully without any issue.

[2017-11-08 02:38] mangamuri commented on #10825
We are having this issue in 2.1.5, we are calling  Order API , any help here is appreciated

[2017-11-08 02:50] smartakshay commented on #10821
Hi. Does anyone know what needs to be done for AWS? We are facing the same issue. Any help will be greatly appreciated. Thank you.

[2017-11-08 03:57] kienmba opened #12093 "[Update to 2.2.1] - Can not access website."
### Preconditions

1. PHP 7.0.6
2. MySQL 5.0.12

### Steps to reproduce

1. composer require magento/product-community-edition 2.2.1 --no-update
2. composer update
3. rm -rf var/di var/generation
4. php bin/magento cache:flush
5. php bin/magento setup:upgrade
6. php bin/magento setup:di:compile
7. php bin/magento indexer:reindex
8. php bin/magento setup:static-content:deploy -f
==>> Done!

### Exp

[2017-11-08 04:08] kientran175 commented on #12093
Look forward to a response or a solution from the community.
Thank you so much!

[2017-11-08 04:21] piotrekkaminski commented on #12089
@fooman thanks for explaining that, this is true.

We have some caching issue on our side and not all accounts were updated with permissions for the new release or signifyd module. We are working to find and eliminate the root cause but in the meantime:

- you can try to generate a new set of keys on Magento.com ->My Account -> Marketplace. Did not test it but it might work. And use those keys in

[2017-11-08 04:53] amithlalalj opened #12094 "magento 2.1.9 Cart Line Items not showing in paypal page"
**Preconditions**
Mgento2.1.9
PHP Version 7.0.25

**Steps to reproduce**
Checkout With paypal pro(all in one solution)
The page will redirect to paypal account page there we can see the product details
after successful payment the customer and merchant will receive an email from paypal which contail all detail about the purchace including the products details

**Expected result**
The paypal page s

[2017-11-08 05:37] thomvanderboon opened #12095 "Update 2.2.1: One or more integrations have been reset because of a change to their xml configs."
I have a integration configured (System -> Integration). After update to 2.2.1 it keeps complaining about "Reauthorisation", but when you try to reauthorize this fails without any error message.

### Preconditions
1. Ubuntu 16.04 LTS
2. MariaDB 10.2
3. PHP 7.0.22

### Steps to reproduce
1. Have integration user configured before update
2.  Update to 2.2.1
3. Try to reauthorize integration

### Exp

[2017-11-08 06:08] brijeshcody opened #12096 "Authorization.net response show <H3>The following errors have occurred.</H3>(253) , not getting sucess message."
Magento version 2.1.3

### Steps to reproduce

1.Order place via Authorization.net payment and Payment cut and order show in order history tab but transaction id and success message not getting..i get only below response in html mode.

transact.dll :response
<HTML><BODY><H3>The following errors have occurred.</H3>(253) Your order has been received. Thank you for your business!<BR></BODY></HTML>

P

[2017-11-08 06:16] bondimedical3 commented on #12095
I reported this in M2.2.0 - they still haven't fixed it

[2017-11-08 06:20] bondimedical3 commented on #12089
I get the same error message at the readiness check
![magento 2 2 1 bug](https://user-images.githubusercontent.com/10808588/32534303-165f894a-c4a9-11e7-8568-f526b12698e9.jpg)

[2017-11-08 06:37] mamreezaa commented on #11488
@FrankRuis
This blog might help you.
https://belvg.com/blog/magento-2-oversell-fix.html

[2017-11-08 06:41] art6495 commented on #80
Hello,
I want to remove sku during  product import using csv in magento, Can you please check it??

[2017-11-08 06:41] hirensutariya1 opened #12097 "Exception: Warning: array_replace_recursive(): recursion detected in vendor\magento\module-config\App\Config\Type\System.php on line 152"
I have installed fresh magento2.2 and i try to configure youtube api key when i click on save config i got
Exception: Warning: array_replace_recursive(): recursion detected in vendor\magento\module-config\App\Config\Type\System.php on line 152.
### Preconditions

Magento Version : 2.2.1
PHP Version : 7.0.4
SQL Version : 5.7.11

### Steps to reproduce
Change in configuration and save it

### Expect

[2017-11-08 06:45] Serhiy-Nazarov commented on #12089
same problem with clean install from metapackage
![image](https://user-images.githubusercontent.com/5140009/32535061-2c17eeaa-c461-11e7-826a-f307ed18a243.png)

[2017-11-08 06:52] bondimedical3 commented on #12089
@fooman how can I zip up that module?

[2017-11-08 07:15] magento-engcom-team commented on #12093
@kientran175 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-08 07:25] magento-engcom-team commented on #12097
@hirensutariya1, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-11-08 07:30] avstudnitz commented on #12089
Workaround if you don't need the `signifyd` module: Add it to your "replace" section in the composer json as follows:
[code]

[2017-11-08 07:32] magento-engcom-team commented on #12096
@brijeshcody, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2017-11-08 07:35] refaelgold commented on #12089
@avstudnitz . K , i did it for now for temporary solution . After the issue will be  fixed, i need to put the original composer.json who come with M2.2?

[2017-11-08 07:36] jissereitsma commented on #12089
@avstudnitz Your solution works for me as well! Thanks!

[2017-11-08 07:38] Yasp0 commented on #11966
I just found out that my products on the English storeview in the category show the prices including and excluding tax (like I want to). But on the product detail page it shows the price excluding tax.

**In the backend it says the product has no tax class.**
![image](https://user-images.githubusercontent.com/5689226/32536525-20dfd856-c45f-11e7-9eb7-616ef8bb896d.png)

**The product in the category

[2017-11-08 07:41] magento-engcom-team commented on #12079
@mihaifaget, thank you for your report.
We've created internal ticket(s) MAGETWO-83435 to track progress on the issue.

[2017-11-08 07:42] avstudnitz commented on #12089
@refaelgold IMO this is the best way to remove unneeded modules. If you don't need that module as well, I'd leave that change in your composer.json. The composer.json is made for modification, your changes can stay. If you need the signifyd module, you should revert the change later of course.

[2017-11-08 07:50] kientran175 commented on #12093
@magento-engcom-team , thank you for reply.
I developed the theme, my current version is 2.2.0. I upgraded to 2.2.1 and had trouble getting backend and frontend without any content!
I upgraded with composer follow step have provided.

[2017-11-08 07:51] magento-engcom-team commented on #12094
@amithlalalj , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] St

[2017-11-08 08:06] prestashoppay commented on #10363
@vrann ,

I am using magento 2.1.6 version , in my admin panel having images on each and every products , but frontend image path didn't created a folder '"cache/f073062f50e48eb0f0998593e568d857" ..

Please give a solutions .

[2017-11-08 08:09] ebaschiera commented on #11347
I confirm that https://github.com/magento/magento2/pull/11602 works fine.

[2017-11-08 08:22] magento-engcom-team commented on #12087
@marcel-moldovan-vm, thank you for your report.
We've created internal ticket(s) MAGETWO-83438 to track progress on the issue.

[2017-11-08 08:24] magento-engcom-team commented on #12086
Thank You for applying @trufla . The functionality You have mentioned above (Schedule New Update) is not available in Community Edition versions of Magento. Therefore please address Your issue directly to Magento Support.

[2017-11-08 08:24] #12086 closed, assigned to nobody

[2017-11-08 08:45] magento-engcom-team commented on #6007
Hi @koenner01
Thanks for reporting this issue.
Could you please share you code for reproduce the issue.

[2017-11-08 08:45] amithlalalj commented on #12094
**Magento Version :2.1.9**
On checkout with paypal pro(Paypal all in one) paypal details page not showing the product details in the cart the paypal only display the product name and price there is no product sku and products varients like color size which is shown in the mini cart
After placing an order with paypal the customer will receve an email from paypal which contain the order details in o

[2017-11-08 08:45] shinesoftware opened #12098 "Administration Grid is truncated (style issue)"
# Preconditions

Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento 2.2.0-dev
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper
HEAD -> develop

# Steps to reproduce

Go to the administration login page
Click on Sales > Invoice (menu)

[2017-11-08 08:53] pier28inc commented on #5247
Fresh install on Debian with PHP7.1 and Magento CE 2.2.1.  Same result.  Cache Management, Backups, and Index Management are the only options under the Tools menu.  We've delayed over a year upgrading out of Magento 1.9.X because of this issue and the product is still not usable.  There's no way that we'll ever spend the money to upgrade to be a paid customer when the codebase is this bad for this

[2017-11-08 09:16] magento-engcom-team commented on #12084
@Detzler, thank you for your report.
We've created internal ticket(s) MAGETWO-83445 to track progress on the issue.

[2017-11-08 09:17] mayankzalavadia commented on #12089
@refaelgold Thank you so much. Your solution works for me too.

[2017-11-08 09:20] davidegiunchidiennea commented on #12089
@avstudnitz we didn't really need the signifyd module, so your solution works good! thank you.

[2017-11-08 09:30] magento-engcom-team commented on #8627
@azeemism, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-08 09:30] #8627 closed, assigned to nobody

[2017-11-08 09:30] magento-engcom-team commented on #10461
@CatherineLearmonth, thank you for your report.
We've created internal ticket(s) MAGETWO-83133 to track progress on the issue.

[2017-11-08 09:42] magento-engcom-team commented on #12098
@shinesoftware, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
See
![invoices_0891277983](https://user-images.githubusercontent.com/31669971/32541893-aef5bc40-c479-11e7-9ab2-1e96e32e08d4.png)
Please check this problem in incognito mode in your browser.

[2017-11-08 09:49] craigcarnell commented on #12089
Same problem here

[2017-11-08 10:05] jissereitsma commented on #12089
@craigcarnell Same solution?

[2017-11-08 10:18] josephmcdermott commented on #12074
Thanks for creating a ticket on this and I look forward to progress updates.

It appears as though the issue stems from \Magento\Sales\Model\Order\CreditmemoFactory::canRefundItem where the `$qtys` variable contains 0 for all of the children (because the intention is not to refund the bundle parts), so as a result the entire bundle parent becomes 'non-refundable' and as a result is not included in

[2017-11-08 10:29] mayankzalavadia commented on #12089
Hello All,

If you don't need the `signifyd` module: Add it to your "replace" section in the composer json as follows:.
[code]
Above Solution is provide by @refaelgold. And I personally use this and it's working. But in case If you want to use `signifyd` module then you just need to follow simple step.

1. Go to vendor/composer/ folder.
2. Open installed.json
3. Find `"name": "magento/module-shipp

[2017-11-08 10:30] fascinosum commented on #12089
The issue of availability of the module has been resolved. Please check upgrade Magento to version 2.2.1

[2017-11-08 10:34] ziiljuks commented on #12093
For 2.2 you have to delete different folders.
I usually delete:

- var/page_cache
- var/cache
- var/composer_home
- generated/code
- generated/metadata
- var/view_preprocessed

[2017-11-08 10:37] ghost opened #12099 "Back-office : cannot search customer by wildcard "*""
In back-office, searching customers with keyword: * displays an error "Something went wrong"

### Preconditions
1. Magento 2.1.3 EE
2. PHP 7.0.16
3. Apache/2.4.10 (Debian)
4. Redis enabled
5. All Caches enabled

### Steps to reproduce
1. In the back-office, go to Customers > All Customers
2. In the search-bar, type the single character : * and press enter

### Expected result
1. Customers should b

[2017-11-08 10:37] romainruaud opened #12100 "Compilation not generating factories declared in di.xml"
Hello everybody, we are facing an issue related to compilation :

Precondition is the following :

- **Production mode**
- **Read only /var/generation/ (or /generated) directory** (which is the official recommendation afaik).
- **Some factories declared only in di.xml**

It seems that Magento does **not** generated those factories since they are not used in any ```__construct()``` call but only de

[2017-11-08 10:41] marilena6 opened #12101 "Magento 2.1.4 upgrade to latest version"
Magento:

I am trying to update the magento via Web Setup Wizard and every step is passed except this:

Check Component Dependency
We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

Problem 1

[2017-11-08 10:44] Rann1 commented on #11696
@vodanh109 Where exactly did they mess up ? Having the same issue here with Templatemonster theme... Can't the exact error location yet.

[2017-11-08 11:08] gwharton commented on #10663
Please note this is present on 2.1 and 2.2, and presumably 2.3 aswell.

[2017-11-08 11:18] magento-engcom-team commented on #12081
@jhruehl, thank you for your report.
We've created internal ticket(s) MAGETWO-83448 to track progress on the issue.

[2017-11-08 11:24] peterjaap opened #12104 "Mview changelog tables are gone when they shouldn't be"
### Preconditions

1. Magento 2.1.9 (maybe other versions as well)

### Steps to reproduce

1. Run `php bin/magento ind:show`
2. If mode is update on save ('realtime'), run `php bin/magento ind:set-mode schedule`
3. Run `echo "show tables like '%_cl'" | mysql magentodatabasename`
4. `_cl` tables should exist for every indexer
5. Run `php bin/magento ind:set-mode realtime`
6. `_cl` tables should st

[2017-11-08 11:25] COTIGA commented on #12089
Today the update works
[code]

Composer update indicates:
`  - Installing magento/module-signifyd (100.2.1): Downloading (100%)
`

[2017-11-08 11:27] magento-engcom-team commented on #12095
Hello @thomvanderboon. Thanks for reporting. Please tell us what was Your previous version You've been upgraded from to 2.2.1.

[2017-11-08 11:35] maderlock commented on #3789
This is actually in the release notes for 2.1.10, so perhaps it's finally happened!

[2017-11-08 11:54] magento-engcom-team commented on #12083
@gwilliams01, thank you for your report.
We've created internal ticket(s) MAGETWO-83453 to track progress on the issue.

[2017-11-08 12:05] Blatant commented on #11989
We have been able to recreate this issue using latest Magento ver. 2.2.1 (this mornings release) and Php 7.1.11. We can confirm it does not occur on PHP 7.1.8.

In our case the symtoms are slightly different as an empty DOB is allowed, however saving the customer with a blank DOB in the admin panel results in the above error message `main.CRITICAL: Exception message: Warning: A non-numeric value e

[2017-11-08 12:08] FrankRuis commented on #11488
Thanks, that's exactly what I need

[2017-11-08 12:19] joni-jones commented on #12094
@amithlalalj, this is expected behavior, Magento sends only item name, quantity and price.

Also, PayPal supports the limited list of product attributes (see https://developer.paypal.com/docs/classic/api/merchant/SetExpressCheckout_API_Operation_NVP/#deprecated-payment-details-item-type-fields), there are not separated fields for sku, color, etc.

[2017-11-08 12:21] ludwig-gramberg commented on #7298
what we just discovered is this:

we had custom-redirects for category-urls as a means of redirecting traffic for disabled categories.
when we reenabled the categories the custom entries remained and magento is "blind" and doesnt recognize them and promptly walks into the dreaded duplicate key error.

[2017-11-08 12:21] thomvanderboon commented on #12095
Upgrade 2.1.9 -> 2.2.0 without problems
Update 2.2.0 -> 2.2.1 gave this error

I use composer to update magento via the command line

[2017-11-08 12:30] magento-engcom-team commented on #10902
@AirmanAJK, thank you for your report.
We've created internal ticket(s) MAGETWO-83457 to track progress on the issue.

[2017-11-08 12:35] magento-engcom-team commented on #6945
Hi @lerhum
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-08 12:35] #6945 closed, assigned to victor-v-rad

[2017-11-08 12:36] salelsol commented on #11575
I´m now upgrading from 2.1.9 to 2.2.1 and I´m same issue. When we add a product to shopping cart, cshopping cart is empty:
![cart_2_2_1](https://user-images.githubusercontent.com/16081377/32549448-c6220daa-c489-11e7-8bf6-0bd683939130.jpg)

[2017-11-08 13:01] blewinsky commented on #7411
This issue i'm getting with an update to Magento EE 2.1.10 within module `"magento/module-deploy": "100.1.6"` someone knows if there is a fix for it?

[2017-11-08 13:15] adick commented on #7411
Having the same issue after upgrading from 2.1.7 to 2.1.10

[2017-11-08 13:16] magento-engcom-team commented on #12099
@quentinfarizon, thank you for your report.
We've created internal ticket(s) MAGETWO-83465 to track progress on the issue.

[2017-11-08 13:26] dough14 commented on #8893
@magento-engcom-team this issue still happen in the version 2.1.8

To reproduce it follow the steps listed bellow.

1 - Create a category
2 - Create a product and disable it
3 - Associate the product to the category created in the step 1

If you try to access the category you will see the error mencionated by @albert-elcorriol

[2017-11-08 13:31] magento-engcom-team commented on #12104
Hello @peterjaap. Thanks for reporting. We can not reproduce Your issue. No matter how tried the _cl tables permanently remained  there after they had been created. Your steps to reproduce are really clear. Seems there are some other crucial factors causing this issue. Could You please provide us some additional information You deem as some that could influence the issue.

[2017-11-08 13:36] magento-engcom-team commented on #11284
Hi @mritu19
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-08 13:36] #11284 closed, assigned to nobody

[2017-11-08 13:41] matin73 commented on #12095
same error for me - fresh installation 2.2.0 yesterday - today update to 2.2.1.
One or more integrations have been reset because of a change to their xml configs.
Magento Social

[2017-11-08 13:50] andkirby commented on #11248
Thank you, team!

[2017-11-08 13:51] alemartinezz commented on #4425
@lfritsche If you remove fields from this file, you'll get an error in checkout because Magento searches for the fields you removed. The only solution is make the plugin, but where is it supposed to be inserted?? in di.xml?? and how you determine the path to disable company and postcode??@nickmarx12345678
Indeed, is incredible how Magento turn the simplest tasks in the hardest.
I hope someone can

[2017-11-08 13:54] zajazdowicz commented on #11398
same issue here

[2017-11-08 14:01] twosg commented on #3596
Just have the same problem.
Magento 2.1.9 installed with composer.

It happens when I try to open an order view in admin, where the payment method was Braintree PayPal.

[2017-11-08 14:04] magento-engcom-team commented on #11913
@rpm68 please provide full link  that you used for polish language pack from  github.com installation. We will try investigate the situation with the pack.

[2017-11-08 14:30] magento-engcom-team commented on #6092
@fooman, thank you for your report.
We've created internal ticket(s) MAGETWO-83472 to track progress on the issue.

[2017-11-08 14:30] magento-engcom-team commented on #5927
@rasmuswikman, thank you for your report.
We've created internal ticket(s) MAGETWO-83467 to track progress on the issue.

[2017-11-08 14:51] asrenzo opened #12110 "Missing cascade into attribute set deletion"
### Preconditions

1. Create a custom attributes set
2. Attach some products to this attributes set

### Steps to reproduce

1. Got to attributes set admin page
2. Delete your custom attributes set
3. Confirm you want to remove attached products also

### Expected result

1. Table url_rewrite should be cleaned from references to removed products
2. A new product named like an old one should be ins

[2017-11-08 14:58] magento-engcom-team commented on #12095
@thomvanderboon, "One or more integrations have been reset because of a change to their xml configs" message is really there after update, but the user created in a previous version has not needed any reauthorizing. Or even if to have reauthorize that user, one is successfully reauthorized. Do You mean Your integration user can't work with Magento after the upgrade? If so, please provide us how Yo

[2017-11-08 15:08] omiroshnichenko commented on #8421
Hi, @speedupmate did you try to place sortOrder inside config? Example:

[2017-11-08 15:20] meezin commented on #5408
@magento-engcom-team Hi there! It doesn't fix in 2.1.9

[2017-11-08 15:30] magento-engcom-team commented on #8286
@mattwellss, thank you for your report.
We've created internal ticket(s) MAGETWO-71678 to track progress on the issue.

[2017-11-08 15:30] magento-engcom-team commented on #6412
@ktruehl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-08 15:30] #6412 closed, assigned to nobody

[2017-11-08 15:43] leoquijano commented on #12095
Hello,

I have the same issue, starting when I upgraded 2.1.9 to 2.2.0. We're not using Magento Social at the moment, and would like to keep the integration off for the moment. Is there any way of removing it, or at least the error message?

[2017-11-08 15:47] matin73 commented on #12095
I could solve it. i do know if it helps, but i changed api key and password für repro with
composer config http-basic.repo.magento.com xxx yyy
then i rerun
composer require magento/product-community-edition 2.2.1 --no-update
composer update
php bin/magento setup:upgrade

and then i logged in in admin, same error message but then i refreshed api of facebook social store and now message is gone ...

[2017-11-08 16:16] ihor-sviziev commented on #8094
@korostii this issue was fixed in 2.2.0
https://github.com/magento/magento2/search?q=MAGETWO-63154&type=Commits&utf8=%E2%9C%93

[2017-11-08 16:21] georgios-2317 commented on #11700
Are you sure this is fixed and done?!
Just tried the changes from https://github.com/magento/magento2/commit/4904b3d0f0e73d9a7452407c5162c2d55b04b049 and the error persists.

[2017-11-08 16:23] bvboas opened #12112 "2.2.1 Cannot set production mode. Error compiling"
### Preconditions
1. An upgraded installation from 2.2.0 to 2.2.1.

### Steps to reproduce
1. Unfortunately I haven't deployed the production mode in the 2.2.0 version, so I don't know if the error was thrown already
2. The upgrade from 2.2.0 to 2.2.1 went without any issue, done using composer.
3. When trying to set the store to production mode, I get an error in the command line

### Expected re

[2017-11-08 16:29] adamlavery opened #12114 "Customer group pricing for grouped products not working sensibly"
### Preconditions
1. Magento OS 2.2

### Steps to reproduce
1. Create additional customer group and assign customer to group.
2. Create a group product with two simple products
3. Using Advanced Pricing, assign different prices to the group for each simple, with quantity set to 1 (minimum allowed)
4. Login as customer and view grouped product.
5. Add product to cart.

### Expected result
1. At ste

[2017-11-08 16:40] magento-engcom-team commented on #11624
@rishabhchd19, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-08 16:40] #11624 closed, assigned to nobody

[2017-11-08 17:00] memz84 opened #12116 "SSL certificate problem: unable to get local issuer certificate"
hi

  When i tried to put the (public and private) Access key in Magento 2x
for  :

It shows me this error message "SSL certificate problem: unable to get local issuer certificate" ...

can you tell me what to do??

[2017-11-08 17:35] ankursachdeva11 opened #12117 "Unable to POST images to product via REST API"
### Preconditions
1. Magento 2.2.1

### Steps to reproduce
Making POST Call to /V1/products/{SKU}/media
with POST data:

{
  "entry": {
    "media_type": "Image",
    "label": "test1",
    "position": 0,
    "disabled": 0,
    "types": [
      "image"
    ],
    "file": "test.gif",
    "content": {
      "base64_encoded_data": "data:image/gif;base64,R0lGODlhPQBEAPeoAJosM//AwO/AwHVYZ/z595kzAP/s7P+g

[2017-11-08 17:37] ankursachdeva11 commented on #12117
Tested with Magento 2.1.9 but still not working.

Please verify this issue and let me know if i missed something.

[2017-11-08 17:39] treii28 opened #12118 "/setup breaks upgrading from 2.1.9 to 2.2.1"
I'm in the process of setting up a new magento 2 site. Initially I set up the latest download from the magento website (2.2.0 at the time) but learned that the template we wanted to use was configured for 2.1.9 but claimed it could be upgraded 2.2.x after the template was installed. So I rebuilt the site as 2.1.9 from scratch and just initiated the upgrade (via the setup wizard url).

It seems to

[2017-11-08 17:53] treii28 commented on #12118
OK, experimenting around, I'm assuming the long-running apache processes were likely just static content rebuilding, although individual apache and php processes still occasionally spike high upon navigating around.
I was able to get setup to fix itself by Ctrl-F5 (force reloading) the page in my browser. Still keeping an eye on performance issues to see if they eventually settle down.

[2017-11-08 18:11] rpm68 commented on #11913
I used this language package:    github.com github.com   I installed package via manual method by copying files to Magento directory and then issuing commands in bash (as described in documentation of package).   Magento answered with information that it did a lot and then brand new  fresh shop was working - empty but working.   R.

                  Dnia 8 listopada 2017 15:04 Magento Community E

[2017-11-08 18:15] treii28 commented on #12118
Still having very slow responses, trying the various 'setup' left-bar options one by one. Most loaded and the processes settled down in under a minute, but the #system-config (last/bottom) option kept running for over 10 minutes with the spinning animated 'waiting/loading' indicator. I did a ctrl-F5 on that and it too eventually reloaded.
Going back through the items again, they aren't taking as l

[2017-11-08 18:41] mattcoz opened #12119 "User redirected to account page when trying to checkout"
### Preconditions
1. Magento 2.2
2. PHP 7.0.10

### Steps to reproduce
1. Log in
2. Add item to cart
3. Go to checkout

### Expected result
1. Able to proceed through checkout

### Actual result
1. User is redirected to account page

The cause seems to be a "401 Unauthorized" response to /rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id

[2017-11-08 18:52] treii28 commented on #12118
definitely something going on there you might want to look into. The themes I had installed at the time btw included the Novetty theme from zooextension (off of themeforest / envato) and the ves_need (venus themes need) off of the magento marketplace.
Since it is a new install, I tried downloaded a 2.2.1 package itself, backed up the existing folder and database (again) and re-installed from scrat

[2017-11-08 19:27] gx2g commented on #11347
what do you mean it says on that page that the issue can be replicated in all version of magento 2 it seems. plus the solution is on hold until 2.2 pr?

[2017-11-08 19:53] okorshenko commented on #11197
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-08 19:53] #11197 closed, assigned to nobody

[2017-11-08 19:54] okorshenko commented on #7225
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-08 19:54] #7225 closed, assigned to MartinPeverelli

[2017-11-08 20:03] magento-engcom-team commented on #8800
@bartlubbersen, thank you for your report.
We've created internal ticket(s) MAGETWO-83474 to track progress on the issue.

[2017-11-08 20:09] gx2g commented on #10084
yeah I'm having this same issue with customers as well. the fact that we can't change error messages at checkout makes our life very hard when dealing with customers. the idea is for the customer to make the transaction not shy away because the default error messages are to vague and make the platform look buggy.

[2017-11-08 20:11] p3kyle opened #12121 "Logo Size and add code to the head has no effect"
### Preconditions

1.  Magento 2.2.1 hosted on MageMojo

### Steps to reproduce

1. Go to content > design > configuration > edit > Choose Luma, try changing the logo size and adding code to the header
2. Flush Cache and Cache Storage if not in developer mode
3. Check frontend

### Expected result

1. The logo size should change and the css file should be included in the <head> tags like it does i

[2017-11-08 20:29] gx2g commented on #11347
@ebaschiera @okobchenko  what files to I update I don't understand when look at the linked pull requests I am not seeing a solution to the problem can you guide me on what files I need to update or where I can copy and paste them into my site files. I don't see any solution I may not be understanding pull requests.

[2017-11-08 20:43] ebaschiera commented on #11347
@gx2g if you installed Magento with Composer, you can apply the PR as a patch into your Magento project. Please see this [link](https://punkt.de/en/blog/2017/patches-with-composer.html) for more information.
The patch from the PR would be this: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/11602.patch
You will have to rename the paths inside the patch to make it work with cwea

[2017-11-08 20:52] aohlrogge commented on #12032
I am having this exact same problem.  I have increased the expiration and timeout in the Store Configuration, however no matter what they are set to I always get "oauth_problem=Consumer+key+has+expired"

[2017-11-08 20:53] thaddeusmt commented on #8892
Even if the Magento ProductVideo module is enabled but the `gallery.phtml` block that it adds is moved or removed, you will get this error.

Kind of a silly dependency, I feel like this call to `AddFotoramaVideoEvents()` should be added to the `swatch-renderer.js` file via a mixin.

Anyway, my fix was to override the `swatch-renderer.js` file (copy it to `Magento_Swatches/web/js/` in my theme) and

[2017-11-08 20:59] cykirsch commented on #2916
@magento-engcom-team I don't see any referenced commits. So no specific changes were made, you just noticed it was fixed in 2.3? Can you figure out what the difference is and backport to 2.2 and 2.1? This is really important and several people in both this thread and in the forum thread have made excellent points describing its importance.

[2017-11-08 21:00] cykirsch commented on #2916
@MomotenkoNatalia

[2017-11-08 21:05] thaddeusmt commented on #6195
Just FYI, it appears that the way to change this functionality in your theme has changed a bit. The `change_only_base_image` option is gone. Now, in your theme's `view.xml`, you need to add this:

[code]

The default is `replace`, which `prepend` is overriding.

It appears that the Swatches module knows to look for this single setting, and you only need to set it on the ConfigurableProduct module.

[2017-11-08 21:08] nelero commented on #11885
same problem for other payment methods except checkmo. (Monetico CM CIC payment for our case).
This was functional in 2.1.9 but not now on CE 2.2.1 version.

[2017-11-08 21:17] mattcoz commented on #12119
I wrote a plugin to debug the parameters and result of the isAllowed function of PolicyInterface, here is what I got:

[code]

Does this help?

[2017-11-08 21:32] testmagento2 commented on #12030
Where do I Remove not allowed attribute. I tried to to from the admin I had one that shouldn't be there. I need more help about that ?

Thanks

[2017-11-08 21:42] bondimedical3 commented on #12095
@leoquijano to switch it off you can disable the Magento Social module from your Web Setup Wizard.

[2017-11-08 21:43] leoquijano commented on #12095
So ```php bin/magento module:disable Magento_Social``` also would work?

[2017-11-08 21:47] bondimedical3 commented on #12095
Sorry but I did not test it with the cli but let me know how it goes.

[2017-11-08 22:18] crowebar commented on #9326
Looks like it has been discussed previously
https://github.com/magento/magento2/pull/9378

[2017-11-08 23:19] mattcoz commented on #2856
Any chance of porting this fix back to 2.2?

[2017-11-08 23:51] #12030 closed, assigned to nobody

[2017-11-08 23:52] grasdaggel commented on #5927
Really curious what causes this issue.

In every (!) installation of mine I'm able to regenerate LESS the following way in developer mode:

[code]

as intial step. After that, all I have to do is:

`$ rm -rf var/cache/* var/page_cache/* var/view_preprocessed/* pub/static/*`

That said, I have disabled just a few caches to speed up developing to its most efficiency in my cases, but maybe here is th

[2017-11-09 00:00] scrivvles opened #12124 "Product EAV index throws error with GTID consistency"
Attempting to reindex the Product EAV when binary logging or replication is enabled on MySQL 5.7throws a SQL error.  This same type of error is thrown when attempting to create a new category.

### Preconditions
1. Environment is NGINX 1.10.3 on Ubuntu 16.04.3 LTS running PHP7.0-fpm on a Google Cloud instance.
2. MySQL version is 5.7 running on Google Cloud Platform SQL

### Steps to reproduce
1.

[2017-11-09 01:04] george-vlahakis opened #12125 "Checkbox in (quote) Address form has double label"
When adding a checkbox through the LayoutProcessor the checkbox is rendered with a double label.

It seems that Magento team has it as default behaviour even in their sample [here](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_form.html) however I do not believe this is correct behaviour.

![Sample](http://devdocs.magento.com/common/images/how_checkout_form.png)

### Precondition

[2017-11-09 01:21] ghost opened #12126 "Merge JS is counter-intuitive"
### Preconditions
1.  Magento 2 latest, or any really

### Steps to reproduce
1. Start in developer mode
2. Enable JS merge, bundling, minification or some combination
3. Save Config
4. Note that no JS files were generated, ok
5. Deploy static files, still no JS
6. Deploy production mode
7. Now save the JS merging config page/settings
8. Suddenly merged JS files appear

### Expected result

I expe

[2017-11-09 02:35] okorshenko commented on #11880
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 02:35] #11880 closed, assigned to p-bystritsky

[2017-11-09 03:01] COYktercero commented on #9700
We are experiencing this issue as well.  We can see in checkout errors via Google Analytics.  I see these errors being generated but I do not know how to trigger/replicate.  I do not have any files in /var/report/api folder past 9/22/2017 even though error is being generated daily.

Version:  Magento Commerce 2.1.9
![error](https://user-images.githubusercontent.com/25631637/32586422-46cea6de-c4b7-

[2017-11-09 03:32] kaseyfurlong commented on #9700
Adding eServices to copy.

Thank you,

Kasey Furlong | Account Executive

M: 813.362.5918
T: 800.430.1312

From: COYktercero [mailto:notifications@github.com]
Sent: Wednesday, November 08, 2017 10:02 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: Kasey Furlong <kfurlong@jaggedpeak.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Check out error: Internal Error.

[2017-11-09 03:36] tstamplis commented on #12112
Same issue here, upgrading from 2.2.0 to 2.2.1.

[2017-11-09 04:17] heldchen commented on #10673
nope - this is not fixed in 2.2.1

[2017-11-09 04:27] erfanimani opened #12127 "Apostrophe in attribute option value in admin is not handled properly"
### Preconditions
1. Magento 2.1 and 2.2
2. Chrome 62

### Steps to reproduce
1. As an admin, go to Stores -> Attributes -> Products -> Manufacturer
2. Add a new attribute option called "Nature's Way Supplements"
3. Hit "Save and continue"
4. Hit "Save and continue" again

### Expected result
1. In the admin, the attribute option value text input should say "Nature's Way Supplements"
2. If you che

[2017-11-09 05:54] thomvanderboon commented on #12095
If you have no other integrations running `php bin/magento module:disable Shopial_Facebook` will solve the problem

[2017-11-09 06:29] #11756 closed, assigned to nobody

[2017-11-09 06:40] magento-engcom-team commented on #12110
@asrenzo, thank you for your report.
We've created internal ticket(s) MAGETWO-83507 to track progress on the issue.

[2017-11-09 06:41] wildcard27 commented on #10175
Is there any fix for this yet?? Our client is currently losing orders due to this bug

[2017-11-09 06:49] #11738 closed, assigned to nobody

[2017-11-09 06:54] ankursachdeva11 commented on #12117
Found an issue
"media_type": "image"

[2017-11-09 06:54] #12117 closed, assigned to nobody

[2017-11-09 06:56] ankursachdeva11 opened #12128 "Types are not getting selected When image POST call via rest API"
Preconditions

Magento 2.2.1
Steps to reproduce

Making POST Call to /V1/products/{SKU}/media
with POST data:

{
  "entry": {
    "media_type": "image",
    "label": "test1",
    "position": 0,
    "disabled": 0,
    "types": [
      "thumbnail"
    ],
    "file": "test.gif",
    "content": {
      "base64_encoded_data": "Endcoded Data",
      "type": "image/gif",
      "name": "test.gif"
    }

[2017-11-09 07:10] magento-engcom-team commented on #12095
@thomvanderboon could You be more clear please, the problem is only in that message appearing or Your integration user created in previous versions doesn't work.

[2017-11-09 07:17] omargits opened #12129 "We can't add this item to your shopping cart right now. Magento 2.2.1"
Magento 2.2.1 fresh installation with composer and also with zip but having same issue. once you logged in you cant add to cart product.

**We can't add this item to your shopping cart right now.**
from var/log here is information
[2017-11-09 07:01:51] main.CRITICAL: Validate class not found from basename 'Magento\Framework\Validator\EmailAddress' {"exception":"[object] (Zend_Validate_Exception(co

[2017-11-09 07:18] bondimedical3 commented on #12095
@leoquijano the answer provided by @thomvanderboon works

[2017-11-09 07:51] joni-jones commented on #10084
Hi, we are working on payment error messages customization. Unfortunately, I can't provide in which release it will be published but we are planning to do it in one of the next patch releases.

[2017-11-09 08:06] RomaKis commented on #8421
@omiroshnichenko, yes, I tried to do it like you propose, but it doesn't work. If you are sure that you are right, pls give all detailed steps.

[2017-11-09 08:09] magento-engcom-team commented on #12121
Hello @p3kyle. Thank You for reporting. Could You please try to reproduce Your issue on a clear fresh Magento install?

[2017-11-09 08:09] omiroshnichenko commented on #8421
Did you clear cache after that and check that sortOrder property is present in JS component instance?

[2017-11-09 08:15] RomaKis commented on #8421
@omiroshnichenko, I cleaned all caches and static content. What do you mean  under :

? If you are talking about new item "new_component", so yes, sortOrder for this item is present.

[2017-11-09 08:21] magento-engcom-team commented on #11688
@Minnie1302, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-09 08:21] #11688 closed, assigned to nobody

[2017-11-09 08:24] omiroshnichenko commented on #8421
In chrome browser you can install knockout context debugger, on page that you modify configuration, select html node that correspond to your modified component and check in context debugger tab sortOrder of your component.

[2017-11-09 08:30] magento-engcom-team commented on #12090
@heldchen, thank you for your report.
We've created internal ticket(s) MAGETWO-83513 to track progress on the issue.

[2017-11-09 08:31] magento-engcom-team commented on #12114
@adamlavery, thank you for your report.
We've created internal ticket(s) MAGETWO-83514 to track progress on the issue.

[2017-11-09 08:37] erfanimani commented on #12127
I've added a pull request here: https://github.com/magento/magento2/pull/12133

[2017-11-09 08:41] RomaKis commented on #8421
@omiroshnichenko, as a said, sortOrder is present for new item "new_component"
![sort_order_screenshot](https://user-images.githubusercontent.com/17450979/32595964-6973ef54-c53a-11e7-9962-01303a6b67f2.png)

[2017-11-09 08:57] omiroshnichenko commented on #8421
@RomaKis Also add sortOrder to summary. Example:
[code]

[2017-11-09 09:01] magento-engcom-team commented on #7879
Possible duplicate #7720

[2017-11-09 09:19] magento-engcom-team commented on #12127
@erfanimani, thank you for your report.
We've created internal ticket(s) MAGETWO-83519 to track progress on the issue.

[2017-11-09 09:24] RomaKis commented on #8421
@omiroshnichenko, yes, exactly this is described in issue description.
In short, "summary" doesn't have sortOrder in app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml and merchant want to change sort order for his element but he can't do it without adding in his code SortOrder for "summary" as here:
[code]

[2017-11-09 09:24] shinesoftware commented on #12098
I have discovered that the problem is a css class at **.admin__data-grid-wrap**
If I disable the overflow-x all works as well.

![selezione_080](https://user-images.githubusercontent.com/1553035/32597844-2c8fdf00-c538-11e7-8d8e-44636213e4db.png)

[2017-11-09 09:30] magento-engcom-team commented on #7874
@devonto, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-09 09:30] magento-engcom-team commented on #7879
@ochnygosch, thank you for your report.
We've created internal ticket(s) MAGETWO-83254 to track progress on the issue.

[2017-11-09 09:30] magento-engcom-team commented on #7971
@camaech, thank you for your report.
We've created internal ticket(s) MAGETWO-83515 to track progress on the issue.

[2017-11-09 09:44] nmallepally commented on #10162
Hi @magento-engcom-team  ,

The issue again occurred today, any work around solution please.
This is causing a big headache with big orders as customers gets notified by email as an order is placed.
Magento 2.1.6
see below again for screen shots
![image](https://user-images.githubusercontent.com/19605497/32598662-387d163a-c532-11e7-80fd-3e535afe2673.png)

![image](https://user-images.githubusercon

[2017-11-09 09:46] magento-engcom-team commented on #12085
@joshuaadickerson, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-09 09:46] #12085 closed, assigned to nobody

[2017-11-09 09:48] magento-engcom-team commented on #12085
@joshuaadickerson, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-09 09:49] magento-engcom-team commented on #12129
@omargits, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-09 09:49] #12129 closed, assigned to nobody

[2017-11-09 09:54] omargits commented on #12129
I installed same version on second server it producing there also with same process. in google there are many links exist which also reporting this issue but that mostly for 2.2. one thing can you guide me so i can detail checking and shared with more detail with you

[2017-11-09 09:59] magento-engcom-team commented on #11913
@rpm68  Look please at the result of search -[search]( https://github.com/search?utf8=%E2%9C%93&q=polish+pack&type=). There are many polish packs on github.com. Please clarify you comment above.

[2017-11-09 10:13] Tjitse-E commented on #11899
@DavaGordon how did you find out it was the MageWox module? I'm running into the same issue but I haven't found the error yet.

[2017-11-09 10:20] magento-engcom-team commented on #12128
@ankursachdeva11 We can not reproduce your issue. We assume that you are using the wrong POST request.
Here is our POST request test-magento.com/index.php/rest/all/V1/products/Test Product/media
with POST data:
{"entry":{
"media_type": "image",
"label": null,
"position": 1,
"disabled": 0,
"types":[
"image",
"small_image",
"thumbnail",
"swatch_image"
],
"file": "test.jpg",
  "content": {
      "bas

[2017-11-09 10:36] ankursachdeva11 commented on #12128
Thanks

[2017-11-09 10:36] #12128 closed, assigned to nobody

[2017-11-09 10:52] magento-engcom-team commented on #7868
Hi @magenx
Could you please let us know if the issue is still actual? Thank you

[2017-11-09 10:59] rpm68 commented on #11913
I put a link to package previously. As I see Github does not like URL in mail response.   Once again:   https :// github.com / SnowdogApps / magento2-pl_pl   Or just plain name - Snowdog version of polish interface.   R.

[2017-11-09 11:05] Rann1 commented on #10972
To be honest, as webbuilder, i'd excpect composer to update everything that is needed. Including the JS files.

I currently have the same issue as @bjoern-flagbit mentioned on his last (oct 4) post.
There is a misc.js file in vendor/magento/magento2-base/lib/web/mage/utils/misc.js but not in the pub/static folders.

I've compared the files in vendor/magento/magento2-base/lib/web/mage/utils/misc.js

[2017-11-09 11:24] TomashKhamlai commented on #2666
Hello @romeof1980! You should be able to perform import on Magento 2.2.0. I think that you have problems in Step 5 of the instruction.
Instruction:
1. Connect to your local or remote server using command line interface.
2. Switch to the Magento file system owner
(`sudo su magento` in my case). On Ubuntu 'magento' user is a member of the 'www-data' group. On CentOS 'magento' user is a member of 'ap

[2017-11-09 11:30] magento-engcom-team commented on #12112
@bvboas, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.2.1

[2017-11-09 11:30] #12112 closed, assigned to nobody

[2017-11-09 11:30] magento-engcom-team commented on #7824
@vjacquemin-sqli, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10

[2017-11-09 11:30] #7824 closed, assigned to magento-engcom-team

[2017-11-09 11:30] magento-engcom-team commented on #7859
@duffner, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-09 11:30] magento-engcom-team commented on #7873
@devonto, thank you for your report.
We've created internal ticket(s) MAGETWO-83530 to track progress on the issue.

[2017-11-09 11:30] magento-engcom-team commented on #12032
@ajayak, thank you for your report.
We've created internal ticket(s) MAGETWO-83526 to track progress on the issue.

[2017-11-09 11:30] magento-engcom-team commented on #12112
@bvboas, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.2.1

[2017-11-09 11:38] selusi commented on #11453
@sbaixauli the error is only displayed if you type a url without a store code.
es: http://www.mystore.com

[2017-11-09 11:46] orlangur commented on #10972
@Rann1 files are materialized dynamically, https://github.com/magento/magento2/tree/2.2-develop/pub/static is empty as well.

[2017-11-09 12:13] DavaGordon opened #12138 "DOB formatting / update issue"
### Preconditions

1. 2.2.0 RC3

### Steps to reproduce

1. Login
2. Account Information
3. Save

### Expected result

1.  DOB should be updated

### Actual result

1. Enter 27/05/1986 save and upon page load has been reset to 24/06/1986

[2017-11-09 12:28] Prad2703 commented on #12055
I followed the instructions. Error is still display there. Any opinion there?

[2017-11-09 12:33] epixeltechnologies opened #12140 "How to reduce HTTP requests in magento2?"
I have merged js and CSS with production mode. But still I can see many http requests js and css files. How can i reduce the http requests of js and css in magento2?

[2017-11-09 12:36] maderlock commented on #9177
Ah, it's "correct Magento behaviour". That would explain the problems I'm having.

[2017-11-09 12:38] maderlock commented on #7232
Will re-test on the installation that was causing the issue now that we have upgraded to 2.1.9

[2017-11-09 12:55] alexdpunkt opened #12142 "Missing variable initialization in AddToWishlist.php"
### Preconditions
1. Magento CE 2.1.10
2. PHP 7.0.22

### Steps to reproduce
Nothing to reproduce. Look at the file `vendor/magento/module-wishlist/Block/AddToWishlist.php`.
Around line 60, data is pushed to the `$productTypes` variable which has never been initialized before. Result is a PHP error.

Fix: define `$productTypes` variable before the loop.
[code]

### Expected result
The code should

[2017-11-09 12:57] onepack commented on #11948
We had the exact same issue. Maybe my feedback can help.
We had:
PHP 7.0
Magento 2.2

I decided to upgrade to the latest magento 2.2.1 version in the hope this was a bug in the release and the upgrade would make things right.
What I found out during the upgrade process is that all caching seemed enabled in the backend the var/cache directory was empty! There was no file or directory. Weird is cach

[2017-11-09 13:08] theodorhanu commented on #12112
Same problem here. Production mode already set.
When I try to run bin/magento setup:di:compile the following error appears:
 `Fatal error:  Cannot use Magento\Framework\App\Helper\Context as Context because the name is already in use in /var/www/html/vendor/magento/module-customer/Model/AttributeChecker.php on line 11`

I searched for that script and  found this **unused** include in
**vendor/mage

[2017-11-09 13:09] Mulderua opened #12143 "Cannot get customer custom address attribute from quote_address"
### Preconditions
1. Magento EE 2.1.9

### Steps to reproduce
1. Create customer address custom attribute for example "my_attribute"
2. Create plugin for example Magento\Quote\Model\Quote\Address::afterGetAllItems
3. Try to get your custom attribute

`public function afterGetAllItems(\Magento\Quote\Model\Quote\Address $subject, $items) {
        $myAttribute = $subject->getCustoMAttribute("my_attr

[2017-11-09 13:30] magento-engcom-team commented on #11404
@heyepic, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-09 13:30] #11404 closed, assigned to nobody

[2017-11-09 13:35] JanisE opened #12146 "Customer with empty "Date of Birth" cannot be saved"
Customer with empty "Date of Birth" cannot be saved even when it is not marked (or checked on the JS side) as mandatory.

I didn't know how to re-open issue #11989 so I'm creating a new one. Now, I'm installing the latest Magento version (2.2.1), which has the same problem. The PHP version might be important (as pointed out by @Blatant at https://github.com/magento/magento2/issues/11989#issuecomme

[2017-11-09 13:36] JanisE commented on #11989
Re-created the issue at #12146.

[2017-11-09 13:38] pioneerathletics commented on #10084
Hi @joni-jones,

That's fantastic! Can you answer if it will be released with a 2.1.x patch, hopefully not just a 2.2.x patch?

[2017-11-09 13:39] magento-engcom-team commented on #12140
@epixeltechnologies , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-09 13:39] #12140 closed, assigned to nobody

[2017-11-09 13:48] andrewhowdencom opened #12147 "The function "isUsingStaticUrlsAllowed" (configuration setting "cms/wysiwyg/use_static_urls_in_catalog") doesn't have any effect with the WYSIWYG editor image insertion"
### Preconditions

1. 2.2.1
2. PHP 7.x

### Steps to reproduce

1. Set the setting "cms/wysiwyg/use_static_urls_in_catalog"
2. Add an image using the WYSIWYG editor in the admin panel
3. Observe that the directive style URL is returned, not the static URL

### Expected result

1. The static URL (i.e. media URL without transformation) should be returned

### Actual result

The directive URL is retu

[2017-11-09 13:56] leoquijano commented on #12095
Thanks, everybody; it worked for me.

Any ideas why this isn't an opt-in feature? I'm thinking this may confuse some admins.

[2017-11-09 13:56] korostii commented on #7411
Hey @magento-engcom-team , can this issue be looked at again?
It seems to have resurfaced on 2.1.10

[2017-11-09 13:58] heldchen commented on #11280
yeah... that just doesn't work reliably it seems:
[code]
after updating 2.1 to 2.2.1, this has become even worse.

[2017-11-09 14:15] Rann1 commented on #10972
@orlangur as to be expected. Think I typed it a bit wrong in my post, I've edited it a bit to make it more clear.

As an average user I'd expect composer to update all the files, it does so with many plugins aswell but not with those folders/files ?

[2017-11-09 14:18] mageho commented on #7215
Same issue with our current installation : Magento 2.2.1

[2017-11-09 14:21] magento-engcom-team commented on #12098
@shinesoftware, thank for you responce. Could You please try to reproduce Your issue on a clear fresh Magento install?

[2017-11-09 14:36] DavaGordon commented on #11899
@Tjitse-E process of elimination i outputted the deployment function which worked fine up until that one so i disabled it and after this it deployed perfectly fine

[2017-11-09 14:38] TomashKhamlai commented on #2666
Hello again. @romeof1980, I changed my mind. Pay more attention to step 2, and even much more to step 6.
Try to perform import without folder structure, but modify CSV. You need to edit the relative path to image files:
/t/-/t-shirt-mo-prob-lama-gallery_1.jpg => /t-shirt-mo-prob-lama-gallery_1.jpg
Images should be placed in var/import folder.

[2017-11-09 14:41] joni-jones commented on #10084
@pioneerathletics, I'm not sure if it possible to do in a backward compatible way but we will discuss such possibility.

[2017-11-09 14:57] magento-engcom-team commented on #8790
@commalex , thank you for your report.
We were not able to reproduce this issue for the default theme in Magento by following the steps you provided.

So, please contact the support team of the Ultimo Theme Forest about the issue.

[2017-11-09 14:57] #8790 closed, assigned to nobody

[2017-11-09 14:58] magento-engcom-team commented on #11963
@iWEBproject, thank you for your report.
We've created internal ticket(s) MAGETWO-83549 to track progress on the issue.

[2017-11-09 14:58] MagePsycho commented on #9290
The Strange thing is Magento2 allows you to enter duplicate url-key from products. There is no any checks.

[2017-11-09 14:59] magento-engcom-team commented on #8790
@commalex, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-09 15:00] magento-engcom-team commented on #7237
hi @navarr
Thanks for reporting this issue.
Could you please share your module, which contain custom eav entity models and install script and example how do you save the entity.

[2017-11-09 15:00] magento-engcom-team commented on #8790
@commalex, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-09 15:06] helmsmantest opened #12148 "The way to pass more than one attribute in api function"
### Preconditions
Magento version 2.2
PHP Version 7.1.4
MySql 10.1.22-MariaDB

### Steps to reproduce
I'm trying to implement my custom module which using custom api according to the guidlines: http://inchoo.net/magento-2/magento-2-custom-api/ (because I did not find oficial guidelines, please provide me with the link if you can).
My module: https://github.com/helmsmantest/Openc_GCApi
But there ar

[2017-11-09 15:06] krutkoroma79911 commented on #12142
@adick agree with you. On 2.2 and 2.3-dev this problem does not exist. Should be fixed in 2.1 version.

[2017-11-09 15:10] pioneerathletics commented on #10084
I really hope you can, for us using 2.1.x this would be a huge improvement. In my opinion, you wouldn’t even really need to make a “customizable” error message, although it would be nice. Just a message that tells customers “We cannot complete your order please call [store phone number]” instead of the customer thinking there is an error on the server and thus the website.

[2017-11-09 15:12] helmsmantest commented on #12148
I'm using Magento 2.2

[2017-11-09 15:17] heyepic commented on #11404
You can use our store (it's on 2.2) and see this problem does exist though..

[2017-11-09 15:20] joni-jones commented on #10084
But such customization you can do even now. Not the best solution but you can use "around plugins" or provide own implementation for `PaymentInformationManagementInterface` or `GuestPaymentInformationManagementInterface` interfaces.

[2017-11-09 15:22] rigu12 commented on #11948
@onepack @victor-martinez-interactiv4
i will try to upgrade to the latest magento 2.2.1 version , hope can better.

[2017-11-09 15:29] Ruslan05 opened #12149 "Error message for user with restricted user role"
### Preconditions

1. Magento 2.2.1 CE without sample data.
2. PHP 7.0, apache, mysql 5.7.

### Steps to reproduce

1. Login to Magento 2 admin panel.
2. Go to System -> User Roles and create one role with some restriction. For example restrict 'System' tab.
3. Assign one of the user to created role(with restriction) from 2 step.
4. Login with user which has restricted role.

### Expected result

[2017-11-09 15:30] woakley commented on #6253
Any update on this?

Possibly the fix works for multi select but not for dropdown.

[2017-11-09 15:30] magento-engcom-team commented on #12142
@adick, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-09 15:30] #12142 closed, assigned to nobody

[2017-11-09 15:33] george-vlahakis opened #12150 "Error in Admin but nothing in exception log"
After upgrading to Magento 2.2.0 version, the exception log seems to be very limited in terms of entries for errors occurring.

For example, as I am building an extension I got the following error but there is nothing in the exception log.

![image](https://user-images.githubusercontent.com/13225297/32613485-b2241c7c-c573-11e7-94f6-58f69bb4ce3e.png)

Has something changed in terms of logging in Ma

[2017-11-09 15:33] thomvanderboon commented on #12095
@magento-engcom-team I stopped using the oauth from my integration, because communicating via REST using tokens had no drawbacks for me.

I am currently setting up a new testshop to test your question.  But have to do that next to my own work

[2017-11-09 15:41] georgios-2317 commented on #12149
It is a known bug which is fixed in 2.2.
See https://github.com/magento/magento2/issues/11700
And https://github.com/magento/magento2/commit/4904b3d0f0e73d9a7452407c5162c2d55b04b049

[2017-11-09 15:44] heyepic opened #12151 "FedEx Smart Post Injecting Despite an International Order (SmartPost is domestic US only)"
### Preconditions

1. Magento 2.2
2. PHP 7 / Linux
3. PayPal as merchant, FedEx as shipping service.

### Steps to reproduce

1. Enable SmartPost for Fedex Account (account/meter/hub)
2. Choose countries that Fedex can ship to (almost all countries)
3. Enable Ground, SmartPost, International, and many other Fedex shipping types

### Expected result

1. If domestic, show SmartPost and allows SmartP

[2017-11-09 15:49] meezin commented on #12114
@adamlavery Hi, There. I have been struggling with this problem so i'm about to use front-end trick : To show price(standard price) as default and additionally, i will add the tier price for a customer group based on a customer logging in currently, and i will show standard price with text-decoration : line-through . I don't understand why Magento2 team merged this function with the tier price. I

[2017-11-09 15:59] mattcoz commented on #12119
I've tried disabling all custom modules and third party modules, still get the same behavior.

[2017-11-09 16:23] ghost opened #12152 "Attention Something went wrong error is uninformative."
### Preconditions
1. Install M2

### Steps to reproduce
1. Could be anything, but cause some error in the backend to trigger this popup -
 "Attention

Something went wrong.
"

### Expected result
1. Any useful or actionable information.

### Actual result
Message is vague. So its on user to remember how they replicated issue, with no linked reporting information for a dev or other admin to check (

[2017-11-09 16:24] atsareva commented on #4057
Hi,
@viktor-zhuromskyy I've faced with the same problem. Did you find any solution to fix it? Thanks.

[2017-11-09 16:30] pioneerathletics commented on #10084
True, but as you say it's not the best solution. Either way implementing this in the native Magento install will be a large improvement in this area. I am excited to see when this is implemented-is there an internal ticket number for this so I can see the progress?

[2017-11-09 16:30] magento-engcom-team commented on #12149
@Ruslan05, thank you for your report.
We've created internal ticket(s) MAGETWO-73031 to track progress on the issue.

[2017-11-09 16:30] treii28 opened #12153 "leading slash keeps dropping off admin url"
I have run into this a number of times while testing 2.1.8, 2.1.9, 2.2.0 and 2.2.1

After installation, I manually type in http://my.domain.name/admin and the rewrite/route rule switches it to something like http://my.domain.nameadmin/?SID=0ae90tdlul4r9kkiaeoid0db34

In the most recent case I can add the '/' back in before the admin and it works, in prior version tests (2.1.8 for example) it would

[2017-11-09 16:39] tstamplis commented on #12112
Thank you for the work-around.  Any idea of the ramifications of this patch? Curious why Magento cannot reproduce.  Perhaps there is a 3rd party extension on our installs that is occupying the "context" already which makes this instance throw the error?

[2017-11-09 16:56] hmib commented on #5775
Hey guys,

Im also trying to figure out how to have limited countries in shipping address and all countries in billing address if customer selects to specify a different address for billing.
Is this expected in a future update or is it already there in magento 2.2.x