[2017-11-24 17:09] eCommerceGorilla commented on #12350
@magento-engcom-team re-open this was entirely unrelated to #12348 please read the entire issue before closing next time.

[2017-11-24 17:10] danemacmillan commented on #12432
More often than I'm comfortable admitting, I feel like the Magento team develops their code under the assumption that just a couple people with very few *wants* will ever browse a site at any given time. This is the feeling you get when reading through so many of the tickets here. So many of the problems just scream complete lack of planning for scale.

[2017-11-24 17:18] friimaind opened #12436 "Object of class Magento\Customer\Model\Data\Region could not be converted to string"
### Preconditions
Magento 2.1.9 CE

### Summary
There are many issues closed with the same error:
https://github.com/magento/magento2/issues/4187
https://github.com/magento/magento2/issues/4296
https://github.com/magento/magento2/issues/7387

On my magento installation I have italian customers who has "Italy" as shipping country. Italy does not have "region" information and this can cause the erro

[2017-11-24 17:19] friimaind commented on #4187
Reopened https://github.com/magento/magento2/issues/12436

[2017-11-24 17:19] friimaind commented on #4296
Reopened https://github.com/magento/magento2/issues/12436

[2017-11-24 17:19] friimaind commented on #7387
Reopened https://github.com/magento/magento2/issues/12436

[2017-11-24 17:23] southerncomputer commented on #12362
Since the session expiration is only set on login/checkout - i   suspect the regenerate is there to make sure you don't timeout during checkout!

[2017-11-24 18:13] alexpoletaev commented on #9106
Here is another issue [#5317](https://github.com/magento/magento2/issues/5317) and the [fix](https://github.com/magento/magento2/commit/adae1ed9c261598360afda66b3e86823259d47f5) for it.

[2017-11-24 18:16] magefan opened #12437 "Product Image Alt Text not used on product grid"
Magento 2 use product name instead of img alt text on product grid.

### Preconditions

1. Magento 2.2.1 (Luma theme)
2. PHP 7.0.22
4. OS Ubuntu 16.04

### Steps to reproduce
1. Set the alt text for product image (we used simple product for test)
2. Run reindex + flush cache
3. Look at alt tag for product image on product page - it's OK.
3. Look at alt tag for product image on category page - it u

[2017-11-24 18:35] palo commented on #12350
@eCommerceGorilla Magento 2.2.1 "quick strategy" seemed suspicious from the first time i saw it.

This solved **almost** all js translation problems:
`bin/magento  setup:static-content:deploy xx_XX --theme="vendor/theme" -s standard`

@magento-engcom-team should fix quick strategy deployment or update documentation including this _feature_ in http://devdocs.magento.com/guides/v2.2/config-guide/cli

[2017-11-24 18:40] versdivers commented on #7877
$store = $this->_storeManager->getStore(0);
$this->_storeManager->setCurrentStore($store);
see : https://magento.stackexchange.com/questions/147042/magento-2-import-script-store-id-related-issue

[2017-11-24 18:40] elevateweb commented on #12362
The regeneration of the session id is not there to make sure you don't timeout

If you google session_regenerate_id or session fixation or session hijacking

https://stackoverflow.com/a/22965580

You will find a load of good explanations on what the session regeneration is done for.

the session timeout should only occur after period of inactivity, so this should increase on every page not for exa

[2017-11-24 18:44] tomekjordan opened #12438 "Annoying delayed notifications at admin area - that moves content down"
Hi. This is not a bug, but annoying "feature". Screenshot: [http://prntscr.com/het06v](http://prntscr.com/het06v)
All M2 notification comes with delay 0.2-0.5s after page is loaded, it makes me crazy, when I like to click save, and the content goes down because of annoying notification is just showed on the page.
Please make it with better UX, increase Z-index with postion: fixed or just make it l

[2017-11-24 19:26] davidroberto commented on #11211
@latypatil, i had the same problem and was able to fix it with the small fix.

I know it's not perfect and that i should overwrite the core module in a custom plugin, but anyway i'll not need this fix anymore when i'll update the code with the new release containing the official fix.

In /vendor/magento/module-store/block/switcher.php, in getTargetStorePostData method, replace

`        return $th

[2017-11-24 20:42] jamie-on-git commented on #12402
@magento-engcom-team I am also encountering this issue with a fresh install of 2.2.1 with the following website/store/store-view modifications:

Single website with code  `base`
Two store's with codes `store_1` & 'store_2`
Store `store_1` has two store views with codes `store_1_my_catalogue` and `store_1_full_catalogue`
Store `store_2` has one store view with code `store_2_catalogue`

All store vi

[2017-11-24 21:01] adam-paterson commented on #5326
@pboisvert Has nobody been able to replicate this yet? Just as @snez mentioned this stems from:
`\Magento\Framework\View\Element\Template\File\Validator::isValid` with the line `$this->getRootDirectory()->isFile($this->getRootDirectory()->getRelativePath($filename));`.

Unless the mage root is defined in the requested path it is prepended. See @seyuf's comment for an example.

[2017-11-24 23:40] nfourteen opened #12439 "Newsletter subscription success email not sent after confirmation"
### Preconditions

1. Magento 2.2.1
2. Php 7.0

### Steps to reproduce

1. Change configuration under `Stores > Configuration > Customers > Newsletter > Subscription Options > Need to Confirm` to Yes
2. Sign up for Newsletter on frontend
3. Follow confirmation link in email

### Expected result

Should receive the Newsletter Subscription Success email.

### Actual result

No email is received, but

[2017-11-24 23:46] southerncomputer commented on #12362
https://www.google.com/search?client=firefox-b-1&ei=060YWu2bJoOIggeIoqqACA&q=session_regenerate_id+at+checkout&oq=session_regenerate_id+at+checkout

Regenerate session id is part of checkout success as part of clearing the session(contents) as far as *.php store code seems to discuss..

[2017-11-24 23:55] eCommerceGorilla commented on #12350
I wanted to update this with what I have found.

First, in 2.2.1 it appears that editing a language csv such as:
`app/design/frontend/Vendor/theme/i18n/en_US.csv`

Has no effect on js-translate.json files in regards to modules such as is the case with the checkout. However, this approach seems to update almost any other string inside the website.

Instead, what I had to do was the following:
1) cr

[2017-11-25 02:20] gvigner commented on #10641
It doesn't work and has been reported here:
https://github.com/magento/magento2/issues/12319

[2017-11-25 05:31] praveen-chelumalla commented on #6287
Thanx @Aresinho

[2017-11-25 05:32] sanjayjethva commented on #12411
Hi @fwolfst , I have tried flush cache. but its not working.

[2017-11-25 08:11] mindaji commented on #9833
aasim110: Could you let us know how to flush "eav_attribute_option_swatch"?

[2017-11-25 09:19] weynhamz commented on #12422
[code]

This is the 2.1.7 composer.json

[code]
This is the 2.2.1 composer.json

[2017-11-25 09:43] ihor-sviziev commented on #12404
It was also not clear for me why it red, I was thinking there is an error somewhere

[2017-11-25 10:02] LV2Code commented on #3899
Same here, working for a client who is shipping carrier  not able to print shipping labels

[2017-11-25 10:16] orlangur commented on #12437
It could be intentional system behavior, see https://github.com/magento/magento2/issues/9931#issuecomment-308108631

[2017-11-25 10:19] orlangur commented on #12411
@sanjayjethva do you have any third party modules installed? It would be worth trying to disable them for the sake of upgrade and then enable back one-by-one to find a problematic module.

[2017-11-25 10:22] orlangur commented on #12435
Looks like you need to increase memory limit according to the needs of your store, please check http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_php-set.html#trouble-php-memory

[2017-11-25 10:39] orlangur commented on #12432
Magento is designed with performance and scaling in mind indeed.

See https://github.com/magento/magento2/issues/8477#issuecomment-278637744 for more details behind such decision. You can change default `10000` value to whatever limit is better suitable for your particular store.

Please get back to here with feedback if it worked or not.

[2017-11-25 10:51] jalogut commented on #11396
This PR will fixes this issue:

* https://github.com/magento/magento2/pull/12410

[2017-11-25 12:30] barbazul commented on #12419
I haven't dug too deep into the code but it looks like when the filesystem mock is set up, `getDirectoryWrite` is expected to by called once https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/ProductVideo/Test/Unit/Controller/Adminhtml/Product/Gallery/RetrieveImageTest.php#L149

However, that method is only called if there is an exception: https://github.com/magento/magento2/blo

[2017-11-25 12:46] ferret-e commented on #11963
The same in 2.2.1, buth in production and developer modes.

[2017-11-25 12:59] jamie-on-git commented on #12402
I came back to this and the error occurs when the DOB field is empty, which get's passed through as an `empty string` to a filter which attempts to parse it as a date, eventually triggering an exception here:

[code]

Interestingly, entering a `1` into the field in the admin form allows a customer to be created, but parses the `1` as `1st January 2017` and sets this as the DOB.

I feel there is th

[2017-11-25 18:22] tomekjordan commented on #6018
Hi. tested M211 and this is still the main problem from UX perspective. Maybe automated tests shows it load fast, but what users sees is different. From my perspective M1 merchant. This is top prio issue to fix. I cannot move to M2 until this slow image + ugly loader will not be improved.

The common problem is that even 3rd party themes comes with THIS "feature" :)
If user want to see product pag

[2017-11-25 19:14] GuiltyNL commented on #6018
Why is this issue marked as closed? It is a bit weird that such an issue is being ignored, isn't it?

[2017-11-25 19:22] yumicom commented on #6018
I closed this issue - was forced to buy a third-party program to speed up the opening of fotorama product pictures. Thank you, Magento team ((

[2017-11-25 19:37] GuiltyNL commented on #6018
Which one did you buy @yumicom ?

[2017-11-25 19:49] yumicom commented on #6018
I bought Magic Zoom (not Plus).

[2017-11-25 19:50] GuiltyNL commented on #6018
Ok, that one was on my list too. Thanks!

[2017-11-25 20:41] wd7080 opened #12444 "I cannot add a content to Search Engine Robots"
### Preconditions

1. Magento ver. 2.2.1

### Steps to reproduce

1. Go to Content -> Configuration -> Search Engine Robots

### Expected result

1. Get the screen where you can add the rules you want.

### Actual result

1. It opens the "Search Engine Robots" screen but I cannot change it or add any rule as appears below. I wonder why?
![search engine](https://user-images.githubusercontent.com/33

[2017-11-26 03:15] testmagento2 opened #12445 "when proceed to checkout take very long and getting proxy error"
I have magento 2.2. so far work fine, but in the last week when I trying to add product to cart and click to proceed to checkout the page take very long time to load and after that getting proxy error.

![errorproxycapture](https://user-images.githubusercontent.com/33385380/33236836-14ec2f68-d22e-11e7-9a61-dfe2962d740c.PNG)

[2017-11-26 09:05] thomvanderboon commented on #12444
You cannot set it at the Storeview level, but you have to set it at the Website level

Solution is to change the scope from "Store View" to "Website"

Go to Content -> Configuration -> Select the Website (not the Storeview) -> Search Engine Robots

[2017-11-26 10:26] ferraramax commented on #10141
@prestashoppay, i have modified the function in previous post. Please update it. i think this version is better!

[2017-11-26 13:46] michel334 commented on #10162
We have the same issue on Magento 2.1.9
Order with status Payment pending and confirmation email is send.

[2017-11-26 13:57] wd7080 commented on #12444
From where to change the "Store View" to "Website"? See the picture below. I don't have this option under:
 Content -> Configuration
![i cannot see it](https://user-images.githubusercontent.com/33989344/33240662-6cdcc56a-d27f-11e7-8e9e-cfe17fe095dc.png)

[2017-11-26 14:28] king-themes commented on #12381
Eventually the culprit was found. Magento works behind a nodeBalancer who puts the problematic header. I changed the nodeBalancer configuration and the problem resolved.

[2017-11-26 14:29] #12381 closed, assigned to nobody

[2017-11-26 16:06] thomvanderboon commented on #12444
You are one step to far

Select the first one

![afbeelding](https://user-images.githubusercontent.com/16068454/33241873-fffb4fd2-d2cb-11e7-9c2c-771e7afc991f.png)

[2017-11-26 16:14] wd7080 commented on #12444
Thanks! But I have only configured the default store view. I did not do anything else with the first two rows as appears below. I left them as is. Do I have to configure those as well?

![this is what i have](https://user-images.githubusercontent.com/33989344/33241940-94794ffe-d292-11e7-9ee3-70350e88f962.png)

[2017-11-26 16:19] thomvanderboon commented on #12444
Yes.... you can change the setting for the robots at either the global level (first) or website (second).... You don't need to configure anything else at this level.

[2017-11-26 16:33] wd7080 commented on #12444
@thomvanderboon THANKS for the help!

[2017-11-26 16:36] wd7080 commented on #12444
Just for me to learn more about this, when do I have to configure the other settings in the first two rows of HTML head, header, footer etc.. ? For example, if I add different logos to row # 1 and row # 2 what will happen and where will that appear?

[2017-11-26 16:45] wd7080 commented on #12444
After adding the rule to the second row, I verified if it appears and I have visited my URL: https://www.domain.com/robots.txt

I did not see the rule I added which is:
[code]
Below is what I saw:

![default](https://user-images.githubusercontent.com/33989344/33242208-d15e141e-d296-11e7-83a2-e2f265bd4e77.png)

[2017-11-26 18:01] virgillong commented on #12339
getting error also

Fatal error: Cannot use Magento\Framework\App\Helper\Context as Context because the name is already in use in D:\xampp\htdocs\swd2\vendor\magento\module-customer\Model\AttributeChecker.php on line 11

I can remove the use statement for Context and works fine.

[2017-11-26 21:26] royandre commented on #6018
We are also writing our own image magnifier as the one bundled in Magento (even Magento Commerce) is simply useless due to this.

Need to cast a -1 to the Magento dev team on this one.

[2017-11-26 22:48] wd7080 opened #12446 "Remove /home from the sitemap.xml"
### Preconditions

Magento ver. 2.2.1

### Steps to reproduce

1. Visit your site sitemap at https://domain.com/sitemap.xml

### Expected result

1. You will see your sitemap.
2. You will see your homepage listed as https://domain.com/home

### Actual result

1. I want to remove /home from the sitemap.xml (I want the URL in the sitemap to be "https://domain.com" instead of "https://domain.com/home

[2017-11-26 23:51] syedsaleem086 commented on #11372
Hi @bmxmale

I tried your solution multiple times it didn't work for me
This is my server configuration
PHP 7.1
Magento2.2.0

[2017-11-26 23:54] syedsaleem086 commented on #11372
Hi @magento-engcom-team

I am able to reproduce this issue in both local and staging environment
PHP 7.1
Magento2.2.0
Operating system Ubuntu and Windows

[2017-11-27 00:08] syedsaleem086 commented on #11372
Hi @magento-engcom-team

Hope this may help your fix

`PHP Fatal error:  Uncaught Error: Call to a member function getPackage() on null in E:\xampp\htdocs\equip2go.com.dev\public_html\vendor\magento\module-deploy\Package\Processor\PostProcessor\CssUrls.php:215
Stack trace:
#0 E:\xampp\htdocs\equip2go.com.dev\public_html\vendor\magento\module-deploy\Package\Processor\PostProcessor\CssUrls.php(109):

[2017-11-27 02:10] versdivers commented on #9292
This has not been fixed in Magento 2.2.1.
How would this ever work??

(the code that it outputs)

You can not open with " and then define your path with "

[2017-11-27 02:20] wenpingguo commented on #9377
Check on this and Overwrite the template in your theme.
`vendor/magento/module-configurable-product/view/base/templates/product/price/final_price.phtml
`
line 22
`<?php if (!$block->isProductList() && $block->hasSpecialPrice()): ?>`

this statement makes the old price does not show in category page.

just change to the following to make it show category page
`<?php if ($block->isProductList() && $

[2017-11-27 03:44] Chris-2017 opened #12447 "Product Catalog images cannot be indexed"
### Preconditions

1. Magento 2
2. gallery

### Steps to reproduce

1. Images in product catalog page, image gallery code:
<script type="text/x-magento-init">
--
  | {
  | "[data-gallery-role=gallery-placeholder]": {
  | "mage/gallery/gallery": {
  | "mixins":["magnifier/magnify"],
  | "magnifierOpts": {"fullscreenzoom":"5","top":"","left":"","width":"","height":"","eventType":"hover","enabled":"f

[2017-11-27 03:45] Chris-2017 commented on #12447
Images shown in JS like https:\/\/www.mysite.com\/pub\/media\/catalog\/product\/cache\/thumbnail\/88x110\/beff4985b56e3afdbeabfc89641a4582\/2\/0\/251\/3098\/herrlich-glitzernden-mit-pailletten-glanz-schleife-gold-kurzarm-sommer-tull-konfirmations-weihnachts-cocktail-festliche-kleider-etui.jpg

[2017-11-27 04:20] eCommerceGorilla commented on #5873
This issue persists in 2.2.1 for billing and shipping address being paid for by PayPal Standard

{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend firstname}}
{{/depend}} {{depend company}}{{var company}}
{{/depend}} {{if street1}}{{var street1}}
{{/if}} {{depend street

[2017-11-27 05:08] paragpadsumbiya commented on #12434
@orlangur Yes it was generated by core modules in my database when my version was 2.1.10 .And now when i start to upgrade it gaves me errors .

"Module 'Magento_BundleStaging':
Upgrading schema.. SQLSTATE[HY000]: General error: 1025 Error on rename of './nestle2/#sql-4682_6' to './nestle2/mgep_catalog_product_bundle_option' (errno: 150 - Foreign key constraint is incorrectly formed)"

This one is

[2017-11-27 05:15] thaddeusmt commented on #7215
I _thought_ this was not resolved in 2.2, also. But Magento support said they could not reproduce it. So I created a new WYSIWYG text area attribute in attempt to reproduce this from "Step 1", and it _did_ work.

So then I edited and re-saved my existing text area attributes - _without changing any settings_ - and then my old attributes started processing the media url directives as well.

I'm not

[2017-11-27 06:15] amitsamsukha opened #12448 "Issue with bundle product backorder message on cart page"
### Preconditions

1.
2.

### Steps to reproduce

1. Add any bundle product (which have minimum 1 product out of stock ) in cart
2. Set allow backorder and notify to customer setting in configuration
3. Now go on cart page, you will not see any message for backorder.
4. If you will add first out of stock product in cart then will add bundle product which have same out of stock product then you wil

[2017-11-27 06:50] magento-engcom-team commented on #12427
Hi @dankhrapiyush. Can you please reproduce the issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list. Thank You.

[2017-11-27 06:58] magento-engcom-team commented on #12438
@tomekjordan, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-27 07:08] sandipdutt opened #12449 "17track External Js cann't be supported"
### Preconditions

1. Magetno 2.1.9,
2. 17tracks external js

### Steps to reproduce

1. <script type="text/javascript" src="http://www.17track.net/externalcall.js"></script>
2. Uncaught Error: Mismatched anonymous define() module: function (){return g}()...
3.

### Expected result

1.  I want to add external js in phtml or with in head section in layout file but when i add to file it showing erro

[2017-11-27 07:10] magento-engcom-team commented on #12446
@wd7080 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.
After install this module run setup:upgrade, setup:di:compile, clear cache and add permissions if needed.

[2017-11-27 07:20] #12427 closed, assigned to nobody

[2017-11-27 07:44] magento-engcom-team commented on #11525
@stemcellscarr,  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-11-27 07:58] magento-engcom-team commented on #12437
@magefan, thank you for your report.
We've created internal ticket(s) MAGETWO-84514 to track progress on the issue.

[2017-11-27 08:21] orlangur commented on #12434
@paragpadsumbiya thanks, not sure what caused this, googling shows such error can occur due to variety of reasons:
https://stackoverflow.com/questions/4080611/1025-error-on-rename-of-database-sql-2e0f-1254ba7-to-database-table
https://stackoverflow.com/questions/160233/what-does-mysql-error-1025-hy000-error-on-rename-of-foo-errorno-150-me
https://stackoverflow.com/questions/8434518/mysql-foreign-k

[2017-11-27 08:26] magento-engcom-team commented on #12436
@friimaind , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-11-27 08:57] magento-engcom-team commented on #12449
@sandipdutt Thanks for reporting this issue. Can You please try to follow this documentation http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js-resources.html and let us know, if issue still occur?

[2017-11-27 09:05] magentoprince commented on #6897
We face this same issue after applying discount copon. I am using paypal express checkout.
**Paypal Request:**
[code]
Response:

[code]

[2017-11-27 09:12] seansan commented on #446
Was this bug also fixed in m1? or is there a solution somewhere?

[2017-11-27 09:30] magento-engcom-team commented on #4937
@redboxmarcins, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.10

[2017-11-27 09:30] #4937 closed, assigned to nobody

[2017-11-27 09:30] magento-engcom-team commented on #3936
@fooman, thank you for your report.
We've created internal ticket(s) MAGETWO-84518, MAGETWO-52703 to track progress on the issue.

[2017-11-27 09:44] tommybds commented on #12399
Someone had the same [problem 1 year ago ](https://magento.stackexchange.com/questions/108563/problems-with-datetime-failed-to-parse-time-string)

Apparently it can be because magento need a date filter to convert the localized date to an internal date "dd/MM/y" instead of "M/d/yy"

[2017-11-27 09:46] bluvertigo commented on #12059
I have the same issue with magento 2.2.0 and paypal standard

[2017-11-27 10:00] tommybds commented on #12399
I can confirm it is because the date format, I am able to register a new rule in french language if I set it to an MM/DD/YY format (that's why we couldn't do it for black friday @Drakas)

[2017-11-27 10:15] magento-engcom-team commented on #12448
@amitsamsukha, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-27 10:16] #12448 closed, assigned to nobody

[2017-11-27 10:30] magento-engcom-team commented on #4703
@samtay, thank you for your report.
We've created internal ticket(s) MAGETWO-84530 to track progress on the issue.

[2017-11-27 10:30] magento-engcom-team commented on #7821
@romainruaud, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-27 10:30] magento-engcom-team commented on #7299
@alessandrozucca, thank you for your report.
We've created internal ticket(s) MAGETWO-84524 to track progress on the issue.

[2017-11-27 10:30] magento-engcom-team commented on #12439
@nfourteen, thank you for your report.
We've created internal ticket(s) MAGETWO-84525 to track progress on the issue.

[2017-11-27 10:30] magento-engcom-team commented on #7488
@pguedesbr, thank you for your report.
We've created internal ticket(s) MAGETWO-84526 to track progress on the issue.

[2017-11-27 10:51] Cinawork opened #12450 "Store not found when adding a ? to site URL."
### Preconditions
1. Magento 2.2.0
2. PHP 7.0.25
3. MariaDB 10.1.29

### Steps to reproduce
1. Turn on "Add storecode to URL's" in "Configuration > General > Web"
2. Navigate in browser to "BASE_URL/?"
3. Error thrown

### Expected result
1.  With just a ? after the BASE_URL site should function normally

### Actual result
1. Store throws error.

### Additional information
`1 exception(s):
Excepti

[2017-11-27 11:12] eduard-kistner commented on #10976
As i am currently have the same probs and the customer wants it corrected, is an downgrade to CE 2.1 planned?
At the moment there seems to be related changes in 2.2.* but not backported to 2.1.10 ( seems to be handled with MAGETWO-47017 commits ).

As not everyone is planning to upgrade to 2.2 but need the functionality it would IMO be nice to add Links to the commits which fixed that in 2.2.

[2017-11-27 11:17] AzeemYusufali commented on #12402
@jamie-on-git Thanks for the updates. I have tried adding a date into the date field and still have the same failure. Although, it seems clear that the DOB is causing the issue as that is the only field where I get a form validation error "Please enter a valid date". In addition, regardless of date that is entered, the form reverts to today's date every time a save is attempted. I have attached a

[2017-11-27 11:22] eduard-kistner commented on #10077
Just for someone landing here from search:
https://github.com/magento/magento2/issues/3150
https://github.com/magento/magento2/issues/10976

[2017-11-27 11:24] AzeemYusufali commented on #12402
@magento-engcom-team - The only extension I am using is M2E Pro to connect and manage my eBay and Amazon listings.

[2017-11-27 11:25] versdivers commented on #6126
I found out that my product_index_eav_decimal sometimes has multiple values for the same entity id while if i search that entity id in the attribute_decimal table or in the product table it has only 1 value. How does this table gets generated?

[2017-11-27 11:30] magento-engcom-team commented on #6906
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-84534 to track progress on the issue.

[2017-11-27 11:32] giacmir commented on #5873
Same as @eCommerceGorilla for me. Bug appears on 2.2.1 with virtual products and paypal payment.

[2017-11-27 11:37] Judder commented on #8828
@umang-ranium is correct

If you create a Bundle Product with a attribute used in a Configurable Product, it is possible to select the Bundle Product from the 'Configurations' -> 'Add Products Manually' option on the Configurable Product

This then adds the Bundle Product to the list for the 'Current Variations' on the Configurable Product edit screen

However when you then try and save the Config

[2017-11-27 11:40] versdivers commented on #6126
You can see it very clear here ->

![image](https://user-images.githubusercontent.com/18028151/33264983-0a37788c-d370-11e7-826e-078ca50a2d9f.png)

3*3 -> 3 store ID's , 3* the same value/storeid

[2017-11-27 12:14] magento-engcom-team commented on #12444
@wd7080 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-27 12:14] #12444 closed, assigned to nobody

[2017-11-27 12:19] magento-engcom-team commented on #5383
@bh-ref, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-27 12:26] magento-engcom-team commented on #12445
@testmagento2 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-27 12:30] magento-engcom-team commented on #3802
@tlaziuk, thank you for your report.
We've created internal ticket(s) MAGETWO-84536 to track progress on the issue.

[2017-11-27 12:30] magento-engcom-team commented on #12435
@Adubot, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-27 12:30] #12435 closed, assigned to orlangur

[2017-11-27 12:46] ghost opened #12451 ".svg Image is not supported for cms page"
At the time of upload image every time facing an error "Disallowed file type."

### Preconditions

1.Magento 2.2.1 Simple data

### Steps to reproduce

1. Login to Admin Backend with full admin rights
2. Go to Content > Pages > Configuration
3. Select any page for edit
4. Go to content tab and insert image, select .svg image

### Expected result

1. Image should be upload and should be displayed a

[2017-11-27 13:04] shinesoftware commented on #5873
I can confirm that the issue appears in the Magento ver. 2.2.0-dev too.

[2017-11-27 13:04] orlangur commented on #12451
This is intentional in order to disallow stored XSS vulnerability. See 2.1.9 release notes.

[2017-11-27 13:04] #12451 closed, assigned to nobody

[2017-11-27 13:10] wd7080 commented on #12446
To reproduce this you need to fill the default CMS home page title as "Home". Then in the URL under search engine optimization type "home". (this is the mistake, we created rewrite rule!).  This makes the URL for your homepage as https://domain.com/home. But this URL does not redirect back to the homepage. Alternatively, the homepage will appear on two links as follows:
https://domain.com/home AND

[2017-11-27 13:17] JanisE commented on #4620
Deleting the related `ui_bookmark` table rows fixed this for me, but is that really the expected behaviour - to not be able to (re-)define the column order by XML or at least reset the order by clearing a cache, instead of manually editing database?

[2017-11-27 13:30] magento-engcom-team commented on #2956
@volnnn, thank you for your report.
We've created internal ticket(s) MAGETWO-84539 to track progress on the issue.

[2017-11-27 13:31] korostii commented on #7960
Could you please expand on that?
In particular, are you referring to the JS error in the browser console, or something else? I mean, JS errors  by definition mean that something in the code is incorrect.

What kind of changes would you expect here if you claim that the current behavior is "correct" already?
With all due respect, please add some kind of detailed explanation to this boilerplate resp

[2017-11-27 13:35] smoskaluk commented on #12447
@Chris-2017 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-27 13:36] magento-engcom-team commented on #12447
@Chris-2017 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-27 13:57] rvanchinathan commented on #12301
Hello Magento Team,

I found very simple code to re produce this issue.
Please try this with below code

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $objectManager->create('Magento\Catalog\Model\Product')->load(// Some Product Id //);
$_product->setStatus(\Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_DISABLED);
$_product->setStoreId(// Some St

[2017-11-27 14:03] BPSBiro commented on #6786
Agreed with @amenk - I was struggling for good hour trying to find out why my product attribute for an image wasn't showing under a attribute folder in product creation. It wasn't until finding this post that I found out it only adds the attribute as a role - perhaps maybe a section just called "Image + Video Roles" or something similar that allows you to add it this way rather than as an attribut

[2017-11-27 14:07] magento-engcom-team commented on #11292
@ADDISON74, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-27 14:08] vanchi-nathan commented on #12301
Hello Magento Team,

I found very simple code to re produce this issue.
Please try this with below code

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $objectManager->create('Magento\Catalog\Model\Product')->load(// Some Product Id //);
$_product->setStatus(\Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_DISABLED);
$_product->setStoreId(// Some St

[2017-11-27 14:14] ffrodoe opened #12452 "ACL permissions issue"
### Preconditions

1. Reproduced on clean magento 2.2.0

### Steps to reproduce

1. Create new user role with any group checked (for example "Catalog") except "System" group
2. Create user and assign him to the group from step 1
3. Login as the user from step 3

### Expected result
1. No errors

### Actual result
1. Error occors "A technical problem with the server created an error. Try again to c

[2017-11-27 14:44] magento-engcom-team commented on #3313
@arvenom, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-11-27 14:44] #3313 closed, assigned to nobody

[2017-11-27 14:53] NaciAkce commented on #12185
@magento-engcom-team
me too on Iphone 7. Maybe you have to test it on real devices

[2017-11-27 15:02] magento-engcom-team commented on #12450
@Cinawork, thank you for your report.
We've created internal ticket(s) MAGETWO-84568 to track progress on the issue.

[2017-11-27 15:21] gldt-arandazzo opened #12454 "No Catalog Price Rule REST API"
I confirmed this with EE support, but there is no Catalog Price Rule REST API available. This should be exposed via the REST API.

[2017-11-27 15:22] EliasZ opened #12455 "Import uploader does not check Content-Disposition header"
### Preconditions
Magento 2.2.1 (probably previous versions too, cannot imagine this functionality being removed on purpose)

### Steps to reproduce
1. Create a product import CSV with an image URL (which does not have a proper image extension) leading to an image being force downloaded by [HTTP headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) (for example: h

[2017-11-27 15:24] magento-engcom-team commented on #5847
Hi @saderra and @aeu
Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it on 2.1.10 version.
Could you please try to reproduce the issue on 2.1.10 version. May be it was fixed in this version.
Thanks

[2017-11-27 15:26] thebreakfastcowboy commented on #12408
Thank you!

On Thu, Nov 23, 2017 at 4:49 AM, Magento Community Engineering <
notifications@github.com> wrote:

[2017-11-27 15:27] nbennett25 opened #12456 "Include SQL wild cards by default when using 'like' in search criteria"
As a developer, I don't want to think about passing SQL wildcard characters when sending 'like' search criteria through a request to the Product API.

### Preconditions
1. Magento CE 2.2.1

### Steps to reproduce
1. Install Magento CE 2.2.1
2. Install provided sample data using `bin/magento sampledata:deploy`
3. Remove WebApi security authorization in Admin > Stores > Configuration > Services > Ma

[2017-11-27 15:38] magento-engcom-team commented on #7370
Hi @pantaoran
Could you please let us know if the issue is still actual?
Thank you.

[2017-11-27 15:46] orlangur commented on #12456
Well, you have to. Like condition has concrete semantics and you cannot ignore it.

I don't think implementation of like condition can be changed, that would be confusing, probably separate condition type, like "contains" could be implemented to achieve what you need.

[2017-11-27 15:50] rigu12 commented on #12216
i upgraded, but becoming very slowly, do you know why? @koopjesboom @fabianus76

[2017-11-27 15:53] orlangur commented on #12454
GitHub is intended for bug reports, please use [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) for other suggestions like improvements or feature requests.

[2017-11-27 15:53] #12454 closed, assigned to nobody

[2017-11-27 15:55] gaboreszaki commented on #12216
@rigu12
is there something in the logs? (magento_insallation_folder/var/log/error.log)
in my case, magento usually slow when a some module not working properly...

[2017-11-27 16:02] rigu12 commented on #12216
@gaboreszaki
var/log/ have no error.log file.
now look like turtle speed..i have optimized but still very very slowly

[2017-11-27 16:04] rigu12 commented on #12216
But have debug.log, exception.log and system.log @gaboreszaki

[2017-11-27 16:05] nbennett25 commented on #12456
thx @orlangur - clearly the 'like' condition has concrete semantics, but I would consider relying on an outside API consumer to understand and properly implement the 'like' wildcard characters in a request a weakness in the platform. I'll file another feature request to implement the 'contains' type.

[2017-11-27 16:13] teodoriu opened #12457 "Currency Price filter is only using the base currency"
### Preconditions

1. Magento 2.2.1
2. Apache 2.4
3. PHP 7.0.24
4. MySQL 5.7

### Steps to reproduce

1. Set base currency to RON
2. Set additional allowed currency: USD, EUR
3. Set product price in RON
4. Go to category, switch to USD currency and filter by price.

### Expected result

1.  Products should be filtered by USD price

### Actual result

1. Products are filtered by RON price not by US

[2017-11-27 16:13] plastiqman commented on #9580
We have the same problem in a Magento 2.1.9

We have detected 125 carts with this problem. But we have installed the MSP_CashOnDelivery.

Do you know if you have fixed this error in 2.1.9?

Thanks.

[2017-11-27 16:14] magento-engcom-team commented on #9496
@dcabrejas, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-27 16:14] #9496 closed, assigned to nobody

[2017-11-27 16:15] magento-engcom-team commented on #8786
@adoardo, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-27 16:15] #8786 closed, assigned to nobody

[2017-11-27 16:17] magento-engcom-team commented on #12153
@treii28, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-27 16:17] #12153 closed, assigned to nobody

[2017-11-27 16:17] magento-engcom-team commented on #12055
@Prad2703, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-27 16:17] #12055 closed, assigned to nobody

[2017-11-27 16:18] magento-engcom-team commented on #12222
@imtango30, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-27 16:18] #12222 closed, assigned to orlangur

[2017-11-27 16:30] magento-engcom-team commented on #6525
@Dublerq, thank you for your report.
We've created internal ticket(s) MAGETWO-84572 to track progress on the issue.

[2017-11-27 16:32] nbennett25 opened #12458 "Allow 'contains' as a search criteria condition type"
As an API consumer, I don't want to have to think about formatting 'like' conditions for my search criteria, and would like to be able to use a 'contains' search criteria condition type.

### Preconditions
1. Magento 2.2.1

### Steps to reproduce
1. Install Magento 2.2.1
2. Install sample data using `bin/magento sampledata:deploy`
3. Deactivate WebApi security settings in Admin > Store > Configura

[2017-11-27 16:44] okorshenko commented on #10707
The issue has been fixed and delivered to 2.1-develop and 2.2-develop branches

[2017-11-27 16:44] #10707 closed, assigned to gomencal

[2017-11-27 16:45] okorshenko commented on #11032
The issue has been fixed and delivered to 2.1-develop and 2.2-develop branches

[2017-11-27 16:45] #11032 closed, assigned to springerin

[2017-11-27 16:47] okorshenko commented on #11669
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-27 16:47] #11669 closed, assigned to nobody

[2017-11-27 16:48] okorshenko commented on #10128
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-27 16:48] #10128 closed, assigned to RomaKis

[2017-11-27 16:48] okorshenko commented on #9410
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-27 16:48] okorshenko commented on #11740
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-27 16:49] okorshenko commented on #9413
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-27 16:49] #9413 closed, assigned to mariuscris

[2017-11-27 17:14] jeffmalterre commented on #12398
Same problem, Magento 2.2.1

[2017-11-27 18:08] skilar opened #12459 "grunt-exec 2.0.0+ fails when executing commands joined by &&"
### Preconditions
1. Magento 2.2.1
2. `grunt-exec ~2.0.0` or `~3.0.0`

### Steps to reproduce
1. Install Magento 2.2.1
2. Set Magento to developer mode
3. Install and configure Grunt as described [here](http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/tools/using_grunt.html)
4. Enable server-side LESS compilation
5. Run `grunt exec:<theme_name>` from the Magento install directory

### Exp

[2017-11-27 19:33] codenamezjames commented on #5008
It looks like I can get to the page by adding /index.php/ eg: `www.magento.com/index.php/mycmspage`

[2017-11-27 20:48] okorshenko commented on #9515
The issue has been fixed and delivered to 2.2-develop branch

[2017-11-27 20:48] #9515 closed, assigned to RomaKis

[2017-11-27 20:48] okorshenko commented on #10210
The issue has been fixed and delivered to 2.2-develop branch

[2017-11-27 21:18] wd7080 opened #12460 "Mobile menu becomes unclickable Magento 2"
### Preconditions

1. Magento 2.2.1
### Steps to reproduce

1. Store → Configuration → Catalog → Catalog
Under storefront set the following values:
- Allow products per page -> No
- Use Flat Catalog Category -> Yes
- Use Flat Catalog Product -> Yes
![flat category](https://user-images.githubusercontent.com/33989344/33289572-9eadc7ae-d385-11e7-9003-62b3236d9b9a.png)
2. Store → Configuration → Advan

[2017-11-27 21:46] magento-engcom-team commented on #10914
@diwipl, thank you for your report.
We've created internal ticket(s) MAGETWO-84592 to track progress on the issue.

[2017-11-27 21:51] magento-engcom-team commented on #10896
@PingusPepan, thank you for your report.
We've created internal ticket(s) MAGETWO-84593 to track progress on the issue.

[2017-11-27 21:52] magento-engcom-team commented on #11017
@atrixtech, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-27 21:52] #11017 closed, assigned to nobody

[2017-11-28 01:09] tedsalmon opened #12461 "Undefined Date Columns in Grid Default to current date / time"
### Preconditions
1. Magento 2.0.0 - 2.2.1

### Steps to reproduce
1. Open Admin > Catalog  > Products
2. Under Columns, Select Any Column that has a date value such as "Set Product as new from date"

### Expected result
1. Products with an undefined value should display as a blank date

### Actual result
1. Products with an undefined value default to the current date and time

[2017-11-28 01:16] tedsalmon commented on #12461
I have created a pull request for this issue here. https://github.com/magento/magento2/pull/12462

[2017-11-28 01:22] dawhoo commented on #5948
Magento 2.2.1 - I have tried the solution from @mjankiewicz but the product pages and search return blank or broken. Becoming a huge problem

[2017-11-28 01:28] dawhoo commented on #10454
@callumstar no, it's not fixed in 2.2.1 either.

[2017-11-28 03:17] Bayoe97 commented on #10314
Fatal error: Allowed memory size of 805306368 bytes exhausted (tried to allocate 1919907704 bytes) in C:\xampp\htdocs\magentob\vendor\magento\framework\ObjectManager\Relations\Runtime.php on line 38

[2017-11-28 06:18] aasim110 opened #12463 "Magento 2.2.1 Issue after upgrade - Indexing not working - Class Magento\Framework\App\Config\ScopePool does not exist"
### Preconditions

1. Magento 2.2.1
2. PHP 7.0.25

### Steps to reproduce

1. Upgrade Magento 2.1.9 to 2.2.1
2. Run Upgrade Command
3. Run Indexing Command

### Expected result

1. Indexing should be working fine

### Actual result

1. Getting error while indexing, check following for indexing error.
Catalog Search indexer process unknown error:
Class Magento\Framework\App\Config\ScopePool does no

[2017-11-28 06:56] magento-engcom-team commented on #12456
@nbennett25, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-28 06:56] magento-engcom-team commented on #12458
@nbennett25, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-28 07:16] magentocj commented on #10499
Hey Guys
Any solution for this issue

[2017-11-28 07:35] rikwillems commented on #10499
@magentocj my proposal is a workaround to get PayPal working again. Of course it is not the solution.

[2017-11-28 08:16] darkredz commented on #6555
This problem actually still exist in magento 2.1.9
the spinner comes in and screen still redirects to dashboard without saving the Condition added.

https://magento.stackexchange.com/questions/156872/i-am-unable-to-apply-condition-on-cart-price-rule

[2017-11-28 08:23] darkredz commented on #6555
It seems that when selected a condition from the dropdown box. the URL where the page is posting to (ajax) is Not Found
<shopurl>/sales_rule/promo_quote/newConditionHtml/form/sales_rule_formrule_conditions_fieldset_2/form_namespace/sales_rule_form/key/70b5eb59b93515c52dcb77533557d2486b968ad9f0ab79c0ba8af37242ac3bf5/?isAjax=true

[2017-11-28 08:25] magento-engcom-team commented on #12402
@AzeemYusufali, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-11-28 08:38] magento-engcom-team commented on #12446
@wd7080, thank you for your report.
We've created internal ticket(s) MAGETWO-84604 to track progress on the issue.

[2017-11-28 08:47] Hocdoc opened #12464 "Print layout broken in Firefox"
### Preconditions
1. Magento CE 2.1
2. Firefox 57

### Steps to reproduce
1. Open a Magento Shop in Firefox, f.ex. http://magento2-demo.nexcess.net/
2. Print the Page (to PDF)

### Expected result

No almost-blank pages

### Actual result

Header and footer use an almost-blank page. So the user need to print 3 pages for the title page but only one page contains useful information.

In Chrome the p

[2017-11-28 08:53] magento-engcom-team commented on #12459
@skilar, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-11-28 09:12] magento-engcom-team commented on #12452
@ffrodoe, thank you for your report.
We've created internal ticket(s) MAGETWO-84206 to track progress on the issue.

[2017-11-28 09:15] mindsoul opened #12465 "Upgrade to 2.2.0 issue content/design/configuration SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento220.design_config_grid_flat'"
### Preconditions

1. 2.2.0
2.  PHP 7.0.25

### Steps to reproduce

1. upgraded from 2.1.9 to 2.2.0 via composer

![magento](https://user-images.githubusercontent.com/5087758/33311166-947344ec-d42c-11e7-8039-0811f397fce1.png)

### Actual result

1. [Screenshot, logs]
`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'mag220.design_config_grid_flat' doesn't exist, query was: SELECT COUNT(*

[2017-11-28 09:30] magento-engcom-team commented on #5870
@ClaudiuCreanga, thank you for your report.
We've created internal ticket(s) MAGETWO-84605 to track progress on the issue.

[2017-11-28 09:30] magento-engcom-team commented on #10881
@romainruaud, thank you for your report.
We've created internal ticket(s) MAGETWO-84608 to track progress on the issue.

[2017-11-28 09:32] magento-engcom-team commented on #12463
@aasim110 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation

After upgrate version:
Assign the permissions
Remove Var/Generation folder
Run setup:upgrade && setup:di:compile
Run indexing and clean cache

[2017-11-28 09:32] magento-engcom-team commented on #12457
@BTeodorWork , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-28 09:52] magento-engcom-team commented on #12465
Hello @mindsoul. Tanks for reporting. Currently we are not able to reproduce Your issue. Please provide some more details about the issue You deem can be crucial for issue reproduction. For example, had  You set some custom theme before You tried to change it or there had been set the standard Luma ore "No Theme". Thank You.

[2017-11-28 10:03] magento-engcom-team commented on #11292
@ADDISON74, thank you for your report.
We've created internal ticket(s) MAGETWO-84614 to track progress on the issue.

[2017-11-28 10:04] mindsoul commented on #12465
yes it was a theme installed. My problem is, how could a table disapear from db, a magento core table?
this table i've recreated from backup `CREATE TABLE `design_config_grid_flat` (
  `entity_id` int(10) unsigned NOT NULL COMMENT 'Entity ID',
  `store_website_id` int(11) DEFAULT NULL COMMENT 'Store_website_id',
  `store_group_id` int(11) DEFAULT NULL COMMENT 'Store_group_id',
  `store_id` int(11)

[2017-11-28 10:10] mindsoul commented on #12465
yes it was a theme installed.
My problem is, how could a table disapear from db, a magento core table?

this table i've recreated from backup

 ` CREATE TABLE 'design_config_grid_flat' (
  'entity_id' int(10) unsigned NOT NULL COMMENT 'Entity ID',
  'store_website_id' int(11) DEFAULT NULL COMMENT 'Store_website_id',
  'store_group_id' int(11) DEFAULT NULL COMMENT 'Store_group_id',
  'store_id' int

[2017-11-28 10:30] magento-engcom-team commented on #1917
@wojtekn, thank you for your report.
We've created internal ticket(s) MAGETWO-84612 to track progress on the issue.

[2017-11-28 10:30] magento-engcom-team commented on #6532
@astorm, thank you for your report.
We've created internal ticket(s) MAGETWO-61169 to track progress on the issue.

[2017-11-28 10:48] versdivers commented on #10878
@jtlindsey I'm not sure what they changed. I changed host by now so i can' tell anymore i'm sorry

[2017-11-28 11:08] magento-engcom-team commented on #12465
@mindsoul, would it be possible to send us an installation package of the theme You had installed?

[2017-11-28 11:12] magento-engcom-team commented on #11893
Hi @tazign
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-28 11:12] #11893 closed, assigned to magento-engcom-team

[2017-11-28 11:30] magento-engcom-team commented on #6063
@thietdv-doan, thank you for your report.
We've created internal ticket(s) MAGETWO-84622 to track progress on the issue.

[2017-11-28 11:35] magento-engcom-team commented on #4292
@digitalpianism, thank you for your report.
We've created internal ticket(s) MAGETWO-84627 to track progress on the issue.

[2017-11-28 11:38] jsiefer commented on #7167
The above pr fixed the issue for me.

[2017-11-28 11:39] giacmir commented on #6916
Seems like some strange server setting / php bug.

If you inspect the request you can see all the fields leaving the browser, so it must be something server side.

Since it appears only above a certain number of options I tought it could be caused by a php `max_input_vars` setting being too low. But raising it doesn't solve.

[2017-11-28 11:52] kapildev-symberity opened #12468 "Sort by Price not working on CatalogSearch Page in Magento 2"
I have setup Magneto ver 2.1.9. I got an issue on **catalogsearch page** that sort by price not working after change **Product Listing Sort by Price** from **magento backend**.

### Preconditions

1.  Magneto ver. 2.1.9
2.  PHP ver. 7.0.25

### Steps to reproduce

1. Go to stores -> catalog -> catalog -> storefront -> **Product Listing Sort by** -> **Price**
2. Save Config

### Expected result

1.

[2017-11-28 11:55] mindsoul commented on #12465
yes i can, but i cannot be public, give me an email address.

[2017-11-28 11:58] nuovecode commented on #7178
+1

[2017-11-28 12:07] koopjesboom commented on #12216
If you are using Cpanel check the server information.
Sometimes this information could show you some information that helps.

In my case my swap was full (too small)

![swap load](https://user-images.githubusercontent.com/15247780/33318973-08a069de-d43d-11e7-9482-14d9b624589e.png)

[2017-11-28 12:25] magento-engcom-team commented on #12465
We understand You, and at the moment we think that in this case it would be more correctly if You try at first to reproduce Your issue on a clear, freshly installed instance of Magento without any third party developed modules, custom themes. So please try to do that and let us know if You can still reproduce the issue in that environment. Thank You.

[2017-11-28 12:30] magento-engcom-team commented on #8529
@fwolfst, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-28 12:30] #8529 closed, assigned to bvrbanec

[2017-11-28 12:30] magento-engcom-team commented on #6043
@DwayneH, thank you for your report.
We've created internal ticket(s) MAGETWO-84626 to track progress on the issue.

[2017-11-28 13:08] oleksii-lisovyi opened #12470 "Focusing on failed swatches validation does not work"
### Preconditions
Magento 2.1.10.

### Steps to reproduce
1. Go to product on front-end with configured swatches.
2. Scroll down page to see only "Add to Cart" button and not swatches.
3. Click on "Add to Cart" button.

### Expected result
1. Form validation failed with displaying of error blocks under the swatches.
2. Page is scrolled up to (focus on) the first swatch with failed validation.
3. C

[2017-11-28 13:23] magento-engcom-team commented on #12405
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-84636 to track progress on the issue.

[2017-11-28 13:30] magento-engcom-team commented on #5357
@maderlock, thank you for your report.
We've created internal ticket(s) MAGETWO-84635 to track progress on the issue.

[2017-11-28 13:30] magento-engcom-team commented on #9671
@sanjay-github, thank you for your report.
We've created internal ticket(s) MAGETWO-84637 to track progress on the issue.

[2017-11-28 13:30] magento-engcom-team commented on #12421
@Eminee, thank you for your report.
We've created internal ticket(s) MAGETWO-84636 to track progress on the issue.

[2017-11-28 13:46] pbh-stu commented on #10464
I can confirm It's not fixed in 2.1.9

[2017-11-28 14:08] magento-engcom-team commented on #7846
Hi @miro91
You use the 3rd party code.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-28 14:08] #7846 closed, assigned to nobody

[2017-11-28 14:16] parekhreena commented on #4742
@NadiyaS  This still does not get fixed by #4385 fix. The fix in #4385 addresses capturing from API. Capturing via Admin panel still does not work.

[2017-11-28 14:21] jtlindsey commented on #10878
@versdivers No problem. It only happens for me after running `bin/magento setup:upgrade` or `bin/magento setup:di:compile`.  I run `chown -R :www-data var/cache/mage-tags/` to [resolve](https://magento.stackexchange.com/q/200954/60615).

[2017-11-28 14:24] NadiyaS commented on #4742
Hi @parekhreena ,
you can reopen the issue if it is still reproducible or create a new one if steps to reproduce are different from those were described.

[2017-11-28 14:30] magento-engcom-team commented on #8688
@korostii, thank you for your report.
We've created internal ticket(s) MAGETWO-84643 to track progress on the issue.

[2017-11-28 14:30] magento-engcom-team commented on #12455
@EliasZ, thank you for your report.
We've created internal ticket(s) MAGETWO-84645 to track progress on the issue.

[2017-11-28 14:53] rigu12 commented on #12216
@koopjesboom
Yes I’m using cPanel .but I can not find this page , which button name,thankyou

[2017-11-28 15:30] magento-engcom-team commented on #12468
@kapildev-symberity, thank you for your report.
We've created internal ticket(s) MAGETWO-57945 to track progress on the issue.

[2017-11-28 15:30] magento-engcom-team commented on #6962
@stevekem, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-28 15:30] #6962 closed, assigned to magento-engcom-team

[2017-11-28 15:37] koopjesboom commented on #12216
@rigu12

The button best regards Bram

![button](https://user-images.githubusercontent.com/15247780/33328465-5b270358-d45a-11e7-95ce-c383f1c876c6.png)

[2017-11-28 16:31] dchaykas commented on #10550
Same problem updating 2.1.7 to 2.1.9, the fix worked perfectly. Thank you.

[2017-11-28 16:32] rigu12 commented on #12216
Hello
my server information have not show this. but How can I improve? @koopjesboom

[2017-11-28 16:55] fabianus76 commented on #2380
same problem here - did anybody find a solution ?

[2017-11-28 17:24] winterk80 commented on #12233
We are on Enterprise 2.1.8 and this bug still exists. I cannot understand why this is called "correct behavior" try any clothing store, banana republic, j crew, etc. NONE of them function this way. If you buy a red and a blue sweater of the same style you should get the qty 2 tier price.

This also affects custom options. We sell personalized products so we take in the personalization via custom o

[2017-11-28 17:33] winterk80 opened #12471 "Magento 2.x Braintree autozooming Bug on iPhone"
Braintree Magento 2.x Integration. Screen Auto zooms when attempting to enter data into in all input fields in credit card details, screen does not auto zoom out after the details are entered - user has to manually zoom out. This is being caused because text size is too small.

Replicated on iPhone 5 and iPhone 7 plus ios 10.3.3 browser is mobile safari. Cannot be seen in an emulator you must use

[2017-11-28 17:35] winterk80 commented on #12471
![iphone-img_2090](https://user-images.githubusercontent.com/34070582/33334626-24f3027a-d430-11e7-9bb7-fa04ae81092a.PNG)

[2017-11-28 17:39] vtimonin opened #12472 "Inconsistent PayPal shipping address behavior during Shopping Cart PayPal checkout."
In general, Magento 2 allows changing the shipping address on PayPal page when PayPal checkout is started on Shopping Cart page. But if the processing quote has a valid shipping address (e.g. due to previously canceled or abandoned checkout process), then this shipping address is passed to PayPal and can't be changed on both PayPal page and Review Order page.

### Preconditions
1. A customer with

[2017-11-28 17:49] rain2o opened #12473 "Order CSV Export Issue with MS Excel"
### Preconditions

1. Magento 2.1.10
2. PHP 7.0

### Steps to reproduce

1. In Admin navigate to the Sales Order grid
2. Filter the orders according to your needs
3. Export as CSV
4. Attempt to open the file in Microsoft Excel

### Expected result

1. The file should open as a spreadsheet.

### Actual result

1. Excel prompts with an error - "Excel has detected that 'export.csv' is a SYLK file, bu

[2017-11-28 18:29] koopjesboom commented on #12216
@rigu12  Ask your hosting they can access things you can not access and they can see things you can not see. They can also run some tests.

You can test your website too, it will give you a insight in how your site preforms and gives advice what to do. [gtmetrix.com](https://gtmetrix.com/ ) or [tools.pindom.com](https://tools.pingdom.com/)
But see it not as perfect these tests but as a lead to enh

[2017-11-28 18:39] rigu12 commented on #11379
@selusi
Hello ,can u ask you how to hide/remove the code url "?___store="
xxxx.com/?___store=XX >> xxxx.com/
or
https://github.com/magento/magento2/issues/11963 <<
thank you

[2017-11-28 19:27] ihor-sviziev commented on #12268
@roma84 I reopened it

[2017-11-28 19:39] AirmanAJK commented on #12473
It is also worth noting that if a CSV file opened in Excel does not start with a standard UTF8 byte order mark (\uFEFF), excel will not consider the file encoding as Unicode. This means any special symbols you might have in your product description fields will get scrambled.

Here is an easy test to reproduce:
Edit a product description field by appending the following: ❤ ☀ ☆ ☂ ☻ ♞ ☯ ☭ ☢
Export th

[2017-11-28 19:46] drew7721 commented on #7730
The fix above was never merged. Has this been fixed in any version?

[2017-11-28 20:00] tomekjordan commented on #12438
Correct behavior, for Magento devs. Not for real admin panel users, where you make thousand operations daily. each page reaload shows content and now when you like to press any button or filter on grid, surprise 0.5s later notification appears and everything is moved down. totally annoying in day to day activites. M1 was better with it - because notifications were not "ajaxes" and appeared right w

[2017-11-28 20:10] plentyhappy commented on #12367
We have the same issue.  Intermittent problem though...  On my "to do" list for developer to examine.  Will provide the proper format for this forum.  Don't know linux version, etc. except to say had problem on 2.1.8 and the problem still exists on 2.2.1

[2017-11-28 20:19] carb0nknight commented on #5352
@Anees-Ahmad That's not a solution, it's a workaround, one that will be required to be repeated anytime you pull changes to the core files or update.

[2017-11-28 20:21] jasonalvis commented on #11897
Not sure when this error was introduced. It works with multiple SKUs in M2 version 2.2.1 but it doesn't work in version 2.1.9

Would love to see an update on this

[2017-11-28 20:56] orlangur commented on #12473
It is a known Excel issue for both Windows and Mac: https://support.microsoft.com/en-us/help/323626/-sylk-file-format-is-not-valid-error-message-when-you-open-file But seems like only versions older than 2004 are affected. Which version of Excel did you observe it on?

As a workaround I believe adding apostrophe in the common csv generator is the best choice, no need to rename particular columns.

[2017-11-28 21:01] mzeis commented on #12461
@tedsalmon and me found out this is a duplicate of #9869 so I'm closing this one. It will be fixed in 2.2.2.

[2017-11-28 21:01] #12461 closed, assigned to mzeis

[2017-11-28 21:06] AirmanAJK commented on #12473
Can confirm the ID as the first column issue is occurring in Excel 2016

[2017-11-28 21:09] dawhoo opened #12474 "Swatch not updating to show out of stock and are able to click [2.2.1]"
### Preconditions
1. Magento 2.2.1 Production
2. PHP 7.0.23
3. SQL Server version: 5.6.36-82.0 - Percona Server (GPL), Release 82.0, Revision 58e846a

### Steps to reproduce
1. Configurable Product with 2 sub attributes (Color(Red,Green), Size(S,M,L)
2. Set Inventory as 1 for each child
3. Add Red,M product to cart and checkout
4. Process the order so the item inventory is updated to "0"
5. Verify

[2017-11-28 21:16] thebreakfastcowboy commented on #5530
Wrapping $.cookieStorage.set('mage-messages', '') in the setTimeout function helped me out, for the record. Thanks for posting that, @ikis1520 !

[2017-11-28 21:17] webazad commented on #10314
I had a problem like this. I just changed memory_limit=16GB. That is it. Please restart the apache server again

[2017-11-28 21:21] orlangur commented on #12473
Oh :) Then this help article is misleading. Probably not going to fix it due to backward compatibility or something.

Could you please check also that workaround with apostrophe described there works?

[2017-11-28 21:37] #12058 closed, assigned to nobody

[2017-11-28 21:39] okorshenko commented on #9742
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-28 21:39] #9742 closed, assigned to RomaKis

[2017-11-28 21:39] okorshenko commented on #12058
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-28 21:39] okorshenko commented on #12127
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-28 21:39] #12127 closed, assigned to nobody

[2017-11-28 21:40] okorshenko commented on #11341
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-28 21:40] #11341 closed, assigned to nobody

[2017-11-28 21:50] wd7080 commented on #12460
Hello
Is there any update on this?
Thanks

[2017-11-28 22:03] medinadato commented on #7411
@blewinsky , removing the empty theme worked for me. Tks!

[2017-11-28 22:44] stevethedev commented on #8099
The root of this problem seems to live in the file `vendor/magento/framework/Data/Collection.php`:

[code]

The upper-limit overflow can be addressed here, but the lower-limit overflow (page <= 0) is handled by `vendor/magento/zendframework1/library/Zend/Db/Select.php`:

[code]

Lower-limit overflow is easy to detect (page <= 0), but upper-limit overflow is not.

I have submitted a Pull Request at

[2017-11-28 23:07] rain2o commented on #12473
I am using Excel 2016 for Mac and seeing the error.

My workaround was to rename the column to "Order ID". Adding the apostrophe should work as well. I'll have to test that.

I have been running through xDebug and realized that the column starts out with ID in quotes as a column header (as it should be), but the downloaded file no longer has quotes around ID. I opened it directly in a text editor

[2017-11-28 23:46] J-Fricke commented on #8547
While it makes sense to have Enterprise users report issues there. The issue may affect both versions of the software and the visibility of things getting fixed is really nice in GitHub. I'm curious if these issues are solved as we are finding other things with Scheduled Updates.

[2017-11-28 23:47] Loxzibit commented on #6594
For anyone who doesn't want to wait for *2.2.x* you can use this small module to apply the fix https://github.com/WeareJH/m2-core-bug-simplexml-widget

[2017-11-29 01:31] rain2o commented on #12473
Ah, right. ID isn't in quotes because `fputcsv` only encloses columns in quotes if they are more than one word. So that explains that.

@orlangur In response to your recommendation to add the apostrophe, that seems to also work. However personally I would prefer to rename the column "ID" to something less generic like Order ID or Increment ID as opposed to adding an apostrophe to the beginning of

[2017-11-29 02:56] nntoan commented on #8761
@magento-engcom-team Can you please link the commit into this ticket?

[2017-11-29 03:07] darkredz opened #12476 "Conditions and Action rules not working in Cart Price Rules"
Magento 2.1.9
Production Site
In Cart Price Rules, saving a New Cart Rules works OK but when I complete the next steps:
Apply the rule only to cart items matching the following conditions (in Conditions or Actions)

If ALL of these conditions are TRUE:
Select any of the options in the dropdown
Result:
Spinner Rotates showing loading and the screen returns to the dashboard without saving the condit

[2017-11-29 05:27] versdivers commented on #6754
Just experienced this issue in 2.2.1 version

[2017-11-29 05:29] navoditkashyap commented on #12476
I'm on Magento ver. 2.1.8 and i also have this Issue.

[2017-11-29 06:13] magento-engcom-team commented on #12200
@ketuan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-29 06:13] #12200 closed, assigned to nobody

[2017-11-29 07:08] archonkulis commented on #6522
We are experiencing this issue quite a lot as well on Magento 2.1.6.

Here are my thoughts:

What I found is that every time the order is created it throws that "No such entity" exception. When the quote is converted to order, it sets is_active to 0. Later on, on success page, it tries to get the quote and because it has is_active as 0, it throws that exception.
But, in the code it doesn't render

[2017-11-29 07:29] magento-engcom-team commented on #12470
@oleksii-lisovyi, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-29 07:29] #12470 closed, assigned to nobody

[2017-11-29 08:30] magento-engcom-team commented on #6781
@tcytra, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-29 08:30] magento-engcom-team commented on #6781
@tcytra, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-29 08:30] #6781 closed, assigned to misha-kotov

[2017-11-29 08:32] orlangur commented on #12473
That would require code of every affected grid to be spoiled with Excel-specific hack. And also new grids would be affected without such hack.

Only every CSV starting with "ID" (case-sensitive). That is official Microsoft recommendation after all, your clients cannot call a bug something that does not break anything.

[2017-11-29 08:45] udovicic commented on #10531
Problem with price indexer is hard to detect on new installations, as core of the problem is with batch calculator and estimating page sizes. Instead of counting how many products there are and using that to calculate pages, batch calculator relies on the highest product id. Meaning that if you have single product with id 1'000'001 you will have a lot of indexing operations for nothing. Further to

[2017-11-29 08:55] orlangur commented on #8099
@fvschie @nekobul

From the issue description I see that API returns total amount of records: `"total_count": 2048`.

Could you please add more details why you need to access invalid page at all? It seems like there is some bug with last page determination in your code but why not fix invalid pagination instead of hacking core?

[2017-11-29 09:14] fvschie commented on #8099
It's certainly possible to calculate this. It's just a lot easier to keep asking for data until there's no more data.

The bug is that the request returns incorrect data. If I request page 11 of 10, showing the results for page 10 is objectively wrong.

Either an empty list. or a Bad Request or some such (given that we can calculate the max page, it would be a client error) would be correct.

[2017-11-29 09:19] magento-engcom-team commented on #12471
@winterk80, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-29 09:19] #12471 closed, assigned to nobody

[2017-11-29 09:32] orlangur commented on #8099
Well, such approach is buggy and should never be used as it simply does not work. "check whether the last item on the previous page is identical" is even more strange idea.

It just always fixes invalid page to first or last. It always worked like this since Magento 1 and there is nothing wrong with it.

This idea sounds good to me. It would be not OK to return some 500 HTTP error when you open in

[2017-11-29 09:40] Danielc3 opened #12479 "Saving Customer Model directly causes loss of data"
When saving a customer directly using the Customer Model custom attribute data is lost. This occurs when EAV caching is disabled. It appears you can get around this issue by using the Customer Repository or updateData function of the Customer Model. However, even though save is deprecated I would still expect it to work and looking into this has raised some concerns.

What I have found is that whe

[2017-11-29 09:58] selusi commented on #11379
@rigu12
Below the code to add in vendor/magento/module-store/model/Store.php to clean the URL.
[code]

[2017-11-29 10:04] OscarMadia opened #12480 "500 error when resending order confirmation from backend"
A http 500 error occures in php/error.log after resending the order confirmation mail from an existing order in the back-end.

### Preconditions
1. Magento ver. 2.1.7
2. PHP 7.0.24-1 (cli) (built: Sep 28 2017 21:34:20) ( NTS )
3. Zend Engine v3.0.0

### Steps to reproduce
1. in Admin Panel > Sales Orders > select order
2. [Send Email]
3. [yes] at confirmation question

### Expected result
1. recei

[2017-11-29 10:30] magento-engcom-team commented on #5322
@acharrex, thank you for your report.
We've created internal ticket(s) MAGETWO-84693 to track progress on the issue.

[2017-11-29 10:30] magento-engcom-team commented on #12474
@dawhoo, thank you for your report.
We've created internal ticket(s) MAGETWO-84694 to track progress on the issue.

[2017-11-29 10:43] pravalitera commented on #3904
Same problem here after 7 months in production and 17221 orders on a 2.1.3

I configured Varnish :
     -p http_resp_hdr_len=65536 \
     -p http_resp_size=98304 \

And increased timeout in nginx...  The loading time is horrible (~ 2 min), but it works...

That would be cool if Magento could do more testing with proper databases... It's obvious that test with "big databases" are not done.

[2017-11-29 10:49] friimaind commented on #12436
@magento-engcom-team issue updated, thank you

[2017-11-29 10:57] paragpadsumbiya commented on #12434
@orlangur Thanks for your response .

Does it happen when you get rid of "MySQL server has gone away" first? . Yes this happen when i get rid of from above error and again run setup:upgrade command to complete upgrade .

And this is happening when upgradtion reach at "Magento_BundleStaging" module.

I faced this issue in other two sites when i am try to upgrade from 2.1.X to 2.2.X.

May be somethi

[2017-11-29 11:02] NiteshKuyate commented on #10175
We are also facing same issue.

[2017-11-29 11:03] romainruaud commented on #6475
Dear @magento-engcom-team

Imho this fix is not sufficient. Since it's put only in an UpgradeSchema, it is not triggered when installing from scratch.

[2017-11-29 11:15] NiteshKuyate commented on #5327
We are on Magento 2.1.6 but we get that exception sometimes.
Any solutions yet?

[2017-11-29 11:16] orlangur commented on #12434
I mean did you try a fresh upgrade after MySQL has correct timeout. Just running `setup:upgrade` one more time on a errored database is not a reliable approach.

It is important but is needed for staging only as you correctly suggested. However as it is not a part of Magento Open Source issues related to this module should be reported via the Support portal of your account or Partner portal if you

[2017-11-29 11:21] sydekumf commented on #9744
So there is one thing we did to fix this problem for ever:

[code]

For a fresh insert the `updated_at` was `0000000...` which of course lead to some problems when you order the quotes `DESC`. No the `updated_at` gets the timestamp with a fresh insert and then it gets loaded at first quote by `DESC` and the error will never appear again :-)

[2017-11-29 11:23] VincentMarmiesse opened #12481 "Stream handler can't be used in Io\File"
The class `Magento\Framework\Filesystem\Io\File` contains some `stream*` functions and they all check if the `$_streamHandler` parameter is defined before doing anything.

My issue is that there is no function to initialize or set this `$_streamHandler` parameter so all the `stream*` function seem to be useless.

Is there a function missing? Or am I supposed to extend this class and initialize the

[2017-11-29 11:30] magento-engcom-team commented on #4582
@bh-ref, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-29 11:30] #4582 closed, assigned to rgoncharuk

[2017-11-29 11:30] magento-engcom-team commented on #5249
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-84698 to track progress on the issue.

[2017-11-29 11:32] magento-engcom-team commented on #12481
Hello @VincentMarmiesse. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-29 11:32] #12481 closed, assigned to nobody

[2017-11-29 11:33] paragpadsumbiya commented on #12434
@orlangur Thanks for your reply .

I mean did you try a fresh upgrade after MySQL has correct timeout. Just running setup:upgrade one more time on a errored database is not a reliable approach.

Yes this is happening even i try after increase my_sql time and Just running setup:upgrade one time .

Anyway i upgraded noramally so it will not be big issue .Hope Magento team try it for reproduce

[2017-11-29 12:27] magento-engcom-team commented on #12480
@OscarMadia thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-29 12:30] magento-engcom-team commented on #11255
@elektrozitrone, thank you for your report.
We've created internal ticket(s) MAGETWO-84712 to track progress on the issue.

[2017-11-29 12:30] magento-engcom-team commented on #8868
@spipu, thank you for your report.
We've created internal ticket(s) MAGETWO-84709 to track progress on the issue.

[2017-11-29 12:45] sjhill-rwcc commented on #10756
I had the same issue using a custom language pack for en_GB - I resolved this by changing the "interface Locale" under system> all users >**select user** from English (United Kingdom) to English (United States)

This then resolved the issue and I can save dates in all forms from product special prices to custom date fields. This is a good workaround as when you deploy your site using en_gb it does

[2017-11-29 12:54] RomaKis commented on #8817
Seems like it is not a bug, but correct Magento behavior. Coupon code doesn't have expiration date or usage limit, it is data from Cart price rule. To change this data you can use API rest/V1/coupons and put here something like this:
[code]

[2017-11-29 12:55] pushpendra07 commented on #12388
Let me check again and update you back

[2017-11-29 12:55] s00071609 commented on #9965
![website](https://user-images.githubusercontent.com/19631643/33376139-8d5617ea-d560-11e7-8874-b82a0641b979.PNG)

I hope someone can help. Magento 2.2.1 update shows fields in configuarable products. For some reason that field fill itself with a number as in the image when the option is selected.

Anyone else having this issue?

[2017-11-29 12:59] KirillLitvinenko commented on #12285
Can reproduce on magento 2.2 by following steps.
## Steps are the same:
1. in `<theme>/etc/view.xml` in `<var name="breakpoints">` option `<var name="allowfullscreen">` to `false`

**Code after changes:**
[code]

2. Clear cache

## Expected result:
fullscrreen is disabled on mobile screens

## Actual result:
fullscreen is working

Can be because of json that set to window object contains only stri

[2017-11-29 13:00] s00071609 commented on #9307
![website](https://user-images.githubusercontent.com/19631643/33376326-5895de0e-d561-11e7-8d92-afba22e933a5.PNG)

What are these blank fields (super attribute) - unwanted fields showing not sure what is wrong with M2.2.1

[2017-11-29 13:21] versdivers commented on #9620
Issue occured on Magento 2.2.1

[2017-11-29 13:27] lpkapil commented on #4944
Hi It still does not show in front end category view. I have cofigured a simple product in backend. Using magento 2.2.1 version.

[2017-11-29 13:27] #12434 closed, assigned to nobody

[2017-11-29 13:30] magento-engcom-team commented on #12479
@Danielc3, thank you for your report.
We've created internal ticket(s) MAGETWO-84716 to track progress on the issue.

[2017-11-29 13:35] AleksLi opened #12482 "Sitemap image links in MultiStore"
### Preconditions

1. Magento 2.2.0
2. mysql Ver 15.1 Distrib 10.0.31-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
3. PHP 7.0.22

### Steps to reproduce

1. You should have multistore project.
2. Generate sitemap for your store by Merketing-> Site Map (default feature in magento 2)

### Expected result

1. I should get a sitemap with all urls like http://mystore.com/

### Actual resul

[2017-11-29 13:43] magento-engcom-team commented on #8471
@valugi , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-11-29 13:46] magento-engcom-team commented on #12059
@yogisfunda, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Try to reproduce this issue on fresh and clean installation without any third-party dependencies.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to reproduce
 - [ ] Expected result
 -

[2017-11-29 13:50] chonny commented on #12463
We've similar issue after upgrade from EE 2.1.9 to EE 2.2.0, but when running setup:di:compile.
<img width="661" alt="screen shot 2017-11-29 at 15 47 52" src="https://user-images.githubusercontent.com/491965/33378274-f61af2d0-d51c-11e7-9b66-75a4af6723ac.png">

[2017-11-29 14:02] TomashKhamlai commented on #10756
@sjhill-rwcc thank you for participating in the conversation. It is a good workaround while we are waiting for the fix.

[2017-11-29 14:07] magento-engcom-team commented on #11374
@spipu, thank you for your report.
We've created internal ticket(s) MAGETWO-84727 to track progress on the issue.

[2017-11-29 14:09] devendra-m opened #12483 "Stock increases automatically"
Stock increases automatically for some products randomly.

### Preconditions
1. Magento ver. 2.1.7.
2. PHP 7.0.26 (cli) (built: Nov 21 2017 14:36:41) ( NTS )

### Steps to reproduce
1. It happens randomly. Qty sometimes gets increased automatically sometimes not.

### Expected result
1. Qty should not increase when it is not updated manually from admin panel.

### Actual result
1. Qty for product

[2017-11-29 14:19] magento-engcom-team commented on #5616
@rasmuswikman, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-11-29 14:19] #5616 closed, assigned to nobody

[2017-11-29 14:33] valugi commented on #8471
9 months later?! are you kidding me?
There are no steps to reproduce.

What I am requesting here is consistency, you are using --cleanup-database as a value instead of being an parameter/value pair.

Expected option will be
--cleanup-database=0 // as a default value
--cleanup-database=1 // if we want to clean up.

[2017-11-29 14:37] KevinMace commented on #12097
We've encountered the same issue whilst upgrading from 2.1.10 to 2.2.1, during the setup:upgrade process.

``
Warning: array_replace_recursive(): recursion detected in /mnt/project/vendor/magento/module-config/App/Config/Type/System.php on line 158
``

This stopped the setup:upgrade process from completing, leaving the application in a broken state.

[2017-11-29 14:48] rain2o commented on #12473
Valid points @orlangur . Maybe I misunderstood your original workaround solution then. The way I understood it the apostrophe would be added to all CSV's that are generated in M2. So you are recommending adding logic to the header generation portion that checks the first column for the value "ID" and adds the apostrophe then?

This is definitely a very specific use-case, and technically working ar

[2017-11-29 14:51] orlangur commented on #12473
Yeah, exactly. Link to Microsoft help in place of such workaround wouldn't hurt. Every CSV not starting with ID will remain unchanged.

[2017-11-29 14:51] magento-engcom-team commented on #12482
@AleksLi, thank you for your report.
We've created internal ticket(s) MAGETWO-84731 to track progress on the issue.

[2017-11-29 14:54] boris-nanni commented on #3333
Hello guys and girls! You must be save the config for each store view, this solution work for me.

[2017-11-29 15:09] magento-engcom-team commented on #12463
hi @chonny, we were not able to reproduce this issue by following the steps provided. Please check this issue on vanilla installation without any extension if you have

[2017-11-29 15:16] magento-engcom-team commented on #8817
@giano574, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-29 15:16] #8817 closed, assigned to RomaKis

[2017-11-29 15:17] drew7721 commented on #12432
Changing the value in the `CatalogSearch/etc/search_request.xml` file does work, the site now displays the same product count as the admin panel.

[2017-11-29 15:17] #12432 closed, assigned to orlangur

[2017-11-29 15:17] orlangur commented on #12483
I really doubt this issue is reproducible with such steps. Can you track it a bit on your side maybe to understand the root cause?

[2017-11-29 15:18] winterk80 commented on #12471
Is there a patch for 2.1.8?

[2017-11-29 15:23] devendra-m commented on #12483
Its difficult to reproduce this issue because it happens at random times. I tried to track but couldn't find the cause.

[2017-11-29 15:30] magento-engcom-team commented on #4522
@kandrejevs, thank you for your report.
We've created internal ticket(s) MAGETWO-55442 to track progress on the issue.

[2017-11-29 15:30] magento-engcom-team commented on #12211
@leoncito73, thank you for your report.
We've created internal ticket(s) MAGETWO-84730 to track progress on the issue.

[2017-11-29 16:10] winterk80 opened #12484 "Magento 2.1 Changing product order issue"
Magento 2.1.8 enterprise

Products > Categories > Products in Category

Multiple issues
1) Tile view > Change default sort to 200 per page, move something from page 2 or 3 to page 1, page sort collapses and goes back to 20 per page and page 1. Would expect to stay on the current page (2 or 3) and it to remain at 200 per page.

2) Tile view >  Remove a product on page 2 or 3  page sort collapses an

[2017-11-29 16:33] magento-engcom-team commented on #9191
@malikt , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-29 16:34] magento-engcom-team commented on #12484
@winterk80, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-11-29 16:34] #12484 closed, assigned to nobody

[2017-11-29 16:38] TonyDeplanque opened #12485 "Bad Scope Debug Logging"
### Preconditions

1. Magento ver. 2.2.1
2. PHP 7

Random Apache error 500 after reinstall Project. On line 63 of  vendor/magento/module-developer/Model/Logger/Handler/Debug.php. Use Scope_Store but value doesn"t exist in scope store.

[code]

If I delete ScopeInterface::SCOPE_STORE I do not have the problem anymore.

[2017-11-29 17:18] stevethedev commented on #8099
Why? There is absolutely nothing wrong with a loop that says "get data until there is no more data". This a basic pattern for manipulating arrays, queues, stacks, maps, sets, dictionaries, tuples, and loops. I can't think of a single instance of this statement being true that doesn't also involve some programming error that doesn't account for asynchronicity.

[2017-11-29 17:20] ferraramax commented on #8022
in wich way we can solve in 2.2.1?

[2017-11-29 17:37] orlangur commented on #8099
@stevethedev because this criteria is not applicable here and thus causes bugs. You cannot take random algorithm, apply it to core, meet a bug and then try to "fix" core instead of fixing buggy algorithm.

[2017-11-29 17:45] afavata opened #12486 "Tier Price for Customer Group"
Tier price is related to customer group. Product price in the cart should be updated as soon as customer log into an account which group is set in tier price.

### Preconditions
Magento 2.2.0

### Steps to reproduce
1. Create product XX with standard price $ 10 and  Tier price $5 for quantity 3 and for **Wholesale Customer Group**
2. Shop the product on frontend as account "not logged in"
3. Add 3

[2017-11-29 17:46] stevethedev commented on #8099
This is one of the most prolific algorithms in all of computing. Magento's API returns a result set that makes one of the most widely used algorithms ever created into an infinite loop.

[2017-11-29 17:46] nekobul commented on #8099
Vlad,

I have worked with more than 50 different API services and I can assure you Steve is correct. This is how you work with paging APIs. This is a definite bug in the Magento API and you have to correct it and not ask clients to jump thru hoops to make it work.

[2017-11-29 17:49] orlangur commented on #8099
@nekobul, why you don't like the

approach?

[2017-11-29 17:52] fvschie commented on #8099
"It always worked like this since Magento 1 and there is nothing wrong with it."

That statement is illogical. It worked like that, but it is inherently wrong to return something different from what you are requesting.

I agree that, if it is inherited behavior, it's an improvement request and not a bug.

Also, it would be a 4xx error, not 5xx error if you go that route. Frontend should handle err

[2017-11-29 17:55] nekobul commented on #8099
Vlad,

No data returned is preferable because it will be easier to handle from the client side.

[2017-11-29 18:09] sennin32 opened #12487 "Not able to enable cache in Cache Management"
The Action shows only "Refresh"
[https://imgur.com/uua6dsO.jpg](url)
Not able to enable cache after upgrade to 2.2.1.

### Preconditions

1. Magento 2.2.1

### Steps to reproduce

1. update from 2.2.0 to 2.2.1

### Expected result

1. should have enable, disable...etc in the action drop down menu

### Actual result

1. [https://imgur.com/uua6dsO.jpg](url)
2. No actions except refresh

[2017-11-29 18:18] orlangur commented on #8099
Sorry, I didn't mean this will work like this forever, more thinking of "how many customizations will be broken if we change behavior consistently".

@fvschie @nekobul if we fix it for Catalog pages as well, what would be the good behavior? Redirect to closest valid page or just show page with 0 products?

@nekobul well,
[code]
request seems pretty wrong to me. Client side has some error handling

[2017-11-29 18:47] versdivers opened #12488 "Entity with the same ID already Exists : Grouped vs Decimal attribute"
You can find a lot of information here
https://magento.stackexchange.com/questions/203324/layered-navigation-item-with-same-id-already-exists/203356?noredirect=1#comment282875_203356

Now what happends is when i have an attribute 'price' stored in the database table `catalog_product_index_eav_decimal` it generates a row with the same entity_id but with a different source_id for each child of a gro

[2017-11-29 18:59] versdivers commented on #12488
BTW the solution should be that for that table OR you can have multiple entity_id's OR it filters by source ID OR the table should save the child product as entity_id and the parent as source_id (which would be an array since you can have multiple parents)

[2017-11-29 19:13] joebordo opened #12489 "MOBILE : Vimeo or Youtube keeps closing on Full screen mode"
If you are in Full screen product gallery mode, and want to load a video from Vimeo or youtube, it opens the full screen then closes again.

Vimeo does not allow inline. So everything has to play fullscreen (it blocks).
Youtube does play inline, but if you go full screen (it also gets blocked).

### Preconditions
I use magento 2.2
Php 7.1

Android : Chrome Browser
Iphone : Safari Browser:

For som

[2017-11-29 20:36] ooxi commented on #9366
@nepda Is there any way to see progress of MAGETWO-83181 from externally?

[2017-11-29 20:50] kfriend commented on #10594
I have been experiencing a similar issue. The Magento install in question ignores the session lifetime value, across different hosting environments and OSes. We have the setting at 259200, but sessions end after an hour or so (don't know the exact timing).

@storepeinture what web server are you running?

[2017-11-29 21:58] joebordo opened #12490 "I can't disable full screen gallery on mobile on magento 2.2.1"
I applied the code below to disable full screen gallery in magento 2.2.1

    `<var name="breakpoints">
            <var name="mobile">
                <var name="conditions">
                    <var name="max-width">767px</var>
                </var>
                <var name="options">
                   <var name="options">
                     <var name="allowfullscreen">false</var>

[2017-11-29 22:01] drew7721 commented on #6603
IMO this issue is related to the issue on getSize() #7730 that is not returning the proper value. I think this is happening when adding `distinct` or `group` to a collection, for some reason the `totalRecords` propriety does not get updated when needed.

[2017-11-29 22:24] joebordo commented on #12285
Just Posted the Same issue my self on magento 2.2.1.

[2017-11-29 22:47] barbazul commented on #12097
Same error on a fresh install from Github repo.

@MindaugasSV 's fix makes the store "usable". Not sure of the potential side effects

[2017-11-29 22:53] wd7080 commented on #12460
Is the issue unclear? @magento-engcom-team

[2017-11-29 23:43] RhodriOwainDavies commented on #12487
Hi,

Can you please check:
1. which deploy mode you're running http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html
2. is this behaviour limited to `production` mode

I noticed the behaviour you described, but can't decide if it's a feature or bug of `production` mode.

[2017-11-30 02:49] hellekim commented on #12483
I’ll add some additional info as I run the shop.

Giving specific circumstancies is super hard as I’ve not been able figure out why this happens.

Configurable products keep getting these all the time - the stock amount keeps rising, so in this case it can be the main product for t-shirt. I usually clean these every few weeks and some (usually more popular products) might have gone up from 0 to 60

[2017-11-30 04:00] sennin32 commented on #12487
Hi,
It is in production mode.
I didn't try dev mode.
In previous version, it works normally, I think it should be a bug!?

[2017-11-30 05:09] puneetk00 commented on #6183
@anarchalienweb thank bro its work for me.

[2017-11-30 05:10] puneetk00 commented on #6445
This work for me http://pastebin.com/8nnA6AvV.
you need to override core class.

[2017-11-30 05:57] versdivers commented on #3728
So this is fixed in 2.3?

[2017-11-30 06:04] pradeepnew opened #12491 "After upgrading magento version 2.1.0 to 2.2.1 getting error unable to unserialize value"
I have tried to upgrade 2.1.0 to 2.2.1 version via composer upgrade.
Upgrade was successful but when i try to open website frontend, its showing "Unable to unserialize value" error.

**Preconditions**
Magento 2.2.1
PHP 7.0

**Steps to reproduce**
Upgrade 2.1.0 version to latest 2.2.1 via composer
run upgrade command and deploy command

**Expected result**
All fine but when we try to open website i

[2017-11-30 06:20] magento-engcom-team commented on #12491
@pradeepnew  , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] St

[2017-11-30 06:50] magento-engcom-team commented on #12291
@miro91, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 06:50] #12291 closed, assigned to nobody

[2017-11-30 06:53] magento-engcom-team commented on #12388
@pushpendra07 , yes of course. We wait response from you thank you.

[2017-11-30 07:07] magento-engcom-team commented on #12464
@Hocdoc, thank you for your report.
We've created internal ticket(s) MAGETWO-84785 to track progress on the issue.

[2017-11-30 07:11] darkredz commented on #12476
made a typo, it's actually magento 2.1.9

[2017-11-30 07:44] darkredz commented on #12476
I have tried a new installation of 2.2.1, add a new product to catalog. then try to add the rules with the same step.
With 2.2.1 it doesn't redirect to dashboard however it shows:
404 Error
Page not found.

in magento admin.

Environment:
mySQL 5.6.38
PHP 7.0

[2017-11-30 08:01] RishabhRkRai commented on #11821
I also face this issue on Magento store.

Magento v-2.2.0, MySQL v-5.7.x

Steps to reproduce:

1. Click on the Marketing >  Social > Connect to Facebook
2. Click on **Integrations Page**
3. In integration grid, Magento Social is available.
4. Click on **Activate**
5. An prompt is open to Allow the access to API. Click on **Allow**
6. An popup is open with the message

[2017-11-30 08:20] #12485 closed, assigned to nobody

[2017-11-30 08:27] abdulbasitnawab opened #12492 "EAV custom module with onlyone data type table"
Hi
I created a custom module with one data type ie Text, So i had two table one with postfix _entity and the other with _entity_text. I followed the catalog_product structure and built a module. All the di.xml etc was configured and the module was saving for multiple storeviews. But while editing I found that if I change the storeview always it is showing data for default store "0". I compared all

[2017-11-30 08:40] magento-engcom-team commented on #9479
@MEGA911  , thank you for your report.
Could you please let us know if the issue is still actual for versions 2.1.9 and 2.1.10? Thank you.

[2017-11-30 08:43] eCommerceGorilla commented on #12491
If you disable your third party modules and then refresh your cache you should gain access back to the site. More than likely you have a module that have not been updated to run with the 2.2 serialization changes outlined http://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html

[2017-11-30 09:04] nepda commented on #9366
Nope, there were so many problems with Magento2 we stopped the entire migration.

[2017-11-30 09:08] smokygeek17 commented on #11326
we have the same thing but with product import

[2017-11-30 09:09] orlangur commented on #12483
Looks somewhat opposite to https://github.com/magento/magento2/issues/6363, could be related.

[2017-11-30 09:17] magento-engcom-team commented on #12483
@devendra-m, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-11-30 09:27] magento-engcom-team commented on #3720
@tkn98 , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2017-11-30 09:30] magento-engcom-team commented on #4613
@dnadle, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-30 09:30] #4613 closed, assigned to rgoncharuk

[2017-11-30 09:30] magento-engcom-team commented on #12490
@joebordo, thank you for your report.
We've created internal ticket(s) MAGETWO-84793 to track progress on the issue.

[2017-11-30 09:30] magento-engcom-team commented on #12486
@afavata, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-30 09:30] #12486 closed, assigned to nobody

[2017-11-30 09:30] magento-engcom-team commented on #8889
@vincentwinkel, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-30 09:30] #8889 closed, assigned to nobody

[2017-11-30 09:30] magento-engcom-team commented on #12285
@novakivskiy, thank you for your report.
We've created internal ticket(s) MAGETWO-84793 to track progress on the issue.

[2017-11-30 09:36] josephmcdermott commented on #10499
@okorshenko this issue needs to be re-opened, since people are still reporting it as a problem and I see it personally in 2.2.x. It seems to be related to when you set billing agreements to NO, did you try that on Sep 30 when you marked this as fixed?

[2017-11-30 09:42] vishalmangoitsolutions opened #12493 "After adding custom price to product currency is not converting on cart page and checkout"
### Preconditions

1. Magento 2.2

### Steps to reproduce

1. Followed following thread to add item in cart with custom price:
https://webkul.com/blog/magento2-set-custom-price-of-product/

### Expected result

1. item custom price, subtotal should convert to selected currency on cart page, minicart and checkout.

### Actual result

1. Currency symbol is changed but currency not converting.

I hav

[2017-11-30 09:43] CatherineLearmonth commented on #10461
Saving the product is the thing that removes its images. If you're not changing the product image, use this fix:
$product->unsetData('media_gallery'); $this->productRepository->save($product);

If you are updating the images, try the other code (in the txt file) but add it after the product save.

[2017-11-30 09:44] magento-engcom-team commented on #12492
@abdulbasitnawab, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-11-30 09:46] magento-engcom-team commented on #12489
@joebordo, thank you for your report.
We've created internal ticket(s) MAGETWO-84798 to track progress on the issue.

[2017-11-30 09:49] EvaldasDau commented on #10461
@CatherineLearmonth Thanks for a quick response, but what we need is the specific location? Can you name a file or a class? something we could cling on....

[2017-11-30 09:59] CatherineLearmonth commented on #10461
I inserted the fix into a bespoke Magento module that I wrote that takes products from one system and writes them to Magento. I don't know where you would insert the code fix into the Magento code base itself if that is what you are looking for.
This issue has been recognised as a bug by Magento (MAGETWO-83133) so I guess you'll just have to check that ticket and wait until it is fixed.

[2017-11-30 10:19] kervin commented on #10461
You can look into

Magento\Catalog\Model\ProductRepository

DEBUG HER:
     public function save(\Magento\Catalog\Api\Data\ProductInterface $product, $saveOptions = false)

if media_gallery in empty then, unset($productDataArray['media_gallery']);

[2017-11-30 10:20] violuke commented on #7937
This needs reopening for the above reasons.

[2017-11-30 10:21] violuke opened #12494 "Credit Memo Adjustment fee tax isn't calculated"
Duplicate of #7937 which was wrongly closed before but is an serious bug from an accounting perspective. All details on that issue.

## Preconditions
Magento 2.1.2 - 2.1.10 (I believe 2.2.1 too but not tested)

## Steps to reproduce
Create a credit memo and add an adjustment refund / fee

## Expected result
Tax is recalculated

## Actual result
No difference in tax

[2017-11-30 10:30] magento-engcom-team commented on #4405
@forgeonline, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-30 10:30] #4405 closed, assigned to nobody

[2017-11-30 10:30] magento-engcom-team commented on #12472
@vtimonin, thank you for your report.
We've created internal ticket(s) MAGETWO-84799 to track progress on the issue.

[2017-11-30 10:58] will-b commented on #12428
@dwirt just a little side note. Maybe start a discussion (on the forum etc) if home pages should be cms pages at all. I think home pages should be its own module.

[2017-11-30 11:10] magento-engcom-team commented on #12318
@4DallasC , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
Steps we did:
1. Install Magento 2.1.6
2. Create additional store and storeview.
3. Create simple product.
4. Upgrade Magento to 2.1.9
5. Navigate to storefront.

[2017-11-30 11:16] magento-engcom-team commented on #12494
@violuke , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-11-30 11:18] violuke commented on #12494
Thanks for the reply, but I don't see how and further information is needed. See #7937, it's all explained there. Thanks.

[2017-11-30 11:21] magento-engcom-team commented on #12494
@violuke Thanks for the feedback. Please provide preconditions and steps to reproduce here, even if they duplicate ones from previous issue.

[2017-11-30 11:22] violuke commented on #12494
Ok, I've updated the original message above. Thanks.

[2017-11-30 11:24] 4DallasC commented on #12318
Hello @magento-engcom-team
you need to set the newly created store in 2.1.6 to be the default store before creating the order.
So change the default in the website to the new store, change the default store view in the store. Then navigate to the storefront and place an order.

You can double check that the newly created store doesn't have the sequence tables in the database. I think the event to

[2017-11-30 11:30] magento-engcom-team commented on #12494
@violuke, thank you for your report.
We've created internal ticket(s) MAGETWO-84801 to track progress on the issue.

[2017-11-30 11:33] davidverholen opened #12496 "2.2.1 REST Product Custom Attributes cannot be updated on store level"
When trying to save a value from custom_attributes to a specific store view, the original value from the default scope is taken and saved in the store scope.
(While this works correctly for attributes outside of the custom_attributes array - e.g "name")

### Preconditions

1. Magento 2.2.1
2. Product with value for meta_title (for example) in default scope is "original title"

### Steps to reprodu

[2017-11-30 11:39] eTonki commented on #10499
I have the same problem in 2.1.9
I solved it enabling PayPal Billing Agreement Settings
but it is a temporary solution.

[2017-11-30 11:53] davidverholen commented on #12496
@magento-engcom-team just tried to reproduce it and it seems it has already been fixed in 2.2-develop. Do you maybe have an idea, where?

[2017-11-30 12:06] magento-engcom-team commented on #12476
Hello @darkredz. Thanks for reporting. Unfortunately we've been not successful reproducing Your issue till now. So here we enclose the video with how we try to reproduce it. Please, watch it and tell us where our steps  differ from Yours or what steps we miss. Thank You.
[priceRule.zip](https://github.com/magento/magento2/files/1517661/priceRule.zip)

[2017-11-30 12:09] magento-engcom-team commented on #12460
@wd7080 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce. Do you have SSL on in your configuration? Please provide screenshots of pages which are not working.

[2017-11-30 12:30] magento-engcom-team commented on #12493
@vishalmangoitsolutions, thank you for your report.
We've created internal ticket(s) MAGETWO-84805 to track progress on the issue.

[2017-11-30 12:30] magento-engcom-team commented on #4461
@ilCleme, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-11-30 12:30] #4461 closed, assigned to nobody

[2017-11-30 12:35] p-bystritsky commented on #12436
@friimaind, thank you for update.
Unfortunately, we cannot reproduce this issue by the steps you provided. Can you please record a video?

[2017-11-30 12:37] davidverholen commented on #12496
actually I cannot reproduce this on a clean 2.2.1 either.
Let me investigate further steps to reproduce

[2017-11-30 12:38] p-bystritsky commented on #12436
@friimaind, thank you for update.
Unfortunately, we cannot reproduce this issue by the steps you provided. Could you please record a video?

[2017-11-30 12:38] magento-engcom-team commented on #12436
@friimaind, thank you for the update.
Unfortunately, we cannot reproduce this issue by the steps you provided. Could you please record a video?

[2017-11-30 12:50] davidverholen commented on #12496
nevermind, it's some weird side effect with a local plugin

[2017-11-30 12:50] #12496 closed, assigned to nobody

[2017-11-30 12:53] darkredz commented on #12476
Is there a product in the system during your demo?
I tried a new installation, add one product with price and published, then tried the cart rules condition again but it still gives 404

[2017-11-30 13:23] magento-engcom-team commented on #9178
@maderlock, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-30 13:23] #9178 closed, assigned to nobody

[2017-11-30 13:25] magento-engcom-team commented on #12496
Hello @davidverholen. Anyway thanks for applying. While trying to reproduce Your issue we discovered that if the attribute_code in BODY is set to some wrong, not existing value, You will have get the response of 200 OK, just nothing will have been changed (a kind of incorrect behavior). So the issue could occur too if You accidentally sent an incorrect code value. Otherwise we've been not able to

[2017-11-30 13:30] magento-engcom-team commented on #9056
@w130pmpo, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-30 13:30] #9056 closed, assigned to nobody

[2017-11-30 13:43] magento-engcom-team commented on #12476
@darkredz, please specify what exactly do You mean under "published" - enabled and assigned the product to enabled category on the Storefront or something else.

[2017-11-30 13:46] magento-engcom-team commented on #12488
@versdivers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-11-30 13:46] Vedrillan commented on #1917
I'll add that the field map translation done in the addAttribute method is also doing more than just mapping.

Mappers used such as Magento\Eav\Model\Entity\Setup\PropertyMapper are setting default values for missing fields, which means that if you try to update only a single field of an attribute with the addAttribute method you will end up with all other mapped attributes reset to their default

[2017-11-30 14:16] EliasKotlyar commented on #9875
We can still reproduce this in 2.2

[2017-11-30 14:17] versdivers commented on #12488
Can you try to manually put in the situation that i have in the database table like i have it and continue testing? Let me know if it is reproducible then. It should be. Or can you give me some kind of explenation how that table is generated? Why do i have multiple entity_id's ?

[2017-11-30 14:24] dwirt commented on #4868
Even in 2.2.1 the checkout and cart are quite slow. The problems must lie even deeper than this ...

[2017-11-30 14:30] magento-engcom-team commented on #12249
@allamsettiramesh, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-30 14:30] #12249 closed, assigned to nobody

[2017-11-30 14:30] magento-engcom-team commented on #9580
@bh-ref, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-30 14:30] #9580 closed, assigned to nobody

[2017-11-30 14:42] afavata commented on #12486
Sorry ... my Magento is at 2.2.1 but issue is still present.
Please reopen this.
thanks

[2017-11-30 14:58] dwirt commented on #12081
@avestique Unfortunately your solution doesn't work for me.

The translation also doesn't work in the checkout. The code is the same:

magento/module-checkout/view/frontend/web/template/summary/cart-items.html
[code]

[2017-11-30 15:03] amorcian commented on #7550
Yeah everything always works for the Magento team. Be ashamed

[2017-11-30 15:07] PascalBrouwers opened #12500 "Using productRepository getList caches product without gallery images data"
### Preconditions

1. Magento 2.2.x
2. PHP 7.0.14

### Steps to reproduce
1. Use code supplied in module 'ReachDigital_GetListIssue'.
[ReachDigital.zip](https://github.com/magento/magento2/files/1518274/ReachDigital.zip)
2. Add a configurable with visual swatch configured for the 'color' attribute. Add some simple products who have a media gallery and set visual swatch with option 'Update Product

[2017-11-30 15:21] jhruehl commented on #12081
Ok. A quite easy solution, to get the missing translations actually compiled and loaded, is to create an extension, which adds a basic js file to the head via view/frontend/layout/default.xml:
`<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <head>
        <script src="Blub_LoadMissingJsTr

[2017-11-30 15:39] dwirt commented on #12081
@jhruehl This doesn't work either. The js is loading, but it's not being translated.

[2017-11-30 15:51] jhruehl commented on #12081
Actually the js-file in the extension is just a mock. We overwrite it in our default theme via design/frontend/[theme]/default/[vendor_extension]/web/js/missing-translations.js:
`require([
    'mage/translate'
], function ($t) {
    // put missing js translations here, e.g.
    // $t("some text to be translated");
    $t('Item in Cart');
});`

But it could also be that you have to delete your loca

[2017-11-30 15:57] dwirt commented on #12081
Browser Cache wasn't the issue. I added the 'Item in Cart' translation manually to the `js-translation.json` file for now.

[2017-11-30 16:06] joebordo commented on #12490
Okey the problem is that it passes breakpoint value as a string.

It renders the breakpoints like this:

[ "breakpoints": {"mobile":{"conditions":{"max-width":"767px"},"options":{"options":{"nav":"dots","allowfullscreen":"false"}}}}    }](url)

But it should be like this

 "breakpoints": {"mobile":{"conditions":{"max-width":"767px"},"options":{"options":{"nav":"dots","allowfullscreen":false}}}}

[2017-11-30 16:09] joebordo commented on #12285
@KirillLitvinenko

You are correct.  As a temporary solution i hard coded it in

module-catalog/view/frontend/templates/product/view/gallery.phtml
(in my theme)

I replaced

  "breakpoints": <?= /* @escapeNotVerified */ $block->getBreakpoints() ?>

with

 "breakpoints": {"mobile":{"conditions":{"max-width":"767px"},"options":{"options":{"nav":"dots","allowfullscreen":false}}}}    }

Now it works a

[2017-11-30 16:21] novakivskiy commented on #12285
As a solution, create a plugin for the class  \Magento\Catalog\Block\Product\View\Gallery
[code]

[2017-11-30 16:38] benjaminHalliday commented on #10821
Does anyone know what the fix for this is on AWS? Nginx, PHP 7.0.18 via PHP-FPM, and getting exactly the same issue when saving address or resetting password.

[2017-11-30 16:47] atsareva commented on #11326
We have the same issue when we try to import products.

Magento 2.2.0
PHP 7.0.24 (cli)
mysql  Ver 15.1 Distrib 10.1.28-MariaDB

[2017-11-30 16:51] Jimgitsit commented on #7679
I'm seeing this in 2.1.7.

[2017-11-30 17:20] syed786hasan commented on #3028
I am getting following error regarding time zone

Notice: date_default_timezone_set(): Timezone ID 'Pakistan Standard Time' is invalid in /home/storevb/public_html/app/code/DHL/DhlToolkit/Ui/Component/Listing/Column/Status.php on line 935

Please provide solution to get rid of this error

[2017-11-30 17:40] apedicdev opened #12502 "Admin controller redirects to frontend"
### Preconditions

Magento 2.1.9
**Set a custom admin host (eg admin.website.com)**

### Steps to reproduce

1. create an admin controller redirecting to Referrer Url

[code]
2. test or debug the controller

### Expected result

1. the controller should redirect to the referrer admin url

### Actual result

1. the controller redirect to the frontend

it seems `\Magento\Store\App\Response\Redirect`

[2017-11-30 18:40] sam110386 opened #12503 "Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Eav\Model\Entity\Attribute\Source\Config::__construct() must be of the type array, null given"
I am getting following error in mailchimp ecommerce module, while trying to run cron

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Eav\Model\Entity\Attribute\Source\Config::__construct() must be of the type array, null given, called in /var/develop/releases/20171130173131/lib/internal/Magento/Framework/ObjectManager/Factory/AbstractFactory.php on line 93 and defined in /var/develo

[2017-11-30 19:13] dwirt commented on #12428
@will-b What are you talking about? This doesn't seem related to the issue at all.

[2017-11-30 19:13] magento-engcom-team commented on #12251
@expertalex, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 19:13] #12251 closed, assigned to nobody

[2017-11-30 19:14] magento-engcom-team commented on #12307
@Kumail1, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 19:14] #12307 closed, assigned to nobody

[2017-11-30 19:15] magento-engcom-team commented on #12309
@ajinkya-dhande, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 19:15] #12309 closed, assigned to nobody

[2017-11-30 19:19] magento-engcom-team commented on #12311
@vijaymagento1, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 19:19] #12311 closed, assigned to nobody

[2017-11-30 19:20] magento-engcom-team commented on #11706
@msawyers, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 19:20] #11706 closed, assigned to nobody

[2017-11-30 19:21] magento-engcom-team commented on #12298
@cloverbox, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-30 19:21] #12298 closed, assigned to nobody

[2017-11-30 20:46] stefandoorn commented on #3698
Not using M2 right now, so cannot provide the requested information, therefore closing.

[2017-11-30 20:46] #3698 closed, assigned to rgoncharuk

[2017-11-30 21:11] fremeni commented on #12129
Same problem here.

[2017-11-30 21:38] magento-engcom-team commented on #10316
@dmanners, thank you for your report.
We've created internal ticket(s) MAGETWO-84823 to track progress on the issue.

[2017-11-30 22:06] wd7080 commented on #7869
I can see this issue is still actual from errors reported on the google search consol under crawl errors. Have a look at the below:
![google webmaster](https://user-images.githubusercontent.com/33989344/33457547-670e572c-d5e8-11e7-9d02-1c2398467ca3.png)

[2017-11-30 22:23] orlangur commented on #9875
@EliasKotlyar fix is already in `2.2-develop` but not released yet.

[2017-11-30 22:34] orlangur commented on #12502
Where do you see `\Magento\Store\App\Response\Redirect` is aware of admin? Is `$this->_storeManager->getStore()->getBaseUrl()` returning admin base URL when executed in context of admin controller?

[2017-11-30 22:51] magento-engcom-team commented on #2403
Hi @rossbearman thank you for the report. We will take into account your concerns during the backlog planning

[2017-11-30 22:51] #2403 closed, assigned to nobody

[2017-11-30 22:59] magento-engcom-team commented on #2906
Hi @richdynamix
Thank you for your response. We are processing our tech dept on GitHub issues now and trying to respond on new reports ASAP.
Closing this issue now. If you still expressing the issue, please follow issue reporting guideline to get the response faster.
Thank you

[2017-11-30 22:59] #2906 closed, assigned to nobody

[2017-11-30 23:25] davidedmonson commented on #11387
I too had this issue. I was able to add .swatch-input{display:none} to my css and that fixed it for me. However, I do plan to use @hstothard fix in a future update.

[2017-11-30 23:55] okorshenko commented on #12503
Please, provide detailed steps to reproduce. `simplecron.php` is not Magento endpoint

[2017-12-01 00:04] okorshenko commented on #12004
Fixed in 2.2-develop

[2017-12-01 00:04] #12004 closed, assigned to valentinboyanov

[2017-12-01 00:06] #9360 closed, assigned to jahvi

[2017-12-01 00:08] okorshenko commented on #11941
Fixed in 2.2-develop

[2017-12-01 00:08] #11941 closed, assigned to nmalevanec

[2017-12-01 00:08] okorshenko commented on #12083
Fixed in 2.2-develop

[2017-12-01 00:08] #12083 closed, assigned to p-bystritsky

[2017-12-01 00:26] wd7080 commented on #12460
I followed the steps above and I have the SSL on in my configuration.
Three Line Menu Navicon becomes unclickable. I can see it but when I click on it it does not open to show the menu items.
Varnish cache configuration is below:
![varnish](https://user-images.githubusercontent.com/33989344/33462214-f2a9ecde-d5fb-11e7-96e8-fca12b0e75c0.png)

[2017-12-01 00:42] okorshenko commented on #10979
https://github.com/magento/magento2/issues/7678 fixed in 2.2-develop

[2017-12-01 00:42] #10979 closed, assigned to dverkade

[2017-12-01 00:56] #8199 closed, assigned to keharper

[2017-12-01 01:05] okorshenko commented on #5351
Hi @deepanshu27193 please let us know if the issue exists in latest 2.2 release. 2.0 is end of life

[2017-12-01 01:38] duongquyet commented on #2614
@Viktorminator  Thanks, It work for me.

[2017-12-01 02:19] aeu opened #12504 "[2.1.10] Mini-cart still shows items after checkout is complete."
After an order is placed and the user is presented the success page, the cart icon in the header still shows product count, and the minicart still has items in it.

This is has been reported here before, and has been marked as fixed, but I am still seeing this in 2.1.10.  (PHP 7, Centos 7, Apache, MariaDB).

This is reproducible 100% just by placing a test order.

![screen shot 2017-11-30 at 9 13

[2017-12-01 03:18] okorshenko commented on #9468
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 03:18] #9468 closed, assigned to RomaKis

[2017-12-01 03:18] okorshenko commented on #6634
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 03:18] okorshenko commented on #9961
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 03:18] #9961 closed, assigned to p-bystritsky

[2017-12-01 03:43] okorshenko commented on #12504
Hi @aeu
Please provide a link to the previous report and add details steps to reproduce and store configuration
Thank you

[2017-12-01 05:15] #11236 closed, assigned to dverkade

[2017-12-01 05:16] okorshenko commented on #11509
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 05:16] #11509 closed, assigned to nmalevanec

[2017-12-01 05:17] okorshenko commented on #11882
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 05:17] #11882 closed, assigned to nmalevanec

[2017-12-01 05:17] okorshenko commented on #8255
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 05:17] #8255 closed, assigned to nmalevanec

[2017-12-01 05:17] okorshenko commented on #11484
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 05:18] okorshenko commented on #11236
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 05:18] okorshenko commented on #9931
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 05:18] #9931 closed, assigned to brobie

[2017-12-01 05:26] aeu commented on #12504
Hi @okobchenko

Here's a few.  In the last link it was marked as fixed in 2.2.0 and 2.1.9 but I'm seeing it in 2.10.

2016 - https://github.com/magento/magento2/issues/4969
2016 - https://github.com/magento/magento2/pull/5807
Said that wasn't going to be in 2.1.8 - https://github.com/magento/magento2/pull/10050
Marked as merged - https://www.codacy.com/app/vrann/magento2/pullRequest?prid=733533
Ma

[2017-12-01 06:32] vamshikrushna opened #12505 "Cron job and memory error in magneto 2"
**Check Cron Scripts**
Cron script readiness check failed. Hide detail

Error from Updater Application Cron Script:

Found non-writable path(s):
/home/besthomeservices/public_html/var/.htaccess

For additional assistance, see cron scripts help.

**Check Component Dependency**
We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with packa

[2017-12-01 06:53] michaeldyl520 commented on #7587
There have a bug, default config set braintree api key, and set another api key to another website, then ordered in the website, then you submit invoice in backend of this order, you can get some went wrong error test.This is a big problem @joni-jones .

[2017-12-01 07:03] sam110386 commented on #12503
okorshenko, i used this file just to hit the cron function of Ebizmarts\MailChimp\Cron\Ecommerce.php

[2017-12-01 07:10] joni-jones commented on #7587
@michaeldyl520, this is known issue and already fixed in the 2.2-develop branch, the fix will be available in 2.2.2 and 2.1.11 Magento releases.

[2017-12-01 07:48] OscarMadia commented on #12480
Hi,

We can close this report. Customer had used the following line in the transaction e-mail for order confirmation.
{{trans "%date" date=$order.getCreatedAtFormatted('dd-MM-yy')}}

Thanks.

[2017-12-01 07:48] #12480 closed, assigned to nobody

[2017-12-01 07:50] roman204 commented on #11885
This is really not nice, struggled around with it and in the end i wrote a module which provides a [quick fix ](https://github.com/CopeX/PaypalFix)to get the payment via paypal back for shops which are online now and cant wait for a new version.

[2017-12-01 08:11] magento-engcom-team commented on #12505
@vamshikrushna, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-01 08:11] #12505 closed, assigned to nobody

[2017-12-01 08:16] a970032 commented on #12398
Same problem, Magento 2.2.1

[2017-12-01 09:17] craigcarnell commented on #12273
@renttek

Thank you for the more helpful response :+1:

https://wiki.php.net/rfc/mcrypt-viking-funeral

https://wiki.php.net/rfc/libsodium

[2017-12-01 09:21] magento-engcom-team commented on #12488
@versdivers, unfortunately, we cannot give you an answer before we could reproduce this issue.

[2017-12-01 09:31] PascalBrouwers opened #12506 "Fixup typo getDispretionPath -> getDispersionPath"
1. Magento 2.2.x

### Expected result
1. Function should not have a typo.

### Actual result
1. Function is called `getDispretionPath` instead of `getDispersionPath`

[2017-12-01 09:42] magento-engcom-team commented on #11372
@gulshan-streammarket, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-12-01 09:43] magento-engcom-team commented on #12422
@weynhamz
As we can see from your composer.json files - you did upgrade from Enterprise edition to Community edition - I am not sure that it's valid. May you please try to do it properly.

[2017-12-01 09:56] magento-engcom-team commented on #12460
@wd7080
We consider your problem is caused by SSL. Look in this documentation -
http://devdocs.magento.com/guides/v2.1/config-guide/varnish/config-varnish.html#config-varnish-issues

[2017-12-01 10:13] oltseb commented on #6415
@magento-engcom-team , I can confirm that issue is still present.
I am using PHP 7.1, Magento 2.2.1.
Price reindex for 300k+ products is taking forever. When trying to verbose the process I am receiving the following error, while trying to handle chunk with the latest ID = 295211:

`SQLSTATE[HY000]: General error: 1114 The table 'catalog_product_index_price_cfg_opt_agr_temp' is full, query was: IN

[2017-12-01 10:23] duongquyet commented on #12491
Hi,
I have same problem. Did you fix it?

[2017-12-01 10:24] adamkaczmar commented on #8702
Steps to reproduce are missing one step. So it will be:

## Steps to reproduce
1. In Stores > Configuration > Sales > Checkout, set _Display Billing Address On_ to _Payment page_.
2. Sign into Magento store.
3. Add product(s) to cart.
4. Open browser dev tools -> console -> errors.
5. Go to checkout (step with billing address form).

You will see error as described by @tsmith1985 and billing addre

[2017-12-01 10:30] magento-engcom-team commented on #12151
@heyepic, thank you for your report.
We've created internal ticket(s) MAGETWO-84859 to track progress on the issue.

[2017-12-01 10:30] magento-engcom-team commented on #12500
@PascalBrouwers, thank you for your report.
We've created internal ticket(s) MAGETWO-84857 to track progress on the issue.

[2017-12-01 10:30] magento-engcom-team commented on #12338
@jigardhaduk, thank you for your report.
We've created internal ticket(s) MAGETWO-84858 to track progress on the issue.

[2017-12-01 11:18] magento-engcom-team commented on #12487
@sennin32, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-01 11:19] magento-engcom-team commented on #12487
@sennin32, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-01 11:21] adamkaczmar commented on #8702
Apparently it was theme template issue. In this case `getCode($parent)` should be used instead of `$parent.getCode()`.

[2017-12-01 11:30] magento-engcom-team commented on #12480
@OscarMadia, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-01 11:32] ishakhsuvarov commented on #12480
@OscarMadia Thank you for the update!

[2017-12-01 11:33] logicallimit commented on #10838
@jhruehl Thanks for your pointer. The patch fixed exactly the same issue I was facing. I am at Magento 2.2.1 CE. So, that means fix is still not released in Magento 2.2.1. Hope it would be released in next release. It is a critical fix.

[2017-12-01 11:42] orlangur commented on #12503
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2017-12-01 11:42] #12503 closed, assigned to nobody

[2017-12-01 11:48] jakwinkler opened #12508 "Product API updates error"
This bug is related to updating product data by SOAP / REST API.

### Preconditions
1. Magento 2.1.7
2. Simple / Configurable product save / update by API

### Steps to reproduce
1. Create a simple / configurable product manually. Set it status disabled.
2. Create a SOAP request to update that product to: **change product status** to enabled and **assign product to some categories**, for example:

[2017-12-01 11:49] qsolutions-pl commented on #12508
getCategoryIds() returns following data structure:
[code]

[2017-12-01 11:54] qsolutions-pl commented on #12508
Here is how I've solved this temporary for the Client, but in my opinion SOAP XML mapping should be a place where final fix takes place and always return 1 dimensional array for getCategoryIds():
[code]
vendor/magento/module-catalog/Model/Product.php, **getIdentities()** method

[2017-12-01 12:02] magento-engcom-team commented on #5873
Hi @ComputerNorth  we can not reproduce the issue on clean magento  instance. Please, report the issue to the https://github.com/magento/data-migration-tool repository is there is an issue in the tool.

[2017-12-01 12:02] #5873 closed, assigned to nobody

[2017-12-01 12:10] VesnaS opened #12509 "Admin category tree move doesn't recreate subcategory URL rewrites"
### Preconditions
Magento version 2.1.6 (clean version with sample data)
PHP version 7.0.25
MySQL 5.7.20

### Steps to reproduce
1. Create Parent, Child and Grandchild categories

![parent_child_grandchild](https://user-images.githubusercontent.com/33281361/33481991-39d34bbe-d697-11e7-9274-f40b6b1fe535.png)
2. Magento will create correct URL rewrites for all three categories
3. Move Child category

[2017-12-01 12:16] magento-engcom-team commented on #8952
@loomdecor, thank you for your report.
We've created internal ticket(s) MAGETWO-84869 to track progress on the issue.

[2017-12-01 12:18] JeroenVanLeusden commented on #12483
You see any canceled orders with those products? If so, could also be related to https://github.com/magento/magento2/issues/9969

[2017-12-01 12:20] afnanm opened #12510 "store view is disable in admin dashboard after theme installation"
Hello,
After installation of theme, store view not appear on a product page in admin panel. I have two store view. I need a solution quickly, please.
 Also, I don't know why the view of pages in dashboards as in the image. I must go down to see the content of the page and there is large space at the beginning of the page.
I'm working on :
Magento 2.1.9
PHP5.6
you can see the image of a problem in

[2017-12-01 12:21] magecomp commented on #11283
Open this file
vendor\magento\framework\Session\SaveHandlerInterface.php
Look for
`interface SaveHandlerInterface extends \SessionHandlerInterface`

Replace it with
`interface SaveHandlerInterface extends \Zend_Session_SaveHandler_Interface`

Try and let us know.

[2017-12-01 12:30] magento-engcom-team commented on #6014
@ludwig-gramberg, thank you for your report.
We've created internal ticket(s) MAGETWO-84865 to track progress on the issue.

[2017-12-01 12:36] RKBerkowits opened #12511 "Backend - Admin panel fatal Error - Only variables can be passed by reference in public_html/vendor/magento/module-backend/view/adminhtml/templates/system/search.phtml on line 43"
Magento version - 2.1.7 PHP Version 7.0

On ligin igf backend giving the error - Only variables can be passed by reference in /public_html/vendor/magento/module-backend/view/adminhtml/templates/system/search.phtml on line 43

After googling I found that asp_tag is causing the error but didnt know how to solve this

Please anyone know kindly help me.

[2017-12-01 12:40] magento-engcom-team commented on #12511
Hello @RKBerkowits. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-12-01 12:40] #12511 closed, assigned to nobody

[2017-12-01 13:19] magento-engcom-team commented on #11379
@rigu12 , thank you for your report.
This is duplicate of [#10908](https://github.com/magento/magento2/issues/10908)

[2017-12-01 13:20] #11379 closed, assigned to nobody

[2017-12-01 13:21] magento-engcom-team commented on #4936
Hi @ruturamani
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-12-01 13:21] #4936 closed, assigned to nobody

[2017-12-01 13:23] magento-engcom-team commented on #7877
@antonlazarchenko , thank you for your report.
Please try ry to reproduce this issue on fresh and clean installation without any third-party dependencies.

[2017-12-01 13:30] magento-engcom-team commented on #8975
@franckgarnier21, thank you for your report.
We've created internal ticket(s) MAGETWO-84874 to track progress on the issue.

[2017-12-01 13:53] VesnaS opened #12512 "List of allowed countries in checkout per website"
### Preconditions
Magento version 2.1.6 (clean version with sample data)
PHP version 7.0.25
MySQL 5.7.20

### Steps to reproduce
1. Create two websites, and set one of them as default
2. Under Stores -> Configuration -> GENERAL -> General -> Country options -> Allow countries set different lists of allowed countries on default configuration level, and for every other created website. E.g for nl we

[2017-12-01 14:00] OleksiiStepanov opened #12514 "Impossible to set source model when create new attribute"
Resource model always saves default source model independet of attribute data.
Thats why impossible to set source model when create new attribute.

https://github.com/magento/magento2/blob/82caf48db2498d07f0f6c1ebee2ea134fbb8a79f/app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute.php#L184

## Preconditions
Magento 2.4-develop without sample data is installed.

## Steps to reproduce
Programa

[2017-12-01 14:21] kanduvisla commented on #10838
It seems that the `customer_grid_flat` is not updated automatically since I've updated 2.1.8 to 2.1.9. Indexing using the CLI works however. Is this also related to this issue?

[2017-12-01 14:26] amorcian commented on #3590
Scams

[2017-12-01 14:30] magento-engcom-team commented on #12301
@vanchi-nathan, thank you for your report.
We've created internal ticket(s) MAGETWO-84877 to track progress on the issue.

[2017-12-01 14:30] magento-engcom-team commented on #12506
@PascalBrouwers, thank you for your report.
We've created internal ticket(s) MAGETWO-84875 to track progress on the issue.

[2017-12-01 14:49] magento-engcom-team commented on #12514
@OleksiiStepanov, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-12-01 14:54] OleksiiStepanov commented on #12514
update issue

[2017-12-01 14:54] magento-engcom-team commented on #8488
@shahrukh-alizai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-01 14:59] hellekim commented on #12483
@JeroenVanLeusden this is exactly what happens - thank you!

[2017-12-01 14:59] Bombe93 commented on #8674
I'm on Magento ver. 2.1.8 and you are right welllin

[2017-12-01 15:02] magento-engcom-team commented on #12509
Hello @VesnaS. Thanks for reporting. Seems we are not able to reproduce Your issue. Here we have attached the video with how we did it. So please, watch this video and tell us what we've been doing differently.
[urlrew.zip](https://github.com/magento/magento2/files/1521969/urlrew.zip)

[2017-12-01 15:32] apedicdev commented on #12502
@orlangur '`$this->_storeManager->getStore()->getBaseUrl()` returns the frontend url because I use a custom admin url. I have to specify the `storeId=0` to get the correct admin url

[2017-12-01 15:47] duffner commented on #7441
I'd like to provide a little additional information /  Less than ideal workaround - After some initial digging into this issue, and debugging core logic, it appears this is called on product save and I'll provide steps below.

It appears that if after #5 in the original reproduction steps if you go to the Configurable product page -> Edit Configuration -> Click next -next - next and without changi

[2017-12-01 15:59] TonyDeplanque opened #12517 "Error during updating product image on configurable"
When setting a configurable product's options via the URL, the gallery images do not update and show error in browser's console.

"Uncaught TypeError: Cannot read property 'updateData' of undefined"

Reproduce on my project and a natif magento2 with sample data.

### Preconditions

1. Magento  2.2.1
2. PHP7

### Steps to reproduce

1. use url : PRODUCT-URL.html#color=OPTION-ID in browser.

### Exp

[2017-12-01 16:12] sehaafdal opened #12518 "I need help..A problem with indexing category"
sorry for my bad English
when typing the link in the search box shows me in browser a 404 error
When i checked the links within the blog the link was present and in the same structure

[2017-12-01 16:16] VesnaS commented on #12509
Hello,
I watched your video, and you've repeated all the steps I've listed.
Here is the recording of me doing the same steps, with a different result from yours.
[reproduce.zip](https://github.com/magento/magento2/files/1522158/reproduce.zip)

[2017-12-01 16:26] heyepic commented on #12151
THANK YOU. Seriously.

[2017-12-01 16:30] magento-engcom-team commented on #9969
@simpleadm, thank you for your report.
We've created internal ticket(s) MAGETWO-70440 to track progress on the issue.

[2017-12-01 16:53] davidroberto commented on #12260
@sasilinux i had the exact same problem.
Finally i found that some required fields was hided by the "info" css class (in which a "0" opacity was set). These fields was needed in order to validate the form, but as there were not displayed, the form couldn't be validated.

So you just need to fix with css the "info" class in order to correctly display all the fields.

[2017-12-01 16:56] sam110386 commented on #12503
i fixed my issue after replacing following code in helper class Data.php at line # 297,
[code]

with
[code]

[2017-12-01 17:06] wd7080 commented on #12460
Thanks. I've disabled the Varnish Cache...

[2017-12-01 17:53] sshymko commented on #12472
@magento-engcom-team
Could you please share the idea of the intended fix.
Is it (1) or (2) suggested by @vtimonin above or something else?
We'd like to implement the workaround and would like it to be in line with the future core fix.

[2017-12-01 18:52] okorshenko commented on #9918
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 18:52] #9918 closed, assigned to jokeputs

[2017-12-01 18:53] okorshenko commented on #11825
The issue has been fixed and delivered to 2.1-develop, 2.2-develop and 2.3-develop branches. Will be available with upcoming patch release

[2017-12-01 18:53] #11825 closed, assigned to osrecio

[2017-12-01 18:54] okorshenko commented on #11908
The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-12-01 20:29] congaframe commented on #10794
Hi,
Can you please re-open this issue ?
or at least give us the PR/commits that fixes this in 2.2 ?
I seem to have the same issue in 2.1.5 - under the tab Action:
"Apply the rule only to cart items matching the following conditions (leave blank for all items)."
All conditions are removed after saving.

[2017-12-01 20:38] J-Fricke commented on #5128
@veloraven which version of Magento 2 will this resolve in? We are still seeing it in v2.1.9 and will soon be upgrading to one of the v2.2.x versions. I see the TODO for v2.3, though I'm not seeing it happen on a clean 2.2.1 install, so that is hopeful.

[2017-12-01 22:14] d10nZ commented on #12504
the bug is reproduced on 2.1.9
"detailed steps to reproduce" : just place order with PayPal Express (Sandbox mode is enough)
1. Login with existing Customer account;
2. Put any product into Shopping Cart;
3. Go to Checkout Page
....
4. choose PayPay ... enjoy the process

As a result: the success Page with not cleared Quote

![screenshot at 2017-12-02 02-12-06](https://user-images.githubuserconten

[2017-12-02 03:10] versdivers commented on #12488
Is it possible like i ask to manually put the same value in that table with a difference source id and try to filter with the filter navigation?

[2017-12-02 04:44] okorshenko commented on #12518
@sehaafdal
Thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-12-02 04:52] okorshenko commented on #11324
@andrewkett The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-02 04:52] #11324 closed, assigned to nobody

[2017-12-02 05:07] versdivers commented on #6877
On book.phtml file you will see
[code]

Just change the 'deleteAddress' value to whatever your it represents. I changed the li to div so for me it was 'div.item a...'

[2017-12-02 05:21] marshallthornton commented on #5447
We just ran into this issue recently so for anyone else who might run into it, the problem comes from the "position" being empty when it is inserted into the DB. When it renders the associated products on the page, the JS only fills in the position for the currently visible page causing anything on page 2+ to send no position value in the POST request and thus trigger this error.

Easiest solution

[2017-12-02 12:38] versdivers opened #12524 "Custom address attribute shown on frontend"
I have added a custom attribute to the customer address. Now this should only be visible for the admin and not for the customer.

### Preconditions
1.  Magento 2.2.1
2. PHP 7+

### Steps to reproduce
1.  Create a custom attribute programmaticly code

[code]

[code]

2.  Fill in the new attribute in a customer
3.  go to checkout

### Expected result
1.  Its only added to adminhtml_customer_address

[2017-12-02 15:31] danemacmillan commented on #12432
@orlangur Like https://github.com/magento/magento2/issues/9498 or the countless indexing issues listed here that rear their heads when you have hundreds of thousands of products? Who designs a system to fail catastrophically and without any helpful error messages or ways to resume progress when dealing with several-hours-long processes? People who don't write with scale in mind. The test data you

[2017-12-02 18:37] ooxi commented on #9366
@nepda I wanted to ping @magento-engcom-team instead of you :-)

Sorry to hear you stopped the migration

[2017-12-02 18:51] intercase commented on #10660
@elvinristi Does this patch fixed the issue?

[2017-12-02 19:54] rishabhchd19 opened #12525 "Layered Navigation failed to fetch Product Category"
### Preconditions

1. Magento CE 2.2.1, Php 7.0x

### Steps to reproduce

1. Create 3 newly fresh 'Parent-Sub' Categories Under 'Default Category(Root)'.
2. Those 3  Parent subcategories will have further Sub Categories.
3. Now populated each Parent Subcategories until 31x products. One of the Parent Sub Category will not be shown under Layered Navigation. But the missing Parent- Sub category is s

[2017-12-02 22:32] oviliz opened #12526 "Currency change, Bank Transfer but checkout page shows "Your credit card will be charged for""
Magento 2.2.0 and 2.2.1.

If I change currency, when I choose and proceed with the checkout choosing as Payment Method, **Bank Transfer** Payment, on the right column under Order Total it prints "Your **credit card** will be charged for".

Attaching picture.
![screenshot from 2017-12-02 22-10-15](https://user-images.githubusercontent.com/73616/33520316-a56b1806-d7b0-11e7-91cf-9fba65799ebe.png)

[2017-12-03 00:25] Ctucker9233 commented on #8422
@magento-engcom-team Thank you for fixing. Can you please open a ticket to backport it to 2.1?

[2017-12-03 00:27] Ctucker9233 commented on #5943
@magento-engcom-team Thanks for fixing. Can you please open a ticket to backport to 2.1?

[2017-12-03 00:52] Ctucker9233 commented on #9474
@magento-engcom-team Any updates on this issue?

[2017-12-03 00:59] Ctucker9233 commented on #4751
@magento-engcom-team I confirm it has been fixed.

[2017-12-03 01:10] Ctucker9233 commented on #5773
@magento-engcom-team and backported to 2.1 I hope?

[2017-12-03 01:26] Ctucker9233 commented on #7620
@magento-engcom-team and backported to 2.1 I hope?

[2017-12-03 07:29] rahimalizada commented on #9676
Same problem on mass importing products

[2017-12-03 11:19] tonytrinh206 commented on #6817
I have the same issue on Magento 2.2.1. Any fixes?

[2017-12-03 11:21] elvinristi commented on #10660
@intercase , for us, yes.

[2017-12-03 11:54] orlangur commented on #7620
@Ctucker9233,

[2017-12-03 12:00] tonytrinh206 opened #12527 "Incorrect currency format when using comma instead of dot"
I am using comma to replace dot for decimal number on Magento 2.2.1
Everything is display correctly except to cart summary. However, it charges a correct amount at the checkout page.

**Preconditions**
1. Magento 2.2.1
2. Store locale: Vietnam

**Steps to reproduce**
1. Adding a product to basket.
2. Go to My Cart page.

**Update** 1. Setup the default store with Australia locale by following this

[2017-12-03 12:57] andkirby commented on #7044
Hi team,

Could you reopen this issue? I got errors:
[code]
In the same time I was able to run the same mysql command:
[code]

[2017-12-03 14:40] arnoudhgz commented on #7543
I just created a PR to solve this issue on 2.2, the solution is suitable for 2.1, so maybe it will be merged also in 2.1

[2017-12-03 14:52] orlangur commented on #12432
@danemacmillan sorry, I don't have to get familiar in deep with the issue you mentioned, Magento is tested with hundreds of thousands of products in fact: https://github.com/magento/magento2/blob/2.2-develop/setup/performance-toolkit/profiles/ce/extra_large.xml#L14

There always could be some special circumstances, like 10000 variations assigned to the same configurable product or something, each

[2017-12-03 19:34] southerncomputer commented on #12273
pecl has mcrypt

[2017-12-03 20:29] southerncomputer commented on #12438
if they would lighten up on the .js libs [merge bundling } the delay would go away, benchmark with chrome performance dev mode - all the backend ajax loading delays go from 2-3secs  to 0-1 secs! no joke!

[2017-12-03 21:54] osrecio commented on #12450
Working on it

[2017-12-03 22:27] osrecio commented on #12446
I'm working on it

[2017-12-04 02:48] eharvest opened #12531 "Product Review Not Working, Error: "Please enter a review summary.""
### Preconditions

1. Magento 2.1.9

### Steps to reproduce

1. Try write a product review
2. Fill all required fields and submit the review

### Expected result

1. Review submitted successfully

### Actual result

1. Review unable to submit, error message showing as: "Please enter a review summary."

[2017-12-04 03:59] darkredz commented on #12476
1) Simply download 2.2.1 or 2.1.9 from magento site https://magento.com/tech-resources/download and install on a apache serve, php 7.0, mysql 5.6
2) add a product with its information to magento and published
3) try doing the mentioned Conditions or Action rules in Cart Price Rules.
4) it will show 404 page not found

[2017-12-04 05:27] jpcsguru opened #12532 "cannot assisgn theme"
After installing magento 2.2.1 @content>design
you cannot assign the theme rendering home blank

[2017-12-04 06:27] dromoded opened #12533 "Unable to import external jpeg images from a CDN with dynamic URLs."
Unable to import products with external jpeg images hosted on a CDN with dynamic URLs not ending with ".jpg" or ".jpeg", e.g.
`http://asset.lemansnet.com/media/edge/8/4/0/840EC331-41BE-4AFF-9392-4A35F2C486A9.png?x=260&y=260&b=ffffff&t=image/jpeg`
(This is a real image, and it is indeed a jpeg. Parameters "x" and "y" control image size, "b" - background color)

The same procedure as described below

[2017-12-04 06:54] magento-engcom-team commented on #12509
And would You @VesnaS be able to repeat all the steps in Your video, but with the system messages (there up on the screen) resolved, so that we can be sure that there are no unresolved issues that cause our issue. Thank You.

[2017-12-04 07:05] magento-engcom-team commented on #12532
@jpcsguru , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-12-04 07:06] magento-engcom-team commented on #12121
@p3kyle, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 07:06] #12121 closed, assigned to nobody

[2017-12-04 07:13] jpcsguru commented on #12532
Normal install 6 times does the same >magento 2.2.1
login backendend
content>design>configuration
cannot assign any theme at all

to select theme
cannot select theme

[2017-12-04 07:23] magento-engcom-team commented on #12476
@darkredz we'd really want to find where the problem is so please help us in that.
1. Again You've used "published"

What exactly do You mean under "published"? Simply "saved" or something else?
2. What operating system You use?
Thank You.

[2017-12-04 07:28] idmistir commented on #12266
@vadimjustus Did you solve this somehow?

[2017-12-04 07:37] sibhis commented on #6415
I am facing similar issue while placing order
SQLSTATE[HY000]: General error: 1114 The table 'catalog_product_index_price_cfg_opt_agr_tmp' is full, query was: INSERT INTO catalog_product_index_price_cfg_opt_agr_tmp SELECT sub.parent_id, sub.entity_id, sub.customer_group_id, sub.website_id, sub.price, sub.tier_price FROM (SELECT e.entity_id, cg.customer_group_id, cw.website_id, IF(IFNULL(tas_tax_cl

[2017-12-04 08:09] giacmir commented on #5873
@magento-engcom-team I don't think is related to the migration tool. We have the same thing on a clean 2.2 installation.

[2017-12-04 08:22] VonKavalier commented on #8732
I see that the TODO is done in the 2.3 branch. Could you provide a link where it's fixed in 2.2 ? I wasn't able to see the fix in my 2.2 local installation, and didn't find anything proving it has been solved in 2.2 except those labels.

[2017-12-04 08:30] magento-engcom-team commented on #10030
@jignesh26, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 08:30] #10030 closed, assigned to nobody

[2017-12-04 08:34] sennin32 commented on #12474
Not only Swatch.
I'm facing the same issue for simple item and configurable items.
Worst of all, some configurable items is not show even the stock quantity is positive, in stock, and enabled.

[2017-12-04 08:36] rob-gonz opened #12534 "Review Paypal transaction in paypal from order page link - Bad Url"
If a customer has paid with paypal a link is provided at the bottom of the order page. Clicking the transaction id leads you to paypal, but the URL is bad.

### Preconditions

1. Paypal Express Payment
2. Magento 2.1.10

### Steps to reproduce

1. Place order and pay with Paypal Express
2. Go to Sales -> Orders -> Select order
3.  Scroll to bottom and click Transaction ID: "[click transaction ID h

[2017-12-04 08:42] magento-engcom-team commented on #12532
@jpcsguru ,We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation
![design_1](https://user-images.githubusercontent.com/31669971/33543440-baf682ac-d8df-11e7-8a8a-09ce894f0e50.png)
![design_2](https://user-images.githubusercontent.com/31669971/33543451-c073e2ce-d8df-11e7-95e

[2017-12-04 08:45] magento-engcom-team commented on #12504
@aeu, thank you for your report.
We've created internal ticket(s) MAGETWO-84948 to track progress on the issue.

[2017-12-04 08:45] magento-engcom-team commented on #12504
@aeu, thank you for your report.
We've created internal ticket(s) MAGETWO-84948 to track progress on the issue.

[2017-12-04 08:54] magento-engcom-team commented on #12510
@afnanm , , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-12-04 09:13] magento-engcom-team commented on #12531
Hello @eharvest. Thanks for reporting. We've been not able to reproduce Your issue following the steps, You provided. Here we have attached the video with how we tried to do it. Please watch it and tell us what we have missed or what we have done not like You have.
[Reviews.zip](https://github.com/magento/magento2/files/1526371/Reviews.zip)

[2017-12-04 09:22] Krapulat commented on #11002
I have the same problem. Magento 2.2.1.

[2017-12-04 09:29] darkredz commented on #12476
1. Yes, simply saved.
2. centos 6.5, Apache 2.4.29, php 7.0, mysql 5.6.38

[2017-12-04 09:30] magento-engcom-team commented on #4966
@werdlv, thank you for your report.
The issue is already fixed in 2.2.0

[2017-12-04 09:30] #4966 closed, assigned to nobody

[2017-12-04 09:30] magento-engcom-team commented on #12534
@THEANONYMOU5, thank you for your report.
The issue is already fixed in 2.2.1

[2017-12-04 09:30] #12534 closed, assigned to nobody

[2017-12-04 09:37] jpcsguru commented on #12532
That is not what we , we see nothing

James Purcell

DIRECTOR

JPComputer Solutions Pty Ltd

119b edwards Street,Ayr,QLD.4807

Phone 0747836425

www.jpcomputersolutions.com.au

From: Magento Community Engineering [mailto:notifications@github.com]
Sent: Monday, 4 December 2017 6:42 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: jpcsguru <jpcsguru22@gmail.com>; Mention <mention@noreply.gi

[2017-12-04 09:39] jpcsguru commented on #12532
we see nothing
![no theme](https://user-images.githubusercontent.com/12822019/33545744-d28dd410-d92a-11e7-9229-8bb4f8be8d08.png)

[2017-12-04 09:40] renttek commented on #12273
I don‘t think using mcrypt from pecl is a good idea. There are readons why mcrypt was theown put of the php core. I‘d prefer using libsodium + migration script (just like the serialize/json migration on 2.1>2.2)

[2017-12-04 09:49] msieprawski commented on #10321
Hello @magento-engcom-team, seems like I've found the problem. @yonitjio attached whole module which contains custom javascript - `view/adminhtml/web/document/customedit/doctool.js`. This file loads prototype library as it have it registered in dependencies. Once you comment out `<block class="Magento\Backend\Block\Template" template="Fonel_Practice::document/customedit/js.phtml"/>` in `view/admin

[2017-12-04 09:50] magento-engcom-team commented on #12532
@jpcsguru, thanks for update.
we were not able to reproduce this issue by following the steps provided. Please check this issue on vanilla installation without any extension if you have

[2017-12-04 09:58] versdivers commented on #5105
This is still an error in Magento 2.2.1

[2017-12-04 10:11] afnanm commented on #12510
@magento-engcom-team update is done

[2017-12-04 10:13] jpcsguru commented on #12532
YOUR SOFTWARE DOIES NOT I SUGGEST YOU FIX IT

[2017-12-04 10:16] jpcsguru commented on #12532
IT DOES NOT WORK FIX IT MY SERVER TEAM HAS SPENT 7 DAYS ON UR DODGY  MAGENTO 2.2.1

[2017-12-04 10:19] Corsten commented on #11280
I'm having the same issue in 2.1.8.
Our orders are "stuck" in pending mode.

This is value in my sales_order table http://joxi.ru/brRKPVOhQRDEKm
And this is value in my sales_order_grid table: http://joxi.ru/GrqGnO6uNlDEq2

Anybody have any news about this issue?

[2017-12-04 10:19] gwharton commented on #11002
@magento-engcom-team

I have created a test module that implements a cron job that crashes during execution.

It can be downloaded from here [Gw_CronCrash.zip](http://www.gwharton.me.uk/Gw_CronCrash.zip)

This is a simple cron job that just throws an invalid exception, instead of actually doing anything useful. It simulates a cron job crashing for whatever reason during execution.

Once installed,

[2017-12-04 10:25] gwharton commented on #11002
I suspect this bug was introduced when the changes were made to not allow 2 copies of the same cron job to run at the same time.

Before this change, yes, you would have has a stuck job in the running state in the cron_schedule table for each crash that happened, but it would not stop the running (and more importantly clearing) of future instantiations of that cron job that concluded with success.

[2017-12-04 10:29] southerncomputer commented on #6415
tmp_table_size = 4G
max_heap_table_size = 4G

seems to help in my.cnf

[2017-12-04 10:30] magento-engcom-team commented on #12514
@OleksiiStepanov, thank you for your report.
We've created internal ticket(s) MAGETWO-84954 to track progress on the issue.

[2017-12-04 10:30] magento-engcom-team commented on #12524
@versdivers, thank you for your report.
We've created internal ticket(s) MAGETWO-84952 to track progress on the issue.

[2017-12-04 10:30] magento-engcom-team commented on #12512
@VesnaS, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-12-04 10:41] jpcsguru commented on #12532
YOUR SOFTWARE IS DODGY

On Mon, Dec 4, 2017 at 7:51 PM, Magento Community Engineering <
notifications@github.com> wrote:

[2017-12-04 11:10] jwgraves2 commented on #11263
Same issue here.

[2017-12-04 11:27] avra911 commented on #12124
@gvigner for us didnt worked in all projects, it depends if root category is assigned to a store or not, which makes create sub-category failing under some circumstances

[2017-12-04 11:43] cornips commented on #8671
Same issue here. Can't generate sitemaps with option "Add Images into Sitemap". Magento 2.1.9.
`main.CRITICAL: Exception message: SQLSTATE[42S22]: Column not found: 1054 Unknown column 't2_thumbnail.value' in 'field list', query was: SELECT `e`.`entity_id`, `e`.`entity_id`, `e`.`updated_at`, `url_rewrite`.`request_path` AS `url`, IFNULL(t2_name.value, t1_name.value) AS `name`, IFNULL(t2_thumbnail.

[2017-12-04 11:51] mmularski commented on #10485
I made a module which fixed problem for me
This is mix with @fernandofauth and @kksilas solutions

[Module on GitHub](https://github.com/mmularski/magento2-locale-date-time)

[2017-12-04 12:00] BarnyShergold commented on #8174
@okobchenko @magento-engcom-team - We've got this problem in a 2.1.10 site, please can you tell me how you fixed this as I cannot find the PR or commit relating to this Issue

We are getting this as a different error -
[code]

[2017-12-04 12:39] magento-engcom-team commented on #12533
@dromoded, thank you for your report.
We've created internal ticket(s) MAGETWO-84958 to track progress on the issue.

[2017-12-04 13:30] magento-engcom-team commented on #5030
@ipekerti, thank you for your report.
We've created internal ticket(s) MAGETWO-84956 to track progress on the issue.

[2017-12-04 13:32] magento-engcom-team commented on #11202
Hi @filipepiressemait
This is not a bug.
For resolve the issue you should set permissions for user Role in menu: System > Permissions > User Roles > "You role".
In you case you can set access to "Store > Settings > All Stores":
http://prntscr.com/hiwni8

[2017-12-04 13:32] #11202 closed, assigned to nobody

[2017-12-04 13:44] orlangur commented on #10485
@mmularski are you interested in preparing a PR maybe?

[2017-12-04 13:45] luckyraul opened #12535 "Product change sku via repository"
### Preconditions
Magento 2.2

### Steps to reproduce

I have product with sku ```banan```
I load it by id (for ex: 7777) via product repository

I set sku ```pineapple```

And then trying to save via product repository

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/Model/ProductRepository.php#L565
$existingProduct is loading by sku (which in my case is pineapple) a

[2017-12-04 13:45] sibhis commented on #6415
@magento-engcom-team Please refer the commit for this...

[2017-12-04 13:45] korostii commented on #5273
It, kind of, is funny to see all that elaborate "them fallback" mechanics whilst it's not able to handle removal of a them as a whole.

I mean, if the data about selected\available themes is stored in the DB anyway, why not store the parent theme ID as well and why not implement a nice fail-switch here? Go figure.

[2017-12-04 13:45] ysapiga commented on #10485
@mmularski I tried to use your module, but for my case, it doesn't  solve a problem.
I'm using En_UK Interface Locale and when I'm trying to save a product "as new" the error is appearing.

[2017-12-04 13:54] VesnaS commented on #12509
Hello,
I finally realized what the difference is between your and mine environment.
You have only one website, and I have multi-website configuration.
In order to be able to reproduce this bug, please:

-  Add one more website, store and store view

![test_website](https://user-images.githubusercontent.com/33281361/33555926-7610e308-d902-11e7-9caa-0a160e6e3aa5.png)

- Associate Default root catego

[2017-12-04 13:58] magento-engcom-team commented on #12510
@afnanm ,  thanks for your update. Please check this problem on clean installation of Magento.

[2017-12-04 14:04] aron0904 commented on #11263
Any update on this? Magento 2.2.1 and doing this as well.

Would appreciate if anyone has a way to get this fixed.

[2017-12-04 14:05] ishakhsuvarov commented on #12532
Closing and locking this thread due to improper communication.
Offensive posts were removed.

[2017-12-04 14:05] #12532 closed, assigned to nobody

[2017-12-04 14:08] webusat commented on #11263
I am on 2.2.0 and still have to open developer, find the empty field, right-click and delete it and then save.  That works for now.

[2017-12-04 14:11] aron0904 commented on #11263
So it works only in developer mode? right click and delete? Confused by this. If you can share a screenshot would appreciate.

[2017-12-04 14:16] webusat commented on #11263
View the page using developer (right click on the admin page and select inspect) find the field and right-click the field and select delete element from the dropdown.  Then save.
![screen shot 2017-12-04 at 9 14 54 am](https://user-images.githubusercontent.com/3420585/33556996-da84a286-d8d3-11e7-8e4c-594ba04bef05.png)

[2017-12-04 14:16] mmularski commented on #10485
@yasapiga I was testing it on en_GB and en_US on Magento 2.1.8 and it works. Could you write error msg from the exception?

[2017-12-04 14:18] openwavecomputing opened #12536 "Magento 2 When we are try to update the custom attribute for the product then the default store price updated to other store"
When we are try to update the custom attribute for the product then the default store price updated to other stores for the same products.
We are working with pro-grammatically bulk product uploads. We are processing the data from CSV file. here we are working with single web site and multiple store view. eg: IND, USD.... etc. Our csv file keeps different price for different store view and this is

[2017-12-04 14:18] openwavecomputing commented on #12536
Hello Magento Team,

I found very simple code to re produce this issue.
Please try this with below code

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $objectManager->create('Magento\Catalog\Model\Product')->load(// Some Product Id //);
$_product->setStatus(\Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_DISABLED);
$_product->setStoreId(// Some St

[2017-12-04 14:19] openwavecomputing opened #12537 "Magento2.1.5 admin shipping report shows wrong currency code"
I have working magento2.1.5 version in admin side Shipping Report had currency issues.
admin->Reports->Sales->Shipping
if i have switch to another store it is showing default currency only. the actual result should show the switched store currency only.
For example,
I have using single website with multi store view. The stores are USA, Singapore and India.
The default store is USA with currency se

[2017-12-04 14:30] magento-engcom-team commented on #5445
@sma09sjb, thank you for your report.
We've created internal ticket(s) MAGETWO-84479 to track progress on the issue.

[2017-12-04 14:30] magento-engcom-team commented on #11354
@pmoreno1980, thank you for your report.
We've created internal ticket(s) MAGETWO-84966 to track progress on the issue.

[2017-12-04 14:30] magento-engcom-team commented on #9120
@stefanguapa, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-12-04 14:30] #9120 closed, assigned to nobody

[2017-12-04 14:34] magento-engcom-team commented on #9828
@Brikner, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-12-04 14:35] magento-engcom-team commented on #10292
@andrewhowdencom, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-12-04 14:41] andrewhowdencom commented on #10292
With respect @magento-engcom-team, that has been the case for several issues I have no reported. Please update your policies to explain back to me clearly the steps you took, so I can assist you in debugging further.

To begin, can you confirm that you read https://magento.stackexchange.com/questions/177924/magento-2-1-5-composer-install-fails-to-generate-all-files/184666#184666?

[2017-12-04 14:44] lano-vargas commented on #8532
I started having 'autocomplete' of undefined exact same as @snez  described when I was asked to by my team to remove shopping  cart icon completely so I did in my custom theme I added:
[code]
Didn't see the undefined until I had to look at the chrome console for debugs I got a surprise and spend a few hours trying to figure it out what was causing the issue then gotcha! now I just using css to dis

[2017-12-04 14:53] rip057 commented on #6415
this isnt necessarily a magento issue.  other than the method that they use to go about indexing the various tables for later use.  an error of
    SQLSTATE[HY000]: General error: 1114 The table 'catalog_product_index_price_cfg_opt_agr_temp' is full, query was: INSERT
is a mysql error referring to a temporary table being over filled.  basically you allotted so much space for temporary storage for

[2017-12-04 14:59] dbrekelmans commented on #12535
Are you sure the product exists with the provided $entity_id? Could you confirm this?

[2017-12-04 15:02] luckyraul commented on #12535
yes, I just replace sku for product

[2017-12-04 15:10] eTonki commented on #12095
Same problem,
i have updated from 2.1.9 to 2.2.1

[2017-12-04 15:16] PascalBrouwers commented on #6415
@rip057 this IS a magento issue. Or rather a flawed programming design of putting all logic in 1 huge query. You will notice these issues when you have stores with 300k+ products in them with multiple store views.

[2017-12-04 15:21] dbrekelmans commented on #12535
Could you provide some more context around this code?
The error indicates that `getById()` can't find a product.

Please provide the full error message and the surrounding code.

[2017-12-04 15:22] luckyraul commented on #12535
no, the error is in save() method.

[2017-12-04 15:23] luckyraul commented on #12535
[code]

[2017-12-04 15:23] mzeis commented on #11939
Let me check if I can find somebody to tell about the status of this issue.

[2017-12-04 15:24] luckyraul commented on #12535
then you save with new sku, it loads nothing

[2017-12-04 15:30] magento-engcom-team commented on #7253
@springimport, thank you for your report.
We've created internal ticket(s) MAGETWO-82523 to track progress on the issue.

[2017-12-04 15:30] magento-engcom-team commented on #12526
@oviliz, thank you for your report.
We've created internal ticket(s) MAGETWO-84973 to track progress on the issue.

[2017-12-04 15:30] dbrekelmans commented on #12535
Either there is no product with the provided SKU, or `$tempProduct` is not a valid subclass of `\Magento\Catalog\Api\Data\ProductInterface`. Note that instead of `setData('sku', $sku)` it's better practice to use `setSku($sku)`.

If you need further assistance, I think you should take this to StackOverflow, since it does not seem to be a bug in the Magento code, but rather in your own code.

[2017-12-04 15:32] afnanm commented on #12510
@magento-engcom-team how ?

[2017-12-04 15:36] luckyraul commented on #12535
@dbrekelmans you can't undestand the issue.
I have product with sku ```banan```
I load it by id(for ex 7777) via product repository

I set sku ```ananas```

And then via product repository

$existingProduct is loading by sku (which in my case is  ```ananas```) and not find it

so $existingProduct is null

[2017-12-04 15:42] Brikner commented on #9828
That's as detailed as the steps get. Besides, I solved my problem six months ago. Thanks anyway.

[2017-12-04 15:43] dbrekelmans commented on #12535
I understand now.

Try this:
`$product = $this->productRepository->getById($entity_id);
$product->setSku($sku);
$product->save();`

[2017-12-04 15:49] #12487 closed, assigned to nobody

[2017-12-04 16:05] rip057 commented on #6415
That is the nature of database indexes, you do one HUGE calculation now to
stop yourself from doing a certain calculation over and over again.  You do
know the reason that DB tables have indexes?  For faster searching and
inter table correlation.  Each product can have up to as many entities as
are defined, which by default is at least a hundred could be on the order
of hundreds, and when you add

[2017-12-04 16:13] versdivers commented on #12524
Just a question but am i getting notified here when there is a fix so i can fix it waiting for an update?

[2017-12-04 16:17] magento-engcom-team commented on #12318
@4DallasC thanks for feedback. Unfortunately we still can not reproduce this issue.
New steps:
1. Install Magento 2.1.6
2. Create additional store and storeview.
3. Set newly created store as default.
4. Create simple product.
5. Upgrade Magento to 2.1.9
6. Navigate to storefront(additional store).
7. Place order.
Result: Order placed successfully.
Also we tried set additional store as default aft

[2017-12-04 16:20] magento-engcom-team commented on #12527
@tonytrinh206 thank you fro report
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce, especially the method you applied to change decimal symbol.

[2017-12-04 16:29] mzeis commented on #11939
@andrewhowdencom This fix will be in 2.2.2.

[2017-12-04 16:30] magento-engcom-team commented on #7816
@LiamFielding, thank you for your report.
We've created internal ticket(s) MAGETWO-84985 to track progress on the issue.

[2017-12-04 16:32] magento-engcom-team commented on #12150
@georgios-2317, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 16:32] #12150 closed, assigned to nobody

[2017-12-04 16:33] magento-engcom-team commented on #12343
@abuvanth, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 16:33] #12343 closed, assigned to nobody

[2017-12-04 16:34] magento-engcom-team commented on #12380
@Detzler, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 16:34] #12380 closed, assigned to nobody

[2017-12-04 16:35] magento-engcom-team commented on #12348
@matin73, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 16:35] #12348 closed, assigned to nobody

[2017-12-04 16:39] po2go-sean commented on #8504
Is there any update on this issue? (Or any way to track the internal ticket?)

[2017-12-04 16:44] winterk80 commented on #10821
Having the same issue here

[2017-12-04 16:54] orlangur commented on #12535
Not just best practice but I simply don't see method `setData` declared in this interface or its parents. @luckyraul probably `setCustomAttribute('sku', 'pineapple')` would do the trick but how do you think `setData` could work?

[2017-12-04 17:05] winterk80 commented on #8544
paalsoberg you're on to something!
99% sure it's a bug with the email extension not validating in magento correctly. .cloud  .ent  both create the error in 2.1.8.

[2017-12-04 17:07] winterk80 commented on #10821
99% sure it's a bug with the email extensions not validating in magento correctly. .cloud .ent both create the error in 2.1.8.

People here figured out the bug, just need magento to fix now
https://github.com/magento/magento2/issues/8544

[2017-12-04 17:08] winterk80 commented on #11185
It's a bug with magento email address validation, need a patch from magento. See this forum https://github.com/magento/magento2/issues/8544

[2017-12-04 17:17] heidiboh commented on #7333
I'm running M 2.2.1. This remains an issue. We need to be able to set a negative value for price in the product's "customizable options" section. What is the progress on MAGETWO-60573?... or should I use this solution below?

[2017-12-04 17:28] luckyraul commented on #12535
@dbrekelmans

no such a difference between methods
[code]

@orlangur  this problem is not about setData or setSku - this problem about repository method save.

[2017-12-04 17:47] Silarn commented on #10071
The initial issue was a slightly different problem, but the issue/solution found by @moleculech seems to be legitimate and probably needs to be re-reported. Missing a permission should not make you get an error on every admin page.

[2017-12-04 18:33] #12365 closed, assigned to nobody

[2017-12-04 18:34] magento-engcom-team commented on #12360
@hemendraajmera, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 18:34] #12360 closed, assigned to nobody

[2017-12-04 18:35] magento-engcom-team commented on #12351
@rahims99, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-04 18:35] #12351 closed, assigned to nobody

[2017-12-04 18:36] #12179 closed, assigned to nobody

[2017-12-04 19:21] Scott4949 opened #12542 "500 error when selecting cache management page ."
### Preconditions

1.
2. Magento 2

### Steps to reproduce

1. login into Magento Admin
2. Select Systems
3. Click "Cache Management

### Expected result

1. Cache Management Page should display

### Actual result

1. [Screenshot, logs]
 Unable to open the "cache management page". The link in the admin goes to a 500 error page.

[2017-12-04 19:25] okorshenko commented on #6770
@kanduvisla  The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-04 19:25] #6770 closed, assigned to nobody

[2017-12-04 19:26] okorshenko commented on #9633
@dotsoa
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-04 19:26] #9633 closed, assigned to nobody

[2017-12-04 20:02] orlangur commented on #12535
`setData` should not be used here as it is not a part of `\Magento\Catalog\Api\Data\ProductInterface`.

I do agree though that there seems to be missing logic to get product by ID when it was not found by SKU.

[2017-12-04 20:08] orlangur commented on #12502
@apedicdev, where in `\Magento\Store\App\Response\Redirect` class do you see any logic related to admin URLs?

[2017-12-04 20:22] jmtakahashi commented on #11387
@hstothard I'm currently on 2.1.10 and the file vendor/magento/module-swatches/view/frontend/web/css/swatches.css doesn't seem to contain the CSS to hide the extra input field.  I'm confused as to why this issue was closed.  Can you clarify where you found the css code?  Sorry to sound redundant, but it seems to be missing in my core files, which would mean this issue shouldn't be closed.

[2017-12-04 20:43] okorshenko commented on #12542
Thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to reproduc

[2017-12-04 20:48] jmtakahashi commented on #9307
@s00071609 see this issue [https://github.com/magento/magento2/issues/11387](url)

[2017-12-04 20:55] hstothard commented on #11387
Hi @jmtakahashi I am not sure with regards to 2.1.10. I am using version 2.2. It was added as inline styles with JS for me prior to upgrading. The css i was missing from swatches.css was:

.swatch-input {
    left: -1000px;
    position: absolute;
    visibility: hidden;
}

but display none also works well as per @davidedmonson

[2017-12-04 20:59] wd7080 commented on #12446
@osrecio Thanks for working on the ticket! I would like to know if adding /home to the main website name affects Google search engine because, for example, I cannot find my website on google when I look for the domain name only, although the domain name is a .com domain name, alternatively, I get .net.au domain name when I look up for my domain name, but this is not the case with Bing search engin

[2017-12-04 21:21] jmtakahashi commented on #11387
@hstothard thanks for clarifying.  I found the rule in the my core files and also found the reference in  the xml files under vendor/magento/module-swatches/view/frontend/layout/ `<css src="Magento_Swatches::css/swatches.css"/>`

I wonder why it's still showing on my store.  I also temporarily used custom css to hide it, but I wish it would work out of the box.

[2017-12-04 21:24] qsolutions-pl commented on #12542
You should check your remote server / local server for error logs. 500 is a server error, it might not be Magento 2 related at all.

[2017-12-04 21:27] jmtakahashi commented on #11387
@magento-engcom-team this issue should remain open.  It should be a simple fix on your end, and easily included in the next release for both 2.1 and 2.2.

[2017-12-04 21:27] qsolutions-pl commented on #12535
I've experienced same issue before. You cannot use getters and setters on **SKU** because that **is not an  EAV attribute,** it is part of product entity. If you want to change product SKU, the best way to do this is to use a plugin beforeSetSku, that is how I made it work.

[2017-12-04 21:45] wd7080 opened #12543 "Google Crawl Error after running command lines"
### Preconditions

1.  Magento 2 Ver 2.2.1

### Steps to reproduce

1. Connect to your web server using SSH
2. Enter your credentials.
3. Run the following command: `php bin/magento module:disable Magento_Reviews` to disable reviews.

### Expected result

1. Reviews expected to be disabled.

### Actual result

1. Reviews were not disabled and the command line # 3 in steps to reproduce ended in err

[2017-12-04 22:15] al1357 commented on #4363
Same story here. Magento 2.1.10 + Ubuntu + php7.0 in virtual box and page load can be measured in minutes or pages do not load at all. Vagrant syncing is disabled, virtual box is run via vagrant or standalone - no difference.

I have exactly the same magento installation on a hosting company's server and it works fine. I've installed all required extensions for php. I've also installed a clean ver

[2017-12-05 00:43] sshymko commented on #12472
@piotrekkaminski
Could you please advice on the direction the fix should take.
We're on a standstill in implementing the workaround waiting for the guidance of the core team.

[2017-12-05 05:35] pfortin-expertime commented on #10485
Hi @mmularski and @fernandofauth ,

I've tried and the problem remains when I try to edit/create a product.
I'm on Magento 2.1.10 with pt_BR as interface locale.

[2017-12-05 06:25] magento-engcom-team commented on #12510
@afnanm , check this issue on blank or luma theme.

[2017-12-05 06:37] magento-engcom-team commented on #12491
@pradeepnew  thanks for the feedback. Unfortunately, we cannot reproduce this issue. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-05 07:03] afnanm commented on #12510
@magento-engcom-team still i have this problem

[2017-12-05 07:10] magento-engcom-team commented on #12510
@afnanm , Please check this issue on vanilla installation without any extension, thanks.

[2017-12-05 07:21] afnanm commented on #12510
@magento-engcom-team  I install Magento in the main folder of httpdocs and in a sub folder. this problem only in sub folder.

[2017-12-05 07:50] magento-engcom-team commented on #12510
@afnanm ,thanks for response. Please add more steps to reproduce for install M2 in subfolder and your paths.

[2017-12-05 08:04] azurre commented on #7801
Same issue on Magento 2.1.9

[2017-12-05 08:29] DariuszMaciejewski commented on #8520
@magento-engcom-team I don't think it is a correct behavior because editing through the admin panel doesn't work like that. The product repository shouldn't override product websites (especially two or more websites) if it is set in the object.

[2017-12-05 08:30] magento-engcom-team commented on #2540
@bbraspenning, thank you for your report.
The issue is already fixed in 2.1.10

[2017-12-05 08:30] #2540 closed, assigned to nobody

[2017-12-05 08:30] magento-engcom-team commented on #10506
@hankzhh, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-12-05 08:30] #10506 closed, assigned to nobody

[2017-12-05 08:34] magento-engcom-team commented on #12543
@wd7080 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

In console we have message, because this module is dependent and linked to the rest of the modules
Unable to change status of modules because of the following con

[2017-12-05 08:38] magento-engcom-team commented on #4259
@HardRock88 Could you please let us know if the issue is still actual in latest version? Thank you.

[2017-12-05 08:41] magento-engcom-team commented on #12542
@Scott4949 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
See screenshot
![cache_management-iloveimg-cropped](https://user-images.githubusercontent.com/31669971/33597684-e1a3d4d0-d9a8-11e7-8f43-2c17cbf7906d.png)

[2017-12-05 08:49] magento-engcom-team commented on #12509
@VesnaS, thank you for your report.
We've created internal ticket(s) MAGETWO-85022 to track progress on the issue.

[2017-12-05 09:18] digvijay2017 opened #12546 "'Place Order' Button is not clickable at Paypal Order Review Page Magento 2.2.1"
### Preconditions

1.  Install Magento 2.2.1 in  with php 7.0.2
2.  Using Paypal Express checkout payment method in test mode.

### Steps to reproduce

1.  Add item in the cart.
2.  Go to the checkout page.
3.  Add shipping, billing information and select the shipping method.
4. Now, select the Payment method : Paypal Express Checkout.
5. Now, You will be redirected to the Paypal website, Enter th

[2017-12-05 09:23] orlangur commented on #12535
@qsolutions-pl I don't see how `ProductInterface` contract does not allow changing SKU using setter.

[2017-12-05 09:30] magento-engcom-team commented on #4142
@MagePsycho, thank you for your report.
The issue is already fixed in 2.1.10

[2017-12-05 09:30] #4142 closed, assigned to nobody

[2017-12-05 09:35] dbrekelmans commented on #12535
@luckyraul Did you manage to save with product with:
[code]

This way you don't save through the repository and you shouldn't receive the error you encountered.

[2017-12-05 09:39] magentoprince commented on #5735
I got this reply from Paypal Team for this issue.

This is paypal default issue. And paypal technical team working on it.

[2017-12-05 09:39] magentoprince commented on #6897
I got this reply from Paypal Team for this issue.

This is paypal default issue. And paypal technical team working on it.

[2017-12-05 09:41] orlangur commented on #12535
@dbrekelmans issue reporter already mentioned that problem is in repository :) Obviously `$product->save();` does the trick, but it is deprecated, you know.

[2017-12-05 09:42] RomaKis commented on #8601
Seems like it is not a bug, but expected Magento behavior . If you turn on Store / Configuration / Sales / Sales / Minimum Order Amount Enable = Yes and Store / Configuration / Sales / Sales / Validate Each Address Separately in Multi-address Checkout = Yes in Magento admin, "Check Out with Multiple Addresses" works as expected.

[2017-12-05 09:48] magento-engcom-team commented on #12517
@TonyDeplanque thank you for report.
Unfortunately, setting a configurable product's options via the URL is absent in functionality of Magento Community Editon.
Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://c

[2017-12-05 09:48] #12517 closed, assigned to nobody

[2017-12-05 09:50] magento-engcom-team commented on #12476
@darkredz We followed everything You specified: version 2.2.1 from https://magento.com/tech-resources/download; created a product; executed the steps with the cart price rule You had provided. Unfortunately without success. Here we attach probably more detailed video. The steps here we have implemented on a clear, freshly installed instance of Magento. Please watch this video carefully again and t

[2017-12-05 09:50] magento-engcom-team commented on #12542
@Scott4949
When facing a 500 error the first thing you should do is search for your webserver error log. When running on apache it can mostly be found in one of these 2 locations:
/var/log/httpd/ -> centos, archlinux ...
/var/log/apache2/ -> debian, ubuntu ...

[2017-12-05 09:58] apedicdev commented on #12502
@orlangur I can't see any, but using debug this function is called:
`/**
     * Check whether URL is internal
     *
     * @param string $url
     * @return bool
     */
    protected function _isUrlInternal($url)
    {
        if (strpos($url, 'http') !== false) {
            $directLinkType = \Magento\Framework\UrlInterface::URL_TYPE_DIRECT_LINK;
            $unsecureBaseUrl = $this->_storeMana

[2017-12-05 10:41] moleman opened #12547 "Packages file at repo.magento.com is corrupt"
### Steps to reproduce

1. composer require "module"

### Expected result

1. Should add module

### Actual result

1. Composer fails with:
`[ErrorException]
  Array to string conversion`

Found out that the package index file contains: `"name": ["magento\/ece-tools", "magento\/ece-tools"],` which is not correct.

[2017-12-05 10:42] afnanm commented on #12510
@magento-engcom-team I add steps to install Magento on subfolder.

[2017-12-05 11:03] lbajsarowicz commented on #12547
It is caused by Spanish translation module.
<img width="1075" alt="zrzut ekranu 2017-12-05 o 11 54 19" src="https://user-images.githubusercontent.com/1639941/33603851-3d35c302-d9b4-11e7-93c1-93faedd8993b.png">

![zrzut ekranu 2017-12-05 o 11 26 39](https://user-images.githubusercontent.com/1639941/33603856-42a3dc02-d9b4-11e7-82f0-46b8d8ecbafe.png)

[2017-12-05 11:14] Rich8881 commented on #10849
Why close the issue when you needs its ever persistent?

[2017-12-05 11:44] avra911 commented on #10829
This also affects catalogrule_product index, not only customer grid

[2017-12-05 11:51] blahmutz commented on #7171
I just encountered this on 2.2.1 too. Can someone please give me a diff/patch to fix that?

[2017-12-05 11:57] simonattilahun commented on #10499
Same problem seen on Community Edition 2.2.1.
If PayPal Billing Agreement is set to NO, PayPal does not show up on checkout page as payment type.

[2017-12-05 11:58] chonny commented on #12547
same issue here plus
<img width="1071" alt="screen shot 2017-12-05 at 13 58 19" src="https://user-images.githubusercontent.com/491965/33605948-642c7220-d9c4-11e7-9a8a-c2c7d6716af2.png">

[2017-12-05 12:08] lbajsarowicz commented on #12547
Now it works.
I recommend Magento2 core to use CI at least basic type.

[2017-12-05 12:20] chonny commented on #12547
Still presented here

[2017-12-05 12:22] magento-engcom-team commented on #4233
Hi @hungvt
This is not a bug.
To transferring data from quote_item to sales_order_item first of all you should define your attributes, as shown in [dev docs](http://devdocs.magento.com/guides/v2.0/ext-best-practices/tutorials/copy-fieldsets.html)

[2017-12-05 12:22] #4233 closed, assigned to nobody

[2017-12-05 12:39] simonattilahun commented on #10954
So, are there any solution for the HUF rounding problem? We try to implement a store on Community Edition 2.2.1 This seems to be a blocking issue preventing us to go live with PayPal payments as PayPal is sending an error message assumably because of the tax calculation issue.

[2017-12-05 12:43] GlobalOutsourcing commented on #11828
Just want to confirm the same issue as above with PHP Version 7.1.1.

[2017-12-05 12:49] wd7080 commented on #12543
Hello, I think the above message is the same message I got when I run that command. My question, is your testing site crawled by google? If yes, you need to check the error log in google webmaster (Google Search Console) after 24 hours. You will the find the same error there.

[2017-12-05 12:57] chonny commented on #12547
Now it works :)

[2017-12-05 12:59] magentocj commented on #10499
It would be good IF Magento guys provide the patch to fix this issue :)

[2017-12-05 13:22] magento-engcom-team commented on #12546
@digvijay2017 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-05 13:25] AbdurBhadarka opened #12549 "Payment method option is not showing under shopping cart rules condition tab"
I go admin end under left menu:
Marketing > Promotions > Cart Price Rules and create a new Rule: Conditions.

[2017-12-05 13:31] magento-engcom-team commented on #12549
Hello @AbdurBhadarka. Thanks for reporting. Please specify which version of Magento and wich operating system You use.

[2017-12-05 13:49] magento-engcom-team commented on #12510
@afnanm , thank for update. We were not able to reproduce this issue on default Luma theme. Are you use Plesk web hosting?

[2017-12-05 13:51] magento-engcom-team commented on #4745
Hi @Kustorovsky
This is not a bug.
You should specify `<item name="options" ` for your field in category_form.xml

[2017-12-05 13:51] #4745 closed, assigned to nobody

[2017-12-05 13:55] orlangur commented on #12502
You mean something like `$this->_storeManager->getStore(0)->getBaseUrl()` works correctly only?

[2017-12-05 13:57] apedicdev commented on #12502
@orlangur yes it returns the correct base admin url.

[2017-12-05 14:00] orlangur commented on #12502
Well, as you can see from a lot of `$this->_storeManager->getStore()->` calls this class is not supposed to work with admin store. You can implement your own class similar to the `\Magento\Store\App\Response\Redirect` which will have different logic.

[2017-12-05 14:05] apedicdev commented on #12502
@orlangur it's exactly what I reported` \Magento\Store\App\Response\Redirect `does not return the admin url and I've to use as a workaround something it's not supposed to work with admin