[2022-04-08 15:37] adamlavery commented on #29574
Can't quite believe what I've read here but explains why UI component implementation is so poorly done and hit and miss. Someone makes a change, doesn't test it properly and it results in breaking documented functionality that others may rely on. And you're joking about leaving it broken and just removing from the docs? Unprofessional! No wonder Magento is falling apart.

[2022-04-08 15:52] kestraly commented on #28132
Is this related to the MagePlaza OneStepCheckout? Also seeing this error after moving to Magento 2.4 from the 2.3 branch, which worked fine before

[2022-04-08 16:07] gwharton commented on #29574
The point I made about removing it from the docs was.made with tongue in cheek. Hoping it may have shamed Magento Into action. Alas no.

[2022-04-08 16:20] invertedfjord commented on #15461
@ihor-sviziev Does this workaround that you mentioned query the DB in the same way?

[2022-04-08 17:19] engcom-Delta commented on #35275
Hi @csvikram44 ,
Thank you for reply and we tried to reproduce the issue on Magento 2.4 Develop and found that issue is reproducible.
Product item width and height of the tag is not same on Minicart when compared to view.xml.

View.xml
=======
<img width="1440" alt="Screenshot 2022-04-08 at 10 26 24 PM" src="https://user-images.githubusercontent.com/51681379/162490449-16940fab-7b76-45e8-b0e5-9935e

[2022-04-08 17:45] engcom-Delta commented on #35282
Hi @MrJoshFisher ,
Thank you for raising an issue and we tried to reproduce it on Magento 2.4 Develop with latest branch. it works fine, issue is not producible.
Please find below screenshots for reference.
<img width="1440" alt="Screenshot 2022-04-08 at 11 09 01 PM" src="https://user-images.githubusercontent.com/51681379/162494358-fcb57879-9fac-4c72-94be-312177cdc127.png">

Hence, request to revi

[2022-04-08 18:10] ksenia-zlotin opened #35283 "Virtual refunded orders do not persist closed state when comment is added via Admin"
I believe this is caused by the commit here:
https://github.com/magento/magento2/commit/4f90cf54c303bdcb3de6d010a63fb8af87d46eec
I would like an explanation why was this check added and how come even on a clean 2.4.3-p1 copy I am able to recreate this error?

### Preconditions (*)
1. Magento 2.4.3-p1
2. PHP 7.4.13

### Steps to reproduce (*)
1. Install clean copy of Magento 2.4.3-p1 without sample

[2022-04-08 19:32] blockedie opened #35284 "Magento Admin - Hitting enter when configuring a product to add to order in admin does not save the custom options"
### Preconditions (*)

1. Magento ver. 2.4.2-p2
2.

### Steps to reproduce (*)

In Magento 2, navigate to Sales > Order and create a new order

Select "Add Products" to add a product to the order from the product list.

In the product list, find an upholstery product and select "Configure". In the configure pop-up, select the custom options and enter the quantity. From the quantity field HIT ENTER

[2022-04-08 23:05] juanmanuelcinto commented on #35213
We have a similar issue on our site with 20k bundle products and 10k of simple.

[2022-04-10 16:59] ludo-mon-key commented on #35279
@magento give me 2.4-develop instance

[2022-04-11 05:00] engcom-November commented on #35283
@magento give me 2.4-develop instance

[2022-04-11 05:05] engcom-November commented on #35283
https://github.com/magento give me 2.4-develop instance

[2022-04-11 05:05] engcom-November commented on #35283
@magento give me 2.4-develop instance

[2022-04-11 05:50] engcom-November commented on #35283
Verified the issue on Magento 2.4-develop branch and is reproducible. As per [Magento docs](https://docs.magento.com/user-guide/sales/order-status.html), order status should be closed after issuing credit memo and customer is refunded.
For Virtual Product, Order status is displayed "Complete" in drop-down but displayed "Closed" in comment. On adding new comment, its displayed as Complete in commen

[2022-04-11 07:52] engcom-November commented on #35270
@magento give me 2.4-develop instance

[2022-04-11 08:14] engcom-Hotel commented on #35248
Hello @tiagosampaio,

Thanks for posting this issue!

We have tried to reproduce the issue in Magento 2.4-develop branch but for us the issue is not reproducible. We have followed the below steps:
1. Disable Full page and Block page cache:
<img width="614" alt="image" src="https://user-images.githubusercontent.com/51681618/162693236-9e4672ed-b9ae-463b-84f9-02b86528a3df.png">
2. Disable the Cron:
<

[2022-04-11 08:29] adamlavery commented on #29574
Ok. The correct approach here is to push this back to whoever broke it and request that they reimplement their change, this time testing it properly.

[2022-04-11 08:48] engcom-Hotel commented on #35273
Hello @Sanjay-100,

We have tried to reproduce this issue in Magento 2.4-develop branch but for us the issue is not reproducible. We have created a custom module to trigger `checkout_cart_add_product_complete` event. And for us the event is triggered. Please have a look into the below codebase:

[code]

I am also attaching the module for your reference:

[EventTest.zip](https://github.com/magento/

[2022-04-11 09:17] MrJoshFisher commented on #35282
Hello,

Im new to magento so apologies if I'm not clear on some points, but how would I diagnose this is it a matter of disabling modules to see which one is affecting the price?

Cheers

Josh

[2022-04-11 09:44] engcom-November commented on #35270
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Created Configurable Product with Swatch option "Color"  (Initial value - Black) and save
Front end - Product Details page - Option displayed as expected.
![image](https://user-images.githubusercontent.com/60198231/162711449-0db5dd17-1682-4eb6-a28d-081b0ef2d5cc.png)
 From admin - Product edit page - Edit confi

[2022-04-11 10:25] engcom-November commented on #35284
Verified the issue on Magento 2.4-develop branch however we are getting different error message on performing mentioned steps: "The requested qty is not available" and the product is not getting added
Please find the attached video below:
https://user-images.githubusercontent.com/60198231/162720260-460b6a8d-c723-4e9b-8e3e-7ed0d1c839b0.mp4

However on clicking OK button instead of hitting "Enter" w

[2022-04-11 11:00] yuriichayka opened #35285 "Catalog\Pricing\Price\FinalPrice::getMaximalPrice for configurable product returns wrong value"
`getMaximalPrice()` method doesn't work for configurable products, as for bundles for example.
It returns the same value as `getMinimalPrice()`.
For bundles, related FinalPrice methods are overridden with correct logic, but it isn't implemented for configurables.

### Preconditions (*)

1. Magento 2.4.3 OS

### Steps to reproduce (*)

1. Configure some configurable product with different prices fo

[2022-04-11 11:07] yuriichayka commented on #35270
Hello @engcom-November
The problem is related not to the color swatch image, but to the image of the option product itself.
I mean when you select all swatch options, the main image of the product is updated.
I didn't describe it properly I guess

NEW STR:

1. Have a Configurable product with some swatch options configured(size/color);
2. **Configure for some child products different product image

[2022-04-11 12:05] engcom-Alfa commented on #35163
Hi @apomili and @nataliefox-288
Thanks for your contribution and collaboration here.

We again tried to reproduce the same issue in `2.4-develop` in order to fix the same! But noticed that it is not reproducible anymore might be due to the above-comment.

Kindly pull the latest Magento code 2.4-develop and try to reproduce the same issue. If at all the issue is reproducible anymore, kindly update

[2022-04-11 12:22] engcom-Hotel commented on #34108
Hello @convenient,

Are you still facing the issue?

Can you please tell us some more information on this issue like:
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-04-11 12:24] convenient commented on #34108
@engcom-Hotel this is not environment specific, any Magento installation with New Relic should do it

The steps to reproduce and the expected and actual are already in the description.

If you are not familiar with New Relic this may need escalated internally your side.

[2022-04-11 12:45] engcom-November commented on #34887
Verified this issue with 2914 products on Magento 2.4-develop branch with MSI enabled but could not able to reproduce the issue.
Steps performed:
Stores - Configuration - Catalog - Inventory - Stock Options - Display out of stock products - Set to No
Catalog - Products - 2914 Products
Created New Source and stock - assigned main website and new source to new stock.
Reindex and clear cache
Catalog

[2022-04-11 12:50] engcom-November commented on #35274
@magento give me 2.4-develop instance

[2022-04-11 13:05] gkmbala opened #35286 "Magento Upgrade from 2.3.x to Magento 2.4.3-p1 admin page JS issue- page builder pages not working (like product page, Category page, CMS pages)"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Production environment only

### Steps to reproduce (*)

1. Once upgraded the M-2.3.x to M.2.4.3-p1 =>Admin -> Catalog -> products -> (any product) Edit-> Issue occurred (issue can't edit anything in product edit page)
2. Admin products edit page loader is not stopping. (Only production environment.)

### Expected result (*)

1. without error in admin

[2022-04-11 13:18] emreakay commented on #31842
im facing the same issue

[2022-04-11 13:46] tiagosampaio commented on #35248
@engcom-Hotel, thanks for letting me know.

You have the set the breakpoint at the following [line of code](https://github.com/magento/magento2/blob/a96f0f76c05778fd9400c04a0bdb9d31166c0d0d/app/code/Magento/CatalogSearch/Model/Indexer/Fulltext.php#L221):

[code]

When the execution reaches this line of code, the product, and its parent items (if available) are removed from the `ElasticSearch`. You

[2022-04-11 15:09] vinodsowdagar opened #35287 "Add support for HTTP PATCH requests in /Magento/Framework/HTTP/Adapter/Curl.php"
### Summary (*)
Magento has a Curl Adapter which, to my surprise, does not support creating PATCH requests. This results in the class not really being usable if you need to, for example, integrate with a REST API of a third party.

One could argue that in this case the Guzzle Client will suffice, but the problem is that since Magento 2.4.4, Guzzle 7 has been introduced, which introduces new featur

[2022-04-11 20:37] leonhelmus commented on #35274
@magento give me 2.4-develop instance

[2022-04-12 00:32] davinanaya commented on #9497
that worked, thanks so much

[2022-04-12 01:10] claudioxu commented on #35193
Hello  @engcom-Delta,

any updates?

[2022-04-12 02:51] erfanimani commented on #33741
I would have expected this to be released as a Magento Quality Patch, or is this issue too small for that?

[2022-04-12 05:31] engcom-November commented on #35213
Verified the issue on Magento 2.4-develop branch by adding 40K Bundle Products with 4 options for each bundle and Re-indexing Price didn't take long when ran from terminal:
![image](https://user-images.githubusercontent.com/60198231/162887241-456d3726-1bae-459e-bb9f-34a0777bb68d.png)
@ailovan , kindly recheck the issue on Magento 2.4-develop instance as it the upcoming 2.4.x release and elaborate

[2022-04-12 05:58] engcom-Delta commented on #35214
Hi @timpea ,
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-04-12 05:58] #35214 closed, assigned to engcom-Delta

[2022-04-12 06:03] engcom-Delta commented on #35242
Hi @haroonrajpoot ,
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-04-12 06:03] #35242 closed, assigned to engcom-Delta

[2022-04-12 06:04] #35235 closed, assigned to engcom-Delta

[2022-04-12 06:39] engcom-November commented on #35270
@magento give me 2.4-develop instance

[2022-04-12 06:49] engcom-Hotel commented on #35248
Hello @tiagosampaio,

Thanks for your reply!

We have tried to set the breakpoint in the above specified line only but for us the debugger is not reaching on this line of code. Please let us know if we have missed any step.

Thanks

[2022-04-12 07:09] engcom-November commented on #35274
@magento give me 2.4-develop instance

[2022-04-12 08:14] sodhancha commented on #25862
Opening this again. This issue has occured for customers who are not GUEST

[2022-04-12 08:30] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2022-04-12 09:13] engcom-Hotel commented on #34493
Hello @TravisBernard,

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us. We have a registered user with both US and UK address. For US address region information is present but fir UK address region is shown as `null`. Please refer the below screenshot for reference:

**For US Address**
<img width="488" alt="image" src="https://user-images.git

[2022-04-12 09:15] convenient commented on #34108
@engcom-Hotel

**System**
- Magento 2.4 (any)
- New Relic configured
- Crons running

**Expected result**
All cron jobs that run have a corresponding new relic transaction

**Actual**
Only the first cron run per process has a new relic transaction

**Additional**

I cant tell you exactly what cron transactions you wont be seeing, but it will be most of them. it depends on the roll of the dice in y

[2022-04-12 09:20] convenient commented on #34108
@engcom-Hotel can I please also have the appropriate labels applied to this issue?

It's not flagged that it's a https://github.com/magento/magento2/labels/Partner%3A%20Ampersand issue

[2022-04-12 10:09] engcom-November commented on #35274
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Steps performed:
Multi store setup with different website URLS
sales_email/general/async_sending is enabled
Enable cron
Fron-end -Main website - login as customer - Add product to cart and checkout
Other website (France) - Login using other customer - Add product to cart and checkout
Place Order at same time i

[2022-04-12 10:48] engcom-November commented on #35270
@magento give me 2.4-develop instance

[2022-04-12 11:33] engcom-Hotel commented on #35217
Hello @engcom-Delta,

We are marking this issue as `on hold`, because it seems a specific requirement. We need a PO confirmation on this.

Thanks

[2022-04-12 11:36] engcom-Hotel commented on #34974
Hello @sdzhepa,

We have updated the main description.

Thanks

[2022-04-12 11:55] engcom-November commented on #35270
Verified the issue again on Magento 2.4-develop branch using above mentioned steps but still we are not able to reproduce the issue. Please find the attached video of steps performed and child product main image is getting changed as expected when swatch option is selected in PDP without cache flush
https://user-images.githubusercontent.com/60198231/162954964-e9a47f88-7740-455a-a13b-e4efac96d472.m

[2022-04-12 13:14] albsa commented on #34531
For other people regarding this matter, if you applied this patch and still can't login, we had this issue https://magento.stackexchange.com/questions/353147/can-we-increase-the-system-security-session-size-at-admin-on-magento-2

[2022-04-12 13:11:50] report.WARNING: Session size of 489033 exceeded allowed session max size of 400000.

Solved it by running this command on CLI bin/magento config:set

[2022-04-12 13:14] albsa commented on #34531
For other people regarding this matter, if you applied this patch and still can't login, we had this issue https://magento.stackexchange.com/questions/353147/can-we-increase-the-system-security-session-size-at-admin-on-magento-2

[2022-04-12 13:11:50] report.WARNING: Session size of 489033 exceeded allowed session max size of 400000.

Solved it by running this command on CLI bin/magento config:set

[2022-04-12 13:33] engcom-Delta commented on #35070
Hi @jeremycharron ,
Thank you for providing the recorded video . After following the steps found that issue is reproducible on Magento 2.4 Develop. After updating the block id ,cms page is showing "Block-With ID test-block does not exist". Hence issue is confirming.
Screenshots for reference.
<img width="1440" alt="Screenshot 2022-04-12 at 6 45 42 PM" src="https://user-images.githubusercontent.com

[2022-04-12 14:51] Green2Matter commented on #24946
Magento 2.4.3 -> issue exists.
Sitemap generated by cron consists of urls with duplicated domain: https://domain.com/https://domain.com/folder

Any update on this?

[2022-04-12 16:22] #34864 closed, assigned to andrewbess

[2022-04-12 18:10] hostep commented on #35280
This one can be closed, see [this comment](https://github.com/magento/data-migration-tool/issues/891#issuecomment-1096827902) in the duplicated issue that got created.

[2022-04-12 19:40] plastikschnitzer commented on #28092
According to the release notes of Magento 2.4.4, the issue is fixed there! Maybe someone can test and confirm?

https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-4.html

[2022-04-12 20:15] scolandrea commented on #33749
I just installed a fresh 2.4.4, and the issue is still reproducible.

[2022-04-12 20:18] aolave commented on #9635
Solution:

<script src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript">
    require(["jquery"], function ($) {
        $(document).ready(function () {
            $("#contact-form .fieldset").append('<div class="g-recaptcha" data-sitekey="6LeQ4NQeAAAAAIdLNHFTo-PKrm9cNBJBjG8i3rG6"></div>');
        })
    });
</script>

[2022-04-12 20:18] aolave commented on #9635
<script src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript">
    require(["jquery"], function ($) {
        $(document).ready(function () {
            $("#contact-form .fieldset").append('<div class="g-recaptcha" data-sitekey="code"></div>');
        })
    });
</script>

[2022-04-12 20:26] leonhelmus commented on #35274
Will do hope to do it this week if im not too busy.

[2022-04-12 21:29] C4rter opened #35288 "Continue using Klarna Payments in Magento 2.4.4 - What do I have to do?"
### Preconditions (*)
1. Magento 2.4.4

### Steps to reproduce (*)
1. Update to Magento 2.4.4
2. Try to use Klarna Payments
3. It's removed now. What do I have to install to keep using the exact same extension?

### Expected result (*)

1. Still using Klarna Payments in Magento 2.4.4

### Actual result (*)
1. I only found Klarna Checkout in the Marketplace but it's a totally different thing.
2. Ho

[2022-04-12 21:48] chequille opened #35289 "Update to 2.4.4 not working"
Tried to update to 2.4.4 but do get the following Problem:

  Problem 1
    - The requested package magento/product-community-edition 2.4.4 exists as magento/product-community-edition[2.4.3] but these are rejected by your constraint

Any idea why?
Best regards,
Chequille

[2022-04-13 04:24] hemendraajmera opened #35290 "Replace variables from API response"
### Summary (*)
Unable to replace  {{store direct_url="about-magento-demo-store"}} this in api response.

I am using headless approach to render frontend using vue js.  i am using api to get page and block content and it have {{store direct_url="about-magento-demo-store"}} in content area.

### Examples (*)

[code]
### Proposed solution

I don't want to get this variables in the content area.
and

[2022-04-13 04:32] Smpatidar commented on #35288
https://docs.klarna.com/platform-solutions/adobe-commerce/adobe-commerce-244-and-above/installation/

please read here to find proper solution

[2022-04-13 05:01] ihor-sviziev commented on #33749
@scolandrea you can apply the changes from this comment as a patch https://github.com/magento/magento2/issues/33749#issuecomment-1028410426

[2022-04-13 05:14] erfanimani commented on #33749
@scolandrea If you've included the Magento Quality Patches Tool in your project, you can simply run `vendor/bin/magento-patches apply MDVA-40311`.

I believe the strategy is that, moving forward, a lot of these type of fixes are not included into patch releases.

[2022-04-13 05:54] Manjula-kalyan opened #35291 "Email Reminder Not sending automatically"
### Preconditions (*)

1.Magento ver. 2.4.3-p1
2.Enterprise Edition

### Steps to reproduce (*)

1.Configured New Email reminder- as per magento devdocs-https://docs.magento.com/user-guide/marketing/email-reminder-rules.html
2.verified  Automated Email Reminder Rules - as per devdocs-https://docs.magento.com/user-guide/marketing/email-reminder-rules-configure.html

### Expected result (*)

1. send

[2022-04-13 06:04] rav-redchamps opened #35292 "Magento 2.4.4 admin panel - Error: Call to undefined method ReflectionUnionType::getName()"
### Summary (*)

**Magento 2.4.4 running on PHP 8.1**

If you create a plugin for any method of class `vendor/magento/module-backend/Model/Menu.php` then you will receive below error in admin panel
[code]

### Examples (*)

Install module https://github.com/redchamps/magento2-module-backend-menu-plugin using below command to quickly repeat the problem

composer require redchamps/magento2-module-ba

[2022-04-13 06:18] engcom-Hotel commented on #35215
Dear @qsolutions-pl,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-13 06:18] #35215 closed, assigned to engcom-Hotel

[2022-04-13 06:20] engcom-Hotel commented on #35229
Hello @Sanjay-100,

We request you to please tell us the exact issue/error you are getting while using this module.

Thanks

[2022-04-13 07:33] mkuzPL opened #35293 "Magento 2.4.4 - Static content deploy - Deprecated Error - null value"
I've made fresh install of Magento 2.4.4
PHP version is 8.1.4

I've created two child themes (one of luma & one of blank)
I've installed PL language pack using command:
`composer require mageplaza/magento-2-polish-language-pack:dev-master mageplaza/module-smtp `

Next step (after installing language pack) should be:
`php bin/magento setup:static-content:deploy pl_PL -f`

Following command causes a

[2022-04-13 07:47] webgility-amazonapi opened #35294 "Price sync issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. update price on store with "rest/all/V1/products/base-prices"
2. Request for get products "rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria[filter_groups][0][filters][0][value]=NVE-100-607AP-FD&searchCriteria[filter_groups][0][filters][0][condition_type]=in"
3. When we check the response from indivi

[2022-04-13 08:26] MartinKuhl opened #35295 "Magento 2.4.4 under PHP 8.1.4"
### Preconditions (*)

1. PHP  8.1.0 / 8.1.1 / 8.1.3 & 8.1.4
2. Magento 2.4.4 fresh installation via composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition . 2.4.4

### Steps to reproduce (*)

1. Fresh installation of M2.4.4 under PHP  8.1.0 / 8.1.1 / 8.1.3 & 8.1.4
2. get Installation files via ZIP oder composer
3. try to call magento binary under bin/

[2022-04-13 08:43] jorgb90 opened #35297 "Magento 2.4.4 Admin Login Not Working After Upgrade"
### Preconditions (*)
1. Magento 2.4.3-p1
2. Developer mode
3. PHP 7.4

### Steps to reproduce (*)
1. composer require magento/product-community-edition 2.4.4 --no-update
2. composer update & setup:upgrade
4. Go to admin (we have custom admin path) and try to login.

### Expected result (*)
1. Being able to login at the admin panel.

### Actual result (*)
1. Redirect happens after pressing login,

[2022-04-13 08:48] JelleGe commented on #35297
We faced the same issue and also have custom admin path. Upgrade from 2.3.4-p1

[2022-04-13 08:50] mikemoooo commented on #35297
We also have this issue with 2.3.4-p1 and custom admin path.

[2022-04-13 08:58] pixel-paul commented on #33749
There are currently 21 patches available for 2.4.4 - should they all be applied? Or does that consitute a 'large number'?

![Screenshot 2022-04-13 at 09-45-30 Quality Patches Tool Adobe Commerce Developer Guide](https://user-images.githubusercontent.com/389303/163138195-2cb6c7b1-06b4-48bb-b16e-9d04232a89f8.png)

[2022-04-13 09:27] websecureNL opened #35298 "Coupon code empty after update of sales rule through rest"
### Preconditions (*)

1.Magento ver. 2.4.3

### Steps to reproduce (*)

1. Create a new **disabled** Cart Price Rule through API - endpoint POST: /rest/V1/salesRules/

Sample payload
{"rule":{"name":"This is the coupon name","store_labels":[{"store_id":0,"store_label":"Gift Card $20"}],"website_ids":[1],"customer_group_ids":[0],"from_date":"","to_date":"","uses_per_customer":0,"is_active":false,"

[2022-04-13 09:28] websecureNL commented on #35298
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-04-13 09:29] ludo-mon-key commented on #35279
@magento give me 2.4-develop instance

[2022-04-13 09:38] ludo-mon-key commented on #35279
@engcom-Delta no reply? Do you need any other information?

[2022-04-13 09:43] jorgb90 commented on #35297
@JelleGe @mikemoooo No solution found as of yet?

[2022-04-13 09:43] engcom-Hotel commented on #35290
Hello @hemendraajmera,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-04-13 09:44] engcom-Alfa commented on #33810
Hi @kestraly ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/979aee04b0ebcf51c1c3dfc45e6ca89466686bdf).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new bug

[2022-04-13 09:45] #33810 closed, assigned to engcom-November

[2022-04-13 10:18] engcom-Hotel commented on #35292
Hello @rav-redchamps,

We have tried to reproduce the issue in Magento 2.4.4 but for us, the issue is not reproducible. Please have a look into the below screenshots for reference:

1. Magento Version:

![image](https://user-images.githubusercontent.com/51681618/163156730-6126fe59-6af2-407f-9635-50bf477fab1d.png)

2. We made a custom plugin in order to reproduce the issue on `Magento\Backend\Model

[2022-04-13 11:00] themew commented on #35293
After `composer require mageplaza/magento-2-polish-language-pack:dev-master mageplaza/module-smtp`

Enter `php bin/magento setup:upgrade`

Then `php bin/magento setup:static-content:deploy (-f if required)`

Finally `php bin/magento cache:clean`

I also noticed you're also installing the `mageplaza/module-smtp` which is a great addon, however I don't think it works in php 8.1 yet.

[2022-04-13 11:25] websecureNL commented on #35298
https://github.com/magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-04-13 11:25] websecureNL commented on #35298
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-04-13 11:28] engcom-November commented on #35294
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Steps performed:
Sent POST request to /rest/all/V1/products/base-prices:
Sample payload:
`{
  "prices": [
    {
      "price": 67,
      "store_id": 0,
      "sku": "simpleee",
      "extension_attributes": {}
    }
  ]
}`
Base Price is updated as expected in both Admin and Front-end even if cron is enabled.
C

[2022-04-13 11:29] rav-redchamps commented on #35292
This still repeats for me with your attached module. I am on PHP version 8.1.2

On which PHP version you are trying?

[2022-04-13 11:30] razvan-optaros commented on #19710
Why this comment has 1 like?

[2022-04-13 12:08] engcom-November commented on #35298
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Created Inactive/disabled cart price rule using POST:  /rest/V1/salesRules/
Created Coupon for above rule using /rest/V1/coupons
![image](https://user-images.githubusercontent.com/60198231/163175975-46b91a84-c397-45a3-851c-66305022951a.png)
Updated rule - Active, given from date and to date using PUT : /rest/V1/salesRu

[2022-04-13 12:57] redati commented on #23908
Magento 2.4.4

[2022-04-13T12:52:34.090875+00:00] main.CRITICAL: Magento\Framework\Exception\NoSuchEntityException: Id do endereço inválido 10781 in /var/www/html/vendor/magento/module-quote/Model/QuoteAddressValidator.php:79
Stack trace:
#0 /var/www/html/vendor/magento/module-quote/Model/QuoteAddressValidator.php(130): Magento\Quote\Model\QuoteAddressValidator->doValidate()
#1 /var/www/html/vendo

[2022-04-13 12:58] redati commented on #23618
Magento 2.4.4

[2022-04-13T12:52:34.090875+00:00] main.CRITICAL: Magento\Framework\Exception\NoSuchEntityException: Id do endereço inválido 10781 em /var/www/html/vendor/magento/module-quote/Model/ QuoteAddressValidator.php:79

[2022-04-13 13:01] lcw-media commented on #35297
Aber some debugging we recognized that when authenticate the formkey validation always failed

[2022-04-13 13:25] Hanhan1989 commented on #35293
I had the same problem and I don't know why.

[2022-04-13 13:48] rjm87 commented on #35297
I am experiencing the same bug. After updating to 2.4.4 the form never validates and login is impossible. Tried clearing cookies and updating backend admin path. Also upgraded from 2.4.3-p1.

[2022-04-13 14:23] Eddcapone opened #35300 "Product links not working for new store view"
### Preconditions (*)

1. Fresh Magento 2.4.2
2. Let's assume that our store default URL is **company-m242.local**

### Steps to reproduce (*)

1. Create new store view  with code `test`
2. Add alias in your VHOST `test-company-m242.local`
3. Add this entry in your .htaccess or pub/.htaccess depending on where your root is set.

[code]

4. Load http://test-company-m242.local/ in your browser.
5. T

[2022-04-13 14:26] CollegeSewing commented on #35297
I was experiencing the same bug, using Redis for Session storage.

However, changing the session save to files, then allowed access to the admin
'session' => [
        'save' => 'files'

I did also have to reset 2FA for the user account

[2022-04-13 14:31] CanBeer commented on #35288
Is the Klarna  9.3.3 version compatible with Adobe Commerce 2.4.4 ?

I have a `guzzlehttp/guzzle` dependency error ? Core of Magento seems to need 7+ version and Klarna required old 6+ version.

[code]

[2022-04-13 14:44] Eddcapone commented on #31337
Please magento, accept and work on this feature.

[2022-04-13 15:01] mikemoooo commented on #35297
We are using files for session storage, but have the error anyway

[2022-04-13 15:04] jarnooravainen opened #35301 "Admin notifications for asynchronous operations causing critical performance issues"
### Preconditions (*)

1. Magento 2.4.3-p1 Open Source installed
2. Integration created that has same ID as admin user (integration.integration_id == admin_user.user_id)
3. Integration used to import big number of entities via asynchronous API to get for example 20 000 rows to magento_bulk table

### Steps to reproduce (*)

1. Login as admin that has same ID as integration used for bulk API update

[2022-04-13 15:17] Usik2203 opened #35302 "`SQLSTATE[23000]: Integrity constraint violation:` error while running `sales_clean_orders` cron job"
### Preconditions (*)

I see next error while running `sales_clean_orders` cron job
`SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`magento2`.`salesrule_customer`, CONSTRAINT `SALESRULE_CUSTOMER_RULE_ID_SALESRULE_RULE_ID` FOREIGN KEY (`rule_id`) REFERENCES `salesrule` (`rule_id`) ON DELETE CASCADE), query was: INSERT INTO `s

[2022-04-13 15:17] Usik2203 commented on #35302
@magento I am working on this

[2022-04-13 15:35] akovtun opened #35304 "Bulk API request causes type error"
### Preconditions (*)

1. Magento 2.4.3-p2

### Steps to reproduce (*)

1. I call Bulk API request
![image](https://user-images.githubusercontent.com/2437431/163212621-b00530b1-e740-41f0-9232-dcbb7e7abafb.png)
or
![image](https://user-images.githubusercontent.com/2437431/163212710-922d5330-6f3b-4ad2-80c8-c113f7498905.png)

### Expected result (*)

1. Response 202 with bulk operation information
![

[2022-04-13 15:44] C4rter commented on #35288
Thank you. I followed the guideline on that page but the only solution I can find the in Marketplace is:
https://marketplace.magento.com/klarna-m2-checkout.html
Which is not it. But they are saying I need to get it from the marketplace.

I can't even find anything when I try that. It says:
[code]

[2022-04-13 16:03] CanBeer commented on #35288
When I try with the documentation package :

[code]

[2022-04-13 16:13] C4rter commented on #35288
I guess it fails because it's not in the Magento Account. But I'm unable to add it to the account as it's not available in the Marketplace

[2022-04-13 17:26] idiatech commented on #34658
I have this problem too. I use on Magento ver. 2.4.3-p1 this code and the roles are not attributed
[code]

I have ask the question again here : https://magento.stackexchange.com/questions/354766/set-programmatically-image-roles

I confirm this code is working on  Magento ver. 2.3.7-p2 but not on 2.4.3-p1

[2022-04-13 17:27] tiagosampaio commented on #35248
@engcom-Hotel, just make sure you:

- Have the Xdebug properly configured to work with the CLI
- Make sure the Catalog Search Indexer is set to Update on Schedule
- Make sure you have new changes on the table `catalogsearch_fulltext_cl` (by either changing products on the admin or inserting new product ids manually on this table)
- On my test, I used the N98 MageRun to run the cronjob directly: `n

[2022-04-13 17:28] heerdt commented on #33749
Upgraded from 2.4.2 to 2.4.4, never had the issue and after the upgrade I can't login into the admin dashboard, debugging I found the same error: Invalid Form Key. Please refresh the page.

[2022-04-13 19:35] jorgb90 commented on #35297
Found the issue! In Magento 2.4.4 it seems that a value of "0" for Max Session Size in Admin breaks it. In normal behaviour "0" should disable the size. I set mine now to "2560000" cause the default setting of "25600" isn't working for us (too low) and that solved this issue for now.

[2022-04-13 20:05] lcw-media commented on #35297
Also did it for me, thank you!

[2022-04-13 20:16] cpartica commented on #32554
I am going to re-open this - so sorry about our bot - I am making the case for it to have a way longer grace period

[2022-04-13 21:03] Hanhan1989 commented on #35293
I found the origin of the problem. The problem was we should put the logo.png image file in our theme: _**app/design/frontend/[our_vendor]/[theme]/web/images/logo.png**_

[2022-04-13 21:07] butchercd commented on #32593
The bug appears to be due to a comparison of the value ID against a value label during API request validation, which is resulting in conflicts with sizes for example which overlap with database IDs.  This bug is still occurring in the latest 244 release.

You cannot create "size" attribute label "7" because an ID of 7 exists, which is incorrect comparison

      "options": [
        {
          "l

[2022-04-13 21:10] wilsonssot opened #35305 "Google Analytics not getting conversion data from ecommerce."
### Preconditions (*)

1. Magento Comunity ver. 2.3.5-p2
2. Have a google analytics and google tag manager set up.

### Steps to reproduce (*)

1. Set up google api. Go to Stores->Settings->Configuration->Sales->Google Api-> Fill information, and enable Google Analytics and Google AdWords-> Save.
2. Surft the commerce, open products, add to cart, make orders.
3. Set up gtm scripts:
![image](https:

[2022-04-13 21:53] bradleybrecher commented on #34851
@julien-gillot I am facing the same issue but not fully understanding your solution. Do you mind elaborating?

[2022-04-13 21:55] mikemoooo commented on #35297
Solved the issue for me as well!

[2022-04-14 02:10] FadedOut opened #35306 "Upgrade from 2.4.3-p1 to 2.4.4 throws terminal error "Fatal error: During inheritance of Countable""
UPDATE: THANKS to @loic-paquin for helping pinpoint a change in process with upgrading to 2.4.4. Please see [comment 7](https://github.com/magento/magento2/issues/35306#issuecomment-1099378210) for solution!

### Preconditions (*)

1. Magento 2.4.3-p1
2. Production Mode
3. Apache 2.4 (no NGINX)
4. mod_mpm_worker
5. PHP 7.4.23
6. Elasticsearch 7.12.1
7. Redis 6.2.6
8. MariaDB 10.3.34
9. Composer 2.

[2022-04-14 04:10] loic-paquin commented on #35306
Hey, I got the same issue, what saved me was  :

composer require magento/composer-root-update-plugin ~2.0 --no-update
composer **require-commerce** magento/product-community-edition 2.4.3 --no-update
composer update

[2022-04-14 04:50] FadedOut commented on #35306
composer **require-commerce** magento/product-community-edition 2.4.4 --no-update composer update

Hello,

Thank you for your help on this. Unfortunately, I tried exactly that before modifying composer.json manually. The funny part is, I actually looked at that exact site the first time I tried to update. I ran across this error:

"Command "require-commerce" is not defined."

So I assumed somethin

[2022-04-14 05:18] loic-paquin commented on #35306
"Command "require-commerce" is not defined."
My Bad :

composer require magento/composer-root-update-plugin ~2.0 --no-update
composer update

It will add the command composer-require.

The problem you may encouter here is that you're already in php 8.1 but magento 2.4.3 expects php7.4. In this case, composer will fail.
In order to fix this you can use `update-alternatives --config php` to select t

[2022-04-14 05:55] engcom-Hotel commented on #35292
Hello @rav-redchamps,

We have again tried to reproduce the issue and the issue is reproducible for us with the given steps in the main description. Hence confirming the issue.

PHP Version:

<img width="598" alt="image" src="https://user-images.githubusercontent.com/51681618/163322638-0a400bca-700b-4aae-8e43-2ddcd3b68f5f.png">

Magento Version:

<img width="484" alt="image" src="https://user-imag

[2022-04-14 06:20] FadedOut commented on #35306
Oh not your fault at all, it's actually a typo on that site you linked. And I'm not sure I understand what you mean when you "It will add the command require-commerce".

But with more testing and your ideas, it does appear to be something up with the PHP versions.

So I did originally try doing it with PHP 7.4 first and it failed half way through when doing the "php bin/magento setup:upgrade" with

[2022-04-14 06:46] loic-paquin commented on #35306
There is no typo, The correct syntax is :

`composer require-commerce magento/product-community-edition 2.4.4 --no-update`

 as stipulated : _WARNING
The procedure for upgrading Adobe Commerce and Magento Open Source has changed. You must install a new version of the magento/composer-root-update-plugin package (see [prerequisites](https://experienceleague.adobe.com/docs/commerce-operations/upgrade

[2022-04-14 06:46] JelleGe commented on #35297
Sadly we get the following error when trying to set the Max Session Size in Admin using CLI;

bin/magento config:set system/security/max_session_size_admin 2560000
Type Error occurred when creating object: Magento\Framework\Communication\Config\Data, Argument 2 passed to Magento\Framework\Reflection\TypeProcessor::resolveFullyQualifiedClassName() must be of the type string, null given, called in /

[2022-04-14 07:07] jorgb90 commented on #35297
@JelleGe That has nothing to do with this. One of your modules is not 2.4.4 ready, you probably get the same error when running setup:upgrade.

**How to fix?** add PHPDOC block for all consumer class in your custom module.

**How to find all consumer class?** you can set break point debugger in vendor/magento/framework/Reflection/MethodsMap.php or just wrap this method in try/catch block and print

[2022-04-14 07:10] JelleGe commented on #35297
@jorgb90 Thanks a lot for the help! We will digg deeper into this issue.

[2022-04-14 07:34] Sanjay-100 commented on #35217
@engcom-Hotel  @engcom-Delta

this is not specific if any user chooses the secure cookies from the magneto admin settings  => store configuration -> web -> default cookies settings here is not an option for secure cookies.
AS per the google guide we need all cookies stored in secure cookies only I can see some of the cookies are stored insecurely some of the cookies are not stored as secure cookie

[2022-04-14 08:31] guvra opened #35307 "[Magento 2.4.4] Class Magento\Framework\Profiler\Driver\Standard\Stat not compatible with PHP 8.1"
### Preconditions (*)

1. Magento 2.4.4

### Steps to reproduce (*)

1. In a custom module (in our case, a debug toolbar), call the method `getFilteredTimerIds` of the class Magento\Framework\Profiler\Driver\Standard\Stat.

### Expected result (*)

1. The function returns an array of ordered timer ids

### Actual result (*)

1. PHP crashes with the following error :

[code]

The error happens in t

[2022-04-14 08:43] anvanza commented on #35305
Hi @wilsonssot , I think you're looking for Google Analytics **Enhanced Ecommerce**.
This is a feature of Adobe Commerce. You could also install a 3rd party module.

https://docs.magento.com/user-guide/marketing/google-enhanced-ecommerce.html

Anyway, it's not included in the standard Analytics module.

[2022-04-14 09:18] JelleGe opened #35308 "Upgrade from 2.4.3-p1 to 2.4.3-p2 throws error Magento\Framework\Indexer\IndexMutexInterface not found running compile"
### Preconditions (*)
1. Magento 2.4.3-p1
2. PHP 7.4.163.
3. Composer version 2.2.12
4. Development mode

### Steps to reproduce (*)
1. Followed all the steps from the Upgrade Commerce Guide (https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html) to upgrade from 2.4.3-p1 to 2.4.3-p2.
2. Run bin/magento setup:upgrade for the second time to be sure3.
3. Run the compile command php bi

[2022-04-14 11:00] Sanjay-100 commented on #35273
@engcom-Hotel  Thanks for your sample code that was working fine.

now I need to get the all data about the cart added Product data like product name, price, varients all options.

![image](https://user-images.githubusercontent.com/98302784/163377924-24a4f7b7-3e4b-43f2-bb6a-cc13fe40a340.png)

[2022-04-14 11:14] lGlitchl opened #35309 "Magento Image sliding issue"
Hello everybody. I have an issue with Magento.

I created a website to sell products, but each time I upload multiple images and I access the website from my phone, I click on a product and I want to zoom in on a product or image, it automatically sends me to the next image on the slider. I want if is possible some steps in order to add some buttons in the left side and right side of the main imag

[2022-04-14 11:14] MartinKuhl commented on #35295
error in self made docker base image

[2022-04-14 11:14] #35295 closed, assigned to nobody

[2022-04-14 11:39] #35300 closed, assigned to nobody

[2022-04-14 11:47] engcom-Hotel commented on #35280
Hello @mbitson,

We have tried to reproduce the issue in Magento 2.4.4 with the following steps:
1. Install Magento 2.4.3 by following this [link](https://devdocs.magento.com/guides/v2.4/install-gde/composer.html).
2. Install the data-migration-tool by running the below command:
`composer require magento/data-migration-tool:2.4.3`
3. Follow this [link](https://experienceleague.adobe.com/docs/comme

[2022-04-14 12:01] anvanza opened #35310 "Rest API response "page_size" missing in M2.4.4"
### Preconditions (*)
1. Install a 2.4.3-p1
2.

### Steps to reproduce (*)
1. On 2.4.3-p1 create a GET request to
`rest/all/V1/orders/?searchCriteria[filterGroups][0][filters][0][field]=status&searchCriteria[filterGroups][0][filters][0][value]=processing&searchCriteria[filterGroups][0][filters][0][conditionType]=eq&searchCriteria[currentPage]=1`
2. The response should return something like:
![Scre

[2022-04-14 12:02] anvanza commented on #35310
@magento give me 2.4.3-p1 instance

[2022-04-14 12:03] anvanza commented on #35310
@magento give me 2.4.4 instance

[2022-04-14 12:11] mackieee commented on #35310
@anvanza Do you have a figure filled in the new Web API input limits? (Found in Configuration -> Services -> Magento Web API).

![image](https://user-images.githubusercontent.com/883702/163387923-f841d82c-b528-43fb-a35a-f68cb82d4e74.png)

Could attempt again upon setting your own Page size default?

[2022-04-14 12:34] anvanza commented on #35310
@mackieee , I found the default page size config field. Added 20 in there but the result is still the same. The page_size is still missing in the response.

[2022-04-14 12:49] alltomasterpiece commented on #32609
I've had the same issue.
I was deploying magento 2.4.3 project on Windows.
When I'd run composer install, I'd got this error.
 Failed to set PHP CodeSniffer installed_paths Config
I've finally found the solution.
The fact is, I hadn't run the xampp.

[2022-04-14 13:07] vandijkstef opened #35311 "Admin/Backend "Something went wrong" for non-superadmins (/mui/index/render)"
### Preconditions (*)

1. Mage 2.4.3-p1
2. PHP 7.4.X
3. Elastic 7.X
4. Varnish 6.0

### Steps to reproduce (*)

1. Create a second user role with custom resources (all can be enabled, just not set it to 'All' aka a superadmin)
5. Assign a user to that role
6. Login as that user on the backend/admin
7. Open an order and wait untill everything is loaded

### Expected result (*)

1. No error modal po

[2022-04-14 13:25] visahardik commented on #35214
@magento I am facing the same issue in M2.4.3-p1 instance while trying to bulk attribute update

[2022-04-14 13:33] jorgb90 commented on #35297
@engcom-November You should install 2.4.3-p1 and set maximum session size to 0 and then upgrade to 2.4.4. Now you can't login anymore. Or just install 2.4.4 directly without upgrade and set session size to 0 to disable it and you can't login anymore. The "0" option isn't working while Magento says "Use 0 to disable." that it should work.

[2022-04-14 13:36] timpea commented on #35214
@visahardik it appears to be fixed in 2.4.4 - https://github.com/magento/magento2/commit/90334d932f24dc1fe200e1b7e1262827e48c82c6

[2022-04-14 13:43] ludo-mon-key commented on #35279
@magento-devops  give me 2.4-develop instance

[2022-04-14 13:58] engcom-November opened #35312 "Disable max session size in admin - Unable to login to admin anymore"
### Preconditions (*)

1.
2. Magento 2.4-develop, 2,4,4

### Steps to reproduce (*)

1. Store > Settings > Configuration. - Advanced and choose System - Security - set Max Session Size in Admin to 0 and save
2. Login to admin

### Expected result (*)

1. [Screenshots, logs or description]
2. Login works

### Actual result (*)

1. [Screenshots, logs or description]
2. Unable to login

---
Please pr

[2022-04-14 14:00] engcom-November commented on #35297
Hi @jorgb90 , "Setting maximum session to  0" and login not working this behavior exists in 2.4-develop instance as well.
Bug report for the same: https://github.com/magento/magento2/issues/35312
Can we close this issue (#35297) as the issue is not happening due to upgrade from 2.4.3-p1.
Thank you.

[2022-04-14 14:32] jorgb90 commented on #35297
@engcom-November  It does gives issues for people who upgrade, but yes don't care how its explained and which report to use, it should be fixed.

[2022-04-14 14:32] #35297 closed, assigned to engcom-November

[2022-04-14 14:36] henryyyt commented on #35306
For me it was solved after I added types to all interfaces in my custom module.

Example:

public function get($storeCode); -> public function get(string $storeCode);

[2022-04-14 15:07] engcom-November commented on #35310
Hi @anvanza ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop branch and is reproducible. However, by setting searchCriteria[pageSize] in Params, issue is not reproducible. "page_size" retrieved in the response:
![image](https://user-images.githubusercontent.com/60198231/163415688-0a34da8b-b3c7-4e95-885e-06902ef76188.png)

As per [dev docs](https://devdocs.m

[2022-04-14 15:49] evolbug opened #35313 "2.4.3-p2 breaks OAuth integrations, does not upgrade secrets and tries to decrypt them"
### Preconditions (*)

1. Have OAuth integrations created before forced secret encryption
2. Upgrade to 2.4.3-p2

### Steps to reproduce (*)

1. Create and connect an integration on a version before 2.4.3-p2
2. Upgrade to 2.4.3-p2

### Expected result (*)

1. OAuth integration can be successfully reauthorized

### Actual result (*)

1. Authorization fails with `The attempt to post data to consumer

[2022-04-14 15:50] #35006 closed, assigned to sdzhepa

[2022-04-14 15:53] #29190 closed, assigned to nobody

[2022-04-14 15:58] sdzhepa commented on #35280
Hello @engcom-Hotel and @mbitson

Thank you for your report and collaboration!

Based on the comment from @hostep https://github.com/magento/magento2/issues/35280#issuecomment-1097036558 with reference to

Could you please check this flow with the new version of Data Migration Tool 2.4.**4** and confirm that issue is fixed?

Thank you in advance!

[2022-04-14 16:30] FadedOut commented on #35306
That is crazy, I understand there was that warning box but really? Just a single small blip on this? I think it should have been on the 2.4.4 release notes as well or something (unless it was there as well and I missed it there too? If so ugh - I read that whole thing too :( ).

But, that indeed DID IT :) THANK YOU!

The step I was missing out on and to help anyone else that comes across this odd

[2022-04-14 16:30] #35306 closed, assigned to nobody

[2022-04-14 16:34] indu-hexaware commented on #21739
@magento-engcom-team  give me 2.4-develop instance

[2022-04-14 16:37] wilsonssot commented on #35305
Hello @anvanza , so is it possible to install 3rd party module to make it work? Or it won't never work for magento open source?

[2022-04-14 17:13] C4rter commented on #35288
This new extension is the place where we add new functionalities, features and so on in the future. The Extension m2-checkout will be maintained for bug and security fixes but no bigger improvements will happen there. To ensure you always have the most performant and stable code I advise to use the new extension: m2-klarna. :)

Thank you. Now that Extension can also be found in the Marketplace and

[2022-04-14 18:38] C4rter commented on #35306
I still have that issue with PHP 8.1.3.

No matter what I do, it keeps saying:
[code]

when I try to run any Magento command like bin/magento setup:upgrade after upgrading to 2.4.4 and switching to PHP 8.1.

It seems the composer folder in vendor/composer is old or something?
But even when I deleted it and recreated it with composer install, it stays the same.

My count function in vendor/composer

[2022-04-14 18:50] FadedOut commented on #35306
@C4rter Yup that sounds like exactly what I was going through. For the lack of sounding repetitive, but to cover all bases, did you read all the previous posts?

Specifically, did you follow the steps I found to work for me exactly? Here:

1. STAY IN PHP 7.4
2. composer require magento/composer-root-update-plugin ~2.0 --no-update
3. composer update
4. rm -rf var/cache/* ; rm -rf var/page_cache/* ;

[2022-04-14 18:59] C4rter opened #35314 "When changing from PHP 7.4 to PHP 8.1.3 I cannot use console commands anymore: "Fatal error: During inheritance of Countable""
### Preconditions (*)

1. Running Magento Version 2.4.4 with PHP 8.1.3 after update from Magento 2.4.3

### Steps to reproduce (*)
1. Update from 2.4.3 to 2.4.4 with PHP 7.4
2. Switch PHP to 8.1.3
3. Try to run commands like bin/magento setup:upgrade
4. Throws error: PHP Fatal error:  During inheritance of Countable: Uncaught Exception: Deprecated Functionality: Return type of Composer\Repository\

[2022-04-14 19:15] C4rter commented on #35306
Thank you for the reply.

I did it the same way you did at the beginning, so the wrong way.

So at first I did not do:
composer require magento/composer-root-update-plugin ~2.0 --no-update
composer require-commerce magento/product-community-edition 2.4.4 --no-update
Just plain old composer require.

And everything was fine when still using PHP 7.4. That was no issue.

But now I switched to 8.1 and

[2022-04-14 19:42] m2-assistant[bot] opened #35315 "[Issue] Upgrade PHPStan to version 1.5"
This issue is automatically created based on existing pull request: magento/magento2#35234: Upgrade PHPStan to version 1.5

---------

### Description (*)
[PHPStan 1.5](https://github.com/phpstan/phpstan/releases/tag/1.5.0) was released yesterday. This PR upgrades PHPStand 1.4.9 to 1.5.0.

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All com

[2022-04-14 19:43] FadedOut commented on #35306
I'll attach the file - but oddly mine says it was updated yesterday along with every other file in that folder - which is when I think I was in the middle of trying to figure this out. So I'm not sure honestly when/which version this file is. And simply replacing this file with yours or making changes is probably not the best course of action. It should update correctly if the steps are done in th

[2022-04-14 19:51] C4rter commented on #35306
I had another go at it with your list of steps and now, when doing it from scratch, the composer/src/Composer/Repository/ArrayRepository.php is updated and looks correct now.

But sadly, now everything else is way worse than before.

My bin/magento file is gone. My pub folder is basically emptied out. And various other files are missing.
Seems to be a common issue when updating Magento as well.
Wi

[2022-04-14 20:46] Sental commented on #35306
usually the missing magento default files are sorted by deleting vendor/magento and doing a composer install.

The install information from @FadedOut and warning about the new prerequisites need to be added to the release notes.

[2022-04-14 20:47] #35314 closed, assigned to nobody

[2022-04-14 20:47] C4rter commented on #35314
https://github.com/magento/magento2/issues/35306

[2022-04-14 20:51] FadedOut commented on #35306
Yikes, yeah sorry to say bud you got something else crazy going on there.

These updates can indeed be a pain sometimes (that's why there are teams that get paid thousands to do the updates for store owners - for this exact reason I believe). I've done updates from 2.4.1 through to this one and had many hiccups for each one. But for the most part, they do always end up successful if done right. So

[2022-04-14 20:53] Rebecca-DLV opened #35316 "Magento2 Website - Pricing in products has 2 prices!"
### Preconditions (*)

1. Magento 2.3.7  with Netsuite ERP. Using Netsuite Connector (Farapp).
2.

### Steps to reproduce (*)

1. Product is displayed on the website with 2 prices. Screenshot #1 This just started to happen right as we are about to go live! Looking at the product configuration those with the issue show this in Advanced Pricing in the Magenot2 Admin. Screenshot#2
2. How would the co

[2022-04-14 20:59] FadedOut commented on #35306
@Sental I agree, I just quickly looked over the release notes again and don't see anything about the "composer-root-update-plugin" needing to be updated - esp first. I can't remember if I did that update prior to doing the magento update on previous versions. I feel like that is new.

As I mentioned in a previous comment, a little "warning" block on a part of magento docs explaining this isn't eno

[2022-04-14 21:05] Sental commented on #35306
There was a warning block with the mysql to elasticsearch search system change. Considering the ramifications of this extra step and the custom command necessary to complete and upgrade it should be there too. @engcom-Alfa @engcom-Hotel  maybe this is something for you guys and the internal team to consider for both now and when an upgrade path deviates from the standard composer workflow.

[2022-04-14 21:22] C4rter commented on #35306
Thank you, yeah, that did it. I removed the vendor folder and did another composer update. Now everything looks good.

Haha, yeah, as I said before. The update from M1 to M2 was less of a hassle than this one.
It started the last two days with getting Klarna up and running again and today that stuff. It's enough issues for a minor version update now.

Yeah I was one of these guys till two years ag

[2022-04-14 21:25] FadedOut commented on #35293
@Hanhan1989 Hey, could you explain a bit more of what you mean by this? Where is the logo.png prior to you moving it? I'm running into the same deployment issue with a theme I'm using - if I remove the theme deployment works.

I'm wondering what needs to be changed with the theme to make it work? Or as you point out, moving the logo.png file?

[2022-04-14 21:34] chequille commented on #35289
Hi @sdzhepa,
ok, more infos.
I am on 2.4.3 Open Source and want to update to 2.4.4 Open Source.
Normally, I just change the version in composer.json to the one I need:
[code]
This worked in the past for other updates like 2.4.2 to 2.4.3 f.e.
But now I get this error.
I had as well a look to the "Perform an Upgrade" pages and I tried the command to get all available versions:
`composer show magento

[2022-04-14 21:38] Hanhan1989 commented on #35293
@FadedOut  This problem appears to me due to the lack of the logo.png file in my custom theme.

├── [your theme]
       ├── registration.php
       ├── theme.xml
       └── web
           └── images
               └── logo.png

Check if you is in the same situation.

[2022-04-14 21:58] FadedOut commented on #35306
Oh good, it sounds like his info helped because I had no idea past what I was saying unfortunately. And I didn't even think of removing the vendor/magento files - I suppose that makes sense. Maybe remanence of older modules colliding? I love github :)

lol that's crazy that M1 to M2 was easier than this. In that case, they definitely should have documented the processes better (esp being a month p

[2022-04-14 22:41] FadedOut commented on #35293
@Hanhan1989 Thank you for the response :)

But hmm, well my theme is kind of an umbrella theme - it houses many sub-styles. The sub styles had the web>images folder but had an SVG in it. I tried dropping in a PNG to a substyle that I would target in the command. This still turned up the same error.

So I trial & error'd some more, thinking maybe if I added my own "web>images" folder because it did

[2022-04-15 04:26] tuyennn commented on #13530
@DanielRuf @hostep this could be reproduce easily by sending an area adminhtml email while doing a frontend action.

[2022-04-15 04:57] Viper9x commented on #35306
@FadedOut @C4rter Magento guide for upgrade magento version already mentioned require installing the Composer update plugin.

https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html

[2022-04-15 05:20] Smpatidar commented on #35288
use this --> composer require klarna/m2-klarna:1.0.0

if you receive --->(may be solution )
$ php /usr/local/bin/composer2 require klarna/m2-klarna
  [InvalidArgumentException]
  Could not find a matching version of package klarna/m2-klarna. Check the package spelling, your version constraint and that the package is available in a stability which mat
  ches your minimum-stability (stable).

  plea

[2022-04-15 05:37] FadedOut commented on #35306
@Viper9x Indeed, even on the page it's moving to it shows it. On the page you linked it says to run the update command for the root update plugin then to run the "composer update" command. On the new page it does not say that (to run composer update). I simply made the mistake and forgot to do that (I only looked at the new page it's moving to). I mentioned this in previous comments, that I made t

[2022-04-15 05:43] Sental commented on #35306
It is a matter of inadequate communication then. Even though it was there, the Magento team and the release notes team specifically need to do better to enable a better developer experience.

[2022-04-15 07:04] DanielRuf commented on #13530
@tuyennn shouldn't this hhttps://www.golem.de/news/trotz-redundanz-datenverlust-bei-1-500-snapshots-von-hetzner-cloud-2204-164628.htmle been resolved for some years now?

Or does it haopen in Magento 2.4.4? If so please open a new issue with all relevant details. Thank you.

[2022-04-15 07:05] DanielRuf commented on #13530
@tuyennn shouldn't this already have been resolved for some years now?

Or does it happen in Magento 2.4.4? If so please open a new issue with all relevant details. Thank you.

[2022-04-15 07:19] snez commented on #35306
I couldn't get around this with the recommendations so I added

    #[\ReturnTypeWillChange]

after the docblock and before the method declaration at:
- vendor/composer/composer/src/Composer/Repository/CompositeRepository.php::count()
- vendor/composer/composer/src/Composer/Repository/ArrayRepository.php::count()

Then `setup:upgrade` completed successfully.

[2022-04-15 07:21] rjm87 commented on #35297
This fixed the issue for me as well! Thanks!

[2022-04-15 08:28] anvanza commented on #35310
Hi @engcom-November ,

True, On 2.4.4 the page_size is returned when searchCriteria[pageSize] is set.
While on 2.4.3-p1 it returned page_size even when searchCriteria[pageSize] is not set.

[2022-04-15 08:36] anvanza commented on #35305
Hi @wilsonssot , Yes you could use a module. I don't think I should list those modules here; but try searching for "magento 2 enhanced ecommerce".
I use a module in conjunction with Google Tag Manager and GA4. (since UA is already deprecated)

[2022-04-15 09:21] C4rter commented on #35306
But beware, I guess that is a slippery slope as you have an unintended/wrong composer module version in your vendor folder which can change with every new change involving composer update or install.

[2022-04-15 09:31] C4rter commented on #35288
Thank you, yeah I know, that works now. But it didn't work before because the Klarna module couldn't be purchased. Only Klarna Checkout could be found in the Marketplace Tuesday and Wednesday.

[2022-04-15 10:05] paales commented on #35233
@cpartica This completely covers all the functionality we talked about earlier on Slack.

[2022-04-15 10:11] paales commented on #35233
Code snippet how to confirm the customer we've used, should be easily implementable.

[code]

[code]

[2022-04-15 10:35] snez commented on #35306
@C4rter there is no way to upgrade it. If I delete the folder and run the composer require commands for root plugin ~2.0 and magento community 2.4.4, it just re-installs the same composer module with the deprecated functionality.

[2022-04-15 11:50] C4rter commented on #35306
A few of us here had the same issue and we all fixed it. I also thought there is no way to upgrade it at one point.
But then I started from scratch, meaning PHP 7.4 and Magento 2.4.3 and the matching DB.
And then I did the 8 steps from @FadedOut and then it actually did upgrade that module.

Sure, I had another issue then with files missing which lead me to completely remove the vendor folder agai

[2022-04-15 12:24] neddy236 commented on #15427
bump :)

[2022-04-15 13:03] FadedOut commented on #35306
@snez If you reference the OP, you'll see I am on PHP 8.1.4 as well as Composer 2.3.5. I'm currently using Magento 2.4.4 with no issues now (other than the obvious theme/modules issues which is not Magento's fault).

As @C4rter points out, modifying base files (not a 3rd party module or theme) is usually never a good idea and is not intended to be done to work.

If you follow all steps properly, i

[2022-04-15 13:54] keetontucker opened #35318 ""Something went wrong with processing the default view and we have restored the filter to its original state.""
### Preconditions (*)

1. Magento 2.4.2
2. Product display

### Steps to reproduce (*)

1. set view to 200 products
2. click apply filters

### Expected result (*)

1. I expected to view a page with 200 products, and to have the ability to move through other pages of 200 products
2.

### Actual result (*)

1. "Something went wrong with processing the default view and we have restored the filter to

[2022-04-15 17:02] mgwalk commented on #35312
I am getting the same issue.
I see admin login
Enter user and pass.
Page looks like it just refreshes

[2022-04-15 17:12] mgwalk commented on #35297
Still having issue after running
php bin/magento config:set system/security/max_session_size_admin 2560000
I restarted varnish
php bin/magento c:c
php bin/magento c:f
Cleared cookies and site data.
still no error, it just looks like it refreshes.

[2022-04-15 20:46] FadedOut opened #35319 "[2.4.4] Product with Salable Qty of 0 shows 'In Stock' on product page"
FIX:
A quick non-official hack/fix was posted further below by @loic-paquin and @jas8522 [here](https://github.com/magento/magento2/issues/35319#issuecomment-1111842395)

### Preconditions (*)
1. Upgraded from Magento 2.4.3-p1 to 2.4.4
2. Default Luma Theme or 3rd Party
3. Have backorders turned off (screenshot attached for confirmation that my settings are correct - though they did not change fro

[2022-04-16 07:12] timothyfisherdev opened #35320 "Error too many redirects when attempting to setup redis for session storage"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento 2.3.3
2. Configure redis as session storage with the following config in `app/etc/env.php`:
[code]

### Expected result (*)

1. Magento should use redis as session storage

### Actual result (*)

1. [Screenshots, logs or description]
2. Produces a "too many redirects" error when visiting any page on the site in

[2022-04-16 10:06] #35288 closed, assigned to nobody

[2022-04-17 01:22] achatpc commented on #33367
same issue on 2.4.3-p1

[2022-04-17 01:22] achatpc commented on #15427
same issue on 2.4.3-p1

[2022-04-17 02:34] mgwalk commented on #35297
Do you have Magefan Blog?  I have Magefan 2.10.6
I get this error.
When I edit \app\etc\config.php
and Disable Magefan blog setup:upgrade works

[2022-04-17 05:55] Hanhan1989 commented on #34975
Same problem in Magento 2.4.4.
`
 main.ERROR: Magento\Framework\Exception\InputException: Can not resolve reCAPTCHA parameter. in vendor/magento/module-re-captcha-ui/Model/CaptchaResponseResolver.php:25`

[2022-04-17 22:20] Hanhan1989 commented on #34975
In my case, there were 2 javascript errors that caused me to not be able to log in. These errors are due to the minification of the **collapse.js** and **tab.js** files in the **lib/web/jquery/bootstrap/** path.

So the solution to this problem has been to exclude those files.

[code]

[2022-04-18 05:23] VZeroCool commented on #35320
@magento give me 2.4-develop instance

[2022-04-18 05:25] VZeroCool commented on #35319
@magento give me 2.4-develop instance

[2022-04-18 06:01] engcom-November commented on #35219
Hi @rymanACM ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-18 06:01] #35219 closed, assigned to engcom-November

[2022-04-18 06:28] snez commented on #35306
@FadedOut @C4rter I followed your advise and restarted the process from scratch, and all I managed to do was to bring the error back. Here are the exact commands I used:

[code]

[2022-04-18 06:44] engcom-Hotel commented on #35280
Sure @sdzhepa

[2022-04-18 06:46] engcom-Hotel commented on #35192
Dear @qsolutions-pl,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-18 07:12] engcom-Charlie commented on #33934
As per the [comment](https://github.com/magento/magento2/pull/32939#issuecomment-1099289821), closing this issue.

Thank you!

[2022-04-18 07:13] #33934 closed, assigned to nobody

[2022-04-18 07:43] engcom-Charlie commented on #32910
As per the [comment](https://github.com/magento/magento2/pull/35053#issuecomment-1098921847), closing this issue.

Thank you!

[2022-04-18 08:07] engcom-Hotel commented on #35307
Hello @guvra,

We have tried to reproduce the issue in Magento 2.4.4 but for us, the issue is not reproducible. Please find attached the below custom module and let us know in case we have missed anything here.

[FilterTimer.zip](https://github.com/magento/magento2/files/8504445/FilterTimer.zip)

We are using PHP 8.1 and Magento 2.4.4 in order to reproduce the issue. Let us know in case we have mi

[2022-04-18 08:22] engcom-November commented on #35319
Hi @FadedOut ,
Verified the issue on both Magento 2.4.3-p1 instance and 2.4.4 version after upgrading from 2.4.3-p1 but same behavior is observed in both the versions.
**Scenario 1:** Existing Product - If Product Quantity is > 0 and Salable Quantity is 0 - User is able to select swatch and on clicking "Add to Cart" button  - "The requested qty is not available" error message is displayed. Same be

[2022-04-18 09:07] C4rter commented on #35306
That's correct, the main branch of composer is still for Composer 1.

The composer module version that needs to be required and installed is that one:
https://github.com/composer/composer/tree/2.2
From the 2.2 branch.

Here's the file in question:
https://github.com/composer/composer/blob/2.2/src/Composer/Repository/ArrayRepository.php
As you can see, the comments are there.

That's how it should

[2022-04-18 09:20] engcom-November commented on #35319
@magento give me 2.4-develop instance

[2022-04-18 09:53] VZeroCool commented on #35320
@magento give me 2.4-develop instance

[2022-04-18 10:09] engcom-November commented on #35289
Hi @chequille ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3 to 2.4.4 with the help of [Reference guide](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html) but cannot able to reproduce the issue. Successfully upgraded to 2.4.4 and able to access all pages.
`> composer require magento/product-commun

[2022-04-18 10:14] vivekp-dev commented on #18025
I am facing the same issue in Magento

[2022-04-18 10:35] akhiltanveer commented on #4911
I have faced the same issue, All i had to do was create the directories and files that are shown in the error. And finally the issue is resolved.
tested on Magento 2.4.3 version

[2022-04-18 11:14] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance with edition ee

[2022-04-18 12:14] engcom-November commented on #35318
hi @keetontucker
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue. Please check below possible workarounds which may help you resolve the issue:
1. Please check "catalog_product_entity" table in the database for any sku 's having NULL value and update them:
UPDATE catalog_product_entity SET sku='' WHERE sku IS NULL;
2. Check if the user is having very restric

[2022-04-18 14:03] engcom-Alfa commented on #35212
We have to update the this ticket based on our internal discussion further updates. Needs to be cross checked the internal ticket discussion comments given [HERE](https://jira.corp.magento.com/browse/AC-2756?focusedCommentId=1858239&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1858239).

[2022-04-18 14:56] erfanimani commented on #34375
@snez bugs should be reproduced on the develop branch. If you can't reproduce on develop, it must mean it's fixed, and the issue should be changed to become a backport. Hence, the core team uses `develop` to validate issues.

I'm running into this issue as well, and the above suggestion fixed it for me.

[2022-04-18 16:03] guvra commented on #35307
@engcom-Hotel Hi,

You don't add any timer in your example, which is why you can't reproduce it.

Look at this loop in the Stat class:

[code]

There are situations where timerIds[$j] is set to null.
Then it is passed to the strpos function, which doesn't allow null values.

[2022-04-18 17:41] FadedOut opened #35322 "M 2.4.4: Error 'TypeError: $(...).filter(...).collapse is not a function' (in admin/backend > dev-tools console) - Cant save pages"
SOLUTION [HERE](https://github.com/magento/magento2/issues/35322#issuecomment-1101788078). Thanks to @emirajbbd for fix info! I patched the files if you'd prefer, [here](https://github.com/magento/magento2/issues/35322#issuecomment-1102068845).

### Preconditions (*)
1. Upgraded from 2.4.3-p1 to 2.4.4
2. PHP 8.1.4
3. Production Mode
4. No custom modifications to backend template/files

### Steps t

[2022-04-18 17:43] FadedOut commented on #35322
@magento give me 2.4-develop instance

[2022-04-18 18:49] Hanhan1989 commented on #35322
I think that These errors are due to the minification of the collapse.js and tab.js files in the lib/web/jquery/bootstrap/ path. The temporary solution would be to exclude these two files from the minification。

[2022-04-18 18:59] FadedOut commented on #35322
@Hanhan1989 Thank you for your response 🙂

I'm running in Production Mode (just updated OP with that info - I apologize for not mentioning that) which I believe there is no way to enable/disable minification (no developer setting in configuration)? Especially not sure how I would go about excluding those files only...

[2022-04-18 19:03] Hanhan1989 commented on #35322
@FadedOut I did this solution。

<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <minify_exclude>
                    <collapse>/jquery/bootstrap/collapse</collapse>
                    <tab>/jquery/bootstrap/tab</tab>

[2022-04-18 19:05] Hanhan1989 commented on #35322
@FadedOut My did the following solution:

[code]
This is the temporary solution.

[2022-04-18 21:36] emirajbbd commented on #35322
diff --git a/lib/web/jquery/bootstrap/tab.js b/lib/web/jquery/bootstrap/tab.js
index 928f8de..9805d0b 100644
--- a/lib/web/jquery/bootstrap/tab.js
+++ b/lib/web/jquery/bootstrap/tab.js
@@ -28,14 +28,14 @@ define([
     const VERSION = '5.1.3'
     const NAME = 'tab'
     const DATA_KEY = 'bs.tab'
-    const EVENT_KEY = `.${DATA_KEY}`
+    const EVENT_KEY = `.${DATA_KEY}`;
     const DATA_API_KEY =

[2022-04-18 22:36] FadedOut commented on #35322
@Hanhan1989 Thank you for posting that info. Unfortunately, I might sound like a noob here but I'm not sure which module to place that into...seeing how it appears to be every part of the admin panel and not one specific module. Unless it is one specific module that controls all that?

@emirajbbd Woo thank you for that but unfortunately that is above my paygrade (so-to-speak) lol. I don't know how

[2022-04-19 03:55] mattqiu opened #35323 "【Priority issue】,2.4.3-p2,configurable product can't filter well,swatch small image not match with big image"
### Preconditions (*)

1.magento 2.4.3-p2
2.PHP 7.4.18

firstly I use 2.4.1,I found this iusse,so I try to upgrade to check if you guys alrady fixed it.but it's still the same.but I found version 2.3.4 it's worked well

### Steps to reproduce (*)

1.go https://www.murzic.com/men/handbags/all-handbags.html,and filter color in left
2. check the small image and the big image it's now match,just small

[2022-04-19 04:59] VZeroCool commented on #35322
@magento give me 2.4-develop instance

[2022-04-19 05:15] webgility-amazonapi opened #35324 "Not getting applied store credit with API salesOrderRepositoryV1GetListGet"
### Preconditions (*)

1. Magento version 2.4.2

### Steps to reproduce (*)

1. Create an order with store credit
2. Download the order via magento 2 rest api https://magento.redoc.ly/2.3.7-admin/tag/orders#operation/salesOrderRepositoryV1GetListGet
3. You will not found any node related to store credit applied on this order

### Expected result (*)

1. Please find the order with store credit
![im

[2022-04-19 05:18] FadedOut commented on #35322
@emirajbbd I looked at your response better and decided to just take a look at the files. I was able to decipher it lol. I just manually edited the files.

MUCH appreciate the response. IT WORKED 😃! As you noted it fixed it for you, it seems to have fixed it for me as well. I no longer have those errors I mentioned in the OP and it seems the broken pages are now working as intended. Yay 👍

I will

[2022-04-19 06:09] sanchit-redmonks opened #35325 "Magento 2.4.4 admin panel - Uncaught SyntaxError: Unexpected token 'const'"
### Summary (*)
Magento 2.4.4 running on PHP 8.1 in Production mode

If you enable the js bundling and minify the scripts.
`php bin/magento config:set  dev/js/minify_files 1`
`php bin/magento config:set  dev/js/enable_js_bundling 1`

After running the deployment and logging into the admin panel. We can't click on any menue option. There is an error in the browser console: *Uncaught SyntaxError: Un

[2022-04-19 07:27] engcom-Hotel commented on #35203
Dear @asyadav5,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-19 07:27] #35203 closed, assigned to engcom-Hotel

[2022-04-19 07:28] engcom-Hotel commented on #35251
Dear @hemendraajmera,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-19 07:28] #35251 closed, assigned to engcom-Hotel

[2022-04-19 07:38] engcom-November commented on #35325
Verified the issue on Magento 2.4.4 version and 2.4-develop branch as well and the issue is reproducible.
Configured JS Bundling as per [devdocs](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/js-bundling.html)
Login to admin - Unable to navigate to any other pages. None of the Menu options/buttons are working.
![image](https://user-images.githubusercontent.com/60198231/16394728

[2022-04-19 08:07] Hanhan1989 commented on #35322
the issue is confirmed here https://github.com/magento/magento2/issues/35325

[2022-04-19 08:30] mkuzPL commented on #35293
Thank You!
That worked for me, the problem is gone :)

[2022-04-19 08:30] #35293 closed, assigned to nobody

[2022-04-19 09:27] hemendraajmera opened #35326 "Unable to get filters using REST API which are showing on category pages on left side"
### Summary (*)

I am using rest API to develop frontend, i am using products API to get category products, now I want to show filter as similar which are showing category page for magento2 store.
I want rest API which get this filter based on category products
### Examples (*)

### Proposed solution

Is there any module or API, please share that so I can implement to get that same user experience

[2022-04-19 09:29] #35264 closed, assigned to engcom-November

[2022-04-19 09:53] #32878 closed, assigned to nobody

[2022-04-19 09:57] engcom-November commented on #35324
@magento give me 2.4-develop instance

[2022-04-19 10:06] engcom-November commented on #35310
Hi @anvanza,

We are moving this ticket to "On Hold" as we are awaiting confirmation from PO for expected behavior.
Thank you.

[2022-04-19 10:43] engcom-Hotel commented on #35307
Hello @guvra,

Thank you for your report and collaboration!

We have again tried to reproduce the issue by adding timers in the custom module and the issue is reproducible. We are getting the below error while running the custom module:
<img width="1343" alt="image" src="https://user-images.githubusercontent.com/51681618/163987087-91f1db5c-bffe-41a0-8b62-4dcfce8f51da.png">

Hence confirming this i

[2022-04-19 11:12] pixopa opened #35327 "jQuery UI Slider and SelectMenu Mapping is not correct in requirejs-config.js"
### Preconditions (*)

On Magento 2.4.4 release, jQuery UI Slider and SelectMenu Mapping is not correct in vendor/magento/module-theme/view/base/requirejs-config.js. This causes an error on frontend as jQuery slider and selectmenu modules do not get loaded and we see an error saying "$j(..).slider is not a function".

### Steps to reproduce (*)

Open vendor/magento/module-theme/view/base/requirejs

[2022-04-19 12:00] snez commented on #34375
@erfanimani we know it is fixed now that 2.4.4 has been released. But a response like "I tried to reproduce on a different version and I couldn't, so it must be fixed" is not the same as "I was able to reproduce it on the reported version, followed the exact same steps and was not able to reproduce it on develop, so it is definitely fixed and will be released in 2.4.4".

[2022-04-19 12:00] nwiegers01 opened #35328 "Not able to change / alter special_to_date product attribute causing pricing issues"
Lately I came to the discovery that my product prices were not being updated while doing a price update.
The reason for this is that the _special_to_date_ attribute was being set for those products. My project is using the _catalog/staging_ module, which removes/filters out the _special_to_date_ attribute.

Because of this, I am also not able to alter/change the value of this attribute. The only w

[2022-04-19 12:06] engcom-Delta commented on #35312
Hi @engcom-November ,
We have verified this issue on Magento 2.4 develop and 2.4.4 instances. Found that issue is reproducible on both instances.
Hence issue is confirmed.
Please find the attaches screenshots for reference.
1. Login to admin
2. Store > Settings > Configuration. - Advanced and choose System - Security - set Max Session Size in Admin to 0 and save
<img width="1440" alt="Screenshot 2

[2022-04-19 12:07] engcom-November commented on #35322
Hi @FadedOut , Thank you for reporting and collaboration.
Verified the issue by upgrading from 2.4.3-p1 to 2.4.4 in production mode and PHP version: 8.1.4 and also on 2.4.4 new installation but cannot able to reproduce the issue. No error in console and all pages in admin are working.
Please check and confirm if this issue occurred due to configuring [JS bundling](https://devdocs.magento.com/guide

[2022-04-19 12:13] jordanvector commented on #34887
@engcom-November this test does not capture the true issue, in order to replicate we need a step in the middle that deletes at least 500 products to cause a gap in entity ids of 500 or more.

[2022-04-19 13:58] tthierryEra commented on #35306
Hello,

If it can help others, I had the same issue and I was not able to fix it by running the solution proposed.
On my end I needed to update the composer.json file specifically the require-dev section with what is written here
https://github.com/magento/magento2/blob/2.4.4/composer.json

This way the propers composer modules were install and the issue disapeared.

[2022-04-19 14:03] engcom-November commented on #35313
Verified the issue by upgrading Magento version from 2.3.7 to 2.4.3-p2 but could not able to reproduce the issue.
Admin - System - Integrations - Created new integration before upgrade
Upgraded to 2.4.3-p2
Reauthorize integration - No issue/ Exception
![image](https://user-images.githubusercontent.com/60198231/164021936-1b132825-f89d-45db-b7ea-d10b6303485f.png)

![image](https://user-images.github

[2022-04-19 14:19] kenseiatwork commented on #35313
I encountered this problem as well.  It looks to be an issue for older magento sites when the module.xml's setup_version was still in use.

The last setup_version for the integration module looks to be 2.2.0, you can check the row for Magento_Integration in the  setup_module table.

In the patch files for UpgradeConsumerSecret.php and UpgradeOauthToken.php, the method for getVersion() is set to 2.

[2022-04-19 14:26] pmaryglobalia commented on #34957
vendor/magento/module-catalog-import-export/Model/Import/Product.php
This code added at Line 3208 is the culprit:
`  if (isset($rowData['qty']) && $rowData['qty'] == 0) {
                $row['is_in_stock'] = 0;
            }`
It does not take in account the back order setting of the product

[2022-04-19 14:45] andreifurrnica commented on #8522
@magento give me 2.4-develop instance

[2022-04-19 15:03] softinfoline commented on #35325
Here is the solution:-
[lib/web/jquery/bootstrap/collapse.js](https://github.com/magento/magento2/compare/2.4-develop...softinfoline:patch-1#diff-30853d5d372040a61dbdf9eb58b5840f3b533701024c13eb485b634929fd77cf)
@@ -32,7 +32,7 @@ define([
    const VERSION = '5.1.3'
    const NAME = 'collapse'
    const DATA_KEY = 'bs.collapse'
    const EVENT_KEY = `.${DATA_KEY}`
    const EVENT_KEY = `.${DATA_KE

[2022-04-19 15:03] fmineo opened #35329 "Magento 2.4.4 frontend menu mobile"
### Preconditions (*)

1. PHP 8.1
2. Magento 2.4.4 (installed via composer create-project)
3. No sample-data, all defaults.

### Steps to reproduce (*)

1. Create a category with a subcategory
2. Go to frontend on mobile device (**Vertical mode**)

### Expected result (*)

1. We should be able to open submenu categories dropdown through the menu.

### Actual result (*)

1. We can only see the "top

[2022-04-19 15:41] emirajbbd commented on #35322
@[engcom-November](https://github.com/engcom-November) it happens in production mode while you have Minify JavaScript Files on

[2022-04-19 15:46] tales-desde-mileto opened #35330 "UIComponent : date : showstime and validation : error "Please enter a valid date.""
### Preconditions (*)

1. Magento 2.4.4
2. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Define a ui_component form.xml
2. Add datetime UI component with: showsTime=true validation: validate-date=true

        <field name="prueba15_id">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                      <item name="label" xsi:type="str

[2022-04-19 16:13] wilsonssot opened #35331 "Facebook Business Extension not working on magento 2"
### Preconditions (*)

1.Magento Comunity ver. 2.3.5-p2
2.Have a business page and application on facebook.

### Steps to reproduce (*)

1. Install FBE through composer.
2. Connect FBE from magento to facebook.
3. Push products from stores->settings->configuration->facebook->Business Extension-> Push Products
### Expected result (*)

1. Catalog should be synchronize to facebook

### Actual result

[2022-04-19 16:22] FadedOut commented on #35322
Hello @engcom-November

I appreciate you inspecting this. @emirajbbd just pointed out the minify suggestion. This appears to be correct. It does not appear to be a problem with 'bundling' but with 'minification'. Following the dev guide [HERE](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/js-bundling.html) to enable/disable.

OP Errors SHOW:
[code]

 OP Errors GONE:
[code]

 OP

[2022-04-19 16:41] snez commented on #35306
Thanks @tthierryEra, updating the require-dev dependencies also updated the vendor/composer module!

cc [C4rter](https://github.com/C4rter)

[2022-04-19 17:05] FadedOut commented on #35306
That is odd, following the instructions on the [upgrade guide](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html) should have worked. Something must have been different on your side to cause it not to work by the standard process.

But glad you guys were able to get it updated either way 👍

[2022-04-19 18:04] hostep commented on #28092
The following is just FYI, no confirmation from my end.

@plastikschnitzer probably means this entry from the release notes of Magento 2.4.4:

This is linked to internal ticket number MC-42154 of which I can only find this commit: https://github.com/magento/magento2/commit/d2666309e925856c9854b3c65af0bdb4730b0c43

Again, no confirmation if this is a fix for this issue, this is just information I g

[2022-04-19 18:19] plastikschnitzer commented on #28092
I could not check with Magento 2.4.4 yet, but I used the chance now to apply the commit @hostep mentioned to Magento 2.4.3-p1 and it solves the issue for me. Thank you @hostep for doing the research for the commit!

Give it a try ;-)

[2022-04-19 20:22] pmonosolo opened #35332 "System Attribute Labels (news_from_date, news_to_date) not changing after updating Default / Local labels"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Go to Product Attributes
2. Find news_from_date attribute
3. Change the Default Label to: New Product Start Date

![image](https://user-images.githubusercontent.com/66754347/164088459-834e7590-eb44-46f8-a3a3-ba0f78380551.png)

4. Change Local Store Label to: New Product Start Date

![image](https://user-images.githubuserconten

[2022-04-19 20:24] pmonosolo commented on #35332
@magento give me 2.4.3 instance

[2022-04-19 20:28] pmonosolo commented on #35332
@magento give me 2.4-develop instance

[2022-04-20 03:00] w344701119 commented on #25221
my magento version is 2.4.3-p1, but the issue is still there.

[2022-04-20 04:46] chequille commented on #35289
Hi Guys,

maybe I have an idea why it is not working on my site.
My site was originally installed with the web installation and not with a composer project.
As I remember it was version 2.3.1 or around that version.
All updates, as well to 2.4.x worked with the way I said by setting the version in the composer file.
But now it seems not to work anymore and I guess this is because of the need of th

[2022-04-20 04:51] alek-s-andr commented on #22773
After updating the **Magento** to version **2.4.4** we have the same error on running **bin/magento setup:upgrade**.

![2022-04-20-12-51-18](https://user-images.githubusercontent.com/34573954/164152885-c6d22acc-7fb9-44b1-8d93-18a2f0b64e2c.png)

[2022-04-20 05:18] gaganmagento commented on #35259
@magento I am working on this

[2022-04-20 05:20] gaganmagento commented on #35259
@magento  give me 2.2.5 instance

[2022-04-20 05:39] hemendraajmera commented on #4105
This API Still not working

[2022-04-20 07:02] engcom-Hotel commented on #35329
@magento give me 2.4.4 instance

[2022-04-20 07:06] engcom-Hotel commented on #35329
@magento give me 2.4-develop instance

[2022-04-20 07:37] antonfries opened #35333 "Creating a creditmemo without products doesn't work anymore in 2.4"
### Preconditions (*)
1. Magento 2.4.3-p2

### Steps to reproduce (*)
1. Create an order
2. Create an invoice
3. Try to issue a partial refund without giving the products back

### Expected result (*)
![2022-04-20_09h34_32](https://user-images.githubusercontent.com/49792220/164175353-21987b33-aa33-4ab9-bd8b-4f5954987ba2.png)
Does work in latest 2.3.7-p3 release, updating qty to 0 results in order

[2022-04-20 07:38] engcom-November commented on #35331
Hi @wilsonssot
Thank you for reporting and collaboration. However, Facebook Business is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners

[2022-04-20 07:38] #35331 closed, assigned to engcom-November

[2022-04-20 07:48] andrewbess commented on #35329
@magento give me 2.4.4 instance with env PHP 8.1

[2022-04-20 07:55] engcom-Hotel commented on #35329
Hello @fmineo,

Thanks for your report and collaboration!

We have tried to reproduce the issue in Magento 2.4.4 but for us, the issue is not reproducible. Please find attached the below screencast for reference:

https://user-images.githubusercontent.com/51681618/164174602-800d153b-0163-4cba-b938-ee2abb6ea3bf.mov

Let us know in case we have missed anything.

Thanks

[2022-04-20 07:57] engcom-November commented on #35322
Thank you for the confirmation @FadedOut.
We are closing this issue as duplicate as its confirmed here: https://github.com/magento/magento2/issues/35325. Please move on to this ticket for latest updates/solutions.
Thank you.

[2022-04-20 07:57] #35322 closed, assigned to engcom-November

[2022-04-20 08:09] norgeindian commented on #29734
Still not correct in Magento 2.4.3-p2

[2022-04-20 08:27] piuga commented on #5863
This seems related to https://github.com/magento/magento2/pull/23275#issuecomment-539958588
We also encountered the broken URL when a product was updated from "Not visible individually" to "Catalog, Search" visibility. Once the product is marked as not visible, the entries for this product from url_rewrite table are removed.
Related also to: https://github.com/magento/magento2/issues/19293

[2022-04-20 08:52] fmineo commented on #35329
Hello @engcom-Hotel,

Thanks for your support!

As I specified, the **device must be in "portrait mode" (held vertically)** and not horizontally as you showed in the video.

I am also attaching a video trying to be clearer:

https://user-images.githubusercontent.com/5881339/164190034-8f93a4a3-2240-49a2-9090-2bb464e212ba.mp4

Hope it helps.

Thanks

[2022-04-20 09:30] engcom-November commented on #35333
@antonfries ,
Thank you for reporting and collaboration. Verified this issue on both Magento 2.4-develop branch and 2.4.3-p2 instance but cannot able to reproduce the issue.
Steps performed:
Create Order
Submit Invoice
Click on Credit Memo - Update Qty to "0" -  "Refund Offline" button is disabled
Enter partial refund amount and click on Update Totals - Refund Offline button is enabled
Click on Re

[2022-04-20 09:46] pixopa commented on #35327
Please try jQuery slider (https://jqueryui.com/slider/) not Magento Slide Show

[2022-04-20 09:57] VZeroCool opened #35334 "Setup Promotion specific to In Store pick up shipping method"
### Preconditions (*)

Magento 2.4.2 or 2.4.3-P1
1. Inventory enabled
2. Create new Source and Stock (non default) with Pickup location enabled (Stores - Inventory - Sources and Create new Stock and assign source)
3. Enable In store Pickup delivery (Stores - Configuration - Sales - Shipping Methods)
4. Create Product and assign Stock
5. Create [Cart Price Rule](https://user-images.githubuserconten

[2022-04-20 09:58] VZeroCool commented on #35334
@magento give me 2.4-develop instance

[2022-04-20 10:00] magentix opened #35335 "[Magento 2.4.4] Class magento/zendframework1/library/Zend/Pdf/NameTree.php not compatible with PHP 8.1"
### Preconditions (*)

1. Magento 2.4.4
2. PHP 8.1

### Steps to reproduce (*)

1. Go to the **Sales Shipments** page in admin. Select shipments and the "Print Shipping Labels" action.

### Expected result (*)

1. Get a PDF with all the shipment labels

### Actual result (*)

1. PHP crashes with the following error :

[code]

The error happens with the *Magento\Shipping\Model\Shipping\LabelGenerat

[2022-04-20 10:02] FrankieCSS opened #35336 "Amazon integration not working"
RE: M2E Pro
Magento ver. 2.3.4

Hi,

Can anyone help, I'm having issues with bringing up my product catalogue on M2E pro for the Amazon integration side, eBay and my own website seem to just find and all synced up and running smoothly.

Amazon doesn't even show any products or anything. I cant even remove Amazon and start again

Many thanks

[2022-04-20 10:29] kumarsh178 opened #35337 "Prices is not deleting for website after deselect that website"
Step to reproduce:

Note:  Make the price website level first.

Step1> Create two websites with a different store.

Step2> Create a product with different prices for both websites and save after that deselect the second website for the product.

Step3> Export the product then you will see the prices of deleted website and even you will not see that deselect website in product edit page.

[2022-04-20 12:05] evolbug commented on #35313
@engcom-November You need to reauthorize the integration, also check the integration details for incorrectly displaying secrets

[2022-04-20 12:25] engcom-November commented on #35336
Hi @FrankieCSS
Thank you for reporting and collaboration. However, Amazon Integration is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owner

[2022-04-20 12:25] #35336 closed, assigned to engcom-November

[2022-04-20 12:48] antonfries commented on #35333
There is some more configuration necessary to get to the code block, which is not working:
![2022-04-20_14h39_07](https://user-images.githubusercontent.com/49792220/164232823-401f7b6e-cad6-4e38-b188-03d1c0722ef1.png)
Method call $rate->getId() in vendor/magento/module-sales/view/adminhtml/templates/order/totals/tax.phtml Line 62 and 77
My sample configuration (a bit overloaded), transported from a

[2022-04-20 12:53] antonfries commented on #35333
And then take the free shipping method in the order to get no taxes applied to not get into the if-block in vendor/magento/module-tax/Helper/Data.php::763
`if ($shippingTaxAmount && $originalShippingTaxAmount &&
            $shippingTaxAmount != 0 && (float)$originalShippingTaxAmount
        )`

[2022-04-20 12:53] engcom-Hotel commented on #35280
Hello @mbitson @hostep @sdzhepa,

We have tried again to reproduce the issue but we are facing other problems. We have followed the below steps in order to reproduce the issue:
1. Install Magento 2.4.3
2. Trying to install `data-migration-tool` by running this command `composer require magento/data-migration-tool:2.4.4`, but whenever I am running this command, I am getting the below error:

<img w

[2022-04-20 12:58] engcom-November commented on #35335
Verified the issues on Magento 2.4-develop branch and 2.4.4 versions and the issue is reproducible on 2.4.4 instance but not on 2.4-develop branch.
Steps performed:
1. Configure Fedex shipping method as per https://jira.corp.magento.com/browse/MC-27213
2. Frontend - Login as customer - Created Order
3. Submit Invoice from admin
4. Ship - Create Shipping Label and Submit
5. Go to Sales - Shipments

[2022-04-20 13:04] hostep commented on #32910
@engcom-Charlie: you've not tested the expected scenario as described in this issue.

Please try again, but now only use **one** website, **one** store and **one** root category but **two** different storeviews.

I've just tried it myself on the `2.4-develop` branch (using commit 5807cd9a05f) and I was perfectly able to reproduce with the steps mentioned in the opening post.

@sidolov, @sdzhepa: I

[2022-04-20 13:11] hostep commented on #35280
@engcom-Hotel: it was [already confirmed](https://github.com/magento/data-migration-tool/issues/891#issuecomment-1096827902) that this issue is fixed in version 2.4.4 of the data migration tool.

So please don't waste time and try to reproduce this issue anymore because it has already been fixed. This issue (and the [duplicated one](https://github.com/magento/data-migration-tool/issues/891)) shoul

[2022-04-20 13:19] BorisovskiP opened #35339 "Notice: Undefined index: {{table_name}} in /var/www/html/vendor/magento/framework/Setup/Declaration/Schema/Declaration/SchemaBuilder.php on line 354"
### Preconditions (*)
When one module with `db_schema` has a constraint on another module where the table is created via `Install/Upgrade Schema` it leads to the error mentioned in the title.
This happens on  `Magento version 2.4.3-p2, 2.4.4`

### Steps to reproduce (*)
1. Require https://github.com/mageplaza/magento-2-blog
2. Run `bin/magento setup:upgrade`.
3. Create a module with this `db_schem

[2022-04-20 14:07] roman204 commented on #28161
Even in Magento 2.3.4-p2 this behavior is still alive it's a shame

[2022-04-20 14:15] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-04-20 14:23] jorgb90 commented on #35327
We have the same issue as @pixopa which gets fixed when properly mapped as suggested.

[2022-04-20 14:28] jurvi commented on #22973
Yea, I concur. I've been struggling today to find out why the heck we are getting full countries list via graphql no matter how we try to limit them. It's because of this. We also have a need to have global customers, but still be able to limit countries list.

[2022-04-20 14:28] slavvka commented on #35329
@magento give me test instance

[2022-04-20 14:29] slavvka commented on #35329
@magento give me 2.4.4 instance

[2022-04-20 14:33] slavvka commented on #35006
@magento give me 2.4-develop instance

[2022-04-20 14:43] slavvka commented on #35329
@magento give me 2.4-develop instance

[2022-04-20 14:47] victor-v-rad commented on #35280
Hi @engcom-Hotel
Your Magneto composer.json probably has fixed DMT version, e.g.:
"magento/data-migration-tool": "2.4.3"
please change it to something like
"magento/data-migration-tool": "~2.4.3"
and repeat the `composer update` command

[2022-04-20 14:56] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-04-20 15:45] leonhelmus opened #35340 "Mail extension attributes cannot be accessed from email template."
### Preconditions (*)
1. Magento 2.4.3-p2 on premise enterprise/open source.
2. PHP 7.4

### Steps to reproduce (*)

1. Import the New order template into the backend.
2. Use an extension attribute in the template like `{{var order.extension_attributes.custom_attribute}}`
3. It cannot access the data from the extension attribute while this is a public function.

### Expected result (*)

1. {{var o

[2022-04-20 16:03] leonhelmus opened #35341 "2.4.3-p2 missing patches MDVA-43395_EE_2.4.3-p1_COMPOSER_v1.patch & MDVA-43443_EE_2.4.3-p1_COMPOSER_v1.patch"
### Preconditions (*)

1. Magento 2.4.3-p2 on premise enterprise/open source
2. php 7.4

### Steps to reproduce (*)

1. Patch magento from 2.4.3-p1 to 2.4.3-p2. Check release notes: https://devdocs.magento.com/guides/v2.4/release-notes/2-4-3-p2.html.
2. When reading release notes it says the patches have been applied.
3. Remove patches: MDVA-43395_EE_2.4.3-p1_COMPOSER_v1.patch & MDVA-43443_EE_2.4.

[2022-04-20 16:10] pmonosolo commented on #35332
@magento give me 2.4.3 instance

[2022-04-20 16:25] ludo-mon-key commented on #35279
@magento give me 2.4-develop instance

[2022-04-20 16:27] pmonosolo commented on #35332
Cant confirm this issue after testing on vanilla 2.4.3 - it must be related to Amasty Extended Product Grid plugin (I heard back from their team they also confirmed it).

Closing.

[2022-04-20 16:27] #35332 closed, assigned to ajijshekh123

[2022-04-20 16:58] leonhelmus commented on #35341
A collegue of mine said its the same for 2.4.4.

[2022-04-20 17:04] enr-beck-mellow opened #35342 "Email module breaks setup:upgrade in 2.4.3-p2"
### Preconditions (*)

1. Magento 2.4.3-p2
2. PHP 7.3

### Steps to reproduce (*)

1. Setup new environment with magento 2.4.3-p2 and php 7.3
Running composer create-project command does not give any error but running php bin/magento setup:install command returns an error which is not meaningful / clear
### Expected result (*)

composer create-project command returns below meaningful error:
https:

[2022-04-20 17:07] matthewbrown62 commented on #8098
@VikasSingh1694 If you are still having issues with this you may not have reporting enabled in Store -> Settings -> Configuration -> General -> Reports -> General Options

[2022-04-20 17:12] nathanjosiah commented on #35341
The patches are not present because we chose to implement a more comprehensive fix in the 2.3.7-p3/2.4.3-p2/2.4.4 release. The hotfixes will not and should not be applied to these releases.

[2022-04-20 17:12] #35341 closed, assigned to nobody

[2022-04-20 17:18] leonhelmus opened #35343 "bin/magento dev : email:override-compatibility-check or bin/magento dev : email:newsletter-compatibility-check give false positives"
### Preconditions (*)

1. Magento 2.4.3-p2 on premise enterprise/open source
2. php 7.4

### Steps to reproduce (*)

1. Update from magento 2.4.3-p1 to Magento 2.4.3-p2
2. Have a mail template in the backend with either {{depend customer.getFirstName()}} or {{if customer.getFirstName()}} or {{depend order.getExtensionAttributes().getExpectedDeliveryDateFrom()}} or {{trans ""Estimated Delivery Date

[2022-04-20 17:21] burgh8wp commented on #33770
Our catalog_url_rewrite_product_category appears to be corrupt and above queries which previously worked, appear to no longer be working. Hitting errors on duplicate keys as before, then when we truncate the data, we get errors relating to foreign keys and inability to run database table altering commands through setup:upgrade

Any advice/pointers on where to go to repair the database or regenerat

[2022-04-20 17:21] leonhelmus commented on #35341
@nathanjosiah Good to know could you share a commit that resolved it. This way i can inform internally.

I have also added two other issues:
https://github.com/magento/magento2/issues/35343
https://github.com/magento/magento2/issues/35340

[2022-04-20 18:46] YiffyToys commented on #35313
We can confirm this updating 2.4.3-p1 to 2.4.3-p2
@evolbug reauthorize does NOT help. The consume secret stays mangled and unusable.
You have to recreate the integration with every single access permission the old one had.
A very time consuming process exagerated by the fact that you can't right clitk "open in new tab" most links in the admin area.

[2022-04-20 19:26] hostep commented on #33770
@burgh8wp: the section you reference in the release notes is not the same as what is being discussed here (it has to do with https://github.com/magento/magento2/issues/32283). So don't expect this to be fixed in 2.4.4 (at least not by what you reference).

In this issue here, an attempt is made to try to make the `url_rewrite_id` unique in the `catalog_url_rewrite_product_category` table (which wa

[2022-04-20 19:53] burgh8wp commented on #33770
Ok, thanks for your reply @hostep In our case, there isn't actually any duplicated ID's. When you search by the ID number it references in the table, there is only 1 entry with that ID. It's the lack of Primary key in the table that seems to be the initial issue. We can truncate the table, then add the primary key, but on import of the data back into the table, we get the foreign key error. I susp

[2022-04-20 20:59] hostep commented on #33770
Which foreign key gives you problems? It might reference product id's, or category id's or url_rewrite id's that no longer exist maybe?

Also, if you don't care about potential SEO impact, you can try to run [this tool](https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker/) to find potential incorrect data in your categories & products, which you then need to fix somehow, a

[2022-04-20 21:14] hostep commented on #35342
Even though technically Magento 2.4.3-p2 is installable with PHP 7.3 using composer (not sure why they still allow this?), it's not recommended and the [system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) specify that it was only tested with PHP 7.4.

So I'm not sure if they will consider this as a valid bug report. You'd probably best want to upgrade

[2022-04-20 21:29] enr-beck-mellow commented on #35342
Good point. I didnt lookup the system requirements because composer installed it without any problems (also with 2.4.2).

[2022-04-21 04:56] jgutierrezs opened #35345 "Can't add an order manually in back"
### Preconditions (*)

1. Magento Ver 2.4.4
2. There is no complex procedure to emulate the bug, simply log in as administrator, add a new order, choose the customer, product and when we click to add product to the order nothing happens and the session is lost.

### Steps to reproduce (*)

1. Login with user administrator
2. Add Order
3. Select Customer
4. Select Product
5. Add Product to Order
6.

[2022-04-21 05:39] engcom-Hotel commented on #35273
Hello @Sanjay-100,

Are you facing any specific issues while doing this? Please let us know.

Thanks

[2022-04-21 05:42] engcom-Hotel commented on #35345
@magento give me 2.4.4 instance

[2022-04-21 05:43] engcom-Hotel commented on #35345
@magento give me 2.4-develop instance

[2022-04-21 05:47] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2022-04-21 05:54] engcom-Alfa opened #35346 "[Test] - Draft 2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-04-21 05:54] #35346 closed, assigned to nobody

[2022-04-21 05:54] engcom-Alfa commented on #35346
@magento give me 2.4-develop instance

[2022-04-21 05:57] jgutierrezs commented on #35345
Hello good afternoon, in this environment the bug does not occur. It does
correctly add the product to the order in the backend.

El mié, 20 abr 2022 a las 23:50, magento-deployment-service[bot] (<
***@***.***>) escribió:

[2022-04-21 06:00] engcom-November commented on #35225
Hi @mlarsonbrianstoys ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-21 06:00] #35225 closed, assigned to engcom-November

[2022-04-21 07:44] engcom-November commented on #35334
@magento give me 2.4-develop instance

[2022-04-21 08:08] engcom-Hotel commented on #35345
Hello @jgutierrezs,

We have tried to reproduce this issue in Magento 2.4.4 and 2.4-develop branches, but for us, the issue is not reproducible. Please refer the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/164409326-0b08d722-61c7-497b-8e0d-f5c6913c7ab2.png)

Please suggest to us if we need to use any specific type of product like simple, configurabl

[2022-04-21 08:26] engcom-Hotel commented on #35262
Hello @MargoKep,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4.4 and the issue is reproducible for us with the given steps. Please have a look into the below screenshot for reference:

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/51681618/164413013-754c0fd7-78e1-4795-be67-00aebda9f450.png">

Hence confirming this issu

[2022-04-21 08:43] MargoKep commented on #35262
Thank you very much for your workong.

[2022-04-21 08:48] engcom-November commented on #35334
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Steps performed:
Inventory enabled
Create new Source and Stock (non default) with Pickup location enabled (Stores - Inventory - Sources and Create new Stock and assign source)
Enable In store Pickup delivery (Stores - Configuration - Sales - Shipping Methods)
Create Product and assign Stock
Create Cart Price Rule - Spe

[2022-04-21 09:05] fmineo commented on #35329
The issue also occurs in the Magento Instance above.

[2022-04-21 09:40] MrBlueEyez commented on #34202
Also facing this issue in 2.4.4. It would be possible to add a check for AbstractSimpleObject and then cast it to array and json_encode it:
[code]

This way the extension attribute is converted to a string, and the values are still being compared.

[2022-04-21 10:26] mattqiu commented on #35323
Can anyone help me

[2022-04-21 10:58] YouCanDoIt12 commented on #22773
After upgrading to Magento 2.4.4 I am also getting the same error

[2022-04-21 11:18] nuzil opened #35348 "Bulk API PUT/DELETE do not work when Magento_ReCaptchaWebapiRest is enabled"
### Preconditions (*)
1. Magento 2.4.3 - 2.4.4

### Steps to reproduce (*)
1. Execute any Rest Api Bulk request with PUT or DELETE, when in URL expected 1 or more parameters. Example: {{URL}}rest/async/bulk/V1/products/bySku
**Sample payload:**
_[
   {
      "product":{
         "sku":"24-MB01",
         "name":"Printed Dress",
         "status":1,
         "visibility":4,
         "price":17

[2022-04-21 11:24] Fosha111 commented on #31758
In my case it was a Anowave_Ec, i fixed it by move some elements in layout
magento/app/design/frontend/Vendor/Theme/Anowave_Ec/layout/default.xml

<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <move element="ec_search" destination="before.body.e

[2022-04-21 11:30] burgh8wp commented on #33770
@hostep you asked earlier for foreign key error which we have been able to replicate again today.

If we truncate the table, and run setup:upgrade we get below error output:

`SQLSTATE[HY000]: General error: 1823 Failed to add the foreign key constraint 'table_name/CAT_URL_REWRITE_PRD_CTGR_PRD_ID_CAT_PRD_ENTT_ENTT_ID' to system tables, query was: ALTER TABLE `catalog_url_rewrite_product_category`

[2022-04-21 11:39] engcom-November commented on #35324
Hi @webgility-amazonapi ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with Enterprise edition modules enabled but cannot able to reproduce the issue.
Steps performed:
1. Created Orders using store credit from Admin (Verified both cases: Partial/full store_credit amounts applied )
2. Get request to /rest/default/V1/orders/  and
/rest/default/V1/orders

[2022-04-21 11:41] vipin12117 commented on #31758
Let me try if working

[2022-04-21 11:43] iahmed25 commented on #34320
Hi All,

Can someone please confirm is this the expected functionality in magento 2.4.2
@nafees1988 @krishprakash

[2022-04-21 11:46] marwan-corals commented on #28200
hello, any idea on this issue and when its expected to be fixed ?

[2022-04-21 12:06] alitopaloglu commented on #34546
Any update about null value? I can still reproduce this on 2.4.3-p2

[2022-04-21 12:26] webgility-amazonapi commented on #35324
Thanks you for quick update!
if you see our screenshot and response of order api from magento we are not getting either node "base_customer_balance_amount" or"customer_balance_amount".
Please let us know why?

[2022-04-21 12:39] Hexmage commented on #34546
@alitopaloglu
I've learned that the null value is the actual exception object. Which is handled by the resolver to make the error node in the response. But this node is never deleted after its handled. I'm currently testing some code on my own environment where I moved the Exception Object to a new node in the item that created it. But this will not work with default Venia.

[2022-04-21 12:45] engcom-November commented on #35348
Verified the issue on both Magento 2.4-develop and 2.4.4 versions and the issue is reproducible:
Requests used:
PUT request to /rest/all/async/bulk/V1/products/bySku
Sample payload:
`[ { "product": { "sku": "24-MB01", "name": "Printed Dress", "status": 1, "visibility": 4, "price":17 } }, { "product": { "sku": "24-MB04", "name": "Black WATCH", "status": 1, "visibility": 4, "price":77 } } ]`

Delete

[2022-04-21 13:14] sdzhepa commented on #35345
@magento give me 2.4-develop instance

[2022-04-21 14:27] YiffyToys commented on #35313
Reauthorize can be performed here too but entering the integration damaged in the upgrade
still shows a mangled and unusable "Consumer Secret" and using the new token yields 401 unauthorized.
Completely new integrations created after the update to 2.4.2-p2 work just fine.

[2022-04-21 16:02] engcom-Hotel commented on #35280
Hello @victor-v-rad,

Thanks for the information!

I followed your comment and successfully upgrade the Magento from 2.4.3 to 2.4.4. Please refer to the screenshots below:

**On 2.4.3 Version**
![2-4-3](https://user-images.githubusercontent.com/51681618/164502454-abac0afa-934e-4a68-8eec-37c06058047c.png)

**After Upgrading with 2.4.4**
![image](https://user-images.githubusercontent.com/51681618/16

[2022-04-21 17:43] ihor-sviziev commented on #33355
@sidolov why was it closed?

[2022-04-21 18:21] JelleGe commented on #28387
Is there any update on this issue?

[2022-04-21 21:50] jgutierrezs commented on #35345
I can't reproduce the problem in this environment either.

I tell you that the version of PHP that I have installed is 8.0.

Thanks

El jue, 21 abr 2022 a las 7:19, magento-deployment-service[bot] (<
***@***.***>) escribió:

[2022-04-21 22:32] mikehobin commented on #35319
This happens for me in a test site using PHP 8.1, but if I revert to 7.4 the error goes away.

[2022-04-21 22:41] jgutierrezs opened #35350 "I can't save product description fields in mangento backend"
I can save a new product as long as I don't enter Description, Short Description or Image Description. If I add any description I don't get any response from Magento and it freezes.

### Preconditions (*)

1. Magento 2.4.4
2. PHP 8.0
3. MariaDB 10.4
4. Elasticsearch 7.9

### Steps to reproduce (*)

1. Add Product
2. Add Short Description or Description or Description Image
3. Save

### Expected re

[2022-04-22 00:33] CadenceLabs-AndrewS commented on #19710
We resolved our issue on 2.4.3-p1  ( upgraded from 2.3.4 ) by patching the regex function in:
`vendor/magento/module-media-storage/App/Media.php`
It's missing the case-insensitive flag... 'i' on end of the preg_replace regex

`-        return preg_replace('|^.*?((?:/([^/])/([^/])/\2\3)?/?[^/]+$)|', '$1', $resizedImagePath);`
`+        return preg_replace('|^.*?((?:/([^/])/([^/])/\2\3)?/?[^/]+$)|i'

[2022-04-22 01:04] jgutierrezs commented on #35350
I have a new update. This only happens with a custom user, but if I do it as an administrator this bug does not happen.

[2022-04-22 02:15] erfanimani commented on #34375
@snez you're right, but I suppose that responsibility lies with the developer that is reporting the issue.

[2022-04-22 03:33] CronoxAU commented on #35342
Just want to add a comment that I encountered the same issue testing 2.4.3-p2 on PHP 7.3.

This thread was invaluable in finding the issue, and thanks @hostep for the system requirements chart which does make the issue clear.

Given that previously 2.4.3 ran without any issues on PHP 7.3 I think adding some clear notification that PHP 7.4 is now required would be very beneficial.

[2022-04-22 06:30] engcom-Alfa commented on #33318
Hi @oneserv-heuser ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento-commerce/magento2ce/commit/e71f1543555d7740b5132f18c192f61c02857551).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may

[2022-04-22 06:30] #33318 closed, assigned to nobody

[2022-04-22 06:36] engcom-Alfa commented on #34998
Hi @Green2Matter,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-2445&type=commits).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new bug with all the i

[2022-04-22 06:36] #34998 closed, assigned to nobody

[2022-04-22 06:37] engcom-Alfa commented on #35171
Hi @uandiweb,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento-commerce/magento2ce/commit/e71f1543555d7740b5132f18c192f61c02857551).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report

[2022-04-22 06:37] #35171 closed, assigned to nobody

[2022-04-22 06:49] engcom-Hotel commented on #35345
Hello @jgutierrezs,

Thanks for the reply!

As per the [system requirement](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html), Magento 2.4.4 requires `PHP 8.1`. And also as mentioned in the main description, we have tried to reproduce the issue, but the issue is not reproducible for us.

Please go through with [my comments](https://github.com/magento/magento2/issues/353

[2022-04-22 06:54] engcom-Alfa commented on #35122
Hi @faradey ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento-commerce/magento2ce/commit/e71f1543555d7740b5132f18c192f61c02857551).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report

[2022-04-22 06:54] #35122 closed, assigned to nobody

[2022-04-22 06:56] engcom-Alfa commented on #35048
Hi @Reporter ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-2441&type=commits).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new bug with all the info

[2022-04-22 06:56] #35048 closed, assigned to nobody

[2022-04-22 06:57] engcom-Alfa commented on #34937
Hi @Reporter ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-2535&type=commits).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new bug with all the info

[2022-04-22 06:57] #34937 closed, assigned to engcom-November

[2022-04-22 06:58] engcom-Alfa commented on #35185
Hi @Reporter ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-2621&type=commits).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new bug with all the info

[2022-04-22 06:58] #35185 closed, assigned to nobody

[2022-04-22 06:59] engcom-Alfa commented on #35164
Hi @Reporter ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-2583&type=commits).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new bug with all the info

[2022-04-22 06:59] #35164 closed, assigned to nobody

[2022-04-22 07:15] engcom-Hotel commented on #35329
Hello @fmineo,

Thanks for the report & collaboration!

We have tried again to reproduce the issue in Chrome's _device toolbar_ and in a mobile device. The issue is reproducible for us with the given steps.

Hence confirming this issue.

Thanks

[2022-04-22 07:18] engcom-November commented on #35281
Hi @tux-rampage ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-22 07:18] #35281 closed, assigned to engcom-November

[2022-04-22 07:20] engcom-November commented on #35236
Hi @mtjweb ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-22 07:20] #35236 closed, assigned to engcom-November

[2022-04-22 07:22] engcom-November commented on #35333
@magento give me 2.4-develop instance

[2022-04-22 07:42] antonfries commented on #35333
Did some research, seems to be fixed in 2.4.4: https://github.com/magento/magento2/commit/d648bdc238ba6b59890694251655f725ad1b5d88
Error seems in 2.4.3-p2: https://github.com/magento/magento2/blob/2.4.3-p2/app/code/Magento/Sales/view/adminhtml/templates/order/totals/tax.phtml line 62,77
So we fixing this in all our 2.4.3 customer projects 👍

[2022-04-22 07:51] salvadorcanillas opened #35351 "Related Products on multiple website not saved when user has limited access"
### Preconditions (*)

1. Magento 2.4.2 Cloud

### Steps to reproduce (*)

1. Create new website, store and store view
2. Create new User Role, set Role Scopes to Custom and check new website.
3.  Create new user and assign to the new User Role
4.  Login as new user, edit any product. Add a related product

### Expected result (*)

1. Related Products are saved
2.

### Actual result (*)

1. Relate

[2022-04-22 07:53] salvadorcanillas commented on #35351
@magento give me 2.4-develop instance

[2022-04-22 07:57] engcom-November commented on #35333
Thanks for the update @antonfries ,
We are closing this issue as its fixed in 2.4-develop: https://github.com/magento/magento2/commit/d648bdc238ba6b59890694251655f725ad1b5d88. Kindly reopen this / create a new ticket if you are still facing any issues.
Thank you.

[2022-04-22 07:57] #35333 closed, assigned to engcom-November

[2022-04-22 08:06] tdgroot commented on #35306
Installing Magento 2.4.4 using `composer create-project` also resulted in these errors. What solved it for me was requiring `composer/composer:~2.2.0` after creating the project.

[2022-04-22 08:19] speedupmate commented on #28161
shortcut that mixin and move on it will never be improved

[2022-04-22 09:15] engcom-Delta commented on #35282
Hi @MrJoshFisher ,
Thanks for updating us and We request you to provide more details on modules which you are using to test it.
Regards,

[2022-04-22 10:12] engcom-Delta commented on #35350
Hi @jgutierrezs ,
We have tried to reproduce the issue on Magento 2.4.4 ,unfortunately issue is not reproducible.Hence request to review the provided steps to reproduce it.

Please find the screenshot for reference.
<img width="1440" alt="Screenshot 2022-04-22 at 3 24 42 PM" src="https://user-images.githubusercontent.com/51681379/164687313-bc33927b-65c2-45b9-bd80-c1d3fcd7a760.png">
<img width="144

[2022-04-22 11:12] #35302 closed, assigned to Usik2203

[2022-04-22 11:36] engcom-November commented on #35337
Hi @kumarsh178 ,
Thank you for reporting and collaboration. Verified this on Magento 2.4-develop branch however this behavior seems to be expected behavior:
On setting the product to both the websites: "product_websites" column is updated with both website codes in exported file
On Setting a different price to other website and export - New row is create with price value of other website.
![image]

[2022-04-22 11:39] engcom-Delta commented on #35271
Hi @schnere ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-04-22 12:13] sathyaraj819 commented on #32121
@adamstapley the above commit [9ce809](https://github.com/magento/magento2/commit/9ce80c9914b740d30aef5cef7bbca8febe64a0c5) fixed the issue in my environment.

[2022-04-22 12:58] engcom-Delta commented on #35279
Hi @ludo-mon-key ,
Thank you for logging an issue , we tried to reproduce the issue on Magento 2.4 develop with latest branch.
As per steps provided step#1 says follow  dev doc [(https://docs.magento.com/user-guide/tax/vat-validation-configure.html)]
1. According to steps mentioned in dev doc at Store-->Configuration--> Customer--> Customer configuration section
<img width="1440" alt="Screenshot 2

[2022-04-22 12:58] engcom-November commented on #35342
Hi @enr-beck-mellow ,
Thank you for reporting and collaboration. Verified this issue by installing Magento 2.4.3-p2 with php 7.3 and running composer create-project does not give any error but running php bin/magento setup:install command returns an error which is not meaningful / clear
![image](https://user-images.githubusercontent.com/60198231/164718680-b98d44ad-8fe9-4fea-91da-b48b86d4c5cd.png)

[2022-04-22 13:26] engcom-November opened #35353 "Magento 2.4-x - Changing any configuration from admin and reindex - version changing to 1.0.0+no-version-set"
### Preconditions (*)

2.4-develop branch

### Steps to reproduce (*)

**Intermittent issue:** Changing any Store configuration from admin in 2.4-develop branch - reindex and cache flush - 2.4-develop version is getting changed to 1.0.0+no-version-set
1. Ex: Set the Price scope to website and save  (Stores - Configuration - Catalog - Catalog)
2. Reindex and cache flush
3. Setup multi store (with d

[2022-04-22 14:06] pixopa commented on #35327
Your updated mapping is still wrong. The correct mapping should be -

'jquery-ui-modules/selectmenu': 'jquery/ui-modules/widgets/selectmenu',
'jquery-ui-modules/slider': 'jquery/ui-modules/widgets/slider',

https://user-images.githubusercontent.com/22843013/163991117-2a3bcc65-4215-4c43-81ea-991cd8d7e21e.png

[2022-04-22 14:14] pixopa commented on #35327
Your updated mapping is still wrong. The correct mapping should be -

'jquery-ui-modules/selectmenu': 'jquery/ui-modules/widgets/selectmenu',
'jquery-ui-modules/slider': 'jquery/ui-modules/widgets/slider',

https://user-images.githubusercontent.com/22843013/163991117-2a3bcc65-4215-4c43-81ea-991cd8d7e21e.png <https://user-images.githubusercontent.com/22843013/163991117-2a3bcc65-4215-4c43-81ea-991cd

[2022-04-22 15:25] philippeaellig opened #35354 "Product Variation Handler ignore Store View Data"
On generating product variations for a configurable product in Magento admin, Magento will generate child products with data of the parent. But if the parent has different values in another store view/scope, these values where ignored. the generated child product will only get the data of the parent product from default store.

https://github.com/magento/magento2/blob/ef0ffcd37470e83337133a167dc45

[2022-04-22 17:17] ArunRackron commented on #19122
If any magento member face this error then check your extension your extension are creating problem.

[2022-04-22 18:15] #35108 closed, assigned to dudzio12

[2022-04-22 18:15] #34942 closed, assigned to ihor-sviziev

[2022-04-22 18:15] #32649 closed, assigned to nuzil

[2022-04-22 18:15] #33929 closed, assigned to ihor-sviziev

[2022-04-22 18:15] #30132 closed, assigned to nobody

[2022-04-22 18:20] magefast commented on #28489
Have same JS Error.

Error was called by External Js - added via admin panel in Header Scripts.
In my case - was JS by Cookiebot

[2022-04-22 20:07] kostklip commented on #18763
We have the same issue and using Amasty. Could you please let us know what exact steps you performed to solve the issue?

Thanks.

[2022-04-22 20:07] lollar opened #35357 "Documentation and code are conflicting"
### Summary (*)
The documentation and code implementation do not match and make for an extremely frustrating and difficult debugging experience. In the getting started [documentation](https://devdocs.magento.com/guides/v2.4/get-started/authentication/gs-authentication-oauth.html), it states that the OAuth Signature method _must be_ `HMAC-SHA1` yet, in the code, only `HMAC-SHA256` is supported. Fur

[2022-04-22 21:03] fredden opened #35358 "Hover colour not applied on static grids in admin"
### Preconditions
1. Have more than one admin user
1. Tested on 2.4.3-p2 and ef0ffcd37470e83337133a167dc4504f86037f28 (ie, current HEAD of `2.4-develop` branch)

### Steps to reproduce
1. Navigate to a static grid - for example the admin user grid (System -> Permissions -> All Users)
1. Notice background colours shown on each row.
1. Hover over the first row.
1. Notice background colour of hovered

[2022-04-23 05:35] achatpc commented on #35308
same issue on my side

[2022-04-23 08:30] achatpc commented on #35308
hi,

I have to delete file: /vendor/magento/module-indexer/Model/IndexMutex.php
After, working...

[2022-04-23 08:34] JelleGe commented on #35308
@achatpc Hmm, after that everything works well?

[2022-04-23 08:44] achatpc commented on #35308
Yes, i you compare with magento source code 2.4.4 or 2.4.3-p2, this file dont exist.

[2022-04-23 11:39] jorgb90 commented on #35357
I completely agree! There is no mentioning in the release notes of dropping SHA1.. There are a lot of integrations shops rely on which may break with these kind of changes.

[2022-04-23 16:54] mgwalk commented on #35312
I was able to fix by updating frontend and admin before upgrading to 2.4.4.
I also had magefan blog which needed updated.

[2022-04-23 16:55] mgwalk commented on #35297
I was able to fix by updating frontend and admin before upgrading to 2.4.4.
I also had magefan blog which needed updated.

[2022-04-23 16:58] lagunacellar commented on #35325
Yes, this solution works! Thanks!

[2022-04-24 11:44] kiakahaDZ opened #35360 "Unable to apply data patch Magento\BundleSampleData"
### Preconditions (*)
1. Magento 2.4.3-p1
2. windows 10
3. xampp
4. PHP 7.4.9

### Steps to reproduce (*)
the steps is like Magento docs for installing sample data
1. php bin/magento sampledata:deploy
2. php bin/magento setup:upgrade

### Expected result (*)
we Expect that after executing the first command successfully and start executing the second don't work normally and get the error at the mag

[2022-04-24 14:28] ricoliv opened #35361 "Backend: product content description - store view specific - not stored: Type Error"
### Preconditions (*)

1. Magento Version 2.2.9
2. Multiple Store views are enanbled (same product catalog, store views = different languages in this case)
3. Products from Magento 1.x have been ported some time ago, works fine in Version 2.2.9 with different languages

### Steps to reproduce (*)

1. Utilize Magento 2.2.9 with multiple store views.
2. Go to Backend Admin
3. Generate and save new p

[2022-04-24 17:13] bka commented on #34289
@magento I am working on this

[2022-04-24 17:13] bka commented on #34289
@magento add to contributors team

[2022-04-24 17:14] bka commented on #34289
@magento I am working on this

[2022-04-24 22:59] salvadorcanillas commented on #35351
@magento give me 2.4-develop instance

[2022-04-25 07:13] engcom-Hotel commented on #34974
Hello @support-smartebusiness,

We have rechecked this and found that the issue is happening `after plugin` is added in the wrong place.

Before reaching prepareProductCollection() method, pagination is already set in the setCollection() method of \Magento\Catalog\Block\Product\ProductList\Toolbar . So this is why any changes in the pagination can’t work on the after plugin for prepareProductColle

[2022-04-25 07:49] engcom-November commented on #35358
@magento give me 2.4-develop instance

[2022-04-25 08:37] engcom-November commented on #35358
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Hovering on odd numbered rows - background color is changing as expected.
Hovering on even numbered rows - Background color is not changed.
Expected behavior: Behavior should be consistent across all pages (Ex: Content - Design - Configuration) - Hovering all rows - Background color is changing as expected.
![image](ht

[2022-04-25 08:52] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-25 09:05] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-25 09:17] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-25 09:20] rickcj commented on #12856
I have upgraded from 2.3.4 to 2.3.5, 2.3.5-p1, -p2, 2.3.7 and every time I have to redo this fix as it hasn't been back ported.

[2022-04-25 09:31] Eddcapone opened #35363 "You can change the e-mail address to current e-mail address"
Our marketing criticised that you can use the current e-mail

### Preconditions (*)

1. Fresh Magento 2.4.4

### Steps to reproduce (*)

1. Login to your account.
2. Go to "My Account"
3. Click on **Edit** under Account Information -> Contact Information.
4. Click on the Checkbox "Change Email"
5. Enter your current E-Mail address.
6. Enter your current Password.
7. Click on "Save".

![demo](https

[2022-04-25 09:37] Eddcapone opened #35364 "You can change the password to the current password"
Our marketing criticised that you can use the current e-mail

### Preconditions (*)

1. Fresh Magento 2.4.4

### Steps to reproduce (*)

1. Login to your account.
2. Go to "My Account"
3. Click on **Edit** under Account Information -> Contact Information.
4. Click on the Checkbox "Change Password"
5. Enter your current Password in each field.
6. Click on "Save".

### Expected result (*)

1. There

[2022-04-25 10:11] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-25 10:35] baatractive opened #35365 "Newly created ACL issues with existing roles"
### Summary (*)
The newly created ACL does not have an entry in the `authorization_rule` table after running `setup:upgrade` so every user who have  permissions to **Backend_Admin** are able to see because the permissions are resolved to true as the parent ACL permission matches.

Should we need to save all existing roles so that newly created ACL permission applies? If yes, why it is not document

[2022-04-25 11:03] engcom-Hotel commented on #35339
Hello @BorisovskiP,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue with the mentioned steps in both Magento 2.4-develop and 2.4.4 but for us we are getting the below errors, after running `setup:upgrade`:

### For 2.4-develop
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/51681618/165076260-b845ccdb-ae68-458c-9203-b9226042fcb0.png">

[2022-04-25 11:36] leonhelmus commented on #35341
@nathanjosiah It seems for cloud projects it still gets applied, see :
https://github.com/leonhelmus/magento-cloud-patches

I will make a PR to resolve it.

[2022-04-25 11:41] antonfries opened #35366 "Magento 2.4.4 JS-minification does not work "unexpected token const""
### Preconditions (*)
1. Magento 2.4.4

### Steps to reproduce (*)
1. Enable js-minification (Path dev/js/minify_files)
2. Enable production mode
3. Login into admin console, review javascript console for js errors

### Expected result (*)
No javascript errors

### Actual result (*)
![2022-04-25_12h34_52](https://user-images.githubusercontent.com/49792220/165072738-7ba27b33-284b-4b47-b684-ecf4dc03

[2022-04-25 11:53] engcom-November commented on #35061
Verified the issue again on Magento 2.4-develop branch as per developer comments.
Please find the observations/findings below:

1. Auto-generate - New Encryption Key - Always getting appended in app/etc/env.php file:
![image](https://user-images.githubusercontent.com/60198231/165083065-513aea84-6d63-487f-a946-1a214cb30670.png)
As per [dev docs,](https://docs.magento.com/user-guide/system/encryptio

[2022-04-25 12:35] engcom-Delta commented on #35282
Hi @MrJoshFisher ,
Kindly let us know your settings for Base currency , Default display currency  and allowed currencies (Stores--> Configuration--> General--> Currency Setup)  in Admin portal page(backend) .
<img width="1440" alt="Screenshot 2022-04-25 at 6 01 57 PM" src="https://user-images.githubusercontent.com/51681379/165089989-7469f9e9-e91c-425d-85a9-49b358af02e0.png">

Thanks

[2022-04-25 12:53] leonhelmus opened #35367 "Email templates 2.4.3-p2 wrong var"
### Preconditions (*)

1. Magento 2.4.3-p2 open source / enterprise.
2. Php 7.4

### Steps to reproduce (*)

1. Load a creditmemo_new email from the backend.
2. See for example: https://github.com/magento/magento2/blob/610f7f51faa94639da29f8001aded7559f114c54/app/code/Magento/Sales/view/frontend/email/creditmemo_new.html#L12
3. Check the vars:
1. layout handle is correct. like: `layout handle="sal

[2022-04-25 13:30] engcom-November commented on #35366
Hi @antonfries ,
Thank you for reporting and collaboration. However this issue is a duplicate of https://github.com/magento/magento2/issues/35325. We are closing this issue. Please move on to this ticket for latest updates/solutions.
Thank you.

[2022-04-25 13:30] #35366 closed, assigned to engcom-November

[2022-04-25 13:45] engcom-Delta commented on #35351
@magento give me 2.4-develop instance

[2022-04-25 14:02] leonhelmus commented on #35341
@hostep What do you think?

[2022-04-25 14:04] hostep commented on #35341
No idea, I don't work with Magento Cloud, but if the patch still applies on 2.4.3-p2 for Magento Cloud, then there is probably something wrong on their end. So wait a bit until somebody reviews your PR and gives some feedback there 😉

[2022-04-25 14:16] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-04-25 14:21] leonhelmus commented on #35274
@engcom-November  working on magento 2.4.3-p2 releases will check after.

[2022-04-25 15:09] engcom-Delta commented on #35351
Hi @salvadorcanillas ,
Thank you for logging an issue. We tried to reproduce the issue on magento 2.4 develop , unfortunately issue is not reproducible.

Followed below steps:
1. Create new website, store and store view
<img width="1430" alt="Screenshot 2022-04-25 at 8 28 30 PM" src="https://user-images.githubusercontent.com/51681379/165116196-812345ea-95b2-4307-a8e0-b2adb35f4cac.png">
2.Create ne

[2022-04-25 15:36] engcom-Delta commented on #35364
Hi @Eddcapone ,
Thank you for raising an issue .We tried to reproduce it on Magento 2.4.4 .Issue is reproducible.
Steps followed:
1. Login to your account.
2. Go to "My Account"
3. Click on Edit under Account Information -> Contact Information.
<img width="1440" alt="Screenshot 2022-04-25 at 8 58 36 PM" src="https://user-images.githubusercontent.com/51681379/165122550-078b7339-d657-4b44-b622-13eed

[2022-04-25 16:18] leonhelmus commented on #34937
@engcom-Alfa thanks for solving it!

[2022-04-25 16:20] engcom-Delta commented on #35363
Hi @Eddcapone ,
Thanks you for raising an issue . We tried to reproduce the issue on Magento 2.4.4 ,issue is reproducible . Hence issue is confirming.
**Steps followed:**

1. Login to your account From Frontend
2. Go to "My Account"
3. Click on Edit under Account Information -> Contact Information.
4. Click on the Checkbox "Change Email"
<img width="1440" alt="Screenshot 2022-04-25 at 9 48 43 PM"

[2022-04-25 20:58] sibelius commented on #28489
any workaround for this?

[2022-04-25 20:59] sibelius commented on #17008
any workaround for this?

[2022-04-25 22:56] stevekem opened #35368 "Ajax Add to Cart not working (product page reloads) with Date / Date & Time / Time options"
### Preconditions (*)
2.4.3p1
2.4.4
2.4-develop

### Steps to reproduce (*)
- Add any option of Date/Date & Time/Time type to product
- Add product to cart from product page

### Expected result (*)
Product is added to cart using Ajax and page does not reload

### Actual result (*)
Product added to cart NOT using Ajax and page reloads

---
Please provide [Severity](https://devdocs.magento.com/guid

[2022-04-25 22:56] stevekem commented on #35368
@magento give me 2.4-develop instance

[2022-04-26 00:33] archerv-windcave commented on #22773
Same issue when installing Magento 2.4.4. Please advice as to how to fix the issue.
![mage244_upgrade_error](https://user-images.githubusercontent.com/84824317/165195938-7d393a8e-9fc7-49d0-8248-3cd259ed5bd8.png)

[2022-04-26 03:39] salvadorcanillas commented on #35351
Updated steps:
2.Create new User Role, set Role Scopes to Custom and check new website. - Make sure that the role has limited scope to the newwebsite.
![roles](https://user-images.githubusercontent.com/40746365/165215368-be312278-70cc-4640-990b-57ce4e386fa6.PNG)

4. Login as new user, edit any product. Add a related product - User should have limited access and can only edit products on the newweb

[2022-04-26 03:40] stevekem commented on #35368
@magento give me 2.4-develop instance

[2022-04-26 04:52] nathanjosiah commented on #35341
@BaDos can you take a look?

[2022-04-26 05:44] engcom-Hotel commented on #35205
Dear @williambize,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-26 05:44] #35205 closed, assigned to engcom-Hotel

[2022-04-26 05:51] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-26 05:56] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-26 06:00] engcom-November commented on #35213
Hi @ailovan ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-26 06:00] #35213 closed, assigned to engcom-November

[2022-04-26 06:01] engcom-November commented on #35270
Hi @yuriichayka ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-26 06:01] #35270 closed, assigned to engcom-November

[2022-04-26 06:59] convenient commented on #34108
@engcom-Hotel can you please respond on the above?

[2022-04-26 08:22] engcom-Delta commented on #35271
As per @serhii-balko  issue has been re-opened and trying to reproduce it

[2022-04-26 08:35] engcom-November commented on #35304
Hi @akovtun , Thank you for reporting and collaboration. However this issue is a duplicate of https://github.com/magento/magento2/issues/35348. We are closing this issue. Please move on to this issue for latest updates / solutions.
Thank you.

[2022-04-26 08:35] #35304 closed, assigned to engcom-November

[2022-04-26 08:49] engcom-Hotel commented on #35368
Hello @stevekem,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue in the Magento 2.4-develop branch and it seems that the behavior is expected. Please let us know if any use case in which this functionality is not working for you.

Thanks

[2022-04-26 09:44] wanghsingchuan commented on #35193
Same issue here!
Any solution?

But My operate was exactly opposite, here's my step:
First, I created offline refund.
Sec, Paypal admin panel refund.
Third, Magento duplicate a credit memo like First step.

[2022-04-26 10:09] stalinraj-indian commented on #35297
Edit this file: vendor/magento/framework/Reflection/TypeProcessor.php  on line 550

 #return $this->resolveFullyQualifiedClassName($param->getDeclaringClass(), $type);
 return $type;

[2022-04-26 10:45] engcom-November commented on #35360
Verified the issue on both Magento 2.4-develop and 2.4.3-p1 instances but cannot able to reproduce the issue.
Magento 2.4.3-p1 - Sample data installed successfully using mentioned steps in description
[Reference doc](https://devdocs.magento.com/guides/v2.4/install-gde/install/sample-data-after-composer.html)
![image](https://user-images.githubusercontent.com/60198231/165282843-62467fd6-f003-4008-b

[2022-04-26 11:39] m2-assistant[bot] opened #35370 "[Issue] Fix Magento Bulk API fpr PUT / DELETE requests"
This issue is automatically created based on existing pull request: magento/magento2#35347: Fix Magento Bulk API fpr PUT / DELETE requests

---------
### Description (*)
Since Magento 2.4.4 and 2.4.3-p2 releases, whole processing of BULK API requests for PUT and DETELE is not possible anymore.

This Pull requests fixes this issue.

### Fixed Issues (if relevant)
Issue is the following:
If you will

[2022-04-26 11:46] edas11 opened #35371 "Product page gives error because of url rewrites"
### Preconditions (*)

1. Magento 2.4.1, 2.4.3 (this problem may exist from 2.3.3).
2. `Stores -> Configuration -> Catalog -> Catalog -> Search Engine Optimization -> Product URL Suffix` is empty.
3. `Stores -> Configuration -> Catalog -> Catalog -> Search Engine Optimization -> Category URL Suffix` is empty.
4. `Stores -> Configuration -> Catalog -> Catalog -> Search Engine Optimization -> Use Ca

[2022-04-26 12:48] engcom-Delta commented on #35350
Hi @jgutierrezs ,
Thank you for confirming on user . Could you please provide more details on custom user? What does mean customer user ? his role when compared to Admin?

[2022-04-26 13:01] m2-assistant[bot] opened #35372 "[Issue] Fixed conflicting styles for product image container in different listings at the same page"
This issue is automatically created based on existing pull request: magento/magento2#31473: Fixed conflicting styles for product image container in different listings at the same page

---------

### Description (*)

This pull requests solves problem when there are two product listing blocks on the same page. Both blocks have at list one common product. And listings have different image sizes for

[2022-04-26 13:05] ludo-mon-key commented on #35279
Hi @engcom-Delta ,
Thanks for the reply.
VAT ID validations is specific for EU countries, the Magento guide https://docs.magento.com/user-guide/tax/vat-validation.html says:
“VAT ID Validation automatically calculates the required tax for B2B transactions that take place within the European Union (EU), based on the merchant and customer locale. Commerce performs VAT ID validation using the web ser

[2022-04-26 13:20] engcom-Hotel commented on #35140
Hello @ByJacob,

We have further investigated this issue and we have integrated the Redis cluster in `app/etc/env.php`. (Attached is the screenshot for the same):

<img width="672" alt="image" src="https://user-images.githubusercontent.com/51681618/165308014-435a521f-6bee-4e0d-b601-b9ece724684d.png">

Below are the points that come up in the investigation:

- The function which is used for redis c

[2022-04-26 13:28] webgility-amazonapi commented on #35324
Hi There,
Any update for us. our mutual customer is affecting by this **BUG**

[2022-04-26 13:35] ByJacob commented on #35140
hello,
So one question, why is `colinmollenhour/Cm_Cache_Backend_Redis` used instead of the more elaborate`predis/predis`, since predis supports almost all redis functionality?
And another question, what does `Component: Bundled Extension` mean then, waiting for the library to have this functionality? If so, why not use `predis` which has php 8.1 support already (https://github.com/predis/predis/c

[2022-04-26 15:01] nbennett25 opened #35375 "Magento 2.3.5-p2 Deleted ElasticSearch index breaks Category landing page grid"
### Summary
We are using ElasticCloud as our Search Provider, but from other issues (https://github.com/magento/magento2/issues/35248) it seems like a Magento issue an not specific to having ElasticSearch on the same server or 3rd party.

A single missing ElasticSearch index should not break the product display on every Category landing page - this seems like poor handling of exceptions by Magento

[2022-04-26 15:51] reinier-tula commented on #26854
Hi everyone,
Hope the below can help you all (login first):

-Go to vendor/magento/module-catalog/Model/ResourceModel/Product/Website/SelectProcessor.php
Note that function is adding a join to include only products linked to an specific website.
-Add "echo $select->__toString();" just before the return line in that function.
-Open the product page of any of the products showing $0. You will see th

[2022-04-26 15:57] stevekem commented on #35368
@engcom-Hotel I verified the issue is present and reproducible on both 2.4.4 and 2.4-develop versions.

[2022-04-26 16:02] stevekem commented on #35368
@engcom-Hotel If a product has a Date, Date & Time or Time option type assigned to it, when you add product to cart (with one of those options), Ajax does not work (button does not update "Adding....") but rather the product adds to cart I am assuming via POST Method??

[2022-04-26 16:18] slavvka commented on #35353
@magento give me 2.4-develop instance

[2022-04-26 16:28] Karol-Aniszewski opened #35377 "Uncaught Error: Script error for: [...] http://requirejs.org/docs/errors.html#scripterror [Firefox]"
### Preconditions (*)

The issue can be reproduced on
1. Firefox (99.0.1 (64-bit))
2. Magento ver. 2.4.3 .
3. https://demo-magento-2.auroracreation.com/pl/women.html

### Steps to reproduce (*)

1. Go to Magento Home Page using Firefox
3. Go to one of the main categories
4. Before a page stops loading go to another of the main categories

- it should work even without login to any customer account

[2022-04-26 16:40] slavvka commented on #35353
@magento give me 2.4-develop instance
without magento-commerce/magento2-sample-data, magento-commerce/magento2-sample-data-ee

[2022-04-26 17:52] slavvka commented on #35353
@magento give me 2.4-develop instance

[2022-04-26 21:12] FadedOut commented on #10534
Hello,

I realize this is a SUPER old git report but I just wish to help anyone coming across this on any Magento version even from years ago (because it's still relevant).

I believe it actually has to do with ModSecurity. If you look into the logs for ModSec, you'll most likely see something like the following:
[code]
I wouldn't recommend altering the ModSec rules to accomodate for this, what I'

[2022-04-27 02:21] engcom-Charlie commented on #35372
Closing this issue as it is duplicate of #[31526](https://github.com/magento/magento2/issues/31526)

[2022-04-27 02:21] #35372 closed, assigned to nobody

[2022-04-27 06:11] engcom-November commented on #35294
Hi @webgility-amazonapi ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-27 06:11] #35294 closed, assigned to engcom-November

[2022-04-27 06:31] webgility-amazonapi commented on #35294
We haven't find any satisfactory answer. You have close. the issue without providing the solution.
please reopen it.

[2022-04-27 06:44] MartinKuhl commented on #35306
the following both require-dev dependencies are necessary: magento/composer-root-update-plugin ~2.0 & pdepend/pdepend ~2.10.0

[2022-04-27 08:19] engcom-Hotel commented on #35290
Dear @hemendraajmera,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-27 08:19] #35290 closed, assigned to engcom-Hotel

[2022-04-27 08:21] engcom-Hotel commented on #35229
Dear @Sanjay-100,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-27 08:21] #35229 closed, assigned to engcom-Hotel

[2022-04-27 09:07] SamJUK commented on #34634
Is there any updates on a release for this, or atleast a patch file? We got a few production sites this is affecting.

[2022-04-27 09:08] MrJoshFisher commented on #35282
Hi @engcom-Delta,

Apologies for the delay

Please see a list of modules below:

List of enabled modules:
Magento_AdminAnalytics
Magento_Store
Magento_AdobeIms
Magento_AdobeImsApi
Magento_AdobeStockAdminUi
Magento_MediaGallery
Magento_AdobeStockAssetApi
Magento_AdobeStockClient
Magento_AdobeStockClientApi
Magento_AdobeStockImage
Magento_Directory
Magento_AdobeStockImageApi
Magento_AdvancedPricingI

[2022-04-27 09:27] engcom-Hotel commented on #35368
Hello @stevekem,

We have rechecked the issue for both the Simple product and the Virtual product with the date/time option. And inspect the request. We found that for both Ajax calls are firing. You can have a look at the below screenshots for reference:

### For Simple Product
![SimpleProduct](https://user-images.githubusercontent.com/51681618/165487103-56439716-e51f-4047-8bf7-1079d6a23d21.jpg)

[2022-04-27 09:59] engcom-Hotel commented on #35370
@magento give me 2.4-develop instance

[2022-04-27 10:23] Sanjay-100 commented on #35229
@engcom-Hotel  Hi sorry for the dealy

@engcom-Hotel Yes I already build the modules but still, I am not able to perform the search into a plugin can you please see this code or provide me an article there has working search operation

https://github.com/Sanjay-100/magento2_search/blob/main/Observer/Searchdispatch.php

here demo modules code I build you can test this one https://github.com/Sanjay-

[2022-04-27 10:27] Sanjay-100 opened #35379 "magento 2 plus search event observer not getting the same data as store front end."
### Summary (*)
I want to use the magneto search event in the magneto modules development

### Examples (*)
 Yes I already build the modules but still, I am not able to perform the search into a plugin can you please see this code or provide me an article there has a working search operation

https://github.com/Sanjay-100/magento2_search/blob/main/Observer/Searchdispatch.php

here demo modules cod

[2022-04-27 10:43] engcom-November commented on #35371
Hi @edas11 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
**Note**: **FYI**.. The products in the main menu are determined by the root category that is assigned to the store. (Created new root category should be assigned to the store 1st (Stores - All Stores - Edit Store - Change root category - select new categ

[2022-04-27 11:25] engcom-November commented on #35377
Verified the issue on both Firefox and Chrome Browsers using Magento 2.4-develop and the issue is reproducible on Firefox browser. Hence confirming the issue.

![image](https://user-images.githubusercontent.com/60198231/165507967-2db90c7f-cf39-4fed-adcd-7d377f44b0f9.png)
![image](https://user-images.githubusercontent.com/60198231/165508007-d468dfdd-ecef-4958-a5a8-e5ddda0e332a.png)
![image](https:/

[2022-04-27 11:29] webgility-amazonapi commented on #35324
![image](https://user-images.githubusercontent.com/54638813/165508474-7b00bb15-c75a-4d68-99e8-cddacbc4e28d.png)
I think its the enterprise version. because of this store credit is applied on order please refer the screen shot.
its about the api response where we are not getting the store credit details with order api response.

[2022-04-27 11:36] edas11 commented on #35371
Hi,

Thanks for looking into this. The categories and product in your test are not correct. First of all, nesting level is wrong. It should be at least 3: Root Category -> Category -> Sub Category.  Also, category and product names are wrong. Error only happens if url path of category has product url path in it preceded by a forward slash. This basically means that category name has to have produc

[2022-04-27 12:24] vadimjustus opened #35380 "[Magento 2.4.4] MQ consumers run into issue "Deprecated Functionality: trim() .. magento/framework-amqp/Config.php on line 143" on PHP 8.1"
### Preconditions (*)

1. Magento 2.4.4
2. PHP 8.1

### Steps to reproduce (*)

1. Install fresh (vanilla) Magento instance
1.1 ` composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition <install-directory-name>`
1.2 run install with AMQP: e.g. `bin/magento setup:install --base-url="http://magento-ce.test/" --base-url-secure="https://magento-ce.test/" --

[2022-04-27 12:45] engcom-November commented on #35286
Hi @gkmbala,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.3.7 to 2.4.3-p1 in Production mode but could not able to reproduce the issue.
Steps performed:
Installed Magento 2.3.7 using composer create project
Changed the mode to production from Cli
Created few products from Admin
Upgraded to Magento 2.4.3-P1
Login to admin - Edit product - Save - No issue/errors

[2022-04-27 12:51] engcom-Hotel commented on #35370
Hello @nuzil,

Thanks for the report and collaboration!

We have verified the issue in Magento 2.4-develop and for us the issue is reproducible. We have followed the below steps to reproduce the issue:

- Generate the Admin token
- Hit `rest/async/bulk/V1/cmsPage/byPageId` API DEL with the below payload:
[code]
getting below error:
<img width="994" alt="image" src="https://user-images.githubuserco

[2022-04-27 13:15] Vestart opened #35381 "We are unable to SAVE any SEO edit for our website! Any advice?"
### Preconditions (*)

1. We are using Magento 2 and we are trying to fix meta tags & descriptions for all of our pages.
2. Our navigation in the platform is: CONTENT -> PAGES -> HOMEPAGE (our starting point) -> SEARCH ENGINE OPTIMIZATION -> ...we make changes -> SAVE
3. When we save, the loading icon never leaves and the changes are never saved.

### Steps to reproduce (*)

1. After following the

[2022-04-27 13:25] hostep commented on #35289
@chequille: setup a vanilla Magento 2.4.4 installation on your local machine or something and take a look at the `composer.json` file that gets created. Here's how it looks on my machine:

[code]

Then compare that file with your own file and try to figure out which changes from your file you need to take over to that other file (or vice-versa) to include all your other dependencies or configurati

[2022-04-27 13:54] burgh8wp commented on #33770
@hostep we are making progress here, but just wanted to clarify if this issue will continue in 2.4.3 or 2.4.4 after we have fixed.

In 2.4.4 will Magento still create duplicate url_rewrite_id in the catalog_url_rewrite_product_category table?

[2022-04-27 13:57] Usik2203 commented on #35358
@magento I am working on this

[2022-04-27 14:04] itmsenior opened #35382 "Order state stuck in 'Payment_review' after IPN update from PayPal"
### Preconditions (*)

1. Magento 2.4.4 / 2.4.3-p2

### Steps to reproduce (*)

1. Place order via PayPal which generates 'Payment Review' state
2. Send IPN completion notification to website via IPN endpoint

### Expected result (*)

1. Order state/status updates to 'Processing'

### Actual result (*)

1. Order state/status remains as 'Payment Review'
2. Site admin has to manually click 'Get Paym

[2022-04-27 14:07] burgh8wp commented on #33770
Appreciate the reply. It is the same issue, but don't see a patch there? Quite a lengthy article though, but can't see the actual solution..... Will just continue to manually fix as best we can until released in 2.4.5 I think

[2022-04-27 14:43] freakpol commented on #35319
This error:

Product EAV index process error during indexation process: Deprecated Functionality: explode(): Passing null to parameter #2 ($string) of type string is deprecated in vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php on line 444

Is also happening for us. There are bunch of entries with null values on the eav tables. And that particular line, under PHP8.

[2022-04-27 14:56] hostep commented on #33770
You can click on the [Files Changed](https://github.com/magento/magento2/pull/34791/files) tab in that Pull Request, to see the code changes 😉

[2022-04-27 15:12] FadedOut commented on #35319
@freakpol

Yeah it's weird, for me, if I run the command: bin/magento indexer:reindex then the error shows in the terminal. And in the Magento Admin [index management] it will say "Reindex Required" for the Product EAV. But the odd part: if I don't run the command and let CRON do it, the "Reindex Required" doesn't appear, it seams to run fine when ran by CRON.

So I'm not sure what is going on the

[2022-04-27 15:42] engcom-Hotel commented on #35380
Hello @vadimjustus,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue in both Magento 2.4.4 and 2.4-develop branches and the issue is reproducible for us. We have followed the below steps in order to reproduce the issue:
1. Install Magento via the below command (configure RabbitMQ while installing Magento, refer [the doc](https://devdocs.magento.com/guides/v2.4/ins

[2022-04-27 16:15] jas8522 commented on #35319
Upgraded 2.4.0-p1 to 2.4.4 and same issue regarding in stock status being wrong.

[2022-04-27 16:49] m2-assistant[bot] opened #35386 "[Issue] Fixed style issue for select in admin grid"
This issue is automatically created based on existing pull request: magento/magento2#35385: Fixed style issue for select in admin grid

---------

### Description (*)

**_Result Before Changes_**

https://user-images.githubusercontent.com/13517181/165555666-3f09aaf4-05bf-4617-9edb-6f151fca657e.mov

**_Result After Changes_**

https://user-images.githubusercontent.com/13517181/165555864-738818c7-a6

[2022-04-27 16:50] FadedOut commented on #35319
So the error when running reindex by CLI must be related to being on PHP 8.1, seeing how it's not doing it for @jas8522 while on PHP 7.4.x

But that also means, maybe then the Product EAV doesn't have to do with the stock? My table does have the "attribute_id" column in it, so maybe that is a separate issue (having to do with the attributes). Would have been nice to have been related so it could h

[2022-04-27 17:24] kiakahaDZ commented on #35360
@engcom-November Sample data installed successfully using the second option docs description, but when using the first option using composer does not work, I have given all steps to reproduce the issue, such I have respect the [System Requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html), and the project is a fresh one no any third party modules/extensions add

[2022-04-27 17:24] #35360 closed, assigned to engcom-November

[2022-04-27 17:51] jas8522 commented on #35319
@FadedOut Thanks for the tips! I'm still fairly certain the critical error is not connected to this bug, so I'm happy to simply leave it as a footnote here in case a correlation does arise with other users. (Will continue troubleshooting it separately).

I'm most concerned about ensuring stock status display is repaired.

[2022-04-27 18:18] EladHeller opened #35387 "Wrong polyfill for HTMLElement.prototype.remove throw error in edge case."
### Preconditions (*)

Magento/2.4 (Enterprise)

### Steps to reproduce (*)

In javascript code, create an element without parent, then call `remove` function. For example:
`document.createElement('div').remove()`

1. Browse to Magento 2.4 website.
2.  Open console
3. Run document.createElement('div').remove()

### Expected result (*)

Nothing happen.
### Actual result (*)

An exception thrown:
[c

[2022-04-27 18:20] EladHeller commented on #35387
@magento I am working on this

[2022-04-27 19:22] FadedOut commented on #35319
@jas8522 No problem 🙂. Hopefully you can get to the bottom of it

"I'm most concerned about ensuring stock status display is repaired." <- This I agree entirely, hopefully we get an update on this in the near future (though I fear we might be waiting a long time because some bugs - even deemed pretty important - seem to take months to get fixed ☹). Wish I knew how to code, I would help but unfortu

[2022-04-27 19:37] jas8522 commented on #35319
Don't I know it :(

I sure hope there will be some priority on 2.4.4 regressions because they just forced everyone to upgrade to this version to patch their latest high severity security flaw... There was no patch for 2.4.0 for this, so we had no choice, otherwise I would have simply patched and not had to deal with this headache.

[2022-04-27 20:06] FadedOut commented on #35319
Yikes, yeah that's not fair to store owners, they definitely should have provided a patch. Not everyone likes to do major changes/upgrades like that. Esp if you got a busy business running and problems like this (or others, which 2.4.4 seems to have quite a few of) happen. Downtime is the super no-no for businesses (or a new barrage of support emails/frustrated customers).

[2022-04-27 20:43] hostep commented on #35319
@jas8522: the [latest security patch](https://helpx.adobe.com/security/products/magento/apsb22-13.html) you mention requires admin privileges, so it's not as bad as you might think it is. Also, if 2.4.4 gives you many issues (and a lot are being reported here on github, but that was expected for such a big release) it would probably be better to move to 2.4.3-p2 and wait on 2.4.5, than you'll also

[2022-04-27 22:56] theiconnz commented on #34531
Clear the cookies, and try again. It worked

[2022-04-28 05:18] #35315 closed, assigned to shochdoerfer

[2022-04-28 06:12] ricoliv commented on #35361
I have gone the workaround path now: when INSERTING a new line into SQL for Shop ID together with Description and Short Description  (75, 76), the text can be edited and stored via the admin backend again.

So to me it looks like the Uncought Type Error described above is in relation to the problem.

[2022-04-28 06:17] rawsj24 commented on #22773
I had a similar issue after upgrading to 2.4.4, I just checked that it causing because by a third-party module.

file : vendor\magento\framework\Reflection\TypeProcessor.php

Add this line of code before line 550, and check which class is causing the issue:
if($type==null || empty($type)){
            echo "<pre>";
            print_r($type);
            echo "<pre>";
            print_r($param->g

[2022-04-28 06:22] engcom-Delta commented on #35364
Hi @Eddcapone ,
We have moved this issue to On Hold status due to retesting is in progress . We will revert back as soon as we get our findings.
Thanks

[2022-04-28 06:25] engcom-Delta commented on #35363
Hi @Eddcapone ,
We have moved this issue to On Hold status due to retesting is in progress . We will revert back as soon as we get our findings.
Thanks

[2022-04-28 06:55] Manjula-kalyan opened #35390 "Bundle Product From Upsell/Crossell section redirect to 404 Page"
### Preconditions (*)

1.Add bundle product to simple products' UPSELL/CROSSELL section

### Steps to reproduce (*)

1. Go to simple products' PDP page
2.Add bundle product to cart from the Upsell section, It will redirect to cart page

### Expected result (*)

1. [Screenshots, logs or description]
2.It should redirect to bundle products PDP page

### Actual result (*)

1. [Screenshots, logs or de

[2022-04-28 07:26] loic-paquin commented on #35319
Hello @FadedOut

I had the same problem on my websites, it seems the problem is  related to this commit https://github.com/magento/magento2/commit/332038ecfeed9161360780a927a54865afd09d87

As a quick and dirty fix you change the fonction `getOptions ` from `Magento/ConfigurableProduct/Helper/Data.php` to the code used in 2.4.3 :

`    public function getOptions($currentProduct, $allowedProducts)

[2022-04-28 07:41] Themageguru commented on #34975
Hello, We got the same issue. Any update on this issue.

[2022-04-28 07:44] FadedOut commented on #35382
Which PayPal type are you using? There are a few (express, payments advanced, payments pro, payments standard, payflow pro, payflow link).

I'm using PayPal Express Checkout with the "Payment Action" set to "Authorization". I recently had an order go through and it went right to processing no problem. I received the funds once I invoiced (capture online), no problem.

I think you also need to set

[2022-04-28 07:48] engcom-November commented on #35137
Hi @DipaliMarade ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.
Thank you.

[2022-04-28 07:48] #35137 closed, assigned to nobody

[2022-04-28 08:00] FadedOut commented on #35381
I just tested on my live 2.4.4. and it worked as intended.

1) What version of Magento are you on? That makes all the difference because from version-to-version things change/break.
2) You will want to check your var > log > system.log or exception.log.

You might get lucky and an error was logged in one of those files at the time of pressing save. That error will most likely point you in the dire

[2022-04-28 08:18] engcom-Hotel commented on #35287
Hello @Vinod-MultiSafepay,

Thank you for reporting and collaboration!

As we can see you are looking for some customization, you can try the below solution.

Create a class extending the original `Curl` class, define your additional functions here and use this class in your code. Please refer to the below screenshot for the reference:
<img width="478" alt="image" src="https://user-images.githubus

[2022-04-28 08:30] engcom-Alfa commented on #35163
@magento give me 2.4-develop instance with edition ee

[2022-04-28 09:25] engcom-November commented on #12899
@magento give me 2.4-develop instance

[2022-04-28 09:25] itmsenior commented on #35382
Hi @FadedOut

Thanks for the reply.

Probably worth clarifying that this is PayPal Express and we use the "Sale" Payment Action. Our IPN is correctly configured and 90% of our orders go to 'Processing' Immediately as expected. It's just orders that PayPal either Hold for further review or when the customer uses an 'eCheck' which take multiple days to clear.

The correct process is the order should

[2022-04-28 09:29] adamlavery opened #35391 "Setup:di:compile verbosity does nothing"
### Summary (*)
setup:di:compile produces no useful output when there is a coding error. Using -v, -vv, -vvv or --verbose does nothing to help. The stack trace doesn't identify the file being processed let alone the source line of the error. If we've uploaded multiple files, none of which show any error in the code editor, we have no indicators where to find the code error.

### Examples (*)
[code

[2022-04-28 09:41] Vestart commented on #35381
Thanks for the help. What we found out is that this issue happens to one and only one specific page. So we are in touch with the theme support.

[2022-04-28 09:48] Usik2203 commented on #33697
@magento I am working on this

[2022-04-28 09:48] engcom-November commented on #12899
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
On searching with any other string - getting invalid error message in the response: "The \"%1\" attribute name is invalid. Reset the name and try again."
![image](https://user-images.githubusercontent.com/60198231/165726025-5a720bb2-9955-42de-a15a-35262ed68387.png)

On searching using field: name - getting 200 status c

[2022-04-28 10:39] engcom-November commented on #35390
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Added bundle product to Simple Product in Up-Sell Products section
Front -end Open Simple Product product details page
Click on Up-sell product - User navigated to bundle PDP page and able to add to cart. - No issue
![image](https://user-images.githubusercontent.com/60198231/165734700-0a34c976-49f1-4c23-b7da-1

[2022-04-28 10:53] chrom opened #35393 "Error when consumers start"
### Preconditions (*)
1. docker container from markshust
2. last version of magento

### Steps to reproduce (*)
1. Install last version m2 2.4.4
2. install sample data
3. run `./bin/magento queue:consumers:start async.operations.all -vvv`

### Expected result (*)
1. running consumers

### Actual result (*)
Error:
`./bin/magento queue:consumers:start async.operations.all -vvv
/bin/sh: /tmp/_MEIH7Ur

[2022-04-28 10:56] chrom commented on #35393
I found this issue here https://github.com/magento/magento2/issues/35380
This is a duplicate, pls close this issue.

[2022-04-28 10:57] engcom-November commented on #35371
Thanks for your inputs @edas11 . Verified the issue again on Magento 2.4-develop branch and the issue is reproducible only if category name having product name at the beginning. (Ex: Product name: `shoe`, category name is `shoes`   or product name is `Test` and category name is `Test sub category`)
Clicking on Product giving 404 error.
![image](https://user-images.githubusercontent.com/60198231/16

[2022-04-28 10:58] bonner-earle opened #35394 "Long foreign key names and db_schema.xml"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Running in docker https://github.com/magento/magento-cloud-docker version 1.2.4

### Steps to reproduce (*)

1. Create a FK in db_schema.xml such that a computed name of `FK_<table>_<column>_<referencedTable>_<referencedColumn>` is longer than 63 characters, set the referenceId to be a string less than 63 characters, and set onDelete="RESTRICT".
2. Dep

[2022-04-28 11:27] Vinod-MultiSafepay commented on #35287
Hi @engcom-Hotel ,

I am aware of this and currently I have extended the class in a similar way as you have shown. This issue was meant more as a small improvement on the framework. Adding only 3 lines of code with relatively small impact makes more sense than everyone encountering this issue having to create a class that extends the original, since HTTP PATCH requests are widely accepted and adop

[2022-04-28 11:30] engcom-Hotel commented on #35368
Hello @stevekem,

Thanks for the reply!

We have again tried to reproduce the issue in Magento 2.4-develop and 2.4.4 but for us, the issue is not reproducible. Please find below the screencast for the reference and let us know if we have missed anything;

https://user-images.githubusercontent.com/51681618/165742769-5d35f2be-326c-4680-ac63-7ed7550da4d8.mov

Thanks

[2022-04-28 11:38] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-04-28 12:00] fmineo opened #35395 "Magento 2.4.4 frontend mobile menu disappears"
### Preconditions (*)

1. PHP 8.1
2. Magento 2.4.4 ( the issue is also reproducible in 2.4.3-p1 )
3. Install sample-data

### Steps to reproduce (*)

1. Go to frontend on mobile device (Vertical mode) or use Chrome device toolbar.
2. Open sidebar menu.
3. Click on another tab at the top of the sidebar (to change currency for example)
4. Close the sidebar menu
5. Rotate the device into horizontal m

[2022-04-28 12:38] engcom-Delta commented on #35271
Hi @schnere ,
Thank you for logging an issue , we tried to reproduce the issue on Magento 2.4 Develop and Magento 2.4.3-p1 instance , we could not reproduce it unfortunately .hence request to review the provided steps.
Followed steps:
1. Create an inventory source  from Admin portal and assign it to a stock with the main website selected

<img width="1440" alt="Screenshot 2022-04-28 at 3 24 05 PM"

[2022-04-28 13:03] engcom-Delta commented on #35282
Hi @MrJoshFisher ,

Thank you so much for sharing the base currency setup screenshot. Unfortunately we need one more help from you that what was your Tax amount and Tax percentage settings please?

Regards,

[2022-04-28 13:49] Usik2203 commented on #35395
@magento I am working on this

[2022-04-28 14:12] engcom-November opened #35396 "Sample Data error: "Tax/VAT Number" is a required value. [] []"
### Preconditions (*)

1. Magento 2.4.4 / Magento 2.4-develop

### Steps to reproduce (*)

1. Create Customer account on front end with default customer configuration
2. Stores - Configuration - Customers - Customer configuration - Name and Address options - Show Date of Birth, Show Tax/VAT Number, Show Telephone, Show Company, Show Fax - Set all to "Required" and save
3. Reindex and clear cache
4

[2022-04-28 14:14] engcom-November commented on #35393
Hi @chrom ,
Thank you for reporting and collaboration.  We are closing this issue as its a duplicate of https://github.com/magento/magento2/issues/35380. Please move on to this ticket for latest updates/ solutions.
Thank you.

[2022-04-28 14:14] #35393 closed, assigned to engcom-November

[2022-04-28 14:32] kanevbg opened #35397 "\Magento\Framework\Lock\Backend\FileLock::isLocked unlocks which is not intended to happen"
![image](https://user-images.githubusercontent.com/11477130/165775111-ad4843af-e2a3-441d-acaa-02509535b893.png)

Trying to unlock something just because someone asked `is it is locked?` have no point at all. Yeah if the call to `isLocked` is from another process it may not cause issue, but what if it is from the same process (which is totally needed to be supported by the Magento framework)? Eg, s

[2022-04-28 14:38] jas8522 commented on #35319
Thank you for this! I replaced just the conditional starting with `if ($this->canDisplayShowOutOfStockStatus()) {` with:

[code]

And now out of stock options do not appear in the dropdown.

[2022-04-28 14:50] engcom-Hotel commented on #35395
Hello @fmineo,

Thanks for reporting and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop and 2.4.4 and the issue is reproducible for us. Please find the below screenshot for reference:

### Initially Menu is visible

![image](https://user-images.githubusercontent.com/51681618/165780058-dbb83557-d87a-4f9f-aff9-eb57da88b734.png)

### If we clicked on the `Account` tab, th

[2022-04-28 15:43] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-04-28 16:52] Axel29 opened #35399 "Magento 2.4.4 x MariaDB 10.4 - Row size too large"
### Preconditions
1. Magento 2.4.4 upgraded from 2.3.x
2. MariaDB 10.4
3. Database with lots of orders

### Steps to reproduce
1. Run the `php bin/magento setup:upgrade` command after upgrading to Magento 2.4.4

### Expected result
1. The command runs properly

### Actual result
1. The upgrade fails with the following error:

[code]

It seems like changing the ROW_FORMAT of the tables to "DYNAMIC"

[2022-04-28 19:07] FadedOut commented on #35319
@loic-paquin Nice! I've only tested for a few minutes as this is a busy day for me but that seems to be the trick fix! I wonder if there are any regression problems that will pop-up... nice work figuring that out though 😀thank you for this!

@jas8522 And thank you for giving more of a pointer of where to find and replace. Both yours and the info from @loic-paquin helped me pinpoint the change nece

[2022-04-28 22:39] convenient commented on #8897
Where is this done 👀 what commit?

[2022-04-28 22:43] CC-RobC commented on #8897
I do not see a commit. How is this done?

[2022-04-29 02:23] winds1983 commented on #28489
Same issue in 2.4.4:
[code]

Any solution for this?

[2022-04-29 06:06] engcom-November commented on #34764
@magento give me 2.4-develop instance

[2022-04-29 06:53] ricoliv commented on #35361
I am not sure, but there might be another prerequisite setting for this error to occur:
Stores-Configuration-General-Content Management-Enable WYSIWYG Editor is "DISABLED COMPLETELY"

[2022-04-29 07:13] engcom-November commented on #35316
Hi @Rebecca-DLV ,
Thank you for reporting and collaboration. Unable to reproduce this issue on Magento 2.4-develop branch. Netsuite Connector (Farapp) is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix

[2022-04-29 07:13] #35316 closed, assigned to engcom-November

[2022-04-29 08:47] leonhelmus commented on #35341
Any updates on this?

[2022-04-29 08:49] sunilit42 commented on #25620
@minhducnho  any solution

[2022-04-29 09:04] Usik2203 commented on #35220
@magento I am working on this

[2022-04-29 09:06] iphigenie commented on #28183
I'll check 2.4.4 and if that's still affected then will create a ticket again

[2022-04-29 09:36] MrJoshFisher commented on #35282
Hi @engcom-Delta

VAT 20%

![image](https://user-images.githubusercontent.com/8970358/165920360-60784cb5-48ac-4660-ab37-d8c472c58c31.png)

[2022-04-29 10:19] engcom-November commented on #35311
Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
Steps performed:
system - User Roles - Created new role with custom resources
System - All users - Add new User and assigned new user role
sign out and sign using new user
Go to Sales - Orders - View Order - No issue/ no error
Create New Order - no issue
@vandijkstef kindly recheck the issue on Magento 2.4-

[2022-04-29 10:32] Usik2203 commented on #35220
Hello @vmishra341
After some time of investigation i see that default Magento GraphQl functionality allow us extract sub category of Parent category just like its showing on website frontend.
**_You should use next GraphQl query_**
<pre>
query {
    products(filter: {
        category_id: {
            eq: "4"
        }
    }) {
        aggregations (filter: {category: {includeDirectChildrenOnly:

[2022-04-29 10:53] vmishra341 commented on #35220
@Usik2203 I am getting attached error when I run the provided query
![image](https://user-images.githubusercontent.com/56992673/165931283-79d030ff-5c0c-4169-afcc-0906421eebfa.png)

[2022-04-29 11:08] Usik2203 commented on #35220
@vmishra341 I was checking this issue for `2.4-develop` branch  https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L323
Seems issue still present for `2.4.3-p1`
Thanks!

[2022-04-29 11:40] vmishra341 commented on #35220
@Usik2203 Yes that issue was already resolved in Magento 2.4.4 version but in 2.4.3-p1 and p2 still that issue exists. I have already integrated the fix in my 2.4.3-p1 version.

[2022-04-29 12:04] engcom-November commented on #34887
*Hi @jordanvector ,
I checked the issue again by deleting 550 Products to cause a gap in entity id's after step 7 but still cannot able to reproduce the issue. Kindly clarify us after which exact step, products needs to be deleted to reproduce the issue.
Thank you.
**Steps performed:**
1. Stores - Configuration - Catalog - Inventory - Stock Options - Display out of stock products - Set to No
2. Ca

[2022-04-29 12:09] hostep commented on #34887
I'm pretty sure that this has been solved in the Magento 2.4.4 release together with MSI version 1.2.4, so not sure if it's worth to keep testing this?

[2022-04-29 12:16] jorgb90 opened #35402 "Error: Call to a member function setScopeFilter()"
### Preconditions (*)
1. Magento 2.4.4 (Upgrade from 2.4.3-p1)
2. Multi-store setup

### Steps to reproduce (*)
1. Have existing orders or customers
3. Create a new order through a customer or reorder an existing order in the backend

### Expected result (*)
1. Can create order for this specific customer

### Actual result (*)
1. main.CRITICAL: Error: Call to a member function setScopeFilter() on

[2022-04-29 13:18] cdbessig commented on #28183
If it is, post a link here.  We might have a pull request for it.  I know someone on our team wrote a module to address.

[2022-04-29 16:35] engcom-Delta commented on #35351
Hi @salvadorcanillas ,
Thank you for confirming the scope and issues . We reverified the issue and found that issue is not reproducible in Magento 2.4 Develop. Kindly correct me if my steps are wrong.

Steps followed:
1. Create new website, store and store view [ From Magento Enterprise Edition ]

<img width="1440" alt="Screenshot 2022-04-29 at 8 35 58 PM" src="https://user-images.githubuserconten

[2022-04-29 16:41] salvadorcanillas commented on #35351
Hi,

For step 2, the scope should only be on the newwebsite, please uncheck Main Website.

[2022-04-29 17:41] ihor-sviziev commented on #8897
@sidolov @sivaschenko any related commits?

[2022-04-29 17:53] engcom-Delta commented on #35184
Hi @simonmaass ,

As per @Serhii Dzhepa instructions , we have verified again in Magento 2.4-develop. it is not reproducible
Firstname and Lastname are not concatenated into firstname column in sales_order table after recorder.

**Steps followed:**

1. Create guest order

<img width="1440" alt="Screenshot 2022-04-29 at 10 51 00 PM" src="https://user-images.githubusercontent.com/51681379/165996059-

[2022-04-29 17:54] lilbumblebear commented on #21997
@magento-engcom-team give me 2.4-develop instance

[2022-04-29 17:58] lilbumblebear commented on #21997
@magento-engcom-team give me 2.4-develop instance

[2022-04-29 18:01] engcom-Delta commented on #35120
As per confirmation from @engcom-Lima , Please refer the [documentation](https://docs.magento.com/user-guide/system/backups.html)
the documentation as of Magento v2.3.0, backup features have been deprecated.

Hence issues has been closed.

[2022-04-29 18:01] #35120 closed, assigned to engcom-Delta

[2022-04-29 18:05] engcom-Delta commented on #35153
Hi @pmonosolo ,
As per confirmation from @engcom-Lima  , The issue is reproducible but not for specific https_user_agent as mentioned by the reporter.
The issue exists when we switch http_user_agent , in that case the http_user_agent in $_SESSION and $_SERVER will be different and hence will throw an error as mentioned in the [documentation](https://docs.magento.com/user-guide/stores/security-sess

[2022-04-29 18:05] #35153 closed, assigned to nobody

[2022-04-29 19:36] nthurston commented on #34887
Confirmed - original issue is resolved in 2.4.4.  I replicated the issue on a fresh 2.4.3-p1, then performed same steps on a fresh 2.4.4 and all appropriate items are indexed.

I'll go ahead and close.

[2022-04-29 19:36] #34887 closed, assigned to engcom-November

[2022-04-29 19:53] nathanjosiah commented on #35343
@magento export issue to Jira project AC as Bug

[2022-04-29 19:57] nathanjosiah commented on #35343
Actually, reading through this again this isn't a bug. This is a static analyzer that doesn't know the data that could be used with the template. Take a look at the usage options in https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/templates/template-email-migration.html#data-objects-and-geturl Specifically that `DataObjects` are still allowed to use the `object.getXYZ()` format for backw

[2022-04-29 21:16] leonhelmus commented on #35343
So your saying it does not know what template vars can be used? We had the same issue with the layout hanle in mails that send a order object instead of an order id. It also gave no issue.

I thought it would show all wrong examples and would tell you what is wrong.

What is the command than used for, because I missed a lot of data. For example with order.getIsNotVirtual versus order_data.is_not_v

[2022-04-29 23:04] slavvka commented on #35329
@magento give me 2.4-develop instance

[2022-04-30 01:45] mikeastral commented on #34975
@engcom-Delta @knoorani-ijona I am having the same problem in Magento 2.4.4.
I'll have to log in 2-3 times before it allows me to log in.  This issue is not occurring on frontend side.

 Minification of the collapse.js and tab.js files in the lib/web/jquery/bootstrap/ path is not fixing the issue.

[2022-04-30 09:24] JelleGe commented on #35308
@achatpc When running a full index, we still get the following error, even after deleting the file: **Class Magento\Catalog\Model\Indexer\Category\Product\Interceptor does not exist**

How did you solve that?

[2022-04-30 10:50] achatpc commented on #35308
Try to setup:upgrade after flush all caches. Remember to flush opcache if you use it.

[2022-04-30 10:56] JelleGe commented on #35308
@achatpc Thanks! That's what we already tried. We flushed all caches, run setup:upgrade (without issues). But sadly we still face the same issue running compile. **Class Magento\Framework\Indexer\IndexMutexInterface does not exist**

[2022-04-30 11:50] JelleGe commented on #35308
Problem seems to be related to patch MDVA-4050_2.4.2-p1.patch all these changes should be revert. But it's sad to see that a upgrade from 2.4.3-p1 to 2.4.3-p2 is causing this issue

[2022-05-01 09:53] johnorourke commented on #19230
@simonmaass @igi8819 on 2.4.3-p1 you might have the same issue I did - trying to cancel an order via the REST API immediately after it's placed caused this error.  I added a short pause (1 second) between the order place event and the API call to cancel it, and the problem went away.  I think it's because the call to place an order is done from javascript, so perhaps the call to cancel the order c

[2022-05-02 04:59] shaileshbhagaliya commented on #7554
this issue also came on magento ver 4.2.3 too

[2022-05-02 06:26] engcom-November commented on #35291
Hi @Manjula-kalyan ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-05-02 06:26] #35291 closed, assigned to engcom-November

[2022-05-02 06:29] engcom-November commented on #35318
Hi @keetontucker ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-05-02 06:29] #35318 closed, assigned to engcom-November

[2022-05-02 06:36] engcom-November commented on #35402
Hi @jorgb90 ,
Thank you for reporting and collaboration. Verified the issue on both Magento 2.4.4 and 2.4-develop versions but cannot able to reproduce the issue. Can you please provide more details and exact Preconditions and steps? From which version it is upgraded from? [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html)
Thank you.

[2022-05-02 06:42] engcom-November commented on #35354
@magento give me 2.4-develop instance

[2022-05-02 07:39] jorgb90 commented on #35402
Hi @engcom-November We have updated the platform from 2.4.3-p1 to 2.4.4, but the platform itself is already older then that. We are running into this issue when opening a customer account in the admin and create an order from there. The customer needs to have a default address saved.

[2022-05-02 07:54] hostep commented on #35402
Is probably caused by this change: [MC-42623:Countries list is incorrect when using different countries per website and Global Customer Account settings](https://github.com/magento/magento2/commit/3420116963ff10bd45d2c9b7e75fb2e5c1e31996).
However, it's probably not a core bug in Magento, but some bug caused by a modification.

Somehow that `$block->getData('customerAddressCollectionAttributeFilte

[2022-05-02 08:16] engcom-Hotel commented on #35382
@magento give me 2.4.4 instance

[2022-05-02 08:24] engcom-Hotel commented on #35382
@magento give me 2.4.4 instance

[2022-05-02 08:34] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-02 08:38] engcom-Hotel commented on #35287
Hello @Vinod-MultiSafepay,

Thanks for the reply!

We will take this ticket as a feature request and moved the issue for further process.

Thanks

[2022-05-02 09:20] BorisovskiP commented on #32177
This issue is still reproducible on Magento 2.4.4.

[2022-05-02 09:57] nazarklovanych commented on #34709
@magento I am working on this

[2022-05-02 09:57] nazarklovanych commented on #34709
@magento add to contributors team

[2022-05-02 09:57] nazarklovanych commented on #34709
https://github.com/magento add to contributors team

[2022-05-02 09:58] nazarklovanych commented on #34709
@magento add to contributors team

[2022-05-02 09:59] nazarklovanych commented on #34709
@magento I am working on this

[2022-05-02 10:01] engcom-November commented on #35354
@magento give me 2.4-develop instance

[2022-05-02 10:19] engcom-Hotel commented on #35368
Hello @stevekem,

Thanks for your reply!

We have further investigated the flow for both types of products with or without dates. Please find the below findings at our end:

### For without date

- Below request has been fired to add the product into the cart:
`<domain.com>checkout/cart/add/uenc/aHR0cDovL2xvY2FsLm1hZ2VudG8yY2U4LmNvbS90ZXN0cHJvZHVjdC5odG1s/product/2/`
- This request is returning `2

[2022-05-02 10:23] Goeny commented on #31063
We also experienced this issue on 2.4.3

[2022-05-02 10:34] engcom-Hotel commented on #35397
Hello @kanevbg,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-05-02 11:02] engcom-November commented on #34764
Hi @MartinAarts We re-verified the issue again on Magento 2.4-develop branch and setting up multiple stores requires below mandatory configuration as well as per [dev docs](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_over.html) . On doing so this issue is not reproducible anymore.

MAGE_RUN_TYPE can be either store or website
Use website to load a website in your storefront.

[2022-05-02 11:15] jorgb90 commented on #35402
@hostep Thanks! Will look into this. Only thing is that creating a new order from the order overview and selecting a customer there doesn't trigger this problem. It only occurs when trying to create an order from the customer profile.

[2022-05-02 12:58] engcom-November commented on #35354
Hi @philippeaellig ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.
Steps performed:
Magento multi store setup
Created Configurable product with child variations and description set to "All store views description"
Edit product -  change scope to other store view (germany) and edit description set to "German site descr

[2022-05-02 13:13] mcapronextzodiofr opened #35405 "delete"
XXX

[2022-05-02 13:13] #35405 closed, assigned to nobody

[2022-05-02 13:14] MeCapron opened #35406 "Magento 2 back-office cart is not recollected properly if previously collected with no shipping address"
### Summary (*)

Collecting totals before original collectTotals when creating an order in Magento backend will result to a total of zero if there is no shipping address defined and "Same as billing" is checked

### Examples (*)

- Create a preference on the loadHandler after load :
[code]

[code]

- Add a product in the back-office
- Create an order
- Add the product to the order
- Refresh the pr

[2022-05-02 13:15] MeCapron commented on #34903
Hello,

can someone help me out with this issue?

[2022-05-02 13:22] MeCapron commented on #34904
Hello, can someone provide me an update on this?

Thanks you

[2022-05-02 13:37] ghost opened #35407 "Problem changing language"
Hello, I just installed magento, I am logged in to the admin panel, and when I changed the language to Spanish, magento turned like this. Thank you very much.
![Captura](https://user-images.githubusercontent.com/70748354/166242934-89e74c78-bb0f-43ff-a8e7-3d1d6b5b0b6f.PNG)

[2022-05-02 13:44] iba-1 commented on #34770
FYI We're experiencing the same issue but we're unable to reproduce it too as it seems to happen randomly

[2022-05-02 13:55] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-02 13:56] stevekem commented on #35368
Hello @engcom-Hotel,
Thanks for your reply! Yes that is correct, in both cases the products are adding to cart BUT in case "Product w/date" page is reloading and NOT using Ajax, **this is the problem**.

Page should NOT reload at all in any case when adding product to cart, Ajax should always work.

[2022-05-02 14:02] philippeaellig commented on #35354
Hi @engcom-November ,
yes, the steps you described is not the problem. this will work as expected.
steps to reproduce:
1 in admin, create a new configurable product. add german description in store view. save it.
2. genereate child products. save.
result: the generated child product have all attributes of his parent from "all store view" scope. but the files (in admin, not in frontend) of the germ

[2022-05-02 15:30] lilbumblebear commented on #21997
@magento-engcom-team give me 2.4-develop instance

[2022-05-02 16:10] hostep commented on #35407
Yes, that's expected to happen when you run your shop in `production` mode.
A way to fix this, is by generating your static assets for the Spanish locale: (`es_ES` probably?):

[code]

That should fix it.

If you are only testing Magento on a local machine or dev server, you can also choose to run in `developer` mode, and in that case the missing static assets should be generated on the fly (which

[2022-05-02 16:15] Axel29 opened #35409 "Imposible to reorder configurable products with optional custom options"
### Preconditions
1. Magento >= 2.4.2 (not tested on older versions)

### Steps to reproduce
1. Create a configurable product
2. Add a custom option of type select (drop down) and set it as optional (Uncheck Required field)
3. Order this product without choosing any custom option (as it is optional) from front end
4. Try to reorder from the admin view - Sales - Orders - View Order - Click on Reord

[2022-05-02 16:16] profRomanovski opened #35410 "Improve CLS on PDP 2.4.4"
### Preconditions (*)
1. Magento 2.4.4
2. With or without Varnish

### Steps to reproduce (*)
1. Go to PDP
2. Run the Lighthouse test or go to https://pagespeed.web.dev/ and paste the URL for mobile
3. Check CLS value

### Expected result (*)

1. CLS should be less than 0.1
2. After fixing the image shouldn't blink during page loading as in this fix:
https://github.com/magento/magento2/pull/33265