[2022-01-01 07:06] thecoachsmb commented on #34906
There are 3 ways to achieve this.

1. Disable cache from layout xml for block
2. Disable cache for block programatically
3. Using Varnish Cache

All these 3 methods, [I have explainded in this article](https://www.thecoachsmb.com/how-to-disable-the-cache-for-the-block-in-magento-2/).

[2022-01-02 14:18] Assambra commented on #34797
@magento give me 2.4-develop instance

[2022-01-03 05:10] krishprakash commented on #34907
Hi @lukeclustermanaherwa,
Feel free to reopen once you update all the required details.
Without any details we will proceed with your ticket.
Thanks

[2022-01-03 05:10] #34907 closed, assigned to krishprakash

[2022-01-03 05:39] Lukeclusterwa commented on #34907
Midland gates diary is open on days the optometrist is not in and people
can book. How can we fix that.

On Mon, 3 Jan 2022 at 1:10 pm, Prakash Prajapati ***@***.***>
wrote:

--
Luke O’Dell

Cluster Manager Oscar Wylee

--

Confidentiality: This email and any attachments are confidential and
may be subject to copyright, legal or some other professional privilege.
They are intended solely for the a

[2022-01-03 07:39] paresh6002 commented on #34886
Hi @engcom-Echo
I have reproduced the issue on fresh Magento installation for Magento 2.4-develop instance. I have attached a new video here. so you can follow the same step as the attached video.
And I can see the issue in your video. the search bar/mini-cart will get open when you close the popup. That should not open while closing the image popup.

https://user-images.githubusercontent.com/5919

[2022-01-03 07:47] engcom-Echo commented on #34908
Hi @mandarzope,

Thank you for reporting the issue.

I have tried to reproduce it on Magento 2.4-develop instance but getting proper response headers which contains x-magento-tags when I am running any query. Attached screenshot for your ref.

<img width="1191" alt="Screenshot 2022-01-03 at 1 13 45 PM" src="https://user-images.githubusercontent.com/51681435/147908532-a1235e39-9794-4445-958a-dfe5dd

[2022-01-03 07:51] engcom-Hotel commented on #30498
Hello @pitbulk,

Thanks for the reply!

We have tried to reproduce the issue in the clean Magento 2.4-develop instance with the Custom SSO module defined in the main description, but for us, the issue is not reproducible. We have followed the below steps:

1. Install the Custom SSO/login module from [repo](https://github.com/pitbulk/magento-custom-login).
2. Create 2 accounts with the same last na

[2022-01-03 08:29] fkukus commented on #31898
Thank you @engcom-November for the check, I will test again with the 2.4 and get back here.

[2022-01-03 09:15] engcom-Echo commented on #34735
Hi @psydog-1101,

Yes I have tested with new session and also on incognito mode. Can you please check if this issue is reproducible with Magento 2.4-develop instance or if you could provide some more insight on what can I do more to reproduce it ?

Thanks

[2022-01-03 10:28] TysvdHeuvel opened #34912 "REST API returns incorrect values for category is_active & include_in_menu"
When fetching category data through the Magento REST API the fields is_active and include_in_menu always return true, regardless to what was defined in the Magento backend.

### Preconditions (*)
Fresh Magento 2.4.3

### Steps to reproduce (*)
Create a new category by using the Magento backend.
Set Enabled Category and Include in Menu to FALSE.
Now use Postman to retrieve the category you have jus

[2022-01-03 12:10] engcom-November commented on #34846
Hi @devqualwebs ,
We are closing this issue as there has been no latest update on the same.
Thank you

[2022-01-03 12:10] #34846 closed, assigned to engcom-November

[2022-01-03 12:10] pitbulk commented on #30498
Instead accesing directly to DOMAIN/mysso/custom/login,

can you instead simulate a POST from a domain different than Magento's instance domain?

[2022-01-03 12:26] engcom-Echo commented on #34055
Hi @onlinebizsoft,

Thank you for your input.

Can you please specify where can I find the logic "if !canCreditMemo() and !canInvoice() and !canShip() then close order" or anywhere written ? I’ll do further analysis accordingly.

Thanks

[2022-01-03 12:37] engcom-November commented on #34863
Hi @PromInc , I re-verified the issue on Magento 2.4-develop branch by setting Main Website scope using below values but cannot able to reproduce the issue:
![image](https://user-images.githubusercontent.com/60198231/147931094-a09d8261-5b64-4505-8e3b-85ec02354166.png)

![image](https://user-images.githubusercontent.com/60198231/147931069-49feee4c-ac79-46ed-bdff-ed73a4b8bfa5.png)

Magento bot insta

[2022-01-03 14:00] engcom-November commented on #34797
As the behavior is different on Magento 2.4-develop branch, confirming the issue with updated description by adding additional information.

[2022-01-03 14:07] nthurston commented on #34887
I think you are misunderstanding, here are screenshots from my dev.

Website is set to use Test stock which include Test source.  Both items are in stock at Test.  After re-index, only entity id 1 is showing, not entity id 10000.

![image](https://user-images.githubusercontent.com/4097064/147939659-2a12b0fb-70c3-462d-baee-51649348c220.png)
![image](https://user-images.githubusercontent.com/4097064

[2022-01-03 14:14] engcom-November commented on #34912
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Created category by setting  Enabled Category and Include in Menu to FALSE
Rest API - Sent Get request to /rest/all/V1/categories/10 - No issue
"is_active": false,
"include_in_menu": false
![image](https://user-images.githubusercontent.com/60198231/147940692-ac817de9-1897-4209-bdb0-c2153207675c.png)
@TysvdHeuv

[2022-01-03 14:17] mzenner1 commented on #34527
1. This issue is happening on 2.4.x.  If the same line of css appears on the 2.4-develop branch then it is happening there too.

2. There is no easy way to provide a screenshot of this issue.  All this really boils down to is that you have a very broad css rule that will apply css to any and all anchor tags that have a class of "button"

a.button {
        -moz-appearance: button;
        -webkit-

[2022-01-03 19:55] artttj commented on #33736
The bug still persists.

The solution from @leeroybrun seems to be working.

[2022-01-04 00:48] schizek commented on #26482
Any update on this?

[2022-01-04 01:20] sdouma commented on #26052
@magento-engcom-team Can we get a PR reference for this ticket?

[2022-01-04 03:35] PromInc commented on #34863
Thank you @engcom-November

I'll try to get an instance when I have time to test, however your screenshot highlights the issue here.
In the configuration you set the **domain** to `.magento24.local` but in the browser you can see it is only `magento24.local` (the leading period is not present).

If you look at the pull request I submitted recently you can see that the domain is not being set based

[2022-01-04 05:20] engcom-Echo commented on #34875
Hi @steven-hoffman-jomashop,

Thank you for raising this issue.

I have re-opened issue #33763 as requested and closing this one. Discussion can be continued on old issue only.

Thanks

[2022-01-04 05:20] #34875 closed, assigned to nobody

[2022-01-04 05:47] engcom-Echo commented on #32754
Hi @vrielsa,

We tried again to reproduce it on Magento 2.4.1/2.4-dev but the issue is not reproducible on the local system as we are not able to generate the required traffic. But as given in the ticket we have analysed the Redis session code file (src/Cm/RedisSession/Handler.php, line no 554). After analysis, I found the following code which is the possible reason for the delay in request also i

[2022-01-04 08:50] engcom-Echo commented on #34527
Hi @mzenner1,

Thank you for your input. But I am not able to find any affect of Page Builder module on the website storefront or in any of the button as you suggested. Neither I am able to find 10px padding in any button after adding Page Builder button changes.

I need to reproduce this issue if I want to confirm it. So can you please share more details like video of the issue happening if not s

[2022-01-04 09:20] itziksn opened #34920 "Product::hasDataChanges will always return true"
### Preconditions (*)
1. Magento 2.3.6
2. PHP 7.3.33
3. XAMPP for Windows 7.3.33

### Steps to reproduce (*)
1. Load a product
2. call hasDataChanges() on the product

### Expected result (*)
1. Since the product hasn't changed since load - calls to hasDataChanges should return false

### Actual result (*)
1. hasDataChanges() == true

### Possible Cause
While debugging this I've found that `Magent

[2022-01-04 10:03] devchris79 commented on #34718
@engcom-Delta
I thought I had closed it on November 26th??

[2022-01-04 11:22] LucScu commented on #34851
@ioweb-gr what do you think is the best way to avoid this issue? Using model factory or collection factory?

[2022-01-04 11:27] ioweb-gr commented on #34851
I haven't found a way to avoid the issue unfortunately. I can't track where the object that can't be released from memory is instantiated and stored

[2022-01-04 11:34] vlmed commented on #33408
@magento I am working on it

[2022-01-04 12:54] webgility-amazonapi commented on #34178
Hi @engcom-November ,
Is there any update on the issue fix??

Thanks,

Webgility Apollo Team

[2022-01-04 12:56] engcom-Echo commented on #34920
Hi @itziksn,

Thank you for reporting the issue.

Can you please provide some more info in ‘Steps to reproduce’ section ? Like if you are loading product on Admin Panel or Storefront ? Also, exactly how are you figuring out that hasDataChanges() is throwing true value ?

Perhaps some screenshots or video if you can share would be helpful in understanding the issue better.

Thanks

[2022-01-04 13:41] cmuench commented on #30582
Same issue in the indexer.xsd for classType.
At netz98 is our vendor namespace "N98". It's not allowed to use the N98 in the class name.

setup:upgrade is then broken.

![image](https://user-images.githubusercontent.com/211294/148067688-bd90cd95-74ef-4916-8acf-f7b4a900f0df.png)

[2022-01-04 13:51] mzenner1 commented on #34527
Attached is a screenshot of the issue.  Using a standard anchor tag with a class of "button" has some of its css rules wiped out/overridden by the broad page builder css rule of "a.button"

![image](https://user-images.githubusercontent.com/15268024/148068812-9ab3393a-52c3-4e74-b882-1ac0f3e04207.png)

This is not part of any page builder piece. It's a custom phtml file loaded on the home page but

[2022-01-04 13:56] cmuench commented on #30582
@engcom-Charlie Is anyone able to fix that issue? IMHO a internal Jira bot is blocking that?

[2022-01-04 14:02] giorgiabosello commented on #12184
Any update on this? Someone managed to resolve it?

[2022-01-04 14:19] samc2810 commented on #30582
@cmuench
I did a workaround like this in di.xml
`<virtualType name="Lemundo\BtoBPricing\Model\Indexer\Pricing" type="Lemundo\B2BPricing\Model\Indexer\Pricing"/>`

[2022-01-04 14:23] itziksn commented on #34920
Hi @engcom-Echo!
Thanks for your quick response!

I thought I'm simplifying things by simplifying the 'Steps to reproduce', but I might as well just describe my actual case:

I'm trying to create some sort of webhook that will trigger when product created/updated.
The way I went about this is to subscribe for 'catalog_product_save_after' event. But I've found out that this event is triggered even

[2022-01-04 14:50] cmuench commented on #30582
@samc2810 Creative idea. Nice catch.

[2022-01-04 14:50] engcom-Echo commented on #34379
Hi @emson-softound,

Thank you for raising this issue.

After going through the conversation between you and @hostep, understood that now only problem you are facing is with [`eway/eway-rapid-magento2`](https://marketplace.magento.com/eway-eway-rapid-magento2.html#product.info.details.release_notes) module. So, can you please update if the issue is till there or you figured it out ? You can also w

[2022-01-04 15:25] alexmtch opened #34924 "Allow Fieldset nesting in form ui_component"
### Description (*)
Currently adding a fieldset in form ui_component with fields works but there is no support about form MetaData merging resulting no "use default" checkbox for example.

Current display if you add a field in a fieldset in another fieldset :
![image](https://user-images.githubusercontent.com/14349499/148081974-d2590abe-7687-4740-aafe-4b754440d48e.png)

### Expected behavior (*)
T

[2022-01-04 18:20] 1stoked21 commented on #28614
@eurobeautiful Did you see that in release 2.4.1 there were modifications to the captcha to prevent carding? (still has to be enabled)
[2.4.1 Carding Reference](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-1.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=carding)

[2.4.3 Carding Reference](https://devdocs.magento.com/guides/v2.4/relea

[2022-01-04 18:25] cdbessig commented on #28614
I am not the user you tagged, but in our case the client has not authorized a 2.4.x upgrade, but we have updated the gene commerce braintree module and it has a captcha on it.

We ran into an edge case where when magento recaptchas are enables under system->config->security checkout broke in only safari....so we had to disable magento recaptchas while we investigate further.

At this point we thin

[2022-01-04 18:57] 1stoked21 commented on #28614
@cdbessig Thank you for the heads up on the Safari issue. I see, well it seems like a lot of commenters are using BrainTree. We are with a different processor and they want us to set up a Captcha to our dismay.

[2022-01-04 19:03] cdbessig commented on #28614
@1stoked21 the comments on the 2.4.x releases of recaptcha look promising.

It bothers me to no end that 2.3.x is not EOLed and such an item related to security was not back ported but was rather a "feature" and not a security fix.

[2022-01-04 20:00] mhafizumer opened #34928 "Product Plugin(Magento\Catalog\Api\ProductRepositoryInterface) not Working."
**Magento Version**
CE 2.4.2-p2

**Summary**
Magento Product save plugins not Working. I have wrote **afterSave** for the type **Magento\Catalog\Api\ProductRepositoryInterface**.

Then I have try to create plugin for save method for Controller class (**Magento\Catalog\Controller\Adminhtml\Product\Save**), its worked fine

**Steps to reproduce (*)**

in etc directory create di.xml

[code]

**Plugin

[2022-01-04 20:41] barnard-b opened #34929 "GraphQL Schema becomes invalid if a custom `type` product attribute is defined."
### Preconditions (*)

1. Magento 2.4.3
2. A custom product attribute:
    - Attribute Code: `type`
    - Default Label: Type
    - Catalog Input Type for Store Owner: Dropdown
    - Values Required: No
    - Manage Options (Values of Your Attribute)
        - Art
        - Books
        - ...
    - Scope: Global
    - Unique Value: No
    - Add to Column Options: No
    - Use in Filter Options: N

[2022-01-04 20:42] barnard-b commented on #34929
@magento give me 2.4-develop instance

[2022-01-04 21:06] pablomishchenko commented on #34466
Fix without changing translation is not possible, but changing translation is not allowed https://devdocs.magento.com/contributor-guide/backward-compatible-development/#translatable-phrases

[2022-01-04 22:25] pmonosolo commented on #34855
@magento give me 2.4-develop instance

[2022-01-05 02:21] manugentoo commented on #34831
In my end. Composer version 2.1.2 worked well on Magento V2.4.2, V2.4.2-p1, V2.4.3, V2.4.3-p1

[2022-01-05 04:37] 1stoked21 commented on #28614
@nathanjosiah, If we make a change to the payment function to capture the POST requests would this help you? Are you still looking for this information?

[2022-01-05 07:44] engcom-Hotel commented on #34429
Dear @manhtranisobar,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-05 07:44] #34429 closed, assigned to engcom-Hotel

[2022-01-05 07:45] engcom-Hotel commented on #34696
Dear @vahir2016,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-05 07:45] #34696 closed, assigned to engcom-Hotel

[2022-01-05 07:46] engcom-Hotel commented on #33895
Dear @moonbutt20,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-05 07:46] #33895 closed, assigned to engcom-Hotel

[2022-01-05 08:23] engcom-Hotel commented on #34928
Hello @mhafizumer,

Thanks for posting the issue!

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, it is not reproducible with the given steps. Maybe we have missed anything in order to reproduce the issue.

We request you to please elaborate on the issue more.

Thanks

[2022-01-05 08:24] otezz commented on #19220
Hi @Nazar65

I'm on magento 2.3.4 and mysql 5.7 aurora/rds
`SELECT @@innodb_lock_wait_timeout;` shows default value which is 50 and I get this issue

Any workaround recommendation for this?

[2022-01-05 08:36] IlyaCid commented on #34486
@magento I am working on this

[2022-01-05 08:37] IlyaCid commented on #34486
@magento add to contributors team

[2022-01-05 08:38] IlyaCid commented on #34486
@magento I am working on this

[2022-01-05 08:46] plastikschnitzer commented on #29252
I tried the code @bernd-reindl proposed but for me it ends up with a white checkout page (Magento 2.3.5-p1).

However this feature would really help a lot as Terms and conditions are used in multiple places (CMS pages, Checkout, other extensions)

[2022-01-05 09:18] plastikschnitzer commented on #28092
@convenient did you enter the paypal email address in the backend? Try to remove it and see if it still appears, this field is not mandatory and solved the issue for me.

[2022-01-05 09:28] LLudas commented on #28092
What we did:
We've updated magento to newer version (actually reinstalled freshly everything) and problem was solved. Probably there was a fix in newer version. This is the best and easiest solution to upgrade.
Another solution to disable Paypal payment. This should solve this problem too.
BR

[2022-01-05 10:21] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2022-01-05 10:42] karyna-t opened #34931 "Add PHP 8.1 Intersection Types Support for function Parameters"
In PHP 8.1, new Intersection types feature was introduced.
(see details https://wiki.php.net/rfc/pure-intersection-types)

e.g. it's possible to create a function with a signature like
`function baz(Foo&Bar $arg) { ...`

Right now Magento will not work properly with such a feature. There are several places where we're using Parameter's Class (e.g. for code generation):

- https://github.com/magent

[2022-01-05 10:42] karyna-t opened #34932 "Add PHP 8.1 Intersection Types Support for function Return Type"
In PHP 8.1, new Intersection types feature was introduced.
(see details https://wiki.php.net/rfc/pure-intersection-types)

e.g. it's possible to create a function with a signature like
`function something(): Foo&Bar&Baz { ...`
were return type is an intersection.

Right now Magento will not work properly with such a feature. There are several places where we're using return type's Class (e.g. for

[2022-01-05 10:42] karyna-t opened #34933 "Add PHP 8.1 Intersection Types Support for tests in the codebase"
In PHP 8.1, new Intersection types feature was introduced.
(see details https://wiki.php.net/rfc/pure-intersection-types)

In the scope of this ticket, we need to add Intersection Types support for the places where we're using an information about parameter/return type class - for **Tests**:

- https://github.com/magento/magento2/blob/platform-health/dev/tests/static/testsuite/Magento/Test/Integri

[2022-01-05 11:32] makzef commented on #34437
@magento I am working on this

[2022-01-05 12:38] engcom-Hotel commented on #28636
Hello @amenk,

In order to confirm the issue we need to reproduce it, so I again tried to reproduce it by tweaking the code, and it seems that the `exit` statement does not create any issues. Please have a look at the below-recorded video and let us know if we missed anything:

https://user-images.githubusercontent.com/51681618/148218777-89a2f204-bf26-4a20-a1ba-68349641ab79.mp4

Thanks

[2022-01-05 12:41] amenk commented on #28636
Did you run integration tests with the mentioned preconditions? In the Screencast I saw only manual testing..the Problem arises when this line is hit in an integration tests

[2022-01-05 12:44] engcom-Hotel commented on #28636
Hello @amenk,

Any specific integration test needs to run here. Please suggest.

Thanks

[2022-01-05 12:51] amenk commented on #28636
Unfortunately not, just the code has to be hit

[2022-01-05 13:27] Melnychuk-Alexandr commented on #34626
@magento I am working on this

[2022-01-05 13:29] Melnychuk-Alexandr commented on #34626
@magento add to contributors team

[2022-01-05 13:30] Melnychuk-Alexandr commented on #34626
@magento I am working on this

[2022-01-05 13:33] pczerkas commented on #34851
@ioweb-gr these two functions could be a culprit:
https://github.com/magento/magento2/blob/302f6c52138221d511b0e1742f94cd43f68aa6f3/lib/internal/Magento/Framework/Model/EntitySnapshot.php#L54
https://github.com/magento/magento2/blob/302f6c52138221d511b0e1742f94cd43f68aa6f3/lib/internal/Magento/Framework/Model/ResourceModel/Db/VersionControl/Snapshot.php#L43

Try with commented out bodies of these

[2022-01-05 14:03] shaileshjangir commented on #34375
Thanks , its worked for me 👍

[2022-01-05 14:14] mparchi commented on #28614
We are having the same issue with an attacker calling the /rest/<view>/V1/guest-carts/<cart_id>/payment-information API from multiple IP addresses. Added a rate limit rule on Cloudflare for errors on this path but not sufficient. Running 2.3.6-p1 and Gene Braintree module 4.0.7

In addition our store is sending the "Payment Transaction Failed Reminder" email address on each error causing also a fl

[2022-01-05 14:34] xmav commented on #34931
@magento export issue to Jira project AC

[2022-01-05 14:43] yaroslav-qlicks commented on #33281
Very strange that this kind of issues could wait so long(

[2022-01-05 16:32] mdvm7 opened #34936 "Magento - I can't click on any of the lateral tabs"
Hello!

I'm using Magento ver. 2.4.3-p1 to do a groupwork for my master degree. The site for the backend was working completely fine, until yesterday. I accessed the backend to edit the project, but unlike the other times I've accessed it, now I can't click on any of the lateral tabs. I need to add more products for the e-commerce project, but when I try to click and enter the catalog tab, nothing

[2022-01-05 17:21] leonhelmus opened #34937 "Url rewrites are all removed when mass updating visibility on store view when set to not visible indivudually."
### Preconditions (*)

1. php 7.4
2. composer 1
3. Magento version 2.4.2 enterprise
4. RabbitMQ

### Steps to reproduce (*)

1. Have a multi store website (2-5 store views)
2. Create a product that's connected to all stores make sure attribute code: **visibility** is on **catalog,search**
3. Now go to backend Catalog -> Product. Select the created product and use the action update attributes.
4. N

[2022-01-05 17:23] wilfriedwolf commented on #34753
Hi @engcom-Echo

I'll try to explain better:

Saving the image in the backend applying an Alt Text fills **all** the label attributes defined. See `\Magento\Catalog\Model\Product\Gallery\CreateHandler::processMediaAttributes`:

[code]

So here for all media attributes (`image`,`small_image` ... `custom_image`) everything is saved.
But only for `$this->mediaAttributesWithLabels` the Label is saved.

[2022-01-05 20:42] gvasilakiss opened #34939 "URI is not valid and cannot be converted into a string when trying to load website"
### Preconditions (*)

1. PHP 7.4.27
2. composer 2.1.4
3. Magento version 2.4.2-p2 enterprise
4. Elasticsearch 7.16.2
5. Redis Cache 5.0.14
6. Grunt 1.0.4

### Steps to reproduce (*)

1. Install a fresh installation of Magento with multiple store views (3-4), and added my custom code for the website
2. Try to access the homepage

### Expected result (*)

1. Site should load the default homepage

#

[2022-01-05 20:43] RenoBekel commented on #10304
Hello do you have a new link for me available?
We have I think the same issue. We have orders made in magento, but a few days later I need to change this order, because something is out of stock. Suddenly I cannot change the order anymore, because we've changed the status of the products in the backend to ''out of stock''. So this is very difficult.

[2022-01-05 21:02] andrewbess commented on #34939
Hello @gvasilakiss
What is your custom code for website?
Could you please provide example?
Thank you in advance.

[2022-01-05 21:07] gvasilakiss commented on #34939
Hi @andrewbess
As they are custom modules, I cannot share anything, I am afraid.

[2022-01-05 21:12] DEVJhonCortes commented on #11533
Same problem here in Magento Open Source 2.4.1

When the user enters all the checkout data (Billing / Shipping), selects PayPal Express Checkout and clicks the go to pay button, this is redirected to PayPal, but Magento does not create an order in pending status.

As @rackyan mentions, only orders with processing state are displayed in the order grid.

[2022-01-05 23:22] johannabg opened #34940 "Category filters returning empty results in shared catalogs"
### Preconditions (*)

1. Magento v2.4.2-p1

### Steps to reproduce (*)

1. When logged into a shared catalog and using the top navigation to drill down to a product category I receive a "We can't find products matching the selection" message with empty results.

### Expected result (*)

1. Should see all products for the selected category when logged into a shared catalog

### Actual result (*)

[2022-01-06 03:31] tgreeve commented on #33819
After code review, storefront product Out of Stock status depends on 2 database columns when using Default Stock.

1.  cataloginventory_stock_item => is_in_stock
2.  cataloginventory_stock_status => stock_status

Number 2 defines the storefront behavior, so whenever this value is set to 0, the storefront will show the product as out of stock.
Number 1 is the DB representation of the product "Stock

[2022-01-06 03:45] engcom-November commented on #34936
Hi @mdvm7 ,
Thank you for reporting and collaboration. However, provided description is not enough to reproduce the issue. Verified the issue on Magento 2.4.3-p1version and user is able to perform all operations from Back-end. Kindly provide missing steps to reproduce / configuration details to reproduce the issue.

[2022-01-06 04:41] engcom-November commented on #31935
This issue is a duplicate of https://github.com/magento/magento2/issues/33933.
This issue observed for both Bundle Product and Grouped Product as well. If simple product is assigned to Grouped/Bundle product and searching using url_key eq: simple product, url_key returns both Simple and Grouped/bundle product. We are closing this issue. Please check the above ticket for latest updates on the same.

[2022-01-06 04:41] #31935 closed, assigned to engcom-November

[2022-01-06 05:38] engcom-November commented on #34895
Verified the issue on Magento 2,4-develop branch having Enterprise edition modules enabled but cannot able to reproduce the issue:
Steps performed:
Magento multi store setup:
Created my test page 1 from admin - Content - Pages - Add New Page and assigned to only default Store view - Save
Created my test page 2 from admin and assigned to multiple store views - Save
Reindex and clear cache
Edit my t

[2022-01-06 05:46] engcom-Hotel commented on #34939
Hello @gvasilakiss,

In a fresh Magento installation, we are not getting such errors. The error may be due to the custom module you made. Can you please try to disable that custom module and try again?

Thanks

[2022-01-06 05:50] engcom-Hotel commented on #34566
Dear @1si11cs122,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-06 05:50] trunglv commented on #10304
@RenoBekel .
Problem-solving:
There is an inconsistency that a class reference for interface \Magento\InventorySalesApi\Api\IsProductSalableInterface is different between Adminhtml scope and Frontend scope.

You can check di files to find which class will reference to IsProductSalableInterface:

vendor/magento/module-inventory-indexer/etc/frontend/di.xml
<preference for="Magento\InventorySalesApi\

[2022-01-06 07:12] rejith77 commented on #31337
@Eddcapone yes this makes perfect sense. i too arrived at the same position as yours. can't find a way to enable/disable module without if-config.i overrode .html and .js files from module_checkout

[2022-01-06 07:21] sramesh1988 commented on #20973
We are getting the same issue in Magento version 2.4.3-P1. **Dren7755** / **braders** Have you find the solution for this issue. If, yes can you please share.

[2022-01-06 07:34] RenoBekel commented on #10304
So will this solve our problem? Our problem specified:

We have customers who do not directly pay for the order when placing the order. So we have to change these later to give them the correct invoice. But when we then try to change these orders we get the following error. (in the attachment) Do you have any idea how to solve this?

He only gives this error when one of the products in the order i

[2022-01-06 07:49] engcom-Hotel commented on #34461
@magento give me 2.4-develop instance

[2022-01-06 07:52] trunglv commented on #10304
@RenoBekel
- Please try to get error detail in var/log or var/report. It may help to identify what the problem is.

[2022-01-06 08:28] nntoan commented on #32593
I can confirm this can be reproduced on 2.4.3-p1. Just create a new option with label that is the same as an existing option_id in eav_attribute_option_value table via `V1/products/attributes/:attributeCode/options` API.

It will throw exception message:

`{ "message": "Admin store attribute option label \"%1\" is already exists.", "parameters": [ "99999" ], }`

This issue is not affected in Admin

[2022-01-06 08:31] Quentin-Sch commented on #10454
Helloooooo,
2.4.3 and still wait for this. Why is it closed ?

[2022-01-06 08:32] m2-assistant[bot] opened #34941 "[Issue] Report cron error message where possible"
This issue is automatically created based on existing pull request: magento/magento2#34069: Report cron error message where possible

---------
### Description
This pull request adds the error message to the new exception created in the exception handler for cron jobs. Without this, the real error message is lost.

### Related Pull Requests

*None*

### Manual testing scenarios
1. Throw a generic

[2022-01-06 10:25] engcom-Hotel commented on #30498
Hello @pitbulk,

Thanks for the reply!

We have tried this as well. We can find the added product in the cart as a guest in the logged-in user cart.

Thanks

[2022-01-06 10:46] Echron commented on #28931
@rpajalunga Did you ever find a solution for this?

[2022-01-06 10:46] Quazz commented on #31870
Of course the functions technically have access to $saveOptions since it has a default value set by the function itself.

The issue is that $saveOptions variable is not being passed by the plugin. Try setting the value of $saveOptions to true in the plugin and then check the result in API call and you will see it has not changed.

[2022-01-06 11:30] wilfriedwolf commented on #34753
So finally I got to it.

Basically the problem was, that you can only get the Labels for (media gallery) images using

[code]
if the image Id is in the 3 predifinend values (image, small_image or thumbnail), see above.

I now could solve it with a plugin on the init function above:

[code]
which fills the data to be fetched by the `getLabel()`-Method.

Closing the ticket, thanks...

[2022-01-06 11:30] #34753 closed, assigned to wilfriedwolf, engcom-Echo

[2022-01-06 11:36] Melnychuk-Alexandr commented on #34626
@magento give me 2.4-develop instance

[2022-01-06 12:00] engcom-Hotel commented on #31145
Hello @rvitaliy,

Thanks for posting the issue!

Please tell us if this issue occurs while using aurora or it can be reproducible by using any master-slave replica.

Thanks

[2022-01-06 12:00] KrishnaPB commented on #34216
Hi, I have still experiencing the same issue. Please look into this.

[2022-01-06 12:10] engcom-Hotel commented on #34937
@magento give me 2.4-develop instance

[2022-01-06 13:06] ihor-sviziev opened #34942 "The default luma logo is shown on frontend order print page"
During migration from Magento 2.3.x to 2.4.3-p1 we noticed an issue - the print order/invoice/credit memo pages (on frontend) started showing a default luma logo instead of the logo that is shown on the entire website.

### Preconditions (*)

1. Magento 2.4.3
2. Luma theme
3. Set custom logo in the header on the frontend

### Steps to reproduce (*)
1. Go to the frontend
2. Place some order
3. On t

[2022-01-06 13:46] in-session commented on #34899
@magento give me 2.4-develop instance

[2022-01-06 14:05] VZeroCool commented on #34752
Any update on this ?

[2022-01-06 14:05] Melnychuk-Alexandr commented on #34401
Hi @cena4438 ! What screen width did you reproduce this problem ? Which browser ?

[2022-01-06 14:08] in-session commented on #34899
@magento give me 2.4-develop instance

[2022-01-06 14:17] Melnychuk-Alexandr commented on #34626
@magento give me 2.4-develop instance

[2022-01-06 15:16] gjportegies commented on #33819
@chequille we're experiencing exactly the same issue on a Magento 2.4.3 instance which is originally migrated from a Magento 1.9.4.3 instance.

[2022-01-06 16:00] lenaorobei commented on #27250
@magento five me test instance

[2022-01-06 16:02] lenaorobei commented on #27250
@magento give me test instance

[2022-01-06 16:02] lenaorobei commented on #27250
@magento give me 2.4-develop instance

[2022-01-06 16:25] dborishansky commented on #34202
@magento give me 2.4-develop instance

[2022-01-06 16:49] alexmtch opened #34944 "[GraphQl] Product query does not give translated attribute label"
### Preconditions (*)
1. On Magento 2.3.6

### Steps to reproduce (*)
1. Run the Product Query on a store with translated attribute label and retrieve aggregations

### Expected result (*)
1. Get the aggregations are translated

### Actual result (*)
1. The aggregations are not trabslated

### Workaround
- In vendor/magento/module-catalog-graph-ql/DataProvider/Product/LayeredNavigation/AttributeOp

[2022-01-06 17:03] hostep commented on #34831
You'd probably want to update to at least composer 2.2.3 to avoid other [crazy weirdness](https://github.com/composer/composer/issues/10401) happening 😉

[2022-01-06 17:27] dborishansky commented on #34202
@magento give me 2.4-develop instance

[2022-01-06 18:30] ericerway commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2022-01-06 23:09] gvasilakiss commented on #34939
It seems to work now - it was a custom module causing the issue.

[2022-01-07 04:29] engcom-Echo commented on #34527
Hi @mzenner1,

Thank you for providing this info.

Verified the issue and issue is reproducible on 2.4-develop with Page Builder Module. Below are the steps I did to reproduce this:
1. Enabled Page Builder from Admin Panel.
2. Created simple custom module.
3. Added anchor tag with class button.
4. The css from Page Builder Slider(app/code/Magento/PageBuilder/view/frontend/web/css/source/content-ty

[2022-01-07 05:20] engcom-Echo commented on #34944
Hi @alexmtch,

Thank you for reporting the issue.

However, the information provided is not enough for me to reproduce this. Can you please share the GraphQl query that you are running and the actual results plus what you expect the results to be ?

Any other info would also be helpful. We'll do further analysis accordingly.

Thanks

[2022-01-07 05:50] engcom-November commented on #34940
Verified the issue on Magento 2.4-develop branch having B2B modules enabled but cannot able to reproduce the issue:
Steps performed:
Added products to Shared Catalog
Catalog - Shared Catalog - Set Pricing and Structure - Products Grid is loading as expected - No issue
@johannabg kindly recheck the issue on Magento 2.4-develop branch with B2B modules enabled and provide missing steps if any if the

[2022-01-07 05:52] engcom-November commented on #34762
Hi @liquidia ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-01-07 05:52] #34762 closed, assigned to engcom-November

[2022-01-07 06:17] engcom-Hotel commented on #34939
Hello @gvasilakiss,

Thanks for the update!

So the issue is due to the custom module not being from Magento's core module, we are closing this issue.

Thanks

[2022-01-07 06:17] #34939 closed, assigned to engcom-Hotel

[2022-01-07 06:26] engcom-Hotel commented on #34294
@magento give me 2.4-develop instance

[2022-01-07 07:20] engcom-Echo commented on #34886
Hi @paresh6002,

Thank you for providing the video.

I understood when the issue is happening. Verified the issue and is reproducible on Magento 2.4-develop.

As per analysis, there are 3 issues happening when you zoom-in and zoom-out any product image:
1. If you click on the product and close it again, mini cart will open itself like below:

<img width="492" alt="Screenshot 2022-01-07 at 12 34 24

[2022-01-07 07:34] tuanpt-0634 commented on #18812
@magento-engcom-team give me 2.4-develop instance

[2022-01-07 09:48] tuna2smc opened #34945 "Less file got some issue with compilation (undefined variable) if file name not have prefix underscore at the begin"
### Summary (*)

Got this behavior in lower version 2.3.2 Magento EE. Not test at latest version
My code base have many files less. I have got this experiences when import custom less file to custom theme. File don't have underscore at begin of file name

After run static content deploy. Magento console raise below error

Compilation from source: file abc.less
variable @media-common is undefined i

[2022-01-07 10:08] maurixxxx commented on #22753
I had this issue after installing the Facebook_BusinessExtension, disabled it all is working fine.

[2022-01-07 10:19] PiroozMB commented on #32609
Still having this issue with upgrading to magento version 2.4.3 . Any solution to that?

[2022-01-07 11:44] worldnettps commented on #11247
This still happening in v2.4.2 The only difference in our payment flow is that the cartManagement->placeOrder method is called only when the gateway returns a successful payment. Otherwise the quote is kept active and user gets redirected to the payment page. The quote information is correct, it just seems that the checkout-data in the localstorage gets emptied and the quote shipping address is no

[2022-01-07 11:49] kestraly commented on #32780
I discovered this issue recently aftering installing a cache warmer and seeing that it never gets past 10% cached of the site. It suddently gets cleared with an FPC clean tag along with category or product tag.

Due to the number of duplicate tags, the FPC gets cleaned over and over again. The site then goes back to being completely uncached until rewarmed.

Pushing updates in a queue that doesn't

[2022-01-07 12:42] 4DallasC commented on #15114
If there are any files existing in the magento root directory that match the extra>map section in vendor/magento/magento2-base/composer.json, then it will stop the files after it from been copied during the composer install and do so without give an error.

[2022-01-07 12:51] engcom-Echo commented on #34929
Hi @barnard-b,

Thank you for reporting the issue.

Can you please provide some more info on Point 1 of 'Steps to reproduce' ? Like what are the configurations you set for Attribute Code 'type' ? Bcoz a lot of it is dependent on your configurations which you did while creating new attribute. We'll try to reproduce accordingly.

Thanks

[2022-01-07 13:02] engcom-Hotel commented on #34294
Hello @chequille @simonmaass,

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, it is not reproducible. Please have a look at our configuration below:

1. Tax Rule:
![image](https://user-images.githubusercontent.com/51681618/148546979-c9d0502c-8fd1-4a38-b7e9-8076eacc96de.png)

2. Discount Rule:
![image](https://user-images.githubusercontent.com/51681618/148547071-eca3

[2022-01-07 13:07] kestraly commented on #30128
+1 with this issue - FPC is included in the tags

Tags: cat_p_3368,FPC

Followed by

Tags: cat_p_3368

[2022-01-07 13:48] engcom-Delta commented on #33555
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-01-07 16:22] simonmaass commented on #34294
@engcom-Hotel could you please show a screenshot from the order?

you have to admit, that a refund of the grand total of 19€ makes absolutely no sense if the order total was 0€

[2022-01-07 21:42] ericerway commented on #30835
@magento give me 2.4.3 instance

[2022-01-07 23:18] chequille commented on #34294
@engcom-Hotel
Question: The product you choosed for the order, which tax does it have?
If it has the VAT-Standard, then please try to make the same with a the product having the VAT-Reduced Tax

As I said in my comments before, it only happens with one of the two defined tax classes.
![grafik](https://user-images.githubusercontent.com/15807794/148619149-925475e6-d692-4332-bfae-d587e9838d23.png)

I

[2022-01-07 23:24] chequille commented on #34294
Just saw, that your product was set to use VAT-Standard. Therefore, you have to try it with a product having the VAT-Reduced. You (hopefully) will see, that this order cannot be credited.

As well your refund is not correct as Simonmaas said before.

[2022-01-08 02:26] tuna2smc commented on #34945
![error](https://user-images.githubusercontent.com/82012895/148628167-3b134241-ba0b-43c8-a002-67bae0147643.png)
Can reproduce same behavior in latest

[2022-01-08 02:53] mrtuvn commented on #33748
![new-message](https://user-images.githubusercontent.com/1908873/148629038-23f6396d-ece0-44cb-803c-f129ab25a6c1.png)
Now how we deal with this. Tested in latest code base

[2022-01-08 08:58] chequille commented on #34294
Hi Everybody,
as I made as well a few new tests regarding this issue, I found a new situation and it is strange.

Whether the order is going to closed or completed depends on the price value of the product.

I made an order with a product having a price (incl. 19% tax) of 17,40€ and this order is going to closed after I made the invoice.
I made another order with a product having a price (incl. 19

[2022-01-08 15:03] hostep commented on #23908
@sidolov: can you help in providing more public info, for example a list of commits that fixed this, like Ihor requested? I'm also interested in this. Thanks!

[2022-01-08 15:50] hostep commented on #33347
It looks like this is the merge commit with a fix for this: https://github.com/magento/magento2/commit/c7e5002e587dd908643de491850c673701758564 (all commits: https://github.com/magento/magento2/search?q=AC-1316&type=commits)

[2022-01-08 15:59] hostep commented on #6401
Potential fix: https://github.com/magento/magento2/pull/33468

[2022-01-08 17:20] barnard-b commented on #34929
@engcom-Echo Attribute configuration has been added. Thanks.

[2022-01-08 18:52] Viper9x commented on #34602
@preeteshtavant answer your questions:
1 and 4: @engcom-Delta were wrong. You can see, many people misunderstood the "Remember Me" feature on magento, included: Rootways, Metanshi, Magetop, Expertwebadvisor guys that you listed above.

When you hover on "What's this?" on the login/create an account page, it will show the tooltip, it said:

![Screen Shot 2022-01-08 at 22 16 01](https://user-images.

[2022-01-09 09:36] coderimus commented on #34486
Hello @hoangss @IlyaCid
This was an interesting task for investigation. I confirm that this issue relates to the represented code in the description. Let me describe my conclusion in detail.

Represented logic in the simplified code in the description works for cases when you need to check "is the particular product available?" In the `\Magento\Catalog\Model\Product::isSalable` method the product

[2022-01-09 23:52] pitbulk commented on #30498
@magento give me 2.4-develop instance

[2022-01-10 04:36] leduydong94 opened #34947 "Bug with currency symbol in magento 2.4.3"
### Preconditions (*)

1. Magento 2.4.3
2. Currency is Euro

### Steps to reproduce (*)

1. Set currency is Euro
2. Flush Cache
3. Visit product page

### Expected result (*)

1. Currency symbol will appear

### Actual result (*)

1. https://www.loom.com/share/37046d17879247108adbc71f0fa58628
2. Currency symbol does not appear

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/

[2022-01-10 04:45] engcom-Echo commented on #34621
Dear @Nuranto,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-10 04:45] #34621 closed, assigned to engcom-Echo

[2022-01-10 04:47] engcom-Echo commented on #34715
Dear @mebingeorge04,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-10 04:47] #34715 closed, assigned to engcom-Echo

[2022-01-10 05:52] engcom-Hotel commented on #34469
Dear @AartiJogiya,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-10 05:52] #34469 closed, assigned to engcom-Hotel

[2022-01-10 05:53] engcom-Hotel commented on #34825
Dear @Usik2203,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-10 05:53] #34825 closed, assigned to engcom-Hotel

[2022-01-10 08:16] engcom-Echo commented on #34887
Hi @nthurston,

I have tried to reproduce this issue on the fresh installation (Magento 2.4-dev/2.4.3-p1) but I am not able to reproduce it by performing the above steps. Could you please update the exact steps that you are following so that I can try to reproduce the same on our instance ?

Thanks

[2022-01-10 09:03] engcom-Hotel commented on #34942
Hello @ihor-sviziev,

Thanks for posting the issue!

We have tried to reproduce the issue by upgrading Magento from 2.3.7 to 2.4.3-p1 and the issue is reproducible for us. We have followed the exact same steps mentioned in the main description. Please have a look at below screenshots for reference:

- Before Upgrade:
**_Admin Dashboard_**
![mag_v_237](https://user-images.githubusercontent.com/5168

[2022-01-10 09:52] Axel29 commented on #34822
Hello @engcom-Bravo ,

Indeed when I renamed the folder from `app/design/frontend/Customtheme/default/` to something else (`app/design/frontend/Customtheme/theme/`) it worked.

But this should be reported as a bug as nothing (unless I missed it?) in your documentation says that `default` is a reserved word and shouldn't be used for theme naming.

Thank you.

[2022-01-10 10:01] JDhere opened #34948 "Admin Grid selection issue - Magento 2.3.4"
### Preconditions (*)

1. Magento Version 2.4.3.
2. Have some orders in sales order add.

### Steps to reproduce (*)

1. Go to admin panel->Sales->Orders
2. Search for a particular increment id in the search bar.
3. Then the result of that order field will be displayed(1 result).
4. Select the rendered result.
5. Now search for another increment id in the search bar
6. Select the displayed result

[2022-01-10 10:07] engcom-Hotel commented on #34294
@chequille

Below I have tried with the product price with 17,40€, please have a look at checkout page:

![image](https://user-images.githubusercontent.com/51681618/148747998-f1cb4234-d4d8-4b69-9d53-5e12498e9e97.png)

I can create the credit memo for this as well. As you mentioned in the main description, we need to enable free shipping, do we need to follow this here as well.

Thanks

[2022-01-10 10:25] ajijshekh123 commented on #34947
@magento give me 2.4.3-develop instance

[2022-01-10 10:31] ajijshekh123 commented on #34947
@magento give me 2.4-develop instance

[2022-01-10 10:57] ihor-sviziev commented on #34942
Hi @engcom-Hotel, while you confirmed the issue, could you please test the linked PR to make sure it's actually fixes the issue?
Thank you!

[2022-01-10 12:56] Melnychuk-Alexandr commented on #34626
@magento give me 2.4-develop instance

[2022-01-10 12:57] Melnychuk-Alexandr commented on #34380
@magento I am working on this

[2022-01-10 12:59] engcom-Echo commented on #33763
Hi @steven-hoffman-jomashop,

Thank you for providing this info.

Based on it, I enabled db logging and did reindexing after enabling 'Display Out of Stock Products' from Admin Panel. I checked all queries that were made to db in logs for Magento 2.4-develop and the query that I got is below:

[code]

Above query is made with 1000+ configurable products but I am commenting based on the query logic

[2022-01-10 13:04] engcom-Hotel commented on #34652
Hello @TarasPasickyy,

Thanks for posting the issue!

We request you to please provide us some sample code or screenshots of your CMS block.

Thanks

[2022-01-10 13:14] pablomishchenko commented on #34649
@magento I am working on this

[2022-01-10 13:23] engcom-November commented on #34948
Hi @JDhere ,
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue. Sales Orders Grid is displayed without check boxes selected after removing the Increment ID filter applied. Kindly verify the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-01-10 13:24] duckchip opened #34949 "Querying inventory_stock_1 view is not performant on bigger catalogs"
Hi guys,

I opened this bug report because because I feel querying the inventory_stock_1 MySQL View is not performant at all .

### Preconditions (*)

1. 2.4.2-P2
2. MSI enabled

### Steps to reproduce (*)

1. Webshop with at least 40,000 products
2. Query the stock status for a product on the inventory_stock_1 table.
[code]

### Expected result (*)

1. Fast (indexed) result

### Actual result (*)

[2022-01-10 13:34] engcom-Echo commented on #34746
Hi @mischabraam, 

Thank you for reporting the issue.

I have gone through the code and found that the function “_prepareProduct” is working because of the parent class extension and is working as per the scope of the protected function. It's not violating any OOPS rules. 

Have a look at the following code sample and observe the behaviour of function “call_user_func_array” with the class extends

[2022-01-10 13:36] engcom-November commented on #34947
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
We are closing this issue as this is a duplicate of https://github.com/magento/magento2/issues/33856 and fixed in 2.4-develop branch. Kindly apply this as patch https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde as a workaround to resolve your issue.
Thank you.

[2022-01-10 13:36] #34947 closed, assigned to ajijshekh123, engcom-November

[2022-01-10 13:59] markshust opened #34950 ""select" custom customer address attribute does not render for new customer address"
Custom customer address EAV attributes of `'type' => 'int'` and `'input' => 'select'` do not render after a logged-in customer creates a new address at checkout.

### Preconditions (*)
1. Base install of Magento 2.4.3-p1

### Steps to reproduce (*)

1. Create a custom module with a new setup patch data script to create a custom customer address attribute, with `'type' => 'int'` and `'input' => 'se

[2022-01-10 14:08] markshust commented on #34950
@magento give me 2.4-develop instance

[2022-01-10 14:49] m2-assistant[bot] opened #34951 "[Issue] [ReadMe] updated readMe file for GraphQl-GroupedProductGraphQl modules"
This issue is automatically created based on existing pull request: magento/magento2#31810: [ReadMe] updated readMe file for GraphQl-GroupedProductGraphQl modules

DevDoc related issue: https://github.com/magento/devdocs/issues/4451

---------
### Description (*)
Update README.md file for modules:
- Magento_GraphQl
- Magento_GraphQlCache
- Magento_GroupedCatalogInventory
- Magento_GroupedImportExp

[2022-01-10 14:57] leonhelmus commented on #34937
It seems it did not work @engcom-Hotel

[2022-01-10 15:00] igorwulff commented on #34937
@magento give me 2.4-develop instance

[2022-01-10 15:35] manuelcanepa opened #34952 "[Issue] Weight 0 for bundle products"
### Preconditions (*)
1. Magento 2.4.3-p1
2. Bundle product with Configurable child
3. Ship Bundle Items: Together
4. All simple products, childs of configurable must have weight > 0
5. Configurable weight: 0

### Steps to reproduce (*)
1. Choose bundle product on frontend
2. Go to cart
3. Estimate shipping rates

### Expected result (*)
1. On a shipping carrier, the method `collectRates(RateReque

[2022-01-10 15:36] manuelcanepa commented on #34952
@magento give me 2.4-develop instance

[2022-01-10 15:40] JonathanBBD commented on #34325
This is still a problem.

Just reproduced  during my own Magento upgrade from 2.3.7-p2 to 2.4.3-p1.

I followed these steps in https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html

(not within the steps, but since it's a composer issue, start with `composer clear-cache`)

[code]

Now `composer.lock` is now full saturated of 2tvenom/cborencode.

Thanks to @jankovandeventer I could

[2022-01-10 16:25] #34949 closed, assigned to engcom-November

[2022-01-10 16:35] pdohogne-magento commented on #34325
@JonathanBBD One note about the steps you have listed:

If you are just moving between versions and not editions (e.g. from 2.3.7-p2 to 2.4.3-p1 and not from Magento Open Source to Adobe Commerce), you don't need the remove command.  I don't think that's related to the issue here, but it's worth trying.  I'll see if we can get that clarified in the docs.

Also, if you ever remove composer.lock it'

[2022-01-10 18:54] chequille commented on #34294
Yes, you must add free shipping and as well a coupon code. Order Total must be 0.00€

[2022-01-10 19:00] pmonosolo commented on #28614
No these are just generally being attacked no matter what payment service is.

I use Moneris and it's the same issue - without recaptcha the carders slice through the firewall and rate limiting like butter using botnets. Recent attack used 1800 unique ip addresses.

[2022-01-10 19:34] markshust commented on #34950
@magento give me 2.4-develop instance

[2022-01-10 20:05] pmonosolo commented on #28614
FYI: recent attacks show that cardID limit will no longer work.

The carders adjusted to this and are now generating the CardID on old Magento 2.3 sites and create a post based on that.

![image](https://user-images.githubusercontent.com/66754347/148831348-fe4c13bf-2222-418d-8017-640766d8dc4a.png)

So CardID will not repeat in their requests anymore.

Turning on ReCaptcha is still the only way to

[2022-01-11 02:54] JasonTychons commented on #34948
@magento give me 2.4-develop instance

[2022-01-11 04:02] sanjay-evrig commented on #34866
@magento Any updte?

[2022-01-11 05:50] JasonTychons commented on #34948
@magento give me 2.4-develop instance

[2022-01-11 05:52] engcom-Alfa commented on #34766
@magento give me 2.4.3 instance

[2022-01-11 06:00] JDhere commented on #34948
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/94677353/148889321-8fa0e123-aec9-4873-a9c4-e1e9fa0324a7.gif)

I am able to reproduce the issue, but in a different manner. When the filter is remove it clears the selection which shouldn't have happened.

[2022-01-11 06:01] JDhere commented on #34948
@magento give me 2.4-develop instance

[2022-01-11 06:28] engcom-November commented on #34461
@magento give me 2.4-develop instance

[2022-01-11 06:29] engcom-November commented on #34461
@magento give me 2.4-develop instance

[2022-01-11 07:31] engcom-Hotel commented on #34121
Dear @chanforix,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-11 07:31] #34121 closed, assigned to engcom-Hotel

[2022-01-11 07:33] engcom-Hotel commented on #34814
Dear @SolsWebdesign,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-11 07:33] #34814 closed, assigned to engcom-Hotel

[2022-01-11 07:36] engcom-Hotel commented on #34830
Hello @mahmoudbeikhit,

Have you tried the solution given by hostep in the [comment](https://github.com/magento/magento2/issues/34830#issuecomment-1000430049). Let me know if this helps you in resolving your issues.

Thanks

[2022-01-11 07:37] engcom-Hotel commented on #34854
Dear @tradeincarthage,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-11 07:37] #34854 closed, assigned to engcom-Hotel

[2022-01-11 07:59] mfickers commented on #14398
This fix only prevents duplicate images, but does not help with removing images that are no longer present in the import file:

1. Product in Magento has images A, B, C
2. Row in import file has images A, D, E

**Before fix**
After import, product has images A, A, B, C, D, E

**After fix**
After import, product has images A, B, C, D, E

There are still two images attached to the product that were

[2022-01-11 09:26] engcom-Hotel commented on #34832
Hello @brideo,

We have tried to reproduce this issue in Magento 2.4-develop branch but for us, this issue is not reproducible. We are able to update both `short description` and `description` via the below API:

![image](https://user-images.githubusercontent.com/51681618/148916274-bb913de0-4068-4ccb-8cdd-71d99c608153.png)

Please let us know if we have missed anything.

Thanks

[2022-01-11 11:07] engcom-November opened #34954 "Orders page - Filtering with Purchase Date is not working when removed and re-applied"
### Preconditions (*)

1. Magento 2.4-develop having Orders

### Steps to reproduce (*)

1. Admin - Sales - Orders
2. Filters - Purchase Date - Select from and To date
3. Apply Filter - No Issue. Filter applied
4. Remove/Close the Filter
5. Click again on Filters
6. Previous filter dates are displayed and apply same filters - Issue. Filter not working
Issue also observed when only To Date is chang

[2022-01-11 11:08] Melnychuk-Alexandr commented on #34380
Hi @Morgy93 How did you get this url ? How did you get the value of "item_qty" string "error" ? Thanks!

[2022-01-11 11:22] engcom-Hotel commented on #34954
@engcom-November We will reverify this ticket. Hence moving it to the **Ready for confirmation** board.

[2022-01-11 11:48] engcom-November commented on #32938
As per [Magento docs](https://devdocs.magento.com/guides/v2.4/graphql/queries/cart.html) customer_address_id is not added yet for CartAddressInterface which is existing behavior. Adding Feature Request label as this can be considered as Feature request but not bug.

[2022-01-11 12:07] engcom-November commented on #34948
Hi @JDhere ,
I believe this is an expected behavior but not a bug because when filter applied using any option with "Filters", due to filter being applied after page load, checkbox is deselected. Kindly recheck the behavior on 2.4-develop branch and let us know if you are still facing issues.

[2022-01-11 12:24] JDhere commented on #34948
Hi @engcom-November ,
I don't think that is an expected behaviour. Because consider the use case scenario:
-> The user is changing the status of order by referring to his list.
-> The user opens the admin panel-> Then searches for an increment id-> Selects it-> Then again searches for an increment id-> selects it-> This goes on till his list is completed
-> Then he is performing the mass action eg

[2022-01-11 12:25] JDhere commented on #34948
@magento give me 2.4-develop instance

[2022-01-11 13:30] alexgubarev commented on #34098
@magento give me 2.4-develop instance

[2022-01-11 13:44] engcom-Echo commented on #34888
Dear @homedirect76,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-11 13:44] #34888 closed, assigned to engcom-Echo

[2022-01-11 13:46] engcom-Echo commented on #34395
Dear @baljinderimpinge,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-11 13:46] #34395 closed, assigned to engcom-Echo

[2022-01-11 13:49] Melnychuk-Alexandr commented on #34380
Hello @sidolov
This problem is reproducible and I think it serious problem.
I think we need to add additional validation for input params in controller.
If input params are invalid or request type (in the issue request type is GET instead of POST) is wrong we need to output message about it. For example "This link is not valid".
I think this is P1 or P2 priority issue.
Could you please help me wit

[2022-01-11 14:34] mohanwbsofttech opened #34955 "Mobile menu sub category link goes to undefined"
I am using Ibnab_MegaMenu module. Everything is working fine on desktop. But in mobile when I am clicking on category link it showing me undefined . This is my website link https://www.ruralcam.com/

[2022-01-11 16:30] markshust commented on #34950
@magento give me 2.4-develop instance

[2022-01-11 16:32] simonmaass commented on #34337
where can i see the PR for this?

[2022-01-11 16:41] simonmaass commented on #34337
@lphilippo do you have any workaround?

[2022-01-11 17:39] lphilippo commented on #34337
@simonmaass
For me the change I mentioned in the original ticket was enough to make it working correctly. I don't know if for the final PR they took a different approach, though.

[2022-01-11 18:27] b2bdokter commented on #34469
I ran into this issue

"Something went wrong with reCAPTCHA. Please contact the store owner." ,

to allow your self access to your backend follow these steps:

1. Run this ONE command from CLI

`php bin/magento module:disable Magento_ReCaptchaAdminUi Magento_ReCaptchaCheckout Magento_ReCaptchaContact Magento_ReCaptchaCustomer Magento_ReCaptchaFrontendUi Magento_ReCaptchaMigration Magento_ReCaptcha

[2022-01-11 22:39] naomirobichaud commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2022-01-12 05:43] atIOCrON opened #34956 "Invoices, shipments and credit memos not filtered according to admin timezone"
### Preconditions (*)

1. Magento v2.4.3-p1
2. PHP Version: 7.3.33

### Steps to reproduce (*)

1. Stores > Configuration > Locale Options: Timezone - set the timezone to your local timezone
2. Clear the cache
3. Sales > Invoices OR Sales > Shipments OR Sales > Credit Memos
4. Filter by date

### Expected result (*)

1. The results that are displayed match the admin timezone

### Actual result (*)

[2022-01-12 05:44] engcom-Echo commented on #34843
Dear @usman-xs4arabia-dev,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-12 05:44] #34843 closed, assigned to engcom-Echo

[2022-01-12 06:18] JDhere commented on #34948
@magento give me 2.4-develop instance

[2022-01-12 06:20] JDhere commented on #34948
@magento I am working on this

[2022-01-12 06:21] JDhere commented on #34948
@magento add to contributors team

[2022-01-12 06:21] JDhere commented on #34948
@magento I am working on this

[2022-01-12 06:29] engcom-Echo commented on #34952
Hi @manuelcanepa,
 
Thank you for reporting the issue. 
However, we tried to reproduce it on Magento 2.4.3-p1/2.4-dev but the issue is not reproducible. 
Steps followed to reproduce issue:
1. Installed the fresh Magento 2.4-dev/2.4.3-p1 instance.
2. Created bundle product with the configurable product as child product.
3. Setup weight for child configurable product. 
4. Added product to the cart a

[2022-01-12 06:35] engcom-Echo commented on #34893
Hi @merodio7,

We have tried this issue on the fresh installation with Varnish and without Varnish in both cases, Magento works fine.
Could you please provide the exact steps to reproduce the issue ?

Thanks

[2022-01-12 06:39] engcom-Echo commented on #34900
Dear @webgility-amazonapi,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-12 06:39] #34900 closed, assigned to engcom-Echo

[2022-01-12 07:54] bjornsnoen commented on #30026
@magento give me 2.4-develop instance

[2022-01-12 08:14] leduydong94 commented on #34947
Thanks for solution !

[2022-01-12 08:42] engcom-Hotel commented on #34790
Dear @mushketer888,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-12 08:42] #34790 closed, assigned to engcom-Hotel

[2022-01-12 08:56] mohanwbsofttech commented on #34955
Summary of the issue:I am using Ibnab_MegaMenu module. Everything is working fine on desktop. But in mobile when I am clicking on category link it showing me undefined . This is my website link https://www.ruralcam.com/
    Information on your environment: Magento2.3.4 open community
    Steps to reproduce: check this url https://www.ruralcam.com/ in mobile and click on menu item under product cat

[2022-01-12 09:01] engcom-Hotel commented on #34954
Hello @engcom-November,

Thanks for posting the issue!

We have tried to reproduce the issue in Magento 2.4-develop and it is reproducible for us with the mentioned steps.

Hence confirming this issue.

Thanks

[2022-01-12 09:01] engcom-Hotel commented on #34954
Hello @engcom-November,

Thanks for posting the issue!

We have tried to reproduce the issue in Magento 2.4-develop and it is reproducible for us with the mentioned steps.

Hence confirming this issue.

Thanks

[2022-01-12 09:03] hardiksinh commented on #34380
I get similar issue when trying Update Attribute action from products grid on admin side in Magento 2.4.3.

`Exception #0 (Exception): Warning: A non-numeric value encountered in /var/www/html/magento2/vendor/magento/module-inventory-catalog-admin-ui/view/adminhtml/templates/catalog/product/edit/action/inventory.phtml on line 296`
Typecasting below to integer fixes the issue:
old:
`value="<?= $blo

[2022-01-12 09:37] atIOCrON opened #34957 "Do NOT update stock status on CSV Product import if quantity is 0 and "Allow Qty Below 0 and Notify Customer" is set"
### Preconditions (*)

1. Magento v2.4.3-p1

### Steps to reproduce (*)

1. Stores > Configuration > Catalog: Inventory > Backorders: Allow Qty Below 0 and Notify Customer

2. Choose a product that is in stock with a qty greater than 0.

3. System > Import > Entity Type: Products > Import Behavior: Add/Update > Import a file to set the qty to 0, e.g:

[code]

### Expected result (*)

a) The qty is

[2022-01-12 09:47] engcom-Hotel commented on #34202
Hi @MaiDucQuan97,

Thank you for reporting the issue.
However, we tried to reproduce it on Magento 2.4-develop but the address extension functionality works as expected.
Steps followed to reproduce issue:

1. Added a new plugin and added the address extension attribute by following the steps given in the [doc](https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_new_field.html).
2. Ver

[2022-01-12 10:20] swnsma commented on #34318
Reason is well-described here: https://github.com/symfony/polyfill/issues/256

Overall, problem that while RFC forbid leading/trailing dash, email services providers allow to create such email addresses.
In such case I see 3 options:
1) Follow RFC 3492: do not do nothing in scope of fixing an issue, however check if this is a part of email validation in Magento. Community members could use discuss

[2022-01-12 11:27] ihor-sviziev commented on #34903
Hi @MeCapron,
If you already have the fix for this issue - could you please send it as a Pull Request?

[2022-01-12 11:30] m2-assistant[bot] opened #34958 "[Issue] Int|null variables must be integer or null"
This issue is automatically created based on existing pull request: magento/magento2#34140: Int|null variables must be integer or null

---------
null

[2022-01-12 12:05] anderspirlo opened #34959 "Discount amount (based on coupon code) displays misleading in cart (excl./incl. VAT)"
### Preconditions (*)

1. Tested on Magento ver. 2.4.3-p1.

### Steps to reproduce (*)

    Tax settings - set Catalog Prices under Calculation settings to excluding tax.
    Tax settings - set Apply Discount On Prices under Calculation settings to excluding tax.
    Tax settings - set Display Product Prices In Catalog under Price Display Settings to including tax.
    Tax settings - set Display P

[2022-01-12 12:06] anderspirlo commented on #34959
@magento give me 2.4-develop instance

[2022-01-12 12:46] Exxor87 opened #34961 "how can i export all my Produkt Images???"
### Preconditions (*)

1. Magento ver. 2.3.6

Hi Dear Magento Team,

we have over 6000 Products in our coldewerk.de shop.
We just want to export all product images as files or as URLs.
we dont know exactly what to export to get them.

Looking Forward to hear from you soon.

Enlil Arevalo

[2022-01-12 12:49] anderspirlo commented on #34959
@magento give me 2.4-develop instance

[2022-01-12 12:49] m2-assistant[bot] opened #34962 "[Issue] Fix hidden characters causing error in layout update"
This issue is automatically created based on existing pull request: magento/magento2#34960: Fix hidden characters causing error in layout update

---------
### Description (*)
Fix hidden characters causing the Exception "Custom layout update text cannot be changed, only removed" when trying to edit the home page (MariaDB)

### Manual testing scenarios (*)
1. Setup Magento with MariaDB
2. Try to ed

[2022-01-12 12:50] m2-assistant[bot] opened #34963 "[Issue] Fix the newsletter confirmation email From"
This issue is automatically created based on existing pull request: magento/magento2#34635: Fix the newsletter confirmation email From

---------
Fix the newsletter confirmation email From on multi-store env

### Description (*)

Bug: the newsletter subscription confirmation email has the wrong email in From field
if the customer is assigned to a non-default store and subscribed/unsubscribed via a

[2022-01-12 13:01] engcom-November commented on #34955
Hi @mohanwbsofttech  ,
Thank you for reporting. However, Ibnab_MegaMenu is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on

[2022-01-12 13:02] #34955 closed, assigned to engcom-November

[2022-01-12 13:07] engcom-November commented on #34461
@magento give me 2.4-develop instance

[2022-01-12 13:17] manuelcanepa commented on #34952
The issue occur when you set `Ship Bundle Items` as `Together` on the bundle config:
![image](https://user-images.githubusercontent.com/10290593/149146788-10c8f657-ec60-4792-957d-bec01f5cdac2.png)

vendor/magento/module-quote/Model/Quote/Address/Total/Shipping.php
![image](https://user-images.githubusercontent.com/10290593/149146546-02463ec0-de9b-412d-a5b4-6cdd71451c90.png)

In order to workaround

[2022-01-12 13:26] templatetuners commented on #29939
getting same error.
magento 2.3 works fine
any updates?

[2022-01-12 13:38] engcom-Echo commented on #34899
@magento give me 2.4-develop instance

[2022-01-12 13:59] engcom-November commented on #34948
Hi @JDhere ,
Mass/bulk action on orders can also be performed using other filters Ex: Purchase date. As mentioned above, on removing the filter, an Ajax call is being made which is removing the selection and this is existing magento behavior but not a bug. Can you please recheck using any other filters for achieving the same.
![image](https://user-images.githubusercontent.com/60198231/149153768-31

[2022-01-12 14:32] engcom-November commented on #34752
Hi @VZeroCool ,
Kindly confirm the Brain-tree Mode used - Sandbox or Production because AVS(Address Verification System) Rules are not being checked in the first transaction with Sandbox Credentials. But for the saved cards, Reporter is forcing the extension to re-verify the AVS/CVV Rules by enabling given below setting as Yes which will always be failed with Test cards.
![image](https://user-imag

[2022-01-12 14:43] engcom-Echo commented on #34956
Hi @atIOCrON,

Thank you for reporting the issue.

We have tried this issue on Magento 2.4-dev/2.4.3-P1 and we have successfully reproduced it.

Steps followed to reproduce issue:
1. Installed the clean Magento 2.4-dev/2.4.3-P1
2. Setup timezone to Magento Default, Created orders and invoices.
3. Updated timezone to (Australia/Sydney), created new order and invoice.
4. Filtered the invoices by usi

[2022-01-12 15:15] engcom-November commented on #34959
Hi @anderspirlo ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue. Since Price display settings are set to including tax, subtotal is displayed including tax before discount value. Hence breakup details are not matching which is an existing behavior of Magento but not a bug.
![image](https://user-images.githubuserco

[2022-01-12 15:44] alinalexandru opened #34964 "Can't create label for existing shipment"
### Preconditions (*)

1. Have at least one online carrier configured

### Steps to reproduce (*)

1. Create a shipment without selecting the `Create Shipping Label` checkbox.
2. Try to create a shipping label after the shipment is created.

### Expected result (*)

1. In the pop-up you should be capable to distribute the items to packages

### Actual result (*)

1. Even though the ajax (GetShippi

[2022-01-12 16:07] gjportegies commented on #34375
Also having this issue on a vanilla Magento 2.4.3 instance with sample data.

<img width="851" alt="Schermafbeelding 2022-01-12 om 17 07 04" src="https://user-images.githubusercontent.com/6707410/149177135-9b79f2de-a911-41bb-8f5d-b6c0cf166067.png">

[2022-01-12 16:29] alexgubarev commented on #34098
@magento give me 2.4-develop instance

[2022-01-12 16:37] Nazar65 commented on #34964
@magento give me 2.4-develop instance

[2022-01-12 19:54] Vinai commented on #33555
lol

[2022-01-12 21:54] Ligniperdus opened #34965 "Server error during the ordering process. Skus are interpreted as floats"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
**GUI way:**
1. Create two simple products with sku _00.060_ and sku _0.060_
2. Add both items to the shopping cart
3. Go though the checkout and try to purchase the articles

**Code way:**
1. Open \Magento\InventoryCatalog\Model\ResourceModel\GetProductTypesBySkus.php
2. Call the function `getResultKey(string $sku, array $productS

[2022-01-13 00:20] gfxguru opened #34966 "is Magento dead?"
Adobe has taken a great platform and run it into the ground. I still can't believe there is not some fork of Magento 2 where the community can take it back.

[2022-01-13 00:53] pitbulk commented on #30498
Hi @engcom-Hotel,

I was not able to reproduce it on 2.4-develop.  I reproduced the issue on the official releases:
2.3.4, 2.3.4-p2, 2.3.5-p1, 2.4.1 and 2.4.2

[2022-01-13 02:39] NguyenXuanNam opened #34967 "Color picker wrong value"
### Preconditions (*)

1. Magento version 2.4.2 and 2.4.1
### Steps to reproduce (*)

1. Go to stores -> Product -> filter color
2. Go to manage swatch, chooose any color,  select chooose a color, enter hexcolor : ff7a96 -> Save Attribute.
3. After save value : ff7a97

### Expected result (*)

Hex color : ff7a96

Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/c

[2022-01-13 03:12] #34879 closed, assigned to nobody

[2022-01-13 05:45] ajijshekh123 commented on #34967
@magento give me 2.4-develop instance

[2022-01-13 05:58] #34966 closed, assigned to nobody

[2022-01-13 06:01] engcom-Hotel commented on #30949
Dear @webamMarko,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-13 06:01] #30949 closed, assigned to engcom-Hotel

[2022-01-13 06:01] engcom-Echo commented on #34957
Hi @atIOCrON,

Thank you for reporting the issue.

We have tried this issue on Magento 2.4-dev/2.4.3-P1 and we have successfully reproduced it.

Steps followed to reproduce issue:
1. Installed the clean Magento 2.4-dev/2.4.3-P1.
2. Updated Backorders to “Allow Qty Below 0 and Notify Customer”.
3. Import new product by setting the quantity to “0”. (CSV file is attached)
[catalog_product_1.csv](http

[2022-01-13 06:16] ihor-sviziev commented on #33856
@bijeeshkg,
Please review the following comment https://github.com/magento/magento2/issues/33856#issuecomment-946761019

[2022-01-13 06:32] engcom-Echo commented on #34901
Dear @chris197645,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-13 06:32] #34901 closed, assigned to engcom-Echo

[2022-01-13 07:13] engcom-Echo commented on #33909
Hi @jglassmaker,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-13 07:13] #33909 closed, assigned to engcom-Echo

[2022-01-13 07:32] engcom-Hotel commented on #30498
Hello @pitbulk,

Thanks for the confirmation!

That means the has been fixed in develop branch and it will fix in a future release as well. Hence we are closing this issue.

Thanks

[2022-01-13 07:32] #30498 closed, assigned to engcom-Hotel

[2022-01-13 07:42] ioweb-gr commented on #34851
Much smaller footprint but the issue remains with those functions commented out.

[code]

[2022-01-13 08:13] bijeeshkg commented on #33856
@ihor-sviziev thanks this patch works like a charm!

[2022-01-13 09:37] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2022-01-13 10:59] thehl commented on #34650
@engcom-November Hi, when using the following API Endpoint:

/rest/{{storeCode}}/V1/guest-carts/{{cartId}}/totals

You can't see the field "subtotal_with_discount" in the response? It's also in the quote and quote_address table on my vanilla test environment, can also recheck if it's gone now, but I would be surprised if it has been deleted. At least it's included in version "2.4.3-p1".

[2022-01-13 11:26] pczerkas commented on #34851
Out of curiosity, could you check how it behaves with https://www.php.net/manual/en/info.configuration.php#ini.zend.enable-gc disabled?

[2022-01-13 12:06] ioweb-gr commented on #34851
Sure, made no difference

[code]

[2022-01-13 12:22] engcom-Alfa commented on #32990
@magento give me 2.4-develop instance

[2022-01-13 12:28] pradeepkanaka commented on #6360
Im also facing the same issue, configured product's child product video is not playing. It displays as image

[2022-01-13 13:22] janisverins commented on #34898
Facing the same issue. Magento ver. 2.4.3-p1.

[2022-01-13 14:05] calvinmuller opened #34969 "Brand new install of Magento 2.4.3-p1 zero value totals"
### Preconditions (*)

1. 2.4.3-p1

### Steps to reproduce (*)

1. Add product to cart, cart shows the value)
2. Click Checkout
3. Totals are zero.

### Expected result (*)

1. Expect the values to be ZAR 500

### Actual result (*)

1. <img width="793" alt="Screenshot 2022-01-13 at 15 59 26" src="https://user-images.githubusercontent.com/755442/149344472-1b76808d-2a7f-42e6-935f-98a7b2dc7891.png">

[2022-01-13 14:06] calvinmuller commented on #34969
@magento give me 2.4.3-p1

[2022-01-13 14:07] calvinmuller commented on #34969
@magento give me 2.4.3-p1 instance

[2022-01-13 14:21] #34852 closed, assigned to andrewbess

[2022-01-13 14:56] marcelloinfoweb opened #34970 "Increment and decrement button is not working with decimal"
The increment and decrement button is not working with the setting of the decimal value on the products page. It is always set to 1 or -1.

Products that can only be sold by fractions, for example: Product A with Qty Increments of 0.2.

Magento 2.4.2

[2022-01-13 15:33] goranhorvathr commented on #33952
Hello Guys yes. We have fixed the issue for ourselves we are still reviewing the solution. We will get back to  everyone and all interested parties here with the fix. We have not published the fix yet.

[2022-01-13 15:49] sdzhepa commented on #34613
@magento give me 2.4-develop instance

[2022-01-13 17:53] mathiastervo commented on #34594
I can confirm that this is an issue.

Im working on a project that has configurable products that have dynamic values, i.e. length in centimeters and width in centimeters. These are stored on the product

I have a really ugly workaround that probably causes other issues but seems to work for the specific type of product Im testing with and that is to always return null from "www/vendor/magento/mod

[2022-01-13 18:18] Mordreak commented on #31225
I'm getting the same issue here with php 7.4...

[2022-01-13 20:13] rsargsyan-incomm commented on #28187
I am experiencing the same issue, was this resolved ?

[2022-01-14 04:55] engcom-Echo commented on #34386
Hi @tuyennn,

We have noticed that this issue has not been updated for more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-14 04:55] #34386 closed, assigned to engcom-Echo

[2022-01-14 05:33] tuyennn commented on #34386
@engcom-Echo Well in this case I think magento could resolve all the open tickets in next 18000 days, thanks for the support, I have my own solution and fixes.

[2022-01-14 05:49] engcom-November commented on #34964
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps performed:
Created Order using UPS Shipping method and money Order payment
Admin - Sales - Orders - View Order - Created Invoice
Created Shipment without selecting Shipping Label checkbox
Shipments - View shipment - Create Shipping Label
Issue: Unable to Add products or unable to save the details. Save button is

[2022-01-14 06:00] engcom-Hotel commented on #34833
Dear @mlaurense,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-14 06:00] #34833 closed, assigned to engcom-Hotel

[2022-01-14 06:14] engcom-Echo commented on #34903
Hi @MeCapron,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-dev but the issue is not reproducible.

Steps followed to reproduce issue:
1. Installed the fresh Magento 2.4-dev instance.
2. Added the following code to the extension_attributes.xml file.
[code]
3. Tested the generated code by using the below mention code
[code]
4. The above code successfully, wit

[2022-01-14 06:17] engcom-Echo commented on #34904
Hi @MeCapron,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-dev but the issue is not reproducible.

Steps followed to reproduce issue:
1. Installed the fresh Magento 2.4-dev instance.
2. Added the following code to the extension_attributes.xml file.
[code]
3. Tested the generated code by using the below mention code
[code]
4. The above code successfully, wit

[2022-01-14 07:05] calvinmuller commented on #34969
The interesting thing is it's not reproducible on the instance provided by yourself, what could cause this. It's literally a brand new install with composer.

I'm assuming some config/infra on your servers is just right and for me it's not.

the strange this is the json response contains values eg. `estimate-shipping-methods`
as you can see the price is 5
[code]
and here is what is displayed.

<im

[2022-01-14 07:14] calvinmuller commented on #34969
Same thing for the cart totals, the `window.checkoutConfig` has what it needs yet it shows 0.
<img width="799" alt="Screenshot 2022-01-14 at 09 14 15" src="https://user-images.githubusercontent.com/755442/149466712-1d5b396c-a3e5-42cc-980a-4bb6c1e99d71.png">

[2022-01-14 07:29] calvinmuller commented on #34727
@engcom-November How do I apply this as a patch to a magento installed via composer? `2.4.3-p1` ?

[2022-01-14 08:08] attheCube opened #34971 "(Custom) price attributes for website scope were only saved via API, if a value for this attribute and scope already exists or no other attribute is set for the scope"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Multiple websites
3. Price scope: website

### Steps to reproduce (*)

1. Create 2 websites and according store views
2. Add a product in global scope with all needed Attributes
3. Set a few Attributes in a specific store scope via API. (Request example below)
4. Add a new price-attribute called "test_price".
5. Set test_price via API for the same stor

[2022-01-14 08:12] attheCube commented on #34971
Seems to be related to https://github.com/magento/magento2/pull/34665 but the solution there is not working properly for this  case.
We confirmed this issue existing also in vanilla Magento open Source 2.4.3 and Commerce 2.4.4-beta3 .

[2022-01-14 08:36] engcom-Hotel commented on #30983
Hi @lykciv

I have followed the given steps to reproduce the issue:
make sure your environment is set to production mode
place an order
create a shipment for the order using the API endpoint: `/rest/all/V1/order/1/ship`
The shipment got created and returned the shipment ID. While debugging the aftercommitcallback function to make sure the events dispatch or not we found the `transactionlevel` to g

[2022-01-14 09:16] engcom-Hotel commented on #33766
Hello @Rohaty,

I have checked this issue in the fresh Magento 2.4-develop branch with `Paypal pay later` enable but for us, the issue is not reproducible, may be due to we do not have the Amasty reward points extension installed.

Please suggest to us other ways to reproduce the issue.

Thanks

[2022-01-14 09:16] ihor-sviziev commented on #34969
@calvinmuller, looks like this is duplicate of the https://github.com/magento/magento2/issues/33856 that was already fixed in the 2.4-develop branch. Could you try applying the change from the following comment:   https://github.com/magento/magento2/issues/33856#issuecomment-946761019?

[2022-01-14 09:58] MeCapron commented on #34903
Hello,

as I said previously you must use an object that uses a non FQN object, in your example :

`\cptest\Mymodule\Model\Response`

Your class should contain attribute that are object in the same class. Given your class in `app/code/MyModule/Model`

[code]

while Attribute is in : `app/code/MyModule/Model/Attribute.php`

As you see above, there is no "use" statement although there is either no F

[2022-01-14 10:07] Jakub-Czech commented on #9196
This issue is not solved, also on version 2.3.6.
Even if we can see from the ordered items report the SKU of the simple product it is actually wrong.
In `Magento\Reports\Model\ResourceModel\Product\Sold\Collection::addOrderedQty` in line 79 there is  following where condition: `order_items.parent_item_id IS NULL`
order_items is actually sales_order_item table and there is problem.
In this table th

[2022-01-14 10:13] dmanners opened #34972 "Composer install on cleanly created project fails"
### Preconditions (*)

1. Composer version 2.1.14 or 2.2.4
2. Have the composer json from running create-project --repository-url=https://repo.magento.com/ magento/project-community-edition <install-directory-name>

### Steps to reproduce (*)

1. Run composer install

### Expected result (*)

1. Clean installation of Magento2

### Actual result (*)

[code]

It seems like the version in repo.magent

[2022-01-14 10:47] Hexmage opened #34973 "[GraphQl] GraphQl exceptions are always logged in exception log, although they are normal use exceptions."
### Summary (*)

Every exception thrown by the graphql endpoint is logged in the exception log. Even though they are functional exceptions that are used to make the frontend work. Because these exceptions are so common, they fill up the exception.log very fast making finding breaking exceptions a lot more cumbersome. The same scenarios through the regular frontend or the api's would not appear in

[2022-01-14 10:53] calvinmuller commented on #34969
@ihor-sviziev how do I apply this patch when i've installed magento via composer? The code lives in the `vendor` directory?

[2022-01-14 10:53] calvinmuller commented on #33856
how do I apply this patch when i've installed magento via composer? The code lives in the vendor directory?

[2022-01-14 10:54] ihor-sviziev commented on #34969
@calvinmuller, here you can find the instruction https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/patches/overview.html#custom-patches

[2022-01-14 11:36] dmanners commented on #34972
Seems to be linked to https://github.com/magento/composer/issues/33

[2022-01-14 11:57] densen45 commented on #31428
I experienced that the merge that @hostep referenced in https://github.com/magento/magento2/issues/31428#issuecomment-952079113 solves only part of the issue.

After applying the modifications to the Alert.php and Sitemap.php I get the following error:
[code]

The changes applied to the Alert.php and Sitemap.php need to be applied to the Cron.php as well.
[code]

Has anyone else experienced this?

[2022-01-14 11:58] LRotherfield commented on #33856
@calvinmuller you can install patches in the vendor directory with https://github.com/cweagans/composer-patches

[2022-01-14 12:43] MeCapron commented on #34904
Hello, thanks for watching out this issue. I retried and figured out that I shuffled two issues. Very sorry about this.

This issue still persists in this way :

1. Add an extension_attribute that is an objet model
[code]

[code]

2. Generate the code `bin/magento c:c && bin/magento setup:di:compile`
3. Try to save the customer, you will pass in `vendor/magento/framework/Reflection/ExtensionAttrib

[2022-01-14 15:24] support-smartebusiness opened #34974 "filter product collection by id on category page not working"
### Preconditions (*)
- Magento version - 2.4.3-p1 (enterprise) with sample data

### Steps to reproduce (*)
1. Create a custom module
2. Add Plugin which uses `Magento\Catalog\Model\ResourceModel\Product\Collection`
3. Add filter for the product which is not appeared on the first page, means it will appear on the >= 2 page of the category.
[code]
5. Try to access the category from frontend. For m

[2022-01-14 15:28] engcom-Hotel commented on #33555
We are reopening this issue for further analysis.

[2022-01-14 15:48] ihor-sviziev commented on #34972
Hi @dmanners,
Yeah, it was a duplicate of https://github.com/magento/composer/issues/33 that is already fixed https://github.com/magento/composer/issues/33#issuecomment-1013237236.

[2022-01-14 16:03] sdzhepa commented on #34972
The issue is already fixed and fix was confirmed https://github.com/magento/composer/issues/33#issuecomment-1013237236
I assume we can close this issue as already fixed

[2022-01-14 16:03] #34972 closed, assigned to nobody

[2022-01-14 23:10] stevekem opened #34975 ""Can not resolve reCAPTCHA parameter" entries in exception.log for Google reCAPTCHA Admin Panel"
### Preconditions (*)
1. Magento 2.4.3-p1

### Steps to reproduce (*)
1. Go to Configuration > Security > Google reCAPTCHA Admin Panel

2. Add your Google API Website Key & Google API Secret Key to any reCAPTCHA below:

reCAPTCHA v2 ("I am not a robot")
reCAPTCHA v2 Invisible
reCAPTCHA v3 Invisible

3. Select your reCAPTCHA version (with API keys above) for either below:

Enable for Login
Enable f

[2022-01-15 12:45] MelissaVE opened #34976 "VAT on Delivery Cost is wrongly calculated."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-01-15 12:46] MelissaVE commented on #34976
![BTW](https://user-images.githubusercontent.com/97790897/149622208-93e67bbb-4784-4911-93f5-58e37723d456.PNG)

[2022-01-15 15:46] denistrator commented on #29721
Easy workaround
[code]

[2022-01-15 16:30] markshust commented on #34950
@magento give me 2.4-develop instance

[2022-01-16 07:57] in-session opened #34977 "secureRenderer attributes are convertet in unicode"
Insert a script into a phtml file, for example:

[code]

Script tag output:
[code]

[2022-01-16 12:50] AtifChatdroid commented on #32609
Same issue here when upgrading to magento version 2.4.3-p1

[2022-01-16 17:51] max3w commented on #30685
I have the same problem. I'm in `bin/magento deploy:mode:set developer`, install demo data `bin/magento sampledata:deploy` then update `bin/magento setup:upgrade` And I get an error: Unable to apply data patch Magento\CatalogRuleSampleData\Setup\Patch\Data\InstallCatalogRuleSampleData for module Magento_CatalogRuleSampleData. Original exception message: Rolled back transaction has not been complet

[2022-01-17 04:24] bigware commented on #31268
I found the reason and simple solution why swatches don't show when all are out of stock.

The issue is Magento checks the function isSaleable() regardless if the item is configurable or not. Here are few fixes.

In file:
https://github.com/magento/magento2/blob/c36492997ce9aa7949ef59b201da1be2ebe537bc/app/code/Magento/Catalog/view/frontend/templates/product/view/form.phtml
Remove both `$_product-

[2022-01-17 04:53] #33826 closed, assigned to engcom-Hotel

[2022-01-17 07:35] madbounce commented on #34969
@magento give me 2.4.3-p1 instance

[2022-01-17 09:43] engcom-Hotel commented on #34294
Hello @chequille,

We have tried to reproduce the issue again but we are unable to get the order total as 0. Maybe we have different tax calculations, below are the screenshots for the same:

**Checkout Page**
![image](https://user-images.githubusercontent.com/51681618/149745768-6289fb20-66fc-45d2-92ac-4c43ff8e771c.png)

**Tax Calculation Settings**
![image](https://user-images.githubusercontent.c

[2022-01-17 10:21] pcis-mub opened #34978 "Error after disabling MSI on v2.3.4"
We have been using this site for over a year now and MSI was a pain since the inventory was always wrong. So eventualy we decided to disable MSI. Everything worked fine on the dev instance but as soon as disabled MSI on LIVE; we started getting error during compile

### Preconditions (*)
1. Magento v2.4.0 with MariaDB 10.2.38
2. PHP 7.2.34
3. Apache 2.4.6
4. redis 6.2.4
5. CloudFlare Firewall & CD

[2022-01-17 12:21] engcom-Echo commented on #34735
Hi @psydog-1101,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket with the requested details in last comment if you need more assistance on this.

Thanks

[2022-01-17 12:21] #34735 closed, assigned to engcom-Echo

[2022-01-17 12:48] engcom-Echo commented on #34969
Hi @calvinmuller,

Thank you for reporting the issue.

I have tried this issue on the fresh installation (Magento 2.4-dev/2.4.3-P1) but I am not able to reproduce it. (See the attached screenshot.)

<img width="1440" alt="Screenshot 2022-01-14 at 1 12 53 PM" src="https://user-images.githubusercontent.com/51681435/149771839-2ec44c52-1f61-4b75-9e05-7aaacee0c00e.png">

Could you please provide some m

[2022-01-17 12:52] engcom-Echo commented on #34971
Hi @attheCube,

Thank you for reporting the issue.

I have tried this issue on the fresh installation (Magento 2.4-dev/2.4.3-P1) but I am not able to reproduce it.

The special price setup and its API is working as expected. Could you please provide more details on steps 3, 4, 5 and the provided request sample is not working so please provide the exact request which is causing the issue ?

Thanks

[2022-01-17 12:53] bireney commented on #34224
Assign to me

[2022-01-17 13:00] engcom-Echo commented on #34904
Hi @MeCapron,

I understood the issue now which you are getting but it seems it's not an actual issue, after debugging it some more I found that buildOutputDataArray($dataObject, $dataObjectType) needs an object and its type, and on the basis of object type it loads the interface. But in our case, we are using the standard PHP date time object for which Magento doesn’t have an interface available.

[2022-01-17 13:24] #31351 closed, assigned to nobody

[2022-01-17 14:03] engcom-Echo commented on #34952
Hi @manuelcanepa,

I have tried the way you said. Updated bundle product configuration “Ship Bundle Items” as “Together” on the bundle config, and tested the scenario again and I still get the package weight in shipping and shipping carrier file ($request->getPackageWeight()). See the attached screenshot. It seems the shipping and carrier working as expected.

<img width="1440" alt="Screenshot 202

[2022-01-17 14:33] manuelcanepa commented on #34952
I will keep with the premise: I dont know if this is a issue. I find how to reproduce. The weight is set on simple products. If i set weight on configurable, is working fine (Together or Separately). The way to reproduce this issue is setting weight ONLY on simple product. I suppose that is an issue because in some cases the simples may have differents weights based on his attributes. Think on fla

[2022-01-17 14:51] manuelcanepa commented on #34952
btw, i need to metion @engcom-Echo ?

[2022-01-17 15:56] attheCube commented on #34971
Hi @engcom-Echo ,

I adjusted the description.
Please check again.

Thank you.

[2022-01-17 16:19] VZeroCool commented on #34752
@engcom-November, I tested it with both Sandbox and Production mode and I'm able to reproduce issue.
Regarding Re-Verification we have enabled it.
So You're saying that it will work in live CC with Production mode?

[2022-01-17 16:28] Melnychuk-Alexandr commented on #34380
Hi @hardiksinh thank you for your comment! Please give me more information, for example: steps to reproduced.

[2022-01-17 16:56] joinso commented on #34218
Same issue with this conditions:
1.- Magento ver. 2.3.5
2.- In magento admin navigate to Stores -> Configuration -> Catalog -> Inventory, select "Display Out of Stock Products" = "Yes"
3.- In magento admin navigate to Stores -> Configuration -> Catalog -> Catalog, select "Price Navigation Step Calculation" = "Automatic (equalize product counts)"
4.- Just only Virtual products.
Error:
Notice: Undef

[2022-01-17 17:49] Aquarvin commented on #34937
[code]

[2022-01-17 18:54] MeCapron commented on #34903
Hello!

After banging my head against the wall for an hour and digging in with the debugger, I finally found out what was going on.

Come here with news. Unluckily, the "Attribute" class exists without any namespace and works on a Vanilla Magento 2.4 instance. How unlucky could it be?

In order to show you how I reproduce it, I made a repository with the module I used, as it would be simplier for

[2022-01-17 19:13] anderspirlo commented on #34959
Hi @engcom-November

Thanks for the quick reply. In your [first screenshot](https://user-images.githubusercontent.com/60198231/149167492-ccb3da2a-ba91-470c-808a-d3b2914a81a4.png) as far as, I can see, you replicate my settings correctly,
The discount amount displays 5,00 USD (excl. VAT), allthough the correct amount for display should be 5,50 USD incl. VAT.

You write: Hence breakup details are no

[2022-01-17 19:44] tprocter1984 commented on #15910
I've narrowed the issue down to the following code, not entirely sure why but patching this out has helped me out:

`lib/web/jquery/ui-modules/dialog.js`

`            if (!this.opener.filter(":focusable").focus().length) {

                // support: IE9
                // IE9 throws an "Unspecified error" accessing document.activeElement from an <iframe>
                try {

[2022-01-17 21:57] chequille commented on #34294
Hi @engcom-Hotel,

sorry, but this is now a completly different bug.
Where is the 3,31€ coming from?
Sorry, product is €17,40, discount is €17,40
With my calculator 17,40 -17,40 is ZERO

We do not have to go one if the order is wrong as it is above in your example.
But, to answer your question: the settings are the same in my setup.

BR
Chequille

[2022-01-18 05:46] engcom-Hotel commented on #34978
Hello @pcis-mub,

Thanks for posting the issue!

Please let us know the exact changes you made in the `composer.json` file. This will help us in the reproduction of the issue.

Thanks

[2022-01-18 06:09] pcis-mub commented on #34978
We added the following modules under "replace" in composer.json

	"replace": {
		"magento/inventory-composer-installer": "*",
		"magento/inventory-composer-metapackage": "*",
		"magento/module-inventory": "*",
		"magento/module-inventory-admin-ui": "*",
		"magento/module-inventory-advanced-checkout": "*",
		"magento/module-inventory-requisition-list": "*",
		"magento/module-inventory-api": "*",

[2022-01-18 06:53] mimou78 commented on #34223
@magento give me 2.4-develop instance

[2022-01-18 07:14] bireney commented on #34180
Assign to me

[2022-01-18 08:01] darthbit commented on #30277
problem still persists.. fix this, why is whole thing crashing when you disable 1 module, that should absolutelly not happen

[2022-01-18 09:34] tuanpht commented on #33100
I think this issue is fixed by https://github.com/magento/magento2/commit/f26c3ddac4ab1def55a5b3acee29cec9712b9194

[2022-01-18 09:40] hardiksinh commented on #34380
@Melnychuk-Alexandr Steps are really straight-forward to reproduce issue:
1. Login to admin panel of your Magento 2.4.3
2. Click on Catalog -> Products menu to go the products grid
3. Select products from the grid either by "Select All" or "Select All on This Page" or manually checking checkbox of product.
4. From the Actions drop-down on product grid, choose "Update Attributes".

If you are in de

[2022-01-18 09:49] Melnychuk-Alexandr commented on #34380
Hi @hardiksinh, thank you for your answer!

[2022-01-18 09:51] florianComp commented on #8933
Magento 2.4.3 i have the same error when i import product with Php

[2022-01-18 10:27] savan13 commented on #18752
I'm facing errors when editing the products.
Can please help me out.
![image](https://user-images.githubusercontent.com/38579373/149919552-8b34d1df-39be-41ec-ac89-f1d7cc99091b.png)

[2022-01-18 10:28] tuanpht commented on #33100
Sorry, it is not fixed.

The above commit hasn't fixed the root cause, which is when order submit failed: Decrement may be executed before Increment, because they are queue jobs and there is no mechanism to ensure which job should be run first.

https://github.com/magento/magento2/blob/44a86cbbc5a2d6c8309de34922818c3e04b2dcd1/app/code/Magento/SalesRule/Plugin/CouponUsagesIncrement.php#L52,L56

[2022-01-18 10:52] mischabraam opened #34980 "Bulk API operation field is too small"
https://github.com/magento/magento2/blob/44a86cbbc5a2d6c8309de34922818c3e04b2dcd1/app/code/Magento/AsynchronousOperations/etc/db_schema.xml#L45

As you can see in the db schema the type of column `serialized_data` is `BLOB`. This is very short. If you consider processing a lot of data is faster doing asynchronously I would expect that this column can at least store data of `MEDIUMBLOB`.

[2022-01-18 11:02] engcom-November commented on #34976
@magento give me 2.4-develop instance

[2022-01-18 11:05] MagicLegend opened #34981 "Customer who exceeded max login failures not able to login even after reset password"
### Preconditions (*)

1. Magento 2.4.0 CE

### Steps to reproduce (*)

1. Lock yourself out of a customer account
2. Reset the password
3. Lock is still active

### Expected result (*)

1. Lock yourself out of a customer account
2. Reset the password
3. Lock is removed

### Actual result (*)

1. Lock yourself out of a customer account
2. Reset the password
3. Lock is still active
4. The User acco

[2022-01-18 11:11] mischabraam commented on #34746
Because it can (and works) it doesn't mean it's correct. With PHP you can write very very ugly code that works even though it shouldn't. It's up to us as developers not to abuse it, but write good code that follows the principles described.

Scoping of `private` should only be invoked by the class itself.
Scoping of `protected` should only be invoked by the class itself and inheriting classes.
Sco

[2022-01-18 11:48] pablomishchenko commented on #34614
@magento I am working on this

[2022-01-18 12:25] m2-assistant[bot] opened #34982 "[Issue] Reset custom attribute value after it is updated with setData"
This issue is automatically created based on existing pull request: magento/magento2#34911: Reset custom attribute value after it is updated with setData

---------

### Description (*)

This solves an issue where an old custom attribute value becomes stale in the
custom attributes array after the value of the custom attribute is changed
through `setData` instead of `setCustomAttribute`. The fix i

[2022-01-18 13:04] LeanderFS commented on #11998
Reopening as the exact same issue also seems to be happening for tier prices.

2 different cases where this bug occurs:
---
1. Set price display type to "Excluding tax"
2. Create a simple product and add a tier price (For example: 50 pieces for x amount)
3. Go to the product page and change the quantity selection box to 50
4. The price doesn't update as `updateProductTierPrice` in `price-box.js` e

[2022-01-18 13:07] LeanderFS commented on #11998
@magento give me 2.4.3 instance

[2022-01-18 13:25] LeanderFS commented on #11998
Reproduced on a fresh 2.4.3 instance.

[2022-01-18 13:48] evs-xsarus commented on #33565
How could this be closed? the issue still exists for instance when upgrading from 2.4.2 to a later version. The data with the problem is still there, thus breaking the API call. @engcom-Delta the logic where an existing record in the subscription table is updated, seems wrong. How can a customer subscribe to multiple store fronts this way?

[2022-01-18 14:08] sdzhepa commented on #34613
@magento give me 2.4-develop instance

[2022-01-18 14:30] fidellakis commented on #33162
@magento give me 2.4.3 instance

[2022-01-18 14:49] LeanderFS commented on #11998
@magento I am working on this

[2022-01-18 14:50] LeanderFS commented on #11998
@magento add to contributors team

[2022-01-18 15:11] Melnychuk-Alexandr commented on #34626
https://user-images.githubusercontent.com/92367120/149963559-cb3465d5-fb97-4332-853b-c6b5583b68ba.mp4

I could not reproduce this problem.

[2022-01-18 15:12] stefantoczek commented on #34851
I faced exactly same issue as OP while iterating huge order collection using foreach and adding `return` as first statement in methods you suggested fixed error locally

[2022-01-18 15:20] engcom-Hotel commented on #34977
Hello @in-session,

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, it is not reproducible. We are able to get the proper `script` tag.

We have tried it in `Checkout/view/frontend/templates/onepage.phtml` file:
![image](https://user-images.githubusercontent.com/51681618/149965489-5e92b65d-273d-4ac3-8e00-5085107d657f.png)

Please let us know if we have missed anythin

[2022-01-18 15:46] in-session commented on #34977
@engcom-Hotel

I cross-checked your info again, the problem is not visible in the console as the Unicode characters are converted here.
Can you look into the source code directly: view-source:https://....

![Screenshot 2022-01-18 164540](https://user-images.githubusercontent.com/16542619/149970175-36d0e8c9-1ecd-4071-9585-01820fe8d8a7.png)

[2022-01-18 15:58] stefantoczek commented on #34851
recently I came across similar issue and found out that the 2nd class you mentioned is causing it and adding `return;` as first line in methods body fixes it as basically this method saves every loaded entity into lookup table of some sort
I haven't found any elegant way for running code iterating over huge collections except for dirty plugin way:

[code]
basically, when you need to run huge expor

[2022-01-18 16:08] ioweb-gr commented on #34851
Well in my case I tried it with those two function bodies removed and the issue persisted. Not sure why.

[2022-01-18 16:12] nuzil commented on #34980
Hi @mischabraam did you have usecases when data was bigger then 64Kb?
Cause we using API intensively and didnt hit this limit with Magento APIs

[2022-01-18 16:33] nuzil commented on #34976
Hi @MelissaVE  can you rovide a bit more infromation what is wrong? My Dutch is not so good as I want to :-)
Also how Tax is configured in your system in details

[2022-01-18 17:23] askrun opened #34984 "Add multiple product and categories in Magneto2.in one instance"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2022-01-18 17:27] askrun commented on #34984
hi
i am setup my e-commerce site through softaculuos magento2.3.7
    Summary of the issue-want to add bundle categories and products in one instance,please support.
    Information on your environment- Magneto 2.3.7 -p2
    Steps to reproduce- R&N
    Expected and actual results--Need to upgrade Features ,But it is not supported by Softaculous.

[2022-01-18 17:33] kingshukdeb commented on #34895
Can you give a machine where i can check the same?

[2022-01-18 19:50] MelissaVE commented on #34976
Magento ver. 2.4.1-p1

Tax on deliv. cost is INCL.
Tax on product cost is INCL.
6% Tax rate

Subtotal €31,48 + Del cost €2,99 = Total €34,47 (CORRECT)

If you do the callculation 6% on the total cost, this should be €2,06. But only the subtotal tax is shown, not the delivery tax €0,18. So most of the time we're missing the tax on the delivery cost.

@nuzil : if you need more info, just ask ;-)

[2022-01-18 19:52] MelissaVE commented on #34976
![image](https://user-images.githubusercontent.com/97790897/150008673-50931789-9c72-4642-ae34-7879ee258b55.png)

[2022-01-18 21:26] sidolov commented on #23908
@hostep , @ihor-sviziev as far as I can see the issue was fixed in scope of commit: https://github.com/magento/magento2/commit/6f0623f3f0f95ecdb960f5de89371fb8c8d51abc

[2022-01-19 03:07] sukeshini-kot commented on #32996
Is there any update on this?

[2022-01-19 05:52] engcom-Hotel commented on #34928
Dear @mhafizumer,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-19 05:52] #34928 closed, assigned to engcom-Hotel

[2022-01-19 05:55] engcom-Hotel commented on #34980
Hello @mischabraam,

Thanks for posting the issue!

I agree with @nuzil, please let us know the use case. It will help us in issue reproduction.

Thanks

[2022-01-19 05:55] engcom-November commented on #34982
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
since multiselect attribute value is saved but as per user comment multiselect attribute value is not saved.
![image](https://user-images.githubusercontent.com/60198231/150072402-eb5e1546-3b0b-43a3-8549-4079289d07b9.png)

[2022-01-19 05:58] engcom-Hotel commented on #34981
@magento give me 2.4-develop instance

[2022-01-19 05:58] engcom-November commented on #34970
Hi @marcelloinfoweb,
Increment and Decrement buttons are not present in Store front - Product Details / Shopping Cart pages in Clean 2.4-develop instance. Kindly recheck the issue on Magento 2.4-develop branch and elaborate the steps / configuration details to reproduce the issue.
Thank you.

[2022-01-19 06:06] engcom-November commented on #31898
Hi @fkukus ,
We are closing this issue as there has been no latest on the same.
Thank you.

[2022-01-19 06:06] #31898 closed, assigned to engcom-November

[2022-01-19 06:07] engcom-November commented on #34912
Hi @TysvdHeuvel ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-01-19 06:07] #34912 closed, assigned to engcom-November

[2022-01-19 07:55] MM-Ebner opened #34987 "Payment Transaction failed: SQLSTATE[23000]: Integrity constraint violation: 1062 / v.1.9.4.2"
### Preconditions (*)
Magento ver. 1.9.4.2
Not extension (as much as I know)

### Steps to reproduce (*)
Store customers orders products while choosing PayPal or Stripe as payment method.
Unfortunately, I can not give a more accurate reproduction, because I am still looking for the cause of the error.
Error occurs for about a week now.

### Expected result (*)
1. Order is completed successfully
2.

[2022-01-19 08:03] #34486 closed, assigned to IlyaCid

[2022-01-19 08:20] JithinTerrificminds commented on #20256
Just in case if anyone needs : https://magento.stackexchange.com/a/352164/81418

[2022-01-19 08:39] m2-assistant[bot] opened #34988 "[Issue] Update `indexer:reset` to call `$indexer->invalidate()`"
This issue is automatically created based on existing pull request: magento/magento2#34582: Update `indexer:reset` to call `$indexer->invalidate()`

---------
I was recently debugging something that was invalidating the indexers.

I added some logging using a before plugin on the `invalidate` function

[code]

But this use case isn't caught in my logs.

It seems to me that this command should just

[2022-01-19 08:45] MeCapron opened #34989 "External DTOs should be usable as part of ExtensionAttributes system"
### Summary (*)

External classes such as DTO can not be used as part of extension attributes system if they are not arrays, because Magento2 will try to instantiate the object through the ObjectManager as if it was a `\Magento\Framework\DataObject::class`

### Examples (*)
Example :

[code]

In this example, while calling :

[code]

For the attribute `test2` we will call :
- https://github.com/pe

[2022-01-19 09:09] engcom-Hotel commented on #34981
Hello @MagicLegend,

Thanks for posting this issue!

We have tried to reproduce the issue in Magento 2.4-develop branch and it is not reproducible for us, we have followed all the steps mentioned in the main description.

The account has been unlocked after some time, please ensure that the cron has been installed for that instance. Let us know if we have missed anything.

Thanks

[2022-01-19 09:12] MagicLegend commented on #34981
@engcom-Hotel

But that is not the issue. The issue is that it doesn't immediately unlock the account after a password reset. This caused confusion for our customers, and I personally agree that it is odd behaviour that I can't see a security-improvement for. I see that this used to be the case before M2.4, so I am wondering why this was changed.

Thank you for your time.

[2022-01-19 09:15] engcom-November commented on #34936
Hi @mdvm7 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-01-19 09:15] #34936 closed, assigned to engcom-November

[2022-01-19 09:33] leduydong94 opened #34990 "Create new Account with Date of Birth in magento 2.4.3"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Set locale: Timezone is Brasilia Standard Time (America/Sao_Paulo); Locale is Portuguese (Brazil).
2. Set config Show Date of Birth is Optional or Required in Configuration->Customers->Customer Configuration->Name and Address Options
3. Create an Account in frontend

### Expected result (*)

1. Form create display normally

##

[2022-01-19 09:41] Melnychuk-Alexandr commented on #34886
@magento I am working on this

[2022-01-19 10:47] savan13 commented on #18752
How will fix that issue? Can you please explain? @josenacasabogiii

[2022-01-19 10:51] tuanpht commented on #34956
Related to https://github.com/magento/magento2/issues/30214

[2022-01-19 11:21] novakivskiy opened #34991 "GraphQL Bundle Options generates wrong DB request and result"
The class `\Magento\BundleGraphQl\Model\Resolver\Options\Collection`  generates an erroneous query to the database.

Error in 2 parts of the code:

[code]
and
[code]
As a result, a query is generated:
<img width="952" alt="bundle_gql" src="https://user-images.githubusercontent.com/971021/150120264-45ed946a-189a-4ffa-82ae-16cc0615105b.png">

### Preconditions (*)

The error was repeated CE 2.3.6. I

[2022-01-19 12:00] tuanpht commented on #34956
Related commit https://github.com/magento/magento2/commit/77e1e2beacbcd03da2fe612ccfdb6c0c23e00951

[2022-01-19 12:55] aapokiiso commented on #34982
@engcom-November Interesting that it wasn't reproducible with the multiselect attribute. I will try to find another scenario to test this on. What do you think of the PR code changes otherwise, do they make sense to you?

[2022-01-19 13:49] 0xMatt commented on #34975
Same issue. Happens all the time.

[code]

Captcha works. The badge is loaded and visible. When I go to log in, I'll get an error message saying something went wrong. I'll have to log in 2-3 times and around the third time it'll let me in. No javascript console errors are present during this issue.

[2022-01-19 14:08] markshust commented on #34950
@magento give me 2.4-develop instance

[2022-01-19 14:24] 0xMatt opened #34993 "PayPal IPN Fails with Multiple Merchant Accounts"
### Preconditions (*)

1. CentOS 8
2. PHP 7.4
3. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Setup default PayPal Pro merchant account information used by primary store
2. Setup secondary PayPal Pro merchant account scoped to the secondary website config

### Expected result (*)

1. IPN posts back successfully

### Actual result (*)

1. Error occurs, IPN does not use the store ID from the ord

[2022-01-19 14:48] #33764 closed, assigned to nobody

[2022-01-19 14:53] 0xMatt commented on #34993
I cannot provide my PayPal credentials into a demo instance. How should I go about reproducing this? I can provide access to my server from a Magento staff member, but that's about it as far as giving any sort of access to our merchant information.

[2022-01-19 14:56] korovitskyi commented on #33586
@magento I am working on this

[2022-01-19 15:44] Nazar65 commented on #23180
This issue should be reopened as well!

[2022-01-19 16:06] quterorta opened #34994 "Combine tier price and catalog price rules"
If we used in project tier price and catalog price rules, Magento pick rule, wich return min price. So, i have a question, how i can combine  this rules? I need the discount should be calculated based on tier price, not regular price.

[2022-01-19 16:43] tschallacka commented on #34375
@gjportegies use this fix as a patch https://github.com/magento/magento2/issues/34375#issuecomment-958722456

[2022-01-19 18:47] glo05363 commented on #34065
After Analysis with 2.4-develop we have found out that sales.rule.update.coupon.usage is introduced under consumer queue to avoid deadlock under high load when a lot of concurrent orders are placed at the same time.
Follow all the steps to place order and run following consumer command:

**bin/magento queue:consumers:start sales.rule.update.coupon.usage**

The "salesrule_coupon_usage" table will g

[2022-01-19 21:15] boelmanj commented on #13396
@hansvanl Thank you. This solved my problem easily!

[2022-01-20 01:38] stevekem commented on #34975
Yes this happens as well,  I forgot to mention that. Thank you!

[2022-01-20 07:36] ihor-sviziev commented on #23908
@sidolov thank you!

[2022-01-20 08:58] in-session commented on #34977
@engcom-Hotel

I have once made a test PR:
https://github.com/magento/magento2/pull/34996

[2022-01-20 09:32] josenacasabogiii commented on #18752
Hi @savan13

I fixed it by checking the sales order table with some duplicate entries on some increment order id or something like that. You have to check your Magento error logs to point out the specific error because this error is triggered in many different ways when it comes to magento migration. It was luck fixing it on my because I just read some similar issues in in stack Magento exchange a

[2022-01-20 09:46] savan13 commented on #18752
@josenacasabogiii

In error log shows this error: `[2022-01-20 09:43:03] main.CRITICAL: Rolled back transaction has not been completed correctly. {"exception":"[object] (Exception(code: 0): Rolled back transaction has not been completed correctly. at /var/www/html/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php:310)"} []`

Can please look into this?

[2022-01-20 09:57] dniprotrophy commented on #34991
PR: https://github.com/magento/magento2/pull/34992

[2022-01-20 09:58] in-session commented on #34977
https://github.com/magento/magento2/issues/30524

[2022-01-20 09:58] #34977 closed, assigned to engcom-Hotel

[2022-01-20 09:59] #34899 closed, assigned to engcom-Echo

[2022-01-20 10:32] Nuranto opened #34997 "Remote Storage Error"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Remote storage enabled (S3)

### Steps to reproduce (*)

1. Delete a product image directly in S3 to simulate a missing file
2. Load the related product edit page.

### Expected result (*)

1. Image is not displayed.

### Actual result (*)

1. Product form is not displayed, error instead :  `Notice: Undefined index: media/catalog/product/t/e/test-inexi

[2022-01-20 10:39] DJB95 commented on #34375
this might be obvious to you guys, but in what directory can I apply this patch?
Our installation doesn't have the directory app/code/Magento/Directory/Model
I tried creating it myself and adding the Currency.php file there, but it doesn't work.

I'm on Magento 2.4.1 btw (soon updating to 2.4.3)
Our numbers are formatted like this: **0,-** (no currency symbol)

#NotARealProgrammer:D

[2022-01-20 10:46] drinkingsouls commented on #25427
I have this issue that has appeared since upgrading to 2.4.3. Was there any progress made with this?

[2022-01-20 10:48] gjportegies commented on #34375
@DJB95 I've added the patch via `composer.json`:

[code]

The patch file `patches/composer/github-issue-34375.diff` contains the following:

[code]

[2022-01-20 10:50] IanFiretoys commented on #34375
@DJB95
the github repo for magento is an image of a non-composer based install. in an instance of magento installed through composer they would be in the vendor/magento folder (the rest of the path will usually be the same). but just replacing that file isn't recommended as it will be overwritten.

most recommend using composer patches: https://github.com/cweagans/composer-patches

with that you c

[2022-01-20 10:53] DJB95 commented on #34375
@gjportegies & @IanFiretoys thanks guys! will give it a shot!

[2022-01-20 11:02] drinkingsouls commented on #33749
I'm experiencing this issue since upgrading to 2.4.3
Is commenting out the following in Authentication.php currently the best way around this?

[code]

[2022-01-20 11:08] DJB95 commented on #34375
@gjportegies @IanFiretoys just tried that, but it doesn't solve the issue. See the image below:
![image](https://user-images.githubusercontent.com/74458320/150327367-465b4e46-2225-49e0-8488-1bf746bf1ede.png)

the currency symbol is not there, but it adds the **.-**
Is it correct that this is not solved by this patch?

[2022-01-20 11:34] krishprakash commented on #34961
Hi @Exxor87. Thank you for your report.
Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2022-01-20 11:34] #34961 closed, assigned to krishprakash

[2022-01-20 11:47] savan13 commented on #18752
@josenacasabogiii  Hope you are doing well !!

I have found that solution.
The solution is some 3rd part module database table not defined properly `AUTO INCREMENT & PRIMARY KEY`.
I have checked to disable one-by-one module & check them & got the error.
Now it's working fine.

[2022-01-20 13:04] Green2Matter opened #34998 "Error: Call to a member function getCustomerName() on null"
### Preconditions (*)

1. Magento CE 2.4.3-p1
2. Ubuntu 20.04.3, PHP7.4, Percona MySQL8.0, Varnish 6.5, Elasticsearch 7

### Steps to reproduce (*)

Go to admin panel - Stores - Settings - Configuration -> Catalog -> RSS Feeds - Enable RSS Config, Wishlist -> Save Config
Clear Cache
Front-end - Login as Customer - Add Products to Wish list
My Wish list -> Share Wish List -> Enter email id , messag

[2022-01-20 13:11] engcom-November commented on #34990
Hi @leduydong94,

Thank you for reporting the issue.

I have tried this issue on the fresh installation (Magento 2.4-dev/2.4.3-P1) but I am not able to reproduce it. Account is getting created.
![image](https://user-images.githubusercontent.com/60198231/150344961-56544fa7-1fd8-4965-a36a-ccd8009b8431.png)
![image](https://user-images.githubusercontent.com/60198231/150345201-77735e99-37b1-4e62-929d-

[2022-01-20 13:15] engcom-November commented on #34962
As the issue is not reproducible on 2.4-develop branch and its relevant PR has been closed with [comment](https://github.com/magento/magento2/pull/34960#issuecomment-1011922363), we are closing this issue.

[2022-01-20 13:15] #34962 closed, assigned to engcom-November

[2022-01-20 13:20] engcom-November commented on #34895
Hi @kingshukdeb , currently we are not able to get Magento 2.4-develop instance from bot (ongoing issue). 2.4-develop can we installed in local machine via git: https://github.com/magento/magento2/ and Enterprise edition modules can be installed/enabled on top of it. Kindly recheck the behavior on Magento 2.4-develop branch having Enterprise edition modules and provide missing steps if any if the

[2022-01-20 13:23] engcom-November commented on #34940
Hi @johannabg,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-01-20 13:23] #34940 closed, assigned to engcom-November

[2022-01-20 13:34] #34987 closed, assigned to engcom-November

[2022-01-20 13:35] MM-Ebner commented on #34987
We found the problem and fixed it.
This was the solution: https://www.tutorialspoint.com/what-is-the-maximum-value-of-smallint-6-unsigned-in-mysql#:~:text=The%20maximum%20value%20of%20SMALLINT(6)%20unsigned%20in%20MySQL%20is,width%20on%20the%20command%20line.&text=Whenever%20you%20insert%20beyond%20the,this%20is%20the%20maximum%20value.

[2022-01-20 13:41] pwalus commented on #34887
Hello @engcom-Echo @nthurston  I've also encountered this issue. I did some debugging and found out that:

In the file vendor/magento/module-catalog-search/Model/Indexer/Fulltext/Action/Full.php:386

[code]

1. I want to reindex all products in catalogsearch so I run on a server `bin/magento index:reindex catalogsearch_fulltext`
2. Magento reindexes products until condition `while (count($products

[2022-01-20 13:45] markvds commented on #26467
For anyone that runs into this issue: The problem is indeed somewhere in the layout files. I didn't dive into it too deep, but found  that the block name `content` in all login layout files of Msp_TwoFactorAuth interferes with some other block in the layout. Maybe it's another Magento module, maybe it's some external module.

Renaming the block names to something different (like `twofactorauth.con

[2022-01-20 13:48] engcom-November commented on #34991
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
![image](https://user-images.githubusercontent.com/60198231/150350849-84520916-7286-4101-8a45-29a4dd832223.png)

Exception:
`
[2022-01-20T13:44:26.152445+00:00] main.ERROR: Notice: Undefined offset: 16 in /var/www/html/mgcl24/magento2ce/app/code/Magento/BundleGraphQl/Model/Resolver/Options/Collection.php on line 139

G

[2022-01-20 13:50] mortenbirkelund commented on #30925
We just faced this issue when creating a user-role.. Clearing the cache worked.
Is this just one of those peculiar things you have to accept in magento?

[2022-01-20 14:28] hostep commented on #30925
@mortenbirkelund: hmm yeah, I didn't open a new issue because I didn't have the time to verify if this was still a problem on the latest version of Magento. But if you can confirm that the same problem happens on the latest version of Magento, I think it would be wise to open a new issue so it gets solved one day or another.

[2022-01-20 14:54] enr-beck-mellow opened #35001 "Sitemap contains utility pages in multi store setup"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

1. Create second store view
2. Duplicate "home" (or "enable-cookies" or "no-route") cms page
3. Set "Page in websites" of original page to default store view and for the duplicate page to second store view
4. Change autogenerated url key of the duplicated page to the same url key like the original page (may be optional)
5. Ass

[2022-01-20 15:14] birdman002 commented on #33749
Yes it is email your account manager

[2022-01-20 15:16] sdzhepa commented on #34613
@magento give me 2.4-develop instance

[2022-01-20 15:33] SilinMykola commented on #33823
@magento give me 2.4-develop instance

[2022-01-20 18:31] slavvka commented on #34461
@magento give me 2.4-develop instance

[2022-01-20 19:14] stevekem commented on #34975
Just wanted to note that we are getting the "Something went wrong with reCAPTCHA. Please contact the store owner." error on frontend too, not just on Admin.  The 12,000+ daily log entries are happening with Admin module though.

[2022-01-20 19:45] cmuench commented on #34090
We have a good experience with this setting. It's also set in Magento Cloud environments as default.

[2022-01-20 20:25] naomirobichaud commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2022-01-21 00:53] samueldemir opened #35003 "configuration path contact/contact/recipient_email not existing in Magento 2.4.2"
### Preconditions (*)
1. Magento version 2.4.2
2. Ubuntu 20.04

### Steps to reproduce (*)
1. Searching the conf_set path for contact 'Send Emails To' on https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-most.html
2.  Running `php bin/magento conf:set contact/contact/recipient_email xxx@xx.de` throws error that path does not exists

### Expected result (*)
1. The value for

[2022-01-21 02:48] leduydong94 commented on #34990
Thank you!
I'll recheck on Magento 2.4-develop branch

[2022-01-21 04:40] zuongthaotn commented on #34325
I have same problem, it is happen every time I installed a new extension by composer.

[2022-01-21 08:55] edward-simpson commented on #34325
Is there any chance there's a malicious nature to this?  Imagine there's a fair amount of data to be gained by proxying all composer installs through a single endpoint?

[2022-01-21 10:12] coderimus commented on #32471
I checked this issue with Magento OS 2.4.3-p1 and the situation is next:
It looks like mass action selects only and only visible items on the current page. When an admin user chooses the _Select All_ option and uses the _Print Invoices_ or _Print All_ mass action it gets all invoices only when it manually passes all pages through the paginator selector. Otherwise, only visible items on the current

[2022-01-21 12:02] wsbrs commented on #34202
@engcom-Hotel

The issue happens when you send `extension_attributes` as part of Billiing Address (screen 1), **OR** when shipping address contains extension attributes when order is placed (screen 2).

Screen 1
![image](https://user-images.githubusercontent.com/2466082/150523435-65d7f7fa-f326-44c6-a4af-c748f83fe953.png)

Screen 2
![image](https://user-images.githubusercontent.com/2466082/15052383

[2022-01-21 13:04] engcom-Hotel commented on #34952
Hi @manuelcanepa,
We are not able to reproduce this issue, it would be good if you provide the exact steps and the issue so that I can reverify and confirm it.

Thanks

[2022-01-21 13:06] engcom-Hotel commented on #34971
Hi @attheCube,
I have tried this issue on the fresh installation (Magento 2.4-dev/2.4.3-P1) but I am not able to reproduce it.

It seems you are using the wrong rest API to set the special price. Use [this](https://devdocs.magento.com/guides/v2.4/rest/modules/catalog-pricing.html#set-special-prices) API request to set the special price.

Hope it helps. Let me know if you are still facing this issu

[2022-01-21 13:10] jesse-deboer commented on #28040
Hi @slavvka, why is this fixed as a bug while @lenaorobei confirmed this was a requirement?

Now it's not possible to combine GraphQL calls that need a `bearer` token with `basic-auth` for a staging environment, right?

[2022-01-21 13:46] atwixfirster commented on #28040
Hi, @jesse-deboer !

We used `Bearer` with enable `Basic Auth` without any issues.

And yes, @lenaorobei  has provided the expected result here, so I believe your PR is correct one.

Thanks

[2022-01-21 14:13] engcom-Hotel commented on #34903
Hi @MeCapron,

It doesn’t seem like an actual issue, after debugging it more I found that buildOutputDataArray($dataObject, $dataObjectType) needs an object and its type, and on the basis of object type it loads the interface. But in your case, you are providing the object but its interface is not available. If you debug the $this->dataObjectProcessor->buildOutputDataArray() function you will get

[2022-01-21 14:18] manuelcanepa commented on #34952
Im sorry, i just realize that you need to install this extension: https://marketplace.magento.com/ewave-extendedbundleproduct.html So, no, is not a bug of magento vanilla.

[2022-01-21 14:18] #34952 closed, assigned to engcom-Echo

[2022-01-21 14:25] ashar01 commented on #33417
@magento give me 2.4-develop instance

[2022-01-21 16:01] Quentin-Sch commented on #28931
Hello, it's a very important bug. Why is this archived ????

[2022-01-21 16:02] mikelevy300 commented on #31007
I'm getting the same issue with a CMS page that has the url key 'shipping' in version 2.4.3-p1.

I tested this out on a local install of 2.4.3-p1 using the sample data and luma theme and I'm getting the duplicate urk_key error when trying to create a new CMS page with the url key 'shipping'.

This case really should be re-opened because this used to work.  Creating a CMS page with url key 'shippin

[2022-01-21 16:27] captainyoung commented on #31063
I am still getting this issue. When 2 items are purchased, one is shipped, one is refunded, the status remains as "Processing".

[2022-01-21 17:57] naydav commented on #33946
@adobe export issue

[2022-01-21 18:26] moElwan commented on #26786
Hello @Amit-Hariyani Please [refer to the original commit](https://github.com/magento/magento2/commit/29f0417a28ad71d4dd42485b88da125ccd960a2e#diff-7121f9347f904d6e8d34fccea7ec743790dc3ec97faf6b34b0960f9d68a4abd6) and you can see why the code is added and how commenting it would affect some cases when products are unavailable
Unused code should be removed, If you're still sure it won't affect anyt

[2022-01-21 18:52] sdzhepa opened #35006 "test integration"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-01-21 19:30] washingtonberry opened #35007 "add to cart is not working and cart is empty"
Hello,
My site ADD TO CART is not working, there is no action when I click on this button.

Sometimes it works but the cart is empty.

Please help me to resolve this problem ASAP.

Check this link https://www.royalsovereign.com/  and let me know what is the major issue with ADD TO CART.

[2022-01-21 23:52] camilomanzano-omni opened #35008 "add product is disabled in catalog admin role website magento 2"
### Preconditions (*)
magento v2.4.3 EE
php v7.4

### Steps to reproduce (*)
1.Multistore website
2.Create admin user with permissions only on specific store
3.Grant all access over that store only
![image](https://user-images.githubusercontent.com/83025957/150613835-9c2b9c95-4ee3-4254-bcba-2c17a13b8890.png)
4.Go to categories
5.Add products by sku in existing category

### Expected result (*)
1.A

[2022-01-22 02:23] #34831 closed, assigned to hostep

[2022-01-22 10:28] bbakalov commented on #32871
I see that PR was merged to the `magento:platform-health` but not any stable branches.
I think, this PR need to merge to any stable and last version of Magento2, because it's impossible to upgrade module `colinmollenhour/cache-backend-redis` to the last stable version **1.14.2**

All the time composer gives an error

So, any reasons why this PR haven't merged to some stable version?

[2022-01-22 13:26] hostep commented on #33386
@kandy: maybe it helps if a senior developer could have a look here? The engcom squad seems to not understand this problem because I think they miss some deeper knowledge about this sort of complicated functionality of Magento.

[2022-01-22 16:44] hostep commented on #34887
I have a suspicion that the changes in https://github.com/magento/inventory/commit/c06fcb17ba59f829bda496d0b46649996fe0ca63 might fix this, but it's a guess, I might be wrong because I didn't test anything.

[2022-01-22 17:09] hostep commented on #34055
@engcom-Echo: I *think* it's over [here](https://github.com/magento/magento2/blob/c901f760818228faaf72177a0601bb4258aa9eec/app/code/Magento/Sales/Model/ResourceModel/Order/Handler/State.php#L33-L45)

[2022-01-23 00:02] Krielkip commented on #11998
@LeanderFS nice found 👍  (I haven't used tier prices for this use case)

[2022-01-23 11:15] kyegil opened #35009 "Cannot add product in admin if single store mode website id != 1"
I'm not able to add any products from admin. My Magento is in single store mode with website id = 2.
Saving a new product fails with Integrity constraint violation.
Editing and saving an existing product works fine. I am also able to create new products using the import feature.
The issue was reproduced on a clean Magento instance.

### Preconditions (*)

1. Magento Open Source 2.4.3-p1
2. php 7.4

[2022-01-23 15:15] damienwebdev opened #35010 "GraphQl: BundleItemOption is missing `price_range`"
### Description (*)
Unlike the rest of the pricing API, the GraphQl type `BundleItemOption` is missing a `price_range`.

### Expected behavior (*)
I can query the `price_range` of a  `BundleItemOption`

### Benefits
Price consistency across the API.

[2022-01-23 16:19] hostep commented on #34318
I think if it was ever possible to register an account or create an order with this sort of email address in Magento (and it was), then we should still keep supporting it, because those customers would not really appreciate it if they can no longer use their previously working email address all out of the sudden. Especially if they are able to use that email address on a variety of other websites.

[2022-01-24 04:24] dazz397 commented on #26482
I have this issue also. Any updates?

[2022-01-24 06:13] engcom-Hotel commented on #34652
Dear @TarasPasickyy,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-24 06:13] #34652 closed, assigned to engcom-Hotel

[2022-01-24 06:29] engcom-Hotel commented on #34978
Hello @pcis-mub,

In order to disable the MSI module, you can follow the below command:
[code]
Or read devdocs on this [link](https://devdocs.magento.com/extensions/inventory-management/) for more Information.

Thanks

[2022-01-24 11:03] kattykate9 opened #35012 "AdvancedPricing (regularPruce + absolutePrice + changing Price currency)"
### Preconditions (*)

### Steps to reproduce (*)
<!---
1)Create a product with a price of 100 and a special price of 90
2)Create an option with a price of 100%
3)Set 2 currencies: USD and Euros

### Expected result (*)
regular price is the correct one - https://gyazo.com/aef7f42832969944650455effbcdbd0e

### Actual result (*)
The regular price is twice converted - https://gyazo.com/c78d8a3c3842e5

[2022-01-24 11:49] nkajic opened #35013 "Cart Price rule forces Free Shipping to "No" even if "-- Please Select --" was saved"
### Preconditions (*)

1. Clean Magento 2.4.3-p1 install or 2.4-develop branch

### Steps to reproduce (*)

1. Admin > Marketing > Cart price rule > Add new rule
2. Fill general fields
3. Leave Actions > Free Shipping to default "-- Please select --" option
4. Save rule

### Expected result (*)

1. Open previously generated rule Free Shipping should be "-- Please select --"

### Actual result (*)

[2022-01-24 11:51] nkajic commented on #35013
@magento give me 2.4-develop instance

[2022-01-24 12:03] nkajic commented on #35013
Reproduced on 2.4-develop branch
https://youtu.be/kB-laiPWax4

[2022-01-24 14:42] sdzhepa commented on #35006
@magento export issue to Jira project AC

[2022-01-24 14:46] ChristopheFerreboeuf commented on #21738
For ones who wants a more straightforward way to clean their migration from M1 to M2 :

    <type name="Migration\Step\PostProcessing\Data">
            <plugin name="wrong_tier_prices" type="Vendor\Migration\Plugin\RemoveWrongTierPrices" sortOrder="1" disabled="false"/>
    </type>

Then we will create a plugin that will select the values that are erroneous and remove them with deleteRecords.

[2022-01-24 14:58] engcom-November commented on #35008
@magento give me 2.4-develop instance

[2022-01-24 16:05] nocturnalfrog commented on #32748
This issue only seems to appear in developer mode @engcom-Delta can you please check again?

[2022-01-24 16:20] #34878 closed, assigned to nobody

[2022-01-24 16:28] ioweb-gr commented on #16073
I also have the same issue on 2.4.3-p1  please reopen @engcom-Charlie

![image](https://user-images.githubusercontent.com/20220341/150823348-bbea0611-0565-4689-86b5-02760f3823b9.png)

[2022-01-24 16:39] joeshelton-wagento commented on #33386
Same issue here on a busy store.

[2022-01-24 16:40] sdzhepa commented on #35006
@magento export issue to Jira project AC

[2022-01-24 20:41] dfelton commented on #34325
For what it is worth, I just reviewed a PR of a web agency's contribution to my company's project, and when reviewing the diff for the `composer.lock` file I too discovered this exact same issue was present in the PR that had been submitted.

Some searching around led me to this GitHub issue, and it relieved me (a little, not much) that others have experienced this problem too. I highly suspected

[2022-01-24 21:16] steven-hoffman-jomashop commented on #33763
Hi @engcom-Echo,

It seems that the codebase was recently changed in commit https://github.com/magento/magento2/commit/8fe11d7c55c4fd44fbd180e6688aab2ba39f09c0#diff-1d5f1e397520e3931003c3ac5f9ca5a547e23b67640799f9ec824eeebaeaf03f.

See: (On dec 19) https://github.com/magento/magento2/commit/e8c31f5db58fa82a75b3714e011fc95b0ab219b9

It does appear that there was an internal ticket that was being wo

[2022-01-25 01:37] m-kawachi commented on #32996
@sukeshini-kot
I think this is already resolved by 2.4.3, except “Sales -> Orders -> Create New Order -> Create New Customer”.
Please check the behavior and comment.

[2022-01-25 07:25] Sarvesh0639 opened #35015 "Create job application functionality issue"
-Magento version :2.3.2
-Mysql version :5.6
-Mode :QA/Staging/Developer/Production
-commit id :92b1fb16bebcccd92eb9bcb747f2c1377603378e
## Description

-In the first name and last name taking wrong data like "Numeric" value

## Step to Reproduce

1. Login to Admin panel
2. Navigate to job board>>View Application
3. Try to create new job

## Expected result

-jobs should be successfully apply if en

[2022-01-25 07:43] oneserv-heuser commented on #33869
Hey @engcom-Lima Can you please have a look at my example and try to reproduce the issue?

[2022-01-25 08:12] Sarvesh0639 opened #35016 "Unable to filter using sort order at view a job page at admin eng."
Magento version : 2.3.2
-Mysql version :5.6
-Mode :QA/Developer/Production
-Commit id : 92b1fb1

##Description
Unable to filter using"Sort Order" at view a job page at Admin end

Step to Reproduce
Login to Admin page
Navigate to job board>>Manage jobs
Try to Sort order using order data

##Expected result
-job should be successfully filter using Sort order

##Actual result
-job is  not be opened us

[2022-01-25 08:30] pemann commented on #29377
Why this "fix" was reverted in 2.4.3?
See commit "MC-41788": https://github.com/magento/magento2/commit/db19d6d5250343371c3f85674d705c099628453c

[2022-01-25 10:48] GuiltyNL commented on #27039
@GDauer And what is the current status?

[2022-01-25 11:13] faminaAlam commented on #26254
Still facing the problem

[2022-01-25 11:29] engcom-Echo commented on #35012
Hi @kattykate9

Thanks for reporting the issue. Please provide below information so that we can proceed with our analysis:
1. Summary of the issue
2. Information on your environment
3. Steps to reproduce
4. Expected and actual results

Thanks

[2022-01-25 13:14] engcom-Hotel commented on #34830
Dear @mahmoudbeikhit,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-25 13:14] #34830 closed, assigned to engcom-Hotel

[2022-01-25 13:15] engcom-Hotel commented on #34832
Dear @brideo,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-25 13:15] #34832 closed, assigned to engcom-Hotel

[2022-01-25 15:59] Sabrina-tahir commented on #13633
did u find any sol?

[2022-01-25 17:26] Axel29 opened #35018 "Mass ShippingLabel PDF in var folder"
### Preconditions

1. Magento <= 2.4.3

### Steps to reproduce

1. Generate and download a shipping label from the administration

### Expected result

1. The shipping label is downloaded from the browser
2. The PDF is not created / kept in the `var` folder

### Actual result

1. The PDF is kept in the `var` folder

The issue is present in the `\Magento\Shipping\Controller\Adminhtml\Order\Shipment

[2022-01-25 19:07] naomirobichaud commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2022-01-25 20:41] leonhelmus commented on #34937
@magento give me 2.4-develop instance

[2022-01-25 21:04] sdzhepa commented on #35006
@magento export issue to Jira project AC

[2022-01-25 21:24] Qiang156 opened #35019 "Cannot instantiate interface PsrExt\Log\LoggerInterface"
maybe remi:php74 has some problem.

[2022-01-25 22:30] naydav commented on #35006
@magento export issue to Jira project AC

[2022-01-26 00:01] #35019 closed, assigned to nobody

[2022-01-26 00:54] ahofstetter commented on #13477
Still not fixed in 2.4.3 :/

[2022-01-26 06:30] gulfclickdxb opened #35020 "Exported file not getting"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-01-26 09:36] barryvdh commented on #33348
Why was this closed? I'm encountering the same issue.

[2022-01-26 10:45] sprankhub commented on #31180
@sidolov looks like this needs to be re-opened.

[2022-01-26 10:52] SilinMykola commented on #33823
@magento give me 2.4-develop instance

[2022-01-26 10:55] ihor-sviziev commented on #35019
Hi @Qiang156,
I think your issue caused by installed ext-psr PHP extension.
Starting from PHP 8.0 this issue should be solved.
More info: https://github.com/jbboehr/php-psr/issues/78

[2022-01-26 11:08] Qiang156 commented on #35019
@ihor-sviziev
Thanks for your reply.
You are right, I finally found this problem when I struggled with it for two days.
Cause I have installed Phalcon4 which needs php-psr library.
I have removed it then everything comes back.
Thanks again.

[2022-01-26 12:48] SilinMykola commented on #33823
@magento give me 2.4-develop instance

[2022-01-26 12:58] mtjweb commented on #33947
Is there a workaround for this problem?

[2022-01-26 15:07] Melnychuk-Alexandr opened #35021 "Error with "preventDefault" when using scroll for zoom image."
### Preconditions (*)

1. Magento 2.4.x
2. Sample data installed
3. Luma theme

### Steps to reproduce (*)

1. Open product page on a mobile or desktop device
2. Click on a product image then zoom popup open
3. Then try to use scroll for zoom image

###Description (*)
Error with "preventDefault" when using scroll for zoom image on product page.
File path: lib/web/magnifier/magnify.js
Line No: 328

[2022-01-26 15:20] ihor-sviziev commented on #34975
We got the same issue, but after analyzing it - it looks like we're getting a lot of such messages because some bot(s) are trying to create a customer, and captcha validation fails for them. We weren't able to reproduce this issue ourselves.

[2022-01-26 15:21] twosg opened #35022 "Actual tax rate not shown for zero tax"
### Preconditions (*)

1. Magento 2.X.X (including current 2.4.3)
2.

### Steps to reproduce (*)

1. Create two new tax rates and add them to the "Rule1" default tax rule. One rate for Germany with 0% and one for Netherlands with 21%.
![image](https://user-images.githubusercontent.com/325412/151190307-e00badc4-b544-4006-a77d-2728e5bebed6.png)

2. Set Configuration->Tax according to this:
![image](

[2022-01-26 16:20] stevekem commented on #34975
Thanks for the info! How could we verify if that is the case for us as well?

[2022-01-26 16:21] attheCube commented on #34971
Hi @engcom-Hotel ,
I updated the issue description.
The problem does not rely on using the wrong API-endpoint.

If you create an own price attribute, you need to use the endpoint described above.

Please check again.

Thanks a lot.

[2022-01-26 16:22] sidolov commented on #33823
@magento give me 2.4-develop instance

[2022-01-26 16:25] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-26 16:25] ihor-sviziev commented on #34975
@stevekem, we analyzed logs, the interval between requests from the same IP address was ~0-3 sec (usually people don't do requests so quickly), the requests were to `/customer/account/create/`, `/customer/account/createpost/` and to `/customer/account/create/<product_url_path>/`.
The last case links are not available on the website, so that's some bot for sure.

[2022-01-26 16:32] stevekem commented on #34975
@ihor-sviziev Ok gotcha!  If it is the bots, just block them in robots? Did that resolve the issue for you?

[2022-01-26 16:36] MihaiComan90 opened #35023 "Magento 2 B2B Extension - moving sales_order_grid header to bottom of page"
### Preconditions (*)

1 .Magento 2.4.3-p1
2. Module magento/extension-b2b:"^1.3"

### Steps to reproduce (*)

1. install a standalone version of 2.4.3-p1
2. require the magento/extension-b2b via composer
3. set:up / static-content / cache:clean
4. access the sales order admin page
5. notice the header of the grid with filters is at the bottom of the page (or even hidden) instead of on top. Notice

[2022-01-26 16:45] ihor-sviziev commented on #34975
@stevekem that looks like boys that are trying to hack or do something similar by creating a new customer

[2022-01-26 16:51] stevekem commented on #34975
@ihor-sviziev In your case, did you block the bots in robots.txt to resolve the issue?

[2022-01-26 16:57] ihor-sviziev commented on #34975
@stevekem yes, the requests starting with `/customer/` are blocked by default and we're not removed that.

[2022-01-26 17:01] stevekem commented on #34975
@ihor-sviziev Thank you, appreciate it! Will check our logs and see if that's the case for us as well.

[2022-01-26 17:12] in-session opened #35024 "Canonical url cannot be used on multi store per xml"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. add to Magento_Customer/layout/customer_account_login.xml
2. `<link rel="canonical" src="customer/account/login/" src_type="url"/>` or
3. `<link rel="canonical" src="customer/account/login/" />`

### Expected result (*)

`<link rel="canonical" href="https://www.example.com/en/customer/account/login/" />`

### Actual result

[2022-01-26 17:16] slavvka commented on #33823
@magento give me 2.4-develop instance

[2022-01-26 17:20] slavvka commented on #33823
@magento give me 2.4-develop instance

[2022-01-26 17:25] SilinMykola commented on #33823
Hi @slavvka , @sidolov ! I tried to check this issue locally and can't reproduce it. I tried to get Magento instance to check here. I can't get an instance. What do you think I should do next? Thanks!

[2022-01-26 17:34] sdzhepa commented on #33823
Hello @SilinMykola ,

The issue with Magento instances was fixed just a couple of minutes ago

[2022-01-26 18:11] pmonosolo opened #35025 "Tax rouding up instead of down."
### Preconditions (*)

1. Magento 2.4.3 CE
2. Product with price $38.48
3. Taxes: Canadian GST (5%) and PST(7%) taxes applied to order
4. GST tax: 38.48 * 0.5 = 1.924 ~ 1.93
5. PST tax $38.48 * 0.7 =  2.6936 ~ 2.7

![image](https://user-images.githubusercontent.com/66754347/151220537-8427088f-e5f2-481a-98b8-b819b4e16753.png)

Both PST and GST are being rounded up even though they should not be. I

[2022-01-26 18:15] pmonosolo commented on #35025
@magento give me 2.4-develop instance

[2022-01-26 21:09] Melnychuk-Alexandr commented on #34319
@magento I am working on this

[2022-01-27 03:18] brideo commented on #7207
Doesn't it make sense for the backend to handle this functionality as they should have all the customer information stored against the quote.

[2022-01-27 03:21] brideo commented on #7207
How is this not a bug? Australia is legally obliged to show including tax settings and the customer doesn't have access to a tax API

Can we re-open this please unless it's fixed in the latest version?

[2022-01-27 05:57] engcom-November commented on #35016
Hi @Sarvesh0639
Job board is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace

[2022-01-27 05:57] #35016 closed, assigned to engcom-November

[2022-01-27 05:58] engcom-November commented on #35015
Hi @Sarvesh0639
Job board is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace

[2022-01-27 05:58] #35015 closed, assigned to engcom-November

[2022-01-27 06:04] engcom-November commented on #34948
Hi @JDhere ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-01-27 08:26] JDhere commented on #34948
Hi @engcom-November ,
I don't think that's a intended approach, because it makes the search functionality and massaction useless!

[2022-01-27 09:00] IlyaCid commented on #34328
@magento I am working on this

[2022-01-27 10:43] mtjweb commented on #33947
I set the option "Enable Cross Border Trade" to Yes and the prices were displayed correctly.

[2022-01-27 11:12] DiVoronovich commented on #34957
@magento give me 2.4-develop instance

[2022-01-27 11:14] zhartaunik commented on #34957
@magento give me 2.4-develop instance

[2022-01-27 11:25] vikaskumra commented on #3726
Hi

It seems to be magento known issue, you can use product and category after save observers to fix it until magento team provides a solutions. I can help you with this, as I have fixed double slash error in product urls for my client magento website using observers.

If you are a programmer and need code, feel free to contact me.

Thanks
Vikas

[2022-01-27 11:54] engcom-November commented on #34965
Hi @Ligniperdus ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-01-27 11:54] #34965 closed, assigned to engcom-November

[2022-01-27 12:01] engcom-November commented on #35009
Hi @kyegil,

Thank you for reporting the issue.

I have tried this issue on the fresh installation (Magento 2.4-dev/2.4.3-P1) but I am not able to reproduce it. Product is created successfully with above steps followed
Kindly recheck the issue on Magento 2.4-develop branch and elaborate the steps if the issue is still reproducible.
Thank you.

[2022-01-27 12:09] ganesh102 opened #35026 "Product Quantity is not updating on first time save. Happening from Magento 2.3.6 version."
### Preconditions (*)

1. The same plugin is working till Magento 2.3.5.
2. It is not working from Magento 2.3.6 to 2.4.3 (the latest)

### Steps to reproduce (*)

Steps:
1. Install the extension https://marketplace.magento.com/dart-productkeys.html
2. Go to Dart -> Product Keys List ->
3. Create a new key with Key Pool - Ex: "General Pool"
4. Go to Catalog -> Product
5. Create a new product
6. Un

[2022-01-27 12:49] ByJacob opened #35027 "The same consumer cannot be started when two magento2 instances are sharing the database instance."
### Preconditions (*)

1. Magento CE 2.3.5
2. Mysql 8

### Steps to reproduce (*)

1. Start one mysql instance with 2 databases
2. Run one magento2 instance with first database
3. Run second magento2 insatnce with second database
4. Create consumer for magento2 instances who execute long time
5. Try run consumer from magento instances with flags `/bin/magento queue:consumers:start someConsumer --s

[2022-01-27 12:54] ByJacob commented on #35027
Never mind, you had to read the documentation more carefully. Configuring `--lock-db-prefix` helped

[Lock documentation](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-subcommands-lock.html#instgde-cli-lockconfig)

[2022-01-27 12:54] #35027 closed, assigned to nobody

[2022-01-27 14:15] engcom-November commented on #35020
Hi @gulfclickdxb ,
Thank you for reporting and collaboration. However provided description is not enough for us to reproduce the issue. Kindly check the behavior on Magento2.4-develop branch and elaborate the steps to reproduce if you are still facing issues.
Thank you.

[2022-01-27 14:19] engcom-November commented on #35026
Hi @ganesh102 ,
Product Key Delivery is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://

[2022-01-27 14:19] #35026 closed, assigned to engcom-November

[2022-01-27 14:29] engcom-November commented on #35025
Hi @pmonosolo,

Thank you for reporting the issue.

I have tried this issue on the fresh installation (Magento 2.4-dev/2.4.3-P1) but I am not able to reproduce it with given steps
![image](https://user-images.githubusercontent.com/60198231/151378598-91443c68-b28b-4f1c-b3ac-ef067ea6e4bc.png)

Kindly recheck the issue on Magento 2.4-develop branch and elaborate the steps if the issue is still reprod

[2022-01-27 14:34] engcom-November commented on #35021
Hi @Melnychuk-Alexandr,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and the issue is reproducible.

**Steps performed:**

1. Installed the clean Magento 2.4
2. Open product page on  desktop device
3. Click on a product image then zoom popup open
4. Try to use scroll for zoom image
Issue: We observe that Error with "preventDefault" when using scroll

[2022-01-27 14:55] ganesh102 commented on #35026
Product Key Delivery is a plugin of ours. We are the owners. The problem here is updating the quantity on runtime using the code and method provided by Magento core is not working. If you see the video the Save button only updates on 2nd time click not at first time. So there is some issue with the core on that area.
Could you please still investigate and assist?

[2022-01-27 15:23] thomas-harding opened #35028 "Datepicker in "Expiration date" field on user edit form returns date in incorrect format after save"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Create a user with an en_GB locale
2. While logged in as en_GB user, go into System > Permissions > All Users and Add New User
3. Fill out required details, set user role and set Expiration Date to **26/01/2022**
4. Save User
5. Go to user edit page for new account just created

### Expected result (*)

1. The expiration date

[2022-01-27 17:07] pmonosolo commented on #35025
What you have in your screenshot is exactly the issue:

![image](https://user-images.githubusercontent.com/66754347/151407789-ce6c10e8-46be-42ca-a9ee-4f23cfe328af.png)

This is how Magento Counts it:
GST tax: 38.48 * 0.05 = 1.924 ~ 1.93
PST tax $38.48 * 0.07 = 2.6936 ~ 2.7

Total Amount: $4.10  - WRONG

What it should be is:
GST tax: 38.48 * 0.05 = 1.924 ~ 1.92
PST tax $38.48 * 0.07 = 2.6936 ~ 2.6

[2022-01-27 17:31] sdzhepa commented on #34957
@magento give me 2.4-develop instance

[2022-01-27 20:15] sdzhepa commented on #34957
@magento give me 2.4-develop instance

[2022-01-27 20:21] zhartaunik commented on #34957
Unable to reproduce locally

[2022-01-27 20:24] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-27 23:34] r-martins commented on #27847
🎂 Happy birthday to this old and persistent bug! I hope someone takes care of you one day.

[2022-01-28 05:19] preeteshtavant commented on #34866
Any update on this

[2022-01-28 05:58] engcom-Hotel commented on #30983
Dear @lykciv,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-28 05:58] #30983 closed, assigned to engcom-Hotel

[2022-01-28 05:58] engcom-Hotel commented on #33766
Dear @Rohaty,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-28 05:58] #33766 closed, assigned to engcom-Hotel

[2022-01-28 07:12] engcom-November commented on #35025
Hi @pmonosolo,
Thank you for confirmation. Verified the issue again on Magento 2.4-develop branch and the issue is reproducible:
**Issue 1:** GST Tax: 5 % of (38.48) = 1.924. **Rounding up 1.924 should be 1.92 but not 1.93**
**Issue 2:** Total Amount value displayed on UI is 43.10. But Breakup details displayed are: 38.48 + 1.93 + 2.70 = 43.11. Breakup details summation is not matching with Total

[2022-01-28 09:03] DiVoronovich commented on #34797
I decided to deal with this issue. The way @Assambra sees the solution to this issue was before. There was a call to such a method
![image](https://user-images.githubusercontent.com/92044471/151517931-9b21d9f0-efed-4c79-a86a-79fff028cfe1.png)

![image](https://user-images.githubusercontent.com/92044471/151517967-c3752356-b1aa-43c6-87d8-06e8afe55d13.png)

**And result was:**
product1.html
subcatego

[2022-01-28 10:42] sprankhub commented on #32252
The workaround suggested by @andrewbess also works for me. Another option is to run the tests with an absolute path to the configuration file:

    vendor/bin/phpunit -c $(pwd)/dev/tests/api-functional/phpunit_graphql.xml dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GenerateCustomerTokenTest.php

[2022-01-28 11:20] LeanderFS commented on #22215
This issue is also present when creating a negotiable quote (EE module) using the API.
To circumvent the issue, I've tried a custom API endpoint which explicitly sets the custom_price value when adding items to a quote, but the custom price gets overridden later in the chain. Making it impossible to create an order using custom prices using the API.

What's the status of internal tickets  `MAGETWO

[2022-01-28 11:24] engcom-November commented on #34727
Hi @calvinmuller ,
Please refer the Magento [devdocs](https://devdocs.magento.com/cloud/project/project-patch.html) guide which can help you apply patch in specific environment.
Thank you.

[2022-01-28 12:41] engcom-November commented on #35018
Hi @Axel29 ,
Verified the issue on Magento 2.4-develop branch but unable to create Shipping Label in Magento 2.4-develop branch
Shipping Method used: UPS
![image](https://user-images.githubusercontent.com/60198231/151548458-a9e5822c-00c2-45a0-a0f0-883ac0b1a6de.png)
There is an ongoing issue: unable to create shipping label for existing shipments. But looks like shipping label creation failing for

[2022-01-28 13:03] tiagofssampaio commented on #28916
Just leaving here a comment because I was in the same boat as you guys.
Was happening to me in Safari only.

After a lot of digging I found this issue #26377 and in the comment section @HirokazuNishi with his [answer](https://github.com/magento/magento2/issues/26377#issuecomment-585497122) saved my week.

After you install https://github.com/Veriteworks/CookieFix, make sure to go to General > Web

[2022-01-28 13:49] kyegil commented on #35009
@magento give me 2.4-develop instance

[2022-01-28 14:22] kyegil commented on #35009
@engcom-November Could you verify your website settings? I've just updated the Steps to reproduce, and added verification steps. I've also just tested on another new Magento project 2.4.3-1 as I wasn't able to get a develop instance, and was able to reproduce the issue.

[2022-01-28 14:30] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-28 16:27] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-28 17:28] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-28 18:10] pmonosolo commented on #35025
Correct, $1.924 should be rounded down, not up. So it should be 1.92 instead of 1.93.

From what I understand the rounding happens when all of the taxes are added up.

So $1.924 + $2.6936 = $4.6176 (rounds up) = $4.62

Total amount: $38.48 + $4.62 = $43.10

This is why this Total comes out.

The taxes should be rounded out on the TAX ROW level.

So each tax is rounded (up / down)  based on its own

[2022-01-28 18:46] in-session opened #35034 "Klarna is not shown on checkout"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Merchant country: Multistore + one currency
3. Add testdrive api data

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. No payment option avaiable in checkout

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog)

[2022-01-28 18:46] in-session commented on #35034
@magento give me 2.4.3-p1 instance

[2022-01-28 19:27] in-session commented on #35034
![FireShot Capture 006 - Configuration _ Settings _ Stores _ Magento Admin](https://user-images.githubusercontent.com/16542619/151609104-90565558-b6c9-42c9-9c7f-3a81666c7c1e.png)
![Screenshot 2022-01-28 202512](https://user-images.githubusercontent.com/16542619/151609143-6b4ece46-7f62-480b-a84b-4d0e89de6eeb.png)
![Screenshot 2022-01-28 202616](https://user-images.githubusercontent.com/16542619/151

[2022-01-28 20:25] pmonosolo commented on #35025
I'm digging into this issue a bit more - I'm getting really weird numbers.

`$this->orderItemTaxFactory->create()->getTaxItemsByOrderId($orderId);`

^^^ this shows numbers that do not make any sense:

`[{"tax_id":"338","tax_percent":"7.0000","item_id":"235","taxable_item_type":"product","associated_item_id":null,"real_amount":"2.6950","real_base_amount":"2.6950","code":"PST-CA-BC","title":"PST-CA-

[2022-01-28 21:49] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-28 23:11] rob-gonz commented on #34325
Just had this occur to us on EE version going from 2.4.2 to 2.4.3. Something weird is going on with composer proxying in my opinion.

[2022-01-29 04:57] krishprakash commented on #34906
Hi @MIANZAHOOR, Feel free to reopen once you update all necessary details to reproduce this issue.
Thanks

[2022-01-29 04:57] #34906 closed, assigned to krishprakash, engcom-Echo

[2022-01-29 09:27] glo80326 commented on #34683
@magento give me 2.4-develop instance

[2022-01-29 18:42] joeshelton-wagento opened #35035 "File regeneration requests should not be fullfilled in Production mode"
### Summary (*)

When in Production mode, a regeneration request (caused by setting the `var/.regenerate` flag) puts Magento into a failed state.

The methods that create the .regenerate flag are titled "requestRegeneration()". But, Magento is not capable of actual regeneration when in Production mode. The regeneration request is essentially not fulfilled. Files are deleted, but *not* regenerated.

[2022-01-29 22:44] Axel29 commented on #34822
Up (just to avoid the issue to be automatically closed)

[2022-01-30 07:42] Moppelfett commented on #28068
Hi,
I still have this issue on a fresh 2.4.3-p1 Version.
Are there any updates?

[2022-01-30 09:42] snuffer82 opened #35036 "Url rewrites - Update attributes"
### Preconditions (*)

1. Magento CE 2.4.1-p1
2. Multiple website

### Steps to reproduce (*)

1. Create a new product
2. Use "update attributes" (bulk) to add the product on all websites

### Expected result (*)

1. Product is added on all websites
2. Product url rewrites are generated for all websites

### Actual result (*)

1. Product is added on all websites
2. No product url rewrites are gene

[2022-01-30 14:14] crowd42 commented on #32609
I'm facing the same issue, does anyone know how to fix it? thanks

[2022-01-30 15:30] Green2Matter commented on #34898
@janisverins it's exactly same as I can see in my instance.

[2022-01-31 06:39] johnson2677 commented on #13115
Feature request from hossam-fares, posted on GitHub Jan 10, 2018
It would be great to have an official containers ecosystem support
If anyone wants to learn [Kubernetes Training](https://www.kbstraining.com/kubernetes-training.html) Course, please feel free to ping me.
Thanks & Regards,

[2022-01-31 08:48] engcom-Hotel commented on #34981
Hello @MagicLegend,

I agree with your point that the user is not unlocked immediately. Hence confirming the issue and edit the main description accordingly:

**After exceeded max login failures(Frontend):**
![image](https://user-images.githubusercontent.com/51681618/151763063-a6f6b337-d6e5-40fd-8444-4e67ef3ac9ee.png)

**After exceeded max login failures(Backend):**
![image](https://user-images.gi

[2022-01-31 08:58] engcom-Hotel commented on #34294
Hello @chequille,

In that case, can we edit the main description with the bug I have encountered? Because we are not able to reproduce the issue you have mentioned.

Or please tell us if missed anything in order to reproduce the issue.

Thanks

[2022-01-31 10:17] hostep commented on #32609
According to the comments above, you should first upgrade `magento/magento-composer-installer` to at least version 0.2.1, before attempting to upgrade Magento itself. @PiroozMB, @AtifChatdroid, @crowd42 has anyone already tried that?

[2022-01-31 10:37] jan-ziehme opened #35037 "Customers can see data of other customers in MyAccount"
### Preconditions (*)

1. Magento 2.4.3, with a lot of custom modules
2. Session Cache Handler: Redis 6.2.4 (only Master)
   1. compression_threshold = '2048'
   2. compression_library = 'gzip'
   3. max_concurrency = '12'
   4. break_after_frontend = '5'
   5. break_after_adminhtml = '30'
   6. first_lifetime = '600'
   7. bot_first_lifetime = '60'
   8. bot_lifetime = '7200'
   9. disable_lockin

[2022-01-31 11:03] engcom-Lima commented on #35035
Hi @joeshelton-wagento ,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop but the issue is not reproducible.

Steps followed to reproduce issue:

1. Installed fresh Magento 2.4-develop instance
2. Set the mode to production using magento cli `bin/magento deploy:mode:set production`
3. Created a new file **.regenerate** in **var/** directory
4. Browsed t

[2022-01-31 11:12] the-line opened #35038 "Interlaced PNG images are not resized, placeholder shown instead with PHP 7.4.27"
### Preconditions (*)
1. Magento 2.4.3-p1
2. PHP 7.4.27

### Steps to reproduce (*)
1. Add a PNG image to a product and save it
2. View the product on the frontend or in the products list in the Admin environment

### Expected result (*)

1. Thumbnail of image is shown in Admin environment and Fotorama on frontend

### Actual result (*)

1. The default placeholder image is shown instead of the thu

[2022-01-31 12:07] engcom-Lima commented on #34950
Hi @markshust ,

Thank you for reporting the issue.

We were able to reproduce this issue on 2.4-develop instance.

Steps followed to reproduce the issue :-

1. Install fresh Magento 2.4-develop instance
2. Create a custom module to add custom customer address attribute. Create following files for this step:-

`app/code/MarkShust/MyModule/registration.php`
[code]

`app/code/MarkShust/MyModule/etc/

[2022-01-31 13:43] Melnychuk-Alexandr commented on #34319
Hi @mrtuvn . This solution works good.
In html:
<span data-bind="i18n: 'se hai scelto il ritiro dell\'usato, ricordati di preparare il vecchio prodotto scollegato e disinstallato'"></span>

In csv:
"se hai scelto il ritiro dell'usato, ricordati di preparare il vecchio prodotto scollegato e disinstallato","Italiano text."

Please check and let me know. Thanks!

[2022-01-31 13:58] Kunal-stack commented on #3739
Do you guys find any solution for the problem , we did a migration and facing the same issue

[2022-01-31 14:17] jcconde commented on #34375
After reviewing their comments I have applied the next on Magento Cloud 2.4.3-p1

[code]

After that I did other changes on `magento/module-sales/view/adminhtml/templates/order/creditmemo/create/totals/adjustments.phtml` file
[code]

[2022-01-31 14:24] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-01-31 14:24] hostep commented on #35038
Hmm, this might be related to https://bugs.php.net/bug.php?id=71316 (included in PHP 7.4.27, 8.0.14 & 8.1.0)
Looks like this can be triggered by an invalid color profile in the png file.
From first sound, this doesn't really look like a bug in Magento. If you upload an invalid image file, it makes sense that it gets refused and the placeholder is shown? I haven't looked deep into this yet, so mayb

[2022-01-31 14:40] Melnychuk-Alexandr commented on #32260
@magento I am working on this

[2022-01-31 14:46] engcom-November commented on #34855
Hi @pmonosolo ,
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue with provided steps. Kindly verify the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-01-31 15:04] makzef commented on #35003
@samueldemir Hello.
I investigated a little and you are completely correct - the config path `contact/contact/recipient_email` is not exists.
If you look at this config in magento admin panel, you can see that the correct path is `contact/email/recipient_email`.
So I assumed this is just a typo in magento devdocs.

I am already created [PR](https://github.com/magento/devdocs/pull/9342) to fix this

[2022-01-31 15:18] korovitskyi commented on #32910
@magento I am working on this

[2022-01-31 15:44] engcom-Hotel commented on #34969
Dear @calvinmuller,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-31 15:44] #34969 closed, assigned to engcom-Echo

[2022-01-31 15:44] engcom-Hotel commented on #34904
Dear @MeCapron,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-31 15:44] #34904 closed, assigned to engcom-Echo

[2022-01-31 15:46] engcom-Hotel commented on #34379
Dear @emson-softound,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-31 15:46] #34379 closed, assigned to engcom-Echo

[2022-01-31 15:46] engcom-Hotel commented on #34902
Dear @nunogato,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-31 15:46] #34902 closed, assigned to engcom-Echo

[2022-01-31 15:47] engcom-Hotel commented on #34893
Dear @merodio7,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-01-31 15:47] #34893 closed, assigned to engcom-Echo

[2022-01-31 15:49] NandoSantana commented on #3372
I have the same issue, after installed banner plugin in command line
`php bin/magento module:enable WeltPixel_Backend --clear-static-content
php bin/magento module:enable WeltPixel_OwlCarouselSlider --clear-static-content
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy -f`

i did changed path to session but, didnt resolved.

[2022-01-31 15:51] the-line commented on #35038
Is is related to that specific PHP change.

It can be triggered by a invalid color profile. That should trigger a exception as it does now.

It also happen when a interlaced PNG image is read. The exception I got was:
gd-png: libpng warning: Interlace handling should be turned on when using png_read_image

Although it is correct that in GD the method png_set_interlace_handling should be called fir

[2022-01-31 15:54] nuzil commented on #25182
I can also confirm it for 2.4.3 with german locale

[2022-01-31 18:54] chequille commented on #34294
Hello @engcom-Hotel,
I do not understand what you are talking about.
I said in my last comment, that the order you made is completly wrong. There is already the bug that your order does have a total of 3.35€, because it should have a total of 0€
Therefore it is clear, that you cannot reproduce my issue.
In my point of view you have first to find why your order is NOT ZERO !!!!

Best regards,
Jürge

[2022-01-31 20:12] ivanaugustobd commented on #33160
Any news @AZiniukhin?

[2022-02-01 05:03] Vishrootways commented on #27564
I have the same issue in Magento commerce cloud 2.3.4, and this has been solved in Magento 2.4.3.

But I am having one more issue: sometimes front-end shopping cart items get duplicated, too.
E.g., customers added 10 items to the cart, and when proceeding with the order, there will be 20 items in the order.
Does anyone have this issue?

[2022-02-01 05:36] patrasq opened #35043 "Delivery methods issue"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2022-02-01 05:36] patrasq commented on #35043
@magento give me 2.4-develop instance

[2022-02-01 07:51] engcom-Lima commented on #34028
Magento bot moved it to **High Priority Backlog** hence moved it back to **Issue Confirmation and Triage Board**

[2022-02-01 08:26] engcom-Hotel commented on #34752
Hello @VZeroCool,

It looks specific to sandbox only as when you set 'Enable Vault CVV Re-verification' as Yes in the sandbox mode it will try to verify the CVV and it is obvious that it will not be verified as we are not using any valid CVV or card details.

We had a discussion with Braintree developers regarding this issue and received the same input. Please try it with live CC details with prod

[2022-02-01 08:26] #34752 closed, assigned to nobody

[2022-02-01 08:26] snadiminty commented on #34773
Hi Jade!! Were you able to resolve this issue? I am having the same issue with Magento, have been trying to resolve this for over a month, to no avail!!

Can we get a step by step guide instead of the technical jargon, which is tough to understand? for example, how to we switch to our magento database?

[2022-02-01 09:15] snadiminty opened #35044 "Orders tab of Magento is not working"
Hi,

My Magento version is ver. 2.3.5-p1. I am unable to access the orders data.

Have been trying to get this resolved for a month with IT, but does not work. Magento is working alright for others in my company.
The error says "Something went wrong with processing the default view and we have restored the filter to its original state." and keeps buffering.

Please check the below screenshot :

![

[2022-02-01 11:00] engcom-Hotel commented on #35044
Hello @snadiminty,

We have tried to reproduce the issue in Magento 2.4-develop by accessing the orders page, but we are unable to do so. Please have a look at the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/151956589-1c631be4-736b-4945-831b-fa21c31093da.png)

It seems some issues related to customization. Please check the logs.

Thanks

[2022-02-01 11:09] michael-bouvy opened #35045 "Environment variables values should override cached values"
### Description (*)

Magento allows overriding configuration values using environment variables : https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/example/environment-variables.html

When overriding a config value, for instance setting `CONFIG__DEFAULT__WEB__SECURE__BASE_URL` to override `web/secure/base_url`, the env variable value is loaded as expected and stored in cache

[2022-02-01 11:21] engcom-Hotel commented on #35034
@magento give me 2.4-develop instance

[2022-02-01 11:24] leonhelmus commented on #34937
@magento-mts-pre-check-svc

[2022-02-01 11:27] ihor-sviziev commented on #34324
@sidolov @sivaschenko, could you please look?
In combination with executing PCI DSS requirement it's really terrible experience:

It is really terrible issue for the customer support - you have to write 2fa really-really often.

[2022-02-01 11:55] engcom-Lima commented on #34028
Hi @marvinhinz,
Thank you for reporting the issue.

I was able to reproduce this issue on 2.4-develop instance.
Steps followed to reproduce the issue :-

1. Install fresh Magento 2.4-develop instance
2. Create a custom command and inject a non existing class through the constructor
<img width="956" alt="Screenshot 2022-02-01 at 5 21 31 PM" src="https://user-images.githubusercontent.com/60198022/15

[2022-02-01 12:13] engcom-Hotel commented on #34950
Hello @engcom-Lima,

Thanks for your input!

As per our discussion in the triage call, please try to reproduce the issue with the fresh Magento module.

Thanks

[2022-02-01 12:38] jadebaileywowcher commented on #34773
Hi there, I just got a new log in to be honest so no I didn't get a resolve on the actual issue but the steps to follow were just not able to be followed by someone not technically trained.

:)

From: snadiminty ***@***.***>
Sent: 01 February 2022 08:27
To: magento/magento2 ***@***.***>
Cc: Jade Bailey ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] Magento ver. 2.4.2 is not all

[2022-02-01 13:51] wajihkm opened #35048 "Setting an invalid Cookie domain crash the website"
### Preconditions (*)

2.4.3 p1

### Steps to reproduce (*)

1. Store >> Configurations >> Web >> Default Cookie Settings Cookie Domain
2. Enter invalid value: eg: magento.localhost,staging.com

### Expected result (*)

1. Show warning
2.

### Actual result (*)

1. The website crashs
2. {"0":"Warning: Cookie domains cannot contain any of the following ',; \\t\\r\\n\\013\\014' in \/magento243p1\/ve

[2022-02-01 13:52] wajihkm commented on #35048
@magento give me 2.4-develop instance

[2022-02-01 13:58] wajihkm commented on #35048
@magento give me 2.4-develop instance

[2022-02-01 14:32] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-01 14:53] raoulguillermo commented on #13307
Hi @mageprashant

I'm also having this issue with bundled products. It seems that after 20 options things go wrong.
When deleting an option on the 2nd page of options. At first it just removes the bottom one.
Then after saving the entire bundle product the 2nd page and all pages after that are deleted.

Please advise

[2022-02-01 14:58] Melnychuk-Alexandr commented on #32260
Hi. Checked this problem and got these results.
In firefox:
<img width="1770" alt="firefox" src="https://user-images.githubusercontent.com/92367120/151992372-c61bc936-b760-43d8-86d8-cf9dbe179897.png">
In safari:
<img width="1783" alt="safari" src="https://user-images.githubusercontent.com/92367120/151992423-b414a76f-e2de-4852-acab-f874f7de8a01.png">
Everything works.

[2022-02-01 15:59] Melnychuk-Alexandr commented on #29859
@magento I am working on this

[2022-02-01 16:05] #33310 closed, assigned to SilinMykola

[2022-02-01 16:05] #34415 closed, assigned to kanhaiya5590

[2022-02-01 16:05] #34430 closed, assigned to in-session

[2022-02-01 16:05] #34521 closed, assigned to fredden

[2022-02-01 16:05] #34531 closed, assigned to kanhaiya5590

[2022-02-01 16:05] #34958 closed, assigned to sheepfy

[2022-02-01 16:05] #29932 closed, assigned to codynguyen1

[2022-02-01 16:17] ioweb-gr commented on #34258
Kind of late on this due to other emergencies. Unfortunately we patched the issue on the system so it's not possiible to give you a current EXPLAIN however if you take a look at https://dba.stackexchange.com/questions/300724/can-i-improve-this-query-by-adding-indexes-or-tuning-mariadb-config where I got some help regarding the issue I have added a profile and explain

https://i.stack.imgur.com/TM5

[2022-02-01 18:34] pmonosolo commented on #35025
@magento give me 2.4-develop instance

[2022-02-01 18:44] ericerway commented on #30835
@magento give me 2.4.3 instance with edition ee

[2022-02-01 19:12] Aquarvin commented on #35036
The issue is probably high related to this one https://github.com/magento/magento2/issues/34937, but completly the same. This one requires additional fix. The root cause of it is that it misses store ID.
This is my proposition to solve this issue along with the https://github.com/magento/magento2/issues/34937 :
[code]

[2022-02-01 19:15] Aquarvin commented on #34937
The solution given above solve this issue. But it is not complete, problem still occurs when we change visibility back to "Catalog, Search", take a look at https://github.com/magento/magento2/issues/35036
I propose this solution https://github.com/magento/magento2/issues/35036#issuecomment-1027194217 as a full fix for both tickets.

[2022-02-01 19:17] pmonosolo commented on #34855
Hello, I got access to demo instance today.

Here are the tests:

![image](https://user-images.githubusercontent.com/66754347/152034373-125df593-da90-49a5-b04b-2d082881da95.png)

^^ you can see here /refresh is being called.

The checkout ReCaptcha is turned off:

![image](https://user-images.githubusercontent.com/66754347/152034443-b5e2c955-8fb7-4509-b33a-2e0245a77da6.png)

The instance from anot

[2022-02-01 19:23] pmonosolo commented on #34855
I did an additional test and turned off Admin and Customer Captcha:

CUSTOMER
![image](https://user-images.githubusercontent.com/66754347/152036479-43b2b5d0-09b5-4627-9e45-0e491999cb37.png)

ADMIN
![image](https://user-images.githubusercontent.com/66754347/152036537-4cf4f8e8-9e39-4aa5-8164-09c62a39d43c.png)

I'm getting the same result, /refresh is being called:
![image](https://user-images.github

[2022-02-01 19:25] hostep commented on #33826
Since this issue got closed without info, I searched the commits a bit for a reference that mentions "AC-691" and found this one: https://github.com/magento/magento2/commit/e2e82b0036a2e42f9e5fd2750230e0f09b2e4ec4, hope it helps for people searching for a solution.

[2022-02-01 20:33] RanaOsamaAsif commented on #22479
Is this fixed?

I'm on Magento ver. 2.4.2-p1 and the sort by price filter is not working.

[2022-02-02 08:05] engcom-Hotel commented on #34980
Dear @mischabraam,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-02-02 08:05] #34980 closed, assigned to nuzil, engcom-Hotel

[2022-02-02 08:13] engcom-Hotel commented on #34494
@magento give me 2.4-develop instance

[2022-02-02 08:20] engcom-Hotel commented on #34461
@magento give me 2.4-develop instance

[2022-02-02 08:39] m2-assistant[bot] opened #35051 "[Issue] Replace repetitive actions with Action Groups in AdminMoveCategoryAndCheckUrlRewritesTest"
This issue is automatically created based on existing pull request: magento/magento2#34935: Replace repetitive actions with Action Groups in AdminMoveCategoryAndCheckUrlRewritesTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

Test is refactored according to the best practices followed by MFTF

### Manual testing scenarios (*)

### Questions or commen

[2022-02-02 08:49] engcom-Hotel commented on #34494
Hello @Any-Documentation-Would-be-Great,

We have tried to reproduce the issue in Magento's cloud instance but there also we are not able to reproduce the issue. Please have a look into below recorded video for reference:

https://user-images.githubusercontent.com/51681618/152121594-2646ae7a-4452-448a-8599-0482dfd87718.mp4

Thanks

[2022-02-02 09:03] engcom-Hotel commented on #34294
@magento give me 2.4-develop instance

[2022-02-02 10:47] engcom-Hotel commented on #34627
Hello @tommi-martin,

We have tried to reproduce the issue in the Magento 2.4-develop branch and we are unable to reproduce the issue. It may be possible the issue has been fixed in this branch. We are able to cancel the order without any issue. For us the message queue is inactive.

Please have a look at the below screenshot for reference:
![image](https://user-images.githubusercontent.com/516816

[2022-02-02 10:56] engcom-Hotel commented on #34771
Hello @a4deel,

Please tell us about your environment, and are you using CE or B2B.

Thanks

[2022-02-02 11:03] engcom-Lima commented on #34993
@magento give me 2.4-develop instance

[2022-02-02 11:09] engcom-Lima commented on #34993
@magento give me 2.4-develop instance

[2022-02-02 11:35] snuffer82 commented on #35036
Hi,
thank you for the quick support. I applied the fix suggested by @Aquarvin  but the url rewrites are not generated.

ps. after applying the fix i ran:
- bin/magento setup:upgrade
- bin/magento setup:di:compile
- bin/magento setup:static-content:deploy
- bin/magento cache:clean && php bin/magento cache:flush

thank you for any suggestions

[2022-02-02 11:48] engcom-Lima commented on #34993
@magento give me 2.4-develop instance

[2022-02-02 11:48] engcom-Hotel commented on #34294
@magento give me 2.4-develop instance

[2022-02-02 12:48] engcom-Hotel commented on #27126
Since the related [PR](https://github.com/magento-commerce/magento2ce/pull/7439) is in open state, hence reopening this issue.

Thanks

[2022-02-02 12:51] engcom-Lima commented on #34461
Hi @salehawal,

Thank you for reporting the issue.

I have tried this issue on the fresh installation Magento 2.4-dev but I am not able to reproduce it.
![Screenshot from 2022-02-02 18-20-22](https://user-images.githubusercontent.com/60198022/152157216-ade8db8c-fb1e-4d48-b2fc-5389547302f8.png)

Kindly recheck the issue on Magento 2.4-develop branch and elaborate the steps if the issue is still rep

[2022-02-02 13:10] Veltix commented on #28161
I have also same issu in 2.4.3-p1! Any solutions for fix?

[2022-02-02 13:41] engcom-Lima commented on #11998
Hi @VesnaS,

Thank you for reporting the issue.

I have tried this issue on the fresh installation Magento 2.4-dev but I am not able to reproduce it.
Steps followed to reproduce the issue:

1. In Admin, set Stores -> Configuration -> SALES -> Tax -> Price Display Settings -> Display Product Prices In Catalog to "Including and Excluding Tax"
2. Configure tax class and set it for the product
3. Set

[2022-02-02 13:47] engcom-Delta commented on #34564
Verified the issue on Magento 2.4-develop branch and the issue is reproducible
<img width="1440" alt="Screenshot 2022-02-02 at 4 48 08 PM" src="https://user-images.githubusercontent.com/51681379/152165921-c957ce6e-4dfe-416b-ac52-86174a4318e3.png">

[2022-02-02 14:16] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-02-02 19:33] zamoroka commented on #33964
same issue during update from 2.4.2 to 2.4.2-p2
quick fix helps as mentioned by @daancart2quote
[code]

[2022-02-02 19:42] korostii commented on #9458
FYI anyone whom this may concern: this "non-issue" is supposedly being fixed in 2.4.4, at least according to [the beta's releases notes](https://devdocs-beta.magento.com/guides/v2.4/release-notes/commerce-2-4-4.html#cache). Would be nice to see a pull request or some commits linked in case anyone would like to backport this change to older versions....

[2022-02-02 19:44] korostii commented on #30128
FYI anyone whom this may concern: this issue is supposedly being fixed in 2.4.4, at least according to [the beta's releases notes](https://devdocs-beta.magento.com/guides/v2.4/release-notes/commerce-2-4-4.html#cache).

[2022-02-02 22:08] hostep commented on #23908
@sidolov: thanks, but I'm pretty sure this bug isn't fixed. Because that commit you referenced was introduced in Magento 2.3.4, even though the bug still exists in newer Magento versions ...

[2022-02-02 22:17] hostep commented on #33749
Official fix was already [linked above](https://github.com/magento/magento2/issues/33749#issuecomment-1002349475), but that was only one commit out of 3 in total, here's the merge commit which should contain the full fix: https://github.com/magento/magento2/commit/a7d1290d7fed9e37f000642120cedc7f94cebcc3

[2022-02-02 22:17] hostep commented on #25427
The issue @drinkingsouls refers to is this one: https://github.com/magento/magento2/issues/33749, which is not the same issue as this one, it's a new one in Magento 2.4.3, just leaving this here in case people end up here looking for some more info.

[2022-02-02 23:41] veltix opened #35054 "Second language Guest Checkout - Api Call Guest Cart Status 400 Payment method #28161"
### Preconditions (*)
Magento 2.4.3-p1

### Steps to reproduce (*)
Selecting language and then adding product to cart, then I go checkout and fill data and click place order then console log shows error 400 message

### Expected result (*)
It should place order like main language.

### Actual result (*)
If I click place order it loads and then console shows error.

---
Please provide [Severity](ht

[2022-02-03 06:23] miteshdhaduk commented on #34898
Same issue on Magento ver. 2.4.3-p1. nothing to save from the backend where page builder exists.

[2022-02-03 06:24] mrtuvn commented on #34319
yes your solution works for my case.
Seem in csv we don't need to add backslash before single quote. In knockout template we have to add this slash for avoid compile error
Many Thanks

[2022-02-03 06:28] mrtuvn commented on #34319
I think we can close this now

[2022-02-03 06:28] #34319 closed, assigned to Melnychuk-Alexandr

[2022-02-03 09:01] ychadwick commented on #5301
This issue still exists in Magento 2.4.3. The cookie gets removed, but then added again, as incoming ajax responses still contain the cookie, and, in Dev mode the assets are loaded much slower, which I think could cause the javascript to clear the cookie occurring earlier, and thus the cookie is repopulated.

In order to easily remove the unwanted cookies, just wrap the call to clear the cookie in

[2022-02-03 09:36] engcom-Lima commented on #34993
Hi @0xMatt,
I tried digging deep into the issue, from the code base and the log It seems that Magento is loading the proper store view i.e **second store** but the email we get in response from PayPal is different than what is configured for the **second store scope**.

`File: \Magento\Paypal\Model\Ipn::_getConfig`
[code]
As you can see in the code base Magento tries to match the email configured