[2016-05-13 12:52] peec commented on #3102
I get this error when I enable configuration Display subtotal including taxes in tax configuration ... Version: 2.0.5.

[2016-05-13 13:05] liquidia commented on #2997
they made it even more complex. hey magento core team here is simple suggestion make it simple everyone who uses it is not a hardcore programmer .. there is something to learn from WordPress i.e simplicity.

[2016-05-13 13:05] slavvka commented on #4488
Hi @rbncha. This bug ins't reproduce on the latest mainline. Please check.

[2016-05-13 13:05] #4488 closed, assigned to slavvka

[2016-05-13 13:24] mujtaba2012 commented on #4479
It seems the API call always return true, even if the order is already cancelled or invoiced. Instead it should returning some error code.

[2016-05-13 13:30] jmackiol-dotsource opened #4492 "First export of coupons fails after installation"
## Steps to reproduce
1. Install Magento EE `2.0.5` using composer and run setup.
2. Go to Admin > Marketing > Cart Price Rules
3. Create a new rule With Name 'Test' for 'Main Website', Customer Group 'NOT LOGGED IN', Coupon 'Specific Coupon' and 'Use Auto generation' is Yes
4. Save The Rule
5. Load The Rule and Got to Manage Coupon Codes
6. Create 5 Rules with no changes
7. Export (CSV or Excel X

[2016-05-13 13:32] ericahoekerd opened #4493 "WEBAPI: missing assigning item to multiple websites in catalogProductRepositoryV1SaveRequest"
In the webservice catalogProductRepositoryV1SaveRequest I miss a section for websites, right now it is not possible to assign a product to multiples websites. Can you bring this back again? I would expect a section called `<websites><item>1</item><item>2</item></websites>`

[2016-05-13 13:34] oserediuk commented on #3675
@LouNik1984, do you still reproduce this issue? If yes, please, provide your last code revision. Try to update you code and reproduce one more time. I also did not reproduce this issue on my environment

[2016-05-13 13:39] LouNik1984 commented on #3675
Yes, the only way I can have cli index command work is with cron set up.. I haven't the latest code, though, so I'll try a fresh install next week, I'll let you know as soon as I tested it

[2016-05-13 13:42] oserediuk commented on #3675
@LouNik1984 Ok, I hope it won't reproduce :)

[2016-05-13 13:51] dexterityzx commented on #4483
@maksek ,the other pages works fine.
@quienti, the newly installed one is ok, but the one I upgraded from older version is not working.

[2016-05-13 13:52] ankitambekar08 opened #4494 "Adding Product to cart From wishlist"
For configurable product , When i add product to cart from wishlist the page it redirects to, gives attributes as dropdown instead of giving attributes as swatches to select.

[2016-05-13 13:53] LouNik1984 commented on #3675
I hope that too! I'll write again as soon as I have (hopefully good) news ^^

[2016-05-13 14:07] guz-anton commented on #4365
Hi @devdesco-ceo ,
Could you show examples of _what was before_ and _what was after_?

Also side nodes: you can place your css assets via xml `<css />` tag. Could it be suitable for you?

[2016-05-13 14:25] pboisvert commented on #4464
Anton--can you have the team look into this issue and take next steps as appropriate?

[2016-05-13 14:28] pboisvert commented on #4440
Tagging as improvement. Even if behaving as designed for better continuity for the shopper selected options should be preserved when returning to edit selections rather than a full reset.

[2016-05-13 14:42] pboisvert commented on #4493
Mark--can you investigate this item and take next steps as appropriate?

[2016-05-13 14:42] icenero opened #4495 "Create cart with rest API"
## Steps to reproduce
1. Install Magento Community Edition (v 2.0.5) and configure multiple stores.
2. Create a customer on a specific store (using API or web UI)
3. Get an authorization token using API "rest/V1/integration/customer/token" with previous created customer
4. Create a cart using "V1/carts/mine" using authorization token from previous call
## Expected result
1.  Cart is created with c

[2016-05-13 14:59] arkadiych commented on #4347
@mbloss-dotsource,  seems it was fixed in https://github.com/magento/magento2/issues/2896

[2016-05-13 15:11] hshar7 commented on #4394
Thanks @joost-florijn-kega MAGETWO-52792 created to take care of that.

[2016-05-13 15:13] BenGlassAtlas opened #4497 "Static content deploy - Errors aren't very helpful"
### The problem

When there are errors in a Less file they can be difficult to debug as the trace makes little sense, at least not to a front-end dev.

For example I have imported Bootstrap into my theme, one of the (approx 80!) files are causing an error but I'm struggling to track it down. The front-end loads fine and there is no evidence of any errors, also client-side compilation returns no er

[2016-05-13 15:18] ghost commented on #4392
@jaimestuardo Did you resolve this? I am facing the same issue.

Using PHP 5.6.20 and "always_populate_raw_post_data" is set to -1 in the php.ini being used for cron. I removed .setup_cronjob_status magento2/var/ and every time it gets regenerated it throws the error "Your PHP Version is 5.6.20, but always_populate_raw_post_data = 0.".

[2016-05-13 15:21] hshar7 commented on #2941
Hey guys this issue was fixed not too long ago in scope of: https://github.com/magento/magento2/commit/690cae8e9fbffe3e74b7036083b6f2898547ee9a

[2016-05-13 15:21] #2941 closed, assigned to okorshenko

[2016-05-13 15:28] BenGlassAtlas opened #4498 "Client-side compilation errors don't always show"
TL:DR - less.js is returning the wrong error.

Most the time `less.js` (client-side compilation) returns helpful errors, although occasionally it will return `styles-l` and `styles-m` can not be found. I presume there is something in one of my Less files that is stopping those files from being compiled.

My issue is that error is not the true problem, the problem is the error in my less file and n

[2016-05-13 15:55] mazhalai commented on #3809
Related internal ticket MAGETWO-31454

[2016-05-13 15:55] mazhalai commented on #4378
Related internal ticket MAGETWO-31454

[2016-05-13 15:55] mazhalai commented on #3470
Related internal ticket MAGETWO-31454

[2016-05-13 16:00] antboiko commented on #4464
Hi @sergei-sss , thanks for reporting this issue. I've created internal ticket MAGETWO-52797 to investigate it.

Best,
Anton.

[2016-05-13 16:11] andidhouse commented on #4356
Hi there,
same here. Our Urls when migrating from 1.7.0.2 to M2 2.0.2-5 are completely messed up.
Truncating the url_rewrite table in M2 then leads to system urls mentioned above.

So how can we regenerate this table to regenerate the new urls which are placed right in the categories in the backend by the way?

[2016-05-13 16:13] dexterityzx commented on #4483
@maksek
I found that the js fails when the category's name contains single quote. Here is how the json("categoryTree") ends without the closing }

`{"id":59,"parent_id":36,"children_count":0,"is_active":true,"name":"Valentine`

it should be Valentine's Day in the "name."

The category tree is displayed after I deleted all the single quote in the category name. Is there any way to escape the single

[2016-05-13 16:23] andidhouse opened #4500 "Flat category urls for SEO"
Hi there,

i do not know if this is a bug or a missing feature.
I can find no option to change category url structure:

Normal category urls structure:
domain.com/category
domain.com/category/subcategory
domain.com/category/subcategory/subsubcategory

We need the category urls "flat":
domain.com/category
domain.com/subcategory
domain.com/subsubcategory

This is really a basic basic seo setting but

[2016-05-13 16:34] go6media commented on #2732
If someone can give me the query to run to add them all lol

[2016-05-13 16:40] piotrekkaminski commented on #2997
@cymbalrare Magento 1 extensions are not compatible with Magento 2 and cannot be installed. You can buy/register Magento 2 extensions on https://marketplace.magento.com/ and they will show up in the component manager.

[2016-05-13 16:41] webspeaks commented on #1471
This issue occures when the ctaegories path does not match actual categoriy names in Magento. Category path is case sensitive.

[2016-05-13 16:51] piotrekkaminski commented on #4392
@crtsl @jaimestuardo please make sure you use the same setting for CLI and for Web. This message you are seeing is generating using cron process, which uses command line version of PHP. In SOME systems, command line PHP uses different INI file. What you can do to check is to SSH to the server, run php -i | grep ini and see which ini files are loaded, then make sure the setting is correct.

[2016-05-13 16:54] piotrekkaminski commented on #4497
Internal issue: MAGETWO-52800

[2016-05-13 17:06] piotrekkaminski commented on #4351
This is already fixed in develop branch and will be released as part of 2.1, possibly earlier with a patch release as well.

[2016-05-13 17:06] #4351 closed, assigned to nobody

[2016-05-13 17:08] piotrekkaminski commented on #4351
Ticket with fix: MAGETWO-50144

[2016-05-13 17:39] jonpwoolley commented on #1157
I also am having the same issue on Community 2.0.5.

[2016-05-13 17:51] dexterityzx commented on #4356
Hi,
I got the same issue, but my reason for truncating the url_rewrite table is that we met some issue on product import and truncated the table was a working way to solve it.

[2016-05-13 18:24] maksek commented on #4483
@dexteritycc, hmm, that's seems like an issue. Can you update steps to reproduce, and I will have team to see how to resolve this. Thanks for helping!

[2016-05-13 18:29] weilunallen commented on #4251
They should update the Documentation. I was so baffle by it.

[2016-05-13 18:32] srinivasanithin commented on #4479
Hi

I think this function in OrderService.php this function
 `public function cancel($id)
    {
        $order = $this->orderRepository->get($id);
        if ((bool)$order->cancel()) {
            $this->orderRepository->save($order);
            return true;
        }

[code]

was using Order.php cancel which is always return order information even though canCancel() returns false.
 ` public func

[2016-05-13 18:39] piotrekkaminski commented on #2961
This is already fixed in developer branch. Should be actually working properly in version 2.0.5.

[2016-05-13 18:39] #2961 closed, assigned to NadiyaS

[2016-05-13 18:40] piotrekkaminski commented on #4376
This is already fixed in developer branch. Should be actually working properly in version 2.0.5.

[2016-05-13 18:41] piotrekkaminski commented on #4368
The issue was fixed in scope of internal issue MAGETWO-52440 and will be released as part of 2.1 release. Please report Enterprise Edition issues through support to ensure faster resolution.

[2016-05-13 18:41] #4368 closed, assigned to nobody

[2016-05-13 18:57] maksek commented on #2596
@iMilnb It may be related to the issue - https://bugs.php.net/bug.php?id=71914, also the issue with PHP7.0.5 mentioned here - https://github.com/magento/magento2/issues/4070
And i docs you can find - we are not recommending using 7.0.5 due the bugs, check PHP version section - http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html.
Can you try to downgrade or upgrade PHP from

[2016-05-13 19:08] mbrinton01 commented on #3887
@sterfpaul Were you able to answer your question about how to create customer address information from the documentation?

[2016-05-13 19:15] #3887 closed, assigned to slavvka

[2016-05-13 19:17] maksek commented on #4500
Hi @andidhouse, GitHub issues only for bugs with steps to reproduce. Please ask how to questions in forums.

[2016-05-13 19:17] #4500 closed, assigned to nobody

[2016-05-13 19:27] ghost commented on #4392
@piotrekkaminski Even if I run the cron with the -c argument specifying which php.ini file to use(which knowingly has always_populate_raw_post_data = -1), the error still comes back. Is there something else that could be causing this?

[2016-05-13 19:36] srqdeveloper commented on #4331
I was unable to fix the issue with the database script provided by @ntoombs19, but running the following script on the admin_passwords table worked:

`UPDATE admin_passwords SET expires = <<some future timestamp>> WHERE user_id = <<admin_user_id>>;`

[2016-05-13 19:49] erikhansen commented on #4331
@srqdeveloper I used the MySQL script from @ntoombs19 on a CE and EE installation and it worked fine. Maybe you didn't flush the cache afterwards?

[2016-05-13 20:09] vnahalpara commented on #1356
Finally i got the solution of login issue

issue with magento setup when u install magento first time and add password and confirmation password it's store wrong password to database(i don't know what is an issue at that time.).

Here is solution

go to this file path and \vendor\zendframework\zend-crypt\src\Utils.php

and echo $expected and $actual variable and check both are same or not

if both

[2016-05-13 20:13] vnahalpara commented on #2077
Solution for

[1356-219146758](https://github.com/magento/magento2/issues/1356#issuecomment-219146758)

[2016-05-13 20:44] erikhansen commented on #2529
@victorgugo Monolog 1.19.0 now includes the Seldaek/monolog#692 fix you mentioned above. Can you re-open this task and create an internal MAGE task to upgrade monolog/monolog to 1.19.0?

This is important so that third-party extensions like the ClassyLlama_AvaTax extension can use named handlers. To workaround this issue in Magento/Monolog, we built the ClassyLlama_AvaTax extension to use "0" and

[2016-05-13 20:51] mbrinton01 commented on #3921
Internal issue MAGETWO-52809

[2016-05-13 21:00] mbrinton01 commented on #3787
Internal Issue MAGETWO-52813

[2016-05-13 21:02] mbrinton01 commented on #3780
Internal issue MAGETWO-52814

[2016-05-13 21:04] mbrinton01 commented on #3709
Internal issue MAGETWO-52815

[2016-05-13 21:05] mbrinton01 commented on #3697
Internal issue MAGETWO-52817

[2016-05-13 21:06] liquidia opened #4502 "Encryptor.php / Braintree payment module activation crashes backend"
## **Steps to reproduce**

1.Install magento 2.05
2. Try to activate Braintree payment module in using sandbox mode
3. Backend crashes when trying to save settings

**Magento Report** :
a:4:{i:0;s:41:"Init vector must be a string of 32 bytes.";i:1;s:11866:"#0 /var/www/mysite.com/htdocs/vendor/magento/framework/Encryption/Encryptor.php(401):

**Temporary Fix:** Remove Line number  401  `return new

[2016-05-13 21:11] keharper commented on #2540
I am working on updating the documentation. I believe the problem is that the page you specify in the Callback URL field in Admin is not extracting the verifier token. Magento sends this when you first click Activate in Admin.

[2016-05-13 21:27] PieterCappelle commented on #3893
This issue is related with my issue #4490.

[2016-05-13 21:33] mbrinton01 commented on #4329
Please note! A new webapi method has been introduced. **POST /V1/creditmemo/refund**
Sample body for request:

[code]

Repository save method for credit memo must be used only for persisting data if you already build credit memo

For refund shipment:

[code]

should be set in creditmemo.

[2016-05-13 21:36] mbrinton01 commented on #4493
#3792 is similar issue

Tracking as internal issue MAGETWO-52812

[2016-05-13 22:04] barryvdh commented on #2476
This issue is still present in `v2.0.5`. The 2.0 branch still uses `1.0.0-alpha-10`: https://github.com/magento/magento2/blob/2.0/composer.json#L41

Also, there are now stable versions of both composer `1.0` and `1.1`, so perhaps upgrade to `1.1.x`?

[2016-05-13 22:32] keharper commented on #2540
@IqbalMobarik  @amansrivastava I've updated the docs. I hope to add some code samples next week. See http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-oauth.html and http://devdocs.magento.com/guides/v2.0/howdoi/webapi/integration.html#integrate

[2016-05-13 23:15] sheldonli999 opened #4503 "REST API: Message: No region found within the locale 'en"
## Steps to reproduce
1. Install Magento from `develop` branch.
   M2.0.5
2. Add Configurable Product to the cart.
   call a customer api
3. throw exception: Message: No region found within the locale 'en
## Expected result

1.No error found
## Actual result
1. Error message appears: "Cannot save quote".

[2016-05-14 03:54] birchestx commented on #3789
You need to fix it ASAP. Big issue.

[2016-05-14 05:53] SuffixtreeTechnologies opened #4504 "Web Setup Wizard error in magento 2"
I am clicking the Web Setup Wizard in magento 2. Its not opening . I am getting an error like "This site can’t be reached" or "the connection has timed out."

[2016-05-14 06:04] theskillwithin commented on #2104
+1  gulp ftw

[2016-05-14 06:05] theskillwithin commented on #1337
THANK YOU!!!!!!

[2016-05-14 08:20] IceReaper commented on #2666
As said, nothing ever worked, but then i tried to set the php version to 7.0 in the cpanel, and suddenly it worked. The switch to php 7.0 will have caused a different php.ini and extensions to be loaded, so it might be a php related setting.

[2016-05-14 08:38] andidhouse commented on #2619
same here - on import urls are messed up.
Seems like this topic has a long story and no solution so far?

[2016-05-14 09:43] srinivasanithin commented on #4329
@mbrinton01 : I think this update was corresponding to Issue#[4436](https://github.com/magento/magento2/issues/4436). I think the code is still to be merged into develop branch as i don't see that api in sales/etc/webapi.xml or I am looking at wrong place may be.

Thank you for this refund feature it will certainly help us better integrate System to Magento.

[2016-05-14 11:09] peec commented on #3897
After 7 hours of struggling to get HTTPS to work on Magento 2 I have given up. Categories are not showing on frontend when HTTPS is enabled..

I have currently this setup where i terminate SSL before reaching varnish:

**Load blancer (HTTPS terminated to HTTP) -> Varnish -> Nginx.**
- Use https on frontend is set to true in magento admin.
- Unsecure and secure url are set to https://mydomain
- "HT

[2016-05-14 11:45] gewaechshaus commented on #3897
Hey,
even if this thread isn't directly related to ssl setup - we're running setups like this without problems... HaProxy terminates ssl -> varnish -> nginx -> php7-fpm/hhvm. The only thing related to categories not coming up when using varnish is to setup

[code]

on the running varnish instance like @erikhansen wrote. You can easily verify this by temporary bypassing or disabling varnish. Does t

[2016-05-14 12:11] pantaoran commented on #3496
I also have this problem.

[2016-05-14 14:02] frangopr opened #4505 "Can't set group pricing (now tier pricing) with higher price than item price"
## Steps to reproduce
1. Create Simple Product, fill details and set price to $10.
2. Go to Advanced Settings > Advanced Pricing > Tier Price
3. Set Tier Price for customer group "NOT LOGGED IN", qty "1", price $15.
   *point is to set tier pricing higher than regular price
4. Flush cache
5. Visit front end store
## Expected result
1.  See price for "NOT LOGGED IN" users as $15
## Actual result
1.

[2016-05-14 14:13] benchmarky commented on #4505
Found a workaround.

Set item price to $0 and work all pricing on advanced pricing > tier pricing. Not normal for B2C but really standard procedure for B2B sites.

[2016-05-14 14:45] VegasJames opened #4506 "Javascript Bundling produces huge 13MB js files"
## Steps to reproduce
1. Install Magento via composer. v2.0.5
2. Use admin to enable Javascript Bundling. (Stores -> Configuration -> Advanced -> Developer -> JavaScript Settings) and set Merge JavaScript Files and Enable Javascript Bundling to Yes
3. Left "Minify JavaScript Files" to No so the file could be inspected, but even with it as Yes the bundle0.min.js files is 8MB.
4. Had to run bin/mage

[2016-05-14 14:52] VegasJames commented on #1138
I have the same problem as above. I've opened a new bug for it: [4506](https://github.com/magento/magento2/issues/4506)

[2016-05-14 15:54] NadiyaS commented on #3379
Hi @Fel1xx , @stevenvdp
thank you for reporting this problem. And we are sorry that sometimes we have delay about reported issues.
We are processing PR with fix for this problem #2656

[2016-05-14 15:54] slavvka commented on #3789
@Selk, the fix has been delivered to mainline. Please see d10867f, d04a439.

[2016-05-14 16:03] slavvka commented on #3333
@atishgoswami, the fix has been merged. See 5e9691d, 0b47c71 and d46fb12. Thank you for your contribution to Magento 2!

[2016-05-14 16:03] #3333 closed, assigned to slavvka

[2016-05-14 16:09] slavvka commented on #3448
@moleman, the fix has been merged. See 472ff521 and a4b4f2a. Thank you for your contribution to Magento 2!

[2016-05-14 16:09] #3448 closed, assigned to slavvka

[2016-05-14 19:08] slavvka commented on #4329
@srinivasanithin, the fix has been delivered. Please see 27c034c, 6705ff50.

[2016-05-14 19:57] piotrekkaminski commented on #4323
Internal ticket MAGETWO-52829

[2016-05-14 19:59] piotrekkaminski commented on #4320
Internal issue MAGETWO-52830

[2016-05-14 20:01] piotrekkaminski commented on #4318
This issue is resolved in internal repository and will be available soon in develop branch.

[2016-05-14 20:01] #4318 closed, assigned to NadiyaS

[2016-05-14 20:03] piotrekkaminski commented on #4317
Anyone else experiencing this?
@gacleg are you getting any errors on the Firefox dev console?

[2016-05-14 20:15] piotrekkaminski commented on #4315
I wasn't able to reproduce this specific issue but importing back file without modification resulted in different error. Internal issue: MAGETWO-52831

[2016-05-14 20:23] piotrekkaminski commented on #4309
Can you try in develop branch? A very similar issue was fixed with https://github.com/magento/magento2/issues/4309

internal ticket MAGETWO-52832

[2016-05-14 20:25] piotrekkaminski commented on #4308
internal issue MAGETWO-52833

[2016-05-14 20:27] piotrekkaminski commented on #4301
internal issues (related) MAGETWO-32380

[2016-05-14 20:44] piotrekkaminski commented on #4299
@sammarcus which version are you using? In 2.0.5 it seems to be capped at 999, regardless of the value you enter and doesn't hang. How many products do you have?

[2016-05-14 22:16] leoquijano commented on #4218
Can I suggest enabling a configurable set of directory prefixes? It would default to "Lib::" and "Vendor::". I'm thinking about people who might want to use Bower or other provisioning tools.

Also, I see that the issue is closed. Is there a way to track progress on it?

[2016-05-14 22:52] shockwavemk opened #4507 "Resending of order mails from adminhtml does not work, if async mail sending is activated"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create an order
3. Set async email sending "sales_email/general/async_sending" to "true"
4. Go to adminhtml, open created order
5. Click on "Send email"
## Expected result
1. Email is resend to customer
## Actual result
1. Code does not set order to "email_sent" false. Cronjob will not resend order mail.

[code]

[2016-05-14 23:03] pboisvert commented on #4506
Chuck--can you get the team to investigate given the potential for performance impact if reproducible?

[2016-05-14 23:06] pboisvert commented on #4502
Andrii--can you have the team investigate?

[2016-05-14 23:08] pboisvert commented on #4494
Andrii--can you investigate or reassign if this is more Olena's area?

[2016-05-14 23:14] daniel-ifrim opened #4508 "Tablerate shippind method resource class fetches wrong row when there are multiple prices for same location"
## Steps to reproduce
1. Magento 2.0.5 or current version on branch develop
2. In table rates csv file add one row with any country with condition_value/order total starting from 0, shipping price is A.
3. In same csv file add on second row same country, bigger condition_value/order total = X, shipping price is B.
##
## Expected result
1. On checkout page, when order total is greater than X than i

[2016-05-14 23:26] pboisvert commented on #2640
Chuck--passing this one to you as unused code though small is a performance issue especiqlly if it grows over time.

[2016-05-14 23:27] pboisvert commented on #493
Olena--can you have the team investigate this suggestion and file a ticket if desired or answer and close if not desirable.

[2016-05-15 00:30] frangopr commented on #4054
I had this same issue. Definitely back up your images someplace before upgrading.

In my case, I installed 2.0.2 with sample data. Deleted sample data and added new items, images and other settings via admin. Upgrade to 2.0.5 made images dissapear n the front end (showing standard Magento placeholder image).

Upon inspection:
1. Back end showed image in "Basic Settings > Image and Videos" but NOT

[2016-05-15 02:01] #3165 closed, assigned to nobody

[2016-05-15 02:27] jason-vivid opened #4509 "Compare Products not working in v2.0.5"
When we go to a product page or category view and click on bar graph icon (hovering over the link shows the URL equal to the page with a # at the end.  IE  example.com/t-shirt.html#

Console Shows this for jquery.js:
mixed Content: The page at 'https://example.com/' was loaded over a secure connection, but contains a form which targets an insecure endpoint 'http://example.com/catalog/product_compa

[2016-05-15 06:14] pboisvert commented on #1235
Piotr--can you evaluate from the product side or assign to an architect for review of the suggestion?

[2016-05-15 06:15] pboisvert commented on #1335
Olena--can you have the team evaluate the suggestion?

[2016-05-15 07:06] shuaiZend commented on #4119
I often get this error here。
v 2.0.4
can't get products images in frontend  product pages.

[2016-05-15 07:48] theskillwithin commented on #1929
What?  this even breaks with the blank theme that comes with magento2.  How is this not an issue?

[2016-05-15 08:01] rudik99 opened #4510 "Minify JavaScript Files creating wrong reference for Braintree Module"
## Steps to reproduce
1. Install Magento from `main` branch.  Version 2.0.5 version
2. Use inbuilt braintree payment module, with any combination of settings.
3. goto Configuration, Advanced, Developer, JavaScript Settings, Set Minify JavaScript Files to YES.
## Expected result
1. Braintree payment method should appear and be usable.
## Actual result
1. Braintree payment method NOT shown on checko

[2016-05-15 08:53] charleskj commented on #2619
I am having the same issue, after updating products attribute from a csv import, my urls got messed up in the frontend, I am using the latest version 2.0.5.

Any updates on this

[2016-05-15 10:32] thomvanderboon opened #4511 "XML Sitemap refers to non-watermarked images"
I 've been reviewing the generated XML Sitemap and noticed that the url of the image in the Sitemap refers to a non-watermarked image
## Steps to reproduce
1. Install Magento from 2.0.5 branch.
2. Add  Product with image
3. Add watermarks to all images
4. Add and generate XML Sitemap

Expected result
1. Reference to watermarked image in XML sitemap

Actual result
1. Reference to non-watermarked im

[2016-05-15 14:56] addison74 opened #4512 "Cannot find the way back to Magento Backend"
1) Go to Backend -> System -> Web Setup Wizard.

2) Click on Magento logo on the left side at the top, to go back seeing all sections. You can't, you are stuck into this section. The only way is to use Back button from browser.

[2016-05-15 15:13] addison74 opened #4513 "What is this? points to wrong internet resources"
In Magento Backend clicking on ? icon (What's this). A new page is opening in browser but with wrong results. For example clicking on ? in a product page you will get home page from Magento 1 help. This is the link:

http://merch.docs.magento.com/ce/user_guide/Magento_Community_Edition_User_Guide.html#configuration/scope.html

[2016-05-15 16:06] addison74 opened #4514 "Categories show static blocks in frontend even you did not set them up"
This is Magento 2.0.5 with sample pack. I wanted to see what CMS blocks are set for every category.

1) Go in frontend and visit Mens category. You will see this screenshot. Mens category has a CMS Block set up only.

![frontend_block](https://cloud.githubusercontent.com/assets/8360474/15275261/6d0763ba-1acf-11e6-88f0-c82cb204d92b.jpg)

2) Now go to backend and visit Mens category. As you can see

[2016-05-15 18:03] vcpawate opened #4515 "Magento 2 Admin panel not working"
I am using Magento 2.0.5 and Data migration tool to migration from 1.9.0.1

**Problem**:
When tried to access admin page on Chrome and Firefox:
After entering successful credentials for admin page, I can see same admin page. All credentials are correct, and I can see Dashboard on the browser Title, and suddenly, it shows same page.

After installation for the first use, it allows to login to admin

[2016-05-15 18:38] bvboas commented on #4145
The Payment method with the code "substitution" has no title defined in configuration file (module-payment/etc/config.xml)

[code]

That's where the "undefined index" notice comes from.

[2016-05-15 19:06] nimmneun commented on #3822
In case you're still having trouble ... getting rid of any square brackets + specifying a attribute_set_id seems to work:

[code]

[2016-05-15 19:15] igrslv opened #4516 "Custom option values are not deleted correctly from the database"
Magento version 2.0.5
## Steps to reproduce
1. Create drop-down custom option
2. Add two option values
3. Save the product
4. Delete one option value
5. Option is not visible, but there is still a record for this option value in catalog_product_option_type_value table.
## Expected result

Database record for deleted option value must be deleted.

![screenshot_21-10-02](https://cloud.githubusercont

[2016-05-15 20:58] paales opened #4517 "Magento\Framework\DB\Adapter\Pdo\Mysql getColumnCreateByDescribe returns wrong column length"
When inputting a `mediumtext` column a `text` definition returns but with length `null`, should be `2M`.

I'm trying to copy a table to a new table, but the newly generated table is different than the existing table.

[2016-05-15 21:25] jibrandlr opened #4518 "Google Fonts are not applied on frontend"
Added a Google Font to my custom theme `default_head_blocks.xml` file:

`<link src="https://fonts.googleapis.com/css?family=Lato" src_type="url"/>`

Then added the following line to my `_typography_extend.less` file:

`@font-family__sans-serif: Lato;`

After clearing cache, deleting files under `pub/static` and `var/view_preprocessed`, and reloading site, the font Lato is not applied by default be

[2016-05-15 22:33] mazhalai commented on #4504
@venkatesansuffixtree is this after installation? Can you please give more details, how did you initially deploy? Also, if you have installed, is your document root pointing to pub?

[2016-05-15 22:35] paales commented on #4517
Somewhat related, but don't know if it is a bug:

`Zend_Db_Adapter_Pdo_Mysql::describeTable` doesn't return the column lengths of int fields. It mentiones the following:

Worked around it for now, but it is somewhat odd that describeTable doesn't describe the table..

[2016-05-15 22:45] paales commented on #4517
It also improperly escapes `CURRENT_TIMESTAMP`, it returns it as `'CURRENT_TIMESTAMP'`. It should return a constant `Magento\Framework\DB\Ddl\Table::TIMESTAMP_UPDATE` in that case.

In an ideal case, it should use some logic used in `_getColumnDefinition`

[2016-05-15 22:59] mazhalai commented on #4512
@ADDISON74 this is intentional, since web setup wizard may start a job, and the magento application (including admin) may not be in a stable state, since either modules are being enabled/disabled or system upgrade it taking place.  Closing since this is not a bug.

[2016-05-15 22:59] #4512 closed, assigned to nobody

[2016-05-16 02:21] theskillwithin opened #4520 "Frontend Theming Feature Request"
Hello,

I am a frontend developer, and well working in Magento 2 frontend is well... a pain because while building out your styles you hit save and it can take 6+ seconds just to refresh the page(must have caching off as you know to work in, I have a very very expensive computer as well which doesn't seem to help when it comes to php ie no multithread).  As opposed to my workflow outside of Magent

[2016-05-16 03:34] jniebuhr opened #4521 "Address area in invoice shows template instead of address"
## Steps to reproduce
1. Install Magento from `2.0.5` branch.
2. Create a customer with addresses
3. Create an order for this customer
4. See template instead of address
## Expected result
1. You should be able to see the address
## Actual result
1. Template language is shown

![magento_bug_1](https://cloud.githubusercontent.com/assets/2579336/15279725/cd53d61a-1b27-11e6-8099-a66791da6acc.png)

[2016-05-16 05:13] rudik99 commented on #4506
I also suffered the same problem on the same version installed via composer.

[2016-05-16 07:08] anton-huz commented on #4243
@joost-florijn-kega you can review issue.
52e6fd6 delivered to develop branch.

[2016-05-16 07:08] #4243 closed, assigned to guz-anton

[2016-05-16 07:09] anton-huz commented on #3856
Fix was deivered to mainline (develop branch).

[2016-05-16 07:09] #3856 closed, assigned to guz-anton

[2016-05-16 07:37] YevSent commented on #4502
@liquidia, this is known issue and already fixed in the develop branch.

You can you latest develop branch or apply code from this commit https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6

[2016-05-16 07:37] #4502 closed, assigned to nobody

[2016-05-16 07:38] kandrejevs opened #4522 "With enabled cache KO object exists on page initialization that should be loaded only after add to cart action"
I added a new object to section, that is loaded on `checkout/cart/add` action. Problem is that this KO object binding exists on page initialization if the cache is enabled.
## Steps to reproduce
1. Add new KO object to `checkout/cart/add` action
2. Create KO template, that outputs data from this object wrapped in if statement. Insert template in product page.
3. Enable cache
4. Add product to cart

[2016-05-16 07:41] creatuitydevelopers commented on #4309
@piotrekkaminski thank you for your feedback. We will test issue on develop branch and post the results.

[2016-05-16 07:42] YevSent commented on #4510
This issue duplicated to https://github.com/magento/magento2/issues/3916 and already resolved in the develop branch.
Closing this issue, please feel free contacting us if you have any further issues.

[2016-05-16 07:42] #4510 closed, assigned to nobody

[2016-05-16 07:43] antboiko commented on #4505
Hi @benchmarky , what version of Magento are you running?

Thanks,
Anton.

[2016-05-16 08:09] iMilnb commented on #2596
@maksek I definitely missed the "do not use 7.0.5" part :( Unfortunately I can't downgrade without rebuilding my own packages as < 7.0.5 is not available in dotdeb, but 7.0.6 is now available so I've upgraded, we'll see how it goes. Thanks a lot for your feedback, this definitely seems to be the root cause, hope this thread will help others.

[2016-05-16 08:33] sheldonli999 opened #4523 "AddressMetadataInterface has a wrong attribute set id"
## Steps to reproduce
1. AddressMetadataInterface,
2. ATTRIBUTE_SET_ID_ADDRESS = 2
3. ...
## Expected result
1. ATTRIBUTE_SET_ID_ADDRESS should be 4
2. ...
## Actual result
1. ATTRIBUTE_SET_ID_ADDRESS = 2
2. as a result, all address fields are empty.
3. ...

[2016-05-16 08:41] rudik99 commented on #4510
Thanks, sorry for the duplicate

[2016-05-16 08:58] YevSent commented on #3789
@Selk, the main issue related to address details was fixed.
Now if you want to obtain some address details like: `city`, `street`, etc. you need to implement validation rules (`CustomCarrier\view\frontend\web\js\model\shipping-rates-validation-rules.js`) in your custom shipping carrier.
Built-in Magento shipping carriers aren't use additional address details for estimating.

[2016-05-16 09:06] srinivasanithin commented on #4329
@mbrinton01 @slavvka : This issue also includes that if we don't give subtotal, grandtotal, rowtotal values these fields needs to be auto-calculated rather then setting them as zero value. Business needs these passed values to be validated as well rather than setting them.

[2016-05-16 09:40] sigismund commented on #3850
This problem was solved in last release of Porto theme.

[2016-05-16 09:48] tkacheva commented on #3323
Internal ticket MAGETWO-52841

[2016-05-16 10:54] Taral-Patoliya opened #4524 "Proxy class does not include the methods from overridden class"
I have overridden the  class`\Magento\Catalog\Model\Product\Link` and added 2 methods, but these methods are not included in the proxy class `Magento\Catalog\Model\Product\Link\Proxy` how can i inject my methods to this class?

[2016-05-16 11:33] frangopr commented on #4505
Hi @antboiko,

Running ver 2.0.5

Good day,
Fran

[2016-05-16 12:00] jaimestuardo commented on #4145
Solution?

[2016-05-16 12:27] adragus-inviqa commented on #4145
Temporarely add that missing node:

[code]

This can be added from any module's config.xml. It should work.

[2016-05-16 12:38] jaimestuardo commented on #2936
No solution to this yet? I have version 2.0.4 now:

Just the page loaded:

![image](https://cloud.githubusercontent.com/assets/9195659/15289618/cd51d8ca-1b49-11e6-8000-cb0a91041ce9.png)

Immediately press "Save Page":

![image](https://cloud.githubusercontent.com/assets/9195659/15289628/e1e6e1ea-1b49-11e6-8a33-53f3a39b3f40.png)

[2016-05-16 12:44] jaimestuardo commented on #4010
How can I solve the problem momentarily using version 2.0.4?

[2016-05-16 12:49] jaimestuardo commented on #4392
When issuing "php -i | grep ini" command I get this:

[code]

However, there is no php.ini file in that folder.

[2016-05-16 13:34] vasilii-b commented on #2104
+1 for gulp

[2016-05-16 13:51] rafaelstz commented on #2104
:+1: Gulp

[2016-05-16 14:00] karanbhomiagit opened #4525 "Webapi GET /V1/categories does not return all the categories created by UI"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create multiple categories and sub-categories for products.
3. Make a REST api call GET /V1/categories, with or without search Criteria.
## Expected result
1.  The GET call should return json response with all the categories created from UI.
## Actual result
1. Only 1 category and it's sub-categories are returned in the json respon

[2016-05-16 14:11] alena-marchenko commented on #3208
Hi @devdesco-ceo

Issue with PHP7 and shipping credentials is already resolved in develop branch, please see https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6 commit. Canada to Canada rates can be obtained from FedEx only if currency set to Canadian Dollars, this is FedEx limitation. Closing the issue, please feel free to reopen if further assistance needed.

[2016-05-16 14:11] #3208 closed

[2016-05-16 14:15] alena-marchenko commented on #3797
Closing this issue due to no response, please feel free to reopen when you have an update.

[2016-05-16 14:15] #3797 closed, assigned to alena-marchenko

[2016-05-16 14:23] jsakars opened #4526 "Custom customer entity attribute not added to address related forms"
## Steps to reproduce
1. Install Magento 2.0.5
2. Via custom module add custom customer attribute (see code below) and assign it to be added to forms related to customer address only
## Expected result
1. Custom field is shown in related forms
## Actual result
1. Custom field is shown in general form but not in forms related to address
2. http://screencast.com/t/nYYsRKtW
3. http://screencast.com/t

[2016-05-16 14:36] shiftedreality commented on #4232
Hi @werdlv

Thank you for reporting. Looks like an issue with TinyMCE. I created internal ticket MAGETWO-52850 to investigate and fix.

[2016-05-16 14:37] karanbhomiagit opened #4527 "Rest api POST /V1/products/ and PUT /V1/products/:sku calls do not update some fields on the UI."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Try creating a product through rest api call POST /V1/products/
3. The product gets created but some of the fields do not show the values that were provided.
4. Try updating the product through PUT /V1/products/:sku api call.
5. The product still does not show any values for those fields.
6. Fields which are not getting updated are

[2016-05-16 14:50] degaray commented on #2991
This issue is not fixed! I have tried 2.0.5 and it did not work. I added the extra line as in bdd8d3bf7b72f2686d99b900a46d9cd4273a3e9b and the bug still appears. This is a VERY serious bug. As I cannot collect the value of the cart, thus I cannot get the list of payment methods, use coupons, or update the cart information from the server.

[2016-05-16 14:53] alena-marchenko commented on #4130
Hi @esiemens

The fix can be found at please see https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6 commit. Closing the issue, please feel free to open it if you still able to reproduce it on the develop branch.

[2016-05-16 14:53] #4130 closed, assigned to alena-marchenko

[2016-05-16 14:56] karanbhomiagit opened #4528 "Rest API GET /V1/products/attribute-sets/:id/attributes gives 500 server internal error."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create multiple attribute-sets with a lot of attributes assigned to them
3. Make a GET call on /V1/products/attribute-sets/sets/list to get the list of all attribute-sets and their IDs.
4. Make subsequent GET calls on /V1/products/attribute-sets/:ID/attributes for all attribute-sets.
## Expected result
1. It should return proper re

[2016-05-16 15:02] #3053 closed, assigned to voleye

[2016-05-16 15:03] mslabko commented on #3053
closed due to no feedback.
@rey8a, please open issue if it still reproduce on develop branch

[2016-05-16 15:24] cspruiell commented on #4435
This issue has been fixed and delivered to the develop branch.

[2016-05-16 15:24] #4435 closed, assigned to okorshenko

[2016-05-16 15:24] cspruiell commented on #3777
This issue has been fixed and delivered to the develop branch.

[2016-05-16 15:24] #3777 closed, assigned to nobody

[2016-05-16 15:25] cspruiell commented on #3118
This issue has been fixed and delivered to the develop branch.

[2016-05-16 15:25] #3118 closed, assigned to okorshenko

[2016-05-16 16:05] ntoombs19 opened #4530 "$product->getRatingSummary() always returns null on products with ratings"
## Steps to reproduce
1. Override this template in a theme 'Magento_Catalog/templates/product/view/review.phtml`
2. Change the last parameter in the getReviewsSummaryHtml method to false so the method call in the template looks like this

[code]
## Expected result
1. A reviews summary will only be displayed for products that have ratings
## Actual result
1. A reviews summary is not displayed for a

[2016-05-16 16:21] pynej commented on #3309
Ok, So i partly figured out how to get around this by adding a weight to my configurable items, But I can't seam to fix the exiting items.  I can to a mass edit to add a weight to the child configurations but this doesn't convert them back to simple items.  If iI go into items one at a time and cgive them a weight and select product_has_weight then they convert to a simple item and work as expecte

[2016-05-16 16:29] alankent commented on #4230
Hi Fooman, sorry for delay. We were trying to sort out relative priorities here internally. Having independent version numbers for modules at releases ties in with the Git repo structure. You want the source code branching scheme (git) aligned with the release version numbers (composer packages). One solution for example is to split the repo to have separate repos per module. There are other strat

[2016-05-16 16:33] dexterityzx commented on #4482
@GPetrova Can you try "bin/magneto setup:static-content:deploy" in command line under the magento root?
You might need to check the permission after the system deploys the static content.

[2016-05-16 17:12] DarkMukke commented on #3313
i have a similar problem, we install themes though composer but for developing those themes its easier if you can just change the local files and test them out without any crazy push pulls,

so we have 2 repos, magento one and the theme one :

[code]

the theme is in the composer.json required from our toran proxy, but for local development we symlink the folders, eg :

[code]

that means any chan

[2016-05-16 19:11] heyitsroberthe commented on #4446
Update:
I believe the problem is caused when the 'User Defined' checkbox is selected for each of the different product options. This allows the user to choose a custom quantity instead of the default quantity. However, when user changes the quantity field, the price is not recomputed. I will open an internal ticket for this.

[2016-05-16 19:20] hshar7 commented on #4463
Hi @flipflap I just tried this out by installing community language pack splendidinternet/mage2-locale-de-de and inserting a phrase into my theme's etc/de_DE.csv file. The theme translation is not ignored, instead it is lower priority than the language pack. If I remove the phrase from the language pack, the translation uses the theme's phrase.

[2016-05-16 19:38] devdesco-ceo commented on #3208
UPS rates extension way more superior to FedEx one, and works flawlessly with my Canadian UPS account and takes exchange rates into consideration!!!

[2016-05-16 19:42] hshar7 commented on #4463
This is not a bug as you can see in lib/internal/Magento/Framework/Translate.php:180 we are defining the priority of these translations.

[2016-05-16 19:42] #4463 closed, assigned to okorshenko

[2016-05-16 19:49] hshar7 commented on #4432
Hi @sheldonli999 I could not reproduce this, I was able to get the customer token. Please make sure that you are entering the correct email & password to the request because the message you provided is the one that gets returned when an incorrect email or password is entered.

[2016-05-16 19:56] hshar7 commented on #4371
Hi @Rudolfff you should be using \Magento\Store\Model\StoreResolver::getCurrentStoreId to obtain current store id.

[2016-05-16 19:56] #4371 closed, assigned to okorshenko

[2016-05-16 20:07] hshar7 commented on #3588
Hi @bbraspenning this has been already fix. Please clone latest develop branch.

[2016-05-16 20:07] #3588 closed, assigned to okorshenko

[2016-05-16 20:21] hshar7 commented on #3093
Now we have Webservicex, Fixer.io and Yahoo Finance Exchange as options in latest develop branch to be used for currency conversion.

[2016-05-16 20:21] #3093 closed, assigned to okorshenko

[2016-05-16 20:26] devdesco-ceo commented on #1138
And the
`
 <vars module="Js_Bundle">
        <var name="bundle_size">2MB</var>
    </vars>
`
in theme's view.xml is completely ignored!

[2016-05-16 20:28] devdesco-ceo commented on #4506
Same thing here. :-1:

[2016-05-16 20:29] wbyrnetx opened #4531 "Duplicated & missing product rows in system product export"
## Steps to reproduce

1) Install Magento from `2.0.2` tag (the one we tested on, but likely affects all versions).
2) Create/import enough products so that when running an export, the main product query will have to use offsets to batch the results
3) Look at the CSV and you will find duplicated product entries and some products that are missing altogether. From my testing, the total count is alw

[2016-05-16 20:39] devdesco-ceo commented on #4296
2.0.5

[2016-05-16 21:03] hshar7 commented on #3147
Hi @hiephm the best way to check whether the request is coming from admin panel is to use \Magento\Framework\App\State::getAreaCode == \Magento\Framework\App\Area::AREA_ADMINHTML

[2016-05-16 21:03] #3147 closed, assigned to okorshenko

[2016-05-16 21:41] sammarcus commented on #4299
@piotrekkaminski thanks for the help. Yes, mine is indeed capped at 999 as well, but that wasn't my concern: the crux of this issue is not that 999 is a good or bad limit, but rather _whatever_ value is entered — if it so happens to be too high and causes the URI error — then it is impossible to ever recover from this error. Since after the error occurs the user is never able to reduce the value t

[2016-05-16 21:45] sammarcus commented on #4299
To me it's less of a problem that Magento cannot handle 999 products in this view to me. That doesn't bother me since it is not a `pageSize` I will ever really be using. The much larger issue is that once it _is_ set to something too high, it can (seemingly) never be set lower. Or if it can, I sure don't know how 😊
Hope this position makes sense.

[2016-05-16 22:50] devdesco-ceo commented on #4506
Not even that! On 2.0.5 after all static content is compiled without any errors, there is a fatal error on whole Magento installation dues to errors in DOM bundling. With the JS Bundling OFF everything works normal.

Please see screenshots.
![image 2016-05-16 17 19 12](https://cloud.githubusercontent.com/assets/8983883/15306247/9f682c08-1b8e-11e6-998c-42652e7a8f75.png)
![image 2016-05-16 17 19 17]

[2016-05-17 00:18] lazarenkoalexey commented on #4069
Have the same issue while installing sampledata via composer or git clone. Please provide an advice how to install sample data to exist magento 2.0.4

[2016-05-17 02:29] yosefkurniawan commented on #3890
any solution on this?

[2016-05-17 02:39] theskillwithin commented on #2999
It is extremely slow on my vagrant despite having a $8000 computer and devoting lots of resources to my vagrant and php.  Of course every time this question is asked people assume its for live and tell them to enable caching but this does not help while developing/theming.   Infact magneto 1 is much faster on my local vagrant at work on a much worse computer to develop in.  Its just impossible.

[2016-05-17 02:40] theskillwithin commented on #2824
It is extremely slow on my vagrant despite having a $8000 computer and devoting lots of resources to my vagrant and php.  Of course every time this question is asked people assume its for live and tell them to enable caching but this does not help while developing/theming.   Infact magneto 1 is much faster on my local vagrant at work on a much worse computer to develop in.  Its just impossible.

[2016-05-17 02:41] theskillwithin commented on #1726
Why would you ever enable caching on your localhost?  obviously this is for development purposes not production.

It is extremely slow on my vagrant despite having a $8000 computer and devoting lots of resources to my vagrant and php.  Of course every time this question is asked people assume its for live and tell them to enable caching but this does not help while developing/theming.   Infact mag

[2016-05-17 02:43] theskillwithin commented on #3123
deploying static content is not a solution to this, obviously local environment is meant for developing in so you have develop mode set and caching off.   It is painfully slow to develop in compared to magento 1.

[2016-05-17 03:01] theskillwithin commented on #2999
@alankent I'm sorry did you mention a solution for this yet?  Should I be using docker instead of vagrant?  I am on OSX btw.  and yes already using gulp its php that is slow I think.  I have everything at high settings.  I am very excited for magento 2, and I am very happy that it is way more modern now in workflow however the frontend development is painfully slow, I spend days and get nothing do

[2016-05-17 03:13] pboisvert commented on #3890
@choukalos can you have Oleh check into this if it may be caching related?

[2016-05-17 03:55] devdesco-ceo commented on #4365
Руку you go. Before and after turning HTML Minification on. That is definitely a bug, since 2.0.0 had no issue with minification of HTML.
![image 2016-05-16 22 53 03](https://cloud.githubusercontent.com/assets/8983883/15310799/45dfce0e-1bb9-11e6-8968-b104a9288b5d.png)
![Uploading Image 2016-05-16 22 53 59.png…]()

[2016-05-17 05:29] amansrivastava commented on #2540
@keharper looks better now. I didn't get time to go in depth and I was already able to run it so steps are easily understandable for me now. I hope other newbies will be able to get help from it.

@IqbalMobarik try to trim the values you are passing in request.

[2016-05-17 06:03] flipflap commented on #4463
Hi hshar7
Ok thanks!
The path to the translate.php seems wrong. There is no Magento folder in my /lib/internal/

[2016-05-17 06:31] Yogesh7989 commented on #4356
Hi ,
@piotrekkaminski is there any solution for this issue?

Thanks

[2016-05-17 07:11] jusemjo opened #4533 "New Simple Product automatically converts into Virtual Product"
Hi Community,

since a couple of days I'm not able to set up a simple product any more. Any attempt to create a "Simpel Product" in the backend leads to a new "Virtual Product". Futher more the virtal product is not visible in the shops frontend.

Currently I'm running Magento 2.05

Looking forward to your solutions, regards Jule

[2016-05-17 07:23] kayl1234 opened #4534 "Bug when go to Content -> Page in admin panel Magento2"
When i try to go to CONTENT -> Page to manage the cms homepage or CONTENT -> Blocks to manage static block, this bug occur. Anyone know about this bug, please help me. Many thanks
DateTimeZone::__construct(): Unknown or bad timezone ()

[2016-05-17 07:42] katmoon commented on #4356
Hi all,

Thanks for raising the question.
There's no such feature in M2 as it was in M1. I've created internal ticket `MAGETWO-52878` to process the issue.

Thanks,
Kateryna.

[2016-05-17 07:54] Yogesh7989 commented on #4356
Thanks @katmoon .

[2016-05-17 08:14] katmoon commented on #4528
Hi @karanbhomiagit

Could you also share the content of `501949553088` report?

Thanks,
Kateryna.

[2016-05-17 08:18] datbunneh commented on #4113
Hello,

This issue is fixed on main branch.

[2016-05-17 08:28] shiftedreality commented on #4113
Closed as resolved.

[2016-05-17 08:28] #4113 closed, assigned to nobody

[2016-05-17 08:48] sammarcus commented on #2854
@PascalBrouwers are you still experiencing this on 2.0.5?

[2016-05-17 08:49] PascalBrouwers commented on #2854
I'll update to 2.0.5 and see if this problem still exists.

[2016-05-17 09:07] BenGlassAtlas opened #4536 "WYSIWYG Editor removing block level elements inside <a> tags"
The WYSIWYG editor strips out `<a>` tags when they have block level elements nested inside, this is [valid HTML5](http://html5doctor.com/block-level-links-in-html-5/) so I believe it should not do this.
## Steps to reproduce
1. Create a static block and add the below code
2. Save the static block.
3. Refresh the page
4. Save the static block again

[code]
## Expected result
1. I expect the code to

[2016-05-17 09:17] creatuitydevelopers commented on #4309
I can confirm that on develop branch this error is not visible.

[2016-05-17 09:28] nobuttsalex opened #4537 "No services listed when creating an integration"
**Steps to reproduce**
Currently on the dev branch. When I go to System > Integrations > Add New Integration the resources list is empty.

/soap/default?wsdl_list=1 also only lists
- /soap/default?wsdl&amp;services=0
- /soap/default?wsdl&amp;services=1
- /soap/default?wsdl&amp;services=2
  ...

all the way to 45. From what I've read it should list things such as catalogProductRepositoryV1

**Expec

[2016-05-17 09:34] karanbhomiagit commented on #4528
@katmoon : Following are the contents of 501949553088 report :
"Fatal Error: 'Class '' not found' in '/var/www/mgdevcommunity/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php' on line 97"

[2016-05-17 09:39] BenGlassAtlas commented on #2958
I was just creating an issue for the SVG point and saw this, so I'll put my info here:

**SVGs can't be uploaded through the admin.**

## Steps to reproduce
1. Create a static block
2. Add an image
3. Try to upload an SVG

## Expected result
1. SVG is uploaded and can be added through the WYSIWYG editor

## Actual result
1. 'Please wait' spinner appears, then nothing has changed.

## Notes
- Other

[2016-05-17 09:52] devhn opened #4538 "Block cachable attribute not working"
**Using:** Magento 2.0.5, custom theme, custom simple testing module.

**Question:** How to set a block to be non cacheable properly?

**Actual result:** Attribute `cacheable="false"` doesn't work when setting it to a custom block. Currently the block gets cached and producing errors within page-cache.js, which we could avoid by uncaching the custom block (we are including async javascript which s

[2016-05-17 10:38] Krapulat commented on #2961
@piotrekkaminski In 2.0.5 I have the same problem.

[2016-05-17 10:50] qrz-io commented on #2012
Hey @katmoon - can you share clarify if this will include the ability to have different product stock per website? Is there an ETA?

[2016-05-17 11:04] katmoon commented on #4356
Hi @Yogesh7989

That ability to auto-generate URL rewrites as in M1 is not planned for M2. That is it's better not to truncate url_rewrites table.

Which tool did you use for migration? It is the problem of the tool that it did not migrate url rewrites correctly.

Thanks,
Kateryna.

[2016-05-17 11:17] huabiao opened #4539 "The start date of the report is greater than the end date validation problem ！"
## Steps to reproduce

1.to the Sales Report
2. select from date as 5/17/16
3.select  to date as 5/1/16
--result--
 No date range verified

[2016-05-17 11:18] joebusby opened #4540 "Adding Varnish causes category menu to switch to https links"
## Steps to reproduce

Using Magento 2.0.5 with Varnish, on separate Debian 8
MySQL version 5.6.28
LXC 6 cores
PHP 5.6.17-0+deb8u1
1. Create a few sub-catagories on the "default catagory" and add configurable products to each
2. Ensure the home page menu is working and displaying the products (like in sample data except only one menu layer. Verify that hovering over category menu selections shows

[2016-05-17 11:25] andidhouse commented on #4356
@katmoon
Many thanks four your answer.
We also have the same problem and using official data migration tool.

But there are also other cases where the urls need to be regenerated. For example we wrote a module to flatten the category urls (no main category in the subcategory url). This is a normal step for a lot of shops to have a url structure which is flat. The problem here is that in the backen

[2016-05-17 12:11] pboisvert commented on #4537
Mark--can you have the API team investigate this report?

[2016-05-17 12:32] Khaleel commented on #2958
This applies anywhere inside of M2 - even the latest GA releases; you cannot upload any form of SVG

[2016-05-17 12:35] Mulderua commented on #3929
Hi @tanghia ,
thank you for reporting this issue. Internal ticket was created MAGETWO-52897.

[2016-05-17 12:36] nobuttsalex commented on #4537
I should have pointed out I'm using PHP 7 which may help replicate the problem

[2016-05-17 12:37] PascalBrouwers commented on #2854
Just updated to 2.0.5. I still have the issue.
Note that I migrated my data from Magento 1.x to 2.0.2 and updated to 2.0.5

![image](https://cloud.githubusercontent.com/assets/17834386/15322399/e1bbbfa8-1c3c-11e6-8b50-2d7d359edf4f.png)

[2016-05-17 12:49] SidneyBilliet commented on #4349
@alena-marchenko
We are using v2.0.5.
I have not tried to reproduce it on the develop branch.
I don't know how to....

[2016-05-17 12:52] Mulderua commented on #4478
Hi @toniyecla ,
thank you for reporting this issue. Internal ticket was created MAGETWO-52892.

[2016-05-17 12:54] BenGlassAtlas commented on #2958
Seems a rather odd choice as Magento 2 is attempting to push forward with up to date technologies.

[2016-05-17 12:56] Khaleel commented on #2958
@BenSpace48 Precisely I have tested on an Nginx build too. SVG work fine in the server - just cannot upload them!

[2016-05-17 13:05] vzabaznov commented on #2855
Hi @OgreMHDW, some issue with indexer was fixed and delivered, commit - 76cee92, thank you for reporting, please feel free to write here, or to open new issue if doesn't help.

@bondimedical3 @ntzz @pynej if you still have issue, please create another one issues.

[2016-05-17 13:05] #2855 closed, assigned to katmoon

[2016-05-17 13:12] mazhalai commented on #4069
@dzotic9 please do not post on closed issues.
to deploy sample data on an already installed instance, on command line run `bin/magento  sampledata:deploy` then `bin/magento setup:upgrade`

[2016-05-17 13:19] bondimedical3 commented on #2855
Where is the internal ticket?

[2016-05-17 13:27] mazhalai commented on #4459
@bhavinrshah closing as non-responsive.

[2016-05-17 13:27] #4459 closed, assigned to mazhalai

[2016-05-17 13:41] pareshe commented on #2951
Edit this file "vendor/magento/module-theme/view/frontend/templates/html/title.phtml"(So for that first copy that to theme).
Replace :

With:

This will work for me "/contact","sales/guest/form/" etc page.

[2016-05-17 13:42] SidneyBilliet commented on #3357
@vzabaznov @guz-anton
Any news on this?

[2016-05-17 13:47] jksimoniii opened #4542 "Deprecation Notice"
## Steps to reproduce
1. Install Magento 2.0.5 via composer
2. Run composer install (composer version 1.2-dev)
## Expected result
1. Clean installation output
## Actual result

[code]

[2016-05-17 13:49] mttjohnson commented on #2529
It looks like the specific bug I ran into with the Monolog library was corrected in 1.18.0 release.

This issue should be reopened and actually discussed and addressed. The current develop branch of Magento 2 is targeting Monolog 1.16.0.

[2016-05-17 13:49] dennesabing commented on #4449
Hi, It has something to do with the server hosting since I am using an IP address while doing an installation. something like ModSecurity.
Thank you very much.

[2016-05-17 13:56] mazhalai commented on #4542
Thank you for reporting, we have already fixed it internally. Please see #4383 and https://github.com/magento/magento2/issues/4392#issuecomment-217151684 Closing as duplicate.

[2016-05-17 13:56] #4542 closed, assigned to nobody

[2016-05-17 13:58] nikunj1990 commented on #3123
its terribly slow on local host, did everything on php.in config, tried to apply manythings but at the ends it terribly slow.

[2016-05-17 13:59] nikunj1990 commented on #1726
you are right magento1 was fast and newer version should be faster and good than it but its reverse here.

[2016-05-17 13:59] nikunj1990 commented on #1726
There is no proper solution or guide to solve it.

[2016-05-17 14:10] rganin commented on #2855
@bondimedical3, MAGETWO-52583 is Magento's internal bugtracker ticket.
Ticket is resolved and delivered under https://github.com/magento/magento2/commit/377228fd1e1ef6342c1ada6ab9305161d65af2fa commit, fix is available in develop branch.

[2016-05-17 14:12] guz-anton commented on #4365
Hi @devdesco-ceo ,
I want to say thanks for found none trivial case in Magento's Template minifying feature! We are appreciate.
I've found some roots of the issue. And next step is to produce and deliver proper fix.

I have question to you: *do you expect fix in 2.0.x release?*

Also my question is still valid: can you use `<css />` tag instead of place `<link />` inside templates? It should be mo

[2016-05-17 14:17] cspruiell commented on #3933
This has been fixed and delivered to the develop branch.

[2016-05-17 14:17] #3933 closed, assigned to okorshenko

[2016-05-17 14:18] jksimoniii commented on #4542
Apologies for the duplicate

[2016-05-17 14:22] ghost commented on #4518
Hello @lgarridoj !
To change the base font family you should overwrite `@font-family-name__base` variable. You can find original declaration in `app\design\frontend\Magento\blank\web\css\source\_variables.less` and it looks like this:

[code]

[2016-05-17 14:23] cspruiell commented on #3848
Internal ticket MAGETWO-52906 has been created to address this issue.

[2016-05-17 14:29] GPetrova commented on #4482
I solved mu problem with this solution
https://www.envisionecommerce.com/magento-2-admin-links-not-working-on-localhost-easy-solution/

2016-05-16 19:34 GMT+03:00 Tim notifications@github.com:

##

Поздрави!
Габриела Петрова

http://about.me/gpetrova#

[2016-05-17 14:32] ntzz commented on #2354
@Yonn-Trimoreau Is possible to order top menu yet?

[2016-05-17 14:38] hshar7 commented on #4463
Then that's probably because you have a composer installation. Look in the github or under vendor/ directory.

[2016-05-17 14:52] joanhe commented on #4538
@devhn When layout is changed, please make sure layouts cache type is refreshed. Please let me know if this helps.

[2016-05-17 15:13] mwsanders0 commented on #2121
This fix isn't in the 2.0.3 patch, it's not even in 2.0.5, but I can still see the fix in the dev branch - any reason it's not been included yet?

[2016-05-17 15:20] mslabko commented on #4493
Hi @tinxit,

At the moment we do not have ability to modify websites with catalogProductRepositoryV1SaveRequest.
But you can use catalogProductWebsiteLinkRepositoryV1 for assign product to website, e.g
POST /V1/products/product-sku/websites
{
  "productWebsiteLink": {
    "sku": "product-sku",
    "websiteId": 1
  }
}

[2016-05-17 15:29] maghamed commented on #2121
It didn't get to 2.0.3. Now it's going to be delivered in the scope of 2.0.7 Patch release

[2016-05-17 15:36] mslabko commented on #3792
Hi @neran ,

I cannot reproduce this on develop branch.

Also, please check my comment, maybe it can help to solve your issue: https://github.com/magento/magento2/issues/4493#issuecomment-219752128

[2016-05-17 15:43] Yogesh7989 commented on #4356
Hello  @katmoon ,

I have mention in above post.

**we have face issue in url rewrite mapping after migration from M1 version 1.7.0.2 & 1.9.2.2 to M2 version 2.0.2 & 2.0.4 & 2.0.5 , we have use migration tool 2.0.5 & 2.0.2 & done migration by CMD.**

Thanks
Yogesh

[2016-05-17 15:51] espradley commented on #4533
I'm seeing the same thing -- Was on EE 2.0.4, tried upgrading to 2.0.5 to no avail.   We are running php 7.0.5 and this occurred both in Firefox and Chrome.

[2016-05-17 15:52] arkadiych commented on #3848
@shockwavemk , The issue with overriding parameters in PUT request has been fixed in #3660.

Please, take notice of a comment from \Magento\Webapi\Controller\Rest\ParamsOverrider::overrideRequestBodyIdWithPathParam:

[2016-05-17 15:56] theskillwithin commented on #1726
Well I will keep looking for a solution. =\

[2016-05-17 16:02] joanhe commented on #4353
This issue has been fixed in the scope of MAGETWO-49585

[2016-05-17 16:02] #4353 closed, assigned to maksek

[2016-05-17 16:09] #3848 closed, assigned to okorshenko

[2016-05-17 16:14] antboiko commented on #4505
Hi @benchmarky , we've created internal ticket MAGETWO-52912 to investigate this issue.

Best,
Anton.

[2016-05-17 16:27] espradley commented on #4533
@jusemjo Just dug into the code and when creating a simple, if you select "no" for "does product have weight," it will type convert it into a virtual product.   Try creating the product with a weight and see if that solves the problem.

[2016-05-17 16:30] jibrandlr commented on #4518
thank you, im closing this issue

[2016-05-17 16:30] #4518 closed, assigned to MomotenkoNatalia

[2016-05-17 16:34] espradley commented on #4533
More info for anyone looking.   I found the code doing this:

\Magento\Catalog\Model\Product\TypeTransitionManager\

[code]

[2016-05-17 16:41] jusemjo commented on #4533
Thanks a lot! Sometimes it's that easy - sorry for not testing it beforehand!
Great answer @espradley  - appreciate it a lot!

[2016-05-17 17:08] katmoon commented on #2012
I don't have this knowledge. Maybe @mbrinton01 knows.

[2016-05-17 17:22] vkublytskyi commented on #2234
I've discovered an issue and in my opinion we have to follow next points:
- Magento DI should not allow to reconfigure items in simple list (indexed array). If something could be changed it has meaning so it should be named. So usage of associative arrays is more correct.
- `Magento\Framework\Logger\Monolog` is an adapter for Magento to Monolog library. It uses inheritance instead of composition w

[2016-05-17 18:12] miguelbalparda commented on #2412
Starting with Magento 2.0.6, Magento provides a more flexible way for you to set file ownership and permissions. Instead of setting permissions explicitly, you only need to make sure files and directories are writable for installation. We provide different suggestions for doing this, depending on whether you access your Magento server with one user account (typical of shared hosting) or two user a

[2016-05-17 18:20] mttjohnson commented on #2234
FYI: The Monolog library was updated to support associative arrays in the Monolog 1.18.0 release. Currently it looks like Magento is requiring Monolog 1.16.0.

Also be aware that if you hand Monolog 1.16.0 a list of handlers as an indexed array then the behavior of logging that we currently see could change as I pointed out in #2529 and duplicate the logging of some messages to both the debug and

[2016-05-17 18:31] Jasonb11 opened #4543 "Flush Static Files Cache deletes app folder"
## Steps to reproduce
1. Navigate to system > cache management
2. When clicking this button: https://gmkr.io/s/573b60434ed9c6dd04b67d62/0 static files located in the app folder are deleted
## Expected result
1. Clear the static files without deleting the app folder
## Actual result
1. App Folder is deleted from server and all of the extensions and css styles are dropped.

---

 *Currently we dont

[2016-05-17 20:09] duhon commented on #4191
@bkristl  please specify the version where you can reproduce the problem, because the function isDataAvailable is to prevent the run of _initRequestParams. You have created a custom console command?

[2016-05-17 20:14] cpartica commented on #2170
Can you please comment on the above question? We are waiting on your response to further proceed

[2016-05-17 20:30] DVChien92 commented on #815
help...??? please help me in this regard , thanks
![help](https://cloud.githubusercontent.com/assets/18157779/15338155/cf0c5ef0-1ca8-11e6-81d1-273123fa0588.png)

![image](https://cloud.githubusercontent.com/assets/18157779/15351584/29358116-1d0a-11e6-8251-bc3ce4188e7c.png)

[2016-05-17 20:31] DVChien92 commented on #815
please help me in this regard , thanks

[2016-05-17 20:44] choukalos commented on #4507
Created internal ticket - MAGETWO-52919 to track.

[2016-05-17 21:20] choukalos commented on #4543
Internal ticket - MAGETWO-52922

[2016-05-17 21:28] choukalos commented on #4540
Internal ticket for tracking - MAGETWO-52923

[2016-05-17 21:35] choukalos commented on #4506
I'll check with the team re bundle size.  I believe we implemented a very simple bundling algorithm so it's possible we're pulling in some additional files in the bundle.

Is anyone else seeing bundle.js errors on 2.0.5?  @devdesco-ceo did you create a separate Github issue for the bundle error on 2.0.5?

[2016-05-17 21:54] dsikkema-magento commented on #4543
Can you give an example of some files that got deleted? I went through the steps, and nothing under magento-root/app seems to have been deleted.

[2016-05-17 21:59] twosg commented on #2170
I wanted to extend the form that edits the address. I want add new fields as well sort existing fields in a new fieldset or visually seperated. Further I want to add a button and do some AJAX and update the fields.

Maybe that is possible already with extending the ui components, but I was unable to determine which files are the base files for this form.

[2016-05-17 22:05] devdesco-ceo opened #4544 "RequireJS sucks"
RequireJS sucks. That is my conclusion.
No way to use minified scripts that have been obfuscated or shrunk, only as is. By obfuscating JavaScript modules/scripts/whatever, we are saving up to 90% of JavaScript size, load time, you name it.

Even the bundled JS file, that is coming up at whopping 13MB, after obfuscating weighs just 1.9MB, but there is no way the damn RequireJS dig into obfuscated c

[2016-05-17 23:16] mazhalai commented on #4383
@tkn98 fixed in https://github.com/magento/magento-composer-installer/releases/tag/0.1.8

[2016-05-17 23:16] mazhalai commented on #4392
@jamescowie deprecation notice has been fixed in https://github.com/magento/magento-composer-installer/releases/tag/0.1.8 Hence closing issue.

[2016-05-17 23:16] #4392 closed, assigned to nobody

[2016-05-17 23:17] mazhalai commented on #4542
@jksimoniii this has been fixed in https://github.com/magento/magento-composer-installer/releases/tag/0.1.8

[2016-05-17 23:38] jibrandlr commented on #3103
Also experiencing this issue, ver. 2.0.5 installed via composer.

[2016-05-18 00:04] stepzerosolutions opened #4545 "Custome Backend Multiselect Attribute is not saving"
## Steps to reproduce
1. Create InstallData in module with following,

[code]
1. Above code will generate Custom Attribute to collect Multiple Customer Groups So product can be visible base on this Group Selection
2. Input render script

[code]
1. In Magento Catalog Now I can select Multiple Customer Groups, and it's similar to Product Category selection (Up to This point it's working)
## Expected

[2016-05-18 01:18] mkastaneda commented on #4400
Override Magento\Swatches\Block\Product\Renderer\Configurable via plugin. Use method beforeSetTemplate.

http://magento.stackexchange.com/questions/98636/update-const-template-at-magento-2-class

[2016-05-18 01:39] commcad opened #4546 "Upgraded from 2.05 to 2.06 and now can't access Web Setup Wizard"
## Steps to reproduce
1. Installed Magento 2.00 from archive.
2. Updated to 2.05 a few days ago successfully using Web Setup Wizard
3. Updated to 2.06 today using Web Setup Wizard
## Expected result
1. Ability to access System > Web Setup Wizard
## Actual result
1. Trying to access System > Web Setup Wizard, but getting a blank page/screen
2. [Screenshot, logs] nothing logs, screenshot is a totall

[2016-05-18 04:21] pboisvert commented on #4546
Tanya--can you have the team test this scenario?

[2016-05-18 04:59] TClilMouse commented on #4546
I am getting the error at Component Manager

**console**
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
xxx.com/setup/index.php/componentGrid/components

**PHP error log**

[18-May-2016 00:54:32] WARNING: [pool xxx.com] child 23168 said into stderr: "NOTICE: PHP message: PHP Fatal error:  Uncaught Error: Cannot instantiate interface Zend\ServiceManager\S

[2016-05-18 06:29] amingilani opened #4547 "Support for new `.tech` TLD and others required"
## Problem

New TLD's are not supported by Magento
## Solution

Add the domain names from the [IANA list](https://data.iana.org/TLD/tlds-alpha-by-domain.txt).
## Steps to reproduce
1. Install Magento 2.0.4 preferablly using the Digital Ocean image.
2. Change the admin email to something like `[redacted]@payload.tech`.
3. Read the errors
## Expected result
1. Changes successfully saved
## Actual re

[2016-05-18 06:52] yagneshponkiya commented on #4400
Thank you for the updates, Yes, i already did that.

Look at the below code written in xml, Below code is of no use. It should allow to override template using xml as template path is defined in xml. don't you think so ?

[code]

[2016-05-18 06:59] pixelplant opened #4548 "Setup:upgrade does not work with custom mysql port"
Hello

There's a blocking issue when you use a **custom mysql port** and run **php bin/magento setup:upgrade**

The schema install/update part calls on the DbValidator's **checkDatabaseConnection** method which does not pass the custom mysql port defined in app/etc/env.php so the update schema will fail.
It only happens when Magento tries to call the "information_schema" database. The connection t

[2016-05-18 07:02] gayankt commented on #4442
Special price is added only to one simple product (SKU - WS12-S-Blue)
but it appearing on all other configurations as well

[2016-05-18 07:04] Bravarg opened #4549 "Base image placeholder issue"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. In admin panel Stores -> configuration ->  Catalog -> Catalog -> Product Image Placeholders. Attach new picture for "base image".
## Expected result
1. New product image placeholder should be new uploaded image.
## Actual result
1. There are still old placeholder.
2. On frontend catalog product page there are still basic placeholde

[2016-05-18 07:13] devhn commented on #4538
Yes, cache was fully cleared (both Magento and browser).

p.s. Also tried with redeploying files (altough this process shouldn't influence the xml changes).

[2016-05-18 07:20] guz-anton commented on #4544
Good conclusion. +5

Php sucks.
No way to write on JavaScript. By using nodejs we are saving up to 90% server resources.

[2016-05-18 07:20] #4544 closed

[2016-05-18 07:21] maityutpal commented on #3307
Hi,

I am also facing this issue in case of invoice creation. Any ETA for this ??

[2016-05-18 07:32] srinivasanithin commented on #3307
Hi

Any update on this bug fix

[2016-05-18 07:45] mujtaba2012 commented on #4385
This is also discussed [here](https://github.com/magento/magento2/issues/2655). Team, any updates on this?

[2016-05-18 07:48] guz-anton commented on #4544
RequireJS as a library solves just one simple task: deliver JavaScript modules to browser. Delivery without source code modification. It solves task well enough.

Webpack is more complex tool. It allows to _preprocess_ source JavaScript code on server side before delivery to browser. And has bunch of possibilities out-of-the-box. But with nodejs on server. So you are ready include +1 tool in devel

[2016-05-18 07:51] gayankt commented on #4444
[messages2.mkv.zip](https://github.com/magento/magento2/files/269873/messages2.mkv.zip)

[2016-05-18 07:51] gayankt commented on #4444
2.0.4 / 2.0.5

[2016-05-18 08:02] flancer64 commented on #4386
Hello, guys!

Version [2.0.6](https://github.com/magento/magento2/blob/2.0.6/lib/internal/Magento/Framework/Translate/Inline/Proxy.php) has the same bug. Please, correct.

Thanks.

[2016-05-18 08:09] hostep commented on #3692
This is a duplicate of https://github.com/magento/magento2/issues/2848 btw :)

[2016-05-18 08:24] Vinai commented on #2790
BTW, as a quick and hacky workaround, copying the [`Media.php` file from the `2.0` branch](https://github.com/magento/magento2/blob/2.0/app/code/Magento/Catalog/Model/ResourceModel/Product/Attribute/Backend/Media.php) during the installation of the sample data, works.

[2016-05-18 08:46] Krapulat commented on #2630
@thomvanderboon Do you know when this fixes will be included in 2.0 branch? In 2.0.6 there are still strings that can't be translated.

[2016-05-18 09:09] thomvanderboon commented on #2630
@Krapulat No, I don't know....Send e-mail to magento? ;)

[2016-05-18 09:10] stasleo commented on #4154
any updates on this?

[2016-05-18 09:11] stasleo commented on #3202
any updates on this?

[2016-05-18 09:18] fendowuk commented on #3103
@lgarridoj I have just upgraded to 2.0.6 it this seems to have been fixed.

[2016-05-18 09:20] stasleo commented on #2424
Isn't it a bug? As for me, it's an obvious bug, and you close the issue.  `¯\_(ツ)_/¯`

Ok, here is my "_proper description_" of the bug:
1) Create a product with sku **testblabla**
2) Create a catalog rule with condition  **SKU contains test** so that it give 20% discount on the product in catalog
3) Apply and enjoy the actual result

Expected result: the new product has 20% discount because of cr

[2016-05-18 09:27] wienczny commented on #2310
Any update on this issue?

[2016-05-18 09:56] commcad commented on #4546
Thanks Magento

For what its worth, I had time to restore virtual machines with 2.00, 2.01, 2.02, 2.03, 2.04, 2.05, and tried to upgrade one by one up to 2.06 and getting the same "blank page" on Web Setup Wizard upon completion for each of those.

There is however no problems upgrading any of those up to 2.05 so I'll stay there and wait for 2.07. No worries at all from this end.

Small glitch for

[2016-05-18 09:59] fooman commented on #4228
Thanks @antonkril for the reply.

I am not sure this plan was well understood by the community. Also the big complication that I see in all this is that what I have heard from Magento is that only the Magento_Customer module is considered "done" ie fully refactored. This leaves 101 modules on the todo list. Until it is clear what the plan for these are, it does not make sense to add `@api` annotat

[2016-05-18 10:01] commcad commented on #4546
This is Ubuntu 14.1, Apache 2.4.10, PHP5.6

Perms given to M2/*

$ chown -R :www-data .
$ find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \; && chmod u+x bin/magento
$ chmod -R g+w  pub
$ chmod -R g+w  var
$ chmod go-w  app/etc

[2016-05-18 10:04] slavvka commented on #4186
Hi @lennartlott, the fixe has been delivered to mainline. See commits 541ec806cae729df118b7844f5d105cbf1a6cec6, 55a6e51296afd2c52cfe7f813a4871ae408f1afc, b4d373919489ccb48af10c5ac287ef39e3af384e, eec31f653e3783d0ba86602c8396fd6e2d159546, af2a8325930ae22e2b7ae3f6513c0068217eacd1, d97ebe56200b73e71d97ca527c99108817586a54, 3120b1e89f48ff630e796c6885aecc3e48c070c8 and 66e6ad66c028e99019c110631df4c9015

[2016-05-18 10:04] #4186 closed, assigned to slavvka

[2016-05-18 10:05] slavvka commented on #4336
Hi @Raysharr, the fixe has been delivered to mainline. See commits 541ec806cae729df118b7844f5d105cbf1a6cec6, 55a6e51296afd2c52cfe7f813a4871ae408f1afc, b4d373919489ccb48af10c5ac287ef39e3af384e, eec31f653e3783d0ba86602c8396fd6e2d159546, af2a8325930ae22e2b7ae3f6513c0068217eacd1, d97ebe56200b73e71d97ca527c99108817586a54, 3120b1e89f48ff630e796c6885aecc3e48c070c8 and 66e6ad66c028e99019c110631df4c9015af4

[2016-05-18 10:05] #4336 closed, assigned to slavvka

[2016-05-18 10:06] slavvka commented on #3503
Hi @vipin-eglobeits, the fixe has been delivered to mainline. See commits 541ec806cae729df118b7844f5d105cbf1a6cec6, 55a6e51296afd2c52cfe7f813a4871ae408f1afc, b4d373919489ccb48af10c5ac287ef39e3af384e, eec31f653e3783d0ba86602c8396fd6e2d159546, af2a8325930ae22e2b7ae3f6513c0068217eacd1, d97ebe56200b73e71d97ca527c99108817586a54, 3120b1e89f48ff630e796c6885aecc3e48c070c8 and 66e6ad66c028e99019c110631df4c

[2016-05-18 10:08] slavvka commented on #2087
@mage2pro Is this issue still actual?

[2016-05-18 10:08] mihaimghn opened #4550 "Add additional info to Checkout success page"
Hi guys,

I'm a newbie at M2 but have come a long way.
I'm using 2.0.4.
I'm having some trouble with adding content to the success page.
1. I switch my installation to dev mode
2. Copy file 'success.phtml' from 'ventor/magento/module-checkout/view/frontend/templates/success.phtml to 'app/design/vendor/theme_name/Magento_Checkout/templates/success.phtml'
3. Add the content. Just php. No CSS, no JS.

[2016-05-18 10:14] slavvka commented on #2831
@ArniXXX Is this issue still actual?

[2016-05-18 10:18] slavvka commented on #3572
Hi @sengaigibon, the fix for MAGETWO-46014  has been delivered to mainline. See commits 541ec80, 55a6e51, b4d3739, eec31f6, af2a832, d97ebe5, 3120b1e and 66e6ad6. If this issue is still reproducible please reopen it

[2016-05-18 10:19] #3627 closed, assigned to slavvka

[2016-05-18 10:19] slavvka commented on #3627
Okay, thank you, feel free to reopen it if it occurs again.

[2016-05-18 10:21] NadiyaS commented on #4380
Hi @ldusan84 ,
thank you for reporting this issue. Internal ticket was created MAGETWO-52955 to consider this problem.

[2016-05-18 10:21] slavvka commented on #3664
@JasonMortonNZ, is this issue still actual?

[2016-05-18 10:26] slavvka commented on #3826
@Serzhik, The fix has been delivered to mainline. Thank your for your contribution!

[2016-05-18 10:26] #3826 closed, assigned to slavvka

[2016-05-18 10:30] slavvka commented on #4018
@Devanshi-pachouli, the fix has been delivered to mainline. Please see 5c93580f892c7f7a4032ac03e6d5e9a69f01390f. Thank you for your contribution!

[2016-05-18 10:30] #4018 closed, assigned to slavvka

[2016-05-18 10:38] fooman commented on #4230
Thanks @alankent for getting back to me. This issue is closely related to #4228.

In reply to some of your questions

I am not sure that I follow - if it is the same version number it should be the same code - hence no need to patch or the patch applies the same way.

I am still not sure that I understand the internal complications fully but breaking up the repos seems logical. My naive view would

[2016-05-18 10:46] Taral-Patoliya commented on #1471
Any one got any solution for this, i am facing this issue in 2.0.4

[2016-05-18 10:59] luukskeur opened #4551 "final price does not include swatch prices"
My first issue,
## Steps to reproduce
1. Create a customizable product;
2. Add some different configurations with different prices;
3. Add customizable options with different prices;
4. Move (in xml layout) final price render block outside of form (name="product.price.final").
## Expected result
1. Final price including all custom options prices and swatch prices.
## Actual result
1. Final price w

[2016-05-18 11:28] alena-marchenko commented on #4246
Hi @jim5359

Fix is already delivered to develop branch, closing the issue.

[2016-05-18 11:28] #4246 closed, assigned to alena-marchenko

[2016-05-18 11:31] alena-marchenko commented on #4323
Hi @jackhuang89

Fix is already delivered to develop branch, closing the issue.

[2016-05-18 11:31] #4323 closed, assigned to NadiyaS

[2016-05-18 11:37] vkorotun commented on #4506
@VegasJames It seems like your theme doesn't inherit from Blank or Luma Magento native themes, so exclude list for JS files bundling is missed. You need to configre the exclude list for your custom theme. As a reference example  you can have a look into configuration for Blank or Luma theme:
- /app/design/frontend/Magento/blank/etc/view.xml
- /app/design/frontend/Magento/luma/etc/view.xml

See "ex

[2016-05-18 11:40] nobuttsalex commented on #2971
This seems to be an issue on 2.0.5 and maybe earlier versions. I am able to make SOAP API calls to my instance on the dev branch but cannot make the same call to my instance on 2.0.5.

[2016-05-18 12:02] antboiko commented on #4442
Hi @gayankt , I couldn't reproduce this issue on current mainline.

What version do you use?
Let me clarify one more time. do you see A$18 price appearing for any specified pair Color/Size of values? Could you please attach screenshots with few other combinations of values?

Thanks,
Anton.

[2016-05-18 12:11] dartanandan commented on #4327
Hello,
I have tested magento version 2.0.6, still i get Authorizenet issue. i checked PHP Version 5.5.12. Please any one give me guidance to fix this issue.

[2016-05-18 12:18] jakobfdev commented on #2703
Getting back to @adifucan 's comment, since he posted here (see issue https://github.com/magento/magento2/issues/2564). Do you really mean it is expected behaviour to generate  unnecessary variations (like color black and white), just to replace them afterwards? I mean you would be creating products to delete them afterwards. That sounds unreasonable.
Could you suggest a workflow for many imported

[2016-05-18 12:20] jBOKA commented on #2564
@kandy I also don't think this is solved. I adressed the problem again in https://github.com/magento/magento2/issues/2703 and described what our problem is. I think I'm on the same path as @RebeccaLTroth here.

[2016-05-18 12:40] Alkar778 commented on #4256
Your case not correct. Update customer password hash through `CustomerRepository::save` this is not secure way to update password.
In you case you should use `\Magento\Customer\Api\AccountManagementInterface::changePasswordById` or
`\Magento\Customer\Api\AccountManagementInterface::resetPassword`
All this methods marked as `@api`

[2016-05-18 12:41] #4256 closed, assigned to slavvka

[2016-05-18 12:42] YevSent commented on #4327
Hi,  unfortunately, by mistake this fix is still not included into 2.0.6 version.

You can apply code from this commit https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6 to fix this issue.

[2016-05-18 12:43] antboiko commented on #4462
Hi @wittness87 , thanks for your inquiry. We've created internal ticket MAGETWO-52971 to investigate this issue.

Best,
Anton.

[2016-05-18 12:44] pboisvert commented on #2564
Anton--please check this flow with the UX team

[2016-05-18 12:47] mktudock commented on #3083
We are having the same issue, is this already resolved on the develop branch?

[2016-05-18 12:48] shiftedreality commented on #4536
Hi @BenSpace48

Thank you for reporting this. I created internal ticket MAGETWO-52972 to investigate and fix.

[2016-05-18 12:49] antboiko commented on #3919
@cs221313

Hello David. I only asked you if you're interested to make a PR for your feature for adding new region/city/district.

Could you please close the issue if your problem was solved?

Thanks,
Anton.

[2016-05-18 12:51] pboisvert commented on #2424
@tkacheva Can you have the team investigate this one?

[2016-05-18 12:52] slavvka commented on #4526
Hi @werdlv. Your code looks incorrect since you are trying to create custom attribute for customer entity, not address entity, but waiting it to be shown in address form. You should use 'customer_address' entity type instead of Customer::ENTITY.

[2016-05-18 12:54] pboisvert commented on #3202
@choukalos Can you have the team investigate?

[2016-05-18 13:00] antboiko commented on #3650
@bsuresh

Hello Suresh, sorry for the delay with response.
Could you please verify if your created theme is inherited from Luma? If yes, then according to [DevDocs](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-theme-uninstall.html) you should first update the parent node information in theme.xml to remove references to Luma before uninstall.

Thanks,
Anton.

[2016-05-18 13:31] pareshe opened #4552 "In multiple website when create invoice mail send from default website email and default website sender name"
In multiple website when create invoice and shipment for other website order (not default website) that time tick "Email Copy of Invoice", so mail send that take default website sender name and sender email address.

Also issue when click in "Send Email" button,adding comment and update order status mail send.

[2016-05-18 13:34] pareshe opened #4553 "In multiple website Sale order grid column "Grand Total (Base)","Grand Total (Purchased)" display default website currency not store or website currency"
In multiple website Sale order grid column "Grand Total (Base)","Grand Total (Purchased)" display default website currency not store or website currency

[2016-05-18 13:47] stamster opened #4554 "Deprecation Notice while running 'composer install' under application root directory"
## Steps to reproduce
1. Install latest Magento from `master` branch.
2. Run `composer install`
## Result

`Deprecation Notice: The callback MagentoHackathon\Composer\Magento\Plugin::onNewCodeEvent declared at /var/www/html/staging/vendor/magento/magento-composer-installer/src/MagentoHackathon/Composer/Magento/Plugin.php accepts a Composer\Script\CommandEvent but post-install-cmd events use a Comp

[2016-05-18 13:52] tkn98 commented on #4554
Most likely dupe of #4383

[2016-05-18 13:56] choukalos commented on #4506
@VegasJames Please close or let us know if that didn't address your issue.
@devdesco-ceo What themes do you have installed?

[2016-05-18 14:14] andidhouse commented on #4546
@commcad
We also had problems using the web setup wizard to update from 2.0.5 to 2.0.6

We then changed the composer.json where 2.0.5 is to 2.0.6 saved it and run:
- composer update
- php/bin magento:upgrade
- php bin/magento setup:di:compile

and then refreshed all by with this command:

rm -rf /var/cache/nginx/\* && php bin/magento setup:static-content:deploy de_DE && php bin/magento setup:stati

[2016-05-18 14:16] BenGlassAtlas opened #4555 "Lib media query - No max-width for large devices"
Using the media query mixin from the UI library means I can not use a max-width media query for large devices, this is causing me to write double the amount of code. I have never had this problem before with other mobile-first media query mixins.
## How to replicate

Let's say I want to make the background blue up until desktop (`@screen__l`). I would ideally be able write a few lines of code to s

[2016-05-18 14:18] mazhalai commented on #4548
@pixelplant could be related to #4275 and #2735, however created ticket MAGETWO-52981 to investigate and fix.

[2016-05-18 14:27] tadhgbowe commented on #2703
Hi folks. Thanks for your contributions.

Nobody is creating variations just to delete them afterwards. I was only giving a real world example. People make mistakes. And it's pretty easy to make them when product importing.

In my example the simple and configurable products do need to exist. They just made the mistake of associating the wrong simples to the wrong parent configurable in the import

[2016-05-18 14:27] nobuttsalex opened #4556 "Full page caching issue on multisite"
**Steps to reproduce**
Most up-to-date version of the dev branch.

There seems to be crossover in the full page cache of different websites. This only started being an issue yesterday or today so I guess it was a very recent change.

Disabling full page caching fixes the issue but obviously only a temporary solution.

**Expected result**
Website 1 to show Homepage 1 and Website 2 to show Homepage

[2016-05-18 14:32] mazhalai commented on #4554
Closing, since fix has been merged in https://github.com/magento/magento-composer-installer/releases/tag/0.1.8

[2016-05-18 14:32] #4554 closed, assigned to nobody

[2016-05-18 14:34] mazhalai commented on #4546
@commcad any error on your browser's dev console?

[2016-05-18 14:36] pixelplant commented on #4548
@mazhalai Yes, it's related mostly to #2735, so we need a way to either allow the usage of the 'port' config for both the site and the updater and prevent it being specified in the 'host' config, or allow it only in the 'host' config (in the format 'host:port') and throw an error if the 'port' option is also specified.

[2016-05-18 15:00] commcad commented on #4546
Its actually installing the update just fine. No 'on-screen' errors whatsoever if upgraded in both default and developer modes and no trace in the /var/log/

Below are the last console lines:

`Please re-run Magento compile command
[2016-05-18 14:52:06 UTC] Job "setup:upgrade {"command":"setup:upgrade"}" has been successfully completed
[2016-05-18 14:52:06 UTC] Job "setup:static:regenerate []" has

[2016-05-18 15:06] BenGlassAtlas opened #4557 "Desktop spelling - Desctop"
Desktop has been spelt 'Desctop' a few times.

![screen shot 2016-05-18 at 16 05 37](https://cloud.githubusercontent.com/assets/8895777/15363912/600acb94-1d12-11e6-866f-ef0a826764f1.png)

I will create a pull request once I've got my forked branch sorted.

[2016-05-18 15:09] andidhouse commented on #4546
We updated the way described above (our post).
I think all is good at frontend and backend except the component manager. If we click on component manager a spinning wheel is shown which never ends. Browser dev console shows the errors attached.

If we click on the error message we get redirected to this url:
http://www.ourdomain.com/setup/index.php/componentGrid/components
and this page shows:

An

[2016-05-18 15:11] commcad commented on #4546
I'm following your update proc right now. Takes forever... blame google's vms for the slow net :/

Dwloading and compiling can take up to 10min sometimes lollll does it all the time but slow

Will report back

[2016-05-18 15:20] mazhalai commented on #4546
@commcad i tried on Centos and 2.0.5 to 2.0.6 has no issues. I am able to access setup wizard. What mode are you in? default, developer or production?

[2016-05-18 15:21] mazhalai commented on #4546
@andidhouse please clean your cache, and var/generation and var/di folders and try again.

[2016-05-18 15:26] commcad commented on #4546
@andidhouse , update/recompiling as per-your didn't worked here. Getting the same blank page.

@mazhalai , tried with developer & default modes only. Should I try in production mode? I'm happy to give it a go if this is what you need there

I'll rm the cache & di and see if this helps

[2016-05-18 15:28] mazhalai commented on #4546
@commcad on the blank page, are there any errors in browser console? FWIW I tried default mode, and it worked with no issues

[2016-05-18 15:29] antboiko commented on #3815
Hello @SamTay , sorry for the late reply. We've created internal ticket MAGETWO-52986 to investigate this issue.

Best,
Anton.

[2016-05-18 15:31] commcad commented on #4546
Nothing at all, no errors. Just blank page, nothing compiles back-end (no cpu/nothing)

mystery... when is 2.07 coming out?!

[2016-05-18 15:33] commcad commented on #4546
Restoring vm atm, will try a last time in both default mode, and prod mode. The only mode I haven;t tried is production mode. Fingers crossed! I will report back in a few min

thx again :)

[2016-05-18 15:35] mazhalai commented on #4546
@commcad anything in your server logs? Please check both access as well error log.

[2016-05-18 15:36] commcad commented on #4546
k, will do

[2016-05-18 15:42] ghost commented on #4546
@commcad I tried the upgrade using the same environment as you and had no issues. Upgrade was successful and I could render Setup Wizard after the upgrade.

[2016-05-18 15:43] piotrekkaminski commented on #4444
The fix has been delivered to mainline. See commits 541ec80, 55a6e51, b4d3739, eec31f6, af2a832, d97ebe5, 3120b1e and 66e6ad6.

[2016-05-18 15:43] #4444 closed, assigned to nobody

[2016-05-18 15:44] commcad commented on #4546
Inspiring ;) we'll sort it out, always did, always will!

@mazhalai - updating default mode atm. I'll get the logs screened out for anything of interest and report back in a few min.

[2016-05-18 15:48] mazhalai commented on #4546
@andidhouse please check if you auth in system config is saved, it is also in `var/composer_home/auth.json`

[2016-05-18 15:51] andidhouse commented on #4546
@mazhalai yes it is saved.

[code]

[2016-05-18 16:03] commcad commented on #4546
@mazhalai I swear I didn't see this in developer mode. This is coming out of the 'default' mode.

Have I broken anything?!
/var/log/system.log

`[2016-05-18 15:57:33] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_STORE1_3c470299521325284ed2f872fb317d47b: Please correct the XML data and try again.  [] []
[2016-05-18 15:57:33] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_S

[2016-05-18 16:03] anton-huz commented on #4449
Hi @dennesabing ,
If you found issue root it would be great if you share here few notes.

[2016-05-18 16:11] crantron opened #4558 "Cannot edit customer address data."
When one imports user data via a spreadsheet and specific fields aren't included you cannot edit those specific fields in the admin or user account.

Example: Imported data via a csv for many clients and State (regarding Address) was not included. Now when the user or admin tries to add the state in web interface a red box around the state input is displayed with the error message
![screen shot 20

[2016-05-18 16:17] Vinai commented on #4256
@Alkar778, I think you closed the issue prematurely, as both the methods you mention do not cover the business use case I need.
`\Magento\Customer\Api\AccountManagementInterface::changePasswordById` requires knowledge of the old password, and `\Magento\Customer\Api\AccountManagementInterface::resetPassword` requires a reset token.

The required process is to be able to simply set a customer passwo

[2016-05-18 16:23] TClilMouse commented on #4546
@mazhalai
I have the same error like @andidhouse
https://github.com/magento/magento2/issues/4546#issuecomment-219925464
All cache clean/flush
rm var/di, var/generation, pub/static, var/view_preprocessed
still the same error message.

[2016-05-18 16:24] piotrekkaminski commented on #1726
@theskillwithin actually our internal teams work with all caches enabled and only flush the specific ones affected by code change. Which Vagrant environment are you using - can you provide a link?

[2016-05-18 16:25] mazhalai commented on #4546
@commcad those are css/related errors. shouldn't be related to upgrade issues.

[2016-05-18 16:30] commcad commented on #4546
I'm not all that worried if the problem is on my side. The Business Plan is still stuck in a word document and I have yet received the full funding from the investors (theres some bigger bugs)

We are going LIVE on July 1st however. Gives us time here to get things squared server side. We'll re-install a fully func M2 before that anyway so...

Was sure I FOUND a bug lollllll

I'll play with it and

[2016-05-18 16:41] #3571 closed

[2016-05-18 16:43] mhabou commented on #3544
Hi everyone

@paulerickson  As you said , your theory is wright, it demand in background to enter your GitHub credentials to access private repos

This is what i get when i run the uninstall command line

[code]

[2016-05-18 16:44] piotrekkaminski commented on #2958
Internal issue MAGETWO-52993 to address SVG file upload.

[2016-05-18 16:53] mhabou commented on #3544
The solution is to run : `composer update` in an other console

[2016-05-18 16:53] TClilMouse opened #4559 "Uncaught Error: Cannot instantiate interface - 2.0.6 with PHP 7.0.6"
## Steps to reproduce
1. Updated to 2.0.5 to 2.0.6
- composer require magento/product-community-edition 2.0.6 --no-update
- composer update
- php bin/magento setup:upgrade
1. backend -> web setup wizard -> component manager

Same result by runing the following
- php -f bin/magento cache:clean
- php -f bin/magento cache:flush
- php -f bin/magento indexer:reindex
- rm -rf var/di
- rm -rf var/generat

[2016-05-18 16:54] leoquijano opened #4560 "Refactor Cart Add and Index classes to allow customization of message texts"
While implementing a custom theme using Magento 2, I found out that there's currently no support for easy customization of Add to Cart message texts.

In the `Magento\Checkout\Controller\Cart\Add` class, the following method is called to add a product to the cart:

[code]

It can be seen here two particular places where messages are hardwired. The first one is the success message:

[code]

The sec

[2016-05-18 16:55] devdesco-ceo commented on #4544
Sure, NodeJS + Webpack would solve bunch of issues with concurrent loading of JS, JS minifications (concatenation, shrinking, obfuscating, etc).

Since M2 requires composer, which means you need shell access, and in most cases dedicated servers are used for deploying of M2, I don't see it as a problem to have extra stuff installed such as NodeJS...

With my latest experiment on server-side minific

[2016-05-18 16:56] leoquijano commented on #4560
For example, this is my version of these two methods, which replaces the word 'Cart' for 'Bag'. Other websites might use 'Basket', or some other copy:

[code]

[2016-05-18 16:59] NanthiniMuralidaran commented on #4220
@mazhalai In this case,I faced that popup issue.
I added a product to the cart before log in to the site.Then i logged out from the site.Again i added a product to the cart before log in.And then i logged in and clicked "Proceed to checkout",the popup appears.

[2016-05-18 17:11] mkastaneda commented on #4400
Correct, since the template filename is harcoded as a class property, it seems to override any xml update. I do think hardcoding that into core files is not the best practice, however, plugins certainly give the ability to modify that behavior with no major issues.

This should be either well documented or removed because what if a front-end developer comes up with this issue ? his gonna have a ha

[2016-05-18 17:23] mbrinton01 commented on #4533
@espradley, thank you for helping with this issue!  Closing the issue as resolved

[2016-05-18 17:23] #4533 closed, assigned to nobody

[2016-05-18 17:41] tkacheva commented on #2424
@pboisvert the research is in progress. Internal ticket is MAGETWO-51920

[2016-05-18 17:53] jibrandlr commented on #3103
@fendowuk I just upgraded to 2.0.6 but the issue is still present. I select "No" from dropdown menu, save, and after save the value is set to "Yes" automatically.

[2016-05-18 18:03] devdesco-ceo commented on #4506
I have Porto theme installed and my them is a child theme of Porto which is based on Blank.
my /etc/view.xml file has all proper exclude statements for the JS files.

![image 2016-05-18 13 02 16](https://cloud.githubusercontent.com/assets/8983883/15369570/d5fd18a8-1cf8-11e6-9436-e27849d54ab5.png)

[2016-05-18 18:22] devdesco-ceo commented on #4365
None of my theme's .xml files have the <link but <css tag.
What appears to be causing the problem with minification is the .phtml file that has <link elements in it. I guess it's a M2 Core bug, since it worked fine on earlier versions of M2.

![image 2016-05-18 13 21 55](https://cloud.githubusercontent.com/assets/8983883/15370216/95248354-1cfb-11e6-8281-bed33aa71e6b.png)

[2016-05-18 18:34] davidalger commented on #2705
Fixed in 2.0.6

[2016-05-18 18:41] commcad commented on #4546
@mazhalai - I quit!!! Gave up looking for my blank page and instead re-installed Magento 2.06 from scratch. Its working fine. Apologies if this is very unhelpful in finding solution(s) to problem(s). Faster for me that way (shellfish I know)

Same problem as @seavenger and @andidhouse however. > Press SYNC and the wheel is spinning forever. Creds are in there, cache flushed, etc etc etc

We all lo

[2016-05-18 18:46] piotrekkaminski commented on #4546
@commcad can you let me know how much memory the server has? I've seen somewhat similar effect when running out of memory, which happened on 1GB instances.

[2016-05-18 18:56] commcad commented on #4546
@piotrekkaminski
1vCPU with 3.75GB of memory, 25Gig SSD
Google Cloud's. Toasting the competition ;)
1. Fresh install Magento 2.06 (cleaned up both var/www/ and re-created the dB)
2. perms as follow:
- from the var/www/ folder:
- composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition domain.com
- sudo find var vendor pub/static pub/media app/etc -type f

[2016-05-18 18:59] chris-brabender commented on #4365
Another example is the footer of the admin panel as outlined in
Also related to https://github.com/magento/magento2/issues/4490

    <a class="link-copyright" href="http: Copyright&copy; 2016 Magento Commerce Inc. All rights reserved.</p><div class="footer-legal-system col-m-6">

This was introduced in 2.0.5 when the minify html was fixed for issue https://github.com/magento/magento2/issues/3893

[2016-05-18 19:09] srinivasanithin commented on #4329
Please reopen as their are other issues which are not resolved
On May 15, 2016 12:39 AM, "Sviatoslav Mankivskyi" notifications@github.com
wrote:

[2016-05-18 20:18] jibrandlr commented on #3373
@ishakhsuvarov I tried to disable the "company" field from checkout using the code you provided but does not work. I added that code to `/mytheme/Magento_checkout/layout/checkout_index_index.xml`

[2016-05-18 20:56] micheese opened #4561 "Cannot update Magento 2 EE from 2.0.5 to 2.0.6"
This is the error I got :

_Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

 Problem 1
- The requested package magento/product-enterprise-edition 2.0.6 exists as magento/product-enterprise-edition[2.0.5] but these are rejected by your constraint._

[2016-05-18 20:59] teokolo opened #4562 "Updating to 2.0.5 deletes translations"
## Steps to reproduce
1. Install Magento 2.0.4.
2. Create and install a language pack as explained in the official documentation.
3. Update to 2.0.5 using web setup wizard
## Expected result
1. Module language files xx_XX.csv kept as in previous version
## Actual result
1. Module language files xx_XX.csv have been deleted
2. My list of missing csv files (italian translation, language package built

[2016-05-18 21:00] micheese commented on #4561
{
    "name": "magento/project-enterprise-edition",
    "description": "eCommerce Platform for Growth (Enterprise Edition)",
    "type": "project",
    "version": "2.0.5",
    "license": [
        "proprietary"
    ],
    "repositories": [
        {
            "type": "composer",
            "url": "https://repo.magento.com/"
        }
    ],
    "require": {
        "magento/product-enterprise-e

[2016-05-18 21:05] mazhalai commented on #4561
@michiz05000 is this on web setup wizard?

[2016-05-18 21:09] jibrandlr commented on #3559
@katmoon I just upgraded to ver. 2.0.6 (composer installation) and the issue is still present

[2016-05-18 22:31] devdesco-ceo commented on #3208
When are you planning to merge the 32ca5c9 commit in 2.0 branch?

[2016-05-18 22:54] davidalger commented on #4562
That would indeed be the expected behavior, but let me explain :) The files you created were not setup in a language pack, but added to _dependencies_ required by composer. When a new version of a dependency (in this case, core modules) are updated, the entire dependency directory is blown away and the new version installed. This is nothing special about Magento, it's how composer works.

What I w

[2016-05-18 22:54] #4562 closed, assigned to nobody

[2016-05-19 01:19] cs221313 commented on #3919
Hi, Anton,

This feature is not 100% complete, I get problem in new shipping address part. When I select city. The option in city input will have the same text automatically.
![Uploading image.png…]()

I implemented by following js code:

define([
    'underscore',
    'uiRegistry',
    'Magento_Ui/js/form/element/select'
], function (_, registry, Select) {
    'use strict';

[code]

});

above js

[2016-05-19 01:48] VegasJames commented on #4506
incorrect, this is a stock Magento install. the bundle file inside both the
blank and Luma theme directories is 13MB

On Wednesday, May 18, 2016, Chuck Choukalos notifications@github.com
wrote:

[2016-05-19 03:22] pantaoran commented on #2790
But I don't want quick and hacky workarounds, I want sustainable solutions so that I don't need to worry about it in the future.

[2016-05-19 04:20] ryantfowler commented on #2412
@miguelbalparda can you please close this issue once you've downloaded 2.0.6 and performed your testing to verify that the new code supports your use case?

Thanks

[2016-05-19 04:24] hugh-optoma opened #4563 "Onepage checkout doesn't show full content after reutrning from PayPal"
This issue is reproducible in 2.0.6.
## Steps to reproduce

[Complete Steps]
1. Enable Onepage Checkout
2. Enable Paypal Express Checkout
3. Checkout through Onepage Checkout and get redirected to PayPal
4. Cancel and return to store. (Get redirected to Cart page)
5. Click "Proceed to Checkout" to Onepage Checkout
## Expected result
1. Onepage Checkout page should show full content including progr

[2016-05-19 04:38] webspeaks commented on #2695
I am having same problem upgrading from 2.0.4 to 2.0.6

In my update.cron.log I found this error:

Check https://getcomposer.org/doc/articles/troubleshooting.md#memory-limit-errors for more info on how to handle out of memory errors.Cron is already in progress...

But I have set php memory_limit to -1.
Any idea how to solve this?

[2016-05-19 05:42] yagneshponkiya commented on #4400
Thanks, Can we expect these changes in upcoming release ?

[2016-05-19 05:52] Vinai commented on #2790
@pantaoran
First, I added that comment for others mainly who might stuble over this thread via google.
Second, the issue is already solved: once the release version of Magento matches the stable version of the sample data, sample data installation will work again without th `Media.php` file being present.

However, if you happen to be using a git repository clone as your Magento 2 installation (wh

[2016-05-19 06:49] bondimedical3 commented on #2855
One question. The files you are saying to patch for example app/code/Magento/Catalog/Cron/RefreshSpecialPrices.php do not even exist. In fact there is no app/code folder?

[2016-05-19 07:09] yagneshponkiya commented on #4132
Is there any updates on this issue ?

[2016-05-19 07:09] teokolo commented on #2630
2.0.6 does not contain these fixes yet :(

[2016-05-19 07:21] jsakars commented on #4526
@slavvka indeed - thanks! These things should really be documented

[2016-05-19 07:21] #4526 closed, assigned to slavvka

[2016-05-19 07:31] digitalpianism opened #4564 "Topmenu template is not loaded from the original module"
## Steps to reproduce
1. Install Magento from `2.0` branch.
2. Create a module with a preference for the `Magento\Theme\Block\Html\Topmenu`

`<preference for="Magento\Theme\Block\Html\Topmenu" type="MyCompany\Theme\Block\Html\Topmenu" />`
1. Create your custom class:

[code]
1. Reload your page.
## Expected result
1. Custom class is used
2. No error
## Actual result
1. Custom class is used
2. An e

[2016-05-19 08:27] digitalpianism commented on #4564
Thanks to @fooman here's a PR that is fixing the issue: https://github.com/magento/magento2/pull/1895/files

[2016-05-19 09:10] bondimedical3 commented on #2855
I have updated to Magento 2.0.6 which I assume would include all these fixes but the issue is still present?

[2016-05-19 09:26] bondimedical3 commented on #2855
http://magento.stackexchange.com/questions/90510/magento-2-reindexing-one-or-more-indexers-are-invalid-make-sure-your-magento

[2016-05-19 09:26] peec opened #4566 "Products must have weight set to be added to cart."
If you add products with no weight to cart and go to checkout (check "Product has no weight"), Shipping step from the Checkout wizard is gone.
This is really bad if you for example forget to add weight to a product. Weight should not be needed for a product to be shipped. Such conditions should be handled within the shipping method. Weight is not always the way to calculate e.g. shipping so it sho

[2016-05-19 09:34] kanduvisla commented on #3102
I can confirm the same bug on Magento 2.0.6. Pretty much makes the cart broken since it never hides it's spinner

[2016-05-19 09:39] jsakars opened #4567 "Can't cancel the order"
## Steps to reproduce
1. Install Magento 2.0.6
2. Place an order
3. Try to cancel it via admin
## Expected result
1. Order is cancelled
## Actual result
1. Error is shown: "You have not canceled the item."

There is no button or anything else to cancel item(s) ordered. How should order normally be cancelled?

[2016-05-19 10:20] stamster opened #4568 "Magento_ConfigurableSampleData causing issues on Magento 2.0.6"
Please refer to:
## Actual result

https://github.com/magento/magento2-sample-data/issues/19

[2016-05-19 10:29] antboiko commented on #2564
Hello @tadhgbowe @p3mbo @RebeccaLTroth @jBOKA.

Please let me provide some clarifications. As for now, "Add products manually" isn't available until user defines attributes within "Create/Edit Configurations" wizard. Once it's done "Add Products Manually" appears. As a suggestion, no need to select all values for attributes on Step 2 if user is going to replace them with already existing Simple Pr

[2016-05-19 10:30] katmoon commented on #2855
@bondimedical3 2.0.6 is a patch version that includes only some individual fixes.
The fix is available in develop branch. It will be included into new 2.1 release. You can also apply it manually on your server.

[2016-05-19 10:38] wizjack commented on #3977
Same issue for me, while entering the public and private key in the component manager attached is the screen shot.
![image](https://cloud.githubusercontent.com/assets/15883444/15390855/ce1c96b6-1ddb-11e6-91af-7136c31682bd.png)

[2016-05-19 10:38] jBOKA commented on #2564
Thanks for your feedback. Appreciate it!

[2016-05-19 10:52] matt-bailey opened #4569 "UI Library documentation not loading/including any JavaScript"
I'm not sure if I'm missing something here, but when I browse the UI library (i.e. /pub/static/frontend/Magento/blank/en_US/css/docs/index.html) none of the components that depend on JavaScript work?

What I mean by that is, clicking on the Dropdown component does nothing, clicking on one of the tabs in the Tabs component does nothing.

Viewing the source code and Network tab in Chrome Dev Tools c

[2016-05-19 11:22] katmoon commented on #4549
Hi @rawick

Thank you for such a good issue description. I could easily reproduce the bug and created `MAGETWO-53036` ticket to fix it.

Thanks,
Kateryna.

[2016-05-19 11:25] flipflap opened #4570 "Backend fail after update message comes up"
Same again, **I really need help**... I can not set up all again. To much is done already.
https://github.com/magento/magento2/issues/4034#event-622530346

I tried already:
./bin/magento indexer:reindex
./bin/magento setup:static-content:deploy
./bin/magento cache:flush
## Steps to reproduce
1. Update message ist coming
2. Backend fails
## Expected result
1. Backend should not fail

Actual result

[2016-05-19 11:31] katmoon commented on #4545
Hi @stepzerosolutions

Currently there are known problems with multiselect attribute
Please see #4346 and #4312

[2016-05-19 11:39] klarlichter opened #4571 "Calculation error on tax while usinge discount code"
Hello,

we had setup german tax and also tax on shipping cost. If we try to use a discount who will reach the full amount of shopping cart discount not working for shipping cost tax. It always display shipping tax on shopping cart... could anyone help?

It seems that disocunt wont apply to shipping cost tax. Only tax... :(

I had also attach all settings.
So we had setting the tax page:
![bildschi

[2016-05-19 11:40] klarlichter opened #4572 "get price with and without tax on list.phtml"
Hello,

how we can get the price for simple and configurable product on list.phtml? If we try:

`$block->getProductPrice($_product)`

We get the correct price but how we get the price with and without tax from a simple and configurable product? Which 2 line codes we need to use?

like:

[code]

Hope someone can help... :(

[2016-05-19 11:41] joates-ldg opened #4573 "Updating store specific product data causes product to de-associate with other stores"
## Steps to reproduce
1. Install Magento from `2.0.4` tag.
2. Setup three websites, stores and views
3. Create a product and associate the product to all three stores
4. Post an update to a view specific api endpoint updating the title of the product
   /rest/{view}/V1/products

{"product":{"name":"{title}","sku":"{sku}"},"saveOptions":true}
## Expected result
1. The product should title should up

[2016-05-19 11:41] katmoon commented on #4539
Hi @huabiao

Thank you for reporting the issue!
The issue is reproducible and logged internally as `MAGETWO-53039`

Thanks,
Kateryna.

[2016-05-19 11:42] sivajik34 opened #4574 "Category's products count issue in all store view scope"
## Steps to reproduce

Steps to reproduce the issue:

1.We have two web sites (website1,website2) in single instance.

website1-store1-storeview1

website2-store2-storeview2

2.Create 2 simple products:

product1 (assigned to website1),

product2 (assigned to website2)

3.create category in website2 & assign product2 for that category.

4.Now select all store view scope.the count in left side will

[2016-05-19 11:46] chicgeek commented on #3373
@lgarridoj This works fine for us. Here's my version of the full file with that change, and some other fields removed. Gotta love the nesting. 😝

Also be sure to try clearing your static files and clearing caches after this change, in case your old XML is cached.

`app/design/frontend/MyTheme/default/Magento_Checkout/layout/checkout_index_index.xml`

[code]

[2016-05-19 11:49] katmoon commented on #3559
@lgarridoj

2.0.6 is a patch version for individual fixes. The issue is in develop branch and will be included into 2.1 release.

[2016-05-19 12:02] katmoon commented on #4516
Hi @igrslv

Thank you for such a good issue description.

I cannot reproduce the issue on develop branch. The product page has been completely reworked, and this issue could probably be fixed.

The fix is already in develop branch and will be available in 2.1 release.

I'm closing the issue. Feel free to reopen it if needed.

Thanks,
Kateryna.

[2016-05-19 12:02] #4516 closed, assigned to nobody

[2016-05-19 12:06] katmoon commented on #4513
@ADDISON74

Which Magento version do you use?
I see correctly links on develop branch pointing to http://docs.magento.com/m2/ee/user_guide/configuration/scope.html

[2016-05-19 12:09] commcad opened #4575 "Magento 2.06: Web Setup Wizard can't sync with Marketplace (looping wheel)"
## Steps to reproduce
1. Install fresh copy of Magento 2.06 from composer create-project
2. Backend > System > Web Setup Wizard > Add and save PKs in Configuration Manager
3. Backend > System > Web Setup Wizard > Component Manager
4. Click Sync button

Steps were taken for cleaning var/cache/di/generation + re-compiling/indexing/flushing., multiple times.

Noticed a few members here on Github and

[2016-05-19 12:15] yaronish commented on #4315
Fixed.

[2016-05-19 12:15] #4315 closed, assigned to piotrekkaminski

[2016-05-19 12:19] commcad commented on #4575
Please note the OOTB installation of 2.06 comes with a great deal of CRITICAL errors related to CSS which get logged inside system.log. Not sure how relevant this is to this actual problem. Regardless of those critical errors, the frointend and backend seems to be functioning well.

No erros/logs other that those CRITICAL CSS ones. Let me know if you need me to look for something in particular and

[2016-05-19 12:23] katmoon commented on #4574
Hi @sivajik34

Thank you for reporting the issue and separate thanks for such a good description.
I've created internal ticket `MAGETWO-53046` to process this issue.

Thanks
Kateryna.

[2016-05-19 12:27] katmoon commented on #4570
@flipflap could you please update the issue title?

Thanks,
Kateryna.

[2016-05-19 12:28] MomotenkoNatalia commented on #4557
Hi @BenSpace48 !
Thanks for pointing on this issue. We are waiting for your Pull Request.

[2016-05-19 12:31] Rickverweij opened #4576 "Error when clicking "view" in "Orders""
I use Magento 2.0.6.

I get the following error when i click on "view" in the "Order" tab:

*The stars is my domain.

Fatal error: Uncaught Error: Call to undefined method Magento\Sales\Api\Data\OrderExtension::setShippingAssignments() in /home/deb87338/domains/********_/public_html/dev/vendor/magento/module-sales/Model/OrderRepository.php:171 Stack trace: #0 /home/deb87338/domains/**_*****_/publi

[2016-05-19 12:42] katmoon commented on #4466
@priyankagarg8 I cannot reproduce the issue on develop branch.

Could you provide more info about your environment and any non-default settings that you used?

Does it happen
- only  for a specific configurable product
- for all configurable products
- for all products including simple products?

Thanks,
Kateryna.

[2016-05-19 12:45] jsakars opened #4577 "Catalog & cart price rule conditions - no longer can filter by attributes"
## Steps to reproduce
1. Upgrade from Magento 2.0.5 to 2.0.6
2. Try to add catalog or cart price rule
## Expected result
1. User can set different conditions - category, color, manufacturer etc. the same as it was possible in earlier M2 releases
## Actual result
1. User can set **only** product category and attribute set conditions

This seems like a bug - otherwise it's backwards incompatible. No

[2016-05-19 12:58] NadiyaS commented on #4576
Hi @Rickverweij ,
looks like you have old generation files.
Please upgrade your magento by using next command `php bin/magento setup:upgrade`.
And if you still have this problem please provide more detailed steps to reproduce.

[2016-05-19 13:01] haricl commented on #4561
I am getting the same error, when I run from command line.

[2016-05-19 13:12] micheese commented on #4561
@mazhalai , it's with the command line interface.

[2016-05-19 13:13] katmoon commented on #4443
The issue is reproducible on develop branch

[2016-05-19 13:20] tgoeminne opened #4578 "Ups shipping method CNY vs RMB currencycode problem"
## Steps to reproduce
1. Use UPS shipping method set origin country to China
2. [Example] shipping settings origin country = China
3. UPS price not working it is not showing up, in debug can see that prices are collected but currencycode used by ups in china is RMB

I added the following line of code in Carrier.php

protected function _parseXmlResponse($xmlResponse) ....

....
$responseCurrencyCod

[2016-05-19 13:24] Rickverweij commented on #4576
Easy but good solution. Worked for me. Thanks!

[2016-05-19 13:25] hgpit opened #4579 "Country of Manufacture drop down is limited"
Magento v2.0.5 / PHP 7
## Steps to reproduce
1. Configure M2 config to only sell to 1 (or 2 or 3 etc) countries.
2. Click on "country of manufacture" drop-down in product profile.
## Expected result
1. A list of all countries (regardless of which countries we want to sell to) should be displayed
## Actual result
1. Country list is restricted to the "Allowed Countries" list, as per the site configu

[2016-05-19 13:35] moax6629 commented on #3948
@ishakhsuvarov How can we possible change this behaviour? i.e. to display 0 as well.

[2016-05-19 13:38] mazhalai commented on #2695
@arvind07 Please do not post on closed issues.

[2016-05-19 13:41] mazhalai commented on #4575
@commcad this has been fixed internally (will be in the develop branch soon), and is marked for 2.1 release.

[2016-05-19 13:47] mazhalai commented on #4561
@michiz05000 and @haricl Please do not post EE issues on github. Please use the partner portal. When you do, please post what steps did you do to upgrade.

`composer require magento/product-enterprise-edition 2.0.6 --no-update` and `composer update` should work.

[2016-05-19 13:47] #4561 closed, assigned to nobody

[2016-05-19 14:04] ghost commented on #1471
I keep getting this error on the first item I try to import, I checked my url_rewrite table and its basically empty.

[2016-05-19 14:16] stamster commented on #4570
Try running `magento setup:upgrade`

[2016-05-19 14:30] klarlichter commented on #4571
Hello, get someone any idea? I am looking maybe 6 hours since now but cant find out what going wrong...:(
Please anwer on that issue:  #4581

[2016-05-19 14:31] flipflap commented on #4570
Thanks stamster, but didn't help.

The backend loaded after login doesn't include html header and other code, it is only the notification message without anything else. Is there a way to turn off  notification messages without using the backend?

[2016-05-19 14:35] SidneyBilliet opened #4580 "order not being canceled"
## Steps to reproduce
1. go to https://www.bariatricadvantage.eu
2. log-in to the account by using email: patrick@studioemma.eu and pwd: testtest
3. Add a Product to the cart.
   3.Try checking out using Paypal
## Expected result
1. You should be able to checkout
## Actual result
1. Error message appears: "PayPal gateway has rejected request. Payment has already been made for this invoiceID (#1041

[2016-05-19 14:35] tkacheva commented on #1564
Added to promotion backlog. internal ticket MAGETWO-40831

[2016-05-19 14:35] #4576 closed, assigned to NadiyaS

[2016-05-19 14:36] mazhalai commented on #4570
@flipflap can you please post image else where, cannot access dropbox. Also, what is your latest version of Magento, OS, PHP version, etc.

[2016-05-19 14:40] flipflap commented on #4570
The screen is here:
http://webgarten.ch/error.jpg

I found a temporary solution. I removed all code between containers in:
- adminhtml_notification_block.xml
- adminhtml_notification_index.xml
- default.xml

Path:
"vendor/magento/module-admin-notification/view/adminhtml/layout"

Then the backend works again.

[2016-05-19 14:46] stamster commented on #4570
Here's a shell script I built for easy Magento2 management, if you need it.

http://stamster.github.io/magento2-commander.sh

Save in Magento root dir, and give execute permission with `chmod +x magento2-commander.sh`

[2016-05-19 14:50] flipflap commented on #4570
Thanks. I can use that for other things.
But this seems to be a bug in the module-admin-notification

[2016-05-19 14:51] klarlichter opened #4581 "Magento 1.0.5. - Discount on shipping cost tax conflict"
Hello,
it seems if we are using any discount code that discount will working but it will not working on shipping tax ... it seems that shipping tax need to pay because discount not working on shipping tax and I dont know why :(

Please review example image.
![bildschirmfoto 2016-05-19 um 13 57 34](https://cloud.githubusercontent.com/assets/1537343/15397993/52e47340-1de2-11e6-8a6a-c2b3b4d58824.png)

[2016-05-19 14:52] pboisvert commented on #3948
Andrii--passing this one to you (though closed) to consider the feature request

[2016-05-19 14:52] commcad commented on #4575
Thanks mazhalai, we'll keep an eye open for the release.

Keep up the good work there guys

[2016-05-19 15:01] bh-ref opened #4582 "ProductRepository removes category ids when saving products"
## Steps to reproduce
1. Install Magento 2.0.6.
2. Add a simple product and assign it to an attributset, then add another simple product and assign it to a **different attributset**.
3. Save both products in the same session by using class ProductRepository. See the scripts below.
## Expected result
1. The categories of the saved products remain the same.
## Actual result
1. The categories of the

[2016-05-19 15:05] antboiko commented on #3017
Hello @miketsl , sorry for the delayed response. We've created internal ticket MAGETWO-53090 for this feature and added it to the backlog.

Best,
Anton.

[2016-05-19 15:13] voleye commented on #4577
Hi @werdlv, I have just checked out v2.0.2 and observe the same behavior.

[2016-05-19 15:17] mazhalai commented on #4570
We have created MAGETWO-53101 to investigate and fix. @flipflap can you please give more details about OS, webserver and version, PHP version, etc.

[2016-05-19 15:17] pboisvert commented on #4581
Chuck--not sure this is you or Andrii (for checkout)

[2016-05-19 15:21] klarlichter commented on #4581
Hello, anyone know a solution? :?
More details I also post there...:  #4571

[2016-05-19 15:23] antboiko commented on #2022
@mage2pro

Hi Dmitry, sorry for the delayed response.

The fix is already in develop branch and will be available in 2.1 release.

I'm closing the issue. Feel free to reopen it if needed.

Thanks,
Anton.

[2016-05-19 15:23] #2022 closed

[2016-05-19 15:24] slavvka commented on #4523
Hi @sheldonli999, If you can look into the database (eav_attribute_group, eav_attribute_set, eav_entity_attribute and customer_eav_attribute), you can see that 1 stands for customer attribute set, 2 is for customer address attribute set and proposed 4 stands for product attributes. Could you please check that and give us more detailed information and issue description. Thank you!

[2016-05-19 15:28] kamote commented on #1280
issue still exist in 2.0.5

[2016-05-19 15:35] leoquijano commented on #4560
An additional place where this can be improved is the `Magento\Checkout\Controller\Cart\Index` class:

[code]

It can be refactored like this:

[code]

[2016-05-19 15:36] leoquijano commented on #4560
And then theme developers can override the `getTitle` method:

[code]

[2016-05-19 15:46] sheldonli999 commented on #4523
Hi:  it looks like 2.0.6 has fixed the issue.  Thanks.  Have a different question: When I make a restful call, I consistently get an error message: message":"No region found within the locale 'en’.  Do you have any advise?  I tried to set the store properly via Admin UI.  The region is set to California, etc...  Thanks

[2016-05-19 15:56] MomotenkoNatalia commented on #4154
Hi @stasleo !
Thank you for reporting this issue. Internal MAGETWO-53105 ticket has been created.

[2016-05-19 15:58] cpartica commented on #4572
Hi there, Seppelchen, I believe that you are referring to Magento/Catalog/view/frontend/templates/product/list.phtml
You could use something like
`$_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount()`
This gets you the price with no tax into store currency
You might want to convert that into display currency
`$this->priceCurrency->convert()` where is `\Magento\Framework

[2016-05-19 16:08] klarlichter commented on #4572
Hello, thank you for that great replay.
You talking:
`$_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount()`

and what we can use for product with tax (which will also work for simple and configurable product)?

Hope you could also provide a similar code. :)

[2016-05-19 16:15] cpartica commented on #4572
this code should work for all product types
`$_product->getPriceInfo()->getPrice('final_price')->getAmount()->getAmount()`
is the price including tax (that adds Weee FPT price as well if you use that)
You can look at the format of $_product->getPriceInfo()->getPrice('final_price')->getAmount()
it has all your needed information there like discounts, adjustments, tax values if more.. etc..

[2016-05-19 16:26] klarlichter commented on #4572
Hello, sorry for question, but...
If we are using

`$_product->getPriceInfo()->getPrice('final_price')->getAmount()`

How we can convert into for example:
11.11 or 10.00
--> Round and use 2 decimals.
If we try:

`round($_product->getPriceInfo()->getPrice('final_price')->getAmount(),2)`

wont work and also not with number_format
Hope you can help again...:S

[2016-05-19 16:29] c-moyer commented on #4561
I got the same error.  Anyone have a solution for this or know where to look

[2016-05-19 16:32] cpartica commented on #4572
sure, you can use Magento/Framework/Pricing/PriceCurrencyInterface

[code]

[2016-05-19 16:34] klarlichter commented on #4572
Hi sorry I cant understand.
I had insert into list.phtml:

[code]

What I need write into line with "$priceWithTaxRound" that it will be round and display everytime 2 decimals like:
10.00 or 11.32

[2016-05-19 16:43] cpartica commented on #4572
you will have to inject that interface into your extended Magento/Catalog/Block/Product/ListProduct.php through constructor,
http://magento.stackexchange.com/questions/74632/di-extending-a-block-on-magento-2/74633#74633

in constructor you can inject your Magento/Framework/Pricing/PriceCurrencyInterface
then use it in the block

you might look how it's done in Magento/AdvancedCheckout/Block/Adminh

[2016-05-19 16:45] klarlichter commented on #4572
Hello,
your help are very brilliant but I cant understand how...:'(
How I can insert round price into list.phtml ?
I never do that before. 💃

[2016-05-19 16:58] cpartica commented on #4572
No, beacuse the block doesn't have the propper tools to do it.
you're doing too much on list.phtml, that's not the purpose for a view, that's why we have renderers
if you want to add more business logic, you must implement your own block and do that logic there as I described
Don't be scared to add a little code, Magento is all about best practices and doing things the right way,
It has the right

[2016-05-19 17:01] klarlichter commented on #4572
Hello,
OK. For example, but thats not working because I cant using:

`$_product->getPriceInfo()->getPrice('final_price')->getAmount()`

Example code:

[code]

How can I put my code working and into block? Could you subscribe for beginners and very easy that o can do that step by step please?

May you could develop a *.php example and let me know where I need put that and which code I should use to

[2016-05-19 17:08] cpartica commented on #4572
Use
$product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue() as $_product->getPriceInfo()->getPrice('final_price')->getAmount() is an object
Do you have a debugger? you could do a breakpoint and see what's the structure

You could try to ask a question on http://magento.stackexchange.com as this is not a bug but more of a question how to, and I'll try to respond that there

[2016-05-19 17:08] jibrandlr commented on #3373
@chicgeek That code works. My code was not working because of some `item name` line missing in the nesting.

[2016-05-19 17:11] mazhalai commented on #4559
Duplicate of #4546

[2016-05-19 17:11] #4559 closed, assigned to nobody

[2016-05-19 17:12] klarlichter commented on #4572
Hello,
it made me really really sad... :-(

If I am using

`echo $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();`

I get

otice: Undefined variable: product in /var/www/vhosts/domain.tld/httpdocs/magento2/app/design/frontend/Emthemes/everything/default/Magento_Catalog/templates/product/list.phtml on line 352
#0 /var/www/vhosts/domain.tld/httpdocs/magento2/app/design/fro

[2016-05-19 17:19] klarlichter commented on #4572
Now it is working like a charm. :) Thank you for great support. If we now could also solve that issue:

#4581 (Magento 1.0.5. - Discount on shipping cost tax conflict)

I would pretty happy. Maybe you also can help?

[2016-05-19 17:38] OgreMHDW commented on #4333
This is also happening on 2.0.6.

[2016-05-19 18:19] BenGlassAtlas commented on #2790
That did the trick, thanks @Vinai

[2016-05-19 18:39] choukalos commented on #4572
Closing; this is a question better asked on Stack Exchange or our Forum (though it's answered).

[2016-05-19 18:39] #4572 closed, assigned to mikeweis

[2016-05-19 18:41] BenGlassAtlas commented on #4557
@MomotenkoNatalia I have created a pull request for the files in lib - https://github.com/magento/magento2/pull/4583

I couldn't replicate the spelling in the blank theme so I presume these have been fixed recently.

[2016-05-19 18:46] choukalos commented on #4571
Stack exchange is probably a better forum to ask this question on.

Hey @piotrekkaminski  looks like this is an M1 question / potential issue.  I'm closing and tagging you so you can slot/follow up if it's in M1.x mainline.

[2016-05-19 18:46] #4571 closed, assigned to nobody

[2016-05-19 18:48] choukalos commented on #4581
Per discussion with @cpartica this is really a question or potential issue for Magento 1.x.  CC'ing @piotrekkaminski

[2016-05-19 18:48] #4581 closed, assigned to choukalos

[2016-05-19 18:59] chrisconlon-klaviyo commented on #3787
Also seeing this for:

Works as expected for `/V1/products` though.

As a workaround for others that are blocked by this, I'm going to just use the response's `page_size` \* `current_page` > `total_count` to know when I'm past the last page.

[2016-05-19 19:14] BenGlassAtlas commented on #4555
@MomotenkoNatalia If you choose to apply this then I have created a pull request - https://github.com/magento/magento2/pull/4584

[2016-05-19 19:16] klarlichter commented on #4571
Hello, it is a bug on magento2 too. So could anyone help? Because it is a mistake on calculation.

[2016-05-19 19:20] klarlichter opened #4585 "Calculation issue on Checkout while using discount"
Hello,

I don't understand why you had close my ticket
#4571 and #4581

Because it not only related to magento 1.  It also cause on magento 2 and I really like to know how we can solve that.
Because if we try use full discount shipping tax will not subtract. Customer had to pay only shipping tax. Why ? Could you help to solve please ?:(

@cpartica it is also a magento2 issue. But I don't know how

[2016-05-19 19:54] LouNik1984 commented on #3675
Ok, I've just installed the lastest magento 2 stable version (2.0.6) and some of the issues I found previously are gone (local settings are the same as old installation). I installed M2 from zip (not composer) and:
- install went smoothly from first time (so was my old installation but this time installation was a bit faster)
- first time loading backend and frontend pages right after installation

[2016-05-19 20:55] addison74 commented on #4513
This is Magento CE 2.0.5.

[2016-05-19 21:00] PieterCappelle commented on #2951
Any update about this? Same problem about the tag "Forgot Your Password" you can't translate. This should be fixed. Thank you!

[2016-05-19 21:02] choukalos commented on #4556
Tracking internally - MAGETWO-53126

[2016-05-19 21:12] addison74 opened #4586 "Notifications Section - Please fix links in Actions column"
See the screenshot from bellow. Go to Notifications Section in your backend. In Actions column there are three links which are one after other. Please use a list in html code in order to get every link as a row. It is a visual bug.

![links](https://cloud.githubusercontent.com/assets/8360474/15409842/5c537df8-1e1f-11e6-8903-ab2cb2a1057d.jpg)

[2016-05-19 21:20] PieterCappelle commented on #4365
Any update on this?

[2016-05-19 21:21] PieterCappelle commented on #3580
@MomotenkoNatalia: any idea when is soon? :)

[2016-05-19 21:32] PieterCappelle commented on #3097
Had the same problem today. Doing composer update removed the pub/media/import folder.

[2016-05-19 21:47] frangopr commented on #3951
Hi @MomotenkoNatalia
I hope you are doing well.

I ran across this same issue aswell. It's very critical as it also happened to product images.

When searching you can find various issues reported for the same problem, but none seem conclusive.

Was wondering if this can be sometging the team could investigate internally.

Thank you & the team,

Fran

[2016-05-19 22:30] klarlichter opened #4587 "get storeview on list.phtml"
Hello,

how it is possible to get the storeview on list.phtml via little php code in list.phtml

Hope someone could help.

[2016-05-19 22:56] jaimestuardo commented on #4010
I have updated to 2.0.6 and problem still exists.

[2016-05-19 23:04] ant-workaholic opened #4588 "Prices of related products on PDP changes according to product custom options."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Need add custom options (with some extra prices) to some product, also add some related products to the product.
3. Visit the product page.
4. Specify some custom option.
5. Refresh page.
6. Specify some option again and look to prices of related products.
   For me this  reproduces after flushing cache in my browser (in Chrome aft

[2016-05-20 01:48] zin-mi commented on #4110
Hi @MomotenkoNatalia ,
Here my code and it not working in the breakpoint under 480px with Magento Breakpoint default

[code]

The padding still: padding-top: 0px when i switch to device under 480px.
Please let me know how to resolve it.

Best Regards,
Ziven.

[2016-05-20 01:50] zin-mi commented on #4110
@zanilee,
I'm still having problem about the breakpoint you said still not working. I'm tried much time but still not the success.
Please let me know how to resolve or have some sample working fine.

Many Thanks.

Best Regards,
Ziven.

[2016-05-20 04:11] NanthiniMuralidaran opened #4589 "Login Popup appears while clicking "Proceed to checkout" even after logged in"
## Steps to reproduce

In this case,I faced that popup issue.
I added a product to the cart before log in to the site.Then i logged out from the site.Again i added a product to the cart before log in.And then i logged in and clicked "Proceed to checkout",the popup appears.
## Expected result

Popup should not come,it should allow to checkout
## Actual result

Popup appears

[2016-05-20 04:18] wenpingguo opened #4590 "Date picker Cannot select Year and Month"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. enable "Show Date of Birth" in admin customer configuration.
3. go to storeurl/customer/account/create in frontend and click "date of birth"
## Expected result

I can select year and month in date picker
## Actual result
1. I cannot select year and month in date picker
2. screenshot: http://take.ms/DUxBW

[2016-05-20 04:25] thomvanderboon commented on #2951
@PieterCappelle This issue has already been fixed in latest development branch. Will be moved to stable branch in one of the upcoming releases.

[2016-05-20 04:39] qwerty7869 opened #4591 "Minicart showing blank value till products are not added in cart"
In 2.0.6 magento version also, minicart shows blank value till products are not added in the cart.

Steps to reproduce
1. Open home page and you will see the issue as described in below image
![miniccart_issue](https://cloud.githubusercontent.com/assets/2813660/15417336/57c6e268-1e72-11e6-9d79-ef1b6e170d64.png)

Expected Result
1. Minicart value should be 0 instead of blank value.

Please help to

[2016-05-20 04:51] wenpingguo commented on #4590
It is actually a jQuery datepicker issue.

[2016-05-20 04:51] #4590 closed, assigned to nobody

[2016-05-20 05:10] pboisvert commented on #3951
Olena--can you have the team investigate this one?

[2016-05-20 05:22] pboisvert commented on #4588
Anton--please have the team check this issue?

[2016-05-20 05:27] pboisvert commented on #4563
@asemenenko can you have the team investigate?

[2016-05-20 06:02] flipflap commented on #4570
Here are the Server Information:

Apache-Version  2.4.18
PHP-Version 5.5.33
MySQL-Version   5.6.30
Architektur x86_64
Betriebssystem  linux
Perl-Version    5.10.1
Kernel-Version  2.6.32-531.23.3.lve1.3.6.el6.x86_64

[2016-05-20 06:27] toonvd commented on #1577
@asemenenko What is the status on this one? If I were to create a pullrequest myself, would it make the next release? This is very important for companies that build shipping methods to ensure higher quality.

[2016-05-20 06:32] ruby10 commented on #4527
Hi @katmoon , failure of these two API's are acting as blockers for integration of Magento2 Items. Please let me know if there is any update on it?

[2016-05-20 06:34] ruby10 commented on #4525
@katmoon , would you please tell which release will be having fix for it?

[2016-05-20 06:38] ruby10 commented on #4528
@katmoon , this bug is one of the early stage blockers for Magento2 item integration we are trying to develop. Would you please update us about fix?

[2016-05-20 06:41] PieterCappelle commented on #2951
@thomvanderboon Great! I can't find anywhere in this issue that it has been fixed, how do you know such a things? (we are always working on stable releases like 2.0.6 right now)

[2016-05-20 07:11] srinivasanithin commented on #4527
Hi

I am also facing issue. Is it already resolved ? can you let me know how you guys resolved it? It will be really helpful.

Thanks in advance

[2016-05-20 08:02] klarlichter opened #4592 "get some variable on product detail page"
Hello,
we try to fetch some information on product detail page...
We try to get a attribute from product with:

`$labelDeliveryTime = $_product->getResource()->getAttribute('delivery_time')->getStoreLabel();
`
but that wont work...:(

We also try to get product price
with tax:

`$_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();`

and product price without tax:

`$_produc

[2016-05-20 08:02] srinivasanithin commented on #4528
@katmoon :
Do you have any update on error ?

[2016-05-20 08:06] srinivasanithin commented on #4525
@katmoon : Can we have a update on this issue as well?

Is it intended to have single root category and have other actual categories as subcategories to root category? I remember we were have multiple root categories in Magento1 as different product lines (apparels, toys) have different category lines.

[2016-05-20 08:24] andidhouse opened #4593 "Wrong backend CSS showing white headlines (browser safari/mac)"
There is a wrong css formatting in the backend --> product --> crossellproducts / updsell etc.

The headline is shown white in safari/mac because of the css background: transparent

![2](https://cloud.githubusercontent.com/assets/16196483/15421687/f5a9203e-1e74-11e6-9667-25c8e3cdcb2e.png)
![1](https://cloud.githubusercontent.com/assets/16196483/15421688/f5ccb6e8-1e74-11e6-882a-5dad2de585a4.png)

[2016-05-20 08:26] katmoon commented on #4588
Hi @ant-workaholic

Thank you for the comprehensive description of the issue. This is a very good find!
I've created internal ticket `MAGETWO-53135` to fix the issue.

Thanks,
Kateryna.

[2016-05-20 08:27] andidhouse commented on #4575
@mazhalai do you know when 2.1 is released. we also have the same problem.

[2016-05-20 08:30] sivajik34 commented on #4574
I think we need to modify following lines of code in  file path: Magento\VisualMerchandiser\Model\Category\Products

/*\* @var \Magento\Catalog\Model\ResourceModel\Product\Collection $collection */
        $collection = $this->getFactory()->create()
            ->getCollection()
            ->addAttributeToSelect([
                'sku',
                'name',
                'price',

[2016-05-20 08:44] chicgeek commented on #3373
@lgarridoj Great. Especially with this godawful nesting, I thought the entire context would be helpful.

Glad I could help!

[2016-05-20 09:01] srinivasanithin opened #4594 "Shipping cost on credit memo is not getting set properly [DisplayIssue]"
Steps to reproduce
1. Install Magento from `develop` branch.
2. Placed an order using Magento Admin and invoiced it using the Magento Invoice button.
3. Tried to create an Credit Memo via REST API POST:/V1/creditmemo/refund with following body

" {
    "creditmemo" : {
        "orderId" : 3,
        "shipping_amount" : 0,
        "base_shipping_amount" : 0,
        "shippingAddressId" : 5,

[2016-05-20 09:08] srinivasanithin commented on #4594
Sorry, it was working fine. I was just confused on with display. closing the issue

[2016-05-20 09:08] #4594 closed, assigned to nobody

[2016-05-20 09:17] antboiko commented on #4551
Hi @luukScheur , could you please advise me what Magento version are you running?

Thanks,
Anton.

[2016-05-20 09:22] katmoon commented on #3675
@LouNik1984

Cron job that you setup runs the same command as you run manually.
Please note that you need to run the command twice so that indexes are reindexed. See here in the end of the page: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

Thanks,
Kateryna

[2016-05-20 09:23] karmalis opened #4595 "Paypal Website Payments Pro Hosted Solution iframe"
## Steps to reproduce
1. Install Magento from `2.0.6` (and/or previous) release.
2. Setup Paypal Website Payments Pro Hosted Solution (using a sandbox account)
3. Add any product to cart
4. Attempt a checkout using a "test" card
## Expected result
1. Magento opens an iframe where you can enter the card details
## Actual result
1. The iframe opens in the actual window with the following message com

[2016-05-20 09:33] mPanasiewicz opened #4596 "PUT doesn't UPDATE Cart item price"
HI,
I've got a problem while PUT the card item. WHat I am doing:
1) FInd all products of the cart: # GET: http://my_host.dev/index.php/rest/V1/carts/8/items ( I don't know yet how to find client cartId....) I found correct number by increasing the number from 1.
2) the answer was:

2) Update cart item price by:

3) I get not Updated item price in cart. My response is the same as in point 1). I hav

[2016-05-20 09:41] oserediuk commented on #2619
Thanks for the report! We have created issue MAGETWO-52879

[2016-05-20 09:41] ruby10 opened #4597 ""Price vs Destination" value for "Condition" field in "Table Rate " Shipping method is not working."
Hi there,

For "Table Rate" shipping method on setting "condition" field as "Price vs Destination" and later after importing csv file with correct values to a website doesn't display correct shipping prices for table rate method while creating new order, it will always display first shipping price value.
Here I have attached screenshot for csv I have imported for a website shipping methods.
![p19]

[2016-05-20 09:58] LouNik1984 commented on #3675
"Cron job that you setup runs the same command as you run manually."

My issue here is that I don't want to run the cron on my local environment but if I don't set any cron, no matter how many time I run the indexer command manually, reindex behaves weird: command interface shows successful message as the indexer has worked, but then when I go back to admin page and refresh the page, it tells me t

[2016-05-20 09:58] zin-mi opened #4598 "The Responsive not working device under 480px"
Here my code and it not working in the breakpoint under 480px with Magento Breakpoint default

[code]

The padding still: padding-top: 0px when i switch to device under 480px.
Please let me know how to resolve it.

Best Regards,
Ziven.

[2016-05-20 10:15] vkorotun commented on #4564
If someone interested in the subject, please join the discussion here: http://magento.stackexchange.com/questions/115988/are-we-forced-to-rewrite-a-template-in-magento2-when-rewritting-a-block/

[2016-05-20 10:18] katmoon commented on #4525
Hi all

Thank you for reporting the issue!
I've created internal ticket `MAGETWO-53152` to fix it.

Thanks,
Kateryna.

[2016-05-20 10:18] MomotenkoNatalia commented on #4557
@BenSpace48 thanks for pull request. I am going to close this issue and create the internal task to process your PR.

[2016-05-20 10:18] #4557 closed, assigned to MomotenkoNatalia

[2016-05-20 10:22] gorillagroup opened #4600 "Left navigation not appeared after change In Anchor for category"
## Steps to reproduce
1. Install Magento from 2.0.6 tag
2. Create new Sub-category
3. Set In Anchor = No
4. Add products to Category and save category
5. Change In Anchor = Yes and save category
## Expected result
1. Left navigation for category appears on frontend
## Actual result
1. No left navigation for this category

[2016-05-20 10:40] #4600 closed, assigned to nobody

[2016-05-20 10:45] manaftryzens opened #4601 "Error page on Backend->System->Scheduled Imports/Exports tryzens->Add Scheduled Import"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Login to Admin
   3.Go to System->Scheduled Imports/Exports tryzens->Add Scheduled Import
## Expected result
1. New form showed up to add scheduled import
## Actual result
1. Error message appears: "Notice: Use of undefined constant FTP_BINARY - assumed 'FTP_BINARY' in /var/www/html/vendor/magento/module-scheduled-import-export/Mod

[2016-05-20 10:48] manaftryzens commented on #4601
This is happening on v2.0.4 & v2.0.5

[2016-05-20 10:57] antboiko commented on #4579
Hello @hgpit , thanks for reporting this issue. We've created internal ticket MAGETWO-53159 to fix this.

Best,
Anton.

[2016-05-20 11:12] piatrouski opened #4602 "Convert attribute (dropdown) to visual swatches with a lot of options"
## Steps to reproduce
1. Add into attribute (dropdown type) through Web API more than 200 options.
2. Save this attribute as Visual Swatch.
## Actual result
1. Error message appears: "Notice: Undefined offset: 131 in /chroot/data/stage/_SERVER_/html/vendor/magento/module-swatches/Model/Plugin/EavAttribute.php on line 178".
2. [Screenshot](http://piatrouski.xyz/screenshots/clip-2016-05-20-14-01-12-

[2016-05-20 11:48] bch80 opened #4603 "Can't upgrade a fresh installation from 2.0.0 to 2.0.6"
## Steps to reproduce

`git clone https://github.com/magento/magento2.git
cd /var/www/magento2
composer install
composer update`
Install Magento
Edited composer.json and added:
`"magento/product-community-edition": "2.0.6",`
and changed version to:
`"version": "2.0.6",`
then:
`composer update`
## Expected result

Composer should now be upgrading my Magento
## Actual result

"Loading composer repos

[2016-05-20 12:08] karanbhomiagit commented on #4597
Facing the same issue myself.
Please look into this and acknowledge it as a bug.

[2016-05-20 12:41] priyankagarg8 commented on #4466
Thanks for the response guys ...)

This is not issue.This is what I want to implement in magento2.

**Magento 2: Want to have custom options of simple product on configurable product detail page on change of options**

If any suggestion,how can i do it?

Much appreciated..:)

[2016-05-20 12:52] priyankagarg8 opened #4604 "Issue: In overriding of SwatchRenderer.js"
Want to override SwatchRenderer.js in my module.

I have done below implementation for it.

->putted SwatchRenderer.js in mymodule 'view/frontend/web/js' folder
->created file 'requirejs-config.js' in /view/frontend and wrote below code:

[code]

My Module SwatchRenderer.js works if I remove core SwatchRenderer.js

But when I put core js SwatchRenderer.js again module js does not work.

Please hel

[2016-05-20 13:20] fvillata opened #4605 "Issue with drag&drop setting bulk Images for configurable products"
## Steps to reproduce

In the third step of the creation of configurable products “Bulk Images, Price, and Quantity
1. Select “Apply unique images by attribute to each SKU”
2. Select an attribute
3. Drag an image on one of the values of the attribute
## Expected result
1. When I drag on the single attribute, I expect my image is set only for that value
## Actual result
1. The image is set for all

[2016-05-20 13:39] katmoon commented on #4528
Hi @karanbhomiagit , @ruby10 , @srinivasanithin ,

I cannot reproduce the issue with sample data.
What is the difference between attribute sets that produce the error and other attribute sets?

Thanks,
Kateryna.

[2016-05-20 13:40] syilmaz commented on #3533
What's the status on this @okorshenko?
When we run the unit tests in Magento 2.0.6 we get the same error as mentioned above, coupled with a lot of other warnings.

[2016-05-20 13:42] commcad commented on #4603
Not Magento Inc. affiliated here

and you are missing those .gitignore files. Ask me how I know loll

see: https://community.magento.com/t5/Version-Upgrades-for-2-x/Magento-2-0-Update-pending-on-upgrade-page/m-p/37275#U37275

[2016-05-20 14:18] srinivasanithin commented on #4528
@katmoon

In My case my failing attribute set was having two global attributes with dropdown field while other attribute set was not having that two global attribute dropdown attributes as part of it.

I created new attribute set and added one of the dropdown attribute to this new set. It was color with 8 values it was global and every other property is set to false.

I created this color attribut

[2016-05-20 14:32] pboisvert commented on #4605
Antom--can you check with UX if this is expected behavior or a bug in implementation (seems like a bug)?

[2016-05-20 14:35] pboisvert commented on #4466
@priyankagarg8  Github is intended for reporting issues and submitting pull requests. If you have n issue please provide detailed steps to reproduce what is wrong (the bug). Your question seems to be a "how do I" question better suited to StackExchange.

[2016-05-20 14:37] davidalger commented on #4598
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-05-20 14:37] #4598 closed, assigned to nobody

[2016-05-20 14:40] Vinai commented on #4604
The github issue tracker is for reporting bugs or technical issues only. Please ask "how do I" of "why" type of questions on [Magento SE](http://magento.stackexchange.com/) or the official [community forum](http://community.magento.com/).
Magento is keeping an eye on those sites, too, and you will often find core team members responding, in addition to the many community contributors.

[2016-05-20 14:40] #4604 closed, assigned to nobody

[2016-05-20 14:43] MomotenkoNatalia commented on #4593
Hi @andidhouse Which Magento version do you use?

[2016-05-20 14:45] mvistas opened #4606 "magento 2, custom widget parameter type = "textarea""
I create my custom widget and I want one parameter to be a textarea.
If I define my parameter as a textarea, like this:

[code]

I got this error:"Element 'parameter', attribute '{http://www.w3.org/2001/XMLSchema-instance}type': The QName value 'textarea' of the xsi:type attribute does not resolve to a type definition."

How can I use a text area in a custom field? Thank you

[2016-05-20 14:48] davidalger commented on #4606
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-05-20 14:48] #4606 closed, assigned to nobody

[2016-05-20 14:49] #4284 closed

[2016-05-20 14:49] Yonn-Trimoreau commented on #2354
Yes, you can plug an observer to the event "page_block_html_topmenu_gethtml_before" and recreate your own nodes. That's the only way I found.

In file Vendor/ModuleName/etc/frontend/events.xml :

[code]

In file Vendor/ModuleName/Observer/AddItemsToMenu.php :

[code]

[2016-05-20 14:49] davidalger commented on #4596
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-05-20 14:49] #4596 closed, assigned to nobody

[2016-05-20 14:50] davidalger commented on #4592
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-05-20 14:50] #4592 closed, assigned to nobody

[2016-05-20 14:50] pboisvert commented on #4600
@gorillagroup Please file tickets in the Partner portal so we have formal tracking and follow up

[2016-05-20 14:51] davidalger commented on #4587
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-05-20 14:51] #4587 closed, assigned to nobody

[2016-05-20 14:55] pboisvert commented on #4595
@asemenenko can you take a look at this one? Seems like PayPal issue entirely but perhaps you can easily confirm.

[2016-05-20 14:57] Yonn-Trimoreau commented on #2354
In file Vendor/ModuleName/etc/frontend/events.xml :
[code]

In file Vendor/ModuleName/Observer/AddItemsToMenu.php :
[code]

[2016-05-20 14:58] pboisvert commented on #3373
Closing issue as the specific question seems to have been answered and we have the internal ticket to track the improvement to checkout extensibility.

[2016-05-20 14:58] #3373 closed, assigned to ishakhsuvarov

[2016-05-20 15:01] chicgeek commented on #3373
The main question was about extending a component.
Removing a component was merely collateral.

[2016-05-20 15:08] pratiksonawadekar opened #4607 "Add blur event on pincode text-box in shipping address field on checkout page"
Hi,

I am newbie to magento 2.0 . Currently  I want to add an 'on blur' event in the shipping address pincode tab on checkout page. Can any one help me out here

[2016-05-20 15:10] pboisvert commented on #4607
The github issue tracker is for reporting bugs or technical issues only. Please ask "how do I" of "why" type of questions on Magento SE or the official community forum.

[2016-05-20 15:10] #4607 closed, assigned to nobody

[2016-05-20 15:25] mbrinton01 commented on #4566
@peec please review against this other issue and let us know if you are seeing the same result.  Virtual products do not require shipping. Can you verify the product type?  https://github.com/magento/magento2/issues/4533

[2016-05-20 15:59] antboiko commented on #4605
Hi @fvillata , thanks for reporting this issue. The fix is already in develop branch and will be also available in one of future patches.

Best,
Anton.

[2016-05-20 16:00] robfico commented on #4546
Upgraded from 2.0.4 to 2.0.6, Component Manager page just spins, this error is output:
`PHP Fatal error:  Cannot instantiate interface Zend\\ServiceManager\\ServiceLocatorInterface`

16 GB RAM, PHP memory limit 2048 MB, PHP 5.5.31, MySQL 5.6, Apache 2.2, php-fpm

[2016-05-20 16:01] jamespauljacob3 commented on #4509
same issue with price alert. using v2.0.6

[2016-05-20 16:02] tkacheva commented on #4520
Hi @theskillwithin,
there are different options to generate css in Magento (http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_mode.htm)
Please provide more details on what you are using

What is your vision on how to make the styles generated outside of magento considering all of magento fallbacks?

[2016-05-20 16:04] joanhe commented on #4556
@nobuttsalex We cannot reproduce this issue. It will be helpful if you can provide more information, such as Built-in cache vs. Varnish, how do you configure your two website, etc. Thanks.

[2016-05-20 16:10] ohornyak opened #4608 "SOAP API salesShipmentRepositoryV1GetListRequest returns the first order only"
## Steps to reproduce
1. Installed Magento 2.0.4
2. Created 6 sample orders
3. Implemented the following SOAP call

[code]
## Expected result

It should list all the 6 orders. It used to work with 3 orders then I shipped order#000000001 and everything ceased to function
## Actual result

It lists only order 000000001

If I try to get order#000000006 explicitly like

[code]

it returns
"Requested e

[2016-05-20 16:14] tkacheva commented on #3951
@benchmarky Thanks for reporting the issue! We will take care about in and include the fix in further magento patches

Internal issue MAGETWO-53232

[2016-05-20 16:15] tkacheva commented on #4054
@benchmarky  Thanks for reporting the issue! We will take care about in and include the fix in further magento patches

Internal issue MAGETWO-53232

[2016-05-20 16:49] dsikkema-magento commented on #4556
Also, what kind of server is used?

[2016-05-20 16:58] sakamotz commented on #4546
plane new install 2.0.6(Magento-CE-2.0.6-2016-05-17-03-11-27.zip),enter Component Manager page, to click [Sync] button then just spins, this error is output:

Apache error log as follows,

Operation Browser(Chrome) Console log.

2 GB RAM, PHP memory limit 1024 MB, PHP 5.6.20, MySQL 5.6, Apache 2.4,

[2016-05-20 17:38] klarlichter commented on #4585
Hello, we had review and had found that magento2 also had that tax calc bug. but we had still solved and found a great solution.

[2016-05-20 18:28] kandy commented on #3202
Can you describe in more details what yo mean in " 'cachable=false' attribute does not work for Product Page"? If you add any block with 'cacheable=false' to page then FPC will disabled for this page.

If you need render dynamic data on page please use JavaScript for this.

[2016-05-20 20:05] pboisvert commented on #4509
@tkacheva please have the team check into this

[2016-05-20 21:55] zerobrapsgiven opened #4609 "Gallery Widget some of the options don't work"
http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/widgets/widget_gallery.html#gallery_minwidth

I followed this guide, and while some of the options for the gallery do work, particularly the ones listed in the view.xml file under /etc, ones like "thumbwidth" and "thumbheight" don't work. Also fotoroma supports options like "thumbmargin" but I had to go to fotorama.js and hand edit the js

[2016-05-20 22:58] commcad commented on #4546
@robfico and @sakamotz

Issue #4575 was recently opened and is directly referenced to the spinning wheel issue that few of us are having. Might worth subscribing to this ticket for follow-up.

https://github.com/magento/magento2/issues/4575

[2016-05-20 23:00] dsikkema-magento commented on #4543
Closing this as unreproducible, but please let us know the additional details if you still experience the problem

[2016-05-20 23:00] #4543 closed, assigned to nobody

[2016-05-20 23:40] zerobrapsgiven opened #4610 "Possible to autoplay product videos?"
I added some videos to a product (YouTube). Right now you have to hit the play button after arriving at the video in the product media gallery. Is it possible to have it autoplay?

[2016-05-21 02:28] bondimedical3 opened #4611 "Order Status goes straight to Complete"
Placed a test order and status was "Pending". Pressed the "Invoice" button, status was immediately changed to "Complete" however there are no orders under "Shipments". Invoice email was sent to account holder but no shipment email?

[2016-05-21 02:33] bondimedical3 commented on #2855
I am getting a new message every day that "Catalog Rule Product" requires reindexing. Can you at least put a button in the Admin which allows people to manually do this?

[2016-05-21 04:30] bondimedical3 opened #4612 "Bug with Merge/Minify CSS"
When you select the option to Merge and Minify CSS in the Developer section of the Admin the whole website slows down. Every page takes at least 5 minutes to load?

[2016-05-21 05:22] davidnguyen2205 commented on #3209
Is it fixed?
I got the same problem...

[2016-05-21 05:40] katmoon commented on #2855
@bondimedical3 if you setup a cron job to run in background, you don't need to do it manually http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html#config-cli-cron-bkg

You can do this to run cron from browser http://devdocs.magento.com/guides/v2.0/config-guide/secy/secy-cron.html

[2016-05-21 06:39] pratiksonawadekar commented on #4607
How do I add an 'on blur' event to an input box on checkout page. Because I got to learn that there are 10 Interactive bindings in magento 2.0  which are as follows.

[code]

How do I use blur event? Please help.

[2016-05-21 06:55] pboisvert commented on #4607
The GitHub issue tracker is intended for technical issues only. Please refer to the Community Forums or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate.

[2016-05-21 07:06] dnadle opened #4613 "Customer address EAV attribute does not save or validate on form submission."
## Steps to reproduce

I have tried deploying my project with both 2.0.4 and 2.0.6; same result.
1. Add a customer address EAV attribute of type varchar. I used the following code in UpgradeData for my module:

[code]
1. Observe that the field appears in the admin customer address edit form as expected.
2. Create a new customer and add an address, making sure to populate the EAV field with a valid

[2016-05-21 08:29] khoatruongbc commented on #1573
Hello all,
Any update this feature? I think we need to have a surcharge.

[2016-05-21 13:09] Vinai commented on #3533
Dug into this yesterday, and interestingly this is caused with PHP 7 by a state leakage via `\Magento\Setup\Module\Di\Code\Reader\Decorator\Directory::__construct()` setting an error handler.

[code]

Under PHP 5.6 this does not cause problems, only with PHP 7.

**Minimum steps to reproduce**:
- Create a testsuite with only two tests:

[code]
- Run the testsuite with PHP 7 (I'm on 7.0.6, but it ha

[2016-05-21 13:43] commcad commented on #4575
@andidhouse

I know I know... not a fix but regardless, a bloody exciting news none the less. We just can't wait to bring up our business online using this Magento platform. All very exciting, hope all goes well at M2 Studios!

https://community.magento.com/t5/News-Announcements/Magento-Community-Edition-2-1-Release-Candidate-1-is-Ready-for/m-p/37435#M80

[2016-05-21 19:32] commcad opened #4614 "Magento ver. 2.1.0-rc1 - ouch"
Ouch... as in; you guys have just disintegrated the competition! THANKS for sharing this so ahead of time btw ;)

We've just imported 15,000 test products from a beaten up catalog_product.csv file and gave it a go. It didn't complain a kbit. It is blazing fast(er) and I am not getting any errors 'anywhere' while running this on a little Linux 15.10, Apache 2.4 and php 5.6 (1vCPU, 4g RAM, 1SSD). Ca

[2016-05-21 19:50] adragus-inviqa commented on #4614
Glad it worked for you.
But I'm pretty sure 2.0.6 broke almost every 3rd party payment method implementation relying on additional data. Thought I share this as well.

[2016-05-21 20:42] commcad commented on #4614
i know, I saw that, pretty amazing in fact. Haven't personally tried or even sandbox'ed payment as I run this RC on a partner's key but I can clearly picture the future scene. Ecomm As It Should Be - Kudos

We're sold here. Signing this Monday morning at our partner's

[2016-05-21 20:57] commcad commented on #4614
For the curious... see highlights

http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC1EE.html

[2016-05-21 21:26] assaka commented on #3960
Here you can also find a solution to your issue:
http://magento.stackexchange.com/questions/110315/magento-2-adding-multiple-configurable-product-variations-in-cart/116407#116407

[2016-05-21 22:41] adragus-inviqa opened #4615 "Valid PHP versions for 2.1 RC1"
The [release note](http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC1EE.html) says

But the [current composer.json](https://github.com/magento/magento2/blob/b366da3aee0155ffabb4772ea63f76e6e13f877e/composer.json#L11) (of 2.1 RC1) disagrees: `"php": "~5.5.22|~5.6.0|~7.0.0"`

Am I missing something here?

/cc https://github.com/magento/magento2/issues/1047

[2016-05-22 04:58] devdesco-ceo commented on #4365
Looks like with every new 2.0.x update more and more of new bugs are being introduced :-1:

[2016-05-22 05:11] theskillwithin commented on #4520
Details on what I am using currently:
https://github.com/SnowdogApps/magento2-frontools
https://github.com/SnowdogApps/magento2-theme-blank-sass  (I copied this theme to use for my new theme)

and well as you probably expected I use the npm,gulp, bower kind of workflow.  sass, autoprefixer, sourcemaps, something to concat my js, some sort of minifier, etc
I am on mac so I have the advantage of tai

[2016-05-22 07:37] samuellinde opened #4616 "Error getting orders via REST API that returns 1+ items"
I'm trying to fetch orders via the REST API, in this example orders with a `grand_total` within a certain span.

This is the request: `/rest/V1/orders?searchCriteria%5Bfilter_groups%5D%5B0%5D%5Bfilters%5D%5B0%5D%5Bfield%5D=grand_total&searchCriteria%5Bfilter_groups%5D%5B0%5D%5Bfilters%5D%5B0%5D%5Bvalue%5D=80&searchCriteria%5Bfilter_groups%5D%5B0%5D%5Bfilters%5D%5B0%5D%5Bcondition_type%5D=gt&search

[2016-05-22 11:01] itaymesh opened #4617 "Invalid credentials for 'https://repo.magento.com/packages.json', aborting"
## Steps to reproduce
1. Followed the steps http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html
2. Ran the command: Composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition <installation directory name>
## Expected result
1. Install fresh Magento installation via Composer
## Actual result

 [Composer\Downloader\TransportExce

[2016-05-22 11:23] refaelgold commented on #4617
same problem  - i get 500 when i try to install it

[2016-05-22 11:44] redboxmarcins commented on #4617
same problem here, tried 2 different set of keys and both are not working

[2016-05-22 11:49] refaelgold commented on #4617
thats a bug .
i try with auth.json
i try regenerage
i try on server with auth.json that allrdy work..

we need to wait for response from magento
@alankent  do you know about the composer  installation  problem?

[2016-05-22 12:00] ghost commented on #4617
Same issue here

[2016-05-22 12:02] lundsted commented on #4617
I have the exact same issue. Was hoping to get some work done today, but now im not so sure.

[2016-05-22 12:02] Vinai commented on #4617
Ups, didn't mean to close the issue, sorry.
In fact, I wanted to add that the issue also occures when upgrading a composer project:

[code]

Looking forward to a response on Monday I guess.

[2016-05-22 12:07] redboxmarcins commented on #4617
Whole ecosystem is dependant on one system. If it fails all fails. This is not right

[2016-05-22 12:09] ghost commented on #4617
That's correct. Was looking to get some work done. Been getting this error for the past 12 hours.

[2016-05-22 12:12] refaelgold commented on #4617
https://twitter.com/php4u/status/734096597798297604

[2016-05-22 12:21] luciodiri commented on #3943
Hi @sevos1984
Any estimate on that?

[2016-05-22 12:22] ghost commented on #4617
+1. I hadn't tried it since RC1, maybe that's when it started.
I reported this to the proper authorities, will update when one is available.

[2016-05-22 12:28] daim2k5 commented on #4617
Official Statement https://twitter.com/MagentoDevDocs/status/734357914492805120

[2016-05-22 12:58] Doability opened #4618 "Configurable options are not reflecting at order view page."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add Configurable Product to the cart.
3. When you purchase the item either from the backend or frontend at the order view page the  configurable items appears in two lines without any option (which was set during Add to cart.)
## Expected result

1.Configurable product added to the shopping cart should show options which was set du

[2016-05-22 14:01] ryantfowler commented on #4617
+1 I have also been experiencing the same problem when attempting to create a project (not specifying the rc1 version). I didn't know this was a repo issue until finding this [magento.stackexchange.com](http://magento.stackexchange.com/a/116428) post. Just a thought, it would be nice to have a developer email list where emails regarding these types of issues could be sent to so that we're notified

[2016-05-22 14:08] ryantfowler opened #4619 "Redundant Composer Module Repository"
In light of [Issue 4617](https://github.com/magento/magento2/issues/4617), it would appear that either the addition of a redundant repository or some form of high availability solution (possibly a location that caches modules, so that the modules are static and not effected with any potential issues with the main repository; the cached modules could be updated as updates are made to the main repos

[2016-05-22 14:25] xcomSteveJohnson commented on #4617
@itaymesh @refaelgold @ryantfowler The issue is resolved. You _cannot_, however, get 2.1.0-rc1 this way yet.

[2016-05-22 14:29] maksek commented on #4617
@all Currently we have issues with repo.magento.com, we are working on resolving it. Meanwhile you can use code from GitHub.

[2016-05-22 14:33] ryantfowler commented on #4617
Steve,

Thank you for the update. I am still experiencing the issue though. It
appears that the issue hasn't been fully resolved. I appreciate you
notifying us with an update.

On Sun, May 22, 2016, 7:26 AM Steve Johnson <notifications@github.com>
wrote:

[2016-05-22 14:35] ryantfowler commented on #4617
@xcomSteveJohnson Thank you for the update. I am still experiencing the issue though. It
appears that the issue hasn't been fully resolved. I appreciate you
notifying us.

[2016-05-22 14:38] SasiKiranK commented on #1958
Hi @vkorotun

Many versions were released. Please resolve the issue.

Thanks
Sasikiran Kesavan

[2016-05-22 14:47] ryantfowler commented on #4617
@maksek I just wanted to point out that while you're right that we could use code from GitHub, it's not really compatible with a project that was created via Composer. For instance, the structure of the project is slightly different (lib/internal/Magento vs vendor/Magento ), and there would be conflicts in our projects being saved to our own VCS/SCM repository...or we could copy/paste code from Gi

[2016-05-22 15:05] Bravarg opened #4620 "Ui_component column sortOrder doesn't work"
I creating a new adminhtml grid, and I have found a problem with setting up columns positions.
## Steps to reproduce
1. For example open the ui_component of adminhtml catalog product list Magento/Catalog/view/adminhtml/ui_component/product_listing.xml.
2. Section "columns". Elements "column" have "sortOrder" config, which should sort columns in grid.
3. Decrease value "sortOrder" of "name" column

[2016-05-22 15:17] leoquijano commented on #4617
Thanks everybody for keeping us updated. I would like to add a couple of suggestions:
1. Having redundant repo connections would be awesome to prevent shutting down the entire ecosystem in case of an issue.
2. For important Magento upgrades (such as 2.0.6), it's really, really important that there's a way to upgrade without going through the repo. I agree with @ryantfowler that using Github would

[2016-05-22 15:38] gewaechshaus commented on #4617
Thanks for the update @maksek .

[2016-05-22 16:18] bvboas opened #4621 "Can't save Grouped Product"
When trying to save a grouped product we get this error message

[code]

And the query is

[code]

We trace the clause to class

[code]

and the method

[code]

We can't find any table referenced in the query with a `position` column.

[2016-05-22 17:40] jonathanribas commented on #4611
@bondimedical3, I can't reproduce this with a simple product. When I invoice the order, it goes to "processing" status.

[2016-05-22 17:49] srinivasanithin commented on #4611
@bondimedical3 : This scenario appears to be related to virtual products? Can you check the product type if that was virtual/downloadable item on that order?

[2016-05-22 17:57] jonathanribas commented on #4608
@ohornyak, in order to have the 6 orders in your "salesShipmentRepositoryV1GetListRequest" API call you must invoice and ship all 6 orders.

Right now you have just ship 1 order, that's why only one of them appear.

[2016-05-22 19:21] mboukhanoufa commented on #4561
Hello,
I got the same error for the CE. Anyone have a solution?

[2016-05-22 22:48] xcomSteveJohnson commented on #4617
@ryantfowler  FWIW, an archive install is the same as a Composer install. The structure is identical.

[2016-05-22 22:54] ryantfowler commented on #4617
@itaymesh @all the problem has been resolved...Please close the ticket.

[2016-05-22 23:37] bondimedical3 commented on #4611
Yes. The issue is with virtual/downloadable products.

[2016-05-23 01:49] brendanmckeown opened #4622 "Setting image keep frame to false in theme's view.xml does not work"
## Steps to reproduce
1. In the current theme's view.xml file, add `<frame>false</frame>` to a specific image type as instructed in the docs: http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-images.html . This image should also have a `width` and `height` setting and `aspect_ratio` set to true. For example:

[code]
1. Clear image cache, refresh a page with this specific image

[2016-05-23 02:59] maksek commented on #4617
@ryantfowler, you are right, if you originally installed via composer, github won't suite the same installation, but it works for new installations.
But likely, the issue with repo.magento.com were resolved, and now you can use composer as usual.
Thank @all for your patience, and don't forget - We, together, are Magento.

[2016-05-23 02:59] #4617 closed, assigned to nobody

[2016-05-23 03:36] Ctucker9233 opened #4623 "Applying theme breaks multistore catalog navigation"
## Steps to reproduce
1. Fresh install of Magento 2 from CPanel
2. Create 2nd root category with subcategories
3. Create 2nd website, store and store view
   Note: At this point I could visit my base url and see no categories (I didn't add and categories to the default root category) then go to my new url which didn't have styles applied to it and see my categories and subcategories.
4. Apply mage

[2016-05-23 04:56] ohornyak commented on #4608
Thanks.

Is there a documentation somewhere about the shipping soap API ?
What are the mandatory fields for salesShipmentRepositoryV1SaveRequest ?
Can I do partial shipment, in other words only some of the items to ship ?
Is there a query to get carrier codes ?
`<tracks><item><carrierCode>dhl</carrierCode>`

[2016-05-23 05:25] pboisvert commented on #4611
Anton--assume no shipping status as nothing to ship given virtual but would like you to confirm.

[2016-05-23 05:29] pboisvert commented on #4610
The github issue tracker is for reporting bugs or technical issues only. Please ask "how do I" of "why" type of questions on [Magento SE](http://magento.stackexchange.com/) or the official [community forum](https://community.magento.com/).

[2016-05-23 05:29] #4610 closed, assigned to nobody

[2016-05-23 05:33] pboisvert commented on #4608
closing as not an issue. Please consult [devdocs.magento.com](devdocs.magento.com) for documentation of SOAP API.

[2016-05-23 05:42] piotrekkaminski commented on #4293
The export file includes same numerical values so it is consistent. @ilol what do you think?

[2016-05-23 05:47] piotrekkaminski commented on #4291
@ilol please review

[2016-05-23 05:48] piotrekkaminski commented on #4290
@SidneyBilliet did you try on the develop branch?
@antboiko please check

[2016-05-23 05:51] piotrekkaminski commented on #4287
internal issue MAGETWO-53262 to address that

[2016-05-23 05:53] piotrekkaminski commented on #4283
@Sanuch if you are able to reproduce, please open a new ticket. I will close this ticket for now.

[2016-05-23 05:53] #4283 closed, assigned to nobody

[2016-05-23 05:55] piotrekkaminski commented on #4282
Internal issue MAGETWO-53263

[2016-05-23 05:57] piotrekkaminski commented on #4280
@PaddlePop do you still have this issue?

[2016-05-23 06:02] piotrekkaminski commented on #4276
@caesarcxiv can you provide a sample site that has this issue? what kind of products are you selling that have so many attributes?

cc @choukalos for a possible use case

[2016-05-23 06:04] piotrekkaminski commented on #4548
related https://github.com/magento/magento2/issues/3529

[2016-05-23 06:09] piotrekkaminski commented on #4272
Internal issue MAGETWO-53264

[2016-05-23 06:10] piotrekkaminski commented on #4270
@salelsol i'm not able to reproduce. Can you record a video/screenshot of the problem?

[2016-05-23 06:13] piotrekkaminski commented on #4266
Closing in favor of the referenced PR

[2016-05-23 06:13] #4266 closed, assigned to nobody

[2016-05-23 06:17] piotrekkaminski commented on #4264
Internal issue MAGETWO-53267

[2016-05-23 06:18] piotrekkaminski commented on #4263
Internal issue MAGETWO-53268

[2016-05-23 06:21] daim2k5 commented on #4282
@BenSpace48 @xAvarice looks like i had a different bug, thanks for the gif

[2016-05-23 06:22] piotrekkaminski commented on #4259
@antonkril can you take a look?

[2016-05-23 06:25] piotrekkaminski commented on #4257
Internal issue MAGETWO-53269

[2016-05-23 06:26] piotrekkaminski commented on #4255
@ilol  can you take a look?

[2016-05-23 06:27] krlecarp opened #4625 "Upgrade 2.0.6 -> 2.1.0-rc1 Component Dependancy Failure"
## Steps to reproduce
1. Installed clean EE 2.0.6 + SampleData from zip
2. Went to upgrade to EE 2.1.0-rc1 from web System Upgrade and started "Readiness Check"
3. Failed at Component Dependency (see message below)
4. Appears to be related to sample data version
## Response & Screencapture

[code]

![image](https://cloud.githubusercontent.com/assets/1714009/15462038/a3d557d0-2074-11e6-9d01-eb28fd9

[2016-05-23 06:28] daim2k5 commented on #3679
@dexteritycc yes but truncating is not the solution. I also think that your FOREIGN KEY are not ON?

[2016-05-23 06:52] refaelgold opened #4626 "magento version 2.1.0-rc1 When i try to edit cms page at admin panel - i get 404 for rjsResolver.js"
all the rest js/css files  are loaded properly

at a result - the loader not present the cms page for edit

also try
deploy content file+flush cache

[2016-05-23 06:57] ozgeekmum commented on #2854
Still an issue on 2.0.6.
Typical.

[2016-05-23 07:04] refaelgold commented on #4626
same with blocks and every time the loader gif is present

[2016-05-23 07:14] sergei-sss commented on #4625
From CE 2.0.6 to 2.1-RC1 i get similar error:

[code]

[2016-05-23 07:17] ohornyak commented on #4608
Shipping is not working here for magento 2.0.4, I have exactly the same message as reported in
https://github.com/magento/magento2/issues/4319

The error message "Could not save shipment" does not provide any help

[code]

[2016-05-23 07:18] quienti opened #4627 "bin/magento setup:upgrade fail with magento 2.0.6 to 2.1.0-RC1"
## Steps to reproduce
1. composer require magento/product-community-edition 2.1.0-rc1 --no-update
2. composer update
3. bin/magento setup:upgrade
## Expected result
1. Upgrade work fine
## Actual result
1. SQL Duplicate error
   ![sans titre 3](https://cloud.githubusercontent.com/assets/7326954/15463097/54974cfc-20c7-11e6-8c88-f053d43c8e7a.jpg)

[2016-05-23 07:23] ohornyak commented on #4608
Wrong link. I did search for SOAP API documentation but all what I found was the list of wsdl endpoints

[2016-05-23 07:26] BenGlassAtlas opened #4628 ".lib-font-face mixin - Fixed font formats"
The `.lib-font-face()` mixin is not very flexible as it requires you have the font in all the formats listed (eot, woff2, woff, ttf, and svg). If your font is not available in all these formats then you will run into problems with 404 errors.

For example the font I'm using isn't available as a Woff or Woff2 file so I can't use the `.lib-font-face()` mixin as it leaves me with several 404s:

![scr

[2016-05-23 07:41] magenx opened #4629 "install magento [ErrorException] mkdir(): File exists"
have you removed 2.1rc version? cause composer downloading 2.0.6
or is there still some errors with your files/repo configuration??

[code]

[code]

[code]

[2016-05-23 08:05] SidneyBilliet commented on #4290
@piotrekkaminski , no Piotr, I did not try on develop branch. I tried on 2.0.5.
I don't know how to test on develop branch.

[2016-05-23 08:08] latenzio commented on #4625
Recommendation: Try to uninstall sample data first. Sample data for Magento `2.0.6` are restricted to `100.0.*` but Magento `2.1.0` needs `100.1.*`. Alternatively you can set the dependencies to `100.1.*` in your composer.json.

[2016-05-23 08:11] nobuttsalex commented on #4556
Ubuntu 15.10
Apache/2.4.18
PHP 7.0.6
MySQL 5.6.28

Configured two websites with 1 store and 1 store view in each using these instructions http://devdocs.magento.com/guides/v2.0/config-guide/multi-site/ms_apache.html

Have not setup varnish, but my env.php file looks like this:

[code]

[2016-05-23 08:27] sevos1984 commented on #3943
Issue is already resolved in MAGETWO-51413, check latest develop code

[2016-05-23 08:28] mch35 opened #4630 "2.0.5 SOAP API: Encoding: object has no 'label' property"
Hello,

I try to use Magento 2.0.5 SOAP API. I am not able to retrieve attribute options. Attribute with code dm1 exists in the shop.

Request

[code]

Response

[code]

[2016-05-23 09:08] quienti opened #4632 "Magento 2.1.0 RC1 : Undefined index: base_grand_total"
## Steps to reproduce
1. Update 2.0.6 to 2.1.0 RC1
2. Go to Admin -> Sales -> Invoices
## Expected result
1. Show invoices list
## Actual result
1. Error at loading
   ![sans titre 4](https://cloud.githubusercontent.com/assets/7326954/15465680/28d967ee-20d6-11e6-9bec-c8633a86dd9c.jpg)

[2016-05-23 09:14] tdgroot commented on #3542
@MomotenkoNatalia we see it as a way to see the styling of all elements in one place. This provides styling consistency through the whole theme.

What's the status of the issue right now? It's been a while since I filed this issue.

[2016-05-23 09:17] quienti opened #4633 "Magento 2.1.0 RC1 : Too many shipment/order at loading"
## Steps to reproduce
1. Upgrade 2.0.6 to 2.1.0 RC1
2. Go to Admin -> Sales -> Shipments or Orders
## Expected result
1. Show shipment or order list with page like that
   ![sans titre 6](https://cloud.githubusercontent.com/assets/7326954/15466000/b94b067e-20d7-11e6-848a-22fa0b439c45.jpg)
## Actual result
1. Loading of all shipments or orders and can crash browser
   ![sans titre 5](https://cloud.

[2016-05-23 09:22] quienti opened #4634 "Magento 2.1.0 RC1 : Allowed memory size of 134217728 bytes exhausted"
## Steps to reproduce
1. Update 2.0.6 to 2.1.0 RC1
2. Go to Admin -> Sales -> Orders
## Expected result
1. Show Order list
## Actual result
1. Allowed memory size of 134217728 bytes exhausted
   ![sans titre 7](https://cloud.githubusercontent.com/assets/7326954/15466205/9f00a26e-20d8-11e6-9742-f8b4f75f818d.jpg)

[2016-05-23 09:28] sergei-sss commented on #4634
You php memory_limit setting is 128 Mb.
http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone

[2016-05-23 09:34] commcad opened #4635 "Magento 2.1.0 RC1 : HTTPS instabilities"
## Steps to reproduce
1. Install Magento 2.1 RC1 from develop branch (Composer install)
2. Stores > Configuration > Web >  Base URL (Secure)
3. Use Secure URLs on Storefront > Set to YES
4. Use Secure URLs in Admin > Set to YES
5. Save
6. Clear cache

PS: I've also tried:
- Enable HTTP Strict Transport Security (HSTS) > YES
- Upgrade Insecure Requests > YES

Either ways I am getting the same resut

[2016-05-23 09:52] quienti commented on #4634
I must have missed that part of the documentation , thank you !

[2016-05-23 09:52] #4634 closed, assigned to nobody

[2016-05-23 10:17] tkacheva commented on #438
Updated with MAGETWO-43011

[2016-05-23 10:37] nadshez commented on #4509
The issue of compare link not working was also in v2.0.4 and not working in v2.0.6 either.  It is strange that such major functionality is impaired and not fixed in upcoming versions. If anyone has a manual fix, please do share here. Thanks.

[2016-05-23 10:50] karanbhomiagit commented on #4527
@katmoon : Any updates on this issue?

[2016-05-23 10:51] tkacheva commented on #2424
bug reported MAGETWO-53288

[2016-05-23 10:56] andrew-smart opened #4636 "sampledata:deploy/remove when custom module located app/code has no composer.json"
## Steps to reproduce
1. Install Magento
2. Create a custom module (without composer file).
3. Try installing the sample data (bin/magento sampledata:deploy)

[ErrorException]
file_get_contents([path]/app/code/[Vendor]/[ModuleName]/composer.json): failed to open stream: No such file or directory

Although in most cases you would have a composer file it seems a trivial task to just check if the com

[2016-05-23 11:04] quienti commented on #4633
My fault, custom module who add mass action cause this problem

[2016-05-23 11:04] #4633 closed, assigned to nobody

[2016-05-23 11:05] stamster commented on #4615
This is really annoying. The entire purpose of Composer is to manage dependencies. If you fail to update composer with proper information, then the entire purpose of managing dependencies is lost.

[2016-05-23 11:07] LiamFielding opened #4637 "Layout xml update breaks minicart."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Move or place Cart\Sidebar (Minicart?) block in another container through Magento_checkout_layout_default.xml. I chose header.panel.
## Expected result
1. Minicart moved but works exactly the same way.
## Actual result
1. Minicart breaks, fails to show products in dropdown, template broken.
2. Error message appears:

[code]

![erro

[2016-05-23 11:09] flancer64 commented on #4386
Version 2.1.0 RC1 has not this bug.

[2016-05-23 11:09] #4386 closed, assigned to nobody

[2016-05-23 11:50] Yogesh7989 commented on #4356
Hello ,
@katmoon , @ilol , @piotrekkaminski  , @maksek , @yaronish

Is there any solution for this issue we stuck this level in migration.

Thanks

[2016-05-23 12:26] ghost commented on #4617
This issue is still occurring, for me anyway.

[2016-05-23 12:43] sivajik34 opened #4638 "theme settings missing in Magento ver. 2.1.0-rc1"
![b1](https://cloud.githubusercontent.com/assets/7636894/15471135/1a9f621e-2112-11e6-83fc-9904dca83777.png)

[2016-05-23 12:55] sivajik34 commented on #4638
![b2](https://cloud.githubusercontent.com/assets/7636894/15471462/ab077e1c-2113-11e6-92ea-9869b0a4bff4.png)

[2016-05-23 13:30] stamster commented on #4625
Sample data can cause massive issues with Magento 2.

[2016-05-23 13:31] bgkavinga opened #4639 "Logic failure in module-catalog/Model/Layer/Filter/AbstractFilter.php"
In module-catalog/Model/Layer/Filter/AbstractFilter.php::isOptionReducesResults() checks whether the resulting option count is greater than products count. There could be an option that applies to all the products. Since this logic does not check equality, the option that applies to all the products in that category will not be shown.

[2016-05-23 13:36] bgkavinga opened #4640 "Typo in module-tax/view/frontend/web/template/checkout/minicart/subtotal/totals.html"
The variable name should be `display_cart_subtotal_incl_tax` not `display_subtotal_incl_tax` . This will show js error when you enable totoals including tax from backend.

[2016-05-23 13:38] hostep commented on #2561
In a very very quick test using Magento 2.1.0-rc1, it looks like this got fixed.
Can someone else confirm?

[2016-05-23 13:41] mazhalai commented on #4575
@andidhouse 2.1.0-rc1 was released on Friday: https://github.com/magento/magento2/tree/2.1.0-rc1

[2016-05-23 13:43] afavata opened #4641 "Frontend products are not sorted out by attribute sorting position"
### Preconditions (*)
Magento 2.3.x & 2.4-develop

### Steps to reproduce (*)
1. Magento theme luma or blank
2. Create many colors as attribute (backend menu/store/product/color). Dispose a sorting sequence of colors by drugging one by one to the desired position in the list. Set "Used for Sorting in Product Listing" to yes. Save

3. Apply the different color attribute to as many products as possi

[2016-05-23 13:47] ghost commented on #4625
Sample data for RC1 was not published. This is likely why you see this error.

[2016-05-23 13:47] anton-huz commented on #4620
Hi @rawick ,
Thanks for catch! We will investigate issue under MAGETWO-53310 task.

Stay in touch.

[2016-05-23 13:47] arthursp opened #4642 "Newsletter date translation"
### Preconditions
Magento 2 is installed
French pack of translation is installed

### Steps to reproduce

- Go to Newsletter templates and start a new queue

### Expected result
When you choose a date with the jquery picker, date is formated on the right DB format

### Actual result
It is formated with the french format and there is an error with wrong date format on server side

[2016-05-23 13:53] rwemmercksys commented on #4019
I tested this issue with 2.0.6, I see that the fix hasn't been released yet.

Is there an ETA as to when this fix will be released?

[2016-05-23 13:56] mazhalai commented on #4627
@quienti I am confused about your steps and title, did you mean `composer require magento/product-community-edition 2.1.0-rc1 --no-update`  instead? Also, did you have sample data?

[2016-05-23 13:58] mazhalai commented on #4629
@magenx can you please clarify steps: you first removed 2.1-rc via composer? and then what?

[2016-05-23 13:59] tkacheva commented on #4509
Internal ticket MAGETWO-53313

[2016-05-23 14:08] lazarenkoalexey opened #4643 "search_tmp_* tables don't exist after mifrating magento to another server"
## Steps to reproduce
1. Install Magento with sample data.
2. Move magento server ROOT folder and mysql dump to another server.
## Expected result
1. Shop works fine.
## Actual result
1. Works only home page.
   Other pages show error:
   a:4:{i:0;s:874:"SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.search_tmp_57430d1a62c414_37330237' doesn't exist

[2016-05-23 14:13] ghost commented on #4603
See also [Technical Bulletin](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html).

[2016-05-23 14:25] ghost commented on #3086
@mazhalai Unfortunately we have encountered another problem with the setup wizard. For this reason we are unable to test is properly. Currently the web setup wizard link redirect tot 404-page.
There doesn't seem to be any redirects in .htaccess and file permissions are setup properly.

Any idea what might be the problem?

We are looking forward to your reply.