[2019-08-15 05:54] engcom-Charlie commented on #7399
Hello @zaximus84
Branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
See Accepted pull requests and ported code for more details
So i close this issue.

[2019-08-15 05:54] #7399 closed, assigned to engcom-Charlie

[2019-08-15 06:30] bscbodyscience commented on #22743
I am getting this issue in magento 2.3.2. I assume magento still didn't fix this

[2019-08-15 06:42] bmatth opened #24136 "Shiping Address overriden in checkout with Default Tax Destination Calculation"
### Preconditions (*)

Magento 2.3.2 (new installation, used sample data)
PHP 7.2.12

### Steps to reproduce (*)
(Backend)
1. In the Admin Panel under Shop -> Configuration -> Sales -> Tax -> Default Tax Destination Calculation set a Country and Postcode (e.g. Country: "Germany", Postcode: "012345").

(Frontend)
2. Create a new account as customer or use the deme account.
3. Make sure the customer

[2019-08-15 06:52] ihor-sviziev commented on #22407
Hi @rammohan-krish,

`2.2-develop` branch already closed - we should not wait for fixing this issue in 2.2 release line.

Looks like fix for this issue was reverted in https://github.com/magento/magento2/commit/5a997fdc2e987c1371c66014be89734798deddd1.

Could you check if this issue is reproducing on 2.3-develop? If it's not reproducing - let's close it.

[2019-08-15 06:53] bmatth commented on #24136
@magento give me 2.3-develop instance

[2019-08-15 06:53] magento-engcom-team commented on #24136
Hi @bmatth. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-15 06:54] magento-engcom-team commented on #24136
Hi @bmatth, here is your [Magento instance](https://i-24136-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24136-2-3-develop.instances.magento-community.engineering/admin](https://i-24136-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-15 07:06] mystix commented on #22743
I ran both my test cases, and double-checked my existing codebase just to make sure I'm running the code from M2.3.2 -- I can confirm I no longer see this problem in M2.3.2.

Try monkey-patching your codebase with the fix I suggested to see if it helps resolve your issue?
https://github.com/magento/magento2/issues/22743#issuecomment-489509956

[2019-08-15 07:14] bmatth commented on #24136
Unable to reproduce in Develop-instance.

Looks like it's fixed there already.

[2019-08-15 07:16] #24136 closed, assigned to engcom-Bravo

[2019-08-15 07:22] edenduong opened #24137 "No validation Email in Store->Configurations->Sales->Sales Emails"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. Stores->Configuration
3. Sales->Sales Emails
4. Fill: "testemail" in
- Send Order Email Copy To
- Send Order Comment Email Copy To
- Send Invoice Email Copy To
- Send Invoice Comment Email Copy To
- Send Shipment Email Copy To
- Send Shipment Comment Email Copy To
5. Save config

### Expected result (*)

[2019-08-15 07:44] magento-engcom-team commented on #24135
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19262` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-15 07:48] magento-engcom-team commented on #23829
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19263` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-15 07:56] edenduong opened #24139 ""Action" column is not the last column in "Design Configuration""
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Content->Configuration
3. Check the grid

### Expected result (*)

![image](https://user-images.githubusercontent.com/8234209/63081023-c12f8180-bf6c-11e9-8324-c69f707c8d11.png)

### Actual result (*)

![image](https://user-images.githubusercontent.com/8234209/63080884-6ac24300-bf6c-11e9-84ed-fbba652c0d2b

[2019-08-15 08:23] magento-engcom-team commented on #24137
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19265` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-15 08:30] magento-engcom-team commented on #24139
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19266` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-15 08:35] tnsezer opened #24141 "Image component of pagebuilder events are not triggered properly"
### Preconditions (*)

1. Magento 2.3.2
2. Php 7.2

### Steps to reproduce (*)

when to set an event for image uploadAfter
Example;
`_events.on("image:" + _this5.contentType.id + ":uploadAfter", function(args) {});`

It is triggered on image_uploader.js of Pagebuilder But the preview image upload component is built by image_uploader.js of Pagebuilder because when open the setting popup the image u

[2019-08-15 09:17] magento-engcom-team commented on #24019
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19267` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-15 09:28] draganbt commented on #7633
Any solution for this.
We have the same problem and sometimes response not receive from Authorize.net but order is created in Mageneto with status Pending, but in Authorize account orders is settled succefulll.
This happen sometimes not on all orders. Also may happen to receive response orders is created in Magento with status Pending instead of Proccessing status.
We use Authorize DPM Authorize a

[2019-08-15 09:28] sbodak commented on #19542
No, delete the view != delete the table. The view is not persistent and all data are populated dynamically.

[2019-08-15 11:14] magento-engcom-team commented on #22271
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19273` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-15 11:22] gpcrocker commented on #21667
For the record, we also recently upgraded to Magento EE ver. 2.3.1 and we are also seeing the exact same error in exception and cron.log. Logs full of this error.

Bit of a coincidence that we have same issue, and if I'm honest this sort of response is becoming a tired cliche. @magento-engcom-team

[2019-08-15 11:33] tuyennn commented on #23908
@engcom-Bravo We have same problem with magento since the 1st day of launching. The magento team should take a look on how you implement quote validation with `customer_is_guest` on quote and care how it's merging.

[2019-08-15 12:17] bscbodyscience commented on #22743
@mystix Thanks for the reply mate. I am getting a lot of complaints from customers so, definitely, I am getting the error :(
I will try to add the fix you have mentioned mate.

[2019-08-15 13:51] marvinhinz commented on #17310
I am also experiencing this error in magento 2.3.2 while in developer mode. Why doesnt the fallback from redis to files work?

[2019-08-15 13:54] josefbehr commented on #21353
@shikhamis11 great, thank you. Please get back to me, if you need anything or when a new PR is created :)

[2019-08-15 15:04] pioneerathletics commented on #22407
Hi @ihor-sviziev,

I know this isn't exactly what you asked for in terms of 2.3 develop, but I can confirm the issue is still present in 2.3.2 (see screenshot).

![screenshot-8 15 19](https://user-images.githubusercontent.com/19981272/63104155-6e45d200-bf4c-11e9-93ec-7a12d65ec06d.png)

[2019-08-15 15:19] hostep commented on #24134
Hi all

This has already been requested a couple of times in the past and the response was always that this is intended behavior:
- https://github.com/magento/magento2/issues/21860#issuecomment-478509839
- https://github.com/magento/magento2/issues/9465#issuecomment-331105210
- I'm sure there are even more issues on Github ...

@engcom-Bravo: can you check internally if this request is valid or no

[2019-08-15 15:29] maaarghk commented on #22407
https://github.com/magento/magento2/issues/22407#issuecomment-507742424

[2019-08-15 15:30] hostep commented on #24113
@AndyJAllen: out of curiosity, why did you close the issue after it was confirmed?

[2019-08-15 15:41] sdzhepa commented on #24095
Hello @JustinHermanM

  Thank you for contribution and collaboration!

  Could you please provide more details?
  What type of security scan do you use?
  What exactly the errors it shows?

  We need this information to confirm issue as a bug or transfer issue to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-08-15 15:46] magento-engcom-team commented on #22567
Hi @Sental.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17191` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still r

[2019-08-15 15:46] #22567 closed, assigned to nobody

[2019-08-15 16:25] ihor-sviziev commented on #22407
Yes, I saw your comment, but after 10 days after your comment there
appeared commit that reverted these changes, that is strange

That’s why I asked to recheck it again

On Thu, Aug 15, 2019 at 18:30 maaarghk <notifications@github.com> wrote:

[2019-08-15 16:29] joeltheodore commented on #18148
Thank you @numan201 , working on Paypal Payments Pro Hosted Solution on Magento 2.3.x.

[2019-08-15 17:17] danemacmillan commented on #2228
Still exists in `2.2.7`.

[2019-08-15 17:19] DanielRuf commented on #2228
See https://github.com/magento/magento2/issues/2228#issuecomment-434589610

[2019-08-15 17:29] danemacmillan commented on #2228
Okay. You too. See https://github.com/magento/magento2/issues/2228#issuecomment-434589610

[2019-08-15 17:35] magento-engcom-team commented on #24137
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24138 by @edenduong in 2.3-develop branch
Related commit(s):
 - [84bb72267bd9d8cd867a2f623b6b6a2df7924634](https://github.com/magento/magento2/commit/84bb72267bd9d8cd867a2f623b6b6a2df7924634)
 - [ebc508f6c20154fc74e0d36b84d188315b4e25be](https://github.com/magento/magento2/commit/ebc508f6c20154fc74e0d36b84d18831

[2019-08-15 17:35] magento-engcom-team commented on #23852
Hi @kirtinariya1. Thank you for your report.
The issue has been fixed in magento/magento2#23856 by @kirtinariya1 in 2.3-develop branch
Related commit(s):
 - [c347ef413d666b09333e1a41c51957ccf20f8aa9](https://github.com/magento/magento2/commit/c347ef413d666b09333e1a41c51957ccf20f8aa9)
 - [f353af1dfefa9a1221b1b2be9b0fe233fc233be4](https://github.com/magento/magento2/commit/f353af1dfefa9a1221b1b2be9b

[2019-08-15 17:35] #24137 closed, assigned to edenduong

[2019-08-15 17:35] #23852 closed, assigned to kirtinariya1

[2019-08-15 17:35] magento-engcom-team commented on #24043
Hi @PascalBrouwers. Thank you for your report.
The issue has been fixed in magento/magento2#24044 by @PascalBrouwers in 2.3-develop branch
Related commit(s):
 - [9ffe7eb2d3e6fcbf18eb39b6b847e99b0550a028](https://github.com/magento/magento2/commit/9ffe7eb2d3e6fcbf18eb39b6b847e99b0550a028)
 - [2861ca40b7f550c9e8498603c9f3763b12350f90](https://github.com/magento/magento2/commit/2861ca40b7f550c9e84986

[2019-08-15 17:35] #24043 closed, assigned to PascalBrouwers, shikhamis11

[2019-08-15 17:35] magento-engcom-team commented on #23999
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24000 by @edenduong in 2.3-develop branch
Related commit(s):
 - [35a135b74e0e202f313aeba1106acf1dcccaea38](https://github.com/magento/magento2/commit/35a135b74e0e202f313aeba1106acf1dcccaea38)
 - [0226f2aeff603cb393a02b5960593aae536d6c8c](https://github.com/magento/magento2/commit/0226f2aeff603cb393a02b5960593aae

[2019-08-15 17:35] #23999 closed, assigned to edenduong

[2019-08-15 17:49] DanielRuf commented on #2228
Not sure what you mean, you linked to my comment that I referenced.

[2019-08-15 18:00] Hailong opened #24143 "Same product listed as separate items in shopping cart when added from grouped product page."
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Create a single test product.
2. Create a grouped product and add the previous single product as a sub product.
3. Go to the single product page, and add one product to the shopping cart.
4. Go to the grouped product page, and add one sub product to the shopping cart.
5. Check the shopping cart.

### Expected result (*)

1. Th

[2019-08-15 19:27] ityetti commented on #24066
@magento give me 2.3-develop instance

[2019-08-15 19:27] magento-engcom-team commented on #24066
Hi @ityetti. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-15 19:28] magento-engcom-team commented on #24066
Hi @ityetti, here is your [Magento instance](https://i-24066-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24066-2-3-develop.instances.magento-community.engineering/admin](https://i-24066-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-15 20:03] ityetti commented on #24066
@engcom-Charlie
I reproduced this bug on magento 2.3-develop.
I can upload my theme and Extension to github. And will explain you what need to do for reproduce this issue. Thanks for your help.

[2019-08-15 20:16] chequille opened #24144 "PayPal and InContext Checkout cannot be disabled"
Configuration of PayPal module in the Backend of Magento 2.3.2 does have the setting:
Activate InContext Checkout Yes or No
Unfortuntely, there is no difference.
Checkout is always using the inContext checkout.

### Preconditions (*)
1. Magento 2.3.2
2. Paypal express checkout
3. PHP 7.1

### Steps to reproduce (*)
1. Set up vanilla 2.3.2 install
2. Go to Stores > Configuration > Sales > Payment M

[2019-08-15 21:22] EnigmaWebdesign commented on #2500
Hi all,

I have Magento 2.2.7 and I have the same issue as hirensoni2005.

Where can I find the code which needs fixing?

Br,

Steve

[2019-08-15 22:20] magento-engcom-team commented on #24118
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24119 by @edenduong in 2.3-develop branch
Related commit(s):
 - [2895106f48dcc6770ac9ec40c8069666a01d4b36](https://github.com/magento/magento2/commit/2895106f48dcc6770ac9ec40c8069666a01d4b36)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-15 22:20] #24118 closed, assigned to edenduong

[2019-08-15 22:20] magento-engcom-team commented on #24068
Hi @ankitpatel2931. Thank you for your report.
The issue has been fixed in magento/magento2#24078 by @edenduong in 2.3-develop branch
Related commit(s):
 - [491b29554b54f043315844fd1e4c0e7d48933137](https://github.com/magento/magento2/commit/491b29554b54f043315844fd1e4c0e7d48933137)
 - [b32b91b9fe56dd007eaa5fc41dcc67c0c3f8749c](https://github.com/magento/magento2/commit/b32b91b9fe56dd007eaa5fc41dc

[2019-08-15 22:20] #24068 closed, assigned to edenduong

[2019-08-15 22:20] magento-engcom-team commented on #23697
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23698 by @edenduong in 2.3-develop branch
Related commit(s):
 - [aa26e07383e39e98c4eeccc35bcb17fa47fcbf2d](https://github.com/magento/magento2/commit/aa26e07383e39e98c4eeccc35bcb17fa47fcbf2d)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-15 22:20] #23697 closed, assigned to edenduong

[2019-08-15 22:20] magento-engcom-team commented on #23557
Hi @alexeya-ven. Thank you for your report.
The issue has been fixed in magento/magento2#23687 by @edenduong in 2.3-develop branch
Related commit(s):
 - [be1e905ef04189683b73a4efe0c4812921b5eb51](https://github.com/magento/magento2/commit/be1e905ef04189683b73a4efe0c4812921b5eb51)
 - [ac582d60745d5fa2293196accb54fca39400a17a](https://github.com/magento/magento2/commit/ac582d60745d5fa2293196accb54fc

[2019-08-15 22:20] #23557 closed, assigned to edenduong

[2019-08-15 23:00] Finbayern commented on #17951
Same here, upgraded from 2.3.1 to 2.3.2 and started receiving loads of "Excessive resources used" warnings from lfd, all from magento queue:consumers never exiting.
Reverted back to 2.3.1 for now

[2019-08-15 23:16] stathis commented on #6610
What if we change the 01:00 am cronjob according to our timezone? Let's say for GMT+3 we move it to 04:00 to offset that.

Is there a way to do that?

[2019-08-16 03:40] numan201 commented on #18148
Good to hear. Working fine on Magento 2.3.2 with PayPal Advanced as well.

[2019-08-16 03:45] Gypsy7 commented on #18148
It seems like the Paypal account region is playing game aswell. I guess for some EU countries there is 3rd party module that working fine.

[2019-08-16 03:55] edenduong opened #24147 "Wrong Label when create new "Attribute Set""
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Attribute Set
3. New Attribute Set
See the label:

![image](https://user-images.githubusercontent.com/8234209/63142472-25595080-c014-11e9-9f06-32728a1e9b4d.png)

### Expected result (*)
Should be:

![image](https://user-images.githubusercontent.com/8234209/63142496-3b671100-c014-11e9-894a-04a3c996

[2019-08-16 04:04] adarshkhatri commented on #23071
@magento give me 2.3-develop instance

[2019-08-16 04:04] magento-engcom-team commented on #23071
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-16 04:05] magento-engcom-team commented on #23071
Hi @adarshkhatri, here is your [Magento instance](https://i-23071-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23071-2-3-develop.instances.magento-community.engineering/admin](https://i-23071-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-16 04:11] ajijshekh123 commented on #24147
Give me @magento give me 2.3-develop instance

[2019-08-16 04:11] magento-engcom-team commented on #24147
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-16 04:11] magento-engcom-team commented on #24147
Hi @ajijshekh123, here is your [Magento instance](https://i-24147-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24147-2-3-develop.instances.magento-community.engineering/admin](https://i-24147-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-16 04:18] ajijshekh123 commented on #24147
@edenduong - This is not an issue. This is a suggestion.
Suggestion Verified.

See attached screenshot:

![2019-08-16](https://user-images.githubusercontent.com/24711761/63143252-fd192400-c00a-11e9-84ca-d4f7c4da1f99.png)

[2019-08-16 04:19] magento-engcom-team commented on #24147
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19304` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-16 05:34] junaidq57 commented on #19710
I have checked in core_config and content > design > configuration > theme > Product Image watermarks, none have watermarks set. Also I checked in console, the error appears to be 404, for product images. What can I do to resolve this image issue?

[2019-08-16 06:07] hostep commented on #17951
Hi folks

I've send in some proposals for improving these message queue consumer processes to have them waste fewer resources: https://github.com/magento/community-features/issues/180
Feel free to leave a comment over there if you think this is a good idea or if somebody has a better idea let me know!

[2019-08-16 06:47] engcom-Charlie commented on #24066
@ityetti so plese upload your module and i will try to reproduce it.

[2019-08-16 06:57] riyadhzen commented on #4053
Hi guys, any updates on this.

[2019-08-16 06:57] engcom-Charlie commented on #24144
Hello @chequille
Magento 2.3.2 have this option in the admin configurations:
![image](https://user-images.githubusercontent.com/51680850/63149178-0eaefb80-c00c-11e9-97cd-aa160d6dec7e.png)

1. On the Admin sidebar, tap Stores. Then under Settings, choose Configuration.
2. In the panel on the left under Sales, choose Payment Methods.
3. In the PayPal Express Checkout section, tap Configure.
4. In th

[2019-08-16 07:05] Galillei commented on #23802
I have same bug on magento 2.3.1 with sample data. I can't update  products and console is clean.

[2019-08-16 07:07] engcom-Charlie commented on #24141
Hello @tnsezer
You messed up the repository, such questions should be left here https://github.com/magento/magento2-page-builder/issues.
Please refer to this repository and you will definitely be helped.
Thank for your report!

[2019-08-16 07:07] #24141 closed, assigned to engcom-Charlie

[2019-08-16 07:10] engcom-Charlie commented on #22398
Hello @nickpiro
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2019-08-16 07:10] #22398 closed, assigned to nobody

[2019-08-16 07:16] magento-engcom-team commented on #24143
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19308` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-16 08:09] engcom-Charlie commented on #22027
Hello @annakoehler
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Add one product to cart
2. Navigate to checkout and check number of mysql requests in developer toolbar
3. Add another product to cart
4. Navigate to checkout and compare number of mysql requests in developer toolbar

**Actual result:**
The qty of mysql requests is similar:
1. With 1 pro

[2019-08-16 08:15] engcom-Charlie commented on #22589
Hello @adamlavery
I can't reproduce this issue(I didn't have any errors with the MySQL).
So i close this issue.
Thank for your report!

[2019-08-16 08:15] #22589 closed, assigned to engcom-Charlie

[2019-08-16 08:25] engcom-Charlie commented on #22462
Hello @devqualwebs

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more det

[2019-08-16 08:25] #22462 closed, assigned to engcom-Charlie

[2019-08-16 08:56] ityetti commented on #24066
@engcom-Charlie I figured out this issue.
Me helped this sections of the documentation
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/layout-extend.html
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/layout-override.html

Thanks for your responce.

[2019-08-16 08:59] engcom-Charlie commented on #24066
@ityetti that is nice!
Good luck!

[2019-08-16 09:32] roma-glushko opened #24149 "[Paypal Payflow] Credit Memo is duplicated on full refund"
It's possible to get credit memo duplications of when doing the full refund for orders that are paid by Paypal Payflow.

### Preconditions
1. Magento 2.2.6 Open Source (or Commerce)
2. PayPay Payflow is configured and enabled:

<img width="1114" alt="2019-08-16_09-39-11" src="https://user-images.githubusercontent.com/9402690/63148691-ab709980-c00a-11e9-944c-1609e7afaf86.png">

3. An order with non

[2019-08-16 09:33] annakoehler commented on #22027
HI @engcom-Charlie
Thank you for working on issue. Check please the number of queries on **checkout/cart** page. (if you have Amazon Enabled, you will see the problem on other pages also). We have still this issue if Magento_Inventory modules are enabled..

[2019-08-16 10:19] engcom-Charlie commented on #22027
@annakoehler thank you for contributing!
It is realy works on composer version of Magento.
So i have to change a description of this issue and i will confirm it.
Thanks for your report!

[2019-08-16 10:40] engcom-Charlie commented on #22027
@annakoehler i have to close this issue because its not for own repository. Please duplicate this issue in [Magento MSI](https://github.com/magento/inventory/issues) repository and they will confirm it.

[2019-08-16 10:40] #22027 closed, assigned to engcom-Charlie

[2019-08-16 10:51] annakoehler commented on #22027
@engcom-Charlie Thank you!
I dublicated this issue, see here https://github.com/magento/inventory/issues/2496

[2019-08-16 11:15] gcampedelli commented on #22481
I confirm the issue still exists in 2.2.6 instance.
Preconditions:
Magento 2.2.6
Apache 2
Varnish and Redis installed
Create products
Create API request, encoded and unencoded url, in Postman or Swagger and try to use GET
Request urls:
https://mymagento2domain.com/rest/default/V1/products/attributes?searchCriteria[filterGroups][0][filters][0][field]=attribute_id&searchCriteria[filterGroups][0][fil

[2019-08-16 12:08] engcom-Bravo commented on #23964
Ok @squeegy06, due to my workflow (please the details to step 4 of https://github.com/magento/magento2/issues/23964#issuecomment-516874983) I was supposed to close the issue right after it had been not reproduced for the first time. I hope I helped You at least something. Feel free to reopen the issue if You manage to reproduce it on the latest develop version. Thanks for applying.

[2019-08-16 12:08] #23964 closed, assigned to engcom-Bravo

[2019-08-16 13:03] TomashKhamlai opened #24151 "Uncaught TypeError: Cannot read property 'collapsed' of null"
It can be hard to reproduce. At the bottom of this page, there is a case that shows how to get this error with probability not lower than 99%

### Preconditions (*)

1. Fresh install

### Steps to reproduce (*)

1. Log in to admin (On a fresh install, can be not reproducible in production mode)
2. Open DevTools (`<Ctrl|Cmd> + <Shift> + <I>`).
2. Type in search one of these without quotes: wishlist

[2019-08-16 13:23] joaolisboa commented on #21667
I'm having the same issue on 2.3.2 EE and I don't even have configurable products. The issue happens every time the cron runs, every 2 minutes.

`[2019-08-16 13:18:11] report.INFO: Cron Job magento_newrelicreporting_cron is run [] []
[2019-08-16 13:18:11] report.ERROR: Cron Job magento_newrelicreporting_cron has an error: Warning: Invalid argument supplied for foreach() in /home/<user>/<project>/v

[2019-08-16 13:25] engcom-Bravo commented on #24151
@magento give me 2.3-develop instance

[2019-08-16 13:25] magento-engcom-team commented on #24151
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-16 13:26] magento-engcom-team commented on #24151
Hi @engcom-Bravo, here is your [Magento instance](https://i-24151-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24151-2-3-develop.instances.magento-community.engineering/admin](https://i-24151-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-16 13:37] sudheer-gajjala opened #24152 "Spacing Issue with the Admin grids pages"
### Preconditions (*)

1. Magento 2.2
2. Magento 2.3

### Steps to reproduce (*)

1. Login to Magento admin.
2. Go to Catalog > Product page.
3. Space between the select box and "per page" text is not consistent when compared to Reports > Products in Cart page
4. The same issue exist with Customers > All Customers Grid, Content >Pages Grid and many other pages

### Expected result (*)

1. Select I

[2019-08-16 13:41] VivekShingala commented on #6719
I am getting the same error for configurable product's selected option in cart and checkout. I am using Magento EE 2.3.1 and have imported configurable products using REST APIs.

On the product page, all the configurable options are shown properly and we can add product with different options to the cart but selected option values are blank in the cart items. How to fix this issue?

PS: When we ma

[2019-08-16 13:47] magento-engcom-team commented on #24151
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19339` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-16 13:51] magento-engcom-team commented on #24152
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19340` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-16 14:23] engcom-Bravo commented on #24134
Hi @hostep. The request has been made. Waiting for response.

[2019-08-16 14:25] rhoerr commented on #18752
Very belated response: Reopening this. The above changes do nothing to resolve this issue. They improve error handling around the critical rollback exception, but do not fix it being thrown in the first place, which was never an issue prior to 2.2.4.

---

I've created a minimum proof of concept module to reproduce the error (tested on 2.3.2): https://github.com/rhoerr/proofofconcept-github18752

[2019-08-16 14:54] edenduong opened #24154 "No validate "Sort Order" in Widget Form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Content->Widget
3. Add Widget
4. Choose Type: CMS Static Block
5. Choose Theme: Magento Luma
6. Continue
7. Fill all required field: Widget Title, Assign to Store Views, Select Block
8. "Sort order" fill string "one"

### Expected result (*)

1. Can not save because it is not a number
### Actual result (

[2019-08-16 15:27] krishprakash commented on #24154
@magento give me 2.3-develop instance

[2019-08-16 15:27] magento-engcom-team commented on #24154
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-16 15:28] magento-engcom-team commented on #24154
Hi @krishprakash, here is your [Magento instance](https://i-24154-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24154-2-3-develop.instances.magento-community.engineering/admin](https://i-24154-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-16 15:30] gpcrocker commented on #21667
Being a lazy Friday I dedicated some time to this log filler.

There is a bug in the NewRelic count gathering of configurable products, and this seems to have gotten introduced when Magento added GraphQL support to allow filtering of Configurables.

It is not good idea to do a defensive check or remove the `_renderFilters` function in `/vendor/magento/module-configurable-product/Model/ResourceMode

[2019-08-16 15:35] magento-engcom-team commented on #24154
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19346` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-16 15:41] gpcrocker commented on #21667
@dharake Instead of editing core directly, you should patch. Here is a good article on how its done. https://www.classyllama.com/blog/create-apply-patches-magento-2

[2019-08-16 16:25] sbrendtro commented on #23908
Here's a temporary workaround at the database level (USE WITH CAUTION).  Since no one seems to be able to figure out where this is coming from, I figured I would use a MySQL trigger to prevent `customer_is_guest` from being set anything but 0 when `customer_id` is set.  You'll want to do your own testing before putting this in production.  But I can't think of any real risk, as `customer_is_guest`

[2019-08-16 16:41] tuyennn commented on #12402
@magento give me 2.3-develop instance

[2019-08-16 16:41] magento-engcom-team commented on #12402
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-16 16:42] magento-engcom-team commented on #12402
Hi @tuyennn, here is your [Magento instance](https://i-12402-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12402-2-3-develop.instances.magento-community.engineering/admin](https://i-12402-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-16 16:49] joaolisboa commented on #21667
Leaving that piece at 0 is not enough to fix it in live. The file vendor/magento/module-new-relic-reporting/Model/Cron/ReportCounts.php also calls the same function @124 which will result in the same error.

[2019-08-16 17:54] chequille commented on #24144
@engcom-Charlie
I am a little bit confused. Do I speak another language?

Of course I know this setting, but I reported with this issue, that it is not working.

To make it clear:
I set Enable In-Context Checkout Experience to **YES**
Checkout uses InContext Checkout

I set Enable In-Context Checkout Experience to **NO**
Checkout uses InContext Checkout as well

**NO DIFFERENCE**

That's what I am

[2019-08-16 18:25] #24095 closed, assigned to nobody

[2019-08-16 18:31] gauravagarwal1001 commented on #24128
@magento give me 2.3-develop instance

[2019-08-16 18:31] magento-engcom-team commented on #24128
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-16 18:32] magento-engcom-team commented on #24128
Hi @gauravagarwal1001, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-16 19:12] jrvision opened #24156 "Product objects don’t fully reset after executing $product->reset()"
Description:
When looping through products, and using a product object pushed through DI (in the constructor) and loading it, the load fails on Configurable Products if the product before was a simple product.  The reset seems to clear the data array and unlock the attributes for what that means.  However the Type Instance (model class) never gets reset.  This causes the configurable product when

[2019-08-16 20:09] AndyJAllen commented on #24113
I'm embarrassed to admit two of my mastercards I tested with were altered accidentally in my encrypted excel document....the last digit got changed on each card somehow (hitting up/down arrows maybe)

[2019-08-16 20:11] magento-engcom-team commented on #22587
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19397` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-16 20:15] magento-engcom-team commented on #24007
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24008 by @edenduong in 2.3-develop branch
Related commit(s):
 - [e4f4701d360162f2d2aeffa1d252065857fd2573](https://github.com/magento/magento2/commit/e4f4701d360162f2d2aeffa1d252065857fd2573)
 - [405fbcbf49d0d380380246c4e0ebacb933cbdb54](https://github.com/magento/magento2/commit/405fbcbf49d0d380380246c4e0ebacb9

[2019-08-16 20:15] #24007 closed, assigned to edenduong

[2019-08-16 20:15] magento-engcom-team commented on #11657
Hi @peterjaap. Thank you for your report.
The issue has been fixed in magento/magento2#13580 by @aschrammel in 2.3-develop branch
Related commit(s):
 - [7cde2fc890c9f43d82b7aaa0f963994d3e0565e3](https://github.com/magento/magento2/commit/7cde2fc890c9f43d82b7aaa0f963994d3e0565e3)
 - [83371e140b0af24fb36e1bd338027a8a01745f9a](https://github.com/magento/magento2/commit/83371e140b0af24fb36e1bd338027a8

[2019-08-16 20:15] #11657 closed, assigned to nobody

[2019-08-16 20:15] magento-engcom-team commented on #23429
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#23430 by @ilnytskyi in 2.3-develop branch
Related commit(s):
 - [b8f6a3ad75dddabdcc3bd06bed4f87064032e202](https://github.com/magento/magento2/commit/b8f6a3ad75dddabdcc3bd06bed4f87064032e202)
 - [a5c4a91a72e1ce10f279fce3f9d0e8ce7b4e79b2](https://github.com/magento/magento2/commit/a5c4a91a72e1ce10f279fce3f9d0e8ce

[2019-08-16 20:15] #23429 closed, assigned to ilnytskyi

[2019-08-16 20:15] magento-engcom-team commented on #23706
Hi @lano-vargas. Thank you for your report.
The issue has been fixed in magento/magento2#23716 by @sunilit42 in 2.3-develop branch
Related commit(s):
 - [505d285b633828c1101113d41ebb9c3db9ae0335](https://github.com/magento/magento2/commit/505d285b633828c1101113d41ebb9c3db9ae0335)
 - [a95b55aad2c788204344454a109760b872fbf0fc](https://github.com/magento/magento2/commit/a95b55aad2c788204344454a109760

[2019-08-16 20:15] #23706 closed, assigned to sunilit42

[2019-08-16 20:19] sidolov commented on #22468
Fixed in scope of https://github.com/magento/magento2/pull/24008

[2019-08-16 20:19] #22468 closed, assigned to Hailong, mikebox

[2019-08-16 20:59] brendanfalkowski opened #24157 "Outdated PHP memory limit in .htaccess"
### Summary (*)
I'd like to open a PR to avoid this issue, and curious if it will be accepted before writing.

The files `.htaccess` and `.htaccess.sample` both set `php_value memory_limit 756M`.

This is below what Magento's install guide suggests (2048M):
- https://devdocs.magento.com/guides/v2.3/comp-mgr/trouble/cman/out-of-memory.html

As I understand it, Composer does some magic to raise or i

[2019-08-16 21:56] sdzhepa commented on #23998
Hello @thanhnhan98

I do not think it is a bug.
In your `example.scv` file is missed lines for simple products(related to configurable).
Only defined relations to the simple products in `configurable_variations` but there are no target simples.

So, it linked to non existed products and as result= Configurable product is imported, but  Configurations tab is empty.

Please, have a look at [Importin

[2019-08-16 21:56] #23998 closed, assigned to nobody

[2019-08-17 01:09] EstebanAorta commented on #23432
That worked! Many thanks!

[2019-08-17 02:43] matheus0608 commented on #11828
not work

[2019-08-17 03:31] mjoraid commented on #9214
I see the following two options in my cart rule page:
Fixed amount discount
Fixed amount discount for whole cart.

When I use #1, the discount applies to all items within the condition, not only the one I set in :
 Maximum Qty Discount is Applied To
And when I use the second, it only applies once per cart with no reference to  Maximum Qty Discount is Applied To.

What is the expected behavior here

[2019-08-17 06:12] ask694 commented on #12354
Still this is not taken as a issue..?  :(   Magento 2 not supporting the subdomain /  custom url for Admin panel.

[2019-08-17 07:38] irajneeshgupta commented on #23915
@sdzhepa @sohelmagento

It is 2.2.x issue and can be resolved if you can upgrade magento to 2.3.x series. You should close this issue since it is already fixed in latest versions.

[2019-08-17 10:26] chandantyagi1 opened #24161 "Meta title & description are updated at backend but not able to see it live on website."
### Summary (*)
Meta title & description are updated at the backend but not able to see it live on the website..

[2019-08-17 11:12] hostep commented on #24157
Hi @brendanfalkowski

I can't reproduce your 3rd problem on a vanilla installation, even when only running with a memory_limit of `256M`.
Are you sure there is no custom code involved which maybe has some memory issues?

After some discussion on the [devdocs repo](https://github.com/magento/devdocs/issues/739) a while ago, I think the conclusion was that every shop is different and every shop need

[2019-08-17 14:53] edenduong opened #24162 "Comment "Warning!" in "Allow Symlinks" should have red color like other notices"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configuration
3. Advanced->Develop
4. Template Settings, "Allow Symlinks"

See the comment : **"Warning! Enabling this feature is not recommended on production environments because it represents a potential security risk."**

### Expected result (*)

Warning should have red color: similar like **(

[2019-08-17 15:09] chequille commented on #24144
@engcom-Charlie
Hi, I found the problem and in my point of view it is a bug.
When setting In-Context Checkout Experience to “Yes/No.” in the backend, it is stored under default skope in core_config_data and not under skope website.
![grafik](https://user-images.githubusercontent.com/15807794/63213869-a34f5180-c111-11e9-9b00-b2d64f1ea5aa.png)
Therefore, it does have no effect on the frontpage, beca

[2019-08-17 15:17] edenduong opened #24164 ""HTTP Strict Transport Security" has the Outdate Url"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend.
2. Store->Configuration
3. General->Web
4. in Base URLs (Secure), "Use Secure URLs on Storefront" and "Use Secure URLs in Admin" : Yes
5. Click the Url in "**See HTTP Strict Transport Security page for details"**

### Expected result (*)

1. Go to CHEATSHEETS:

![image](https://user-images.githubuserconten

[2019-08-17 16:09] jtalel commented on #23682
@magento give me 2.2.8 instance

[2019-08-17 16:09] magento-engcom-team commented on #23682
Hi @jtalel. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-17 16:09] jtalel commented on #23682
@magento give me 2.3-develop instance

[2019-08-17 16:09] magento-engcom-team commented on #23682
Hi @jtalel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-17 16:10] magento-engcom-team commented on #23682
Hi @jtalel, here is your [Magento instance](https://i-23682-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23682-2-3-develop.instances.magento-community.engineering/admin](https://i-23682-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-17 19:17] heyepic opened #24166 "Upgrade from 2.3.1 to 2.3.2 - MySQL error"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2

### Steps to reproduce (*)

1. Follow upgrade steps via command line from this page: https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html
2. All commands go correctly. Time to run setup:upgrade.

### Expected result (*)

1. Upgrade goes as expected - except it fails.

### Actual result (*)

Setup:upgrade Command returns `Cache cl

[2019-08-17 19:29] hostep commented on #24166
Hi @heyepic

From what I understand of the error message `Temporary file write failure`, it might be that you are running out of disk space, maybe [this helps](https://dba.stackexchange.com/a/142598)?

I'm closing this issue since it doesn't sound like it is caused by Magento code, but more by some environmental problem. If I'm mistaken, let me know.

I hope you'll find a solution!

[2019-08-17 19:29] #24166 closed, assigned to nobody

[2019-08-18 08:06] jamie-selesti opened #24168 "Invisible recaptcha on the admin / backend login"
### Preconditions (*)

1. Magento 2.3.2(composer install)

### Steps to reproduce (*)

1. Set reCaptcha type to invisible
<img width="1322" alt="Configuration___Settings___Stores___Magento_Admin" src="https://user-images.githubusercontent.com/1398649/63221875-3c747b80-c197-11e9-9c58-8e0aac685c17.png">

### Expected result (*)

1. Google recaptcha v3 loads to load on the frontend and backend

### A

[2019-08-18 11:15] mertgokceimam commented on #15545
We've been hit with this issue also today. We will apply following patch https://github.com/magento/magento2/issues/22587#issuecomment-505895318 and install use elastic search to make sure we are not effected with this in future

Magento team pushing changes that effect performance on Enterprise solution is not acceptable

[2019-08-18 11:51] edenduong opened #24169 ""Layered Navigation Price Step" must validate number"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Catalog->Categories
3. in "Display Settings" -> "Layered Navigation Price Step"
4. Fill "test"
5. Save

### Expected result (*)

1. Can not save, because it is not number

### Actual result (*)

1. Still save, and after save, the value is "0.0000"

[2019-08-18 14:49] krishprakash commented on #24169
@magento give me 2.3-develop instance

[2019-08-18 14:49] magento-engcom-team commented on #24169
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-18 14:50] magento-engcom-team commented on #24169
Hi @krishprakash, here is your [Magento instance](https://i-24169-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24169-2-3-develop.instances.magento-community.engineering/admin](https://i-24169-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-18 14:55] magento-engcom-team commented on #24169
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19405` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-18 15:51] edenduong opened #24172 ""Service->Oauth Settings" has no number validation"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configuration
3. Service-> Oauth
4. Fill all the Field as text (like "test")
5. Save config

### Expected result (*)

1. Can not save because they are not number

### Actual result (*)

1. Save the invalid data

[2019-08-18 17:40] magento-engcom-team commented on #24172
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19406` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-18 18:14] lakshmanpalitha commented on #12118
Ctrl + F5 worked for me!

[2019-08-18 18:17] albannytechnologies commented on #23758
Checks should be made before moving it from QA to Done

[2019-08-18 21:22] danemacmillan commented on #12124
@dharake Are you still hosting 2.3 on GCP's cloud SQL service?

Disabling binary logging does not disable the GTID settings. Magento2 still throws exceptions in various places, like updating stock, reorganizing categories, indexing.

[2019-08-18 23:03] 4DallasC commented on #12354
Hello @ask694

The modification I suggested works for me in Magento v2.0, v2.1, v2.2 and v2.3. I guess that this issues is not in fact your problem. I can only suggest you seek help by hiring a more senior Magento developer.

[2019-08-19 04:41] ajijshekh123 commented on #24168
Give me @magento give me 2.3-develop instance

[2019-08-19 04:41] magento-engcom-team commented on #24168
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-19 04:41] magento-engcom-team commented on #24168
Hi @ajijshekh123, here is your [Magento instance](https://i-24168-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24168-2-3-develop.instances.magento-community.engineering/admin](https://i-24168-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-19 05:22] sohelmagento commented on #23915
Thanks @irajneeshgupta @sdzhepa and @engcom-Charlie ,

Yes it's resolved in magento 2.3.x .

[2019-08-19 05:22] #23915 closed, assigned to sdzhepa, engcom-Charlie

[2019-08-19 05:56] devamitbera commented on #10088
@sidolov

As per my last PR #22710  and Magento backward Compitable issue, I cannot modify exits API data Interface `CategoryInterface.php`.

So, my question is that should I create a new data interface for CategoryInterface?

The second question, if yes then is only need to add setter functions on that new interface?

 Current CategoryInterface does not only setter method **setChildren**  is miss

[2019-08-19 06:09] magento-engcom-team commented on #24162
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19408` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-19 06:17] magento-engcom-team commented on #24164
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19409` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-19 06:22] jamie-selesti commented on #24168
It looks as though the msp/recaptcha extension is not installed on this instance so I am unable to test

[2019-08-19 06:26] ask694 commented on #12354
Still your solution not clear.  Can you please explain that solution. or create one gist with modified Redirect.php file

[2019-08-19 07:08] duydangnguyen231 opened #24180 "Advanced reporting not working 404 issue on Magento 2"
**Preconditions (*)**
Magento CE/EE 2.3.2
5.7.23-24 - Percona Server (GPL), Release 24
nginx/1.12.2
PHP Version 7.1.24
Advanced Reporting setup

**Steps to reproduce (*)**
1. Go to Stores -> Configuration
2. In General -> Advanced Reporting -> Enabled (Default)
3. In General -> Web -> Set Use Secure URLs on Storefront and Use Secure URLs in Admin to Yes.
4. Go to Dashboard -> Go to advanced report

[2019-08-19 07:49] nettree commented on #10889
`remove` is not allowed in `<attribute>` in the layout file. v2.2.5

[2019-08-19 07:50] nettree commented on #10889
@mihaifaget 's comment works, thanks mate.

[2019-08-19 08:04] engcom-Bravo commented on #24161
Hello @chandantyagi1. Please Include and fill in all the required parts in the issue's description like Preconditions, Steps to Reproduce, Expected and Actual results in order to make the issue have a valid format. Thank You.

[2019-08-19 08:25] Danatran opened #24181 "Issue of Drag & drop category in admin Magento EE 2.3.2"
### Preconditions (*)

1. Magento EE 2.3.2
Environment
Magento EE 2.3.2
5.7.23-24 - Percona Server (GPL), Release 24
nginx/1.12.2
PHP Version 7.1.24

2. Multi website setup

### Steps to reproduce (*)

1. Setup website 1 with category tree 1
2. Setup website 2 with category tree 2
![tải xuống (1)](https://user-images.githubusercontent.com/43237158/63250293-82176e00-c295-11e9-90bd-738cd6d10b61.png)

[2019-08-19 08:38] lemmel commented on #10180
Sorry, it has been 2 years (time does fly), and I switched to another tool a long time ago.
IMHO 2 years for having just the « kickstarting/Hello World » application running is too long for me.

So if you can't reproduce the problem, then maybe it is fixed, so if no one is complaining feel free to close the ticket.

[2019-08-19 10:17] mak0605 commented on #5873
In Magento Default address **ATTRIBUTE_SET_ID_ADDRESS** is set to '**2**' (and this attribute set has default group id 2, that can be found in table) in class **Magento\Customer\Api\AddressMetadataInterface**;

While sometimes when we do use migration tool, it auto creates some bizarre attribute set and group with attribute set name '**Migration_Default**', attribute group name '**Migration_Genera

[2019-08-19 10:46] edenduong commented on #24180
@magento give me 2.3-develop instance

[2019-08-19 10:46] magento-engcom-team commented on #24180
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-19 10:47] magento-engcom-team commented on #24180
Hi @edenduong, here is your [Magento instance](https://i-24180-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24180-2-3-develop.instances.magento-community.engineering/admin](https://i-24180-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-19 11:18] engcom-Bravo commented on #24181
Hello @Danatran. Thanks for reporting. We've been not able to reproduce Your issue on a fresh vanilla installation of Magento as You can see it from the attached gifs. Probably the reason is in some tiny detail You considered not essential or in the exact order of actions You took while reproducing the issue.
![before](https://user-images.githubusercontent.com/51680745/63261308-d9184580-c28b-11e9-

[2019-08-19 11:37] techtoni commented on #21264
Same issue, 2.2.6

[2019-08-19 12:55] gwharton opened #24184 "Product URL Rewrites are not removed when product removed from website"
### Preconditions (*)
1. 2.4-develop

### Steps to reproduce (*)
1. Deploy 2.4-develop
2. Create 2nd Website, 2nd Store, 2nd Store View
3. Create New Cateogory
4. Create New Product in New Category
5. Add product to Main Website and 2nd Website
6. Check URL table contains entries for Product, Category/Product for each store in each website
7. Remove Product from 2nd Website

### Expected result (*

[2019-08-19 12:58] madonzy opened #24185 "Excepting when trying to publish message into the MySQL queue"
I'm trying to create queue functionality by using MySQL (not RabbitMQ).

### Preconditions (*)
1. Magento 2.3.1 (Open Source)

### Steps to reproduce (*)
1. Add **communication.xml**
[code]

2. Add **queue_consumer.xml**
[code]

3. Add **queue_publisher.xml**
[code]

4. Add **queue_topology.xml**
[code]
5. Create `SomeCompany\OpenLoyalty\Api\Data\QueueOrderInterface` with content:
[code]

6. Add i

[2019-08-19 13:00] gfxguru commented on #9965
anyone else still having issues with swatch image not showing up? I'm on 2.3.2.  Tried with and without Flat tables, nothing.
Is there a size limitation to this file? the preview shows when uploading but not on the display of the product.

[2019-08-19 13:18] magento-engcom-team commented on #24184
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19416` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-19 13:26] dharake commented on #12124
@danemacmillan I am indeed. I've hosted 2.3.0-2.3.2 without issues.

Kindly find my settings in the attached screenshots, I hope that can help you.

![2](https://user-images.githubusercontent.com/22891885/63268939-3660c680-c28d-11e9-9d31-4923316f4523.PNG)
![1](https://user-images.githubusercontent.com/22891885/63268942-3791f380-c28d-11e9-815f-17ca4baafc75.PNG)

[2019-08-19 13:27] salehawal commented on #24127
i have solved the problem, it is not about changing the password, it is about reaching the magento default ( 6 times ) failiur attempts which will automatically blocks the account for security reasons .. the problem is it wont unlcok automatically like is sopose to do after ( 30 minutes ), i have checked the admin in ( Stores > Configuration > Services ) there is the Token Settings

Solution: Clea

[2019-08-19 13:30] mikehenze commented on #5873
Some small typos:
`eav_entity_attributenWHERE` should be `eav_entity_attribute WHERE` (remove n)

`eav_attributeas` should be `eav_attribute as` (missing space)

[2019-08-19 13:42] sudheers-kensium commented on #24143
Hi @Hailong ,

This is Magento default behaviour not an issue.

When we add a product from grouped product parent id(grouped product id) and product type will save in quote_item_option table and from simple product view page parent id not exists in quote_item_option so due to this same single product is added as two separate items.

![image](https://user-images.githubusercontent.com/50358141/63270

[2019-08-19 13:51] atwixfirster opened #24186 "bin/magento cron:install adds extra cron job"
### Summary (*)

`bin/magento cron:install` command adds the extra cron job - `update/cron.php`:

[code]

### Examples (*)

**Example #1**
1. Install Magento 2.3 via `bin/magento setup:install` command
2. Run `bin/magento cron:install`
3. Run `crontab -l`
4. Check `<magento root folder>/update` folder.

**Actual result:**
1. `<magento root folder>/update` folder does not exist.
2. `<magento root f

[2019-08-19 13:54] danemacmillan commented on #12124
For anyone coming by or reading from various GitHub issues that all that needs to be done to host Magento 2 on Google Cloud SQL is to simply disable binary logging and having no luck, here is the bit of information that is required to get it working:

You need to be using MySQL version `5.7`. You cannot host on Google Cloud's SQL service using its `5.6` version.

https://dev.mysql.com/doc/refman/5

[2019-08-19 13:55] danemacmillan commented on #12124
@dharake Yeah I figured out how to get it working in GCP. It was a very subtle difference in the documentation that clued me into the possibility that `5.7` would behave differently.

[2019-08-19 14:01] dharake commented on #12124
Ah great, glad you figured it out.

[2019-08-19 14:07] mak0605 commented on #5873
Hey Mike,
Thanks for your response. I have made corrections.

[2019-08-19 14:17] dharake commented on #21667
I couldn't agree more. Like I have time to reopen issues all day for Magento that take me a good 15mins to report correctly using their format in the first place. Community support is all that keeps me from banging my head against the wall 😠

@gpcrocker thanks for the heads up. Mine was only a dev site at the time, but will look into the link on patches, thanks. For now I just disabled the new rel

[2019-08-19 14:30] Mrinza commented on #8970
The changes are already in 2.2.4 but i receive same error when unassigned any product from root category. How i will solve this?

[2019-08-19 14:58] surya357 opened #24189 "magento 2.3.1 cache and indexer are not defined namespace"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-08-19 15:02] magento-engcom-team commented on #24189
Hi @surya357. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-19 15:02] magento-engcom-team commented on #24189
Hi @surya357, here is your [Magento instance](https://i-24189-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24189-2-3-develop.instances.magento-community.engineering/admin](https://i-24189-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-19 15:03] surya357 commented on #24189
![Capture](https://user-images.githubusercontent.com/54279799/63276178-7f7e3e00-c2c0-11e9-9791-c520986f55fe.PNG)
![Capture1](https://user-images.githubusercontent.com/54279799/63276179-7f7e3e00-c2c0-11e9-8436-2549dc0c4ad3.PNG)
this is the issue iam facing even i update all dependacies so please give an idea to solve it

[2019-08-19 15:40] barryvdh commented on #15187
Was this ever fixed? Still getting errors in the cron for `indexer_update_all_views`:

[code]

[2019-08-19 15:53] squeegy06 commented on #23964
Just for anyone who stumbles on this, I finally found my fix for this issue here in this commit https://github.com/magento/magento2/commit/54139e30a538312077526f44052abe85b3b17c49#diff-886404471665983d5e6c6cf05c4788d8

[2019-08-19 15:57] mertgokceimam commented on #23908
@sbrendtro i will like to ask a question , do you also use Redis for session management ?

[2019-08-19 15:58] Hailong commented on #24143
Hi @sudheers-kensium , thank you for digging out the details in code and db. While I still think if the customers can't tell any difference from the itemized list in the order, they would be confused.

My client (the site owner) reported it as an issue to me, since they think that's a problem in Magento. I have just added a plugin to change the default behaviour, but I'd prefer the team could revi

[2019-08-19 16:08] densen45 opened #24190 "Magento CE 2.3.2 and Elasticsearch 5.6: no products on category page for product_list_limit=all"
### Preconditions (*)

1. Magento CE 2.3.2
2. Elasticsearch 5.6.16
3. PHP 7.1
4. Java OpenJDK 1.8.0_222

### Steps to reproduce (*)

1. Setup and configure Elasticsearch 5.0+
2. Create a category with several products
3. Configure the pagination to show the "all" option
4. Reindex all indexes
5. Go to the category on frontend
6. Choose the option "all" in pagination select element

### Expected re

[2019-08-19 16:39] sdzhepa commented on #22587
Hello @mertgokceimam

I am very sorry that you faced such an issue.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described in [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guide

[2019-08-19 16:40] tuyennn commented on #23908
@mertgokceimam has same problem while using redis caching the session. Well, any investigation?

[2019-08-19 16:53] gwharton opened #24191 "Placing order in Admin for backordered items shows incorrect backorder message"
### Preconditions (*)
1. magento 2.3-develop

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Create Test Product with Qty 10, and Allow backorders with Notify Customer
3. Create Test Customer
4. Sales Order -> Create New Order
5. Select Test Customer
6. Add Products
7. Select Test Product and enter qty 15
8. Add selected product to order

### Expected result (*)
1. Warning Displayed that 5 ne

[2019-08-19 16:54] sbrendtro commented on #23908
No redis, we are using DB session storage.

On Mon, Aug 19, 2019, 10:58 AM mertgokceimam <notifications@github.com>
wrote:

[2019-08-19 16:56] krishprakash commented on #24191
@magento give me 2.3-develop instance

[2019-08-19 16:56] magento-engcom-team commented on #24191
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-19 16:56] magento-engcom-team commented on #24191
Hi @krishprakash, here is your [Magento instance](https://i-24191-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24191-2-3-develop.instances.magento-community.engineering/admin](https://i-24191-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-19 17:14] magento-engcom-team commented on #24191
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19431` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-19 17:25] citystamps opened #24192 "One or more indexers are invalid. Make sure your Magento cron job is running."
I just installed magento ver 2.3.2 via exlcusive hosting provider I use.

When I open the magento page I get this error

One or more indexers are invalid. Make sure your Magento cron job is running.

I tried to follow the guidlines to solve it via

"Please run the below command from your command line.

php bin/magento indexer:reindex

To resolve your indexer error.

If you want that to happen auto

[2019-08-19 17:51] brendanfalkowski commented on #24157
@hostep — Thanks, there is custom code in the repo I'm working on. I just wasn't expecting it could render but not process a form with the default `memory_limit`. I have too explore what's causing the higher memory usage.

It seemed like the docs suggested that 2048 MB was recommended:
- https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

But I see the PHP requiremen

[2019-08-19 18:09] hostep commented on #24157
The `756M` refers to compiling code and deploying static assets. You tend to do using the php command line (which usually uses a different `php.ini` file and usually has an unlimited `memory_limit` set).

Currently there is no recommendation for the `memory_limit` value for serving a Magento shop using a webserver. It depends on how big your shop is, and if it uses specific features which need muc

[2019-08-19 18:09] #24157 closed, assigned to nobody

[2019-08-19 18:13] engcom-Bravo commented on #24192
Hello @citystamps. Thanks for applying, but  the GitHub issue tracker is intended for Magento Core technical issues only. So please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-08-19 18:13] #24192 closed, assigned to nobody

[2019-08-19 18:16] hostep commented on #24189
@surya357: try executing `bin/magento` and you'll most likely see an error at the bottom. That might help you further.

I'm going to close this issue now, because Github is intended for bug reports, not for support questions. Hope you don't mind. If you have further support questions, please refer to https://community.magento.com or https://magento.stackexchange.com

[2019-08-19 18:16] #24189 closed, assigned to nobody

[2019-08-19 18:30] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-08-19 18:30] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-19 18:30] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-19 18:42] Shubham-Webkul commented on #24147
@magento give me 2.3-develop

[2019-08-19 18:46] gwharton opened #24194 "Cache needs clearing/Indexers reindexing after adding new Catalog Price Rule"
# Preconditions (*)
1. 2.3-develop

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Create test category
3. Create test product with price 100, qty 1 in test category
4. Go to frontend in browser and navigate to product. Verify price is 100
5. Add new catalog price rule for Main website, Not logged in, 10%
6. Save and Apply catalog rule
7. Refresh Product page in browser. Check Price
8. Clear

[2019-08-19 19:01] sdzhepa commented on #21353
Hello @mageprince @shikhamis11 @josefbehr

Thank you for contribution and collaboration!

We have discussed the expected result for this case internally

In general:
- coupon code with symbols such as "/"  should be valid.
- It should be allowed to create it from the Admin side(current behavior)
- It should be possible to apply it in each place on Storefront(cart page, checkout, etc)

So, should b

[2019-08-19 19:16] Ctucker9233 commented on #24147
@ajijshekh123 I agree with you. I see no problem with the verbage as it is as it directs the user as to what to do next.

[2019-08-19 19:53] onepack commented on #23908
Same here, no redis session caching.

[2019-08-19 20:46] hostep commented on #23460
Good to see this issue report.

We recently investigated a problem on a shop where certain customers couldn't get through the checkout. And I think it might have been caused by this bug.
The Magento checkout doesn't seem to like it when you have a region stored in the database for a different country than the country from your address. Then you get some weird error message in the checkout preventi

[2019-08-19 21:53] dferdoille commented on #12124
Thanks @alexgoodey.
I managed to run magento 2.2.7 on a mysql server of a private cloud thanks to your extension.
I also have to disable re-indexing on save mode to switch it to schedule reindexation (especially to avoid updating stock error)

[2019-08-19 22:52] onamfc commented on #18738
Experiencing the same issue. How did you solve this? @harrigo

[2019-08-19 23:00] magento-engcom-team commented on #23705
Hi @enr-beck. Thank you for your report.
The issue has been fixed in magento/magento2#23774 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [3bac25f1dad11f6d48dac6880016d71254c395bf](https://github.com/magento/magento2/commit/3bac25f1dad11f6d48dac6880016d71254c395bf)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-19 23:00] #23705 closed, assigned to konarshankar07

[2019-08-19 23:00] magento-engcom-team commented on #24139
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24140 by @edenduong in 2.3-develop branch
Related commit(s):
 - [4e1a8aa2c0c741fbbab886c658029a350c9c4c44](https://github.com/magento/magento2/commit/4e1a8aa2c0c741fbbab886c658029a350c9c4c44)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-19 23:00] #24139 closed, assigned to edenduong

[2019-08-19 23:00] magento-engcom-team commented on #24012
Hi @dipak85shinde. Thank you for your report.
The issue has been fixed in magento/magento2#24049 by @UncleTioma in 2.3-develop branch
Related commit(s):
 - [917705090bea4930b987cc6ab3e1ef3e9a46b7fb](https://github.com/magento/magento2/commit/917705090bea4930b987cc6ab3e1ef3e9a46b7fb)
 - [a62f72b4a730d805d0dcaef40bdef1afa8f95f60](https://github.com/magento/magento2/commit/a62f72b4a730d805d0dcaef40bd

[2019-08-19 23:00] #24012 closed, assigned to UncleTioma

[2019-08-19 23:00] magento-engcom-team commented on #23634
Hi @LucianMihalache. Thank you for your report.
The issue has been fixed in magento/magento2#23690 by @edenduong in 2.3-develop branch
Related commit(s):
 - [79410c8a82e9c346128d8dcc9cd382fb6557dad9](https://github.com/magento/magento2/commit/79410c8a82e9c346128d8dcc9cd382fb6557dad9)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-19 23:00] #23634 closed, assigned to edenduong

[2019-08-19 23:00] magento-engcom-team commented on #24105
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24106 by @edenduong in 2.3-develop branch
Related commit(s):
 - [da8766fb7d3bac4713be2408191228ef9416d05c](https://github.com/magento/magento2/commit/da8766fb7d3bac4713be2408191228ef9416d05c)
 - [2cb86cbf51e37aac4dbb83a5a41f8da434ed7ea5](https://github.com/magento/magento2/commit/2cb86cbf51e37aac4dbb83a5a41f8da4

[2019-08-19 23:00] #24105 closed, assigned to edenduong

[2019-08-20 02:11] Aiweline opened #24196 "Magento2.3.2 checkout address have't zip/postalcode then cause admin order shipment error"
Type Error occurred when creating object: Magento\InventorySourceSelection\Model\Address

The zip/postalcode must be required in frontend in system level.
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-08-20 05:09] wutever0 commented on #8204
Hi ... Is this fixed? Because I can see it is still happening with me on 2.3.2.
In my case i have just migrated from 1.9 to 2.3.2

[2019-08-20 05:29] chequille commented on #24144
Please reopen this issue, because it is a bug

[2019-08-20 06:03] matin73 commented on #24131
Issue is in combination with onestepcheckout. Modul developer gave me solution:
change line 86 of the following file: vendor/magento/module-checkout/view/frontend/web/js/view/billing-address.js

It should be changed from

if (quote.isVirtual()) {

to

if (quote.isVirtual() || !quote.shippingAddress()) {

[2019-08-20 06:12] konarshankar07 commented on #23631
This issue has been fixed
Related commit is https://github.com/magento/magento2/commit/250180b7ee67d75c888dedc4ca99012148f66945

[2019-08-20 06:18] konarshankar07 commented on #23631
@magento give me 2.2-develop instance

[2019-08-20 06:18] magento-engcom-team commented on #23631
Hi @konarshankar07. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-20 06:19] konarshankar07 commented on #23631
@magento give me 2.2 instance

[2019-08-20 06:21] konarshankar07 commented on #23631
How can we test this in magento 2.2.x vanilla instance?

[2019-08-20 06:43] Hirenshah2011 commented on #23934
Hello,

Is there any update on this issue? we can't use authorize.net payment method in backend.
https://magento.stackexchange.com/questions/285823/magento-2-admin-create-order-authorize-net-not-working

Please update ASAP.

[2019-08-20 06:44] densen45 commented on #24190
@magento give me 2.3-develop instance

[2019-08-20 06:44] magento-engcom-team commented on #24190
Hi @densen45. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-20 06:45] magento-engcom-team commented on #24190
Hi @densen45, here is your [Magento instance](https://i-24190-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24190-2-3-develop.instances.magento-community.engineering/admin](https://i-24190-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-20 06:51] densen45 commented on #24190
@magento-engcom-team I cannot reproduce this issue on the instance that was provided since I cannot set up Elasticsearch.

![Screenshot from 2019-08-20 08-48-23](https://user-images.githubusercontent.com/3801001/63324001-652b7b00-c327-11e9-9919-b67b27545b06.png)

[2019-08-20 06:56] ihor-sviziev commented on #22043
Hi,

Looks like this issue was fixed in `2.3-develop` branch using following commits:
- https://github.com/magento/magento2/commit/da0c7374e5dcae81735552bdd685ee5e646b8486
- https://github.com/magento/magento2/commit/4344cc9bc34fbda80dc798ebafcf80c516788442

@engcom-backlog-nazar could you re-check if this issue is reproducing?

Thank you!

[2019-08-20 07:09] engcom-Alfa commented on #22043
Hi @ihor-sviziev. Thank you for clarification. The issue was tested and we can confirm that this issue not present in 2.3-develop. I closing as not actual anymore.

[2019-08-20 07:09] #22043 closed, assigned to nobody

[2019-08-20 07:26] mertgokceimam commented on #22587
We received a patch from Magento support on this issue , we are pushing it to staging server and conduct tests

[2019-08-20 08:01] karthik32cse opened #24198 "How to check the list of security patches applied on the magento EE 2.x"
I want to check the list of security patches applied on the Magento EE 2.x  store.

Thanks in advance

[2019-08-20 08:28] anatolij-p commented on #15545
Klevu search is one viable alternative.

When active and setup properly it completely bypasses the Magento database for product listing page & search results. All data is coming from API (initial load, filtering, etc...)

[2019-08-20 08:34] mertgokceimam commented on #15545
@anatolij-p Klevu doesn't help resolving this issue we already use Klevu as front end search.

I received a patch from Magento team for this issue , we are going to test it on our staging.

[2019-08-20 08:36] krishprakash commented on #24198
Hi @karthik32cse. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank You.

[2019-08-20 08:36] #24198 closed, assigned to krishprakash

[2019-08-20 08:39] anatolij-p commented on #15545
Did you configure it properly? It must use their template, then all data is via api.
Also can you share that patch from magento here?

[2019-08-20 08:40] jaromirmuller commented on #15545
@mertgokceimam I'm interested in patch. Can you share it?

[2019-08-20 08:58] mertgokceimam commented on #15545
The issue is mainly related on slow queries within layered navigation. The only way Klevu can help you is if you allow Klevu to take over your categories and layered navigation i assume.

We need to test the patch before sharing.

[2019-08-20 09:08] royandre commented on #19597
Strongly recommend to have this resolved ASAP. It is very difficult to explain to our clients that on Magento 2 the site will need to go down for several minutes for every deploy, while on Magento 1 that was not the case.

I can btw confirm this is an issue also on Magento Commerce 2.3.2.

[2019-08-20 09:16] dinesh6686 commented on #24023
@magento-engcom-team Any updates?

[2019-08-20 09:19] R-K-Shrivastaw commented on #15545
I am also facing the same problem with the Magento 2.3.0. I am wander that on a serious note, no satisfactory answer found till date. Magento Team please release a patch for the CE 2.3.0

[2019-08-20 09:34] Naberdz opened #24199 "catalog_product_entity_varchar value field is too short"
### Preconditions (*)

1.Magento 2.3.2
2.php 7.2

### Steps to reproduce (*)

1.Create multiselect attribute
2. Add some values to it (more is better )
3. Create product select all options from created attribute.

### Expected result (*)

1. Product must contain all selected options

### Actual result (*)

1. Product is saved but not all options where added since the field is limited to 255 charac

[2019-08-20 09:48] FreekVandeursen commented on #24199
This is actually a regression from Magento 1, where multiselect was updated from varchar to text table at some point.

[2019-08-20 10:16] engcom-Bravo commented on #24194
Hello @gwharton. Thanks for reporting. Please tell us what exactly You mean by Save and Apply: click on "Save and Apply" or click on "Save" and then on "Apply Rules". Because If it's about clicking "Save and Apply" the system output a message on reindex required. And once You've resolved it the Frontend Page shows the correct price with the rule applied. Thus it seems there is no wrong behavior.

[2019-08-20 10:28] gwharton commented on #24194
I click on "Save and Apply". OK, I see a warning that an indexer is invalid after applying rules.

If I do nothing else and go to the front end, the front end does not show the special price.

I have to either clear cache, or reindex to get the frontend to show new price.

Now that the price is applied, if I delete the rule, there is no warning about invalid indexers.

Going to the frontend still

[2019-08-20 10:57] ayjods commented on #11178
Same here version 2.2.5
If I have 2 product in my cart one with special price a one without.

The coupon code discount is applying on both products when it should only be discounted for the product without special price!

thanks

[2019-08-20 12:02] deckside opened #24201 "PHP Fatal error: Uncaught Error: Wrong parameters for Elasticsearch"
Summary of problem or feature request

After restart elasticserach service is not indexing.
Code snippet of problem

ubuntu@ip-172-31-11-28:/var/www/magento/bin$ sudo php magento indexer:reindex catalogsearch_fulltext
PHP Fatal error: Uncaught Error: Wrong parameters for Elasticsearch\Common\Exceptions\ServerErrorResponseException([string $message [, long $code [, Throwable $previous = NULL]]]) in

[2019-08-20 12:18] asifsami73 opened #24202 "product not exporting to CSV file"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-08-20 12:18] magesanjay commented on #8927
Getting same issue in Magento EE 2.3.2 fresh instance.

[2019-08-20 12:54] engcom-Bravo commented on #24194
Thank You @gwharton. You don't have to manually reindex if Your indexer is set to be updated by schedule and Your Cron jobs are running well. Of course the anticipated changes appearance on the Frontend would depend then on Cron schedules.

Should it show it anyway, even without keeping in the System Message requirements?

We do not observe such behavior after deleting an applied rule. Indexer mes

[2019-08-20 13:03] gwharton opened #24203 "Backorder Quantities not calculated correctly when QuoteItem->addQty() used."
### Preconditions (*)
1. 2.3-develop

### Steps to reproduce (*)
1. Run the following integration test placed in

/dev/tests/integration/testsuite/Magento/Quote/Model/Quote/Item/SetQtyTest.php

[code]

### Expected result (*)
1. Integration test should pass

### Actual result (*)
1. Sadly it does not.

After adding 10 to the cart, the backorder quantity remains at 10. It should be 20. Even when th

[2019-08-20 13:15] engcom-Bravo commented on #24131
Ok, @matin73, it's good if You have got a solution that satisfies You. But if You want this issue to be confirmed (and so processed forward to get fixed in the end) You need to give us the detailed steps following which we shall be able to reproduce it. For now we don't have such. So we are supposed to close the issue now but please feel free to reopen it if You are ready to provide us those steps

[2019-08-20 13:15] #24131 closed, assigned to nobody

[2019-08-20 13:33] snez commented on #13007
As @yohanespradono mentioned, this was a problem with the Command classes. When I commented those out in di.xml, compilation succeeded.

To solve the problem, I created the following class:

[code]

Including this class in the constructor of the problematic Command classes *BEFORE* any other classes that might load the SessionManager class, will solve the problem.

[2019-08-20 13:45] gwharton commented on #24194
My indexers are set to run as stock Magento and my crons are running fine. It is a vanilla test installation for testing purposes.

The fact remains, if I edit the product price, it is reflected straight away on the frontend with no requirement to clear any caches, or reindex an indexers. So why is the catalog price rules any different. I apply them, and expect them to be there immediately.

Yes,

[2019-08-20 13:52] engcom-Bravo commented on #24143
@sudheers-kensium, please take a look at the next image:
![context](https://user-images.githubusercontent.com/51680745/63352027-01c23d00-c369-11e9-92d4-561a685eb0fb.png)
There are three units of Conf-Red product in the cart shown as thee different items, they occupy three separate positions in the Cart. But each time this Conf-Red was added to the Cart with so to say  different context: as a Simpl

[2019-08-20 13:53] rani-webkul commented on #24087
I think we need to bind like <div data-bind="template:{name:'Webkul_Pos/hello',data:{}}"></div>
it's working fine for me..

[2019-08-20 13:58] #24194 closed, assigned to nobody

[2019-08-20 14:17] CajuCLC commented on #19597
@royandre You might wanna run `magento setup:upgrade --keep-generated` for now.
I can also confirm this is still an issue with Magento Commerce 2.3.2.

[2019-08-20 14:23] engcom-Bravo commented on #24202
Hello @asifsami73. Please fill in all the required parts of the issue description in order to make it valid for processing. Thank You.

[2019-08-20 14:45] gwharton commented on #24203
Seems my initial conclusions only cover part of the issue.

[2019-08-20 15:01] edenduong opened #24204 "Some Fields in "Currency Setup" must have validate number"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Store->Configuration
2. General->Currency Setup
3. Fill "ggg" in "Connection Timeout in Seconds" of "Fixer.io" and "Currency Converter API"

### Expected result (*)

1. Can not save because it is not a number

### Actual result (*)

1. Save the wrong data

[2019-08-20 15:07] krishprakash commented on #24204
@magento give me 2.3-develop instance

[2019-08-20 15:07] magento-engcom-team commented on #24204
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-20 15:08] magento-engcom-team commented on #24204
Hi @krishprakash, here is your [Magento instance](https://i-24204-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24204-2-3-develop.instances.magento-community.engineering/admin](https://i-24204-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-20 15:28] aleromano89 commented on #24087
@rani-webkul thanks. I confirm that now the bind is working in that way. So the docs should be updated

[2019-08-20 15:40] magento-engcom-team commented on #24046
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19495` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-20 16:02] lano-vargas commented on #9453
@Kist221  I've applied the fix to my Magento2.2.2 as per okorshenko https://github.com/magento/magento2/issues/9453#issuecomment-353555032

It has worked as a treat!

[2019-08-20 16:04] magento-engcom-team commented on #24204
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19497` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-20 17:18] cralls commented on #12412
The problem for me was the url key was not being used as the new url path on a duplicated product. I want Magento to use the url key that I specify with .html on the end if I change my url key on a duplicated product so to fix this issue you can override Magento\CatalogUrlRewrite\Model\Product\CanonicalUrlRewriteGenerator and update the generate function as follows:

 public function generate($sto

[2019-08-20 17:30] Styopchik opened #24206 "Cart price rule based on payment methodis not aplied in checkout"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.15

### Steps to reproduce (*)

1. Create cart price rule based on payment method (f.e. Bank transfer payment)
![screen1](https://user-images.githubusercontent.com/884525/63369329-617c1080-c388-11e9-8fda-5c902cd4324c.png)

2. Set discount in rule actions
3. Add product to cart
4. Go to checkout
5. Select Bank transfer payment method

### Expected

[2019-08-20 20:09] chequille commented on #24144
Why do you ignore this issue and keep it closed?
Do not understand this, because it is a bug.
Please confirm this issue and reopen it.
Thanks.

[2019-08-20 20:38] magento-engcom-team commented on #23619
Hi @patruvlad. Thank you for your report.
The issue has been fixed in magento/magento2#24001 by @hostep in 2.3-develop branch
Related commit(s):
 - [cbcb8c6523cf4ac83e9a986cea305d74b8004a20](https://github.com/magento/magento2/commit/cbcb8c6523cf4ac83e9a986cea305d74b8004a20)
 - [ed987037d526fb9ea2a09d0345ffbd48afdee856](https://github.com/magento/magento2/commit/ed987037d526fb9ea2a09d0345ffbd48afd

[2019-08-20 20:38] #23619 closed, assigned to hostep

[2019-08-20 20:38] magento-engcom-team commented on #23729
Hi @jammy-git. Thank you for your report.
The issue has been fixed in magento/magento2#23737 by @edenduong in 2.3-develop branch
Related commit(s):
 - [8604be9b3423be18038ef0c13b3830e5cc58b9d1](https://github.com/magento/magento2/commit/8604be9b3423be18038ef0c13b3830e5cc58b9d1)
 - [fc1687b0353c1f337b7f45c6977512f134590887](https://github.com/magento/magento2/commit/fc1687b0353c1f337b7f45c6977512f1

[2019-08-20 20:38] magento-engcom-team commented on #22867
Hi @Siyadev9. Thank you for your report.
The issue has been fixed in magento/magento2#24114 by @gwharton in 2.3-develop branch
Related commit(s):
 - [8c0958d735f88e4dab5faa6ab6d40b73f9f6a409](https://github.com/magento/magento2/commit/8c0958d735f88e4dab5faa6ab6d40b73f9f6a409)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-20 20:38] #22867 closed, assigned to gwharton

[2019-08-20 20:38] magento-engcom-team commented on #22338
Hi @miteshdhaduk. Thank you for your report.
The issue has been fixed in magento/magento2#24054 by @srenon in 2.3-develop branch
Related commit(s):
 - [b30deddc054d936b2c3eab1832cc07f74de62a41](https://github.com/magento/magento2/commit/b30deddc054d936b2c3eab1832cc07f74de62a41)
 - [f9b1f0b8336b4f8d870aaed55a83645ab0a7386c](https://github.com/magento/magento2/commit/f9b1f0b8336b4f8d870aaed55a83645a

[2019-08-20 20:39] AdeelMurtaza commented on #5836
We are facing similar issue where after a customer purchases items on our store, items gets disappeared on our store front from category pages. Only solution is to manually reindex which is not a solution but strangely it is only happening to one of our stores.

Magneto support yet to come up with a positive answer. We are on Magneto cloud 2.3.1 and yet facing such issue. I was hopeful after Adobe

[2019-08-20 22:34] magento-engcom-team commented on #23951
Hi @ju2kr.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [eb28168184ff769e0f03c8c2e5c2fe223cdac7a2](https://github.com/magento/magento2/commit/eb28168184ff769e0f03c8c2e5c2fe223cdac7a2)

The fix will be available with the upcoming `2.3.4` release.

[2019-08-20 22:34] #23951 closed, assigned to nobody

[2019-08-20 23:21] trucatchtraps commented on #6609
@fr33ztyl3 I found a solution and I added the complete fix on this stackexchange question. The original poster figured out the solution, I just simplified it and made it easy to create the entire custom module.

https://magento.stackexchange.com/a/286009/14403

[2019-08-21 00:02] gcampedelli commented on #6609
I was wrong
I'm actually convinced that the solution is -p feature=+esi_ignore_https in Varnish file. I tried to apply it for the first time didn't work, but them I followed steps describe here:  https://pt.slideshare.net/TonyBrown44/magento-2-and-avoiding-the-rabbit-hole

And It worked.

[2019-08-21 02:37] uabassguy commented on #7710
@magento-engcom-team The issue still exists in 2.3.2, updating the type field to 1 fixed it in my case, need a more substantial fix. Half of those commits referenced are just comments

[2019-08-21 04:36] krishprakash commented on #24199
@magento give me 2.3-develop instance

[2019-08-21 04:36] magento-engcom-team commented on #24199
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-21 04:37] magento-engcom-team commented on #24199
Hi @krishprakash, here is your [Magento instance](https://i-24199-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24199-2-3-develop.instances.magento-community.engineering/admin](https://i-24199-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-21 04:46] konarshankar07 commented on #23631
we can't test this issue in 2.2 develop so I'm closing this issue.
Thanks

[2019-08-21 05:04] magento-engcom-team commented on #24199
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19514` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-21 05:41] chequille commented on #22528
@mikedubinsky
Hi Mike,
I do not know whether you still have the problem with your PayPal buttons, but if yes, I guess I know why.

Configuring PayPal in the backend "not using InContext Experience" does not work, because if you set it to No, the value is not stored under skope "websites", it is stored under skope "default".
Therefore in the frontend you will get always the iframe included which of

[2019-08-21 06:07] serhiyzhovnir opened #24208 "CMS Page Grid View action should be allowed only for enabled pages"
### Preconditions

1. Magento 2.3.*

### Steps to reproduce (*)
1. Log in as an admin
2. Go to *Content > Elements > Pages*
3. Disable a CMS page
4. Try to use **View** action for the disabled page

### Expected result

1. The View action is not shown for a disabled page
<img width="1794" alt="Screen Shot 2019-08-21 at 08 59 39" src="https://user-images.githubusercontent.com/31502344/63406350-480f

[2019-08-21 06:29] magento-engcom-team commented on #24206
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19515` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-21 06:42] agata-maksymiuk commented on #6610
Change `catalogrule_apply_all` cron job execution time to any other "free" time, eg. `25 2 * * *`
It seems it's too many jobs starting (or still running) at 1:00 AM, causing this cron job always `missed`.

[2019-08-21 06:48] Nagamaiah007 opened #24210 "Toggle functionality for admin menu"
### Description (*)
In Magento admin when the user clicks on the navigation side bar the sub menu will be displayed. To close that user has to click on the 'X' button or he needs to click out of the sub menu. which is not user friendly when the sub menu is very big. If you consider Reports menu item he needs to go all the way to right and click on the close symbol to close. **We are suggesting tog

[2019-08-21 07:05] engcom-Bravo commented on #24208
Hello @serhiyzhovnir. Thanks for applying. But why You think it's  a bug? In fact View action shows how the page requested by the URL of {magento-instance-base-url}/{the page's URL-key} looks like. You can't ban one to manually navigate to lets say {magento-instance-base-url}/enable-cookies page in one's browser. The one will get some rendered page anyway even if Enable Cookies is disabled. So it'

[2019-08-21 07:17] engcom-Charlie commented on #24144
@chequille sorry but i was off for 4 days. Please update a description of this issue(please add Precondition, Steps to reproduce, Expected and Actual result, Proposed solution) and i will confirm it.

[2019-08-21 07:28] hostep commented on #24144
This sounds very similar to https://github.com/magento/magento2/issues/23669.

@chequille: are you using single store mode by any chance? Disabling that might fix your issue (I realize that's not a proper bug fix, but it might get you further)

[2019-08-21 07:34] engcom-Charlie commented on #22481
Hello @gcampedelli

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more det

[2019-08-21 07:34] #22481 closed, assigned to engcom-Charlie

[2019-08-21 07:53] vtransy commented on #21441
I have custom css file in theme of swatches and get same problem after update from 2.1 to 2.3
I found solution and noted here:
https://mrvts.wordpress.com/2019/08/21/magento-2-3-custom-css-file-not-merged-to-styles-m-css-and-styles-l-css-how-to-fix/

[2019-08-21 07:54] mikehenze commented on #5873
Unfortunatly this does not fix the issue (for us).

[2019-08-21 07:58] engcom-Charlie commented on #24201
Hello @deckside

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more detail

[2019-08-21 07:58] #24201 closed, assigned to engcom-Charlie

[2019-08-21 08:11] magento-engcom-team commented on #24168
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19517` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-21 08:12] edenduong opened #24212 "Virtual Quote shouldn't display "Shipping & Handling" total when Create New Order"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Create New Order at backend
3. Add only "Virtual Product"
4. Check the Total at the bottom

![image](https://user-images.githubusercontent.com/8234209/63414322-cafe2c80-c425-11e9-99ff-a5b494844cd1.png)

### Expected result (*)

1. Shouldn't have "Shipping & Handling"

### Actual result (*)

1.
Still have

[2019-08-21 08:43] oleksii-lisovyi commented on #22528
Hi, @chequille!

I've created a PR #24121 , that was already tested and accepted. So sooner on later it will be released with upcoming Magento 2.3.x version.

For now you can apply patch from the commit https://github.com/magento/magento2/pull/24121/commits/7507dcef7dfa144a59df3e134ad3819963fc05d8

Here is an article how to apply patch for Magento:
https://devdocs.magento.com/guides/v2.3/comp-mgr/

[2019-08-21 08:45] oleksii-lisovyi commented on #22525
@chequille, please check out my comment https://github.com/magento/magento2/issues/22528#issuecomment-523359831.

[2019-08-21 08:46] krisdante opened #24214 "Hitting enter while creation of folder in media browser closes media browser"
Hitting enter while creation of folder in media browser closes media browser

### Preconditions (*)

1. Magneto 2.3.1 but also affects older ones and newer ones.

### Steps to reproduce (*)

1. Go to Content > Blocks > New Block
2. Use Insert Image option -> Media Browser will open
3. Use the option to Create Folder
4. Type in folder name like "foobar" and hit Enter key

### Expected result (*)

1

[2019-08-21 08:47] nikhil91100 commented on #23808
@celorodovalho can i know how you fixed ? Im using porto theme .

[2019-08-21 08:52] celorodovalho commented on #23808
@nikhil91100 I just follow @Dzhus111 said.
I copy and paste the "billing-address.html" from vendor and replace my changes.

[2019-08-21 08:56] nikhil91100 commented on #23808
copied vendor/magento/module-checkout/view/frontend/web/template/billing-address.html and pasted in app/design/frontend/My_ Theme/Magento_Checkout/web/template/ folder right ?

[2019-08-21 09:04] celorodovalho commented on #23808
Yes!

[2019-08-21 09:16] nikhil91100 commented on #23808
I tried the same but its not working :-(

[2019-08-21 09:24] angelomaragna commented on #23908
I've been able ro replicate a weird issue, which may be realted to this one, but don't know the correct frontend steps to get this to happen.

You need:
- persistent cart enabled and an expired cart for your account
- a current quote as guest, with customer_is_guest set a 1

once you get to the checkout and you log in, your cart is merged.

At that point, when you try to remove an item from the ca

[2019-08-21 10:00] jorgb90 opened #24215 "FPT Use Fixed Product Tax Label in subtotals"
### Description (*)
Why does FPT not use the label of the created FPT attribute? None of our customers understand what FPT means.

### Expected behavior (*)
When creating a FPT attribute a default name is filled in, use this name in the subtotals.

### Benefits
By using the name of the FPT attribute customers know why the fee is applied.

### Additional information
-

[2019-08-21 10:26] J-SM commented on #12390
The post request updates the cookie private_content_version and in vendor\magento\module-customer\view\frontend\web\js\controller-data.js  that is compared on line } else if (localPrivateContent !== privateContent) { and forces the localStorage to clear.

What would be the knock on / security effect it as a resolution, simply put
$.cookieStorage.set(privateContentVersion, privateContent);
before t

[2019-08-21 10:35] mikehenze commented on #5873
I was able to fix the issue by replacing eav_entity_attribute with a copy from an older backup.

[2019-08-21 10:46] engcom-Charlie commented on #24180
@magento give me 2.3-develop instance

[2019-08-21 10:47] magento-engcom-team commented on #24180
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-21 10:47] magento-engcom-team commented on #24180
Hi @engcom-Charlie, here is your [Magento instance](https://i-24180-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24180-2-3-develop.instances.magento-community.engineering/admin](https://i-24180-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-21 10:51] TomashKhamlai commented on #23977
Closed due to #24013

[2019-08-21 10:51] #23977 closed, assigned to arushibansal013

[2019-08-21 11:08] #24215 closed, assigned to nobody

[2019-08-21 11:41] MisterMcJohn commented on #24132
I just installed a new fresh Magento 2.3.2 and have the some issue as PatrickVisserNZ

[2019-08-21 11:59] hvdmolenprive commented on #24023
I had the same problem.
It looks like the problem is caused in \Magento\Catalog\Model\Category\Tree getNode
Replacing
        $categoryTree = $this->treeResourceFactory->create();
        $node = $categoryTree->loadNode($nodeId);
by
       $node = $this->categoryTree->loadNode($nodeId);
seems to resolve the issue, however, i did not fully test this.

[2019-08-21 12:17] Den4ik commented on #24190
**Actual Result**
![1rrm2_2019-08-21_15-14-28](https://user-images.githubusercontent.com/1129623/63431063-b53d3700-c426-11e9-85ed-29369709623c.jpg)

Also I see two requests instead of one. One of them are cancelled
![hqc2e_2019-08-21_15-14-15](https://user-images.githubusercontent.com/1129623/63431119-d7cf5000-c426-11e9-92e0-ce47a22d6ac0.jpg)

[2019-08-21 12:24] MisterMcJohn commented on #24132
I just installed a new fresh Magento 2.3.2 and have the some issue as PatrickVisserNZ

UPDATE
I did a fast fix creating this file below until they fix it, and it's working.

nano vendor/magento/module-new-relic-reporting/Plugin/StatePlugin.php

File content:
<?php
namespace Magento\NewRelicReporting\Plugin;
class StatePlugin{
}

[2019-08-21 12:25] engcom-Charlie commented on #13477
Hello @botwebdev

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more detai

[2019-08-21 12:37] madonzy commented on #24185
I'm not able to add **Issue: Clear Description** into this issue, I have no checkbox on issue list...

[2019-08-21 12:53] magehardik opened #24217 "Magento 2.3.2 How to remove the city field in checkout ?"
### Summary (*)

Hello,

Hope you are doing well!

How to remove city field into the Magento Checkout?

I have tried using the checkout_cart_index.xml file but no solution.

Please guide me.

Thanks

### Summary (*)

### Examples (*)

### Proposed solution

[2019-08-21 12:56] magento-engcom-team commented on #24214
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19532` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-21 13:01] engcom-Bravo commented on #24217
Hello @hardikm-cirkleinc. Thanks for applying. But the GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-08-21 13:01] #24217 closed, assigned to nobody

[2019-08-21 13:48] elfeffe commented on #17634
@itecedor Any news?
I have the same problem

[2019-08-21 14:14] engcom-Charlie commented on #22094
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2019-08-21 14:23] duffner commented on #23731
@engcom-Bravo, maybe you don't understand.

I want infinite allowed in the shopping cart, how is this possible today?

[2019-08-21 14:32] itwebdev2 commented on #22539
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-08-21 14:32] magento-engcom-team commented on #22539
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-21 14:33] magento-engcom-team commented on #22539
Hi @itwebdev2, here is your [Magento instance](https://i-22539-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22539-2-3-develop.instances.magento-community.engineering/admin](https://i-22539-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-21 14:37] MackieeE commented on #7335
This happens to me on Chrome 76 on the Print Preview, but sometimes.

Upon pressing "Print Order" it takes the browser to `/sales/order/print/order_id/[id]/` and invokes print screen automatically. In Chrome that renders the preview page.

![image](https://user-images.githubusercontent.com/883702/63441573-8b394400-c429-11e9-9ba4-009a2de5bc0b.png)

For some reason, sometimes. This renders completel

[2019-08-21 14:44] itmsenior opened #24218 "Exception occurs when attempting to unset persistence cookie after visiting checkout"
### Preconditions (*)

1. Magento v2.3.2
2. Enable Persistent Shopping Cart

### Steps to reproduce (*)
1. Enable Persistence in in Magento Admin
2. Sign-in as a customer and check the "Remember me" persistence checkbox on login.
3. Add product to cart
4. Trigger persistence by deleting phpsession cookie from browser
4. Navigate to checkout
5. Enter address information, select shipping option and

[2019-08-21 14:44] itwebdev2 commented on #24218
Confirmed issue on vanilla 2.3-develop instance.

[2019-08-21 14:53] engcom-Bravo commented on #23731
@duffner, this GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. Thank You.

[2019-08-21 15:12] krishprakash commented on #24212
@magento give me 2.3-develop instance

[2019-08-21 15:12] magento-engcom-team commented on #24212
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-21 15:13] magento-engcom-team commented on #24212
Hi @krishprakash, here is your [Magento instance](https://i-24212-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24212-2-3-develop.instances.magento-community.engineering/admin](https://i-24212-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-21 15:24] magento-engcom-team commented on #24212
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19534` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-21 15:40] gcampedelli commented on #15684
I have the same problem. Apache logs show same message but for different files. I increased memory_limit using both 1G and 1024M and always, no matter the number I declare in that it tries to allocate 20480 bytes. If I increase memory limit in php, htaccess, user.ini, php.ini I still get it tries to allocate 20480 bytes but the number of allowed memory size in the error is different. So I'm in the

[2019-08-21 15:49] atwixfirster opened #24219 "Add addComplexExceptionMessage method to ManagerInterface"
### Summary (*)

There are the situations when you should
- log exception
- display an alternative error message to customer

**Current solution:** use Magento\Framework\Message\ManagerInterface::addExceptionMessage

Minor part of `addExceptionMessage`: we can display to customer a text which does not have HTML or any special tags. For example, "We can not delete a customer".

But if we want to di

[2019-08-21 15:59] craigcarnell commented on #22743
We are also having this problem on a live site, when will it be fixed? Magento 2.3.2

[2019-08-21 16:02] craigcarnell commented on #23644
https://github.com/magento/magento2/issues/22743

[2019-08-21 16:18] DanielRuf commented on #15684
Hi @gcampedelli,

Did you try to provide these for the CLI?
Can you show the exact command that you have tried?

[2019-08-21 16:19] elvinristi commented on #21548
subscription to customer data is not being executed when Local Storage has mage-cache-storage: {}

@AymericJoubert give a try to following patch

[code]

I could reproduce this following way:

- open Chrome console > Application
- clean Local Storage and Cookies for the domain
- re-open start page/PLP

[2019-08-21 16:20] magento-engcom-team commented on #24116
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#24117 by @swnsma in 2.3-develop branch
Related commit(s):
 - [166a1e0cf36a8e511b8be6aadec50fec81782fc8](https://github.com/magento/magento2/commit/166a1e0cf36a8e511b8be6aadec50fec81782fc8)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-21 16:20] #24116 closed, assigned to swnsma

[2019-08-21 16:28] ghost opened #24221 "Dynamic comment for Group element in system.xml"
How can I make a dynamic comment for a `<group>` element in the `system.xml`?

I need to have a group level comment that I can pass the store URL into.

Now, `<field>` element comments can use a Model class that implements `CommentInterface` to return a custom string. But this is not possible for `<group>` comments, because the XSD schema does not allow it.

What are my options or viable alternati

[2019-08-21 17:05] gcampedelli commented on #15684
I didn't try any Magento2 commands. It is showing from time to time in Apache logs.
[Tue Aug 20 01:11:11.188844 2019] [:error] [pid 3232] [client 127.0.0.1:58978] PHP Fatal error:  Allowed memory size of 792723456 bytes exhausted (tried to allocate 262144 bytes) in /var/www/html/magento2/vendor/magento/module-catalog/Model/ResourceModel/AbstractResource.php on line 51, referer: https://lojakaramel

[2019-08-21 17:08] davidlopes opened #24222 "cart persistent, shipping rates survive changing store"
With the persistent cart enabled we found that switching store, clear the cart but shipping information persists, including shipping rates.

### Preconditions (*)
1. Magento EE 2.3.1
2. PHP 7.1
3. 10.0.37-MariaDB-1~jessie-wsrep

### Steps to reproduce (*)
1. Add a product into cart
2. Go to checkout and fill address
3. Print Shipping Methods
4. Change Website
5. Cart is empty now. Repeat steps 1-2

[2019-08-21 18:01] ibaldonl commented on #7512
@magento-engcom-team this is not a technical question but a feature request, it seems to me this issue has been closed erroneously, could you please reconsider? thanks!!!

[2019-08-21 18:44] hostep commented on #23731
I kind of agree with @duffner here, if the number 0 previously had a special meaning of infinite then the changes done in https://github.com/magento/magento2/pull/18481 & https://github.com/magento/magento2/pull/18552 were not correct.

To make this consistent with the global config value, either the same validation should be applied to that field, or the new validation from above PR's should get

[2019-08-21 18:57] engcom-Bravo commented on #24221
Hello, @paul-gene. Thanks for applying. But this GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-08-21 18:57] #24221 closed, assigned to nobody

[2019-08-21 18:58] hostep commented on #15684
@gcampedelli, the important number in the error is the one in bold:

- PHP Fatal error: Allowed memory size of **1073741824** bytes exhausted (tried to allocate 20480 bytes)

This is the one you configured (1024MB == 1073741824 bytes), so that means your change actually did something!

But the error message also means that 1024M is not enough, you can try to increase it even further and see if tha

[2019-08-21 19:03] magento-engcom-team commented on #22264
Hi @Hanhan1989.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-99143` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if yo

[2019-08-21 19:03] #22264 closed, assigned to nobody

[2019-08-21 19:03] Anantkprajapati opened #24224 "Magento 2.3.2 Required parameter 'theme_dir' was not passed"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)

1. Login to backend
2. Go to Marketing > Email Templates
3. Add New Template
4. Load Default Email template and select New Account :

### Expected result (*)

1. there should load default New Account template

### Actual result (*)

1. getting error :  http://prntscr.com/ovr6v6

Notes : I checked in exception log and getting error

[2019-08-21 19:03] chequille commented on #24144
@hostep
Hi,
I tired single sore mode, but no difference. I will explain again what happens, so charlie can handle it.

[2019-08-21 19:19] chequille commented on #24144
Used Version:Magento 2.3.2

Setting In-Context Checkout Experience to "YES"
core_config_data entry
scope -> default
path -> payment/paypal_express/in_context
is set to value=1

Setting In-Context Checkout Experience to "NO"
core_config_data entry
scope -> default
path -> payment/paypal_express/in_context
is set to value=0

BUT
PayPal in the frontend during checkout is reading the value from
core_c

[2019-08-21 19:19] onepack commented on #23908
This is a great find and fits in the way I was working. As I was testing I would always have products in the cart and would be busy coding or do other stuff on the backend. This would result in a session expiration so I would be logged out. Logging in again would create this issue with my test user.
But this could also happen in real-life situations when customers get logged out ans will log in ag

[2019-08-21 19:22] KnK123 commented on #19710
Team could you please advise on this issue https://magento.stackexchange.com/questions/283277/magento-2-3-1-ce-visual-swatch-images-showing-blank?noredirect=1#comment410513_283277

[2019-08-21 19:44] jorgb90 opened #24225 "FPT / Tax Totals Sorting Not Correct"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Created a FPT attribute and enable FPT
2. Create an order in the backend
3. While creating the order the totals sorting is correct
4. After placing the order the totals sorting is wrong

### Expected result (*)
1. Sorting to stay the same after placing order.

### Actual result (*)
1. FPT moved below Grand Total Excl. while it s

[2019-08-21 19:55] hostep commented on #24144
Hi @chequille

That's not really true. The indication `[website]` means you **can** configure the value per website.
But you can also just configure it globally and not overwrite it on website level and then the value from 'default' will be used, because there won't be a value on website level in the database.
If you do have it overwritten on website level, then that value will be used on the fron

[2019-08-21 20:16] DanielRuf commented on #15684
Please try it with 2GB as others did. 1GB is often not enough.

[2019-08-21 20:19] chequille commented on #24144
Hi @hostep
Sorry, do not know what you mean with configure it per website.
I have only one.
Where can I configure it per website?
I think, this is only possible if I would have more than one website.

Frontend is reading it from scope websites and I do only have one website:
![grafik](https://user-images.githubusercontent.com/15807794/63464697-15040400-c460-11e9-8e71-6473c3c919a3.png)

So, where i

[2019-08-21 20:24] gcampedelli commented on #15684
@hostep and @DanielRuf Thank you for both answer. I changed memory_limit to 2048 on those files. I will see what happens and let you know.

[2019-08-21 20:41] chequille commented on #24144
Addendum:
Or frontend should read values for all PayPal settings from the same scope, what it is not doing.

[2019-08-21 20:47] hostep commented on #24144
In Stores > Configurations, at the top left, you should see a dropdown where you can switch scopes. If you pick 'Main Website' there, you'll be configuring settings on the 'Main Website' scope.

<img width="1044" alt="Screenshot 2019-08-21 at 22 44 20" src="https://user-images.githubusercontent.com/85479/63467339-885c4480-c465-11e9-8cc5-c238abcde7bd.png">

[2019-08-21 21:09] chequille commented on #24144
Ok, but if I did this, at all parameters the checkbox use standard was selected. So frontend should use the setting of default store view or?

[2019-08-21 21:19] hostep commented on #24144
Correct.

Ok, instead of theorising, I just tried it out that setting you are talking about, and there is something fishy going on with that one.

@engcom-Charlie, please confirm:
1. Set up vanilla 2.3.2 install
2. Go to Stores > Configuration > Sales > Payment Methods
3. Switch scope to 'Main Website'
4. Open Paypal settings and look at the 'Enable In-Context Checkout Experience' setting
5. Notic

[2019-08-21 21:48] chequille commented on #24144
@hostep
Ok, I did this and the entry in core_config_data is gone.
Now, it is working as it is set in default configuration.
I think, that you have to store at least once the MainWebsite configuration if the check box "use standard" is checked.
This deletes the entry for scope websites as you said before and of course frontend is using the value from scope default.
If you do not do this and the ent

[2019-08-21 22:45] magento-engcom-team commented on #23847
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#23848 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [84527e712a49bced109e784978dcb3f8be391246](https://github.com/magento/magento2/commit/84527e712a49bced109e784978dcb3f8be391246)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-21 22:45] #23847 closed, assigned to atwixfirster

[2019-08-22 01:58] laurentke opened #24227 "Browser down if choose 999 product per page"
### Preconditions (*)

1.Magento ver. 2.2.8
2.WIN 10, CHROME

### Steps to reproduce (*)

1.Choose cataglog->choose product-> choose 999 product per page
2. Fresh the page
3. The page can't be open, I can't change back the product number to display.

### Expected result (*)

1. normal display and use
2.

### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.gith

[2019-08-22 03:43] #24227 closed, assigned to nobody

[2019-08-22 04:33] edenduong opened #24228 ""Thumbnail" in Related Products, Up-Sells, and Cross-Sells has the redundant Label"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Create New Product
3. In "Related Products, Up-Sells, and Cross-Sells" add some product from Modals

![image](https://user-images.githubusercontent.com/8234209/63486169-8b404f00-c4d0-11e9-9d06-9e0dbb1ec0a4.png)

### Expected result (*)

1. Don't have the redundant "Thumbnail" Text

### Actual result (*)

[2019-08-22 04:33] edenduong commented on #24228
@magento give me 2.3-develop instance

[2019-08-22 04:33] magento-engcom-team commented on #24228
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 04:34] magento-engcom-team commented on #24228
Hi @edenduong, here is your [Magento instance](https://i-24228-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24228-2-3-develop.instances.magento-community.engineering/admin](https://i-24228-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 04:36] ajijshekh123 commented on #24228
Give me @magento give me 2.3-develop instance

[2019-08-22 04:37] magento-engcom-team commented on #24228
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 04:37] magento-engcom-team commented on #24228
Hi @ajijshekh123, here is your [Magento instance](https://i-24228-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24228-2-3-develop.instances.magento-community.engineering/admin](https://i-24228-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 04:43] edenduong commented on #24228
In 2.3-develop instance, Now can not go to "Related Products, Up-Sells, and Cross-Sells"  Modal

[2019-08-22 04:54] edenduong commented on #24228
Seems I can not reproduce now. Maybe it is solved. So I will close this issue. Thanks.

[2019-08-22 04:55] ajijshekh123 commented on #24228
In Magento 2.3 Instance, Related Products, Up-Sells, and Cross-Sells" section, It is displaying properly.

![2019-08-22](https://user-images.githubusercontent.com/24711761/63486965-1f0d1d80-c4c7-11e9-81e0-017d1d6c037e.png)

[2019-08-22 04:55] #24228 closed, assigned to nobody

[2019-08-22 05:49] petefok commented on #7298
You can fix the issue as you DO NOT click the "Use Default" in Search Engine Optimization.

[2019-08-22 07:02] magento-engcom-team commented on #24218
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19560` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 07:04] engcom-Bravo commented on #24057
@theloveofcode, The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-08-22 07:04] #24057 closed, assigned to engcom-Bravo

[2019-08-22 07:07] magento-engcom-team commented on #24144
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` aga

[2019-08-22 07:12] engcom-Bravo commented on #24132
Ok, @MisterMcJohn, but the issue is not going to undergo any fixing procedures unless it's confirmed. And in order to confirm it we need to have the steps following which we can reproduce it. For now we've  been not having such ones.

[2019-08-22 07:17] magento-engcom-team commented on #24144
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19561` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 07:27] engcom-Bravo commented on #24202
@asifsami73, we are closing this issue due to missing of the description and due to not having any reply or actions from Your side on that. So please reopen it if need with the properly formatted description included in order for us to be able to further process it. Thank You.

[2019-08-22 07:27] #24202 closed, assigned to nobody

[2019-08-22 07:41] Danatran commented on #24181
Thank you, I realize that this category change needs to reindex to run correctly.

[2019-08-22 07:41] #24181 closed, assigned to engcom-Bravo

[2019-08-22 07:49] PatrickVisserNZ commented on #24132
Quick fix is to disable the module.
php bin/magento module:disable Magento_InventoryLowQuantityNotificationApi

[2019-08-22 08:07] engcom-Bravo commented on #24222
Hello @davidlopes. Thanks for reporting. Yes we've noticed that the shipping information persists after the cart has been cleared but the shipping methods lists in our case remain correct. i.e. corresponding to their websites.

So we could confirm the issue only without that. Could You please try to reproduce Your issue on a vanilla Magento 2.3-develop installation and tell us if You still can rep

[2019-08-22 08:19] engcom-Charlie commented on #24149
Hello @roma-glushko

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more de

[2019-08-22 08:19] #24149 closed, assigned to engcom-Charlie

[2019-08-22 08:20] ganedda-softfobia commented on #12560
Had this on 2.1, still have this in 2.3.1.

[2019-08-22 08:30] engcom-Charlie commented on #23208
Hello @vicobohdan
Check for the storeId has been removed, because we should clear customer data when the user changes the website instead of the store. I'm closing this issue as not relevant.
Thank you for your contribution!

[2019-08-22 08:30] #23208 closed, assigned to engcom-Charlie

[2019-08-22 08:41] engcom-Charlie commented on #20815
Hello @iget-esoares

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more de

[2019-08-22 08:41] #20815 closed, assigned to engcom-Charlie

[2019-08-22 08:49] davidlopes commented on #24222
@magento give me 2.3-develop instance

[2019-08-22 08:49] ihor-sviziev opened #24229 "Unable to enable maintenance mode when env.php is read only"
### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop
2. Make env.php file read only: `chmod -w app/etc/env.php` or `chmod 754 app/etc/env.php`

### Steps to reproduce (*)
1. Run `php bin/magento maintenance:enable -v`

### Expected result (*)
1. Maintenance mode should be enabled

### Actual result (*)
1. Maintenance mode is not enabled
2. Command fails with following output
![image](https://user-

[2019-08-22 08:50] magento-engcom-team commented on #24222
Hi @davidlopes. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 08:50] magento-engcom-team commented on #24222
Hi @davidlopes, here is your [Magento instance](https://i-24222-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24222-2-3-develop.instances.magento-community.engineering/admin](https://i-24222-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 08:51] Dan547 opened #24230 "Dropdown filters not working"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Create a new Product Attribute that is Yes/No
2. Assign Yes and No values to products
3. From the catalog page, filter the products by either Yes or No on the created attribute

### Expected result (*)
1. Products should filter based on the selected value

### Actual result (*)
1. No products filter and all products remain displ

[2019-08-22 08:51] Dan547 opened #24231 "Dropdown filters not working"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Create a new Product Attribute that is Yes/No
2. Assign Yes and No values to products
3. From the catalog page, filter the products by either Yes or No on the created attribute

### Expected result (*)
1. Products should filter based on the selected value

### Actual result (*)
1. No products filter and all products remain displ

[2019-08-22 08:52] engcom-Charlie commented on #6287
Hello @rhoerr
This issue has been fixed in #20918 by @rav-redchamps in 2.3-develop branch.I have to close this issue.
Your comment looks like as a separate issue. Can you create a new issue?
Thanks for contributing!

[2019-08-22 08:52] #6287 closed, assigned to engcom-Charlie

[2019-08-22 08:53] engcom-Bravo commented on #24230
Hello @Dan547. Please fill in the description of the issue. Thank You.

[2019-08-22 08:55] Dan547 commented on #24230
@engcom-Bravo For some reason Github has created duplicate issues.

I will close the other one.

[2019-08-22 09:01] Dan547 commented on #24230
@magento give me 2.3-develop instance

[2019-08-22 09:02] magento-engcom-team commented on #24230
Hi @Dan547. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 09:02] magento-engcom-team commented on #24230
Hi @Dan547, here is your [Magento instance](https://i-24230-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24230-2-3-develop.instances.magento-community.engineering/admin](https://i-24230-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 09:09] sudheers-kensium commented on #24231
@magento give me 2.3-develop instance

[2019-08-22 09:09] magento-engcom-team commented on #24231
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 09:09] magento-engcom-team commented on #24231
Hi @sudheers-kensium, here is your [Magento instance](https://i-24231-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24231-2-3-develop.instances.magento-community.engineering/admin](https://i-24231-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 09:18] engcom-Bravo commented on #24230
@Dan547 were successful with the reproduction of the issue on a vanilla installation?

[2019-08-22 09:18] engcom-Charlie commented on #24156
Hello @jrvision
Can you add some steps to reproduce?

[2019-08-22 09:18] mahmoud48888 opened #24232 "after I run bin/magento setup:di:compile I face this error in my git bash terminal"
I face this error in my git bash >>
In Generator.php line 139:

  Class VendorName\ModuleName\Model\NameOfOrderFactory does not exist
  Class VendorName\ModuleName\Controller\Index\Index\Interceptor generation e
  rror: The requested class did not generate properly, because the 'generated
  ' directory permission is read-only. If --- after running the 'bin/magento
  setup:di:compile' CLI command w

[2019-08-22 09:20] sudheers-kensium commented on #24231
Hi @Dan547 I'm not reproduced in Magento 2.3-develop instance. Could you please provide more details how to reproduce this.

[2019-08-22 09:21] Dan547 commented on #24230
@engcom-Bravo No on that install, I am running Magento 2.3.2 on the production environment. Does 2.3-develop use that version?

<img width="1787" alt="Screen Shot 2019-08-22 at 10 20 08" src="https://user-images.githubusercontent.com/8796791/63502991-8d9dab80-c4c6-11e9-85f1-699325b07b1e.png">

Above image shows my issue better.

[2019-08-22 09:21] Priya-V-Panchal opened #24233 "Paypal Order total mismatch - Price rounding issue"
### Preconditions (*)

1. Magento 2.3.1 EE
2. Paypal Express checkout enabled
3. Tax Enabled

### Steps to reproduce (*)

1. Admin - Stores - Settings - Configuration - General - Currency Setup - Set the currency options to Japanese Yen and Save
2. Add a new product with price 11.5120
2. Add to cart that product from the front
3. Go to checkout and fill up address details including Country, State

[2019-08-22 09:22] engcom-Charlie commented on #24125
Hello @paul-gene
Can you update this issue(add precondition with your magento version and server configuration, steps to reproduce, expected and actual result)?
Guide:
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-08-22 09:23] Dan547 commented on #24231
@sudheers-kensium its difficult to say, I am running Magento 2.3.2 not 2.3-develop, could that be a factor?

<img width="1787" alt="Screen Shot 2019-08-22 at 10 20 08" src="https://user-images.githubusercontent.com/8796791/63503164-e2412680-c4c6-11e9-8ab3-9c19ba8c899a.png">

The above image should show my issue a little more clearer.

[2019-08-22 09:26] Dan547 commented on #24231
Also @sudheers-kensium are you creating a Yes/No attribute or a Dropdown attribute?

I am using the Yes/No attribute.

[2019-08-22 09:29] paul-gene commented on #24125
@engcom-Charlie I have updated the original post.

[2019-08-22 09:31] sudheers-kensium commented on #24231
Hi @Dan547 I have verified both Yes/No attribute or a Dropdown attribute, but still not able to reproduced the issue.

[2019-08-22 09:33] Dan547 commented on #24231
@sudheers-kensium Can you confirm you're running Magento 2.3.2?

[2019-08-22 09:43] sudheers-kensium commented on #24231
@Dan547 I have verified on Magento 2.3-develop instance

[2019-08-22 09:54] Dan547 commented on #24231
@sudheers-kensium Right, is that the same version?

[2019-08-22 09:56] drahreg commented on #24037
I can confirm this issue

[2019-08-22 10:13] sudheers-kensium commented on #24231
@Dan547 Magento 2.3-develop instance is latest code base,  maybe your issue will be solved in next release version.

[2019-08-22 10:19] magudelo62 commented on #21005
Hello @DanielRuf, I have a question why does Magento documentation show a media breakpoint that doesn't work? (Tablet breakpoint)

![image](https://user-images.githubusercontent.com/5323922/63506700-52a37400-c4d6-11e9-88b1-bfe252f1b8a3.png)

I found it so confusing!!!

[2019-08-22 10:19] davidlopes commented on #24222
hi @engcom-Bravo,
I was not able to reproduce the persistent methods in vanilla.

[2019-08-22 10:20] mahmoud48888 commented on #24232
I was set the wrong model name

[2019-08-22 10:21] mahmoud48888 commented on #24232
I was set the wrong model name

[2019-08-22 10:21] #24232 closed, assigned to nobody

[2019-08-22 10:23] engcom-Bravo commented on #24230
@Dan547, we've also been not able to reproduce the issue. And as for the 2.3-develop version - it's always the latest possible version and so it's rank (number) is always higher then of any of the released versions meaning it may contain changes that are not available in any of the released versions. So it is most likely that this issue is already fixed in the develop version and will be delivered

[2019-08-22 10:23] #24230 closed, assigned to nobody

[2019-08-22 10:26] DanielRuf commented on #21005
Hi @magudelo62,

Please open a new issue in the docs repo.

[2019-08-22 10:51] engcom-Bravo commented on #24230
Also @Dan547, please consider if You've just created the attribute and its default value is "No" it doesn't mean that it's automatically applied to all products with the respective attribute set. So if some of Your products now contain that Yes/No and its value is displayed as "No", seems it is not yet applied to that product unless You resave the product.

[2019-08-22 10:51] magento-engcom-team commented on #22747
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19567` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 10:54] magento-engcom-team commented on #22747
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19567` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 10:58] Dan547 commented on #24230
@engcom-Bravo That's interesting.

That may be the cause of my issue as I did set the Default value to No.

I will do some further testing and see if I can fix my issue.

Thanks for your help.

[2019-08-22 11:07] engcom-Bravo commented on #24224
Hello @Anantkprajapati. Thanks for applying. Please watch the gif below if we do everything right.
![template](https://user-images.githubusercontent.com/51680745/63509979-209a0e00-c4e6-11e9-9213-583883dc60bb.gif)

[2019-08-22 11:44] inginfinitive commented on #9214
I just realised this is not working and end up in this thread.
In my case it's also applying the discount to all product that meet the criteria and not just one, although the "Maximum Qty Discount is Applied To" is set to 1.
Any solution in sight ?

I find this bug (and Many Magento ones) really hard to believe.. This is ecommerce ABC.

How can this be fixed ?

[2019-08-22 12:23] mfickers opened #24234 "Incorrect decimal separator in minicart and checkout."
### Preconditions (*)

1. Reproduced on Magento 2.3.0 and 2.3.2 and 2.3-develop

### Steps to reproduce (*)

1. Set the storefront locale to a locale with a comma as a decimal separator (e.g. de_DE) (this step is not required).
2. Create a product with a decimal quantity.
3. Add the product with a decimal quantity to your cart.

### Expected result (*)

1. Item quantity is displayed with a comma a

[2019-08-22 12:36] magento-engcom-team commented on #24234
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19571` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 12:43] engcom-Bravo commented on #24230
@Dan547 You are welcome. Yet I'd like to make sure You understand fully what I mean. The default value of the attribute in fact doesn't matter. It also maybe "Yes". But if Your product had been created before the attribute itself was created that attribute would be equal nether to "Yes" nor to "No" for the product unless the product is resaved.

[2019-08-22 12:45] rani-priya opened #24236 "File type custom option value not showing properly in minicart"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)

1. create a simple product with file type custom option
2. add this product to cart along with file

### Expected result (*)

1. Should show like
![file](https://user-images.githubusercontent.com/44425160/63515307-2c96c780-c508-11e9-973a-cf15b8be1a3b.png)

### Actual result (*)

1. but it's showing anchor tag
![file

[2019-08-22 12:49] IgorVitol commented on #15001
@magento give me 2.3-develop instance

[2019-08-22 12:49] magento-engcom-team commented on #15001
Hi @IgorVitol. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 12:49] magento-engcom-team commented on #15001
Hi @IgorVitol, here is your [Magento instance](https://i-15001-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15001-2-3-develop.instances.magento-community.engineering/admin](https://i-15001-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 12:55] Swahjak commented on #13477
@engcom-Charlie @engcom-backlog-nazar  why close the issue? As stated in the comments this issue has not been resolved and if it is please give us a reference to the relevant commit. This issue is (as far as I'm aware of) still present in 2.3 so closing it because this was reported on 2.2 is short sighted.

The description seems pretty clear to me.

[2019-08-22 12:57] LukaszDembicki opened #24238 "setting custom attributes unexpected TypeError"
### Summary (*)
The unit test:

[code]
Will produce TypeError : Argument 1 passed to Mock_FilterProductCustomAttribute_33fe8dcd::execute() must be of the type array, null given, called in /var/www/magento/vendor/magento/module-catalog/Model/Product.php on line 517
 /var/www/magento/vendor/magento/module-catalog/Model/Product.php:517

Seems there is a problem in `Magento\Catalog\Model\Product` in c

[2019-08-22 13:08] arnoutvreugdenhil commented on #10884
ScopedTierPriceManagement runs exactly the same code from TierPriceManagement with exactly the same problem, but not for all products, strangely enough.
Seen in Magento 2.3.1.

`Warning: Invalid argument supplied for foreach() in vendor/magento/module-catalog/Model/Product/TierPriceManagement.php on line 186`

[2019-08-22 13:10] Dan547 commented on #24230
@engcom-Bravo I fully understand what you're saying however is this really the expected behaviour?

Surely if you create an attribute regardless if a product has been created or not with a default value, that should be set to all products as the 'default' not just a null value?

Maybe it's to big of a task to really worry about but with a store with nearly 100k products, having to manually re-save

[2019-08-22 13:43] Beagon commented on #21885
We are encountering this too. Is there any workaround anyone can recommend?

[2019-08-22 13:45] rani-priya opened #24239 "On cart page not able to check uploaded file of file type custom option"
### Preconditions (*)

Magento 2.3.2
PHP 7.2.19

### Steps to reproduce (*)

1. create a simple product with file type custom option
2. add this product to cart along with file
3. go to cart page
### Expected result (*)

![cart-file](https://user-images.githubusercontent.com/44425160/63519723-12adb280-c511-11e9-89d6-e6723f467be6.png)

### Actual result (*)

![cart-file-original](https://user-image

[2019-08-22 14:06] engcom-Bravo commented on #24230
@Dan547 I can't tell for sure about if that kind of behavior is expected, but I think You will agree me that if after the attribute have been created, and all the respective lets say just 10k products would have started  immediately to be resaved it could have caused a lot of problems too. And the product must be resaved in order to write into the database any new changes we want to be applied to

[2019-08-22 14:23] vmasciotta commented on #19710
@carolineboivin Hi, I'm facing a similar issue, like the @emilev79 one.
It is about multistore-view and watermarks. I think I found out a solution for the watermark one but I wasn't able to reproduce the image-with-borders issue, so I don't know if it solves it too.

Can @carolineboivin , @emilev79  try the following [solution](https://gist.github.com/vmasciotta/f14586a9a41fa4ec999d81bb88e0f2eb)?

[2019-08-22 15:09] magento-engcom-team commented on #24236
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19575` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 15:13] magento-engcom-team commented on #24239
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19576` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-22 15:14] krishprakash commented on #24236
Closing this as issue is duplicate to #23955

[2019-08-22 15:14] #24236 closed, assigned to rani-priya

[2019-08-22 15:21] emilev79 commented on #19710
In the end we managed to solve this. We hired a new freelance developer. Took him 2 / 3 days and some tries but now we're good again (images also cached).

It is hard for me to tell exactly how as I'm no developer. What I can tell is that it was not related to Ultimo theme and borders.  All I know it was something in the gallery.

To be honest I'm also done with it. Do not understand who ever thou

[2019-08-22 15:22] edenduong opened #24241 ""Save Product" with the invalid data must scroll to the error message"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Create New Product
3. Fill all required field
4. Scroll down to "Schedule Design Update", fill date of "From" is greater than date of "To"
5. Click Save

### Expected result (*)

1. Scroll to the error message "Make sure the To Date is later than or the same as the From Date." so user can see the error m

[2019-08-22 17:36] karlhass15 commented on #24027
$('.subscribe').removeClass('sr-only');

[2019-08-22 17:51] SolsWebdesign commented on #15935
Hello, this happened with a client on Magento 2.2.6 and I had a hard time reproducing the problem. I wondered, did the client accidentally choose the "Select All" instead of the "Select All on this page" from the select drop-down in backend or did this really occur?

I decided to "help" the testing a bit by emptying the getFilterIds() array but that would just work fine. I then wrote a kind of str

[2019-08-22 18:07] danemacmillan commented on #23512
I'd like to add the correct terminology for this. What OP and myself want, and what the Varnish documentation allows, is the ability to define CIDR notated IP addresses.

In other words, similar to OP, I want to allow an entire range in my local instance group to be able to purge Varnish. In order to do so, without having to define 255 IP addresses, would be to use the shorter version, being CIDR

[2019-08-22 18:18] kalpmehta commented on #24241
@magento give me 2.3-develop instance

[2019-08-22 18:18] magento-engcom-team commented on #24241
Hi @kalpmehta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 18:19] magento-engcom-team commented on #24241
Hi @kalpmehta, here is your [Magento instance](https://i-24241-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24241-2-3-develop.instances.magento-community.engineering/admin](https://i-24241-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 18:41] stathis commented on #6610
@agata-maksymiuk yep, exactly. In our case, being in EEST timezone, I set it to a safe ```15 3 * * *``` and it seems to be working fine.

[2019-08-22 19:40] sdzhepa commented on #24168
Hello @jamie-selesti

I am not sure that is a bug it is more likes a feature request or improvement.
As I know support for V3 was not implemented yet.
There is no information about support for v3 only v2 in documentation
- https://docs.magento.com/m2/ee/user_guide/stores/security-google-recaptcha.html
- https://github.com/magento/magespecialist_ReCaptcha/blob/2.3-develop/README.md

@phoenix128 cou

[2019-08-22 20:23] DrewML commented on #17125
Looks like there is a big temporal coupling problem here.

In `section-config.js`, it exports an API when the _module_ is initialized, and it declares 4 variables (`baseUrls, sections, clientSideSections, canonize`) in the module body's closure.

However, the exported API is not actually in a usable state until the `Magento_Customer/js/section-config` method has been invoked (by a `mage-init` scri

[2019-08-22 20:38] c-doug opened #24245 "Unable to Verify Password Reset Token Without Customer ID - REST API"
The REST API endpoint for validating a password reset token will always fail unless a valid customer id is provided.

In the documentation (https://devdocs.magento.com/redoc/2.3/customer-rest-api.html#operation/customerAccountManagementV1ValidateResetPasswordLinkTokenGet) the customerId parameter description outlines

It is impossible to provide null for this GET request. The default password rese

[2019-08-22 20:44] c-doug commented on #24245
@magento give me 2.3-develop instance

[2019-08-22 20:45] magento-engcom-team commented on #24245
Hi @c-doug. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-22 20:45] magento-engcom-team commented on #24245
Hi @c-doug, here is your [Magento instance](https://i-24245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24245-2-3-develop.instances.magento-community.engineering/admin](https://i-24245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-22 21:02] c-doug commented on #24245
I'm guessing these instances are not set up to allow sending of email. Without that I cannot receive my password reset token to use in the API call. Thats fine though, it won't even get to the point of verifying the token because an error is returned with every response I've tried that has no customerId.

`curl https://i-24245-2-3-develop.instances.magento-community.engineering/rest/V1/customers/{

[2019-08-22 22:28] LiamKarlMitchell opened #24246 "ConsoleOutputHandler should tell you the entry.message when it errors."
### Summary (*)
Magento 2.3

The message on the entry could have useful information to help fix the mistake made when developing a component.

Currently it gives

```[ERROR] Failed to load the "Blah_Blah/js/view/somecomponent" component. ```

### Examples (*)
But the entry.message actually contains helpful information that could lead to the cause of the problem.
[code]

### Proposed solution
[code

[2019-08-22 23:30] magento-engcom-team commented on #24082
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24083 by @edenduong in 2.3-develop branch
Related commit(s):
 - [ce2ec3ee8b6a5a250f2c02fd83bc11415c3ca088](https://github.com/magento/magento2/commit/ce2ec3ee8b6a5a250f2c02fd83bc11415c3ca088)
 - [8c4e44ca58c399b3a4bc120e67244a96e0997d95](https://github.com/magento/magento2/commit/8c4e44ca58c399b3a4bc120e67244a96

[2019-08-22 23:30] #24082 closed, assigned to edenduong

[2019-08-22 23:30] magento-engcom-team commented on #23359
Hi @sta1r. Thank you for your report.
The issue has been fixed in magento/magento2#23693 by @edenduong in 2.3-develop branch
Related commit(s):
 - [4b7f8e5544479087a32cfbfe1c4f5a116a208e53](https://github.com/magento/magento2/commit/4b7f8e5544479087a32cfbfe1c4f5a116a208e53)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-22 23:30] #23359 closed, assigned to edenduong

[2019-08-22 23:30] magento-engcom-team commented on #22525
Hi @GlOnSa. Thank you for your report.
The issue has been fixed in magento/magento2#24121 by @oleksii-lisovyi in 2.3-develop branch
Related commit(s):
 - [7507dcef7dfa144a59df3e134ad3819963fc05d8](https://github.com/magento/magento2/commit/7507dcef7dfa144a59df3e134ad3819963fc05d8)
 - [c80bcb929325d2a3a4319d9b17d75a73c5731afe](https://github.com/magento/magento2/commit/c80bcb929325d2a3a4319d9b17d75

[2019-08-22 23:30] magento-engcom-team commented on #22528
Hi @chequille. Thank you for your report.
The issue has been fixed in magento/magento2#24121 by @oleksii-lisovyi in 2.3-develop branch
Related commit(s):
 - [7507dcef7dfa144a59df3e134ad3819963fc05d8](https://github.com/magento/magento2/commit/7507dcef7dfa144a59df3e134ad3819963fc05d8)
 - [c80bcb929325d2a3a4319d9b17d75a73c5731afe](https://github.com/magento/magento2/commit/c80bcb929325d2a3a4319d9b17

[2019-08-22 23:30] #22528 closed, assigned to oleksii-lisovyi

[2019-08-22 23:30] magento-engcom-team commented on #24154
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24155 by @edenduong in 2.3-develop branch
Related commit(s):
 - [f5e7cfef21d59d142acf6c6b1a1fcaf97d7787ac](https://github.com/magento/magento2/commit/f5e7cfef21d59d142acf6c6b1a1fcaf97d7787ac)
 - [905ff56483111c471e92978d83d541c5fbc58542](https://github.com/magento/magento2/commit/905ff56483111c471e92978d83d541c5

[2019-08-22 23:30] #24154 closed, assigned to edenduong

[2019-08-22 23:30] magento-engcom-team commented on #5901
Hi @heldchen. Thank you for your report.
The issue has been fixed in magento/magento2#23918 by @sergey-solo in 2.3-develop branch
Related commit(s):
 - [4810c1de8d0770765c96648caf500d86769b7062](https://github.com/magento/magento2/commit/4810c1de8d0770765c96648caf500d86769b7062)
 - [a681509c5d4aae5986dc2fb906aab4a10a109928](https://github.com/magento/magento2/commit/a681509c5d4aae5986dc2fb906aab4a

[2019-08-22 23:30] #5901 closed, assigned to sergey-solo

[2019-08-23 01:41] zb opened #24247 "Keyword query in product grid renders admin account incapable of viewing product grid and editing products."
2.3.0

I have a client who searched for "day date" in their admin product grid. His account was then locked out of viewing or editing the product grid, with an error message of "Something went wrong with processing the default view and we have restored the filter to its original state." and a permanent "please wait" spinner.

I eventually duplicated the issue and my account now also cannot view pr

[2019-08-23 01:41] edenduong opened #24248 "Mass Delete Subscribers doesn't have "confirm" message"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to backend
2. Marketing->Newsletter Subscribers
3. Choose some subscribers
4. Choose mass action delete
5. Submit

### Expected result (*)

![image](https://user-images.githubusercontent.com/8234209/63560836-c189d700-c581-11e9-8c43-444eaf2d53a9.png)

### Actual result (*)

1. Delete with no confirmation

[2019-08-23 05:29] dbsdsun opened #24250 "\Magento\Framework\Mail\MailMessageInterface missing setFromAddress"
### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop

### Steps to reproduce (*)
1. \Magento\Framework\Mail\MailMessageInterface missing setFromAddress()
public function setFromAddress($fromAddress, $fromName = null);
2. in \Magento\Framework\Mail\Message
setFrom($fromAddress) is deprecated, and setFromAddress is introduced.
but in the \Magento\Framework\Mail\MailMessageInterface, setFromAddress i

[2019-08-23 06:03] krishprakash commented on #24248
@magento give me 2.3-develop instance

[2019-08-23 06:03] magento-engcom-team commented on #24248
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 06:03] magento-engcom-team commented on #24248
Hi @krishprakash, here is your [Magento instance](https://i-24248-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24248-2-3-develop.instances.magento-community.engineering/admin](https://i-24248-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 06:24] zb commented on #24247
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-08-23 06:24] magento-engcom-team commented on #24247
Hi @zb. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 06:25] magento-engcom-team commented on #24247
Hi @zb, here is your [Magento instance](https://i-24247-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24247-2-3-develop.instances.magento-community.engineering/admin](https://i-24247-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 06:48] zb commented on #24247
Did not duplicate on your server.

This occurred on a minimally edited installation post-migration.

no exception, just system.log spam until I kill the process like...

"[2019-08-23 06:43:09] main.WARNING: Attempt to load value of nonexistent EAV attribute '182'
                        for entity type 'Magento\Catalog\Api\Data\ProductInterface'. [] []
[2019-08-23 06:43:09] main.WARNING: Attempt t

[2019-08-23 06:53] engcom-Bravo commented on #24064
@HannesJa, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-08-23 06:53] #24064 closed, assigned to nobody

[2019-08-23 06:53] 13mcmc12 commented on #24023
I am also facing the same issue in Magento v2.3.2
RestApi /V1/Categories is not giving the name in Result.

[2019-08-23 07:08] snez commented on #12669
@engcom-backlog-tomash using SerializerInterface is now a requirement for all Magento Marketplace submissions. Are you guys forcing developers to drop support for Magento 2.1?

[2019-08-23 07:17] engcom-Bravo commented on #24132
@PatrickVisserNZ, could You please provide us not the fix but the steps on how we can reproduce the issue because those given in the description have not lead us to reproduction as You can see it from our gif. (We had that module enabled wile trying to reproduce the issue).

[2019-08-23 07:17] patrick-bigbridge commented on #15935
@SolsWebdesign I suggest that this issue is reopened. We have now seen two cases where the issue still exists (even if if occurs less frequently). This is an important bug that can have a great impact on a webshop.

I myself cannot reopen it since I am not a Magento repo contributor.

[2019-08-23 07:29] Krielkip opened #24251 "Module-Theme: TopMenu invalid type of value returned"
#22849 # Preconditions (*)
1. master 2.3-dev

### Steps to reproduce (*)
1. Code Review, because of error in our stage.

### Expected result (*)
1. Continue with code

### Actual result (*)
1.  PHP Error
[code]

Also added an fix pull request; Which will be linked to this issue.

The issue is that in the topmenu building a submenu, it goes to an function which builds an array of _columnBrake.
Only

[2019-08-23 07:34] magento-engcom-team commented on #24250
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19598` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 07:40] magento-engcom-team commented on #24245
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19600` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 07:52] engcom-Bravo commented on #24225
Hello @jorgb90, thanks for reporting. Indeed on 2.3.2 this issue is reproduced but in 2.3-develop version that behavior has changed. Would You please try it with develop version as You are asked above:
![Advised](https://user-images.githubusercontent.com/51680745/63575904-d0798500-c593-11e9-8b91-a0d67f9f86a0.png)

[2019-08-23 07:52] magento-engcom-team commented on #24229
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19601` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 07:58] magento-engcom-team commented on #24241
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19603` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 08:01] budoland-ab commented on #8777
Issue still remains in 2.3.2.

[2019-08-23 08:19] kapil-infobeans commented on #15935
I agree, we are seeing the issue in Magento EE 2.3.2 version as well. There is no fix for it yet, we removed mass delete for products and make an option for delete at product action level.

[2019-08-23 08:21] magento-engcom-team commented on #24248
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19604` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 08:23] engcom-Charlie commented on #24233
Hello @Priya-V-Panchal
I can't reproduce this issue on fresh Magento 2.3-develop & 2.3.2.

**Manual testing scenario:**

1. Add a new product with price 11.5120
2. Add to cart that product from the front
3. Go to checkout and fill up address details including Country, State and Postal code So that tax would be applied (In my case, tax amount is 0.95 and shipping amount is 5.00)
4. Place order with

[2019-08-23 08:25] hostep commented on #15935
Let's reopen this then. Some steps to reproduce - even though I understand this is hard to figure out - would be appreciated! :)

[2019-08-23 08:33] josefbehr commented on #7298
Does the issue still persist in 2.3?

[2019-08-23 08:58] salehawal commented on #22491
@sigismund did you find a solution?

[2019-08-23 08:58] DinkoIlicic commented on #21264
We found a way to reproduce and solve the issue. Magento version 2.2.6

Steps to reproduce:

1. Add rows to the catalog_compare_item table with a valid product entity ID, customer_id = NULL and visitor_id = 0.

2. Every user that comes to the site and did not retrieve an ID will see the item in the compare products page. If he clicks on the compare products link, the item is shown and compare-prod

[2019-08-23 09:09] jorgb90 commented on #24225
@magento give me 2.3-develop instance

[2019-08-23 09:10] magento-engcom-team commented on #24225
Hi @jorgb90. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 09:10] magento-engcom-team commented on #24225
Hi @jorgb90, here is your [Magento instance](https://i-24225-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24225-2-3-develop.instances.magento-community.engineering/admin](https://i-24225-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 09:25] jorgb90 commented on #24225
@engcom-Bravo There is indeed something changed, but not correctly! Now Tax is also above Grand Total Excl, so FPT is fixed but Tax should be between Grand Total Excl. and Grand Total Incl.

![Schermafbeelding 2019-08-23 om 11 23 29](https://user-images.githubusercontent.com/7294081/63582054-9c549300-c598-11e9-988e-417ce4e64cb6.png)

[2019-08-23 09:29] tandih commented on #15026
Hi Guys,
We get the same bugs on the 2.3 version, any update or anybody have a permanent solution on this issues?

[2019-08-23 09:48] heldchen commented on #5901
thanks @sergey-solo!

[2019-08-23 09:49] engcom-Bravo commented on #24225
Thank You @jorgb90 for the work done. May we ask You to edit Your issue respectively to the new outcome. Thanks in advance.

[2019-08-23 09:57] magento-engcom-team commented on #15935
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19607` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 10:56] Priya-V-Panchal commented on #24233
Hi @engcom-Charlie ,

Thanks for looking into it. As per my comment, to reproduce this issue can you please check with the exact amount which I specified in the question?

You will replicate the issue.

This issue is related to price rounding and it gives minor difference in total like 0.01 so it would only occur with summation of some specified float price.

[2019-08-23 11:20] magento-engcom-team commented on #23324
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19609` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 11:26] engcom-Charlie commented on #24233
@Priya-V-Panchal  can you provide your Tax rate percent?

[2019-08-23 11:42] Priya-V-Panchal commented on #24233
HI @engcom-Charlie ,

My rate percent is 9.5000

[2019-08-23 12:45] jorgb90 commented on #24225
@engcom-Bravo I need to change the text from FPT sorting wrong to Tax sorting wrong? The issue stays the same, the sorting isn't working.

[2019-08-23 12:53] engcom-Charlie commented on #24233
@Priya-V-Panchal
Good calculation again:
![image](https://user-images.githubusercontent.com/51680850/63594048-164b4300-c5be-11e9-8c61-33a10b5dc7cc.png)

[2019-08-23 12:57] ihor-sviziev commented on #24250
Looks like related to https://github.com/magento/architecture/pull/144
/CC @melnikovi

[2019-08-23 12:59] Priya-V-Panchal commented on #24233
@engcom-Charlie ,
Could you please give me your quote item details from quote_item table?

[2019-08-23 13:09] Anantkprajapati commented on #24224
Hello @engcom-Bravo - i see i installed fresh magento2.3.2 and it's look like working fine.
Thank you

[2019-08-23 13:09] #24224 closed, assigned to nobody

[2019-08-23 13:24] engcom-Bravo commented on #24225
Perfect, @jorgb90, that's it. Thank You.

[2019-08-23 13:25] magento-engcom-team commented on #24225
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-23 13:26] engcom-Bravo commented on #24224
You are welcome, @Anantkprajapati.

[2019-08-23 13:28] alinalexandru commented on #22119
Apparently there exists a polyfill
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries#Polyfill

Can I create a pull request and add the polyfill into lib/web/mage/polyfill.js ?

[2019-08-23 14:08] engcom-Charlie commented on #24233
@Priya-V-Panchal ofc:
![image](https://user-images.githubusercontent.com/51680850/63598659-ad1cfd00-c5c8-11e9-910d-676afb462c89.png)

[2019-08-23 14:35] magento-engcom-team commented on #22956
Hi @rokslavec77. Thank you for your report.
The issue has been fixed in magento/magento2#24179 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [b423aa08f7459822b33e2b55d18e6e21788a4c33](https://github.com/magento/magento2/commit/b423aa08f7459822b33e2b55d18e6e21788a4c33)
 - [23afffb2d62b63fce11c80f04f864e89ff748561](https://github.com/magento/magento2/commit/23afffb2d62b63fce11c80f04f8

[2019-08-23 14:35] #22956 closed, assigned to Bartlomiejsz

[2019-08-23 14:35] magento-engcom-team commented on #24169
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24170 by @edenduong in 2.3-develop branch
Related commit(s):
 - [a041a3e6f1042f999a154cd1e508c7a6bde6a44a](https://github.com/magento/magento2/commit/a041a3e6f1042f999a154cd1e508c7a6bde6a44a)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-23 14:35] #24169 closed, assigned to nobody

[2019-08-23 14:35] magento-engcom-team commented on #24172
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24173 by @edenduong in 2.3-develop branch
Related commit(s):
 - [0c0b470cbed033dc0fd5a27ff22561bbe04d87a6](https://github.com/magento/magento2/commit/0c0b470cbed033dc0fd5a27ff22561bbe04d87a6)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-23 14:35] #24172 closed, assigned to edenduong

[2019-08-23 14:35] magento-engcom-team commented on #24164
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24165 by @edenduong in 2.3-develop branch
Related commit(s):
 - [274064c1900903fba7bfc9c1bc8c46372f645eae](https://github.com/magento/magento2/commit/274064c1900903fba7bfc9c1bc8c46372f645eae)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-23 14:35] #24164 closed, assigned to edenduong

[2019-08-23 14:47] itwebdev2 commented on #22539
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-08-23 14:47] magento-engcom-team commented on #22539
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 14:48] magento-engcom-team commented on #22539
Hi @itwebdev2, here is your [Magento instance](https://i-22539-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22539-2-3-develop.instances.magento-community.engineering/admin](https://i-22539-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 14:57] magedevel opened #24256 "Programmatically add image to product with flag move true"
### Preconditions (*)

1. Magento versione 2.3.2
2. Php version 7.2
3. Nginx Env using Valet +

### Steps to reproduce (*)

1. Add an image on var/import/imagetest.jpg
2. Try to create a product and add photo using method addImage of class Magento\Catalog\Model\Product\Gallery. As parameter add move = true.

### Expected result (*)

1. Images added to product

### Actual result (*)

1. Image not f

[2019-08-23 15:04] magedevel commented on #24256
I have checked the file now and it seems correct.

[2019-08-23 15:32] rani-webkul commented on #7200
@magento-engcom-team give me 2.3-develop instance

[2019-08-23 15:32] magento-engcom-team commented on #7200
Hi @rani-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 15:32] psdevhh opened #24257 "Inconsistent capitalization in the comment part to ID type columns in the db_schema.xml configuration files"
### Summary (*)
I've noticed that a lot of the db_schema.xml files in various modules have naming inconsistencies, specifically with the capitalization in the comments to ID column types.

### Examples (*)
For example, in the comment part `comment="Entity ID"`  both letters of the word `ID` are capitalized in this file:

app/code/Magento/Customer/etc/db_schema.xml:11

`<column xsi:type="int" name=

[2019-08-23 15:32] magento-engcom-team commented on #7200
Hi @rani-webkul, here is your [Magento instance](https://i-7200-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-7200-2-3-develop.instances.magento-community.engineering/admin](https://i-7200-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 15:53] Rus0 commented on #5927
#cd19latam

[2019-08-23 15:55] Rus0 commented on #5927
Working on #cd19LATAM

[2019-08-23 15:57] itmsenior opened #24259 "URL key/SEO friendly URL not used for products when in single-store mode"
### Preconditions (*)

1. Magento v2.3.2
2. Single-store Mode (Stores > Configuration > General > Single-Store Mode)

### Steps to reproduce (*)

1. Add product to site using /V1/products (catalogProductRepositoryV1) via swagger
2. Example JSON:
`{
  "product": {
	  "sku": "TestApi",
	  "name": " API Test",
	  "attribute_set_id": 4,
	  "price": 0.75,
	  "status": 1,
	  "visibility": 4,
	  "type_id

[2019-08-23 15:57] itwebdev2 commented on #24259
Confirmed on 2.3-develop instance

[2019-08-23 16:00] slavvka opened #24260 "[TEST] #cd19latam"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-08-23 16:06] radua opened #24261 "Magento 2.3.2 Design configurations empty"
### Preconditions (*)

1. Magento version : 2.3.2

### Steps to reproduce (*)

1. Backend > Content > Design Configuration

### Expected result (*)

1. Should show a list of scopes - Global, All Websites and Stores

### Actual result (*)

1. Shows : No records found

[2019-08-23 16:07] wbeltranc commented on #23876
#cd19latam

[2019-08-23 16:08] paco44 commented on #21910
@magento give me 2.3-develop instance

[2019-08-23 16:08] magento-engcom-team commented on #21910
Hi @paco44. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 16:08] magento-engcom-team commented on #21910
Hi @paco44, here is your [Magento instance](https://i-21910-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21910-2-3-develop.instances.magento-community.engineering/admin](https://i-21910-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 16:16] engcom-Bravo commented on #24261
Hello @radua. Thanks for applying. Are we doing below something wrong?
![design](https://user-images.githubusercontent.com/51680745/63607003-178a6900-c5da-11e9-9da9-b3da92098bc4.gif)
Seems there everything works as expected. Or should there be something else?

[2019-08-23 16:19] slavvka commented on #24260
#cd19latam

[2019-08-23 16:21] slavvka commented on #24260
@magento I am working on it

[2019-08-23 16:21] slavvka commented on #24260
#cd19latam

[2019-08-23 16:21] slavvka commented on #24260
@magento I am working on it

[2019-08-23 16:28] radua commented on #24261
Hi @engcom-Bravo : Thanks for the prompt response. I get this
![image](https://user-images.githubusercontent.com/14368934/63607848-78497f80-c5a1-11e9-86b0-ac0797a4fbcb.png)

[2019-08-23 16:30] wbeltranc commented on #23876
#cd19latam

[2019-08-23 16:30] magento-engcom-team commented on #23876
@wbeltranc thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 16:31] Rus0 commented on #5927
#cd19latam

[2019-08-23 16:34] jnando91 commented on #24046
#cd19latam

[2019-08-23 16:34] magento-engcom-team commented on #24046
@jnando91 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 16:37] manuelmattar commented on #24214
#cd19latam

[2019-08-23 16:37] magento-engcom-team commented on #24214
@manuelmattar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 16:37] jnando91 commented on #24046
@magento give me 2.3-develop instance

[2019-08-23 16:37] magento-engcom-team commented on #24046
Hi @jnando91. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 16:38] magento-engcom-team commented on #24046
Hi @jnando91, here is your [Magento instance](https://i-24046-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24046-2-3-develop.instances.magento-community.engineering/admin](https://i-24046-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 16:39] manuelmattar commented on #24214
#cd19latam

[2019-08-23 16:40] manuelmattar commented on #24214
#cd19latam

[2019-08-23 16:44] jeovela86 commented on #23780
#cd19latam

[2019-08-23 16:44] magento-engcom-team commented on #23780
@jeovela86 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 16:52] engcom-Bravo commented on #24261
@radua, seems Your magento instance is far from the vanilla one. Could You please try to reproduce Your issue on a clear instance containing only native code as You are advised above:
![Advised](https://user-images.githubusercontent.com/51680745/63609196-5242d000-c5df-11e9-88bc-dd8f0f3c9f20.png)
Thank You.

[2019-08-23 16:55] radua commented on #24261
I am working with the community edition release that I installed using composer. Is that the same as the vanilla release? Since I'm running community edition in production, I tested on this.

`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition mageTest`

That's the command I had used. I will still verify it on vanilla.

[2019-08-23 16:56] jnando91 commented on #24046
I could not reproduce this issue.
My test result was.

Time: 2.42 minutes, Memory: 2093.15MB

OK, but incomplete, skipped, or risky tests!
Tests: 21960, Assertions: 61261, Skipped: 127, Incomplete: 43.

---- /usr/share/nginx/m23ce/dev/tests/static/framework/tests/unit> /usr/bin/php7.2 /usr/share/nginx/m23ce/./vendor/phpunit/phpunit/phpunit

PHPUnit 6.5.14 by Sebastian Bergmann and contributors.

.

[2019-08-23 17:00] sdzhepa commented on #23780
Hello @GrishmaNayee @rammohan-krish

Thank you for contribution and collaboration!

I moved this issue into Commerce Related private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collabo

[2019-08-23 17:08] jeovela86 commented on #22479
#cd19latam

[2019-08-23 17:14] sdzhepa commented on #24046
Hello  @jnando91

Just want to double-check.
Did you try to reproduce it on Composer or Git  based Magento installation

[2019-08-23 17:28] paco44 commented on #21910
#cd19latam

[2019-08-23 17:48] Usuario001 commented on #22747
#cd19latam

[2019-08-23 17:56] irving0mar commented on #24229
#cd19latam

[2019-08-23 17:59] wbeltranc commented on #19853
#cd19latam

[2019-08-23 18:01] sebastianCarry commented on #24135
#cd19latam

[2019-08-23 18:01] magento-engcom-team commented on #24135
@sebastianCarry thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 18:02] eneria2209 commented on #23502
#cd19latam

[2019-08-23 18:03] magento-engcom-team commented on #23502
@eneria2209 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 18:04] jnando91 commented on #24260
#cd19latam

[2019-08-23 18:12] afazcar commented on #21592
#cd19latam

[2019-08-23 18:12] magento-engcom-team commented on #21592
@afazcar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 18:42] toddbc commented on #24261
I think I've seen something like this before when mod_pagespeed or Cloudflare was stripping HTML comments.  Magento won't work if that's happening.

[2019-08-23 18:52] jnando91 commented on #24046
Hi @sdzhepa
I reproduced the error with a git clone version.
Let me try in a composer installation.

[2019-08-23 19:01] eneria2209 commented on #23502
@magento give me 2.2-develop instance

[2019-08-23 19:01] magento-engcom-team commented on #23502
Hi @eneria2209. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-23 19:06] Erik-ID-89 commented on #23473
#cd19latam

[2019-08-23 19:06] magento-engcom-team commented on #23473
@Erik-ID-89 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-08-23 19:21] irving0mar commented on #24229
We can't reproduce this issue on Centos 7 and Magento 2.3-develop, give us more information please. For example, what is the OS you are using.

[2019-08-23 19:32] jnando91 commented on #24046
Hi @rszczepaniec
your test was in production mode or developer mode?
I executed the cli command in both modes and the result was different.

In production mode my result was like your output, and developer mode was different

I got the same warning filezise and loadxml
My final output result was the next:

Time: 2.19 minutes, Memory: 2086.00MB

There were 2 failures:

1) Magento\Config\Test\Unit\M

[2019-08-23 19:32] sebastianCarry opened #24266 "DHL Mexico isn´t working"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Enable DHL
2. Configure delivery for Mexico
3. try to place order with a Mexican shipping address.

### Expected result (*)

1. Order placed

### Actual result (*)

1. Unable to place order

[2019-08-23 19:33] sebastianCarry commented on #24266
#cd19latam

[2019-08-23 19:43] irving0mar commented on #23865
#cd19latam

[2019-08-23 20:01] wbeltranc commented on #23515
#cd19latam

[2019-08-23 20:23] sdzhepa commented on #23865
Hello @dhiraj-danode  @engcom-Bravo

Thank you for contribution and collaboration!

I moved this issue into Commerce Related private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collabo

[2019-08-23 20:25] sdzhepa commented on #24048
Hello @dhiraj-danode @engcom-Bravo

Thank you for contribution and collaboration!

I moved this issue into Commerce Related private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collabor

[2019-08-23 20:35] magento-engcom-team commented on #24180
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19625` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-23 20:38] irving0mar opened #24269 "Magento 2.3-delop Create new address phone number validation doesn't work"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Login as customer
2. Create a new address in customer account area
3. Without filling the Phone Number field click send

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/25356743/63622042-32011a00-c5bb-11e9-89ea-69b3a33c590b.png)

### Actual result (*)

1. ![image](https://user-images.github

[2019-08-23 20:39] irving0mar commented on #24269
#cd19latam

[2019-08-23 20:44] irving0mar commented on #24269
@magento give me 2.3-develop instance

[2019-08-23 20:44] magento-engcom-team commented on #24269
Hi @irving0mar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 20:45] magento-engcom-team commented on #24269
Hi @irving0mar, here is your [Magento instance](https://i-24269-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24269-2-3-develop.instances.magento-community.engineering/admin](https://i-24269-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 20:50] irving0mar commented on #24269
Couldn't reproduce this issue on vanilla instance

[2019-08-23 20:50] #24269 closed, assigned to irving0mar

[2019-08-23 20:53] sebastianCarry commented on #24266
@magento give me 2.3-develop instance

[2019-08-23 20:54] magento-engcom-team commented on #24266
Hi @sebastianCarry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-23 20:54] magento-engcom-team commented on #24266
Hi @sebastianCarry, here is your [Magento instance](https://i-24266-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24266-2-3-develop.instances.magento-community.engineering/admin](https://i-24266-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-23 21:00] victor-ruiz commented on #21883
#cd19latam

[2019-08-23 21:06] gloriadg20 commented on #24199
#cd19latam

[2019-08-23 21:21] magento-engcom-team commented on #24266
@sebastianCarry Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-23 21:21] gloriadg20 commented on #24199
The issue has been replicated and we've found that due to the kind of issue, and that this issue is affected by the type of data in the database, this issue must be checked by Magento architec, in order to know if it's possible to change the data type of the field in database or increase the actual value of the same.

[2019-08-23 21:34] sdzhepa commented on #23680
Hello @jonathansimonet

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It de

[2019-08-23 21:38] sdzhepa commented on #8927
Hello @neverovsky @magesanjay @Datta @Parakoopa

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribu

[2019-08-23 22:05] #4140 closed, assigned to nobody

[2019-08-23 22:12] sdzhepa commented on #5586
Hello @Styopchik

May I ask you to create new Issue with details about how it can be reproduced on the 2.3.x Magento Open Sorce  version according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)?

It will really help to confirm the issue and fix much faster

[2019-08-23 22:12] #5586 closed, assigned to nobody

[2019-08-24 01:08] FanWenjun commented on #3509
Please refer to this answer https://github.com/magento/magento2/issues/3509:
1: go to your manager.paypal.com,
go Home->Service Summary-> Hosted Checkout Pages->Set up->Cancel URL Method: POST;
Return URL Method: POST; Enable Secure Token: Yes;
This will make capture the real amount after auth the 0, and it works immediatly,

2: still at the manager.paypal.com (if you get the Failed merchant rule

[2019-08-24 01:15] zb commented on #24247
Bug occurs because..
- some products have null sku. can set to ""
- attributes are not in the default attribute set.

For instance cannot mass update attributes after migration until adding all attributes to default attribute set.

[2019-08-24 01:24] swaggitnetwork commented on #4688
had to disable the cronjobs too and make a full cache warm at 2am can't believe this is still a problem more than a year later. Are we the only one who consider this a serious bug? Is magento made for large store or is it becoming woocommerce (nothing against it but had problems with large amount of products too on that platform).

[2019-08-24 03:51] ihor-sviziev commented on #24229
I had this issue on Ubuntu 18.04 and on Amazon Linux (Cent OS  based). I don’t think it’s related.
I think main issue - you have to run bin/magento not from root user, because even without permissions root user could write to all files

[2019-08-24 09:53] sigismund commented on #22491
Not really, I lost hope with this bug, it seems like another of Magento bugs that aren't gonna get solved, because commercial edition doesn't have a problem with it ;)

I made a switch to [ElasticSuite](https://github.com/Smile-SA/elasticsuite) solution. It's open source, has additional settings and it works.

[2019-08-24 16:08] ysapoodle opened #24275 "Discount restricted by payment method is still applying."
### Preconditions (*)

1. Magento 2.2.5
2. Standard Checkout

### Steps to reproduce (*)

1. Create a Cart Discount Code for example 5% off everything
2. If ANY  of these conditions are TRUE : Payment Method  is not  "Imegamedia Finance Gateway " (so should only apply to other payment methods, no discount for finance gateway)

### Expected result (*)

Entering the code into the checkout shows corr

[2019-08-25 03:17] erfanimani commented on #21904
Any progress on this one? It renders queues unusable when using the MySQL driver.

[2019-08-25 03:20] erfanimani commented on #21904
Any progress on this one? It's a significant bug and renders queueing functionality useless when using MySQL as a driver.

[2019-08-25 04:59] vtransy commented on #5173
yeah the solution of @sagarppanchal  and @dswtpvtltd will help to resolve this issue.

I found a better way to resolve this issue is:

get error: SQLSTATE[HY000] [2002] No such file or directory

ln -s /Applications/MAMP/tmp/mysql/mysql.sock /tmp/mysql.sock

The cause of my case is Mamp install mysql and socket in other directory and Magento 2 looking mysql.sock in default place. So we just need t

[2019-08-25 05:26] an4rei commented on #15545
We're having the same issue with never ending INSERT QUERIES and CPU USAGE to 200% by mysqld. In order to fix it temporally, we have to either kill the query or just restart the process.
Site's TTFB increases by alot for any page and then crashes(every 18 hours or so).
Running on 2.3.2.

[2019-08-25 23:35] dbsdsun commented on #24250
In Magento 2.3.2, `Magento\Framework\Mail\EmailMessageInterface` doesn't exist. Where is it?

[2019-08-26 00:43] snoroozi commented on #9497
I'm facing this and testing disabling merge and minify css on 2.3

[2019-08-26 00:45] snoroozi commented on #9497
@terrybakshi  I'm using sucuri, not sure sure they have a way to disable minfy and merge though.  I've disabled on my magento and will see if it helps.

[2019-08-26 06:02] martinog22 commented on #23958
Hello,
i have still the problem in magento 2.3.2
I tried it with the solutions here but no chance.
Is there maybe another solution or a step by step documentation to check it again?
thanks!

[2019-08-26 06:11] ljr95 commented on #23030
Hello, thank you for your solution. I want to know what is the best solution to apply this correction before the release of 2.3.3?

Should you overload the file "swatch-renderer.js" if so how?
Where is it better to update the original file?

[2019-08-26 06:27] matin73 commented on #23030
copy js file to you theme:
app/design/frontend/Xxxx/yyyy/Magento_Swatches/web/js/swatch-renderer.js

[2019-08-26 07:00] hiepecom opened #24287 "Magento 2.3.2 Products In Category Issue with varnish cache"
### Preconditions (*)

1. magento2.3.2 with sample data
2. Varnish 5

### Steps to reproduce (*)
1. Install fresh magento 2.3.2 with sample data
2. Config Varnish Cache following https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varnish-configure.html
3. Go to Admin -> Catalog -> Categories
4. In Default Category, Click Products In Category
5.a Do not click "Reset Filter" -> Clic

[2019-08-26 07:08] avstudnitz commented on #12205
This bug has cost us a lot of time and money after upgrading from 2.2.8 to 2.3.2.
@magento-engcom-team This fix is not included in Magento 2.3.x. Could you migrate it and make sure it will be in 2.3.3?

[2019-08-26 08:18] fritzmg commented on #8933
The issue, specifically the deadlock for
[code]
still occurs in Magento `2.3.2`.

[2019-08-26 08:58] seansan commented on #8933
This is the problem I think. 3 cron Jobs for m2 per installation manual.
Where 1 cleans? And the other updates running jobs and locks the table.

On Mon, 26 Aug 2019 at 10:19, Fritz Michael Gschwantner <
notifications@github.com> wrote:

[2019-08-26 08:59] Priya-V-Panchal commented on #24233
Hi @engcom-Charlie

Please check my quote item detail. In my case, Tax amount and row total both are slightly different which causes the issue.

![Screenshot from 2019-08-26 14-26-05](https://user-images.githubusercontent.com/52348464/63678767-813e8900-c80d-11e9-9e14-a6b25ae76e39.png)

[2019-08-26 09:13] fritzmg commented on #8933
@seansan no, that can't be it, because we have only configured the `cron:run` command and no other cronjobs.

I think the problem is the following:

* When running `cron:run`, new entries are generated for `cron_schedule`, according to the cron configuration of each cron group.
* When running `cron:run`, Magento 2 starts a separate process for each cron group.
* When a cron group is finished, the

[2019-08-26 09:18] 13mcmc12 commented on #24023
@magento-engcom-team / @shikhamis11 any update on this issue

[2019-08-26 09:54] MoazamALi commented on #14222
@bhooby did you got any solution for this problem

[2019-08-26 10:05] angelo983 opened #24290 "Wrong product label when changing store view"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create at least two store views
2. Change locale in one of them
3. Add a product in comparable list
4. Switch to other store view

### Expected result (*)

1. Label referred to Products next number of products compared (between round brackets of Compare Products) with the correct locale translation

### Actual result (*)

1. Lab

[2019-08-26 10:07] angelo983 commented on #24290
This error happens too with wishlist

[2019-08-26 10:10] shikhamis11 commented on #24275
@magento give me 2.3-develop instance

[2019-08-26 10:10] magento-engcom-team commented on #24275
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-26 10:11] magento-engcom-team commented on #24275
Hi @shikhamis11, here is your [Magento instance](https://i-24275-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24275-2-3-develop.instances.magento-community.engineering/admin](https://i-24275-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-26 10:20] magento-engcom-team commented on #24275
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19632` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-26 10:37] hiepecom commented on #24287
looking deeper into the issue: The root cause was filter param was missing a slash "/" when pass to varnish

admin/catalog/category/grid/key/14cb81ddaf76769139e9fcac86021911db3b5f93b5be17c6b3e8955328d74a62/id/2/**filter//**page/3/?ajax=true&isAjax=true

was become:
admin/catalog/category/grid/key/14cb81ddaf76769139e9fcac86021911db3b5f93b5be17c6b3e8955328d74a62/id/2/**filter/**page/3/?ajax=true&isA

[2019-08-26 11:17] web-pro opened #24292 "magento 2.3.1 price not showing when configurable product out of stock"
magento: 2.3.1
I am using this code $block->getProductPrice($_product)  on list.phtml for price.
when configurable product in-stock then price is showing but not showing price for out-of-stock.

@magento-team