[2016-10-12 12:57] PascalBrouwers commented on #6869
I'll try following your steps again. If I get no problem at that point there is still an issue with users who have 'old cache' then.

[2016-10-12 12:57] Microstudioweb commented on #5423
@OmarFaruque  Unfortunaly I have tried a fresh installation 2 times, but it didn't get effect.

I find this code:

[code]

on {{magento-folder-root}}/vendor/magento/module-email/Model/Template/Filter.php

I suspect the issue is because it didn't find **parent::filter($value);** on homepage, but when is on category page it find out.

[2016-10-12 13:00] mitulispace opened #6969 "Web Setup Wizard Not open Any one help me??"
### Steps to reproduce

1.  I go System -> Web Setup Wizard
### Expected result

1. Web Setup Wizard Perfect Open
### Actual result

1. Web Setup Wizard not Open (Many time try )
   ![error](https://cloud.githubusercontent.com/assets/16436069/19310872/d4039868-90a9-11e6-8962-9c3952a39c9b.PNG)

[2016-10-12 13:01] thirumoorthyp commented on #6787
@sevos1984: Thanks for the reply. <br/> But I have checked in 2.1.1 version also, this issue exist

[2016-10-12 13:07] ikdekker opened #6970 "REST call to products of a category in store"
### Preconditions
1. Have Magento 2.1.1 installed
### Steps to reproduce
1. Add products to different stores
2. Place products in the category.
3. Call /rest/V1/categories/:categoryID/products?storeId= + STOREID
### Expected result
1. List of products in this category and this storeid will be returned.
### Actual result
1. Return was empty array, [].

I have altered the code in the module-catalog/

[2016-10-12 13:14] SerhiyShkolyarenko commented on #5181
the same result on the latest develop branch.
@mcspronko please confirm if it is reproducible for you.

[2016-10-12 13:38] ghost commented on #4750
Thank you for raising this issue @jzahedieh.

I can confirm this issue is fixed on 2.1.1

![screen shot 2016-10-12 at 14 34 37](https://cloud.githubusercontent.com/assets/5654423/19312202/53a87492-9089-11e6-8a50-3ee1e7116eac.png)

![screen shot 2016-10-12 at 14 36 20](https://cloud.githubusercontent.com/assets/5654423/19312207/589e9558-9089-11e6-80fb-7e775c092cbe.png)

[2016-10-12 13:43] attiquer commented on #3507
Same issue, don't know why it's marked as closed when so many people are having the issue

`[2016-10-12 13:41:22] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_STORE1_391fccd54da687afc76a5d6559b714906 and handles default, adminhtml_dashboard_index: Please correct the XML data and try again.  [] []
[2016-10-12 13:41:22] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_STORE1_

[2016-10-12 13:58] lilmuckers commented on #6933
Magento Community 2.1.1 here
+1 to this

My behaviour is similar - Except that adding _any_ product to the configurable throws the error `Option values are not specified.`

I'm following the same steps as above.
It _looks_ like the option values are dependant on a product being associated, but associating a product with the configurable is dependant on there being an option.

If i comment out wher

[2016-10-12 14:09] pboisvert commented on #6969
@mitulispace can you provide your system information such as OS, PHP version, etc..

[2016-10-12 14:27] camdixon commented on #4331
Also have this problem.  Not only is a 90 day timing annoying by default (PCI compliance?), as the issue states it is not updating the time value properly when a successful password change event happens.

[2016-10-12 14:35] veloraven commented on #4918
Internal ticket MAGETWO-59656 was created for this issue

[2016-10-12 14:38] boldhedgehog opened #6973 "Upgrade CE 2.1.0 to 2.1.1: Invalid FULLTEXT index for customer_flat_grid table"
### Preconditions
1. Have installed Magento CE 2.1.0 with sample data
2. MySQL version: 5.6.33
### Steps to reproduce
1. Upgrade Magento CE from 2.1.0 to 2.1.1 with composer
2. run php bin/magento setup:upgrade
### Expected result
1. setup:upgrade completes successfully
### Actual result
1. setup:upgrade fails with this MySQL error during upgrading :
   `Error in query (1170): BLOB/TEXT column 'cr

[2016-10-12 14:39] tkacheva commented on #5428
Issue is fixed and delivered into mainline
https://github.com/magento/magento2/commit/51bc865
 If you still have it after upgrade, please reopen

[2016-10-12 14:39] #5428 closed, assigned to nobody

[2016-10-12 14:44] tkacheva commented on #5954
@antbates1991 Seems that issues is no longer actual. Closing. Reopen if needed

[2016-10-12 14:44] #5954 closed, assigned to nobody

[2016-10-12 14:51] tuntisz commented on #5083
Is there any update on the status of this? I'm also able to recreate this. @melnikovi

[2016-10-12 15:14] slavvka commented on #5391
@Ctucker9233 yes you can

[2016-10-12 15:29] amanuni commented on #5421
Guys its still not resolved. On my server i am still getting this issue.

Regards,
Irsad

[2016-10-12 15:47] SerhiyShkolyarenko commented on #5608
@leechilli please confirm that the issue is reproducible on 2.0.0 or 2.1.1.
I tried 2.0.9 with attached [tablerates.zip](https://github.com/magento/magento2/files/524970/tablerates.zip) and didn't reproduce the issue. I've got different rates for Alabama and California.
Please add your own table rates if you manage to reproduce.

[2016-10-12 15:59] OmarFaruque commented on #5423
Are u install it using command or browser? I install my magento using commend line

[2016-10-12 16:02] veloraven commented on #6967
@sourabhmodi60 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please note, that Magento does not support the operating system you've mentioned. Please confirm that you can reproduce this issue on a supported platform

[2016-10-12 16:06] veloraven commented on #6965
@Vinai thank you for your feedback.
Please identify which version of Magento you are running.

[2016-10-12 16:07] slavvka commented on #5925
Closed since there no reply.

[2016-10-12 16:07] #5925 closed, assigned to nobody

[2016-10-12 19:13] pynej commented on #4506
Still major preformance issues on /checkout/  the rest of the site is fine with Varnish, bundling, and combining fills all enabled.

For our site the /checkout/ still takes 3.5s to generate and download the Html and its 490kb, and the combined script file is 3.4MB and takes 6s to download.  This is a hell of a lot better then disabling bundling(then we get >100 requests and the page still takes >6

[2016-10-12 19:28] pynej commented on #4868
Yes.   I would say this is a critical issue and makes us look very bad to our customers.  The site, products, and custom loggin pages are all quite fast @.5ms for cached requests and 1s for uncached requests.  But anyone getting to the checkout page is in for a nice 10s delay and gets very irritated.   We have even disabled some unused of the shipping modules per advice I found but that had a very

[2016-10-12 19:29] pynej commented on #4868
These example numbers are with the following disabled:
List of disabled modules:
Magento_Dhl
Magento_Fedex
Magento_Authorizenet
Magento_Paypal
Magento_Braintree

We did load a custom module for CC processing: MD_Cybersource

[2016-10-12 19:39] pynej commented on #4868
The script block stertign with this is 440KB of JSON data.

[code]

Most of the data here looks like it is Locality info.  Region/State info that is filled in the dropdown when country is changes.  At the very leas this should be changed to be loaded when the country is actually changed as 99% of this data isn't going to be used on a individual page.  An api that returns the regions for the select

[2016-10-12 20:05] keyurshah commented on #6426
had this issue when upgrading from magento 2.1.0 to 2.1.2

[2016-10-12 20:08] pynej commented on #4868
Reducing the 'Allow Countries' in settings to only US doesn't entirely remove the entries form the page HTML but it does reduce the checkout page form 476KB to 371KB.

[2016-10-12 20:12] dmcmillin opened #6975 "customer order emails are not being sent"
### Preconditions
1. Apache 5.6
2. Magento 2.2.0-dev
### Steps to reproduce
1. order product.
2.
3.
### Expected result

1. Customer should get email
2. admin should get email.
   ### Actual result

3. no emails are sent for order.

[2016-10-12 20:20] JananiKrishnan opened #6976 "Search not working properly"
### Preconditions
1. Magento CE 2.07 installled
### Steps to reproduce
1. Type "keyword with product name" in search box.
2. In auto suggestions, select suggestion with exact product name
### Expected result
1. The page load with the search results
### Actual result
1. The page loads with previous content not with the current search result

[2016-10-12 20:30] manhao-chen commented on #3605
is there any idea as to when this will be fixed?

[2016-10-12 20:34] keyurshah commented on #5302
still seems to be an issue in the version released today, 2.1.2

[2016-10-12 20:37] amarroni opened #6977 "Virtual Orders doesn't complete using PayPal payflow method."
### Preconditions
1.  Magento version 2.1.0
2. Using API and successfully reproduced from the site
### Steps to reproduce

1. Add a virtual product to the cart.
2. Use paypal payflow as payment method.
3. Order is created.
### Expected result
1. After virtual order is created status should be COMPLETE
### Actual result
1.  Order still in processing status
   ![order-no-complete-1](https://cloud.gi

[2016-10-12 21:44] djlspeed commented on #6372
Which repositories are listed in your composer.json?
Removing all except https://repo.magento.com/ fixed the problem for me.
So my composer.json looks like this:
`...
    "repositories": [
        {
            "type": "composer",
            "url": "https://repo.magento.com/"
    }
    ],
...
`

[2016-10-12 21:44] jvreeken commented on #6275
was not delivered in 2.1.2 ?  I just read the release notes for 2.1.2 and this is still a "Known issue"
http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.2CE.html#known-issues

[2016-10-12 22:11] jvreeken commented on #5459
Just upgraded to 2.1.2 and the issue still exists.
The patch at:
https://github.com/magento/magento2/commit/62783141641544080d83d604b86596c178a26854
fixed the issue for me :)

[2016-10-12 22:20] salelsol commented on #6932
- Exact same issue, just updated from 2.1.1 to 2.1.2 ,  I´m trying truncate all sale tables, also disable all extensions installed but nothing change about.

[2016-10-12 22:25] salelsol commented on #6932
- Issue starting just when I´m upgraded from 2.0.7 to 2.10, before everything worked properly.

[2016-10-12 22:28] paales commented on #6843
Hmm, should be fixed over here https://github.com/magento/magento2/commit/f367e0491c83b6ff57f8eaaa94c5e0ff1c64bbc6 Thats Magento 2.1.1, mentioned over here: http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.1CE.html

Will double check if indeed it is now fixed and will close the issue if it is fixed in 2.1.1.

[2016-10-12 23:05] paales opened #6979 "Performance: Issue with a lot of configurable with lots of images"
### Preconditions

1. 2.1.2
### Steps to reproduce

1. Create a lot of configurables with simples with images.
2. Load a category page.
### Expected result

1. Loads only the media gallery images required and doesn't spend more than a second per query on the media gallery images.
### Actual result

1. Loads all images and spends about a second per query, resulting in 20000ms added to the page load

[2016-10-12 23:08] timbits07 opened #6980 "Scheduled Design Update not being applied on product page"
Magento 2.1.1
### Steps to reproduce

1. After building a custom theme create a child theme that uses a different color scheme than the parent.
2. Apply that child theme to a particular category of products so that it has the alternate color scheme.
3. Either check the box under the category design update that applies the child theme to all products in that category or apply a scheduled design upd

[2016-10-13 00:45] brideo opened #6981 "Unable to instantiate the catalog import uploader with $filePath set"
## Preconditions
- Magento 2.0.x or 2.1.0 is installed CE or EE
- Module is setup with class and `Magento\CatalogImportExport\Model\Import\UploaderFactory` in the construct
## Steps to reproduce
- Using the factory pattern you instantiate the class `Magento\CatalogImportExport\Model\Import\Uploader` with `$filePath` defined
## Actual and Expected result
- Exception is thrown because `$this->_direc

[2016-10-13 00:59] tanghia commented on #6937
I updated this issue.
Magento 2 has many features which are compatible with a "digital download" store. I think that we need to improve to become the best. Following below are some suggest features:
- Change sales/order confirmation email template for downloadable products.
- Download counter
- Email notification when update new version for a particular product

Thanks

[2016-10-13 01:24] ghost commented on #6704
No fix in 2.1.2, same issue.

[2016-10-13 01:29] ghost commented on #5302
Yes, I can confirm the fix isn't in 2.1.2. Not sure why....

[2016-10-13 01:38] ghost commented on #5808
Using an android device this bug is still present. I haven't been able to test on other mobile devices.

[2016-10-13 05:15] wclmanoj commented on #1004
Hi @MomotenkoNatalia,

I have suffer to add bundle sub products images into the order email template in EE or CE both so please help me.?

Regards,
Manoj

[2016-10-13 05:41] shahankitb997 commented on #6939
Hi @veloraven It's urgent Issue. Please respond ASAP. I need to upload 5K SKU's. Looking for this Patch ASAP.

I have update to Magento 2 CE Version 2.1.2. It also not working there.

Customer Import works fine.

Thanks

[2016-10-13 06:11] ifekaj opened #6982 "Swatches from sold out items visible on store front"
### Preconditions

1. Magento 2.1.1
2. PHP 7.0.10
3. Apache 2.4.6
4. MySQL 5.7.16
5. CentOS 7.2.1511
### Steps to reproduce

1. Simple product, which is a part of a configurable product gets sold out, or I manually change stock quantity to 0 and stock status to out of stock
### Expected result

1. Swatch for the item that is out of stock should not be visible on the product page
### Actual result

[2016-10-13 06:19] tabstop commented on #6372
I have the same problem, but my error is only:

Magento 2.1, no composer setup
Ubuntu16.04
php-fpm: 7.0.8-0ubuntu0.16.04.3
Apache 2.4.18
caching off

[2016-10-13 06:29] mitulispace commented on #6969
pliz check It
![version](https://cloud.githubusercontent.com/assets/16436069/19338707/5a0a0c02-913c-11e6-917f-01b245a1e74d.PNG)

@veloraven @pboisvert

[2016-10-13 06:35] NSanthoshpriya commented on #6976
Hey, I'm also facing the same issue..
What is the solution for it?
Can you provide the solution ASAP?

[2016-10-13 06:50] bondimedical3 commented on #6686
I have updated to 2.1.2 and the issue is still there. I have done some further testing and it only appears to be present in the main browser I use, Chrome. I cannot reproduce the issue in FireFox, Internet Explorer or Opera. Please try to reproduce the issue by adding a product to the cart using the latest version of Chrome browser and navigating to another page.
![magento](https://cloud.githubuse

[2016-10-13 07:01] gman-1986 commented on #5836
Does anyone know if the latest version 2.1.2 has fixed the problem?

[2016-10-13 07:06] cizgidekiadam commented on #6817
@SerhiyShkolyarenko It worked for me with additions (branch 2.1, v 2.1.2)

<pre>define(
    [
        'jquery',
        'ko',
        './shipping-rates-validation-rules',
        '../model/address-converter',
        '../action/select-shipping-address',
        './postcode-validator',
        'mage/translate',
        'uiRegistry',
+ --->  'Magento_Checkout/js/model/quote'
    ],
    function (

[2016-10-13 07:13] JananiKrishnan commented on #6976
HI ,
This issue is fixed. please refer the following link for fix.

https://github.com/magento/magento2/commit/905c32ae0a2dc57219e5cae50603ca3ada1ffdb5

[2016-10-13 07:37] shiftedreality commented on #6718
Fix for this issue was delivered to develop branch.
Closed.

[2016-10-13 07:37] #6718 closed, assigned to nobody

[2016-10-13 07:38] Sam-PUMP commented on #3759
Yes we had fixed this also but after upgrading to 2.1.2 it is back and the bug is STILL present ...it's unbelievable really because many other major bugs are not yet fixed which will cause delays in getting this update on production.

[2016-10-13 08:04] timbaker1991 commented on #5352
Is anyone able to confirm if a fix for this has been included the new 2.1.2 release?

[2016-10-13 08:13] veloraven commented on #6823
@devdesco-ceo thank you for your report.
Please confirm that you have cleaned cache, reindexed, and re-generated statics.

[2016-10-13 08:13] philipvandebriel commented on #6413
Same problem in Magento 2.1.2 !

[2016-10-13 08:15] PierAlex commented on #5218
@andimov I got also this issue, in the minicart the preview image is the base preview image, not the one choosen. Eg. My base image is the white color, I select the black and add to cart, in the minicart my preview image is the White, Is this related to this open issue or have I to report a new issue?

@paales aren't you experiencing this problem?

PierAle

[2016-10-13 08:16] salelsol commented on #6932
- Hi shanevbg , are you installed any Onepage checkout extension ?

[2016-10-13 08:16] lucscu commented on #5222
Do you think i have to run also
`delete from cataloginventory_stock_status where website_id = 1;`
?

[2016-10-13 08:21] slavvka commented on #5692
Hi @sky4git, This is not a bug. **adminhtml_customer_save_after** event is fired in \Magento\Customer\Controller\Adminhtml\Index\Save and must not be used for customer persisting purposes, while you are talking about different controller \Magento\Customer\Controller\Adminhtml\Index\InlineEdit. Please use plugins or common model events.like **customer_save_after**

[2016-10-13 08:21] #5692 closed, assigned to nobody

[2016-10-13 08:21] veloraven commented on #6872
@rbostan thank you for your feedback.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions as it seems to be a problem of a custom extension.
If you think it to be Magento issue please explain your position.

[2016-10-13 08:26] paales commented on #5218
@PierAlex We're experiencing that as well, made some internal patch I believe to solve the issue, but can't remember exactly.

[2016-10-13 08:26] bydrei commented on #4921
I have the same exact problem with 2.1.0 EE .. You can only have a minimum of 2 lines. I could "hack it" but I don't want to risk breaking other stuff! Anyone found a fix for this? Please share if so.

[2016-10-13 08:30] NadiyaS commented on #5222
Hi @LucScu ,
it is not necessary to delete records from cataloginventory_stock_status table. Run reindex is enough.
This issue is closed as resolved.

[2016-10-13 08:30] #5222 closed, assigned to nobody

[2016-10-13 08:34] cizgidekiadam commented on #6872
@veloraven Is it clear?

There are some fields in address forms (custom or system).
In my case, some of them should be required only when they are visible.
But form validator trying to validate them while hidden or disabled.

It may not to be a bug but may be considered as an improvement.

Thanks a lot for suggestion, i'll be looking on forums or somewhere else.

[2016-10-13 08:34] #6872 closed, assigned to nobody

[2016-10-13 08:34] PascalBrouwers commented on #4921
@FerrazzzZ  see erikhansen's comment: https://github.com/magento/magento2/issues/4921#issuecomment-247055414

[2016-10-13 08:35] veloraven commented on #6981
@brideo thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-13 08:39] sevos1984 commented on #5376
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-13 08:39] #5376 closed, assigned to sevos1984

[2016-10-13 08:40] veloraven commented on #6797
@djfordz thank you for your feedback.
Could you please explain why do you think this to be Magento issue and not an issue of the extension's import?

[2016-10-13 08:40] sevos1984 commented on #6759
Have you tried disabling varnish or change application mode?

[2016-10-13 08:40] brideo commented on #6981
Hey I'm running Magento 2.0.7 EE, I've found a workaround and don't have time to re-format sorry.

[2016-10-13 08:44] veloraven commented on #6946
@Bartlomiejsz thank you for your report.
However I'm closing this issue as it is a duplicate of #4737.
Please follow mentioned issue for more information.

[2016-10-13 08:44] #6946 closed, assigned to veloraven

[2016-10-13 08:47] cizgidekiadam opened #6983 "JS Error : Getting 'storeCode' of undefined while single store mode enabled"
### Preconditions

1. Magento 2.1.2
### Steps to reproduce

1. Enable Single Store Mode
2. Add product to cart, go to cart
### Expected result

1. No js errors
### Actual result

1. There are an error in console

   <pre>Uncaught TypeError: Cannot read property 'storeCode' of undefined(anonymous function)
   @ url-builder.js:17
   </pre>

   url-builder.js;

   <pre>
   define(
   [
       'jquery

[2016-10-13 08:47] ilol commented on #5808
Will test with Android.
Please clarify Android version and device

[2016-10-13 08:48] veloraven commented on #6975
@dmcmillin thank you for your feedback.
Is your mail server set up properly?

[2016-10-13 08:49] irenelagno commented on #5434
@Ctucker9233 This fix will be delivered to 2.1 in the scope of  MAGETWO-59036 and to 2.0 MAGETWO-59035

[2016-10-13 08:49] PierAlex commented on #5218
@paales Do you pls remember where i have to look to fix this last problem? It will be very helpful.
Thanks in advance

[2016-10-13 08:50] ilol commented on #6980
Didn`t you setup cron?

[2016-10-13 08:50] paales commented on #5218
@PierAlex I asked, eventually it was just a setting.. 😛

[2016-10-13 09:03] lucscu commented on #5222
Also after run reindex products with website = 1 remains in cataloginventory_stock_status

[2016-10-13 09:07] djlspeed commented on #6372
As mentioned above, I had the same problem.
Removing all repositories (with the exception of repo.magento.com) from the composer.json, proceeding to the next step and reentering the repositories again (as otherwise the readiness check would fail with composer errors) did the trick for me.
Did you try this?

[2016-10-13 09:16] slavvka commented on #6863
This is a magic method. There's setter setShowAddressFields in \Magento\Multishipping\Controller\Checkout\Register

[2016-10-13 09:16] #6863 closed, assigned to nobody

[2016-10-13 09:29] koenner01 opened #6984 "CatalogImportExport multiselect values will fail validation with custom multiValueSeperator"
If you are trying to import product data with the CatalogImportExport interface, validation on multiselect attributes will fail if you are using a multi value separator different from '|'.
### Preconditions
1. Magento 2.1
2. PHP7.0
### Steps to reproduce
1. Create a catalog_product csv that contains product data and at least 1 multiselect attribute with 2 options (and separate them with custom sep

[2016-10-13 09:41] joost-florijn-kega opened #6985 "Catalog Products List widget: Sku chooser grid not showing when editing an existing condition for the attribute SKU"
### Preconditions
1. branch develop HEAD
2. PHP 7
### Steps to reproduce
1. Create a new 'Catalog products widget' with a condition for attribute SKU.
2. Save and Reopen the widget.
3. Change the select SKU's by opening the sku chooser grid.
### Expected result
1. Visible sku chooser grid with the selected SKU's preselected.
### Actual result
1. The loader mask is removed but no sku chooser grid i

[2016-10-13 09:48] florinserbu2 commented on #6720
I am also having this issue and I have temporary fixed by extending the
`\Magento\Review\Block\Adminhtml\Product\Grid` and set the pageSize on the collection:

` protected function _prepareCollection()
    {
        parent::_prepareCollection();
        $this->getCollection()->setPageSize((int)$this->getParam($this->getVarNameLimit(), $this->_defaultLimit));
    }`

[2016-10-13 09:51] koenner01 commented on #6984
Little addendum to this; There are 4 files where this hardcoded separator value is being (mis)used

\Magento\CatalogImportExport\Model\Export\Product
\Magento\CatalogImportExport\Model\Import\Product\Option
\Magento\CatalogImportExport\Model\Import\Product\Type\AbstractType
\Magento\CatalogImportExport\Model\Import\Product\Validator

They should all be fixed.

[2016-10-13 09:55] Microstudioweb commented on #5423
@OmarFaruque I had install via browser.

UberTheme on magento community post a workaround that fix this issue, here you can see how fix it:
https://community.magento.com/t5/Installing-Magento-2/After-Migration-Products-not-showing-on-Frontend/td-p/42005

[2016-10-13 10:01] slavvka commented on #4662
Could you please clarify do you save a new customer or an existent one?

[2016-10-13 10:03] SerhiyShkolyarenko commented on #4340
Didn't reproduce on 2.0.9.
@Victor4G as preconditions to the steps I enabled several currencies and created exchange rates for them. Is the issue still reproducible for you?

[2016-10-13 10:05] florinserbu2 commented on #6720
in order to temporary fix this you need to extend `\Magento\Review\Block\Adminhtml\Product\Grid` and rewrite `_prepareCollection()` :

[code]

[2016-10-13 10:10] salelsol commented on #6932
- Fixed, go to Asynchronous Grid and "Disable" in Advanced/Developer/Grid Settings: Set Asynchronous Indexing to “Disable”, flush cache, and check again.

[2016-10-13 10:18] PieterCappelle commented on #4883
Remains unsolved in 2.1.2.

[2016-10-13 10:19] cscd98 opened #6986 "Area code is not set"
bin/magento setup:upgrade

[code]

[2016-10-13 10:26] kumarancontus opened #6987 "Image delete issue"
I am currently working in Magento2.1.1 for product image delete from frontend but after I deleting the image pro-grammatically from frontend its not removing from media folder. Also I am using the below code

Code :

 public function removeImageForProduct($productId, $imagesIds) {
        if (count ( $imagesIds ) >= 1) {
            array_unique ( $imagesIds );
            $objectManager = \Magent

[2016-10-13 10:29] ankursachdeva11 opened #6988 "Bundle product order - create invoice via REST API"
We are trying to create invoice for bundle product used in order by using
/V1/order/:orderId/invoice : POST method API.
### Preconditions
1. Magento Development ver. 2.2.0-dev
2. Magento Released ver. 2.1.2 CE
### Steps to reproduce
1. Create an Order using Bundle item
2. try to create invoice using /V1/order/:orderId/invoice : POST method API with bundle product order item id.
3. try to create in

[2016-10-13 10:39] tkacheva commented on #6106
internal issue MAGETWO-59661

[2016-10-13 10:53] timneill commented on #5762
@rsetht @danny3388 @Ctucker9233

you can find the limit() statements on these lines:
- https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/ResourceModel/Product/LinkedProductSelectBuilderByBasePrice.php#L88
- https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/ResourceModel/Product/LinkedProductSelectBuilderBySpecialPrice.php#L129
- https://g

[2016-10-13 10:55] olysenko commented on #6807
Hi,
this issue duplicates  [#4000](https://github.com/magento/magento2/issues/4000). Fix was delivered into [develop ](https://github.com/magento/magento2/tree/develop) branch.

[2016-10-13 10:55] #6807 closed, assigned to nobody

[2016-10-13 11:17] OmarFaruque commented on #5423
Thanks i will see :)

[2016-10-13 11:18] olysenko commented on #6954
Hi, internal ticket was created MAGETWO-59719

[2016-10-13 11:18] PaperDS commented on #5302
So will this issue be reopened?

[2016-10-13 11:20] kumarancontus commented on #6955
I am also having the same issue.

Any luck?

[2016-10-13 11:49] harsh-persistent opened #6991 "REST API Documentation"
### Preconditions

1. Magento version 2.1
2.
### Steps to reproduce

1. Create a 'product' using /V1/products API with name and sku.
2. It should throw an error.
3.
   ![image](https://cloud.githubusercontent.com/assets/17979940/19347900/dc7fc358-9168-11e6-8940-e48d0f0c0d10.png)
### Expected result

1. As per the swagger JSON, only sku is mandatory field. So it should have created a product with s

[2016-10-13 11:50] olysenko commented on #6597
Hi,
internal ticket is created MAGETWO-58663

[2016-10-13 12:09] anton-huz commented on #2843
Not a bug. See [comment](https://github.com/magento/magento2/issues/6409#issuecomment-252253591) to #6409;

[2016-10-13 12:09] #2843 closed, assigned to nobody

[2016-10-13 12:13] djfordz commented on #6797
Are you saying the product could possibly be imported incorrectly? I will have to look into this, as I just assumed since the product was already imported and disconnected from M2ePro, that it was a Magento issue, however my assumptions do seem to get me in trouble lately.  I'll troubleshoot this issue further and give you an update.

[2016-10-13 12:17] ewallkrishnaprakash commented on #6422
I also face the same error.

Hi ,

I have upgrade my magento from 2.0.7 to 2.1.1.
After that i face error in the following scenario.
-> I was add configurable product with 5 child products (combination of colors and sizes).
-> After that if any one of the child product is goes to out of stock.
-> When open respective category (Ie., the configurable product associated with which category) in front-

[2016-10-13 12:17] PascalBrouwers commented on #3202
Seeing that isPrivateScope is no longer supported (http://devdocs.magento.com/guides/v2.0/config-guide/cache/cache-priv-priv.html) can we remove this option? Because now it is too confusing. I expected a FPC block hole punch but it makes the whole page uncached.

[2016-10-13 12:41] tookuul-owner commented on #6409
@guz-anton thanks for the detailed response. I admit that I am new to Magento so I am talking with no authority here. Just take my comments as those of a simple user experiencing Magento for the first time.
- This is caused by browser cache : not really. I installed Magento for the first time ever and experienced this problem. It was fixed after I removed pub/static/frontend and pub/static/adminht

[2016-10-13 12:52] amarroni commented on #6977
Something I didn't mentioned is if you used check on money method the order is completed successfully.

Best,
Alejandro.

[2016-10-13 13:05] koenner01 opened #6992 "CatalogImportExport categoryProcessor is using default store id values"
When importing product data through the catalogImportExport module, new categories will be created even though categories with the correct path already exist.
### Preconditions
1. Magento 2.1
2. PHP7.0
### Steps to reproduce
1. Create a category 'Test'
2. Set the category name to something completely different on default storeview
3. Create a csv with catalog product data
4. Set 'Default Category/

[2016-10-13 13:15] cowmix88 commented on #4321
I'm on the latest 2.1.1 in production mode and enabling Merge Css makes the whole site crawl. I also have the Porto theme so maybe its related to the issue.

[2016-10-13 13:27] PiscesThankIT commented on #5279
General > Country Options > State Options > Allow to Choose State if It is Optional for Country
It doesn't work too.

[2016-10-13 13:40] slavvka commented on #5352
@timbaker1991, unfortunately no.

[2016-10-13 13:53] slackerzz commented on #4697
@guz-anton i've just upgraded from 2.1.1 to 2.1.2 and my themes.js just got overwritten again....
when do you think will be available themes.loc.js config file?

[2016-10-13 13:57] paales commented on #2671
I was having trouble when adding a third party profiler.

Line of code causing this issue: https://github.com/magento/magento2/blob/1ade3b769a937f19682bbbe4e51b6c956147952f/lib/internal/Magento/Framework/App/ObjectManagerFactory.php#L148-L159

[2016-10-13 14:20] hiephm commented on #4662
@slavvka it's existent customer, that why I expected `$customer->getOrigData()` should return original data. This behavior (likely a bug) is simply because customer is never loaded.

[2016-10-13 14:22] NNarendraReddy opened #6993 "Purchase Date is not displaying in sales order admin grid after datamigration from Magento 1.9.2.3 to Magento 2.1.0"
### Preconditions
migrate from Magento 1.9.2.3 to Magento 2.1.0

### Steps to reproduce
I checked in
1.`vendor\magento\module-sales\view\adminhtml\ui_component\sales_order_grid.xml` also

[code]
1. In database level column name is `created_at`.<br/>
2. I did reindex also but its not displaying.<br/>
   ![purchasedate](https://cloud.githubusercontent.com/assets/22813559/19352740/9bb70e2e-917e-11e6-

[2016-10-13 14:26] devonto opened #6994 "Typo in message when removing coupon from cart"
There is a typo in the message being displayed to a user when removing a coupon code. One 'l' when it should be two in 'cancelled'.

`\vendor\magento\module-checkout\Controller\Cart\CouponPost.php` line 137 is currently:

`$this->messageManager->addSuccess(__('You canceled the coupon code.'));`

And should be:
`$this->messageManager->addSuccess(__('You cancelled the coupon code.'));`

[2016-10-13 14:28] tkn98 commented on #4883
@PieterCappelle: Yes, no change with that patch. We're trying hard on our end to technically raise and escalate the issue. However it looks like that Magento (the vendor) is (currently) blocked by the load in it's queue. I wish the vendor have taken more care about translation (everything not in en_US) from the very beginning.

[2016-10-13 14:31] SerhiyShkolyarenko commented on #6932
@shanevbg I performed the steps:
set up 2.0.9
created 2 orders
changed code to 2.1.1
`rm -rf var/*`
`./bin/magento setup:upgrade`
`rm -rf var/*`
`./bin/magento cron:run` (twice)
created new order
All 3 orders are displayed in the grid as expected.
Am I doing something wrong? Please, hint me how to reproduce the issue.

[2016-10-13 14:34] ghost commented on #5808
Android 5.1
Chrome 53.0.2785.124

[2016-10-13 14:43] vaimeo commented on #1800
i have problem my user is admin its working fine on Magento admin but not working when i request for token You did not sign in correctly or your account is temporarily disabled.

[2016-10-13 14:47] salelsol opened #6995 "Dashboard "Last 5 Orders" Customer show guest instead of name of guest customer"
Under "Last 5 Orders" Customer column there is many order by guest it doesn´t show the name of guest customer.
![last_orders_dashboard](https://cloud.githubusercontent.com/assets/16081377/19353634/48a550ca-9164-11e6-9f7c-cfe12c85d52f.jpg)

[2016-10-13 14:50] vaimeo commented on #4432
same problem

[2016-10-13 15:02] tommoholmes10 opened #6996 "payment method custom not to sucess page"
I create payment method and Redirect to payment gateway and Redirect to success page
order created but Redirect to shopping cart
**Preconditions**
1. Magento CE Version 2.1.1
2. PHP version 5.6.26-1
3. MySQL version 14.14
4. Macbook pro

**Steps to reproduce**
1. add to cart
2. checkout
3. Redirect to payment gateway
4. Redirect to response page magento
5. Redirect to shopping cart
### Expected re

[2016-10-13 15:04] slavvka commented on #4662
The problem must be fixed on the latest mainline. Could you please check that? Soon it will be backported to 2.0 and 2.1

[2016-10-13 15:12] soragan commented on #6265
problem still exist in latest 2.1.2, minicart is not updated after adding product using the button in product details page.

[2016-10-13 15:23] pynej opened #6997 "Remove unneeded region definitions from the /checkout page."
### Preconditions
1. Magento 2.1.1
2. PHP 5.6
3. Apache
### Steps to reproduce
1. In admin go to Store > Configuration >  General > Allowed Countries change this list to some limited set.  (We selected only United States for example.)
2. Clear all Magento caches.
3. Go to the Checkout page
### Expected result

1. Template/JSON code embedded in page should not have region_id definitions for all the

[2016-10-13 15:26] jibrandlr commented on #5302
@PaperDS Currently Magento 2.X.X has **hundreds** of issues. So far every release comes with fixes for 5-10 of those issues **plus new ones** of the specific release.
Some of the fixes are already available in the developer branch. That doesn't mean the fixes will be included in the next release. It might take Magento months (years?) to include those fixes in an "official" release.
You have 3 opti

[2016-10-13 15:26] choukalos commented on #6979
Tracking internally as MAGETWO-59138

[2016-10-13 15:42] kcarm8 commented on #6933
Thanks for your response @lilmuckers.  I've commented out where the errors where added.  Although the errors did go away, the subsequent child products after the first one were not added to the configurable product.

[2016-10-13 16:11] xSevithx commented on #6929
I am receiving the same error as well. I am disappointed with this software, this is the first choice of e commerce software I have tried, and I am debating to switch. I CAN say, that given the bugs in this version, there is no way I will get a license for EE. No way. Bugs on adding items into the catalog I had to circumvent myself. Now I cant checkout because I get an error. I have checked every

[2016-10-13 16:34] ghost commented on #5302
Are there as many issues with EE?

[2016-10-13 16:44] timbits07 commented on #6980
I have a local development environment, a staging environment and a production one.  The only staging and production environments have crons set up and they are not showing the design update on product pages either.

I understand that the scheduled design update would depend on the cron, but the feature in my screenshot below doesn't seem like it would.
https://cl.ly/1g1E2h142W0q

[2016-10-13 17:38] jibrandlr commented on #5302
@jupiter01 I don't know really (i'm not a Magento employee). My previous comment is based on my experience so far using Magento 2 CE  and the number of issues reported already in github by the community.

[2016-10-13 17:42] ghost commented on #5836
@gman-1986 I just upgraded from 2.1.1 to 2.1.2 and this issue is not fixed.

[2016-10-13 17:49] ghost commented on #6426
Also had this issue when upgrading from 2.1.1 to 2.1.2.

[2016-10-13 20:02] choukalos commented on #6763
Hi @avonheimburg what version of Magento are you on?

[2016-10-13 20:31] jalogut commented on #649
I needed exactly that for a project. Also noticed that it would be very convenient to easily resize images on our custom and third party modules depending on the Project design. For that reason, we created a module to resize images just calling a method.
You can check it out here:
https://github.com/staempfli/magento2-module-image-resizer

[2016-10-13 20:39] jvreeken commented on #5642
Not fixed in v2.1.2
I am still getting:
"An error occurred on the server. Please try to place the order again."

Console shows 400 (Bad Request)

[2016-10-13 20:52] Ctucker9233 commented on #5943
@veloraven @duhon @magento-team Any updates on this issue? Would like to know when a fix is estimated.

[2016-10-13 23:17] brianschroeter commented on #5642
Confirmed. I'm still receiving the error after the latest upgrade as well.

[2016-10-13 23:20] Sunilkanigalupula commented on #5421
Recently I updated 2.0.6 to 2.1.2 after that my admn panel doesn't show anything on blocks and pages and configurations.
I was updated following conditions:
1)PHP bin/magneto setup:upgrade
2)PHP bin/magneto setup:static-content:deploy
3)file permissions

But still I am facing problem
Please any one help me to figure out this
Thanks in advance

[2016-10-13 23:47] paales opened #6999 "Performance: getConfigurableAttributes cache is broken"
### Preconditions

1. 2.1.2
2. Have configurables
### Steps to reproduce

1. After loading the configurable attributes it stores the result in the cache.
2. After loading the second time it tries to load it from the cache, but the `hasCacheData` method always returns false
### Expected result

1. Should use cache
### Actual result

1. Doesn't use cache

The two selected lines should be replaced:
h

[2016-10-14 01:36] shanevbg commented on #6932
It seems that I had to run the cron job twice (I did not do the other steps you did just to try and figure out if it was something simple).
`sudo -H -u www-data bin/magento cron:run`
This is perplexing because I do have the cron job setup and I  tested running it.
You can close this issue as far as I am concerned.

[2016-10-14 01:36] shahankitb997 commented on #6955
Hi @kumarancontus Nope still issue? They didn't solve yet. Waiting for their Reply

[2016-10-14 01:36] shanevbg commented on #6932
**THANKS! THAT WAS IT**
It seems that I had to run the cron job twice (I did not do the other steps you did just to try and figure out if it was something simple).
`sudo -H -u www-data bin/magento cron:run`
This is perplexing because I do have the cron job setup and I  tested running it.

[2016-10-14 01:36] #6932 closed, assigned to nobody

[2016-10-14 01:37] tehXor opened #7000 "Braintree doesn't work when PayPal is enabled and no shipping is required"
### Steps to reproduce

1. Install Magento 2.1.2
2. Configure Braintree and enable Credit Card as well as PayPal with Braintree
3. In the frontend add only downloadable products to your cart (where no hardware shipping is required)
4. Try to place the order
### Expected result
1. On the selection screen for payment methods you should be able to select credit card as well as PayPal
2. When you sele

[2016-10-14 01:50] shanevbg commented on #6994
http://grammarist.com/spelling/cancel/
In American English, the verb cancel is usually inflected canceled and canceling—with one l. This is not a rule, however, and exceptions are easily found. In varieties of English from outside the U.S., including Canadian, British, and Australian English, cancelled and cancelling are the preferred spellings.

[2016-10-14 02:14] shanevbg commented on #6429
I think that sometimes people miss a step when upgrading Magento from the command line
Here are the commands I run (after doing a backup of the server)
[First command is because Magento overwrites my .htaccess and I have to make sure the settings are correct after]
'cp .htaccess htaccess.sav`
`sudo -H -u www-data bin/magento maintenance:enable`
`sudo -H -u www-data composer require magento/product

[2016-10-14 02:52] shanevbg opened #7001 "Web setup wizard undefined index: name"
When I try to do a system upgrade using the web interface (not the CLI, that works fine)
I get the following an Undefined index: name error
![image](https://cloud.githubusercontent.com/assets/1959446/19374399/e7df68be-91d3-11e6-8e49-4572aff1abcb.png)
### Preconditions
1. Magento 2.1.2, MySql 5.7.15
2. `php -v`
   `PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
   Copyright (c) 1997-2016 The PHP Group

[2016-10-14 03:07] shanevbg commented on #6987
@kumarancontus this looks like it's the same as #6955

[2016-10-14 03:22] ctadlock commented on #6865
I am having this same issue. I believe the issue is caused when the secure and insecure are using different ports.

#### Environment

MacOS 10.12, Apache 2.4, PHP7

#### Magento Install Script

[code]

#### Apache Conf

[code]

[2016-10-14 03:24] shanevbg commented on #7001
Duplicate of #6372, resolved by removing extra repositories from composer.json

[2016-10-14 03:24] #7001 closed, assigned to nobody

[2016-10-14 03:28] shanevbg commented on #6737
I have the same problem but a different console error
`angular.js:7715 GET https://MYSITE/setup/index.php/componentGrid/components 500 ()(anonymous function) @ angular.js:7715A @ angular.js:7429f @ angular.js:7214D @ angular.js:10168D @ angular.js:10168(anonymous function) @ angular.js:10940$eval @ angular.js:12703$digest @ angular.js:12126$apply @ angular.js:12728f @ angular.js:7321x @ angular.js

[2016-10-14 03:47] ctadlock commented on #6865
Im not sure what the correct fix for this is. But in the code below if you replace `Store::XML_PATH_UNSECURE_BASE_URL` with `Store::XML_PATH_SECURE_BASE_URL`, it all works great.

https://github.com/magento/magento2/blob/develop/app/code/Magento/Backend/App/Area/FrontNameResolver.php#L99

[2016-10-14 04:58] Gammatesting123 commented on #5642
Not fixed in v2.1.2
I am still getting:
"An error occurred on the server. Please try to place the order again."

Console shows 400 (Bad Request)...still wait for the solution of this error.

[2016-10-14 05:06] RafalR86 opened #7002 "In magento 2.1.1 coupon code doesn't work"
In Magento 2.1.1 the coupon code doesn't work. I've checked it in customer store and clear magento 2.1.1 installation. When i try apply coupon code then i have error "Coupon code is not valid". Below are my shopping cart price rule settings:

"Rule Information" Tab

Rule Name: test
Active: Yes
Websites: Main Website
Customer Groups: all possible groups are checked
Coupon: Specific Coupon
Coupon Co

[2016-10-14 05:38] devonto commented on #6994
@shanevbg Thanks.

Might it then be more appropriate to build an official en_GB translation pack for these nuances?

[2016-10-14 06:07] shoguniphicus commented on #4432
Has no one found a solution to this yet? Why is there no simple way to unlock customer?
For anyone who faces this problem and needed to move ahead first, just head over to
vendor/magento/module-integration/Model/CustomerTokenService.php
Put this
$this->getRequestThrottler()->resetAuthenticationFailuresCount($username, RequestThrottler::USER_TYPE_CUSTOMER);

before
$this->getRequestThrottler()->thr

[2016-10-14 06:33] muhsin-k opened #7003 "Magento 2.0 REST, Get all option labels for a configurable product"
When i call this API,

**Get all options for configurable product**
[{{base_url}}index.php/rest/V1/configurable-products/:sku/options/all
]()
I am getting  a response like this,

[code]

But i want label for all these value_indexes.Could i get all these values in  a single request

[2016-10-14 06:38] rishabhrkrai commented on #6265
I face the same issue. If i added the product from product page, mini cart shows no item in cart but if i added product from category page mini cart shown product with previously added product items.
 I use Magento 2.1.1.
Is there any fix for that??

[2016-10-14 06:54] keyurshah commented on #6955
I read somewhere that magento by design doesn't delete images from the folder when you remove from the admin.

The reasoning is that some images might be used elsewhere in the system and deleting would cause a chain reaction of missing images.

[2016-10-14 07:01] kumarancontus commented on #6955
Thanks for your response.

I had done it like below and it worked fine. Please try in your end

Code :

public function removeImageForProduct($productId, $imagesIds) {
        if (count ( $imagesIds ) >= 1) {
            array_unique ( $imagesIds );
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance ();
            $product = $objectManager->get('Magento\Catalog\Model\P

[2016-10-14 07:02] kumarancontus commented on #6987
I had done it like below and it worked fine. Please try in your end

Code :

public function removeImageForProduct($productId, $imagesIds) {
if (count ( $imagesIds ) >= 1) {
array_unique ( $imagesIds );
$objectManager = \Magento\Framework\App\ObjectManager::getInstance ();
$product = $objectManager->get('Magento\Catalog\Model\Product')->load($productId);
$images = $product->getMediaGalleryImages()

[2016-10-14 07:39] sebastian-ehrling opened #7004 "mini cart is not working magento 2 (doesn't refresh)"
### Preconditions

Magento CE 2.1.2 with sample data is installed.
PHP 7.0.10
MySQL 5.6
OS: Mac OS & Cent OS
### Steps to reproduce
1. go to product detail page oder product list
2. press add to cart Button
3. --> Mini cart will not be refreshed
4. open url http://shopdomain/checkout/cart directly --> you will see all items in cart and mini cart is working

No error in browser console, logfiles or

[2016-10-14 08:02] kanduvisla opened #7005 "M2.1.2 : Cron throws error that Schedule cannot be converted to int"
I have a custom cron which tries to run a method on a Helper class every 5 minutes, but it doesn't run. When I look in the database I see there is an error with the following message:

### Preconditions
- Magento 2.1.2

`crontab.xml`:

[code]

The class in question exists and the method `processQueue` exists and looks something like this:

[code]
### Expected result

That the cron runs every 5 min

[2016-10-14 08:20] robmagento opened #7006 "Can't save order status label"
### Preconditions

1. Magento 2.1.1 CE
2. nginx, PHP 7.0.10, MySQL 5.7.11
### Steps to reproduce

1. Admin > Stores > Order Status > click on one from the list > try to add new labels for a certain store view > click save
### Expected result

1. New labels should be stored in db.
### Actual result

1. New label values are not stored in db

[2016-10-14 08:24] flipflap opened #7007 "Guest checkout is not there (Magento 2.1.1)"
### Preconditions

1. Magento 2.1.1
2. Config > Sales > Checkout > Allow Guest Checkout is Yes
### Steps to reproduce

1. Check out without login as guest
### Expected result

1. Shipping address shoud appear, but login field shows up. No way to continue as guest.
### Actual result

1.
   ![image](https://cloud.githubusercontent.com/assets/6672673/19380639/5d12eaf6-91f8-11e6-992c-71bf9eb6eb2d.png)

[2016-10-14 08:43] AntonEvers commented on #5977
The problem lies here https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/View/Asset/File/FallbackContext.php#L106 and here https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/HTTP/PhpEnvironment/Request.php#L412

While running the `magento setup:static-content:deploy` command `$_SERVER['HTTPS']` and `$_SERVER['SERVER_PORT']` are not set so the gener

[2016-10-14 08:54] delyriand opened #7008 "[2.1.0] Product attribute : Can not change the value Use "Product Image for Swatch if Possible""
### Preconditions

1. Magento CE 2.1.0 + Sample data
2. PHP 7.0.8
### Steps to reproduce

1. Edit a visual swatch product attribute, for example "color"
2. Change value of "Product Image for Swatch if Possible" to "Yes"
3. Save attribute with "Save and Continue Edit" button
### Expected result

1. Confirmation message "You saved the product attribute."
2. The value of "Product Image for Swatch if

[2016-10-14 09:43] PierAlex commented on #2855
I'm experiencing the same problem of bondimedical3.
My installation is on a VPS, MySql 5.6 PHP 7.08 Ubuntu 14.04 Nginx
Magento CE 2.1

Via SSH or Cron job, i have the same result: New products does not appear in the catalog.

/opt/plesk/php/7.0/bin/php /var/www/vhosts/myhost/bin/magento cron:run | grep -v "Ran jobs by schedule"  >> /var/www/vhosts/myhost/log/magento.cron.log

No messages in the lo

[2016-10-14 09:46] valibus opened #7011 "Unable to create simple variation for configurable product"
Edit: i guess this is linked to #5648 . This is still waiting for update after a bug created the 14th July (3 month ago => wheen will you fix it)
Anyway, i hope this video i make will help all of you to understand our problem.
### Preconditions
1. Magento version 2.1
2. php 7

We want to create configurable product with a variation on a packaging attribute. Due to SEO constraint we use the same pr

[2016-10-14 09:52] ghost commented on #6787
This issue also still exists in Magento 2.1.2

[2016-10-14 09:56] valibus opened #7012 "unable to add a simple product as variation of a configurable product without creating virtual product"
Edit: i guess this is linked to #5648 . This is still waiting for update after a bug created the 14th July (3 month ago => wheen will you fix it)
Anyway, i hope this video i make will help all of you to understand our problem.
### Preconditions
1. Magento 2.1 CE
2. PHP 7
3. having already some simple product created for example : variation 1, variation 2
### Steps to reproduce

1. Go to back offic

[2016-10-14 10:01] bondimedical3 commented on #2855
Make sure you have the 3 cron jobs setup correctly

[2016-10-14 10:02] valibus commented on #5648
When will you fix this problem ?
it has been created 3 month ago, if not already fixed it should have an highest priority.

[2016-10-14 10:19] sneha-sukumaran opened #7013 "Product Attribute set Visible on Catalog Pages on Storefront to No not working"
### Preconditions
1.  Install magento 2.0.7 with sample data
2.
### Steps to reproduce
1. Login to admin
2. Navigate to Stores->Attribute->Product
3. Select color attribute and  set Visible on Catalog Pages on Storefront to Yes
4. After Saving again  set Visible on Catalog Pages on Storefront to No.
### Expected result
1.   Visible on Catalog Pages on Storefront value as No
### Actual result
1.  V

[2016-10-14 10:42] shanevbg commented on #6994
@devonto I would think that would make more sense, than claiming it's "consistent" to use British English piecemeal, for example  colour and color (there are many more examples, but I know Magento uses "color" in places).

http://grammarist.com/spelling/color-colour/
Color and colour are different spellings of the same word. Color is the preferred spelling in American English, and colour is prefer

[2016-10-14 10:50] shanevbg commented on #7004
This seems to be similar to #6265

[2016-10-14 11:27] jakobfdev commented on #5715
Hi, as far as can see the issue still exists in 2.1.2
How do we know, when the fix is delivered to the composer packages?

[2016-10-14 11:44] hocomadvies commented on #4546
Hi,

I experience the spinning wheel issue with a 2.0.9 install. Is there any chance to get that fixed? So I can use the sync option in the Component Manager?
I'm getting
http://my_magento2.com/setup/index.php/componentGrid/sync 500 Internal Server error angular.min.js (line 77)
Is there a way to fix this?

[2016-10-14 11:52] shanevbg commented on #7007
I think this might be fixed in 2.1.2, I just went in and even though I used an already existing email address I was given the option to check out as guest.
I did find that anything that tries to optimize javascript outside of Magento itself seems to cause problems at checkout.

[2016-10-14 12:07] paales commented on #5762
@timneill Don't forget these:
- https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/LinkedProductSelectBuilderByIndexPrice.php
- https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogRule/Model/ResourceModel/Product/LinkedProductSelectBuilderByCatalogRulePrice.php

[2016-10-14 12:20] sebastian-ehrling commented on #7004
yes!

[2016-10-14 12:28] grasdaggel opened #7014 "Magento 2.1.2: Uncaught Error: You cannot apply bindings multiple times to the same element."
### Preconditions

1. Upgraded from 2.0.9 to 2.1.2
2. PHP7
### Steps to reproduce

1. upgrade with composer
2. login into backend
3. check cms pages, blocks or products
### Expected result

1. normal view
### Actual result

1. Console output: Uncaught Error: You cannot apply bindings multiple times to the same element.
2. there is no content that loads, just he console output.
3. On the frontend,

[2016-10-14 12:32] paales opened #7015 "Performance improvement: Swatches cause a huge slowdown on catalog pages."
### Preconditions

1. 2.1.2
### Steps to reproduce

1. Create a category/search page with a lot of configurable products with (image?) swatches
2. Make sure the normal cache is loaded (loading another page)
3. Load the category page.
### Expected result

1. Page should load timely
### Actual result

1. It seems underlying product's images are loaded as well. These images aren't used when rendering

[2016-10-14 12:41] grasdaggel opened #7016 "Depency Problems after rolling back from broken 2.1.2 to 2.0.9"
### Preconditions

1. Used composer to upgrade to 2.1.2 (broken M2 version)
2. Used composer to downgrade to working 2.0.9
### Steps to reproduce

1. Used composer to upgrade to 2.1.2 (broken M2 version)
2. Used composer to downgrade to working 2.0.9
3. deleted all temporary folders and did the setup:upgrade
### Expected result

1. Everything is working again
### Actual result

This output:

[code

[2016-10-14 12:54] grasdaggel commented on #7016
Changing the respective fields in the database, now its throwing this error:

[code]

[2016-10-14 13:21] devhn commented on #6138
Same problem as @allanpaiste. Revealing admin url is a security issue:

`http://domain.com/admin_x8ds75/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvZ2lmdGNhcmRzL3Rlc3QuanBnIn19/key/33b667a795c3983972e19c299be458e89007ce028ff3c58cbe264eabadee061a/`

We have a lot of product descriptions which show a broken image and it happens only when administrator log's out from Magento admin.

[2016-10-14 13:38] antbates91 opened #7017 "Catalog Page Layered Navigation Does Not Work As expected with Elasticsearch"
### Preconditions

1. PHP 7.0.7
2. MySQL 5.6
3. Magento EE Tag 2.1
4. Elastic Search 1.1.2
### Steps to reproduce

1. Enable Elasticsearch in the Magento Backend.
2. Flush Cache and Reindex.
### Expected result

1. When I select Size: 7, Colour: Dirty Buck, and Brand: Sanders the result list should contain everything that is Size 7 and a colour of Dirty Buck with a Brand of Sanders.
### Actual res

[2016-10-14 13:41] avonheimburg commented on #6763
Magento 2.1.0

[2016-10-14 13:44] hshar7 commented on #4432
A lot of comments here. Reopening

[2016-10-14 13:57] lucscu commented on #6018
@jupiter01 do you have a magic zoom deployed on a demo site?

[2016-10-14 14:00] lucscu commented on #1238
@asavchenko thx for your code, i just fix it with @daniel-ifrim code

[2016-10-14 14:06] buskamuza commented on #5392
@shyandsy , do you have the same resources missing or different ones?

[2016-10-14 14:16] lucscu commented on #4321
@cowmix88 do you set both nginx and magento to production mode? All things work good on my 2.1

[2016-10-14 14:41] bartoszkubicki opened #7018 "Products Views Report - one visit adds two views"
### Preconditions

1. I use Magento 2.1.1 + PHP 7.0.
### Steps to reproduce

1. I have visited product page.
2. Then I have refreshed report in admin: `reports/report_product/viewed/`
### Expected result

1. One visit on product page = one view.
### Actual result

1.  Every visit is counted double. If I have visited product three times it is counted as six.
2. In table `report_event` with every vi

[2016-10-14 14:46] ghost commented on #6018
No, a quick google will bring up the magic zoom website, they have live demos there.

[2016-10-14 14:54] AntonEvers commented on #7006
The problem is that in \Magento\Sales\Controller\Adminhtml\Order\Status\Save::execute after order status load the order status is missing the label data.

\Magento\Framework\Model\ResourceModel\Db\AbstractDb::save checks if the data that was present on load is changed. It hasn't. But data is added. And that does not count in the isModified check there. So the order status is considered as not modi

[2016-10-14 14:58] sparrowek opened #7019 "ProductRepository always assigns product to default website"
When saving a product through ProductRepository product is always assigned to a default store.
So you cannot have it not assigned to any website like this: $product->setWebsiteIds(array()) - although it is possible through admin interface - you can easily unclick all websites and save. It is also possible through $product->save() method.
The code behind this phenomenon is in the method ProductRepo

[2016-10-14 14:58] Thanh1010 commented on #6610
100000000 limit price as inappropriate.
My countries Vietnam 1 us, the product is up to hundreds of millions is normal (greater inflation ). We desire no limit on the price to be listed them for more than 100 million. Current price is limited to only 100 million is inappropriate and cart are also limited. thank you !

[2016-10-14 15:09] AntonEvers commented on #7006
@robmagento as a workaround you can edit the main label as well and save it with the store labels. Then edit it back once the labels are in place. This will work.

[2016-10-14 15:11] AntonEvers commented on #7006
I'll see if I can make a pull request so that this code will include the store values of the labels.

\Magento\Sales\Controller\Adminhtml\Order\Status\Save::execute

[code]

[2016-10-14 15:16] robmagento commented on #7006
Your workaround... works :). Thank you, I did not have the time to investigate this.

[2016-10-14 15:20] andidhouse commented on #6018
You can download the M2 demo of magic zoom on the website - install it in 2 minutes and test it.
Can you pls share your results on mobile here?

[2016-10-14 15:20] AntonEvers commented on #7006
There you go ;)

[2016-10-14 15:41] Flamestyle commented on #1146
This is big problem! Robots.txt and sitemap.hml always located in root directory. What are the solutions? Why Magento ignores this error? I am more and more disappointed in Magento 2!

[2016-10-14 15:52] lucscu commented on #6018
@jupiter01 ok
@andidhouse for now i'll continue with default fotorama, but when i'll test magic zoom i'll give here a feedback

[2016-10-14 16:16] MaximKitsenko commented on #6439
@SerhiyShkolyarenko @veloraven  Sorry for delay. I had vacation. The code i provided above is generated by Visual Studio, that means that your wsdl is incorrect, wsdl says generate 'createdat' instead of 'created_AT'.
So, looks like you have incorrect WSDL -> that leads to incorrect models -> that leads to topic

![chrome_2016-10-14_17-47-08](https://cloud.githubusercontent.com/assets/4807486/1939

[2016-10-14 16:49] blizzardengle opened #7022 "Unable to enter shipping information for an order / Unable to close an open order"
### Preconditions
1. Magento 2.1.1 that has been incrementally updated from Magento 2.0.1 not using composer (Zip files and SSH)
2. PHP 5.6.24
   3 MySQL 5.6.34
### Steps to reproduce

I only started to test orders once we got to Magento 2.1 and I have no clue when or what triggered this. Simply going into the orders and trying to ship them triggers this error/ bug.

See attached images for the vi

[2016-10-14 17:08] razbakov opened #7023 "Unable to show value of product attribute of type file in magento2 backend"
As Administrator I want to be able to upload files for each products in order to show link on frontend.
### Preconditions

Magento 2.1
### Steps to reproduce

I created upgrade script to create attribute with this properties:

[code]

Here is my backend model:

<?php

[code]

**Question on Stackoverflow:**

http://magento.stackexchange.com/questions/140347/show-value-of-product-attribute-of-type-f

[2016-10-14 17:30] Ctucker9233 commented on #5423
@tkacheva The steps as far as I can tell to upgrade using the compressed .zip file are as follows...
1. download compressed .zip archive
2. move compressed .zip archive to server root folder (public_html) where magento 2 is installed.
3. open CLI and login as user with root privileges
4. run command cd <magento root> in my case, public_html
5. run command unzip <file name of compressed archive> Th

[2016-10-14 17:41] jakobfdev commented on #6063
+1
This is especially annoying with commands, where you need to check if the area code is set before executing and you have to catch unnecessary exceptions upon execute.
Any progress? No need?

[2016-10-14 18:00] frostshoxx opened #7024 "Unable to update Magento from version 2.1.1 to 2.1.2 due to "We cannot retrieve information on magento/product-community-edition.""
### Preconditions

1. Magento version 2.1.1
2. PHP 7.0.11
3. MySQL 5.6
### Steps to reproduce

1. Login as an admin
2. Go to Web install
3. Go to Update
### Expected result

1. I expect to see the page that will do the check before update
### Actual result

1. On the first page of system upgrade, it just showed me this text in red "We cannot retrieve information on magento/product-community-editio

[2016-10-14 18:05] jvreeken commented on #4822
I was having the same problem.  Migrated a site from 1.9.x to 2 and multiselect attributes have null for backend_model.  saving the attributes would not change the values.

SQL to change would be:
`UPDATE`eav_attribute`SET`backend_model`= 'Magento\\Eav\\Model\\Entity\\Attribute\\Backend\\ArrayBackend' WHERE`attribute_code`= ‘your_attribute_code';`

Replace "your_attribute_code" with the attribute

[2016-10-14 19:02] TGWS2016 opened #7025 "Configurable Product not working after successful upgrade to 2.1.2"
### Preconditions
1.  Magento 2.1.2
### Steps to reproduce
1.  Upgraded from 2.1 to 2.1.2 - no issues reported.
2.  Went to create a new "Configurable Product"
3.  Added the configurations, entered in the images/appropriate values into the configurations
4.  Pressed save, and the configurations are gone.
5. This also happens on a currently saved configurable product, when you go in to view only, t

[2016-10-14 19:49] PieterCappelle commented on #6265
Bug still exists in 2.1.2.

[2016-10-14 19:53] PieterCappelle commented on #5836
Can confirm this is still an issue in 2.1.2. Could this please be added to the Magento Internal Bugtracker. This is critical...

[2016-10-14 20:41] BangEnergy commented on #6917
I had a similar issue and turning on all the magento cache solved the issue me.
Previously there were some cache on and some off.

[2016-10-14 20:53] shyandsy commented on #5392
@buskamuza yes  i do, bueaty girl

[2016-10-14 20:56] erik-augustin commented on #4756
increase mem setting  php solved my problem

[2016-10-14 20:59] AirmanAJK opened #7026 "Interceptor.php generation failure in production mode"
Magento CE 2.1.2

I tracked down a bug in a third party extension where developer mode worked fine, but as soon as I moved to production mode, I was getting server 500 error responses. I tracked the problem down to a slight letter-casing difference in the namespace of a class that would have an Interceptor.php class generated on its behalf by Magento.

I believe errors likes this should show up co

[2016-10-14 21:26] nomuprive commented on #6917
@305david Thanks for the suggestion. I just double checked the Cache Management in the Admin, I have all the cache enabled under Cache Management. So I doubt if that is the cause in my situation. Screenshot here http://prntscr.com/ctxikj

[2016-10-14 21:28] Ctucker9233 commented on #5948
@mjankiewicz Looks like a cool module. But I can't use composer. Do you have a .zip version?

[2016-10-14 21:37] mjankiewicz commented on #5948
thx.

1) https://github.com/mjankiewicz/MagentoConfigurableProduct
2) ![magento](https://cloud.githubusercontent.com/assets/1465174/19403369/1bc5f01a-9267-11e6-8899-3d8d25c8bf41.png)

[2016-10-14 21:47] mgomez-dgt commented on #6713
after updated magento 2.1.2 same problem, Fix this please!

[2016-10-14 21:48] diybook opened #7027 "Layered navigation with Multiple Select and Filterable (with results) broken"
Layered navigation do not show the attribute when using a multiple select attribute where more than one option is selected in the product.
### Preconditions
1. Magento Version 2.1.0
### Steps to reproduce

I have added an multiple select attribute with the settings:  filterable (with results)
There are two options defined: option 1 and option 2

There are also two products in the database for the

[2016-10-14 22:25] paales commented on #6843
Is fixed in 2.1.1!

[2016-10-14 22:25] #6843 closed, assigned to nobody

[2016-10-14 22:45] pboisvert commented on #6713
@mgomez-dgt we will need to reproduce the bug before it can be scheduled to be fixed. What is the impact of this bug? In other words what problem does the display of qty 1.00 vs 1 cause for you?

[2016-10-14 23:34] cowmix88 commented on #4321
I have Magento is set to production mode through command line and no mode settings in nginx. Do I need to set the mode in nginx as well?

[2016-10-15 00:14] cowmix88 commented on #4321
Pages take less than a second to load normally, as soon as I enable the merge css setting in config it jumps to 5+ seconds, turn it off again and pages return to taking less than a second.

[2016-10-15 00:37] epadmin commented on #5948
thanks for your help guys.   At this point we are scrapping our attempts for an M2 site and starting over with an M1 site.

[2016-10-15 02:44] TheNavigat opened #7028 "DbValidator will fail even if required privileges are granted"
Magento version: Latest version as I type this. PHP's version and MySQL versions: latest as well.

To reproduce, update Magento's MySQL user's privileges and grant the user all privileges then try using the Magento web platform.

What's expected is that the website will work correctly. What happens is that an exception is raised at https://github.com/magento/magento2/blob/develop/setup/src/Magento

[2016-10-15 03:52] swordsreversed commented on #2504
Same problem, same fix. Thanks @iget-esoares.

[2016-10-15 05:48] briceyang opened #7029 "There is a problem about opening Create New Customer Account page with chrome"
### Preconditions

1. The interface will change, when you type first name and  then click TAB key.
2. This case is found with chrome
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-10-15 07:36] manhao-chen commented on #5330
i first started to build an integration with 2.0.2 and now i've just installed a fresh copy of 2.1.2 i can't generate any wsdl for other modules http://devdocs.magento.com/guides/v2.0/soap/bk-soap.html

we really need to be able to generate the modules so we could generate the classes for .net

[2016-10-15 07:56] manhao-chen commented on #5330
i was building an integration on 2.0.2 using soap  c#, now i just updated to 2.1.2 all the soap modules are gone, i've enabled the allow anonymous web api thing,

i got
- integrationAdminTokenServiceV1
- storeStoreRepositoryV1
- catalogInventoryStockRegistryV1
- catalogProductRepositoryV1

still missing
-     customerCustomerRepositoryV1
-     salesOrderRepositoryV1
-     salesOrderManagementV1
-

[2016-10-15 08:24] manhao-chen commented on #6854
i'm experiencing the same issue, REALLY need to generate the necessary intermediate files to write a software pos integration

i was building an integration on 2.0.2 using soap  c#, now i just updated to 2.1.2 all the soap modules are gone, i've enabled the allow anonymous web api thing,

i got
- integrationAdminTokenServiceV1
- storeStoreRepositoryV1
- catalogInventoryStockRegistryV1
- catalogPro

[2016-10-15 09:54] PierAlex commented on #2855
@bondimedical3  did you solve this problem?
I think my jobs are setted up correctly. I receive mail for change passwotrd, orders, newsletters... and I can run upgrades via web setup (Readiness check it's ok for cron jobs).

[2016-10-15 10:51] bondimedical3 commented on #2855
Yes. They fixed the issue with 2.1

[2016-10-15 11:08] nissablagojevic commented on #5762
I've submitted a Pull Request for this issue, hopefully it's accepted and incorporated into the next version.  For now, you can see the #7030 pull request and incorporate the changes into your own magento version.  If you do, test thoroughly, and know that it's entirely at your own risk.   My concern is that this will create performance issues on stores with large numbers of configurable products

[2016-10-15 11:38] mitulispace opened #7031 "Notice undefined index all_resource vendor/magento/module-integration/Controller/Adminhtml/Integration.php"
How To Solve ???
![image001 1](https://cloud.githubusercontent.com/assets/16436069/19409799/f42f1c14-92f9-11e6-9e79-5f9e0736a941.png)

[2016-10-15 14:22] hocomadvies opened #7032 "componentGrid/sync 500 Internal Server error angular.min.js"
Hi,

I experience a spinning wheel issue with a 2.0.9 install (through Installatron) when trying to sync the modules with the market place.
I'm getting http://my_magento2.com/setup/index.php/componentGrid/sync 500 Internal Server error angular.min.js (line 77)

All settings are good for cronjobs and ownership, etc. (tests performed and not giving any errors)

Is there any chance to get that fixed?

[2016-10-15 14:42] shanevbg commented on #7032
This seems to be a duplicate of #6737 so it probably would still be an issue if you were to upgrade.
That said, if you can use the command line, these are the steps I take for a upgrade (other guides seem to miss some points).
Good Luck!
[First command is because Magento overwrites my .htaccess and I have to make sure the settings are correct after]

### DO A BACKUP!!!

`cp .htaccess htaccess.sav`

[2016-10-15 14:48] shanevbg commented on #7029
I just tried this in 2.1.2, and don't have any problems.  I primarily use chrome.
Maybe the console.log will give some more hints.
However. I have found that many web site optimization tools or services (e.g. javascript merging, minification, image optimizer) outside of Magento tend to cause problems, so if you have any of those enabled (you might not know it if you are using a shared/caching serv

[2016-10-15 14:55] shanevbg commented on #7024
Don't know if you can use the command line, but these are the steps I take for a upgrade (other guides seem to miss some points). Maybe if you can do try this, you might get a more coherent error message.
Good Luck!

[First command is because Magento overwrites my .htaccess and I have to make sure the settings are correct after]

### DO A BACKUP!!!

`cp .htaccess htaccess.sav`
`sudo -H -u www-data

[2016-10-15 14:56] shanevbg commented on #7004
@ehrling if this is the same issue as #6265 you probably should comment & close this ticket and post a "I have this same problem!" comment to #6265

[2016-10-15 15:03] shanevbg commented on #7017
I don't see how a third party product that isn't said to be compatible with Magento 2.1.x is a Magento bug (or even the fault of BubbleShop)
![image](https://cloud.githubusercontent.com/assets/1959446/19411006/b52bae1c-9301-11e6-8697-bfeef301ec25.png)

https://www.bubbleshop.net/magento2-elasticsearch.html

[2016-10-15 15:09] kornblumenapotheke commented on #4756
increase mem did not work for me :(
now at 2048M, still in that loop.

[2016-10-15 15:44] JasonFerris commented on #5333
I found this thread when I was asked where these menus went after upgrading to 2.1. We have a pretty complex catalog and losing that left hand menu makes navigating through our product data much more difficult. Maybe add this menu system back with an option to turn off/on?

[2016-10-15 16:02] pboisvert commented on #7031
@mitulispace can you please follow the template in terms of providing steps to reproduce the issue (before you encounter the error) and system configuration info such as OS, PHP version etc..

[2016-10-15 16:19] antbates91 commented on #7017
Where do I mention that I am using BubbleShop? I am using the method as outlined in the documentation here. http://devdocs.magento.com/guides/v2.1/config-guide/elasticsearch/es-overview.html

[2016-10-15 16:33] saqlainraza14 commented on #2534
Thanks @ArniXXX  below Command work well for me.

## **php bin/magento setup:static-content:deploy**

Thanks Bro

[2016-10-15 17:27] mgomez-dgt commented on #6713
It has a visual impact customer

![image](https://cloud.githubusercontent.com/assets/481124/19412188/d409115c-92d5-11e6-8a85-4d069b4f3487.png)

![image](https://cloud.githubusercontent.com/assets/481124/19412190/da88f588-92d5-11e6-88e3-7d17832c37c3.png)

[2016-10-15 17:40] lgoudriaan commented on #5392
You need to run xampp as administrator

[2016-10-15 17:47] pboisvert commented on #6713
so purely aesthetic impact then?

[2016-10-15 17:51] mgomez-dgt commented on #6713
yes

[2016-10-15 17:59] mgomez-dgt commented on #6713
posible solution http://magento.stackexchange.com/questions/109909/magento2-remove-decimal-from-quantity/109913

[2016-10-15 18:11] erikkubica commented on #2732
had same issue, just do php bin/magento setup:static-content:deploy

[2016-10-15 20:22] igoreus-barmaleus commented on #2098
1) Open

`setup/src/Magento/Setup/Console/Command/ModuleUninstallCommand.php`

and replace

[code]

with

[code]

2) Open

`setup/src/Magento/Setup/Model/ModuleUninstaller.php`

and replace

[code]

with

[code]

3) Say "lyaska masyaska"

Note, the solution is not recommended on production server.

[2016-10-15 20:41] Ctucker9233 commented on #6704
@irenelagno Any idea when that fix will be ready?

[2016-10-15 20:58] Ctucker9233 commented on #6817
@SerhiyShkolyarenko can I get the link to MAGETWO-58730 - commit e788a24 ?

[2016-10-15 21:17] Ctucker9233 commented on #6275
@jvreeken It's disappointing. If anyone on the Magento team is reading this, please take some time to fix all know issues/bugs before releasing 2.1.3 or 2.2. It's just common sense to do so.

[2016-10-15 21:26] Ctucker9233 commented on #4921
@FerrazzzZ It appears to be fixed in 2.1.2

[2016-10-15 21:36] cizgidekiadam opened #7033 "Suggestion : 'Used For' column in Email Templates Grid"
### Preconditions

1. Magento 2.1.2
### Steps to reproduce

1. No needs to reproduce
### Expected result

1. If there is a column named 'Used For' for email templates, we can see our custom email templates more clear.
### Actual result

1. No need.

[2016-10-15 22:10] #7025 closed, assigned to nobody

[2016-10-15 22:22] bartoszkubicki commented on #7027
what is data type of attribute? text, varchar?

[2016-10-15 22:22] Grumag commented on #5836
Same problem. 2.1.2. Cron jobs running, no errors. Have to manually reindex. Is anyone working on this?

[2016-10-15 22:25] bartoszkubicki commented on #7018
In fact event is triggered two times, so problem is situated in over-dispatching od event.

[2016-10-15 22:37] bartoszkubicki opened #7034 "FilterList:getFilters() called three times for one category page refresh"
### Preconditions

1. Magento 2.1.1., PHP 7.0
### Steps to reproduce

1. While building plugin (after) on ´Magento\Catalog\Model\Layer\Filterlist´ ->´getFilters() I cleares cache.
2. The I refreshed a category page.
3. Example string in that method was logged three times, so for one refresh of page method is fired three times. After that results are propably cached (no logs while refresh)
### Expe

[2016-10-15 22:57] licentia commented on #6584
File: magento2/app/code/Magento/Quote/Model/Quote/Address/Total/Shipping.php:57

You guys are setting the weight to zero before checking the rule.

[code]

 Move the lines:

[code]

below:

[code]

[2016-10-15 23:00] tehXor commented on #3294
First of all I also would consider this a bug as it is really annoying and therefore should be fixed / handled better imho.

However I doubt the Mage Devs see it as bug as they always declare the code parts were they use `\Magento\Customer\Model\Session` themselves as not cacheable. So it looks like `\Magento\Customer\Model\Session` is not intended to work with cache. I'm not sure if it is true fo

[2016-10-15 23:28] cizgidekiadam commented on #5101
Problem continue with Magento 2.1.2
Fyi

[2016-10-16 00:02] Ctucker9233 commented on #5536
Fixed in develop but wasn't in latest 2.1.2 release.

[2016-10-16 00:19] Ctucker9233 commented on #4883
They should take some time to clear their queue before the next release.

[2016-10-16 03:28] haneef-faisal opened #7035 "2.1.1 - Unable to edit Configurable Product - Error "Registry key "prev_sku" already exists""
### Preconditions

1. Magento CE 2.1.1 on a shared hosting server
2. PHP 5.6.26; SQL
### Steps to reproduce

1. Create a configurable product using any existing or new attribute
2. Try to edit the configurable product and save
### Expected result

1. Should save changes to the product
### Actual result

1. getting Registry key "prev_sku" already exists
   ![configurableproducterror](https://cloud.

[2016-10-16 05:30] povesma commented on #4495
icenero, "customerId is a required field" - that must be a typo. correct parameter name - customer_id .

[2016-10-16 06:33] MagePsycho opened #7036 "Backend Issue - $this->scopeConfig->getValue() not reflecting the admin values"
### Preconditions

1. Magento 2.1.0 EE
2. PHP 7.0.10
3. MySQL 5.6
### Steps to reproduce

1. Create multi-stores
2. Configure different 'Allow Countries' settings for different stores (Configuration > General > Country Options)
3. Go to Admin > Customers > All Customers > Go to any customer edit page
4. In the Addresses section: You will see the different values for Country dropdown
### Expected r

[2016-10-16 06:34] pitangaweb opened #7037 "Reports and date format"
### Preconditions

1. Magento 2.1.1
2. PHP 7.0.12
### Steps to reproduce

1. Create an administrator user, set their language to French (France), and login to the backend using their credentials.
2. Open "Reports" > "Coupon" (or any report) and enter the following dates: October 1st 2016 to October 16th 2016.
3. Try to "display" the report.
### Expected result

1. It should display the report
###

[2016-10-16 06:51] Abuknawu commented on #7027
The datatype is varchar as the multiple select requires.

[2016-10-16 07:53] hocomadvies commented on #7001
Did this solution resolve the hanging Component Manager as well? If so where to find the mentioned file composer.json ?
Thanks

[2016-10-16 08:30] noodlenood commented on #5478
@lewisvoncken
I'm having the same issue, the ico file is not being recognized.
I am also a noob: could you tell me where to exactly enter "line 70"?

Thank you,

[2016-10-16 08:49] bartoszkubicki commented on #2672
Magento 2.1.1 - custom cron job for.third party module was scheduled when i run ´cron:run´ two times. After first it was only some magento default. Executing was possible after third command run. It was set for every minute.

[2016-10-16 10:16] zhxcanada opened #7038 "Magento 2.1.2 New order not display on orders list, only last 5 orders on Dashboard."
When created a new order, it can't list on Sales > Orders, but only can list the last 5 orders on Dashboard. This issue appeared in the 2.1.1. after updated to 2.1.2, it's still there. Please help how to fix this error, Thank you very much.
1.  Magento 2.1.1  and Magento 2.1.2
2. PHP 5.6.28
### Steps to reproduce
1. Add order from test customer ID or created order from admin.
2. The order can chec

[2016-10-16 10:22] T-minus commented on #5836
same issue going on over here for a while now. new to magento so Im not much help, sorry!

[2016-10-16 12:34] shanevbg commented on #7038
I had this same problem (Issue #6932)
run
`sudo -H -u www-data bin/magento setup:cron:run`
two times
That worked for me at least.
@SerhiyShkolyarenko recommended a more through method if that doesn't work

[2016-10-16 12:37] shanevbg commented on #7001
No, this didn't resolve the hanging component manager issue, but there are open issues for that as well (#6621, #6737)

[2016-10-16 12:42] shanevbg commented on #7017
@antbates1991 I apologize.  I didn't see there was another thing called ElasticSearch for Magento.

[2016-10-16 13:30] valukiya07 opened #7039 "Some CSS and JS are not intalled, I am unable to install proper."
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-10-16 14:13] saraomb commented on #815
hi
I have problems to install magento , the install stop at 2%, i got the error ''Unknown module in the requested list: 'Magento_SalesInventory''  but every time it displays diffrent error
who can help me please
the version is 2.0
![Uploading ‏‏magent.PNG…]()

[2016-10-16 14:16] shanevbg commented on #7039
What are the exact steps you took, and what platform, web server, php, etc were you using?

[2016-10-16 14:31] valukiya07 commented on #7039
I am using PHP 7.0.9 in XAMP latest
I've installed via both way
1) using composer
2) using zip extract
I've followed all the installation steps.
I am attaching screenshots of my current issues.

On 16-Oct-2016 7:47 PM, "Shane" notifications@github.com wrote:

[2016-10-16 15:03] sitepodmatt opened #7040 "Trailing Slash in Product URLs No longer working"
We imported an M1 store to a fresh M2 (develop branch) with Magento Data Migration Tools. My clients store used /abc-product/ as the product detail URLs,  the information populated correctly, including request_path in url_rewrite (i.e. trailing slash present), however all URLs 404 when clicked.

In my opinion app/code/Magento/UrlRewrite/Controller/Router.php (L132) should not be right trimming tra

[2016-10-16 17:03] trifectavape commented on #6372
as guys mentioned, edited composer.json and in repositories i had data-migration-tool which installed during migrating my old to new magento sites, i deleted the lines for it and worked perfectly,
Thanks a lot for providing the solution

[2016-10-16 18:03] choukalos commented on #6074
It's not clear this is a bug.

What's your shipping origin set for that website/store view?  Is it set to Germany just like the default tax calculation setting?  Is there a tax rule/rate that's non-zero and applies?  Can you confirm?

[2016-10-16 19:13] mhauri commented on #4232
Would be great to get this released as soon as possible.

[2016-10-16 19:25] povesma opened #7042 "Magento2 REST API: "created" cart is not empty"
### Preconditions

Magento 2.1.2 CE
### Steps to reproduce
1. POST /V1/carts/mine/ with {"customer_id": 10} , returns "76"
2.  PUT /V1/carts/mine/ with
   {
   "customer_id":10,
   "quote":
   {
       "id":76, <---- cart_id
       "items":[
           {
               "sku":"Toast MP3-3",
               "qty":1
           }
       ]
   }
   }
   OK, SKU added to the cart.
3.  now we need to have

[2016-10-16 21:29] deckside opened #7043 "Prices including tax / excluding tax not working"
We need to display VAT a 20% tax at checkout and on invoices.
All product pricing entered via admin already includes VAT tax.
We have the same set up using 1.9.2 and everything works fine.
We are now building our new site using 2.1.2 and it does not work.

Current version Magento 2.1.2 CE,

We have created a the tax zone and tax rate and that works fine.
The problem is the product prices entered i

[2016-10-16 21:57] thanasisgalanis commented on #7024
I had the same issue, for me the problem was in php.ini and especially in parameter
`allow_url_fopen=Off` magento 2 require it to be ΟΝ.

You will be able to check if this solution is for you, if you try to update magento via composer.

[2016-10-16 21:59] brideo opened #7044 "Unable to run integration tests in docker environment"
### Preconditions
1. Magento EE v2.0.7 Installed
2. Docker environment setup with a container per service
3. Tests have been run already
### Steps to reproduce
1. Create an integration test with the `magentoDbIsolation` enabled
2. Login to the server
3. Run test with `../../../vendor/bin/phpunit ../../../app/code/Path/To/SomeTest.php`
### Expected result
1. The test should be run
### Actual result

[2016-10-16 22:22] Sam2k commented on #4756
Hi everybody !

Upgrading to Magento 2.1.2 CE and still have the same problem (infinite spinning Wheel).
PHP memory already set at 2048M ...

@donniesg : trying to reset connection and checking again, but still have this damned Wheel

@ikim-incipio : good luck for exploring Magento code, I can't help you for this hard task

I believe somewhere someone must have solution ... Waiting for this.

Than

[2016-10-17 01:41] shahankitb997 commented on #6955
Hi @kumarancontus Thanks will try. Just do formatting of your code. Thanks a lot for help

[2016-10-17 02:14] sammarcus commented on #5243
@kcarm8 it looks like this was highlighted as [fixed](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.2CE.html) in 2.1.2 CE, is it still an issue for you?

[2016-10-17 05:25] devdesco-ceo commented on #6823
Sure.
I am getting the following error message in console:
DOMException: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "https://endohaus.com" from accessing a cross-origin frame.(…)
May be that is the cause?

[2016-10-17 06:34] bartoszkubicki commented on #6392
I have checked it on 2.1.1. and with FPC disabled and enabled - checking if product is in cart (using checkout session works)

[2016-10-17 06:40] bartoszkubicki commented on #6392
But with full page cache doesn't work block checking if product is in currently logged in customer wishlist. Should I reopen this one or open new issue?

[2016-10-17 06:45] kandy commented on #6979
Duplicate #6850

[2016-10-17 06:45] #6979 closed, assigned to nobody

[2016-10-17 06:48] flipflap commented on #6310
When can we expect this option? It is very important to change config simple products to hast weight as guest checkout fails if they don't have.

[2016-10-17 06:49] kandy commented on #6017
Hi @nmallepally, Can you run commond like
php -f /var/www/magento2 /test123/bin/magento -vvv setup:static-content:deploy en_US fr_FR
and post  full stack of error here

[2016-10-17 07:05] MarkB42 commented on #5330
@manhao-chen Until, or if, the fix this you can modify the source code to comment out the security in the Mage 2.1x source code so you can build the intermediate objects and create integration software via WSDL.

[2016-10-17 07:12] saifalitapawala opened #7046 "checkout Summary issue"
magento version 2.1.2

![checkout_summary](https://cloud.githubusercontent.com/assets/22881238/19428281/d4a251d6-9466-11e6-8a19-fd5fb02e4346.png)

step:-

[code]

Please provide any solution

[2016-10-17 07:15] bjt1988 opened #7047 "create new/update category programmatically for specific storeView not working"
### Preconditions
1. Magento 2.1.1 Community Edition
2. one Website two StoreViews:
   ID: 1 -> [de] -> [Deutsch]
   ID: 2 -> [en] -> [Englisch]
### Steps to reproduce

Create a category in backend or programmatically
Name: Test123
after that in all storeViews the category have the name Test123
if you now want to try to change the name of the category for StoreView: 2 programmatically it is not wo

[2016-10-17 07:23] manhao-chen commented on #5330
@MarkB42  Where do we comment out the security?

[2016-10-17 07:29] SerhiyShkolyarenko commented on #6932
@shanevbg thank you for update. I'm happy it worked for you! )

[2016-10-17 07:30] MarkB42 commented on #5330
@manhao-chen I documented it on the Magento community forums for reference. Once you have built the objects you want to use you can put the code back to standard and it will continue accessing the obscured WSDL SOAP methods.

https://community.magento.com/t5/Programming-Questions/Magento-2-C-APIs-SOAP-problem/m-p/49677#M1206

[2016-10-17 07:43] sevos1984 commented on #6874
I can't reproduce this, please provide more detailed steps, logs, configuration settings etc. Thanks

[2016-10-17 07:44] lewisvoncken commented on #5478
@noodlenood,

You can find it in the develop branch on github
https://github.com/magento/magento2/commit/c9c4882dea9544cb867d76c5d962ef5de6ccf122

_Met vriendelijke groet / Best regards,_

Lewis Voncken
Developer
Arthur van Schendelstraat 650
030 - 8200 238
www.experius.nl

On Sun, Oct 16, 2016 at 10:31 AM, noodlenood notifications@github.com
wrote:

[2016-10-17 07:48] frozenravage opened #7048 "ls -lash"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-10-17 07:49] Flamestyle commented on #1146
My decision: the location of the files is standard in the site root.
Add to host config:

[code]

[2016-10-17 07:54] olysenko commented on #6726
Hi, thank you for your request. I cannot reproduce this issue.
Please provide more details about incorrect data. Below information will be useful to understand what's wrong:
 1) screenshot from Sales-Orders page for a given date with the order list (Order Purchase Date, Grand Total and Order Status info are sufficient),
 2) screenshot from   Reports > Sales > Orders page for a given date
 3) scree

[2016-10-17 07:59] romainruaud commented on #7027
If you are looking to a proper way of implementing layered navigation with multiple select filters, you can take a look at our module : https://github.com/Smile-SA/elasticsuite

Regards,

[2016-10-17 08:05] romainruaud commented on #7017
@antbates1991 if you are looking to a proper implementation of ElasticSearch, you can take a look to our module : https://github.com/Smile-SA/elasticsuite

It bundles many more features than the legacy implementation of Magento and is fully compatible with EE edition.

Regards,

[2016-10-17 08:11] SerhiyShkolyarenko commented on #6817
@Ctucker9233 it's not delivered here to develop branch. Sorry, i didn't check task status properly. Please, try to updated the code in 2-3 days, the fix has a good chance to be delivered soon.

[2016-10-17 08:27] dzungnt opened #7049 "Upgrade version issue when change branch"
### Preconditions

1. Magento EE 2.0.1 without sample data is installed.
2. Use git
### Steps to reproduce

1. Create module A in branch 1 with version is 1.0.0
2. Create branch 2 from branch 1 and upgrade A to 1.0.1
3. Switch back to branch 1
### Expected result

1. No error message
### Actual result

1. It's showing error log current version - 1.0.1, required version - 1.0.0

[2016-10-17 08:37] SerhiyShkolyarenko commented on #6392
Let's continue here. Please attach all required changes as a patch and describe all steps to reproduce from clean magento installation to avoid different reproducing flows for you and me.

[2016-10-17 08:40] bydrei commented on #4921
@Ctucker9233 we still have not done the patch, is it actually fixed in 2.1.2? Has the patch broken anything else so far?

[2016-10-17 08:42] PierAlex commented on #2855
@bondimedical3 i'm running 2.1 and i've checked also 2.1.2 without success.

Does anybody know how to fix this problem?

[2016-10-17 08:48] paalsoberg commented on #6382
Any update on this?

[2016-10-17 09:04] R4c00n commented on #4613
@rgoncharuk Are there any updates on this issue?

[2016-10-17 09:08] bondimedical3 commented on #2855
I would say its your cron jobs. The ones in the official documentation don't work. Try the ones in the screenshot - "extende" is your username
![screenshot_20161017-200710](https://cloud.githubusercontent.com/assets/10808588/19431747/6da221c0-94a5-11e6-8b59-efb707437ccc.png)

[2016-10-17 09:14] shiftedreality commented on #6138
Hi @forvin

This issue was fixed in develop branch and will be ported to 2.1.x branch.
Closed.

[2016-10-17 09:49] afavata commented on #6260
any news on this issue????

[2016-10-17 09:58] anton-huz commented on #4697
@slackerzz
This improvement was delivered to current development branch - [`develop`](https://github.com/magento/magento2/tree/develop). It will available under the 2.2.0 version.

[2016-10-17 10:03] SerhiyShkolyarenko commented on #5715
In 2.2.0 release, IMHO.

[2016-10-17 10:06] alena-marchenko commented on #6595
Hi @samuellinde

We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-17 10:06] #6595 closed, assigned to alena-marchenko, viktym

[2016-10-17 10:10] anton-huz commented on #6409
@tookuul-owner
The only case when I reproduced the similar issue (an error with rjsRelover) is an outdated RequireJS config in the browser. There are several places that can lead to such behavior. Outdated browser cache  - is one of them.

Currently, in this discussion, there are no other insights about root causes.

[2016-10-17 10:10] nagrgk commented on #5330
if we dont comment permission and leave magento code as it is,

How do we access magento wsdl restricted services like below (using browser url or curl )?

soap/default?wsdl&services=salesOrderRepositoryV1

Do we have to use integrations or user level authentications?

Thanks

[2016-10-17 10:11] olysenko commented on #6983
Hi, thank you for report. I cannot reproduce this issue on clean installation 2.1.2. If you have 3-rd party extensions please disable it and try again, also try to clear all caches, including browser cache. If not help please provide more info about your browser, environment, specific settings etc.

[2016-10-17 10:13] NadiyaS commented on #6260
Hi,
this issue was fixed and delivered to develop branch. See commits [cc5cd56](https://github.com/magento/magento2/commit/cc5cd5606745e6050de5074b21b7d3a7bae79e02), [cd5bb2d](https://github.com/magento/magento2/commit/cd5bb2dece341552e0ee41b358d4baedcc9e37f6).
The issue is closed as resolved.

[2016-10-17 10:13] #6260 closed, assigned to nobody

[2016-10-17 10:14] rishabhrkrai commented on #4170
If cache is disabled then this issue is happen in 2.1.x
- Kindly enable cache from terminal or backend and then try. This works for me.

[2016-10-17 10:18] prop-physics commented on #4756
same problem here on a fresh 2.1.2 composer install

it worked for a bit, installed a few modules from the marketplace and the next day this problem arose

[2016-10-17 10:18] Dbl0207 opened #7050 "Cannot see the Static Blocks , Pages in Magento 2"
I Cannot see the static block section, Pages in Magento
### Preconditions
1. Magento Version 2.0.9 and this happens in a server.
2.
### Steps to reproduce
1. I have installed magneto 2.0.9 and this has happened to me. In Local the same code works fine no error happens.
### Expected result

1.  Static Block List and Pages List should be visible as i find in Local Host.
### Actual result
1. Static B

[2016-10-17 10:19] sparrowek commented on #6803
The same problem for me - strange is that is was working previously but it stopped after base url for media files was changed

[2016-10-17 10:22] MarkB42 commented on #5330
@nagrgk Simply put you have access to a VERY limited set of APIs if you enable the 'Allow Anonymous Access' in the store setup. Alternatively the best fix so far is use Magento 1.9.

[2016-10-17 10:26] hocomadvies commented on #7032
This is not a solution for my problem. Also I did not use Compose to install Magento2. Anyone with an solution which works for the problem mentioned?

[2016-10-17 10:38] kociiide commented on #7046
This issue is present in both 2.1.0, 2.1.1 and 2.1.2.

The issue does not happen if you directly click checkout.

This error only occurs when you view and edit cart and then checkout.

The error is directly linked between the customers number of address lines.

**I really wish the Magento dev team would find the cause and fix this issue, it has been well documented over the last month on Github bu

[2016-10-17 10:46] olysenko commented on #6982
Hi, thank you for report. We already have this issue [#5558](https://github.com/magento/magento2/issues/5558) Internal ticket MAGETWO-58328 already created.
Closed as an duplicate

[2016-10-17 10:46] #6982 closed, assigned to olysenko

[2016-10-17 10:49] tkacheva commented on #6867
Internal issue MAGETWO-59782

[2016-10-17 10:59] veloraven commented on #6986
@craigcarnell thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 11:03] sma09sjb opened #7051 "SCRIPT1014: Invalid character cart, line 57 character 29 - IE 10"
### Preconditions
1. Windows 7 IE 10, Magento 2.1.1
### Steps to reproduce
1. Add a product to cart and try and expand the shipping section
2. Multiple js errors being thrown in totals.js and cart.js
### Expected result

1. Shipping area should be expanded
### Actual result

1. ![image](https://cloud.githubusercontent.com/assets/19289786/19435227/749e2c38-9461-11e6-90b3-ede52a49ce26.png)

![image]

[2016-10-17 11:04] veloraven commented on #6995
@salelsol thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 11:09] KevinMace opened #7052 "Configurable product options incorrect when using an attribute source model"
### Preconditions

1.  Magento Enterprise Edition 2.1.1
2. PHP 7.0.8
### Steps to reproduce

1. Install a new attribute via a setup script that uses a source model for its values (as an example, like the core does here Magento\Catalog\Model\Product\Attribute\Source\Boolean) and add to the default attribute set.
2. Create two new simple products with different options from the attribute you just cr

[2016-10-17 11:12] veloraven commented on #7002
@Rudolfff thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-17 11:15] veloraven commented on #7004
I’m closing this issue because it is a duplicate.

[2016-10-17 11:15] #7004 closed, assigned to nobody

[2016-10-17 11:33] eharvest opened #7053 "Simple product custom attribute returns "No" instead of real value"
### Preconditions

1. Magento 2.1.0
2. Call custom attribute value in template file (.phtml).
### Steps to reproduce

1. When calling custom attribute value in template file, it returns "No" instead of real value. This is happening only to simple products.
2. use: $_product->getResource()->getAttribute('attribute-code')->getFrontend()->getValue($_product);
### Expected result

1. It should return

[2016-10-17 11:41] veloraven commented on #7029
@briceyang thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 11:42] vil11 commented on #6712
Hi
Thanks for reporting this. Internal ticket MAGETWO-58224.

[2016-10-17 11:50] veloraven commented on #7039
@valukiya07 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 12:05] veloraven commented on #7043
@deckside thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-17 12:07] veloraven commented on #7040
@sitepodmatt thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 12:09] veloraven commented on #7036
@MagePsycho thank you for your feedback.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-17 12:15] veloraven commented on #7052
@KevinMace thank you for your feedback.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2016-10-17 12:18] veloraven commented on #7051
@sma09sjb thank you for your feedback.
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see  System Requirements.

[2016-10-17 12:20] veloraven commented on #7050
@Dbl0207 thank you for your feedback.
Please add more details to your description of the steps you followed when identifying this issue.

[2016-10-17 12:21] veloraven commented on #7048
@frozenravage please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 12:23] SilvanLaroo commented on #5774
I also face this issue, is there already a fix?

[2016-10-17 12:27] veloraven commented on #7022
@blizzardengle thank you for your feedback.
Did you try to clear browser cache including offline website data?

[2016-10-17 12:28] yangsystem commented on #5774
I don't know. I have purchased 2 extensions one for formula calculation and one for advanced product options and I do my work with them.

[2016-10-17 12:28] veloraven commented on #7019
@sparrowek thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 12:33] tkacheva commented on #6733
@yumicom, please provide exact setting of your configuration as we can't reproduce the issue with only js bundling on

[2016-10-17 12:41] rickwhitehead commented on #4184
IS THERE A PULL REQUEST? IS ANYBODY DOING ANYTHING? PLEASE RESPOND!

[2016-10-17 12:46] mttjohnson commented on #2672
@bartek9007
I've seen some odd behavior with how tasks are scheduled ahead. Noticed in v2.0.6 in the last few weeks. In my instance of trying to get a 3rd party extension to execute a cron task every minute I was noticing that it would only schedule ahead one execution of the task. With the `default` cron group set by default to generate scheduled tasks every 15 minutes I was only seeing the task

[2016-10-17 12:51] yumicom commented on #6733
My core_config_data.sql
[core_config_data.zip](https://github.com/magento/magento2/files/533464/core_config_data.zip)

[2016-10-17 12:52] Dbl0207 commented on #7050
![screen shot 2016-10-17 at 6 41 31 pm](https://cloud.githubusercontent.com/assets/22885198/19438819/422d8374-9499-11e6-8308-deb0f555ddea.png)
![screen shot 2016-10-17 at 6 42 26 pm](https://cloud.githubusercontent.com/assets/22885198/19438850/6b23c2a2-9499-11e6-8c1b-ae7c0ad6bb3d.png)

Hi Veloraven,
   Please visit
http://www.webnexs.com/demo/mg/adminmg/
User: admin
Pass: admin147

When you login

[2016-10-17 13:00] santhakumarvenkattappan commented on #2989
Hi,

  I have the same problem in may magento site existing product custom options I can't edit or add but new product I can add new custom options
Note: no errors are shown they show **Product has been saved**

please how to find the issue

thanks,
santha

[2016-10-17 13:05] SilvanLaroo commented on #5774
I see. I think the problem is here: https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/Product/Option/Value.php#L227

This function uses the function getFinalPrice() that does not use the tier prices.

[2016-10-17 13:08] KevinMace commented on #7052
Hi @veloraven I have raised this issue with EE support as well, I just thought it was worth putting here incase a CE user was having the same issue.

[2016-10-17 13:11] cduperron opened #7054 "Widget conditions (in a block) are stored in database but not in back-office"
### Preconditions

1. Magento 2.0.7
### Steps to reproduce

1. Connect to back-office
2. Create a new block in `Content` > `Blocks`
3. In this new block, click on the widget button into the WYSIWYG to add a new widget
4. Choose `Catalog Products List` as widget type
5. Add some conditions (whatever the conditions)
6. Click on `Insert Widget`
### Expected result

1. Double click on the widget icon

[2016-10-17 13:13] nagrgk commented on #5642
Hi aLL,

ANY UPDATES ON THIS? IS THIS FIXED IN MAGENTO 2.1.2?

[2016-10-17 13:14] nagrgk commented on #5934
is this fixed ? are we fixing it soon ?

[2016-10-17 13:16] kornblumenapotheke commented on #4756
Hi,

now installed 2.1.2 CE from tar, mem 1024.

Component Manager works and shows all components from Marketplace, but
now full of unmet dependencies.
i think I give up on Magento and give oscommerce a try.

Regards,
Gunther

Am 17.10.2016 um 00:22 schrieb Sam2k:

[2016-10-17 13:17] veloraven commented on #6981
@brideo please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-17 13:19] SerhiyShkolyarenko commented on #7038
@zhxcanada is it reproducible for you on the latest develop branch?
Is it reproducible for clean installation or for upgraded only? Which way do you create an order?
I tried latest develop branch, created orders both from backend and frontend and all of them were displayed in the grid.

[2016-10-17 13:24] YevSent commented on #5934
Hi, @nagrgk, this issue didn't fix yet and will be fixed according to issue rank and priority (now, it has not critical priority).

[2016-10-17 13:28] veloraven commented on #6845
@epadmin is this issue still actual?
If you use some external extension for 'featured products' please explain why do you think it to be an issue on Magento side and not on extension side?

[2016-10-17 13:36] #6655 closed, assigned to nobody

[2016-10-17 13:37] veloraven commented on #6599
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-17 13:37] #6599 closed, assigned to nobody

[2016-10-17 13:45] veloraven commented on #6987
I'm closing this issue as duplicate, please create a new one with more detailed description if it is needed.

[2016-10-17 13:45] #6987 closed, assigned to nobody

[2016-10-17 13:53] veloraven commented on #6996
@tommoholmes10 thank you for your report.
Could you please describe more detailed steps. As your steps are similar to expected results.
Please also describe actual result.

[2016-10-17 13:55] veloraven commented on #7003
@muhzi4u thank you for your feedback.
If you think this to be an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is a question please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http:/

[2016-10-17 13:59] vil11 commented on #6382
Hi!
Thanks for reporting the issue. Internal ticket MAGETWO-59789.

[2016-10-17 14:05] miakusha commented on #7018
Hi @bartek9007 ,  I cannot reproduce this issue.
Can you reproduce issue on clean Magento without custom code?

[2016-10-17 14:07] veloraven commented on #7011
I'm closing this issue as a duplicate as we already have internal ticket for this issue.

[2016-10-17 14:07] #7011 closed, assigned to nobody

[2016-10-17 14:09] sma09sjb commented on #7051
Where can i find a complete list of your supported OS? By that do you mean you don't support IE 10 or Windows 7?

I've tried the same in WIndows 8 IE 10 and i'm getting the same results.

[2016-10-17 14:15] SerhiyShkolyarenko commented on #5913
@duffner thank you for explanation. In Magento 1 that was undocumented feature and in services we lost it. Now we promoted priority of MAGETWO-58190 in order to restore that lost feature and fix our docs.

[2016-10-17 14:16] JDavidVR commented on #7051
@veloraven uhmm but this is on browser side (is not development environment), I don't think is a valid argument say magento  doesn't support windows, because many (potential) client use windows as theirs desktop OS.

[2016-10-17 14:17] duffner commented on #5913
@SerhiyShkolyarenko thank you!!

[2016-10-17 14:18] sma09sjb commented on #7051
@veloraven i'm also slightly confused by your comment, can you clarify your meaning.

[2016-10-17 14:22] blizzardengle commented on #7022
Yes. I did everything you should do including wiping all caches, my browser included. The error I found out after a lot of digging was by the Shipper HQ extension. I don't know what they had in their code that was breaking the process but fully removing their extension solved my issues.

[2016-10-17 14:29] SerhiyShkolyarenko commented on #7042
@povesma thank you for reporting the issue!
It seem to be a duplicate of #5913. According to internal logic that API call returns and **active** cart of the user when available. It creates a new cart when user doesn't have an active one. Documentation will be updated in scope of internal issue MAGETWO-58190. Closing the issue. Let's continue discussion in #5913.

[2016-10-17 14:29] #7042 closed, assigned to SerhiyShkolyarenko

[2016-10-17 14:47] annhudspeth commented on #5333
We have a solution that is in development.  I'll circle back with an ETA when I find out what the dev schedule is.

[2016-10-17 14:49] SerhiyShkolyarenko commented on #7006
@robmagento thank you for reporting. Internal issue is MAGETWO-59639

[2016-10-17 14:52] cylix99 opened #7055 "Newsletter name and email wrong way around so name cannot be set"
https://github.com/magento/magento2/blob/develop/app/code/Magento/Newsletter/Model/Queue.php#L239

getNewsletterSenderEmail and getNewsletterSenderName are the wrong way around
### Preconditions

1.
2.
### Steps to reproduce

1.  Send a newsletter setting email to email address and name to short name and email failed
2.
3.
### Expected result

1.  to fix line 239 should read
   ['name' => $this->g

[2016-10-17 14:54] SerhiyShkolyarenko commented on #7006
@ajpevers thanks for a workaround!

[2016-10-17 14:58] paales commented on #6979
@kandy Thanks for the reference!

[2016-10-17 15:33] keyurshah commented on #5478
what is the best way to merge changes from a develop branch into the current master branch?

or do you just use the entire develop branch?

thanks.

[2016-10-17 15:35] TKlement opened #7056 "Uncaught Error: Cannot instantiate interface Magento\Catalog\Model\Product\CopyConstructorInterface"
Creating an upgrade script for cloning a product with \Magento\Catalog\Model\Product\Copier has a bug.
### Preconditions
1. Magento 2.1.0
2. PHP 7.0.11
### Steps to reproduce

The constructor looks like this:

[code]

Then in console run
`bin/magento/ setup:upgrade`
### Expected result

No failure
### Actual result

`PHP Fatal error:  Uncaught Error: Cannot instantiate interface Magento\Catalog\Mo

[2016-10-17 15:39] veloraven commented on #7028
@TheNavigat thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-17 15:40] christian-walker commented on #6138
@shiftedreality is there a timetable for when it will be ported over to the 2.1.x branch?

[2016-10-17 15:40] SerhiyShkolyarenko commented on #6997
@pynej thank you for reporting! We created internal issue MAGETWO-59796, but additional investigation is necessary if the fix could be backward compatible.

[2016-10-17 15:56] dunarri commented on #5423
I am seeing this issue as well on a clean install.
Setup details:
Clean install from 2.1 zip file.
PHP 7.0.11 via FPM
Apache 2.4
Using Varnish
No https
Multi-store (3 stores)

I've observed the problem only happens with the other stores that are not the default. Default store works fine. And it only happens when varnish FPC is enabled, if I disable FPC in the Magento admin all 3 stores work just f

[2016-10-17 16:21] lhsatch opened #7057 "StockItemRepository gets wrong product id if a product has been deleted"
### Preconditions

1. Magento 2.1.0 installed
2. Configurable products created
3. Simple products created
### Steps to reproduce
1. Create  2 configurable products (anything) with 2 attributes (colour and size), and create a simple product.
2.  Delete a product which isn't the last product in your inventory.
3. Check the cataloginventory_stock_item and the product item_id of the product after you

[2016-10-17 16:23] JasonFerris commented on #5333
Awesome thank you!

On Oct 17, 2016, at 7:48 AM, Ann Hudspeth <notifications@github.com<mailto:notifications@github.com>> wrote:

We have a solution that is in development. I'll circle back with an ETA when I find out what the dev schedule is.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHubhttps://github.com/magento/magento2/issues/5333#issuecomment

[2016-10-17 17:20] brianschroeter commented on #5642
@nagrgk This has not been resolved in 2.1.2.

[2016-10-17 17:28] arunkrsigmainfo commented on #5642
Guys : I tried commenting the code $this->checkTransId(); in line number 689 in vendor/magento/module-authorizenet/Model/Directpost.php and it started working in server but in local its still rejecting as Magento is not responding with a patch or fix I tried to debug and this fix started working in server and for client its working and got going. I have overridden the vendor module and made a modu

[2016-10-17 17:32] brianschroeter commented on #5642
@arunkrsigmainfo How can I get in touch with you? :-) I'd love for you to provide the patch to me, as my client is having a very tough time. Thanks!

[2016-10-17 17:38] arunkrsigmainfo commented on #5642
@brianschroeter : please send your details to arun.kr@sigmainfo.net and we can talk further on this.

[2016-10-17 17:39] ghost commented on #6799
In version 2.1.2 (after upgrade from 2.1.1 with same problems) the problem still exists.
The frontend catalog page can not display product where config product has one-or-more out-of-stock childproduct(s) (variation).
The var/system.log contains:
"main.Critical: Configurable product "[sku]" does not have sub-pruducts"

If i increase qty and set prodcut "in-stock" on the out-of-stock child, the fro

[2016-10-17 17:40] brianschroeter commented on #5642
@arunkrsigmainfo Thanks! Email sent.

[2016-10-17 18:18] dmcmillin opened #7058 "changing configurable product name in 2.2.0 dev causes undefined index: label error"
### Preconditions
1. magento 2.2.0-dev
2. php 5.6
### Steps to reproduce
1. install magento 2.2.0-dev
2. setup multiple configurable products with multiple attributes
3. change product name.
### Expected result

1. the product name should change
### Actual result

1. Notice: Undefined index: label in app/code/Magento/Catalog/Model/Product/Gallery/CreateHandler.php on line 161

Cleared cache, tried

[2016-10-17 19:09] pynej commented on #6997
As an aside, we were sort of able to work around this issue by correctly configuring gzip compression on php files served under SSL.  This is really a workaround as the file is still large and the data still hd to be decompressed and processed unnecessarily.

[2016-10-17 19:25] dthampy commented on #6939
@shahankitb997 , can you please clarify this :

 When you said that you are using product_type = simple , does that mean that the products that you created are Simple or you have an additional( or custom )attribute for your products that has an attribute code  = product_type ?

[2016-10-17 19:30] ghost commented on #5459
This patch worked for me on 2.1.2. Thanks @jvreeken.

[2016-10-17 20:28] epadmin commented on #6845
it is not an extension.   it is the built magento slider pulling from a category to display certain products.    Someone said they solved the problem by removing all the sample data.  I have not tried that yet.  I updated to the new release and it immediately fixed the problem, but 10 hours later when I went back it was doing it again.  I am giving up on M2 for now and currently rebuilding everyth

[2016-10-17 21:02] brideo commented on #6981
I have a work around so it won't be necessary, however this is an issue on CE too:

https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Uploader.php#L107

https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Uploader.php#L173

[2016-10-17 21:03] brideo commented on #6981
I will update the ticket now.

[2016-10-17 21:08] deckside commented on #7043
We need to display VAT/GST Tax at 10% tax at checkout and on invoices.
All product pricing entered via admin already includes VAT tax.
We have the same set up using 1.9.2 and everything works fine.
We are now building our new site using 2.1.2 and it does not work.

Current version Magento 2.1.2 , CE

We have created a the tax zone and tax rate and that works fine.
The problem is the product prices

[2016-10-17 21:16] PierAlex commented on #2855
@bondimedical3  Thanks,
this is my sheduled job:
/opt/plesk/php/7.0/bin/php -c /opt/plesk/php/7.0/etc/php.ini /var/www/vhosts/mydomain/bin/magento cron:run >> /var/www/vhosts/mydomain/log/magento.cron.log
It is the same of yours, except for the log output.

Setup and update jobs, same way.

I think that it is working because it is also responsible for password exchange email, send and receive emai

[2016-10-17 21:24] mortenbm opened #7060 "When tier price qty above 1000 adds a thousand separator in the Advanced Pricing panel"
### Preconditions

1.  Magento 2.1.2
2. Set `Base Currency` to `Danish Krone`
3. Set `Default Display Currency` to `Danish Krone`
4. Set `Allowed Currencies` to `Danish Krone`
5. PHP Version 7.0.11-1~dotdeb+8.1
6. MySQL Version: mysqlnd 5.0.12-dev - 20150407
7. intl php extension version:
   - version  1.1.0
   - ICU version  52.1
   - ICU Data version 52.1
### Steps to reproduce

1. Create produc

[2016-10-17 21:34] bondimedical3 commented on #2855
If the cron jobs are not setup correctly then everything will work like order emails, newsletters etc but products will not appear in the frontend. You will need to look at issue in more depth or have your Magento Developer look at the problem.

[2016-10-17 21:39] Ctucker9233 commented on #6421
@sevos1984 I see this commit wasn't included in the 2.1.2 release. Is it safe to manually merge that code into a 2.1.2 production environment?

[2016-10-17 21:39] PierAlex commented on #5836
same issue on 2.1 and 2.1.2.

It appears that indexers are not invalidated after adding a new product. The cron job is correctly running. as boldhedgehog wrotes this issue may be not related to the cron job.

[2016-10-17 21:42] Ctucker9233 commented on #6622
@davidalger this appears to have not been fixed in the 2.1.2 release. Is it safe to manually merge the fixed code on a 2.1.2 production environment?

[2016-10-17 21:53] #5553 closed, assigned to mbrinton01

[2016-10-17 22:09] pepepepowski opened #7061 "Upgrade 2.0.7 -> 2.1.2 problem Undefined index: PK_CMS_PAGE + installation 2.1.2 PK_CMS_PAGE error"
### Preconditions

1. 2.0.7 -> 2.1.2 (upgrade)
2. mysql 5.6, php 7.0.12, plesk 12.5
### Steps to reproduce

1. composer require magento/product-community-edition 2.1.2 --no-update
2. composer update
3. php bin/magento setup:upgrade
### Expected result

1. Upgrade done
### Actual result

1.  In ssh ->

[code]

when i open url in browser:
`There has been an error processing your request Exception pr

[2016-10-17 23:24] comdiler opened #7062 "Mistake in product import model"
### Preconditions

1. Magento CE, tag 2.1.2
### Steps to reproduce

1. Add several products with a numeric SKU, for example 416242-L, 416242-XL, 416242
2. Turn on debugger
3. Put breakpoint before statement in Magento\CatalogImportExport\Model\Import\Product line 1224
   "->where('sku = ?', $sku)"
4. Import product attributes with a "416242" SKU in CSV file
### Expected result

1. Product attribut

[2016-10-17 23:25] comdiler commented on #7062
Support Ticket on Magento portal is #03192334

[2016-10-17 23:57] tommoholmes10 commented on #6996
please check my ss
http://imgur.com/l1hnSQ2
when I check at shopping cart
this item still at shopping cart
http://imgur.com/iVq37U1
I have been add this code
https://github.com/magento/magento2/pull/5625/files
https://github.com/magento/magento2/pull/5807
but still stuck

[2016-10-18 00:20] cowmix88 commented on #4321
I discovered my issue was actually caused by invalid permissions on the static folder, it works correctly now.

[2016-10-18 01:23] shahankitb997 commented on #6939
Hi @dthampy It's not additional custom attribute. I'm checking with only default Product Export CSV provided by Magento Admin. For more info you can visit

This will give you more detail http://magento.stackexchange.com/questions/139587/magento-2-product-import-error-product-type-is-invalid-or-not-supported-dupl

[2016-10-18 02:42] nagrgk commented on #5934
Guys its critical. Payment not working and its not critical? Are you kidding? Magento is big joke now.

[2016-10-18 02:53] sammarcus commented on #6119
Can someone from Magento kindly provide an update on this? I am able to reproduce in 2.1.2.

[2016-10-18 03:15] deckside commented on #7043
I found the problem

Needed to change a setting
Sores> Configuration > Sales > Shipping Settings>Origin

Needed to expand this tab and change the Country.

[2016-10-18 03:15] #7043 closed, assigned to nobody

[2016-10-18 03:26] timstoel commented on #5423
I am having this issue as well.  We had a staging server with Ubuntu 16.04, Apache2.4.18, PHP 7.0.8 and MariaDB 10.0.27.  It was first installed from a zip file using the web interface as Magento 2.0.7 and then was upgraded to 2.1.1.  This server is showing the menu on the home page properly.

We are almost ready to launch so I moved the files and database from that Magento install to a production

[2016-10-18 03:49] phuc128t opened #7063 "Always get "Items xxx of 10000" on the toolbar."
### Preconditions

1. Magento 2.1.1
2. PHP 7.0.8 and mysql 5.7.15
3. Ubuntu server 16.0.4 + Apache
### Steps to reproduce

1. Install magento 2.1.1 fresh version
2. Use "Data Generator" to create 20000 simple products and assign them to one category
3. Turn on Flat category and product features
4. Reindex all
### Expected result

1. On FE, should show correct "Items xxx of y" on the toolbar. In my

[2016-10-18 04:12] Grumag commented on #3417
Hello,

It happened just now with a new install (not even the same server as in February). I was editing products, I added a custom option (2 radio buttons). I clicked on save and nothing happened. Flushed cache  / re-indexed, tried saving but still nothing --> won't save. Moved to another product in the list (I imported ~ 200 products with basic info and I am adding more detail to products) and n

[2016-10-18 04:45] sanjayjethva commented on #6929
I am facing the same issue in Magento 2.1.2.

[2016-10-18 04:49] sanjayjethva commented on #4921
No, issue is still there in 2.1.2. I have changed Address Line to 1 and facing the issue An error occurred on the server. Please try to place the order.

[2016-10-18 04:55] ghost commented on #6675
I am facing same issues.

In magento 2.0.7.
Admin simple product Stock Availability is disabled for edit you can not change after one time add.

and showing like

![screenshot 104](https://cloud.githubusercontent.com/assets/6220561/19465125/3346f2ce-951f-11e6-9d9b-37b9b22f18b6.png)

Please help me as soon as possible .

By admin one file configurable-type-handler.js created and on that have on cod

[2016-10-18 05:26] mitulispace commented on #7031
Hi
Thanks for quick reply. In fact, there are 3rd party developers who are trying to set up API account and they got this error. They need to feed product data from their NutriLoader software so they need to set up API account.

They went to below path to set up API account.
System > Extension (Integrations)

System config details are as below:
PHP 5.6.20 and  OS Linux

[2016-10-18 05:32] plauge commented on #4785
The problem is stil in Magento 2.1.1 if the product have a Custom Option fields.
The base_grand_total is in the table.

Im getting an error like this:

`Integrity constraint violation: 1062 Duplicate entry  for key 'SALES_ORDER_INCREMENT_ID_STORE_ID', query was: INSERT INTO`sales_order``

[2016-10-18 06:27] mmenozzi opened #7064 "Composer.json location wrong assumption in SampleData module"
Hi,
here https://github.com/magento/magento2/blob/develop/app/code/Magento/SampleData/Model/Dependency.php#L89, you assume that the composer.json file for every module must be at the same level of the module itself. Even if in core modules this is always true it might not be true for third party modules.
A well known best practice is to have source code in the `src` folder so it could be the root

[2016-10-18 06:32] mmenozzi commented on #7064
It's also assumed that a composer.json exists but for modules in app/code is not required to have a composer.json so there should be a check if the file exists.

[2016-10-18 06:39] hezide commented on #5439
same issue here, magento CE 2.1.2.

[2016-10-18 06:45] koenner01 commented on #7047
Just a question; Why are you saving the category through the repositoryInterface instead of calling ->save() on the $category object you loaded ?

[2016-10-18 06:46] JamboMedia commented on #6422
Any update on this? We upgraded to magento 2.1.2 and we have the same problem.

The products are not shown anymore at the category pages. Very important that this will be fixed soon.

[2016-10-18 06:57] YevSent commented on #5934
@nagrgk, how translation affects place order action via Authorize.net payment?

[2016-10-18 07:01] bjt1988 commented on #7047
mhhh good question. in the last 5 days i tested a lot also with the direct save on the category object. but sometimes i get curious erros like "url_key always in use" or "entity_id not found". A lot of strange things and after googling and googling i found an example where someone do it in this way with the repositoryInterface and my privious erros go away.

But after 5 Days of testing and underst

[2016-10-18 07:01] #7047 closed, assigned to nobody

[2016-10-18 07:09] koenner01 opened #7065 "page.main.title is translating title"
The page.main.title block is translating the title. This can lead to unwanted results (like the product name being translated...)
### Preconditions
1. MG2.1 CE
2. PHP7.0
### Steps to reproduce

1. Create a product with the name 'Save'
2. Create a storeview that doesn't use english as locale (I'm using nl_NL as example)
3. Go to the product detail page
### Expected result
1. The page title in page.

[2016-10-18 07:18] wclsandipan commented on #6924
Hi,

We are having the same error. We are using the version Magento 2.1.0 CE.
While we are using the default sample csv.
CSV has been attached below. (in zip format)

Thanks
[catalog_product.csv.zip](https://github.com/magento/magento2/files/535476/catalog_product.csv.zip)

[2016-10-18 07:25] RUjmiak commented on #5513
@qwerty7869 this is working

{
  "email": "email@email.com",
  "template": "email_reset",
  "websiteId": 1
}

@andimov template - "email_reset" is not real template which you can create in admin. It is constant which I found in AccountManagenet.php.. Great work guys...

[2016-10-18 07:38] senthilengg commented on #4921
@sanjayjethva @magento-team If we make the street address configuration to 1 then the customer will not be able to login if he already have 2 line in street address because it looks like the system validatation is happening during login and I am getting the below exception.

[code]

[2016-10-18 07:40] NadiyaS commented on #4785
Hi @plauge ,
the problem of current issue is not in sales_order. If you have another issue, please create new ticket with all necessary information and steps to reproduce.

[2016-10-18 07:53] nmallepally commented on #6799
Hi,
I have the same issue after upgrading to 2.1.2, the problem still persists.
Any work around fix? Tried cleaning browser cache as advised by magento team. no result.

It says
Erreur lors du traitement du gabarit: Configurable product "kit_pro" does not have sub-products
Gives me list of exceptions attached.
[exceptionlist.txt](https://github.com/magento/magento2/files/535551/exceptionlist.txt)

[2016-10-18 08:08] Rich8881 opened #7066 "Braintree Gateway - An error occurred on the server, please try again"
Hi we keep getting this error when trying to check out on Braintree on our Magento 2.1 store

'An error occurred on the server, please try again'

We're using a sandbox account

We've tried every fix under the sun including removing the table prefix but the error remains , after much braintree support (if you can call it that) we have deduced nothing is wrong on there side and the payments show up

[2016-10-18 08:12] veloraven commented on #7055
@cylix99 thank you for your report.
Please identify which version of Magento you are running.
Please provide more detailed steps.
Please also provide expected and actual results in format what exactly you expect to get and get actually.

[2016-10-18 08:13] slackerzz opened #7067 "lib-popup() mixin doesn't work"
I'm using Magento 2.1.2, following docs i added this markup from `lib/web/css/docs/popups.html` to a phtml file in my template

[code]

and this less:

[code]

Expected result:
 a button that toggles a popup

Actual result:
a useless button

[2016-10-18 08:15] koenner01 commented on #6541
Adding the unsupportedType in the di.xml worked like a charm for me!
I don't really know what the EAV caching entails and I'm not sure if this has a big influence on performance on the frontend.

[2016-10-18 08:16] slackerzz commented on #4697
2.2.0 will be released within this year?

[2016-10-18 08:21] veloraven commented on #7064
@mmenozzi thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-18 08:22] veloraven commented on #7066
@Rich8881 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-18 08:29] benj4m commented on #4756
Hi all,

I think I'm having the same issue. Relatively new to Magento. Have installed via cpanel on a godaddy VPS. I've increased PHP memory limit to 2048M, I've deleted all the files, cleared all the caches it's been recommended I clear etc.

When I try and sync the marketplace account, the "please wait" wheel spins indefinitely. So the solution is to upgrade? When I try to upgrade, I get:

Check

[2016-10-18 08:36] Rich8881 commented on #7066
Hi sorry I'm not really a developer type , to me the expected result is it works the actual result is that it does not ... i'll reformat it

[2016-10-18 08:41] olysenko commented on #6970
Hi. thanks for your report.
In general product to category relation is not store or website dependent. So it doesn't make sense to retrieve store ids because we don't have such 3D relation category- product- store. This service filters product list according to products attributes(such as visibility, status), website(specified in request url path) etc.
You can retrieve the list of assigned product

[2016-10-18 08:41] #6970 closed, assigned to olysenko

[2016-10-18 08:41] Rich8881 commented on #7066
Hi we keep getting this error when trying to check out on Braintree on our Magento 2.1 store

'An error occurred on the server, please try again'

We're using a sandbox account

We've tried every fix under the sun including removing the table prefix but the error remains , after much braintree support (if you can call it that) we have deduced nothing is wrong on there side and the payments show up

[2016-10-18 08:48] SerhiyShkolyarenko commented on #6968
Thank you for reporting. Internal issue is MAGETWO-59807.

[2016-10-18 08:53] webmak opened #7068 "MAGE_PROFILER = 'firebug' error"
**Preconditions**

1) php 7.0.9, php-fpm, apache
2) Magento CE 2.1.2 the same was in Magento CE2.1.1 not tested before

**Steps to reproduce**

1) turn on profile env MAGE_PROFILER = 'firebug';
2) reload php-fpm
3) reload site page

**Expected result**

Profiling info

**Actual result**

Uncaught TypeError: Argument 1 passed to Zend_Controller_Plugin_Abstract::setResponse() must be an instance of

[2016-10-18 08:56] udovicic opened #7069 "Incorrect message when adding out of stock product to cart"
### Preconditions

1. Magento version CE 2.1.2
2. PHP 7
### Steps to reproduce

1. On a fresh Magento installation create new configurable product with some child products in stock and some out of stock
2. Go to product on frontend
3. Select out of stock option and click 'add to cart'
### Expected result

1. Message "This product is out of stock." should be displayed
### Actual result

1. Message

[2016-10-18 09:08] tkacheva commented on #5519
Issue has been fixed in current develop branch https://github.com/magento/magento2/commit/c966dc1
Please check. Reopen if needed

[2016-10-18 09:08] #5519 closed, assigned to nobody

[2016-10-18 09:17] webmak commented on #7068
Passing object is child of Zend_Controller_Request_Abstract

[2016-10-18 09:18] miakusha commented on #7037
Hi @pitangaweb , thanks for report
We've created internal ticket MAGETWO-59810 to address this issue.

[2016-10-18 09:20] webmak commented on #7068
Passing object has this parents types array(4) { ["Zend\Http\PhpEnvironment\Response"]=> string(33) "Zend\Http\PhpEnvironment\Response" ["Zend\Http\Response"]=> string(18) "Zend\Http\Response" ["Zend\Http\AbstractMessage"]=> string(25) "Zend\Http\AbstractMessage" ["Zend\Stdlib\Message"]=> string(19) "Zend\Stdlib\Message" }

[2016-10-18 09:25] veloraven commented on #7007
@flipflap thank you for your feedback.
It seems to be an issue of custom theme or some external extension.
Guest can easily make a order on clear Magento with Luma theme: there is no 'Password' field in this case.
If you think it to be a Magento issue anyway, please provide exact detailed steps you do and explain your position.

[2016-10-18 09:26] webmak commented on #7068
`public function setResponse(Zend_Controller_Response_Abstract $response)
    {
        $this->_response = $response;
        return $this;
    }`
but this function aspected other type

[2016-10-18 09:44] tobias-forkel commented on #6845
Hi @epadmin

I just disabled the module SampleData in `app/etc/config.php` > `'Magento_SampleData' => 0`. I didn't remove all sample data which was created before. You should try it. It will take you just 2 minutes.

[2016-10-18 09:49] TommyKolkman commented on #6916
@riyuk Thanks for the quick fix, works for me too. But come on Magento, this seriously can't be happening. We've got quite some websites depending on this stuff...

[2016-10-18 09:50] mohsinrasool commented on #3507
I have the same issue. Tried several methods, none worked yet. I am using Magento 2.1.1 with sample data on Windows 7

[code]

[2016-10-18 10:35] AntonEvers commented on #3063
Fixed in https://github.com/magento/magento2/commit/1383a49e742a811a40ead99c515df6fc4ce60e28

[2016-10-18 11:12] chicgeek commented on #2247
In case any other devs are looking for a quick-and-dirty answer to allow blocks to be removed via custom XML, this is my (terrible) solution:
http://magento.stackexchange.com/questions/120146/remove-block-using-admin-custom-layout-update-xml/120319#120319

[2016-10-18 11:12] deepanshu27193 commented on #3294
@tehXor
what another way are you talking about , any suggestion ?

and yes regarding your cacheable suggestion, i have one point,
i already implemented this to avoid error but i revert back to normal because after that we experience page speed issue.

[2016-10-18 11:14] kcanters commented on #5309
How can 1 set the cookies for using domain:
loggedOutReasonCode = 1

[2016-10-18 11:17] hocomadvies commented on #4575
Any solution on this? I have issues with it in a 2.0.9 version. If not fixed than all the versions having problems with it, are useless!! Would an update to 2.1 help to solve this?

[2016-10-18 11:18] olysenko commented on #7063
Hi, thanks for your request.
You need to increase value of parameter `<size>`  in app\code\Magento\CatalogSearch\etc\search_request.xml  under node    `<request query="catalog_view_container" index="catalogsearch_fulltext">` and issue will be solved.  Please check  this solution and if it helps close the issue

[2016-10-18 11:33] MaximKitsenko commented on #6740
@veloraven  any updates?

I have another example:

[code]

respnse:

[code]

[2016-10-18 11:39] jernejh commented on #6474
problem still persists in 2.1.2 :(

[2016-10-18 11:51] Pagayo commented on #7058
I have the exact same problem. Only my php version is 7.0

[2016-10-18 11:54] cizgidekiadam commented on #3507
Same issue with 2.1.2

<pre>
[2016-10-18 05:08:22] main.CRITICAL: Broken reference: the 'sale.reorder.sidebar' element cannot be added as child to 'sidebar.additional', because the latter doesn't exist [] []
[2016-10-18 05:08:22] main.CRITICAL: Broken reference: the 'wishlist_sidebar' element cannot be added as child to 'sidebar.additional', because the latter doesn't exist [] []
[2016-10-18 05:08

[2016-10-18 12:04] Pagayo commented on #7058
When I do this with a product that has no image, there is no error.

[2016-10-18 12:08] pguedesbr commented on #7053
If your attribute uses custom source, then this issue might be related to mine https://github.com/magento/magento2/issues/6719#issuecomment-252467721, where i've already pinned down the problem and I'm waiting for an acknowledgement from de devs

[2016-10-18 12:09] alena-marchenko commented on #6716
Hi @joebusby

Fix for MAGETWO-59086 is already delivered to develop branch, closing the issue.
Thank you.

[2016-10-18 12:09] #6716 closed, assigned to alena-marchenko, viktym

[2016-10-18 12:10] pguedesbr commented on #7052
I've also already reported this here https://github.com/magento/magento2/issues/6719#issuecomment-252467721 more than weeks ago.

[2016-10-18 12:12] SerhiyShkolyarenko commented on #6964
Hi @kassner!
As far as I understood you try to calculate totals without setting billing and shipping address. It's incorrect approach because taxes, shipping rates, rules may depend on this data.
You need a service like \Magento\Checkout\Model\TotalsInformationManagement::calculate() which will work with inactive quote.

[2016-10-18 12:12] TommyKolkman commented on #6916
@riyuk When I apply your fix, by the way, connections from catalog_product_bundle_option_value seem to disappear. Had this problem?

[2016-10-18 12:17] miakusha commented on #6976
closed as duplicate #3657.

[2016-10-18 12:17] #6976 closed, assigned to nobody

[2016-10-18 12:33] olysenko commented on #7060
Hi, thanks for your report. This issue was fixed in develop branch and will be delivered with version 2.1.3 soon.
For patch try to use changes from such commits mentioned in  #[5745](https://github.com/magento/magento2/issues/5745)
[21c8a66](https://github.com/magento/magento2/commit/21c8a66997d73783bb4f6c1ed227c873578ec1d6)
[310808f](https://github.com/magento/magento2/commit/310808f4cba92da528f6

[2016-10-18 12:35] mortenbm commented on #7060
I was unaware that the links to commits were not all linking to the same commit and therefore only applied part of the patch! I will give it a go and close if it fixes.

Thanks!

[2016-10-18 12:38] Styopchik opened #7070 ".lib-column() mixin strange behaviour"
### Preconditions

1. Magento ver. 2.1.2 (from zip)
2. PHP 7.0.11-1~dotdeb+8.1
3. mysql  Ver 14.14 Distrib 5.6.34
### Steps to reproduce

1. I use mixin .lib-column(1, 6) to style my blocks in 6 columns (see screenshot)
   ![screen 1](https://cloud.githubusercontent.com/assets/884525/19477753/50183d80-9548-11e6-9b8a-61dcb4e79b90.png)
2.  When i use grunt exec / grunt less commands to compile my le

[2016-10-18 12:42] SerhiyShkolyarenko commented on #5101
@rbostan the fix was not included to 2.1.2 release. Now you may find it in develop branch only.

[2016-10-18 12:59] kassner commented on #6964
@SerhiyShkolyarenko well, that method does exactly the same thing I described, so I probably will not return the discount row either way.

Still, I have a shipping address object ("created" with `$quote->getShippingAddress()`, since other approaches won't work before saving everything), but it is empty. Anyway, that should not be a limitation to calculate the discount of others rules, the same way

[2016-10-18 13:02] veloraven commented on #7017
@antbates1991 thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-18 13:16] vivek-ted commented on #2121
Thank you all, its helped me lot.

@kost08 thanks for the post.

[2016-10-18 13:25] pbvkrishna opened #7071 "How can I have Visual Swatch and Drop-down for Color attribute."
I am trying to have Visual Swatch and Drop-Down for Color attribute on Product details page.

In the configuration, I see only one to select. Is there any way to have both or any customization is also fine.

Help me to get it fixed

[2016-10-18 13:36] frostshoxx commented on #7024
I ended up doing something similar to @shanevbg suggestion. However, the root cause of the issue turned out to be allow_url_fopen is disabled. After enable it, the issue went away. However, the host provider I'm using is strongly against having this parameter enabled. Do we have a workaround or alternative to having to keep allow_url_fopen enabled?

[2016-10-18 13:38] licentia commented on #5027
I'm having this issue to.

It seems it happens when you satisfied the rule, but if you then remove an item from the cart, you are still getting free shipping.

[2016-10-18 13:41] razbakov commented on #7023
in `vendor/magento/module-ui/view/base/web/templates/form/element/media.html`
there is only uploader and no view and delete button:

[code]

[2016-10-18 13:44] veloraven commented on #7032
@hocomadvies thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please also explain why do you think this issue not to be a duplicate of #6737.

[2016-10-18 13:50] shayanhusaini commented on #6603
did anyone have a workaround for this issue?

[2016-10-18 13:51] convenient commented on #6942
Can you please post a screenshot of the error when it happens? I'm trying to replicate on vanilla need to find something to hook into my bash script so that my scripts can identify a failure programmatically.

For now i'll focus on the page missing a <head> tag in its entirety.

[2016-10-18 13:54] iivashchenko commented on #7000
@tehXor, thank you for reporting, but unfortunately, I can't reproduce that issue. I've tried to reproduce it on Google Chrome and, as a result, on checkout I have three payment methods available (PayPal (Braintree),  Credit Card (Braintree) and Check / Money order).

Let me suggest you clear browser cache and try to reproduce that issue again.

[2016-10-18 13:57] miakusha commented on #6892
Hi @Gin-Tuyen thanks for report

We've created internal ticket MAGETWO-59822 to address this issue.

[2016-10-18 14:06] SerhiyShkolyarenko commented on #6964
OK, let look at example: United States, tax rate in Idaho is 6.03%, tax rate in Nevada is 7.98%; Base price(without tax) of the item is $1000. Calculating totals makes sense when you know billing/shipping address, and hence tax amount and price before discount.
If you write extension for a certain country where tax rate is equal for every region or the prices include taxes, then you should write a

[2016-10-18 14:07] veloraven commented on #7049
@dzungnt please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-18 14:14] connectjames opened #7072 "vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 93"
### Preconditions
1. 2.0.9 -> 2.1.2 (upgrade)
2. mysql 5.6, php 7.0.6, cPanel
### Steps to reproduce
1. Went through the wizard
2. All good and green to go
3. Finished the upgrade
### Expected result
1. Go to the website page and see the website working
### Actual result

Error:
Parse error: syntax error, unexpected '.' in /home/longstone/public_html/vendor/magento/framework/ObjectManager/Factory/

[2016-10-18 14:23] alena-marchenko commented on #6813
Hi @ytorbyk

By default, "Payment from Specific Countries" option works based on shipping address. If you want "Payment from Specific Countries" option  to work based on billing address, there is a work around - set "Display Billing Address On" option to "Payment Page" at Stores > Configuration > Sales > Checkout > Checkout Options.
Please inform us if it solves your issue.

[2016-10-18 14:34] pboisvert commented on #5027
all--this ticket is closed so not being actively investigated. If you are having an issue please file a new issue with full steps to reproduce.

[2016-10-18 14:47] tkacheva commented on #7067
@slackerzz could you clarify if you expect less mixin makes pop-up work?

[2016-10-18 14:51] olysenko commented on #7008
Hi, thanks for your report. I checked this issue on 2.1.2 and cannot reproduce. Closed as cannot reproduce on newer version

[2016-10-18 14:51] #7008 closed, assigned to olysenko

[2016-10-18 14:58] tkacheva commented on #6776
@heldchen Thanks for reporting. Issue MAGETWO-59826

[2016-10-18 15:01] connectjames commented on #7072
If somebody come across this error, you must have forgot to add the add to you htaccess file.

AddType application/x-httpd-php76 .php

Thanks

[2016-10-18 15:01] #7072 closed, assigned to nobody

[2016-10-18 15:03] Zeeshu1 opened #7074 "Undefined index on createhandler.php"
When I try to edit my product it gives me an error, "Notice: Undefined index: label in /../app/code/Magento/Catalog/Model/Product/Gallery/CreateHandler.php on line 161.

My product is a configurable product but this error occurs in all type of products.

It's not specific to any attribute also. It will be great if I could get a fix for this.

I am using magento 2.2.0-dev
here is my CreateHandler.p

[2016-10-18 15:04] sevos1984 commented on #6992
Internal ticket created MAGETWO-59827, thanks for posting

[2016-10-18 15:08] cdbessig opened #7075 "Exporting Low Stock Report to csv or xml file does not work"
### Preconditions

1. Magento CE 2.0.6, 2.0.9, 2.0.10 all tested
2. Mysql 5.6 / php 5.5.24
### Steps to reproduce

1. Log in to admin panel, click on reports, low stock report.
2. On top right of the page, click on Export next to the Export to: dropdown.  Have CSV or Excel XML selected.
3. An error message appears:

[code]
### Expected result
1. A file download should occur containing the products

[2016-10-18 15:23] sevos1984 commented on #6980
Apply Design to Products doesn't need cron to be applied. I have tried using default luma and blank themes and everything works fine for me, could you try your case with luma and blank themes?

[2016-10-18 15:23] stevenvdp opened #7076 "Reports: Low stock csv export not working"
When you try to export the low stock report you get a error message
Fatal error: Call to a member function getCsvFile() on a non-object in app/code/Magento/Reports/Controller/Adminhtml/Report/Product/ExportLowstockCsv.php on line 40

Seems that the expected block doesn't existst when trying to retrieve with:

[code]
### Preconditions

1. Initially tested on v2.0.7
2. Also broken in v2.1.1
### Step

[2016-10-18 15:27] rip057 commented on #2457
first off i only got here by googling "Please re-run Magento compile command"

It would be nice if the code that spits that phrase out would just say

"Please re-run Magento compile command: magento setup:di:compile"

it gets confusing

[2016-10-18 15:49] sevos1984 commented on #6973
Can't reproduce this, do you have any customization in customer module? Try doing it on clean magento install.

[2016-10-18 15:54] slackerzz commented on #7067
a less mixin alone cannot add a click handler to the button, but in the docs it ins't specified to init the popup via js.
I'd like to know how it is supposed to work.

[2016-10-18 15:55] cbrews commented on #2568
Hey @robbiereynolds, what was the version of Magento2 that you saw this on?

[2016-10-18 15:55] dthampy commented on #6923
Thank you for your bug report.
Internal Jira Ticket  MAGETWO-59828 is created.

[2016-10-18 16:01] giacmir commented on #7067
I think that the problem is just that @slackerzz says. Docs have a quite extensive descriptions of mixins but zero info on how make something useful with them.

Some time ago I had to implement a modal window and while the docs were exhaustive on how to style it i had to dig deep in the source in order to find how to make that modal open...

A collateral effect of this problem is that the docs are

[2016-10-18 16:02] lhsatch commented on #7057
To get round this issue I have used the \Magento\CatalogInventory\Model\StockState model and getStockQty() function to reference against as this uses the cataloginventory_stock_status table which does reference the product_id.

[2016-10-18 16:05] sevos1984 commented on #6963
Could you sent your description content to reproduce?

[2016-10-18 17:06] tehXor commented on #7000
Clearing caches doesn't help and when I look at the paypal.js implementation the problem seems logic to me:
When you look at line 298 in the paypal.js ( https://github.com/tehXor/magento2/blob/develop/app/code/Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/paypal.js#L298 ) you can clearly see, that the shipping address is used as address. And it is also evident, that there are

[2016-10-18 17:11] ghost commented on #4119
Yes, this is a very unfortunate mistake.
It looks like it arises only with third-party modules. Although scripts are connected by the reactjs rules - still arise jquery plugins conflicts.

Half day I am trying to fix it and that's what remarked:
1) I set a breakpoint in the line where there is non-existent plugin error. After reviewing the variables I am convinced that in this context, this plugin

[2016-10-18 19:12] entity53 commented on #6929
We have the same issue Magento 2.1.2

[2016-10-18 19:27] dthampy commented on #7058
Thank you for reporting this. An internal ticket has been created for this issue: MAGETWO-59843

[2016-10-18 19:32] dreucifer opened #7078 "Payflow Pro using Payflow Link URLs"
### Preconditions
1. Magento CE 2.1.2 without sample data installed.
2. Configured USPS and FedEx Shipping Methods.
3. Configured PayPal Payflow Pro Payment Method using credentials that work via `curl`.
4. Imported products and categories from a previous shopping cart.
### Steps to Reproduce
1. Navigate to storefront as a guest.
2. Open an imported category.
3. Click "Add to Cart" on an imported

[2016-10-18 19:39] dthampy commented on #7074
@Zeeshu1 , this looks like a duplicate of #7058 . Please close this issue and re-open with detailed steps if needed.

[2016-10-18 21:26] zstutzman opened #7079 "Failed to Execute 'atob' on 'Window' The string to be decoded is not correctly encoded."
In the WYSIWYG
![selection_086](https://cloud.githubusercontent.com/assets/713842/19496938/f0b59bd4-9557-11e6-9e2b-235a1be8c703.png)

[2016-10-18 21:40] Tosse commented on #5102
I get the same error Message: We can't add this item to your shopping cart right now
Just installed the latest magento 2.1.2 CE with Sample data.... All Indexes and Cache are marked Green, okay.
Strange Thing, if you are in the category overview, you Can add the Item and place an Order.
Only if you are into the Item Detail view, you get this error message.
 No matter if you are logged in as custom

[2016-10-18 21:49] Tosse commented on #5102
An, sorry.... Requested Information....

PHP 7.0.10
MySQL 5.7.15
Apache
Datenbank-Client Version: libmysql - mysqlnd 5.0.12-dev

[2016-10-18 22:06] dthampy commented on #7076
@stevenvdp ,isn't this a duplicate #7075 ?

closing this as duplicate.

[2016-10-18 22:08] #7076 closed, assigned to nobody

[2016-10-18 22:21] sammarcus commented on #7074
@Zeeshu1 does this occur on configurable products that have no images?

[2016-10-18 23:06] Ctucker9233 commented on #5434
@irenelagno Thanks. I don't suppose there's an estimate of when it might be delivered?

[2016-10-18 23:07] qbo-tech opened #7080 "Setting "quantity_and_stock_status" attribute to "Visible On catalog Pages" results in "Additional Information" Tab on Product Page not showing"
### Preconditions
1. Magento CE 2.1.2 without sample data is installed.
2. PHP 7.0.8
### Steps to reproduce
1. Configurable Product is created, configured and assigned to the a test Category and Default attribute Set.
2. "Additional Info" Tab on Product page properly renders custom attributes on storefront.
3. "quantity_and_stock_status" Attribute is accidentally set to "**Visible on Catalog Pages

[2016-10-18 23:09] Ctucker9233 commented on #5883
@olysenko any idea when we can expect the backports?

[2016-10-18 23:12] Ctucker9233 commented on #5467
@olysenko is this fix safe to merge into a 2.1.2 production environment or should I wait for a backport?

[2016-10-18 23:17] bvboas commented on #4474
Anyone figured out a temp fix?

I'm having the same issue.

[2016-10-18 23:32] jvreeken commented on #5642
Weird,

I got it to work on local, but not on staging after I tried commenting the code $this->checkTransId(); in line number 689 in vendor/magento/module-authorizenet/Model/Directpost.php like @arunkrsigmainfo suggested...
I'm using a test key on local and a live key on staging:
https://www.dropbox.com/s/6dt0kh7rgikvtt3/Screenshot%202016-10-18%2017.26.48.png?dl=0

I think it has something to do w

[2016-10-18 23:38] pboisvert commented on #5434
currently targeted to 2.1.3 which will be next release--no date to publish now but ASAP

[2016-10-19 00:08] TwassistantKeith commented on #6265
I have this problem as well. Magento 2.1.2.

[2016-10-19 00:15] sammarcus commented on #2457
@rip057 I made the informational message more informative back in April (#4134) but my changes were not immediately accepted by the Magento team.

[2016-10-19 00:24] Ctucker9233 commented on #6260
@NadiyaS do these commits work for 2.1.2 or is there a port coming?

[2016-10-19 01:20] shahankitb997 commented on #6939
Hi @dthampy & @veloraven Any updates or FIX for this one??

[2016-10-19 01:37] timbits07 commented on #6980
It works correctly with the Luma theme. So obviously I configured something in my child theme in such a way that it doesn't pick up the design change styles on the product page.

[2016-10-19 01:57] gecko00790 commented on #1521
I am having the same issue, but only some of my categories are not displaying a list of the products. already ran full reindex. using Magento 2.1.2

[2016-10-19 02:14] dthampy commented on #7075
Thank you for the bug report. Internal jira ticket MAGETWO-59848 has been created.

[2016-10-19 05:13] apurv-anand commented on #6759
Varnish is enabled. Mode is production.

[2016-10-19 05:16] mitulispace opened #7081 "Notice undefined index all_resource vendor/magento/module-integration/Controller/Adminhtml/Integration.php"
Hi
there are 3rd party developers who are trying to set up API account and they got this error. They need to feed product data from their NutriLoader software so they need to set up API account.

They went to below path to set up API account.
System > Extension (Integrations)

System config details are as below:
PHP 5.6.20 and OS Linux
### Expected result

1.  Without error
### Actual result

![f4

[2016-10-19 06:14] sammarcus commented on #2854
Is this still an issue in 2.1?

[2016-10-19 06:24] sammarcus commented on #4337
I didn't even know you could do that with swatches. Is this url syntax formally documented anywhere?

[2016-10-19 06:33] Serhiy-Nazarov commented on #5588
I have this problem too.
@veloraven, when I can expect a response?
Thanks!

[2016-10-19 06:35] designhunger commented on #4337
In Magento 1.9 this was already featured. I have not found any docs for Magento 2, but found it while crawling through the codebase.

[2016-10-19 06:46] TKlement opened #7082 "Unable to create Plugin for Swatches\Helper\Media"
While there is bug with the correct order of the view.xml files [(#6382)](https://github.com/magento/magento2/issues/6382) I tried to create a plugin from the Magento\Swatches\Helper\Media.php.
Unfortunately after reloading the page there is an error.
### Preconditions
1. Magento 2.1.0
2. PHP 7.0.11
### Steps to reproduce
1. Create a plugin for Magento\Swatches\Helper\Media.php
2. Register plugin

[2016-10-19 07:09] pyyick commented on #4487
2.0.10 also

[2016-10-19 07:24] peec opened #7083 "Enabling SSL settings forces SSL in admin, but not frontend."
It seems like the config `Secure URLs on Storefront` does not force SSL to be used in storefront. But `Use Secure URLs in Admin` does enforce SSL in admin. The problem with this is that when people writes the url in the browser, e.g. "yoursite.com/catalog/y-x-z" they will get the http version and not redirected to https.
### Preconditions
1. Magento 2.1.2 + Nginx + PHP 7 + Mysql 5.6
2. Varnish ena

[2016-10-19 07:29] fvschie opened #7084 "Missing REST API info: Order statuses"
### Preconditions

1. Magento 2.0.9 here (local test vagrant), but applies to all versions.
### Problem description

- An admin in Magento2 can create custom order statuses.
- I'm making an integration for Magento2 with an external platform.
- I sync orders, and want to take action on order status change to any of a number of order statuses.
- An end user can configure which order status to take a

[2016-10-19 07:41] ikdekker commented on #6970
Why then is there a storeId available parameter in the API?

By specifying the website url in the request, do you mean i can do:

subwebshop.com/rest/V1/categories/:categoryID/products
instead of:
mainwebshop.com/rest/V1/categories/:categoryID/products?storeId=:subwebshopId
because the former request doesn't seem to yield results either.

If my perception is wrong, could you supply me with an exam

[2016-10-19 07:52] devdesco-ceo commented on #6823
What I just discovered, is in my multi-store / multi-view setup of M2 (actually after update from 2.0.9 to 2.1.1 and afterwards to 2.1.2) only default store views with English locale do not have "add to cart" present on product pages, and functionality of checkout is broken on the same store views.

I tried to change default store views to another locales, but to no avail.

Please see yourself - h

[2016-10-19 08:19] sevos1984 commented on #5661
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-19 08:19] #5661 closed, assigned to nobody

[2016-10-19 08:21] Bartlomiejsz commented on #4737
@veloraven @antonkril are there any updates? Do you know when pelago/emogrifier will be up to date with latest release?

[2016-10-19 08:22] miakusha commented on #7069
Hi @udovicic thanks for report
Its known issue with internal ticket MAGETWO-54361

[2016-10-19 08:26] Serhiy-Nazarov commented on #5588
the solution is simple - append group_id to respond for
/V1/products/attribute-sets/{attributeSetId}/attributes

[2016-10-19 08:29] sevos1984 commented on #6980
You're right and will be hard for me to find out. I'd suggest asking [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) or [Magento Stack Exchange](http://magento.stackexchange.com/) to find where the problem is and if there an issue create a new one. Thanks

[2016-10-19 08:29] #6980 closed, assigned to ilol, sevos1984

[2016-10-19 08:33] Zeeshu1 commented on #7074
@sammarcus it occurs on configurable with and without images.
@dthampy  thank you i didnt saw that post even tho i did a lot of research but couldn't find anything.

[2016-10-19 08:33] #7074 closed, assigned to nobody

[2016-10-19 08:35] Zeeshu1 commented on #7058
iam facing the same issue and i am using php 7.0.

[2016-10-19 08:43] adifucan commented on #7044
Hi @brideo!
It seems you need to install mysql-client to your php container to run integration tests.
We faced the same issue with running integration tests on our Magento Developer Toolkit on Docker. So we added mysql-client to our web container: https://github.com/magento-tango/magento2devbox-web/blob/master/Dockerfile#L18

[2016-10-19 08:50] sevos1984 commented on #6924
Attached file is working for me, no error appear. Try update to latest magneto version.

[2016-10-19 08:54] kassner commented on #6964
@SerhiyShkolyarenko your own example does not return the discount in `total_segments`.

[2016-10-19 09:00] veloraven commented on #7024
@frostshoxx thank you for your feedback.
I'm going to close this issue as there is no Magento issue and the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-10-19 09:02] NadiyaS commented on #6260
Hi @Ctucker9233 ,
these commits are not in 2.1.2. But the fix is planned to be in 2.1.x. I do not know concrete version right now.

[2016-10-19 09:09] grasdaggel opened #7085 "KnockoutJS $parent-Element in Checkout seems to miss some information"
When trying to modify the knockout.js-templates in `Magento_Checkout/web/template/summary/item/details.html` there are a few appearances of "`$parent.identifier`", where `identifier` is the desired part of it (e.g.: `text`)

It seems that `$parent.name` works, but `$parent.url` doesn't work. Shouldn't the array contain such informations? On Magento 2.0.6. its not in there.

### Preconditions

1. U

[2016-10-19 09:21] giacmir opened #7086 "Product edit page crashes if product image is not present"
2.1.2 backend crashes with the following error: `Cannot gather stats! Warning!stat(): stat failed for <filename>` when you try to edit a product and its image is not present into filesystem.

Since this is a very frequent case in development and/or debugging it should not happen.
### Preconditions

1. Magento 2.1.2
2. php 7
### Steps to reproduce

1. Create a product with image
2. Delete image fil

[2016-10-19 09:21] veloraven commented on #7062
I'm closing this issue as Github is intended for Community edition reports given no account management for CE users. And support ticket was already created for this issue.

[2016-10-19 09:21] #7062 closed, assigned to nobody

[2016-10-19 09:26] sevos1984 commented on #6685
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-19 09:26] #6685 closed, assigned to sevos1984

[2016-10-19 09:29] devqualwebs opened #7087 "Dropdown values of product attributes are not getting."
I am trying to show all the dropdown values of product attributes on product list page in magento 2.
### Magento Version
1. Magento ver. 2.1.0

<?php // $productList is an array of all products showing on product list page
$firstProduct = array_shift($productList);

[code]
### Steps to reproduce
1. on putting the above code, products are not showing on the list page.
2. also when i am using "setPr

[2016-10-19 09:37] jk100magnys opened #7088 "Layouts from Theme doesn't work for MAGE_RUN_CODE and MAGE_RUN_TYPE Websites"
### Preconditions

Magento ver. 2.1.1

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.1 LTS
Release:        16.04

php -v
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.8-0ubuntu0.16.04.3, Copyright (c) 1999-2016, by Zend Technologies

mysql --version
mysql  Ver 14.14 Distr

[2016-10-19 09:40] comdiler commented on #7062
@veloraven I have updated ticket.
This issues also exists in Magento CE, tag 2.1.2
Information about EE support ticket has been removed.
Please reopen.

[2016-10-19 09:50] sevos1984 commented on #7065
Thanks for reporting, internal ticket created MAGETWO-59860

[2016-10-19 09:57] miakusha commented on #6889
Hi @Deimo08 I cannot reproduce this issue on 2.1.1 or latest develop
Is issue reproducible on clean Magento without any custom extensions ?

[2016-10-19 10:22] iazel commented on #2619
Got this problem today with magento 2.1.2. I think the problem is when `MagentoCatalog\Product\Url#getUrl` try to find a `$requestPath` it sets the `store_id` to the current store_id, however in my case many urls are set only on the global store view `0` and these get ignored. One easy solution is to generate urls for every store, but this can result a little clunky when you add a new store view..

[2016-10-19 10:36] SerhiyShkolyarenko commented on #6964
That was a service output example. There are lines

[code]

which cover your case.
Here is example with discount applied:

[code]

Discount in total segments is present there.

[2016-10-19 10:54] lhsatch opened #7090 "Catalog Inventory using 0 as website ID"
### Preconditions
1. Magento version - 2.1.0
### Steps to reproduce
1. I was attempting to get the stock status of a product using \Magento\Store\Model\StoreManagerInterface getProductsStockStatuses(). This function requires you to pass productIds and the website id.
2. The returned array for all items was coming back empty.
### Expected result
1. The returned array should contain the stock status

[2016-10-19 10:58] tkacheva commented on #4218
@leoquijano Currently there is no such feature in Magento to reference web assets of 3rd party library installed via Composer. We have issue opened in the backlog MAGETWO-52044 to add this option.

[2016-10-19 11:00] SantoDE opened #7091 "Can not update local development products"
When using a local development environment with a "live" database dump, you're not able to edit products if the image is missing. I know this issue was fixed in the past. Did it just come up with 2.1.2 again?
### Preconditions

1. Magento 2.1.2
### Steps to reproduce

1.  Setup local environment
2. Use "live dump"
3. Try to edit a product
### Expected result

1. I should be able to edit the produc

[2016-10-19 11:01] tkacheva commented on #6638
@hostep I'm struggling to understand steps you are following.
Scope selector that switches magento scopes influence Magento Storefront only. there is no possibility to switch  off JavaScript Bundling only for Admin Panel.

What you are looking for is a functionality that magento doesn't support.
Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Im

[2016-10-19 11:01] #6638 closed, assigned to nobody

[2016-10-19 11:01] PieterCappelle commented on #6869
We have exact the same problem as @PascalBrouwers described. We're on version 2.1.2.

[2016-10-19 11:03] PieterCappelle commented on #5959
Still relevant in 2.1.2. This is the checkout page guys...

[2016-10-19 11:04] PieterCappelle commented on #5621
Any update on this one? Still exists in 2.1.2.

[2016-10-19 11:07] tkacheva commented on #7067
@almarchenko Please check if we can make the doc more clear

[2016-10-19 11:09] veloraven commented on #7068
@webmak thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-19 11:18] veloraven commented on #7078
@dreucifer thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-19 11:18] veloraven commented on #7079
@zstutzman thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-19 11:22] veloraven commented on #7081
@mitulispace thank you for your feedback.
Please, identify which version of Magento is used.

[2016-10-19 11:24] tkacheva commented on #6294
Hi @Ctucker9233 ,
This issue was back ported to 2.1 and will be available in 2.1.3 patch release once it's out.

[2016-10-19 11:29] veloraven commented on #7085
@grasdaggel thank you for your feedback.
If you think it to be an issue please format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is a question please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magent

[2016-10-19 11:42] veloraven commented on #7087
@devqualwebs thank you for your feedback.
Please, identify which version of Magento you are running.

[2016-10-19 11:44] devqualwebs commented on #7087
I am using Magento ver. 2.1.0

[2016-10-19 11:47] veloraven commented on #7091
I'm closing this issue as duplicate for #7086

[2016-10-19 11:47] #7091 closed, assigned to nobody

[2016-10-19 11:51] qwerty7869 commented on #1812
We also want to use Magento 2 default DateTime picker on the frontend in input field but can't implement without its sample code snippets  .Please share the documentation for DateTime picker implementation so we can start using in our projects.

[2016-10-19 11:55] grasdaggel commented on #7085
I've updated the initial request. Its less a bug report, more of a feature request. I've asked my question on Stackexchange, but most likely I'll _not_ get any answers there. Whats the best way to request Feature Requests?

[2016-10-19 11:58] immist commented on #6799
@interpigeon @nmallepally: This pull request fixes the issue: https://github.com/magento/magento2/pull/7030
The treatment of this issue by @magento-admin is a shame. Next time I will reconsider twice before recommending Magento to a client again.

[2016-10-19 11:59] lfritsche commented on #2939
Hi @NadiyaS,

is there any update about this?
I'm using M2.0.4 and 2.0.7 and facing the same issue.
Right now we're using discount coupons in the backend to provide free shipping through admin/backend orders.

Additionally I recognized, that "Subtotal" within a cart price rule (free shipping from 35€ an above) is calculated excluding tax. What about carts with mixed products (low- and high- taxed

[2016-10-19 12:10] SerhiyShkolyarenko commented on #6869
@PieterCappelle can you describe detailed steps from the clean installation?
Is it reproducible for develop branch too?

[2016-10-19 12:22] SerhiyShkolyarenko commented on #6584
MAGETWO-58334 is delivered to develop branch. Closing issue.

[2016-10-19 12:23] #6584 closed, assigned to nobody

[2016-10-19 12:32] timbaker1991 commented on #5478
Is there any estimate of which CE version this would be released in?

[2016-10-19 12:32] designbyadrian commented on #6027
I had the same issue. Are your cron jobs running? Try forcing a re-index of your site:

`php bin/magento indexer:reindex`

[2016-10-19 12:34] nmallepally commented on #6799
@immist Thanks.. Great, worked absolutely fine after applying the fix.
Just brought life to my Magento site. Thanks a mil.
Yes, it's sad Magento is not addressing the critical issues, even with cron indexing as well.
now, I can safely upgrade on to my live site now.

[2016-10-19 12:50] vincentwinkel commented on #5931
I discovered this behaviour several months ago but I thought it was normal.
So, same problem too, and it's very critical...

[2016-10-19 12:51] sevos1984 commented on #7056
Have you tried clearing cache before running upgrade?

[2016-10-19 12:54] SerhiyShkolyarenko commented on #6222
Fix is delivered to the develop branch. Closing the issue.
Issues for backporting to 2.0.x and 2.1.x branches are MAGETWO-59691 and MAGETWO-59688 correspondingly.

[2016-10-19 12:54] #6222 closed, assigned to MomotenkoNatalia

[2016-10-19 12:58] pitangaweb commented on #7083
Visitors get redirected to HTTPS when logging in and checking out. I think It's always been the case on any version of Magento.
If you want to force HTTPS on any front-end page, you have to enter an https URL in Store >> Settings >> General >> Web >> Unsecure base URL.

[2016-10-19 13:00] SerhiyShkolyarenko commented on #4828
Fix is delivered to the develop branch. @shiftedreality can you close the issue?
Issues for backporting to 2.0.x and 2.1.x branches are MAGETWO-59691 and MAGETWO-59688 correspondingly.

[2016-10-19 13:01] #4828 closed, assigned to nobody

[2016-10-19 13:01] PascalBrouwers commented on #5651
I also have this on a clean install of Magento 2.1.2

[2016-10-19 13:03] wojciechowskid commented on #6907
Hello, is there any progress? Do you know the root of the problem?
Thanks

[2016-10-19 13:06] SerhiyShkolyarenko commented on #6564
The fix is delivered to develop branch. Closing the issue.
Task for backporting  to 2.0.x is MAGETWO-59374.

[2016-10-19 13:06] #6564 closed, assigned to alena-marchenko

[2016-10-19 13:09] wojciechowskid commented on #4170
The same for 2.0.10

[2016-10-19 13:10] SerhiyShkolyarenko commented on #6815
Fix is delivered to the develop branch. Closing the issue.
Issues for backporting to 2.0.x and 2.1.x branches are MAGETWO-59691 and MAGETWO-59688 correspondingly.

[2016-10-19 13:10] #6815 closed, assigned to nobody

[2016-10-19 13:14] sevos1984 commented on #7054
Could you please update your code to latest 2.0 version?

[2016-10-19 13:22] pepepepowski commented on #7061
Ok so.... im trying to install fresh copy of magento 2.1.2 from magento website.

_Offcourse i had to change: "composer/composer": "@alpha" to: "composer/composer": "1.1.2 as 1.0.0-beta1"_ ...

Readiness Check OK etc, and then in install there is error:

[code]

Agin ... PK_CMS_PAGE ... in 2.0.7 there is no such as thing in all files.   Any one can help ?

[2016-10-19 13:22] AlexandreKhayrullin commented on #6852
I'm running the development branch, updated frequently.

[2016-10-19 13:22] mitulispace commented on #7081
@veloraven   thank you for quick response
Magento ver. 2.1.1

[2016-10-19 13:34] peec commented on #7083
The reason is that when enabling `Use Secure URLs on Storefront` magento 2 will produce all links as https (also form actions). But you can just remove https from the checkout url and try entering as HTTP. You then access the checkout page with normal http protocol. The workaround `URL in Store >> Settings >> General >> Web >> Unsecure base URL` doesn't seem to work. It still doesn't seem to force

[2016-10-19 13:35] grasdaggel opened #7092 "Knockoutjs returns WRONG item_id in checkout"
### Preconditions

1.  Modify the details.html on line 15 to: `<a class="product-item-name" data-bind="text: $parent.name, attr: { 'data-id': $parent.item_id }, getUrl:{}"></a>`
2. go into the checkout and inspect DOM
### Steps to reproduce

1. See preconditions
2. In DOM there is now an data-id attribute in the A/strong element depending on your previous config
3.
### Expected result

1. the prod

[2016-10-19 13:48] tkacheva commented on #3877
@grasdaggel are you still facing the issue after upgrade to 2.1?

[2016-10-19 13:51] grasdaggel commented on #3877
When I upgrade to 2.1.0 the whole shop is broken (locale not found, version differs in database, ... see my other tickets), therefore I cannot update current installations.

[2016-10-19 14:01] NadiyaS commented on #2939
Hi @leanderfritsche ,
thank you for additional information.
This issue was estimates with not very high priority, so it is not in progress right now.
When it is fixed and delivered to develop branch we will let you know.

Thanks for understanding.

[2016-10-19 14:04] veloraven commented on #7092
@grasdaggel thank you for your feedback.
Please, identify which version of Magento you are running.

[2016-10-19 14:15] perfpcs commented on #6564
Hi, So how would I get a fix for my Magento version? Will it be in next release? Thanks

[2016-10-19 14:17] grasdaggel commented on #7092
We are using Magento 2.0.6.

[2016-10-19 14:28] veloraven commented on #6306
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-19 14:28] #6306 closed, assigned to nobody

[2016-10-19 14:29] veloraven commented on #6721
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-19 14:29] #6721 closed, assigned to nobody

[2016-10-19 14:30] veloraven commented on #6730
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-19 14:30] #6730 closed, assigned to nobody

[2016-10-19 14:31] #6790 closed, assigned to nobody

[2016-10-19 14:31] veloraven commented on #6830
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-19 14:31] #6830 closed, assigned to nobody

[2016-10-19 14:33] webmak commented on #7068
To get this bug you need to set env MAGE_PROFILER = 'firebug' and you will got it

[2016-10-19 14:37] claridgicus opened #7093 "Magento - Catalog Price Rules, Filter by SKU issues"
### Preconditions

1. 2.1.2
2. PHP 5.6
### Steps to reproduce

Created a catalog price rule in Magento and applied it to a specific product via SKU.

Please see attached screenshots.

Expected Result:
- Catalog price rule to be applied to selected product(s)
### Actual result

- Catalog price rule is not being applied to specified product(s)
- cant unselect or add more skus to existing filter

[2016-10-19 14:42] veloraven commented on #7022
@blizzardengle thank you for update.
I'm closing this issue then.

[2016-10-19 14:42] #7022 closed, assigned to nobody

[2016-10-19 14:42] claridgicus commented on #5648
@magento-team whats happening with this?

[2016-10-19 15:10] RUjmiak commented on #3552
@choukalos can you reopen this issue? This is real problem with bad REST API  design. There is no option to get all customer orders without setting there admin rights. So can you create api call like /V1/orders/me/items ?

@develpr did you solve this?

[2016-10-19 15:23] sevos1984 commented on #7027
Internal ticket created MAGETWO-59877, thanks for reporting

[2016-10-19 15:28] SerhiyShkolyarenko commented on #6439
@MaximKitsenko that field is declared for get() and save() methods, but not for getList().
I checked response for _get_ request and it has declared createdAt field.

[code]

[2016-10-19 15:28] dthampy commented on #6939
Hi @shahankitb997 , I was not able to reproduce the issue that you described on a clean 2.1.1 or 2.1.2 installation( with and without sample data) with the imported Sample CSV file.
So my suggestion would be to delete all the products that you have added, and then download the sample file and re-import it.
However, if you try to import on to your instance that has different product attributes, it

[2016-10-19 15:29] sevos1984 commented on #7016
At the moment there is no possibility to downgrade, I'll mark this as improvement

[2016-10-19 15:40] olysenko commented on #5883
hi, expectation is the last month of autamn

[2016-10-19 15:40] cscd98 opened #7094 "Install 2.1.2 - stays on Installing 68% despite completing"
Install 2.1.2

Screen says "Installing... 68%" and stays on that.

However var/log/install.log shows that it did in fact finish installing:

[code]

I have Varnish 5.0 installed. PHP 7. Nginx. OS X Sierra

[2016-10-19 15:41] olysenko commented on #5467
I think it is better to wait for backport. Expectation is the last month of autamn

[2016-10-19 16:02] Tjitse-E commented on #5836
Same issue here on Magento 2.1, only the catalog_product_category index seems affected tough.

[2016-10-19 16:02] sevos1984 commented on #7026
I can't reproduce it using your steps, have you generated static content before enabling production mode?

[2016-10-19 16:05] eug123 commented on #6966
Hi @sunilgith,

Yes you need to clean contents of the `pub/static` and `var/view_preprocessed` folders in order to recompile css from .less sources (in the admin - System/Cache Management "Flush Static Files Cache" button). You are running magento in developer mode so you don't need to run static content deploy command - static resources are published automatically, in case they are not published

[2016-10-19 16:14] hezide opened #7095 "Hebrew words in PDF invoice are reversed"
### Preconditions

1. Magento 2 CE 2.1.2
### Steps to reproduce

1. Enter Sales>>invoice.
2. Enter to an invoice.
3. Press "Print".
### Expected result

1. Hebrew words should appear correctly.
### Actual result

1. Hebrew word are reversed, for Example instead of: "חזי" its "יזח".

screenshot:
![default](https://cloud.githubusercontent.com/assets/22726977/19527269/0c8920aa-9630-11e6-86af-73ce0e17

[2016-10-19 16:20] sevos1984 commented on #7086
Internal ticket MAGETWO-59880, thanks for reporting

[2016-10-19 16:26] SerhiyShkolyarenko commented on #6917
@williambize Let's do it step-by-step for v2.1.2
0. I created a category and a product
1. i created additional store and store view,
2. ran `sudo -H -u www-data ./bin/magento deploy:mode:set production` for production mode

[code]
1. Cleaned browser cookies, localStorage and cache.
2. Added product to cart on the default store view. Successfully.
   Does this scenario works for you? What is the wa

[2016-10-19 16:33] nomuprive commented on #6917
@SerhiyShkolyarenko can I send you the store URL in a private mode or email? It does not work for me.

Thanks!

[2016-10-19 17:05] dthampy commented on #6879
Created an internal jira ticket for this issue ->MAGETWO-59882

[2016-10-19 17:18] titus213 commented on #6710
I am having this same issue and am not able to make any progress on my site.  Any update as to when it will be fixed?  Is there a workaround?  I am currently on version 2.1.1

[2016-10-19 17:42] webmak commented on #7068
Have update issue

[2016-10-19 18:58] dreucifer commented on #7078
Nevermind, it looks like the issue was with my PayPal account.

[2016-10-19 18:58] #7078 closed, assigned to nobody

[2016-10-19 19:25] dreucifer commented on #6929
I am having the same issue with Magento 2.1.2.

### Preconditions
1. Magento CE 2.1.2 without sample data installed.
2. Configured USPS and FedEx Shipping Methods.
3. Configured PayPal Payments Pro Payment Method.
4. Imported products and categories from a previous shopping cart.
5. Set `mode` to `production`.

### Steps to Reproduce
1. Navigate to storefront as a guest.
2. Open an imported catego

[2016-10-19 20:15] pboisvert commented on #7083
This is the correct expectation. This setting should set HTTPS across all storefront urls as part of the push by Google to move all pages to HTTPS.

[2016-10-19 20:16] jvreeken commented on #6929
I'm running into this exact problem on magento 2.1.2

Using authorize.net direct post method.

I tried changing address line to 1 and it started working... not sure how many customers had addresses that are 2 lines... anyone find a fix for this?

Maybe someone can figure out a sql query that could concatenate addresses in the database that were using 2 lines?

I don't really know how to move forwa

[2016-10-19 20:25] dthampy commented on #6873
Internal jira ticket -MAGETWO-59888 has been created for this issue.

[2016-10-19 20:51] RUjmiak opened #7096 "Rest API: Unable to add shipping address by ID to cart"
1. Magento 2.1.2
### Steps to reproduce
1. Customer login
2. Create cart (carts/mine)
3. Add product to cart
4. Create address (via put customers/me)
5. Now I have address ID 109115
6. I checked available shipping for my address (V1/carts/mine/estimate-shipping-methods-by-address-id) and in response I get that flatrate is available.
### Expected result
1. One simple call with which I can add shipp

[2016-10-19 22:19] ps202 commented on #5863
confirmed.

[2016-10-19 22:21] nomuprive commented on #6917
Hi @SerhiyShkolyarenko. I think the issue is that normally when you click on "Add to Cart", it should add the product and redirect to Shopping  Cart page, but it tries redirecting to homepage instead so that's why the browsers keep saying...

"The page isn’t redirecting properly
Firefox has detected that the server is redirecting the request for this address in a way that will never complete.

Thi

[2016-10-20 01:16] shahankitb997 commented on #6939
Hi @dthampy I will give you access of my Dev. Server Admin & Password so we can check it? If you look at my Stackoverlfow question you got idea in previous posts. Alternatively can't send PM to you.

[2016-10-20 02:24] perfpcs commented on #4575
Same problem here. Almost the entire Web Setup Wizard is completely useless. Blank pages and spinning wheels with many php processes none of which ever complete. Is anyone looking to fix this? BTW running latest v 2.1.3

[2016-10-20 02:58] AirmanAJK commented on #7026
I cleared out all of my cache, di, generation, and pub/static subdirectories before running "deploy:mode:set production". So compilation and static-content deployment both occur.

When you say you can't reproduce the problem, are you saying that changing the namespace letter-casing to not match the file path will work in both developer and production mode, or fail in both developer and production

[2016-10-20 02:59] phuongnd commented on #4468
@tkacheva do you know when this is fixed?

[2016-10-20 02:59] AirmanAJK commented on #7026
I also noticed that the Interceptor.php file generated for the classes in question are different for the two different versions of the namespace (the good and the bad one). It was what helped me pinpoint the problem to begin with.

[2016-10-20 03:12] eharvest commented on #6719
I'm having the same problem: I'm working on a sunglasses website where I need to use custom attributes to display different technical specs such as polarisation, frame material, anti-scratch and so on. Based on the each tech spec (yes/no) attribute value, I assign an icon to the product, and it actually worked all fine. I wrote my own module for this particular task.

However now I'm building a wh

[2016-10-20 03:54] phuc128t commented on #7063
It works. Thank you! I'm wondering why M2 is set max to 10000 products.

[2016-10-20 03:54] #7063 closed, assigned to olysenko

[2016-10-20 04:52] wclsandipan commented on #6924
Thanks!!

[2016-10-20 05:43] nagamani-sigma commented on #6176
@florinserbu2 , Is there any fix for this issue, Me too struggling with the issue while saving category. For me URL is getting deleted in url_rewrite table while saving category but it is not regenerating the same.

[2016-10-20 05:55] saravananvelu commented on #3294
I have tried like this and got the customer session object when the cache is enabled.

[code]

[2016-10-20 07:03] kiranmaip commented on #5475
Hi I am also facing the same issue when I am trying to call Featured products in product detail page.

Exception #0 (Exception): Warning: Illegal offset type in vendor/magento/module-catalog/Model/CategoryRepository.php on line 133

[2016-10-20 07:14] YevSent commented on #6950
Hi, @trichter01, thanks for reporting. We have created internal ticket MAGETWO-59892.

[2016-10-20 07:38] pdanzinger opened #7098 "Robots.txt file can't be emptied/deleted from backend"
### Preconditions

1. I tested it with Magento 2.1.1 CE on Windows with php 5.6, but the issue is most likely platform independent
### Steps to reproduce

1. Go to Stores->Configuration->General->Design
2. Add content to "Edit custom instructions of robots.txt File" and save
3. Remove the content from the field and save again
### Expected result

1. robots.txt file gets deleted or emptied
### Actu

[2016-10-20 08:00] SerhiyShkolyarenko commented on #6917
@williambize please, send me your URL and a dump of your DB for reproducing on my local machine.

[2016-10-20 08:15] woakley commented on #6710
The only workaround is to go through all 'pages' of custom options each time you want to update the product. This is extremely inconvenient.

[2016-10-20 08:17] Tristan-N commented on #6738
@Buyur Can you please tell me where you found the corruption? I have no clue where to start searching. I ask this because I have a similar issue.

[2016-10-20 08:23] giacmir commented on #4218
Actually this is not a "new Magento feature", but a standard less behaviour that Magento has broken by customizing the less pipeline. I tend to consider this a bug, not a feature request.

[2016-10-20 08:29] TKlement commented on #7056
Already tried.
I was only able to delete the cache with
´´´
rm -rf var/cache/*
´´´
because the backend access was not possible due to the problem.
And with bin/magento I had the problem that just that simple call creates a failure.
When I call bin/magento the list of commands ends with a failure after the first two commands.

[2016-10-20 08:30] sitepodmatt commented on #4876
This is the same issue as fix in https://github.com/magento/magento2/pull/7041

Can these issues be merged as atIOCrON has put in the correct submission format? Side note: effects latest develop branch too

OT: Why is there an internal issue tracker? Perhaps take a look at Kubernetes github public/open workflow for some guidance, it is confusing if non-Magento staff are kept in the dark over issue

[2016-10-20 08:58] viktym commented on #6848
Hi @ytorbyk
I’m closing this issue because it is a duplicate https://github.com/magento/magento2/issues/6849.
Thanks for the feedback.

[2016-10-20 08:58] #6848 closed, assigned to alena-marchenko

[2016-10-20 09:05] thdoan opened #7099 "Admin: field labels wrapping poorly"
### Preconditions

1. Version: 2.1.1
### Steps to reproduce

1. Go to any page that has long input field labels, such as when adding a new product attribute.
### Expected result

1. Labels should not wrap, or if they wrap then they should break at word boundary, not in the middle of a word, which makes it hard to read.
### Actual result

1. Screenshots:

![image](https://cloud.githubusercontent.co

[2016-10-20 09:07] veloraven commented on #7093
@claridgeandco thank you for your report.
Unfortunately I do not see your screenshot.
But your issue seems to be a duplicate of #6985

[2016-10-20 09:13] alexnos88 commented on #5421
Exactly the same issue. M2.1.0

+

[2016-10-20 09:23] ytorbyk commented on #6848
@viktym  This isn't a duplicate. The cause of these two issues is the same, but still they are separate issues.

[2016-10-20 09:35] ghost commented on #2056
Tried all solutions in this thread and others on the internet without solving the issue with `$t()` not working. My frontend `js-translation.json` is empty (located at `pub/static/frontend/<Vendor>/<theme>/sv_SE/js-translation.json` even though I have non-empty translations at `/app/i18n/magento/sv_se/sv_SE.csv` and `/app/design/frontend/<Vendor>/<theme>/i18n/sv_SE.csv` that works on PHP level, I

[2016-10-20 09:49] apurv-anand opened #7100 "Minicart refreshes itself when user browses to different pages."
Minicart refreshes itself when user browses to different pages.

Issue: When a user has added few products into the cart, the cart number keeps changing to 0 and then back to the number of products when user moved from one page to another. This is not a good exp for the user as the user would keep seeing 0 in the cart even though there are products. This issue is amplified on a slow network.

Envi

[2016-10-20 09:56] pantaoran commented on #2855
I think I have the same problem as @PierAlex that I can add new products but they don't appear in the frontend. Magento CE 2.1.

It seems that it's not invalidating the index correctly, since "indexer:status" shows all indexes as "ready", which means that the cron job will skip them.

When I force a reindexing of every index with "indexer:reindex" the new product appears on the frontend.

Edit: se

[2016-10-20 09:57] sevos1984 commented on #6787
I can't reproduce this on clear magento install, need more detailed steps.

[2016-10-20 10:03] KalaiarasanSeetharaman commented on #2463
While uploading email logo it say root folder  location should be writable .  kindly please say what are files to writeable while uploading logo

[2016-10-20 10:03] sevos1984 commented on #7056
Try 'rm -rf var/generation/*'

[2016-10-20 10:08] pantaoran commented on #5836
I have the same problem. I can add new products but they don't appear in the frontend. Magento CE 2.1.

It seems that it's not invalidating the index correctly, since "indexer:status" shows all indexes as "ready", which means that the cron job will skip them.

When I force a reindexing of every index with "indexer:reindex" the new product appears on the frontend.

[2016-10-20 10:10] vil11 commented on #6451
Hi, thanks for reporting this. Internal ticket **MAGETWO-59902**.

[2016-10-20 10:16] duhon commented on #7094
@craigcarnell
try to use php.ini.sample, especially important item max_execution_time = 18000

[2016-10-20 10:23] bondimedical3 commented on #2855
In the Magento Admin do you guys have Index Management mode set to "Update By Schedule" ?

[2016-10-20 10:39] ankitce commented on #4187
We are experiencing the same error when region field is not mandatory.

In order to reproduce the error,
1. Set a country as an allowed country which expects no 'region' information in the address structure.
2. Create a customer who belongs to the country specified in step 1.
3. Add some products in cart and go to checkout page.
4. The error!!!  `Recoverable Error: Object of class Magento\Customer