[2015-10-16 14:16] MaxYaroshenko commented on #1924
If you think that current behavior is proper.

[2015-10-16 14:39] kathir26 opened #2127 "Product detail page issues"
When i opened the review by product in admin panel it throws an error as mentioned below,

Uncaught TypeError: Cannot read property 'select' of undefined  in grid.js at line 280

var dataElements = $(this.containerId+this.tableSufix).down('tbody').select('input', 'select');

[2015-10-16 14:57] duhon commented on #1971
Which language is the problem?

[2015-10-16 15:34] arosiek opened #2128 "wrong filename on products list"
Warning: file_exists(): File name is longer than the maximum allowed path length on this platform (4096): <?xml version="1.0" encoding="UTF-8"?>  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> <xs:element name="view"> <xs:complexType> <xs:choice maxOccurs="unbounded"> <xs:element name="vars" maxOccurs="unbounded"> <xs:complexType> <xs:sequence> <xs:element name="var" type="varType" maxOcc

[2015-10-16 15:36] dfediuk commented on #1971
Every language with translation dictionary. Just read the analysys by the reference above.

[2015-10-16 15:56] orlangur commented on #2128
Interesting. So, what is the platform and what is the file it trying yo check?

[2015-10-16 16:00] sankaran-consultant opened #2129 "Magento2 Installation Issue"
1) Magento 2 installation show Integrity error on table "store_website" table.

2)
Module 'Magento_Widget':
Installing schema..
[ERROR] exception 'Zend_Db_Exception' with message 'Column "code" does not exist in table "widget".' in C:\Users\000798\wamp2.5\www\projects\magento\magento2-develop\lib\internal\Magento\Framework\DB\Adapter\Pdo\Mysql.php:964 Stack trace: #0 C:\Users\000798\wamp2.5\www\pr

[2015-10-16 16:04] tanya-soroka commented on #1971
@dfediuk could you please provide information about used browser and version of M2?

[2015-10-16 16:13] alankent commented on #2128
The error message almost looks like it is using the whole document contents as the file name!! Is there more of the stack trace?

[2015-10-16 16:23] dfediuk commented on #1971
No. If you prefer do not read the analysis then I prefer to leave the bug unfixed.

[2015-10-16 16:27] tanya-soroka commented on #1971
@dfediuk , unfortunately we can't reproduce the issue on the later version. That is why we have requested additional information so we fix it.

[2015-10-16 16:33] dfediuk commented on #1971
Obviously, to reproduce the bug you need to create a translation dictionary with a translation for "Custom Options" phrase.

[2015-10-16 17:10] joshuaswarren commented on #852
Now that a few M2 extensions have been released, I'm curious if anyone has seen a problem with this "in the wild", and if anyone has thought from an SI/developer point of view what you plan to do when you come across a site with a sort order conflict/issue like this? Obviously we could edit the sort order in the extension's XML file, but that means at every future extension update we have to re-ap

[2015-10-16 17:17] mazhalai commented on #2129
@sankaran-consultant do you have a previous installation of magento? Please use `setup:upgrade` if you want to keep your instance. Else, please run `setup:uninstall` to clear everything and start over.

[2015-10-16 17:18] mazhalai commented on #2126
@Manashvi can you please the absolute last error in the stack trace?

[2015-10-16 17:42] buskamuza commented on #2128
Hi @arosiek ,

thanks for reporting the issue. I've created an internal ticket to investigate and fix it MAGETWO-44227

[2015-10-16 18:41] tvlooy opened #2130 "Installation fails"
I run git clone and composer install, when I run ./bin/magento I get this error:

Fatal error: Cannot instantiate interface Magento\Framework\Config\CacheInterface in/www/projects/magento2/lib/internal/Magento/Framework/ObjectManager/Factory/Dynamic/Developer.php on line 73

Tested with branch merchant_beta and develop. Any pointers?

[code]

[2015-10-16 19:49] mbrinton01 commented on #2063
Logged as internal issue MAGETWO-44234

[2015-10-16 19:51] mbrinton01 commented on #2009
Hello @dfediuk, can you create a pull request for the fix you propose?

[2015-10-16 19:52] mbrinton01 commented on #1791
@sivaschenko can you confirm if the fix has been merged to develop branch?

[2015-10-16 19:55] mbrinton01 commented on #1658
Hi @keithbentrup please let us know if you are still seeing this issue so we can investigate or close out the issue. Thanks!

[2015-10-16 20:01] mazhalai commented on #2130
@tvlooy can you please give some information about environment and mode of magento? Did you have a previous installation?

[2015-10-16 20:10] tvlooy commented on #2130
I must admit that this is a bit an exotic setup. I didn't have previous installations. The environment is IBM i 7.2. I'm running Zend Server for IBM i 8.5.1 which installed the PHP version reported above. I'm not using the webserver yet (it does show the same error) and want to do a CLI installation first. What do you want to know?

I installed Magento 2 before on Linux (Debian 8) and have a test

[2015-10-16 20:14] mbrinton01 commented on #1404
@cshaw-inviqa do you have an update on this issue?

[2015-10-16 20:49] mbrinton01 commented on #2127
@kathir26 does this happen when you click on Marketing > Reviews in the admin UI?  Have you installed sample data?

[2015-10-16 21:15] bvboas commented on #2115
HI @asemenenko

Yes, we are building data solely based on Magento local data (some extra data is entered by the merchant).

I'm aware that I can call that operation, but we process all invoices from previous month on the same day, and we could be talking about many thousands of invoices. And making that amount of calls, will/may seriously slow down the progress.

Regards

[2015-10-16 22:32] mazhalai commented on #2130
@tvlooy possibly check file permissions? Do you have a complete stack trace?

[2015-10-17 06:55] kathir26 commented on #2127
@mbrinton01 When i click Reports > Review by products it throws the error but it shows one records found but no listing and there is an error what i had mentioned in my previous comment.

[2015-10-17 07:08] kathir26 commented on #2127
@mbrinton01
This is the error screenshot. Check it.
https://cloud.githubusercontent.com/assets/4454720/10557439/de0f8a2a-74ca-11e5-948c-790873e33923.png

[2015-10-17 08:37] kathir26 commented on #2127
@mbrinton01

I found one more error in bundle product front end while adding product it throws js error but product is added to cart.

Uncaught Error: Syntax error, unrecognized expression: # option:selected in jquery.js 1471

Sizzle.error = function( msg ) {
	throw new Error( "Syntax error, unrecognized expression: " + msg );
};

[2015-10-17 09:02] kathir26 commented on #2127
@mbrinton01

One more issue after i added the bundle product it is not showing after i click the cart icon in header and also proceed to checkout also not working.
![fireshot capture 2 - home page - http___27 124 25 171_magento2beta_](https://cloud.githubusercontent.com/assets/4454720/10557929/e4bc4dac-74db-11e5-8894-cdf4e2b10e33.png)

[2015-10-17 09:57] kathir26 commented on #2127
@mbrinton01

After uploaded the video it not working in front end detail page and also popup(fullscreen gallery) of image is also not working i.e. when you click the image it will show the popup but it is not working for product which have video in it.

This error is occured
 pub/static/frontend/Magento/luma/en_US/Magento_ProductVideo/js/fotorama-add-video-events.js:39 Uncaught TypeError: srchref.

[2015-10-17 10:29] dcthelord opened #2131 "php readiness check fail"
Hi, I'm facing the following issue the installation:
In the readiness check, the setup fails all 3 php tests. It says "Your PHP version is . The required PHP version is . " (no version number shows). See screenshots below.

I'm using the latest xampp. php version (5.6.12) shows correctly in phpinfo.php

I'm installing in xampp (win 7) with sample data. 'composer update' gives no error.

Screenshot

[2015-10-17 11:05] tvlooy commented on #2130
I tried everything as qsecofr (root) so I should have all permissions.

[code]

I didn't get a full stacktrace because this is an error, not an exception. I handled the error and printed a stacktrace myself:

[code]

[2015-10-17 12:24] jigs-bc commented on #647
can you please give us pull request ?

[2015-10-17 13:50] serkia commented on #2125
Dmitry code in issue #2077 fixes the template.

Try it out. I have the same problem with the develop branch, but haven't
had time to unlock the account, of that is an issue, as was suggested lower
in the conversation
On Oct 16, 2015 9:29 AM, "mazhalai" notifications@github.com wrote:

[2015-10-17 13:58] cfcnn commented on #2080
@mazhalai  My test environment: centos 6.7, nginx 1.8.0, php 7.0.0RC5, mariadb 10.0.21,
The latest developer version of  Magento2 was installed, no error when installing in php 7.0.0RC5,
If install it in php 5.5,5.6,  still has the same installation error:

Module 'Magento_Indexer':
Running recurring..

[Magento\Framework\Exception\LocalizedException]
A method by name offsetUnset already exists in

[2015-10-18 11:45] amenk opened #2132 "Shipping Method Pickup is missing in the Backend"
I can't activate the PickUp method in the backend.

I think it is missing in

https://github.com/magento/magento2/blob/develop/app/code/Magento/OfflineShipping/etc/adminhtml/system.xml

[2015-10-18 15:00] fredbrunken commented on #24
Guys, I am not even sure if this message will be seen, since this issue has been closed since 2012, but that is exactly the problem. We are coming to the end of 2015, 4 Years after the issue was considered as closed and I still have all this code on my 1.9.2.1 magento store. Any news on it? Will it be availbe on the new magento 2? thanks

[2015-10-18 17:35] alankent commented on #24
Quite a lot has been done in the M2 code base since 2012! Have you had a look to see if your issue has been addressed?  Translations have been revamped in M2.

[2015-10-18 20:11] amenk commented on #2112
I am trying to make such a split at https://github.com/m2split - let's see how it goes.

[2015-10-18 21:35] amenk opened #2134 "Publish the composer.json of magento2-base on GitHub"
I can't seem to find the composer JSON of magento/magento2-base (for example as in http://packages.magento.com/_packages/magento_magento2-base-1.0.0-beta5.zip) in the GitHub repository. Can you please put it somewhere? For example into a new repository...

[2015-10-18 23:26] fredbrunken commented on #24
Where can I get m2? thanks...

[2015-10-19 00:32] xcomSteveJohnson commented on #24
Start here: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html

[2015-10-19 04:26] tanya-soroka commented on #2099
@arunkasyakar thanks for reporting this. Could you please provide use-case to reproduce or more information?

[2015-10-19 07:09] SerhiyShkolyarenko commented on #2072
delivered upgrade scripts.

[2015-10-19 07:17] SerhiyShkolyarenko commented on #2079
@dfediuk we renamed ModelResource namespace in framework to ResourceModel. Thank you for reporting.

[2015-10-19 07:25] SerhiyShkolyarenko commented on #2108
We delivered upgrade scripts.
@sunilit42 please try to pull these changes and run upgrade.

[2015-10-19 07:40] okorshenko commented on #2118
@SidneyBilliet thank you for reporting the issue. This issues already fixed in develop branch. In master branch this fix will available with Magento 2  GA release.

[2015-10-19 07:49] okorshenko commented on #2079
Closing. @dfediuk, please, let us know if you still have an issue

[2015-10-19 07:49] #2079 closed

[2015-10-19 07:50] okorshenko commented on #2108
Closing. @sunilit42, please, let us know if you still have an issue

[2015-10-19 07:50] #2108 closed

[2015-10-19 09:09] craigcarnell commented on #2067
@mslabko I don't know if you have changed something but I just pulled down develop and deployed to my server and ran the upgrade, and now I can get to the add product page.

However after adding some basic details (name, sku, price, default category and short description) I just get a spinning wheel. No errors recorded in hhvm, nginx or magento.

[2015-10-19 09:23] maxwhite-ua commented on #2089
@dfediuk, thank you for info. This fix will be merged soon in scope of MAGETWO-44062

[2015-10-19 11:06] slavvka commented on #1841
@markoshust, Internal ticket MAGETWO-44090 is closed and delivered to mainline. Please, see 5542bb1. Please, let us know if you still have an issue.

[2015-10-19 11:06] #1841 closed

[2015-10-19 11:13] slavvka commented on #2089
@dfediuk, Internal ticket MAGETWO-44062 is closed and delivered to mainline. Please, see a698766. Please, let us know if you still have an issue.

[2015-10-19 11:13] #2089 closed

[2015-10-19 11:47] dciccale commented on #1732
same issue here. however even after running grunt refresh twice. now i have the following error:

[code]

[2015-10-19 11:59] siemach opened #2135 "Magento select customer default shipping address in header"
Hello everyone.
Is possible to put default shipping address selection to header?
I need to have possibility for set default shipping address on every page.
My Magento ver 1.9
Regards

[2015-10-19 12:05] slavvka commented on #2032
@dfediuk, Internal ticket MAGETWO-43710 is closed and delivered to mainline. Please, see efb29c8. Please, let us know if you still have an issue.

[2015-10-19 12:05] #2032 closed

[2015-10-19 12:19] arkadiych commented on #2056
@chicgeek, thank you for reporting of the translation issue.
The issue, that you've mentioned in
` app/code/Magento/Catalog/view/frontend/web/js/catalog-add-to-cart.js`
relates to different from $t() problem.
Internal issue MAGETWO-44263 has been created.

[2015-10-19 12:51] chicgeek commented on #2056
@arkadiych Okay, is there an internal ticket / further discussion for my issue with `$t()`? I should note also that this is not isolated to `catalog-add-to-cart.js`: it affects all JS files and KO templates.

[2015-10-19 13:05] eug123 commented on #1732
Hi @dciccale,
Please specify your system configuration, magento version and the way you are installing it.

[2015-10-19 13:07] mazhalai commented on #2131
@dcthelord do you have the latest from the `develop` branch?

[2015-10-19 13:14] mazhalai commented on #2080
@cfcnn are you on the `develop` or `master` branch? The class `Magento\User\Model\Resource\User` has been renamed to `Magento\User\Model\ResourceModel\User` in the `develop` branch, to be compliant with PHP 7. Please see
https://github.com/magento/magento2/blob/develop/app/code/Magento/User/Model/ResourceModel/User.php

[2015-10-19 13:27] micmeister59 opened #2136 "Possibility to rename frontend and backend session cookie names"
With Magento 1, it's hard to rename the session cookie name ("frontend" and "adminhtml"). It's a constant in controller without the possibility to change names. It would be nice to change that in backoffice.

[2015-10-19 13:29] tommyJS opened #2137 "How to log all mysql queries?"
Hi,

I want to log all mysql queries. I found the following file: `lib/internal/Magento/Framework/DB/LoggerAbstract.php`

I set in the constructor: `$logAllQueries = true`
However, I do not see any additional files in `var/log` after logging into the backend.

Could you tell me how to check these queries?

In advance, thank you.

[2015-10-19 13:36] bojjaiah commented on #1746
@matinict, how to extend Customer Address in Adminhtml?

[2015-10-19 13:37] arkadiych commented on #2056
@chicgeek, MAGETWO-44263 should cover all entries of such type of untranslatable phrases.

[2015-10-19 13:47] JosephMaxwell opened #2138 "Configurable products"
Is there a way to assign already-created products to a configurable product? In Magento 1, this was possible by going into the configurable product and checking items in the grid that we wished to be associated. I am not seeing a way for this in Magento 2?

[2015-10-19 13:50] dciccale commented on #1732
OSX 10.10.5

https://bitbucket.org/mageinferno/magento2-docker-compose

[code]

[2015-10-19 13:55] markoshust commented on #1732
Same setup I'm using :+1:

This is an automated build setup script on a `debian:jessie` kernel/os built on Docker. I don't think there is anything specific to this setup & build script that would be causing this not to generate on the first or second try.

The setup scripts and installer files can all be found at https://bitbucket.org/mageinferno/

[2015-10-19 13:58] dciccale commented on #1732
basically the only thing that fails here is the setup docker image, which run this [setup script](https://bitbucket.org/mageinferno/docker-magento2-setup/src/90d18542b44ea7380f26b0479ceb2dc32cdb4d33/m2setup.sh?at=master&fileviewer=file-view-default#m2setup.sh-60)

i can't see anything wrong there. the less task is failing thus breaking the build of the image to be run by docker.

[2015-10-19 14:03] markoshust commented on #1732
If you just run `docker-compose up setup` it should install fully up to the last line. then you can run `docker-compose up -d app` to get it going. I've found running a few commands against `app` instance get it to complete successfully (`docker exec -it CONT_APP_ID grunt refresh`), however there is no reason this should ever be failing.

[2015-10-19 14:08] rklerck commented on #1833
It indeed shows up on the front end now after running: "indexer:reindex". Not sure how the whole cron mechanism works, but that's not a bug of course.

It looks like #1720 isn't a problem anymore, after reindexing manually.

[2015-10-19 14:16] asemenenko commented on #2115
Hi @bvboas

PayPal built-in reporting tool allows to retrieve a downloadable report for a given period (manually from paypal.com or programmatically) which means there will be no performance issue for you and the data in this case will be 100% accurate since generated by PayPal based on the all transactions created there.

[2015-10-19 14:45] dciccale commented on #1732
i've tried that. however is true that the grunt tak doesn't break the build. but something else does. will do more tests and see what's going on.

[2015-10-19 14:47] kortwotze commented on #636
I know this is maybe the wrong place, but I think I have a solution for the tax/discound rounding issues.
I post here, because this is the thread I found while researching this topic - if you like my idea, please refer me to the correct place for this.

So, in my understanding the problem is the way magento calculates discounts, tax and totals. It calculates them all separately and also rounds the

[2015-10-19 15:46] dciccale commented on #1732
couldn't get it working. will try something else thx

[2015-10-19 16:26] bvboas commented on #2115
Hi @asemenenko

I want to know the fee amount per transaction/invoice. The value collected will be used by a Customer Equity & LTV extension. Those values will then be used to determine product prices and customers segments.

[2015-10-19 18:05] pronto2000 commented on #2138
I've complained about that couple of times as well, but so far nobody seemed to care ...

[2015-10-19 18:18] alankent commented on #2138
"Not caring" is not the same as "has not reached a high enough level compared to all the other requests and features". The more people that raise it, the higher the priority it gets. So +1's on any request like this *do* make a difference.

[2015-10-19 18:32] pronto2000 commented on #2138
Working on it. :) I've postponed my first M2 project couple of times because the state of configurable products and since GA is right around the corner I'm getting increasingly concerned. How come I've seen only two other people talk about it?

[2015-10-19 20:14] kandy commented on #2138
<img width="883" alt="screenshot 2015-10-19 23 09 09" src="https://cloud.githubusercontent.com/assets/100289/10589895/8ddd34b0-76b6-11e5-9a0b-df27a822f62f.png">

You can use "Choose a different Product" if you need select product for exists variation or use "Add Products Manually" to add product as new variation

[2015-10-19 20:29] pronto2000 commented on #2138
This add product manually wasn't there when I checked it last time around (a handful of week ago). Cool, maybe somebody actually have been working on it ...

[2015-10-19 20:32] dcthelord commented on #2131
@mazhalai : Yes, I do. It was synced the same day I posted the issue. I also synced it right now. Still, same issue.

[2015-10-19 21:21] mazhalai commented on #2131
@dcthelord, develop has the latest code. On your browser, there should be an option for [developer tools](http://www.wickedlysmart.com/hfjsconsole/).  Can you please enable that and post a screen-shot of the "network" tab.

[2015-10-19 21:51] dcthelord commented on #2131
@mazhalai, Is this what is needed?
01 is regular. 02 is with cache disabled.

Also, for some reason, during the screenshot runs, the check was getting stuck on 1 or the other checks. Happened a few times before I got a clean run.

![01](https://cloud.githubusercontent.com/assets/15167154/10592381/5a8f5b92-76d9-11e5-8727-b69e08554e05.jpg)
![02](https://cloud.githubusercontent.com/assets/15167154/10

[2015-10-20 07:05] aravinth512 commented on #2125
Me too, having the same problem

[2015-10-20 10:14] SidneyBilliet opened #2139 "Allow Guest Checkout and Require Customer To Be Logged In To Checkout"
Seems rather strange behavior.
CASE 1: When Allow Guest Checkout = NO

![2015-10-20_11h57_56](https://cloud.githubusercontent.com/assets/13572447/10604074/53c57e2e-7722-11e5-8836-9e31798fdf2a.png)
You simply get a message "Guest checkout is disabled." There is no suggestion to log-in or register?

![2015-10-20_12h00_28](https://cloud.githubusercontent.com/assets/13572447/10604061/413e3d04-7722-11e

[2015-10-20 10:15] odom opened #2140 "Product User Role can not add video link"
Hi Team,

I just fresh clone your develop branch, I test with video it is awesome, and I can add, update all youtube link when I am login as Admin user. Then I create a Product Role I can add only Picture for video it is error 403
admin/product_video/product_gallery/retrieveImage/key/9ea1e12a7613d27a51b6075742f6c58d1b17c9e3c86e4e22ffc1a824eaa155da/?isAjax=true
and I look at Role Resources I can no

[2015-10-20 10:24] SidneyBilliet opened #2141 "Manage stock on Product level --> Use Config Settings is never checked by default"
When creating a new product "Manage stock" on the advanced inventory tab is never checked as "Use Config Settings"

![2015-10-20_12h22_18](https://cloud.githubusercontent.com/assets/13572447/10604553/67a63426-7725-11e5-8c81-ac869e27cf59.png)

[2015-10-20 10:37] dciccale commented on #1732
@markoshust now i get this error `An error has happened during application run. See exception log for details. Could not write error message to log. Please use developer mode to see the message.`

the previous error with the less compilation was fixed now.

[2015-10-20 10:47] ClementParis016 opened #2142 "Nginx root location configuration"
I'm trying to run a Magento 2 installation on Nginx alongside an Express.js app that uses Nginx as a proxy. I used the [sample Nginx configuration you provide](https://github.com/magento/magento2/wiki/Nginx-Configuration-Settings-and-Environment-Variables) but I can't get it to work.
My Express.js app is under the `/var/www` folder and works correctly, but I can't map correctly my Magento demo pro

[2015-10-20 13:02] rodrigozulu opened #2143 "Setup script EavSetup - is_visible_on_front and visible_on_front"
Hi,

The visible on front definition appears in different maners in addAttribute and in updateAttribute

In addAttribute is visible_on_front and in update is is_visible_on_front.

[code]
[code]

Regards

[2015-10-20 13:15] chaluvadiswamy opened #2144 "Overwrite the Block file and .phtml files."
I would like to overwrite the the Block files and .phtml files of the magento modules.Here is example
 -Magento Newsletter Module

I want to extended the Block file '\Magento\Newsletter\Block\Subscribe' to the custom Module as mentioned in the below code
<?php
namespace Sample\Test\Block;

class Customsubscribe extends \Magento\Newsletter\Block\Subscribe
{

    /**
     * Retrieve form action url

[2015-10-20 13:35] muhammadawais93 opened #2145 "ServiceLocatorUsageException Error in magneto 2"
Im getting this error when i try to setup magneto through setup wizard.

An error occurred during execution; please try again later.

Additional information:

Zend\ServiceManager\Exception\ServiceLocatorUsageException

File:
/work/www/magento2/vendor/zendframework/zend-servicemanager/Exception/ServiceLocatorUsageException.php:34
Message:
Service "Magento\Setup\Controller\Index" has been requested

[2015-10-20 14:04] serkia commented on #2139
+1 subtle but effective. A customer confused during checkout would lead to
abandoned carts

On Tue, Oct 20, 2015 at 6:15 AM, SidneyBilliet <notifications@github.com>
wrote:

[2015-10-20 14:32] scholtz commented on #1813
I confirm this is not fixed yet.

I did clear installation from git as is described in the manual.

I did create new magento user and database through phpmyadmin by creating user, and clicking the checkbox "create database with the same name" .. it grants all permissions to database for this user, but does not grant it any global permissions. After granting some global permissions the installation

[2015-10-20 14:44] craigcarnell commented on #2051
@gordonknoppe Define shortly!!!

[2015-10-20 14:54] choukalos commented on #1833
@rklerck the cron effectively needs to run 2 times to actually update.  first time it runs it grabs a # of tasks and converts those tasks to actions that it queues up for the next run.  When it runs the 2nd time it processes those actions.

Since you've confirmed we're working correctly I'm going to close this item.  I look forward to understanding how the change in indexing strategy impacts #1823

[2015-10-20 14:54] #1833 closed

[2015-10-20 14:58] SLv99 opened #2146 "Countries dropdown is empty"
Hi,

Everywhere in my Magento webshop the dropdown to select countries is empty. For example General > General > Country options > Default Country is empty (The only option is --Please Select--).

Also under locale options (I'm trying to change the store view locale) the dropdown is empty.

Is this a known issue? How can I fix this for my installation? I have other Magento 2 installations running

[2015-10-20 15:02] dfediuk commented on #2144
- You need to owerwrite all the block class to change just a single method. Use plugins: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html

- Here is my working code to change a standard block template: https://mage2.pro/t/66

[2015-10-20 15:33] mbrinton01 commented on #1816
Internal issue MAGETWO-44236

[2015-10-20 15:58] mbrinton01 commented on #2012
Thank you for your feedback @dfediuk, we will consider this for a future update. It was originally created this way because the stock management option was created before it was possible to have multiple webstores.

[2015-10-20 16:07] #1259 closed

[2015-10-20 16:08] vladimir-k commented on #1404
Since we haven't heard back from you, we'll proceed with closing this issue. If in case you do have any updates, feel free to reach out to us by submitting a new issue

[2015-10-20 16:08] #1404 closed

[2015-10-20 16:23] vladimir-k commented on #1432
Hi, @Mulderua
Fix has been delivered. Feel free to reopen the issue if the problem still reproduces. Thank you for your feedback!

[2015-10-20 16:23] #1432 closed

[2015-10-20 16:33] vladimir-k commented on #2042
Hi, @whizkid79. The issue has already been fixed and delivered to develop branch (0f351d6a80cd5c8c981e517dd849dd7ce06791d4). Thanks for reporting!

[2015-10-20 16:33] #2042 closed

[2015-10-20 16:39] vladimir-k commented on #2007
Hi, @dfediuk . The issue has already been fixed and delivered to develop branch (0f351d6a80cd5c8c981e517dd849dd7ce06791d4). Thanks for reporting!

[2015-10-20 16:39] #2007 closed

[2015-10-20 17:14] mazhalai commented on #2145
@muhammadawais93 in what step did you encounter this problem? How did you deploy magento, git clone? or composer create-project? Also, what is your environment?

[2015-10-20 17:20] mazhalai commented on #2142
@ClementParis016 that link for nginx sample is outdated. Please refer to a newer version [here](https://github.com/magento/magento2/blob/develop/nginx.conf.sample) also, there is an additional fix in this thread #2005 .

[2015-10-20 17:21] mazhalai commented on #2131
@dcthelord can you post the json response?

[2015-10-20 17:22] mazhalai commented on #1813
@scholtz thank you for your report. We are still working on this ticket.

[2015-10-20 17:27] mazhalai commented on #2130
@tvlooy looks like object manager is not finding the preferences for interface which are set in [di.xml](https://github.com/magento/magento2/blob/develop/app/etc/di.xml#L51)

[2015-10-20 18:33] dcthelord commented on #2131
@mazhalai I'm sorry, but I'm not sure how to do that.
I googled it a bit and found I have to enter the following:
public function indexAction()
{
        $this->getResponse()->clearHeaders()->setHeader('Content-type','application/json',true);
        $this->getResponse()->setBody(json_encode($response));
}

Is this code correct? And where should I enter this code? In the console? And how to extrac

[2015-10-20 18:50] muhammadawais93 commented on #2145
im using debian wheezy linux vm, i just clone the magento2 and install  composer cammands

after that i tried to setup through setup wizard then thats error came.

[2015-10-20 19:44] eddielau commented on #2131
@dcthelord Hi. If you click on any item on the list under the "network" tab you will something like this:
![screen shot 2015-10-20 at 2 42 15 pm](https://cloud.githubusercontent.com/assets/5254230/10618988/c91a6a8e-7738-11e5-81b9-9c7fbd2225ed.png)
Please click on the "Response" tab then you will see the JSON response.

[2015-10-20 19:44] rodrigozulu opened #2147 "Custom source model causes fail when label is numeric"
Hi,

I found an issue when use a numeric label in custom source model for a custom customer attribute.
The problem occurs in the customer backend form.

[code]

[2015-10-20 19:45] mazhalai commented on #2145
@muhammadawais93 please check [permissions](http://devdocs.magento.com/guides/v2.0/install-gde/install/file-system-perms.html). `app/etc`, `pub/static` and `var` need to be writable.

[2015-10-20 19:51] choukalos commented on #636
@kortwotze Thanks!  I'll pass this insight along to our Tax Architect @tang-yu and have him look at it.  Likely he won't be able to provide feedback on this for a few weeks.  We had a similar issue with discounts that was found earlier in our develop branch for Magento 2 and I believe corrected.  Are you still seeing your example on a recent Magento 2 develop branch site?

[2015-10-20 19:56] dcthelord commented on #2131
@eddielau : Thank you so much.
The 3 php tabs had the same warning:
<br />
<b>Deprecated</b>:  Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead. in <b>Unknown</b> on line <b>0</b><br />
<br />
<b>Warning</b>:  Cannot modify header in

[2015-10-20 19:57] Mulderua commented on #1432
Hi, @vladimir-k !
Thank you for feedback.

[2015-10-20 20:07] mazhalai commented on #2131
@dcthelord that helps, please follow instructions in the deprecated section, edit your `php.ini` and set `always_populate_raw_post_data` to `-1`. We do have an internal ticket MAGETWO-40303 for this issue

[2015-10-20 20:42] kortwotze commented on #636
To be perfectly honest - as I stated in the beginning: This might be in the wrong place, since I am using Magento 1.9.2.0 for that and my research for that brought me to my conclusion above. I thought, you might be able to use that in Mage2, because in Mage1 its still really messed up in that way. I looked into Mage2 just because I thought I´d find another approach to solve this issue. Then I foun

[2015-10-20 20:47] dcthelord commented on #2131
@mazhalai @eddielau : Thank you so much guys. This solved the problem.

[2015-10-20 20:47] #2131 closed

[2015-10-20 21:43] kassner commented on #1999
@guz-anton thanks for the update!

But that does not solve our testing problems. Even though this JavaScript works when running from console (it will help a lot for debugging), we still can't use it with Selenium to achieve what [this piece of code](https://github.com/magento/magento2/blob/b4d2cb55f565a4a15921d976b067128803cc7246/dev/tests/functional/tests/app/Magento/Sales/Test/Block/Adminhtml/Or

[2015-10-20 21:54] buskamuza commented on #2137
Hi @tommyJS ,
you should not need to use or change the `LoggerAbstract`.
Magento relies on `\Magento\Framework\DB\LoggerInterface` for logging and has two implementations out of the box: `\Magento\Framework\DB\Logger\Quiet` (default one, logs nothing) and `\Magento\Framework\DB\Logger\File` (really logs something).
To enable logging, change preference for `Magento\Framework\DB\LoggerInterface` to

[2015-10-20 22:31] buskamuza commented on #2134
Hi @amenk ,
we don't have this file as is, it is generated during publication of the Base package. Do you need it for some specific reason? Is it for https://github.com/m2split ?

[2015-10-21 00:33] beckindesigns opened #2148 "Grammar issues during the install process"
There are grammar issues during the install. When checking the server environment it outputs the following.

"We're making sure your server environment is ready for to be <b>installered.</b>"

[2015-10-21 01:19] beckindesigns opened #2149 "Double slash"
During the install there is a double slash for the store url. Example: http://yoursite.com//magento2/

[2015-10-21 02:27] beckindesigns opened #2150 "Can't enable module"
I created a file located (app/code/Beckin/TestModule/etc/module.xml) as described here: http://devdocs.magento.com/guides/v2.0/architecture/modules/mod_intro.html

This file contains the following:

    <config>
        <module name="Beckin_TestModule" setup_version="1.0.0">
            <sequence>
                <module name="Magento_Newsletter" />
            </sequence>
        </module>
    </

[2015-10-21 03:49] odom commented on #2150
@beckindesigns : do you have registration.php in the module structure?
Ex:
https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/registration.php
I think

[2015-10-21 04:10] beckindesigns commented on #2150
Thanks for that info. That was the issue. I wonder why that wasn't in the doc? I found another one too here: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/create_module.html Why are they two of them?

That one says you need the composer.json file also but neither mentioned the registration.php file.

Thanks again for the help!

[2015-10-21 04:15] chaluvadiswamy commented on #2144
@dfediuk ,Thanks For the Update.
But the plugin concept they mentioned only to overwrite the Model Files as  they mentioned in following link :http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html

 But in My case i want to catalog modules .phtml files into my front end view  as per my design requirement.

[2015-10-21 04:17] cfcnn opened #2151 "World users care these. Can Magento2 add the two functions?"
1. About produt images. When delete a product at the backend, the related product images are not deleted automatically, so that those useless images still occupy storage. Will Magento2 delete products and product images together?
If 3 images for each product, 500KB for each image, there are 1,000 deleted products, and the 3,000 images are not deleted together with products, they waste 1.4GB storag

[2015-10-21 04:24] chaluvadiswamy commented on #2150
@beckindesigns , i too face the same issue , if you using the beat version 1.0.0 or 0.74 you need to run the below steps:

1. Go to root path of you magento2  setup

2.Run the Command : php bin/magento setup:upgrade

3. After that you will see that Scheme  updated in you terminal .

4. Go to app/etc/Config.php , inside that you module will enabled like 'Beckin_TestModule' =>1

let me know if you h

[2015-10-21 04:28] beckindesigns commented on #2150
Thanks. After I ran:

    $ ./magento module:enable Beckin_TestModule

I ran that one too with no issues. The biggest problem I was facing was getting the first command to run and it was due to the missing registration.php file.

I'm all good now, thanks!

[2015-10-21 04:33] chaluvadiswamy commented on #2150
@beckindesigns , Have to over write the method after the extending the  existing module block file. as below code
<?php
namespace Sample\Test\Block;

class Customsubscribe extends \Magento\Newsletter\Block\Subscribe
{

/**
 * Retrieve form action url and set "secure" param to avoid confirm
 * message when we submit form from secure page to unsecure
 *
 * @return string
 */
public function getFormA

[2015-10-21 04:44] dfediuk commented on #2144
Plugins work for **almost all** classes (including the blocks), not only for Models.

[2015-10-21 04:48] chaluvadiswamy commented on #2144
@dfediuk thanks .

I will try and get you back.

[2015-10-21 05:41] amenk commented on #2134
Yes. But I don't know if I continue with m2split...

[2015-10-21 06:40] chaluvadiswamy commented on #2144
@dfediuk , I tried both ways ,but still i am facing the issue with rewrite  .phtml files .

[2015-10-21 06:55] alankent commented on #2150
The registration.php file is relatively new - the docs may not have caught up quite yet. The registration.php file was required to allow modules to reside in the 'vendor' directory.

[2015-10-21 09:25] ClementParis016 commented on #2142
Thanks, but I still have the same problem which is very specific to my environment.

[2015-10-21 09:30] antonkril commented on #2144
If you use template from different module than block, you should use full path to template: Module_Name::path/to/template.phtml

[2015-10-21 09:48] antonkril commented on #2151
Did you try magento captcha?

[2015-10-21 09:56] antonkril commented on #2067
@craigcarnell, did you clear browser cache? JS files were modified, and your browser may be using old versions.

[2015-10-21 10:12] magebay99 commented on #2121
why not using isotope filtering?

[2015-10-21 10:36] craigcarnell commented on #2067
@antonkril It works after clearing out pub/static. Thanks

[2015-10-21 10:36] #2067 closed

[2015-10-21 10:36] chaluvadiswamy commented on #2144
@antonkril  you need to give as follows
<referenceBlock name='copyright'>
	<action method='setTemplate'>
		<argument name='template' xsi:type='string'>Sample_Test::/view/frontend/template/test/copyright.phtml</argument>
	</action>
</referenceBlock>

[2015-10-21 10:57] muhammadawais93 commented on #2145
i checked all directories are set to 0770 permission and files are set to 0660 permission but error is still
plz help me im stuck there

[2015-10-21 12:18] adragus-inviqa opened #2152 "Having a system customer attribute exposed in \Magento\Customer\Api\Data\CustomerInterface"
I need to save a custom Customer attribute (`apid`, which is **system** and static) via a `\Magento\Customer\Api\Data\CustomerInterface` implementation, which I receive as a method argument.

First, I tried `$customer->setCustomAttribute('apid', 'some value');`.

But the condtions [here](https://github.com/magento/magento2/blob/098d3ff5e9f4500ca67e93d9524df58834acab8a/app/code/Magento/Customer/Mod

[2015-10-21 12:44] BlackIkeEagle commented on #1619
From what I see the grunt watch command picks up css files ? I don't see why it should be watching the css files. From what I see it should be watching the changes on the less files to generate new css files.

[2015-10-21 13:12] mazhalai commented on #2148
We are working on a fix for that @beckindesigns. Internal ticket MAGETWO-44043

[2015-10-21 13:19] mazhalai commented on #2145
@muhammadawais93 just want to make sure that you have a `group` to which apache `_www` user has been added. If not, the above permissions will not work.

[2015-10-21 13:19] mazhalai commented on #2149
@beckindesigns was this using Web Setup Wizard or CLI?

[2015-10-21 13:28] sdzhepa commented on #1816
@vishal6714  We can't reproduce this issue for now. Could you please verify whether this issue still present?

[2015-10-21 13:51] beckindesigns commented on #2150
Cool, thats what I figured it probably was. Thanks @alankent.

[2015-10-21 13:53] beckindesigns commented on #2149
@mazhalai sorry, that occurred during the Web Setup Wizard. Thanks!

[2015-10-21 14:14] mazhalai commented on #2149
@beckindesigns we are unable to reproduce this. What is your environment and how did you deploy: git clone or composer create-project?

[2015-10-21 14:19] beckindesigns commented on #2149
I used git clone to pull in the files. It's definitely there. Would you like me to do another installation and record my process?

[2015-10-21 14:21] mazhalai commented on #2149
Yes, please mention what changes were made. For example, if default store address was changed etc.

[2015-10-21 14:23] beckindesigns commented on #2149
No problem at all, I'll do that. I'll take a screen recording of the process for you. Thanks!

[2015-10-21 16:22] xcomSteveJohnson commented on #2150
The topic on registration is just published: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/component-registration.html

Please let us know if it helps.

[2015-10-21 16:28] tanya-soroka commented on #2141
Internal ticket has been created MAGETWO-44432

[2015-10-21 16:29] beckindesigns commented on #2150
@xcomSteveJohnson Perfect!

[2015-10-21 16:33] tanya-soroka commented on #2138
@pronto2000 configurable product in on the implementation for the last milestone, so we are adding feature by feature in each of the release.

All your comments and recommendations are really helpful. Thank you.

Can we close this ticket?

[2015-10-21 16:55] tanya-soroka commented on #2123
@sydekumf thanks for reporting. we was not able to reproduce this issue on new version. Please wait for the new version.

[2015-10-21 17:21] tanya-soroka commented on #2101
internal ticket for improvement has been created MAGETWO-44435

[2015-10-21 20:12] dsikkema commented on #1520
I'm going to close this ticket, but please feel free to open another one and tag me if you are still experiencing this issue.

[2015-10-21 20:12] #1520 closed

[2015-10-21 20:12] choukalos commented on #2139
Filed bug MAGETWO-44436; add links/notification to ask customer to login.

[2015-10-21 20:16] choukalos commented on #2135
Hello @siemach this is for Magento 2 related development/feature requests.  Is this a feature request for Magento 2?  How are you currently customizing Magento 1.9 to support this request?

[2015-10-21 20:20] dmanners commented on #2143
This was part of Magento1 and appears to have been ported into Magento2 also, I assume for backwards comparability. There is now a PropertyMapper class `app/code/Magento/Catalog/Model/Resource/Setup/PropertyMapper.php` which should help out when dealing with the names. It looks like this is called when the eavsetup calls `addAttribute`.

    $data = array_replace(
        ['entity_type_id' => $ent

[2015-10-21 20:23] piotrekkaminski commented on #1730
@amenk is it still an issue? I haven't seen this problem

[2015-10-21 20:23] #1730 closed

[2015-10-21 20:24] piotrekkaminski commented on #1817
@alankent what do you think?

[2015-10-21 20:25] piotrekkaminski commented on #1888
Note there are also upgrade scripts you need to run to migrate password.

[2015-10-21 20:25] #1888 closed

[2015-10-21 20:25] piotrekkaminski commented on #2031
Closing as no response.

[2015-10-21 20:25] #2031 closed

[2015-10-21 20:26] #1979 closed

[2015-10-21 20:26] piotrekkaminski commented on #2030
@mazhalai any ideas?

[2015-10-21 20:41] piotrekkaminski commented on #1897
@craigcarnell do you still have this issue? anyone else has this issue?

[2015-10-21 20:46] mazhalai commented on #2030
@pengting do you still have the same issue? Is there any error in nginx logs?

[2015-10-21 20:48] piotrekkaminski commented on #2045
internal id MAGETWO-44437

[2015-10-21 20:50] piotrekkaminski commented on #2016
@maghamed can you provide ticket ID?

[2015-10-21 20:52] choukalos commented on #636
@kortwotze Cool.  We rewrote the tax engine in Magento 2 and have some minor functional differences.

What you're describing in Magento 1 is a recently identified issue ( discount rounding issues when interacting with other rounding points - item tax, shipping, FPT ) and has a slightly different fix in M1 code which mirrors our engine changes in M2 ( we carry both - and + delta-rounds rather than

[2015-10-21 20:52] piotrekkaminski commented on #1923
@asemenenko any updated? we should support Windows.

[2015-10-21 21:14] choukalos commented on #1826
Bug should be closed and pushed to mainline.

[2015-10-21 21:14] #1826 closed

[2015-10-21 21:25] dougkm commented on #2025
Created internal issue - MAGETWO-44439

[2015-10-21 21:28] alankent commented on #1817
Sounds like a potential block caching bug. At that level I will leave to the engineering team to look into - I don't know the details of that code.

Note: Is there a reason you have not used the Magento 2 REST API support rather than using a PHTML file? That is the direction we are moving towards. Then you get all the API authentication options etc. E.g. http://devdocs.magento.com/guides/v2.0/get-

[2015-10-21 21:40] alankent commented on #1817
Note that you need to be a bit careful with PHTML files for a REST API. The cacheable flag is designed to work with a HTML page where parts of that page should not be cached. We use JavaScript to asynchronously populate the "non-cacheable" parts of a page (with static caching of the rest of the page).  So there might be something funny going on here with that behavior if it is not for a web browse

[2015-10-21 21:59] tang-yu commented on #636
@kortwotze , I agree with you that most of the rounding issue was caused by rounding prices separately and then adding prices together. We changed the calculation logic so that we round tax or discount first and subtract tax to get price excluding tax. We did this in the code, e.g., https://github.com/magento/magento2/blob/develop/app/code/Magento/Tax/Model/Calculation/UnitBaseCalculator.php#L56 a

[2015-10-21 22:58] dfediuk commented on #1791
It is NOT fixed: there is no fix in the `develop` branch.

[2015-10-21 23:09] dfediuk commented on #1791
My new fix for the current core code: https://mage2.pro/t/70/2

[2015-10-21 23:22] buskamuza commented on #2147
Hi @rodrigozulu , what kind of failure do you get?

[2015-10-21 23:30] beckindesigns commented on #2149
Here you go. https://vimeo.com/143163215 Excuse my southern Bama voice lol

[2015-10-22 04:55] markoshust commented on #2110
@alankent see last comment. I think the php equiv is `./bin/magento setup:static-content:deploy` -- is that correct?

[2015-10-22 04:55] acharrex commented on #2095
Nobody is here?

[2015-10-22 05:24] alankent commented on #2110
@buskamuza what do you think?

[2015-10-22 06:46] kortwotze commented on #636
@tang-yu @choukalos Thank you very much for this input. I am very glad to see the way, Mage2 is handling this (I did not look into this until now, because we are not bothering with Mage2 for now). The main question right now is: When will this backport fix be released for Magento 1.9.x.x? I dont really want to go live with those database hacks for our new project, but we have a deadline and I will

[2015-10-22 06:48] vishal6714 commented on #1816
Hello Team,

Let us pull latest git commit and will verify again.

Have a happy Navratri and Dashera. (Great Indian Festival).

Thanks
On Oct 21, 2015 6:59 PM, "Serhii Dzhepa" <notifications@github.com> wrote:

[2015-10-22 08:36] pronto2000 commented on #2138
I'm good with this. @JosephMaxwell?

[2015-10-22 08:44] SasiKiranK commented on #1958
Thank you. Where can i see the ticket info/status. also please provide me the estimated date so i can plan accordingly.
Thanks again

[2015-10-22 09:35] adragus-inviqa commented on #2152
I fixed that by changing the customer attribute's `is_system` to `0`. I almost confused it with `is_user_defined`. What's the purpose of that customer attribute.. attribute?

[2015-10-22 10:02] cfcnn commented on #2151
Yes, I tried. Magento captcha is too simple, robots register very easily. And the technology is out of date, because of captcha recognition software, even magento has email verification, they can login and click the verification link automatically to finish the registration. The popular automatic registration software "senuke" and automatic captcha recognition software" captcha sniper".  There are

[2015-10-22 10:42] daim2k5 commented on #1791
@dfediuk why you don't create a PR?

[2015-10-22 11:13] xcomSteveJohnson commented on #2145
@muhammadawais93 Please see http://bit.ly/1GrYajK

[2015-10-22 11:16] alena-marchenko commented on #2041
Hi,
Please provide more detailed description on this issue

[2015-10-22 12:20] dfediuk opened #2155 "Bug: the phrases «records found» and «selected» above an admin grid are untranslatable (and my fix)"
https://mage2.pro/t/138

[2015-10-22 12:27] dmitry-fedyuk opened #2156 "Why does \Magento\Translation\Model\Js\DataProvider use \Magento\Framework\Phrase\Renderer\Translate, not \Magento\Framework\Phrase\Renderer\Composite?"
https://github.com/magento/magento2/blob/0be91a56d050791ac0b67a47185d79df31e79329/app/code/Magento/Translation/Model/Js/DataProvider.php#L63

This lead to the 2 problems:
- Inline translation does not work for Knockout templates.
- Custom translators (which can be injected as an argument for \Magento\Framework\Phrase\Renderer\Composite) do not work for Knockout templates.

[2015-10-22 13:06] sidolov commented on #2045
Hi @motorlesha, could you provide more information about this issue? (steps to reproduce, git branch, environment setting: php version, etc). I can't reproduce this issue on current develop branch (commit 0be91a56d050791ac0b67a47185d79df31e79329)

[2015-10-22 13:30] mazhalai commented on #2149
@beckindesigns thank you for the video! Can you please give more details about your environment? Also, if you are on `master` or `develop` branch

[2015-10-22 13:43] dfediuk opened #2157 "PayPal currency list need to be updated"
Related to https://github.com/magento/magento2/issues/1489
Russia has been added to PayPal merchant country list but the Russian Ruble currency has not been added:
https://github.com/magento/magento2/blob/0be91a56d050791ac0b67a47185d79df31e79329/app/code/Magento/Paypal/Model/Config.php#L196-L217

The PayPal currency list used by Magento is outdated and the same problem would be with another curren

[2015-10-22 14:21] beckindesigns commented on #2149
Hi @mazhalai I am running Apache, PHP-FPM, PHP Cache - Zend Cache, Percona Database Server & Memcache on a dedicated server. I am also pulling directly from Master. Let me know if that helps.

Thanks!

[2015-10-22 15:33] lijithmg commented on #2041
Login to your account as customer after enabling the Braintree Void method. You will see My Credit Card link on the My Accounts section.

Navigate to the My Credit Card page. Add/List pages here are not responsive.

[2015-10-22 15:58] dmanners opened #2158 "ko.getObservable is not a function in admin section"
After updating to the latest version of develop (commit 0be91a56d050791ac0b67a47185d79df31e79329) I am seeing the error `ko.getObservable is not a function` in events.js:46 across the whole admin section.

I have updated magento via composer and performed the static-content:deploy. Did I miss out another step?

[2015-10-22 16:26] #2158 closed

[2015-10-22 16:27] dmanners commented on #2158
Never mind, removing the whole static folder and calling static-content deploy seems to have fixed the issue. Is there a flag that would do that for you when calling deploy?

[2015-10-22 17:41] mage2pro opened #2159 "RequireJS text plugin (lib/web/requirejs/text.js) does not set «X-Requested-With» HTTP header so the \Zend\Http\Request::isXmlHttpRequest() method returns the wrong value «false» for the plugin Ajax requests"

[2015-10-22 21:48] piotrekkaminski commented on #636
@kortwotze we have plans to improve this in 1.x but it will take time - the next bugfix release is expected next year.

[2015-10-22 21:51] antonkril commented on #2156
Agree, but RendererInterface should be used instead of Renderer\Composite

[2015-10-22 22:58] dfediuk opened #2162 "The class name «\Magento\Catalog\Setup\CategorySetup» is misleading because the class is used for both the products and categories equally"
https://github.com/magento/magento2/blob/0be91a56d050791ac0b67a47185d79df31e79329/app/code/Magento/Catalog/Setup/CategorySetup.php#L337

Similar to https://github.com/magento/magento2/issues/2163

[2015-10-22 23:05] mage2pro opened #2163 "The variable name «categorySetup» in \Magento\Catalog\Setup\InstallData::install() method is misleading because $categorySetup->installEntities() installs both the products and categories attributes"
https://github.com/magento/magento2/blob/0be91a56d050791ac0b67a47185d79df31e79329/app/code/Magento/Catalog/Setup/InstallData.php#L46

Similar to https://github.com/magento/magento2/issues/2162

[2015-10-22 23:49] jclyons52 commented on #1761
That solves it. Thanks!

[2015-10-23 02:49] mage2pro opened #2165 "Inconsistency: \Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Attributes::_getAdditionalElementTypes() fires the event «adminhtml_catalog_product_edit_element_types» but \Magento\Catalog\Block\Adminhtml\Category\Tab\Attributes::_getAdditionalElementTypes() does not fire a similar event"
Method `\Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Attributes::_getAdditionalElementTypes()` allows an extension to add custom element types to admin product page by handling `adminhtml_catalog_product_edit_element_types` event:

https://github.com/magento/magento2/blob/0be91a56d050791ac0b67a47185d79df31e79329/app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Attributes.php#L151

A

[2015-10-23 05:03] markoshust commented on #1732
I'm now receiving this error on initial `grunt refresh`:

[code]

If I open up `pub/static/frontend/Magento/blank/en_US/css/_styles.less`, here are the contents:

[code]

This appears correct. However, the file `pub/static/frontend/Magento/blank/en_US/css/source/_sources.less` doesn't exist.

This file exists: `pub/static/frontend/Magento/blank/en_US/css/source/_sources.css`, and here are the cont

[2015-10-23 05:19] astorm opened #2166 "Installer: Write Permissions on Additional File"
The following folder

    pub/media/downloadable

should be added as a "needs write permission" folder to the installer's readiness check.  While the bare bones Magento installer doesn't need access to this folder, an install with the sample data **does**.  If a user attempts to install the sample data without write permission on `pub/media/downloadable`, they'll get a permission denied error duri

[2015-10-23 06:37] wojtekn commented on #2162
It's already reported https://github.com/magento/magento2/issues/1915

[2015-10-23 07:24] thomascrepain commented on #1813
@mazhalai I provided pull request #2055 for this issue, with a unittest to proof that permissions with wildcards are now supported. Please look into this first before fixing it a second time internally.

[2015-10-23 10:08] kortwotze commented on #636
Thanks for the reply. Though its sad, that the fix is expected next year, it is good, that the fix eventually will be released. I really appreciate it :)

[2015-10-23 11:45] craigcarnell opened #2168 "Composer/working strategies"
At the moment, I have cloned the magento2 repo and I've started to do some work here on themes/modules etc.

What I'm trying to do is work out the best way for us to be able to pull upstream changes down while at the same time separate our themes/modules from Magento.

Naturally, I can create individual repos with a clone of magento2 and use composer within magento2 to fetch those down.

But I als

[2015-10-23 12:35] themestechnology opened #2169 "Could not fetch https://api.github.com/repos/sebastianbergmann/php-text-template/zipball/31f8b717e51d9a2afca6c9f046f5d69fc27c8686"
I got the below error on a clean Ubuntu install when using composer for the first time

Installing phpunit/php-text-template (1.2.1)
    Downloading: Connecting...
Could not fetch https://api.github.com/repos/sebastianbergmann/php-text-template/zipball/31f8b717e51d9a2afca6c9f046f5d69fc27c8686, please create a GitHub OAuth token to go over the API rate limit
Head to https://github.com/settings/toke

[2015-10-23 13:18] mazhalai commented on #2169
@themestechnology this is not a Magento2 issue, but a composer+github one. Please see [this link](https://circleci.com/docs/composer-api-rate-limit) on how to solve this issue.

[2015-10-23 13:18] #2169 closed

[2015-10-23 13:18] VLCSolutions opened #2170 "Unable to extend adminhtml customer addresses tab in magento2"
In magento1 i could extend the adminhtml customer addresses tab
`class Vendor_Module_Block_Adminhtml_Customer_Edit_Tab_Addresses extends Mage_Adminhtml_Block_Customer_Edit_Tab_Addresses
{
    public function __construct()
    {
        parent::__construct();
        $this->setTemplate('vlcsolutions/customer/tab/addresses.phtml');
    }
}`
and now if i modify vlcsolutions/customer/tab/addresses.pht

[2015-10-23 13:50] johnbendi commented on #2142
@ClementParis016 please clarify what you are trying to do. Are you trying to get nginx to serve your express app and magento at the same time? If so you have to separate the two applications into their own nginx virtual host configurations. If you are still having problems after that, find a way to link here
the nginx configuraton you are using for magento2.

[2015-10-23 14:18] xcomSteveJohnson commented on #2166
Please look at the latest iteration and let us know what you think. We've installed Magento with sample data several times and have not needed to do anything special for that directory.

http://devdocs.magento.com/guides/v2.0/install-gde/install/web/install-web-sample-data.html

[2015-10-23 15:57] arkadiych commented on #2002
@VLCSolutions, I'm trying to reproduce your error. Could you provide more details about the environment, where you ran your XML request: the version of SOAPUI, what kind of tool do you use to generate code, the version of the tool, language of generated code, protocol?  Was you able to get results using the approach described in http://www.soapui.org/soap-and-wsdl/getting-started.html with http://

[2015-10-23 15:58] mazhalai commented on #2150
@beckindesigns thank you for reporting this issue. We are closing this ticket. Please open a new one if you still have issues.

[2015-10-23 15:58] #2150 closed

[2015-10-23 16:26] dfediuk opened #2171 "The method \Magento\Eav\Model\ResourceModel\Helper::getLoadAttributesSelectGroups() can be sped up and simplified"
https://github.com/magento/magento2/blob/0be91a56d050791ac0b67a47185d79df31e79329/app/code/Magento/Eav/Model/ResourceModel/Helper.php#L77-L84

Can be simplified to `array_values(array_merge($selects))`
It is not only simplier but much faster too.

[2015-10-23 17:01] mazhalai commented on #2166
@astorm thank you for reporting this issue. MAGETWO-44544 will track fixes for it.

[2015-10-23 17:10] choukalos commented on #2146
I'm not able to replicate that issue;  Did you have this issue as an upgrade on top of a prior commit of Magento 2?  If so it's possible it's a javascript issue or a database creation/update issue.  Easy try might be :  rm -rf var/* ; bin/magento setup:di:compile ; bin/magento setup:static-content:deploy   - to force recompile/re publish of static JS widgets,etc.  If DB issue then I'd recommend dr

[2015-10-23 19:17] xcomSteveJohnson commented on #2166
If you use our guidance on permissions and ownership, you shouldn't run into this. Tried it today and Setup Wizard ran just fine.
Most important part of creating the user: http://bit.ly/1GrYajK
Setting permissions and ownership: http://bit.ly/1W9H4hM
Sample data, which also involves setting permissions and ownership: http://bit.ly/1OMJEpB
Note that if you install sample data after Magento, you als

[2015-10-23 19:29] astorm commented on #2166
@xcomSteveJohnson Good information, and thank for you for sharing!

I'm not sure if your post was meant as a "here's some extra helpful info" or a "we don't need to do this because we have advice on permissions".  If it's the former, folks can stop reading. :)

If it was the later, (and take this as one person's opinion), then consider that lots of people **won't** follow any guidance on permissio

[2015-10-23 19:43] mazhalai commented on #2166
@astorm `pub\media\` is being checked in readiness check. See https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Model/FilePermissions.php#L75
But, sample-data https://github.com/magento/magento2-sample-data/blob/master/app/code/Magento/SampleData/Helper/Deploy.php#L99 is attempting `mkdir` with the wrong permissions.

[2015-10-23 20:02] astorm commented on #2166
@mazhalai Thank you for chiming in!

I'm not sure I understand completely what you're saying -- it seems incorrect. Or maybe just the imprecision of the english language. It's true that `pub/media` is part of the readiness check.  However, the sample data installer is trying to make a folder inside of of the following folder

    `pub/media/downloadable`

with `mkdir`.  Specifically, it's trying t

[2015-10-23 20:12] brendanfalkowski commented on #2104
+1. Have used Gulp extensively for M1 and it's way easier for frontend people to understand than Grunt.

[2015-10-23 20:17] KAB8609 commented on #2104
+1 . I believe the majority of Magento Developers are using Gulp vs other build systems.

[2015-10-23 20:24] alankent commented on #2104
I am *not* a frontend dev - just wondering what people thought the gaps were. For example, we do some preprocessing of "//@magento_include". Are there other gaps external people know of that we would also need to support?

[2015-10-23 20:43] brendanfalkowski commented on #2104
This article nails why frontend devs like Gulp better: https://medium.com/@preslavrachev/gulp-vs-grunt-why-one-why-the-other-f5d3b398edc4#.keufgveaj

1. Grunt focuses on configuration, while Gulp focuses on code
2. Grunt was built around a set of built-in, and commonly used tasks, while Gulp came around with the idea of enforcing nothing, but how community-developed micro-tasks should connect to e

[2015-10-23 21:06] markoshust commented on #2104
There are two main gaps between the two: configuration & speed. Gulp is tremendously faster than grunt. What @brendanfalkowski said; frontend devs won't really work with grunt anymore. To provide an analogy for backend devs, grunt:gulp as svn:git.

[2015-10-23 21:09] jahvi commented on #2104
I wouldn't mind it if it was just a matter of configuration vs code because
most of the time the config is something you tend to do just once and once
it's running you forget about it, it's more about speed and compilation
times which is something that you have to deal with every time you change
your resources.

On Fri, Oct 23, 2015 at 10:07 PM, Mark Shust <notifications@github.com>
wrote:

--
Ing

[2015-10-23 22:00] mazhalai commented on #2166
Readiness check does not check all subfolders, we will fix it in scope of ticket MAGETWO-44552

[2015-10-23 22:21] alankent commented on #2168
We are experiencing the normal joy of getting all the last bits finished and brought together. There is something on the internal list of things to try that we have not got to. Would you like to experiment a bit and see if it works? (We have not got to it yet.)

At GA, we will have official releases of code in an official Composer repo. We don't have that today, so things feel half baked. They are

[2015-10-23 22:46] dmaciej opened #2172 "Get Config Structure Tabs in Console Command"
It looks there is no way to get configuration tabs from console command class:

[code]

The above code return tabs on the normal application boot.

[2015-10-23 22:47] alankent commented on #2168
...and as soon as I go back to my email, I noticed there is a known bug as to when the code cannot be outside the Magento root directory just yet. Something about `bin/magento setup:static-content:deploy` not working in this case. So be aware there are known problems.

[2015-10-23 22:59] alankent commented on #2104
There is no reason we "dislike gulp" - we just have "grunt" working today. There are just so many things to get done.

I was imagining what might be Magento specific. One thing I knew of was `//@magento_include`. We use that to search through all modules and allow them to contribute to the Less files for the site. It expands to `@include <module>/<path>` for every module where that path exists in

[2015-10-24 02:05] markoshust commented on #2104
@alankent Why? I agree with @brendanfalkowski -- this entire LESS building process seems to bloated, overbuilt & impractical. No one's going to use it if it takes over a few seconds to build new CSS files.

[2015-10-24 02:08] markoshust commented on #2104
I think overriding a file makes sense, but extending a file does not. Can't the same be accomplished by just creating a new less/css file and adding it to the assets being built? I just really don't understand "extending" a less file.

[2015-10-24 02:35] rodrigowebjump opened #2173 "Review - Rating does not retrieve selected star"
Hi,

In the review page, if save process fail, all the data of review form is retrieved except the review star selection.

This occurred while I implemented a custom review validation in a plugin that return an error message in afterValidate.

Before submit
![review-before-submit](https://cloud.githubusercontent.com/assets/635466/10708439/16d6663c-79e7-11e5-81af-7d4899527213.png)

After submited -

[2015-10-24 03:07] sanjayjethva opened #2174 "How can i rewrite tier price block in magento2"
Hello Friends,
I am facing one issue in block rewrite.
I am trying to rewrite app/code/Magento/Catalog/view/base/layout/catalog_product_prices.xml
I want to Call my own tier_prices.phtml
<layout xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/layout_generic.xsd">
    <block class="Magento\Frame

[2015-10-24 03:28] alankent commented on #2104
"extending" just means "append to the end of". Less forllows the CSS pattern of "last specified rule wins". The question is how to let a module be loaded and contribute the styles it needs to a site. The current approach "plugs in" that additional content, just like modules can plug in PHP code via di.xml, plugins, event observers, etc.

I want to do a little more research on how grunt works now.

[2015-10-24 04:33] markoshust commented on #1732
Fresh install of Magento 2, immediately after running a `grunt refresh`:

[code]

Fails. Run `grunt refresh` again immediately after the first `grunt refresh`:

[code]

Something appears to be messed up with the ordering of how grunt is building these files (something is out of order), as the second `grunt refresh` immediately after the first one executes successfully.

[2015-10-24 05:06] markoshust commented on #2104
My question is why do you need to 'extend' the CSS? CSS is not an object-oriented technology. Last rule wins, can't we just leave it up to the module to define which styles it needs to define, since CSS is all merged together when interpreted anyways? A module can always use higher-level node specificity if it needs to traverse up the DOM tree to style an appropriate element. One thing that would

[2015-10-24 05:19] markoshust commented on #2174
I believe you should post this up at http://magento.stackexchange.com/ since it isnt a bug report.

[2015-10-24 05:25] markoshust opened #2175 "ability to change admin password from CLI"
The `./bin/magento` CLI tool contains the command `admin:user:create`. It would be very helpful to add another command `admin:user:update`, which would allow the user to update the admin password. This comes up a lot when taking over development for projects from other companies, and/or just needing a quick way to change the admin password to access the site.

The same directives should probably b

[2015-10-24 05:26] alankent commented on #2104
I believe the import order is the load order of modules, which uses dependency information in modules.xml to determine the ordering (like all other cases). That is, app/etc/config.php order is worked out, then everything just uses the order in that file.

Just as one module's layout file can change/extend that of the layout files of modules loaded previously (e.g. module A adds a footer, module B

[2015-10-24 05:29] markoshust commented on #2104
Thank you for the detailed explanation -- makes a lot more sense now

[2015-10-24 05:34] alankent commented on #2104
Nothing like trying to explain something to force yourself to learn it!  (To be honest, I still don't understand all the rules - we have modes like client side Less compilation, where we make all the individual Less files available for download by the browser, so it does the compilation. I am still trying to understand all the subtleties myself.)

[2015-10-24 05:41] markoshust commented on #2104
Having sort ordering was always a prob in m1, so this will actually completely fix that. Really like that now that I know what is going on (and why) :)

Where is the magic `@magento_include` being processed?

[2015-10-24 05:46] alankent commented on #2104
If you mean in the source code, I use "grep -r" myself to find it!  I don't know how the code works to be honest - there are multiple modes going on (client side compilation, server side on demand, precompiled, grunt, etc). I have not looked at the actual code that implements it.

[2015-10-24 05:48] #2174 closed

[2015-10-24 14:21] jacquesbh commented on #2128
Below the complete trace.
PHP:
[code]

Nginx : `nginx version: nginx/1.8.0`

[code]

[2015-10-24 16:09] jacquesbh commented on #2128
The wrong commit is here: (after a long bisect)
https://github.com/magento/magento2/commit/f3a12f2e114320b3a5bdcfd1efb11aeb7ccf707e

[2015-10-24 19:15] dfediuk opened #2177 "Bug: «Uncaught ReferenceError: iterate is not defined» in mage/utils/template.js on line 176 (and my fix)"
The problem line is: https://github.com/magento/magento2/blob/af32ac1da2b877ed444eed2fbd2f92bb31cefda5/lib/web/mage/utils/template.js#L176
My fix: https://mage2.pro/t/142

[2015-10-25 00:59] dfediuk opened #2179 "The system forbids reverse paths (../) in Less @import statements so how can an extension share its Less file between frontend and backend?"
https://github.com/magento/magento2/blob/4499554d4e47135cdb8f5464e1d7eed3ebfb985e/lib/internal/Magento/Framework/View/Design/FileResolution/Fallback/Resolver/Simple.php#L79

[2015-10-25 08:14] NadiyaS commented on #1972
@dfediuk,
fix was delivered to mainline. Please see [ff0c608](https://github.com/magento/magento2/commit/ff0c6088f17cb8127f59eef9a87d41e1ff148981)

[2015-10-25 08:14] NadiyaS commented on #1956
@dfediuk ,
fix was delivered to mainline. Please see [ff0c608](https://github.com/magento/magento2/commit/ff0c6088f17cb8127f59eef9a87d41e1ff148981)

[2015-10-25 11:38] mad0house commented on #1778
@piotrekkaminski @ishakhsuvarov sorry it took so long, still does not work using latest from 5 days ago

Standard product called Test Product price £25.00

call
POST rest/V1/guest-carts/items
with
[code]
Get back
[code]
Price is wrong here as it should not be 0, expecting 25

Then lets check the cart to see if it has the correct price so
GET rest/V1/guest-carts/6ae0cd64513b7e0917b58002dcf2bac7/ite

[2015-10-25 14:11] owenhaynes opened #2183 "Make API jsonapi compliant"
At the moment the json API is not very compliant to  http://jsonapi.org.

This makes life hard when trying to use the magento API with angluarjs modules such as
rectangular, angualr-restmod.

I can imagine this is a lot of work.

[2015-10-25 15:32] mage2pro opened #2184 "The documentation uses «text/x-magento-init» without topmost curly braces, but it does not work"
http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js_init.html#init_script
This does not work (a sample from the documentation):
[code]

This works:
[code]

[2015-10-25 16:10] dfediuk commented on #2179
I have found a solution: the common Less files can be placed into the extension's `web/base` folder and then referred from both the `web/frontend` and `web/adminhtml` folders.

[2015-10-25 16:10] #2179 closed

[2015-10-25 19:39] will-b opened #2186 "Config setting of Client Side Less Compilation generates warning"
If the config value for 'dev/front_end_development_workflow/type' is set to 'client_side_compilation' a warning is generated.

trim is called on the $attributes parameter which is an empty array.

see:
app/code/Magento/Developer/Model/View/Page/Config/ClientSideLessCompilation/Renderer.php Line 121

`$attributes = $this->addDefaultAttributes('less', []);`

[2015-10-25 19:50] will-b opened #2187 "Remove type="text/javascript" for script tags"
type="text/javascript" is not needed for script tags any more.
http://www.w3.org/TR/html5/scripting-1.html

app/code/Magento/Developer/Model/View/Page/Config/ClientSideLessCompilation/Renderer.php

line 307

` $attributes = ' type="text/javascript" ' . trim($attributes);`

[2015-10-25 20:47] mage2pro opened #2188 "Suggest to restore parameterless constructor _construct in the base class \Magento\Framework\DataObject (like Varien_Object::_construct() in Magento 1.x). For now the method is duplicated in the base block, base model, base form and so on."
`Varien_Object::_construct()`:
https://github.com/OpenMage/magento-mirror/blob/1.9.2.1/lib/Varien/Object.php#L154-L156

I see it is already restored (by duplication) in the base model, base block, base form and so on:

`\Magento\Framework\Model\AbstractModel::_construct()`:
https://github.com/magento/magento2/blob/02e0378c33054acb0cdb8d731d1e2b2c2069bc1b/lib/internal/Magento/Framework/Model/Abstra

[2015-10-25 21:55] dfediuk opened #2189 "Performance bug: getAfterElementHtml() method implementation in \Magento\Framework\Data\Form\Element\AbstractElement descendants is sometimes computation expensive but called by the core multiple times for the same for element without caching"
https://mage2.pro/t/144

[2015-10-25 23:26] antonkril commented on #2183
JSON api stable version was not released when we introduced APIs. Also usage of jsonapi might get to conflict with idea that service contracts should be represented the same way in php and through webapi.

But we will definitely look at this idea.

[2015-10-25 23:45] mad0house commented on #2183
its just making it extremely difficult to work with angularjs with rest frameworks, one example is the
GET /V1/guest-carts/{cartId}/items
POST /V1/guest-carts/items
PUT /V1/guest-carts/items/{itemId}
DELETE /V1/guest-carts/{cartId}/items/{itemId}

the POST and PUT endpoints should in theory match DELETE and GET as you are modifying a cart, angualr-restmod expects this to be the case.

The cart cal

[2015-10-26 07:00] alankent commented on #2179
Too quick for me!  Yes, base is "global", not per area. It is designed for sharing files between different areas like what you were after.

[2015-10-26 08:36] NadiyaS commented on #2069
Hi @arunkasyakar ,
internal issue was created MAGETWO-44585

[2015-10-26 08:52] NadiyaS commented on #2116
Hi @thomasnordkvist ,
fix was delivered to mainline. Please see [3e9a74f](https://github.com/magento/magento2/commit/3e9a74f763fe8e4b4acac0bf3258844385a6b22c)

[2015-10-26 09:30] tommyJS commented on #2137
Hi @buskamuza ,

thank you for the quick answer.
It works ;)

[2015-10-26 09:30] #2137 closed

[2015-10-26 09:48] ilagno89 commented on #2183
Internal ticket MAGETWO-44589 has been created.

[2015-10-26 10:10] craigcarnell commented on #2168
@alankent Strangest thing is when I used magento composer installer repo, it installed the modules into vendors but the files also exist in app/code/Magento and not symlinks?

[2015-10-26 10:23] craigcarnell commented on #2051
@choukalos @gordonknoppe Any update on this?

[2015-10-26 10:37] barbarich-p opened #2190 "Bug on Discount calculation"
Hello,
I found a bug on discount calculation.

File app/code/Magento/SalesRule/Model/RulesApplier.php Line 143
[code]
deeper -
[code]

Line 157 - ```$this->validatorUtility->minFix($discountData, $item, $qty);```
go deeper -
File app/code/Magento/SalesRule/Model/Utility.php
```$discountAmount = min($itemDiscountAmount + $discountData->getAmount(), $itemPrice * $qty);```

As a result, if some rule

[2015-10-26 12:04] craigcarnell opened #2191 "Magento root directory is not specified - hhvm"
Only happens with HHVM (3.10) not using PHP 7. Trying to run /setup in latest code, using nginx.

[code]

top of my nginx config:
[code]

[2015-10-26 13:09] VLCSolutions commented on #2002
@arkadiych Now i'm able to get request and response from SOAPUI tool, but when i try to use the same http://192.168.0.183/NewMagento2/soap?wsdl&services=customerCustomerRepositoryV1 in [storm](https://storm.codeplex.com/) tool still its giving error.
Note: In [Storm](https://storm.codeplex.com/) magento1 XML Request generated successfully.

[2015-10-26 14:03] rklerck commented on #1817
We're not using the stock management of Magento, but a 3rd party rest service which returns the stock. So based on the response, we display another value on the webpage.

<div class="xxx-stock">
    <?php
      if($_stock > 0) {
        ?><p class="available"><?php echo __('InStock'); ?></p><?php
      } else if(is_null($_stock)) {
        ?><p class="error"><?php echo __('NotAvailable'); ?></p><?

[2015-10-26 14:57] choukalos commented on #2183
This looks like partially a bug ( Cart APIs - we would like our API's to be easily used by node based platform i.e. Angular with out a wrapper ) and a feature request ( be compliant with json api standard which includes definitions on response payload structure).  We'll look into the later portion as part of our future work to improve the web API framework

[2015-10-26 15:05] choukalos commented on #1778
Reopening and creating internal ticket - MAGETWO-44615 .

[2015-10-26 15:11] choukalos commented on #2157
Opened internal ticket MAGETWO-44616.

[2015-10-26 15:19] cspruiell commented on #2033
@davefarthing this issue does not exist in the develop branch.

[2015-10-26 15:20] antonkril commented on #2183
Just to clarify: internal ticket reported by @irenelagno is to fix naming of resources, not full support of jsonapi

[2015-10-26 15:22] cspruiell commented on #2063
@bbraspenning This issue has been fixed in MAGETWO-43903.

[2015-10-26 15:23] choukalos commented on #2096
Just checked on the latest dev commit and am unable to replicate.  Closing.

[2015-10-26 15:23] #2096 closed

[2015-10-26 15:27] choukalos commented on #2061
Hi @dfediuk can you turn this into a pull request?  - Thanks!

[2015-10-26 15:30] choukalos commented on #2049
Our forums are here - https://community.magento.com

[2015-10-26 16:23] tkacheva commented on #2095
@acharrex we have plans on improving CMS capabilities in future Magento 2 releases. The top priority is to improve content editing capabilities and make page creation faster and easier for admin user.

[2015-10-26 17:01] mazhalai commented on #2191
@craigcarnell have you tried setting it in the server directive?  https://github.com/magento/magento2/blob/develop/nginx.conf.sample#L12

[2015-10-26 17:02] tkacheva commented on #2016
Fix is in merging process. Expect it soon

[2015-10-26 17:07] alankent commented on #1817
Ah! Thanks. Got it. I will make sure the relevant core engineering team relevant to this area look at this request.

[2015-10-26 17:08] mazhalai commented on #2175
Thank you @markoshust for your suggestion. We have created task MAGETWO-44629 to work on this.

[2015-10-26 17:13] tkacheva commented on #1500
MAGETWO-44630

[2015-10-26 17:48] alankent commented on #2168
The old composer approach (started as a community Hackthon project by the way) got Composer & Magento to play ball by downloading to vendor then copying to app/code. Magento only picked it up under app/code. We have just recently got it so Magento can load from 'vendor' directly - but we need to keep things backwards compatible and some dependencies we found used "*", so there might be copying sti

[2015-10-26 17:49] guz-anton commented on #2177
Hm.. Interesting bug. I'll make an investigation. But how you got it? Was it an IE? IE9 in some mode?

[2015-10-26 18:14] dfediuk opened #2192 "A typographic error in the parameter name (idReadOnly insead of isReadOnly) of Magento/Catalog/view/adminhtml/web/js/options.js JavaScript component lead to its wrong behaviour in some cases"
https://mage2.pro/t/topic/147

[2015-10-26 18:54] ClementParis016 commented on #2142
@johnbendi yes, I would like nginx to serve my Express app, acting as a proxy server, and also serve my Magento site at the same time.
I don't think virtual hosts are going to be helpful here, since I don't want to use two different domains, but just two different paths, `/docs/` and `/demos/demo-magento2/`.

the nginx configuraton you are using for magento2.

I'm including [the exact same file](h

[2015-10-26 19:06] dfediuk commented on #2165
My workaround solution: https://mage2.pro/t/148
It is not perfect because it overrides a core class, but I have not found a more proper solution.

[2015-10-26 19:41] ihor-sviziev commented on #2184
@dfediuk would be great to create PR to documentation repsitory
https://github.com/magento/devdocs/blob/develop/guides/v2.0/javascript-dev-guide/javascript/js_init.md

[2015-10-26 20:01] owenhaynes opened #2193 "Rest API Categories excludes other root Categories"
If you have more then one root category the following endpoint only ever returns one.

Have 2 root categories (default and test root) the following is returned

GET /rest/V1/categories
[code]
should this end point not return an array so that all the root categories are listed?

This is very similar to #2096, as I guess he was only using root categories

[2015-10-26 21:47] asemenenko commented on #2115
Hi @bvboas to make data accurate:
- we need to update sales orders with settlement status of the transactions associated with it. Settlement report functionality can be used to grab those transactions and update sales order documents. Usually there is a way to get a monthly report from the gateway programmatically. CSV upload is also an option sometimes.
- interface should be universal enough to b

[2015-10-27 00:29] mage2pro opened #2194 "Need the possibility to load CSS asynchronously"
The decision whether a JavaScript component need be shown could be made when the layout is already built, so the component is unable to add its CSS resources by the standard way (`\Magento\Framework\View\Page\Config::addPageAsset()`).
Is any standard possibility to load stylesheet asynchronously? (like [`require-css`](https://github.com/guybedford/require-css) do).

[2015-10-27 06:13] kandy commented on #2194
You can use requirejs + data-mage-init / x-magento-init. See: http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js_init.html

[2015-10-27 06:16] acharrex commented on #2095
Thanks Oleva for your reply.
When do you know these changes will be released? In three months, six months, one year?

[2015-10-27 07:33] dfediuk commented on #2194
I do not see any word about CSS there.

[2015-10-27 07:36] kandy commented on #2194
Sorry, i missed that it's about css.   require-css will be good for this

[2015-10-27 08:36] phpdevgeek commented on #1208
@nileshtighare have you solve this issue ? Right now i am facing same issue.

[2015-10-27 08:54] guz-anton commented on #2177
Internal issue MAGETWO-44645

[2015-10-27 08:54] guz-anton commented on #2159
Internal issue MAGETWO-44646

[2015-10-27 09:24] craigcarnell commented on #2168
@alankent I've managed to figure out that you can simply edit the composer.json and tell it to download 1.0.0-beta5 which is more up to date for my development. Thanks!

[2015-10-27 10:03] AndriyNasinnyk commented on #2170
HI @VLCSolutions
We have a example in app/code/Magento/Wishlist/view/adminhtml/layout/customer_index_edit.xml
In our code Wishlist module adds new custom tab in Customer edit form.
Take into your attention, because your custom block must implement Magento\Ui\Component\Layout\Tabs\TabInterface.

[2015-10-27 10:24] slavvka commented on #2087
@dfediuk thank you for your notification. Could you please give us more details why current definition is a problem for you?

[2015-10-27 10:26] slavvka commented on #2075
@aman91u , thank you for the question. Could you please provide your file to be imported to check what is wrong? Thank you!

[2015-10-27 10:30] phpdevgeek opened #2195 "magento2 shipping method :Table Rates import issue : Windows"
Right now I am trying to import table rates, shipping method rates in Magento 2 in windows environment.But whenever I am trying to import it throw me error like

The file "C:/Windows/Temp/E:/wamp/tmp/php9B36.tmp" doesn't exist

I have already set upload_tmp_dir to E:/wamp/tmp, I don't know why it appends C drive directory.

[2015-10-27 10:33] slavvka commented on #2088
Hi @dfediuk. Could you please explain why do you need that?

[2015-10-27 10:34] aman91u commented on #2075
i found solution and i successfully imported all propducts . Issue with shippingname note blank that`s by this issue occurs

[2015-10-27 10:35] #2075 closed

[2015-10-27 10:39] AndriyNasinnyk commented on #2170
You can try overwrite fieldset template just for address tab.
Create file YourVendor/ModuleName/view/base/ui_component/customer_form.xml
[code]
Copy template form app/code/Magento/Ui/view/base/web/templates/form/fieldset.html to you app/code/YourVendor/ModuleName/view/base/web/templates/form/my-address-template.html and modify for your changes.

If it's not help you, we have internal issue that mo

[2015-10-27 10:46] dfediuk commented on #2088
Because a usage of an undeclared method leads to IDE inspection warnings.

[2015-10-27 10:51] adragus-inviqa opened #2196 "Magento\Framework\View\Asset\File is not checked if it's indeed a file"
This happens when I request an non-existent asset, like `http://m2.dev/static/frontend/Site/default/en_US/js/what.js`.

The file is resolved to bool `false`, but, when prepending the full path, it ends up becoming `/var/www/site/releases/20151027072301/` - hence a folder -, so it fools the system into thinking that it exists, but it's no the file that exists, but the folder. Finally, `assertIsFile

[2015-10-27 11:15] slavvka commented on #2088
I see. It isn't an urgent fix to be made so feel free to make a pull request with your changes and we will merge it. Thank you!

[2015-10-27 11:17] slavvka commented on #2066
@adragus-inviqa, thank you for your notification. Please feel free to contribute it with your pull request. Thank you!

[2015-10-27 11:56] sivajik34 opened #2197 "import/export issue:There is no sample file for this entity."
![nosample](https://cloud.githubusercontent.com/assets/7636894/10757267/c237a8a2-7ccf-11e5-829c-bf0e04b5132c.png)

[2015-10-27 12:24] dfediuk commented on #2194
My workaround solutions: https://mage2.pro/t/149

[2015-10-27 12:40] mage2pro opened #2198 "Need a standard way to detect whether the layout has already been built"
There is an internal field `\Magento/Framework/View/Layout/Builder::$isBuilt`
https://github.com/magento/magento2/blob/ffa02d82c6344c76ea6de8b50d9612b3200ea2c7/lib/internal/Magento/Framework/View/Layout/Builder.php#L61
Need a public method.

There is an event `layout_generate_blocks_after`:
https://github.com/magento/magento2/blob/ffa02d82c6344c76ea6de8b50d9612b3200ea2c7/lib/internal/Magento/Frame

[2015-10-27 13:49] markoshust commented on #2197
possible dupe of https://github.com/magento/magento2/issues/1840

[2015-10-27 13:55] markoshust commented on #2060
PR https://github.com/magento/magento2/pull/2199

[2015-10-27 13:57] mazhalai commented on #2142
@ClementParis016 but you do need to edit the sample file to customize it for your paths

[2015-10-27 14:25] craigcarnell opened #2200 "adminhtml - top menu"
Hi,

The screenshot here shows that the admin menu is at the top, but on my system it's on the left. I prefer it on the top, is there anyway to change it?

http://ubertheme.s3.amazonaws.com/Blog/dec2014/magento2feature/blog/BackendM.jpg

Thanks

[2015-10-27 14:28] kumbas111 commented on #2177
Please provide details how could you manage to get this error on recursion callback in underscore method

[2015-10-27 14:53] markoshust commented on #1732
This is no longer happening for me on the `develop` branch, so it must have been fixed in another ticket over the last few days. Closing it out.

[2015-10-27 15:11] thomasnordkvist commented on #2116
Great @NadiyaS !
I'll do an update and test this soon.

[2015-10-27 15:28] dfediuk commented on #2200
It is an old screenshot. No way to return it to the top (without programming).

[2015-10-27 15:33] craigcarnell commented on #2200
@dfediuk That's a shame. If you have a lot of people trained to use it on the top that is!

[2015-10-27 16:48] matthewwiggins opened #2201 ""Storage Configuration For Media" isn't respected"
Hi, as of commit 80c5e2b the store configuration option for storing media on the database doesn't appear to work, at least in how our team is expecting it to. With this enabled, when product images are uploaded they are placed in media/catalogue/product/ and all the image urls point to that location. If those files are then deleted they are never replaced by any process and therefore 404.

Our exp

[2015-10-27 17:23] mage2pro opened #2202 "Class \Magento\Framework\Data\Form\Element\Textarea breaks specification of the parent class \Magento\Framework\Data\Form\Element\AbstractElement by not calling the method getBeforeElementHtml (getAfterElementHtml is called)"
`\Magento\Framework\Data\Form\Element\AbstractElement::getAfterElementHtml()`
https://github.com/magento/magento2/tree/80c5e2b00170b290909f65f8922a7ebcb315ed1a/lib/internal/Magento/Framework/Data/Form/Element/AbstractElement.php#L385-L388

`\Magento\Framework\Data\Form\Element\AbstractElement::getBeforeElementHtml()`
https://github.com/magento/magento2/tree/80c5e2b00170b290909f65f8922a7ebcb315ed1a

[2015-10-27 17:46] dfediuk commented on #2202
I have temporary fixed it for myself with a plugin: https://mage2.pro/t/150

[2015-10-27 17:51] alankent commented on #2168
Err, yeah. You could just do that of course. But that would have been too short an answer! ;-)

[2015-10-27 18:04] alankent commented on #2202
(Side note - how did you find the experience of creating a plugin?)

[2015-10-27 18:07] Vasimkadiwala commented on #781
Trying to Login to Admin panel(Magento 2) with chrome failed with no error message
with firefox its working fine

1.Tried different domain name instead of local host
2. Tried disabling system config -> web -> default cookie settings -> use HTTP only

But No luck

[2015-10-27 18:23] dfediuk commented on #2202
I think the plugins is the **top one** feature of Magento 2.
It would be great to plug-in not only to the public methods but to the protected methods too.
It would help to solve the ploblems like https://github.com/magento/magento2/issues/2165 in a more efficient way (now I was forces to **override all the class** because the problem methods are protected and can not be plugged in).

[2015-10-27 18:31] dfediuk opened #2203 "Need a JavaScript programmatic notification (event) about the in-browser language translation has been finished"
It is important because the in-browser language translation modifies DOM and it sometimes leads to odd initialization behaviour of external scripts.

[2015-10-27 20:11] piotrekkaminski commented on #1839
internal issue MAGETWO-44684

[2015-10-27 20:12] piotrekkaminski commented on #1838
internal issue: MAGETWO-44685

[2015-10-27 20:14] piotrekkaminski commented on #2076
@pengting make sure you have PHP-CLI installed for running the command line scripts that are called by cron.

[2015-10-27 20:14] #2076 closed

[2015-10-27 20:30] piotrekkaminski commented on #2092
internal issue MAGETWO-44686

[2015-10-27 20:32] piotrekkaminski commented on #2090
internal ID MAGETWO-44687

[2015-10-27 20:33] dfediuk commented on #2203
I have resolved the issue with my external script and it seems the cause of it oddly behaviour is not the in-browser translator.

[2015-10-27 20:33] #2203 closed

[2015-10-27 20:36] piotrekkaminski commented on #2062
Internal issue: MAGETWO-44688

[2015-10-27 20:36] #2023 closed

[2015-10-27 20:39] piotrekkaminski commented on #2086
internal issue MAGETWO-44688

[2015-10-27 21:36] piotrekkaminski commented on #2082
internal issue MAGETWO-44691

[2015-10-27 21:56] choukalos commented on #2190
Update from Team - currently this is per design

In the Priority field, set the promotion’s priority. This is useful if you have two or more shopping cart price rules enabled at once. This priority tells Magento in which order to process the rules. This is important because it may affect the final amount of the discount.

Example
You have two rules: “10% off T-shirts” and “$1 off all Blue items”.

[2015-10-27 22:26] dsikkema commented on #2082
@dfediuk can you please provide steps to reproduce the exception, and a stack trace?

[2015-10-27 23:47] wonderfan commented on #1208
I fixed it in my environment.

[2015-10-28 03:35] pradeeprcs commented on #967
http://magento.stackexchange.com/questions/82159/magento-2-how-to-add-grid-to-the-tab-in-customer-index-edit/87637#87637

this link help you

[2015-10-28 05:07] phpdevgeek commented on #1208
@wonderfan in which way you have solved the error ? Can you please share your answer

[2015-10-28 05:35] chaluvadiswamy commented on #2144
@dfediuk , Still issue existing is there any other option

[2015-10-28 07:54] lewbor opened #2205 "Problem with \MongoBinData while unit testing"
In class lib/internal/Magento/Framework/Cache/Test/Unit/Backend/MongoDbTest.php at line 236: $binData->bin = $expected; It cause a error: The 'bin' property is read-only

[2015-10-28 08:15] SLv99 commented on #2146
I think it's a database related problem. When I try to run php bin/magento setup:static-content:deploy I get this error:

  [InvalidArgumentException]
  en_US argument has invalid value, please run info:language:list for list of available locales

When I run php bin/magento info:language:list I get this:
+----------+------+
| Language | Code |
+----------+------+

After that I reinstalled everythi

[2015-10-28 12:03] adragus-inviqa commented on #1671
@piotrekkaminski - I can confirm the issue on the merchant beta 5 version.
Can you guys re-open this?
You cannot add pages from setup scripts with the `VersionCms` enabled.

[2015-10-28 12:13] bh-ref commented on #1388
i now encounter the same problem. i am using the sample data, maybe this is the root cause?

[2015-10-28 12:59] VLCSolutions opened #2206 "config(special symbols) rendering problem"
I have created a field in system configuration like below
![configuration_empty](https://cloud.githubusercontent.com/assets/14070968/10788786/c7e856fe-7d9f-11e5-93cc-d5f8459edce7.png)

In this field i can dynamically add no.of items
In this field if i enter any values in the textbox its rendering perfectly except for special characters.

For example if i enter `<`,`>` its rendering as `&lt;` and `

[2015-10-28 14:09] cfcnn opened #2207 "Will Magento2 Merchant be available in the fourth quarter of 2015?"
@ilol  Hello, I got the news from here, http://magento.com/developers/magento2  .
Is it real that Magento2 Merchant will be available in the fourth quarter of 2015?
Is it the same as CE version? What are the difference between Magento2 Merchant and CE?
What versions will Magento2 have?
I'm using Magento 1.9.2.2 CE, what version shall I use when update to Magento2?

Will Magento2 still have configu

[2015-10-28 15:57] tanya-soroka commented on #2098
@johnbendi  Do you have any additional question / Comments?
If not please close the ticket.

[2015-10-28 16:01] tanya-soroka commented on #2132
@amenk thanks for the contribution of the new shipping method for the Magento2. I assignee this implementation to Ilya.

[2015-10-28 16:16] tanya-soroka commented on #2099
@arunkasyakar the issues should be fixed. Please verify and reopen a ticket if you will have any issues.

[2015-10-28 16:16] #2099 closed

[2015-10-28 16:17] tanya-soroka commented on #1978
@dfediuk issue has been fixed and available in the new version.

[2015-10-28 16:17] #1978 closed

[2015-10-28 16:18] tanya-soroka commented on #2073
@dfediuk issue has been fixed.

[2015-10-28 16:18] #2073 closed

[2015-10-28 16:30] ihor-sviziev opened #2209 "Why main model instance creates not in controller?"
I found that during rendering current model object (as example product) creates not always in controller, sometimes it creates in helper. As example product object creates [in helper on frontend](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Controller/Product/View.php#L109) and [in controller in adminhtml](https://github.com/magento/magento2/blob/develop/app/code/Magen

[2015-10-28 17:12] antonkril commented on #2151
@piotrekkaminski can you look at this request?

[2015-10-28 17:14] guz-anton commented on #2187
I've created internal issue for this little fix MAGETWO-44724. Will see how fast it can be fixed.
Thanks for note.

[2015-10-28 18:04] CNanninga opened #2210 "Need hooks for injecting content within the product list loop"
Because the primary product list template contains all HTML for each product directly in the loop within this template, this means that the ability for a module to inject additional content for each product usually requires overriding this entire template.

Several hooks should be provided within the main loop of app/code/Magento/Catalog/view/frontend/templates/product/list.phtml to allow for this

[2015-10-28 18:16] CNanninga opened #2211 "Allow declaration of "always" checks for Magento\Payment\Model\Checks\SpecificationFactory"
Magento\Payment\Model\Checks\SpecificationFactory is used for defining and running checks to determine if payment methods are available.  The architecture makes it easy to define new checks using DI.  However, the areas that use this class (e.g., \Magento\Payment\Block\Form\Container::_canUseMethod) directly specifies which checks to run.  This means that, in addition to creating a new check via D

[2015-10-28 19:18] will-b opened #2212 "Improve method canBeShowInCategory"
The method name 'canBeShowInCategory' does not sound right. Can it be changed to
- canBeShownInCategory
- canShowInCategory
- canProductBeShownInCategory

It appears multiple time within Magento\Catalog

It returns a string of the product Id if true and a false when its not. A method name starting with 'can' or 'has' should usually return a boolean only.

[2015-10-28 20:58] alankent commented on #2206
It looks like it is being double escaping when being populated into the form. Are you using JavaScript when populating the form fields, or PHP code? There seems to be one too many layers of escaping going on.

[2015-10-29 00:21] alankent commented on #2206
I suspect this is related to the file app/code/Magento/Config/view/adminhtml/templates/system/config/form/field/array.phtml. I am guessing we are double escaping on the way out, which would be a bug. I am going to leave as a bug for the Engineering team more familiar with this code.

[2015-10-29 03:29] cfcnn commented on #2151
@antonkril Thanks for response, I thought it would be ignored. It's an unavailable site but  the product keywords were grabbed by search engine. The robots registered automatically by tools, all customer emails on the list are robots(as the picture shows).

![robot](https://cloud.githubusercontent.com/assets/15027055/10808341/2383c4fa-7e25-11e5-9a8c-7fd9795eaeed.png)

Magento is the most popular o

[2015-10-29 05:30] chaluvadiswamy commented on #2111
@mazhalai , Me too have same issue (var 1.0.0 beta)

[2015-10-29 05:38] #2109 closed

[2015-10-29 07:41] tanya-soroka commented on #2141
Issue has been resolved. Thanks

[2015-10-29 07:41] #2141 closed

[2015-10-29 08:24] SLv99 opened #2214 "Products suddenly disappeared on frontend"
I've been developing Magento 2.0 themes/extensions for a while now and almost releasing the first Magento webshop. My problem is that in this webshop the products are suddenly disappeared on the frontend. The backend still shows the products correct. I've spent a lot of hours now to search for a solution, but I still did not manage to get it working again.

I checked all standard possible solution

[2015-10-29 09:14] mc388 commented on #1367
When is this available for the merchant beta?

[2015-10-29 09:29] dungdk opened #2215 "How to add category tree to custom module in backend?"
Hi All,
I want to add category tree to my module, it's like product edit page.
Anyone know how to do it.
Thanks all in advance.
Regards,

[2015-10-29 09:32] ksz2013 opened #2216 "Sample Data installation erros"
HI,

When trying to install the sample data, more preciesly the configurable products sample data I get the following error
PHP Fatal error:  Undefined class constant 'FIELD_NAME_VALIDATION_STRATEGY' in  /app/code/Magento/SampleData/Module/ConfigurableProduct/Setup/Product.php on line 84
I am using the master branch on both repositories.

Question is: sample data is not yet supported for magento2

[2015-10-29 09:33] tkacheva commented on #2200
Admin menu became vertical after admin UI update

[2015-10-29 09:33] bh-ref opened #2217 "tag for 1.0.0-beta5 missing"
hi, I saw in your changelog that 1.0.0-beta5 should be available, but I cannot find a tag for it. How can I get 1.0.0-beta5?

[2015-10-29 10:07] SLv99 commented on #2214
If I rollback to a previous backup, the products are back again. I think this is because of the page cache, when I clear this the products are gone again. I did a database compare, but nothing critical changed.

[2015-10-29 10:37] andrr commented on #1018
@ajmudrak this is not correct way to fix it. All data in db will be lost.
I've added identical function to this class Mage_Reports_Model_Resource_Product_Index_Abstract
[code]
and call of this in save() method
[code]
Expected result:
Magento stopped throw the Exceptions and data in "report_viewed_product_index" looks fine.

[2015-10-29 11:15] minikist commented on #1298
Hello,
Is this still an issue in 1.0.0-beta? I try to import products, but the images doesn't work for me.
I tried:
- Upload all images to pub/media/import
- Add image names to your csv file, both the base_image and additional_images columns did work for me
- Leave 'Images File Directory' empty on import
the product is succesfully loaded and when i edit the product i can see the image_label(alt ta

[2015-10-29 11:23] SLv99 commented on #1298
Hi,

As far as I know, this issue is fixed. I imported multiple products with images. Do you see the image in the Image Management tab for the product?

What I did to import:
* Added image name with extension to import file for columns base_image and thumbnail
* Uploaded images to var/import
* Added Image File Directory: var/import

After a reindex the products are shown with the image.

[2015-10-29 11:39] minikist commented on #1298
Hello SLv99,
Thanks for the fast reply,
i have add a printscreen of the product and the import screen.
this is what i see.

all the images are moved to install_dir/var/import

![error magento](https://cloud.githubusercontent.com/assets/15378686/10817336/678c667a-7e39-11e5-8414-f65ee96adad0.png)

my csv file
base_image = 2_pic1.jpg
base_image_label = 40000001
small_image =
small_image_label =
thumb

[2015-10-29 12:13] SLv99 commented on #1298
Weird, I think this should work. The only difference that I see compared to my import is that I have an extra column 'image', but I don't think this can be the problem.

![schermafbeelding 2015-10-29 om 13 12 54](https://cloud.githubusercontent.com/assets/1763934/10818067/db9a18dc-7e3e-11e5-9f0c-e7798886e86e.png)

[2015-10-29 12:20] minikist commented on #1298
I test it, but that make no sense.
Is there a way to debug or is there already a log for the importer?

I tried also with the url, but that's not working too.

[2015-10-29 13:14] SLv99 commented on #2214
Another update, products are still available when I access the product directly via the URL. When I try to add the product to my cart I get this error: 'We can't add this item to your shopping cart right now.'

[2015-10-29 13:40] mazhalai commented on #2111
@chaluvadiswamy  there were some auto merge issues, we are working on getting the fix back in. In the mean time can you please refer to the temporary fix above?

[2015-10-29 13:46] mazhalai commented on #2207
@cfcnn swatches are here: https://github.com/magento/magento2/tree/develop/app/code/Magento/Swatches

[2015-10-29 13:49] LittleBigDev commented on #417
Hello @kokoc, did you plan a similar fix for Magento 1 ? I'm currently on EE 1.14 and iI have this bug too (class Mage_Catalog_Model_Resource_Product_Indexer_Eav_Source).
If my question should be asked somewhere else, please tell me :)

[2015-10-29 13:57] alena-marchenko commented on #2157
Hi Dmitry,

We have added Russian Ruble PayPal currency list.
Please feel free creating new issue on github or reopen this one if you have any further issues

[2015-10-29 13:57] #2157 closed

[2015-10-29 14:25] mc388 opened #2218 "Database rollback failed"
I created a clean magento instance, import the sample data and created backup for the database and the media files.
[code]

Then I created a clean mageto 2 installation and run the minimal setup.
[code]

Next step is to copy the backup files into `var/backups` and run the rollback command.
[code]

The console output is:
[code]
 After `DB rollback is starting...` it stops, but the store has some sa

[2015-10-29 14:34] choukalos commented on #2207
@cfcnn Yes - Q4 2015 we'll drop the Double Deuce ( to paraphrase our product Paul ) in both CE & EE variants to continue our march towards total world e-commerce platform domination (yeah baby :)

Magento 2.0 CE is for hobbyist and smaller merchants with features such as improved admin UX, streamlined checkout flow, improved mysql search, improved import/export, swatches, full page caching and mor

[2015-10-29 14:42] xcomSteveJohnson commented on #2216
My understanding is that both master and develop are supported; however, you must *clone* both branches for it to work. Please provide the steps you used.

[2015-10-29 14:47] xcomSteveJohnson commented on #2218
Did you create the backup after you already installed sample data?

[2015-10-29 14:51] ksz2013 commented on #2216
Hi,

The steps were the following:
+ checkout from master on magento
+ composer update
+ checkout from master on magento-sample-data
+ build the symlinks between sample-data repo and magento repo using php -f build-sample-data.php -- --ce-source="<your Magento CE install dir>
+ run the installation -> everything went fine until the ConfigurableProductsSampleData -> and there i received that error

[2015-10-29 14:56] mc388 commented on #2218
Yes!

1. Install from Magento 2 CE merchant branch
2. Install sample data from merchant branch
3. Create Backup

[2015-10-29 15:01] cfcnn commented on #2207
@choukalos  Thank you for response. Does that mean Magento2.0 is going to charge? If magento 2.0 is not free any more, will you keep updating Magento1.9.x? or 1.9.x will be eliminated? and Magento is not free in future?
If it's not free any more, it may be good news for Ebay, but bad news for its loyal users.

[2015-10-29 15:02] nagno commented on #1671
I opened a partner portal ticket (#02570269), probably that will help to get support on it.

@piotrekkaminski I'm really sad it was closed without any explanation. :(
I know the Magento developers are really busy during these days (so am I) but closing tickets without really investigating them is not a good idea. For everybody's sake please don't continue this practice or we will end up with a pro

[2015-10-29 15:16] choukalos commented on #2207
Magento 2.0 is free!   I was just being sarcastic but I guess it didn't come across.

[2015-10-29 15:30] mazhalai commented on #2216
@ksz2013 thank you for reporting the issue. We have created issue MAGETWO-44755.

[2015-10-29 15:38] minikist commented on #1298
Do you know which version you have from magento 2 (github version)??

the images weren't moved to the dir pub/media/catalog/product after importing? that's weird i gues.

Thanks

[2015-10-29 16:39] adrok opened #2219 "Performance Issue"
In magento profiler, execution time for locale/currency ~ 0.7 sec. (same for frontend and backend)

[2015-10-29 17:06] markoshust commented on #1367
I'm assuming this is all ready in https://github.com/magento/magento2/releases/tag/1.0.0-beta4

[2015-10-29 17:27] mazhalai commented on #2218
@mc388 have you tried the tips specified here: http://devdocs.magento.com/guides/v2.0/install-gde/trouble/tshoot_segfault.html

[2015-10-29 19:10] dccampbell commented on #1367
Of note, as of 1.0.0-beta4 the composer.json is still restricted to PHP ~5.5.0|~5.6.0.

[2015-10-29 21:45] choukalos commented on #2193
yes this looks like a bug; you should be able to see the 2nd 'test' root category.  Internal ticket MAGETWO-44763

[2015-10-30 04:03] dmitry-fedyuk opened #2222 "The method \Magento\Cms\Helper\Wysiwyg\Images::getImageHtmlDeclaration()..."
The method \Magento\Cms\Helper\Wysiwyg\Images::getImageHtmlDeclaration() uses \Magento\Store\Api\Data\StoreInterface interface but relies on getBaseUrl() method with is absent in the interface and presents in a particular implementation only (\Magento\Store\Model\Store)

### Preconditions

1. Magento 2 code.

### Steps to reproduce

1. Open method \Magento\Cms\Helper\Wysiwyg\Images::getImageHtmlDe

[2015-10-30 06:21] mc388 commented on #2218
I set `ulimit -s 65536` in the `.bashrc`file and the same problem.

Setting `pcre.recursion_limit=100000` in `php.ini` and the same problem.

[2015-10-30 06:22] mc388 commented on #1367
I'm using the merchant beta and PHP 7 is not working

[2015-10-30 07:38] chaluvadiswamy commented on #2111
@mazhalai i tried with that ,problem is there is Component Folder in following path  lib\internal\Magento\Framework\.
So i can't able to proceed with above fix,also i refered the following version
 - 1.0.0 Beta
 - 0.74.0 Beta

[2015-10-30 09:43] chaluvadiswamy commented on #1857
@abhilash123 I tried with above code but it not working for me .

[2015-10-30 10:12] #1924 closed

[2015-10-30 10:24] asemenenko commented on #2117
Hi @craigcarnell in order to fully support this feature we need to use tokenization provided by a payment solution providers - say Braintree comes out of the box with this feature. The flow should be the following: create a separate payment action = Order for Braintree that will generate a token for chosen payment type with zero amount/configured % of total (PayPal or credit/debit card) and save i

[2015-10-30 10:44] craigcarnell commented on #2117
@asemenenko Sounds just what I was thinking. For our use it would have to be independent of payment gateway as we predominately use Realex. But we might also use PayPal and Amazon Payment's too. Can it be factored in such a way to make this possible for other providers to extend the functionality/implement your own hooks?

[2015-10-30 11:58] chaluvadiswamy opened #2225 "Add Category attributes for second time using upgrade"
Add Category attributes for second time using upgrade #1857

[2015-10-30 12:09] asemenenko commented on #2117
@craigcarnell this is how any feature related to payments should be implemented - we must not provide something that is hardcoded to a certain configuration - it should be a part of a common interface that can be used by a 3rd party extensions. Say we already have a payment actions "Authorize" and "Authorize and Capture" that are common for all payment solutions. Same needs to be applied here as w

[2015-10-30 12:45] markoshust commented on #1367
the merchant beta tag is an older snapshot -- you'll need to use the `1.0.0-beta4` branch/tag.

[2015-10-30 13:15] mazhalai commented on #2111
@chaluvadiswamy are you on the `master` branch or `develop`? Also the component folder did not  exist in 0.74.0.Beta. Please try with 1.0.0-beta in the `develop` branch. Also, the fix is now merged again!

[2015-10-30 14:07] cfcnn opened #2226 "issues about adding configurable products, attribute set, attribute."
Under Magento2 Merchant Beta5.

1. Adding a configurable products,
![add configurable product](https://cloud.githubusercontent.com/assets/15027055/10847006/8e971088-7f4e-11e5-8a31-2c7aff0dbb0f.jpg)

2. Select " color" as configuration attribute,
![select colors](https://cloud.githubusercontent.com/assets/15027055/10847042/d200966e-7f4e-11e5-9df1-d908ea8da2fb.jpg)

3. When save product, "choose aff

[2015-10-30 14:43] LifeAsBook opened #2227 "why $quote->getBillingAddress()->validate() throw exception when i use quoteManagement->submit($this->_quote)"
thank you!

[2015-10-30 14:45] LifeAsBook commented on #2227
This problem has troubled me for a long time！I hope someone can help me, be grateful

[2015-10-30 14:54] asemenenko commented on #1840
Internal ticket MAGETWO-44775

[2015-10-30 16:51] luckyraul opened #2228 "Problem with adding google fonts with ampersand into default_head_blocks.xml"
If I insert info

[code]

this code
`<link src="//fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Open+Sans+Condensed:400,300,300italic,400italic,600,600italic,700italic,700&subset=latin,cyrillic" src_type="url" />`

I got errors `Theme layout update file default_head_blocks.xml' is not valid. EntityRef: expecting ';'`

and if I replace & with `&amp;` I got exception.

or If I remove `&

[2015-10-30 18:31] dsikkema commented on #1500
Has anyone seen this issue in browsers other than safari?

@rjung-guidance if you upgrade to safari 9, do you see the issue?

[2015-10-30 18:43] rjung-guidance commented on #1500
I am experiencing this problem with Safari 9.0.1.

I do not know if it occurs with other browsers, but I believe the issue is related to having multiple subdomains in a development environment (project1.mycompany.com<http://project1.mycompany.com>, project2.mycompany.com<http://project1.mycompany.com>, etc.).

-------
Robert Jung, Technical Lead
310 754 3121 direct | 310 754 4000 main
[http://www.

[2015-10-30 18:59] dsikkema commented on #1500
Thanks, @rjung-guidance. Can you tell me if the string "magento.com" appears in the urls of your development domains? I'm noticing that many of the cookies being reported are set by magento.com, which is a site that I'm sure most people in the magento community frequent, and so domains ending in "magento.com" are picking up cookies from what looks like the same domain.

[2015-10-30 19:09] dsikkema commented on #1500
Open question to everyone who has experienced the issue: does the domain for your magento instance end in "magento.com", and can you please post the cookies that are set by checking the value $_COOKIE array in \Magento\Framework\Stdlib\Cookie\PhpCookieManager::checkAbilityToSendCookie, or by using developer mode in the browser to show all cookies that are set for that domain?

[2015-10-30 20:13] rjung-guidance commented on #1500
No, none of my development domains use the string "magento.com<http://magento.com>" anywhere.

-------
Robert Jung, Technical Lead
310 754 3121 direct | 310 754 4000 main
[http://www.guidance.com/sites/default/files/guidance_email_logo.png]
4134 Del Rey Avenue
Marina del Rey, CA 90292
guidance.com<http://guidance.com> | @guidance

On Oct 30, 2015, at 12:00 PM, dsikkema <notifications@github.com<ma

[2015-10-30 20:30] markoshust commented on #1732
I'm reopening this ticket, this is still valid. Happening on `merchant_beta` branch (currently == `1.0.0-beta6`)

![screen shot 2015-10-30 at 4 29 25 pm](https://cloud.githubusercontent.com/assets/437029/10857275/8c7ce7c6-7f23-11e5-9595-eae2dec09afa.png)

[2015-10-30 21:07] dsikkema commented on #1500
Ok, in that case I think you're right about this: "I believe the issue is related to having multiple subdomains in a development environment."

I'm seeing a lot of cookies in your $_COOKIES array that I don't think are set by magento. For example:
 * cid6456bid
 * __utma

I think the main domain is setting them. If you're development environment is "project1.mycompany.com", can you check "mycompan

[2015-10-30 21:23] markoshust commented on #2217
the tag for `1.0.0-beta6` is also missing

[2015-10-31 00:58] minikist commented on #1434
Hello,
I run 1.0.0-beta, i got this same issue when i try to import a lot of data.

Does someone has a fix??
Thanks

BTW great work guys, i like the magento 2 already!!

[2015-10-31 12:04] shu1313 opened #2229 "User menu sub items not visible for access n browser"
When we open the menu bar in Google chrome  / opera , we cant see Index and compile
We cant move the menu up or down to access other buttons.

attached screenshot below
![mag2 menu move ssue](https://cloud.githubusercontent.com/assets/12825344/10863495/92afd11c-7ff5-11e5-959e-dfcffeb7fd2b.JPG)

[2015-10-31 12:21] web4exposure commented on #1471
Hello,
i run 1.0.0-beta magento 2 and i'm strugeling with the importer.
i fixed all the issues with check data, but after import i get this some messages "URL key for specified store already exists". i started with sample data and i tried also with clean install but it doesn't matter. Can someone help me with it?

the debug log give no errors and the system log gives only a critical

thanks

[2015-10-31 12:23] minikist commented on #1471
Hello,
i run 1.0.0-beta magento 2 and i'm strugeling with the importer.
i fixed all the issues with check data, but after import i get this some messages "URL key for specified store already exists". i started with sample data and i tried also with clean install but it doesn't matter. Can someone help me with it?

the debug log give no errors and the system log gives only a critical

thanks

[2015-10-31 12:36] minikist commented on #1298
Sorry, i have fixed the problem. the base url was install dir/pub and should be install dir/
So this worked with images and i think it could be closed.

But i test a lot with the csv and 1 product and that worked. But now i create a file with +5000 products and get this error "URL key for specified store already exists" #1471

So Thanks @SLv99 for the help and maybe you can help me also with this?

[2015-10-31 16:34] mblarsen commented on #2136
+1 with option of scope

[2015-10-31 18:39] SLv99 commented on #1298
Good to hear that it's working now.

I received the same error. I think the problem is in the url_rewrite database table. The URL key refers to the requested path that's already in the table. I think Magento does not properly update this value if it already exists. What I did is truncate the url_rewrite table. After this the import did run fine. I recommend doing a database backup from Magento bef

[2015-10-31 18:44] minikist commented on #1298
Thanks for the reply @SLv99,
I understand the way you do, but that's not possible for me. I need to added 4 csv files.
I'm debugging now some objects to files, i hope that give me more information.

If someone have a fix let me know.

[2015-10-31 20:07] minikist commented on #1471
Hello,
I found something weird (maybe not but let me know) when i try to import te csv. I catched an error messages from the insertMultiple($data) and the mysql error that i catched was:

this is the file of the insertMultiple($data) function:
https://github.com/magento/magento2/blob/1d97cd9ddee038c9b93c43b74c8e318702a70a33/app/code/Magento/UrlRewrite/Model/Storage/DbStorage.php

Error that i catc

[2015-10-31 20:12] minikist commented on #1298
I add a comment on the other thread. I hope someone has a fix or workaround for this issue.
But for now Thanks for your help @SLv99

[2015-10-31 21:17] elfstone opened #2230 "Pointer in catalog view"
In admin catalog the cursor should change to pointer (hand) when hovering a product. Now only changes to pointer at the "Edit" function at the end of the row.

[2015-10-31 21:37] elfstone opened #2231 "Flashing glitch"
When in Dashboard (bestsellers, most viewed products etc.) there is a little flashing point present when there are no records present.
![flashing](https://cloud.githubusercontent.com/assets/11913551/10866027/7c0afea8-801f-11e5-894e-494beb2ffb25.jpg)

[2015-11-01 09:04] ihor-sviziev commented on #2217
:+1:

[2015-11-01 09:11] ihor-sviziev commented on #2134
:+1: good idea!

[2015-11-01 15:06] alankent commented on #2134
Just one note, Magento 2 is going to have newer installation experiences compared to M1. Not all of this experience is available yet. There is going to be a bit of "try to keep things minimal to avoid duplicated/wasted effort" while "listen for real problem areas to make sure we fix them". So while we are very interested in hearing of things to help installation, some we may go slow on because we

[2015-11-01 15:07] alankent commented on #2134
(Oops! Tried to move curson on ipad and hit close by mistake! Reopened.)

[2015-11-01 15:10] sonumartolia opened #2232 "Virtual Product for Bookings and Reservation"
Can Magento have one more out of the box feature for creating a virtual product for booking, reservation or rentals service ?

[2015-11-01 16:46] kandy commented on #2232
What's the difference between exists "Virtual Product" and "Virtual Product for Bookings and Reservation"?

[2015-11-02 00:00] jksimoniii opened #2234 "Cannot Inject Custom Handler to Magento\Framework\Logger\Monolog"
I am trying to have my module write log messages to it's own file.  I found the following argument injection in app/etc/di.xml.  I am trying to inject my own handler in the same fashion, but it does not appear when the constructor fires.

I noticed that ***Monolog*** is instantiated after the *primary* scope of DI is merged, but before the *global* scope gets merged.

If this is not the route to a

[2015-11-02 00:15] dfediuk opened #2235 "Widget editing does not work: «Uncaught TypeError: Cannot read property 'innerHTML' of null» (and my fix)"
![magento2-02](https://cloud.githubusercontent.com/assets/83204/10872331/99128448-8110-11e5-9f32-5b521e750b84.png)
A detailed description and my fix: https://mage2.pro/t/155

[2015-11-02 01:29] dfediuk opened #2236 "Trying to open the category chooser to select a category condition for the «Catalog Product List» widget leads to the exception «Cannot read property 'value' of null»"
![magento2-03](https://cloud.githubusercontent.com/assets/83204/10872798/c0542d36-811a-11e5-9261-2ade0edfbfd0.png)

https://mage2.pro/t/156

[2015-11-02 04:03] pradeeprcs opened #2237 "Custom attribute convert from quote to order and its item its not working"
I am trying to add custom filed in quote quote_item and order order_item table

once product is add to cart i added custom value to quote and quote_item table

then i place order data is not copy from quote to order tables

i gave solution or work around for that in
 http://magento.stackexchange.com/questions/77016/copy-custom-data-from-quote-to-order-and-order-item/88024#88024

i created filedset

[2015-11-02 04:09] dmitry-fedyuk opened #2238 "Bug: double click on a widget inside TinyMCE editor does not edit the widget but creates a new one"
![magento2-04](https://cloud.githubusercontent.com/assets/83204/10874163/9a3a1762-8130-11e5-816a-38622bd09e58.png)

![magento2-05](https://cloud.githubusercontent.com/assets/83204/10874167/a1ac24cc-8130-11e5-8e9f-2c4108e822ef.png)

To reproduce the bug you need to fix the https://github.com/magento/magento2/issues/2235 bug first.

[2015-11-02 04:20] chaluvadiswamy commented on #2111
@mazhalai , thanks for the update .Actually i downloaded 1.0.0-beta  it from the following link
https://github.com/magento/magento2/releases/tag/1.0.0-beta

[2015-11-02 04:27] chaluvadiswamy opened #2239 "How to create custom new attribtue for the Category ?"
I want to create the Custom new attribute for Category in admin form .I have tried with following ways:
- By using the InstallData.php in Setup folder
- By using the UpgradeData.php In SetUp folder
But its does not give any result ,also in am unable to find 'Magento\Catalog\Model\CategoryFactory.php '  not found .

Can any face same issue let me know.

[2015-11-02 07:25] mage2pro opened #2240 "Method \Magento\Cms\Controller\Adminhtml\Page\Save::executeInternal() ignores the result of the «cms_page_prepare_save» event while validation"
The problem line is
https://github.com/magento/magento2/blob/f578e54e093c31378ca981cfe336f7e651194585/app/code/Magento/Cms/Controller/Adminhtml/Page/Save.php#L62

I propose to change it to
[code]

My detailed explanation: https://mage2.pro/t/159

[2015-11-02 08:20] JonkRuud opened #2241 "url returned with getOrderPlaceRedirectUrl() in payment gateway is not used"
Hello All,

At the moment I'm working on a new Magento 2 payment gateway that should redirect the consumer to an external payment page from a Payment Service Provider.
With Magento 1 we used to use getOrderPlaceRedirectUrl() within the gateway. It looks like this still is the way to go in Magento 2. Magento 2 does call the function after placing the order, but it doesn't use the returned url from

[2015-11-02 09:07] slavvka commented on #1840
@markoshust, the issue is fixed and delivered to mainline. Please see e87f267.

[2015-11-02 10:52] sidolov commented on #2183
Fixed naming of resources for cart items management.
Delivered in cd0808932965b6bfd77599bafebb297803f0be97

[2015-11-02 11:08] zanilee commented on #2231
Hi, @elfstone!

This issue was fixed in the internal ticket MAGETWO-43337 and delivered recently.
Please update.

[2015-11-02 11:29] sonumartolia commented on #2232
Virtual Product for Bookings or Reservation has Duration selector for product or services for specific period of time and then merchant can charge the customer accordingly. On the other hand simple virtual doesn't have Duration selector and Price Logic.

[2015-11-02 11:30] #2135 closed

[2015-11-02 12:37] markoshust commented on #1840
Awesome thank you

[2015-11-02 12:37] #1840 closed

[2015-11-02 13:05] rklerck opened #2242 "Event is not dispatched when collecting totals on ajax request"
We've created an observer on the event 'sales_quote_address_collect_totals_after', and it works when the page is visited the first time. But when the spinner shows (ajax?) on the shopping cart, the event is dispatched again. But now the observer never 'catches' the event?!

[2015-11-02 13:48] markoshust opened #2243 "./bin/magento setup:di:compile throws errors"
Here's the output of `./bin/magento setup:di:compile` (testing against `merchant_beta` branch):

[code]

[2015-11-02 14:53] mazhalai commented on #2243
@markoshust can you please be more specific about `merchant_beta` version?

[2015-11-02 14:55] SidneyBilliet opened #2244 "Chebox terms and conditions not showing in checkout"
I have added a terms and conditions but it is not showing up in the checkout.
Where should  I normally have to see it appear?

![2015-11-02_15h53_18](https://cloud.githubusercontent.com/assets/13572447/10884731/f8207c88-8179-11e5-8f77-e3ed9392557f.png)

![2015-11-02_15h54_14](https://cloud.githubusercontent.com/assets/13572447/10884754/171b3326-817a-11e5-9fbd-acbfefab7ddf.png)

[2015-11-02 15:00] mazhalai commented on #2111
@chaluvadiswamy that should be the stable `master` branch. Please try with the latest `develop` branch

[2015-11-02 15:08] mazhalai commented on #2219
@adrok what benchmark are you using to perform this calculation? Profiler in M1?

[2015-11-02 15:15] adrok commented on #2219
Hello,

M2 Profiler (.htaccess MAGE_PROFILER html)

[2015-11-02 15:16] dfediuk commented on #2244
You need to enable it not only only Terms and Conditions screen, but on store settings screen too.
It is counter-intuitive and may be should be changed but it resembles the bevabiour of Magento 1.x.

[2015-11-02 15:17] mazhalai commented on #2219
@adrok yes, but what exact problems are you experiencing? can you please give us more details? Magento version? how did you deploy - git or composer? OS? Server?

[2015-11-02 15:21] #2219 closed

[2015-11-02 16:53] gg24 opened #2245 "search criteria not working for custom category attribute, magento in built attribute, as mentioned in the Api documentation."
Search criteria not working in category API for custom category attribute, Magento inbuilt attribute, as mentioned in the API documentation,I want to filter product collection on the basis of custom attributes.

[2015-11-02 18:00] will-b opened #2246 "Customer cannot reset password when DOB is required."
When a customer is created while the configuration for "Customer > Name and Address Options > Show Date Of Birth" is set to "No". If the config is then changed to have DOB as a required field then the customer is unable to reset their password.

Same issue exists in M1 with details here. http://magento.stackexchange.com/questions/29595/customer-reset-password-issue.

Would it be possible to add a

[2015-11-02 18:04] markoshust commented on #2243
I tried again with clearing out the `var/generation` folder first, but same result. I'm using the `merchant_beta` branch.

[2015-11-02 18:08] mazhalai commented on #2243
@markoshust your error suggest an EE module, can you please raise this issue via the partner portal.

[2015-11-02 18:09] choukalos commented on #2245
Feature request - internal ticket:  MAGETWO-32717

Who else wants to search by custom attributes?
What other improvements to search criteria are you looking for?

[2015-11-02 18:38] markoshust commented on #2243
Hmmm, that is odd. I'm using community edition -- merchant_beta branch. I'm not running EE.

[2015-11-02 18:54] thomasnordkvist commented on #2097
@MomotenkoNatalia  @piotrekkaminski
What's the protocoll for closing issues?
I don't seem to have this problem anymore.
/Thomas

[2015-11-02 19:08] mazhalai commented on #2243
How about cleaning cache?

`GiftRegistry` is an EE module.

[2015-11-02 19:15] thomasnordkvist commented on #2245
@choukalos
I would like this to work.
And i would also like if it where possible to get all categories with a custom attribute where the value is a string length>0.

I did create a list like this by going through all catagories. But that would be inefficient with large gategory trees.

/Thomas

[2015-11-02 20:06] markoshust commented on #2243
@mazhalai i know it's an EE module -- but I'm getting this error. cleaned the cache. rebuilt everything. still happens. this appears to be a bug in the `merchant_beta` branch. are we supposed to be using this branch?

[2015-11-02 20:34] orlangur commented on #2243
@markoshust can you find occurrences of "GiftRegistry" in your folder with `git grep` and regular `grep` if first one didn't find anything? Are there no occurrences in database also?

[2015-11-02 20:37] debuysserk opened #2247 "referenceBlock cannot be used in CMS update?"
I'm trying to remove the page title in the Design tab of a CMS page by using this xml code :
`<referenceBlock name="page.main.title" remove="true"/>`

But after saving, it says :
*Please correct the XML data and try again. Element 'referenceBlock': This element is not expected. Expected is one of ( referenceContainer, container, update, move ). Line: 1*

The xml does work, tried it out in the cms_

[2015-11-02 20:58] alankent commented on #2247
I have not checked, but I suspect the issue is CMS pages are only intended to deal with reorganizing the container tree, so only container releated commands have been included. If you put it in a layout file, they can manipulate blocks.

(I don't know the details, so I will go out on a limb and say I suspect it is related to the sequencing of processing. We start with skeleton container tree, then

[2015-11-02 21:19] mazhalai commented on #2243
@markoshust create a backup of your db/code/media (if required) and run `bin/magento setup:uninstall` to clean up everything.

[2015-11-02 22:44] mage2pro opened #2248 "Inconsistency: the «adminhtml_cms_page_edit_tab_content_prepare_form» event is fired on a backend CMS page form creation, but no any event is fired on a backend CMS block form creation"
An event on a backend CMS page form creation:

https://github.com/magento/magento2/blob/f578e54e093c31378ca981cfe336f7e651194585/app/code/Magento/Cms/Block/Adminhtml/Page/Edit/Tab/Content.php#L99

No any event on a backend CMS block form creation:
https://github.com/magento/magento2/blob/c743dec47b2e5de036eb5638fec44a54bfb31040/app/code/Magento/Cms/Block/Adminhtml/Block/Edit/Form.php#L61-L158

[2015-11-02 23:33] mage2pro opened #2249 "Inconsistency: the «cms_page_prepare_save» event is fired by a controller on a CMS page saving in the backend, but no any similar event is fired on a CMS block saving"
Similar to https://github.com/magento/magento2/issues/2248

The «cms_page_prepare_save» event firing :

https://github.com/magento/magento2/blob/f578e54e093c31378ca981cfe336f7e651194585/app/code/Magento/Cms/Controller/Adminhtml/Page/Save.php#L57-L60

There is no similar event for block:
https://github.com/magento/magento2/blob/f578e54e093c31378ca981cfe336f7e651194585/app/code/Magento/Cms/Controlle

[2015-11-03 04:28] chaluvadiswamy commented on #2111
@mazhalai Thanks for the update.

[2015-11-03 04:31] chaluvadiswamy commented on #1651
@buskamuza , after disabled the xDebug it is working properly.

[2015-11-03 04:31] #1651 closed

[2015-11-03 06:54] Vinai commented on #1984
The github issue tracker is intended for technical issues only.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2 would ) would be the most appropriate.
Please feel

[2015-11-03 06:54] #1984 closed

[2015-11-03 07:08] Vinai commented on #1950
The site is password protected, and I'm not able to reproduce the issue on the current develop branch.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) if you require further assistance. If you have introduced custom code for the rendering of the menu please add that in the post there.
Please feel free to reopen this issue i

[2015-11-03 07:08] #1950 closed

[2015-11-03 07:09] Vinai commented on #2215
The github issue tracker is intended for technical issues only.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2 would ) would be the most appropriate.
Please feel

[2015-11-03 07:09] #2215 closed

[2015-11-03 07:20] Vinai commented on #2244
If @dfediuks answer didn't resolve your issue, please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for this type of questions. In your case probably the [admin & configuration questions forum](https://community.magento.com/t5/Admin-Configuration-Questions/bd-p/admin-config) would be the most appropriate.
Please feel free to reo

[2015-11-03 07:20] #2244 closed

[2015-11-03 07:22] Vinai commented on #2242
This issue probably has to do with the are processing the request. The github issue tracker is intended for technical issues only.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/progr

[2015-11-03 07:22] #2242 closed

[2015-11-03 08:05] rklerck commented on #2242
Not sure why this is closed?
It looks like a bug in Magento. My observer works, but now when the ajax request is done in the shopping cart collecting totals..?

[2015-11-03 10:35] ClementParis016 commented on #2142
Ok then this is totally due to my environment, I will take a closer look at it but it's definitely not due to a mistake from the nGinx you provide, which means I can close the issue. Thanks for your help ;)

[2015-11-03 10:35] #2142 closed

[2015-11-03 10:39] xanka opened #2250 "How do override block?"
i  created Block override but i not success. [visit link view code](http://magento.stackexchange.com/questions/88652/overriding-block-issues)

[2015-11-03 10:46] chaluvadiswamy commented on #2250
Me too Face same issue , i have tried with preference tag  but no result

[2015-11-03 10:55] chaluvadiswamy opened #2251 "Unable to reset the Custom attribtue value related to category"
I Have created the New attribute for category to upload the thumbnail image ,for first when i add the image its taking , then i edit /delete the image for custom image attribute it showing error as mentioned below

[code]

Can one help on this , i have echo the image URL it is printing correctly ('lib\internal\Magento\Framework\Data\Form\Element\Image.php')

[2015-11-03 13:07] #2038 closed

[2015-11-03 14:06] MomotenkoNatalia commented on #2229
Hi @shu1313 , thank you for report.
Could you please specify your screen resolution.

[2015-11-03 14:16] shu1313 commented on #2229
Hi,
my screen resolution is 1366 X 768I am not sure what is the problem but sometimes it is working and sometimes it is not

 Date: Tue, 3 Nov 2015 06:07:22 -0800
From: notifications@github.com
To: magento2@noreply.github.com
CC: shu1313@outlook.com
Subject: Re: [magento2] User menu sub items not visible for access n browser (#2229)

Hi @shu1313 , thank you for report.

Could you please specify yo

[2015-11-03 14:37] craigcarnell commented on #2191
@mazhalai What happens when you multiple vhost confs?

[2015-11-03 14:37] craigcarnell commented on #2051
@ilol Still waiting!!!

[2015-11-03 15:03] MomotenkoNatalia commented on #2230
Hi @elfstone!
You are completely right! We will fix this. Internal ticket MAGETWO-44936.
Thanks for reporting this issue!

[2015-11-03 15:05] ilol commented on #2051
Hi @craigcarnell, sorry for delay )
We are almost ready to release versions for 1.14.2.1 and 1.9.2.1 (see https://github.com/magento/data-migration-tool-ce/issues/3). I am expecting middle of next week. Since 1.14.2.2 and 1.9.2.2 have been released recently we are trying to update MT ASAP with these latest versions. But most probably we will release them some time later than 1.14.2.1 and 1.9.2.1.

[2015-11-03 15:07] victorgugo commented on #2228
@luckyraul thanks for reporting the issue. We created internal MAGETWO-44935

[2015-11-03 15:08] mazhalai commented on #2191
@craigcarnell refer to tutorial [here](https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-virtual-hosts-server-blocks-on-ubuntu-12-04-lts--3)

[2015-11-03 15:18] craigcarnell commented on #2191
@mazhalai Nevermind, it's already in server. So it's still an issue here.

[2015-11-03 15:50] mazhalai commented on #2191
@craigcarnell can you check if the MAGE_DIR value is set correctly using a breakpoint or var_dump here: https://github.com/magento/magento2/blob/develop/setup/config/autoload/global.php

[2015-11-03 16:13] MomotenkoNatalia commented on #2084
Hi @restaurantsupply!
Do you have any update on this issue?

[2015-11-03 16:24] restaurantsupply commented on #2084
nope… What I did as Braintree would not help is just use PayPal Express. It
has more options anyway!

On Tue, Nov 3, 2015 at 11:13 AM, nmomotenko <notifications@github.com>
wrote:

--

Michael Sullo

312 Murphy Road
Hartford, CT 06114
Toll Free* 1.855.838.1010 x116*
Direct *(860) 246.1111*

*michael@restaurantsupply.com <michael@restaurantsupply.com>*

[2015-11-03 16:28] MomotenkoNatalia commented on #2048
@dfediuk  Internal ticket MAGETWO-42900 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-11-03 18:16] debuysserk opened #2252 "Title Suffix is also shown on Search page title"
When you add a title suffix (Html Head), for example "| test", it gets added to the title of your search results as well, inside your page. I'm guessing it's a bug?

<img width="603" alt="screen shot 2015-11-03 at 19 15 55" src="https://cloud.githubusercontent.com/assets/14332813/10917118/5bbb8356-825f-11e5-8052-fae4c5a64c76.png">

Thx!

[2015-11-03 19:41] Vinai commented on #2251
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2 would ) would be the most appropriate.
Please feel free to reopen this issue if you think you have encountered a b

[2015-11-03 19:41] #2251 closed

[2015-11-03 19:44] Vinai commented on #2250
In the pasted code there seems to be a typo in the template file name.

That said, the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) is indeed the right place for technical questions such as yours. This github repository is intended for tracking code bugs.
For the forums, in your case probably the [programming questions forum](https://commun

[2015-11-03 19:44] #2250 closed

[2015-11-03 19:48] Vinai commented on #2242
As I've said, please reopen the issue if you believe it is a bug indeed.
But first, have you checked in which area the ajax request is processed? Is it in the frontend or webapi_rest? In what areas `events.xml` have you declared the observer? If you need more information about this please refer to the resources listed above.

[2015-11-03 19:56] daim2k5 commented on #2146
@SLv99 did you use the develop branch? If you get the error still with a fresh install?

[2015-11-03 19:59] daim2k5 commented on #2066
@adragus-inviqa do you like provide a PR?

[2015-11-03 20:00] daim2k5 commented on #2065
@craigcarnell i can reproduce this error on my fresh installation. Do you get still the error?

[2015-11-04 00:09] piotrekkaminski commented on #2236
Internal ticket MAGETWO-44969

[2015-11-04 01:18] mage2pro opened #2253 "Inconsistency: the «controller_action_catalog_product_save_entity_after» event is fired by a backend controller on a product saving, but no similar event is fired by a controller on a category saving"
Similar to https://github.com/magento/magento2/issues/2248 and https://github.com/magento/magento2/issues/2249.

The «controller_action_catalog_product_save_entity_after» event firing :

https://github.com/magento/magento2/blob/16dc76df41fac703b322cc0f9ab3dba43742bbed/app/code/Magento/Catalog/Controller/Adminhtml/Product/Save.php#L105-L108

There is no similar event for a category:
https://github.

[2015-11-04 01:41] dfediuk commented on #2253
The «`controller_action_catalog_product_save_entity_after`» event seems unnecessary because of the generic «`controller_action_postdispatch_catalog_product_save`» event.

I propose to delete the «`controller_action_catalog_product_save_entity_after`» event  to make the system more consistent and reduce it complexity.

[2015-11-04 06:42] dfediuk opened #2254 "The call for \Magento\Store\Model\StoreManager::getStore() without parameters inside the backend returns the default frontend store, not the «admin» store, which is inconsistent with Magento 1.x behaviour and I think it will lead to developer mistakes"
See also another pitfall for Magento 1.x developers: https://github.com/magento/magento2/issues/2064

[2015-11-04 06:52] SLv99 commented on #2146
I did not use the develop branch. The problem I had was on 1.0.0-beta, when I reinstalled and updated to 1.0.0-beta4 the problem was solved.

[2015-11-04 06:52] #2146 closed

[2015-11-04 07:00] tanya-soroka commented on #2226
Hello @cfcnn . Thank you for reporting all these issues.  Internal ticket has been created : MAGETWO-44971.

[2015-11-04 07:05] tanya-soroka commented on #2013
@dfediuk the fix of the issues is available. I am going to close this ticket.
Feel free to reopen if you have any comments.

[2015-11-04 07:05] #2013 closed

[2015-11-04 07:37] rklerck commented on #2242
And how can I reopen the issue?
I declared it in frontend and admin (just to be sure). It's weird that it works when the shoppingcart is opened, but not on the ajax call.. should be the same area in my opinion.

[2015-11-04 08:10] Vinai commented on #2242
There should be a button "Reopen" below this thread. Just click that.
Different from M1, in M2 API requests have their own areas, see `app/code/Magento/Reports/etc/webapi_rest/events.xml` for example.

[2015-11-04 08:29] therouv commented on #2066
I think the reason for not logging the exceptions here is because of a possible PA DSS validation as in the exception message can contain sensitive customer data.

M1 does not log the exceptions here as well, see https://github.com/OpenMage/magento-mirror/blob/magento-1.9/app/code/core/Mage/Customer/controllers/AccountController.php#L177

[2015-11-04 11:00] daim2k5 commented on #2231
@elfstone can you confirm the fix?

[2015-11-04 11:06] chaluvadiswamy commented on #2225
get the below error as mentioned one

Notice: Array to string conversion in D:\serversetup\htdocs\mage2\lib\internal\Magento\Framework\DB\Adapter\Pdo\Mysql.php on line 2876

[2015-11-04 11:46] gg24 opened #2255 "I want to filter product collection by category id,custom attribute as we did in Magento1.9 or earlier"
$collection = Mage::getResourceModel('catalog/product_collection');
$collection->addAttributeToSelect('name','your-attribute');
$collection->addAttributeToFilter('your-attribute', array('eq' => 'attr-value'));

or

$category = Mage::getModel('catalog/category')->load($categoryId);
$collection = Mage::getModel('catalog/product')->getCollection()
        ->addCategoryFilter($category);

How can I ac

[2015-11-04 12:00] cfcnn commented on #2226
@tanya-soroka  Just found that : The images of configurable products (under  magento2/pub/media/catalog/product, not cache)  can not be deleted together with configurable products. Simple products and the images can be normally deleted together.

[2015-11-04 12:36] kumbas111 commented on #2177
We have tested this bug in various environments with different set of data on the most popular browsers(IE, Mozilla, Chrome) and this issue can't be reproduced; since you didn't provide us details, we close issue as won't fix.

[2015-11-04 12:42] gg24 commented on #2245
Actually this is my requirement,
https://github.com/magento/magento2/issues/2255
I am creating a custom Api for product collection which should be filter by custom attribute(Store id, Customer group Id), problem occurs on the product collection.

[2015-11-04 12:43] daim2k5 commented on #2255
The github issue tracker is intended for technical issues only.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2 would ) would be the most appropriate.
Please feel

[2015-11-04 12:43] #2255 closed

[2015-11-04 12:49] daim2k5 commented on #2243
@markoshust as far what i know is that this repo only cover the community edition that why @mazhalai ask you to add there the issue. Can you tell use which version from merchant beta you use?

[2015-11-04 12:52] guz-anton commented on #2177
@dfediuk
Sory, but your fix just declares function in another way. Nor current neither your solution should cause an error. Please pay attention to environment where this code was used.

[2015-11-04 12:52] #2177 closed

[2015-11-04 12:54] daim2k5 commented on #2227
The github issue tracker is intended for technical issues only.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) would be the most appropriate.
Please feel free t

[2015-11-04 12:54] #2227 closed

[2015-11-04 12:58] guz-anton commented on #2194
You can do it now in your project just with mentioned `require-css`.
Steps to do:
0. Imagine you are writing own Magento module
1. You go to `view/frontend` folder under Your module.
2. Create file `requirejs-config.js` with content:
[code]
3. Put source from `https://cdnjs.cloudflare.com/ajax/libs/require-css/0.1.8/css.js` to `Your/Module/view/base/web/js/require-css.js`
4. Here you are! You can

[2015-11-04 13:19] thomasnordkvist commented on #2245
@choukalos
I wrongly assumed @gg24  where working with the REST api where you can't do a search for catagories via parameters searchCriteria[filterGroups][][filters][][field].... as can do with products.

/Thomas

[2015-11-04 13:34] samm-git opened #2256 "There is no way to store sessions in the Redis"
M2 includes Redis cache session storage from CM repository, but on the same time session storage module is not included. So customer have to use database, memcached or files. Is it expected to be this way? Latest M1 EE includes redis session support.

[2015-11-04 13:49] markoshust commented on #2243
If it only covers repo, there are EE-level checks/info in CE.

https://github.com/magento/magento2/tree/merchant_beta

[2015-11-04 13:49] arkadiych commented on #2002
@VLCSolutions,  looks like Storm supports SOAP1.1, but not SOAP1.2 for code generation. Magento2 SOAP Web Service supports SOAP1.2

[2015-11-04 14:25] #2116 closed

[2015-11-04 14:48] daim2k5 commented on #2243
@markoshust back to topic which version do you use? develop branch?

[2015-11-04 14:50] markoshust commented on #2243
For the 100th time... this is the `merchant_beta` branch. I feel that no one is reading anything I'm posting.

[2015-11-04 14:52] daim2k5 commented on #2239
The github issue tracker is intended for technical issues only.
Please refer to the [forums](https://community.magento.com) or [magento stack exchange](http://magento.stackexchange.com/) for technical questions. In your case probably the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) would be the most appropriate.
Please feel free t

[2015-11-04 14:52] #2239 closed

[2015-11-04 14:56] 0m3r opened #2257 "Symlinked module ui_componet file not read"
I add my custom module like a symlink in magento2 project
[code]
But mage2 shows me  such error
[code]

Look like a getRelativePath func not correct work with symlink
[code]

[2015-11-04 14:56] daim2k5 commented on #2243
yes i read this but this brunch is 10050 commits behind develop. So please try the develop branch

[2015-11-04 15:00] mage2pro opened #2258 "Bug? When a configurable product is moved to another store its simple variants are stayed in the previous store. Surely they need to be moved to the new store too."

[2015-11-04 15:08] maxrasguidogoja opened #2259 "Unable to change Product URL Suffix and Category URL Suffix when using custom prefix on Magento tables"
I'm using the custom prefix for tables in my install, when I try to change Product URL Suffix and Category URL Suffix I get the following error:

![UPDATE error](https://cloud.githubusercontent.com/assets/14097399/10941989/578aeeea-82e4-11e5-80df-32203eec84cd.png)

[2015-11-04 15:17] daim2k5 commented on #2243
@markoshust you closed the issue , so problem solved?

[2015-11-04 15:34] markoshust commented on #2243
It's not solved, you just said to use `develop` branch. This is still an issue in the `merchant_beta` branch, but you are saying that it's not because `develop` branch is the only thing we should open tickets for.

[2015-11-04 15:36] mage2pro opened #2260 "The products are not reindexed after batch (group) moving to another store while indexers mode is «Update on Save»"

[2015-11-04 15:38] tanya-soroka commented on #2138
I am going to closed this ticket. Feel free to reopen if you have any questions.

[2015-11-04 15:38] #2138 closed

[2015-11-04 15:40] 0m3r commented on #2257
I solved myself
* unlink previous "wrong" location (/var/www/local.magentocommerce2.com/vendor/tm)
* move module to /var/www/local.magentocommerce2.com/htdocs/vendor/tm
* ln -s /var/www/local.magentocommerce2.com/htdocs/vendor/tm /var/www/local.magentocommerce2.com/htdocs/app/code/TM

[2015-11-04 15:40] #2257 closed

[2015-11-04 15:41] choukalos commented on #2256
This worked for me about 6 months ago ...

Install Redis
Assuming this is already installed or relevant OS specific instructions can be found online.
Install phpredis
https://github.com/nicolasff/phpredis#installation
Update the php.ini file
extension=/path/to/your/redis.so
Restart the web server
Update the app/etc/env.php file to replace the existing <session> with the following:
'session' =>
  a

[2015-11-04 15:48] choukalos commented on #2259
Created internal ticket - MAGETWO-44997

[2015-11-04 15:51] daim2k5 commented on #2243
Ah ok. Sorry maybe my english is to bad that wasn't my attention (reopen the issue). Because i don't have the EE Version yet i can't reproduce your issue.

[2015-11-04 15:53] markoshust commented on #2243
I don't have EE either. This is `merchant_beta` branch located at https://github.com/magento/magento2/tree/merchant_beta -- it's publicly downloadable. As far as I know, this is not supposed to contain any EE logic, and should be the latest 'stable' branch for CE that is publicly available.

[2015-11-04 16:05] eug123 commented on #1732
@markoshust ,

https://github.com/mageinferno/docker-magento2-setup/blob/master/m2setup.sh Line:62
there is static content deploy command
`/src/bin/magento setup:static-content:deploy` this [tool](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html#config-cli-subcommands-xlate-dict) is supposed to be used in [production mode](http://devdocs.magento.com/g

[2015-11-04 16:15] daim2k5 commented on #2080
@cfcnn do you get still the error in the develop branch?

[2015-11-04 16:21] buskamuza commented on #2243
Hi @markoshust ,

I just checked out `merchant_beta` and there is no `GiftRegistry` in the code (except legacy tests).
1. can you try the command with `-v` option to see the full trace?
2. did you have EE before? Maybe it's saved somewhere in DB
3. do you have non-core modules?

[2015-11-04 17:01] davidalger commented on #2171
@dfediuk Thanks for the feedback. Would you mind submitting this as a PR so it may be further processed?

[2015-11-04 17:14] davidalger commented on #2147
@rodrigozulu Please let us know if you are still having this issue, and if so, what error / failure you are encountering so the issue may be addressed.

[2015-11-04 17:28] davidalger commented on #2054
The GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate.
Please fee

[2015-11-04 17:39] samm-git commented on #2256
phpredis handler do not support locking, so it is very dangerous and not recommended.

[2015-11-04 17:59] adragus-inviqa commented on #2066
Then why is this "up for grabs"? That's why I ask first.

[2015-11-04 18:02] choukalos commented on #2256
Yes - just realized it's on our roadmap to add locking but not done yet .... preferred method is Memcache....

- PECL memcache extension must be installed
- env.php updated like below:

'session' =>
  array (
    'save' => 'memcache',
    'save_path' => 'tcp://{HOST}:{PORT}?persistent=1&weight=2&timeout=10&retry_interval=10'
  )

[2015-11-04 18:03] markoshust commented on #1732
Thanks very much for the explanation, this is very helpful!

[2015-11-04 18:03] #1732 closed

[2015-11-04 18:07] choukalos commented on #2193
Closing 44763;  this isn't a bug - you can only have 1 root category per store view.  If you create a root category in admin under default it's just a floating category.  You should really be creating a root category associated with a store view.  Seems we should add a service to assign categories to store view ( APIs auto assigns if you call out a store view ( not default ) in your url ).  I'll p

[2015-11-04 18:08] samm-git commented on #2256
i know about this. just wanted to add that it is regression compared to m1 and would be great to fix this.

[2015-11-04 18:35] daim2k5 commented on #1522
@miguelbalparda do you still have this issue?

[2015-11-04 18:36] davidalger commented on #2011
@cermat on a copy of M2 running on the latest develop branch I cannot reproduce this as a bug - they both show up fine - Index Management is located under the top-level System menu and the static asset caches have buttons beneath the grid in your screenshot to clear.

[2015-11-04 18:36] davidalger commented on #2011
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-11-04 18:36] #2011 closed

[2015-11-04 18:37] daim2k5 commented on #1477
@mrRonyTran do you still have this issue?

[2015-11-04 18:40] miguelbalparda commented on #1522
No, I was not able to replicate this on http://magento2-demo.nexcess.net but the preselected shipping rate has no effect on the checkout since I have to fill everything again and select a shipping method.

[2015-11-04 18:42] daim2k5 commented on #1472
I think the documentation is now better thats we i close this ticket. If i missed something please feel free to reopen this issue.

[2015-11-04 18:42] #1472 closed

[2015-11-04 18:42] miguelbalparda commented on #1522
After doing steps 1-3 I get

![car](https://cloud.githubusercontent.com/assets/3997682/10948097/9b4a6bbc-830a-11e5-9a69-a1b16f658a9e.png)

![checkou](https://cloud.githubusercontent.com/assets/3997682/10948082/88923400-830a-11e5-8945-c638d8f6a362.png)

[2015-11-04 18:44] piotrekkaminski commented on #2252
internal id MAGETWO-44997

[2015-11-04 18:44] miguelbalparda commented on #1522
After filling everything in the checkout screen I was able to place an order.

[2015-11-04 18:46] piotrekkaminski commented on #2235
internal id MAGETWO-45017

[2015-11-04 18:47] piotrekkaminski commented on #2234
@alankent can you look at this one? you did some research on it earlier

[2015-11-04 18:49] piotrekkaminski commented on #2186
internal ID MAGETWO-45018

[2015-11-04 18:53] piotrekkaminski commented on #2155
internal ID MAGETWO-45019

[2015-11-04 20:26] mad0house commented on #2193
if that that case could we at least remove the default category from the root of this end point? as it does not flow as categories should return some sort of list? or users will have to filter this when using rectangular or similar as it expects a collection at /rest/V1/categories

[2015-11-04 21:32] alena-marchenko commented on #2041
Please specify commit on which you are reproducing the issue

[2015-11-04 21:34] gigadesign1 opened #2262 "On installing; database section, PHP deprecated message"
When I want to set up Magento, on step 2, I get a deprecated warning:

Deprecated:  Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead. in Unknown on line 0

PHP version: 5.6.10

[2015-11-04 21:37] daim2k5 commented on #2209
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-11-04 21:37] #2209 closed

[2015-11-04 21:41] mazhalai commented on #2262
@gigadesign1 what branch are you on?

[2015-11-04 21:42] gigadesign1 commented on #2262
@mazhalai master

[2015-11-04 21:43] daim2k5 commented on #2200
@craigcarnell i close this issues because i think you got your answer. If not please feel free to reopen the issue

[2015-11-04 21:43] #2200 closed

[2015-11-04 21:44] mazhalai commented on #2262
@gigadesign1 there is a fix in the `develop` branch. Please try again.

[2015-11-04 21:49] daim2k5 commented on #2149
Hi @beckindesigns thanks again for the great video. Can you try the `develop` branch?

[2015-11-04 21:52] daim2k5 commented on #2145
@muhammadawais93 hopefully the answers resolve your issue. If not feel free to reopen this issue

[2015-11-04 21:52] #2145 closed

[2015-11-04 21:56] daim2k5 commented on #2112
@amenk thanks for your nice module. I close the ticket for know, if you are uncomfortable with my decision feel free to reopen.

[2015-11-04 21:56] #2112 closed

[2015-11-04 21:58] #2098 closed

[2015-11-04 22:01] beckindesigns commented on #2149
Sure @daim2k5 I'll give it a shot and let you know how it goes.

[2015-11-04 22:03] daim2k5 commented on #1964
I close the ticket for know, if you are uncomfortable with my decision feel free to reopen.

[2015-11-04 22:03] #1964 closed

[2015-11-04 22:03] amenk commented on #2112
I actually stopped working on that, because I was hoping that Magento hosts such a split themselve

[2015-11-04 22:25] davidalger commented on #2095
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As a somewhat non-technical question regarding the product, the [Community Forums](https://community.magento.com) is likely the most appropriate place.

[2015-11-04 22:25] #2095 closed

[2015-11-04 22:39] davidalger commented on #2097
@thomasnordkvist As this issue has been resolved (per your latest comment) I'm closing this issue. Please feel free to reopen if you re-encounter the issue!

[2015-11-04 22:40] #2097 closed

[2015-11-04 22:44] davidalger commented on #2048
As this issue has been resolved and the fix pushed to develop, I am closing this issue. Please feel free to reopen should you believe the issue has not been properly addressed.

[2015-11-04 22:44] #2048 closed

[2015-11-04 22:48] davidalger commented on #2064
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-11-04 22:48] #2064 closed

[2015-11-04 22:48] davidalger commented on #2254
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-11-04 22:48] #2254 closed

[2015-11-04 22:50] davidalger commented on #2225
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-11-04 22:50] #2225 closed

[2015-11-04 23:28] davidalger commented on #2066
@therouv is correct… adding an exception log call here would be a PA-DSS violation - it is because the username/password are passed directly as arguments to the authenticate() method vs being passed as an object. An exception backtrace would contain the username and password in plaintext within the backtrace.

I've opened a PR to correct the error message displayed to the user and also to re-add t

[2015-11-04 23:28] #2066 closed

[2015-11-05 03:06] davidalger commented on #394
This issue appears to have been resolved, so I'm going ahead and closing it. Feel free to reopen if you disagree with this assessment.

[2015-11-05 03:06] #394 closed

[2015-11-05 03:07] davidalger commented on #395
@tanya-soroka or @ilol Can you confirm that this made it into the merchant beta release?

[2015-11-05 03:34] mage2pro opened #2264 "No way for an extension to import a standard Less file because the reverse paths (../) in Less @import statements are forbidden for the extensions"
The problem is similar to https://github.com/magento/magento2/issues/2179
https://github.com/magento/magento2/issues/2179 is not actually a problem because of the solution I found and described there.
But when an extension need to import a standard Magento 2 Less file the solution will not help because of the folder structure:
`var\view_preprocessed\css\adminhtml\Magento\backend\en_US`:
--------`c

[2015-11-05 04:06] dfediuk opened #2265 "Unable to plug in to the public static method but there is no such limitation in the documentation."
http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html#plugin-limit

[2015-11-05 05:45] mazhalai commented on #395
@davidalger is this what you are referring to?  http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-uninstall-mods.html

[2015-11-05 08:33] buskamuza commented on #2196
Hi @adragus-inviqa ,

`$filePath` in the constructor of `\Magento\Framework\View\Asset\File` is intended file path, it may be absent at the moment the constructor is called. Real file is calculated in `\Magento\Framework\View\Asset\File::getSourceFile()` basing on the intended file path (`$filePath`).

Regarding the issue, looks like it's somewhere in the `\Magento\Framework\View\Asset\Source::get

[2015-11-05 09:04] craigcarnell commented on #2054
@davidalger This is a technical issue...

[2015-11-05 10:10] rklerck commented on #2242
I only knew about the frontend and adminhtml, copying the events.xml to webapi_rest folder did the trick, thanks.

[2015-11-05 10:22] tzyganu opened #2266 "Action column menu does not stay over the action column"
I've added my own column in the `CMS Page` admin grid, and because the grid state is kept in the database, and I have previously visited the cms page grid, my column is added last.
This is just part of a problem. I can do with that, but now the actions dropdown appear over my column instead of the actions column itself.
See screenshot for more details

![Imgur](http://i.imgur.com/DRNaxLw.png)

[2015-11-05 10:48] eug123 commented on #2186
@will-b,
Can not reproduce this warning, please check if the issue still exist on the current develop branch.

[2015-11-05 14:54] 0m3r opened #2267 "adminhtml grid based on ui_component does not show columns for me"
customer, content pages,  content blocks grids don't show columns

After
* git pull
* composer update

![whereis_columns](https://cloud.githubusercontent.com/assets/412612/10971696/324de39e-83de-11e5-846d-01735741455e.png)
Now I stay on  2fc983463ca5ae4a78159674f65e3c7ad4a9beaf

[2015-11-05 15:37] davidalger commented on #395
@mazhalai Yes, that is exactly what I was looking for. Thanks!

This was implemented via `Magento\Framework\Setup\UninstallInterface` and is available in the latest develop branch. Closing.

[2015-11-05 15:37] #395 closed

[2015-11-05 15:42] gigadesign1 commented on #2158
After a clean install from the latest develop branch I have the same issue.
Removing the static folder and calling deploy does not work for me, I still get the same error.

TypeError: ko.getObservable is not a function:  events.js:46:13

[2015-11-05 15:52] davidalger commented on #2054
@craigcarnell Sorry, I misunderstood that you were indicating a bug in Magento 2. :) Would you provide precise steps to reproduce and a screenshot of the faulty result?

[2015-11-05 16:11] gigadesign1 opened #2268 "ko.getObservable is not a function in admin section"
I have the same issue as #2158
The solution provided in that issue (remove static folder and run deploy again) did not work for me.

I am on develop branch commit 2fc9834
OS: Mac OSX 10.11.1
Browser: Firefox 41.0.2

The error is thrown on all pages in the admin, preventing me from adding poducts.

[2015-11-05 18:15] erikhansen opened #2269 "\Magento\Shipping\Model\Config class is missing constants for street lines 1/2"
In Magento 2, "Street Address" and "Street Address 2" have been added to the "Shipping Settings" section of the configuration:

![configuration___settings___stores___magento_admin](https://cloud.githubusercontent.com/assets/129031/10977431/a1994086-83b6-11e5-8a7b-d7ccc461e7f2.png)

However the corresponding config class (`\Magento\Shipping\Model\Config`) does not contain XML_PATH constants for the

[2015-11-05 20:31] davidalger commented on #2269
@erikhansen There are constants for these present in `Magento\Sales\Model\Order\Shipment` along with duplicates for the others. If you would like to submit a PR introducing these and cleaning up the others in the shipment model, that would be awesome.

[2015-11-05 20:40] erikhansen commented on #2269
@davidalger Can you confirm that you are suggesting that the following be done:

* the XML_PATH_STORE_* constants in `\Magento\Sales\Model\Order\Shipment` should be removed
* street_line1/street_line2 constants should be added to the `\Magento\Shipping\Model\Config` class
* any usages of the \Magento\Sales\Model\Order\Shipment constants should be refactored to the \Magento\Shipping\Model\Config co

[2015-11-05 21:44] davidalger commented on #2265
@dfediuk Are you suggesting the docs be updated or that this limitation is bogus and Magento 2 should support plugins on static methods? :)

[2015-11-05 21:54] alankent commented on #2265
Since plugins work behind the scenes by creating a descendant class, I would like to see *that* ported to static methods!!

[2015-11-05 22:21] dfediuk opened #2270 "«TypeError: this.trigger is not a function» in lib/web/mage/backend/validation.js on line 205 (and my fix)"
https://mage2.pro/t/164

[2015-11-05 22:59] dfediuk commented on #2254
I want to know from the Magento 2 team: is it the correct behaviour, not bug?

[2015-11-05 23:44] ljrweb opened #2271 "Magento 2 with CentOS 7 VMware / Virtualbox filesystem permissions fatal error"
I've tried installing Magento 2 on VMware and Virtualbox running Centos 7 with the same steps I use in test boxes at AWS and Rackspace. CentOS 6.x seems to work fine. I have triple checked all permissions, but still get this exception. Has anyone had similar issue?

[code]

[2015-11-06 00:38] kassner opened #2272 "Can't access backend without base redirect"
Hi,

If we use `Auto-redirect to Base URL` as `No` and we can't validate the Base URL for that installation (like Magento is behing a proxy), it's not possible to access the backend (returns a store's 404 page). That happens when the `Host` header is not the same as defined in `web/unsecure/base_url`. We still are able to navigate in the frontend.

Tested version: 2.0.0-rc

Thanks!

[2015-11-06 00:45] kassner opened #2273 "setup:static-content:deploy fails with Luma theme"
[code]

Just remove/comment out the line 254 and the command exits with no errors.

Tested version: 2.0.0-rc

[2015-11-06 00:59] mazhalai commented on #2271
Can you please check if SELINUX is enabled?  Permission settings will be more restrictive

[2015-11-06 02:01] erichileman commented on #2273
Had a white screen of death after commenting out that line.  Cleared var/ and things appear to be working.

[2015-11-06 08:27] daim2k5 commented on #2268
I can confirm this issue.

[2015-11-06 08:30] daim2k5 commented on #2267
Please delete also the var/* content
and make a
1. `bin/magento setup:upgrade`
2. `bin/magento setup:static-content:deploy`

If you have still the issue please open the dev console maybe you face the same problem as #2268

[2015-11-06 08:34] dfediuk commented on #1492
May be it would be interesting for somebody, I have done another TinyMCE replacement: with Markdown Editor: https://mage2.pro/t/160

[2015-11-06 08:46] daim2k5 commented on #2270
Created PR.

[2015-11-06 08:46] #2270 closed

[2015-11-06 08:48] daim2k5 commented on #2273
Please delete again the var/* content
and make a
1. `bin/magento setup:upgrade`
2. `bin/magento setup:static-content:deploy`

[2015-11-06 08:59] 0m3r commented on #2267
It still fails.
[code]

[code]
[code]
[code]

[2015-11-06 09:13] dfediuk commented on #2265
I have already developed 6 extensions for Magento 2.
First 5 of them was quite simple, but 6th is complex ([Markdown Editor](https://mage2.pro/t/topic/160)) and while developing it I have reached the current plugin system limitations twice.

1)
In the first case I needed an ability to show my custom control (Markdown Editor) on the backend category pages:
![magento2-markdown-editor-extension-05](h

[2015-11-06 10:34] ivanweiler commented on #2273
On catalog product page, /mage/gallery/gallery.css can't be created, same problem:

[code]
If you click base image, or add multiple images to product, styling is broken, most likely because of this.

[2015-11-06 11:16] gigadesign1 opened #2276 "Notice: getimagesize(): Read error! in app/code/Magento/Catalog/Model/Product/Image.php on line 949"
According to documentation, the etc/view.xml is optional when inheriting from a parent theme.
I am inhereting from Magento/blank, so I did not create this file. It gave me this error in developer mode, in default mode the products just won't be displayed.

When I copy and paste the etc/view.xml file from the parent theme, the error is gone and everything works as expected.

Like this issue #1647

[2015-11-06 12:22] matthewwiggins opened #2277 "2.0.0RC issue: "Storage Configuration For Media" set as database causes product image serving to fail"
Found this issue when testing for a potential deploy. Similar issues with this have been present throughout our testing of the 2.0 develop branch.

Issue: When setting "storage configuration for media" to 'database', product images upload (in admin) and download (on public site) will fail.

Repro steps:
1. Set "Stores->Configuration->System->Storage Configuration For Media" to "database".
2. Go to

[2015-11-06 12:35] maghamed commented on #2276
Thanks, for your feedback. Internal issue number for current bug - MAGETWO-45125

[2015-11-06 13:06] debuysserk commented on #2056
Is this already fixed in the rc master? How can we fix it? We need it urgently.

[2015-11-06 13:25] chicgeek commented on #2056
There was a hypothetically a fix included in beta 6, however we're still seeing the bug after upgrading. The changelog for CE:
* Fixed an issue with translation in html files using $t()

Here is one example that does not translate (similar to the first posted here):

* Template:
`code/Magento/Checkout/view/frontend/web/template/shipping.html`
* L8:
`<div class="step-title" data-bind="text: $t('Shi

[2015-11-06 13:30] zanilee commented on #2273
Hi, @kassner!
Internal ticket MAGETWO-45071

[2015-11-06 14:00] Taral-Patoliya opened #2278 "Backend redirects to 404"
When I changes the port to 8080 from 80, and tried to access the backend, it redirected me to 404,
This is due to the isHostBackend() method in Magento\Backend\App\Area\FrontNameResolver
returns false,
The $backendHost and $_SERVER['HTTP_HOST']) are not the same.

[2015-11-06 14:03] kassner commented on #2278
I guess this is somehow related to `Auto-redirect to Base URL` as in #2272

[2015-11-06 14:48] arkadiych commented on #2272
Internally tracking - MAGETWO-45105

[2015-11-06 16:04] #2235 closed

[2015-11-06 16:20] SLv99 commented on #2268
I also have this error, removing static folder did not work.

[2015-11-06 16:22] muasir commented on #2272
Internal ticket created MAGETWO-45105

[2015-11-06 16:49] arkadiych commented on #2056
@debuysserk, the issue with $t() should be fixed in RC

[2015-11-06 16:53] arkadiych commented on #2278
Internally tracking - MAGETWO-45105

[2015-11-06 17:57] danslo commented on #2278
Can confirm this issue, and fixed it with following diff:

[code]

[2015-11-06 18:22] erichileman opened #2279 "Message to use Cron.php after install"
<img width="1376" alt="screenshot 2015-11-05 19 13 39" src="https://cloud.githubusercontent.com/assets/4987539/11005017/671923c6-8489-11e5-836c-ba513fde67aa.png">

[2015-11-06 18:27] mttjohnson opened #2280 "Database transactions on Setup/InstallData.php"
Working from the Magento 2.0.0-RC

I ran into a scenario where an setup install script failed halfway through installing some data and I found that it inserted and modified the database to the point it hit an exception. I haven't noticed much use of database transactions inside the install scripts, but I found that it doesn't take much to add them to the start and end of the install() method.

I f

[2015-11-06 18:39] cerebrumgit opened #2281 "It is not working support for "Sample Data" and "Sample Module" and "Third Party Module" in "Magento 2.0.0-rc""
========
en_US
========

Hello good afternoon

1)

It is not working support for "Sample Data" and "Sample Module" and "Third Party Module" in "Magento 2.0.0-rc"

2)

It was created the following program in Shell Script for the installation of Magento 2 with support for Sample Data and Sample Module

https://github.com/cerebrumgit/cerebrum/blob/master/magento2_install.sh

3)

To run the script ent

[2015-11-06 19:18] mazhalai commented on #2281
@cerebrumgit sample data process has been changed, Please refer to instructions [here](https://github.com/magento/magento2-sample-data)

[2015-11-06 19:23] mazhalai commented on #2279
@erichileman, this is expected. Unless you already have cron for indexers setup.

[2015-11-06 19:30] erichileman commented on #2279
The documentation is incorrectly showing users to schedule cron.php over HTTP.  The most recent patch for M1 SUPEE-6788 even removes this for security concerns.  Cron.php should not be run over HTTP.

Would it not be better to direct users to running the cron another way instead of asking them to "launch cron.php"?

[2015-11-06 19:42] mazhalai commented on #2279
{quote}
Would it not be better to direct users to running the cron another way instead of asking them to "launch cron.php"?
{quote}
Yes we will fix it in the ticket MAGETWO-45148

[2015-11-06 20:58] fbrnc opened #2282 "Bundle products broken"
Not sure if this is an issue in the Magento core or with the sample data.

However, I did a fresh install of M2 2.0.0-rc (both for Magento and the Sample Data) and I'm noticing the the only bundle product (id 2045 - the blue ball) doesn't have a name although this field is required (and I assume this is also the reason why I can't access this product in the frontend).

While trying to set a name M

[2015-11-06 21:03] mazhalai commented on #2119
@SidneyBilliet this has been fixed in the 2.0.0-rc. Closing this ticket. If you still have issues, please reopen or create a new ticket.

[2015-11-06 21:03] #2119 closed

[2015-11-06 21:05] fbrnc opened #2283 ""Product online" switch"
It is disturbing that the background of this icon is red (and not green), since red indicates that something is wrong.

Also there are many reasons why this product continues not to be accessible in the frontend. "Product online" is misleading.

![06-11-_2015_13-01-36](https://cloud.githubusercontent.com/assets/468820/11008641/bb80f7f2-8486-11e5-9e49-11b358b75dbb.jpg)

[2015-11-06 21:37] astorm opened #2284 "Can the GitHub Repository Default to the `master` Branch?"
This a request, not a demand, data point of me, etc.

Now that Magento 2 is near release, and going through the final (standard) stabilizing development steps, would it be possible to have the **default** GitHub branch be `master` instead of `develop`?

That is, if a non-Magento-employee runs

    git clone git@github.com:magento/magento2.git

they should be grabbing a stable branch, and not the u

[2015-11-06 21:43] mrdevries commented on #2284
During the very non-stable nobody should use this period of development, `develop` was the better choice. But now there will be a GA release this month, the expected default will indeed be `master`.

+1 :+1:

[2015-11-06 21:51] daim2k5 commented on #2284
Yes i think there change this after GA release for sure.

[2015-11-06 22:06] Flyingmana commented on #2284
You have to question, why someone does a git clone. In my sight usually to contribute a PR.
For people who just want to try out, they should know enough to use composer or official downloads.
I mean, really, if you want to try something out you use use the most stable release available, thats nearly never a git branch. thats like, `require something dev-master`, so pure evil to find there.

But, n

[2015-11-06 22:17] daim2k5 commented on #2284
At the end hopefully all devs use only https://github.com/magento/magento2-community-edition with composer and not this repository ;-)

[2015-11-06 23:19] brendanfalkowski commented on #2284
I couldn't install M2 for (at least) the last year because `develop` kept breaking the VMs that community members provided, and I'll never have/want SysAdmin Grade "Cobra Midnight" to resolve that on my own.

From a frontend-er perspective, if there's a chance your default branch will be broken out-of-box I'm probably going to (a) call this too hard (b) give up (c) choose another platform. Lower t

[2015-11-07 00:18] erichileman commented on #2284
@daim2k5 key steps in that readme have broken links all redirecting to the same page about admin troubles, including the link that shows how to clone the repo. And that readme also links to pages like this which show instructions for cloning with ssh, however that will result in permission denied http://devdocs.magento.com/guides/v2.0/install-gde/install/composer-clone.html  This page should be up

[2015-11-07 00:38] dfediuk opened #2285 "«Fatal error: Class 'Magento\CatalogUrlRewrite\Observer\Visibility' not found in app/code/Magento/CatalogUrlRewrite/Observer/ProductToWebsiteChangeObserver.php on line 75» while moving a group of products to another store (and my fix)"
https://mage2.pro/t/162

[2015-11-07 03:31] minhluan259 opened #2286 "Error after install magento 2 rc with sample data"
sytems.log

[2015-11-07 03:38:28] main.CRITICAL:
Compilation from source:
frontend/Magento/luma/en_US/css/email.less
variable @modal-slide-header__padding-vertical is undefined in file D:/App/htdocs/magentodev/var/view_preprocessed/css/frontend/Magento/luma/en_US/css/source/_theme.less in _theme.less on line 254, column 37
252| //  Modal popup
253| @modal-action-close__font-size: @font-size__base;

[2015-11-07 08:21] #2285 closed

[2015-11-07 08:30] dfediuk opened #2288 "Need a useful way for an average store administrator to register an external code repository to the Composer"
I host my [Magento 2 extensions](https://mage2.pro/c/extensions) in an external repository and make it available for the Composer with the following code in the root [`composer.json`](https://github.com/magento/magento2/blob/develop/composer.json) file:

[code]

It works nice for me, but the root [`composer.json`](https://github.com/magento/magento2/blob/develop/composer.json) file is under the so

[2015-11-07 09:12] dfediuk commented on #2288
I have found the solution: https://getcomposer.org/doc/03-cli.md#composer-home-config-json

[2015-11-07 09:12] #2288 closed

[2015-11-07 09:24] alankent commented on #2288
Hi. For production sites we recommend to *not* use git clone to get the code base checked out. We recommend downloading packages from the Magento composer repository, so projects should have its own composer.json file (not the one from the git repo). But this is still useful for those who want to try unreleased code.

[2015-11-07 12:17] gg24 commented on #2245
I want to narrow the search in the following way,

http://magento2.magestore.com/rest/V1/products/search?searchCriteria[filterGroups][][filters][][field]=sku&searchCriteria[filterGroups][][filters][][value]=WH01&searchcriteria[filter_groups][][filters][][condition_type]=eq

http://magento2.magestore.com/rest/V1/categories/24/search?
searchCriteria[filterGroups][][filters][][field]=url_key&
searchC

[2015-11-07 14:05] gg24 commented on #2255
I want to narrow the search in the following way,

http://magento2.magestore.com/rest/V1/products/search?searchCriteria[filterGroups][][filters][][field]=sku&searchCriteria[filterGroups][][filters][][value]=WH01&searchcriteria[filter_groups][][filters][][condition_type]=eq

http://magento2.magestore.com/rest/V1/categories/24/search?
searchCriteria[filterGroups][][filters][][field]=url_key&
searchC

[2015-11-07 14:06] gg24 opened #2289 "Search criteria not working."
I want to narrow the search in the following way,

http://magento2.magestore.com/rest/V1/products/search?searchCriteria[filterGroups][][filters][][field]=sku&searchCriteria[filterGroups][][filters][][value]=WH01&searchcriteria[filter_groups][][filters][][condition_type]=eq

http://magento2.magestore.com/rest/V1/categories/24/search?
searchCriteria[filterGroups][][filters][][field]=url_key&
searchC

[2015-11-07 22:07] ashsmith opened #2291 "Inconsistent location for plugins"
I have noticed in `app/code/Magento/CatalogUrlRewrite` the location where Plugins are kept is inconsistent between Blocks & Models.

So in the code below (from `app/code/Magento/CatalogUrlRewrite/etc/adminhtml/di.xml`) shows Plugins for Models stored in the Model directory, but then Blocks and Controller Plugins are kept in a Plugins directory within the root of the module.

[code]

Is there a rea

[2015-11-08 00:40] Flyingmana opened #2293 "dev:urn-catalog:generate broken when vendor is in parent of rootDir"
file structure:

projectRoot: `/work/cotya/dashboard/`
vendorDir: `/work/cotya/dashboard/vendor/`
magentoRoot: `/work/cotya/dashboard/build/`

`/work/cotya/dashboard/build$ php-5.6 bin/magento dev:urn-catalog:generate ./misc.xml`
fails with

[code]

reason seems to be that `\Magento\Framework\Filesystem\Driver\File::getRelativePath` cant resolve absolute paths, which are not below the given basePa

[2015-11-08 00:52] Flyingmana commented on #2293
I have to correct this, the problem seems to reach a bit wider to be a general problem with file access of modules inside the vendor directory

[2015-11-08 01:54] alankent commented on #2293
There is a known restriction that files currently must be under Magento base directory. We are looking to remove this restriction in the future, but no ETA yet. It has to compete with other work items. (I think it would be useful to allow modules under app/code, vendor/, and directories off somewhere else - gives you a bit more flexibility, like what you are trying to do. E.g. you can check out mo

[2015-11-08 02:16] shyandsy opened #2294 "could you provide a conf file for the nginx"
when I use the sample config for magento, there is an error

"Stoping nginx... nginx: [emerg] "location" directive is not allowed here in /usr/local/nginx/conf/vhost/magento.shyandsy.com.conf:30
 t"

could you provide a new version of nginx conf which can be deployed
ref: https://github.com/magento/magento2/blob/develop/nginx.conf.sample#L12

then I tried the tutorial on below
ref：https://firebear

[2015-11-08 03:26] dfediuk opened #2295 "Bug: when a product meta description is empty, the system set the product description as meta description for the frontend product page but does not strip HTML tags which can break the page (and my fix)"
https://mage2.pro/t/161

[2015-11-08 03:57] dfediuk commented on #2272
The solution: http://magento.stackexchange.com/a/89157/18793

[2015-11-08 04:10] dfediuk commented on #2294
My working Nginx config: https://mage2.pro/t/24
It is for PHP-FPM and subdirectory (site.com/store) case.

[2015-11-08 04:43] dmitry-fedyuk opened #2296 "Remove duplicate hard-coded references to «var/generation» string"
Code duplication: \Magento\Framework\App\Filesystem\DirectoryList::getDefaultConfig() and \Magento\Framework\Console\Cli::doRun() use magic string «var/generation» instead of the constant \Magento\Framework\Code\Generator\Io::DEFAULT_DIRECTORY
- https://github.com/magento/magento2/blob/22629abe10f9c640fe47b6081d57fedccdea8e0f/lib/internal/Magento/Framework/Code/Generator/Io.php#L17
- https://githu

[2015-11-08 05:23] fooman commented on #2291
Just to add to the list - there are also cases where model plugins are directly in the module directory

    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="price_plugin" type="Magento\CatalogRule\Plugin\Model\Product\Action"/>
    </type>

[2015-11-08 06:32] dfediuk opened #2297 "Drop requirement for plugin «name» when «type» attribute is present"
As I see, the sole purpose of the [`name`](https://github.com/magento/magento2/blob/22629abe10f9c640fe47b6081d57fedccdea8e0f/lib/internal/Magento/Framework/ObjectManager/etc/config.xsd#L141) attribute is to allow the plugin to be redefined by an extension.
I propose to make the  `name` attribute optional (not required) and use the [`type`](https://github.com/magento/magento2/blob/22629abe10f9c640f

[2015-11-08 07:31] fooman commented on #2284
I think there are a couple of issues raised in here, mostly around the problem of installing a stable version of Magento which needs to be addressed in the documentation. To me this is not related to the issue raised by Alan of using a different default branch. According to [this](https://help.github.com/articles/setting-the-default-branch/):

which lets contributors know that you would like all p

[2015-11-08 08:04] dfediuk opened #2298 "Default registration behavior for extensions without «registration.php» file"
I use the same `registration.php` file for all my [Magento 2 extensions](https://mage2.pro/c/extensions):
[code]
I do not like that I need to duplicate the same file for each extension.
The core modules do even worse: they use the same `registration.php` file for each 100 modules, but with unique string (the module name) within, for example:
https://github.com/magento/magento2/blob/22629abe10f9c64

[2015-11-08 09:00] daim2k5 commented on #2289
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-11-08 09:00] #2289 closed

[2015-11-08 09:56] dfediuk opened #2299 "If a composer.json has a syntax error then bin/magento fails with a cryptic message like «An abstract factory could not create an instance of magentosetupconsolecommandmoduleuninstallcommand». I propose to show a more clear message instead."
https://www.google.ru/search?q=%22An+abstract+factory+could+not+create+an+instance+of%22+%5Bsite:github.com/magento/magento2+OR+site:devdocs.magento.com/guides/v2.0/+OR+site:mage2.pro%5D&gws_rd=cr&ei=wRs_Vq6NNYbZyAP-v4a4DA

[2015-11-08 09:59] mage2pro opened #2300 "Clarify error message on CLI tool failure"
If an extension has no etc/module.xml file then bin/magento fails with a cryptic message «There are no commands defined». I propose to show a more clear message instead.

[2015-11-08 11:25] johnbendi opened #2301 "Nginx is downloading cron instead of executing it when run from browser"
other php files get executed but cron.php doesn't

[code]

[2015-11-08 12:27] daim2k5 commented on #2301
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [technical issues forum](https://community.magento.com/t5/Technical-Issues/bd-p/magento-2-technical-issues) is likely the most appropriate. Feel free to re

[2015-11-08 12:27] #2301 closed

[2015-11-08 16:23] Flyingmana commented on #2293
I see... As Magento inside the root of the project is not an option (I dont like the hassle with all the gitignore rules and it would make my customized to server deployment harder) I successfully tried as workaround, to put the vendor inside the magento root.

[code]

[2015-11-08 16:45] shyandsy commented on #2294
still not work on my lnmp environment
when i open the debug mode on nginx conf, i got error message said that i cant run setup wizard, try console setup

[2015-11-08 16:47] shyandsy opened #2302 "does not work on latest verson of xampp"
when I finished the setup process, it shows "success"
![image](https://cloud.githubusercontent.com/assets/5271457/11021403/f86c13e2-8605-11e5-96be-2a6b31db70ed.png)

but I cant open the home page and admin page, always keep loading

![image](https://cloud.githubusercontent.com/assets/5271457/11021408/21881b40-8606-11e5-8bd6-11c2427f1cc4.png)

[2015-11-08 17:26] johnbendi commented on #2294
Sent from my BlackBerry 10 smartphone.                                                                                                                                                                                                                From: shyandsySent: Sunday, Nove mber 8, 2015 5:45 PMTo: magento/magen. o.    G2Reply To: magento/magento2Subject: Re: [magento2] could you provide a conf

[2015-11-08 21:18] guz-anton commented on #2267
I can suggest also:
3. Clean `pub/static` directory
4. Clean browser cache

Looks like .js files on the page are outdated.

[2015-11-08 21:24] antonkril commented on #2297
Plugin name is required for ability to rewrite plugin type.

[2015-11-08 21:35] eCommerceGorilla opened #2304 "Composer Install error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed"
Ran into an issue when running composer install with the newest RC1 candidate.

It received the following error:
[Composer\Downloader\TransportException]
  The "https://packages.magento.com/_packages/composer-1.0.2.zip" file could
  not be downloaded: SSL operation failed with code 1. OpenSSL Error messages
  :
  error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify
  failed

[2015-11-08 21:43] antonkril commented on #2265
It's not possible to intercept static calls because static call reference specific class name. Static calls hard-code class name and are not replaceable without hacking autoloading. So they should be avoided. In magento 2 you will see significantly less static calls, but they are still there, and will be gradually removed.

As for protected methods, limitation is there to avoid situations when thi

[2015-11-08 22:21] dfediuk commented on #2297
I have said the same in my 1th sentence. What is about my 2nd sentence?

[2015-11-08 22:31] dfediuk commented on #2265
OK, then the documentation need to be updated and I need another way to overcome the problems https://github.com/magento/magento2/issues/2165 and https://github.com/magento/magento2/issues/2264

[2015-11-08 22:46] dfediuk commented on #2302
First of all, you should use a domain name (and it must be not top-level) instead of an IP address.

[2015-11-08 22:55] xcomSteveJohnson commented on #2284
@daim2k5 That page will be updated with information to say how to clone the master branch.

[2015-11-09 01:49] davidalger commented on #2255
@gg24 As @daim2k5 mentioned in closing this, please post such programing related questions either on the [Magento Stack Exchange](http://magento.stackexchange.com/) or the [Programming Forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2). We are trying to keep the GitHub issue tracker focused on issues (aka bugs) with the Magento 2 platform. Thanks!

[2015-11-09 02:00] davidalger commented on #2284
Looping in @alankent here… to the best of my recollection, all deployments and implementations are expected to normally be built using composer pulling packages from the official Magento package server, not cloning GitHub. With GitHub's primary function being development and community involvement, having the develop branch remain the default branch would (to me) make sense because this way communi

[2015-11-09 02:19] davidalger commented on #2300
@dfediuk Please provide clearer details with steps to reproduce the noted error message. The below is what I get when I remove a module's etc/module.xml file and then run bin/magento. You can see that it plainly states what the problem is. This is running agains 2.0.0-rc:

[code]

[2015-11-09 02:27] davidalger commented on #2298
@dfediuk declaring the identifier using a string constant is more performant than the use of multiple array functions. Since these registration.php files are all executed on every run, using the array functions for this purpose would very easily introduce a significant performance hit, and so the hard-coded string is far better.

Currently the registration.php file is what is used to locate the mo

[2015-11-09 02:44] davidalger commented on #2291
This is an inconsistency in the core which needs to be addressed. The proper location per documentation is in `<module>/Plugin/`

source: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html#plugin-declare

[2015-11-09 02:51] astorm commented on #2284
@all Appreciate the feedback here, **but**, irrespective of what Magento 2's final delivery method is, and what the final documentation for that looks like —

1. People **are** trying to checkout this repository, and run a composer install/update to get Magento 2 up and running.  i.e. this isn't theoretical -- it's a real problem.

2. When people do that and something doesn't work (due to the natu

[2015-11-09 02:58] erichileman commented on #2284
Yeah Alan, that's a great point, and a valid concern.  People will instinctively do a git pull to try it out and that should be working. Which is especially critical at this juncture. :+1:

[2015-11-09 03:08] fooman commented on #2291
@davidalger the doc you linked to is not following its own guideline either

    <?php
    namespace My\Module\Model\Product;
    class Plugin

[2015-11-09 03:35] fooman commented on #2284
This is how other popular php projects do it:

laravel - master
symfony - 2.8
codeigniter - develop

more [projects here](https://github.com/search?l=PHP&q=stars%3A%3E1&s=stars&type=Repositories) and most of the following seem to have master as the default branch.

[2015-11-09 03:36] davidalger commented on #335
Closing this ticket since this feature has been implemented and is now available in Magento 2.

[2015-11-09 03:36] #335 closed

[2015-11-09 03:39] davidalger commented on #2265
@dfediuk Have you considered submitting a PR which refactors these methods you need to plugin to from protected methods to public? There are many protected methods in the system simply because of legacy code, and there is a good chance making some of these public via a PR would be accepted.