[2016-06-23 14:51] Pigau commented on #3572
I kind have the same issue.

I found that my issue is in customer-data.js.

line 18 :

The var storage got keys. The keys should be an array of the sections which must be reloaded with AJAX.

So the keys are an array like ["customer", "compare-products", "last-ordered-items", "cart", "directory-data", "review", "wishlist"]
And then the AJAX request like http://mydomain.com/customer/section/load/?s

[2016-06-23 14:57] andimov commented on #5182
@Dayssam thank you for reporting.
Please, attach your composer.json file

[2016-06-23 14:59] wert2all commented on #5074
Please report this issue in partner portal.

[2016-06-23 14:59] #5074 closed, assigned to wert2all

[2016-06-23 15:03] kanduvisla commented on #4774
I try to figure it out myself. Any pointers on where to look to manipulate FPT? Any events or plugin suggestions?

[2016-06-23 15:06] andimov commented on #5178
@devhn, thank you for reporting this issue!
Could you please provide magento version also?

[2016-06-23 15:19] loomdecor opened #5189 "Annoying when trying to move categories"
In magento 1, you could move multiple categories at one time - which I can't seem to do anymore.

Also every time I move a category I get a warning message.  I get it - it takes a long time.  But it takes even longer if I have to close it all the time.  This should be something where I can say "don't show me again"

[2016-06-23 15:21] heldchen opened #5190 "CLI: www/bin/magento is not using the correct error handler"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Use `www/bin/magento`
## Expected result
1. `Magento\Framework\App\ErrorHandler` is used as error handler as intented in `www/bin/magento`
## Actual result
1. `Composer\Util\ErrorHandler` is used as error handler instead

the problem is that in `www/bin/magento` set_error_handler is called before instantiating the `Magento\Framewor

[2016-06-23 15:21] mhabou commented on #5182
@andimov :

Sorry i deleted everything & i reinstalled magento 2.1rc3

But i got almost the same error when i compiled magento, i fixed it by deleting this folder var/di

[2016-06-23 15:29] srbarba commented on #3805
I'm sorry @JDavidVR  but I only used this fix for my custom module. I didn't try to set it at core.

Reading the function I think you should use this fix AFTER the first validation:

[code]

Can you share the given error?

[2016-06-23 15:37] paulespino opened #5191 "REST API endpoint throwing wrong exception"
## **Steps to reproduce**
1. Install Magento from 2.1 branch.
2. Set up API integration
3. Send call to create Simple Product via /V1/products endpoint
4. Once simple has been added, create Configurable Product via V1/products endpoint
5. Add Simple Product created on **Step 3** via /V1/configurable-products/{sku}/child to the Configurable Product created on **Step 4**.
## **Expected result**
1. 2

[2016-06-23 15:37] RUjmiak commented on #5180
@veloraven Sorry

Version: Magento 2.0.5

GET Customers/me

{
    "id": 4,
    "group_id": 1,
    "default_billing": "5",
    "default_shipping": "5",
    "created_at": "2016-06-10 09:19:18",
    "updated_at": "2016-06-22 15:40:21",
    "created_in": "Default Store View",
    "email": "test3@gmail.com",
    "firstname": "Rastislav",
    "lastname": "Ujmiak",
    "gender": 1,
    "store_id": 1,

[2016-06-23 15:39] veloraven commented on #5030
@ipekerti , please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-23 15:46] devhn commented on #5178
@andimov it's 2.0.7.

[2016-06-23 15:49] ipekerti commented on #5030
Huh, I thought I had included it.  Sorry.

I'm using v2.0.6 community.

[2016-06-23 15:55] mhabou opened #5192 "[CE 2.1.0 RC3] Reorder issue - The options you selected are not available"
## Steps to reproduce
1. Install Magento CE 2.1.0 RC3
2. Add Bundle Product to the cart
3. invoice & ship
4. reorder
## Expected result

No problem
## Actual result

[code]

[2016-06-23 16:00] andimov commented on #5182
@Dayssam, thank you for response.
I can not reproduce this bug.
Your steps is correct but there are no data of all preconditions.
If you think that it was an error in Magento, please provide additional data about precondition and environment.

[2016-06-23 16:01] leoquijano commented on #4711
Thanks @wert2all. This is branch 2.0, specifically in my case, version 2.0.7:

https://github.com/magento/magento2/blob/2.0/app/code/Magento/CatalogImportExport/Model/Import/Product.php

[2016-06-23 16:19] KrystynaKabannyk commented on #4548
Hello @pixelplant, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:19] #4548 closed, assigned to nobody

[2016-06-23 16:23] KrystynaKabannyk commented on #3529
Hello @tkn98, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:23] #3529 closed, assigned to nobody

[2016-06-23 16:23] mhabou opened #5193 "[ CE 2.1.0 RC3] - qty_invoiced & qty_refunded of bundle product"
## Steps to reproduce
1. Install Magento CE 2.1.0 RC3
2. Add Bundle Product to the cart.
3. Place Order
   ![bundle_product_1](https://cloud.githubusercontent.com/assets/13301885/16310781/79d04042-395d-11e6-9619-b9a8706e57a3.png)
4. invoice
   ![bundle_product_2](https://cloud.githubusercontent.com/assets/13301885/16310829/a7b750fe-395d-11e6-86c8-b5b13f4dbdcf.png)

![bundle_product_3](https://clou

[2016-06-23 16:23] josegreyes commented on #3572
We were having the same issue that Pigau is describing on Centos 6.5. We moved the installation to a Centos 7.2 instance and the error disappeared and started working as expected. We also tried it on an Ubuntu 14.04 machine and it worked there as well, no change to the code were required.

[2016-06-23 16:23] KrystynaKabannyk commented on #4054
Hello @esiemens, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:23] #4054 closed, assigned to nobody

[2016-06-23 16:24] KrystynaKabannyk commented on #3097
Hello @robfico, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:24] #3097 closed, assigned to mazhalai

[2016-06-23 16:24] KrystynaKabannyk commented on #3249
Hello @Vinai, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:24] #3249 closed, assigned to nobody

[2016-06-23 16:25] p3mbo commented on #3662
@piotrekkaminski I don't believe that this is a question - I believe it is a bug when using repositories and have provided code in order to re-produce it with an expected result and actual result.

e.g.
**Expected Result:**
2 Products created with 50 in stock and related to one-another via Related Products

**Actual Result:**
2 Products created with no stock and related to one-another via Related

[2016-06-23 16:26] KrystynaKabannyk commented on #2272
Hello @kassner, this issue has been fixed in the 2.1.0 Release. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:27] KrystynaKabannyk commented on #4358
Hello @davidalger, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:30] KrystynaKabannyk commented on #4329
Hello @srinivasanithin, the original issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you have any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:30] KrystynaKabannyk commented on #4537
Hello @nobuttsalex, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:30] #4537 closed, assigned to mbrinton01

[2016-06-23 16:31] KrystynaKabannyk commented on #2630
Hello @kkkonrad, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:31] #2630 closed, assigned to nobody

[2016-06-23 16:33] KrystynaKabannyk commented on #2957
Hello @hgpit, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:33] #2957 closed, assigned to mslabko

[2016-06-23 16:34] KrystynaKabannyk commented on #2121
Hello @kost08, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:34] #2121 closed

[2016-06-23 16:35] KrystynaKabannyk commented on #4556
Hello @nobuttsalex, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:35] #4556 closed, assigned to nobody

[2016-06-23 16:35] antboiko commented on #5184
@mcspronko

Hello Max, thanks for reporting this issue. We've created internal ticket MAGETWO-54718 to fix it.

Best,
Anton.

[2016-06-23 16:35] KrystynaKabannyk commented on #3926
Hello @robfico, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:35] #3926 closed, assigned to choukalos

[2016-06-23 16:36] KrystynaKabannyk commented on #4741
Hello @antonlazarchenko, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:36] #4741 closed, assigned to dkvashninbay

[2016-06-23 16:36] KrystynaKabannyk commented on #3580
Hello @peterjaap, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:36] #3580 closed, assigned to MomotenkoNatalia

[2016-06-23 16:37] KrystynaKabannyk commented on #3605
Hello @lindows-xx, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you have any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:37] mcspronko commented on #5184
Hi @antboiko

Thank you for internal ticket. Do you have any estimate when do you guys planning to fix this issue? It is pretty critical for Merchant to be able to add/edit a product from Admin.

Thanks,
Max

[2016-06-23 16:38] vil11 commented on #5129
@gizmocn

Hi! Thanks for reporting the issue. Internal ticket: **MAGETWO-54719**.

##

:sunny: dima vilchynskyi, M2 QA

[2016-06-23 16:38] KrystynaKabannyk commented on #4507
Hello @shockwavemk, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:38] #4507 closed, assigned to paliarush

[2016-06-23 16:38] KrystynaKabannyk commented on #4434
Hello @alex-parra, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:38] #4434 closed, assigned to nobody

[2016-06-23 16:38] KrystynaKabannyk commented on #4917
Hello @MidnightDesign, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:38] #4917 closed, assigned to nobody

[2016-06-23 16:39] KrystynaKabannyk commented on #3119
Hello @lewbor, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:39] #3119 closed, assigned to nobody

[2016-06-23 16:40] KrystynaKabannyk commented on #4312
Hello @bh-ref, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:40] #4312 closed, assigned to rgoncharuk

[2016-06-23 16:41] KrystynaKabannyk commented on #4545
Hello @stepzerosolutions, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:41] #4545 closed, assigned to nobody

[2016-06-23 16:41] KrystynaKabannyk commented on #4899
Hello @5zymon, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:41] #4899 closed, assigned to nobody

[2016-06-23 16:42] KrystynaKabannyk commented on #2958
Hello @Khaleel, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:42] KrystynaKabannyk commented on #4159
Hello @astorm, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:43] KrystynaKabannyk commented on #4365
Hello @devdesco-ceo, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:43] #4365 closed

[2016-06-23 16:43] KrystynaKabannyk commented on #4540
Hello @joebusby, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:43] #4540 closed, assigned to nobody

[2016-06-23 16:44] KrystynaKabannyk commented on #2103
Hello @adragus-inviqa, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:44] #2103 closed

[2016-06-23 16:45] KrystynaKabannyk commented on #5025
Hello @ezequielalba, this issue has been fixed in the 2.1.0 Release, that's why I'm closing it. If you any questions or additional information regarding the issue feel free to reopen it or create a new one.

[2016-06-23 16:50] pboisvert commented on #5184
@mcspronko the team will need to rank this against all other open issues but given your help in spotting the issue it seems like we should be able to address fairly soon (perhaps next patch but need some analysis first).

[2016-06-23 16:58] mhabou opened #5194 "[ CE 2.1.0-rc3] - Cancel an order of bundle product"
## Steps to reproduce
1. Install Magento ver 2.1.0-rc3
2. Add Bundle Product to the cart.
3. Place the order
4. invoice partially the order
5. Cancel

[See The video](https://youtu.be/z9Yjt3kRh8M)
## Expected result

Order status is procerssing
## Actual result

Order status is complete

[2016-06-23 17:04] zerobrapsgiven opened #5195 "Updating attributes of products in the Catalog view doesn't work"
Running the latest version of Magento2. When you go to Products/Catalog, select either one or multiple products using the checkbox inputs on the left and go to Update Attributes using the dropdown in the top left. In my case I tried to change an attribute called "Manufacturer" and even though after I save the UI displays a confirmation that I was able to save the change, when I go to edit the prod

[2016-06-23 17:28] fooman commented on #4972
2.1.0 was released with this change still in https://github.com/magento/magento2/blob/2.1.0/app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_grid.xml

[2016-06-23 17:28] #4972 closed, assigned to nobody

[2016-06-23 17:31] fooman commented on #4749
Did not happen https://github.com/magento/magento2/blob/2.1.0/app/code/Magento/Catalog/Controller/Adminhtml/Category/Edit.php#L118

[2016-06-23 17:31] #4749 closed, assigned to voleye

[2016-06-23 17:37] erikhansen commented on #4724
@antboiko After playing around with the Magento 2.1 interface a little bit more, I'm actually going to retract my recommendation to change to red for the disabled state, as I think grey works well. So feel free to close MAGETWO-53794.

![image](https://cloud.githubusercontent.com/assets/129031/16313531/3cb839d0-393f-11e6-86fd-054bf3a5ea62.png)

[2016-06-23 17:43] moraryou commented on #3496
I have tested with latest stable version(v2.0.7) and i can confirm the bug is still present.
_v2.1 is out just now after i tested with 2.0.7_

[2016-06-23 18:04] iazel commented on #5070
Same problem here! I've made the PR trough github, so the ID should be the same

[2016-06-23 18:06] Toweringmedia-clients opened #5196 "Magento 2.1.0 Fresh Install: Toolbar broken and errors"
On a fresh install of 2.1.0 after logging into admin navigating to the cms pages. The tool bar is broken at the top and I am getting the following in the debugger.

/~magento2/pub/static/adminhtml/Magento/backend/en_US/knockoutjs/knockout.js:3012 Uncaught ReferenceError: Unable to process binding "scope: function (){return bulk }"
Message: Unable to process binding "template: function (){return ge

[2016-06-23 18:09] jibrandlr opened #5197 "Unable to upgrade to Magento 2.1.0 GA via command line"
I've already applied the patch MDVA-532.
I installed Magento originally via `composer create-project`.

I tried to upgrade from 2.0.6 to 2.1.0 GA via command line:

[code]

But I got this error:

[2016-06-23 18:09] springimport opened #5198 "No sorting orders in API"
## Steps to reproduce
1. Auth using integration.
2. `[GET]` _/V1/rest/V1/orders_ with params

[code]
## Expected result
1. Sorted list of orders
## Actual result
1. List of orders without sorting.

[2016-06-23 18:38] keyurshah commented on #2531
it helped me to clear the following directories

var/di
var/cache
var/generation
var/page_cache

[2016-06-23 19:07] crantron commented on #4725
@wert2all i like how people post and never check up on it...waste of time.

[2016-06-23 19:57] minhluan259 commented on #5144
Today CE 2.1 release, and it have the same issue.

[2016-06-23 19:57] Toweringmedia-clients opened #5199 "Magento 2.1.0 .htaccess bug"
The .htaccess file has set max execution time twice in it. This seemed to cause a max 30 seconds error.

[2016-06-23 20:27] joshuacurrier commented on #5165
@MomotenkoNatalia @joshtmprod

Did you guys find/replace "attibute" on the entire codebase? I'm searched my /vendor folder in EE 2.0.5 and getting 19 results over 9 files...

[code]

[2016-06-23 20:34] Ganginator commented on #5169
+1
I'm dealing with this same issue, and on Nexcess as well.
I've tried the IP of host, and name as well as localhost all with same error...

Error:
[Zend_Db_Adapter_Exception]
SQLSTATE[28000] [1045] Access denied for user 'extdevon_mm_u'@'localhost' (using password: YES)
[PDOException]
SQLSTATE[28000] [1045] Access denied for user 'extdevon_mm_u'@'localhost' (using password: YES)

The connection

[2016-06-23 20:42] elenleonova commented on #5195
hi @samleeiii, which version of Magento do you use? 2.1.0?

[2016-06-23 20:52] piotrekkaminski commented on #5131
@boldhedgehog yes - there were some issues specific to this version of PHP 7 that were later corrected.

[2016-06-23 20:54] MidnightDesign commented on #5039
What's the MX label?

[2016-06-23 20:58] piotrekkaminski commented on #5131
Might be related to https://bugs.php.net/bug.php?id=71914. We were getting this/similar errors on 7.0.4 and 7.0.5. I will update this ticket if i get more information.

[2016-06-23 20:59] piotrekkaminski commented on #5039
@MidnightDesign Merchant eXperience, internal label as to which team/group the issue belongs.

[2016-06-23 21:05] elieobeid7 opened #5201 "There are no commands defined in the “cache” namespace"
**Update**

Everything is working now but `There are no commands defined in the "cache" namespace` is still there. I tried `chmod 777 -R var/generation`, didn't fix a thing. AFAIK no module is enabled

[code]

The issue was there long before I installed nosto, I initially installed SM quickstart then upgraded it the latest magento version. if I clear the cache from admin area, I see no error. I ne

[2016-06-23 21:38] zerobrapsgiven commented on #5195
Sorry it was the latest as far as I knew, but it's 2.0.7. I'll try upgrading to 2.1.0 to see if the issue is still persisting.

[2016-06-23 22:19] bentideswell commented on #3071
I know this is closed but I have just had this problem and found the issue so figured I would post it here for people searching in the future.

After updating my fork with the latest changes from the develop branch, I had this exact error. To fix, I ran the following in terminal:

[code]

[2016-06-23 22:29] MagePsycho opened #5202 "Unable to install sampledata in Magento 2.1.0"
Tried to install sample data using:
`php bin/magento sampledata:deploy`
resulted in the following error:

[2016-06-23 23:15] lstellway opened #5203 "Product CSV Import - Case-Sensitive URL Key Duplicates Check"
When importing Product CSV file: If a URL request path exists in a different case than the the url being imported, the import data will not validate and a vague exception error is shown.
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a product and specify a URL key
3. Create a product import file and specify an existing url_key for the product, but in a different case th

[2016-06-23 23:27] lstellway commented on #5203
Commit e1743fd41b038f19cb2bf0fdf4ba6a04ecd5cd69 fixes this

[2016-06-24 00:01] stevekarwacki commented on #5197
I am having similar issues with EE:

composer require magento/product-enterprise-edition 2.1.0 --no-update
composer update

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package magento/product-enterprise-edition 2.1.0 exists as magento/

[2016-06-24 00:57] bvboas opened #5205 "Table "rule_customer" does not existe"
Trying to get promo rule usage by customer.

Table "rule_customer" doesn't exist (https://github.com/magento/magento2/blob/59671558ecdab652b40db2d1a7c63d5b1dea0a92/app/code/Magento/SalesRule/Model/ResourceModel/Rule.php#L181)

The correct name is "salesrule_customer".

[2016-06-24 02:38] SolPin opened #5206 "Not able to create customers, products etc."
Installed Magento 2.1 from the downloaded package without the sample data

result: beside the store settings none of the other data is accessible and the loader i running without any result.

[2016-06-24 04:38] webspeaks opened #5208 "Unable to upgrade to Magento 2.1.0 CE via Web Wizard"
## Steps to reproduce
1. Upgrade Magento 2.0.6 to 2.1.0 using web wizard
2. I have installed the MVDA-532.\* patch
## Actual result
1. The update wizard continues to run with following message, no success appears even after a long time:

[code]

[2016-06-24 04:44] Sharmilasrini95 commented on #2780
hai

Invalid block type: Magento\Checkout\Block\Onepage
#0 /var/www/html/magentolocal/vendor/magento/framework/View/Layout/Generator/Block.php(237): Magento\Framework\View\Layout\Generator\Block->getBlockInstance('Magento\Checkou...', Array)
#1 /var/www/html/magentolocal/vendor/magento/framework/View/Layout/Generator/Block.php(215): Magento\Framework\View\Layout\Generator\Block->createBlock('Magen

[2016-06-24 04:50] samtay commented on #4703
I found it on EE 2.0.7 but it still exists on the CE develop branch.. just look at the code link I posted in my initial comment, it should be obvious.

[2016-06-24 04:59] sengaigibon commented on #3572
@slavvka Due to the comments about this bug is still happening I want to re-open this issue but I couldn't find where or how... thanks

[2016-06-24 05:01] samtay commented on #4803
The issue exists on all versions, on CE develop branch. The description is in the initial comment. I don't see what more information you need? This isn't a huge deal, I'm just letting you know there is a disconnect in the hierarchy of the interfaces. The documentation is incorrect -- which the framework can be _very_ finicky about sometimes when generating code or parsing objects in the webapi. So

[2016-06-24 05:14] 100php commented on #3572
@Pigau ,this is related to cookies, the key do not get created if you are using private browser. Please check once in regular browser.

@josegreyes , OS should not make any difference to the code. Please check the PHP version that might be helping you solve the issue.

[2016-06-24 05:31] ghost commented on #5198
For sorting any list following parameters need to be added with the url:
searchCriteria[page_size] = 100
searchCriteria[current_page] = 1
searchCriteria[sortOrders][0][field] = order_date (It is the field value on which sorting is to apply e.g. amount,order_date etc.)
searchCriteria[sortOrders][0][direction] = ASC

[2016-06-24 05:37] JesseEnd commented on #5206
I'm having this same issue after upgrading to 2.1.0 from 2.0.7

Additionally, Products -> Categories has a full window modal that never closes

edit:  The Categories issue was reported a few days ago - https://github.com/magento/magento2/issues/5150

[2016-06-24 06:12] minhluan259 commented on #5059
Thank you @adragus-inviqa.
I have tryed
`$.mage.cookies.set('name', 'value');`
but it doesn't create session cookie, it auto add expires,
not good like Jquery Cookie.

[2016-06-24 06:31] ramiaros opened #5209 "Install Error"
Step 6: Install

Installing... 92%
Installation is incomplete.
Check the console log for errors before trying again.

Module 'Magento_Swatches':
Installing data..
[ERROR] exception 'Magento\Framework\Exception\LocalizedException' with message 'Wrong attribute group ID' in /home/magento/public_html/vendor/magento/module-eav/Setup/EavSetup.php:622
Stack trace:
#0 /home/magento/public_html/vendor/mag

[2016-06-24 06:47] tinelps commented on #5209
is this error log from `var/log` ?

[2016-06-24 06:49] flipflap opened #5210 "Pages with same URL key can't be saved for translation"
## Steps to reproduce
1. I do have pages in different languages
2. In old magento I used the same url key for different stores like this:
   http://stackoverflow.com/questions/32677845/magento-translation-and-url-key
## Expected result
1. Magento 2 should save pages with same URL key and different store.
## Actual result
1. Warning appears: "URL key for specified store already exists."

[2016-06-24 06:50] janagiram opened #5211 "Unable to install Latest Magento EE using composer"
## Steps to reproduce
1. Install Magento EE 2.0.1-rc3 using composer.
2. I have tried the following command "composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition=2.0.1-rc3 magento2"
## Actual result
1. [Example] Error message appears: [InvalidArgumentException]
   Could not find package magento/project-enterprise-edition with version 2.0.1-rc3.

[2016-06-24 06:51] tinelps commented on #3124
hi @poongud have you had any solution to your problems?

[2016-06-24 06:54] Valentyn-Kubrak opened #5212 "JavaScript error: "Cannot read property 'closed'" in Product Edit Page"
I found problem with window in edit product page from first magento 2 releases, when you opens Wysiwyg editor many times, then something is going wrong with JavaScript object initialization.

In new Magento 2.1 developers disabled window for wysisbvig, but I see still probem for "Insert Image" button.
## Steps to reproduce
1. Update Magento 2.0.7 to Magento 2.1
2. Go to edit product Page
3. Click

[2016-06-24 06:57] mvillard opened #5213 "2.1.0 EE installation fails"
## Steps to reproduce

Install Magento EE 2.1.0 with sample data from downloaded ZIP file - Windows 10 - Wamp
PHP 5.6.16
## Apache 2.4.17

Error is step 6
Completion 51 %:

Module 'Magento_Cms':
Installing data...
[ERROR] exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`ee210`.`cms_page`,

[2016-06-24 07:16] nntoan opened #5214 "Area code is already set while upgrading to Magento EE 2.1.0"
## Steps to reproduce
1. Upgrade **Magento EE 2.0.7** to **Magento EE 2.1.0** through command-line. (Patch MDVA-532 already applied)
2. Remove `var/di`, `var/generation`, `var/cache`, `var/page_cache`
3. Execute `bin/magento setup:upgrade`
## Expected result
1. The `setup:upgrade` command must running without any troubles
## Actual result

Throws an exception:

[code]

![screenshot 2016-06-24 14 1

[2016-06-24 07:26] shiftedreality commented on #4920
No answer from the author was received for 8 days.
Closed.

[2016-06-24 07:26] #4920 closed, assigned to shiftedreality

[2016-06-24 07:27] shiftedreality commented on #4828
No update was received from the author.
Closed as non-reproducible.

[2016-06-24 07:27] shiftedreality commented on #4085
Closed.

[2016-06-24 07:27] #4085 closed, assigned to shiftedreality

[2016-06-24 07:40] wert2all commented on #5214
Please report this issue to the partner portal.

[2016-06-24 07:40] #5214 closed, assigned to nobody

[2016-06-24 07:40] slavvka commented on #3572
@sengaigibon Due to comments above the bug is still happening on old Magento code (2.0.2, 2.0.6) but as I wrote previously it may work in the latest code (develop, 2.1.0, and 2.08 that is coming soon)

[2016-06-24 07:40] wert2all commented on #5213
Please report this issue in partner portal.

[2016-06-24 07:40] #5213 closed, assigned to nobody

[2016-06-24 07:40] devishreebalasubramanian commented on #4828
Hai,

  Sorry for too late reply. I have used Firefox 43.0 in ubuntu 14.0.

[2016-06-24 07:41] wert2all commented on #5211
Please report this issue in partner portal.

[2016-06-24 07:41] #5211 closed, assigned to nobody

[2016-06-24 07:43] wert2all commented on #5210
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-24 07:45] flipflap commented on #5210
It is version Magento 2.0.7

[2016-06-24 07:46] Pigau commented on #3572
Hello guys,

@100php, on my dev environment, I tried on :
- Chrome Version 49.0.2623.75 (64-bit) on Ubuntu 14.04, in regular mode
- Firefox 47.0 on Ubuntu 14.04, in regular mode

On the remote server, it is a debian 7 and I use the same browsers. The problem is still here.

@slavvka, as I can't upgrade the Magento version right now, what do think I can do ?

[2016-06-24 07:46] wert2all commented on #5209
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-24 07:56] nntoan commented on #4689
Hello there,
I do apologise for my late response, I didn't notice to this.
My problem happened while try to save both of customer and customer address entities.

I tried to separate it, save customer entity and then save the customer address. But the time still go around 7 ~ 15, even 1 minutes for a record.

If you need further information, please let me know.
Thank you.

[2016-06-24 08:20] ramiaros commented on #5209
Magento-CE-2.0.7+sample_data-2016-05-24-12-05-08.zip

[2016-06-24 08:21] NadiyaS commented on #5163
Hi @Dayssam ,
thanks for reporting this issue. It is already being tracked by MAGETWO-54626 ticket.
This issue will be closed as duplicate of #5086.

[2016-06-24 08:21] #5163 closed, assigned to NadiyaS

[2016-06-24 08:24] antonlazarchenko commented on #4741
Hello, @KrystynaKabannyk! Good news. Thanx)

[2016-06-24 08:29] Asitis commented on #5042
Had the same issue, cleared the browser cache and it works on 2.1.

[2016-06-24 08:29] antboiko commented on #4724
Hello @erikhansen , thanks for your feedback.

Best,
Anton.

[2016-06-24 08:42] roma84 commented on #5202
Was able to install Sample Data after adding `repo.magento.com` in `composer.json`

[code]

[2016-06-24 08:46] amansrivastava commented on #628
Any updates for this ticket ?

[2016-06-24 09:05] mekiran16 opened #5215 "when i checked product custom option at that time each custom product option price add in real price as well as related price"
Hi
I  am making one new store in magento 2,
In which i created more then 10 products with custom option, then after view open any product with custom option, then after i will checked any custom option at that time i face one price issue, in magento 1x , when i checked custom option at that time change only current product price but not any change price of related product as well as upsell product

[2016-06-24 09:07] mekiran16 commented on #5215
Hello every one please give me some solution
Thanks

[2016-06-24 09:17] phuc128t opened #5216 "Swatch does not show on product listing page"
## Steps to reproduce
1. Install Magento version 2.1
2. Add configurable product has text swatch or visual swatch
## Expected result
1. Swatches should show on product listing page
## Actual result
1. Swatches do not show on product listing page
   See attached
   ![2016-06-24_16-15-57](https://cloud.githubusercontent.com/assets/1607243/16333708/f96cbbc2-3a26-11e6-841d-6d76a37f416e.jpg)
   ![2016-

[2016-06-24 09:17] Pigau opened #5217 "js-translation.json bugs | Issues when translating validation js messages"
Hello,

I am on a Magento 2.0.2. My locale is french (fr_FR).

I have a custom theme which have its js-translation.json file.

I noticed two distinct errors.
- First, a sentence which exists in the file is not translated on the front. But others sentences in this file are translated.
  Sentence not translated : "Please enter a valid email address (Ex: johndoe@domain.com)."
  Sentence translated :

[2016-06-24 09:26] tinelps commented on #5209
@ramiaros you don't seem to be very care about the problem >.<

[2016-06-24 09:39] phuc128t commented on #5216
It seems "jsonSwatchConfig" has no data.
![2016-06-24_16-37-44](https://cloud.githubusercontent.com/assets/1607243/16334285/2ae61754-3a2a-11e6-8c16-3a157a51b2cc.jpg)

[2016-06-24 09:46] phuc128t commented on #5199
I think one for php5 and the other for php7

[2016-06-24 09:48] mhabou commented on #5163
@NadiyaS
Also a problem with qty_shipped.

[2016-06-24 09:52] NadiyaS commented on #5163
We added these additional conditions to existed MAGETWO-54626 ticket.

[2016-06-24 09:53] mhabou commented on #5194
@andimov :

The problem is in the qty_canceled which still 0 and the order status must be "processing" because there is no shipment

![bundle_product_9](https://cloud.githubusercontent.com/assets/13301885/16334613/7c10f736-39f1-11e6-9f7c-6109461f6ed3.png)

[2016-06-24 09:58] paales commented on #4859
Version: 2.1.0

### Steps to reproduce

Create a configurable product with multiple color tshirts and related images.

### Expected result

The product image should be the image of the underlying simple product 'Carolina Azul' in the cart, like it is on the product page.

![schermafbeelding 2016-06-24 om 11 58 11](https://cloud.githubusercontent.com/assets/1244416/16334734/f39ef9e0-3a02-11e6-8dee-

[2016-06-24 10:05] andimov commented on #5192
@Dayssam
The Bundle Product was created in 2.1.0-rc3 or was migrated from earlier versions?

[2016-06-24 10:05] mhabou commented on #5192
@andimov

From fresh install , from the sample data

[2016-06-24 10:06] paales opened #5218 "Editing a configurable product from the cart doesn't select the previously selected swatch."
Magento 2.1.0

Possibly related #4440 but @tkacheva seems to have misunderstood the issue (?). Swatches are shown, but options aren't selected.
### Steps to reproduce
1. Create a configurable product with multiple colors and images on the simple.
2. Use the color as a color swatch
3. Add the variation to the cart.
   ![schermafbeelding 2016-06-24 om 12 02 15](https://cloud.githubusercontent.com/as

[2016-06-24 10:15] phuc128t commented on #5218
This issue reported many times but still not fixed in 2.1

[2016-06-24 10:17] stamster commented on #5202
Setting repository in composer is mandatory, how CLI tool is suppose to fetch (from where) those packages if you don't set repo.

[2016-06-24 10:17] mhabou commented on #5163
@NadiyaS
There is an other issue with qty_shipped of the bundle product (If the bundle product shipment type is partially),

If i shipped the items of the bundle product partially , the qty_shipped value of the bundle product is wrong

[2016-06-24 10:21] webspeaks opened #5219 "Any admin grid does not load after upgrade to 2.1.0"
## Steps to reproduce
1. Upgraded to 2.1.0 from 2.0.7
2. Go to admin grid (products, cms or any other grid)
## Actual result
1. Grid does not load, following JavaScript error found in JS console:
   `Uncaught Error: You cannot apply bindings multiple times to the same element.      knockout.js:2908`

Screenshot: http://joxi.ru/n2Ykn50hjzEW9r

[2016-06-24 10:29] paales commented on #5218
@eric128 Could you maybe reference the other related issues, might make this issue more visible.

[2016-06-24 10:32] paales commented on #5218
Found this one https://github.com/magento/magento2/issues/4684

[2016-06-24 10:36] hgpit commented on #4579
We have just downloaded Magento v2.1 with the expectation that this fix would have been in - unfortunately it was not.

Considering the sizeable fees charged for EE, how can this fix not have found its way into v2.1? This is such a ridiculous bug/oversight it renders the entire platform useless to any merchant wishing to use "country of manufacture" product options. Are we missing something here?

[2016-06-24 10:49] piatrouski commented on #5166
Could you increase your memory_limit & max_input_vars php values? It help you.

[2016-06-24 10:54] alena-marchenko commented on #5094
Hi @nagrgk

You need to enter Merchant ID and Access Key for cybersource in Magento configuration in order to be able to use it.  Please report Enterprise Edition issues through [support ticket](https://magento.com/support/enterprise-edition) to ensure faster resolution.

[2016-06-24 10:54] #5094 closed, assigned to alena-marchenko

[2016-06-24 10:56] ghost opened #5220 "Trigger::addStatement should not auto-add semicolon to the end of statement"
## Steps to reproduce

[code]
## Expected result

Trigger is successfully created.
## Actual result

`[PDOException]
  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ';END' at line 13`
## More info

Magento generates following query:

[code]

So, ::addState

[2016-06-24 10:57] bonsdawende commented on #4911
Hi,

Thanks for your article. I installed Magento 2.0.7  in Ubuntu server 14.0.4 (AWS) and followed the differents steps described here but I had this error : update-cron.ERROR: Cron readiness check failure! Found following non-writable paths [] [] ? Has anyone met this error ? And how did you resolve it ? Thanks :-)

[2016-06-24 11:08] gosteev commented on #2634
@thienphucvx thanks! it worked

[2016-06-24 11:12] MagePsycho commented on #5202
Yeah, adding repository fixed the issue. But why it's not there in composer.json by default. In the prior version, I have never added that repo manually in order to install sample data. Is it a #bug ?

[2016-06-24 11:20] Onkovat commented on #5173
Probably no bug... It seems I had no access to the database through terminal. I'm not really experienced with unix so I thought the error has to lie in magento. :|

[2016-06-24 11:42] cdiacon commented on #3618
@piotrekkaminski it may be, but :

the problem is in this method addOrderedQty from
Magento\Reports\Model\ResourceModel\Product\Sold

[code]

which is a core collection and same logic query from m1 that works like a charm?

Just for the memo that even it will be fixed magento.stackexchange.com it will remain a core problem that will generate other support tickets.

[2016-06-24 11:52] mhabou opened #5221 "[ CE 2.1.0-rc3] - TypeError: $.noConflict is not a function"
## Steps to reproduce
1. Login to customer account

javascript issue :

[code]

[2016-06-24 11:59] AntonEvers commented on #4237
@wert2all Can I turn this into a bug report instead of a question? The datetime in the cron_schedule contains another time zone than the datetime in sales tables.

[2016-06-24 12:05] antonlazarchenko opened #5222 "products became “out of stock” after update from 2.0.7 to 2.1.0"
After updating from 2.0.7 to 2.1.0 all the products in catalog became "out of stock". That's how they displaying in my bestseller widget.
But in admin panel they always have positive quantity, so they have to be "in stock".
And, of course, they are invisible at frontend catalog.

UPD: Only when I'm adding a new product it appears at catalog, but no changes with already existed catalog products. in

[2016-06-24 12:24] adragus-inviqa commented on #5059
@minhluan259 - well, you can use `options.lifetime`: `$.mage.cookies.set('name', 'value', {lifetime: 342342342342})`

[2016-06-24 12:25] kanduvisla commented on #4774
I think I figured out a way to do this with only one plugin and one rewrite, but I'm not sure if it's solid enough. Anyway, I'll leave the link on how I did this here for future developers who might encounter the same situtation (untill Magento decides to take this feature request out of the icebox): https://gielberkers.com/properly-calculate-fptweee-configurable-products-magento-2/

[2016-06-24 12:27] Krapulat opened #5223 "Error after upgrade from 2.0.7 to 2.1.0"
After I upgrade magento from 2.0.7 to 2.1.0 via command line doing:

[code]

When I type "php bin/magento setup:upgrade" I get

[code]

Any ideas why is this happening?

[2016-06-24 12:47] Pigau commented on #3572
Edit : @slavvka I updated to 2.1.0, it didn't change anything. And now I have some errors on the code, so I'll go back to another version, maybe 2.0.6.

[2016-06-24 12:48] Manashvi commented on #4331
Yes this issue still continue to exist in the version 2.0.7

[2016-06-24 12:49] rushabhrakholiya opened #5224 "Unable to reindex"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-24 12:56] slavvka commented on #3572
@Pigau have you tried the solution from @100php with `<section name="cart"/>`?

[2016-06-24 12:58] slavvka commented on #4127
@mstumpf818, the issue has been fixed and delivered to develop. Please see fe12b4d

[2016-06-24 12:58] #4127 closed, assigned to slavvka

[2016-06-24 12:59] andimov commented on #2850
@Michal-sk
Sorry for the late reply.
 If the problem still actual, please, provide the used version and description according to the template. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used. It's allow us research this issue.

[2016-06-24 13:00] Pigau commented on #3572
@slavvka I tried adding a sections.xml in app/design/frontend/mynamespace/mytheme/etc/frontend/
Is it the good place ?

And my sections.xml looks like :

[code]

[2016-06-24 13:02] PierAlex opened #5225 "A product attribute type multiple select, not required, is not nullable after a selection has been made."
## Steps to reproduce

Create a product attribute type multiselect not required.
Select an option or more, in the catalog - product - general tab and save.
Edit the product. The selection cannot be deleted. At least one selection is always active for the product. It is not possible to deselect all the options.
![image](https://cloud.githubusercontent.com/assets/17165819/16338033/3f9b3e0a-3a1a-11e6

[2016-06-24 13:06] dimasch commented on #5217
+1 the same issue on 2.0.7 for generate theme translations. For separate modules is ok.

[2016-06-24 13:08] slavvka commented on #4558
@crantron, the issue has been fixed and delivered into develop. Please see c105a16

[2016-06-24 13:08] #4558 closed, assigned to rgoncharuk, slavvka

[2016-06-24 13:09] RUjmiak commented on #2991
@ishakhsuvarov Can you reopen ticket? Bug is not fixed...

[2016-06-24 13:10] andimov commented on #5223
@Krapulat
Manually clear the var/cache, var/page_cache, and var/generation directories.
A sample command follows:
`rm -rf var/cache/* var/page_cache/* var/generation/*`

Then run:
`php bin/magento setup:upgrade`

[2016-06-24 13:11] cscd98 commented on #4938
@choukalos Configured nginx with http2/tls 1.2 + HSTS with Redis 3.2.1 for cache and session

Varnish is running for HTTP requests.

The basket take 12 seconds to load, with a single SKU in the basket. Not exactly earth shattering 2 second load time!

This is on a 2GB Intel + SSD cloud instance on Rackspace.

On my home page, non-HTTPS I am seeing the html return in 26ms using Varnish.

This is on

[2016-06-24 13:17] andimov commented on #5225
@PierAlex
Thank you for reporting this issue!
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-24 13:20] slavvka commented on #3572
I see. The internal ticket MAGETWO-54758 has been created.

[2016-06-24 13:22] andimov commented on #5224
@rushabhrakholiya
please, provide description according to the template.

[2016-06-24 13:23] RUjmiak opened #5227 "API GET cart billing-address is without address data"
## Steps to reproduce
- Magento v.2.0.5
- REST API
- customer logged, created cart, added product to cart, created customer address

address from GET customers/me
{
            "id": 6,
            "customer_id": 4,
            "region": {
                "region_code": null,
                "region": null,
                "region_id": 0
            },
            "region_id": 0,
            "coun

[2016-06-24 13:26] SolPin opened #5228 "No Migration Tool available for Magento 2.1"
Tried to install the Migration Tool for 2.1, but getting the following error:
- The requested package magento/data-migration-tool 2.1 exists as magento/data-migration-tool[2.0.0, 2.0.2, 2.0.5, 2.0.7] but these are rejected by your constraint.

Installation failed, reverting ./composer.json to its original content.

Doesn't matter if you type in 2.1 or 2.1.0 - the result is the same.

[2016-06-24 13:31] andimov commented on #5197
@lgarridoj, @stevekarwacki Please report this issue to the partner portal.

[2016-06-24 13:33] #5197 closed, assigned to andimov

[2016-06-24 13:35] andimov commented on #5220
@adlogic
Thank you for reporting this issue!
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-24 13:43] qozmiq commented on #5169
It was probably GoDaddy blocking this.  I tried a workaround where I moved the DB from my old host, transfered it to Nexcess server, and then ran source as 127.0.0.1 and destination 127.0.0.1 and it worked.

[2016-06-24 13:46] ghost commented on #5220
The problem exists in all M2 versions, including latest dev snapshot.

[2016-06-24 13:50] andimov commented on #5228
@SolPin
To allow us research the issue, please, provide description according to the template.

[2016-06-24 13:52] klict opened #5229 "Error while upgrade from 2.0.7 to 2.1"
We have tried to upgrade Magento twice now but both times we got an Error
## Steps to reproduce
1. upgrading to 2.1.0 from Setup Wizard
## Expected result
1. Magento 2.1 installed
## Actual result
1. we got an error
## additional information

server runs on nginx and php 7.0.7

[error1.txt](https://github.com/magento/magento2/files/331832/error1.txt)
[error2.txt](https://github.com/magento/magento

[2016-06-24 13:52] andimov commented on #5228
Please, adress all issues regarding Migration Tool to https://github.com/magento/data-migration-tool repository.

[2016-06-24 13:52] #5228 closed, assigned to nobody

[2016-06-24 13:53] Krapulat commented on #5223
@andimov Same problem after:

`rm -rf var/cache/* var/page_cache/* var/generation/*`

The output with -vvv is:

[code]

[2016-06-24 13:58] benrawn commented on #3307
As this issue was not resolved in 2.1.0, I've developed an extension that should fix the bug in the meantime: https://github.com/pizza-pizza/magento2-shipment-status-fix

[2016-06-24 14:08] andimov commented on #5169
@qozmiq @Ganginator
Thank you for reporting this issue!
Please, adress all issues regarding Migration Tool to https://github.com/magento/data-migration-tool repository.

[2016-06-24 14:08] #5169 closed, assigned to nobody

[2016-06-24 14:27] maksek commented on #5131
@boldhedgehog, you may install latest PHP 7.0.x from 3rd party library.
PHP 7.0.4 has bug which were fixed in later version.

[2016-06-24 14:33] minhluan259 opened #5230 "Gallery Images don't change after select option swatches"
## Steps to reproduce

Magento 2.1
1. Go to a configurable product.
2. Select option swatches (blue)
## Expected result

Gallery Images change to Blue.
## Actual result

Gallery Images don't change to Blue.

[2016-06-24 14:34] andimov commented on #5219
@arvind07
This is similar that old files are loaded from the cache
Clean cache in browser(ctrl+shift+del in Chrome) and server-side cache, e.g. varnish and try again.

[2016-06-24 14:36] antonlazarchenko commented on #4741
@dkvashninbay, I've updated to 2.1.0.
Now I got error "Unable to place order. Please try again later." but payment system says that transaction passed successfully.
So I assume that something in my code is wrong and I need to pass credit card data correct to complete payment inside magento.
Would you look at this module https://github.com/Inchoo/magento2-Inchoo_Stripe (I made my module similar to

[2016-06-24 14:39] webspeaks commented on #5219
Hi,
Obviously I cleared all caches properly. But the issue still persists.

[2016-06-24 14:47] andimov commented on #5215
@mekiran16
Thank you for reporting this issue!
To allow us research the issue, please, provide description according to the template.

[2016-06-24 14:48] boldhedgehog commented on #5131
@maksek Thanks for the update, closing issue.

[2016-06-24 14:50] giacmir commented on #5131
Situation is that at this time Magento 2.1 is not compatible with current Ubuntu LTS version until they upgrade their php (or by using an external ppa with all related security and management implications).

I think that for the Magento ecosystem is vital that it works with Ubuntu server. This should be an absolute priority at the cost to write an ugly workaround to the problem.

Magento just can'

[2016-06-24 14:59] grasdaggel opened #5231 "Unable to change Contacts Page <title>-Tag with XML"
Dear community,

I think I may found something unwanted.

Theres a layout default.xml for the contact page in

vendor/magento/module-contact/view/layout/ => default.xml
Line 13:
`<argument name="label" xsi:type="string" translate="true">Contact Us</argument>
`

When I make an duplicate of this file and copy it to

app/design/frontend/ThemeName/Namespace/Magento_Contact/layout/ => default.xml

and

[2016-06-24 15:00] SolPin opened #5232 "Upgrading from 2.0.7 to 2.1.0 from Setup Wizard failed due to data-migration-tool version"
## Steps to reproduce
1. upgrading from 2.0.7 to 2.1.0 from Setup Wizard
## Expected result

Steps to reproduce

upgrading from 2.0.7 to 2.1.0 from Setup Wizard
Expected result

Magento 2.1 installed
## Actual result

**Step 2:** Readiness Check could not be completed because of the following error.

**Check Component Dependency**
We found conflicting component dependencies. Hide detail

Command "

[2016-06-24 15:02] #5230 closed, assigned to nobody

[2016-06-24 15:03] webspeaks commented on #5219
I even cleared the static files for admin and regenerated all static content. No success though.

[2016-06-24 15:11] PascalBrouwers commented on #4170
I face the same issue when trying to have a shared cart. Both stores will show the products in /checkout/cart but the minicart simple won't update. The information in window.checkoutConfig.quoteData is correct, but it looks like the minicart's cache is not updated or something?

[2016-06-24 15:11] andimov commented on #5231
@grasdaggel
Thank  you for reporting this issue!
To allow us research the issue, please, provide the used version and description according to the template.

[2016-06-24 15:14] webspeaks commented on #5219
I opened the admin panel in incognito mode and it worked!

Sorry, my fault. This is not a bug.

[2016-06-24 15:14] #5219 closed, assigned to nobody

[2016-06-24 15:18] davidalger commented on #4795
@maksek @pboisvert This is a critical bug which I'm rather shocked was not addressed before the release of the GA for 2.1. It was reported nearly a month ago, and kills the ability to do fast atomic deployments of code either by capistrano, imaging, etc, etc.

When can we expect to see this fixed? All deployments via the [capistrano-magento2](https://rubygems.org/gems/capistrano-magento2) Gem are

[2016-06-24 15:21] wert2all commented on #5216
Thanks for reporting.  Internal ticket MAGETWO-54767 was created.

[2016-06-24 15:28] pascaladriaansen commented on #5197
@andimov Correct me if i'm wrong, but I believe you closed this issue because you thought this was an EE related issue.

I'm having a similar issue as @lgarridoj when trying to upgrade Magento CE 2.0.7 to 2.1.0. This is the error I get:

[code]

Is this because some modules say they depend on magento/framework of another version?

[2016-06-24 15:28] anton-huz commented on #5091
Hi @Vinai ,
It's good point to gap our solution. Thanks.
We will do fixes under MAGETWO-54768. Just a notice.
Please be in touch.

[2016-06-24 15:29] andimov commented on #5218
We already have a similar ticket MAGETWO-53459 in our internal backlog.

[2016-06-24 15:31] hostep commented on #4795
We also run into this now, like wth?
Indeed very critical.

@ Magento guys, do you even know how people are deploying Magento 2 shops to a production server? I keep getting the impression you haven't got the faintest idea about how this works. Would also be great if you could write some documentation about how to do this according to you, because we have to keep guessing what steps in what order w

[2016-06-24 15:40] cizgidekiadam opened #5234 "Upgrade 2.0.7 to 2.1"
## Steps to reproduce

Tried to update 2.1 with:
`composer require magento/product-community-edition 2.1.0 --no-update`
`composer update`
## Expected result

Updated to 2.1
## Actual result

Error Says `magento/product-community-edition 2.1.0 requires composer/composer 1.0.0-beta1 -> satisfiable by composer/composer[1.0.0-beta1] but these conflict with your requirements or minimum-stability.`

Cur

[2016-06-24 15:43] cizgidekiadam opened #5235 "Trying update 2.0.7 to 2.1 with Web Setup Wizard"
## Steps to reproduce

Logged in admin and navigate to `System > Tools > Web Setup Wizard`
## Expected result

Open Web Setup Wizard to upgrade.
## Actual result

Redirected to `/setup/index.php/session/unlogin` with 401 status.

[2016-06-24 15:43] MomotenkoNatalia commented on #5126
Hi @BenSpace48 ! We are grateful for the investigation you fulfilled. We created an internal ticket to find the best way to fix this - MAGETWO-54769

[2016-06-24 15:44] maksek commented on #5131
@giacmir, we are going to revalidate our test scenarios against 7.0.4, if not issues, we may include it back.

[2016-06-24 15:44] hostep commented on #5131
Can somebody please confirm what exact PHP 7 versions are actually supported, because it's really confusing.
In the [System requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements.html), it says PHP 7.0.4 is actually supported:

[code]

While over [here](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.0CE.html) it says:

[code]

Somebody really has

[2016-06-24 15:51] tanberry commented on #5131
@hostep , we will get the docs cleared up ASAP, apologies for the confusion, and thanks for pointing it out!

[2016-06-24 15:57] andimov commented on #5197
@pascaladriaansen
To allow us research your issue, please, create new issue according to the template.

[2016-06-24 15:59] andimov commented on #5234
@rbostan
Thank you for reporting. Please,  attach, your composer.json file here.

[2016-06-24 16:02] alena-marchenko commented on #4296
Closing this issue due to no response, please reopen when you have an update.

[2016-06-24 16:02] #4296 closed

[2016-06-24 16:03] alena-marchenko commented on #4777
Closing this issue due to no response, please reopen when you have an update

[2016-06-24 16:03] #4777 closed, assigned to alena-marchenko, dkvashninbay

[2016-06-24 16:03] alena-marchenko commented on #4595
Closing this issue due to no response, please reopen when you have an update.

[2016-06-24 16:03] #4595 closed, assigned to alena-marchenko

[2016-06-24 16:25] richardreen opened #5236 "Upgrade from 2.0.7 to 2.1.0 gives many errors"
After upgrading from 2.0.7 to 2.1.0 there are several errors:
1. Categories don't show no products anymore [frontend}
2. Tried to update a configurable products results in errors
   - Can't create directory /srv/www/webshop2/var/generation/Magento/Catalog/Model/Product/Attribute/Backend/Tierprice/.

   I manual added this directory
   Second try results in error again
   -"Can't create directory /

[2016-06-24 16:25] pboisvert commented on #4795
@davidalger @hostep bug has been raised to P0 and folks are reviewing. We will investigate why not addressed for RC. Early comments indicate cause was known and a fix was available but that fix did not pass testing and bug sat with the lower priority in error so it was not flagged as a blocker for 2.1.

[2016-06-24 16:26] mcspronko opened #5237 "Exception thrown when user clicks Back to Shopping Cart from Multicheckout Shipping page"
## Steps to reproduce
1. Configure Gift Options on Order level
2. Create a customer account with 2 shipping addresses
3. Add 2 products to cart as a logged in user
4. Click "Proceed with Multi Checkout" button on Checkout Cart page
5. Select different shipping address for second product.
6. Click "Update QTY and Addresses" button
7. Click Back to shopping cart link
8. Observe results.

## Expected

[2016-06-24 16:28] andimov commented on #5223
@Krapulat
I can't reproduce it.
Please attach your composer.json and composer.lock
Also check permissions http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html

[2016-06-24 16:29] andimov commented on #5222
@antonlazarchenko
Thank you for reporting this issue!
Please, provide description according to the template.

[2016-06-24 16:31] andimov commented on #5220
@adlogic
Which MySQL engine and version do you use?

[2016-06-24 16:34] #5173 closed, assigned to andimov

[2016-06-24 16:36] cizgidekiadam commented on #5234
[composer.json.txt](https://github.com/magento/magento2/files/332102/composer.json.txt)

[2016-06-24 16:47] Krapulat commented on #5223
@andimov The permissions are correct.
[composer.lock.zip](https://github.com/magento/magento2/files/332129/composer.lock.zip)

 I attach composer.lock and this is composer.json:

[code]

[2016-06-24 16:58] Krapulat commented on #5223
@andimov In exception.log it appears:

[code]

[2016-06-24 17:04] aupong commented on #5219
Clearing the browser cache can help

[2016-06-24 17:39] crantron opened #5238 "Javascript too Hipster"

[2016-06-24 17:48] crantron commented on #4558
@slavvka thanks man! we are upgrading at lunch!

[2016-06-24 17:50] astorm opened #5239 "The repo.magento.com server's HTTPS/SSL are Not Compatible with OS X"
## Steps to reproduce
1. Get an OS X machine running Yosemite and latest a version of PHP from http://php-osx.liip.ch/
2. Ensure latest composer is running with `composer selfupdate`
3. Run `composer create-project --repository=https://repo.magento.com/ magento/project-community-edition`
## Expected result
1. Composer Downloads Magento
## Actual result
1. Download fails with the composer error "Th

[2016-06-24 17:51] dvanhise opened #5240 "Sections missing from Stores > Configuration > General > Design"
Hi.  I've run into this problem since using versions 2.1+.  I'm still new to Magento so I haven't ruled out user error 100%.
## Steps to reproduce
1. Install Magento from `develop` branch.
2. In Admin panel, navigate to Stores > Configuration > General > Design
3. Try changing store view to Default Config, Website, or Store View
## Expected result
1. Sections such as Watermark, HTML Head, and Foot

[2016-06-24 18:00] #5199 closed, assigned to nobody

[2016-06-24 18:00] maksek commented on #5239
Hi @astorm, just to check, have you installed openssl?

[2016-06-24 18:02] Toweringmedia-clients commented on #5196
updated title, I reinstalled and still have the same issue. Any help is appreciated.

[2016-06-24 18:04] astorm commented on #5239
@maksek Yes.

[2016-06-24 18:19] maksek commented on #5239
Just did fresh install on my iMac (i used macports):

[code]

It works fine. Doesn't look like repo issue.

[2016-06-24 18:25] hostep commented on #5239
Hi @astorm

It looks like they use a pretty modern ciphersuite and protocols on repo.magento.com, which only allows TLS 1.2 and 1.1 connections: https://www.ssllabs.com/ssltest/analyze.html?d=repo.magento.com&s=52.203.74.110&latest

There is a possibility that the OpenSSL version your php installation is linked against, doesn't support those  protocols yet.

You could try running these commands to

[2016-06-24 18:35] KrystynaKabannyk commented on #3605
Sorry for the confusion, we double checked, and unfortunately this issue didn't go to the 2.1.0 release, it will come to the next possible release.

[2016-06-24 18:40] alex-koepke commented on #833
@vinaysikarwar what did you do to resolve your issue?

[2016-06-24 18:42] 24198 commented on #5239
@hostep

An issue has been reported for the old OpenSSL version at https://github.com/liip/php-osx/issues/175. Currently running into the same problems as @astorm, I've updated OpenSSL but it looks like the PHP version of liip's package is compiled with default OpenSSL of OS X. After running `phpinfo();` on my current setup (which is in fact a version of liip's osx, php-5.6.21) I can see that the

[2016-06-24 18:47] paales commented on #5240
@Bobrm2k3 This is by design, can not be found under content:

<img width="259" alt="schermafbeelding 2016-06-24 om 20 47 42" src="https://cloud.githubusercontent.com/assets/1244416/16347425/ec08548e-3a4c-11e6-81e0-dacde2fe4fea.png">

[2016-06-24 18:48] RG-1 opened #5241 "Dropdown on configurable products page is missing when using caches [Magneto 2.1.0]"
## Steps to reproduce
1. I am using Magento 2.1.0 (after update form Magento 2.0.7 using Setup Wizard + MDVA-532 patch).
2. Create new configurable product or use one created before the update. It should use 2 configurable attributes: visual swatch and dropdown.
3. Enable all caches.
4. Try to add this product to the cart.
## Expected result
1. On product page, there should be visual swatch and dr

[2016-06-24 18:54] paales commented on #5236
@richardreen Looks like a permission problem. Please take a look at this article first. http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-06-24 18:54] KrystynaKabannyk commented on #4329
Sorry, the issue has been closed by mistake, additional details of investigation will be given a little bit later.

[2016-06-24 18:54] cozzamara commented on #5152
This is still a problem in 2.1.0 release upgraded from 2.0.7.
Fresh new installation of 2.1.0 doesn't suffer from this problem

[2016-06-24 19:03] dvanhise commented on #5240
Yup, that's it.  It moved and I never thought to check outside of store > config.  Thanks.

[2016-06-24 19:11] KrystynaKabannyk commented on #5025
Sorry for the confusion, we double checked and unfortunately this issue didn't go to the 2.1.0 release, we are still investigating whether this is a bug, we will update you on this a little bit later.

[2016-06-24 19:19] paales commented on #5240
@Bobrm2k3 Could you please close the issue since it has been resolved 😄

[2016-06-24 19:21] paales commented on #5218
@andimov Thanks for the update, found out after finding the other bug!

[2016-06-24 19:46] #5240 closed, assigned to nobody

[2016-06-24 19:54] ghost commented on #5131
Sorry about the confusion, it's fixed now. Be sure to refer to the [2.1 system requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements.html).

[2016-06-24 19:57] paales commented on #5160
@vzabaznov The usage of the value delimiters, row delimiters and category delimiters cause problems in the import format. The characters `, | /` are now reserved symbols that can't be used in the values.

The exploding of values should be done by a `preg_split` instead of `explode`. For an example see http://stackoverflow.com/questions/8519793/php-explode-but-ignore-escaped-delimiter

We solved th

[2016-06-24 20:15] ezequielalba commented on #5025
Aw, well, let me know any news!

[2016-06-24 20:15] Vinai commented on #5160
The only thing going for CSV is that it can be built by humans (kinda) using Excel.
If the Excel factor is taken away JSON or YAML would be superior.
I don't know of a generic tool that allows to export JSON that could be used in place of Excel by end-users though.

Regarding protected/private, I'm pretty firmly on the private side of things.
Better to keep code simple, composed of different class

[2016-06-24 20:29] duffner opened #5242 "Configurable Product - Cannot use "Create Configurations" feature - "Invalid Form Key""
Steps to reproduce

Magento 2.1.0 CE installed with Sample data

Issues occurs in Chrome / Firefox. I have not tested in other browsers
##
1. Begin Creating new Configurable product from Admin Catalog Grid
2. Set SKU, Weight, Price.. etc
3. Click "Create Configurations" button
4. Select Desired Attributes for configuration - Click Next (Note Selected 3 From Sample Data)
5. Select Desired Attribute

[2016-06-24 20:38] stevekem commented on #5144
Having same issue with 2.1 CE

[2016-06-24 21:06] maksek commented on #5239
TLS 1.0 is disabled on repo.magento.com due security. Good summary is here - https://blog.varonis.com/ssl-and-tls-1-0-no-longer-acceptable-for-pci-compliance/

[2016-06-24 21:16] astorm commented on #5239
@maksek Re: "working for you" -- that reminds of the time, years ago, when I made the team I was on start putting a dollar in a jar anytime they said "Works on my machine"  I'm guessing you're installing php where you're building or linking against a custom installed version of PHP?  The packages I'm using, and others with the same problem are using, looks like its built using whatever version os

[2016-06-24 21:22] astorm commented on #5239
@hostep Yeah, it's the packages on http://php-osx.liip.ch/ --- honestly, I've burned a few days on this, I'll just resort to work arounds for my own work rather than fight upstream on this.   If Magento wants to move to a distribution model that blocks a stock OS X and a popular (possibly the most popular?) PHP distribution channel that's their choice.  It sends a clear message though that they're

[2016-06-24 21:31] m0zziter commented on #4755
I was able to reproduce this on a fresh installation of Magento deployed with zero extensions or themes installed.

Some notes about the environment:
First, it's docker based. A docker-compose file spins up nginx, redis and php containers. Then Magento is installed via composer and configured to use an external MySQL database (in our case, this lives in RDS). Similar to @peec we only include the c

[2016-06-24 21:47] #5238 closed, assigned to nobody

[2016-06-24 21:52] maksek commented on #5239
So, thanks for @hostep, @24198 for finding issue  https://github.com/liip/php-osx/issues/175 on http://php-osx.liip.ch/ which @astorm uses.
Since it is Magento 2 github, and the issue not related to Magento 2, @astorm any more comments?

[2016-06-24 22:01] astorm commented on #5239
@maksek While you have a situation here where you can easily point to technical issue that's not yours, your assessment that it's not related to Magento 2 is incorrect. With things setup as they are right now an unknown number (thousands?  Tens of thousands?) of OS X can't access Magento 2 via composer.

That's horrible from a product point of view. For developers already working in the ecosystem

[2016-06-24 22:17] maksek commented on #5239
Thanks for suggestions @astorm, we will investigate them.

[2016-06-24 22:23] grasdaggel commented on #5231
We are using Magento 2.0.4

## Steps to reproduce
1. copy file "default.xml" to /app/design/Theme/Name/Magento_Contact/layout/
2. Change the labels content from "Contact Us" to something else
3. rm -rf var/page_cache var/cache var/view_preprocessed pub/static/*
4. php bin/magento setup:static-content:deploy de_DE en_US
5. Check /contact

## Expected result
1. Title changes from "Contact Us" to som

[2016-06-24 22:40] piatrouski opened #5243 "Useless method addChild in Configurable WebAPI?"
## Steps to reproduce
1. Install Magento 2.1.0
2. Add Simple product
3. Add Configurable product which based on Simple
4. Add another Simple to Configurable by WebAPI

or just check these code lines:

https://github.com/magento/magento2/blob/develop/app/code/Magento/ConfigurableProduct/etc/webapi.xml#L29
https://github.com/magento/magento2/blob/develop/app/code/Magento/ConfigurableProduct/Model/Pr

[2016-06-24 23:30] piatrouski commented on #4602
@oserediuk Please, close this issue. Shortly, need increase memory_limit & max_input_vars. It was my first step (like as Magento 1) but unfortunately, my hosting provider doesn't support .htaccess directives for overwriting PHP values (it was surprising for me).

[2016-06-24 23:30] #4602 closed, assigned to nobody

[2016-06-25 00:13] jibrandlr opened #5244 "Unable to upgrade from 2.0.6 to 2.1.0 GA via command line"
## Steps to reproduce
1. Installed Magento 2.0.0 using composer create-project. Since then I've been upgrading to each new version to 2.0.6.
2. Then I tried to upgrade to 2.1.0 (MDVA-532 patch is installed) using the following commands:

[code]
## Expected result

Succesful upgrade to 2.1.0.
## Actual result

Error:

I had already opened an issue for this problem but it was closed by mistake I bel

[2016-06-25 00:53] robfico commented on #5244
Did you apply the MDVA-532 patch first?

MDVA-532  Patch MDVA-532 fixes an issue with the Magento composer-installer component that causes upgrades to fail. For details, see Upgrade to Magento version 2.1 (June 22, 2016)

http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_21-upgrade.html

I believe it's required for a composer update.

[2016-06-25 02:23] jibrandlr commented on #5244
@robfico Yes I installed the patch MDVA-532 before trying to upgrade

[2016-06-25 03:48] hungvt opened #5246 "Enable Merge CSS Files make adminl panel very slow"
Hi,
After i set the option Merge CSS Files to yes the adminpanel runs very slow.

[2016-06-25 05:56] tushar4monto commented on #3712
Hello

I found that. There is one closed </li> tag but not open tag on this code
Magento Testing Framework Guide
Magento Admin Pattern Library

http://devdocs.magento.com/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html
Currently this page display proper

[2016-06-25 05:56] #3712 closed, assigned to tanberry

[2016-06-25 06:22] cizgidekiadam commented on #5234
Hi,
Is there any solution for me ?

[2016-06-25 07:24] cizgidekiadam opened #5247 "Can not access Web Setup Wizard with 2.1 clean install"
## Preconditions
Magento 2.1.0
## Steps to reproduce
1. Clean install 2.1.0
2. Try to access Web Setup Wizard
## Expected result

Access to Web Setup Wizard
## Actual result
1. `?app=setup`  Response 302
2. `setup`            Response 301
3. `setup/`           Response 302
4. `setup/index.php/session/unlogin`     Response 401

`Welcome to Magento Admin, your online store headquarters.
To use the M

[2016-06-25 08:23] springerin commented on #5071
I have same issue even with php
PHP 5.5.31 (cli) (built: Jan  9 2016 12:08:06)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2015 Zend Technologies

[2016-06-25 08:48] urbancrew commented on #642
@seansan to add multiple configurable products as one package you need a extension like Wizkunde. That extension does exactly what the people here want to achieve.

[2016-06-25 08:55] bondimedical3 opened #5248 "Magento 2.1 PHP 5.5"
I am getting an error message that I require PHP 5.6 or higher to run Magento 2 now. Will PHP 5.5 be supported again?

[2016-06-25 09:17] seansan commented on #642
I'd like to discuss that, because it does not. It creates a bundle of
_different_ products

We just need a configurable product, sold as a pack (t-shirts in sizes and
colours for example)

After some code discussions it is acctually quote simple (verbally ;) a
little more difficult in code

Packs of 1 product (in this case a pack/batch of 6 T-shirts) should be
shown and processed in the frontend a

[2016-06-25 09:23] ghost commented on #5220
`mysqld  Ver 5.6.31 for Linux on x86_64 (MySQL Community Server (GPL))`

[2016-06-25 09:25] cizgidekiadam opened #5249 "Create product programmatically, addImageToMediaGallery throws exception (v2.1.0)"
## Steps to reproduce
1. Install Magento with composer `create-project`
2. Create custom script for create sample product.
3. All images in pub/media/jpg folder
4. Code:
[code]
## Expected result
1. Product with image and a cup of coffee 😒
## Actual result

Uncaught exception 'Magento\Framework\Exception\LocalizedException' with message 'There is no MediaGalleryEntryConverter for given type' in ve

[2016-06-25 09:54] ideirj opened #5250 "Missing webapi-security translate file"
I don't find the admin section's (Magento Web API) translate file
This is what I think:

"Web API Security","Web API Security"
"Allow Anonymous Guest Access","Allow Anonymous Guest Access"
"This feature applies only to CMS, Catalog and Store APIs. Please consult your developers for details on potential security risks.","This feature applies only to CMS, Catalog and Store APIs. Please consult your

[2016-06-25 10:02] ideirj opened #5251 "Unintelligible characters Varnish cache admin's note text"
![magento210-git01](https://cloud.githubusercontent.com/assets/2940012/16356076/4641a2f0-3acc-11e6-8c1d-b6d273dcdecb.jpg)

So, the translate can't work:
"IPs access list separated with \',\' that can purge Varnish configuration for config file generation.
                            If field is empty default value localhost will be saved."

[2016-06-25 10:56] rbostan commented on #5249
Save product once before add images, then add images and re-save same object fixed that issue.

`$product->setTypeId(Configurable::TYPE_CODE)
    ->setAttributeSetId($attributeSetId)
    ->setWebsiteIds([1])
    ->setName($p["name"])
    ->setSku($p["sku"])
    ->setVisibility(Visibility::VISIBILITY_BOTH)
    ->setStatus(($p["status"]==1?Status::STATUS_ENABLED:Status::STATUS_DISABLED))
    ->setSt

[2016-06-25 10:57] RG-1 commented on #5241
## Update

After flushing caches, the dropdown is not working only when accessing the product page through any category page. When accessing it through a widget ("Product list") or search, dropdown is displayed correctly.

[2016-06-25 11:18] commcad commented on #4911
@bramklg top class, that did it for me here. Added your fix (2 extra lines below) and wahla :)

 in update/app/code/Magento/Update/CronReadinessCheck.php

[code]

Thanks!

[2016-06-25 11:28] PierAlex commented on #5225
@andimov
The version is 2.0.7.
Sorry, what do you mean with: "If the problem is actual for a specific tag"?
The system is updated to the latest version.

[2016-06-25 12:07] minhluan259 commented on #5144
@asemenenko @pboisvert @stevekem , I found the issue in file:
`vendor\magento\module-catalog\view\frontend\templates\product\view\addtocart.phtml`

Here the fix:

[code]

Change to

[code]

[2016-06-25 12:26] paales commented on #5248
@bondimedical3 As far as I know, it wont be supported. PHP5.5 is almost End of Life, time to upgrade.
http://php.net/supported-versions.php

[2016-06-25 13:02] paales commented on #5244
It seems the Data Migration tool isn't available for 2.1.0 yet.
https://github.com/magento/data-migration-tool/tags

Maybe uninstall the data migration tool first and then reinstall the data migration tool with dev-master after you've upgraded.

[code]

[2016-06-25 13:23] commcad commented on #4938
@choukalos - haven't checked on Hitch. No point, the ootb kit works more than perfectly for us ;) Nice work bud

@craigcarnell - get rid of varnish all at once mate. No need. Attaching my config below for nginx & REDIS. That is for HTTPS only (no http, again, no need). Lightning fast and stable, compared to the other one anyway. And yes I've tried Varnish, nothing but trouble (bug reports RE varni

[2016-06-25 13:45] markalston commented on #5223
I am getting the exact same error with an identical exception trace.  Here is my composer.json

[code]

[2016-06-25 14:33] GlobalOutsourcing opened #5255 "Web setup wizard not working in production mode 2.0.7"
## Steps to reproduce
1. Access web setup wizard
2. https://mysite.com/setup/ loads black error page and states:

The mysite.com page isn’t working

mysite.com didn’t send any data.
ERR_EMPTY_RESPONSE
## Expected result
1. Web setup wizard loads
## Actual result
1. https://mysite.com/setup/ loads black error page and states:

The mysite.com page isn’t working

mysite.com didn’t send any data.
ERR_

[2016-06-25 14:45] markalston commented on #5223
I retried the upgrade without installing the sample data patch and it seems to have worked fine.  There is also a possibility that I hadn't changed the document root to the base directory instead of pub before running the upgrade.

[2016-06-25 16:41] developer-lindner commented on #5223
I'm getting a different error:

`setup:upgrade [--keep-generated] [--magento-init-params="..."]`

composer.json:

[code]

[2016-06-25 16:45] andidhouse opened #5256 "Magento 2.1 Configuration" --> "Design" --> No theme dropdown"
## Steps to reproduce
1. Install Magento 2.1 via download /FTP
2. PHP7 / Nginx / MariaDB
   Go to "Configuration" --> "Design" tab
## Expected result
1. To see the option to switch a theme (magento luma or custom theme uploaded)
## Actual result

There is just one tab here: "Search engine robots".

Did you guys move the theme dropdown?
![screen](https://cloud.githubusercontent.com/assets/16196483/

[2016-06-25 16:47] developer-lindner commented on #5229
Seems to be the same issue as i noted here https://github.com/magento/magento2/issues/5223#issuecomment-228555734

[2016-06-25 16:51] maksek commented on #5248
HI @bondimedical3, @paales is right. PHP 5.5 is EOL, so no support for this version.

[2016-06-25 16:51] #5248 closed, assigned to nobody

[2016-06-25 17:09] maksek commented on #5244
@lgarridoj Data migration tool will be updated in next two weeks. So, you may want to uninstall it for upgrade.

[2016-06-25 17:21] maksek commented on #5256
Thanks for reporting @andidhouse, we are going to investigate this ASAP.

[2016-06-25 17:47] hostep commented on #5256
It has been moved in M2.1, see this duplicate ticket:
https://github.com/magento/magento2/issues/5240

[2016-06-25 17:57] maksek commented on #5256
Thanks @hostep, @andidhouse we are going to rename the section to avoid confusion in future.

[2016-06-25 17:59] hostep commented on #5246
This has been reported multiple times, please first try searching for an issue instead of creating a new one :)

Dupe of: https://github.com/magento/magento2/issues/4321

[2016-06-25 18:13] sheldonli999 opened #5257 "2.1 on editing customer screen, gray out the entire screen with a spinning icon"
## Steps to reproduce
1. Install M2.1
2. Choose a customer
3. Click edit the customer
## Expected result
1. be able to edit the customer fields
2. ...
## Actual result
1. the entire screen is grayed out with a spinning icon
2.
3. ...

[2016-06-25 18:15] andidhouse commented on #5256
Thanks! Found it there.
Renaming the section makes sense i think.

[2016-06-25 18:16] maksek commented on #5257
@sheldonli999, which mode are you using?
Can you recheck permissions on pub/static, pub/media folders?

[2016-06-25 18:18] sheldonli999 commented on #5257
dev mode, i set all to 777 under pub.  i see many js errors

[2016-06-25 18:18] #5256 closed, assigned to maksek

[2016-06-25 18:18] sheldonli999 commented on #5257
![screen shot 2016-06-25 at 11 18 33 am](https://cloud.githubusercontent.com/assets/18491705/16358387/8cca1c9e-3ac6-11e6-8dc2-2e0d8c361bf1.png)

[2016-06-25 18:18] sheldonli999 commented on #5257
also as you see, the address fields are not right

[2016-06-25 18:19] sheldonli999 commented on #5257
![screen shot 2016-06-25 at 11 21 32 am](https://cloud.githubusercontent.com/assets/18491705/16358394/b9cb84c6-3ac6-11e6-8fbb-e59788e6a714.png)

please see js errors

[2016-06-25 18:22] maksek commented on #5257
More details needed - how did you install 2.1 (websetup, CLI, download)?
If you are on developer mode, try to do next steps in console:
- remove everything from pub/static
- remove var/cache
- chmod 777 var and pub/static
- clean browser cache and open admin again

[2016-06-25 18:29] sheldonli999 commented on #5257
After clearing the browser cache, i am able to edit.  Thanks

But the address fields still show address template.  please the screen shot.
![screen shot 2016-06-25 at 11 31 19 am](https://cloud.githubusercontent.com/assets/18491705/16358468/211db8a0-3ac8-11e6-9b7d-4b72d9dc89ad.png)

[2016-06-25 18:56] YevSent commented on #4755
@m0zziter did you use 2.1 or 2.0.5 (from linked compose file)?

[2016-06-25 18:58] martinmonnier opened #5258 "Const PHP_BINARY breaks integration testing in windows since 2.1"
**Preconditions**
- Install your PHP in the common windows directory e.g. "C:\Program Files (x86)\Zend\ZendServer\bin"
- Create a simple integration test and run this test.

**Expected result**
- Test execution

**Actual result**
- The test could not be executed because the php interpreter "C:\Program " could not be started during preparing the integration enviroment.

**Reason**
- In File "\dev\t

[2016-06-25 19:04] martinmonnier commented on #5258
Stacktrace on test execution:
`Exception: Der Befehl "C:\Program" ist entweder falsch geschrieben oder
konnte nicht gefunden werden. in D:\Projekte\Magento\public_html\mycustomer\shop\vendor\magento\framework\Shell.php:61
Stack trace:
#0 D:\Projekte\Magento\public_html\mycustomer\shop\dev\tests\integration\framework\Magento\TestFramework\Application.php(464): Magento\Framework\Shell->execute('C:\\

[2016-06-25 19:28] antonlazarchenko commented on #5222
@andimov , I run site at localhost under windows 7, using xampp with php 7.0.6 required for magento 2.1.0.
I did following:
1. Change magento community edition version inside composer.json from 2.0.7 to 2.1.0
2. composer update
3. bin/magento setup upgrade
I saw that frontend product catalog is empty, but I added some products before updating magento so they should be at frontend product catalog.

[2016-06-25 19:31] JDavidVR opened #5259 "2.1 Can't select theme"
## Steps to reproduce
1. Install Magento 2.0.1.
2. Open backend, go to: STORES > Configuration > GENERAL > Design
## Expected result
1. Should display list of themes available
## Actual result
1. Is not displaying the option

![configuration settings stores magento admin](https://cloud.githubusercontent.com/assets/4760084/16358711/9e922070-3ae9-11e6-8e2f-5d3b5697cd42.png)
![screen shot 2016-06-25

[2016-06-25 19:33] JDavidVR commented on #5259
there are another issues, that reports same problems

[2016-06-25 19:33] #5259 closed, assigned to nobody

[2016-06-25 19:33] hostep commented on #5259
Duplicate: https://github.com/magento/magento2/issues/5240

Guys, this is the third issue in two days about this, can you please first search in the existing issues before creating a new one

Thank you :)

[2016-06-25 22:17] pboisvert commented on #5246
closing as a duplicate.

[2016-06-25 22:17] #5246 closed, assigned to nobody

[2016-06-25 23:51] ignaciomella commented on #5131
My workaround:

Edit **app/bootstrap.php**

for those running php v7.0.4, change

`|| PHP_VERSION_ID === 70002`

to

`|| PHP_VERSION_ID === 70004`

and run this:

`find . -type f -print0 | xargs -0 -n 1 sed -i -e 's/7\.0\.2\|\~7\.0\.6/7.0.4|~7.0.6/g'`

[2016-06-26 01:58] ignaciomella commented on #4962
I'm experiencing this issue in Magento 2.1.0

Uploaded products via csv import, but when I try to save one of the products, I get:
![capture](https://cloud.githubusercontent.com/assets/9328631/16360172/46a9f8ee-3b28-11e6-9809-b8a10e5ff079.JPG)

[2016-06-26 04:11] sheldonli999 opened #5260 "2.1 Can't reset customer password"
## Steps to reproduce
1. Install Magento 2.1
2. Choose a customer
3. edit the customer
4. click reset password
## Expected result
1. send out the password reset email
2. ...
## Actual result
1. See the error message: Something went wrong while resetting customer password.
2. [Screenshot, logs]
3. ...

The reason I have to reset the customer password is the customer can't request to reset password

[2016-06-26 06:35] PierAlex commented on #5229
Same situation, Upgrading from 2.07 to 2.10 via web setup wizard. nginx and php 7.07 (on plesk).
I had the same problem with a different error, My error was refering to the 'attribute set ID' instead of the area code.
After restoring backups, at the third time, i got the success for the installation also if the setup still display the error and the admin is not running:

![error](https://cloud.git

[2016-06-26 06:47] dunghangnuakhong opened #5261 "error create credit memo in configurable product"
## Steps to reproduce

I am trying to create a Credit Memo in Configurable product with qty 2 or more but Return to Stock only 1 although I checked all
## Actual result

I checked Return to Stock checkbox with qty 2 or more but in stock of that product only return 1
This is error magento 2.0.4 EE right?

[2016-06-26 08:46] hostep opened #5262 "[2.1.0] composer install --no-dev should not install development dependencies"
## Steps to reproduce
1. Install Magento 2.1.0 using composer but use the `--no-dev` flag
2. Look at the `dev/` directory in the filesystem
## Expected result
1. The `dev/` directory should be empty or non-existing
## Actual result
1. The `dev/` directory exists and contains a bunch of development stuff
## Discussion

In an effort to try to find the best options of deploying a Magento 2 installati

[2016-06-26 08:48] hostep commented on #2561
This issue can be closed. Is fixed in Magento 2.1.0.
Even though they still install a bunch of development dependencies when running `composer install --no-dev` unfortunately.

[2016-06-26 09:10] andidhouse opened #5263 "Performance issue in 2.1 compared to 2.0.7"
## Steps to reproduce
1. Install Magento 2.1 fresh install via download
2. MariaDB/Nginx/Debian/Varnish/Redis

Expected result
1. Same or performance on front- and backend as Version 2.0.7
## Actual result
1. Very low performance also varnish and redis is installed and running, also without varnish and redis our system is much slower then on the 2.0.7 version which was really fast.

Does anyone ha

[2016-06-26 09:13] andidhouse commented on #5263
Our fault due to wrong configuration!

[2016-06-26 09:13] #5263 closed, assigned to nobody

[2016-06-26 09:20] ideirj opened #5264 "All title and description of the cache can not be translated"
Magento 2.1 admin panel
All title and description of the cache can not be translated

![magento210-git02](https://cloud.githubusercontent.com/assets/2940012/16361401/f90b6f24-3b8f-11e6-828e-d08111bdf143.jpg)

[2016-06-26 09:52] 24198 commented on #5239
@maksek so far I've seen two affected packages / setups where this issue applies. One is the php-osx liip package and the other one is MAMP. Both come with compiled php versions, they are compiled with the older OpenSSL 0.9.8x version.
I've created a small overview with the php versions / affected setups:

| PHP Version/Setup | PHP LIIP OSX | MAMP (PRO) |
| --- | :-: | :-: |
| 5.6.10 | N/A | x |
|

[2016-06-26 10:19] chregu commented on #5239
I'm working on a fix (for php-osx), looking good that this will be available soon

[2016-06-26 11:09] GlobalOutsourcing opened #5265 "Fresh 2.1.0 installation issue with Design section"
## Steps to reproduce
1. Set permissions and Install Magento 2.1.0 unzipping and run web setup wizard
2. Login to backend and navigate to Stores -> Configuration -> General -> Design
3. Cron settings available but no section for header, footer etc.
## Expected result
1. Being able to edit all settings for magento 2 design
## Actual result
1. Only Cron settings available
2.

![2016-06-26_120426](ht

[2016-06-26 11:18] kandy commented on #3498
Described issue  related to PHP setting max_input_vars. By default, it's set to 1000 and allow save  ~250 option (4 input need per option). Increase this setting to 100000 and its resolve your problem.

[2016-06-26 11:18] #3498 closed, assigned to kandy

[2016-06-26 11:46] andidhouse commented on #5265
Hi @GlobalOutsourcing ,

we had the same problem.
Solution: The design tab is moved to "Content" --> "Design" --> "Configuration"

Think it can be closed

[2016-06-26 11:53] andidhouse opened #5266 "Magento 2.1 Ad product to cart reloads page --> Webanalytics and page load time"
## Steps to reproduce
1. Magento 2.1
2. Move a product to cart from the product page
## Expected result
1. Have the product in the cart without reloading the page completely
2. Show the "Success message" without reloading the page
## Actual result
1. Product page is reloaded completely after adding product to cart and showing the "Success message"

This causes two problems:
1. The webanalytics get

[2016-06-26 12:13] Protazy21 commented on #5236
It is happening to me also after upgrade from 2.0.7 to 2.1. I don't have permissions problem, however products aren't displaying in any category. When I want to edit any product I'm getting "There has been an error processing your request" in report file I can find:
a:4:{i:0;s:98:"The configuration parameter "componentType" is a required for "advanced_pricing_button" component.";i:1;s:8025:"#0 /va

[2016-06-26 13:08] GlobalOutsourcing commented on #5265
Hi @andidhouse ,

Thanks so much for your response in such a short time.

Truly appreciate it.

Will close it now, yes.

Thanks again.

[2016-06-26 13:08] #5265 closed, assigned to nobody

[2016-06-26 13:20] refaelgold commented on #5265
need to change it on documention http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-email.html

[2016-06-26 13:43] woei66 opened #5267 "We cannot retrieve the payment method code (/rest/default/V1/carts/mine/shipping-information 400 Bad Request)"
## Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.0.6 magento2.0.6
2. installed a customized payment module
3. add a product to the shopping cart
4. click the "go to checkout" button
5. fill my shipping address and all fields are filled and the shipping address is different to my billing address.
6. click the "Next" butt

[2016-06-26 14:30] andidhouse opened #5268 "Assign products to category bug - Magento 2.1"
## Steps to reproduce
1. Install Magento 2.1 via download
2. Nginx/MariaDB/Varnish/Redis/PHP7
3. Install Sample data small
4. Go to category page
5. Go to products in category
6. Click reset filter
7. Click dropdown to "no"
8. Click search
9. Click qty dropdown to show "200" products
10. Assign all products by clicking the checkbox
11. Click save button
## Expected result
1. The 200 products are a

[2016-06-26 15:30] SolPin commented on #5244
Does somebody know the command how to uninstall the Data Migration Tool in 2.0.7?

[2016-06-26 16:33] commcad commented on #5131
@ignaciomella worked like a charm, thx for sharing and much appreciated sir

Top class individuals here

[2016-06-26 16:42] hostep commented on #4795
I found a temporary fix for this issue. If you can't wait until Magento comes with an update for this issue, you can follow these steps to fix it. My solution makes sure a `setup.ser` file gets generated, so that the `setup:upgrade --keep-generated` works again.

This involves creating a very small module with the following files:
- `app/code/Vendor/TempSetupDiCompileFix/registration.php`

[code]

[2016-06-26 16:45] SolPin commented on #5244
Try and error found it:
composer remove magento/data-migration-tool

[2016-06-26 16:58] boldhedgehog commented on #5131
@ignaciomella This won't help with Composer dependencies.

[2016-06-26 17:12] develpr commented on #5133
Is an issue like this something likely to be fixed soon, with a RC type release for 2.1? It seems critical for a multi-currency store.

[2016-06-26 19:10] sheldonli999 opened #5269 "2.1 getDefaultShippingAddress returns non-complete address fields"
## Steps to reproduce
1. Install Magento 2.1
2. call webapi: /rest/V1/customers/me/shippingAddress
3. ...
## Expected result
1. complete address object
2. ...
## Actual result
1. only region object is returned
2. no city, street, etc are returned.
3. ...

[2016-06-26 19:35] RG-1 opened #5270 "Image size for Product Watermarks [Magento 2.1.0]"
## Steps to reproduce
1. Magento 2.1.0
2. Go to Content > Design: Configuration
3. Edit any store view
4. Go to "Product Image Watermarks" tab
5. Try to enter "Image Size" (e.g. 200x300)
## Expected result
1. Field allows to enter digits and "x" as in the example.
## Actual result
1. Field allows to enter only digits.

![watermark](https://cloud.githubusercontent.com/assets/17853402/16364305/00427

[2016-06-26 20:05] mreichh commented on #5236
same for me. Also followed http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html, step 4.

Any idea why this issue occurs?

[2016-06-26 20:53] p3mbo commented on #3662
@kandy - Thanks for re-opening this. I've just re-tested it with the newly released Magento 2.1 and it appears to have been resolved now; as have a lot of my issues that I have encountered around using repositories.

[2016-06-26 20:53] #3662 closed, assigned to kandy

[2016-06-26 21:30] lussari commented on #4889
Same error here:
1. Install EasyPHP-Devserver-16.1.1-setup.exe from http://www.easyphp.org/.
2. Follow the instructions on https://blog.amasty.com/how-to-install-magento-2-php7-localhost/ ( Magento-CE-2.1.0_sample_data-2016-06-23-02-32-34.zip )
3. Start the setup process.

[code]

[2016-06-26 22:47] mwhahaha commented on #5131
Changing the app/bootstrap.php works around not being able to run it. After than you can use the magento setup:install to install and it'll just work.  That being said, it really should be update to be 7.0.2-7.0.4,7.0.6.  Considering a patched version of 7.0.4 is provided with Xenial, it should not be excluded by magento.  Also in terms of long term supportability, requiring a PPA may not be ideal

[2016-06-26 22:50] benmarks commented on #5239
Thanks @24198 & @chregu.

@astorm You (and others) should be informed that we are discussing the implications raised in this thread. These discussions are internal at the moment, but expect both detail and action from us in the very near future. **I am curious to know if the new Liip package solves the problems for you.**

[2016-06-26 23:07] nagrgk commented on #5094
this is non-sence answer. Who will try without merchant id and access key ?

FYI, I have already entered these information. Looks like some issue with your implementation. Please look into this asap. I have raised support ticket and they waiting for some tech support from 2 weeks which is not good support enterprise purchase.

[2016-06-26 23:09] nagrgk commented on #5094
You didnt know how to answer or dont know answer, thats why closed issue? Can you please reopen? Its very critical issue and need to be resolved asap.

[2016-06-26 23:12] zhiyicai opened #5271 "Unable to upgrade from 2.0.6 to 2.1.0 via command line"
## Steps to reproduce

composer require magento/product-community-edition 2.1.0 --no-update
composer update
## Actual result

<img width="1150" alt="2016-06-27 01 11 17" src="https://cloud.githubusercontent.com/assets/13891311/16365568/3a49f5b8-3c04-11e6-8d74-03b3366a9627.png">

  Problem 1
    - The requested package magento/product-community-edition could not be found in any version, there may b

[2016-06-27 03:13] 4DallasC commented on #1934
I've got this error after upgrading to Magento 2.1.0 from 2.0.7. There seems to be something left in the session that causing the problem. I launched a private window and logged in again - it went away.

[2016-06-27 03:19] thdoan opened #5272 "'Flush Static Files Cache' wipes out theme"
## Steps to reproduce
1. Install Magento CE 2.0.7.
2. Load Luma theme, e.g.:
   ![2016-06-27_111135](https://cloud.githubusercontent.com/assets/4110567/16367685/a7f864ce-3c58-11e6-9c12-0feee8d5f07d.png)
3. Go to Admin / System / Cache Management and click 'Flush Static Files Cache':
   ![2016-06-27_111148](https://cloud.githubusercontent.com/assets/4110567/16367704/ba26238e-3c58-11e6-8268-767d6dc1

[2016-06-27 03:25] phuc128t commented on #5216
Sorry, this is not a bug. We need to turn "Used in Product Listing" on to show swatch attributes on listing page.

[2016-06-27 03:25] #5216 closed, assigned to nobody

[2016-06-27 04:33] medinadato commented on #5223
I'm getting the same error. Has anyone  fixed it?
![screen shot 2016-06-27 at 2 34 37 pm](https://cloud.githubusercontent.com/assets/922809/16368675/29d8fdf8-3c74-11e6-8b7d-499a0bc66bea.png)

[2016-06-27 05:46] kvSanthosh commented on #4010
I have the same issue in 2.0.7, this is found when we enable Persistent Shopping Cart, if we have some product in our cart when we re login the mini cart will show 0 items and when we add some product the cart will show the existing products and newly added one together.

[2016-06-27 06:13] kandrejevs commented on #5232
Same result when upgrading via composer. removing magento/data-migration-tool from composer.json allows updating magento to 2.1, but does not allow to install data-migration-tool afterwards.

[2016-06-27 06:27] redelschaap commented on #5229
@klict is on vacation, I am his colleague.

A strange detail is that after using the rollback button and restoring a back up of 2.0.7 (both files and database), Magento kept saying it couldn't load a couple of (2.0.1) classes. `Magento\Framework\App\Response\HeaderManager` was one of them. We had to restore a snapshot of our server to get Magento running again.

[2016-06-27 06:41] andidhouse opened #5273 "Magento 2.1: Remove theme error "Unable to load theme by specified key: '5'""
## Steps to reproduce
1. Install Magento 2.1 by download
2. Install custom theme by uploading it in app/design/frontend folder
3. update magento, clear all caches, compile, deploy etc.
4. Assign theme in backend
5. Remove theme by deleting the folder again and deleting theme entry in database table "theme"
## Expected result
1. Be able to switch back to normal magento theme in backend and frontend

[2016-06-27 06:51] mekiran16 commented on #5215
i have used Magento 2 default luma theme, i created new product with one custom option , And this product in which i assign 4 to 5 related products, then after i open this product in front end , then after i have checked custom option of this product, then after custom price value is added with original product as well as added of related product. And also you have to see above link, please checke

[2016-06-27 06:52] dmcmillin opened #5274 "/lib/internal/Magento/Framework/View/DesignExceptions.php - preg_match issue."
## Steps to reproduce
1. Install Magento from `2.0.7` branch.
2. run migration
3. system states it from there on out.
## Expected result
1. site should run fine.
2. ...
## Actual result

Warning: preg_match(): Delimiter must not be alphanumeric or backslash in /lib/internal/Magento/Framework/View/DesignExceptions.php on line 70
#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2,

[2016-06-27 07:00] aoldoni commented on #5088
Hi,

Just a note, my test was using a single website.
Are you using multiple websites setup in Magento?

Thanks.

[2016-06-27 07:03] 24198 commented on #5239
@benmarks new Liip package works like a charm! Thank you @chregu for updating the package, it works flawlessly!

[2016-06-27 07:50] zhiyicai opened #5275 "ERROR - Magento Marketplace SSL connect error"
## Steps to reproduce

Magento Marketplace
## Actual result

Magento Marketplace SSL connect error
![error](https://cloud.githubusercontent.com/assets/13891311/16372402/9edd1814-3c4c-11e6-861d-551adc6d961f.PNG)

[2016-06-27 07:53] mhauri commented on #4449
Having the same issue after upgrading from 2.0.7 to 2.1.0, any news?

[2016-06-27 07:57] attheCube commented on #4449
Same Error after Upgrade from CE 2.0.7 to CE 2.1.0 Admin area. (Problem in Google Chrome 51; OK in FF 47)
All pages where grids are loaded via Ajax seem to be affected.

[2016-06-27 08:02] juliansthl commented on #4737
Hi,

sorry for my late reply.
The issue was that email-inline.less was loading less files from our theme's source and the Emogrifier tool was having problems with a few style declarations.

Thanks,
Julian

[2016-06-27 08:06] Tjitse-E commented on #4321
Same issue here on 2.0.7

[2016-06-27 08:10] wkaminsk opened #5276 "Grouped product media gallery in collection"
### Preconditions
Magento 2.0.7 via composer

## Steps to reproduce
1. Install Magento 2.0.7 via composer
2. Have two products in catalog - one simple and one grouped product
3. Add more than two images for each product
4. Prepare product collection (PC1) where only grouped product is fetched from catalog
5. Prepare second product collection (PC2) where all products are fetched from catalog
## Exp

[2016-06-27 08:11] tkn98 commented on #4359
It would be tremendously great in our eyes if we could see some traction here.

[2016-06-27 08:31] antboiko commented on #5270
Hi @RG-1 , thanks for reporting. We've created internal ticket MAGETWO-54779 to fix this issue.

Best,
Anton.

[2016-06-27 08:38] #2268 closed

[2016-06-27 08:41] antboiko commented on #4881
Hi @RG-1 , sorry for the delayed response. I've created internal ticket MAGETWO-54780 to track this issue on our side.

Thanks,
Anton.

[2016-06-27 08:45] Aquarvin opened #5278 "Translation does not work from js ($.mage.__())"
I have Magento 2.1.0
It has custom theme app/design/frontend/SR/lumartl
it has own translation file app/design/frontend/SR/lumartl/i18n/he_IL.csv
`"Submit", "שלח"`
`"Shop All", "לכל המוצרים בקטגוריה"`
Translation works good on template files (phtml), forexample in
app/design/frontend/SR/lumartl/Magento_Customer/templates/form/forgotpassword.phtml
`<?php /* @escapeNotVerified */ echo __('Submit') ?

[2016-06-27 08:57] #3127 closed, assigned to duhon

[2016-06-27 09:04] dcabrejas opened #5279 "State/Province field doesn't show as required on the add new address page."
Steps to reproduce
1. Install Magento 2  ee/ce through composer.
2. Set the default Locale as English (United Kingdom) in the backend at Stores > Setting Configuration > General > General > Locale Options  > Locale.
3. Set State as required for the United Kingdom in the backend at Stores > Setting Configuration > General > General > Country Options > State Options > State is Required for.
4. Creat

[2016-06-27 09:08] PascalBrouwers commented on #4170
It seems localStorage is the issue here. Magento is not invalidating the localStorage when I have the same session for the other store.

[2016-06-27 09:11] PascalBrouwers commented on #3625
Can't the localStorage be updated regularly by polling the server? Would solve all the problems I think.

[2016-06-27 09:13] mhabou commented on #5088
@aoldoni

i'm using a single website

[2016-06-27 09:51] katesuykovskaya commented on #5080
@orlangur yes, I used plugin to subscribe on event "user after delete" since "admin_user_delete_after" event is not dispatched.
However if this event is skipped on some purpose, I would like to know the reason why

[2016-06-27 09:52] mcspronko commented on #4921
Hi @asemenenko, @pboisvert

Do you have any updates regarding this issue?

Thanks,
Max

[2016-06-27 09:54] antboiko commented on #5279
Hi @dcabrejasazagra , thanks for reporting this issue. I've created internal ticket MAGETWO-54785.

Thanks,
Anton.

[2016-06-27 09:56] aoldoni commented on #5088
I was able to reproduce the problem with multiple Websites configured, due to the problem reported in https://github.com/magento/magento2/issues/1002

[2016-06-27 10:03] MidnightDesign opened #5281 "Associating a simple product with a configurable product"
What is the correct way to associate an existing simple product with an existing configurable product?

I've been struggling with this for a couple of weeks now. I _somehow_ got it to work im 2.0 using the API classes in `Magento\ConfigurableProduct\Api`, but that's broken in 2.1. The added products don't show up in the configurable's admin page.

I found some blog posts and Stack Overflow questio

[2016-06-27 10:08] mhabou commented on #5088
i'm using the default sample data

[2016-06-27 10:09] andimov commented on #4703
@SamTay
Thank you.
If you think that this is a bug, please provide description according to the template

[2016-06-27 10:20] veloraven commented on #5155
@davidverholen develop version - is Ok.
Please format this issue according to the template: with steps to reproduce, actual result and expected result.

[2016-06-27 10:22] sourabh-ranosys commented on #3148
@chicgeek What was your fix? We are facing the same issue. Sometimes its quite frequent and we are facing it in a row for 8-9 orders and sometimes it just works fine.

[2016-06-27 10:27] fooman commented on #5239
Possibly related issue https://github.com/magento/magento2/issues/5275

[2016-06-27 10:35] davidverholen commented on #5155
There is nothing to reproduce. It's just an error in the code.
It can't be assumed that the indexer Object in the highlighted positions can be converted to string.

[2016-06-27 10:35] andimov commented on #5229
@PierAlex
Check permissions http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html

[2016-06-27 10:39] chicgeek commented on #3148
@skmomemo As per my first post, we reduced the delay from `2000` to `500`. I believe we created a patch for this work.

[2016-06-27 10:39] andimov commented on #5229
@redelschaap
Thank you for reporting.
Have you tried to upgrade to 2.1 throught command line?

[2016-06-27 10:48] mcspronko opened #5282 "Unable to add more than 1 product to a cart from Wishlist"
## Steps to reproduce
1. Create an account on frontend
2. Navigate to any product
3. Click "Add to Wishlist" button
4. Go to "My wishlist" page from customer account.
5. Update QTY of a product to 5
6. Click add to cart / Try same with "Add all items to cart" button.
7. Observer the result.
## Expected result
1. 5 Products are added to a shopping cart
## Actual result
1. 1 Product is added.
## Mag

[2016-06-27 10:56] redelschaap commented on #5229
@andimov No, haven't tried that yet. Do you have the commands we need to use?

[2016-06-27 10:59] shiftedreality commented on #2561
Closed

[2016-06-27 10:59] #2561 closed, assigned to nobody

[2016-06-27 11:08] salgua commented on #5234
Hi,
same problem here.

[2016-06-27 11:09] antboiko commented on #5281
Hi @MidnightDesign , please provide detailed steps to reproduce the issue.

Thanks,
Anton.

[2016-06-27 11:10] PushEngineering opened #5283 "UK Catalog, Goods excluding VAT - rounding issues on front end display"
On M2 7.0.7

We are storing catalog values without tax. We want the front end display to show £9.99 inc tax - as the product price.

I enter the prices ex-VAT in the backend, and have front-end display price+tax.

What value do i have to enter to get a price of £9.99 (front end)?
Answer: £9.99/1.2 (VAT @ 20%) = £8.325

So i have to put £8.325 into the back end so that:

£8.325*1.2 = £9.99.

OK - s

[2016-06-27 11:12] NadiyaS commented on #5101
Hi @hostep ,
thank you for your report and your PR. Internal ticket MAGETWO-54786 was created to process it.

[2016-06-27 11:20] andimov commented on #5268
@andidhouse
Thank you for reporting this issue!
Please restart varnish, then login in incognito mode or after hard reset for browser cache and try again.

[2016-06-27 11:22] andidhouse commented on #5268
Restarted Varnish, Redis and all other services of course and also deleted all browser caching and data.
Same problem remains.

[2016-06-27 11:28] MidnightDesign commented on #5281
I guess this is more of a documentation issue/question. How is this _supposed_ to work? The code that worked for me in 2.0 is very convoluted and so it's not easy to break it down to a simple reproducable thing here.

Basically, I'm using a combination of `Magento\ConfigurableProduct\Api\OptionRepositoryInterface` and `Magento\ConfigurableProduct\Api\LinkManagementInterface#addChild()`. Is this ev

[2016-06-27 11:34] developer-lindner commented on #5229
I've upgraded through CLI.
@redelschaap composer update

[2016-06-27 11:40] valibus commented on #2564
+1

[2016-06-27 11:52] bh-ref commented on #2552
As far as I can see it's fixed in Magento 2.1, correct?

[2016-06-27 11:58] bh-ref commented on #3545
As far as I can see it's fixed in Magento 2.1, correct?

[2016-06-27 12:08] mhabou commented on #5282
No problem in Magento ver. 2.1.0-rc3

Did you click on "update wish list" button ?

![wish](https://cloud.githubusercontent.com/assets/13301885/16379218/c42c6ac6-3c5f-11e6-9e58-22d83fed4d91.png)

[2016-06-27 12:11] piatrouski commented on #5281
@antboiko @MidnightDesign https://github.com/magento/magento2/issues/5243

[2016-06-27 12:12] mcspronko commented on #5282
Hi @Dayssam

When you hover over the product, popup will appear with QTY, Add To Cart button.
From this pop up user is able to change QTY and immediately click "Add To Cart" button.

Hope it helps.

[2016-06-27 12:15] andimov commented on #5229
@redelschaap
Here you can find entire info for [upgrading throught CLI](http://devdocs.magento.com/guides/v2.0/comp-mgr/cli/cli-upgrade.html).
Commands list you will find in section **Upgrade using the command line**

[2016-06-27 12:16] MidnightDesign commented on #5281
@piatrouski Yes, your issue might be connected to this. But here I'm asking in general how configurable products are supposed to work.

[2016-06-27 12:29] andimov commented on #5268
@andidhouse
Thank you for fast response!
Please, check your [permission sets](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)
How long the query is executed?(maybe it doesn't pass time limit)
What is written in the errors logs?

[2016-06-27 12:33] antboiko commented on #4418
I'm closing this issue due to no response. Feel free to reopen if you have an update.

[2016-06-27 12:33] #4418 closed, assigned to nobody

[2016-06-27 12:43] PascalBrouwers opened #5284 "Installing magento 2 with composer --dev gives error about Stopwatch"
## Steps to reproduce
1. Install Magento using composer install --dev.
2. run bin/magento (with executable permission)
## Expected result
1. List of commands from bin/magento with no error.
## Actual result
1. Error message appears:
   We're sorry, an error occurred. Try clearing the cache and code generation directories. By default, they are: var/cache, var/di, var/generation, and var/page_cache.

[2016-06-27 12:58] mhabou commented on #5282
@mcspronko

I tested it also , & it works for me  in Magento ver. 2.1.0-rc3

[2016-06-27 12:58] ktruehl commented on #4968
@palamar
Version 2.0.7.

[2016-06-27 13:01] ktruehl commented on #5073
@andimov
The version is 2.0.7. I gave a description of where to find the relevant code lines and how and why the problem occurs. That should largely suffice. It's clear that if you cut out the country part from the locale `de_CH` you're left with `de`, which will default to `de_DE`. Germany and the swiss-speaking part of Switzerland have different number formats.

[2016-06-27 13:04] kanduvisla opened #5285 "Error: "Area code is already set" after upgrading from 2.0.7 to 2.1.0"
I have a Magento 2.0.7 installation, and I updated it by bumping the version number in my composer.json file from 2.0.7 to 2.1.0. Composer update went fine, no errors there, and all my vendor modules get updated.

However, when I try to execute `bin/magento setup:upgrade`, I get the error:

[code]

Anyone know what might be causing this issue?

I already deleted var/generated, var/di, var/cache an

[2016-06-27 13:05] mhabou commented on #5284
Did you clear the cache and generation directories ???

`rm -rf var/cache/* var/di/* var/generation/* var/page_cache/*`

[2016-06-27 13:09] andimov commented on #5285
@kanduvisla
It may be caused by the cache. In this case try to clean "./var" folder and browser cache and re-install Magento.

If the problem still exists could you please provide description according to the template?

[2016-06-27 13:17] kanduvisla commented on #5285
I found it. The problem was my own custom module. Shame on me...

I accidentally set the state in the `__construct()`-method of a CLI command:

[code]

This causes `setup:upgrade` to throw the exception. I solved it by setting the state in the `execute()`-method instead:

[code]

I'll just leave this here if anyone else encounters the same problem.

[2016-06-27 13:17] #5285 closed, assigned to nobody

[2016-06-27 13:21] andimov commented on #5285
@kanduvisla
Thank you for solution!

[2016-06-27 13:30] tanberry commented on #5265
@refaelgold , thanks so much, we will correct this in the docs!

[2016-06-27 13:37] kilis opened #5286 "FPC issue on CMS pages"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Add CMS block
3. Turn on FPC
4. Write observer that redirects page this one http://pastebin.com/y50r41QR
5. Clear all cache
6. Open page 2 times
## Expected result
1. Open first time page, then it redirects
2. Open second time page, then it redirects again
## Actual result
1. Open first time page, then it redirects
2. Open second time

[2016-06-27 13:41] springimport commented on #5198
Yes, I use these parameters in query, but "sortOrders" doesn't work.

[2016-06-27 13:51] PascalBrouwers commented on #5284
nevermind, a 3rd party module was using Stopwatch in a Console command.

[2016-06-27 13:51] #5284 closed, assigned to nobody

[2016-06-27 14:02] alena-marchenko commented on #4785
Hi @commcad

We've created MAGETWO-54787 internal ticket regarding this issue.
Thank you.

[2016-06-27 14:41] andimov commented on #4790
@grasdaggel we are closing issue since as non-responsive.
Please feel free to reopen if it's needed.

[2016-06-27 14:41] #4790 closed, assigned to nobody

[2016-06-27 14:55] alex-koepke commented on #5167
Hi @MomotenkoNatalia,
Thanks for putting this issue in your queue! Please, let me know if you need more information.
Cheers,
Alex

[2016-06-27 14:58] kanduvisla opened #5287 "2.1 : Custom attributes for categories are not shown (or changed?)"
I have a Magento 2.0.7 site that has custom attributes for categories. I did this 'the Magento 1'-way, so I created new EAV-attributes and added them to a (newly created) attribute group for the catalog_category entity type.

This worked well for 2.0.7: There was an extra tab created and my new attributes were shown there.

However, in Magento 2.1, it seems that the category layout has changed fro

[2016-06-27 15:04] andimov commented on #4923
@Vinai
Thank you for reporting this issue.
As far as I understand this issue is not actual and I can close it.
Please feel free to reopen if it's needed.

[2016-06-27 15:04] #4923 closed, assigned to nobody

[2016-06-27 15:06] jibrandlr commented on #5244
Tried to uninstall data-migration-tool but got this error:

[2016-06-27 15:09] andimov commented on #5271
@zhiyicai
Thank you for reporting this issue!
Please, check you composer.json for this section:
`"repositories": [
        {
            "type": "composer",
            "url": "https://repo.magento.com/"
        }
    ],
`

[2016-06-27 15:37] bh-ref commented on #4312
Thank you for fixing the problems 2) and 3).

I think, problem 1) still exists: I cannot use mass update with multiselect attributes.

[2016-06-27 16:24] abdel1220 opened #5288 "Design configuration (2.1.0) does not save"
Hello,
thank you for the effort you are making.
i have issue in Content -> Desing -> Configuration in 2.1.0 version.
## Steps to reproduce
1. Browse Content -> Design -> Configuration.
2. Click Edit Global.
3. Change any value and then Save Configuration.
## Expected result
1. Save and refresh the page
## Actual result
1.  dose not save and show error:
   Cannot read contents from file "path/to/ma

[2016-06-27 16:28] andimov commented on #5234
@rbostan
Please check that you used composer for installing prev version.
The easiest way to tell is to see whether or not all Magento components are under app/code; if so, you cloned GitHub and your solutioin [here ](http://magento.stackexchange.com/questions/116173/magento2-upgrade-from-2-0-4-to-2-0-6). If Magento components are under vendor, you used Composer and you can try fix this issue thro

[2016-06-27 16:35] m0zziter commented on #4755
2.0.7 but I have seen this behavior on all 2.0.x versions of Magento.

[2016-06-27 16:38] mcspronko commented on #1146
Hi @piotrekkaminski

Do you have any update about this bug?

Thanks,
Max

[2016-06-27 16:44] magnetic5355 opened #5289 "Shipping Country Selector Not Sending Correct Country ID on Change to Shipping Methods"
## Steps to reproduce
1. Install Magento from latest `develop` branch
2. Enable onepage checkout
3. Change shipping country (not signed in)
## Expected result
1. country_id is set correctly and passed to shipping methods example : "CA" when selecting Canada
## Actual result
1. country_id is always sent as US regardless of selection

Request Body on estimate-shipping-methods
{"address":{"region_id"

[2016-06-27 16:45] guilhermehbueno opened #5290 "Where is or how can I generate the app/etc/config.php file?"
Hi people,

I'm starting my first steps in Magento 2. I read in a lot of tutorials and official documentation references to file **app/etc/config.php**. But I didn't found it. Where is this file?

I'm simply trying to create a custom module and enable this in Magento 2.

[2016-06-27 17:15] andimov commented on #5288
@akacemy
thank you for reporting.
I can't reproduce on supported web servers. Looks like this is a IIS 7.5 issue;
Please use web server according [System Requirements](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html)
I'm closing issue since system requirements not pass.
Please feel free to reopen if it's needed.

[2016-06-27 17:15] #5288 closed, assigned to andimov

[2016-06-27 17:23] andimov commented on #5222
@antonlazarchenko
Thank you for more detailed description.
Please specify MySQL engine and version. (You can also check [System Requirements](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html))

[2016-06-27 17:49] ghost commented on #5275
What is your environment? OS and version? Web server and version, etc? Thanks

[2016-06-27 17:55] zhiyicai commented on #5275
Linux,  Centos 6 :  Nignx + Mysql + Php7 .
Thanks

[2016-06-27 18:22] zhiyicai commented on #5271
I have checked them,existence the code,but is still not upgrade.

[2016-06-27 18:24] zhiyicai commented on #5271
#5275

[2016-06-27 18:25] astorm commented on #4159
Thank you @tanya-soroka, confirmed fix, and much appreciated!

[2016-06-27 18:34] zhiyicai commented on #5271
Possibly related issue #5275

[2016-06-27 18:45] toddwolaver commented on #5290
Since this is not a bug, you would probably be better served by posting a question on https://community.magento.com/ or http://magento.stackexchange.com/

Ensure you have completed the installation: http://devdocs.magento.com/guides/v2.0/install-gde/bk-install-guide.html

Once you have a functional install, you may enable / disable modules via the command line utility (magento module:enable):
http

[2016-06-27 19:24] elieobeid7 opened #5292 "configuration for DB connection is absent"
Full details here

http://magento.stackexchange.com/questions/123015/configuration-for-db-connection-is-absent

Any help is appreciated

[2016-06-27 20:24] afavata commented on #4312
I do confirm... 2.1.0 has not resolved the issue. Mass action from product grid does not update multiselect attribute

Please reopen this ticket

[2016-06-27 21:20] Ctucker9233 commented on #3865
+1 Experiencing the same issue in version 2.0.7....you would think they'd have built in a way to send a test newsletter to yourself to make sure it really works.

[2016-06-27 22:38] lucasalfaro commented on #5229
Hi, I did upgrade through the composer. I also get

---

Module 'Magento_Catalog':
Upgrading data..

  [Magento\Framework\Exception\LocalizedException]
  Wrong attribute set ID

setup:upgrade [--keep-generated] [--magento-init-params="..."]

---

Not sure how to proceed.

[2016-06-27 22:45] ghost commented on #5275
Try this: `curl --version`. What version do you have?

[2016-06-27 22:58] zhiyicai commented on #5275
curl 7.19.7 (x86_64-redhat-linux-gnu) libcurl/7.19.7 NSS/3.21 Basic ECC zlib/1.2.3 libidn/1.18 libssh2/1.4.2
Protocols: tftp ftp telnet dict ldap ldaps http file https ftps scp sftp
Features: GSS-Negotiate IDN IPv6 Largefile NTLM SSL libz

[2016-06-27 23:04] Krapulat commented on #2630
@KrystynaKabannyk I've upgraded to 2.1.0 and some strings in the checkout page can't be translated.

[2016-06-27 23:12] ghost commented on #5275
That could be the issue. I just upgraded to CentOS 6.8 and the error went away. I got the idea from this [TLS bulletin for PayPal](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements_tls1-2.html). Can you try it?

[2016-06-27 23:14] Krapulat commented on #5223
Editing composer.json and manually modify to

`"magento/product-community-edition": "2.1.0",`

and then 'composer update' it seems to work.

Is anything wrong to do this @andimov ?

[2016-06-27 23:28] Ctucker9233 commented on #5273
I experienced this issue in version 2.0.7. I ended up having to adjust database value. So +1 for a permanent fix.

[2016-06-27 23:34] Ctucker9233 commented on #5272
Is this a custom theme or the default luma theme?

[2016-06-28 00:46] bch80 commented on #5174
@andimov Please double check the issue now - still needs an update or is it good to go now?

[2016-06-28 01:22] thdoan commented on #5272
Default Luma theme, developer mode, all caches disabled.

[2016-06-28 02:21] thdoan opened #5293 "Luma theme CSS results in skewed logo in mobile"
## Steps to reproduce
1. Install Magento 2.0.7 (or later).
2. Choose Luma theme.
3. Use a logo where the width and height are the same.
4. View in mobile (or resize window to force mobile view).
## Expected result
1. The logo should be resized proportionately to fit inside the menu bar in mobile:

![screenshot_20160628102124](https://cloud.githubusercontent.com/assets/4110567/16401871/8a96595a-3d1

[2016-06-28 02:25] astorm commented on #5239
@benmarks I grabbed the latest builds of Liip and they were able to download repo.magento.com over HTTPS without the aforementioned error.  Thank you for working with the upstream providers on this and restoring everyone's "install Magento" buttons :)

[2016-06-28 02:27] sheldonli999 opened #5294 "2.1: Can't save a new product with a new product image"
## Steps to reproduce
1. Install Magento 2.1
2. Click catalog
3. add a new product
4. fill in the fields for product
5. add an image
## Expected result
1. The product is saved
2. ...
## Actual result
1. An error occurred: Required parameter 'theme_dir' was not passed
2. Adding a new product without the image is ok
3. ...

[2016-06-28 02:28] sheldonli999 commented on #5294
![screen shot 2016-06-27 at 7 30 23 pm](https://cloud.githubusercontent.com/assets/18491705/16401927/55c42130-3c9d-11e6-89a4-184460fe17b0.png)

[2016-06-28 02:29] thdoan commented on #5293
To fix this, I added `width: auto;` to the following block in styles-m.css:

[code]

[2016-06-28 03:25] ghost opened #5295 "2.1 - can't save changes to CMS pages"
## Steps to reproduce
1. Update Magento via composer require product/magento-community-edition 2.1.0 --no-update / composer update / bin/magento setup:upgrade
2. Select a page to edit under Content / Pages
3. Make changes to page content, attempt to Save  changes
## Expected result
1. Changes are saved.
## Actual result
1. Choosing either SAVE or SAVE and CONTINUE produces a non-save. Just get zer

[2016-06-28 04:00] thdoan opened #5296 "Luma theme: mobile not playing well with carousels"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Change to Luma theme.
3. Add a carousel to `/joust-duffle-bag.html` page for the upsell block at the bottom (in my case, I tried [lightSlider](https://github.com/sachinchoolur/lightslider) and [Owl Carousel 2](http://www.owlcarousel.owlgraphic.com/)).
4. Resize the window until it reaches mobile breakpoint.
## Expected result
1. Th

[2016-06-28 04:51] thangnhpk opened #5297 "Module Magento_Catalog"
a block in layout catalog_product_new have not name

[2016-06-28 04:56] thangnhpk opened #5298 "Module Magento_Catalog: Block in layout have not name"
block  <block class="Magento\Framework\View\Element\Template" template="Magento_Catalog::catalog/wysiwyg/js.phtml" /> in layout catalog_product_new.xml have not name

[2016-06-28 05:00] #5297 closed, assigned to nobody

[2016-06-28 06:39] thdoan opened #5299 "Unescaped HTML in meta description tag"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to `/joust-duffle-bag.html`.
3. View source.
## Expected result
1. The meta description tag should not contain HTML.
## Actual result
1. The meta description tag contains unescaped HTML, which results in a broken tag:

![image](https://cloud.githubusercontent.com/assets/4110567/16406000/211e583c-3d3e-11e6-91d4-29e099827312.png)

[2016-06-28 06:50] kanduvisla opened #5300 "2.1 : category_form.xml general fieldset has no sortOrder"
`catalog/view/adminhtml/ui_component/category_form.xml`: the fieldset `general` has no sortOrder, which causes it to always render below any custom modifications to the layout done by other modules. The following example has a `sortOrder` of 50:

![screen shot 2016-06-28 at 08 47 52](https://cloud.githubusercontent.com/assets/346681/16406239/532cb2b4-3d0d-11e6-9fd2-9e3dae256776.png)

To fix this,

[2016-06-28 06:58] bondimedical3 opened #5301 "2.1 Can't remove added product to cart message"
After placing an order I was unable to remove the "You added Test Product to your shopping cart." message. The message also appeared on the order success page and even reappears when I close the browser and open the site again - see screenshot
![magento 2](https://cloud.githubusercontent.com/assets/10808588/16406411/6cda9246-3d51-11e6-8adb-a0b584af574d.png)

[2016-06-28 07:00] andidhouse opened #5302 "M2.1: Not scrollable picture on mobile / product page"
## Steps to reproduce
1. Install Magento 2.1 via download
2. install official sample data
3. Go to a product page
4. try to scroll down by hovering the picture
## Expected result
1. The site scrolls down also by touching the product picture
## Actual result
1. the product picture is not "scrollable" that means if you place your finger over the picture and try to scroll down nothing happens

![bild

[2016-06-28 07:02] kanduvisla commented on #5287
Got it, my IDE did not index all the files. I now found out about `vendor/magento/module-catalog/view/adminhtml/ui_component/category_form.xml` and figured out how my own module can hook into this to add my own groups and fields to the adminhtml.

For anyone else who stumbles upon this ticket: add look at `vendor/magento/module-catalog/view/adminhtml/ui_component/category_form.xml` and add a file

[2016-06-28 07:02] #5287 closed, assigned to nobody

[2016-06-28 07:06] kanduvisla commented on #5299
Is this still happening in M2.1? I had to create a temporary workaround by writing a plugin that wraps itself around `getData`:

[code]

I couldn't use `afterGetMetaDescription`, because it's not `getMetaDescription()` that is used, but `getData('meta_description')`.

On a sidenote: can anyone confirm that this still is broken in M2.1?

[2016-06-28 07:18] nmohanan opened #5303 "Custom Payment gateway not working in the Magento2 front end."
Hi,

I have tried to create new custom offline payment gateway like cash on delivery. it is coming in Magento2 admin backend, but in front-end it is not coming, any one knows any fixes please let me know,

Thanks

[2016-06-28 07:22] thdoan commented on #5296
I found out the root cause was the use of flex box for anything below 768px, so the fix was to disable the flex box ([source](http://magento.stackexchange.com/questions/105638/owl-carousel-magento-2-not-fully-responsive)).

[2016-06-28 07:22] #5296 closed, assigned to nobody

[2016-06-28 07:59] Pigau commented on #3572
Hello @slavvka, do you have more information about this ticket ?

[2016-06-28 07:59] rikterbeek opened #5304 "Deprecated \Magento\Payment\Model\Method\AbstractMethod"
Hi,

I see that the class AbstractMethod in Magento\Payment\Model\Method is going to be deprecated but it is used for all payment methods. This class is even used by native Magento core in  Magento\Payment\Model\Method\Cc. What class do you need to use instead ?

Regards,
Rik
Adyen

[2016-06-28 08:26] jsakars opened #5305 "Lot of translations not working"
## Steps to reproduce
1. Install Magento 2.0.7
2. Add Russian translation pack in `app/i18n/<vendor>/ru_ru/` which has all the files (`composer.json`, `language.xml`, `registration.php` and `ru_RU.csv`)
3. Configure several store views e.g. English and Russian and set corresponding locales for each.
## Expected result
1. Translations appear in all places
## Actual result
1. There are lot of places

[2016-06-28 08:27] mcspronko commented on #4389
Hi @pboisvert

Are there any deadlines for this issue?

Thanks,
Max

[2016-06-28 08:33] Marko-M commented on #1146
Luckily you can symlink your way around it, but yep, it's an issue.

[2016-06-28 08:58] mcspronko commented on #1146
Hi @Marko-M

Imagine every time marketing department will be asking developer to symlink generated sitemap.xml files :)

[2016-06-28 09:02] Marko-M commented on #1146
@mcspronko

Yep, an issue.

[2016-06-28 09:22] hgpit opened #5306 "Images imported via URL have crazy file paths"
## Steps to reproduce
1. Install Magento v2.1 EE.
2. Import product CSV using URLs for images (i.e.: **base_image**: "http://datastore.mydomain.local/imageserver/40354768_big.jpg").
## Expected result
1. File is stored in Magento file system as **[magento]/pub/media/catalog/product/4/0/40354768_big.jpg**.
## Actual result
1. File is stored in Magento file system as **[magento]/pub/media/catalog/pr

[2016-06-28 09:35] orlangur commented on #5304
Hi @rikterbeek, look at https://github.com/magento/magento2/blob/develop/app/code/Magento/Vault/Model/Method/Vault.php, for instance. You must not extend AbstractMethod class in your own payment method but just implement `Magento\Payment\Model\MethodInterface` interface.

Note that https://github.com/magento/magento2/blob/develop/app/code/Magento/Payment/Model/Method/Cc.php#L15 class is deprecated

[2016-06-28 09:54] ghost commented on #1865
I am having this issue again in Magento version 2.0.4. Adding product to cart is working fine. However it is not updating cart - specifically for configurable products.

[2016-06-28 10:24] orlangur commented on #5303
Hi @nmohanan, this GitHub is intended for bug reports, to find a solution for your issue it's better to fill a question at http://magento.stackexchange.com/

Also, it's hard to guess what went wrong with your code without the code itself. Try to spot the difference between your own method and another (working) one or provide a reproducible sample.

[2016-06-28 10:26] nmohanan commented on #5303
I have raised a question with code in magento.stackexchange.com

[2016-06-28 10:29] orlangur commented on #5303
Thanks, I see http://magento.stackexchange.com/questions/123102/magento-2-custom-payment-method-not-showing-in-front-end now, so, let's continue discussion there.

[2016-06-28 10:30] nmohanan commented on #5303
Yes Sure

[2016-06-28 11:29] Krapulat commented on #3754
Same problem in Magento 2.1.

[2016-06-28 11:50] Krapulat opened #5307 "Magento 2.1.0 some configuration information disappeared"
After upgrading to Magento 2.1.0, when I enter to Stores > Configuration > General > Design I only see this:

![screen shot 2016-06-28 at 13 37 52](https://cloud.githubusercontent.com/assets/4441564/16414236/d00dcfe2-3d36-11e6-947c-d39855686358.png)

All the other information has disappeared.

[2016-06-28 11:52] sintsov commented on #4767
Hello, a similar problem.
If i want filter product collection, create plugin for Layer (if use event the result will be the same).

[code]

Code LayerPlugin (filter product collection by type_id):

[code]

Then i view my product catalog if see 2 product (it's true), but count 9.
![image](https://cloud.githubusercontent.com/assets/7813708/16414123/8c42e3b2-3d3e-11e6-9a3f-32714d47be4d.png)

If i loo

[2016-06-28 11:54] sintsov commented on #4767
Magento ver. **2.0.7**

[code]

[2016-06-28 11:55] hostep commented on #5307
Duplicate of https://github.com/magento/magento2/issues/5240

@Krapulat: it has been moved to Content => Configuration

Please try to search for an issue first before creating a new one, this has been reported like 5 times already.

[2016-06-28 11:58] Krapulat commented on #5307
Ok, thanks. I close it.

[2016-06-28 11:58] #5307 closed, assigned to nobody

[2016-06-28 12:08] fchalet69 opened #5308 "Insert widget in block/page content - conditions missing"
## Steps to reproduce
1. Install Magento 2.0.7
2. Go to Content -> Pages or Blocks.
3. Edit a page or a block.
4. In the content (wysiwyg), insert widget with conditions (e.g Catalog Products List)
5. Add condition(s) in "Conditions" section
6. Insert the widget
## Expected result
1. Conditions are saved in the widget.
## Actual result
1. Conditions are not saved

[2016-06-28 12:24] gewaechshaus opened #5309 "Admin Login doesn't work after updating to 2.1.0"
Hey there,

after an update to v2.1.0 via composer and CL setup:upgrade/ setup:di:compile we aren't able to log in our admin area while frontend logins seems to work.

The error message is

[code]

We're saving sessions as files. I noticed that the DB got some entries in admin_user_session, all containing the wrong (localhost) IP (**fixed**). This is related to our  haproxy->varnish->nginx->php7.0

[2016-06-28 12:27] tarnagas commented on #3754
Same problem in Magento 2.0.7

[2016-06-28 12:36] cfcnn opened #5310 "Magento2.1.0 Configuration->Design can't select theme"
## Steps to reproduce
1. Magento2.1.0 was downloaded at  https://www.magentocommerce.com/download;
   2.Command-line installed successfully.
2. Select Store at the backend STORE -> Configuration -> General -> Design , there is only one Search Engine Robots , theme can't be selected.
## Actual result

![magento2 1 0](https://cloud.githubusercontent.com/assets/15027055/16414659/7803c268-3d6b-11e6-98

[2016-06-28 12:41] cfcnn commented on #2151
@eoghanobrien  I used your reCAPTCHA extension , it worked excellently in Magento 1.9, solved well with the problem of robot. Looking forward to your Magento 2 version.

[2016-06-28 12:45] katesuykovskaya opened #5311 "Admin: style issue for disabled checkbox in grid"
## Steps to reproduce
1. M 2.0.4 EE
2. in Admin panel create custom page with grid, or (in my case) - add new tab to admin/user/edit with grid
3. add column to grid with type "checkbox", and set "disabled_values" there to have disabled checkboxes
## Actual result
1. desktop - label is a little over the checkbox
   ![kate s users permissions system magento admin](https://cloud.githubusercontent.com

[2016-06-28 12:47] cfcnn commented on #2151
@piotrekkaminski  Thanks for the Magento 2 official agreement to solve the problem of the reCAPTCHA. It's great. Although next year is a little bit late for me.

[2016-06-28 12:48] ktruehl commented on #5073
Fine! It turns out, the `cleanLocale()` method is there for a reason. But that only means that Magento has a bigger problem than originally thought. Admittedly it will only touch a very small part of your customers. In any case, in case you're interested in further looking into this, here are the steps to reproduce the problem:
1. Install Magento 2.1 together with the demo data.
2. In the admin ba

[2016-06-28 12:57] choukalos commented on #622
@southerncomputer yes Smile's got some great Elasticsearch extensions for Magento.  Really happy to see they've started porting their M1 extension to M2.

[2016-06-28 12:59] nileshpatelifuturz opened #5312 "Authorizenet payment method can not going to success page"
I have try to place order using Authorizenet payment method (Test Mode) but every time I can not go to success page. No any error occur but all the script executed and after loader continue loading not going to success page and in the background order successfully placed. When I have go to success page using url it will showing Order successfully placed.

I have checked all the magento 2 versions

[2016-06-28 13:00] hostep commented on #5310
Duplicate of #5240

@cfcnn: it has been moved to Content => Configuration

Please try to search for an issue first before creating a new one, this has been reported like 6 times already.

[2016-06-28 13:00] thdoan commented on #3038
For those who cannot wait for @denisristic's [PR](https://github.com/magento/magento2/pull/4294) to be rolled into v2.2, then you can merge the two diffs below for a quick fix (based on v2.0.7).

File `.../vendor/magento/module-deploy/Model/Deployer.php`
[Deployer.php.diff.txt](https://github.com/magento/magento2/files/337019/Deployer.php.diff.txt)
[Deployer.php.txt](https://github.com/magento/mag

[2016-06-28 13:20] develpr commented on #5281
@MidnightDesign in 1.x you could create a product, then associated simple products to the configurable product by using the standard filter grid to filter / find simple products to associated. With M2 you need to first use the "generation" tool to create the simple products to associate, then you need to replace the auto-generated versions with the simple products you actually want. As I see it th

[2016-06-28 13:30] mhabou opened #5313 "[CE 2.1.0 rc3] - Cancel an order [configurable product]"
Salamo Alaykom Magento team,

**_NB :_** All the products are configurable

The test products :

**Product 1 :**

**Product 2 :**

- [ ] **_1st issue_ -- Steps to reproduce**
##
1. Add the 2 configurable products above to the cart [product 1 qty 2 product 2 qty 3]
2. Place the order
3. Invoice & ship partially the order
4. Cancel the order

Magento shows Cancel button after i canceled the order
Wh

[2016-06-28 13:38] stevewinni commented on #2984
I can see the patch has been applied in 2.1.0 but I am still seeing backend data that is not decrypted.

Example;

[code]

When echo out this;
$this->getConfigData('terminal_id')
Its encrypted;

When like this;
 \Magento\Framework\Encryption\Encryptor $crypt
$crypt->decrypt($this->getConfigData('terminal_id'));

Its decrypted and fine.

Any Answers?

[2016-06-28 13:38] alexgoodey opened #5314 "No UpgradeScheme.php update for module-sales for 2.1.0"
In the Magento 2.1.0 release there is an update to vendor/magento/module-sales/Setup/InstallSchema.php where the column base_grand_total is added to the sales_invoice_grid table. However there is no equivalent update to the file vendor/magento/module-sales/Setup/UpgradeSchema.php meaning that if you upgrade from a previous version (2.0.7 for example) the column is not added to the table resulting

[2016-06-28 13:46] rou9e commented on #4391
Got the same problem, any clue ?

[2016-06-28 13:49] cfcnn commented on #5310
@hostep Thanks, I got it.  But  Content => Configuration   no response after click, please see the picture.

![design configuration](https://cloud.githubusercontent.com/assets/15027055/16416444/db95f144-3d74-11e6-9a56-b79a88d8c61a.gif)

Under CONTENT , "Widgets" "Themes" "Schedule"  are normally working.
"Pages" "Blocks" "Configuration"   are keeping " loading", no upcoming response.

Magento2.1.0

[2016-06-28 13:58] bratati1989 commented on #2473
@sintsov , I faced same problem. But your solution works. Thanks a lot.

[2016-06-28 14:00] denisristic commented on #3038
@thdoan thanks for diff patch :)

In the latest version you can exclude theme by adding flag `--exclude-theme=THEME` (since that is what @devdesco-ceo asked)

Also, as for themes there are added include/exclude flags for languages (`--language` and `--exclude-language`) and for areas (`--area` and `--exclude-area`)

[2016-06-28 14:01] grasdaggel opened #5315 "LESS-Code doesnt appear in style-l.css - probably a bug?"
We are using Magento 2.0.6 on one of our Stages.

We are using a theme that uses Luma as parent.

In our theme folders we have

Within that folder we have:
- _extend.less
- _theme.less
- owl/_owl.less

_owl.less gets imported at _theme.less.

In _owl.less I change a specific line from "display: block" to "display: inline-flex". Now I do the following:

$ rm -rf pub/static/frontend/{NAME}/{namespac

[2016-06-28 14:15] cfcnn commented on #5310
@hostep Thanks a lot. It's solved after cleaning chrome cache.

[2016-06-28 14:15] #5310 closed, assigned to nobody

[2016-06-28 14:26] SidneyBilliet commented on #4376
@piotrekkaminski
[export.zip](https://github.com/magento/magento2/files/337222/export.zip)
just tested this in version 2.0.7 and still I get only 21 exported records of the 578 in total.

![2016-06-28_16h21_49](https://cloud.githubusercontent.com/assets/13572447/16419171/0fd3b202-3d4d-11e6-992b-6bc897b6951e.png)

[2016-06-28 14:30] realchriswells commented on #5239
Seems that there is still issues when running Magento 2 in MAMP Pro.

I've tried downloading the latest version in Brew, but for some reason my machine is still telling me that I've got OpenSSL 0.9.8.

MAMP Pro 4 apparently fixes this issue, but there doesn't seem to be a release date on this.

If anyone has a link to a guide for upgrading OpenSSL for MAMP then I would be very interested in readin

[2016-06-28 14:30] woei66 commented on #5267
as I rewrite my source code and this bug is not there. so, I closed this ticke.t

[2016-06-28 14:30] #5267 closed, assigned to ishakhsuvarov

[2016-06-28 14:31] hostep opened #5316 "[2.1.0] HTML minification problem with php tag with a comment and no space at the end"
## Steps to reproduce
1. Install Magento 2.1.0 using composer
2. Create a theme and a template file which contains this:

[code]
1. Turn on html minification in the backend
## Expected result
1. Page is rendered properly without errors
## Actual result
1. Error message appears: `Parse error: syntax error, unexpected '<'`.

The minified php/html file was turned into:

[code]
## Temporary solution

[2016-06-28 14:31] valibus commented on #4170
Could we have an update on this bug fix please ?

[2016-06-28 14:48] webartistse opened #5317 "Refund report does not show right date"
## Steps to reproduce
1. An order was created at 9th june.
2. A credit memo was created 17th june and refund has been made.
3. Accountant generates a report 27th june.
## Expected result
1. The refund in report should appear under 17th june.
## Actual result
1. The refund in report should appear under 9th june.

[2016-06-28 14:51] MidnightDesign commented on #5281
@develpr This can't be the only way right now, can it? If it is, then that's a _massive_ oversight.

Magento, what's the plan here? Is this even planned? @benmarks maybe?

[2016-06-28 15:03] Tristan-N commented on #4356
@Yogesh7989 Thanks! Your solution works great!

[2016-06-28 15:11] PierAlex commented on #5225
Installed the 2.1.0 version, not so easily :(, it is already present. You cannot delete your selection once it has been made.

[2016-06-28 15:26] mcspronko commented on #5282
Hi @Dayssam

Does it work for you when you hit "Update wish list" button or when you hit "Add to cart" button?

[2016-06-28 15:32] PierAlex commented on #5229
@andimov  No problems with permissions. it was a missing '@' before is_dir at line 914 of the file /vendor/composer/composer/src/Composer/Util/RemoteFilesystem.php

https://github.com/magento/magento2/issues/4359

@lucasalfaro  Wrong attribute set ID. It happens when the 'Default' Attribute set is renamed. If you rename back it in 'Default', the installation goes on.

[2016-06-28 15:33] mhabou commented on #5282
@mcspronko :  Both

[2016-06-28 15:40] lucasalfaro commented on #5229
Excellent, thanks for the answer. Could you please clarify? I didn´t touch the code, therefore I am assuming it is product attribute on the admin, is that correct?

[2016-06-28 15:48] PierAlex commented on #5229
Yes, in the admin, Stores -> Attribute set.

[2016-06-28 15:48] mcspronko commented on #4494
Hi @pboisvert and @asemenenko

Do you have any update regarding this issue?

Thanks,
Max

[2016-06-28 16:00] plentyhappy commented on #5301
I have a similar problem.  Current version is 2.0.7.  Whenever I add a product to cart the success message comes up and keeps showing anywhere I go in cart until going to one step checkout.  Also, if I add or remove to compare same thing happens...success message will not go away.

You added xxxx to your shopping cart.

You removed product xxxxx from the comparison list.

[2016-06-28 16:17] afavata commented on #5294
same behaviour....

Note also if a product is updated, having deleted its image, a second error is shown:
Cannot gather stats! Warning!stat(): stat failed for /var/www/xxxxxxxx/pub/media/catalog/product/w/o/productimmage1.jpg

Please give max priority as this does not allow to add or update products at all

Thanks indeed

[2016-06-28 16:28] BenGlassAtlas commented on #3890
I am having the same problem, any update on this Magento?

[2016-06-28 16:30] YasinUzn commented on #5249
I have same issue without image its working but when I try to this solution $product->save();

Throws an error:
Fatal error: Uncaught InvalidArgumentException: Required parameter 'theme_dir' was not passed in .../vendor/magento/framework/View/Design/Fallback/Rule/Simple.php:61

[2016-06-28 16:32] ghost opened #5319 "500 Response: "Unable to clear session lock record" during checkout when using Memcached for sessions"
Red Hat Enterprise Linux Server release 6.8 (Santiago)
php-common-7.0.8-1.el6.remi.x86_64
php-pecl-memcached-3.0.0-0.1.20160217git6ace07d.el6.remi.7.0.x86_64
memcached-1.4.27-1.el6.remi.x86_64
## Steps to reproduce using PHP 7.0.8 with Memcached 1.4.27 for Session Storage on RHEL 6.8 x64
1. Install Magento from `2.0`, `2.1` and `develop` CE branch.
2. Ensure PHP Memcached Session Lock Wait Minimum

[2016-06-28 16:41] 24198 commented on #5239
@realchriswells at the company I'm working are having the same issue. So today we've implemented a temporary solution, which doesn't seem to have any side effects as far as I'm aware off.

So basically you install a package from liip osx and add it to your `.bash_profile`, follow the instructions ont there page,[http://php-osx.liip.ch/](http://php-osx.liip.ch/) and you're good to go. This enables

[2016-06-28 16:59] chrone81 commented on #5247
Same result after upgrading from 2.0.4 to 2.1.0, Web Setup Wizard is missing.

[2016-06-28 16:59] robfico opened #5320 "Configuration admin screen error report after upgrading to 2.1 with sample data"
## Steps to reproduce
1. Upgrade from 2.0.6 to latest 2.1.0 version with sample data (using php 7.0.7)
2. Go to: Stores -> Configuration
## Expected result
1. Admin page appears
## Actual result
1. Error report (attached)
   [mag2_error_report.txt](https://github.com/magento/magento2/files/337579/mag2_error_report.txt)

I tried flushing cache, flushing OpCode cache, reindexing, etc... but no chang

[2016-06-28 17:28] RG-1 opened #5321 "Images added to sitemap are "404 Not Found" on Nginx [Magento 2.1.0]"
## Steps to reproduce
1. Magento 2.1.0 and Nginx with https://github.com/magento/magento2/blob/2.1.0/nginx.conf.sample
2. Go to Stores > Settings: Configuration > Catalog: XML Sitemap > Products Options
3. Set Add Images into Sitemap to "All"
4. Go to Marketing > SEO & Search: Site Map
5. Add and generate sitemap
## Expected result
1. URL of images shouldn't contain pub directory.

[code]
## Actua

[2016-06-28 17:30] acharrex opened #5322 "[2.1] Unable to get store URL from admin"
### Preconditions (*)
Magento 2.4-develop
### Steps to reproduce (*)
1. Install Magento  from `develop` branch.
2. Run the following code from the admin area (by example from a controller):

[code]

### Expected result (*)

[code]

### Actual result (*)

Magento returns an URL prefixed with the admin path:

[code]
## Note

The following code:

[code]

Works correctly:

[code]

This problem seems t

[2016-06-28 17:48] andidhouse commented on #1691
Yes exactly. The telephone number should be optional. Here in Germany there is no need for this at all. Can someone point out how we make this field not a required field or how we can even delete it?

[2016-06-28 18:11] mauromm commented on #4741
Hi, @antonlazarchenko  I am getting the same error after updated to magento 2.1.0. I made my module based on the same example from Inchoo.

If you found the solution, please reply here :+1:

[2016-06-28 18:42] kishanpatadia opened #5323 "Object DOMDocument should be created"
After upgrading to Magento 2.1 CE from 2.0.7, when I click on product in backend from grid, I got dialog with: Attention Something went wrong.
Error says like following:

**Object DOMDocument should be created**

[2016-06-28 18:49] ChrisCarterIO commented on #2947
There are no extension to add this functionality either.  Please bring it back!

[2016-06-28 19:11] serzhik commented on #5033
Same issue on 2.0.2EE

[2016-06-28 19:38] developer-lindner commented on #5223
Any update here? Do i have to reinstall everything just because of an upgrade from 2.0.7 to 2.1.0?

[2016-06-28 19:39] hostep commented on #5321
Is not exactly the same issue, but might be related to: https://github.com/magento/magento2/issues/1146

[2016-06-28 20:05] mauromm opened #5324 "Custom payment capture not work after update from 2.0.7 to 2.1.0"
When I use a custom payment method, and I am capturing the payment in a custom model, I get the following error:

Debugging, I found:

In my model:

[code]

When I look into the table **sales_invoice_grid** , the column **base_grand_total** does not exist.

On my updated magento 2.1.0, looking into:
.../vendor/magento/module-sales/Setup/InstallSchema.php line 3219

[code]

However, I compared the

[2016-06-28 20:06] mauromm commented on #4741
@antonlazarchenko Finally, after a lot of debugging and comparing magento versions, I found the error.

Look at https://github.com/magento/magento2/issues/5324

[2016-06-28 20:47] EugeneVdovenko commented on #5247
Same result after upgrading from 2.0.7 to 2.1.0

[2016-06-28 20:56] Protazy21 commented on #5236
I've managed to fix editing products, here is what I've done

Class vendor/magento/module-configurable-product/Ui/DataProvider/Product/Form/Modifier/ConfigurablePrice.php

@@ -92,7 +92,7 @@ class ConfigurablePrice extends AbstractModifier
                             self::$advancedPricingButton => [
                                 'arguments' => [
                                     'data' => [

[2016-06-28 21:31] rqsakai commented on #3572
@slavvka any news? same issue here on version 2.0.7.

I read all the informations and tried every possible solution but none of them worked.

Any news on the new release?

Thanks

[2016-06-28 21:32] PieterCappelle commented on #5308
Having the same problem in version v2.1.0.

[2016-06-28 22:35] riconeitzel commented on #5239
Hey Guys,

can you please check the following:

I removed

[code]

from `composer.json` – it worked fine.

with these line in place I'll get the crypto-error.

What exactly the difference is, you ask?! I don't know – that's some black magic composer voodoo for me :D

Best,
 Rico

/cc: @benmarks + sherrierhode

[2016-06-28 22:40] astorm commented on #5239
@riconeitzel `https://repo.magento.com/` is a composer repository.  Its the composer repository where Magento keeps its source code.  Magento recently tightened the security on `https://repo.magento.com/` is very aggressive way, which will make PHP compiled against older versions of Open SLL (or equivalent Crypto libraries) not be able to talk to it.

So, when you remove those lines from your `com

[2016-06-28 22:44] riconeitzel commented on #5239
@astorm it's for sure downloading all that stuff … 

so if repo.magento.com is the only source, there MUST BE any kind of communication?!

[2016-06-28 22:52] astorm commented on #5239
@riconeitzel Afraid I don't quite follow what you're saying there @riconeitzel  -- but a "how composer works discussion" sounds less like a discussion for here and more like a discussion for elsewhere (Stack Exchange (http://magento.stackexchange.com/), Magento Forum, any Magento Slacks you're a member of)

[2016-06-28 23:17] riconeitzel commented on #5239
looks like for what ever reason composer grabbed the files from a voodoo cache after remove these lines … so thanks @astorm for letting me know.

[2016-06-28 23:24] astorm opened #5326 "Can't Use a Symlinked Module During Development"
Steps to reproduce
1. Create a simple module in `app/code` using the instructions below, or using the [attached zip file](https://github.com/magento/magento2/files/339488/Pulsestorm_Symlinkbug.zip) (or via your own means, adjusting the URLs mentioned below)
2. Confirm module is created and installed by accessing URL `http://example.magento.com/pulsestorm_symlinkbug`
3. Navigate to `Stores -> Confi

[2016-06-29 01:55] rudik99 commented on #5236
Hi @Protazy21 I tried the above and it didnt work. did you do anything else?

I got this:

Notice: Undefined offset: 118 in /usr/local/lsws/test/magento21/vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on line 166

[2016-06-29 03:47] s00071609 opened #5327 "Normal PayPal Checkout Taking to Review Page with "We can't place the order." while Skip Review Page Has been Enabled"
## Steps to reproduce
1. Install Magento 2.1
2. Add any product to cart
3. Hit Go TO Checkout
   Select Checkout with Paypal Option
   Login and Hit PayNow
## Expected result
1. After Hitting PayPal Pay Now button - success page should display (Skip Review Page is Enabled in PayPal Website Payment Method")
2. There should be option to CREATE an account on success page
## Actual result
1. Takes to

[2016-06-29 05:52] Nerogee commented on #5327
I have the same issue "We can't place the order". Need help.

[2016-06-29 06:00] sIiiS commented on #5309
I have this issue too in my localhost without any additional configuration

[2016-06-29 06:01] s00071609 commented on #5327
Well, the order goes through when PayNow button is Hit, and order emails start to come from PayPal but the review page shows up with the error. If you submit order in review page, it does nothing just repeats the error. Also with magento 2.1 the cart items show up even after checkout. Hope someone out there is able to help

[2016-06-29 06:28] HRR1337 opened #5328 "Luma Theme bugs Magento 2.1 on iPhone 6s ios 9.3.2 (maybe all mobiles)"
## Steps to reproduce
1. Install Magento 2.1 from website magento.com with sample products
2. I have configured magento with minify / bundle js and css
3. Use (in my case) an iPhone on the Luma theme
## Expected result
1. When clicking on a product with multiple images, see first image on screen
2. When clicking on 'Cart' icon, dont move the cart and search icon to new row
3. When clicking on 'add

[2016-06-29 07:01] slackerzz commented on #5131
@maksek any news regarding tests against 7.0.4?

[2016-06-29 07:07] grasdaggel opened #5329 "In a CMS Page, can I call a custom phtml with custom attributes? Example inside."
Hi there,

the standard way to call a PHTML file inside a Page CMS is this:

What I want to do is for example pass several arguments to that block. Example:

What I generally want to achieve is to make PHTML files more dynamically. Is this possible? On Stackexchange I've found nothing for this matter, so maybe this could be a feature for future Magento2 releases.

What do you think about that? Is

[2016-06-29 07:10] thdoan commented on #3038
Even though deploying to one theme cut down on the deployment time by several orders of magnitude,  even a 10-second static deployment time adds up over time. This wasn't working out very well for our rapid prototyping workflow, so I came up with a method to reduce the time to almost instantaneous. If you feel that this may also fit into your workflow, then proceed...

On a high level, it is quite

[2016-06-29 07:17] Protazy21 commented on #5236
Is your database migrated by any chance? I've faced this issue but with id 119 and few more. In your case 118 is attribute id, check your database table eav_attribute, I believe that the attribute with this id doesn't exist but it is still part of your product. If the attribute doesn't exist find all references to it in other tables and delete records where column attribute_id = 118. Repeat for ot

[2016-06-29 07:29] martins-scandiweb commented on #4754
@sivajik34 Hi, I created 2 new store views, but they do not appear under content ->design->configuration

I logged in, logged out from admin, refreshed caches, but still did not appear. They should appear after creation, right ?

Can't assign theme to new store views after 2.1 update. I guess will need to do in db manually.

[2016-06-29 07:31] gewaechshaus commented on #5309
While using localhost as your domain name?

[2016-06-29 07:36] Nerogee commented on #5327
I encountered this issue when upgrade from 2.0.7 to 2.1. Suspecting I do something wrong that causes this issue. Then I have a fresh installation via composer. but still there is error. Both Paypal and Braintree is not able to checkout.

magento 2.1
php 7.0.7
libcurl 7.49.1

[2016-06-29 07:44] slavvka commented on #3572
Sorry guys, not yet

[2016-06-29 07:47] s00071609 commented on #5327
Could it be issue with SSL - but when you have said "YES" to Skip Review Page,- doesnt make sense that paypal takes to Review Page. Even when you say NO to skip Review Page. It gives the same error. The only difference is - in the first case the error occurs before Review Page loads. In second case, Error Occurs when you hit Order Now - This will put off many from using 2.1. If its a bug, then it

[2016-06-29 08:03] asemenenko commented on #4494
@ankitambekar08 @mcspronko the issue should be fixed now, can you check it on the latest version?

[2016-06-29 08:04] ericahoekerd opened #5330 "Magento 2.1: WEBAPI / Soap services are not deployed anymore [Critical!]"
We receive message like procedure is not present when sending data by API, these are the default now, a lot of them are missing, which were available in previous versions, all functions regadring to catalog are missing, this is a serious bug. This is very critical! A lot of our customers are starting on Magento 2.1

![image](https://cloud.githubusercontent.com/assets/15381778/16444892/976c67c0-3de

[2016-06-29 08:06] hostep commented on #5239
@riconeitzel: indeed, composer caches its downloaded files in `~/.composer/cache/`

@24198: your MAMP workaround solution is a really bad idea, but you already mentioned that, just mentioning it again so people don't try this if they don't know what they are doing :)

[2016-06-29 08:11] ericahoekerd commented on #5179
always default template wehne testing API, we never use custom templates
default installation of Magento

[2016-06-29 08:12] antonlazarchenko commented on #5222
@andimov here it is:

Server: Localhost via UNIX socket
Programm: MySQL
Version: 5.5.29 - MySQL Community Server (GPL)
Protocol version: 10
Server encoding: UTF-8 Unicode (utf8)

System requirements is ok including php version 7.0.6.

[2016-06-29 08:13] Crossmotion commented on #3507
I just installed version 2.1. Issue is still very alive here. Also since the update the sidebar in the admin product edit page is gone.

Errors in System.log:

[2016-06-29 13:51:00] main.CRITICAL: Broken reference: the 'product.reviews' element cannot be added as child to 'product_tabs', because the latter doesn't exist [] []
[2016-06-29 13:51:00] main.CRITICAL: Broken reference: the 'catalog.prod

[2016-06-29 08:19] andimov commented on #5223
@Krapulat
Thank you for response! This solution is correct.
Your issue resolved?
@developer-lindner
You don't need to reinstall. Also you already [upgraded ](https://github.com/magento/magento2/issues/5229#issuecomment-228721431) as I understand.
Most likely you have different problem.
@medinadato
Did you clear the var/\* directories?
A sample command follows:
rm -rf var/cache/\* var/page_cache/\*

[2016-06-29 08:19] rgpjones commented on #4455
We were also getting this issue.

It's fixed by this commit: https://github.com/magento/magento2/commit/de90990008b75992eb59b9e8c2c6579f6a2528c2#diff-417e3ceef95a6853116a22318a928c2bL216

[2016-06-29 08:25] SidneyBilliet opened #5331 "Issues regarding default or null values for attributes"
Recently we started experiencing two significant issues with one of our Magento 2 installations regarding the default (or null) values of product attributes. One of those has been reported before and is well documented within the following GitHub issue:
https://github.com/magento/magento2/issues/3545
The second problem seems to be caused by the very same issue and has been described (more or less)

[2016-06-29 08:30] carlowens opened #5332 "Promo code bug - Promotion still applies after updating the cart to no longer be valid with the promotion."
Hi,  I have seen an issue using promo codes created via the admin area.  If you create a promo code which is only applicable to a minimum value in the cart and apply the promotion, if I then remove item quantities to below the promotion value limit, the promotion is still applied.
## Steps to reproduce

Step 1) Create a promotion code (order value above 5k get 5% off) via admin
Step 2) Promotion c

[2016-06-29 08:33] andimov commented on #5229
@PierAlex
Thank you for solution!
@redelschaap
Is that solution works for you?

[2016-06-29 08:40] heldchen opened #5333 "Magento 2.1: Admin: Product Edit is missing left side menu with page subsections"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Edit product in the admin
## Expected result
1. Left side menu with the edit page subsections (f.e. "General", "Design", ..) is shown
## Actual result
1. The subsections are shown in the main content as an "accordion" at the bottom of the page

[2016-06-29 08:51] andimov commented on #5222
@antonlazarchenko
MySQL 5.6 is requirement for Magento 2, probably your problem caused by this.

[2016-06-29 08:54] andimov commented on #5225
@PierAlex
So, this issue also presents in 2.1.0 version?

[2016-06-29 08:58] Taral-Patoliya opened #5334 "Magento 2.0.7 "Urlkey for the store already exists" error while importing products"
I am trying to import simple products, But it fails due to some validation error.
The error message i get is "Additional data: URL key for specified store already exists.".

I have checked the URL keys generated from the product names are all unique. but still i am having this annoying issue.

I am importing >10000 products.

[2016-06-29 09:02] developer-lindner commented on #5223
@andimov
How can i fix it?

Frontend + Backend just shows:

I got it running under 2.0.7 already with PHP 7.0.6...

Command Line shows Exception as mentioned above.

[2016-06-29 09:08] andimov commented on #5223
@developer-lindner
Best way is to create a new issue with full description according to the template. It allow us process your issue with more attention.

[2016-06-29 09:15] antonlazarchenko commented on #4741
Hi, @mauromm ! Thanx!

[2016-06-29 09:19] veloraven commented on #5317
@webartistse please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-29 09:20] ddattee opened #5335 "Cannot change date format in checkout date fields"
I have a french/arabe website to customize and I need to display dates in "dd/mm/yyyy" format in the checkout instead of default format displayed.
## Steps to reproduce
1. Install Magento from `2.0.7` branch.
2. Add a product to cart and go to checkout onepage
## Expected result

Date displayed and formated in french format in the checkout.
## Actual result

No possibility to change format and eve

[2016-06-29 09:20] hungpvdev commented on #4741
HI @mauromm,

Thanks! Your code work. Save me a lot of times.
I'm made my module base on the same example from Inchoo.

[2016-06-29 09:22] webartistse commented on #5317
@veloraven Im using Magento 2.0.7.

For an accountant its hard do accounting right reports since the Magento report shows refund on 9th june and the actual refund from bank account has been made 17th june.

[2016-06-29 09:25] antonlazarchenko commented on #5324
Hi, @mauromm ! I confirm this solution works. Thanx a lot.

[2016-06-29 09:27] nmallepally opened #5336 "Magento 2 Server Requirements"
Hi,

I am trying to move to new live server.
I have a query, as Magento recommends upto 7.0.6, Ubuntu and Centos Oracle and Percona for MySQL.
But the server provides fork Maria DB, PHP 7.0.7, Debian 8 and Apache 2.4.10. WIll it be compatibel with 2.0.7 Magneto 2 ??.

Regards,
Navya

[2016-06-29 09:28] ddattee commented on #5335
Here is the code of what I tried :
- LayoutProcessor.php

  <pre>
  ...
  'birth_date' => [
  'options' => [
    'dateFormat'  => 'dd/mm/yy',
  ],
  'config' => [
      'validation' => [
         'validate-date' =>  'dd/mm/yy'
      ],
  ],
  ]
  ...
  </pre>
- calendar-config.js

  <pre>
  $.extend(true, $, {
  calendarConfig: {
      dateFormat  : 'dd/mm/yy',
  }
  });
  </pre>
- validate-date.j

[2016-06-29 09:32] antonlazarchenko commented on #5222
@andimov sorry, it was a mistake caused bad version of mysql client.
The real MySQL version is 5.7.11.
So we can exclude version factor.

[2016-06-29 09:36] SidneyBilliet opened #5337 "SHow/Hide editor button won't load editor in Chrome Version 51.0.2704.103 m"
see video please
[2016-06-29 11h16_44.zip](https://github.com/magento/magento2/files/338934/2016-06-29.11h16_44.zip)

[2016-06-29 09:48] SidneyBilliet commented on #4349
@piotrekkaminski
This is still an issue in 2.0.7
![2016-06-29_11h42_58](https://cloud.githubusercontent.com/assets/13572447/16447965/526b212a-3def-11e6-88e9-f060caeffcd6.png)

[2016-06-29 09:54] hungpvdev commented on #4741
It seem we need to decrypt config data like api key and api password/secret in 2.1.0
https://github.com/magento/magento2/issues/2984

hi @antonlazarchenko @mauromm
Is this issue happen with you?

[2016-06-29 10:06] rikterbeek commented on #5304
Hi @orlangur,

Thanks for this information. It is not totally clear now how to implement a payment method in the new structure do you have any technical documentation available about adding a payment method in the new way ?

Regards,
Rik
Adyen

[2016-06-29 10:18] karanbhomiagit opened #5338 "WebAPI REST POST /V1/products gives a generic error in response, without any details."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Try creating a simple product by making a call to REST API POST /V1/products.
3. [Example]
   `{
   "product": {
       "sku": "atoi-item",
       "name": "atoi-item",
       "status": "1",
       "type_id": "simple",
       "visibility": "4",
       "attribute_set_id": "4",
       "price": "3",
       "custom_attributes": [

[2016-06-29 10:19] maderlock opened #5339 "loadAllAttributes fails for EAV entities"
## Preconditions
Magento 2.1.0

## Steps to reproduce
1. Install Magento 2.1.0
2. Create a new EAV entity type 'my_eav_attr' with static and non-static attributes
3. During run-time, create an instance of a collection that extends Magento\Eav\Model\Entity\Collection\AbstractCollection
4. Call addAttributeToSelect('*') on collection
## Expected result
1. A valid collection (as worked in 2.0.7)
## A

[2016-06-29 10:29] Raysharr commented on #5266
I have noticed the same issue as well.

I am hooking in to Magento_Catalog/js/catalog-add-to-cart.js module with my custom code and now in version 2.1 this javascript module doesn't run on product page any more. Please, you guys (Magento developers), provide me a solution how to proceed with this issue. Do I have to create custom javascript which will be reacting on click on add to cart button or

[2016-06-29 10:33] bondimedical3 opened #5340 "2.1 Cannot create Invoices"
![screenshot_20160629-203009](https://cloud.githubusercontent.com/assets/10808588/16449077/7e4824f2-3e38-11e6-987e-ae5cf55a9f30.png)
![screenshot_20160629-203030](https://cloud.githubusercontent.com/assets/10808588/16449081/86529ad8-3e38-11e6-8c1d-33a7603fc222.png)
I have tried to create an invoice from an order and I receive the message in the first screenshot. If I go to Sales/Invoices in my Adm

[2016-06-29 10:36] bondimedical3 commented on #5301
This appeared to be some kind of glitch as I have tried more orders and the issue has disappeared.

[2016-06-29 10:47] antboiko commented on #5281
Hi @MidnightDesign , we have internal ticket MAGETWO-50639 in our backlog to revise the flow for the configurable product.

As for now, the flow described by @develpr is correct. "Add products manually" isn't available until user defines attributes within "Create/Edit Configurations" wizard.

https://github.com/magento/magento2/issues/2564

Best,
Anton.

[2016-06-29 10:49] jajanka commented on #2514
How colour swatches can be shown in Product List widget? In product listing it works, line responsible for this is $block->getProductDetailsHtml($_product);

[2016-06-29 10:55] maderlock opened #5342 "Empty category page produces notice about product types"
## Steps to reproduce
1. Install Magento 2.1.0 (I'm using php 7.0.7)
2. Create an empty category
3. Visit it
## Expected result
1. An empty category
## Actual result
1.  Notice: Undefined variable: productTypes in .../vendor/magento/module-wishlist/Block/AddToWishlist.php on line 63

This appears to be a failure to initialise an empty array.
Current code:

[code]

Should be:

[code]

[2016-06-29 11:01] MidnightDesign commented on #5281
@antboiko Thanks for the clarification, but just to be sure: you know I'm talking about doing this in code, not in the admin backend, right? I can't imagine there's no way to do this programmatically. (I've done it in 2.0 - the 2.1 update just broke my hacky code.)

[2016-06-29 11:03] antboiko commented on #5333
Hi @heldchen , Product page in Admin was redesigned for Magento 2.1 to use unified UI along with Category pages and CMS pages.

I'm closing this issue as it's not a bug. Please feel free to reopen if it's needed.

Thanks,
Anton.

[2016-06-29 11:03] #5333 closed, assigned to nobody

[2016-06-29 11:03] rou9e commented on #4449
Same thing over here :
CE Edition : 2.0.7 -> 2.1.0 no sample data.
Backend grids doesn't work anymore.

Anyone figured out ?

[2016-06-29 11:06] mhabou commented on #5332
Which Magento version do you use ?

please post your Cart Price Rules

[2016-06-29 11:33] fchalet69 opened #5343 "FPC disable - Customer messages not working"
## Steps to reproduce
1. Install Magento 2.0.7
2. Go to back office and disable full page cache
3. Clear your site cookies
4. Create an account
## Expected result
1. Success message ("Thank you for registering with ...") appear
## Actual result
1. Message is missing (same if in case of error, e.g account already exist)
2. If you add a product for exemple, then you have the success message of produ

[2016-06-29 11:40] webartistse opened #5344 "Cant export orders except 20 first orders"
## Steps to reproduce
1. Navigate to Sales > Orders
2. Filter on status cancel and show 200
3. Click export > CSV
## Expected result
1. Downloading CSV-file with 38 orders sorted by my selected order
## Actual result
1. Downloading CSV-file with 20 first orders

Using Magento 2.0.7

[2016-06-29 11:44] webartistse opened #5345 "Credit memo list with wrong currency"
## Steps to reproduce
1. I have several stores with its own currency
2. Sales > Credit memos
3. Filter by Sweden Store
## Expected result
1. Listed credit memos should be in SEK
## Actual result
1. Listed credit memos is in USD. The amount is right but wrong currency prefix. Example 1000 USD instead of 1000 SEK
2. When I click on a credit memo its right in detailed view.

Using Magento 2.0.7

[2016-06-29 11:49] aditya-makwana opened #5346 "Catelog Search not showing result for less than 3 character"
## Steps to reproduce
1. Set **Minimal Query Length**  to 1 in admin panel under Catalog Search.
   Search in Magento 2.0 default catalog search with less than 3 character in search field.

**2.  Set Minimal Query Length  to 10 in admin panel under Catalog Search.
       Search in Magento 2.0 default catalog search with less than 3 character in search field.**
## Expected result
1. List of searche

[2016-06-29 11:51] sIiiS commented on #5309
@gewaechshaus, yes I am in local and admin area has issue

[2016-06-29 11:52] webartistse opened #5347 "Unable to export a list of current stock"
## Steps to reproduce
1. Reports > Low stock
2. interval of qty: 0 to 999
3. Search
## Expected result
1. Show all products that has smaller than 999
## Actual result
1. Only show products with 0

Data for warehouse location
Should be support for location in warehouse and see this on packling list, product stock report etc. Its very common you have a marked slot/section in warehouse to find the pr

[2016-06-29 11:59] webartistse opened #5348 "Unable to export product data in a good way"
## Steps to reproduce
1. System > Export
2. Entity Type > products
3. Several configs to somehow export useful data
## Expected result
1. Select what products I want
2. Deselect some columns
3. Export as Excel XML
4. Support for saving a filter option set.
## Actual result
1. Total mess of everything
2. This export function is not even useful in any way
3. We have 4 stores but same product catalog

[2016-06-29 12:05] abhijitbanik2016 opened #5349 "Magento Component grid and system upgrade not working"
Magento 2.0.7 Installed through INSTALLATRON App in Easy apache 4 Server with a configuration of php 5.6 and mysql 5.6

After installation Magento market place connected with system config with marketplace key.

Now when I am trying to get sync in component Manager then showing "please wait" and nothing is happening. If I check the error in browser development mode I found 2 error

Error 1: angula

[2016-06-29 12:13] mhabou commented on #5292
My advice is to make a fresh install of Magento,

[2016-06-29 12:14] d-gerken commented on #4449
Same here.
EE 2.0.7 to EE 2.1.0

Backend is working fine, but frontend shows the error.

[2016-06-29 12:24] samtay commented on #4703
#### Step 1.

Clone Magento2 from any version since general availability.

#### Step 2.

Set up access to product repository API such as through test framework/module

#### Step 3.

[Insert original issue comment]

The only way to have these work as intended is to use a builder such as `\Magento\Catalog\Api\Data\ProductInterfaceFactory` and set `sku` along with any data changes. While that might s

[2016-06-29 12:29] skovalenk commented on #4767
@sintsov . There is no problem here. We couldn`t apply any filters to product collection, because from now we using product collection only as wrapper for search fulltext collection

So you need to add your filter here:
Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection::_renderFiltersBefore

There you can find SearchCriteriaBuilder, in which you can add your own attribute to filter
Not

[2016-06-29 12:33] antonlazarchenko commented on #4741
Hi, @hungpvdev . Yes, but didn't fix this yet.

[2016-06-29 12:38] carlowens commented on #5332
Magento ver. 2.0.7 Enterprise

<img width="1092" alt="screen shot 2016-06-29 at 13 36 31" src="https://cloud.githubusercontent.com/assets/346840/16452086/8dfebca6-3dfe-11e6-94b3-236b58d7f285.png">

<img width="1286" alt="screen shot 2016-06-29 at 13 37 13" src="https://cloud.githubusercontent.com/assets/346840/16452096/a422bc30-3dfe-11e6-9632-a053752b8abc.png">
<img width="1284" alt="screen shot 2

[2016-06-29 12:38] d-gerken opened #5350 "[EE 2.1.0] - Edit Product doesn't work after upgrade from 2.0.7 to 2.1.0"
## Steps to reproduce
1. Upgrade Magento EE from 2.0.7 to 2.1.0
2. Log in to backend and browse to products -> catalog
3. Click on any product to edit
## Expected result
1. Product can be edited
## Actual result
1. HTTP ERROR 500

**error log:**
`PHP message: PHP Fatal error:  Uncaught TypeError: Argument 3 passed to Magento\Framework\View\Element\UiComponentFactory::mergeMetadataElement() must be

[2016-06-29 12:39] skovalenk commented on #4767
@vutrankien Hello. The problem you are describing appears because getSize() method in AbstractDb is cache results, in order to improve performance.
This is the correct behavior: in order to avoid issue you faced with, I suggest you to move your code before parent::_prepareLayout() and remove $collection->load()

You can add plugin to Magento\Framework\Data\Collection\AbstractDd::getSize, where you

[2016-06-29 12:46] carlowens commented on #5332
I have been toying with a fix, but not been able to get a complete fix for this yet.
For now I was looking to add some logic to https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Controller/Cart/UpdatePost.php#L50

by overwriting the controller and adding some logic after line 50 to remove the promotion like this:

[code]

[2016-06-29 12:48] carlowens commented on #5332
I don't know enough about how the Cart Price Rules work to provide a clean solution.  Copying how the promo codes are added did not seem to perform the same checks as doing the same logic in this controller.

[2016-06-29 12:48] deepanshu27193 opened #5351 "Deadlock Errors during product save"
### Preconditions
1. Magneto 2.0.2
2. PHP 5.6, MySQL 5.6

### My Scene
1. To Save/Update large amount(45K) products in Magento from amazon on daily basis.
2. I have developed a custom script to save products in Magento
3. Product is saving properly if i save them one by one.

### Steps to reproduce

1. saved 10 products at a time by using pcntl_fork(php function).
2. another scenario is NodeJS asy

[2016-06-29 12:58] Nerogee opened #5352 "Magento 2.1 email logo image function does not work"
## Steps to reproduce
1. Magento 2.1
2. Upload Email logo in path **Content -> Configuration -> Transactional Email -> Logo Image**
3. Save
## Expected result
1. New Email Logo should show in New Order (ALL) Emails
## Actual result
1. Default Magento Logo is used in email
2. Customized logo does not show
3. Logo Image URL Broken in preview under path **Content -> Configuration -> Transactional Ema

[2016-06-29 13:06] gerti2112 opened #5353 "Cannot use single DataProvider for form and grid"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create custom module with custom DataProvider

[code]
1. Register for the form and for the grid SAME DataProvider in ui configuration

[code]
## Expected result
1. Field has been added to form
2. Grid is work
## Actual result
1. Field has been added to form properly
2. On grid page we have
   Fatal error: Call to a member function

[2016-06-29 13:07] tkacheva commented on #5025
@ezequielalba I can't reproduce the issue with conditions you have on Magento 2.1
Here is what I have in condition
![shopping10_condition](https://cloud.githubusercontent.com/assets/5603216/16452902/73759886-3e13-11e6-8866-b1fc6e51b6ca.png)
and here is the rule applied:

![shopping10](https://cloud.githubusercontent.com/assets/5603216/16452916/823aa7e4-3e13-11e6-9c3a-14dd75ff009b.png)

Try to upgr

[2016-06-29 13:07] #5025 closed, assigned to tkacheva, cpartica

[2016-06-29 13:14] mhabou commented on #5332
I can't reproduce your issue.

I created the same cart rule as yours & it works like a charm

[2016-06-29 13:21] gerti2112 commented on #5353
Quick steps to reproduce:
Open \Magento\Cms\Ui\Component\DataProvider and put next code

[code]

And result we can see that cms page grid is broken

[2016-06-29 13:29] carlowens commented on #5332
So what happens when the cart no longer meets the promo criteria?  Does it show a message or just remove the promo code?

[2016-06-29 13:35] ludwig-gramberg commented on #1691
you can manipulate the data so its no longer required, the validation info is stored in customer_eav_attribute in the column validate_rules and the fact that the field is required is store in eav_attribute column is_required, you'll find the attribute by searching for the attribute_code telephone

here's the query
`update eav_attribute set is_required=0 where attribute_code='telephone';`

[2016-06-29 13:40] mhauri commented on #4449
@d-gerken did you try to load the catalog products, that's where I have it too in the backend

[2016-06-29 13:48] jreinke commented on #4123
I agree but this could have been realized before...

[2016-06-29 13:58] isols commented on #5309
The same story (but upgraded via Admin - ubuntu 16.04 nginx php-fmp 7.0.8, admin_user_session truncated, running on domain.)

[2016-06-29 14:01] gewaechshaus commented on #5309
Our related system is also running on Ubuntu 16.04... So this seems to be reproducible.

[2016-06-29 14:05] sevos1984 commented on #5352
This issue was fixed in MAGETWO-53010 and delivered to develop branch

[2016-06-29 14:08] YevSent commented on #4813
Could you attach response from Authorize.net iframe?

[2016-06-29 14:16] YevSent commented on #5304
Hi @rikterbeek, the dev documentation in a process, but you can use https://github.com/magento/magento2-samples/tree/master/sample-module-payment-gateway as an example. Also, a current version of Braintree is implemented in a new way.

[2016-06-29 14:16] #5304 closed, assigned to alena-marchenko

[2016-06-29 14:22] jsakars commented on #4232
@piotrekkaminski FYI - still present in 2.1.0

[2016-06-29 14:31] MindConflicts commented on #5278
Same for me on develop branch (pl_PL)
Magento CLI version 2.2.0-dev

https://s32.postimg.org/pz2pplgg5/translations_bug.gif

[2016-06-29 14:34] MindConflicts commented on #5305
Same for me on develop branch (pl_PL)
Magento CLI version 2.2.0-dev

https://s32.postimg.org/pz2pplgg5/translations_bug.gif

[2016-06-29 14:35] YevSent commented on #5303
Closed, because discussion moved to stackexchange.

[2016-06-29 14:35] #5303 closed, assigned to alena-marchenko

[2016-06-29 14:39] mhabou commented on #5332
just remove the promo code

[2016-06-29 14:39] bkristl opened #5354 "Boolean product attributes are not visible"
If product has boolean attribute, this attribute is not visible on product page view.

For example:
We have product tv, which have attribute:
attribute_code: convr2d3d
frontend_label: Conversation 2D to 3D
frontend_input: boolean

This attribute is not visible on product page in tab More Information.

In this tab must be visible:
Conversation 2D to 3D: Yes
or
Conversation 2D to 3D: No

Depends of

[2016-06-29 14:50] serzhik commented on #5137
Duplicate #3890

[2016-06-29 14:53] astorm opened #5355 "Cache Files Ignoring magento_umask Setting"
## Steps to reproduce
1. Install Magento 2.1
2. Clear Magento's cache
3. Create a `magento_umask` file with the contents `000`
4. Load any page in the Magento system
5. Examine the permissions on any cache file (`find var/cache/ -type f -exec ls -lh '{}' +`)
## Expected result
1. Files have `-rw-rw-rw-`/`666` permissions, obeying the umask
## Actual result
1. Files have `-rw-rw----`/`660` permissi

[2016-06-29 14:54] maderlock commented on #5339
As a temporary measure I've had to exclude my EAV entity from attribute caching via di.xml:

[code]

[2016-06-29 14:59] woei66 opened #5356 "PHP message: PHP Fatal error: Uncaught TypeError: Argument 1 passed to iterator_to_array() must implement interface Traversable"
## Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.0
2. php bin/magento setup:static-content:deploy en_US zh_Hant_TW
3. set zh_Hant_TW as the default language
4. visit the backend url
5. centos 6.7+ php7
## Expected result
1. login page
## Actual result

[code]

[2016-06-29 15:01] jreinke commented on #4449
Same here after upgrade 2.0.7 => 2.1.0 (sample data installed).

EDIT: clearing browser cache fixed the problem for me

[2016-06-29 15:01] woei66 commented on #5356
I traced the source code.
`protected function _toHtml()
    {
        $localeData = (new DataBundle())->get($this->_localeResolver->getLocale());
// get days names
        $daysData = $localeData['calendar']['gregorian']['dayNames'];
        $this->assign(
            'days',
            [
                'wide' => $this->encoder->encode(array_values(iterator_to_array($daysData['format']['wide']))

[2016-06-29 15:05] EugeneAinstainer commented on #5144
I have the same issue with magento 2.1. @minhluan259 thanks for fix, but does somebody know about the status of this issue?

[2016-06-29 15:26] maderlock opened #5357 "2.1 Cannot refer to less files outside extension"
## Preconditions

1. Magento 2
2. grunt

## Steps to reproduce
1. Install Magento 2.1.0
2. Create module that has frontend less file
3. Add import in that less file to "source/lib/_lib.less" or "source/_theme.less" so that theme variables can be used e.g. @primary__color
## Expected result
1. compiled css for extension (as in 2.0.7)
2. ...
## Actual result
1. Error on static deployment:

[code]

T

[2016-06-29 15:37] ghost opened #5358 "Checkout cart totals.js throws an error when estimating shipping"
## Steps to reproduce
1. Add a product to the cart
2. Make sure you have at least one Shipping Method active (e.g. Flat Rate)
3. Navigate to Shopping Cart page
4. Observe the result
## Expected result
1. Shipping should be estimated without errors
## Actual result
1. Loading indicator keeps spinning
2. There is an exception thrown in IE console "Object doesn't support this action"
## Observations

[2016-06-29 15:39] quienti commented on #5340
https://github.com/magento/magento2/issues/4632

[2016-06-29 15:45] s00071609 commented on #5327
Looks like its the upgrade process from 2.0.7 to 2.1 that is causing the issue. Clean install in an unused domain works fine - Just added a test product and checked out as usual using paypal. It then goes to the success page without going to review page. Something from old install might that is causing issue in new install. Hope this gets fixed as there may be many moving from 2.0.7 to 2.1. Its up

[2016-06-29 15:52] markalston opened #5359 "Image import broken when using pub documentroot"
When trying to import with images when document root is set to pub it fails.

I added some logging per issue #4711 and received the following error:

If I set the document root to the magento directory import works fine.

It looks like it is trying to create the pub/media directory inside of pub.   This could be fixed by giving magento write permissions in the pub main directory but I think that i

[2016-06-29 15:53] rou9e commented on #4449
Mmh, if I test the exact same backend pages from a private instance of my browser (FF 47.0.1), the problem disappears. So I just cleared my whole browser data (cache, session, cookies, etc), then logged in again, and all the grids are working fine...

Problem solved for me, but some clues would be nice. In my case, the magento2 is a dev environnement, so that's fine but I would not want to ask eac

[2016-06-29 15:54] rou9e commented on #1934
I can confirm that the purge of the browser data (session, cookies, cache, etc), login again, solved the problem for me.

[2016-06-29 16:29] flnative opened #5360 "2.0.7 System backup does not work due to JS error"
## Steps to reproduce
1. Go to admin panel, system, backups
2. Select any option to backup.
3. Click OK to begin backup
## Expected result
1. backup magento
## Actual result
1. The OK button does not click or shows signs of trigger

Nexcess host provider gave me this as the error:
Uncaught TypeError: this.modal.find(...).validation is not a functionAdminBackup.backupConfig.backup-options.actionOk

[2016-06-29 16:48] mverstraete commented on #4813
After updating to Magento 2.1, this is no longer happening.  Its also possible the relay response URL was http instead of https in the authorize.net account settings.  I'm not sure which one of the two fixed it.

Now the payment is going through, but I'm still stuck on the loading screen.  Now its flashing an error that says "No such entity with cartId = 52".  The integer value is different every

[2016-06-29 16:55] ppisarek opened #5361 "magento/module-swatches v100.1.0"
## Steps to reproduce
1. $this->helper('Magento\Swatches\Helper\Data');
## Expected result
1. Magento\Swatches\Helper\Data object
## Actual result
1. \LogicException
## Proposed solution
1. Declare class as:

[code]
## Temporary solution
1. Clone helper in custom module

[2016-06-29 17:19] heldchen commented on #5333
thanks for confirming that this is the intended behaviour. our customers are not at all happy with it, but I guess they'll have to learn to live with it :)

[2016-06-29 17:24] AirmanAJK commented on #4952
Same problem here using the SOAP API in 2.1.0. Updating custom attributes ends up inserting new product attribute values in the database with store_id = 1. This DID NOT happen in 2.0.7 where it would update my existing value for store_id = 0.

Updating using the admin area did not cause this issue.

[2016-06-29 17:56] crantron opened #5363 "Customers Online not showing"
![screen shot 2016-06-29 at 10 55 04 am](https://cloud.githubusercontent.com/assets/3859969/16462854/04e762da-3de8-11e6-82f6-c35bdbd16f3b.png)

Looked everywhere for enabling logs like 1.9 but I could not find anything.

[2016-06-29 17:59] orbitrod commented on #5323
I am having the same issue.

[2016-06-29 18:02] stevekem opened #5364 "Minimal price "As low as $x.xx" being added to product page when cache is enabled on 2.1CE"
## Steps to reproduce
1. Install Magento 2.1.0.
2. Enable cache (FPC or Varnish).
3. Add tier price to Simple, Virtual or Downloadable product.
4. View product page and see that "As low as $x.xx" is being added below product price.
5. Flush cache once or twice.
6. "As low as $x.xx" goes away from product page but ALSO is removed from below price on category page.
7. Repeat flushing of cache and it

[2016-06-29 18:03] flnative commented on #3451
I have 2.0.7; I can no longer backup. Button does nothing. Also have the same JS error. I used to be able to backup.. I do not know when it stopped working from 2.0.1 to 2.0.7

I have this error in my browser console:
Uncaught TypeError: this.modal.find(...).validation is not a functionAdminBackup.backupConfig.backup-options.actionOk @ backup.js:148modal.jQuery.attr.html.modal.buttons.click @ back

[2016-06-29 18:15] springimport commented on #5198
Any news?

[2016-06-29 18:17] gavinlimely commented on #4921
Does anybody have a fix for this please?

[2016-06-29 18:22] mehh commented on #5363
Sir - Can you please provide a screenshot that references the "Last Logged In" column?

Regards,

[2016-06-29 18:33] crantron commented on #5363
![screen shot 2016-06-29 at 11 32 54 am](https://cloud.githubusercontent.com/assets/3859969/16464037/42aa89da-3ded-11e6-9eb2-90be82b70204.png)

[2016-06-29 18:33] crantron commented on #5363
those are all the columns available.

[2016-06-29 18:34] crantron commented on #5363
![screen shot 2016-06-29 at 11 34 10 am](https://cloud.githubusercontent.com/assets/3859969/16464080/73a7ab9e-3ded-11e6-83b9-a433b39655a4.png)

[2016-06-29 18:35] developer-lindner commented on #5223
I can't even make a fresh install actually, MySQL gets shutdown when i try to run setup:install

[2016-06-29 18:36] crantron commented on #5363
![screen shot 2016-06-29 at 11 36 19 am](https://cloud.githubusercontent.com/assets/3859969/16464164/c0f3493a-3ded-11e6-873a-7bb66de4616b.png)
- after california , that is the last logged in column

[2016-06-29 18:43] prackky opened #5365 "Unable to update the Logo(Header, Footer etc.) in Magento 2.1.0"
## Steps to reproduce
1. Login to admin.
2. Go to Stores --> Configuration -- General --> Design
## Expected result

Header, Footer and other tabs should be visible.
## Actual result

Only Search Engine Robots tab is visible.

![image](https://cloud.githubusercontent.com/assets/9517618/16464285/190adaf2-3e57-11e6-80ea-490ec2f70517.png)

[2016-06-29 18:53] maksek commented on #5365
Duplicate - https://github.com/magento/magento2/issues/5256

[2016-06-29 18:53] #5365 closed, assigned to nobody

[2016-06-29 19:17] mbrinton01 commented on #5198
Hello @springimport I just tried to replicate this issue and was not able to do so.  I used the following:

[code]

which runs on my local machine install (not a public instance). I am using the latest code in the _develop_ branch.  Are you using the same version?

It returns the orders sorted by `increment_id`.  When I change the sort order to `DESC` the sort order is reversed.

[2016-06-29 19:19] Caprico85 commented on #5232
Data migration tool for Magento 2.1 is not available yet. Can take a few weeks according to https://github.com/magento/data-migration-tool/issues/97.

[2016-06-29 19:33] developer-lindner commented on #5236
Hi @Protazy21 thanks for the hint! Can't believe that such an error flows into a 2.1.0 release... After changing the file it worked! Had a look and just thought the grid layout is broken, but they've just changed it to accordion style?!

[2016-06-29 19:46] pyrostriker commented on #5127
When installing magento 2 what php version were you using?

I had this exact error because when I was installing magento 2 my wamp server was running php 7.0.6.  I then downgraded to php 5.6.23 and started receiving this error.  Restoring php version 7.0.6 fixed the problem.

[2016-06-29 20:18] owebia commented on #1691
It is not so simple, in some files, the telephone validation is harcoded like here :
vendor/magento/module-customer/Model/Address/AbstractAddress.php, in function validate()

[2016-06-29 20:22] developer-lindner commented on #4638
2.1.0 : Tried to change theme back to Luma -> can't even save.

[2016-06-29 20:35] developer-lindner commented on #5223
@andimov Just went for a fresh install which works now. Unfortunately there are several issues with this release, like #4638 or #5236. Thought Magento2 would be built with TDD?!

[2016-06-29 20:42] mreichh commented on #5236
@Protazy21: Thanks for that. Solves the backend error "The configuration parameter "componentType" is a required for "advanced_pricing_button" component."

"Categories don't show no products anymore" error still there though...

[2016-06-29 23:39] rudik99 commented on #5236
@mreichh try re-indexing the database a couple of times and clear the cache, i find that fixes that issue for me on the odd occasion i have it.

[2016-06-30 01:56] thewhisperinyourears commented on #5364
It doesnt loom a bug to me. Is more lime a offer rule. If you buy 5 you get it for 20

[2016-06-30 02:02] bondimedical3 commented on #5301
![magento2 1](https://cloud.githubusercontent.com/assets/10808588/16474440/3f487ae0-3eba-11e6-9dde-7843f48718a6.png)
The issue appears to be intermitrent. I have added an item to the cart today and the message appeared again on every page.

[2016-06-30 02:12] stevekem commented on #5364
It is a bug, the minimal price link should not be displaying on product page like it's shown in screenshot. Also the flushing of cache is removing it from category page.  This only happens when cache is enabled.

[2016-06-30 03:11] quynhvv commented on #5236
@Protazy21:
I get this issue too after migrated data from Magento 1.9.2.x to Magento 2.1.0 via migrate tool at
https://www.ubertheme.com/magento-extensions-2-x/magento-2-data-migration-pro/
and solved by your shared.
Hope Magento will has fixes to handle this in next version ASAP.
Thanks.

[2016-06-30 03:24] rudik99 commented on #5236
@Protazy21 Whats the best way to find the those attributes in the Database and remove?

[2016-06-30 04:24] pboisvert commented on #5364
Not able to reproduce this on 2.1. I added tier pricing (2 levels) and the site has FPC enabled and then flushed the cache repeatedly and the tier pricing message remains on the product detail page and the product listing (category) page. Is there more detail to provide in terms of browser or other configuration info?

[2016-06-30 04:24] hungpvdev commented on #5304
Hi @joni-jones ,

The latest commit in https://github.com/magento/magento2-samples/tree/master/sample-module-payment-gateway is 3 months ago. Both master and 2.1 branch. Actually 2.1 is even with master for now. Will this sample work in 2.1.0???

My client want payment extension support both 2.0.x and 2.x? Is this possible??? I have seen a lot of bug relate to checkout since 2.0.7 to 2.1.0 for now

[2016-06-30 04:48] qrider commented on #5197
I am seeing a similar issue when trying to run the data migration tool:
`composer require magento/data-migration-tool:2.1`
`The requested package magento/data-migration-tool 2.1 exists as magento/data-migration-tool[2.0.0, 2.0.2, 2.0.5, 2.0.7] but these are rejected by your constraint`

[2016-06-30 04:53] qrider opened #5368 "Data Migration Tool will not install for 2.1"
I seem to be getting an error when installing the data migration tool through composer.

`composer require magento/data-migration-tool:2.1`
'Your requirements could not be resolved to an installable set of packages.'
`Problem 1
    - The requested package magento/data-migration-tool 2.1 exists as magento/data-migration-tool[2.0.0, 2.0.2, 2.0.5, 2.0.7] but these are rejected by your constraint.`

[2016-06-30 05:35] stevekem commented on #5364
The minimal price link is not supposed to appear on product detail page in 2.1 correct?