[2021-08-20 13:06] Alexandre57370 commented on #8348
i'm agree

[2021-08-20 13:12] engcom-Echo commented on #33867
This is issue is reproducible on 2.4-develop branch with the given steps to reproduce.
<img width="554" alt="Screenshot 2021-08-20 at 18 38 07" src="https://user-images.githubusercontent.com/51681435/130238131-06477aa6-83a5-4002-bf4f-c854df841e8b.png">
There is definitely a discrepancy on the ratings of products displayed on the 2 product list widgets placed on the home page.

[2021-08-20 13:18] webgility-amazonapi opened #33873 "Magento for sync product API not working in first attempt"
### Preconditions (*)

1. Magento version : 2.4.2
2.

### Steps to reproduce (*)

1.Call the api URLfor sync product : https://doorcloser.com/rest/V1/products/base-prices
Post Data : {"prices": [{"price": 72.29,"store_id": 1,"sku": "170A36"}]}
2.Now download product individual with URL
https://doorcloser.com/rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria[fi

[2021-08-20 13:26] Morgy93 commented on #33586
@engcom-Bravo How can this be a duplicate if the error message and the way to trigger the error is different?
It's literally in the issue title, just compare.

[2021-08-20 14:40] andrewbess commented on #33564
Currently this project is compatibility with PHP 8.
<img width="910" alt="release-v7" src="https://user-images.githubusercontent.com/10788564/130250501-c4e69222-e069-4381-9471-45a0553e2cef.png">

[2021-08-20 14:40] #33564 closed, assigned to nobody

[2021-08-20 14:51] schensley commented on #30835
@magento give me 2.4.3 instance

[2021-08-20 15:07] lenaorobei opened #33875 "Test confirmation"
Test confirmation

[2021-08-20 15:11] #33875 closed, assigned to nobody

[2021-08-20 15:27] #33101 closed, assigned to KeyShang

[2021-08-20 15:27] #33143 closed, assigned to nobody

[2021-08-20 15:27] #33635 closed, assigned to AnnaAPak

[2021-08-20 15:27] #27240 closed, assigned to LyraGhost

[2021-08-20 15:27] #32596 closed, assigned to shikhamis11, engcom-Foxtrot

[2021-08-20 15:27] #32885 closed, assigned to mrtuvn, mfickers

[2021-08-20 15:27] #33434 closed, assigned to blmage

[2021-08-20 15:27] #32283 closed, assigned to hostep

[2021-08-20 15:27] #14633 closed, assigned to hws47a

[2021-08-20 15:27] #29609 closed, assigned to philippsander

[2021-08-20 15:27] #29647 closed, assigned to fredden

[2021-08-20 16:19] #33518 closed, assigned to nobody

[2021-08-20 16:27] glo05363 commented on #33518
Verified the issue again on Magento 2.4-develop branch by creating product with same name mentioned in the description and the issue is not reproducible. please check the attached screen. we are closing the issue as : can not reproduce.

![image](https://user-images.githubusercontent.com/87003041/130264419-3c0bdf73-f8bb-402d-92b0-1a502fc73bc4.png)

[2021-08-20 16:29] slavvka commented on #33234
@magento give me test instance

[2021-08-20 19:21] Teup407 commented on #33749
I had the same issue and found that after I found "report.WARNING: Session size of 400723 exceeded allowed session max size of 256000. "  this in the debug log and then found the new setting in the admin under stores->system->configuration->advanced->system  security and changed that setting cleared cache and now it works fine..  caused by my admin front_name being anything other than admin.

[2021-08-20 19:25] drinkingsouls commented on #33678
I note that it is ready for development/to be fixed in 2.4.4 but what is the current solution to be able to upgrade from 2.4.2 to 2.4.3?

[2021-08-20 22:00] #33837 closed, assigned to sdzhepa

[2021-08-20 22:06] Hanhan1989 commented on #33741
I am waiting for this fix. When it will be fixed ?
What can I do in the meantime?

[2021-08-21 02:52] mrtuvn commented on #33741
The fix already mentioned above links

[2021-08-21 03:04] vini1996 opened #33879 "Magento 2.4.3 admin is not logging in, stayed in login page only."
### Preconditions (*)

1. Magento 2.4.3
2. php 7.4

### Steps to reproduce (*)

1.  try to login to the magento2.4.3 admin panel after installation completes

### Expected result (*)

1.  it should login to the magento admin panel
![image](https://user-images.githubusercontent.com/39683802/130308514-9128da85-ef67-440b-9bb1-9f6cf30ef6b7.png)

### Actual result (*)

1.  after loggedin also , stayed

[2021-08-21 05:32] Hanhan1989 commented on #33741
thanks

[2021-08-21 06:00] mrtuvn commented on #33749
Not only happen in 2.4.3. Reproduced in 2.3.3
![sessions](https://user-images.githubusercontent.com/1908873/130312231-29dc740e-29f5-48ac-a260-e9c372efc09d.png)
Some sensitive parts already hidden

site running (No-single-store) I have setup multiple store

[2021-08-21 07:53] ihor-sviziev commented on #33678
@drinkingsouls, you can apply the following commit as a patch https://github.com/magento/magento2/commit/5753111dc7ba1dca2ef0ca98f7d0abac488ebbb2
Here is instructions how to do so https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html#custom-patches

[2021-08-21 10:28] SomayaAbdo commented on #33842
I don't know what you mean. I changed my account password then it should to log in with the new password but it doesn't and keeps asking me to enter the captcha which I did but it keeps says "Invalid Captcha" although I'm pretty sure I wrote it correctly.

[2021-08-21 14:05] bgorski commented on #33766
The PayPal Pay Later title is not the real issue here - the logic for getting payment methods is faulty. I provided more detailed explanations here: https://github.com/magento/magento2/pull/33792#issuecomment-903119256
For this reason I closed a PR for this and asked for a different one. For the time being, please either use the patch provided above or - if you happen to work for a provider of any

[2021-08-22 01:49] Skyfly2021 opened #33880 "upgrade magento 2.4.3 allure-framework/allure-phpunit 1.4.0 requires phpunit/phpunit ^7.2"
### Preconditions (*)

1.Magento 2.4.2-p1
2.php 7.4.22
3.composer 1.22

### Steps to reproduce (*)

1.composer remove magento/product-community-edition --no-update
2.composer require magento/product-community-edition=2.4.3 --no-update
3.composer update

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.
![image](https:

[2021-08-22 04:06] sumjoekin commented on #33724
@magento give me 2.4-develop instance

[2021-08-22 06:28] SkullXA opened #33881 "Magento 2.4.3 Page Builder 404 JS files"
Magento 2.4.3 Page Builder is not working, it just shows a blank page, when I go to the console it shows this shows a bunch of 404 errors to all the .JS files

[2021-08-22 07:31] sumjoekin commented on #33724
@magento give me 2.4-develop instance

[2021-08-22 07:49] n2diving-dgx commented on #33879
Most failed login loops for 2.4.3 appear to be related to default session limit size.
See https://github.com/magento/magento2/issues/33748

[2021-08-22 09:43] chequille commented on #33819
In fact, on my site in the template of the module Magento_Catalog  product\list.phtml the method $_product->isSaleable() returns true even if salable quantity is 0

Does somebody have an idea to find out why this is the case, meaning how to debug it? I found this method in module-catalog\model\Product.php and compared it with my working 2.3.5-p2 installation but could not find any difference.

So,

[2021-08-22 09:45] chequille commented on #33819
@magento give me 2.4-develop instance

[2021-08-22 10:25] in-session opened #33882 "Page Builder missing support for remote storage"
Currently there is the problem that you can not use the resize function with remote storage and the pagebuilder.
For the converting of the images there should be a possibility to add parameters to resize the images.

Magento 2.4.3
https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-image-resize.html

[2021-08-22 11:35] trojson commented on #29797
I got the same issue today on 2.4.2, removed the jobs from DB - table bulk back to normal, not sure what happen on it but I think probably about the cron jobs incorrectly, also catalog price rule cron job issue once applied.

[2021-08-22 14:14] sumjoekin commented on #33724
@magento give me 2.4-develop instance

[2021-08-22 16:42] heyepic commented on #33678
I did this fix but now I can't view any orders in the admin:
[2021-08-22 16:22:14] main.CRITICAL: Payment model name is not provided in config! {"report_id":"8dec9410e07d0b28947a72006f673b6ad0a2035af6f0523f3fe680c1ba7c8168","exception":"[object] (UnexpectedValueException(code: 0): Payment model name is not provided in config! at /home/asdf/public_html/vendor/magento/module-payment/Helper/Data.php:

[2021-08-22 17:19] heyepic commented on #33757
@EmperorKonstantin are you able to view orders? I tried adding both of these fixes but both are resulting in logs spitting out: Payment model name is not provided in config!

Have both of these in UpdateBmltoPayLater.php:
`        foreach ($bmlSettings as $bmlPath => $bmlValue) {
            $setting = str_replace(self::BMLPATH, '', $bmlPath);
            if(strpos($setting, '_') == false) { conti

[2021-08-22 18:09] heyepic opened #33883 "Magento 2.4.3 - Payment model name is not provided in config"
### Preconditions (*)

1. Upgraded to 2.4.3

### Steps to reproduce (*)

1. Login to Admin and view Orders / Invoices / Shipments under Sales tab.

### Expected result (*)

1. View sales orders, invoices, shipments.

### Actual result (*)

Logs are as follows:
Exception Log:
[2021-08-22 17:44:56] main.CRITICAL: Payment model name is not provided in config! {"report_id":"8163fc9886f377c5643748019c6

[2021-08-22 20:14] groomershop-mt commented on #8933
In our case the problem still occur after upgrading to Magento 2.4.3, so it's probably still not solved.

[2021-08-22 20:53] groomershop-mt commented on #33625
This issue is related with: https://github.com/magento/magento2/issues/26010

We have at Magento 2.4.3 exceptions from sales/order/reorder/order_id/123456/ - example:
TypeError: Argument 1 passed to Magento\Framework\DataObject::__construct() must be of the type array, null given, called in /app/m/vendor/magento/module-sales/Model/Reorder/Reorder.php on line 247 and defined in /app/m/vendor/magent

[2021-08-23 00:39] abude commented on #33754
@magento give me 2.4-develop instance

[2021-08-23 01:51] heyepic commented on #33883
Solved:
This is due to the PayPal Pay Later update in 2.4.3.  For some reason it's missing the <title> so you will need to go into module-paypal/etc/config.xml in the <paypal_paylater> and add the <title>Paypal Paylater</title> and then flush the cache. Orders, invoices, shipments tabs in admin now load.

[2021-08-23 01:51] #33883 closed, assigned to nobody

[2021-08-23 02:52] mrtuvn commented on #33882
i think we should report bug in pagebuilder repo instead

[2021-08-23 02:52] mrtuvn commented on #33882
https://github.com/magento/magento2-page-builder/issues

[2021-08-23 05:42] engcom-November commented on #33666
@webgility-amazonapi, we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-08-23 05:42] #33666 closed, assigned to engcom-November

[2021-08-23 05:50] engcom-November commented on #33817
Thanks for the update @cha80, we are closing this issue as your query has been resolved.
Thank you.

[2021-08-23 05:50] #33817 closed, assigned to engcom-November

[2021-08-23 05:52] in-session commented on #33882
Moved to
https://github.com/magento/magento2-page-builder/issues/767

[2021-08-23 05:52] #33882 closed, assigned to nobody

[2021-08-23 05:53] in-session commented on #33864
Moved to https://github.com/magento/magento2-page-builder/issues/768

[2021-08-23 05:53] #33864 closed, assigned to nobody

[2021-08-23 05:54] engcom-Echo commented on #33840
@magento give me 2.4-develop instance

[2021-08-23 05:54] in-session commented on #33863
Moved to https://github.com/magento/magento2-page-builder/issues/769

[2021-08-23 05:54] #33863 closed, assigned to nobody

[2021-08-23 06:50] reense commented on #33856
@engcom-Echo This is happening for us on detail pages of configurable products with multiple configurations, in combination with product options.

[2021-08-23 06:53] engcom-November commented on #33798
Hi @zlep , Thanks for your confirmation. We are closing this issue for now as this is not reproducible on 2.4-develop branch. @sdzhepa / @gabrieldagama kindly confirm when this fix will be available for the official release (composer version)
Thank you.

[2021-08-23 07:32] engcom-November commented on #32739
Hi @yiukamsum,
Issue is not reproducible on Magento 2.4-develop branch with provided steps for both Public User and Logged in User. Kindly recheck the issue on 2.4-develop branch and let us know the missing steps if any if the issue is still reproducible.
Thank you.

[2021-08-23 07:39] Kannakiraj123 commented on #33799
@magento I am working on this

[2021-08-23 08:15] speller commented on #33678
@ihor-sviziev
I'm trying to apply a patch according to the instructions you mentioned but getting the following error while patching:

[code]
WHat I'm doing wrong?

[2021-08-23 08:34] engcom-Lima commented on #33754
Hi @intheshallow,

As @hostep said, this issue is a duplicate of #33751.

Based on it, can you please check and advise if your issue is resolved ?

[2021-08-23 08:46] vk44295 commented on #33840
Ok Thank you @engcom-Echo , Please let me know when you find any solutions for me.

[2021-08-23 08:48] engcom-Bravo commented on #33123
Verified issue on Magento 2.4.2 and issue is reproducible.
Below are steps to reproduce:

All steps should use GraphQL

1. Create a new empty cart
2. Add product + required options + same option multiple checkbox items to the cart using 'addProductsToCart' mutation
[code]
Product is added to the cart, the options are added but only one of the checkbox items is added to the cart item.
Below is cart

[2021-08-23 09:04] reense commented on #33680
Adding `"symfony/polyfill-php80": "^1.23"` and disabling all MSI-related modules did the trick for me. Weird decision to use `str_contains` from PHP8 whilst not even supporting that version. 😞

[2021-08-23 09:20] engcom-Echo commented on #33840
The issue is confirmed on **2.4-develop** branch.
Here are the steps to reproduce the issue.
1. On a clean instance of Magento 2.4-develop branch , add few products if there aren't any present.
2. Choose a product , say **Product A of regular price $1000** Add Advancing Pricing for the Product, so as to set up a **selling price of $500**.
3. Configure custom options to the product , say for eg: **

[2021-08-23 09:49] fritzmg commented on #24656
This issue still exists in Magento `2.4.3`. As far as I can see the changes of f8d88d65a716854be69c1f155884a30e89cba160 did not make it into the `2.4.3` release: https://github.com/magento/magento2/blob/4c36116dcf878e127059d9be9566a119783583f2/lib/internal/Magento/Framework/View/Layout/etc/elements.xsd#L330-L331

Is there any specific reason for this?

[2021-08-23 09:50] mrtuvn commented on #33680
so we may possible broken func with php7.4 ? Not check yet but the code updated in 2.4-develop
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Filesystem/Directory/DenyListPathValidator.php#L74

[2021-08-23 09:56] engcom-Echo commented on #33697
@magento give me 2.4-develop instance

[2021-08-23 10:00] densen45 opened #33884 "URL rewrites are not generated when editing or duplicating a product"
This issue occurs only when the Single-Store mode is enabled. It holds for editing existing products and creating duplicates as well. Below only the detailed steps for editing an existing product are provided to reproduce this issue. However, if you want to reproduce the issue for duplicating products, just duplicate an existing product and you will see, that no URL will be generated for the dupli

[2021-08-23 10:02] densen45 commented on #33884
@magento give me 2.4-develop instance

[2021-08-23 10:13] densen45 commented on #33884
I cannot reproduce the issue on 2.4-develop instance.

[2021-08-23 10:13] densen45 commented on #33884
@magento give me 2.4.2 instance

[2021-08-23 10:25] densen45 commented on #33884
I'm closing this issue because I cannot reproduce it on 2.4-develop and 2.4.2 instances.

[2021-08-23 10:26] onlinebizsoft commented on #32751
Can you take a look at @mrtuvn @ihor-sviziev ?

[2021-08-23 10:29] onlinebizsoft commented on #25343
@kartikmaniyar @ladonenko

[2021-08-23 10:42] dtamajon commented on #30214
I confirm the bus as explained by @tuanpt-0634.

I don't know the effect of rolling back the change in that particular line for the whole project but for filtering orders works properly.

[2021-08-23 10:45] bikash-webo commented on #23969
@matthiashamacher did you found any technique to override base price when tier prices is higher than base price?

[2021-08-23 10:56] mrtuvn commented on #33881
better report issue in [https://github.com/magento/magento2-page-builder/issues](pagebuilder repo)

[2021-08-23 10:59] engcom-Lima commented on #33763
Hi @webtekindo,

Since the number of configurable products on 2.4 develop instance with sample data is not as much so wanted to check with you if there is any other way we can reproduce this on Magento 2.4-develop instance ?

Here is what we tried as of now:
1. We reindexed catalog_product_price with sample data and reindexing worked fine.

So please check on 2.4 develop instance if you are gettin

[2021-08-23 11:06] bikash-webo opened #33887 "Set tier prices greater than base price"
### Summary (*)

Currently the base price overrides the tier price if the tier price is greater than base price. How can we override this feature?
Magento: 2.4.1

### Examples (*)

Steps to reproduce:
1. Set base price of any product to 20.
2. Set price of any tier group to 25.
3. Price on website to that tier group shows 20.
4. Expected result: 25. Output: 20

### Proposed solution

---
Please pr

[2021-08-23 11:07] engcom-November commented on #31555
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
1. Create an order with an in stock product and shipping method of carrier that is able to print shipping labels (Ex: DHL)
2. Set quantity of product to 0 from Admin - Catalog - Edit Product - Update Quantity to 0 and save
3. Reindex and clear cache
4. Go to Admin - Sales - Orders - View order and c

[2021-08-23 11:27] engcom-Lima commented on #33881
Hi @SkullXA,

The information you provided is not enough to reproduce this issue on Magento.

In order to reproduce this, please provide below information:
1. Steps to reproduce on Magento 2.4-develop instance.
2. Expected and Actual results.

Please provide necessary screenshots. And if the issue is of Magento Page Builder, please report it on repo https://github.com/magento/magento2-page-builder

[2021-08-23 11:33] paresh6002 opened #33889 "when old media gallery is hidden and there are more than 11 items in the content menu, the submenu title doesn't show."
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1.Create any 3 submenus with titles under the content menu. Like below screenshot

![screenshort-magento-1](https://user-images.githubusercontent.com/59193951/130437923-86881a84-0f90-440b-a3d0-0721c881c2d6.png)

2. Open admin panel

3. Open configuration and navigate to this setting system→media gallery and set to “yes ” on this se

[2021-08-23 12:20] engcom-Echo commented on #33879
Hi @vini1996,
We tried to reproduce this issue on Magento **2.4-develop** branch & were unable to do so. According to your steps to reproduce, we tried to login to  the admin panel of a fresh magento installation and was successfully logged in & taken to the dashboard.
So kindly recheck this issue on Magento 2.4-develop branch and if the issue is still reproducible or if you feel that we need to t

[2021-08-23 12:38] engcom-Delta commented on #33846
Hi @mattdifferentdog,

Thank you for logging an issue. Kindly see if you can provide Summary of the issue, steps to reproduce and expected results.

[2021-08-23 12:44] engcom-Delta commented on #33760
Hi @EliminatorRC-Christian,

Hope this issue is resolved , if not , kindly provide issue description , steps to reproduce and expected results.

Thanks

[2021-08-23 13:06] hostep opened #33890 "We should be able to generate new storeviews and expect them to exist while executing data patches during the installation of a Magento shop"
### Summary (*)
We have a specific case where we want to run data patches while looping over storeviews during `bin/magento setup:install`, and we expect that the storeviews that are defined in the `app/etc/config.php` file should already exist in the database before the data patches are being run.

We can accomplish this during `bin/magento setup:upgrade` when the database already exists and afte

[2021-08-23 13:31] Kannakiraj123 commented on #33799
@magento give me 2.4-develop instance

[2021-08-23 13:35] vahir2016 opened #33891 "magento/module-sales-archive afterGetIds memory limit error"
### Preconditions (*)

1. Magento Enterprise 2.3.4

### Steps to reproduce (*)

1. Get about 5 millions orders in sales_order
2. Get about 3 millions orders in magento_sales_order_grid_archive
3. Try to run cron sales_grid_order_async_insert

### Expected result (*)

1. Grid reindex without error

### Actual result (*)

1. Php memory limit exception

---
Please provide [Severity](https://devdocs.m

[2021-08-23 13:52] engcom-Hotel commented on #33823
@magento give me 2.4-develop instance

[2021-08-23 13:56] densen45 commented on #33884
@magento give me 2.4.2 instance

[2021-08-23 14:19] Kannakiraj123 commented on #33867
@magento give me 2.4-develop instance

[2021-08-23 14:23] densen45 commented on #33884
I have now been able to reproduce the problem on a 2.4.2 instance. The key was to enable the Single-Store mode.

[2021-08-23 14:39] engcom-Echo commented on #33873
@magento give me 2.4-develop instance

[2021-08-23 14:48] rush4u commented on #33134
Hi, im in the process of migrating a store from 1.7 to 2.4, almost ol of our requirements are done already, but this issue is happening to us and we cannot be on production without this being resolved, Please help fix this issue

[2021-08-23 14:56] birdman002 commented on #33754
We came across this issue when we upgraded I ended up removing the `payment/paypal_express_bml/active` from the `core_config_data` table.

The core is bombing on this because it is trying to explode one the `_` on the last param. Since active doesn't have a `_` it fails

[2021-08-23 15:18] hostep commented on #33754
A fix landed in https://github.com/magento/magento2/commit/5753111dc7ba1dca2ef0ca98f7d0abac488ebbb2

Also this ticket is a duplicate of https://github.com/magento/magento2/issues/33678, which contains some other interesting comments.
We should close this one, @engcom-Lima, could you do that? 🙂

[2021-08-23 15:47] DiegoSana commented on #22762
@magento-engcom-team give me 2.4 instance

[2021-08-23 16:32] JeffersonTeixeira commented on #33869
I reported this issue before It was closed with no solution:
[https://github.com/magento/magento2/issues/30211](https://github.com/magento/magento2/issues/30211)

[2021-08-23 17:04] JeffersonTeixeira opened #33893 "Swatch behavior becomes annoying when user want to see all product images before choose an option"
### Summary (*)
About the configurable product, it is very comfortable to the user navigate between all images product before select an option, but may be confusing show all images when user has an option selected.
Swatch behavior becomes annoying when user want to see all product images before choose one, further if its a dropdown.

### Examples (*)
Currently all images are not displayed when use

[2021-08-23 23:37] BowenLi0214 commented on #11372
issue still exists

[2021-08-24 04:24] engcom-Bravo commented on #33422
The issue is confirmed on 2.4-develop branch.
Here are the steps to reproduce the issue.

1. Create an instance of Magento\Framework\Convert\Excel with an ArrayIterator over an array containing a field
2. Call convert or write on the object.
3. Try opening the resulting file with a current version of Microsoft Excel. It will refuse to open the file.

Sample code
[code]

Generated file should conta

[2021-08-24 04:39] Kannakiraj123 commented on #33867
@magento give me 2.3.5 instance

[2021-08-24 04:43] webtekindo commented on #33763
@engcom-Lima if you run the index this will generate queries like this:

`SELECT le.entity_id, i.customer_group_id, i.website_id, MIN( final_price ), MAX( final_price ), MIN( tier_price ) FROM catalog_product_index_price_replica AS i INNER JOIN catalog_product_super_link AS l ON l.product_id = i.entity_id INNER JOIN catalog_product_entity AS le ON le.entity_id = l.parent_id INNER JOIN cataloginven

[2021-08-24 04:59] engcom-Echo commented on #33820
According to MDN Web docs, Creating separate paragraphs of text using <br> is not only bad practice, it is problematic for people who navigate with the aid of screen reading technology. Screen readers may announce the presence of the element, but not any content contained within <br>s. This can be a confusing and frustrating experience for the person using the screen reader. Hence we can consider

[2021-08-24 05:00] vini1996 commented on #33879
@engcom-Echo After disabling the Magento_Csp module works fine for me, if i enable that module again unable to login to admin panel.

[2021-08-24 05:28] densen45 commented on #33884
@magento give me 2.4-develop instance

[2021-08-24 05:32] engcom-Echo commented on #33822
Hi @sych74
Thanks for reporting the issue.
We checked on your issue. The **queue_poison_pill** table will always have a single version entry, which is basically just a random hash. If some configuration value gets changed using the Magento backend, the poison pill version is changed. The running consumer processes check on this version, but only when a new message is in the queue. So in this case

[2021-08-24 05:40] densen45 commented on #33884
I'm still not able to reproduce this issue on a 2.4-develop instance. Enabling Single-Store mode does not cause this problem. However, on a 2.4.2 instance, the problem still occurs.

[2021-08-24 05:45] engcom-Echo commented on #33887
Hi @bikash-webo
Please update the issue description with **Preconditions**, **Steps to reproduce**, **Expected** result, **Actual** result. So that we can verify your issue.
Thank you.

[2021-08-24 06:01] engcom-Echo commented on #33889
@magento give me 2.4-develop instance

[2021-08-24 06:17] Kannakiraj123 commented on #33867
@magento give me 2.4-develop instance

[2021-08-24 06:38] oneserv-heuser commented on #33869
@JeffersonTeixeira The classical stale-bot treatment

How did you fix it? Did you use the fix @ksenia-zlotin provided?

[2021-08-24 06:51] oneserv-heuser commented on #33869
For anyone stumbling across this, here is a temporary solution:
[code]

[2021-08-24 07:57] densen45 commented on #33884
I have found the issue #25190 which provides the answer and the solution for this issue here in https://github.com/magento/magento2/issues/25190#issuecomment-593350246.

I have checked the current 2.4-develop code and the three lines mentioned in the linked comment above were removed in this commit: 494eb40eb236b9874fba78588fb3bf86b6525d65
Thus, I assume that removing these lines will not affect a

[2021-08-24 07:57] #33884 closed, assigned to engcom-November

[2021-08-24 08:48] #33626 closed, assigned to andrewbess

[2021-08-24 08:52] t-heuser opened #33894 "Passwort request token cannot be passed as provided"
### Preconditions (*)

1. Magento 2.4.3
2. Customer Account

### Steps to reproduce (*)

1. Execute the `requestPasswordResetEmail` mutation
2. Click on the link you'll receive, it looks like this:
  `https://localhost/customer/resetpassword?token=3DNOQwdipYtLgFjSpnwAz59CDBCFECLCVt`
3. Copy the token
4. Execute the `resetPassword` mutation with the token

### Expected result (*)

1. Success!

###

[2021-08-24 08:52] oneserv-heuser commented on #33894
@magento give me 2.4-develop instance

[2021-08-24 08:55] engcom-Echo commented on #33697
This issue is reproducible on **2.4-develop** branch, with the given steps to reproduce.
Would like to highlight few points w.r.t issue
1. The Error message displayed to the user "The shipping method is missing. Select the shipping method and try again." , seems very confusing from user perspective, considering the fact that the user had already selected his/her shipping method on the previous(shi

[2021-08-24 09:04] oneserv-heuser commented on #33894
Well, cannot test it as the instance doesn't send emails...

[2021-08-24 09:12] oneserv-heuser commented on #33894
Found the issue, it's our email slurping program, which destroys the email and adds 3D. So not magentos fault.

[2021-08-24 09:12] #33894 closed, assigned to nobody

[2021-08-24 09:16] andrewbess commented on #33777
Hello @anzin
Thank you for your investigation.
Great job.

[2021-08-24 09:16] #33777 closed, assigned to anzin

[2021-08-24 09:16] engcom-Echo commented on #33887
@magento give me 2.4-develop instance

[2021-08-24 09:26] Kannakiraj123 commented on #33867
@magento I am working on this

[2021-08-24 10:09] engcom-November commented on #33548
Verified the issue again after upgrading Magento 2.3.2 version to 2.4.2 version and cannot able to reproduce this issue:
**Steps performed:**
Installed 2.3 version using composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.3.2
Login to Admin - Catalog - Categories - Created multiple Root categories and Sub Categories
Admin - Catalog - Products - Ad

[2021-08-24 10:21] yogicse commented on #33861
@ihor-sviziev

I checked this with the  2.4-develop  branch here it gives warnings instead of fatal errors.

`
155) Magento\Framework\ObjectManager\Test\Unit\Config\XsdTest::testSchemaCorrectlyIdentifiesInvalidXml with data set "virtualtype with empty_type" ('<config xmlns:xsi="http://www...onfig>', array('Element 'virtualType', attrib...e: 2\n', 'Element 'virtualType', attrib...e: 2\n'))
Failed a

[2021-08-24 10:29] engcom-Lima commented on #33736
Hi @leeroybrun,

Thank you for reporting the issue.

I tried to reproduce this on 2.4-develop instance without Amasty Shipping Restrictions but the SalesRules are working as expected.

Here is what I tried on Magento 2.4-develop version:
1. Created a new Cart Price Rules with Found condition for attribute Size(Children Only) set to XS.
2. I tried to use the coupon for products with any other size

[2021-08-24 10:51] moonbutt20 opened #33895 "unable to run any magento commad"
Hello,

when i run any commad this error comes.
"[root@server httpdocs]# php -dmemory_limit=1G bin/magento indexer:reindex
Magento supports 7.0.2, 7.0.4, and 7.0.6 or later. Please read <a href="http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements.html" target="_blank" class="redactor-autoparser-object">http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements.html"

[2021-08-24 11:22] engcom-Lima commented on #33553
@f1-outsourcing,

We have looked at your query and suggestion. This looks like an architecture related query which you can write on the below link:
https://github.com/magento/community-features

This link is for development related issues only so unless you have any dev related issue, we'll have to close this thread. Please update.

[2021-08-24 11:23] engcom-November commented on #33764
@MikeD-J , can you please confirm from where you are getting this url from store fonrt
https://www.quooker.nl/catalog/product/compare/
Thank you.

[2021-08-24 11:44] engcom-November commented on #33880
Hi @Skyfly2021,

Verified this while upgrading from Magento 2.4.2 to 2.4.3 and the issue is not reproducible with Composer 2.x version.
As per the devdocs, compatible/supported Composer version for Magento 2.4.2 or later versions is "Composer 2.x version". Kindly refer this [link](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) of system requirements and try upgrading

[2021-08-24 11:52] engcom-Lima commented on #33496
Hi @cse00241,

I think the issue is related to Square Payments since translation code is inside their module files. You can check its compatibility with Magento2.

If you find its Magento issue, please update on the below queries:
1. If the issue is reproducible on 2.4-develop instance. If yes, please provide ‘Steps to reproduce’ this issue.
2. If Square Payments module is Open Source ?

[2021-08-24 12:19] engcom-Echo commented on #33887
Hi @bikash-webo
According to magento documentation **Tier pricing** lets you offer a **quantity discount** from a product listing or product page in the storefront. So when base price is given to be lower than the tier prices that you have set (which are expected to be discounts & hence lower than base price), it will pick up the lowest price at front end. This is the expected behaviour that magen

[2021-08-24 12:24] engcom-Echo commented on #33895
Hi @moonbutt20
Please let us know more details about the issue you are facing, like the exact command you are trying to hit & the response you are getting. Do try to change your memory limit (may be to 5G) & re run the command.
Also please update the issue descriptions with Preconditions, Steps to reproduce, Expected result, Actual result.

Thank you.

[2021-08-24 12:31] engcom-Lima commented on #33267
Hi @gianstraf,

Can you please elaborate on Step 2. Once we do the Step1, It is incomplete like how to check the issue on BE or FE or even on CLI ?

[2021-08-24 12:36] bernd-reindl opened #33896 "Refresh Lifetime Statistics destroy statistic data"
### Preconditions (*)
Magento 2.4.x

### Steps to reproduce (*)
1. View multiple products as a guest or customer on frontend from different browsers so there will be multiple entires in report_event and report_viewed_product_index table.
2. If already have visitor logs and data in report_event and report_viewed_product_index tables that will be great.
3. Login into Admin and refresh lifetime stati

[2021-08-24 12:41] groomershop-mt commented on #33798
We have the same issue - we can confirm it on our stage/production nodes, but on anouther dev node it doesn't happen (with the same PHP version, the same DB, the same Magento, etc. - one diffrence is e.g. in operating system Ubuntu/CentOS).

In result, after changing the currency by client on storefront, for configurable products the JS change prices to 0.00 €. Is issue occur on Magento 2.4.3 (aft

[2021-08-24 12:43] jtomaszewski commented on #33856
To make it work on Magento 2.4.3 without having to switch to unstable develop branch, you can create a `patches/magento-disable-currency-number-formatter.patch` file with following content:

[code]

And then add the following to your `composer.json`:

[code]

[2021-08-24 12:47] engcom-Echo commented on #33889
@magento give me 2.4-develop instance

[2021-08-24 12:51] groomershop-mt commented on #33798
Me have published patch in:
https://github.com/magento/magento2/issues/33856

[2021-08-24 12:54] MikeD-J commented on #33764
Nowhere, I was checking some meta tags on product compare pages and I directed to there directly in the url-bar by accident. That's when I got the unexpected behavior as described in this issue above.

[2021-08-24 12:55] onlinebizsoft commented on #33798
@engcom-November since it is valid issue on 2.4.3 and 2.4-develop after merging 2.4.3 so the ticket should be re-opened? This is a quite bad bug.

[2021-08-24 12:56] emiliatereanu commented on #29938
@magento give me 2.4.1 instance

[2021-08-24 12:56] eduard13 commented on #33730
### Update
We'll keep using the jQuery.metadata in the latest version of `jQuery.validate`. I suggest getting back to this issue later on, when we'll start migrating the `metaData` validation rules from code to be compatible with the latest jQuery.migrate version.

Closing it for now.

Thank you.

[2021-08-24 12:56] #33730 closed, assigned to eduard13

[2021-08-24 13:03] engcom-November commented on #31555
Verified the scenario again by putting back the same Product quantity to Stock and created Shipment again for the same order with Shipping Label - Shipment is created with new Shipping Label and DB tables are updated as expected - **No issue.**
Issue observed only when product Quantity is 0 while creating Shipment with Shipping Label - Shipment is failing but Shipping Label is getting created.
**S

[2021-08-24 13:11] teodoramoldovan commented on #31758
@magento give me 2.4.1 instance

[2021-08-24 13:17] teodoramoldovan commented on #29754
@magento give me 2.4.1-develop instance

[2021-08-24 13:47] Den4ik commented on #33861
@yogicse I checked tests on 2..4-develop and fresh 2.4.3 installation and reported fatal error is not reproduced on both installations.

**2.4.3 results**
[code]

**2.4-develop results**
[code]

Please try to recheck your installations and changed files.
Feel free to reopen issue if you will have additional information

[2021-08-24 13:48] zlep commented on #33798
@groomershop-mt Thanks, so where does this bug come from? And will it be fixed in the near future @engcom-November
I'm planning to go live with my shop in the next days and I was hoping I could start with 2.4.3.

[2021-08-24 13:49] #33861 closed, assigned to Den4ik, ihor-sviziev

[2021-08-24 14:07] softinfoline commented on #33798
Yes thats bug and price show zero when using other locale. Thats affect product view & checkout page. Issue related to Currency.php file. I have already fixed this issue.

[2021-08-24 14:44] duckchip commented on #31453
I can reproduce this problem on 2.4.2-p2

[2021-08-24 14:46] vertic4l commented on #33854
Any update to this very important issue?

[2021-08-24 15:31] UsmanIftikhar881 opened #33897 "Session size of 276672 exceeded allowed session max size of 256000 - but in Magento 2.4.3 backend"
After upgrading to Magento 2.4.3, when we log into backend (admin panel), everypage hangs/is loading about 30 seconds.

In logs we see exceptions: Session size of 276672 exceeded allowed session max size of 256000.

We are using Redis for sessions.

Does anybody else have similar issue after upgrading to Magento 2.4.3?

[2021-08-24 15:58] ihor-sviziev commented on #33798
This issue should be rechecked

[2021-08-24 16:06] nureintropf commented on #33897
Hi @UsmanIftikhar881 you get configure this
![grafik](https://user-images.githubusercontent.com/19589209/130651168-b81ed86f-b5a2-46e3-a885-46d91b3e2490.png)

[2021-08-24 16:18] pmonosolo commented on #33760
Maybe EDIT HTML should be next to EDIT WITH PAGE BUILDER? This is so you dont have to click through 2-3 times just to get to EDIT WITH HTML flow every time?

![image](https://user-images.githubusercontent.com/66754347/130652621-12efeff8-ea6d-4723-8532-89a63cbe6e31.png)

[2021-08-24 16:19] pmonosolo commented on #33864
Also, maybe EDIT HTML should be next to EDIT WITH PAGE BUILDER? This is so you don't have to click through 2-3 times just to get to EDIT WITH HTML flow every time?

![image](https://user-images.githubusercontent.com/66754347/130653002-f6bccfdc-dcf7-4c8a-862f-32a1e5fe1765.png)

[2021-08-24 16:40] bikash-webo commented on #33887
If we want to modify this feature. what should we do?

On Tue, 24 Aug 2021, 6:04 pm Aparna Sreekumar, ***@***.***>
wrote:

[2021-08-24 17:50] yvikt commented on #33879
Hi.
Who could help me to solve this - I try to login as admin and get this message
"The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later."

[2021-08-24 18:45] #30218 closed, assigned to SaftaArtem

[2021-08-24 19:04] schensley commented on #30835
@magento give me 2.4.3 instance

[2021-08-24 19:40] pmonosolo commented on #33810
This HAS got to be a priority. Its basically making catalog browsing unusable!

[2021-08-24 21:45] #33838 closed, assigned to sdzhepa

[2021-08-24 21:46] #33836 closed, assigned to sdzhepa

[2021-08-24 22:22] craigfleming commented on #33897
@UsmanIftikhar881 - Yes, I experienced this issue on my local Docker development system after upgrading to v2.4.3.

Follow the advice given by @nureintropf.

If you can not access the admin to update the values, use the following CLI commands:

`bin/magento config:set system/security/max_session_size_admin 512000`
`bin/magento config:set system/security/max_session_size_storefront 512000`

Clean y

[2021-08-24 23:03] abude opened #33899 "Billing Address Form does not preload billing address after page refresh when Display Billing Address On is set Payment Page"
### Preconditions (*)
1. Magento 2.4.2
2. Vanilla, clean install with sample-data

### Steps to reproduce (*)
1. Go to admin -> store -> config -> sales -> checkout and set `Display Billing Address On` to `Payment Page`
2. Go to frontend -> add any product to the cart
3. Go to checkout and fill email, shipping address and choose shipping method
4. Go to payment step, uncheck `My billing and shippi

[2021-08-25 01:01] mrtuvn commented on #33897
Please search issues first for avoid same issue here https://github.com/magento/magento2/issues/33748

[2021-08-25 01:35] mrtuvn commented on #33680
@magento-engcom-team Could you assist with description of internal ticket?

[2021-08-25 01:58] sanaeefar-saeed commented on #31999
use email_order_set_template_vars_before event and put this code on your observer to solve this issue
        // Locale needs to be changed based on the order's storeId
        $storeId       = $order->getStoreId();
        $newLocaleCode = $this->scopeConfig->getValue(
            $this->localeResolver->getDefaultLocalePath(),
            \Magento\Store\Model\ScopeInterface::SCOPE_STORE,

[2021-08-25 02:06] engcom-Delta commented on #33821
Hi @sebek222 .

We tried to reproduce the issue on Magento 2.4 Develop but i could not able to select different addresses other than default Shipping address & Billing address while placing an order. Getting same address for Billing & Shipping.
![shippingAddresswtihoutVat](https://user-images.githubusercontent.com/51681379/130714275-2760bece-661f-421c-8fb8-645dcd9e3b02.JPG)

Hence , request to hel

[2021-08-25 02:12] engcom-Delta commented on #33872
Hi @oneserv-heuser,

Thanks for logging an issue. Kindly see if you can provide list of functional the scenarios.
Hence, added the label 'Needs Update'

Thanks

[2021-08-25 03:02] moonbutt20 commented on #33895
thanks for responding. yes i also change the memory limit but same issue.

i am using Magento 2.3 and using plesk hosting they update version into [php](url) 7.1 and i used winscp to run commands.
i checked the version using `php --version` this shows 5.4 php version installed
"Magento supports 7.0.2, 7.0.4, and 7.0.6 or later. Please read <a href="http://devdocs.magento.com/guides/v2.2/install-gd

[2021-08-25 04:15] engcom-Lima commented on #33897
Hi @UsmanIftikhar881,

As this issue is duplicate to #33748 which is also open, we are closing this issue. Please follow up on the other thread for the solution.

[2021-08-25 04:15] #33897 closed, assigned to engcom-Lima

[2021-08-25 04:44] engcom-Echo commented on #33887
Hi @bikash-webo ,
Unfortunately I cannot help you with a solution to modify this feature, May be I can suggest you to develop a custom extension to override this feature, without modifying the core code. You could take up suggestions from our public forums.
As this is an Issue confirmation & triage board & this ticket, that you have opened is **not an issue** & is an expected behaviour of magento,

[2021-08-25 04:44] #33887 closed, assigned to engcom-Echo

[2021-08-25 04:45] engcom-Alfa opened #33900 "but to fix https://github.com/magento/magento2/pull/33537"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-25 04:58] engcom-Echo commented on #33893
Hi @JeffersonTeixeira
Thanks for reporting this issue.
Could you please help us by adding the **Steps to reproduce** the issue that you are facing , **actual** & **expected** results. If you could also attach some screenshots of the issue that you are facing, it would definitely help us better to look into your issue.
Thank you.

[2021-08-25 05:07] engcom-Echo commented on #33823
Hi @Dren7755
Thanks for reporting this issue.
We are able to reproduce this issue on **2.4-develop** branch.
Steps to reproduce
1. On a fresh instance of magento 2.4-develop, create multiple stores along with its storeviews.
2. On Adminpanel navigate to **Stores**->**Configuration**->**General**->**Web**->**Url Option**
 and set **Add Store Code to Urls** to **Yes**
3. Run REST API request to **cr

[2021-08-25 05:31] engcom-Lima commented on #33891
Hi @vahir2016,

Thank you for reporting the issue.

I tried to reproduce this issue on 2.4-develop instance and cron sales_grid_order_async_insert is running as expected.

For further analysis, can you please update the below queries:
1. Can you please check and confirm if this issue reproducible on 2.4-develop instance with the data that you have ?
2. How much time does the cron is taking and wha

[2021-08-25 05:52] ihor-sviziev commented on #32751
Hi @onlinebizsoft,
Could you provide more information on how to reproduce the issue, what is expected, and actual results? Some screenshots or logs would be beneficial.

[2021-08-25 05:55] ihor-sviziev commented on #33856
Hi @jtomaszewski,
Could you provide some steps to reproduce the issue on clean magento installation?
On which PHP version is it happening?
Could you provide the output of `php -i` where the issue reproducing?

[2021-08-25 06:05] SilinMykola commented on #33823
@magento I am working on this

[2021-08-25 06:56] oneserv-heuser commented on #33872
@engcom-Delta Why should I provide functional scenarios? There is a obvious bug in the code base which also violates coding standards as in the interface [OrderAdapterInterface](https://github.com/magento/magento2/blob/ed5c06d68ec4bf77ad6c03e0af28a133b1193b66/app/code/Magento/Payment/Gateway/Data/OrderAdapterInterface.php) (which the [QuoteAdapter](https://github.com/magento/magento2/blob/ed5c06d6

[2021-08-25 07:32] emiliatereanu commented on #29938
@magento give me 2.4.3 instance

[2021-08-25 07:38] engcom-Echo commented on #33889
Hi @paresh6002
Thanks for reporting this issue. I was able to reproduce this issue on **2.4-develop** branch with the given steps to reproduce in the issue description.
Would like to highlight few points w.r.t issue.
1. When  **Stores -> Settings -> Configuration -> Advanced -> System -> Media Gallery -> Enable Old Media Gallery** -> set to **NO** - Then the newly added custom menu items are visib

[2021-08-25 07:45] tuyennn opened #33901 "File stat or filesize validation of File Attribute leading exception while saving model"
### Preconditions (*)

1. Magento 2 all versions
2.

### Steps to reproduce (*)

1. Create an attribute for customer which 'input' => 'file',
[code]
2. Try to upload for it a value(a file - foo.jpg for example)
3. Save the customer
4. Manually remove the local file on server (foo.jpg)
5. Save the customer again

### Expected result (*)

1. The customer could be saved even the value or the local fi

[2021-08-25 07:58] engcom-Echo commented on #33873
@magento give me 2.4-develop instance

[2021-08-25 09:18] srivats-ey commented on #33255
@magento-engcom-team assign this to me

[2021-08-25 09:34] woutersamaey commented on #16388
Are you guys taking this issue dark?

[2021-08-25 09:53] onlinebizsoft commented on #32751
@ihor-sviziev I have edit the description to add more information

[2021-08-25 09:56] quisse commented on #16388
@woutersamaey Seems like they will look into this issue (after only 3y 🎉). It's added to the "High Priority Backlog". I'm curious!

[2021-08-25 10:09] engcom-November commented on #33258
Verified the issue on Magento 2.4-develop branch having EE and B2B Modules enabled and the issue is not reproducible.
**Steps performed:**
Enable Quick order in B2B configuration (Stores - Configuration - General - B2B Features - Enable Quick Order and save)
Create a Gift Card from Admin - Catalog - Prodicts - Add Gift Card and Save
Reindex and Clear Cache
Front end - Quick Order - Enter Product S

[2021-08-25 10:15] ihor-sviziev commented on #32751
@sidolov @gabrieldagama @sivaschenko, I think this should be a high priority, as missing the exception stack trace is a terrible thing for debugging issues on production.

PS: we have a custom logger that includes the exception stack trace. That's why I didn't notice it earlier.

[2021-08-25 10:46] engcom-Lima commented on #33613
Hi @ihorvansach,

I have gone through the proposed solution and comments from other members on the fix #33614 and I also think the current one will work better since deleting directly from a hugh table could take a lot more time than deleting by parts.

So for further analysis, please provide the below details:
1. Have you checked how much time existing solution is taking for cron execution ?
2. H

[2021-08-25 11:32] engcom-Echo commented on #33889
@magento give me 2.4-develop instance

[2021-08-25 11:43] n2diving-dgx commented on #33879
@vini1996   Try increasing Max Session Size to 512000 and then re-enable CSP and see if problem is resolved.

Store> Configuration> Advanced> System> Security> Max Session Size in Admin

[2021-08-25 11:47] #33745 closed, assigned to nobody

[2021-08-25 12:37] engcom-November commented on #33798
Verified this issue again on Magento 2.4-develop and 2.4.3 version as well but unable to reproduce the issue on all Stores on both the versions:
**Steps performed:**
Default Country Options is set to US, Locale - Germany
Created Configurable Product from Admin (Available on all Store Views)
Currency setup to EURO for all Store views
reindex and clear cache
Viewed the Product on frontend - All Stor

[2021-08-25 12:42] engcom-Echo commented on #33873
Hi @webgility-amazonapi
I tried to reproduce this on **2.4-develop** branch & was unable to do so.
Here are the steps followed.
1. On a fresh instance of magento 2.4-develop, Generate Admin access token using POST request: `/rest/default/V1/integration/admin/token`
2. Send a POST request to Add or update product prices: `/rest/default/V1/products/base-prices`
[code]

3. Hit the below GET request:

[2021-08-25 12:50] Hexmage opened #33905 "[GraphQl 2.4.2] subtotal_with_discount_excluding_tax is calculated using discount including tax"
### Preconditions (*)

1. Magento 2.4.2
2. tax/calculation/price_includes_tax = including tax
3. tax/calculation/apply_after_discount = after discount
4. tax/calculation/discount_tax = including tax

### Steps to reproduce (*)

1. Create a cart and add  a product that's worth 1000 (incl tax) with a tax% of 25%.
2. Set a discount on the cart for 10.
3. Do the following graphql request
[code]

### E

[2021-08-25 13:06] tomisavolainen commented on #22272
We have this issue in Magento 2.3.6-p1

[2021-08-25 13:09] Skyfly2021 commented on #33880
![image](https://user-images.githubusercontent.com/53896477/130796261-5064481e-907c-4861-a5a9-896ffdff63bf.png)
Composer 2 is not compatible with magento 2.4.2-p1, please see the attached picture.

[2021-08-25 13:12] vincent2090311 commented on #33745
Hi
Can you provide a patch for this issue?

[2021-08-25 13:19] nuzil commented on #33890
Hi @hostep, agree, its a valid point.

[2021-08-25 13:31] mher7 opened #33906 "Product Prices are shown as zero (0,00)"
**Summary of the issue:**
Correct prices are initially loaded but then are shown as 0,00 €.
Happens on category page, product page as well as in the cart. In cart order total is also shown as 0,00 €.

**Information on your environment:**
We are running MariaDB 10.3 and PHP 7.3 for the test. I know system requirements are a little higher. But I don’t think the problem is connected to DB or PHP-Vers

[2021-08-25 14:26] ihor-sviziev commented on #33906
Hi @mher7,
This is a duplicate of https://github.com/magento/magento2/issues/33798.

We weren't able to reproduce it https://github.com/magento/magento2/issues/33798#issuecomment-905464086 in the past. Maybe, you could provide some additional info to reproduce the issue?

[2021-08-25 14:26] #33906 closed, assigned to ihor-sviziev

[2021-08-25 14:29] bertterheide commented on #13421
I'm running Magento 2.4.2-p1 and I ran into this issue today. It seems to be caused by `Magento\Bundle\Model\Product\SaveHandler::execute`. This method does not run when the bundle product options are empty. Removing the ` || empty($bundleProductOptions)` check fixes the issue. Could you please remove this check?

[2021-08-25 15:05] Jenniferdb1 opened #33907 "Magento biometrices/report builder pages are unresponsive"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-25 15:11] #33907 closed, assigned to nobody

[2021-08-25 15:13] Jenniferdb1 commented on #33907
1. I open pages and log in.
2. I select dashboard
3. I select add report
4. Unresponsive
5. I expect it to work

[2021-08-25 15:35] m2-assistant[bot] opened #33908 "[Issue] Fix "area code is not set" in all commands that depend on Payment/Helper/Data"
This issue is automatically created based on existing pull request: magento/magento2#33726: Fix "area code is not set" in all commands that depend on Payment/Helper/Data

---------
### Description (*)
The Helper Magento\Payment\Helper\Data creates a new layout in the constructor. This is unneccessary and creates issues when   the helper is used without specifying the area code previously (eg in co

[2021-08-25 16:54] #33853 closed, assigned to eduard13

[2021-08-25 16:55] yvikt commented on #33879
can't login)

[2021-08-25 18:53] jglassmaker opened #33909 "[Issue] Product event hooks not fired with multiple reorder usage"
The `sales_quote_add_item` event is not fired when using the customer "Reorder" link more than once. Custom business logic is not performed consistently when bound to add item to cart events. Customers who click "Reorder" more than once to "double" their previous order result in malformed carts because our business logic is only executed the first time. Other product events are also not firing - t

[2021-08-25 19:21] RedBeardedVikingDK opened #33910 "[Issue] Product Price Showing ZAR 0.00 when South African Currency Used"
### Preconditions (*)
    Magento 2.4.3
    PHP Version 7.4.22
    Elasticsearch 7.9
    Vanilla, clean installation with sample-data

### Steps to reproduce (*)

1. Go to Admin -> Store -> Configuration -> Currency Setup -> Set Base Currency to South African Rand
2. Go to Admin -> Store -> Configuration -> Currency Setup -> Set Default Currency to South African Rand
3. Reindex and Flush Cache

##

[2021-08-25 19:48] chequille opened #33911 "Widget New Products showing ADD to cart even if salable QTY is 0"
### Preconditions (*)

1. Magento 2.4.3
2. Using LUMA theme

### Steps to reproduce (*)

1. Insert the following widget on a CMS page: {{widget type="Magento\Catalog\Block\Product\Widget\NewWidget" display_type="new_products" show_pager="0" products_count="4" template="product/widget/new/content/new_grid.phtml"}}
2. Set a few products as new
3. Set "Display produts out of stock" to YES
2. Make an

[2021-08-26 04:48] #33765 closed, assigned to engcom-November

[2021-08-26 06:49] vk44295 opened #33913 "The "magento/magento-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option."
### Summary (*)
Unable to update the magento version 2.3.2 to 2.4x

### Examples (*)
composer require magento/composer-root-update-plugin=~1.0 --no-update

when i run this command getting issue like plugin was skipped.

Error Shown:
The "magento/magento-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0").

[2021-08-26 07:00] t-heuser opened #33914 "system_smtp_disable configuration is saved in config.php and not in env.php"
### Summary (*)

The value for system_smtp_disable is saved in the config.php and not in the env.php. That means I can either disable email communication for all our systems or none.
I'd like to disable the email communications for our automated testing system as we don't want it to send any emails. I cannot do this as system_smtp_disable is saved in the config.php.

### Proposed solution

Move sy

[2021-08-26 07:35] #32940 closed, assigned to engcom-Lima

[2021-08-26 07:36] #33400 closed, assigned to engcom-Delta

[2021-08-26 07:37] #33634 closed, assigned to engcom-Delta

[2021-08-26 07:37] #33642 closed, assigned to engcom-Delta

[2021-08-26 07:38] #33665 closed, assigned to engcom-Delta

[2021-08-26 07:39] #33616 closed, assigned to engcom-Delta

[2021-08-26 07:39] monteshot opened #33915 "Price not depends from website scope when base price updating via REST api"
### Preconditions (*)

1. Magento 2.4.2-p1
2. Get Admin token before using base price endpoint

### Steps to reproduce (*)

1. Set REST endpoint using code for example https://aquapolis-migua.dev.perspective.net.ua.local/rest/ru/V1/products/base-prices where '/ru/' - code
2.Put Data in body for example
`{
  "prices": [
    {
      "price": 14,
      "store_id": 2,
      "sku": "99999",
      "exte

[2021-08-26 07:39] #33525 closed, assigned to engcom-Delta

[2021-08-26 07:40] #33670 closed, assigned to engcom-Delta

[2021-08-26 07:41] #33687 closed, assigned to engcom-Delta

[2021-08-26 07:42] #32976 closed, assigned to engcom-Delta

[2021-08-26 08:17] andrewbess opened #33916 "Refactor codebase to eliminate calls deprecated methods of the `phpunit/phpunit`"
### Description (*)
There are a lot of calls deprecated methods of the `phpunit/phpunit` in the codebase that are deprecated in v9 and will be removed in v10.
Currently it provokes warning, but it will provoke error in future.

**Method calls that should be eliminated:**

- at();
- assertFileNotExists();
- assertRegExp();
- assertNotRegExp();
- setMethodsExcept();

**Calls of the deprecated method

[2021-08-26 08:30] #33709 closed, assigned to andrewbess

[2021-08-26 08:30] #33707 closed, assigned to andrewbess

[2021-08-26 08:31] #33708 closed, assigned to andrewbess

[2021-08-26 08:32] #33596 closed, assigned to andrewbess

[2021-08-26 09:54] valdemaras-zilys-cg opened #33917 "Catalog price rule promotion information is not recorded against sales order item"
### Preconditions (*)

1. 2.2.*
2. 2.3.*
3. 2.4.2-p1

### Steps to reproduce (*)

1. Create Catalog Rule promotion
2. Place order with the product on promotion
3. Check sales_order_item DB table for the discount information recorded

### Expected result (*)

1. Columns applied_rule_ids, discount_percent, base_discount_amount, discount_amount and other discount related fields are populated with cor

[2021-08-26 13:20] #33781 closed, assigned to karyna-t

[2021-08-26 14:02] miloszowi opened #33920 "Changed repository name of one of the composer.lock included packages."
In the `composer.lock` file in current Magento 2 [codebase](https://github.com/magento/magento2/blob/2.4-develop/composer.lock#L7769) we can find module named `allure-framework/allure-php-api` which has source on `<https://github.com/allure-framework/allure-php-commons.git>`

According to this [commit](https://github.com/allure-framework/allure-php-api/commit/3e4ccbf48aedda6730227034be3505475b868e

[2021-08-26 14:49] Muhamann opened #33921 "If product is in saved quote when customer is logged in, if product is then disabled/deleted, triggers infinite database query loop in Magento/Quote/Model/Quote.php and a 503 error when customer logs back in"
Hello,

i refer back to this issue:
https://github.com/magento/magento2/issues/6144

It was closed, but after closing, me and @Sharmilasrini95 reproduced it.

It still happens in our Magento 2.3.5-p1 regularly and i then need to clean table "quote".
So all saved carts are deleted... then user with this issue can login.

Can someone please reopen the issues/6144
Thank you!

[2021-08-26 15:08] #33880 closed, assigned to ihor-sviziev, engcom-November

[2021-08-26 18:52] m2-assistant[bot] opened #33924 "[Issue] Add regions for Belarus"
This issue is automatically created based on existing pull request: magento/magento2#33922: Add regions for Belarus

---------
### Description

Add regions for Belarus

### Manual testing scenarios

1. Install Magento
2. Check table directory_country_region for Belarus regions.

### Questions or comments

### Contribution checklist
 - [ ] Pull request has a meaningful description of its purpose
 -

[2021-08-26 19:51] #33145 closed, assigned to nobody

[2021-08-26 20:08] lenaorobei opened #33925 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-26 20:21] #33925 closed, assigned to nobody

[2021-08-27 02:32] portchris opened #33926 "Magento Widgets - Cannot handle multi-dimensional arrays"
### Summary (*)
The Model's `Magento\Widget\Model\Widget::getWidgetDeclaration` only applies the `implode` function on arrays, if the values provided are nested arrays then an error is thrown. This small bug stops the ability to have dynamic UI input config rows when defining [Block Templates](https://docs.magento.com/user-guide/cms/widget-create.html#step-3-complete-the-widget-options)

### Examp

[2021-08-27 05:13] jlenzstaysafe opened #33927 "Having more than one custom option of type File does not work"
### Preconditions (*)

Magento 2.4.2 Commerce

### Steps to reproduce (*)

1. Add 2 custom options of type "File" to a product
2. Go to the frontend product page and try adding that product to cart with those 2 file options

### Expected result (*)

1. Product should be added to cart

### Actual result (*)

1. Page refreshes with product not added to cart, no error message displayed, no JS errors,

[2021-08-27 05:27] #33794 closed, assigned to engcom-November

[2021-08-27 05:38] #33754 closed, assigned to ihor-sviziev

[2021-08-27 06:07] m2-assistant opened #33928 "[Issue] [Reproducible Builds] Diff in generated/metadata between the builds"
This issue is automatically created based on existing pull request: magento/magento2#33903: [Reproducible Builds] Diff in generated/metadata between the builds

---------
Sort all configs in generated/metadata before writing to file

### Description (*)
This is a follow-up on https://github.com/magento/magento2/issues/23324 for the 2.4-develop branch.

It's really important to have [Reproducible B

[2021-08-27 06:07] m2-assistant[bot] opened #33929 "[Issue] [Performance] Fix array_merge in a loop"
This issue is automatically created based on existing pull request: magento/magento2#33904: [Performance] Fix array_merge in a loop

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a m

[2021-08-27 10:12] baoutch opened #33930 "Search results exception [prefix_search] not found"
### Preconditions (*)

1. Magento 2.4.3 install
2. Elasticsearch 7.9 install

### Steps to reproduce (*)

1. Make a search with a product name

### Expected result (*)

1. Search results displayed

### Actual result (*)

1. Empty result with exception logged in exception.log

`[2021-08-27 09:52:46] main.CRITICAL: {"error":{"root_cause":[{"type":"query_shard_exception","reason":"[match_phrase_prefi

[2021-08-27 10:45] Meberem opened #33931 "Unable to import tablerates when condition is set in config.php"
### Preconditions (*)

1. Set config.php to set carrier "tablerate" to use a set condition

My config looks like so:
[code]

### Steps to reproduce (*)

1.Upload a [tablerates.csv](https://github.com/magento/magento2/files/7066360/tablerates.csv)

### Expected result (*)

1. I am able to upload tablerates.csv

### Actual result (*)

1. Error on the Admin UI: "Something went wrong while importing t

[2021-08-27 12:12] Hexmage opened #33933 "[2.4] Elasticsearch Graphql Bundleproducts index their children url keys if children are visible."
### Preconditions (*)

1. Magento 2.4.2
2. Elasticsearch 7

### Steps to reproduce (*)

1. Create a simple product, set visibility to catalog/search and url_key to 'simple'
2. Create a bundle product, set visibility to catalog/search and url_key to 'bundle'
3. Assign the simple product to the bundle product.
4. Reindex so products are set in elastic
5. Request the following GraphQl call:
Note: Thi

[2021-08-27 12:21] m2-assistant[bot] opened #33934 "[Issue] Filter only visible and enabled products"
This issue is automatically created based on existing pull request: magento/magento2#32939: Filter only visible and enabled products

---------

### Description (*)
In the VisibilityStatusProcessor there was a filter for status and visibility using `joinAttribute` this resulted in getting all products where `status` was greater than 0 and `visibility` was greater than 0. However, the "disabled" st

[2021-08-27 13:09] davidandersson1 opened #33935 "Magento 2.4.3 Bundle Product not working with "Use Flat Catalog Product"=Yes"
**Preconditions (*)**
Magento Versions: 2.4.2

**Steps to reproduce (*)**
1. Admin - Stores - Configuration - Catalog - Catalog - Set "Use Flat Catalog Product" to Yes and Save
2. Reindex and Clear cache
3. Front-end - Open any Bundle Product - Issue: Below error message is displayed on UI

**Expected result (*)**
No Exception on UI

**Actual result (*)**
[2021-08-27 12:17:35] main.CRITICAL: Error

[2021-08-27 14:00] #12124 closed, assigned to ihor-sviziev

[2021-08-27 14:00] #15209 closed, assigned to ihor-sviziev

[2021-08-27 14:56] 0m3r opened #33936 "viewDirective doesn't work properly in graphql area"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)
1. Create a static block with the name "footer" and content like below

[code]
[Directives](https://www.atwix.com/magento-2/directives/)

2. Run graphql request (use [GraphiQl](https://devdocs.magento.com/guides/v2.4/graphql/index.html#how-to-access-graphql))
[code]

### Expected result (*)

1. I expect to see the same image URL l

[2021-08-27 15:24] bytes-max opened #33937 "ProductRepository Save with Associated Product Ids bug."
Renewal of https://github.com/magento/magento2/issues/16349 as it happens still in Magento 2.4.3.

When use $product->setAssociatedProductIds($ids), and then use ProductRepository->save($product); An exception occurs after save.
Preconditions

    Magento 2.4.3
    PHP 7.2

Steps to reproduce

    Direct Inject Magento\Catalog\Api\ProductRepositoryInterface in constructor
    create an Magento\Cat

[2021-08-27 15:33] lenaorobei opened #33938 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-27 15:36] #33938 closed, assigned to nobody

[2021-08-27 16:56] #32602 closed, assigned to sergiy-v

[2021-08-27 16:56] #33689 closed, assigned to AnnaAPak

[2021-08-27 16:56] #33839 closed, assigned to Bartlomiejsz

[2021-08-27 16:56] #33165 closed, assigned to kassner, kate-kyzyma

[2021-08-27 16:56] #33556 closed, assigned to kate-kyzyma

[2021-08-27 16:56] #33806 closed, assigned to kate-kyzyma

[2021-08-27 16:56] #32114 closed, assigned to nobody

[2021-08-27 16:56] #32381 closed, assigned to AnnaAPak

[2021-08-27 16:56] #33775 closed, assigned to kate-kyzyma

[2021-08-27 16:56] #33784 closed, assigned to kate-kyzyma

[2021-08-27 16:56] #33785 closed, assigned to kate-kyzyma

[2021-08-27 16:56] #33786 closed, assigned to kate-kyzyma

[2021-08-28 03:16] Kannakiraj123 commented on #33800
@magento I am working on this

[2021-08-28 07:28] devops724 opened #33940 ""The signature is invalid. Verify and try again." on adding searchCriteria[pageSize]=10 to products/attributes api call"
Mangeto version 2.4.3

1. create new integration in admin/admin/integration/
2. set Resource Access to all
3. set Consumer Key, Consumer Secret, Access Token, Access Token Secret  in Insomnia or postman
4. send request to /rest/V1/products/attributes?searchCriteria=0 there is not issue return first 20  attribute items
5. send request to /rest/V1/products/attributes?searchCriteria[pageSize]=10 get

[2021-08-28 09:08] mahmoudbeikhit opened #33941 "I can't login into admin after update Magento to 2.4.3: Invalid security or form key. Please refresh the page."
After updating Magento from the version. 2.4.1 to 2.4.3  i can't login to Admin Page I see below error:
Invalid security or form key. Please refresh the page.

### Preconditions (*)

1.Update Magento from version 2.4.1 to version 2.4.3
2.Error appears when login to Admin Panel.

### Steps to reproduce (*)

1.Error appears when login to admin panel After i put Login information and press sign in, a

[2021-08-28 09:16] mahmoudbeikhit commented on #33941
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-28 09:26] mahmoudbeikhit commented on #33941
@magento how i can try to update magento from 2.4.1 to 2.4.3 in develop instance? and how i can enable 2FA - Google Auth on it ?

[2021-08-28 20:45] mahmoudbeikhit commented on #33941
I have disabled 2FA and the same error appear in admin page

[2021-08-28 20:59] bytes-max opened #33942 "Cannot create (string) 5 as Attribute Option Label if Attribute Option ID = 5 exists"
### Preconditions (*)

1. create attributes via AttributeOptionLabelInterfaceFactory and AttributeOptionInterfaceFactory and persist them via AttributeOptionManagementInterface
2. create up to N attributes (amount doesn't matter much as it seems)

### Steps to reproduce (*)

1. Set up a clean instance of magento 2.4-develop.
2. Chose an attribute (eg: **climate**). Created attribute options via `A

[2021-08-29 04:21] webtekindo commented on #32836
@engcom-Hotel I tried again on last version and same result for me.

That like `unset resp.http.Link` is meant to remove Link from header, so I don't know why in your case you still see the Link header.

In our case we have Nginx SSL > Varnish > Nginx so it make sense that `unset resp.http.Link` is removing the Link Header that was set from Nginx.

What is your stack?

[2021-08-29 04:26] onlinebizsoft opened #33943 "add "defer" attribute to JS"
### Summary (*)

Related to ticket https://github.com/magento/magento2/issues/8646

Magento offered Move JS to bottom but why dont you add an option to add "defer" attrbute to the JS file?
Having "defer" will make the browser rendering much faster.

### Proposed solution

I think adding "defer" works well with and without merging. It wont work with Bundling enabled only.

---
Please provide [Sever

[2021-08-29 04:31] onlinebizsoft commented on #33943
@krzksz @mrtuvn @ihor-sviziev

[2021-08-29 04:34] onlinebizsoft commented on #33943
P/S there might be some issues with some JS using imperative notation with core modules but I think it is possible to work out.

[2021-08-29 05:09] mrtuvn commented on #33943
Default you can add defer via xml with attribute

[2021-08-29 05:47] onlinebizsoft commented on #33943
@mrtuvn I think you are talking about a different thing. I'm not talking about how requirejs load their components.
I mean for example when we use merge JS, we only have only single file included on the page -> we could make it "defer" (by a built-in Magento setting) and we need to make sure that all core modules comply with this this setting (I still see some core modules are using imperative not

[2021-08-29 06:53] hostep commented on #33680
See https://support.magento.com/hc/en-us/articles/4408021533069-Adobe-Commerce-upgrade-2-4-3-2-3-7-p1-PHP-Fatal-error-Hotfix for a hotfix patch.

[2021-08-29 07:18] chequille commented on #28092
Unbelievable, still happens in version 2.4.3
What are you going to do with this?

[2021-08-29 07:23] mrtuvn commented on #33943
Seem like another issue from my

[2021-08-29 07:23] mrtuvn commented on #33943
https://github.com/magento/magento2/issues/33686

[2021-08-29 08:48] onlinebizsoft commented on #33943
I have seen but it is completely different indeed.

[2021-08-29 09:04] mrtuvn commented on #33943
Seem this one quite boat topic and not easy task in my opinion for resolve. After 5 years we still not solve it completely.  But still have another option for you. Hyva theme may be good choice for you. You will get complete new implements in frontend. I dont have work with that theme but i see they solution pretty work with current magento. Deffer js with alpine. Minimal js and with only 1 css. M

[2021-08-29 12:42] alitopaloglu commented on #30337
Same issue occurs on v2.4.3

Need to get storeId from graphQL context and pass it to productReviewsDataProvider to filter review collection by store inside provider.

[2021-08-29 20:47] #33832 closed, assigned to eduard13

[2021-08-29 23:37] MikeVelazcoMtz commented on #25403
I still see this logs on Magento 2.4..3.

[2021-08-30 01:20] navarr commented on #25403
@MikeVelazcoMtz To confirm, you're unable to load the tax configuration page and see the vertex error in your log?

Can you please copy/paste the error?

[2021-08-30 03:18] dharake commented on #25221
I just finished upgrading to 2.4.3. Guess what, issue still persists. Kind of an important functionality no?

Anyway, usual workaround applied, replaced track.phtml with old one, did the trick. Please note, my track.phtml is timestamped 3rd Feb 2020 LMFAO.

Hola Magento! Wakey wakey

[2021-08-30 03:22] dharake commented on #25221
@stefanskotte I'm also using Porto. Seeing the file we have to replace here is in vendor/magento, this implies that the problem comes from Magento core, as the template is not being overwritten by Porto. Hope that helps.

[2021-08-30 05:00] ihor-sviziev commented on #33943
Hi @onlinebizsoft,
Could you send a PR with your suggestion? We'll review it

[2021-08-30 05:17] devops724 commented on #33940
what if found is
seems that after change Signature Method to SHA-256
i don't have this issue,
it only raise in SHA1

[2021-08-30 05:57] bernd-reindl commented on #33896
@engcom-Delta there are no data to refresh in the develop instance.

You need Data in report_viewed_product_aggregated_daily, report_viewed_product_aggregated_monthly and report_viewed_product_aggregated_yearly older than one day.

Then you need a active cron job "visitor_clean" which is running everyday at midnight. This cron job runs "\Magento\Customer\Model\Visitor::clean()" which calls "\Magen

[2021-08-30 06:19] engcom-Echo commented on #33921
Hi @Muhamann , As per your comment, This issue is not reproducible on **2.4-develop**.
Thus the issue reported might be already fixed in this branch. Please upgrade your magento version.
Since this issue is not reproducible on 2.4-develop, I am closing this issue. If you encounter this reported issue on 2.4-develop branch, please feel free to reopen this issue & write back to us.

[2021-08-30 06:19] #33921 closed, assigned to engcom-Echo

[2021-08-30 06:19] engcom-November commented on #33941
Hi @mahmoudbeikhit ,
This issue is the duplicate of https://github.com/magento/magento2/issues/33749. Please track this ticket for all the latest updates on the same.
FYI.. Temporary workaround: Refresh the page and login again using valid credentials.
Closing this issue. Please move into https://github.com/magento/magento2/issues/33749
Thank you.

[2021-08-30 06:19] #33941 closed, assigned to engcom-November

[2021-08-30 06:23] engcom-Lima commented on #33854
Hi @vertic4l,

I have gone through the same steps to reproduce the issue and able to find some of the things which you discovered but I think they are expected behaviour due to below reasons:

1. Once you add attributes like color,size etc to the existing configurable product, all the newly added products can have their own inventory and related prices if necessary. Prices by default is inherited

[2021-08-30 06:26] engcom-November commented on #33679
Hi @aarya-404,
We are closing this issue as there has been no latest update on the same. Kindly reopen and provide missing steps if the issue is reproducible on 2.4-develop branch.
Thank you.

[2021-08-30 06:26] #33679 closed, assigned to engcom-November

[2021-08-30 06:46] engcom-Echo commented on #33909
@magento give me 2.4-develop instance

[2021-08-30 06:48] Muhamann commented on #33921
@engcom-Echo

I asked your for an explaination, how i can get develop instance for 2.3.5 ? Because not everybody can update on 2.4, so it would be very interesting for me to test, if this bug is in 2.3.5 p1

Thank you

[2021-08-30 07:09] DkDavid commented on #33930
Same issue after upgrading to 2.4.3. How can i disable the MatchQueriesModifier?

[2021-08-30 07:22] manhtranisobar opened #33945 "Error with PHP 8 str_contains function when upgrade to 2.4.3"
### Preconditions (*)
1. Magento current version: enterprise 2.4.1-p1
2. Use PHP 7.4
3. Disable MSI modules

### Steps to reproduce (*)
1.Run composer command: `composer require magento/product-enterprise-edition=2.4.3 --no-update`
2.Run composer update command: `composer update`

### Expected result (*)
1. Upgrade to Magento EE 2.4.3 successfully

### Actual result (*)
1. An error exception appea

[2021-08-30 07:34] igorwulff commented on #29924
We are seeing issues on a live Magento 2.4.3 installation where indexer_reindex_all_invalid and indexer_update_all_views are running in parallel (or so it seems from our cronjob manager) and causing issues for the catalog_category_product indexers. Since the code logic can't handle multiple processes running it in parallel properly. This sometimes causes empty categories on the production environm

[2021-08-30 07:37] engcom-Delta commented on #33684
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-08-30 07:38] #33684 closed, assigned to engcom-Delta

[2021-08-30 07:39] onlinebizsoft opened #33946 "tinymce config map from adminhtml appers in frontend source page"
Go to any frontend pages and you would find this blocking JS

`<script>    require.config({
        map: {
            '*': {
                wysiwygAdapter: 'mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter'
            }
        }
    });</script>`

### Preconditions (*)

Any Magento version, no specific conditions

### Steps to reproduce (*)

1. Go to home page (or any page)
2. View source
3. Fi

[2021-08-30 07:41] baoutch commented on #33930
What I did is in `src/vendor/magento/module-catalog-search/etc/di.xml` I commented out the last section

`<type name="Magento\CatalogSearch\Model\Search\Request\MatchQueriesModifier">
...
</type>
`

[2021-08-30 07:44] onlinebizsoft commented on #33946
@krzksz @mrtuvn @ihor-sviziev

[2021-08-30 07:46] onlinebizsoft commented on #33943
I will do if we have an update to make this happening. Right now, I'm opening this for discussion from every one who land on the same issue :)
I also opened another ticket https://github.com/magento/magento2/issues/33946 -> it must be done first before this as well because Magento still have many render-blocking script

[2021-08-30 07:59] engcom-Echo commented on #33921
Hello @Muhamann
I believe we wont be able to get an instance of 2.3.5 p1 via the magento bot, you might have the option of local installation only. But if I get any more information on this regard, will surely let you know.
Thank you.

[2021-08-30 08:11] gianstraf commented on #33267
@engcom-Lima, you can check the issue, for example enabling the log on mysql server:

[code]

You can activate the log before any CLI command, and unactivate when command has ran.
Reading the log file, you will see that the only connection used is the master connection.

[2021-08-30 08:13] mugua commented on #33749
Using the fix plugin, The first time won't show this error, but if I Logout and login again, it is also display again...

[2021-08-30 08:14] mugua commented on #33749
waitting for Magento offical to fix this bug...

[2021-08-30 08:17] #33072 closed, assigned to nobody

[2021-08-30 08:21] DinkoIlicic commented on #33749
@mugua @basvanpoppel I have made a small change that resolved the issue that mugua has. It happens because the trim function does not properly trim '/frontName/admin' which we get after logout. Here is the change:

[code]

[2021-08-30 08:23] engcom-November commented on #33933
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Admin - Catalog - Products - Add Simple Product - Create a simple product, set visibility to catalog/search and url_key to 'simple'
Create a bundle product, set visibility to catalog/search and url_key to 'bundle'
Assign the simple product to the bundle product.
Reindex so products are set in elastic
Request the follow

[2021-08-30 08:32] mugua commented on #33749
Yeah, It is fine now, Thanks.

[2021-08-30 08:40] mrtuvn commented on #33946
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Ui/view/base/requirejs-config.js#L31
Seem we got updated here

[2021-08-30 08:41] mrtuvn commented on #33946
https://github.com/magento/magento2/blob/2.4.3/app/code/Magento/Ui/view/base/requirejs-config.js
2.4.3 version

[2021-08-30 08:46] onlinebizsoft commented on #33946
@magento give me 2.4-develop instance

[2021-08-30 08:56] ihor-sviziev commented on #33946
Looks like it could be removed
https://github.com/magento/magento2/blob/7c6b6365a3c099509d6f6e6c306cb1821910aab0/app/code/Magento/Ui/view/base/templates/wysiwyg/active_editor.phtml

[2021-08-30 09:03] engcom-Echo commented on #33909
Hello @jglassmaker
I tried to reproduce this issue on clean **2.4-develop** with the given steps to reproduce & was not able to reproduce.
Please check the video in this regard. This issue might have been fixed in **2.4-develop** & would be available with next **2.4.x** release.

https://user-images.githubusercontent.com/51681435/131314846-9c9b5ae1-d9b3-4d09-b418-94c0e5b5153e.mov

So can you pleas

[2021-08-30 09:11] engcom-November commented on #33940
Verified the issue on both Magento 2.4-develop and 2.4.3 versions and the issue is not reproducible.
![image](https://user-images.githubusercontent.com/60198231/131315502-585da364-ca64-4dda-9302-33582fa95a19.png)
@devops724, As per the Magento official docs, Magento supports multiple algorithms like MD5, SHA256, or Argon 2ID13. If the Sodium extension is installed (installed by default in PHP 7.3)

[2021-08-30 09:18] eduard13 commented on #33778
Hi @anzin, have you shared these updates with the team? Are we fine closing it, since there is nothing to do?

[2021-08-30 09:26] #33945 closed, assigned to nobody

[2021-08-30 09:27] manhtranisobar commented on #33945
This issue was fixed

[2021-08-30 09:42] onlinebizsoft commented on #33946
@mrtuvn it is still there on 2.4-develop

![image](https://user-images.githubusercontent.com/22501570/131320262-d483f95d-5aba-4d48-955f-c8aaa315987a.png)

[2021-08-30 09:45] onlinebizsoft commented on #33946
I also see 2 other snippets which should be removed as well

![image](https://user-images.githubusercontent.com/22501570/131320607-86902ab4-f91c-4fe0-84b1-bf6f29edd1b4.png)

[2021-08-30 10:13] anzin commented on #33778
Hi @eduard13, I think we can close this task, problem with arithmetic and bitwise operators was not detected.

[2021-08-30 10:20] engcom-November commented on #33935
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
Admin - Stores - Configuration - Catalog - Catalog - Set "Use Flat Catalog Product" to Yes and Save
Reindex and Clear cache
Front-end - Open any Bundle Product - Issue: Below error message is displayed on UI
![image](https://user-images.githubusercontent.com/60198231/131324627-a8b13418-156b-4d7c

[2021-08-30 10:36] #33778 closed, assigned to anzin

[2021-08-30 10:57] jsyvanne commented on #33770
This is probably due **catalog_url_rewrite_product_category_backup** table left over from the transaction in Thundar's trick. It has foreign keys set with the same names as the magento update tries to add.

I ended up dropping the backup table and got setup to go through.

[2021-08-30 11:02] engcom-November commented on #33917
Hi @valdemaras-zilys-cg ,
Thanks for your confirmation. Verified the issue again on Magento 2.4-develop branch and the issue is reproducible.
**Steps to reproduce:**
Create Catalog Price Rule and apply the rule (Admin - Marketing - Catalog Price Rule - Add New Rule and apply)
Reindex and clear cache
Create a simple Product and save
Front-end - Add the product to Cart - Checkout and place order. **

[2021-08-30 11:18] engcom-Lima commented on #28119
Hi @ioweb-gr,

Can you please try and reproduce this error on 2.4-develop branch ? We would be happy to check the same develop instance and work directly with you on this issue which you are facing.

Thanks

[2021-08-30 11:20] engcom-Echo commented on #33625
My Observations after checking this issue.
The functionality - "Email getting triggered on successfully placing an order" is  **working fine** on **2.4-develop**.

In file `Sales/view/frontend/layout/sales_email_order_renderers.xml`, the responsible block for rendering the template
(sales.email.order.renderers.default) is mentioned as **Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder**

`

[2021-08-30 12:07] gaurav-webscale commented on #26815
we had exactly the same issue. we resolved the issue by adding `--max-messages=5000` in the bin/magento command.

[2021-08-30 12:11] engcom-Delta commented on #33899
Hi @abude ,

We verified the issue on Magento2.4 Develop, it is not reproducible . we could see that after refresh data is being loaded.
Please find the attached snapshots for reference.
![Pre-filled](https://user-images.githubusercontent.com/51681379/131336842-b6d26200-5c23-4bc3-b5fd-56db8f3285c5.JPG)

Kindly request to reverify from your end once again and please confirm.

thanks

[2021-08-30 12:19] mrtuvn commented on #33946
https://github.com/magento/magento2/commit/496570c98399d0143951a4306db60e8bd4ed39e0
Found this commit may related
Seem in 2.4-develop branch core internal decided wipe out  tinymce4 and move to version 5

[2021-08-30 12:20] engcom-Delta commented on #33479
Hi @Meberem ,

I tried with provided theme(DemoThems.zip), unfortunately we are unable to upgrade it , getting error like "Fatal error: require(): Failed opening required 'D:\xampp\htdocs\magento242\bin/../app/bootstrap.php' (include_path='C:\xampp\php\PEAR') in D:\xampp\htdocs\magento242\bin\m
agento on line 14".
![MGMCommandError](https://user-images.githubusercontent.com/51681379/131337838-398d

[2021-08-30 12:25] vertic4l commented on #33854
@engcom-Lima
In the given test instance and locally, associated products become virtual products instead of simple products.
The stock and amount of the associated products don't get recognized therefor the configurable product is still out of stock.

[2021-08-30 12:25] vertic4l commented on #33854
@magento give me 2.4-develop instance

[2021-08-30 12:43] vertic4l commented on #33854
@engcom-Lima tested it again, the test instance behaves now differently which is insane.

Configurable product is now in stock with associated products.
but those are virtual products again.

![image](https://user-images.githubusercontent.com/1771763/131340676-0c52993b-174d-4106-a992-f5639c2ab83f.png)

[2021-08-30 12:49] vertic4l commented on #33854
@magento give me 2.4 instance

[2021-08-30 12:50] engcom-Lima commented on #28195
Hi @liamjtoohey,

As requested please find the below screenshot of the Attribute on Admin Panel. Whatever we gave as input is correctly inserted in catalog_eav_attribute table and showing correct in admin so API seems to be working fine.

<img width="1334" alt="Screenshot 2021-08-30 at 6 09 59 PM" src="https://user-images.githubusercontent.com/60198022/131340818-0cea33c8-7a5d-4bd1-8382-d7875d061a8

[2021-08-30 12:52] wstnbrg opened #33947 "Catalog Prices Including/Excluding Tax no effect on price calculation"
### Preconditions (*)

1. Magento Versions: 2.4.2, 2.4.3
2. Tax setup with Country: Germany - 19%

### Steps to reproduce (*)

1. Stores - Configuration > Sales > Tax > Calculation Settings > Catalog Prices set to 'Including Tax'
2. Stores - Configuration > Sales > Tax > Price Display Settings > Display Product Prices In Catalog set to 'Including Tax'
3. Stores - Configuration > Sales > Tax > Shop

[2021-08-30 12:54] Kannakiraj123 commented on #33697
@magento I am working on this

[2021-08-30 12:55] wstnbrg commented on #33947
@magento give me 2.4-develop instance

[2021-08-30 13:08] vertic4l commented on #33854
This is super weird behaviour.
With the first instance (2.4-develop - before 12 days) i could reproduce the issue.
With the second instance (2.4-develop) i can't reproduce it.
With the third instance (2.4.3) i can't reproduce it as well.

Unpredictable where the issue comes from but it was there and is there locally in my enviroment.

[2021-08-30 13:16] wstnbrg commented on #33947
Was able to verify on develop instance here.
In Cart:
<img width="1429" alt="Screenshot 2021-08-30 at 15 11 32" src="https://user-images.githubusercontent.com/25225975/131344676-6d187d1e-3f24-4e87-abad-e1d37397743b.png">

Product price in admin:
<img width="1794" alt="Screenshot 2021-08-30 at 15 13 47" src="https://user-images.githubusercontent.com/25225975/131344736-bc2ec370-8aa3-477d-90d6-522ffc

[2021-08-30 13:19] maghamed commented on #33651
@magento give me 2.4-develop instance

[2021-08-30 13:24] vertic4l commented on #33854
And still virtual products when creating a configurable product with associated products:

[2021-08-30 13:25] hostep commented on #28387
@engcom-Delta, @sdzhepa: why did this issue got closed without any sort of extra information?

[2021-08-30 13:27] hostep commented on #33347
@nathanjosiah

[2021-08-30 13:28] nathanjosiah commented on #33347
@magento export issue to Jira project AC as Bug

[2021-08-30 13:35] hostep commented on #6401
@amenk: as far as I'm aware: yes! The `X-Magento-Tags` header is only used by Varnish to indicate what tags are associated to a certain url. So when Magento tells Varnish to purge some tags later on, it will purge all url's from its cache where that particular tag got associated to it.
So I believe you should be able to safely remove the header if you aren't using Varnish (or a similar reverse pro

[2021-08-30 13:35] engcom-Echo commented on #33910
@StruggleSnuggl3 I will try to reproduce this issue on a clean instance of **2.4-develop** with given steps to reproduce again.

[2021-08-30 13:36] engcom-Echo commented on #33910
@magento give me 2.4-develop instance

[2021-08-30 13:39] hostep commented on #33031
@Cloudy777, see https://github.com/magento/magento2/commit/d4931f79648, both the commit you mentioned as this one are part of https://github.com/magento/magento2/pull/26713

Not sure if this is helpful?

[2021-08-30 13:46] engcom-Lima commented on #33798
Hi @zlep, @ihor-sviziev,

I'll be rechecking this issue and will try to reproduce again.

Thanks

[2021-08-30 13:47] StruggleSnuggl3 commented on #33910
Something must have changed between 2.4-develop and 2.4.3 GPL.

1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2
2. find var generated vendor pub/static pub/media app/etc -type f -exec chmod u+w {} + && find var generated vendor pub/static pub/media app/etc -type d -exec chmod u+w {} + && chmod u+x bin/magento
3. bin/magento setup:ins

[2021-08-30 13:50] Quazz commented on #33913
You need to update using composer v1, then you can upgrade to composer v2 once you're on 2.4

[2021-08-30 14:00] amenk commented on #25616
@luckyraul Did you upgrade already to 2.4 and was this fixed for you?

[2021-08-30 14:01] amenk commented on #25616
@engcom-Charlie  Do you have the commit IDs where this was fixed?

[2021-08-30 14:11] hostep commented on #32118
Does anybody who has this problem accidentally also has [Amasty's Advanced Search module](https://amasty.com/advanced-search-for-magento-2.html) installed? I'm getting a strong suspicion that this module has something to do with this. When this module is enabled, it triggers the generation of product price blocks while the `catalogsearch_fulltext` indexer is running and this generates thousands of

[2021-08-30 14:17] jorgb90 commented on #33854
Magento will create virtuals instead of simples when no qty is assigned to them when creating them, but should change from virtual to simple when stock is added and stock is set to managed.

[2021-08-30 14:20] vertic4l commented on #33854
@jorgb90 thanks, but i do enter qty when creating them, see screenshot from above. never heard of default qty.

[2021-08-30 14:25] Meberem commented on #33479
What does `MSG_Mpanel` have to do with this? That error sounds like it belongs to that, you haven't gotten to importing the themes yet.

I created 2 themes that are the bare minimum required to demonstrate the problem. Pick any working Magento instance, or a brand new one and import those themes to see the error.

[2021-08-30 14:27] amenk commented on #6401
@hostep Thanks - we have a patch on StackOverflow: https://magento.stackexchange.com/questions/287621/ah01070-error-parsing-script-headers-in-php-fpm-when-accessing-certain-product  .

What should be noted is that the clearing should happen after the tags are extracted from the Header and used for the built-in cache as well.

[2021-08-30 15:07] amcguireweb commented on #33749
This seems to resolve the error message if you are not using **Magento_TwoFactorAuth**, but if I enable that module, I observe the same behavior as prior to applying this patch. The authentication form page simply refreshes, the field is cleared, and the admin user is unable to log in and prompted to reenter a Google Authenticator code.

Any ideas as to why this happens when **Magento_TwoFactorAut

[2021-08-30 15:56] Quazz commented on #33656
Something I forgot (didn't think about it).

I suppose this also means it won't clean the sessions if the session timer is defined as SMALLER than the constant.

[2021-08-30 16:16] jglassmaker commented on #33909
I don't believe I explained the issue clearly enough. The normal functionality of the reorder works fine. The issue is that 3rd party modules are not able to hook into the reorder events properly.

I recorded a video of me showing this. The first part I am normally adding a product to my cart and on the right my custom module is adding an additional product, the important part is that the events a

[2021-08-30 19:11] #32863 closed, assigned to drpayyne, anzin

[2021-08-30 20:18] pmonosolo commented on #32118
Yes we're using this plugin. I havent looked at the redis logs after the CSP removal, but I assume that block is still there. Its not major compared to what was being inserted with CSP plugin enabled.

[2021-08-30 20:58] Bashev commented on #33910
@StruggleSnuggl3 can you confirm your OS version?
After my investigation i found relation with ICU  version related to OS.

Is your php compiled from source or part of package? Do you have lsphp?

[2021-08-30 22:48] pmonosolo commented on #28614
Has anybody tested the 2.4.3 against these attacks?

I believe they added some kind of internal rate limiting for GraphQL, but did they add limits to APIs?

[2021-08-31 01:54] goranhorvathr opened #33952 "WYSIWYG (TinyMCE4) HTML Render & Save Issue in a Magento 2 Widget"
Preconditions (*)
Magento 2.4.2, 2.4.3
PHP 7.4

Steps to reproduce (*)

Adding a native WYSWYG field to Magento 2 native widgets results in failed rendering when accessing the widget data from CMS page.

Creating a block class https://gist.github.com/goranhorvathr/44f5ea3eeac054071d250d2ba6614024. Adding it to widget in widget.xml  as a parameter and adding the widget to any CMS page with the foll

[2021-08-31 02:44] mrtuvn commented on #32118
nicely done amasty! Since this module may be used by a lot merchants
Is that module named Xsearch ?

[2021-08-31 03:13] scooby09 opened #33953 "Mass Delete Does Not Work"
Mass delete products in magento 2.3.2 does not work, only deletes the total number of items on the page.

Reproduce- Go to catalog -> products. Select ALL (not to be confused with "select all on this page"), then select delete, you will get a message asking to confirm you want to delete all records (pop-up will show the correct total number), click ok... what actually happens is it just deletes al

[2021-08-31 03:26] WebHostingAce commented on #33856
@baoutch I'm on Plesk as well.

[2021-08-31 03:42] mrtuvn commented on #32118
Seem disable cache price box will reduce size cache growing
Default magento always enabled cache.
You guys can disable it by custom module.
Such as approach by @IvanChepurnyi
https://github.com/EcomDev/example-preloading-configurable-product/tree/main/EcomDev/NoPriceCache

[2021-08-31 04:20] liamomg commented on #24233
There is another situation that creating the bug where a coupon code is placed.

Preconditions (*)
Magento 2.4.1 CE
Paypal Express checkout enabled
Tax Enabled

Steps to reproduce (*)
1. Admin - Stores - Settings - Configuration - General - Currency Setup - Set the currency options to Australian and Save
2. Tax is 10%
3. Add a new product with price 549
4. Add a new product with price 119
5. Add a

[2021-08-31 04:37] jignesh-coder opened #33954 "Magento 2.4.3 Customer has no any vault token save, but vault payment method appears in Admin checkout"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Go to Magento Admin panel
2. Setup Braintree payment method and enable vault payment (Stores - Configuration - Sales - Payment Methods - Configure Braintree - Enable Card Payments and Enable Vault for Card )
3. Reindex and Clear cache
4. Admin - Sales - Orders - Create new Order - Create New Customer / or select any existing c

[2021-08-31 04:45] liamomg commented on #33651
Same issue of https://github.com/magento/magento2/issues/24233

[2021-08-31 04:48] liamomg commented on #24233
same issue of https://github.com/magento/magento2/issues/33651

[2021-08-31 04:48] mrtuvn commented on #33952
seem you try to mix tailwind class to html but i'm not sure it work when class contain character ":"

[2021-08-31 04:55] engcom-Echo commented on #33953
@magento give me 2.4-develop instance

[2021-08-31 05:06] rahulanand77 commented on #31775
Hi @magento-engcom-team ,

The Magento version 2.4.3 is available in the market now. does this sort by quantity issue fixed in this version?

Thanks

[2021-08-31 05:18] vk44295 commented on #33913
Thanks @Quazz .   Can you please explain how can i update using composer v1. becaue I have no idea??

[2021-08-31 05:27] engcom-Echo commented on #33942
@magento give me 2.4-develop instance

[2021-08-31 05:38] ihor-sviziev commented on #33856
Hi @baoutch,
It looks like you don't have the `intl` extension installed.

Could you run `composer check-platform-reqs` on your environment?

[2021-08-31 05:46] engcom-Echo commented on #33953
@magento give me 2.4-develop instance

[2021-08-31 05:49] ihor-sviziev commented on #33798
Anyone who has this issue - could you run composer check-platform-reqs and php -i | grep ICU on your environment?

[2021-08-31 05:50] ihor-sviziev commented on #33910
Anyone who has this issue - could you run composer check-platform-reqs and php -i | grep ICU on your environment?

[2021-08-31 05:59] webgility-amazonapi commented on #33873
Dear engcom-Echo

Our customer is facing issue in  Magento version : 2.4.2. Can you please test in this specific version? Or can you tell us the latest version where it is working fine and we can ask customer to upgrade to the specific version?

Thanks,
Webgility

[2021-08-31 06:03] ioweb-gr commented on #33651
With the difference in my case it's not a rounding issue. The amounts differ by lots of digits

[2021-08-31 06:17] abude commented on #33899
@magento give me 2.4-develop instance

[2021-08-31 06:17] marius-balteanu commented on #32118
We don't have Amasty's Advanced Search module, but we have the following Amasty modules:

- Amasty_AdminActionsLog Amasty_BannersLite
- Amasty_Base
- Amasty_Conditions
- Amasty_CronScheduleList
- Amasty_ImportExportCore
- Amasty_Geoip
- Amasty_GiftCard
- Amasty_GiftCardAccount
- Amasty_ExportCore
- Amasty_InvisibleCaptcha
- Amasty_Label
- Amasty_LabelMFTF2
- Amasty_LabelMFTF3
- Amasty_Mostviewed
-

[2021-08-31 06:21] mrtuvn commented on #32118
Seem not relate to amasty. I think issue come from redis and how magento implement key clear mechanism

[2021-08-31 06:22] StruggleSnuggl3 commented on #33910
OS: CentOS 7.9
Cpanel: v98.0.6
Litespeed WS: 6.0.8 (build 2)

1. composer check-platform-reqs -> all success
composer-plugin-api  2.1.0       success
ext-bcmath           7.4.22      success
ext-ctype            7.4.22      success
ext-curl             7.4.22      success
ext-dom              20031129    success
ext-fileinfo         7.4.22      success
ext-filter           7.4.22      success
ext-

[2021-08-31 06:27] ihor-sviziev commented on #33910
@StruggleSnuggl3, Could you try running the following code in the CLI?
[code]

[2021-08-31 06:34] abude commented on #33899
hello @engcom-Delta,

Thanks for the update, I was able to replicate the issue in the 2.4-develop instance.

Are you sure you did this:
Go to admin -> store -> config -> sales -> checkout and set Display Billing Address On to Payment Page

Are you sure you tried the form if the billing address and not the shipping address?

Thank you!

[2021-08-31 06:45] mrtuvn commented on #32118
https://github.com/colinmollenhour/Cm_Cache_Backend_Redis/commit/02eef64ced771cfaa3e7c40a9bc47299512bf254
For someone interesting at redis keys
This fix landed in version 1.14.2. Magento updated to this version in 2.4-develop
https://github.com/magento/magento2/pull/33364

[2021-08-31 06:52] huykon commented on #32785
@shahriar-vdc I check your commit but I am considering why you check the customer session here? GraphQl can not synchronized with magento php session

[2021-08-31 06:53] groomershop-mt commented on #33798
We have:
[code]

[2021-08-31 07:01] ihor-sviziev commented on #33910
Oh... I was able to reproduce the issue on AWS EC2 instance with Amazon Linux 2 and PHP 7.3:
[code]

and
[code]

❌ As you see - the latest line returned price WITH currency symbol, while it had to return price WITHOUT it.

[2021-08-31 07:53] Quazz commented on #33913
Simply downgrade composer `composer self-update --1` then update magento as you already tried.

Then you can `composer self-update --2` after it completed

[2021-08-31 08:12] ihor-sviziev commented on #33698
According to the https://github.com/magento/magento2/pull/33172#issuecomment-908994143, changes were reverted in the 2.4-develop branch. I re-opened this issue.

[2021-08-31 08:14] ihor-sviziev commented on #33856
@engcom-November, please check https://github.com/magento/magento2/issues/33910#issuecomment-908956529, feels like there is some diff on different OS, or library versions that causing these issues.

[2021-08-31 08:15] ihor-sviziev commented on #33910
Hi @engcom-Echo, please check https://github.com/magento/magento2/issues/33910#issuecomment-908956529, feels like there is some diff on different OS, or library versions that causing these issues.

[2021-08-31 08:15] ihor-sviziev commented on #33798
Hi @engcom-November, please check https://github.com/magento/magento2/issues/33910#issuecomment-908956529, feels like there is some diff on different OS, or library versions that causing these issues.

[2021-08-31 08:37] WebHostingAce commented on #33910
@ihor-sviziev Thank you for confirming this.

[2021-08-31 08:37] DuySexy commented on #32227
issue still exist!!!

[2021-08-31 08:52] engcom-Echo commented on #33953
Hi @scooby09
I tried to reproduce this issue on 2.4-develop & was unable to do so.
Here are the steps I following.
1. On a clean instance of magento **2.4-develop** , added few products.
2. Attempted mass delete of all the products
3. All the products got deleted successfully.
<img width="1366" alt="Screenshot 2021-08-31 at 13 21 46" src="https://user-images.githubusercontent.com/51681435/13147271

[2021-08-31 08:56] engcom-Echo commented on #33618
@magento give me 2.4-develop instance

[2021-08-31 09:41] engcom-Echo commented on #33618
@magento give me 2.4-develop instance

[2021-08-31 09:52] engcom-Echo commented on #33936
magento give me 2.4-develop instance

[2021-08-31 10:11] ihor-sviziev commented on #33943
I think we can't add 'defer' to the scripts, as it will break functionality, when some extension adds the `require` section as inline code.

[2021-08-31 10:17] hostep commented on #33914
So the setting(s) should be marked as [system-specific](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/configuration/sensitive-and-environment-settings.html#example-system-specific-settings).

And maybe also those `*return_path*` settings as well?

[2021-08-31 10:17] engcom-Hotel commented on #33680
Adding appropriate labels in order to create a JIRA ticket.

[2021-08-31 10:17] engcom-Echo commented on #33936
Issue is verified on **2.4-develop** branch, with the given steps to reproduce in the issue description.

[2021-08-31 10:18] onlinebizsoft commented on #33943
@ihor-sviziev if default Magento Luma do it well then all other extensions need to follow a standard and developers should understand what they need to do to comply with the setting

[2021-08-31 10:18] engcom-Echo commented on #33618
@magento give me 2.4-develop instance

[2021-08-31 10:29] oneserv-heuser commented on #33914
@hostep Yes, that would solve the problem.
And setting `return_path` settings as system-specific also sounds reasonable.

[2021-08-31 10:32] oneserv-heuser commented on #33872
@engcom-Delta I've provided the requested information, can you please change the labels/ confirm that the issue exists?

[2021-08-31 10:49] Commercers opened #33955 ""Minimum Qty Allowed in Shopping Cart" for simple product bug when adding product more than once"
### Preconditions (*)

1. Magento CE 2.4.2-p2

### Steps to reproduce (*)

1. Set simple product to have a "Minimum Qty Allowed in Shopping Cart" >1 for example 5
![grafik](https://user-images.githubusercontent.com/5063768/131488595-c8f88d13-2a26-49ca-865d-c4603d17a9c1.png)
2. Go to frontend to this product and add 5 pcs of this item to the cart
![grafik](https://user-images.githubusercontent.com/

[2021-08-31 10:50] ihor-sviziev commented on #33943
Unfortunately, there are valid cases when such a case might be useful. For instance, adding some JS that should trigger almost immediately renders some piece that located on the first screen.

[2021-08-31 10:53] onlinebizsoft commented on #33943
@ihor-sviziev do you notice anything in the core now? When this is needed I think some small pure JS should be used and decided by developers.

[2021-08-31 11:04] Commercers commented on #33955
Issue: Clear Description

[2021-08-31 11:04] Commercers commented on #33955
#Issue: Clear Description

[2021-08-31 11:11] scooby09 commented on #33953
I am not on 2.4 nor do i want to be at the moment. Also try having more than one page full of products, go past 999 and see if you can still delete everything, as again, the select all is deleting just a full page, so your test is not really valid

[2021-08-31 11:14] vk44295 commented on #33913
I have run the same command and getting the permission issue:
Ref: https://prnt.sc/1qviln1

[2021-08-31 12:25] engcom-Lima commented on #32679
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

1. Created a custom module to change db schemas.
2. Ran bin/magento setup:upgrade --dry-run command and found that sb schema is getting changed while running bin/magento setup:upgrade --dry-run=1 is working fine and no db schema changes.

Confirming the issue since default behaviour of dry-run command without param is

[2021-08-31 12:25] ihor-sviziev commented on #33943
no, it's not in the core, but if you'll add it to the core - some extensions will be broken

[2021-08-31 12:37] IssyHutchins opened #33956 "Closed orders not showing closed"
Hi,

I have 4 orders that are 'closed' but are not showing closed on my system.
0544 - 'on hold' but is not letting me cancel and close.
0050 - 'on hold' but is not letting me cancel and close.
0739 - 'processing' but is closed but not changing.
1239 - 'processing' but is closed but not changing.

How do I change this?
Thanks,

[2021-08-31 12:43] engcom-Lima commented on #33650
Hi @hasnatme,

This issue seems duplicate to #30128.

Can you please check and confirm if you are having same problems ? If yes, we can close this issue since 1 issue is already open.

[2021-08-31 13:24] snez commented on #2300
This issue is still present in Magento 2.4.3. In some cases a description is displayed, but there are still other cases where there is no descriptive error message.

[2021-08-31 13:26] npeskoe opened #33957 "RMA Confirmation Email - API Issue"
When creating a return via API, the customer is not receiving notifications like they do when an RMA is created via the user interface. I've tried changing the "customer notified" field to null, true, and false with no luck. Can anyone please help? Sample payload is below.

![image](https://user-images.githubusercontent.com/45644906/131510435-fa62c63b-4241-42f2-a543-46eadd4a038f.png)

`{
    "rmaD

[2021-08-31 13:27] Quazz commented on #33913
@vk44295 You'll have to figure out how to do it in your environment I suppose.

Since you use cpanel, perhaps this is a good starting point: https://support.cpanel.net/hc/en-us/articles/360062051634-How-do-I-downgrade-Composer-

But it of course doesn't have anything to do with magento anymore at this point.

[2021-08-31 13:38] onlinebizsoft commented on #33943
@ihor-sviziev it is up to the developers whom decide to enable it. So they need to make sure that all installed extensions are implemented in the best way.
And Magento make sure that all their core modules works fine, delivery the setting out of box.

In the official document, it recommends to avoid using imperative notation as well so it is good to have the defer setting which make the loading sp

[2021-08-31 13:42] engcom-Echo commented on #33618
Hi @a4deel
I tried to reproduce this issue on **2.4-develop** 7 was unable to do so.
Here are the steps I followed,
1. Set up a clean installation of magento 2.4-develop (with EE).
2. Create a new website.
3. Create a new user and assign the newly created website to new user with **all** role resources and access only to this newly created website.
4. Logged into admin panel using the credentials

[2021-08-31 13:44] engcom-November commented on #33519
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Setup Multiple Stores/websites in Magento
2. Create 2 different Stock Alert Email Templates for each store (Marketing - Communications - Email Templates - Add New Template)
3. Enable Product Alerts and Apply the newly created templates for each Store
Stores - Configuration - Catalog - C

[2021-08-31 13:46] mrtuvn commented on #33943
Current i think magento team slowly try to remove unused parts. But it not easy and take efforts. Since from beginning it's bundle a lot of js. But most of it not used or unneccessary at some case
From my understand you want to inject js like this right ? Current we not able to do it without customise
![hyva-defer](https://user-images.githubusercontent.com/1908873/131513896-b5370445-b462-4c2a-8e8b

[2021-08-31 13:50] zlep commented on #33798
@ihor-sviziev

`Checking platform requirements for packages in the vendor dir
composer-plugin-api  2.0.0       success
ext-bcmath           7.4.23      success
ext-ctype            7.4.23      success
ext-curl             7.4.23      success
ext-dom              20031129    success
ext-fileinfo         7.4.23      success
ext-filter           7.4.23      success
ext-gd               7.4.23      su

[2021-08-31 14:22] jorgb90 commented on #33930
Same issue here! Confirmed.

[2021-08-31 14:32] ihor-sviziev commented on #33798
@zlep, it looks like you don't have the ICU library installed which is really strange, as it is a dependence for the PHP intl extension

[2021-08-31 14:41] snez commented on #7044
In an Ubuntu docker container, I'm getting:

[code]

[2021-08-31 15:40] andrewbess commented on #32872
Hello @fascinosum
The test PRs is provided below
- https://github.com/magento/magento2/pull/33608 - with failed SVC build
- https://github.com/magento/magento2/pull/33958 - with success SVC build

The temporary PR that provides connection SemVer with infrastructure https://github.com/magento/partners-magento2-infrastructure/pull/57 (Please don't merge infra PR)

[2021-08-31 15:58] ericerway commented on #30835
@magento give me 2.4.3 instance

[2021-08-31 16:34] engcom-Delta commented on #33956
Hi @IssyHutchins  ,

Thanks for logging an issue and found that issue reproducible steps , actual results ,snapshots for reference and expected results. Hence request to provide them.

Regards

[2021-08-31 16:42] engcom-Delta commented on #33493
@magento give me 2.4.2 instance

[2021-08-31 16:57] engcom-Delta commented on #33493
Hi @lbajsarowicz ,
Tried with huge data on Magento 2.4.2 , it works fine , pagination looks good.
Kindly find the attached snapshots for reference.
![filters_pagination](https://user-images.githubusercontent.com/51681379/131544744-5e2c469b-5dda-4430-a8cb-48684b428c62.JPG)
![filters_pagination2](https://user-images.githubusercontent.com/51681379/131544784-ae5211ed-0cd4-4a2b-bdc1-27cbd1cad392.JPG)

[2021-08-31 17:13] engcom-Delta commented on #33693
Hi @jadebaileywowcher ,
Not sure why it is outstanding still, but it is not reproducible on Magento 2.4.2 . Kindly suggest further action on this ticket.

Thanks

[2021-08-31 18:31] lenaorobei opened #33960 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-31 18:31] lenaorobei commented on #33960
@adobe export issue to Jira project AC

[2021-08-31 18:32] lenaorobei commented on #33960
@adobe export issue to Jira project AC

[2021-08-31 18:34] #33960 closed, assigned to nobody

[2021-08-31 18:52] jaimiedijstra commented on #26573
100% agree the errors for users who don't need Dotdigital or other bundled "extras"/"crap" this is a real pain, costs devs time and costs small magento stores built in house a serious headache and trouble shooting, continuing into Magento 2.4.3. Dito to hostep's and matthew99's solutions, but alternatively check:

`bin/magento module:status`
if not disabled (or some are not) run:
`bin/magento modu

[2021-08-31 19:25] #32901 closed, assigned to Nazar65

[2021-08-31 20:06] andrewbess commented on #33562
A new version of the `adobe/stock-api-libphp` has been released https://github.com/adobe/stock-api-libphp/releases/tag/1.1.5

[2021-08-31 20:06] #33562 closed, assigned to andrewbess, eduard13

[2021-08-31 21:30] #33917 closed, assigned to nobody

[2021-08-31 22:01] Thelatinlabel opened #33961 "products we upload on Magento does not appear on our website"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-31 22:09] chernenm commented on #33917
Hello @valdemaras-zilys-cg,

Thank you for reporting this issue, but we have to close it as not a bug, since Magento Catalog Price rules are designed to be used as catalog base pricing method the same as special or tier/group price options, which means they are intended to be applied adding adding products to cart, that is why catalog rule prices are not shown in a cart as a separate discount or p

[2021-08-31 22:41] Gelmo commented on #33685
It's a bit concerning that the Magento team has not made an announcement related to this issue.

We are seeing a significant increase in outgoing network usage from the Redis instance being used for cache in most of our client environments that are running 2.3.7 or 2.4.2. Sites that previously had a maximum output of 200mbps from the Redis instance being used for cache are now experiencing over 1g

[2021-08-31 22:56] valdemaras-zilys-cg commented on #33917
Hi,

Thanks for this explanation, but could you also help me with how to identify which promotion has been applied, what was the discount and the percentage of it if there is no information in the sales table?
There can be several promotions that apply to the same product, how to know which one has been applied?

I understand why tier pricing and special pricing might not have discount information

[2021-09-01 02:47] engcom-Echo commented on #33942
Hi @nopenopenope
Thanks for reporting this issue.
I have verified this issue on **2.4-develop** branch
Here are the steps I followed.
1. Set up a clean instance of magento 2.4-develop.
2. Chose an attribute (eg: **climate**). Created attribute options via `AttributeOptionLabelInterfaceFactory` and `AttributeOptionInterfaceFactory` and saved them via `AttributeOptionManagementInterface`.
3. Created

[2021-09-01 02:57] engcom-Echo commented on #33942
Hi @nopenopenope
Thanks for reporting this issue.
I have verified this issue on **2.4-develop** branch
Here are the steps I followed.
1. Set up a clean instance of magento 2.4-develop.
2. Chose an attribute (eg: **climate**). Created attribute options via `AttributeOptionLabelInterfaceFactory` and `AttributeOptionInterfaceFactory` and saved them via `AttributeOptionManagementInterface`.
<img width

[2021-09-01 05:41] vk44295 commented on #33840
Dear Team,
Can you please tell me the status is it possible to do?

[2021-09-01 05:45] engcom-November commented on #33281
Hi @niklaswolf ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-01 05:45] #33281 closed, assigned to engcom-November

[2021-09-01 05:48] engcom-November commented on #33791
Hi @JKair ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-01 05:48] #33791 closed, assigned to engcom-November

[2021-09-01 06:04] ihor-sviziev commented on #33920
Hi @miloszowi,
The internal team already fixed this issue in the 2.4-develop branch in https://github.com/magento/magento2/commit/2670c4b531b3a28840857f5bdfec8de18eb1ffa3.

For those who experience this issue on their projects - please run the following command:
[code]

I'm closing this issue.

[2021-09-01 06:04] #33920 closed, assigned to ihor-sviziev

[2021-09-01 06:17] engcom-Echo commented on #33961
Hi @Thelatinlabel.
To help us process this issue please provide us the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results
- Is this issue reproducible on 2.4-develop ?

Thank you.

[2021-09-01 06:33] engcom-Echo commented on #33931
@magento give me 2.4-develop instance

[2021-09-01 06:39] engcom-November commented on #33955
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
Set simple product to have a "Minimum Qty Allowed in Shopping Cart" >1 for example 5
Go to frontend to this product and add 5 pcs of this item to the cart
Stay on same product page and add 1 more pc to the cart
Issue: Unable to add the product to cart . "The fewest you may purchase is 5" error

[2021-09-01 07:09] ihor-sviziev commented on #33593
FYI we just tried to debug this issue - that's definitely a very random issue, and it looks like it is related to async js execution/script loading. When the issue reproducing, the following core return `false` because in the RequireJS config, we don't have all maps and mixins yet.
https://github.com/magento/magento2/blob/97f0a1f34efc7c40c97014800cc876e9aedcdc0f/lib/web/mage/requirejs/mixins.js#L1

[2021-09-01 07:16] engcom-Lima commented on #33630
Hi @alicedfisheye,

The information you provided is not sufficient for us to reproduce this issue.

It would be easier for us if you can elaborate on Step 2 or perhaps you can share the screenshots of the results that you are getting ?

Thanks

[2021-09-01 07:17] raffaele345 opened #33962 "Problema email"
Salve buongiorno, ho un problema con l email del mio sito magento2. Non riesco a ricevere email ne tantomeno i miei clienti riescono a riceverle quando si iscrivono al mio sito o acquistano prodotti.

[2021-09-01 07:25] engcom-Echo commented on #33523
Hi @vseager
Since we didn't get any updates from you & since we couldn't reproduce the issue being reported, we are closing this issue.
If this issue is still reproducible for you on magento 2.4-develop, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you.

[2021-09-01 07:25] #33523 closed, assigned to shikhamis11, engcom-Echo

[2021-09-01 07:25] mrtuvn commented on #33593
Can we have or create new option allow developer determine when and how script defer or async ?

Example if no specific we use async and if we specific

[code]

[2021-09-01 07:28] engcom-Echo commented on #33502
Hi @ankithg03
Since we didn't get any updates from you & since we couldn't reproduce the issue being reported, we are closing this issue.
If this issue is still reproducible for you on magento **2.4-develop**, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you

[2021-09-01 07:28] #33502 closed, assigned to Den4ik, engcom-Echo

[2021-09-01 07:28] ihor-sviziev commented on #33593
@mrtuvn, as you see from the description, the case with `<script type="text/x-magento-init">...</script>` works fine

[2021-09-01 07:29] engcom-Echo commented on #33657
Hi @sravanigogineni89
Since we didn't get any updates from you & since we couldn't reproduce the issue being reported, we are closing this issue.
If this issue is still reproducible for you on magento **2.4-develop**, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you

[2021-09-01 07:29] #33657 closed, assigned to engcom-Echo

[2021-09-01 07:30] mrtuvn commented on #33593
https://github.com/magento/magento2/blob/2.4-develop/lib/web/requirejs/require.js#L1881 <= default we always have async true here

[2021-09-01 07:31] ihor-sviziev commented on #33593
@mrtuvn, I'm pretty sure the issue isn't simple at all.

[2021-09-01 07:47] webgility-amazonapi commented on #33873
is there any update?
Customer is in panic mode

[2021-09-01 07:57] engcom-Echo commented on #33181
@magento give me 2.4-develop instance

[2021-09-01 07:59] engcom-Echo commented on #33181
@magento give me 2.4-develop instance

[2021-09-01 08:09] norgeindian commented on #23047
I'm facing the same issue.
The text is not translated at all, no matter where we put the translation.
I debugged that a bit, and it seems as if the correct renderer in `\Magento\Framework\Phrase` is set too late.
So when I debug into `\Magento\InventorySales\Model\IsProductSalableCondition\BackOrderNotifyCustomerCondition::execute` for the first two runs, the only renderer is `\Magento\Framework\P

[2021-09-01 08:11] engcom-Lima commented on #33681
Hi @michalrostek,

Since this issue is already fixed on #33546 but not added in 2.4.3. You might have to wait for it to be added in patch or later versions.

You can check @hostep's comment https://github.com/magento/magento2/issues/33047#issuecomment-844423628 for your ref.

Let us know if you still have any issues or can we close this issue ?

[2021-09-01 08:35] densen45 opened #33964 "The quantity of Bundle products on the Shopping Cart is wrong when Magento_Inventory* modules are disabled"
### Preconditions (*)

1. Magento 2.4.2-p2 (may happen with previous versions)
2. PHP 7.3

### Steps to reproduce (*)

1. Disable all Magento_Inventory* modules, delete generated and compiled files, flush cache
1. Create a Bundle with at least one option (radio or drop-down), add several simple products to the option and check "User Defined Qty"
2. Open the Bundle on frontend
3. Choose one of the

[2021-09-01 08:36] densen45 commented on #33964
@magento give me 2.4.2-p2 instance

[2021-09-01 08:38] devchris79 commented on #33956
Its not obvious if this is a bug or a question about how Magento works.

If you want to close an order that has been refunded externally to Magento you need to create an offline credit memo of equal value to the order. You just need to go to the order details and click credit memo and click OK when Magento warns you are going to create an offline credit. You will then reach the screen that you can

[2021-09-01 08:53] leonhelmus commented on #33749
I have the same issue with some clients that are going from 2.4.2-1 to 2.4.3.

[2021-09-01 08:59] engcom-Delta commented on #33193
Hi @kirmorozov,

Could you please confirm whether this issue is still happening or not  on Magento 2.4 Develop(version) dav branch??

Thanks

[2021-09-01 09:19] #33956 closed, assigned to engcom-Delta

[2021-09-01 09:23] Vinai commented on #33952
No idea what is going on here. Just wanted to note that I haven't had any issues using tailwind variant css classes in TinyMCE.

[2021-09-01 09:37] densen45 commented on #33964
I cannot reproduce the issue on the provided Magento Instance.

[2021-09-01 09:43] engcom-November commented on #33947
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
Stores - Configuration > Sales > Tax > Calculation Settings > Catalog Prices set to 'Including Tax'
Stores - Configuration > Sales > Tax > Price Display Settings > Display Product Prices In Catalog set to 'Including Tax'
Stores - Configuration > Sales > Tax > Shopping Cart Display Settings > Dis

[2021-09-01 10:30] krishprakash commented on #33962
Hi @raffaele345. There should some issue with your email configuration.
Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem
Thanks

[2021-09-01 10:30] #33962 closed, assigned to krishprakash

[2021-09-01 10:36] engcom-November commented on #33954
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
Stores - Configuration - Sales - Payment Methods - Configure Braintree - Enable Card Payments and Enable Vault for Card Payments - Yes and Save
Reindex and Clear cache
Admin - Sales - Orders - Create new Order - Create New Customer / or select any existing customer
Add Products
Payment Method se

[2021-09-01 10:56] Usik2203 commented on #32821
@magento give me 2.4-develop instance

[2021-09-01 11:05] Den4ik commented on #33618
Hi @a4deel Does simple product assigned to new website too?

[2021-09-01 11:13] JustADude-86 commented on #33798
We are experiencing the same issue after upgrading from 2.3.5-p1 to 2.4.3.

We have a custom theme and custom plugins, even after disabling everything and changing the theme to stock Luma still, the issue persists.

On de_DE, de_CH, de_AT and other (non-english) locale the issues is like the author of this thread described.
On English locales like en_US or en_GB, the issue is slightly different, t

[2021-09-01 11:32] engcom-Delta commented on #33565
@magento give me magento 2.4.2

[2021-09-01 11:42] engcom-Delta commented on #33457
Hi @ioweb-gr ,
We can not place those many orders to verify this issue .Hence request to provide your inputs for further action on this ticket.

Thanks

[2021-09-01 12:24] ioweb-gr commented on #33457
@engcom-Delta Indeed I know it's not realistic that someone will place so many orders to reproduce the issue in a sample instance as it would require filling up all the numbers. However the issue will become apparent if you create a few orders in store id = 1 and store = 10 on Magento 1 then migrate. The first order will cause a collision.

The only sensible way to reproduce this issue is to

1. C

[2021-09-01 12:45] luciandex commented on #10647
This error shows up (for me) after run `bin/magento setup:di:compile` command, and after that `composer dump-autoload`.

I recomend to (re)run the following commands:
`bin/magento deploy:mode:set developer`
`bin/magento c:c` (shorthand for cache:clear)

I hope someone find this helpful.

[2021-09-01 12:45] LRotherfield commented on #33856
@ihor-sviziev we are running into the same issue so I ran your snippet on 3 environments:
[code]
That all looks good regarding an upgrade to ICU, however, our issue is with the `GBP` currency symbol with the `en_US` locale, and if I change your script to use those values I get the following:

[code]
[code]
As you can see, there is unexpected behaviour in `67.1` and `50.2`.  We also get the unexpec

[2021-09-01 12:51] densen45 commented on #33964
I was not able to reproduce the issue on the provided Magento Instance, because this issue only occurs when the Magento_Inventory* modules are disabled. Maybe we missed something that these are mandatory?

We have disabled these modules since they exist and the issue did not occur before M 2.4.2.

[2021-09-01 13:18] nuzil commented on #33964
Hi @densen45
Officially, Magento_Inventory cannot be disabled if you are using Stock. Old module is still there, but its a legacy module and support for it is not provided.

[2021-09-01 13:18] #33964 closed, assigned to nobody

[2021-09-01 13:27] nuzil commented on #33931
Hi @Meberem
Its not a bug, its expected behaviour. If you settings up config in config.php, then this value has more priority then config one.
Only solution here is to remove fixed config value from config.php

[2021-09-01 13:27] #33931 closed, assigned to engcom-Echo

[2021-09-01 13:29] JamesFX2 opened #33965 "Bugged Interaction Between Collection Cache and Configurable Products Gallery"
We noticed occasional errors in site logs

### Preconditions (*)

1. 2.3.5 - 2.4 develop

### Steps to reproduce (*)

1.  When the getOptionsMediaGalleryDataJson() method is called in \Magento\Catalog\Block\Product\View\Gallery
2. If the product is a configurable product, the plugin at [\Magento\ConfigurableProduct\Block\Plugin\Product\Media\Gallery](https://github.com/magento/magento2/blob/2.4-de

[2021-09-01 13:42] ihor-sviziev commented on #33856
@LRotherfield,
Now I'm not sure if that's related to the ICU library.
Could you send your `php -i` output from 3 different environments? Maybe there is a diff between other things?

[2021-09-01 13:55] nathanjosiah commented on #33680
This is a duplicate of https://github.com/magento/magento2/issues/33680

[2021-09-01 13:57] nathanjosiah commented on #33680
The work was already completed in https://jira.corp.magento.com/browse/MC-43059 and delivered. There are also hotfixes available for this issue.

[2021-09-01 14:06] ihor-sviziev commented on #33680
@nathanjosiah,
If it was delivered, why don't we see there changes?

[2021-09-01 14:08] engcom-Lima commented on #33926
Hi @portchris,

The information provided is not clear to reproduce.

Can you please check and update the issue description so that it'll be easier for us to reproduce this ? Perhaps clear 'Steps to reproduce' would be helpful.

Thanks

[2021-09-01 14:19] Meberem commented on #33931
@nuzil then why am I given the option to upload a csv file? It is an incredibly unintuative UI if this is the case.

I have set this option with the expectation that my stores only support a certain table rate setting to prevent any accidental configuration changes. Then I would be able to adjust the rates without adjusting the Price/Weight/Number of items vs destination setting.

The [user guide]

[2021-09-01 14:22] nathanjosiah commented on #33680
At the moment you can view the changes in the delivered patches:

2.4.3: https://github.com/magento/magento-cloud-patches/blob/develop/patches/AC-384__Fix_Incompatible_PHP_Method__2.4.3_ce.patch
2.3.7-p1: https://github.com/magento/magento-cloud-patches/blob/develop/patches/AC-384__Fix_Incompatible_PHP_Method__2.3.7-p1_ce.patch

I see why the code isn't visible in 2.4-develop but I am trying to ge

[2021-09-01 14:22] Kannakiraj123 commented on #33955
@magento I am working on this

[2021-09-01 14:24] Cloudy777 commented on #33031
@hostsep Exactly in your commit _removeOldMediaGalleryItems was removed. Therefore the functionality of removing images by csv import doesn't remove old images anymore, right?
Only the duplicate image hash function is present

[2021-09-01 14:31] ihor-sviziev commented on #33798
@JustADude-86, thank you for the input!
Just tried one idea - feels like it should help:
[code]
returns
[code]

Could you check the changes from the following PR if they're fixing the issue?
https://github.com/magento/magento2/pull/33966

[2021-09-01 14:34] LRotherfield commented on #33856
@ihor-sviziev

Centos 7: [65.1-phpinfo-2.txt](https://github.com/magento/magento2/files/7091737/65.1-phpinfo-2.txt)
Centos 7: [65.1-phpinfo.txt](https://github.com/magento/magento2/files/7091738/65.1-phpinfo.txt)
Both the above give the following when using `GBP` and `en_US`:
[code]

Mac OS 11.5.2: [67.1-phpinfo.txt](https://github.com/magento/magento2/files/7091739/67.1-phpinfo.txt)
The above giv

[2021-09-01 14:35] ihor-sviziev commented on #33856
@LRotherfield, thx for the input!
Could you check if the changes from https://github.com/magento/magento2/pull/33966 are fixing the issue?

[2021-09-01 14:39] ihor-sviziev commented on #33680
@nathanjosiah, it definitealy make sense to apply them it as a patch to already released versions, but it has to be fixed as well in the 2.4-develop branch

[2021-09-01 14:43] ihor-sviziev commented on #33910
Just tried one idea - feels like it should help:
[code]
returns
[code]
Could someone check if the changes from https://github.com/magento/magento2/pull/33966 are fixing the issue?

[2021-09-01 14:46] nathanjosiah commented on #33680
@ihor-sviziev It is already delivered to 2.4.4 however the way it was done the changes are not publicly available. I'm trying to get an answer for why it was done this way.

The MQP tool pulls patches from MCP so this is already available there as well.

[2021-09-01 14:58] mrtuvn commented on #33680
https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html
Seem the docs team already updated here

[2021-09-01 15:12] densen45 commented on #33964
After enabling all Magento_Inventory* modules the issue is gone, but now we are not able to save any product.

This is the error message:
`The stock item was unable to be saved. Please try again.`

This is the message from the exeption.log
[code]

We appreciate any help :)

[2021-09-01 15:36] StruggleSnuggl3 commented on #33910
I won't be able to test until next week. If @ihor-sviziev would like to test on my Magento 2 instance then I can provide the details.

[2021-09-01 15:39] zlep commented on #33798
@ihor-sviziev I can confirm that adding these two lines to Currency.php fixes the issue.

[2021-09-01 15:42] nathanjosiah commented on #33680
@ihor-sviziev

At the time this fix was merged to 2.4.4 branches the code that it was fixing was not yet public either. It's an unfortunate combination of timing and type of change.

[2021-09-01 17:04] #33563 closed, assigned to andrewbess, karyna-t

[2021-09-01 19:51] ihor-sviziev commented on #33910
Maybe someone else could check it?

[2021-09-01 20:36] ericerway commented on #30835
@magento give me 2.4.3 instance

[2021-09-01 20:55] davordragic commented on #33749
Same issue with from 2.4.2-p1 to 2.4.3

[2021-09-01 21:07] LRotherfield commented on #33856
@ihor-sviziev I have tested the patch on one of two projects and it worked.  I will test the other project in the morning

[2021-09-01 21:11] #33390 closed, assigned to engcom-Delta

[2021-09-01 21:45] NK2317 opened #33969 "Magento 2 search for pickup locations not working"
### Preconditions (*)
1.Magento version Magento/2.4 (B2B)
2.OS Debian 9.13 (stretch)
3.Have store sources registered as pickup location and enter manually the coords (example 44500 wich is a Jalisco, Mexico location)
4.Have acces to pickup locations api

### Steps to reproduce (*)
1. Admin - Stores - Inventory - Sources - Add multiple sources with Pickup Location enabled and saved
2. Reindex and c

[2021-09-02 00:33] gcampedelli opened #33970 "Make FreeShipping Rules more obvious in admin"
### Summary (*)

Better understanding on how to create free shipping promotions.

### Examples (*)

We need to apply shipping costs to checkout and have an idea how taxes are applied to these shipping rates, and at the same time create a promotion involving it but it is not so obvious how to create it in admin.

So in order to do so, we have to get the shipping costs to cart and give 100% discount

[2021-09-02 00:37] EmilyPepperman commented on #28100
Has this been solved in 2.4.3? Doesn't look like it.

[2021-09-02 04:41] engcom-November commented on #33768
Hi @sgeleon ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-02 04:41] #33768 closed, assigned to engcom-November

[2021-09-02 04:43] engcom-November commented on #33721
Hi @eikoncode ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-02 04:43] #33721 closed, assigned to engcom-November

[2021-09-02 05:29] harizyusoff opened #33971 "Uploaded / selected Catalog Categories Thumbnail Image not showing up after save in admin"
### Preconditions (*)

1. Magento 2.4.2
2. PHP 7.4
3. MySQL 8.0
4. Apache 2.4
5. Composer 2.1.3
6. Elasticsearch 7.13.2
5. No Varnish and Redis installed

### Steps to reproduce (*)

1. Go to Catalog > Categories > Thumbnail Image section
2. Upload or any images from the Select from Gallery button
3. Click Save button after images successfully uploaded or selected
4. Go to Catalog > Categories > T

[2021-09-02 05:30] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-02 05:56] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-02 06:45] eduard13 commented on #33855
### Investigation results

Storefront - Product Gallery:

- lib/web/mage/gallery/gallery.js

Basically, the Fotorama JS is being used only in product storefront gallery, however removing it, requires completely adjusting the whole gallery logic that is built around it.

There is no library that can easily replace the existing Fotorama.

A good fit would be a good known [Fancybox library](https://f

[2021-09-02 06:49] engcom-Echo commented on #33814
Hi @chandru-199
Since we didn't get any update from you & since we couldn't reproduce the issue being reported, we are closing this issue.
If this issue is still reproducible for you on magento 2.4-develop, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you

[2021-09-02 06:49] #33814 closed, assigned to engcom-Echo

[2021-09-02 07:41] engcom-Lima commented on #33674
Hi @DaddyDomi,

We are not able to reproduce the issue as the information provided is not clear. Please provide more information for further analysis:
1. Can you please state what is the issue that you are facing with the current url composition ?
2. Can you please update the issue description with more specific ‘Steps to reproduce’ and results so that we can try again to understand the need for a

[2021-09-02 08:16] engcom-Lima commented on #33134
Hi,

This issue was already Confirmed and JIRA ticket was generated before so putting appropriate labels and moving to confirmed state again.

[2021-09-02 08:19] yuriichayka commented on #31814
Looks like here is the fix - https://github.com/magento/magento2/issues/31168

[2021-09-02 08:31] #33855 closed, assigned to eduard13

[2021-09-02 08:47] andrewbess opened #33972 "Update some npm libraries (see description) to the latest versions"
### Description (*)
As part of task magento/magento2#33512, we have updated most of the npm libraries.
The updated libraries are described below.
1. `glob` from ~7.1.1 to ~7.1.7
2. `grunt` from ~1.0.1 to ~1.4.1
3. `grunt-contrib-clean` from ~1.1.0 to ~2.0.0
4. `grunt-contrib-connect` from ~1.0.2 to ~3.0.0
5. `grunt-contrib-cssmin` from ~2.2.1 to ~4.0.0
6. `grunt-contrib-imagemin` from ~2.0.1 to ~4

[2021-09-02 10:12] #33512 closed, assigned to mrtuvn

[2021-09-02 10:27] engcom-November commented on #33181
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
Steps performed:
1. Admin - Stores - Inventory - Sources - Added new source with code "test"
2. Reindex and clear cache
3. Admin - Catalog - Products - Added new product "productsku" with test source assigned
4. Generate Admin access token using /rest/default/V1/integration/admin/token
5. Sent POST request to /rest

[2021-09-02 10:38] ihor-sviziev commented on #33945
Duplicates https://github.com/magento/magento2/issues/33680

[2021-09-02 10:39] ihor-sviziev commented on #33680
@nathanjosiah, sorry, still didn't get. When it will be delivered to 2.4-develop branch? Should we accept https://github.com/magento/magento2/pull/33886?

[2021-09-02 10:46] engcom-November commented on #33971
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible.
Steps performed:
Created a root category with image: Go to Catalog > Categories > Thumbnail Image section and saved
Opened the category again - No issue: Thumbnail image is displayed as expected
Edited existing sub root category and uploaded image and saved
Thumbnail image is showing as expected in content section.

[2021-09-02 11:33] nemanjamm commented on #30128
@bmitchell-ldg can you share repo with patches or patches here? Thank you

[2021-09-02 11:51] engcom-Delta commented on #33565
@magento give me 2.4-develop instance

[2021-09-02 11:59] engcom-November commented on #33969
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps:**
Admin - Stores - Inventory - Sources - Added multiple sources with Pickup Location enabled and saved
Get admin access token using POST: /V1/integration/admin/token
Send POST request to ​/V1​/inventory​/in-store-pickup​/pickup-locations​/
**Issue**: Nearby Pickup Locations are not getting retrieved within the

[2021-09-02 12:50] avinashgarg opened #33975 "Automatically Quote created after login or confirm a new account"
### Summary (*)

When user logged in frontend then system automatically created Quote entry in Quote table. When placed order successfully then quote billing address deleted in quote_address table and then generated new one by the system which is not expected.
customer id is NULL in sales_order_address table.

### Examples (*)

 Let suppose Quote Id  = 1
    In Quote Address table = address_id = 1

[2021-09-02 12:51] harizyusoff commented on #33971
@engcom-November yeah the image is showing up in **Catalog > Categories > Content** section in my website but it does not showing up in the **Catalog > Categories > Thumbnail Image** section. Here I've highlighted the section for you. Catalog > Categories > Content section and Catalog > Categories > Thumbnail Image are two different things. The one that image not showing up after save is in this s

[2021-09-02 13:01] PascalBrouwers commented on #18803
still not fixed if you are using a migrated database that contains SKUs that are in uppercase

[2021-09-02 13:13] mrtuvn commented on #30128
Lol

[2021-09-02 13:29] mrtuvn commented on #30128
Right now a lot of code changed but i don't see author response any new updates. Feel free to recheck problem with 2.4.3 or 2.4-develop

[2021-09-02 13:35] engcom-Delta commented on #33565
Hi @stephan-cream ,
We tried to reproduce the issue in Magento 2.4 Develop. unfortunately it is not reproducible , it works as expected.
Kindly fine the attached response.

{
    "items": [
        {
            "id": 2,
            "group_id": 1,
            "default_billing": "2",
            "default_shipping": "2",
            "created_at": "2021-08-25 01:34:04",
            "updated_at": "202

[2021-09-02 14:18] JohnAyling1979 commented on #33674
I was able to reproduce the issue. Using
        $this->addColumn(
            'test',
            [
                'header' => __('Test'),
                'type' => 'action',
                'getter' => 'getId',
                'actions' => [
                    [
                        'caption' => __('Test'),
                        'url' => [
                            'base' => '*/*/Test',

[2021-09-02 15:23] alexwijanarko opened #33976 "Add Simple Products Manually to Configurable Product Give Wrong Result"
### Preconditions (*)
1. Magento Community Edition 2.3.4 with sample data
2. PHP 7.3

### Steps to reproduce (*)
1. Edit Configurable Products via admin
2. Go to Configurations tab
2. Add Products Manually
![image](https://user-images.githubusercontent.com/7570336/131868450-cdeccb0f-5ee0-42e2-af19-db39b922c906.png)
3. On Select Associated Product, click **Select All**
4. Remove some of the product

[2021-09-02 16:12] hostep commented on #33031
Could be. But that method also didn't exist before the PR.

If you do want that behavior, feel free to send in another PR with your suggestion 🙂

[2021-09-02 19:11] nathanjosiah commented on #33680
@ihor-sviziev It won't be synced back until the 2.4.4 2022 Q1 release so I think it's fastest to process that PR. However, to prevent a merge conflict later lets make sure that PR fix matches the hotfix code.

[2021-09-02 19:19] pmonosolo commented on #32608
I have the same issue when we do product import where new attributes are being created. Has anybody solved this?

[2021-09-02 20:31] hostep commented on #33680
The fuck? 🤦

[2021-09-02 21:08] chernenm commented on #33810
hello @kestraly,

Thank you for reporting this issue. But this is actually by design behavior. The attribute values sort order has nothing to do with sorting products by this attribute on storefront. Products are supposed to be sorted by attribute values names. Attribute values sort order is only for displaying the values list in Admin.

[2021-09-02 21:12] kestraly commented on #33810
@chernenm -No no no.. This issue is not closed. The sort order has no bearing on either the attribute name or the attribute postion. Instead it's only attribute value_id. If you compare the sort of MYSQL sorting to EaslticSearch. You will find that if your colours are sorted alphbetically. If you sort in ElasticSearch, it sorts by attribute value_id.

If you want people to use Magento, pay more at

[2021-09-02 21:32] nathanjosiah commented on #33680
@hostep Just plain rude.

The code that needed this fix was security-related and therefore not public until 2.4.3 was released. There is a several month gap between when 2.4.3 private security/release branches are frozen and when the 2.4.3 security code is synced back into 2.4-develop because of how our lifecycle works.

At the time the 2.4.4 fix was delivered, the code was still private because 2

[2021-09-02 21:52] chernenm commented on #33810
Hi @kestraly,

Yes, I agree, sorting by name must work if this is broken now, I would prioritize it higher. Could I please update the expected result in this case, since sorting products by using the attribute values sort order would be a new feature request instead.

[2021-09-02 21:59] kestraly commented on #33810
@chernenm -

If you delete all the attribute values of color. Then re add them as Red, Orange, Black, Blue, Pink.

On the category page, if you select sort by color, they will sort on the order they were added to the attribute, so they will sort as Red, Orange, Black, Blue, Pink, rather than by name.

* Side note *
If you re-order the attribute values in the admin (which store users think is the c

[2021-09-03 02:25] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-03 03:27] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-03 03:27] ihor-sviziev commented on #33680
Ok, since the issue still not fixed in 2.4-develop branch, I’m reopening the issue on the GitHub

[2021-09-03 03:41] #32872 closed, assigned to andrewbess

[2021-09-03 05:12] ajijshekh123 commented on #33976
@magento give me 2.4-develop instance

[2021-09-03 05:36] engcom-Echo commented on #33909
Hi @jglassmaker, I believe the default reorder functionality of magento is working as expected. But as per your recent comments, this issue seems to happen on a third party module integration. So inorder process this issue further please provide us with more details regarding this custom module(if its an open source then please share the related links for the same or if its your own custom module

[2021-09-03 06:04] GrassH opened #33980 "Using virtual type to configure plugin, interceptor method cannot be generated correctly in setup:di:compile command"
### Preconditions (*)

1. Magento CE 2.4.2 and above (Only tested these versions)

### Steps to reproduce (*)

1. Create a Magento 2 Module - Vendor_Module (Sample code can be found [here](https://github.com/GrassH/test-magento-2-plugin))
2. Configure a plugin:
[code]

Vendor\Module\Plugin\Overload:
[code]

Vendor\Module\Model\Calculator:
[code]

Vendor\Module\Console\Command\TestCommand:
[code]

[2021-09-03 06:07] harizyusoff commented on #33971
Hi @engcom-November, any update on this ?

[2021-09-03 06:13] engcom-Lima commented on #33724
Hi @horwengliang95,

Can you please update if the issue is resolved ? And if not, can you please provide the **‘steps to reproduce’** so that we can try same on 2.4-develop instance ?

Otherwise we'll have to close this issue if there is no update from the reporter.

[2021-09-03 06:35] engcom-Lima commented on #33711
Closing this issue due to inactivity from the reporter.

[2021-09-03 06:35] #33711 closed, assigned to engcom-Lima

[2021-09-03 07:18] engcom-Delta commented on #33975
Hi @avinashgarg,
Kindly provide steps to reproduce , Magento version info, expected results & actual results.

Thanks

[2021-09-03 07:24] fiko commented on #8084
worked for me 🙏 🥳

[2021-09-03 07:35] sport24-rtr commented on #32542
@gjportegies @netjordan
FYI: https://github.com/magento/magento2/commit/68d20230ca9d6198fa3093eb174e24aff47b1646 has been released with 2.4.3 which should fix the issue.

[2021-09-03 07:54] magedevel opened #33982 "Component UI multiselect size always default to 6"
### Preconditions (*)

1. Magento version 2.4.3

### Steps to reproduce (*)

1. Create an Admin UI to show the store list. The UI is a multiselect
[code]
2. We set the size to 20 when the default is 6

### Expected result (*)

1. FIeld size is 20

### Actual result (*)

1. field size is 6
### Proposal modification
The class is Magento\Ui\Component\Form\Element\MultiSelect
The code that prepare is:

[2021-09-03 09:21] engcom-Delta commented on #33982
Hi @magedevel,
We tried to reproduce this issue on Magento 2.4 Develop instance. Yes, form size has been set default size.
This could be a feature request. Hence adding the label 'Needs Update' for further confirmation.

Please find the attached screenshot for reference.

[2021-09-03 09:40] m2-assistant[bot] opened #33984 "[Issue] Move catalog search indexer outside stores loop"
This issue is automatically created based on existing pull request: magento/magento2#33227: Move catalog search indexer outside stores loop

---------
### Description (*)
There's a plugin (catalogsearchFulltextProductAssignment / Magento\Elasticsearch\Model\Indexer\Fulltext\Plugin\Category\Product\Action\Rows) in the Magento Elastisearch module that hooks in on the Category Products indexer (Magen

[2021-09-03 09:47] engcom-November commented on #33957
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
Create an Order from Admin / front-end
Create Invoice for the order from Admin - Sales - Orders - View Order - Invoice - Submit
Ship Order - Sales Orders - View Order - Ship - Order status should be Complete after shipment
API Send POST request to /V1/integration/admin/token to generate Admin access

[2021-09-03 09:57] engcom-Delta commented on #33479
Hi @Meberem,
Thanks for creating the themes. Kindly share them, I will try to replicate  the error.
Regards,

[2021-09-03 10:05] engcom-Lima commented on #33976
Hi @alexwijanarko,

I tried to reproduce this issue on 2.4-develop branch but simple products are coming as expected. Please find the attached screenshot of the same.

<img width="1341" alt="Screenshot 2021-09-03 at 2 57 50 PM" src="https://user-images.githubusercontent.com/60198022/131985615-80c85bfb-8e95-46f7-8a06-1a717f52729f.png">

I initially configured 3 products with attribute color to the

[2021-09-03 10:07] engcom-Delta commented on #33610
Hi @mrtuvn,
May I know please which operating system was this error displayed ?. I have been working on windows system.

Thanks

[2021-09-03 10:13] engcom-November opened #33985 "RMA - Add Return Comments API - Emails are triggered to Sender (Sales Representative) but not to Customer"
### Preconditions (*)

1. Enable Enterprise edition Modules
2. Email setup configured

### Steps to reproduce (*)

1. Stores - Configuration - Sales - Sales - Enable RMA Settings
2. Enable RMA for Sales - Delivery methods ex: for UPS
2. Create a product with RMA enabled
3. Create an Order from Admin / front-end
4. Create Invoice for the order from Admin - Sales - Orders - View Order - Invoice - Su

[2021-09-03 10:20] engcom-November commented on #33985
**Actual Result:**
Comment email is triggered to Sender - Sales Representative but not to the Customer
![image](https://user-images.githubusercontent.com/60198231/131990261-2f129954-3111-478d-b5c9-17f457500289.png)

**Expected behavior:**
Comment Email should be triggered to the Customer
![image](https://user-images.githubusercontent.com/60198231/131990188-9b697d92-5198-4234-a122-2f681a219639.png)

[2021-09-03 10:43] alexwijanarko commented on #33976
Hi @engcom-Lima ,
it's always happen when on "Select Associated Product" page, there are more than 1 page of products result, then click "Select All"

Example :
set to 5 products per page
![image](https://user-images.githubusercontent.com/7570336/131993018-27d01424-a2c9-4dbe-9739-80bf9c5d9fc1.png)
result
![image](https://user-images.githubusercontent.com/7570336/131993092-69f67379-e32d-4447-9f86-6

[2021-09-03 10:46] engcom-Lima commented on #32749
Hi @Naberdz,

For further analysis, can you please update below details:

1. Is onestepcheckout open-source module ?
2. Without onestepcheckout module, with your provided steps can we be able to reproduce this 2.4-develop branch ? If not, can you provide more detailed **'Steps to reproduce'** as the instructions provided is not clear for us to reproduce this.

[2021-09-03 10:52] alexwijanarko commented on #33976
![errorConfigurableProduct](https://user-images.githubusercontent.com/7570336/131994226-435d1dab-2050-4881-9e97-3be064060f9a.gif)

[2021-09-03 10:57] avinashgarg commented on #33975
Hi @engcom-Delta
Magento version 2.4.1 and 2.4.2
Steps :
 1. Create a new account and login with that account. After this please see in database "quote"  table . An entry have been created when you logged in.
2. When you add item in cart and save address then please check  "quote_address" table , which contain 2 entry shipping and billing type. please note address_id of this 2 entry. lets suppose

[2021-09-03 11:07] engcom-Lima commented on #33797
Hi @mathanagopaloxsoftwares,

We are closing this issue due to the reason being not related to Magento Dev.

[2021-09-03 11:07] #33797 closed, assigned to engcom-Lima

[2021-09-03 11:31] mrtuvn commented on #33610
I dont think this depend on system. Current i used linux

[2021-09-03 11:35] bytes-max opened #33986 "_prepareLayout() is not able to read _data that you pass onto the block in a controller"
### Preconditions (*)

1. Use Magento 2.4.3
2. Create a controller
2. create your PageResult, create a blog of your choice and add data via `->setData('my_key', 'my_value');
3. in your block, create `_prepareLayout()`
4. inside the method, do this: `$this->pageConfig->getTitle()->set(__('%1 - Test Title', $this->getData('my_key'));

### Steps to reproduce (*)

1. see preconditions

### Expected re

[2021-09-03 11:47] engcom-November commented on #33810
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Frontend - Category page  - Sort By - Attribute Name is not working
Admin - Stores - Attributes - Product - Choose Color Attribute - Storefront Properties - Used for Sorting in Product Listing - yes
Properties - Add different random options and save
Add the products with different Color Attribute options and save
Reind

[2021-09-03 11:55] vitormcsi commented on #16069
Thanks for this, but in list page not show, you can fix this? Thanks.

[2021-09-03 12:09] baljinderimpinge opened #33988 "Magento 2.4.2-p2 USPS shipping method issue SimpleXMLElement::addAttribute(): string is not in UTF-8"
Hello Team,

I hope you are doing fine.
I have upgraded Magento 2.2.11 to 2.4.2-p2 and now I am getting error on cart & checkout page. Error I am getting is below
Warning: SimpleXMLElement::addAttribute(): string is not in UTF-8 in /vendor/magento/module-shipping/Model/Simplexml/Element.php on line 27

Php version: 7.4
Composer: 2
Website: ﻿https://23050a41a7.nxcli.net/

Front End - password prote

[2021-09-03 12:18] baljinderimpinge commented on #33988
Please add any product to cart and then go to cart page or checkout page, in the browser console you will see error like this
https://prnt.sc/1r4ba06

[2021-09-03 12:20] PascalBrouwers opened #33989 "Importing product with SKU that has Unicode character fails"
1. Magento 2.x

1. Import product that has sku `30612190-5233-8  16Â½`

### Expected result (*)
1. Product is imported without errors

### Actual result (*)
1. Error
Note: There is no issue when product is created from Admin UI - Catalog - Products page with sku 30612190-5233-8  16Â½. Product created successfully.
---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-gu

[2021-09-03 12:21] PascalBrouwers commented on #33989
Severity above S2 that below S1:
Affects non-critical data or functionality and leaves users without workaround.

[2021-09-03 12:35] andrewbess commented on #33916
There were found new warnings in inventory repo.
All warnings provided below.

1) Magento\Paypal\Controller\Billing\AgreementTest::testReturnWizardActioncreatePartialMock() called with method(s) placeBillingAgreement that do not exist in Magento\Paypal\Model\Express.
This will not be allowed in future versions of PHPUnit.

2) Magento\CatalogInventory\Model\Quote\Item\QuantityValidatorTest::testQuo

[2021-09-03 12:43] nordcomputer commented on #16069
Could you open an issue directly in the extension and explain a bit more?
What magento version are you using, did you configure the system configuration (show out of stock products) to yes (not the extension configuration)?

Normally, the extension shows prices also on the category and search result pages.

[2021-09-03 12:45] vitormcsi commented on #16069
Sorry @nordcomputer, I reindex and fix all, Many Thanks.

[2021-09-03 12:45] engcom-Delta commented on #33517
@magento please give 2.4 Enterprise edition instance

[2021-09-03 12:52] engcom-Delta commented on #33989
Hi @PascalBrouwers,

May i close this issue as it is belong to fix issue #33990.

Thanks
Penchal

[2021-09-03 13:12] engcom-Delta commented on #33988
Hi @baljinderimpinge ,
We tried to reproduce the issue on provided website, found that issue is reproducible and getting same error while checkout .
Kindly find the attached screenshot for reference. Hence added the label 'Needs Update
Website URL: https://23050a41a7.nxcli.net/checkout/#shipping

<img width="960" alt="checkout_issue" src="https://user-images.githubusercontent.com/51681379/13201046

[2021-09-03 14:04] igorsKolcinsMagebit commented on #32915
Hey,
I have faced the same issue on **Magento 2.4.3.**
Two storeviews:
example.com/en/us
example.com/en/de

Messages were saved into cookies, but with path "/". Store view relative path "/en/us" or "/en/de" was empty.

I applied the changes from [#32617](https://github.com/magento/magento2/pull/32617) and the problem was **fixed**.

[2021-09-03 14:08] andrewbess commented on #33780
Pull request has been merged
Thank you @bohdan-harniuk for your job

[2021-09-03 14:08] #33780 closed, assigned to bohdan-harniuk

[2021-09-03 15:01] azngeek commented on #33281
I think the issue is not resolved yet and can be reproduced.

[2021-09-03 15:02] niklaswolf commented on #33281
@engcom-November why should I reproduce this in the Magento Frontend, when the issue topic is clearly about GraphQl-API?
Why do you close the issue, even if someone from Magento Engineering [confirmed the issue beforehand](https://github.com/magento/magento2/issues/33281#issuecomment-867615747) and apparently forgot to flag the issue as confirmed, [which I even pointed out afterwards](https://gith

[2021-09-03 17:07] Ylmzef opened #33993 "Admin panel copyright url http"
Please change copyright url from admin panel from http to https.
When ssl is enabled, it gives an error message from the browser.

https://github.com/magento/magento2/blob/6a0db3b86e0214eacdd1a3b47cca78bede766ca7/app/code/Magento/Backend/view/adminhtml/templates/page/copyright.phtml#L7

[2021-09-03 17:49] Bashev commented on #10263
This issue is out of date, now you can control number of items which can be showed per page.

![image](https://user-images.githubusercontent.com/1854269/132047003-b3c33332-120d-40b2-b203-fc15fd4fa720.png)

[2021-09-03 19:07] amitjoc commented on #30196
Magento core team is working on this issue.
We will deliver changes according to our internal process.

[2021-09-03 19:17] baljinderimpinge commented on #33988
@engcom-Delta
Sorry, I am not clear with "whether it has to be validated on Magento 2.4.Develop or not ?"
Please explain it so that I can understand and reply accordingly.
Thanks

[2021-09-03 20:11] fm-cl opened #33994 "Creating new Product fail - Error SQLSTATE[42000]: Syntax error or access violation: 1064"
### Preconditions (*)

1. Migrate from Magento 1.9.1.0 to Magento 2.4.3
2.

### Steps to reproduce (*)

1. Create a producto in magento 2
2.

### Expected result (*)

1.  Should create a product
2.

### Actual result (*)

1. SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right synt

[2021-09-03 20:22] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-03 20:26] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-03 21:36] pmonosolo commented on #32608
If anybody is looking for a temporary solution Mirasvit Advanced Sort plugin is working well on 2.4.3.

[2021-09-03 21:37] pmonosolo commented on #33810
If anybody is looking for a temporary solution Mirasvit Advanced Sort plugin is working well on 2.4.3.

[2021-09-04 03:36] sumjoekin commented on #33724
Steps to reproduce
1. Go to "System" -> "Integrations".
2. Click on "Add New Integration".
3. Fill in Name, Email, Callback URL and Identity link URL.
4. We are able to get oauth_consumer_key, oauth_consumer_secret, oauth_verifier and store_base_url from Magento.
5. After that, Magento call our system login page and we proceed with login our system.
6. After login, signature is generated based on

[2021-09-04 04:41] #33916 closed, assigned to anzin

[2021-09-04 07:51] vk44295 commented on #33840
Dear Team,
Please confirm if you can do? in last 10 days i didn't get any reply form your side.

[2021-09-04 09:55] Meberem commented on #33479
Please see the attachment in [my previous comment](https://github.com/magento/magento2/issues/33479#issuecomment-895818968).

The issue experienced is not to do with the files I provided. *Do not use* MSG_* they are unrelated to this issue

[2021-09-04 10:38] Rickertje commented on #30098
This is still a bug in 2.3.7-p1. And indeed it's unbelievable that this was closed. I see this happening with many reported issues. @chequille can you publish your fix for Magento_Catalog/templates/product/breadcrumbs.phtml ?

[2021-09-04 11:48] Rickertje commented on #30098
https://magento.stackexchange.com/a/233023 works (for me). It also adds a breadcrumb for a product found using the search function.

[2021-09-04 13:12] magedevel commented on #33982
Not so sure that is a feature request. For my point of view is a bug. I can specify the size on xml but the size is always default.

[2021-09-04 15:13] teodorpav commented on #25221
In 2.4.3 the issue is still there.

[2021-09-04 15:21] qsolutions-pl commented on #33486
Since this is a critical issue, it affects the entire framework functionality for products with multi select attributes and it got NONE attention from M2 CORE TEAM, I'm closing this issue and related Pull Request.

[2021-09-04 15:25] qsolutions-pl commented on #25370
It has been 2 years and none-work has been put into this nor it was solved.
I'm closing the issue.

[2021-09-04 15:25] #25370 closed, assigned to nobody

[2021-09-04 15:26] qsolutions-pl commented on #26433
Its has been over a year without any solution and no possible fix from the CORE team.
Closing the issue.

[2021-09-04 15:26] #26433 closed, assigned to nobody

[2021-09-04 18:27] ThomasT2020 commented on #29734
I confirm this is still an issue in 2.3.7-p1

[2021-09-04 22:48] lbajsarowicz opened #33995 "Catalog > Categories - Category View fails, showing raw SQL query for large categories"
### Preconditions (*)
1. Magento 2.4.3
2. MySQL 5.7
3. PHP 7.4.23
4. Product Catalog with a Category that contains 100k+ SKUs

### Steps to reproduce (*)

1. Open Catalog > Categories
2. Head to the category with 100k+ SKUs

### Expected result (*)

1. I should be able to view Category details, including Products listed in the Category
2. Magento should never display a raw SQL query anywhere on Ad

[2021-09-05 06:52] pawan opened #33996 "Filipino (philippines) language translation not working!"
### Preconditions (*)

1. Magento 2.3, 2.4, 2.4-develop
2. Multi Store

### Steps to reproduce (*)

- Create a new store view for philippines i.e. philippines

- Go to system -> configuration -> change scope from Default to philippines store view

- Change locale to Filipino (Philippines)

- Install language pack for Filipino i.e. composer require mageplaza/magento-2-filipino-language-pack:dev-mas

[2021-09-05 10:33] dharake commented on #3544
@tschallacka This did not work for me in 2.4.3 CE. So technically this is still very much a bug.

[2021-09-05 12:28] Bashev commented on #33993
What is the correct name here? - Magento or Adobe Commerce powered by Magento?

Second line also need to be updated.

Is correct to change "Magento Commerce Inc." to "Adobe Inc." in the copyright line?

@magento-admin

[2021-09-05 14:32] warednsour commented on #12777
@hudsondonovan thank you very much it worked for me i have installed the mod_version on WHM using Easy apache 4 software and now Magento CLI 2.4.3 is working great!

[2021-09-05 15:40] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-06 03:04] mrtuvn commented on #33986
First there are many way to do that
Option 1 you don't need set title from block. You can do it right in controller file
$this->_view->getPage()->getConfig()->getTitle()->prepend(__('Your Title'));
$resultPage->getConfig()->getTitle()->set('Something');
Option 2 if you want use setData from Block Class ??
Have you try use coreRegistry for set data ?
Just curious why not choose first option  or pas

[2021-09-06 04:44] engcom-Lima commented on #33513
There is no activity from the reporter on this issue for more than 18 days now. Hence closing this issue.

[2021-09-06 04:44] #33513 closed, assigned to nobody

[2021-09-06 04:48] engcom-Lima commented on #33273
Closing this issue as there is no update from the reporter for more than 17 days now.

[2021-09-06 04:48] #33273 closed, assigned to nobody

[2021-09-06 05:45] engcom-November commented on #32739
Hi @yiukamsum ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-06 05:45] #32739 closed, assigned to krishprakash, engcom-November

[2021-09-06 06:29] sivamind commented on #30613
New Adobe commerce with old  outdated ORM,  deprecated zend1 ,Knockout js,requirejs etc.  Adobe need to think to  create new software with  same Magento commerce features.
for example laravel or nodejs as backend ,frontend vuejs or react etc.

[2021-09-06 07:45] liquidia commented on #22774
Any update if this issue is still persist  in 2.3.3 ? is there any patch available?

[2021-09-06 07:50] vertic4l commented on #33854
@engcom-Lima how can we create associated simple products? As you can see, only virtual products were created although quantity etc was given.

[2021-09-06 07:56] Bashev commented on #33854
Add weight for configurable product or just choose "This product has weight" BEFORE start to make child products.

![image](https://user-images.githubusercontent.com/1854269/132181074-6ffbf10c-0920-4307-b3d4-7ff6bbeac801.png)

[2021-09-06 07:57] engcom-Lima commented on #32591
Hi @subhadeep-webkul,

This does not look like Magento Dev issue. If you are facing any website configuration issue, you can check with Magento Support.

Please update the description accordingly if you think this is related to Magento Dev otherwise we'll have to close this thread.

Thanks

[2021-09-06 08:59] engcom-Lima commented on #33995
Hi @lbajsarowicz,

I tried to reproduce this issue on Magento 2.4-develop instance with sample data of 100+ SKUs in Category but couldn't find raw SQL query. So, in order to reproduce this can you please check and update if this issue is reproducible on 2.4-develop branch or is it specific to 2.4.3 version ?

Thanks

[2021-09-06 08:59] Bashev commented on #33996
@magento I am working on this

[2021-09-06 09:01] n2diving-dgx commented on #28614
Yes, I'm in production with 2.4.3 and between the updates to the Braintree/PayPal gateway connector, including various rate limiting and fraud scoring settings in the gateway, along with support for ReCaptcha in the checkout flow... the issues with carding seem reasonably well addressed with a robust solution.

[2021-09-06 09:04] Bashev commented on #33996
@magento add to contributors team

[2021-09-06 09:06] Bashev commented on #33996
@magento I am working on this

[2021-09-06 09:13] PascalBrouwers commented on #33989
No, that's the pull request. Why would you close an issue that has a pull request?

[2021-09-06 09:48] robertbaum commented on #13952
Hello all,

I faced this issue recently and I don't know why now!
but while tracing the issue I found these notes

1. - happened for now with Twint Payment and offline payments too
2. - the address id for the payment and shipment id incremented
3. - one of the orders coming from::1 and the other from::127.0.0.1

I think point 3 could help us to diagnose the issue

![image](https://user-images.gith

[2021-09-06 10:02] engcom-November commented on #33971
Hi @harizyusoff ,
Current behavior of Magento 2.4-develop branch and 2.4.3 version does not have Catalog > Categories > Thumbnail Image section.
This feature is neither available in Open source version nor commerce edition
Kindly refer the [docs](https://docs.magento.com/user-guide/catalog/categories.html), [creating categroies](https://docs.magento.com/user-guide/catalog/category-create.html) for

[2021-09-06 10:12] antonfries commented on #13929
We got this error in 2.3.7-p1 in a very big project. The fix was to increase/deactive the max_session_size in admin. The cause was, that the current_path-variable couldn't be saved persistently in the session-object for the upload to work.

[2021-09-06 11:25] devchris79 commented on #31043
This fixed for me :-)

vendor/magento/module-catalog/Block/Product/ProductList/toolbar.php at line 221
Remove the if its a position sort function, it works fine with the else function!
So you get:

[code]

[2021-09-06 11:27] devchris79 commented on #31758
This fixed for me :-)

vendor/magento/module-catalog/Block/Product/ProductList/toolbar.php at line 221
Remove the if its a position sort function, it works fine with the else function!
So you get:

[code]

[2021-09-06 11:35] marchharesoftware opened #34002 "Fetch Currency Rates fails if multiple 'base' (from) currencies"
### Preconditions (*)

1. Magento 2.3.7 (same code in Magento 2.4.3)
2.set up with currencies AUD, GBP, EUR, USD
3. configure fetch currencies with Currency Converter API

![matrix-of-currencies](https://user-images.githubusercontent.com/38123089/132205726-56993c5b-4023-4228-a361-98b8d8908abc.jpg)

### Steps to reproduce (*)

1. use the currencies screen to fetch currencies.

[code]

### Expected

[2021-09-06 11:56] Bashev commented on #33955
@magento I am working on this

[2021-09-06 12:06] nopenopenope commented on #33986
Of course I can set a static title in many different ways, but thats not the scope of this bug report. I don't want to set a static title, I want to set a dynamic title based on what the Controller is loading.

So, in context of your questions:
Option 1 - not applicable because of the the use case I have
Option 2 - not applicable because of the the use case I have
Option 3 - Registry is already ma

[2021-09-06 12:07] engcom-Lima commented on #33441
Hi @Eddcapone,

Please place your _module.less file in below dir:
**<your_theme_dir>/Magento_Review/web/css/source/_module.less**

And your code for screen_l will work on 1024px screen.

I was able to get foobar inside screen_m.css on 2.4-develop branch with your code due to my screen size. Please find attached screenshot of the same:

<img width="1172" alt="Screenshot 2021-09-06 at 5 13 38 PM" sr

[2021-09-06 12:18] mrtuvn commented on #33986
Hmm the fast way you still able set title dynamic from controller. Each page only have 1 title and multiple block childs. Not sure why you have extra step to set title in child block of page when result page rendered

[2021-09-06 12:36] instalab commented on #11477
Are there any updates on this?

[2021-09-06 12:59] engcom-November commented on #33930
Hi @baoutch ,
Can you please share specific Catalog Configuration details / product configuration details to reproduce this issue.
I'm not able to reproduce this issue on Magento 2.4.3 clean instance and 2.4-develop branch as well.
Kindly recheck the issue on Magento 2.4-develop branch and confirm if this is still reproducible.
Thank you.

[2021-09-06 13:54] theshreyas commented on #33281
@engcom-November please take this up on high priority. This is serious bug.

[2021-09-06 14:09] Kannakiraj123 commented on #33488
@magento I am working on this

[2021-09-06 14:14] Kannakiraj123 commented on #33488
@magento give me 2.4-develop instance

[2021-09-06 14:30] Leland commented on #30613
Keep in mind that "old" is not necessarily a justification to change things. If we want Adobe to make substantial architecture changes, we'd want to show what benefit would come from it.

Implementing a better JS loading system that can bundle on the server-side would mean **vastly** improved P90 load times. Require JS' lazyloading means that slow devices experience incommensurately worse performa

[2021-09-06 15:02] mrtuvn commented on #30613
seem we still struggle to improve js stack of magento after near 6 years . So reduce chained JS dependencies is only hope for us
I expect less js requests, ko minimal version, jquery or another cleaner, fewer widgets built-in (let customer/dev decide to use what they want)

[2021-09-06 15:08] hari-codilar commented on #29126
This issue is still there in 2.4.2
The rest API should provide the parent product that matches the child product as rendered on fronted

[2021-09-06 15:24] onlinebizsoft opened #34003 "Currency issue in Product details and Shopping cart page for base currency other than USD / EURO"
1. Use base currency as GBP for example
1. Use Display currency as USD or MAD for example (store currency and base currency must be very different to see the issue)
1. Setup a few custom options (customizable options) with additional prices (do not test with configurable product) 
### Steps to reproduce
1. Use base currency as GBP(Stores-Configuration-General-Currency Setup).
2. Use Display curren

[2021-09-06 15:26] onlinebizsoft commented on #34003
I think there are different problem in different user cases, I can see there were some question or patch from the community for different cases
https://github.com/magesuite/magento-patches/blob/master/optional/m24-fix-different-price-in-cart-vs-on-pdp.patch
https://community.magento.com/t5/Magento-1-x-Programming/Custom-Option-Price-calculated-wrong/td-p/7033

[2021-09-06 16:04] onlinebizsoft commented on #34003
@engcom-Hotel

[2021-09-06 16:07] Leland commented on #30613
Can't replace jQuery, sadly. jQuery UI is everywhere on the frontend and a drop-in replacement doesn't exist. The big rewrite in v2.3.3 to [use modules](https://github.com/magento/magento2/commit/c0f31fb42350d019fa7d7aa4c68ad545bf24583c#diff-e67b4034607f1accb3bc40ead9f325dbbb676025eb3b8584f0efda94c97f4c14) is about as optimized as you're gonna get there.

I'd advocate to keep the focus of this iss

[2021-09-06 16:30] convenient commented on #33748
Seen on 2.3.7-p1

[2021-09-06 18:29] Bashev commented on #32491
Is this issue still exists?

[2021-09-06 21:00] lbajsarowicz commented on #33995
@engcom-Lima The issue depends strongly on the infrastructure you use.

I operate on categories of size 1M+ products and we had to bring the `max_allowed_packet` directive to 256M, as a workaround.

The unprofessional part is that Magento fetches the `entity_id`s for a Category, to use exactly the same IDs to count entities in a category.

[2021-09-06 21:04] hostep commented on #33995
@lbajsarowicz: out of curiosity, does the sql query show up both in developer and production mode, or only in developer mode?

[2021-09-06 21:06] lbajsarowicz commented on #33995
The screenshot was performed on Staging environment (`production` mode)

[2021-09-06 21:08] hostep commented on #33995
@nathanjosiah: sounds like a security-related issue then. Magento shouldn't output database details in the webbrowser when running in production mode, right?

[2021-09-06 21:38] lbajsarowicz commented on #33995
IMO Even the evil "Something went wrong", so typical for Magento, is much better than raw SQL :)

[2021-09-06 21:41] nathanjosiah commented on #33995
Yep. I'll get this some attention tomorrow when we are all back.

On Mon, Sep 6, 2021, 4:38 PM Lukasz Bajsarowicz ***@***.***>
wrote:

[2021-09-07 03:48] mzeis commented on #33995
@engcom-Lima: just to be sure: you noticed that @lbajsarowicz wrote about 100k (100000) products in a category, not 100, correctly?

[2021-09-07 06:17] vibhavankhade opened #34006 "New admin user created related mail notification"
### Summary (*)

I have created a new admin from the backend but getting any mail related to that also new admin user notification template is showing in the Load default template

[2021-09-07 07:02] Nuranto commented on #30794
I have the same issue for user created from admin.
They have store_id = 0, website_id = 7.
So the store_id does not work.

The behavior of having store_id = 0 when created from admin is actually a M1 bug, so the issue is on data migration tool.
A simple fix for that is to update store_id in customer table.

Hope it helps.

[2021-09-07 07:15] arunu commented on #21885
**MDVA-31021** patch available in [Quality Patches Tool](https://devdocs.magento.com/cloud/project/project-patch.html#view-available-patches-and-status)

[2021-09-07 07:22] harizyusoff commented on #33971
Hi @engcom-November, have you tried this in 2.4.2 version ? [This](https://github.com/magento/magento2/releases/tag/2.4.2) is the current version, I've used in my site

[2021-09-07 07:51] engcom-Lima commented on #33862
There has been no update from the reporter on this issue so closing this.

[2021-09-07 07:51] #33862 closed, assigned to engcom-Lima

[2021-09-07 07:53] engcom-Lima commented on #33722
There has been no update from the reporter on this issue so closing this.

[2021-09-07 07:53] #33722 closed, assigned to engcom-Lima

[2021-09-07 08:01] engcom-Lima commented on #34006
Hi @vibhavankhade,

Thank you for reporting the issue.

However, the provided info is not enough for us to reproduce this. It is always appreciated to have clear description of the issue. So kindly update your issue description with below details:

1) Steps to reproduce.
2) Expected and Actual Results.

We'll try to reproduce it on 2.4-develop instance then.

[2021-09-07 08:44] engcom-November commented on #33548
Hi @Monica8955 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-07 08:44] #33548 closed, assigned to engcom-November

[2021-09-07 08:53] NachoVidalGolosinas commented on #27469
Anyone know any way to fix this?

[2021-09-07 09:18] Viper9x commented on #31920
@gabrieldagama The fix didn't merge into 2.4.3 yet, so it does not available in 2.4.3

[2021-09-07 09:19] engcom-Lima commented on #33976
Hi @alexwijanarko,

Thank you for the video.

Verified the issue and it is reproducible on 2.4-develop branch with sample products.

Below is what I did to reproduce it:

1. Created a configurable product, added attribute and added some simple products and saved.
2. Edit Configurations and changed attribute and remove all previous products.
3. Clicked on ‘Add products manually’.
4. On ‘Select Asso

[2021-09-07 09:47] engcom-Lima commented on #33654
There has been no update from the reporter for 18 days so closing this issue.

[2021-09-07 09:47] #33654 closed, assigned to mrtuvn, engcom-Lima

[2021-09-07 11:19] Swahjak commented on #22007
How is closing an issue 'as it did not get much attention' a way of creating quality. Maybe you should look at the validity of the issue instead of the attention.

[2021-09-07 12:02] engcom-November commented on #33993
Hi @Ylmzef ,
Thank you for reporting. However, the provided information is not enough for us to reproduce this issue. Kindly recheck the issue on Magento 2.4-develop branch and provide clear description of the issue if its still reproducible. Please update your issue description with below details:
    1. Steps to reproduce.
    2. Expected and Actual Results.
Thank you.

[2021-09-07 12:26] Hexmage commented on #33933
Grouped products show the same behavior.

[2021-09-07 13:13] engcom-Delta commented on #34003
Hi @onlinebizsoft  ,
I tried in reproducing the issue on Magento 2.4 Develop. i could see that price of the product is same in Product view page & cart ,price is same everywhere.
Kindly find the attached screenshots for reference.
![Product_page](https://user-images.githubusercontent.com/51681379/132350594-0fdec32c-fcaa-47ef-a669-12d7d9588371.JPG)
![Euro_dollar](https://user-images.githubuserconte

[2021-09-07 13:18] engcom-Delta commented on #33457
Hi @ioweb-gr ,
Thanks for confirming , we tried to understand logical flaw in this . Hence adding label feature request.

Regards,

[2021-09-07 13:21] ioweb-gr commented on #33457
Sure sounds great. As long as the issue is confirmed. Although I think it's a bug not a new feature. Increment ids should be unique per order and having a collission is a problem.

[2021-09-07 13:28] onlinebizsoft commented on #34003
@engcom-Delta what additional price are you testing for custom option "L" and "Yellow" ? Is it customizable option or configurable product?

[2021-09-07 13:34] onlinebizsoft commented on #34003
@engcom-Delta I believe that you didn't look at "pre-conditions" at all, I wrote clearly that you need to test with customizable options and make sure that these customizable options have additional prices.

You could imagine the case you sell custom made product (phone cases for example), you don't have any item in stock, your products has options like made by leather, gold, may add some diamond

[2021-09-07 13:39] m2-assistant[bot] opened #34008 "[Issue] Added "Today" to dashboard report"
This issue is automatically created based on existing pull request: magento/magento2#33874: Added "Today" to dashboard report

---------
### Description (*)
Adds "Today" to the dashboard charts, so we can get a summary of sales/orders throughout the day.

![image](https://user-images.githubusercontent.com/3066337/130241196-4c3756cd-864a-459a-b45e-fe64f1cbad5b.png)

### Manual testing scenarios (*)

[2021-09-07 14:17] engcom-Hotel commented on #30132
Added appropriate labels in order to create a JIRA ticket.

[2021-09-07 14:25] goranhorvathr commented on #33952
Right so short update here we have done some fixes on this main fix has been done in a plugin for aroundGetWidgetDeclaration. We are currently preparing all of these things and we will post here with the repository where this will be resolved as part of something bigger. If anyone has any issues with Magento 2 widgets and WYSWYG editors in it among other problems not functioning correctly in nativ

[2021-09-07 14:36] nathanjosiah commented on #33995
@magento export issue to Jira project AC as Bug

[2021-09-07 14:46] jglassmaker commented on #33909
The custom module in my example was just something I wrote quickly for the example, I am including it in this response. You are correct, the default reorder functionality of Magento is working fine, it is the event hooks that are not firing correctly which hinders external business logic support.

The business logic we are trying to accomplish is having a setup fee added for certain products, so w

[2021-09-07 14:48] engcom-November commented on #33748
Verified the issue after upgrading from 2.4.2-p1 to 2.4.3 and the issue is reproducible with below steps:
Stores -> Configuration -> Advanced -> System -> Security -Max Session Size in Admin is set to 100 and saved
Configured Magento to use Redis for session storage
Stores -> Configuration -> Advanced -> System -> Security - Max Session Size in Admin and Max Session Size in Storefront set to 100 a

[2021-09-07 15:39] github-jira-sync-bot opened #34009 "Update declared PHP version"
* Update root composer.json / metapackage and composer.json file for each module - set required php version to 
[code]

* ** <https://github.com/magento/magento2>
  * <https://github.com/magento/partners-magento2ee>
  * <https://github.com/magento/partners-magento2b2b>
  * <https://github.com/magento/partners-magento2-infrastructure>
  * <https://github.com/magento/inventory>
  * <https://github.c

[2021-09-07 16:05] sivajik34 commented on #33891
https://medium.com/swlh/magento-2-legacy-orm-explained-178431305fb9

[2021-09-07 16:29] engcom-Delta commented on #33975
Hi @avinashgarg,

Thank you for providing details steps. Tried to reproduce on Magento 2.4 Develop, fortunately issue is reproducible and found that it is not working as expected. we could see customer id is NULL in Sales_order_address table & New quote entry created despite of user logged in.
![Address_IDCreated](https://user-images.githubusercontent.com/51681379/132379574-c1e9ea5e-1347-48f9-b132

[2021-09-07 16:38] engcom-Delta commented on #33988
Hi @baljinderimpinge ,

Thanks for reverting back , I mean I should install magento 2.2.11 and upgrade to magento 2.4.2-p2.then do checkout process.
Regards.

[2021-09-07 16:42] chaikivskyi opened #34011 "Composer patches"
### Preconditions (*)

1. Magento 2.4.3
2. composer 2.1.6

### Steps to reproduce (*)

1. create a patch from git commit (https://github.com/magento/magento2/commit/9e7742e3f4f29b692453c9fdc563392e1dcf4f53.diff)
2. Remove path app/code/Magento/Csp from diff file
3. Add
 ` "patches": {
            "magento/module-csp": {
                "Fix - 'frame-ancestors' does not support ''unsafe-inline'": "

[2021-09-07 16:50] alexdonald22 opened #34012 "Error Processing Requests"
### Preconditions (*)

1. Magento ver. 2.3.6-p1
2.

### Steps to reproduce (*)

1. When clicking back from invoicing an order this error is common "There has been an error processing your request
Warning: include(/var/www/html/magento2/generated/metadata/adminhtml.php): failed to open stream: No such file or directory in /var/www/html/magento2/vendor/magento/framework/App/ObjectManager/ConfigLoade

[2021-09-07 17:03] baljinderimpinge commented on #33988
Yes please. Also I have details entered there in the old version so do I
need to re-enter new credentials there after upgradation?

On Tue, Sep 7, 2021 at 10:08 PM Penchalaiah K ***@***.***>
wrote:

[2021-09-07 17:29] Bashev commented on #30591
@gwharton i cannot reproduce it. Can you confirm this issue is already stale?

[2021-09-07 17:48] #33972 closed, assigned to eduard13

[2021-09-07 19:01] visualwebs commented on #31063
If I inspect Magento 2.4 develop branch, still I see the same code. I think the old version fixes the bug?

https://github.com/magento/magento2/commit/cbc352e0d0235f1e8e200eee1f6587d08b1ec7ca

I recall this old version was working fine in my Magento 2.3.x projects.

One way to reproduce is very simple. Get an order with 2 items:
-  item A qty 1
-  item B qty 2

Invoice the order, ship A and B for

[2021-09-07 19:16] hostep commented on #34011
@chaikivskyi: I've just tried it over here and it works perfectly fine.
I'm suspecting that your patch file might not be 100% correct, here's mine, maybe compare it with yours and see where it goes wrong:

[code]

Also these sort of questions aren't about bugs in core Magento (which issues on github are meant for), so please next time ask these sort of questions on https://magento.stackexchange.co

[2021-09-07 19:20] chaikivskyi commented on #34011
Your patch does not work for me also.

[2021-09-07 20:44] #34011 closed, assigned to nobody

[2021-09-07 20:52] nathanjosiah commented on #28614
We are looking at options for addressing the complaints here but it isn't clear what the attackers are doing in these requests.

Could somebody give an example of the type of data still being sent to `POST /rest/V1/guest-carts/<cart>/payment-information` or the related `setPaymentMethodOnCart` GraphQl mutation? For PCI compliance, the officially supported payment methods do not accept credit card

[2021-09-07 21:27] cpartica commented on #28578
instead of adding a specific query for product by Id we want to do this: https://github.com/magento/architecture/pull/477

[2021-09-07 21:56] pmonosolo commented on #28614
Please review: https://github.com/magento/magento2/issues/28614#issuecomment-641228275

[2021-09-07 21:58] shankar35619 commented on #30835
@magento give me a 2.4.3 instance

[2021-09-08 02:31] github-jira-sync-bot opened #34019 "Stabilize Unit tests"
* <https://github.com/magento/magento2>
* <https://github.com/magento/partners-magento2ee>
* <https://github.com/magento/partners-magento2b2b>
* <https://github.com/magento/partners-magento2-infrastructure>
* <https://github.com/magento/magento2-sample-data>

AC:
* Unit test build is green (PHP 7.4 & PHP 8.0)
* Fix functional issues that cause failed tests
* The result of composer install command

[2021-09-08 02:36] github-jira-sync-bot opened #34020 "Stabilize Integration Tests"
* <https://github.com/magento/magento2>
* <https://github.com/magento/partners-magento2ee>
* <https://github.com/magento/partners-magento2b2b>
* <https://github.com/magento/partners-magento2-infrastructure>
* <https://github.com/magento/magento2-sample-data>

AC:
* Integration test build is green (PHP 7.4 & PHP 8.0)
* Fix functional issues that cause failed tests

[2021-09-08 04:34] harizyusoff commented on #33971
@magento give me 2.4-develop instance

[2021-09-08 05:25] eduard13 commented on #33477
### Update

Currently Magento uses jquery/jquery.cookie.js in the following files:
- app/code/Magento/Cookie/view/base/web/js/jquery.storageapi.extended.js
- lib/web/jquery/jstree/jquery.jstree.js
- lib/web/mage/cookies.js

The latest v3.0.1 jQuery.cookie.js requires additional changes into Magento codebase, which makes the JS library update quite complicated.
Also most likely, these changes are B

[2021-09-08 05:59] engcom-November commented on #33258
Hi @DevAwesomeK ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-08 05:59] #33258 closed, assigned to engcom-November

[2021-09-08 06:36] engcom-November commented on #33971
Hi @harizyusoff ,
Its recommended to verify the issues on Magento 2.4-develop branch as it has the latest code base. However I checked this on 2.4.3 open source version as well but does not have this section ( Catalog > Categories > Thumbnail Image )
Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if the issue is still reproducible.
Thank you.

[2021-09-08 06:42] jorgb90 commented on #33930
@engcom-November I solved this issue now for two installations just by running indexer:reindex, so I guess this can be closed.

[2021-09-08 07:00] harizyusoff commented on #33971
Hi @engcom-November, understood that you installed Magento version of 2.4.3 open source, but have you try this Magento version of 2.4.2 [here](https://github.com/magento/magento2/releases/tag/2.4.2) ? Also, it is quite frustrated because @magento didn't able to provide me any 2.4-develop instance for me since the day I've created the issue, do you know any issue why I'm not able to get that ?

[2021-09-08 07:45] engcom-November commented on #34012
Verified the issue on Magento 2.4-develop branch and unable to reproduce this issue for new orders and existing Orders as well:
Steps performed:
Admin - Sales - Orders - View Order - Click on invoice and Navigate Back - No issue
Admin - Sales - Orders - View Order - Click on Invoice and Submit - No issue: Invoice is created
When clicking back from invoicing an order, user is navigated back to Orde

[2021-09-08 09:30] cha80 opened #34023 "Magento should surpport products sold calculator"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-09-08 10:04] engcom-Delta commented on #34002
Hi @marchharesoftware ,
Kindly provide steps for setting up with currencies AUD, GBP, EUR, USD.so that we can reproduce it .

Thanks

[2021-09-08 10:12] engcom-Hotel commented on #33996
Added appropriate labels in order to create a JIRA ticket.

[2021-09-08 10:43] engcom-Delta commented on #33386
Hi @ioweb-gr
 it works fine on Magento 2.4-develop instance, I would request to try once again & confirm .Hence added the label ''Needs update'

Thanks

[2021-09-08 10:54] engcom-Delta commented on #34023
Hi @engcom-Delta ,
Kindly provide issue description ,the steps to reproduce, actual results and expected results.

Thanks

[2021-09-08 11:02] ioweb-gr commented on #33386
Hi, what do you mean it's working fine?

Let's take it one step at a time.

Did you verify that during setup upgrade triggers are dropped and recreated?

[2021-09-08 11:04] engcom-Lima commented on #33763
Hi @webtekindo,

Is your issue anywhere related to #22516 ? Because it seems like duplicate and it was fixed. Please check.

Also please advise how much time your server is taking and also about your server configurations.

Thanks

[2021-09-08 11:09] m2-assistant[bot] opened #34024 "[Issue] Greatly improve performance by caching subsequent glob calls"
This issue is automatically created based on existing pull request: magento/magento2#33998: Greatly improve performance by caching subsequent glob calls

---------

### Description (*)
This pull request introduces an in-memory cache for glob system calls. On systems where file I/O is slow (for example Docker for Mac), glob system calls can be quite slow. This pull requests caches the same glob cal

[2021-09-08 11:13] m2-assistant[bot] opened #34025 "[Issue] Greatly improve performance by caching subsequent glob calls"
This issue is automatically created based on existing pull request: magento/magento2#33998: Greatly improve performance by caching subsequent glob calls

---------

### Description (*)
This pull request introduces an in-memory cache for glob system calls. On systems where file I/O is slow (for example Docker for Mac), glob system calls can be quite slow. This pull requests caches the same glob cal

[2021-09-08 11:13] webtekindo commented on #33763
@engcom-Lima it's not related, we don't use MSI.

You can try edit:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Indexer/Price/BaseStockStatusSelectProcessor.php#L66

And "echo" the query

Reindex price you will see something like this:

`SELECT le.entity_id, i.customer_group_id, i.website_id, MIN( final_price ), MAX( final_

[2021-09-08 11:15] engcom-Hotel commented on #34025
Added appropriate labels to create a JIRA ticket.

[2021-09-08 11:19] Sartoric opened #34026 "Is version 2.4.3 unavailable via composer ?"
### Preconditions (*)

I'm not sure it can be classified as bug, but not even as a general discussion
I'm trying to update an existing magento 2.4.2 via composer but it seems I can't find 2.4.3

### Steps to reproduce (*)

if i run, as per manual

`composer show magento/product-community-edition 2.4.* --all | grep -m 1 versions `

I only get
`versions : * 2.4.2-p2`

Am I missing something ?

Thank

[2021-09-08 11:21] engcom-Lima commented on #33553
There has been no update from the reporter so closing this issue.

[2021-09-08 11:21] #33553 closed, assigned to engcom-Lima

[2021-09-08 11:27] devchris79 commented on #34026
I have just tried the command and I get:

`versions : * 2.4.3, 2.4.2-p2, 2.4.2-p1, 2.4.2, 2.4.1-p1, 2.4.1, 2.4.0-p1, 2.4.0`