[2016-06-09 07:43] SidneyBilliet opened #4934 "No way to add Group Prices?"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add product
3. Try adding a group price ....
## Expected result
1. on the tab advanced pricing a Group price section should be present
## Actual result
1. There is no groupo price section on the advanced pricing tab
2. Screenshot of user guide:

![2016-06-09_09h38_10](https://cloud.githubusercontent.com/assets/13572447/15922137/7f1

[2016-06-09 07:44] victor-v-rad commented on #3066
When you migrate settings you migrate stores and websites. Skipping this probably causes the issue with sequence tables. Please stick close to [the official documentation](http://devdocs.magento.com/guides/v2.0/migration/bk-migration-guide.html)

[2016-06-09 07:45] SidneyBilliet commented on #4934
2.0.7 backend screenshot:
![2016-06-09_09h40_31](https://cloud.githubusercontent.com/assets/13572447/15922194/d34da9d0-2e26-11e6-9e32-363272c0a86a.png)

[2016-06-09 07:47] Bartlomiejsz commented on #4047
@piotrekkaminski yes, it does on 2.1RC2

[2016-06-09 07:50] shiftedreality commented on #4710
Fix was merged to develop branch.
Closed.

[2016-06-09 07:53] mslabko commented on #4665
I've tested  with different time zones (Configuration -> General -> Locale Options -> Timezone) - all work as expected. Please reopen issue if you still have issue with it

[2016-06-09 07:53] #4665 closed, assigned to nobody

[2016-06-09 07:59] vzabaznov commented on #4762
Hi @ankitce , thanks for reporting, issue was fixed and will be delivered in next release under 8b5a1d6 commit, if you think that bug is reproducible, please open this, or create new one.

[2016-06-09 07:59] #4762 closed, assigned to nobody

[2016-06-09 08:02] vzabaznov commented on #4525
Hi @karanbhomiagit , thanks for reporting, issue was fixed and will be delivered in next release under cc99eda and 8e58508 commits, if you think that bug is reproducible, please open this, or create new one.

[2016-06-09 08:02] #4525 closed, assigned to nobody

[2016-06-09 08:04] vzabaznov commented on #4143
Bug closed due to author doesn't answer more than 14 days and bug is not reproducible on latest Magento version

[2016-06-09 08:04] #4143 closed, assigned to voleye

[2016-06-09 08:37] oserediuk commented on #4875
Hello @atIOCrON ! I cannot reproduce this issue on my instance. Try to update your code and reproduce its again.

[2016-06-09 08:42] mslabko commented on #4692
Hello @werdlv
This issue is not reproduced yet in develop branch. Try to update your code base (2.1-rc, e.g.) and if you still have any issue, please reopen this one

[2016-06-09 08:42] #4692 closed, assigned to nobody

[2016-06-09 08:58] AngelsDustz commented on #4913
Also happens on the latest version 2.1.0-rc2
PhP Version: 7.0.6
Apache2 Version: 2.4.18

Maby a better explanation of the issue:
1. Make a new page.
2. Select 'Empty' layout.
3. Select theme as Luma.

Then just open 2 pages 1 with path hinting and 1 without.
And boom content is gone.

[2016-06-09 09:29] jsakars commented on #4692
@mslabko quote from Magento2 release notes for version 2.1 - `This release candidate build is not intended for production purposes`. We use 2.0.7 (latest stable) in production environment and there is a bug. Regarding develop branch - hard to argue; I assume develop branch is pretty unstable and can't be trusted. Anyway - what's the point of stating issue steps to reproduce if bugs are being check

[2016-06-09 09:32] redboxmarcins commented on #3066
@victor-v-rad thanks for the tip, I will try that and check

I was looking in the code and the Settings Step actually is copying data between core_config_data tables only - unless I miss something obvious

https://github.com/magento/data-migration-tool/blob/master/src/Migration/Step/Settings/Data.php

[2016-06-09 09:47] ruturamani opened #4936 "Class 'Magento\Framework\Data\Form\Filter\2016-05-01' not found On customer save Magento2 Migration"
I have done migration from 1.9.2 to 2.0.x many times. Last I did was in 2.0.6. But I am having same error every time. The error I am getting is in saving customer. I am unable to Edit migrated as well as newly added customers after migration. I am getting the following error:

 Class 'Magento\Framework\Data\Form\Filter\2016-05-01' not found in D:\wamp\www<magento_root>\vendor\magento\module-custom

[2016-06-09 09:54] ruturamani commented on #4936
This is one more screenshot of order view page... after migration. Here also I am not getting the billing and shipping address.

![untitled2](https://cloud.githubusercontent.com/assets/19835337/15925725/f4a2eeb8-2e55-11e6-914a-cd05c70cda2e.png)

Thanks !

[2016-06-09 09:56] salelsol commented on #4822
Fixed, go to eav_attibute table, search you multiselect attibute and change in "backend_model" column NULL value with this value: Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend, clear cache and reindex and ty.

[2016-06-09 10:04] mslabko commented on #4692
@werdlv , Yes, 2.1-rc it just release candidate.
Patch  for 2.0.\* will be provided in https://github.com/magento/magento2/issues/4108.

[2016-06-09 10:12] LiamFielding commented on #2247
Is this going to be added? It's quite an important feature.

[2016-06-09 10:15] redboxmarcins opened #4937 "Can't add product attribute programatically to General group"
## Steps to reproduce
1. Install Magento 2.0.7 or earlier
2. Create attribute group called 'General' (as it is in Magento 1.x)
3. Try to add any product attribute programatically to 'General' group
## Expected result
1. Attribute should be added to every attribute set into 'General' group
## Actual result
1. Exception message that 'General-73'  key already exists

So what actually happens is - mag

[2016-06-09 10:17] mslabko commented on #4652
Hello @hyturkyilmaz
This issue already fixed in 2.1-rc. Try to update your code base and if you still have any issue, please reopen this one.
Please, follow up marketing updates

[2016-06-09 10:17] #4652 closed, assigned to nobody

[2016-06-09 10:31] mslabko commented on #4612
https://github.com/magento/magento2/issues/4710 is closed
@bondimedical3 please reopen it, if you still have any issues.

[2016-06-09 10:31] #4612 closed, assigned to nobody

[2016-06-09 10:41] skovalenk commented on #4767
@vutrankien, can you provide more details. Can you show me from where you take this collection? And where this code is using?

[2016-06-09 10:49] cscd98 opened #4938 "Feature Request - Varnish Cache Plus support"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Install Varnish
3. Switch Magento to HTTPs. Varnish is bypassed.

Please consider support for Varnish Cache Plus for HTTPS connections:

https://www.varnish-software.com/plus/ssl-tls-support

[2016-06-09 11:06] orlangur commented on #4934
There is no Group Price attribute [since version 2.0.1](https://github.com/magento/magento2/blame/2.0/app/code/Magento/Catalog/Setup/UpgradeData.php#L73), it was an excessive concept.

You can use tier price with Qty = 1 instead.

This fact does not seem to be reflected in Admin UI and/or user guide though.

[2016-06-09 11:18] mslabko commented on #4902
Hi @carmelomtb ,
GitHub issue tracker is intended for technical issues only, not questions and technical assistance. Please refer to the Community Forums or Magento Stack Exchange site for technical questions. In your case, the programming questions forum is likely the most appropriate.
https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2

[2016-06-09 11:18] #4902 closed, assigned to nobody

[2016-06-09 11:40] oserediuk commented on #4530
Hello @ntoombs19 ! I cannot reproduce this issue by your steps. Do you still have  this issue? Which code version do you use?

[2016-06-09 11:40] webdezign opened #4939 "Dropdown menu attribute value not filtering quote character in admin"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a new attribute with dropdown menu type, enter values with " or '
3. Assign this attribute to default attribute set.

Expected result
![bug](https://cloud.githubusercontent.com/assets/18737251/15928504/2f47030e-2e3f-11e6-8fb6-9f4c67d4c959.png)
## Actual result

The values inside dropdown menu should filter &quot; as "

[2016-06-09 11:41] maghamed commented on #4639
That's true, for now Magento doesn't show possible attribute values in LN if all the products in the result set have this option(-s). So, Magento shows LN options just in case they lead to narrowing down result set. This is done to prevent possibility of infinite LN clicking.
For example, you have a search request "polo t-shirt" and get 10 t-shirts in the result set.
5 out of 10 shirts have "S" si

[2016-06-09 11:45] mackelito opened #4940 "Response when adding products to cart should be changed"
## Steps to reproduce
1. Add items to the cart thru the rest API and inspect the result of the xhr
## Expected result
1. Response should be the cart. Same as when requesting '/rest/V1/guest-carts/29c8ee939e3a6146518e7340dfef75eb/totals'
## Actual result
1. The response is the product that we just added. eg:
   `{"item_id":52,"sku":"MH01-XS-Black","qty":1,"name":"Chaz Kangeroo Hoodie-XS-Black","pri

[2016-06-09 11:46] duhon commented on #4708
Hello @DoveID

At the moment everything is fine.

[2016-06-09 11:46] #4708 closed, assigned to nobody

[2016-06-09 11:49] ludwig-gramberg commented on #3457
in which version will this be fixed? in 2.0.6 its still an issue

[2016-06-09 11:49] ludwig-gramberg commented on #3083
we have the same issue, any update on this?

[2016-06-09 12:01] hutsanon opened #4941 "after install magento"
after install magento

Please tell me this is normaly ?
![snap 2016-06-09 at 18 45 05](https://cloud.githubusercontent.com/assets/19837095/15929011/85731954-2e74-11e6-96ce-3bb40655b6c5.png)

[2016-06-09 12:10] orlangur commented on #4927
Not sure if I understood your issue correct, but.

The new object is the one which does not have id, as soon as you save an object it now has id and you can refer to particular object using this id.

So, when you try to save object with id it means that such object is already present and you only need to update outdated data.

Obviously, if there is no such object in database, nothing will happen

[2016-06-09 12:14] sevos1984 commented on #3968
This issue is fixed in develop branch, update your code base please

[2016-06-09 12:18] anton-huz commented on #4620
Currently I'm closing issue as one that "Cannot reproduce".

@rawick please comment here if any additional info you'll have.

[2016-06-09 12:18] #4620 closed, assigned to nobody

[2016-06-09 12:38] densen45 opened #4942 "On editing a Bundle product from shopping cart the user defined quantities of the options are overwritten"
## Steps to reproduce
1. Install Magento CE 2.0.6
2. Create a Bundle product with at least one option of type radio and enable user defined quantity
3. Add more then one product to the option and enable user defined quantity
4. Open the Bundle product on frontend
5. Change the quantity of an option
6. Add the Bundle product to the shopping cart
7. Go to the shopping cart
8. Press the "Edit" button

[2016-06-09 12:38] azhar411 commented on #2330
I have text field width which enter the value in text box width which is convert into meter and multiply by the selected radio button value. baseprice_width_gether

[2016-06-09 12:42] victor-v-rad commented on #3066
See in
https://github.com/magento/data-migration-tool/blob/master/etc/ce-to-ce/1.9.2.3/config.xml.dist
Settings mode consist of Settings Step and Stores Step

[2016-06-09 12:44] ludwig-gramberg commented on #3457
just upgraded to 2.0.7 definetly not fixed:

![bildschirmfoto_2016-06-09_um_14_43_41](https://cloud.githubusercontent.com/assets/2245065/15929975/a581032e-2e50-11e6-9eb9-661ad4bc38a1.png)

[2016-06-09 12:45] antboiko commented on #4908
Hi @parthviroja , thanks for the details.

I cannot reproduce the issue on develop branch. The configurable product has been saved without error message.

The fix is already in develop branch and will be available in 2.1 release.

I'm closing the issue. Feel free to reopen it if needed.

Best,
Anton.

[2016-06-09 12:45] #4908 closed, assigned to nobody

[2016-06-09 13:00] choukalos commented on #4917
Tracking internally as MAGETWO-54108

[2016-06-09 13:02] redboxmarcins commented on #3066
Thanks for pointing that, Settings mode consists of two steps - settings and stores

So actual task is here - https://github.com/magento/data-migration-tool/blob/master/src/Migration/Step/Stores/Data.php#L66

But again - this is just simple data copy between 3 tables hardcoded in helper
https://github.com/magento/data-migration-tool/blob/master/src/Migration/Step/Stores/Helper.php

Still don't see

[2016-06-09 13:09] joates-ldg commented on #4573
Any feedback on this?

[2016-06-09 13:16] arkadiych commented on #4941
@hutsanon, it looks like images are not accessible, please, check [official magento2 doc](http://devdocs.magento.com/guides/v2.0/install-gde/trouble/tshoot_no-styles.html).
If it doesn't help, please, provide detailed reproducible steps, a reproducible version and environment information.

[2016-06-09 13:16] tkacheva commented on #2424
Contains condition works as expected on my side as well
If you still have the issue, reopen the ticket with reference to Magento version you use
 ![contain_operator](https://cloud.githubusercontent.com/assets/5603216/15930765/4e1c49ec-2e5d-11e6-9846-9393de10ad75.png)

[2016-06-09 13:16] #2424 closed, assigned to voleye

[2016-06-09 13:22] choukalos commented on #4940
Assigning @mbrinton01 and marking as desired improvement.

[2016-06-09 13:24] pynej commented on #4710
Also https://github.com/magento/magento2/issues/4321 was a dup.

Is there a commit I can reference for the changes so I can apply them to my site ahead of the next release.

[2016-06-09 13:26] pynej commented on #2925
Yes, merge_files doesn't do much as it just merges js in the layout head section.  The bundling in theory supposed to merge and optimize other js that loads through requireJs but I believe there are still issues with it.
#4506

[2016-06-09 13:27] choukalos commented on #4938
Hi @craigcarnell VarnishPlus pricing starts at $31k US for a 3 node cluster is this something that merchants would be willing to pay over using Nginx for SSL termination -> Varnish -> Nginx FPM or Apache type of system architecture?  What about [Hitch](https://www.varnish-software.com/community/hitch) instead?

[2016-06-09 13:49] commcad commented on #4938
^^^ No thanks lolll

NGINX on **HTTP2** with the full TLS1.2 and HSTS implemetation + running REDIS 3.5 on unix socket.

= makes varnish almost as popular as the built-in firefox's cache ;)

< 0.75sec page load. Read; nearly instant

(Magento 2.1rc2 pffffff!!!)

[2016-06-09 13:57] RG-1 commented on #4881
Hello Anton,

Dropdown list and swatches are used in configurable products and layered navigation, so values should be precise. Otherwise, it may create confusion and wrong assignment. When dropdown is used just to create additional information, then it doesn't matter much.

**Configurable products**
Creating Product Configurations [Products > Catalog > Add product or Edit] allow to select same va

[2016-06-09 14:00] OLTC-fperrin commented on #4484
Hello,

I am using Magento 2.0.7 and I'm having the same issue.
I have users with `Magento_Cms::media_gallery` permissions (these users have `Magento_Backend::content` permissions) but images in the wysiwyg won't show.
After looking at the directive Controller I can see it's extending `\Magento\Backend\App\Action` which checks for `Magento_Backend::admin` (makes sense).

After adding the following

[2016-06-09 14:00] mslabko commented on #4936
Hi @ruturamani ,
Thank you for reporting! We will take care about your issue, but please use this repo https://github.com/magento/code-migration/issues for similar issues

[2016-06-09 14:05] flancer64 commented on #4927
Thanks for the answer.

The case is following. I create new object using Object Manager:

[code]

this object exists in the memory only. It's OK. Let I set ID = 8 for the object that exists in memory only:

[code]

Let there is no object with ID=8 in the DB. It's OK too. Then I try to save this object to DB using repository class:

[code]

No new object is created in DB. No error is thrown. It is

[2016-06-09 14:09] ahofstetter commented on #4119
I get this error as well

[2016-06-09 14:10] flancer64 commented on #4927
OK, I allow that ID can be changed on save if autoincrement option is used for the ID field, but I expect that object itself is saved to DB if there are no errors on save.

[2016-06-09 14:26] kitsor commented on #4237
@melnikovi
Since default timezone has been hardcoded into bootrap.php
https://github.com/magento/magento2/blob/develop/app/bootstrap.php#L49

`date_default_timezone_set('UTC');
`

You have big issue with getting scoped timestamp in [Timezone.php#L209](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php#L209)

[code]

You are getting STRING d

[2016-06-09 14:27] victor-v-rad commented on #4898
Hi @kandrejevs
It is good you have managed to find the solution. But anyway we will investigate the cause of the issue withing internal ticket MAGETWO-54114
Thanks

[2016-06-09 14:41] dimple-vasoya commented on #3625
Facing the issue of no customer name in top link because of local storage. Please fix this asap.

[2016-06-09 14:43] oserediuk commented on #4484
So, can I close this issue?

[2016-06-09 14:43] SidneyBilliet opened #4943 "Translate of cookie restriction results in html on front-end"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Enable Cookie restirctions
   3.Translate the "Learn more" text and change the link to another page
## Expected result
1. Should be able to modify the "learn more" link without it resulting in html on frontend

Actual result
![2016-06-09_16h13_59](https://cloud.githubusercontent.com/assets/13572447/15933789/5f040ea8-2e61-11e6-8025-

[2016-06-09 14:46] slavvka commented on #3457
It is in the latest code in https://github.com/magento/magento2 repo not in releases yet

[2016-06-09 14:48] OLTC-fperrin commented on #4484
I haven't seen any fix for this even in the latest sources so I wouldn't think so

[2016-06-09 15:09] sevos1984 commented on #4448
Can't reproduce on latest develop. Try update your code base please

[2016-06-09 15:23] duhon commented on #4573
Hello @joatesTS

This issue has not reproduced in develop branch. Try to update your code base (2.1-rc, e.g.) and if you still have any issue, please reopen this one

[2016-06-09 15:23] #4573 closed, assigned to nobody

[2016-06-09 15:25] katmoon commented on #4270
I'm closing the ticket since there is no response for more than 2 weeks.
Please feel free to reopen if needed.

Thanks,
Kateryna.

[2016-06-09 15:25] #4270 closed, assigned to nobody

[2016-06-09 15:32] sevos1984 commented on #4475
Internal ticket created MAGETWO-54121, thanks for posting

[2016-06-09 16:10] Talisa85 opened #4944 "New Simple Products are not displayed in the frontend - Magento ver. 2.0.6"
Hi Community,

since a couple of days I'm not able to set up a simple product which is display in the frontend. Any attempt to make it visible in the frontend leads to no result.

Currently I'm running Magento 2.06

Looking forward to your solutions, regards Talisa

[2016-06-09 16:19] piotrekkaminski commented on #4927
@flancer64  seems reasonable to me that for consistency, if there is no error thrown, object is saved @orlangur

[2016-06-09 16:33] hutsanon commented on #4941
@arkadiych

Windows 7
xampp 5.6.21
Magento-CE-2.0.7+sample_data

[2016-06-09 16:39] orlangur commented on #4927
Where did you get an id, for instance, 8? The only way some entity can obtain an id is when you saved new entity without id.

If the system would allow to save new entities with arbitrary id specified, it would open the doors for  various attacks, like, save entity with id near to max_int and just overflow the autoincrement.

So when your code deals with any id it assumes such object was already c

[2016-06-09 16:43] orlangur commented on #4941
No, this is not. Please check the Network tab of Developer Console (Ctrl + Shift + I) - most likely for static files you'll see 403 or 404 status codes. More specific, font file didn't load.

[2016-06-09 16:51] orlangur commented on #4944
2.0.6 could not break I believe, are you sure not using 2.1-rc? In 2.1 I noticed product are wrongly saved as Out of Stock if do not specify quantity.

There are not a lot of things which can go wrong to lead to result you observe. Could you specify exact steps maybe? So, to get displayed product needs to be In Stock, with proper Visibility (Catalog, Search is default), caches and indexes needs to

[2016-06-09 17:21] TKlement commented on #2567
We are working with version 2.0.7 and the bug is still there.
While adding a configurable product the attribute set will be disabled when page has finished loading.
Can you confirm that?

[2016-06-09 17:26] flancer64 commented on #4927
@orlangur , I came up with this number. You can use any not existing ID to break up the saving. I suppose it is a good practice don't allow things that break other things. To deny ID setting for in-memory objects or to throw an error if object cannot be saved for any reason ("ID does not exist" for example).

[2016-06-09 17:37] hutsanon commented on #4941
@orlangur
Yes Please help.
![capture](https://cloud.githubusercontent.com/assets/19837095/15939766/7215a564-2ea3-11e6-9fe5-8d6c022f5459.JPG)

[2016-06-09 18:26] Talisa85 commented on #4944
![image](https://cloud.githubusercontent.com/assets/19840780/15940968/96cd31bc-2e7e-11e6-8185-3bd16ab4b672.png)

![image](https://cloud.githubusercontent.com/assets/19840780/15941296/c47b8b94-2e7f-11e6-9d12-7446d569f7a3.png)

Hi Orlangur,
thanks for feedback. I just double checked. I'm using 2.0.6 and the products are in stock. Cache and index are clear and green.

I set up the new products exactl

[2016-06-09 18:36] piotrekkaminski commented on #4010
@jaimestuardo can you check on 2.1RC? it should be fixed there. If problem persists, please open a new issue.

[2016-06-09 18:36] #4010 closed, assigned to ishakhsuvarov

[2016-06-09 18:39] piotrekkaminski commented on #3991
Confirmed issue with 7.0.5.

[2016-06-09 18:39] #3991 closed, assigned to nobody

[2016-06-09 18:41] piotrekkaminski commented on #4008
@karishmadaffodil this question is better suited for magento.stackexchange.com. Github is for bug reports and contributions.

[2016-06-09 18:41] #4008 closed, assigned to nobody

[2016-06-09 18:46] piotrekkaminski commented on #4005
@choukalos feature request for you

[2016-06-09 18:47] hutsanon commented on #4941
Please tell me why it's so many error ?

![snap 2016-06-10 at 01 43 54](https://cloud.githubusercontent.com/assets/19837095/15942118/471f1318-2ead-11e6-8c8e-11c2fa40455a.png)

[2016-06-09 18:48] piotrekkaminski commented on #4004
Internal issue MAGETWO-54128

[2016-06-09 18:51] piotrekkaminski commented on #4000
The issue will soon be merged to the repository.

[2016-06-09 18:51] piotrekkaminski commented on #3997
@ktruehl do you see the same on 2.1RC1? I was not able to reproduce.

[2016-06-09 19:09] piotrekkaminski commented on #3989
Closing as a permission issue. Permissions were update in 2.1.

[2016-06-09 19:09] #3989 closed, assigned to nobody

[2016-06-09 19:12] orlangur commented on #4941
For me it usually happened due to incorrect filesystem permissions. So, in any unknown situation I just do

[code]

I didn't try to investigate yet why Magento 2 creates folders it is not able to read, will do it if the problem persist in 2.1 stable release.

[2016-06-09 20:31] fooman commented on #4723
thanks @bwaters for looking into it. Yes I unzipped into separate subdirectories.

[2016-06-09 20:45] twistedindustries commented on #3724
This happens when trying to override sales_email_order_renderers.xml under Magento_Bundle.

[code]

Doesn't work on the theme level under app/design/Vendor/theme/Magento_Bundle/layout/sales_email_order_renderers.xml

[2016-06-09 20:47] ycherfan opened #4945 "How can I disable minimal price?"
My catalog is showing "as low as" for each product that I have changed the price.

![as-low-as](https://cloud.githubusercontent.com/assets/499073/15945653/f71bab1c-2e69-11e6-975d-9516b0745e47.png)

"Tão baixo quanto": "as low as" in portuguese :)

Tier price isn't configured for my products, so I think it is related to product's minimal price

How can I disable it?

I'm using version 2.1.0-rc1.

[2016-06-09 21:30] keharper commented on #4931
Both paths are working on our internal builds.

[2016-06-09 22:40] piotrekkaminski commented on #3985
Closing due to lack of updates.

[2016-06-09 22:40] #3985 closed, assigned to nobody

[2016-06-09 22:41] piotrekkaminski commented on #3986
@mbrinton01 can you look into it?

[2016-06-09 22:53] piotrekkaminski commented on #3982
unable to reproduce in 2.1RC1

[2016-06-09 22:53] #3982 closed, assigned to guz-anton

[2016-06-09 22:56] piotrekkaminski commented on #3981
This problem is a better fit for magento.stackexchange.com

[2016-06-09 22:56] #3981 closed, assigned to nobody

[2016-06-09 22:57] piotrekkaminski commented on #3980
@mbrinton01 @choukalos  can you look into it?

[2016-06-09 23:02] piotrekkaminski commented on #3979
@mbrinton01 ? this question is a better fit for magento.stackexchange.com

[2016-06-09 23:02] #3979 closed, assigned to nobody

[2016-06-09 23:05] piotrekkaminski commented on #3977
The JS warning is still reproducible in 2.1RC1

[2016-06-09 23:11] piotrekkaminski commented on #3975
Closing due to lack of response.

[2016-06-09 23:11] #3975 closed, assigned to nobody

[2016-06-09 23:12] piotrekkaminski commented on #3974
Not able to reproduce.

[2016-06-09 23:12] #3974 closed, assigned to nobody

[2016-06-09 23:29] piotrekkaminski commented on #3969
Internal ID MAGETWO-54153

[2016-06-09 23:30] piotrekkaminski commented on #3967
This issue is fixed in latest develop branch.

[2016-06-09 23:30] #3967 closed, assigned to nobody

[2016-06-09 23:32] piotrekkaminski commented on #3965
@devhn do you still have this issue on latest (2.1RC) version? do you use any custom template?

[2016-06-09 23:36] piotrekkaminski commented on #3962
Closing due to lack of updates.

[2016-06-09 23:36] #3962 closed, assigned to guz-anton

[2016-06-09 23:38] piotrekkaminski commented on #3960
The link above seems to contain proper solution.

[2016-06-09 23:38] #3960 closed, assigned to ishakhsuvarov

[2016-06-09 23:46] piotrekkaminski commented on #3945
I was not able to reproduce it.

[2016-06-09 23:46] #3945 closed, assigned to nobody

[2016-06-09 23:46] #3943 closed, assigned to NadiyaS

[2016-06-09 23:47] piotrekkaminski commented on #3942
@choukalos performance use case

[2016-06-09 23:48] piotrekkaminski commented on #3942
@rkhoury82 can you provide more info on your specific use case? what type of products? what is the maximum number of products you would like to use etc?

[2016-06-09 23:51] piotrekkaminski commented on #3937
Internal issue MAGETWO-54156

[2016-06-09 23:53] piotrekkaminski commented on #3934
@ilol can you look into it?

[2016-06-09 23:54] #3930 closed, assigned to nobody

[2016-06-09 23:55] piotrekkaminski commented on #3926
@pynej can you elaborate? Do you mean Varnish doesn't work on 2.1RC1?

[2016-06-09 23:56] piotrekkaminski commented on #3925
Internal issue MAGETWO-54158

[2016-06-09 23:59] piotrekkaminski commented on #3924
It's a limit of php configuration, because config max_input_vars by default has value 1000, in this case value of max_input_vars should be 10000. After increasing to 100000 it  seems to  work fine with 2100 options.

[2016-06-09 23:59] #3924 closed, assigned to nobody

[2016-06-10 00:02] piotrekkaminski commented on #3915
Forums and magento.stackexchange.com are better place for such questions. The issues we have seen so far are mostly images not existing or incorrect permissions.

[2016-06-10 00:02] #3915 closed, assigned to yaronish

[2016-06-10 00:09] rudik99 commented on #3942
For example, I run multiple apparel store's (swimwear)
We offer all products in all colours and sizes (some might be stocked and some are made to order)

So configurable product:

10-15 Sizes (from Attributes)
20-30 Colours (from Attributes)

So 300-400 combinations (Simple Product), need the simple product to manage stock / inventory

[2016-06-10 00:25] piotrekkaminski commented on #3911
Confirmed, internal issue MAGETWO-54159

[2016-06-10 00:26] piotrekkaminski commented on #3908
This is often not a good idea. You might have sent emails or have external landing pages referencing the old images. If you delete theme, you will break the links. With disk space being really cheap right now it is recommended to leave old images.

[2016-06-10 00:26] #3908 closed, assigned to antboiko

[2016-06-10 00:28] piotrekkaminski commented on #3905
It is fixed in develop branch.

[2016-06-10 00:28] #3905 closed, assigned to kandy

[2016-06-10 00:31] piotrekkaminski commented on #3904
We have plans to address more "something went wrong" errors in next release. Internal ticket MAGETWO-52217

[2016-06-10 00:33] pynej commented on #3926
I didn't try the RC.  I simply tried adding the indicated code sample from bwaters into my varnish.vcl and checked the hit/miss of my content pages.  With the code addition all the pages in the site constantly miss.  Similarly remove the line form the listed change 5544d73 causes all pages to miss. I don't have the log on hand.

[2016-06-10 00:42] piotrekkaminski commented on #3900
Possibly related MAGETWO-53410

[2016-06-10 00:45] piotrekkaminski commented on #3897
Fix should be delivered to github shortly, already done internally and will be released with 2.1

[2016-06-10 00:45] #3897 closed, assigned to nobody

[2016-06-10 00:53] alexcrz opened #4946 "Discount code error “Request does not match any route”"
Hi, I'm using magento 2.0.7, and I'm getting an error on the www.xxxx.xx/checkout/#payment page when I try to add the discount code, saying `Request does not match any route`. The code works if I try to add it in the cart , but not here. Also if I try to insert it while inspecting the page , I get this `https://xxxx.xxx/rest/default/V1/guest-carts/c31f5a164842f064cb237c6239618a7e/coupons/heyyou Fa

[2016-06-10 04:29] piotrekkaminski commented on #4365
This issue was resolved internally and will be published soon.

[2016-06-10 05:42] ranjith2512 opened #4947 "Facing issue magento 2.0.7 http://ip- address/magento/admin/admin/index/index/key/44645c3100b53cd5ae070f164109438496abb028e7d4bf38ed63168ebafd86bf/"
I try following but not resolved

1.php bin/magento setup:static-content:deploy
2.chmod -R 777 *
3.vi /etc/httpd/conf/httpd.conf
If i edit to override all it means admin page reflect 500 error

Please help

[2016-06-10 05:53] devhn commented on #3965
We are currently on 2.0.7 (upgraded few days ago) and can't reproduce this issue any more.

[2016-06-10 05:53] #3965 closed, assigned to nobody

[2016-06-10 06:39] #4448 closed, assigned to slavvka

[2016-06-10 06:59] karlsminton commented on #3945
This is a poor response.

[2016-06-10 07:06] antboiko commented on #4944
Hi @Talisa85 , how many Websites do you have? Could you please also check Websites tab on Product form?

Thanks,
Anton.

[2016-06-10 07:20] hutsanon commented on #4941
in 2.1 stable release. ?

Do you mean i must to waiting a new version ?

[2016-06-10 07:24] mslabko commented on #4931
Hi @flancer64 ,
It's working on 2.1.0 rc-2. "default" means "Store View code"
Please sure, that you still have Store View with "default" code.  This Store View exists by default in Magento instance.

[2016-06-10 07:32] Talisa85 commented on #4944
Hi Anton,
i just have one Site. Do mean this Tab?
![image](https://cloud.githubusercontent.com/assets/19840780/15957251/2866a616-2eee-11e6-992e-c4a6da5420fd.png)

I spend 3 days and have still no solution for this problem. Can anybody help me.

[2016-06-10 07:38] Asitis opened #4948 "Admin menu seems scrambled / parts missing [2.1.0rc2]"
## Steps to reproduce
1. Clone Magento 2.1.0rc2 (`git clone git@github.com:magento/magento2.git`)
2. Install via Composer
3. Login to admin  Stores > Configuration
## Expected result

See all the configuration options
## Actual result

Only 'Search Engine Robots' appears on the Design tab.
The 'Web' tab is completely empty.
The 'General' tab everything is set to 'System value' even though this wou

[2016-06-10 07:41] nextend opened #4949 "Compiler improvement"
It would be great if you could add extend the setup:di:compile command with hooks to be able to exclude specific directories in our extensions. My extension is a crossplatform application and the compiler always fails as it uses custom autoloader and lot of special things. With the current Magento 2 compiler I can not release it.

As far as I see the test folders excluded only and there is no hook

[2016-06-10 07:43] usn0545 opened #4950 "Invalid return type - urgent"
Invalid return type
#0 /var/www/html/magento2/vendor/magento/framework/App/Bootstrap.php(258): Magento\Framework\App\Http->launch()
#1 /var/www/html/magento2/index.php(42): Magento\Framework\App\Bootstrap->run(Object(Magento\Framework\App\Http))
#2 {main}

Can some one tell me why I'm getting this issue.

[2016-06-10 07:50] hostep commented on #4359
Hi guys

Another vote for stabilizing composer/composer.

We run into an issue on our hosting with Magento 2.1-rc2, because Magento ships with version 1.0.0-beta1

When we try to login to our backend, a PHP warning is thrown:

[code]

This happens because in version 1.0.0-beta1 of composer this line fails:
https://github.com/composer/composer/blob/1.0.0-beta1/src/Composer/Util/RemoteFilesystem.php

[2016-06-10 08:15] antboiko commented on #4945
Hi @ycherfan , has you run reindex after updating the price?

Thanks,
Anton.

[2016-06-10 08:21] Asitis commented on #4941
This should work on 2.0.7 as well, it indeed looks like a permission issue. I'd try running these commands (I run 2.1rc2 on a local server and have seen similar issues, all rights-related)
`find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \;`
`find var vendor pub/static pub/media app/etc -type d -exec chmod g+w {} \;`
`chmod u+x bin/magento`

And also try clearing the cache,

[2016-06-10 08:23] bpoiss opened #4951 "Configurable Product - Edit Configurations changes names of simple products to SKU"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a configurable product with at least 1 associated product and save it
3. Reopen edit page
4. Click "Edit Configuration"
5. In Step 2 select an additional attribute value so that a new simple product is generated
6. Finish the wizzard, click generate products
## Expected result
1. In the grid of associated products, the names

[2016-06-10 08:28] vutrankien commented on #4767
@sereban, i using the code above in

[code]

 for get collection for paging page

[code]

The collection for group by is

[code]

[2016-06-10 08:44] flancer64 commented on #4931
Oh! Thanks, this is the reason! I have no "default" store/storeView in my development configuration.

[2016-06-10 08:44] #4931 closed, assigned to nobody

[2016-06-10 08:46] emizentech opened #4952 "REST API : Save Product Detail per store view not working"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Deploy Sample Data
3. Using REST API catalogProductRepositoryV1 REF: http://devdocs.magento.com/swagger/index.html

Get Key from Admin token API
and use that key in

POST /V1/products
PUT /V1/products/{sku}
with parameter tried with both parameter one by one
- store_id=0
- storeId=0
  using following JSON

[code]

Does not support stor

[2016-06-10 08:48] victor-v-rad commented on #3066
Sequence tables are created here \Migration\Step\SalesIncrement\Data::createSequenceTable

[2016-06-10 08:51] TheFrankman commented on #1616
I can only assume that this still hasn't been fixed. I'm on version 2.0.7 and still no luck.

Additionally I don't see anything in the codebase to handle sales_convert_quote only payments, addresses, etc.

I'd prefer to do this the proper way, I also don't see how it would work without the appropriate getters and setters in the order / invoice interface.

[2016-06-10 09:06] srbarba commented on #3676
Have the same issue, some fix please
[SOLVED] The problem was the $_COOKIE['store]

[2016-06-10 09:06] shiftedreality commented on #4710
Ah, it looks like internal M2 repository was not synchronized with public yet.
Reopened until fix is delivered to public magento/magento2

[2016-06-10 09:10] alena-marchenko commented on #4578
Hi @tgoeminne

Closing the issue, the fix has been delivered to develop branch.

[2016-06-10 09:10] #4578 closed, assigned to alena-marchenko

[2016-06-10 09:10] alena-marchenko commented on #4597
Hi @ruby10

Closing the issue, the fix has been delivered to develop branch.

[2016-06-10 09:10] #4597 closed, assigned to alena-marchenko

[2016-06-10 09:11] alena-marchenko commented on #4508
Hi @daniel-ifrim

Closing the issue, the fix has been delivered to develop branch.

[2016-06-10 09:11] #4508 closed, assigned to alena-marchenko

[2016-06-10 09:48] alena-marchenko commented on #3379
Closing the issue, the fix has been delivered to develop branch.

[2016-06-10 09:48] #3379 closed, assigned to alena-marchenko, NadiyaS

[2016-06-10 10:03] kanduvisla opened #4953 "When placing reorder: You need to choose options for your item."
When I want to reorder a product, I get the following error:

[code]

However, this is a reorder of an already placed order earlier. I get this error as soon as I click 'reorder' in the backend. Anyone knows what might be going on here?

[2016-06-10 10:04] vektor-dev commented on #2286
Same problem here:
Compilation from source:
frontend/Vektor/petscorner/en_US/css/email-fonts.less

Any way of sorting it out?

[2016-06-10 10:07] stevewinni opened #4954 "Help Doc Link 404"
Steps to reproduce
1. Marketing > Promotions > Cart Price Rules > Lables
2. Click on Help Icon for Store View Specific Labels

Expected result
1. http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes

Actual result
1. 404

[2016-06-10 10:31] ludwig-gramberg opened #4955 "security issue: env.php must be writeable in production"
I have an issue with Magento expecting the env.php file to be writeable in production, potentially an attacker who gains code-execution in the webserver could then manipulate this file to execute arbitrary code

in production I want to be able lock down this file so nobody can manipulate it, after all this is the production mode, so no code-generation is necessary (and if you must store parts of t

[2016-06-10 10:31] Asitis opened #4956 "Feature request - Export for site content (static blocks / pages)"
Would it be possible to make the import/export function also available for all the static pages and blocks? Nowadays webshops are barely just products, but also consist of a lot of static content, but migrating it is a real headache. It is doable by exporting/importing database tables but it's a hassle to set all the correct storeviews, ID's and pages. Plus in a combination of static blocks tied t

[2016-06-10 10:35] shivkumarsingh7 opened #4957 "Fatal error when adding newsletter template"
## Steps to reproduce

Navigate to the **Marketing>Newsletter Template** section from your main admin dashboard. Then, Click on the **Add New Template**

Will throw below error

**Fatal error:** Call to a member function getId() on string in [magento root]/vendor/magento/module-google-optimizer/Observer/Block/Category/AddGoogleExperimentFieldsObserver.php on line 45

[2016-06-10 10:46] GianniPDF commented on #3676
Looks like m-strojek fix works! Ty

[2016-06-10 10:50] tkacheva commented on #4484
@jchesko I checked on Magento  2.1.0-rc2 and issue doesn't exist. User with manager role has access to previously uploaded images. Wait for Magento 2.1 release coming soon
![wysiwyg](https://cloud.githubusercontent.com/assets/5603216/15962172/edea79da-2f11-11e6-8bd2-b996df189cda.png)

closing the issue. if you come across it again, reopen it

[2016-06-10 10:50] #4484 closed, assigned to tkacheva

[2016-06-10 10:51] Asitis commented on #4948
I found this topic: https://github.com/magento/magento2/issues/4754
Apparently the theme options moved to Content > Design:Configuration in the backend. And I guess it would be possible that order menu-options got shuffled around this release.

TL;DR: Sorry, seems to be a non-issue, all the options are there, but in different locations as before.

Update: Saw the same issue again where the "Web" t

[2016-06-10 10:51] #4948 closed, assigned to nobody

[2016-06-10 10:53] duhon commented on #3971
In version 2.1 the problem is solved

[2016-06-10 10:53] #3971 closed, assigned to nobody

[2016-06-10 10:57] shivkumarsingh7 opened #4959 "redirecting to dashboard"
## Steps to reproduce
1. you will need to navigate to Content>Blocks in magento admin.
2. click on select in action for any available block and click on detail.

It will redirect to admin dashboard.

[2016-06-10 10:59] peec opened #4960 "[2.1-RC2] Different admin language breaks admin GUI"
PHP version: 7.0.3
Magento: Magento 2.1-RC2

Just did upgrade from 2.0.7 to 2.1.0-RC2
## Steps to reproduce
1. Change the language of admin interface in the upper right corner ("Account settings (admin") and chose another language.
2. Clear cache
3. E.g. Try to edit a product.
4. You will see errors and the editing GUI is not functional.

There is numerous errors, not only on product edit. Also ca

[2016-06-10 11:16] peec commented on #4960
Totally unrelated to the admin language but ( another error when I press save on a product ):
Edit created #4962 for this issue.

[2016-06-10 11:38] srbarba commented on #3805
I have the same problem.
Thank you @nobodypb , Your fix solved my issue! :D

Please, add this fix to future releases!

[2016-06-10 11:44] ktruehl commented on #3997
Hi @piotrekkaminski,

I just tested it on RC2, and I wasn't able to reproduce it.

However, I found another bug. :) After logging out, the "Welcome ..." message stays in the header, which is OK, since it is followed by the "not you?" link. However, to get rid of your name in the header altogether, clicking the "not you?" link does not suffice. Only after clicking on it a second time (after the pag

[2016-06-10 11:53] GianniPDF commented on #971
@nobuttsalex I managed to de that with
$categories = $fieldsetData->addField(
    'categories',
    'Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Category',
    [
        'name'     => 'categories',
        'label'    => __('Categories'),
        'required' => TRUE,
]
);

and adding < css src="Magento_Catalog::catalog/category-selector.css"/ > to your layout.

but having troubles trying to

[2016-06-10 11:58] minlare commented on #3827
+1

[2016-06-10 12:18] jaimestuardo commented on #4146
@nsergo Thanks!! I have turned Single Store mode off and it worked! What is really the difference if that setting is off or on?

@piotrekkaminski Can you try to reproduce it by turning that settng on?

[2016-06-10 12:33] NadiyaS commented on #4146
Hi @jaimestuardo , @nsergo ,
thank you for this additional condition.
Internal ticket MAGETWO-54191 was created to track this issue.

[2016-06-10 12:58] ludwig-gramberg opened #4961 "static-deploy does not generate all static files: _requirejs only generated on demand"
this should be fixed, if I deploy my static code to production the command should trigger the creation of the files in pub/static/_requirejs and pub/static/_requirejs/secure as well

[2016-06-10 13:12] redboxmarcins commented on #3066
@victor-v-rad thanks - that's fine, but what if someone is not actually want to migrate orders?
Looks like there should be some dependencies betweens modes/steps

What do you think?

[2016-06-10 13:14] peec commented on #4855
Updated issue.

This should be called after shipping details are filled out:
index.php/rest/default/V1/guest-carts/xxxxxxxxxxx/estimate-shipping-methods

Its only called on initial load of Checkout.

[2016-06-10 13:26] kandy commented on #4955
Can you point on functionality that required writeable env.php in production?

[2016-06-10 13:33] peec opened #4962 "[2.1-RC2] Impossible to save product / category due to JS error. $.validator not defined"
## Steps to reproduce
1. Install Magento 2.1-RC2
2. Edit a product / category and quite possiblity other things too.
3. Click on the save button, you will notice that nothing happens when you click save.
4. Open console, you see error message ("TypeError: $.validator.validateSingleElement is not a function")

$.validator seems to be undefined.
## Expected result
1. Possible to save the product.
##

[2016-06-10 13:38] RUjmiak opened #4963 "Poor REST API documentation"
It is necessary to finish REST API documentation. Right now it is frustrating to create request from current swagger documentation.

What is missing?
- how to create request as logged customer (for example how to create cart as logged customer)
- POST V1/carts/mine - missing parameters model schema

I will add here all missing information which missing in current docs.

[2016-06-10 13:44] katmoon commented on #2567
Hi @TKlement
The bug was fixed in develop branch and will be available with 2.1 release soon. Alternatively you can manually apply the fix.
`2.0.7` version is actually `2.0` + most critical issues.

[2016-06-10 13:57] grasdaggel opened #4964 "White login page (404 errors) if setup:static-content:deploy is used wrong"
We need to delete the whole pub/static/frontend-folder if we want to have CSS changes and stuff available on the site.

So we do the following:
$ rm -rf var/cache/\* var/generation/\* var/page_cache/\* pub/static/*
$ php-cli bin/magento setup:upgrade
$ php-cli bin/magento setup:static-content:deploy de_DE

Here comes the problem. If you delete the backend folder in pub/static Magento tries to allo

[2016-06-10 14:01] grasdaggel opened #4965 "Installing a custom module after throwing a table value out of the database triggers an stacktrace"
We created a custom module. We installed it with setup:upgrade. Since the module didn't did what we expected I deleted its value out of the setup_module table in order to use setup:upgrade again. The problem: this time data_version didn't got set (it stayed on NULL) whilst the schema_version got re-set to 2.0.0.

I'm not sure if this is intended.

Exact way to reproduce:
- create a module with all

[2016-06-10 14:02] RUjmiak commented on #4963
GET /V1/customers/me

with header Authorization Bearer <token>

respond is 400 Bad request

{
    "message": "%fieldName is a required field.",
    "parameters": {
        "fieldName": "customerId"
    }
}

[2016-06-10 14:06] jsakars opened #4966 "Varnish cache not working"
## Steps to reproduce
1. Install Magento 2.0.7 on Centos with Nginx, PHP 7.07 FPM and MariaDB 10.1
2. `set $MAGE_MODE production;` is set in Nginx server block
3. Some content is added
4. Varnish 4.03 is installed and configured. Note that Varnish was installed after Magento2 installation. All of that is currently running on the same server.
5. Magento is configured to use Varnish Caching
6. `varn

[2016-06-10 14:19] #4963 closed, assigned to nobody

[2016-06-10 14:30] bwaters commented on #4723
I was not able to reproduce unpacking from separate folders.  None of my form fields were poplulated from first install.  Did you use a different database or database prefix for second install?  Which values were being carried across?  Can you give me a step by step to duplicate?

[2016-06-10 15:10] fooman commented on #4228
An example of my own extensions - this 1 line change here
https://github.com/magento/magento2/commit/e81257235a89109012fdf5e2f038bf95272ad771#diff-f479129e7d10b50309fc7c8773e636cbL34
is responsible for breaking 4 of my M2 extensions.

![breakage-in-rc2](https://cloud.githubusercontent.com/assets/455508/15969285/ab4aabb8-2f2f-11e6-9314-5ca78400ab0f.png)

[2016-06-10 15:14] grasdaggel opened #4967 "getDescription(); and getShortDescription(); suddently stopped working"
Not sure how this could happen. We made some template and module changes recently and often used setup:upgrade and setup:static-content:compile.

We made some changes on the Magento_Catalog/templates/product/view/list.phtml and form.phtml, but both contain the same stuff as before (its just the order of the elements), also there are three different ways where we use <?php $_product->getShortDescri

[2016-06-10 15:16] ktruehl opened #4968 "swatch renderer block for configurable products has no name in layout"
In the file `vendor/magento/module-swatches/view/frontend/layout/catalog_category_view.xml` the swatch renderer is inserted as child block to the `category.product.type.details.renderers` block. However the swatch renderer block is given no name. As such it's impossible to remove it in a custom layout.

Of course it's possible to remove the parent block `category.product.type.details.renderers` si

[2016-06-10 15:22] rajesh2590 opened #4969 "minicart not cleared after order completion"
I'm facing the issue of minicart not cleared after order completion using our custom payment method.

This is the same issue as:
[Cart Items are not deleted after success checkout #1461](https://github.com/magento/magento2/issues/1461)

As we're creating extension for payment method, we've limitation to not to override, modify or inject our content to any view or layout (like onepage/success) afte

[2016-06-10 15:25] kgvconsulting commented on #4431
@MartijnBraam
@maksek
@MomotenkoNatalia

After upgrading to v 2.0.6 the same result with us too, the new orders does not show in the Sales/Orders menu of backend admin side. The customer get email confirmation and the new orders are shown ONLY on Dashboard, under latest order, but there is a space only for 5 new orders so if you go over that number you miss orders. It is plausible to open the new

[2016-06-10 15:25] ludwig-gramberg commented on #4960
yep, and we use another language than en_US as the default, but you can't even register without en_US being available, you would have to change the users language within the database

the interface should only allow for languages which are availble in pub/static

[2016-06-10 15:28] ludwig-gramberg commented on #4955
its the cache, as soon as a cache option is disabled, it attempts to rewrite the file:

[code]

version is 2.0.7

[2016-06-10 15:31] antboiko commented on #4951
Hi @bpoiss , thanks for reporting this issue. Internal ticket MAGETWO-54222.

Best,
Anton.

[2016-06-10 15:32] RUjmiak opened #4970 "Error IDs - REST API"
It would be great to have not just message as response when request is not successful.

For example adding product to cart

response **400 Bad request** and message "You need to choose options for your item."
or **400 Bad request** and message "This product is out of stock."
or **400 Bad request** and message "We don't have as many \"Chaz Kangeroo Hoodie-XS-Gray\" as you requested."

Compare messa

[2016-06-10 15:42] #4914 closed, assigned to nobody

[2016-06-10 15:46] dsikkema-magento commented on #4723
@fooman also couldn't reproduce. I do notice that on the database page on both site1 and site2, root and localhost are populated but that's not from site info bleeding between sites but rather just they are defaults.

Now, to clarify, do you mean there are autocomplete suggestions, or field values get values actually get inserted? I think you mean the latter, but I'm asking because I also don't se

[2016-06-10 15:57] choukalos commented on #4639
@bgkavinga thank you for the input; I'm tracking this improvement as MAGETWO-54219 internally.

[2016-06-10 16:07] ludwig-gramberg commented on #4955
also i think if you disable/enable any cache it rewrites the file

[2016-06-10 16:07] dsikkema-magento commented on #4723
I can reproduce now - I have to stop the installation flow for site1 at Step 6, without actually installing. After I install, all the LocalStorage gets wiped away, but if I start installing site2 before site1 completes install then form data bleeds over. Can you confirm that behavior, or are you actually seeing a failure to wipe out local storage after the install finishes?

[2016-06-10 16:08] zhiyicai opened #4971 "checkout page is empty."
checkout page is empty.

![20160610180611](https://cloud.githubusercontent.com/assets/13891311/15970704/459a1cf2-2f36-11e6-8a17-3f3bf12b33f5.png)
![20160610180744](https://cloud.githubusercontent.com/assets/13891311/15970705/459b9c12-2f36-11e6-94bc-25f2e145656b.png)

[2016-06-10 16:13] fooman commented on #4723
@dsikkema I think you are right that the first install might not have finished. If I am not mistaken one other scenario is to completely finish the install and then go the Web Setup Wizard to for example install an additional extension, and then start a separate install.

[2016-06-10 16:17] mstumpf818 commented on #4920
@mslabko UPDATE: I've found that certain characters are not being properly html encoded and are setting off the alert.  If I disable the WYSIWYG editor and manually replace the characters with the HTML equivalent, then I am able to save successfully

( === &#40;
) === &#41;
+ === &#43;

[2016-06-10 16:18] kandy commented on #4955
Don't think that you need disable the cache on production.

[2016-06-10 16:20] fooman opened #4972 "2.1.0-rc2 superficial change breaks extensions with sales order grid massactions"
This line of code here
https://github.com/magento/magento2/commit/e81257235a89109012fdf5e2f038bf95272ad771#diff-f479129e7d10b50309fc7c8773e636cbL34

changes the `listing_top` from a `container` to a `listingToolbar`. However `listingToolbar` is defined in the `ui_configuration.xsd`  as

[code]

currently to me this change looks to be absolutely superficial - it doesn't provide any additional value

[2016-06-10 16:23] dsikkema-magento commented on #4723
web setup wizard doesn't have the same fields as the web setup installer does it? Which fields could bleed together between those two?

Just for anyone browsing this thread, the workaround would be to go into developer mode of the browser on delete entries inside of "local storage" under the Magento domain.

[2016-06-10 16:32] jahvi commented on #1821
Is this still an issue? I'm wondering how I can make sure some external fonts get loaded before the regular style-m.css and style-l.css files.

[2016-06-10 16:35] psydwannabe commented on #3580
This issue has been resolved internally and will likely be included in the next release as noted by @piotrekkaminski in #4080 [here](https://github.com/magento/magento2/issues/4080#issuecomment-222206366).

[2016-06-10 16:35] psydwannabe commented on #3089
This issue has been resolved internally and will likely be included in the next release as noted by @piotrekkaminski in #4080 [here](https://github.com/magento/magento2/issues/4080#issuecomment-222206366).

[2016-06-10 16:58] exnite opened #4973 "Filter country drop down for estimate shipping on cart page"
## Steps to reproduce
1. Log into Admin, go to Store > Configurations > Sales > Shipping Methods
2. In UPS, Select "Specific Countries" under Ship to Applicable Countries
3. Pick United States and Canada under Ship to Specific Countries
4. Clear cache
5. Add a product to cart
6. Go to Shopping Cart,
7. Under Estimate Shipping and Tax, the Country drop down lists all countries
## Expected result
1.

[2016-06-10 17:00] exnite commented on #4973
The code is in Magento\Checkout\Block\Cart\LayoutProcessor line 88 and 95.

[code]

[2016-06-10 17:01] fooman commented on #4723
I currently have Setup Installer displaying

"We're making sure your server environment is ready for /var/www/m2/vendor/fooman/sameorderinvoicenumber-m2/composer.json to be installed."

instead of

"We're making sure your server environment is ready for Magento to be installed."

on the Readiness Check Step. Please note that this is in the folder /var/www/m2-inte.

So maybe it's only `ngStorage-ti

[2016-06-10 17:02] ludwig-gramberg commented on #4955
it just breaks functionality or security so its bad design

[2016-06-10 17:20] kandy commented on #4955
Magento can be used in different environment. In developer mode, you can clean cache because in this case you don't need maximum security, in production mode, you cannot disable cache with maximum security settings.  So no security issue there.

[2016-06-10 17:24] orlangur commented on #4969
Please describe your issue as a separate question rather than a comment to a http://magento.stackexchange.com/questions/100615/magento-2-how-can-refresh-minicart-cache-after-clear-cart-session-and-place-orde so that it can be answered.

GitHub is not a right place for this sort of things.

[2016-06-10 17:25] orlangur commented on #4941
@hutsanon, no, such `chmod`s worked well for me with any release.

I mean, I'll file a proper bug report if such kind of hack will still be needed in 2.1 stable.

[2016-06-10 17:27] ludwig-gramberg commented on #4955
but it wont work with any cache disabled, if I modify my env.php and disable one of the caches the app is broken (it wont load anything being stuck on trying to rewrite the file), also the admin-interface suggest to disable caches, this would also result in a failed write attempt

another aspect is, that I'm not sure which other parts of the code for whatever reasons might attempt to rewrite this

[2016-06-10 17:31] ghost commented on #4963
@RUjmiak You should consider making your requests on the [devdocs GitHub repo](https://github.com/magento/devdocs/issues)

[2016-06-10 17:32] ludwig-gramberg commented on #4955
I can only guess as to why this file was chosen as a php-file, might as well be an ini-file using http://php.net/manual/en/function.parse-ini-file.php keeping the dependency to read this cfg to a minimum, either way i think its a bad practice to mix "static"-cfg-values given by the environment and settings of the app (i.e. the cache being enabled/disabled)

[2016-06-10 17:36] ghost commented on #4954
@stevewinni  Hi, we'll take responsibility for this. It might take some time but we should be able to resolve it for you. Thanks for bringing it to our attention.

[2016-06-10 17:40] ccondra commented on #4954
The M1 user guides have been moved from merchdocs to the docs.magento.com subdomain, but there's a redirect in place that should take care of any existing links. If the redirect isn't working, we'll have to fix it.

[2016-06-10 17:42] parthviroja commented on #4908
Its ok, and thanks @antboiko

[2016-06-10 17:46] ghost commented on #4923
FWIW, we documented a slightly different method using `--no-update`: http://devdocs.magento.com/guides/v2.0/comp-mgr/cli/cli-rc1-samp.html

[2016-06-10 17:58] Shelest commented on #4119
+1 even in 2.0.7

[2016-06-10 18:06] pynej opened #4974 "After invoicing an item Print Invoices returns a 'no printable documents' error."
## Steps to reproduce
1. Install Magento from `2.0.7` branch.
2. Generic store, order created with a few items, invoiced.
3. Select the order under Sales->Orders, click Dropdown->Print Invoices
## Expected result
1. A PDF invoice
## Actual result
1. "There are no printable documents related to selected orders."

The invoice exists and if i go to Sales->Invoices I can print it there fine.

[2016-06-10 18:11] pynej opened #4975 "Print options from the Orders grid should be available when looking at a single order."
## Steps to reproduce
1. Install Magento from `2.0.7` branch.
2. Generic store data
3. Create and order
4. Open the order in Sales->Orders
## Expected result

It would be nice if there was a Print dropdown or a Print All button on the main order page similar to the index page so that we don't have to click  down into Invoice or Shipping and do multiple Print operations on an order.

[2016-06-10 18:22] #4971 closed, assigned to nobody

[2016-06-10 18:39] dsikkema-magento commented on #4723
Got it, will add to internal bug description

[2016-06-10 19:05] piotrekkaminski commented on #4047
internal issue MAGETWO-54235

[2016-06-10 19:13] sw45859 opened #4976 "Transaction Fetch: Incorrect Method Call"
Currently it is using the transaction entity id in the method call to load the order when it should be using the order id when fetching transaction information on the admin transaction details page.

Magento CE version 2.0.7
## Steps to reproduce
1. Attempt to fetch transaction results for any payment from payment transaction view
## Fix:

vendor\magento\module-sales\Controller\Adminhtml\Transacti

[2016-06-10 19:14] gabrielqs commented on #4053
Facing this one right now. Any ideas on when it will be corrected?

[2016-06-10 19:51] mcspronko commented on #4047
Hi @piotrekkaminski,

Thank you for internal issue reference. Any dates when this is going to be fixed?

Thanks

[2016-06-10 19:53] pynej commented on #4975
Ok, maybe less of an issue that I thought.  I did find that I can get it my going to Invoices and then checking the Invoice box and selecting PDF Invoice.  Still 4 clicks but the user doesn't have to search for the order.

[2016-06-10 19:57] pynej commented on #4974
Also when choosing Print All it seams to print the invoice twice and the second one printed is messed up.

[2016-06-10 20:36] w3prodigy commented on #2121
Thanks for the fix @ktruehl

[2016-06-10 21:02] webspeaks commented on #1632
Doesn't work for me as well. I am on v 2.0.7

[2016-06-10 21:21] AirmanAJK commented on #4853
I upgraded from CE version 2.1.0.rc1 to 2.1.0.rc2 using the Magento System Upgrade Wizard and received the following error in the console log:

I previously upgraded using the CLI to get to 2.1.0.rc1.

[2016-06-10 22:17] chicgeek commented on #1821
@jahvi Did you see the workaround I posted just above your comment? Have you tried this, or do all CSS instructions get loaded before your fonts?

Alternately, the `font-display` attribute for `@font-face` may be of interest to you:
- https://developers.google.com/web/updates/2016/02/font-display?hl=en
- https://tabatkins.github.io/specs/css-font-display/

[2016-06-10 22:19] bwaters commented on #3926
@pynej Thanks for the heads up.

This is the new code I am currently testing for 2.1
If you have a chance can you try it out?

remove return (deliver); at bottom of vcl_backend_response and replace with

[code]

[2016-06-10 22:24] bwaters commented on #4966
Thanks for reporting.  We are currently testing the following fix for 2.1
Add the following at bottom of sub vcl_backend_response

[code]

Does this resolve your issue?

[2016-06-10 22:36] theycallmepepper opened #4977 "Magnifier doesn't work with mode set to inner"
This appears to be the original library that was ported over [magnifier.js](http://mark-rolich.github.io/Magnifier.js/) which offers the option of setting mode to 'inside' for an in-frame zoom.

In the etc/view.xml for the theme if you set the following the zoom does not work as expected:
`
<var name="magnifier">
    <var name="mode">inside</var>
    <var name="eventType">hover</var>
    <var name

[2016-06-10 23:08] piotrekkaminski commented on #3864
@mbrinton01 can you look into it?

[2016-06-10 23:10] piotrekkaminski commented on #3862
@gammyduck can you provide an example file that causes this issue or what kind of error in the file causes it?

[2016-06-10 23:15] bondimedical3 opened #4978 "Magento 2 puts excessive load on servers"
I have noticed there are cron jobs running at night from my Magento 2 site which puts excessive load on my server. I receive multiple errors from my VPS, High 5 minute load average, email queue size alert, mysql crashing etc. Whenever I suspend the Magento 2 site there is not a single warning message. Please investigate this. (Magento 2.0.7)

[2016-06-10 23:53] piotrekkaminski commented on #3861
reproduced, internal issue MAGETWO-54242

[2016-06-11 00:01] piotrekkaminski commented on #3860
reproduced. Internal issue MAGETWO-54243

[2016-06-11 00:04] piotrekkaminski commented on #3858
Issue fixed in develop branch.

[2016-06-11 00:04] #3858 closed, assigned to nobody

[2016-06-11 00:22] piotrekkaminski commented on #3855
@SilvanLaroo i'm not able to reproduce this issue. can you check if still happens at 2.1rc2 or develop version?

[2016-06-11 00:25] piotrekkaminski commented on #3854
Please raise this issue through Magento Support.

[2016-06-11 00:31] piotrekkaminski commented on #3853
The issue is currently in QA and should be delivered shortly.

[2016-06-11 00:32] piotrekkaminski commented on #3849
@gammyduck can you provide the file you used for import?
@ilol can you look into it?

[2016-06-11 00:34] piotrekkaminski commented on #3845
The issue looks fixed in internal repository and should be available already in 2.1rc versions.

[2016-06-11 00:34] #3845 closed, assigned to nobody

[2016-06-11 00:34] piotrekkaminski commented on #3844
@antonkril can you check it?

[2016-06-11 00:35] piotrekkaminski commented on #3842
@greg234234 i'm not able to reproduce it. If it still happens in 2.1rc or develop versions, please open a new ticket.

[2016-06-11 00:35] #3842 closed, assigned to kandy

[2016-06-11 00:48] piotrekkaminski commented on #3841
@knidie can you provide more details how to reproduce on latest version? The exact steps? are you trying to create a product or category?

[2016-06-11 00:49] piotrekkaminski commented on #3839
@arunkasyakar are you getting any errors in server error.log file? how much memory is configured for PHP and on the web server? Magento Forums (community.magento.com) might be a better place for this question.

[2016-06-11 00:49] #3839 closed, assigned to kandy

[2016-06-11 00:55] piotrekkaminski commented on #3837
Reproducible on 2.1rc. As long as you don’t assign products (configurations), the product will show up as simple product in the list, even if you start creating it as configurable. You can edit it again, assign configurations and it will show up later as configurable. @antboiko please review if it's ok or a bug.

[2016-06-11 00:57] logan-robbins opened #4979 "Product Import Fatal Error: Call to a member function getName() on null"
## Steps to reproduce
1. Use composer to install 2.0.7
2. Create sub category tree
3. Create a configurable attribute
4. Create a configurable product with 2 variations
5. Export the products
6. Re-import the same product file
## Expected result
1. Add/Update products
## Actual result
1. PHP Fatal error:  Call to a member function getName() on null in /var/www/magento/html/vendor/magento/module-ca

[2016-06-11 01:01] piotrekkaminski commented on #3834
@elenleonova please check. Is this the correct way to check price format? I don't think so.

[2016-06-11 01:02] piotrekkaminski commented on #3833
@jackiellowery can you reproduce it on latest version 2.1rc or develop branch using latest PHP7? There are some issues with some versions of PHP7 but 7.0.6 should work ok. I'm not getting this error. If you are, please open a new issue.

[2016-06-11 01:02] #3833 closed, assigned to voleye

[2016-06-11 01:03] piotrekkaminski commented on #3830
Not able to reproduce. If you @dohuudao can reproduce on latest version and provide more information (logs, configuration), please open a new issue.

[2016-06-11 01:03] #3830 closed, assigned to voleye

[2016-06-11 01:05] piotrekkaminski commented on #3829
@sangatpedas i'm not able to reproduce it. If you can reproduce it on latest version (2.1rc), please open a new issue.

[2016-06-11 01:05] #3829 closed, assigned to kandy

[2016-06-11 01:06] piotrekkaminski commented on #3828
@antonkril can you look into it?

[2016-06-11 01:06] piotrekkaminski commented on #3827
This question is a better fit for magento.stackexchange.com

[2016-06-11 01:06] #3827 closed, assigned to ishakhsuvarov

[2016-06-11 01:07] #3825 closed, assigned to voleye

[2016-06-11 01:08] piotrekkaminski commented on #3824
The fix should be already live.

[2016-06-11 01:08] #3824 closed, assigned to mazhalai

[2016-06-11 01:10] piotrekkaminski commented on #3822
@mamof if you still have this issue and @nimmneun solution does not work for you, please open a new issue.

[2016-06-11 01:10] #3822 closed, assigned to kandy

[2016-06-11 01:11] piotrekkaminski commented on #3821
related to internal issue MAGETWO-54244

[2016-06-11 01:11] piotrekkaminski commented on #3816
Documentation was updated

[2016-06-11 01:11] #3816 closed, assigned to MomotenkoNatalia

[2016-06-11 01:12] piotrekkaminski commented on #3814
internal issue MAGETWO-54246

[2016-06-11 02:26] samtay commented on #4053
If interested I can post my work around. Includes a core helper rewrite and custom input renderer, not too much overhead.

[2016-06-11 03:19] mrtuvn opened #4980 "Wrong currency in invoice grid view"
I have tested in magento CE-2.0.7 . Base currency USD - Default display currency VND (Vietnam Dong)
![screenshot 2016-06-11 10 14 47](https://cloud.githubusercontent.com/assets/1908873/15982858/1a6e4dae-2fbe-11e6-9846-8b99b178bffa.png)

[2016-06-11 05:48] mrkhoa99 commented on #4950
@usn0545 you can reproduce step by step your issue?

[2016-06-11 05:51] mbrinton01 commented on #2778
@sydekumf I can no longer reproduce this issue.  Please reopen the issue if you are able to reproduce it and provide the version you are using.

[2016-06-11 05:51] #2778 closed, assigned to NadiyaS

[2016-06-11 06:12] mrkhoa99 commented on #4967
Please, post your issue to http://magento.stackexchange.com/

[2016-06-11 06:26] refaelgold opened #4981 "jquery 3 integration with magento 2"
Hey ,

jQuery 3 has been release :)

Can i use jquery 3 on magento 2 ?

[2016-06-11 07:04] hutsanon commented on #4941
Edit: Here is a video showing the exact same problem and fix: https://youtu.be/m8AxjZEwGns?t=311
@Asitis
This youtu.be is good work thank you so much.

[2016-06-11 07:04] hutsanon commented on #4941
@orlangur
thank you you too.

[2016-06-11 07:07] hutsanon commented on #4941
Dear all
I have a new question.
Please tell me how can i Link with paypal ?
![capture](https://cloud.githubusercontent.com/assets/19837095/15983821/cc02af46-2fdd-11e6-9e9f-6750c9f83f2a.JPG)

[2016-06-11 08:01] jahvi commented on #1821
@chicgeek It does work for 'new' stylesheets but if they've been registered in the parent theme like `style-m.css` it doesn't seem to do anything. `font-display` is a good alternative but still being able to control the order would be ideal.

This extension seems to work but I haven't tested it throughly:
https://github.com/quickshiftin/mage2-ordered-assets

[2016-06-11 11:21] hutsanon opened #4982 "System messages One or more indexers are invalid. Make sure your Magento cron job is running."
Please help
Please tell me what is this.

![snap 2016-06-11 at 18 17 17](https://cloud.githubusercontent.com/assets/19837095/15984771/dfcc7818-3000-11e6-92d4-22242ed1b256.png)

[2016-06-11 11:48] hitumca opened #4983 "Magento 2.0.7 - Product filters using Obeserver Event"
## Steps to reproduce

I am trying to create one observer for apply additional filters to product collection.

So i use magento 2 event :catalog_product_collection_load_after
i also try with override block \Magento\Catalog\Block\Product\ListProduct product collection filter
But below code working fine with product collection, but showing wrong pagination and product count

Observer code is :
 publ

[2016-06-11 12:35] ghost commented on #4982
It means cron isn't running. To fix it, set up a [crontab](http://devdocs.magento.com/guides/v2.0/install-gde/install/post-install-config.html#post-install-cron) for your [Magento file system owner](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-sys-perms-over.html).

You can also [run cron from the command line](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-su

[2016-06-11 12:47] YevSent commented on #4855
@peec, do you have any errors in the browser console during checkout step? Could you also attach debug and exception Magento log?

[2016-06-11 12:55] orlangur commented on #4981
Let's talk on this in http://magento.stackexchange.com/questions/120482/jquery-version-update-at-m2/120484

[2016-06-11 13:03] YevSent commented on #4973
@exnite current behaviour is correct. The `Ship to Applicable Countries` option allows to specify the list of countries where this shipping method will be available, but it doesn't filter countries in the dropdown because you can configure more than one shipping method.
If your change shipping country different to Canada or USA in your case UPS should not be available.

[2016-06-11 13:16] orlangur commented on #4941
Hi @hutsanon, could you please add your question to http://magento.stackexchange.com/? One thread per question it will not just speed up an answer but will allow to find a solution quicker for anybody else later.

Please close this ticket also if the issue was with permissions and it now disappeared. Let's keep Community focused ;)

[2016-06-11 13:27] orlangur commented on #4978
I really doubt there is enough data for investigation :)

Cron jobs are doing a lot of useful stuff in Magento 2 and cannot be just dropped. You need to find out what exactly the bottleneck is on your specific environment and site first. Analyze MySQL crash dumps, slow SQL logs and so on.

Those symptoms looks more like a server configuration issue, so that system reaches some limits and starts to

[2016-06-11 13:32] hutsanon commented on #4982
@xcomSteveJohnson
Please tell me about the details.

[2016-06-11 14:26] victor-v-rad commented on #3066
Dependencies exist. You cannot migrate only orders by the tool out of the box

[2016-06-11 15:49] artificialart commented on #4911
Exactly the same problem here. WHM cPanel setup, jailed shell.
Getting same error in update.log, and Im having to reindex via SSH
This is crontab contents
- \* \* \* \* /usr/local/bin/php -c /usr/local/lib/php.ini /home/gabitieartificia/public_html/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /home/gabitieartificia/public_html/var/log/magento.cron.log
- \* \* \* \* /usr/local/bin/php -

[2016-06-11 16:23] ghost commented on #4982
There's not much to say. In Magento 2, indexers are updated by a cron job.
You can [update indexers from the command line](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-index.html#config-cli-subcommands-index-reindex) but again, you'd have to do it every time you made a change that invalidated them. Set up a cron job to do it automatically.

[2016-06-11 16:25] ghost commented on #4911
What is your Magento version? Did you set file system ownership and permissions as recommended?

[2016-06-11 17:35] gammyduck commented on #3862
I since downgraded to magento 1.9 so probably not
On 11 Jun 2016 00:11, "Piotr Kaminski" notifications@github.com wrote:

[2016-06-11 17:56] ln8711 commented on #1002
From I see, the website_id is now 1 for all created product, right?

[2016-06-11 18:56] corbinu commented on #2130
Any update I was really hoping this would make it into 2.1

[2016-06-11 20:35] #3862 closed, assigned to yaronish, ilol

[2016-06-11 20:35] davidalger commented on #4982
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-11 20:35] #4982 closed, assigned to nobody

[2016-06-11 20:40] davidalger commented on #4978
Usually when this type of problem exists on a VPS, it's due to an undersized VPS. MySql for example can be killed by the linux kernel if the system has a small RAM allocation and the pressure on the RAM becomes high enough. Unless you can provide details and sufficient information to provide cause to investigate this as a bug, there is nothing here to look into. Maybe post what size VPS you're run

[2016-06-11 20:40] #4978 closed, assigned to nobody

[2016-06-11 20:41] davidalger commented on #4981
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-11 20:41] #4981 closed, assigned to nobody

[2016-06-11 20:41] davidalger commented on #4983
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-11 20:41] #4983 closed, assigned to nobody

[2016-06-11 20:42] davidalger commented on #4967
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-11 20:42] #4967 closed, assigned to nobody

[2016-06-11 20:48] davidalger commented on #4950
@usn0545 To allow the core team to evaluate this as a bug, please provide complete details on your environment setup / configuration (such as software used, versions, etc), and also complete steps to reproduce it. Thanks!

[2016-06-11 21:21] cusspvz commented on #2130
The `GLOB_BRACE` is fixed on the `zend-stdlib`, now folks at magento just have to change the version of `zend-stdlib` they are using to the latest.

[2016-06-11 21:56] bondimedical3 commented on #4978
This is not a server issue as my VPS has plenty of resources. I have ran tests and with the 4 Magento 1 stores I already have on there I can add 3 additional Magento 1 stores without any issues. This is my VPS - https://www.digitalpacific.com.au/hosting/dedicated-hosting/virtual-private-servers/managed/vps-2/ - my server meets all the requirements as outlined in your official documentation - http:

[2016-06-11 22:03] minhluan259 commented on #4933
One more thing, how to make depends for multiple values of select option type?

[code]

[2016-06-12 01:08] U12358 commented on #4973
Problem in
'options' => $this->countryCollection->load()->toOptionArray(),

must be
'options' => $this->countryCollection->loadByStore()->toOptionArray(),

![t297](https://cloud.githubusercontent.com/assets/813985/15988284/1dc78854-3053-11e6-9f9f-412e056d68f9.png)

[2016-06-12 02:22] xiangkundavis commented on #4441
Got it.  May I ask when this issue will be fixed, because my project need this feature ASAP. Or is there a temporary quick fix?
Many Thanks!

[2016-06-12 06:56] redboxmarcins commented on #3066
@victor-v-rad I think you mean opposite - that you need to migrate orders always to make sure that sequence tables are generated

[2016-06-12 07:36] kuamanet commented on #4911
Magento Community Edition 2.0.7 and permission are ok

[2016-06-12 07:52] artificialart commented on #4911
Again same here Magento ver. 2.0.7 and I think permissions are ok.

[2016-06-12 07:56] afoucret commented on #4430
I was able to reproduce this one while I was testing 2.1.0-rc2.

It seems the error handling is wrong into Magento\UrlRewrite\Model\Storage\AbstractStorage::replace

[code]

The code here is catching an exception raised by the doReplace method and raising the same type of exception (with the same message).

Everything goes find again when I replace the the code bellow by :

[code]

The doReplace m

[2016-06-12 07:59] hutsanon commented on #4982
@davidalger
I don't understand you.
What are you talking about.
I can not ask this question ?

[2016-06-12 12:43] ghost commented on #2619
Any ideas on when this will be fixed by ? This is currently holding up a site going live.

Thanks.

[2016-06-12 14:16] commcad commented on #4785
@alena-marchenko

Sure, see attached debug.txt below.

All looking very good on the paypal side of things having success ack and all. I also have the payment registered and issued to the seller. Can't be a paypal bug...been using Paypal for the last 12 years with litle over $500,000 in sales and never came across a payment failure.

See above post no 6 where I highlighted the bug. The mage's datab

[2016-06-12 14:34] okorshenko commented on #4925
@xhallix Thank you for reporting the issue. MAGETWO-54051 merged to develop branch

[2016-06-12 14:34] #4925 closed, assigned to nobody

[2016-06-12 15:16] commcad commented on #4969
@orlangur

I also, among another guy I know of, are having the same bug in 2.1.0RC2 where the cart does not empty after a successful purchase. The items that the customer purchase remain active in the shopping cart (minicart).

## Steps to reproduce
1. Upgrade Magento from 2.0.7 to 2.1.0rc2
2. Customer carry out a purchase on the store using PayPal for instance
3. The customer receives a "Order ha

[2016-06-12 15:22] miller-nicholas opened #4985 "Please add Success/any message in "forget password" feature"
## Steps to reproduce
1. Install Magento 2.0.7 from release archive
2. Frontend. Customer Forget Password page.
3. just try recovery your password
## Expected result

some customers little confused when they trying to recovery password, please add any notify..

Actual result
right now just redirect to login page and no message about what we did..

[2016-06-12 15:33] fooman opened #4986 "Additional repository kills Web Setup Wizard Component Manager performance"
## Steps to reproduce
1. Install Magento 2.1.0-rc1
2. Add a custom repository to your main composer.json
3. Navigate from the admin to the Web Setup Wizard
4. Open the Component Manager
## Expected result
1. Component Manager is functional
## Actual result
1. Component Manager never finishes loading the grid in a timely manner (tested with 10 minute timeout)
## Cause

This code here https://github

[2016-06-12 16:08] commcad commented on #4114
I have the same bug using 2.0.7 - 2.1.0rc1 - 2.1.0rc2

[2016-06-12 22:28] davidalger commented on #4941
Closing since the originally reported issue appears has been resolved. As @orlangur pointed out, questions about how to accomplish something are not not what this issue tracker is for. Please post them either in the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/).

[2016-06-12 22:28] #4941 closed, assigned to nobody

[2016-06-12 22:33] davidalger commented on #4982
@hutsanon What I mean is that GitHub is for bug reports only, not technical questions, assistance on setting up, configuring, customizing, etc. Those questions are better suited to the forums and SE site (both of which I provided links to above), and keep the issue tracker uncluttered enabling Magento to process through bug reports faster by limiting what they have to filter through.

Relating to

[2016-06-12 23:51] pboisvert commented on #4986
@tanya-soroka can you have the team investigate this one?

[2016-06-13 05:58] woei66 opened #4987 "Defining autoload.psr-0 with an empty namespace prefix is a bad idea for performance"
## Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2 (\* 2.0.6)
2. composer diagnose
## Expected result
1. no error message
## Actual result
1. Defining autoload.psr-0 with an empty namespace prefix is a bad idea for performance
2. require.composer/composer : unbound version constraints (@alpha) should be avoided

[2016-06-13 06:32] blizam opened #4988 "Incorrect preview thumbnail when adding an image of the same filename to a duplicated product"
Mage 2.0.7

Create a simple product with image.jpg

Save + Duplicate

Now add a different image of the same image.jpg file name to the newly duplicated product...

the preview thumbnail rendered for your new image will be identical to the first image... however, the right file is still being referenced/attached... saving the product will then show the correct preview thumb

[2016-06-13 07:00] ankita-agrawal commented on #2010
Any updates for this issue on latest magento2 version? I tried  $_SESSION but its not working for category and product pages.

[2016-06-13 07:23] antboiko commented on #3837
Hi @ivanszabo , thanks for your inquiry.

It's a correct behavior. If there are no associated configurations then product will be saved and displayed as Simple in the grid. As soon as you add at least one configuration and save the product it becomes Configurable.

I'm closing this issue. Please feel free to reopen it if needed.

Best,
Anton.

[2016-06-13 07:23] #3837 closed, assigned to kandy, antboiko

[2016-06-13 07:54] delyriand opened #4989 "'URL key for specified store already exists.' during product import with multiple store view"
I have the same problem 'URL key for specified store already exists.'. My problem is not related to the categories but a duplication of my product:
During the validation of the multi-store catalog import, the product is in two different bunch into `importexport_importdata` table. My "main" line product is a bunch and my declination for the "my_store" is in a second bunch.
And during import, it cre

[2016-06-13 07:57] flipflap opened #4990 "Update stops at "composer hast been updated""
## Steps to reproduce
1. Using Update Wizzard
2. Update Magento 2.0.2 to 2.0.7
3. crons are installed like this:

[code]
## Expected result
1. Update will finish
## Actual result
1. The update stops at "composer has been updated"

![update](https://cloud.githubusercontent.com/assets/6672673/16000491/092efb98-314d-11e6-9eea-138826a8f97b.png)

[2016-06-13 08:01] Tristan-N commented on #3102
I solved this issue thanks to friizu.

I added  `'display_subtotal_incl_tax' => (int)$this->taxConfig->displayCartSubtotalInclTax()`
in /Tax/CustomerData/CheckoutTotalsJsLayoutDataProvider.php.

The function getTotalsConfig() on rule 61 looks like this now:

`protected function getTotalsConfig()
    {
        return [
            'display_subtotal_incl_tax' => (int)$this->taxConfig->displayCartSub

[2016-06-13 08:13] shiftedreality commented on #4710
@pynej please check 64d7dfef8718ecb9be64807071360ac97f570862

[2016-06-13 08:24] wienczny opened #4991 "Broken REST result for empty object references"
According to the Swagger documentation "extension_attributes" is a reference to an attributes object. If there are no extension attributes the API returns an empty array `[]`. This is illegal according to the Swagger documentation. It has to be either `null` if there is no object attached or an object `{}`.

I found this using the Java Swagger client and a product request:

[code]

I had to modify

[2016-06-13 08:38] Gelgersma opened #4992 "[2.1.0-RC-1 and 2] page Content-> Configuration in adminpanel doesn't load."
## Steps to reproduce

Go to admin panel page Content -> configuration.
## Expected result

The loaded page where I can change themes.
## Actual result

Magento's own loading wheel just keeps spinning.
Inspect element in google chrome gives the following error: knockout.js:2908 Uncaught Error: You cannot apply bindings multiple times to the same element.

[2016-06-13 08:38] asemenenko commented on #4973
Hi @exnite described behavior is correct, example will be say having UPS configured for US and Canada and Australia Post for AU and NZ only. During checkout you will have to see all the countries that you want to ship items to since country needs to be selected before getting shipping rates. What you are referring to is a need to limit a list of countries available to be selected, one of the optio

[2016-06-13 08:38] #4973 closed, assigned to nobody

[2016-06-13 08:43] artificialart commented on #4911
To give more specific information of my problem

My problem is Magento 2 doesn’t automatically index as I expect from the cron job. I currently have to SSH in and re-index using ‘php bin/magento indexer:reindex’ ,  which is fine for me but not for my customers

The server is my own which I am sharing between several of my customers. So I have root login but will need to keep the customers ‘jailed’

[2016-06-13 08:43] jsakars commented on #4966
@bwaters no, it doesn't resolve the issue.

[2016-06-13 09:01] arredod opened #4993 "Dropdown attribute required "no" gets automatically in new product and cannot be removed"
1. Dropdown attribute with Values Required "no" is created and not assigned to default products
2. a new product is created with the "default" attribute

Expected result
1. product should not have that actual attribute

Actual result
1. the product has the attribute and cannot be modified

[2016-06-13 09:01] jabrware commented on #4988
I've experienced the same problem
     + the thumbnails is no longer generated after cleaning cache
     + the product thumbnail placeholder path is wrong, it misses the image name in the end of the path

[2016-06-13 09:16] minlare commented on #3827
@jaimestuardo I have managed to move the totals block below the products with the following xml

`<move element="checkout.cart.totals.container" destination="checkout.cart.items" after="checkout.cart.form"/>`

[2016-06-13 09:23] Asitis opened #4994 "[Feature request] Backend usability for Quick Edit"
Personally I found it a bit strange that when I click any item in a table in the backend, it opens a 'Quick Edit' in stead of the expected single-view-screen for that item (like how the WordPress admin functions).
But I can get used to it.

What I think would improve the usability tons is adding two little tweaks to the Quick Edit screen;
- Add an "Edit" (and maybe "Delete") link on the right side

[2016-06-13 09:27] Talisa85 opened #4995 "No more User Role after update to 2.0.7"
Hey guys,

i updated my magento to 2.0.7 today and try to create an knew User role after that.
I can´t select anything .....
Anybody with same problems?

![image](https://cloud.githubusercontent.com/assets/19840780/16003040/12a59e62-315b-11e6-8fba-fdc01153cd13.png)

[2016-06-13 09:38] Talisa85 commented on #4944
Update on 2.0.7 didn´t resolve the problem :-(

[2016-06-13 09:47] peec commented on #4566
I think is is expcted since products with no weight should not be possbile to ship to a shipping address. So closing this.

[2016-06-13 09:47] #4566 closed, assigned to mbrinton01

[2016-06-13 10:08] jahvi commented on #1821
It looks like Magento separates the [assets into 'groups'](https://github.com/magento/magento2/blob/6ea7d2d85cded3fa0fbcf4e7aa0dcd4edbf568a6/lib/internal/Magento/Framework/View/Asset/GroupedCollection.php) before rendering into the page like, css, scripts, link, etc. You can order the assets within each group but it doesn't seem like it's possible to load one group before another so if you wan't t

[2016-06-13 10:08] mhabou commented on #4953
Same error , but i got it just in one order.

Magento CE 2.07

[code]

[2016-06-13 10:12] gzchauhan opened #4996 "V1/products API not work for filter website products"
rest/V1/products?searchCriteria[filterGroups][][filters][][field]=website_id&searchCriteria[filterGroups][][filters][][value]=1&searchCriteria[filterGroups][][filters][][conditionType]=eq
I try this API code but it gave
{
"message": "Invalid attribute name: %1"
"parameters": [1]
0:  "website_id"
}

how I filter products by webiste ?

[2016-06-13 10:39] Zaylril commented on #4301
Yes you also have this issue if you stop the page load mid-way through on the checkout. Cart is emptied and customer logged out

[2016-06-13 10:40] tkotosz commented on #4301
and the minicart still shows the items after this logout happens

[2016-06-13 10:49] katesuykovskaya commented on #3968
thank you!

[2016-06-13 10:49] #3968 closed, assigned to slavvka

[2016-06-13 10:55] katesuykovskaya opened #4997 "Customer group is changed when user edits his account info"
## Steps to reproduce
1. Magento 2.0.7
2. create a customer with group for ex. Wholesale (not default general) https://drive.google.com/a/interiorwebdesign.com/file/d/0BzTvZltZJMLla19la2lNZTA2dFE/view?usp=drivesdk
3. log in on frontend using customer credentials, go to My Account -> Account Dashboard -> click Edit under Account Information
4. On this page click Save, not necessary to change data
#

[2016-06-13 11:04] ilol commented on #4441
Hope the fix will be delivered as a part of 2.1 release

[2016-06-13 11:16] katmoon commented on #2901
The issue will be fixed for 2.0.x version with #4061

[2016-06-13 11:44] itaymesh commented on #4992
Also happens on other pages like catalog > category and catalog > products
Seems like the symlink pub/static/adminhtml/Magento/backend/en_US/mage/adminhtml/wysiwyg/tiny_mce/html5-schema.js is missing....

[2016-06-13 11:52] peec commented on #4795
Same problem here. ( 2.1-RC2 ) on production deploy. ( Development local copy works with no di compilation ).

Environment:
- PHP 7.0.4
- PHP-FPM with NGINX
- Mysql 5.6
- Magento 2.1-RC2

2.0.7 worked, upgraded to RC2 and now fails.

The commands i run:

[code]

Log:

[code]

[2016-06-13 11:58] gtshows7 opened #4998 "All subcategories not showing up properly in dashboard"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-13 12:07] ghost commented on #4990
What is in your cron logs? Have you tried enabling logging in `php.ini`? Is there a Magento `var/log/exception.log`?
What is the value of `memory_limit` in `php.ini`?

[2016-06-13 12:15] JamboMedia commented on #3102
Hi,

Same problem at Magento 2.0.7 over here. Let us know when it is finished in the core.

[2016-06-13 12:25] Tristan-N commented on #3102
@JamboMedia
The solution i posted before is for Magento 2.0.7 aswell.

[2016-06-13 12:30] roma84 opened #4999 "order.success.additional.info container rendered twice on checkout success page"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Enable and configure Paypal Express and billing agreements.
3. Sign in.
4. Add Product to cart.
5. Go to checkout.
6. Select Paypal.
7. Check Billing Agreement checkbox.
8. You will be redirected to success page after payment completed.
## Expected result
1. Billing agreement number rendered in page content
## Actual result
1. Bill

[2016-06-13 12:32] friizu commented on #3102
@tristannederhoff
Yes it works, but we need this to be fixed in core, so its included next updates etc ...

[2016-06-13 12:34] Tristan-N commented on #3102
@friizu @JamboMedia  My apologies. I didn't the second part of the sentence and was to quick with reacting.

[2016-06-13 12:53] daniel-ifrim commented on #4301
Actually the 2 times hit happens on every button or link that points to cart or checkout. Hit twice checkout button on cart page. Why would I hit twice: high traffic, server isn't serving pages fast enough or I just don't see in browser that the next page is loading - sent request. The following statement isn't related to the current issue: hit checkout button on cart page while cart page sections

[2016-06-13 12:59] ClaudiuCreanga opened #5000 "2.0.7 doesn't work with php 7.0.0, no di folder created"
## Steps to reproduce
1. have php 7.0.0
2. Install Magento with composer
3. upgrade to 2.0.7
4. run setup:di:compile
## Expected result
1. compiling magento and creating di folder
## Actual result
1. stops at 14% with transmission error

This issue affects only php 7.0.0.Magento does not compile properly, no di folder created in var (no permission issues, checked them) and js errors on frontend.

[2016-06-13 13:10] ghost commented on #5000
Check [system requirements](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html). The minimum supported PHP 7 version is 7.0.2

[2016-06-13 13:18] pynej commented on #3926
@bwaters This is working as expected.

Results: (monitor with `sudo varnishncsa -F "%U %{Varnish:time_firstbyte}x %T %{Varnish:handling}x"`)

Original config.

[code]

After change

[code]

[2016-06-13 13:21] magnetic5355 commented on #4853
Same issue after running setup:upgrade using git clone on develop branch

[2016-06-13 13:46] aleron75 opened #5001 "Add \Magento\Framework\App\Cli class implementing \Magento\Framework\AppInterface"
This is a _nice to have_ requirement born from poking with Magento 2 runtime: there isn't an `AppInterface` implementation for PHP scripts using Magento runtime.

Indeed the `bin/magento` is a `SymfonyApplication` and doesn't implement the `AppInterface`.

Here is the article which originated this thought: http://aleron75.com/2016/06/10/let-s-poke-with-magento-2-runtime/

Thank you!

[2016-06-13 13:52] ClaudiuCreanga commented on #5000
Thanks. Those system requirements changed recently. Should have thrown errors when upgrading and magento make public on main forums when system requirements change. I've seen more people having issues, basically everyone who uses mamp. You shouldn't need to check system requirements every time you run a composer update. Lots of hours lost because of poor communictaion skills.

[2016-06-13 13:54] ClaudiuCreanga commented on #4995
what is your php version? if 7, it should be minimum 7.0.2 and not 7.0.5

[2016-06-13 13:59] #5000 closed, assigned to nobody

[2016-06-13 14:04] bwaters commented on #4966
This fix was delivered to mainline -- regenerate your vcl file, replace and restart your varnish server.

https://github.com/magento/magento2/commit/ce87aa48fff2fdb4ba13bb90fc3630893596c49d

[2016-06-13 14:06] jsakars commented on #4966
@bwaters we already did that - issues is still present

[2016-06-13 14:07] bh-ref opened #5002 "Cannot edit/add Products in Magento 2.1.0-rc2"
## Steps to reproduce
1. Install Magento 2.1.0-rc2 (upgraded from 2.0.7 using cli). PHP version 7.0.7.
2. Go to product listing in backend, add or edit a product
## Expected result
1. I can add or edit a product.
## Actual result
1. The page redirects to the product listing, and the error message appears: **"No data to save"**.
2. If it helps: the commerce-bug extension shows the following used la

[2016-06-13 14:10] pynej commented on #4710
Yes, that fixes it for JS files.  The same result still happens(Single large 15MB file is generated) when enabling Enable Javascript Bundling though.  There is a separate issue for this but they may be related.

[2016-06-13 14:15] bwaters commented on #4540
@joebusby -- we delivered several fixes to Magento for SSL + Varnish.
1) Changed the vcl file to keep ssl and non ssl caches separate.
2) Changed the default value of the ssl offloaded header to "standard" X-Forwarded-Proto
3) Added correct ssl offload header to varnish vcl file.
4) Removed https calls from esi includes to fix missing content.
5) Made SSL detection consistent across the Magento co

[2016-06-13 14:35] ghost commented on #3127
I have a similar issue. I am using Magento 2.0.7 installed via the web setup wizard with en_CA locale. After changing to production mode the frontend requests from pub/static/frontend/Magento/luma/en_CA/ but the backend requests from pub/static/frontend/Magento/luma/en_US/. en_US was not deployed when setting the mode to production so it gives a 404 for those files.

Running the deploy static cont

[2016-06-13 14:49] davidalger commented on #4996
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-13 14:49] #4996 closed, assigned to nobody

[2016-06-13 15:00] oserediuk commented on #2619
I cannot reproduce this issue on current code version if I run reindex after import. Version 2.1 will be released soon.

[2016-06-13 15:14] southerncomputer commented on #4875
I can confirm this happens when Nginx.conf is not properly parsing /static/ or .htaccess is missing from pub/static/ when using apache! Just spent a day working this out with nginx!

[2016-06-13 15:16] antboiko commented on #4037
Hi @moe-kayali , we cannot reproduce the issue on 2.0.4. I'm closing this ticket. Please feel free to reopen it if needed.

Best,
Anton.

[2016-06-13 15:16] #4037 closed, assigned to piotrekkaminski

[2016-06-13 15:19] bh-ref opened #5003 "Product Cart cannot be displayed if Welcome Message contains single quotes"
## Steps to reproduce
1. Install Magento 2.1.0-rc2.
2. Add a product to the cart.
3. Switch to another language (storeview) which has a welcome message that contains a single quote. In my case, the default welcome message of my french storeview is `Email d'accueil par défaut`.
## Expected result
1. The same products can be seen in the cart when I click on the cart icon.
## Actual result
1. No prod

[2016-06-13 15:25] maderlock commented on #3832
I can confirm that having upgraded to 2.0.7 this issue still exists. I can reindex and I still see this:
- Price in catalog: £100
- Tax rate: 0.2
- Tax setting for catalog: Inclusive of VAT (very important - this is definitely the setting used)
- Price on front-end: £120
- Tax breakdown in checkout: £100 excl of VAT, £20 tax

[2016-06-13 15:36] maderlock commented on #3832
I've now pulled down the latest from the develop branch (2.1 rc-2) and I see the same thing.

If you are unable to reproduce this, then please ensure that you have Inclusive of VAT set and that you have a tax rule for your current location that maps standard customers and standard products to a 20% rate.

I would have expected a lot more complaints if this fundamental issue was actually buggy, but

[2016-06-13 15:41] adragus-inviqa commented on #1047
Should this be closed now?

[2016-06-13 15:45] exnite commented on #4973
Thank you for all your answers, I understand that if there are two carriers, you would have to merge the two, but it should only list US, Canada, AU and NZ, instead of all countries.
if I select UPS and with "Specific Countries", which means I'm only shipping to US and Canada, therefore, listing all countries seems unnecessary.  It's also inconsistent with the checkout, which only lists US and Can

[2016-06-13 16:01] antboiko commented on #4994
Hi @Asitis Alex, thanks for your suggestions.

We already have the ticket MAGETWO-44703 in our backlog to cover improvements for in-line editing. I added your suggestion "to bind Enter key to the Save button" into it.

Thanks,
Anton.

[2016-06-13 16:03] giacmir commented on #3288
Hi Alan,
your workaround works fine for me in _developer mode_, but if I go in _production mode_ and compile assets with `setup:static-content:deploy` it fails with:

`File ../../css/source/lib/_lib.less not found.`

[2016-06-13 16:09] vil11 commented on #4758
Internal ticket **MAGETWO-54324**.

##

:sunny: dvilchynskyi, M2 QA.

[2016-06-13 16:21] sevos1984 commented on #4997
Internal ticket MAGETWO-54326, thanks for posting

[2016-06-13 16:29] vil11 commented on #4746
@fpsthirty
Hi Alexander!
Described issues aren't reproducible on current develop branch.

##

:sunny: dvilchynskyi, M2 QA.

[2016-06-13 16:32] exnite commented on #4973
@SKovbel suggestion seems to solve the issue.  It does let me pick which country to display once I select the countries under General, General, Countries Options, Allow Countries.  :) Please sneak this tiny change into your next patch.

[2016-06-13 17:02] kmoguls opened #5005 "How to set the locale (en_US") of Magento2 by using command line."
I have installed magento 2.0.7 with CentoOS 7 / Apache 2.4.6 / PHP 7 / MariaDB 10.
After applying the Japanese locale to "Interface Locale" under Account Setting (refer the link below), I get "HTTP ERROR 500" for accessing the admin console.

Link: http://magento.stackexchange.com/questions/113847/magento-2-how-do-i-change-the-locale-of-admin-backend

I found out that the Japanese locale installat

[2016-06-13 17:15] aohorodnyk commented on #1047
Yes, thanks

[2016-06-13 18:17] loomdecor opened #5006 "Select All Dropdown in Admin Glitchy"
## Steps to reproduce
1. go to Cache Management (I believe it's happening on all pages with lists though
2. Try to click on the far left column with the dropdown box (e.g. where you would "select all"
3. If you click directly on the dropdown box itself, you will see it doesn't actually open the dropdown
4. If you click around enough (e.g. on the black part of the header for example), I usually can

[2016-06-13 18:34] southerncomputer commented on #4875
Also with nginx and php 7.0.7 the opcache being enabled causes static.php to return randomly garbled .js files back! You can watch f12 developer mode when loading the pages to see the errors randomly appear about every other load - internal note to myself - this might cause many other javascript errors in production mode.

[2016-06-13 18:46] sshrewz commented on #4623
Hi @Ctucker9233, thanks for reporting this.  We have created internal ticket MAGETWO-53774 for updating our documentation.

[2016-06-13 19:10] ipekerti opened #5007 "Adding Shipment Record via API generates garbled Shipment Details View"
On M2 Community v2.0.6
## Steps to reproduce
1. Successfully POSTed a shipment record to an order via API, supplying minimal shipment data

POST: https://m2dev.mydomain.com/index.php/rest/V1/shipment/

{
    "entity": {
        "order_id": "3"
        ,"items": [{
            "order_item_id": "1"
            ,"qty": "2"
            ,"description": "test-20160612-2"
            ,"sku": "SPCTOOL"

[2016-06-13 19:14] Talisa85 commented on #4995
php 5.5.9

[2016-06-13 20:16] choukalos commented on #5002
Hi @bh-ref can you provide more details?  What type of product, what fields/values were you loading?  I haven't been able to reproduce your error.

[2016-06-13 21:32] choukalos commented on #4970
Hi @RUjmiak yes we thought about enabling that level of error responses but for security reasons stuck to just error code in default and production mode.  In developer mode you should see something similar to what you're requesting*.  Our framework will detect missing fields but I think the reply could be improved further to make it easier to debug/etc.

[2016-06-13 21:34] heldchen commented on #5002
this might possible be storeview related, seeing the same message in 2.0.x when trying to import/export data through the admin backend in a setup with a DE & FR storeview.

[2016-06-13 21:43] piotrekkaminski commented on #3900
The issue is fixed internally and will be delivered in 2.1

[2016-06-13 21:43] #3900 closed, assigned to piotrekkaminski

[2016-06-13 21:43] piotrekkaminski commented on #3507
The issue is fixed internally and will be delivered in 2.1

[2016-06-13 21:44] piotrekkaminski commented on #4818
Issue is fixed internally and should be included in 2.1

[2016-06-13 21:44] #4818 closed, assigned to nobody

[2016-06-13 21:45] piotrekkaminski commented on #3861
Issue is fixed internally and should be included in 2.1

[2016-06-13 21:45] #3861 closed, assigned to elenleonova

[2016-06-13 22:29] blizam commented on #2121
I'm experiencing crtsl's issue as well... getting Categories to show in the Category Layered Navigation seems very buggy... deleting-readding categories seems to fix it temporarily... but then as I work in a category adding sub cats or products it seems to get removed... sometimes... I'm trying to narrow down the behavior exactly...

Mage 2.0.7

[2016-06-14 00:01] crantron commented on #4947
There is so much wrong with what you're doing, this ticket should be closed. Ask this question in stackoverflow.

_to get you in the right direction_
- never chmod 777 , modSecurity is probably hating you.
- read the permissions section in magento 2 set up in the docs.
- you've obviously not set the base url.

Godspeed.

[2016-06-14 00:09] michaelsalafia opened #5008 "404 no-route on all pages added from CMS"
Anytime I add a new CMS page from the admin dashboard, it Magento generates a no-route 404 page not found error. After days of meticulous troubleshooting across multiple installs and versions of Magento 2.x.x, I’ve discovered a one way to get the pages to load.

After creating the page and saving it from cms/page/new.
I have to go back to /cms/page/index, select layout, assign a new layout (like c

[2016-06-14 00:23] blizam commented on #2121
Yeah, when I create a New Category and add products to it via the Category Products tab then the layered navigation renders on the front end for that Category.

If I then add 1 Subcategory, assign it some products in the same manner... everything is fine.

As soon as I add a second subcategory, assign it some products, and save then the parent Category disappears from Layered Navigation all togeth

[2016-06-14 00:27] LoganGS commented on #1471
I was having the same issue. For me, it turns out that some of the categories I was importing into had commas in their names.

Magento's import module was reading these as separate values. All I had to do was change the **Multiple value separator** value of the import configuration to something other than a comma. I decided to use the pipe character **"|"**

Worked like a charm :)

[2016-06-14 00:30] blizam opened #5009 "Category Layered Navigation breaks when 2nd subcategory is added"
Mage 2.0.7

When I create a New Category and add products to it via the Category Products tab then the category layered navigation renders on the front end for that Category.

If I then add 1 Subcategory, assign it some products in the same manner... everything is fine... parent layered navigation for category working and single sub-category layered navigation working

As soon as I add a second su

[2016-06-14 00:31] blizam commented on #3209
Is your test category a sub-category of another non-root category? Does your test category have any of its own sub-categories?

https://github.com/magento/magento2/issues/5009

[2016-06-14 00:44] blizam commented on #5009
EDIT: This shouldn't matter... I tried it with and without unique sub-category URL keys

My other variable is that my sub-category names aren't unique... they're the same names that other Parent categories have their subs named

Unique Parent Alpha
-subA
-subB

Unique Parent Beta
-subA
-subB

Unique Parent Gamma
-subA
-subB

[2016-06-14 01:06] blizam commented on #5009
In playing around with trying to get a workaround I found that if I create subA and subB cats first, each with assigned Products, THEN I create the Unique Parent cat, save and then drag in subA and subB to be beneath it in the tree on the Category admin page that it _sort_ of works... my Parent Cats will now render in the Category Layered nav BUT only one sub cat is now working/displayed under eac

[2016-06-14 01:07] blizam commented on #2121
https://github.com/magento/magento2/issues/5009

[2016-06-14 01:10] blizam opened #5010 "Multiple category move/drag and drop doesn't work ~ unless page is refreshed in between"
Mage 2.0.7

Create 3 categories
Drag category B into category A on the Category admin (folder tree on the left)
Once it completes, now drag category C into category A... it will complete, say it's save, look correct in the tree... but upon refreshing the page or navigating elsewhere in the folder tree the last (apparent) change will revert...

you cannot move 2 categories in sequence unless you re

[2016-06-14 01:18] piotrekkaminski commented on #3796
This isssue is fixed.

[2016-06-14 01:18] #3796 closed, assigned to nobody

[2016-06-14 01:19] piotrekkaminski commented on #3791
Internal issue MAGETWO-54352

[2016-06-14 01:20] piotrekkaminski commented on #3795
@elenleonova can you look into it? any reason for validation removal?

[2016-06-14 01:21] piotrekkaminski commented on #3790
Closing due to lack of response. If issue persist please open new ticket with detailed steps to reproduce.

[2016-06-14 01:21] #3790 closed, assigned to kandy

[2016-06-14 01:22] piotrekkaminski commented on #3784
@elenleonova  can you look into it? is it a bug?

[2016-06-14 01:23] piotrekkaminski commented on #3782
internal issue MAGETWO-54353

[2016-06-14 01:23] blizam commented on #5009
issue is the same whether I have unique URL keys or not on my sub-cats... have to have unique on the parent cats obviously... issue is persistent even if I set one of the sub cats to Is Anchor = No... once the 2nd sub cat is created the ONLY way to get the Parent Cat Layered Navigation showing back up is to delete both sub cats

[2016-06-14 01:25] piotrekkaminski commented on #3776
@ilol  please look into it

[2016-06-14 01:26] piotrekkaminski commented on #3775
@ilol can you review?

[2016-06-14 01:26] piotrekkaminski commented on #3771
@antboiko please review and create ticket if needed

[2016-06-14 02:14] hoangphanbc commented on #4995
we had the same issue with PHP 7.0.7

[2016-06-14 03:34] justindocanto commented on #3150
Anybody have any suggestions for a temporary fix for this, until it's fixed?

Maybe I can work on a solution if somebody points me in the right direction?

[2016-06-14 03:35] justindocanto commented on #3761
Since #3150 is identical, open & active, you guys may want to close this one.

[2016-06-14 03:42] phamquoctoan8013 opened #5011 "Can't load js for first run web,or no cache browser!"
`Uncaught TypeError: $(...).owlCarousel is not a function`
In cms blcok i call js file by   require. But first run web,or no cache browser! Can't load js. firebug return message: `Uncaught TypeError: $(...).owlCarousel is not a function`. so slide is missing on site.
But 2nd run I see worked fine ! Only when the browser does not cache
`<script type="text/javascript">
   require([
        'jquery',

[2016-06-14 03:59] mrkhoa99 commented on #5011
@phamquoctoan8013 you should post on http://magento.stackexchange.com/ or https://community.magento.com/.
**PS**: I have done a tutorial about Owl Carousel here: http://www.boolfly.com/magento-2-slider-with-owl-carousel/

[2016-06-14 05:51] ankitce commented on #4762
Thanks @antboiko @okorshenko @vzabaznov

[2016-06-14 06:20] sakhil9495 commented on #2332
Hi @ramsampathi ,

I am also faced the same issue. How can i fix the issue. Please help me in fixing the issue

[2016-06-14 06:29] pboisvert commented on #2332
Does your product have a weight set? If not it will be treated as virtual/downloadable and no shipping will be shown.

[2016-06-14 06:54] serzhik commented on #1471
I had this issue and resolve it. It looks like symbols "--" trimmed to "-".
I replace all "--" with "-", remove duplicate `url_key` and it work.

[2016-06-14 06:54] karanbhomiagit commented on #4527
Any updates on this guys? @pboisvert @mbrinton01

[2016-06-14 06:54] karanbhomiagit commented on #4527
Sorry, closed it by mistake.

[2016-06-14 07:01] prasanthnatrajan opened #5012 "Rupee symbol not working"
**Rupee symbol not viewing**

Rupee symbol not viewing in my entire site

[2016-06-14 07:08] pboisvert commented on #5012
The issue template is pre-filled with information to help investigate issues. We need details such as at a minimum which version was the issue seen in and if there have been any customizations in order to investigate. Please provide more info to aid in the investigation of issues.

[2016-06-14 07:12] RUjmiak commented on #4970
Thanks @choukalos for your reply. When I want to use API I want to use it on production mode and right now its really pain with this error messages. So in production mode is just error code?

[2016-06-14 07:18] stamster commented on #4995
Check your file-system permissions.
If you upgraded via web tool, it is possible that your web server user took ownership of some files.

[2016-06-14 07:21] arijit-de93 opened #5013 "Customer Updated Time not changing when updating address data from front end using REST Api"
## Steps to reproduce
1. Install Magento.
2. Login to Magento frontend.
3. Go to My Account and in the Address section update your address.
4. Pull that customer using REST Api.
## Expected result
1. updated_at time should change.
## Actual result
1. updated_at time not changing.

[2016-06-14 07:24] snswap828 opened #5014 "Orders not displayed in Sales grid but appear in Last Orders on Dashboard"
Error in display orders
1. Order not display in Sell->Order
2. Display in Dashboard

![1](https://cloud.githubusercontent.com/assets/14049085/16034362/ff7463a8-322e-11e6-89c4-657b9bacd414.png)
![2](https://cloud.githubusercontent.com/assets/14049085/16034361/fef49524-322e-11e6-871a-a89629c11188.png)

[2016-06-14 07:30] prasanthnatrajan commented on #5012
It occurs in Magento ver. 2.0.7 !

[2016-06-14 07:40] agoeurysky opened #5015 "Report error csv doesn't work when trying to import a csv file with semicolon delimiter"
## Steps to reproduce (Magento 2.1-rc3)
1. Try to import a catalog_product.csv file in admin interface which contains an error.
2. Configure the semicolon `;` for row delimiter.
3. Click `Check data` button, the file is valid for import.
4. Click `Import` button.
## Expected result
1. Import is stopped and all errors are printed.
2. We can download the report error csv file.
## Actual result
1. Im

[2016-06-14 07:43] delyriand commented on #4328
Hi,

As a workaround, you can put your product id array in another array :
`->setProductFilter([$productIds])`.

The origin of the problem is the use of `call_user_func_array` in the method `map` of the class `Magento\Framework\DB\AbstractMapper`. If not encapsulate product ids array into another array, sending multiple parameter to the method instead of a single.

[2016-06-14 07:49] orlangur commented on #4969
Hi @commcad, did you read http://magento.stackexchange.com/a/120407 actually? So @rajesh2590 reported the problem he met with his custom implementation both here on GitHub and there on StackExchange (but as a comment to older question which is misuse of StackExchange).

Your report contains proper steps for core functionality but you didn't report a separate issue on GitHub but commented in two ex

[2016-06-14 07:54] shiftedreality commented on #4920
Hi @mstumpf818

I've created internal ticket MAGETWO-54356 to investigate this issue.
Please also provide your system configuration such us PHP version, OS version, etc.

[2016-06-14 07:57] jldmn commented on #4929
Did you set the right options in your php.ini?

I needed the following options for installation:

[code]

And always start with a clean DB when installation failed.

[2016-06-14 08:50] jsakars commented on #4966
@bwaters any update on this?

[2016-06-14 09:06] quynhvv commented on #4446
@guys,
I get this issues too in my context: Magento 2 CE 2.0.7
And the changing of qty for each option only applied when you have 2+ products and after you have at least one change for each option (after click to change option at least one).
Regards,
quynhvv.

[2016-06-14 09:15] juanangel123 opened #5016 "Typo error in Magento/Catalog/Block/Adminhtml/Product/Edit/Tabs"
I checked out the develop branch and it is still wrong.

The error is in the alias of the class Magento\Backend\Block\Widget\Tabs (line 11), it should be WidgetTabs.

[2016-06-14 09:23] bh-ref commented on #5002
Hi @choukalos the problem appears with all product types. I use an attribute set with these attributes in it:

[code]

When I want to create a product with these attributes, it fails with the error message "No data to save".

We are using two storeviews, a French and a German one, like @heldchen mentioned.

I listed the loaded layout files above because I noticed that the file `app/code/Magento/Ca

[2016-06-14 09:24] ruby10 commented on #3307
@NadiyaS , @MomotenkoNatalia  , is there any update on this issue ?

[2016-06-14 09:28] ruby10 commented on #3486
Hi @NadiyaS , @KrystynaKabannyk  any news on it??

[2016-06-14 09:29] ruby10 commented on #3485
@MomotenkoNatalia , @NadiyaS , Please provide update on this issue if there is any?

[2016-06-14 09:30] ruby10 commented on #3526
@kandy , @MomotenkoNatalia  , is there any update ?

[2016-06-14 09:30] ruby10 commented on #4728
@NadiyaS  , do we have any news on it?

[2016-06-14 09:33] ruby10 commented on #4528
@katmoon  , please do provide update on it if there is any

[2016-06-14 09:38] piotrekkaminski commented on #3761
Closing as duplicate.

[2016-06-14 09:38] #3761 closed, assigned to yaronish

[2016-06-14 09:38] ruby10 commented on #4479
@vzabaznov , @NadiyaS   any update on it??

[2016-06-14 09:40] ruby10 commented on #3630
@voleye , @MomotenkoNatalia  , any update on it?

[2016-06-14 09:42] piotrekkaminski commented on #3150
internal issue MAGETWO-54358

[2016-06-14 09:48] piotrekkaminski commented on #3763
Cannot reproduce this issue in 2.1RC. If you are still experiencing issues in this version please open a new ticket with detailed steps to reproduce.

[2016-06-14 09:48] #3763 closed, assigned to kandy

[2016-06-14 09:49] piotrekkaminski commented on #3764
internal issue MAGETWO-54359

[2016-06-14 09:51] piotrekkaminski commented on #3765
I'm not able to reproduce it on 2.1RC. If you are still experiencing this issue in develop/2.1version please open a new ticket.

[2016-06-14 09:51] #3765 closed, assigned to voleye

[2016-06-14 09:56] piotrekkaminski commented on #3766
I'm sorry but I don't understand this report. Can you provide detailed steps how to reproduce?

[2016-06-14 09:57] piotrekkaminski commented on #3768
@antonkril can you look into it?

[2016-06-14 10:00] piotrekkaminski commented on #3759
@antboiko can you look into it?

[2016-06-14 10:01] piotrekkaminski commented on #3755
We are not able to reproduce it. Make sure you are using correct version of PHP7 (some versions are not compatible).

[2016-06-14 10:01] #3755 closed, assigned to voleye

[2016-06-14 10:01] piotrekkaminski commented on #3754
The issue is currently in progress.

[2016-06-14 10:03] #3753 closed, assigned to nobody

[2016-06-14 10:03] piotrekkaminski commented on #3752
@antonkril can you look into it?

[2016-06-14 10:07] bh-ref commented on #5002
The error message "No data to save" is generated inside https://github.com/magento/magento2/blob/2.1.0-rc2/app/code/Magento/Catalog/Controller/Adminhtml/Product/Save.php if `$data` is empty which is the case if `$data = $this->getRequest()->getPostValue()` does not return a value. Since it suggests that it awaits a Post value, I had a look at `app/code/Magento/Catalog/view/adminhtml/templates/cata

[2016-06-14 10:12] piotrekkaminski commented on #3747
internal issue MAGETWO-54363

[2016-06-14 10:13] piotrekkaminski commented on #3745
internal issue MAGETWO-54363

[2016-06-14 10:14] piotrekkaminski commented on #3744
@shinethazhava please provide more detailed steps to reproduce. Please see if you still have this issues in 2.1rc.

[2016-06-14 10:14] piotrekkaminski commented on #3743
We are not able to reproduce this issue. If you still experience it in 2.1rc, please provide more details (php version, how the environment is setup) and create a new ticket.

[2016-06-14 10:14] #3743 closed, assigned to ishakhsuvarov

[2016-06-14 10:14] ghost commented on #5010
This is also an issue for my install. Version 2.0.7

[2016-06-14 10:16] piotrekkaminski commented on #3739
@ilol can you look into it?

[2016-06-14 10:17] piotrekkaminski commented on #3747
@ghostofspider i'm not able to reproduce it on 2.1rc. If you are still experiencing this issue, please open a new ticket with detailed reproduction steps.

[2016-06-14 10:17] #3747 closed, assigned to kandy

[2016-06-14 10:18] atIOCrON commented on #2461
@dsikkema I also get the same issue. By following @katmoon advise to run the deployment several times, I can get it to finish. However it should still be addressed so it doesn't time out in the first place.

[2016-06-14 10:21] piotrekkaminski commented on #3738
No longer reproducible on 2.1rc

[2016-06-14 10:21] #3738 closed, assigned to kandy

[2016-06-14 10:22] piotrekkaminski commented on #3737
Closing in favor of PR #3746

[2016-06-14 10:22] #3737 closed, assigned to vrann

[2016-06-14 10:23] piotrekkaminski commented on #3736
@antonkril please review

[2016-06-14 10:26] piotrekkaminski commented on #3729
@antboiko can you review?

[2016-06-14 10:26] piotrekkaminski commented on #3729
@asemenenko can you review?

[2016-06-14 10:26] piotrekkaminski commented on #3727
@mbrinton01 can you look into it?

[2016-06-14 10:27] piotrekkaminski commented on #3723
This question is better suited for stackexchange.magento.com or community.magento.com

[2016-06-14 10:27] #3723 closed, assigned to nobody

[2016-06-14 10:28] piotrekkaminski commented on #3720
@choukalos please review

[2016-06-14 10:29] piotrekkaminski commented on #3715
The issue was fixed and delivered.

[2016-06-14 10:29] #3715 closed, assigned to mazhalai

[2016-06-14 10:29] piotrekkaminski commented on #3714
Closing due to lack of response.

[2016-06-14 10:29] #3714 closed, assigned to guz-anton

[2016-06-14 10:31] piotrekkaminski commented on #3713
Cannot reproduce on 2.1rc

[2016-06-14 10:31] #3713 closed, assigned to MomotenkoNatalia

[2016-06-14 10:31] piotrekkaminski commented on #3712
@tushar4monto i'm sorry but I don't understand this report. Can you provide more details and/or screenshot of the problem?

[2016-06-14 10:33] piotrekkaminski commented on #3707
Issue was resolved in 2.1

[2016-06-14 10:33] #3707 closed, assigned to guz-anton

[2016-06-14 10:35] piotrekkaminski commented on #3724
@antonkril can you review?

[2016-06-14 10:37] piotrekkaminski commented on #3726
I cannot reproduce this issue. If issue persists in 2.1, please open a new ticket.

[2016-06-14 10:37] #3726 closed, assigned to voleye

[2016-06-14 10:47] magewn commented on #3369
Hi,

Have you got the solution for this because I am facing the same issue, I am taking offline payment examples and Its not showing on checkout payment page.

Thanks

[2016-06-14 10:49] grasdaggel opened #5018 "Product added to cart -> cart is empty, minicart is filled"
Magento 2.0.4.
PHP7

If we add a product to the cart, its in the minicart, but not in the normal cart.

[2016-06-14 11:00] orlangur commented on #5018
I really doubt such scenario was not tested, most likely it is even a part of automated functional test suite.

Maybe there is something more specific with the steps or your instance?

[2016-06-14 11:05] davidverholen commented on #3605
just testet this example for baseShippingDiscountTaxCompensationAmnt.

To ensure that the correct type is returned it is mandatory to type cast the value when it is retrieved from the data model. I think this has to be added in many places but is quite easy to fix.

type casting [this](https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/Model/Order/Invoice.php#L890) to float re

[2016-06-14 11:13] srinivasanithin commented on #4528
@GiriManas You will need to provide a searchCriteria field as part url parameter then it will be accepting it.

May be try this magento-host/V1/products/attribute-sets/sets/list?searchCriteria[pageSize]=20 as url and you will find the response.

[2016-06-14 11:14] srinivasanithin commented on #4528
@katmoon : were you able to reproduce the issue? need any more information from me?

[2016-06-14 11:29] antboiko commented on #5012
@prasanthnatrajan could you please provide the detailed steps to reproduce the issue?
What exact currency are you setting? Indian, Nepalese, Sri Lankan?

Thanks,
Anton.

[2016-06-14 11:36] katmoon commented on #4998
Hi @gtshows7
Could you provide reproducible steps for your issue?

Thanks,
Kateryna.

[2016-06-14 11:39] katmoon commented on #5002
Hi @bh-ref

Could you clear browser cache and Magento cache and try again?

Thanks,
Kateryna.

[2016-06-14 11:51] bh-ref commented on #5002
Hi @katmoon

I cleared the browser and the Magento cache, but unfortunately, the problem is still there.

[2016-06-14 11:56] ghost commented on #5009
I am experiencing the same issue(also posted in #2121) All my categories have unique names but do not all show under the category section in the layered navigation.

I have some categories with sub categories showing under the parent category and some not. Same with categories without sub categories.

There doesn't seem to really be a pattern to it that I can see.

[2016-06-14 11:58] vipin-eglobeits opened #5019 "No option to upload video in product import process"
Hi mates,
Anybody please tell me, is there any option to include video/video_id at the time of product import process from the Magento backend. I exported a csv file of the product which have a video url, but in that csv they are not mentioning anything about product video.

[2016-06-14 12:06] antboiko commented on #4993
Hi @arredod , could you please provide more detailed steps to reproduce this issue? What Magento version are you using?

Thanks,
Anton.

[2016-06-14 12:36] jldmn opened #5020 "Component Manager in Web Setup Wizard not loading"
1. Open Web Setup Wizard from  Admin Panel
2. Open Component Manager Panel

![unbenannt](https://cloud.githubusercontent.com/assets/18490741/16042845/11fbd8d6-323d-11e6-8e1d-946796fda9b2.JPG)

Output from Devtools Network section:

[code]

[2016-06-14 12:37] vphat28 opened #5021 ""Please specify a shipping method" Exception"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Install 3rd test shipping provider
3. Able to show rate in checkout page
4. Able to choose payment methods
5. Click on "Place order"
6. Exception is throwed "Please specify a shipping method"
## Expected result
1. Should go to success page
## Actual result
1. Exception is throwed "Please specify a shipping method"

I searched for t

[2016-06-14 12:38] arredod commented on #4993
Magento ver. 2.0.7
I created a few attributes with dropdown as input type, value "not required". Those attributes are not assigned to the _default_ group of attributes.
When I create new default products they get automatically those attributes. I can see the attributes assigned on frontend filter and also on backend if I display the attribute column.

![a1](https://cloud.githubusercontent.com/asse

[2016-06-14 12:39] 100rabhMisra commented on #2278
after installation magento2, it redirected me to 404, not open admin panel ?
how to fix it can you any one tell me ??

[2016-06-14 12:47] bwaters commented on #4966
It is working for others can you post your complete vcl and varnish version?
On Jun 14, 2016 3:51 AM, "Jānis Šakars" notifications@github.com wrote:

@bwaters https://github.com/bwaters any update on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
https://github.com/magento/magento2/issues/4966#issuecomment-225818864,
or mute the thread
h

[2016-06-14 12:52] devhn opened #5022 "Structured Data - Price property not recognized"
## Steps to reproduce
1. Install Magento 2.0.7 from `community` branch.
2. Open any product page and copy it's URL to [Google Structured Data testing tool](https://goo.gl/pYUUjG)
## Expected result
1. Price property should be recognized.
## Actual result
1. Price property is not valid (the property XXX € is not a valid price specification).

[Screenshoot for reference](http://i.imgur.com/hxuobq2.p

[2016-06-14 12:53] jsakars commented on #4966
@bwaters here is complete VCL - https://gist.github.com/werdlv/b7b0a7247bac7444c3e1c1389887cd69
We re using Varnish 4.0.3

[2016-06-14 12:56] vphat28 commented on #5021
I need to modify my code to this , and checkout went through

[code]

[2016-06-14 12:57] antboiko commented on #4993
@arredod thanks for the details. Could you please tell me if the product Tavolo Assolo should have that attribute Larghezza Bagno?

Thanks,
Anton.

[2016-06-14 13:03] zanilee commented on #4768
Hi, @2007lf!

Maybe this can help:
including image:
`<img src=<?php echo $block->getViewFileUrl('/images/a.jpg')?>/>`

[2016-06-14 13:06] bwaters commented on #4966
You need to remove the return (deliver) above the hit for pass block. The
hit for pass code will not execute with the return there and it will slow
down non cacheable requests.

That error shouldnt disable caching though.

Are you in development mode? If so you can view the Hitt or Miss http
headers to easily determine the caching.
On Jun 14, 2016 7:53 AM, "Jānis Šakars" notifications@github.com w

[2016-06-14 13:07] arredod commented on #4993
no, it shouldn't

[2016-06-14 13:15] jsakars commented on #4966
@bwaters I did that however issue is still there. We are in production mode.
I tried with `developer` mode - result is the same with `X-Magento-Cache-Debug:MISS`

[2016-06-14 13:32] #2619 closed, assigned to nobody

[2016-06-14 13:35] NadiyaS commented on #1578
Hi @bigappleinsider , @mikhaill ,
this bug was fixed. Described API request returns correct list of orders with correct statuses.
searchCriteria also works correctly.
@adragus-inviqa , getProductOptions() now returns \Magento\Catalog\Api\Data\ProductOptionInterface and phpdocs says the same.
This bug is closed as resolved.
Thank you all for your contribution and we are sorry for delay.

[2016-06-14 13:35] #1578 closed

[2016-06-14 13:41] chicgeek opened #5023 "It is not possible to add MS tile image meta via default_head_blocks.xml"
It is currently not possible to add a `msapplication-TileImage` meta value to the head as the image path is not processed. This meta uses the `content` attribute instead of `src` or `href` and is used to specify the path for the tile images for Windows devices. Other similar icon paths that use `src` have the paths resolved correctly.

This inability to support this meta tag has been evident since

[2016-06-14 13:43] ishakhsuvarov commented on #4999
@roma84 Thank you for reporting this issue. We have created an internal ticket `MAGETWO-54380` to fix the problem.

[2016-06-14 13:52] truesilveruk opened #5024 "Automatically Invoice All Items option does not appear for Zero Subtotal Checkout"
## Steps to reproduce

Go to the Magento 2.0.7 CE dashboard
Click Stores > Configuration > Sales > Payment Methods
Scroll to Zero Subtotal Checkout.
Option on http://docs.magento.com/m2/ce/user_guide/payment/zero-subtotal-checkout.html to **Automatically Invoice All Items** does not show. This option is mentioned in the text explanation but also does not show on the screenshot.
## Expected result

[2016-06-14 13:54] AntonEvers commented on #4237
@kitsor is correct, I also saw cron times with 4 hours difference. Some of my dev servers have php's time zone at UTC and mysql's global time zone at Europe/Amsterdam. To prevent any differences there I set the mysql timezone with the init statement. This had the result of only 2 hours difference in the cron times, but still the cron times are saved as Amsterdam time in a UTC database from UTC php

[2016-06-14 14:01] grasdaggel commented on #5018
Seemed like it was a failure on our end.

If something happens ever to you, just do the following:
rm -rf var/cache var/page_cache var/view_preprocessed var/generation pub/static/\*
php bin/magento cache:flush
php bin/magento setup:static-content:deploy en_US de_DE ...

=> solved the problem. Weird!

[2016-06-14 14:01] #5018 closed, assigned to nobody

[2016-06-14 14:05] antboiko commented on #4993
@arredod I cannot reproduce the issue on develop branch.
- I created new attribute with input type "Dropdown" - "Dropdown Test"
- Didn't assign it to any Attribute Set
- I have the column Dropdown Test appeared in Product grid, and there are empty cells for all products. If you don't want to have it in Product grid check these options for Product Attribute and set "No":
  ![dropdown_test](https://

[2016-06-14 14:07] melnikovi commented on #4237
@ajpevers you don't need to use initStatements, as Magento sets timezone for connection in \Magento\Framework\DB\Adapter\Pdo\Mysql::_connect. We also set timezone in PHP in app/bootstrap.php.

Magento works with dates as you described. All dates stored in UTC and being formatted to user's timezone on frontend. Created internal task MAGETWO-54382 to double check if cron stores time in UTC.

When yo

[2016-06-14 14:09] maghamed commented on #2121
Internal issue created - MAGETWO-54383

[2016-06-14 14:09] maghamed commented on #5009
Internal issue created - MAGETWO-54383

[2016-06-14 14:17] AntonEvers commented on #4237
Hi @melnikovi thanks for the very quick response.
I do think I see the times with correction in my terminal. However, there is a difference between the times on an order for instance and the times in the cron_schedule table:

Just placed an order, time I see in the DB: `2016-06-14 16:10:46`
Just opened cron_schedule, last job finished at: `2016-06-14 18:11:13`
Local time here: `2016-06-14 16:10:46

[2016-06-14 14:26] ezequielalba opened #5025 "Cart rules aren't working correctly"
Created a couple of cart price rules, but seems to not work correctly. I reproduced the steps several times, and nothing. Don't know what could be. Anyone had the same issue recently?

Have Magento 2.0.7 installed in a local environment.

**The rules are:**
"When the total qty of the product is 1"
"When the subtotal of the purchase is greater than 500$"
Then apply a discount of 10%.

No results.

[2016-06-14 14:35] chelevich commented on #4962
I have met the same issue. Default en-US setup, no other languages, sample data, upgraded from 2.0.5 to 2.1-rc2.
I was trying to save a simple visible product "Joust Duffle Bag" ID=1.
Firefox47, Ubuntu 14. Non-reproducible in Chrome51.

[2016-06-14 14:38] NadiyaS commented on #4980
Hi @mrtuvn ,
thank you for reporting this issue.
Internal ticket MAGETWO-54384 was created to track this issue.

[2016-06-14 14:55] NadiyaS commented on #4616
Hi @samuellinde ,
this issue is not reproducible on 2.0.7 version. Please upgrade your code to this version and if you still have encountered this problem, please, provide more detailed steps to reproduce.

[2016-06-14 15:03] giacmir commented on #4956
We developed a module to do that. It exports from interface and then reimports from cli.

https://github.com/magespecialist/MSP_CmsImportExport

[2016-06-14 15:15] kitsor commented on #4237
@ajpevers Use my solution.
You don't need to use initStatements.
The core issue in Timezone.php on calculating scopeTimeStamp.

Just make a small fix:

[code]

It works for me as expected.

[2016-06-14 15:25] NadiyaS commented on #1791
Hi @mage2pro ,
now all phrases are translatable.
You can upgrade your code from develop branch or wait until next release.
This issue is closed as resolved.
Feel free to reopen this issue if you have the same problem on upgraded version.

[2016-06-14 15:25] #1791 closed

[2016-06-14 15:32] LiamFielding commented on #4789
No response?

[2016-06-14 15:33] LiamFielding commented on #4789
I've merely added a product with attributes.

[2016-06-14 15:42] Zaylril commented on #4506
I have to agree with @erikhansen in that in it's current state the bundling feature is simply not usable. Just think here for a second for a mobile user on 3G, even with the 13meg file gzipped it comes out at a whopping 3.3meg. Add this to the rest of the page and you are looking at 5meg+ for an initial page load. Not great.

Surely a much better solution would be to only bundle files which would

[2016-06-14 15:45] mbrinton01 commented on #5013
@arijit-insync what do you expect to see the updatedAt time reflect? The time the address was changed in the front end, or the time the API call is made? Are you using GET /V1/customers/{customerId}?

[2016-06-14 15:45] erikhansen commented on #4506
@Zaylril Thanks for adding to the discussion.

@alankent I'd be curious to hear your thoughts on this issue.

[2016-06-14 16:13] arijit-de93 commented on #5013
The time the address was changed in the frontend. Yes, I am using your API call

[2016-06-14 16:15] anton-huz commented on #1788
Dmitry, the issue is not actual anymore. I'm going to close it.
But I can agree that Magento still has places for improvement in the i18n scope.

Thanks for your care for Magento's code base.

[2016-06-14 16:15] #1788 closed

[2016-06-14 16:16] TKlement commented on #4921
Same error here.
When the field "street.1" has no content the validation cause an exception. The value.length is undefined.
A workaround is to disable the validation_rules for the customer_eav_attribute "street" in the database.

[2016-06-14 16:24] nmallepally opened #5026 "Widget conditions"
Hi, When i am trying add a widget of type catalog products list on pages with the conditions using sku of products to display. if i choose two sku of that particular products, it does not show. It does not show anything. it does not even display products even i choose different conditions as well. Is there any bug associated with this?
I am attaching images as well for reference.
![properties](htt

[2016-06-14 17:13] jason-vivid opened #5027 "Free Shipping selectable for cart total less than minimum order amount."
Version 2.0.5

Steps to reproduce
1. Add product to cart less than the amount eligible for free shipping.
2. Proceed to checkout and select free shipping.
3. Free shipping is displayed and carried through to checkout.

Expected:
Option shouldn't be displayed or possible.

[2016-06-14 17:56] agustincl commented on #2786
The fix is not on Magento 2.0.7 yet!!!!

[2016-06-14 18:16] rudenko-maksym commented on #3357
"private_content_version" cookie is not getting set when full_page cache is disabled, this is usually true for **development** environment.
Take a look here:
[https://github.com/magento/magento2/blob/develop/app/code/Magento/PageCache/Model/App/FrontController/BuiltinPlugin.php#L70](url)
[https://github.com/magento/magento2/blob/develop/app/code/Magento/PageCache/Model/App/FrontController/VarnishP

[2016-06-14 18:18] vancoz commented on #4986
Hi @fooman, currently Component Manager support only repo.magento.com, there is no way to add new repos via web interface or change it.

In case if you have only repo.magento.com in your composer.json - performance of the Component Manager will be good. In case if you will add custom repo - Component Manager switches to kind of "qa/debug" mode and it calls "composer info" for each installed compon

[2016-06-14 18:26] ipekerti opened #5030 "Getting strange result querying carts API using multiple search filter groups"
Reproducable steps:

1) Successful POST to search for abandoned carts with a simple 1 filter group (updated_at greater than equal 2016-06-14):
## https://devsvr.mydomain.com/index.php/rest/V1/carts/search?searchCriteria[filter_groups][0][filters][0][field]=updated_at&searchCriteria[filter_groups][0][filters][0][value]=2016-06-14&searchCriteria[filter_groups][0][filters][0][condition_type]=gteq

Re

[2016-06-14 19:22] samuellinde commented on #4616
Hi,

I can only assume that something happened in the process of migrating from 1.9.2.2. We decided to start with a clean install and import data manually instead, and now we don't have any issues anymore.

[2016-06-14 19:22] #4616 closed, assigned to NadiyaS

[2016-06-14 20:07] mhauri opened #5031 "Missing required argument $routerList of Magento\Framework\App\RouterList."
## Steps to reproduce
1. Install Magento the [Integrator](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html) way.
2. Copy a working env.php to app/etc/
3. Import an working database dump into mysql.
4. Open the Site in the Browser
## Expected result
1. The Site is shown as expected
## Actual result
1. Error message appears: "Missing required argument $routerList of

[2016-06-14 20:24] davidalger commented on #5031
@mhauri Do you have a working app/etc/config.php file present? If either that or env.php are missing, Magento 2 will not consider itself installed as the config.php is used to know which modules are enabled, etc.

[2016-06-14 21:50] fooman commented on #4986
@vancoz this ticket should remain open until a fix is available. It currently sounds like debug code that is used internally got shipped in the product.

Consider the following scenarios:

1.) I am a system integrator and I develop a custom extension for a client. The code is kept under version control in a separate repository. To install it I add a repository to my main composer.json

2.) I am a

[2016-06-14 21:56] CNanninga opened #5032 "SKU allows characters that are invalid for Varnish ESI loading"
## Steps to reproduce
1. Configure Magento to use Varnish for the full page cache
2. Create a product with an apostrophe in the SKU
3. Browse to the product on the front-end
## Result

Result will depend on your level of error reporting.  (Either there will be blank areas on the page where specific pieces of content being loaded via ESI should appear, with the PHP warning written to the error log,

[2016-06-14 23:41] aidin3000 opened #5033 "Magento admin multistore redirects to store url"
Installed Magento 2 locally successfully locally on MAMP. Added a second store and edited .htaccess and index.php accordingly for a multistore environment.

I then edited the Base URL and Secure Base URL for store 1 to the new url and the admin now goes in a redirect loop.
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add a secondary store or even default store
3. Edit index.p

[2016-06-15 01:32] 2007lf commented on #4768
@zanilee Thank you, but its not my mean, now I has used this code.

[code]

Looks very stupid, but its work, Its my mean.

[2016-06-15 05:04] prasanthnatrajan commented on #5012
@antboiko its Indian! Now its working! i didn't install the rupee font in my windows! Thankyou!

[2016-06-15 06:19] mhauri commented on #5031
@davidalger Thank you, that was it.
The error message isn't really helpful then, would be great to throw an clear exception if the config is missing. I've expected that the config.php would be generated based on the values in the database.
But thank you for clarifying.

[2016-06-15 06:19] #5031 closed, assigned to nobody

[2016-06-15 06:21] agustincl commented on #3445
Hello @chris-brabender, could you explain a little more in detail where you made the changes, what you fix, or where to update in database?

I'm using magento 2.0.7 and the migration is really painful.

[2016-06-15 06:42] JamboMedia commented on #5009
Same issue over here. The layered navigation is not showing categories at some cases.

[2016-06-15 07:00] antboiko commented on #5012
Hi @prasanthnatrajan , thanks for the update.

I'm closing this issue. Please feel free to reopen if it's needed.

Best,
Anton.

[2016-06-15 07:00] #5012 closed, assigned to nobody

[2016-06-15 07:18] AntonEvers commented on #4237
Thanks @kitsor,

But my goal is not to patch my installation, it's to make Magento a healthier product. So if this solution works, and does not have a negative impact on other places in the installation, can you make it a pull request?

[2016-06-15 07:21] Taral-Patoliya opened #5034 "Segmentation fault error when importing products."
I have created new import adapter which feeds array of products to magento's importer. it is working seamlessly when there are products around 1000 - 2000 but when i tried to feed 18229 products. it gave Segmentation fault error.

[2016-06-15 07:39] katesuykovskaya opened #5035 "I can not to subscribe on change of all sections in Stores ->Configuration using event admin_system_config_changed_section"
## Steps to reproduce
1. M 2.0.7
2. Create extension, create etc/adminhtml/system.xml there
3. add section tab with id, that contains number, in my case "b2b" https://drive.google.com/a/interiorwebdesign.com/file/d/0BzTvZltZJMLlemNCOGVwdUM5S00/view?usp=drivesdk
4. create etc/adminhtml/events.xml and add event listener to listen to changing of this section https://drive.google.com/a/interiorwebdesi

[2016-06-15 07:52] NadiyaS commented on #4553
Hi @pareshe ,
thanks for reporting this issue. It is already being tracked by MAGETWO-54384 ticket.
We added additional case from your description.
This issue will be closed as duplicate of  #4980.

[2016-06-15 07:52] #4553 closed, assigned to NadiyaS

[2016-06-15 08:06] NadiyaS commented on #5014
Hi @snswap828 ,
this behavior can not be reproducible on any Magento version because it is one of the most basic scenarios. So we need to know more details which could affect this issue.
If you use additional extensions then please disable them, clean the cache and try to reproduce this bug again.
And also write Magento version you use.

[2016-06-15 08:10] BaDos commented on #4706
Closed because it isn't reproduced.

If you still facing with it, please add more steps to reproduce, your configuration, browser version and reopen the current ticket.

[2016-06-15 08:10] #4706 closed, assigned to nobody

[2016-06-15 08:21] NadiyaS commented on #4974
Hi @pynej,
we can not reproduce this bug. So we need to know more details which could affect this issue.
If you use additional extensions then please disable them, clean the cache and try to reproduce this bug again.

[2016-06-15 08:34] Mulderua commented on #4521
Hi @joni-jones, we cannot reproduce this bug on 2.0.5 and 2.0.7. Please try to run composer update, disable all third party extensions and do this scenario again.

[2016-06-15 09:39] stamster commented on #5034
Have you done debug with core dump from segfault output via `gdb`?

With such description what you provided (i.e. many items vs. normal 2K) it might be that you rely on `preg_match_*` somewhere and at some stage it will cause too much recursion which can crash your application server. Try to set this in your `php.ini`

[code]

[2016-06-15 09:49] Nerogee commented on #4580
Hi, @alena-marchenko
I faced the same issue when set the payment action to **order**. IPN (type = Order Created) from paypal which i assume it's the instruction for order creation but failed. This cause the order ID or invoice ID is captured in Paypal but not created in Magento due to unknown reason. So that invoice ID will continue be used to send request to paypal but rejected.
Maybe changing th

[2016-06-15 09:58] lucasng13 commented on #4037
Hi @antboiko, you should clear all caches, session both browsers and Magento to test it. I had the same problem after I installed Magento 2.0.7 with sample data.
Compare function just works after I added a product to cart.

[2016-06-15 09:58] MomotenkoNatalia commented on #4593
@andidhouse Closing the issue as it cannot be reproduced on current develop branch and there is no response has been received from the reporter.
Please feel free to create new ticket if you feel that issue could be reproduced.

[2016-06-15 09:59] zanilee commented on #4768
@2007lf, glad you found a solution that fits you.
Do you have any other questions?

[2016-06-15 10:02] Taral-Patoliya commented on #5034
@stamster Yes, i tried to debug it using `gdb`. but could not find anything usefull. Following is the trace from `gdb`

[code]

[2016-06-15 10:09] andidhouse commented on #4593
@MomotenkoNatalia sry for the delay.
Did you really check the issue on Mac/safari with all magento versions including 2.0.7?
The bug definitely exists!

[2016-06-15 10:16] duhon commented on #3561
closed due to lack of response

[2016-06-15 10:16] #3561 closed, assigned to nobody

[2016-06-15 10:19] #4482 closed, assigned to nobody

[2016-06-15 10:22] duhon commented on #4485
closed due to lack of response

[2016-06-15 10:22] #4485 closed, assigned to nobody

[2016-06-15 10:24] MomotenkoNatalia commented on #2680
Internal ticket MAGETWO-46965 is closed and delivered to mainline. Please let us know if you still have an issue

[2016-06-15 10:24] #2680 closed, assigned to MomotenkoNatalia

[2016-06-15 10:31] duhon commented on #4513
Hello @addison74

the solution to the problem tries the latest version

[2016-06-15 10:33] develsites opened #5036 "[2.0.6] Issues with INR currency in checkout in multisite"
## Steps to reproduce
1. Please, create two websites with different currency, for example GBR and INR. Where GBR is a base store.
2. Please, go to Configuration > Gatalog > Catalog > Price, set up the "Catalog Price Scope" as "Website"
3. Please, go to Configuration > General > Currecy Setup > Select "Indian" website on the top, and set up the "Base Currency", the "Default Display Currency" and th

[2016-06-15 10:55] hopinator commented on #3832
I had this problem and it came down to changing a shipping setting

stores -> configuration -> sales -> shipping settings

Change Origin from United States to your country (I changed mine to Australia).

For some reason that fixed my problem. Even though in Tax -> Calculation Settings -> Tax Calculation Based On = shipping destination and not shipping origin, it was adding extra GST onto the price

[2016-06-15 10:57] Mulderua commented on #4426
Hi @joebusby, thank you for reporting this issue.
We created internal ticket MAGETWO-54418.

For immediate fix this problem you can add this function to \Magento\Sales\Controller\Adminhtml\Order\Pdfshipments

[code]

[2016-06-15 11:09] tkacheva commented on #2916
Implementation task MAGETWO-54422

[2016-06-15 11:23] kandy commented on #3445
Internal ticket for tracking progress MAGETWO-51381

[2016-06-15 11:32] davideperrotta opened #5037 "Datetime Error on Newsletter Template"
## Steps to reproduce
1. Go to Admin->Marketing->Newsletter Template
2. Select "Queue Newsletter" from right dropdown
3. Select a "Queue Date Start" and try to save it
## Expected result
1. Saved
## Actual result
1. DateTime::__construct(): Failed to parse time string (29/giu/2016 01:22:19) at position 0 (2): Unexpected character
## Temporary Solution

Insert data manually before hour in this way:

[2016-06-15 11:37] Mulderua commented on #3696
Hi @balack, we cannot reproduce this issue on all versions.
Please try disable third party extension, do composer update, clear cache and try to reproduce it again.
Notice that the last Magento version is 2.0.7 so you can upgrade you system and check you scenario after that.

[2016-06-15 11:39] joebusby commented on #4426
@NadiyaS  @Mulderua   I modified the file: Interceptor.php
  In the folder: var / generation / Magento / Sales / Controller / Adminhtml / Order / Pdfshipments /

and it worked!   Thanks for the help.  I assume 1.2.0 will contain this fix?

[2016-06-15 11:53] NadiyaS commented on #3582
Issue is closed as not actual

[2016-06-15 11:53] #3582 closed, assigned to NadiyaS

[2016-06-15 11:54] galillei opened #5038 "Don't supports anonymous classes from php7"
**Steps to reproduce**
I use Magento 2.0.5 on php 7.0.2 and try it use with anonymous classes. It's work correctly before i try to use production mode with di compile.
for example

[code]

And try to run follow command ./bin/magento setup:di:compile
i get error
`[ReflectionException]
  Class \Rcklss\ShipWorks\Model\$this does not exist`

**Expected:**
Code works same in developer and production mo

[2016-06-15 12:00] kayintveen commented on #3905
@piotrekkaminski Which commit?

[2016-06-15 12:06] kandy commented on #3905
Looks like in was c5cc0b5

[2016-06-15 12:19] GreenImp commented on #2226
Hi @katmoon could you tell me which release these fixes made it in to? I'm seeing issues where configurable products aren't showing on the frontend - a single product in a category and the category page just shows an empty container, instead of the product. If I remove the product from the category it shows the standard "No products" message.

I'm just wondering if it is this issue. I'm running Ma

[2016-06-15 12:23] kayintveen commented on #3905
@kandy thats MAGETWO-50893 right not MAGETWO-52716

[2016-06-15 12:25] kandy commented on #3905
MAGETWO-52716 was closed with has a fix in MAGETWO-50893

[2016-06-15 12:26] kayintveen commented on #3905
ahh perfect. going to pull that in and review if thats the solution indeed.  thanks for your quick response!

[2016-06-15 12:28] MidnightDesign opened #5039 "Add to cart doesn't work inside an iframe in IE"
## Steps to reproduce
1. Load an M2 store inside an Iframe in IE11
2. Try to add a product to the cart
## Expected result

The product is added to the cart
## Actual result

The product isn't added to the cart and the "Add to cart" button stays grayed out saying "Adding...".

I've tracked the problem down to [the form key `Validator` returning false](https://github.com/magento/magento2/blob/develo

[2016-06-15 12:32] mhabou commented on #4953
With fresh insallation , i got the same error

Magento CE 2.07

[code]

[2016-06-15 12:52] chris-brabender commented on #3445
Hi @agustincl, I honestly wouldn't recommend this tool until the issues have been addressed by Magento. There are several places around the database where data just isn't mapped correctly.

But to fix this particular issue, the table "catalog_eav_attribute" has a column called "frontend_input_renderer".  In that table, find the new row for the newly created Image attribute (you may need to look up

[2016-06-15 12:53] southerncomputer commented on #4928
What do you see in (f12) developer mode debug/console errors?

[2016-06-15 12:55] 100php commented on #3572
Could anyone find solution to this issue?

[2016-06-15 12:56] flancer64 opened #5040 "Change 'select' to 'query' in AbstractSearchResult"
Hello,

there is protected property "select" in [AbstractSearchResult](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Data/AbstractSearchResult.php#L62) that is never used

[code]

... and there is 'query' property in the constructor that is not defined:

[code]

I suppose this code:

[code]

should be instead of 'select' property.

[2016-06-15 13:00] sjavalv commented on #2458
Trying to add attribute from admin to customer.

Error: _We can't save the customer address attribute right now._

Solutions?

[2016-06-15 13:10] Asitis commented on #4928
Nothing, actually. I've checked the /log/ folder and the console, but none relating to this.
Edit: I've since updated to 2.1.0rc2 and haven't been able to reproduce the issue

[2016-06-15 13:40] Mulderua commented on #2902
Hi @SilvanLaroo, looks like it was fixed on current Magento version.
Could you provide more information about your issue, like Magento version and detail scenario for reproducing this bug?

Thank you!

[2016-06-15 13:55] southerncomputer commented on #4875
Upgraded to 2.1.0-rc2 and this problem is gone, bundles0.js .. bundle5.js (5) are created without error!

[2016-06-15 13:57] southerncomputer commented on #4506
2.1.0-rc2 now creates 5 bundle0.js .. bundle5.js - not that is saving much space but breaks up the files to concurrently load?

[2016-06-15 14:03] antboiko commented on #5022
Hi @devhn , thanks for pointing on this.

I checked guidelines on https://schema.org/price and there were some changes:
Use the priceCurrency property (with ISO 4217 codes e.g. "USD") instead of including ambiguous symbols such as '$' in the value.

I've created internal ticket MAGETWO-54430 for this improvement and added it to the product backlog.

Thanks,
Anton.

[2016-06-15 14:05] antboiko commented on #3759
Hi @glwstor , thanks for reporting this. I've created internal ticket MAGETWO-54411.

Best,
Anton.

[2016-06-15 14:13] willstorm opened #5042 "Error to save product and category"
I'm running Magento 2.1.0-rc2
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Select Single Store Mode.
3. Click to Add Product in catalog.
4. Fill the fields and click to save.
## Expected result
1. A product has been created.
## Actual result
1. Javascript throw an error: Uncaught TypeError: $.validator.validateSingleElement is not a function.

[2016-06-15 14:22] sivaschenko commented on #1650
@kassner, @LifeAsBook, @mdmujassam, @m1keharris See [these notes](http://blog.sivaschenko.com/2016/05/magento-2-tutorial-add-column-to-sales.html) for detailed instructions.

[2016-06-15 14:33] Vinai opened #5044 "JS jasmine spec grunt-contrib-less dependency version broken"
## Steps to reproduce
1. Install Magento 2.0.7
2. run `npm install`
3. run `bin/magento setup:static-content:deploy`
4. run `grunt spec`
## Expected result

Jasmine tests found in `dev/tests/js/jasmine/tests/` being executed
## Actual result

[code]
## Further information

Reference https://github.com/gruntjs/grunt-contrib-jasmine/issues/193
Reference https://github.com/yeoman/generator-backbone/i

[2016-06-15 14:36] 2007lf commented on #4768
@zanilee But its looks not right method, I think have good method, so long time past, just you comment. Magento2 is difficult to understand than magento1. :(
Thanks.

[2016-06-15 14:36] #4768 closed, assigned to MomotenkoNatalia

[2016-06-15 14:36] davidalger commented on #5031
@mhauri The config.php file is generated when you run through the installation procedure, and it's expected that the file be there after installation. So I'm not sure if it makes sense to give an uninstalled error when the app is in a partially setup state (i.e. env.php is there but config.php is not).

[2016-06-15 14:37] davidalger commented on #5031
Glad you got it working! :)

[2016-06-15 14:42] mslabko commented on #4951
Hi @bpoiss
Issue was fixed and will be available on 2.1 release. Thank you for reporting!

[2016-06-15 14:42] #4951 closed, assigned to nobody

[2016-06-15 14:44] atIOCrON commented on #3545
Am waiting for a fix for this issue too. Thanks

[2016-06-15 14:54] sivaschenko commented on #4840
Use those [two lines](https://github.com/magento/magento2/blob/e46a3cfeccae6f8fcd1eb408719f48d2e039c433/bin/magento#L23-L24) as workaround.

[2016-06-15 15:20] TamasJozsefSzabo opened #5046 "The value of custom category image attribute is not removed properly"
## Steps to reproduce
1. Add a custom image attribute to the category entity:
   `$catalogSetup->addAttribute(\Magento\Catalog\Model\Category::ENTITY, 'menu_image', array(
           'label'                      => 'Menu Image',
           'note'                       => 'Image that is shown for the menu item of current category',
           'input'                      => 'image',
           'bac

[2016-06-15 15:26] SidneyBilliet opened #5047 "Export --> Import products proces"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add attribute "alcohol percentage" (dropdowns with value's LIKE 70%, 40% etc)
3. Add attribute "content" (dropdowns with value's LIKE 70cl, 40cl, 35cl/50cl/100cl, 25cl etc)
4. Add products and set the attrubtes to any value
5. Export products
6. do not open the file but save it
7. try re-importing the file
## Expected result
1. A f

[2016-06-15 15:26] ludwig-gramberg commented on #4955
it really doesn't work, now I can't even upgrade anymore in production:

`checkInstallationFilePermissions in setup/src/Magento/Setup/Model/Installer.php`

is not letting me pass... it doesn't even need to write any file... it just checks for it...

[2016-06-15 15:26] erikhansen commented on #4506
@southerncomputer Thanks for reporting, but this still doesn't fix the underlying concern that someone visiting a Magento 2 homepage shouldn't be served ~8MB (uncompressed) of JS, most of which is not needed on the homepage.

[2016-06-15 15:59] Mulderua commented on #2931
Hi @hatimeria-artur-jewula, thank you for issue report! Internal ticket MAGETWO-54440 was created.

[2016-06-15 15:59] PascalBrouwers commented on #4859
Seems to be going wrong in Magento\Catalog\Helper\Image::initBaseFile()

This line: $model->setBaseFile($this->getProduct()->getData($model->getDestinationSubdir()));
tries to get the thumbnail of the image but it's not returning it.
If I do $model->setBaseFile($this->getProduct()->getImage()); it seems to get the correct image, although it's the full image instead of a thumnail.

[2016-06-15 16:13] atIOCrON commented on #2703
+1

[2016-06-15 16:13] atIOCrON commented on #2564
+1

[2016-06-15 16:18] southerncomputer commented on #4506
Well this is odd, After deploying to production mode, I switched to developer mode wiped pub/static/\* and now it won't load the bundle0.js pair any more after deploying to production again, it appears to be pulling from pub/static/_cache/merged and loading the signed *.min.cs and *.min.js files. I've tried wiping var/di var/generation var/view_preprocessed etc. Then deploying using php bin/magent

[2016-06-15 16:37] annybs commented on #4945
@antboiko We are having this same problem on a client website and I think I've narrowed down its cause after several hours of debugging (EE 2.0.6). We are using per-website prices with manual entry, rather than global prices or currency conversion. And I've found that, for us at least, this is the result of a bug in M2 price indexing.

To give an example to illustrate the bug, my control product f

[2016-06-15 16:39] annybs commented on #4945
Oh, and I've checked - this isn't fixed in any newer version than 2.0.6, so it's an open bug.

[2016-06-15 17:05] southerncomputer commented on #4962
Are you in production mode or developer mode? Have you tried clearing pub/static/\* (not the .htaccess though) and service php-fpm restart ?

Have you tried disabling all minification/merging of javascript in store->config->developer ?

[2016-06-15 18:16] mbonano commented on #4911
+1

I have replicated this issue on v2.0.7 and despite a variety of attempts at modifying the cron jobs in order to circumvent this issue, I continue to see the following error:

[code]

Can this issue be assigned to a developer?

[2016-06-15 18:28] ludwig-gramberg commented on #4955
I wrote my own upgrade console command with a custom `InstallerFactory` which injects a custom `FilePermission` class, so it upgrades withouth bothering to check the permissions first (which I don't need in production).

but this only proofs, that yes magento expects to write these files and wont work without being able to write them.

[2016-06-15 18:39] Vinai opened #5050 "Behavioral bug in CustomerRepositoryInterface::save() implementation"
The behavior of the interface method mentioned in the title does not match the method signature.

Note: I already opened [an issue on this](https://github.com/magento/magento2/issues/4256) before, but it was closed without an response to the actual issue. The comment only was on the current implementation.

This is another attempt at raising the actual issue because I think it is important.

I wan

[2016-06-15 18:41] willstorm commented on #4855
Hi Guys,

Same problem here. It's happend when you has shipping method "flat rate" disabled. No errors in the browser console.

[2016-06-15 18:50] mitcht commented on #4822
I'm seeing this problem too, albeit with Customer.. Created using a script properly. Can include source if requested.  I'm using the Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend method.  No values are persisting for me, but the attribute is saving the option_id to the database in the customer_entity_<type> table.  I've tried text and varchar. Both save but will not populate the dropdown

[2016-06-15 18:58] kuamanet commented on #4911
Me too! In this days i tried some workarounds (user permissions, dir mod,
missing softwares) but without any appreciable result.

Il mercoledì 15 giugno 2016, Mark Bonano notifications@github.com ha
scritto:

##

Alessio Ferrara
Product manager, SEO specialist & Web developer

Nuovo sito Kuama online - http://www.kuama.net
http://www.alessioferrara.it

[2016-06-15 19:17] YevSent commented on #4855
Hi, @willstorm, do you have any configured shipping methods except `Flat Rate`?

[2016-06-15 19:26] willstorm commented on #4855
Yes, I'm developed an extension.

[2016-06-15 19:33] peec commented on #4855
I am also developing a custom extension. If its when flat rate is disabled, I think to reproduce then you disable all shipping methods, keep one custom one.  E.g. https://github.com/magento/magento2-samples/tree/master/sample-module-shipping-provider

[2016-06-15 19:47] YevSent commented on #4855
Looks a strange, we will investigate the case when only custom shipping method is configured.

[2016-06-15 20:11] willstorm commented on #4855
I found another issue relating same problem.
https://github.com/magento/magento2/issues/4059

[2016-06-15 20:14] mhadianfard commented on #4756
Having the same problem here. I think @nantokakantoka nailed it down. Ajax error boils down to a fatal error:

[code]

![image](https://cloud.githubusercontent.com/assets/5615108/16095766/2238bd0e-3314-11e6-9fc4-05da0321b608.png)

[2016-06-15 21:02] mbrinton01 commented on #5013
Address is stored separately from the customer record, so a change to the address only will not modify `updatedAt` for the customer record. To do this we would have to modify the API to update the customer record in the database when the address is changed.  Please confirm this is your intention.  If so, I will record this as a feature request for APIs.

[2016-06-15 22:13] ycherfan commented on #4756
Hi all,

I solved that problem setting the memory_limit variable to 1024M and putting a copy of the php.ini inside the folder setup too.
Also, I have upgraded PHP to version 7.

I hope that it helps you.

Thanks all!

[2016-06-15 23:24] afavata commented on #4687
Magento 2.0.7 - Varnish 4.1.2 - Same behavior.... web setup wizard shows a white page and url shown is http://www.mywebsite.com:8080/setup/

[2016-06-16 03:00] lutpiero commented on #5021
I have remove underscore too, but no success.

The error message ("Please specify a shipping method") still showing

[2016-06-16 03:04] Thommas commented on #3923
Just a guess, have a look at this:

[code]

Well I just tried with 1/2/3/4, not working.

[2016-06-16 03:08] vphat28 commented on #5021
@lutpiero  you may need to covert string to lower also

[2016-06-16 03:17] justindocanto opened #5051 "'Miscellaneous Scripts' being included in Admin Area"
## Steps to reproduce
1. Head to Stores -> Configuration
2. Click 'Design' Tab & scroll down to 'HTML Head' section
3. Add any html to 'Miscellaneous Scripts' section & save store settings
## Expected result
1. Correct me if I'm wrong, but I think the contents of the 'Miscellaneous Scripts' field is only supposed to be added to the <head> of the front end (e.g. The customer facing site) and NOT th

[2016-06-16 04:00] lutpiero commented on #5021
Same as yours, but still no luck

[2016-06-16 04:21] thdoan opened #5052 "[Suggestion] Improve theme file structure"
## Steps to reproduce
1. Install the [uber theme](https://github.com/ubertheme/crafts-magento-2-theme).
## Expected result
1. I'm expecting all the files for each theme are self-contained, meaning they should not pollute the general file structure in any way so there is a clear separation of code.
## Actual result
1. The theme installs a bunch of files in [pub/media](https://github.com/ubertheme/c

[2016-06-16 05:31] arijit-de93 commented on #5013
Thanks for understanding the issue. I personally feel it is not a concern of a consumer on how data is stored in backend. An API should be full proof to handle any customer scenario for a website.

Lets take a scenario
1. Customer 1  is updated in server.
2. I am calling **/V1/customers/search** with a search criteria based on the update time.
3. The data returned does not contain the customer whi

[2016-06-16 07:02] qwerty7869 commented on #2495
Did anyone have created wishlist and product review rest api?

[2016-06-16 07:12] qwerty7869 commented on #4005
Did anyone had created newsletter rest api?

[2016-06-16 07:38] mujtaba2012 commented on #3307
@NadiyaS, any update on this. Its been open for three months without any updates.Its a very critical bug for integrating Magento with external system. Any ideas if this been actively worked on?

[2016-06-16 08:10] YevSent commented on #4855
Hi @willstorm  and @peec, I've been tested on the latest develop branch with `SampleShippingProvider` module - all works fine. The `estimate-shipping-methods` is triggered when country or zip code is changed.

**Note**: to trigger request for shipping methods estimation for additional fields like city, street, etc you need to update `ModuleName\view\frontend\web\js\model\shipping-rates-validation-

[2016-06-16 08:37] mslabko commented on #5042
Hi @willstorm
I cannot reproduce it on rc2. Could you please try to clean browser cache? If it's not help please provide more detailed information.

[2016-06-16 08:58] tux-rampage opened #5054 "Deprecate/remove persistence methods in data models"
Persistence methods like `save()`, `load()` or `delete()` should be marked deprecated and in the next step they should be removed from data models (and all its abstract classes).

Magento 2 (finally) use the repository pattern. But the persistence methods in the data models violate this pattern. The models should be completely agnostic to the persistence layer.

Even though the public api interfac

[2016-06-16 09:07] mslabko commented on #5026
Hi @nmallepally
For display products with sku1 or sku2 or ...  you can use condition "is one of" (it terms of SQL it: sku IN ('sku1', 'sku2' ...)
Condition "is" used for strict equals (in terms of SQL: sku = 'sku1')

Could you please clarify your business case - you want to show products if ALL products with mentioned SKUs are available?

[2016-06-16 09:14] bh-ref commented on #3545
I think this problem is fixed in Magento 2.1.0-rc2

[2016-06-16 09:22] davidnguyen2205 commented on #3572
In version 2.0.6, it's working fine :)

[2016-06-16 09:22] nmallepally commented on #5026
Yes, It worked when used ANY or is one of condition. I wanted to show products based on their sku. It can be 2,3 or any (Just selecting configurable product and simple product sku's and displaying them on a particular container on the page.).
I was also wondering Does magento 2 also displays Sub categories on a category page (instead of displaying products of child categories). Like if I click on

[2016-06-16 09:25] 100php commented on #3572
I tried 2.0.4, 2.0.6 and 2.0.7 all, but its still not working. If there is special patch in 2.0.6 please let us know.

[2016-06-16 09:25] dimple-vasoya commented on #3572
No its not working in 2.0.6 as well. Checked twice.

[2016-06-16 09:41] mslabko commented on #5026
It depends on category display settings. Please check documentation:
http://docs.magento.com/m2/ce/user_guide/catalog/categories-display-settings.html

If you have any questions or need technical assistance, please refer to the Community Forums or Magento Stack Exchange site for technical questions.

[2016-06-16 09:41] #5026 closed, assigned to nobody

[2016-06-16 09:43] nmallepally commented on #5026
Thank you.

[2016-06-16 09:46] peec commented on #4855
Thank you, I now found this in the docs:
http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_carrier.html

And these files must be present:

[code]

I guess this issue can be closed.

[2016-06-16 09:47] mslabko commented on #5026
You are welcome!

[2016-06-16 09:54] #4895 closed, assigned to nobody

[2016-06-16 09:54] klict commented on #4895
So we found the cause of the problem after few days of research and  it seems an another module is causing it.

[2016-06-16 10:00] maderlock commented on #3832
Thank you, @hopinator. That stopped the tax being added again. I think that this is a feature, as when prices are specified inclusive of tax then Magento has to make an assumption about what the default tax is. Closing as this is not an issue.

[2016-06-16 10:00] #3832 closed, assigned to mikeweis

[2016-06-16 10:00] #4855 closed, assigned to nobody

[2016-06-16 10:38] mslabko commented on #5002
Hello @bh-ref
"product/edit.phtml" is not loaded because in 2.1 another form rendering mechanism is used.
How did you upgrade? From web or CLI? Could you please try advice from http://magento.stackexchange.com/questions/99813/how-to-update-magento2-from-2-0-0-to-2-0-2 ?

[2016-06-16 11:03] ghost opened #5055 "[Gallery] Color swatches ajax response while empty product"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create configurable product(visual swatch) without images
3. Open gallery page
4. Click on swatch option without images
## Expected result
1. Ajax response return default set of gallery(double items in gallery)
## Actual result
1. Ajax response must be empty array without gallery object.

Links:
https://github.com/magento/magento2c

[2016-06-16 11:06] peec opened #5056 "Empty base_url / secure_base_url in database generates segmentation fault"
Tested in Magento: 2.0.7

This bug can only happen if you manually go into the database and edit `web/unsecure/base_url` to empty and `web/secure/base_url` to empty. The priority is probably not that high to fix, but it's important to document because of a very obscure error: **Segmentation fault**.

I finally figured this out, this relates to manually settings base_url / secure/base_url in the da

[2016-06-16 11:06] mhabou opened #5057 "[CE 2.0.7] Invoice and creditmemo bundle product [Dynamic Price] bug"
## Steps to reproduce
1. Install Magento CE 2.07
2. [Example] Add Bundle Product [Dynamic Price] to the cart and place order.
3. Go to admin interface & invoice this order
4. Magento will give you the hand to edit the products quantities of the bundle product, [illogical]
5. if i choose to not invoice all products of the bundle product, when i save the invoice. there is no way to invoice the rest.

[2016-06-16 11:07] mslabko commented on #4957
Hi @shivkumarsingh7
This issue is similar to https://github.com/magento/magento2/issues/4652

It already fixed in 2.1-rc. Try to update your code base and if you still have any issue, please reopen this one.
Please, follow up marketing updates

[2016-06-16 11:07] #4957 closed, assigned to yaronish

[2016-06-16 11:20] tzyganu commented on #768
Any reason why this is not merged yet? Did I do something wrong?

[2016-06-16 11:25] apurv-anand commented on #4575
I was hoping this to be fixed in 2.0.x release as well. Can we have this as a patch? We are on 2.0.7.
... or at least if there is a workaround, let me know.

[2016-06-16 11:27] maghamed commented on #5054
Hi
@tux-rampage , your message is correct.

Nearest time methods  load/save/delete would be marked as deprecated in Magento\Framework\Model\AbstractModel as Magento propagates to use RepositoryInterface.
For those entities which don't have corresponding RepositoryInterface (aka Public APIs for retrieval/save/delete operations) - Resource models should be used directly for  load/save/delete operati

[2016-06-16 11:31] devhn opened #5058 "WYSIWYG Editor - missing image browse icon"
## Steps to reproduce
1. Install Magento 2.0.7 from `cummunity` branch.
2. Edit any product
3. Under Product Details --> Description click on the Insert/Edit image icon within the basic WYSIWYG editor
## Expected result
1. Browse images icon should appear
## Actual result
1. Browse images icon doesn't appear - missing trigger within id="srcbrowsercontainer"
2. It does however shows up if we click

[2016-06-16 11:38] benmarks commented on #2278
@100rabhMisra please do not comment on closed issues. Moreover, support questions should be asked on the [Magento forums](http://community.magento.com/) or at [Magento SE](http://magento.stackexchange.com/).

[2016-06-16 11:47] katmoon commented on #4513
I'm closing the ticket since the issue is fixed in 2.1. Please feel free to reopen if you have additional questions.

And thank you for reporting the issue!

[2016-06-16 11:47] #4513 closed, assigned to nobody

[2016-06-16 11:48] minhluan259 opened #5059 "Jquery Cookie"
pub/static/frontend/Magento/luma/en_US/jquery/jquery.cookie.js
Jquery cookie in magento 2.1 is old version (v1.1). It hasn't function `$.removeCookie`.

Please update to jquery cookie v1.4.1
[https://github.com/carhartl/jquery-cookie/blob/master/src/jquery.cookie.js](https://github.com/carhartl/jquery-cookie/blob/master/src/jquery.cookie.js)

[2016-06-16 11:52] katmoon commented on #2226
@GreenImp this sounds like a different bug. Please [log a new issue](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) for your problem.

[2016-06-16 11:54] katmoon commented on #2703
I'm closing the ticket since the issue has been fixed and delivered to `develop` branch.

[2016-06-16 11:57] mhabou commented on #4953
I dont get the problem when the order state is canceled or pending

[2016-06-16 11:59] katmoon commented on #3545
The issue should be fixed by another internal ticket `MAGETWO-50123` in the next release.

[2016-06-16 12:24] chelevich commented on #4962
I am in a developer mode. I have removed pub/static/adminhtml and _requirejs folders, they were successfully regenerated on page reload. I have reloaded the page bypassing browser's assets cache Ctrl-F5. That did not help. The same error.
Merge and minification are disabled. I am pretty sure that PHP-FPM restart is not related anyhow to the issue, because there is no JS error in other browsers.

[2016-06-16 12:29] lazarenkoalexey opened #5060 "Magento2 CE + Varnish"
## Steps to reproduce
1. Magento CE 2.0.7 + sample data
2. App server nginx+php-fpm, Varnish for FPC
   default.vcl file - http://pastebin.ru/gsQnLUh0
## Expected result
1. Page should be cached with all resources
## Actual result
1. Cached only static resources, html not cached. Same requests (main page or same search requests) go to app server

[2016-06-16 12:34] lazarenkoalexey commented on #5060
main page response headers:
HTTP/1.1 200 OK
Server: openresty/1.9.7.1
Content-Type: text/html; charset=UTF-8
Connection: keep-alive
X-Frame-Options: SAMEORIGIN
Pragma: no-cache
Expires: -1
Cache-Control: max-age=28800
Vary: Accept-Encoding
Accept-Ranges: bytes

I am interesting in caching html pages also as static content.
Thanks in advance

[2016-06-16 13:06] duhon commented on #5047
Hello @SidneyBilliet

Can't reproduce on the latest version, please clarify your version

[2016-06-16 13:12] 100php commented on #4170
@SerhiyShkolyarenko there is are more scenarios as below:
Case1-
1. login
2. Add product to cart
3. logout

MiniCart must become Empty (Expected)
MiniCart still shows 1 product but when we check cart page there is no product (Unexpected)

Case2 -
1. in new browser login with the same user
2. Minicart do not show any product

But when we go to cart page we see 1 product which we added earlier

Now

[2016-06-16 13:18] katmoon commented on #4945
Hi @annybs @antboiko

This is indeed a bug in price indexer. It is logged as `MAGETWO-53130` internally and planned for 2.2 release.

@annybs do you have a cron job setup to run every minute? The issue should be fixed after cron runs as far as I understand.
http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

Thanks,
Kateryna.

[2016-06-16 13:21] annybs commented on #4945
@katmoon I created PR #5053 with a fix for this bug. We do have cron jobs enabled, but it's not a cron problem - the price collection query itself is broken, as I detailed above.

[2016-06-16 13:23] anton-huz commented on #2925
https://github.com/magento/magento2/issues/2563#issuecomment-161390609

Not a bug.
cc @almarchenko

[2016-06-16 13:23] #2925 closed, assigned to guz-anton

[2016-06-16 13:24] radhagobinda opened #5061 "magento 2 product import section(General system exception happened)"
## It always shows "General system exception happened"

Additional data: SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'min_qty' cannot be null, query was: INSERT INTO `cataloginventory_stock_item` (`manage_stock`,`use_config_manage_stock`,`qty`,`min_qty`,`use_config_min_qty`,`min_sale_qty`,`use_config_min_sale_qty`,`max_sale_qty`,`use_config_max_sale_qty`,`is_qty_decimal`,`backorde

[2016-06-16 13:26] southerncomputer commented on #4962
PHP-FPM will cache existence of files with default settings but Magento Production reccomends disabling this feature. I suggest restarting php-fpm any time you muck with those directories, have you done php bin/magento setup:di:compile and setup:static-content:deploy after you have rm -rf var/di var/generation var/view_preprocessed and everything in pub/static except .htaccess? Also have you disab

[2016-06-16 13:27] alena-marchenko commented on #5027
Hi @jason-vivid

We've created MAGETWO-54464 internal ticket regarding this issue.
Thank you.

[2016-06-16 13:31] southerncomputer commented on #622
https://github.com/Smile-SA/elasticsuite/tree/feature_magento-2.1-upgrade

https://github.com/Smile-SA/elasticsuite

Smile SA has always produced quality open-source Elasticsearch for magento1 and magento2 now along with their virtual categories and integrated search feedback system.

[2016-06-16 13:38] katmoon commented on #4528
@srinivasanithin

Sorry that it took me too long to reply. We were very busy with testing to prepare release 2.1.

Yes, you can remove any attribute by drag-n-drop back to Unassigned attributes. If it does not work, try to move it up and down over the list until you see a horizontal line.

I've created a new attribute while creating a configurable product, but cannot reproduce the issue.
Are there

[2016-06-16 13:57] kandrejevs opened #5062 "data-migration-tool converts utf8 characters to `?`"
when migrating data from magento 1 to magento 2, some utf characters are converted to `?`

example:

can't view orders because when migrating data from `sales_flat_order_item` to `sales_order_item` table, `product_options` column contains serialized data. In my case product name contains character `č`, after migration `s:34:"Nohavičky HP25 ružovočierna S/M"` becomes `s:34:"Nohavi?ky HP25 ružovo?ie

[2016-06-16 14:18] southerncomputer commented on #4962
I suggest disabling MERGE Javascript files and Minify Javascript files as well to ensure you are using the static-content bundle(0..5).js - I believe the error is due to php-fpm path caching conflict - using the bundle0..5.js will ensure they are deployed in production mode statically rather than dynamically via web processes which can step on themselves with php path/file_validation caching!

[2016-06-16 14:25] sjavalv commented on #3083
Same, but i can't see prefix on checkout at all.

[2016-06-16 14:36] thills03 commented on #4170
It is likely a temporary solution, but currently I have a block in my module loading a phtml file with this post request on the layout cms_index_index.xml and cms_page_view.xml and although a bit slow, it seems to help resolve the issue. I do have a lot of other code working in the background, but this snippet seems to function to refresh the minicart without having to refresh the page.

`require(

[2016-06-16 14:42] mslabko commented on #4527
Hi @karanbhomiagit , @srinivasanithin
This issue already fixed in develop branch and will be available in 2.1 release.
For find out the release date, please, follow up marketing updates.

Please, try to update your code base and if you still have any issues reopen this one.

[2016-06-16 14:42] #4527 closed, assigned to misha-kotov

[2016-06-16 14:46] chelevich commented on #4962
MERGE and Minify are disabled. I have restarted PHP-FPM, removed subfolders from pub/static. With no luck, the same JS error while saving a product. I use nginx and php-fpm 7.0.6 with Zend Opcache enabled. Magento cache is disabled.
I disabled opcache for php-fpm in its php.ini, but that did not help as well.

[2016-06-16 15:00] jason-vivid commented on #5027
Thanks

Jason

[2016-06-16 15:22] tkacheva commented on #3951
PR with bugfixing is merged. Closing the issue. Reopen if needed.

[2016-06-16 15:22] #3951 closed, assigned to tkacheva

[2016-06-16 15:27] mslabko commented on #5062
Hi @kandrejevs ,
Please use https://github.com/magento/code-migration repository for issues relate to migration from M1 to M2

[2016-06-16 15:34] johanDev19 opened #5063 "Interface 'Magento\Framework\Setup\InstallDataInterface' not found"
[code]

[2016-06-16 15:38] tkacheva commented on #4846
@andidhouse
Compare products is not accessible on mobile screen resolution.

[2016-06-16 15:39] #4846 closed, assigned to tkacheva

[2016-06-16 15:51] southerncomputer commented on #4962
can you post a screenshot of your firefox developer mode -> Network showing the scripts being loaded?

[2016-06-16 15:57] cpartica commented on #4945
MAGETWO-53130 and MAGETWO-54320 both relate to the same problem and while they were not included in 2.1 they will be in the 2.1.1 release, so we are actually working on it but we need time for princing testing and do some performance tests also

What basically happens is that the product collection loads the price from EAV rather from the index, creating a discrepancy between price and min-max,
Th

[2016-06-16 15:57] orlangur commented on #5059
Why this update is needed in core? I don't see `removeCookie` used anywhere. Are there any bugs you observe with existing version?

As I can see from https://github.com/carhartl/jquery-cookie/releases, this plugin is abandoned since April 2014, so, I would rather upgrade to a newer library version which does not even require `jQuery` anymore.

But, again, what would be the value of such update for

[2016-06-16 16:06] tkacheva commented on #4440
@gayankt  I can't reproduce the issue. Edit product has swatches in place.
![edit_configurable](https://cloud.githubusercontent.com/assets/5603216/16123906/553a9f88-33f5-11e6-8986-236ae723c4ad.png)

Reopen if still has this issue

[2016-06-16 16:06] #4440 closed, assigned to nobody

[2016-06-16 16:06] minhluan259 commented on #5059
I don't want to use an external library. I want use an existing library in magento, but jquery cookie is too old. Can you tell me what's the newer library you want use?

[2016-06-16 16:07] bh-ref commented on #5002
Hi @mslabko
We use the Magento 2.0.7 installation from the .tar.gz archive at https://www.magentocommerce.com/download

I upgraded using the instructions listed under section "Upgrade using the command line" at http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC2CE.html which is essentially:

[code]

The 2.0.7 .tar.gz archive is placing the Magento files under the vendor direct

[2016-06-16 16:09] tkacheva commented on #1573
@khoatruongbc , @crtsl
Surcharge is in the scop of our promotion enhancements backlog. Follow the announcements of magento roadmap updates.

[2016-06-16 16:12] bh-ref commented on #5002
[code]

did not help either

[2016-06-16 16:12] tkacheva commented on #4520
Closing the ticket as the question seems answered. Reopen if needed.

[2016-06-16 16:12] #4520 closed, assigned to tkacheva

[2016-06-16 16:18] tkacheva commented on #1335
we will look in the scope of MAGETWO-54474

[2016-06-16 16:20] NadiyaS commented on #4895
thank you for reporting this.

[2016-06-16 16:34] FreederFree commented on #1619
I've got the same issue! The Problem is as follows: I have two less files in my `<vendor>/<theme>/web/css` directory, one called `_style.less` and one calles `_variables.less`.
The `_style.less` file imports the `_variables.less` file. If I run `grunt exec` it creates a symlink of the `_variables.less` but a real file of `_style.less` in the `pub/static` folder. So whenever I change the `_variable

[2016-06-16 16:36] tkacheva commented on #1896
Internal ticket for improving dev experience MAGETWO-54478

[2016-06-16 16:46] tkacheva commented on #571
@piotrekkaminski  Added both tickets to DX backlog.

[2016-06-16 16:53] tkacheva commented on #3918
Coupon enhancements are in the promotions backlog.  MAGETWO-51967

[2016-06-16 17:01] teokolo commented on #3865
Same problem here.
Since I cannot preview newsletter, I'm just wondering if newsletter are sent out as expected.

[2016-06-16 17:08] vphat28 commented on #5021
I found that we can't use long name :( try that

[2016-06-16 17:08] tkacheva commented on #2422
@minhluan259 We are working on replacing WYSIWYG with more modern solution that supports html 5. Stay tuned. MAGETWO-36659

[2016-06-16 17:13] minhluan259 commented on #2422
Awesome, Thank you.

[2016-06-16 17:19] tkacheva commented on #1068
Bug reported MAGETWO-54480

[2016-06-16 17:26] kgvconsulting commented on #3865
@teokolo - No they are not notting is emailed, it is Magento system issue, my personal opinion based on the last 10 months experience with different Magento versions, If you want all to work, just choose one version, install it and never more upgrade or do changes, the Magento upgrades does not include the old versions in full and you always will have issues with one or other component, It is just

[2016-06-16 17:32] tkacheva commented on #2190
Clear priority for promos is in promotion enhancements backlog -  MAGETWO-36565

[2016-06-16 17:36] adifucan commented on #4920
Hi @mstumpf818 I double checked your issue on our end I could not reproduce it. I checked it on Magento 2.0.6 CE & also on Magento 2.0.6. EE

Page is saved correctly with following content `from time-to-time (collectively, "Conditions")` as you can see on screen shot attached below.

Issue was test on following environment:
PHP 5.6.15
Apache 2.4.10
MySQL 5.6.25
Firefox 46.0.1 & Chrome Version 51.0

[2016-06-16 17:37] tkacheva commented on #1663
@eug123 please look into it MAGETWO-54481

[2016-06-16 17:39] tkacheva commented on #223
@antboiko look into it please MAGETWO-32658

[2016-06-16 17:44] tkacheva commented on #1433
@vernard Review rating is not commonly used in Magento thus in off by default. Do you have issues enabling it?

[2016-06-16 17:49] tkacheva commented on #1594
Admin Panel is not optimized for mobile for now. We do have plans to make Admin touch ready MAGETWO-39801

[2016-06-16 18:08] pboisvert commented on #1594
Is this a mobile use case or a touch use case? re you editing product attributes via a smart phone or tablet in a mobile context or is this a touch enabled laptop (or large tablet) context?

[2016-06-16 18:14] pboisvert commented on #3375
@mbrinton01 do we have this captured in the backlog?

[2016-06-16 18:37] mbrinton01 commented on #3375
@karanbhomiagit we have a shipping method in that API under:

[code]

Does this work for you?

[2016-06-16 19:23] vernard commented on #1433
This might have ben an issue on the beta. I just checked on current version and everything works fine. It is enabled now and works fine by default.

Closing issue.

[2016-06-16 19:23] #1433 closed

[2016-06-16 20:04] pioneerathletics opened #5064 "Dynamic Tier Pricing for Configurable Products"
## **Steps to reproduce**
1. Choose a configurable product.
2. Select one visual swatch color.
3. Then select another visual swatch color with a separate tier pricing structure.
## **Expected result**
1. The tier pricing and price will dynamically change based on the color attribute’s pricing.
## **Actual result**
1. The price changes dynamically, but tier pricing does not change.
2. This was func

[2016-06-16 20:33] ruby10 opened #5065 "Issue with setting fields in payload for POST "/v1/invoices" api"
Hi there,
I have a query regarding following Magento2 API
POST "V1/invoices"
with payload
{
        "entity": {
            "base_discount_tax_compensation_amount": null,
            "base_shipping_discount_tax_compensation_amnt": null,
            "discount_tax_compensation_amount": null,
            "order_id": 58,
            "shipping_discount_tax_compensation_amount": 0,
            "total_qt

[2016-06-16 21:03] mbrinton01 commented on #3727
@maityutpal your XML seems to validate without errors on some online XML validation tools.  Have you set the `Content-Type` of your request?

[2016-06-16 21:19] m0zziter commented on #4755
I am seeing the exact same symptoms and we're also using Braintree and a similar-ish deploy script. Typically what I see is the Public Key and Private Key are blank (as @peec mentioned) but there's still a green checkmark next to it in the list of payment methods.

Although we are now running PHP 7.0.3 and Magento 2.0.7 I experienced this issue on PHP 5.6 and all other versions of Magento 2.

[2016-06-16 21:54] fooman commented on #4749
I am guessing this is not happening RC3 with even more direct usage of the object manager - https://github.com/magento/magento2/commit/8e58508aed31beede5f10fc6a2f030f3796ccc52#diff-8f628aca091b03b13df23d961bdded9fR83

https://github.com/magento/magento2/commit/583eedaa85966ef13142c284c9e113feffcd4ece

[2016-06-16 23:01] FoxtrotOscar2 commented on #4331
This issue apparently still exists in 2.0.7.

[2016-06-16 23:53] samtay opened #5067 "Custom option values do not save correctly"
Certain permutations of product custom options are impossible to save. For example,
1. First save a product with a custom option dropdown of two values with differing fields:
   ![2016-06-16-191853_1331x521_scrot](https://cloud.githubusercontent.com/assets/7246591/16136423/3f48cd00-33f8-11e6-9c17-1d03f569e40c.png)
2. Now try to save the second value to be identical to the first, like so:
   ![2016

[2016-06-17 00:03] samtay commented on #4703
Bump. I don't think core team realizes this is a rather large oversight which makes the entire webapi for EAV entities close to useless. Should be a high priority.

[2016-06-17 01:04] ricardojle commented on #4220
I have the same problem.
The best way to simulate the problem:
- change the config -> Settings / Sales / Checkout / After Adding a Product Redirect to Shopping Cart = yes
- delete the browser cache
- add item to my cart
- click proceed to checkout

The problem occurs only once , that is, on the first visit . Then it works normally.

[2016-06-17 01:05] ricardojle commented on #4589
I have the same problem.
The best way to simulate the problem:

[code]

The problem occurs only once , that is, on the first visit . Then it works normally.

[2016-06-17 01:15] ricardojle commented on #4872
I have the same problem.
The best way to simulate the problem:

[code]

The problem occurs only once , that is, on the first visit . Then it works normally.

[2016-06-17 02:30] nntoan commented on #1691
I don't think so, phone number is required by default because it is the basic e-commerce or commerce workflow. How do the seller contact to buyer without any phone number?
This is also an avoid-abuse system, of course if the man who placed an order without any phone number, it is obviously abuse order and should be ignored.

[2016-06-17 02:52] tigerx7 commented on #1691
I would have to disagree that someone placing an order without a phone number is obviously a fraudulent order and that there's no other way to contact a customer but by phone. A clear example would be in the industry that we're in which is adult products and where discretion is valued very highly. Not everyone wants to provide a phone number because they don't want to run the risk of getting calle

[2016-06-17 03:43] nntoan opened #5068 "Layered navigation showing attribute of zero quantity configurable product"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add new configurable product with size or color
3. Associate product with size for eg 40 have 0 quantity and not invisible status
4. Set Catalog > Inventory > Showing Out of Stock product to "No"
## Expected result
1. Layered navigation not showing that associated product in product listing page
## Actual result
1. Layered navigati