[2016-01-27 15:04] davidalger commented on #3161
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-27 15:04] #3161 closed, assigned to nobody

[2016-01-27 15:11] davidalger commented on #3154
@joebusby Thanks for reporting, definitely sounds like a bug. Would you mind sharing your PHP version, MySql version, version of Magento (2.0.0 or 2.0.1 at this point), and installation method used when installing the application to help the Magento team successfully reproduce the bug?

[2016-01-27 15:20] shiftedreality commented on #2960
@Vincentguo1990 tnank you for reporting.

Internal ticket MAGETWO-48451 was created to investigate this issue

[2016-01-27 15:30] mazhalai commented on #3086
@MichielTG can you check your var folder for presence of files that begin with `.` any indication of error? Also try running your crons manually. Do you get any errors?

[2016-01-27 15:41] jasperzeinstra commented on #2705
I was also struggling with the purge request. In the end I solved my problem by connecting to port `6081`. So my `env.php` contains this `http_cache_hosts`:

[code]

[2016-01-27 15:47] gwillem commented on #2705
@jasperzeinstra then you are just lucky that Varnish does not choke on the syntax error, but the behaviour is undefined (flush all or nothing). The real fix is figuring out why the URI could go missing, as @alankent pointed out.

[2016-01-27 15:47] crashtimer commented on #2104
it's not a replacement, just an additional tool. Maybe someone can find it helpful. During the process of development of my project I will improve the gulpfile. It was just a quick solution how to speed up the compilation and other processes

[2016-01-27 16:39] ghost commented on #2504
The fix for me was to update cgi.fix_pathinfo to 1 inside of my php.ini file.

[2016-01-27 17:00] tigerx7 commented on #3150
I don't know if "feature request" is really the right label for this. It's leaning more towards a bug than anything. Based on layered navigation, we're already updating the thumbnail in the catalog page. The customer is seeing the new thumbnail image with a price right below it. With the ability to add to cart straight from the catalog page, a customer will easily assume that that's the price of t

[2016-01-27 17:01] eddielau commented on #3081
@simkea Do you find a file named .update_cronjob_status in the var directory?

[2016-01-27 17:10] adgodfrey opened #3163 "."

[2016-01-27 17:19] sdzhepa commented on #3102
@rkhoury82  We have created an internal ticket `MAGETWO-48459` to fix the problem. Thank you for reporting

[2016-01-27 17:32] dsikkema-magento commented on #2984
If I understand correctly, yes, there is some issue with PHP 7 and encrypted configuration. But in this particular case, I believe the value that's loaded from config is supposed to by encrypted. After it's loaded, using something like the method `getConfigData` you mentioned, it will need to be decrypted by the code that's requesting the data, using `\Magento\Framework\Encryption\EncryptorInterfa

[2016-01-27 17:51] MomotenkoNatalia commented on #3158
https://github.com/magento/magento2/issues/2896

[2016-01-27 17:53] pushontom opened #3164 "404 errors after install and deploy"
![image](https://cloud.githubusercontent.com/assets/6860461/12622775/dd6eda40-c51e-11e5-8664-4ca1b5f8a01a.png)

Has anyone come across this? I've tried all sorts to resolve it and I'm getting nowhere fast.

[2016-01-27 18:11] dmitrii-fediuk commented on #3154
Looks like the same problem: https://community.magento.com/t5/Admin-Configuration-Questions/Magento-2-Create-Product-Configurations/m-p/26456

[2016-01-27 18:19] jason-vivid opened #3165 "System Upgrade fails via Setup Wizard - /vendor/magento/magento2-base/app/design/frontend/Magento does not exist."
System upgrade fails due to folder missing folder.

Tail end of the log below (full log here:  http://pastebin.com/69hkmnpR)

[code]

Adding the folder results in Setup Wizard replying:  "Sorry, we can't take that action right now."

[2016-01-27 18:21] pushontom commented on #2411
I managed to resolve the requirejs-config.js 404 by changing the ownership of the parent folder of my web root.

`chown -R www-data:www-data web_root_parent`

and then deleting `pub/static`, `pub/media` and flushing all cache in the magento admin

[2016-01-27 18:28] MonteShaffer commented on #3023
Google's recaptcha is another solution, with a RESTFUL API
https://www.google.com/recaptcha/intro/index.html
https://github.com/google/recaptcha
https://developers.google.com/recaptcha/docs/start?hl=en

[2016-01-27 18:31] ghost opened #3166 "Update to CE 2.0.1 breaks Web Setup Wizard"
Hi,

I have an install of Magento using composer.

I used the web setup wizard to apply update from 2 to 2.0.1.  It stalled at
`./composer.json has been updated`

In an attempt to resolve the issue I updated via terminal.

[code]

Now the footer says I'm on version 2.0.1 but when I go to the web setup wizard page it still shows the stalled page.

![upgrade_bug](https://cloud.githubusercontent.com/

[2016-01-27 18:52] astorm opened #3167 "Feature Request: Command Line Installer Should have Interactive Prompts"
Running the command line installer with no arguments results in the following error.  Most other PHP applications with command line installers will prompt the user with Symfony's interactive command prompts for missing arguments.  It would be nice if Magento 2 did the same

[code]

Steps to Reproduce
1. `cd bin`
2. `./magento setup:install`

Expected Behavior: Magento CLI prompts users to enter mi

[2016-01-27 18:52] tomislavsantek commented on #2816
@moderncodes,

as you have pointed out, in  STORE > Configuration > [GENERAL] Design > HTML Head > Miscellaneous Scripts, there is

`<link  rel="stylesheet" type="text/css"  media="all" href="{{MEDIA_URL}}styles.css" />`

I've looked in the pub/media directory, and  styles.css was there.

Although this is not an actual solution, I've bypassed the problem by editing the configuration to include cor

[2016-01-27 18:55] mswaidan commented on #2996
@cs221313 thanks, I was having the same problem, and my theme was also type = 1. changing to 0 allowed my default.xml to work.

[2016-01-27 19:26] mazhalai commented on #3164
@pushontom what [mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) are you in? if you are in production mode, did you run `bin/magento setup:static-content:deploy`? Also, what web server are you using apache or nginx?

[2016-01-27 19:39] mazhalai commented on #3166
@Jedwards-Eric can you please check your `var` folder for any files with `update_status.txt` or files beginning with `.`

[2016-01-27 19:47] ghost commented on #3166
/var$ ls -la
total 68
drwxrwx--- 10 magento_user www-data 4096 Jan 26 17:56 .
drwxrwx--- 12 magento_user www-data 4096 Jan 26 14:02 ..
drwxrwx---  2 magento_user www-data 4096 Jan 27 00:00 backups
drwxrwx--- 19 magento_user www-data 4096 Jan 26 17:56 cache
drwxrwxrwx  3 magento_user www-data 4096 Dec 30 12:29 composer_home
-rw-rw-rw-  1 magento_user www-data 1851 Jan 22 17:07 composer.json
drwxrwx

[2016-01-27 19:52] mazhalai commented on #3166
@Jedwards-Eric is there anything in `.update_queue.json`

[2016-01-27 19:54] ghost commented on #3166
`.update_queue.json` is empty.

[2016-01-27 19:58] mazhalai commented on #3166
It is quite possible that update was successful, but since the `.update_in_progress.flag` could not be cleared due to restricted permissions, system upgrade is stuck. Can you please update permissions for all files within `var` to be writeable by the web user as well as cron user?

Since you started update via web, and finished it on terminal, _and_ upgrade did apply, I think it is safe to remove

[2016-01-27 20:20] tinogo opened #3168 "z-index issue with notification messages in Magento 2 backend"
When opening the notification messages from Magento and currently displaying the catalog products grid of the Magento 2 Backend, the notifications wrapper and the "Add product" split-button are overlapping because of the same z-indexes (400 in this case).

![bildschirmfoto am 2016-01-27 um 21 15 33](https://cloud.githubusercontent.com/assets/3515498/12626913/70c4c586-c53b-11e5-884f-3414d9081452.pn

[2016-01-27 20:29] mazhalai commented on #3165
@jason-vivid how did you deploy initially? via zip from magento.com or via composer create-project?

[2016-01-27 20:30] jason-vivid commented on #3165
@mazhalai composer create-project

[2016-01-27 20:32] #3163 closed, assigned to nobody

[2016-01-27 20:34] rhoerr commented on #2984
@dsikkema I don't think that's entirely correct. Normally the backend model runs seamlessly somewhere in the process, such that getConfigData from a payment model returns the unencrypted value in and of itself.

It has always worked in this fashion for me, on 1.x and 2.x, except for on one environment running PHP7 as noted earlier. I'm not sure the exact nature of it, but clearly there's some disc

[2016-01-27 20:38] mazhalai commented on #3160
@teuma86 This is similar to #2471 can you please try on the develop branch?

[2016-01-27 21:04] ghost commented on #3166
Removing `update_in_progress.flag` resolved the issue.  I will double check user permissions.  Thank you for your help.

[2016-01-27 21:04] #3166 closed, assigned to nobody

[2016-01-27 21:04] rudik99 commented on #3102
Awesome, thanks for your help

[2016-01-27 21:55] stefandoorn opened #3169 "Session permission error on Magento CLI install"
The output below comes from a puppet run. I'm trying to install Magento using the setup:install CLI functionality.

It makes sense that the user running it does not have write rights on that folder shown below (/var/lib/php/session), that's actually also true.

But, my first impression is: why is the CLI actually using sessions? Besides that on the beginning of the setup:install call, file permiss

[2016-01-27 22:19] mazhalai commented on #3169
@stefandoorn what version of magento2?

[2016-01-27 22:22] keithbentrup opened #3170 "jsTree jquery plugin refers to style.css instead of style.min.css"
When deploying with minified js and css, jsTree still refers to the unminified version of its stylesheet in its javascript. However, the minified version is not deployed to pub/static. This can be probably be resolved by configuring the correct minified style url for jsTree which does exist in pub/static.

See the failing url in the javascript console of the screenshot included below.

![image](ht

[2016-01-27 22:24] stefandoorn commented on #3169
@mazhalai 2.0.1 CE. Downloaded through the create-project command tutorial. Installing it in an puphpet environment atm.

[2016-01-27 22:29] Igloczek commented on #2104
Foundation of mine Gulp based tools are ready too: https://github.com/SnowdogApps/magento2-frontools

I tried to focus on flexibility.
- Every task is in separated file, automatically loaded, name of file is task name.
- All `gulp-*` packages from `package.json` are automatically loaded and available globally via `plugins` variable. For non-gulp plugins you have to create manual mapping in `gulpfi

[2016-01-27 22:56] ghost commented on #3086
Thank you for your reply. I have run al my cron jobs and double checked the /var folder for any errors. etc

However I can't find any errors and the installer is still stuck at ' ./composer.json has been updated'.

[2016-01-27 23:12] fooman commented on #2412
@clwells thanks for chiming in here. One thing which I think further complicates things is that M2 also writes php files under /var/generation. So having

would write those as 644 but would then contradict

right?

[2016-01-27 23:19] clwells commented on #2412
It would contradict it yes, but it would not complicate anything.  While ideally all PHP scripts remain 0600 things would work just fine were PHP scripts 0644. The side effect here would be that the webservers (and other services) could read the PHP.  For the sake of having M2 do something workable for all I'd take the 0644 PHP scripts in /var/generation if it meant we got "fixed" permissions othe

[2016-01-27 23:44] ghost opened #3171 "Moving multiple categories bug"
There exist an problem with moving categories.

For example:
Categories A,B and C
When I move category A to B  --> Succes
When moving A from B to C (without refreshing) --> Categorie doesn't move
etc.

Backtrace: loader_old.js:

_onAjaxSend: function (e, jqxhr, settings) {
            if (settings && settings.showLoader) {
                var ctx = this._getJqueryObj(settings.loaderContext);

[2016-01-27 23:46] dmitrii-fediuk opened #3172 "Need an ability to modify an UI component XML declaration by an extension like we can do with other XML declarations"
An example of the UI component XML declaration:

https://github.com/magento/magento2/blob/c58d2d/app/code/Magento/Ui/view/base/ui_component/etc/definition.xml#L182-L188

[2016-01-28 02:51] mrkhoa99 commented on #3168
@tinogo Which's version Magento you used? Your browser shown any errors?

[2016-01-28 04:45] joebusby commented on #3154
The problems seems very consistent with large product generation, although sometimes (trying different things) the system would just hang forever with no error.  The rest of the things I did before I ran into this problem worked well.  Here is what I have:
OpenVZ instance on debian with 3GB of ram and 6 cores
Magento Version 2.0.1
PhP version:  PHP Version 5.6.17-0+deb8u1
MySQL version 5.6.28
inst

[2016-01-28 07:22] zolotokrylin opened #3173 "'Readiness Check' fail."
**Magento is out of the box. Clean, without any sample data.**

Can not pass the readiness check, because of the: **"We found conflicting component dependencies."**.
And the troubleshooting doesn't give any hint, what components have conflict.

![screen shot 2016-01-28 at 15 17 38](https://cloud.githubusercontent.com/assets/1125014/12637805/f08e3d8c-c5d2-11e5-8e6f-8f502f3ef7a1.png)

What should I

[2016-01-28 07:22] bulbulagarwal896 commented on #1616
Hello, i am still having same issue.

[2016-01-28 07:26] teuma86 commented on #3160
This is not possible on our current build project.  Is there a commit I can review and make the changes?

[2016-01-28 08:21] giangitman opened #3174 "Write stream file"
Hi,

I don't see the function streamOpen in Magento\Framework\Filesystem\Io\File, in Varien_Io_File magento1 have this function. Is that correct?

[2016-01-28 09:03] mc388 commented on #3169
We have a similar issue.

[2016-01-28 09:33] tinogo commented on #3168
I'm currently using revision c0fc5b252187fce67c4415ab697fd2d1df678993 from the github repository.
The Browser doesn't show any errors.
The Mage 2.0.0 release version does work flawlessly in this regard, if this helps?!

[2016-01-28 09:56] tkn98 opened #3176 "What is the rationale to have a BlockInterface when AbstractBlock is required (in Fw\View ?)"
What is the rationale to have a _Magento\Framework\View\Element\BlockInterface_ when  _Magento\Framework\View\Element\AbstractBlock_ is required?

E.g. in [Magento\Framework\View\Layout\Generator\Block::getBlockInstance()](https://github.com/magento/magento2/blob/077584c99ebb8007cad176c3b9a0144a05c259cd/lib/internal/Magento/Framework/View/Layout/Generator/Block.php#L261):

[code]

It makes no sens

[2016-01-28 10:06] cgrechcw opened #3177 "Magento CE 2.0.1 Admin list issue"
Was running Magento 2.0.0 CE on Nginx and PHP 7.0 without any apparent issues apart from the failing indexing due to memory leak which was a known issue. I've just tried to upgrade to 2.0.1 but the Update wizard failed which is also a known issue. So i tried a fresh installation of 2.0.1 CE and managed to install successfully. I can also confirm that the indexing problem is resolved. However, when

[2016-01-28 10:12] jahved opened #3178 "Magento MTF -- Functional Testing"
Hi Everyone ,

I have been able to run the MTF test on Magento 1.14.2.1 but now I want to know how to create a customized Test using MTF from start.
Example:
Login as admin
create a product
Login an Front End

In Magento 1.14.2.1 we don't have php generatefixturexml.php. So to create and Update the fixture we need to do that manually.

Attached herein is what I have understood of how MTF Architect

[2016-01-28 10:21] MomotenkoNatalia commented on #2835
@dfediuk  Thanks for reporting this issue! Internal ticket MAGETWO-48492

[2016-01-28 10:25] tkn98 commented on #3174
Opening and writing to a stream is possible via `Magento\Framework\Filesystem\Driver`. Just saying, it's perhaps things have moved a little.

[2016-01-28 11:03] convenient commented on #1863
Just found the same issue in Magento 1, wish we could backport these kind of things a bit easier!

[2016-01-28 11:10] dsingleton47 commented on #2104
@alankent No I wasn't saying you should have picked SCSS, I don't want to get into a debate over which pre-processor is best that's not my intention at all. I was simply trying to highlight by choosing a pre-processor and then layering on a custom fallback system I felt Magento was locking in front-end developers to a specific technology.

My preference for Magento is it not be aware of pre-proces

[2016-01-28 11:25] mrkhoa99 commented on #3168
I'm using Mage version 2.0.0 and also checked on latest version 2.0.1. They are ok. You try to install latest version 2.0.1 from https://www.magentocommerce.com/download

[2016-01-28 11:44] tinogo commented on #3168
To clarify this bug report:
I'm using the current Magento 2 developer version, checked out from your GIT-Repository ("bleeding edge").
I just wanted to make sure, that there aren't getting any new bug introduced with the new features. (My mentioned bug exists only in the current Magento 2 Github develop-branch)

[2016-01-28 12:04] vil11 commented on #2613
@ArniXXX
Taras, thanks for reporting the issue!
Internal ticket **MAGETWO-48511**.

Dmytro Vilchynskyi, M2 QA engineer.

[2016-01-28 12:18] ghost commented on #3173
If you're attempting System Upgrade, I strongly advise you to wait. There are known upgrade issues that should be resolved very soon. It's simpler to leave your system at 2.0.0 until the resolution is announced.

If you're trying Component Manager, the issue appears to be with your cron setup. When I run the readiness check, the message is:

[code]

It appears as if your cron scripts are running f

[2016-01-28 12:28] ran2345 commented on #2966
I have the same problem when trying to save pages in my admin.
i get this error

I don't change any value. I just press "save" in content-->pages-->edit .

[2016-01-28 12:37] cescopag commented on #2786
Same problem here with Magento 2.0.1 EE

[2016-01-28 12:57] vesan-83 commented on #2888
The issue is fixed,
Thanks

[2016-01-28 13:19] thaiphan commented on #3135
Okay cool, so I figured out what you guys were trying to do. It has something to do with [not turning on web server rewrites](https://github.com/magento/magento2/blob/2.0.1/app/code/Magento/Store/Model/Store.php#L696)

[2016-01-28 13:19] #3135 closed, assigned to nobody

[2016-01-28 14:12] bbraspenning opened #3180 "Google analytics results in REST services error"
Google analytics results in REST services error

When having google analytics configured
    configuration/sales/google analyitics
        enabled yes
        account nr  99999
        enable content experiments yes

using the following url rest/V1/categories
with the following message
    {
   "category":{
      "path":"1",
      "parent_id":2,
      "name":"DISCOVERY",
      "is_active":"1",

[2016-01-28 14:25] ghost commented on #3178
Devdocs is aware of this request and we're tracking it via e-mail at the moment.

[2016-01-28 14:29] niallstorieL commented on #1471
Found the issue (Or at least a possible cause).

Let's say you have two products, one with the ID ABC/123/456, and the other ABC/123-456.
Now let's also assume you're using the product ID for the URL, so the two above appended with '.html' or whatnot.

When they get inserted into the database, all instances of '/' are converted to '-'.
Meaning they both come out as ABC-123-456.html, and since you

[2016-01-28 15:16] cgrechcw commented on #2891
I can confirm that clearing browser cache (chrome) - or incognito mode- solves the issue in my case

[2016-01-28 15:17] sevos1984 commented on #3162
Internal ticket created MAGETWO-48527

[2016-01-28 15:22] cgrechcw commented on #3177
A fresh install of 2.0.0 and problem is gone, re-installed 2.0.1 and the same issue occurs. I believe this is an issue related to just 2.0.1 on PHP7 maybe?

[2016-01-28 15:35] ishakhsuvarov commented on #2933
Closing the ticket, as the fix for this issue had been delivered to the `develop` branch.
Please feel free to reopen if there are any additional questions.

[2016-01-28 15:35] #2933 closed, assigned to ishakhsuvarov

[2016-01-28 15:39] ishakhsuvarov commented on #2920
@erikhansen Fix for this issue had been delivered to the `develop` branch with the commit [c5c922a6714237ce2f6897ffc99782e71185acca](https://github.com/magento/magento2/commit/c5c922a6714237ce2f6897ffc99782e71185acca).
Closing this issue for now. Please feel free to reopen if you think something is wrong.

[2016-01-28 15:39] #2920 closed, assigned to ishakhsuvarov

[2016-01-28 15:48] alvaroadair opened #3181 "Magento stops installing at 66% - Web wizard"
Have been trying to install this for almost a week now :-(  - Any help appreciated

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':

Module 'Magento_AdvancedPricingImportExport':

Module 'Magento_Directory':

Module 'Magento_Theme':

Module 'M

[2016-01-28 15:55] dev-mah opened #3182 "Heroku"
Hello There,

Could you please tell me how to deploy on heroku without getting auth error?

Thanks
Mahmoud

[2016-01-28 16:04] lookinglavish opened #3183 "Importing Products Not Working"
After I check my data product data ( with no errors) I click on the import button to add/update. The screen blurs and the rotator hangs up with no response. No products are loaded. Does anyone have an idea on how to fix this?

Thanks,

Rob

[2016-01-28 16:04] mazhalai commented on #3181
@alvaroadair looks like you had a previous installation and hence db was not clean. Please clean your db (drop database and re-create) and try again. Alternatively, you can run `bin/magento setup:uninstall` which will  and try again.

[2016-01-28 16:07] lookinglavish commented on #3111
Yes, thank you!

[2016-01-28 16:24] alankent commented on #3182
That does not sound like a Magento question but rather a Heroku question. We don't provide support for specific platforms here - we cannot be experts on them all. Also this area is for bug reports, not support requests. You might like to try this question in the Magento forums instead.

[2016-01-28 16:24] #3182 closed, assigned to nobody

[2016-01-28 16:25] alvaroadair opened #3184 "After installing Magento 2"
Trying to Launch magento admin takes me to 404 error page

[2016-01-28 16:34] alankent commented on #3184
Given the number of successful installs, my advice is to run through and check your environmental settings, base URL, etc.  Also check the logs in var/log for additional error messages. But certainly most people are not hitting this problem, indicating it is more likely to be something about your environment.

[2016-01-28 16:35] eddielau commented on #2369
Please see screenshot.
![screen shot 2016-01-28 at 10 34 40 am](https://cloud.githubusercontent.com/assets/5254230/12651104/d966615c-c5aa-11e5-8a2a-36b7b655bdcb.png)

[2016-01-28 16:37] mazhalai commented on #2369
@dfediuk  Please have a look at screenshot provided by @eddielau Closing since this is non-reproducible.

[2016-01-28 16:37] #2369 closed

[2016-01-28 16:40] mazhalai commented on #3184
@alvaroadair do you have mod_rewrite turned on?

[2016-01-28 16:56] OLTC-fperrin opened #3185 "OAuth token request returns HTTP/1.1 401 Unauthorized"
Hello,

I was trying to setup a OAuth integration but I can't seem to get past this problem :/
I was following a book's tutorial with sources for the mini-OAuth client from this repository:

[code]

I then tried using the OAuth client from this repository instead:

[code]

Whatever I do I get the following error:

[code]

From what I gather from googling it, it might have something to do with the

[2016-01-28 17:00] lookinglavish opened #3186 "USPS to Canada is not working"
When using a shipping address in Canada (USPS Priority Mail International), the result comes back with $0.00. However, if I switch to another international address (Italy), it works fine.

Thanks!

[2016-01-28 17:11] alvaroadair commented on #3184
mod_rewrite is turned on - will check log - thanks

[2016-01-28 17:16] alankent commented on #2104
@dsingleton47 Thanks. Got it (and generally agree).

[2016-01-28 17:19] alankent commented on #2104
New blog post inspired by much of this thread and summarizing current throughts: "Gulp et al in Magento 2" http://alankent.me/2016/01/27/gulp-et-al-in-magento-2/ - basically showing how to use Gulp with M2 today, and some possible changes in extension developer advice to keep this separation easier. Seeking feedback/confirmation on approach, and people trying out Gulp using the approach to make su

[2016-01-28 17:38] #3111 closed, assigned to nobody

[2016-01-28 18:00] iandfox commented on #3056
Had an even more fun thing happen when I tried to upgrade - got the same problem as in the original issue, but when i went to go rollback, `bin/magento` had been deleted, and so I am a little stuck. Good times :-/

Edit: This may have been an issue with the server I am on, and not necessarily Magento. I fixed things by running composer manually

[2016-01-28 18:44] jsakars commented on #3133
Turns out [this](https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogRule/Model/Rule.php#L282-L306) holds the answer. Conditions are not applied - instead each model(product in this case) is validated against conditions like so `$this->getConditions()->validate($product);`

[2016-01-28 18:44] #3133 closed, assigned to nobody

[2016-01-28 19:32] zamboni084 commented on #2989
Nexcess.net installed it for me.

[2016-01-28 19:41] mazhalai commented on #3173
@hommedeplage is there anything in `var/log/system.log`? What about server and php logs?

[2016-01-28 20:13] buskamuza commented on #3038
Hi @devdesco-ceo ,

just wanted to inform you that we're discussing this question. It is obviously, an important one.
Unfortunately, right now it's impossible to skip a theme.

[2016-01-28 21:21] magenx commented on #2175
i guess reset password is much faster and easier to do.... no need to create new user, etc...
could  you please add this feature. something like OP proposed:
`bin/magento admin:user:update --admin-user="dave" --admin-password="admin123"`

[2016-01-28 21:24] vancoz commented on #3056
Hi @barbanet @fperrin87
the issue is localized and fixed, please follow this instructions http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html and let us know in case of issues.

@SharpenedSpoon unfortunately this is Magento issue, sorry about that. Looks like you have CLI access, so please follow this instruction http://devdocs.magento.com/guides/v2.0/release-notes/tech

[2016-01-28 22:37] mazhalai commented on #3184
@alvaroadair also check `AllowOverride` directive(if you are using apache)

[2016-01-28 22:38] mazhalai commented on #3181
@alvaroadair was this issue resolved?

[2016-01-28 23:00] giappv commented on #3123
After installing magento successfully, it has not installed static files so it takes time for a lot of 404 not found error.
I had to run this command

`php bin/magento setup:static-content:deploy`

so we will have the admin & frontend theme installed correctly.

[2016-01-28 23:06] dmitrii-fediuk opened #3188 "A logical and resource consumption issue in the \Magento\Ui\Component\Form\Element\Wysiwyg::__construct() method: the editorElement object in unnecessary set as property but in never used (and can not be used) outside the single method"
https://mage2.pro/t/389

[2016-01-28 23:19] ginytaylor commented on #2316
Hi,
I have the same issues in Mac OS when I run "grunt exec"
Fatal error: Class 'Locale' not found in /Applications/AMPPS/www/magento2/vendor/magento/framework/Locale/Bundle/DataBundle.php on line 64

Who have help me? Please.
Thanks

[2016-01-29 02:16] martijnhovinga commented on #2933
Thank you.

On 2016-01-28 18:36, Ievgen Shakhsuvarov wrote:

[2016-01-29 03:47] zolotokrylin commented on #3173
@xcomSteveJohnson thank you for advice, but I think this is not the reason.
I have the 2.0.1v from the zip file.
I changed the cron frequency to lower, as no need to do it every minute on the dev machine. Before it was every minute cron job, but the same issue was appearing.

@mazhalai this is the **system.log**:
`
[2016-01-29 03:30:24] main.CRITICAL: Broken reference: the 'notification.messages'

[2016-01-29 05:17] korzynski commented on #2412
Is there any workaround at this time that will get Magento 2.0 working in a shared hosting environment?

[2016-01-29 05:42] geetanshrsoni commented on #2316
Hi,

Kindly install nodejs version older than 4.2.5.
Set environment variable PATH of php.exe.
Copy your php.ini from conf folder to bin/php7.0.0 folder
than run static content deploy command/
It should work.

Thanks

[2016-01-29 06:37] zolotokrylin commented on #3173
Fixed it by executing the following actions: http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html#resolution2

[2016-01-29 06:37] #3173 closed, assigned to nobody

[2016-01-29 08:36] OLTC-fperrin commented on #3056
@vancoz Thank you! They update went just fine using both Composer and the Setup Wizard. :)

[2016-01-29 08:42] davefarthing commented on #3127
Any Suggestions?

[2016-01-29 08:44] quienti opened #3190 "Error custom theme after updating Magento 2.0.1 to 2.0.2"
`a:4:{i:0;s:45:"Required parameter 'theme_dir' was not passed";i:1;s:11079:"#0 /home/magento2/www/vendor/magento/framework/View/Design/Fallback/Rule/Theme.php(69): Magento\Framework\View\Design\Fallback\Rule\Simple->getPatternDirs(Array)
#1 /home/magento2/www/vendor/magento/framework/View/Design/FileResolution/Fallback/Resolver/Simple.php(93): Magento\Framework\View\Design\Fallback\Rule\Theme->get

[2016-01-29 08:53] brankoajzele opened #3191 "Security issues during auto-upgrade"
During auto-upgrade from admin when upgrade starts and shows the

[code]

if at this point you go to storefront, you get to see things like https://db.tt/JkHlhi3P and this https://db.tt/pWDHbEgS.
In this case I was doing Magento 2.0.1 to 2.0.2 upgrade, but the same thing happened to me when I was doing 2.0.0 to 2.0.1 upgrade.
This lasts for around 30-40 seconds, during which you can see folder lis

[2016-01-29 09:24] ishakhsuvarov commented on #2090
@dfediuk Closing this ticket as fix was delivered to the `develop` branch.

[2016-01-29 09:24] #2090 closed

[2016-01-29 09:28] OLTC-fperrin commented on #3185
Here are some more info on the request:

[code]

These values were extracted from `/vendor/lusitanian/oauth/src/OAuth/Common/Http/Client/StreamClient::retrieveResponse()` method.

Still unauthorized... :/

[code]

[2016-01-29 09:51] ran2345 opened #3192 "can not save cms pages"
I get this error when trying to save cms pages

{i:0;s:227:"Warning: preg_match(): Compilation failed: range out of order in character class at offset 6 in /home/42690-33687.cloudwaysapps.com/vpnrbrjdek/public_html/vendor/magento/zendframework1/library/Zend/Locale/Format.php on line 527";i:1;s:8368:"#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'preg_match(): C...', '/home

[2016-01-29 09:54] IceReaper opened #3193 "Magento 2 filesystem permissions and freezing upgrading workarounds"
I just wanted to share some shellscripts which keep saving my life regarding some problems with permissions and upgrading.

First of all the upgrade process starts with upgrading the composer.json, and then dies after purging some stuff in the vendor folder. resulting in the updater not doing anything at this point.
The workaround for this is to do the composer update manualy and remove the lock f

[2016-01-29 10:05] pivulic opened #3194 "No ACL access to Marketing » URL Rewrites"
## Problem

It's not possible to create a User Role that has access to:  Admin » Marketing » SEO & Search » URL Rewrites

See http://www.vaimo.com/snaps/pablo.ivulic/m2-no-url-rewrites-acl.png
## How to recreate
1. Navigate to: System » Permissions » User Roles » Add New Role
2. Try and give access to "URL Rewrites"
## Expected result

It should be possible to create a User Role and give access to

[2016-01-29 10:34] lilmuckers opened #3195 "Error on production deployment - "PHP Fatal error: Cannot instantiate interface""
Hi there

I have automated deployment of my magento 2 CE site using deploybot, and it's throwing the following error on the deployment:

 `PHP Fatal error:  Cannot instantiate interface: Magento\Framework\Indexer\ConfigInterface`

magento 2 is being deployed using git and composer - Where the only files in the git repo are the base stripped down directories:

[code]

but _basically_ it's the follo

[2016-01-29 11:28] alvaroadair commented on #3181
Indeed, a database was imported before, deleted it and re-installed - Worked a treat, Thanks for your help

[2016-01-29 11:28] #3181 closed, assigned to nobody

[2016-01-29 11:30] ifekaj opened #3196 "CAPTCHA not showing on storefront Magento 2.0.2"
CAPTCHA field and image doesn't show on storefront after I enable them in admin. If I go to, for example, "Forgot password" page it just shows the email field. After I submit the form I get "Incorrect CAPTCHA" message. Please note that this happens on admin CAPTCHA as well. I also had this problem on Magento 2.0.0.
PHP version is 5.6.17, Apache 2.4.6 on Centos 7.2

[2016-01-29 11:31] simkea commented on #3073
You have probably at all times and constantly clean the directory /var/. After each action with the Magento tool.
That's too immature for me personally. :( thx

[2016-01-29 11:31] #3073 closed, assigned to nobody

[2016-01-29 11:39] ghost opened #3197 "Cannot Export/Import max_characters attribute within Custom Options"
Hi

While Exporting products **custom_options** column with in the export file doesn't contain **max_characters** attribute for custom options. Also the Import module doesn't recognize **max_character** key within the custom options  and import product data

[2016-01-29 11:54] swnsma opened #3198 "Magento 2 production mode problems"
Hi,
I tried to search deeper in code generation and saw some strange Magento behavior.
Firstly I used magento-from-package installation. I change Mage Mode to production via command `bin/magento deply:mode:set production`
For code generation, Magento used `setup:di:compile-multi-tenant` commands.
After that I used to debug Magento\Framework\App\ObjectManagerFactory::create method, and found strang

[2016-01-29 12:23] sergei-sss opened #3199 "Header text for edit pages in admin area is not working"
For example, I can't see header text
`("Edit Page '%1'")`
for Edit CMS page (It must be in `<h3>` tag).
In the file:
/app/code/Magento/Cms/Block/Adminhtml/Page/Edit.php
function "getHeaderText" does't run.

Magento 2.0.1 + Sample data

[2016-01-29 13:54] miguelbalparda opened #3200 "DB rollback didn't complete"
I tried to upgrade from 2.0.0 to 2.0.1 and it didn't worked. Then I tried to rollback the DB from a backup I did while trying to upgrade and the site seems to be working now but I keep seeing

![screenshot - 01292016 - 10 53 46 am](https://cloud.githubusercontent.com/assets/3997682/12677282/9a4813b8-c676-11e5-9f17-106a7f0026ed.png)

[2016-01-29 13:55] marvincaspar opened #3201 "Failed opening required '/var/www/html/app/autoload.php'"
After installing the newest magento version 2.0.2 I get an error while running the installation script.

[code]

It is strange because `compoer install` downloads all modules but the mapping from the `magento-base` module doesn't work. In the `app` only `bootstrap.php`, `etc/vendor_path.php` and `design/adminhtml/Magento/...` are copied. Files like `autoload.php`, `functions.php` are not available

[2016-01-29 14:15] alena-marchenko commented on #2211
Hi,

We recommend you to use app/code/Magento/Payment/Gateway/\* library for creating new payment method, since code mentioned by you is an old implementation and can be removed in future releases. Please feel free using [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) for further technical questions.

[2016-01-29 14:15] #2211 closed

[2016-01-29 14:19] mazhalai commented on #3190
@quienti can you please confirm if you followed steps specified [here](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html)?

[2016-01-29 14:27] mazhalai commented on #3191
This is by nature how composer upgrade works. The contents are removed from vendor folder and then replaced. During this time the code used to check for maintenance mode is being replaced as well. We have created ticket MAGETWO-48562 to figure out a workaround.

[2016-01-29 14:32] mazhalai commented on #3200
Anything in `var/system.log`?

[2016-01-29 14:41] miguelbalparda commented on #3200
No, nothing useful in the system.log.
I found this from that date in the exception.log

[2016-01-29 14:45] mazhalai commented on #3200
Thank you. We created MAGETWO-48564 to investigate and fix.

[2016-01-29 14:48] miguelbalparda commented on #3200
Thank you. To add some more info, the upgrade failed because of the missing .gitignore files.

[2016-01-29 14:49] stasleo opened #3202 "Full Page Cache: 'cachable=false' attribute does not work for Product Page"
There is no way to insert some dynamic content to Product Page. Only via AJAX :(. Using AJAX is not an option, becuase block will be displayed on product page with a delay, and this behavior is not OK from UX point of view.

According to our research, 'cachable=false' attribute works properly for all pages except product page.
##

Best regards
Product Manager at aheadWorks

[2016-01-29 14:51] mazhalai commented on #3200
The missing .gitignore files issue has been addressed [here](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html) and [here](http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/gitignore.html).

[2016-01-29 15:16] OLTC-fperrin commented on #3200
@miguelbalparda Hi, I posted about the missing .gitignore files [here](https://github.com/magento/magento2/issues/3056) which has been addressed in the new patch has mentioned by @mazhalai

In the previous post I briefly mentioned about the rollback failing and didn't follow up; I had the exact same issue as yours, everything rolled back but whenever I accessed the setup page again I was redirecte

[2016-01-29 15:17] LennardWesterveld commented on #427
Is this normal that you have nesting above 200 with fresh install? Or is there something wrong with my code?

[2016-01-29 15:23] miguelbalparda commented on #3200
@fperrin87 I don't see that file inside var. @mazhalai are you aware of any other flags I can remove to update to 2.0.2 in this scenario?

[2016-01-29 15:26] miguelbalparda commented on #3200
I take that back, I just found the file in question. After removing the file I was able to see the update screen again.

[2016-01-29 15:30] mazhalai commented on #427
@LennardWesterveld please do not comment on closed issues. This thread is over 1.5 years old. [See this](http://devdocs.magento.com/guides/v2.0/install-gde/trouble/tshoot_install-issues.html#known-devbeta-xdebug)

[2016-01-29 15:46] iamgalba commented on #2504
@magenx sure thing, but I saw a lot of people out there who face a problem just like me. It will be nice if you add commented cgi.fix_pathinfo variable and description to nginx.conf.sample for such situations

[2016-01-29 15:51] alena-marchenko commented on #2993
Hi,

Magento creates an order in "Pending Payment" status before sending request to Authorize.net and then order's status is changed to "Processing" or "Canceled" depending on response from Authorize.net.  In case of error received from Authorize.net customer will see general error only and admin user can find detailed gateway error description.
Please take a look at our [Issue reporting guideline

[2016-01-29 15:51] #2993 closed, assigned to alena-marchenko

[2016-01-29 15:59] sdzhepa commented on #2991
@degaray Thank you for reporting this issue. We have created an internal ticket `MAGETWO-48570` to fix the problem.

[2016-01-29 16:24] gordonknoppe commented on #2705
Internal issue MDVA-56.

[2016-01-29 16:43] mazhalai commented on #3108
@ktomk Thank you, we have created MAGETWO-48580 to investigate and fix.

[2016-01-29 16:44] mazhalai commented on #2523
Linking to MAGETWO-48580 for internal tracking.

[2016-01-29 17:16] cvpportraits commented on #2547
So, if we really like Luma and just want to customize it a bit, is there a way of making a custom theme that replicates luma instead of inheriting from it?

[2016-01-29 17:57] alankent commented on #2547
Copy can cp the directory tree of the theme and start hacking. Obviously you wont get updates if we patch Luma - that might be a good or bad thing depending on your needs. Just change the theme name strings in files like composer.json, registration.php, and theme.xml in your copy. (Look for Magento/luma combinations and change to your vendor/theme name.)

[2016-01-29 18:10] cvpportraits commented on #2547
thank you. should I get that from github or from the folder vendor > magento > theme-frontend-luma folder of my install? :)

[2016-01-29 18:21] dmitrii-fediuk opened #3203 "«Stores» → «Configuration» → «Advanced» → «System» backend screen in broken now in the «develop» branch"
Submenu is shifted to the left and almost invisible now:
![magento2-05](https://cloud.githubusercontent.com/assets/83204/12684166/4e26dbd8-c6ce-11e5-82b5-b2a44c2fffa6.png)

[2016-01-29 19:23] raybogman commented on #3089
Same issue in M2 2.0.2 tested on Mac Chrome

[2016-01-29 19:30] cvpportraits commented on #2547
thank you for the reply! I've been having a rough time out on stackexchange getting help! Interesting, so I cloned the luma theme to its own folder, changed those things, added a custom css file and a few js files to the default head blocks xml, and cleared everything, loaded it, and when I do... the theme works, but does not load my custom css or js files... very weird. (I did it 4 times separate

[2016-01-29 20:40] jibrandlr opened #3204 "Is it possible to use data migration tool version 2.0.0 on Magento 2.0.1 ?"
I haven't receive an answer in the [data migration tool](https://github.com/magento/data-migration-tool-ce/issues/57) section, so I ask here.

The data migration guide says:

"Note: The versions of both the migration tool and the Magento 2 code must be identical (for example, 2.0.0). To find the version of either package, open composer.json and find the value of "version"."

However, there is no d

[2016-01-29 21:45] chris-brabender opened #3206 "Data migration tool - killed"
I am attempting to migrate from 1.7.0.2 to EE2.0.2 using the data migration tool.

Executing this command: php bin/magento migrate:data -r /path-to/vendor/magento/data-migration-tool-ee/etc/ce-to-ee/1.7.0.2/config.xml

**Results in this error:**

`[INFO][mode: data][stage: data migration][step: Map Step]: started
85% [=======================>----] Remaining Time: 7 mins Killed`

It ran for around

[2016-01-29 21:45] malaiselvan opened #3207 "2.0.1 to 2.0.2 - Plain Upgrade failed with 0 customization - We found conflicting component dependencies"
I installed Magento 2.0.1 with 0 customization.  Setup the cronjobs every 1 minute, configured the magento connect details.  Tried to upgrade to 2.0.2 and hit the below problem.

![image](https://cloud.githubusercontent.com/assets/5956639/12688954/9d6f1c92-c6ff-11e5-890b-71655028abdd.png)

![image](https://cloud.githubusercontent.com/assets/5956639/12688927/7437fa88-c6ff-11e5-9643-878b0efc42b0.png

[2016-01-29 22:09] devdesco-ceo commented on #3038
Please make it an option in bin/magento console script.

[2016-01-29 22:10] DavideLitrico commented on #3021
I have the same problem

[2016-01-29 22:16] devdesco-ceo opened #3208 "FedEx SOAP Client API UTF-8 Encoding Issue. 500 Internal Server Error!!!"
I am setting up shipping origin as Canadian merchant, setup FedEx shipping rates calculations with origin address as Canadian one.
When doing Rates calculations in Checkout stage, rates are shown for US and overseas destinations but not for Canadian destinations whatsoever.

Please look into the issue.

I am running 2.0.1 but had the same issue with 2.0.0

[2016-01-29 22:45] SantyagoSeaman commented on #3206
Hello!
Can you run 'dmesg | grep php' and provide results?

[2016-01-29 23:08] cvpportraits commented on #2547
I'm happy to make a new thread if I need to, didn't really mean to hijack this one :) I'm just trying to clone Luma, and make some css overrides - but every time I try, it will not load my custom CSS or JS from the default head blocks... it's really weird... I'm really hoping for some help here, I am an experienced web developer, but obviously new to Mage2, and I just can't seem to get this thing

[2016-01-29 23:33] redicer opened #3209 "In Layered Navigation not show attributes with "Filterable (with Results)""
### Preconditions

1. I am installing Magento 2.0.2. No customization. No sampledata. Apache 2.4, PHP 5.6.

### Steps to reproduce

1. Create test category. Is Anchor - Yes.
2. Create test product.
3. I look my test category on the storefront. Layered navigation filter with 'Price' is not displayed.
4. Returns to the Admin page, and add to the my product test attribute 'Color'. (Filterable (with r

[2016-01-29 23:35] alankent commented on #3038
(If you want a short term hack, you can delete the Luma theme directory under 'vendor' so Magento does not see it any more. Make sure you run the CLI to uninstall the theme as well so it disappears from database etc. http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-theme-uninstall.html. Yes, we need a better solution, but it may remove some immediate pain.)

[2016-01-30 03:25] diegorkable opened #3210 "Installation is incomplete"
Nevermind

[2016-01-30 04:17] #3210 closed, assigned to nobody

[2016-01-30 06:39] ktomk commented on #3201
Can you please run

[code]

and provide the output?

And have you checked if file and directory access rights are properly set-up and you run composer with the correct user? (I assume you installed magento via the command-line, correct?)

[2016-01-30 07:02] ktomk commented on #3191
The first screen-shot you've got shows that you have set-up Magento for development, not production.
Your web-server points to the project root and not the web root (pub folder). I highlighted this a little:

![unspecified](https://cloud.githubusercontent.com/assets/352517/12694249/3c55ee0e-c727-11e5-9c5d-cb41ac7f9ff8.jpeg)

Can you please configure your web-server to point to the pub folder inste

[2016-01-30 08:45] DevBinnooh opened #3211 "bin/magento i18n:collect-phrases -m String Eval Error"
After installing magento2 and executing command:
bin/magento i18n:collect-phrases -m

It will generate error:
PHP Parse error:  syntax error, unexpected 'Gateway' (T_STRING), expecting ';' in /path/setup/src/Magento/Setup/Module/I18n/Dictionary/Phrase.php(276) : eval()'d code on line 1
Parse error: syntax error, unexpected 'Gateway' (T_STRING), expecting ';' in /path/setup/src/Magento/Setup/Module

[2016-01-30 09:04] ktomk commented on #3185
Please read the message:

Please provide the according entries form your web-server logfiles (access and error logs normally) that are related to your request. They contain more information.

[2016-01-30 09:11] ktomk commented on #3188
There is also the flaw that the [_constructor does real work_](http://misko.hevery.com/code-reviewers-guide/flaw-constructor-does-real-work/) ([ctor src](https://github.com/magento/magento2/blob/c58d2d/app/code/Magento/Ui/Component/Form/Element/Wysiwyg.php#L25)).

The dependency injection layer is lacking a feature to provide all needed dependencies in this case -or- the type's design is flawed. W

[2016-01-30 09:14] dmitrii-fediuk opened #3213 "A logical issue in the \Magento\Ui\Component\AbstractComponent::__construct() method: the UI components are registered before their initialization"
https://mage2.pro/t/391

[2016-01-30 09:42] ktomk commented on #3159
@Karl456: Then please post the objection in that issue (and yes you did). No need to open a new issue only because you already have one and it got closed, did already comment on the close. That's only draining resources. Thanks.

[2016-01-30 09:48] ktomk commented on #3150
@tigerx7: Indeed this sounds like somebody did let it pass unnoticed which would qualify as a bug as not even intended. Should it make even easier to full-fill the feature request, as the functionality is generally in.an over-loo

From a visitors perspective, I'm totally with you. For many users the price is one of the most noticed and inspected information available on a product page.

[2016-01-30 09:52] Karl456 commented on #3159
If you read KAndy's comment, it clearly states:

[code]

So I'm assuming they don't check replies to closed issues, hence my opening of a new issue.

[2016-01-30 09:57] ktomk commented on #3159
Ouch, my fault. I should not conclude by my own habits on others. If they ask for it, sure.

[2016-01-30 10:00] ktomk commented on #3145
Are you importing over HTTP or via CLI? Just asking because I can't imagine someone importing 80k products via HTTP at all but the high CPU use on HTTPD suggests that.

[2016-01-30 10:02] Karl456 commented on #3159
Not to worry :)

[2016-01-30 12:38] ktomk commented on #3167
@astorm: As an alternative may I suggest to make use of the magerun command for the setup? It is the `install` command and has the functionality you're looking for:

[code]

it starts the interaction then asking which version you'd like to install (if no arguments provided) first:

![magerun2-install](https://cloud.githubusercontent.com/assets/352517/12695683/0c5c1c58-c756-11e5-8b68-61379a044fa7.p

[2016-01-30 13:03] diegorkable opened #3214 "Deploying Static Files. Could not parse theme static file"
Hey guys,

I am trying to deploy static files in my magento website that I just installed (2.0.2), I use the command:

And it gives me the following error:

`Could not parse theme static file 'C:/Program Files (x86)/Zend/Apache2/htdocs/ma
gento202/vendor/magento/theme-frontend-blank/web/css/email-fonts.less'>`

I found the file and it's there... what shall I do?

[2016-01-30 14:00] BlackIkeEagle opened #3215 "phpunit --filter is not working"
example:

vendor/bin/phpunit --configuration=dev/tests/unit/phpunit.xml.dist --filter Magento\Setup\Test\Unit\Console\Command\CronRunCommandTest
PHPUnit 4.1.0 by Sebastian Bergmann.

Configuration read from /var/www/website/dev/tests/unit/phpunit.xml.dist

Time: 30.33 seconds, Memory: 530.00Mb

No tests executed!

[2016-01-30 14:04] kayintveen commented on #2104
@alankent i just did a little work on it myself. although its just processing less and having livereload on it. www.microdesign.nl/blog/magento2-en-gulp-in-plaats-van-grunt/ (just forget the dutch explanation.

[2016-01-30 14:14] malaiselvan commented on #3207
Update: I completely deleted the 2.0.1 and installed a fresh 2.0.2...

[2016-01-30 14:15] #3207 closed, assigned to nobody

[2016-01-30 14:26] malaiselvan opened #3216 "Clarify error message in system upgrade tool when no updates are available"
I understand 2.0.2 is the latest.  I am very much frustrated with the error `Sorry, we can't take that action right now.` and I spent a hell amount of hours in 2.0.0 and 2.0.1.  Finally decided to install a fresh 2.0.2 and remigrate the data from 1.9.1.0.

I got my beta website running on 2.0.2.  Just for curiosity I tried the System Upgrade and I was expecting the system will say that 'No updates

[2016-01-30 16:32] schnappenberger commented on #3154
Have you tried to increase your max_input_vars Php Setting?

[2016-01-30 17:02] robfico opened #3217 "2.0.1 CSV Export hangs until timeout"
One of our clients has a 2.0.1 store that has 8,585 products in it (all imported through CSV imports). Everything looks fine with the data, no errors, nothing in debug. When we go to export the products, the pages hangs, and CPU usage is pegged. MySQL queries stop after one minute, but CPU runs until timeout is reached (we upped timeout to one hour and still times out). Once timeout is reached, ex

[2016-01-30 17:18] robfico commented on #3217
An strace output of the php process stops with the following last few lines and then hangs until timeout:

[code]

[2016-01-30 19:06] jsakars commented on #3216
I noticed it as well after fresh 2.0.2 install. It seems that Magento2 in core is not quite stable yet.

[2016-01-30 19:07] joebusby commented on #3154
Thanks schnappenberger,  that did it.  I changed max_input_vars to 5000 and it worked!  Problem Solved.  Maybe make that part of the installation instructions for people that have a lot of attributes?

[2016-01-30 20:15] cvpportraits opened #3220 "Inherit from Luma - Functionality issues."
Hi, first I wanted to state that I was told luma wasn't meant to be used in production... but... it is a great starting point and would love to use it as a base, so...

new Magento2 installation, went through a whole series of learning where I could not figure out why my default head blocks xml wasn't working to load my custom css/js files... as per the new theme in the documentation.

After re-go

[2016-01-30 20:45] alankent commented on #3220
I checked with the PM's more recently, and they said aim is now _to_ allow people to inherit from Luma. We might need to clean up a few things over time to make this "nicer" (including some new features in Magento itself), but it is a goal. So sorry for any misinformation earlier (which could have been from me).

I am waiting for any feedback on a Gulp proposal at http://alankent.me/2016/01/27/gul

[2016-01-30 20:58] cvpportraits commented on #3220
Thank you, I really appreciate your help with this. =]
I am not familiar with Gulp.

Basically I'm willing to try whatever... I will follow directions as specifically as possible.
Magento is obviously complex, I'm really close to having it functioning, the only things I need left is to be able to override some of Luma's CSS, and add a few global JS files.. that, and something like IWD one page che

[2016-01-30 21:50] dmitrii-fediuk opened #3221 "A PHPDoc result type of the \Magento\Ui\Component\AbstractComponent::render() method is wrong"
https://mage2.pro/t/395

[2016-01-30 21:59] rudik99 opened #3222 "Post Migration, no products showing, but layered navigation with qty's"
Fresh install of 2.0.2
Migration of 1.9.2 store using offical tool.

When first migrated the store products showed on frontend via correct categories
Tweaked various settings under STORES > CONFIGURATION (i.e payment modules, carriers, tax settings etc)

Ran:
Reindex
Deploy static content
Cache Clean
Cron Run

Products stopped showing on frontend.

I then deleted all the settings directly from DB

[2016-01-30 22:39] Vinai commented on #3215
instead of using `--filter`, you can just specify the file path to the test (or directory) to run.
I think the problem is that you would have to escape the backslashes.

[2016-01-30 22:58] ideadx commented on #3069
[code]

[2016-01-30 22:58] ideadx commented on #3069
@ark99 @mazhalai

[2016-01-30 23:13] ideadx commented on #3069
url that its trying to access:
/setup/index.php/dependency-check/component-dependency

[2016-01-30 23:16] daim2k5 commented on #2982
@tommy83 so you found your solution and i close the ticket.

[2016-01-30 23:16] #2982 closed, assigned to slavvka

[2016-01-30 23:17] daim2k5 commented on #2954
@pkhutal hopfully its now working for you. If not please feel free to reopen the issue

[2016-01-30 23:17] #2954 closed, assigned to nobody

[2016-01-30 23:20] daim2k5 commented on #2942
@getrengcle i close the issue because you didn't answered. If you have still the problem please reopen the issue.

[2016-01-30 23:20] #2942 closed, assigned to nobody

[2016-01-30 23:22] daim2k5 commented on #2919
@chat2vignesh did you use a clean m2 installation? Do you get this error in your own extension?

[2016-01-30 23:25] daim2k5 commented on #2881
@raybogman i can't reproduce the 302 redirect loop. Can you maybe test it with the new release?

[2016-01-30 23:26] daim2k5 commented on #2855
@OgreMHDW i close the ticket for now because you didn't answered @katmoon . If you have still the problem please reopen the issue.

[2016-01-30 23:28] daim2k5 commented on #2770
Hi @ant-workaholic do you get still the exception?

[2016-01-30 23:29] daim2k5 commented on #2757
Hi @paliarush any update on this?

[2016-01-30 23:30] #2773 closed, assigned to nobody

[2016-01-30 23:32] daim2k5 commented on #2648
@christopherdarling can you try again install m2 with sample data?

[2016-01-30 23:52] ovdev1 opened #3223 "Table Rate - Incorrect State Code for Queensland Australia"
Just noticed when trying to load table rates that the directory_country_region table contains the wrong state code for Queensland Australia, should be QLD not QSD

[2016-01-31 04:45] alankent commented on #3220
When you do view source, do you see any of the markup? Is it present but not working? Or is it not present in the returned HTML?

Note: JS files should be added via RequireJS (I have not actually tried this myself yet). http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js-resources.html

Also, for the font, if the markup is present but not working, could it be something like c

[2016-01-31 08:31] redinn opened #3224 "main.CRITICAL: Broken reference errors in system.log in Magento 2.0.2"
Hi Team,

Magento 2.0.2 has been successfully installed using zip archive.
Everything looks good for now in FO and BO, but I see some errors in system log:

[2016-01-31 08:14:14] main.CRITICAL: Broken reference: the 'catalog.compare.sidebar' element cannot be added as child to 'sidebar.additional', because the latter doesn't exist [] []
[2016-01-31 08:14:14] main.CRITICAL: Broken reference: the 's

[2016-01-31 09:08] raybogman opened #3225 "Theme not registering with Varnish/Nginx setup"
New theme not registering in M2 (tested on 2.0.0, 2.0.1, 2.0.2) EE

Server setup Nginx/Varnish (default magento config setup) (using magento nginx.conf)

When switching back to apache everything works

After removing varnish from the setup and only using Nginx the probleem still occurred

So there is maybe a issue in the nginx config

[2016-01-31 13:38] benmarks commented on #2574
Team, this will be resolved in MAGETWO-47017, correct?

[2016-01-31 17:26] dmitrii-fediuk opened #3226 "The «Enable Page» checkbox on the backend «Content» → «Pages» → <Page> screen has a wrong vertical alignment"
![magento2-01](https://cloud.githubusercontent.com/assets/83204/12703628/db8920ae-c858-11e5-8d25-09e9ae1ee9d1.png)

[2016-01-31 20:55] moderncodes commented on #2657
How can I start varnish with -p feature=+esi_ignore_https?

[2016-01-31 21:59] dmitrii-fediuk opened #3227 "A PHPDoc result type of the \Magento\Framework\View\Element\UiComponent\ContentType\Html::render() method is wrong"
https://mage2.pro/t/393

[2016-01-31 23:08] cvpportraits commented on #3220
I didn't see the markup when it was not working, no... but now I have since managed to get it working, inheriting from luma, with the script and css called in default_head_blocks.xml.

the only thing now I am working through is the order of that, it appears that the jquery script from magento is being loaded async or defer, so that the other jquery script I put in the head is being loaded before i

[2016-02-01 00:34] joebusby opened #3228 "Notice: Undefined index: (stuff)/Validator/Plugin.php on line 115 on large configuration product lists"
I am trying to create over 360 configuration products from a configurable product with 24 colors and 15 lengths.   Every thing goes well (it works) if I don't add images to the "colors" attribute for the files.  If I have images added (about 3KB in size each), things work fine until it's time to hit "save" and I consistently get:

Notice: Undefined index: configurable_attribute in /var/www/html/ma

[2016-02-01 01:51] jason-vivid opened #3229 "error resetting sample data using sampledata:reset"
This is pretty straightforward.  I ran the command below and it produced the following errors.

The test site was installed using the composer create-project command and the sample data using magento sampledata:deploy.

`magento sampledata:reset`

Result:

[code]

[2016-02-01 02:48] davidalger commented on #3228
@joebusby You may be able to workaround it by disabling E_NOTICES in the error reporting levels configured on your PHP stack, but it is a bug, as PHP Notices should not happen regardless of what you're doing. ;)

[2016-02-01 02:53] davidalger commented on #3154
@joebusby I'm glad you found a workaround to the issue, but I'm re-opening because I believe this is something which still needs addressing. The sql error should not really be allowed to occur. The max_input_vars is something which has affected assigning attribute option values in the admin in the past as well. My opinion is that the admin should be sending this information in a serialized format

[2016-02-01 02:54] davidalger commented on #3154
Also, thanks for providing the detail of your installation! :)

[2016-02-01 04:10] minhluan259 opened #3230 "Error install Sampledata Magento 2.0.2"
`Module 'Magento_CatalogSampleData':
[ERROR] exception 'ReflectionException' with message 'Class Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Media does not exist' in D:\App\htdocs\magento2\lib\internal\Magento\Framework\Code\Reader\ClassReader.php:29 Stack trace: #0 D:\App\htdocs\magento2\lib\internal\Magento\Framework\Code\Reader\ClassReader.php(29): ReflectionParameter->getClas

[2016-02-01 05:00] hiepnt93 commented on #3216
i having the same issue.

[2016-02-01 06:11] marvincaspar commented on #3201
Yes I installed magento with cli. Here is the output:

[code]

All files are owned by the same user, which is running the composer command

[2016-02-01 07:26] ktomk commented on #3201
Looks like you're installing as the root-user. As you [should](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html#integrator-first-composer-ce)

that would mean your magento file system owner would be root. I hardly doubt that so I assume you did this in error. As that kind of error supersedes your report from severity (IMHO), I'd say must fix the installation user p

[2016-02-01 08:14] quienti commented on #3190
I used this to upgrade magento

[2016-02-01 08:23] marvincaspar commented on #3201
I tried it locally on my mashine with no root user and get the same result with an other user path

[2016-02-01 08:26] ktomk commented on #3201
@mc388: Then it's not the root user.

[2016-02-01 08:28] sergei-sss opened #3231 "Category selector style issue"
If the category property "is_active" is false, in the tree mode of category selector the name will be in hidden style:
https://www.dropbox.com/s/m57klwrboifd8zk/tree.png?dl=0

but in the list mode of category selector the name will be in default style:
https://www.dropbox.com/s/h66ljb8ez3nkij9/list.png?dl=0

[2016-02-01 08:33] marvincaspar commented on #3201
Locally I'm using my dev user. He is also the owner of all files.

[2016-02-01 08:38] kandy commented on #2574
Yes, Ben, will be fixed in MAGETWO-47017.

[2016-02-01 08:40] parekhreena commented on #2574
Thank you team !!

[2016-02-01 09:44] katmoon commented on #3183
Hi Rob,

Are the any errors in the browser console, Magento `var/log` folder or in `error_log'?

Could you
- clear browser cache
- clear Magento cache `rm -rf var/* pub/static/*`
  and recheck if the problem persists?

Thanks, Kateryna.

[2016-02-01 10:35] BlackIkeEagle commented on #3215
the file alone does not work:

[code]

even with configuration it does not work

[code]

I've never had to escape the namespaced stuff with --filter before (just tested it and it also gives me no result)

[2016-02-01 10:39] Vinai commented on #3215
Strange, running the exact same command works file for me:

[code]

Tried on PHP 5.6.16 and PHP 7.0.2
What PHP version are you using?

[2016-02-01 10:41] OLTC-fperrin commented on #3185
Here are the logs related to the request :

access log:

[code]

error log:

[code]

[2016-02-01 10:43] Vinai commented on #3215
Regarding the variant with the `--filter` option, the following works for me:

[code]

If I only use a single backslash or omit the quotes I also get "No tests executed".

[2016-02-01 10:43] BlackIkeEagle commented on #3215
the above test was run on a ubuntu trusty box

[code]

[2016-02-01 10:44] Vinai commented on #3215
Can you try on a different PHP version?

[2016-02-01 10:45] BlackIkeEagle commented on #3215
Yes, but not immediatly

[2016-02-01 10:47] diegorkable commented on #3214
help?

[2016-02-01 10:49] Vinai commented on #3215
Also works on

[code]

[2016-02-01 10:50] Vinai commented on #3215
If I recall correctly, xdebug `2.2.3` had some issues. Maybe upgrading or disabling it will help.

[2016-02-01 10:55] BlackIkeEagle commented on #3215
@Vinai thanks for the support. I'll check with my php 7.0.2 box and try later with an up2date php5 in my trusty box.

[2016-02-01 11:02] tkn98 opened #3232 "Current Config Scope shows as "disabled" / "non-selectable" while it is active"
When in the adminhtml area in Stores > Configuration the scope drop-down menu does not show which one is currently selected.

![image](https://cloud.githubusercontent.com/assets/10513307/12715605/78c245d0-c8db-11e5-8996-5e68db48ad26.png)

[2016-02-01 11:19] scholtz opened #3233 "Arbitrary PHP code execution in M2.0.2"
I have looked over file [Phrase.php](https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Module/I18n/Dictionary/Phrase.php) and it seems it allows arbitrary php code execution!

Anyone can exploit it by setting the php into language csv file, and with the execution of command 'php bin/magento i18n:collect-phrases -o "lang.csv" -m .' it will execute.

I have modified a bit the

[2016-02-01 11:27] BlackIkeEagle commented on #3215
Ok confirmed it must be an issue related to the version we are having in ubuntu. with php 7.0.2 I get no more segfault.

thanks

[2016-02-01 11:27] #3215 closed, assigned to nobody

[2016-02-01 11:29] karanbhomiagit commented on #3018
Any ETA on this issue to be fixed?
@NadiyaS

[2016-02-01 11:33] ankursachdeva11 opened #3234 "Rest API with XML response"
I am trying to create custom api using webapi and we need output in custom XML.
When we are trying to return some XML and  hit the rest API url then XML shown as plain text in the <response> .... </response> tags. It is not creating XML in response.

it shows like this :
![image](https://cloud.githubusercontent.com/assets/6079017/12744480/82112a22-c9ba-11e5-8e11-d491f5edf39d.png)

Is there any way

[2016-02-01 12:17] cchamikara commented on #2843
I have the same issue with magento 2 installation downloaded from official archive package

[2016-02-01 12:21] marvincaspar commented on #3201
Started a new installation from scratch and got this message

[code]

[2016-02-01 13:20] joebusby commented on #3154
Okay,

Thanks for the help.  I tried E_NOTICE disable, but could get no
success.

Maybe this will be fixed in the next release.

Joe.

On 2016-01-31 21:54, David Alger wrote:

[2016-02-01 13:32] gokhanayan opened #3236 "Installation is incomplete. Check the console log for errors before trying again."
Hello friends. I knew very little English. I'm having problems mentioned in the Annex picture file. I've seen similar problems living here. But what I did not try the solution. How can you help me?

Meanwhile, I'm using a server installed CentOS. I have no problem installing Magento 1.9.2. But I get this question when I want to install Magento 2.

![hata](https://cloud.githubusercontent.com/assets

[2016-02-01 13:33] alihashir commented on #2942
I am new to magento...and installing it on my local Wamp server... i am last step and installation stops at 65% ...see the following screenshoot and please help me how to fix it...Thanks.
![megento](https://cloud.githubusercontent.com/assets/15688053/12718728/47f88d6a-c912-11e5-8e79-b31cf7579574.PNG)

[2016-02-01 13:34] gokhanayan commented on #3236
In the meantime, I'd like you guidance as to tell one very beginner. Because I'm very new at this.

[2016-02-01 13:46] gokhanayan opened #3237 "System-Setting Menu"
Let you choose which part of the left side of the system settings menu. On the right side of the section that does not display the necessary arrangements. Additional pictured are available.
![hata2](https://cloud.githubusercontent.com/assets/17006175/12719075/82508e52-c8fb-11e5-8d89-e56f8393e001.png)

[2016-02-01 14:01] scholtz commented on #3233
There seems to be very similar arbitrary php execution bug in this file https://github.com/magento/magento2/blob/077584c99ebb8007cad176c3b9a0144a05c259cd/lib/internal/Magento/Framework/Data/Collection/Filesystem.php , but this one needs some products to be listed in the filesystem.. With the filtering the attacker should be able to run php script on server from remote host.

[code]

There does not

[2016-02-01 14:07] mazhalai commented on #3211
@DevBinnooh this has already been fixed in 2.0.1, which branch did you try on?

Since it has been fixed internally, we wont be able to accept your PR. Related internal tickets: MAGETWO-47301 and MAGETWO-48541

[2016-02-01 14:18] mazhalai commented on #3069
@ideadx a couple of update related issues have been fixed in 2.0.2, have you had a chance to look at this [tech bulletin](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html)

[2016-02-01 14:22] mazhalai commented on #3224
@redinn do you have the latest develop branch? This issue has been fixed in #1795

[2016-02-01 14:23] mazhalai commented on #3225
@raybogman is this is production mode? May be related to #2797

[2016-02-01 14:28] mazhalai commented on #3230
Did you have have a previous installation? Please clean you var/ directory and try again. Also, how did you deploy? via git, composer create-project or downloaded a zip from magento.com

[2016-02-01 14:29] raybogman commented on #3225
@mazhalai in dev mode, using a clean setup (no caching, no static files in pub)

[2016-02-01 14:29] scholtz commented on #3230
i used this to install sample data on 2.0.2 and it works:
[code]

[2016-02-01 14:31] mazhalai commented on #3216
@malaiselvan @werdlv @vnecoms1 Well this is very much expected since there is no 2.0.3 version of Magento 2 available yet. Please try again when a newer version is available.

[2016-02-01 14:33] mazhalai commented on #3190
@quienti do you still get the same error? Can you try cleaning your var directory and trying again.

[2016-02-01 14:35] mazhalai commented on #3230
@scholtz thanks for the update. closing this issue for now. Please create a new one in case you run into any more issues.

[2016-02-01 14:36] redinn commented on #3224
No, As per confirmation from  #3075  this is working OK in the latest develop branch. But I 'm getting this issue in the latest stable release (2.0.2)

[2016-02-01 14:37] mazhalai commented on #3214
@diegorkable can you turn on developer mode and see if you get a more extensive stack-trace?

[2016-02-01 14:38] scholtz commented on #3230
it is not my issue, i think you should wait for @minhluan259 how he managed to get the error.. :)

[2016-02-01 14:41] mazhalai commented on #2942
@alihashir please do not post on closed issues. This issue is caused by you php `session.save_path` setting in your php.ini file. It is not readable by the apache user. Please create `tmp/` folder and give required permissions, or change the setting to point to another writable folder.

[2016-02-01 14:43] mazhalai commented on #3236
@gokhanayan have you tried changing `max_execution_time` as specified here? http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_70pct.html

[2016-02-01 14:49] mazhalai commented on #3224
@redinn not all fixes present in `develop` branch are in the stable release, since `develop` is still WIP for 2.1.0

[2016-02-01 14:50] mazhalai commented on #3230
@scholtz thanks for pointing that out. i did not pay attention to who posted the reply!

[2016-02-01 15:07] scholtz opened #3238 "Create store view using the command line"
Hi, it would be cool, if someone could setup the shop using the command line. For example to set the other language, someone would need just this code to run on command line:

[code]

I know that setup:store-view: does not exists, so please give to this post label "improvement" or "feature request"

Thanks

[2016-02-01 15:15] scholtz commented on #3062
the same issue applies for 2.0.2

we have full translation of Slovak language for version 2.0.2 including the magento develop branch, and we still see many non translated texts

the main question in this issue is however, do we need to create our custom module to extract texts to be translated (products, static pages) from our clients, or is magento going to make some general way how to translate

[2016-02-01 15:27] kandy commented on #3209
@redicer Thanks for reporting, definitely sounds like a bug. We have created ticket MAGETWO-48639 to investigate.

[2016-02-01 15:28] redinn commented on #3224
OK, Thanks, Hence closing this issue.

[2016-02-01 15:28] #3224 closed, assigned to nobody

[2016-02-01 15:44] katmoon commented on #3231
Hi @sergei-sss ,

Thank you for reporting the issue!
Internal ticket is `MAGETWO-48646`

[2016-02-01 15:46] minhluan259 commented on #3230
I use git for clone
git clone https://github.com/magento/magento2.git
php bin/magento sampledata:deploy
Then I use setup wizard, when the process is 88%, the error message appears.

Update: I have downloaded a zip from magento.com and successfully installed.

[2016-02-01 15:53] katmoon commented on #3197
Hi @rohit47rohit ,

Thanks for reporting the issue!
Internal ticket `MAGETWO-48647` has been created.

Thanks,
Kateryna.

[2016-02-01 15:56] mazhalai commented on #3230
@minhluan259 for git clone, did you get `develop` branches for both magento2 as well as sample-data?

[2016-02-01 15:56] diegorkable commented on #3214
@mazhalai Still the same...

That's what I did:

[2016-02-01 16:02] quienti commented on #3190
It's work !
I had remove my custom theme, removed var directory adnd and pub/static
After, i Installed my custom theme and deployed pub/static

Thank you

[2016-02-01 16:02] #3190 closed, assigned to nobody

[2016-02-01 16:04] minhluan259 commented on #3230
I use `php bin/magento sampledata:deploy` , `composer update`
and it auto download sampledata v100.0.3

[2016-02-01 16:16] gokhanayan commented on #3236
Unfortunately, the result is still the same. Error continues. It is going to 95% when incomplete.

[2016-02-01 16:16] Deji69 commented on #2969
Also having this problem. Would be nice to see a response on the only fitting Google result...

[2016-02-01 16:24] davidalger commented on #3062
@scholtz It would be great if you could provide some specific examples of texts which the phrase collector is missing, that way someone from the Magento team can attempt to reproduce, and then figure out why the collector is missing it. If it's missing collecting stuff properly passed through the translation system, then it would be a bug, but without details it may be a bit difficult to chase dow

[2016-02-01 16:29] davidalger commented on #3216
This is a bug report due to unclear messaging, not that the update system is not allowing them to update. Sounds legit to me, and it could stand to have copy that's a bit more clear.

[2016-02-01 16:45] robfico commented on #3217
Some additional information if it helps. The store has only simple and configurable products. It did have grouped products in the past, but they were all deleted. Maybe this is what triggers the bug?

[2016-02-01 16:46] robfico commented on #3097
On upgrading from 2.0.1 to 2.0.2 via "composer update" the upgrade process does delete the pub/media/import folder and then re-create it empty. Whatever is in pub/media/import does get deleted.

[2016-02-01 17:10] asemenenko commented on #2904
Hi @tigerx7

DPM allows easier PCI compliance compared to AIM implementation. Can you submit your antivirus software that is blocking the form so we can reproduce the issue?

[2016-02-01 17:23] lookinglavish commented on #3183
No errors in Magento. When I check the file it states that "File is
valid!" and is ready for import. When I click on import that's when I
get the spinning dial that says "please wait...". I did clear my cache
on all levels. It seems once I updated to 2.0.2 I'm getting this issue.

Thanks!

On 2/1/16 4:44 AM, Kateryna Muntianu wrote:

##

Rob Culotta
Administrator
Looking Lavish
Phone: (877)750-733

[2016-02-01 17:25] mazhalai commented on #3216
Thank you for clarifying @davidalger! We have created MAGETWO-48650 to track changes.

[2016-02-01 17:39] ad1rie1 opened #3239 "Error when loading javascript"
Helllo,
I just update to 2.0.2 install but , after upgrade, almost all javascript in client page don' load .

I have an error 404, the load URL is :
http://127.0.0.1:443/index.php/jquery.js Failed to load resource: the server responded with a status of 404 (Not Found)

But on my other install, it load the file in :
http://127.0.0.1:8080/static/frontend/Magento/luma/en_US/jquery.js

One idea becaus

[2016-02-01 17:43] mrkhoa99 commented on #3239
You try to run deploy command: _php bin/magento setup:static-content:deploy_ under root folder

[2016-02-01 18:12] lsmithcom opened #3240 "Missing Content on Checkout Screen"
I just opened an account with Nexcess and they installed Magento 2 on a shared hosting server.  The only changes made so far are through the admin panel, so I have not changed any code.

In testing out the site features I tested the Checkout pages.  When you go to the Checkout and then attempt to sign in via the link, but do not do so successfully and then go to forgot password and then back throu

[2016-02-01 18:39] alihashir opened #3241 "Installation Error Magento at 65%"
@mazhalai  Thanks for your response dear... but i do not know how to create /tmp/ folder and give permissions ... can you please explain it step by step...  Please mam... guide me by steps to make folder and giving permissions....
and also guide me if it need to disable " xdebug " or not...if yes then how to disable it...
Thanks.
![megento](https://cloud.githubusercontent.com/assets/15688053/12727

[2016-02-01 18:49] dnsahoo opened #3242 "Admin Dashboad is not displaying properly"
I am working on Full HD (1920 x 1080) resolution. Following are the atttached screen shot.

![dashboad2](https://cloud.githubusercontent.com/assets/1394129/12727284/4bc95cc8-c942-11e5-951c-40aa5d3659ce.png)
![dashboad1](https://cloud.githubusercontent.com/assets/1394129/12727285/4bcaef48-c942-11e5-9514-b221c620aedf.png)

[2016-02-01 19:06] ghost commented on #3241
How to [disable xdebug](http://stackoverflow.com/questions/8754826/how-to-disable-xdebug)

The context for the other information you requested isn't clear.

[2016-02-01 19:09] ghost commented on #3236
@gokhanayan Sorry to ask a dumb question but did you restart your web server after you made that change?

[2016-02-01 19:10] ghost commented on #3230
If you used git clone, you probably cannot use `magento sampledata:deploy`. Instead, try [this](http://devdocs.magento.com/guides/v2.0/install-gde/install/web/install-web-sample-data-clone.html)

[2016-02-01 19:13] gokhanayan commented on #3236
Yes, I restart. But the most natural right to ask you this question. I said because I was a beginner.

[2016-02-01 19:14] alihashir commented on #3241
@xcomSteveJohnson  thanks for being here... Sir actully when i install magento it Fails on 65% as shown in 1st screenshot... you can see in consol log... "Installing User Configuration"

Please help me in fixing it

Thanks...

[2016-02-01 19:25] minhluan259 commented on #3230
Thank for all.
@mazhalai , you can close this issue.

[2016-02-01 19:26] ghost commented on #3241
#2942 where the suggestion was "This issue is caused by you php `session.save_path setting` in your `php.ini` file. It is not readable by the apache user. Please create tmp/ folder and give required permissions, or change the setting to point to another writable folder."

You wanted to know how to do this:
1.  Open your `php.ini` file in a text editor to find the value of `session.save_path` .
2.

[2016-02-01 19:27] devdesco-ceo commented on #3038
CLI theme uninstall will not work since it is intended for use only with composer installed themes. :(

[2016-02-01 19:30] #3230 closed, assigned to nobody

[2016-02-01 19:36] alihashir commented on #3241
@xcomSteveJohnson sir check the screen... i have done setting value to \tem\magento as you said... but i did not get the point number 4. "Find the name of apache server user" ... can you tell me more that where to type those commands and where to find the name... i am using Window 7 and Wamp server....

![done](https://cloud.githubusercontent.com/assets/15688053/12728658/aeba9caa-c944-11e5-9fe8-48

[2016-02-01 19:38] ghost commented on #3021
If you installed Magento 2 by cloning, you must also install sample data by cloning and you cannot use the `sampledata:deploy` command.

Instead, try [this](http://devdocs.magento.com/guides/v2.0/install-gde/install/web/install-web-sample-data-clone.html)

[2016-02-01 19:44] ghost commented on #3241
I don't use WAMP so I cannot tell you the exact command. Try googling it.

[2016-02-01 19:46] alihashir commented on #3241
@xcomSteveJohnson  thanks for helping me :)

[2016-02-01 19:46] alihashir commented on #3241
@magento-team  @mazhalai  can you help me in it please... ??

[2016-02-01 19:54] ghost commented on #3241
Try this: http://stackoverflow.com/questions/10289133/finding-out-what-user-apache-is-running-as-in-windows

From: alihashir [mailto:notifications@github.com]
Sent: Monday, February 01, 2016 1:51 PM
To: magento/magento2
Cc: Johnson, Steven
Subject: Re: [magento2] Installation Error Magento at 65% (#3241)

@magento-teamhttps://github.com/magento-team @mazhalaihttps://github.com/mazhalai can you hel

[2016-02-01 19:56] jstuardo commented on #3242
Check permissions of folder pub amd below. I had similar problems before, and the problem was that files had 660 permissions, instead of 664 and folders 750 permissions instead of 755.

[2016-02-01 19:58] jstuardo opened #3243 "Locale error in Magento 2.0.2"
Hello...

I have probems saving Home Page in Magento 2.0.2 When I try to save it, I got this error and stack trace. It is related to localization of dates. apparently:

Notice: Uninitialized string offset: 0 in /home/depasa/public_html/vendor/magento/zendframework1/library/Zend/Locale/Format.php on line 261
#0 /home/depasa/public_html/vendor/magento/zendframework1/library/Zend/Locale/Format.php(26

[2016-02-01 20:29] ad1rie1 commented on #3239
i have already done that :) no change , i thinck it's redirection problem because it don't look in static file, it consider load page named jquery.js

[2016-02-01 20:43] chris-brabender commented on #3206
Hi @SantyagoSeaman , dmesg | grep php helped actually, thank-you. It showed the virtual machine was running out of memory. So I've upped that allocation and it runs better now.

I am getting new errors now though on the url_rewrite document

[code]

And when trying to index:

[code]

And still getting this error on the Catalog page in admin

[code]

[2016-02-01 20:44] miller-nicholas opened #3244 "Product View Page - Meta Description Fix"
Magento\Catalog\Block\Product\View
line 146 - $this->pageConfig->setDescription($this->string->substr($product->getDescription(), 0, 255));

we put table tags in product description and got missaligned text in head of page..
<.meta name="description" content="<.table style="width: 763px;" border="0">.....

[2016-02-01 21:26] ghost commented on #3236
Look in `var/update_status.log` for errors. Look in your web server logs also. Please paste the entire error messages here.

[2016-02-01 21:36] mazhalai commented on #3236
@gokhanayan are you in developer mode or production? Please turn on developer mode, if it is not already on.

[2016-02-01 21:59] gokhanayan commented on #3236
Steve and Mazhalai, thank you very much for your interest

How to Run in developer mode. I have no information in this regard. In addition, there are magento2 not specified in the log.

[2016-02-01 22:16] ghost commented on #3236
[Enable developer mode](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html#config-mode)

[2016-02-01 22:16] mazhalai commented on #3236
please see

[2016-02-01 22:21] mazhalai commented on #3236
Sorry clicked close accidentally

[2016-02-01 22:31] cerebrumgit opened #3245 "How to Use Magento 2 translation "pt_BR" from CrowdIn ?"
How to Use Magento 2 translation "pt_BR" from CrowdIn ?

Hello Good afternoon my friend

1)

Based on the following post

http://magento.stackexchange.com/questions/99915/use-magento-2-translation-for-example-german-from-crowdin/99935#99935

I am making the following to use the translation for pt_BR language

http://cerebrumgit.github.io/instala%C3%A7%C3%A3o/instalando-magento2#pacote-de-tradução-

[2016-02-01 22:39] serzhik commented on #3242
Run at console from your magento2 installation path

`php bin/magento setup:static-content:deploy`

[2016-02-02 00:25] thomvanderboon commented on #3245
Take a look here:

http://www.vanderboon.net/wiki/Install_Test_Magento_2_Translation

It is a description of the Dutch (nl_NL) language, but with these steps you should be able to get your translation working

[2016-02-02 02:52] dnsahoo commented on #3242
Thank you Serzhik,

After running this  command, Magento Dashboard displaying properly.

I am using Windows machine.

But other modules like Sales, Products, Customer etc are not displaying properly (like previous Dashboard).

[2016-02-02 03:09] ilya0202 opened #3246 "Error installing Magento 2.0.2 at 90%"
Help is needed!
![error](https://cloud.githubusercontent.com/assets/17017162/12743756/ecfa6b38-c9a0-11e5-8997-f89280b8a612.JPG)

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':
Installing schema..

Module 'Magento_AdvancedPricingImportExport':

[2016-02-02 04:56] tigerx7 commented on #2904
This post goes into further detail about the issue: http://magento.stackexchange.com/questions/19826/authorize-net-direct-post-sometimes-fails-in-chrome

Of the end users I've been able to get a hold of, most of them aren't really that computer literate. They know they have antivirus software on their system, but they're really not sure which one. It's usually whatever comes bundled or whatever a

[2016-02-02 07:57] dervism opened #3247 "One or more indexers are invalid (when installed through cpanel)"
I know this is issue might have been discussed in another ticket, but I still can't get it working.

I installed Magento 2.0.2 on my shared hosting though CPanel and Softaculous and have set up the cron jobs. I have only access to the CPanel interface as the shop is on the shared hosting server, so no command line access.

The job is running and printing "Ran jobs by schedule." in the log, but in

[2016-02-02 08:08] tudn9x commented on #3247
Hi, you can try checking table "cron_schedule" in the database. I think you can find issue with that.

[2016-02-02 08:31] dervism commented on #3247
@htmyheart Everything there is "success" except the two first rows:

catalog_index_refresh_price, error, Bad value was supplied.
aggregate_sales_report_coupons_data, running, Class Magento\SalesRule\Crone\AggregateSalesReport

[2016-02-02 08:51] kandy commented on #3159
Hi @Karl456, Can you review [integration test](https://github.com/magento/magento2/blob/develop/dev/tests/integration/testsuite/Magento/Catalog/Block/Adminhtml/Product/Options/AjaxTest.php) and [fixture](https://github.com/magento/magento2/blob/develop/dev/tests/integration/testsuite/Magento/Catalog/_files/product_with_options.php) that create all type options.
Looks like problem in method `setPro

[2016-02-02 08:53] mslabko commented on #2957
Hello @hgpit, issue was fixed for develop branch. Patch for 2.0 release will be provided as soon as possible

[2016-02-02 08:53] tudn9x commented on #3247
Hi, Did you clear cache?
In row two, I think class should be: Cron. Your class is Crone, it was wrong.

[2016-02-02 08:59] dervism commented on #3247
@htmyheart Yes, I have cleared the cache several times. I updated the text you mention to "cron". The error message is still there, doesnt look like it had any effect.

As I said, all the other rows are "sucess", so it look like it runs the job and updates the database table....

[2016-02-02 09:01] NadiyaS commented on #3079
Hi @lisovski,
you are right, now you can not change columns for export. And in the near future it is not planned to be changed.

[2016-02-02 09:09] tudn9x commented on #3247
Sorry, my English. Yes, sure, when your cronjob ran, status of jobs will update to this table. I don't have any solution for your issue, please search again and try another way.

[2016-02-02 09:15] DavideLitrico commented on #3021
I installed magento 2 with composer

[2016-02-02 09:26] marvincaspar opened #3248 "Magento2-Base archive is broken"
I have build my own satis server for more performance than `repo.magento.com`. Therefore I added the magento 2 repository to my `satis.json` file.

After mirroring the magento composer I can't install magento 2 because `magento2-base` and `magento2-ee-base` modules are broken. There are files missing, for example the `app/design/` folder. Then the mapping fails und I can't install the shop.

[code

[2016-02-02 09:40] Vinai opened #3249 "Upgrading via composer deletes dev/tests/integration/etc/install-config-mysql.php"
In order to execute integration tests, I copied the file `dev/tests/integration/etc/install-config-mysql.php.dist` to `dev/tests/integration/etc/install-config-mysql.php` and adjusted the mysql connection credentials for the test database.
After the upgrade I discovered the file has been deleted.
I would expect local copies to persist between upgrades, just like local `phunit.xml` copies do, so it

[2016-02-02 09:43] dervism commented on #3247
@htmyheart I think I solved it.

I added another cron job in CPanel and then the error message disappered and all my products are now visible on my shop!

Looks like this cron job must be run the first time after Magento is installed in CPanel:
/usr/bin/php /home/public_html/shop/bin/magento indexer:reindex

[2016-02-02 09:44] marvincaspar commented on #3201
Created a new issue with more details #3248

[2016-02-02 09:44] #3201 closed, assigned to nobody

[2016-02-02 09:50] asemenenko commented on #2652
@ishakhsuvarov it seems that issue can be closed?

[2016-02-02 09:52] atishgoswami opened #3250 "Disable Email Communications Not Working"
I wanted to disable all outgoing mails for the Magento2 application, so I used the setting at:

Configuration > ADVANCED > System > Disable Email Communications and set it to "Yes".

Still the emails are being sent out, is there something I am missing here ?

I searched the code base for system setting path `system/smtp/disable` in order to figure out where it is being used, only could find a cons

[2016-02-02 09:54] tudn9x commented on #3247
Yep, thanks for your share. I will remember this issue. Usually, when I finished installing Magento, I will run reindex and clear cache. :)

[2016-02-02 09:58] atishgoswami commented on #3248
I had encountered this issue a while ago #2787. Its an issue with the Satis [#289](https://github.com/composer/satis/issues/289)

[2016-02-02 09:59] #3247 closed, assigned to nobody

[2016-02-02 10:11] zoneradx commented on #2077
I got the same issue, when I try to unlock from cli it shows error, that the syntax is wrong.

[2016-02-02 10:22] dmitrii-fediuk opened #3252 "A PHPDoc result type of the \Magento\Framework\View\TemplateEngineInterface::render() method is wrong"
https://mage2.pro/t/394

[2016-02-02 11:29] ishakhsuvarov commented on #2652
@asemenenko Not all issues linked to `MAGETWO-46696` are closed, so ticket may remain open for now.

[2016-02-02 11:31] ishakhsuvarov commented on #3240
@lsmithcom Thank you for reporting the issue. We have tried to reproduce it, but currently with no success.
To help us resolve the problem faster, please provide more detailed steps to reproduce, your Magento version and changes you have done in admin panel.
Thanks.

[2016-02-02 11:51] teuma86 opened #3253 "Paying with Paypal changes guest users email"
If you checkout as a guest, using a@example.com
Select PayPal as your payment method, then sign into paypal with b@example.com
The Success page shows you an option to create the account for b@example.com
Also the order is against email b@example.com.

[2016-02-02 12:32] Igloczek commented on #2104
v0.2.0 of mine `frontools` is up. I tried to take best things of published examples and add some modularity/flexibility to it. Hope you enjoy and I'm looking forward to comments.
https://github.com/SnowdogApps/magento2-frontools

[2016-02-02 12:38] kayintveen commented on #2104
@Igloczek Looks very promising. nice work thanks!

[2016-02-02 12:45] chicgeek opened #3254 "Using p for htmlTag outputs incorrectly"
## Description

I have an XML file that creates a new container. It is using a `<p>` element, one of the valid element types for `htmlTag`. Using the `move` directive, I relocate `top.search` into this new element.
## XML source

The XML:

[code]
## HTML output

Expected markup output:

[code]

Actual markup output:

[code]
## Notes
- This is on merchant_beta 8 on both our custom theme and Luma.
-

[2016-02-02 13:08] starnetwork opened #3255 "Meta Information not filtering HTML data"
Hi,
I added new product using Unique Characters, and it's just show it at the top of the page, instead of filter it
for example
צ'ימידן 10 ליטר נייד

<p>צי'ימידן נייד מעולה לטיולים</p>

Please check and fix it

Regards,

[2016-02-02 13:25] ghost commented on #3021
OK, my apologies but I learned yesterday that sampledata:deploy has no arguments. I updated the documentation. Sorry for the trouble.

[2016-02-02 13:27] ghost commented on #3246
I might be mistaken but I believe a cause for this issue is an incorrect value for the DB host. What did you enter?

[2016-02-02 13:36] marvincaspar commented on #3248
I did some more research and found the issue.

The `magento2-base` and `magento2-ee-base` includes empty folders. Theres are ignored by composer when create a new archive with [PharData::buildFromDirectory](http://php.net/manual/de/phardata.buildfromdirectory.php).

Solution could be to add a `.keep` file in empty folders.

[2016-02-02 13:57] mattyj714 opened #3256 "Shipping method csv import issue"
When trying to upload a CSV file into shipping -> Table Rates the temp directory is incorrect and different to what is in the loaded php.ini file.

The file*\* "/tmp/home/username/tmp/php2VLzjb"*\* doesn't exist

**php.ini file lists the tmp upload directory as "home/username/tmp/"**
As you can notice, magento seems to be adding an extra "tmp" to the front of the directory. I have looked around to

[2016-02-02 14:00] mohinik-chetu opened #3257 "Magento2: Unable to redirect to new page from capture method of custom payment module"
Hi,

I am unable to redirect to new page (where i want form submit feature) on based of some condition from capture method of model. Similar to http://stackoverflow.com/questions/21753859/implementing-3d-secure-verification-in-custom-api-based-payment-method-in-magent.
Please provide a solution.

[2016-02-02 14:09] ilya0202 commented on #3246
Hi! Where can I see this value (DB host)?

[2016-02-02 14:42] dmitrii-fediuk commented on #3255
https://github.com/magento/magento2/issues/2295, https://github.com/magento/magento2/issues/1514, https://github.com/magento/magento2/issues/3090, https://github.com/magento/magento2/issues/3244
https://mage2.pro/t/161

[2016-02-02 14:42] dmitrii-fediuk commented on #3244
https://github.com/magento/magento2/issues/2295, https://github.com/magento/magento2/issues/1514, https://github.com/magento/magento2/issues/3090, https://github.com/magento/magento2/issues/3255
https://mage2.pro/t/161

[2016-02-02 14:43] ksz2013 opened #3258 "Add name to existing blocks not just alias"
Hi,

is it possible to add to all existing core blocks name tags as well not just as (alias) ?
For example here, if i want to remove the swatches I would be able to do it easily if there would be a name tag on this block:

Without the name tag it is impossible to move the blocks.

Thanks

[2016-02-02 14:51] Kastnerd opened #3259 "WYSIWYG Editor in IE"
When editing a product page any maybe other places.  The WYSIWYG editor does not work in IE. Works fine in Chrome.  Using IE 11.0.9  Below you can see the IE view first. and then the Chrome view.  Using Magento 2.0.2

![iewysiwyg](https://cloud.githubusercontent.com/assets/17027563/12752853/5debce72-c992-11e5-9f54-28b1d740ad2e.JPG)
![chromewysiwyg](https://cloud.githubusercontent.com/assets/170275

[2016-02-02 15:01] gokhanayan commented on #3237
Is there that can help?

[2016-02-02 15:44] #3255 closed, assigned to nobody

[2016-02-02 16:19] cscd98 commented on #2798
@ilol When will you update the data-migration-tool?

[2016-02-02 16:41] ilol commented on #2798
This week, @craigcarnell.

[2016-02-02 16:53] eddielau commented on #3246
Are you on Mac? You may want to try this:
Go to MySQL configuration (in /etc/my.cnf). Add

[code]

then restart the MySQL server

[2016-02-02 17:10] diegorkable commented on #3214
@mazhalai Also to note, when I enter the website there are only links and sentences, it isn't placed well and half of the pictures are gone.

[2016-02-02 17:17] davidalger commented on #3249
Seems similar to #3097

[2016-02-02 17:34] alankent commented on #3254
Just to be clear, if you only change `htmlTag="p"` with `htmlTag="div"` what is the output?

[2016-02-02 17:45] alankent commented on #2104
Hi @Igloczek - how hard would it be to support browser sync _and_ live reload? Then can keep both camps happy (via command line argument).

Note: I had issues with the Live Reload Chrome extension only talking to 127.0.0.1 - is "browser sync" popular enough that people will just say "that's just as good". It looks like it injects extra JS to work - does that concern anyone about differences betwee

[2016-02-02 18:12] Vinai commented on #3249
True that. In this case the initial install was done via composer create-project, but probably the same issue.

[2016-02-02 18:21] davidalger commented on #3249
My guess is the fault is buried somewhere in magento-composer-installer, since it's what's copying in the stuff from magento-base. I just don't have time to dig in to find out atm :)

[2016-02-02 18:38] Igloczek commented on #2104
@alankent I'll figure out, should not be that hard to keep both, but have in mind that "battle" between LiveReload and BrowserSync is similar to Grunt vs Gulp and I have strong arguments to stick with BS.
LR are loosing their market share because require browser configuration (as you se it's not that easy) and can only refresh page or inject styles.
BS is standalone tool, with build-in proxy (pass

[2016-02-02 18:44] mayhem-ahmad opened #3260 "Grunt exec:<theme> issue"
This issue appears when executing the following command:
sudo grunt exec:<theme>

Processed Area: frontend, Locale: en_US, Theme: <vendor>/<theme>, File type: less.

Aborted due to warnings.

And this issue appears when executing the following command:
sudo grunt less:<theme>

Running "less:<theme>" (less) task

Done, without errors.

[2016-02-02 18:53] comunidademagento opened #3261 "Magento CE 1.9 vs Magento CE 2.0 Performance Comparison | MageCore, Inc"
This Comparison is true?

http://www.magecore.com/blog/news/magento-ce-19-vs-magento-ce-20-performance-comparison

[2016-02-02 19:09] chris-brabender commented on #3206
Managed to fix the last two issues.

The column not found was related to some catalog price rules that failed to come across and were causing issues.

The last issue appears related to - https://github.com/magento/data-migration-tool-ce/issues/48 which should hopefully be addressed with - MAGETWO-47928

As a temporary workaround I updated the eav_entity_type table and set the additional_attribute_

[2016-02-02 20:51] TRMMarketing opened #3263 "Unable to manage/add product configurations"
After the initial creation of a configurable product you are unable to update the associated products relationship with the parent product. This means you cannot add additional existing products to a configurable product after creation.

It seems (unless I am missing something) that the only way to associate a product to a configurable product is with the create configuration options which creates

[2016-02-02 21:06] fhennessy commented on #1471
I'm having this issue and I have only uploaded 2 of my products, so there is no way there are URLs for this store yet. All of my url keys and SKUs are unique and the CSV does not have any errors.

[2016-02-02 21:10] davidalger commented on #3261
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-02 21:10] #3261 closed, assigned to nobody

[2016-02-02 22:11] dmitrii-fediuk opened #3264 "The proper styles are not been applied to the «Enable Block» checkbox on the backend block pages («develop» code branch)"
https://mage2.pro/t/397
Similar to https://github.com/magento/magento2/issues/3226

[2016-02-02 23:02] Krapulat opened #3265 "Bad Prices Tax Calculation"
I use Magento 2.0.2 and it adds additional tax in the frontend.

I have this configuration:
![screen shot 2016-02-02 at 23 57 49](https://cloud.githubusercontent.com/assets/4441564/12767330/d663aa3e-ca08-11e5-8ec5-48470e64ab60.png)

And, for example, this product:
![screen shot 2016-02-03 at 0 00 14](https://cloud.githubusercontent.com/assets/4441564/12767384/25e29b06-ca09-11e5-88d6-a4ae7215aa97.p

[2016-02-02 23:50] alankent commented on #2104
I wasted hours of my life last night trying to get LiveReload to work, so you don't need to convince me. It was only when I realized the Chrome plugin is hard coded to talk to 127.0.0.1 that the penny dropped. I am trying to get a Docker container together with minimal setup instructions - not having to set up a port forwarder sounds like bliss to me!

I will create an issue on your GitHub to cont

[2016-02-03 03:01] eddielau commented on #3236
@gokhanayan Please try to enable PHP error logging and see if anything is logged.
To enable it, in your php.ini file, add

[code]

Then restart the web server and reinstall Magento again.

[2016-02-03 03:31] Sniperumm opened #3266 "Error after installing from 2.0 branch with sample data"
I've installed via the 2.0 branch (2.0.2) and I've also installed the sample data.

Steps -

Cloned 2.0 Branch
Ran composer install
Ran bin/magento sampledata:deploy
Went to url and ran web setup
Opened base url and got the usual error report generated.

Here's the error report:

a:4:{i:0;s:726:"Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The foll

[2016-02-03 05:26] dnsahoo commented on #3242
Hi Jstuardo,

I am using Windows 10 (Full HD 1920 x 1080 resolution). Can you please suggest, how to fix it. By running the command given by Serzhik, it only fix Dashboard. How to fix other modules like Sales, Products, Customer etc.

Thank You.

[2016-02-03 06:00] quynhvv commented on #3066
@Desmaster : That issue because have some new work flow of sales module in Magento 2.
and your database migrated is multiple stores
and it's missing needed tables for module-sales and module-sales-sequence.
You can see more at this: http://i.imgur.com/rkFvbC8.png
=> That are initial tables after you install a fresh Magento 2.
and after migrate data with this tool, you database was missing some tab

[2016-02-03 06:30] eCommerceGorilla commented on #2666
Is there any update on this issue yet? Any work arounds? Even a temp core hack to get product images in place would be great.

[2016-02-03 06:46] eCommerceGorilla commented on #2666
After some digging I came up with a solution. It seems the issue with permissions error is related to the local file system only and not remote systems. When running the import and pulling off from http://domain.com/pub/media/import/image.jpg it works when the same files error out with only /pub/media/import/image.jpg

Hope this helps someone.

[2016-02-03 07:10] Vinai commented on #3249
With the modules residing in `vendor` now, and projects being created via `composer create-project`, I wonder if the magento composer installer is still needed at all. My feeling is that it should be possible to remove it without too much effort.

[2016-02-03 08:03] scholtz commented on #3266
i suggest you should run bin/magento setup:upgrade as stated in the the [manual](http://devdocs.magento.com/guides/v2.0/install-gde/install/sample-data-after-composer.html)

[2016-02-03 08:14] Nehace40 commented on #1632
@vpelipenko  I have same issue and use your solution which is given above but its not converting,
@okorshenko "Seems like this issue was fixed in 499b773" made changes like this but it still not working

[2016-02-03 08:28] mayhem-ahmad opened #3267 "Adding less files per <locale> for the same theme"
Hey guys,

I want to add another language to my website, so i'm using twitter/css-flip so i can generate (styles-m-rtl.css,styles-l-rtl.css) for my theme.
so how can i add it to for <ar_SA>  for the same theme, so when i change the language switcher from the  frontend it will load just the assets in  <ar_SA> .

Your help is much appreciated,
Thanks!

[2016-02-03 08:32] Khaleel commented on #1326
What you do for NGINX is create a directory and origin pull that directory. Example

https://subdomain.shop.com

This in vhost has a web directory of

/var/www/magento/htdocs/media

So Magento2 will always upload to the media folder - you can do the same (I think for pub folder for JS and CSS)

Thus in the CDN just make an origin pull with a cname

https://subdomain.shop.com/media/wysiwyg/sample.j

[2016-02-03 08:37] Khaleel commented on #3259
There are many known bugs with the WYSIWYG editor already reported.

I think the best thing would be to make a new File Media Manager in Magento 2 that links in the WYSIWYG - we have a lot of feedback from Content and Marketing that there is no history tool either thus having to trawl through many folders. And no search features.

It is a poor Gallery and upload tool. It often fails in Firefox, Ch

[2016-02-03 08:39] Khaleel commented on #2958
Hi
Your comments are fair and yes we are all developers and we should try to work better via communication.

So, is there any updates of improving the media uploader - adding search, history and better archiving and UI and UX folder structures. Support for SVG - adding Arabic and other language support via UTF due to charset issues..

Thanks

[2016-02-03 09:28] kandy commented on #3217
Thanks for reporting.
We have created ticket MAGETWO-48721 to for timeout issue and MAGETWO-48722 for performance improvment

[2016-02-03 09:32] Krapulat commented on #3265
*SOLVED: I had to select the origin inside Stores > Sales > Shipping Settings

[2016-02-03 09:33] #3265 closed, assigned to nobody

[2016-02-03 09:46] vipin33 opened #3268 "URL key for specified store already exists."
Hi sir ,
i am facing problem "URL key for specified store already exists." in category section during saving category.....in Magento ver. 2.0.0. plz help..some time it disappear or some time it shown ...but why i don't know.

[2016-02-03 09:59] cscd98 commented on #1326
I have the same issue except we use Rackspace CDN. For m1 I modified a free magento extension to do this (onepica) but that never got released for m2.

[2016-02-03 10:04] Khaleel commented on #1326
I am also using Rackspace CDN...

[2016-02-03 10:14] ad1rie1 commented on #3239
i see in requirejs-config.js : require.config({"baseUrl":"http://domain.com/static/frontend/Athena/theme-frontend-luma/fr_FR"});

and in my new config nothing.... how this file was generated and where i can configurate the BaseUrl argument of this script ?

[2016-02-03 10:15] davidverholen commented on #3249
The only things that the installer should still do is create the base folder structure for the web app and the vendor_path.php, right?

The current installer still has all the features from the hackathon magento1 installer. That seems very overloaded.

[2016-02-03 10:19] cscd98 commented on #1326
@Khaleel The onepica module uploaded the files to the CDN using the API available for Rackspace. I modified it to work with the UK version

[2016-02-03 10:21] ktomk commented on #3248
Or add a `.gitignore` file in those directories that is ignoring everything but itself:

[code]

Should be easy to patch.

[2016-02-03 10:22] Khaleel commented on #1326
Sounds good. I too am using Rackspace UK as LON region. Also international API. It would have been nice to have official support from the Magento platform for CDN integration rather than modules. Varnish (personally not a fan) and things like caching come out of box. CDN should be default now across Enterprise.

[2016-02-03 10:31] cscd98 commented on #3261
@davidalger I'm not sure why this is closed. The performance of M2 is quite bad in the checkout specifically (all those requests?). I'm not sure the idea of interfaces while sounding good on paper is good for performance either.

I hope you improve the performance.

[2016-02-03 10:50] cscd98 opened #3270 "Naming conventions (vendor name)"
Under app\code I am now setting the vendor name to VaxLtd. What is the normal naming conventions to use here?

Should it be lower case e.g. vaxltd, or VaxLtd or Vaxltd?

Same ges for app/design/frontend/VaxLtd/UK, should it all be lower case? Does it matter?

The case for vendors is different, that all seems lower case.

[2016-02-03 11:00] ad1rie1 commented on #3239
ok , it's realy update, i revert all to 2.0 and it's work just fine

[2016-02-03 11:02] ad1rie1 commented on #3239
are you change commit about requireJs in framework or in her utilisation in module gererate requirejs-config.js ?
it's work with default magento theme but if you don't use magento directory, bug happend

[2016-02-03 11:35] chicgeek commented on #3254
The output is:

[code]

[2016-02-03 12:05] kandy commented on #3156
@Rajesh-Rathod, Thanks for reporting.
Can I ask you describe in more details  steps to reproduce and expected behavior.
I try reproduce it on Magento 2.0.2 and after create invoice links are available in "My Downloadable Products" panel of Customer Account.

[2016-02-03 12:16] VLCSolutions commented on #2170
@AndriyNasinnyk We are looking this issue for our magento2 extension, And this is the only one issue left over to complete our extension. Do we have any latest updates on this issue.

[2016-02-03 14:01] AndreyChorniy opened #3272 "Billing address issue!"
Hello guys!
I have found important bug in checkout process.
Scenario:
I configured some of  Payment methods for specific country (i.e. USA). And I want to ship order to not available country (i.e. French) for this method. I have use my shipping address - French, Edmonton, 105 Ave NW... I have selected Shipping Method.
After this I want to use billing address: USA New York, 1 Broadway.... BUT I can

[2016-02-03 14:13] mazhalai commented on #3021
@jkristoffer @DavideLitrico Since this was a doc issue, which has been fixed, closing this ticket.

[2016-02-03 14:13] #3021 closed, assigned to nobody

[2016-02-03 14:21] mazhalai commented on #3214
@diegorkable the css and js is missing, thats why the website dosent look right.

We are having trouble reproducing this issue. Can you please give us more details: How did you deploy magento? Also what version of PHP?

[2016-02-03 14:31] mazhalai commented on #3266
@Sniperumm running upgrade wont work, since you are trying to downgrade(from a previous installation probably via develop in which module versions have been updated in module.xml, which is newer than 2.0.2). But, downgrade is not supported. Please clean you database and start over. You can use `bin/magento setup:uninstall` to clean it too, it will also clean generated files and cache.

[2016-02-03 15:17] sadeeshmca opened #3273 "Magento 2 adminend not login shows error"
Magento 2 admin end not login shows error "You did not sign in correctly or your account is temporarily disabled."

[2016-02-03 16:03] ludar opened #3274 "Custom options"
I have encountered this issue in 2.0, 2.0.1 and 2.0.2

In some cases when modifying custom options specifically drop down menus the product display breaks.
To replicate: Create an item with custom options, created a drop down menu with several items. Save.
Go back and delete one of the drop down choices.

Flushing Cache / Rebuilding Magento did not do anything.

What it looks like in admin area af

[2016-02-03 16:05] mazhalai commented on #3266
Created MAGETWO-48744 to improve messaging when attempting downgrade.

[2016-02-03 16:07] davidalger commented on #3249
The `composer create-project` just uses the package you reference as a basis for the new project. One of the dependencies of the `magento/project-community-edition` package is `magento/magento2-base` which is what requires the composer installer. Last I checked, everything outside of vendor comes in via this `magento/magento2-base` package, and the composer installer is the mechanism used to copy

[2016-02-03 16:12] augsteyer opened #3275 "REST API POST of a 2D array results in error"
I believe this is a bug where I am trying to pass a JSON object like this

[code]

Where the interface looks like this

[code]

I have currently tried many variations of string[][], array[], string[], mixed[], Array[], etc, without any way of passing settings without getting an error thrown at the lib/internal/Magento/Framework/Webapi/ServiceInputProcessor.php::process() function.

The root cause

[2016-02-03 17:50] willi13 commented on #2397
Hi All,
did anybody solve this problem in the meantime? I'm trying to download/install magento 2.0.2 now since a few days on different devices, stand alone server setups on Ubuntu 15.10, (no emulation software nor Vagrant) without success. I always get -sooner or later- the "checksum verificaton error" after a varying number of loaded files. In addition, the loading is extremly slow. It takes minu

[2016-02-03 18:03] rbaprado opened #3276 "Installation stops at 36% (Can't create directory)"
I have gone thourgh http://devdocs.magento.com/guides/v2.0/install-gde/install-quick-ref.html and changed ownership and permissions accondingly, but I got this when installing:

[code]

A few additional details:

[code]

[code]

[code]

I tried installing from both a download zip file and using composer. I also read in another issue about setting the sticky bit for var/generation but it does not e

[2016-02-03 18:12] mazhalai commented on #3276
@rbaprado can you please show contents of var directory with permissions? Also, are you installing via web or CLI?

[2016-02-03 18:20] jameshalsall commented on #1326
I'm working on a module for Magento2 that will offer S3, Google Cloud Storage for assets. Will post it here when it's done.

Sent from my iPhone

[2016-02-03 18:23] rbaprado commented on #3276
If you asked me 5 minutes ago I would be able to... I just managed to install by changing app/etc var/ and pub permissions as 777 prior to running setup.

But, answering your question, I was trying using the web setup. I guess 770 and 660 for those directories is not enough. Probably there is something that needs to be updated in the setup script or in the installation docs.

[2016-02-03 18:24] ostark commented on #1326
@jameshalsall +1

[2016-02-03 18:28] rbaprado commented on #3276
Bad news: after installation I could not run the backend:
`An error has happened during application run. See exception log for details.`

[exception.log.zip](https://github.com/magento/magento2/files/116160/exception.log.zip)

[2016-02-03 18:29] rbaprado commented on #3276
[code]

[2016-02-03 18:34] mazhalai commented on #3276
@rbaprado are you installing EE? did you run `composer install`?

[2016-02-03 18:35] rbaprado commented on #3276
Nope, CE, and I ran `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition site`

[2016-02-03 18:45] mazhalai commented on #3276
Can you please check permissions of ALL folders within `var/generation`?

[2016-02-03 18:48] rbaprado commented on #3276
You got it.
[permissions.txt](https://github.com/magento/magento2/files/116186/permissions.txt)

[2016-02-03 18:52] #3056 closed, assigned to nobody

[2016-02-03 19:17] vancoz commented on #2523
Hi @ktomk, thank you for your attention to this issue, let me explain why Magento has var/composer_home directory, there is few reasons:
1. Magento actually has more than 1 user, it has at least 2 users: web server and CLI user, and we would like to use the same credentials for both of them. And this is a reason why we would like to have dedicated composer home directory and sharing composer authe

[2016-02-03 19:17] #2523 closed, assigned to nobody

[2016-02-03 19:22] vancoz commented on #3108
Hi @ktomk, I have commented and addressed your questions in #2523.
In case if you feel that this explanation is not enough or you have idea or approach how to implement it in better, I can reopen tickets and we can continue discussion.
Thank you!

[2016-02-03 19:22] #3108 closed, assigned to nobody

[2016-02-03 19:28] robfico commented on #2538
fyi, seeing this same issue with PHP 7.0.2 and MySQL 5.7.10. MySQL 5.7 is GA, and recommended version by MySQL. Cannot search as original author stated. Is this slated to be fixed? Any quick workaround?

[2016-02-03 19:41] mazhalai commented on #3276
Cannot reproduce it :( can you please give more details as to OS, magento version, php version, and server?

[2016-02-03 19:46] hgpit opened #3277 "GitHub -b develop gives which version?"
Hello,

Apologies in advance, as I am not a developer and have hardly ever used Git/GitHub before, so this may very well seem a stupid question to most.

I want to get M2.0.2 but with all the very latest updates/fixes/patches/commits.

I have used `git clone -b develop https://github.com/magento/magento2.git`, ran `composer install` then browsed to http://www.mysite.com/setup but the installer pag

[2016-02-03 19:54] hgpit commented on #3277
Oh nevermind, it seems it has already been flagged here: https://github.com/magento/magento2/issues/3100

[2016-02-03 19:54] #3277 closed, assigned to nobody

[2016-02-03 20:12] tigerx7 commented on #2993
@alena-marchenko Thank you for the followup and clarification on order status flow. However, my issue was a two-part question.

Primarily, I understand it's good to have somewhere in the logs the response from authorize.net. However, I don't think having it being thrown as an exception is the best method for it. Ideally, an exception should be representative of something that's broken or didn't fu

[2016-02-03 20:16] jason-vivid commented on #1901
Just received this exact error running v2.0.2.

Steps to reproduce:
1. Create Simple Product
2. Change the attribute set (configurable product workaround).
3. Fill out product data
4.  Select "Create Configurations"
5. Select Attributes - two attributes created for this store(sizes (text swatch - 11 values) & color (visual swatch - 28 values)).
6. Selected all 11 sizes and 14 of the color values.

[2016-02-03 20:27] thor777 opened #3278 "Broken images"
Icons appear broken and links on the dashboard not working.

[2016-02-03 21:44] kandy commented on #3016
@gswant, Thanks for reporting. Can I ask you describe in more details steps to reproduce.

[2016-02-03 21:57] tigerx7 opened #3279 "Feature Request: Batch request for /swatches/ajax/media and/or cache catalog pages with swatch ajax media updates"
From a performance perspective, it would be great if /swatches/ajax/media can accept a batch request and return all available media for all products in one call. On a product page, it isn't such an issue. However, when a swatch option is selected in layered navigation, a /swatches/ajax/media call is done for every single product in the catalog view.

Additionally, a catalog page view with a select

[2016-02-03 23:25] anantab opened #3280 "Product price change does not update price in quote"
If a product price is updated after a customer has added it to cart, the customer still sees old price in mini cart in header. The issue also exists in checkout page, if customer directly go to checkout page without going to full basket page.

[2016-02-04 00:13] jason-vivid opened #3281 "sql error when saving entity with data bigger than max_input_vars"
This is a duplicate of https://github.com/magento/magento2/issues/1901 which is currently closed.

Steps to reproduce for v2.0.2 are listed in that item.  Wasn't able to reopen issue.

[2016-02-04 00:59] jason-vivid commented on #1901
The apache error.log solved this for me.

[Wed Feb 03 19:40:22.281476 2016] [:error] [pid 17178] [client 69.14.235.233:59851] PHP Warning:  Unknown: Input variables exceeded 1000. To increase the limit change max_input_vars in php.ini. in Unknown on line 0, referer:  https://website

Increasing the limit in .htaccess solves the problem. PHP default is 1000.  I bumped up to 5000.

`php_value max_in

[2016-02-04 01:00] jason-vivid commented on #3281
problem solved by increasing php_value max_input_vars in .htaccess.

[2016-02-04 04:22] Git-Rajkumar opened #3282 "Magento Admin not working after changing base url , but changing base url working fine , but admin url not working"
i setup magento 2 in locally in My Pc(fedora-23)

I Changed base url for magento 2 using magento admin (Store-→ Configuration-→ change Default View to Web view  → then Click Web Option → Then Choose Base Url Option , then Change Base Url)

Example: http://localhost/magento2/  → MYIPAddr/magento2/

I only changed base url not in admin url, after chaged this url,  magento2 working on this url, but n

[2016-02-04 04:51] dmitrii-fediuk opened #3283 "«Yes/No» attributes should be allowed in the Layered Navigation"
https://mage2.pro/t/462

[2016-02-04 05:40] samy-m-dev opened #3284 "Adjustment refund : no tax calculated in credit memo"
The issue exists in Magento 1 and still exists in Magento 2, when we use the Adjustment Refund or Fee taxes are not calculated.

I see in the documentation : "In the Adjustment Refund field, enter a value to be added to the total amount refunded as an additional refund that does not apply to any particular part of the order (shipping, items, or tax). The amount entered cannot raise the total refun

[2016-02-04 06:04] dmitrii-fediuk commented on #3282
https://github.com/magento/magento2/issues/2439

[2016-02-04 06:05] dmitrii-fediuk commented on #3278
[How to fix the problem of loading css and javascript files](https://mage2.pro/t/259)

[2016-02-04 07:25] kandy commented on #3283
@dfediuk,  Thanks for reporting. Can I ask you describe in more details steps to reproduce and expected behavior.

[2016-02-04 07:34] davidverholen commented on #3249
ok then, if the magento/magento2-base only contains the base folder structure for the web app, wouldn't it be better to directly download it to the web root instead of first downloading it to vendor and then copy it there.

The approach of symlinking / copying the files is only a leftover of the magento1 installer where it was necessary to have all files at specific places in your web root

[2016-02-04 07:37] IceReaper commented on #2666
I managed to get around this after switching to PHP 7, did not manage to get around this on 5.6 - Runs perfectly on PHP7 in my case.

[2016-02-04 08:24] ktomk commented on #3108
@vancoz: Thanks for explaining. I can see your arguments here: https://github.com/magento/magento2/issues/2523#issuecomment-179415199 but I don't have the time for a full retraction right away. But for the (IMHO) most important point - authentication credentials - I miss to see how placing auth.json into the project directory isn't by far more superior in case then. As I already brought this up ea

[2016-02-04 08:39] scholtz commented on #3062
@davidalger The examples are in here: [Issue #2630](https://github.com/magento/magento2/issues/2630)

this thread is intended to get the answer from magento team if they plan to make from the feature of translation of content to make the competitive advantage over other eshop systems as their own or not.. but for this they need to make the translation of M2 correct, so it is also reminder for that

[2016-02-04 08:46] cgrechcw commented on #3263
+1

[2016-02-04 09:07] bojjaiah opened #3285 "how to extend .js and .html files in Magento 2"
I'm extending `customer address`for these I have to*\* modify/extend*\* `vendor/Magento/module-ui` core files.

**i.e**

`root/vendor/magento/module-ui/view/base/web/js/form/components/collection.js`

**and**

`root/vendor/magento/module-ui/view/base/web/templates/form/components/collection.html`

When I have modified core files it's working fine, But this is not good procedure/idea to extend.

So

[2016-02-04 09:39] sdzhepa commented on #3272
@AndreyChorniy Thank you for reporting this issue. We have created an internal ticket `MAGETWO-48761` to fix the problem.

[2016-02-04 09:46] cscd98 commented on #1326
@jameshalsall Sounds good, maybe I can extend it for Rackspace

[2016-02-04 09:48] shinethazhava opened #3286 "Import error"
![import](https://cloud.githubusercontent.com/assets/6826291/12811653/e4524366-cb53-11e5-810c-2a9c55b6717c.png)

Maximum error count has been reached or system error is occurred!
Following Error(s) has been occurred during importing process:
Only first 100 errors are displayed here. Download full report
General system exception happened
Additional data: SQLSTATE[23000]: Integrity constraint violat

[2016-02-04 10:07] kandy commented on #2989
We have created ticket MAGETWO-48760 to fix issue.

[2016-02-04 10:22] jwittorf commented on #1337
Any news on this topic? I just installed my first magento 2 and would like to change from LESS to Sass before making first changes to the luma-theme. Would be great to have a tutorial or step-by-step instructions. Am I on the right path saying that I'll need to install https://github.com/leafo/scssphp/ and then make magento use it like this https://medium.com/@jjmu15/swapping-less-for-sass-in-mage

[2016-02-04 10:24] andidhouse commented on #3206
Hi Chris,

we are facing also some problems migrating from 1.7.0.2 to 2.0.
Did you edit the table in the migrated magneto 2 database or the 1.7 one?
Many thanks!

"As a temporary workaround I updated the eav_entity_type table and set the additional_attribute_table column value to catalog_eav_attribute where entity_type_code = catalog_product."

[2016-02-04 10:40] cscd98 commented on #2805
@vrann Seems to have fixed it for me, thanks!

[2016-02-04 10:40] #2805 closed, assigned to nobody

[2016-02-04 10:42] quienti opened #3287 "Minicart no update with custom add to cart"
Hi!

I created my custom module for add a product to my cart, if I use my controller with this form :

`<form action="http://*********/test/cart/add/uenc/*******/product/471/" method="post" id="product_addtocart_form" novalidate="novalidate">`

My product is in my cart, but minicart is not update, and change page not resolve this problem.

But, if I change my form link with magento controller like

[2016-02-04 11:08] ishakhsuvarov commented on #3287
@quienti Thank you for your question.
Please try creating a `sections.xml` file in the `etc` folder of your module and configure it according to your needs, for example:

[code]

This would reload customer's minicart on each `POST` request to your controller. Basically, `action` node indicates controller path and `section` node defines which client-side content should be updated.
Caches have to be

[2016-02-04 11:11] julien30 commented on #3154
Hello,
I have the same problem with Magento 2.0.2
Server Deb8
PHP 5.6
max_input_vars -> 5000

I try with only 2 configurations

Julien

[2016-02-04 11:15] VLCSolutions commented on #2170
@AndriyNasinnyk We have found solution for this. When we change `magento\module-ui\view\base\web\templates\form\components\Collection.html`, `C:\xampp\htdocs\M2EE\vendor\magento\module-ui\view\base\web\js\form\components\Collection.js`, we are able change the addresses template file.

But how to override this files in standard way. We have tried with '`app\design\adminhtml\Magento\backend\Magento_

[2016-02-04 11:15] amansrivastava commented on #1326
@jameshalsall Looking forward for the implementation. This will help me alot in using S3. Thanks in advance. :)

[2016-02-04 11:46] slavvka commented on #2450
Hi @Litiano, the fix has been delivered to mainline (see 4956b2a).

[2016-02-04 11:46] #2450 closed, assigned to slavvka

[2016-02-04 12:07] quienti commented on #3287
Whoaa!
Awesome ! Thanks you !

[2016-02-04 12:07] #3287 closed, assigned to nobody

[2016-02-04 12:12] mbretter commented on #2655
encountered the same bug, any news on this?

[2016-02-04 12:13] ksz2013 commented on #2264
Any news on this issue?

Is it possible to include core standard less files into our custom module. I am having the same problem as well.

File path '../../source/lib/_responsive.less' is forbidden for security reasons.

[2016-02-04 12:32] ksz2013 opened #3288 "Import core less files in extension"
Hi,

Is it possible to include core standard less files into our custom module. I would like to use in my extension some predefined less variables, but i get the following message:

The path although is specified correctly:

Is this somehow possible, to use lib less files in the custom modules?

Thanks

[2016-02-04 12:38] chat2vignesh commented on #2919
Dear Friend,

Thank you very much for your reply,

Yes, it is happen in the clean magneto installation.  I am installed the magento with sample data only.
There is no other extension or themes installed.

This issue showing when i try to save Product Attribute or Save customer from admin side.

Error showing: Validate class not found from basename 'StringLength'

Thanks,

[2016-02-04 12:43] zanilee commented on #3226
Hi, @dfediuk!

Thank you for reporting this issue. Internal ticket MAGETWO-48772

[2016-02-04 12:49] OleksiyOleksiyovych opened #3289 "opFileXXXXXXXX is not defined"
1. Start to create order
2. Add to order product with custom option - input type is file
3. Try to update file. Click to button "Change"
   https://drive.google.com/file/d/0Bw3Wyc4ElUWNTnozZmtOcmhjSkE/

AR: we have error in console like "opFile875762837 is not defined"
ER: allow change file.

[2016-02-04 13:20] eug123 commented on #3267
Hi @mayhem-ahmad,

You can put whatever should be overridden to the:
`<theme_dir>/web/i18n/<locale>/css|images|fonts|js`
or in the context of some module in the theme
`<theme_dir>/<module_name>/web/i18n/<locale>/css|images|fonts|js`

For example:
1. Image
`app/design/frontend/Magento/luma/web/images/logo.svg`  - Default logo for default locale
`app/design/frontend/Magento/luma/web/i18n/de_DE/image

[2016-02-04 14:14] chris-brabender commented on #3206
@andidhouse I updated the new Magento 2 database.

[2016-02-04 15:01] mattyj714 commented on #3256
I fixed this issue and it was a php.ini issue.
For some reason when magento uploaded the CSV file it was joining both
sys_temp_dir and upload_tmp_dir
together.
By setting the system temp dir to the same as upload_tmp_dir it then uploaded.
This issue only happened on my WebMin/VirtualMin system and not a plain apache setup.

[2016-02-04 15:02] #3256 closed, assigned to nobody

[2016-02-04 15:21] rbaprado commented on #3276
Sure:

[code]

I am using the latest Magento version (2.0.2)

[2016-02-04 15:29] jalogut opened #3290 "Composer file not found when a custom vendor-dir is set"
Magento\Framework\Composer\ComposerJsonFinder::findComposerJson() expects the root composer.json file to always be one directory higher than vendor folder. However this is not true when a custom vendor-dir is specified.

Either this method is adjusted to work with any vendor-dir location or you should inform that a custom vendor-dir is not supported.

Regards

[2016-02-04 16:17] mazhalai commented on #3276
Please try on a supported OS of Ubuntu or Centos. It should be fine, but we haven't tested on other flavors of linux. Also, another suggestion is to try installing via [command line|http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html].

[2016-02-04 16:36] rbaprado commented on #3276
I do not have any other distribution here to test, but will try using the command line. I'll keep you posted.

[2016-02-04 16:57] webtekindo commented on #3263
+1

[2016-02-04 18:36] dmitrii-fediuk commented on #3283
![](https://mage2.pro/uploads/default/original/1X/d86c437f3f44903e28c1726540905de96eff8635.png)
![](https://mage2.pro/uploads/default/original/1X/83e83a57f303f26845313e651af49c920c8ac480.png)

[2016-02-04 18:38] rbaprado commented on #3276
It just gets weirder... Today, with the exact some procedure, the installation hangs at 71%:

[code]

[2016-02-04 18:42] ghost commented on #3276
I'm jumping into a thread without having read all of it but have you set your PHP `memory_limit` to at least 768M? Take a look at these [recommended settings](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone) and see if they help.

Also, between installations either delete your entire Magento 2 directory or at least the contents of directories under

[2016-02-04 20:38] rbaprado commented on #3276
Changing the memory limit did the trick as it seems. The installation went smoothly. Thank you all.

[2016-02-04 20:38] #3276 closed, assigned to nobody

[2016-02-04 21:03] alankent commented on #3288
Hi, This is an area for reporting bugs/issues with the product. The forums etc are the best place to ask such questions.

Having said that ;-), my suggestion to investigate is if you are in developer mode you might want to enable your web server to follow symlinks. I am guessing that is the security message. Not good in production, but it actually works well in dev.

[2016-02-04 22:01] alankent commented on #3038
You might get away by just deleting the directory. Did you try that?  There is a 'themes' table that gets lazily populated by theme names (when you go to the Admim page). So if you delete the Luma directory before you go to that page in the Admin, I think you should be fine. (Or write the one-line SQL script to delete the row from the table - that is what I was hoping the CLI command would do for

[2016-02-04 22:05] alankent commented on #3254
I am going to leave that one for the engineers closer to the code base sorry. Did you try to repeat in M2 GA? Is the problem still there? I agree that looks strange.

[2016-02-04 22:43] dmitrii-fediuk opened #3292 "The «Add Products Manually» («Select Associated Product») backend configurable products scenario wrongly allows to add only a single simple product at once, not multiple"
https://mage2.pro/t/599

[2016-02-04 23:54] dannymichel commented on #1380
The "--db-pass" option does not exist.

[2016-02-05 01:46] davidalger commented on #3261
@craigcarnell The reason this is closed is as stated above. The GitHub issue tracker is for bug reporting, and this is far from a bug report and rather clearly stated a technical question regarding a blog post.

I think it's pretty clear that Magento cares about performance, and will do what's necessary to resolve any performance problems that are found. If I gave a different impression than that

[2016-02-05 01:56] shuaiZend commented on #3286
a foreign key constraint fails

[2016-02-05 02:15] shuaiZend commented on #3260
![image](https://cloud.githubusercontent.com/assets/1478692/12836173/4f007cf8-cbf1-11e5-940e-3a34a96f33eb.png)

[2016-02-05 02:26] devdesco-ceo commented on #3038
yes, just deleting all "luma" directories helped.

[2016-02-05 04:58] forgeonline commented on #3028
Please add
date_default_timezone_set( ini_get('date.timezone') );
to bootstrap instead of UTC since most servers are Sync with there timezones.

I'm working on a Booking system, I'm having difficulty of making a timezone changes. Since time is always calculate as UTC (Unless I change it in the Models, Helpers or controllers)

Thanks

[2016-02-05 05:02] shinethazhava commented on #3286
After a  detailed investigation i found that when i import a product with a category after that i move the category into a another sub category then after perform the same product import getting these error

[2016-02-05 07:24] astorm opened #3293 "Less.js Implementation Should Only Apply to Resources with a Less Source File"
If a user enables client side Less compilation via `less.js` compilation via

[code]

Magento will render every CSS `<link/>` source with a rel="stylesheet/less"

[code]

This tells `less.js` that this link needs to be processed.  The static asset serving application (`static.php`) ensures that the source file `/some/css/file.css` will actually server the **less** source for this file.  All this i

[2016-02-05 08:04] Nuranto opened #3294 "Cannot get customer session data"
Event : `catalog_product_get_final_price`

I need the current logged in customer id.

On Observer :

[code]

=>

[code]

But I'm logged in in front, this is confirmed when using
 `$this->_httpContext->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH)`:

[code]

Is this a bug ? Or am I wrong somewhere ?

(Note : if I dump `$_SESSION`, customer_id is `NULL` too :()

[2016-02-05 08:36] ericahoekerd commented on #2971
this will works, filter on enityt_id > 0;

[2016-02-05 08:39] giangitman opened #3295 "Widget atomic type"
Hi,

I want create a widget.xml like that:
<parameter name="attribute_options" xsi:type="MT\Widget\Block\Adminhtml\Widget\Attribute\Option"  visible="true">
                <label translate="true">Attribute Options</label>
                <description translate="true">Select attribute options to show</description>
                <depends>
                    <parameter name="widget_type" value="a

[2016-02-05 08:43] ericahoekerd commented on #2861
tested again on 2.01 still no shipping address in the response

[2016-02-05 08:44] ericahoekerd commented on #2914
that is because we are using SOAP api not REST

[2016-02-05 08:44] eddielau commented on #1380
'--db-pass' has been renamed to '--db-password'. You can use '-h' to see a list of available options.

[2016-02-05 09:33] shinethazhava opened #3296 "moved element after before not working"
`
<referenceContainer name="header.panel">
            <block class="Magento\Framework\View\Element\Template" name="theme.nav.toggle" template="Magento_Theme::html/header/navtoggle.phtml" before="minicart" />
        </referenceContainer>
<move element="minicart" destination="header.panel" before="-" />`
Not render block content before minicart

[2016-02-05 09:55] ganey commented on #2412
+1 on not getting it to work on a shared hosting environment. Tried cPanel and plesk, and no luck, constant 403 errors due to file permissions

[2016-02-05 10:08] chicgeek commented on #3254
We're in the process of upgrading our project to GA. I'll check again when the upgrade is done and report back.

[2016-02-05 10:23] rohitgupta4 commented on #2861
Is there a rough ETA on when this would be supported?

[2016-02-05 11:37] Shento opened #3298 "Magento 2 installation error on Step 6: Install"
I'm installation magento 2 (Magento-CE-2.0.2) on live server i mean on cpanel but facing this error, i did everything according to magento 2 installation requirement but at the end i don't know how to solve this error.

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

![screenshot_1](https://cloud.githubusercontent.com/

[2016-02-05 12:32] Shento commented on #815
@buskamuza @mazhalai I'm installation magento 2 (Magento-CE-2.0.2) on live server i mean on cpanel but facing this error, i did everything according to magento 2 installation requirement but at the end i don't know how to solve this error.

Starting Magento installation: File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

![screenshot_1](https://cloud.g

[2016-02-05 13:27] shuaiZend opened #3300 "grunt error."
2.0.1
Error information:
`[root@localhost mybag.com]# grunt exec:shuai
Running "exec:shuai" (exec) task
Running "clean:shuai" (clean) task

Done, without errors.

Execution Time (2016-02-05 13:22:32 UTC)
loading tasks                316ms  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 89%
loading grunt-contrib-clean    7ms  ▇ 2%
clean:shuai                   30ms  ▇▇▇ 8%
Total 354ms

Processed Area: frontend, Lo

[2016-02-05 13:38] ishakhsuvarov commented on #2869
@mitulispace Closing the ticket for now, please reopen if the issue persists.

[2016-02-05 13:38] #2869 closed, assigned to nobody

[2016-02-05 13:53] ishakhsuvarov commented on #2019
Closing the ticket for now. Please reopen if the issue persists.

[2016-02-05 13:53] #2019 closed

[2016-02-05 13:54] ishakhsuvarov commented on #2082
Closing the ticket for now, please reopen if you have any updates.

[2016-02-05 13:54] #2082 closed

[2016-02-05 14:01] ishakhsuvarov commented on #2487
@ek0892 Closing the ticket for now, please reopen if issue persists.

[2016-02-05 14:02] #2487 closed, assigned to nobody

[2016-02-05 14:08] ils-rajnikantd opened #3301 "Magento EE 2.0 upgrade issue"
Hello I am trying to upgrade Magento EE 2.0 to 2.0.2 on my local windows machine using the command line. But during the upgrade process I am getting the following issue.

Please see the attache image.
![m2-update error](https://cloud.githubusercontent.com/assets/12799420/12848437/e97cda76-cc3f-11e5-8043-1ef08e08dfc8.png)

[2016-02-05 14:26] mazhalai commented on #3301
@ils-rajnikantd please do not post EE issue on github, please use the partner portal.  Also, did you checkout instructions [here|http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html]

[2016-02-05 14:26] #3301 closed, assigned to nobody

[2016-02-05 14:27] mazhalai commented on #3298
@Shento is there any error in `var/log`? Also please check apache and php logs.

[2016-02-05 14:27] choukalos commented on #2861
Known issue - tracking as (MAGETWO-46720) internally, scheduled for 2.0.3 patch release.  Patch release is TBD.  Dup of #2628

[2016-02-05 14:36] dynamogold-bkre opened #3303 "Error when creating language pack"
Using a clean 2.0.2 CE, I created an language pack doing the following in the magento root directory:
./bin/magento i18n:collect-phrases -o var/tmp/de_DE.csv -m ./
./bin/magento i18n:pack --allow-duplicates var/tmp/de_DE.csv app/i18n/DynamoGold/de_de/ de_DE

This results in an (silent) error. I found the following in the php_error.log:

[05-Feb-2016 13:59:31 UTC] PHP Parse error:  syntax error, un

[2016-02-05 14:37] ksz2013 commented on #3288
HI,

Understood, and it won't happen again ;).

My only question is that if it is possible to inherit somehow less files in custom modules, because from what I see currently the framework is not allowing us to do that.

The path is specified correctly although:

I know that web/css/source/_extend.less files from each module are parsed, but i would like to include a separate module and configuratio

[2016-02-05 14:44] joebusby commented on #3053
I just noticed that this is very similar to #3228 where the same error happens  with 2.0.2 due a large number of configurations.  Also maybe #3154
I have found I can work around (lot of work) the problem if I don't add any images during the generation of configurations, and then add them in later one at a time.  I think you need to add php memory and max variables to php.ini first to get it to wor

[2016-02-05 14:45] dynamogold-bkre commented on #3132
#3303 - having the same issue

[2016-02-05 14:48] deltab opened #3304 "Sample data installation fails with "Duplicate entry" error on setup_module table"
Running "magento setup:upgrade" can fail when the first sample data module is reached, with a database error similar to "Integrity constraint violation: Duplicate entry 'Magento_CustomerSampleData' for key PRIMARY in setup_module".

Executing "select \* from setup_module" in MySQL shows that schema_version is NULL for all the sample data modules.

File var/.sample-data-state.flag contains "error".

[2016-02-05 14:50] magnetic5355 opened #3305 "Encrypted fields issue - PayPal Payflow"
With PayPal Payflow gateway we are receiving the following error.
The PayPal gateway rejected the request. User authentication failed

We contacted the PayPal dev team for assistance and they tried their own credentials without success.

After diving into their logs they verified that the USER and PWD fields are being sent as garbage special characters : `ª¤ó

Ideas?

Environment: php 7.02, magent

[2016-02-05 14:59] deltab commented on #2457
It would be useful if the message said what "Magento compile command" means.
Is it `magento setup:di:compile`?

[2016-02-05 15:18] hws47a commented on #2798
@ilol looking forward to this update

[2016-02-05 15:53] thomasnordkvist opened #3306 "Error displaying price and summary on bundle product without input"
The price calculation is wrong and the summary doesn't display correct on bundled product when you have an option configured to be rendered without an input like this example:
![bundle-error](https://cloud.githubusercontent.com/assets/5768842/12851031/0acf6aa8-cc28-11e5-97d5-80cc447736b4.png)

It works ok if you configure so that all options have an input of some kind for example like this:
![bund

[2016-02-05 16:08] ruby10 opened #3307 "On creating shipment via rest API order status remains unchanged"
After creating order for an item with specified quantity , if shipment record for same is created via
"POST /V1/shipment/" ,(http://devdocs.magento.com/swagger/index.html#/ ),order status doesn't change to "Processing" from "Pending" as it is happening on creating shipment from Magento2.x back-end . Also in "Order information" data there is no info about shipped quantity whereas it shipped quantit

[2016-02-05 16:19] brendanmckeown commented on #3224
I am also seeing this error many times in the system log, running v2.0.2. What is the anticipated release date for v2.1.0 ?

[2016-02-05 16:23] mazhalai commented on #3224
@brendanmckeown please check `develop` branch. 2.0.2 only has essential patches, but develop is more up-to-date.

[2016-02-05 16:39] ohabash commented on #2677
how do i upgrade my mysql? I am using phpmyadmin with mamp locally

[2016-02-05 16:46] i-daszkowski commented on #3233
Thank you for reporting this issue. We have created an internal ticket `APPSEC-1337` to fix the problem.

[2016-02-05 16:49] eddielau commented on #3195
@lilmuckers Do you have config.php in app/etc? From the example it looks like you did not install Magento correctly. Please use `php bin/magento setup:install ...`, then run `php bin/magento deploy:mode:set production`. Deploy mode set command should run code compilation and static content deployment for you.

[2016-02-05 17:25] Shento commented on #3298
@mazhalai yes var folder create .maintenance.flag file

[2016-02-05 17:32] mazhalai commented on #3298
@Shento not just `var` directory, but `var/log`? Also, do you have access to command line? Can you run
`bin/magento deploy:mode:set developer` and try to install again.

[2016-02-05 17:36] eddielau commented on #3298
@Shento Also, please try to enable PHP error logging and see if anything is logged.
To enable it, in your php.ini file, add

[code]

Then restart the web server and reinstall Magento again.

[2016-02-05 17:37] Shento commented on #3298
@mazhalai i have WHM access but don't know how to use command line installation. can you please explain me command installation ?

[2016-02-05 17:38] Shento commented on #3298
@eddielau just rename the php.ini.simple file to php.ini but still has error.

[2016-02-05 17:43] Shento commented on #3298
I have found .htaccess file in setup folder

Options -Indexes
    RewriteEngine Off

Any idea about this ?

[2016-02-05 17:51] alankent commented on #3288
Yes. You can write your own Less files in your own module and import files from our library.  Reference a CSS file from the layout (using the <css> element in <head> of layout files). When you reference a .css file that does not exist and Magento finds a .less file with that name, we will compile the Less file for you. (You can use Grunt or Gulp as well.)

Yes, you have to get the relative path co

[2016-02-05 17:54] mazhalai commented on #3298
@shento more about CLI [here](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html) also, did you restart your server after making changes to php.ini and .htaccess?

[2016-02-05 18:01] Shento commented on #3298
@mazhalai no didn't restart server and still facing below error i don't know why this error coming  because everything is setup from WHM according to requirement and still facing below error ?

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

[2016-02-05 18:02] Shento commented on #3298
@mazhalai can you tell me about > File permissions check error ? why it's accor and how to solve it ?

[2016-02-05 18:44] ghost commented on #3298
If you're using shared hosting and your web server runs as the `nobody` user/group, please let us know. That could be the issue. Magento expects [file system permissions](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html) to be 770/660, which can be an issue in a shared hosting environment.

If the web server runs as `nobody`, it has no permissions to files and direc

[2016-02-05 18:52] Shento commented on #3298
@xcomSteveJohnson I have VPS for magento 2 installation and setup everything according of magento 2 installation, you can see in above screenshot at the end i mean in last step : 6 got error. tried with different process but nothing find for solution.

[2016-02-05 19:46] ghost commented on #2677
[Try this](https://dev.mysql.com/doc/refman/5.6/en/upgrading-from-previous-series.html). Be sure you're aware of upgrade issues (with MySQL).

Do you know where you got your 5.5 package from? Most likely the same repo has 5.6.

[2016-02-05 20:02] alankent commented on #3288
Sorry, I think I had an old window open and may have responded twice without remembering whole thread!

I grepped the code and found the "security reasons" message in our code. I need to work out what the security issue is. (You might be able to try Grunt or Gulp in the mean time to bypass our engine - but I have not tried that.)

[2016-02-05 20:03] dmitrii-fediuk commented on #3288
https://github.com/magento/magento2/issues/2264

[2016-02-05 20:08] alankent commented on #3288
Ah, thank you. Yes there are a few occurrences of the same problem I see. Let me dig a little - I want to know the answer myself.

[2016-02-05 20:15] astorm commented on #3293
This also seems to cause problems with stock Magento CSS.  If I enable client side less compliation in the backend, when the page reloads the configuration UI looks broken (see screen shot).  This appears to be the result of the static asset serving application serving up CSS instead of less file.

<img width="1221" alt="screen shot 2016-02-05 at 12 13 34 pm" src="https://cloud.githubusercontent.c

[2016-02-05 20:47] lilmuckers commented on #3195
we don't have a config.php

So you're saying i shouldn't just swap in the env.php - but instead run the install command on deployment?

okay, i'll give that a try.

[2016-02-05 21:08] dmitrii-fediuk opened #3308 "The attributes with «Yes/No» as a value of the «Catalog Input Type for Store Owner» option should be allowed as configurable options"
https://mage2.pro/t/461
Similar to https://github.com/magento/magento2/issues/3283

[2016-02-05 22:40] ghost opened #3309 "Error when I choose Weight = no"
Hello guys. New to Github, New to M2, New to bugs.

When I add a new "Configurable product" I need to choose "weight". Now, since I dont have weight for this product, I choose "Weight" = No.

When I create configurations for this product, i see it generates VIRTUAL products instead of SIMPLE products. The problem is I want SIMPLE products, even I do not have a weight (!).

After I load the product

[2016-02-05 23:06] eddielau commented on #3290
@jalogut Are you using Composer to deploy Magento? Currently custom vendor directory support is only available in develop branch of the git repo. It will be included in Composer deployed Magento in future versions.

[2016-02-06 01:32] shuaiZend commented on #3300
I fixed.coz php cant use symlink .
Open php.ini
find disable_functions
remove symlink
restart webserver.
grunt is okay!

[2016-02-06 01:34] cvpportraits opened #3310 "Downloadable Product M2 - max size?"
Hi, I'm having a horrible time trying to upload files for a downloadable item in Magento2 - I have my php upload settings, script timeout etc, all set plenty high enough etc. and the upload just never finishes - (only trying to upload 72MB) Watching my network activity, I can see the browser uploading the file, but then it just stops at a certain point, and will not upload further, which means I c

[2016-02-06 07:48] vikkymedia opened #3311 "Unable to install Magento 2.0.2 on WHM Cpanel"
I'm unable to install Magento 2.0.2 on WHM CPanel, it is stuck at 0%,

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Why im stuck at 0%.

[2016-02-06 08:20] digitalLumberjack commented on #2878
:+1: same here on paypal and on braintree with php 7 magento 2.0.2

[2016-02-06 08:27] vikkymedia commented on #3311
![checklist](https://cloud.githubusercontent.com/assets/7601119/12865686/9c2895e0-ccd9-11e5-9f3e-85dcf4c2b07a.png)

[2016-02-06 09:04] Shento commented on #3298
@mazhalai any idea about below error ?

Fatal error: Allowed memory size of 33554432 bytes exhausted (tried to allocate 12288 bytes) in /home/klikkapotek/public_html/vendor/magento/module-captcha/Observer/CheckUserLoginObserver.php on line 87

![screenshot_2](https://cloud.githubusercontent.com/assets/17082603/12865844/758f5314-ccda-11e5-941f-e41fdaf5cffb.png)

[2016-02-06 13:59] algostore opened #3312 "Class Magento\Framework\DB\QueryBuilderFactory does not exist after migration from Magento 1.8.1"
After successful migration from 1.8.1 to m2.0.2 I cannot get access to products in backend, because i am getting this error "Class Magento\Framework\DB\QueryBuilderFactory does not exist". Even I see my products in database.

M2 installed from git branch master and native Magento migration tool

PHP 5.6
Mysql: 5.6

[2016-02-06 14:12] arvenom opened #3313 "dev:source-theme:deploy symlinked theme not working"
The app/design/frontend/Vendor/Theme folder is symlinked outside of the magento install.
When running bin/magento dev:source-theme:deploy or bin/magento setup:static-content:deploy it will not use the symlinked files.
If I copy it over, it works.

[2016-02-06 15:43] cvpportraits commented on #3310
Found the solution it ended up being a post max size issue - (I had already fixed the max upload size, but not the post size)

(there's no upload status bar in the admin area, letting you know if it's even working or any errors, or anything, it just hangs if something isn't right.)

[2016-02-06 15:43] #3310 closed, assigned to nobody

[2016-02-06 15:52] mswaidan opened #3314 "Cart price rule - product subselection with category condition"
I'm trying to set up a cart price rule, such that if the user places X items from a certain category in their cart, the receive Y discount.

Currently, the discount is only being applied if the category specified in the condition is the store "Root Category", regardless of what category the product is actually in. E.g., product is in category 7, but the rule only works if the condition is set usin

[2016-02-06 16:34] mswaidan commented on #2947
It would be really fantastic if tiered pricing could be applied to configurable products. I want to be able to offer pricing tiers based on total quantities of a configurable product, not just quantities of individual products. E.g. if there is t-shirt available in red, yellow, blue, I want to be able to offer a discount based on 10 shirts of any color, not just 10 red shirts or 10 yellow shirts.

[2016-02-06 16:54] mswaidan commented on #3314
Found the issue: for cart rules based on categories to work, those categories must be children of the store root category. Perhaps add to the documents that categories MUST be children of the store root categories for them to function properly?

[2016-02-06 16:54] #3314 closed, assigned to nobody

[2016-02-06 17:37] bgkavinga opened #3315 "Varnish purge error"
In vendor/magento/module-page-cache/Model/Cache/Server.php following method creates uris for varnish cache purge. But here it does not set path correctly which make it to be invalid request in Zend\Http\Client\Adapter\Socket::write method. Correct cache purge should be looks like `PURGE / HTTP/1.1 X-Magento-Tags-Pattern: ((^|,)cms_page(,|$))|((^|,)cms_page_2(,|$))` but without correct path specifi

[2016-02-06 18:45] AYElsharif opened #3316 "Magento 1.9.2.3 with MySQL 5.5.4"
Hello,

Does Magento 1.9.2.3 work with MySQL 5.5.4 ?

Thanks in advance.
Abdulsalam

[2016-02-06 19:17] ghost opened #3317 "Notice: Undefined index: store_id error after deleting a store on 2.0.2"
After deleting a store my cms and static block pages have become unviewable under admin. Instead I'm left with the error below. I tried to reindex and delete any cache files I could find even though I'm sure this is a db issue.

[2016-02-06 20:31] alankent commented on #3316
This github is for reporting Magento 2 bugs - please use the Magento forums for CE 1.x questions. Thank you!

[2016-02-06 20:31] #3316 closed, assigned to nobody

[2016-02-06 22:30] dmitrii-fediuk opened #3318 "The \Magento\Catalog\Model\Indexer\Category\AffectCache and \Magento\Catalog\Model\Indexer\Product\AffectCache have 39 lines of code each but differs by a single constant (copy/paste)"
https://mage2.pro/t/467

[2016-02-06 23:29] dmitrii-fediuk commented on #3203
It was because of an extension.

[2016-02-06 23:29] #3203 closed, assigned to nobody

[2016-02-07 06:52] Shento opened #3319 "Magento 2.0.2 is automatically redirecting to localhost on live server"
Can any one help me here ?

After uploading magento 2.0.2 files to live server and import database to PHPMYAdmin now index is automatically redirecting to localhost where files has been transferred. I know it need to be change the URL path but didn't get the right place, In magento 1.9 changing path in database table (core_config_data table) but how to change the right path in magento 2.0.2 ?

You

[2016-02-07 07:26] Shento commented on #3319
At least found it, error has been solved :+1:

[2016-02-07 07:26] #3319 closed, assigned to nobody

[2016-02-07 07:45] MauroNigrele commented on #2530
Absolutely Agree

[2016-02-07 11:39] mariarti opened #3320 "Sample Data Installation "var/composer_home""
Hi,
I experience problem when try to add `composer config http-basic.repo.magento.com $PubKey $PriKey` into `var/composer_home` directory via CLI.
Even when I try to create empty file
`su - apache -c "cd $basepath$baseurl/var/composer_home/ && touch composer.json && composer config http-basic.repo.magento.com $PubKey $PriKey"`
directly after
`composer install && composer config repositories.magent

[2016-02-07 13:40] psol7 commented on #2121
I think it is a technical issue (bug) with M2.
Categories in layered are only rendered if Category in  has no children.
Layered category filter only shows non-anchored sub-categories, all is_anchor ones are not displayed.
Same with search results layered category.
This happen with the demo sample data as well as our migrated store from 1.9.01 (2000 categories in 4 levels). in our 1.9.0.1 all categ

[2016-02-07 14:42] ghost commented on #3298
Sounds like you need to increase [`memory_limit`](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-centos.html#instgde-prereq-timezone) in `php.ini`

[2016-02-07 15:28] ghost commented on #2457
Yes

[2016-02-07 16:08] stefandoorn opened #3321 "Put sample data in require-dev instead of require (composer)"
What is the reason the sample data is installed in the require part of composer.json? I would say it makes more sense to put it in require-dev, as it's mainly a development tool in my believe. If that makes more sense, I'm happy to make a PR. But there might be a very good valid reason to have it in there of course :)

[2016-02-07 16:51] ant-workaholic commented on #2770
Sorry, guys. It was fixed I reinstalled again and It seems is working now.

[2016-02-07 17:35] FoxtrotOscar2 commented on #2989
1 comment, 1 question:
Comment: exact same issue here - custom product options no longer showing up in product admin page AFTER I created an export. Reproduced this on another clean install (Add product --> add Custom Options --> save --> export, product options gone).

Question: Where can I find information on follow-ups/resolution for MAGETWO-48760?

[2016-02-07 17:44] binamandiri opened #3322 "Alt Text image product not working on 2.0.2"
Alt Text image product not working on 2.0.2  ??
if this cant work it's not good for SEO images product.

[2016-02-07 19:12] AurelienLavorel opened #3323 "Add enable/disable compare functionality"
Hello,

In v1 of Magento it was easy to disable compare functionality but now it take lot of time, can you add a yes/no configuration for that please ?

Regards,

Aurelien

[2016-02-07 20:07] sIiiS opened #3324 "Unable to translate cache.xml title and label"
Translation of the cache.xml file in the below path not working for me in "MCE 2.0.2"
path = `/vendor/magento/module-store/etc/cache.xml`

[2016-02-07 20:33] Vaseltior opened #3325 "When using client side less compilation, admin tabs appearance is broken"
Some parts of the back-office are then unavailable. Clearly, you can't use the back office when the client side compilation of less files is active.

[2016-02-08 00:33] dmitrii-fediuk opened #3326 "The official documentation should state that a «before» plugin could avoid declaration of unused last arguments"
https://mage2.pro/t/468

[2016-02-08 01:57] bogatyrjov commented on #2671
There should be a problem in steps 7,8. Delete contents of var/di, var/generation.

[2016-02-08 07:35] cchamikara commented on #3102
I'm experiencing the same issue , any updates on this ?

[2016-02-08 08:16] kandy commented on #3326
Thanks for reporting. Can I ask you use   https://github.com/magento/devdocs repo to submit issue about documentation?
I am closing this issue because it's not bug. Feel free to reopen issue if we missed anything.

[2016-02-08 08:16] #3326 closed, assigned to nobody

[2016-02-08 08:29] wouthoekstra commented on #2892
I'm experiencing the same issue for the rest API.

[2016-02-08 08:35] quienti opened #3327 "Exception when I save product in backend"
Magento 2.0.2

Exception in log

`Next exception 'ReflectionException' with message 'Class Magento\CatalogRule\Model\ResourceModel\Rule\CollectionFactory does not exist' in /home/magento2/www/vendor/magento/framework/Code/Reader/ClassReader.php:37
Stack trace:
#0 /home/magento2/www/vendor/magento/framework/ObjectManager/Definition/Runtime.php(44): Magento\Framework\Code\Reader\ClassReader->getCons

[2016-02-08 08:37] amenk commented on #3303
In https://community.magento.com/t5/Technical-Issues/Problem-with-i18n-translation-collection-command-PHP-Parse-error/td-p/24879 the user niro says, it is only happening with PHP7

[2016-02-08 08:45] twosg commented on #2170
Any update on this?

[2016-02-08 09:09] dannymichel commented on #1870
I've -R 777 var but am still getting the error

[2016-02-08 09:15] dynamogold-bkre commented on #3132
https://community.magento.com/t5/Technical-Issues/Problem-with-i18n-translation-collection-command-PHP-Parse-error/td-p/24879 reporting the same issue in the Magento forum

[2016-02-08 09:48] jalogut opened #3328 "getAbsolutePath returns wrong path when module is out of magento root path"
Magento new PSR-4 and registration.php features are great and allow to set modules out of the Magento root folder. This works smoothly for classes but it does not work when it has to find source files like .phtml, .js or .css.

The problem comes from the `Magento\Framework\Filesystem\Driver\File::getRelativePath()` method. If the module is out of the Magento root then the Magento root path is adde

[2016-02-08 09:54] jalogut commented on #3290
@eddielau Yes, I am using composer to deploy Magento but I am using latest official 2.0.2. I will git it a try with develop branch and let you know.

[2016-02-08 09:54] Vinai commented on #3328
Related: https://github.com/magento/magento2/pull/1490
That PR already contained a fix for the issue (along with fixing the behavior of `getRelativePath`), but unfortunately the PR was rejected, even though I also think the current behavior is broken and those methods should work also for files outside of the Magento base directory.

[2016-02-08 10:04] jalogut commented on #3328
Well, it is a pity that the PR was rejected. Hopefully Magento guys have an alternative solution to fix this issue.

[2016-02-08 10:37] katmoon commented on #3274
Possibly the same issue as #2989

[2016-02-08 10:51] MomotenkoNatalia commented on #3267
Hey @mayhem-ahmad !
Let us know if this works fine for you

[2016-02-08 11:25] alena-marchenko commented on #3305
Hi,

internal ticket MAGETWO-48387 is already created for this issue

[2016-02-08 12:16] kamilw-ed opened #3329 "setup:upgrade fails on Mageneto_Indexer step"
Hi!

I'm trying to build an automated deployment to our server with TeamCity and phing for Magento 2. Currently we're using CE version but soon we'll upgrade it to EE. Anyway, I have completed my set up but TC build fails when it comes to setup:upgrade command. All steps for the build are not important right now as my issue can be easily replicated on local (more on that in a moment).

In our BitB

[2016-02-08 12:26] iw0der opened #3330 "\n & other can break csv files for i18n phrases !?"
Hi,
I have the feeling that the .csv files generated by

`bin/magento i18n:collect-phrases -m --output=/tmp/phrases.csv ~/www`

breaking some of the rules of the csv files! I see, for example, that the sequences "\n" in the code are unfortunately interpreted and transformed into a LF into the csv file :-(

So, for example, when in **./vendor/magento/module-config/Model/Config/Structure/Reader.php*

[2016-02-08 12:33] michalbiarda commented on #2397
Hi,

The problem retured for me as well while trying to update to 2.0.2.

[code]

[2016-02-08 13:44] pallaboffice opened #3331 "In Authorize.net test mode, after order place page is not redirecting to success page."
In Authorize.net test mode, after order place page is not redirecting to success page.
All cache are enabled.

[2016-02-08 14:04] ranimstudios opened #3332 "magento 2 installation stops randomly"
Magento 2 installation stuck randomly. Sometimes at 68% or sometimes at 97

[2016-02-08 14:21] atishgoswami opened #3333 "Footer Miscellaneous HTML Not working"
I'm trying add a tracking code to a Magento2 using admin panel from

General -> Design -> Footer -> Miscellaneous HTML.

The data is getting saved properly, but it does not get displayed on the HTML (just before body closing tag).

I did a code base search for the config setting `absolute_footer` but could not find any reference of the system setting in the code.

[2016-02-08 14:23] hawksakr opened #3334 "get configuration values in CMS static block"
is there a way to get configuration values in CMS static block  like it was in Magento 1

[2016-02-08 14:33] mazhalai commented on #3329
@kamilw-ed I don't understand why you need to do both composer create project as well as git clone. can you please provide more details regarding that?

Also, installing in another place `B` which probably has different modules than in location `A`, and then  copying `B/etc/env.php` to `A/etc/env.php` will not work.You need to copy etc/config.php too and also have the exact same modules in both pl

[2016-02-08 14:33] mazhalai commented on #3330
@iw0der are you  using php7?

[2016-02-08 14:35] mazhalai commented on #3332
Check if your [max_execution_time](http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_70pct.html) setting is as [recommended](https://github.com/magento/magento2/blob/develop/.htaccess#L67).

[2016-02-08 14:39] iw0der commented on #3332
Hi,
I think it is the voracity of memory & time, which plays tricks; you need to changes the limits in php and anyway others are actually changed even within the code. So you will need to wait for a fix or take action manually on the code.

Partially, I will carry that could impact in php.ini (values from experience):

`php_value       memory_limit            768M`
`php_value       max_execution_t

[2016-02-08 14:44] iw0der commented on #3330
No: `Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips PHP/5.5.32` with `mysqlnd 5.0.11-dev - 20120503` clìent and `mysqld  Ver 5.6.29 for Linux on x86_64`.

Essentially a CentOS 7 to which was added a version of PHP and MySQL compatible with the software.

73s,
A.

[2016-02-08 14:54] donotdividebyzero opened #3335 "Can't login to any store when using plugin to Magento\Framework\Logger\Monolog addRecord method"
Hi!

When i'm using before plugin to Magento\Framework\Logger\Monolog addRecord method i can't login to admin panel or for that mater to any of frontend stores.

I've tried to plugin also to :
\Monolog\Logger
\Psr\Log\LoggerInterface

It's just clearing input fields and nothing is happen.

I know for sure that plugin as well as base method are executed.

There is no errors or any debug indication

[2016-02-08 16:37] okorshenko commented on #2630
@kkkonrad, thank you for reporting the issue. We have added support of javascript translations  and improved coverage for menu and ACL configuration. (please, see related commits)

Please, let us know if we resolved your initial use-case and we can close this issue.
Thank you!

[2016-02-08 17:11] FossPrime commented on #2523
Commit that addressed the issue:
1c086f3868b248affb1aef9181eb8bf3e0875b60

[2016-02-08 17:14] mazhalai commented on #3311
Check if your [max_execution_time](http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_70pct.html) setting is as [recommended](https://github.com/magento/magento2/blob/develop/.htaccess#L67). also see #3332

[2016-02-08 17:25] raybogman commented on #2881
@daim2k5 still have redirect loop in nginx and apache setup, using the latest release.

Apache: (here are different setups for apache2)

###### htacccess

Options +FollowSymLinks
RewriteEngine on

SetEnvIf Host ._mage2cookbook.com._ MAGE_RUN_CODE=default
SetEnvIf Host ._mage2cookbook.com._ MAGE_RUN_TYPE=store

SetEnvIf Host ._mage2cookbook.fr._ MAGE_RUN_CODE=fr
SetEnvIf Host ._mage2cookbook.fr._ M

[2016-02-08 18:51] rudenko-maksym commented on #2397
I faced the "The checksum verification of file failed ..." during _composer install_

[code]

[2016-02-08 19:00] davidalger commented on #3315
Duplicate of #2705

[2016-02-08 19:00] #3315 closed, assigned to nobody

[2016-02-08 19:43] atittandon opened #3337 "mangento2 setup on nginx with default lemp or magenx scripts fails permanently"
I dont want to hurt anyone but it was really frustrating that how can a preconfigured script fail after so many attempts. we are still not fully successful as the installation is stuck on php intl/xsl extension missing not found by magento installer pre requisite check (searching for the files for php 7).
Our system configuration.
IBM xserver 3650m3 with dual xeon server with 36 gb ram 73gb x5  sa

[2016-02-08 20:11] jstuardo opened #3338 "No way to update layout after changing something"
Hello...

I am creating a custom theme for Magento 2. I need to customize the layout existng in app/design/frontend/[Vendor]/[CustomTheme]/Magento_Theme/layout] whose name is default.xml.

I have changed it by adding and changing some things, however, changes are not taken into account. I always see the original layout.

I have disabled cache, however, just in case, I have flushed it but it was un

[2016-02-08 20:18] davidalger commented on #2705
The null byte in the request is not a bug in Magento/Zend code. I've verified it simply shows up that way in the varnishlog output if you don't include a path in the request. I tested by manually sending requests using telnet.

The culprit actually lies in the combination of the implementation of `\Zend\Uri\Uri::toString`, and the Magento code not explicitly setting a path. The `toString` method w

[2016-02-08 22:04] dmitrii-fediuk opened #3340 "The Multishipping::beforeSetShippingMethods() method has a wrong PHPDoc return type"
https://mage2.pro/t/491

[2016-02-09 05:04] VLCSolutions opened #3341 "Unable to override adminhtml product details template"
Working with magento2 and overriding adminhtml product details template file after referring [override](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-override.html#override) and [theme-inherit-templates](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-inherit.html#theme-inherit-templates).

I'm trying to override catalog/product/edit.phtml file

[2016-02-09 05:07] VLCSolutions opened #3342 "create customer attribute in magento2"
Unable to create a customer attribute which should show only in backend (admin panel) and should not show in frontend. I have not found any property set to show in adminhtml.
![customer_attribute](https://cloud.githubusercontent.com/assets/14070968/12908072/fb3c063e-cf18-11e5-9008-db164075e50a.png)

[2016-02-09 05:09] VLCSolutions opened #3343 "Setting width for dropdown [Select] in magento2 system configuration"
I have created a custom configuration same like Magento\Braintree\Block\Adminhtml\Form\Field\Countrycreditcard.php with some fields like

$this->addColumn(
            'field',
            ['label' => __('Field'), 'renderer' => $this->_getAttributesRenderer(),**'style' => 'width: 1000px'**]
        );

Now if I set width for column its not working

[2016-02-09 06:11] niknah commented on #3025
I didn't get an error, but it was blank with no errors.  It inserted this code...

<p>&nbsp;{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" products_count="10" template="product/widget/content/grid.phtml" conditions_encoded="a:1:[i:1;a:4:[s:4:`type`;s:50:`Magento|CatalogWidget|Model|Rule|Condition|Combine`;s:10:`aggregator`;s:3:`all`;s:5:`value`;s:1:`1`;s:9:`new_child`;s:0:``;]]"

[2016-02-09 08:36] kamilw-ed commented on #3329
Thanks for reply @mazhalai, I guess I need to provide more details into this issue.
I have created Magento 2 project using `composer create-project`, I followed all steps from Magento website. It downloaded the Magento stuff. I commited to our company's git repository only 2 files: composer.json and composer.lock. We decided to not keep Magento core files in the repo itself as they can be fetched

[2016-02-09 08:39] antboiko commented on #3323
Hi @AurelienLavorel , thanks for your inquiry. Could you please clarify what Magento versions did you compare?
Also, please give me more details about disabling process itself, how do you perform it?

Best,
Anton.

[2016-02-09 09:03] IceReaper commented on #2056
Joining in, in my case the "js-translation.json" file only contains"[]" and i cannot figure out why.

[2016-02-09 09:08] kuldip1 opened #3344 "Disgusting Magento 2 Layout and design"
Hi

Magento 2 CE disgusting to easy access all admin pages. It's take very long time to load becuase of jQuery Migration is loaded so. So please use magento 1.9 stable version to use.

[2016-02-09 09:16] niclashoyer commented on #2056
@IceReaper I didn't figure out why, either. As a workaround you can just delete it and rebuild for your locale, e.g.:

[code]

[2016-02-09 09:19] kodmaskinen commented on #3102
Workaround until fix is released: Override the `vendor/magento/module-tax/view/frontend/web/template/checkout/minicart/subtotal/totals.html` template and replace `display_subtotal_incl_tax` with `display_cart_subtotal_incl_tax`.

[2016-02-09 09:22] IceReaper commented on #2056
@niclashoyer thanks for the hint, but that also generated an empty array in the js-translation.json file. Magento 2.0.2 PHP 7.0, unmodified magento.

[2016-02-09 09:28] thomvanderboon commented on #2056
@IceReaper  Try this explanation: http://www.vanderboon.net/wiki/Install_Test_Magento_2_Translation

You also need an symbolic link

[2016-02-09 09:32] prasad8803 commented on #3344
it's true. Magento CE 2.0.2 and EE 2.0.2 admin pages taking too long time even we don't have records

[2016-02-09 09:49] rudik99 commented on #3103
Hi, not sure what the MX label is, but let me know if you need anymore info.

[2016-02-09 09:57] IceReaper commented on #2056
Did not work :/ As a workaround i manualy converted the de_DE.csv to the json - works till the bug is fixed.

[2016-02-09 10:55] rahulanand77 commented on #2619
Whenever we are creating product from Admin, it is doing an insert in "url_rewrite" table(magento2), after doing reindexing it is working fine on the front end. But when we are importing products from csv, then it is creating wrong url's like "catalog/product/view" etc. Even after reindexing its not working.

Also we have noticed, its not doing any insert in "url_rewrite" when doing reindexing. We

[2016-02-09 11:54] rklerck commented on #3180
I have the same problem!

[2016-02-09 12:26] IceReaper commented on #2831
Same problem here - but reindexing did not help. Version 2.0.2

[2016-02-09 12:27] mukdam commented on #1461
Hello,
I create custom order programmatic. But mini-cart have item

[2016-02-09 12:29] jsakars opened #3345 "Issues creating/updating simple product"
[code]

Known issues:
- `setStockData` works only for new product
- `addImageToMediaGallery` adds image as expected however:
  - image is NOT marked as "Base" in admin product edit view
  - image is NOT shown in front-end single product view
  - image is set only for default store view - it's not shown for other store views

[2016-02-09 13:46] grasdaggel commented on #3081
Same problem - fixes didn't work. Please advise how to fix asap, Updating is a _huge_ problem rn for most of our customers.

[2016-02-09 13:56] jsakars commented on #3345
@magento-team could You please look into this?

[2016-02-09 14:08] tkn98 commented on #2647
I have opcache and both values set to one (1):

[code]

I also get the following error message:

I assume it is in the same context as the reported one which I get as well:

Running phpcs on the command-line manually by specifying the standard does not show these false positives

I therefore assume this is a cache invalidation issue within Phpstorm itself. So I did _File_ -> _Invalidate Caches / R

[2016-02-09 14:21] benmarks commented on #3345
No need to tag us, we'll look into it :-)

[2016-02-09 14:26] brendanmckeown commented on #2882
This message eventually went away on it's own, without me changing any file permissions.  I'm now running 2.0.2.

[2016-02-09 14:26] #2882 closed, assigned to nobody

[2016-02-09 14:33] mazhalai commented on #3329
@kamilw-ed thanks for clarification. Closing.

[2016-02-09 14:33] #3329 closed, assigned to nobody

[2016-02-09 14:36] mazhalai commented on #3344
@kuldip1 and @prasad8803 have you setup varnish as [recommended](http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish.html)? Also, what mode are you in? developer or production? If there is a specific issue that we can fix, please post here.

[2016-02-09 14:39] mazhalai commented on #3081
Have you tried fixes mentioned [here](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html). These issues have been addressed for almost two weeks now.

[2016-02-09 14:47] aboutvale commented on #1675
+1

[2016-02-09 15:14] cescopag commented on #2951
I found are at least three ways titles are set:

**1) with title tag**

[code]

which doesn't translate

**2) with reference to page title**

[code]

which translates correctly,

**3) directy via PHP**

[code]

which translates correctly as well.

This is very confusing and need to be unified.

[2016-02-09 15:34] grasdaggel opened #3346 "Issue when importing CSV with empty rows"
When importing a CSV with a single empty row inbetween a lot of different, filled rows Magento only outputs "Columns number: "18" have empty headers" instead of "Columns number: "R" have empty headers".

This is just a minor spelling Bug, but I'd be better if Magento shows the character of the column instead of the number, for visibility purposes.

[2016-02-09 17:39] pcgamesplus opened #3347 "\"

[2016-02-09 18:41] #3347 closed, assigned to nobody

[2016-02-09 19:19] scholtz commented on #3330
I think it is not a problem.. http://php.net/manual/en/function.fgetcsv.php can handle this...

problem might be only if you are first splitting on new lines, and then look for data

[2016-02-09 19:46] eddielau commented on #2478
Issue will be fixed in internal bug ticket MAGETWO-47704

[2016-02-09 20:04] Amnonsha commented on #3298
getting same problem on VPS 3GB ram at godaddy.

on my var/log/ :

<span class="text-info">Starting Magento installation:</span><br><span class="text-info">File permissions check...</span><br><span class="hidden">[Progress: 1 / 362]</span><br><span class="text-info">Enabling Maintenance Mode...</span><br><span class="hidden">[Progress: 2 / 362]</span><br><span class="text-info">Installing deployme

[2016-02-09 20:09] eddielau commented on #3298
@Amnonsha Can you please try this https://github.com/magento/magento2/issues/3298#issuecomment-180458626 ?

[2016-02-09 20:17] mazhalai commented on #3298
@Amnonsha please check you php.ini, is the intl extension enabled?

[2016-02-09 20:19] Amnonsha commented on #3298
@eddielau

added to php.ini:
log_errors = 1
error_log=/var/log/error_log_text

restarted apache
"error_log_text" file not created.

any ideas?

[2016-02-09 20:22] Amnonsha commented on #3298
@mazhalai - yes , it is set up on my php.inf

[2016-02-09 20:23] mazhalai commented on #3092
Internal tracking ticket MAGETWO-48291

[2016-02-09 20:30] eddielau commented on #3298
Is your hosting environment Windows or *nix? If latter you will have to comment out the line in php.ini which includes intl.dll

[2016-02-09 20:32] Amnonsha commented on #3298
@eddielau

its unix . so should I remove the intl extension ??!!!!

[2016-02-09 20:35] Amnonsha commented on #3298
@eddielau

I removed the intl extension line.... that didnt help.

 please see
[error_log.zip](https://github.com/magento/magento2/files/123751/error_log.zip)
I uploaded the error log. please take a look. I get memory size messages,  but its 3GB Server - shoudl be enough.

 any idea mate?

[2016-02-09 20:36] eddielau commented on #3298
Did you restart your web server?

[2016-02-09 20:37] Amnonsha commented on #3298
yes . apache restarted every time.

[2016-02-09 20:39] eddielau commented on #3298
Can you share your php.ini file?

[2016-02-09 20:42] Amnonsha commented on #3298
I need your help , using PuTTY , how do I download the php.ini.

by the way: just cleared my log file and tried again. getting single error line:
[09-Feb-2016 20:40:16 UTC] PHP Fatal error:  Allowed memory size of 33554432 bytes exhausted (tried to allocate 3072 bytes) in /home/qlear2016/public_html/vendor/magento/module-media-storage/Helper/File/Storage/Database.php on line 258

can it be that mo

[2016-02-09 20:49] Amnonsha commented on #3298
@eddielau

please see at:
http://qlear.co.il/phpinfo.php

[2016-02-09 20:55] Amnonsha commented on #3298
I got this working!!!!

changed php.ini memory alocated size.

I guess magento script is way to long for VPS servers

its running now ..... damm , I am good :-)

php.ini:

max_execution_time  600
max_file_uploads    20
max_input_nesting_level 64
max_input_time  600
max_input_vars  1000000

[2016-02-09 21:04] dmitrii-fediuk opened #3348 "The Multishipping::beforeSetShippingMethods() method can be simplified by removing unused $methods argument"
https://mage2.pro/t/490

https://github.com/magento/devdocs/issues/516, https://github.com/magento/magento2/issues/3326
See also: https://github.com/magento/magento2/issues/3340

[2016-02-09 21:07] Amnonsha commented on #3298
ok , got it installed , but look at this probelm , the theeme is not loading. any idea?
http://qlear.co.il/
same thing on the admin backend

[2016-02-09 21:18] mazhalai commented on #3298
Can you check file permissions on `pub/static`? does webserver have access to those files? if you have access to command line please run `bin/magento setup:static-content:deploy`

[2016-02-09 21:36] Amnonsha commented on #3298
amazing,  this worked. thanks @mazhalai

[2016-02-09 21:44] mcera opened #3349 "An error occurred during backup"
An error happened during backup of file system and data base.
SHELL: magento setup:backup --code --db

PHP Fatal error:  Call to undefined function Magento\Framework\Archive\Helper\File\gzopen() in /var/www/dev.magento/public_html/vendor/magento/framework/Archive/Helper/File/Gz.php on line 25

[2016-02-09 21:49] Amnonsha commented on #3298
@mazhalai I was rushing too fast.
I did get it all installed , but now it dosent work properly

admin is showing but nothing works. links are no working and admin is totaly dead. just seeing the first page.

any more great ideas?

[2016-02-09 21:54] mazhalai commented on #3298
@Amnonsha can you please be specific about what doesn't work? css and js dont load? or something else?

[2016-02-09 21:57] Amnonsha commented on #3298
take a look :
qlear.co.il
http://qlear.co.il/admin_rkcjlw
user:qlear_admin
pass: }B_bP!-(1qQH

* I will later change all users and passwords - its an empty site for now

[2016-02-09 22:02] benmarks commented on #3298
@Amnonsha **Please _do not_ post credentials here regardless of the circumstances.**

[2016-02-09 22:03] mazhalai commented on #3298
Check all file permissions again, looks like all in pub static are giving a 404 error.

[2016-02-10 05:14] Vikasdeveloper opened #3350 "File Permission Issue"
http://awesomescreenshot.com/0de5mb3s88
I am getting 403 forbidden issue every time in the magento backend. I have already set permission of "pub" folder to 755 and file in this folder to 644.
But Still getting this error.

I have also tried to set File system permissions and ownership. But still not working.

Please fix this issue.

Thanks

[2016-02-10 05:21] #3285 closed, assigned to nobody

[2016-02-10 05:35] bojjaiah opened #3351 "not working extending products page in MEE, MCE ver 2.0.2 & 2.0 (Magento 2 ver 1.0.0-beta is working)"
Hi Magento Team,

I'm extending products page in Magento 2 ver 2.0 & 2.0.2 (MEE & MCE) and my custom code is showing in `products new/edit` page, but when I'm saving product it's not saving like it's hanging.

Previously I'm implemented same functionality in Magento 2 ver 1.0.0 beta it's perfectly working.

Can you please suggest me on this issue ASAP. Because I'm working on extension.

[2016-02-10 05:38] bojjaiah commented on #3351
@magento-team Can you please look on this thread.

[2016-02-10 06:09] Amnonsha commented on #3298
hi @mazhalai I got my magento 2.02 permissions messed up. how can I fix it?

i tried this , but still dosent work:

find . -type f -exec chmod 644 {} \;
find . -type d -exec chmod 755 {} \;
chmod +x mage

[2016-02-10 07:20] samy-m-dev opened #3352 "Configurable Price Range (feature request)"
It should be nice to have an option in Admin to display price range for configurable products instead of only displaying the minimal price.

50$ - 90$ (minimal price) - (maximal price)

That range may be display on the product listing, and on the product page when no options selected yet

I beleive many companies have use cases on which they use the configurable product type, but price may vary a

[2016-02-10 08:00] samy-m-dev opened #3353 "When use Special Price the Regular Price for Configurable product not dynamically update"
When we use a Special Price on the simple products that are part of a configurable product, on the configurable product page the Special Price is correctly update with Javascript, but the Regular Price is not update by Javascript.

![select conf](https://cloud.githubusercontent.com/assets/16412622/12941624/48885cca-d00f-11e5-9f81-b81e849b13f8.png)

[2016-02-10 08:06] kodmaskinen opened #3354 "Updating a product through the REST API removes category associations"
Let's say that I want to update the price on a product with SKU `12345`. I do a PUT request to `/rest/V1/products/12345` with the following JSON body:

[code]

This causes category associations to be removed for this product. I'm assuming that this is a bug (and not a feature) since categories are the only effected product property (except for the price, of course).

[2016-02-10 09:12] iw0der commented on #3330
I am not very much agree; probably not all programs that work with csv support this splitting across multiple lines; I would find more linear store \n, \t or other as they are in the original texts; not least because one can see well \t or \n or \b rather than the equivalent "real" (I'm so legacy!?).

Well, if we skip this there are other problems with some strange sequences of quotes, maybe not e

[2016-02-10 09:54] cescopag opened #3356 "XML syntax to change block's template"
### Summary

Documentation claims that it is possible to change a block's template by the following layout update:

[code]

But It doesn't work.

Using **`action`** node, instead of **`arguments`** node, works fine:

[code]

Source:
http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-manage.html#set_template

### Preconditions (*)

1. Magento 2.3-develop
2. PHP 7.2

### Steps to

[2016-02-10 10:10] arkadiych commented on #2757
Seems WebserviceX Currency Convertor is out of order.

Related stackexchange issue http://magento.stackexchange.com/questions/91292/currency-rate-not-importing-correctly-from-webservicex.

[2016-02-10 10:38] erikmulder opened #3357 "flash messages not showing"
Magento ver. 2.0.2

After an upgrade from version 2.0.0 to 2.0.2 the flash messages stopped working. When for example I
subscribe to a newsletter I don't see any messages, unless the customer has a quote. In other words
flash messages are shown when there is a product in the cart, but when the cart is empty all the
messages ares suppressed.

[2016-02-10 11:19] serzhik commented on #3242
@dnsahoo, can you show your browser console errors?

[2016-02-10 12:11] janghwan opened #3358 "How to set up development environment in Mac OS X?"
I'm trying to develop Magento 2 website with my Macbook. I tried to set up local development environment using Vagrant which i used to use for other projects.
But the problem is, shared folder performs really bad for M2 project since there are so many files that Magento reads/writes to shared source folder (which has `pub` and `var` etc. in it)
So it seems impossible to use Vagrant and shared fold

[2016-02-10 12:37] sunilit42 commented on #1817
Hey,

any news how to disable block from caching?

[2016-02-10 12:48] cchamikara commented on #3358
try http://www.magestead.com/

[2016-02-10 12:55] hws47a commented on #2798
Sorry @ilol, do you have updated info about a release date?

[2016-02-10 13:14] kodmaskinen commented on #3354
Having looked at this issue a bit more I noticed that the `initialize` method in `Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper` sets `category_ids` to an empty array if `category_ids` is not already set in the product data.

If I replace the `foreach (['category_ids', 'website_ids'] as $field) {` line with `foreach (['website_ids'] as $field) {` things seem to work as expecte

[2016-02-10 14:29] joebusby opened #3361 "Change Weight not available when updating product via Catalog / Filter /Update Attributes"
The Checkbox to allow a Weight change in selected products is inside the edit box, so It seems it can't be checked to allow weight changes on selected products.  Both Chrome and FireFox

![weight](https://cloud.githubusercontent.com/assets/16857667/12949844/22e5cc1e-cfd8-11e5-89c6-45a3ab1ea332.JPG)

I tried clearing all caches, to no avail.

It turns out that you can get past the inability to clic

[2016-02-10 14:43] whizkid79 commented on #2617
Same issue here, but I can't get anyone activated, even by filling out the form again, like described above it is still not working.
I wouldn't call that an improvement, that is a bug to be fixed!

[2016-02-10 14:52] jsakars commented on #3358
@janghwan I am using Mac OS X and Vagrant for Magento2 + PHP7 development with NFS shared folder(which obviously holds the source code) - works fine

[2016-02-10 15:15] mazhalai commented on #3298
@Amnonsha please refer to [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html) and  [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)

[2016-02-10 15:19] Eroan commented on #3059
Same issue there..

[2016-02-10 15:25] mazhalai commented on #3059
Have you followed instructions posted [here](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html)

[2016-02-10 16:15] ilol commented on #2798
Hi, unfortunately I missed with date. Give us more one week.

[2016-02-10 16:26] dnsahoo commented on #3242
Hi Serzhik,

I am here with attaching screenshot of my browser console. There is a warning message, no errors.

![consolr_magento2](https://cloud.githubusercontent.com/assets/1394129/12953552/f5cb290e-d040-11e5-8d5e-5b961bd9967e.jpg)

[2016-02-10 16:32] pavlindrom commented on #760
We're currently validating an extension for Magento 2 where we have a products api sync and this issue is causing us to miss data. I hope to resurrect the ticket (it's almost a year since it's been "acknowledged", and as of 2.0.2 there is no change.

We are considering adding a observer to the update action, and set the updated_at for all the affected products, but as it will be hacky, we'd rather

[2016-02-10 17:03] werdlv commented on #3345
While playing around setting `$product->setStoreId(0)` I noticed that image does get set correctly except it gets marked as "Hide from Product Page"

[2016-02-10 17:26] serzhik commented on #3242
@dnsahoo errors on pages that do not work, please.

[2016-02-10 18:00] dnsahoo commented on #3242
I did not get any page with error. Except Dashboard (after running your command), all the page design gets break.

[2016-02-10 18:14] jusemjo opened #3362 "Dependent Custom Options crashing Magento"
Hi all,

we've set up our store with Magento 2.02 recently. We tried all available extensions for dependent custom options available for Magento 2. With every extensions we get the following error you can see below. This error occurs after 200 to 250 custom options.

[code]

Most likely this is a Magento issue not an extension issue.

Regards and a huge thanks Jule

[2016-02-10 18:22] jusemjo commented on #3362
Just c&p the error message:

a:4:{i:0;s:148:"Warning: Invalid argument supplied for foreach() in /var/www/magento/vendor/magento/module-catalog/Block/Product/ProductList/Related.php on line 129";i:1;s:3751:"#0 /var/www/magento/vendor/magento/module-catalog/Block/Product/ProductList/Related.php(129): Magento\Framework\App\ErrorHandler->handler(2, 'Invalid argumen...', '/var/www/magent...', 129, Arr

[2016-02-10 18:26] davidalger commented on #3362
@jusemjo Do you run into the issue without these extensions installed? I would suggest reporting this to the module vendors. Their module names aren't referenced in the backtrace, but my guess is if this only occurs when their module is installed, it has something to do with the manipulations they are making to products, causing an issue in the related products processing later on down the line.

[2016-02-10 18:43] jusemjo commented on #3362
@davidalger Thanks for your answer.
Actually I can not really verify if this error occurs without the extension installed because I can not set up any dependent custom options without an extension.
If I disable the extension the product gets shown regularly. But it also gets shown regularly if use less than 200 dependent custom options - that's why we assume it has something to do with Magento as

[2016-02-10 18:46] mayhem-ahmad commented on #3267
Hi @eug123  @MomotenkoNatalia

I tried to override the logo but it didn't work, so i placed it in
vendor/vendor name/theme name/web/i18n/ar_SA/images/logo.png

I tried the same thing with styles, i placed it in
vendor/vendor name/theme name/web/i18n/ar_SA/css/style-l.css
again it didn't work.

note: i'm adding the "ar_SA" as a store view, is there a new way in magento 2 to add new language to the

[2016-02-10 18:53] davidalger commented on #3358
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-10 18:53] #3358 closed, assigned to nobody

[2016-02-10 19:01] davidalger commented on #3351
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free