[2015-12-28 20:30] dmitrii-fediuk opened #2830 "Propose the specify the RAM requirements per a PHP process (768M) in the official «System requirements» page"
I propose to specify it here: http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html
For now, there are not so clear mentions on a particular Unintu and CentOS pages:
- http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone
- http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-centos.html#instgde-prereq-timezone

[2015-12-28 21:12] syntaxwanderer opened #2831 "Customers grid is empty"
I try to to add new a customer programmatically. But after I can not see any users in admin panel. Ok, I used registration form. And it does not work too. I tested it for 2 stores with magento 2 latest version. All ok for my older instalation of magento ver. 1.0.0-beta.

[2015-12-28 21:25] syntaxwanderer commented on #2831
So sorry I got it. php bin/magento indexer:reindex helped. But reindex in Admin panel does not helped.

[2015-12-28 21:48] srenon commented on #2830
Try editing https://github.com/magento/devdocs/blob/develop/guides/v2.0/install-gde/system-requirements.md and create a PR

[2015-12-28 22:52] serzhik commented on #2614
I have same problem.
@mazhalai, your comments didn't work for me.

Apache says:
::1 - - [29/Dec/2015:00:46:12 +0200] "OPTIONS \* HTTP/1.0" 200 - "-" "Apache/2.4.6 (CentOS) PHP/7.0.0 (internal dummy connection)"

[2015-12-28 23:16] astorm opened #2832 "Interception doesn't Work with the `Magento\Framework\App\StaticResource` Application"
The attached extension contains the following di.xml configuration.

[code]

When processing a request from the main Magento application (`index.php`/`pub/index.php`) this `di.xml` works.  An interceptor for `Magento\Framework\Filesystem\Driver\File` is created.

However, when processing a request for the static asset serving application `pub/static.php` this `di.xml` does NOT work.

It's not clea

[2015-12-28 23:18] dmitrii-fediuk commented on #2295
https://community.magento.com/t5/Technical-Issues/Adding-Products-Meta-Desc-Bug/m-p/25035

[2015-12-28 23:25] jstuardo opened #2833 "Vimeo videos are note stored"
Hello...

I add vimeo videos to a product. Videos appear in backend, but when i save the product, product is actually saved, however, when I go to edit the product again, videos are not there, and in fact, videos are not shown in front end.

Please check it.
Thanks

[2015-12-28 23:28] paolobasso99 commented on #2826
DUPLICATE ---> https://github.com/magento/magento2/issues/1369
I'm sorry about that but this issue is a duplicate.

[2015-12-28 23:28] #2826 closed, assigned to nobody

[2015-12-29 05:00] markshust commented on #1138
If anyone else comes across this post.....

`./bin/magento deploy:mode:set production`

[2015-12-29 09:30] rakeshpatel27 commented on #2809
I have same error arrive after migrates data magento 1.9.2.1 to magento 2.0.0 version. Admin Product page open with above same error.

[2015-12-29 10:26] michsk commented on #2750
@chrissm79 you probably get the issue because your reindex settings are set to "After save". So you save your product and the reindex starts. Im not sure what file it was in, but there is a `yield` somewhere in the reindexer code, it breaks on that yield.

[2015-12-29 11:00] qmarlats commented on #2463
No, the bug is in stable version.

[2015-12-29 11:26] suneet-magento opened #2834 "Unable to save the value of custom field for customer module."
I have created a new filed in customer_entity table and unable to save the value of newly created field. Can you please suggest me something on this?

[2015-12-29 16:35] mazhalai commented on #2454
Is it possible this is a PHP7 issue? We are unable to reproduce this issue. We tried with Nginx 1.6.2  and compiled PHP 7 GA. There have been other issues with PHP7, possibly when using a repo, see #2750 and #2827. Another suggestion is to clean your session save path.

[2015-12-29 16:51] markshust commented on #2454
I believe this is all fixed, as I haven't received the issue in a while. I'll close it up for now. Thanks!

[2015-12-29 16:51] #2454 closed, assigned to nobody

[2015-12-29 17:09] pcobas commented on #2825
Thanks, it worked.

[2015-12-29 17:09] #2825 closed, assigned to ishakhsuvarov

[2015-12-29 19:42] piotrekkaminski commented on #2630
Related issue - please use MAGETWO-43958 to test. cc @mazhalai

[2015-12-29 21:25] ci2014 commented on #2731
Hi,

after all that work, still clicking some pages the first time, the CPU usage of apache goes up to 98.2 percent. I have tested it on several instances and the problem occurs on all of them.

The servers are t2.large instances on amazon ec2, so they are powerful enough to perform magento 2.

Edit: The Magento user is shop, and the web server group is apache.

Some folders are created as apache:

[2015-12-29 21:34] dmitrii-fediuk opened #2835 "The fields with type='checkbox' are misaligned in the backend «Stores» → «Configuration» section"
https://mage2.pro/t/332

[2015-12-29 22:47] mazhalai commented on #2700
@smaadjahangir A fix has been merged. Please try on the `develop` branch.
Closing this issue since it has been resolved. Please feel free to open a new one in case you run into any more issues.

[2015-12-29 22:47] #2700 closed, assigned to nobody

[2015-12-30 03:22] tigerx7 commented on #1691
I second the ability to make the phone number field either optional or required. Yes, some shipping couriers require it, but others do not and it becomes a potential for an abandoned cart. In the US, UPS/Fedex require a phone number, but as far as I know, I've never heard of them calling ahead. USPS does not require a phone number. When a customer does not provide a phone number, then usually the

[2015-12-30 05:46] Khaleel commented on #2816
Try running the Magento Minification tool in the admin panel. Then check your front end. Then if it works then turn off the minification tool as this will and should insert the correct URL inside the variable and all pages will have the new URL. Sounds loopy I know!

[2015-12-30 07:54] klongithub opened #2836 "When creating new module in magento 2....issues occur"
Hello,

When I create a new module in magento 2 & then when I visit frontend or admin then it gives this error:
Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
Magento_Hello schema: current version - none, required version - 0.0.1
Magento_Hello data: current version - none, required version - 0.0.1

Though schema &

[2015-12-30 08:51] Bravarg opened #2837 "Visibility of rating can't be saved."
Hello,
![screenshot_70](https://cloud.githubusercontent.com/assets/11926404/12048345/ee5eded8-aee2-11e5-8935-7694193889a7.png)

When I try to save rating visibility to a few stores, I receive transaction rollback, because of method array_keys (on screenshots) and array_diff_assoc instead of array_diff .
![screenshot_72](https://cloud.githubusercontent.com/assets/11926404/12049034/03e10710-aeeb-11e

[2015-12-30 08:53] tranductrong92 opened #2838 "Mage::getSingleton('cataloginventory/stock')->registerItemSale($orderItem) registerItemSale to reduce stock in magento when order in magento2?"
Mage::getSingleton('cataloginventory/stock')->registerItemSale($orderItem). registerItemSale to reduce stock in magento when order in magento2 ?

[2015-12-30 09:29] kandy commented on #2838
\Magento\CatalogInventory\Model\StockManagement::registerProductsSale method used in M2 to reduce stock on order placement.

[2015-12-30 09:30] kandy commented on #2838
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-30 09:30] #2838 closed, assigned to nobody

[2015-12-30 09:48] rav-redchamps opened #2839 "Product URL issue with setting "Use Categories Path for Product URLs" set to 'Yes'"
**Issue Description:**

When we have two store views assigned to a store and we turn on setting  "Use Categories Path for Product URLs" then product URL for first store view became non seo friendly like below:

http://local.magento2.com/index.php/catalog/product/view/id/1924/category/28/

**Steps to replicate:**

1) In clean installation of Magento 2.0 create new store view for example "New Store

[2015-12-30 10:10] le0n4eg commented on #2833
Thanks for reporting this issue! Internal ticket MAGETWO-47490

[2015-12-30 10:46] slavvka commented on #2834
Hi @SnVan. Could you please provide more details? How did you create a new field? Did you add it as a static EAV attribute? How do you try to save a value? Do you use model or data object?

[2015-12-30 10:51] SnVan commented on #2834
Hi @slavvka, no I didn't add it as a static EAV attribute, I just add a new column in customer_entity table. I'm trying to save/retrieve the value of this custom field through getter setter. Can you please suggest the right way to save it?

[2015-12-30 10:57] paliarush commented on #2757
Thanks for reporting this issue! Internal ticket MAGETWO-47492

[2015-12-30 12:09] prejauw opened #2840 "No products-import under CMS > system > import > Entity Type"
My version of Magento is ver.2.0.0. I would like to import an CSV with products data.

Like I have seen earlier in tutorials, there is an option "product" to pick from in system > Import > Entity Type.

But I only see": - Advance Pricing - Customers and Addresses - Customer and Main file - Customer Addresses

[2015-12-30 12:49] antboiko commented on #2839
Hi @ravinders-121 , thank you for your inquiry. Please provide me some details. Is it the same one product and category you are accessing with these two URLs?

[2015-12-30 12:50] suneet-magento commented on #2834
Hi @slavvka, I have added the static EAV attribute and I'm able to save it from Magento backend but not from the frontend. Can you please suggest how can I save it from frontend?

[2015-12-30 12:55] rav-redchamps commented on #2839
Hi @antboiko

This issue is for all categories and all products after you follow steps under section 'Steps to replicate:' in my initial comment.

The two URLs I specified are of same product one is SEO friendly(available on newly created store view) and other is not (available on default store view).

Please free to let me know in case  you need any further details.

[2015-12-30 13:58] aboutvale commented on #2476
I've the same problem described by @johnbendi.
This is a very interesting feature for extensions developers.

[2015-12-30 15:11] jrosell commented on #1473
Same issue here. Finally i found it was caused by some extensions. For exemple I can reproduce the problem using https://chrome.google.com/webstore/detail/see/dkihcccbkkakkbpikjmpnbamkgbjfdcn

[2015-12-30 16:22] rokity opened #2841 "Magento 2 Setup folder"
Hi

In Magento 2 module the "Setup" folder exist or is deprecated?
I want to know this because I want to know if when magento install the module , that runs the php file inside "Setup" folder.

Thank

[2015-12-30 16:27] bgkavinga opened #2842 "Logic failed for arrays in CatalogSearchModel/ResourceModel/Fulltext/Collection::addFieldToFilter"
CatalogSearchModel/ResourceModel/Fulltext/Collection::addFieldToFilter

[code]

In IF condition it is checking !in_array(key($condition), ['from', 'to']), which evaluate to FALSE if $condition is a array.
Eg:
$condition=[12,13];
!in_array(key($condition), ['from', 'to']) is evaluate to FALSE because key($condition) return 0 and in_array(0,['from','to']) returns TRUE since 0 is the index of 'from'.

[2015-12-30 16:30] MomotenkoNatalia commented on #2814
@mitulispace do you still have an issue?

[2015-12-30 16:34] wanpower commented on #2630
It could be a hard-to-fix issue, currently i18n:collect-phrases only extract phrases from given token with the i18n format __('phrase') for php/phtml files, and translate="true" for xml files.
This works well for the most cases, but when the target phrase was not listed in any file with the specific syntax, it will be missed by the command.
A workaround is to maintain an appendix dictionary and ex

[2015-12-30 16:35] mrkhoa99 commented on #2841
You can find under root folder: _root_folder/setup_

![setup folder](https://cloud.githubusercontent.com/assets/6185767/12053649/d4e98ff0-af4d-11e5-840e-d0a80e96d97c.png)

[2015-12-30 16:40] mrkhoa99 commented on #2841
<p>The GitHub issue tracker is intended for technical issues only. Please refer to the <a href="https://community.magento.com" target="_blank">Community Forums</a> or <a href="http://magento.stackexchange.com/" target="_blank">Magento Stack Exchange</a> site for technical questions. In your case, the <a href="https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2" target

[2015-12-30 16:52] brendanmckeown opened #2843 "require js error in admin dashboard breaking catalog, order view"
My repo is up to date on the 2.0 branch.  Some of the admin dashboard areas (product/catalog, sales/orders) are broken (endless loading spinner) due to a JS error occurring in require.js because a request for `/pub/static/adminhtml/Magento/backend/en_US/rjsResolver.js` is returning a 404 error.  I've checked, and this file does not exist.  I've tried clearing the contents of the `pub/static` direc

[2015-12-30 16:54] #2841 closed, assigned to nobody

[2015-12-30 17:06] brendanmckeown commented on #2843
I ran `bin/magento setup:static-content:deploy` without any errors, but the problem persists.

[2015-12-30 17:07] mrkhoa99 commented on #2836
<p>The GitHub issue tracker is intended for technical issues only. Please refer to the <a href="https://community.magento.com" target="_blank">Community Forums</a> or <a href="http://magento.stackexchange.com/" target="_blank">Magento Stack Exchange</a> site for technical questions. In your case, the <a href="https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2" target

[2015-12-30 17:35] zamboni084 commented on #1471
Having the same issue as IceReaper,
Is There a Fix for this?

[2015-12-30 18:54] moderncodes commented on #2816
Khaleel - Thank you for your suggestion.
If I understand this correctly, you are talking about STORES > Configuration > Advanced > Developer > CSS Settings > Minify CSS Files set to YES. I did that, saved it, and it did not fix the issues. I did that back and forward, it does no changes. I also flushed the cache.

I not sure how helpful this is, but in "Magento 2 (with) sample data" /pub/media/sty

[2015-12-30 20:03] iandfox opened #2844 "Import error message does not insert variable"
When importing products from a CSV file, I get the error `Attribute %s exceeded max length in rows: 1`. Tracking it down, it seems that the error message is meant to be `printf`'d at some point with the attribute name, but it never was - that string is used verbatim.

Some examples are included to replicate the error. Save them as a .csv file and run the "Check Data" in the Products Import page. (

[2015-12-30 22:42] ghost commented on #2843
does this occure after installation directly?
try delete /pub/static/frontend && /pub/static/adminhtml manualy and run ´´´ bin/magento setup:static-content:deploy ´´´ again. Also run ´´´bin/magento cache:clean´´´

some resources
http://magento.stackexchange.com/questions/48894/missing-css-and-js-files-in-magento2-git-repository

http://magento.stackexchange.com/questions/64857/css-and-javascript-f

[2015-12-30 23:12] dmitrii-fediuk opened #2845 "The #review-form fragment identifier is not added to the browser location after the review link is clicked, so it breaks the reverse navigation"
https://mage2.pro/t/351

[2015-12-31 02:14] davidalger commented on #2637
Closing as duplicate of #2711 and lack of response from OP

[2015-12-31 02:14] #2637 closed, assigned to nobody

[2015-12-31 04:28] mitulispace commented on #2814
MomotenkoNatalia      No Issue..... It's  Solve  Thank You For reply

[2015-12-31 05:25] klongithub commented on #2836
Thanks mrkhoa99 :)

Yes I am going to post in programming questions forum.

Thanks Again :)

[2015-12-31 05:43] Khaleel commented on #2816
Sorry it did not help. Strange one this. I have also updated to the latest M2 build and I am using (EE) and I am having issues with other plugins and customization. Sorry could not help

[2015-12-31 06:00] smaadjahangir commented on #2705
@joanhe Have you checked this issue?

[2015-12-31 08:27] Vincenkt opened #2847 "How to add css to head via observer"
In magento 1, I have used addCss function to add css file to head. However, I don't see this fucntion in magento 2. Can you help me?

[2015-12-31 08:44] #2836 closed, assigned to nobody

[2015-12-31 09:40] hostep opened #2848 "Feature request: a '--no-progress' switch for certain cli commands would be nice"
Hi guys

I'm setting up a deployment process using capistrano to publish a new version to a production server.
But when running for example the `setup:static-content:deploy` script, we get a lot of lines in our output, like this snippet:

[code]

An option to get rid of the progress would be handy to keep the output a bit more clean. I do like the information messages, so only the '.' output shoul

[2015-12-31 09:51] hostep commented on #2561
Yes, would be nice if this got fixed, we also run into this problem.

[2015-12-31 10:52] ReginaLisa opened #2849 "To add default filter to grid?"
I have created one custom module with title & status field attribute in admin grid.

Grid collections in **module_test_grid_block.xml**

[code]

I just want to show the datas which are enabled.Have any option to **add default filter in admin grid collections**?

[2015-12-31 12:03] michsk opened #2850 "Checkbox and Radio renderer, strict check"
Is there any reason we have strict checks for single values and not strict for array values?

[code]

The same is used for the Checkbox renderer. Maybe just keep it strinct and use `in_array($value, $values, true)` to be consistent?

[2015-12-31 12:03] michsk opened #2851 "Checkbox and Radio renderer, strict check"
Is there any reason we have strict checks for single values and not strict for array values?

[code]

The same is used for the Checkbox renderer. Maybe just keep it strinct and use `in_array($value, $values, true)` to be consistent?

[2015-12-31 13:04] hostep opened #2852 "Running setup:config:set doesn't just update, but also deletes values, running it a second time fixes it (kind of)"
Hi

When I run:

[code]

I would expect to see that the env.php file got updated with those 3 new values. And the file is updated correctly, but a bunch of other values have disappeared from the file:
- db/table_prefix
- db/connection/default/host
- db/connection/default/model
- db/connection/default/engine
- db/connection/default/initStatement
- db/connection/default/active

When running the exac

[2015-12-31 13:57] hostep opened #2853 "Sample data bug: cms styles.css is installed twice"
Hi guys

I just noticed after installing Magento 2 including the sample data, the file pub/media/styles.css has 2 times exact the same content.
It is the contents from the file: Magento_CmsSampleData::fixtures/styles.css

I think the error comes from the installer in the theme-sample-data, it installs the styles.css file from the cms-sample-data, instead of its own, see:
https://github.com/magento

[2015-12-31 14:37] brendanmckeown commented on #2843
@xhallix,
Thanks for the response.  Yes, this occurs immediately after installation.  I've tried the following steps but still see the same error.
- Manually remove `pub/static/frontend` and `pub/static/adminhtml`
- Run `bin/magento setup:static-content:deploy` in the Magento root directory
- Run `bin/magento cache:clean`

All directories inside `pub` have permissions of `770` and files have `660`

[2015-12-31 14:43] mazhalai commented on #2623
@moleman this is been fixed in the `develop` branch. Please have a look and reopen a new issue if it still persists.

[2015-12-31 14:43] #2623 closed, assigned to nobody

[2015-12-31 14:45] mazhalai commented on #2852
@hostep can you please give more details, is this in the git version or deployed via `composer create-project`? If you are using git, which branch? #2623 has been fixed in the develop branch.

[2015-12-31 14:49] mazhalai commented on #2457
@SasiKiranK Has your issue been resolved?

[2015-12-31 14:54] mazhalai commented on #1813
@magentofaz and @scholtz this has been fixed in 2.0.0 Please have a look and create a new issue if necessary.

[2015-12-31 14:54] #1813 closed

[2015-12-31 14:57] mazhalai commented on #2166
@astorm checking of subfolder fix is available in 2.0.0. Please have a look and create a new issue if necessary.

[2015-12-31 14:57] #2166 closed

[2015-12-31 14:57] mazhalai commented on #2148
@beckindesigns this has been fixed in 2.0.0. Please open a new issue if problem persists.

[2015-12-31 14:57] #2148 closed

[2015-12-31 14:59] mazhalai commented on #2111
Closing since this has been resolved.

[2015-12-31 14:59] #2111 closed

[2015-12-31 15:00] mazhalai commented on #1910
@Flyingmana do you still have this issue on latest 2.0.0?

[2015-12-31 15:00] mazhalai commented on #1897
Closing since this has been fixed in 2.0.0

[2015-12-31 15:00] #1897 closed

[2015-12-31 15:01] mazhalai commented on #1891
This issue has been resolved 2.0.0. Please open a new ticket if issue persists.

[2015-12-31 15:01] #1891 closed

[2015-12-31 15:03] mazhalai commented on #1493
@markoshust This issue has been fixed in 2.0.0, hence closing this issue.

[2015-12-31 15:03] #1493 closed

[2015-12-31 15:04] mazhalai commented on #1572
@CoreyCole do you still have this problem in 2.0.0?

[2015-12-31 15:08] mazhalai commented on #1640
@frehner this issue has been fixed in 2.0.0. Closing this issue. Please open a new one if it persists.

[2015-12-31 15:08] #1640 closed

[2015-12-31 15:10] mazhalai commented on #1671
@nagno any update on this?

[2015-12-31 15:16] hostep commented on #2852
I use Magento 2.0.0, installed using composer.
If you can't reproduce it anymore on the develop branch, then it might be fixed indeed.
If the develop branch is stable enough to be usable, I could give it a shot to test it, unless you guys want to test it yourselves?

[2015-12-31 15:24] mazhalai commented on #931
@fooman since there are new migration tools ([for code](https://github.com/magento/code-migration) and [for data](https://github.com/magento/data-migration-tool-ce)) available, closing this issue.

[2015-12-31 15:24] #931 closed

[2015-12-31 15:25] mazhalai commented on #934
@fooman closing since this is has been fixed for a while.

[2015-12-31 15:25] #934 closed

[2015-12-31 15:27] mazhalai commented on #781
@michaeltimm81 has your issue been resolved? Have you followed @vancoz's [suggestion above](https://github.com/magento/magento2/issues/781#issuecomment-146691333)

[2015-12-31 15:30] mazhalai commented on #1068
@navarr apologies for the delay. This has been resolved. Can you please confirm?

[2015-12-31 15:32] mazhalai commented on #1303
@jamescowie @Vinai This issue has been resolved. Closing ticket.

[2015-12-31 15:32] #1303 closed

[2015-12-31 15:33] mazhalai commented on #1317
@phphphp @klierik  any update on this issue? MAGETWO-29465 has been fixed.

[2015-12-31 15:34] mazhalai commented on #1365
@sivajik34 This issue has been resolved. Closing ticket.

[2015-12-31 15:34] #1365 closed

[2015-12-31 15:36] mazhalai commented on #1424
@fooman since the code has been refactored, closing this as wont fix.

[2015-12-31 15:36] #1424 closed

[2015-12-31 15:40] mazhalai commented on #2852
Thank you for your input. We have created MAGETWO-47531 to investigate.

[2015-12-31 17:01] chrissm79 commented on #2809
Just adding some additional information that can hopefully help.

When I attempt to reindex from the command line I got the following error:

[code]

I added the column, and got the same error with the 'value' column so I deleted all of the Catalog and Cart Price Rules and it is now able to complete the reindex. However, the issue above is still occurring.

When attempting to utilize the REST API,

[2015-12-31 17:02] brendanmckeown commented on #2843
I experienced this same issue with two different installation methods: clone from the [git repo](https://github.com/magento/magento2) and `composer create-project`.

However, I just tried installing from the archive package [found here](https://www.magentocommerce.com/download) – and I'm not seeing the issue.

[2015-12-31 17:07] dexterityzx opened #2854 "Configurable product - can not save product when required attribute is an option"
Magento v2.0.0
The "flavor_type" is an required attribute and it is an option for customers in configurable product. I can not save any product when required attribute is an option.
![magento2-configurable product](https://cloud.githubusercontent.com/assets/13892193/12066528/1ab183da-afb7-11e5-92b5-145a612673cc.JPG)
![magento2-configurable product2](https://cloud.githubusercontent.com/assets/13892

[2015-12-31 17:41] OgreMHDW opened #2855 "Running Magento cron does not reindex indexer"
I am very confused about a new experience in Magento 2. I have set up the Magento cron job to run every 1 minute using the command "magento cron:run". After the command is run by cron it does return "Ran jobs by schedule." After adding several products the indexer is not running to add those products to the site.

Per the page http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subc

[2015-12-31 17:45] akai-z opened #2856 "Users permissions & roles (ACL), and redirect loop issue"
**Browser(s):** Google Chrome (latest), Mozilla Firefox (latest)
**OS:** Linux
**Magento Version:** 2.0 (stable)

---
#### Description of problem

Magento 2 breaks if you try to login to admin panel using a user with a role that does not have any access resources.
#### How reproducible

Always
#### Steps to Reproduce
1. Login to Magento 2 admin panel with your current admin user (that has full acc

[2015-12-31 20:20] chriseverson commented on #1471
I've encountered this same issue and determined that, in my particular case, it was due to the category URL keys not being removed properly from the `url_rewrite` table after removing them from the store. That said, it might also be caused as part of the update action on import. Haven't really dug too deep into it. Just wanted to share my findings.

Manually deleting any category rows that are no

[2015-12-31 20:42] mdevicariis commented on #2604
Confirmed: I get the same error when trying to deploy sample data with the php ./bin/magento sampledata:deploy command

PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Symfony\Component\Console\Input\ArrayInput::__construct() must be of the type array, object given, called in /opt/cart01/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 97 and defined in /opt/ca

[2015-12-31 21:14] dmitrii-fediuk opened #2857 "The \Magento\Framework\App\Config\ScopePool::_getScopeCode() method has a wrong PHPDoc type for the $scopeCode parameter"
https://mage2.pro/t/358

[2016-01-01 06:12] imbhupendra41 opened #2858 "Issue in Image Attribute Type , error while in edit"
I am trying to create product attribute of image type. I have already created one custom attribute group and image type attribute. Image attribute saving the image in the proper the folder but while we edit the product the URL of the product show the different path so that why it is displaying Nothing. Code working with category.

![01-01-2016 11-31-32](https://cloud.githubusercontent.com/assets/5

[2016-01-01 07:06] sunilit42 opened #2859 "How to create field dependency in form field?"
Hello,

 i need to set one field depends on other field in magento admin form.

Look forward your reply

[2016-01-01 07:39] sachan-amit opened #2860 "Magento Connect Menu is not appearing"
I have installed magento 2.0 in digital ocean with prebuild magento image. When I try admin account to install some extensions, I am unable to see magento connect menu under system section

[2016-01-01 11:41] daim2k5 commented on #2859
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-01 11:41] #2859 closed, assigned to nobody

[2016-01-01 11:44] daim2k5 commented on #2849
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-01 11:44] #2849 closed, assigned to nobody

[2016-01-01 11:45] daim2k5 commented on #2847
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-01 11:45] #2847 closed, assigned to nobody

[2016-01-01 11:50] Pinimichu commented on #2824
No solution but restarting the mysql service in regular base have increased my systems performance a lot.

[2016-01-01 12:39] antonkril commented on #2824
Is it time to first byte or page with all assets loaded in browser?

Normal page load time is less than a second. Usual reasons for slow page generation are xdebug debugging session, xdebug profiler, opcache turned off.

[2016-01-01 13:54] ericahoekerd opened #2861 "WEBAPI: Missing shipping address details in salesOrderRepositoryV1GetResponse"
When I place an order with a different shipping address other than the billing, the shipping address details are not included in the response XML. Only a section with billingAddress.

[2016-01-01 13:57] ericahoekerd opened #2862 "WEBAPI: Missing method to download the websites and storeviews configuration"
At the moment there is no method available to download the store and website setup from Magento into ERP.

In mag 1.9 we had webservice storeList for this. Can you add this back in Magento 2?

[2016-01-01 15:09] ericahoekerd opened #2863 "WEBAPI: index is not updated after API call, modus is set to 'On save'"
Altough the index modus is set to 'on save' the indexes are not realtime updated after different Web API requests, for example these ones:
- catalogProductRepositoryV1SaveRequest
- configurableProductLinkManagementV1AddChildRequest
- catalogAttributeSetManagementV1CreateRequest
  and all other API methods which are storing data in the database

[2016-01-01 16:45] ghost commented on #2844
Hi,
just made a PR for this, not sure if it will really be used.

https://github.com/magento/magento2/pull/2864

Best

[2016-01-01 16:59] ideirj opened #2865 "catalog.csv typing error"
https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/i18n/en_US.csv
1. line
   "Something went wrong saving the URL rewite."

rewite?

[2016-01-01 22:48] daim2k5 commented on #2692
Hi @leroy0211 i close the issue because you didn't answered @mazhalai after 2 weeks. If you have still the error please feel free to reopen the issue.

[2016-01-01 22:48] #2692 closed, assigned to mazhalai

[2016-01-01 22:54] daim2k5 commented on #2531
Hi @DRAJI  i close the issue because you didn't answered @mazhalai after 2 weeks. If you have still the error please feel free to reopen the issue.

[2016-01-01 22:54] #2531 closed, assigned to nobody

[2016-01-01 22:58] daim2k5 commented on #2699
Hi @karthik-bgdins  i close the issue because you didn't answered @mazhalai after 2 weeks. If you have still the error please feel free to reopen the issue.

[2016-01-01 22:58] #2699 closed, assigned to mazhalai

[2016-01-02 02:45] dmitrii-fediuk opened #2866 "A PHPDoc comment for the $priceModel variable in final_price.phtml is wrong"
https://mage2.pro/t/354

[2016-01-02 06:06] mitulispace opened #2867 "Admin panel not open"
![web_page_has_redirect](https://cloud.githubusercontent.com/assets/16436069/12073402/0d996fa2-b145-11e5-8707-9916752097bf.png)

[2016-01-02 06:31] mitulispace opened #2868 "Import product Not Display in Front Side magento 2"
i upload CSV  file import then product Add in  Database(Catalog)  But  Front Side Not Display

How To solve....

[2016-01-02 06:31] mitulispace commented on #2867
yah working

Reference Link
http://itsolutionphp.blogspot.in/2015/12/webpage-has-redirect-loop-in-magento-2.html

[2016-01-02 06:33] #2867 closed, assigned to nobody

[2016-01-02 07:13] mitulispace opened #2869 "Marketplace not work in magento"
Marketplace Not working I chacked  All Setting  and public key and private key Not Work
Click on  Sign in

![component](https://cloud.githubusercontent.com/assets/16436069/12073637/5afc9c70-b14e-11e5-82fa-2e4dd3414732.png)

![ssl](https://cloud.githubusercontent.com/assets/16436069/12073636/4bb3683e-b14e-11e5-8ffa-7cb74f6288d3.png)

[2016-01-02 09:31] ashish3006 commented on #1832
I am facing an issue during record creation on my table
"The resource isn't set ".
Please help me out.

[2016-01-02 14:19] acharrex commented on #2555
If you use Zend Opcache, the following parameters must be configured to 1:
opcache.save_comments
opcache.load_comments

[2016-01-02 16:14] thomvanderboon commented on #2630
@scholtz

After installing the language pack did you run the following commands?

 php bin/magento setup:static-content:deploy
 php bin/magento setup:static-content:deploy nl_NL <-- change to your own locale
 php bin/magento indexer:reindex
 php bin/magento cache:clean
 php bin/magento cache:flush

I also run the above commands in a nightly cron

here is my "how to" so far: http://www.vanderboon.n

[2016-01-02 17:14] tigerx7 commented on #2839
This is probably a duplicate of: https://github.com/magento/magento2/issues/2619 Good find on that it doesn't happen on the additional storeview. This may be a good temporary workaround for now.

[2016-01-02 19:35] jedjebari commented on #2790
Hi
I got the same issue installing sampleData
magento sampledata:deploy is successful but magento setup:upgrade fails :
Module 'Magento_CatalogSampleData':

  [ReflectionException]
  Class Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Media does not exist

  [ReflectionException]
  Class Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Media does not exist

And there's

[2016-01-02 22:26] xhallix commented on #2786
I was able to solve this, by clearing the cookies manually in browser.
*Add Store Code to Url* should maybe trigger some action to delete an existing cookie?

What do you think?

[2016-01-02 23:30] cod3gen opened #2871 "CSS/LESS Error when editing attribute"
As can be seen in image below, settings is not in their correct place. Using M2 Development package downloaded/installed two weeks ago.

![screenshot_1](https://cloud.githubusercontent.com/assets/14929298/12076559/22744cf0-b1b1-11e5-8ab9-409a7bcb6c17.png)

[2016-01-03 00:02] alankent commented on #1832
Hi, if you are encountering a problem please create a new issue rather than adding a comment to a closed ticket. Also please include sufficient details for the team to try and reproduce the issue - otherwise there is not much they can do to help.

[2016-01-03 00:16] alankent commented on #2865
Weally? You weally want to pick on a paw developah who can't ponounce there 'R's? What is the wowld coming to!
(Thanks for pointing it out! ;-)

[2016-01-03 00:23] alankent commented on #2824
Restarting MySQL improves performance? I wonder if you are running out of memory and thrashing your machine. I am running Apache + php 7 + MySQL in a docker container within virtual box on my laptop and after first generation of a page most pages come back sub-second,

[2016-01-03 00:28] alankent commented on #2847
Hi @Vincenkt - http://magento.stackexchange.com/questions/86527/how-do-add-css-js-in-customview-phtml-in-view-magento2 might help. Have a read up on the `<css>` element I layout files, but also consider if you want a new CSS file or merge into existing files via Less includes.

[2016-01-03 00:35] johnbendi commented on #2824
[code]

[2016-01-03 03:37] dmitrii-fediuk opened #2872 "The fields with type='checkbox' are not saved in the backend «Stores» → «Configuration» section"
https://mage2.pro/t/333

[2016-01-03 10:26] johnbendi commented on #2256
I just upgraded to php7 and getting the following errors:

[code]

I have `memcached` installed at 11211 and have the following session related snippet in `env.php`:

[code]

[2016-01-03 11:43] johnbendi commented on #2256
To resolve this I had to install `php-memcached` and configure session in `env.php` thusly:

[code]

Note that memcached and php7 does not need the `tcp://` prefix.

[2016-01-03 12:49] rexha5minds commented on #2502
i dont understand, how you resolve this problem, can you please explain it again, because i have the same error and search for a solution my last 5 hours

[2016-01-03 14:17] Vincenkt commented on #2847
Hi @alankent Thanks for your help. The addPageAsset method has solved my problem. https://mage2.pro/t/topic/140

[2016-01-03 14:23] johnbendi commented on #2827
@anaxmedia Please can you show exactly how you did the casting?

[2016-01-03 15:21] johnbendi opened #2873 "Recoverable Error: session_regenerate_id(): Failed to create(read) session ID: user (path: 127.0.0.1:11211)"
I get the above error when trying to access the admin area. Below is the detailed stacktrace:

[code]

None of the discussions regardng this issue elsewhere has helped me. I'm on ubuntu 15.10, php7, nginx. I also have latest develop branch.

[2016-01-03 18:28] ghost commented on #2786
Hi,

just took a quick look and need some rechecks but from what I saw:

I think that  `Magento\Store\Controller\Store\SwitchAction` does not consider this option, or I am not able to see this.
A possible solution could be, to add a check into the Controllers `execute` method.
Example solution `SwitchAction->execute()`

[code]

This would allow to redirect to the correct url.

As I just said, just

[2016-01-03 20:10] nagno commented on #1671
Hi @mazhalai
I was heavily working on it in the last 2 days and finally I just successfully reproduced it (after ~4.5 months it is not easy to roll back a project to a specific state to reproduce an issue). I'm quite sure it is related to a previous setup script state, but unfortunately I just ran out of my free time again and I'm won't have time investigate it further in the next few weeks. :( I'

[2016-01-03 21:45] dmitrii-fediuk opened #2875 "\Magento\Framework\View\Render\RenderFactory::get() unnecessary escapes the slashes"
https://mage2.pro/t/337

[2016-01-04 04:10] johnbendi commented on #2873
Additional bug reference: https://bugs.php.net/bug.php?id=71187

[2016-01-04 04:44] johnbendi commented on #2873
My temporary workaround as I understand it:
![magento_savehandler_read_patch](https://cloud.githubusercontent.com/assets/1025834/12083575/25071f4c-b2a6-11e5-9506-781b362e5c6b.png)
As can be seen from the image I had to cast the `SaveHandler` `read` method's return value to a string.

[2016-01-04 05:27] ReginaLisa commented on #2531
Hi, Thanks for the reply. It was an ownership permission issue. After set ownership permission on specific plugin folder, It worked fine!

Thanks!

[2016-01-04 09:01] anton-huz commented on #2843
Hi Brendan,
As about

There is no such file. [rjsResolver is just an alias](https://github.com/magento/magento2/blob/develop/app/code/Magento/Theme/view/base/requirejs-config.js#L13). Web page should load `/pub/static/adminhtml/Magento/backend/en_US/mage/requirejs/resolver.js`.

When such error occurs on your instance it means that requirejs-config.js was not generated properly or was not loaded i

[2016-01-04 10:32] xkerkhof opened #2876 "Incorrect error when saving a dropdown attribute - global"
Thes error appears when adding a new attribute.

I gave it a name - Select dropdown - Global and add two options to it. I gave it a label and altered the storeview options to my desire.

When hitting save it shows "This is a required field" under "Manage Options (values of your attribute)". I have entered two options though. So I can't save the attribute now.

_Workaround, awfull_
When I inspect t

[2016-01-04 10:42] zanilee commented on #2871
Hi, @cod3gen!

Can you please specify, what browser do you use?

[2016-01-04 10:43] xkerkhof commented on #2876
I know see, that it depends if you set the setting "Value required" to Yes.

With no selected it works

[2016-01-04 11:07] cscd98 commented on #2806
@mazhalai @danielc1234 Used the data migration tool and then visited the site.

[2016-01-04 11:25] cscd98 commented on #2798
@ishakhsuvarov Any updates on this? Do I need to create these as separate issues here to be dealt with?

[2016-01-04 11:47] vesan-83 opened #2877 "Incorrect order status when concurrent order save"
**Example**
- PSP updates order status
- Delivery management module updates delivery information

When both modules load and save an order then last one overwrite changes from previous save.
This problem can be actual even if PSP module is working only.
Such problems are expensive to investigate and fix and, of course, are not acceptable for E-commerce solution.

**Preferable solution**

Implement

[2016-01-04 12:23] mslabko commented on #2833
Hello @jstuardo

On current mainline this issue is not reproduced. Could you provide additional steps?
Also, could you provide version, where you reproduced this issue?

[2016-01-04 12:28] hitendraebiz commented on #2834
Hi @slavvka,  I have same problem for customer attribute save from backend but not saved script .Customer model load by id and set attribute value but attribute not saved in database and replace with blank value.Can you please provide me if you have any solutions for it ?

[2016-01-04 12:29] hitendraebiz commented on #1238
Hi @Vinai, I  problem for customer attribute save from backend but not saved script .Customer model load by id and set attribute value but attribute not saved in database and replace with blank value.Can you please provide me if you have any solutions for it ?

[2016-01-04 13:32] MomotenkoNatalia commented on #2542
Internal ticket MAGETWO-46188 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-01-04 13:32] #2542 closed, assigned to MomotenkoNatalia

[2016-01-04 14:40] samm-git commented on #2256
@johnbendi  hi, this is covered in the magento installation manual.

[2016-01-04 14:41] pkhutal commented on #2531
Hi,Could You Please tell me how to set ownership permission Because I am having similar issue.

Thanks.

[2016-01-04 14:42] ReginaLisa commented on #2531
Hi, If you have composer.json file, Plz check after remove it.

For ubuntu - chown -R :www-data .

[2016-01-04 14:46] chrissm79 commented on #2809
Attempted to follow the same steps with v1.8.1.0 but got the same error.

**Steps taken for migrating from v1.7.0.2, v1.8.1.0, & v1.9.2.2:**
_[Used data migration tool](https://github.com/magento/data-migration-tool-ce)_
- Attempted straight migration to Magento 2
- Attempted to repair database then migrate to Magento 2 ([using database repair tool](https://wiki.magento.com/display/m1wiki/Magento+

[2016-01-04 14:51] pkhutal commented on #2531
still not working

 [InvalidArgumentException]
 There are no commands defined in the "setup" namespace.
its windows localhost

[2016-01-04 15:20] zhipeng001 opened #2878 "PHP 7 cause PayPal gateway has rejected request. Timeout processing request (#10001: Internal Error)."
I have tested on my linode host and my local MAMP.  When you go to checkout it will cause the error "PayPal gateway has rejected request. Timeout processing request (#10001: Internal Error)."

[2016-01-04 16:19] mudithae commented on #2790
Hi @davidalger,

Sorry for delay in reply. I have missed your previous email somehow.

Yes, for me also it occurs when I install the sample data (Install the Magento first Sample data next).

Still I can see that in branch 2.0 below is exists but not in develop branch.
magento2/app/code/Magento/Catalog/Model/ResourceModel/Product/Attribute/Backend/Media.php

Regards,
Muditha

[2016-01-04 16:23] twolaverlcg commented on #2816
I saw this as well. I found it was due to the use of sample data without the sample data modules installed.

It is a poor implementation in the sample data to swap out the BASE_URL, and only works if the correct module is installed. As a quick fix, I added the ThemeSampleData module to my composer.json. (i.e. under require... "magento/module-theme-sample-data": "*")

See: https://github.com/magent

[2016-01-04 16:24] toddwolaver commented on #2816
I saw this as well. I found it was due to the use of sample data without the sample data modules installed.

It is a poor implementation in the sample data to swap out the MEDIA_URL, and only works if the correct module is installed. As a quick fix, I added the ThemeSampleData module to my composer.json. (i.e. under require... "magento/module-theme-sample-data": "*")

See: https://github.com/magen

[2016-01-04 16:26] davidalger commented on #2772
@dfediuk Thanks for the additional context. This is now on the Magento team to evaluate and accept/reject the suggestion.

[2016-01-04 17:34] le0n4eg commented on #2844
Thanks for reporting this issue! Internal ticket MAGETWO-47555

[2016-01-04 19:33] tigerx7 opened #2879 "Critical Error on getSwatchAttributseData() preventing listing of products in category"
I'm not sure exactly if the root of the problem is with an issue on a swatch attribute or that the category only has one product, but nonetheless, it causes $result to never be assigned in the following class:

\Magento\Swatches\Block\Product\Renderer\Listing on function getSwatchAttributesData():

[code]

The end result is that in production, the category is displayed, but there's no products lis

[2016-01-04 19:40] okorshenko commented on #2630
@kkkonrad , in the scope of https://github.com/magento/magento2/commit/352bd0c90cc74a7f30649cba9724ce9b0c633b79 we have added processing of Javascript template files that fixes your initial case. Please, checkout latest version from develop branch

[2016-01-04 19:58] toddwolaver commented on #2705
I am seeing a similar issue, though I'm not using Nginx. Varnishlog shows the following when a PURGE request is made:

[code]

It appears this may be a result of an NULL path being set on the $server URI object in sendPurgeRequest (vendor/magento/module-cache-invalidate/Model/PurgeCache.php)

Via hard coding hack, adding a path of '/' to the $server URI object will purge the Varnish cache for me.

[2016-01-04 20:16] raybogman opened #2880 "Segmentation fault (core dumped) in PHP7"
There is a PHP7-CLI bug when running the install via the shell

Segmentation fault (core dumped)

I tested it in CE and EE 2.0

when switching to PHP5.6-CLI everthing works.
It's only during installation, no other issue in PHP7 so far

[2016-01-04 20:23] alankent commented on #2880
Hi Ray! Which version of PHP7 did you use? 7.0.0 or 7.0.1?  Also, exactly what command did you run?  (I run the install from PHP 7.0.1 without problem.)

[2016-01-04 20:25] raybogman commented on #2880
Alan its PHP 7.0.1

deb http://ppa.launchpad.net/ondrej/php-7.0/ubuntu trusty main
deb-src http://ppa.launchpad.net/ondrej/php-7.0/ubuntu trusty main

[2016-01-04 20:29] alankent commented on #2880
What exactly was the command you ran?  (All the command line arguments too.) Just trying to repeat your problem.

[2016-01-04 20:31] mazhalai commented on #1671
@nagno  That sounds like a plan. Closing this issue, since it will be handled via partner portal

[2016-01-04 20:31] #1671 closed

[2016-01-04 20:36] brendanmckeown commented on #2843
@guz-anton do you have any suggestions for how to fix this then?

[2016-01-04 20:37] mazhalai commented on #2860
@pavanuec is it no longer Magento connect, it is Magento Marketplace. And it should be under `System->Web Setup`

[2016-01-04 20:40] raybogman opened #2881 "302 redirect loop in multi website/store setup"
Setting up an multi website with 3 store view (en, de, fr)
is getting 302 redirect loop.

setup:

1 website
1 store
3 storeviews (en, de, fr)

nginx:
###### # domain.conf

map $http_host $magecode {
hostnames;
        default default;
        yourdomain.fr fr;
        yourdomain.de de;
}
###### # nginx.conf.sample

 fastcgi_param MAGE_RUN_TYPE website;
 fastcgi_param MAGE_RUN_CODE $magecode;
#####

[2016-01-04 20:42] brendanmckeown opened #2882 "File security warning message shown in dashboard"
I'm not quite sure why I'm getting this security notification when I login to the admin dashboard (it would be nice if it was a little more specific):
**"Your web server is set up incorrectly and allows unauthorized access to sensitive files. Please contact your hosting provider."**

My file ownership and permission settings are as follows:
- All files and directories are owned by `ubuntu` and hav

[2016-01-04 21:02] raybogman commented on #2880
php bin/magento setup:install --db-host=localhost --db-name=magento2ce --db-user="root" --db-password="root" --backend-frontname=admin --base-url=http://yourdomain.com/ --admin-lastname=Doe --admin-firstname=John --admin-email=john@doe.com --admin-user=admin --admin-password=password123 --use-rewrites=1 --cleanup-database

[2016-01-04 21:42] dmitrii-fediuk opened #2883 "The \Magento\Config\Block\System\Config\Form\Field::_renderValue() method generates unnecessary empty HTML tags for a backend config field's comment when the field XML declaration contains an empty <comment><![CDATA[]]></comment> tag (and my fix)"
https://mage2.pro/t/179

[2016-01-04 22:08] alankent commented on #2880
Thanks Ray. I tried your command with PHP 7.0.1 and got the following.

[code]

I tried fiddling the settings (change DB name, changing passwords etc). No change. (The error message here is not very helpful to say what exactly is wrong.) Here is the command I successfully used in a script with PHP 7.0.1 in  case useful

[code]

The head of my php -i output is as follows:

[code]

I have to go get

[2016-01-04 22:19] kkkonrad commented on #2630
looks like it works but i can't translate now header step names in checkout:
-Shipping
-Review & Payments
in backend there are problem with grid phrases:
-search by keyword
-select items
-records found
-filtes
-columns
itp

can yo check this?

[2016-01-04 22:26] gonorovsky commented on #2822
Thanks for support. it started working after solving the issue with ownership and rights.

[2016-01-04 22:29] alankent commented on #2705
Yes, it looks like a bug that no path is being supplied sometimes. Any information about the sequence of operations performed to trigger this case would be helpful. (Or maybe print out a stack trace (e.g. throw an exception) if NULL is passed into the function.) (Note: the "PURGE%00" is suspicious - a NUL byte sneaking in somewhere? Or maybe that is just because no path name was supplied?)

[2016-01-04 22:39] piotrekkaminski commented on #2882
@brendanmckeown what are the permissions to /app/etc? are you using Nginx or Apache?

[2016-01-04 22:46] toddwolaver commented on #2705
In my case I am fairly certain the "PURGE%00" is a NULL byte due to the NULL path.

I don't see how a path would be set, where in my case the path is always null.

Magento\PageCache\Model\Cache\Server::getUris either explicitly sets the path to NULL or doesn't set a path (depending on if http_cache_hosts configuration is set or not in env.php).

[code]

It could be possible that some Varnish confi

[2016-01-05 01:48] bvboas commented on #2502
@rexha5minds it was an issue with the di.xml file. Make sure you haven't made any changes.

[2016-01-05 05:49] sachan-amit commented on #2860
Thanks Mazalai, How would one install any extension using market place. Do we need to use integration?

[2016-01-05 06:30] marvincaspar commented on #2880
Are you using Xdebug with PHP7? If yes, try to disable Xdebug and run the command again.

[2016-01-05 06:42] raybogman commented on #2880
@mc388 no Xdebug installed only required php modules

[2016-01-05 07:11] tapansoda commented on #2824
@alankent - Do you think we require any changes with the software stack that I have pointed out above? We are not using docker container with virtual box, is that recommended? If we disable cache it takes around 20-30secs for page to load? If we enable cache it works fast say 6-8 secs, but as far as I understand it is recommended to have cache disable in development mode to view the changes made.

[2016-01-05 07:29] alankent commented on #2824
I do not believe the pages are not cached in the web browser - they change when I fiddle with the server code. Also browser cached pages I would expect to be even faster.
Could you check your paging rates? I am wondering if 8GB is sufficient memory.
If that does not work, there is something I would be curious if I can get you to try if you have the time - please drop me an email at akent at magent

[2016-01-05 08:22] tapansoda commented on #2824
@alankent appreciate for your prompt response.

I am on Ubuntu 14.04.3 LTS - 64 Bit, what is the best way to check for paging rates? I will send you the output for the same.

Also I have send you an email just in case it its not a problem with paging rates. You can send me instructions on that email id.

Thanks,
Tapan

[2016-01-05 09:51] cscd98 commented on #2806
Probably a Mac OS X issue with PHP 7 and percona so closing

[2016-01-05 09:51] #2806 closed, assigned to nobody

[2016-01-05 09:53] cscd98 commented on #2191
@mazhalai Could you give me the exact code to place here? Thanks

[2016-01-05 11:48] MomotenkoNatalia commented on #2865
@ideirj Thanks for reporting this issue. Trifles make perfection, and perfection is no trifle ;) Currently translation files are inconsistent with the code. We have task to fix this problem. Internal ticket: MAGETWO-47595

[2016-01-05 11:51] katmoon commented on #2854
Hi,
Thanks for reporting the issue.

Internal ticket is MAGETWO-47601

[2016-01-05 12:20] Khushik opened #2885 "File Permission Check Error"
![capture](https://cloud.githubusercontent.com/assets/16103149/12115003/604c3e86-b3d0-11e5-9cd6-61a0f43ab43b.JPG)
Could you please help me to fix this error. All permission were granted but no results.

[2016-01-05 12:56] antboiko commented on #2802
Hi @jasperzeinstra Thanks for reporting this issue. We've created an internal ticket MAGETWO-47607 to process it.

[2016-01-05 13:04] cscd98 opened #2886 "Unable to access admin"
I installed M2 and used the default admin URL (not admin_xyz).
I then ran the data-migration-tool to transfer settings only from M1 to M2.

When I access /admin on my site, it then does a catalog search instead?

my env.php in app/etc:

[code]

[2016-01-05 13:43] dkvashninbay commented on #2832
Hi,

This use case looks strange with this step "Compile all classes (important!)".
What kind of compilation is that? As there are two types of "compilation":
- setup:di:compile
- setup:di:compile-multi-tenant

Both of them are meant to be run to prepare for production mode (i.e static content is deployed already):
http://devdocs.magento.com/guides/v2.0/howdoi/deploy/deploy-to-prod.html#deploy-dev

[2016-01-05 13:55] #2822 closed, assigned to nobody

[2016-01-05 15:34] mazhalai commented on #2885
@Khushik Are there any errors in your brower's console? Also, please give details about your environment like OS, Server, PHP version etc.

[2016-01-05 15:35] cscd98 commented on #2805
Seems to have come back again

[2016-01-05 15:37] mazhalai commented on #2191
Replace lines 11 to 15 with:

[code]

[2016-01-05 15:46] mazhalai commented on #2860
@pavanuec it is still work in progress. For starters, you can install sample data via the marketplace. Go to `System->Web Setup->Component Manager`. Sign in using your magento.com account and set up authentication with public(username) and private(password). For now sample data components show up. Eventually, all extensions purchased via marketplace will be available. Use check boxes to select whi

[2016-01-05 16:01] ghost commented on #2885
In addition, it could be a problem with ownership. You should NOT set 777 permissions on anything.

Please refer to [ownership and permissions documentation](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/zip_install.html#zip-perms)

[2016-01-05 16:09] vesan-83 opened #2888 "Not all files are pre-compiled"
After setup:di:compile, at least, following files still are generated at run-time
- var/generation/Magento/Framework/Message/Session/Proxy.php
- var/generation/Magento/Framework/Reflection/ExtensionAttributesProcessor/Proxy.php
- var/generation/Magento/Framework/View/Layout/File/Collector/Aggregated/Proxy.php

This gives 2 issues
- It doesn't allow to restrict web-server to write PHP files in orde

[2016-01-05 16:16] cscd98 commented on #2886
Solved with:

[code]

[2016-01-05 16:18] monkeysee commented on #2880
Created internal ticket MAGETWO-47636 for investigation

[2016-01-05 16:22] melnikovi commented on #2888
Thank you for reporting this issue. JIRA ticket created MAGETWO-47639

[2016-01-05 17:05] brendanmckeown commented on #2882
@piotrekkaminski
Using Apache (2.4.18), `app/etc` has the same perms as the others, directories are `770` and files are `660`.

[2016-01-05 17:14] ghost commented on #2860
Reported solution on one of our chats:

I search on google for Magento Connect 2 extensions
I found this
https://www.magentocommerce.com/magento-connect/magento-2
and I download one of this for a test
unzipped on app/code
and after I prompt on command line php bin/magento setup:upgrade
and after this in component manager I saw that plugin is installed

[2016-01-05 17:16] davidtwco opened #2889 "Class Magento\Catalog\Model\Product\Image\CacheFactory does not exist"
Hi,

I've just installed Magento 2 and migrated my data to the new database, having done this, I now log in to the admin panel and see a white page with the following text:

[code]

This appears to be the same issue as seen in #2738, but I do not wish to install sample data over my migrated data. I had this issue only on the Categories and Catalog pages before migration.

[2016-01-05 17:33] benmarks commented on #2889
@DavidTWco Can you state which `MAGE_MODE` you're running in and confirm that you've taken appropriate steps w/r/t caches and code generation?

[2016-01-05 17:39] shirtsofholl opened #2890 "Integral support for EDI messages PRICAT (Price / Sales Catalogue)"
Would it be an idea to support  EDI messages PRICAT (Price / Sales Catalogue) from the core? or EANCOM?

To choose and order assortments, the retailer normally receives master data about the
entire assortment from the supplier detailed in the EDI messages PRICAT (Price / Sales
Catalogue).

This would allow for a far better vertical integration in fashion and set the standard for all other platform

[2016-01-05 18:02] davidtwco commented on #2889
@benmarks I'm using nginx and my configuration has `set $MAGE_MODE developer;` and `fastcgi_param  MAGE_MODE $MAGE_MODE;` so I'm pretty sure I'm in developer mode.

Given the holiday period, this was initially set up pre-holiday, so I'm a little hazy on the exact steps and details that I performed. As far as caches and code generation is concerned, I'm pretty sure I've set the permissions for the

[2016-01-05 18:10] davidtwco commented on #2889
Infact my mistake, enabling developer mode using the command line tool has fixed this issue, apologies.

[2016-01-05 18:10] #2889 closed, assigned to nobody

[2016-01-05 18:44] astorm commented on #2832
@dkvashninbay That's just a quick way to get to a reproducible state. The core issue is the static file serving application uses object manager managed objects, but those objects don't obey the settings in `di.xml`

[2016-01-05 18:57] benmarks commented on #2889
Interesting, and thanks for the followup. Is there any way we can improve messaging about how to enable developer mode? Was it our documentation which sent you down the wrong path?

[2016-01-05 19:00] davidtwco commented on #2889
Not particularly, I think the documentation was pretty clear, I was mislead by the `nginx.conf.sample` file which looked like it set the `MAGE_MODE` variable and I assumed then that was it - perhaps if it were clearer which mode you are currently in?

[2016-01-05 19:12] benmarks commented on #2889
Yes, this is confusing, perhaps we should remove it.

I had a similar thought in the shower this morning (I live a rich & full life), though my idea was for an admin panel indication which wouldn't have helped you... You can determine the mode via CLI though by running `$ bin/magento deploy:mode:show`

[2016-01-05 19:13] astorm commented on #2888
@vesan-83 Not a Magento core team member here, so I can't help you directly **but** if you could provide a few more details it might help @melnikovi and the core team track this one down.
1. Does `setup:di:compile` finish running?  Can you include its output here?
2. Is your system actually running in production mode when the classes are generated?
3. Which pages are you loading and/or commands ar

[2016-01-05 20:16] magetraining opened #2891 "Forcing sample data"
When taking a version of Magento2 and installing without sample data (I used both the zip from the Magento download and the git repo) I get the following error

[code]

I can install on my Local and on Amazon without issue, it is only on Nexcess. Nexcess has told me to open the issue here.

[2016-01-05 20:43] miguelbalparda commented on #2891
To add some more info to the issue, we were able to install Magento 2 + Sample data in the same server without issues.
We keep seeing the error despite the fact there is not a single occurrence of BundleSampleData in the code we are downloading.
From what we see in the error it seems to be a list of modules to install and it seems the Magento_BundleSampleData module is being added to that list des

[2016-01-05 20:45] tw123 opened #2892 "Bug: searchCriteria conditionType "IN" does not show any results"
The following soap request is currently translated into the sql statement below.

Unfortunately the backticks are wrong.
'canceled,new' > shows no results
'canceled','new' > would show results

Can you fix this bug in the next release?

[code]

[code]

[2016-01-05 22:26] ghost commented on #2891
`magento/module-bundle-sample-data` is a sample data module; they might be the same thing.

Are you on Nexcess also?

[2016-01-05 22:33] ghost commented on #2869
Instead of doing it that way, click the **System Config** option and enter your keys there. Let us know if it works.

[2016-01-05 22:34] magetraining commented on #2891
Yes this is happening on Nexcess only and Miguel is a dev at Nexcess

[2016-01-05 22:38] daim2k5 commented on #2868
@mitulispace Do you see the products in the backend? Reindex? Maybe you can provide a sample csv?

[2016-01-05 22:41] #2814 closed, assigned to nobody

[2016-01-05 23:11] infoelliex commented on #1250
Strange, the solution Bob (@Zatara7) doesn't work for me. I installed Magento2 twice at my digital ocean account w/o any errors but at the end I still got these not found problem? What else I can check? Thank you very much.  ~peter20201@gmail.com

[2016-01-05 23:13] dmitrii-fediuk opened #2893 "A performance issue: setup:di:compile-multi-tenant takes 11 munites to finish"
- https://community.magento.com/t5/Admin-Configuration-Questions/magento-setup-di-compile-take-too-long-to-compile/m-p/25505
- https://mage2.pro/t/190

[2016-01-05 23:13] gonorovsky opened #2894 "default country in cart sidebar issue"
In admin configuration the default country is set for Ukraine (same as origin country). But when you open the cart (http://bezkryshi.com/checkout/cart/) it start to evaluate shipping and taxes for US ( but this country is disabled in admin).

[2016-01-05 23:22] alankent commented on #2891
Could you do a grep -r for both "bundle-sample-data" and "BundleSampleData" on the whole directory tree?  My guess is the root composer.json or composer.lock file has a bundle-sample-data reference still, or BundleSampleData is still in the app/etc/config.php file.

[2016-01-06 01:18] davidalger commented on #2891
@miguelbalparda is this on a shared server or a dedicated box?

[2016-01-06 01:21] #2886 closed, assigned to nobody

[2016-01-06 03:18] sachan-amit commented on #2860
Thanks Mazhalai & Steve, I get this now.

[2016-01-06 03:21] Khushik commented on #2885
My environment:
CentOS 7
MySQL 5.6.28
Apache 2.4.6
PHP 5.6.16
Zend Engine 2.6.0
No any errors in browser's console. The following commands I have run but also no results:

chown -R :apache .
find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \; && chmod u+x bin/magento

[2016-01-06 07:57] SilvanLaroo commented on #2056
I'm also facing this problem, for example the Add to Cart button has three phases. The Add to Cart, Adding... and Added. These cannot be translated. I believe translations are done via js-translation.json, but this file is empty by default. When I manually add translations (just for testing) to this file, some translations are used. The Add to Cart button unfortunately not. I'm running Magento 2.0

[2016-01-06 08:19] ishakhsuvarov commented on #1960
@dfediuk Closing the issue, as the fix for this issue had been delivered to the `develop` branch. Thank you for contribution.

[2016-01-06 08:19] #1960 closed

[2016-01-06 08:25] tigerx7 opened #2895 "Sales Order Increment Prefix not working"
The increment_prefix in eav_entity_store table doesn't seem to be getting applied to order numbers. Here's the steps I'm taking to reproduce on a clean install:

Installed Magento via composer's metapackage. Made sure that I was logged in as the filesystem owner and ran the following setup via cli:

[code]

The installation script generates the following entry in eav_entity_store:
entity_store_id

[2016-01-06 08:36] hellsanos commented on #2056
Hi folks!

This issues still seems to be unresolved...we installed the newest version of Mage 2 a few weeks ago. I created our own theme according to the http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html
Translations are working for PHP strings. Sadly everything that is done in JS/KO isn't translated at all.

For example:
- Strings in (Adding..., Added, Add to Ca

[2016-01-06 08:45] ishakhsuvarov commented on #2894
@gonorovsky Thank you for reporting this issue. We have created an internal ticket `MAGETWO-47653` to fix the problem.

[2016-01-06 09:06] gonorovsky commented on #2894
Is there any temporary solution (for ex: disable shippment calculation in
cart)?

[2016-01-06 09:23] vesan-83 commented on #2888
1. Yes, see di-compile.log and di-compile.png
2. Yes, see .htaccess from pub folder
3. Home page, steps:
   - rm -rf var/cache var/di var/generation var/page_cache var/view_preprocessed pub/static/*
   - bin/magento setup:di:compile
   - bin/magento setup:static-content:deploy
   - find var/generation -type f (see files-after-compile.txt)
   - visit home page
   - find var/generation -type f (see

[2016-01-06 09:47] mslabko commented on #2040
Issue has been fixed.

[2016-01-06 09:47] #2040 closed

[2016-01-06 09:54] ilol commented on #2798
Hi @craigcarnell, we are working already. Thank you for your active position. Will keep you informed. Soon I will put internal bug tickets.

[2016-01-06 09:59] tigerx7 commented on #2434
@matiasnombarasco - I'm still having issues with configurable products and the quick add to cart. I've updated the placement of the form tag and it looks like the values are being posted but the script is redirecting.

Form data being passed to item with one configurable property:
super_attribute[144]: 128, product: 450, uenc: {string}, form_key: {string}

Data gets posted to /{product}?options=ca

[2016-01-06 10:10] cscd98 commented on #2798
Thank you. I have additional issues:

https://github.com/magento/data-migration-tool-ce/issues/34
https://github.com/magento/data-migration-tool-ce/issues/39

[2016-01-06 10:11] davidtwco commented on #2889
Perhaps it could be displayed as a status message at the top of any commands from the magento binary?

[code]

Or something to that effect, however I experienced the issue that I had before migration too, at which it's possible the binary hasn't been used - so maybe it should be added to the web installer?

[2016-01-06 10:22] cscd98 opened #2896 "Store View Drop down in Admin - unable to scroll to bottom"
Hi,

I am viewing the admin products->categories section and when I try to use the Store View drop down I am unable to get to the bottom options if you have a lot of stores.

So If you open the drop down, you need to scroll the page to see the other options. Unfortunately this then closes the drop down, so I am unable to change to the bottom ones!

This is on Firefox or Chrome (latest).

[2016-01-06 10:47] gitpramos opened #2897 "After migration configurable Products not showing Associated products"
After migration configurable products are not showing associated products in Admin panel.

[2016-01-06 10:48] gitpramos opened #2898 "Merge CSS en JS shows blank"
Merge CSS en JS shows blank shop

[2016-01-06 11:39] cscd98 commented on #2191
@mazhalai I have tried this now but unfortunately I now get:

[code]

[2016-01-06 11:50] miguelbalparda commented on #2891
It is a shared server @davidalger.
@alankent I've found

[code]

after a fresh unzip. Every occurrence is like

[code]

but it keeps trying to install it. Any ideas?

[2016-01-06 12:28] vkholoshenko commented on #2619
Sorry for the delay. First issue was fixed in e0f560f7d973e03a88f0f71ea932dc3add3599fa. And for issue from your last comment we've created one more internal ticket: MAGETWO-47656
Thanks for your input!

[2016-01-06 12:48] vkholoshenko commented on #1646
Issue has been fixed in b9f2ad7cb9df1a740ecb48a5ae52f239e9cb33f7. Thanks for reporting!

[2016-01-06 12:48] #1646 closed

[2016-01-06 13:02] vkholoshenko commented on #1822
@netrixab, the team has processed this ticket (fb62bafeac50db7ed748e8ed313b4f1bdecd3317). Sorry for the delay.

[2016-01-06 13:02] #1822 closed

[2016-01-06 13:08] vkholoshenko commented on #1952
Issue has been fixed 0d85b24fd0f0d9da4a729cdaf236325cd6855fef. Thanks for reporting!

[2016-01-06 13:08] #1952 closed

[2016-01-06 13:33] vkholoshenko commented on #1953
The team has processed this ticket 0d85b24fd0f0d9da4a729cdaf236325cd6855fef. Thanks for reporting!

[2016-01-06 13:33] #1953 closed

[2016-01-06 13:36] #1971 closed

[2016-01-06 13:45] mslabko commented on #1903
Hello @owenhaynes,

Sorry for the delay in response.
"quantity_and_stock_status" was eliminated from this API.
For retrieve information about stock status for Configurable sub-products you can use the following APIs:
- V1/configurable-products/{:sku}/children - for retrieve configurable sub-products
- V1/stockItems/{:sku} - for retrieve stock items by given sku

[2016-01-06 13:45] #1903 closed

[2016-01-06 13:45] pavlindrom commented on #2777
I was wrong to think it was a pristine environment. Turns out I forgot I installed the extension I worked on. I have narrowed the issue to having a <sequence> inside the etc/module.xml file. I thought that node is for listing dependencies, but now it's pretty clear that it's more about listing the order dependent modules should be loaded in, and the order I listed them in was breaking the cart (an

[2016-01-06 13:52] pawel-dubiel commented on #2104
+1

Currently it seems almost impossible todo any serious work in timely manner.  I have to wait a minute to rebuild all locales. Would be interesting to hear from others how they improve development speed and make the whole thing less painful.

[2016-01-06 13:54] vkholoshenko commented on #2197
Closing as a duplicate

[2016-01-06 13:54] #2197 closed

[2016-01-06 13:57] cscd98 commented on #2750
Same issue with php 7.0.1 - OS X

It segfaulted, left my index_state at working and then I realized the indexer would never run again by inspecting the code.

So I re-indexed using php56.

However I am missing prices and product names in grid/list view.

[2016-01-06 14:01] vkholoshenko commented on #2259
The issue has been fixed in 42f74ccf60874034536a4311ad4eac7d531e34ce. Thanks for reporting!

[2016-01-06 14:01] #2259 closed

[2016-01-06 14:05] cscd98 commented on #2191
@mazhalai If I try from the command line instead:

[code]

[2016-01-06 14:18] ishakhsuvarov commented on #2777
@pavlindrom Thank you for update. Is the issue completely solved for you now?

[2016-01-06 14:47] gitpramos opened #2899 "Settings for Search Engine Optimization don't work as suposed"
Settings for Search Engine Optimization "Configuration > Catalog > Search Engine Optimization >"

Use Categories Path for Product URLs
Use Canonical Link Meta Tag For Categories
Use Canonical Link Meta Tag For Products

[2016-01-06 14:57] pcjacobse opened #2900 "Losing categories when updating product via REST"
With a PUT request to `/V1/products/SKU1234` with e.g. `{"product": {"price":500}}` the product is removed from its assigned categories.

Magento ver. 2.0.0

[2016-01-06 15:00] vkholoshenko commented on #2462
Hi, @influxive. We haven't heard back from you and, thus, will proceed with closing this issue. In case you have anything to add, please don't hesitate to reopen it.

[2016-01-06 15:00] #2462 closed, assigned to nobody

[2016-01-06 15:01] vkholoshenko commented on #2597
Since we haven't heard back from you, we'll proceed with closing this issue. Feel free to reopen if you have additional info.

[2016-01-06 15:01] #2597 closed, assigned to vladimir-k

[2016-01-06 15:11] vkholoshenko commented on #2192
Internal ticket: MAGETWO-47663
@dfediuk, thanks for reporting!

[2016-01-06 15:12] christinenikaki commented on #2868
Same thing happening to me. I see the products in the backend. I also tried exporting them and import again. The file exported had different encoding and more fields than my original one, but still no luck.
[catalog_product_20160106.zip](https://github.com/magento/magento2/files/79950/catalog_product_20160106.zip)

[2016-01-06 15:13] mazhalai commented on #2860
@pavanuec thank you for your response. Closing this issue.

[2016-01-06 15:13] #2860 closed, assigned to nobody

[2016-01-06 15:14] vkholoshenko commented on #2291
Internal ticket: MAGETWO-47664

[2016-01-06 15:15] mazhalai commented on #2885
@Khushik is the logged in user (the one running command on prompt) in the same group as apache as mentioned in @xcomSteveJohnson's doc link?

[2016-01-06 15:16] vkholoshenko commented on #2357
Thanks for reporting! Internal ticket: MAGETWO-47665

[2016-01-06 15:17] hellsanos opened #2901 "403 on ajax call (admin backend)"
Hi there

Following issue:
When I am browsing as a backend user to Products > Catalog, select an item and click on the 'Default' dropdown (it says 'start typing to search template') for searching for attribute sets, I am getting a 403 forbidden status from the post method

[code]

This error only occures when I am logged in as a user who has a "Custom" Role Resource Access.
Users whose Role Resour

[2016-01-06 15:24] vkholoshenko commented on #2474
Hi, @nguyetnguyen. Thanks for reporting! It seems that issue doesn't appear on current develop branch. Could you please confirm that you don't have this problem on newest code?

[2016-01-06 16:05] EyeWeb commented on #2567
+1 noticed this also

[2016-01-06 16:06] EyeWeb commented on #2854
I've experienced this same issue.

[2016-01-06 16:10] pavlindrom commented on #2777
Yes, for me it is.

[2016-01-06 16:15] dkvashninbay commented on #2832
@astorm
Ok, i've compiled the code (setup:di:compile command), and put a breakpoint at https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/App/StaticResource.php#L105
and put some code there:

[code]

which led me directly to

[code]

  So this issue is not reproducible or it has some unmentioned steps.

But this is not the your case, as you want to intercept \Magento\F

[2016-01-06 16:15] #2777 closed, assigned to ishakhsuvarov

[2016-01-06 16:16] SilvanLaroo opened #2902 "Error when opening order as client"
Hi,

When I try to open an order as client, I get this error: `Warning: Illegal offset type in isset or empty in /var/www/bhvtotaal/vendor/magento/module-sales/Model/OrderRepository.php on line 62`.

I believe this error occurs because the function expects to receive an int, but the Order itself is passed to the function. A fix would be to retrieve the order id from the order:

[code]

I'm not sur

[2016-01-06 16:21] SilvanLaroo commented on #2902
I see this function is also used from the backend, in this case the id is passed to the function. Simply using getId() will not do the trick.

[2016-01-06 16:25] bkristl opened #2903 "core error - indexing error"
[boštjan.txt](https://github.com/magento/magento2/files/80059/bostjan.txt)
In attached file is error trace when creating a product

When i run
php bin/magento indexer:reindex

i get following error:

Catalog Search indexer process unknown error:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'e.category_ids' in 'field list', query was: SELECT STRAIGHT_JOIN `e`.`entity_id`, `e`.`type_id`, `

[2016-01-06 16:31] K1ngBeeIO commented on #2412
+1 to this issue.

@markoshust Thanks for the script to fix the var/generation directory. Changing the core DriverInterface.php file was required.

However, this issue still persists with the pub/static directory. Would anyone be able to point me in the right direction for a fix for this? Clearing/Flushing the cache from Admin dashboard causes some files to be regenerated with incorrect permission

[2016-01-06 16:58] infoelliex commented on #1250
Just contacted Digital Ocean about this issue, and they said they have built the Magento2 image on Ubuntu 14.4 here:
https://www.digitalocean.com/community/tutorials/how-to-use-the-magento-one-click-install-image
~ peter

[2016-01-06 17:24] le0n4eg commented on #2853
Thanks for reporting this issue! Internal ticket MAGETWO-47676

[2016-01-06 17:59] astorm commented on #2832
@dkvashninbay I'm not sure I follow that -- Jumping up a few abstraction layers, would it be accurate to say the static file serving application  is deliberately designed to **not** allow module developers to use `di.xml` features?

[2016-01-06 18:18] cod3gen commented on #2871
Hi @zanilee

Sorry for my late answer, have been busy these days.
Browser with issue is Opera 34.0 on Windows 10.
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.73 Safari/537.36 OPR/34.0.2036.25

However, i removed browser cache, and now the issue is gone and dropdown works as it supposed to for some wierd resons.

Tested fine with Chrome

[2016-01-06 18:18] #2871 closed, assigned to MomotenkoNatalia

[2016-01-06 19:00] anaxmedia commented on #2885
If the correct owner and file permissions are set, it's most likely SELinux.

You can try setting SELinux to permissive mode to see if that's the issue:

`setenforce 0`

If that does work, you can either leave SELinux in permissive mode or enable it and grant SE permissions on just the directory:

`setenforce 1 // set SELinux back to active enforcing mode`

`chcon -R -h -t httpd_sys_script_rw_t /v

[2016-01-06 19:34] jason-vivid commented on #2854
I'm having a similar issue.  Using the workaround from this (https://github.com/magento/magento2/issues/2567) In order to create a configurable product.

I cannot select:

![image](https://cloud.githubusercontent.com/assets/10146532/12152391/64f90876-b482-11e5-81fd-f79b508fe931.png)

And cannot save:

![image](https://cloud.githubusercontent.com/assets/10146532/12152413/8977e672-b482-11e5-9df7-910

[2016-01-06 19:43] matiasnombarasco commented on #2434
Hi @tigerx7 , that problem didn't happen to me. But for me looks like you are experiencing another issue, not related with this one.

However, looks like the problem might be related with SSL and configuration between secure and insecure urls. I will suggest to check that an also be sure the the ajax urls are under ssl as well. If that doesn't work, is hard to tell what can be the problem.

I will

[2016-01-06 20:44] mazhalai commented on #2880
@raybogman can you please add the following to your php.ini, restart server and try installing again. Please post contents of `path_to_log_file`.

[code]

[2016-01-06 20:56] tigerx7 opened #2904 "Authorize.Net Direct Post causing orders to be marked as pending, no transaction posted"
An order popped up today with the status "Pending" but payment method set to Authorize.Net Direct Post. A search through transactions and declines on Authorize.net did not show a transaction attempt. Mail logs show that an email was sent out to the customer.

After doing some research and combing through stackexchange, I have a feeling that this is related to antivirus software on visitor's system

[2016-01-06 21:31] jaimestuardo opened #2905 "Required product attribute cannot be selected in the configurable product"
Hello... I think this is a bug.

I have created a configurable product. Then, I added a required dropdown attribute. So far no problem... configurable product and virtual products were added correctly.

However, if I need to edit configurable product (not the virtual ones), the attribute dropdown appears disabled with an empty value, and when I click on "Save", a validation error is shown telling

[2016-01-06 21:36] richdynamix opened #2906 "Upsell product prices missing when block loaded with AJAX"
While I am not 100% sure if this is a bug or if it's something I have not implemented correctly but I am failing to find any evidence I am doing it wrong. I have posted this question on StackOverflow to ask the wider community however this has not been successful.

I am working on a Magento 2 module that uses AJAX to load the upsell products. The upsell products can be different per customer so AJ

[2016-01-06 21:37] tigerx7 commented on #2619
@vladimir-k Awesome, I was able to confirm that applying https://github.com/magento/magento2/commit/e0f560f7d973e03a88f0f71ea932dc3add3599fa fixed the issue for category assigned products. It's one step closer, now it's just the anchor categories having the url path issue. Applying the mentioned changes didn't fix the issue in anchor categories.

[2016-01-06 21:46] dsikkema commented on #2674
@astorm how did you get that list of which classes won't be interceptable?

[2016-01-06 21:52] Vinai opened #2907 "Integration Test Annotation magentoAppArea breaks with some valid values"
The following test breaks due to `Annotation\AppArea` trying to init the design.

[code]

The relevant part of the stack trace is:

[code]

This is despite `\Magento\TestFramework\Annotation\AppArea` defining the valid areas as

[code]

The same error happens for `webapi_soap` and `cron`, too.
The other ones, `frontend`, `adminhtml` and `global` work as expected.

[2016-01-06 22:02] Vinai commented on #2907
In case google brings someone here, a possible workaround instead of using the `@magentoAppArea` annotation is:

[code]

Just be aware the setting will persist between tests, so be sure to reset the current scope in `tearDown` (something that the annotation does automatically).

[2016-01-06 22:04] salelsol opened #2908 "Can I change tittle of custom options based on store view"
I´ve add another language in store, and when change for a particular store view language, then custom options products fails (All store views works fine), and can´t chane anything.
![custom_options_store_view](https://cloud.githubusercontent.com/assets/16081377/12156170/a709c7c2-b4c9-11e5-8a6f-1be6e35637b9.jpg)

[2016-01-06 22:30] dmitrii-fediuk opened #2909 "The frontend product zoom has a poor usability with the small images on a wide PC screen"
![](https://mage2.pro/uploads/default/original/1X/8351bbea69827cb70bc23eb923dad0613a42b16f.png)

[2016-01-06 23:20] astorm commented on #2674
@coldgreentea I dropped the following debugging code into my system

[code]

In plain english, this code basically says

Then, I ran through some user flows in the browser on both the frontend and backend, then `sort`ed and `uniq`ed the log file.

[2016-01-07 00:51] keithbentrup commented on #2880
I had a seg fault during the cli install due to a memory allocation issue using the php7 package from ppa:ondrej/php. However, I had previously been using php7-beta1 from http://repos.zend.com/zend-server/early-access/php7/repos just fine. I haven't had time to investigate further so I reverted to php7-beta1 from zend.

My environments can be replicated using these Dockerfiles based on an ubuntu 1

[2016-01-07 03:54] tigerx7 commented on #2434
@matiasnombarasco I think your update on the template definitely fixed half the problem. I did a clean install without SSL to test and sure enough, POST data was missing. I changed the location of the `<form>` tag, and attributes are now being passed via POST.

However, still was being redirected to product page with "You need to choose options for your item." I found the problem and have been abl

[2016-01-07 04:26] astorm opened #2910 "Can't Create URLs Shorter than Three Characters"
If I attempt to create a new route for a module, and that module's front name is less than three characters

[code]

Magento's XML validator complains

[code]

It looks like the regular expressions for validating this element (`[A-Za-z0-9_]{3,}`) demands a `frontName` be at least three characters.

Based on the behavior of other PHP frameworks (which allow segments shorter than three characters),

[2016-01-07 04:34] Khushik commented on #2885
It is a bit better, now i get the following error:
![capture](https://cloud.githubusercontent.com/assets/16103149/12162294/cd9563da-b521-11e5-8eff-e87849303c18.JPG)

[2016-01-07 05:06] anaxmedia commented on #2885
If you're seeing only 1 directory with setenforce 0 it's not SELinux, it's either the owner or file permissions. Try chown -R :apache magento2/var and setting file permissions on the magento2/var directory again.

[2016-01-07 06:32] Khushik commented on #2885
Finally I have launched my magento 2 test site. Thank you so much for your speed replies.

[2016-01-07 07:07] ragum opened #2911 "Can't open admin panel (Class Magento\User\Model\Resource\User does not exist)"
After I install magento 2, the admin panel can't be open, but in frontend store working
"There has been an error processing your request

Exception printing is disabled by default for security reasons.

Error log record number: 846107250"

anyone can help? (please help me and sorry for the bad english)
here the 846107250 file
[846107250.txt](https://github.com/magento/magento2/files/80783/84610725

[2016-01-07 07:26] pmquan commented on #2827
I got a similar issue with my setup CentOS 7 + PHP 7.02. I did exactly as anaxmedia's fix.
Changed file vendor/magento/framework/Session/SaveHandler.php line 112
From: return $this->saveHandlerAdapter->read($sessionId);
To: return (string)$this->saveHandlerAdapter->read($sessionId);

My system detailed information:
php-pecl-memcached-2.2.0
libmemcached-1.0.16
php-7.0.2
apache-itk

[2016-01-07 07:40] #2885 closed, assigned to nobody

[2016-01-07 09:20] Karl456 commented on #2905
This has already been reported and acknowledged: https://github.com/magento/magento2/issues/2854

[2016-01-07 09:22] namluu commented on #2910
It's not a URL's problem. The route id doesn't allow dashes but frontName does, you can set:
`<route id="helloworld" frontName="hello-world">`

[2016-01-07 09:32] IceReaper commented on #2666
After a lot of digging i just found out that the images are correctly added to `catalog_product_entity_media_gallery` table but NOT to `catalog_product_entity_media_gallery_value` and `catalog_product_entity_media_gallery_value_to_entity`. Manualy adding those makes the images appear everywhere correctly. So the bug is simple: the relations between the images and the products will not be stored on

[2016-01-07 12:19] ericahoekerd opened #2912 "WEBAPI: option to create an individual address for customer and return 1 addressId (request)"
When we send a new address (billing or shipping to Magento (by SOAP api)  for a customer we store the addressId in the ERP system.

With the new functions it is not possible anymore to create one specific address for a customer and get 1 addressId returned. Can you add this back again?

[2016-01-07 12:21] twiking opened #2913 "Defined conditions not visible in edit mode for widget Catalog Products List"
## Steps to repeat
1. Go to Admin -> Content -> Pages, and edit a page.
2. Add a new widget to the page
3. Select _Catalog Product Lists_ as the widget type.
4. Create a condition
5. Select Product attribute -> Category
6. Click on ... and select a category
7. Insert the widget
8. Click on "Save and Continue Edit"
9. Double click on the widget (with WYSIWYG editor mode enabled)

**Expected result:

[2016-01-07 12:33] EdIzotov commented on #1897
I get the same issue in 2.0.0 (with the same stacktrace)

[2016-01-07 12:35] ericahoekerd opened #2914 "WEBAPI: bug customer is created although you receive an error in address section"
Usage of this method customerCustomerRepositoryV1SaveRequest results in error if you miss some required parameters in the address section (addresses/item), eg lastname, firstname.

But the customer account is created and get his own Id!

This should not happen, the complete message should be rejected and not 1 part should be processed.

[2016-01-07 14:27] brendanmckeown opened #2915 "Cannot extract database .gz file created by scheduled backup"
I have scheduled backups enabled, with the "database and media" type selected.  On schedule, the system creates a backup file in the `/var/backups` directory, e.g. `1452176641_media.tgz`.  When I extract this file on the command line, using: `tar -xzf 1452176641_media.tgz`, I see a `pub` and `var` directory. `pub` contains the media files as expected.  `var` contains what looks like an archive of

[2016-01-07 14:36] marvincaspar commented on #2915
Just rename the file to `1452176641_db.sql` and open it in a text editor

[2016-01-07 14:40] brendanmckeown commented on #2915
@mc388,
Thanks, that works!  Why is it given a `.gz` extension in the first place?

[2016-01-07 14:51] mazhalai commented on #2880
@keithbentrup ~~why are you using php5 extensions for gd and mcrypt etc?~~ ETA: Sorry I saw the working one first. But that is still inconsistent with some php7 mixed with php5.

These steps worked for me:

[code]

[2016-01-07 14:56] marvincaspar commented on #2915
I don't know but I had the same issue a few month ago. Maybe the fix this in the future

[2016-01-07 15:01] gonorovsky commented on #2894
This bug appeared on table rates shipping method.

[2016-01-07 15:08] mazhalai commented on #1897
@EdIzotov please refrain from posting on closed issues. Please create a new issue. Can you give more details about your environment and how did you deploy magento2?

[2016-01-07 15:17] mazhalai commented on #2915
Reopening, since we have to fix this internally, in ticket MAGETWO-47687 to fix this.

[2016-01-07 15:38] erikhansen opened #2916 "Usability issues with error/notice/success messages"
This issue covers what I consider to be two major usability issues with messages:
#1. Error message hides after 5 seconds

When error messages are displayed on the frontend, they disappear after 5 seconds (this is controlled by the `onHiddenChange` method in `app/code/Magento/Ui/view/frontend/web/js/view/messages.js`). If a user is not paying attention, if they are a slow reader, or if the error m

[2016-01-07 15:56] remkoj-ism opened #2917 "Robots.txt is store-view on admin panel, but global on disk"
While testing the SEO features of M2, I've identified a second issue, in addition to the bug described at #1146 at least the generated robots.txt is not compatible with a multi-site setup
## Steps to reproduce
1. Setup Magento 2 with two store views, each on their own domain.
2. Go to the design settings (Stores > Configuration > General > Design)
3. Ensure that you're in global scope
4. Under Sea

[2016-01-07 16:06] debuysserk opened #2918 "Problems with update timestamps of CMS pages?"
Hi guys,

Since upgrading to latest version of Magento 2, one of our customers is experiencing an update timestamp issue on CMS pages. The modification date of CMS pages (and blocks) is never updated to today's date.

Known issue?

[2016-01-07 16:28] greg-io7 commented on #2404
You're seeing that because your class reference to a class called `Not_Existing_Class` does not exist. It looks like maybe this was a placeholder that was never removed?

[2016-01-07 16:47] chat2vignesh opened #2919 "Validate class not found from basename 'StringLength'"
Hi,

When i try to update the customer or product attributes i am getting this error message.

Validate class not found from basename 'StringLength'

It seems like namespace not working with this class file..?

Any one got same problem please  reply me.

Thanks,

[2016-01-07 17:03] astorm commented on #2910
@Namluu You are correct!  You **can** have dashes in the `frontName`.  Useful, thanks!  Updated the bug the reflect my annoyance on the limits of three character URLs instead :)

[2016-01-07 17:21] erikhansen commented on #571
I don't have time to work on this right now, but just pitched in a $25 bounty.

[2016-01-07 17:27] raybogman commented on #2880
new PHP 7.0.2 is out

it looks like there is a core bug
https://bugs.php.net/bug.php?id=71163

I am going to test it

[2016-01-07 18:10] erikhansen opened #2920 "Two-step checkout breaks after visiting multiple address checkout page"
# Explanation of issue

I've encountered a really odd bug. When a logged in user with multiple address in their customer account visits the "Multiple Address Checkout" page and then progresses to the normal checkout, each time they progress from _Shipping_ to _Review & Payments_, the shipping address in quote_address gets duplicated. Because of this, when the user tries to place the order, the ord

[2016-01-07 18:11] olivermontes commented on #2406
more info about this error:
- this user find file to comment 2 lines: $this->checkInstallationFilePermissions();
- comment this lines, can continue process bin/magento setup:upgrade
- link http://magento.stackexchange.com/a/92370/19

[2016-01-07 19:38] zamboni084 opened #2921 "After deleteing a store i get No such entity"
After deleting a store i get No such entity on the Content>Pages. Even if i add new page and save still get No such entity. But under Store>Configuration>Web under CMS Home Page drop-down they are still listed and the page i just created.

How can i get this back?

![page](https://cloud.githubusercontent.com/assets/16354206/12180662/fa456b08-b54b-11e5-8cf9-626205e8d8c0.PNG)
![cms drop down](https:

[2016-01-07 20:04] hgpit opened #2922 "M2 ignoring session time out"
Please can anyone help with Magento not honouring the time-outs set for cookies, when importing products via CSV?

We start with a clean system:
- rm -f /var/lib/php/session/*
- rm -f /var/www/<magentosite>/var/session/*
- Clear all browser cookies.
- Reboot server.

Then I try to import a 77,000 record product CSV file. Magento successfully checks it and we continue with the import.
After, betwee

[2016-01-07 20:40] mazhalai commented on #2921
@zamboni084 did you have multiple stores, and then deleted one? or did you delete the default one?

[2016-01-07 20:43] mazhalai commented on #2406
This has been possibly been fixed in MAGETWO-47297. Please standby while we merge this change.

[2016-01-07 20:45] zamboni084 commented on #2921
Yes i have multiple stores i deleted one that we did not need and it was not the default.

[2016-01-07 20:58] mazhalai commented on #2921
Thank you @zamboni084 we have created MAGETWO-47690 to investigate.

[2016-01-07 21:04] mazhalai commented on #2922
@hgpit thank you for reporting, we have created MAGETWO-47691 to investigate.

[2016-01-07 21:08] mazhalai commented on #2130
@tvlooy is you have no other issues with installation, can we close this issue?

[2016-01-07 21:18] mazhalai commented on #2903
@bkristl can you please give us more information about your environment? How did you deploy magento : via git, via composer create-project or downloaded a zip from magento.com? Also, is this a fresh install?

[2016-01-07 21:38] tvlooy commented on #2130
@mazhalai it depends. If Magento wants to run on those platforms you can either wait until they add support for GLOB_BRACE or make sure Magento doesn't rely on GLOB_BRACE. I guess these platforms are not the most common to run Magento, so ...

[2016-01-07 21:50] alanseiden commented on #2130
Looks like GLOB_\* functions may be in AIX 7.2 (recent version, I think) which means it will eventually get to IBM i when it updates its AIX-equivalent to that level, but meanwhile, could @tvlooy post what his workaround was?

[2016-01-07 22:39] dmitrii-fediuk opened #2923 "Has it any sense to display the stock status on the frontend product views for the virtual products?"
![](https://mage2.pro/uploads/default/original/1X/ac21c16e53395e007eaacd4061d8713cb115253c.png)

https://mage2.pro/t/196

Related to: https://github.com/magento/magento2/issues/2314, https://github.com/magento/magento2/issues/2359, https://github.com/magento/magento2/issues/2012

[2016-01-07 22:51] bkristl commented on #2903
This is fresh install of magento version 2.0 but i think is downloaded via zip magento.com. I have use all installation possibilities, so i am not 100% sure. Are there some difference of installation (different version of files) ?

If you need the whole code with database i can send you.

I have research that the problem come when is using full text search.
The problem is in file
app/code/Magento/

[2016-01-07 23:33] jleplomet opened #2924 "Very BAD Performance with Magento 2 on Mac OS X"
Hello

Im trying to figure out how to develop a custom theme with Magento 2 and its been a huge pain so far. I have developer mode set with

[code]

The problem is that Magento takes over a minute to load any page, its almost unusable. My system specs are

[code]

I installed PHP/MySQL locally to avoid the virtual setup but it seems the slow performance is about the same. Is there any tips to incr

[2016-01-08 02:43] alankent commented on #2924
That is very strange. Could you send me a direct email at akent at magento dot com? We are getting some reports of wildly different performance - trying to track down the common factor.  E.g. my first load of home page is under 10 seconds, second load is under 1. That does not line up with over a minute for every page.

[2016-01-08 03:11] markshust commented on #1769
@MomotenkoNatalia since 2.0.0 is released, are tickets still handled internally or is everything on github now? I wasn't sure if this was being resolved (because you have an internal ticket number noted), or if you were taking PR's for stuff like this. Lmk. Thanks!

[2016-01-08 03:12] markshust commented on #1584
@asemenenko is this being handled internally? i'm a bit confused on the internal ticket numbers, i wasn't sure if these were still being resolved or if everything is now handled on github.

[2016-01-08 03:13] markshust commented on #2672
@xcomSteveJohnson this shouldn't be labeled a question, it's a bug. a pretty high priority one for that matter :)

[2016-01-08 03:15] markshust commented on #2924
@jleplomet are any files hosted on an external/third-party/remote volume disk? i've noticed this can dramatically slow down m2.

[2016-01-08 03:18] markshust commented on #2855
Possibly related to https://github.com/magento/magento2/issues/2672

[2016-01-08 03:19] markshust commented on #2805
MySQL gone away is typically an out-of-memory error. How much RAM do you have devoted to MySQL and the machine you are installing on?

[2016-01-08 05:51] Vinai commented on #2924
Have you disabled caching? What is the output of `$ bin/magento cache:status`?
Being used to working with (some) disabled caches on Magento 1, it was a change I had to learn to live with when developing with Magento 2. Caching should practically never be disabled.

Also, is xdebug installed in your php? You can see by running `php -m | grep xdebug`. If that outputs `xdebug` it is installed.
If so,

[2016-01-08 06:16] markshust opened #2925 "merge js files has no effect"
See this page for webpagetest results:
http://www.webpagetest.org/result/160108_GR_A6S/

It doesn't appear the `dev/js/merge_files` has any effect. I expect that this toggled on would only show a few js files at most (if not one file).

[2016-01-08 06:21] markshust commented on #2925
Here's full run-down of core-config if needed for diagnosis:

[code]

MAGE_MODE is set to production and all static assets were compiled.

[2016-01-08 06:24] parekhreena commented on #2404
Yes you are right. As a temporary fix, i was able to resolve this problem by commenting following line:

 \Not_Existing_Class $notExistingClass

in << Magento2 Root Folder >>\vendor\magento\framework\Code\Test\Unit\Generator\TestAsset\TestGenerationClass.php

However, after this also there are various other errors showing up.

[2016-01-08 07:11] zanilee commented on #2898
Hi, @gitpramos!

Could you please provide steps to reproduce this issue?

[2016-01-08 07:27] sachan-amit opened #2926 "PHP Fatal error: Call to a member function getTargetPath()"
PHP Fatal error:  Call to a member function getTargetPath() on a non-object in /var/www/html/magento/vendor/magento/module-catalog-url-rewrite/Observer/AfterImportDataObserver.php on line 286, referer: https://xyz.com/admin_irgyjq/admin/import/index/key/efcc5ba93429fea26fde0ec4a8656e3125945d01982f5db2c2549059d7ba8614/

[2016-01-08 07:33] bhargavmehta opened #2927 ".gitignore inclusion in further versions (Request, Question)"
Can we add a default gitignore in develop branch so that it is easily trackable and easy to merge with current development by ignoring some static files like composer.lock.

Thank you

[2016-01-08 08:18] GianniPDF commented on #2911
I have a similar issue but with class Magento\Authorization\Model\RoleFactory, i posted it in stackexchange, http://magento.stackexchange.com/questions/96024/magento-2-admin-url-gives-error-class-magento-authorization-model-rolefactory/96075#96075 but error persist

[2016-01-08 08:31] tvlooy commented on #2130
@alanseiden I don't have a decent workaround. I hacked the core files to load what I want, so I could do further testing

[2016-01-08 09:26] thomvanderboon commented on #2630
Is there a way to get in what module a certain string should be located?

I located for instance the "Review & Payments" text in the source code, but I can't get it translated.

I tried the following codes in my csv... but nothing is working

"Review & Payments","Controle en betalen",module,Magento_Payment
"Review & Payments","Bekijk en betalen",module,Magento_CheckOut
"Review & Payments","Bekijk

[2016-01-08 09:34] cscd98 commented on #2880
With PHP 7.0.2 I still get the following when reindexing catalogsearch_fulltext

[code]

I can't use PHP 7 and I can't use HHVM, not a good start!

[2016-01-08 09:41] cscd98 commented on #2805
@markoshust I have 16GB of RAM on my macbook.

This is my /etc/my.cnf:

[code]

[2016-01-08 10:39] fetzi opened #2928 "PHP Warning inet_pton() [function.inet-pton]: Unrecognized address unknown"
If the HTTP_X_FORWARDED_FOR header variable is used, the inet_pton method produces a PHP warning because the HTTP_X_FORWARDED_FOR variable can contain multiple IP's seperated by "," or another illegal value.

See [Class RemoteAddress](https://github.com/magento/magento2/blob/077584c99ebb8007cad176c3b9a0144a05c259cd/lib/internal/Magento/Framework/HTTP/PhpEnvironment/RemoteAddress.php#L67)

[2016-01-08 10:56] dkvashninbay commented on #2832
I've done more debugging on this and it seems that this not only about static application, but interception of File Driver is impossible because of that particular class (and all clients which are using this shared instance/configured by default):
[\Magento\Framework\Filesystem\DriverPool](https://github.com/magento/magento2/blob/2.0/lib/internal/Magento/Framework/Filesystem/DriverPool.php#L81)

S

[2016-01-08 11:06] #2928 closed, assigned to nobody

[2016-01-08 11:26] katmoon commented on #2926
Hi,

Could you provide some additional information such as:
- which action caused the exception
- content of var/log/exception.log if available?

Thanks,
Kateryna.

[2016-01-08 11:30] katmoon commented on #2905
Closing as a dupe.

[2016-01-08 11:30] #2905 closed, assigned to nobody

[2016-01-08 11:52] katmoon commented on #2908
Hi,

Thanks for reporting the issue.
Internal ticket is MAGETWO-47698

[2016-01-08 11:53] bhavin88 opened #2929 "Add URL Rewrite for a Category from admin - blank page"
Hello,

When i try to add url rewrite for a category from admin, i get a blank page. See attached.

Thanks,
Bhavin Bhalodia.
![category_add_url_rewrite_from_admin](https://cloud.githubusercontent.com/assets/12870148/12197370/8718e9e8-b62c-11e5-88b4-330302e884da.png)

[2016-01-08 12:24] jaimestuardo opened #2930 "Bad source.csv file when downloading translation"
I don't know if this the right place to post this, but I don't know where to report this bug.

I am a contributor for magento 2 Spanish language, so I am translating all texts in https://crowdin.com/project/magento-2/es-ES system.

So far, so good. However, when I download resulting source.csv file I realized it is completely wrong.

As an example. Translation for "Create an account" is set as "Cr

[2016-01-08 12:38] hatimeria-artur-jewula opened #2931 "Cart Price rules without coupons are not processed when coupon is applied"
I have stumbled on strange situation in Magento2. I have 2 cart price rules defined. First one has no conditions, no coupon, applied to all customer groups and websites, and grants 10% discount. This rule is successfully applied to cart after first item is added. I can see discount value set to 10%.

Example:
![cart-rule-1](https://cloud.githubusercontent.com/assets/16100846/12197883/50ea0e40-b60b

[2016-01-08 12:59] ericahoekerd opened #2932 "WEBAPI: bug image create for product fails with SOAP API, error message 'Cannot save product'"
It is not possible to attach an image with this method: catalogProductAttributeMediaGalleryManagementV1CreateRequest . The product with sku 189 exists in Magento backend, but I get an error 'Cannot save product'. The error comes from this line

$product = $this->productRepository->save($product) in this function:

public function create($sku, ProductAttributeMediaGalleryEntryInterface $entry)

[2016-01-08 13:07] katmoon commented on #2876
Hi,

Is this a customer attribute or a product attribute?
Could you attach a screenshot with the error, please?

Thanks,
Kateryna.

[2016-01-08 13:11] bartdelvaux commented on #2924
Some time ago, I was having the same issue. I could solve this by disabling the merging of Javascript and CSS.

In some cases, the generation of these files slows down the site.

[2016-01-08 13:18] katmoon commented on #2855
Hi,

Do you still experience the issue?

If yes, could you
- verify the indexers statuses after the cron job is run twice:

[code]
- check jobs statuses in `cron_schedule` table
- check error logs

Thanks,
Kateryna

[2016-01-08 13:21] katmoon commented on #2851
Closing as a dupe of #2850

[2016-01-08 13:21] #2851 closed, assigned to nobody

[2016-01-08 13:30] martijnhovinga opened #2933 "Checkout 'hanging' for 2 out of 3 websites running the SAME Magento code"
I installed Magento 2 with Softaculous successfully. I only added code to .local host in Magento root for running 3 stores based on the same Magento installation (taking the added code out did not make any difference to the issue below).

On 2 of my stores, after adding to cart and clicking "Go to Checkout' the screen only displays the 'logo and the 'order summary' without the 'shipping' step, see

[2016-01-08 13:37] xkerkhof commented on #2876
It;s a product attribute
- Store -› Attributes -› Product.
- Add new attribute

![example_attr_error](https://cloud.githubusercontent.com/assets/15209284/12199039/5a0ccc92-b615-11e5-8956-d6e24535ad27.jpg)

[2016-01-08 13:46] katmoon commented on #2703
Hi,

Thanks for reporting the issue.
An internal ticket `MAGETWO-47700` has been created.

Please note you can also update variations using Actions menu ![Actions menu](https://cloud.githubusercontent.com/assets/1260101/12199159/d3e3df20-b61e-11e5-8c6d-2b6c5fcc169f.png)

[2016-01-08 13:59] katmoon commented on #2929
Hi,

Are there any errors in the browser console or `var/log/` folder?
Which [Magento mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) do you use?

Thanks,
Kateryna

[2016-01-08 14:33] katmoon commented on #2876
I see you found a workaround for this issue, though it's awful.
Could you clear browser cache just in case, reproduce it and paste the content of `<table class="admin__control-table">` element here?

Which version of Magento do you use?

Thanks,
Kateryna.

[2016-01-08 14:42] ghost commented on #2672
@markoshust They don't let me label anything...

[2016-01-08 14:44] xkerkhof commented on #2876
Cleared the cache, doesn't work. Using Magento 2.0.0 (is there an other?).

<div id="manage-options-panel">
        <table class="admin__control-table">
            <thead>
                <tr id="attribute-options-table">
                    <th class="col-draggable"></th>
                    <th class="col-default control-table-actions-th">Is Default</th>

[2016-01-08 14:44] ghost commented on #2930
How did you create `source.csv`?

[2016-01-08 14:54] ghost commented on #2903
Are you using MySQL Full-Text or Solr?

[2016-01-08 15:02] jaimestuardo commented on #2930
I did not create it directly. I have just downloaded the generated file from https://crowdin.com/project/magento-2/es-ES which is supposed to be the official translation site for Magento 2.

[2016-01-08 15:07] ishakhsuvarov commented on #2933
@martijnhovinga Thank you for reporting the issue.
Currently we can not reproduce described issue with clean magento installation.
Please try to install Magento in one of the [recommended ways](http://devdocs.magento.com/guides/v2.0/install-gde/continue.html) and test the same case without third-party modules to see if the issue persists.

[2016-01-08 15:08] ishakhsuvarov commented on #2756
@salelsol Closing the ticket for now.
Please feel free to reopen if the issue persists.

[2016-01-08 15:08] #2756 closed, assigned to ishakhsuvarov

[2016-01-08 15:09] ishakhsuvarov commented on #2780
@oaramis Closing this ticket for now.
Please feel free to reopen if the issue persists.

[2016-01-08 15:09] #2780 closed, assigned to ishakhsuvarov

[2016-01-08 15:11] ghost commented on #2910
@astorm Thanks for pointing this out. I updated the [routing topic](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/routing.html) with character restrictions.

BTW, in your example XML, you're using a path to the XSD instead of a [URN](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/XSD-XML-validation.html).

[2016-01-08 15:11] toonvd commented on #1577
@ilol any news on this? Cliënts will want to start porting shipping extension to Mage 2 soon.

[2016-01-08 15:19] mazhalai commented on #2903
Also, what version of PHP, OS, and server?

[2016-01-08 15:48] katmoon commented on #2876
Value for `<input name="option[value][option_0][0]" value="" class="input-text required-option" type="text">` is not set for some reason.

Magento can be installed in 3 ways, see http://devdocs.magento.com/guides/v2.0/install-gde/continue.html
The freshest version is available on Github.

[2016-01-08 16:09] gitpramos commented on #2898
Actually the problem relies in merging .css files, after doing the merge i get a 500 error on admin panel and in front end is blank. Merging .js en bundling has no efect.

Minify .js i can see a lot of min.js but not bundling as I expected.

Firstly i'done it in one time and it blows the all system and recovered in the db. But also done one for one and refreshing cache I get the same problem.

Tha

[2016-01-08 16:14] gitpramos opened #2934 "Upload product images and drag product images doesn't work"
Upload product images and drag product images doesn't work.

Trying with images .png, .jpg with 500 kb and less it does nothing and sometimes it can be seen the loader but it doesn't upload or accept image to upload.

[2016-01-08 16:45] gitpramos opened #2935 "Special price still showing with empty field"
Special price still showing in front-end with empty field in back-end and all cache renewed.

Also it shows "was $price"

[2016-01-08 17:00] pabloberlin commented on #2338
Yes, I had the same problem, and its solved cleaning browser cache ;)

[2016-01-08 17:24] bkristl commented on #2903
I have test this problem in 2 different environment:
In both i use MySQL Full-Text, but later we want to integrate Apache Solr
As server you mean web server, if i am wrong please correct me. So for server i will provide you info for web server.

---

1)
OS:  Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u6 (2015-11-09) x86_64 GNU/Linux (debian 8.2 - jessie)

MYSQL: Ver 14.14 Distrib 5.7.10

[2016-01-08 17:29] jaimestuardo opened #2936 "Error saving no-route page"
This error occurs only with no-route page, when saving:

"Forbidden

You don't have permission to access /_admin136/cms/page/save/key/823f71317503a38f22a83cc145503668502d0f7dc0c6dff5e7b818f11b1ef944/active_tab/main_section/ on this server."

[2016-01-08 17:35] bkristl commented on #2903
Also when i was want to look at content of:
variable $select
in function getSearchableProducts
of class Full ( namespace Magento\CatalogSearch\Model\Indexer\Fulltext\Action )
in file: app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/Full.php
and save to file i was getting content bigger then 2GB, after that i was stop the execution.
There must be too much loop...

[2016-01-08 17:50] mazhalai commented on #2903
@bkristl thank you for your update. We have created ticket MAGETWO-47705 to investigate.

[2016-01-08 18:32] choukalos commented on #2130
Hi @tvlooy we officially support linux platforms ( http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html ) so this would fall into a known compatibility issue with AIX 7.2 for Magento 2.  If there's no negative impact in removing our use of GLOB_\* we'd welcome a PR.

[2016-01-08 19:19] code-K commented on #2104
+1 for this improvement

[2016-01-08 20:36] mazhalai commented on #1974
This has been delivered a while back and should be available in 2.0 Please have a look and let us know if this is fixed.

[2016-01-08 21:25] ghost commented on #2830
@dfediuk Are you certain that this is a requirement and not a recommendation? Will it work for everyone? Is it necessary for everyone? I hesitate to add a "requirement" that is merely a guideline.

Also, what is not clear about the Ubuntu and CentOS recommendations?

[2016-01-08 21:36] dexterityzx opened #2937 "Newsletter - queue time changes after save"
I set a time for sending newsletters to subscriber. But after I saved it, the time changed. I have checked the server's tim zone and the database's timezone. It all consists with the timezone before I save it. Is there anyone having the same issue?

before save.
![capture-timazone1](https://cloud.githubusercontent.com/assets/13892193/12210138/e710284a-b625-11e5-8729-ffa2e66589e2.JPG)
after save.
!

[2016-01-08 22:12] markshust opened #2938 "turning on minify js errors out product detail page"
There is a specific library which bombs out when turning on minification of javascript files. See screenshot.

![screen shot 2016-01-08 at 5 10 00 pm](https://cloud.githubusercontent.com/assets/437029/12210845/fd1cbf4a-b62a-11e5-912f-6cd6498fc37f.png)

[2016-01-08 22:16] jleplomet commented on #2924
I have all caches disabled for development of my theme. I have pinpointed the issue to be server side compilation of static assets. Its taking 30s-1min to finish and display the page. This happens both on frontend and admin side.

I am not using any external/third-party/remote volume disk. I have Apache, PHP/MySQL running directly on my iMac/Macbook SSD

xdebug is also installed but disabled on `x

[2016-01-08 22:24] markshust commented on #2672
Sorry -- I meant to reference @okorshenko, not you :)

[2016-01-09 01:58] tigerx7 opened #2939 "Free Shipping Method not showing in backend"
When creating an order in the backend, the Free Shipping Method is not showing up as an available option.
## Steps to Reproduce

In the Default Config store view configuration, enable "Free Shipping" method, set minimum order amount to $79. For comparison purposes, enable "Flat Rate" shipping method with a per item $5 value. Refresh cache and then go to Sales -> Orders, select Customer (or new Cus

[2016-01-09 06:00] ragum commented on #2911
in my case, it just happen when I clone from 2.0 branch, if I clone from develop, it working correctly

[2016-01-09 11:44] dmitrii-fediuk opened #2940 "Propose to add the possibility to set a fieldset-specific renderer to the fieldset elements"
https://mage2.pro/t/228

[2016-01-09 12:45] thomvanderboon opened #2941 "Javascript String Internationalisation not working"
I've noted that there is something not working with the translation of javascript strings.

I've set up a demo site: http://mage2-test.vanderboon.net

If you add a product to the cart. Click the button "Toevoegen aan Winkelwagen" (Add to Cart in Dutch), after you click, you will see "Adding..." and "Added" And "Add to Cart".

The three last messages are not translated.

In the catalog-add-to-cart.

[2016-01-09 12:45] getrengcle opened #2942 "Magento 2 Installation Stops at 0%"
Okay, after 4 years of waiting, finally Magento 2 is available. Yay!
Upgraded my PHP to 5.6.16 and  MySQL to 5.6.21 and Apache to 2.2.31
Tried to install on my VPS, running CENTOS 6.7
Passed readiness check.
Then when installing, it stops right at 0%

It says:
Installation is incomplete.
Check the console log for errors before trying again.

Console log says:
Starting Magento installation:
File pe

[2016-01-09 15:36] ghost commented on #2942
Two suggestions: look in your web server logs and try installing via [command line](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli.html). Either way, you might see better errors.

[2016-01-09 15:43] ghost commented on #1075
@sumanparihar In a different context, we have a fix for a segmentation fault by setting `ulimit` as shown [here](http://devdocs.magento.com/guides/v2.0/comp-mgr/prereq/prereq_compman-ulimit.html). The segmentation fault is likely why the status is still Processing.

Because this is a closed issue, recommend you open a new one if you still have this issue.

[2016-01-09 19:08] jruzafa opened #2943 "Url API /rest/V1/products/:sku not require authentication authtoken"
Access to the url api /rest/V1/products/:sku does not require authentication authtoken, attached screenshot:

![screen shot 2016-01-09 at 20 06 03](https://cloud.githubusercontent.com/assets/209403/12217817/8948bcbc-b70c-11e5-8937-4110736658cc.png)

[2016-01-09 20:18] ajay09Payal commented on #2891
i am also getting the same issue and i am on shared server (aws)

[2016-01-09 20:22] ajay09Payal opened #2944 "Problem with magento"
I am trying to install magento 2.0 from github. I am using shared server (aws ubuntu 14.04) and i am getting an error as

[ERROR] exception 'LogicException' with message 'Unknown module in the requested list: 'Magento_BundleSampleData'' in /var/www/html/magento2/setup/src/Magento/Setup/Model/Installer.php:401
Stack trace:
#0 /var/www/html/magento2/setup/src/Magento/Setup/Model/Installer.php(362):

[2016-01-09 20:30] jruzafa commented on #2944
I happened to me this same error and restart the mysql service and it worked

[2016-01-09 21:41] Mhd-Emad opened #2945 "Null get destination city"
Hi All,

When I'm  trying to get  Shipping destination city in collectRates(RateRequest $request) method to create my own shipping module it's still return null value, $request->getDestCity()
i can retrieve country code but city not, can you advice me please?

[2016-01-09 22:18] gigadesign1 opened #2946 "Customer country list not correct"
I was just migrating my data to Magento 2.0 and found this issue.

When there are different configurations for available countries in store views, in the admin section I only get the countries that are available in the _default store view_ of the website, but not the store view the customer is assigned to.

In my case: we have a website for Europe. This website has store views for different countr

[2016-01-09 22:30] gigadesign1 opened #2947 "Configurable products: tier prices and attributes"
Improvement suggestion.

I use a lot of configurable products in combination with tier prices.
The configuration of prices used to be in the configurable product in Magento1.

Now in Magento2 when I want to update the tier prices of my product, I have to edit every single simple product.
Since we have a product in 32 different colors and 3 sizes (so 96 simple products), this is not really user-fri

[2016-01-09 23:09] daim2k5 commented on #2945
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-09 23:09] #2945 closed, assigned to nobody

[2016-01-10 00:45] Tibaus opened #2948 "Where'is code folder"
Hello, in magento 1.x version the folder 'app/code' was enable, but in 2.x version this folder is not valid, where can i input the module?
Thanks!
Sorry if i'm saying something wrong

[2016-01-10 01:11] davidalger commented on #2948
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate.

[2016-01-10 01:11] #2948 closed, assigned to nobody

[2016-01-10 03:13] mrkhoa99 commented on #2934
@gitpramos possibly check _pub/media_ permissions? Do you have a complete stack trace? Or Any console errors log from browser? What's browser you used?

[2016-01-10 07:34] dmitrii-fediuk opened #2949 "Propose to improve the \Magento\Framework\Data\Form\Element\AbstractElement::setForm() method signature"
https://mage2.pro/t/231

[2016-01-10 08:20] dmitrii-fediuk commented on #2830
That is because a lot of people try to install Magento 2 on 128M hostings because they are not aware of the real Magento 2 memory requirements, the page http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html has no any mentions about it.

[2016-01-10 08:21] sIiiS opened #2950 "suggestion for other locales and options!"
Can anything be done to define "decimals, precision, etc" or force the script to automatically detect "options" based on the locale during setup?

For example in Persian:
precision is "0" not "2" ... ex. 5 is correct not 5.00
decimals is "0" not "4" ... ex. 20 is correct not 20.0000
script is "Arabext" not "Latn",
currency position is "Right" not "Left",
etc!

[2016-01-10 11:11] acidreian666 commented on #2880
@craigcarnell I get the same exact problem on php 7.0.2 on reindexing catalogsearch_fulltext
Link to my Magento Stack-exchange with pictures
http://magento.stackexchange.com/questions/96590/magento-2-0-with-upgraded-to-php-7-0-indexer-stuck-at-processing

[2016-01-10 14:08] sIiiS commented on #653
use commits above if can solve the problem!

[2016-01-10 14:28] jaimestuardo opened #2951 "Some texts are not translated"
I have found another bug in Magento 2 and it is concerning translation. I have placed translation file: /app/i18n/desytec/es_es/es_ES.csv to translate to Spanish.

It works but not for some texts. For example, if you connect to http://www.vtrack.cl/catalogsearch/advanced/, you will see almost all form texts in English instead of Spanish.  Maybe texts are hard coded, because if you see "Advanced Se

[2016-01-10 15:29] code-K commented on #2463
i also can reproduce this. any solutions yet?

[2016-01-10 17:07] sIiiS commented on #2951
They are attributes and you should add your word in the "Default Store View" in product attributes
go to "Stores -> Attributes -> Product" and change them!

[2016-01-10 19:59] jaimestuardo commented on #2951
You are wrong or misunderstood the issue.

You are talking about attributes for product catalog, however, I was talking about translation that has nothing to do with products, for example, translation for the sentence "Advanced Search" title as clearly says in the issue description.

Regards
Jaime.

[2016-01-10 20:29] sIiiS commented on #2951
go to the path below and open "link.phtml" ...
`{magento root}/vendor/magento/module-catalog-search/view/frontend/templates/advanced`
you can see...
`<?php /* @escapeNotVerified */ echo __('Advanced Search'); ?>`

Maybe cache problem!

But for filed titles please read my previous post

[2016-01-10 21:15] jaimestuardo commented on #2951
it is not cache problem... you have just actually confirmed that it is a bug. For example, with respect to "Advanced Search" you said that I need to open a core file and change the text. Do you think it is a normal procedure for a multilanguage site? why is not the translation file taken into account for this sentence? This sentence is translated in the CSV file.

By the way, "Advanced Search" was

[2016-01-10 21:22] sIiiS commented on #2951
Yes, for "Advanced Search" and several titles and lables!
Also for Cache lable and descriptions too!

"Advanced Search" is here
`{magento2 root}/vendor/magento/module-catalog-search/view/frontend/layout/catalogsearch_advanced_index.xml`
in this file you can find it : `<title>Advanced Search</title>`

[2016-01-10 21:29] hgpit commented on #2922
I think I have nailed this issue down to a database setting.
MySQL/MariaDB setting 'max_allowed_packet ' needed to be increased from its default 1MB.

It would be good if Magento had some way of reporting/warning a user that huge product imports would generate insanely huge SQL statements.

[2016-01-10 21:29] #2922 closed, assigned to nobody

[2016-01-10 21:30] jaimestuardo commented on #2951
What about "Contact Us" title? "You have no items in your shopping cart." text? or "This is a required field?" validation message? All of them are not translated even when that texts exists in the CSV file.

You said that for "Advanced Search" and several titles, it is needed to correct in the core files, but, I think Magento developers should be notified about this so that make all of these trans

[2016-01-10 22:07] keithbentrup commented on #2880
@mazhalai re the php5 exts with php7-beta ... at the time, the php7-beta didn't have all the extensions and the php5 ones were compatible

Regardless, I set up a docker image were you can reproduce the problem.

`docker run -it esepublic/m2-php7-install-test` (more info here: https://github.com/esepublic/docker-m2-php7-install-test)

It appears to be due to a memory allocation error (it consume al

[2016-01-10 22:31] kandy commented on #2903
@bkristl, Can you provide screenshot of Storefront Properties Tabs for product attribute `category_ids`?

[2016-01-10 23:34] everon commented on #2750
Same issue here with Centos 7.x and PHP 7.0.2
Spent hours trying to debug this, strangely it worked on PHP7.0.0 on another server I deal with for work.

[2016-01-10 23:54] al-Obaidi commented on #2750
Hi Everon,
I was busy trying to install php 7.0.2 to see if the problem still exist. From your comment, it seems it is unfortunately still exist.
It is PHP7 bug.
You saved my time to install the latest php7 version.
Can you tell me please what the guide/reference, you follow to install php7.0.2 with all required extensions needed by magento 2. I use latest minimal fresh Centos 7.x.
Thank you

[2016-01-11 00:43] thomvanderboon commented on #2951
Please search the open issues in this Github. Multiple issues have already been opened and confirmed

[2016-01-11 02:31] dmitrii-fediuk opened #2952 "Class \Magento\Framework\Data\Form\Element\Fieldset breaks specification of the parent class \Magento\Framework\Data\Form\Element\AbstractElement by not calling the method getAfterElementJs()"
https://mage2.pro/t/247

Similar to https://github.com/magento/magento2/issues/2615

[2016-01-11 03:46] theskillwithin opened #2953 "autoload error after local vagrant install with composer?"
not sure if this is an issue or if I did something wrong:
![screen shot 2016-01-10 at 7 45 02 pm](https://cloud.githubusercontent.com/assets/8095506/12226552/d6128854-b7d2-11e5-8be4-c8e8bb2f6cb4.png)
![screen shot 2016-01-10 at 7 45 02 pm](https://cloud.githubusercontent.com/assets/8095506/12226554/dd79c274-b7d2-11e5-8117-3683f99e7e10.png)

createApplication('Magento\Framework\App\Http'); \* $boot

[2016-01-11 03:52] mazhalai commented on #2953
@theskillwithin what server are you using? You need to configure it to run PHP,

[2016-01-11 06:26] theskillwithin commented on #2953
Thank you!  I am running Ubuntu on vagrant puphpet.   PHP 5.6, Apache, I configured the puphpet file to the requirements.  here is  the config.yaml that generated the vagrant.  Anything I can do to diagnose the issue?

[code]

[2016-01-11 07:15] ghost commented on #2697
Same issue here on digital ocean.
Thanks

[2016-01-11 08:46] antboiko commented on #2899
Hello @gitpramos , thanks for your inquiry. Could you please provide more details about issue you have?

[2016-01-11 09:06] stenidor commented on #2882
I have exactly the same problem ! Have you found a solution ?

[2016-01-11 09:07] bkristl commented on #2903
![category_ids-storefront](https://cloud.githubusercontent.com/assets/4640143/12229777/c67f12c0-b842-11e5-9279-d5867f26f2bd.png)

[2016-01-11 09:08] pkhutal opened #2954 "Magento 2 Api Integration Not Working"
Hello,
  I have done Magento 2.0 Installation but when trying  to generate API keys from admin panel system-->Integration-->add New Integration-->save .I get infinite please wait  processing bar.Please help me for this issue.

[2016-01-11 09:08] ankurgecr opened #2955 "Unable to create new integration."
[System -> Extensions  -> Integration -> Add new Integration -> Save] keeps loading with message "Please wait..."
Platform: Windows 8 (x64)
XAMPP 7.0.1 (VC14)
Browser: Mozilla Firefox

[2016-01-11 09:17] ankurgecr commented on #2955
Changed browser to Safari and problem solved.

[2016-01-11 09:17] #2955 closed, assigned to nobody

[2016-01-11 09:26] OlegIvan0v opened #2956 "Unable to render page when 'meta title' page config param is set"
### Preconditions

1. Magento 2

### Steps to reproduce

1. Create a custom module with following controller:
[code]
2. Open the created controller on storefront.

### Expected result

Page is opened, its source contains `<meta name="title" content="some meta title">`

### Actulal result

Error message: "Recoverable Error: Object of class Magento\Framework\View\Page\Title could not be converted to

[2016-01-11 09:27] everon commented on #2750
@Ferfoor
It was the latest Centos 7 on Digital Ocean, I used the Remi repo to get it working. As for the other server I imagine it will show up sooner or later and will just deem 7.x as a no go until it is patched up. (7.0.3 any one?).

The Remi repo can be found with a few Google searches and added to the yum repository list will yield the php70-\* packages.

[2016-01-11 09:41] al-Obaidi commented on #2750
Thank you @everon  for clarification.
I will wait version 7.0.3 hoping it will be patched. I think to get fastest result, the PHP team/developers should be alert about magento 2 segmentation fault error. It might give their attention directly so they focus on the cause of bug.

Thanks again @everon.

[2016-01-11 10:23] hgpit commented on #2470
I have installed M2CE three times and M2EE once, all on systems running MariaDB 10.0.23 and experienced zero issues regarding the DB engine version.

I should add that these were clean CentOS installed though with no old MySQL files floating around.

Sorry I can't be more helpful!

[2016-01-11 10:41] hgpit opened #2957 "Product Import (HUGE SQL statements/slow)"
CentOS 6.7
PHP 5.6
Apache 2.2.15
MariaDB 10.0.23

Hi all,

We are testing the product import procedure of M2CE. We have 77,000 products to bring in, but are finding the whole process to take far too long (over 8 hours - total time to be confirmed!).

Originally, we hit an issue with MariaDB/MySQL's **max_allowed_packet** setting requiring an increase from its default 1MB. We upped it to 16M (based

[2016-01-11 10:51] ishakhsuvarov commented on #2920
@erikhansen Thank you for reporting this issue.
Which branch are you using to reproduce the issue? We could partly reproduce it (steps 9 and 10) but order is placed successfully on the `develop` branch.
We have created an internal ticket `MAGETWO-47748` to investigate and fix the issue.

[2016-01-11 11:27] Khaleel opened #2958 "Media Uploader Issues"
Hi

I want to raise some issues on the hideous and bloated Media uploader for Magento 2 and shoot the person who built this pile of crap.
- Cannot upload SVG images
- Poor UI and UX
- No indication of uploaded content
- Firefox has thousands of issues including JS issues with not allowing the upload option to show
- The upload button is text and should be made to a button
- No history tracking

It

[2016-01-11 11:27] cscd98 commented on #2750
Has this been reported so that it will be fixed in 7.0.3? What is the php bug number? (e.g. link)

[2016-01-11 11:29] Khaleel commented on #2958
![screen shot 2016-01-11 at 3 28 20 pm](https://cloud.githubusercontent.com/assets/355336/12232444/002cf2e6-b878-11e5-941f-00de3a61c195.png)

Should be a button ^

![screen shot 2016-01-11 at 3 28 10 pm](https://cloud.githubusercontent.com/assets/355336/12232448/0c30a880-b878-11e5-9e5b-d508fc1a588d.png)

Why does it scale to the right half the screen?

Is is possible to use another Image or File M

[2016-01-11 11:44] al-Obaidi commented on #2750
Hi @craigcarnell ,
I'm not familiar with ( github - development process/community - bug reporting ...), so I may can't help. I may can tell how to reproduce this error. On Centos 7.x  if you install "magento 2" with sample data, and want to reindex via cli, a segmentation fault will result. This damage the magento database by somehow which make the whole application not working properly (not showi

[2016-01-11 12:01] cscd98 commented on #2750
@Ferfoor The bug would need reporting at https://bugs.php.net/

But they won't accept Magento 2, they need specific code to reproduce the error

[2016-01-11 13:01] hellsanos commented on #2056
Okay, it is somehow working for me now.
I was told that the js-translation.json file (which obviously holds all JS/KO translations) is generated only if there is a language package for the current language.

Even though I failed creating my own language package with the magento commands, I "found out a simple solution".
I just moved my language file from the theme folder

[code]

to the already ex

[2016-01-11 14:54] mazhalai commented on #2953
Look at your apache conf file. Is php enabled? You can enable php and then restart your server with the following commands.

[code]

Also, looks like your config is missing some php extensions, like

"lib-libxml": "_",
"ext-ctype": "_",
"ext-spl": "_",
"ext-dom": "_",
"ext-simplexml": "_",,
"ext-hash": "_",
"ext-curl": "_",
"ext-iconv": "_",
"ext-intl": "_",
"ext-xsl": "_",
"ext-mbstring": "*",
"e

[2016-01-11 14:59] choukalos commented on #2943
Hi @jruzafa You can call the product API with out an authorization token and essentially see the same data  a customer can see (basically everything but inventory).  If you call with an admin token or system token you'll get inventory status.  This is as designed to support AJAX / Angular JS type of solutions.

[2016-01-11 14:59] #2943 closed, assigned to nobody

[2016-01-11 15:03] mazhalai commented on #2942
@getrengcle you can enable developer mode by running this command in your console. This will give your more stack trace errors: `<magento root>/bin/magento deploy:mode:set developer`

[2016-01-11 15:14] mazhalai commented on #2880
@kiethbentrup  yes we are aware of issues in indexer on PHP7(this is a duplicate of #2750), but this thread started as Segmentation fault for install. Do you still have problems installing Magento2 on PHP7?

@raybogman any update regarding installation using PHP7? We cannot reproduce the segfault during installation.

[2016-01-11 15:16] mazhalai commented on #2954
@pkhutal can you please give more information about your environment? OS, versions of php, mysql and server?

[2016-01-11 15:18] pkhutal commented on #2954
Windows 7 Webserver
PHP 7.0
mysql is 5.5

[2016-01-11 15:28] mazhalai commented on #2470
@starnetwork were you able to try installing via CLI?

[2016-01-11 15:30] mazhalai commented on #2954
@pkhutal minimum mysql version is 5.6.  How did you install Magento2? Also, looks like this is similar to #2955

[2016-01-11 15:36] pkhutal commented on #2954
ok...thank you.

On Mon, Jan 11, 2016 at 9:01 PM, mazhalai notifications@github.com wrote:

[2016-01-11 15:55] benmarks commented on #2958
That's **_completely**_ unnecessary and unprofessional, @Khaleel.

[2016-01-11 15:56] starnetwork commented on #2470
Hi @mazhalai
I already change the environment to MySQL 5.6 and can't touch it now :(
anyway, next time I will have same environment, I will check it again...

[2016-01-11 16:18] MomotenkoNatalia commented on #2916
Hi @erikhansen
We have created task for our Design team to refine a pattern of messages from your proposals - Internal ticket MAGETWO-47763

Thanks for sharing your ideas!

[2016-01-11 16:57] SilvanLaroo commented on #2056
Although my js-translation.json file is filled with translations now, the Adding... string is still not translated on the storefront.

[2016-01-11 17:05] ghost commented on #2956
Not sure if I would expect that `getMetadata();` sets the title. Maybe it is omitted in the metadata array for a special purpose?
I cannot think of any but I have not much SEO knowledge :)
I'm just using `$resultPage->getConfig()->getTitle()->set("FOO");` to set the title which works fine

[2016-01-11 17:15] slavvka commented on #2717
Hi @Totarenx. The fix has been delivered to mainline. Please look at f56e20b. Feel free to reopen it once you still have problems.

[2016-01-11 17:15] #2717 closed, assigned to slavvka

[2016-01-11 17:33] yaronish commented on #2019
@dfediuk please confirm this issue still exists after b9f2ad7
Thank you.

[2016-01-11 17:42] keithbentrup commented on #2880
@mazhalai yes, that's what i'm saying - the install fails with php7 and I've created a reproducible docker container here, so you can see for yourself:

`docker run -it esepublic/m2-install-tests:php7-install-test`

If you have docker, just run the 1 cmd, watch it all install and you'll see it fail **during the install** at the point that I described. Find the Dockerfile and install script (instal

[2016-01-11 17:54] keithbentrup commented on #2880
![image](https://cloud.githubusercontent.com/assets/253579/12241667/73ae86dc-b862-11e5-9209-df6a29953af5.png)

[2016-01-11 17:55] mazhalai commented on #2880
@keithbentrup You have sample data, did you try installing without sample data?

[2016-01-11 18:06] keithbentrup commented on #2880
I'm only trying to install with sample data. I have no need for an installation without sample data at this time, but if that makes it a duplicate of #2750, then I guess it's not a separate issue.

[2016-01-11 18:09] mazhalai commented on #2880
@keithbentrup just tried with sample data, and got a segfault! It is related to indexer issue #2750.

[2016-01-11 18:33] choukalos commented on #2890
Hi @shirtsofholl - At this time supporting EDI in core is not on our Radar.  Our strategy is first to service layer Magento 2 ( ie make all the functionality in Magento essentially an API and use it internally - is coverage ), Support Mobile APIs, and 3rd making it as client friendly as possible.  The majority of our customer base prefers REST style web APIs with a small but vocal hold out using S

[2016-01-11 19:25] slug23 commented on #2843
I have this same problem when using chrome. Safari works fine. The cart popup won't work and I see "GET /pub/static/frontend/Magento/luma/en_US/rjsResolver.js HTTP/1.1" 404 0 in the logs.

Similarly for the admin products catalog page Safari works, but Chrome will not. Chrome gets a "GET /pub/static/adminhtml/Magento/backend/en_US/Magento_Ui/templates/grid/filters/field.html HTTP/1.1" 404 0

The b

[2016-01-11 23:54] alankent commented on #2056
Hi @hellsanos! Moving your CSV file to an official Magento directory is not an acceptable solution for the product. You should not have to modify a Magento delivered language pack. (This is not a complaint of what you did, just saying for the Magento folks that this is a workaround, not a solution to the problem.)

[2016-01-12 00:01] Vincentguo1990 opened #2960 "CMS page/block removes tags with empty contents"
I tried to used font awesome and added it to a block in admin.

in the content area input code like:

[code]

When you click "Show/Hide Editor" twice, you will see the content above not showing in editor.

However, the contents can be loaded in frontend.

[2016-01-12 00:18] mttjohnson opened #2961 "Exporting From Admin Grid (UI Component) - Limited to 20 records"
I ran into this initially while building my own Admin UI Component for a grid of a custom table. I had 1200 records in the table but the export button in the header of the grid would only end up exporting 20 records. I then tested this against some other grid that uses the new Admin UI Components where I had more than 20 records and it would still only export 20 records. Specifically it was only r

[2016-01-12 00:23] jaimestuardo commented on #2951
Concerning "Privacy and Cookie Policy" text I have found the correction to this bug.

First, this entry was in /module-cms/view/frontend/layout/default.xml file this way:
[argument name="label" xsi:type="string"]Privacy and Cookie Policy[/argument]

I have added "translate" attribute, so that it became:
[argument name="label" xsi:type="string" translate="true"]Privacy and Cookie Policy[/argument]

[2016-01-12 00:28] alankent commented on #2470
If I understand correctly from this page (https://mariadb.com/kb/en/mariadb/what-is-mariadb-100/), MariaDB is _close to_ MySQL 5.6. It is not exactly the same - it is 5.5 with some 5.6 features back-ported. So they don't claim 100% compatibility. That means to more officially support MariaDB we may need to add it to all our test plans. At present we only test against the official MySQL 5.6 release

[2016-01-12 01:14] martijnhovinga commented on #2933
@ishakhsuvarov Thanks for your feedback.
My assumption is that is a bug indeed in the STATE OPTIONS settings under default configuration. Initially I ticked Malaysia in 'State is Required for'.
This is similar to https://github.com/magento/magento2/issues/1508

I found this Javascript error on the checkout pages of babyplus.com.my and contoursbaby.com.my:

/pub/static/frontend/Magento/luma/en_US/M

[2016-01-12 01:28] markshust commented on #2470
I think this is something specific to the user's environment. I've run both
10.0 and 10.1 on m 2.0.0 with zero issues. Installed, configured, ran fine
out of the box.
On Mon, Jan 11, 2016 at 7:29 PM Alan Kent notifications@github.com wrote:

[2016-01-12 05:23] dmitrii-fediuk opened #2962 "The constructor of the class \Magento\Framework\View\Result\LayoutFactory can be shortened by using PHP 5.5 class name resolution via ::class"
https://mage2.pro/t/topic/338

Similar to https://github.com/magento/magento2/issues/2794

[2016-01-12 06:31] OlegIvan0v commented on #2956
The problem is that we cannot set meta title of page using \Magento\Framework\View\Page\Config::setMetadata():

[code]

It's not related to page title:

[code]

We can set any other meta data, but not 'meta title' because during processing of meta data content magento invokes getter method of \Magento\Framework\View\Page\Config, which for 'title' data will be \Magento\Framework\View\Page\Config::g

[2016-01-12 08:04] bbraspenning opened #2963 "Error adding order comment through REST and admin backend."
When trying to add a comment to an order. through REST.
We get an error in magento2 version2 (worked in version magento2 version1)
{"message": "Internal Error. Details are available in Magento log file. Report ID: webapi-5694b169f0feb"}  But there is no file in de reports folder?

Same problem in admin backend. when trying to add a comment to an order.
"we cannot add order history"

What could be

[2016-01-12 08:57] stasleo opened #2964 "Theme issue - wrong UX"
Responsive design at default M2 theme has usability issue for tablets.
It is not good idea to display filters AFTER products.
https://s.mail.ru/4EmNRvXS5DFz/img-2016-01-12-11-54-13.png
It's better to display some icon or button BEFORE products which will call filters block, just as on mobile view (https://s.mail.ru/2A9VJvvB1fLR/img-2016-01-12-11-56-29.png).

Please consider,
Stanislav Golodov, Pro

[2016-01-12 09:17] cscd98 opened #2965 "Release schedule?"
Hi,

Does Magento have a release schedule for further M2 versions?

[2016-01-12 09:27] rudik99 commented on #2924
I also had the same issue, the solution was the same as @bartdelvaux - disable the merging of JS and CSS.

[2016-01-12 09:27] yaronish commented on #2173
Hi @rodrigozulu internal ticket MAGETWO-47781 created for this issue
Thanks.

[2016-01-12 10:44] srynot4sale commented on #2671
I have a trace for the error (which appears for me when running setup:install), in case it helps anyone:

 Exception trace:
 () at /var/www/lib/internal/Magento/Framework/ObjectManager/Config/Compiled.php:132
 Composer\Util\ErrorHandler::handle() at /var/www/lib/internal/Magento/Framework/ObjectManager/Config/Compiled.php:132
 Magento\Framework\ObjectManager\Config\Compiled->extend() at /var/www/l

[2016-01-12 11:02] srynot4sale commented on #2933
Solved for me - fix was to enable the country specified in the "Default Tax Destination -> Default Country" in "Country Options -> Allowed Countries"

[2016-01-12 11:13] poongud commented on #2614
I have same problem.
pls help me ?

http://127.0.0.1/mage2/admin/admin/index/index/key/45cede1ed1f61621f86246f71918c4d762db2be719fc9446e63b436fdfd3e5bf/

Not Found

The requested URL /mage2/admin/admin/index/index/key/45cede1ed1f61621f86246f71918c4d762db2be719fc9446e63b436fdfd3e5bf/ was not found on this server.

Apache/2.4.7 (Ubuntu) Server at 127.0.0.1 Port 80

[2016-01-12 11:15] poongud commented on #2614
Not Found

The requested URL /mage2/admin/admin/index/index/key/45cede1ed1f61621f86246f71918c4d762db2be719fc9446e63b436fdfd3e5bf/ was not found on this server.

Apache/2.4.7 (Ubuntu) Server at 127.0.0.1 Port 80

[2016-01-12 11:17] martijnhovinga commented on #2933
Thank you very much! This worked for me as well! PROBLEM SOLVED!

[2016-01-12 12:28] Khaleel commented on #2958
If no emotion is shown then how can we progress.

[2016-01-12 13:02] ovedmo opened #2966 "When saving content (cms) page get error"
When saving content (cms) page get error:
Warning: preg_match(): Compilation failed: range out of order in character class at offset 6 in ......vendor\magento\zendframework1\library\Zend\Locale\Format.php on line 527";i:1;s:8623:"#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'preg_match(): C...', 'D:\bitnami\mage...', 527, Array)

it happen in two diffrent intallation !!

[2016-01-12 14:10] ghost opened #2967 "Not Able to get Destination City in CollectRate Method."
I am trying to get destination city in our custom shipping module in collectRates() Method but its giving blank from request.
Here is my collectRates() method code:

   public function collectRates(\Magento\Quote\Model\Quote\Address\RateRequest $request)
    {
      if ($request->getDestCity()) {
            $r->setDestCity($request->getDestCity());
        }
   }

I have tried my best to find the

[2016-01-12 14:15] bbraspenning commented on #2963
the issue has solved itself.

[2016-01-12 14:15] #2963 closed, assigned to nobody

[2016-01-12 14:27] girishyam commented on #1250
Hi

I had the same issue. It got resolved once I activated rewrite_module on Apache.

Shyam

[2016-01-12 14:51] benmarks commented on #2958
The answer is simple: we're professionals, a fact demonstrated by the issues resolved in this channel without (or in spite of) emotional appeal. Note that there is a massive difference between expressing frustration and threatening violence (which you did). Do not make that mistake again please. It adds nothing of merit to the report (which in itself is quite valuable), and similar conduct in the

[2016-01-12 15:11] markshust commented on #2924
@rkhoury82 this is odd, because from my experience, merging JS doesn't have any change on output? https://github.com/magento/magento2/issues/2925

[2016-01-12 15:31] shiftedreality commented on #2956
Correct way to setup title was specified by @xhallix

[code]

But current behavior looks like issue. Setting metadata should have the same result for any meta name.

Created ticket MAGETWO-47807

[2016-01-12 15:42] MomotenkoNatalia commented on #2691
@lgarridoj Any updates on this?

[2016-01-12 15:43] MomotenkoNatalia commented on #2479
@nhimxugia Any updates on this?

[2016-01-12 15:44] chicgeek opened #2968 "Unable to override knockout template for form groups"
I'm trying to override a knockout template for form groups. I've copied over the file to the module folder in my theme dir and regenerated the assets, with no luck.

An example of content that uses this template are the two address text inputs in the checkout. Here is the template file I'm trying to overwrite, and the override path. **This does not work**:

[code]

The same method works as expecte

[2016-01-12 15:47] shiftedreality commented on #2918
@debuysserk is it still reproducible on latest developer branch? CMS pages/blocks had changes and this problem looks fixed.

[2016-01-12 15:50] zanilee commented on #2582
Hi, @rdeelstra!

Could you please provide more detailed steps to reproduce this issue?

[2016-01-12 15:56] MomotenkoNatalia commented on #2960
@Vincentguo1990 Why do you use empty tags? Please do not forget about accessibility! Please add some description to the links, and just hide them using css properties to avoid problems with screen readers.

[2016-01-12 16:07] zamboni084 opened #2969 "When adding New Product Attribute"
When adding New Product Attribute it will not save, Under Manage Options (values of your attribute) it always comes up "This is a required field" even though there is something there.
![new product attribute](https://cloud.githubusercontent.com/assets/16354206/12268852/9461d8f6-b91c-11e5-9a0e-6472b333a0b3.PNG)

[2016-01-12 16:09] mazhalai commented on #2966
@ovedmo can you please give us more details of your environment? Version of PHP, Server and OS?

[2016-01-12 16:45] ovedmo commented on #2966
You can check any online demo, i test it on the online demo also and it act
the same...
בתאריך 12 בינו׳ 2016 6:10 אחה״צ,‏ "mazhalai" notifications@github.com כתב:

[2016-01-12 17:03] shiftedreality commented on #2837
Hi, @rawick

I cannot reproduce current issue. Are you using latest developer branch code?

[2016-01-12 17:08] andidhouse commented on #2809
We have the same error migrating from 1.7.0.2 to 2.0 migration steps finished without error.

Did you find a solution for this?

[2016-01-12 17:16] shiftedreality commented on #2794
Hi, @dfediuk

We have many places with possible use of ::class notations. This is not issue and will be improved in future.

[2016-01-12 17:44] freebot opened #2970 "Step2 runs without errors, but it cant complete"
Exception trace:
 () at /var/www/casaikeda.site/public_html/vendor/magento/data-migration-tool/src/Migration/Mode/Data.php:93
 Migration\Mode\Data->runIntegrity() at /var/www/casaikeda.site/public_html/vendor/magento/data-migration-tool/src/Migration/Mode/Data.php:61
 Migration\Mode\Data->run() at /var/www/casaikeda.site/public_html/var/generation/Migration/Mode/Data/Proxy.php:95
 Migration\Mode\D

[2016-01-12 17:59] 3m0 opened #2971 "Cannot get product list using the SOAP API"
I've been trying to get the product list using the following soap request:

[code]

However, all I get is the following response:

[code]

It says that the parameters are invalid, but I don't see what is invalid, since the filterGroups can be empty.

[2016-01-12 18:10] jvanderbiest opened #2972 "set deployment mode to production fails, command returned non-zero exit code"
Hi,
I have a running thread @ [stackexchange](http://magento.stackexchange.com/questions/96606/set-magento-deployment-mode-to-production-fails) but would like to draw more attention to this problem as I also have it with a clean manual installation using the latest github code.

[code]

If I run the failed command separately, I don't get any errors.

[2016-01-12 18:29] davidalger commented on #2965
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-12 18:29] #2965 closed, assigned to nobody

[2016-01-12 18:38] kandy commented on #2903
Please set "Used for Sorting in Product Listing" to No for "category_ids" attribute. Because "category_ids" is multi value attribute, sorting by it do not make sense. This field currently editable by mistake.

[2016-01-12 19:02] ranaraj1983 opened #2973 "Magento2 Admin is not working"
Hi, I have installed Magento2 successfully in my laptop, windows-7 xampp, I can login to admin but only dashboard is working none of other option are working. and I can see one warning in top of the admin page but I can not see the message,. Could you please help me to troubleshoot what is the issue.

![capture](https://cloud.githubusercontent.com/assets/1684280/12273636/077d48f0-b98d-11e5-9a5a-e7

[2016-01-12 19:24] gigadesign1 commented on #2973
Try running bin/magento setup:static-content:deploy

You seem to be missing Javascript files. I had the same problem earlier.

[2016-01-12 20:18] ghost commented on #2970
The key named `crypt` (the encryption key) is set in `<magento root>/app/etc/env.php`

[2016-01-12 20:48] alankent commented on #2965
(The answer by the way is roughly quarterly, and would I surprise anyone to say you can expect 2.1 will be released to somehow line up with Imagine... because its nice to have something to announce at the conference.)

[2016-01-12 20:59] astorm commented on #2933
@daim2k5 -- Why'd the ticket get closed?  It's great these users solved their problem, but it sounds like they had a valid configuration of Magento that ended up creating javascript errors that blocked other page functionality, and was hard to diagnose. Shouldn't the platform fix that?

[2016-01-12 21:03] srynot4sale commented on #2933
Agreed - this is a horrible bug. Needs to be prevented from occuring

[2016-01-12 21:16] davidalger commented on #2933
@martijnhovinga Since you seem to have figured out a way to resolve your issue, would you be able to try providing steps to re-create the issue for the Magento team to be able to reproduce and solve the underlying bug? This definitely sounds like a bug; an obscure misconfiguration such as this should not be able to cause JS errors on the front-end like this.

If I read you right, steps may be some

[2016-01-12 21:22] ryanstreet commented on #571
Unless someone can get to it sooner, I have this fix slotted in my schedule for February 16.  If someone else can get to it, by all means do so.

[2016-01-12 22:00] jaimestuardo opened #2975 "Magento is removing custom attributes for meta tags"
Hello, I have just found that Magento is filterring some attributes for meta tags.

For example, I need to put this:

<meta name="fb-image" property="og:image" content="http://www.vtrack.cl/pub/media/social/gps303g_fb.png" />

I have added it in vendor/magento/theme-frontend-luma/Magento_Theme/layout/default_head_blocks.xml

And when loaded the web page, the property attribute is removed from the

[2016-01-12 22:30] keithbentrup opened #2976 "setup:static-content:deploy does not create all the required static assets"
Steps to reproduce
1) install m2
2) set base_static_url
3) deploy static assets
4) search pub/static for the file "requirejs-min-resolver.min.js"

I created a docker image to reproduce this issue. All the details and a test image can be found here:
https://github.com/esepublic/docker-m2-install-tests/tree/missing-static-files

Once the image is up, you can access the storefront at your BASE_URL, b

[2016-01-12 23:16] jkristoffer opened #2977 "`/var/generation/Magento/Framework/App/Response` folder missing"
On the `develop` as of date, I noticed that installing with the CLI omits the folder `/var/generation/Magento/Framework/App/Response` and gave me permission issues.

I had to work around it by removing the generation folder and accessing the server from a browser which generates the above mentioned folder an no more permission issues.

This is the command I use to install magento:

`/var/www/html/

[2016-01-13 00:53] martijnhovinga commented on #2933
@davidalger Without doubt, this is a bug. Even worse, it affects the most vital part of the system, i.e. the checkout process and most customers who wish to buy and face this problem get frustrated and decide to leave the website.So I am very thankful that you will look into this for the sake of others using the system.
The problem was caused by a discrepancy between Default Country and Default Ta

[2016-01-13 01:37] lookinglavish opened #2978 "Change Image Size of Visual Swatch"
I'm trying adjust the visual swatch. I'm able to adjust the border around the image, but unsuccessful on adjusting the image itself. I've made the changes in
vendor/module-swatches/view/frontend/web/css/swatches.css. Not sure if I'm in the wrong area or if I need to take extra steps?

Thanks!

[2016-01-13 02:54] bhavin88 commented on #2929
Hello,

Error in console
SyntaxError: JSON.parse: unterminated string at line 1 column 354 of the JSON data
data: JSON.parse(data)
File : http://127.0.0.1/magento2/pub/static/adminhtml/Magento/backend/en_US/mage/apply/main.js

Thanks,
Bhavin Bhalodia.

[2016-01-13 03:54] tang-yu commented on #2675
This issue has been fixed in internal ticket MAGETWO-46808. Thanks for submitting the defect.

[2016-01-13 03:54] #2675 closed, assigned to NadiyaS

[2016-01-13 03:56] tang-yu commented on #2471
The issues has been fixed and merged into mainline. Thanks again for raising the issue.

[2016-01-13 03:56] #2471 closed, assigned to tang-yu

[2016-01-13 04:15] mitulispace opened #2979 "SQLSTATE[HY000] [2002] Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)"
please Help me
![error](https://cloud.githubusercontent.com/assets/16436069/12284906/4427feec-b9da-11e5-8b78-2baf3a049535.png)

[2016-01-13 04:16] mitulispace commented on #2979
my local  to live  trasfer then this Error Show How  to solve

[2016-01-13 04:50] jleplomet commented on #2924
Any update to this? I cant edit layout xml files without disabling cache and therefore back at 30sec-1min page load.

[2016-01-13 04:51] dmitrii-fediuk opened #2980 "The \Magento\Framework\App\Config::getValue() method has a wrong PHPDoc type for the $scopeCode parameter"
https://mage2.pro/t/357

[2016-01-13 06:32] ovedmo commented on #2966
it not influenced by environment!!!
tested on 5 diffrent installations on diffrent servers and with diffrent php ver and dedicated magento hosting and it act the same, please edit cms page (home page let say) and try to save!!

[2016-01-13 07:29] marvincaspar commented on #2979
Check the configuration in `app/etv/env.php`.

And this looks like magento 1 not magento 2

[2016-01-13 08:41] alankent commented on #2924
Hi @jleplomet - which of the approaches other people have suggested have you tried? And did you send me an email as I requested? Sorry if I missed it.

Grunt is certainly the fastest approach. But it is not clear from your report how slow it is still going, and what you are doing that makes it slower than for other people. (I am not saying it is not slower, only there is not much information to wo

[2016-01-13 08:46] alankent commented on #2979
I suggest you visit the Magento forums and ask for help there. It is not a Magento 2 issue, so not relevant to this ticketing system. (And if you want a random guess, make sure you don't use "localhost" as the host name for the socket connection to MySQL. MySQL is hard coded to look for that string and not use network in that case (as an optimization). Try 127.0.0.1 to force a network connection.

[2016-01-13 08:46] #2979 closed, assigned to nobody

[2016-01-13 08:49] jkristoffer opened #2981 "Missing `/var/www/html/magento2/var/log/system.log` when installing with CLI"
I'm installing develop branch as of date on CentOS:6 using the magento CLI.

Upon successful installation when I try to access the page I get the following error:

[code]

So tried creating the file manually with no contents and giving it the appropiate permissions it worked fine.

[2016-01-13 08:56] neeoon commented on #2400
helped for me

[2016-01-13 09:07] cscd98 commented on #2965
@alankent Thanks Alan

[2016-01-13 09:17] belbiy commented on #2909
@dfediuk , can you be more specific about "poor usability" remark? Did you wanted that small image to scale, or something else?

[2016-01-13 09:20] hellsanos commented on #2901
Okay...

So far I figured out that custom set user roles have no permission set for Magento_Backend::admin. If I set the value manually to **allow** on the database it works as intended.

I haven't figured out yet where and why this happens and I don't think that this workaround is the way to go...

This seems to be a bug.

Would be glad for some help.

[2016-01-13 09:34] alankent commented on #2966
Could you provide step by step details on what you did so we can try to repeat? I spun up a M2.0.0 with Luma sample data, went into Admin, Content > Blocks. I then edited "Home Page Block" to add a few extra words, clicked Save. Worked perfectly, no errors. I then went to Content > Pages, and edited the text on the 404 page and saved it. No errors.

If you could say what your set up is and which e

[2016-01-13 09:53] tommy83 opened #2982 "When customer change adressbook data"
1. Login to the website frontend in a customer account.
   Click on **"Account information"** and edit some information (firstname, lastname, ...).
   Click on the save button. Now login to the magento backend and click on customers -> manage customers.
   **Now you see the grid with the correct "updated_at" timestamp.**
2. Login to the website frontend again. Click on "Account information".
   An

[2016-01-13 10:14] chicgeek commented on #2968
After some more fiddling with caches, this works after all. Closing the issue.

[2016-01-13 10:14] #2968 closed, assigned to nobody

[2016-01-13 10:23] tommoholmes opened #2983 "Cannot install"
Hai I want to install magento2 but  when I running I get blank page
http://i.imgur.com/XJBrAkl.png
please help me

[2016-01-13 10:31] mrkhoa99 commented on #2983
You check permission and owner files? http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-01-13 10:39] tommoholmes commented on #2983
I have been set my permession
I set 777

[2016-01-13 10:41] vrann commented on #2914
Internal ticket is created MAGETWO-47850

[2016-01-13 10:47] shiftedreality commented on #2936
Hi, @jaimestuardo

Are you still able to reproduce current issue on latest developer brunch?
Also, could you please provide more details about your environment, version of PHP, Server and OS?

[2016-01-13 10:58] shiftedreality commented on #2913
@twiking, thank you for reporting!

Internal ticket MAGETWO-47858 was created

[2016-01-13 11:23] ishakhsuvarov commented on #2933
@martijnhovinga @srynot4sale Thank you for finding the correct steps to reproduce the bug.
We have created an internal ticket `MAGETWO-47868` to fix the issue.

[2016-01-13 11:23] shiftedreality commented on #2817
Hi @dfediuk

Thank you for reporting. Created internal ticket MAGETWO-47869 for investigation.

[2016-01-13 11:26] ishakhsuvarov commented on #2967
<p>The GitHub issue tracker is intended for technical issues only. Please refer to the <a href="https://community.magento.com" target="_blank">Community Forums</a> or <a href="http://magento.stackexchange.com/" target="_blank">Magento Stack Exchange</a> site for technical questions. In your case, the <a href="https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2" target

[2016-01-13 11:26] #2967 closed, assigned to nobody

[2016-01-13 11:54] shiftedreality commented on #2732
Hello, @ci2014

Is this issue still reproducible on latest developer branch?
Please, provide more details about your evironment: Server, OS, browser version

[2016-01-13 11:54] chapagain commented on #2531
Giving full control (read/write/execute) to **var** and **pub** directory solved this issue for me.

[code]

You may also try running the command using **sudo**.

[code]

[2016-01-13 12:08] ovedmo commented on #2966
content -> pages -> edit (home) -> save!

2016-01-13 11:34 GMT+02:00 Alan Kent notifications@github.com:

##

משה עובדיה
_וובמקס - פתרונות אינטרנט_
_נייד: 054-5758942_

[2016-01-13 12:36] mrkhoa99 commented on #2983
You need to read document about about installing Guide: http://devdocs.magento.com/guides/v2.0/install-gde/bk-install-guide.html
If you use Apache, don't forget to enable and _.htaccess_ rewrite: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache.html#apache-help-rewrite

[2016-01-13 12:39] mrkhoa99 commented on #2983
<p>The GitHub issue tracker is intended for technical issues only. Please refer to the <a href="https://community.magento.com" target="_blank">Community Forums</a> or <a href="http://magento.stackexchange.com/" target="_blank">Magento Stack Exchange</a> site for technical questions. In your case, the <a href="https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2" target

[2016-01-13 12:42] cscd98 opened #2984 "Payment config settings not decrypted when used?"
In my system.xml:

[code]

In my payment class which extends \Magento\Payment\Model\Method\Cc

[code]

$this->secret is still encrypted? it should be a plain text value

I'm using PHP 7.0.2

https://github.com/Inchoo/magento2-Inchoo_Stripe/issues/6

[2016-01-13 12:45] pkhutal commented on #2531
Thanks .mukesh..I will try this
On Jan 13, 2016 5:25 PM, "Mukesh Chapagain" notifications@github.com
wrote:

[2016-01-13 12:51] jaimestuardo commented on #2936
I am using Magento version 2.0.0. This site is a production site so I think it is risky to install a developer branch. Is there a possible date when a new stable version will be available?

i have 2 magento sites in the same server, and the same happens. When trying to save no-route page, an error occurs. This does not happen when saving other CMS pages.

[2016-01-13 13:16] hgpit commented on #2957
Here's an example of us importing a 77,000 product CSV into Magento 2 (CE & EE behave the same).

You can see that the first 1700 records are imported quite rapidly, but as the process goes on, it gets slower and slower (each database commit uses more and more resources).

We have left this process for 24 hours now (on numerous attempts), and it never completes. It's as though the server just even

[2016-01-13 13:29] victorgugo commented on #2645
This issue is related to local environment. Closed as not related to Magento itself.

[2016-01-13 13:29] #2645 closed, assigned to nobody

[2016-01-13 14:01] shiftedreality commented on #2638
Hi @josephmcdermott

Thank you for pointing this issue. I created internal ticket MAGETWO-47881

[2016-01-13 14:02] jkristoffer commented on #2149
I'm facing the same issue as described here.

Im using develop branch `commit 3991d65ea5b4c91b39f130ceadac7e413233ada6`. I installed using the CLI with `--base-url={{base_url}}` and all the links have a double slash at the end of the base url.

I tried omitting `--base-url` completely and the double slashes disappeared. However i'm running magento2 in a docker container and the server rewrites the

[2016-01-13 14:13] tkn98 opened #2985 "What is the rationale behind making BaseTestCase::setUp() public"
In https://github.com/magento/magento2/blob/077584c99ebb8007cad176c3b9a0144a05c259cd/lib/internal/Magento/Framework/TestFramework/Unit/BaseTestCase.php#L23

the protected defined `setUp()` method is implemented as public.

What is the rationale of making it part of the public interface of the test-case type?

[2016-01-13 14:26] shiftedreality commented on #2632
@dfediuk thank you for pointing.

Internal issue MAGETWO-47882 created for further investigation

[2016-01-13 14:31] ezequielalba commented on #2577
I dont think this topic is closed, the question of @lgarridoj isnt answered, i got the same issue, the theme isnt getting the inheritance and the theme looks empty, i did all the steps in the devdocs documentation and try two different paths of parent theme, the vendor one and the default Magento/. Can you at least update the documentation with this issues?

[2016-01-13 14:44] shiftedreality commented on #2620
Hi, @dfediuk

Thanks you for reporting. Created internal ticket MAGETWO-47887 for investigating

[2016-01-13 15:25] victorgugo commented on #2529
This looks fixed in https://github.com/Seldaek/monolog/pull/692
Closed

[2016-01-13 15:32] mazhalai commented on #2577
@ezequielalba please refrain from commenting on closed issues, it would be better to start a new thread. Can you post the theme.xml of your custom theme? [This example](https://github.com/magento/magento2-samples/tree/master/sample-module-theme) shows the recommended way to inherit themes.

[2016-01-13 15:36] mttjohnson commented on #2529
Yes it's fixed in Monolog in the dev branch (1.17.2 is the latest release on packagist at the moment and doesn't include the fix).

Furthermore nothing has been discussed about how to account for this getting patched in Monolog because it will affect how Magento does logging once the patched version is included with Magento.

[2016-01-13 15:39] shiftedreality commented on #2490
Hi @chrom

Current problem was described in Apache 2.4 upgrading doc. Section "Common problems when upgrading" says:

Did this helped to resolve your problem?

[2016-01-13 15:58] Karl456 opened #2986 "Programmatically creating Custom Option not working for Area type"
I believe this is a bug with the validation on Custom Options.

The following code works fine when the field type is Dropdown:

[code]

But once you try and change the type to area, the validation fails:

[code]

The Error received is:

[code]

[2016-01-13 16:00] shiftedreality commented on #2469
Hi @pradipmanna2000

Could you please try to reproduce this on latest developer branch?

[2016-01-13 16:08] shiftedreality commented on #2461
@kassner

Thank you for pointing this issue. Internal ticket MAGETWO-47892 was created for investigation

[2016-01-13 16:17] mazhalai commented on #2981
@jkristoffer you shouldn't have to create the file, just provide correct permissions for the var folder as specified [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html) and [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html).

[2016-01-13 16:25] mazhalai commented on #2977
Can you confirm that your var directory has the recommended permissions? You shouldn't have to delete the generation folder, unless you updated the code base and require a re-compile(in production mode).

[2016-01-13 16:28] mazhalai commented on #2983
Closing since this is not a bug.

[2016-01-13 16:28] #2983 closed, assigned to nobody

[2016-01-13 16:31] vesan-83 opened #2987 "Refresh index chokes"
Actually this problem is actual for Magento 1 but I see it's still not fixed for Magento 2.
Refresh index is based on queue which is filled by triggers which adds entities to the queue even if entity values were not updated.
Lot of projects have custom modules like product import and other modules which do something with product attributes, for example, disable products without images so that SQL

[2016-01-13 16:31] mazhalai commented on #2970
@freebot it would be better to post this in the appropriate issues for [data-migration](https://github.com/magento/data-migration-tool-ce/issues)

[2016-01-13 16:43] mazhalai commented on #2972
@jvanderbiest we are having trouble reproducing this issue. What OS, PHP version and web server are you using? Also, have you tried executing from magento root instead of bin. eg `php bin/magento deploy:mode:set production` or `bin/magento deploy:mode:set production`

[2016-01-13 16:48] mageman opened #2988 "Configurable Product Cannot Add/Edit Configurations!"
After creating a configurable product with 1 generated associated product, saving to a new attribute set, then re-open the configured product. and click on edit configuration:

There are options to add an attribute whose type is not a dropdown, i.e. yes/no or text field, but after submitting these changes, the values do not appear in the new configuration!

Furthermore, the new attribute is not be

[2016-01-13 16:49] antboiko commented on #2947
Hi @gigadesign1 , we have created a ticket MAGETWO-47848 in our internal tracker for this improvement and put it into the backlog. Thank you for this request!

[2016-01-13 17:13] shiftedreality commented on #2426
Hi @dfediuk

Thank you for reporting. I think we will need to extend base method getName() in AsbstractElement class with optional paramter .

Internal issue MAGETWO-47893 created

[2016-01-13 17:15] ezequielalba commented on #2577
@mazhalai hi!, i made it work, but only by creating the composer.json file,i didnt create it before because it says it is optional, but i think is required. Dont know if i am correct.
This is my XML

[code]

But i dont have the blocks or the catalog that shows on luma. Something i missed?

[2016-01-13 17:24] mazhalai commented on #2577
@ezequielalba did you [register your theme](https://github.com/magento/magento2-samples/blob/master/sample-module-theme/registration.php)

[2016-01-13 17:27] ezequielalba commented on #2577
Yes! and the etc/view.xml file too, just in case, the theme now shows, but it shows nothing of the luma theme, instead it shows the blank theme, with the difference of the logo.svg i made. @mazhalai

[2016-01-13 17:30] mazhalai commented on #2577
Please refer to this thread. "we do no recommend inheriting from the Luma theme" https://github.com/magento/magento2/issues/1929#issuecomment-142679660

[2016-01-13 17:31] ezequielalba commented on #2577
got it, thank you! @mazhalai

[2016-01-13 17:47] mazhalai commented on #2985
Yes, agree it that it should be protected. It would be nice to get it fixed in all tests. Would you like to submit a PR to fix this?

[2016-01-13 17:55] raqy commented on #1897
I got the same errors on magento 2 stable (cloned from github). 500 internal error for all 4 checks :-(
i'm on php 5.5.16

[2016-01-13 18:05] zamboni084 opened #2989 "Custom Options not working after editing product"
Custom Options not working after editing product.
I had to remove some Custom Options witch are colors, so i removed two of the colors and saved and closed. Then I realized i mist one, went back to edit and just the two buttons load no options and they do nothing.
![custom options](https://cloud.githubusercontent.com/assets/16354206/12303009/2c570616-b9f6-11e5-94c7-b31bf8c397f7.PNG)
![custom optio

[2016-01-13 19:04] rdeelstra commented on #2582
Hi!
I wanted to try it again but now I ran into a different issue (?) when I login:
Class Magento\Catalog\Api\Data\ProductOptionExtensionFactory does not exist
#0 /Applications/XAMPP/xamppfiles/htdocs/magento2/magento2/lib/internal/Magento/Framework/ObjectManager/Definition/Runtime.php(44): Magento\Framework\Code\Reader\ClassReader->getConstructor('Magento\Sales\M...')
#1 /Applications/XAMPP/xampp

[2016-01-13 19:57] zamboni084 commented on #2989
I exported the products and notice that the products that i edited the custom options on the custom_options column are now incomplete.

Before:
name=Color,type=checkbox,required=1,price=,price_type=fixed,sku=_BK,option_title=Black|name=Color,type=checkbox,required=1,price=,price_type=fixed,sku=_YL,option_title=Yelow|

After:
name=Color,type=checkbox,required=1,price=,price_type=fixed,sku=,option_t

[2016-01-13 20:29] degaray opened #2991 "Products added to cart with REST API give total prices equal to zero"
### Preconditions (*)

1. Magento 2.3.0(release), 2.3-develop, 2.2-develop

### Steps to reproduce (*)

1.Execute:
[code]

### Expected result (*)

1. Price is present in both last two responses and is not equal to zero or is equal to real price whatever price was specified in the request payload.
2. No side-effects on Storefront

### Actual result (*)

1. Fresh cart always has no price property.

[2016-01-13 21:02] rdeelstra commented on #2582
After clearing the var dir the error above was gone.
I also managed to fix my css 'error'. When I add web/css/default.less in the theme I test everything seems to go fine, without it it seems to bring the error up. Maybe some extra validation and/or improved checkups in this could help new theme developers.
Here is my sample theme for if you would like to test it, default works and child not:
http

[2016-01-13 21:04] jvanderbiest commented on #2972
@mazhalai thanks for looking into it. Is there any logging that I can turn on using that command? I'm currently using [stablehost](http://stablehost.com) and here is the server information.

[code]

[2016-01-13 21:09] mazhalai commented on #2972
PHP 5.3 v 5.5 could be the issue. You could have both versions on your server( one could be configured for cli and another for apache) For Magento 2, 5.5 is the minimum supported. Please verify on the command line `php -v` and create a test.php file with

[code]

 and open this page in the browser. Look for PHP version on this page. Make sure both are PHP 5.5 or higher.

[2016-01-13 21:31] zamboni084 opened #2992 "feature request - previous and next buttons"
Previous and next buttons on the product page in admin. So you don't have to exit to the fist page of the catalog every time.

Like this:

![capture](https://cloud.githubusercontent.com/assets/16354206/12308385/040aacea-ba13-11e5-8127-ce127a9c945d.PNG)

[2016-01-13 22:24] degaray commented on #2843
I have the same thing

[2016-01-13 22:56] jvanderbiest commented on #2972
I've even upgraded to 5.6.16 now and still the same error. I generated a phpinfo file as you asked. You can view the static version here: http://vanderbiest.be/temp/phpinfo.html

[2016-01-13 23:06] mttjohnson commented on #2895
I ran into some similar expectations with the eav_entity_store. I tracked a few things down that did affect the increment_id. There is the use of the `sales_sequence_meta` table used by the Magento\SalesSequence module, and it appears to define for each store what table contains the sequence for each entity_type for a store. I then found the associated table `sales_sequence_profile` where there is

[2016-01-14 00:06] thomvanderboon commented on #2056
I just found that if the js-translation.json is already present, if you redeploy the contents the js-translation.json is not regenerated.

After deleting the js-translation.json files and a redeployment of the static files the js-translation.json files are generated correctly

[2016-01-14 00:34] tigerx7 opened #2993 "Should Authorize.Net Direct Post be logging a critical exception on declined transactions?"
Having an issue where Authorize.Net Direct-Post is logging critical exceptions on declined transactions:

On that particular transaction, the customer did enter an incorrect zip code in checkout, so the gateway error is correct. But it's being logged as an exception and the stack trace is being outputted into exception.log. In addition, not sure if this is the correct flow (not familiar with Magen

[2016-01-14 01:05] jkristoffer commented on #2977
I can confirm the directory has the recommended permissions. The issue seems to be a missing folder `/var/generation/Magento/Framework/App/Response`

[2016-01-14 01:07] jkristoffer commented on #2981
@mazhalai I followed the instructions as provided but instead of creating a mangeto_user I'm working as root since I'm in docker

[2016-01-14 02:27] aoldoni commented on #2925
Please try changing "dev/js/enable_js_bundling" to 1. I think the merging just merges files not using require.js. For all other files, this it still makes the require.js to inject them via script tags in the head tag. This causes the browser to download the remaining files separately and asynchronously.

[2016-01-14 02:36] jkristoffer opened #2994 "Trailing slash for `base_url`"
I'm using `develop branch - commit 3991d65ea5b4c91b39f130ceadac7e413233ada6`.  I installed using the CLI with `--base-url={{base_url}}` and all the links on the website have a trailing slash at the end of the base URL.

I checked the `core_config_data` table and found the following record:

[code]

The base_url has a trailing slash appended to it. Is this the expected behavior for the Magento CLI?

[2016-01-14 02:37] jkristoffer commented on #2994
The issue seems to be similar to #2149 but there was no follow-up and it got closed

[2016-01-14 05:08] markshust commented on #2924
@alankent i think i have replicated this consistently with my docker images when js merging (& bundling) is turned on. i'll confirm shortly.

[2016-01-14 05:10] alankent commented on #2924
Thanks @markoshust. I guess the next question is during development, is there any need to have JS merging turned on?  I would have said no, that is a production setting. Seem reasonable?

[2016-01-14 05:16] markshust commented on #2924
Yes, to be able to test in same environment as staging + production. I don't think this ticket is mac-related.

[2016-01-14 05:20] jleplomet commented on #2924
Just want to note that I do have merging turned off. My issue is mostly related to the server generating less files, and processing theme files when caching is turned of during theme development. I'm trying to edit layout files,  less files, and template files.

[2016-01-14 07:57] Bravarg commented on #2837
Yes, thank you @shiftedreality for answer. When I published my issue it was the latest version. And atm I use overrided core classes for saving ratings.

[2016-01-14 08:40] tkn98 commented on #2985
I won't provide a fix for all tests, that's your matter. However, I could consider to write a patch for that file making the setUp() method protected _and_ making the class abstract. Please let me know if you would pull that in.

[2016-01-14 09:41] dmitrii-fediuk opened #2995 "Propose to make the \Magento\Framework\App\Config\ScopePool::_getScopeCode() public because it is useful to calculate cache keys based on a scope (like \Magento\Framework\App\Config\ScopePool::getScope() does)"
https://mage2.pro/t/359

[2016-01-14 09:58] cs221313 opened #2996 "How to extend default.xml file in Magento_Theme"
Hi, all,

I want to add a static block at the top of page. It works when I put the code in app/design/frontend/Magento/blank/Magento_Theme/layout/default.xml. The content is as following:

[code]

It doesn't work. Can anyone can help me?

Thanks a lot

David

[2016-01-14 10:32] shiftedreality commented on #2962
Hi @dfediuk

This is minor issue and will be fixed in future. You can help by creating pull request.

[2016-01-14 10:34] Vinai commented on #2985
To fix the tests in one go run

[code]

[2016-01-14 10:37] shiftedreality commented on #2390
Hi @dfediuk

I created internal ticket MAGETWO-47914 for investigation this case

[2016-01-14 10:51] zanilee commented on #2978
Hi, @lookinglavish!

To modify swatches styles you should overwrite `swatches.css` in your theme.
To do that, copy `/app/code/Magento/Swatches/view/frontend/web/css/swatches.css` to
`/app/design/frontend/<vendor>/<theme>/Magento_Swatches/web/css/swatches.css` and do your modifications there.

[2016-01-14 11:03] slavvka commented on #2982
Hi @tommy83. I couldn't reproduce the issue with updated_at. This attribute isn't represented in Customer Grid at all. What Magento version do you use? How did you manage to show updated_at attribute in the grid? Did you try to reindex customer_grid_index?

[2016-01-14 11:08] shiftedreality commented on #2856
Hi @amr-z

Internal ticket MAGETWO-47917 was created to investigate this issue

[2016-01-14 11:16] shiftedreality commented on #2910
Hi @astorm

Is it still an issue for you?

[2016-01-14 11:18] shiftedreality commented on #2832
Internal ticket MAGETWO-47697 was created

[2016-01-14 11:22] shiftedreality commented on #2827
Hi @anaxmedia

Please ,try to reproduce this bug in latest developer branch.
Looks like https://github.com/magento/magento2/issues/2454 should fix your case

[2016-01-14 11:52] almarchenko commented on #2996
Hi David!
Does your theme inherit from the Blank theme?
Did you apply your theme in the Admin?  (in the configuration under CONTENT > Design > Themes)

[2016-01-14 11:53] shiftedreality commented on #2561
@mc388 rhank you for reporting this issue.

Internal ticket MAGETWO-47919 was created

[2016-01-14 13:09] SunshineTech commented on #2880
When I install Magento2 on CentOS7 with php7, the following error display:

[Progress: 317 / 362]
Module 'Magento_CatalogSampleData':
Installing data.. Segmentation fault

My php7's info:

PHP 7.0.2 (cli) (built: Jan  6 2016 15:25:31) ( NTS )
Copyright (c) 1997-2015 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2015 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015

[2016-01-14 14:13] amitmca09 opened #2997 "magento connect manager"
magento connect manager not showing for ver 2.0 in admin URL

[2016-01-14 14:23] tommy83 commented on #2982
@slavvka
my mistake - sorry! I missed this function in magento 1.x.
I describe the problem above.
In magento 1.x you can display the updated_at value.

Now i check this problem in magento 2.0:
You can not see when the customer adressbook is changed.

[2016-01-14 14:33] shiftedreality commented on #2394
Hi @GavChap

Internal ticket MAGETWO-47931 was created to fix this issue.

[2016-01-14 14:58] markshust commented on #2924
@jleplomet your initial ticket was in regards to page load time, not dev building

| The problem is that Magento takes over a minute to load any page,

[2016-01-14 15:00] shiftedreality commented on #2238
Hi @dfediuk

Thank you for reporting this issue. Internal ticket MAGETWO-47932 was created

[2016-01-14 15:06] shiftedreality commented on #2811
Hi @ayushman2013

I have created internal issue MAGETWO-47932 to investigate this issue

[2016-01-14 15:16] mazhalai commented on #2985
@tkn98 yes! We welcome community contributions. Please do submit a PR. Instructions [here](http://devdocs.magento.com/guides/v2.0/contributor-guide/contributing.html).
Also, Thank you @Vinai!!

[2016-01-14 15:21] shiftedreality commented on #2618
Hi @dfediuk

Internal ticket MAGETWO-47934 was created for this issue

[2016-01-14 15:32] NenadTrajkovic opened #2998 "Installation problem..."
Hello,
I am a novice in programming, therefore I'm sorry for bothering you with my beginner's problems.
I have problem that is repeating constantly, where do I wrong?! Thank you!

[RuntimeException]
  Failed to clone git@github.com:zendframework/Component_ZendStdlib.git via git, https, ssh protocols, aborting.
- git://github.com/zendframework/Component_ZendStdlib.git
  Cloning into 'C:\xampp\htdoc

[2016-01-14 15:41] shiftedreality commented on #2465
Hi @labofidea

Please, create pull request with certain changes

[2016-01-14 15:42] mrkhoa99 commented on #2998
When installing Magento 2, did it ask you the personal Github access token? You can read more here:http://www.appseconnect.com/how-to-install-magento-2-on-xampp-server-localhost/

[2016-01-14 15:53] shiftedreality commented on #2375
Hi @hostep

We have internal ticket for your issue MAGETWO-44966

[2016-01-14 15:55] lookinglavish commented on #2978
Zanilee

Hello,

I have the Luma theme right now...not sure if that matters.

I'm trying to copy
|/app/code/Magento/Swatches/view/frontend/web/css/swatches.css| TO
|/app/design/frontend/<vendor>/<theme>/Magento_Swatches/web/css/swatches.css
HOWEVER all I have from that path is ||/app/design/frontend/. After that
I don't have ||/<vendor>/<theme>/Magento_Swatches/web/css/swatches.css
to copy to...

[2016-01-14 16:00] shiftedreality commented on #2369
Thank you for reporting

Internal ticket MAGETWO-47939 was created

[2016-01-14 16:09] NenadTrajkovic commented on #2998
It didn't, it just run installation and after few minutes stuck... I have created tokens, messing with gitbash, zend frameworks, xampp, composer.

[2016-01-14 16:12] shiftedreality commented on #2360
Internal ticket MAGETWO-47932 was created for this issue

[2016-01-14 16:16] NenadTrajkovic commented on #2998
I did it, thank you mrkhoa99!

[2016-01-14 16:51] mageman commented on #2876
You can also add a new temporary attribute value, and then delete it.  Then you will be allowed to submit the form.

[2016-01-14 17:34] #2970 closed, assigned to nobody

[2016-01-14 20:59] jamescowie commented on #2998
@NenadTrajkovic This sounds more like you have resolved the issue as well as being more of a question than bug report. If you require more help please use the Magento forums so we can offer more help and assistance.

[2016-01-14 20:59] #2998 closed, assigned to nobody

[2016-01-14 21:10] Krapulat commented on #473
Does anyone work on this?

[2016-01-14 21:49] chrom commented on #2490
Tomorrow I will try.

[2016-01-14 21:51] alankent commented on #473
We are working on multi node inventory. I don't have a release date, and it is not extactly what Ivan proposed after further review, backwards compatibility, Magento COM (our order management product) alignment, etc. But we certainly used multiple sources of information and are working in this area. I like to characterize it as getting a common base data structure in Digital Commerce (the web stor

[2016-01-14 21:58] erikhansen commented on #571
@ryanstreet It would be awesome if you could take this on in February. Frontend developers will thank you for years to come. The Aoe_TemplateHints extension is pretty robust and does quite a bit more than what I think we could reasonably expect to be included in the Magento core.

If I were you, I would target adding this functionality to core Magento: In addition to the block class and template f

[2016-01-14 23:02] alankent commented on #571
I would love to see this tool improved, or a better version created as a module. It just struggles to get high enough on the list compared to other features internally. Should we fix checkout or the hints too? Checkout! Should we fix payments integration or the hints tool? Payments! This sort of project I think would make a great community contribution.

[2016-01-14 23:25] tigerx7 commented on #2939
Just came by this today but may be related to this issue. Looks like promotional cart price rules are not being run for admin orders.

Created a new cart price rule, "Free Shipping". For websites, selected the only one available "Main Website", and all customer groups. Coupon: "No Coupon". Conditions: "Subtotal equals or greater than 99"; Actions: "Free Shipping: For matching items only".

On the

[2016-01-14 23:30] erikhansen commented on #571
@alankent I'm glad you would like to see this tool improved but certainly understand the difficulty in prioritizing it against other features. I like that Magento has focused on more building developer tools (including a Grunt/livereload workflow, `bin/magento`, etc). I want to contribute in helping make the platform better for developers (via things like [this PR](https://github.com/magento/magen

[2016-01-14 23:33] tigerx7 commented on #2895
We had bigger fish to fry so we ended up purchasing an extension to solve the issue for us. Looks like they went about the plugin method to intercept and override the increment function. The extension also syncs up invoice/shipment/and credit numbers to order numbers, so instead of re-inventing the wheel, we just moved forward with it.

[2016-01-15 00:31] alankent commented on #571
I would be tempted to have all the hints in a popup box when you hover (just like the start of this thread). For small areas on the screen, all the text gets truncated at present. I would rather have a little clean popup box that can include a clear list of the settings. Then you can add more content as appropriate over time without running out of screen real estate.

You could then drop some of t

[2016-01-15 00:56] alankent commented on #571
I am not a JavaScript guy - I guess you could have bar at the top of the page with options, like an on/off button so you can just hover all around the page without inserting the rectangles. So you see what the page really looks like. Think Z-ray. But clearly that is a lot more work. Simply having popup boxes with little icons instead of embedding the text directly into the page would be a huge ste

[2016-01-15 01:16] cs221313 commented on #2996
Yes. My theme inherited from the Blank theme. When I changed the default.xml in Blank theme it works. But I put the code in my theme, it does not work.

[2016-01-15 01:22] alankent commented on #2996
What is the exact path name to the default.xml file you put in your theme? A common error is the path name is wrong and the file is not picked up as a result.

Here is a play theme I was trying (and works):

[code]

Something I do sometimes is to put a syntax error in and check the var/log directory. If there is no error, then its not finding you file.

[2016-01-15 01:34] grichards commented on #2425
Sorry to leave a comment on a closed issue... don't know where else to leave it, but I echo @ci2014's comments... running composer update does not ask for auth... and a fresh install of mag2 via composer still gives me this error trying to deploy sample data.

[2016-01-15 01:38] erikhansen commented on #571
@alankent I love where you are going with this.

I like the developer bar idea. It reminds me of Alan Storm's [Commerce Bug](http://store.pulsestorm.net/products/commerce-bug-2).

I agree with you that moving the information into a tooltip is the best way to unobtrusively display robust debugging information.

Having the popup link allow you to open the phtml file in your IDE is a great idea. PhpS

[2016-01-15 01:41] alankent commented on #571
"I love where you are going with this." - if you get something built, then I would think the community would turn it around and point it back at you! ;-)

[2016-01-15 01:57] aepod commented on #571
Drupal 8 has a pretty nifty built in toolbar(although it was a little tricky to get working). It's based on something in symfony and has quite a bit of templating and other info, as well as a click through to very detailed info page on some bits.

[2016-01-15 02:05] erikhansen commented on #571
@aepod Interesting. I'll have to install Drupal 8 locally and play around with it.

@alankent It looks like Fabrizio implemented support in Aoe_TemplateHints for the older style of linking to PhpStorm:
<img width="646" alt="configuration___system___smocked_admin_-_magento_admin_smocked_auctions_smocked_auctions" src="https://cloud.githubusercontent.com/assets/129031/12343524/1e863336-bafa-11e5-947

[2016-01-15 04:53] cs221313 commented on #2996
My default.xml file is at: /app/design/frontend/MyNamespace/MyTheme/Magento_Theme/layout/default.xml

I modified the default.xml file to put a syntax error. but no error reported in log files. I don't know why my default.xml could not be found.

[2016-01-15 05:08] cs221313 commented on #2996
![image](https://cloud.githubusercontent.com/assets/8097168/12345813/d6f1b52e-bb88-11e5-9df1-05964edbbabd.png)
my _extend.less and _theme.less files could be found. But the default.xml could not be found. so weird.

[2016-01-15 07:10] pantaoran commented on #2361
I also just stumbled across this. Please implement this.

[2016-01-15 08:14] yaronish commented on #2879
@tigerx7 thank you for issue reporting. Internal ticket MAGETWO-47959.

[2016-01-15 08:17] cs221313 commented on #1731
When I put _head_ in default.xml file. I found I can call the js file directly. I don't need requirejs-config.js.

<pre>&lt;<span class="pl-ent">page</span> <span class="pl-e">xmlns</span><span class="pl-e">:</span><span class="pl-e">xsi</span>=<span class="pl-s"><span class="pl-pds">"</span>http://www.w3.org/2001/XMLSchema-instance<span class="pl-pds">"</span></span> <span class="pl-e">layout</sp

[2016-01-15 08:31] alankent commented on #2996
Ok, so its clearly registered, you have selected it in Admin UI, but var/log/\* is not reporting a syntax error when you put one into the file. Strange. I assume you have flushed all the caches again for good luck (including the three buttons under the big table)?

[2016-01-15 08:37] yaronish commented on #2590
@kingdominteriors
Can't reproduce on latest develop branch.
I can successfully create product with multiple select attribute and assign few options to it.
After export to CSV file, my attribute appears in column additional_attributes in next format: `multiselectattr=a|b` where 'a' and 'b' options of my attribute.
After import just exported CSV file options 'a' and 'b' correctly assigned to 'multis

[2016-01-15 08:48] yaronish commented on #2366
@dfediuk Thank you for issue reporting.
We already have internal ticket connected with this problem: MAGETWO-45306

[2016-01-15 08:56] ranaraj1983 commented on #2973
Hi Mark,

THanks for you reply, It works.

Thanks,
/Rana

On Wed, Jan 13, 2016 at 12:55 AM, Mark van der Werf <
notifications@github.com> wrote:

##

## Regards,

/Rana Das

[2016-01-15 09:07] yaronish commented on #2591
@derdeakon
Thanks for reporting. Internal ticket: MAGETWO-47960