[2018-09-26 17:40] magento-engcom-team commented on #18270
Hi @rdjinternet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 17:46] prayagr commented on #14952
Hi @Cristiano81 , @rishabhchd19 , @MartinAarts - Sorry to see you are still facing issues with the email address 'From' field. We are not able to reproduce the issue on a fresh 2.2.6 setup, can you confirm that you recompiled and flushed the generated classes?

Also, we would like to observe the issue to debug. If possible, please reach out to us on payments-cp-devel@amazon.com with details.

[2018-09-26 18:11] AndyJAllen opened #18274 "2.2.6 - Default Attribute Not Working"
### Preconditions

1. Magento 2.2.6

### Steps to reproduce

1. Create configurable product with simple products
2. Create attribute set that is utilized by the simple products
3. Create attributes using the swatch option, and have each simple product option set to a different attribute from the attribute set.
5. Navigate to the product detail page

### Expected result

1. Image and SKU is set usi

[2018-09-26 18:11] magento-engcom-team commented on #18274
Hi @AndyJAllen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 19:06] steveb2050 commented on #18248
@pmsteil I hit the same error using the same upgrade i.e. upgrading 2.2.5 to 2.2.6 using CLI in a PLESK environment. New to M2 (just migrated 1.9.3 to 2.2.5) and don't know how to update the Amazon module. Links/support appreciated.

[2018-09-26 19:23] albsa opened #18275 "Bundle product 2.2.6 error exception SQLSTATE[42000]"
### Preconditions

1.  PHP 7.1.18 - mysql  Ver 15.1 Distrib 10.2.13-MariaDB, for Linux (x86_64) using readline 5.1
2.  Magento 2.2.6

### Steps to reproduce

1. Create bundle product
2. Visit bundle product page on frontend or load bundle product in category

### Expected result

1. See the bundle product appear in the category or able to visit the bundle product page

### Actual result

1. When t

[2018-09-26 19:48] magento-engcom-team commented on #8815
@maksek Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95275`, `MAGETWO-95276` were created

[2018-09-26 20:15] Hansmueller88 commented on #15828
@phoenix128 Hello, we have also the same problem.
1. web browser: Google Chrome; page A: one page of a non-default store view; page A: another page of the same non-default store view

2.1. clear the browsing data of the web browser, open page A, it is slow
2.2. reload the page A, the speed is fast
2.3. open page B, it is slow
2.4. reload the page B, the speed is fast
until now, page A and page B o

[2018-09-26 22:08] pmsteil commented on #18248
@engcom-backlog-nazar Ok a second user having this problem.  Can you look into it and/or provide instructions on how to resolve the version of modules issue that you mentioned?

thanks
Patrick

[2018-09-26 22:13] paulatglow commented on #18248
I am more just stating the obvious and my take on things so far.   Maybe something here can help someone.

On Magento version 2.2.5 the Amazon Modules updated to 2.1.1
Here is a dump from Composer on my Magento running 2.2.5:

amzn/amazon-pay-and-login-with-amazon-core-module 2.1.1
amzn/amazon-pay-module                            2.1.1
amzn/amazon-pay-sdk-php                           3.3.2
amzn/

[2018-09-26 23:16] ragboyjr commented on #4697
For those being plagued by this issue, You can disable this feature by setting the following in the composer.json:

[code]

This will update the magento composer installer code to not copy everything over on install.

[2018-09-27 00:29] akcatchme commented on #15490
saw  problem here ..my breadcums are reversed..showing the category first and  menu title  later example
url shop/chocolate-boxes/artist-collection-6-piece-box.html
breadcum  Home  Chocolate Boxes  Shop  Artist Collection - 6 piece box..

any help please

[2018-09-27 00:40] orionpt commented on #7368
I'd like to confirm that the issue is still present. New install with the same behaviour as OP.
Magento CE 2.2.6
PHP 7.1.22
MySQL 5.6

[2018-09-27 01:54] wpalmer commented on #6221
That doesn't actually solve anything, because then *nothing* gets updated.
The problem is that files which should not be updated by the user, should
not be tracked by git. The fact that the files are automatically updated is
a good thing, and disabling this is dangerous / breaks basic assumptions
about what happens when you update 3rd-party libraries.

Files which should/might be updated, should b

[2018-09-27 02:36] ragboyjr commented on #6221
@wpalmer

It depends on what you want. Personally, I prefer to install magento, then clean out all of the files not needed. Then on a magento version upgrade, just change that to `magento-force: true`, composer install and see what changed and then remove any unwanted files again.

If you want to just ignore a few files, that's possible too with `magento-deploy-ignore`, but there's not documentati

[2018-09-27 03:46] quangdo-aligent opened #18277 "Magento 2.2.6: Multiple refreshes on checkout page removes all items from cart"
### Preconditions

1. Magento 2.2.6
2. PHP 7.0.28

### Steps to reproduce

1. Add an item to cart
2. Enter checkout
3. Rapidly refresh two or more times

### Expected result

1. The checkout is refreshed

### Actual result

1. The user is redirected to the cart
2. All items are removed from the cart
3. The minicart still shows that there are items in the cart
4. Any attempt to enter the checkout w

[2018-09-27 03:47] magento-engcom-team commented on #18277
Hi @quangdo-aligent. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-27 03:49] quangdo-aligent commented on #18277
@magento-engcom-team give me 2.2-develop instance

[2018-09-27 03:49] magento-engcom-team commented on #18277
Hi @quangdo-aligent. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-27 03:50] magento-engcom-team commented on #18277
Hi @quangdo-aligent, here is your [Magento instance](https://i-18277-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18277-2-2-develop.engcom.dev.magento.com/admin](https://i-18277-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-27 04:49] sashas777 commented on #18248
I found the same issue when did composer update from 2.2.4 and then upgrade to 2.2.6

[2018-09-27 04:59] doth-web-developer opened #18278 "product assigning with new category not working"
$_product->setCategoryIds(13);
$interface->save($_product);

Fatal error: Uncaught Error: Call to undefined method Magento\Catalog\Model\ResourceModel\Category\Flat::saveAttribute() in /home/divinec1/public_html/demo/vendor/magento/module-catalog-url-rewrite/Observer/CategoryUrlPathAutogeneratorObserver.php:66 Stack trace: #0 /home/divinec1/public_html/demo/vendor/magento/framework/Event/Invoker/I

[2018-09-27 05:02] doth-web-developer opened #18279 "product assigning with new category not working. give following error"
`$_product->setCategoryIds(13);
$interface->save($_product);`

Fatal error: Uncaught Error: Call to undefined method Magento\Catalog\Model\ResourceModel\Category\Flat::saveAttribute() in /home/divinec1/public_html/demo/vendor/magento/module-catalog-url-rewrite/Observer/CategoryUrlPathAutogeneratorObserver.php:66 Stack trace: #0 /home/divinec1/public_html/demo/vendor/magento/framework/Event/Invoker

[2018-09-27 05:03] magento-engcom-team commented on #18279
Hi @doth-web-developer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-09-27 05:40] engcom-backlog-nazar commented on #18279
Hi @doth-web-developer  , thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-27 05:40] #18279 closed

[2018-09-27 05:40] engcom-backlog-nazar commented on #18278
Hi @doth-web-developer  , thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-27 05:40] #18278 closed

[2018-09-27 05:48] magento-engcom-team commented on #18269
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-27 05:50] engcom-backlog-nazar commented on #18269
Hi @ulftietze it looks like this is duplicate to your issue -> https://github.com/magento/magento2/issues/18234? maybe just edit referenced issue.

[2018-09-27 05:54] magento-engcom-team commented on #18277
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-27 05:56] engcom-backlog-nazar commented on #18277
Hi @quangdo-aligent  Thank you for your report.
The issue has been fixed in magento/magento2#14973 by @elioermini in 2.2-develop branch
Related commit(s):
 - [5e66f1b21b8741f9a4d54c6a31c7372e44780551](https://github.com/magento/magento2/commit/5e66f1b21b8741f9a4d54c6a31c7372e44780551)
 - [8f033ac342d8343e931a2104f0e2ba8f21156469](https://github.com/magento/magento2/commit/8f033ac342d8343e931a2104f

[2018-09-27 05:56] #18277 closed, assigned to nobody

[2018-09-27 05:59] engcom-backlog-nazar commented on #18248
@pmsteil Ok a temporary fix, it's just change version in DataBase ons setup_module table to required.

[2018-09-27 05:59] magento-engcom-team commented on #18275
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-27 06:16] magento-engcom-team commented on #18274
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-27 06:45] engcom-backlog-nazar commented on #18274
Hi @AndyJAllen, thank you for you report, this is duplicate for this -> https://github.com/magento/magento2/issues/10424

[2018-09-27 06:45] #18274 closed, assigned to nobody

[2018-09-27 06:52] engcom-backlog-nazar commented on #18256
Hi @hostep Thank you for your explanation now i'm able to reproduce on composer version, but on 2.2-dev this works perfectly.

[2018-09-27 06:57] ishakhsuvarov commented on #12700
Closing per comment above.
Thanks for pointing out.

[2018-09-27 06:57] #12700 closed, assigned to nobody

[2018-09-27 07:06] hostep commented on #18256
@engcom-backlog-nazar: ok, great!
Please in the future, always try to test with composer based installs, it's how the real world uses Magento, we don't clone from a git repo (well most of us, some actually do it like that).

I really hope this won't turn out to be caused by one of the CBE's again, because otherwise this is getting quite ridiculous...

[2018-09-27 07:14] engcom-backlog-nazar commented on #18256
@hostep, Ok thanks that be my mistake to not use composer.

[2018-09-27 08:55] ulftietze commented on #18269
Hey @engcom-backlog-nazar,

no this is not a duplicate due to the product categorie url rewrites now.
In #18234 we deal with the category url rewrites during creation. This time we have problems with individual product rewrites.
Have a look on my description, this are rewrites with entity_type "product".

[2018-09-27 09:03] amatanovic commented on #17616
#mm18hr

[2018-09-27 09:03] magento-engcom-team commented on #17616
@amatanovic thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-27 09:09] kinexvikas opened #18281 "Fastly issue with non-cacheable blocks"
We have a block for recently viewed products in magento 2.2.5 with custom attributes.

`<block class="Magento\Reports\Block\Product\Widget\Viewed" after="-" name="recently_viewed" cacheable="false" template="Kinex_ProductWidget::product/recently_viewed.phtml">
                <action method="setPageSize">
                    <argument name="page_size" xsi:type="number">15</argument>

[2018-09-27 09:09] magento-engcom-team commented on #18281
Hi @kinexvikas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-27 09:11] sambolek commented on #6208
#mm18hr

[2018-09-27 09:11] magento-engcom-team commented on #6208
@sambolek thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-27 09:43] zeeshan2523806 commented on #1238
@Patelcc you need to clear var/generated folder and regenerate the classes again.

[2018-09-27 10:09] bluemwhitew commented on #17429
#mm18hr

[2018-09-27 10:09] magento-engcom-team commented on #17429
@bluemwhitew thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-27 10:31] Microguru commented on #2052
I have run setup-upgrade and given full permission and also deleted var but it is showing error

1 exception(s):
Exception #0 (RuntimeException): Class ClassyLlama\AvaTax\Framework\Interaction\TaxCalculation\Proxy does not exist in [ClassyLlama\AvaTax\Model\Tax\Sales\Total\Quote\Tax\Interceptor]

Exception #0 (RuntimeException): Class ClassyLlama\AvaTax\Framework\Interaction\TaxCalculation\Proxy d

[2018-09-27 10:59] phongphanmage commented on #15427
Same here.
My Magento version 2.1.9.

[2018-09-27 11:03] phoenix128 commented on #15828
@Hansmueller88 ,
I tried again with no success. The pages are loading at the same speed.
Can you please try to see what happens calling the pages in the same order you gave before but using `
curl --head` ?

[2018-09-27 11:13] pmsteil commented on #18248
@engcom-backlog-nazar Ok, thank you for the note, but can you provide the actual sql statements to do what you are suggesting?  I don't know what you are suggesting, thanks.

[2018-09-27 11:32] Knight017 commented on #6939
It would better if Magento checks before creating the attribute that the attribute should not have reserved names.

[2018-09-27 11:48] bluemwhitew commented on #18263
@magento-engcom-team give me 2.2.6 instance

[2018-09-27 11:48] magento-engcom-team commented on #18263
Hi @bluemwhitew. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-27 11:49] magento-engcom-team commented on #18263
Hi @bluemwhitew, here is your [Magento instance](https://i-18263-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18263-2-2-6.engcom.dev.magento.com/admin](https://i-18263-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-27 11:50] Hansmueller88 commented on #15828
@phoenix128
using curl --head to get the following:

HTTP/1.1 200 OK
Server: nginx
Date: Thu, 27 Sep 2018 11:37:32 GMT
Content-Type: text/html; charset=UTF-8
Connection: keep-alive
Vary: Accept-Encoding
Pragma: no-cache
Cache-Control: max-age=0, must-revalidate, no-cache, no-store
Expires: Wed, 27 Sep 2017 11:37:32 GMT
Strict-Transport-Security: max-age=31536000
Content-Security-Policy: upgrade-in

[2018-09-27 11:59] web-developer-saurashtra opened #18285 "i give following error while remove product from category"
i have try to unassigned category from product but give continuously error.
in magento 2.2.2
### Summary

`Fatal error: Uncaught Error: Call to undefined method Magento\Catalog\Model\ResourceModel\Category\Flat::saveAttribute() in /home/divinec1/public_html/demo/vendor/magento/module-catalog-url-rewrite/Observer/CategoryUrlPathAutogeneratorObserver.php:66 Stack trace: #0 /home/divinec1/public_html

[2018-09-27 11:59] magento-engcom-team commented on #18285
Hi @doth-web-developer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-09-27 12:35] steveb2050 commented on #18248
Another temporary work around, for those not using the gateway, is to disable the modules. I'm assuming there are no other dependencies.

`php magento module:disable Amazon_Core Amazon_Payment Amazon_Login`

[2018-09-27 13:07] pmsteil commented on #18248
@steveb2050 Thanks! Disabling the Amazon modules worked great!  Not sure why these would default to enabled anyway.

[2018-09-27 13:45] salikahmed commented on #18256
@engcom-backlog-nazar I have the same issue found on composer version cloud instance 2.2.6, I have submitted the internal ticket with the issue I found the issue missing customer id lines of code in the Controller "ResetPasswordPost.php" which may cause the issue, I fixed the temp solution override the core .

[2018-09-27 13:48] sambolek commented on #16497
#mm18hr

[2018-09-27 13:51] callumstar opened #18289 "Magento 2.2.5 - Admin Orders - Customer Group Pricing not being applied to Order Totals after selecting shipping methods"
When creating a new Magento Order in the admin on a multi-storefront Magento installation, if you have products that have customer group pricing applied to them, once you click to get the shipping rates the order totals at the bottom of the page update and go back to use the normal price not the discounted customer group.

### Preconditions
1. Magento 2.2.5 (Multi-storefront installation)
2. PHP 7

[2018-09-27 13:51] magento-engcom-team commented on #18289
Hi @callumstar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-27 13:52] callumstar commented on #18289
@magento-engcom-team give me 2.2.5 instance

[2018-09-27 13:52] magento-engcom-team commented on #18289
Hi @callumstar. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-27 13:53] magento-engcom-team commented on #18289
Hi @callumstar, here is your [Magento instance](https://i-18289-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18289-2-2-5.engcom.dev.magento.com/admin](https://i-18289-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-27 14:07] dklapan commented on #18260
This is a problem with fonts. The stock font is FreeSerif and it doesn't have chinese characters, you can simply edit this piece of code:
`    protected function _setFontRegular($object, $size = 7)
    {
        $font = \Zend_Pdf_Font::fontWithPath(
            $this->_rootDirectory->getAbsolutePath('lib/internal/GnuFreeFont/custom_font.ttf')
        );
        $object->setFont($font, $size);

[2018-09-27 14:08] callumstar commented on #18289
Hi @magento-engcom-team, I can't reproduce this in a vanilla instance of 2.2.5 as far as I can see.

[2018-09-27 14:18] engcom-backlog-nazar commented on #18256
@hostep I'm disabled Amazon module, and have success result.

[2018-09-27 14:48] alexandrosk commented on #13999
@dthivanka I agree this is not an issue.

[2018-09-27 15:00] xnhinzkyx commented on #18264
I encountered this same issue.

[2018-09-27 15:08] Wadekone commented on #13183
Can someone please advise if the Magento's 2.2.3 EE Authorize.net built in implementation works at all at the moment?
Or one should use some alternative extension like the one from ParadoxLab, or else?
Thanks,
Vad

[2018-09-27 15:20] salelsol commented on #14952
I'm trying all viewed solutions about this issue, but nothing works on 2.2.6. Many mail from my store are now spam because this issue:
   550-5.7.1 'From' header is missing.

[2018-09-27 15:29] salelsol commented on #14952
The following modules have been disabled:
- Klarna_Core
- Klarna_Ordermanagement
- Klarna_Kp
- Vertex_Tax
O.K. now expect all new order.
Many Thanks for your help.

[2018-09-27 15:30] chakravarthykalyan90 commented on #9466
@wget , thanks for the CLI tool. It helped us.

@JasonScottM your patch worked well for us.

We are on 2.2.4 facing the same issue. Any update on the fix in 2.2.6?

[2018-09-27 16:56] chattertech commented on #17813
Thanks very much DrewML!!! Really hope this makes it into 2.3.0.

[2018-09-27 17:36] kirkmadera opened #18296 "Module ordering for modules without parent dependencies should be loaded in a consistent manner"
### Summary
Module ordering for modules without parent dependencies should be loaded in a consistent manner. Currently, it is very random and can cause issues that are unrelated to changes made within a release, thus making them very hard to debug.

### Examples
We have hit this twice in the last month. We inherited a codebase that does not correctly set module dependencies in most of its custom m

[2018-09-27 17:36] magento-engcom-team commented on #18296
Hi @kirkmadera. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-27 17:40] webspeaks opened #18297 "Cannot reset password Magento 2.2.6"
### Preconditions

1. Upgrade to Magento 2.2.6 from 2.2.5

### Steps to reproduce

1. Upgrade to Magento 2.2.6 from 2.2.5
2. Register as new user from frontend
3. Click forgot password link and enter your email.
4. Check your email, Click on "Reset Password" button in email.
5. On the password reset page, enter new password and submit the form.

### Expected result

1. Password reset should be suc

[2018-09-27 17:40] magento-engcom-team commented on #18297
Hi @webspeaks. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-27 17:55] kirkmadera commented on #18296
This is hard to explain how to reproduce. You need a dirty codebase in the first place. You would need to do something like this:

1. Make one or more modules that have an effect like changing layout that depends on another module loading. One example could be replacing a block in core Magento layout instead of referencing it in layout. If your module loads first, the block will be defined by your

[2018-09-27 18:03] hostep commented on #18256
@engcom-backlog-nazar: I cannot confirm this, disabling all Amazon modules still triggers the problem over here.
As a next test, I've disabled all CBE's: Amazon_Core, Klarna_Core, Amazon_Login, Amazon_Payment, Klarna_Ordermanagement, Klarna_Kp, Dotdigitalgroup_Email, Temando_Shipping, Vertex_Tax.
But still the error can be reproduced, so it looks like the CBE's have nothing to do with this for onc

[2018-09-27 18:08] hostep commented on #18297
Thanks for your report @webspeaks! But it has already been reported before in https://github.com/magento/magento2/issues/18256, let's close this one as it duplicates the other.

[2018-09-27 18:08] #18297 closed, assigned to nobody

[2018-09-27 18:10] hostep commented on #18256
Some extra useful information from @webspeaks from https://github.com/magento/magento2/issues/18297:

(not verified if this is true)

[2018-09-27 18:11] jajajaime commented on #9111
I can corroborate that setting the `base_static_url` path to `{{(un)secure_base_url}}static/` solves the issue for me. The config that needs to be set probably depends if your images are in media or static folder.

[2018-09-27 18:34] hostep commented on #18248
I can confirm what is mentioned above.

1. Setup a Magento 2.2.5 using composer in the directory `magento225`
2. Setup a Magento 2.2.6 using composer in the directory `magento226`
3. Run a diff on one of the Amazon module's `module.xml` file:
[code]

/cc: @prayagr, you'll probably want to be aware of this.

/start rant
@maksek, @okorshenko, @dmanners, @woosley-mg: this is another proof that Magent

[2018-09-27 18:45] rishabhchd19 commented on #18260
It doesn't support Hindi either. The symbol of Rupees is displayed as []?

[2018-09-27 19:03] hostep commented on #18248
This is a workaround for the people still wanting to use the Magento modules, edit the `composer.json` file of your project and add the following lines to the `require` section:
[code]

Here you're saying to composer to install version 2.1.1 but pretend it is version 2.1.0, so it won't conflict with the version contraints in the `magento/product-community-edition` module.

Be sure to remove those

[2018-09-27 19:10] jbokhari opened #18298 "Cannot view full custom option text when length is greater than 55 characters"
Users on my website fill out special instructions for us inside of a textarea custom option. I was notified recently that the text is unreadable for some orders. After digging into the problem I found that this appears to be a bug in Magento. So far all I know that `$_option['remainder']` is never set inside the file `Magento_Sales/view/adminhtml/templates/items/column/name.phtml`:

    // Line 34

[2018-09-27 19:10] magento-engcom-team commented on #18298
Hi @jbokhari. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-27 19:55] salelsol commented on #14952
- Neither this solutions works for my multistory, is incompatible with One Step Checkout module installed.

[2018-09-27 20:12] LeeSaferite commented on #18296
Here is an example of a badly written module that causes problems due to load order:
https://github.com/instantsearchplus/isp_magento2_extension/tree/be0198ea5f0103fe62f70d43697364759fd128de

The module is accessing the scope config during the schema install process in an attempt to phone home about an install (it wants to capture the URL, Email, and Multistore flag).
https://github.com/instantsea

[2018-09-27 20:50] pmsteil commented on #18248
My original problem is resolved, but now I am now having a problem that every page but the homepage  is giving this error:

`Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Search\Request\IndexScopeResolverInterface in /app/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50 Stack trace: #0 /app/vendor/magento/framework/ObjectManager/ObjectManager.ph

[2018-09-27 21:05] jbokhari commented on #18298
Yes I used a fresh, untouched magento installation. I have added my environment information as well

[2018-09-27 21:39] CompactCodeEU commented on #14952
@salelsol I have made a PR for your issue. https://github.com/magento/magento2/issues/16355#issuecomment-399668596

[2018-09-27 21:51] gil-- opened #18299 "test"
test

[2018-09-27 21:51] gil-- commented on #18299
@magento-engcom-team give me 2.3-develop instance

[2018-09-27 21:51] magento-engcom-team commented on #18299
Hi @gil--. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-27 21:51] magento-engcom-team commented on #18299
Hi @gil--. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-27 21:51] magento-engcom-team commented on #18299
Hi @gil--, here is your [Magento instance](https://i-18299-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18299-2-3-develop.engcom.dev.magento.com/admin](https://i-18299-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-27 21:53] gil-- commented on #18299
amazing

[2018-09-27 21:53] #18299 closed, assigned to nobody

[2018-09-27 22:59] crysix commented on #7765
This is not fixed in 2.2.5!

[2018-09-27 23:40] safaa-alnabhan opened #18300 "reindex Magento corn job"
Hello, How can I reindex Magento corn job, I have tried by using Putty but the PuTTy program doesn't work on my computer and show an error, I couldn't fix the problem with PuTTy and don't find another solution, I am using windows 8.1 how can I solve this problem please any advice

[2018-09-27 23:40] magento-engcom-team commented on #18300
Hi @safaa-alnabhan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-28 03:05] ihor-sviziev commented on #17813
That jQuery Storage API is really buggy. One more related issue:
https://github.com/magento/magento2/issues/17195

[2018-09-28 03:09] ihor-sviziev commented on #17195
@convenient i checked, m1 websites works good even with 80+ cookies in IE and another browsers, so it's not a big deal

[2018-09-28 06:14] pratikkamani commented on #14754
@engcom-backlog-nazar
Check this below code. I have added one checkbox on footer subscribe.phtml. If we are custom add checkbox on this then form submit without form fill up.

[code]

[2018-09-28 06:43] engcom-backlog-nazar commented on #14754
@qsolutions-pl I'm reopen this, as I can reproduce on @pratikkamani Comment

[2018-09-28 06:43] magento-engcom-team commented on #14754
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-09-28 06:44] magento-engcom-team commented on #14754
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95330`, `MAGETWO-95331` were created

[2018-09-28 07:37] pratikkamani commented on #14754
To make easy this I have posted some information.
I have added name="dummy" on this input tag. And this worked.
Now issue is without name will work on magento1. so expected is to work on magento2 also.

[2018-09-28 07:40] crysix commented on #7765
I know, that I can use that XML code, to remove the block (thats what I am doing currently), but that is no "fix"!!!
If you have 1 column, there shouldn't be a left sidebar at all.

[2018-09-28 07:40] tiberiucontiu commented on #11262
s

[2018-09-28 07:50] hostep commented on #18183
@BezV8 & @engcom-backlog-nazar: nice find!

Since that bug was reported in 2005 and hasn't been fixed in 2018, I don't think we should wait on that, maybe Magento (or somebody else) can find a workaround for this?

[2018-09-28 09:31] jasper-multisafepay commented on #18148
Having the same issue.
For us it seems to be caused by the following commit:
https://github.com/magento/magento2/commit/f39138b6dc504f93dae9697ad45d11d57f1aaf1f#diff-68f9035e0545c5442dde19b0ba0fa9b4R38

[2018-09-28 10:03] mkor commented on #17845
Heya, don't know how far ahead you managed to get in resolving this issue, but considering that If I assign a new status to a state (but leave DEFAULT unchecked), the dropdown will display THAT state's label, it seems to me that the generated query is missing a **LIMIT 1** addendum.

Magento 2.2.5

[2018-09-28 10:09] koopjesboom commented on #9466
@albsa

Yes since we have version 2.2.6 the problem did not came back.

[2018-09-28 10:46] koopjesboom commented on #5929
All credits go to my friends of Ubertheme, they gave me this solution:

To re-generate the URLs rewrite for categories and associated products, you could do steps below:
•	Create a new root category named ‘Temp Root Category’
•	Open Stores management, edit the default Store of the default website and set the ‘Root Category’ form field to the newly added root category ‘Temp Root Category’ and click

[2018-09-28 11:04] magento-engcom-team commented on #18256
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95341`, `MAGETWO-95342` were created

[2018-09-28 11:14] MsEngineer opened #18302 "Unable to disable module Magento_Review"
### Preconditions
1. Magento 2.2.6
2.

### Steps to reproduce
1. Disable Magento_Review module
2.

### Expected result
1. Module should be disabled
2.

### Actual result
1. Dependency errors
2.

[2018-09-28 11:15] magento-engcom-team commented on #18302
Hi @MsEngineer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-28 12:03] MsEngineer commented on #18302
I did an upgrade from Magento 2.2.5 to 2.2.6, I used to be able to disable the module under 2.2.5 but not anymore since the upgrade.
Error:
Unable to change status of modules because of the following constraints:
Cannot disable Magento_Review because modules depend on it:
Magento_Store: Magento_Store->Magento_Catalog->Magento_Customer->Magento_Review
Magento_AdminNotification: Magento_AdminNotific

[2018-09-28 12:16] magento-engcom-team commented on #18138
Hi @adammada. Thank you for your report.
The issue has been fixed in magento/magento2#18215 by @adammada in 2.2-develop branch
Related commit(s):
 - [4e62fe32bf6f27b583eeb8d5d2309c7abebd5535](https://github.com/magento/magento2/commit/4e62fe32bf6f27b583eeb8d5d2309c7abebd5535)
 - [bf2efffff0da82f33796c82d643403545466911d](https://github.com/magento/magento2/commit/bf2efffff0da82f33796c82d6434035454

[2018-09-28 12:16] magento-engcom-team commented on #18101
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#18280 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [484bbba6407f03c7b2261992c0ec2433d00a2cb4](https://github.com/magento/magento2/commit/484bbba6407f03c7b2261992c0ec2433d00a2cb4)
 - [dd9b2948a03abdc487e712d4237a9180484cb17b](https://github.com/magento/magento2/commit/dd9b2948a03abdc487e712d4237a91804

[2018-09-28 12:16] #18101 closed, assigned to dmytro-ch

[2018-09-28 12:16] magento-engcom-team commented on #18079
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#18086 by @sreichel in 2.2-develop branch
Related commit(s):
 - [9d8b04a0c9700e8a5bfe65911c8151672f202de6](https://github.com/magento/magento2/commit/9d8b04a0c9700e8a5bfe65911c8151672f202de6)

The fix will be available with the upcoming 2.2.8 release.

[2018-09-28 12:16] #18079 closed, assigned to nobody

[2018-09-28 13:00] sandybrainer commented on #7199
this issue still there in Magento latest version 2.2.5 and 2.2.6.
Hope they will resolve in 2.3.0 release

[2018-09-28 13:00] convenient commented on #15427
I've seen this today. 2.1.7 🙈

[2018-09-28 13:06] alexmorco commented on #9032
Thanks for sharing this video tutorial, I was working to set catalog price rules in my Magento store, Your vide and this post helped me a lot, https://www.cloudways.com/blog/shopping-cart-and-catalog-price-rules-in-magento/.﻿

[2018-09-28 13:11] happydownload33 commented on #18134
bug is created by Magento themself i you can see it on release log 2.2.6
Magento now displays the manufacturer attribute on the Admin on the Catalog page for configurable products. Previously, Magento displayed these attributes on the simple products catalog page, but not on the configurable products catalog page.

i think that they forget to test the Simple product module after editing the files

[2018-09-28 13:19] mdruguet commented on #6786
It's a bullshit, the type "media file" must be considered as others king of attribute

[2018-09-28 13:42] Rorando opened #18304 "Multiple Address Validation will create large countryCollection queries"
### Summary
Calling `getCountryCollection()->getAllIds()` on `\Magento\Directory\Helper\Data` multiple times will generate duplicate filters on the collection for each call

### Preconditions
1. Magento 2.2.6 (Clean composer installation)
2. PHP 7.0.30-1 / Nginx 1.13.9 / MySql 5.6.37

### Steps to reproduce
1. Inject \Magento\Directory\Helper\Data $directoryData
2. Call `$directoryData->getCountry

[2018-09-28 13:43] magento-engcom-team commented on #18304
Hi @Rorando. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-28 13:59] karlsminton commented on #15427
Hi @engcom-backlog-nazar - I've literally just inherited this so I've not got many ideas about how to reproduce it. I can confirm though, that it's taking orders correctly +99% of the time, but we've had some reports of customers orders failing inexplicably.

According to our client, the paypal payment failed - but the order confirmation was sent.

[2018-09-28 14:17] engcom-backlog-nazar commented on #15427
Hi @BezV8 Hi @karlsminton  I'm reopen this as many people have this issue.

[2018-09-28 14:20] neodrg opened #18305 "M 2.2.6 - Incomplete/Partial Product Price Reindex on catalog rule save."
### Preconditions

1.Magento 2.2.6

### Steps to reproduce

1.Create a configurable product with 3 simple product link (3 colors)
2. add price 45 on each simple product
3. add general - retailer price on advanced price retailer (45.0000)
4. create a catalog rule on retailer customer group
4.1 conditions SKU is one of (select the three simple product)
4.2 Actions : adjust final price to discount va

[2018-09-28 14:20] magento-engcom-team commented on #18305
Hi @neodrg. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-28 14:21] neodrg commented on #18305
@magento-engcom-team give me 2.2.6 instance

[2018-09-28 14:21] magento-engcom-team commented on #18305
Hi @neodrg. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-28 14:22] magento-engcom-team commented on #18305
Hi @neodrg, here is your [Magento instance](https://i-18305-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18305-2-2-6.engcom.dev.magento.com/admin](https://i-18305-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-28 14:35] neodrg commented on #18305
@magento-engcom-team Please re-index my instance

[2018-09-28 14:59] boldhedgehog commented on #14561
Hi,

This can be reproduced when `gd.jpeg_ignore_warning=0`

[2018-09-28 14:59] convenient commented on #15427
I've been debugging this all day, using both the apache logs of an affected user and xdebug locally to understand the request flow.

I believe I have the beginnings of a theory as to whats happening, although I haven't worked it all out yet.

I believe the `Skip Order Review Page` setting may be relevant, we have it set to `Yes`

When I viewed the apache access logs that corresponded to the broken

[2018-09-28 15:01] albsa commented on #18148
@jasper-multisafepay any fix from your end?

[2018-09-28 15:34] AndyJAllen commented on #10424
My thread was closed and I was told it was a duplicate of this thread, but this thread seems to be discussing issues in multiple-store view environments. I only have one on my 2.2.6 installation, the default values are NOT getting unchecked they are just not working on the front-end. I read the symptoms and fix discussed on cadence-labs, but it does not seem to apply to me. None of the store id's

[2018-09-28 15:38] goldencomm commented on #18229
We are upgrading from 2.1.7 -> 2.2.6, database name prior was **catalog_product_index_price_tmp**

[2018-09-28 15:45] bhaveshkeshrani opened #18306 "Magento2 - Link the simple products to the configurable product"
**Summary of the issue**
I tried to create the configurable product in magento2 using restAPI and I have performed all the steps which are mentioned in magento2 documentation - [](https://devdocs.magento.com/guides/v2.2/rest/tutorials/configurable-product/config-product-intro.html)

**Steps to reproduce**

POST Request Url:
http://127.0.0.1/alearning/magento2.6/rest/default/V1/products
payload {}

[2018-09-28 15:45] magento-engcom-team commented on #18306
Hi @bhaveshkeshrani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-28 15:46] magento-engcom-team commented on #18298
@sidolov Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2018-09-28 16:16] neodrg commented on #18305
Personal Investigation :
I made some test on catalog rule.
There is an error with the operator "is one of", only the first item specified is update in the table  catalog_product index_price in DB.

[2018-09-28 16:33] springimport commented on #638
@ilol @vpelipenko Don't see any changes in 2.3-develop. Which commit is associated with this issue?

[2018-09-28 16:54] neetu-mittal opened #18307 "Data Migration issue mismatch column"
Hi

I have installed magneto2 and data migration tool.
Migrate data successfully. then install all other required plugins and make some customization.

Customization like
add phone no. on signup
make terms as per product and show on add to cart button.

and update Magento to the latest version.

Now trying to migrate data (orders and customers again). But showing error mismatch columns.

Tried wit

[2018-09-28 16:54] magento-engcom-team commented on #18307
Hi @neetu-goyal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-29 01:05] tomekjordan commented on #14667
Total disaster. New versions released. 2.2.6 and still no improvement. I wonder if @magento team ever checked inspector and see how "fast" the images are loaded on product pages.....

[2018-09-29 05:30] ACGAshwin opened #18313 "Magento2 (2.2.5) circuar redirection with 2 host deployment"
### Preconditions

I have deployed vanilla Magento 2.2.5 on a 2 host farm (all AWS EC2 instances running amazon linux) with the following configurations :

1.2 app servers with a shared (EFS) media folder  (pub/media) . Apache2 listening on port 8080
2.The 2 app servers run Varnish 4.1.10 listening on port 80 and pointing to port 8080.
3.Elastic load balancer pointing to the 2 app servers as targe

[2018-09-29 05:30] magento-engcom-team commented on #18313
Hi @ACGAshwin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-29 05:38] ACGAshwin commented on #18313
Yes i was able to reproduce using vanilla magento 2.2.5

[2018-09-29 11:29] feelcomfort opened #18314 "Configurable Products: Blank Image-Area after deselecting swatches/attributes on product-page"
### Preconditions

1. Update from Magento 2.2.4 to 2.2.6

### Steps to reproduce

1. Add Product in the Backend
2. Create Configurations
4. Use Attributes with the input type "Visual Swatch"
3. Save Product
4. Open Product-page in the frontend
5. Select Attribute/Swatch --> Images-Gallery of the simple product appears
6. Deselect Attribute/Swatch

### Expected result

1. Image-Gallery of the confi

[2018-09-29 11:29] magento-engcom-team commented on #18314
Hi @feelcomfort. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-29 12:10] okorshenko commented on #18314
@magento-engcom-team give me 2.2.6 instance

[2018-09-29 12:10] magento-engcom-team commented on #18314
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-29 12:11] magento-engcom-team commented on #18314
Hi @okorshenko, here is your [Magento instance](https://i-18314-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18314-2-2-6.engcom.dev.magento.com/admin](https://i-18314-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-29 14:36] hatimeria-artur-jewula commented on #18305
I stumble on similar problem with price indexer. It looks like price indexer no longer reindex product types according to indexPriority. Up to version 2.2.5 price indexer run with list od ids to reindex sorted them to composite and notComposite and later run product type indexers in order set by `indexPriority` (https://github.com/magento/magento2/blob/2.2.5/app/code/Magento/Catalog/Model/Indexer/

[2018-09-30 00:39] snoroozi commented on #14667
Russia behind the election. Amazon behind magento.

On Fri, Sep 28, 2018, 9:07 PM Tomek <notifications@github.com> wrote:

[2018-09-30 05:50] samairali opened #18317 "js minfication issue even i did everything right"
I have tried almost every single thing there were some errors in system.log file i have also removed that , gave so much time to solve this issue . i want to minify and merged js . i set developer mode and select options using store->configuration->advance->developer nothing changed in my site i did run all commands upgrade, content deply , di compile , cache flush everything . gave permissions an

[2018-09-30 05:50] magento-engcom-team commented on #18317
Hi @samairali. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-30 05:58] samairali commented on #18317
summary of the issue is clear, environment m2.2.6 . and i dont understand what are the other things you are talking about .

[2018-09-30 06:27] DrewML commented on #17813
Thanks for the heads-up @ihor-sviziev - this is the first time I'm seeing that bug. I'll try to put some eyes on it.

[2018-09-30 07:07] matinict commented on #10838
work for me

[2018-09-30 07:39] dv-denda commented on #15115
I am also facing this problem, does anyone have a fix?

[2018-09-30 07:46] allumanatu opened #18318 "CSS issue after upgrading from v 2.2.1 to v 2.2.6"
After updating from Magento 2.2.1 to 2.2.6, the CSS is not shown anymore, even if it is loaded in the source code. When I try to open the CSS file in the browser, it shows me a 404.
I already tried to re-deploy the content.

This is how it looks like:

![magento_update_error](https://user-images.githubusercontent.com/38261208/46254825-a6a80300-c495-11e8-858c-eae5c7851211.png)

[2018-09-30 07:46] magento-engcom-team commented on #18318
Hi @allumanatu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-30 07:49] allumanatu commented on #18318
I don't know how to reproduct it, it just appears after upgrading. I need help, how the css is shown.

[2018-09-30 09:00] allumanatu commented on #13014
I habe the same issue with v. 2.2.6

[2018-09-30 10:10] akshay-vyas commented on #2942
Starting Magento installation:
File permissions check...

Required extensions check...

and it stops there

[2018-09-30 10:12] Sharon831 opened #18319 "Layered Navigation not working in Magento 2.2.6"
After upgrading from Magento 2.2.3 to 2.2.6 via command-line, the Layered Navigation in all sections (Product, Page, Static Block and etc.) become either grey (like inactive) or just the icon without text. There is no response after clicking.

### Preconditions

1. Magento 2.2.6
2. PHP 7.1

### Steps to reproduce

1. Right after upgrading to Magento 2.2.6 from 2.2.3 via command-line method

### Ex

[2018-09-30 10:12] magento-engcom-team commented on #18319
Hi @Sharon831. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-30 10:16] #18319 closed, assigned to nobody

[2018-09-30 10:21] surjan-singh opened #18320 "Magento\Customer\Model\Session not working properly when ship to multiple address"
### Preconditions

1. Magento version: 2.2.4

### Steps to reproduce

1. Login to your customer account
2.Add two or more product to cart
3.Click on view and edit cart
4.click on ship to multiple address and place order
5.get order id using code snippet:
$order = $this->_checkoutSession->getLastRealOrder();
$orderId = $order->getIncrementId();
Here $orderId will be wrong.
payment information is al

[2018-09-30 10:47] feelcomfort commented on #18314
After testing different settingss: The issue depends on attribute settings.

Using the catalog input type for store owner **"Dropdown": it works**
Saving the attribute as **"Visual Swatch": Blank image gallery**.

![grafik](https://user-images.githubusercontent.com/43548743/46256506-175a1a00-c4ac-11e8-8fa1-40d21347af85.png)

Using Visual-Swatches:
![grafik](https://user-images.githubusercontent.co

[2018-09-30 11:22] vipin12117 opened #18321 "After upgrading 2.1.14 to 2.1.15 downloadable product link not going in email and not showing in order history"
### Preconditions
1. Magento version: 2.1.15
2. PHP 7.0.x and Linux ubuntu 16.4

### Steps to reproduce
1. After upgrading 2.1.14 to 2.1.15 downloadable product link not going in email and not showing in order history.
2. I tried placing order as guest and customer both.

### Expected result
1. Download Link should not missed.

### Actual result
1. Download links are missing.

[2018-09-30 11:54] davidduong90 commented on #4911
I have same problem on magento 2.2.6.

[2018-09-30 14:05] matin73 commented on #16958
Disabling Temando_Shipping fixed this for me as well. Strange things is, that on dev-server it was working but on live server error was shown ...

[2018-09-30 16:21] hsray opened #18323 "Order confirmation email for guest checkout does not include download links"
### Preconditions
1. Magento version: 2.2.5
2. PHP 7.0.x
3. Completely clean install with no demo data

### Steps to reproduce
1. Added one downloadable product with $0 price, shareable set to "Y" and unlimited downloads
2. Placed order as guest
3. Placed order as logged in customer

### Expected result
1. Email with download link for each order

### Actual result
1. Email for order placed when lo

[2018-09-30 16:33] hsray commented on #18323
I can confirm that I was able to reproduce the problem on the vanilla Magento instance. The logged in customer order email was correct and the guest order email was incorrect as described above.

[2018-09-30 17:15] dnsv commented on #17673
Interesting, I didn't get the `$debugHintsPath` error, but great to hear that it worked!

[2018-09-30 18:51] nahuelsanchez commented on #9111
@magento-engcom-team give me 2.3-develop instance

[2018-09-30 18:51] magento-engcom-team commented on #9111
Hi @nahuelsanchez. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-30 18:52] magento-engcom-team commented on #9111
Hi @nahuelsanchez, here is your [Magento instance](https://i-9111-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-9111-2-3-develop.engcom.dev.magento.com/admin](https://i-9111-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-30 19:47] skymeissner commented on #6261
Still present in 2.2.6.

[2018-09-30 20:44] Modoperator commented on #15684
I think valuead is correct. There is a 2GB memory_limit arbitrarily being set on PHP. I have magento 2.2.5 running in a Ubuntu/Trusty VM. I have both cli/php.ini and apache2/php.ini set with memory_limit = 4GB, the size of the VM.  In CLI php --ini shows path to cli/php.ini, on frontend phpinfo() shows path to apache2/php.ini.  But unless I put ini_set('memory_limit','-1'); in index.php or run mag

[2018-09-30 22:41] sidm opened #18324 "Cannot add the value "00" (without quotes) as an attribute option"
### Preconditions

1. Using Magento ver. 2.2.5

### Steps to reproduce

1. Create an attribute set
2. Create an attribute of type dropdown

![image](https://user-images.githubusercontent.com/728604/46263686-2bb80a00-c4e0-11e8-9461-019f01f088f1.png)

4. Attempt to add an attribute value that is just `00`

![image](https://user-images.githubusercontent.com/728604/46263673-1347ef80-c4e0-11e8-96f0-552

[2018-09-30 22:41] magento-engcom-team commented on #18324
Hi @sidm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-09-30 22:41] sidm commented on #18324
@magento-engcom-team give me 2.2.5 instance

[2018-09-30 22:42] magento-engcom-team commented on #18324
Hi @sidm. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-30 22:42] magento-engcom-team commented on #18324
Hi @sidm, here is your [Magento instance](https://i-18324-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18324-2-2-5.engcom.dev.magento.com/admin](https://i-18324-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-30 22:47] sidm commented on #18324
I verified this is not an issue on the vanilla instance.

[2018-09-30 22:47] #18324 closed, assigned to nobody

[2018-09-30 23:32] magento2pl commented on #11633
any news ?

[2018-10-01 05:28] avanish512 opened #18325 "Products per Page on Grid Default Value / Products per Page on list Allowed Values does not work"
Hi,

I found an issue Products per Page on Grid Default Value / Products per Page on Grid Allowed Values does not work. it's displaying all products while category page load

I'm working with Magento ver. 2.2.4

Anybody, please help me to solve this issue?

[2018-10-01 05:28] magento-engcom-team commented on #18325
Hi @avanish512. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-01 06:08] engcom-backlog-nazar commented on #14750
@shyam100379  Yes but i'm not able to reproduce on 2.2-dev branch.

[2018-10-01 06:09] avanish512 commented on #18325
Hi,

I have already shared the issue summary and Magento version now I'm going to share the rest steps

Steps to reproduce
Go to Stores > Configuration > Catalog > Catalog
In the Products per Page on Grid Allowed Values / Products per Page on Grid Allowed Values field, enter 9,18,27 for the value.

![image](https://user-images.githubusercontent.com/24352902/46272320-2903f600-c56e-11e8-8299-368a053

[2018-10-01 06:40] Rorando commented on #18304
* [X]  Summary of the issue
 * [X]  Information on your environment
 * [X]  Steps to reproduce
 * [X]  Expected and actual results

 * [X]  yes

[2018-10-01 07:48] schmengler commented on #12696
The problem is even bigger as soon as queue tests come into play:

        'Magento_TestModuleAsyncAmqp' => 1,
        'Magento_TestModuleDirectoryZipCodes' => 1,
        'Magento_TestModuleFakePaymentMethod' => 1,
        'Magento_TestModuleMessageQueueConfigOverride' => 1,
        'Magento_TestModuleMessageQueueConfiguration' => 1,
        'Magento_TestModuleSample' => 1,
        'Magento_TestMo

[2018-10-01 08:52] anvanza commented on #7617
@aeu , @daniellof For me, the bug was caused by an extension in my Chrome browser. When I tried it in an incognito tab without any extensions loaded, it worked.

The chrome-extension injected some HTML in the json response when uploading the image. The root cause of this issue is in Magento, the response is marked as text/html while it's a json document.

[2018-10-01 09:33] FerihumF opened #18326 "Upgrade from M2.1.11 -> M2.2.6: problems with saving tier pricing"
### Preconditions

1. Magento 2.2.6

### Steps to reproduce

1. Have a Magento 2.1.11 installation.
2. Create a product and add tier prices for at least one customer group.
3. Try to save the product -> should work.
4. Upgrade to Magento 2.2.6
5. Open the product in admin and try to save (without any changes)
6. Receiving a "Unique constraint violation found" message, product is not saved. (See lo

[2018-10-01 09:33] magento-engcom-team commented on #18326
Hi @FerihumF. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-01 09:38] engcom-backlog-nazar commented on #18031
@contusprabakar0595, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-10-01 09:38] #18031 closed, assigned to nobody

[2018-10-01 09:39] nowsathyasar commented on #5873
I am facing the same issue in Magento 2.2.5
Let me know if any one has a better solution.
Thanks

[2018-10-01 09:41] nowsathyasar commented on #5873
Billing Address Edit
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend firstname}}
{{/depend}} {{depend company}}{{var company}}
{{/depend}} {{if street1}}{{var street1}}
{{/if}} {{depend street2}}{{var street2}}
{{/depend}} {{depend street3}}{{var street3}}
{{/depend}}

[2018-10-01 09:43] neodrg commented on #18326
duplicate of #18154

[2018-10-01 09:47] FerihumF commented on #18326
Thank you @neodrg!

[2018-10-01 09:47] #18326 closed, assigned to nobody

[2018-10-01 09:56] nowsathyasar opened #18327 "I am facing the same issue in Magento 2.2.5"
Let me know if any one has a better solution.
Thanks

_Originally posted by @nowsathyasar in https://github.com/magento/magento2/issue_comments#issuecomment-425846987_

[2018-10-01 09:56] magento-engcom-team commented on #18327
Hi @nowsathyasar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-01 09:56] #18327 closed, assigned to nobody

[2018-10-01 09:58] nowsathyasar commented on #5873
Hi Guy's

Have you resolved this issue, I am badly stuck also... please let me know solution ??

[2018-10-01 10:10] neodrg commented on #18305
@hatimeria-artur-jewula "The fix is to make sure for loop is executed in order of indexPriority"
How would you make this change?

[2018-10-01 10:12] LSERRE commented on #12354
Still having this issue in 2.2.6

[2018-10-01 11:45] martin-cod opened #18329 "OR Condition in searchCriteria (UI Component DataProvider) doesn't work"
### Preconditions
1. Magento Commerce 2.2.5
2. PHP version 7.1.20

### Steps to reproduce

1. I want to extend Order Status filter and allow to search both "Pending" and "Pending Payment" statuses when I select "Pending" in the filter. I extend filters for Status column of Admin Order's grid UI component so that  the searchCriteria has two filters inside one filterGroup
[code]
It can be extended v

[2018-10-01 11:45] magento-engcom-team commented on #18329
Hi @martin-cod. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-01 11:47] orlangur commented on #18320
@surjan-singh, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

As far as  I remember, in case of multishipping another key in session object is used.

[2018-10-01 12:18] asadyar commented on #7441
Experiencing the same issue in Magento 2.2.5, All solution mentioned above is not working for Magento 2.2.5, They suggested code changes are added in Magento 2.2.5 files but sort order is still not fixed.

Any news on this issue, is it fixed in Magento 2.2.6 release?

[2018-10-01 12:45] ksiamro commented on #13343
@Arhimenrius
Solution with AllowEncodedSlashes works great.

Thanks ;)

[2018-10-01 13:08] ihor-sviziev opened #18330 "Checkout - Infinite loading indicator when server returned error"
### Preconditions
1. Magento 2.2.6

### Steps to reproduce
1. Create any simple product
2. Add to cart it on frontend and go to checkout
3. Open Chrome Dev Tools
4. Fill up shipping in US with any address
5. Find request to request like this: https://test-magento-instance.com/rest/default/V1/guest-carts/gFgmi7qopaxOgxlbXQ3hEo2Ny8gkNXXl/estimate-shipping-methods
6. Right click on this request on cl

[2018-10-01 13:08] magento-engcom-team commented on #18330
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-01 13:50] tangar76 commented on #12240
Seems like issue is solved in Magento 2.2.6

[2018-10-01 14:24] devqualwebs opened #18332 "Rest Api for post method not working in Magento 2.1.3?"
### Preconditions

1. Installed Magento v.2.1.3, setup multistore and created custom checkout page to place order using rest Api..
2. Trying to get shipping rates for guest customers and logged in customers using rest Api.

### Steps to reproduce

1. Using https://mywebsiteurl/index.php/rest/english/V1/carts/mine/estimate-shipping-methods for logged in users.
2. https://mywebsiteurl/index.php/rest

[2018-10-01 14:32] aakimov commented on #18248
Hi @hostep, @pmsteil
This is a known issue but thank you for reporting it and making us know that it is important to you.
It is relevant only for version 2.2.5 (and lower) of Magento, because those versions allow you to install patch updates of the bundle extensions (i.e. in your case Magento updated Amazon extensions from 2.1.0 to 2.1.1 version because its dependency is defined as "^2.1.0").
Star

[2018-10-01 15:18] okorshenko commented on #18332
@magento-engcom-team give me 2.2.6 instance

[2018-10-01 15:19] magento-engcom-team commented on #18332
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-01 15:19] magento-engcom-team commented on #18332
Hi @okorshenko, here is your [Magento instance](https://i-18332-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18332-2-2-6.engcom.dev.magento.com/admin](https://i-18332-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-01 16:53] pmsteil commented on #18248
@aakimov - well, I am not sure what you are saying?  Should we do something different when installing v2.2.6?  Is this a known issue that will be resolved?

What about my latest issue that I reported directly prior to your comment? Any guidance on that?

Thanks
Patrick

[2018-10-01 16:55] tuyennn commented on #2012
Hi @magento-engcom-team any ref to this issue as you marked it was done on branch [2.3-develop]?

[2018-10-01 17:28] mbrinton01 commented on #2012
@tuyennn Please see the MSI project for more information: https://github.com/magento-engcom/msi

[2018-10-01 18:09] hostep commented on #18248
@aakimov: thanks for the info, that explain a lot.

Unfortunately you can't go back in the past and make the version constraints more stricter, so you shouldn't make it more stricter now or in a future version of Magento, this is not the correct solution.

People will still be using Magento 2.2.4 or 2.2.5 and decide that the upgrade to 2.2.6 isn't for this very instant and might wait a couple of w

[2018-10-01 18:16] asadyar commented on #14951
Just tested this on Magento 2.2.6 (a composer upgrade from 2.2.5) Conversion tracking is working now. Thanks Magento

[2018-10-01 20:00] Ctucker9233 commented on #6955
@magento-engcom-team Can we get a status update on this please?
@cap340 Would you be interested in submitting a PR with your fix? That's probably the best and fastest way for this to get fixed in core.

[2018-10-01 20:30] Ctucker9233 commented on #11002
@magento-engcom-team Please reopen. This is not resolved.

[2018-10-01 21:02] scottsb commented on #9111
WHAT IS THIS MAGIC?

[2018-10-01 21:37] JeremyPlease commented on #8181
I'm experiencing the described issue in v2.2.5.
@magento-engcom-team Was this issue fixed in 2.2 or 2.3 branch?

[2018-10-02 02:56] magento-engcom-team commented on #18330
Hi @ihor-sviziev. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-10-02 02:58] magento-engcom-team commented on #18330
@ihor-sviziev Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95448`, `MAGETWO-95449` were created

[2018-10-02 07:32] crtl commented on #1146
Still is present in 2.2.4 CE.
Having pub as the docroot causes multiple issues like with sitemaps, and robots.txt.

[2018-10-02 07:50] nedge2k commented on #17286
Changing attribute scope to global fixed it. Thanks Kevin!

[2018-10-02 08:33] nedge2k commented on #10729
I had this issue. What I think happened was that I created some of the categories when single store mode was set to "no" ("default store view" scope). I then later changed it to "yes" - which is "all store views" scope. The changes made in single store mode were not updating the categories but by disabling single store mode, going back to the categories and changing the scope at top of page from "

[2018-10-02 08:52] goranhorvathr commented on #9537
Any status on this?

[2018-10-02 09:19] NicoSiebler opened #18335 "M2.2: Scheduled reindex of products does not affect associated categories"
### Preconditions
1. Magento 2.2.x (any version up to 2.2.6)
2. System environment independent
3. Shop with categories and product associations
4. Indexing mode schedule (php bin/magento indexer:set-mode schedule)
5. Full Page Cache enabled (php bin/magento cache:enable full_page)
6. Categories should not display out of stock products
7. Independent of customer status on the storefront

### Steps

[2018-10-02 09:19] magento-engcom-team commented on #18335
Hi @NicoSiebler. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-02 09:32] TristanPerchec commented on #10067
You should check the **Sales > Tax > Calculation Settings > Enable Cross Border Trade** option and set it to **Yes**.
It should fix your problem.

[2018-10-02 10:32] orlangur commented on #11633
@magento2pl please update expected result as discussed.

[2018-10-02 10:50] BezV8 opened #18337 "#search input is missing required attribute aria-expanded."
Fix from issue #2681 seems to have regressed and a blank install of 2.2.6 is again showing errors on the W3C html validator for the #search element.

### Preconditions

1. Magento 2.2.6
2. Magento Blank theme enabled.

### Steps to reproduce

1. Check homepage in W3C html validator.

### Expected result

1. After issue #2681 closed validation should be clean.

### Actual result

1. Validator is ag

[2018-10-02 10:51] magento-engcom-team commented on #18337
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-02 10:52] BezV8 commented on #18337
@magento-engcom-team give me 2.2.6 instance

[2018-10-02 10:52] magento-engcom-team commented on #18337
Hi @BezV8. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-02 10:52] magento-engcom-team commented on #18337
Hi @BezV8, here is your [Magento instance](https://i-18337-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18337-2-2-6.engcom.dev.magento.com/admin](https://i-18337-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-02 10:55] BezV8 commented on #18337
@magento-engcom-team Issue confirmed on test instance.

[2018-10-02 11:06] BezV8 commented on #18337
Screenshot of validation error:
![screenshot_2018-10-02 showing results for https i-18337-2-2-6 engcom dev magento com - nu html checker](https://user-images.githubusercontent.com/33320744/46345195-90d44280-c63b-11e8-93fe-33b16271d8cb.png)

[2018-10-02 11:07] jakwinkler opened #18338 "Wrong Foreign Key configuration, can't recreate sequence_catalog_category table"
### Preconditions

1. Magento 2.2.5 EE
2. I've created a dump of the database, can't import it again fully, some tables are missing due to wrong foreign keys.

### Steps to reproduce

1. Drop table sequence_catalog_category
2. try to recreate the table  ```sequence_catalog_category``` using MySQL query in command line
```CREATE TABLE `sequence_catalog_category` (
 `sequence_value` int(10) unsigned

[2018-10-02 11:07] magento-engcom-team commented on #18338
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-02 11:29] BezV8 opened #18339 "2.2.6 Duplicate ID's on category page."
In 2.2.6 there are numerous duplicated ID's on category pages. Elements are: modes-label, mode-list, toolbar-amount, limiter & sorter.

### Preconditions

1. Magento 2.2.6
2. Blank or Luma Theme
3. Category with at least 1 product.

### Steps to reproduce

1. Validate category page with W3C html validator.

### Expected result

1. Clean validation.

### Actual result

1. 5 Duplicate ID warnings.
!

[2018-10-02 11:29] magento-engcom-team commented on #18339
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-02 11:35] jasper-multisafepay commented on #18148
@albsa Workarounds are possible (like setting the state before calling registerCaptureNotification)
But this seems to be a M2 core problem, so I would currently advise waiting for an official patch.

[2018-10-02 11:40] BezV8 commented on #18339
@magento-engcom-team issue confirmed on vanilla test instance (using instance from issue #18337).

[2018-10-02 11:49] axovel commented on #5863
Same problem on 2.2.1 .

[2018-10-02 12:00] #18275 closed, assigned to nobody

[2018-10-02 12:38] nowsathyasar commented on #5873
OK Found the solution.

Add below code in your Renderer.php file:
vendor\magento\module-sales\Model\Order\Address\Renderer.php

<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace Magento\Sales\Model\Order\Address;

use Magento\Framework\Event\ManagerInterface as EventManager;
use Magento\Framework\Filter\FilterManager;
use Magento\Fra

[2018-10-02 12:39] nowsathyasar commented on #5873
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace Magento\Sales\Model\Order\Address;

use Magento\Framework\Event\ManagerInterface as EventManager;
use Magento\Framework\Filter\FilterManager;
use Magento\Framework\DataObject;

/**
 * Class Renderer used for formatting a store address
 */
class Renderer
{
    const DEFAULT_TEMPLATE =

[2018-10-02 12:42] kandy commented on #11002
@Ctucker9233, Can I ask you to create new issues with concrete steps to reproduce? This ticket has many different issues described in the comments, so it hard to understand what concrete issues do you ask to resolve.

[2018-10-02 12:43] BezV8 opened #18340 "2.2.6 Cart page validation errors."
/checkout/cart/ on 2.2.6 has a few errors and warnings when run through the W3C html validator.

### Preconditions

1. Magento 2.2.6
2. Blank or Luma Theme.

### Steps to reproduce

1. Add product to basket.
2. View basket.
3. Validate page source on W3C html validator.

### Expected result

1. No errors.

### Actual result

1. .item-actions first td has a colspan of 100 which causes a warning and

[2018-10-02 12:43] magento-engcom-team commented on #18340
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-02 12:46] BezV8 commented on #18340
@magento-engcom-team Issue confirmed on vanilla instance.

[2018-10-02 12:59] OBog commented on #13810
I have exactly the same problem.
@akshgods , did you manage to fins the workaround for the issue?

[2018-10-02 13:11] pczerkas commented on #18318
@magento-engcom-team give me $VERSION instance

[2018-10-02 13:11] pczerkas commented on #18318
@magento-engcom-team give me 2.2.6 instance

[2018-10-02 13:12] magento-engcom-team commented on #18318
Hi @pczerkas, here is your [Magento instance](https://i-18318-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18318-2-2-6.engcom.dev.magento.com/admin](https://i-18318-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-02 13:56] sidolov opened #18341 "Fake issue"
Test issue

### Preconditions

1. precond 1
2. precond 2
3. precond 3

### Steps to reproduce

1. step 1
2. step 2
3. step 3

### Expected result

1. Result

### Actual result

1. Actual

[2018-10-02 13:56] magento-engcom-team commented on #18341
Hi @sidolov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-02 13:59] magento-engcom-team commented on #18341
@sidolov Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2018-10-02 14:00] magento-engcom-team commented on #18341
@sidolov Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95467` were created

[2018-10-02 14:01] #18341 closed, assigned to nobody

[2018-10-02 14:37] BabliDey opened #18342 "$this->_customerSession->getId() not working in block overriding"
### Summary

I am using Magento 2.2.3
php 7.0.6
I have to override the Magento_Catelog catelog_product_view.xml. So in my custom block all the other functionalities are working other than getting the current looged in user user id.
In my extended block i have done
protected $_customerSession;
public function __construct(
\Magento\Catalog\Block\Product\Context $context,
\Magento\Customer\Model\Sess

[2018-10-02 14:37] magento-engcom-team commented on #18342
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-02 15:05] ronnyadsetts commented on #9466
We are seeing this problem with 2.2.6 on products imported from Magento 1.

Duplicating a product will result in a seemingly endless loop that continues until the disk is full. This was 20GB+ of duplicate images the last time it happened.

[2018-10-02 15:14] nowsathyasar commented on #5873
I had the same issue on 2.2.5..
Here is the solution which worked for me for anyone still having this issue on 2.2.5
replace this file vendor\magento\module-sales\Model\Order\Address\Renderer.php
with latest of magento version 2.2.5

[2018-10-02 15:16] nowsathyasar commented on #5873
`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace Magento\Sales\Model\Order\Address;

use Magento\Framework\Event\ManagerInterface as EventManager;
use Magento\Framework\Filter\FilterManager;
use Magento\Framework\DataObject;

/**
 * Class Renderer used for formatting a store address
 */
class Renderer
{
    const DEFAULT_TEMPLATE =

[2018-10-02 17:16] sidolov opened #18345 "Fake issue"
Desription

### Preconditions

1. Precondition 1
2. Precondition 2

### Steps to reproduce

1. Step 1
2. Step 2

### Expected result

1. Expected
2.

### Actual result

1. Actual
2.

[2018-10-02 17:16] magento-engcom-team commented on #18345
Hi @sidolov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-02 17:18] magento-engcom-team commented on #18345
Hi @sidolov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-10-02 17:21] magento-engcom-team commented on #18345
@sidolov Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95478` were created

[2018-10-02 17:28] #18345 closed, assigned to sidolov

[2018-10-02 19:00] hellotaran opened #18346 ""Visible Section Not Found" message appears if Magento admin session times out"
### Preconditions

1. Magento 2.3-develop branch
2. PHP 7.1.22
3. Ubuntu 14.04.1
4. Installed on Vagrant Machine
5. Default "Admin Session Lifetime (seconds)" = 900
6. Google Chrome Version 69.0.3497.100 (Official Build) (64-bit)
7. Base Machine Windows 10 Pro

### Steps to reproduce

1. Login to Magento admin and wait for 900 seconds or 15 minutes.
2. Post 15 minutes click on any menu link in adm

[2018-10-02 19:00] magento-engcom-team commented on #18346
Hi @hellotaran. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-02 19:09] pdohogne-magento commented on #10577
Confirmed no issues, this will be cleaned up in the 2.3.0 project files.

[2018-10-02 19:31] benoitrenaud opened #18347 "Element 'css', attribute 'as': The attribute 'as' is not allowed. (CSS preloading)"
Hi,
We want to use a technique for loading asynchronous stylesheets.
Ex. https://brianflove.com/2016/07/21/preloading-with-critical-path-css/

The issue is that link attribute "as" isn't valid according to vendor/magento/framework/View/Layout/etc/head.xsd validation file but is a officially supported HTML link attribute as described here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/l

[2018-10-02 19:31] magento-engcom-team commented on #18347
Hi @benoitrenaud. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-02 20:07] fooman commented on #18346
Maybe while this is being looked at the message can be improved to:
"You were logged out due to inactivity."

"You have logged out" implies an active action by the user.

[2018-10-02 20:15] magento-engcom-team commented on #18346
Hi @dthampy. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-10-02 20:35] nizarn commented on #17813
Confirming that this issue will be resolved in 2.3.0. Internal ticket MC-4277 has been approved.
Thanks for all the help @DrewML, @krzksz, @omiroshnichenko.

[2018-10-02 21:54] skilar opened #18348 "[2.2.6] In admin, last swatch option set to default upon save"
### Preconditions
1. Magento 2.2.6

### Steps to reproduce
1. On an existing visual or text swatch, add a new swatch value.
2. Make sure there is no default swatch selected, or if there is, ensure it is not the final option in the list of swatches.
3. Save your changes.
4. Open the attribute again.

### Expected result
1. The new swatch option should be added, and the default swatch should not cha

[2018-10-02 21:54] magento-engcom-team commented on #18348
Hi @skilar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-02 21:55] skilar commented on #18348
@magento-engcom-team give me 2.2.6 instance

[2018-10-02 21:55] magento-engcom-team commented on #18348
Hi @skilar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-02 21:56] magento-engcom-team commented on #18348
Hi @skilar, here is your [Magento instance](https://i-18348-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18348-2-2-6.engcom.dev.magento.com/admin](https://i-18348-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-02 21:56] zaximus84 opened #18349 "Incorrect quote_item_id saved on order items during multiple address checkout"
### Preconditions
1. Magento 2.2.6
2. Multiple address checkout enabled
3. quote_item.item_id and quote_address_item.address_item_id auto increments are different. (If they are the same, the values are correct on order placement due to sheer luck)

### Steps to reproduce
1. Add an item to cart, log in (or create an account), and proceed to multiple address checkout.
2. Complete all steps of checko

[2018-10-02 21:56] magento-engcom-team commented on #18349
Hi @zaximus84. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-02 21:59] skilar commented on #18348
Issue confirmed on vanilla instance.

[2018-10-02 22:15] rparsi commented on #13927
@magento-engcom-team Updates please, has this been fixed and if so please include link to commit or pull request

[2018-10-03 00:18] magento-engcom-team commented on #18346
@dthampy Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2018-10-03 00:48] rparsi commented on #7734
@igrybkov What should the `<query xsi:type="matchQuery" ...` look like so that only enabled products are in the quick search result?
I'm using `vendor/magento/module-catalog-search/etc/search_request.xml` as a reference.
I have checked the Magento Forums and Magento Stack Exchange, nobody knows how to do this.
There's no documentation for this on magento2 dev site either.

I have tried
[code]
but

[2018-10-03 00:51] leoquijano commented on #12514
Hello @magento-engcom-team,

I also ran into this issue. I see that a fix for this issue has been applied to the ```2.2-develop``` line, but it doesn't seem to be applied to any specific release. I'm using ```2.2.6```, and the issue is present in the ```Magento\Catalog\Model\Product\Attribute\Repository``` class.

Are there plans to apply the commit 3d5d4b2aadf0141288162d88ff14b794afcc9abd to a fu

[2018-10-03 00:59] developerlicw commented on #7734
@rparsi
Hi, do you mean that you want only products with "status=1" returned? If so, I think your problem can be solved by using "filter" rather than "query".
This page may be a reference: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html
It's document from elasticsearch, but I think you can also find "filter" in your "search_request.xml" like this:
`<filter

[2018-10-03 01:10] rparsi commented on #7734
@developerlicw I want only enabled products in the quick search result.  The product boolean attribute `status` is what indicates if a given product is enabled or not.

I have
[code]
`status_filter` is added by me.
However I'm still getting an Exception: `Query status is not used in request hierarchy`

Am using magento2 2.2.3

[2018-10-03 01:18] developerlicw commented on #7734
@rparsi According to your Exception message, it seems you're still using "status" for query, please check if you have already removed it.

[2018-10-03 01:28] dthampy commented on #18346
Internal ticket MAGETWO-95482 has been created. Thank you for your submission.

[2018-10-03 01:32] dnesdeveloper opened #18350 "Categories are not showing in Product Edit Page Admin"
1.Magento version 2.2.2

### Steps to reproduce
Catalog > Product > Add New Product > Categories

### Expected result
List of Category need to show

### Actual result
Empty Category

[2018-10-03 01:32] magento-engcom-team commented on #18350
Hi @dnesdeveloper. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-03 01:35] developerlicw commented on #7734
@rparsi Sorry for the bad answer just now.
After checking the file "vendor/magento/framework/Search/Request/Mapper.php" from which the Exception is thrown, I found the following codes:
`$notUsedElements = implode(', ', array_diff($allElements, $mappedElements));
 if (!empty($notUsedElements)) {
            throw new StateException(new Phrase($errorMessage, [$notUsedElements]));
        }`

It seem

[2018-10-03 01:38] rparsi commented on #7734
@developerlicw

I have no idea how to do that (add a given product field/attribute to the mapping).  As I've stated earlier, there's no documentation on this, because magento team thinks developers will magically figure this out without any guidance.

[2018-10-03 01:57] developerlicw commented on #7734
@rparsi Agreed with that, magento do provide quite little information about elasticsearch.
As I guess, "status" must be a property of your product, so it's possible to add it to mapping by setting it "filterable"/"filterable in search" in magento admin panel. (Me myself also not aware of the difference, looking forward for more explanation)

If you want to check your mapping, https://www.elastic.c

[2018-10-03 02:01] rparsi commented on #7734
@developerlicw I'm not using elasticsearch, only MySQL.  I don't see anything in admin ui for "filterable in search".  The closes is in the product attribute edit form there's an option to enable the `status` attribute in search results, but the dropdown is disabled (probably because it's a core entity attribute).

This is so frustrating.

[2018-10-03 02:02] sonsec opened #18351 "Cannot access login and frontend after theme installation"
##Preconditions
Magento 2.2.6
Local Server MAMP 5.3.1
PHP 7.0.8

##Steps to reproduce
1. magento2 2.2.6 installation via composer install
2. uploading of theme files
3. enabling theme and moduls via php bin/magento setup:upgrade
4. deployment of static files via php bin/magento setup:static-content:deploy

##Expected result
1. Able to login to backend
2. Frontend shown as before

##Actual result
1

[2018-10-03 02:03] magento-engcom-team commented on #18351
Hi @sonsec. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-03 02:35] developerlicw commented on #7734
@rparsi Oh, I've always thought of elasticsearch! My apologies for the misunderstanding, cause I'm using elasticsearch...
Sorry that I've never used MySQL, but I think Magento admin panel may not be such different, the "filterable" setting is under "Store"->"Product", in that page you can find all your products' properties, find "status" and maybe do fixing just for try?

[2018-10-03 05:51] ankursharma1930 opened #18352 "Magento 2.2.6 Transfer Cart Line Items is not working in paypal"
### Preconditions

1.Magenot 2.2.6
2.Paypal

### Steps to reproduce

1.I have add some custom amount grandTotal
2.I have disabled "Transfer Cart Line Items " in store > configuration > sales > payment method > paypal > additional settings
3. it still showing me the same error message "PayPal gateway has rejected request. The totals of the cart item amounts do not match order amounts (#10413: Trans

[2018-10-03 05:51] magento-engcom-team commented on #18352
Hi @ankursharma1930. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-03 06:06] vipingarg12 commented on #18321
I can confirm that I was able to reproduce the problem on the vanilla Magento instance

[2018-10-03 08:03] BabliDey opened #18353 "Cachable false is not working when overriding"
### Summary

I am using magento 2.2.3
php 7.0.6

For over riding a block i am using:

    <?xml version="1.0"?>
    <page layout="1column" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
        <body>
            <referenceBlock name='catalog.product.related'>
                <action method='setTem

[2018-10-03 08:03] magento-engcom-team commented on #18353
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-03 08:08] KatPham0304 commented on #12914
@duffner Thank you very much for the reply. Could you provide us with contact info of Magento EE? This issue seems to be left here forever with no udpates :( .

Or do you think we could apply another approach? Will the new Magento version work with this feature?

[2018-10-03 08:54] FerihumF commented on #18154
@davidverholen Thank you for the hint with the plugin on getWebsiteId, so far this is working for me:

di.xml

    <type name="\Magento\Store\Model\Store">
        <plugin name="fix_tier_price_global_error" type="Vendor\Module\Plugin\FixTierPrice" sortOrder="1"/>
    </type>

FixTierPrice.php

    <?php
    namespace Vendor\Module\Plugin;

    class FixTierPrice {

        public function afterGet

[2018-10-03 10:10] manojind commented on #14952
Just install a small module on your magneto 2.2.5 that will work

https://github.com/manojind/magento2.2.5-email-sender

[2018-10-03 11:37] MTheProgrammer opened #18355 "Typo in dispatched event name"
### Preconditions
Magento 2.2.5
method Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider::getSearchableAttributes dispatches event with typo in its name
cat**e**logsearch_searchable_attributes_load_after
instead of
cat**a**logsearch_searchable_attributes_load_after

[2018-10-03 11:37] magento-engcom-team commented on #18355
Hi @MTheProgrammer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-03 11:43] enriquetarazona commented on #11703
Applying those fixes removes the eav_attribute_option_swatch table but for ALL the swatch attributes. I just wanted to apply the dropdown change for one attribute but removed all the swatch attribute values as well. is there a fix for that?

[2018-10-03 11:49] Eth3rnit3 opened #18356 "Admin blocs grids - error after search element"
### Preconditions
1. Magento v 2.2.5
2. Nginx
3.  php-fpm
4. Varnish

### Steps to reproduce
1. Go to Content > Elements > Blocs
2. Fill word in search input and press enter

#### Ralated table and value
[code]

### Expected result

1. ![Error screenshot](https://preview.ibb.co/jUo9Bz/ok.png)
2. Get searched blocks

### Actual result

1. ![Error screenshot](https://preview.ibb.co/hSLgrz/Blocs_Elem

[2018-10-03 11:49] magento-engcom-team commented on #18356
Hi @Eth3rnit3. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-03 11:59] ziaur1 commented on #5873
Kindly plz check ur database....default store view in store table from database..default= 0,english =1,

Your problem will be solve...

[2018-10-03 12:20] mariamghalleb commented on #7977
Any updates please?

[2018-10-03 12:56] clish1 commented on #9003
While it is good that there is what I consider to be a workaround in 2.2.4, I think it is unacceptable that we need to do additional development work to provide proper error messages for a "Recommended Solution" in the Magento Admin.  Now anyone using Braintree must duplicate this effort instead of this being done once by Magento and included in the code.  It is like buying a car and the turn sign

[2018-10-03 13:50] joni-jones commented on #9003
@clish1, Braintree integration in Magento has mapping for error messages (starting from 2.2.4). What kind of an additional work are you talking about?

[2018-10-03 13:58] clish1 commented on #9003
@joni-jones We are on Magento 2.2.4 but we still need to do the configuration as shown in the devdocs link here - correct?
https://devdocs.magento.com/guides/v2.2/payments-integrations/payment-gateway/error-code-mapper.html
Why would we need to do this and not just have this as part of the standard Magento?

[2018-10-03 14:10] michelecanal opened #18357 "checkout_agreement_store doesn't exist"
### Preconditions

1. Starting from Magento CE 2.2.5
2. upgrade from 2.2.5 to 2.2.6

### Steps to reproduce

1. Starting from Magento CE 2.2.5
2. created a terms and conditions (Store-->Terms and conditions)
3. upgrade from 2.2.5 to 2.2.6
3. The Terms and conditions created are not visible in admin (Store-->Terms and conditions)

### Expected result

1. I can edit the old terms and conditions
2. I

[2018-10-03 14:10] magento-engcom-team commented on #18357
Hi @michelecanal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-03 14:20] danrcoull opened #18358 "magento 2 built in webserver router"
### Summary
Been having an issue with using the php built in web server router, so added some conditions to try resolve. The main point of the issue is without the index.php it fails to load just 404's as it doesnt match to anything but if you condition '/' or empty to the request uri and return false this issue is resolved. Making development locally easier.

### Environment
Standard ubuntu php 7

[2018-10-03 14:20] magento-engcom-team commented on #18358
Hi @danrcoull. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-03 14:25] sergei-sss opened #18359 "Sales Rule extensibility problem for actions."
### Summary
Magento 2.2
I need to use the default magento conditions from sales rule extension for own entity.
I created own form with identity "mageworx_rewardpoints_rule" instead "sales_rule_form" and extend
blocks for conditions and actions tabs:

[code]

It is possible to save my entity's conditions successfully but I can't save actions, because you use different logic in your controllers.

##

[2018-10-03 14:31] danrcoull commented on #18358
Wasnt actually a problem as such just an irritation that could easily be fixed allowing built in web server to be used without having to declare index.php as part of the url

[2018-10-03 14:36] ihor-sviziev commented on #15846
Hi @digikeijs,

This is duplicate of #14869

And not this issue was fixed both in 2.2-develop and 2.3-develop branches. It was even included into 2.2.6 release.

[2018-10-03 14:37] ihor-sviziev commented on #15846
Duplicate of #14869

[2018-10-03 14:37] #15846 closed, assigned to nobody

[2018-10-03 14:38] rogyar opened #18360 "test issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-10-03 14:38] magento-engcom-team commented on #18360
Hi @rogyar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-03 14:38] magento-engcom-team commented on #18360
Hi @rogyar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-03 14:40] ihor-sviziev commented on #14869
Hi @digikeijs,
I re-checked, this issue was fixed in 2.2.6 release.

[2018-10-03 14:41] #18360 closed, assigned to nobody

[2018-10-03 14:44] salelsol commented on #14952
Hi @manojind: This repository is empty.

[2018-10-03 14:47] nickshatilo opened #18361 "Customer last name is encoded twice in the XML interface"
### Preconditions
1. Vanilla Magento 2.2.6
2. PHP Version 7.0.31

### Steps to reproduce
1.  Create a customer via Backend with the last name "Foo & Bar Corp"
2. Create an order (via frontend is fine)
3. Export the order via XML interfcae

[code]

### Expected result
The `customer_lastname` tag should contain `Foo &amp; Bar Corp`

### Actual result
The `customer_lastname` tag contains `Foo &amp;am

[2018-10-03 14:47] magento-engcom-team commented on #18361
Hi @nickshatilo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-03 14:48] nickshatilo commented on #18361
@magento-engcom-team Yes, confirming that it reproduces on the vanilla Magento 2.2.6

[2018-10-03 15:01] larylaz commented on #17357
thank you, it's ok.

[2018-10-03 15:07] maximecarey opened #18363 "Bundle: Adding to cart from category when all options are single and required still redirect to product page"
### Preconditions

1. Magento 2.2.5

### Steps to reproduce

1. Create a bundle product, add one product in the bundle items, and mark it default and required.
2. Add the bundle created to a category
3. Go to that category and try to add the product to the quick add to cart button.

### Expected result

1. The product should be added to cart (there's no choice to be made)
2. Stay on the category p

[2018-10-03 15:07] magento-engcom-team commented on #18363
Hi @werfu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-03 15:09] werfu commented on #18363
@magento-engcom-team give me 2.2.5 instance

[2018-10-03 15:09] magento-engcom-team commented on #18363
Hi @werfu. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-03 15:09] magento-engcom-team commented on #18363
Hi @werfu, here is your [Magento instance](https://i-18363-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18363-2-2-5.engcom.dev.magento.com/admin](https://i-18363-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-03 15:31] michelecanal commented on #18357
@magento-engcom-team give me test instance

*Michele Canal*
*[image: Web Site] <http://www.michelecanal.tv.it>**[image: Google+]
<https://plus.google.com/u/0/+MicheleCanal>**[image: Linkedin]
<http://it.linkedin.com/in/michelecanal>[image: Facebook]
<https://www.facebook.com/michele.canal>[image: Twitter]
<https://twitter.com/michelecanal>*

Il giorno mer 3 ott 2018 alle ore 16:12 Magento Communit

[2018-10-03 15:45] magento-engcom-team commented on #17977
Hi @vaibhavahalpara. Thank you for your report.
The issue has been fixed in magento/magento2#17982 by @vaibhavahalpara in 2.2-develop branch
Related commit(s):
 - [3d13f783c9b1e8b9d48bb0b23819598c3af65d17](https://github.com/magento/magento2/commit/3d13f783c9b1e8b9d48bb0b23819598c3af65d17)
 - [7107b8da49c06e783b7629ed3b88757bd97f53e1](https://github.com/magento/magento2/commit/7107b8da49c06e783b76

[2018-10-03 15:45] #17977 closed, assigned to vaibhavahalpara

[2018-10-03 15:55] danieljoeblack commented on #15201
@vteofilo Thanks you! Your fix solved my issues.

[2018-10-03 16:03] rgoncharuk commented on #18248
@hostep , thank you for feedback. We appreciate your direct message regarding community experience.

[2018-10-03 17:26] sergei-sss opened #18366 "Cart Rules with specific action conditions doesn't work on the configurable (or composite?) products"
### Preconditions

1. Magento 2.2.0  with sample data

### Steps to reproduce
1. Disable all sample data cart rules.
2. Create a sales rule with action condition:
[code]
[cart rule edit page](https://drive.google.com/a/mgworx.com/file/d/13EH2C78mTLlHjriIqN28LWOwT7g0Tb4G/view?usp=drivesdk)

3. Go to category Men->Tops and add filter for Material -> Polyester
4. Select from the filtered products "Ca

[2018-10-03 18:10] safaa-alnabhan opened #18367 "RTL right to left site"
Hello,
how can I change the direction of my website to be (from right to left) for languages that start from the right
any advice, please

[2018-10-03 18:10] magento-engcom-team commented on #18367
Hi @safaa-alnabhan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-03 20:50] rafagaseo commented on #18248
update setup_module set schema_version='2.1.0', data_version='2.1.0' where module="Amazon_Core";
update setup_module set schema_version='2.1.0', data_version='2.1.0' where module="Amazon_Login";
update setup_module set schema_version='2.1.0', data_version='2.1.0' where module="Amazon_Payment";
update setup_module set schema_version='4.4.4', data_version='4.4.4' where module="Klarna_Core";
update s

[2018-10-03 21:20] slavvka commented on #16497
Hi @WalterSmulders. Thank you for your report.
The issue has been fixed in magento/magento2#18290 by @sambolek in 2.3-develop branch
Related commit(s):
 - [f6fcf413f19d962d9f29763f1504849924c20fa0](https://github.com/magento/magento2/commit/f6fcf413f19d962d9f29763f1504849924c20fa0)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #18094
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#18149 by @jayankaghosh in 2.3-develop branch
Related commit(s):
 - [76676ce5d0648290538ba7e1d8ac12b6d0548091](https://github.com/magento/magento2/commit/76676ce5d0648290538ba7e1d8ac12b6d0548091)
 - [2ad1031531394b0470dfe12f25a557dc84d1ac21](https://github.com/magento/magento2/commit/2ad1031531394b0470dfe12f25a557

[2018-10-03 21:20] slavvka commented on #12095
Hi @thomvanderboon. Thank you for your report.
The issue has been fixed in magento/magento2#18273 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [6c33d206e999554ff26e45ed3ab6d30e70adf1aa](https://github.com/magento/magento2/commit/6c33d206e999554ff26e45ed3ab6d30e70adf1aa)
 - [0b3fe71e45d9126c60e00f5333ca208bba01c990](https://github.com/magento/magento2/commit/0b3fe71e45d9126c60e00f533

[2018-10-03 21:20] slavvka commented on #9830
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#18272 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [37ff9e94589847f505925add1ed74b6c65a009e2](https://github.com/magento/magento2/commit/37ff9e94589847f505925add1ed74b6c65a009e2)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #10530
Hi @ionutdicu. Thank you for your report.
The issue has been fixed in magento/magento2#18272 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [37ff9e94589847f505925add1ed74b6c65a009e2](https://github.com/magento/magento2/commit/37ff9e94589847f505925add1ed74b6c65a009e2)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #13156
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#18244 by @hostep in 2.3-develop branch
Related commit(s):
 - [477ca51d052464e862301d945c8bb3550b6fa829](https://github.com/magento/magento2/commit/477ca51d052464e862301d945c8bb3550b6fa829)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #17999
Hi @nntoan. Thank you for your report.
The issue has been fixed in magento/magento2#18228 by @nntoan in 2.3-develop branch
Related commit(s):
 - [5144320c210c7afadda5eb6a316cf9a5f54ad139](https://github.com/magento/magento2/commit/5144320c210c7afadda5eb6a316cf9a5f54ad139)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #15196
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#18201 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [0d0b5c0c4193d06879a6b49d75b9e8d87f56731b](https://github.com/magento/magento2/commit/0d0b5c0c4193d06879a6b49d75b9e8d87f56731b)
 - [81076e1de7b28ca888b32121d3586fad5ec8f38c](https://github.com/magento/magento2/commit/81076e1de7b28ca888b32121d3586

[2018-10-03 21:20] slavvka commented on #17152
Hi @lingwooc. Thank you for your report.
The issue has been fixed in magento/magento2#18288 by @sambolek in 2.3-develop branch
Related commit(s):
 - [5548c9d06c74e0dc4d50742363518a3f6a7506d3](https://github.com/magento/magento2/commit/5548c9d06c74e0dc4d50742363518a3f6a7506d3)
 - [8c8b0a83af7fe1021b55c390f12dfd923eb3d1c7](https://github.com/magento/magento2/commit/8c8b0a83af7fe1021b55c390f12dfd923e

[2018-10-03 21:20] slavvka commented on #18330
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#18331 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [eea11c733b94d60639dabc4f83752c51ea1a70e5](https://github.com/magento/magento2/commit/eea11c733b94d60639dabc4f83752c51ea1a70e5)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #18162
Hi @JeroenVanLeusden. Thank you for your report.
The issue has been fixed in magento/magento2#18308 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [2eeb65ccd6201d95a667e5ccaf348b30d46317fe](https://github.com/magento/magento2/commit/2eeb65ccd6201d95a667e5ccaf348b30d46317fe)
 - [34830c61154ae4b199eef531901164a417ef6c7d](https://github.com/magento/magento2/commit/34830c61154ae4b199eef5319

[2018-10-03 21:20] slavvka commented on #17190
Hi @mad-develop. Thank you for your report.
The issue has been fixed in magento/magento2#18209 by @hostep in 2.3-develop branch
Related commit(s):
 - [a4f58c8806d93ff20f921e02785a78bda00adf46](https://github.com/magento/magento2/commit/a4f58c8806d93ff20f921e02785a78bda00adf46)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #18079
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#18303 by @sreichel in 2.3-develop branch
Related commit(s):
 - [5411c0d3310b20888859f1e8cb83a1e78b54877e](https://github.com/magento/magento2/commit/5411c0d3310b20888859f1e8cb83a1e78b54877e)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:20] slavvka commented on #17582
Hi @simonworkhouse. Thank you for your report.
The issue has been fixed in magento/magento2#18295 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [20af5a9cbd21b55cb432110ef2a44db0b5156b44](https://github.com/magento/magento2/commit/20af5a9cbd21b55cb432110ef2a44db0b5156b44)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-03 21:41] apedicdev commented on #8897
Hi, is there any news about this? seems quite concerning has been reproduced on 2.1, 2.2, 2.3 but still no update.

[2018-10-03 22:04] michelecanal commented on #18357
HI,
I find the issue and the solution
In /vendor/magento/module-checkout-agreements/Model/ResourceModel/Agreement/Grid/Collection.php
There is an issue:

[code]
Change with
[code]

[2018-10-03 23:13] duffner commented on #12914
@KatPham0304, unfortunately, Magento EE support is private.  I was hoping that be referencing Magento Eng team they would look up this ticket and share.

[2018-10-04 06:12] nowsathyasar commented on #5873
Thanks a lot Ziau1..this solution is working for me....

[2018-10-04 06:27] engcom-backlog-nazar commented on #18243
Hi @Jilco  This issue was fixed by this commit -> https://github.com/magento/magento2/commit/8e1a5d342cbc63f58529b6c25be41c7d9a979a66

[2018-10-04 06:42] xceed-will commented on #18148
experiencing the same issue here after upgrading from 2.2.5 > 2.2.6

IPN notifications are returning a 200 OK to PayPal but the order status is not updating.

[2018-10-04 06:44] kunzi commented on #12436
For us this happens when creating a new customer account and adding a new address in customer's account page. If you create a new address at checkout the error does not appear. So the key for us at least is to add new address in via customer account to get the error.

[2018-10-04 06:53] ankurverma5540 opened #18371 "Custom Discount is adding Twice in Paypal Express"
### Preconditions

I am using Magento 2.2.5 Enterprise Edition. I need to pass Custom Discount to Paypal express. That is My warranty discount. For this I am using payment_cart_collect_items_and_amounts Observer.

[code]

Custom Amount is adding fine. But the issue is with Discount. For the Discount i am adding negative value.
`$discountnamt = -1.00 * $discounntWarranty;
            $cart->addCust

[2018-10-04 06:53] magento-engcom-team commented on #18371
Hi @ankurverma5540. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-04 06:55] ankurverma5540 commented on #18371
yes

[2018-10-04 07:11] magento-engcom-team commented on #18355
Hi @neeta-wagento. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-04 07:49] jspoe commented on #12594
@slavvka You are correct, it will overwrite it, that is not the problem. The problem is that getColumnValues() after that will call $this->getItems(), which will call load().
In that cycle, _beforeLoad() and _afterLoad() are called and as far as I can see, the _beforeLoad will already give the correlation error, because it will call _applyStoresFilterToSelect() that joins the store column onto the

[2018-10-04 07:54] milindsingh opened #18374 "Unable to get product attribute value for store-view scope type in product collection loaded for a specific store."
### Preconditions

1. Product has a user defined attribute with scope : store-view. Created via:
[code]
2. Magento is setup with 2 store configuration. [Default Store & My Store]
3. Attribute `ced_profile_id` has value **'blank'** in **All Store Views** ( i.e. for Admin store ID - 0), and value **'2'** for **Default Store** ( i.e. ID - 1).
4. On loading product collection with following code:
`$st

[2018-10-04 07:54] magento-engcom-team commented on #18374
Hi @milindsingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-04 07:55] orlangur commented on #18367
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-10-04 07:55] #18367 closed, assigned to nobody

[2018-10-04 07:57] orlangur commented on #18358
@danrcoull please propose your changes as a pull request against `2.3-develop`.

[2018-10-04 07:57] #18358 closed, assigned to nobody

[2018-10-04 08:00] tuyennn commented on #7317
@usuyukiso
Was you using Cloudflare on your server?
The http2 on Cloudflare checks the file size, while the file size is not correct then you would be fail to download the fix.

Disable http2 will do the trick

[2018-10-04 09:03] danrcoull commented on #18358
sure will do.

[2018-10-04 09:08] noahp78 commented on #8854
Can confirm this issue stil happens on the latest release of Magento 2.2.6, maybe worth including this solution in documentation / installer?

[2018-10-04 09:13] brmor opened #18379 "B2B shared Catalog"
### Environment

    Magento ver. 2.2.5 EE
    Module: B2B
    PHP version: 7.0

### Step to reproduce:
1) Import product with produit import (BO)
2) Created a product in BO

### Expected result
Show products for all customer or minimum for customer_group_id 0 (not logged in) and 1 (default)

### Actual result
1) When I import my products in not visible on frontend.
Because the product not exist i

[2018-10-04 09:13] magento-engcom-team commented on #18379
Hi @brmor. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-04 09:28] jigar48 commented on #10234
Does this issue has been fixed on 2.2.6 ?

[2018-10-04 09:37] jos-zz commented on #7623
Upgraded from 2.2.5 to 2.2.6 using the Web Setup Wizard.
Now, in **2.2.6**, I'm getting the **404 Not Found (Whoops, our bad...)** but the **Web Setup Wizard** item is present in menu...

[2018-10-04 10:54] Dan547 opened #18382 "Magento 2 Product Import - Unable to create Attribute values dynamically."
### Preconditions
1. Magento 2.2.5.
2. Product Importer
3. Adding new products

### Steps to reproduce
1. Create a custom dropdown attribute with no values assigned
2. Assign new attribute to attribute group
3. In your import sheet, add that attribute to the custom_attributes column with a value you desire
4. Import that sheet into the Magento Product Importer.

### Expected result
1. Generate Att

[2018-10-04 10:54] magento-engcom-team commented on #18382
Hi @Dan547. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-04 10:56] milindsingh commented on #18374
@magento-engcom-team give me 2.2.5 instance

[2018-10-04 10:56] magento-engcom-team commented on #18374
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-04 10:56] magento-engcom-team commented on #18374
Hi @milindsingh, here is your [Magento instance](https://i-18374-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18374-2-2-5.engcom.dev.magento.com/admin](https://i-18374-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-04 10:58] Dan547 commented on #18382
@magento-engcom-team give me 2.2.5 instance

[2018-10-04 10:58] magento-engcom-team commented on #18382
Hi @Dan547. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-04 10:59] magento-engcom-team commented on #18382
Hi @Dan547, here is your [Magento instance](https://i-18382-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18382-2-2-5.engcom.dev.magento.com/admin](https://i-18382-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-04 11:03] Dan547 commented on #18382
Can confirm issue is reproduced on vanilla Magento instance following steps above.

[2018-10-04 12:12] milindsingh commented on #18374
In above Magento Instance (https://i-18374-2-2-5.engcom.dev.magento.com/),
I have created a custom attribute **`ced_profile_id`** with **Store-View** Scope and created a product with SKU: **Test**.
+ The Product SKU: **Test** has **`blank`** value in `All Store Views` and **`2`**. Screen Shot attached below.
![test product products inventory catalog magento admin](https://user-images.githubusercon

[2018-10-04 12:19] engcom-backlog-nazar commented on #17964
Related pr https://github.com/magento/magento2/pull/17986

[2018-10-04 12:35] EsteraVendic commented on #18148
We are experiencing the same issue with different payment providers. After updating from M2.2.5 to M2.2.6 the order status is not changing after the order is successfully paid. Looks like a M2.2.6 issue to me.

We have this issue with payment providers MultiSafePay and Pay. I also found an issue at Mollie with the same issue.

Will there be a fix soon?

[2018-10-04 12:50] feelcomfort opened #18383 "Magento 2.2.6 Error, view Shipment details in backend "Uncaught Error: Call to a member function getParentItem() on null""
### Preconditions

1. Magento 2.2.6
2. Incoming Order
3. Create Shipment

### Steps to reproduce

1. Sales/Shipment
2. Clicking "view" on any shipmend

![1 sales_shipment](https://user-images.githubusercontent.com/43548743/46474801-1c88d300-c7e4-11e8-8ec7-0dfb4b052774.JPG)

### Expected result

1. Shipment overview

### Actual result

1. In all new shipment-views this error appears:

fatal error:

[2018-10-04 12:50] magento-engcom-team commented on #18383
Hi @feelcomfort. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-04 13:21] DaimPiek opened #18384 "symfony/console dependecy locked at older version"
### Preconditions
Magento CE/EE 2.1.X, 2.2.X

### Steps to reproduce
1. Install Magento using composer
2. Attempt to find a suitable install candidate for symfony/yaml ('composer require symfony/yaml')

### Expected result
1. symfony/yaml module is installed.

### Actual result
Symfony yaml module can not be installed because of the following constraints:
- Starting from symfony/dependency-injecti

[2018-10-04 14:04] amenk commented on #1471
This issue is closed. What do we have to do for a new issue? Or is there a follow-up one?

[2018-10-04 14:04] kevinvarley commented on #17174
Reproduced on 2.2.5

[2018-10-04 14:08] Thundar commented on #6411
Is this issue possibly fixed by MAGETWO-69111 from Magento version 2.2.0?

[2018-10-04 14:10] amit123456 commented on #8800
Any update on this ?

[2018-10-04 14:40] mohsinahmed22 commented on #16522
Still facing this issue on 2.2.6

[2018-10-04 14:46] nkajic commented on #13972
This is documentation problem.

Multiselect attributes needs to have IsVisibleInAdvancedSearch flag checked. Please see implementation on https://github.com/magento/magento2/blob/18dcf17c3435ae172d4b4d169c9287320b33ea38/app/code/Magento/CatalogSearch/Model/ResourceModel/Engine.php#L95

[2018-10-04 15:57] slavvka commented on #12594
@jspoe Now I can see. The issue is not in `_addStoreData()` it is in `_applyStoresFilterToSelect()`. I do agree that a generic solution is much better (e.g. that you used in your PR #18060). But it requires making a breaking change which is forbidden for both 2.2.x and 2.3.x patch releases. I cannot see generic solution right now. Could you look at checking if store joins were applied to fix it ju

[2018-10-04 16:01] dmatthew commented on #18248
I'm getting the `Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Search\Request\IndexScopeResolverInterface` issue. @pmsteil did you figure out this issue?

[2018-10-04 16:34] gwharton opened #18387 "catalog:images:resize fails to process all images -> Possible underlying Magento/Framework/DB/Query/Generator issue"
### Preconditions
1. Magento 2.3-develop
2. Sample data deployed (in order to easily have several test images in store)

### Steps to reproduce
1. php bin/magento catalog:images:resize

### Expected result
1. All 3422 images should be processed

### Actual result
1. Only 801 images are processed.
[code]

In my 2.2.6 development store which has 140 images, it always stops after exactly 100.

I can

[2018-10-04 16:34] magento-engcom-team commented on #18387
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-04 17:25] #16497 closed, assigned to sambolek

[2018-10-04 17:25] #18330 closed, assigned to ihor-sviziev

[2018-10-04 17:25] #17023 closed, assigned to josephmcdermott

[2018-10-04 17:31] BubblegumAnarchy commented on #17174
Appears to be resolved in 2.2.6 with pull request https://github.com/magento/magento2/pull/16863

[2018-10-04 19:30] hostep opened #18392 "2.3 only - creating attribute option value using API returns unexpected response"
### Preconditions
1. Tested with `2.4-develop` branch
2. PHP 7.1.22 & 7.2

### Steps to reproduce
1. Setup a clean Magento installation
2. Create an Integration with full access rights & activate it, I'm assuming the access token is `abcd` (see step 4)
3. Using the adminhtml, create a new `dropdown` product attribute, use attribute code: `dropdown`
4. Add an option through a REST call (make sure t

[2018-10-04 19:31] magento-engcom-team commented on #18392
Hi @hostep. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-04 19:51] hostep commented on #18384
@DaimPiek: you can actually install `symfony/yaml` 3.3, but it's a bit tricky and will downgrade `symfony/dependency-injection` to a lower compatible version, here's how:

[code]

The trick is to use the `--no-update` flag in the `require` command.
If you follow that up with a full `update` command, composer will put a lot more effort in finding a suitable set of dependencies which work together.

[2018-10-04 19:57] slavvka commented on #12594
@jspoe You could refer to the solution in `\Magento\Store\Model\ResourceModel\Website\Collection::joinGroupAndStore`

[2018-10-05 05:30] DanielRuf commented on #16522
There is no "fixed in 2.2.x" label. Afaik it will be in .7 or .8.

[2018-10-05 06:28] jspoe commented on #12594
@slavvka Certainly, will check for alternative asap.

[2018-10-05 07:43] rastin1 commented on #18248
I have upgraded from 2.2.1 to 2.2.6
The result error:

1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Please update your modules: Run "composer install" from the Magento root directory.
The following modules are outdated:
Klarna_Core db schema version: defined in codebase - 4.4.4, currently installed - 4.5.2
Klarna_Core db data version: defined in codebase - 4.4.4,

[2018-10-05 08:55] UsenkoArt commented on #16737
Hi.
Recently I was faced with this problem.
I found solution for me.
I try to explain.
I check this on magento 2.2.1, 2.2.3, 2.2.6.
It isn't quite a bug.

When I debug module - customer import export. I get next result.
At first Import proccess running through method _prepareDataForUpdate in
vendor/magento/module-customer-import-export/Model/Import/Customer.php
Magento call the method getAttribute

[2018-10-05 09:09] vseager commented on #10982
A year since this issue was raised and still no resolution or known workaround?!

[2018-10-05 09:27] paul-blundell commented on #15130
I am still seeing this issue on Magento 2.2.5. Even after clearing cache and reindexing.

You can see in the database table catalog_category_entity_int it has updated for store_id = 0 but not for store_id = 1. If I remove all values where store_id = 1 then it works.

[2018-10-05 09:30] paul-blundell commented on #15130
@magento-engcom-team give me 2.2.5 instance

[2018-10-05 09:30] magento-engcom-team commented on #15130
Hi @paul-blundell. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-05 09:31] magento-engcom-team commented on #15130
Hi @paul-blundell, here is your [Magento instance](https://i-15130-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-15130-2-2-5.engcom.dev.magento.com/admin](https://i-15130-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-05 10:25] ghost opened #18395 "Customer address book access issue unable to edit address or add address."
### Preconditions
1.Tested with Magento 2.2.6
2.PHP 7.1.18
3.Ubuntu Development System

### Steps to reproduce

1.Login as customer and click to Address book section.
2.Fatal error will be generate customer is unable to update their address.

### Expected result

![customer_addressbook_issue_](https://user-images.githubusercontent.com/28080068/46531021-5e377d80-c8b9-11e8-8321-15e10f544a0c.png)

##

[2018-10-05 12:02] rafagaseo commented on #18248
I solved by changing directly in the database.
Look my [answer](https://github.com/magento/magento2/issues/18248#issuecomment-426797753) this will to solve

[2018-10-05 12:03] ajusev commented on #18134
Seems that for whatever reason during the upgrade from 2.2.5 to 2.2.6, new code did not actually preserved list of existing product types when updating the manufacturers plugin.

Looking at the catalog_eav_attribute table for the attribute_id that equals to your manufacturer attribute (you can look this up using: select attribute_id from eav_attribute where attribute_code = 'manufacturer';) - The

[2018-10-05 12:17] hostep commented on #18248
@rafagaseo: just out of curiosity, did you check if any db upgrade scripts existed in these newer versions of these modules? Because if that was the case, you might run into problems when upgrading to a newer version later on.
If there weren't any db migration scripts involved in between those versions, then it should be fine.

[2018-10-05 12:18] Boumii commented on #5321
Still exist in 2.2.6
Backend generated sitemap.xml contains /pup/ in image src, when shops root is in /pup/.

Workaround by hostep works for me. Set generation time some minutes past to current time and generate sitemap with "bin/magento cron:run" generates sitemap without /pup/ in image path. Then I set frequency to monthly to not overwrite by automation.

[2018-10-05 13:04] saurabhgwb commented on #2904
I am also having same issue with Magento 2.2.5, Is there any updates on the issue?

[2018-10-05 13:15] navarr commented on #18248
Following @hostep's previous note of requiring the newer versions as if they were the older versions:

[code]

This can cause issues if there are third party dependencies that support and plug in to these modules, but that seems unlikely.  You will also have to do more work to fix them once you have upgraded to the next version.

But it will be less confusing than the database errors you'll get if

[2018-10-05 13:30] NanthiniMuralidaran commented on #2904
I have faced this issue once. My session data was empty. I corrected it and
then the issue is resolved.
*Nanthini Muralidaran*
LeanSwift Solutions Inc.

Phone: +91-9524738428 <+919524738428>
Skype: nanthini.muralidaran
Slack: nanthini.muralidaran

 We know Infor ERP |  eCommerce & Mobile for Infor M3 |  Partners Infor M3
Marketplace <https://www.inform3marketplace.com/>

On Fri, Oct 5, 2018 at 6:3

[2018-10-05 13:37] maksim-grib commented on #15935
This issue is a more general, it affects not only delete mass action but all mass actions that internally make use of Magento\Ui\Component\MassAction\Filter class. Even for mass action from 3rd party vendors, as long as they are using the same approach. This a form of race condition issue.

Because of this bug all products were disabled on one of our projects. Here is the other way how you can rep

[2018-10-05 14:44] manishmittalm opened #18402 "Tax classes info issue in Magento 2.2.6"
### Preconditions

1. Magento 2.2.6
2. PHP 7.1.13

### Steps to reproduce

1. Login to Magento admin
2. Store > Configuration > Sales > Tax > Tax Classes
3. Showing info icon: You can manage customer and product tax classes at Sales->Tax menu

### Expected result

1. You can manage customer and product tax classes at Stores->Tax Rules->Edit Specific class->Addtional Settings

### Actual result

1.

[2018-10-05 14:44] magento-engcom-team commented on #18402
Hi @manishmittalm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-05 14:53] zhartaunik commented on #16069
You are looking at wrong places. Final price in index table equals zero. Need to fix indexation process.

[2018-10-05 15:09] manishmittalm commented on #18402
Yes

[2018-10-05 15:29] facetimer commented on #13983
Any news ? Or solution ?
I can't put my website in production mode with this kind of issue...
My website have 7 langage with many custom option....
A solution will be really appreciate !

[2018-10-05 15:39] ibecmattb commented on #5019
Any update on this? Seems this feature is still not available? When exporting a product with a video attached to it, it does not show anywhere in the export csv. I am not able to create an import CSV with video urls either.

Any help? Thanks!

[2018-10-05 16:07] testmagento2 commented on #18104
I just upgrade to latest version 2.2.6 and I am still getting the issue

[2018-10-05 16:32] gwharton commented on #12070
Note, this issue is fixed by PR's 17512 (2.2) and PR #18405 (2.3)

There is another issue related to column positioning which is #17691 which is still unresolved.

[2018-10-05 19:56] lewisvoncken commented on #16789
@vegangirlthatcodes
You can use the following temporary solution:

create a Product Attribute **save_rewrites_history** and fill it through the api with the value 1 as a custom attribute and then it will create a new redirect.

[2018-10-05 20:03] lewisvoncken commented on #16789
#SQUASHTOBERFEST

[2018-10-05 21:40] torhoehn commented on #18395
@magento-engcom-team give me 2.2.6 instance

[2018-10-05 21:40] magento-engcom-team commented on #18395
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-05 21:40] magento-engcom-team commented on #18395
Hi @torhoehn, here is your [Magento instance](https://i-18395-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18395-2-2-6.engcom.dev.magento.com/admin](https://i-18395-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-05 21:41] lewisvoncken commented on #16789
@vegangirlthatcodes and @magento-engcom-team

The PR has been created.

[2018-10-05 21:44] torhoehn commented on #18395
@manishg0 Could not reproduce you issue on vanilla instance so I'll close this issue.

[2018-10-05 21:44] #18395 closed, assigned to torhoehn

[2018-10-05 21:44] magento-engcom-team commented on #18395
Hi @torhoehn. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-10-05 21:45] torhoehn commented on #18383
@magento-engcom-team give me 2.2.6 instance

[2018-10-05 21:45] magento-engcom-team commented on #18383
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-05 21:45] magento-engcom-team commented on #18383
Hi @torhoehn. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-10-05 21:46] magento-engcom-team commented on #18383
Hi @torhoehn, here is your [Magento instance](https://i-18383-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18383-2-2-6.engcom.dev.magento.com/admin](https://i-18383-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-05 21:54] torhoehn commented on #18383
@feelcomfort Could not reproduce you issue on vanilla instance so I'll close this issue.

<img width="1333" alt="screenshot 2018-10-05 at 23 52 36" src="https://user-images.githubusercontent.com/1945725/46561895-ec335880-c8f9-11e8-846e-17b5e1f266a7.png">

[2018-10-05 21:54] #18383 closed, assigned to torhoehn

[2018-10-05 23:20] primisuimotori commented on #6144
I got this issue in Magento 2.2.2, any solution ?

[2018-10-05 23:53] rodrigowebjump commented on #16017
@magento-engcom-team give me 2.3-develop instance

[2018-10-05 23:54] magento-engcom-team commented on #16017
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-05 23:54] magento-engcom-team commented on #16017
Hi @rodrigowebjump, here is your [Magento instance](https://i-16017-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-16017-2-3-develop.engcom.dev.magento.com/admin](https://i-16017-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-05 23:55] rodrigowebjump commented on #16017
@magento-engcom-team give me 2.2.4 instance

[2018-10-05 23:56] magento-engcom-team commented on #16017
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-10-05 23:56] magento-engcom-team commented on #16017
Hi @rodrigowebjump, here is your [Magento instance](https://i-16017-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16017-2-2-4.engcom.dev.magento.com/admin](https://i-16017-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 00:13] paginasweb commented on #11263
is sad to know that on 2.2.6 issue still exist, cant be angry because this is a free software but sad because Magento 1 was a really good product, the only issue was speed, but Magento 2 is really having issues unresolved, i hope this and other issues get resolved asap.

[2018-10-06 04:56] techguysourav opened #18409 "Magento 2.2.5 - Cron Job Error. Sqlstate[40001]: Serialization failure: 1213 Deadlock"
### Summary

 We are using Magento 2.2.5 and we are consistently receiving Cron Job Error. Sqlstate[40001]: Serialization failure: 1213 Deadlock.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.13

### Steps to Reproduce

1.  Setup cron job at server

### Expected Result

1. Cron Job Run Should be successfully
2.  No more pending jobs

### Actual Result

 [Magento\Framework\DB\Adapter\DeadlockExce

[2018-10-06 04:56] magento-engcom-team commented on #18409
Hi @sourav88. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-06 07:30] NanthiniMuralidaran commented on #2904
Did you check all the post values from your form? Check if anything is
missing.For me customer data session in magento got empty then I fixed it

On Sat, Oct 6, 2018, 12:51 PM saurabhgwb <notifications@github.com> wrote:

--
This message originates from LeanSwift, Inc and may contain confidential
information intended solely for the use of the addressee. If you are not
the intended recipient and ha

[2018-10-06 07:53] rishabhrkrai opened #18410 "Image Position issue with Associated Products"
### Preconditions

1. Magento 2.2.5
2. Nginx
3. MySQL 5.6.x

### Steps to reproduce

1. Upgrade Magento from 2.1.7 to 2.2.5
2. Have product configurable **A** (visibility-catalog,search) and simple associated **X, Y, Z**(visibility-catalog). Simple products **X, Y, Z** is associated with **A**
3. Change the gallery image position of product **X** having 4 gallery images.

### Expected result

1. C

[2018-10-06 07:53] magento-engcom-team commented on #18410
Hi @RishabhRkRai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-06 08:25] nithindyode opened #18411 "Product Images Not Migrated ! Need Help"
Summary of the issue
I was migrating a Magento 1.14.3 website to 2.2.3 version using the migration tool. I have migrated all products, customers, and orders. I copied my media/catalog/product folder to pub/media/catalog/product folder, But the images are not coming in frontend/backend.
    Information on your environment
Magento 2.2.3
    Steps to reproduce
 run the **php bin/magento catalog:image

[2018-10-06 08:28] primisuimotori commented on #16933
any solution ?

[2018-10-06 08:38] sourav88 commented on #18411
To make format valid follow below guidelines.
1.  Summary of the issue
2.   Information on your environment
3.   Steps to reproduce
4.   Expected and actual results

[2018-10-06 09:05] kemexyz commented on #15620
#squashtoberfest

[2018-10-06 09:05] magento-engcom-team commented on #15620
@kemexyz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-06 09:08] magento-engcom-team commented on #15620
Hi @kemexyz. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-10-06 09:13] ZhukValentina commented on #14116
#squashtoberfest

[2018-10-06 09:13] magento-engcom-team commented on #14116
@ZhukValentina thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-06 09:28] ArtsiomBruneuski commented on #14555
@magento-engcom-team give me 2.3-develop instance

[2018-10-06 09:28] magento-engcom-team commented on #14555
Hi @ArtsiomBruneuski. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-06 09:29] magento-engcom-team commented on #14555
Hi @ArtsiomBruneuski, here is your [Magento instance](https://i-14555-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-14555-2-3-develop.engcom.dev.magento.com/admin](https://i-14555-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 09:29] wstnbrg commented on #16572
#squashtoberfest

[2018-10-06 09:29] magento-engcom-team commented on #16572
@wstnbrg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-06 09:31] kemexyz commented on #15620
@magento-engcom-team give me 2.3-develop instance

[2018-10-06 09:31] wstnbrg commented on #16572
@magento-engcom-team give me 2.3-develop instance

[2018-10-06 09:31] magento-engcom-team commented on #15620
Hi @kemexyz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-06 09:31] magento-engcom-team commented on #16572
Hi @wstnbrg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-06 09:32] magento-engcom-team commented on #15620
Hi @kemexyz, here is your [Magento instance](https://i-15620-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-15620-2-3-develop.engcom.dev.magento.com/admin](https://i-15620-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 09:32] magento-engcom-team commented on #16572
Hi @wstnbrg, here is your [Magento instance](https://i-16572-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-16572-2-3-develop.engcom.dev.magento.com/admin](https://i-16572-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 09:34] Mardl commented on #12399
#squashtoberfest

[2018-10-06 09:34] magento-engcom-team commented on #12399
@Mardl thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-06 10:12] magento-engcom-team commented on #17951
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-06 10:13] okorshenko opened #18413 "test issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-10-06 10:13] magento-engcom-team commented on #18413
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-06 10:14] magento-engcom-team commented on #18413
Hi @maksek. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-10-06 10:14] #18413 closed, assigned to nobody

[2018-10-06 10:16] magento-engcom-team commented on #17951
Hi @okorshenko. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-10-06 10:17] magento-engcom-team commented on #18409
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-06 10:30] okorshenko commented on #18411
Hi @nithindyode
Thank you for your report. If you have issues related to data migration, feel free to report it on the https://github.com/magento/data-migration-tool repository. Otherwise, your report might be lost on magento2 repository.

Also I would recommend you post your question on the Magento forum or community slack

[2018-10-06 10:30] #18411 closed, assigned to nobody

[2018-10-06 10:34] okorshenko commented on #18402
@magento-engcom-team give me 2.3-develop instance

[2018-10-06 10:34] magento-engcom-team commented on #18402
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-06 10:34] magento-engcom-team commented on #18402
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-06 10:35] magento-engcom-team commented on #18402
Hi @okorshenko, here is your [Magento instance](https://i-18402-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18402-2-3-develop.engcom.dev.magento.com/admin](https://i-18402-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 10:38] okorshenko commented on #18402
@magento-engcom-team give me 2.2-develop instance

[2018-10-06 10:38] magento-engcom-team commented on #18402
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-06 10:38] magento-engcom-team commented on #18402
Hi @okorshenko, here is your [Magento instance](https://i-18402-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18402-2-2-develop.engcom.dev.magento.com/admin](https://i-18402-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 10:41] okorshenko commented on #18402
@magento-engcom-team give me 2.2.6 instance

[2018-10-06 10:41] magento-engcom-team commented on #18402
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-06 10:41] magento-engcom-team commented on #18402
Hi @okorshenko, here is your [Magento instance](https://i-18402-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18402-2-2-6.engcom.dev.magento.com/admin](https://i-18402-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 10:46] okorshenko commented on #18402
Hi @manishmittalm
Looks like the comment you are referencing is not Magento core code. Please check your 3rd party extensions.

Also try to reproduce the issue on clean Magento instance.

[2018-10-06 12:27] manishmittalm commented on #18402
That is core Magento issue, I installed Vanilla Magento 2.2.6 and get that notification in that.

[2018-10-06 12:54] hostep commented on #18402
@manishmittalm: the message is defined in the `Vertex_Tax` module. Magento doesn't consider it a core module, even though they include it as a core module. Which is ridiculous.

@okorshenko: I hate to keep bringing this up, but if you ask for a Magento instance, is there a chance it could get installed using composer instead of via a git clone? That way the Vertex module will be included and you'l

[2018-10-06 12:58] Fazzke commented on #18387
@magento-engcom-team give me 2.2-develop instance

[2018-10-06 12:58] magento-engcom-team commented on #18387
Hi @Fazzke. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-06 12:59] magento-engcom-team commented on #18387
Hi @Fazzke, here is your [Magento instance](https://i-18387-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18387-2-2-develop.engcom.dev.magento.com/admin](https://i-18387-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 13:16] VadymKalin commented on #17796
#squashtoberfest

[2018-10-06 13:16] magento-engcom-team commented on #17796
@VadymKalin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-06 13:27] wakar commented on #7647
thanks @zaximus84, it works for me after running your query.

[2018-10-06 14:17] okorshenko commented on #18402
@magento-engcom-team give me 2.3-develop instance

[2018-10-06 14:17] magento-engcom-team commented on #18402
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-06 14:18] magento-engcom-team commented on #18402
Hi @okorshenko, here is your [Magento instance](https://i-18402-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18402-2-3-develop.engcom.dev.magento.com/admin](https://i-18402-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 14:26] #18402 closed, assigned to navarr, okorshenko

[2018-10-06 14:27] larsroettig commented on #12399
@magento-engcom-team give me 2.3-develop instance

[2018-10-06 14:28] magento-engcom-team commented on #12399
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-06 14:28] magento-engcom-team commented on #12399
Hi @larsroettig, here is your [Magento instance](https://i-12399-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-12399-2-3-develop.engcom.dev.magento.com/admin](https://i-12399-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 14:30] okorshenko commented on #18402
@hostep just to clarify: this issue can not be fixed through the code in this repository. If Community Contributor will take the issue from this backlog, he/she won't be able to reproduce it and fix.

[2018-10-06 14:31] magento-engcom-team commented on #10180
Hi @ZhukValentina. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-06 14:44] hostep commented on #18402
Got it! But I still consider this very confusing and issue reports like these will keep happening I'm afraid.

Just out of curiosity, we can't see https://github.com/magento/ext-vertex/, why is this hidden away? Revealing these repo's would help in reporting bugs to those modules and seeing open outstanding issues.

[2018-10-06 14:48] maksek commented on #18402
@hostep, we are working with extension providers to open the repos.

[2018-10-06 14:48] okorshenko commented on #18402
We are working right now will all vendors to open the code of all bundled extensions. Once ready, all community members will be able to see all reports or create new reports, as well as contribute any improvements

[2018-10-06 14:55] larsroettig commented on #12399
Error can reproduce in 2.3 vanilla Instance

https://www.youtube.com/watch?v=xBMxMfKHmuc&feature=youtu.be

[2018-10-06 15:29] lewisvoncken commented on #17634
Hi @bruno-serfe , @hostep

It looks like that this problem persists when the var/.regenerate flag is set. This file will be created when enabling a module through the command line.

@bruno-serfe can you please confirm this?

[2018-10-06 15:34] benmarks commented on #17849
@magento-engcom-team this seems like a **Feature Request**.

[2018-10-06 15:43] jayankaghosh commented on #18245
@magento-engcom-team give me 2.2.6 instance

[2018-10-06 15:43] magento-engcom-team commented on #18245
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-06 15:43] magento-engcom-team commented on #18245
Hi @jayankaghosh, here is your [Magento instance](https://i-18245-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18245-2-2-6.engcom.dev.magento.com/admin](https://i-18245-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-06 15:46] biancatde opened #18421 "Magento orders page stuck"
### Preconditions

1. version 2.1.14
2. Entered an incorrect date in the search parameters in the Orders search bar, and when Magento couldn't find the results, it is now stuck with the rotating loading circle and will not allow me to do anything on the page.

### Steps to reproduce

1. enter an invalid date in the search filters in the Orders page(in my case it was 01/20/2009)
2. I also searched

[2018-10-06 15:46] magento-engcom-team commented on #18421
Hi @biancatde. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-06 16:35] jayankaghosh commented on #18245
I am working on this

[2018-10-06 16:36] magento-engcom-team commented on #18245
Hi @jayankaghosh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-10-06 18:50] DarkLanternMG commented on #8131
Thank you all.

[2018-10-06 22:38] skilar commented on #18348
That does it, @pocallaghan. Thanks.

[2018-10-07 02:03] rodrigowebjump commented on #16017
Hi @DanielRuf,
I'm not able to reproduce the issue that you describe. There is no empty .fields in .fieldset-fullname.

If you enable prefix, suffix or middle name in Stores->Configuration->Customer->Customer Configuration->Name and Address Options, the HTML tags that you mention are included to wrap the "name fields". This is an expected behavior.

If you like to update please reopen the issue.

[2018-10-07 02:07] diazwatson commented on #13415
Hi guys, I'll have a look to this issue, could you please assign to me?

[2018-10-07 08:57] DanielRuf commented on #16017
So why were the "reproduced" labels added then?

[2018-10-07 08:58] DanielRuf commented on #16017
Also see the linked commit https://github.com/StevenGuapaBV/magento2/commit/c05587fc1432bd8c41e301ee4ba573b87edb818e

[2018-10-07 09:35] rogyar commented on #18265
@magento-engcom-team give me 2.3-develop instance

[2018-10-07 09:36] magento-engcom-team commented on #18265
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-07 09:36] magento-engcom-team commented on #18265
Hi @rogyar, here is your [Magento instance](https://i-18265-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18265-2-3-develop.engcom.dev.magento.com/admin](https://i-18265-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-07 12:18] diazwatson commented on #13415
Hi guys, I am looking at this issue in 2.2-develop (2.2.7-dev) and it seems to be fixed.
Can somebody advise what needs to be done in here?

[2018-10-07 12:18] magento-engcom-team commented on #13415
Hi @diazwatson. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-07 13:59] nikmedlabs opened #18438 "404 page only when user is logged in (SQLSTATE[23000]: Integrity constraint violation: 1452)"
Whenever a logged in user tries to do something related to his account, then he is redirected to 404 page. Below, I give 4 cases that the error occurs.
**Case 1.** User tries to login, the page is blank, then if you refresh the user account area appears with a message "We can't show you the wishlist now".
**Case 2.** User is logged in and tries to visit a product page, then he is redirected to the

[2018-10-07 13:59] magento-engcom-team commented on #18438
Hi @nikmedlabs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-07 18:09] testmagento2 opened #18441 "Purchase a downloadable product as guest"
Hi,

When I purchase a downloadable product as a guest and create account after, that product order does not appear in the my downloadable products section after completed purchase but invoice is appear in My Orders.

Preconditions
magento 2.2.6
php 7

Steps to reproduce

purchase downloadable product via guest checkout.
successfully pay .
Create Account.
go to my email for the invoice downloadabl

[2018-10-07 18:09] magento-engcom-team commented on #18441
Hi @testmagento2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-08 00:10] farbulous opened #18445 "Slow Product Save & Slow Category Saving in Admin - 4.8M products including options"
Hi all.  We're having an issue we have not experienced before.  This is our first Magento 2 project which contains a super huge catalog.  4.8M products including their options.  Our issue is when navigating Catalog -> Products and Catalog -> Categories.  The current time it takes simply to save a product or save a category is 5-8min.  It kind of stalls my browser and I sit waiting for the screen t

[2018-10-08 00:10] magento-engcom-team commented on #18445
Hi @farbulous. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-08 02:55] mrkhoa99 commented on #4534
Here is one solution for this issue: https://magento.stackexchange.com/a/155554/33057

[2018-10-08 05:15] abhisekhranjan opened #18446 "Issues facing when upgrading magento 2.1.5 to Magento 2.2.6"
Unable to upgrade Magento2.1.5 to Magento2.2.6

Issues ======================
**Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install magento/product-community-edition 2.2.6
    - Conclusion: don't install magento/product-community-edition 2.2.5
    - Conclusion: don't install magento/product-community-edition 2.2.4
    - Conclusion

[2018-10-08 05:15] magento-engcom-team commented on #18446
Hi @abhisekhranjan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-08 05:51] magento-engcom-team commented on #18240
Hi @jaimin-ktpl. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-08 06:16] samars commented on #18438
@magento-engcom-team give me 2.2.6 instance

[2018-10-08 06:16] magento-engcom-team commented on #18438
Hi @samars. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-08 06:17] magento-engcom-team commented on #18438
Hi @samars, here is your [Magento instance](https://i-18438-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18438-2-2-6.engcom.dev.magento.com/admin](https://i-18438-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-08 06:46] akellberg commented on #16522
Also having this issue in 2.2.6

This is bug makes Magento unusable for anyone experiencing it. If my customers can't see my product images, everyone will leave.
I see  its marked "Fixed in 2.3.x", but what do you suggest in meantime? Can you provide a work-around for 2.2.6, or do you suggest we just wait for 2.3.x to be released?

[2018-10-08 07:45] raffoitaly commented on #18314
Anyone can help us? Same problem for me in M 2.2.4

[2018-10-08 07:52] gwharton commented on #14977
PR #18443 fixes this issue.

Well, it makes the gallery.phtml work properly with the current implementation of the getVar routine atleast.

Once PR #18443 has been merged and everything is working ok again, I will look to reinstate my PR that reverts the changes made to the getVar routine, but this may be slow time.

[2018-10-08 08:00] magento-engcom-team commented on #17764
Hi @osrecio. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-08 08:01] magento-engcom-team commented on #17764
Hi @osrecio. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-08 08:13] paales opened #18451 "Declarative schema issue: setup:upgrade breaks when a JSON column is created in MySQL"
### Preconditions

1. Magento 2.3-beta8

### Steps to reproduce

1. Create a table in the database with a JSON column (so I'm not trying to create a JSON column via the declarative schema)

[code]

2. Run `bin/magento setup:upgrade`

### Expected result
1. Setup upgrade should just continue

### Actual result

[code]

[2018-10-08 08:13] magento-engcom-team commented on #18451
Hi @paales. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-08 08:25] jakwinkler opened #18452 "Wrong currency visible in multistore setup, admin panel, product list"
### Preconditions

1. Magneto 2.2.5 EE
2. "Products in Category" section when editing category in the admin panel

### Steps to reproduce

1. Create multistore setup: 2 websites, 2 store views
2. Set catalog price scope: WEBSITE
3. Set a fixed price per website to few products
4. Edit a category page, change scope to second currency
5. View assigned products to category

### Expected result

1. In

[2018-10-08 08:31] Flowlance commented on #18243
Same problem. A 83GB tar file in /tmp/analytics...

![screen shot 2018-10-08 at 10 22 57](https://user-images.githubusercontent.com/3727974/46598709-56f4b780-cae5-11e8-8c0f-ef1e96a21edc.png)

[2018-10-08 08:36] engcom-backlog-nazar commented on #18243
Hi @Flowlance This issue has been fixed by this commit -> https://github.com/magento/magento2/commit/8e1a5d342cbc63f58529b6c25be41c7d9a979a66

[2018-10-08 08:37] lovelysetia1992 opened #18453 "Partial Invoice is not working properly in Magento-2.1.12."
I have 2 products in order,one is simple product and other is bundle product(dynamic).When I create Invoice for simple product using simple product order_item_id,It show wrong details.I will check through admin and api also.

### Preconditions

1.  Magento ver. 2.1.12
2. PHP Version :7.0.16
3. Window OS

### Steps to reproduce

1. Create An Order with two items.One is Simple Product and other is b

[2018-10-08 08:37] magento-engcom-team commented on #18453
Hi @lovelysetia1992. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-08 09:12] magento-engcom-team commented on #18263
Hi @Mobecls. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-08 09:15] magento-engcom-team commented on #17460
Hi @manuelson. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-08 09:17] ChristianAlba commented on #17898
#SQUASHTOBERFEST

[2018-10-08 09:17] magento-engcom-team commented on #17898
@ChristianAlba thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-08 09:18] magento-engcom-team commented on #17898
Hi @ChristianAlba. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-08 09:30] adrian-martinez-interactiv4 commented on #16249
As @peterjaap said, this has been already fixed for 2.2 branch in https://github.com/magento/magento2/commit/0a38b845508577e38d79280288a4fc716f2d1108. We are closing this issue as fixed.

[2018-10-08 09:30] #16249 closed, assigned to nobody

[2018-10-08 09:50] xvrmallafre commented on #12524
#SQUASHTOBERFEST

[2018-10-08 09:50] magento-engcom-team commented on #12524
@xvrmallafre thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-08 09:50] magudelo62 commented on #15206
Hello @JoshuaFlood,

The real problem is that "vendor/theme/Magento_Theme/web/css/new_products.less" file isn't load and compiled. The good way to import less files as Magento documentations recomend is: In `_extend.less` file #register the `_new_products.less` by adding the following code: `@import '_new_products.less';`

Look here the Magento documentation https://devdocs.magento.com/guides/v2.2

[2018-10-08 09:51] magento-engcom-team commented on #12524
Hi @xvrmallafre. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-08 09:51] avstudnitz commented on #12696
I am working on this #squashtoberfest

[2018-10-08 09:59] lovelysetia1992 commented on #18453
I will check in  Magento Instance
<https://i-18453-2-3-develop.engcom.dev.magento.com/> .Problem is still
here,it will not be resolved.I will attach one screenshot :
[image: image.png]
Please Guide me.

On Mon, Oct 8, 2018 at 2:52 PM Magento Community Engineering <
notifications@github.com> wrote:

[2018-10-08 10:13] CarlosBarrosoRamirez commented on #14825
I get this one.

[2018-10-08 10:16] NicoSiebler commented on #18335
@magento-engcom-team give me 2.2.6 instance

[2018-10-08 10:16] magento-engcom-team commented on #18335
Hi @NicoSiebler. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-08 10:16] NicoSiebler commented on #18335
@magento-engcom-team yes
On a local vanilla setup 2.2.5 with sample data.

[2018-10-08 10:16] magento-engcom-team commented on #18335
Hi @NicoSiebler, here is your [Magento instance](https://i-18335-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18335-2-2-6.engcom.dev.magento.com/admin](https://i-18335-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-08 10:28] krotus commented on #16209
#SQUASHTOBERFEST

[2018-10-08 10:28] magento-engcom-team commented on #16209
@krotus thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-08 10:28] magento-engcom-team commented on #16209
Hi @krotus. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-10-08 10:30] DaimPiek commented on #18384
@hostep : The issue seems to be resolved by forcing a downgrade of the symfony/dependency-injection package.

However I don't think this should be the permanent solution, and that the locked version of symfony/console should be upgraded in Magento's composer.json.

[2018-10-08 10:31] NicoSiebler commented on #18335
Example setup:

Category: https://i-18335-2-2-6.engcom.dev.magento.com/test.html
Product: https://i-18335-2-2-6.engcom.dev.magento.com/test-product.html

The product was initially out of stock, so not visible. I set it to in stock with a positive quantity. Seems the cron does not run or does not run every few minutes.
@magento-engcom-team If you run the cron/indexing cron, the problem should be vi

[2018-10-08 10:37] vseager opened #18457 "Reports show results for different date when using GB locale (or other non-US date formats)"
It appears that when your admin user locale is not set to US, and date inputs are not in US format, for example, dd/mm/yyyy, the data returned from the reports is incorrect.

### Preconditions
1. Magento 2.2.5
2. Admin user interface locale set to 'English (United Kingdom)'

### Steps to reproduce
1. Set the  'Interface Locale' for your admin user to 'English (United Kingdom)'
2. Go to a report, f

[2018-10-08 10:37] magento-engcom-team commented on #18457
Hi @vseager. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-08 11:14] kaalar commented on #18183
@magento-engcom-team give me 2.2.6 instance

[2018-10-08 11:14] magento-engcom-team commented on #18183
Hi @kaalar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-08 11:14] magento-engcom-team commented on #18452
Hi @j-plou. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-08 11:14] magento-engcom-team commented on #18452
Hi @j-plou. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-08 11:14] magento-engcom-team commented on #18183
Hi @kaalar, here is your [Magento instance](https://i-18183-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18183-2-2-6.engcom.dev.magento.com/admin](https://i-18183-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-08 11:32] zestbeauty commented on #16101
We have the exact same issue. Have you managed to resolve this?
Thanks

[2018-10-08 11:40] asgarh opened #18458 "Magento version 2.2.6 Alert widget gets close when click anywhere on screen"
### Preconditions

1. Magento version 2.2.6
2.

### Steps to reproduce

1. Add product to cart
2.Click on the cart icon at right top of screen
3.Click on delete icon
4.Now click any where on screen the alert widget will close

### Expected result

1.The alert widget should not close until user click cancel button
2.

### Actual result

1. Alert widget gets close when click any where on screen
2.

[2018-10-08 11:40] magento-engcom-team commented on #18458
Hi @asgarh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-08 11:47] asgarh commented on #18458
@magento-engcom-team give me $VERSION instance

[2018-10-08 11:47] asgarh commented on #18458
@magento-engcom-team give me 2.2.6 instance

[2018-10-08 11:47] magento-engcom-team commented on #18458
Hi @asgarh. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-08 11:48] magento-engcom-team commented on #18458
Hi @asgarh, here is your [Magento instance](https://i-18458-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18458-2-2-6.engcom.dev.magento.com/admin](https://i-18458-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-08 11:50] indefinitedevil commented on #18245
I am working on this #squashtoberfest

[2018-10-08 11:50] magento-engcom-team commented on #18245
@indefinitedevil thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-08 11:54] magento-engcom-team commented on #18245
Hi @indefinitedevil. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-10-08 11:57] asgarh commented on #18458
Yes I confirm that I was able to reproduce the issue on vanilla Magento instance

[2018-10-08 12:10] magento-engcom-team commented on #18082
Hi @thiagolima-bm. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-08 12:28] magento-engcom-team commented on #9186
Hi @ishakhsuvarov. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-08 12:29] magento-engcom-team commented on #9186
@ishakhsuvarov Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95586`, `MAGETWO-95587` were created

[2018-10-08 12:31] navarr commented on #18402
@manishmittalm Thank you for your report.  We have added this to the Vertex internal backlog.

[2018-10-08 12:31] magento-engcom-team commented on #18402
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-08 12:35] asgarh commented on #18458
Yes, I am able to reproduce the issue on vanilla Magento instance

[2018-10-08 12:39] royandre commented on #14951
We made a patch for this, attached.

[ga_order_tracking_fix.patch.txt](https://github.com/magento/magento2/files/2455894/ga_order_tracking_fix.patch.txt)

[2018-10-08 12:59] indefinitedevil commented on #18245
Not yet been able to track it back any further, but can verify a few things here:

1. This issue only happens when adding the product to the admin order initially
2. This issue does not happen when quantity is amended later (i.e. if you add 50, then add 1 more you do not get this error)
3. Also applicable with new customers
4. The getQty function is definitely called twice during this execution.
5

[2018-10-08 13:45] arnau-hortelano commented on #17460
#SQUASHTOBERFEST

[2018-10-08 13:46] magento-engcom-team commented on #17460
@arnau-hortelano thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-08 13:55] arnau-hortelano commented on #17460
The problem seems to be related with the form validation code inside the Magento/Catalog/view/frontend/templates/product/view/options/type/date.phtml file
I just tried to remove this part:

`<script type="text/x-magento-init">
            {
                "#product_addtocart_form": {
                    "validation": {
                        "ignore": ":hidden:not(input[name^='validate_datetime_

[2018-10-08 15:59] mariamghalleb opened #18467 "Magento 2 down: replica Tales not found when reindexing!"
### Preconditions
1.Magento 2.2.4,
2.PHP 7.0.30

### Steps to reproduce
1. php bin/magento indexer:reset
2. php bin/magento indexer:reindex & cache:flush

### Expected result
1. Indexes built succefully

### Actual result
1.

2.
![capture2](https://user-images.githubusercontent.com/28814080/46619957-15d3c600-cb2c-11e8-889d-8b2436baf119.PNG)

Exception Logs only shows this:

System logs shows this:

[2018-10-08 16:00] magento-engcom-team commented on #18467
Hi @mariamghalleb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-08 16:55] testmagento2 commented on #18104
Why his issue wasn't ix on 2.2.6
Please help

[2018-10-08 17:44] goranhorvathr opened #18469 "Bluefoot wrong magic method"
### Preconditions
Magento 2.2.5

### Steps to reproduce
1. Magento 2.2.5 EE create an advanced slider and try to add Advanced settings to the slick slider
2. vendor/gene/bluefoot/view/frontend/templates/pagebuilder/blocks/core/media/advanced-slider.phtml has the wrong magic method for getting the advanced slider settings that are editable in admin https://www.dropbox.com/s/gj91rn0djnebji6/2018-10-

[2018-10-08 17:44] magento-engcom-team commented on #18469
Hi @goranhorvathr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-08 17:46] goranhorvathr commented on #18469
This has been reproduced on vanilla 2.2.5 EE.

[2018-10-08 17:51] Flipmediaco commented on #12866
Magento 2.2.6

Attempting to disable Advanced Reporting...

Save Config "Advanced Reporting Service" to "Disable" Returns "You saved the configuration." but select option "Advanced Reporting Service" remains "Enable"

Reviewing configuration in mysql "core_config_data" the item path "analytics/subscription/enabled" shows value "0" after configuration saved with  "Advanced Reporting Service" set to

[2018-10-08 18:04] magento-engcom-team commented on #18162
Hi @JeroenVanLeusden. Thank you for your report.
The issue has been fixed in magento/magento2#18414 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [33ba243a068b9e695fdb2520ab463aa3d5911f1a](https://github.com/magento/magento2/commit/33ba243a068b9e695fdb2520ab463aa3d5911f1a)
 - [2668f2df768d749f2069195715188afbf6d99348](https://github.com/magento/magento2/commit/2668f2df768d749f206919571

[2018-10-08 18:04] #18162 closed, assigned to dmytro-ch

[2018-10-08 18:04] magento-engcom-team commented on #17152
Hi @lingwooc. Thank you for your report.
The issue has been fixed in magento/magento2#18376 by @sambolek in 2.2-develop branch
Related commit(s):
 - [058c254f0d39a6ab1cad94de42863117404cdfb5](https://github.com/magento/magento2/commit/058c254f0d39a6ab1cad94de42863117404cdfb5)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-08 18:04] #17152 closed, assigned to sambolek

[2018-10-08 18:25] gwharton opened #18470 "Store emails have correct from address but do not have a from name"
### Preconditions
1. Magento 2.3
2. Apply PR #18471 so the from address works properly.

### Steps to reproduce
1. Set a valid from name and from email address for sales contact
2. Add test product
3. Purchase test product

### Expected result
1. Email should be sent from the correct email address and from name

### Actual result
1. Email has the correct from address, but does not have a from name

[2018-10-08 18:25] magento-engcom-team commented on #18470
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-08 18:27] gwharton commented on #18470
@magento-engcom-team give me 2.3-develop instance

[2018-10-08 18:27] magento-engcom-team commented on #18470
Hi @gwharton. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-08 18:28] magento-engcom-team commented on #18470
Hi @gwharton, here is your [Magento instance](https://i-18470-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18470-2-3-develop.engcom.dev.magento.com/admin](https://i-18470-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-08 21:00] perryholden opened #18475 ""Clear Shopping Cart" in Magento Blank theme no longer working after 2.2.6"
The "Clear Shopping Cart" button no longer works in the Magento blank theme after the 2.2.6 upgrade.

### Preconditions

1. Magento Open Source and Commerce 2.2.6
2. PHP 7.1.22
3. MySQL Ver 14.14 Distrib 5.6.41-84.1
4. Using the Magento Blank theme (_not_ Luma)
5. Sample data is installed

### Steps to reproduce

1. Ensure that your site is using the Magento blank theme:
	1. In admin, go to CONTEN