[2022-05-30 12:22] rahulbarot commented on #31489
@magento give me 2.4.3-p2 instance

[2022-05-30 12:24] Pranav-242 commented on #35453
@magento i'm working on it

[2022-05-30 12:36] engcom-November commented on #35543
Hi @Skyfly2021 ,
Thank you for reporting and collaboration. Verified the issue by upgrading 2.4.3-p1 to 2.4.4 version using ref [document](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html) but could not able to reproduce the issue.
Upgrade is successful.
Please check the permissions and and also try running the commands with php bin/mage

[2022-05-30 12:45] gelado opened #35552 "Export CSV with duplicated lines (ExportAbandonedCsv function)"
### Preconditions and environment

- Magento 2.4.4
- A lot of orders and customers on the database

### Steps to reproduce

1. Navigate to admin panel in Magento.
2. Go to Reports -> Abandoned Carts.
3. On my case, I have +10.000 abandoned carts (This problem does not occour on other instances with less carts)
4. Create a filter to export less data (Column Created: From May 29 to May 30).
5. Click

[2022-05-30 14:02] engcom-Delta commented on #35494
Hi @johnybk08 ,
Kindly confirm what was the configurable product (Parent ) quantity you have entered while creating please?
Thanks

[2022-05-30 14:13] dariovranjkovic commented on #35527
Hi, thank you very much, there was a problem with payload

[2022-05-30 14:30] maheshm-kensium commented on #35494
Hi @engcom-Delta ,

For Configurable Product we always keep zero, so no quantity.

[2022-05-30 14:44] engcom-November commented on #35550
Verified the issue on Magento 2.4-develop branch with enterprise edition modules enabled and the issue is reproducible.
Issue: Even after unsubscribing price alert subscription, emails are getting triggered. Hence confirming the issue.

[2022-05-30 15:22] engcom-Delta commented on #35494
We have verified the issue on Magento 2.4.develop EE , issue is not reproducible .
Please find below steps and screenshots for reference.

Scenario 1:

1. Create new configurable product with child variants with Quantities and set stock status to Is In Stock

<img width="1440" alt="Screenshot 2022-05-30 at 8 13 52 PM" src="https://user-images.githubusercontent.com/51681379/171017973-7d8964e7-8a2a-

[2022-05-30 15:40] Axel29 opened #35554 "DIscount amount duplicated if applied to shipping amount"
### Preconditions and environment

- Magento 2.4.2-p2 (not tested on other versions)

### Steps to reproduce

1. Create a product with a €1 price
2. Create a shipping method with a fixed rate of €19.90
3. Create a cart rule with €19.90 fixed amount discount that applies to the shipping amount with a coupon code
4. Add the product to the cart
5. Apply the discount code

### Expected result

1. The

[2022-05-30 15:42] engcom-Delta commented on #35536
Hi @Nuranto ,
Thank you for raising an issue . Kindly confirm the pre-condition please, Do we have installed/configured Varnish before testing it or not ?

Regards,

[2022-05-30 15:45] engcom-November commented on #35520
Hi @kolaente,
Thank you for reporting and collaboration. However we are not able to reproduce this issue with provided steps. Can you please recheck and elaborate steps about in which way home directory is encrypted and other missing steps if any if the issue is still reproducible.
Thank you.

[2022-05-30 15:57] engcom-Delta commented on #35539
Hi @rathodsunny005 ,
Thank you for raising an issue but need more clarity on the table name that is belong to mgservations_temp_for_stock_2?
We could see below list of tables.

<img width="927" alt="Screenshot 2022-05-30 at 9 23 21 PM" src="https://user-images.githubusercontent.com/51681379/171027740-5bf9bbc9-64ad-4cea-850e-058cadcedce2.png">

<img width="510" alt="Screenshot 2022-05-30 at 9 26 41

[2022-05-30 16:18] rathodsunny005 commented on #35539
I think you have not used the prefix table. use prefix tables so every table name should have prefix like `catalog_product_entity` to `mgcatalog_product_entity` if you use `mg` as table prefix.

actually, it creates a table without prefix when you are using a prefix for your Magento website and fetches data with a prefix so table not found error appear.

[2022-05-30 16:38] Nuranto commented on #35536
You don't need varnish to be installed/configured.

[2022-05-30 19:05] magenx commented on #35100
please anyone looking for latest version support
simply install latest versions, php, elk , mariadb

for mariadb you can edit di.xml or use module
see example, you can write your own and deploy to your shop

https://github.com/Sental/db-override

[2022-05-30 19:50] #35312 closed, assigned to nisha-vaghela

[2022-05-30 19:50] #31253 closed, assigned to sasha19957099

[2022-05-30 19:50] #28957 closed, assigned to atwixfirster

[2022-05-31 01:07] Skyfly2021 commented on #35543
I have successfully upgraded after disabling the vertex module, thanks

[2022-05-31 01:07] #35543 closed, assigned to engcom-November

[2022-05-31 02:35] dannya06 opened #35555 "Category with Virtual Rules is not showing correct result"
### Preconditions and environment

- Magento Community Edition 2.3.4 with sample data
- PHP 7.3

### Steps to reproduce

1. Add two or three Subcategory (children) on parent category.
![image](https://user-images.githubusercontent.com/87116996/171077221-dd42f53b-883d-45f7-968f-1b9e2db7556d.png)

2. Make all of them have the virtual rule with different rule, but in parent category check attribute i

[2022-05-31 06:00] Pranav-242 commented on #35410
@magento i;m working on it.

[2022-05-31 06:13] Pranav-242 commented on #34202
@magento i'm working on it

[2022-05-31 06:19] Pranav-242 commented on #35500
@magento i'm working on it.

[2022-05-31 08:14] engcom-Alfa commented on #35312
Hello @engcom-November
As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2883` by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2883&type=commits

Based on Jira, target version is 2.4.5

[2022-05-31 08:18] engcom-Alfa commented on #33599
Hello @pawel-siejba
As I can see this issue got fixed in the scope of the internal Jira ticket AC-2797 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2797&type=commits

Based on Jira, target version is 2.4.5

[2022-05-31 08:18] #33599 closed, assigned to pawel-siejba

[2022-05-31 08:20] engcom-Hotel commented on #34570
Hello @Hexmage,

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-1883` by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-1883&type=commits

Based on Jira, the target version is 2.4.5.

Thanks

[2022-05-31 08:20] #34570 closed, assigned to Usik2203

[2022-05-31 08:20] engcom-Alfa commented on #31253
Hello @dpatil-magento
As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2515` by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2515&type=commits

Based on Jira, target version is 2.4.5

[2022-05-31 08:27] engcom-November commented on #34074
This issue got fixed in the scope of the internal Jira ticket `AC-1214` by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-1214&type=commits

Based on Jira, target version is 2.4.5

[2022-05-31 08:27] #34074 closed, assigned to nobody

[2022-05-31 08:43] engcom-November commented on #34929
Hi @barnard-b ,
This issue got fixed in the scope of the internal Jira ticket `AC-2371` by the internal team
Related commits: https://github.com/magento-commerce/magento2ce/pull/7671/commits/12cbbe5574e012a118f8e3ea455c72474e5496ff
Based on Jira, target version is 2.4.5

[2022-05-31 08:43] #34929 closed, assigned to engcom-Echo

[2022-05-31 09:14] engcom-Delta commented on #35475
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-05-31 09:14] #35475 closed, assigned to engcom-Delta

[2022-05-31 09:32] engcom-Hotel commented on #35382
Hello @itmsenior,

We have rechecked the issue and the issue is reproducible for us. Hence confirming the issue and adding additional information for Sandbox users in the main description.

Thanks

[2022-05-31 09:53] engcom-Dash commented on #35464
Hello @hoangss ,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible. Please refer the below screenshot for the reference;

![Screenshot from 2022-05-31 14-55-20](https://user-images.githubusercontent.com/60198592/171141000-48fd1a45-c997-4fb3-b78f-0d26dd7b5e87.png)

We have followed the below steps in order to reproduce the issue:

1.Run composer to do

[2022-05-31 09:57] hoangss commented on #35464
Thank @engcom-Dash
Yes mcrypt resolved the issue for me. But according the devdocs, mcrypt is not in required extension list.

So is it out of date document or something wrong with code?

[2022-05-31 09:58] engcom-Dash commented on #35526
Hello @dhirajdanodeborn

Thanks for the confirmation!

As the issue is related with permission and it is already resolved. Hence closing the issue.

Thanks

[2022-05-31 09:58] #35526 closed, assigned to engcom-Dash

[2022-05-31 11:05] MarksAfanasevics opened #35557 "Product edit form fails if title is empty"
### Preconditions and environment

- Magento version 2.4.4
- Custom label in product form that is empty

### Steps to reproduce

- Go to product edit form in admin

### Expected result

Product edit form works fine

### Actual result

Console error:
`[2022-05-31 01:29:58] [ERROR] Failed to load the "ui/form/fieldset" template requested by "product_form.product_form.gallery".`
Product edit form is

[2022-05-31 11:09] engcom-Dash commented on #35535
@magento give me 2.4-develop instance

[2022-05-31 11:15] engcom-Hotel commented on #35443
Hello @engcom-Delta,

As per the discussion, we need to get confirmation from PO about the expected behavior. So mark this issue as on hold.

Thanks

[2022-05-31 11:26] Aartivdc commented on #35554
Hello , I have installed 2.4.2 version in my local and reproduced issue as you mention here
I got same result as you face, But it is not error ,
let me explain
If you select " Apply to Shipping Amount"  then discount is applied to both subtotal and shipping amount both separately and sum of them
[ Apply to Shipping Amount](https://i.imgur.com/zD2dJh1.png)
I have set 30 to product price so and fix

[2022-05-31 11:30] Axel29 commented on #35554
Hello @Aartivdc ,

Thank you for your answer.
But isn't that a weird behaviour though?
I mean the admin wants to set a fixed discount of 19.90€ that includes the shipping amount but the discount is added twice.

Is there a way to have a promotion that would only apply 19.90€ but to both items and shipping fees together?

Thanks again.

[2022-05-31 11:39] Aartivdc commented on #35554
Hello,
There is way if you want to apply discount same as shipping amount than make it off
https://i.imgur.com/ryWcpKl.png

so discount is only apply to subtotal
https://i.imgur.com/Xi2LxDL.png

[2022-05-31 11:42] engcom-November commented on #35527
Thank you for the update @dariovranjkovic. We are closing this issue as its not a bug. Kindly reopen / create new issue if you are still facing issues.
Thank you.

[2022-05-31 11:42] #35527 closed, assigned to engcom-November

[2022-05-31 11:52] HenKun commented on #34851
In `OrderRepository` each order fetched by  the `get()` method is stored in a variable `registry`. This is to ensure consistency of order objects throughout the code base, e.g. when they are fetched in different places and manipulated in those places. Additionally it saves database requests, since the order is returned directly from memory. However, the `getList` method does not use the registry.

[2022-05-31 12:08] engcom-November commented on #35554
Hi @Axel29 ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop branch however this seems to be an expected behavior.
To answer your question: Is there a way to have a promotion that would only apply 19.90€ but to both items and shipping fees together?
Ans: Cart Price Rule - Actions - "Fixed amount discount for whole cart" option should apply discount on both p

[2022-05-31 12:42] freakpol opened #35558 "Cart Rules with conditions on attributes only present on some products causes an error on checkout page."
### Preconditions and environment

- Vanilla Magento version: 2.4.4 (with sample data)
- PHP: 8.1

### Steps to reproduce

1.- Create a cart rule with a condition on some product attribute. For example, I've created a rule that looks like this:

If [ALL] of these conditions are [TRUE] :
    If an item is [FOUND] in the cart with [ALL] of these conditions true:
        Style Bags  [contains] [Backp

[2022-05-31 12:45] engcom-November commented on #35499
Hi @vo1 ,
Thank you for reporting and collaboration. Verified the issue on magento 2.4-develop branch but cannot able to reproduce the issue with provided steps.
Step 3: We cannot save by clearing the value to be saved as NULL as the attribute is a required/mandatory field.
![image](https://user-images.githubusercontent.com/60198231/171176100-b1ffb7b7-1ce8-41a8-86e9-f783b8ca1cd5.png)
Kindly rechec

[2022-05-31 12:57] vo1 commented on #35499
Hi.
Make it non-mandatory please and you will see.
Our Magento instance uses datetime attributes to show whether product is shared between websites: a real sales website and a demo website where you can order sample products. Both of those using same attribute, it is normal situation when on sales website product is being sold out as backorder but on samples you can order 1 of each directly. Nulla

[2022-05-31 14:09] engcom-November commented on #35557
Hi @MarksAfanasevics ,
Thank you for reporting and collaboration. However, Product Label is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension ow

[2022-05-31 14:09] #35557 closed, assigned to engcom-November

[2022-05-31 14:38] engcom-November commented on #35558
@magento give me 2.4-develop instance

[2022-05-31 14:46] freakpol commented on #35558
Please, keep in mind that this is reproducible using PHP 8.1.

[2022-05-31 17:25] mozok commented on #32464
@magento I am working on this

[2022-05-31 20:36] #35325 closed, assigned to fredden

[2022-05-31 21:23] in-session opened #35560 "PayPal Pay-later amount is not shown"
### Preconditions and environment

- Magento version 2.4.4.
- PHP 7.4

### Steps to reproduce

![image](https://user-images.githubusercontent.com/16542619/171339009-88d185f6-e6b7-4dbb-b575-29b5aeccb2cf.png)

### Expected result

![Ashampoo_Snap_Dienstag, 31  Mai 2022_23h21m57s](https://user-images.githubusercontent.com/16542619/171286660-3ce725ee-d420-455d-af8f-49274582a279.png)

### Actual result

[2022-05-31 23:10] pmonosolo commented on #13530
Still reproducible in 2.4.3:

Admin Site -> Account Setting (right top corner with Admin user name) -> Set New Password -> Save Account.

The email that is being sent is: User Notification

It must have: {{template config_path="design/email/header_template"}} in the top of the file.

You can create a custom template and then assign it to: Stores->Configuration->Advanced->Admin->User Notification T

[2022-06-01 05:40] pranayhbwsl opened #35561 "Display zero tax configuration does not work in case of multiple shipping methods on Cart page"
### Preconditions and environment

- Magento version 2.4.2

### Steps to reproduce

1. Enable multiple delivery methods by navigating to Stores -> Configuration -> Sales -> Delivery Methods.
2. Set 'Display Zero Tax Subtotal' to 'No' by navigating to Stores -> Configuration -> Sales -> Tax -> Shopping Cart Display Settings.
3. Visit storefront without signing in, add a product to cart and check sh

[2022-06-01 05:52] freakpol commented on #35558
It must be some PHP configuration then, cause for me, any call to the strlen, strpos, etc etc that are NOT receiving a string are throwing exceptins like this one: Exception: Deprecated Functionality: strlen(): Passing null to parameter #35441
So, I'm able to reproduce this 100% of the times. Even worse, I cannot even add a product to the cart when this issue is present.

Is there any info I can g

[2022-06-01 05:55] engcom-Delta commented on #35463
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-01 05:55] #35463 closed, assigned to engcom-Delta

[2022-06-01 05:56] engcom-Delta commented on #35460
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-01 05:56] #35460 closed, assigned to engcom-Delta

[2022-06-01 05:56] freakpol commented on #35558
Note also that this happens on Magento 2.4.4.
Magento 2.4-develop branch seems to be fixed already.

**M2.4.4**
https://github.com/magento/magento2/blob/2.4.4/app/code/Magento/Rule/Model/Condition/Product/AbstractProduct.php#L556

**M2.4-develop**
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Rule/Model/Condition/Product/AbstractProduct.php#L557

So yeah, in develop branch

[2022-06-01 06:40] engcom-Delta commented on #35536
Hi @Nuranto ,
Thank you for quick turnaround , we tried to reproduce the issue on Magento 2.4 develop , issue is reproducible.
As per below dev doc Magento 2.4.4 supports Varnish 6 & 7 , but still we could see Varnish 4 & 5 . Hence issue has been confirmed.

**in Dev Doc**

<img width="1440" alt="Screenshot 2022-06-01 at 11 51 14 AM" src="https://user-images.githubusercontent.com/51681379/17134107

[2022-06-01 06:56] dipakapatel1989 commented on #35419
I use linux and still have the same issue

[2022-06-01 07:27] engcom-Hotel commented on #35211
Dear @qsolutions-pl,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-01 07:27] #35211 closed, assigned to nobody

[2022-06-01 07:38] engcom-Dash commented on #35381
Hello @Vestart

Thanks for the confirmation!

As of Now I didn't Get any Reply. Hence closing the issue.

Thanks

[2022-06-01 07:47] engcom-Dash commented on #35381
Dear @Vestart ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-01 07:47] engcom-Dash commented on #35381
Dear @Vestart ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-01 07:47] #35381 closed, assigned to engcom-Dash

[2022-06-01 08:24] rathodsunny005 opened #35562 "Uncaught SyntaxError: Unexpected token 'const'"
### Preconditions and environment

- Magento version 2.4.4
- Production mode
- without sample data
- with the below configurations

[code]

### Steps to reproduce

Just open the backend (admin) panel you will see this error, in-fact mostly the admin side pages gets this error.

### Expected result

open admin side pages without any js error.

### Actual result

Got the JS error pls find attached a

[2022-06-01 09:04] alitopaloglu commented on #31270
I can reproduce this issue on v2.4.3-p2 but not sure if it's fixed on v2.4.4 or not.

[2022-06-01 09:34] engcom-Dash commented on #35313
Hi @evolbug
We have tried to reproduce the issue in Magento 2.4.3-p2. the issue is not reproducible.
![Screenshot from 2022-05-31 16-44-03](https://user-images.githubusercontent.com/60198592/171349861-46542d86-49c2-4087-bdff-efb7d1ae4350.png)
![Screenshot from 2022-06-01 15-02-34](https://user-images.githubusercontent.com/60198592/171374065-44b3ff83-f2a7-4743-8e5c-e13c7d91c8bd.png)

1.Verified the

[2022-06-01 09:41] evs-xsarus commented on #33748
@mrtuvn that seems to be fixable by setting the frontend max session size because of this check: https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Session/SaveHandler.php#L133

[code]

Replace 1048576 with a size you that suits you.

[2022-06-01 09:46] routbiplab opened #35563 "Magento 2 GraphQl Products Query should return Child Variant Image Url when custom filter is used"
### Summary (*)

I am using Magento 2 GraphQl for products query with some filter attributes like "color". It is returning correct products but the image URL is of the parent product where it should return the correct child variant image url.
### Examples (*)

{
  products(filter: {
  color:{
    eq:"14"
  }
    category_id:{
      eq:"14"
    }
  }
  sort: {
    position: ASC
  }) {
    total_cou

[2022-06-01 10:11] engcom-Hotel commented on #35237
Hello @deepeshjain2011,

Thanks for the reporting & collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. We have followed the below steps in order to reproduce the issue:
1. Get the da_DK translation file from [this repo](https://github.com/magento-l10n/language-da_DK).
2. Change the `Locale` with `Danish (Denmark)`:
<img widt

[2022-06-01 10:35] Giakie commented on #33937
Hi,
Any update on this? I have the very same issue, the problem is that this occurs inside the Webkul Akeneo Magento Connector extension, therefore I can't update their core code.
thanks

[2022-06-01 11:10] maheshm-kensium commented on #35494
Hi @engcom-Delta ,

I verified again with 2.4-develop branch the configurable stock status is working as expected. But when we installed the 2.4.4 CE or EE with composer, the below issue is still exist.
https://github.com/magento/magento2/issues/35494#issuecomment-1138697607

So, after reviewing further I understood that issue is coming due to MSI Inventory Modules, when we disabled MSI modules th

[2022-06-01 11:55] deepeshjain2011 commented on #35237
Hello @engcom-Hotel Have you added translation in theme language file as i had mentioned in 'Steps to reproduce (*) -> step 2' Can you please confirm ?

As you have added da_DK translation file from https://github.com/magento-l10n/language-da_DK
This is a language pack, not a theme translation language file which generally located at 'app/design/frontend/Enterprise/theme/i18n/da_DK.csv'

Please cr

[2022-06-01 12:06] engcom-November commented on #35558
Hi @freakpol ,
Verified the issue again on Magento 2.4.4 community edition with sample data installed and PHP 8.1 version but still could not able to reproduce the issue.
User is able to place the order with/without coupon code
![image](https://user-images.githubusercontent.com/60198231/171400303-f3bd2076-cf15-43f0-b6c1-f00a7b2c0c5b.png)
![image](https://user-images.githubusercontent.com/60198231/

[2022-06-01 12:13] engcom-Hotel commented on #34920
Hello @itziksn,

Thanks for the report & collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. We have followed the below steps in order to reproduce the issue:

1. Create an observer on `catalog_product_save_after`. Please refer to the attached module:
[HasDataChangeMod.zip](https://github.com/magento/magento2/files/8813866/Ha

[2022-06-01 12:44] engcom-Dash commented on #35464
Hi @hoangss
We were Worked With mcrypt extension as well as Without Mcrypt Extension.But We are not able to Reproduce the Issue.We got Expected Result in 2.4.3-p2.

[2022-06-01 12:45] engcom-November commented on #35561
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
tax:0 is displayed in shopping cart page if shipping method is not selected. After shipping method is selected in checkout page and navigated back to shopping cart page, tax:0 is not displayed.
![image](https://user-images.githubusercontent.com/60198231/171407474-25e94b59-b966-4297-8722-393668bfa32b.png)
![image](https

[2022-06-01 12:58] engcom-Hotel commented on #34294
Hello @engcom-November,

I can see the JIRA related to #35162 has been done. You can continue with this ticket.

Thanks

[2022-06-01 13:03] hostep commented on #26960
@marvinhinz: did you ever figure this out, or have a workaround for this?

[2022-06-01 13:24] itziksn commented on #34920
Hi @engcom-Hotel,

So I didn't know there's another `catalog_product_save_after` event I can listen to in `etc/adminhtml/event.xml`.
That's not the one I used to reproduce this bug. I use the one in `etc/events`.

But anyway, the steps you took aren't actually doing it:

You are calling `hasDataChanges` on `$this`, which is the `ProductSaveAfter` observer (I'm not sure why you `extends` from `Abst

[2022-06-01 13:50] ciderpunx opened #35566 "Magento 2.3.7-p2 - bundle product with >1 qty in last place in list of products causes multiples of bundle to be added to cart"
### Preconditions and environment

- Magento version

2.3.7-p2

- Anything else that would help a developer reproduce the bug

Using the ultimo theme

### Steps to reproduce

Create a new bundle product, all options default.

Add options to product.

For the last option set:
   Input type: Any
   Product: Any 1 product
   Price:0
   Price type: fixed
   Default qty: >1 (e.g. 2)
   Required: checke

[2022-06-01 14:20] ihor-sviziev commented on #24581
Hi @engcom-Charlie,
As it was stated in https://github.com/magento/magento2/issues/24581#issuecomment-699887123 and https://github.com/magento/magento2/issues/24581#issuecomment-724854619 - the changes were reverted.
Could you please review the issue comments next time and verify if the issue is reproducing before closing it?

[2022-06-01 14:34] m2-assistant[bot] opened #35568 "[Issue] MariaDB Casting is too slow"
This issue is automatically created based on existing pull request: magento/magento2#35564: MariaDB Casting is too slow

---------
When the MariaDB is try to cast the entitys_ids from string to integer is to slow,

Check: https://github.com/magento/magento2/pull/27129

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manu

[2022-06-01 14:37] ihor-sviziev commented on #35419
@dipakapatel1989,
please check if you have libsodium installed, could be verified with composer install (it checks all dependencies) on the environment you're running magento.

[2022-06-01 15:47] marcelovillalta0 commented on #35419
Fix part of the problem, I did this:

In \xampp\apache\conf\extra\httpd-xampp.conf

Find:
LoadFile "/xampp/php/php7ts.dll"
LoadFile "/xampp/php/libpq.dll"
LoadModule php7_module "/xampp/php/php7apache2_4.dll"

Add:
LoadFile "/xampp/php/libsodium.dll"

reference:  https://community.apachefriends.org/f/viewtopic.php?p=269110&sid=d616bdea4fbcbc0c6e71d7da4f0a064e

But now my main page does not load th

[2022-06-01 16:16] ihor-sviziev commented on #35419
@marcelovillalta0, sorry can't help you with xampp, I can just can say that the issue coming from missing / outdated lib sodium. If you'll fix it - the issue will be solved for you

[2022-06-01 16:42] kanevbg commented on #34415
@ihor-sviziev I have patched it back then by doing minimalist patch looking at the commit following similar principle (only changed things which matter to the code/logic), and I have applied it with hotfix type of patching in the project. Here is the patch file I use for 2.3.7-p2, in case someone finds it useful:
[HD-MDVA-42269-1.zip](https://github.com/magento/magento2/files/8816103/HD-MDVA-42269

[2022-06-01 17:59] #35292 closed, assigned to nobody

[2022-06-01 21:03] veloraven commented on #34649
@magento I am working on this

[2022-06-01 21:04] veloraven commented on #34649
Adobe Team is working on this issue now

[2022-06-01 21:47] m2-assistant[bot] opened #35569 "[Issue] fix: sending customer emails with php 8.1"
This issue is automatically created based on existing pull request: magento/magento2#35538: fix: sending customer emails with php 8.1

---------

### Description (*)

Sending emails (tested with the order email) in an environment with php 8.1 failed with this exception:

[code]

### Manual testing scenarios (*)

1. Setup Magento with php 8.1
2. Place an order as guest
3. Email should be sent prope

[2022-06-02 05:20] adyasa commented on #35555
Hello I believe this is Elastic Issue from another vendor.
cc @dannya06

[2022-06-02 05:47] engcom-Charlie commented on #24581
Hi @ihor-sviziev,

Sure, I will look into PR and issue comments again and will check it accordingly.

Thank you!

[2022-06-02 06:05] engcom-November commented on #35562
Hi @rathodsunny005 ,
This issue is a duplicate of https://github.com/magento/magento2/issues/35325 and fixed in commit: https://github.com/magento/magento2/search?q=AC-2880&type=commits. We are closing this issue. Please check for updates / solutions from above.
Thank you.

[2022-06-02 06:05] #35562 closed, assigned to engcom-November

[2022-06-02 06:14] dipakapatel1989 commented on #35419
Now that issue has been solved. Actually, I installed xampp server and
there was another apache installed so that made it difficult to run the
magento 2.4.4. So there is no issue with lib sodium.

Thanks

On Thu, Jun 2, 2022 at 2:16 AM Ihor Sviziev ***@***.***>
wrote:

[2022-06-02 06:18] sangeetavernost commented on #35008
Any update for this, how we can solve this.
We are also facing same issue with M2.4.3 EE

[2022-06-02 07:46] engcom-Hotel commented on #35237
Hello @deepeshjain2011,

Thanks for the reply!

We have again tried to reproduce the issue with theme translation, but for us, the issue is not reproducible. We have followed the below steps:
1. Followed [this article](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/translations/translate_practice.html) for theme translation.
2. Add `"Discount (%1)","New Discount Text (%1)"` text in `da

[2022-06-02 08:09] engcom-Dash commented on #35479
@magento give me 2.4-develop instance

[2022-06-02 08:21] Nuranto opened #35570 "Redis 6.2.7 compatibility"
### Preconditions and environment

- Magento 2.4.4
- Redis 6.2.7 (image bitnami/redis:6.2.7-debian-10-r23)

### Steps to reproduce

Run bin/magento c:f

### Expected result

Cache flushed

### Actual result

[code]

### Additional information

Works fine if we rollback to redis 6.0

Redis 6.2 should be compatible : https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

### R

[2022-06-02 09:10] engcom-Alfa commented on #35292
Hello @rav-redchamps
As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2855` by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2855&type=commits

Based on Jira, target version is 2.4.5

[2022-06-02 09:12] Manju-crz commented on #34766
@magento give me 2.4-develop instance with edition ee

[2022-06-02 09:13] engcom-Delta commented on #35279
We have noticed that No response from Product Owner and this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-02 09:19] bartoszherba opened #35571 "Free shipping discount is not exposed with GraphQL"
### Preconditions and environment

- 2.4.2

### Steps to reproduce

1. Make sure that you have a Free Shipping discount set
2. Add products to the cart with the total amount exceeding the discount threshold
3. Make a GraphQL query (example at the very bottom of reproduction steps), make sure to add `prices.discounts` field.
4. Observe that for the `cart` or `customerCart` query, the `prices.discou

[2022-06-02 09:30] engcom-Lima commented on #34766
@magento give me 2.4-develop instance with edition ee

[2022-06-02 09:36] n2diving-dgx commented on #25906
Yes, issue needs to be re-opened

My M2.4.4 (php7.4) system is logging the error as well, although I can't figure out the condition required to trigger the error:

main.CRITICAL: TypeError: Argument 1 passed to PayPal\Braintree\Model\Paypal\OrderCancellationService::execute() must be of the type string, null given, called in /vendor/paypal/module-braintree-core/Plugin/OrderCancellation.php on line

[2022-06-02 10:53] torhoehn commented on #35569
@magento give me 2.4-develop instance

[2022-06-02 10:57] torhoehn commented on #35569
@kolaente Because the instance couldn't be deployed at the moment I tried to reproduce it here: https://mag2opensource.basecom.de/
This is a vanilla Magento 2.4.4 instance running on PHP 8.1 and the mail was send properly.

Will try to reproduce it here later. Meanwhile I'll try to find out which PHP version the spot instances here are using.

[2022-06-02 11:39] engcom-Dash commented on #35535
Hello @khoimm92 ,
 We have tried to reproduce the issue in Magento 2.4.4he issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-06-02 17-05-36](https://user-images.githubusercontent.com/60198592/171620951-c587a4a7-4e61-4847-aeee-d0ef37e8ee17.png)
We have followed the below steps in order to reproduce the issue:
1.Add Products to Cart that all prod

[2022-06-02 11:43] engcom-November commented on #35560
@magento give me 2.4-develop instance

[2022-06-02 11:48] engcom-Dash commented on #35519
Hello @Nuranto ,
 We have tried to reproduce the issue in Magento 2.4.4 instancethe issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-06-02 17-13-27](https://user-images.githubusercontent.com/60198592/171622290-6c890120-d520-4e64-8f07-57e54b39b137.png)
![Screenshot from 2022-06-02 17-13-32](https://user-images.githubusercontent.com/60198592/171

[2022-06-02 12:08] engcom-November commented on #35560
Hi @in-session ,
Thank you for the update. Verified the issue again on Magento 2.4-develop branch but cannot able to reproduce the issue.
Pay later amount is displayed as expected in all the pages of front-end
FYI.. In order to display Paylater amount, paypal billing agreement settings should be disabled from admin payment configuration. Please check. (Configuration - Sales - Payment methods - Con

[2022-06-02 12:24] in-session commented on #35560
@magento give me 2.4-develop instance

[2022-06-02 12:34] mcspronko commented on #18025
Any chance to fix the issue that was reported back in 2018?

[2022-06-02 12:36] #35539 closed, assigned to engcom-Delta

[2022-06-02 12:57] engcom-November commented on #35566
Hi @ciderpunx ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue with below steps performed:
1. Created Bundle product with below configuration:
2. Front-end - Added one of the bundle item to cart
No issue: Only one item is added to cart
![image](https://user-images.githubusercontent.com/60198231/171634118-5537fe1

[2022-06-02 13:22] engcom-Hotel commented on #35462
Hello @norgeindian,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us. But I would like to suggest you a workaround to translate the `title` text here.

I request you to please go through with [this link](https://community.magento.com/t5/Magento-2-x-PWA-Theming-Layout/How-to-translate-lt-title-gt-conte

[2022-06-02 14:32] torhoehn commented on #35569
@kolaente The spot instances are running PHP 7.4, so the issue will be created as internal ticket.

@sdzhepa Could you please take this with you?

[2022-06-02 14:37] sdzhepa commented on #35569
@engcom-November and @engcom-Hotel

Could you please prioritize verification of this issue?
The issue requires env with
- configured email sending
- php 8.1

Note: Current [Instance Deployer](https://github.com/magento/magento2/issues/35569#issuecomment-1144723709) does not work with PHP 8.1 and does not support email sending. So you should use some other environment

cc: @torhoehn, @kolaente

[2022-06-02 14:44] engcom-Hotel commented on #35569
Sure @sdzhepa

[2022-06-02 14:59] sdzhepa commented on #35569
@kolaente @torhoehn

According to [GitHub Issue Processing Workflow](https://developer.adobe.com/commerce/contributor/guides/code-contributions/processing-workflow/) before merging, the issue should be Confirmed(verified that in reproducible on the latest 2.4-develop and caused by "bug" in CORE code)

[2022-06-02 15:04] engcom-Delta commented on #35443
Hi @gyduxa ,

As per @tkacheva it is expected behavior , Kindly confirm if you have any concerns.

Thanks

[2022-06-02 15:09] engcom-Delta commented on #35494
Hi @maheshm-kensium ,

Thank you for confirming the issue once again , We will verify on 2.4.4 CE or EE with composer and update you .

Regards,

[2022-06-02 15:10] gyduxa commented on #35443
Hello @engcom-Delta ,

Thank you for the attention on this issue and for all of your replies.

The only concern I have, is that it seems to have no purpose, to have the possibility to add 2nd level tabs but can't add content to them.

Maybe it could be added as a new feature to integrate some day.

Thank you again

[2022-06-02 15:17] kalinicham commented on #35263
@magento I am working on this

[2022-06-02 15:18] kalinicham commented on #35263
https://github.com/magento I am working on this

[2022-06-02 15:18] kalinicham commented on #35263
@magento I am working on this

[2022-06-02 15:44] engcom-November commented on #34294
Related JIRA of https://github.com/magento/magento2/issues/35162 was closed as not a bug due to incorrect tax configuration from admin which is applicable to this issue as well. We cannot reproduce this issue without this particular tax configuration for valid tax [combinations](https://docs.magento.com/user-guide/tax/warning-messages.html) this issue is not reproducible.

[2022-06-02 15:51] advocat commented on #32471
Looks like the root cause of issue is MC-36755 (https://github.com/magento/magento2/commit/503c42874911024d704bbd68a24a215ac63ee369)

As workaround you can create `view/adminhtml/ui_component/sales_order_grid.xml` in your module with following content:

[code]

As possible solution of the original issue - from architectural POV i can suggest to extend grid items data with Last ID, send them with `

[2022-06-02 20:43] cpartica commented on #31270
I see. It's important to reproduce all in the latest version, because we can't fix an older version because it's already released.
I see you opened https://github.com/magento/magento2/issues/35545 which give a nice explanation for what's going on

[2022-06-03 06:10] engcom-Delta commented on #35279
Hi @ludo-mon-key ,
Many thanks for supporting us , since there was no reply for 14 days we closed it . Kindly share the valid VAT number for EU countries . So that we can retest it and confirm.

Regards,

[2022-06-03 06:13] engcom-Delta commented on #35487
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-03 06:13] #35487 closed, assigned to engcom-Delta

[2022-06-03 06:15] engcom-Delta commented on #35193
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-03 06:15] #35193 closed, assigned to engcom-Delta

[2022-06-03 06:27] tavantlaxmish opened #35574 "Credit card type not detecting after entering 4 digits for master card and discover card"
**Preconditions (*)**
Magento 2.4.1
Default magento setup

**Steps to reproduce (*)**
Add product to cart
Go to checkout page
Under payment section,  start type card numbers
After entering 4 digits of card number, it is not hilighting the card type for master/discover card

**Expected result**
After entering the 4 digits of card it should hilight the card type for master/discover cards

**Actual r

[2022-06-03 06:42] engcom-Hotel commented on #35482
Dear @jlenzstaysafe,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-03 06:42] #35482 closed, assigned to engcom-Hotel

[2022-06-03 06:47] TurboAddict commented on #22841
The issue is still present on a clean instance on 2.4.4

[2022-06-03 07:43] NORDCOMPCZ commented on #28133
The very same issue on 2.4.1

[2022-06-03 08:07] kl3m3n commented on #22412
Hi, I've encountered the same problem on M 2.4.4 and was able to fix it or at least come around it. Just make sure your indexes are set to schedule and not to realtime (save).

[2022-06-03 08:13] NORDCOMPCZ commented on #28133
There are to RP tokens being saved into DB

[2022-06-03 08:30] hoangss commented on #35464
hi @engcom-Dash,
Thank you for the info.
You are not able to reproduce this issue even you don't have mcrypt installed in your system, is my understanding correct?

[2022-06-03 08:33] engcom-November commented on #35407
Hi @thegamerpablo ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-06-03 08:33] #35407 closed, assigned to engcom-November

[2022-06-03 08:54] isxam commented on #35566
@magento give me 2.4-develop instance

[2022-06-03 09:07] devphoenix2404 opened #35575 "Get error while create new customer"
### Preconditions and environment

- Magento version : 2.4.3-p2
- Anything else that would help a developer reproduce the bug
can you help here

### Steps to reproduce

Create a new account

### Expected result

[code]

### Actual result

It should create a new user without any error

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [X] Severit

[2022-06-03 09:41] engcom-November commented on #35569
Verified the issue on both Magento 2.4-develop and 2.4.4 project-community-edition with PHP 8.1.6 and emails configured (using magepal extension) but could not able to reproduce the issue.
New Order email is triggered for both guest and logged in customers for the orders placed from front-end and admin.
**Scenarios tested:**
1. Guest order created from front-end with default email template - **No

[2022-06-03 10:29] engcom-Dash commented on #35575
Hello @devphoenix2404 ,
We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-06-03 15-32-26](https://user-images.githubusercontent.com/60198592/171837105-4742abb3-e2c2-4671-b122-338904c2b969.png)
![Screenshot from 2022-06-03 15-32-33](https://user-images.githubusercontent.com/6

[2022-06-03 10:57] engcom-Delta commented on #35443
Hi @gyduxa ,

Thank you for your support. Yes  we are not able to add content to 2nd level tabs. Whereas For 1st Tab we are able to add content like text, Header  and buttons. Hence i have added 'feature request' Label.
<img width="1440" alt="Screenshot 2022-06-03 at 4 23 35 PM" src="https://user-images.githubusercontent.com/51681379/171841069-4158b3ad-79ab-4845-9591-8b957dd45062.png">

[2022-06-03 11:42] hostep commented on #35464
@hoangss: out of curiosity, did you had the sodium php extension installed when you ran against the problem? (you can find it via `php -m` on the cli) Not saying it will solve your problem, but it might, so this is just a guess ...

[2022-06-03 11:45] hoangss commented on #35464
@hostep Thank you for replying
Yes. I have sodium(also openssl) installed when I run magento install command

[2022-06-03 12:46] engcom-November commented on #35570
Hi @Nuranto ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with redis-6.2.7 installed and configured but could not able to reproduce the issue.
bin/magento c:f - cleans cache without any errors.
![image](https://user-images.githubusercontent.com/60198231/171856464-c68e8d3a-c3a0-46fa-abe9-8cf536888559.png)
![image](https://user-images.githubusercontent

[2022-06-03 13:16] engcom-Delta commented on #35494
Hi @maheshm-kensium ,

Here are the test results:
1. If parent is in stock and all child product is in stock, then if we change all child stock status to OOS then parent should be OOS as well.

<img width="1440" alt="Screenshot 2022-06-03 at 5 27 18 PM" src="https://user-images.githubusercontent.com/51681379/171854866-f86a29f8-0747-4c60-b738-899094d278a3.png">
<img width="789" alt="Screenshot 2022

[2022-06-03 13:29] danielraab opened #35577 "Special characters in category url_key (when created via REST API)"
In case of adding a new category via the REST API, it is possible to set a "url_key" and "url_path" with special characters (like (),/ etc.).
This leads to wrong and unexpected behavior in multiple other modules.
This happens only via the REST API and only when creating a new category.

### Preconditions (*)

1. Magento 2.4.3-p2
2. PHP 7.4.3 and 7.4.29
3. MySQL 8.0.29 and MariaDB (unknown version)

[2022-06-03 13:31] danielraab commented on #35577
@magento give me 2.4-develop instance

[2022-06-03 13:33] sidolov commented on #35204
Delivered in scope of https://github.com/magento/magento2/pull/35376

[2022-06-03 13:33] #35204 closed, assigned to nobody

[2022-06-03 14:54] engcom-Hotel commented on #35574
Hello @tavantlaxmish,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, the issue is not reproducible. After entering four numbers of CC, it automatically detects the type and highlights the same. Please refer the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/171878985-c713c451-a6

[2022-06-03 14:59] engcom-Hotel commented on #35546
Hello @madonzy,

Thanks for the reporting and collaboration!

We request you to more elaborate on the issue so that we can reproduce it. Please provide us the below information:

- Environment information
- Steps to reproduce
- Expected and Actual result
- In case a specific use case, please provide those also
- Any screencast or screenshot

Thanks

[2022-06-03 15:00] ludo-mon-key commented on #35279
Hi @engcom-Delta,
for example, Adobe's European VAT number is: IE6364992H

Regards

[2022-06-03 15:52] cctorres commented on #35434
@engcom-Delta Please fix this problem.

/vendor/paypal/module-braintree-core/Ui/Component/Report/Listing/Column/PaymentType.php on line 49
PaymentInstrumentType::ANDROID_PAY_CARD => __(PaymentInstrumentType::ANDROID_PAY_CARD)

change it to
PaymentInstrumentType::GOOGLE_PAY_CARD => __(PaymentInstrumentType::GOOGLE_PAY_CARD)

That is the variable defined by
/vendor/braintree/braintree_php/lib/Braint

[2022-06-03 19:46] schizek commented on #35462
I am reproducing the same issue on 2.4.4 of Adobe Commerce.  We need to provide translation files to our translators with all phrases as opposed to manually poking around after things have been translated and finding all these missed phrases.  It would be highly beneficial to include these within the output of `i18n:collect-phrases`.

[2022-06-04 01:14] writyou commented on #35366
There is still this problem, the admin menu does not work, in production mode

[2022-06-05 09:37] hostep commented on #35262
The commit @engcom-Alfa mentioned doesn't seem to be correct, this one seems a lot more related: https://github.com/magento/inventory/commit/d236405c22d3005c642c70348cfd372dbcb98b76

[2022-06-05 10:19] hostep commented on #35306
Or just run `composer update composer/composer --with-all-dependencies`, that's probably better than adding a version constraint on `composer/composer` to `~2.2.0` in your `composer.json` file as this will cause problems when trying to upgrade to newer Magento versions in the future most likely.

[2022-06-05 10:32] hostep commented on #35397
@kandy, @ishakhsuvarov, @sidolov: anyone willing to want to work with @kanevbg to figure out what's going on exactly with this issue?

I can agree that when you call `isLocked`, you don't expect something to happen to the lock. So calling `tryToUnlock` inside it makes not that much sense, unless it's to unlock the lock that got created by the call of `tryToLock`, right?

So the `tryToUnlock` line

[2022-06-05 11:45] hostep commented on #35451
@phoenix-bjoern: could it be that this got fixed by [ACP2E-658: setup:config:set rewrites cache config in env.php](https://github.com/magento/magento2/commit/04355acb53d34dd0d57ab25399d858739a2787b2) ?

[2022-06-05 12:28] hostep commented on #35313
Can reproduce due to [the hints](https://github.com/magento/magento2/issues/35313#issuecomment-1102715046) of @kenseiatwork, thanks for that!

@engcom-Dash: please try the following:

1. Using composer v1 and PHP 7.2, setup a clean Magento 2.2.11 installation
2. In the backoffice, configure at least one integration and activate it
3. Now, switch to composer v2, PHP 8.1, remove your entire `vendor`

[2022-06-05 14:01] hostep commented on #35522
@engcom-Delta: Since the error happens in `module-catalog-import-export/Model/Import/Product.php`, I'm almost 100% sure it's "Products" as entity ... (please next time use your brain a bit and don't stop issue handling because of such a silly question)

[2022-06-05 14:20] hostep commented on #35535
@khoimm92, this is just a guess, but could it be that you have a custom theme with a `etc/view.xml` file where the width or height is set to an odd number for the `mini_cart_product_thumbnail` image?
You can probably solve this problem you have by making the number even so it's divisible by 2 without getting a decimal fragment.

Also: where did you see that error? Was it outputted to a certain log

[2022-06-05 14:36] hostep commented on #35546
Quoting from [@sivaschenko's remark in another thread](https://github.com/magento/magento2/issues/6401#issuecomment-602226975):

For example, when a child product becomes out of stock or back in stock or is being enabled/disabled, it might influence how the parent product is being displayed on the frontend.

Does that answer your question @madonzy?

[2022-06-05 14:51] hostep commented on #35575
@devphoenix2404: your error mentions SendInBlue, which isn't part of core Magento. You probably want to talk to the developers of the [SendInBlue Magento module](https://marketplace.magento.com/sendinblue-module-sendinblue.html) instead of trying to find help here on github 🙂

[2022-06-05 15:06] hostep commented on #35518
This was fixed like this in the [ZF1-Future project](https://github.com/Shardj/zf1-future):
https://github.com/Shardj/zf1-future/commit/5ae9f922ca97bd59a7f70e5c2efb10b360eae331#diff-095112f5539b15e75b91f6100ae0439d924c83297d92bcf8b8f413d429280638

Magento should probably fix this as well in their [own zf1 fork](https://github.com/magento/zf1).

[2022-06-05 15:08] madonzy commented on #35546
@hostep not really. When child products become out of stock or enabled/disabled then child product cache tags are purged, and that means the cache of the category page will be purged. There's nothing to do with parent product in your examples.

[2022-06-05 15:50] hostep commented on #35546
I think I start to see your point, trying to fetch the parent products on the frontend makes not so much sense. But the `afterGetIdentities` method is also being called when a product is saved in the backoffice for example, and then it starts to make sense that for both the child and parent the caches are being purged, correct?

So if there is a performance problem here, it's that [these lines](ht

[2022-06-05 16:15] xtremevision commented on #35522
Firstly if you will notice I tried to reproduce the issue with a dev instance per sop but my requests failed every time, see above.

Secondly, if you look closely at my report, you will notice EXTREMELY clearly I specified app/vendor/magento/module-catalog-import-export/Model/Import/Product.php line 1961, as per my suggested fix, so your question is/was quite redundant. I did want to reply, but I

[2022-06-05 16:31] madonzy commented on #35546
@hostep yeap. I think just disabling the plugin in the frontend scope di.xml will be a clean solution.

[2022-06-05 20:04] fredden commented on #35325
@sidolov please can you confirm why this issue has been closed.

Is this fixed in https://github.com/magento/magento2/commit/faa7e0ee7f402ab518ad38f004467a26491d9ab4 (which introduced https://github.com/magento/magento2/commit/a806598ad9d2250897e7fc02ffd7fe5d89a8988f and https://github.com/magento/magento2/commit/26b484075a60b4a384ae1f43aa5cf3ff1fb1d8fa)? I can't see a corresponding pull request f

[2022-06-06 02:11] sukeshini-kot commented on #35329
Is there any update on this?

[2022-06-06 04:13] peteracs opened #35578 "Please fix the N+1 Query antipattern which significantly slows down cart page when you have Customer Address "custom attributes""
### Preconditions and environment

- Magento version: 2.4.3
- Create at least 3 customer address custom attributes

### Steps to reproduce

1. Create 3 new customer address custom attributes
2. Go to checkout page. The performance drops by at least 2 seconds

I did profiling and found the culprit.

vendor/magento/module-customer/Model/Address/CustomAttributesProcessor.php

Line 51

[code]

As you

[2022-06-06 07:12] engcom-Hotel commented on #34756
Dear @mageician3,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-06 07:12] #34756 closed, assigned to engcom-Hotel

[2022-06-06 08:42] m2-assistant[bot] opened #35579 "[Issue] Support the use of PHP 8.0 "mixed" type"
This issue is automatically created based on existing pull request: magento/magento2#35572: Support the use of PHP 8.0 "mixed" type

---------
Currently Magento does not compile when using the `mixed` type, neither as a parameter or return type. The generated Interceptor / Proxy / etc. classes try to make this union type nullable (`?mixed`). This will result in a fatal PHP error since the union ty

[2022-06-06 08:53] engcom-Hotel commented on #35451
Thanks @hostep!

Hello @phoenix-bjoern,

As per the above comment, it seems that the issue has been addressed and fixed. Hence we are closing the issue.

Thanks

[2022-06-06 08:53] #35451 closed, assigned to engcom-Hotel

[2022-06-06 09:06] engcom-Charlie commented on #35370
As mentioned in [PR](https://github.com/magento/magento2/pull/35347#issuecomment-1147106053), this issue has been taken care in internal [JIRA](https://jira.corp.magento.com/browse/ACP2E-763) ticket. Hence closing this issue now.

Thank you!

[2022-06-06 09:06] #35370 closed, assigned to nobody

[2022-06-06 09:16] ilnytskyi commented on #33802
I also confirm that https://github.com/magento/magento2/pull/33803/ fixes the issue with installation in pipelines in our case

[2022-06-06 10:17] engcom-Dash commented on #35479
@magento give me 2.4-develop instance

[2022-06-06 10:32] engcom-Dash commented on #35578
Hello @peteracs ,

We have tried to reproduce the issue in Magento 2.4.3 the issue is not reproducible.
Please refer the below screenshot for the reference;

![Screenshot from 2022-06-06 15-58-31](https://user-images.githubusercontent.com/60198592/172144582-59ca7159-202a-45d8-a09e-54e689f12c8b.png)

![Screenshot from 2022-06-06 15-58-44](https://user-images.githubusercontent.com/60198592/172144322

[2022-06-06 10:52] miteshdhaduk1 commented on #34540
**Magento 2.4.4**

**small_image** URL returns the wrong cache hash in products and cart GraphQL.

[2022-06-06 10:57] miteshdhaduk1 commented on #35535
**Magento 2.4.4**

**small_image** URL returns the wrong cache hash in products and cart GraphQL for the default store. In other stores, it returns the correct URL.

[2022-06-06 11:05] engcom-Delta commented on #35522
Hi @xtremevision ,
Thank you for providing the details, we have tried again to reproduce the issue on Magento 2.4 develop instance. issue is not reproducible.
We are able to import the file successfully .

1. Navigate to System -> Import
2. Choose "Skip errors", increase the maximum errors to 10,000

<img width="1440" alt="Screenshot 2022-06-06 at 3 56 44 PM" src="https://user-images.githubusercon

[2022-06-06 11:20] engcom-November commented on #35361
Hi @ricoliv ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-06 11:20] #35361 closed, assigned to engcom-November

[2022-06-06 11:54] peteracs commented on #35578
@engcom-Dash  Did you check the performance before and after the 3 new customer address custom attributes? It was seriously hit.

[2022-06-06 12:26] engcom-November commented on #35571
Hi @bartoszherba ,
Thank you for reporting and collaboration. This issue seems to be a duplicate of issue: https://github.com/magento/magento2/issues/35545. However this issue exists even if  "Free Shipping" is set to "No" in cart price rule. Discount applied on Shipping amount is ignored in graphql response.
Please confirm and elaborate steps to reproduce if its a different issue.
Thank you.

[2022-06-06 12:43] engcom-Dash commented on #35534
Hello @tgreeve ,
We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.
Please refer the below screenshot for the reference;
![Screenshot from 2022-06-06 18-00-55](https://user-images.githubusercontent.com/60198592/172162218-da73fbe1-cd94-4969-b63c-26e5c19e780b.png)
![Screenshot from 2022-06-06 18-03-53](https://user-images.githubusercontent.com/60198592/

[2022-06-06 13:05] engcom-November commented on #35563
Hi @routbiplab ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch however graphql response is the same with/without custom attribute / filter
**Steps performed:**
1. Enabled Color attribute (Stores - Attributes - Product - color)
![image](https://user-images.githubusercontent.com/60198231/172165795-4a5a5827-b670-4eb5-a000-9603bce3bfe0.png)
![image](https:

[2022-06-06 13:07] engcom-Hotel commented on #35546
@hostep thanks for helping us in understanding the issue.

Hello @madonzy,

We have looked into the code written [here](https://github.com/magento/magento2/blob/a94527346fe0f9488a71248fae91b7a2e48b00a5/app/code/Magento/ConfigurableProduct/Model/Plugin/ProductIdentitiesExtender.php#L57-L62) and tried to reproduce the issue by the following way:
1. Have some code changes to debug the issue as follow

[2022-06-06 13:14] madonzy commented on #35546
@engcom-Hotel first of all it's totally strange that you did not get the parent product id from the child product. The second is that you measure not only the request but everything that is not needed :)

Make sure that `getParentIdsByChild` is returning you the value and then got to the browser and test only document request time. Go to Network -> Document ->  Select main loaded document -> Timin

[2022-06-06 13:21] engcom-Hotel commented on #35546
Thanks @madonzy for the quick response. Let me try this and get back to you. :-)

[2022-06-06 14:22] engcom-November commented on #35518
Hi @manan-india ,
Thank you for reporting. This issue is a duplicate of https://github.com/magento/magento2/issues/35335 for which PR is in progress. We are closing this issue. Please move on to https://github.com/magento/magento2/issues/35335 for latest updates / solutions.
Thank you.

[2022-06-06 14:22] #35518 closed, assigned to engcom-November

[2022-06-06 18:35] texboy commented on #35577
@magento I am working on this

[2022-06-06 19:17] newz12 opened #35581 "Broken Authentication & Session Management"
Vulnerability: Broken Authentication & Session Management
I have observed that when we change "password" from one browser in place of session expiration from another browser it just updates the password from another browser and the old session gets updated without being logged out.
The flows goes like this:
Broken Authentication and Session Management > Failure to Invalidate Session > On Password

[2022-06-07 04:30] norgeindian commented on #35462
@engcom-Hotel , thanks for the idea, but I'm totally with @schizek .
This command should offer the possibility to make sure,that definitely all phrases, which must be translated, are included.
Currently, all automatically created language packs are missing these parts.
In the [Devdocs](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-i18n.html#config-cli-subcommands-

[2022-06-07 04:32] khoimm92 commented on #33768
In my case, `module-quote-graph-ql` has been marked in `replace` node in composer.json. Remove it out, then do
[code]

[2022-06-07 05:34] routbiplab commented on #35563
Hi @engcom-November In the above response that you shared can you see the Image URL. It is same for all the products.

If you observe closely it is returning the image of the parent product for all its variant.

Steps to reproduce in any PWA website:

1. Select any color in color layered filter.
2. See the product images. All products may not contain the color selected in the filter.

**Request**:

[2022-06-07 05:55] miteshdhaduk1 commented on #34540
Fix by **Content > Design > Configuration > Store View > Product Image Watermarks**

Proper configure the watermarks image or remove it, this fixes my cart page image issue.

[2022-06-07 05:59] miteshdhaduk1 commented on #35535
Fix for me, maybe help you @khoimm92
https://github.com/magento/magento2/issues/34540#issuecomment-1148227600

[2022-06-07 06:06] miteshdhaduk1 commented on #19710
@pimruiter Thanks...!!! Watermark configuration was causing issues for me in GraphQL images for cart data and products. Currently removing Watermarks images fixes my issue.

Any idea why it's causing it?

[2022-06-07 06:57] Nuranto commented on #35570
Seems it was a redis conf issue after all.
Sorry for the noise.

[2022-06-07 06:57] #35570 closed, assigned to engcom-November

[2022-06-07 07:39] engcom-November commented on #35516
Hi @mohsinahmed22 ,
We are closing this issue as there has been no latest update on the same. Kindly create new issue / reopen if you are still facing any issues.
Thank you.

[2022-06-07 07:39] #35516 closed, assigned to engcom-November

[2022-06-07 07:45] engcom-Hotel commented on #35462
Hello @norgeindian,

Thanks for the feedback!

I am confirming this issue for further process.

Thanks

[2022-06-07 08:19] adnanebrahimi commented on #31363
Is there any update?

[2022-06-07 09:48] lealemoel opened #35583 "Compare Down when category_ids comparable"
### Preconditions and environment

Hi,

I set the attribute category_ids to comparable and then when I tried to add products in my comparison list, products are added to it, but when I go to the comparision list, it's blank (see video attached).
Comparision list is working perfectly when attribute category_ids is set to no.

- Magento version : 2.4

https://user-images.githubusercontent.com/989491

[2022-06-07 09:55] chris-pook commented on #25247
For anyone stuck looking for an answer on this to patch an old version of Magento, see #22173.

[2022-06-07 09:55] chris-pook commented on #25642
For anyone stuck looking for an answer on this to patch an old version of Magento, see #22173.

[2022-06-07 09:57] engcom-Dash commented on #35535
Hello @khoimm92 ,
As per our last [comment](https://github.com/magento/magento2/issues/35535#issuecomment-1144764966) , we have tried reproduce luma theme but here it seems that you are using a custom theme.
So we request you to go through with the solution given in this [comment](https://github.com/magento/magento2/issues/35535#issuecomment-1148229270) and let us know this issue has resolved or n

[2022-06-07 10:30] engcom-Dash commented on #35464
Hi @hoangss ,
Thanks for your Reply.
Yes,we tried to reproduce the issue with M crypt extension as well as without M crypt also.But we were unable to reproduce.

[2022-06-07 10:34] engcom-Dash commented on #35575
Hi @devphoenix2404 ,
We are trying to reproduce the issue but we are not able to reproduce because sendinblue is not part of magento.

[2022-06-07 10:37] devphoenix2404 commented on #35575
Thanks you guys 😊
I will do the needful :)
One more question, is there any redirection or parmalinks I need to set after installation of magento?

[2022-06-07 10:44] engcom-Hotel commented on #35546
Hello @madonzy,

We have tried to reproduce the issue by searching for a configurable product in the frontend like `Chaz Kangeroo Hoodie-XS-Black` but we are always getting the Parent product id in the frontend, not the child product id. Please have a look at the below screenshot for the reference:

![image](https://user-images.githubusercontent.com/51681618/172360990-51e751f7-77c1-486f-b373-38167

[2022-06-07 11:38] engcom-November commented on #35583
Hi @lealemoel ,
Thank you for reporting. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
**Steps performed:**
1. Stores - Attributes- Product - Configured category_ids - Comparable on Storefront - Yes and Save
2. Reindex and cache flush
3. Storefront - Add 2 products to compare  - **No issue. Compare Products page is displayed as expected.**
4. Login to

[2022-06-07 11:40] n2diving-dgx opened #35584 "Attempting to Place Order with payment method of G Pay (Google Pay) fails"
### Preconditions and environment

Attempting to Place Order with payment method of G Pay (Google Pay) fails with error message...

"**Request Failed**
Unexpected developer error, please try again later."

Environment is M2.4.4 with PHP 7.4 using native Braintree extension bundled with M2.4.4
Problem appears to have begun co-incident with upgrade from M2.4.3-p1 to M2.4.4

IMPORTANT:  There is a "s

[2022-06-07 12:52] engcom-Delta commented on #35323
Hi @mattqiu ,
Thank you for raising an issue and we tried to reproduce the issue on Magento 2.4 Develop instance, unfortunately issue is not reproducible , it works as expected.

Kindly refer the screenshots attached. Kindly help me to reproduce the issue with appropriate steps.

![Screenshot (145)](https://user-images.githubusercontent.com/51681379/172383458-a3647e63-f37c-4ecb-97f5-44c12b718fb8.p

[2022-06-07 12:53] HorizonCode opened #35585 "Customer Information Sidebar not displayed correctly"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1

### Steps to reproduce

1. setup a 2.4.3 build of Magento
2. Update to 2.4.4 via Composer

### Expected result

Expected Result: The Sidebar should be displayed correctly

### Actual result

![The Sidebar](https://i.imgur.com/xnvbmBC.png)

The error message in console
[code]

### Additional information

I tried it multiple times to upda

[2022-06-07 13:04] engcom-November commented on #35472
Hi @webgility-amazonapi ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch using Debit/Credit card option (Card type used: VISA on front-end) configured using paypal express checkout payment method but couldn't get "cc_type" in the Get Order API response.
Can you please recheck the behavior on 2.4-develop branch and provide payment configuration used for

[2022-06-07 13:06] engcom-November commented on #35472
![image](https://user-images.githubusercontent.com/60198231/172387093-a7014f7c-430b-401c-8a89-f0e21f73fc9d.png)

[2022-06-07 13:07] toby11 opened #35586 "REST customers/search endpoint does not allow searching of child address fields"
### Preconditions and environment

2.4.2-p2

Fresh installation with sample data.

### Steps to reproduce

When performing a search using the customers/search end point like this

searching by email which is in the main customer object works fine

https://www.xxx.com/rest/V1/customers/search?searchCriteria[filterGroups][0][filters][0][field]=email&searchCriteria[filterGroups][0][filters][0][value]

[2022-06-07 13:27] newz12 commented on #35581
I will not be able to help you any further, this problem was reported to me by an anonymous source. I'm adding it here so you can investigate this in the Magento core files, as I don't have the technical knowledge to reply back to you. Thanks

[2022-06-07 13:28] engcom-November commented on #35581
@magento give me 2.4-develop instance

[2022-06-07 13:46] m2-assistant[bot] opened #35587 "[Issue] Show last login date/time on admin user grid"
This issue is automatically created based on existing pull request: magento/magento2#35356: Show last login date/time on admin user grid

---------
### Description
When managing administrative user accounts within the Magento backend, it would be useful to see when particular users have most recently logged in. This pull request adds that information to the grid. (The information already exists in

[2022-06-07 14:03] atIOCrON commented on #34956
Is there any update on this issue? Is it going to be fixed?

[2022-06-07 14:32] alinalexandru commented on #34964
The bug was introduced in 2.4.2 with this PR https://github.com/magento/magento2/pull/27672

[2022-06-07 15:34] engcom-Delta commented on #35320
Hi @timothyfisherdev ,
Thank you for raising an issue , we tried to reproduce the issue on magento 2.4 develop instance with redis session cache.
in fact it works much faster after setting up with redis , but we found different error in the logs.  Please review and confirm.

configuration:

<img width="573" alt="Screenshot 2022-06-07 at 8 09 18 PM" src="https://user-images.githubusercontent.com/51

[2022-06-07 16:24] n2diving-dgx commented on #35584
Fails on both Android/Chrome (S22 phone) and Win11/Chrome desktop

![image](https://user-images.githubusercontent.com/17930467/172433008-b596d5ba-e1e5-49c8-ba11-c9ab726d5f28.png)

[2022-06-07 20:26] kanevbg commented on #35397
@hostep Absolutely right. Your proposal is logically equivalent to my.

I'd try to find time to write something reproducible and share here. Currently I can only add one more thought: to get in problematic state, the process which acquired lock should ask if it is locked (using isLocked method) and this should result in unexpected lock release. After the isLocked call I believe it is best to test

[2022-06-07 21:08] Stoyvo commented on #35443
There are claims of a UX issue, so I'll share a tip.
When you reach the max level of elements, use a Text element and insert a Widget. A widget can have multiple layers of elements, including a widget inside a widget - infinite levels of page builder, it's just annoying.

The claims of it being a UX issue is just an excuse :)

[2022-06-07 21:12] Stoyvo opened #35590 "[M2.4.4] Admin broken views and grids"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1

### Steps to reproduce

1. Upgrade from clean Magento 2.4.3 to 2.4.4

2. Login to Admin, look at a grid.

### Expected result

One default view, one link to save view, functional column selector

### Actual result

![image](https://user-images.githubusercontent.com/6148099/172483383-e8ca95f5-9cff-4744-8fa1-e0e233213303.png)
![image](htt

[2022-06-07 23:16] kanevbg commented on #35397
I have been doing some testing and was unable to drive the system to behave incorrectly, however the tryToUnlock operation is redundant when there was already a lock. What saves from the bug to appear seems to be that the file descriptor is opened by the `$fileResource` saved in the `\Magento\Framework\Lock\Backend\FileLock::$locks` property which likely makes that the lock still persist until the

[2022-06-08 01:12] zxiaoh opened #35591 "Add a shopping cart in guest mode, and then register a new account, the additional_options of the shopping cart will be deleted, and the info_buyRequest will be modified. How to solve it?"
### Preconditions and environment

- Magento version：2.3.7

### Steps to reproduce

1. Add to cart as a visitor
2. Register a new account
3. Some specifications of the shopping cart: info_buyRequest, additional_options are missing

### Expected result

Create a new account, the specifications of the shopping cart added as a guest should exist instead of being changed

### Actual result

Some speci

[2022-06-08 06:31] engcom-Dash commented on #35479
@magento give me 2.4-develop instance

[2022-06-08 07:07] engcom-November commented on #35514
Hi @nopenopenope ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-08 07:07] #35514 closed, assigned to engcom-November

[2022-06-08 07:08] engcom-November commented on #35502
Hi @Josch-KEDO ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-08 07:08] #35502 closed, assigned to engcom-November

[2022-06-08 07:17] engcom-November commented on #35581
@magento give me 2.4-develop instance

[2022-06-08 07:36] hostep opened #35592 "Cross Border Trade kicks in even when no tax should be calculated"
### Preconditions and environment

- Magento version 2.3.7, 2.4.4, 2.4-develop, probably any Magento version that was ever released contains this bug
- A good knowledge of the European tax system, including the [cross border trade option](https://docs.magento.com/user-guide/tax/tax-cross-border-price.html) that exists in Magento
- Maybe pull in a product owner if you are in doubt about the validit

[2022-06-08 07:44] raulsinapsis commented on #35455
Maybe it's something related to magento/magento-cloud-metapackage composer package?

[2022-06-08 08:15] shenoyaditya11 commented on #13961
I tried creating Integration with the Identity link, it still creates access token and token secret on activation. and before activation if I try to hit /oauth/token/request, it throws Consumer+key+expired, how to fix this issue, please help.

[2022-06-08 08:20] qsolutions-pl commented on #13961
Look at my comment here: https://github.com/magento/magento2/issues/13961#issuecomment-625284593

[2022-06-08 09:08] AndresAndreev commented on #4432
The issue is still occurring on Magento 2.4.2. The token URL was not `/rest/all` but with the specific store code. Also, the date in the `lock_expires_at` doesn't seem to do anything. Cleaning the `oauth_token_request_log ` works but this is not a very reliable solution for me and if at least the expiration of the lock works would be nice.

[2022-06-08 09:35] engcom-November commented on #35581
Hi @newz12 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
**Steps performed:**
1. Created account from Magento front-end and signout
2. Login to front-end on chrome and Firefox browsers at same time
3. Chrome browser - My Account - Change password
4. Refresh Firefox browser - User is logged out - No issue.
Ki

[2022-06-08 09:37] kanevbg commented on #33412
?

[2022-06-08 10:24] satinderjot-tech commented on #35288
The issue has been resolved for me according to the .

1. Purchase the extension from magento marketplace and create access key into the same account.
2. Rename auth.json.sample to auth.json and update he access keys.
3. run composer require klarna/m2-klarna:1.0.2.

That is worked for me.

[2022-06-08 11:19] engcom-November commented on #35590
Hi @Stoyvo ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3 to 2.4.4 but could not able to reproduce the issue.
**Steps performed:**
1. Installed Magento 2.4.3 Project Community edition with PHP 7.4 version
2. Upgraded to 2.4.4. Ref [Guide](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html)
3. Upgrad

[2022-06-08 11:23] sanjay-codez commented on #6425
Issue is still there magento - 2.4.3-p2

[2022-06-08 11:28] przmak commented on #30668
Currently having this on ver. 2.4.2-p2

[2022-06-08 11:38] engcom-Delta commented on #35279
Hi @ludo-mon-key ,

Here are the required settings .

Step 1: Create VAT-related customer groups

<img width="781" alt="Screenshot 2022-06-08 at 4 56 51 PM" src="https://user-images.githubusercontent.com/51681379/172605395-3be551f0-4831-4242-b2b5-4e4f391c66ef.png">

Step 2: Create VAT-related classes, rates, and rules

<img width="823" alt="Screenshot 2022-06-08 at 4 58 25 PM" src="https://user-im

[2022-06-08 12:06] engcom-Hotel commented on #35548
Hello @qsolutions-pl,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. We have followed the exact steps mentioned in the main description and we are able to get the value of `info_buyRequest` using `quote by repository`.

Please find attached the module for reference and let us know if we missed

[2022-06-08 12:17] engcom-Dash commented on #35479
Hi @IbrahimS2 ,
Can you please guide how to remove newrelic module using composer. Because we are finds the same in composer.json file in magento 2.4.4

Thanks

[2022-06-08 12:29] abcpremium commented on #22773
Can someone please tell me what is wrong with my consumer class here? It throws exactly the exception mentioned here in this issue. I try to get it work for 2 days now... I don't understand what's wrong...

[code]

[2022-06-08 15:18] engcom-Hotel commented on #35546
Hello @hostep,

I have tried this as well. But still, the issue is not reproducible for us. We have followed the below steps:
1. Create a configurable product with one configuration:
![image](https://user-images.githubusercontent.com/51681618/172651153-ac043f9b-138c-4fc6-b9af-95d4a71a5e0b.png)

2. Edit the configured product and mark the visibility as `catalog, search`:
![image](https://user-image

[2022-06-08 15:56] romeof1980 commented on #12970
We can confirm this issue has not been resolved yet.

Preconditions
Magento 2.4.3-p1 CE
PHP: 7.4.27

**Steps to reproduce:**
Create a grouped product
Create a few simple products
Add two or more simple sub-products to the grouped product
(In the grouped) Set "default quantity to 0 for each simple product association.
Give sub-product 1 a stock quantity of 0 and the status 'Out of stock'.
Give sub-

[2022-06-08 16:05] engcom-November commented on #35586
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Unable to search using nested child elements using query parameters

[2022-06-08 16:20] romeof1980 commented on #12970
@magento give me 2.4-develop instance

[2022-06-08 18:29] ioweb-gr commented on #26308
Redis has it's own set of issues when heavy traffic on the site

[2022-06-08 18:52] SergeyP18 commented on #34413
Error in a third-party module, check for the type of the transferred value does not pass

[2022-06-08 18:56] SergeyP18 commented on #34413
There is no check for value type. There is only a
 check if there is a value
![Снимок экрана от 2022-06-08 21-54-25](https://user-images.githubusercontent.com/37869098/172694936-c7e35cd8-44ee-4855-9622-2179954a3471.png)

[2022-06-08 19:37] hostep commented on #26308
@amenk: did you read the [new documentation](https://devdocs.magento.com/guides/v2.4/config-guide/sessions.html#session-gc) for the fix @sdzhepa mentioned before?

[2022-06-08 19:45] hostep commented on #35479
@engcom-Dash: add the following lines to your `composer.json` file:

[code]

Then execute `composer update magento/module-new-relic-reporting` (which should remove that package) and then execute `bin/magento setup:upgrade` (so it gets removed from the `app/etc/config.php` file).

I agree with the issue report, a dependency on the NewRelicReporting module should have never been made to the GraphQl

[2022-06-08 20:31] dchaykas commented on #34472
Is there an update here? Same behavior for another payment gateway using 2.4.3-p1.

[2022-06-08 20:41] live4soccer7 commented on #34472
No update. We had to switch payment gateways. You would think paypal would at least help resolve this bug since now we are not paying paypal any merchant processing fees because we switched to another vendor. A bit frustrating. It cost us a bunch of time and money.

[2022-06-09 02:01] gfrey-namcopool commented on #26172
Any update on this?

[2022-06-09 05:36] MagePsycho opened #35594 "getFullActionName() returns __ on CMS & Category Pages"
### Preconditions and environment

- Magento 2.4.4
- FPC enabled
- Observe the event `controller_action_predispatch`

### Steps to reproduce

1. Observe the event `controller_action_predispatch` in `app/code/Vendor/Module/etc/frontend/events.xml`.
And observer looks like
[code]
2. Go to Homepage(/) or any CMS page, Example: `/about-us`

### Expected result

`$fullActionName` should give `cms_page_

[2022-06-09 07:05] nisha-vaghela commented on #35550
@magento i am woking on this.

[2022-06-09 07:11] romeof1980 commented on #12970
@magento give me 2.4-develop instance

[2022-06-09 07:23] nisha-vaghela commented on #35536
@magento i am working on this.

[2022-06-09 07:26] romeof1980 commented on #12970
@magento give me 2.4.3 instance

[2022-06-09 07:39] Zaahed commented on #35409
@magento I am working on this

[2022-06-09 07:40] Zaahed commented on #35409
@magento add to contributors team

[2022-06-09 07:41] Zaahed commented on #35409
@magento I am working on this

[2022-06-09 09:16] engcom-Hotel commented on #35594
Hello @MagePsycho,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch, by following the below steps:
1. Make some code changes to debug and ddd a breakpoint in file `https://github.com/magento/magento2/blob/a8543fed035d85c667195e95f69476d51f98381b/lib/internal/Magento/Framework/App/Request/Http.php#L395`:
[code]
2. Trying to access the `ab

[2022-06-09 09:27] NickvdMeij opened #35595 "[Confirmed] REST API - Bundle products have empty prices when updating in multiple storeviews"
### Preconditions and environment

- Magento version 2.4.3-p1, 2.4.4, 2.4-develop
- Multistore Setup (3 different Websites assigned to 3 stores up and running)
- REST API access

### Steps to reproduce

1. Create 2 or 3 Virtual products - assign to all websites and save.
2. Stores - Settings - Configuration - Catalog - Catalog -  Price scope - set to website and save
3. Reindex and clear cache
4.

[2022-06-09 09:27] NickvdMeij commented on #35595
@magento give me 2.4-develop instance

[2022-06-09 09:37] NickvdMeij commented on #35595
https://github.com/magento give me 2.4-develop instance

[2022-06-09 09:43] NickvdMeij commented on #35595
@magento give me 2.4.3-p1 instance

[2022-06-09 09:48] NickvdMeij commented on #35595
@magento give me 2.4.3-p1 instance

[2022-06-09 10:42] MagePsycho commented on #35594
@engcom-Hotel

Try to observe the event `controller_action_predispatch` in `app/code/Vendor/Module/etc/frontend/events.xml`.

Where the observer may look like this, for example
[code]
And go to any CMS page, Example: `/about-us` (Make sure the FPC is enabled and you are visiting the page more than once)

You will always get the value as `__`

Note this also happens with the event `controller_front

[2022-06-09 11:33] zigojacko commented on #31043
18 months on and this issue is still present...? :/

Just upgraded a store to 2.4.3-p2 and still have the default sort issue.

[2022-06-09 11:43] romeof1980 commented on #12970
how weird I can't reproduce this. I really can't understand how it can add due to the following:

[2022-06-09 11:50] engcom-Delta commented on #35585
Hi @HorizonCode ,
Thank you for raising an issue , we tried to reproduce the issue after upgrading from Magento 2.4.3 to 2.4.4 instance.unfortunately issue is not reproducible. Hence request to help us with appropriate steps to replicate the issue.

Here are the screenshots.

**Before upgrading**
<img width="1440" alt="Screenshot 2022-06-09 at 5 03 51 PM" src="https://user-images.githubusercontent

[2022-06-09 11:54] cankarales commented on #35584
I have a simmilar issue so here are my 2 cents.

 I found that there is an issue in this file: `Paypal_Braintree/js/googlepay.js` on lines 133 through 135:
[code]

the `if()` statement implies that this issue only appears in production environments. If you remove it, you'll get the same error which is:

this means that `merchantId` is not a valid field, which according to Google Pay docs is true.

[2022-06-09 12:27] ihor-sviziev commented on #33412
Hi @06romix @mrtuvn,
Unfortunately, it's unclear what damage this issue causes, how often it reproduces, and how critical it is to fix.
Could you explain in a bit more detail the issue it causes and how to reproduce it (maybe with some screenshots)? Does it happen in the Magento Core, or only in a custom extension(s)?

[2022-06-09 13:07] hemendraajmera opened #35597 "Any specific payload format to be used when using payment api to pay using credit card"
Magento 2.3.4

### Summary (*)

Unable to make payment using credit card via rest api on payone_creditcard payment method
### Examples (*)

Unable to make order using that credit card via rest api
### Proposed solution

can you please suggest me the payload which we can use for making payment from credit card

[2022-06-09 13:14] sheepfy commented on #35327
I think also effect-size mapping is missing

[2022-06-09 14:52] romeof1980 commented on #12970
@magento give me 2.4.3-p1 instance

[2022-06-09 14:57] Tahermoti opened #35599 "Inserting products in database issue in magento with excel import"
We have built custom utility to upload product on Magento ver. 2.3.5-p1 asp.net from local computer to ubuntu server 20.04 AWS mysql server 8.0 and php ver 7.2 with apache 2.4 the product is upload with excel file

Date Time : 6/9/2022 1:25:50 PM
-------------------------------------------------------------------------
System.Collections.Generic.KeyNotFoundException: The given key was not present

[2022-06-09 15:00] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-06-09 15:03] Poil commented on #34822
Hi @engcom-Hotel,
Which commit fix this ? is it already available in EE ?
Thanks

[2022-06-09 15:08] engcom-Delta commented on #35449
Hi @norgeindian ,
We tried to reproduce the issue on Magento 2.4 develop instance , issue is reproducible. Hence issue has been confirmed.

**Steps followed:**

1. Run bin/magento i18n:collect-phrases --output=test.csv app/code/magento/sales/view/frontend/email/

<img width="1440" alt="Screenshot 2022-06-09 at 8 29 50 PM" src="https://user-images.githubusercontent.com/51681379/172879383-d696b733-7

[2022-06-09 15:24] 0xMatt opened #35600 "Magento 2.4..3-p1|2 PayflowPro perofrms $0 authorization charge"
### Preconditions and environment

- Magento version - 2.4.3-p2

On a fresh install of magento 2.4.3-p1 or p2, I enter my paypal credentials and attempt to perform an authorization charge.

The AMT sent is always $0. causing the authorization to fail. This is not the prior secure token transaction request for $0 which does succeed.

### Steps to reproduce

- Fresh install Magento 2.4.3.p1|p2
- Ins

[2022-06-09 15:25] 0xMatt commented on #35600
@magento give me 2.4-develop instance

[2022-06-09 15:28] 0xMatt commented on #35600
https://github.com/magento give me 2.4-develop instance

[2022-06-09 15:52] hostep commented on #35546
Hmm, I'm getting confused, just tried understanding [the code](https://github.com/magento/magento2/blob/a8543fed035d85c667195e95f69476d51f98381b/app/code/Magento/ConfigurableProduct/Model/Plugin/ProductIdentitiesExtender.php#L52-L65) again:
- So the `if` checks if a product if of type `configurable` or something else, in case of something else, it just returns the current `$identities`
- In case i

[2022-06-09 16:43] 0xMatt commented on #35600
@magento give me 2.4-develop instance

[2022-06-09 17:29] romeof1980 commented on #12970
ok not able to reproduce on vanilla 2.4.3. **Not a bug**.
Just for reference: reproduced on custom installations where an AFTER plugin returns true/false listening on Magento\Catalog\Model\Product->isSalable
this is why it enters the return error warning message in the following snippet:
[code]
this is how it works:
`$productsInfo[$subProduct->getId()] `
this excludes from the check all the groupe

[2022-06-09 21:36] kingshukdeb commented on #34658
I think this issue is still there in 2.4.3p1 EE. And i can reproduce it. But there is a catch.
So lets suppose you upload an image with name **image1.jpg** and set roles to ['image', 'thumbnail', 'small_image']. It will work fine as this is the first image upload.

Now if you try to upload the same image again then the image name will be changed to **image1_1.jpg** but magento still assigning the

[2022-06-10 01:29] loic-paquin commented on #35517
I got exactly the same error, the cron task failed at midnight but went smoothly at 10 am.

@engcom-November Please test again, I reproduced it on **2.4.4** and the cron **MUST** be launched at **midnight** ( default cron schedule) with some products with special prices.

[2022-06-10 05:53] engcom-November commented on #35512
Hi @eraq ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/ create new issue if you are still facing issues.
Thank you.

[2022-06-10 05:53] #35512 closed, assigned to engcom-November

[2022-06-10 05:55] engcom-November commented on #35544
Hi @Abhay-Agrawal ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/ create new issue if you are still facing any issues.
Thank you.

[2022-06-10 05:55] #35544 closed, assigned to engcom-November

[2022-06-10 06:31] engcom-Hotel commented on #34658
Hello @kingshukdeb,

Thanks for the collaboration!

We will relook into the issue and update accordingly.

Thanks

[2022-06-10 06:35] engcom-Hotel commented on #34822
Hello @Poil,

We have checked this issue in Magento 2.4-develop branch and it is not reproducible there. I request you to please check this issue in Magento 2.4-develop branch and let us know if this is reproducible for you.

Thanks

[2022-06-10 06:48] nisha-vaghela commented on #35536
@magento give me test instance

[2022-06-10 06:48] nisha-vaghela commented on #35536
@magento give me 2.4-develop instance

[2022-06-10 07:41] Nuranto opened #35602 "AlertProcessor - Argument #2 ($storeId) must be of type int, string given"
### Preconditions and environment

- Magento version 2.4.4
- PHP8.1

### Steps to reproduce
- Enable product alert stock in BO (Configuration > Catalog >Product Alerts > Allow Alert When Product Comes Back in Stock > Yes, Allow Alert When Product Price Changes - Yes)
- Reindex and cache flush
- Front end - Login as customer - Select a Product without stock - Register to a product stock alert
(Noti

[2022-06-10 08:12] pumpe24 opened #35603 "Environment emulation nesting when sending invoice email"
On Magento Open Source 2.4.4, `$this->appEmulation->startEnvironmentEmulation($order->getStoreId(), Area::AREA_FRONTEND, true);` is added to `Magento\Sales\Model\Order\Email\Sender\InvoiceSender::send` .
While on this emulation there is a call to `Magento\Payment\Helper\Data::getInfoBlockHtml` where the emulation is started again.

This results in an error message `main.ERROR: Environment emulatio

[2022-06-10 08:32] Nuranto opened #35604 "Monolog issue"
### Preconditions and environment

- Magento version 2.4.4
- PHP8.1
- Install data-migration-tool
- Monolog 2.7.0

### Steps to reproduce

1. composer update
2. bin/magento setup:upgrade

### Expected result

Everything works fine

### Actual result

[code]

### Additional information

Monolog 2.7.0 has bee released yesterday, and have breaking changes.

Quick Solution : fix dependency to 2.6.0
Be

[2022-06-10 08:40] jpkileaf commented on #26854
@reinier-tula If its happending for specific products, can we do any fix from database level ?

[2022-06-10 08:41] engcom-Hotel commented on #35149
Dear @OPielech,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-10 08:48] engcom-Hotel commented on #35599
Hello @Tahermoti,

thanks for the report and collaboration!

As per looking into the stack trace and error, it doesn't look like an issue in the Magento core library. Please check the customized module from which you have tried to upload the images.

Thanks

[2022-06-10 08:49] Xeo67 commented on #34055
Hello,

i reproduce this issue on Magento 2.4.3-p2 since i use the new Adyen module (v8.2.2) with asynchronous capture.
How can we reopen this issue ? Must we do a new one ?

[2022-06-10 08:59] mrtuvn commented on #35604
i think we should report here
https://github.com/magento/data-migration-tool/issues

[2022-06-10 09:01] mrtuvn commented on #35604
quick workaround composer require monolog/monolog:"!=2.7.0" --no-update

[2022-06-10 09:49] engcom-Dash commented on #35575
Hi @devphoenix2404 ,
Thanks for your reply...
I am not sure is there any redirection or parmalinks I need to set after installation of magento. But we did't follow any redirection as well as paramalinks after the magento Installation.

Thanks.

[2022-06-10 09:54] engcom-Dash commented on #35464
Hi @hoangss ,
We are used following php without Mcrypt and with Mcrypt.
ext-bcmath
ext-ctype
ext-curl
ext-dom
ext-fileinfo
ext-gd
ext-hash
ext-iconv
ext-intl
ext-json
ext-libxml
ext-mbstring
ext-openssl
ext-pcre
ext-pdo_mysql
ext-simplexml
ext-soap
ext-sockets
ext-sodium
ext-tokenizer
ext-xmlwriter
ext-xsl
ext-zip
lib-libxml
lib-openssl

Thanks.

[2022-06-10 10:40] lakshmana commented on #28489
@winds1983 same issue on 2.4.4. At first I thought it was linked to this patch`MDVA-44887` Do you find any solution.
[code]

[2022-06-10 11:39] engcom-Hotel commented on #35515
Hello @Minirock,

Thanks for the report and collaboration!

We have tried to reproduce the issue by following the steps mentioned in the main description. We have used Magento 2.4-develop branch. But for us, the issue is not reproducible.

I am attaching the module below for reference which has been made by is in order to reproduce the issue:
[Magz.zip](https://github.com/magento/magento2/files/88

[2022-06-10 12:30] DegrizNet commented on #5077
This problem is still in latest version. Workaround is to create url rewrites but manually doing that for couple of thousand sku is impossible.

[2022-06-10 12:39] nisha-vaghela commented on #34967
@magento i am working on this

[2022-06-10 12:40] devphoenix2404 commented on #35575
Thanks

[2022-06-10 12:40] #35575 closed, assigned to engcom-Dash

[2022-06-10 12:40] engcom-Delta commented on #35279
Hi @ludo-mon-key ,

Sorry for causing inconvenience, even after several times verification on Magento 2.4 develop latest branch , issue is not reproducible. discounted price only displayed during checkout .

<img width="1440" alt="Screenshot 2022-06-10 at 6 05 41 PM" src="https://user-images.githubusercontent.com/51681379/173065676-c6406eab-6448-46ca-a79e-a4615f30ee89.png">

**Checkout Page**

<im

[2022-06-10 12:45] Minirock commented on #35515
I think you don't reproduce because you are not using the write method from the same class as we are :

`Magento\Framework\Filesystem\Io\Ftp`

[2022-06-10 12:48] aadmathijssen commented on #27112
Just confirmed that bug is still present in 2.4.4 with the default Elasticsearch7 configuration.

[2022-06-10 14:30] madonzy commented on #35546
There's a method that is called on product listing: \Magento\Catalog\Block\Product\ListProduct::getIdentities

There is a loop you can see fetching the identities of all products and merging it. Just make sure this method is called and all product are loaded.

[2022-06-10 14:56] convenient commented on #35604
https://github.com/magento/magento2/pull/35596

[2022-06-10 15:02] ludo-mon-key commented on #35279
Hi, thanks.
I emailed you the link to the test area

Thanks
Regards

[2022-06-10 15:51] engcom-Hotel commented on #35244
The issue has been fixed and merged. Please find the related commits on this link https://github.com/magento/magento2/search?q=AC-2719&type=commits. It will reflect in the 2.4.5 version.

Thanks

[2022-06-10 17:51] #35531 closed, assigned to nobody

[2022-06-11 07:37] #35585 closed, assigned to engcom-Delta

[2022-06-11 14:22] #35327 closed, assigned to mrtuvn

[2022-06-11 14:22] #35386 closed, assigned to Usik2203

[2022-06-11 14:22] #35505 closed, assigned to pykettk

[2022-06-11 14:22] #26789 closed, assigned to manavluhar

[2022-06-11 14:22] #33590 closed, assigned to nobody

[2022-06-11 14:22] #35458 closed, assigned to nobody

[2022-06-11 14:22] #35480 closed, assigned to nobody

[2022-06-11 14:22] #35587 closed, assigned to fredden

[2022-06-11 14:22] #33378 closed, assigned to eduard13, khrystynastolbova

[2022-06-11 14:22] #33692 closed, assigned to AnnaAPak

[2022-06-11 14:22] #33867 closed, assigned to Kannakiraj123

[2022-06-11 14:22] #34988 closed, assigned to convenient

[2022-06-11 14:22] #31206 closed, assigned to sasha19957099

[2022-06-11 14:22] #29373 closed, assigned to alinalexandru

[2022-06-11 14:22] #31947 closed, assigned to nuzil

[2022-06-12 05:10] mrtuvn commented on #34282
https://github.com/magento/magento2/pull/35017
Seem this update may fit with your case

[2022-06-12 18:41] CptCharlesG commented on #23116
The same issue appeared for me in 2.4.4.

It looks like we should use CustomerRepositoryInterface to update the GroupId when the VAT ID is valid, otherwise the already exsisting quote (persistent cart) and sometime even the displayed prices are not updated after address change/registration.

Quick workaround (with object manager just for checking):

Appending the following code to module-customer/

[2022-06-13 04:21] ClintTec commented on #35297
Still no fix for this?

`bin/magento config:set system/security/max_session_size_admin 2560000`

did not work for me.

[2022-06-13 06:15] hostep commented on #35546
Yes, but that's expected I think, otherwise the caching system in Magento can't invalidate such pages in case one of the products displayed on them gets changed.
Also, those products get loaded anyway to be able to display them, so it shouldn't really cause performance problems.

[2022-06-13 06:48] Asifjalil99 opened #35607 "Magento 2.4.3 pagination not working in grid mode frontend"
### Preconditions and environment

currently, I am facing an issue with my grid view category page "frontend" when I switch to list view the pagination works perfectly e.g when I switch to page 3 and then want to come back to page 1 it's working. but when I switch to grid view and move to page 2 or 3 and then want to click page 1 then it's not working the page is not clickable but page 2 is clicka

[2022-06-13 07:13] engcom-Delta commented on #35584
@magento give me 2.4.4 instance

[2022-06-13 07:26] engcom-Delta commented on #35584
@magento give me 2.4-develop instance

[2022-06-13 07:28] engcom-Hotel commented on #27112
Hello @aadmathijssen,

Please help us with the reproduction steps of this issue.

Thanks

[2022-06-13 07:40] ManikandanKaruppaiah commented on #35550
Any update on this issue

[2022-06-13 08:13] engcom-November commented on #35600
Hi @0xMatt ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and the issue is reproducible for payflow pro payment method:
For other payment methods, AMT field is correctly sent
![image](https://user-images.githubusercontent.com/60198231/173309323-e8fff253-0799-497e-9113-2b0d7a6911ae.png)

[2022-06-13 09:03] norgeindian commented on #27474
@engcom-Hotel , any update on this?

[2022-06-13 09:10] norgeindian commented on #28153
@sdzhepa , any updates here?

[2022-06-13 09:42] mcfedr commented on #34550
I understand this fix has not made it into a release of magento?

[2022-06-13 10:03] jesse-deboer opened #35610 "Puerto Rico is missing as an Enum in GraphQL"
### Preconditions and environment

- Magento 2.4.4

### Steps to reproduce

1. Create a cart
2. Set Puerto Rico as country in the shipping address through GraphQL

### Expected result

Shipping address saves to the cart and adds Puerto Rico as country

### Actual result

GraphQL error: ```Expected a value of type "CountryCodeEnum" but received: PR```

### Additional information

Created a PR:
http

[2022-06-13 10:11] soloma88 commented on #8034
It's 2022 now. Issue still exist when you try to save special price for store.

[2022-06-13 10:13] salesigniter commented on #35312
Just as another note if the customer side session is at 0 or the system/security/max_session_size_storefront path you will get an error like this when adding to cart: There is an error. Please Contact store administrator coming from vendor/magento/framework/Session/SaveHandler.php:133 so it is really not obvious when debugging where this error is coming from, I'm adding this note hoping that when

[2022-06-13 10:51] engcom-November commented on #35473
@magento give me 2.4-develop instance

[2022-06-13 11:22] nisha-vaghela commented on #35528
@magento i am working on this.

[2022-06-13 11:23] engcom-Delta commented on #35584
https://github.com/magento give me 2.4-develop instance

[2022-06-13 11:43] engcom-Delta commented on #35584
@magento give me 2.4-develop instance

[2022-06-13 11:55] tusharpatelborn opened #35611 "Giftcard type product payment method not display"
### Preconditions and environment

2.4.2-p1

### Steps to reproduce

Steps to reproduce the behavior:

    Clear all cookies or use incognito mode for the browser
    Add gift card product
    Go to checkout
    Adyen payments will not be present

### Expected result

Adyen payment method should be display on checkout page

### Actual result

Adyen payment method is not displayed on the checkout p

[2022-06-13 13:18] mmezhensky commented on #35561
@magento I am working on this

[2022-06-13 14:01] toby11 commented on #35586
@engcom-November Sorry I don't really follow what you mean?

RE: can search for nested/child objects using "fields" parameter

in your screenshot - this is not a search you are just returning all telephone numbers for one customer (id: 3) ?

I expect to be able to search across all customers for one with the phone number specified.

[2022-06-13 14:43] engcom-November commented on #35520
Hi @kolaente ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-13 14:43] #35520 closed, assigned to engcom-November

[2022-06-13 15:29] 0xMatt commented on #35600
Thank you for verifying my report. I will keep an eye out for the patch that resolves this.

[2022-06-13 16:13] hostep commented on #35546
That's really strange, because [the return in these three lines of code](https://github.com/magento/magento2/blob/a8543fed035d85c667195e95f69476d51f98381b/app/code/Magento/ConfigurableProduct/Model/Plugin/ProductIdentitiesExtender.php#L54-L56) will trigger when it's a simple product. So this should not cause performance problems.

The code further in the method will only trigger when a configurabl

[2022-06-13 16:17] ludo-mon-key commented on #35279
Hi,
Thanks for the reply.
For the registered user I see that it correctly calculates the price of the product, but adds taxes. The taxes instead should be zero according to the tax rule for the IE "Intra Union Customers":
![Schermata 2022-06-13 alle 18 15 24](https://user-images.githubusercontent.com/63352341/173398524-56e2bd3c-8981-4748-960a-592a25be6ef9.png)

Regards

[2022-06-13 16:27] rahulbarot commented on #35607
Is it reproducible on a blank Magento instance?

[2022-06-13 16:35] madonzy commented on #35546
@hostep first of all, that is a new version, there's no such if in 2.3.6 for example https://github.com/magento/magento2/blob/2.3.6/app/code/Magento/ConfigurableProduct/Model/Plugin/ProductIdentitiesExtender.php

Also, I do not really understand the sense of that if statement... If the product is configurable then it will never have a parent product,(method getParentIdsByChild will always return a

[2022-06-13 20:56] j0um opened #35612 "Magento\SalesGraphQl\Model\OrderItem\DataProvider uses non-contract methods on OrderItemInterface"
### Preconditions and environment

- Magento version : 2.4.3-p1
- Open vendor/magento/module-sales-graph-ql/Model/OrderItem/DataProvider.php and goto line 150. Here a implementation specific method (getStatus) is called on an interface. This method does not exists in the interface.

### Steps to reproduce

- Open vendor/magento/module-sales-graph-ql/Model/OrderItem/DataProvider.php
- Go to functio

[2022-06-14 03:22] hoangss commented on #35464
hi @engcom-Dash, thank you for the response.
Sorry I may ask stupid questions: what is this extension: ```lib-openssl```, and how to install it? seems it's different with openssl, isn't it?

[2022-06-14 06:46] Asifjalil99 commented on #35607
its not working on blank Magento  also

[2022-06-14 08:32] Zaahed commented on #35160
@magento I'm working on this

[2022-06-14 10:18] aliraza512 commented on #35612
@magento give me 2.4-develop instance

[2022-06-14 10:47] engcom-Delta commented on #23908
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-14 10:47] #23908 closed, assigned to engcom-Delta

[2022-06-14 10:52] engcom-Delta commented on #35279
Hi @ludo-mon-key ,

Thank you for quick turnaround , issue has been confirmed as it is able to reproduce it.
Regards,

[2022-06-14 11:04] leonhelmus commented on #35343
ah alright @nathanjosiah , It would be nice if they checked which teplate vars can be used, but i get what your saying thanks for the clarification!

Sorry about the late reply...

[2022-06-14 11:47] sheepfy commented on #35542
@engcom-Hotel hi, I don't think I can create a PR here with that fix tho, Magento\PricePermissions it's an enterprise module.

[2022-06-14 12:08] engcom-November commented on #35586
Hi @toby11 ,
Thank you for the update. Currently Magento does not support search for nested elements using filter_groups array as per Magento [devdocs](https://devdocs.magento.com/guides/v2.4/rest/performing-searches.html). Hence considering this as feature request but not a bug.
Thank you.

[2022-06-14 12:11] engcom-November commented on #35563
@magento give me 2.4-develop instance

[2022-06-14 12:37] bartoszherba opened #35615 "Unable to resolve bundle_options field in GraphQL query"
### Preconditions and environment

Magento version 2.4.4
Sample Data installed

### Steps to reproduce
1. Log in as a customer
2. Add bundle product to the cart (Sprite Yoga Companion Kit - sample data)
3. Place an order
4. Execute GraphQL query and observe PHP implode error in the response.
[code]

### Expected result

The expectation is to have bundle_options populated.

### Actual result

[code

[2022-06-14 13:28] nisha-vaghela commented on #35266
@magento I am working on this

[2022-06-14 14:40] hostep commented on #35546
Ah this is the first time you mention your Magento version (please next time do this in the opening post, it will make issue handling faster 😉 )

Indeed, the code in 2.3.6 is very different, it was changed significantly in https://github.com/magento/magento2/pull/30746 (which got included in Magento 2.4.2 and higher)

As to why the plugin still exists, I have no idea, either it can be thrown away,

[2022-06-14 16:24] rob-gonz opened #35616 "catalog_product_index_price reindexing occasionally resulting in missing products on site"
### Preconditions and environment

- Magento 2.4.3-p2
- Running in split database mode
- PHP 7.4

### Steps to reproduce

This bug is hard to reproduce when you want it to occur. It may be easier to reproduce if you were to have everything set up just perfectly. This includes scripts controlling which and how many products to pull in a product collection on a clean cache(no cache).

1. Use an inst

[2022-06-14 18:47] #35409 closed, assigned to Zaahed

[2022-06-14 18:47] #35506 closed, assigned to arifadobe

[2022-06-14 18:47] #33099 closed, assigned to Usik2203

[2022-06-14 21:27] j-lloyd-slc commented on #35297
I did not see this problem until the upgrade was deployed to an environment that uses Redis for session storage.

The fix posted by @jorgb90 resolved the issue.

[2022-06-14 22:22] oviliz commented on #23908
Incredible...

[2022-06-15 07:50] Hexmage opened #35617 "[2.3.0-2.4.4] Changing the config scope while within a plugin breaks the after plugins"
### Preconditions and environment

Any Magento version between 2.3.0 and 2.4.4. (probably older versions as well)

### Steps to reproduce

- Write a public function that calls `\Magento\Framework\Config\ScopeInterface->setCurrentScope` and set a different area then you are currently in (I personally experienced this when we switched from crontab to frontend).
- Write a global plugin for above func

[2022-06-15 09:33] salesigniter commented on #35539
@rathodsunny005 Thanks so much! You saved me so much stress by posting this fix

[2022-06-15 10:00] #35558 closed, assigned to engcom-November

[2022-06-15 10:02] engcom-November commented on #35499
Hi @vo1 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/ create new issue if you are still facing any issues.
Thank you.

[2022-06-15 10:02] #35499 closed, assigned to engcom-November

[2022-06-15 10:03] engcom-November commented on #35554
Hi @Axel29 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-15 10:03] #35554 closed, assigned to engcom-November

[2022-06-15 10:21] engcom-November commented on #35611
Hi @tusharpatelborn
Thank you for reporting and collaboration. However, Adyen payment method is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extensio

[2022-06-15 10:21] #35611 closed, assigned to engcom-November

[2022-06-15 10:34] nikunjskd20 commented on #35419
This works for me works on Windows

Add "extension=sodium" to php.ini (no quotes)
Copy php/libsodium.dll to apache/bin/
Restart Server

[2022-06-15 10:54] Sagar2811 commented on #35419
Oh, it works for me, thanks @nikunjskd20

[2022-06-15 11:41] engcom-November commented on #35308
Hi @JelleGe ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3-P1 Project community edition to 2.4.3-P2 but could not able to reproduce the issue.
For the error: "Category Products index process error during indexation process: Class Magento\Catalog\Model\Indexer\Category\Product\Interceptor does not exist" - please check your Apache/Nginx configuration and own

[2022-06-15 12:27] sezio opened #35619 "Date column UI component not functional with mysql type date, only compatible with datetime when date is empty in database (0000-00-00)"
### Preconditions and environment

- Magento version : 2.4.2-p1

### Steps to reproduce

1. Create a table with a `date` field in a db_schema.xml :
[code]

2. Create a new grid in backend with a column configured as follow :
[code]

3. Insert a row in your table with the date value set to "0000-00-00" :
`insert into test_table(test_date) values("0000-00-00"); `

4. Display your grid

### Expected

[2022-06-15 12:50] 0m3r commented on #35293
I have the same compilation error with the 'empty' (virtual) theme

https://github.com/magento/magento2/blob/2.4.4/app/code/Magento/Deploy/Collector/Collector.php#L96
[code]

$file->getFileName() is null

https://github.com/magento/magento2/blob/2.4.4/app/code/Magento/Deploy/Source/Themes.php#L52-L63
[code]

because in accumulateThemeStaticFiles
system add nulled filename if any static files weren

[2022-06-15 13:00] Mavlyan commented on #35517
To reproduce just run this simple Console Command. I've copied query from `catalog_index_refresh_price` cron.

[code]

[2022-06-15 13:16] stradd opened #35620 "Login into frontend for customers no longer works"
### Preconditions and environment

2.4.3-p1
Php: 7.4.30
community edition

### Steps to reproduce

composer update command

rm -rf var/cache/* && rm -rf var/page_cache/* && rm -rf generated/code/* && php bin/magento setup:upgrade && php bin/magento setup:di:compile && php bin/magento setup:static-content:deploy && php bin/magento indexer:reindex && php bin/magento cache:clean && php bin/magento ca

[2022-06-15 13:31] leonhelmus opened #35621 "Improve query speed archiving orders/ shipment / invoices / creditmemo"
### Preconditions and environment

- Magento version: 2.4.3-p1
- Php: 7.4
- Magento Commerce
- Enabled sales/magento_salesarchive/active
- Enable dev/grid/async_indexing

### Steps to reproduce

1. Have a big dataset of orders/invoices/shipments/creditmemos.
2. Run cron sales_grid_order_async_insert or sales_grid_order_invoice_async_insert or sales_grid_order_shipment_async_insert or sales_grid_or

[2022-06-15 13:43] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-06-15 14:03] MeCapron commented on #32004
Hello,

I'm reopening this issue because it is also a problem for us.

It makes even more sense now that Tailwind is around the place for a lot of project. The defined xsd is not scalable and do not take in account technologies or evolution.

As @thomas-kl1 mentioned, this is not only concerning the @ symbol but all symboles accepted by the W3 standards.

Why can't we make this evolve?

[2022-06-15 14:40] ronangr1 commented on #2916
2022 and still not working :1st_place_medal:

[2022-06-15 14:45] jesse-deboer commented on #35610
Sorry, but this is a very unsatisfying answer. You can set it as state, but also as a country. See screenshot:
![image](https://user-images.githubusercontent.com/14839421/173855749-fb49ee39-6e7a-4cf6-86f0-d99cfe995e11.png)

In GraphQL you can get it as a country, but you can not SET it as a country because the email was accidentally not added. Guam for example, which is also a overseas territory,

[2022-06-15 15:29] Morerice opened #35622 "Replace 'PayPal Account' translation in token_list.phtml"
### Summary (*)
In the **Stored Payment Methods** page, there are 2 sections, one to render the card tokens and the other to render the account tokens. However, the table header for the accounts section is titled **PayPal Account**. This is fine if only paypal account tokens are to be created.

### Examples (*)
token_list.phtml:
[code]

### Proposed solution
However we are currently working on fun

[2022-06-15 15:55] FadedOut commented on #35620
@stradd

It might be that you're missing libsodium (or ext-sodium). Check to see if you have that installed as a package/php extension.

[2022-06-15 15:59] erikhansen commented on #2916
@ronangr1 I know, right! The patch [in this comment](https://github.com/magento/magento2/issues/2916#issuecomment-345343749) is still relevant and essentially resolves this issue.

[2022-06-15 17:20] stradd commented on #35620
I found the following instructions

curl -O https://download.libsodium.org/libsodium/releases/ libsodium-1.0.18..tar.gz \
   && tar xfvz libsodium-1.0.18.tar.gz \
   && cd libsodium-1.0.18 \
   && ./configure
&& make && make check
sudo make install

I ran this at root level and restarted the server. Unfortunately that was unsuccessful

[2022-06-15 18:35] hanxiangwu commented on #28200
Hi there, is there a patch or solusion for this now? Thanks

[2022-06-15 19:45] matthewhaworth commented on #29166
I think this is still an issue.

@magento give me 2.4-develop instance

[2022-06-15 19:59] kingshukdeb commented on #34898
Having the same issue on 2.4.3p1 EE. I have upgraded from 2.3.2 EE. Its really weird issue. For some page it gets saved properly. Sometime i see the error in console and the loader keeps loading and sometime the page saves without actually saving the data.

[2022-06-15 20:19] matthewhaworth commented on #29166
Curious to see if this used to happen with the MySQL adapter in 2.3, or whether it's elasticsearch causing it as per #20593

https://github.com/magento give me 2.3 instance

[2022-06-15 20:19] matthewhaworth commented on #29166
Curious to see if this used to happen with the MySQL adapter in 2.3, or whether it's elasticsearch causing it as per https://github.com/magento/magento2/issues/20593

@magento give me 2.3 instance

[2022-06-16 00:53] engcom-Delta commented on #35455
@magento give me 2.4.3-p1 instance

[2022-06-16 06:00] NipulThoriya572 commented on #33725
@magento I am working on this

[2022-06-16 06:01] NipulThoriya572 commented on #33725
@magento add to contributors team

[2022-06-16 06:03] engcom-Delta commented on #35555
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-16 06:03] #35555 closed, assigned to engcom-Delta

[2022-06-16 07:43] ssx commented on #35510
As you're probably aware, the docs were wrong. I PR'd a change to them yesterday which is now merged. They are updated now: https://developer.adobe.com/commerce/webapi/get-started/authentication/gs-authentication-oauth/

[2022-06-16 08:09] engcom-Delta commented on #35455
@magento give me 2.4 instance

[2022-06-16 08:40] npluimers opened #35623 "Duplicate URL key on enabling 'Not visible individually' product"
### Preconditions and environment

- 2.4.3-p1

### Steps to reproduce

1. Create a configurable product with URL key: 'test'
2. Try to create a simple product under this configurable product with Visibility: 'Not visible individually', status disabled and url key: 'test'

### Expected result

Product should be allowed to be created. as there is no URL rewrite generated due to it's visibility setti

[2022-06-16 08:44] engcom-Delta commented on #35455
@magento give me 2.4-develop instance with edition ee

[2022-06-16 08:55] stupachenko commented on #35528
@nisha-vaghela It was broken in https://github.com/magento/magento2/commit/cbc352e0d0235f1e8e200eee1f6587d08b1ec7ca

[2022-06-16 09:40] Bartiema opened #35626 "Name prefix input field displayed when configuration is set to use system value"
### Preconditions and environment

- Magento version: 2.4.4
- System configuration settings under Customers -> Customer information -> Name and Adress options
   - Show prefix: Set to "No" first, then check the use system value box
- Make sure you can create new customers in the frontend

### Steps to reproduce

1. Check current system configuration settings under Customers -> Customer information

[2022-06-16 09:46] NipulThoriya572 commented on #33725
@magento give me test instance

[2022-06-16 10:14] NipulThoriya572 commented on #33725
@magento give me 2.4-develop instance

[2022-06-16 10:22] NipulThoriya572 commented on #33725
@magento run all tests

[2022-06-16 10:37] engcom-Dash commented on #35623
@magento give me 2.4-develop instance

[2022-06-16 11:08] engcom-Dash commented on #35464
Hi @hoangss ,
Yes ,for php 7.4 we did't use this extension...its come under the system requirements.

[2022-06-16 11:52] engcom-Dash commented on #35623
Hello @npluimers ,
 We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.
Please refer the below screenshot for the reference;

![Screenshot from 2022-06-16 17-17-56](https://user-images.githubusercontent.com/60198592/174063430-c761aecb-0518-47c7-89aa-a2b7514edca2.png)
We have followed the below steps in order to reproduce the issue:
1.Create a configura

[2022-06-16 11:53] engcom-Dash commented on #35578
@magento give me 2.4-develop instance

[2022-06-16 12:10] engcom-November commented on #35620
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Login into admin works but login using existing customers on front end no longer works after following the steps mentioned in description. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/174066759-982f63d6-18a4-4b7b-9442-12dc434f8231.png)

[2022-06-16 12:30] engcom-November commented on #35610
Hi @jesse-deboer ,
Thank you for your response. Verified the issue again on Magento 2.4-develop branch but still we are not able to set Puerto Rico as Country option but can able to set as State option only in both UI and GraphQl
![image](https://user-images.githubusercontent.com/60198231/174069576-6febfb4f-d8ef-4ff6-a21f-5291cdab9363.png)
![image](https://user-images.githubusercontent.com/6019823

[2022-06-16 13:18] Dhaval410 opened #35627 "Promotions Rule not working with quantity_and_stock_status attribute"
### Preconditions and environment

- Magento version: 2.4.3-p1
- Create simple products manually with stock status is in stock and qty greater than 0 from the admin. Don't use sample data. If we use sample data by using this command _bin/magento sampledata:deploy_, then it will insert the records in the _catalog_product_entity_int_ table with the attribute Quantity (attribute id 115). And we would

[2022-06-16 13:50] jesse-deboer commented on #35610
@engcom-November, have you set Puerto Rico to be activated in 'Allow Countries' under Stores -> Configuration -> General -> Country options?

![image](https://user-images.githubusercontent.com/14839421/174082208-2240fd2a-48db-4ed4-ab2a-3e8fe37ad5be.png)

[2022-06-16 14:08] ihor-sviziev commented on #33725
Let's increase priority to P2 as this is an additional step that customers should do on checkout (check the "my billing and shipping address the same" checkbox), which reduces the conversion rate.

[2022-06-16 14:53] irabattiakshay opened #35628 "Could not validate a connection to Elasticsearch. No alive nodes found in your cluster"
### Summary (*)

Could not validate a connection to Elasticsearch. No alive nodes found in your cluster.

Elasticsearch is active and running but unable to connect while running magento commands
### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This inform

[2022-06-16 15:08] Yonn-Trimoreau commented on #25637
Any update on this issue?

[2022-06-16 15:23] barryvdh commented on #35329
The workaround in https://github.com/magento/magento2/issues/35329#issuecomment-1139618176 fixes it, thanks!

[2022-06-16 15:26] rkwadriga opened #35629 "Magento\Framework\Reflection\DataObjectProcessor missed keys for arrays"
### Preconditions and environment

- Magento version 2.4.*
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. Create a new consumer <consumer_name>
2. Put to the Magento\Framework\MessageQueue\PublisherInterface->publish() message like
[
   'data' => [
      'key_1' => 'Value 1',
      'key_2' => 'Value 2',
   ]
]
3. Run the consumer: bin/magento queue:consum

[2022-06-16 15:43] edward-simpson opened #35630 "Unable to see content in Media folder ending in hyphen"
### Preconditions and environment

- M2.4.3-p1

### Steps to reproduce

1. Create media folder ending in hyphen (e.g. pub/media/-test-), add images into this folder
2. Create module and config.xml file to add this folder to WYSIWYG folder list
3. Navigate to admin panel cms block or page, and try to add image from this folder

### Expected result

Images contained in folder display in media galler

[2022-06-16 16:20] engcom-November commented on #35604
Hi @Nuranto ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3-p1 to 2.4.4 but could not able to reproduce the issue.
Steps performed:
1. Installed 2.4.3-p1 project-community-edition with PHP7.4
2. Upgraded to 2.4.4 project-community-edition [(Ref upgrade guide:](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-up

[2022-06-16 16:53] 0xMatt commented on #35600
Any update on this? Remember, only Test Mode is affected by this.

[2022-06-16 17:18] invertedfjord commented on #15461
We did extensive testing and passing the store code as a search param does not work reliably. If you pass the store ID for products it does work most of the time.

Testing on many Magento 2 accounts on various versions came to the following results.

1. Store code in the URL is essentially useless.
2. Store ID passed as a search param does work for 80% of accounts. Some accounts return 500 or 400

[2022-06-16 18:42] agarcia2-pk commented on #34898
I've encountered the same issue on 2.4.2-p2. It's weird because it happens on one specific page, i can edit others without problem but this specific one does not let me.

[2022-06-16 22:59] cctorres opened #35632 "Use news appearances in Page Builder"
### Preconditions and environment
Magento 2.4.4

### Steps to reproduce

1. Add new appeareance [https://devdocs.magento.com/page-builder/docs/content-types/extend/add-appearances.html](url) or use the example given by Magento in its repository.
2. Go to Content > Block > Edit With Page Builder.
3. Add a banner (or another element)
4. Select the custom appeareance in the config

### Expected resul

[2022-06-16 23:01] cctorres commented on #35434
@magento i'm working on this

[2022-06-16 23:01] cctorres commented on #35434
@magento add to contributors team

[2022-06-16 23:02] cctorres commented on #35434
@magento i'm working on this

[2022-06-16 23:31] mrtuvn commented on #35604
you need install monolog v2.7.0 to able see problem

[2022-06-16 23:44] gwharton commented on #28489
I also see this on 2.4.4. Any solutions?

[2022-06-17 01:04] gwharton commented on #28489
I'm figuring you are using magepack with 2.4.4

You need to exclude the file jquery/ui-modules/effects/effect-fade from your magepack.config.js file

If this file is excluded from packing, it works fine.

[2022-06-17 04:06] FadedOut commented on #35620
@engcom-November

Odd, everything works fine for me on 2.4.4. I used the same browser, logged into admin then made a new tab and logged into a customer account on the front end.

Maybe it is only a 2.4.3-p1 & PHP 7.4.x bug. Though for OP, his error specifically mentions sodium
[code]
Which would cause login issues if not correctly installed (or is missing) on the server.

[2022-06-17 04:49] salesigniter commented on #32592
@nazarklovanych how is this going? I also need this functionality.

[2022-06-17 05:56] engcom-November commented on #35620
Hi @FadedOut ,
It was reproducible to me on 2.4-develop branch but no exception/errors in logs were observed. I'll recheck the issue again and update the description.
Thank you.

[2022-06-17 06:02] phoenix-bjoern commented on #34566
Can reproduce the issue with Magento 2.4.4 + PHP 8.1 + ece-tools 2002.1.10.

[2022-06-17 06:39] npluimers commented on #35623
@magento give me 2.4-develop instance

[2022-06-17 06:40] nisha-vaghela commented on #35603
@magento i am working on this

[2022-06-17 06:58] engcom-Hotel commented on #35546
Hello @madonzy,

It seems the issue has been fixed in the latest development branch i.e. 2.4-develop. Shall we close this issue?

Thanks

[2022-06-17 07:12] glo71317 commented on #33697
Since long this issue is open. So, Internal team is started working on this and will complete soon

[2022-06-17 07:25] engcom-Hotel commented on #27474
Hello @norgeindian,

I will update you on this soon

Thanks

[2022-06-17 07:28] engcom-Dash commented on #35479
Hi @hostep ,
The issue Confirmed and we are also Getting Same results.
Here i Attached the Screenshot For your reference
![Screenshot from 2022-06-17 12-56-28](https://user-images.githubusercontent.com/60198592/174248117-c41f335c-b448-4c94-ad61-668dd99db221.png)

Thanks.

[2022-06-17 08:06] madonzy commented on #35546
@engcom-Hotel shell we remove that plugin at so?

[2022-06-17 08:38] artskirk commented on #34786
@magento I am working on this

[2022-06-17 08:39] artskirk commented on #34786
@magento add to contributors team

[2022-06-17 08:40] artskirk commented on #34786
@magento I am working on this

[2022-06-17 08:56] engcom-Alfa commented on #35262
Thanks for this!

[2022-06-17 09:43] engcom-Dash commented on #35534
@magento give me 2.4-develop instamce

[2022-06-17 11:11] engcom-November commented on #35560
Hi @in-session ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-17 11:11] #35560 closed, assigned to engcom-November

[2022-06-17 11:12] engcom-November commented on #35566
Hi @isxam ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-17 11:12] #35566 closed, assigned to engcom-November

[2022-06-17 11:20] engcom-November commented on #35610
Hi @jesse-deboer ,
"Puerto Rico" Country option cant be found in  'Allow Countries' under Stores -> Configuration -> General -> Country options as well in Magento 2.4-develop branch.
![image](https://user-images.githubusercontent.com/60198231/174288590-1fbd6e7e-4bd5-4e22-bd56-15b14da41b92.png)
Kindly recheck the issue on Magento 2.4-develop branch as it is having latest code base and upcoming 2.4.

[2022-06-17 11:57] Nuranto opened #35634 "Redis + Sentinel + PHP8"
### Preconditions and environment

- Magento version 2.4.4
- PHP8.1

Redis + Sentinel for session & cache

### Steps to reproduce

Launch a command or page that use session or cache

### Expected result

Everything's working fine

### Actual result

[code]

### Additional information

I reported the issue here : https://github.com/colinmollenhour/php-redis-session-abstract/issues/47

When it will

[2022-06-17 12:06] hoshiray opened #35635 "Magento 2.4.4 not loading address fields on checkout form after upgrading from 2.3.2"
### Preconditions and environment

- Magento version: 2.4.4

### Steps to reproduce

1. Add product to cart
2. Go to checkout

### Expected result

All checkout fields should be visible to customer.

### Actual result

Getting javascript errors

[code]

### Additional information

This also happens when using default Magento theme.
If I delete attribute `firstname` from `eav_attribute` table the e

[2022-06-17 12:31] jesse-deboer commented on #35610
@engcom-November I think I have found the issue. I did a new installation of Magento 2.4.4, but used an old database and thought Magento still considered Puerto Rico as a country since we have some customers that have addresses with 'PR' as country code.

Should the `_isUSCountry` inside `app/code/Magento/Shipping/Model/Carrier/AbstractCarrierOnline.php` and other references to U.S. Possessions an

[2022-06-17 12:36] engcom-November commented on #35604
Thanks for the update @mrtuvn
However, [monolog](https://github.com/Seldaek/monolog) is not part of https://github.com/magento/magento2 git repository. Community cannot able to provide fix for it in this repository.
As per Magento [devdocs](https://devdocs.magento.com/guides/v2.4/config-guide/log/log-magento.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=mono

[2022-06-17 12:48] convenient commented on #35604
@engcom-November

The facts
- Magento require version `^2.6` of  monolog, which means that 2.7.0 is the highest version that is installed when you `composer create project` of magento
- This means magento either needs to say `<=2.7.0` for their monolog requirement, or fix their code to be compatible.

Either way there is an action for magento here, when you build a version of latest magento from s

[2022-06-17 13:46] engcom-November commented on #35604
Verified the issue again by installing Magento 2.4.4 project-community-edition with PHP 8.1 but could not able to reproduce the issue with below steps performed:
1. Installed Magento 2.4.4 Project Community edition with PHP 8.1.6
2. Ran > composer require monolog/monolog:2.7.0 . (composer.json file got updated with "monolog/monolog": "2.7.0")
3. Ran > composer update
4. Ran > php bin/magento setup

[2022-06-17 14:40] engcom-Hotel commented on #35464
Hello @hoangss,

I think SSL support doesn't depend on an extension, it's already built into Ubuntu's PHP. We haven't installed it separately.

You can check it via the output of `<?php phpinfo() ?>`.

We have also rechecked the issue in another system without the MCrypt library and the Magento installation is successful.

I have also checked the [PHP Doc](https://www.php.net/manual/en/intro.mcryp

[2022-06-17 14:48] hoangss commented on #35464
Hi @engcom-Hotel

In earlier comment, I mentioned that I have both Sodium and OpenSSl installed and I still got the issue.

https://github.com/magento/magento2/issues/35464#issuecomment-1145880824

[2022-06-17 15:00] Nuranto commented on #35634
Your sentinel_master and sentinel_servers are empty. To reproduce, you need to fill them

[2022-06-17 15:05] devchris79 opened #35637 "Magento 2.4.4 missing Tier prices on product page"
### Preconditions and environment

Magento 2.4.4
PHP 8.1
Luma theme, but also missing on Porto

### Steps to reproduce

1, Add some tier pricing to a product
2, Flush the cache and expect to see the tier prices on the product page

### Expected result

Tier prices on the product page

### Actual result

Only the individual product price appears:
![Tier](https://user-images.githubusercontent.com/43

[2022-06-17 15:58] hostep commented on #35546
There's a discussion about this going on [in Slack](https://magentocommeng.slack.com/archives/CBSL1DF8B/p1655217428425559):

<img width="1126" alt="Screenshot 2022-06-17 at 17 57 42" src="https://user-images.githubusercontent.com/85479/174334323-e0af9f99-47e0-4c6a-8b4c-9c8c75d2cd4a.png">

So it's being looked into I hope 🙂

[2022-06-17 16:22] simonmaass commented on #33237
can confirm this for 2.4.4

[2022-06-17 22:05] pmonosolo commented on #35147
Hello,

This is a serious issue. This is still present on 2.4.3-p2

Due to recent move of Magento to use /pub as a root folder, the sitemap.xml generates the paths as:

[code]

When Google visits, the /pub/sitemap-1-1.xml it returns a 304 response for some reason and does not read the file.

![image](https://user-images.githubusercontent.com/66754347/174405990-835c39d9-2cd5-45ec-88d0-0b019eb2c29d.

[2022-06-17 22:06] pmonosolo commented on #35147
Another complication:
Apparently if you do not submit your sitemaps via Google Search Console, it will assume the URLs within the sitemaps need to use /pub path.

Here is a twitter thread from Google Engineers about this:
https://www.seroundtable.com/google-xml-sitemap-file-location-26348.html#:~:text=Sitemaps%20only%20Valid%20for%20their,sub%2Ddirectory....&text=Depending%20on%20how%20they%20were

[2022-06-17 22:19] pmonosolo commented on #35147
Moving to subfolder /pub/sitemap has no effect either.

@engcom-November Can you please re-visit / re-open this issue?

[2022-06-17 22:28] pmonosolo commented on #35147
I have tried:

- reducing the file size from 10MB to 5MB
- reducing the product number form 25,000 products to 20,000 products

Same result.

Flushing cache on Cloudflare, Magento also has no effect.

[2022-06-17 22:29] pmonosolo commented on #35147
The file structure is also correct. I have checked the files for integrity and XML formatting is correct.

[2022-06-18 07:07] alitopaloglu commented on #31167
I can reproduce this on v2.4.3-p2

[2022-06-18 11:37] Nuranto opened #35638 "Add to cart event : empty prices"
### Preconditions and environment

- Magento version 2.4.4

### Steps to reproduce

1. Add an observer for `checkout_cart_product_add_after`
2. In Observer, dump (or log if you prefer) the quote item price :

[code]

3. Add a product to cart

### Expected result

Dumps prices of added product

### Actual result

Prices are NULL

### Additional information

Seems related to https://github.com/magen

[2022-06-18 14:39] hostep commented on #35464
@hoangss: just out of curiosity, I've tried it myself as well without the mcrypt extension being installed.
And a clean installation of Magento 2.4.3-p2 with PHP 7.4.29 works just fine, no errors.

Here's my full php extensions list:

[code]

What I do notice as a difference, is that in my case, I'm seeing 1383 steps in the installation output, and you only get 1382 steps, so it sounds like one mo

[2022-06-18 14:39] gwharton commented on #35510
Apologies for butting in, but I have an integration that only uses SHA1. This has obviously stopped working since updating to 2.4.4 Are there any options for rolling back to support SHA1 in 2.4.4?

[2022-06-18 18:24] Nuranto opened #35639 "Crons parallelization management"
### Summary (*)

Magento 2.4.4

Crons groups that can be parallelized are launched via the main `cron:run` command. This can be a problem if that process is taking too long.

### Examples (*)

Use case :

Let's say you have one group `group_example` that have `use_separate_process` to `1`, where there is a job `job_example` that need to be executed every minutes.
Let's also say that the others gro

[2022-06-18 18:27] sprankhub commented on #35449
@magento I am working on this

[2022-06-19 14:12] ilnytskyi commented on #25987
related topic: https://github.com/magento/magento2/issues/35639

[2022-06-20 03:07] GamesmenJordan commented on #34887
Assuming that there are two products in the category with the entity ids of 1 and 1000 for instance and a batch size of 500. If product 1 has no stock and product 1000 has stock, you would expect to see product 1000, instead you will see no products. If both products have stock, then both products will appear.

The issue is that the testing steps say both product should be in stock, but this is no

[2022-06-20 04:26] swleighton commented on #12830
@magento give me 2.3.3 instance with ee

[2022-06-20 04:48] hoangss commented on #35464
hi @hostep
thank you for helping me. This is my PHP's extension list

[code]

Do you mind sharing your installation output? is that CE or EE version?

[2022-06-20 06:00] engcom-November commented on #35571
Hi @bartoszherba ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you

[2022-06-20 06:00] #35571 closed, assigned to engcom-November

[2022-06-20 06:05] hostep commented on #34887
@GamesmenJordan: out of curiosity, do you still see this incorrect behavior on Magento 2.4.4 or higher? Because it's supposed to be fixed in 2.4.4 as far as I know.

[2022-06-20 06:19] engcom-Hotel commented on #35574
Dear @tavantlaxmish,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-20 06:19] #35574 closed, assigned to engcom-Hotel

[2022-06-20 06:21] hostep commented on #35464
It's CE (which is called Open Source these days).
Just try setting up Magento 2.4.3-p2 again from scratch, maybe some dependency got some newer version and that bumps the number by one?

If you still run into the same problem when the mcrypt extension is not installed, try debugging [these lines](https://github.com/magento/magento2/blob/2.4.3-p2/lib/internal/Magento/Framework/Encryption/Encryptor.

[2022-06-20 06:24] engcom-Hotel commented on #35237
Dear @deepeshjain2011,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-20 06:24] #35237 closed, assigned to engcom-Hotel

[2022-06-20 06:54] hoangss commented on #35464
hi @hostep
According to this comment: https://github.com/magento/magento2/issues/35464#issuecomment-1124892017
I tried to debug, IIRC It seems doesn't return the Mcrypt instance, It used OpenSSL to decrypt and the data returned by `processValue()` is `false` (in the image)
And then it throw the exception
```rtrim() expects parameter 1 to be string, bool given#0 /var/www/mc243p2/vendor/magento/fram

[2022-06-20 07:10] ssx commented on #35510
@gwharton patch the file to revert to SHA1:

[code]

[2022-06-20 08:57] doldersma commented on #34780
Hello,
with the update to Magento 2.4.4 it is by default now forbidden to use the integration access token as bearer token. The main reason is the security aspect.
But now we are forced to use the oAuth 1.0a implementation of Magento, which is deprecated.

When can we expect the oAuth 2.0 implementation in Magento 2?

[2022-06-20 09:24] ilnytskyi opened #35642 "Async API does not log request details like IP address, Headers"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. Place request with async API
2. Check table `magento_operation`

### Expected result

1. In case of it's async REST api request, the system logs additional details of request like headers, ip address etc
2. Consumer can have access to operation related data

[2022-06-20 10:35] gwharton commented on #35510
Cheers for that. I can confirm that applying the patch does indeed revert the change back to SHA1.

[2022-06-20 11:37] phoenix-bjoern commented on #35451
@hostep @engcom-Hotel yes, seems https://github.com/magento/magento2/commit/04355acb53d34dd0d57ab25399d858739a2787b2.patch is solving the problem and issue can stay closed!
I assume this will be part of 2.4.5 then.

[2022-06-20 12:02] engcom-Delta commented on #35522
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-20 12:02] #35522 closed, assigned to engcom-Delta

[2022-06-20 12:16] engcom-Delta commented on #35595
Hi @NickvdMeij ,

Thank you for raising an issue and need your assistance on rest api for optionId.
Kindly confirm below rest api what we have tried for updating.

<img width="1440" alt="Screenshot 2022-06-20 at 5 35 23 PM" src="https://user-images.githubusercontent.com/51681379/174599422-726a22c5-393a-4490-b2d0-aad8d2105984.png">

From Frontend options for bundle product:

<img width="1331" alt="

[2022-06-20 12:31] engcom-November commented on #35634
Verified the issue again on Magento 2.4-develop branch by filling sentinel_master and sentinel_servers values but could not able to reproduce the issue:
![image](https://user-images.githubusercontent.com/60198231/174601180-92871ed6-76e9-4a4a-b8cb-b732f10c08ef.png)
Kindly recheck the issue on Magento 2.4-develop branch and provide missing configuration details if any if the issue is still reproduci

[2022-06-20 12:39] engcom-November commented on #35604
Verified the issue again on Magento 2.4.4 Project community edition with PHP 8.1.6 and the issue is reproducible on installing data-migration-tool.
Error:
PHP Fatal error:  Declaration of Migration\Logger\Logger::addRecord(int $level, string $message, array $context = []): bool must be compatible with Monolog\Logger::addRecord(int $level, string $message, array $context = [], ?Monolog\DateTimeImmu

[2022-06-20 13:32] engcom-November commented on #35637
@magento give me 2.4-develop instance

[2022-06-20 14:09] stormbyte opened #35644 "Magento 2.4.4 + PHP 8.1 Deprecated Functionality: strtolower"
The default value off `null` is no longer valid for php 8.1
https://github.com/magento/magento2/blob/28c1f28a2552de69158b40d1eaf84e45430c16f9/lib/internal/Magento/Framework/Setup/Declaration/Schema/Declaration/SchemaBuilder.php#L318

[code]
The default value should be an empty string or `AdapterInterface::INDEX_TYPE_INDEX`
As stated in:
`/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php:3482`

[2022-06-20 14:14] stormbyte commented on #35644
This happend when upgrading to magento 2.4.4
The current installation already had custom modules with a `db_schema.xml`

Here the index has no `indexType` but default is no longer valid
Example
[code]

[2022-06-20 14:20] MaksSum41 commented on #30794
@magento I am working on this.

[2022-06-20 14:22] MaksSum41 commented on #30794
@magento I am working on this.

[2022-06-20 14:32] engcom-November commented on #35637
Hi @devchris79 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/174624733-c6ec5f53-24cf-44e7-842a-ecb18bd364ff.png)
Kindly recheck the issue on Magento 2.4-develop branch as its the upcoming 2.4.x release and provide missing steps if any if the issue i

[2022-06-20 16:56] VladimirZaets opened #35646 "Test issue"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-06-20 17:45] hugo-lopez-tg opened #35647 "Advanced Reporting 404 message Magento"
### Preconditions and environment

- Magento 2.3.6
- I have enable the adavanced report but not function, i get error 404

### Steps to reproduce

Generate Advanced Reporting

### Expected result

Generate advanced report

### Actual result

Error 404

### Additional information

I have enable advanced report and the url run in https
![Captura de pantalla 2022-06-20 a la(s) 12 43 26](https://user-

[2022-06-20 17:50] devchris79 commented on #35637
@magento give me 2.4-develop instance

[2022-06-20 17:59] 0m3r opened #35648 "[Magento 2.4.4] "Deprecated: trim(): Passing null to parameter #1 ($string) of type string is deprecated in vendor/magento/module-media-storage/App/Media.php on line 151" on PHP 8.1"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1

### Steps to reproduce

open any media product url
with a broken hash part for example

https://magento244.local/media/catalog/product/cache/5b24c4f144260a7079d205d24e377432/u/g/ug07-bk-1.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover

### Expected result

404 image

### Actual result

[code]
![Screenshot from 2022-06-20 20-5

[2022-06-20 18:14] #35648 closed, assigned to nobody

[2022-06-20 18:14] devchris79 commented on #35637
Hi @engcom-November I can't reproduce in the 2.4-develop instance. Can you tell me what PHP version the instances use?
I am on the recommended 8.1, but may be able to test another version tomorrow.

[2022-06-21 04:20] bashizee opened #35649 "Magento graphql doesn't provide enough detail to show pricing in frontend where dynamic pricing is set as no with discount price"
### Step to reproduce
* create a bundle product in Magento.
* Set Dynamic Price as "No"
* In advanced pricing, add special price with some percent in discount
* Add different options for bundle products with individual pricing for products in option.

### Data provide in graphql for pricing.
* price range for the main product
* price and price_type for the options
* price range for products inside

[2022-06-21 06:45] engcom-Dash commented on #35535
Dear @khoimm92 ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-06-21 08:35] Eddcapone opened #35650 "Add dynamic class to body"
### Summary (*)

I need to load a value from PHP and put it into the body tag in the DOM.
There is no example in the [documentation ](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/xml-manage.html#layout_body_attributes) how it is done or if there is a way to do it.

### Examples (*)

**app/code/X/Y/view/frontend/layout/default.xml**:

[code]

### Proposed solution

?
---
Pleas

[2022-06-21 08:44] speedupmate commented on #24618
Your only option is to resubmit this ticket if this still happens

[2022-06-21 08:48] engcom-Hotel commented on #35650
Hello @Eddcapone,

We request you to please elaborate more on this issue:

- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-06-21 09:08] artskirk commented on #33572
@magento I am working on this

[2022-06-21 09:09] devchris79 commented on #35637
@engcom-November I have this morning tried with PHP 7.4, re-index, clear cache and the tier prices appear. Switch to PHP 8.1, re-index, clear cache and they disappear.

[2022-06-21 09:26] engcom-November commented on #35266
@magento give me 2.4-develop instance

[2022-06-21 10:13] sertlab opened #35651 "MessageList JS component: Error message appears, then hides, then re-appears in checkout."
### Preconditions and environment

- Magento version 2.4.4 commerce edition

I Followed this tutorial to add a custom validation in the checkout.
https://developer.adobe.com/commerce/php/tutorials/frontend/custom-checkout/add-order-validation/

I Found out that the error message that is printed by `Magento_Ui/js/model/messageList` component component appears, then is hidden (with a ‘blind’ effect)

[2022-06-21 10:18] m2-assistant[bot] opened #35652 "[Issue] Passed value has correct type"
This issue is automatically created based on existing pull request: magento/magento2#35352:  Passed value has correct type

---------

### Description (*)

This PR fix wrong type for value which was passed to `setReloadAclFlag`  https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/User/Model/User.php#L28

int value should be passed

[2022-06-21 10:18] engcom-Hotel commented on #35647
@magento give me 2.4-develop instance

[2022-06-21 11:34] #23938 closed, assigned to engcom-November

[2022-06-21 11:40] engcom-November commented on #35583
Hi @lealemoel ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.
Thank you.

[2022-06-21 11:40] #35583 closed, assigned to engcom-November

[2022-06-21 11:42] engcom-November commented on #35472
Hi @webgility-amazonapi ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-21 11:42] #35472 closed, assigned to engcom-November

[2022-06-21 11:55] JelleGe commented on #35581
Same issue over here, please reopen this issue

[2022-06-21 12:19] artskirk commented on #33572
PR: https://github.com/magento/magento2/pull/35654

[2022-06-21 12:23] artskirk commented on #34786
PR: https://github.com/magento/magento2/pull/35643

[2022-06-21 12:35] engcom-Delta commented on #35323
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-21 12:35] #35323 closed, assigned to engcom-Delta

[2022-06-21 12:40] rubenelshof opened #35655 "Missing languages when installing / upgrading"
### Preconditions and environment

- Magento version 2.4.4
- Anything else that would help a developer reproduce the bug
PHP version 8.1.7

### Steps to reproduce

Installing Magento with the following commands:
`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .`

`bin/magento setup:install \
--base-url=http://magento-ce.test \
--db-host=: --db-

[2022-06-21 12:44] engcom-Hotel commented on #35638
Hello @Nuranto,

Thanks for the report and collaboration!

We have tried to reproduce the issue and the issue is reproducible for us with the mentioned steps in the main description.

Hence confirming the issue.

Thanks

[2022-06-21 13:00] engcom-Hotel commented on #35594
Hello @MagePsycho,

I have followed the same way. Please consider the screencast in this https://github.com/magento/magento2/issues/35594#issuecomment-1150877551. I need to ask about the use case where the functionality is breaking for you.

Thanks

[2022-06-21 13:05] MariyaKlimenko commented on #30316
Still reproduces on multi-store

[2022-06-21 13:14] engcom-November commented on #35637
Hi @devchris79 ,
Verified this issue on Magento 2.4-develop branch with PHP 8.1 version as well but still could not able to reproduce the issue. Prices are displayed as expected even after reindex / cache flush
![image](https://user-images.githubusercontent.com/60198231/174808100-1b6b4c85-7607-4956-9438-0561a4059e37.png)

[2022-06-21 13:37] #35637 closed, assigned to engcom-November

[2022-06-21 13:40] engcom-Delta commented on #35626
Hi @Bartiema ,
Thank you for raising an issue and we tried to reproduce the issue on magento 2.4 develop instance . but we need to clarify step 4 , What is would be dropdown value selected to ' NO' or 'Optional' or 'Required ' ?

Please confirm  and correct me if understanding was wrong.

Scenario 1:
When we set Show prefix 'No' & either check box is checked or not unchecked , Prefix field will no

[2022-06-21 13:59] HenKun commented on #35647
@magento give me 2.4-develop instance

[2022-06-21 14:01] engcom-November commented on #35610
Hi @jesse-deboer ,
Thank you for your response. Current Magento 2.4-develop behavior is, Gaum is consider as Country and _isUSCountry inside app/code/Magento/Shipping/Model/Carrier/AbstractCarrierOnline.php and other references to U.S. Possessions and Trust Territories were not deprecated. We are closing this issue as non issue. Kindly reopen / create new issue if you are still facing any issues.

[2022-06-21 14:01] #35610 closed, assigned to engcom-November

[2022-06-21 14:33] Eddcapone commented on #35650
## Information on your environment

Ubuntu 20.04; Magento 2.4.2

## Steps to reproduce

Try to load a value from PHP into the body tag, .e.g try to load the store view code and add it to the body element in the DOM.

app/code/X/Y/view/frontend/layout/default.xml:

[code]

## Expected and actual results:

### Expected:

I expected that there is a way to load a value from server into this field, e.g

[2022-06-21 14:47] engcom-Hotel commented on #35464
Thanks, @hostep for the guidance.

Hello @hoangss,

We have tried to debug the issue as per this https://github.com/magento/magento2/issues/35464#issuecomment-1160022835 and add a breakpoint in the `getCrypt` method at line no. 517 and 538. As we can see, it always returns the `SodiumChachaIetf` object and does not break on line 538.

Thanks

[2022-06-21 14:47] engcom-November commented on #35591
Hi @zxiaoh ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. info_buyRequest in  quote_item_option db table is not removed. Could not find additional_options in db tables
![image](https://user-images.githubusercontent.com/60198231/174828767-ae4a2dda-c27e-4e12-b584-59e5c3b81790.png)
Kindly recheck the behavior on

[2022-06-21 14:51] usman786cs commented on #32267
I get this error when I try to upload a CSV file from admin
"Path "var//import/od_redirects_13.csv" cannot be used with directory "pub/media/"
"

Please give clues to fix this error.
Exception comes in file

vendor/magento/framework/Filesystem/Directory/PathValidator.php::LINE#60

[2022-06-21 14:55] engcom-Delta commented on #35647
Hi @hugo-lopez-tg ,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could able to reproduce the issue.please refer the screenshots. Hence issue confirmed.

![Screenshot (206)](https://user-images.githubusercontent.com/51681379/174830142-a44e47a1-89e1-4cb5-8aaf-2f5b88441e11.png).

![Screenshot (207)](https://user-images.githubusercontent.com/51681379

[2022-06-21 15:00] #34294 closed, assigned to engcom-November

[2022-06-21 15:27] cwwhisperpumps commented on #34269
I am also experiencing this issue, can someone please assist in how it was resolved? I apologise, I am not a developer so would appreciate simplified help if possible?

[2022-06-21 20:52] simonmaass commented on #34294
Also running magento in Germany and absolutely agree @chequille

[2022-06-22 06:18] ubedrajput opened #35657 "Type Error occurred when creating object: Magento\Framework\Communication\Config\Data, Argument 2 passed to Magento\Framework\Reflection\TypeProcessor::resolveFullyQualifiedClassName()"
magento ver 2.4.4
magento2 upgrade 2.4.4 i m doing setup upgrade give this type of error
Type Error occurred when creating object: Magento\Framework\Communication\Config\Data, Argument 2 passed to Magento\Framework\Reflection\TypeProcessor::resolveFullyQualifiedClassName() must be of the type string, null given, called in /var/www/test.test/public_html/vendor/magento/framework/Reflection/TypeProce

[2022-06-22 07:05] engcom-Dash commented on #35623
@magento give me 2.4-develop instance

[2022-06-22 07:07] engcom-Dash commented on #35534
@magento give me 2.4-develop instance

[2022-06-22 07:08] engcom-Dash commented on #35578
@magento give me 2.4-develop instance

[2022-06-22 07:43] engcom-Delta commented on #35320
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-06-22 07:43] #35320 closed, assigned to engcom-Delta

[2022-06-22 07:54] bkristl opened #35659 "Indexer error"
### Preconditions and environment

I have get this error on Magento 2.4.3, PHP 7.4.29, MYSQL 8.0.21.

### Steps to reproduce

When i have _run CLI command_ **bin/magento indexer:reindex** (also **bin/magento setup:upgrade**) i **get error**:

`
SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'created_in' used in key specification without a key length, query was: CREATE TAB

[2022-06-22 08:34] engcom-Delta commented on #35626
Hi @Bartiema ,
Thank you for quick reply and for providing the detailed steps . We tried again on Magento 2.4 develop instance , issue is reproducible. Hence issue has been confirmed.

<img width="1440" alt="Screenshot 2022-06-22 at 1 48 46 PM" src="https://user-images.githubusercontent.com/51681379/174982863-f9a940d7-05b4-4ef5-b820-e6ccac5b8a3d.png">

<img width="1440" alt="Screenshot 2022-06-22

[2022-06-22 08:35] alaaabbadi93 commented on #12512
if you want to disable this feature, create a new module and add the following line in your di.xml
`<type name="Magento\Directory\Model\AllowedCountries">
        <plugin name="customerAllowedCountries" type="Magento\Customer\Model\Plugin\AllowedCountries" disabled="true"/>
    </type>`

[2022-06-22 08:43] engcom-Hotel commented on #35548
Dear @qsolutions-pl,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-22 08:43] #35548 closed, assigned to engcom-Hotel

[2022-06-22 09:30] engcom-Dash commented on #35578
Hi @peteracs ,
We are Getting Same Results Like the performance drops occurred. so We are Confirming the Issue.
Here i Attached Screenshot For Reference.
![Screenshot from 2022-06-22 14-54-54](https://user-images.githubusercontent.com/60198592/174995242-0b02faef-a6c9-457d-8f8e-0ccdeeeaab29.png)

[2022-06-22 09:42] sheepfy commented on #35149
@OPielech @engcom-Hotel
Hi.
I can provide stepts of how to reproduce this issue. It's happening all the time, and it's not only the "mysql deadlock expection" there.

I am using "siege" (here some siege info: https://linuxhint.com/install-siege-ubuntu/)

Well, setup some magento with some products, then run this siege, with at least 2 or more, (i used 10) requests at a time:
"""
siege -c 10 -f ~/D

[2022-06-22 09:43] dhanisuhendra30 commented on #12777
thanks bro your save my life

[2022-06-22 09:48] OvalMedia commented on #2797
2.4.3-p1 And still not fixed.
The idea behind it is not based on real world problems. In my case I created a new subtheme that would be used in a new feature. This theme was supposed to be scheduled automatically. I relied on my deployment script to take care of installing the new theme and just by chance i saw it wasn't there. The automatic scheduling would have hit a brick wall.

But I assume si

[2022-06-22 10:07] artskirk commented on #35223
@magento I am working on this

[2022-06-22 10:28] OvalMedia opened #35661 "Unable to add custom view model to a core block"
### Summary (*)
I want to add custom functionality to the core block `Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist`  which is referenced as `view.addto.wishlist` in the layout file `catalog_product_view.xml`

Since that block extends `Magento\Framework\View\Element\Template` (not directly though) I thought it would by smart to reference `view.addto.wishlist` in my own layout and add

[2022-06-22 10:37] m2-assistant[bot] opened #35662 "[Issue] Fix wrong credit card type comparation"
This issue is automatically created based on existing pull request: magento/magento2#34775: Fix wrong credit card type comparation

---------
### Description

Fix wrong credit card type comparation

`if (cardInfo.title == allowedTypes[i].type)` is incorrect comparation. `cardInfo.title` will be 'Visa', 'Master',.... but `allowedTypes[i].type` is VI, MC,...

[2022-06-22 10:41] mrtuvn commented on #35650
most of case you should want to static class for styling from frontend
For the dynamic case i think you can't do it by xml. It's should place with php/phtml/js

[2022-06-22 11:01] engcom-November commented on #35590
Hi @Stoyvo ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-22 11:01] #35590 closed, assigned to engcom-November

[2022-06-22 11:03] engcom-November commented on #35581
Hi @JelleGe ,
Can you please provide missing steps / configuration details as we are unable to reproduce on 2.4-develop branch with provided steps/ description.
Thank you.

[2022-06-22 11:28] JelleGe commented on #35581
Hi @engcom-November,

The steps are the same to reproduce on a Magento 2.4.3-p1 install

[2022-06-22 11:32] engcom-Dash commented on #35623
@magento give me 2.4-develop instance

[2022-06-22 11:54] engcom-November commented on #35620
Verified the issue again on clean magento 2.4-develop instance with PHP 8.1 version but could not able to reproduce the issue. Login to both admin and frontend using existing and new customers working fine with no issues.
@stradd , please recheck the behavior on 2.4-develop branch and elaborate steps / missing configuration details if you are still facing any issues.
Thank you.

[2022-06-22 11:59] engcom-November commented on #35657
Hi @ubedrajput ,
Thank you for reporting and collaboration. Verified the issue by installing 2.4.4 Project-community-edition with PHP 8.1 version and performed setup:upgrade but could not able to reproduce the issue. Kindly recheck the issue as per [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) and elaborate configuration details / any 3rd party

[2022-06-22 12:40] engcom-Delta commented on #35649
Hi @bashizee ,
Thank you for raising an issue and Kindly provide actual results, expected results ,graphql endpoints and screenshots if required.
Regards,

[2022-06-22 13:14] Citizen4our commented on #35297
`bin/magento config:set system/security/max_session_size_admin 2560000`

This one works for me. Thanks

[2022-06-22 14:04] stradd commented on #35620
I've now got libsodium running on Plesk.
After that, everything in the frontend and admin area worked perfectly again

[2022-06-22 14:29] engcom-Hotel commented on #35313
Hello @hostep,

Thanks for the support!

Hello @evolbug,

We have tried to reproduce the issue by following this https://github.com/magento/magento2/issues/35313#issuecomment-1146795806. But for us, the issue is still not reproducible.

We are able to reauthorize the integrations but we have observed that after the upgrade `Consumer Secret` is looks like below:

<img width="1263" alt="image" src="

[2022-06-22 14:46] twosg commented on #23938
That is totally fine for the order. But a credit memo and a invoice are different documents and should have their own tax calculated according to the contents (items) of the invoice or credit memo.

[2022-06-22 14:56] npluimers commented on #35623
Hi @engcom-Dash, we noticed this issue in the following use case:

- We sell a number of products with the same name, but different SKU's (and different attributes).
- These products are collected under a configurable product.
- The default URL key for the parent and sub-products are the same (`test` in the example).
- When we want to enable a sub-product (with the visibility still being Not visib

[2022-06-22 15:03] Thirumalbalu opened #35663 "Magento 2.4.4 - The message was tampered with in transit (Customer Reset Password and customer grid not loading issue fixed)"
https://github.com/magento/magento2/blob/28c1f28a2552de69158b40d1eaf84e45430c16f9/app/code/Magento/Customer/Model/ResourceModel/Customer.php#L245

Magento 2.4.4 / PHP 8.1

Customer Reset Password and customer grid not loading issue fixed.
If we use
$customer->setRpToken($this->encryptor->encrypt($rpToken));
 instead of this
$customer->setRpToken($this->encryptor->decrypt($rpToken));
It's working f

[2022-06-22 16:28] fvlasie commented on #35604
This also occurs with PHP 7.4...
<img width="679" alt="Screenshot 2022-06-22 at 9 27 55 AM" src="https://user-images.githubusercontent.com/33334298/175086215-7b757bed-d15c-48d0-af2f-2bb1387965d8.png">

[2022-06-22 16:36] fvlasie commented on #35604
Confirming that composer `require monolog/monolog:2.6.0` fixed the issue.

[2022-06-22 16:46] evolbug commented on #35313
@engcom-Hotel the garbled consumer secret is a reproduction of the issue, this is due to the secret not being encrypted in the migration

[2022-06-22 16:53] YiffyToys commented on #35313
Exactly.
A correct consumer secret would only ever contain lower ASCII character (as you must be able to type it into a client configuration).

[2022-06-22 16:54] YiffyToys commented on #35313
Exactly.
A correct consumer secret would only ever contain character allowed in HTTP headers.

[2022-06-22 18:51] ericerway commented on #30835
@magento give me 2.4.4 instance

[2022-06-22 20:22] hostep commented on #35657
Does the [following comment](https://github.com/magento/magento2/issues/22773#issuecomment-1111790015) help in finding a solution @ubedrajput?

[2022-06-22 20:57] Den4ik opened #35664 "DI configuration extend logic"
### Summary (*)

`\Magento\Framework\ObjectManager\Config\Compiled::extent` replace same key elements from previous configuration by next loaded configuration. For example `global` configuration will be replaced by `frontend`.
But in fact it means that configuration from one module could be lose due to another area configuration from another module.

### Examples (*)

ModuleA describe arguments fo

[2022-06-22 20:59] ioweb-gr opened #35665 "Wrong price calculation for bundle products"
### Preconditions and environment

- 2.4.1

### Steps to reproduce

Create a simple product with price 6.75

Create a bundle product which is consisted of 18 pieces of the simple product and add a price of 95% to the bundle product.

The final price that magento calculates is 115.38 which is wrong

### Expected result

The price rounded is 115.43 (115.425)

### Actual result

The price is 115.38

[2022-06-23 03:50] bashizee commented on #35649
Hi @engcom-Delta ,

Data send from magento doesn't have enough information.
product query
[code]

Query should contain extra fields, which can be  main_price & main_final_price.

[code]

[2022-06-23 04:16] bashizee commented on #35649
https://user-images.githubusercontent.com/44311317/175206512-55dffc6e-7339-4a42-a0fc-3c6c8f299752.mp4

you can see in the above video, that the main price of the bundle is 50$.  which is not available in graphql.

https://user-images.githubusercontent.com/44311317/175206672-a93c41e2-022b-48e1-b28a-d9d39f106bfa.mp4
here:
for first dropdown
$50(main price)  +  $10(first dropdown price available in g

[2022-06-23 04:33] FadedOut commented on #35620
@stradd Glad to hear you got it sorted out - I had a feeling it was because of libsodium.

[2022-06-23 04:48] bashizee commented on #35649
This is one quick solution, which helped me

[code]
Resolver:
[code]

[2022-06-23 06:11] engcom-Hotel commented on #35313
Hello @evolbug @YiffyToys,

Thanks for the reply!

I am confirming the issue for further process.

Please refer to this https://github.com/magento/magento2/issues/35313#issuecomment-1163177171 for more information.

Thanks

[2022-06-23 06:42] constancyGmbH commented on #23938
I agree with @twosg
Say we have an order of a total of 50$. If tax is 19%, ordertax should be 7,98$.
If I refund 10$ the tax on the creditmemo should state 1,60$, regardless of the tax that is calculated in the order.
Like @twosg said, it is not necessary to recalculate the ordertax, just the tax stated on the creditmemeo should be correct!

[2022-06-23 06:48] WebKenth opened #35666 "Backwards compatability PHP 8.1 Magento 2.4.4 Patches"
### Summary (*)
Greetings! i am developer from a company which focuses on Magento shops, we have al ot of customers and have slowly begun updating them all to 2.4.4 with php8.1 and have found some interesting points which could become a baseline for introducing a new requirement on accepting Pull Requests. ( mainly defensive programming )

Usually updating/upgrading a magento platform is straight

[2022-06-23 07:04] abdulsamadabbasi786 commented on #35013
Any update on this issue? I can reproduce it on 2.4.3 p1.

[2022-06-23 07:24] pvalium commented on #23938
Agree totally with @constancyGmbH

[2022-06-23 07:29] niekappartmedia commented on #11941
Problem still exists in 2.4.3-p1

[2022-06-23 07:37] rvr-robert commented on #35070
@magento I am working on this

[2022-06-23 07:38] rvr-robert commented on #35070
@magento add to contributors team

[2022-06-23 07:39] engcom-Dash commented on #35665
@magento give me 2.4-develop instance

[2022-06-23 07:40] rvr-robert commented on #35070
@magento I am working on this

[2022-06-23 07:40] engcom-Dash commented on #35665
@magento give me 2.4-develop instance

[2022-06-23 07:58] kassner opened #35667 "Admin reset password link broken"
### Preconditions and environment

- Magento 2.4.4
- Multiple websites and stores

### Steps to reproduce

1. Enable settings Add Store Code to Urls
2. Create 2 new website with each 1 store view
3. Create new admin user
5. Click `Forgot your password?` link in the admin login page;
6. Input your e-mail and submit;
7. Click the link in the email.

### Expected result

Form to reset the password

#

[2022-06-23 07:58] kassner commented on #35667
@magento give me 2.4-develop instance

[2022-06-23 08:06] kassner commented on #35667
Reverting the changes from https://github.com/magento/magento2/commit/f19611c1bc8b7a18a03ef8098adc36e8d62a7b1f makes it work again.

[2022-06-23 08:11] jorgb90 opened #35668 "Deprecated Functionality: strtoupper(): Currency.php"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1

### Steps to reproduce

Deprecated functionality

### Expected result

PHP 8.1 support.

### Actual result

Not supported.

### Additional information

1 exception(s):
Exception #0 (Exception): Deprecated Functionality: strtoupper(): Passing null to parameter #1 ($string) of type string is deprecated in /home/xxx/public_html/vendor/mage

[2022-06-23 08:13] engcom-Dash commented on #35665
@magento give me 2.4-develop instance

[2022-06-23 08:18] engcom-Dash commented on #35623
@magento give me 2.4-develop instance

[2022-06-23 08:21] Zaahed commented on #34957
@magento I am working on this

[2022-06-23 09:20] engcom-Dash commented on #35623
@magento give me 2.4-develop instance

[2022-06-23 10:34] tropilex commented on #23938
@constancyGmbH is right. There should always be tax calculated on the adjustment fee. Or (as a suggestion) it must be possible to adjust the product price on the credit invoice. So Magento can use the tax setting for that product. And we do need to use the adjustment fee.

[2022-06-23 10:39] phoenix-bjoern commented on #22198
We can reproduce this issue with Magento 2.4.4 + PHP 8.1. It is not related to OpCache (we uninstalled the module). In our scenario the error occurs at the very end of the `setup:install` routine where the maintenance mode gets disabled and the `Magento\MessageQueue\Model\Plugin\ResourceModel\Lock` plugin gets triggered. The class `Magento\MessageQueue\Model\ResourceModel\Lock` gets instantiated w

[2022-06-23 11:12] duckchip commented on #35616
@rob-gonz We are experiencing some very similar issues on 2.4.3-p2 with a product database of 30K products
Would you mind sharing the patch you applied?

Thx!!

[2022-06-23 11:46] engcom-Dash commented on #35665
Hi @ioweb-gr ,
We are getting Actual results...We are getting  price is 115.38 as well as the issue is confirmed.

Here i attached the Screenshot for reference.
![Screenshot from 2022-06-23 15-30-15](https://user-images.githubusercontent.com/60198592/175291054-f879d022-638a-4a9d-8e6a-45aa12112f95.png)

[2022-06-23 11:47] engcom-Dash commented on #35623
@magento give me 2.4-develop instance

[2022-06-23 11:54] ihor-sviziev commented on #35319
Looks like this issue was fixed in https://github.com/magento/magento2/commit/d255ba3fb31db0bea0f8b9fea96d33a85cf5e091
@FadedOut @engcom-November, could you confirm that?

[2022-06-23 11:54] AlexWorking commented on #13433
@all Hi there. I have this issue reproduced on 2.4.3 . Can anyone give me a link to the fixing commit?

[2022-06-23 13:13] schnere opened #35670 "Meta tags auto generation: variables cannot be used multiple times"
### Preconditions and environment

- Magento 2.3.3 / Magento 2.4.2

### Steps to reproduce

1. Execute `bin/magento config:set catalog/fields_masks/meta_keyword '{{name}}, order {{name}}'` or set manually
2. Login to Magento2 Backend
3. Create a new product
4. Set product name to "NEW PRODUCT"
5. Check meta keywords

### Expected result

The meta keywords should be set to `NEW PRODUCT, order NEW P

[2022-06-23 13:14] artskirk commented on #33975
@magento I am working on this

[2022-06-23 15:27] shikhamis11 commented on #35648
@magento give me 2.4.4 instance with edition ee

[2022-06-23 15:28] shikhamis11 commented on #35648
@magento give me 2.4-develop instance

[2022-06-23 15:35] in-session commented on #35560
https://github.com/magento give me 2.4-develop instance

[2022-06-23 15:36] in-session commented on #35560
@magento give me 2.4-develop instance

[2022-06-23 15:38] in-session commented on #35560
@engcom-November did you use the PayPal Express Checkout or Braintree module here? The problem is with PayPal Express Checkout.

[2022-06-23 16:47] sdzhepa commented on #35629
For Confirming Issue someone from Maintainers or engcom squad
should verify and try to reproduce this issue and confirm it is a bug that should be fixed

[2022-06-23 18:39] FadedOut commented on #35319
@ihor-sviziev
I made the change listed in the commit you linked and it seems the reindexing of EAV is working as intended. Though, the change posted above from @mohammedTBB had worked for me as well - but this commit change looks more thorough (and proper) so I will stick with this implementation. So, thanks for linking that 👍.

@ihor-sviziev
The commit you linked to fixes the reindexing issue as

[2022-06-23 23:24] lbajsarowicz opened #35671 "Magento's `setup:db:status` fails with MySQL 8.0.29"
### Preconditions and environment

- Magento 2.4.4
- MySQL 8.0.29 and higher --- Server version: 8.0.29-0ubuntu0.20.04.3 (Ubuntu)

### Steps to reproduce

1. Set up Magento 2.4.4 following the requirements (https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html)
2. Execute `setup:upgrade`
3. Execute `setup:db:status`

### Expected result

Magento should report that the Databa

[2022-06-24 05:30] engcom-November commented on #35620
Thanks for the update @stradd. We are closing this issue as cannot reproduce on 2.4-develop branch.

[2022-06-24 05:30] #35620 closed, assigned to engcom-November

[2022-06-24 05:41] engcom-November commented on #35671
Hi @lbajsarowicz ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with php 8.1 and the issue is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/175469963-5edd2c5f-74d5-4678-8165-41ad3b6b8807.png)

[2022-06-24 05:55] engcom-Hotel commented on #35599
Dear @Tahermoti,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-06-24 05:55] #35599 closed, assigned to engcom-Hotel

[2022-06-24 06:41] engcom-Delta commented on #35655
Hi @rubenelshof ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Magento 2 is correctly installed with the language set to Dutch Language.

Please refer the screenshots:

![Screenshot (212)](https://user-images.githubusercontent.com/51681379/175477761-bd944566-bee3-41af-96cd-5733ac45b8d4.png)
![Screenshot (213)

[2022-06-24 07:31] artskirk commented on #34598
PR: https://github.com/magento/magento2/pull/35660

[2022-06-24 08:15] engcom-November commented on #35581
@JelleGe ,
Its recommended to verify issues on Magento 2.4-develop branch only as its the upcoming 2.4.x release and have latest code base. Can you please check on 2.4-develop branch whether you are still able to reproduce the issue.
Thank you.

[2022-06-24 08:18] devchris79 opened #35672 "Royal Mail click and drop integration no longer works with 2.4.4"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1

### Steps to reproduce

Follow [documented process](https://www.royalmail.com/sites/default/files/Integrating-your-Magento-V2-store-with-Click-and-Drop-Jan-19.pdf) from Royal Mail

### Expected result

Successful connection as we have achieved in Magento v2.4.3 and below

### Actual result

Browser Windows opens for login and the presen

[2022-06-24 09:05] Jarzebowsky commented on #22198
@phoenix-bjoern please check if you have `config.php` file in `app/etc/` directory when you try to run `setup:install`.

[2022-06-24 09:31] phoenix-bjoern commented on #22198
@Jarzebowsky yes, we definitely have `app/etc/config.php`. There is no `env.php` as it gets created by ece-tools on-the-fly on first deployment.

[2022-06-24 09:34] rubenelshof commented on #35655
Thank you for checking.
It appears to be an issue with my environment.
I will investigate further.

[2022-06-24 09:34] #35655 closed, assigned to engcom-Delta

[2022-06-24 09:34] Jarzebowsky commented on #22198
@phoenix-bjoern so that's the issue here. Removal of `app/etc/config.php` file resolves the issue. It can't exists when you try to install magento.

[2022-06-24 09:39] loic-paquin opened #35673 "Consumer - Cannot receive product alert emails"
### Preconditions and environment

- Magento version 2.4.4
- PHP 8.1
- Fix the issue  https://github.com/magento/magento2/issues/35602 since it will be executed first

### Steps to reproduce

- Enable product alert stock in BO (Configuration > Catalog >Product Alerts > Allow Alert When Product Comes Back in Stock > Yes)
- Select a Product without stock
- Register to a product stock alert
- Add sto

[2022-06-24 09:52] loic-paquin opened #35674 "Consumer - product alert emails are not translated"
### Preconditions and environment

- Magento version 2.4.4
- PHP 8.1
- Fix the issue  https://github.com/magento/magento2/issues/35602 since it will be executed first
- Fix also the issue  https://github.com/magento/magento2/issues/35673 since it will be executed first
- Install a language pack ( German , Fr ... doesn't matter)
-  Assign or create a store view with this language

### Steps to repr

[2022-06-24 10:00] Eddcapone commented on #35650
Thats a nice workaround, but it would be easier if you could add it through a helper without needing to create an observer.
Maybe you can consider this as a new feature in the future. There are other places where you can already use helpers in the layout.

e.g.

[code]

[](https://developer.adobe.com/commerce/frontend-core/guide/layouts/xml-instructions/)

[2022-06-24 10:16] engcom-November commented on #35670
Hi @schnere ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and is reproducible but however, this seems to be an expected behavior but not a bug.
As per Magento [docs1](https://docs.magento.com/user-guide/marketing/meta-data.html) and [docs2](https://docs.magento.com/user-guide/catalog/product-fields-autogenerated.html), each meta keywords tag should b

[2022-06-24 10:28] schnere commented on #35670
Hi @engcom-November ,

thanks for your reply.
So the expected behavior if i use for example `{{manufacturer}} {{name}} - {{manufacturer}} eCommerce` would be the following output: `Adobe Magento - {{manufacturer}} eCommerce` ?

Why would someone use a variable twice not expecting it to get replaced twice?

In my opinion there are use cases to use a variable in meta tags more than once, for example

[2022-06-24 10:32] poshyvailo commented on #35295
@magento give me 2.4-develop instanc

[2022-06-24 10:36] ni-bschmitt opened #35675 "REST API GET order request fails when Accept: application/xml for multibyte content"
### Preconditions and environment

Magento version: 2.4.3-p1

### Steps to reproduce

Create an order with an address containing multibyte characters (e.g. Trần Hưng Đạo, Hiệp Phú, Thành phố Hồ Chí Minh, Vietnam). Request the order via REST with `Accept: application/xml`, that will result in `An error has happened during application run. See exception log for details.`

`Accept: application/json`

[2022-06-24 10:39] ni-bschmitt commented on #35675
@magento give me 2.4-develop instance - upcoming 2.4.3 release

[2022-06-24 10:42] ni-bschmitt commented on #35675
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-06-24 11:30] adamlavery opened #35676 "Remove import column name character restrictions"
### Summary (*)

Model/Import/Entity/AbstractEntity restricts import column names to a-z (lowercase), 0-9 or underscore and must start with a-z (lowercase). Why? What is the point/value of this restriction?

### Examples (*)

[code]

### Proposed solution

Either:
1. Remove it.
2. Make this more flexible so we can use a-z, A-Z, 0-9, spaces and whatever symbols we want.
3. Add getValidatorPrereg()

[2022-06-24 12:02] MaksSum41 commented on #35638
@magento I am working on this

[2022-06-24 13:37] faisal-project commented on #34975
Issue is also happening on frontend  (Magento CE 2.4.4)

main.ERROR: Magento\Framework\Exception\InputException: Can not resolve reCAPTCHA parameter. in /vendor/magento/module-re-captcha-ui/Model/CaptchaResponseResolver.php:25

Is there any solution for frontend?

Thanks!

[2022-06-24 13:54] hubertus2017 commented on #30635
Hello,

its 24-06-2022
Magento 2.4.4 , same problem with originally bundled gene commerce Braintree...

[2022-06-24 15:36] engcom-Delta commented on #35647
Hi @hugo-lopez-tg,
We have gone through the similar issue and found that we should follow below points.

1. Time should be set correctly. Be carefully with Timezones in your system and magento
2. CRON should be configured
3. synchronization could take several hours

in general, there are a couple of main rules:
1. Magento Store URL should be available from the internet(not only for localhost or so

[2022-06-24 16:39] gwharton commented on #35100
Feels like php 7.4 allover again.

[2022-06-24 16:58] devchris79 commented on #35672
Thanks Graham, that's worked a treat. I will try to contact Royal Mail on Monday.

[2022-06-24 16:59] #35672 closed, assigned to nobody

[2022-06-24 17:06] cctorres commented on #34269
@cwwhisperpumps the same in Magento 2.4.4. @magento-admin

[2022-06-24 17:19] Thirumalbalu commented on #35663
vanilla magento instance working fine.

I think i have issue in my custom modules.
let me check from our side.

[2022-06-24 19:46] kassner commented on #35667
Maybe because my installation has a custom admin path? We observe that in my case there is an “admin” before the custom path, when it shouldn’t.

[2022-06-24 20:06] fvlasie opened #35679 "Submit Order Button Unresponsive in Magento Admin"
### Preconditions and environment

- Magento version: 2.4.4
- Anything else that would help a developer reproduce the bug:
After filling all the required information the Submit Order button does not repond in /index.php/admin_XXXX/sales/order_create/index/key/XXXX/

### Steps to reproduce

1: Go to Sales > Order
2: Create New Order
3: Select Customer
4: Fill in products, address, payment, shipping

[2022-06-24 20:35] phoenix-bjoern commented on #22198
@Jarzebowsky is that a philosophical question? OFC it can exist. There can also be 3rd party modules and the config.php tells which modules are enabled and which are not. What does not exist are the database tables.
But thanks for the hint, will do some tests to see if it changes the behavior.

[2022-06-25 09:15] VuThuan commented on #22409
Hi @magento-engcom-team this bug. Do you have any idea ?

[2022-06-25 09:26] DinkoIlicic commented on #32626
I managed to reproduce the issue on Default Magento 2.4.4 version. The issue is a bit specific:
The project has to have the following module replaced/removed "magento/module-inventory-sales", in my case I have removed all the module-inventory modules.

Additionally, it only affects simple product types, by following the provided steps. The posted solution is resolving the issue as well.

[2022-06-25 10:47] jakwinkler opened #35680 "Order processing events defined in etc/frontend/events.xml won't work in production mode, works in development mode"
### Preconditions and environment

- Magento version: 2.4.3-p1

### Steps to reproduce

1. create a new module
2. add an event for the frontend related code part: `etc/frontend/events.xml` and add an observer
[code]
or any event related to order processing / getting order data

[code]

3. Log order data somewhere
[code]

5.

* ENABLE PRODUCTION MODE *

### Expected result

I can see the logged inf

[2022-06-25 20:39] fvlasie commented on #35679
@magento give me 2.4-develop instance

[2022-06-25 22:58] heyepic commented on #34975
I also updated a site from 2.4.3-p1 to 2.4.4 and now the admin doesn't display captcha and I cannot get into the admin panel.  Nothing in my logs to go off of either. Super frustrated as I've spent too much time trying to figure out why. Didn't have issues like this prior - any ideas as to what's going on?

[2022-06-26 03:00] achatpc commented on #35639
Same issue on 2.4.3-p2 version

[2022-06-26 09:26] warednsour commented on #12777
You are welcome bro, glad to help!

On Wed, Jun 22, 2022 at 12:43 PM DHANI SUHENDRA ***@***.***>
wrote:

[2022-06-26 14:15] hassanas commented on #7730
experienceing same issue in 2.4 as well why issue closed ?

[2022-06-26 18:45] key-dev opened #35681 "Unable to compile the code"
### Preconditions and environment

- Magento version: 2.4.3
- Php 7.4
- Upgraded from 2.2.11 to 2.4.3

### Steps to reproduce

In CLI try: composer require magento/product-community-edition=2.4.3 --no-update
There are several other plugins in CLI when appear you must allow
Use the following commands
php bin/magento setup:upgrade
php bin/magento setup:di:compile

### Expected result

php bin/magent

[2022-06-26 18:45] jissereitsma commented on #35569
I'm the author of the Yireo EmailTester extension and have bumped into the same issue here. The stack trace (in my case) mentions actually that the `Magento\ProductAlert\Block\Email\Price` block class is causing this issue - in other words, the little `alertGrid` variable that might or might not be present in the email template (`Magento_ProductAlert::price_alert.html`). This email template yet ca

[2022-06-27 04:49] Kishorchhugani commented on #35584
I am Facing the Same issue While Using Gpay in my checkout in magento version 2.4.4

[2022-06-27 04:49] Kishorchhugani commented on #35584
hi @engcom-Delta  any Updates?

[2022-06-27 06:26] engcom-Dash commented on #35679
@magento give me 2.4-develop instance

[2022-06-27 06:35] Zaahed commented on #34957
@magento give me 2.4-develop instance

[2022-06-27 06:59] Zaahed commented on #34957
Can't reproduce this in 2.4-develop either. Backorders is set to `Allow Qty Below 0 and Notify Customer`. Set an existing product's qty to zero by importing a CSV file, stock status remains `In Stock` as expected.

[2022-06-27 07:01] artskirk commented on #33975
The new quote creates in
magento\module-login-as-customer-quote\Plugin\LoginAsCustomerApi\ProcessShoppingCartPlugin.php , it’s part of business logic.

[2022-06-27 07:14] MagePsycho commented on #35594
It's working for the `cms_page_view` but not for `cms_index_index` (Homepage).
Can you please debug with the same approach for the Homepage (/)?

[2022-06-27 07:21] engcom-Dash commented on #35679
Hello @fvlasie ,

We have tried to reproduce the issue in Magento 2.4.4 the issue is not reproducible.
Please refer the below screenshot for the reference;
![Screenshot from 2022-06-27 12-44-42](https://user-images.githubusercontent.com/60198592/175882167-c01de72f-8f61-4fd4-8bf0-f9752cd4335b.png)
![Screenshot from 2022-06-27 12-44-30](https://user-images.githubusercontent.com/60198592/175882182-04

[2022-06-27 07:25] engcom-Dash commented on #35659
Hello @bkristl ,
 We have tried to reproduce the issue in Magento 2.4.3 the issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-06-27 12-35-42](https://user-images.githubusercontent.com/60198592/175882802-958d4ac2-ce8b-4993-bed3-b1e82c8ab75e.png)

We have followed the below steps in order to reproduce the issue:
1.Install Magento 2.4.3 instance
2

[2022-06-27 08:19] tgreeve commented on #35671
This issue is reproducible in 2.4.3-p2.
![image](https://user-images.githubusercontent.com/77138909/175893453-987978eb-2a3b-4ade-bc1b-74deb14fbc56.png)

[2022-06-27 09:41] devchris79 commented on #35681
You need to update PHPUnit:

composer require phpunit/phpunit "^9.5"

[2022-06-27 09:43] knospe- commented on #34975
I can confirm that this issue also occurs in Frontend in version 2.4.3-p12.

[2022-06-27 09:52] FYvwotschel opened #35682 "Better error message if admin route doesn't exist"
### Preconditions and environment

Magento version: 2.4.3-p2

### Steps to reproduce

1. Go to the admin panel
2. Go to any URL that doesn't exist: `localhost:8080/admin/idontexist`
3. Error message is: `Invalid security or form key. Please refresh the page.`

### Expected result

Error message should be: `Route with ID 'idontexist' doesn't exist` or `Route with ID 'idontexist' does not have a sub

[2022-06-27 10:28] engcom-Dash commented on #35623
Hi @npluimers ,
 I agree your Opinion for this use case.But we need  Customised functionality or customised users for this use case. If you facing any Difficulties to create customised functionalities please let us know.

Thanks

[2022-06-27 10:31] engcom-Hotel commented on #35675
Hello @ni-bschmitt,

Thanks for your contribution and collaboration.

I tried to test the REST API GET order request fails when Accept: application/xml for multibyte content and below are my observation:

    1. Created an order with an address containing multibyte characters (Example: Trần Hưng Đạo, Hiệp Phú, Thành phố Hồ Chí Minh, Vietnam)

[code]
3. Requested the order via REST with `Accept: ap

[2022-06-27 10:48] timpea commented on #35679
@fvlasie Have you updated Stripe to the latest version?  There was an issue with Stripe where it didn't allow you to place an order in the admin without selecting the Stripe payment method 1st.   This was fixed with Stripe 3.2.3.

[2022-06-27 11:01] engcom-Hotel commented on #34898
Hello @kingshukdeb,

Thanks for the contribution!

We have tried this as well, and post the content something like below in page, but still we are not ablet to reproduce the issue:
<img width="691" alt="image" src="https://user-images.githubusercontent.com/51681618/175926691-625b6bb7-00bb-48f9-ab8c-0265dd068054.png">

We request you to please provide the text in which you are facing the issue.

Th

[2022-06-27 11:43] engcom-November commented on #35602
Verified the issue on Magento 2.4-develop branch using MailHog for emails and the issue is reproducible.
Emails are not getting triggered for Product alerts.
`[2022-06-27T11:32:50.359599+00:00] main.CRITICAL: The specified "/var/www/html/magento2/generated/code/Magento/AsynchronousOperations/Api/Data/AsyncResponseInterfaceFactory.php.116986" file couldn't be written. Warning!file_put_contents(/var

[2022-06-27 11:47] Eddcapone commented on #8377
I have copied the `_theme.less` but still get the error.

[2022-06-27 11:51] devchris79 commented on #35672
Hi Graham,

I rang Royal Mail Click and drop, they were well aware of the issue and said they are working towards a fix.
There is a [release information here](https://help.parcel.royalmail.com/hc/en-gb/articles/115004554734-Latest-release-information-Online-Business-Account-customers-) that they say will contain the fix notification when ready.

[2022-06-27 11:53] engcom-November commented on #35673
Hi @loic-paquin ,
Thank you for reporting and collaboration. This issue is a duplicate of https://github.com/magento/magento2/issues/35602 and has been confirmed here. We are closing this issue. Please move onto this ticket for latest updates/ solutions.
Thank you.

[2022-06-27 11:53] #35673 closed, assigned to engcom-November

[2022-06-27 12:25] Nuranto opened #35683 "PHP8.1 : Tests failures"
### Summary (*)

Launching Unit tests with M2.4.4 and PHP8.1 gives errors and failures

### Examples (*)

Errors :

[code]

Failures (I have 153 failures, I give you only one for example) :
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation an

[2022-06-27 12:57] Kishorchhugani commented on #29243
https://drops.meetanshi.com/suokfl

I am Facing Same issue while using paypal braintree and paypal Express Checkout

[2022-06-27 12:59] Vishrootways commented on #35335
Facing the same issue. If this is a known issue then does any patch available to fix this issue?

[2022-06-27 13:08] cwwhisperpumps commented on #34269
Do you know how to resolve the issue? I am running Magento 2.3.7-p3

[2022-06-27 13:14] hostep commented on #35335
@Vishrootways: try updating `magento/zendframework1 ` to version 1.15.1, see https://github.com/magento/zf1/pull/46#issuecomment-1165267804

[2022-06-27 14:07] JorisKok commented on #35305
@anvanza I have a similar issue. UA is receiving all custom events, but we want to track those as well via server side tagging, and they are not coming in. Events like add_to_cart are fully setup, working with UA and are not coming through for GA4. They are coming through when we use GTM Injector, which should indicate the if the GTM script is available it should work.

We noticed that the magento

[2022-06-27 14:10] Eddcapone opened #35684 "Can't compile style for custom theme which inherits from another custom theme"
### Preconditions and environment

- 2.4.4
- OS: Ubuntu 20.04.2 LTS
- Magento is in developer mode
- Grunt installed

### Code:

[issue_35684.zip](https://github.com/magento/magento2/files/9166767/issue_35684.zip) (extract to root dir of the magento project)

### Steps to reproduce

# Overview

1. Create Theme Foo (inheriting from Magento/luma)
2. Create Theme Bar (inheriting from Foo)
3. Create M

[2022-06-27 14:21] rvr-robert commented on #34967
@magento I am working on this

[2022-06-27 14:53] nwcasebolt commented on #27908
@kamal02mittal:

I ran into this problem today for the first time, and this got me around the problem. Thank you.

[2022-06-27 15:47] igorwulff commented on #33685
Hi @jonathanribas  we've been using L2 caching with good success on Magento Cloud environments in combination with preloading. With catalogs stretching >300k of products and customer groups on our side, etc...

It seems you are not using Varnish as an FPC? I would strongly recommend using Varnish (or Fastly) in your setup.

We have been forced to remove unnecessary cachetags through our own cache

[2022-06-27 16:56] fvlasie commented on #35679
I found the problem! My Stripe extension was outdated.

[2022-06-27 16:56] #35679 closed, assigned to engcom-Dash

[2022-06-27 17:24] Nuranto opened #35685 "Improve indexers"
### Preconditions and environment

Magento version 2.4.4

### Steps to reproduce

1. Disable crons (to stop reindexing)
2. Add Color Product attribute for few products
3. Change indexers to "Update by Schedule" mode
4. Truncate `catalog_product_category_cl` table (optional, it's just easier to test with that step)
5. Open a product in admin area
6. Change the value for `color` attribute
7. Save pr

[2022-06-27 17:31] cctorres commented on #34269
Use {{layout handle="sales_email_order_items" order_id=$order_id area="frontend"}} instead of {{layout handle="sales_email_order_items" order=$order area="frontend"}} if you don't hace custom attributes in your order layout

[2022-06-27 19:22] artskirk commented on #33352
@magento I am working on this

[2022-06-27 19:26] JelleGe commented on #35581
@engcom-November I will try, can you give me a Magento 2.4-develop branch

[2022-06-27 19:31] #35646 closed, assigned to nobody

[2022-06-27 19:32] VladimirZaets opened #35686 "Test issue"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-06-27 20:48] #35686 closed, assigned to nobody

[2022-06-27 20:49] VladimirZaets opened #35687 "test issue"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

test issue

### Expected result

test issue

### Actual result

test issue

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users w