[2018-09-20 11:08] engcom-backlog-nazar commented on #18157
@Cristiano81 Can we close issue? and if you have some additional info, you can reopen in future.

[2018-09-20 11:08] magento-engcom-team commented on #18158
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 11:11] engcom-backlog-nazar commented on #18158
Hi @Cristiano81  thank you for you report, i'm not able to reproduce following steps you described.
I'm have  saved product.

[2018-09-20 11:15] ghost opened #18159 "Catalog Search indexer process unknown error in magento 2.2.3 after upgraded from 2.2.2"
### Preconditions

1. Magento version 2.2.3
2. PHP 7 and ElasticSuit plugin :  ^2.4

### Steps to reproduce

1. Go to Magento CLI
2. Run reindexer command

### Expected result

1. [Screenshots, logs or description]
![image](https://user-images.githubusercontent.com/1737615/45814810-b756bd00-bcce-11e8-8b83-788986015d4b.png)

### Actual result

1. [Screenshots, logs or description]
![image](https://

[2018-09-20 11:15] magento-engcom-team commented on #18159
Hi @arjunkoid. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-20 11:27] magento-engcom-team commented on #18159
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 11:30] MartinAarts commented on #18134
We have a related problem. Attribute does still exist after upgrading from 2.2.5 to 2.2.6 but doesn't show in backend. Show as usual in the frontend.

[2018-09-20 11:31] engcom-backlog-nazar commented on #18159
Hi @arjunkoid I'm not able to reproduce your scenario, The GitHub issue tracker is intended for Magento Core technical issues only. As i can see the problem related to you custom code or module.

[2018-09-20 11:31] #18159 closed, assigned to nobody

[2018-09-20 11:44] magento-engcom-team commented on #18156
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 12:04] magento-engcom-team commented on #18158
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95124`, `MAGETWO-95125` were created

[2018-09-20 12:05] engcom-backlog-nazar commented on #18156
Hi @anika-agarwal23 thank you for your report, seems like this fixed in 2.3-develop.
![selection_117](https://user-images.githubusercontent.com/40756439/45817182-9a2de880-bce6-11e8-85ef-303397582e5b.png)

[2018-09-20 12:05] Cristiano81 commented on #18157
yes ok, i'm going to investigate on theme css

[2018-09-20 12:07] engcom-backlog-nazar commented on #18157
@Cristiano81 Ok, thank you, if you like to update this, please reopen the issue.

[2018-09-20 12:07] #18157 closed, assigned to nobody

[2018-09-20 12:13] Cristiano81 commented on #18158
yes i can reproduce on vanilla Magento https://i-18157-2-2-6.engcom.dev.magento.com
i have to add some precondition
1. Magento 2.2.6
2. Account locale set to it_IT
3. Locale options: locale italiano (italia)

to reproduce  the issue after edit the product to insert the special price, save it again, elsewhere in first instance it works (when special price date from is empty)

[2018-09-20 12:35] MartinAarts commented on #14667
The slow loading of images is fixable by installing the magic zoom extensions, although the images are still clickable after about ten seconds. Also products option remain unresponsive for about the same time.

For some reason the JS takes a very long time on a bit slower pc's.

[2018-09-20 12:37] kirkmadera commented on #14472
Magento's `errorProcessor.process(response);` should be coded to deal with an empty response. The error above is misleading. The API actually returned an empty response here. errorProcessor is trying to read it as json. It should check if the response is not empty first.

This error is coming from the fail() section of this code block in new-address.js
[code]

[2018-09-20 12:38] jayankaghosh commented on #18012
What could be done is, under the underscore object, an i18n method could be introduced, so that translations would work if we wrote something like `<%= _.i18n('You are here:') %>`

[2018-09-20 12:40] crtsl commented on #18134
I am experiencing the same issue. The update from 2.2.5 to 2.2.6 completed successfully but the manufacturer attribute does not appear when editing a product on the backend. The manufacturer attribute shows on the frontend product page for products that were created before the 2.2.6 upgrade but does not appear for products created after. It no longer shows in the backend for any products; it still

[2018-09-20 12:41] davidverholen commented on #18154
ok there is another precondition, added it to the issue:
the price scope in the store configuration has to be set to website

[2018-09-20 12:41] brosenberger opened #18161 "InStockOptionSelectBuilder does not consider backend setting for "Show out of Stock""
### Preconditions
1. have a configurable product and some assigned simple ones
2. one of the simple is out of stock
3. option for display out of stock products (stores -> configuration -> catalog -> inventory -> display out of stock products) is set to yes
4. magento v.2.2.6 and above

### Steps to reproduce
1. visit according product page

### Expected result
1. the out of stock option is shown f

[2018-09-20 12:41] magento-engcom-team commented on #18161
Hi @brosenberger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-20 12:43] davidverholen commented on #18154
changed the config on https://i-18154-2-2-6.engcom.dev.magento.com/ and now could reproduce it there

[2018-09-20 12:45] spras commented on #12085
We reproduce this issue, on 2.2.5, **after login in Back-Office.**

I occurs when hirak/prestissimo is installed globally in  var/composer_home/

[2018-09-20 12:58] magento-engcom-team commented on #18154
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95127` were created

[2018-09-20 13:00] magento-engcom-team commented on #18161
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 13:02] engcom-backlog-nazar commented on #18161
Hi @brosenberger thank you for you report. this is duplicate to this  -> https://github.com/magento/magento2/issues/16069

[2018-09-20 13:02] #18161 closed, assigned to nobody

[2018-09-20 13:10] anika-agarwal23 commented on #18156
And can we get access to 2.3- develop?

Thanks
Anika

On 20-Sep-2018, at 5:37 PM, engcom-backlog-nazar <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @anika-agarwal23<https://github.com/anika-agarwal23> thank you for your report, seems like this fixed in 2.3-develop.
[selection_117]<https://user-images.githubusercontent.com/40756439/45817182-9a2de880-bce6-11e8-85ef-30339758

[2018-09-20 13:14] snoroozi commented on #14667
I wonder if Shopify would let this problem linger so long. I'm thinking no.

On Thu, Sep 20, 2018, 8:37 AM Martin Aarts <notifications@github.com> wrote:

[2018-09-20 13:16] engcom-backlog-nazar commented on #18156
@anika-agarwal23 At the next release of alpha, this will issue be fixed.

[2018-09-20 13:35] Jeroenll opened #18162 "Cannot edit customer using inline edit if password is expired"
### Preconditions
1. Magento v2.2.5

### Steps to reproduce
1. Set `admin/security/password_is_forced` to `0` (_Recommended_).
2. Make sure Password Lifetime is past so the message `It's time to change your password.` is shown.
3. Open customer grid and try to edit and save using inline editor.

### Expected result
1. Customer is saved.

### Actual result
1. Above grid the message `It's time to ch

[2018-09-20 13:35] magento-engcom-team commented on #18162
Hi @JeroenVanLeusden. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-09-20 13:36] magento-engcom-team commented on #18162
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 14:09] lived12 opened #18163 "Unable to instal"
The error i am getting while installing  a slider

Update pending

Error in Update!
Please refer to documentation Doc link to perform manual rollback.

To attempt automatic rollback, please click the "Rollback" button.

Rollback

[2018-09-20 14:09] magento-engcom-team commented on #18163
Hi @lived12. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-20 14:10] lived12 commented on #18163
when  i  installing the slyder this error showed and now i am not able do anything

[2018-09-20 14:11] magento-engcom-team commented on #18162
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95128`, `MAGETWO-95129` were created

[2018-09-20 14:12] lived12 commented on #18163
![image](https://user-images.githubusercontent.com/43445074/45824292-45ea2f00-bd0d-11e8-852c-407d47367a6d.png)

[2018-09-20 14:13] magento-engcom-team commented on #18163
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 14:14] engcom-backlog-nazar commented on #18163
Hi @lived12  Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-20 14:14] #18163 closed, assigned to nobody

[2018-09-20 14:17] SAPontwerp commented on #15846
@magento-engcom-team give me 2.2.6 instance

[2018-09-20 14:17] magento-engcom-team commented on #15846
Hi @SAPontwerp. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-20 14:17] magento-engcom-team commented on #15846
Hi @SAPontwerp, here is your [Magento instance](https://i-15846-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-15846-2-2-6.engcom.dev.magento.com/admin](https://i-15846-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-20 14:33] anika-agarwal23 commented on #18156
Is there a workaround to unblock us?

Thanks
Anika

On 20-Sep-2018, at 6:55 PM, engcom-backlog-nazar <notifications@github.com<mailto:notifications@github.com>> wrote:

@anika-agarwal23<https://github.com/anika-agarwal23> Can we close issue? if this issue will still exist, you can reopen the issue. thank you.

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2018-09-20 14:57] magento-engcom-team commented on #18148
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95131`, `MAGETWO-95132` were created

[2018-09-20 14:57] ghost opened #18164 "Checkout - Cannot read property 'code' of undefined"
@magento-engcom-team give me 2.2.6 instance

### Preconditions

1. Magento 2.2.6
2. PHP 7.1
3. MariaDB 10.2

### Steps to reproduce
1. Add an item into the cart.
2. Open Chrome devtools console.
3. Go to checkout

### Expected result
1. That checkout page doesn't display any console error.

### Actual result
1. The following (down below) console error is appearing in devtools console.
`Uncaught Ty

[2018-09-20 14:57] magento-engcom-team commented on #18164
Hi @bruno-serfe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-20 14:58] magento-engcom-team commented on #18164
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 15:00] engcom-backlog-nazar commented on #18164
Hi @bruno-serfe  I'm not able to reproduce following steps you described, this may be related to you custom code, or provide more information to step to reproduce. thank you.

[2018-09-20 15:00] engcom-backlog-nazar commented on #18164
@magento-engcom-team give me 2.2.6 instance

[2018-09-20 15:00] magento-engcom-team commented on #18164
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-20 15:01] magento-engcom-team commented on #18164
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-18164-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18164-2-2-6.engcom.dev.magento.com/admin](https://i-18164-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-20 15:02] engcom-backlog-nazar commented on #18164
@bruno-serfe Here yours instance.

[2018-09-20 15:02] bruno-serfe commented on #18164
Hi @engcom-backlog-nazar thank you!, checking now..

[2018-09-20 15:04] engcom-backlog-nazar commented on #18156
@anika-agarwal23 seems like no, cant find similar issue.

[2018-09-20 15:07] bruno-serfe commented on #18164
Hi @engcom-backlog-nazar I can't reproduce either in this fresh instance and with that simple example product, you can close this, we can conclude that the issue should be related with external code or an extension then. thanks for the quick assistance on this, too much appreciated!

[2018-09-20 15:08] magento-engcom-team commented on #10978
@magento-engcom-team Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95133`, `MAGETWO-95134` were created

[2018-09-20 15:09] engcom-backlog-nazar commented on #18164
@bruno-serfe Ok. If would like to update you can reopen issue with some additional data.

[2018-09-20 15:09] #18164 closed, assigned to nobody

[2018-09-20 15:10] kolaente commented on #4502
@zaietsv That seems unrelated to this issue, but it could be related to the magento update.

[2018-09-20 15:30] magento-engcom-team commented on #18140
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95138` were created

[2018-09-20 15:52] rigu12 commented on #18150
how to solve this problem ,thank you!@magento-engcom-team

[2018-09-20 16:29] ishakhsuvarov commented on #15968
@peterjaap Thank you for the input.

We have started working on setting up better flow for the issues related to bundled extensions which would allow us to pass on information to the vendors more quickly and efficiently. I expect this situation to start improving in the nearest future.

[2018-09-20 16:32] j0um commented on #8145
Please make this function able to execute asynchronously since it lends idself perfectly to parallelism (it uses high CPU on a single thread, has low IO and has a very long running time).

[2018-09-20 16:40] CompactCodeEU commented on #10978
I have created a module for now that just retrieves the config like any user would expect. I do not see the advantage of loading the whole attribute from the cache to get those settings.

With the use of plugins i overwrite all the isRequired() and isVisible() methods

[2018-09-20 16:54] highway11git commented on #12390
This might have to do with the following CSRF protection function:
`/**
     * @param HttpRequest $request
     * @param ActionInterface  $action
     *
     * @return bool
     */
    private function validateRequest(
        HttpRequest $request,
        ActionInterface $action
    ): bool {
        $valid = null;
        if ($action instanceof CsrfAwareActionInterface) {
            $valid = $a

[2018-09-20 16:55] NoMagentoSupportQuestionMark opened #18167 "GA Not Tracking related to Magento v 2.2.5???"
Hi GitHub Users,  2 questions:

1) First Off, Is there really no Magento-Support ticketing system?  If there is, I couldn't find it.

2) Our magento-store has not had GA-tracking for the last month.  (which appears to correlate with our upgrade to Magento v.2.2.5 )

Is there a wide-spread, known-issue with GA not working related to Magento v 2.2.5?

And if so, is there a known fix that you can sha

[2018-09-20 16:55] magento-engcom-team commented on #18167
Hi @NoMagentoSupportQuestionMark. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deplo

[2018-09-20 17:40] hostep commented on #8145
@j0um and others following this thread: according to the release notes of [Magento 2.2.6](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.6CE.html#core-code-highlights), there were some optimizations done to this command.
I haven't found the time yet to look into them, but they sound promissing:

[2018-09-20 17:55] hostep commented on #18167
@NoMagentoSupportQuestionMark (funny name :p): have you tried searching on github first? There are some reports, maybe you can find answer in those?
https://github.com/magento/magento2/search?q=2.2.5+google+analytics&type=Issues

This one comes to mind: https://github.com/magento/magento2/issues/14951, it reports an issue where the conversions aren't tracked anymore, but that already started happe

[2018-09-20 17:55] #18167 closed, assigned to nobody

[2018-09-20 18:11] j0um commented on #8145
@hostep We have upgraded to 2.2.6 and we are currently in the processed of "resizing" our images. The current ETA is 12 hours for 124262 entries which is about the same as 2.2.5. It leads me to believe these optimisations are context specific. :(

[2018-09-20 18:51] hostep commented on #8145
@j0um: thanks for the feedback, very good to know!

I dug in a little bit and found the commit where all the magic is supposed to be happening: https://github.com/magento/magento2/commit/de83f82842d

I think the 2nd point from my initial post was tackled, since the `image_type` (`thumbnail`, `small_image`, ...) is no longer used in calculating the hash, so in theory no duplicated resized files sho

[2018-09-20 20:18] DeltaGalilUSA opened #18169 "Order Refund Issue Order ID 3018269283"
Order ID 3018269283 was issued refund by mistake at first place.  There is not cash was involved.  Because cash was Void.

But now, customer returned full order, due to the mistake refund happened at first place, we can't do the full return now.  Please help.

Thanks,

Alice

[2018-09-20 20:18] magento-engcom-team commented on #18169
Hi @DeltaGalilUSA. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-20 21:38] bartoszkubicki commented on #18144
@magento-engcom-team If you tell me how to fix it I could prepare pull request. I need information how te rearrange events or observers, because maybe sometimes this operation should be done (i mean regeneration of product urls). Maybe if we can do it in 2.3 we could put url regeneration on queue?

Anyway, I think we should remove all-product regeneration from category save and add that observer m

[2018-09-20 22:45] fireatwill commented on #6568
I'm seeing the same issue with 2.2.5, and 2.2.6, and with other payment providers. These are new installs, so in my case not upgrade path related.

Having the store locale (Configuration / General / Locale Options / Locale) set to anything other than English (United States) seems to cause this problem. In my case, I'm using English (United Kingdom). If I set the locale back to English (United Stat

[2018-09-20 22:51] fooman commented on #7623
This not fixed. 2.2.6:

![image](https://user-images.githubusercontent.com/455508/45850911-38c05500-bd8c-11e8-9626-9d98c731ef6c.png)

[2018-09-21 05:37] magento-engcom-team commented on #18169
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 06:02] engcom-backlog-nazar commented on #18169
Hi @DeltaGalilUSA   Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-21 06:02] #18169 closed, assigned to nobody

[2018-09-21 06:36] engcom-backlog-nazar commented on #18156
Hi @anika-agarwal23  I'm closing this issue, fix will be available in next release of 2.3-alpha. if you like to update please reopen the issue.

[2018-09-21 06:36] #18156 closed, assigned to nobody

[2018-09-21 06:51] ihor-sviziev opened #18170 "Unable to reset password if customer has address from not allowed country"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Create customer on frontend, add some customer address with Germany (just an example) and log out
2. Go to Admin >> Stores >> Configuration >> General >> General
3. In Country Options >> Allow Countries deselect Germany (mark as not allowed), click to Save Config (probably flushing cache also required)
4. On frontend got to "Forgot pass

[2018-09-21 06:51] i95devdivya opened #18171 "Required to Mysql script for clear all products images"
Preconditions:
1.	Magento EE 2.1.3
2.	PHP 7.0.X

Can anyone help us by providing Mysql script to clear all product's images in Magento EE 2.1.3.

[2018-09-21 06:51] magento-engcom-team commented on #18170
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-21 06:51] magento-engcom-team commented on #18171
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-21 06:53] magento-engcom-team commented on #18171
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 06:53] engcom-backlog-nazar commented on #18171
Hi @i95devdivya , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open S

[2018-09-21 06:53] #18171 closed, assigned to nobody

[2018-09-21 06:54] magento-engcom-team commented on #18170
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 06:58] hostep commented on #18144
@bartoszkubicki: great idea!
And maybe put it behind an option: 'async url rewrite generation enabled': yes/no, because shops with a small catalog don't really need this I think.
Then we will also finally have an official way to re-generate url rewrites, to correct already incorrectly generated ones (which still happens when having multiple storeviews with different url_key values over storeviews)

[2018-09-21 07:03] kirtinariya1 opened #18172 "Magento 2.2.6 Can't able to select all records in reviews grid."
Preconditions

1. Magento 2.2.6

Steps to reproduce

1. Go to admin >> Marketing >> User Content >> Reviews
2. Now under "Mass Actions" select "Select All".

Expected result
1. Under "Mass Actions" "Select All" to select all the records from grid.

Actual result
1. There is only selected current page 20 record.

![reviewgrid](https://user-images.githubusercontent.com/28681937/45865243-788e3900-bd9

[2018-09-21 07:03] magento-engcom-team commented on #18172
Hi @kirtinariya1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-21 07:04] magento-engcom-team commented on #18170
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95165`, `MAGETWO-95166` were created

[2018-09-21 07:05] magento-engcom-team commented on #18172
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 07:16] engcom-backlog-nazar commented on #18172
HI @kirtinariya1 thank you for you report, this is duplicate for this ->https://github.com/magento/magento2/issues/12594

[2018-09-21 07:16] #18172 closed, assigned to nobody

[2018-09-21 08:27] kandy commented on #18144
@hostep, the main problem with async url rewrite is it cannot resolve conflict immediately and as a result, you will gets inconsistency and some products/categories will not have valid url

[2018-09-21 08:27] jhruehl commented on #12889
Thanks. This accepted pull request now causes the standard shipping rate label to be shown in the language of the store view where the last product was added. (cart and checkout).

I don't even get the user case described here. Seems to make no sense. Or at least it seems to be special for this particalur store/website setup that the user responsible should fix it via a patch or something.

I'm go

[2018-09-21 08:56] kandy commented on #18144
Also, you can use [patch](https://gist.github.com/kandy/11dc28bf15021dc0600625ea2efb6536)that change the way how url rewrites is generated

[2018-09-21 09:03] speedupmate commented on #15968
This issue is more general. Maybe its even a missing feature or undocumented feature.

Extensions usually have two enabling levels

1. bin/magento mo:en Module_Name
2. configuration level enable/disable.  Most (but not all) will have and depend on some kind of extra enabling option and requiring additional configuration parameters from admin to work.

This issue mostly affects 2. level enabling sc

[2018-09-21 09:10] farhadfrz commented on #7874
Having the same problem on Magento 2.2.6 !

[2018-09-21 09:13] CRYX2 commented on #12399
@LucaGallinari 'spatch is working fine, @magento-engcom-team  it's possibile to include it in 2.2.7 release?

[2018-09-21 09:31] jhruehl commented on #12889
It seems I cannot create any pull requests for the 2.2-develop branch even with an updated fork. Only for 2.2 and 2.3-develop. So I leave it there, because the "fix" to this issue still isn't present in the 2.3 branches.

My fix for the "fix" of this issue can be found in the pull requests, which have been rejected, because they weren't given via a fork.

[2018-09-21 09:49] jaideepghosh opened #18177 "Image CAPTCHA requires FT fonts support"
I'm unable to login into the Magento-2 Admin Panel. After clicking on login, it is showing

In report it is showing the following:

`{"0":"Image CAPTCHA requires FT fonts support","1":"#0 \/usr\/local\/nginx\/html\/Roanuz\/elko2\/local\/elko\/vendor\/magento\/module-captcha\/Model\/DefaultModel.php(92): Zend\\Captcha\\Image->__construct()\n#1 \/usr\/local\/nginx\/html\/Roanuz\/elko2\/local\/elko\/

[2018-09-21 09:49] magento-engcom-team commented on #18177
Hi @jaideepghosh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-21 09:50] magento-engcom-team commented on #18177
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 09:52] engcom-backlog-nazar commented on #18177
HI @jaideepghosh  Please describe steps to reproduce, so we can reproduce you issue, then reopen the issue. thank you.

[2018-09-21 09:52] #18177 closed, assigned to nobody

[2018-09-21 09:52] engcom-backlog-nazar commented on #18177
@jaideepghosh  also please see https://github.com/magento/magento2/issues/11483

[2018-09-21 09:56] hostep commented on #18144
@kandy: makes sense, but the async process could then skip the product/categories with conflicting values.

Next to that, a grid in the backend of Magento could be added to give an very userfriendly overview of all conflicting url_key values of products/categories, and could allow the shop owner to manually correct those one by one.

A feature like that would be awesome I think.

[2018-09-21 10:12] jaideepghosh commented on #18177
Thanks @engcom-backlog-nazar ,
Following solution solved my issue:
https://magento.stackexchange.com/questions/196527/image-captcha-requires-ft-fonts-support#answer-200043

[2018-09-21 10:17] magento-engcom-team commented on #18144
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95176`, `MAGETWO-95177` were created

[2018-09-21 11:10] pmsteil commented on #13730
Looks like "Magento Social" was removed in [v2.2.6](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.6CE.html)

[2018-09-21 12:32] samuelecarpene commented on #7671
@harshadgoswami how did you solve the problem? I have the same problem in a site with paypal integration.

[2018-09-21 12:49] j0um opened #18178 "Category object : Cannot programmatically set "Use Default Value" to attribute "Enable Category""
### Preconditions
1. Vanilla Magento 2.2.6

### Steps to reproduce
1. Have a category with the attribute "is_active" set to "1" at store level.
2. Create a script and programmatically set "is_active" to null
3. Save the category.

### Expected result
1. Category property "is_active" should be deleted at store level. On the adminhtml interface, at store level, looking at the category's properties s

[2018-09-21 12:49] magento-engcom-team commented on #18178
Hi @j0um. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-09-21 12:53] magento-engcom-team commented on #18178
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 13:09] engcom-backlog-nazar commented on #18178
Hi @j0um thank you for your report, but if you set '0' this may bworks ?

[2018-09-21 13:16] engcom-backlog-nazar commented on #18178
@j0um  when you create th attribute you set default value as 'default'  => '0', so the magento accept only 1 or 0 but not 'null' for boolean, resource model can save this value, but you need to use repository, this is the best practice.

[2018-09-21 13:20] j0um commented on #18178
@engcom-backlog It is best practice indeed! The issue is that we cannot set the "Use default value" checkbox value using the repository. Right now we can only set it using the resource model and the resource model uses null values to set/unset the checkbox.

[2018-09-21 13:39] heldchen commented on #18057
@jakubderdziak unfortunately your pull request does not fix the issue, at least not for me:

[code]
this API call still results in an attribute created without swatch values:
![image](https://user-images.githubusercontent.com/299636/45884500-5ef9eb00-bdb4-11e8-9887-45b523d76a4b.png)

I'm using 2.2.5 with your pull request applied. is something wrong with my data payload?

[2018-09-21 14:20] compilerharris commented on #4325
Thanks a lot @bonsdawende, Your reply helped me. And my bugs got fixed.
I just changed the "Disable Email Communications" to yes in Magento 2 ( Stores > Configuration > Advanced > System > Mail Sending Settings > Disable Email Communications).

[2018-09-21 14:40] engcom-backlog-nazar commented on #18178
@j0um As i can see the set IsActive() can have set only 2 types Boolean true and false 0,1 but not null ?

[2018-09-21 15:32] happydownload33 opened #18182 "Web installation Assistant 500 error"
### Preconditions
1. Magento 2.2.4
2. Magento 2.2.5
3. Magento 2.2.6

### Steps to reproduce
1. Update Magento 2.2.3 to Preconditions version
2. Login Magento Dashboard
3. Go to System
4. Go to Web Installation Assistant

### Expected result
1. The 4 Blocks with upgrade magento option

### Actual result
1. Http 500 error
2. Failed to load resource: the server responded with a status of 500 (Intern

[2018-09-21 15:32] magento-engcom-team commented on #18182
Hi @happydownload33. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-21 15:37] engcom-backlog-nazar commented on #18178
@j0um also see -> https://github.com/magento/magento2/issues/12159 seems like this bug is acknowladged.

[2018-09-21 15:37] magento-engcom-team commented on #18182
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-21 15:38] engcom-backlog-nazar commented on #18182
Hi @happydownload33 seems like this is your environment problem, check configuration osf apache.

[2018-09-21 15:43] happydownload33 commented on #18182
Hi @engcom-backlog-nazar thanks for your fast message,

i have 2 servers a Testserver and a Production server hosted by a external company both gives the same issue which gives a 500 error.

With Magento 2.2.3 i didn`t have the issue.

[2018-09-21 15:44] Cristiano81 opened #18183 "Magento 2.2.6 coupon codes don't work anymore"
### Preconditions

1. Magento 2.2.6
2. Cart price rule based on coupon code

### Steps to reproduce

1. Create a cart price rule with specific coupon with date from 2018 to 2088
2. Try add the coupon to the cart

### Expected result

1. The coupon has been successfull applied to the cart

### Actual result

1. Every coupon code result invalid

[2018-09-21 15:45] magento-engcom-team commented on #18183
Hi @Cristiano81. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-21 15:45] Cristiano81 commented on #18183
In 2.2.5 the coupon code work

[2018-09-21 15:45] Cristiano81 commented on #18183
@magento-engcom-team give me 2.2.6 instance

[2018-09-21 15:45] magento-engcom-team commented on #18183
Hi @Cristiano81. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-21 15:46] magento-engcom-team commented on #18183
Hi @Cristiano81, here is your [Magento instance](https://i-18183-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18183-2-2-6.engcom.dev.magento.com/admin](https://i-18183-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-21 15:49] Cristiano81 commented on #18183
yes i can reproduce the issue on vanilla magento

[2018-09-21 16:29] Loac-fr commented on #7978
If this can help, I might have stumbled upon the same 'bug' ;
I was able to reproduce the issue on the latest Firefox but only on windows (7 and 10), with the trackpad (not touch enabled).
Magento version is 2.2.3
The solution for me was to add the following CSS :
[code]
It still might need some testing but seems to do the trick for now.

[2018-09-21 17:10] Cristiano81 commented on #18183
This maybe be usefull, when i try to apply the coupon code, i received this error on chrome console:
jquery.js:10254 PUT https://i-18183-2-2-6.engcom.dev.magento.com/rest/default/V1/guest-carts/BWM5XQCXhnzdxK9njKSP2cL611NFTmcG/coupons/TEST2018 404 (Not Found)
send @ jquery.js:10254
ajax @ jquery.js:9738
put @ storage.js:62
(anonymous) @ set-coupon-code.js:33
apply @ discount.js:41
(anonymous) @ kn

[2018-09-21 17:15] jayankaghosh commented on #18027
What can I do to reproduce this issue? I have tried as the OP mentioned and got 0.00 as the total

[2018-09-21 17:58] jakubderdziak commented on #18057
Hello @heldchen

I'm sorry, but my fix was written and tested for this API:

`POST/V1/products/attributes/{attributeCode}/options`

- it looks like it doesn't cover API mentioned by you. As a fast workaround you can create empty attribute with API you've mentioned and then add options via `POST/V1/products/attributes/{attributeCode}/options`.

Looks like problem need further investigation...

[2018-09-21 17:59] jakubderdziak commented on #18057
Also I've made a mistake in getAttributeOptionId method. It should look like this:

`
    /**
     * Get option id. If it not exist get it from dependency link array
     *
     * @param integer $optionId
     * @return int
     */
    protected function getAttributeOptionId($optionId)
    {
        if (substr($optionId, 0, 6) == self::BASE_OPTION_TITLE) {
            $possibleOptions = [

[2018-09-21 18:12] jayankaghosh commented on #18027
Ok nevermind. I reproduced it

[2018-09-21 18:12] jayankaghosh commented on #18027
I am working on this

[2018-09-21 18:18] j0um commented on #18178
@engcom-backlog-nazar Oh nice find! It is indeed the same bug. Thank you! :)

[2018-09-21 18:43] okorshenko opened #18186 "My Test Issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-21 18:43] magento-engcom-team commented on #18186
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-21 18:44] okorshenko commented on #18186
@magento-engcom-team give me 2.2.6 instance

[2018-09-21 18:44] magento-engcom-team commented on #18186
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-21 18:45] magento-engcom-team commented on #18186
Hi @okorshenko, here is your [Magento instance](https://i-18186-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18186-2-2-6.engcom.dev.magento.com/admin](https://i-18186-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-21 18:46] magento-engcom-team commented on #18186
Hi @maksek. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-09-21 18:47] magento-engcom-team commented on #18186
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95189`, `MAGETWO-95190` were created

[2018-09-21 18:53] #18186 closed, assigned to maksek

[2018-09-21 18:56] #18178 closed, assigned to nobody

[2018-09-21 18:56] nelsonpoon commented on #2634
@ elangovanshanthi it works!  i am apache2.2 , i change the syntex to
<Directory /var/www/>
        Order allow,deny
        Allow from all
</Directory>

[2018-09-21 19:45] okorshenko opened #18188 "test issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-21 19:45] magento-engcom-team commented on #18188
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-21 19:46] okorshenko commented on #18188
@magento-engcom-team give me 2.2.6 instance

[2018-09-21 19:46] magento-engcom-team commented on #18188
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-21 19:47] magento-engcom-team commented on #18188
Hi @okorshenko, here is your [Magento instance](https://i-18188-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18188-2-2-6.engcom.dev.magento.com/admin](https://i-18188-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-21 19:49] magento-engcom-team commented on #18188
Hi @maksek. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-09-21 19:50] okorshenko commented on #18188
@magento-engcom-team give me 2.3-develop instance

[2018-09-21 19:50] magento-engcom-team commented on #18188
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-21 19:51] magento-engcom-team commented on #18188
Hi @okorshenko, here is your [Magento instance](https://i-18188-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18188-2-3-develop.engcom.dev.magento.com/admin](https://i-18188-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-21 19:51] magento-engcom-team commented on #18188
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95192`, `MAGETWO-95193` were created

[2018-09-21 20:05] coutes commented on #12412
1 year later and still no official fix from Magento team?

[2018-09-21 20:36] #18188 closed, assigned to maksek

[2018-09-21 20:36] heldchen commented on #18057
thanks for the update, @jakubderdziak - I've tried your fixed version and am using the `/options` call now. while it is a huge improvement over the previously broken attribute state, unfortunately it sets swatch value to the label's content:

adding a new option with label `N2` and value `V2` like so:
[code]

results in this:
![image](https://user-images.githubusercontent.com/299636/45904524-a81a6

[2018-09-21 20:50] Drakas commented on #12399
Would be fantastic

[2018-09-21 20:51] jakubderdziak commented on #18057
Honestly I didn't know that you could add label and value in single option. I have no access to the code right now to do afix. If you know how to run xdebug, please try to debug method `handleOptionsWithoutSwatches`, probably this line:

`foreach ($attribute->getData('option/value') as $key => $label) {`

and see where value option is stored.

[2018-09-21 21:32] vitmarks commented on #17285
guys, for those who has this error, here solution:
IF you upgraded php from xxx<7.1 to 7.1>xxx, don't forget this:
sudo a2dismod phpx.x < (x.x) version you are used before
sudo a2enmod php7.2
sudo service apache2 restart

Don't forget to set permission!!
have fun!

[2018-09-21 21:34] vitmarks commented on #17285
Maybe it is a good note, to mention it on the installation documentation 2.3 Beta

[2018-09-21 22:00] jeffreytu commented on #7350
Same issue as @simonmaass in 2.2.6

[2018-09-21 22:04] Rickertje opened #18190 "Not all address details are shown in checkout step 2"
### Preconditions
1. 2.2.5

### Steps to reproduce
1. Add product to cart
2. Proceed to checkout
3. Enter shipping address. See attached image.
![afbeelding](https://user-images.githubusercontent.com/27420995/45908010-b7ec7200-bdfa-11e8-8720-b14e893cda70.png)
4. Go to step 2

### Expected result
1. All entered address details of the shipping and billing address are shown

### Actual result
1. Not

[2018-09-21 22:04] magento-engcom-team commented on #18190
Hi @Rickertje. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-22 06:18] peterlembke commented on #15155
The damage is already done as soon as the collection are loaded into memory by the for-loop inside of getList().
It does not matter what getList() returns as long as all getList() return the same type of object.
That can not be achieved since each repository declare their own getList() and can return whatever they want.
A repository developer can omit implementing a getList() function, or name the

[2018-09-22 08:31] kunj1988 commented on #18183
@Cristiano81, I have tried with vanilla Magento 2.2.6 and it is working for me, Please provide more details.

[2018-09-22 08:44] bartoszkubicki commented on #15155
You are right, maybe this could be the first step - refactoring this two classes. Loops should be removed, as they even can exhaust memory, by calling getList().
In my opinion we should have some `AbstractRepository`, which would serve some basic function like `get`, `getById`, `save`, `delete`, `deleteById`. Then while creating repository with standard logic, we would not have to implement tons o

[2018-09-22 09:07] DanielRuf commented on #17285
Well, this is the PHP 7.2 service, not 7.1.

[2018-09-22 09:58] hardik-krish opened #18192 "Backend issue : "ratings isn't available" website wise"
**Preconditions**
1. Magento 2.2.4 installed with sample data.
2. Created 2 website (French and German) apart from Default (English).

**Steps to reproduce**
1. Added review and ratings for English,German and France website products from storefront as Guest user and login user.
2. Login into Backend.
3. Go to Marketing -> User Content -> Reviews.
4. Edit review of English which is main website it

[2018-09-22 09:58] magento-engcom-team commented on #18192
Hi @hardik-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-22 10:41] Mukipun opened #18193 "In Developer Mode: Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'class': The attribute 'class' is not allowed."
Preconditions

1. Version Magento2 2.2.6
2. Occurred after update from 2.2.5

Steps to reproduce

1. Set mode to developer
2. Click a categroy in frontstore

Expected result

1. 1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'class': The attribute 'class' is not allowed.
Line: 919
Element 'referenceBlock', attribute 'as': The at

[2018-09-22 10:41] magento-engcom-team commented on #18193
Hi @Mukipun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-22 10:59] Mukipun commented on #18193
Have no vanilla Instance. Will check it.

[2018-09-22 13:10] Cristiano81 commented on #18183
@magento-engcom-team give me 2.2.6 instance

[2018-09-22 13:10] magento-engcom-team commented on #18183
Hi @Cristiano81. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-22 13:11] magento-engcom-team commented on #18183
Hi @Cristiano81, here is your [Magento instance](https://i-18183-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18183-2-2-6.engcom.dev.magento.com/admin](https://i-18183-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-22 13:27] Cristiano81 commented on #18183
ops you are right :P but even if they are the same it doesn't work

[2018-09-22 14:03] hostep commented on #18183
Ok, I was able to reproduce, and also found out why.

It has to do with the "to date". In your example, you put it in the year 2088.
When I first tested, I just used 2018 and it worked perfectly fine.

After some playing around, it looks like the limit is 20 years, the year 2037 works, but the year 2038 no longer works.

So this is pretty strange.
You say it worked before on Magento 2.2.5? Also wi

[2018-09-22 14:12] waymanxie opened #18194 "2.2.6 update failure"
### Preconditions

1. 2.2.5 working fine
2. update from 2.2.5 to 2.2.6

### Steps to reproduce

1. Step by step following the update progress
2.

### Expected result

1. update to 2.2.6 successfully
2.

### Actual result

1. update failed
2. then i click the "Rollback" button to roll back. unfortunately the roll back failed again.
3. now i visit my store, it just says "An error has happened during

[2018-09-22 14:12] magento-engcom-team commented on #18194
Hi @waymanxie. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-22 14:14] waymanxie commented on #18194
@magento-engcom-team give me $VERSION instance

[2018-09-22 14:15] waymanxie commented on #18194
@magento-engcom-team give me 2.2.5 instance

[2018-09-22 14:15] magento-engcom-team commented on #18194
Hi @waymanxie. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-22 14:16] magento-engcom-team commented on #18194
Hi @waymanxie, here is your [Magento instance](https://i-18194-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18194-2-2-5.engcom.dev.magento.com/admin](https://i-18194-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-22 14:16] hostep commented on #18183
Hmm, just tested on Magento 2.2.5, it has the exact same problem, so it's not a new bug in 2.2.6. But it's certainly a problem.

[2018-09-22 14:33] mahsn opened #18195 "Creating customer new address in checkout and updating customer address in checkout is breaking the sequence of address in my account when address has 4 lines as 'street','number','reference' and 'neighborhood'"
### Preconditions

Magento 2.4-develop

### Steps to reproduce

**On clean 2.4-develop**
1.Go to  Stores -> Configuration->Customers->Customer Configuration->Name and Address Options->Number of Lines in a Street Address
2.Define 'Lines Count'   as 4
3.Register customer
4.Go to customer Address Book
5.Fill all required fields
6.Fill first and last field in Street Address section
7.Click Save Addres

[2018-09-22 14:33] magento-engcom-team commented on #18195
Hi @mahsn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-22 14:39] mahsn commented on #18195
@magento-engcom-team give me 2.2.4

[2018-09-22 14:41] DanielRuf commented on #18193
This is probably an issue i one of your xml files as you can not use `class` on `referenceBlock`. Please check your theme.

[2018-09-22 14:43] DanielRuf commented on #18193
https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/layouts/xml-instructions.html

[2018-09-22 14:47] hostep commented on #18183
Hmm, I can not confirm the problem with the blank "to date".
See the test instance, I've added a new coupon with code `TEST2020` with a blank "to date". And it works, maybe double check if I've missed something?

<img width="768" alt="coupon-settings" src="https://user-images.githubusercontent.com/85479/45918419-09dad980-be87-11e8-9aa2-58a601923dcd.png">

<img width="602" alt="coupon-results" src=

[2018-09-22 15:27] Mukipun commented on #18193
Thank you much.
My Solution: Delete Attribute "class" and "as" in /vendor/creativestyle/frontend-extension/view/frontend/layout/catalog_category_view.xml and it works so far without side effect :)

[2018-09-22 15:27] #18193 closed, assigned to nobody

[2018-09-22 17:12] hostep commented on #10577
Just FYI: this is still the case with Magento 2.3.0-beta2, @okorshenko: maybe this can get cleaned up before 2.3.0 GA gets released?

[2018-09-22 18:19] Ashok5000 opened #18197 "I can login using old password, then after login Magneto asking me to change the password I try changing the password but can't save the new password"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-22 18:19] magento-engcom-team commented on #18197
Hi @Ashok5000. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-22 19:12] facetimer commented on #13774
i have this issue with magento 2.2.6 ..
What can i do to resolve this issue ?
Thank you

[2018-09-22 19:53] novakivskiy commented on #14232
same problem with magento v2.2.5.
This problem is common to https://github.com/magento/magento2/issues/12509
My solution:
1) declare  plugin
app/code/[Namespace]/[Module]/etc/adminhtml/di.xml
[code]
2) create plugin class app/code/[Namespace]/[Module]/Magento/Sales/Plugin/Controller/Adminhtml/Order/Create/SavePlugin.php
[code]

[2018-09-22 21:18] dnsv commented on #17673
Hi @hostep. I've reproduced the issue locally, then applied my changes from #17344 which fixed the issue for me. I've tested this using 2.2.5 and the latest 2.2-develop with magento's sample data.

[2018-09-22 21:19] #15196 closed, assigned to nobody

[2018-09-22 21:19] #7557 closed, assigned to novikor

[2018-09-22 21:19] #13405 closed, assigned to eduard13

[2018-09-22 21:19] #17780 closed, assigned to nobody

[2018-09-22 21:19] #5402 closed, assigned to edulecca, emanuelarcos

[2018-09-22 21:19] #17567 closed, assigned to magently

[2018-09-22 21:19] #13720 closed, assigned to lewisvoncken

[2018-09-22 21:19] #17890 closed, assigned to nobody

[2018-09-22 21:43] magento-engcom-team commented on #18195
Hi @mahsn. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid de

[2018-09-23 01:40] rysiulg opened #18200 "export"
export missing visibility -not exporting at all
configuration attribiutes messed eg color export takes name from store view name not from admin name
for now only this two observed

### Preconditions

1.
2.

### Steps to reproduce
export products from one magento instance to second magento 2 instance -the same versions
1.
2.

### Expected result
taken export from one magento and make import in seco

[2018-09-23 01:40] magento-engcom-team commented on #18200
Hi @rysiulg. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-23 02:36] webspeaks commented on #4502
@magento-engcom-team Any update? We cant upgrade to 2.2.6 :(

[2018-09-23 02:39] webspeaks commented on #4502
In my case it turned out to be Redis cache.
For those who are facing this error:
1. SSH to your server
2. `$ redis-cli`
3. `flushall`

Clear redis cache and it should be solved.

[2018-09-23 08:05] yamarco commented on #14667
I've heard so much about magento being a top notch solution for e-commerce. But frankly the more I use it the more I realize how 1980 this solution is. This kind of critical frontend bug that has a major impact on Conversion is the kind of thing that any reasonable business would jump to within seconds. Yet here we all are staring at a loader hoping one day we will see the product we would like to

[2018-09-23 09:50] hostep commented on #17673
Thanks very much for testing @dnsv!

I just re-tested and at first I couldn't see it being fixed with your PR.

But I noticed that under Content > Design > Configuration, there was no theme set yet, and that is apparently also needed for a fix, so I've configured 'Magento Luma' as the theme.

After doing that and re-running `bin/magento config:set sales_email/general/async_sending 0`, it now threw

[2018-09-23 10:12] albsa commented on #9466
Has this issue been patched in Magento 2.2.6? Can anybody confirm

[2018-09-23 10:30] albsa opened #18208 "Can't duplicate Magento 2 configurable product"
### Preconditions

1. 2.2.5 & 2.2.6
2. PHP 7.1.21

### Steps to reproduce

1. Create a configurable product with color attribute.
2. Upload several images and assign different variations
3. Try to duplicate the product

### Expected result

1. Duplicated configurable product

### Actual result

1. Infinite image creation loop untill process quits. It generates more than 25000 images when trying to

[2018-09-23 10:30] magento-engcom-team commented on #18208
Hi @albsa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-23 12:05] albsa commented on #18208
### Additional information
My configurable products contains custom options.
I tried to duplicate a product without custom options and there it seems to duplicate without any issue.
I am not sure if this has anything to do with it, I am still searching.

[2018-09-23 13:05] hostep commented on #18208
Hi @albsa, this sounds like a duplicate of https://github.com/magento/magento2/issues/9466, do you agree?

[2018-09-23 13:38] albsa commented on #18208
@hostep The bug is in the same direction, the only thing is, as far as I understand from his comment, he succeeds duplicating a configurable product, at my end it seems stuck and keeps loading / generating pictures forever untill I quit the process. My product never gets duplicated.

[2018-09-23 13:39] albsa commented on #18208
Also strange thing is, when I generate a new configurable product with all the same details, the error does not occur. It seems like this issue happens with products that are migrated from M1.

[2018-09-23 14:18] hostep commented on #18208
We've seen this bug happening in the wild where it kept copying image files until the server's diskspace was completely full. And then the duplication didn't finish because of that.

The core issue of bug #9466 is the fact that it tries to re-save the product on and on and on until it finds an url_key which was not used by another product.
There is a high likelihood that migrating products from M1

[2018-09-23 14:18] #18208 closed, assigned to nobody

[2018-09-23 21:39] valuead commented on #15684
solution? memory increase in php.ini doesn't work I have 4gb set
magento cron:run
PHP Fatal error:  Allowed memory size of 2097152 bytes exhausted (tried to allocate 32768 bytes) in /var/www/html/magento2/vendor/symfony/console/Application.php on line 710

[2018-09-23 22:39] DanielRuf commented on #15684
Make sure to increase it for the CLI and the normal PHP module.
Check your server settings.

[2018-09-23 23:01] daniellof commented on #7617
@aeu for me the same error is presented in the console and I have the same settings that I quoted. I even upgraded Magento to the newly released version 2.2.6 but the error remains the same! Did you get any solutions?

[2018-09-23 23:07] valuead commented on #15684
Your post sounded like make sure you wash your hands before you’re eating … response about nothing . sorry this is how it make me feel

From: Daniel Ruf <notifications@github.com>
Sent: Sunday, September 23, 2018 3:40 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: ValueAd <vlad@valuead.com>; Comment <comment@noreply.github.com>
Subject: Re: [magento/magento2] Allowed memory size of 2097

[2018-09-24 02:55] pmathbliss commented on #10531
The batch calculation is not fixed in 2.2.x. The batches still walk through all the ids even if there are no entities in that batch.i watched the price indexer try to reindex bundles, batch at a time when there are no batches on the site. There are queries that select * from catalog product entity where entity_id between 100 and 200 (depending on the batch size)
They reindex should use the change

[2018-09-24 04:38] DanielRuf commented on #15684
Well, the CLI PHP is a different one.

[2018-09-24 04:39] DanielRuf commented on #15684
Like @hostep wrote:

[2018-09-24 04:45] jhruehl commented on #12889
@Rickertje Yes. An order should be, but this is about quotes. So the problem isn't that easy to solve I guess. Because the fix was placed somewhere, which has an effect on the frontend, too. We use store views only for different languages. So switching the store view (language) in the frontend can/will cause problems with the current fix.

[2018-09-24 05:01] kunj1988 commented on #18183
@Cristiano81, yes, I got the same error while adding Date with **09/30/2088** in `To` field otherwise working fine.

[2018-09-24 05:24] #18197 closed, assigned to nobody

[2018-09-24 05:32] engcom-backlog-nazar commented on #18162
@dmytro-ch Please try again and verify -> Above grid the message It's time to change your password. is shown.
I'm able to reproduce on both instances.

[2018-09-24 05:37] magento-engcom-team commented on #18200
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 05:40] engcom-backlog-nazar commented on #18200
Hi @rysiulg Thank you for you report, the fix fot this issue has already available on 2.3-develop branch
https://github.com/magento/magento2/issues/12330

[2018-09-24 05:40] #18200 closed, assigned to nobody

[2018-09-24 05:45] magento-engcom-team commented on #18194
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 05:52] engcom-backlog-nazar commented on #18194
Hi @waymanxie Seems like problem in you generated folders, try to clean,  Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-24 05:52] #18194 closed, assigned to nobody

[2018-09-24 06:26] engcom-backlog-nazar commented on #18190
HI @Rickertje  this is expected behavior, Hi @strychnide It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-09-24 06:26] #18190 closed, assigned to nobody

[2018-09-24 06:31] engcom-backlog-nazar commented on #18183
Hi @hostep so this is bug ? or we can just leave field empty?

[2018-09-24 06:38] kunj1988 commented on #18183
In my case, While we add date more than 20 years Magento adding `0000-00-00 00:00:00` value in `expiration_date` field.
![select salesrule_coupon adminer](https://user-images.githubusercontent.com/13017040/45939746-86d69200-bff2-11e8-8695-e347908e3d51.png)

[2018-09-24 06:51] magento-engcom-team commented on #18192
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95195`, `MAGETWO-95196` were created

[2018-09-24 06:52] hostep commented on #18183
@engcom-backlog-nazar: the fact that the 20 year problem exist is a bug, but it seems to have already existed since Magento 2.2.0 at least (haven't tested further back).

I'm still curious about the exact problem of @Cristiano81 where it worked on 2.2.5 but no longer on 2.2.6, that part hasn't been discovered yet I believe.

[2018-09-24 07:05] divyabhagat commented on #15490
After that you have to overwrite the file app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml by copying it to your theme app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml

[2018-09-24 07:09] divyabhagat commented on #15037
You have to overwrite the file  app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml and replace the code by this

[2018-09-24 07:09] divyabhagat commented on #15037
$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs" data-mage-init='{
    "breadcrumbs": {
        "categoryUrlSuffix": "<?= $block->escapeHtml($viewModel->getCategoryUrlSuffix()); ?>",
        "useCategoryPathInUrl": <?= (int)$viewModel->isCategoryUsedInProductUrl(); ?>,
        "product": "<?= $block->escapeHtml($block->escapeJsQuote($viewModel->getProductName(), '"')); ?>"

[2018-09-24 07:11] divyabhagat commented on #15490
You have to overwrite the file
app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml and replace the code by this

$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs" data-mage-init='{
    "breadcrumbs": {
        "categoryUrlSuffix": "<?= $block->escapeHtml($viewModel->getCategoryUrlSuffix()); ?>",
        "useCategoryPathInUrl": <?= (int)$viewMod

[2018-09-24 07:15] divyabhagat commented on #15037
You have to overwrite the file  app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml
then edit
"product": "<?= $block->escapeHtml($viewModel->getProductName()); ?>"
to
"product":  "product": "<?= $block->escapeHtml($block->escapeJsQuote($viewModel->getProductName(), '"')); ?>"
then clear your cache.

[2018-09-24 07:17] Cristiano81 commented on #18183
@hostep the fact is very curious.
I opened this ticket because we had a Magento 2.2.2 with a coupon with these settings:
![image](https://user-images.githubusercontent.com/31507804/45940576-2e939600-bfda-11e8-9311-63716f171516.png)
![image](https://user-images.githubusercontent.com/31507804/45940589-394e2b00-bfda-11e8-9428-a8870d8c2e02.png)
![image](https://user-images.githubusercontent.com/315078

[2018-09-24 07:17] engcom-backlog-nazar commented on #18162
@dmytro-ch  on 2.2-dev
![selection_123](https://user-images.githubusercontent.com/40756439/45940663-fd6b9380-bfe2-11e8-985a-7f78f50d9a8d.png)
on 2.3-dev
![selection_124](https://user-images.githubusercontent.com/40756439/45940666-02304780-bfe3-11e8-8760-146116b95f2a.png)

[2018-09-24 07:19] magento-engcom-team commented on #18183
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95197`, `MAGETWO-95198` were created

[2018-09-24 07:28] kunj1988 commented on #18183
@hostep, I got the same issue with Magento 2.2.5, I think the issue with MySQL database. It doesn't allow to add date more than 20 years.

[2018-09-24 07:48] Raffoss opened #18214 "Configurable product don't change Price and Image based on Simple available"
### Preconditions
 magento 2.2.4 (dev test upgrade) or magento 2.1.3(our actualy prod. )

### Steps to reproduce

Configurable product with configurable variations attribute: Color and size

Color: Red and green

size: small and large

4 simple sku:

sku0001 : Red Small T-shirt  : Set Price 10€ : Qnt 10

sku0002 : Red Large T-shirt : Set Price 20€ : Qnt 10

sku0003 : Green Small T-shirt : Set Pric

[2018-09-24 07:48] magento-engcom-team commented on #18214
Hi @Raffoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-24 07:50] magento-engcom-team commented on #18214
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 07:55] farhadfrz commented on #16950
Same issue here!
Running "bin/magento indexer:reindex catalogsearch_fulltext" gives the following error:

`report.CRITICAL: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.catalogsearch_fulltext_scope2_tmp' doesn't exist, query was: ALTER TABLE catalogsearch_fulltext_scope2_tmp RENAME TO catalogsearch_fulltext_scope2`

On Magento 2.2.6 and PHP 7.0.32.

[2018-09-24 07:57] engcom-backlog-nazar commented on #18214
Hi @Raffoss thak you for you report, but if you set to Set Display Out of Stock Products to "no" the must be not displayed the products of qty 0.

[2018-09-24 07:58] dmytro-ch commented on #18162
@engcom-backlog-nazar, thank you for the details!
It was my mistake, now I can reproduce the error.
I will handle this issue.

[2018-09-24 08:04] Raffoss commented on #18214
Hi @engcom-backlog-nazar, thanks for your support!
Simple product with qty 0  they are disabled and not displayed correctly, but the configurable maintain the value of the simple product disabled.

[2018-09-24 08:09] adammada commented on #18138
@hostep I've created pull request with my fix:

https://github.com/magento/magento2/pull/18215

I see in history of that file that this bug was introduced recently by fixing other bug:

https://github.com/magento/magento2/commit/19a6485f7891c0990ba3b493b7d2e28842a96633#diff-62ed4d20e8fceadb859c95aa08d73e4d

Previous solution decoded whole content so it was breaking some valid entries. My solution

[2018-09-24 08:10] engcom-backlog-nazar commented on #18214
@Raffoss Seems like this bug is acknowledged please see ->https://github.com/magento/magento2/issues/16069

[2018-09-24 08:14] magento-engcom-team commented on #18195
Hi @engcom-backlog-nickolas. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the is

[2018-09-24 08:15] engcom-backlog-nazar commented on #18182
Hi @happydownload33 very strange I'm  not able to reproduce, i'm trying with several times, but have no 500 error, this seems really problem in environment, Maybe some config option do this.

[2018-09-24 08:15] engcom-backlog-nazar commented on #18182
@happydownload33 Did you use CE version ?

[2018-09-24 08:51] jakwinkler opened #18216 "Wrong currency assigned after changing storeId by StoreCookieManager"
### Summary

I've tried to create a website switcher. So basically there is 1 website (1 URL) but it has 4 different stores and 4 different currencies. A product price in each currency is a fixed value, it is not calculated by exchange rates that is why we need 4 website setup since Magento 2 does not allow prices per store view.

I've created an observer on `controller_action_predispatch` event
a

[2018-09-24 08:51] magento-engcom-team commented on #18216
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-24 09:44] engcom-backlog-nazar commented on #18214
@Raffoss  This issue is duplicate for this -> https://github.com/magento/magento2/issues/12578
This issue has already fixed in 2.3-develop brnach.

[2018-09-24 09:44] #18214 closed, assigned to nobody

[2018-09-24 09:59] Sharpy310 opened #18218 "Advanced Pricing on Multisite environment not saving"
### Preconditions

Magento CE 2.2.6
PHP v7.1.19-1
Ubuntu 17.10

### Steps to reproduce

1. Install vanilla Magento 2.2.6 instance
2. Enable a customer group to have special pricing on it, for sake of example lets call name it "wholesale" pricing
3. Enable a multi-site environment so that both websites will use the same product, lets call them "website 1" and "website 2"
4. On website 2, create a s

[2018-09-24 09:59] magento-engcom-team commented on #18218
Hi @Sharpy310. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-24 09:59] sanjaychaudhary1412 commented on #18147
@qsolutions-pl :

Is your file **Qextensions\NoResult\Block\Result** extending the file **Magento\CatalogSearch\Block\Result** or you are simply overriding the whole file by creating a fresh block ?

I created a block that is extending the **Magento\CatalogSearch\Block\Result** file and I tried to overwrite the text in getSearchQueryText() function and it's working fine.

Let me know if you are tr

[2018-09-24 10:00] Sharpy310 commented on #18218
@magento-engcom-team give me 2.2.6 instance

[2018-09-24 10:00] magento-engcom-team commented on #18218
Hi @Sharpy310. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-24 10:01] magento-engcom-team commented on #18218
Hi @Sharpy310, here is your [Magento instance](https://i-18218-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18218-2-2-6.engcom.dev.magento.com/admin](https://i-18218-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-24 10:08] BezV8 commented on #18183
20 years from now is the end of Unix time for 32-bit fields, so that is likely the cause of the problem. Magento would have to move to using 64-bit date fields?

[2018-09-24 10:10] magento-engcom-team commented on #18218
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 10:12] Sharpy310 commented on #18218
@engcom-backlog-nazar I have replicated this issue on the test instance, please note you also need to set the product price scope to "Websites" in the configuration to replicate this issue.

[2018-09-24 10:14] engcom-backlog-nazar commented on #18218
Hi @Sharpy310 thank you for you report seems like this is duplicate for this -> https://github.com/magento/magento2/issues/18154 isnt it ?

[2018-09-24 10:30] PatrickWhitehouse opened #18220 "CMS page is not inheriting footer or header"
### Preconditions

1. Version 2.2.5
2. The footer or header has **not** been removed via XML.

### Steps to reproduce

1. Create CMS page, set layout and theme.

### Expected result

1. CMS page should automatically inherit the footer and header.
2. https://pasteboard.co/HFm6Qqa.png

### Actual result

1. Header and footer isn't inherited on the CMS page. The page layout and theme are both set.
2.

[2018-09-24 10:30] magento-engcom-team commented on #18220
Hi @PatrickWhitehouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-09-24 10:40] OnYXCoding commented on #13258
This issue still persists in 2.2.5. Managed to fix the issue by overwriting \Magento\Newsletter\Model\ResourceModel\Subscriber::loadByEmail() in a custom module

    public function loadByEmail($subscriberEmail)
    {
        $select = $this->connection->select()->from($this->getMainTable())->where('subscriber_email=:subscriber_email AND store_id=:store_id');

        $result = $this->connection->

[2018-09-24 10:44] magento-engcom-team commented on #18220
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 10:45] engcom-backlog-nazar commented on #18218
@Sharpy310 I'm closing this as duplicate, if you like to update this, please reopen the issue.

[2018-09-24 10:45] #18218 closed, assigned to nobody

[2018-09-24 10:59] engcom-backlog-nazar commented on #18220
Hi @PatrickWhitehouse Thank you for your report, I'm not able to reproduce following steps you described,
Please can  you show your custom xml. file ?

[2018-09-24 11:05] kunj1988 commented on #18220
@PatrickWhitehouse, I have just tried in vanilla Magento 2.2.5 with below code and working for me.

[code]

[2018-09-24 11:16] PatrickWhitehouse commented on #18220
You've not read my issue. I have not removed it via XML nor am I wanting to remove it.

[2018-09-24 11:17] PatrickWhitehouse commented on #18220
Update:

Seems to show once cache is flushed?

[2018-09-24 11:18] avstudnitz commented on #10890
I'd expect the category repository to be able to save category data for different store ids too, so in my opinion it's a bug that the default store view is set.

[2018-09-24 11:20] kunj1988 commented on #18220
I presumed by this point `2. The footer or header has not been removed via XML.`

[2018-09-24 11:28] PatrickWhitehouse commented on #18220
They appear when the cache is flushed. In relation to your question, no.

[2018-09-24 11:33] engcom-backlog-nazar commented on #18220
@PatrickWhitehouse seems like this problem related to your custom code, With cache:flush same result, i have footer and header.

[2018-09-24 11:35] eWolf62095 commented on #17378
Sires... Do we have any temporary fix for this or band-aid fix? Any workarounds will do.

[2018-09-24 11:43] subhanepro commented on #12777
In apache version 2.4.9, mod_version module is named as "version_module" in WAMP. I enabled it and magento worked as charm. Thank you for the post

[2018-09-24 11:45] magento-engcom-team commented on #18195
@mahsn Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please label this ticket with `"acknowledged"` again.
Thanks!

[2018-09-24 11:46] mahsn commented on #18195
@magento-engcom-team give me 2.3-develop instance

[2018-09-24 11:46] magento-engcom-team commented on #18195
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-24 11:47] magento-engcom-team commented on #18195
Hi @mahsn, here is your [Magento instance](https://i-18195-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18195-2-3-develop.engcom.dev.magento.com/admin](https://i-18195-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-24 11:53] mwr commented on #10890
Had the same issue with the ProductRepository. You load a Product for a specific store_id, then make changes and then save it again. The result being the data written to the default store_id which is not what you would expect. Expected Result would be: the data is written to the product for the store_id that was passed with the product object.
It would be ok to have a fallback to the current store

[2018-09-24 12:03] engcom-backlog-nazar commented on #18220
@PatrickWhitehouse Can you provide more detailed information to reproduce ? I'm try several time without string what i posted,  but have no issue.

[2018-09-24 12:09] mahsn commented on #18195
@magento-engcom-team give me 2.2-develop instance

[2018-09-24 12:09] magento-engcom-team commented on #18195
Hi @mahsn. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-24 12:10] magento-engcom-team commented on #18195
Hi @mahsn, here is your [Magento instance](https://i-18195-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18195-2-2-develop.engcom.dev.magento.com/admin](https://i-18195-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-24 12:15] Sharpy310 commented on #18218
@engcom-backlog-nazar My apologies, I believe it is the same issue - the only thing being is that it does also create a second record on the Advanced Pricing, should I add that as a note on the other issue or just leave it?

[2018-09-24 12:19] magento-engcom-team commented on #18195
@mahsn Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please label this ticket with `"acknowledged"` again.
Thanks!

[2018-09-24 12:20] koopjesboom commented on #17378
@eWolf62095 @thlassche

What version of magento are you using?
Did you migrate data? or did you export import your data.
Like products, categories, attributes and attribute sets?

If you migrated your data from a magento 1 instance this is not good but normal behavior in magento 2.
The database gest broken in several ways, one of them is URL rewrites the next one is unable to change Design configu

[2018-09-24 12:21] magento-engcom-team commented on #18195
@mahsn Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95202`, `MAGETWO-95203` were created

[2018-09-24 12:31] kolaente commented on #4502
@webspeaks That worked for me, thanks!

[2018-09-24 12:32] jalogut commented on #10890
I think the solution is to emulate the store where you want to save the object. At least is what we do.

[code]

[2018-09-24 12:35] avstudnitz commented on #10890
I'd say that's a workaround, but not a real solution. Helps for now, but many other developers will stumble over this.

[2018-09-24 12:36] engcom-backlog-nazar commented on #18218
@Sharpy310 Yes shure add your opinion to the referenced issue, this will add insight to correct the issue

[2018-09-24 12:42] jalogut commented on #10890
Well yes, with solution I meant workaround.

[2018-09-24 12:43] magento-engcom-team commented on #18216
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 12:44] engcom-backlog-nazar commented on #18216
Hi @qsolutions-pl, thank you for you report, please add the -> Preconditions

[2018-09-24 12:45] okorshenko opened #18223 "Test Issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-24 12:45] magento-engcom-team commented on #18223
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-24 12:45] BarnyShergold opened #18224 "2.2.6 - Deadlock in 'url-rewrite' when adding CMS page programmatically"
### Summary
Inserting new CMS page from Upgrade script causes deadlock in url-rewrite table

### Preconditions

1. Magento 2.2.6

### Steps to reproduce

1. Run setup:upgrade so that UpgradeScript (attached) runs

### Expected result

1. CMS page called 'returns' inserted into database
2. setup:upgrade continues to completion with no errors

### Actual result

1. On $cms-Page->save() event, Magent

[2018-09-24 12:45] magento-engcom-team commented on #18224
Hi @BarnyShergold. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-24 12:46] magento-engcom-team commented on #18223
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-09-24 12:47] magento-engcom-team commented on #18223
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95204` were created

[2018-09-24 12:48] magento-engcom-team commented on #18224
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-24 12:50] BarnyShergold commented on #18224
How do I run an upgrade script on your Vanilla instance?

[2018-09-24 12:53] #18223 closed, assigned to okorshenko

[2018-09-24 12:54] engcom-backlog-nazar commented on #18224
Hi @BarnyShergold I'm tested you upgrade script and it works fine have no deadlock.

[2018-09-24 13:29] aeu commented on #7617
Hi @daniellof - unfortunately I did not get a solution to this problem, we had to do something else to work around this bug.

[2018-09-24 13:44] richardreen opened #18226 "After upgrade to Magento 2.2.6 Only Customers Grid stays empty"
After upgrade from Magento 2.2.5 to 2.2.6 the Customers Only grid stays empty even when here are several customers/guests online.
Even a staging server with a initial install of 2.2.6 has this problem.
we suspect that this is a bug in de 2.2.6 code.

### Preconditions

1. Magento 2.2.5
or no install present

### Steps to reproduce
Perform a update from 2.2.5 to 2.2.6 as described in the manual.
or

[2018-09-24 13:44] magento-engcom-team commented on #18226
Hi @richardreen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-24 13:44] VirtusB commented on #15035
+1, still happens in 2.2.6

[2018-09-24 13:49] peterlembke commented on #15155
An AbstractRepository would be awesome. Yes, refactoring the two functions would be a good start.

[2018-09-24 14:07] pratikmage commented on #17592
Hello @Dmutryk and @Yupik you can fix this issue using add int on line number 135 for example

 value="<?= /* @escapeNotVerified */ (int)$block->getDefaultConfigValue('min_sale_qty') * 1 ?>"

[2018-09-24 14:09] richardreen commented on #18226
It is on version tag 2.2.6,
Yes we have also repoduced it on a fresh install of Magento 2.2.6

[2018-09-24 14:27] goranhorvathr commented on #12165
Same issue on 2.2.5 but a little different case.
I have added wysiwyg to the custom widget. It displays directive urls of images and does not convert on frontend to static. If we set directives to true then there is the issue with multiple quotation same quotation marks. To replicate this add a wyswyg field to widget and see what happens on frontend and backend.

[2018-09-24 14:41] phlesaux commented on #7652
Encountered in 2.2.5 using the data migration tool.
In my case, the attribute set was missing.

If you get this error, check your attribute set as @Usman1493 explained

[2018-09-24 15:36] mikelevy300 commented on #12866
I'd also really like to know if data from my stores is being sent to BI without an account.  There's all kinds of privacy implications if data is being sent to Magento 1) without any kind of notification to admin users and 2) without the ability to disable it without error.  If data is being shipped, I'd like to know what is being shipped b/c again, privacy issues.

[2018-09-24 15:41] WED2B commented on #3287
Magetno 2.2.2 Xml Session doesn't work e.g
`<action name="test/cart/add">
    <section name="cart"/>
</action>`
. It works only with required e.g
`<script>
    require([
        'Magento_Customer/js/customer-data'
    ], function (customerData) {
        setTimeout(function(){ customerData.reload(['cart']); }, 1000);
    });
</script>`

is there a bug that it doesn't reload with sections.xml?

[2018-09-24 15:42] lano-vargas commented on #3287
Magetno 2.2.2 Xml Session doesn't work e.g
<action name="test/cart/add"> <section name="cart"/> </action>
. It works only with required e.g
<script> require([ 'Magento_Customer/js/customer-data' ], function (customerData) { setTimeout(function(){ customerData.reload(['cart']); }, 1000); }); </script>

is there a bug that it doesn't reload with sections.xml?

[2018-09-24 15:47] kirmorozov commented on #13685
@piotrekkaminski
When do you expect to have end-to-end tests?
I expect to put it in production as early as Magento 2.3 Production release.

[2018-09-24 16:45] magento-engcom-team commented on #17999
Hi @nntoan. Thank you for your report.
The issue has been fixed in magento/magento2#18000 by @nntoan in 2.2-develop branch
Related commit(s):
 - [1172aae5018f4d9cf0414c30073af78c6c432459](https://github.com/magento/magento2/commit/1172aae5018f4d9cf0414c30073af78c6c432459)

The fix will be available with the upcoming 2.2.8 release.

[2018-09-24 16:45] #17999 closed, assigned to nntoan

[2018-09-24 16:45] magento-engcom-team commented on #17582
Hi @simonworkhouse. Thank you for your report.
The issue has been fixed in magento/magento2#17993 by @keyurshah070 in 2.2-develop branch
Related commit(s):
 - [ae503f60a0e07b1611076802a6b219b2c1dc5bb4](https://github.com/magento/magento2/commit/ae503f60a0e07b1611076802a6b219b2c1dc5bb4)

The fix will be available with the upcoming 2.2.8 release.

[2018-09-24 16:45] #17582 closed, assigned to keyurshah070, max-a-mdmitriev

[2018-09-24 16:45] magento-engcom-team commented on #12095
Hi @thomvanderboon. Thank you for your report.
The issue has been fixed in magento/magento2#14065 by @therool in 2.2-develop branch
Related commit(s):
 - [89a0a09f2b843948b1f784d077506dcee834efd9](https://github.com/magento/magento2/commit/89a0a09f2b843948b1f784d077506dcee834efd9)
 - [5815a2073d4703eccbb12100e1bbe7dc48bb79bb](https://github.com/magento/magento2/commit/5815a2073d4703eccbb12100e1bbe

[2018-09-24 17:45] amenk opened #18227 "Customizable Option values do not end up in REST API call /orders (orderRepositoryV1)"
### Summary

We have added a customizable option text area using the admin backend, which is filled with text when adding the product to the cart.
Later we export the order to an ERP via the REST interface.

In the resulting XML or JSON, the attribute is completely missing.
In the backend, the information is there.

We believe, that the information in the backend, should also be exposed via the AP

[2018-09-24 18:06] DrewML commented on #17813
Thanks for starting the discussion on this @krzksz - this is a great find! I noticed this when profiling a few weeks ago, but I didn't see the same bottleneck as you because I had only visited a few products on the storefront.

At some point, we should look into the evacuation strategy we're using for `product_data_storage` and verify that it actually works. `Magento_Customer/js/customer-data.js`

[2018-09-24 20:11] Rickertje commented on #16604
@magento-engcom-team hi guys any idea when this gets fixed (along with maybe https://github.com/magento/magento2/issues/18059 and https://github.com/magento/magento2/issues/12889 and https://github.com/magento/magento2/issues/16604 which are possible duplicates) ?

[2018-09-24 20:30] oviliz commented on #15638
Why do we need these modules anyway?

[2018-09-24 21:07] unaipuelles commented on #2027
I have the same problem, I can't fix it. I have made what @mazhalai said but nothing happened. Thanks!

[2018-09-24 21:39] DrewML commented on #17813
Thanks for starting the discussion on this @krzksz - this is a great find! I noticed this when profiling a few weeks ago, but I didn't see the same bottleneck as you because I had only visited a few products on the storefront.

At some point, we should look into the evacuation strategy we're using for `product_data_storage` and verify that it actually works. `Magento_Customer/js/customer-data.js`

[2018-09-24 21:57] DrewML commented on #17813
I dumped the JSON from the text file in @krzksz's original post into my `localStorage` for `product_data_storage` and did some before/after profiling.

**Without Code Change** (~22s)
![image](https://user-images.githubusercontent.com/5233399/45981231-e4320980-c019-11e8-9b6e-76494e1bd1c3.png)

**With Code Change** (~390ms)
![image](https://user-images.githubusercontent.com/5233399/45981375-65899c00

[2018-09-24 23:46] orlangur commented on #3287
@lano-vargas section should be enough if you access this action with post/put/delete http method.

[2018-09-25 00:01] tomekjordan commented on #18226
Fix the bug title, its misleading

[2018-09-25 00:50] slavvka commented on #18101
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#18117 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [568fa46a9c5ec3bb7de2746ea168e16b90eb1aba](https://github.com/magento/magento2/commit/568fa46a9c5ec3bb7de2746ea168e16b90eb1aba)
 - [ed994905103bc3824e940b96cf72239a33d932b4](https://github.com/magento/magento2/commit/ed994905103bc3824e940b96cf72239a3

[2018-09-25 03:46] chattertech commented on #14667
I know there is a fix in the works for initial image speed and that is great but will there ever be a fix for the js problems in M2. This probably ties into why the Magento 2 cart is so slow compared to other solutions as well.

So it looks like the following pages are nice and speedy..

Home page and other CMS pages
Category pages
Search pages
Account Pages

These are slow

Product pages
Checkout

[2018-09-25 05:54] magento-engcom-team commented on #18226
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 05:56] anilspurtree commented on #4468
This issue is still present in 2.2.6 version any updates ??

[2018-09-25 06:11] anilspurtree commented on #4468
The only solution seems to be disable pagination "Display Page Control" to NO

[2018-09-25 07:08] devendra-m opened #18229 "Error while reindexing price"
### Preconditions

1. Magento ver. 2.2.6
2. PHP 7.0.26 (cli) (built: Nov 21 2017 14:36:41) ( NTS )

### Steps to reproduce

1. After upgrading magento from version 2.2.2 to 2.2.6

### Expected result

1. Reindexing of price

### Actual result

1. While reindexing price it shows error

Base table or view not found: 1146 Table catalog_product_index_price_temp' doesn't exist, query was: SELECT `i`.`e

[2018-09-25 07:08] magento-engcom-team commented on #18229
Hi @devendra-m. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-25 07:10] sachincity commented on #6610
Hello Friends,

Anybody solution for Catalog Price Rules disappear the next day, cron doesn't help.

[2018-09-25 07:11] engcom-backlog-nazar commented on #18015
@kunzi, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-25 07:11] #18015 closed, assigned to nobody

[2018-09-25 07:11] engcom-backlog-nazar commented on #18011
@alexeya-ven , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-25 07:11] #18011 closed, assigned to nobody

[2018-09-25 07:16] engcom-backlog-nazar commented on #18226
Hi @richardreen the fix for this issue has already available in 2.3-develop and 2.2-develop branch

[2018-09-25 07:16] #18226 closed, assigned to nobody

[2018-09-25 07:45] engcom-backlog-nazar commented on #18147
@qsolutions-pl Seems like @sanjaychaudhary1412 is right, i extends the Magento\CatalogSearch\Block\Result end this works perfectly

[2018-09-25 07:46] magento-engcom-team commented on #18229
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 07:52] engcom-backlog-nazar commented on #18147
@qsolutions-pl I'm  closing this issue as this is resolved, if you like to update this please reopen the issue

[2018-09-25 07:52] #18147 closed, assigned to nobody

[2018-09-25 08:07] wontroba666 commented on #12185
same on 2.2.6

[2018-09-25 08:08] engcom-backlog-nazar commented on #18216
Hi @qsolutions-pl Try to use setCurrentCurrencyCode(), in my case this works, if you like to update this, please reopen the issue. Also change the storeId by CookieManager, its not best practice

[2018-09-25 08:08] #18216 closed, assigned to nobody

[2018-09-25 08:29] radub opened #18232 "adminhtml_customer not showing in Admin Customer Attribute - Add/Edit - Forms to Use In"
### Summary
I have programatically created a customer attribute and set it to be displayed in **adminhtml_customer**. All is good, the attribute is being displayed only in the admin customer edit section as desired. The **Magento** version is **Magento Cloud ver. 2.2.5**.
[code]
However, when I try to edit the attribute in the Admin (Store/Attributes/Customer) - let's say I want to make it show in

[2018-09-25 08:29] magento-engcom-team commented on #18232
Hi @radub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-25 08:31] radub commented on #18232
yes

[2018-09-25 08:32] magento-engcom-team commented on #18232
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 08:33] engcom-backlog-nazar commented on #18229
Hi @devendra-m  I'm not able to reproduce following steps your described.

[2018-09-25 08:35] engcom-backlog-nazar commented on #18232
HI @radub Thank you for your report, Customer attributes available only in EE version.

[2018-09-25 08:37] radub commented on #18232
I'm using Magento Cloud ver. 2.2.5 - updated the description

[2018-09-25 08:40] lano-vargas commented on #3287
@orlangur Thank you.

I am injecting the `\Magento\Checkout\Model\Cart`  then:

        .....
        try {

            $_product = $this->productRepository->getById($productId);

            $this->_cart->addProduct($_product, $params);

            $this->_cart->save();

            $this->_messageManager->addSuccessMessage(__('You added '.$_product->getName().' to your shopping cart.'));

[2018-09-25 08:40] engcom-backlog-nazar commented on #18232
@radub Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There are no account manag

[2018-09-25 08:40] #18232 closed, assigned to nobody

[2018-09-25 08:46] radub commented on #18232
@engcom-backlog-nazar thanks for your answer. I'm going to add it as a feature request.

[2018-09-25 08:49] radub opened #18233 "Add the adminhtml_customer option to Admin Customer Attributes - Forms to Use In - list"
### Summary

Crating feature request instead of issue reporting: https://github.com/magento/magento2/issues/18232

I have programatically created a customer attribute and set it to be displayed in **adminhtml_customer**. All is good, the attribute is being displayed only in the admin customer edit section as desired.
[code]
However, when I try to edit the attribute in the Admin (Store/Attributes/C

[2018-09-25 08:49] magento-engcom-team commented on #18233
Hi @radub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-25 08:49] radub commented on #18233
yes

[2018-09-25 08:51] engcom-backlog-nazar commented on #18232
@radub Store/Attributes/Customer Not available on CE version.

[2018-09-25 08:53] magento-engcom-team commented on #18233
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 08:56] radub commented on #18232
Log into Magento Admin. Click on the **Stores** icon on the left menu, then chose **Customer** from the **Attributes** section. In the next page click **Add new attribute** on top right. In the next page scroll to the bottom and look for the **Forms to Use In** multiselect.

[2018-09-25 08:57] engcom-backlog-nazar commented on #18232
@radub
![selection_127](https://user-images.githubusercontent.com/40756439/46003890-3aef2000-c0ba-11e8-89aa-319a6c4c2460.png)

[2018-09-25 09:01] radub commented on #18232
Got it. I'll report the issue on the EE issue reporting channels. Thank you for your assistance! 👍

[2018-09-25 09:02] engcom-backlog-nazar commented on #18232
@radub Your welcome.

[2018-09-25 09:04] engcom-backlog-nazar commented on #18233
Hi @radub Thank you for you report, Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source onl

[2018-09-25 09:04] #18233 closed, assigned to nobody

[2018-09-25 09:18] maddykumarsingh commented on #10314
Issue will short out with memory limit

[2018-09-25 09:38] shyam100379 commented on #14750
Same issue can be seen in 2.2.3 as well.
I will tell the scenario. we do have retail and business customers. Changing customer group based on VAT ID is enabled in the site.
Once loggedIn and a business customer tries to checkout, the VAT should turn zero since for business customers, only UK got VAT(according to our site rules)
But when we try, its always adding VAT also. But whenever we disable t

[2018-09-25 09:54] ulftietze opened #18234 "Product Import -> Upsert Category: Url Rewrites are just created for default website"
### Preconditions

1. Magento 2.2.X
2. PHP 7
3. At least two websites

### Steps to reproduce

1. Create a CSV with Product Information which includes Category String
2. Category String Contains Category which does not exists so Magento does an "upsertCategory" internally

### Expected result

1. Magento creates URL Rewrites for all websites

### Actual result

1. Magento just create the URL-Rewri

[2018-09-25 09:54] magento-engcom-team commented on #18234
Hi @ulftietze. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-25 09:54] magento-engcom-team commented on #18234
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 10:12] engcom-backlog-nazar commented on #18234
HI @ulftietze I'm not able to reproduce steps you described, can you show your csv file ?

[2018-09-25 10:32] BarnyShergold commented on #18234
I have found there was a small patch being included during our build process that was causing the issue - it was created to solved some 2.2.6 build problems in Jenkins.

After reversing this patch the deadlock cleared. I am satisfied that the specific issue reported here is not caused by Core Magento.

[2018-09-25 10:33] BarnyShergold commented on #18234
Apologies two issues got confused on browser

[2018-09-25 10:39] pjw345 opened #18235 "Can't create new order in admin when using multiple store views"
### Preconditions

1. Magento 2.2.6
2. PHP 7.0.32

### Steps to reproduce

1. Create second store view, first store view en_GB, second store view es_ES
2. Install language packs from crowdin.com/project/magento-2
3. Create a customer group for example Wholesale
4. Create an order from existing customer using Main Website Store en_GB

### Expected result

1. Expect to see Create New Order screen wi

[2018-09-25 10:39] magento-engcom-team commented on #18235
Hi @pjw345. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-25 10:39] ankurverma5540 opened #18236 "Magento 2 Issue With Order Total If add custom amount to Tax"
I am adding custom amount to tax using Observer. My Observer code in events.xml is

`<event name="sales_quote_address_collect_totals_after">
    <observer name="addtax" instance="Vendor\Mymodule\Observer\ChangeTaxTotal"/>
</event>`

My Observer file code to add custom amount to tax is

`if (count($total->getAppliedTaxes()) > 0) {
            $total->addTotalAmount('tax', $percentfval);

[2018-09-25 10:39] magento-engcom-team commented on #18236
Hi @ankurverma5540. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-25 10:43] magento-engcom-team commented on #18236
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 10:44] engcom-backlog-nazar commented on #18236
Hi @ankurverma5540, thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-25 10:44] #18236 closed, assigned to nobody

[2018-09-25 10:45] magento-engcom-team commented on #18235
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 10:46] PascalBrouwers commented on #5321
After founding the obscure setting `'document_root_is_pub' => true` to fix my sitemaps because my site is server from the `pub` folder I see the images are also starting with 'pub' in the sitemap.xml
I can't believe this still hasn't been fixed.

[2018-09-25 10:50] PascalBrouwers commented on #5321
My quick workaround in NGINX:
[code]

[2018-09-25 10:55] nasimqota commented on #5863
i have solution for that.
but i  do that manually from dbs for now. i'm creating a plugin for that and send it you guys.
if any one needs help for doing that manually please contact feel free.

[2018-09-25 11:06] pjw345 opened #18237 "Cosmetic display issue - Order / Account Information"
### Preconditions

1. Magento 2.2.6
2. PHP 7.0.32

### Steps to reproduce

1. Display a sales order that has been created in a currency other than the base currency
2.

### Expected result

1. Exchange rate should be displayed in the Order / Account Information
![capture](https://user-images.githubusercontent.com/24723606/46010540-f0ba6e80-c0ba-11e8-95fe-db535c630b96.PNG)

### Actual result

1. Ex

[2018-09-25 11:06] magento-engcom-team commented on #18237
Hi @pjw345. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-25 11:18] engcom-backlog-nazar commented on #18235
Hi @pjw345 I'm not able to reproduce following steps you described. see attachments
![selection_128](https://user-images.githubusercontent.com/40756439/46011227-e5247300-c0cd-11e8-9cba-ab5621edfccd.png)

[2018-09-25 11:24] #18237 closed, assigned to nobody

[2018-09-25 11:28] engcom-backlog-nazar commented on #18235
@pjw345  Yes

[2018-09-25 11:29] pjw345 commented on #18235
Your screen shot shows you are using a customer from the group General and not from another Customer Group

[2018-09-25 11:31] ulftietze commented on #18234
@BarnyShergold i accept your apologize if you also can reproduce this issue :laughing:

[2018-09-25 11:41] engcom-backlog-nazar commented on #18235
@pjw345  Same result, and in your screenshot you have general group.
![selection_129](https://user-images.githubusercontent.com/40756439/46012175-05096600-c0d1-11e8-9bd7-f355da94ae32.png)

[2018-09-25 11:45] pjw345 commented on #18235
I am currently in the process of trying to debug what might be causing the issue, I've checked the header block and thought perhaps it was because it couldn't get the customer name or store name

Magento\Sales\Block\Adminhtml\Order\Create\Header

and that appears to be working ok,

now looking where it could be failing in
vendor\magento\module-sales\view\adminhtml\templates\order\create\data.phtml

[2018-09-25 11:46] pjw345 commented on #18235
You are correct in the screenshot it shows as a General customer, but the customer I selected was actually a Wholesale customer

[2018-09-25 11:49] devendra-m commented on #18229
Hi, The error is because getIdxTable function in vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Price/DefaultPrice.php. It is returning table name as "catalog_product_index_price_temp" while it should be "catalog_product_index_price_tmp"

public function getIdxTable($table = null)
    {
        return $this->tableStrategy->getTableName('catalog_product_index_price');
    }

[2018-09-25 11:53] pjw345 commented on #18235
Checking the error logs and the timing I think it might actually be a Klarna issue

Missing required attribute(s) on create: "purchase_currency, orderlines". {"exception":"[object] (Klarna\\Core\\Model\\Api\\Exception(code: 0): Missing required attribute(s) on create: \"purchase_currency, orderlines\". at /var/www/vhosts/discount2.magedemo.co.uk/httpdocs/vendor/klarna/module-kp/Model/Api/Request/B

[2018-09-25 11:55] engcom-backlog-nazar commented on #18235
@pjw345  Thank you, that you posted log file, now clear.

[2018-09-25 12:01] pjw345 commented on #18235
I can confirm disabling the Klarna modules removes the exception, but the Error 500 remains

[2018-09-25 12:02] happydownload33 commented on #18182
@engcom-backlog-nazar

Some update from my side :

We use Version 2.2.6 CE my webhoster helps me fixed the problem.

-------------------------------------------------

We getting the error in the logs
[25-Sep-2018 08:32:39 UTC] PHP Fatal error: Uncaught Exception: Warning: ini_set(): Cannot find save handler 'db' in /home/site/public_html/vendor/magento/framework/Session/SessionManager.php on line

[2018-09-25 12:02] engcom-backlog-nazar commented on #14750
Hi @shyam100379 Ok. i'm try again with you scenario

[2018-09-25 12:03] pjw345 commented on #18235
And I can confirm
sales/order_create/loadBlock/key/.../block/header?isAjax=true works OK
sales/order_create/loadBlock/key/.../block/data?isAjax=true - generates and error 500

[2018-09-25 12:11] happydownload33 commented on #18182
Have a test with a clean install yesterday on my Testserver with magento 2.2.6 and see it also works.

looks 5 minutes ago on app/etc/env.php there and see also there is filling

'session' => [
        'save' => 'files'

Reproduce to change it to db and 500 error is appears.

Not standing in the magento release log that this is changed.

[2018-09-25 12:13] deefco opened #18238 "SitemapItem extends nothing, implements DTO in a weird way."
### Summary

In Magento 2.3 Sitemap has been split into Sitemap and SitemapItem, so we can use ItemProviders to compose sitemaps. The way SitemapItem has been implemented is kind of weird though, it is a pure DTO. Yet is doesn't extend DataObject or any of it's child classes, all data is passed through the constructor and saved in class properties.

The issue with this is that ItemProviders now si

[2018-09-25 12:13] magento-engcom-team commented on #18238
Hi @deefco. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-25 12:14] pjw345 commented on #18235
Turned on error reporting in bootstrap.php and the error returned is a failure to get a custom attribute from the customer data model

Call to undefined method Magento\Customer\Model\Data\Customer::getCreditLimit()

This attribute is shown on the customer screen and added via the data migration process.  So strictly speaking this isn't a vanilla installation, but a clean Magento 2 installation wit

[2018-09-25 12:14] #18235 closed, assigned to nobody

[2018-09-25 12:14] deefco commented on #18238
@magento-engcom-team yes

[2018-09-25 12:15] engcom-backlog-nazar commented on #18182
@happydownload33 Nice! I can reproduce this :)
![selection_130](https://user-images.githubusercontent.com/40756439/46013725-c1fdc180-c0d5-11e8-98ee-5cd9e840f0f2.png)

[2018-09-25 12:18] devendra-m commented on #18229
Hi, After going through code, I found the error is appearing in the function checkIfCustomOptionsExist in vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Price/CustomOptionPriceModifier.php

`private function checkIfCustomOptionsExist(IndexTableStructure $priceTable): bool
    {
        $metadata = $this->metadataPool->getMetadata(ProductInterface::class);

        $select = $thi

[2018-09-25 12:20] #18182 closed, assigned to nobody

[2018-09-25 12:41] magento-engcom-team commented on #18238
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 12:41] sidolov commented on #18009
Hi @sidm. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#2158 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [c5e1845fc07c442903b5d9f3b2c56bf39bc81f4f](https://github.com/magento/magento2/commit/c5e1845fc07c442903b5d9f3b2c56bf39bc81f4f)

The fix will be available with the upcoming 2.2.8 release.

[2018-09-25 12:41] #18009 closed, assigned to p-bystritsky

[2018-09-25 12:41] sidolov commented on #9830
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#17998 by @MateuszChrapek in 2.2-develop branch
Related commit(s):
 - [9316bd0eae2acc59dcceae09d212836083e93167](https://github.com/magento/magento2/commit/9316bd0eae2acc59dcceae09d212836083e93167)
 - [aaa55287f4be6f2c210d8026b8114f60e8735258](https://github.com/magento/magento2/commit/aaa55287f4be6f2c210d8026b8114f

[2018-09-25 12:41] #9830 closed, assigned to rogyar, MateuszChrapek

[2018-09-25 12:41] sidolov commented on #10530
Hi @ionutdicu. Thank you for your report.
The issue has been fixed in magento/magento2#17998 by @MateuszChrapek in 2.2-develop branch
Related commit(s):
 - [9316bd0eae2acc59dcceae09d212836083e93167](https://github.com/magento/magento2/commit/9316bd0eae2acc59dcceae09d212836083e93167)
 - [aaa55287f4be6f2c210d8026b8114f60e8735258](https://github.com/magento/magento2/commit/aaa55287f4be6f2c210d8026b81

[2018-09-25 13:10] engcom-backlog-nazar commented on #18234
@ulftietze Seem like this already fixed in 2.3-develop branch. I was testing this, and import generate url rewrites to both websites

[2018-09-25 13:11] phoenix128 commented on #15828
Not yet, till now I was unable to reproduce it. I am setting up a new clean environment to give another chance.

[2018-09-25 13:17] engcom-backlog-nazar commented on #18238
Hi @deefco  It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-09-25 13:17] #18238 closed, assigned to nobody

[2018-09-25 13:18] ilnytskyi commented on #12987
Check
`/vendor/magento/framework/Session/SessionManager.php`
there is a function that looks like this
`
public function regenerateId()
    {
        if (headers_sent()) {
            return $this;
        }

        $this->isSessionExists() ? session_regenerate_id(true) : session_start();
        $this->storage->init(isset($_SESSION) ? $_SESSION : []);

        if ($this->sessionConfig->getUseCook

[2018-09-25 13:31] engcom-backlog-nazar commented on #18229
@devendra-m The table name is right. i have the same, but have no issue, problem may be in some custom option of product.
![selection_133](https://user-images.githubusercontent.com/40756439/46017571-7dc3ee80-c0e0-11e8-80ee-64c482a2c5e4.png)

[2018-09-25 13:40] PiroozMB commented on #14052
It's really not fine. I cannot move to magento 2.3 and need the fix. It should not be like each time moving to the new version of magento to fix a specific bug. So what was the fix guys. I get that error with customer login not on the checkout page.

[2018-09-25 13:43] engcom-backlog-nazar commented on #18229
@devendra-m  seems like this already fixed on 2.3-develop branch.

[2018-09-25 13:43] #18229 closed, assigned to nobody

[2018-09-25 13:55] MartinAarts commented on #14667
The fix in #17813 fixes this problem. Loading time of productpages goes from 30 seconds, down to loaded within a second.

[2018-09-25 14:05] AirmanAJK commented on #14667
Per https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascript/product-frontend-storage.html:

Pretty ironic that this mechanism was added to improve performance.

[2018-09-25 14:08] AirmanAJK commented on #17813
Another Magento "performance enhancement" that did more harm than good. In my opinion, they need to focus on reducing client-side resources needed instead of adding more server caching. I have a 40ms TTFB, but 10 seconds of client-side execution.

[2018-09-25 14:15] densen45 opened #18240 "Selections for bundle options of type checkbox are wrong on the wishlist"
All selections of a bundle option of type checkbox that were checked once are added to the wishlist -- no matter if they were unchecked later, before the bundle is added to the wishlist.

### Preconditions

Magento 2.2.5
**Updated(09/19/2019):** Still actual on `2.3-develop`

### Steps to reproduce

1. Create a bundle product with at least one option of type checkbox
2. Add several (at least three

[2018-09-25 14:15] magento-engcom-team commented on #18240
Hi @densen45. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-25 14:42] magento-engcom-team commented on #18240
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-25 14:44] samuel20miglia commented on #14674
yes,
I just tried it and it still does not work correctly using different url_key for the same category for example.

[2018-09-25 14:44] densen45 commented on #18240
@magento-engcom-team I was able to reproduce the issue on the provided vanilla Magento instance

Please, see attached image. I had selected the first two selections and deselected them again, but they are still added to the post data of the add to wishlist button, and so, they will be listed on the wishlist.

![issue-18240-001](https://user-images.githubusercontent.com/3801001/46021754-9bde1e80-c0

[2018-09-25 15:04] hostep commented on #13156
Here is a new and proper patch which I just created and tested pretty well and has no downsides (apply to `magento/module-eav` modules):
[code]

I'll create a PR for this later.

[2018-09-25 17:00] aunik commented on #4165
@edudeleon here is an example I have posted https://magento.stackexchange.com/a/243747/41104

[2018-09-25 17:55] kuldeepdhaka opened #18242 "WebAPI dont support mutliple return type."
### Preconditions

1. 2.3-develop

### Steps to reproduce

[code]

`MyRestApiInterface1`:
If `fetch()` return `ErrorFetchResponceInterface` everything is fine.
BUT,
if `fetch()` return type of `SuccessFetchResponceInterface`, then Magento try to search for method `getMessage()` that exists only in `ErrorFetchResponceInterface`.

`MyRestApiInterface1Variant` Dont work
`MyRestApiInterface2`: `Class

[2018-09-25 17:55] magento-engcom-team commented on #18242
Hi @kuldeepdhaka. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-25 18:01] Jilco opened #18243 "After 2.2.6 upgrade reports generates enormous .tar file in tmp/analytics folder in root"
### Preconditions
1. Magento 2.2.6
2. Ngingx
3. Redis

### Steps to reproduce
1. Upgrade to 2.2.6
2. Switch on reports (or don't switch of if you already switched it on in earlier version)

### Expected result
1.  I don't realy know, i think the files are needed for advance reports

### Actual result
1. In the /tmp/analytics folder in de root of the webserver an huge (1.7 Gb) .tar (~tmp-1537867209

[2018-09-25 18:01] magento-engcom-team commented on #18243
Hi @Jilco. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-25 18:03] Jilco commented on #18243
@magento-engcom-team give me 2.2.6 instance

[2018-09-25 18:03] magento-engcom-team commented on #18243
Hi @Jilco. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-25 18:04] magento-engcom-team commented on #18243
Hi @Jilco, here is your [Magento instance](https://i-18243-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18243-2-2-6.engcom.dev.magento.com/admin](https://i-18243-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-25 18:15] Jilco commented on #18243
Settings in the profided instance are the same as in my situation, but i can't see what happens when generation the report files

[2018-09-25 18:30] kuldeepdhaka commented on #18242
`
return current($methodDocBlock->getTags('return'));
`
This is the culprit block that throw away all other information:
https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Reflection/TypeProcessor.php#L747

[2018-09-25 18:41] iget-master commented on #2056
@BenSpace48 did you found how to translate this string? I'm stuck on it.

[2018-09-25 18:42] DrewML commented on #17813
@MartinAarts that's exciting news! Did you test this out on a production store?

@AirmanAJK that's what we're doing in this thread 🙂

[2018-09-25 18:48] MartinAarts commented on #17813
@DrewML Yes, this is running in production on http://masta.nl right now. Seems to be working excellent!

[2018-09-25 18:57] VivekShingala commented on #7340
I think this error occurs when we have API or Model interface with different data types. For instance, in our interface declaration, we have a getter and setter with return type and input type as int and in the layout xml file we have not defined the dataType which is text by default.

We should have a compatible dataType in xml file as well. For example, any dataType from below.

`<item name="con

[2018-09-25 19:17] t-richards opened #18245 "Unable to add >50% of available product qty to order in admin panel"
### Preconditions

1. Magento 2.2.6, fresh install with all sample data
2. PHP 7.1.22
3. Apache 2.4.34

### Steps to reproduce

1. In the admin panel, select `Sales > Orders > Create New Order`.
2. Select the sample "Veronica Costello" customer.
3. Select "Add Products".
4. Locate the following sample product and fill in the quantity field:
 - SKU: `WSH12-32-Red`
 - Quantity: `51`
5. Select "Add S

[2018-09-25 19:17] magento-engcom-team commented on #18245
Hi @t-richards. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-25 19:17] t-richards commented on #18245
@magento-engcom-team give me 2.2.6 instance

[2018-09-25 19:18] magento-engcom-team commented on #18245
Hi @t-richards. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-25 19:18] magento-engcom-team commented on #18245
Hi @t-richards, here is your [Magento instance](https://i-18245-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18245-2-2-6.engcom.dev.magento.com/admin](https://i-18245-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-25 19:43] t-richards commented on #18245
I can confirm that the issue is reproducible on the provided vanilla Magento instance. Here is a screen recording of this confirmation:

![magento2-18245](https://user-images.githubusercontent.com/3905798/46038621-97156c80-c0d9-11e8-92e5-edf3a5a993f7.gif)

[2018-09-25 20:41] jarnooravainen opened #18246 "Product attribute option manager's existing option check fails"
### Preconditions
1. Magento Commerce 2.2.5 (version of module-catalog is 102.0.5)

### Steps to reproduce
1. Add attribute options by calling \Magento\Catalog\Model\Product\Attribute\OptionManagement::add
1. Add attribute option that has admin scope value '01'.
2. Add another option for same attribute that has admin scope value '1'.

### Expected result
1. Both options can be found from table eav

[2018-09-25 20:41] magento-engcom-team commented on #18246
Hi @jarnooravainen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-25 20:56] myselfgaurav opened #18247 "magento 2 widget layout update : specified pages section not showing all cms pages"
I have created widget that i want to show on sidebar of about us and our company page, but in **widget layout update** >>  **specified pages** section i can not find any option to see any option of My Cms About us and CMS Company page ,

Is there any fix to it

[2018-09-25 20:57] magento-engcom-team commented on #18247
Hi @myselfgaurav. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-25 21:05] myselfgaurav commented on #18247
For more details i am using magento 2.2.6
Server : nginx + php-fpm , php verison : PHP 7.0.32-0ubuntu0.16.04.1
Added screenshot of issues  (here i can not see all cms pages like about us and other cms pages )
![capture](https://user-images.githubusercontent.com/1726505/46043052-8f36e600-c134-11e8-9cd8-db501bfdb744.PNG)
![capture1](https://user-images.githubusercontent.com/1726505/46043057-93630380

[2018-09-25 21:31] MidoAhmed commented on #2056
yes man you should dive in magento folders and find fr.json file then you
should translate all things thats not translating automaticaly

Le mar. 25 sept. 2018 à 19:41, We are IGET <notifications@github.com> a
écrit :

[2018-09-25 21:40] JRhyne commented on #6073
This is still an issue in Commerce 2.2.5

[2018-09-25 22:38] samuelmafra commented on #5863
Same problem with 2.2.5.
@nasimqota waiting for you solution
Thanks

[2018-09-25 22:41] pmsteil opened #18248 "Magento 2.2.6 install Exception: Please update your modules: Run "composer install" from the Magento root directory."
### Preconditions

1. Correctly configured and running Version 2.2.5

### Steps to reproduce

completely rebuilt my local docker install with a v2.2.5 code base and magento db.  All working well. then proceeded to install v2.2.6 thusly:

- composer require magento/product-community-edition 2.2.6 --no-update
- rm -rf  var
- composer update && composer install
- bin/magento maintenance:enable
- bin/

[2018-09-25 22:42] magento-engcom-team commented on #18248
Hi @pmsteil. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-25 22:46] pmsteil commented on #18248
@magento-engcom-team give me 2.2.6 instance

[2018-09-25 22:46] magento-engcom-team commented on #18248
Hi @pmsteil. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-25 22:46] pmsteil commented on #18248
@magento-engcom-team give me 2.2.5 instance

[2018-09-25 22:46] magento-engcom-team commented on #18248
Hi @pmsteil. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-25 22:47] magento-engcom-team commented on #18248
Hi @pmsteil, here is your [Magento instance](https://i-18248-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18248-2-2-6.engcom.dev.magento.com/admin](https://i-18248-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-25 22:54] pmsteil commented on #18248
I won't be able to reproduce this way since I can't run the commands via ssh that I am running.  Did I miss something in the upgrade process?

[2018-09-25 23:40] samuelmafra commented on #10304
Magento 2.2.5 with the same problem. We are waiting years for this correction. The correct logic would be to be able to backorder product out of stock and with quantity below 1.

Still waiting...

[2018-09-26 00:08] DrewML commented on #8646
If we just move the core application's CSS to load async (or at the bottom of the document), your shoppers will then have to deal with a [flash of unstyled content](https://en.wikipedia.org/wiki/Flash_of_unstyled_content) on the first visit, which is jarring.

The ideal solution here is to inline critical CSS for the first render, and then async load the rest of the styles.

Unfortunately the curr

[2018-09-26 01:30] railsgem opened #18249 "Magento 2 RESTFUL API not following JSON Standard"
### Description
Magento 2 RESTFUL API not following JSON Standard, there are `array`, `int`, `string`, `boolean` types response formats. It's not convenient for FrontEnd Developers.

### Expected behavior
Return everything in JSON format.

### Benefits
It's an industry standard, and it's convenient for Mobile Development.

### Additional information
The format can be
[code]

[2018-09-26 01:30] magento-engcom-team commented on #18249
Hi @railsgem. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-26 01:35] railsgem commented on #18249
@magento-engcom-team give me 2.2.6 instance

[2018-09-26 01:35] magento-engcom-team commented on #18249
Hi @railsgem. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-26 01:36] magento-engcom-team commented on #18249
Hi @railsgem, here is your [Magento instance](https://i-18249-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18249-2-2-6.engcom.dev.magento.com/admin](https://i-18249-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-26 05:56] magento-engcom-team commented on #18247
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 05:57] engcom-backlog-nazar commented on #18247
Hi @myselfgaurav , thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-26 05:57] #18247 closed, assigned to nobody

[2018-09-26 05:58] magento-engcom-team commented on #18249
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 06:07] shirishShoptimize commented on #4953
The error still occurs when we try to reorder from the admin.
Magento version: 2.1.15 CE

[2018-09-26 06:08] engcom-backlog-nazar commented on #18249
Hi @deefco thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-09-26 06:08] #18249 closed, assigned to nobody

[2018-09-26 06:09] magento-engcom-team commented on #18248
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 06:12] RamanMalhotra88 opened #18250 "Unable to login or create account in magento 2.3 local setup"
### Preconditions

1. Magento version 2.3
2. Environment: Mac OS

### Steps to reproduce

We are facing issue while customer signup / sign-in in magento 2.3 local setup:

steps to reproduce:

1. created customer using rest api "POST /V1/customers" with below data:
{
  "customer": {
    "email": "test@test.com",
    "firstname": "test",
    "lastname": "test",
    "middlename": "test",
    "store_i

[2018-09-26 06:12] magento-engcom-team commented on #18250
Hi @RamanMalhotra88. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-26 06:14] magento-engcom-team commented on #18250
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 06:16] engcom-backlog-nazar commented on #18248
Hi @pmsteil This this issue happened because version of modules in DB has wrong number, update your Amazon module to current version.

[2018-09-26 06:18] magento-engcom-team commented on #18246
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 06:19] magento-engcom-team commented on #18243
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 06:19] RamanMalhotra88 opened #18251 "Unable to generate customer token via magento2.3 rest api call on local setup"
### Preconditions

1. Magento version 2.3
2. Environment: Mac OS

### Steps to reproduce

1. call the rest api : POST /V1/integration/customer/token (localhost:8888/magento2ce/rest/all/V1/integration/customer/token)

2. body: {
  "username": "test@test.com",
  "password": "test@123"
}

### Expected result
customer token generated successfully

### Actual result
following error occurs on execution:

[2018-09-26 06:19] magento-engcom-team commented on #18251
Hi @RamanMalhotra88. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-26 06:32] engcom-backlog-nazar commented on #18250
@RamanMalhotra88 In this url -> as a Swagger says /default/rest/all/V1/customers I'm create a customer and login successful, if you'd like to update this, please reopen th issue.

[2018-09-26 06:32] #18250 closed, assigned to nobody

[2018-09-26 06:45] RamanMalhotra88 commented on #18250
Thanks for the reply. It works when i try on safari. Might have been some caching issue :).

[2018-09-26 06:56] #18251 closed, assigned to nobody

[2018-09-26 07:01] magento-engcom-team commented on #18242
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 07:16] shashankaugurs commented on #15043
After doing this, old and special prices are shown but on changing the attributes like size or color the price doesn't update.
How to do that?

[2018-09-26 07:18] mautz-et-tong commented on #5309
I can confirm this issue on a 2.2.5. Fix above doesn't work

[2018-09-26 07:24] #18242 closed, assigned to nobody

[2018-09-26 07:27] snyderm commented on #18243
This issue is 2.2.6 specific, and appears to be generated by magento advanced analytics. This issue did not occur in 2.3.

[2018-09-26 07:52] kustraszymon commented on #6942
Hello,

I can confirm that PR 16428 fixes that issue, we have it live in big infrastructure. Hope to see it soon in release.
@mrIntegrator thanks!

[2018-09-26 07:58] engcom-backlog-nazar commented on #18246
Hi @jarnooravainen thank you for you report, the fix for this issue has already available in 2.3-develop branch

[2018-09-26 08:05] kerlama opened #18252 "Clear bag does not work after upgrade to 2.2.6"
### Preconditions
1. Magento 2.2.6 upgrade from 2.2.5
2. PHP 7.0.32
3. On both clean and custom theme with and without any 3rd party modules

### Steps to reproduce
1. Add something to cart
2. Go to cart page
3. Click on Clear bag button
4. First it will trigger spinner and then page is reloaded with products still in the cart
5. Try for couple of times and finally cart will be emptied

### Expect

[2018-09-26 08:05] magento-engcom-team commented on #18252
Hi @kerlama. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-26 08:05] udayakumar-ziffity commented on #9837
This issue occurs in Magento EE 2.1.9 also.

[2018-09-26 08:07] magento-engcom-team commented on #18252
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 08:09] kerlama commented on #18252
@magento-engcom-team give me 2.2.6 instance

[2018-09-26 08:09] magento-engcom-team commented on #18252
Hi @kerlama. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-26 08:10] magento-engcom-team commented on #18252
Hi @kerlama, here is your [Magento instance](https://i-18252-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18252-2-2-6.engcom.dev.magento.com/admin](https://i-18252-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-26 08:13] sourabh2yadav opened #18253 "I am having the exact same problem as described above! I am using magento 2.2.5!"
The only difference that i can see between the products that exportet fine and the ones that have dublicates is the field "custom_options" - it looks like prducts with custom options get wrong export with dublicate products
![ipmsgclip_r_1537949793_0](https://user-images.githubusercontent.com/32545987/46066654-a9071600-c192-11e8-965c-12963befa4e0.png)

![image](https://user-images.githubuserconten

[2018-09-26 08:13] magento-engcom-team commented on #18253
Hi @sourabh2yadav. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-26 08:15] magento-engcom-team commented on #18253
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 08:18] engcom-backlog-nazar commented on #18253
Hi @sourabh2yadav Thank you for you report, this issue already fixed in 2.2-develop branch.

[2018-09-26 08:29] engcom-backlog-nazar commented on #18252
@kerlama I'm closing this issue, if you like to update this or if someone in future have the same problem we can reopen this again. Thank you.

[2018-09-26 08:29] #18252 closed, assigned to nobody

[2018-09-26 08:30] magento-engcom-team commented on #18245
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 08:36] zaietsv commented on #15620
Yes, you are quite right: the Dotmailer plugin decodes a gorgeous utf-8 string to a terrible creature by utf8_decode() function http://screenshots.collabstar.com/vza/dd9f6cc8.png It is necessary to rewrite or to disable private function getProcessedTemplatePreviewAndOther() and private function getResultIfArgsEmptyForPreviewAndOther()
There are some other places in Magento with utf8_decode()  to b

[2018-09-26 08:40] magento-engcom-team commented on #10440
Hi @cykirsch. Thank you for your report.
The issue has been fixed in magento/magento2#17984 by @passtet in 2.2-develop branch
Related commit(s):
 - [a804a3cd485bd4aecabac3aa4203d20c6a6c9a08](https://github.com/magento/magento2/commit/a804a3cd485bd4aecabac3aa4203d20c6a6c9a08)

The fix will be available with the upcoming 2.2.8 release.

[2018-09-26 08:40] #10440 closed, assigned to passtet

[2018-09-26 08:51] magento-engcom-team commented on #18245
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95240`, `MAGETWO-95241` were created

[2018-09-26 08:51] engcom-backlog-andrii commented on #2739
We were not able to reproduce this issue. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation

[2018-09-26 08:51] #2739 closed, assigned to rainashikha

[2018-09-26 09:02] magento-engcom-team commented on #18240
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95245`, `MAGETWO-95246` were created

[2018-09-26 09:07] jhruehl commented on #18148
Having the same problem with the Customweb_SaferpayCw extension. The order and its payment history get's updated on succes with the transaction and payment ID, but the sales_order.state, sales_order.status and sales_order_status_history.status stay on 'pending_payment'.

My current temporary fix consists of a query, which sets those entries to 'processing', if the sales_order_status_history.commen

[2018-09-26 09:09] RishabhRkRai commented on #16203
I also have the same issue on Magento 2.2.5

[2018-09-26 09:18] jhruehl commented on #18148
@magento-engcom-team It would be really nice, if you post the patch/fix as soon as possible. I guess there are going to be more and more shops having a similar problem with their payments after updating to 2.2.6. Caused by a huge variety of payment extensions, who have external payment pages to do the payment.

And I don't really want any of thoses extension providers (especially those, we use) to

[2018-09-26 09:27] Jilco commented on #18243
I did and the file is still generated....

Exactly 11.21

________________________________
Van: engcom-backlog-nazar <notifications@github.com>
Verzonden: woensdag 26 september 2018 11:22
Aan: magento/magento2
CC: Jilco; Mention
Onderwerp: Re: [magento/magento2] After 2.2.6 upgrade reports generates enormous .tar file in tmp/analytics folder in root (#18243)

@Jilco<https://eur01.safelinks.protect

[2018-09-26 09:32] Jilco commented on #18243
Sorry, i disabled reporting not advance reporting. I now did

________________________________
Van: engcom-backlog-nazar <notifications@github.com>
Verzonden: woensdag 26 september 2018 11:22
Aan: magento/magento2
CC: Jilco; Mention
Onderwerp: Re: [magento/magento2] After 2.2.6 upgrade reports generates enormous .tar file in tmp/analytics folder in root (#18243)

@Jilco<https://eur01.safelinks.pro

[2018-09-26 09:36] engcom-backlog-nazar commented on #18243
@Jilco Problem in this file
![selection_138](https://user-images.githubusercontent.com/40756439/46071438-ae5f6300-c188-11e8-8668-10ca21baead3.png)
But i can't understand why this method uses in loop.

[2018-09-26 09:38] Jilco commented on #18243
i changed the time and refreshed cache to see if it reoccurs.

Now i see a file of 5 kb and its not growing

________________________________
Van: engcom-backlog-nazar <notifications@github.com>
Verzonden: woensdag 26 september 2018 11:37
Aan: magento/magento2
CC: Jilco; Mention
Onderwerp: Re: [magento/magento2] After 2.2.6 upgrade reports generates enormous .tar file in tmp/analytics folder in ro

[2018-09-26 09:45] engcom-backlog-nazar commented on #18243
@Jilco Problem in Cron for Analytics module this cron runs report to write file, if you turn off reports, the would be generate files.

[2018-09-26 09:48] qsolutions-pl commented on #18216
@engcom-backlog-nazar currency code works, but the website ID is still wrong **during** first page load.
So even if I set EUR price = 199 and USD price = 259, price visible on the frontend will by 259 EUR because the website ID does not change.

Cookie is set during page load, so the website still uses old store cookie during page page load.
If you refresh page again, you will have correct price a

[2018-09-26 09:51] koopjesboom commented on #5863
Same problem with version 2.2.6
@nasimqota Also waiting for your solution.
Thank you very much for the effort.

[2018-09-26 09:51] johnny-longneck commented on #18220
This might not be the issue but in my case the blank Page Layout is preset when I create a CMS page. You have to manually change the page layout.

[2018-09-26 09:54] PowerClover opened #18254 "Curl function parseHeaders cann't be identified "Status Code: 200""
### Preconditions

1.Magento 2.2.3
2.Nginx

### Steps to reproduce

1.Curl

### Actual result

![image](https://user-images.githubusercontent.com/1463772/46072213-61918180-c1b4-11e8-9228-a6f408145762.png)
![image](https://user-images.githubusercontent.com/1463772/46072289-8f76c600-c1b4-11e8-9374-bc48574498a4.png)

    /**
     * Parse headers - CURL callback function
     *
     * @param resource

[2018-09-26 09:54] VirtusB opened #18255 "getAdditionalInformation() is null when buying a virtual product"
Other issues regarding this:
https://github.com/magento/magento2/issues/13801
https://github.com/magento/magento2/issues/17302

### Preconditions
1. Magento 2.2.5
2. Apache 2.2
3. PHP 7.1
4. Product is virtual
5. Third party payment gateway

### Steps to reproduce
1. Use QuickPay or PayPal as payment module (issue is not with them)
2. Add virtual product to cart
3. Go to checkout, step 1 of checko

[2018-09-26 09:55] magento-engcom-team commented on #18254
Hi @CloverMe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-26 09:55] magento-engcom-team commented on #18255
Hi @VirtusB. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-26 09:57] magento-engcom-team commented on #18254
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 09:57] engcom-backlog-nazar commented on #18254
Hi @CloverMe , thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-26 09:57] #18254 closed, assigned to nobody

[2018-09-26 10:00] magento-engcom-team commented on #18255
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 10:03] edwinbos opened #18256 "Reset password throws error since 2.2.6"
### Preconditions
Magento 2.2.6 (clean installation)

### Steps to reproduce
1. Clicked on "Reset password" on the login page
2. Entered e-mailadres and submitted form
3. Clicked on link in the password reset mail
4. Entered password two times and submit form by clicking "reset password"

### Expected result
1. Password is changed and the user can login with the new password

### Actual result
1.

[2018-09-26 10:03] magento-engcom-team commented on #18256
Hi @edwinbos. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-26 10:03] hitesh-srtpl commented on #10821
@Kipperlenny @orlangur @PhiIipp

I also faced the same issue in local

[2018-09-26 09:41:00] main.CRITICAL: Validate class not found from basename 'NotEmpty' {"exception":"[object] (Zend_Validate_Exception(code: 0): Validate class not found from basename 'NotEmpty' at /home/sphere59/sphere59/code/bassbag.sr/vendor/magento/zendframework1/library/Zend/Validate.php:244)"} []

I tried @Loqic2633 solut

[2018-09-26 10:10] harikarank commented on #7327
Magento 2.2.6 facing this issue
My product name was - Product A & B
Mini cart dropdown shows - Product A &amp; B
Any one help

[2018-09-26 10:10] engcom-backlog-nazar commented on #18243
This casued becouse There was changed the pack() method.https://github.com/DanielRuf/magento2/blob/f39e3fd3c92729ea7e492dd91d3f357cb3f4c4bd/lib/internal/Magento/Framework/Archive.php
So you can revert changes to 2.2.5 and this should be work.

[2018-09-26 10:11] magento-engcom-team commented on #18256
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 10:19] engcom-backlog-nazar commented on #18256
Hi @edwinbos I'm not able to reproduce following steps you described. see attachments
![selection_139](https://user-images.githubusercontent.com/40756439/46073905-d5209800-c18e-11e8-88d1-25869a3e2bde.png)

[2018-09-26 10:20] hitesh-srtpl commented on #10821
@Kipperlenny @orlangur @PhiIipp

I also faced the same issue in the local system

Preconditions: Magento 2.2.2 default without sample data

Steps to reproduce: try to add any product into the cart and try to place an order

Expected result: order should be placed

Actual result:
[2018-09-26 09:41:00] main.CRITICAL: Validate class not found from basename 'NotEmpty' {"exception":"[object] (Zend_Vali

[2018-09-26 10:32] ulftietze commented on #18234
Hey @engcom-backlog-nazar :)

Ok nice, that this could be fixed in 2.3
But i'm not talking about the product url rewrites. I'm talking about the **category url rewrites**.
Testing with the newest Magento 2.2 Version, this isn't fixed, and as i can see in code, it shouldn't be fixed in 2.3 as well. (I does not have a running instance of Magento 2.3, maybe i get one later)

The product URL Rewrites

[2018-09-26 10:37] sourabh2yadav commented on #18253
Could you please provide me link for the solution.

[2018-09-26 10:40] pmsteil commented on #18248
Thanks, but how do I do that?  :)
patrick
#magentonoob

[2018-09-26 10:50] Cristiano81 commented on #18158
i think i have found the reason.
in /vendor/magento/module-catalog/Controller/Adminhtml/Product/Initialization/Helper.php
has been added a new function on line 463
[code]

comment the call to that function on line 162
`//$productData = $this->convertSpecialFromDateStringToObject($productData);`

the product has been saved successfully again

[2018-09-26 10:58] engcom-backlog-nazar commented on #18256
@edwinbos Can you confirm it on vanilla instance ?
![selection_140](https://user-images.githubusercontent.com/40756439/46075783-3eef7080-c194-11e8-9610-99a5a5d1d32d.png)

[2018-09-26 11:01] PanagiotisPapoutsis commented on #16884
Same issue here.
I have extended the sales_order_create_index.xml layout file like this

`<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance dc" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
	<referenceBlock name="shipping_method">
	    <block class="Vendor\Module\Block\Adminhtml\CarrierShipping" template="Vendor_Module:

[2018-09-26 11:06] engcom-backlog-nazar commented on #18234
@ulftietze Ok, but in my screen category have Url rewrite with gear ? or i miss something

[2018-09-26 11:12] MartinAarts commented on #14952
Although this is not a good practive, this does fix our problem on Magento 2.2.6.

[2018-09-26 11:14] edwinbos commented on #18256
I can confirm it's a vanilla Magento 2.2.6 instance.
Also with two real shops (on a test environment) the same problem.

@magento-engcom-team give me 2.2.6 instance

[2018-09-26 11:14] magento-engcom-team commented on #18256
Hi @edwinbos. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-26 11:15] magento-engcom-team commented on #18256
Hi @edwinbos, here is your [Magento instance](https://i-18256-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18256-2-2-6.engcom.dev.magento.com/admin](https://i-18256-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-26 11:43] engcom-backlog-nazar commented on #18255
Hi @VirtusB, thank you for you report, This problem related to QuickPay not magento core, beacouse all payments in magento paylpal e.g are check if payment have additional information, for virtual product there are not, so if you use paypal or braintree everything will be ok.

Best regards.

[2018-09-26 11:43] #18255 closed, assigned to nobody

[2018-09-26 11:49] progreg commented on #18038
@qsolutions-pl, please check PR :)

[2018-09-26 11:51] magento-engcom-team commented on #18234
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95255`, `MAGETWO-95256` were created

[2018-09-26 11:55] engcom-backlog-nazar commented on #18234
@ulftietze Sorry now clear, I'm confused with url rewrites :)

[2018-09-26 11:58] engcom-backlog-nazar commented on #18256
@edwinbos So can  you reproduce this on vanilla instance ?

[2018-09-26 12:17] VirtusB commented on #18255
@engcom-backlog-nazar So it's expected behaviour that getPayment() is null when the product is virtual, but not when the product is simple? getPayment() was not null in 2.2.4 even if the product was virtual, it wasn't a problem till 2.2.5

[2018-09-26 12:30] KatPham0304 opened #18259 "Decimal qty increment is not allowed Magento 2.2.2"
I cannot set decimal quantity in Magento 2.2.2 and the site kept showing me warning "Decimal qty increments is not allowed".

Screenshot of the error is here: https://drive.google.com/open?id=1y9pYnc6OqIPQfFZMhbjh-GGf61dNrOcW.

Please help advise what should I do to fix this and set decimal qty increments?

Thank you very much in advance for your help!
Kat

[2018-09-26 12:30] magento-engcom-team commented on #18259
Hi @KatPham0304. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 12:31] magento-engcom-team commented on #18259
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 12:32] VirtusB commented on #18255
@engcom-backlog-nazar Exactly, if the product is not virtual then getPayment() is not null, but it shouldn't be null for virtual products either. getPayment() and getAdditionalInformation() should also work for virtual products, just like it did in 2.2.4 - how else are you supposed to retrieve the data? I'm sorry but I don't understand how this is intended. I'm not the only one with this issue, th

[2018-09-26 12:34] engcom-backlog-nazar commented on #18255
@VirtusB Ok. but why i'm not able to reproduce your scenario ?

[2018-09-26 12:36] engcom-backlog-nazar commented on #18259
Hi @KatPham0304 thank you for you report, this is acknowledged issue, please see -> https://github.com/magento/magento2/issues/12914

[2018-09-26 12:36] #18259 closed, assigned to nobody

[2018-09-26 12:36] julianvdrielen commented on #18256
@engcom-backlog-nazar I was able to reproduce this issue on a clean Magento 2.2.6 instance.
![image](https://user-images.githubusercontent.com/35022803/46080200-2e89c680-c191-11e8-888c-9978ed09e853.png)

[2018-09-26 12:36] VirtusB commented on #18255
@engcom-backlog-nazar Maybe I misunderstood - when you tried, getPayment() was not null for virtual products? And getAdditionalInformation() worked? Did you use version 2.2.5 or 2.2.6? Thanks.

[2018-09-26 12:40] SathishDreamorbit opened #18260 "Magento 2.1.15 - Invoice PDF & shipment PDF does not support Chinese Language."
### Preconditions
0.  **Updated(09/19/2019):** Still actual on `2.3-develop`
1. Magento version 2.1.9
2. Magento version 2.1.15

### Steps to reproduce

1. Login to admin panel and go to Sales -> Order
2. Search the completed order and click "view"
3. Select "Invoice" or "Shipments" tab and then click respective "Print" option.

### Expected result

1. In Invoice and Shipment the billing address s

[2018-09-26 12:40] magento-engcom-team commented on #18260
Hi @SathishDreamorbit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-09-26 12:44] engcom-backlog-nazar commented on #18256
@edwinbos But why i'm able to reset password on this instance ?
![selection_142](https://user-images.githubusercontent.com/40756439/46080565-f25f6180-c1a2-11e8-991b-cd5eefaac8b2.png)

[2018-09-26 12:44] magento-engcom-team commented on #18260
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 12:47] edwinbos commented on #18256
Found it. It doesn't work on PHP7.0.30 on my local instance, but it's working on PHP7.1.
Which version of PHP is this instance using?

[2018-09-26 12:47] jeffb1a5 commented on #10454
how is this on 2.2.6?

[2018-09-26 12:49] engcom-backlog-nazar commented on #18255
@VirtusB On 2.2-dev instance the same on 2.2.6 this works perfectly.
![selection_143](https://user-images.githubusercontent.com/40756439/46080867-acef6400-c1a3-11e8-82e3-d43947d818ae.png)

[2018-09-26 12:49] engcom-backlog-nazar commented on #18256
@edwinbos Supported version 7.1 7.0 only for 2.1-*

[2018-09-26 12:53] edwinbos commented on #18256
Does that mean the DevDocs is not up-to-date?

![schermafbeelding 2018-09-26 om 14 52 03](https://user-images.githubusercontent.com/1267356/46081082-e3c17c00-c19b-11e8-8ad2-ca2d6b7b0f65.png)

https://devdocs.magento.com/guides/v2.2/install-gde/prereq/prereq-overview.html

[2018-09-26 12:57] shyam100379 commented on #14750
the bug is there for sure, i have tried different scenarios and its there.

[2018-09-26 13:07] engcom-backlog-nazar commented on #18256
@edwinbos I'm tested with php 7.0 and have no issue passwords reset correctly, maybe some problem in you environment ?

[2018-09-26 13:07] KatPham0304 commented on #12914
Thank you @engcom-backlog-nazar! Any update on fixing this issue, and if not is there a special code that we can add to temporarily fix this?

[2018-09-26 13:07] okorshenko opened #18262 "New Issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-26 13:07] magento-engcom-team commented on #18262
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 13:13] magento-engcom-team commented on #18262
Hi @maksek. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-09-26 13:16] okorshenko commented on #18262
@magento-engcom-team give me 2.3-develop

[2018-09-26 13:17] okorshenko commented on #18262
@magento-engcom-team give me 2.3-develop instance

[2018-09-26 13:18] magento-engcom-team commented on #18262
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-26 13:18] magento-engcom-team commented on #18262
Hi @okorshenko, here is your [Magento instance](https://i-18262-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18262-2-3-develop.engcom.dev.magento.com/admin](https://i-18262-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-26 13:19] CD0001 opened #18263 "2.2.6 Product Attributes (dropdown/multi-select) issue with ampersands"
### Preconditions
**Magento 2.2.6**
This seems to have been added in 2.2.6 to work around PHP's `max_input_vars` (ini) restriction when using **Dropdown** or **Multi-Select** attributes.

### Summary of the issue
You can't enter ampersand characters as Options for Dropdown/Multi-Select attributes (Stores -> Attributes -> Product -> Properties -> Manage Options) - everything from the **&** characte

[2018-09-26 13:19] magento-engcom-team commented on #18263
Hi @CD0001. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-26 13:20] okorshenko commented on #18262
@magento-engcom-team give me 2.2.6 instance

[2018-09-26 13:20] magento-engcom-team commented on #18262
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-26 13:21] magento-engcom-team commented on #18260
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95260`, `MAGETWO-95261` were created

[2018-09-26 13:21] magento-engcom-team commented on #18263
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 13:21] magento-engcom-team commented on #18262
Hi @okorshenko, here is your [Magento instance](https://i-18262-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18262-2-2-6.engcom.dev.magento.com/admin](https://i-18262-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-26 13:22] magento-engcom-team commented on #18262
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95262`, `MAGETWO-95263` were created

[2018-09-26 13:26] kanduvisla opened #18264 "M2.2.6 : "Order by price" not working in product listing"
I'm running into the issue on a Magento 2.2.6 installation the "order by price" option for a product listing is not working. Neither ascending or descending.

### Preconditions

1. M2.2.6

### Steps to reproduce

I'm not sure if it is part of the conditions to reproduce the problem but:

1. Some products have special prices with a from- and to-date or only a from-date, but most of them are regular

[2018-09-26 13:27] magento-engcom-team commented on #18264
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 13:29] engcom-backlog-nazar commented on #18263
HI @CD0001 Please add Steps to reproduce, actual and expected result, thank you.

[2018-09-26 13:29] #18262 closed, assigned to maksek

[2018-09-26 13:30] magento-engcom-team commented on #18264
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 13:31] kanduvisla opened #18265 "M2.2.6 : Fixed product tax (FPT) cannot be removed from a product"
Once a fixed product tax (FPT) is added to a product, it can no longer be removed in the admin.

### Preconditions

1. Magento 2.2.6

### Steps to reproduce

1. Enable FPT in the system configuration
2. Create a FTP attribute and assign it to the default attribute set
3. Create a product with a FPT
4. Re-open the product in the admin and remove the FTP by clicking on the trash icon
5. Save the pro

[2018-09-26 13:31] magento-engcom-team commented on #18265
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 13:39] magento-engcom-team commented on #18265
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 13:41] domeglic commented on #14674
If I am looking at it correctly, it [tries to lookup](https://github.com/magento/magento2/blob/2.2.6/app/code/Magento/UrlRewrite/Model/StoreSwitcher/RewriteUrl.php#L69) a url rewrite by using the old url and it only changes the store. I don't see how this could ever work unless all stores have the same url.

In version 2.2.5, it [looks up a url rewrite by using the entity ID instead](https://githu

[2018-09-26 13:43] magento-engcom-team commented on #18265
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95264`, `MAGETWO-95265` were created

[2018-09-26 13:50] magento-engcom-team commented on #18263
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95266`, `MAGETWO-95267` were created

[2018-09-26 14:09] Swapnil0411 opened #18266 "Something went wrong while saving this configuration: Area is already set"
### Preconditions

1. When you change the theme from Magento admin panel . Content >> Configuration  >> Edit >>  Applied Theme. After saving then it shows exception : "Something went wrong while saving this configuration: Area is already set". (Magento 2.2.4 and Magento 2.2.5 version only.)

### Steps to reproduce

1.login to Magento admin panel.
2.Navigate to the content >> Configuration >> Edit

[2018-09-26 14:09] magento-engcom-team commented on #18266
Hi @Swapnil0411. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 14:11] maksek opened #18267 "fake issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-26 14:11] magento-engcom-team commented on #18267
Hi @maksek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-26 14:12] magento-engcom-team commented on #18267
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-09-26 14:13] magento-engcom-team commented on #18266
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-26 14:13] maksek commented on #18267
@magento-engcom-team give me 2.2-develop instance

[2018-09-26 14:13] magento-engcom-team commented on #18267
Hi @maksek. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-26 14:13] okorshenko commented on #18267
I have the same issue! :) Please help

[2018-09-26 14:14] engcom-backlog-nazar commented on #18266
Hi @Swapnil0411  thank you for you report, This is a duplicate of https://github.com/magento/magento2/issues/14968
Closing this one. Please read that other thread, it has some pointers to patches which will resolve this issue.
Issue will also be fixed in Magento 2.2.6

[2018-09-26 14:14] #18266 closed, assigned to nobody

[2018-09-26 14:14] magento-engcom-team commented on #18267
Hi @maksek, here is your [Magento instance](https://i-18267-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18267-2-2-develop.engcom.dev.magento.com/admin](https://i-18267-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-26 14:15] magento-engcom-team commented on #18267
@maksek Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-09-26 14:16] magento-engcom-team commented on #18267
@maksek Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95268` were created

[2018-09-26 14:20] sidolov commented on #13720
Hi @dipind4u. Thank you for your report.
The issue has been fixed in magento/magento2#18207 by @hostep in 2.3-develop branch
Related commit(s):
 - [74e1ea92cb57d739d3552fa9b86c51a8d5d8cfe9](https://github.com/magento/magento2/commit/74e1ea92cb57d739d3552fa9b86c51a8d5d8cfe9)
 - [d5b6231a241ade0acf154f8e88de88714b8e5cff](https://github.com/magento/magento2/commit/d5b6231a241ade0acf154f8e88de88714b8e

[2018-09-26 14:20] sidolov commented on #14050
Hi @estellehuang. Thank you for your report.
The issue has been fixed in magento/magento2#18207 by @hostep in 2.3-develop branch
Related commit(s):
 - [74e1ea92cb57d739d3552fa9b86c51a8d5d8cfe9](https://github.com/magento/magento2/commit/74e1ea92cb57d739d3552fa9b86c51a8d5d8cfe9)
 - [d5b6231a241ade0acf154f8e88de88714b8e5cff](https://github.com/magento/magento2/commit/d5b6231a241ade0acf154f8e88de8871

[2018-09-26 14:20] sidolov commented on #5797
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#18205 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [8b9fff56f2172bb2e3fa5bde4d16daa18df97e22](https://github.com/magento/magento2/commit/8b9fff56f2172bb2e3fa5bde4d16daa18df97e22)
 - [fa4289fe8534a2af5aeb69839ba0df6aa21a55ed](https://github.com/magento/magento2/commit/fa4289fe8534a2af5aeb69839ba0df6aa

[2018-09-26 14:20] sidolov commented on #17780
Hi @Thundar. Thank you for your report.
The issue has been fixed in magento/magento2#18205 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [8b9fff56f2172bb2e3fa5bde4d16daa18df97e22](https://github.com/magento/magento2/commit/8b9fff56f2172bb2e3fa5bde4d16daa18df97e22)
 - [fa4289fe8534a2af5aeb69839ba0df6aa21a55ed](https://github.com/magento/magento2/commit/fa4289fe8534a2af5aeb69839ba0df6a

[2018-09-26 14:20] sidolov commented on #18009
Hi @sidm. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#2159 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [3b9e96360e71b5d38167068b2b1a069ca97dc672](https://github.com/magento/magento2/commit/3b9e96360e71b5d38167068b2b1a069ca97dc672)

The fix will be available with the upcoming 2.3.1 release.

[2018-09-26 14:37] #18267 closed, assigned to okorshenko

[2018-09-26 14:49] bruno-serfe commented on #7056
Similar issue here, I'm developing a new module that overrides Multishipping.php model and I've got this:

`Cannot instantiate interface Magento\Payment\Model\Method\SpecificationInterface in /var/www/html/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50`

Applying similar solution that @vutrankien mentioned in issuecomment-310625852 should work? based on what? it's differen

[2018-09-26 14:57] kanduvisla commented on #18264
I've did some more research and I found the following to trigger this bug:

- If you have a **special date price from in the past**, and your **price field is empty**, the indexer will set `min_price` to `0.0000`.
- If you have a **special date price to in the future**, and your **price field is empty**, the indexer will set `min_price` to `0.0000`.
- I haven't tested it but possibly if you define

[2018-09-26 15:09] kanduvisla opened #18268 "M2.2.6 : Special price of 0.0000 is not shown on frontend, but is calculated in cart"
If you have a product with a special price of 0.00, this is not shown on the frontend. Not in the product listings and also not on the product detail page.

However, if you add it to the cart, you'll see that the special price of 0.00 is used.

### Preconditions

1. Magento 2.2.6

### Steps to reproduce

1. Create a product with a regular price and a special price of 0.00
2. Check the product in p

[2018-09-26 15:09] magento-engcom-team commented on #18268
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-26 15:55] ulftietze commented on #18234
@engcom-backlog-nazar no problem :D
I'm confused a little as well :)
Maybe i should have been more clearly in my report description.

Thanks for creating internally tickets.

[2018-09-26 16:38] yanncharlou commented on #17813
Great !!! Warm thank you !
Solution applied in theme to avoid patching core files.
Before : Chrome totally freeze starting 90 tabs opened.
After : 190 tabs opened without problem.

I'm waiting my customer to confirm everything is ok on his slowest computer.

[2018-09-26 16:43] duffner commented on #12914
@magento-engcom-team, unfortunately, I left the Magento Partner I was at, but Magento EE support has a fix for this that they've shared with me previously, however, I no longer have access and I'm hoping they can provide this to the community!

[2018-09-26 17:14] hostep commented on #18256
Can reproduce on a clean Magento 2.2.6 installed using composer.
Error happens both in PHP 7.0.32 as 7.1.22, I don't think the PHP version matters here.

The exception message which happens is: `Warning: SessionHandler::destroy(): Session is not active in vendor/magento/framework/Session/SaveHandler.php on line 116`

[code]

Exact steps to reproduce:
1. Setup clean Magento 2.2.6 installation
2. Cr

[2018-09-26 17:25] ulftietze opened #18269 "Product Import -> Missing categories entry in importfile removes url rewrites"
### Preconditions

1. Magento 2.2.X | probably 2.3 as well
2. PHP 7.0 | 7.1
3. Would be nice to have 2 or more websites

### Steps to reproduce

1. Shop contains an existing product with at least following informations:

sku | categories | url_key | product_websites
------------ | ------------- | ------------- | -------------
123456789 | Default Category/ExistingCategory1,Default Category/Existing

[2018-09-26 17:40] rdjinternet opened #18270 "2.2.5 to 2.2.6 Upgrade Hangs"
Upgrade hangs after start of upgrade
Console Log
[2018-09-22 15:39:01 UTC] Job "setup:maintenance:enable []" has started
Enabled maintenance mode

[2018-09-22 15:39:01 UTC] Job "setup:maintenance:enable []" has been successfully completed
[2018-09-22 15:39:01 UTC] Job "setup:cache:disable []" has started
Changed cache status:
config: 1 -> 0
layout: 1 -> 0
block_html: 1 -> 0
collections: 1 -> 0
ref