[2017-05-10 22:14] nshiff commented on #9573
Do you have any custom themes or extensions - does the issue persist with a stock Magento codebase? Beyond that I would try typical frontend fixes:

    composer install
    rm -rf var/di var/generation var/view_preprocessed var/page_cache var/cache
    magento setup:upgrade
    grunt clean && grunt exec && grunt less # or equivalent for snowdog scss
    magento setup:di:compile
    magento setup:

[2017-05-10 22:24] nshiff commented on #9201
For what it's worth, [n98-magerun2](https://github.com/netz98/n98-magerun2) implements a portion of this functionality.

[code]

[2017-05-11 00:07] brvoltz commented on #6929
What is the location in Magento to add the MD5 hash code?  I'm not finding it...

Thanks in advance....

[2017-05-11 00:14] qbo-tech commented on #3150
Your solutions works @johnny-longneck. For the **price format** this is what I did:

**Instead** of initializing the priceBox object on template file like:

` priceBoxes.priceBox();`

Pass the priceBox object as a parameter for SwatchRenderer

`priceBox: priceBoxes`

Then add the option to yout swatch-render.js constructor:

`priceBox: false,`

And then just initialize the priceBox at the **beginn

[2017-05-11 01:20] artama commented on #9546
2.1.5 CE too

[2017-05-11 02:50] ngz82 commented on #9408
@ram10raj   if you change Scope to just the website you want, does it work?

We had the same issue and I found today by changing scope to "Main website" and it all shows up as expected.

[2017-05-11 03:54] george-vlahakis opened #9594 "REST API AttributeSet!=4 additional attributes ignored"
When trying to create a new product with additional attributes (outside the attribute set) it ignores them completely unless the attribute set is set to 4 (default)

### Preconditions
1. PHP 7, Magento 2.1.6

### Steps to reproduce
1. Create a new attribute set (ie with id 16)
2. Test on swagger adding a product with attribute set 16 and an attribute in custom_attributes that is not in the set (ie

[2017-05-11 03:59] vlahakis commented on #9594
Please ignore. It seems that additional attributes cannot exist outside the attribute set. My mistake.

When adding an attribute on the Admin it adds it on the attribute set

[2017-05-11 03:59] #9594 closed, assigned to nobody

[2017-05-11 04:43] danipolo commented on #5696
I'm with 2.1.2 and have the same problem.

[2017-05-11 05:04] nguyetnguyen opened #9595 "Wrong subtotal when adding 2 or more gift card into cart"
### Preconditions

1. Magento 2 version 2.1.3

### Steps to reproduce

1. Create 2 physical gift card products. One is 50$, one is 100$.
2. Add the first gift card 50$ into card. Subtotal is 50$ that is correct.
3. Adding the second gift card 100$.

### Expected result

1. Subtotal is 100$. The first gift card is 50$ and the second gift card is 50$.

### Actual result

1. Subtotal should be 150$.

[2017-05-11 05:34] tony831993 commented on #9565
I found the reason of this conflict, in my case this was an issue because of an extension (Magento 2 SEO Extension), that I used for sitemap page generation.

I deleted the above module and removed the database modification done by it and bundle product started working properly again.

Hope it may help other who are facing the same problem due to this same scenario.

Thanks !!! Happy Coding :)

[2017-05-11 05:57] niranjanleanswift opened #9596 "Price range is not working as expected"
### Preconditions

1. Magento version 2.1.6
2. Required Magento environements

### Steps to reproduce

1. First, need to set the manual price range in the backend.
2. In frontend, the price range shows as inappropriate value for the particular category.
3.The products price is not falling in that range then why we need to show inappropriate range .
### Expected result

1. It should show the approp

[2017-05-11 06:04] robbanl commented on #9580
@bh-ref Did you create module to fix this issue (I don't have any hopes that Magento will solve this within a year) or do you want me to create one?

[2017-05-11 06:40] vanloc0301 commented on #9576
@korostii Have any method to resolved my problem?

I tried to downgrade my PHP version but it's not working.

[2017-05-11 08:01] gsomoza commented on #9561
Glad I could help!

[2017-05-11 08:03] anujeetphj commented on #6138
@twistedatrocity , I am not able to override class  Custom\Module\Model\Wysiwyg\Config.php.

I followed the below steps:
In Custom\Module\etc\di.xml

[code]

In Custom\Module\Model\Wysiwyg

[code]

I am getting 500 internal server error
On checking error log files , below is the error

`PHP Fatal error:  Uncaught TypeError: Argument 4 passed to Magento\\Catalog\\Controller\\Adminhtml\\Product\\Bui

[2017-05-11 08:11] Tjitse-E commented on #4430
@gamort hack solved my problem on a Magento 2.1.6 site

[2017-05-11 08:12] bh-ref commented on #9580
@robbanl I'm glad it helped you!

Thanks for the offer, but we have a process were we directly patch the magento core files and note the github issues we open for these patches. If the patches are no longer applicable after a magento update, we either check if the problem was solved or update our github issues to let the magento team know that it still exists in the current version.
We also tried

[2017-05-11 08:37] bydrei opened #9597 "Wysiwyg Editor Image Upload Doesn't Work Second Time"
### Preconditions

1. Magento Version EE 2.1.5
2. Theme based of blank.

### Steps to reproduce

1. Login to admin panel
2. Go to Content - Pages
3. Edit any page then click on "Show / Hide Editor" to go to the plain editor.
4. Click on Insert Image, let the GUI load, then click the X to close.
5. Click  on Insert Image again (here you won't be able to open the popup again)

### Expected result

1

[2017-05-11 08:37] LSERRE commented on #9583
Thanks for you andwer korostii. _renderFiltersBefore() is invoked, i tested it.
Moreover the most strange thing is getSize and count doesn't return the same thing.

I was thinking i was facing an issue but maybe it comes from my code if you think so.

[2017-05-11 08:44] mavr1982 commented on #6141
Commits?

[2017-05-11 08:44] mavr1982 commented on #6141
any news?

[2017-05-11 08:50] bydrei opened #9599 "Fotorama thumbnails are not responsive in mobile view."
### Preconditions

1. Magento EE 2.1.5
2. Theme based of blank

### Steps to reproduce

1. Add the following to view.xml
[code]
2. Visit a product which has more than 8 images.
3. Set page to mobile view.
4. Product Image slider is not responsive at all.

### Expected result

1. Slider should be responsive even if thumbnails are being.

### Actual result

1. Slider is not responsive.

[2017-05-11 08:52] korostii commented on #7366
@GuidoHub, It's not like _this_ specific issue is ignored. Processing GitHub issues on the Magento2 repository overall is moving quite slow, there is a plenty of issues that go unanswered for months.
Even if it gets fixed, plenty of bugfixes that remain unreleased (not released? this shouldn't even be a thing in real world) also for months and many versions.

IMHO, your best shot is looking for so

[2017-05-11 08:56] gsomoza commented on #9559
Yes, that's a good idea, let's see what they say.

[2017-05-11 08:57] gsomoza commented on #9568
Let me know how that goes. If I have time I'll try to do it myself as well, but it might take a while.

[2017-05-11 09:09] korostii commented on #9550
I am sorry, but, first of all, I need to clarify something: this is not a help desk, and I am no representative of Magento.
I could help you clarify a description of a bug in Magento's core as a gesture of good will. However, I do not have time to solve all of the issues you encounter. That goes for pretty much everyone monitoring these issues on Magento's GitHub.
If it's not a bug in Magento itse

[2017-05-11 09:12] kanduvisla commented on #5408
I'm running in this problem too. I try to add a custom column to the order grid with my custom `view/adminhtml/ui_component/sales_order_grid.xml`:

[code]

Doing this moves the filters to the bottom. Any thoughts on this?

[2017-05-11 09:16] kanduvisla commented on #5408
Small update: it probably has something to with the order how UI components are rendered. If you add an empty `<listingToolbar name="listing_top"/>` above your `<columns>`-tag, it works. My main guess is because this way the element will already be created in the javascript-array that renders the HTML.

It might also have something to do with a ticket I filed a while back which shows an issue that

[2017-05-11 09:21] maderlock commented on #9488
I notice that Kosovo is actually included in the English locale file as of 2.1.5 (possibly earlier, but that's the version I'm looking at).

This does not help with adding new countries not mentioned in the locale, but that should help in this particular case. You just need to add the entry into the directory table and clear the cache.

[2017-05-11 09:22] LSERRE commented on #9583
In my Helper function i was calling `count($list)` which is loading collection. Removing this did the trick.

[2017-05-11 09:29] lfritsche commented on #5327
@alena-marchenko please reopen ticket as same behaviour persists in 2.1.5.

Although PayPal Review Step is disabled, I get redirected to it and placing an order is not possible.
I could resolve the redirect issue by re-enabling some checkout fields, as I had them disabled previously. (Company, Telephone, Country = always DE)

I followed the official docs to completely remove checkout fields (JSON,

[2017-05-11 09:34] magentoguyssageone commented on #9488
Hi,

Thanks for your info but I have already added this country in directory_country table but still its not showing please update me how can I add this new Country.

Thanks

[2017-05-11 09:47] rbostan commented on #8061
@stevewinni-cc not yet. I have not much time to check theme so still waiting. But if you switch luma theme, then payment methods will come back.

You may look theme/modules requirejs-config.js files to check any override of payment methods related files.

fyi.

[2017-05-11 09:56] jimul commented on #7777
Same here on Magento 2.1.5 EE

[2017-05-11 10:03] lucasound opened #9602 "Import section - check data doesn't work - magento 213"
Hi,

I have an important problem with magento 2 import section.

if i import a product file csv, the page stop loading but the loading icon is always present and magento don't check data.
So this first step is blocked by hours and then i can't import product by csv file.

what is the problem? i haven't error in web console. The server is ok, other functions works correctly.
i have tryed magento se

[2017-05-11 10:18] stevewinni-cc commented on #8061
@rbostan thanks will do... Ill feedback any findings to this thread....

[2017-05-11 10:27] K7Triton commented on #3925
Steps:
1. Install Magento latest develop version
2. Go to Admin side
3. Click "System > User Roles"
4. Click "Add new Role" enter Role name
5. In left side choose Role Resources and check "Dashboard" and "Web Section"
6. Save Role
7. Click "System > All Users"
8. Click "Add new User"
9. Enter data in required fields
10. In left side click "User Role" and choose early created role.
11. Click "Save"

[2017-05-11 11:03] K7Triton commented on #5897
Bug is still exist on latest develop version.

[2017-05-11 11:23] korostii commented on #9576
Not really.
You'll need downgrade to a different PHP version (unless you'll prepared to wait for the who-knows-when-it-will-be-released Magento 2.2).

[2017-05-11 11:25] korostii commented on #9583
I'm glad that you managed to fix it :)
Please feel free to close the issue, if it is resolved for you.

[2017-05-11 11:37] Szpadyzor commented on #6803
I am sorry all of You to hear that, but You all do it wrong.
And it is not a bug.
Just simple debbuging will let You know how it work.

First You have to create media entry:
`
const MEDIA_TYPE_IMAGE = 'image';

protected function createMediaImagesEntries($images)
    {
        $entries = [];

        foreach ($images as $imagePath) {
            /** @var \Magento\Catalog\Api\Data\ProductAttributeM

[2017-05-11 11:40] Szpadyzor commented on #6803
I am sorry all of You to hear that, but You all do it wrong.
And it is not a bug.
Just simple debbuging will let You know how it work.

First You have to create media entry:

[code]

Then You have to set it on product:

[code]

and then You have to add image to media gallery:

`$product->addImageToMediaGallery($filepath, null, true, false);`

[2017-05-11 11:43] Ramzzzz opened #9604 "Error in Magento SOAP API calls from C#.Net"
Trying to consume Magento 2.0 SOAP in C# using visual studio 2013.
**Soap Url:** http://localhost:85/Magento-Siemens/soap/default?services=catalogProductRepositoryV1
**Error:** Error in deserializing body of reply message for operation 'catalogProductRepositoryV1Get'

**Code:**
  var proxy= new catalogProductRepositoryV1PortTypeClient();
            var response = new CatalogProductRepositoryV1Get

[2017-05-11 12:08] mikenk2010 commented on #2944
Right, work for me in incognito....why !!!!

[2017-05-11 12:58] NanthiniMuralidaran opened #9605 "Option values of Multi-select attribute do not appear in admin(Backend)"
Option values for Multiselect attribute are not appearing in the backend.

### Preconditions

Ubuntu - 14.04
Magento - 2.1.6
PHP - 7.0.18
MySQL - 5.6
### Steps to reproduce

1. Login to Magento Admin(Backend)
2. Go to Stores-> Product. Then type "Tax class"(Product attibute) in the text box under the column name in "Default Label" column. Click search.
3. Click the resulted row. Go to "Properties"

[2017-05-11 13:38] K7Triton commented on #6992
"Steps:
1. Install Magento latest develop version
2. Go to Admin side
3. Click ""Catalog > Categories""
4. Add new category with name for example (test)
5. Change location on top side on ""Default Store View""
6. And change name of created cateogry on something else
7. Create csv file for import with product (cateogry for product set ""Default Category/test"")
8. Go to ""System > Import""
9. Entit

[2017-05-11 13:44] ashwinshahi commented on #4430
Hi @afoucret , @gamort ,

Initially my issue was the same @afoucret mentioned after applying the fix I encountered the issue was on DbStorage.php on insertMultiple($data) function here for some categories the variable $data is array and so I am getting the following exception :

Fatal error: Uncaught Magento\Framework\Exception\AlreadyExistsException: URL key for specified store already exists. in

[2017-05-11 15:21] magentomaniac commented on #7167
Still an issue in EE 2.1.4

[2017-05-11 15:35] tomdollarmpd commented on #7230
Any feedback from the Magento team on this one yet?

[2017-05-11 15:43] Pigau commented on #9190
Same as #9190

[2017-05-11 15:46] Pigau commented on #8964
I have the same issue on Magento 2.1.5 :
If I have :
subtotal : **10,00 $ including tax**
shipping: **5 $ including tax**
tax : **20 %**
discount: **15 $**

I still have to pay 0.85 $ (tax amount of my shipping fees)

[2017-05-11 16:12] markbiek commented on #6602
The basic premise of @jesslynkoh89 's solution worked for me but I had to delete `ui_bookmark` entries with a namespace of `design_config_listing`.

Maybe a difference between Magento 2.0 and 2.1?

[2017-05-11 16:17] twistedatrocity commented on #6138
@anujeetphj I did not override anything, I just modified the core code. I know it's not recommended to do this but since many game breaking bug fixes are not being backported into 2.1.x releases I am maintaining my own changelog and set of patches to check against should we need to upgrade. So far I have had to reapply all of them on each release.

[2017-05-11 16:47] vlahakis commented on #9280
Ideally it would also be great (feature request) to be able to temporarily disable

\Magento\Catalog\Model\Product\Image\Cache::processImageData

This takes approximately 48% of the POST call (after profiling).

I believe it would be an option in Cache Management to disable (or set on schedule and so on) the Catalog Images Cache.

It would allow for a considerable boost in performance during these

[2017-05-11 16:55] gambi52 commented on #6710
We are having the same issue.  We are able to save the options by paging through, but we discovered that as time goes on, the options on secondary pages get jumbled out of order.  We want our site to look polished, so this is unacceptable.

Can I get details on how to override the page size?

[2017-05-11 17:10] gambi52 commented on #6929
It is located in the Magento Admin.  Go to: Stores>Configuration>Sales>Payment Methods>Authorize.net Direct Post>Merchant MD5.

You must also save the same code on Authorize.net.  It can be anything up to 20 characters.

[2017-05-11 17:16] brvoltz commented on #6929
Gambi52 - Many thanks... the issue is I'm using CIM and the plugin does not have the field... They are adding it, but feel this will not solve the issue..  I'm very green to Magento... so sorry for the newbie questions / comments...

[2017-05-11 17:17] felipetrevisan opened #9606 "Magento admin panel not loading content properly"
### Preconditions

1. CENTOS 7.3 x86_64
2. Magento version 2.1.6, PHP: 5.6.30, MySQL: 5.6.35

### Expected result

1.  Ajax content rendering and show properly on Catalog (List, Create), Customers (List, Create), Design Configuration, Design Themes, etc.

### Actual result

![screenshot-presentesclick com br-2017-05-11-14-12-32](https://cloud.githubusercontent.com/assets/4295920/25962474/5484784a-

[2017-05-11 17:35] elachino commented on #9506
We realize a plugin to resolve this problem, waiting for magento 2 release a new version that resolve this bug. Our solution is clean solution if you don't want change core code.
https://github.com/Cooder08/AdminOrderJsonAdapter

[2017-05-11 17:55] hamdrew commented on #6564
Disappointing that a completed fix for this major bug is yet to be released!

[2017-05-11 18:04] UglyWillDuckling opened #9607 "Error with Tablerate shipping price calculation when using Price vs Weight"
### Preconditions
1. Magento 2.1.2
2. PHP 7.0.15

### Steps to reproduce
1. Use Tablerate shipping method with price vs weight option
2. Set it up so it has more then one condition
3. Set up a cart rule to use freeshipping under certain conditions
4. Go to frontend and get the freeshipping cart rule to be applied, go to checkout
5. Now go back, and create the conditons for the price rule to not be

[2017-05-11 18:05] gambi52 commented on #6710
I am not a .js programmer, but I was looking at the file mentioned above:  /vendor/magento/module-ui/view/base/web/js/dynamic-rows/dynamic-rows.js to maybe change the pageSize...

Dreamweaver ID'd a syntax error near the end on line 727 "this.recordData(utils.copy(this.default));"  It is in the Restore value to default section.

There is no "this.default" defined anywhere above this line, but ther

[2017-05-11 18:18] qbo-tech commented on #6594
This isssue should be reopned as the problem  still exists with Magento 2.1.6.

[2017-05-11 18:52] ghost opened #9608 "Can't add secure keys to setup wizard"
### Preconditions

1.  Magento CLI version 2.1.4
2. PHP 5.6.30

### Steps to reproduce

1.  Go to Setup Wizard
2.  System Config
3.  Add Secure Keys

### Expected result

1. Keys saved

### Actual result

![unbenannt](https://cloud.githubusercontent.com/assets/11746412/25966377/1f42c1fa-368b-11e7-869d-da483b365d2d.PNG)

[2017-05-11 18:56] devamitbera commented on #9608
Have you checked your log files?

[2017-05-11 19:04] salacis commented on #9608
Yes, nothing in there

[2017-05-11 19:12] devamitbera commented on #9608
Please enable php  error log and  see what happen?
`
ini_set('display_errors', 1);`

[2017-05-11 19:23] salacis commented on #9608
No php error'r reported.

![unbenannt](https://cloud.githubusercontent.com/assets/11746412/25967916/04fc3d1c-3690-11e7-90d0-17ac9b3ea748.PNG)

[2017-05-11 19:32] Brikner commented on #8975
I faced the same issues as Franck with a similar configuration, except I'm running Apache 2.4 on CentOS 7. After several days and much gnashing of teeth, I came up with solutions that *appear* to work for me (ymmv). In the hopes of saving someone else some time...

**To pass the real customer IP address to the PHP scripts:**

I added the following lines to my Apache config file (which in my case i

[2017-05-11 19:42] Brikner commented on #8975
Hmm. It seems that I sometimes need to clear the cache with the Magento CLI as well...

`magento cache:flush full_page`

Don't know if other cache types might be relevant.

[2017-05-11 22:00] ddeppner commented on #8274
This is a problem for us in production.  We need a fix here...

[2017-05-11 22:26] salacis commented on #9608
Couldn't figure it out.
Fresh installation and restoring database did the job :/

[2017-05-11 23:25] #9589 closed, assigned to nobody

[2017-05-11 23:39] antoinekociuba commented on #9188
Have the exact same issue, with FPC disabled, on a Magento 2.1.6 CE instance, running on PHP 7.0.17.

[2017-05-12 02:32] cs221313 opened #9609 "customer_grid reindex error after added 3 custom attributes"
### Preconditions

1. Magento 2.1.6,  created 3 custom attributes in customer: organization, position, department

### Steps to reproduce

1. run bin/magento indexer:reindex

### Expected result

1. it should give me the success information

### Actual result

1.Following is what I got

Customer Grid indexer process unknown error:
SQLSTATE[42000]: Syntax error or access violation: 1070 Too many ke

[2017-05-12 03:03] nntoan commented on #5946
@malachy-mcconnnell I tried your workaround, not work for me (2.1.6)

[2017-05-12 03:22] alloylab commented on #9542
Yes & Yes.. however the md5 hash on the merged files & timestamp version was different on each server.... so I was I ended up resolving the issue by extending the following classes, \Magento\Framework\View\Asset\Merged & \Magento\Framework\App\View\Deployment\Version  to provide static files that are based on the git commit hash

[2017-05-12 03:22] #9542 closed, assigned to nobody

[2017-05-12 04:20] cs221313 commented on #9609
This issue was solved. Just set is_used_in_grid as false.

[2017-05-12 05:00] vanloc0301 commented on #9576
Thanks @korostii

[2017-05-12 05:00] #9576 closed, assigned to nobody

[2017-05-12 05:40] shashidharg commented on #7310
@nafisakanwal You will have to edit your composer.json file, as mentioned in #4791

[2017-05-12 07:09] minesh0111 opened #9610 "Admin Grid Mass action Select / Unselect All issue"
Admin Grid Mass Action `Select All ` and `Unselect All` work only on `primary_key` of collection object no matter if we set other field as mass action filed using grid method `setMassactionIdField` other than `primar_key`

### Preconditions
1. Magento version 2.1.3

### Steps to reproduce

1. Found this issue while creating custom module where i need mass action id filed other than `primary_key` o

[2017-05-12 08:05] korostii commented on #6594
@qbo-tech, the closed issues rarely get reopened here because they rarely get any attention from someone with an ability to reopen it.
If you want to bring any attention to it, creating a new issue with reference to this one might do the trick.

[2017-05-12 08:24] ihor-sviziev commented on #9606
Looks like you have some issues with static content. Please run ```php
 php bin/magento setup:static-content:deploy```

[2017-05-12 08:36] miguelbalparda commented on #9212
It seems this might be fixed with #9492 can you please try the suggested solution and report back?

[2017-05-12 08:37] vovayatsyuk commented on #5847
I have the same error.

Here is a list of requests and responses sent by the browser when I clicked "Place Order":

URL | Response
:------|:--------------
1.<a href="" title="example.com/rest/default/V1/guest-carts/9dfac28bb9b71e9da25a289aea555b43/set-payment-information">guest-carts/..../set-payment-information</a> | true
2.<a href="" title="example.com/authorizenet/directpost_payment/place/">aut

[2017-05-12 08:56] joachimVT commented on #8221
I'm having the same issue on magento 2.1.6. Any updates on this ?

[2017-05-12 08:59] sasilinux opened #9612 "Wishlist Add grouped Product item error"
### Preconditions

1.
2.

### Steps to reproduce

1. Add grouped product from the product list with the qty of 3. For ex. added product A to the wishlist.
2. After adding the product, once again add the same product A to the wishlist with the qty of 4.
3.

### Expected result

1. The qty of product A should be updated to 7.

### Actual result

1. But it has been added as two separate products. pro

[2017-05-12 10:48] K7Triton commented on #4272
Steps to reproduce:

1. Install Magento latest develop version
2. Go to Admin side
3. Click "Stores > All Stores"
4. Click "Add new store view"
5. Enter name and code, set status "Enabled" and click "Save"
6. Click "Stores > Configuration"
7. In header side choose created Store View
8. Click "General > Currency Setup"
9. "Default Display Currency" set "British Pound Sterling"
10. "Allowed Currenci

[2017-05-12 10:53] jalogut commented on #9469
Same issue here. Not possible to import customers if a customer has an empty value for one column where one other customer has a value.

[2017-05-12 10:58] miguelbalparda commented on #8212
It seems this might be fixed with #9492 can you please try the suggested solution and report back?

[2017-05-12 11:04] tomdollarmpd commented on #7230
I've found a configuration work-around for this bug.

In Stores > Configuration, Catalog > Inventory

Product Stock Options:  Backorder 'allow qty below 0'.

As long as you are still managing stock and hiding out of stock products, the user will still be able to add products with 1+ stock to basket and the promo code issue wont present itself.

Once the product reaches zero stock it will go to out

[2017-05-12 12:02] antofebin2636 opened #9613 "Critical Erro"
main.CRITICAL: Invalid template file: 'Magento_Cms::page/edit/form/renderer/content.html' in module: 'Magento_Backend' block's name: 'widget\form\renderer\fieldset\element_0'

[2017-05-12 12:48] magekey commented on #5247
Maybe it helps someone...
Here is what I found on my hosting ..
My backend panel works handles by apache, but "/setup" folder and all "/setup" requests handles by nginx. As result we got Auth error message.
Just want to say most of times it's not an error of Magento code. Please make sure you choose a good provider :)

[2017-05-12 13:33] omiroshnichenko commented on #9252
Hi, @Igloczek! Seems that issue already fixed. Can you recheck this and close issue?

[2017-05-12 13:57] DrashtiPandya opened #9614 "controller overriding in magento 2"
I want to override controller so that I create di.xml in etc and xyz.php in controller.and paste it in app\code\package but it not works

di.xml
-----------------------
<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Magento\Customer\Controller\Account\C

[2017-05-12 14:16] coresh commented on #8245
The same issue after updating from Magento 2.1.3 -> Magento 2.1.6
All Store view URL's redirected to default store view.
Solution by @rhertogh : not helped

[2017-05-12 14:23] Tjitse-E opened #9615 "Default attribute default values gone since update to Magento 2.1.6"
### Preconditions

1.  A 2.1.2 store, updated to Magento 2.1.6 (not sure if this is the cause/a requirement though)
2.  PHP7

### Steps to reproduce

1. Open a random product
2. Search for the attributes 'New Theme' and 'New Layout'
3.  Try to set the attribute values on '-- Please select --' and 'No layout updates needed' respectively

### Expected result

1. You'll find the attribute values and

[2017-05-12 14:45] PascalBrouwers commented on #8184
Also in 2.1.5 with sampledata!

[2017-05-12 14:53] kfriend commented on #8184
@pat75007 The only solution I've found is to override swatch-renderer.js, and wrap the issue if statement in another if statement. This worked for my situation, but I don't know if it impacts any setups others may be using.

[code]

[2017-05-12 14:57] nmallepally commented on #9428
I have the same issue, fixed after replicating the changes from the commit. but it does not show the products which are low in stock. when i give the range for quantity or sku, it does not show up results. Exports empty csv file.

[2017-05-12 15:17] carsonchynoweth opened #9616 "Unable to update stock (inventory) using rest api - 500 error"
### Preconditions

1. Magento 2.1.6, PHP 5.6 and MySQL 5.6
2. Hosted on cloudways

### Steps to reproduce

1. Create a simple product in the cart. Then try to update the quantity using the API (V1)
2.
3.

### Expected result

1. Not a 500 error

### Actual result

1. [Screenshot, logs]
Logs files are unavailable. Below are the responses from the two means of updating I tried.
---------------------

[2017-05-12 15:24] korostii commented on #9614
If you are looking for some help or an advice regarding setup or development please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/).
The GitHub issue tracker is intended for tracking technical issues (read: "bugs") only.

[2017-05-12 15:31] felipecolucci commented on #9606
I ran

[code]

as you said, but nothing changed. Even in localhost happens. What can be? Permissions?

Console Debug shows
![magento](https://cloud.githubusercontent.com/assets/4295920/26005243/de197bc2-370e-11e7-9d61-6f0eed4f60ff.png)

[2017-05-12 15:42] salacis commented on #7599
Can anyone confirm progress on this issue, as I am experiencing the same.

[2017-05-12 15:42] grafikchaos commented on #7146
If all the community and custom modules have a `title` attribute within the  `resource` (i.e. `<resource id="Example_Module::custom" title="Example Module - Custom">`) then you may wanna try the trick of overriding the `\Magento\User\Block\Role\Tab\Edit::getTree()` method suggested in #7101:

**Before:**

[code]

**After:**

[code]

[2017-05-12 15:59] spipu commented on #8868
but this is just a workaround...

It will be better if it was automatic...

[2017-05-12 16:06] spipu commented on #5684
it has been fixed, thanks

[2017-05-12 16:09] spipu commented on #5871
tester, ok

[2017-05-12 17:06] coresh commented on #9453
If the website with multi-store views:
after the request to one of store view URL => redirected to default store URL

Example:

    # store view URL: https://m-store-view-ru-ru.com/

    $ curl -I --insecure https://m-store-view-ru-ru.com/

    HTTP/1.1 302 Found

    Location: https://m-store-view-default.com/?SID=62c3347d2aa7c5e59ee874f1a78c8881

    # NOT good, there should be opened: https://m

[2017-05-12 17:09] coresh commented on #5517
$ bin/magento --version
    Magento CLI version 2.1.6

If the website with multi-store views:
after the request to one of store view URL => redirected to default store URL

Example:

    # store view URL: https://m-store-view-ru-ru.com/

    $ curl -I --insecure https://m-store-view-ru-ru.com/

    HTTP/1.1 302 Found

    Location: https://m-store-view-default.com/?SID=62c3347d2aa7c5e59ee874f1a78c

[2017-05-12 17:32] Igloczek commented on #9252
Looks good now, but the question is, how to prevent this type of issues in the future, b/c a failed test doesn't return 0 when something goes wrong (expect tests itself). This issue exists few weeks and no one even notices, it's dangerous.

[2017-05-12 18:27] fxdegroot commented on #8369
We got the exact same problem on Magento 2.1.4 EE

[2017-05-12 19:23] lucav90 commented on #9602
Hi have this error when i check the file before import:

<b>Fatal error</b>:  Uncaught Error: Call to a member function getName() on null in /var/www/vhosts/sito.com/httpdocs/vendor/magento/module-catalog-import-export/Model/Import/Product/CategoryProcessor.php:80
Stack trace:
#0 /var/www/vhosts/sito.com/httpdocs/vendor/magento/module-catalog-import-export/Model/Import/Product/CategoryProcessor.ph

[2017-05-12 19:33] manthandhola commented on #9466
Same Issue. Can anyone give solution?

[2017-05-12 19:50] manthandhola commented on #9466
****

[2017-05-12 20:16] MaierWerx commented on #9377
Same issue. Looking for a fix.

[2017-05-12 21:35] southerncomputer commented on #9548
You sure the quote AND sales_order tables have enough space for your shipping method?? Last I checked I had to increase the size of quote columns to equal sales_order sizing!

IIRC quote shipping_method was 40 and sales_order shipping_method is 32 !

Oversized method would cause strange errors!

[2017-05-12 21:35] orozcodiaz opened #9619 "Impossible to create Text Swatch 0 (Zero)"
### Preconditions
1. Magento 2.1.6
2. PHP 7.0.14-2a

### Steps to reproduce
Try to create product attribute text swatch with value "0" (zero)

### Expected result
New value for attribute

### Actual result
`Admin is a required field in the each row`

To see recorded behaviour: http://recordit.co/bUwOLQQ3n2

<img width="666" alt="screen shot 2017-05-12 at 5 30 36 pm" src="https://cloud.githubuserco

[2017-05-12 21:40] southerncomputer commented on #9496
also you might search for this before except the solution was to add a socketAdapter->read() before close!

[2017-05-13 00:50] southerncomputer commented on #9578
I noticed this exact same bug today! Touching the column sort fixed the mis-applied filter.

Until then there were no filters on admin user 51 and only 1.4M products were showing. After touching the sort-by on any column it expanded to the full 1.65M products!

I will have to see if I can recreate this problem!

[2017-05-13 00:54] salacis commented on #7967
Fine but why do I sometimes get a full breadcrumb when I follow my category up to the product from the front page and sometimes not? That makes no sense.

[2017-05-13 04:39] mfang0126 commented on #7869
I got the same issue, which like nafisakanwal

[2017-05-13 05:41] mukdam commented on #4641
any update

[2017-05-13 06:05] dnadle commented on #7869
It looks to me like "sign static files" is inserting "versionNNNNNNNNN" into the URLs, but setup:static-content-deploy is not placing the content in that path.

[2017-05-13 06:43] segeer commented on #9568
Have similar problems in 2.1.6, where products added via the csv import process do not appear, but one added manually shows up in the default category.   Still experimenting.

[2017-05-13 07:09] cs221313 opened #9620 "I got an error after I created new store view on a new theme"
### Preconditions

1. version 2.1.6,

### Steps to reproduce

1.  I created a new store view
2. Created new theme and assigned the new theme to the new store view.
3. Load the homepage in browser

### Expected result

1. The homepage should be loaded

### Actual result

1. Got the following error
1 exception(s):
Exception #0 (Exception): Item (Magento\Catalog\Model\Category\Interceptor) with the s

[2017-05-13 08:13] vasanth833 commented on #6287
+1 any update?

[2017-05-13 09:30] miguelbalparda commented on #8554
https://github.com/magento/magento2/pull/9560 seems to fix this issue, can you try that fix and report back? I'd like to merge that PR but I will need some help from you :smile:

[2017-05-13 09:30] miguelbalparda commented on #9050
https://github.com/magento/magento2/pull/9560 seems to fix this issue, can you try that fix and report back? I'd like to merge that PR but I will need some help from you :smile:

[2017-05-13 11:16] routbiplab commented on #9612
It is not an issue according to me. Since grouped product is a collection of simple products so whenever you different quantities of the same product it will create a separate entity for it. For every new combination i.e for products or quantities a new entity will be created.
For clarification try giving the same quantity for the same product. It won't create a separate product in your wish-list

[2017-05-13 11:19] routbiplab commented on #9482
Yeah I totally agree with you. We indeed need such kind of customization where inventory can be managed for multiple warehouse or website.

Thanks!

[2017-05-13 11:22] tinxit commented on #6671
same issue with WEBAPI Soap and manually saving a category in 2.1.5

[2017-05-13 11:32] routbiplab commented on #9591
I am assuming that you need the custom attribute (e.g 'description') value in your template file. Then you simply need to use this :
$_category->getData('description');     where
$_category = $objectManager->create('Magento\Catalog\Model\Category')->load($currentCategoryId);

[2017-05-13 12:32] flancer64 commented on #8018
I have created a PR with fix but unit tests are failed for the fix:
[code]

I have created a standalone module with the same fix ([flancer32/mage2_fix_pr9621](https://github.com/flancer32/mage2_fix_pr9621)). It is possible to check bundled re-indexing without falsing ` isRangingNeeded()`. Please, let me know about any errors found.

[2017-05-13 13:18] miro91 commented on #9565
Can you tell in which SEO extension was the problem?
Thanks.

[2017-05-13 13:20] miro91 commented on #9546
I also have this issue with drop-down options
Magento CE 2.1.5

[2017-05-13 14:15] SolsWebdesign commented on #9241
Zend_Wildfire was deprecated from ZendFramework 2.0 :
http://zend-framework-community.634137.n4.nabble.com/Zend-Framework-2-0-0RC1-Released-td4655931.html
states that:
- Removed Zend\Wildfire, as its API was specific to ZF1, and because we  can easily leverage FirePHP at this time.
parts of the FirePHP can be found in Zend\Log\Writer e.g. vendor\zendframework\zend-log\src\Writer\FirePhp.php
in the

[2017-05-13 14:31] SolsWebdesign commented on #9239
Found Zend_Controller_Request_Abtract alternative Magento\Framework\HTTP\PhpEnvironment\Request for Magento\Framework\Profiler\Driver\Standard\Output\Firebug.php and Magento\Framework\Profiler\Test\Unit\Driver\Standard\Output\FirebugTest.php but could not continue past the  \Zend_Wildfire_Channel_HttpHeaders::getInstance() line in Magento\Framework\Profiler\Driver\Standard\Output\Firebug.php as it

[2017-05-13 15:37] hoodpablo commented on #6656
hey @slimzc dont you mind sharing your code, cannot make it work, Thks!

[2017-05-13 16:12] HelenMortensen opened #9623 "Admin Access denied"
I open the Message icon:
I read the message. Click on the hyperlink at the end of the text and get this message:
--------------------------
Magento Admin
Access denied
Please try to sign out and sign in again.
If you continue to receive this message, please contact the store owner
--------------------------

[2017-05-13 16:20] jspoe commented on #3925
Created pull request for fixing this issue.
Also changed some other similar ACL problems along the way.

[https://github.com/magento/magento2/pull/9624](https://github.com/magento/magento2/pull/9624)

[2017-05-13 16:55] dnadle commented on #8018
If you're having trouble working around this bug, just add one line to your module's di.xml:
[code]
Then add the override class to your module:
[code]

[2017-05-13 17:13] dnadle commented on #6120
The problem with not fixing this bug ASAP is that the only way to clear a multi-select field of all selections is to delete the product and re-create it, which breaks all links to that product in customers' order history, re-ordering, etc. I don't think you should wait until it's a convenient time from an API versioning perspective. There are other pragmatic ways to fix this bug.

Instead of waiti

[2017-05-13 19:36] coresh commented on #5517
### The current issue - related to the Apache httpd server.

After upgrading from old Magento 2 version to the last Magento 2 version,
the issue should be fixed by appending to:

    /path/to/magento2root/.htaccess

    # (NOT to: /path/to/magento2root/pub/.htaccess)

    SetEnvIf Host www\.your-website-1\.ru MAGE_RUN_CODE=base
    SetEnvIf Host www\.your-website-1\.ru MAGE_RUN_TYPE=website
    Se

[2017-05-13 19:53] dverkade commented on #9407
Hey @maghamed,

We still have tests failing. That's because we have functions calling the paymentTokenFactory create function with an array. See this function in the PaymentTokenManagement class for instance:

    public function getByPublicHash($hash, $customerId)
    {
        $tokenData = $this->paymentTokenResourceModel->getByPublicHash($hash, $customerId);
        $tokenModel = !empty($tokenD

[2017-05-13 21:25] rparsi-commer commented on #9591
@routbiplab I ended up finding my own solution, forgot to close this ticket.
I created an event listener for the `catalog_category_collection_load_before` event.
In my observer class I added my custom attribute to the collection.
`$collection->addAttributeToSelect('is_clickable');`

The missing piece of the puzzle was that I didn't add my custom attribute to the Category entity's default attribute

[2017-05-13 21:25] #9591 closed, assigned to nobody

[2017-05-14 00:37] DH0 opened #9629 "Thumbnail images not being generated for some products in non-default website/web store view"
I have two websites in my Magento installation, one that includes a full set of products and the other that is a subset for a specific brand.

After upgrading to 2.1.6, I cleared the product image cache in /pub/media/catalog/product/cache. I then ran catalog:images:resize to regenerate it.

All of the thumbnails for my default store were generated. In addition, some of the thumbnails for my subset

[2017-05-14 05:18] flancer64 commented on #8018
Thanks, @dnadle

my solution allows to leave `isRangingNeeded()` as is (`true`) and use query batch iterator correctly on large catalogs.

[2017-05-14 10:03] tinxit commented on #9047
This is working ok with SOAP since version 2.1.3, maybe an idea to upgrade your Magento version? And then test again?

[2017-05-14 11:29] benhath commented on #7178
Still an issue in 2.1.5.

I believe the directory path is incorrect.

The file "/private/var/tmp/Applications/MAMP/tmp/php/phpB2mdl6" doesn't exist.

How is the upload being handled from this form post url?
http://local.local/manager/admin/system_config/save/section/carriers/key/XXX

[2017-05-14 11:47] sennin32 commented on #7927
2.1.6 still has the same issue.

[2017-05-14 12:42] expertalex opened #9630 "Magento 2.1.5 Error while sending QUERY packet."
Module 'Magento_Directory':
Installing data...
[ERROR] Exception: Warning: Error while sending QUERY packet. PID=10468 in D:\home\site\wwwroot\vendor\magento\zendframework1\library\Zend\Db\Statement\Pdo.php on line 228 in D:\home\site\wwwroot\vendor\magento\framework\App\ErrorHandler.php:61 Stack trace: #0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'Error while sen...', 'D

[2017-05-14 12:47] benhath commented on #7178
MAMP Pro fix

Change your INI to;
upload_tmp_dir = /private/var/tmp

[2017-05-14 12:50] hostep commented on #8369
That's really strange, since the code which causes this problem is only active in the `develop` branch and not in a previously released version. See https://github.com/magento/magento2/issues/9452 for more details.
Although the error message is slightly different (`malformed URI sequence` vs `URI malformed`), so maybe this is then a different issue?

[2017-05-14 20:58] Ddcdom opened #9631 "Date picker will not validate formats other than y-MM-dd and inputFormat must match dateFormat"
### Preconditions

1. Magento version 2.1.4

### Steps to reproduce

1. Create a backend form with a UI component with a formElement type of 'date'
2. add an outputDateFormat with any format other than y-MM-dd
3. add an inputDateFormat with any format
4. add an options array with a dateFormat which does not match the inputDateFormat
5. add validation array with a validate-date

### Expected result

[2017-05-14 21:58] smdevdk commented on #5352
Saving your logo to Magento_Email/web/logo_email.png in your theme-folder will work.

Ridiculous that this hasn't been resolved yet.

[2017-05-15 04:04] matart15 commented on #9567
It seems problem is apache redirect related closing the issue

[2017-05-15 04:04] #9567 closed, assigned to nobody

[2017-05-15 04:19] eInyzant commented on #8566
I think @koenner01 is true : If the flag is NULL then it means that it has not been set before. Then I think the best way is to add a default value to true.

[2017-05-15 05:41] minesh0111 commented on #9630
@expertalex this is related to your mysql setting. [max_allowed_packet](http://stackoverflow.com/questions/30753674/error-while-sending-query-packet)

[2017-05-15 06:03] jimul commented on #9123
Faced same issue with Magento2.1.5 EE, when debug issue in detail, found exception "There is no active transaction". Anyone found reasonable solution?

[2017-05-15 06:05] almarchenko commented on #5327
HI @lfritsche! I'm from the Magento docs team. Could you give us the link, which doc did you follow?If I got it right and it led you to having problems with checkout, we would like to verify the doc, thank you.

[2017-05-15 06:10] lfritsche commented on #5327
Hi! I read the following Issue: https://github.com/magento/magento2/issues/4425
and wrote a Plugin according to: http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_customize.html#remove-a-component

`public function aroundProcess(
        \Magento\Checkout\Block\Checkout\LayoutProcessor $subject,
        \Closure $proceed, $jsLayout
    ) {
        $ret = $proceed($jsLayout);

[2017-05-15 06:31] sasilinux commented on #9612
Yes. I have checked it the same quantity for the same product but it is not added/updated in the wishlist. If i change the quantity and add the product to wishlist and it will be treated us the new one. Please check and confirm.

[2017-05-15 06:39] almarchenko commented on #5327
@lfritsche  Thanks, we'll take a look at the doc (internal issue MAGETWO-69158)

[2017-05-15 06:39] sasilinux commented on #9612
For your info, I have added the same product with the different quantity not from the wishlist page, i have added it from the catalog page. So please check this issue from your end. Also i am using the latest magento 2.1.6 version

[2017-05-15 07:19] #4226 closed, assigned to nobody

[2017-05-15 07:27] ram10raj commented on #9408
@ngz82 after changing website level it was working but default it showing empty gird.
@santhoshp please fix and update the patch. report is showing empty page.

[2017-05-15 07:31] PascalBrouwers commented on #4226
@spipu so, it is fixed?

[2017-05-15 07:31] spipu commented on #5458
The pb is stil there...

[2017-05-15 07:34] spipu commented on #4226
no, and i think it will not :( because what they implement for stock item does not need collection. It uses a new way to manage them, by using mapper and query builder.

[2017-05-15 08:02] korostii commented on #6610
This particular bug has been [reported on Magento 1.9](http://stackoverflow.com/questions/25280095/magento-catalog-price-rule-disappears-at-night) as well.

[2017-05-15 08:09] StevenGuapaBV commented on #9206
Created pull request for fixing this issue.
Page refresh is now replaced by a XHR request and labels are shown more clearly.

#9626

[2017-05-15 08:19] magentomaniac commented on #7167
For anyone still struggling with this, we've came up with a fairly straightforward fix (props to the people at [Vaimo](https://www.vaimo.com/)).

1. Add this to <module_directory>etc/adminhtml/di.xml
[code]

2. Create a Plugin at <module_directory>Plugin/WysiwygConfigPlugin.php with:
[code]

3. Use this function in the template files to get the proper output.
Otherwise it will contain directives (

[2017-05-15 08:45] dheesbeen commented on #5823
The fieldset copy is not working because of the fact that magento 2 is using the repositories objects now.

In case of a transfer to the order object the order repository is used. The order repository has a fixed set of methods and has no magic getter and setter. It only allows you to transfer values to the extension_attributes.

Possible Solutions

1. Completely remove the fieldset.xml and copy f

[2017-05-15 08:45] msliman commented on #3743
@shaw-tech I am facing the same problem. Do you have a solution ?

[2017-05-15 09:23] Rann1 commented on #6867
In 2.1.6 this issue still persists, you can enter a value, but the value appears BEHIND the 'incl tax' label, so it seems you fill in nothing.

[2017-05-15 09:28] michael-tourneur commented on #8003
@veloraven this issue has been fixed and merged?

[2017-05-15 09:46] gman-1986 commented on #9438
yes simple products disappear from config admin,seems similar to that issue.

Found out that one attribute in the visual swatch had the same admin name as another but used a different colour swatch and when imported this knocked the simple products out. not just for that product but for every and any product that uses a visual attribute.

[2017-05-15 09:46] #9438 closed, assigned to nobody

[2017-05-15 09:58] daveyx commented on #2504
i have this problem with apache server and php5.6;
setting

`cgi.fix_pathinfo=0`
or
`cgi.fix_pathinfo=1`

does not work.

In the chrome debugger network tab, i can see that an ajax request is not returning and executed again and again:
`Request URL:http://localhost/setup/index.php/session/prolong`

it happens in angular.js:7715

[2017-05-15 10:33] PawanKumarN opened #9632 "Magento2: Decimal Price in Chinese traditional language display [object Object] instead of dot"
I have multi language store. default language is English. there are few products have decimal price.

when i switch language to Chinese it is working fine.But when i switch to Chinese traditional the  **[object Object]**  appears instead dot in decimal price.

for example: price: $69.95 in English when i switch language to Chinese traditional the price will look like Price: $69[object Object]95

i

[2017-05-15 11:15] vbmagento commented on #4305
I have fixed it to change value of **const ERROR_DIR** in processor.php.
Removed pub from this const and only put errors like that **const ERROR_DIR = 'errors' ;**
I have tried it and it is working for me.

[2017-05-15 11:33] andreymoskvenkov commented on #8554
:-D
Sorry, but no, this PR will not fix the issue. In the fix need to Pass "page_layout" code into an API request together with the list of applied handlers on a page. Your fix just adds an additional handler, which is used only in the FullPageCache's controller.

[2017-05-15 11:39] franckgarnier21 commented on #3430
Hello,

A dirty quick fix is to rewrite the attribute repository before Magento fix it.

`<?php

namespace Vendor\Module\Model\Product\Attribute;

/**
 * @SuppressWarnings(PHPMD.CouplingBetweenObjects)
 */
class Repository extends \Magento\Catalog\Model\Product\Attribute\Repository
{
    /**
     * {@inheritdoc}
     */
    public function get($attributeCode)
    {
        $attribute = $this->eavA

[2017-05-15 11:50] kevingimbel commented on #9597
Can confirm this is the case for Magento CE 2.1.6. It also does not work after inserting an image (e.g not closing the overlay with X).

I am also not able to switch to the WYSIWYG Editor from the plain editor.

[2017-05-15 12:16] dotsoa opened #9633 "Web Setup Wizard 500 error when session storage is configured to use memcache"
### Preconditions

1. Magento Version: 2.1.6
2. PHP-FPM - Specific pool is currently using  7.0.17
3. Apache 2.2.31

### Steps to reproduce

1. Perform a fresh installation of Magento 2.1.6
2. Switch and configure session storage method to memcache in env.php
3. Log into admin and navigate to System > Tools > Web Setup Wizard

### Expected result
1. The Setup Wizard page loading successfully

###

[2017-05-15 12:37] mvmenno commented on #6410
I got this issue as well on 2.0.11 using PHP 7.0 and chrome.
Further console logging customer-data.js:49 gives the following error for me:
 Warning: array_key_exists() expects parameter 2 to be array, null given in \/var\/www\/alpha\/vendor\/magento\/module-customer\/CustomerData\/Section\/Identifier.php on line 82

Possible fix:
extend this file (Identifier.php) and add this in the foreach loop i

[2017-05-15 14:08] AntonEvers opened #9634 "When will EE target rules work again in version 2.1?"
Hello Magento team!

I want to upgrade from Magento 2.0.x to 2.1.x for a few months now an I'm waiting for the target rules to be repaired. Especially this line bugs me:

https://github.com/magento/magento2ee/blob/2.1.6/app/code/Magento/TargetRule/Model/Actions/Condition/Product/Attributes.php#L395

The current reference to `table.entity_id` throws the error:
[code]

I see that this code is comple

[2017-05-15 14:11] strauss69400 commented on #9548
i found the problem.there was some parameters missing in adminhtml.xml

[2017-05-15 14:11] #9548 closed, assigned to nobody

[2017-05-15 14:14] ajpevers commented on #9634
### Preconditions

1. Magento 2.1.6 EE

### Steps to reproduce

1. Create a target rule, up sells for instance, in `Marketing | Related Product Rules`
2. Leave products to match empty
3. In "products to display" choose a varchar attribute (x) and set it to "is Matched product (x)"
4. flush all caches

### Expected result

1. When visiting the product detail page of a product it should display upse

[2017-05-15 14:16] ajpevers commented on #9634
When I go to the database, open the `magento_targetrule` table and change this query:
[code]

to this query:

[code]

Thew page works again. `table.entity_id` is changed to `table.row_id`.

[2017-05-15 14:18] mahendrajella commented on #7078
@dreucifer  I am facing the same issue, can you please give details about account setup.

[2017-05-15 14:42] dhob68 opened #9635 "Captcha not shown on contact form"
After enabling captcha for the contact form the captcha is not shown on the form.  If submitted an "Incorrect CAPTCHA" error is displayed.  Tried in production and development modes.  No Javascript errors in the console.

### Preconditions

1. Magento 2.1.6
2. PHP 7.0.12
3. MYSQLl 15.1 10.0.27-MariaDB
4. Varnish 4.1.3
5. Redis 3.2.3

### Steps to reproduce

1.  Select stores->Configuration->Custom

[2017-05-15 14:45] choukalos commented on #9593
Hi @xhallix you need to load the catalog with prices including tax to ensure you'll always see the exact price you want in this case.  Note too that you need to set shipping origin to the same location as your default store location for Magento to recognize the right tax rate for the catalog prices including tax.

Please note that's because the tax algorithm in Magento 'locks' and ensures all pric

[2017-05-15 14:47] choukalos commented on #9572
Are you doing a quick search from the storefront?

Has cron run a few times or have you triggered a FullText search reindex action after creating the product but before doing the search on the store front?

[2017-05-15 14:57] paknauer commented on #5885
Hi @antboiko any news on this issue?

[2017-05-15 14:58] simonrl commented on #5517
This didn't work for me on 2.0.13. Where did you put the ode in your htaccess file?

[2017-05-15 15:03] xhallix commented on #9593
Yep I changed it, so know my product prices are included with tax in the catalog. But in addition I had to adjust price currency rounding to precision of 4.

Regarding your explanation, is this written down somewhere in documentation? If not would it Make sense to add this?

Thanks for your help

[2017-05-15 15:22] RobertBroley commented on #2107
I have noticed there is a fix. But for Magento 2.1.6. Will this work on Magento 2.0.13?

[2017-05-15 17:19] rparsi-commer commented on #9604
@Ramzzzz Wouldn't it be easier to use the Rest Api instead?

[2017-05-15 17:28] hostep commented on #9597
This was already fixed on the develop branch almost a year ago, but wasn't being backported. So I did just that and created a backport for this fix to apply on Magento 2.1.x: https://github.com/magento/magento2/pull/9332 and it was approved!
I hope it will make its way into the next 2.1.x release :)

[2017-05-15 18:00] Will-I4M commented on #8978
Here is an error messages logged into exception.log after some error 400 (4 times today) :

Integrity constraint violation: 1062 Duplicate entry '000000898-1' for key 'SALES_ORDER_INCREMENT_ID_STORE_ID', query was: INSERT INTO `sales_order` (`state`, `status`, `protect_code`, `shipping_description`, `is_virtual`, `store_id`, `customer_id`, `base_discount_amount`, `base_discount_invoiced`, `base_gr

[2017-05-15 18:53] magicaner commented on #5908
i have same problem. can any one explain why i do not have commad like "deploy:mode:set"  at my setup?

[2017-05-15 20:25] mihalyYaxa commented on #5351
Same error when trying to insert multiple products at the same time MCE 1.9.2 when using this command in php $mgproduct->addImageToMediaGallery($Image, $visibility, true, false);

    [_attributeCode:protected] => media_gallery
    [_part:protected] => backend
    [message:protected] => SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction,

[2017-05-15 20:55] okorshenko commented on #8607
Pull Request https://github.com/magento/magento2/pull/9524 has been merged to 2.1-develop branch. Thank you @LoganayakiK for your contribution!

[2017-05-15 20:55] #8607 closed, assigned to sathyashrayan, LoganayakiK

[2017-05-15 20:57] okorshenko commented on #6275
Pull Request https://github.com/magento/magento2/pull/9590 has been merged to 2.1-develop branch. Thank you @hostep for your contribution!

[2017-05-15 20:57] #6275 closed, assigned to nobody

[2017-05-15 20:59] okorshenko commented on #8961
Pull Request #9590 has been merged to 2.1-develop branch. Thank you @hostep for your contribution!

[2017-05-15 20:59] #8961 closed, assigned to nobody

[2017-05-15 20:59] okorshenko commented on #9118
Pull Request #9590 has been merged to 2.1-develop branch. Thank you @hostep for your contribution!

[2017-05-15 20:59] #9118 closed, assigned to nobody

[2017-05-15 21:01] okorshenko commented on #9139
@sadeeshmca do you have any updates on Pull Request?

[2017-05-15 21:17] ps3z commented on #9395
i have that same issue...its happend when i do upgrade magento 2.1.4 to 2.1.6

[2017-05-15 21:53] oroskodias commented on #5715
2.1.6 still experiencing

[2017-05-15 22:08] toddbc commented on #5836
I'm sure there can be many issues for indexes not running, but for some, it may be caused by missing triggers.

You can recreate the triggers in Magento 2 with this command:

    magento indexer:set-mode realtime && magento indexer:set-mode schedule

If you continue to experience indexer issues afterward, your problem is likely not related to triggers.  But many of the comments above sound like mi

[2017-05-15 22:22] ps3z commented on #9385
we are waiting new release for fix the issue as soon as possible

[2017-05-15 23:35] steverobbins commented on #2504
Thanks for the solution @iget-esoares

Magento folk, I think it's pretty clear that this is a frequent enough problem that it's something you ought to support.

[2017-05-16 05:43] nafisakanwal opened #9638 "magento marketplace is not signin in my admin"
I am getting this error while i am trying to sign in magento marketplace in my admin

Command "show" failed: [UnexpectedValueException] RecursiveDirectoryIterator::__construct(/var/www/html/magento2.0/vendor/fooman/packages): failed to open dir: No such file or directory show [--all] [-i|--installed] [-p|--platform] [-a|--available] [-s|--self] [-N|--name-only] [-P|--path] [-t|--tree] [package] [v

[2017-05-16 05:56] matin73 commented on #5836
thanks tddbc. but problem is NOT that reindexing is not running. problem is, that products are not set to invalid index after saving. this is really a BAD BAD BAD bug and I am confused why magento team is not doing anything against this bug - bug is knwons for more than 1 year! I have already lost 2 customers. And at the moment I can not recommend magento at all because of this bug.

[2017-05-16 06:55] ztan9766 commented on #9552
I got same issue in 2.1.4

It looks like the issue that the quantity_and_stock_status attribute option inputs are disable, then when submit the form the option values are not been submitted.

There is a ticket existed for this issue, https://github.com/magento/magento2/pull/9221

[2017-05-16 07:12] Ramzzzz commented on #9604
No, actually, it is much easier to use SOAP, as it exposes required classes through proxy :)
Anyway, I updated to Magento ver 2.1.6.
Currently, I don't see any more error related to xml deserialization.

[2017-05-16 07:16] tomasinchoo opened #9639 "Braintree PayPal locale should have it's own setting"
### Preconditions
Any version of Magento 2

### Steps to reproduce
1. Create (for example) website with en_IE locale.
2. Configure Braintree sandbox.
3. Try to buy something

### Expected result
1. One should be able to use PayPal via Braintree payment method

### Actual result
1. JavaScript error in console: "Error: This PayPal integration does not support this country"

Issue is trivial:
Magento

[2017-05-16 07:24] Tjitse-E commented on #9615
We solved this by applying a part of MAGETWO-50123. Specifically the modification in `select.js` in magento/module-ui found here: https://github.com/magento/magento2/commit/eb5422a06ee7927a098382fea1fa1abb575547d8

[code]

[2017-05-16 07:25] mikebox commented on #9428
https://github.com/magento/magento2/issues/9408

You can follow this for more information on empty low stock grid

[2017-05-16 07:48] korostii commented on #5836
Hi @matin73, you seem to be mixing up the reindexing by cron (schedule mode) with the "update on save". As far I understand, when magento is set to "update on save" index never gets invalidated because indexes are supposed to get updated right away using the DB triggers.

And those triggers might become missing on many Magento installations, possibly due to database transfer via an incomplete dump

[2017-05-16 08:06] Tjitse-E commented on #7298
@ezprod would you mind sharing the SQL queries that narrowed down the affected products?

[2017-05-16 08:28] miguelbalparda commented on #8554
@adrian-martinez-interactiv4 can you chime in here?

[2017-05-16 08:33] Nolwennig commented on #4795
On my side, the module have been enabled with the  `--force` option

`php bin/magento module:enable Module_Name -f`

[2017-05-16 08:42] matin73 commented on #5836
hi @korostii , thanks for you reply - but i don not mixing up.  I have opend an extra ticket on https://github.com/magento/magento2/issues/9174 and I was told that is same issue as here described. BUT there seems to be 2 bugs. one with reindexing not running correcty AND what I mean is database is not set to "invalid" index. so product never gets updated on frontend (also never been shown if new p

[2017-05-16 09:00] wojtekn opened #9640 "Catalog rules are not visible for customer without re-login after a group change"
The admin user changes customer group to one which has catalog price rules applied. Change is not visible in frontend until customer logs out and logs in again.

### Preconditions

1. Install Magento 2.1.5 with sample data
2. PHP 5.6.30

### Steps to reproduce

1. Create customer account (General group) and make sure you are logged in
2. Load product listing page eg. http://local.magento215.com/in

[2017-05-16 09:07] eharvest commented on #7298
`SELECT * FROM `catalog_product_entity_varchar` WHERE `attribute_id` IN (119, 120) AND `value_id` NOT IN (
    SELECT `value_id` FROM `catalog_product_entity_varchar` WHERE `attribute_id` IN (119, 120) GROUP BY `store_id`, `value`
)` returns nothing

`SELECT count(value_id) FROM catalog_product_entity_varchar WHERE attribute_id IN (119, 120) GROUP BY store_id, value` gives me 568 total
`SELECT cou

[2017-05-16 09:09] bh-ref commented on #9516
I encountered the same problem some time ago: https://github.com/magento/magento2/issues/2622

We switched our workflow since then: if there is a Magento update with new modules, we run `setup:upgrade` on our development systems which adds the module to `app/etc/env.php`. If we decide to not use the module, we let the module entry there, but turn it from `1` to `0`:

[code]

If we deploy this code

[2017-05-16 09:13] vanloc0301 opened #9641 "What time to release Magento version 2.2?"
I can't find in Project or Roadmap of Magento 2.

Can anyone have document reference to this.

[2017-05-16 09:16] ravichandrarv opened #9642 "magento 2 rest api accessing products based on store code resulting all products"
I'm using below url to access products which are specific to store

http://<magento_host>/rest/<store_code>/V1/products/
but in output, i can see all other products as well. What may be the error or did I missed anything in a parameter.

[2017-05-16 09:19] iamjonjackson commented on #7333
I need this also

[2017-05-16 09:27] vnahalpara opened #9643 "only loading screen display in magento 2.1.3"
When i am trying to save product attribute from admin panel only loading screen display with text please wait

### Preconditions
1. Save product attribute
2. Change attribute scope
3. Magento ver. 2.1.3

### Steps to reproduce
1. Go to magento admin -> Store -> Attribute -> Product
2. Change attribute scope
3. Save

### Expected result
1. Product attribute must be changed

[2017-05-16 09:42] yumicom commented on #9385
I have the same issue with bad resizing of additional small images on product page after upgrading to 2.1.6.
In my  etc>view.xml :
<image id="product_page_image_small" type="thumbnail">
<width>50</width>
<height>50</height>
<frame>0</frame>
</image>
Image size is good only if width and height = 90.

[2017-05-16 10:03] AlessandroStaffolani opened #9644 "Form Validation are not translated"
I'm trying to translate magento 2, but I can't translate the validation messages added on the form.

### Preconditions

1. I'm using Magento 2.1.5

### Steps to reproduce

1. Add `<magento_root>/app/i18n/<vendor>/it_IT` with these files:
       - `composer.json`
       - `it_IT.csv` the file contains 4 columns: "en_text","it_text",module,module_name
       - `language.xml`
       - `registration.p

[2017-05-16 10:04] mironsoft75 commented on #5836
Also other important bug

URL key for specified store already exists

So you can not use Magento. In Germany already many are converted to other shop systems. I hope it is not the end of Magento. Many bugs have not been fixed. With these bugs Magento can not be used.

[2017-05-16 10:22] matin73 commented on #5836
1 year of realy big problems and none of the magento core team is saying a word about the bugs!! Hey guys where are you???

[2017-05-16 10:29] #9638 closed, assigned to nobody

[2017-05-16 10:54] nuwaus opened #9645 "Magento 2.1.6 products not visible on catalog page"
We have a Magento 2 site with multiple stores and we have over 60000 products on our stores. We have Magento version 2.1.6 And we get "`We can't find products matching the selection.`" even after all indexers are completed successfully, We work on our site from Magento 2 beta and still working on it, in some releases it is stable but in some releases, it's not.

And recently we faced a situation m

[2017-05-16 11:00] Tristan-N commented on #5422
@RG-1 I noticed that this happens on global scope. When switch to website scope the positions match as shown on the frontend of the website. When I switch positions the images switchs on the frontend too.

@andimov Why isn't there an option to "use default" on this particular setting?

[2017-05-16 11:59] Danielc3 commented on #8215
I am getting a similar issue to this on 2.1.6. It seems I cannot add additional SKUs to catalog rule conditions e.g. SKU is one of. If I delete a condition and then re-add I am however able to add SKUs, it's only when editing an already saved condition. Has anyone else experienced this?

[2017-05-16 12:34] DaimPiek commented on #8553
This is still an issue. We are running on Magento 2.1.6 EE.

**Conditions**:
 - creating a cart price rule with auto-generated coupon codes
 - set 'Uses per coupon' to 1

**Result**:
 - Coupon can be used multiple times

The usage per costumer field is having the desired effect however the usage for each individual coupon code is not.

[2017-05-16 12:41] ekuusela opened #9646 "CartTotalRepository cannot handle extension attributes in quote addresses"
Extension attributes in quote billing or shipping addresses cause Magento\Quote\Model\Cart\CartTotalRepository::get to throw this error:

    "PHP message: PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Quote\Model\Cart\Totals::setExtensionAttributes() must be an instance of Magento\Quote\Api\Data\TotalsExtensionInterface, instance of Magento\Quote\Api\Data\AddressExtension giv

[2017-05-16 12:46] hostep commented on #5422
I'm pretty sure this was fixed in [Magento 2.1.6](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.6CE.html):

[2017-05-16 12:54] Tristan-N commented on #5422
@hostep It applies on the import. If I want to change the order of the images, does that mean I have to re-import the images? Changing the order in the backend doesn't affect the frontend when applied on global scope.

[2017-05-16 13:18] yariksheptykin opened #9648 "MAGETWO-55896: Storefront: My Orders: Missing an Action column header"
Maybe we should merge MAGETWO-55896 (see https://github.com/magento/magento2/commit/9cb1818f9ad7a7ce7c596be8849a391c486e5a65) into one of the releases. It looks like this trivial change is somehow lost. It's been living in in develop since Jul 28, 2016 but didn't make it into a release version of magento yet. Is this intentional?

[2017-05-16 13:20] romeof1980 commented on #5836
hi @matin73 ,
I was able to reproduce your issue on a dev 2.1.5 I set up and on my end I was also able to fix it (it's not properly a bug). I reckon you're NOT using a dedicated server but a shared service and it could be you're hitting resources. Please try to set to yes the following:
**1** Stores -> Configuration -> Advanced -> System -> Cron (Scheduled Tasks) -> Cron configuration options for

[2017-05-16 13:20] hostep commented on #5422
I have no idea, sorry! Please test it out yourself.
My comment was more directed to the original post, I assumed you were running into the exact same problem.

[2017-05-16 13:26] Tristan-N commented on #5422
@hostep No problem! I'll test it to see if it solved my (much related) issue as well. Thank you for you comment.

[2017-05-16 13:29] quienti commented on #9648
This commit => MAGETWO-55896 (see 9cb1818)
Is in develop branch, so it is for Magento 2.2

[2017-05-16 14:24] vishaljani23 opened #9649 "Customizable Options - File Option Type"
### Preconditions

1. PHP 7.0.10
2. MySQL 5.7.4
3. Magento 2.1.6
4. Platform - Ubuntu / Windows

### Steps to reproduce

1.  Creating a new product with standard / default set
2.  Add Customizable Options, and select Option Type as File
3.  Select as Required, Supply jpg as extention.
4.  Save Product
5.  Open Product in Magento Front End now.
6.  Select any jpg file and hit "Add to Cart"

### Exp

[2017-05-16 14:39] daveyx commented on #8508
here too in 2.1.6

[2017-05-16 14:49] scottsb commented on #9356
Referenced the wrong PR number in my commit. Please ignore above.

[2017-05-16 14:55] heyepic opened #9650 "Security issue"
---
@heyepic please report security issues via magento.com/security. I removed your report and filed it myself this time. If you can share more information (eg how did you come across this issue, was it automated or manual testing), please email me at peter @ magento.com.

[2017-05-16 15:03] surfer190 commented on #4812
@BenSpace48 @palamar @rgoncharuk Hey guys, did you guys take a look at this issue yet?
I see an issue on magento side has not been created.

[2017-05-16 15:14] BenSpace48 commented on #4812
@surfer190 Fortunately I haven't worked on any projects that use this product configuration yet so I'm not aware of any workarounds or fixes sorry.

I'm surprised to see Magento haven't even acknowledged this yet almost a year later.

[2017-05-16 15:14] rparsi-commer commented on #9604
@Ramzzzz  You're the first php dev I've come across that actually likes SOAP lol.
 I've always hated it, annoying to work with in code.

[2017-05-16 15:21] korostii commented on #9604
The topic implies he's not a php dev, actually =D

Higher-level languages like C# and java actually allow you to generate a bunch of proxy classes based purely on WSDL, including the all the methods, parameters expected etc. which saves a lot of time.
REST doesn't have any kind of uniform schema and thus it's not enough to provide a single endpoint: you'll need to manually each of the exact endpoi

[2017-05-16 15:35] rparsi-commer commented on #9604
@korostii I thought he's a php dev lolz
Personally I prefer C# over Java.
While we're totally off topic, you think the open source dot Net will take over php someday?
https://github.com/dotnet/core

[2017-05-16 15:40] kanduvisla opened #9651 "Generated Factory does not implement correct interface"
For the sake of having my business-logic not being framework-dependant I've added interfaces for the (to be) generated factories to my code, so I can craft my code by using a service contract of the factory prior before it being automatically created by Magento.

Does this question makes sense? Well let me enlighten it with an example:

### Preconditions

1. Magento 2.1.6

### Steps to reproduce

[2017-05-16 15:41] nmallepally commented on #9559
@gsomoza  Issue got solved.
Issue was because the order number from Magento sent to Authipay Database was matching with the order numbers of our previous store woo-commemrce. So, Authipay sent us a repsonse, order already existed in database. I added a pre-fix to the Magento 2 order numbers and its working.

[2017-05-16 15:42] #9559 closed, assigned to nobody

[2017-05-16 15:44] orlangur commented on #9650
Could you add more details on how this scenario could be exploited? Don't we have CSRF protection for this form?

[2017-05-16 15:56] heyepic commented on #9650
All I can do at this point is copy and paste more info off of our security audit that was completed on the store we're about to go live with soon.

**Summary**
The regionId parameter in POST requests to /customer/address/formPost/id/(number) is returned verbatim by /customer/address/edit/id/(number). This facilitates Cross-Site Scripting attacks.

**Recommendation**
Change this web site such that

[2017-05-16 16:06] gsomoza commented on #9559
Great, glad to hear it's fixed!

[2017-05-16 16:18] jworthy89 commented on #9187
Workaround from @annejan89 worked for me, @flipflap was line 41 for me. clean cache and worked.

[2017-05-16 16:35] korostii commented on #9604
Well, as a language, PHP has its disadvantages, but most of the time it's just enough to fulfill the task at hand. And there are multiple forces at hand and most of the time business constraints and available libraries\frameworks etc. play a bigger role than the perks language has.

For example, it's been years and there are still some COBOL and Delphi apps used here and there, sometimes it's just

[2017-05-16 16:36] adrian-martinez-interactiv4 commented on #8554
@andreymoskvenkov If I have understood well, you are proposing to include the additional handle in the ajax request, instead of putting it within the block page cache controller. I don't know if I'm missing something, could you clarify a bit your previous explanation pls? Thanks in advance.

[2017-05-16 16:44] matin73 commented on #5836
@romeof1980, thanks for helping. i am using 2 different server - both are root server, not shared. i have settings as you recommend - s. screenshot
![grafik](https://cloud.githubusercontent.com/assets/3177275/26117681/98f11a26-3a67-11e7-9f2b-bc4c18754096.png)

[2017-05-16 17:21] andreymoskvenkov commented on #8554
No, I propose to add an additional parameter to the PageCache's URL: 'page_layout', where to put what Layut type was used on the current page and then to add a processing of this parameter in the ESI controller, which should just take the value from that parameter from the request and to set it into Layout object. Then everything will work correctly. And this is not easy btw, because of crazy Mage

[2017-05-16 17:51] orlangur commented on #9651
What is the ground for such expectation?

[code]

Abstract dependency is needed only when you need to swap implementations. Here you have factory which can create only one class instances. You can rely on factory contract (NOT enforced by any interface) considering its autogenerated nature.

The way factory is generated DOES NOT take into consideration any such preferences.

[2017-05-16 17:55] orlangur commented on #9650
Thanks for more details.

Obviously we can see some alert being on the same site.

I'm trying to understand whether it's a real attack vector: so, whether it is possible to create form at arbitrary website, POST to this store and execute arbitrary script in context of customer.

[2017-05-16 18:14] daveyx commented on #5509
Problem persisits in 2.1.6

[2017-05-16 18:27] parkktech opened #9652 "Cart Price Rule: Edits and usage sets salesrule_coupon expiration date to today"
Magento EE 2.1.3 >

**Steps to reproduce**
1. Create a sales rule and add a scheduled change. This will set the Expiration date to be the same date as the last date of your schedule. "This is good"
2. Make any edit after saving. Simply change the name, place an order, etc.. It will update.  It will update salesrule_coupon expiration_date to today's date.

**Expected result**
I would expect the exp

[2017-05-16 18:37] strattas commented on #9652
In case this helps anyone. The temporary solution I have implemented was I made a simple extension to just keep the expiration date as null.

![temporaryfix](https://cloud.githubusercontent.com/assets/2937064/26122355/0e257918-3a2c-11e7-9923-5fe841d3f03d.png)

[2017-05-16 18:54] ezprod commented on #7298
I believe in
catalog_category_entity_varchar

Varchar is limited to 255. It still utilizes this format for categories even though it breaks it into multiple cells as it reads the poles or commas in the import.

[2017-05-16 19:30] markoshust commented on #8569
This ticket should be reopened. This error still happens when attempting to install 2.1.6:

[code]

[2017-05-16 19:32] vrann commented on #8569
@markoshust 7.1 is not supported in 2.1.6, please see the link above

[2017-05-16 20:17] romeof1980 commented on #5836
OK! Let us know if it works with those settings.
It works fine for me on a shared env, resource shouldn't be an issue for you then

---- On Tue, 16 May 2017 18:44:46 +0200 notifications@github.com wrote ----

@romeof1980, thanks for helping. i am using 2 different server - both are root server, not shared. i have settings as you recommend - s. screenshot

—
You are receiving this because you were

[2017-05-16 20:56] Cassie2 commented on #9313
I have this issue with saving categories using version 2.1.6. The issue persists even after manually changing the URL.

[2017-05-16 21:22] orlangur commented on #5083
@misha-kotov can this issue and related PR https://github.com/magento/magento2/pull/5084 be closed then?

[2017-05-16 21:22] adrian-martinez-interactiv4 commented on #8554
Well, I'm been doing some research about this issue. I'll be explaining each point later, but long story short:

1. This issue is still happening at CE 2.1.6, but it seems to be already solved in develop branch.
2. Actually, issue described at PR #9560 is **not** the same as the one described here; it references an issue related to layout updates related with the cms page not being applied. This i

[2017-05-16 21:35] tsifra opened #9656 "Magento CE 2.1.6 several import / indexer problems"
I'm sure it's an indexer bug. After importing of 16 products only one is visible in third-level category.
If i navigate to second-level category (ancor property = true) i can see all products. They are all enabled, in-stock etc. Problem can be solved by two ways:
1. Go to backend-product-catalog and just enter to each product and click save button
2. Go to backend-product-categories and just click

[2017-05-16 21:50] tsifra commented on #9645
Hello, could you try my workarounds? #9656 with individual product re-save after import and what is more important category resave? Probably we've faced the same problem.

[2017-05-16 23:03] southerncomputer commented on #9634
You could use the elastic suite (GitHub) target_rules for ee 2.1 which uses percolation to fix this bug and improve performance!

[2017-05-16 23:18] Gamewalker opened #9658 "Reimport does not replace/update visibility"
### Preconditions
1. Magento 2.1.6
2. PHP 7.0.6 + 5.6.31 + Apache2

### Steps to reproduce
1. Import a set of data with visibility not "Not Visible Individually"
2. ReImport the data and set article to "Not Visible Individually"
3. Article visibility wont be updated (tested with replace and update)

### Expected result
1. Article should be "Not Visible Individually"

### Actual result
1. It stays

[2017-05-17 02:05] eInyzant commented on #8770
@cherreman yes in my case it was already set by Iazel\RegenProductUrl\Console\Command extension.

To help you tracking down this Exception, the quickest way is to add a debug_print_backtrace in the method setAreaCode.

In the file : Magento\Framework\App\State::setAreaCode (line 119 (Magento 2.1.6)

[code]

[2017-05-17 03:39] matin73 commented on #5836
@romeof1980 nppe - no changes. I have changed price and nothing changes in frontend. old price still shown on listview and product also shown in stock - in admin set to out of stock. s. screenshots.
![grafik](https://cloud.githubusercontent.com/assets/3177275/26137478/aae6bc4e-3ac2-11e7-99bf-b32a15c72573.png)
![grafik](https://cloud.githubusercontent.com/assets/3177275/26137534/04165108-3ac3-11e7-

[2017-05-17 06:03] yariksheptykin commented on #9648
I see! Alright, not an issue then.
Thought it was overseen.

[2017-05-17 06:03] #9648 closed, assigned to nobody

[2017-05-17 06:04] thomasnordkvist commented on #8777
I also agree that this is an issue.

I would like to take @erikhansen example one step further in that it should be pre set with the default billing address to avoid pushing the update button.

[2017-05-17 07:00] bondimedical3 opened #9659 "M2.1.6 upgrade images no longer visible in categories"
After upgrading 2.1.5 to 2.1.6 product images are no longer visible on category pages however they are visible on the product page?
The console log says the image is 404 not found?
![magento](https://cloud.githubusercontent.com/assets/10808588/26142072/4967b99a-3b22-11e7-8aec-ae4b345b7a5c.jpg)

[2017-05-17 07:04] hostep commented on #9659
This is expected behavior (unfortunately).

This is also a duplicate of https://github.com/magento/magento2/issues/9275 & https://github.com/magento/magento2/issues/9276

Please see this for more info and a possible workaround to be executed *before you upgrade* (highly experimental): https://github.com/baldwin-agency/magento2-module-magento-216-image-resize-migration-helper

[2017-05-17 07:13] craigcarnell commented on #8569
This needs to be resolved in 2.1 branch! Who knows how long 2.2 will take?

[2017-05-17 07:13] bondimedical3 commented on #9659
I have run the command:

magento catalog:images:resize

and the images have appeared.
You can close this.

[2017-05-17 07:20] hostep commented on #9659
@bondimedical3: please close yourself, I can't do that for you. (I'm not a Magento employee :))

[2017-05-17 07:39] bondimedical3 commented on #9659
Thank you for your valuable assistance.

[2017-05-17 07:39] #9659 closed, assigned to nobody

[2017-05-17 07:43] kanduvisla commented on #9651
So if I understand correctly, the only reason why some modules have interfaces for their factories is because those factories differ from the default Magento implementation, and if the auto-generated factories are good enough there is no need to create an interface for it?

[2017-05-17 07:53] PascalBrouwers commented on #4237
Any update on this? In my db I also see cron's scheduled ahead by 2 hours (because I am in GMT+2), but also executed ahead by 2 hours. Very confusing.

[2017-05-17 07:54] romeof1980 commented on #5836
Gruess Gott @matin73 ,
your last screenshot shows "use separate process -> no" on "Cron configuration options for group:index", please set it to YES.
Additionally, would you mind to log to mysql and run the following command?
SELECT * FROM cron_schedule
(if you use table prefixing add the prefix in front of _cron_schedule).
let see if your cron is stuck. it seems it does not reindex prices and sto

[2017-05-17 08:14] vlahakis commented on #9280
Some stats:
(size) (time to insert)
156.49KB  7.28s
 15.12KB  1.08s
 26.56KB  3.29s
  9.98KB  1.11s
  4.54KB  2.76s
 75.08KB  3.88s
 46.62KB  1.47s
 17.65KB  1.40s
  0.00KB  0.58s
  0.00KB  0.55s
  0.00KB  0.53s
  0.00KB  0.50s
  0.00KB  0.50s
  0.00KB  0.47s
  0.00KB  0.48s
  0.00KB  0.50s
  0.00KB  0.51s

[2017-05-17 08:31] matin73 commented on #5836
shure, crones are running ... "use separate process -> YES" was default setup - see firstscreenshot - same problem. s. screenshot of db. all success - problem still here. I thinks it is not an problem of cron.
![grafik](https://cloud.githubusercontent.com/assets/3177275/26145168/be1cb876-3aeb-11e7-8ccb-986993153be9.png)

[2017-05-17 08:33] niranjanleanswift commented on #9505
It is still existing the 2.1.6 version too

[2017-05-17 08:49] romeof1980 commented on #5836
hi @matin73 ,
I see from cron_schedule that between 2017-05-17 10-02 and 2017-05-17 11-30 no jobs were generated. At that time this morning you were hitting resources with some previous jobs that your system was trying to run (and in fact job 99575 and 99576 didn't run).
Hence, if you don't mind a last try, do as following:
1. set the cron every 2 minutes as per the 2 files I sent you in the previ

[2017-05-17 09:14] ihor-sviziev opened #9663 "Pull request reviewing priority"
Hi,
Right now I see that you trying to process faster new pull requests, they appearing in todo column at the top, hovewer older pull requests are waiting for a long time, and it's not meaning that these pull requests are less important. As good examples:
https://github.com/magento/magento2/pull/6324 - created in April 2016
https://github.com/magento/magento2/pull/7330 - created in November 2016
h

[2017-05-17 10:14] lfritsche commented on #5229
@andimov please reopen ticket, because renaming default attribute_set from "Default" to something else should not result in this exception.

I manually had to rename a Attribute Set to "Default" to proceed the bin/magento setup:upgrade process. Isn't there a possibility to allow renaming?

Thank you!

[2017-05-17 11:10] korostii commented on #9663
This may come as a shock, but issues get processed even slower than that.
Maybe you also need to create a pull request in order to bring any attention to the issue...

[2017-05-17 11:20] jsdupuis opened #9666 "Magento 2.1.6 - Invoice PDF doesn't support Thai"
### Preconditions
1. Magento CE 2.1.6

### Steps to reproduce
1. In the admin, go to Sales > Orders
2. Select one 'completed' order and select the action 'Print Invoices' (any of the Print... actions actually)

### Expected result
1. Be able to read Thai names and Thai adresses in Thai alphabet

### Actual result
1. Thai letters are replaced by squares. Thai baht currency symbol is also unreadable

[2017-05-17 11:25] nikolaybaychenko opened #9667 "Magento 2 Rest API, PUT catalog request doesn't work"
I am using Symfony application to send requests to Magento 2 Rest Api. When I send a PUT request to update a catalog, it doesn't change catalog information in Magento, but changes the name and other parameters except parentId on Symfony side.

Here is the code with request:

    public function updateCategory($id, $name, $parentId, $isActive = true)
    {
        $pageSuffix = "rest/V1/categories/

[2017-05-17 11:54] poochie2 commented on #5885
+1

[2017-05-17 12:00] orlangur commented on #4359
Composer version was bumped to stable one, but minimum stability is still alpha: https://github.com/magento/magento2/blob/develop/composer.json#L261 (maybe it's due to Zend Code 3.x or something?).

[2017-05-17 12:07] dankocherga opened #9668 "Extension attributes not working for customer address"
Setting an extension attribute for customer address won't assign it to object so it's not validated and saved to database correctly.

### Preconditions
1. Magento CE 2.1.5

### Steps to reproduce
**1. Setup extension attribute:**
_extension_attributes.xml_
[code]

**2. Save extension attribute**

[code]

### Expected result
At [this point](https://github.com/magento/magento2/blob/develop/app/code/

[2017-05-17 12:07] Bullparts opened #9669 "tax_class_id - update issue"
On a fresh install under magento 2.1.6,
it is impossible to update the tax_class_id attribute. for example if I have to change any data - front-end visible from yes to no, magento is unable to update the tax_class_id attribute - no message error display , ???
I have any issue with the other attribute.

[2017-05-17 12:08] tbrankaer commented on #9498
I'm having the same issue in 2.1.6. Any news about this yet? Does this fix work?
Thanks!

[2017-05-17 12:11] driskell commented on #9287
Having same issue too with RedHat 7, PHP 7, Redis configured. Sometimes I can run cache:flush and it sometimes won't work (possibly due to activity on site) and can take another attempt. I have a replica environment without Redis configured and it works flawlessly. Seems to be introduced since upgrading to 2.1.4 I think.

It's not an upgrade problem either. Every time we attempt to deploy any chan

[2017-05-17 12:13] ulftietze commented on #7679
Hey guys,

we have this bug in our System (Magento 2.1.2, PHP 7) too.
So i tried to figure out why this happens and stepped into the Magento Core.

During \Magento\Quote\Model\Quote->merge() Magento compares the quote items (to merge guest and customer quote) against each other.
The Problem in here is, that the two items on different steps:
1. Compare ProductIds against each other
2. Grep the opti

[2017-05-17 12:30] driskell commented on #9287
Oh wow.

Does static-content deployment now fork?

I'm seeing this. LOAD/LOAD FAILURE is from System.php. The rest is from Cm_Redis_Cache_Backend::load().

[code]

As you can see, there must be two processes running, and it seems the first process sends a hGet for 123_SYSTEM_DEFAULTWEB, then the other process, which is in System.php, sends a hGet for 123_SYSTEM_CACHE_EXISTS. Unfortunately, due to

[2017-05-17 12:33] driskell commented on #9287
This also explains the reason cache:flush works. It forces both forks to populate from database. It also explains it not working 100% of the time since if one fork too slow it could start loading from Redis. Also if there's activity on the site it could cause cache to be populated again.

[2017-05-17 12:34] driskell commented on #9287
Workaround for now which is deterministically safe:

[code]

The `-j 1` disables the parallel processing that must have been introduced in Magento 2.1.4 or thereabouts.

[2017-05-17 12:38] #6114 closed, assigned to maghamed

[2017-05-17 12:48] driskell commented on #9287
I think this is a lesson to always call exec after fork, especially in PHP. In any large program it's widely considered dangerous not to.

[2017-05-17 13:07] collymore commented on #7299
We're getting the same issue.
If logged in with a saved address then it fails with visible error message "cartId is a required field"

Steps to reproduce.

- LoggedIn user with full address saved
- Add product to cart and proceed to checkout

- Ajax POST request is made to
/rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id
Data : "addressId :"19"

- Ajax Response
- - 400 Bad Reque

[2017-05-17 13:11] sanjay-github opened #9671 "Unable to bind modal to elements added dynamically in DOM ."
### Preconditions

1. Magento CE 2.1.6

### Steps to reproduce

1. Use a Magento_Ui/js/modal/modal to bind click event with any element.
2. Now add a dynamic element say by ajax or any way you like.
3. The click event is not bound to the element which is possible if it considers parent class which is already there in the DOM.
4. Current solution is to override the modal.js and bind considering the

[2017-05-17 13:20] ktomk commented on #4359
@orlangur: Most likely this is a left-over and can be removed. I just gave it a try with a clean clone from develop, removing composer.lock and the minimum-stability setting and I did not run into any install problems. Maybe @hostep can provide another pair of eyes.

[2017-05-17 13:29] martynshanks commented on #6624
Really helpful, thank you. This fixed it for me on all pages but not on the Product Description Page.

[2017-05-17 13:35] markoshust commented on #8569
FYI here is the actual ticket to reference now: https://github.com/magento/magento2/issues/5701

I agree with @craigcarnell -- this is a bug/flaw and shouldn't wait for a major release. Considering the above ticket is almost a year old, and PHP 7.1 was released 6 months ago... what is taking so long here? This could be classified as a pretty urgent/security fix. The additional overhead we are seei

[2017-05-17 13:36] markoshust commented on #5701
What's the TAT on a release for PHP 7.1 compatibility?

[2017-05-17 13:53] sadeeshmca commented on #6671
This Magento 2 bug you can directy fix is changing file

File Path :vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php

Orginal Code:
-------------
 from

    protected function doReplace($urls)
    {
        foreach ($this->createFilterDataBasedOnUrls($urls) as $type => $urlData) {
            $urlData[UrlRewrite::ENTITY_TYPE] = $type;
            $this->deleteByData($urlData);

[2017-05-17 13:55] orlangur commented on #4359
I see... Planned to check by myself as well. Could you prepare a PR with regenerated `composer.lock` then?

[2017-05-17 13:56] sadeeshmca commented on #7298
This Magento 2 bug you can directy fix is changing file

File Path :vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php

Orginal Code:
-------------
 from

    protected function doReplace($urls)
    {
        foreach ($this->createFilterDataBasedOnUrls($urls) as $type => $urlData) {
            $urlData[UrlRewrite::ENTITY_TYPE] = $type;
            $this->deleteByData($urlData);

[2017-05-17 13:57] sadeeshmca commented on #4989
This Magento 2 bug you can directy fix is changing file

File Path :vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php

Orginal Code:
-------------
 from

    protected function doReplace($urls)
    {
        foreach ($this->createFilterDataBasedOnUrls($urls) as $type => $urlData) {
            $urlData[UrlRewrite::ENTITY_TYPE] = $type;
            $this->deleteByData($urlData);

[2017-05-17 13:57] sadeeshmca commented on #9290
This Magento 2 bug you can directy fix is changing file

File Path :vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php

Orginal Code:
-------------
 from

    protected function doReplace($urls)
    {
        foreach ($this->createFilterDataBasedOnUrls($urls) as $type => $urlData) {
            $urlData[UrlRewrite::ENTITY_TYPE] = $type;
            $this->deleteByData($urlData);

[2017-05-17 13:58] orlangur commented on #8569
Actually, not. Upstream Magento still uses `mcrypt` but suppresses notices so that system is still workable under PHP 7.1. This obviously will not work for PHP 7.2, where `mcrypt_*` functions are going to be removed, but is absolutely fine for now.

Maybe somebody from community is willing to backport such fix to 2.1?

[2017-05-17 14:00] orlangur commented on #4989
@sadeeshmca best way to put your patch for evaluation is submitting a PR ;)

[2017-05-17 14:01] BlitZ-UK commented on #1443
I'm getting this error too, guest checkout is disabled and checking out as a registered user.
It's trying to goto: /rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id
but that returns
"%fieldName is a required field."
`
"#0 /home/magento/public_html/vendor/magento/framework/Webapi/ServiceInputProcessor.php(131): Magento\Framework\Webapi\ServiceInputProcessor->processInputError(Arra

[2017-05-17 14:16] BlitZ-UK commented on #7299
I'm getting this error too, guest checkout is disabled and checking out as a registered user.
It's trying to goto: `/rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id`
Req payload:
`{addressId: "13"}`

but that returns
**"%fieldName is a required field."**

Stacktrace
`"#0 /home/magento/public_html/vendor/magento/framework/Webapi/ServiceInputProcessor.php(131): Magento\Framework\W

[2017-05-17 14:22] adragus-inviqa commented on #9287
Hi, @driskell. Nice find, but... care to elaborate on that for mortals, too? ELI5 like. What exec? What fork? Where's `System.php`? How did you get to this?
[code]

Thanks,
  The Curious One

[2017-05-17 14:22] ktomk commented on #4359
Sure I can do that, I have a test build running currently on Travis already and can use the composer.lock from my local install test.

[2017-05-17 15:12] pluckrose commented on #7592
Having the same issue, just spent an hour trying to figure out why until I googled and came across this.

[2017-05-17 15:19] maderlock commented on #3676
This "fix" would break the standard store switcher that replies on cookies overriding server settings. The standard approach is for the server to set a default store, and then your cookie determines whether a different store is used. So adding this to the core code might solve your situation, but it would break other people's sites, so it's unlikely to be done.

[2017-05-17 15:50] DanYNWA opened #9673 "Cannot revert changes made to url key for a product"
I made a change to a product's url key in the search engine optimization tab,
![image](https://cloud.githubusercontent.com/assets/11150436/26163254/0a24dc6e-3b21-11e7-9cd8-ddd4725a9a8a.png)

but when i remove the url and leave it blank it doesn't save the changes.

[2017-05-17 16:03] Tonop opened #9674 "Cant create/change attribute set different from default attribute set in bundle product"
### Preconditions

1. Magento: 2.1.6
PHP: 5.6.26
MySQL: 14.14 Distrib 5.7.15
2.

### Steps to reproduce

1. Create bundle product
2. Select attribute set different from default
3.

### Expected result

1. System set new attribute set

### Actual result

1. System shows progress bar and does not update attribute set
![bundle_01](https://cloud.githubusercontent.com/assets/2456408/26163936/d024cc46-3

[2017-05-17 16:13] orlangur commented on #9290
@sadeeshmca why to spam in a bunch of issues? ;) See https://github.com/magento/magento2/blob/develop/CONTRIBUTING.md

[2017-05-17 16:44] patrickdesroches commented on #9641
Hi

Found those slides from Imagine India

http://magentolive.com/in/wp-content/uploads/sites/6/2017/05/MLI-2017_BO-III_Technical_Powering-Tomorrow_2.2.pdf

2.2 is schedule for the end of July or August

Thanks

[2017-05-17 17:12] ghost opened #9675 "Giftcard Expiration date of year 2500 renders as year 2000 on Marketing > GiftCard Accounts > GiftCard"
When dynamically -or- manually creating a Giftcard and the expiration date is set to year 2500, Magento 2.1.3 EE renders the expiration date as year 2000 - and it will not let the given Giftcard to apply on the order during checkout.

### Steps to reproduce

1. Create Giftcard manually on Admin panel Marketing > Gift Card Accounts > Create Gift Card
2. Set the EXPIRATION DATE to any day in year 25

[2017-05-17 17:29] tsifra commented on #9656
More experiments gave more results. It looks like problem is not related to category. I've rolled back to db copy where category had all desired products and started to import new products one by one to database. Everything works fine it i do i step by step, but if i try to import many products 20-30 products from the category are gone. I've checked logs and they are clean. I've tried to increase

[2017-05-17 17:42] tsifra commented on #9656
One more strange thing. If i give csv with 3 lines for import (header + 2 products) it accepts it without any problem. But if i delete just one product line from csv i've imported earlier and try to import it throws error. csv realy doesn't have this column. But when there are 2 lies in file it's not a problem
`General system exception happened
Additional data: SQLSTATE[23000]: Integrity constrain

[2017-05-17 18:18] hostep commented on #4359
@ktomk: removing `"minimum-stability": "alpha"` is very good and gives no issues. Just tested this manually on the latest revision of the develop branch.
The PR looks perfectly fine.

Just a small hint: if you only want to update the composer.lock file's "metadata" (this is probably not the correct term), and not update all the dependencies to the latest versions, you can run: `composer update --l

[2017-05-17 18:42] tsifra opened #9676 "magento ce 2.1.6 catalog_category_product_index is not build right way (complete investigation available)"
This bug investigation started in #9656

Here are results. Similar products of category are imported the same way during one import. But they get different rows in catalog_category_product_index table.

here are rows from catalog_category_product
<table>
<tr>
<td>entity_id</td>
<td>category_id</td>
<td>product_id</td>
<td>position</td>
</tr>
<tr>
<td>5535</td>
<td>101</td>
<td>1948</td>
<td>1</td>

[2017-05-17 18:51] tsifra commented on #9645
I believe problem is localized. Please check #9676 Could you make the same check on your database?

[2017-05-17 18:54] andreymoskvenkov commented on #8554
:-D
Ok, continue adding new handlers for FPC, up to you!
I also don't see no reason in adding a new param to the request, until it was a core Magento approach how they build the final layout XML: thy phisically set this layout type into Layout object and then even Create some blocks from PHP code, if a layout type was set. That's why any other fixes, such as making CacheID unique, etc, does Not fi

[2017-05-17 19:27] s00071609 commented on #9676
You might want to run php bin/magento catalog:images:resize command. The store i was working on was showing broken image after installing magento 2.1.6. I rant this command and it seems to have fixed issues. But i am running compile and deploy at the moment. If you want you can check this multistore setting- if you find the image looks fine in these stores when you check run the command, else assu

[2017-05-17 19:34] tsifra commented on #9676
This issue not about images.

[2017-05-17 19:37] s00071609 commented on #9676
is this issue with product import only or all upgrades from previous versions to this version?

[2017-05-17 19:40] tsifra commented on #9676
This issue not about product import. Please check the first message. It's about category-proudct indexer

[2017-05-17 19:53] s00071609 commented on #9676
Ok hope someone provide you the answer soon. Did you use the patch CE-MAGETWO-67805.patch?

How do you install this patch? I uploaded it to public_hmtl and ran bash patch file name, but it does not seem to work. Is there any other command that would work its shared hosting environment

[2017-05-17 20:00] tsifra commented on #9676
I'm not affected by this problem.

[2017-05-17 20:52] #9656 closed, assigned to nobody

[2017-05-17 21:35] #7006 closed, assigned to nobody

[2017-05-17 21:51] ktomk commented on #4359
@hostep; Thanks for the feedback. You're right `update nothing` works with changed stability setting,. But the two updates it does are fine, too. Thank you, too!

[2017-05-18 04:21] atrixtech commented on #9554
@gsmoza KISS to my knowledge isn't a type of framework it's a general principal applied to everything from music creation to programming.  My client doesn't have simple functional needs either, he often has me program custom solutions to tailor fit his business needs because software for it doesn't exist or doesn't work how he'd like.  So for any ecommerce platform I will have to add custom featur

[2017-05-18 04:46] mariopacio commented on #5908
same problem here

[2017-05-18 06:12] popatkaran opened #9679 "Translation for layered navigation attribute option not working"
I am using Magento CE 2.1.6 and having multilingual structure of website. When I switch the store to Arabic language all text getting translated  but only attribute options in layered navigation is not translating.

### Preconditions
1. Magento CE 2.1.6
2. php 7.0.x

### Steps to reproduce
1. Open website with default store.
2. Switch website with store switcher or paste direct url of another stor

[2017-05-18 07:01] gediminaskv commented on #4945
Looking forward to 2.2 version...

[2017-05-18 07:54] tsifra commented on #2951
I'm on 2.1.6 i'm still not able to translate /catalogsearch/advanced/ page title. I think rewriting theme files is not right way for this.

[2017-05-18 08:17] gsomoza commented on #9554
Here's a recent article that I think is relevant to this discussion because it provides a different perspective / experience about Magento's flexible architecture:  [We Lanuched a Magento Site in 10 Days](https://magento.com/blog/customer-stories/we-launched-magento-site-10-days)

[2017-05-18 08:26] nagno commented on #6281
@roseofgold It is not working for us in any browser (even in a Vanilla Magento environment). It is still not working in 2.1.5.

Progress so far: we got one not working patch from the support team and another one, which was breaking the attribute set change functionality (you wasn't able to select an attribute set for new products as well).

[2017-05-18 08:27] tsifra commented on #9679
Hello, did you translate it in backend - store - attributes - [attr name]?
If - please read docs. And close the issue.

[2017-05-18 08:32] popatkaran commented on #9679
@tsifra  yes, I have already put translated text for the same.

I have found that if I flush cache using command after switching store translation works but, If i move back to English store attribute options remains in Arabic instead of English. This happens only for Layered navigation.

[2017-05-18 08:40] tsifra commented on #9679
My bad. Actually i didn't understand your problem right way. And translation of attribute was "hardcoded" by me to [atttribute] - Manage labels. Because i use only one language. Have no idea how to make different attribute labels for different languages. Maybe you have to create different stores with different labels and default languages?

[2017-05-18 08:42] popatkaran commented on #9679
Yes, I have multiple store which having different language as default. Store change and other front-end area are translating well but only layered navigation is causing an issue.

[2017-05-18 08:51] BB-000 commented on #7399
@erikhansen Unfortunately for me that fix works on desktop (popup) but breaks mobile (slide) modals...

[2017-05-18 09:08] miguelbalparda commented on #8554
@andreymoskvenkov can you clarify what "we have an internal patch" means? If you have a patch for this or other issues, would you kind sharing them for others to benefit? Thanks!

[2017-05-18 09:11] PascalBrouwers opened #9680 "Adding product configurations uses sku based name"
### Preconditions
1.  Magento 2.x

### Steps to reproduce
1. Create a configurable product with some configurations (simple products)
2. Use name 'NAME'
3. Use sku 'SKU'
4. Create configurations and Generate products

### Expected result
1. Name of the simple products should be based on the parent product

### Actual result
1. Name is based on the sku of the parent product
![image 2017-05-18 at 11

[2017-05-18 09:16] PascalBrouwers commented on #9680
If necessary I can also create a PR for the 2.1-develop branch

[2017-05-18 09:22] surfer190 commented on #4812
I think I have an update on this issue @BenSpace48. Sub products with more than 1 options actually do update. If the sub product only has a single option it does not update.

See the screenshot below:

![screenshot from 2017-05-18 11-21-03](https://cloud.githubusercontent.com/assets/3285222/26195468/36c18e20-3bbc-11e7-9d00-9726fa48404c.png)

[2017-05-18 09:30] leedave commented on #4547
Problem also occurs upon "forgotten password" feature.

It is really embarassing to run a Magento Shop, that can't handle logins from emails with a valid TLD. The solutions here all seem to involve core hacks or changes of the composer structure given by Magento. These changes bring to many risks. I can't see the benefit of using ZEND to validate here. PHP has a perfect feature built in to validat

[2017-05-18 09:32] primalspace commented on #9498
Experiencing this same problem. Upgraded from 2.1.5 to 2.1.6 and when we click the flush images button in System > Cache Management the pub/media/catalog/product/cache folder is deleted and not re-generated. Thus images disappear. The bin/magento catalog:images:resize command fixes the issue. Although takes an age to run on our 4000 products in this particular store! So by no means a solution. Pro

[2017-05-18 09:41] PascalBrouwers commented on #9073
Same problem here. I tried the workaround explained here: https://github.com/magento/magento2/issues/2056#issuecomment-181769248

[2017-05-18 09:45] PascalBrouwers commented on #7862
Hmm, even after running the commands seperate I sometimes get that the js-translation.json contains an empty array.

[2017-05-18 09:47] andreymoskvenkov commented on #8554
It meas, that I have fixed this issue and wrapped it up as a separate module. However as I said earlier, I won't share it. Magento Community has helped me to find the root cause of the issue and that's wy I was able to fix it. That's why I want to thank the community for this and share the root cause of it. However I will not share the fix, because if after my notes you cannot fix the issue like I

[2017-05-18 09:53] BenSpace48 commented on #4812
Interesting, thanks for the info. What version are you running?

[2017-05-18 09:58] quisse commented on #7874
Any update on this?

[2017-05-18 10:00] PascalBrouwers commented on #7862
Removing the file js-translation.json and running bin/magento setup:static-content:deploy nl_NL did the trick to get the translations back.

Note that I do not have theme translations and thus not experiencing issues other people run into that they have to change vendor/magento/module-translation/Model/Json/PreProcessor.php

[2017-05-18 10:03] matthewhaworth opened #9682 "State label is inconsistent with state code on status listing page"
### Preconditions
1. Install Magento 2.1.6
2. Install sample data

### Steps to reproduce

1. Login to the admin panel
2. Navigate to Stores -> Order Status

### Expected result

The states in the "State Code and Title" should have the correct title in the square brackets afterwards, for example processing[Processing].

### Actual result

Each status code in the 'State Code and Title' has the inco

[2017-05-18 10:04] WlodzimierzPal opened #9683 "Choosing colours and versions, product grouping - Magento 2"
How to set if the product has several colors it displays in all colors on the listing but also when hovering on the product to show what the other versions of the product? Just like a screenshot
![zrzut ekranu 2017-05-18 o 10 02 59](https://cloud.githubusercontent.com/assets/28779212/26197332/1dd760be-3bc2-11e7-8b22-982fac5fad4a.png)

[2017-05-18 10:13] driskell commented on #9287
Apologies. I did rush through to find a solution and didn't spend the time to explain clearly. I'll try my best to detail everything I found.

I was randomly receiving the following error like others:
[code]

My investigation started by inserting old school I-Dont-Know-What-A-Debugger-Is style `error_log` lines into this file around the cache loads: `LOAD: [cache-entry]` and then checking if the r

[2017-05-18 10:35] wigman opened #9684 "No ACL set for integrations"
It's currently not possible to set access to Integrations (API access) for Admin roles. They are only available when *Role Resources* is set to *all*

### Preconditions
1. install any version of Magento 2 (up till 2.1.6)

### Steps to reproduce
1. create admin role
2. set custom role resources
3. select all resources
4. add a user to the role
5. login as this user
6. search for 'System > Extention

[2017-05-18 10:41] miguelbalparda commented on #8554
That is not how any of this works.
If you really think you are setting the bar high let me tell you that you are doing the complete opposite, leaving a bug open because you think people should be "smart" like you to fix it. This is how you make a community weaker because you say if anyone is not as good as you it should not participate at all and that is completely false. But hey, this is OSS and

[2017-05-18 11:00] adragus-inviqa commented on #8554
I thought it was about NDA. Now it's about some nietzschean hard-core exercise of the soul.

Fix the bug already, you useless M2 developers! :trollface:

[2017-05-18 11:02] adragus-inviqa commented on #9287
Yes, that's enough detail. Lemme get my popcorn, though. And thank you very much for your time explaining.

[2017-05-18 11:43] neil-jennings commented on #8742
Having this issue as well

[2017-05-18 12:09] erikhansen commented on #7399
@BB-000 Yeah, we discovered some issues with the code I posted previously and have since refactored and moved the code into a standalone extension called ClassyLlama_ModalEnhancements. I've attached it to this comment. Use at your own risk.

[ClassyLlama_ModalEnhancements.zip](https://github.com/magento/magento2/files/1010785/ClassyLlama_ModalEnhancements.zip)

[2017-05-18 12:23] renttek commented on #8554
@andreymoskvenkov so why not just create a shop-system yourself instead of using magento? maybe it would strengthen your coding skills. just using a already existing solution won't improve this. if you can't create s solution from scratch with all these projects to look on, maybe you are useless as php specialist ;) /trollmode off

[2017-05-18 12:35] andreymoskvenkov commented on #8554
Tell me please, how the ready-to-use fix will make personally you stronger?

[2017-05-18 12:45] mikeymike commented on #8554
@andreymoskvenkov ... Please tell me how using Magento makes you personally stronger, here's an exercise, build your own completely bug free platform and leave the Magento community to grow without such negativity...

[2017-05-18 12:52] andreymoskvenkov commented on #8554
We are not talking about me right now.

[2017-05-18 12:54] renttek commented on #8554
if one could see and read the fix, one can learn from it, trying to understand what the problem was and how the solution was build. For me thats a giant part of OSS. If you have a patch and don't want to share it, okay, go your way, but please don't brag (it's nothing more to me) about it.

(And yes, it is about you, since you were implying, that you are good and if one can't do one thing you can,

[2017-05-18 12:58] andreymoskvenkov commented on #8554
...or just take and apply the fix without getting knowledge from it. So the probability, that you will get knowledge and will become stronger is: maybe 50%.
But if you debug and fix it by yourself, you will 100% get stronger.

[2017-05-18 13:14] AydinHassan commented on #8554
@andreymoskvenkov you might want to tone down the sanctimonious attitude and refrain from belittling fellow developers. To insinuate that a developer should solve every problem himself to increase his ability is ridiculous - one might argue that time and effort spent solving higher level problems is a more efficient use of time.

[2017-05-18 13:19] andreymoskvenkov commented on #8554
This is the most difficult problem. Solving this problem by yourself, you will become a God in Magento :)

[2017-05-18 13:20] renttek commented on #8554
So you're a god now?

[2017-05-18 13:20] andreymoskvenkov commented on #8554
Yes.

[2017-05-18 13:30] ahofstetter commented on #8554
I can verify, Andre is a magento god

[2017-05-18 13:35] lexbeelen commented on #8554
@andreymoskvenkov No, you're a narcissistic idiot.

[2017-05-18 13:41] fabianPas commented on #8554
A proprietary patch? When will this land in Magento EE? :trollface:

[2017-05-18 13:45] maksek commented on #8554
The thread was cleaned from not-related to issue comments. Please refrain from negative messaging and be respectful to each other.

[2017-05-18 13:54] Ash-Radwan commented on #6683
Any update on when a patch for CE will be available?

[2017-05-18 13:56] klein0r opened #9685 "Just display "saveable" Attributes in Customer Admin Form"
### Preconditions
1. Install Magento 2.1.6
3. Create a new customer attribute without adding it to any attribute set or attribute group programatically

### Steps to reproduce
1. Create a new customer or edit an existing one
2. You will see your new attribute (which is NOT saveable because it can't be extracted in post request)

### Expected result
1. You shouldn't see the attribute unless you add

[2017-05-18 13:57] Datalink-Wouter commented on #6683
@Ash-Radwan
I used the module that robbanl created: https://github.com/codepeak/magento2-productfix
You can always give it a try.
Works great for me with Magento 2.1.4

[2017-05-18 14:29] Nognilk opened #9687 "Requested product doesn't exist when saving a new or existing configurable product"
### Preconditions
1. Magento 2.1.3
2. PHP 5.6.30
3. mySQL 5.6.35

### Steps to reproduce
1. add configurable product
2. add configurations
3. save

### Expected result

1. a configurable product is saved
2. the product configurations are saved as simple products

### Actual result

1. error message "Requested product doesn't exist"
![image](https://cloud.githubusercontent.com/assets/28784801/26207

[2017-05-18 14:39] ooples opened #9688 "SSL: Handshake timed out Failed to enable crypto failed to open stream: operation failed"
All of a sudden I started receiving these errors below when running composer update and I have no clue what is wrong. I ran commands using openssl to connect with repo.magento.com and they worked just fine so I'm completely lost

[2017-05-18 14:47] gsomoza commented on #9688
Do you have the same error when you try this from your local environment?

[2017-05-18 14:48] orlangur commented on #4547
`filter_var` is obviously a bigger evil as it even does not follow any RFC completely :) The best alternative I see currently is described [here](https://github.com/magento/magento2/issues/4547#issuecomment-285635784).

[2017-05-18 14:53] ooples commented on #9688
I don't have a local environment with a magento installation to test it on

[2017-05-18 15:06] gsomoza commented on #9688
You could set one up quite easily using the Magento [DevBox](http://devdocs.magento.com/guides/v2.1/install-gde/docker/docker-over.html).

The reason I asked is to discard the possibility of this being an issue with your server or network.

[2017-05-18 15:52] neil-jennings commented on #8742
Done a hacky fix for now which seems to work.
Find the function addAttribute() in file module-eav/Model/Entity/AbstractEntity.php

And change the line:
$this->_attributesByCode[$attributeCode] = $attribute;

To:
if (!array_key_exists($attributeCode, $this->_attributesByCode)) {
    $this->_attributesByCode[$attributeCode] = $attribute;
}

[2017-05-18 16:06] ooples commented on #9688
It runs just fine on my other server so it must be a server issue then

[2017-05-18 16:14] ooples opened #9689 "Save & Duplicate Completely Messes Up The Product Url"
I usually use the save & duplicate option and I have noticed that whenever I do that it always uses the url from the first product I created and then I will create other products by changing the product name and maybe another option and every url will be the exact same with a different number at the end and I don't know how to fix this or if this is a known issue with magento 2.1.6

Example:

I st

[2017-05-18 16:15] #9688 closed, assigned to nobody

[2017-05-18 16:57] vlahakis commented on #9280
I changed a few things in catalog:images:resize to get some stats on the resizing algorithm and it turns out has a rather poor performance (using ImageMagick in hope of performance boost)...

http://undefined.gr/site/2017/05/18/magento-catalogimagesresize-stats-and-memory/

Current state of affairs on this says that with ~16000 and an average time per product over 4-5 secs I am looking at days for

[2017-05-18 18:04] hostep commented on #9280
@vlahakis: you can find some hints about improving performance of `catalog:image:resize` over here: https://github.com/magento/magento2/issues/8145

Also: take a look at your theme's view.xml file, and configure all the image dimensions of image types you don't use in the frontend, to the exact same dimension (we put it at 16x16), this makes the `catalog:image:resize` command to create many fewer

[2017-05-18 18:08] vlahakis commented on #9280
Thank you @hostep, did read that post but wasn't keen on changing core Magento sources. Will review the image sizes on the theme as well (using luma for now).

[2017-05-18 18:46] vlahakis commented on #9280
Tried applying the Image.php suggestion from your last comment but it appears that it completely bumped the resizing benchmarks. Rolled back to as it was (2.1.6)

https://github.com/magento/magento2/issues/8145#issuecomment-298870488

[2017-05-18 18:51] atrixtech commented on #9554
Ok here's my comments on that link:
1) "This was the project that Yitz had been preparing for since the launch of Magento 2. For a whole year, he and his 35-person team had learned the platform from the ground up."  -- This is pretty ridiculous not just the 35 person team but preparing an entire year how many man hours and money did that cost?

2) "Essentially, Web Solutions NYC had built a ready-

[2017-05-18 19:17] charmeleon-zz opened #9691 "Visa cards with 13 or 19 digits are not working with authorize.net Magento 2.1.6 CE"
We are using magento 2.1.6 CE as a web store and we are using authorize.net for payment processing and configured a sandbox account. While testing using the [authorize.net testing guide](https://developer.authorize.net/hello_world/testing_guide/) using test card number `4012888818888` the frontend validation says that the card number is invalid.

### Steps to reproduce

1. Go to the payment step o

[2017-05-18 19:26] hostep commented on #9554
@gsomoza, sorry for this not being on topic, but checking the html code of http://www.jomashop.com/, I see a Magento 1 shop, not a Magento 2 shop. Maybe the client decided after 10 days that the M2 version wasn't stable enough and reverted to their old shop? :p (sorry, just thought this was funny to share).

If you want some more realistic numbers:
- We launched 5 Magento 2 shops in a timeframe of

[2017-05-18 19:41] hostep commented on #9280
Ok, that's really strange, there is nothing in that code which makes the process slower, it should at least be as "fast" as a stock 2.1.6 installation and normally a lot faster.

[2017-05-18 19:49] sv63rus commented on #2368
I confirm, is still present in 2.1.5. Let's create the module itself correct? Magento Developers  apparently do not want to fix it ever. ))

[2017-05-18 19:49] sv63rus commented on #5792
I confirm, is still present in 2.1.5. Let's create the module itself correct? Magento Developers apparently do not want to fix it ever. ))

[2017-05-18 20:00] ChristianWalker19 commented on #4876
I am having the same issue wiht Magento 2.1.5. Has this been troubleshot yet?

[2017-05-18 20:09] sv63rus commented on #2368
I confirm, is still present in 2.1.5.

I do not know exactly how to reproduce it, but the fact is that the renamed categories in the urlrievrite table still have old records. As it turned out that the two categories had the same urlkey

[2017-05-18 20:11] JTimNolan commented on #6718
For everybody still seeing this issue, I believe the reason is because it was pushed onto a branch for 2.2. I just submitted a PR to port the fix back to 2.1-develop. If you can't wait for it to come as an update you can take a look at the code here: https://github.com/magento/magento2/pull/9692/files . Note that I am not an experienced contributor to Magento so YMMV. Review and use at your own ri

[2017-05-18 20:21] vanloc0301 commented on #9641
Thanks @patrickdesroches

[2017-05-18 20:21] #9641 closed, assigned to nobody

[2017-05-18 20:49] vrann commented on #8264
In order to make the complete fix next cases should be supported:

|#|redirect|behaviour|
|---|---|---|
|1|"test" => "contact"|http://magento.loc/test/ => http://magento.loc/contact|
|2|"test" => "contact"|http://magento.loc/test => http://magento.loc/contact|
|3|"test/" => "contact/"|http://magento.loc/test/ => http://magento.loc/contact/|
|4|"test/" => "contact/"|http://magento.loc/test => http:

[2017-05-18 21:30] kozmikyak commented on #9633
I can verify that the same thing happens (500 error on using the web wizard) with PHP 7.0.18 on Centos 7, and the latest install of Magento (from 2 days ago) in mod_php mode.

[2017-05-18 21:52] careys7 opened #9693 "Error using store-scope attribute values to create configurable product links via REST API"
### Preconditions

1. Magento 2.1.6

### Steps to reproduce

1. Create a store-scope attribute via admin
2. Add a store scope attribute value for the product via REST API
2. Use attribute to create a configurable product option via REST API at store scope
3. Attempt to assign a configurable product link to from a configurable product to a simple SKU via REST API (at store scope)

### Expected resu

[2017-05-18 21:57] jantzenw opened #9694 "Upgrade scripts disable foreign key checks"
`Magento\Framework\DB\Adapter\Pdo\Mysql::startSetup` is disabling foreign key checks, causing deletions in upgrade scripts to not propagate. This behavior was introduced in Magento CE 1.6 (August 2011) and should be revisited.

### Preconditions

Magento CE 2.1.6 for below example, but the behavior seems to have existed since Magento CE 1.6+.

### Steps to reproduce
This can be reproduced with del

[2017-05-18 22:06] gsomoza commented on #9554
@hostep the website that was built was https://www.worldofwatches.com. The numbers you shared look good too: every project is different.

@atrixtech I'm happy just offering my perspective, I don't expect to reach a concensus.

[2017-05-18 23:32] roseofgold commented on #6281
@nagno Updating to 2.1.6 broke it all browsers and all environments. I believe this issue should not be closed.

[2017-05-19 00:38] aaronware commented on #8115
For everyone having this issue @TommyKolkman @webspeaks @bendraxguy @kayintveen etc be sure to check out Stores -> Configuration -> Sales -> Tax -> Default Tax Destination Calculation and remove the asterisk from the zip/postal code.

[2017-05-19 03:52] lxgiang90 commented on #7724
Thanks you very very much. Code working ! @ktruehl

[2017-05-19 05:22] jimul commented on #5792
I have dirty workaround to fix this issue.

Under classs Magento\UrlRewrite\Model\Storage\DbStorage function doReplace, filtered duplicate urls for stores., Replace function doReplace with below code.

protected function doReplace($urls)
    {
        foreach ($this->createFilterDataBasedOnUrls($urls) as $type => $urlData) {
            $urlData[UrlRewrite::ENTITY_TYPE] = $type;
            $this-

[2017-05-19 06:02] orlangur commented on #5792
@jimul,

It will make some products/categories inaccessible in some stores (having URLs like `/category/view/123` instead of SEO-friendly ones).

[2017-05-19 06:28] jimul commented on #5792
@orlangur,

Request path should be unique per store so I think it will also work in case of non SEO friendly URL's as well, but not sure, need to try once.

[2017-05-19 06:35] quisse commented on #3650
Any update on this?

[2017-05-19 07:24] priyanjali27 commented on #6158
MAGETWO-57146 is still open. Fax is not getting saved. Please help

[2017-05-19 08:23] maderlock opened #9695 "x-magento-vary and store cookie mismatch can cause a varnish multi-store cache collision"
### Preconditions

1. Magento 2.1.5 with php7.1
2. Multi-store setup switched using cookies rather than different subdomains

### Steps to reproduce

1. Visit a page and switch to a non-default store
2. Clear out store cookie
3. Clear varnish for page
4. Refresh page
5. Try to switch to non-default store

### Expected result

1. On refresh you'll see the default store (as no store cookie set)
2. W

[2017-05-19 08:29] DogSports commented on #3759
We must wait for version 2.2 (release planned this summer).

[2017-05-19 09:13] TamasJozsefSzabo opened #9696 "Default currency symbol shows different values in admin and on front end"
In admin, on the Stores > Currency Symbols page the default currency symbol for Canda is "CA$" and the "Use standard" check box is checked. If I uncheck the box and enter a different value for the currency symbol (and save my changes and clear the cache), my change is reflected on the front end. If however I want to use the standard/default value and enter "CA$" (or just simply check the "use stan

[2017-05-19 09:41] YPyltiai commented on #9691
Hi @charmeleon,

Thank you for indicating this. I was looking for an official confirmation that these 13 and 19-digit cards are really in use now but I was not able to find a relevant reference.

I have contacted VISA representatives, so if we get the confirmation from their side - we will create an internal ticket to address this issue. I will keep you updated.

Thank you!

[2017-05-19 09:42] niranjanleanswift commented on #3503
There is a workaround you can do for the messages go away since the messages are stored in the session and sometimes the messages are not cleared from the session this cause the cookies retrieve the values from the session. Hence we need to clear the session values which stores the messages.

I have created the plugin to delete the session from the message manager for this operation, we need two f

[2017-05-19 10:02] sasilinux opened #9698 "After upgrading from magento 2.1.1 to magento 2.1.6 image resize error occurs"
### Preconditions

1.  Run the following command through putty. php bin/magento catalog:images:resize
2.

### Steps to reproduce

1. After run the php bin/magento catalog:images:resize
2. Got the following error ...Notice: getimagesize(): Read error! in /var/www/html/vendor/magento/module-catalog/Model/Product/Image.php on line 452
3.

### Expected result

1.  Images have to resize accordingly

##

[2017-05-19 10:04] laojihub commented on #815
max_execution_time = 18000

Thanks

[2017-05-19 10:31] orlangur commented on #5792
Yes it should, but if you have a collision for some store with such patch you will just ignore one of the products.

Let's say we have Product1 with ID=1, URL Key="test" and merchant changes Product2 with ID=2 so that URL Key = "test".

*Before patch*
Merchant observes error, fixes URL Key and have both products properly accessible.

*After patch*
No error occurs, Product1 is properly accessible w

[2017-05-19 10:46] jimul commented on #5792
What I observed is $data contains request_path(without category url) multiple times for same product, same store, because products was assigned under multiple categories. I had total 48 products under the category for which this issue was occurring. After applied this change and saved category, I have confirmed all 48 products have a proper urls in url_rewrite table.

[2017-05-19 10:47] iancassidyweb commented on #9275
A little bit late to this one but we've just published a post on this here, hopefully it helps out.
http://bit.ly/2ryHXnI

[2017-05-19 11:36] YPyltiai commented on #9639
Hello, @tomasinchoo,

Thank you for bringing this to our attention. I have created the internal ticket `MAGETWO-69340` to address this issue.

Please note, we are not going to implement the separate configuration for Braintree, as we need the locale to remain consistent across the entire Magento instance. The appropriate mapping will be added for Braintree, so any not supported locales will be rep

[2017-05-19 11:57] YPyltiai commented on #9698
Hello, @sasilinux,

Please see if this may help you: [Image Resize Issue with Magento version 2.1.6](http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_216-imageresize.html)

[2017-05-19 11:58] klein0r opened #9699 "When using payment methods with frontend event, just the buttons are removed"
### Preconditions
1. Magento 2.1.6

### Steps to reproduce
1. Enable some payment methods in backend configuration
2. Create a new module with **frontend** observer (payment_method_is_active) to filter the active methods
3. Disable every payment method in the observer with the result object (is_available => false)

[code]

### Expected result
1. No payment method will be displayed in checkout

###

[2017-05-19 12:43] kaseyfurlong opened #9700 "Check out error: Internal Error. Details are available in Magento log file. Report ID: webapi-591ed1dd4a440"
### Preconditions

1 Magent0 2.0.
2.

### Steps to reproduce

1. Add item to cart
2. Navigate to check out
3. Error appears immediately upon arriving at the checkout page.

### Expected result

1. No error should display.  You should be able to enter your information and proceed to review and payment.

### Actual result

1. Unable to proceed.  No shipping methods display.
![api error](https://clou

[2017-05-19 12:44] jworthy89 commented on #8921
Fix from @antbates1991 works great. Thanks for the fix.

[2017-05-19 12:56] rhoerr commented on #8188
Related issue: https://github.com/magento/magento2/issues/3525

[2017-05-19 14:28] korostii commented on #9683
The GitHub issue tracker is intended for tracking technical issues (read: "bugs") only.
If you are looking for an advice please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/).

[2017-05-19 14:34] korostii commented on #9684
Possible duplicate of #7146, #5803, #9337, #9312 and who knows how many more similar issue reports =|

[2017-05-19 14:37] erfanimani commented on #9554
Although launching a project in 10 days isn't by any means a good thing. Clearly they were under pressure and their SEO tanked:

![image](https://cloud.githubusercontent.com/assets/930470/26252765/bbf6a8f0-3ce3-11e7-8e0f-2fe7ccc02990.png)

[2017-05-19 15:00] unifiedarts commented on #5632
@jwittorf which magento version do you use, i tried the fix mentioned and i cannot get working

[2017-05-19 15:09] korostii commented on #3759
@DogSports, How is it a good idea to wait for a backwards-incompatible new version in order to acquire a bugfix?
The right solution would be to have the fix ported to the 2.1.x as well, and there's couple ways you could speed it up if you'd like to see the fix released sooner rather than later:
a) create a pull request pointing at 2.1-develop as described [here](https://community.magento.com/t5/Ma

[2017-05-19 15:17] maderlock commented on #9695
In order to fix this, I've added a check to Magento\Framework\App\Response\Http in sendVary to check that the X-Magento-Vary cookie matches the calculated vary string. If it doesn't match then it sends no-cache headers to ensure that varnish does not cache the page this time.

I've done this by a plugin to the class with the following contents:

    <?php

    namespace Me\MagentoFixes\Plugin\Fram

[2017-05-19 15:17] aj45f36gf commented on #9554
If you find Magneto too hard, try Shopify.

Seriously could someone delete this thread?

After 20 years of using and contributing to open source projects there is enviably some people that whine and complain because the project is "too hard" for them. Maybe you should try going back to school or spend some more time learning the project and **CONTRIBUTE.**

There are plenty of companies that offer

[2017-05-19 15:18] maderlock commented on #9695
I'm not sure if we should be using setPrivateHeaders($ttl) instead of setNoCacheHeaders(), as I found that I had to edit sub vcl_fetch in the varnish default.vcl to add the following:

    # Temporarily do not cache pages marked as no-cache
    } elsif (beresp.http.Cache-Control ~ "no-cache") {
        set beresp.ttl = 0s;
        return (hit_for_pass);
    }

Without this the no-cache was being i

[2017-05-19 15:24] korostii commented on #9700
Well? Did you read it? What does it say?

The actual error report contains additional information about the issue, which is vital for troubleshooting purposes. Please attach its contents to the issue.

You should be able to find the corresponding error report inside the following folder: `<Your Magento2 Installation directory>/var/report/api/`

[2017-05-19 16:09] korostii commented on #9554
@aj45f36gf, well, hello to you, too.

Oh wow, you're actually suggesting censorship because you cannot comprehend people having a discussion? If that's the case, please delete your comment along with your GitHub account, its also taking up some precious invaluable space and now it's even taking my time.

It's not whining if you're expressing valid concerns.
Let's be clear about that: Magento2 stil

[2017-05-19 16:32] hezide commented on #7443
I have the same issue on magento 2.1.6.
This ticket is since Nov 2016, what's the status of the issue?

[2017-05-19 17:00] aj45f36gf commented on #9554
Not so clear.

[2017-05-19 17:27] leandrosunrise commented on #5519
@peterhirn patch fixed my Issue is this going to be pushed on the next release of magento?

[2017-05-19 17:37] peterhirn commented on #5519
@leandrosunrise as this is just an extended hack based on the patch from @hostep I think someone more familiar with the code should check this and create a pull request.

[2017-05-19 18:16] hostep commented on #9679
We ran into the same problem today after upgrading from Magento 2.1.5 to 2.1.6.
This is a new bug introduced in 2.1.6 by this commit: 67b5ff7

It's because the wrong `storeId` is being used in the `cacheKey`, because the `storeResolver->getCurrentStoreId()` isn't always returning the current store id.

I'm currently working on a PR which will fix this.

[2017-05-19 18:16] atsareva opened #9703 "Cart Price Rule doesn't work with 'Shipping Country' condition"
**Preconditions:**

Install Magento 2.2.0
Magento 2.4-develop EE

**Steps to reproduce:**

1. Go to **Marketing* -> *Cart Price Rules**
1. Create a coupon code. (see attachments: **CartRuleAdmin*1.png*,*CartRuleAdmin*2.png*) The main issue to set '*Shipping Country*' (e.g Germany) in the *Conditions tab**.
1. Add product and go to shopping cart
1. Try to apply coupon code.(see attachment: **Shoppi

[2017-05-19 19:09] lfritsche opened #9705 "Extension/Module language i18n fallback doesn't work <theme>/3rdParty_Extension/i18n/..."
### Preconditions

1. Magento 2.1.6
2. Php 7.0

### Steps to reproduce

1. Normally it is possible to overwrite view files of Magento modules and 3rd party extension by placing the corresponding file within the own theme under Module_Name/ or Extension_Name/
2. This works for all /layout /web /template files, but in my case not for /i18n language files.
3. I want to add a german de_DE.csv language

[2017-05-19 20:23] ktomk commented on #3248
Just in late review, we fixed the related issue as well (/cc @astorm).

@mc388: I think we're green here since about a year and this can be closed, right?

[2017-05-19 20:32] george-vlahakis opened #9706 "Memory issue when updating category name"
Memory allocation failure

### Preconditions
Magento 2.1.6 CE
MySQL 5.6.35
PHP 7.0.15 (with mem limit = -1)

Two store (two languages) website.
~16.000 products
~160.000 customers
~800 categories

### Steps to reproduce
Go to category (2nd store) and change the name.
Do Save.

### Expected result
Save to work.

### Actual result
Memory drained completely

Looking at the mysql general it seems that

[2017-05-19 20:37] christopher-s commented on #6671
@sadeeshmca Unfortunately, your code for the "doReplace" method doesn't work for me.
I do a full product import and still receive the dreaded error.

@atultechelogy Any updates on this? This is a critical bug and causing no end of contention with my client.

[2017-05-19 20:42] kevingreek commented on #9069
It worked for me , thanks ThakurPradeep

[2017-05-19 20:52] vlahakis commented on #9706
**UPDATE**:

Switched to PHP 5.6.30 and the memory issue seems to have gone away.

Now need to figure out why the db thrashing for a name change. This particular task took over 10 mins to complete at the root category. It has two sub-categories with 15.000 products each (one for the product tree and one for the brands tree).

[2017-05-19 20:57] martinhetschel opened #9707 "Search Synonyms still not working on a fresh 2.1.6 installation."
### Preconditions
1. Magento CE 2.1.5 / 6 / 7 without sample data is installed. No customization or custom modules.
2. Created Simple Product with Name "testprodukt" ("k")
3. Created Search Synonyms Group "testproduct,testprodukt,tstproduct"

### Steps to reproduce
Type "testproduct" ("c") in search box, click search icon

### Actual result
Actual result: "Your search returned no Results."

### Ex

[2017-05-19 22:41] mariopacio commented on #2504
@iget-esoares nice solution! Same problem.
@magenx @mazhalai Please reconsider this solution

[2017-05-20 00:14] vlahakis commented on #9706
**UPDATE:**

Still causing a memory drain even with 5.6.30. Previous success was due to making a change at different level on the category tree.

[2017-05-20 01:43] dxhiep commented on #2913
Hi @koenner01. I'm using your patch and it's work fine if is the first time. after save that and back to edit widget. The widget has shown conditions. but if you change conditions. The conditions not store. Please help me.

[2017-05-20 03:59] vlahakis commented on #9706
From what I have traced this far.

`UrlRewriteHandler:getCategoryProductsUrlRewrites`

This guy for a category with **350** products selects and builds **5079** productUrls.
The reasoning behind this is that those 350 products belong to multiple categories and a new url needs to be built for each category per product (and per store I think).

If I was to make the assumption the rest of the store c

[2017-05-20 05:02] sanjayjethva commented on #5873
I am facing the same issue in Magento 2.1.6
Let me know if any one has a better solution.
Thanks

[2017-05-20 05:35] vlahakis commented on #9706
Solution (for now) is to pass the UrlPersistInterface instance from CategoryProcessUrlRewriteSavingObserver to UrlRewriteHandler so that he can use it to persist to database after each category call. This avoid merging arrays to rollup to do one call. Not sharing my code as it is pretty simple solution and I don't think my coding standards will be appreciated. :)

[2017-05-20 05:48] george-vlahakis opened #9708 "REST API insert doesn't check generated url_key length"
When using REST API to insert entities the generated url_key doesn't seem to keep track of the generated request path in url_rewrites. This, on long paths, will generate duplicate keys when, for example, doing a sub-category name change from Admin. Pretty sure the problem lies with products.

### Preconditions
1. Magento 2.1.6
2. REST API

### Steps to reproduce
1. POST to categories catalog a set

[2017-05-20 06:02] nltheme opened #9709 "Magento 2.x all version allow register customer to as guest checkout ."
how to reproduce.

1. logged out
2. add product to cart
3. go to checkout and add email (already registered email) and click on first name . it will open password field .
4. now if u refresh page then it's consider that email as not register and allowing u to place order as guest!!!!!

[2017-05-20 09:06] bhargavmehta commented on #9698
To Apply the patch use command

git patch MAGETWO-67805.patch

[2017-05-20 09:44] kaurg2516 opened #9710 "Blank Checkout Page in Magento 2.1.4"
I am having issue with magento checkout and cart page, everything is working fine but when i add product to cart and click on view cart it shows balnk page. After adding this"ini_set('display_errors', 1);" line of code in index.php it shows this error:
 "Fatal error: Cannot instantiate interface Magento\Vault\Api\Data\PaymentTokenInterfaceFactory in /home/costore/public_html/magento2/vendor/magent

[2017-05-20 09:47] kaurg2516 commented on #5908
i am having the same issue with checkjout page. Kindly visit the url to know what exactly my issue is
 https://github.com/magento/magento2/issues/9710

[2017-05-20 09:57] okorshenko commented on #7827
Please, look at:
237e54d79c70d8954f16556a3a8195a8b7b6d942
7bed7ef0277a82552051c769afe054708c56bde7
397fa26f775ebe93c742fe3e4937d68571abf4b5

[2017-05-20 09:59] okorshenko commented on #4731
Please, look at:
237e54d79c70d8954f16556a3a8195a8b7b6d942
7bed7ef0277a82552051c769afe054708c56bde7
397fa26f775ebe93c742fe3e4937d68571abf4b5

[2017-05-20 09:59] feronera commented on #9710
Try to remove all file in var. And setup:upgrade again.

[2017-05-20 10:03] kaurg2516 commented on #9710
Still the same error.

[2017-05-20 10:28] bka commented on #6207
Just checked, this Issue is still present in latest develop branch.
![auswahl_102](https://cloud.githubusercontent.com/assets/584644/26275018/71a01a9c-3d57-11e7-8b4f-f201ff06a3fb.png)

There are 4 matches for agreement_1, and html id="agreement_1" is appearing twice in my test case.

[2017-05-20 11:24] okorshenko commented on #9277
Hi @SasiKiranK please let us know if you are still working in this issue. Thank you

[2017-05-20 11:38] #9428 closed, assigned to mikebox

[2017-05-20 11:38] vrann commented on #4876
@PascalBrouwers the #7041 cannot be merged in the way it is implemented right now, please see comment here #8264 on supported use-cases.

[2017-05-20 11:39] #9237 closed, assigned to tdgroot

[2017-05-20 11:39] #9199 closed, assigned to piotrkwiecinski

[2017-05-20 11:39] #9200 closed, assigned to federivo

[2017-05-20 11:41] #9239 closed, assigned to SolsWebdesign

[2017-05-20 11:41] #9241 closed, assigned to SolsWebdesign

[2017-05-20 11:51] OleksiiStepanov commented on #7070
I have same problem on 2.1.6
Looks like when less file compiled without grunt .lib-column() mixin ignore any params

[2017-05-20 12:29] maghamed commented on #9068
@Vinai will you provide a PR with according changes. Looks like we resolved both of open questions

[2017-05-20 13:57] maksek commented on #8852
@vkorotun can you please check the issue, and comment on possible solution.

[2017-05-20 15:26] ishakhsuvarov commented on #5823
@dheesbeen Thank you for research. We will look into the options you proposed.

[2017-05-20 16:08] mcspronko commented on #4272
@ishakhsuvarov @maksek Can you please assign this one on me? I will work on it. Thanks.

[2017-05-20 16:19] mcspronko commented on #1146
@maksek can you please assign this ticket to me? Thanks.

[2017-05-20 16:27] maksek commented on #9554
Appreciate the feedback, locking and closing the issue, as not related to any functionality. Please keep giving your feedback on our forum.

[2017-05-20 16:27] #9554 closed, assigned to nobody

[2017-05-20 17:59] bka commented on #8554
It seems this issue is fixed in develop. Cannot reproduce it anymore, at least the manifestation described above. It seems the change of layout in module-ui/view/base/layout/default.xml pointed out by @erikhansen did the trick. I dont know about other manifestiations but this one seems to be resolved.

[2017-05-20 20:02] dnadle commented on #7627
Any update on this? It's still happening in 2.1.6.

[2017-05-21 03:41] huanchain opened #9716 "Bug"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-05-21 04:27] brvoltz commented on #6929
May I ask, can someone translate this to English for me?

"{"message":"An error occurred on the server. Please try to place the order again.","trace":"#0 \/home\/digidwo\/public_html\/app\/code\/Amasty\/Checkout\/Model\/GuestPaymentInformationManagement.php(47): Magento\\Checkout\\Model\\GuestPaymentInformationManagement->savePaymentInformationAndPlaceOrder('f03644e07e13fad...', 'bhills_4300@mai..

[2017-05-21 06:16] rrains commented on #4391
I found the same on one of my builds, but only one and I noticed the setup url was plain insecure http and the backend session was created in https, so I just changed the protocol
and reloaded with: https://www.domain.com/setup and it works.

Maybe related to the fact that this build is set to use https everywhere, but I have not tested this. Hope it helps.

[2017-05-21 11:45] hostep commented on #8554
Just to add some more information, I quickly looked in the git history and like @bka said, @erikhansen's proposed solution was already executed on the `develop` branch in scope of MAGETWO-55341, see: https://github.com/magento/magento2/commit/f42472a3753c8b87969a8e2dde6645525bf797d8
(Not sure if this is the correct and definitive solution though, based on the above comments...)

[2017-05-21 13:30] mam08ixo opened #9720 "Menu item dependencies (dependsOnModule, dependsOnConfig) are broken"
### Preconditions
1. Magento 2.2.0-dev is installed (bdb04648ab at the time of writing)
2. Any `menu.xml` adds menu items with dependency to
  - module that is not installed
  - config value that evaluates to false

[code]

### Steps to reproduce
1. Log in to admin panel
2. Open up the top-level menu item that contains the menu items in question

### Expected result
The menu items are not visible.

[2017-05-21 14:44] korostii commented on #9716
Any details. please?

[2017-05-21 16:14] versdivers commented on #3423
I do have this problem still. I have no cache disabled even so the cache problem should not be an issue. It just won't translate..

[2017-05-21 17:04] homer14b commented on #5212
I can report this issue is still present in CE 2.1.4

[2017-05-21 17:19] versdivers commented on #7525
How is this coming along? Can we have an update?

[2017-05-21 17:37] NurUzbek opened #9722 "Cant reset password of customers in fronted and in admin panel. It says reset password sent to email, but mailbox is empty. Even spam box"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-05-21 17:41] NurUzbek commented on #9722
If it is mail server issue please show me where to configure in Debian

[2017-05-21 18:48] digitalredefned commented on #9290
Not sure if it's related but it took reading through a couple issues to figure out what was going on for my issue.  A couple weeks ago we upgraded from 2.0.10 to 2.1.6 and soon after switched to flat products and categories.  Before then we were not having any issues saving our categories.

Yesterday I was making a couple changes to the meta data for a category and tried to save, got the URL key f

[2017-05-21 19:35] southerncomputer commented on #6929
@brvoltz you need to patch your code to track the actual error occurring or look in var/log/*.log for a better error message! see @hostep or my recommendations from earlier posts in this thread!

[2017-05-22 00:42] brvoltz commented on #6929
@southerncomputer - as I'm very green to this side.. What would take to have you make the changes, so we can log what is going on?  What is interesting is I have no issues with placing a credit card order from the admin side... only the front end...

[2017-05-22 03:12] thdoan commented on #9156
We are also having this issue since upgrading to v2.1.5. It was working just fine before that with this code (simplified):

[code]

Now, even when signed in the `customer` object is empty (`{}`), so the "Sign In" link is rendered instead of "Sign Out". This is happening in production mode with both FPC and Varnish enabled.

[2017-05-22 04:47] mrkhoa99 commented on #9156
@thdoan I faced the same issue. Because the local storage is added after our script (Not sure it's a bug or not). My idea is to check local storage until it is added- (we should override `Magento_Customer/js/view/customer`)

For example:

	    var self = this;
            var time = setInterval(function () {
                self.customer = customerData.get('customer');
                if (localSto

[2017-05-22 05:05] Khaleel commented on #7525
Still not working in EE 2.1.16

[2017-05-22 06:16] tommiheiskanen commented on #8465
Any solution for this? What is causing the error?

[2017-05-22 06:36] joni-jones commented on #9710
Hi, @kaurg2516, starting from Magento 2.1.3 release, the `PaymentTokenInterfaceFactory` doesn't auto-generated anymore and doesn't have the default implementation. Try to find usages of `PaymentTokenInterfaceFactory` in your code or custom payment integrations and specify the implementation for this factory via `di.xml`.
The [Vault documentation](http://devdocs.magento.com/guides/v2.1/payments-int

[2017-05-22 06:44] kvSanthosh commented on #7550
Any updates in this?? I am also facing the same issue(item list and the subtotal template not loading) in my custom theme. But everything loading fine in blank and luma theme. Please update if anyone find any fix for this.

[2017-05-22 06:46] thdoan commented on #9156
@mrkhoa99  thanks for the suggestion. Do you have a workaround that doesn't involve overriding? I'm leaning towards two other alternatives for a quick fix:

1. check cookie
2. custom ajax controller that simply returns `$this->_customerSession->isLoggedIn()`

[2017-05-22 06:47] mc388 commented on #3248
@ktomk I will close this issue but I am not able to test this, because I do not longer develop in Magento 2.

[2017-05-22 06:47] #3248 closed, assigned to nobody

[2017-05-22 06:49] kaurg2516 commented on #9710
Thank you @joni-jones, but i have resolved this error.

[2017-05-22 06:52] joni-jones commented on #9710
Ok, then I'm closing this issue.

[2017-05-22 06:52] #9710 closed, assigned to alena-marchenko

[2017-05-22 07:18] mrkhoa99 commented on #9156
@thdoan

app/code/Vendor/Theme/etc/frontend/di.xml

[code]
app/code/Vendor/Theme/Block/Html/Header.php

[code]

app/code/Vendor/Theme/view/frontend/templates/html/header.phtml

[code]

app/code/Vendor/Theme/view/frontend/web/js/view/customer.js

[code]
app/code/Vendor/Theme/etc/module.xml

[code]

app/code/Vendor/Theme/registration.php

[code]

There are some notes:

- We will override : `Magento\

[2017-05-22 07:35] PascalBrouwers commented on #4876
Ah ok, i'll check if the problem is fixed in 2.2 then.

[2017-05-22 07:37] steros opened #9724 "not possible or clear how to use textarea in address form"
### Preconditions
1. Magento 2.1.6
2. Luma Theme

### Steps to reproduce
1. I follow this article to add a new field to checkout shipping address: http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_new_field.html
2. I use an input field type text (see below) and everything works as expected
3. If I change that to a textarea the field is displayed but doesn't transport the input

### E

[2017-05-22 07:53] korostii commented on #9722
Hi. Yes, you're probably right that it is a server configuration issue.
However, if you are looking for some help or an advice regarding setup or configuration please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/).
The GitHub issue tracker is intended for tracking technical issues (read: "bugs") of Magento2 itself

[2017-05-22 09:03] OZZlE opened #9725 "Wrong resource model in Observer when using Flat tables"
### Preconditions

1. Latest M2 development head
2. MySQL / PHP version does not matter.

### Steps to reproduce

The core event is triggered when using own custom CMS module so it's not possible to write steps to reproduce as you would need this module installed. Event is probably triggered in other cases also however (don't know when).

### Expected result
No fatal errors.

### Actual result

`[

[2017-05-22 09:07] mrkhoa99 commented on #9563
@VinayJVNC Work around for this issue: https://github.com/magento/magento2/issues/9156#issuecomment-303013040

[2017-05-22 09:08] bpoiss commented on #6671
Since this is only a minor problem, take your time to fix this, no need to hurry :)

[2017-05-22 09:34] gtsiou commented on #2647
This is a bug and caused by the fact that Magento is using an older version of phpcs (1.5.6 for me at 2.1.6) and the global one I have for example is 2.6.2. Anything > 2 will break it actually.

I guess there were some backwards compatibility issues there with CodeSniffer so all M2 testsuite tests fail. On the bright side, the MEQP2 Standars works fine with phpcs --version > 2.0

As @tkn98 mention

[2017-05-22 09:36] balusai commented on #8202
Still issue in Magento 2.1.6 EE cersion, anyone have solution??

[2017-05-22 09:44] georgios-2317 commented on #6671
For me the issue came from long url_keys building up to create over 255 chars request_path. When it was looking up on url_rewrite table with the full path (over 255 chars) mysql was returning no hits and magento was trying to create a 301 but caused a dup key as the original was already maxed at 255.

All I did, and confirmed it works, was to create a preference overriding the Magento\CatalogUrlRe

[2017-05-22 09:58] amitphpdeveloper opened #9727 "Magento 2 EE : Solr search not working with Apply search weight on dropdown or multiselect field type attribute"
Preconditions

1. Magento EE 2.1.4 without sample data is installed.
2. PHP 7.0.2, mysql 5.0

Steps to reproduce

Setup Solr as per instruction in magento 2 online documentation. Set solr as an active search engine and make sure connection is successfully. Save configuration setting and Do reindex to import doc on solr search server.
1.  Create attribute for example manufacturer_test with multisel

[2017-05-22 10:00] pluckrose commented on #7214
+1 also having issue and have no idea what's different between an install that is working fine.

[2017-05-22 10:07] pradeep38mail opened #9728 "USPS Priority Mail Express for International addresses not showing"
### Preconditions

1. Magento Version 2.1.6, PHP 7
2. No Varnish, FPC Enabled

### Steps to reproduce

1. Keep Priority Mail in USPS methods selected in Admin Stores->Configuration->Sales->Shipping Methods->USPS
2. Add Product to the cart
3. Trying to get the shipping(Country->United Kingdom, Region->JS, ZIP->WC2A 2AE)

### Expected result

1. It should return the Priority Mail service, actually i

[2017-05-22 10:50] giusecapo commented on #7973
Still have this error on 2.1.2, how to fix? @sheldmandu

[2017-05-22 11:38] ishakhsuvarov commented on #9709
@nltheme By design Guests may checkout with any email, existing and not existing in the database. Login is optional in this case.

[2017-05-22 11:41] tjack88 opened #9729 "Configurable product tax not correct in invoice view in backend"
**Preconditions**

Using Magento 2.1.4
PHP 7.0.13, MySQL 5.0.12 and Apache

**Steps to reproduce**

I have a configurable product, which has two simple products.
Both products have a tax class of %20

**Expected result**

When in invoice view on the backend, the tax should be shown added to the order total

**Actual result**

Tax of 20% is not shown added to the order total (the simple products ca

[2017-05-22 11:56] wclabhinav commented on #3759
They have send a patch for this, but i didn't manage to test this thoroughly.
Patch is attached here, let all know if it works for you.

[MAGETWO-67182-Tier-price.patch.tar.gz](https://github.com/magento/magento2/files/1018674/MAGETWO-67182-Tier-price.patch.tar.gz)

[2017-05-22 12:00] devtinku commented on #5651
It works if i change it core file. How can i do the changes without touching core files.

I tried with below steps but its not worked ::
1. Copied sales_order_grid.xml to custom module
2. Cleared cache

[2017-05-22 12:16] audexpro commented on #8251
@Buy-bg You've solved the problem? I have the same problem!

[2017-05-22 12:36] PascalBrouwers commented on #8009
Confirmed in 2.1.4. Adding `$this->cacheContext->registerEntities(Product::CACHE_TAG, $processIds);` does fix it btw.

[2017-05-22 12:42] southerncomputer commented on #6929
try this patch and let me know what error it throws afterwards!
https://github.com/southerncomputer/magento2/commit/79e8317e8e87b998d15f4b54fbeefce0901e4dc0

[2017-05-22 12:59] leedave commented on #4292
I clearly support the option to return to Default mode. The current situation forces people to stay in default mode other than changing to developer mode for certain tasks. Clearly production mode is no good for development, but in my experience developer mode is simply too slow. Default mode is already slow, but still much faster than developer mode.

[2017-05-22 13:01] VladaPetrovic commented on #6676
Hi there, I see that this is still an open issue. Is there any plan for a fix in near future?

[2017-05-22 13:18] versdivers commented on #9385
I have done everything by now. I tried to make chances to my view.xml. I tried to adjust the helper. I applied the patch and everything. Just nothing works! This is really really horrible. If you have a fix ready just implement it and release it under 2.1.7...

[2017-05-22 13:29] gerryka commented on #9544
Sadly i did not come up with any further info from my (limited) debugging session. I would appreciate it if anyone could take a look at this. Should be pretty easy to reproduce with the above instructions.

[2017-05-22 14:15] cristianmalfesi opened #9730 "We can't detect the date time when Order is chagend to status as 'complete'"
When process an Order on Magento 2 we have different status like Pending, Invoiced, Shipment, Complete, etc. Working in production mode we found that is too difficult detect the datetime when an Order change to 'complete' status.
There is a table called 'sales_order_status_history' that save the history of every step on one order. But we tested change in different way the order, and allways show t

[2017-05-22 14:16] snez commented on #6929
@brvoltz if you apply the patch that @southerncomputer posted then you will get a more specific error which you will be able to debug. Magento 2 is essentially masking the true cause of the problem in that method.

[2017-05-22 14:50] wigman commented on #9684
@korostii sorry, those are not the same. there's no issue with the mechanisms, the rules are simply not set for this module and should be added.

[2017-05-22 15:23] korostii commented on #9684
Okay, thanks for the clarification.
FYI, if you know for sure that your piece of ML fixes it, feel free to also create a corresponding Pull Request. Those seem to get processed faster than issue recently.

[2017-05-22 15:48] glwow opened #9731 "Hello, Why attribute value on "Catalog" page can not same as on "New Product" page???"
Hello, Why attribute value on "Catalog" page can not same as on "New Product" page???

[2017-05-22 16:02] BlitZ-UK commented on #7299
Any updates on this?
Thanks

[2017-05-22 16:52] brvoltz commented on #6929
Many thanks for the help... what is now very interesting, I changed my purchased theme back to the default (Luma) cleared the cache and then processed a credit card, no errors...   Then I changed back to the purchased theme and cleared the cache and processed a credit card... NO Errors... Go figure... LOL

Now to figure out how to trim the logs after this....

[2017-05-22 16:52] eug123 commented on #8852
Hi @dersam
It's not a bug - `@magento_import` is working as expected, this directive collects source files for the current theme that match pattern (i.e. `source/_extend.less`) according to theme inheritance rules from all modules and current theme web assets folder. Like @slackerzz said _extend.less in child theme will be used instead of respective source file located in the parent theme or modul

[2017-05-22 17:06] p3mbo commented on #7720
I can confirm that this is an issue for me too still. Magento 2.1.6

[2017-05-22 17:33] mzenner1 commented on #8426
I'm having the same bug.  My client imported about 2000 products with tier pricing.  While the tier pricing is reflected accurately on the store front and in the cart, I can no longer save products.

Warning: Illegal string offset 'price_qty' in /var/www/vhosts/tlcelectronics.com/httpdocs/vendor/magento/module-catalog/Model/Product/Attribute/Backend/Tierprice.php on line 74

Solutions?

[2017-05-22 19:05] costel-petrescu commented on #7310
Hi, @quienti
I got the same error, when I executed the composer install -ignore-platform-reqs command in magento 2.1.6
As you mentioned, So I replaced fabpot/php-cs-fixer with friendsofphp/php-cs-fixer.
But the error was same and it didn't work.
please, help me.
thanks.

[2017-05-22 20:02] hellekim commented on #9435
I got this same issue.

[2017-05-22 22:23] audexpro commented on #5938
News on this issue?

[2017-05-22 22:25] audexpro commented on #5885
News on this issue?

[2017-05-23 00:21] digitalredefned commented on #4387
Confirmed still an issue for 2.1.6

[2017-05-23 00:58] mattcoz commented on #7720
What kind of hack did you use? This is really a debilitating issue and the
developers don't seem to care at all.

- Matt

On Mar 27, 2017 2:24 PM, "leitot" <notifications@github.com> wrote:

[2017-05-23 02:02] leitot commented on #7720
I wrote a before plugin for the save() method for the type Magento\Catalog\Model\ResourceModel\Product. Inside beforeSave() I set the store ID correctly on the product (after the ProductRepository's save() method messes it up)

[2017-05-23 02:11] mattcoz commented on #7720
Thanks, I'll give that a shot. I have the same problem with the category
repository too.

- Matt

On May 22, 2017 9:03 PM, "leitot" <notifications@github.com> wrote:

I wrote a before plugin for the save() method for the type
Magento\Catalog\Model\ResourceModel\Product. Inside beforeSave() I set the
store ID correctly on the product (after the ProductRepository's save()
method messes it up)

—
You

[2017-05-23 02:46] nltheme commented on #9709
so if any existing customer want to login without password then he need to reload page ? @ishakhsuvarov

[2017-05-23 07:00] sasilinux commented on #9698
I am not using git. So please let me know how to update the mentioned patch in my magento 2.1.6

[2017-05-23 07:25] Minnie1302 opened #9733 "The upload photo in product content is not shown"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-05-23 07:48] quienti commented on #7310
Hi @costel-petrescu
This is not really an error, it is just a message who it said fabpot/php-cs-fixer is abandoned and should be changed with friendsofphp/php-cs-fixer.
But, in Magento 2.2, this message was removed because it was fixed

Your Magento 2.1.6 will to work with no problem normally ;)

[2017-05-23 07:49] woutersamaey commented on #6201
+1

[2017-05-23 08:07] costel-petrescu commented on #7310
But when installing magento, it occurs the error like "php version check" in the first step.
I think there is problem here.
Though my php version is not required at installing condition as 7.1.1, anayway i skipped it with the command "composer install --ignore-platform-reqs".
Do you think what is the reason?
please, give me the way to solve it.
Thanks.

[2017-05-23 08:22] quienti commented on #7310
You install Magento with the interface ?
If yes, I thinks you should use a good version of php (http://devdocs.magento.com/magento-system-requirements.html)
If you use command lines for install, there are a specific command lines with Magento (http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-subcommands.html)
After install was finished, if you want upgrade your php versio

[2017-05-23 08:37] ihor-sviziev commented on #4876
This issue still in 2.1.6

[2017-05-23 08:39] costel-petrescu commented on #7310
you're right. but i'm going to install magento via a localhost on xampp. PHP version is 7.1.1 on xampp.
In this case, shall i have to change the php version or magento version?
Required version is ~5.6.5|7.0.2|7.0.4|~7.0.6. Aren't there any other methods exception changing php version? please, explain the way how to install magento 2.1.6 on xampp in detail.
Best regards.

[2017-05-23 08:56] quienti commented on #7310
Hummm, normally, you should not change php version of Magento, because there are some change to do in code.
But you can change php version of xampp with a specific install (https://sourceforge.net/projects/xampp/files/?SetFreedomCookie)
In this link, you have all php version for xampp, I hope you can find your install

And how install Magento ?
Hummm, just with the interface, you can succeed with

[2017-05-23 09:09] harimayco commented on #3759
@wclabhinav Thank you very much!
tier price works after applied the patch manually (magento 2.1.6)
![before patch](https://s16.postimg.org/9dypx4opt/screenshot_20170523_155828.png)
![after patch](https://s16.postimg.org/ltvfqvi1t/screenshot_20170523_155847.png)

Thank you magento developer

[2017-05-23 09:21] bgkavinga commented on #9542
@alloylab we also experiencing the same issue. It does not generate merged CSS files during static content deploy. I believe It should be part of the static content deployment process. BTW, we have shared _cache folder between all servers to minimize the effect caused by less compilation process.

[2017-05-23 09:26] yogendrabmishra opened #9734 "The requested component ("frontend-input") is not found. Before using, you must add the implementation."
We have migrated our Magento 1 EE1.14.2.4 database to M2 EE 2.1.6. In M1 EE, we are having custom Frontend Input type  as miles and I have created the same in M2 EE2.1.6. Also I have added the type to adminhtml ui-component. But still I am getting the exception.
### Preconditions

1. Magento EE 2.1.6
2. PHP 7
3. Mysql 5.6
### Steps to reproduce

1. Create custom frontend input type in M1 EE and cr

[2017-05-23 09:30] hostep commented on #6201
It looks like this is already fixed on the develop branch. I think this commit fixed it: https://github.com/magento/magento2/commit/63bd96e354a11c1393fa17afb1d5c9b76b934c5c

[2017-05-23 09:32] ajpevers commented on #9634
@southerncomputer thank you for a good workaround. The fact of the matter is however that we pay thousands of euros for the Enterprise product and we expect it to keep working when the installation is upgraded.

[2017-05-23 09:41] PushEngineering commented on #9730
I can recreate the same issue (Magento 2.1.3, PHP7, AWS RDS Aurora (5.6)).

For our Magento 1.8 deployments this table works correctly and is the basis for much of our audit reporting.

[2017-05-23 09:44] JacobDrummond commented on #9323
@adragus-inviqa, I agree.

It would be much more convenient to leave CLI exceptions uncaught so we can get a full stacktrace and see what went wrong. CLI developers literally have nothing to work with when exceptions are caught  this way.

An odd workaround: If your CLI issues are in class constructors/dependency-injection, running `magento setup:upgrade` will give you a more detailed error messag

[2017-05-23 09:53] surabhinsi opened #9735 "Products not showing on listing page correctly"
We are facing a weird issue on category page, when we see the configurable products in admin for the categories like Women and Men product counts comes as 3000 and 2300 respectively but on frontend count gets decreased to 730 and 650

1. Magento 2.1.6
2. Php 7.0.18

1. Check the product count on Admin it is 3000 for one category
2. See the same on frontend it is 730
3. Reindexing no effect
4.Cache

[2017-05-23 09:59] korostii commented on #9733
Any details, please?

Which version of Magento are you using?
Do you have any 3-rd party modules or theme installed?
Could you please attach a screenshot of the photos section of the product in admin?

[2017-05-23 10:03] harrigo opened #9736 "Delete operation is forbidden for current area when creating account from checkout success page."
When creating an account from the checkout success page the following error is shown.
"Delete operation is forbidden for current area"

Preconditions
1. Magento 2.1.6
2. PHP 7.0.15-1~dotdeb+8.1 (cli) ( NTS )
3. mysql  Ver 14.14 Distrib 5.6.33, for Linux (i686) using  EditLine wrapper

Steps to reproduce
1. Add products to cart and proceed through checkout while not logged in.
2. Use a new email th

[2017-05-23 10:10] costel-petrescu commented on #7310
thanks for your help.

On Tue, May 23, 2017 at 11:56 AM, quienti <notifications@github.com> wrote:

[2017-05-23 10:15] PierAlex opened #9737 "Sometimes, after an order is placed, 'The order confirmation email is not sent'."
### Preconditions
1. Magento 2.1.2
2. Plesk Onyx 17.0.17
3. Ubuntu 14.04.5 LTS‬
4. PHP 7.0.19
5. MySql 5.7.18

### Steps to reproduce
1.  Insert valid email address(es) in Stores->Configuration->Sales->Sales emails->Send Order Email Copy To.
2. Place an order

### Expected result
1.  Send Confirmation email to the customer
2. Send copy of the confirmation email to address(es) specified as above.

[2017-05-23 10:28] steros commented on #9323
You can just run `bin/magento list` to get a readable error message.

[2017-05-23 10:29] wrock commented on #1443
I also encounter this issue eventually on Magento 2.1.3

[2017-05-23 10:36] Weltpixel commented on #6178
Hi,

Until now this are the measures that we took and seams to significantly improve the transaction decline rate. After applying all 3 solutions, we didn't receive any reports of other users not being able to checkout using Braintree on our Magento 2.1 store.

Hope this helps:
https://support.weltpixel.com/hc/en-us/articles/115007753688-How-we-solved-Braintree-Magento-2-checkout-issues-with-our-M

[2017-05-23 10:37] Weltpixel commented on #3811
Hi,

Until now this are the measures that we took and seams to significantly improve the transaction decline rate. After applying all 3 solutions, we didn't receive any reports of other users not being able to checkout using Braintree on our Magento 2.1 store.

Hope this helps:
https://support.weltpixel.com/hc/en-us/articles/115007753688-How-we-solved-Braintree-Magento-2-checkout-issues-with-our-M

[2017-05-23 10:37] Weltpixel commented on #5462
Hi,

Until now this are the measures that we took and seams to significantly improve the transaction decline rate. After applying all 3 solutions, we didn't receive any reports of other users not being able to checkout using Braintree on our Magento 2.1 store.

Hope this helps:
https://support.weltpixel.com/hc/en-us/articles/115007753688-How-we-solved-Braintree-Magento-2-checkout-issues-with-our-M

[2017-05-23 10:38] Weltpixel commented on #6178
Hi,

Until now this are the measures that we took and seams to significantly improve the transaction decline rate. After applying all 3 solutions, we didn't receive any reports of other users not being able to checkout using Braintree on our Magento 2.1 store.

Hope this helps:
https://support.weltpixel.com/hc/en-us/articles/115007753688-How-we-solved-Braintree-Magento-2-checkout-issues-with-our-M

[2017-05-23 10:39] Weltpixel commented on #9003
Hi,

Until now this are the measures that we took and seams to significantly improve the transaction decline rate. After applying all 3 solutions, we didn't receive any reports of other users not being able to checkout using Braintree on our Magento 2.1 store.

Hope this helps:
https://support.weltpixel.com/hc/en-us/articles/115007753688-How-we-solved-Braintree-Magento-2-checkout-issues-with-our-M

[2017-05-23 10:43] Weltpixel commented on #6929
Hi,

Until now this are the measures that we took and seams to significantly improve the transaction decline rate. After applying all 3 solutions, we didn't receive any reports of other users not being able to checkout using Braintree on our Magento 2.1 store.

Hope this helps:
https://support.weltpixel.com/hc/en-us/articles/115007753688-How-we-solved-Braintree-Magento-2-checkout-issues-with-our-M

[2017-05-23 11:05] korostii commented on #6178
Hi @Weltpixel, please stop spamming multiple threads. If your comment is related to this specific issue, please just post here. If you believe other threads report the same issue, just write that it's a possible duplicate and note # of this issue, nothing more.

[2017-05-23 11:11] JacobDrummond commented on #9323
@steros, thanks! `setup:upgrade` didn't seem like a "good bodge".

Do you find `list` convenient, or would you still prefer better CLI exception handling?

[2017-05-23 11:43] MichalZabrocki commented on #3123
I had this problem after importing database from other server. Problem was that some triggers in database had set definer on other user then i set in Magento connection to database. I had this other user created but i decide to change this to default user. After that admin panel start to work as normal.
That was weird because developer toolbar didn't show problem with db rather with layout

[2017-05-23 11:56] steros commented on #9323
I was surprised to find out `list` returns a different message which is actually useful.
All commands should do that.

[2017-05-23 12:01] chm1975 commented on #9730
Yeah, I have tested also on AWS RDS and using docker locally with different templates and making clean installations.

[2017-05-23 12:46] dharake commented on #7635
@crantron Can you please elaborate, having the same issue

[2017-05-23 12:50] springimport commented on #7253
@deepak-netwin Try to use a several wrappers for default containers.

[2017-05-23 13:17] dmj331 opened #9738 "I was getting base table missing error during installation"
I was installing a memento 2 site on my local server and got this error.
And I am using Win 7.

[ERROR] exception 'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'chocolatework.admin_user' doesn't exist' in C:\xampp\htdocs\chocolateworks\chocolateworks\vendor\magento\zendframework1\library\Zend\Db\Statement\Pdo.php:228 Stack trace: #0 C:\xampp\htdocs\chocolat

[2017-05-23 13:18] adi3009 opened #9739 "Failing unit tests, PHP Fatal error Mock_OrderPaymentExtensionInterface"
Vanilla installation with sample data

Magento version: 2.1.6 Community Edition
PHP Version: 7.0.18
MySql version: 5.6.33-0ubuntu0.14.04.1
[test_output.txt](https://github.com/magento/magento2/files/1022240/test_output.txt)

[2017-05-23 13:18] royvanos commented on #2139
Clearing all cookies in my browser did the trick for me!

[2017-05-23 13:40] zack6849 commented on #9709
It doesn't log you in as the customer, just checks out with that email address, it only associates the user with the order if the user logs in. (as far as i know.)

[2017-05-23 13:50] PauleHan commented on #4371
[code]

I get at all selected web sites:
`main.DEBUG: "1" {"is_exception":false} []`

[2017-05-23 13:53] MaximKitsenko opened #9740 "Can't install Magento 2.1.6."
I'm trying to install magento 2.1.6. ce

### Preconditions

1.   SystemInfo: `PHP Version 5.6.18-1+deb.sury.org~trusty+1
System	Linux max-VirtualBox 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64
Server API	Apache 2.0 Handler
Virtual Directory Support	disabled
Configuration File (php.ini) Path	/etc/php5/apache2
Loaded Configuration File	/etc/php5/apache2/php.ini
Scan

[2017-05-23 13:57] dersam commented on #8852
Ok, that makes sense. Themes always override, unless it's part of a module folder, in which case `//@magento_import` will behave as expected and gather everything.

Thanks for the response, I can see the logic in that. I'll close the issue.

[2017-05-23 13:57] #8852 closed, assigned to nobody

[2017-05-23 14:27] PauleHan opened #9741 "There is no way to get the ID of the current WEBSITE in the Admin Panel"
### Preconditions

1. Magento CE 2.0.4
2. PHP 7.0.15-0ubuntu0.16.04.4 (cli) ( NTS )
3. mysql  Ver 14.14 Distrib 5.7.18, for Linux (x86_64)

### Steps to reproduce

1. URL {...}/admin/admin/system_config/edit/key/.{..}/section/general/website/2/

### Expected result

1. `main.DEBUG: "2" {"is_exception":false} []` -For the selected website with ID 2

### Actual result

1. `main.DEBUG: "1" {"is_excep

[2017-05-23 15:01] joni-jones commented on #9739
Hi, @adi3009, try to clear the `application/var` directory and run unit tests again.

[2017-05-23 15:09] robgt opened #9742 "Default welcome message returns after being deleted"
Default welcome message returns after being deleted

### Preconditions

1. Magento 2.1.6
2. PHP 7

### Steps to reproduce

1. Go to Content > Configuration > Click Edit on theme being used
2. Expand Header section to reveal "Welcome Text" field
3. Field will be populated with "Default welcome msg!"
4. Delete the text, and click save (or save and continue edit)
5. Repeat steps 1 to 3.
6. Examine sa

[2017-05-23 15:49] vjacquemin-sqli opened #9743 "Invalid date when customer validate with French locale"
### Preconditions

1. Magento 2.1.5
2. PHP 7
3. MySQL 5.6

### Steps to reproduce

1. Set Backoffice to French locale : account settings ->language French (France)
2. Modify a customer and set date of birthday (for example : 04/17/1973)

### Expected result

1. Customer validation with new DOB

### Actual result

1. Error message "Invalid date"

I found in Magento\Framework\Data\Form\Filter\Date c

[2017-05-23 15:56] sydekumf opened #9744 "Shipping method estimation loads all customer's quotes"
### Preconditions
Magento 2.1.7

When you enter the checkout Magento tries to estimate the shipping method and costs. Therefore it loads available quotes with this logic: `Magento\Quote\Model\QuoteRepository::getForCustomer()`. For some reason it tries to load **all** quotes available for this customer, even quotes which are no longer active or whose products do not longer exist.
This leads to an

[2017-05-23 15:56] sydekumf commented on #1443
I have the same error and debugged it. In the end there is something else wrong which I described here: https://github.com/magento/magento2/issues/9744
It is because Magento hides the exception...

[2017-05-23 16:05] seyuf opened #9745 "Magento messing with app/etc/env.php content"
### Preconditions

1. Magento 2.1.6
2. Php7
3. Debian jessie

Magento is replacing the content of my ```app/etc/env.php``` by this:
[code]
Which lead to ```vendor/magento/module-store/Model/Config/Processor/Fallback.php on line 125 ``` exception because no data has been retrieved from db.
This happened after multiple ***module:enable / setup:upgrade***.
It started failing at the setup:upgrade.

I

[2017-05-23 16:11] dharake commented on #4170
Joining in here, tried all the fixes mentioned in this thread, all of them. Still have my issue, which is to be precise.:

Land on home page, and add to cart from products displayed from widget.
First add to cart shows nothing in cart.
Second add to cart, works, and shows product that was first added

So basically, first producted is added but minicart is not populated.

Magento 2.1.4, Porto theme

[2017-05-23 16:14] dharake commented on #5377
I'm using PHP V 7.0.15 and issue persists. I tried @fhennessy and and @zhiyicai fixes, but problem persists.

[2017-05-23 16:17] romainruaud commented on #2130
Same issue here on Alpine.

@choukalos any update on this one ?

[2017-05-23 16:17] korostii commented on #9744
Experienced this error myself, with similar findings. Pretty sure I wrote about it somewhere, but cannot find it now.
the `catch (NoSuchEntityException $e)` seems to have been added in order to cover the case when the customer isn't logged in.

Yes, please. I'll take that plus, independently, a fix for the underlying error.

Underlying error can probably be fixed by simply adding a foreign key con

[2017-05-23 16:22] chm1975 commented on #9730
Can anyone tell me where I can modify the code that save records on table sales_order_status_history???

[2017-05-23 16:40] shuaiZend commented on #4119
M2.1.6 +1

[2017-05-23 16:54] zack6849 commented on #8591
@okolesnyk i don't like pinging people by name for attention or anything but this has been more than 3 months and we haven't even gotten an acknowledgment, this issue breaks paypal on multistore without workarounds, have you guys had a chance to even glance at this issue yet?

[2017-05-23 17:45] keiant25 opened #9746 "Missing applied_taxes from Webservice API"
When calling REST or SOAP the segments: applied_taxes, item_applied_taxes, converting_from_quote attributes are missing from the SOAP response.

In order to reproduce just call the REST API function "{{host}}}/rest/V1/orders/{{order_id}}"

### Expected result
It should return the taxes details.

Thank you!

[2017-05-23 18:16] tsifra commented on #9740
This happened with my server also. was just solved for me just by another try.

[2017-05-23 19:32] springimport commented on #7511
You can use [my extension](https://github.com/springimport/swagger-magento2-client/tree/fix-searchcriteria-index) with fix for searchcriteria

    "springimport/swagger-magento2-client": "dev-fix-searchcriteria-index"

[2017-05-23 19:54] andnotafraid commented on #4246
This is still a problem for me.  Below is the order that I am working with.  The order_id is  38044.  The shipment id is 29974.  The track id that I want to delete is 31674.  {token} is a valid token.  {base_url} is a valid url for the magento install.  This curl:
[code]
gets me this response:
[code]

Below is the shipment data.  It remains unchanged after the DELETE command:
[code]

[2017-05-23 20:30] harrigo commented on #5699
I'm experiencing this also after a lot of trying to debug what is causing this and whether this is a bug or a problem with my code i am unsure. I know that if i leave the non required street address 2 field blank this issue occurs. Unsure how to stop this from happening i have almost opposite of kanduvisla issue but have not really modified checkout fields.

[2017-05-23 20:47] bassplayer7 commented on #8619
@alexhadley, for production mode, you shouldn't be using client side compilation anyways. You can resolve this issue by turning that off. You can delete the row(s) with this path from the `core_config_data`: `dev/front_end_development_workflow/type`

[2017-05-23 21:29] mcspronko commented on #9582
@antonkril Can you please assign me? :)

[2017-05-24 02:51] nuwaus commented on #9645
Hi,

Thank you for your replies and suggestions, I solved it already, it was Varnish, after I disabled the Varnish, it working perfectly again.

[2017-05-24 02:51] #9645 closed, assigned to nobody

[2017-05-24 04:52] khongtoan1991 opened #9748 "Magento 2.1.6 How to show normal price and final price on checkout/cart page"
Hello,
In that case show include tax, i want show normal and final price for each item, please help me!
thanks

[2017-05-24 05:58] sheldmandu commented on #6710
As it's a short-term workaround to modify the page size with magento hopefully resolving the issue in an upcoming release in the near future you can just do the quick and dirty (preferably with source control) and modify the value directly in the /vendor/magento/module-ui/view/base/web/js/dynamic-rows/dynamic-rows.js file.  Just search in the file for "pageSize: 20" or go to line 71 and change it

[2017-05-24 06:32] mynameismud commented on #9730
So I did a whole bunch of searching through the source code...essentially looking for uses of "Order::STATE_COMPLETE". I can only find one occurrence of code ***setting*** this state.

Here:
Magento/Sales/Model/ResourceModel/Order/Handler/State.php, line 29.

This "check(Order $order)" method only appears to be used in one place in the code:
Magento/Sales/Model/ResourceModel/Order.php, line 173

S

[2017-05-24 06:42] maksek commented on #9582
@mcspronko, thank you for taking the feature, let me know if you need some help with it.

[2017-05-24 06:42] maksek commented on #1146
@mcspronko how is progress on this one?

[2017-05-24 06:47] mcspronko commented on #1146
@maksek thanks for asking. I am thinking if only pub directory ahould be supported for robots.txt and sitemap.xml so all merchants might need to reconfigure their document root to be pub. Or having support for magento root and pub directories.

[2017-05-24 07:01] gsomoza commented on #9743
Maybe I misunderstood what you meant, but the string "04/17/1973" should NOT be a valid date in the FR_fr locale: [France uses DMY](https://en.wikipedia.org/wiki/Date_and_time_notation_in_France) for all-numerical dates. So if validation fails with "04/17/1973" then that's *correct* for the French locale.

[2017-05-24 07:27] vjacquemin-sqli commented on #9743
@gsomoza : You're right. The right date should be 17/04/1973 (dd/mm/yyyy). But javascript validation fails if I input '17/04/1973' (I obtain an error under calendar "Enter a correct date"). That's another Magento2 bug I suppose.

However, if I input '04/17/1973', Javascript validation succeeds, but PHP response fails, and I notice that space has been inserted in my date (as I explained on my addit

[2017-05-24 07:30] gsomoza commented on #9743
Great, this is clear now, it indeed looks like a bug 👍

[2017-05-24 07:40] gsomoza commented on #9741
When you're in the Admin, the "current store" is not the same as the "configuration scope" you selected to apply config settings. So it makes sense that when you request the website ID while in the Admin it always return the same value.

If you want to retrieve the ID for configuration scope selected in the Admin UI, then try checking the request parameters for the value of the current configurati

[2017-05-24 07:56] rishabhrkrai opened #9749 "On Search - sort by "Price" for the Products price including tax is not works"
I have some products(lets say 30 with different prices), which have tax of 20%. I configure to show the product price including tax. On search when I used to sort by "Price" the product is not sorted as the price.

### Preconditions

1. Magento 2.1.6
2. MySQL 7.0.18
3. Nginx

### Steps to reproduce

1. Import the 30 products with tax and name of the products have some similar words. I have 9000 pr

[2017-05-24 08:03] johnhughes1984 commented on #1146
Hey @mcspronko @maksek

I know it'd be treated as a breaking change, but I'm in favour if dropping support for Magento root and just using pub - however I appreciate I may not be aware of all the knock on effects this would bring.  I feel like the original decision to support both has probably got us to the point we're now at.

We all know pub is the recommendation for obvious reasons, but still n

[2017-05-24 08:03] refaelgold commented on #5873
i follow as well..

[2017-05-24 08:08] PauleHan commented on #9741
Steps to reproduce:
1. Selected in the drop-down list of websites: "Main Website" (1'st on the list)
2. Redirected to URL {...}/admin/admin/system_config/edit/key/.{..}/section/general**/website/1/**
3. Opened my module: Stores > Configuration > MyModule
4. I pressed the button Save Config and caused an event:
`<event name="admin_system_config_changed_section_current_store">`
5. debug.log > `main.

[2017-05-24 08:10] DnD-Merlin commented on #5927
Did you have some news on this issue? We are runing the same problem, in production mode our LESS is not compiled.
Thank you.

[2017-05-24 08:21] jwittorf commented on #5927
@DnD-Merlin it might be a bit too heavy on the echos but you could use this bash script to deploy all themes and languages separatly.

[code]

[2017-05-24 08:31] DnD-Merlin commented on #5927
Hi @jwittorf,
we are actually runing commands in this order
- `bin/magento deploy:mode:set production -s`
- `bin/magento setup:static-content:deploy en_US fr_FR`
- `bin/magento setup:di:compile`
- `bin/magento setup:upgrade --keep-generated`

We already using `bin/magento setup:static-content:deploy` command, do you think we have to make it more precise ?

[2017-05-24 08:39] jwittorf commented on #5927
I don't like the approach running a separate command for every theme and language neither but I figured out that sometimes changes weren't made when just calling `bin/magento setup:static-content:deploy` or adding one or more languages to the call.

Don't ask me why but somehow some files weren't updated. With the script I can be sure that every language and every theme has been deployed. So my ap

[2017-05-24 08:43] DnD-Merlin commented on #5927
Yes I agree. I will try your script if that solve my problem for now.
Thank you

[2017-05-24 08:46] PauleHan commented on #9741
I realized that to use this in this case does not make sense
`\Magento\Store\Model\StoreResolver::getCurrentStoreId()`
as it is necessary to know the **current WEBSITE** and not STORE

There remains the question of method:
`\Magento\Store\Model\StoreManagerInterface::getWebsite();`

How to make them work correctly or there are options for circumventing the situation?

[2017-05-24 08:51] tsifra opened #9750 "1048 Column 'max_sale_qty' cannot be null - only when importing 1 product"
When importing product via standard import workflow everything works fine. While lines count is greated than 2 (1 header + at least 2 lines with products). But if i try to to import 1 product (1 line header + 1 line for product in csv) i got error.
Magentto version CE 2.1.6 no extensions installed.

`General system exception happened
Additional data: SQLSTATE[23000]: Integrity constraint violation

[2017-05-24 08:55] alexsergin commented on #6879
Hello. What about this issue? Was it fixed already? Have the same problem.
Maybe someone know where to find values of this attribute in DB? I suppose this error is displaying because the first value is empty. Maybe try to set it's value to one of the folloving "No", "Empty".

[2017-05-24 09:01] gsomoza commented on #9741
If what you want is to retrieve the configuration scope (website "2" in the second case) then you shouldn't be checking the `StoreManager` at all. Check the "website" parameter in the request instead (`\Magento\Framework\App\Request\Http`).

E.g. (not tested):
[code]

[2017-05-24 09:13] adi3009 commented on #9739
Thanks @joni-jones, clearing var directory fixed the fatal error.

[2017-05-24 09:13] #9739 closed, assigned to nobody

[2017-05-24 09:17] refaelgold commented on #5873
I really struggle with this. i try to change it 3 times and the customer address still not give me the correct values.

When i try to edit it - i can see the right values inside

[2017-05-24 09:21] PauleHan commented on #9741
In the process of testing received incorrect values:

Get URL _{...}/admin/admin/system_config/edit/section/{...}/store/2/key/_

[code]

debug.log > `main.DEBUG: "1" {"is_exception":false} []`

[2017-05-24 09:41] refaelgold commented on #5873
If can anyone give a good solution please let me know .

i did migrate from previous version of M 1.9.2.3 to M  2.1.6

julietolivertest.a2hosted.com ->this is the site

![2017-05-24_12-35-16](https://cloud.githubusercontent.com/assets/1097087/26397001/8c8f275c-407d-11e7-8c79-cb8f9ef4e355.png)
![2017-05-24_12-38-34](https://cloud.githubusercontent.com/assets/1097087/26397159/0a167446-407e-11e7-9efe

[2017-05-24 09:50] mtkumar82 commented on #5288
Great!, I have same issue on local and @akacemy solution worked for me..

[2017-05-24 09:59] DnD-Merlin commented on #5927
@jwittorf Your script works well, tank you for that, but as you said it is only a workaround for now.

[2017-05-24 10:14] WilXP opened #9751 "CustomerSampleData module inhibits outgoing mails when using areacode emulation"
The following code from Magento\CustomerSampleData\Magento\Framework\Mail\Transport\MailPlugin in the SampleData module inhibits sending emails when using area code emulation:

`
public function aroundSendMessage(
        \Magento\Framework\Mail\TransportInterface $subject,
        \Closure $proceed
    ) {
        return $this->appState->isAreaCodeEmulated() ? null : $proceed();
    }
`

This is

[2017-05-24 10:46] jonathansayag opened #9752 "Widget condition on date attribute"
Issue with the Magento Widget and condition on date type attribute.

### Preconditions
1. Magento 2.1.4
2. PHP 7.0
3. MariaDB 10.0.30
4. Product & Category context :
    - `date_promotion_end` : Datetime attribute
    - Category *Shoes* (ID: 15, *3 products*)
    - Only 1 product has a `date_promotion_end` value (`2016-10-11`), others have `null` value

### Steps to reproduce
1. Edit a CMS Block
2

[2017-05-24 11:06] joni-jones commented on #8522
Hi, @rosandrest, the fix is already merged to develop branch.

[2017-05-24 11:34] MaximKitsenko commented on #9740
@tsifra  thanks, but i tried 3 times, and issue was not solved

[2017-05-24 12:19] PauleHan commented on #9741
In the continuation of history

[code]

URL {...}/admin/admin/system_config/edit/section/{...}/store/2/key/

$_getStoreId = $storeManager->getStore()->getId(); // return 1
$_getStoreWebsiteId = $storeManager->getStore()->getWebsiteId(); // return 1
$_getWebsiteId = $storeManager->getWebsite()->getId(); // return 1

URL {...}/admin/admin/system_config/edit/key/.{..}/section/general/website/2/

$_ge

[2017-05-24 12:39] gsomoza commented on #9741
See my comment above for the solution.

[2017-05-24 12:39] chm1975 commented on #9730
Hi mynameismud :)
You are right about the code. But we have to think that history change also when Invoice and Shipping are updated. So, I think we must check the code on these two modules also. I will check this and back with the info.

[2017-05-24 12:46] DnD-Merlin commented on #3754
Still exist in 2.1.6

[2017-05-24 12:50] PauleHan commented on #9741
Ok. I understood.
But you did not offer a working solution.

[code]

Returns HTTP ERROR 500

[2017-05-24 13:23] georgios-2317 commented on #3650
Yeah, still there in 2.1.6. Should we be following @viktor-zhuromskyy  instructions for now?

[2017-05-24 14:20] maderlock commented on #8504
The use case is when you need to include some pages of the frontend in an iframe on the a different domain. We use this in a number of ways - to allow some admin functionality to be displayed over the frontend pages, and to display previews of the frontend in the admin. All pretty standard stuff for  some CMS systems. However, Magento supports having different domains for the admin and frontend, s

[2017-05-24 14:22] inelukipg commented on #8018
Thank you @flancer64!
Your module solved a big issue in our shop.

We are using Magento 2.1.6

https://github.com/flancer32/mage2_fix_pr9621

[2017-05-24 14:31] #9729 closed, assigned to nobody

[2017-05-24 14:47] DrewK289 commented on #9138
@skymeissner, were you ever able to figure this out?

I am having the same issues. I also see where the documentation clearly indicates that session-based authentication works to access admin resources.

[2017-05-24 14:50] uTosTan commented on #4291
The issue is still there in v2.1.5. Commit https://github.com/magento/magento2/commit/487ae24056c189c63eb4427f2a5858890544e092 fixed the issue for me.

[2017-05-24 14:52] maderlock commented on #7232
Having this problem in 2.1.6. Looks like there is a check for whether the attribute is in the current set, but the relevant data is not loaded. From magento/module-eav/Model/Entity/Attribute/AbstractAttribute.php line 610:

        public function isInSet($setId)
        {
            if (!$this->hasAttributeSetInfo()) {
                return true;
            }

hasAttributeSetInfo() always eval

[2017-05-24 15:04] GianlucaBelardinelli commented on #9508
Up

[2017-05-24 15:05] chm1975 commented on #9730
After check carefully the steps for one order in different order of execution I can confirm that we can use the field **updated_at** of table **Sales_Order**  for know the datetime when Order is updated to **Status = Complete**
This field updated_at is only updated when status is changed on every steps executed over the Order.

[2017-05-24 15:17] maderlock commented on #7232
Trying to work out where this set data should be loaded per attribute. Looking at vendor/magento/module-eav/Model/Entity/AbstractEntity.php line 832:

    public function validate($object)
    {
        $this->loadAllAttributes($object);
        $result = $this->walkAttributes('backend/validate', [$object], $object->getCollectExceptionMessages());

The walkAttributes call is where the attributes a