[2018-04-13 06:52] JesseEnd commented on #12330
I'm not sure if this is the same issue, but after upgrading from 2.1.9 to 2.2.3, I discovered all of my bundle products were showing as out of stock and with a price of $0.

I found the offending code and reverted it back to the 2.1.12 version until a proper fix has been released.

To fix the price issue, open `/vendor/magento/module-bundle/Pricing/Adjustment/Calculator.php` and at line 198, add:

[2018-04-13 07:01] JesseEnd commented on #13158
I am having this same problem with already existing and unchanged products after upgrading from 2.1 to 2.2, no duplicating or importing/exporting involved, but I found a temporary fix and posted it in this similar issue - https://github.com/magento/magento2/issues/12330#issuecomment-381041637

[2018-04-13 07:02] magento-engcom-team commented on #5770
@lucas-santos-chaordic Unfortunately we have to close this ticket now, as this seems to be an intended behavior at the moment.
Please refer to this comment for more information: https://github.com/magento/magento2/pull/11580#issuecomment-342506544

Thank you for collaboration.

[2018-04-13 07:02] #5770 closed, assigned to r-bielawski

[2018-04-13 07:08] jeroenschipper commented on #14406
@magento-engcom-team,
We experience the same issue. and can confirm that this is still an issue.

**Preconditions:**
Magento 2.2.3
Async grid enabled
Cron is enabled

**Steps te reproduce:**
1. Open an invoice that needs to be "captured"
2. capture that invoice
3. Check the state of the invoice in the grid

**Expected result:**
The status of the invoice is updated in the invoice grid

**Actual res

[2018-04-13 07:20] #5357 closed, assigned to nobody

[2018-04-13 07:45] #14534 closed, assigned to nobody

[2018-04-13 08:12] Low-config commented on #14458
I printed $xml in _initDom($xml) in Magento\Framework\Config\Dom.php
An exception started from the layout tag, but I don't know why

[2018-04-13 08:15] Top-CMS commented on #8933
Same error happening for me on 2.2.3

[2018-04-13 08:31] Low-config commented on #14458
@magento-engcom-team Yes.I determined where the problem lies，Is really a problem with a third-party plugin

[2018-04-13 08:32] #14458 closed, assigned to nobody

[2018-04-13 08:48] MikeSheward commented on #4400
Confirmed this is still an issue on Magento 2 CE 2.2.3

[2018-04-13 09:32] amenk commented on #1471
@sanjeshsodha

I would say my file is valid UTF8 encoded - still I have the issues.

    file CSV.csv
    CSV.csv UTF-8 Unicode text, with very long lines

Magento 2.2.3

[2018-04-13 09:42] JonathanBBD opened #14677 "Add to cart fails with error invalid quote address [WITH PROPOSED FIX]"
### Preconditions
1. PHP 7.0
2. Magento 2.1.6

### Steps to reproduce
1. Register as a customer and create a address for billing and shipping ( can be the same )
2. Login as the customer you registered
3. Add any product to your cart
4. Goto the checkout and enter shipping fields and the shipping method
5. Click on Next to go to the second step of the checkout (do NOT click the order button)
6. Di

[2018-04-13 09:45] neilgreene commented on #5405
Magento 2.2.3 and I have tried increasing max_input_vars in php.ini, I have cleared var/cache, browser cache, Magento cache, verified that for my magento.conf and magento-ssl.conf that both are using the same domain, removed domain cookies.   Still, get the error when trying to edit an existing product.  But, I can create new products without any issue.

Will to share hitting my head on the wall i

[2018-04-13 09:54] amenk commented on #1471
Okay, turn's out I have actually two products with the exact same name in the import which causes the error. The products differ in the attributes, so this is not an error in the import file.
Shoudln't Magento just add a -1 , -2 and so on to the URL key ?

[2018-04-13 10:26] densen45 opened #14682 "Sorting Bundle Products in a catagory does not work correctly"
### Preconditions

Magento 2.2.3

### Steps to reproduce

1. Create several Bundle Products
2. Create a category
3. Add several Bundle Products to this category
4. Enable product listing sort by price for the category
5. Go to the category on frontend
6. Choose sorting by price (ascending or descending)

### Expected result

The Bundle Products are being listed sorted by their minimum price values

[2018-04-13 10:27] magento-engcom-team commented on #6123
Hi @TClilMouse Thank you for reporting.

Unfortunately, this seems to be correct Magento behavior. You may find more arguments in this PR comment https://github.com/magento/magento2/pull/12014#issuecomment-347546321

Thank you for collaboration

[2018-04-13 10:27] #6123 closed, assigned to nobody

[2018-04-13 10:30] Guy-Baillie commented on #12056
I had the same issue. the only way I got around with it was with this extension.
https://marketplace.magento.com/webshopapps-module-matrixrate.html

[2018-04-13 10:37] magento-engcom-team commented on #5056
Hi @peec
We are closing the issue now, as intentionally putting invalid values into the database may indeed cause any kind of errors, and it does not look reasonable to take into account every case like this.

Thank you for collaboration.

[2018-04-13 10:37] #5056 closed, assigned to nobody

[2018-04-13 10:55] ferrazzuk commented on #14663
@magento-engcom-team was able to replicate this. Ok if I self assign?

[2018-04-13 11:25] KRNareshKumar commented on #6417
Below is the Direct link that might be helpful

https://www.paypal.com/cgi-bin/webscr?cmd=_profile-pref

[2018-04-13 11:39] pemann commented on #8614
I can confirm, what @srtrend describes, occurs also in 2.2.3.
I have free shipping cart rule "for matching items only", but I will get free shipping for whole order if the first item has free shipping rule applied.
Problem is in OfflineShipping module at Model/Quote/Address/FreeShipping.php file at method isFreeShipping. Loop has logical problem here:

[code]

**If the first items sets the free sh

[2018-04-13 11:46] deepshik commented on #522
Hello,
i have registred in magento 2 , registration sucess but gives error cant
save the customer
how to solve

On Tue, Apr 3, 2018 at 6:07 PM, Deepshikha Makwana <deepshikha@egws.in>
wrote:

[2018-04-13 11:57] srtrend commented on #8614
@pemann Do you have any solution to it.

[2018-04-13 12:07] jigar48 commented on #11114
I got same problem. Can you please let me know what is the solution ?

when I run the compile command

php bin/magento setup:di:compile

Its output this

Compilation was started.
Repositories code generation... 1/7 [====>-----------------------]  14% 1 sec 58.0 MiB
Fatal error: Class 'PHPUnit_Framework_TestCase' not found in /home/devspice/public_html/vendor/psr/log/Psr/Log/Test/LoggerInterfaceTes

[2018-04-13 12:10] mattyl commented on #10555
I do  not understand how this could be correct behaviour - it offers no way to update products without knowing their prior catgories -i have never met a merchant who could do this, they know in which categories the product should now be in. I believe your logic is not pratical in real world scenarios. In the add/update scenario - the category has changed - the product should be updated to reflect

[2018-04-13 12:14] ihurskyi commented on #9011
What is the commit number of this fix in v.2.3 ?

[2018-04-13 12:29] roman204 commented on #11114
See my previous post

[2018-04-13 12:35] jigar48 commented on #11114
I uploaded latest vendor folder but Its not helped me

[2018-04-13 12:46] darinda opened #14685 "cron schedule with specified day of week is ignored"
### Preconditions

1. Magento v2.2.3

### Steps to reproduce

1. Define any cronjob to run on a specific day of month, for example

[code]

### Expected result

1. The cronjob should be executed on the first of each month

### Actual result

1. The cronjob is never executed. No schedule ever appears in `cron_schedule` table

[2018-04-13 12:54] hkpatel201 opened #14686 "Customer store changed automatically when saving customer from admin"
Magento 2.2.3

I have multiple store setup in my magento.
When i am saving any customer from magento backend, it automatically change customer store as well.

In customer edit form there is option  "Send Welcome Email From".
Magento change customer store to whatever is selected in this dropdown.

[2018-04-13 12:55] magento-engcom-team commented on #13652
Hi @Sunil-Nethues. Thank you for your report.
The issue has been fixed in magento/magento2#14665 by @ampulos in 2.1-develop branch
Related commit(s):
 - [ac083d49e4e1541851685fef4147b329c5e53f17](https://github.com/magento/magento2/commit/ac083d49e4e1541851685fef4147b329c5e53f17)

The fix will be available with the upcoming 2.1.15 release.

[2018-04-13 13:42] sabarivenkat commented on #14551
@orlangur I have checked the webserver/php-fpm log in my server. There is no error log. But the error was created in Nginix error log file /var/log/nginix/error.log. It's shown in the attached screenshot. Also I found that after saving the configuration it is redirected to  "http://127.0.0.1:80/admin" (this is varnish port), instead "https://example.com/admin" (I have enabled secure url for admin)

[2018-04-13 14:17] flnative opened #14689 "After 2.2 command line upgrade got error code when disabling maintenance mode"
### Preconditions

1. Updating 2.1 to 2.2 release via command line
2. PHP 7.0.28

### Steps to reproduce

1. Went thru series of command line updates and fixes to composer and then upgrade
2. Did this fix: "I believe I have a solution for this. When I looked in core_config_data I found that the theme_id stored for scope_id 0 was set to "NULL". This appears to be how it was stored in previous versi

[2018-04-13 14:27] jokeputs opened #14690 "Tables rates not loaded in checkout if only enabled for website"
### Preconditions
1. Magento 2.2.2

### Steps to reproduce
1. Have a Magento 2.2.2 installation with at least 2 websites.
2. In the admin panel go to Stores -> Configuration -> Sales -> Shipping method -> Table Rates. Set **Enable** to **No** for the default configuration and save the configuration.
3. Change the Store View to one of the websites. For the tables rates set **Enable** to **Yes** and

[2018-04-13 14:34] DonMooi commented on #5247
More testing:

1) I have noticed that in the configuration file app/etc/env.php the session save is set to db:

Code:
`'save' => 'db',`

so I have changed to files:

Code:
`'save' => 'files',`

And flushed the Magento cache.

This did not fix the problem....

2) Then I made sure all the correct permissions are set for all directories and files....

This did not fix the problem either....

3) I hav

[2018-04-13 15:17] TechnoBuddhist commented on #5247
What worked for me...

`ln -s [magento-install-dir]/setup  [magento-install-dir]/pub/setup `

After installing mods/updates, remove the link

`rm [magento-install-dir]/setup`

If the symbolic link doesn't work for you, check permissions and ownership(mine was set to nobody - the apache.http user)

`chown [magento-user]:[magento-user]   [magento-install-dir]/setup/* `

Hope this helps!

[2018-04-13 15:35] orozcodiaz opened #14691 "Attribute value saving issue"
### Preconditions

1. Magento 2.2.2 and 2.2.3
2. PHP 7.0.28
3. mysql Ver 14.14 Distrib 5.6.32-78.1

### Steps to reproduce

1. Add new value with single quote to dropdown attribute and save it `(e.g. Men's)`
2. Add the same value `(Men's)` with single quote and save it
3. Try to edit something else on the page and try to save attribute

### Expected result
Prevent saving same values

### Actual re

[2018-04-13 15:36] AbdullahNasir commented on #12117
@ankursachdeva11 I am facing the same issue, how did you fix it ?

[2018-04-13 16:06] likemusic opened #14692 "'validate-grouped-qty' validation is meaningless"
https://github.com/magento/magento2/blob/a2f6a0827221e0e9ccd1f1bc49375611dcc5fb17/lib/web/mage/validation/validation.js#L22

Seems that this 'validate-grouped-qty' validation haven't sense because validation should be done on the child elements.

And seems that current implementation is buggy. Seems that sense of this validation is check that sum of qty for all products is more then one. But what

[2018-04-13 16:56] likemusic commented on #14692
https://github.com/magento/magento2/pull/14693 - pull-request with replaced parseInt() to parseFloat().

[2018-04-13 18:03] nahall opened #14694 "Bundled jQuery fails PCI compliance scan"
### Preconditions
1. Magento 2.2.3.

### Steps to reproduce
1. PCI compliance scan.

### Expected result
1. PCI compliance scan should pass.

### Actual result
1. PCI compliance scan fails.

The currently bundled version of jquery fails our PCI compliance vendor's scans as of January 23rd. They have added a security check for jquery due to the vulnerabilities CVE 2015-9251 and CVE 2016-10707 and n

[2018-04-13 18:17] ankursachdeva11 commented on #12117
Hey @AbdullahNasir , What is your payload?

[2018-04-13 19:46] mariamghalleb commented on #7159
this has been fixed ? where i can find the solution if it did, thanks

[2018-04-13 20:33] joshgrillo commented on #5260
I had same error of too many password reset requests from backend on 2.2.3. It would allow me to do one, but then no more after that. This fix worked for me: https://magento.stackexchange.com/questions/199984/password-reset-throws-something-went-wrong-while-resetting-customer-password-e

[2018-04-13 21:30] magento-engcom-team commented on #14049
Hi @intercase. Thank you for your report.
The issue has been fixed in magento/magento2#14661 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [9359b43681a2cef1b1df1f8071d49505775fefc6](https://github.com/magento/magento2/commit/9359b43681a2cef1b1df1f8071d49505775fefc6)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-13 21:30] magento-engcom-team commented on #14465
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#14636 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [4d2960874f0ffaed2d1b39c3df63d71c0edf8ab2](https://github.com/magento/magento2/commit/4d2960874f0ffaed2d1b39c3df63d71c0edf8ab2)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-13 21:30] magento-engcom-team commented on #788
Hi @nyov. Thank you for your report.
The issue has been fixed in magento/magento2#14634 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [a1db92278162bd02585b31d25f46ffcf593d13a8](https://github.com/magento/magento2/commit/a1db92278162bd02585b31d25f46ffcf593d13a8)
 - [25ee33227c8e44baf976a48eb8e78b65738b50fb](https://github.com/magento/magento2/commit/25ee33227c8e44baf976a48eb8e78b65738b

[2018-04-13 21:30] magento-engcom-team commented on #13685
Hi @kirmorozov. Thank you for your report.
The issue has been fixed in magento/magento2#14637 by @kirmorozov in 2.3-develop branch
Related commit(s):
 - [ae229f95795644518f38ea9cf7d73d1daff80b83](https://github.com/magento/magento2/commit/ae229f95795644518f38ea9cf7d73d1daff80b83)
 - [b25d28ff97a454e72d4a481babb311a43b8da16d](https://github.com/magento/magento2/commit/b25d28ff97a454e72d4a481babb311

[2018-04-13 21:30] magento-engcom-team commented on #14355
Hi @maxbucknell. Thank you for your report.
The issue has been fixed in magento/magento2#14356 by @maxbucknell in 2.3-develop branch
Related commit(s):
 - [7a3ea4ef23584d3dfdd1f414dad69858c3c46ac9](https://github.com/magento/magento2/commit/7a3ea4ef23584d3dfdd1f414dad69858c3c46ac9)
 - [4589cb0ad644290e5e8d968b275bc5e2357bb349](https://github.com/magento/magento2/commit/4589cb0ad644290e5e8d968b275b

[2018-04-13 22:55] treii28 commented on #10012
Also running into this with an auto-imported tax-jar ruleset.  Any status on a fix?

[2018-04-14 00:25] magento-engcom-team commented on #13652
Hi @Sunil-Nethues. Thank you for your report.
The issue has been fixed in magento/magento2#14681 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - [8a30ffd9ed56f80bb54cbfb597e5452e21e2463c](https://github.com/magento/magento2/commit/8a30ffd9ed56f80bb54cbfb597e5452e21e2463c)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-14 00:25] #13652 closed, assigned to nobody

[2018-04-14 00:25] magento-engcom-team commented on #14465
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#14635 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - [17b585f3b8b411124d1a8bbbcb9e6d097ca26575](https://github.com/magento/magento2/commit/17b585f3b8b411124d1a8bbbcb9e6d097ca26575)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-14 00:25] magento-engcom-team commented on #9666
Hi @jsdupuis. Thank you for your report.
The issue has been fixed in magento/magento2#13016 by @rossmc in 2.2-develop branch
Related commit(s):
 - [e44c91fbc0da0b36575b4eaef25bbc7b6fba112b](https://github.com/magento/magento2/commit/e44c91fbc0da0b36575b4eaef25bbc7b6fba112b)
 - [b38976b5341781fe72dcf41f421cd61abab453cf](https://github.com/magento/magento2/commit/b38976b5341781fe72dcf41f421cd61abab4

[2018-04-14 00:25] #14465 closed, assigned to nobody

[2018-04-14 00:25] #9666 closed, assigned to nobody

[2018-04-14 00:25] magento-engcom-team commented on #12323
Hi @Avinashsain. Thank you for your report.
The issue has been fixed in magento/magento2#13016 by @rossmc in 2.2-develop branch
Related commit(s):
 - [e44c91fbc0da0b36575b4eaef25bbc7b6fba112b](https://github.com/magento/magento2/commit/e44c91fbc0da0b36575b4eaef25bbc7b6fba112b)
 - [b38976b5341781fe72dcf41f421cd61abab453cf](https://github.com/magento/magento2/commit/b38976b5341781fe72dcf41f421cd61ab

[2018-04-14 00:25] #12323 closed, assigned to sukhwinder-singh-dev

[2018-04-14 00:25] magento-engcom-team commented on #14035
Hi @kamilszewczyk. Thank you for your report.
The issue has been fixed in magento/magento2#14048 by @kamilszewczyk in 2.2-develop branch
Related commit(s):
 - [3e776eeee5826f7619803398e6fd558f435b83b4](https://github.com/magento/magento2/commit/3e776eeee5826f7619803398e6fd558f435b83b4)
 - [e18055829508c858328069bda72a7e56e3f0604a](https://github.com/magento/magento2/commit/e18055829508c858328069bd

[2018-04-14 00:25] #14035 closed, assigned to nobody

[2018-04-14 00:37] caww opened #14697 "Shipping data not saved after cache flushed until first visit to checkout maded"
Our website (wine store) is
https://winesellersdirect.com.au/

### Preconditions
1. Magento 2 CE (2.2.3 ver)
2. mysql 5.6
3. php 7.0.26
4. Apache Version | 2.4.33
5. Ultimo theme 2.7.1

### Steps to reproduce
1. Change any product or page -- not important
2. Flush cache in admin of magento 2
3. Go to front as visitor (not logged)
4. Add any product to cart
5. Go to checkout
6. Enter shipping / bil

[2018-04-14 00:54] caww opened #14698 "Magento 1.9.2.4 -> 2.2.3 - url rewrites stopped working for imported products only after migration using magento migration tool"
Our website (wine store) is
https://winesellersdirect.com.au/

I created my issue long time ago here
https://github.com/magento/data-migration-tool/issues/462
But still no answer
only info about ticket MAGETWO-87957
Please help

### Preconditions
1. Magento 2 CE (2.2.3 ver)
2. mysql 5.6
3. php 7.0.26
4. Apache Version | 2.4.33
5. Ultimo theme 2.7.1

### Steps to reproduce

1. Take magento 1.9.2.4

[2018-04-14 02:06] moejoee91 commented on #12457
Hello
please let me know, did you find a solution?
i'm facing the same issue, and i think that's a mis-configuration somewhere, but i'm not sure where, please let me know if you have any update

[2018-04-14 05:54] Ananth747 commented on #13183
@pankajpragma I'm using ParadoxLabs Authnet.Net CIM extension which solved this issue and gives extras features for admin & customer.

[2018-04-14 07:19] #5941 closed, assigned to nobody

[2018-04-14 07:19] #6363 closed, assigned to nobody

[2018-04-14 07:25] sidolov commented on #5574
According to comment in [closed pull request](https://github.com/magento/magento2/pull/11938#issuecomment-342129450) this issue has been fixed in 2.2-develop branch

[2018-04-14 07:25] #5574 closed, assigned to pocallaghan

[2018-04-14 07:31] AdeelMushtaq commented on #4876
not fixed

[2018-04-14 07:45] magento-engcom-team commented on #9694
@jantzenw We are closing this issue now, as this seems to be a correct behavior.
@hostep @josephmcdermott Thanks for collaboration!

[2018-04-14 07:45] #9694 closed, assigned to nobody

[2018-04-14 07:48] magento-engcom-team commented on #7970
Hi @rohit-prjpt
We are closing this it is was already fixed in `2.2`.
@AndreyRozumny Thank you for your investigation

[2018-04-14 07:48] #7970 closed, assigned to nobody

[2018-04-14 08:09] luckyduck commented on #12412
@xpedicion Can you post your solution? Would be awesome. Because with my approach, the problem persists.

[2018-04-14 08:29] magento-engcom-team commented on #4737
Hi,
Looks like the issue has been fixed by updating to Emogrifier 2.0.0.
Thanks to everyone for collaboration!

[2018-04-14 08:29] #4737 closed, assigned to nobody

[2018-04-14 09:05] magento-engcom-team commented on #14698
Hi @caww
Unfortunately, we can not keep another duplicate report here. Please continue tracking this issue under magento/data-migration-tool#462

[2018-04-14 09:05] #14698 closed, assigned to nobody

[2018-04-14 09:31] ChandrakantDevani opened #14701 "Err : The configuration parameter "componentType" is a required for "tier_price" component."
**Issue**
Please help me to solve it, i have upgrade magento 2.1.5 to 2.2.3 give me the error only Configurable Product in admin panel
### Preconditions

1. Magento 2.2.3
2. Mysql 5.6
3. PHP 7.0.2

### Steps to reproduce

1. Upgrade Magento Version 2.1.5 to 2.2.3
2. Give this Error "The configuration parameter "componentType" is a required for "tier_price" component."
3. Go to Product into Configu

[2018-04-14 09:51] OlgaBurtyka commented on #5071
#kharkiv-cd

[2018-04-14 09:52] magento-engcom-team commented on #5071
@OlgaBurtyka thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-04-14 10:37] GuiltyNL commented on #13229
Any updates on this one?

[2018-04-14 10:37] GuiltyNL commented on #13325
Any updates on this one?

[2018-04-14 10:54] molneek commented on #6272
#Kharkiv-CD

[2018-04-14 10:55] magento-engcom-team commented on #6272
@molneek thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-04-14 13:26] ihor-sviziev commented on #4876
@AdeelMushtaq what is not fixed? Please provide steps to reproduce, or better to report it as separate issue

[2018-04-14 15:03] AdeelMushtaq commented on #4876
@ihor-sviziev please check i have did as per instructions.
https://ringmastersports.co.uk/mma/ ----------->not working
https://ringmastersports.co.uk/mma/.html ----------->working

[2018-04-14 16:08] mutantturkey commented on #13415
Also having this problem.

[2018-04-14 16:37] sankalp-prft commented on #4305
Just checked 2.2-develop, and didn't see any updates in this regards that might indicate this has been fixed.

[2018-04-14 17:15] hostep commented on #4305
@sankalp-prft: can you check the history of this file: https://github.com/magento/magento2/commits/2.2-develop/pub/errors/processor.php
Look at the commits on June 6 2016, those should fix this issue I believe.
You can also see those two same commits if you scroll up a bit on this very page, also to June 6 2016

If you believe it still isn't fixed, feel free to provide steps to reproduce on a clea

[2018-04-15 06:16] webds commented on #10666
Magento2   v2.2.3

 [InvalidArgumentException]
  Could not find a matching version of package magento/extension-b2b. Check t
  he package spelling, your version constraint and that the package is availa
  ble in a stability which matches your minimum-stability (stable).

[2018-04-15 06:23] webds opened #14709 "Install via composer package magento/extension-b2b"
Hello.
I have error.
Install via composer package magento/extension-b2b

Magento v2.2.3
[InvalidArgumentException]
Could not find a matching version of package magento/extension-b2b. Check t
he package spelling, your version constraint and that the package is availa
ble in a stability which matches your minimum-stability (stable).

[2018-04-15 10:41] kfaer commented on #11892
Web Setup Wizard not visible in backend magento 2.2.2 on nginx, please advise

[2018-04-15 13:34] raymond62 opened #14712 "Shipping issue on PayPal Express"
Shipping Information is not shown in Summary on PayPal Express Review Page if the Price is 0.00

### Preconditions
1. Magento 2.2.3., PHP 7.0, MySql 5.6

### Steps to reproduce
1. Make a Payment using PayPal Express
2. On the Review Page use a 0.00 Value for a Shipping Method
3. Summary only shows "Delivery & Handling" but not the Method

### Expected result
1. The Shipping Method should be shown

[2018-04-15 13:40] kevdotbadger commented on #11280
Can someone re-open this? I'm having the same issue, and the cron fix above does work. My columns added in `sales_order_grid.xml` are not being copied across. They're all blank.

[2018-04-15 19:08] nikolakisae commented on #5863
Any update or patch for this issue?

[2018-04-15 20:13] Mage2Api commented on #13707
Can confirm this  is till open on 2.2.3. Any idea what is causing the issue at least?

[2018-04-16 03:34] seanscott49 commented on #12129
Well, this is what worked for me. It was an issue with a Third Party Module. Update all of your modules. If it still persists, then disable them one by one until you figure out which one is causing the issue. For me, it was one of my Amasty Modules. Once I updated, all was good.

[2018-04-16 05:58] mygovernance commented on #5180
{"message":"Invalid address id %1","parameters":[84]}
issue is coming while posting shipping information to cart

[2018-04-16 06:37] sfdevrv commented on #14522
Same here too with 2.2.3

[2018-04-16 06:40] magento-engcom-team commented on #13010
Hi @nuethicadam. Thank you for your report.
The issue has been fixed in magento/magento2#14673 by @afirlejczyk in 2.1-develop branch
Related commit(s):
 - [11fb82122e73c4724c632b1cc292afd7646bcc06](https://github.com/magento/magento2/commit/11fb82122e73c4724c632b1cc292afd7646bcc06)

The fix will be available with the upcoming 2.1.15 release.

[2018-04-16 06:50] magento-engcom-team commented on #12804
Hi @nei. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1110 by @serhii-balko in 2.2-develop branch
Related commit(s):
 - [16575d92ae525e26607c187a805ebf00138c1612](https://github.com/magento/magento2/commit/16575d92ae525e26607c187a805ebf00138c1612)
 - [25fc7e85fbb942503b7f77de47a92f1d5917be36](https://github.com/magento/magento2/commit/25fc7e85fbb942503b7f77de47a

[2018-04-16 06:50] #12804 closed, assigned to serhii-balko

[2018-04-16 07:35] ankursachdeva11 opened #14713 "Issue in Partial Credit Memo including total tax."
### Preconditions

1. Magento 2.2.2 CE

### Steps to reproduce

1. Create an order using two items contain the tax on it. Support one item(order_item_id:100) having tax $10 and other item(order item id:101) having tax $11. Total tax is $21.
2. Create invoice.
3. try to refund using /V1/invoice/:invoiceId/refund API with this payload.
{
	"items": [
		{
			"order_item_id": "101",
			"qty": "1"
		}

[2018-04-16 07:37] RishabhRkRai commented on #1146
I make some folders inside **var/** to use for my custom module to use for some purpose in Magento 2.1.7 but these also not works until I create a symlink to that folder.

[2018-04-16 07:47] ihor-sviziev commented on #4876
@AdeelMushtaq, on Magento 2.2.3 we don't have this issue.
PS: Looks like you didn't changed url suffix for products.

[2018-04-16 08:30] magento-engcom-team commented on #14709
Hi @webds thank you for your report. Please follow these guidelines for proper tracking of your issue:

You can report Commerce and B2B related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2018-04-16 08:30] #14709 closed, assigned to nobody

[2018-04-16 08:35] magento-engcom-team commented on #14701
Hi @ChandrakantDevani Thank you for reporting.
Please try one of the following:
* Attempt to remove extensions which do not support 2.2 yet, most likely one of them is causing an error.
* Take a look at the exceptions log to figure out which customization exactly is causing the issue.

Thank you

[2018-04-16 09:07] magento-engcom-team commented on #14689
Hi @flnative Thank you for your report
Have you cleared `var/cache`, `var/page_cache`,  `generated/code` directories before upgrade? Please take a look at all required steps in this article: http://devdocs.magento.com/guides/v2.2/comp-mgr/cli/cli-upgrade.html#upgrade-cli-upgr

[2018-04-16 09:07] Siyadev9 commented on #7901
Starting to doubt Magento

[2018-04-16 09:07] minhducck commented on #5115
This issue is still there on Magento EE2.1.19, Before that, I updated Magento from version EE2.1.6.
API always returns
"message": "Please enter a customer email.",
when I want to update customer information.

As I known, All info from the Request are used in $inputData in vendor/magento/module-webapi/Controller/Rest/InputParamsResolver.php:100

but the value that Magento returns is $inputParams, T

[2018-04-16 09:08] magento-engcom-team commented on #14686
@hkpatel201 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Steps to reproduce
 - [ ] Expected result

[2018-04-16 09:29] magento-engcom-team commented on #14671
@kauansoft
Thank you for the updated information. Unfortunately, it is mostly server configuration, but not clear steps to reproduce the issue.
Additionally, commenting out error handling may cause any kind of side-effects, It is not suggested to do that.

[2018-04-16 09:30] magento-engcom-team commented on #14663
Hi @ferrazzuk
Sure, feel free to assign it to yourself if you feel like trying and fixing this

Thanks!

[2018-04-16 09:31] ChandrakantDevani commented on #14701
Hey, Thank you for support. I got it bug this problem in extension. thanks

[2018-04-16 09:31] #14701 closed, assigned to nobody

[2018-04-16 09:32] magento-engcom-team commented on #14396
@TatianaW we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-16 09:32] #14396 closed, assigned to nobody

[2018-04-16 09:32] magento-engcom-team commented on #14415
@homiedecor we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-16 09:32] #14415 closed, assigned to nobody

[2018-04-16 09:34] magento-engcom-team commented on #14426
@mimdev we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-16 09:34] #14426 closed, assigned to nobody

[2018-04-16 09:34] magento-engcom-team commented on #14244
@gawpo50 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-16 09:34] #14244 closed, assigned to nobody

[2018-04-16 09:35] magento-engcom-team commented on #14234
@absolutodigital we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-16 09:35] #14234 closed, assigned to nobody

[2018-04-16 09:44] magento-engcom-team commented on #14443
@daniel-ifrim we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-16 09:44] #14443 closed, assigned to nobody

[2018-04-16 10:00] magento-engcom-team commented on #14465
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#14471 by @swnsma in 2.1-develop branch
Related commit(s):
 - [bb91de765d83144b5ff8526bfa446f3534b59c4e](https://github.com/magento/magento2/commit/bb91de765d83144b5ff8526bfa446f3534b59c4e)

The fix will be available with the upcoming 2.1.15 release.

[2018-04-16 10:34] magento-engcom-team commented on #14090
@baskuis Payment methods with
`<allow_multiple_address>1</allow_multiple_address>` in `payment.xml` are supposed to be available for multishipping.

[2018-04-16 10:38] brplassen commented on #14658
Closing this, it was Partial Payment module error - had to uninstall.

[2018-04-16 10:38] #14658 closed, assigned to nobody

[2018-04-16 10:43] latenights commented on #14561
@priti-rathee Did you checked images attached to this product? I had similar error because of corrupted image.

[2018-04-16 10:48] victortodoran commented on #10838
Seven months after has been reported. This still hasn't been fixed. Magento 2.2.3 still has the missing method. One can only wonder.

[2018-04-16 11:14] mgarciaavz commented on #13573
Hi @sidolov,

this issue is fixed here: https://github.com/magento/magento2/pull/13574

Regards!

[2018-04-16 11:25] Triloworld commented on #11114
This issue is bigger.
Found that installing composer in module will break setup:di:compile.
Step to reproduce:
- Working Magento 2.2
- Install module
Eveything working except setup:di:compile
- Run in module composer install
- Remove and add once more phpunit
Problem exist
- Remove vendor catalog from module
Problem resolved

There is somewhere problem path or/and multi composer installation.
Be s

[2018-04-16 11:30] DevMostafa commented on #2595
Component Manager not showing for me.
In Admin: When I clicked on "System->Web Setup Wizard", it redirects me to the "Dashboard".

[2018-04-16 11:35] salehawal commented on #14672
updated ..

[2018-04-16 11:51] wanderlustsoul commented on #10838
Yes!, I have downloaded and upgrade magento 2.2.2 to 2.2.3. but still issue is not fixed from core.

[2018-04-16 12:36] sunilwebcreation commented on #14283
Hi @magento-engcom-team

I have now go into deep and noticed that the below line is creating issue.
vendor\magento\module-paypal\Model\Payflow\Service\Response\Validator\ResponseValidator.php
_throw new LocalizedException(('Transaction has been declined'));_

when I print some text before this line then its works but when I print some text after this line then it return error message.

Further if

[2018-04-16 12:39] Siyadev9 commented on #9792
This is really irritating

[2018-04-16 13:06] shaikhmasud147 opened #14717 "Root / Sub Category does not add in Magento 2.0.17"
Root / Sub Category does not add in Magento 2.0.17.
Got the error below:

![screenshot from 2018-04-16 18-33-07](https://user-images.githubusercontent.com/21688214/38810621-f526eaec-41a4-11e8-9e11-2f44abf8a8fe.png)

[2018-04-16 13:54] savadk00hi opened #14720 "Sales Pdf on Persian Language"
I use Farsi language in magento 2.3 but in sales pdf the characters are not displayed correctly

**Preconditions**

1. Magento 2.3, PHP 7.1, Mysql 5.6

**Steps to reproduce**

1. I will register an order first

2. After accept invoice in sale panel

3. in Invoice page The Pdf invoice is made

**Expected result**

1. Characters must be right to left

**Actual result**

<img width="1053" alt="387814

[2018-04-16 14:09] OvalMedia opened #14721 "html ID store.menu confuses css"
Magento produces a container with an ID of "store.menu". This confuses CSS since "#store.menu" relates to an element with the ID "store" AND a class "menu".

I just learned that you can actually escape dots in CSS with a backslash (#store\.menu) to access that element.

While this does work I would suggest to rename this ID to something else (store-menu, store_menu etc.).

Was this intended anyway

[2018-04-16 14:37] magento-engcom-team commented on #14646
Hi @kirmorozov
This issue seems to duplicate #9011
We are going to close this ticket now, please continue tracking under that reference.

Thanks

[2018-04-16 14:49] dev2233 opened #14722 "Free Shipping Method issue in magento 2.1.7"
I enable free shipping method in magento 2.1.7 with minimum order amount of $100 but when i add some item in cart having price less then the minimum order amount of $100 then also free shipping method apply on it. this issue solved in magento 2.1.8 but i don't want to upgrade it from 2.1.7 to magento 2.1.8

### Preconditions
Magento version is 2.1.7

### Steps to reproduce
1. Enable Free Shipping

[2018-04-16 14:58] mariamghalleb commented on #7719
i'm on 2.2.3 and still having the same problem ... Any solution?

[2018-04-16 15:06] mariamghalleb commented on #14620
any solution?

[2018-04-16 15:07] mariamghalleb commented on #14283
any solution?

[2018-04-16 15:10] mariamghalleb commented on #8254
any solution please?

[2018-04-16 15:18] mvaisberg commented on #14620
Nothing yet, i could not fix this, i had to move to braintree for the moment

[2018-04-16 15:24] xpedicion commented on #12412
@luckyduck Here's my solution:
app/code/&lt;VENDOR>/&lt;MODULE>/CatalogUrlRewrite/Model/ProductUrlPathGenerator.php:
[code]
Tie this in with app/code/&lt;VENDOR>/&lt;MODULE>/etc/di.xml:
[code]
Hope this helps.

[2018-04-16 17:25] magento-engcom-team commented on #6879
Hi @wujashek. Thank you for your report.
The issue has been fixed in magento/magento2#14714 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [5a2e819da59e616a4026f8e05bb8dc15d6468d33](https://github.com/magento/magento2/commit/5a2e819da59e616a4026f8e05bb8dc15d6468d33)
 - [156dcc06b1e1b3c8e5c1c14af21fd0f206f0c8fd](https://github.com/magento/magento2/commit/156dcc06b1e1b3c8e5c1c14af21

[2018-04-16 18:42] bruno-serfe commented on #3897
Hi Guys I've managed to solve this issue doing that proposed by @Jilco but should be other solution for this?, right? I'm using 2.2.3 btw, why is this issue closed?

[2018-04-16 18:59] bruno-serfe commented on #3421
Hi Guys, Is there other any solution rather than remove the TTL attribute from the block? It looks that's not the proper solution:

I'm using:
Varnish (varnish-4.0.5 revision 07eff4c29)
Magento 2.2.3

Thanks

[2018-04-16 19:02] Jilco commented on #3421
Bruno,

I now use ultimo infortis theme and there is no problem in 2.2.3. I can really recommend that theme! It is highly adjustable and stable

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: "Bruno Binci (Serfe.com)" <notifications@github.com>
Datum: 16-04-18 21:00 (GMT+01:00)
Aan: magento/magento2 <magento2@noreply.github.com>
Cc: Jilco <jilcotigch

[2018-04-16 19:03] Jilco commented on #3421
Without varnish, but with nginx and redis. And its super fast with php 7.1

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: "Bruno Binci (Serfe.com)" <notifications@github.com>
Datum: 16-04-18 21:00 (GMT+01:00)
Aan: magento/magento2 <magento2@noreply.github.com>
Cc: Jilco <jilcotigchelaar@hotmail.com>, Comment <comment@noreply.github.com>
Onderwerp: R

[2018-04-16 19:03] timstoel commented on #9577
I am experiencing this as well, any news or updates?

[2018-04-16 19:06] bruno-serfe commented on #3421
@Jilco is not an option disregard varnish at this point for me. thanks anyway.

[2018-04-16 19:38] mariamghalleb commented on #7719
i have two websites one is with CAD the other is with USD, when the authorization is always in USD, so the USD website works, but the CAD website's authorization is also in CAD, if I hard code it , wouldn't cause a problem for the US website?
Any other solution for this?

[2018-04-16 20:39] duffner commented on #7508
@orlangur, this is still a Magento core issue with 2.2.3, please advise.

[2018-04-16 20:43] duffner commented on #12914
@okorshenko, do we know what release version this issue will be corrected in?

[2018-04-16 21:10] Top-CMS commented on #14328
Is the fix available so we can fix this for M2.2.3?
We don't know how long to wait for M2.3, so a quick fix should be great
otherwise it is not possible to invoice with decimals

[2018-04-16 22:05] magento-engcom-team commented on #12146
Hi @JanisE. Thank you for your report.
The issue has been fixed in magento/magento2#14666 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [4801d7486e16f200beede7a9afddb0d23cc1ec51](https://github.com/magento/magento2/commit/4801d7486e16f200beede7a9afddb0d23cc1ec51)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-16 22:05] magento-engcom-team commented on #13296
Hi @galanis-a. Thank you for your report.
The issue has been fixed in magento/magento2#13402 by @vinayshah in 2.3-develop branch
Related commit(s):
 - [bd5834cd1e0e6000f5b6560d389673aa97a24cb2](https://github.com/magento/magento2/commit/bd5834cd1e0e6000f5b6560d389673aa97a24cb2)
 - [46feb0b9de7e17eccc809153067d046e889243f4](https://github.com/magento/magento2/commit/46feb0b9de7e17eccc809153067d046e

[2018-04-17 00:23] garimasingh-jasco opened #14723 "when you sort orders etc by date the page hangs with a message ""something went wrong" and you cannot access orders even if you log out and then login"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-04-17 01:21] iyezhou opened #14724 "setup get 502 when click ‘Next‘ at ‘Web Configuration‘ page"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1.6
3. MySQL 5.7.18

![2018-04-17_8-56-48](https://user-images.githubusercontent.com/26378961/38843249-b5a02448-4220-11e8-9688-96e95c254495.png)

[2018-04-17 02:53] reillo opened #14725 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions

1. Magento 2 community Edition (v2.2.2.0)
2. PHP 7.0
3. MySQL 5.6

### Steps to reproduce

1. Login to admin
2. Redirected to Admin Account Details
3. message "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later." keeps displaying
4. unable to navigate to any pages as it will redirect back to a

[2018-04-17 03:26] luke-denton-aligent commented on #11431
I have been fighting with the `top.links` container all morning, and have managed to track down the issue that is preventing the links from being ordered.

I found the issue lies in the class `Magento\Customer\Block\Account\Navigation`. The `getLinks()` function will, ahem, get the links added to the `top.links` container, and then proceed to parse them. The first step is to extract any links that

[2018-04-17 05:03] maheshWebkul721 commented on #8141
@magento-engcom-team Any update on it, how to resolve this issue.

[2018-04-17 05:06] jigar48 commented on #11114
vendor catalog is magento 2 core module how can we remove that ?

Problem still exist not solved

[2018-04-17 06:41] tmleeek commented on #9666
great news , thanks every one

[2018-04-17 07:00] krausweb commented on #5881
I had the same issue(Magento ver. 2.1.8), check your all
**web/secure/base_url** in core_config_data
value should by with **s**, example https://yoursite.com

[2018-04-17 07:19] visahardik opened #14728 "Unable to Place Order using admin"
When I am trying to place order using admin panel its doesn't work
### Preconditions

1. Magento 2.2.0

### Steps to reproduce

1. Login to Admin panel
2. Sales > Order > Create Order > Select Customer
3. Add product to cart
4. fill required information including payment and shipping method.
5. Click Submit Order

### Expected result

1. It should create new order.

### Actual result

1.  After cl

[2018-04-17 07:35] Triloworld commented on #11114
Sorry about not precise. /vendor catalog in custom modules create problem. I think recursive vendor in the right directory isn't problem. This is propably to second installation of composer with rewrite previous settings of path.

[2018-04-17 07:51] kaalar opened #14729 "Failure to designate order IDs when registering with an email already used."
### Preconditions
1. Magento version: 2.1.4 (tested on multiple sites)
2. PHP Version: PHP 7.0.16-1~dotdeb+8.1 (cli) ( NTS )

### Steps to reproduce
1. Place an order as a guest user with example@email.com
2. Wait until the order is complete.
3. Make another order by registering with the same email as the previous one (example@email.com)

### Expected result

1. The last order is successfully comp

[2018-04-17 07:52] priti-rathee commented on #14561
@latenights I think you are right it may be because of corrupted image because it is happening for some products only.
And Yes i can see image for that particular product. And when i tried to delete that image and saved the product i got the above error.

[2018-04-17 08:44] OZZlE commented on #5266
I made a patch for it: https://gist.github.com/OZZlE/67db00264ebfd94ea1f35e3998aa1c16

[2018-04-17 09:02] bexdoggett opened #14732 "Update to 2.1.12 from 2.1.10 causes checkout load to slow down"
### Preconditions

1. Magento 2.1.10
2. PHP Version 7.0.19
3. Percona for MYSQL 5.6.36-82

### Steps to reproduce

1. Add an item to the cart and go to the cart page
2. Click on the 'Proceed to Checkout' button to go to checkout
3. Upgrade from Magento 2.1.10 to 2.1.12
4. Add an item to the cart and go to the cart page
5. Click on the 'Proceed to Checkout' button to go to checkout

### Expected re

[2018-04-17 09:07] xtremeperf commented on #14721
@DocOlson ,

Yeah, it is intentional... I found the following rule published online in the Magento coding standards...

**_"Visual representation must rely only on HTML class attributes, CSS pseudo-classes and pseudo-elements, HTML tags, and form element’s type attribute and form elements state attributes"_**...  [**devdocs**](http://devdocs.magento.com/guides/v2.2/coding-standards/code-standard-d

[2018-04-17 09:08] pusachev opened #14733 "Filter by price range in layered navigation returns invalid result"
### Preconditions
**Platform**:  magento CE 2.2.0
**Serverside**: php7.0, Mysql 5.7

### Steps to reproduce
1. Go to product list page
2. Filter product by price range like 20 - 100 (we need one product with price $100)
3. In result set we don't have product with price 100

### Expected result
1.  List of products includes items with price from $20 to $100

### Actual result
1.In result set we don

[2018-04-17 09:15] DocOlson commented on #14721
Ok, thanks for clarifying.

[2018-04-17 09:15] #14721 closed, assigned to nobody

[2018-04-17 09:58] rstylenl commented on #14619
update to 2.2.3. It's fixed threre!

[2018-04-17 10:17] leonvisscher opened #14734 "Get "unable to unserialize value" error on all queries"
### Preconditions
1. Clean Magento 2.3-develop branch install
2. Tried with PHP 7.1.16 and PHP 7.0.x
3. Nginx webserver on docker env.

### Steps to reproduce
1. Send any valid GraphQL query to http://magentostore/graphql
Headers:
'Content-Type': application/json
'Accept': application/json

### Expected result
1. Data as result

### Actual result

`{
    "errors": [
        {
            "debugMes

[2018-04-17 10:45] magento-engcom-team commented on #14669
Hi @denistrator. Thank you for your report.
The issue has been fixed in magento/magento2#14715 by @Karlasa in 2.2-develop branch
Related commit(s):
 - [888d8283f69b50873b508c0fa38836938e93bc33](https://github.com/magento/magento2/commit/888d8283f69b50873b508c0fa38836938e93bc33)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-17 10:45] magento-engcom-team commented on #13296
Hi @galanis-a. Thank you for your report.
The issue has been fixed in magento/magento2#13397 by @vinayshah in 2.2-develop branch
Related commit(s):
 - [20396d562f46ccc8914e764295ff99b40864bead](https://github.com/magento/magento2/commit/20396d562f46ccc8914e764295ff99b40864bead)
 - [a22b6fd60c5ff3d99ee7d48acd0d54bd13af19bb](https://github.com/magento/magento2/commit/a22b6fd60c5ff3d99ee7d48acd0d54bd

[2018-04-17 10:45] #14669 closed, assigned to Karlasa

[2018-04-17 10:45] magento-engcom-team commented on #4788
Hi @teokolo. Thank you for your report.
The issue has been fixed in magento/magento2#14338 by @DenisSaltanahmedov in 2.2-develop branch
Related commit(s):
 - [56811a821db00a62cc2072ef075841af45b62d6b](https://github.com/magento/magento2/commit/56811a821db00a62cc2072ef075841af45b62d6b)
 - [79621fb4ab7d7edee62f9091f35b2dc716e42217](https://github.com/magento/magento2/commit/79621fb4ab7d7edee62f9091f

[2018-04-17 10:45] #13296 closed, assigned to vinayshah

[2018-04-17 10:57] WindiceDev opened #14735 "imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s):.."
### Preconditions

1. I have imported the csv and got the data checked as well which was a success.
2. Verified if the image is available in the server also

### Steps to reproduce

1. in Magento 2.2.3 Add a CSV with proper images

### Expected result

1. The expected result is that the product image should be appearing on the main store

### Actual result

1. [imported resource (image) could not

[2018-04-17 11:02] PublicV0id commented on #7465
I have the same issue in 2.2.2

[2018-04-17 11:12] TechnoBuddhist commented on #5542
Can I just add a bit more info that might be helpful because it seems closely related if not part of the same issue. I'm on M2.2.3, no shipping extensions installed and I have a couple of stores on the same site. I only have Flat rate and Free shipping methods enabled. I have tested using both 1 page checkout and not.

I get the same "no route" error BUT only on the stores that aren't the 'Default

[2018-04-17 11:55] jnrbo opened #14740 "An error occurred on the server. Please try to place the order again."
I'm trying to test a module that I develop and I'm getting this error when i try to place the order. It isn't throwed by any of my code and I can not find out where is coming from.  Any tips?

- Magento 2.2.2
- Running on Docker
- Develop mod enabled

**payment-information** response:

`{"message":"An error occurred on the server. Please try to place the order again.","trace":"#0 \/var\/www\/html\

[2018-04-17 12:01] mysil2 commented on #12578
@albertomario It should be https://github.com/magento/magento2/pull/12936

[2018-04-17 12:25] #14734 closed, assigned to nobody

[2018-04-17 12:28] koopjesboom commented on #5429
@pboisvert Magento is a open source platform, GitHub is to help each other with open source related things, issues and advice. I hop you can help us with your solution on this matter. That is where this Githup platform is mentioned for. Thank you. I have the same issue.

[2018-04-17 12:36] kowsikm opened #14741 "configurable products not displaying"
cofigurable products are not displaying in the frontend

### Preconditions

magneto 2.0.18
php version 5.6

### Actual result

1.i have added a configurable product in catalog and while refreshing the web page its not displaying

[2018-04-17 14:20] magento-engcom-team commented on #9666
Hi @jsdupuis. Thank you for your report.
The issue has been fixed in magento/magento2#14711 by @rossmc in 2.1-develop branch
Related commit(s):
 - [6165e36c8d77640b0c3cab875afba978967266da](https://github.com/magento/magento2/commit/6165e36c8d77640b0c3cab875afba978967266da)

The fix will be available with the upcoming 2.1.15 release.

[2018-04-17 14:25] magento-engcom-team commented on #14741
@kowsikm thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-04-17 14:27] magento-engcom-team commented on #14740
@jnrbo please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-04-17 14:27] #14740 closed, assigned to nobody

[2018-04-17 14:34] robbertstevens opened #14743 "Automaticly subscribe customer for newsletter"
When saving a customer after you visited the newsletter page, customer is automaticly signed up for newsletter.

### Preconditions

1. 2.1.12   Community
2. PHP 7.0.28-1

### Steps to reproduce

1. Go to the customer in the backend.
2. Go to the newsletter tab
3. Don't touch anything!
4. Save customer

### Expected result

1. Customer is the same as before you saved it, because you didn't touch an

[2018-04-17 14:34] stormbyte opened #14744 "Order emails send from the administration panel not send in the correct css store language"
### Preconditions
PHP 7.0.29
Magento 2.2.2
Admin language **en_US**
Website language **nl_NL**

### Steps to reproduce
1. Place an order in the website. "The guest will receive a email with the nl_NL stylesheet."
2. Login into the admin panel, make sure the admin is still in en_US.
3. Goto the Order overview.
4. Open the order just placed.
5. Press the button **Send Email** and acknowledge the ema

[2018-04-17 14:36] magento-engcom-team commented on #14724
@iyezhou thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-04-17 14:38] #14723 closed, assigned to nobody

[2018-04-17 14:45] magento-engcom-team commented on #14732
Hi @bexdoggett Thank you for reporting
Please provide more details on performance numbers and measurement methods you use to verify.

Thanks

[2018-04-17 14:53] NerminPh opened #14745 "unserialize issue when Adding Product list catalogue widget."
Tried to insert catalog products list widget to my website with the following condition:
Price is greater than 100 but it gives me the following error.

**Preconditions**
2.1.8 Community
PHP 7.0.28-1

**Steps to reproduce**
Go to content > pages > insert widget > catalog products list widget > add condition price more than 100 > save

**Expected result**
In front page Product listing which has pri

[2018-04-17 16:34] joshdavenport commented on #11816
Sometimes issues occur only in a production environment and having a source map for easier analysis is useful.. just saying.

[2018-04-17 16:43] peterjaap commented on #4112
This is still not fixed for the AnchorUrlRewriteGenerator.

This is the patch I'm using in the meantime;

[code]

[2018-04-17 16:46] rstylenl commented on #14617
Added some more debug info to storeRepository.php on line 74 and 109. (those are creating the error.)
Added $id. To know which store id was causing the issue.

Fixed the problem. By removing the database tables for stores. (we didn't use anymore with the requested ID).

catalog_category_flat_store_<id>
sequence_creditmemo_<id>
sequence_invoice_<id>
sequence_rma_item_<id>
sequence_order_<id>
sequen

[2018-04-17 16:46] #14617 closed, assigned to nobody

[2018-04-17 16:51] peterjaap commented on #4112
Hm it seems that @hostep [already applied this fix](https://github.com/magento/magento2/pull/7667/files) but later on it was reverted again.

[2018-04-17 17:56] ben91376 commented on #9931
What release will this be in?   2.3?

[2018-04-17 18:15] magento-engcom-team commented on #9666
Hi @jsdupuis. Thank you for your report.
The issue has been fixed in magento/magento2#14710 by @rossmc in 2.3-develop branch
Related commit(s):
 - [abd7be087cebeae8109f8d998d24361cedb2d554](https://github.com/magento/magento2/commit/abd7be087cebeae8109f8d998d24361cedb2d554)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-17 18:15] magento-engcom-team commented on #12323
Hi @Avinashsain. Thank you for your report.
The issue has been fixed in magento/magento2#14710 by @rossmc in 2.3-develop branch
Related commit(s):
 - [abd7be087cebeae8109f8d998d24361cedb2d554](https://github.com/magento/magento2/commit/abd7be087cebeae8109f8d998d24361cedb2d554)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-17 18:15] magento-engcom-team commented on #11059
Hi @schmengler. Thank you for your report.
The issue has been fixed in magento/magento2#14621 by @mastiuhin-olexandr in 2.3-develop branch
Related commit(s):
 - [948e5fad1b36c92ab78e2762efbc1781fcf7f66a](https://github.com/magento/magento2/commit/948e5fad1b36c92ab78e2762efbc1781fcf7f66a)
 - [c5573606d5441e6cd0f576926dd0d755583ebcac](https://github.com/magento/magento2/commit/c5573606d5441e6cd0f576

[2018-04-17 18:24] mattwellss commented on #9516
Since config.php can't be reliably used to disable a module, I'll suggest composer's [replace](https://getcomposer.org/doc/04-schema.md#replace) as an alternative. Here's a completely hypothetical example composer.json of a "remove modules" library:
[code]
This module (`remove/these-modules`) must be installable. I'm currently tracking it in the main repository and using a `path` repository, but a

[2018-04-17 18:37] clementblanco commented on #2354
https://mage2.pro/t/topic/200

[2018-04-17 19:36] spectravp commented on #12828
I have this issue with Magento 2.2.3. It's great that is appears resolved in the 2.3 branch, but it is now more than 2 months since that post and 2.3 isn't released.

[2018-04-17 19:42] thiagosantos commented on #9570
And it will ?

[2018-04-17 19:43] bruno-serfe commented on #8504
Hi guys any update on this?

[2018-04-17 20:08] spectravp commented on #12828
This fix does not work; manually applied it to 2.2.3, Safari 11.1, Mac High Sierra

[2018-04-17 20:15] Grohotun opened #14746 "zxcvbn.min.js is viewed in Security scan as a thread"
**CE 2.2.3**

I've enabled password strenght on frontend & ran security scan.
And got this:

**Magento Compromise Injection**

_Your site is compromised with injected JavaScript. (226)
The malicious code signature(s) has been found in resources:
https://XXXXX.ru/static/version1523985877/frontend/YYYYY/ZZZZ/ru_RU/Magento_Customer/js/zxcvbn.min.js_

If I disable password strenght - security scan pas

[2018-04-17 20:37] spectravp commented on #12428
Adding the error handler to require did not work for me, but turning on js Bundling solved the issue for me. Credit to @fluential

[2018-04-17 21:19] tohann opened #14747 "Newsletter subscription confirmation message does not display after clicking link in email"
### Preconditions

1. Magento 2.2.x

### Steps to reproduce

1. Visit the store homepage.
2. Enter a valid email address in the newsletter subscription box, press submit.
3. In the subscription confirmation email, click on the link to confirm the subscription.

### Expected result

1. Magento processes the subscription confirmation.
2. Magento redirects the user to the homepage with a success mess

[2018-04-17 21:33] scottsb commented on #13583
I also just saw this error, and it came from a Paradox Labs module (the core TokenBase, not CIM itself). Seems to be a third-party bug, not a core Magento bug.

[2018-04-17 23:54] reillo commented on #10071
Yes, resetting the password works.

[2018-04-18 01:10] iyezhou commented on #14724
@magento-engcom-team
My installation procedure is:
1. git clone https://github.com/magento/magento2.git
2. composer install
3. Config nginx virtual host
4. User browser, open http://magento.xxx.com/setup/
5. next to `Readiness Check`, next to `Add a Database`, next to `Web Configuration`, then can not next to `Customize Your StoreNext`

[2018-04-18 01:10] iyezhou commented on #14724
@magento-engcom-team
My installation procedure is:
1. git clone https://github.com/magento/magento2.git
2. composer install
3. Config nginx virtual host
4. User browser, open http://magento.xxx.com/setup/
5. next to `Readiness Check`, next to `Add a Database`, next to `Web Configuration`, then can not next to `Customize Your StoreNext`

[2018-04-18 03:03] tudn9x opened #14748 "Why use fixed code for typeMapping in \Magento\Framework\EntityManager\TypeResolver ?"
Hi I have a question, I found some fixed code in this file and I don't understand why you guy do it. Could you please explain it?
Does anyone know?

[code]

[2018-04-18 05:41] subbu-d commented on #14667
Yes, I have noticed the same issue as it took more time to load the product's primary image.

[2018-04-18 06:07] moderncodes commented on #11280
I not sure if I can reopen the issue, which has been closed by @magento-engcom-team .
Maybe need to create new one than reference this one?

[2018-04-18 06:32] rohittechmahinra commented on #14583
Any update on this?

[2018-04-18 06:57] wajahatbashir opened #14749 "Add Products Manually Configuration Button Issue"
Add Products Manually Button in configuration is not working properly.

I already create simple products in my admin catalog, but in during configurable product when i configure simple product then i'm facing trouble. Add Products Manually Button is not showing. when i create new simple product from configure > attribute and then select attribute and after finish this long process complete then (A

[2018-04-18 07:22] #14748 closed, assigned to nobody

[2018-04-18 07:26] Tonzr commented on #13473
Is there an "hot-fix" available for this problem? Would appreciate it if i could use this module again.

[2018-04-18 08:14] BabliDey commented on #3827
In m custom theme app/design/frontend/Mytheme/theme-frontend-shop/Magento_Checkout/layout/checkout_cart_index.xml

<?xml version="1.0"?>

<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" layout="1column" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <update handle="checkout_cart_item_renderers"/>
    <body>
        <move element="cart.

[2018-04-18 08:30] al1357 opened #14750 "Address update issue when using VAT id and automatic assignment to customer group."
### Preconditions

1. Magento CE 2.2.3
2. PHP 7.0.2
3. MySql 5.6
4. Change Magento settings:
Customers > Customer Configuration > Create New Account Options
Enable Automatic Assignment to Customer Group > yes
Tax Calculation Based On > Billing Address
Default Group > General
Group for Valid VAT ID - Domestic > Wholesale
Group for Valid VAT ID - Intra-Union > General
Group for Invalid VAT ID > Reta

[2018-04-18 08:52] jeroenschipper commented on #14406
@magento-engcom-team Could you give any status updates?

[2018-04-18 09:00] liamfirth commented on #13511
We're also having the same issue on 2.2.0.

1. Login to customer account
2. Refresh customer account page, or add a product to basket and go to cart
3. Shipping method returns 401 and customer returned to /customer/account/login

[2018-04-18 09:07] iyezhou commented on #14724
I have solved the problem, It is the reason of PHP version. I update PHP vesion to 7.1.16, then right

[2018-04-18 09:15] arijit-de commented on #10666
I am facing the same problem. Is there any update on this?

[2018-04-18 10:15] magento-engcom-team commented on #14572
Hi @PierreLeMaguer. Thank you for your report.
The issue has been fixed in magento/magento2#14676 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [a712d3e69c3c7d968d827fbcf5faa366e6db9e9d](https://github.com/magento/magento2/commit/a712d3e69c3c7d968d827fbcf5faa366e6db9e9d)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-18 10:17] ferrazzuk commented on #8770
Hey guys I investigated this a while ago so wrote some information about app state here:

https://magento.stackexchange.com/questions/222698/magento-2-how-to-properly-set-app-state-area-code-setareacode-getareacode/222699#222699

[2018-04-18 10:24] adampmoss commented on #6382
I've discovered the cause of the problem, but am yet to find a solution.

In **magento/module-swatches/Helper/Media.php** it calls `getSwatchAttributeImage()` which then calls `getFolderNameSize()` which calls `getImageConfig()` - this is what's responsible for getting the image configuration.

[code]

The code was looping through 4 registered themes starting with our custom theme, setting the dat

[2018-04-18 10:37] jakwinkler opened #14754 "Product Page: Validation of checkboxes in custom forms does not work"
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. Add a required checkbox to a form, for example subscribe.phtml in page footer (or anywhere else on the page)
2. Click "Subscribe"

### Expected result

1. Checkbox needs to be validated if it is not checked.

### Actual result

1. Checkbox is not validated
2. https://screencast.com/t/arxkq6UZo0l1
3. I am able to submit form with field

[2018-04-18 11:51] tig-robertgrundeken commented on #11247
Still having the problem with branch 2.2.4-preview. Is it already merged in there?

[2018-04-18 12:29] adampmoss commented on #6382
So I've looked into this further the function `getImageConfig()` is only used by the swatches module and I don't see why looping through the themes is necessary. There are other modules such as `Magento_Catalog_Block_Product_View_Gallery::getConfigView()` where this isn't the case.

We've been able to get around this issue by matching the way `Magento_Catalog_Block_Product_View_Gallery::getConfigV

[2018-04-18 13:25] ritu-wp commented on #13995
Is there any solution for this one yet? I am facing the same on trying to reindex catalogsearch_fulltext  after an upgrade to 2.2.3 EE. I also upgraded elastic search and it seems to be running ok.

[2018-04-18 13:29] NerminPh commented on #14745
Any Advice

[2018-04-18 14:10] magento-engcom-team commented on #14735
Hi @WindiceDev
Please provide more information on images and csv file you are using (image path, csv format, etc).

Thanks!

[2018-04-18 14:19] #14449 closed, assigned to nobody

[2018-04-18 14:20] #14237 closed, assigned to nobody

[2018-04-18 14:21] #14159 closed, assigned to nobody

[2018-04-18 14:31] bruno-serfe commented on #13866
Hi Guys, Is this going to be released in Magento v2.3 ?

thanks,

[2018-04-18 14:38] francescopis commented on #7056
@magento-engcom-team any news?

[2018-04-18 14:40] ferrazzuk commented on #14663
@magento-engcom-team pull request created.

[2018-04-18 14:42] bruno-serfe commented on #13415
Hi @Deep256 any update on this? thanks!

[2018-04-18 15:47] hayatbiralem commented on #12986
Hi everyone,

I had to solve this problem for my client immediatelly so I wrote a custom module for this. You can install it via composer.

Source files is in [here](https://bitbucket.org/irmdigital/decimalqtyinvoicefix).

Real problem is that somehow `getIsQtyDecimal` function in `Magento\Sales\Model\Service\InvoiceService` always return `false`, I don't know why. When I just plug-in `prepareInvo

[2018-04-18 15:57] #14671 closed, assigned to nobody

[2018-04-18 15:57] mageuser opened #14758 "Show taxvat on email/pdf order - M2"
Magento 2.2.3

How can i show taxvat on emails/pdf orders.

In Stores>Configuration>Customers>Customer Configuration>Address Templates>HTML AND PDF

Im trying it:

    {{depend taxvat}}VAT: {{var taxvat}}{{/depend}}

But VAT doesn't appear.

[2018-04-18 16:39] magento-engcom-team commented on #12325
Hi All, we saw an attempt to fix this issue, but the code has not been delivered to mainline.
See gist: https://gist.github.com/magento-engcom-team/d24235a1e964e116784f5ebf7388d777

[2018-04-18 17:29] Top-CMS commented on #12986
Hi hayatbiralem,

Thanks for creating this module....this fixed it for me on Magento 2.2.3.

You're my hero for today!

[2018-04-18 18:17] easten20 commented on #13511
I am also having the same issue on 2.2.3, however it happens whenever I want to make a payment,
It applies only to logged-in users and not guest.
somehow the payment information api (rest/default/V1/carts/mine/payment-information) return 401
and does not recognize customer's session.

This strange behaviour occurs only when the number of payment methods
quite a lot. In my site, I've integrated aro

[2018-04-18 22:36] Grumag commented on #7977
Not that I am aware of. We had to stop using the site until it is resolved. Awesome.

[2018-04-18 23:44] HongMarketingInc commented on #7977
Files changed (1)

   - +3-0
   Mvendor/magento/module-paypal/Model/Payflowpro.php
   <https://bitbucket.org/hmihmi/maplewellness/commits/c7b2c10c279c1e73b71c2ff9c52736a6f653ce6c#chg-vendor/magento/module-paypal/Model/Payflowpro.php>

File vendor/magento/module-paypal/Model/Payflowpro.php MODIFIED
Side-by-side diff View file
<https://bitbucket.org/hmihmi/maplewellness/src/c7b2c10c279c1e73b71c2ff9c

[2018-04-19 00:09] oefterdal commented on #14606
I still haven't figured out of this issue.

[2018-04-19 00:28] brendanbell commented on #14640
Hi,

I agree with the above. I just did a new install and the above issue persists as detailed.

Magento 2.2.3
Ubtuntu 16.04
PHP 7.0.28-0ubuntu0.16.04.1
nginx version: nginx/1.10.3 (Ubuntu)

[2018-04-19 06:10] scottsb commented on #13583
This seems to be a bug in the Paradox Labs TokenBase module, not Magento. (The TokenBase module is included with both their Authorize.net CIM product as well as Adaptive Subscriptions.) It also seems they already resolved it in a version released in September 2017, so you may just need to upgrade.

[2018-04-19 06:36] Karlasa commented on #14743
2.1.12 has the issue, but cant reproduce on 2.2.3

[2018-04-19 06:49] Karlasa commented on #14743
fixed in 2.1-developer. You can close this issue

[2018-04-19 07:07] LucScu commented on #6655
@sjhill-rwcc yes, i did it correctly, but this trick not works for me, thx for your hint.

[2018-04-19 07:26] sunilit42 commented on #12362
Hello,

Any Update on that?

[2018-04-19 07:39] melwinVincent opened #14761 "Configurable product not working as expected"
### Preconditions
Magento version 2.2.3
PHP 7.0.29

### Steps to reproduce
Added a custom attribute = color_2 and I selected dropdown for the input type
clicked add option and added 3 colors
Scope is set to Global and unique value to Yes

I added 3 different color images to the product and and everything seems working fine.
Now choose a color

### Expected result
![image](https://user-images.githu

[2018-04-19 07:41] melwinVincent commented on #14761
![image](https://user-images.githubusercontent.com/12426903/38977789-7642d1e0-43c6-11e8-9624-97ba080acdb9.png)

![image](https://user-images.githubusercontent.com/12426903/38977797-80e22ce0-43c6-11e8-9c05-4b305c4b1c7c.png)

See 2 red dress in the slider when I selected red color

[2018-04-19 07:48] and3k5 commented on #11526
I'm experiencing the exact same problem.

Using WampServer (on Windows 10) Version 3.1.3 (64bit) with PHP 7.1.16.
Running Magento version 2.2.3

@magento-engcom-team
Is Magento even made for Windows? 😕

[2018-04-19 07:53] udovicic commented on #9807
Just to share some info on this, I have been in touch with Magento EE support on this one, and official standpoint is that this is not a bug, but rather planned feature. So it is kind of misleading to have it here marked as *bug report* and assigned to *Community Dashboard* including the *internal ticket* which is a dead end. Perhaps this should be adjusted as well so others can be aware of status

[2018-04-19 07:56] melwinVincent opened #14762 "Configurable Product Dropdown not working as expected"
### Preconditions
Magento version 2.2.3
PHP 7.0.29

### Steps to reproduce
Added a custom attribute = color_2 and I selected dropdown for the input type
clicked add option and added 3 colors
Scope is set to Global and unique value to Yes

I added 3 different color images to the product and everything seems working fine.
Now choose a color, I expected the selection automatically changes, instead wh

[2018-04-19 07:56] #14761 closed, assigned to nobody

[2018-04-19 08:00] damodamo commented on #8927
I can reproduce this error in Magento 2.1.5.

`Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Framework\Stdlib\ArrayManager::set() must be of the type array, null given, called in /home/jts/public_html/vendor/magento/module-catalog-staging/Ui/DataProvider/Product/Form/Modifier/ScheduleDesignUpdate.php on line 66 and defined in /home/jts/public_html/vendor/magento/framework/Stdlib/Ar

[2018-04-19 08:00] kshaa commented on #13433
Can confirm, having the same issue with the same preconditions.

[2018-04-19 08:01] barryvdh commented on #13962
So is this fixed? Or what happened?

[2018-04-19 08:43] robbertstevens commented on #14743
Where is the commit that fixes this? I can't upgrade so I need to know how to fix it. @Karlasa

[2018-04-19 09:36] Karlasa commented on #14743
@robbertstevens

https://github.com/magento/magento2/commit/bc9f2c091842657cd0488fc5a59bd942347db903#diff-143aa8bdac5b6f9e9de6a342764abb04

app/code/Magento/Customer/Controller/Adminhtml/Index/Save.php file line 256

[2018-04-19 09:51] Moulbac opened #14766 "Error create customer in process create order from admin backend"
### Preconditions

Magento 2.1.10

### Steps to reproduce

1. Login to admin panel
2. Sales > Order > Create Order > Create new customer

### Expected result

1. It should display custome create order

### Actual result

After clicking submit nothing happen and the error below is displayed in the error console javascript

1. [Console error]
TypeError: $(...) is null[En savoir plus]
scripts.js:118:

[2018-04-19 10:13] ant-workaholic commented on #13889
Have the same issue, which reproduces randomly. I have some js errors and my console. The main reason as I found that this request
 http://mysite.com/customer/section/load/?sections=&update_section_id=false&_=1524132016526
Retrieves this response {"message":"No such entity with customerId = "}
It seems that something happens with my customer session and this happens real randmoly I can't catch exa

[2018-04-19 10:35] peterjaap commented on #8115
This also happens when `tax/defaults/postcode` in `core_config_data` has a `NULL` value.

[2018-04-19 11:00] depakmurthy opened #14767 "M 2.2.3 - install extension from admin page (web setup wizard)"
### Preconditions

1. Magento version CE 2.2.3
2.  PHP 7.0.27
3. MySQL 5.5
4. godaddy linux hosting

### Steps to reproduce

1.  login to Magento 2.2.3 admin page
2.  Navigate to system -> tools -> web setup wizard
3.  Click Extension Manager
4.  Click review and install
5.  select any extension to install, in my case i choose amzn/amazon-pay-and-login-magento-2-module

### Expected result

1.  th

[2018-04-19 11:12] erfanimani commented on #12362
Just offering my thoughts here — this is obviously a serious bug causing lost sessions, empty carts and lower conversions (and no offence, but the older generation probably still double-clicks web links!)

What are your alternatives though? Wait for this fix to be included in the next version? What if that's 2.3? What if you can't do a major upgrade and need to wait for the back-port? Your best be

[2018-04-19 11:27] yogeshkarodiya opened #14768 "Braintree payment gateway Stored Card issue with multiwebsite when order created from Admin"
### **Preconditions**
Checking with Magento2.2.0
This issue is only with Admin Order.
For multi-website setup. Configuration of Brain tree payment gateway on website level .

### **Steps to reproduce**
Configure website 1 with payment action authorize and capture.
Configure website2 with payment action Authorize only.

### **Expected result**
It should take value of payment action as per configura

[2018-04-19 11:50] magento-engcom-team commented on #758
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#14675 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [8c023494d9ee2f4350a91f8d2139a31689cb4512](https://github.com/magento/magento2/commit/8c023494d9ee2f4350a91f8d2139a31689cb4512)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-19 12:27] jigar48 commented on #11114
but why its displaying the problem in this path instead of the custom extension.
vendor\psr\log\Psr\Log\Test\LoggerInterfaceTest.php on line 14

I already tried with composer clear cache also composer update and install but nothing work for me

I am still looking for the hope!

[2018-04-19 12:29] gewaechshaus commented on #12362
Link to most relevant PR
https://github.com/magento/magento2/pull/14487

[2018-04-19 12:35] ajaykumar03 commented on #14768
Facing same issue with multi- website  setup when order placed from admin for second website the payment action as configured on second website same payment action  should be considered.When order placed on second website from admin with saved/new card.

[2018-04-19 12:57] SpencerRohan commented on #13583
Our team hit this bug in February.  We believe that Magento's codebase changed for at least versions 2.1.10 and 2.1.11 without doing a composer update. Meaning Magento merged code changes to a older version. magento/magento2#1746

[2018-04-19 13:12] Lukas1Komarek commented on #4952
@adbelkina Your linked article is describing a problem in Magento 1.X

[2018-04-19 13:44] OZZlE commented on #10520
This is reproducible on Apple Safari (desktop) Version 10.1.2 (11603.3.8)

Not reproducible in latest though (Version 11.1 (13605.1.33.1.2) )

[2018-04-19 14:11] langstn commented on #10009
Hey @mustdobetter --- It's been several months. Did you by chance come up with a work-around in lieu of a core fix?

[2018-04-19 14:11] rhertogh commented on #3423
@magento-engcom-team please reopen

[2018-04-19 14:16] ishakhsuvarov commented on #3423
Hi @rhertogh
Reopening per your request.

[2018-04-19 14:17] ajayjaiswalweb commented on #3457
Hi, @keyurshah070 @sevos1984 @slavvka
I am getting same Error for Customer Login.

We have an old customer's on the website who have not entered their gender when they signup in past. Now we have made Gender required for the signup on the website. Here the problem comes - when old customer trying to login to their account they couldn't able to log in. They are getting Error:- "Gender Required" whe

[2018-04-19 14:31] rhertogh commented on #3423
Thanks, current 2.1.x version of magento (we're using 2.1.12) also still shows the same behavior (chrome works, other browsers don't).

[2018-04-19 14:37] VirtusB commented on #3423
Ours is a little different. "Add to Cart" is translated fine initially, but upon clicking on the button it says "Adding" then "Added", then it resets to "Add to Cart", so after adding a product to the cart none of the translations are effective.

It doesn't matter whether it's Chrome or Firefox

[2018-04-19 15:09] igoreus-barmaleus opened #14773 "Cart totals api error"
The issue on the cart page. API to extract cart totals fails. If quote address extension attribute isn't empty then it causes error.

### Preconditions

1. Magento 2.2.3
2.

### Steps to reproduce

1. Add "Endurance Watch" product to the cart (the sample data should be installed).
2. Open Developer Tools
3. Check XHR requests under Network tab
4. You can see 500 error for the totals request

### E

[2018-04-19 15:13] julienha opened #14774 "You cannot define a correlation name 'company_order' more than once"
In the administration, when viewing orders from a customer, an error "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later." occurred.

### Preconditions

Magento version : 2.2.3 Enterprise with b2b extension
PHP version : 7.0.23
MySQL version : 5.7.20

### Steps to reproduce

1. Create a company
2. Create a new c

[2018-04-19 15:13] igoreus-barmaleus commented on #14773
One important note. This error can occur for other functions.  Magento\Framework\Api\DataObjectHelper::populateWithArray method copies extension attributes of incompatible types.

[2018-04-19 16:05] Agileflow commented on #12777
Had the same issue. Many thanks  @bastianhilton

[2018-04-19 16:53] magento-engcom-team commented on #14774
@julienha thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source on

[2018-04-19 16:53] #14774 closed, assigned to nobody

[2018-04-19 17:43] MarioHdpz commented on #14746
Exactly same thing is happening to me.

[2018-04-19 18:05] magento-engcom-team commented on #4389
Hi @twslade. Thank you for your report.
The issue has been fixed in magento/magento2#12764 by @AlexandrKozyr in 2.2-develop branch
Related commit(s):
 - [30b512390dc22ac03079bef839b91ae254834bdc](https://github.com/magento/magento2/commit/30b512390dc22ac03079bef839b91ae254834bdc)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-19 18:05] #4389 closed, assigned to AlexandrKozyr

[2018-04-19 18:05] magento-engcom-team commented on #13765
Hi @erikhansen. Thank you for your report.
The issue has been fixed in magento/magento2#14314 by @andrewbess in 2.2-develop branch
Related commit(s):
 - [d2c6bd06cbfb427d2a802c4ba73d630429873ded](https://github.com/magento/magento2/commit/d2c6bd06cbfb427d2a802c4ba73d630429873ded)
 - [42350cd52e72bb4885e6e599a1760a2b14607d06](https://github.com/magento/magento2/commit/42350cd52e72bb4885e6e599a1760a

[2018-04-19 18:40] erikhansen commented on #13951
@magento-engcom-team I am experiencing this same issue on Magento 2.2.3. Glad to hear it's going to be fixed in a future release. Can you share a link to the commit?

@All - I had a role that had "Customers" selected, but I got an error when loading customer in the backend. I had to select these two additional items before I could get the customer to load in the admin:

![magento admin showmecable

[2018-04-19 19:17] PawanKumarN commented on #10941
hi @samanaveen .I have added abouve code \vendor\magento\module-catalog-search\Model\ResourceModel\Fulltext\Collection.php  above below line

but i got error : Uncaught Error: Class 'Magento\CatalogSearch\Model\ResourceModel\Fulltext\Phrase' not found

[2018-04-20 04:07] rafaelcentric opened #14776 "Invalid Document"
The site is down. Error 500
After running php bin/magento setup:upgrade this is my error

Invalid Document
Element 'preference', attribute 'type': [facet 'pattern'] The value 'community\e-ready-import\Adminhtml\Import\Download' is not accepted by the pattern '(\\?[a-zA-Z-ÿ][a-zA-Z0-9-ÿ]*)(\\[a-zA-Z-ÿ][a-zA-Z0-9-ÿ]*)*'.
Line: 175

Element 'preference', attribute 'type': 'community\e-ready-import\Ad

[2018-04-20 05:40] divyakrishnashetty opened #14777 "Magento2 : Fatal error when we set minimum order amount"
### Preconditions

1. Magento ver. 2.1.7
2. Developer mode is enabled
3. In app/bootstrap.php i have enabled the error message display(Cause i was getting HTTP 500 error)

### Steps to reproduce
1. System>Configuration>Sales>Sales>Minimum Order Amount>Enable and specify the amount and description message
2. Login
3. Try to add product to cart/update any item in your cart(which is greater than the

[2018-04-20 05:52] divyakrishnashetty commented on #14777
I am able to reproduce the issue in Magento ver. 2.1.5 as well.

[2018-04-20 07:41] sunilit42 commented on #14118
Hello @magento-engcom-team

Have you checked @emil-tw  video clip.

Any update on this issue?

[2018-04-20 07:44] OlgaBurtyka commented on #7874
This issue appear when we save product as well. When we un-assigned category with big qty of products and press save product. Because this event also called "catalog_category_save_after". Will be good move logic from this Observer to separate reindex. I had this problem on magento 2.2.3 and with category qty of products > 2-3k

[2018-04-20 08:27] magento-engcom-team commented on #14776
Hi @rafaelcentric
Unfortunately we can not provide any assistance with issues caused by third-party customizations. Please report the issue directly to the extension vendor.

Thanks

[2018-04-20 08:27] #14776 closed, assigned to nobody

[2018-04-20 08:30] ifekaj opened #14780 "Configurable product variations missing on frontend"
### Preconditions

1. Magento 2.2.3 in development mode
2. PHP 7.0.29
3. Centos 7.4

### Steps to reproduce

1. Create new configurable product with two attributes: color and size
2. Add ten different product variations, one color and ten different sizes. For example: Color - Black; Sizes - 25, 26, 27... 34
3. Add stock for each variation
4. Save product

### Expected result

1. All product variat

[2018-04-20 08:33] Deep256 commented on #13415
HI @bruno-serfe.
Yes. I want create a pull-request with update today.

[2018-04-20 08:36] magento-engcom-team commented on #14221
@taimaiduc Thank you for finding another issue.
I would suggest to continue tracking under that reference.

Closing

[2018-04-20 08:36] #14221 closed, assigned to nobody

[2018-04-20 08:53] shimonah commented on #12655
Fix that ferrazzuk provided breaks functionality for Magento EE in checkout. Because enterprise modules use "extension_attributes".
![fix](https://user-images.githubusercontent.com/22254506/39041460-7690512e-4491-11e8-9965-0a3e23eec474.jpg)

[2018-04-20 09:30] rafaelcentric commented on #14776
That's what I thought too ^_^ thank you for responding though. I already did report the issue, I was just hoping that someone from  the magento community would have some suggestions as to why this is happening. Thanks.

[2018-04-20 09:30] brijeshjp2006 commented on #11190
I Solved this error on my website.
After grepping Magento code.
Please check solution on this URL answer given by me
it will helpful for all
https://magento.stackexchange.com/questions/222387/error-during-compilation-after-upgrade-in-magento-2-2-3

[2018-04-20 09:35] mazestricks commented on #8681
Thanks it worked on my end! I created a module based on your instructions @gclift Currently using Magento 2.1.3

[2018-04-20 09:45] stormbyte commented on #6817
After debugging this issue further I have found a scenario where this is still happening.
Version of magento 2.2.2

The checkout page is accessible on the `{{base_dir}}/checkout` and `{{base_dir}}/checkout/`

In `vendor/magento/module-checkout/view/frontend/web/js/model/step-navigator.js:192`
[code]
The checkout url is forced to the `{{base_dir}}/checkout/` with a `#payment` resulting in a refresh

[2018-04-20 10:50] harshvardhanmalpani opened #14783 "Unable to unserialize value, string corrupted (2.1.10 -> 2.2.3 Upgrade)"
When upgrading Magento CE 2.1.10 to 2.2.3, This error shows up on Upgrade command:
Error converting field `product_options` in table `sales_order_item` where `item_id`=1 using **Magento\Sales\Setup\SerializedDataConverter**.
Fix data or replace with a valid value.
Failure reason: 'Unable to unserialize value, string is corrupted.'

The error is correct and is justifiable because the json string is

[2018-04-20 11:26] VZeroCool opened #14784 "Cart Price Rule not Working as Expected"
Cart Price Rule not working, Created a Rule which depends on Product Attribute.

### Preconditions

1. Magento CE 2.2.3 CE, Apache/2.4.23 , PHP version: 7.0.9, OS : Windows Server : Xampp

### Steps to reproduce

1. Create a Product Attribute with Named Brands.
2. Assign it to a Product.
3. Create Cart Price Rule for all websites and stores with All types of customer groups allow.
4. Create new Ac

[2018-04-20 11:32] fellnerarthur opened #14785 "Javascript error on cart page, after creating a cart rule"
Preconditions

    Magento 2.2.3 in developer mode
    PHP 7.0.27
    nginx/1.13.10

Steps to reproduce

    Create a new cart price rule in admin, for instance discount if subtotal is greater then 10
    Add a product into cart which has the price greater then 10
    Go to cart page

Expected result

    Summary to be updated with the discount amount from the created rule

Actual result

    A ja

[2018-04-20 11:49] koopjesboom commented on #11263
Typically magento fail. 3 branches and stable versions ahead and still the same bullshit. Yes I have the same issue but i have 5 the same issues from magento2 that are unsolved. Some of these problems are a few years old. Even Duplicated contend isn't solved in 2.2.3 Wow I am starting to hate this beta platform (magento) more and more every day but we all have to deal with it. Seems like they have

[2018-04-20 11:49] VZeroCool commented on #14784
I can also able reproduce this issue in 2.1 CE as well.

[2018-04-20 11:53] shyam100379 commented on #12362
Any updates? 2.2.3 got the same issue and we need to fix asap. We are currently in development process.

[2018-04-20 12:00] shyam100379 commented on #12362
It would be better to provide a quick fix to the solution rather than a whole upgrade i think. Like a patch which includes a file change, that kind of thing will suites here since it seems to be a small bug.

[2018-04-20 12:34] southerncomputer commented on #12362
you know programmatic fast loading of the backend causes failures as well. might be something lower level like redis causing trouble!

[2018-04-20 12:50] shyam100379 commented on #12362
@southerncomputer no, as i mentioned above, after i went to checkout and a single refresh takes me to empty cart.

[2018-04-20 13:26] devendra1991 commented on #10666
instead of running require command specify package name in composer.json file.
` "require": {
        "magento/product-enterprise-edition": "2.2.2",
        "composer/composer": "@alpha",
        "gene/bluefoot": "^1.0",
       ........
       ........
	"magento/mcom-connector": "2.0.9",
	**"magento/module-catalog-permissions": "100.2.1",**
	**"magento/extension-b2b": "^1.0"**
    },
`
also, verif

[2018-04-20 13:37] bruno-serfe commented on #3421
@gcampedelli I think is the same solution proposed here in this issue: https://github.com/magento/magento2/issues/3897

Do you have tried that? Is it working for you?

Thanks

[2018-04-20 13:51] gcampedelli commented on #3421
I solved it using the solution described in Varnish but for Magento 2.2.2. I didn't remove TTL from layout. But I managed to do it in Magento 2.2.2. When I switched to Magento 2.2.3 it happened again. Menu only displays in Checkout.

[2018-04-20 13:53] gcampedelli commented on #3897
I agree, this issue should be reopened. Menu is missing when using Varnish. The proposed solution using varnish settings only displays menu in checkout in Magento 2.2.3 and removing TTL is not the best solution for it.

[2018-04-20 13:54] aeu commented on #12362
@southerncomputer as far as we know it's a PHP7 issue, not Redis.  There was a fix provided by @acetronaut on Nov 27, 2017 that several posters have tested and works.

Stores are losing sales, I have seen this first hand and gotten more emails than I care to count from people saying they have tried to checkout and their cart is empty.  Not only are conversions are being lost, but they are being lo

[2018-04-20 13:56] bruno-serfe commented on #3421
@gcampedelli yes, I'm on v2.2.3 and "-p feature=+esi_ignore_https" varnish option didn't work for me, I had to perform an override of the Topmenu block on my theme layout xml.

[2018-04-20 13:59] gcampedelli commented on #3897
<IfModule mod_ssl.c>
<VirtualHost *:443>
   RequestHeader set X-Forwarded-Proto "https"
   #RequestHeader set X-Forwarded-Port "443"
   #ProxyRequests Off
   DocumentRoot /var/www/html/magento2
   ServerName mydomain.com
   ServerAlias www.mydomain.com
   Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

   <Directory /var/www/html/magento2>
       Options

[2018-04-20 14:00] gcampedelli commented on #3421
Well, the solution just worked after changing some Apache 2 settings.
Here is my Apache 2 configuration

RequestHeader set X-Forwarded-Proto "https" #RequestHeader set X-Forwarded-Port "443" #ProxyRequests Off DocumentRoot /var/www/html/magento2 ServerName mydomain.com ServerAlias www.mydomain.com Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
<Directory

[2018-04-20 14:13] ishakhsuvarov commented on #14777
@magento-engcom-team give me 2.2-develop verification instance

[2018-04-20 14:13] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento instance for you

[2018-04-20 14:16] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento instance for you

[2018-04-20 14:29] ishakhsuvarov commented on #14777
@magento-engcom-team give me 2.2-develop verification instance

[2018-04-20 14:29] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on 2.2-develop verification instance for you

[2018-04-20 14:33] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on 2.2-develop verification instance for you

[2018-04-20 14:43] ishakhsuvarov commented on #14777
@magento-engcom-team give me 2.2-develop verification instance

[2018-04-20 14:43] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on 2.2-develop verification instance for you

[2018-04-20 14:52] udovicic commented on #12362
Not that it helps, but there is also a priority ticket opened on EE support for EE client with Magento ticketing system. But there is no response, same as here. We patched it for now ourselves, using the snippets provided in this thread.

[2018-04-20 14:57] rocketweb opened #14788 "Impossible to change configurable product attributes position on PDP"
Configurable Product Attributes on product details page are not sorted according to configurable product attribute option position.
It's impossible to change configurable product attributes position.

### Preconditions

Magento 2.2-develop

### Steps to reproduce

1. Create attributes used for creating configurable product:
First attribute:  'size' with sort_order 100
Second attribute: 'color' wit

[2018-04-20 15:02] aeu commented on #12362
Thanks @udovicic, good to know.

[2018-04-20 15:03] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on 2.2-develop verification instance for you

[2018-04-20 15:13] ishakhsuvarov commented on #14777
@magento-engcom-team give me 2.2-develop verification instance

[2018-04-20 15:13] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-04-20 15:39] bruno-serfe commented on #9988
Hi @johnmpasq I think you are referring to $conditionType right? I've tried that and I've the exactly same issue..

[2018-04-20 15:45] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-04-20 15:49] ishakhsuvarov commented on #14777
@magento-engcom-team give me 2.2-develop verification instance

[2018-04-20 15:49] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-04-20 15:50] magento-engcom-team commented on #14777
Hi @ishakhsuvarov, here is your [Magento instance](http://i-14777.engcom.dev.magento.com).
Admin access: [http://i-14777.engcom.dev.magento.com/admin](http://i-14777.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`

[2018-04-20 16:01] dfvincent commented on #10365
I'm having the same issue when I type and migrate a Magento CE 1.7.0.2 to Magento Open Source 2.2.3.
Here are the steps I used:
(1) Did a fresh install of 2.2.3
(2) composer config repositories.magento composer https://repo.magento.com
(3) composer require magento/data-migration-tool:2.2.3
(4) updated my data-migration-tool/etc/1.7.0.2/config.xml file to contain my source (1.7.0.2)db and destinati

[2018-04-20 16:03] dfvincent commented on #10365
I WAS successful in migrating from MCE 1.7.0.2 to MOS 2.0.18
BUT when I tried to further upgrade MOS 2.0.18 to MOS 2.2.3,
the error returns:
[2018-04-20 15:26:29] main.CRITICAL: Invalid scope type ''
 {"exception":"[object] (InvalidArgumentException(code: 0):
  Invalid scope type '' at /home/.../vendor/magento/framework/App/ScopeResolverPool.php:40)"} []

[2018-04-20 16:45] rafaelcalero commented on #4699
Still getting the issue in 2.2.3

It works following the steps of @JustinWang24 but you have to skip the step of editing the composer.json (beta, now isn't necesary), it would be like that:

1: composer config repositories.magento composer https://repo.magento.com/packages.json
2: composer update ( Need to input your mage market username and password)
3: magento sampledata:deploy
4: magento setup:

[2018-04-20 17:11] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-04-20 17:12] magento-engcom-team commented on #14777
Hi @ishakhsuvarov, here is your [Magento instance](http://i-14777.engcom.dev.magento.com).
Admin access: [http://i-14777.engcom.dev.magento.com/admin](http://i-14777.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`Instance will be terminated in up to 3 hours.

[2018-04-20 17:17] ishakhsuvarov commented on #14777
@magento-engcom-team give me 2.2-develop verification instance

[2018-04-20 17:17] magento-engcom-team commented on #14777
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-04-20 17:18] magento-engcom-team commented on #14777
Hi @ishakhsuvarov, here is your [Magento instance](http://i-14777.engcom.dev.magento.com).
Admin access: [http://i-14777.engcom.dev.magento.com/admin](http://i-14777.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-04-20 17:40] magento-engcom-team commented on #14692
Hi @likemusic. Thank you for your report.
The issue has been fixed in magento/magento2#14752 by @likemusic in 2.2-develop branch
Related commit(s):
 - [67e7994ffea34333a02500e0aa7f64a873722d2a](https://github.com/magento/magento2/commit/67e7994ffea34333a02500e0aa7f64a873722d2a)
 - [de6203588c935481fd0375e2859c435a001fb25a](https://github.com/magento/magento2/commit/de6203588c935481fd0375e2859c435a

[2018-04-20 17:40] magento-engcom-team commented on #1821
Hi @chicgeek. Thank you for your report.
The issue has been fixed in magento/magento2#14290 by @SergeyDmitruk in 2.2-develop branch
Related commit(s):
 - [71a6cb8c560ad24522d6c5caa39320248cb0123f](https://github.com/magento/magento2/commit/71a6cb8c560ad24522d6c5caa39320248cb0123f)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-20 17:40] #14692 closed, assigned to nobody

[2018-04-20 17:40] #1821 closed

[2018-04-20 18:35] SamRogal commented on #12708
I also received following error message after upgrading from 2.1.9 to 2.2.3
[code]

To correct for the issue after `composer update` has successfully completed once I ran
[code]

In my case the composer cache seemed to be holding on to something that broke generating the autoload file correctly.

[2018-04-20 19:52] NA-Dev opened #14792 "Programmatically removing a product attribute does not clear attribute from all tables"
### Preconditions

- Magento CE 2.2.3
- Running locally on MacOS using Valet, php@7.1, Mysql 5.7.21

### Steps to reproduce

1. addAttribute programmatically in InstallData.php
2. check eav_attribute and catalog_eav_attribute tables to see new attributes created
3. removeAttribute programmatically in UpgradeData.php
4. check eav_attribute and catalog_eav_attribute tables

### Expected result

1. r

[2018-04-20 21:55] NA-Dev opened #14793 "createAttribute not behaving as expected"
### Preconditions

- Magento CE 2.2.3
- Running locally on MacOS using Valet, php@7.1, Mysql 5.7.21

### Steps to reproduce

1. addAttribute programmatically in InstallData.php with 'attribute_set'=>'Glassware' and 'group'=>'Content'
2. check attribute sets for new attribute

### Expected result

1. attribute is created in the Content group, only in the Glassware attribute_set

### Actual result

[2018-04-20 22:29] gcampedelli commented on #6609
I'm having the same issue in Magento 2.2.2 with Varnish and Nginx. Can't solve when cache is enabled.
But with Apache 2 in other server it is not happening.
Any light on this?

[2018-04-20 22:36] versdivers commented on #8018
This is an issue in 2.2.1, One of my clients has over 5K products and products not being on the website means they lose a lot of money. Im glad i ran into this thread but we wont update the shop until 2.3 because of the mayor changes it is going to have its not worth putting in the time to check the 2.2.3 compability. Bug patches are used in every kind of software. I have over 10 'fix' modules in

[2018-04-21 06:15] tanvir-bd opened #14794 "Magento 2.2.3 is not showing Popular Search Terms"
I have seen issues no #10743. It was said that the problem is solved. But unfortunately having same issue in Magento 2.2.3. Please guide me regarding this.

[2018-04-21 07:04] Jeeva-Rathinam commented on #815
Anyone have solution?

[2018-04-21 10:58] DanijelBumbar commented on #6658
Put "attribute names" on the top of CSV.
This error message was misleading.

[2018-04-21 11:06] mzeis commented on #14390
Hi @kandy, as you mentioned [potential problems](https://github.com/magento/magento2/pull/14579#issuecomment-379240952) when allowing store-view level product status changes: should this issue be closed or what would be the suggested fix for this issue?

[2018-04-21 11:36] pradeepnew commented on #6138
We are getting this issue in magneto version 2.2.2 and 2.2.3. Any solution?

[2018-04-21 11:44] Sylvesterx1 opened #14796 "Magento 22.3 : Does Not See Payment From Client"
### Preconditions

1.  Magento 2.2.3
**Payment module:**
- dotpay module: github.com/dotpay/magento2-payment
- payu module: github.com/PayU/plugin_magento_2

### Steps to reproduce

1. When customer selects the online payment option in advance and make a payment (I see payment in the payment system that has been made correctly) then magento can not see of this payment.

### Actual result

1. the o

[2018-04-21 12:12] didactic-umbrella commented on #14777
@magento-engcom-team give me 2.2-develop instance

[2018-04-21 17:33] 4quaternion commented on #14793
@imagine2018

[2018-04-21 17:34] 4quaternion commented on #14793
@imagine2018

[2018-04-21 21:08] ArjenMiedema commented on #12428
@spectravp problem is, you don't always want bundling enabled. And it should not matter if it's enabled or disabled.

I'll try to find out what the cause is and how to fix the loader thing.

[2018-04-21 23:28] ArjenMiedema commented on #12428
Alright, so the issue is that the loader is only removed as soon as all RequireJS dependencies are loaded. It uses `mage/requirejs/resolver.js` for this. I tried (together with @schmengler) to remove the dependency (i.e. with removing it from the registry and with `requirejs.undef()`), but without any result. I think the best solution would be to actually improve the resolver, so you can add "opti

[2018-04-21 23:31] rodrigowebjump commented on #5726
#Imagine2018

[2018-04-21 23:31] magento-engcom-team commented on #5726
@rodrigowebjump thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-04-22 00:03] marciowebjump commented on #4728
Can't reproduce the issue in 2.1.X and 2.2.X
Steps I have made trying to reproduce the error:

1. Create a simple product;
2. Create a configurable product with 3 associated simple products using 2 configurable attributes (Size and Color);
3. Make an order in frontend with these 2 items and qty = 1 for each one;
4. Create the manually invoice for order;
5. Create the shipment to order and added tr

[2018-04-22 05:53] sun948534670 commented on #6793
Me too...how to solve

[2018-04-22 06:37] andrewhowdencom commented on #12428
Dropping require entirely from the dependenc resolution chain would avoid
this issue, as well as fix various others. This was the behaviour prior to
2.2(?)

See https://github.com/magento/magento2/issues/13267

On Sun., 22 Apr. 2018, 1:28 am Arjen Miedema, <notifications@github.com>
wrote:

--
Andrew Howden
Careful, well crafted web development.
--
W: https://andrewhowden.com/
PGP: https://pgp.and

[2018-04-22 10:52] kevdotbadger commented on #5445
Either defining the backend type as varchar, or keeping it as int and explicitly casting as ints work for me. In truth the, the `ArrayBackend` model should really double check what you're saving as and cast it as that.

[2018-04-22 12:31] sun948534670 opened #14802 "Magento2 Search catalog and order by product name not working"
### Preconditions

1. Magento CLI version 2.1.13-dev

### Steps to reproduce

1. Search for some product
2. Select the product name sort criteria

### Expected result

1. Product list is sorted by product name

### Actual result

1. Product list is sorted by product name

Is there a 2.1 patch package for this question? If yes, can you provide a link? Thanks!

[2018-04-22 13:44] woshka commented on #14069
Is there any plan to add this feature
Thanks

[2018-04-22 13:45] woshka commented on #14070
Is there any plan to add this feature
Thanks

[2018-04-22 16:09] muckee opened #14803 "Magento frontend displays 'Required parameter 'theme_dir' was not passed' after manually adding theme"
Re-opening an [old issue](https://github.com/magento/magento2/issues/6454) as it was improperly formatted and abandoned.

The error 'Required parameter 'theme_dir' was not passed' appears after adding a custom theme to a fresh install in directory: `<magento root dir>/app/design/frontend/<Vendor name>/<Theme name>/`. The backend is still accessible and functions properly, as does the frontend when

[2018-04-22 16:24] #14544 closed, assigned to nobody

[2018-04-22 17:09] kruegge82 opened #14804 "delete"
please delete

[2018-04-22 20:33] ArjenMiedema commented on #14804
Closed the issue.

[2018-04-22 20:33] #14804 closed, assigned to nobody

[2018-04-22 20:54] ArjenMiedema commented on #12428
It seems like @sidolov changed this a year ago from JavaScript to a RequireJS block. Moving it back to plain JavaScript could work, but I have the feeling that this is changed for a reason. Maybe @sidolov can give more information regarding this.

[2018-04-22 21:57] orlangur commented on #14792
Hi @NA-Dev, you shouldn't use `startSetup`/`endSetup` normally, please check https://community.magento.com/t5/Magento-DevBlog/Mysterious-startSetup-and-endSetup-Methods/ba-p/68483 for more details.

So, obviously if you disable foreign keys check cascading won't occur and related data will not be removed from `catalog_eav_attribute`.

[2018-04-22 21:57] #14792 closed, assigned to nobody

[2018-04-22 22:25] orlangur commented on #14796
Hi @Sylvesterx1,

Can you observe this error without third-party modules installed?

[2018-04-23 01:29] sun948534670 commented on #14802
Has anyone encountered the same situation?

[2018-04-23 03:49] tuyennn commented on #11180
Is there any reference to fixed commits?

[2018-04-23 05:06] anasmansuri1989 commented on #4822
I have this exact issue on Magento 2.2.5

[2018-04-23 05:58] anilahy opened #14808 "magento2.1.7 Role user resource tree view is not displayed in backend"
In the magento2.1.7 Role user resources tree view is not displayed in the backend
kindly find the screen shot link : https://ibb.co/b37yEH

please help me as soon as possible

[2018-04-23 06:48] o0mohammed0o commented on #9666
@magento-engcom-team
Hello,
[https://github.com/magento/magento2/commit/abd7be087cebeae8109f8d998d24361cedb2d554](url)

this fix is not enough to fix the problem. the characters become supported but. still the letters are not connected together.

![letters not connected](https://user-images.githubusercontent.com/33866307/39110875-82f2ea8e-46db-11e8-9b10-423d46cfac36.png)

[2018-04-23 07:09] Anantkprajapati commented on #4795
Please run below commands and check it like
rm -rf var/cache/* var/page_cache/* var/di/* var/generation/* var/view_preprocessed/*
php bin/magento setup:upgrade
I am sure it will work

[2018-04-23 07:09] Sylvesterx1 commented on #14796
Hi @orlangur
I only use these two payment companies to accept payments in our store.

[2018-04-23 07:30] magento-engcom-team commented on #13765
Hi @erikhansen. Thank you for your report.
The issue has been fixed in magento/magento2#14782 by @andrewbess in 2.3-develop branch
Related commit(s):
 - [c442f768f1a899f9328289f05fbf60679ee47d43](https://github.com/magento/magento2/commit/c442f768f1a899f9328289f05fbf60679ee47d43)
 - [5befa84a04c577faf4f587cfe6aedc6a793b4863](https://github.com/magento/magento2/commit/5befa84a04c577faf4f587cfe6aedc

[2018-04-23 07:50] thomas-blackbird commented on #12428
@ArjenMiedema I'm agree with you

:+1:
I had the same conclusion as you: see referenced issue: #13346

[2018-04-23 07:58] ThomVeldpaus commented on #9980
Hello,

It seems Magento 1 has te same issue, does anyone know if there is relatable ticket for that?

[2018-04-23 08:26] Russellmd commented on #6069
Hi,

For Magento 2.2, even if "Enable Persistence" is set to No, the Cart is not cleared when login again

[2018-04-23 08:30] juroszed commented on #12019
Gometimes get the same error on Magento 2.1.0 and 2.1.12

It looks like the error only comes first time a day adding a bundle product to cart. If I got the error it is not possibel to reproduce.

[2018-04-23 08:37] shyam100379 commented on #12362
the solution provided by @acetronaut works. However, we would love Magento to release a patch or something for Magento 2.2.3 version.

[2018-04-23 08:40] juroszed opened #14809 "Please specify product option(s) on adding a bundle product to cart"
### Preconditions

1. Magento 2.1.0 and 2.1.12
2. PHP 2.0.8
3. MySQL 5.6.31

From time to time I get an error message like "Please specify product option(s)" on adding a bundle product to cart. It looks like this error comes day by day only the first time trying to add the product to cart. I did not found a way to reproduce this error. But I get it on two different machines with different product

[2018-04-23 09:40] vaso123 opened #14811 "Quote setup TYPE_INTEGER issue"
When you add custom attribute for quote setup, if you use the built in `\Magento\Framework\DB\Ddl\Table::TYPE_INTEGER` your new field will be created as default varchar 255.

### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Try to add a custom attribute with `'type' => Table::TYPE_INTEGER`
2. Run bin/magento setup:upgrade

### Expected result

1. New field should be `integer 11`

##

[2018-04-23 10:32] alex-james commented on #11182
Worked for me too after upgrading from 2.1 to 2.3, again a hard reload was not enough

[2018-04-23 11:01] timbaker1991 commented on #13478
@jzahedieh Whislt this is fixed in 2.1.x the 2.2.x branch has this issue which, as @matthewscalf points out, is a fairly severe issue!

I have temporarily fixed this by adding

` <resource id="Magento_Braintree::get_client_token" title="Get Client Token (HOT FIX)" sortOrder="80" />`

to the acl.xml file in the Braintree module.

[2018-04-23 11:04] simonrl commented on #6201
@magento-engcom-team could you please link the commit(s) that have fixed this behaviour? We need to backport it to 2.1.8

[2018-04-23 11:07] vaso123 commented on #14811
My fault, I messed up something.

[2018-04-23 11:07] #14811 closed, assigned to nobody

[2018-04-23 11:09] ryan-readingroom opened #14817 "Magento 2.2.2 product price indexer not updating even though cron runs successfully"
Magento 2.2.2 product price indexer not updating catalog product flat table, even though cron runs successfully.

This also happens to stock indexer time to time.

found a similar issue here but still the same
https://github.com/magento/magento2/issues/5836

**Preconditions**
Magento 2.2.2 CE
Debian 8
PHP 7.1
MySQL 5.6
Using flat categories and products
set to update on schedule

**Steps to reprod

[2018-04-23 12:34] ArjenMiedema commented on #6832
The currencies are loaded from Zend Framework 1, which is not supported anymore by Zend and is currently maintained by Mgento. With the move to PHP 7.2, ZF1 will be removed completely (at least that's what I heard), so it won't be an issue anymore from that moment on.

If this should be solved in older versions of Magento as well, we should go through all files in vendor/magento/zendframework1/lib

[2018-04-23 12:47] akbaradeeb opened #14818 "Warning: Cannot modify header information - headers already sent by"
Warning: Cannot modify header information - headers already sent by (output started at /public_html/vendor/zendframework/zend-http/src/PhpEnvironment/Response.php:114 in /public_html/vendor/magento/framework/Stdlib/Cookie/PhpCookieManager.php on line 148

Preconditions
Magento - 2.2.1
PHP - 7.0.22
Apache - 2.4.29
Mysql - 10.2.8-MariaDB
Redis Server Version - 4.0.1
Varnish Version -V

Steps to repr

[2018-04-23 13:04] eduard13 opened #14819 "Custom Payment Method doesn't uncheck 'My billing and shipping address are the same'"
In Magento 2.2.2, 2.2.3 there is no way to get the Magento behavior on _My billing and shipping address are the same_ checkbox when a new custom Offline Payment Method is used.
### Preconditions

1. Magento 2.2.3 EE (on Magento 2.2.2 CE as well)
2. PHP 7.1

### Steps to reproduce

1. Create an offline payment method
2. Add a product to cart
3. Go to Checkout
4. Fill in the shipping address
5. Go t

[2018-04-23 13:22] imanasmage opened #14821 "Magento2 2.2.5 layered navigation issue."
### Preconditions

1.  Magento 2.2.5, PHP Version 7.0.29

### Steps to reproduce

1.  I'm added some attribute using multiselect with layered navigation but it's not shown in frontend, if i select filterable with no result than attribute value shown in frontend, if i select filterable with result than not shown in frontend.
2. I also checked with eav_attribute - backend-model etc.
3. Dropdown is w

[2018-04-23 13:28] pablobae commented on #14674
Same issue here, switcher only works on homepage

[2018-04-23 14:14] peterjaap commented on #6817
@stormbyte that does not seem related. The issue still occurs even when starting the checkout at `checkout`/ instead of `checkout`.

[2018-04-23 14:19] peterjaap commented on #11247
Also having this issue. The fix @kapil019 described is for when you use the step navigator at the top to go back and forth a page, not for the bug that occurs when refreshing the payment page or hitting the back button in your browser.

[2018-04-23 14:30] southerncomputer commented on #12362
https://github.com/magento/magento2/pull/14484 has a pr for 2.2.x and works like @acetronaut 's solution!

but i think magento is going to conditionally apply session_regenerate_id only if you are coming from unsafe http store - if your store is 100% SSL - removing regerenate_session_id works just as well.

see https://github.com/magento/magento2/pull/14428#issuecomment-377156663 for condition sol

[2018-04-23 14:31] magento-engcom-team commented on #4788
Hi @teokolo. Thank you for your report.
The issue has been fixed in magento/magento2#14786 by @mastiuhin-olexandr in 2.3-develop branch
Related commit(s):
 - [986f2c1e55b878eeaafce0210ce9b3e37e31f304](https://github.com/magento/magento2/commit/986f2c1e55b878eeaafce0210ce9b3e37e31f304)
 - [6b770272ca589815320f262a161a1a0ce28d8eed](https://github.com/magento/magento2/commit/6b770272ca589815320f262a1

[2018-04-23 16:09] orlangur commented on #14796
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2018-04-23 16:09] #14796 closed, assigned to nobody

[2018-04-23 17:59] luismaldonado91 opened #14823 "Magento 2.2.2 truncanting IPV6 for orders"
### Preconditions

1.  Magento 2.2.2
2.  PHP 7.0.13

### Steps to reproduce

1.  Watch for orders placed from IPv6 clients
2. If you match the IPv6 from the order to a IPv6 validator, you right away noticed that it's truncated to 32 chars, rendering the IP invalid for the order.

### Expected result

1.  Correct IPv6 IP format

### Actual result

1.  32 char truncated IPv6

As for now i've modifie

[2018-04-23 19:11] lcmarie29 opened #14824 "Admin Panel Nav not working, already tried other suggestions"
After changing permissions and dumping the static files, my admin panel still does not work

After trying this https://www.properhost.com/support/kb/39/After-Installing-Magento-20-the-Admin-Panel-Does-Not-Work

and this

https://magento.stackexchange.com/questions/92660/magento2-admin-menu-panel-doesnt-work

I cannot click any of the links, I am using Magento 2.2.2

![screen shot 2018-04-23 at 2 0

[2018-04-23 20:44] markshust opened #14825 "User logout changes currency format"
If a user is logged in, changes the currency format, then logs out, the currency format is switched back to the base/default currency instead of being retained to the visitor's last selection.

### Preconditions
1. Magento version 2.2.3

### Steps to reproduce
1. Admin > Stores > Configuration > General > Currency Setup > Set allowed currencies to Euro and US Dollar. Set Base Currency and Default

[2018-04-23 20:51] markshust opened #14826 "User login doesn't retain last quote currency selection"
If a user logs in, the currency format of the previous session/cart is not applied to the user's session, but is overridden with the site's current currency selection.

### Preconditions
1. Magento version 2.2.3

### Steps to reproduce
1. Admin > Stores > Configuration > General > Currency Setup > Set allowed currencies to Euro and US Dollar. Set Base Currency and Default Display Currency to US Do

[2018-04-23 20:57] Detzler commented on #14232
The same problem when trying to change the country in _backend > customer > address_

[2018-04-23 23:14] grago commented on #12913
I am experiencing the same error. Here's my output:

`Fatal error:  Uncaught Exception: Warning: SessionHandler::read(): open(127.0.0.1:11211/sess_vt91spfvab5k7fmvehqtf1c3f5, O_RDWR) failed: No such file or directory (2) in /var/www/html/vendor/magento/framework/Session/SaveHandler/Native.php on line 22 in /var/www/html/vendor/magento/framework/App/ErrorHandler.php:61\nStack trace:\n#0 [internal f

[2018-04-24 04:25] hostep commented on #6201
@simonrl: can you try the following commit (which I already referenced above): https://github.com/magento/magento2/commit/63bd96e354a11c1393fa17afb1d5c9b76b934c5c and let us know if this actually fixes the issue? Thanks!

[2018-04-24 04:53] grago commented on #4546
Hi, i am being unable to access Extension Manager, url `/setup/index.php/extensionGrid/extensions` keeps loading forever and extensions won't show up. What can i do? Thanks in advance.

[2018-04-24 05:33] NiteshKuyate opened #14827 "While adding Bundle items for bundle product, doesn't show all products for selection"
### Preconditions

1. Magento Community 2.1.5

### Steps to reproduce

1. Create bundle product using magento admin.
2. Fill required product information
3. Under Bundle items section: Add Option > Add Products to Option

### Expected result

1. Show all simple and enabled products for selection.

### Actual result

1. Not showing all simple and enabled products for selection

Products count: 5130

[2018-04-24 05:42] WindiceDev commented on #14735
Hi, Any updates on this issue?

[2018-04-24 05:44] WindiceDev commented on #14735
[WindiceDEV.xlsx](https://github.com/magento/magento2/files/1941014/WindiceDEV.xlsx)

[2018-04-24 06:49] brvm opened #14828 "Checkout not working on IE10 using Magento 2.2.3"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0
3. MySQL 5.5.3
4. Internet Explorer 10 on Windows 7, 8 and 8.1

### Steps to reproduce

1.  Clean installation of Magento 2.2.3
2. Deploy sample data / Add product manually
3. Go through checkout steps
4. Accept terms and conditions
5. Place order

### Expected result

1. The order should be placed succesfully

### Actual result

1. The terms and cond

[2018-04-24 07:17] reillo commented on #5589
I can't believe that this issue is still on latest Magento 2.2.3. Do we have any updates on how to Resolve this issue?

[2018-04-24 07:24] sprankhub commented on #12233
There is now a [paid extension on the Marketplace](https://marketplace.magento.com/customgento-module-configurable-tier-prices-m2.html) for this behaviour.

[2018-04-24 07:25] sergiypop commented on #12856
Hello Magento-team, is there any progress for this bug ? I am facing the same Problem.

[2018-04-24 07:37] peterjaap commented on #14522
Same here on 2.2.3

[2018-04-24 07:46] JuteSenthil commented on #14118
Hi Team,

I am also facing same kind of issue. Please share if you have any solution.

**Package:**  Magento ver. 2.0.8
**Browser :** Chrome 64.0.3

**Steps to re-reproduce the issue:**

**Browser Tab : 1** - Adding product to cart from Product detail page (after product added to cart, the page redirect to cart page)
**Browser Tab : 1** - On clicking "Go to Checkout" button, before the page redire

[2018-04-24 08:55] jamie-selesti opened #14830 "Terms and Conditions - Checkout validation broken"
I have enabled terms & conditions on the checkout and even when the customer checks the checkbox an validation error comes back and states "Please agree to all the terms and conditions before placing the order."

### Preconditions

1. Magneto 2.2.3
2. PHP 7.1
3. Chrome 66.0.3359.117

### Steps to reproduce

1. Enable terms & conditions
2. Add a terms & condition
3. Try to place an order

### Expec

[2018-04-24 09:19] chris-pook opened #14831 "php include used to render sub templates. Why not XML layout here?"
It is not clear why the XML layout is not being used here. Using PHP include like this breaks extensibility.

https://github.com/magento/magento2/blob/199272b233fb1f2a927e87cd6869011993f05a73/app/code/Magento/Catalog/view/frontend/templates/product/list/toolbar.phtml#L20-L32

[2018-04-24 09:52] elangovanshanthi commented on #11263
1. Deleted the `attribute` is not deleted properly.
2. So delete the attribute properly and create the same attribute correctly.
3. Now check, issue will be resolve.

[2018-04-24 10:00] magento-engcom-team commented on #4389
Hi @twslade. Thank you for your report.
The issue has been fixed in magento/magento2#14816 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [7241aa48f049101c551062cb0ce94ddf9f6e6cd9](https://github.com/magento/magento2/commit/7241aa48f049101c551062cb0ce94ddf9f6e6cd9)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-24 10:00] magento-engcom-team commented on #14692
Hi @likemusic. Thank you for your report.
The issue has been fixed in magento/magento2#14814 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [c3a1415719f266390593b5a3ee5f35e504c8128e](https://github.com/magento/magento2/commit/c3a1415719f266390593b5a3ee5f35e504c8128e)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-24 10:03] jameshalsall commented on #5768
@dexterityzx if you configure a sitemap generation time in `Stores > Configuration > Catalog > XML Sitemap > Generation Settings`, and then install https://github.com/netz98/n98-magerun2 and run

[code]

do you see a `sitemap_generate` job for the correct time?

[2018-04-24 10:30] andreicurduman opened #14832 "Related products, crossell and upsell are partially displayed in backend ."
Preconditions
Magento 2.2.3
PHP 7.0.20

Steps to reproduce
Upgrade from Magento 2.1.8 to Magento 2.2.3
Flush the cache storage and reindexing .
Check the frontend and backend

Expected result
Related, crossell and upsell products should come in the frontend of product page and backend of product edit page

Actual result
The update related products are showing in the frontend .But only a part of re

[2018-04-24 11:30] somnath12 commented on #3111
I can do arrange it such a way that you will need not do any indexing :)
Email: somnathde_btech08@yahoo.com

[2018-04-24 11:49] mustdobetter commented on #10009
@langstn, unfortunately not. Instead we decided to work around this by fundamentally changing the feature we were developing.

[2018-04-24 12:10] somnath12 commented on #9174
No need to run re indexing. To get instant help please contact here testdevelopworld@gmail.com.

[2018-04-24 12:10] somnath12 commented on #5836
No need to run re indexing. to get instant help please contact here testdevelopworld@gmail.com

[2018-04-24 12:10] somnath12 commented on #5770
If anybody facing any issue regarding magento indexing you may contact

[2018-04-24 12:12] somnath12 commented on #5770
If anybody facing any issue regarding magento indexing you may contact testdevelopworld@gmail.com

[2018-04-24 12:12] bhagdave commented on #7931
We are getting this issue on 2.2.2 and it seems to be affecting our checkout. So could you confirm what version it was fixed in.

[2018-04-24 12:33] thomas-blackbird commented on #3764
It seems that it's already fixed by [MAGETWO-70580: Merged fixed](https://github.com/magento/magento2/commit/d2d82aca595f393cee43a46dc88520428fe4d4de)

[2018-04-24 12:39] hostep commented on #9694
@josephmcdermott & @jantzenw: if you want these things to happen, I think it's best if you submit a PR with the changes you guys are suggesting, PR's are getting much more attention from the Magento devs then discussions in issues unfortunately.

[2018-04-24 12:55] aleksejtsebinoga commented on #12362
Can confirm that in our case - the solution by @acetronaut is **not** working at Magento 2.1.1 and the session is still dying after 5-10 fast refreshes of the page.

[2018-04-24 13:09] magento-engcom-team commented on #14831
@chris-pook please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-04-24 13:09] #14831 closed, assigned to nobody

[2018-04-24 13:11] magento-engcom-team commented on #14830
Hi @jamie-selesti
This seems to be the same issue as reported in https://github.com/magento/magento2/issues/14828
Please continue tracking under that reference.

Thanks

[2018-04-24 13:11] #14830 closed, assigned to nobody

[2018-04-24 13:12] magento-engcom-team commented on #14823
Hi @luismaldonado91
This report seems to duplicate https://github.com/magento/magento2/issues/10395
Please continue tracking under that reference.

Thank you for collaboration

[2018-04-24 13:12] #14823 closed, assigned to nobody

[2018-04-24 13:15] akbaradeeb commented on #14818
Can anybody help on this. This is happening randomly. No pattern was found on it.

[2018-04-24 13:19] luismaldonado91 commented on #14823
Thanks for the clarification. I think this is kind of critical and it' has been of your knowledge since August 2017. At least for fraud protection with signifyd is critical.

[2018-04-24 13:25] magento-engcom-team commented on #14794
Hi @tanvir-bd
Fix is scheduled to be delivered in the 2.2.4.

Thanks for collaboration.

[2018-04-24 13:25] #14794 closed, assigned to nobody

[2018-04-24 13:26] magento-engcom-team commented on #14824
@lcmarie29
thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Steps to reproduce
 - [ ] Expected result
 -

[2018-04-24 13:27] magento-engcom-team commented on #14808
@anilahy
thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2018-04-24 13:30] magento-engcom-team commented on #14364
@davidwindell Unfortunately we can not provide any reliable information regarding port of this fix to 2.1. You may submit a PR to speed up the process if you wish.

Thank you for collaboration.

[2018-04-24 13:30] #14364 closed, assigned to nobody

[2018-04-24 13:32] magento-engcom-team commented on #14520
@erichagz Unfortunately we can not provide much help with issues which can not be reproduced.
Closing this report for now. Please reopen if you come up with more details.

Thank you

[2018-04-24 13:32] #14520 closed, assigned to nobody

[2018-04-24 13:36] magento-engcom-team commented on #14828
@magento-engcom-team give me 2.2-develop instance

[2018-04-24 13:36] magento-engcom-team commented on #14828
Hi @magento-engcom-team. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-04-24 13:56] bramulous commented on #14828
@magento-engcom-team FYI, I was able to reproduce the issue on your instance.

[2018-04-24 14:01] magento-engcom-team commented on #14828
@bramulous Looks like it is really IE10 specific, as we attempted with IE11 and it seemed to work

[2018-04-24 14:04] bramulous commented on #14828
@magento-engcom-team Yes, it works in IE11. But unfortunately not in IE10. I used your instance and it too did not work. Is this due to IE10 itself or a bug within Magento 2.2.3 not working properly with IE10?

[2018-04-24 14:16] bramulous commented on #14828
Ah, I see here that Magento 2 does not officially support IE10: http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements_browsers.html
By any chance, did you encounter what the cause of the problem was?

[2018-04-24 14:23] victortodoran opened #14835 "Save Config But Not Working When Configuring Braintree"
**Preconditions**
Magento 2.2.2 Commerce
Https not present

**Steps to reproduce**
Clean Magento installation.
Configure Braintree acording to official docs.
Click Save Config

**Expected Result**
Configuration is saved.
Braintree is enabled

**Actual result**
Configuration is not saved
Braintree is not enabled
Page goes slightly up.
No frontend|ui message displayed
Nothing in logs
Nothing in cons

[2018-04-24 14:36] magento-engcom-team commented on #14828
@bramulous Unfortunately no clue what causes the problem.

[2018-04-24 14:47] bramulous commented on #14828
@magento-engcom-team okay, thank you for the information and effort!

[2018-04-24 14:49] magento-engcom-team commented on #14828
@bramulous Looks like we can close this issue now.
Thank you for collaboration.

[2018-04-24 14:49] #14828 closed, assigned to nobody

[2018-04-24 14:59] valugi commented on #14624
This happens also without custom modules, in my case the error is Magento specific:

Magento_Customer db schema version: defined in codebase - 2.0.12, currently installed - 2.0.9
Magento_Customer db data version: defined in codebase - 2.0.12, currently installed - 2.0.9

[2018-04-24 15:15] nikidexa opened #14837 ""Cannot add item in cart right now" for registered users"
Hi, Im using magento 2.2.2 with free theme Solwin freego...
I'm trying to add some product to cart like registered user, but cannot. If Im trying like a guest there are no problems. The issue is only with registered users.
I tried to change theme, but I have the same issue...
Some one can help me? thanks

Nik Ide

[2018-04-24 16:33] Detzler opened #14838 "Shipping price precision"
Can not have a gross shipping price of 45.00 EUR when entered shipping price as net price.

### Preconditions

1. Magento 2.2.3
2. PHP 7.1
3. 19% tax on shipping

### Steps to reproduce

1. Set up a shipping table rate of net 37.815126050420168 EUR (45gross / 1,19tax)
2. Set config: Sales > Tax > Calculation Settings > Shipping Prices > Excluding Tax
3. Trigger the shipping calculation at the cart

[2018-04-24 17:40] magento-engcom-team commented on #5726
Hi @ngashokkumar. Thank you for your report.
The issue has been fixed in magento/magento2#14800 by @rodrigowebjump in 2.2-develop branch
Related commit(s):
 - [5dc5e67f3a1a90e7d584e6fddcd97acffacc70a7](https://github.com/magento/magento2/commit/5dc5e67f3a1a90e7d584e6fddcd97acffacc70a7)
 - [ea3c4e865d3bab1c31ae9db414175e7cc5a83dca](https://github.com/magento/magento2/commit/ea3c4e865d3bab1c31ae9db4

[2018-04-24 17:40] #5726 closed, assigned to rodrigowebjump

[2018-04-24 17:40] magento-engcom-team commented on #13944
Hi @raymond62. Thank you for your report.
The issue has been fixed in magento/magento2#14546 by @afirlejczyk in 2.2-develop branch
Related commit(s):
 - [49432af840e272ddfba4da271c29d88dd6242607](https://github.com/magento/magento2/commit/49432af840e272ddfba4da271c29d88dd6242607)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-24 17:40] #13944 closed, assigned to afirlejczyk

[2018-04-24 17:58] vovayatsyuk opened #14840 "'Requested product doesn't exist' when edit quote item."
### Preconditions
1. Magento 2.2.3

### Steps to reproduce
1. Add product to the cart
2. Click on the "Edit product" link in the header minicart

### Expected result
A product page should be opened

### Actual result
A broken page may be opened with "Requested product doesn't exist" exception

## Explanation

"Edit product" link looks like this: ["checkout/cart/configure/id/82634/product_id/46"](h

[2018-04-24 18:03] PieterCappelle commented on #6146
Any update on this one? Having same problem. :)

[2018-04-24 18:27] particle6 commented on #7931
I am also seeing this happen on 2.2.2 site that was upgraded from 1.9

[2018-04-24 22:34] hostep commented on #13720
@magento-engcom-team: I've reopened the issue, since there is an update and some good information pointing towards the cause of this bug (I've seen this thing happen myself, but hadn't had the change yet to look into the problem, so thanks to @KrzysztofMoskalik & @gulshan-streammarket for the extra info!)

[2018-04-24 22:36] hostep commented on #6138
@pradeepnew or @Vishrootways: can you open a new issue with the exact steps to reproduce this on a clean installation, that would be really appreciated!

[2018-04-24 23:54] itg-ddanielson commented on #6609
Having similar issue. Menu doesnt display on homepage + no active classes

[2018-04-25 00:44] josephmcdermott commented on #9694
Noted, thanks @hostep, let's see how the PR fares 👍
https://github.com/magento/magento2/pull/14843

[2018-04-25 01:16] gcampedelli commented on #6609
I tried to use -p feature=+esi_ignore_https  in Varnish, but it didn't solved the issue, which as @Yasp0 wrote appears when FPC is enabled.

[2018-04-25 04:09] fauzie commented on #10534
@RomaKis i have same problem here.
Mine fix this issue by changing `to_date` value on coupon below year 2038. And it's okay now.
It is not a bug, see : https://en.wikipedia.org/wiki/Year_2038_problem

For magento team, please do not use date picker above 19 January 2038, because it causing error on php date.

[2018-04-25 06:00] gh-darvishani commented on #6325
we are in 2018 ...and no solutions found?
Should we wait to solve this problem?

[2018-04-25 06:16] ArmstrongEdwardraj commented on #14090
<allow_multiple_address>1</allow_multiple_address> tried the code not able to achieved it, any other way to do that

[2018-04-25 07:49] ishakhsuvarov commented on #12856
@sergiypop Solution is in the process of delivery at the moment.

[2018-04-25 08:26] VincentMarmiesse commented on #13480
Hello,

Any news on this issue?

Thanks!

[2018-04-25 09:00] vadimulyanov commented on #13428
Code with wrong date formating is started here:
vendor/magento/module-ui/view/base/web/js/form/element/date.js:120

[code]
The code not checks the format of input value.
Date value may be come from js layout with format `m/d/y` (for example, from filter js layout - 04/10/2018), but in `this.inputDateFormat` may be set by other checking format, for example `YYYY-MM-DD`, which breaks the value after

[2018-04-25 09:30] utklasad commented on #14667
Same issue here even if the source file of the picture is just 400kb. I've not noticed this before so it might be an issue with the latest version of Magento 2.2?

I will try to debug the code to find out where the bottleneck is.

[2018-04-25 09:31] pablobae commented on #14046
Waiting for patching 2.2..

[2018-04-25 09:34] Mehran91z commented on #14069
**+1** for adding this feature

[2018-04-25 09:36] Detzler opened #14848 "Invoice pdf > incorrect net/gross shipping price in shipping-charges-text"
Inside the shipping-charges-text the shipping price does not respect the tax display type.

shipping-charges-text:
https://github.com/magento/magento2/blob/2.2.3/app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php#L561

### Preconditions

1. Magento 2.2.3
2. PHP7.1

### Steps to reproduce

1. Set up a shipping table rate of 6.50
2. Set config: Sales > Tax > Calculation Settings > Shipping Price

[2018-04-25 10:52] swayoleg commented on #6817
@stormbyte  yep, I have implemented that slash solution and result is the same.

Is it possible to implement something like here https://magento.stackexchange.com/a/82080 ?

[2018-04-25 11:01] vincentwinkel commented on #5788
I'm facing this same issue with the exact same steps (v2.0.14).
Did someones found a solution? The docs is absolutely not clear.

[2018-04-25 11:13] raymond62 opened #14849 "In Sales Emails no translation using order.getStatusLabel()"
Sending sales emails the label for order status is not translated.

### Preconditions
1. Magento 2.2.3., PHP 7.0, MySql 5.6

### Steps to reproduce
1. edit order status of any status and creat language labels (image 1)
2. send an email using the sales area in your backoffice (image 2)
3. see the status label in the email (image 3)

### Expected result
1. The status label in the email should get th

[2018-04-25 12:58] kor3 commented on #3085
Is this issue still unresolved?

[2018-04-25 13:30] aeu commented on #12362
@aleksejtsebinoga Are you on a SSL front end, and if so, have you tried the fix in this PR https://github.com/magento/magento2/pull/14428/commits/f4435fdf986eeb4ff16228aef27d8ee2bd90e342 ?

[2018-04-25 13:38] magefan commented on #14644
@venkivenkatesh , have you found a solution?

[2018-04-25 13:42] victortodoran commented on #11347
@ishakhsuvarov 2 months after, this is still not working. Yet the issue is closed. What's the strategy behind this?

[2018-04-25 13:51] shivkumarsingh7 opened #14850 "Found 2 elements with non-unique id #email: magento 2 contact"
Getting below error on Magento 2 contact page in console.

[DOM] Found 2 elements with non-unique id #email: (More info: https://goo.gl/9p2vKq)
[code]

<img width="1439" alt="screen shot 2018-04-25 at 7 18 12 pm" src="https://user-images.githubusercontent.com/10324098/39250090-cc92a0e2-48bd-11e8-9bc4-4186a0fb388a.png">

[2018-04-25 14:09] venkivenkatesh commented on #14644
Yes By tweaking varnish default.vcl file

[2018-04-25 14:33] nikidexa opened #14852 "cannot add product in cart with registered users"
I'm trying to add some product to cart like registered user, but cannot. If Im trying like a guest there are no problems. The issue is only with registered users.
I tried to change theme, but I have the same issue...
Some one can help me? thanks

**Preconditions**
magento 2.2.2

 **Steps to reproduce**
With registered users try to add product in cart, but cannot

**Expected result**
Add any produc

[2018-04-25 14:34] #14837 closed, assigned to nobody

[2018-04-25 15:45] itg-ddanielson commented on #6609
My issue was related to a custom module that was throwing a 500 error in the Ajax response. Disabled the module for now and everything works as expected.

[2018-04-25 16:04] dan-ding commented on #12921
@magento-engcom-team how is this not a magento core issue? The extension wouldn't be there if the magento core didn't include it.

[2018-04-25 16:26] MrDaar commented on #10908
It's not good code, and it's not thoroughly tested, but here's a temp fix if you're currently experiencing this issue:
[code]
[code]
Let me know if it works for you.

[2018-04-25 17:59] aruds opened #14853 "After changing store code 'default', ScopeCodeResolver::resolvedScopeCodes should be flushed"
When changing the store code **default** to **mystore** Integration tests fail after creating additional store views.
[code]

Our workaround is clear `ScopeCodeResolver::resolvedScopeCodes` (empty array) after StoreManager->reinitStores

### Preconditions
1. Magento Version 2.1.12
2. PHP 7.0.27
3. MariaDB 14.14

### Steps to reproduce
1. change the store code **default** to **mystore**
2. create a

[2018-04-25 19:01] matheusgontijo opened #14854 "Can't make any customization on Zip Codes masks - Exception #0 (Magento\Framework\Exception\LocalizedException): More than one node matching the query: /config/zip[@countryCode='US']/codes/code"
### Preconditions
1. PHP 7.0.22
2. Magento 2.1.3

### Steps to reproduce

Explanation:

When I'm trying to add a customization to the US zipcodes masks, Magento throws out an exception `Exception #0 (Magento\Framework\Exception\LocalizedException): More than one node matching the query: /config/zip[@countryCode='US']/codes/code`

I followed throughly the documentation [Add custom input mask for ZI

[2018-04-25 19:47] ebaschiera commented on #11347
I agree. The fix did NOT reach the appropriate branches due to rejection.

[2018-04-25 20:58] taylored2 opened #14855 "Adding an * to do a customer search."
When doing a search in the Customer area of Magento 2. I added an * in the search. When adding the * Magento stays locked and the following message pops up "Something went wrong with processing the default view and we have restored the filter to its original state." .

![screenshot 96](https://user-images.githubusercontent.com/35534987/39272368-b488d426-48a9-11e8-8e69-a0356caca2ee.png)

Preconditi

[2018-04-25 21:10] jcolas15 opened #14856 "Shipping Progress Dates are wrong for Tracking Popup"
We are experiencing an issue with the Tracking popup.  With our carrier being fedex and tracking a shipment and looking at the progress details, the dates of each progress step are off by 1 day.  It seems as though the problem has to do with Magento trying to convert the UTC Date without a time and converting that to the locale date time.
`vendor/magento/module-shipping/Block/Tracking/Popup.php:79

[2018-04-25 21:20] scottsb opened #14857 "Sitemap generation cron job flushes entire cache"
### Preconditions
Magento 2.1.12
Magento 2.2.3 (suspected based on looking relevant code, but not confirmed)

### Steps to reproduce and actual result
Look at debug.log output at midnight (configured sitemap cron schedule) in store timezone for this output:

`main.DEBUG: cache_invalidate:  {"method":"GET","url":"http:/","invalidateInfo":{"tags":[],"mode":"all"},"is_exception":false} []`

This indi

[2018-04-26 00:31] zennco opened #14858 "Unable to follow the standard block class recommendation"
The classes **\Magento\Backend\Block\Template** and **\Magento\Framework\View\Element\Template** documentation recommends against extending.
Avoid extending this class.
 * If you need custom presentation logic in your blocks, use this class as block, and declare
 * custom view models in block arguments in layout handle file.

Then an example follows :
` <block name="my.block" class="Magento\Backen

[2018-04-26 01:09] georgios-2317 commented on #11912
I truncated the `catalogrule_product_replica`table and it worked. Normally reindexing would do this from what I can gather.

[2018-04-26 04:48] magento-engcom-team commented on #7990
Hi @edelepine. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1135 by @RomaKis in 2.2-develop branch
Related commit(s):
 - [2b92f79e81b32810de5fff8d0001c9a42c685ae7](https://github.com/magento/magento2/commit/2b92f79e81b32810de5fff8d0001c9a42c685ae7)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-26 04:48] #7990 closed, assigned to RomaKis

[2018-04-26 04:48] magento-engcom-team commented on #7369
Hi @wenpingguo. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1230 by @serhii-balko in 2.2-develop branch
Related commit(s):
 - [07979b14d8be82ab878eaf386a3555d91efadeb2](https://github.com/magento/magento2/commit/07979b14d8be82ab878eaf386a3555d91efadeb2)
 - [2c15cea8f1c06a624b42c99a24c387d11af74333](https://github.com/magento/magento2/commit/2c15cea8f1c06a624b42

[2018-04-26 04:48] #7369 closed, assigned to serhii-balko

[2018-04-26 04:48] magento-engcom-team commented on #14274
Hi @jonathanKingston. Thank you for your report.
The issue has been fixed in magento/magento2#14839 by @julienanquetil in 2.2-develop branch
Related commit(s):
 - [0d7f6fe3e2a8056b55f803295090bf6d5b926e4a](https://github.com/magento/magento2/commit/0d7f6fe3e2a8056b55f803295090bf6d5b926e4a)
 - [fbf980b5945863850be2e51e3b3b9db1fa85bc74](https://github.com/magento/magento2/commit/fbf980b5945863850be2

[2018-04-26 04:48] #14274 closed, assigned to nobody

[2018-04-26 04:53] malikt opened #14859 "Issue with updating pelago/emogrifier to v2.0.0"
I was facing the well known email css issue, https://github.com/magento/magento2/issues/4737
The fix was to update the pelago/emogrifier to 2.0.0, when i placed the following line in composer.json
"pelago/emogrifier": "2.0.0"
and ran the composer update command, it failed with an error.

### Preconditions

1. Magento v2.1.9
2. PHP 7.0.13
3. MySQL 5.6.34
4. nginx

### Steps to reproduce

1. edit th

[2018-04-26 05:51] malikt commented on #14859
before i do something silly and break the site, want to confirm if its ok to edit the composer.lock and update the version of emogrifier in it too? and will it fix the issue?

[2018-04-26 06:04] NiteshKuyate commented on #14827
@magento-engcom-team any updates?

[2018-04-26 06:15] kelsonzhao commented on #9497
Same issue in Magento 2.2.3

[2018-04-26 06:17] kelsonzhao commented on #9497
This issue occurs almost every day. Who could solve it ?

[2018-04-26 06:19] Karlasa commented on #14859
@malikt i would suggest to edit LESS file for that specific issue.
from file: Magento_Sales\web\css\source\_email.less
remove all ">" symbols and you should be good to go :)

[2018-04-26 06:40] anurag1209 commented on #6483
Try the following things:
1st reason:- There may be many reasons for it. Few which I can list
a) Product is out of stock
b) Product status is Disabled
c) Product visibility does not include Catalog
d) Product is not assigned to that particular website

2nd Reason:- Indexing Issue
Go to your root directory via terminal and run ===>>  php bin/magento indexer:reindex

3rd Reason:- Maybe one of the pr

[2018-04-26 07:25] ebaschiera commented on #11347
You're welcome. Please take a look at my [comment](https://github.com/magento/magento2/pull/11602#issuecomment-343848273) about rejection.
Thanks!

[2018-04-26 07:26] magento-engcom-team commented on #14859
Hi @malikt Thank you for reporting.
Magento 2.2 already depends on `pelago/emogrifier` 2.0.0. This change was not ported to Magento 2.1 release.

`composer.lock` is not intended to be edited manually.
Closing, as issue is fixed in 2.2

[2018-04-26 07:26] #14859 closed, assigned to nobody

[2018-04-26 07:30] magento-engcom-team commented on #14852
@magento-engcom-team give me 2.2.3 instance

[2018-04-26 07:30] magento-engcom-team commented on #14852
Hi @magento-engcom-team. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-04-26 07:30] magento-engcom-team commented on #14852
Hi @magento-engcom-team, here is your [Magento instance](http://i-14852-2-2-3.engcom.dev.magento.com).
Admin access: [http://i-14852-2-2-3.engcom.dev.magento.com/admin](http://i-14852-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-04-26 07:37] sidolov commented on #14854
Hi @matheusgontijo , issue was fixed in commit 4ddb33631c67f2f3e128eb87f0188d1d102a0ca2 and will be available in upcoming release. Btw, issue fixed in 2.2 stable version.

[2018-04-26 07:37] #14854 closed, assigned to nobody

[2018-04-26 07:44] blackfoxxx opened #14860 "Importing Employee issue"

[2018-04-26 07:50] magento-engcom-team commented on #14852
@magento-engcom-team give me 2.2.3 instance

[2018-04-26 07:50] magento-engcom-team commented on #14852
Hi @magento-engcom-team. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-04-26 07:51] sergiypop commented on #12856
@ishakhsuvarov It would be great if you could post the commit for the solution.

[2018-04-26 07:51] magento-engcom-team commented on #14852
Hi @magento-engcom-team, here is your [Magento instance](https://i-14852-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-14852-2-2-3.engcom.dev.magento.com/admin](https://i-14852-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-04-26 07:52] ishakhsuvarov commented on #12856
@sergiypop It is currently available only in private repositories. Comment with information will be posted once fix is delivered.

[2018-04-26 07:54] kanduvisla opened #14861 "M2.2.3 : Unexpected behaviour when programmatically assigning products to a category"
I'm trying to add Category Links to a product using the extension attributes-way, but instead of replacing the categories, they get added.

### Preconditions

- Magento 2.2.3
- Create a bunch of categories with ID 1 to 10

### Steps to reproduce

I wrote a code example:

[code]

### Expected result

The last result should return ID's `[6, 7]`, since those where the only category links set.

### Ac

[2018-04-26 07:57] #14860 closed, assigned to nobody

[2018-04-26 08:00] magento-engcom-team commented on #14852
Hi @nikidexa Thank you for reporting.
We have attempted to reproduce the issue you have described on a clean installation. "Add to Cart" for registered customer seems to be working fine. Please check your customizations and extensions.

<img width="500" alt="screen shot 2018-04-26 at 10 54 49" src="https://user-images.githubusercontent.com/31669971/39293190-e52aec3a-4940-11e8-8e7f-45a593f16ad6.png

[2018-04-26 08:16] kanduvisla commented on #14861
On inspecting, I think the problem can be found in `Magento\Catalog\Model\ResourceModel\Product\CategoryLink::saveCategoryLinks()` and it's use of the `processCategoryLink()`-method. The second argument is passed as a reference on this method and is done so to be able to `unset()` some keys:

    /**
     * Process category links
     *
     * @param array $newCategoryPositions
     * @param array

[2018-04-26 10:06] raymond62 commented on #6073
PayPal Express Button shown on Product Page although disabled

Preconditions: Magento 2.2.3., PHP 7.0, MySql 5.6

Expected result: No PP Express Button

![grafik](https://user-images.githubusercontent.com/29265078/39299485-16b5e932-4949-11e8-9837-59207adee369.png)

[2018-04-26 10:13] nit-it opened #14865 "Image Not Display on Cart page"
We Added configurable product in cart , But image not displayed if Parent product has no Images.

### Preconditions
1. Magento 2.2.3
2. Create Configurable product.

### Steps to reproduce
1. Create Configurable product.
2. Add Images for all child products
3. Do not Add images for parent products.
4. Add that product in cart page.

### Expected result
1. Display images of Child product  on cart p

[2018-04-26 11:09] malikt commented on #14859
hi Karlasa,
vendor/magent/module-sales/view/frontend/web/ has so such file.

[2018-04-26 11:10] malikt commented on #14859
@magento-engcom-team  so what is the fix for Mage 2.1.x?

[2018-04-26 11:17] julienanquetil commented on #14850
Hi,
PR is done for 2.3-develop
2.2-develop is already done in commit : https://github.com/magento/magento2/commit/781ec89aaca6e6ee2853e98065416614f2edffce
Thanks

[2018-04-26 11:44] mropanen commented on #13995
Magento added support for Elasticsearch 5+ in 2.2.2 or 2.2.3 (before that only 2.x was supported), and to use that you need to set the Search Engine setting to Elasticsearch 5.0+ in admin, or `magento config:set catalog/search/engine elasticsearch5`

[2018-04-26 11:51] sunilaccorin commented on #14118
@magento-engcom-team

Any update on this?

[2018-04-26 12:02] ritu-wp commented on #13995
yes, the problem I had was trying to run multiple versions of elastic search on my machine! it got confused!

[2018-04-26 12:18] nikidexa commented on #14852
Thanks for the answers....
from the log files:
_Exception message: Validate class not found from basename 'Magento\Framework\Validator\EmailAddress'_

Any suggest?

[2018-04-26 12:30] Webroju opened #14869 "M 2.2.3 price per website - wrong price at backend by a create order after update"
At a shop with 2 websites (and 2 storeviews) and use different prices (price scope: website), if  you create an order at the backend for the second website and update this order, e.g. change the quantity then the default price is calculated and not the price of the special website.

### Preconditions

1. Magento 2.2.3.
2. NGINX,
2. PHP 7.1.3

### Steps to reproduce

1. Create a second website, cre

[2018-04-26 12:44] domeglic commented on #12330
From reading magento-engcom/import-export-improvements#80 I gather the problem is that the import does not populate table `catalog_product_relation`.
If you need a quick workaround without updating code:
- Insert the missing bundle relations: `INSERT IGNORE INTO catalog_product_relation SELECT parent_product_id,product_id FROM catalog_product_bundle_selection`
- Reindex stock and price indexes

[2018-04-26 12:53] joshdavenport commented on #10382
@magento-engcom-team This issue is still present in 2.2.

The following screenshots show my experience on a 2.2.2 site. From looking at configurable.js up until 2.3-dev this issue would be present on all.

Firstly, hitting the product with the URL to trigger default options:

![screen shot 2018-04-26 at 13 37 43](https://user-images.githubusercontent.com/757828/39306402-03f18090-4958-11e8-80db-f16

[2018-04-26 13:26] joshdavenport commented on #10382
Actually, after looking into this further the fix is much easier than I originally thought. Here's a bit of a break down.

In `_create`, the starting point of the configurable component one of the first functions called is `_overrideDefaults` — this is where the default values are populated from the URL hash.

Later in `_create`, `_configureForValues` gets called which is essentially where the com

[2018-04-26 13:28] deepak956 opened #14870 "while adding catalog/helper/image in di.xml producing this error"
magento version 2.1.5 while adding <preference for="Magento\Catalog\Helper\Image" type="I95Dev\Imageseo\Helper\Catalog\Image" /> this error has risied please guide me ranout for this issue

a:4:{i:0;s:37:"Object DOMDocument should be created.";i:1;s:11777:"#0 D:\xampp\htdocs\mages215\vendor\magento\framework\View\Element\UiComponent\Config\Reader.php(95): Magento\Framework\View\Element\UiComponent

[2018-04-26 13:30] koopjesboom commented on #14598
Problem is solved. Don't know how, it works again.

[2018-04-26 13:33] aathil-ali opened #14871 "Warning Found in Exception log"
I have overided checkout_cart_item_renderers.xml
I got exception says " Magento\Framework\Exception\LocalizedException: The element
'checkout.cart.item.renderers' already has a child with alias 'virtual' in
/var/www/html/tristar/vendor/magento/framework/Data/Structure.php:611
Stack trace:
#0 /var/www/html/tristar/vendor/magento/framework/Data/Structure.php(319):
Magento\Framework\Data\Structure->_

[2018-04-26 13:39] aathil-ali opened #14872 "Warning in Exception log"
I have overided checkout_cart_item_renderers.xml
I got exception says " Magento\Framework\Exception\LocalizedException: The element
'checkout.cart.item.renderers' already has a child with alias 'virtual' in
/var/www/html/tristar/vendor/magento/framework/Data/Structure.php:611
Stack trace:
#0 /var/www/html/tristar/vendor/magento/framework/Data/Structure.php(319):
Magento\Framework\Data\Structure->_

[2018-04-26 14:31] torhoehn commented on #14456
I'm having the same problem with custom customer attributes.

[2018-04-26 15:02] adampmoss commented on #13751
I had the same exact issue and it was due to how my source model was created. I looked at the following source model and noticed that mine had some missing methods: `Magento\Eav\Model\Entity\Attribute\Source\Table`. I added these methods to my source model and it worked.

[code]

[2018-04-26 16:22] #3566 closed, assigned to nobody

[2018-04-26 18:01] bgronek commented on #6151
It doesn't look like this is fixed.  Will you be re-opening it?

[2018-04-26 19:57] MattFluidDigital commented on #7997
Hello,
are there any updates on this? The fix in #6729 does not resolve this issue. If a configurable product has a simple product with tax and one without tax, then the final price is not calculated correctly when added to the basket. It takes the tax class of the configurable product and applies this class to the product.

[2018-04-26 20:42] igor-imaginemage opened #14877 "Authentication using telephone instead of email"
Hi, I am thinking in add the feature to use telephone number instead of email on Magento 2.

Mobile phones are everywhere and and in some countries people are using more their numbers to associate in some services instead of an email address.

My idea is offer both type of authentication on Magento 2 (email or sms) and also send the transactional emails using SMS messages to these customers. The a

[2018-04-26 22:01] YuanXiong opened #14878 "Magento 2.2 RESTful API response error caused by plugin interceptor"
### Preconditions

1. Magento 2.2.2(and Magento 2.1.x)
2. Fresh install(optional)
3. Add a new module with a plugin interceptor(before, after or around) to "Magento\Customer\Api\CustomerRepositoryInterface".

Add the plugin to the di.xml:
/CompanyName/PackageName/etc/di.xml
[code]
Create a plugin. The content does not matter. You can even try with an empty file.
/CompanyName/PackageName/Plugin/Cus

[2018-04-26 22:44] stinGeorge commented on #9635
Hi @dhob68. Thanks a lot for your answer.

[2018-04-27 03:06] syedsaleem086 opened #14879 "Custom Customer attribute with input type date is not saved in database Magento2.2.2"
### Preconditions
1. Magento2.2.2
2. PHP 7.0.29

### Steps to reproduce
1. Create 3 different customer custom attribute with input type date, int, varchar
2. Go to the backend and try to save some data to created attribute

### Expected result
All attributes should save

### Actual result
 Attributes which have input type int, varchar will get saved. But attribute which has input type date won't s

[2018-04-27 04:13] antheny916 opened #14880 "Magento 2.2.1 Web Setup Wizard problems - {{menuState.title}}"
Hello! I'm new here and would like to see if you guys can help me out with this issue!

### Preconditions
1. Magento 2.2.1

![error1](https://user-images.githubusercontent.com/38775647/39344290-6c1618d2-4996-11e8-9143-545837260452.png)

![error2](https://user-images.githubusercontent.com/38775647/39344296-70f3d010-4996-11e8-8c1d-fd81c658b6ec.png)

### Steps to reproduce
1. Sign into admin panel.
2

[2018-04-27 04:14] digvijay2017 commented on #12856
@sergiypop  @ishakhsuvarov  . I am still looking the permanent solution for this issue. Well
For temporary solution: I am using this
`$price = $order->formatPriceTxt($childItem->getPriceInclTax());` instead  of  `$price = $order->formatPriceTxt($childItem->getPrice());`  in the file :  vendor/magento/module-bundle/Model/Sales/Order/Pdf/Items/Invoice.php   line : 135 by overwrite the Model : Magent

[2018-04-27 05:39] WindiceDev commented on #2666
@site-me

Thanks a lot for the solution, i was stuck with this stupid image issue for over a week.

[2018-04-27 05:40] #14735 closed, assigned to nobody

[2018-04-27 06:22] #14840 closed, assigned to nobody

[2018-04-27 06:34] magento-engcom-team commented on #14872
@aliaathil please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-04-27 06:34] #14872 closed, assigned to nobody

[2018-04-27 06:35] magento-engcom-team commented on #14870
@deepak956 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-04-27 06:36] magento-engcom-team commented on #14852
@nikidexa Please provide clear steps to reproduce the issue

[2018-04-27 06:42] magento-engcom-team commented on #14871
@aliaathil please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-04-27 06:42] #14871 closed, assigned to nobody

[2018-04-27 06:43] magento-engcom-team commented on #13905
@openwavecomputing we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-27 06:43] #13905 closed, assigned to nobody

[2018-04-27 06:44] magento-engcom-team commented on #14662
@saeedsweans we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-04-27 06:44] #14662 closed, assigned to nobody

[2018-04-27 06:46] magento-engcom-team commented on #14612
Hi @Arthi22
Please refer to Developer documentation on the subject http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html

[2018-04-27 06:47] joni-jones commented on #14768
@yogeshkarodiya, this is known issue and fixed in 2.2.2 Magento release (also, the fix released in 2.1.11). Please, see release notes for [2.2.2](http://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.2CE.html#payment-methods) release.

[2018-04-27 06:47] #14768 closed, assigned to nobody

[2018-04-27 06:50] magento-engcom-team commented on #14879
Hi @syedsaleem086 Thank you for reporting.
Please clarify the first point:

How did you create the customer attributes in question?

[2018-04-27 06:59] syedsaleem086 commented on #14879
HI @magento-engcom-team

Here is the code snippet

        $customerSetup->addAttribute(Customer::ENTITY, 'abn_acn', [
            'label' => 'ABN or ACN (Australia Only)',
            'input' => null,
            'required' => false,
            'sort_order' => 120,
            'visible' => false,
            'user_defined' => true,
            'position' => 1000,
            'system' => false,

[2018-04-27 07:03] joni-jones commented on #14580
@kamal9484, this is expected behavior because Magento Multishipping doesn't support built-in online payment methods.

Starting from Magento 2.2.4 release, Cybersource payment integration will be available for Multishipping.

[2018-04-27 07:03] #14580 closed, assigned to nobody

[2018-04-27 07:09] joni-jones commented on #14425
Hi, @DGTLLee, the current implementation of Braintree integration based on Braintree JS SDK V2 and doesn't support Apple Pay feature.

Closed, as not a bug.

[2018-04-27 07:09] #14425 closed, assigned to nobody

[2018-04-27 07:29] shivkumarsingh7 commented on #404
Very helpful information

[2018-04-27 07:37] joni-jones commented on #13433
Hi, @AndrewPenry, this is known issue (internal ticket `MAGETWO-89221`). Thanks for reporting.

[2018-04-27 08:15] einicher commented on #1471
Magento223 does not seem to check if a auto (by itself!!) generated url already exists and does not add a suffix number to unify it. How can this be an issue in a stable version? There are plenty of shops were products do have the same name.

[2018-04-27 08:44] simonmaass commented on #13254
hello,
i am facing a similar issue.
Magento CE 2.2.3
PHP 7.1
MYSQL 5.7

I am trying to create a configurable product with about 26k variations... After 4h the system created 5k variations - it takes forever....

Are there any benchmarks? If i check the database i can see the system creates about 2 products per second...  the php-fpm process on the ec2 instance takes only about 15% CPU... is there

[2018-04-27 09:15] Arthi22 commented on #14612
Noted. Meantime kindly advise , products displaying only in ascending
order. Please visit link
https://balloonconnexion.com/balloon-products/bubble-balloons.html
Products not displaying in the descending order. How to solve this.

On Fri, Apr 27, 2018 at 2:47 PM, Magento Community Engineering <
notifications@github.com> wrote:

[2018-04-27 09:17] einicher commented on #13383
I have completly the same issue with 2.2.3 but from the same magento installation which was just duplicated to another server. It is definitly a bug.

[2018-04-27 09:40] ghost opened #14881 "IMPORT: additional_attributes are completely ignored in 2.2.3"
### Preconditions
In a Magento admin login, we should have custom attributes created.
1. Navigate to Store>products page: Click on new attribute button, and just add the name of the attribute eg: **Cust_Att1**. Without any other changes, save the attribute.
2. Navigate to Store>Attribute Set: Click on the default attribute set record, Drag and drop the **_color_** attribute and as well the above c

[2018-04-27 10:32] Kershrew commented on #12165
I'm having this exact same issue on Mage 2.2.0

[2018-04-27 10:47] site-me commented on #2666
@WindiceDev

I’ve noticed some recommendations about naming files which reported by several people as helpful, so I included this in my solution. Yes I left only numbers an letters in the file names (and an extension of course) by applying hash function which gives you exactly this set of characters

[2018-04-27 11:25] domeglic opened #14882 "product_types.xml doesn't allow numbers in modelInstance"
### Preconditions
1.  Magento  v2.2.2

### Steps to reproduce
1. Have a module with numbers in vendor name
2. Create `product_types.xml` and define a new type

### Expected result
1.  No XSD validation errors

### Actual result
1. XSD validation error that modelName does not validate.

[product_types_base.xsd](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/etc/produc

[2018-04-27 11:47] devendra-m opened #14883 "Product image randomly appear and disappear on product page"
### Preconditions

1. Magento ver.2.2.2.
2. PHP 7.0.26 (cli) (built: Nov 21 2017 14:36:41) ( NTS )

### Steps to reproduce

1. It happens randomly. Product images sometimes appear and sometimes disappear.

### Expected result

1. Product images should always appear

### Actual result

1. Same product image sometimes appear and sometimes disappear on same browser.
![image1](https://user-images.gith

[2018-04-27 14:05] amenk opened #14885 "Refactoring: Code duplication EmailSender / ShipmentSender and so on"
These classes do pretty much the same:
`/app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php`

`/app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentSender.php`

Should be refactored into one.
What is the reason we have two? Which one should be preferred?

### Preconditions
Magento 2.4-develop

### Steps to reproduce
1. Observe two classes.

`app/code/Magento/Sales/Model/Order/S

[2018-04-27 14:28] amon81 commented on #6713
this issue still exist in Version 2.2.3

[2018-04-27 14:37] lano-vargas commented on #12866
Totally nonsense! Some sort of dictation?  2.2.2 having this client does not like.

[2018-04-27 15:14] matheusgontijo commented on #14854
Thanks @sidolov for getting it back to me! Дякую

[2018-04-27 16:05] MCfra opened #14887 "Content section: can't set Page in website -> store view"
In the beckend Content section, I can't edit the 'Page in websites' settings;
The 'Store view' field is not visible, and checking page with browser page inspector, I find an error:
the requested file

/pub/static/[version]/adminhtml/Magento/backend/it_IT/Magento_Ui/templates/form/element/multiselect.html is missing, it generate a 404 error.

Checking via ftp on the server this file is not present,

[2018-04-27 16:06] andy17612 opened #14888 "Magento 2.2.3: Checkout page Summary Sidebar not update the total 【UPDATE】"
### Preconditions

1. magento 2.2.3
2. php71

### Steps to reproduce

1. go to cart xxx.com/checkout/cart/
2. estimate shipping and tax > showing subtotal andthen becoming 0
2. estimate shipping and tax > change the shipping methods > subtatal , shipping total , grand total are not update in Summary Sidebar

### Expected result

1. fit it, please help,thank you
### Actual result

1. subtatal , shi

[2018-04-27 18:52] kandy commented on #14390
@mzeis, I believe we should close this issue because the implementation of this requires major changes in business logic and can cause performance issues

[2018-04-27 19:08] orbitrod opened #14890 "Product Attributes for Bundle Products cannot be changed or saved"
### Preconditions

1.  Magento 2.2.3
2.  PHP 7.0.29
3. MySql  Ver 15.1 Distrib 10.1.32-MariaDB,

### Prerequisites
1. Make sure you have an Attribute Set that has Product Attributes that are used in the Layered Navigation.

### Steps to reproduce

1. Create a  Bundle Product
2. Change the Attribute Set to a set that has Product Attributes that are used in the Layered Navigation.
3. Fill out requir

[2018-04-27 21:12] DePalmo commented on #5272
Can confirm for v 2.2.3. After "Flush static files cache", those files are not regenerated on next load, but the entire website breaks. Frontend loads only partial content while backend is missing all the styles and JS.

This is not expected behavior. Expected is that when CACHE is cleared, it should re-cache the content on next load or right after the cache was cleared.

Solution in our case was:

[2018-04-28 07:00] magento-engcom-team commented on #13944
Hi @raymond62. Thank you for your report.
The issue has been fixed in magento/magento2#14868 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [9000f7498a691ca1c7ca7d239ad97ce84ac41537](https://github.com/magento/magento2/commit/9000f7498a691ca1c7ca7d239ad97ce84ac41537)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-28 07:00] magento-engcom-team commented on #12712
Hi @lano-vargas. Thank you for your report.
The issue has been fixed in magento/magento2#14867 by @julienanquetil in 2.3-develop branch
Related commit(s):
 - [b7c0f1b6c2ddc8b2a50a1550a4a6265f8a1916e2](https://github.com/magento/magento2/commit/b7c0f1b6c2ddc8b2a50a1550a4a6265f8a1916e2)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-28 07:00] magento-engcom-team commented on #14850
Hi @shivkumarsingh7. Thank you for your report.
The issue has been fixed in magento/magento2#14867 by @julienanquetil in 2.3-develop branch
Related commit(s):
 - [b7c0f1b6c2ddc8b2a50a1550a4a6265f8a1916e2](https://github.com/magento/magento2/commit/b7c0f1b6c2ddc8b2a50a1550a4a6265f8a1916e2)

The fix will be available with the upcoming 2.3.0 release.

[2018-04-28 07:00] magento-engcom-team commented on #9360
Hi @WaPoNe. Thank you for your report.
The issue has been fixed in magento-engcom-team/magento2ce#114 by @magento-engcom-team in 2.3-develop branch
Related commit(s):
 - [da5692cda81eff0d7dce889fac1c68ba4acd5ed7](https://github.com/magento/magento2/commit/da5692cda81eff0d7dce889fac1c68ba4acd5ed7)
 - [9775cd8e6fc94927d62e98d1e152735563f08c51](https://github.com/magento/magento2/commit/9775cd8e6fc94

[2018-04-28 07:54] magento-engcom-team commented on #5768
Hi @dexterityzx. Thank you for your report.
The issue has been fixed in magento/magento2#14822 by @jameshalsall in 2.2-develop branch
Related commit(s):
 - [9463c7768578d69d5919cf78276f686139b3282b](https://github.com/magento/magento2/commit/9463c7768578d69d5919cf78276f686139b3282b)
 - [d95f0449bcdb247f5e2f2352707a875f64f50272](https://github.com/magento/magento2/commit/d95f0449bcdb247f5e2f2352707

[2018-04-28 07:54] #5768 closed, assigned to nobody

[2018-04-28 07:54] magento-engcom-team commented on #7861
Hi @spyrule. Thank you for your report.
The issue has been fixed in magento/magento2#12735 by @hannassy in 2.2-develop branch
Related commit(s):
 - [0666b27c6f3aed663992beb166ef97f5523c2355](https://github.com/magento/magento2/commit/0666b27c6f3aed663992beb166ef97f5523c2355)
 - [f5d93c3e04ebf7ee8fd2537c7415ae3b11ba07a9](https://github.com/magento/magento2/commit/f5d93c3e04ebf7ee8fd2537c7415ae3b11b

[2018-04-28 07:54] #7861 closed, assigned to laconica-sergey

[2018-04-28 07:54] magento-engcom-team commented on #12193
Hi @gianiaco. Thank you for your report.
The issue has been fixed in magento/magento2#12735 by @hannassy in 2.2-develop branch
Related commit(s):
 - [0666b27c6f3aed663992beb166ef97f5523c2355](https://github.com/magento/magento2/commit/0666b27c6f3aed663992beb166ef97f5523c2355)
 - [f5d93c3e04ebf7ee8fd2537c7415ae3b11ba07a9](https://github.com/magento/magento2/commit/f5d93c3e04ebf7ee8fd2537c7415ae3b11

[2018-04-28 08:16] mzeis commented on #14390
Thanks @kandy for clarifying. @anil-suthar thank you very much for reporting this issue. Please understand that we have to close the issue at this time for the mentioned reasons.

[2018-04-28 08:16] #14390 closed, assigned to kandy, kavindu

[2018-04-28 11:02] cnviradiya opened #14895 "Change Password warning message appear two times"
### Preconditions

1.  Magento Version 2.2.0
2. Php version 7.1.8, MySQL  version 5.0.12

### Steps to reproduce

1. Once I login to admin panel It will ask for the change password
2. Now, I am doing change password same as the previous one
3. It will show the multiple time warning message for the change password `It's time to change your password.`

### Expected result

1. Warning message will be

[2018-04-28 13:30] klein0r commented on #9685
Okay, it is working now.

- when I set user_defined to 1, the attribute will never show up in the backend (even with added adminhtml_customer to used_in_forms) and independent from the visible attribute.
- when I set user_defined to 0 everything works fine

Nevertheless, the name "user_defined" is a bit strange. You would never expect that this option will prevent your attribute from showing up in

[2018-04-28 14:30] magento-engcom-team commented on #7822
Hi @RedEnzian. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1157 by @RomaKis in 2.2-develop branch
Related commit(s):
 - [a49f5247902684ed6c19f99285a7015ab4a2507c](https://github.com/magento/magento2/commit/a49f5247902684ed6c19f99285a7015ab4a2507c)
 - [e4353add8d0cbf628a8813bed5377baf700e57b9](https://github.com/magento/magento2/commit/e4353add8d0cbf628a8813bed5

[2018-04-28 14:38] drak25 commented on #7056
pasting the configuration lines to app/etc/di.xml works but it is a bad solution cause this file is override during magento upgrade.

Pasting to etc/di.xml in the extension does not work.

Is there any other solution ?

[2018-04-28 15:25] gwharton commented on #7822
This is not fixed in 2.3-develop. Isn't there a procedure to follow to ensure that when bug fixes are committed to 2.2-develop, that they are also ported to 2.3-develop if required at the same time? Otherwise, when we all switch to 2.3.0 in "whenever it is released" time this bug will magically reappear?

[2018-04-28 17:03] Reilu commented on #13152
@prateekkarki @magento-engcom-team A workaround for this would be great, I just finished up adding a way to use additional review block templates in the the listing, only to find this issue in the search results. Perhaps a plugin? I am trying to dig in and find something.

[2018-04-28 17:12] gesell commented on #10499
2.2.3 also confirmed from my side. None of the hotfixes above are working for me. Anything else for 2.2.3?

[2018-04-28 18:47] Reilu commented on #13152
@prateekkarki in my case it seems an around plugin worked for me. I was trying to use custom templates for the reviews summary other than the default and short versions which were already overridden, so I made one for the \Magento\Review\Block\Product\ReviewRenderer. Hopefully a plugin helps find a solution relative to your needs in the interim.

[2018-04-28 19:09] lingwooc commented on #12428
Magento_GoogleAnalytics/templates/ga.phtml
https://gist.github.com/lingwooc/c6f09e3d0b37e67aafde73c578673bf6

[2018-04-28 19:12] lingwooc commented on #12428
Christ, just noticed they've marked this to be fixed by the community!

[2018-04-28 20:37] phoenix128 commented on #14883
I had the same issue and it was caused by PHP memory limit. Did you try rising it?

[2018-04-28 21:05] phoenix128 commented on #14878
I was unable to reproduce this in 2.2 or 2.1 .
I think your problem is most likely related to the closing PHP tag in your plugin repository code:

[code]

When dealing with PHP classes you should never close the PHP tag, otherwise extra spaces could be added to your output.

Change it to:

[code]

[2018-04-28 23:50] Ctucker9233 commented on #13179
@magento-engcom-team This issue was originally reported against 2.1. If it's not fixed in 2.1, why is this closed? If you point me to the right commits, I can create a backport.

[2018-04-28 23:54] Ctucker9233 commented on #8803
@magento-engcom-team If you point me to the right commits I can create a backport for 2.1. Why do you close issues when they're not fixed in their original branch?

[2018-04-29 00:03] Ctucker9233 commented on #13382
@magento-engcom-team What are the commits for this issue?

[2018-04-29 00:12] Ctucker9233 commented on #13465
@magento-engcom-team What are the commits for this issue?

[2018-04-29 00:14] Ctucker9233 commented on #13646
@magento-engcom-team Was this fixed in 2.1? What are the commits for this issue?

[2018-04-29 05:26] roman204 commented on #11885
Yes i did test it with 2.2.3. Cause i developed it on that version.

[2018-04-29 07:05] ArbyLeon commented on #14283
Hi @magento-engcom-team

Running PHP 7.0, MySQL 5.6, and M 2.2.3.
Current configuration is:
- Free Shipping (Orders $50+),
- FedEx,
- Authorize.net,
- Paypal Express

It seems like [#6929](https://github.com/magento/magento2/issues/6929) hasn't been fully resolved yet. Please see attached.
![screen shot 2018-04-28 at 11 51 32 pm](https://user-images.githubusercontent.com/20910383/39404057-a05cea08

[2018-04-29 08:48] melwinVincent commented on #14762
Any update on this issue?
I have checked many updates, All of them have the same issue

[2018-04-29 11:27] Karanp13 opened #14900 "CSS is not loading. - Magento 2.2"
I have installed the Magento 2.2 version. Theme is not load. CSS and JS issue.

[2018-04-29 12:45] Anantkprajapati commented on #5231
Hello @valeriaabo
You can change it using override Magento\Contact\Block\ContactForm and add code like below

CustomModule/Module/etc/di.xml
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Contact\Block\ContactForm" type="CustomModule\Module\Block\Cont

[2018-04-29 15:42] phoenix128 commented on #14890
Does it happen on a fresh installation? I was unable to reproduce it on 2.2.x and in 2.3.x .

[2018-04-29 15:45] WaPoNe commented on #9360
@magento-engcom-team great job!

[2018-04-29 18:50] phoenix128 commented on #14865
I was not able to reproduce this in 2.2.x .
What is your setting for `Stores -> Configuration -> Sales -> Checkout -> Shopping Cart -> Configurable Product Image` ?

[2018-04-29 19:25] Ctucker9233 commented on #13460
@magento-engcom-team What are the commits for this issue?

[2018-04-29 19:28] Ctucker9233 commented on #13835
@magento-engcom-team What are the commits for this issue?

[2018-04-29 19:34] Ctucker9233 commented on #13964
@orlangur I've experienced the same issue as @Robert-Damon and while it doesn't take a lot of space it definitely uses space that could be used otherwise. If products are deleted, it must be assumed that said products will never be used again, hence the images should be removed to conserve server space.

[2018-04-29 19:44] Ctucker9233 commented on #13993
@magento-engcom-team What are the commits for this issue?

[2018-04-29 21:44] anebi commented on #14443
Hello,

I experience same problem with shop upgraded from 2.0.7 to 2.2.3. In layer navigation filter i get negative values. Checking database I see that min value field has negative prices generated for configurable products with assigned simple products. I believe that we need to reopen this ticket and put it with high priority. There was a suggestion as temporary fix to change the code like this

[2018-04-29 21:46] anebi commented on #14443
I compared the the file with previous version where I had it working and the code is same, but probably min price calculation code has changed and in db we get negative values for min price after reindexation.

[2018-04-30 04:10] abhi2303237 commented on #6818
Hi All,

Can any one of you help me to analyse the impact of this type ERROR in magento application ?

Thanks,
Abhi

[2018-04-30 05:53] Jeeva-Rathinam commented on #5064
Anyone have the solution???

[2018-04-30 06:39] ravinders-121 commented on #12446
If anybody needs it before 2.3 release, it is available in below free extension

https://redchamps.com/seo-and-sitemap-patch-magento-2-extension.html

OR

there is a paid extension which can exclude any URL from sitemap

https://redchamps.com/xml-sitemap-exclude-url-magento-2-extension.html

[2018-04-30 07:49] nicolai-hoeks opened #14909 ""Order Summary" randomly disappearing from checkout"
### Preconditions
1. Magento ver. 2.2.3
2. Linux Debian server
3. php version: 7.0.29
4. MySQL version: 5.0.12

### Steps to reproduce
1. Put an item in the cart
2. Go to the checkout
3. Check if "Order Summary" is present

### Expected result
1. Put an item in the cart
2. Go to the checkout
3. See "Order Summary" with subtotal, shipping and order total

### Actual result
1. Put an item in the car

[2018-04-30 08:57] ankursachdeva11 commented on #14713
Hi @magento-engcom-team

Any update on this?

Thanks

[2018-04-30 09:21] jasperzeinstra opened #14912 "Cookie `section_data_ids` isn't filled properly after restarting browser application"
### Preconditions
1. Magento 2.2.3 with sample data

### Steps to reproduce
1. Login with the test user account (roni_cost@example.com)
2. Notice the `Welcome Message`, the `Full Name` at the account dropdown and `Compare Products` link
3. Now completely shut down your browser application (don't just close the browser window)
4. Restart your browser application
5. Go to the site and notice that yo

[2018-04-30 09:33] jamie-selesti commented on #14830
Could we reopen this as, the connected issue you refer to is relating to IE10 I am using the latest version of chrome 66.0.3359.117

[2018-04-30 09:44] nishantbkw commented on #4979
Same issue in here on 2.2.2

[2018-04-30 09:56] Jakhotiya opened #14913 "bookmark views become uneditable after deleting the first bookmark view."
For product listing grid, I created multiple bookmark views like in following screenshot. When **I delete the first view I created ** all other views become uneditable except the last view.

![screen shot 2018-04-30 at 2 59 47 pm](https://user-images.githubusercontent.com/9327315/39421823-75e0c5ac-4c88-11e8-83fc-6371d49bb626.png)

![screen shot 2018-04-30 at 3 00 14 pm](https://user-images.githubu

[2018-04-30 10:04] rigu12 commented on #14909
you look like same with my post https://github.com/magento/magento2/issues/14888
I have to temporarily disable checkout cart page,until find a solution

[2018-04-30 11:14] nirbhaimag opened #14916 "category filter not working on search page"
### Preconditions

1. Magento version 2.2.3
2. Chrome

### Steps to reproduce

1. Search products in the search textbox and press enter to search
2. Search page loaded with products.
3. In left sidebar category filter showing with products count
![image](https://user-images.githubusercontent.com/38855751/39424514-b9892554-4c94-11e8-96e8-bee348e2d44f.png)
4. No product is showing, when select any o

[2018-04-30 11:15] 175009 opened #14917 "Cart Price Rules stopped working"
### Preconditions
- Magento ver. 2.2.2
- PHP 7.0.27 with Zend OPcache v7.0.27,
- MySQL 5.7.21-20

### Steps to reproduce
At this moment I am not able to fix it, so there is no possibility to reproduce it.

### Expected result
 Cart Price Rules should works as designed.

### Actual result
All created Cart Price Rules stopped working. I created different Cart Price Rules and each of them giving me "

[2018-04-30 11:25] thiagolima-bm opened #14918 "Ineficient Indexer Batch Provider"
### Preconditions
Scenario:
Assume that we have a database which has 12 products. Assume that the products have the following entity ids:
1000, 10000, 12322, 12522, 12554, 13333, 14444, 15555, 16666, 16667, 99999, 1000000

### Steps to reproduce
For the batch size of the indexer
The native Magento functionality defined by Magento\Framework\Indexer\BatchProvider::getBatches() will result in the fol

[2018-04-30 12:31] jayanta88 opened #14920 "Same products adding separately when adding products from a custom action."
I'm adding multiple configurable options in the cart from a new controller action. For that, I've created a module.

**1. module.xml**

[code]

**2. routes.xml**
[code]

**3. Controller Action**
[code]

This is working fine and adding products to cart with configurable options. So this form action url is like: https://domain.com/checkout/cart/bulkadd

Now when I'm adding the same configurable prod

[2018-04-30 12:36] shanenacpil commented on #3870
I tried the above solutions but didn't work for me. I'm using magento v2.1.7

Have you manage to fix your issue @truedaz?

[2018-04-30 12:40] johnspostsalotfishing commented on #6831
Also experiencing in 2.2.3

[2018-04-30 13:31] gnysek commented on #13929
On Windows this may be because `\Magento\Framework\Filesystem\Directory\Read::setPath` replaces `\` to `/`, while in other places `realpath()` again returns `\` in path (as this is windows default). Lot of functions which does `strpos` later breaks because of this (like eg. `\Magento\Framework\App\Filesystem\DirectoryResolver::validatePath`).

[2018-04-30 13:58] thiagolima-bm commented on #14887
@MCfra PHP version 5.3.26 is supported, please check the system requirements here:
https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

[2018-04-30 14:50] magento-engcom-team commented on #14855
Hi @taylored2. Thank you for your report.
The issue has been fixed in magento/magento2#14905 by @phoenix128 in 2.2-develop branch
Related commit(s):
 - [187ab1f0b5b4bffa5ad5fb69c0c6daac0c5f2498](https://github.com/magento/magento2/commit/187ab1f0b5b4bffa5ad5fb69c0c6daac0c5f2498)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-30 14:50] #14855 closed, assigned to phoenix128

[2018-04-30 14:50] magento-engcom-team commented on #8194
Hi @ziliquas. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1233 by @nmalevanec in 2.2-develop branch
Related commit(s):
 - [0eb2e9494b3e2879d6df5c2eb2f5dbb88a963e27](https://github.com/magento/magento2/commit/0eb2e9494b3e2879d6df5c2eb2f5dbb88a963e27)

The fix will be available with the upcoming 2.2.5 release.

[2018-04-30 14:50] #8194 closed, assigned to nmalevanec

[2018-04-30 15:28] buskamuza commented on #12921
It's fixed in Magento 2.2.4

[2018-04-30 15:51] Axeldekker commented on #12695
I have the same problem, but I only have it for the options for manufacturer and color. If I truncate the eav_attribute_option_swatch settings I will lose all the data that still works. What is the work around?

[2018-04-30 17:04] bruno-serfe commented on #13415
Hi @Deep256 will this be ready in Magento v2.3? thanks

[2018-04-30 17:40] YuanXiong commented on #14878
@phoenix128
It works. I really appreciate your help and will check all my code for the closing issue.
The issue will be closed.

[2018-04-30 17:40] #14878 closed, assigned to nobody

[2018-04-30 18:55] magento-engcom-team commented on #12430
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#14902 by @rogyar in 2.1-develop branch
Related commit(s):
 - [5c5859566074a7e0be2fb7fbb7b326cd0f90d937](https://github.com/magento/magento2/commit/5c5859566074a7e0be2fb7fbb7b326cd0f90d937)

The fix will be available with the upcoming 2.1.15 release.

[2018-04-30 20:50] djview commented on #14283
Editing iframe.phtml seems to work above. However, the error message is still not descriptive enough. When the card fails an AVS check, the $params['error_msg'] message returns a message about the transaction being declined but it doesn't indicate it's an AVS problem.

If I do an inspect on the page, and view the network tab, I can see that paypal is returning a variable called RESPMSG and the val

[2018-04-30 21:40] emreozandac commented on #10454
Any update on this?

[2018-04-30 22:13] kyegil commented on #13405
While waiting for a bug fix I solved this issue by making the following change to the core Product model (in the hope that this will be fixed by next time I update Magento):

In the Magento\Catalog\Model\Product::getStoreIds() method
(approx line 792 of vendor/magento/module-catalog/Model/Product.php):

Find
`                foreach ($websiteIds as $websiteId) {
`
Replace with
`                for

[2018-04-30 22:52] djview commented on #2916
If somebody doesn't want to run the composer patch above, you can make this change by editing the js file directly by going to vendor/magento/module-ui/view/frontend/web/js/view/messages.js and editing starting at line 67. Delete the following code:

if (isHidden) {
                setTimeout(function () {
                    $(self.selector).hide('blind', {}, 500);
                }, 5000);

[2018-05-01 02:11] george-vlahakis opened #14921 "health_check.php fails on a healthy system"
On production configuration and Varnish setup we keep getting errors on health_check.php.

Investigating further it turns out that the database connection was failing with TIMEOUT.

However the system works fine on front and back end.

Could there be an issue with this page?

Check the configuration data passed to the $dbAdapter and it is all correct yet it fails to connect to the database server.

[2018-05-01 04:05] nntoan commented on #6350
I can confirm that it still does not work in 2.2.3

[2018-05-01 08:26] prateekkarki commented on #13152
@Reilu Thanks for the workaround, I'll try to work that out. Cheers

[2018-05-01 15:52] winterk80 commented on #12233
Hi Simon,

This extension is only for community. Do you have an eta on when this
capability will be added to enterprise? 2.3? 2.4?

On Tue, Apr 24, 2018 at 2:25 AM, Simon Sprankel <notifications@github.com>
wrote:

--
Warm Regards,
Keith Winter
Founder & CEO

(Sent using speech to type, please excuse any typos or mistakes.)

-----------------------------------------------

If you are not the inten

[2018-05-01 15:56] ikender commented on #9003
how is this issue still not being addressed @piotrekkaminski
assuming you have not gotten satisfaction on this @sbrendtro @scottsb @cowley ?

[2018-05-01 16:08] joni-jones commented on #9003
@ikinder, starting 2.2.4 release, Magento will provide possibility to customize errors from payment gateway. Braintree integration, also, will have such feature.

We already published the developer documentation, so please, wait upcoming release.

[2018-05-01 16:30] sprankhub commented on #12233
I am pretty confident that the extension also works with Magento Commerce (Enterprise). However, I could not test it yet. I already requested a dev license, but this takes time. Feel free to buy the extension, try it and if it does not work, you can still request a refund according to the [FAQs](http://docs.magento.com/marketplace/user_guide/getting-started/faq-merchants.html).

[2018-05-01 17:10] mikelevy300 commented on #10810
Are there any plans to backport this to 2.1.x?  The system requirements for Magento 2.1.x, http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html, say Apache 2.4 is supported, but without this fix, it won't work with 2.4.  Seems like either this should be backported to 2.1.x or the documentation should be updated to say Magento 2.1.x only supports Apache 2.2.

[2018-05-01 17:14] jonashrem commented on #10810
You can install mod_access_compat to use magento 2.1 with apache 2.4. Most installations come with it enabled.

https://httpd.apache.org/docs/2.4/mod/mod_access_compat.html

[2018-05-01 18:53] CNanninga opened #14924 "Product attribute edit view in admin does not properly display swatches in PHP 7.1"
When swatches have been configured for a product attribute with the "swatch" type, future loads of the attribute edit screen do not properly display swatches, even though the underlying data was saved correctly.

### Preconditions
1. Magento 2.2.3 and below
2. PHP 7.1

### Steps to reproduce
1. In admin, navigate to Stores -> Attributes -> Product
2. Edit an attribute of type "Visual Swatch", or c

[2018-05-01 19:08] CNanninga commented on #14924
Well, should have checked the 2.2-develop branch first.  Seems this issue has already been fixed for an upcoming release.

[2018-05-01 19:08] #14924 closed, assigned to nobody

[2018-05-01 20:01] J-Fricke commented on #7647
I want to add that this showed up for us and the issue ended up being that an older deactivated store still had settings saved for Base, Small, Thumbnail for the image we were attempting to delete. Once these were removed, we were able to delete the image just fine.

[2018-05-01 20:44] frequip commented on #12415
Hello @shinesoftware , Could you please tell me the exact steps to follow to solve this issue. i am facing this issue on live server. Thanks

[2018-05-02 00:43] syedsaleem086 commented on #14879
Hi @magento-engcom-team
Please let me know above detail is enough or not. Please respond

[2018-05-02 01:08] moloughlin commented on #3148
Additionally to suggestions here and elsewhere, I also needed to add the attributes to the customer_form_attribute table to bring my fields back after an M1=>M2 data migration. E.g:
[code]

[2018-05-02 02:49] thiagosantos opened #14925 "REST API - No such entity when adding items to cart - /carts/mine/items"
Lost my day on this issue, basically when trying to manage a cart after added a new item, and the only one. Got repeatedly the error exposed below. Going futher I got that this error was happening because "region id" wasn't set up.

NoSuchEntityException is so generically that a error occurring inside the method, of interface, of another interface, of class, from an object, with a unset ID was cau

[2018-05-02 04:54] Jeeva-Rathinam commented on #8017
Anyone have solution?

[2018-05-02 05:13] Poonika opened #14926 ""Rolled back transaction has not been completed correctly" on Magento 2.2.3"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0

### Steps to reproduce

After placing an order and providing payment details, Rolled back transaction has not been completed correctly" had been shown up and I could not make any transaction.

### Expected result

1. How can I fix this please?

### Actual result

![rollback](https://user-images.githubusercontent.com/32856532/39506353-2d9c4ff2-4e02-11

[2018-05-02 06:01] pushpendra07 opened #14927 "Total Due showing wrong in admin side order panel"
Total due showing wrong in admin side. It should be show 0 but it's showing 2000

1. Magento version 2.2.3

### Steps to reproduce
1. Create a simple order with discount .
2. Create Invoice.
3. Check order summery after invoice create.

### Expected result
1.  Total Due should be show 0

### Actual result
1. Total due showing 2000 which are wrong.

![orderdetails81](https://user-images.githubuserc

[2018-05-02 06:55] praveen-chelumalla commented on #10351
I am also facing same issue
![screenshot-sample-magento local-2018 05 02-12-24-38](https://user-images.githubusercontent.com/32830727/39509427-e55aff3e-4e03-11e8-917f-d7e235861d28.png)

[2018-05-02 07:15] tuyennn commented on #11259
This one related to  Coupon API not working for guest user #14056

[2018-05-02 08:15] swayoleg commented on #14412
my workaroud was
1) create quote.js at design package
2) add     'domReady!'

copy vendor/magento/module-checkout/view/frontend/web/js/model/quote.js
to
app/design/frontend/%YOUR_DESIGNVENDOR%/%themename%/Magento_Checkout/web/js/model/quote.js

Then change define to

 `define([
    'ko',
    'underscore',
    'domReady!'
],`
(add domReady!)

But its just a workaround. We need a core fix

[2018-05-02 08:40] aleksejtsebinoga commented on #12362
@aeu ,

Thank you for the comment.
But it is not working on the http / https both.

[2018-05-02 08:47] sergio-giganti opened #14929 "Coupon Codes from different Cart Sales Rules don't stack with each other"
Good morning,
In Mag 2.2, I saved two sales rules with "fixed amount discount for the whole cart" and auto-generated coupon (generation provided through REST API calls) and applying the second coupon code overwrite the first one instead of stack with it.
Both rules have "Discard subsequent rules" set to no and priority set to 0.

How can I fix this? Am I doing something wrong?
Thank you for your s

[2018-05-02 08:59] ravinders-121 commented on #5024
Hi @truesilveruk

This can only invoice orders with Zero subtotal. But what about a free product ordered with another product and order total is non-zero.

We at RedChamps has extension for this called "Auto Invoice Free Product"

https://redchamps.com/auto-invoice-free-product-magento-2-extension.html

[2018-05-02 09:16] mwaheed92 opened #14930 "Fourth level of categories not working"
Hello Magento team,

I noticed that 4th level of categories (sub-sub-sub categories) is not working when switching between store views (Eng <-> Arabic) views in my case

### Preconditions
1. Magento 2.2.2
2. PHP 7.0.29

### Steps to reproduce
For example: I have "All Department" -> "Medical" -> "Anesthesia" -> "Ventilators"
and these are the links of them

1) http://megatronic.com.eg/222/all.html

[2018-05-02 09:27] sydekumf commented on #13736
Hey there, the same problem also occurs for Magento 2.1, the serialized value looks like this: `s:1:"&gt;";` which of course can not be deserialized. Any idea when this will be fixed? :wink:

[2018-05-02 09:29] schmengler commented on #2747
@duckchip I don't know, but maybe someone from the team can answer it:

[2018-05-02 09:33] ravinders-121 commented on #3085
Hi @riswit @kor3 @zakgrindle @Khaleel

We have developed a Magento 2 extension to set meta robot tag per page basis. You can use it to easily update meta robot tag for any of store pages(particular product, category, CMS page, shopping cart etc ) via admin.

The extension can be found at below URL

https://redchamps.com/meta-robots-tag-per-page-magento-2-extension.html

[2018-05-02 10:24] lano-vargas opened #14931 "Category set to display static block only includes columns columns main on page"
### Preconditions
Magento 2.1.7

### Steps to reproduce
1. Create a category
2. Update Design->Layout set to="1 column"
3. Set Display Settings->Display Mode->Static Block Only
4. Set Display Settings->Anchor-> set to="No"
5. Create configurable product and create/add simple product variations e.g colour/size at least one.
6. Navigate to magento category url should see nothing.

### Expected resul

[2018-05-02 10:29] leoquijano commented on #8988
There seems to be no commit reported here. For those looking, I found this in ```2.2``` branch: 14b9205f790b1cf86bb1dd2ccbcd1f6267ad6e22.

That creates an observer: ```Magento\Catalog\Observer\UnsetSpecialPrice```, that will set the field as '' when set to ```NULL```. This causes a strange behavior when trying to unset the value (the row gets stored as ```NULL``` in the ```catalog_product_entity_d