[2018-11-02 14:13] agorbulin commented on #19003
#mageconf

[2018-11-02 14:18] simonmaass commented on #10304
i agree and have the same issue!

[2018-11-02 14:32] magento-engcom-team commented on #16539
Hi @andrewbess. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-02 14:44] AndrewPenry commented on #18999
@magento-engcom-team give me 2.2.6 instance

[2018-11-02 14:45] magento-engcom-team commented on #18999
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-02 14:45] magento-engcom-team commented on #18999
Hi @AndrewPenry, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 14:53] RostislavS commented on #17798
Hi @duffner , Your concern is clear and you're right that Paypal has such functionality as multiple charges of the same transaction. But, Braintree doesn't have such functionality. Braintree allows to charge an authorized transaction only one, right after that rest of transaction amount is released. Therefore, it is impossible to implement the requested feature in Magento until Braintree has such

[2018-11-02 14:58] swnsma opened #19034 "sales_order_item_save_commit_after and sales_order_save_commit_after events will never fire for guest checkout"
### Preconditions

1.Magento version: 2.2.6
2. PHP 7.1.x
3. Completely clean install with no demo data

### Steps to reproduce
1. Create new observers for events **sales_order_item_save_commit_after** and **sales_order_save_commit_after**.
2. Complete checkout as guest user.

### Expected result

1. Events have fired.
2. Observers have processed events.

### Actual result

1. Events have not fired

[2018-11-02 14:59] magento-engcom-team commented on #19034
Hi @swnsma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-02 15:00] MedusaDelft commented on #16013
I do have the same issue when trying to get the login page.
Logged in (admin) 7 days ago perfectly (shop in development) and now I try again and get the error 'The page isn't redirecting properly'. This is not the first time.
Last time, only a full reinstall did the trick, but that is not an option now.

[2018-11-02 15:16] vpodorozh commented on #14007
Hello @Yogeshks - about your expected result from this issue: `All price range links will appear for all values, whether the number of results is zero or greater.`
Reason: I do think that it is not valid `expected result` - the user does not need filters that will return the empty set of products.
However, this comment from magento back office could confuse: `Can be used only with catalog input ty

[2018-11-02 15:20] AndrewPenry commented on #18999
@magento-engcom-team give me 2.2.6 instance

[2018-11-02 15:20] magento-engcom-team commented on #18999
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-02 15:21] magento-engcom-team commented on #18999
Hi @AndrewPenry, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 15:37] AndrewPenry commented on #18999
@magento-engcom-team give me 2.2.5 instance

[2018-11-02 15:37] magento-engcom-team commented on #18999
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-02 15:38] magento-engcom-team commented on #18685
Hi @ashutoshwebkul. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-02 15:39] magento-engcom-team commented on #17796
Hi @p-bystritsky. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-02 15:48] magento-engcom-team commented on #18907
Hi @rahulwebkul. Thank you for your report.
The issue has been fixed in magento/magento2#18908 by @rahulwebkul in 2.2-develop branch
Related commit(s):
 - [f1b2360a18cc04104ad0c04a2978af3c99c401d2](https://github.com/magento/magento2/commit/f1b2360a18cc04104ad0c04a2978af3c99c401d2)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-02 15:48] #18907 closed, assigned to nobody

[2018-11-02 15:50] magento-engcom-team commented on #18999
Hi @AndrewPenry, here is your [Magento instance](http://34.228.235.121/i-18999-2-2-5/).
Admin access: [http://34.228.235.121/i-18999-2-2-5//admin](http://34.228.235.121/i-18999-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 15:59] andrewbess commented on #16539
Hello @herod2k
It hasn't reproduced on Magento (all versions).
You are not filled currency rates in steps to reproduce.
Please clarify, are you filled it?
Thank you in advance.

[2018-11-02 16:00] andrewbess commented on #16539
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 16:00] magento-engcom-team commented on #16539
Hi @andrewbess. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 16:01] magento-engcom-team commented on #16539
Hi @andrewbess, here is your [Magento instance](http://34.228.235.121/i-16539-2-3-develop/).
Admin access: [http://34.228.235.121/i-16539-2-3-develop//admin](http://34.228.235.121/i-16539-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 16:03] AndrewPenry opened #19043 "2.2.6 CE Buying the last of a simple product does not clean parent configurable product cache"
When a user purchases the last of a simple product, even though the quantity is reduced to zero, the option is not disabled until the cache is manually flushed.

### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.0
3. All default options. Manage Stock is ON.

### Steps to reproduce (*)

1. Create a new product (TEST). Give it a price and weight. Create 2 Configurable Options for color (RED and BLUE)

[2018-11-02 16:03] magento-engcom-team commented on #19043
Hi @AndrewPenry. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-02 16:09] AndrewPenry commented on #19043
I suspect this is related to #18999

[2018-11-02 16:10] sourav88 commented on #18409
thanks

[2018-11-02 16:15] mikekenyon99 opened #19045 "Can't build Product EAV index"
Hi,

I'm running Magento 2.2.6 and when I have 40k of products the Product EAV index builds fine.  I add another 40k and this index doesn't build.  I leave it for 24 hours and then when I come back the status is "Suspended".  How do I go about diagnosing this?  All the other indexes build <1 minute.  I have about 80 product attributes.  I have done lots of research on the internet and I can't find

[2018-11-02 16:15] magento-engcom-team commented on #19045
Hi @mikekenyon99. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-02 16:16] agorbulin commented on #19003
Fixed in pull request #19036

[2018-11-02 16:21] #19045 closed, assigned to nobody

[2018-11-02 16:24] mikekenyon99 opened #19046 "Product EAV doesn't build"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.0

### Steps to reproduce (*)

1. Load 40k of products, 100 attributes
2. Run php bin/magento indexer:reindex
3. Load 40k of products
4. Run php bin/magento indexer:reindex

### Expected result (*)

1. Indexes should build in reasonable time.

### Actual result (*)

1. All indexes build in under <1 min but the product EAV one does not.  I have given

[2018-11-02 16:33] theschwag commented on #10304
I agree with @samuelmafra as well. Our site is running 2.1.8 and we cannot get backorders to work either. Very annoying

[2018-11-02 17:24] #17798 closed, assigned to nobody

[2018-11-02 19:30] duffner commented on #17798
@RostislavS, I see your reference to the docs and I'd be inclined to agree. However, if this is not supported behavior, shouldn't Magento at minimum pass the "Cannot submit for settlement unless status is authorized" error message onto the user.  Most merchants don't give direct access to their merchant accounts, and with this Customer Service members could be doing this for months before it's not

[2018-11-02 19:33] duffner commented on #12914
@vasilii-b, this was fixed via the EE support team I believe, but I don't know if this fix ever made it back to the community.

Has any progress been made here?   This is blocking a merchant who sells be weight from migrating from m1 to m2.

[2018-11-02 21:34] cmcantrell opened #19049 "Admin User Problems"
### Preconditions (*)
Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-138-generic x86_64)
PHP 7.0.32
This is Magento 2.2.6
running Smartwave Infortis theme

### Steps to reproduce (*)
Login to Magento's admin
Navigate to System > All Users > All Users > Add New User

### Expected Results:
Magento would work. The page that comes up has no data.  I see the User Menu, Back - Save User - Force Sign In... etc.

##

[2018-11-02 21:34] magento-engcom-team commented on #19049
Hi @cmcantrell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-02 21:51] U12358 opened #19051 "Can't purge Varnish 4.0.2 cache"
### Preconditions (*)
Saving products doesn't clear cache, cache:clean command also doesn't clear cache

Host provider has next configuration, which I can't change

        "localhost";
        "127.0.0.1";
}

Investigation show that current Varnish configuration doesn't work with header param **Host:127.0.0.1** and requires real **Host: domain.com**.
Besides request must be sent to address **127.

[2018-11-02 21:51] magento-engcom-team commented on #19051
Hi @SKovbel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-03 02:58] numan201 commented on #18148
For PayPal Advanced the SQL solution wasn't sufficient as the user would still get a payment declined error. Even though the card would get charged, the user would receive an error stating their payment was declined, and thus causing customers to charge their cards multiple times...

For now, we have changed line 38 of vendor/magento/module-sales/Model/Order/Payment/State/RegisterCaptureNotificati

[2018-11-03 04:02] kirkmadera commented on #13225
We also build separate from deploy and ran into this issue. We are expecting pub/static to actually be static and read only. We have also made the workaround to make the cache dir writable. Would be cleaner if these merged files generated as part of static content deploy.

[2018-11-03 06:11] Dharmeshvaja91 opened #19052 "Position order showing before the text box"
### Preconditions (*)

1. Magento 2.2.x

### Steps to reproduce (*)

1.  Catalog > Category > Choose any category > Go to Product in category tab   >  Assign products.
2. You will find the position order showing before the text box.
### Expected result (*)

![expected-screenshot-from-2018-11-03-11-31-07](https://user-images.githubusercontent.com/43463281/47948752-fe3a0280-df5c-11e8-81f6-e3f130199d

[2018-11-03 06:11] magento-engcom-team commented on #19052
Hi @Dharmeshvaja91. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-03 06:13] magento-engcom-team commented on #19052
Hi @speedy008. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-03 06:35] nimitaemipro opened #19054 "Using Media Image custom attribute type could not display on frontend."
Using Media Image custom attribute type could not display on frontend.
### Preconditions (*)

1. Magento Community Edition V2.2.6 with sample data (PHP 7.0)

### Steps to reproduce (*)

1. Create custom attribute named 'icon_image' of product from admin.
2. Set attribute type Media Image.
3. assign icon_image attribute in attribute set.
4. Update product image and set new role 'icon_image'.
5. Cre

[2018-11-03 06:35] magento-engcom-team commented on #19054
Hi @nimitaemipro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-03 13:34] magento-engcom-team commented on #18192
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-03 13:43] magento-engcom-team commented on #14913
Hi @ssp58bleuciel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-03 20:58] Ctucker9233 commented on #6073
@JRhyne It appears to be fixed in 2.2.6. If you can confirm, this issue can be closed.

[2018-11-03 21:18] Ctucker9233 commented on #8219
@magento-engcom-team this doesn't appear to be fixed in 2.2 branch, if you link commits, i'll create backport.

[2018-11-03 21:45] Ctucker9233 commented on #15031
@engcom-backlog-pb any update? It would be great to have a fix soon.

[2018-11-04 00:41] SAN1TAR1UM commented on #7724
Issue still exists in 2.2.6

[2018-11-04 09:44] tomekjordan opened #19060 "User created by admin cannot login"
### Preconditions (*)

1. Magento 2.3 beta 32
2. PHP 7.1
3. Maria Db 11

### Steps to reproduce (*)
1. Create user at admin area (without password)
2. User try to login at frontend

### Expected result (*)
1. Succesful login or option to create password for first time user

### Actual result (*)
1. User cannot login and gets blank page
2. Server logs shows error and PLAIN USER PASSWORD that he tri

[2018-11-04 09:44] magento-engcom-team commented on #19060
Hi @tomekjordan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-04 15:11] maheshWebkul721 commented on #19060
@magento-engcom-team give me 2.3-develop instance

[2018-11-04 15:11] magento-engcom-team commented on #19060
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-04 15:11] magento-engcom-team commented on #19060
Hi @maheshWebkul721, here is your [Magento instance](http://34.228.235.121/i-19060-2-3-develop/).
Admin access: [http://34.228.235.121/i-19060-2-3-develop//admin](http://34.228.235.121/i-19060-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-04 15:18] maheshWebkul721 commented on #19060
@tomekjordan please confirm if you are able to reproduce this issue on the above instance.

[2018-11-04 15:19] maheshWebkul721 commented on #19049
@magento-engcom-team give me 2.2-develop instance

[2018-11-04 15:19] magento-engcom-team commented on #19049
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-04 15:20] magento-engcom-team commented on #19049
Hi @maheshWebkul721, here is your [Magento instance](http://34.228.235.121/i-19049-2-2-develop/).
Admin access: [http://34.228.235.121/i-19049-2-2-develop//admin](http://34.228.235.121/i-19049-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-04 20:16] lbajsarowicz opened #19062 "Inconsistent static test rulesets for PHPMD in Magento repository"
### Summary (*)
Each contribution to Magento is tested against the Code Style rules provided in Magento repository:

https://github.com/magento/magento2/blob/a119df4e9ab5ffe3f3097255cc6a02cfe2e23376/dev/tests/static/phpunit.xml.dist#L21-L23

The class contains ruleset hardcoded:

https://github.com/magento/magento2/blob/9db2bd05dbf0a1a7a5b4986bdb9091f4f2d2c1f8/dev/tests/static/testsuite/Magento/Te

[2018-11-04 20:16] magento-engcom-team commented on #19062
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-04 23:02] #19062 closed, assigned to orlangur

[2018-11-04 23:02] magento-engcom-team commented on #19062
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-05 01:01] harout-itology commented on #9196
The best solution is to create an extension for this functionality or just use mine

[https://github.com/harout-itology/Simpleproductsreport](url)

[2018-11-05 05:39] digvijay2017 commented on #10071
Hey @spellmen

if you don't mind, Can you share your approach for fixing this issue?

[2018-11-05 06:38] SoCix commented on #5129
I am using 2.2.6 and still having this issue

[2018-11-05 07:08] martasiewierskastanczak opened #19064 "Transfer Cart Line Items and Transfer Shipping Options do not work for PayPal"
### Preconditions

1. Magento 2.2.6
2. In Stores > Configuration > Sales > Payment Methods > PayPal > Advance Settings > PayPal Express Checkout Enabled with Sandbox Mode
2. In Stores > Configuration > Sales > Payment Methods > PayPal > Advance Settings > Transfer Cart Line Items set to _Yes_ and Transfer Shipping Options set to _Yes_  and Skip Order Review Step set to _Yes_

### Steps to reproduc

[2018-11-05 07:08] magento-engcom-team commented on #19064
Hi @martasiewierskastanczak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy van

[2018-11-05 07:11] martasiewierskastanczak commented on #19064
@magento-engcom-team give me 2.2.6 instance

[2018-11-05 07:12] magento-engcom-team commented on #19064
Hi @martasiewierskastanczak. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-05 07:12] magento-engcom-team commented on #19064
Hi @martasiewierskastanczak, here is your [Magento instance](http://34.228.235.121/i-19064-2-2-6/).
Admin access: [http://34.228.235.121/i-19064-2-2-6//admin](http://34.228.235.121/i-19064-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-05 08:15] wendydek commented on #3374
You could fix this with a mixin that overrides the setShippingInformation function in file Magento_Checkout/web/js/view/shipping.js. Code:

define([
    'jquery',
    'underscore',
    'Magento_Ui/js/form/form',
    'ko',
    'Magento_Customer/js/model/customer',
    'Magento_Customer/js/model/address-list',
    'Magento_Checkout/js/model/address-converter',
    'Magento_Checkout/js/model/quote',

[2018-11-05 09:02] ajinkya-91 commented on #17615
Is there any update on the issue as I am also facing a similar issue.

[2018-11-05 09:10] SoCix commented on #15035
I am on 2.2.6 and still having this issue

[2018-11-05 09:48] radu-appwholesale commented on #9737
Hi @Gendos-ua
What was the solution in your case?

[2018-11-05 10:55] vaseemishak opened #19065 "magento 2.2.6 admin controller action show cache response for few seconds"
I am wokring on dev environment ,All cache are disable and developer mode is On , when i hit by custme module action
i get desired page , but when i add var_dump() and die , the page still show old response , after resfreshing the page for about 5-6 times i get desired vardump ouput , same happen i removed my vardump the page still show vardump response , after few resfresh the desired output is s

[2018-11-05 10:56] magento-engcom-team commented on #19065
Hi @vaseemisaac. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-05 10:57] #19013 closed, assigned to Nazar65

[2018-11-05 11:13] koopjesboom commented on #5863
@jlfguthrie

Best,

My multi store setup has the same issues .
For example If i choose for store id 1 all URL's are fine.
If i choose Store id 3 Nothing happens and the URLs get a double forward slash into them.
For example https://mysite//category/product
https://mysite-->//<--category/product
Which results in a lot of unreachable pages.

I m using the same tool From Oleg Koval.
Struggling these

[2018-11-05 11:34] Jilco commented on #9737
In my totals there are half eurocents, eg. 12,955. The payment module (Mollie) didn't proces that kind of amount properly

________________________________
Van: Radu CIOCOIU <notifications@github.com>
Verzonden: maandag 5 november 2018 10:48
Aan: magento/magento2
CC: Jilco; Mention
Onderwerp: Re: [magento/magento2] Sometimes, after an order is placed, 'The order confirmation email is not sent'. (#

[2018-11-05 12:21] lumnn commented on #12097
I had similar issue on recent PHP (7.1.22) and Magento (2.2.6)

I've found out that using placeholders for env variables causes this warning to be triggered.

I had in my env variables something like:

[code]

[2018-11-05 12:30] progreg commented on #19060
@tomekjordan I confirm that issue can be reproduced on Magento 2.3-develop instance.

[2018-11-05 12:41] ulftietze commented on #2991
Hey @benmarks @dmanners ,

here i am to annoy you :D you said to me i should do that if you dont react ^^
May @ishakhsuvarov can tell more here? :D

Greetz,
Ulf

[2018-11-05 12:43] magento-engcom-team commented on #19060
Hi @progreg. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-05 12:46] magento-engcom-team commented on #19060
@progreg Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-05 12:47] magento-engcom-team commented on #19060
@progreg Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96115` were created

[2018-11-05 13:04] progreg commented on #19060
Hi @tomekjordan. I already added PR to prevent blank page or exception if a customer has no password. But I don't sure about your expected result. From my side, I don't think that success login for a customer without password it's a good idea.

The customer always can reset his password through Forgot Your Password link. But if you have strong vision how it should be implemented please share it. T

[2018-11-05 13:51] magento-engcom-team commented on #19054
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-05 14:22] sidolov commented on #18655
Hi @jhruehl. Thank you for your report.
The issue has been fixed in magento/magento2#18750 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [78accc5569841afc37788f45847f11b52c0526c7](https://github.com/magento/magento2/commit/78accc5569841afc37788f45847f11b52c0526c7)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-05 14:22] sidolov commented on #18965
Hi @aheadWorks. Thank you for your report.
The issue has been fixed in magento/magento2#18970 by @aheadWorks in 2.3-develop branch
Related commit(s):
 - [3bfe826e29ea0d1a16416aa8c6bc164c562fb643](https://github.com/magento/magento2/commit/3bfe826e29ea0d1a16416aa8c6bc164c562fb643)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-05 14:22] sidolov commented on #18913
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#18940 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [b7513494fd58447c4418b4f3d29ea40944548ddb](https://github.com/magento/magento2/commit/b7513494fd58447c4418b4f3d29ea40944548ddb)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-05 14:22] sidolov commented on #18387
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#18807 by @vpodorozh in 2.3-develop branch
Related commit(s):
 - [6a6079dcde8068dbac8173699ae4450079ed3201](https://github.com/magento/magento2/commit/6a6079dcde8068dbac8173699ae4450079ed3201)
 - [466daaa332e85eee15d3391d0ceead11855e90dd](https://github.com/magento/magento2/commit/466daaa332e85eee15d3391d0ceead118

[2018-11-05 14:22] sidolov commented on #18158
Hi @Cristiano81. Thank you for your report.
The issue has been fixed in magento/magento2#18578 by @hiren0241 in 2.3-develop branch
Related commit(s):
 - [4e382cc735a883c9dcd8eaeeedc185d7faa06a7f](https://github.com/magento/magento2/commit/4e382cc735a883c9dcd8eaeeedc185d7faa06a7f)
 - [fd8a5a90b32431fbdd275000624723b106c81841](https://github.com/magento/magento2/commit/fd8a5a90b32431fbdd275000624723

[2018-11-05 14:22] sidolov commented on #4942
Hi @densen45. Thank you for your report.
The issue has been fixed in magento/magento2#18520 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [e210b7044a7bfd503082249a72a95a6c0ae03eb5](https://github.com/magento/magento2/commit/e210b7044a7bfd503082249a72a95a6c0ae03eb5)
 - [53f59424c0b049e2f275c50bbced1fc9b42a6916](https://github.com/magento/magento2/commit/53f59424c0b049e2f275c50bbced1f

[2018-11-05 14:30] #14563 closed, assigned to phoenix128

[2018-11-05 14:31] okorshenko commented on #2991
Hi @ulftietze
Thank you for raising the issue again. We will double-check it

[2018-11-05 14:44] orlangur commented on #19065
There is no cache used for admin area responses. Also, var_dumping is not a proper way of debug.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2018-11-05 14:44] magento-engcom-team commented on #19065
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-05 14:44] #19065 closed, assigned to orlangur

[2018-11-05 14:52] vasilii-b commented on #18854
@magento-engcom-team give me 2.2-develop instance

[2018-11-05 14:52] magento-engcom-team commented on #18854
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-05 14:53] magento-engcom-team commented on #18854
Hi @vasilii-b, here is your [Magento instance](http://34.228.235.121/i-18854-2-2-develop/).
Admin access: [http://34.228.235.121/i-18854-2-2-develop//admin](http://34.228.235.121/i-18854-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-05 14:53] magento-engcom-team commented on #19021
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-05 14:54] orlangur commented on #19021
@preetam31 only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-11-05 14:54] #19021 closed, assigned to orlangur

[2018-11-05 15:05] Nazar65 commented on #19054
I'm will work on this issue

[2018-11-05 15:10] minhluan259 commented on #4536
Same issues on Magento 2.3 beta32

[2018-11-05 15:34] ilgala opened #19067 "Magento CE 2.2.5 - Categories not updating and empty after creationg"
### Preconditions (*)
I'm Using a "Magento Certified by Bitnami" VM on the Google Cloud Platform with Magento 2.2.5 CE

### Steps to reproduce (*)
1. Create categories and subcategories from the admin panel.
1. Create product with categories and attributes from the web services.
2. Try to update or create/update a new category in order to test a new "categories fetch" from the webservices and prod

[2018-11-05 15:34] magento-engcom-team commented on #19067
Hi @ilgala. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-05 15:36] ilgala commented on #19067
@magento-engcom-team give me 2.2.5 instance

[2018-11-05 15:36] magento-engcom-team commented on #19067
Hi @ilgala. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-05 15:37] magento-engcom-team commented on #19067
Hi @ilgala, here is your [Magento instance](http://34.228.235.121/i-19067-2-2-5/).
Admin access: [http://34.228.235.121/i-19067-2-2-5//admin](http://34.228.235.121/i-19067-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-05 16:07] kanduvisla commented on #14861
I've bumped into this issue once again this day. I have a dataset that can replicate this issue:

[code]

If you run `\Magento\Catalog\Model\ResourceModel\Product\CategoryLink::processCategoryLinks()` with above dataset, it will trigger an "undefined offset" error. Even though it's perfectly valid to swap the positions of 2 category links.

[2018-11-05 16:11] DrewML commented on #17813
@asadyar an official backport is being worked on by @omiroshnichenko for the 2.2.x release line. The change you need to make should be similar to the 2.3.x line, though - just need to remove usage of the jQuery storage API in a few key areas.

I would add that you should be very cautious with these comparisons when making a decision about a switch. There are _many_ factors on the current client-si

[2018-11-05 16:36] kanduvisla commented on #14861
The error can be reproduced by adding the following to `\Magento\Catalog\Test\Unit\Model\ResourceModel\Product\CategoryLinkTest::getCategoryLinksDataProvider()`:

[code]

This test is weak by the way, it only checks which ID's are affected, but not if the proper insert, update or delete actions are executed. I'll see if I can improve this test and fix this issue while at it.

[2018-11-05 16:54] staradzinau opened #19069 "Wrong quantities of parent and child bundle products after creating invoice and (or) shipment"
### Preconditions (*)

1. Magento CE 2.2.5

### Steps to reproduce (*)

1. Create and configure a separate bundle product, with **static* price and *separate shipping** for bundle items
1. Go to frontend and place an order with bundle product from the previous step. Please, note: quantity of thise bundle product should be > 1
1. Go to Admin panel and create a few separate invoices for bundle produ

[2018-11-05 16:54] magento-engcom-team commented on #19069
Hi @avgust1111. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-05 16:56] magento-engcom-team commented on #19049
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-05 16:59] engcom-backlog-nazar commented on #19049
Hi @cmcantrell  Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-05 16:59] #19049 closed, assigned to nobody

[2018-11-05 17:06] magento-engcom-team commented on #19046
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-05 17:17] engcom-backlog-nazar commented on #16008
@webkul-ratnesh Did you test it on fresh install ? because i'm have different result.
![captcha2](https://user-images.githubusercontent.com/40756439/48014461-680a0600-e12f-11e8-9ce1-cab63451e3b6.gif)

[2018-11-05 17:40] GlobalOutsourcing opened #19070 "Magento 2 placeholders not working"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.1
3. Cpanel Centos 7
4. Mysql

### Steps to reproduce (*)

1. Upload image placeholders in the backend of Magento Stores -> Settings -> Configuration - Catalog -> Catalog -> Product image holders
2. Save config
3. The image thumbnails that were uploaded are not showing in the configuration section
4. Flush cache and reindex Magento 2, cleared cache

[2018-11-05 17:40] magento-engcom-team commented on #19070
Hi @GlobalOutsourcing. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-05 17:43] GlobalOutsourcing commented on #19070
@magento-engcom-team Please provide a a Magento 2.2.6 Vanilla instance

[2018-11-05 17:51] cSkip opened #19071 "Password strength indicator shows "No Password" even when a password is entered"
The password strength indicator shows "No Password" at times when there is a password entered.

### Preconditions (*)
1. Anywhere where the password strength indicator is being used.

2. Customer password settings:
<img width="648" alt="screen shot 2018-11-05 at 2 58 51 pm" src="https://user-images.githubusercontent.com/18623986/48026392-8f4edc00-e10b-11e8-8c75-0e1e7b2d7f4f.png">

Passwords that a

[2018-11-05 17:51] magento-engcom-team commented on #19071
Hi @cSkip. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-05 18:19] Ctucker9233 commented on #17880
@engcom-backlog-nazar What version of 2.2 contains fix? If none, what are the related commits?

[2018-11-05 19:40] magento-engcom-team commented on #19071
Hi @dimasalamatov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-05 19:41] dimasalamatov commented on #19071
@magento-engcom-team give me 2.2-develop instance

[2018-11-05 19:41] magento-engcom-team commented on #19071
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-05 19:42] magento-engcom-team commented on #19071
Hi @dimasalamatov, here is your [Magento instance](http://34.228.235.121/i-19071-2-2-develop/).
Admin access: [http://34.228.235.121/i-19071-2-2-develop//admin](http://34.228.235.121/i-19071-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-05 20:29] schizek commented on #5301
Is there any update on this?

[2018-11-05 20:31] davinanaya commented on #15403
This still happening with 2.2.6

[2018-11-05 20:51] dimasalamatov commented on #19071
@magento-engcom-team give me 2.2-develop instance

[2018-11-05 20:51] magento-engcom-team commented on #19071
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-05 20:52] dimasalamatov commented on #19071
@magento-engcom-team give me 2.2.5 instance

[2018-11-05 20:52] magento-engcom-team commented on #19071
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-05 20:52] magento-engcom-team commented on #19071
Hi @dimasalamatov, here is your [Magento instance](http://34.228.235.121/i-19071-2-2-develop/).
Admin access: [http://34.228.235.121/i-19071-2-2-develop//admin](http://34.228.235.121/i-19071-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-05 21:01] cSkip commented on #19071
Sorry, I forgot to add the current Customer password configuration that was used.

[2018-11-05 21:08] dimasalamatov commented on #19071
@magento-engcom-team give me 2.3-develop instance

[2018-11-05 21:08] magento-engcom-team commented on #19071
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-05 21:08] magento-engcom-team commented on #19071
Hi @dimasalamatov, here is your [Magento instance](http://34.228.235.121/i-19071-2-3-develop/).
Admin access: [http://34.228.235.121/i-19071-2-3-develop//admin](http://34.228.235.121/i-19071-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-05 21:39] Ctucker9233 commented on #12602
@engcom-backlog-nickolas What @hostep said is correct. If it is fixed, then why are we still seeing cron jobs created one on top of the other resulting in a server deadlock? Every few days I have to truncate the cron db table to keep everything running smoothly. If I don't, I get multiple notifications like this:

 [Magento\Framework\DB\Adapter\DeadlockException]
  SQLSTATE[40001]: Serialization f

[2018-11-05 21:51] Mobecls opened #19072 "For text swatches "getSwatchesByOptionsId()" method always returns admin store swatches - not the current store ones."
### Preconditions (*)

1.Magento 2.2.6 and Magento 2.2.5
2.PHP7.0 and PHP7.1

### Steps to reproduce (*)

1.Install Magento 2.2.6 (or Magento 2.2.5 - bug exists in both versions).
2.Create attribute with "Text Swatch" input type.
3.Add one or more swatches to that attribute, making sure that swatches in "Admin" column were different from swatches in "Default Store View". On the following screensho

[2018-11-05 21:52] magento-engcom-team commented on #19072
Hi @Mobecls. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-06 07:13] magento-engcom-team commented on #19069
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 07:31] BlitzInternet opened #19075 "Editing an order in multi-website setup can change the product price"
We have experienced a critical issue resulting in incorrect order and invoice totals. Editing an order in the backend can cause the price to switch to the default website price, but keep the currency of the original order. This results in a new, made-up product price.

I can confirm that this can be reproduced on a blank v2.2.5 installation

### Preconditions (*)

1. Mage 2.2.5
2. Default website

[2018-11-06 07:31] engcom-backlog-nazar commented on #19069
Hi @avgust1111 thank you for you report, this issue has already fixed in 2.2-develop branch.
![selection_190](https://user-images.githubusercontent.com/40756439/48049276-cb834a80-e1a6-11e8-8cb3-350c2faa1e77.png)

[2018-11-06 07:32] magento-engcom-team commented on #19075
Hi @BlitzInternet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-06 07:33] LouNik1984 opened #19076 "Magento 225 - Google Analitycs doesn't show up"
### Preconditions

- magento version: 2.2.5 (developer mode) with php 7.1.23 and apache 2.4.34

### Steps to reproduce

- enable google analitics from magento backend panel and insert a correct ua code (you can leave the experiment option to no)
- go to frontend, right click and select "Inspect element"

### Expected result

- I expect to see the google code between the comments "begin google anal

[2018-11-06 07:33] magento-engcom-team commented on #19076
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-06 07:34] magento-engcom-team commented on #19070
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 07:36] engcom-backlog-nazar commented on #19070
HI @GlobalOutsourcing thank you for you report this issue has already fixed by this commit -> https://github.com/magento/magento2/pull/18160

[2018-11-06 07:36] #19070 closed, assigned to nobody

[2018-11-06 07:37] magento-engcom-team commented on #19076
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 07:38] engcom-backlog-nazar commented on #19076
Hi @LouNik1984 thank you for you report this issue has alredy fixed in 2.2-develop branch. https://github.com/magento/magento2/pull/14513/files

[2018-11-06 07:38] #19076 closed, assigned to nobody

[2018-11-06 07:45] magento-engcom-team commented on #19067
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 07:58] engcom-backlog-nazar commented on #19067
Hi @ilgala   Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-06 07:58] #19067 closed, assigned to nobody

[2018-11-06 08:03] magento-engcom-team commented on #19072
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 08:04] magento-engcom-team commented on #19052
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 08:06] LouNik1984 commented on #19076
Hi, sorry to bother again. I checked the https://github.com/magento/magento2/pull/14513/files commit and my code is already like this

[2018-11-06 08:08] magento-engcom-team commented on #19052
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96134`, `MAGETWO-96135` were created

[2018-11-06 08:11] engcom-backlog-nazar commented on #19076
@LouNik1984 But why you think that this is not google analytic code ? if they works perfectly?)

[2018-11-06 08:14] LouNik1984 commented on #19076
But it doesn't work, that's the point.
I cannot see the code from the inspect element and google cannot track the website.

From the inspect element I only see the comments, there is no code between the comments:

![48049282-6c213c80-e19e-11e8-88d5-8bb002a353ff](https://user-images.githubusercontent.com/6501073/48051055-472fc800-e1a4-11e8-8106-05b331181931.JPG)

[2018-11-06 08:19] engcom-backlog-nazar commented on #19076
@LouNik1984 hmm, but i have already tested and in my google account i have in real time 1 user. maybe you have wrong account id ?

[2018-11-06 08:19] engcom-backlog-nazar commented on #19046
HI @mikekenyon99 seems like this is duplicate to this -> Please post the discussion ->here https://github.com/magento/magento2/issues/10531, thank you

[2018-11-06 08:19] #19046 closed, assigned to nobody

[2018-11-06 08:33] BrocksiNet opened #19078 "2.2.6 CE - Varnish and block with TTL could not load product"
### Preconditions (*)
Magento 2.2.6 CE

### Steps to reproduce (*)
1. Setup Magento with **Varnish** and use the default vlc you can get from the backend
2. Let's say we want to set a **ttl** for these block **product.info** in a layout xml
3. Add something like this `<referenceBlock name="product.info" ttl="120"/>`

### Expected result (*)
1. You expect the part of the page to be cached for 120 s

[2018-11-06 08:34] magento-engcom-team commented on #19078
Hi @bjoern-flagbit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-06 08:37] LouNik1984 commented on #19076
Yes, the account is right because I can see it in google analytics. Google Tag assistant gives me a blue result instead of green (it would be red if the account were wrong, green means that everything is ok, blue means that there are problems to solve) with the alert "non standard implementation". If I try to verify the property on the google search console using the analytics code, the search con

[2018-11-06 09:01] magento-engcom-team commented on #19064
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96137`, `MAGETWO-96138` were created

[2018-11-06 09:03] magento-engcom-team commented on #19016
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 09:11] magento-engcom-team commented on #19016
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96139`, `MAGETWO-96140` were created

[2018-11-06 09:13] magento-engcom-team commented on #19051
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 09:26] #19051 closed, assigned to nobody

[2018-11-06 09:28] #19006 closed, assigned to nobody

[2018-11-06 09:43] engcom-backlog-nazar commented on #18996
Hi @SathishDreamorbit thank you for you report, this issue has already fixed in 2.2-develop branch
only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-11-06 09:43] #18996 closed, assigned to nobody

[2018-11-06 09:46] magento-engcom-team commented on #18999
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 09:48] avgust1111 commented on #19069
Hi @engcom-backlog-nazar
Please, check the specified issue for the bundle with fixed (static) price and separate shipping
![aw_262](https://user-images.githubusercontent.com/24728606/48056127-2d9d7900-e1c2-11e8-9de5-70e743d208ef.png)

[2018-11-06 09:56] engcom-backlog-nazar commented on #19069
@magento-engcom-team give me 2.2-develop instance

[2018-11-06 09:56] magento-engcom-team commented on #19069
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-06 09:57] magento-engcom-team commented on #19069
Hi @engcom-backlog-nazar, here is your [Magento instance](http://34.228.235.121/i-19069-2-2-develop/).
Admin access: [http://34.228.235.121/i-19069-2-2-develop//admin](http://34.228.235.121/i-19069-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-06 09:58] BenGlassAtlas opened #19081 "add-home-breadcrumb.js and breadcrumbs.js missing from 2.2.6"
### Preconditions (*)
1. N/A

### Steps to reproduce (*)
1. Check `magento2/app/code/Magento/Theme/view/frontend/web/js/view/`
2. On version 2.2.4, 2.2.5 and even 2.3-develop `add-home-breadcrumb.js` and `breadcrumbs.js` exist
3. On version 2.2.6 the files do not exist

### Expected result (*)
1. Files to be there in 2.2.6

### Actual result (*)
1. Files do not exist in 2.2.6

Looking at `magento2

[2018-11-06 09:58] magento-engcom-team commented on #19081
Hi @BenSpace48. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-06 09:58] engcom-backlog-nazar commented on #19069
@avgust1111  can you recheck it on 2.2-develop instance ?  i'm tested  the bundle with fixed (static) price and separate shipping

[2018-11-06 10:03] magento-engcom-team commented on #19043
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 10:05] engcom-backlog-nazar commented on #18999
Hi @AndrewPenry thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/19043, the same logic affected,

[2018-11-06 10:05] #18999 closed, assigned to nobody

[2018-11-06 10:33] engcom-backlog-nazar commented on #19072
Hi @Mobecls thank you for you report this issue has already fixed in 2.2-develop branch.
![selection_193](https://user-images.githubusercontent.com/40756439/48058839-2f663d00-e1c0-11e8-8d1d-5cdad398f649.png)

[2018-11-06 10:33] #19072 closed, assigned to nobody

[2018-11-06 10:44] avgust1111 commented on #19069
@engcom-backlog-nazar
The described problem has been reproduced on the 2.2-develop instance
Order # 000000001, see screenshots:

- After order placement: ![aw_263](https://user-images.githubusercontent.com/24728606/48059190-88869e80-e1c9-11e8-94ad-bbae372984af.png)
- First invoice - please, check quantity of child and parent items: ![aw_264](https://user-images.githubusercontent.com/24728606/48059

[2018-11-06 10:58] engcom-backlog-nazar commented on #19069
@avgust1111 thanks now clear.

[2018-11-06 11:54] magento-engcom-team commented on #19069
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96145`, `MAGETWO-96146` were created

[2018-11-06 12:03] kanhaiya5590 opened #19082 "Fatal error: Uncaught Error: Cannot call abstract method Magento\Framework\App\ActionInterface::execute()"
### Preconditions (*)

1. Tested on Magento > 2.2.1

### Steps to reproduce (*)

1. Try accessing http://www.domain.com/catalog/product/compare in any browser.

### Expected result (*)

1. Should be handling the exception and ideally showing 404 page.

### Actual result (*)

1. It is  throwing `Fatal error: Uncaught Error: Cannot call abstract method Magento\Framework\App\ActionInterface::execute(

[2018-11-06 12:03] magento-engcom-team commented on #19082
Hi @kanhaiya5590. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-06 12:16] rogyar commented on #19082
@magento-engcom-team give me 2.2-develop instance

[2018-11-06 12:17] magento-engcom-team commented on #19082
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-06 12:17] magento-engcom-team commented on #19082
Hi @rogyar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-11-06 12:17] magento-engcom-team commented on #19082
Hi @rogyar, here is your [Magento instance](http://34.228.235.121/i-19082-2-2-develop/).
Admin access: [http://34.228.235.121/i-19082-2-2-develop//admin](http://34.228.235.121/i-19082-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-06 12:18] rogyar commented on #19082
@magento-engcom-team give me 2.3-develop instance

[2018-11-06 12:18] magento-engcom-team commented on #19082
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-06 12:19] magento-engcom-team commented on #19082
Hi @rogyar, here is your [Magento instance](http://34.228.235.121/i-19082-2-3-develop/).
Admin access: [http://34.228.235.121/i-19082-2-3-develop//admin](http://34.228.235.121/i-19082-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-06 12:22] magento-engcom-team commented on #19082
@rogyar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96148`, `MAGETWO-96149` were created

[2018-11-06 12:38] avgust1111 commented on #19069
@magento-engcom-team
Also, please, note: the similar situation with the wrong quantities has been detected for bundle items when  **dynamic price** is set and **Ship Bundle Items** is set to **Together**. Wrong quantities were found for the invoiced quantity of parent bundle order item and for the shipped quantity of child bundle order items

[2018-11-06 12:38] korostii opened #19083 "Vague error message when getting an exception during order placement"
When `placeOrder()` happens to produce any kind of exception, `Magento\Authorizenet\Controller\Directpost\Payment::placeCheckoutOrder()` catches it, does not log the error messages and shows a completely different uninformative message to the customer instead.

As you can see by viewing #6929 , there's quite a multitude of reasons leading to this particular error message.
Issue #6929 is marked as

[2018-11-06 12:38] magento-engcom-team commented on #19083
Hi @korostii. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-06 12:38] lfluvisotto commented on #2056
Workaround, tested in magento 2.2.6

Copy the file: vendor/magento/module-checkout/view/frontend/web/template/cart/shipping-estimation.html

To your theme: app/design/frontend/<your_vendor_name>/<your_theme_name>/Magento_Checkout/web/template/cart/shipping-estimation.html

Then the strings are going to be translated:

$t('Estimate Tax')
$t('Estimate Shipping and Tax')
$t('Enter your billing addres

[2018-11-06 12:39] korostii commented on #19083
yes

[2018-11-06 12:39] magento-engcom-team commented on #19081
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-06 12:41] magento-engcom-team commented on #18752
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 12:42] magento-engcom-team commented on #19083
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 12:44] magento-engcom-team commented on #18752
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96154`, `MAGETWO-96155` were created

[2018-11-06 12:44] engcom-backlog-nazar commented on #19083
Hi @korostii thank you for you report, this is acknowladged issue, please look this -> https://github.com/magento/magento2/issues/18752

[2018-11-06 12:44] #19083 closed, assigned to nobody

[2018-11-06 12:55] magento-engcom-team commented on #18749
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 12:58] rogyar commented on #19082
For reference, by using this URL the router tries to load the following abstract class `\Magento\Catalog\Controller\Product\Compare` which does not have an `execute` method within its scope.

[2018-11-06 12:59] williankeller opened #19084 "[InvalidArgumentException] Cache frontend 'default' is not recognized."
Hi, everyone!
I'm facing an issue that started this week on Monday. When we try to run `bin/magento setup:install` we face this exception `[InvalidArgumentException] Cache frontend 'default' is not recognized.` that blocks our setup process.

We realyze that under the stack trace, that the *Monolog* module recently receive an update, from [1.23.0](https://github.com/Seldaek/monolog/releases/tag/1.

[2018-11-06 12:59] magento-engcom-team commented on #19084
Hi @williankeller. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-06 13:03] williankeller commented on #19084
@magento-engcom-team give me 2.2-develop instance

[2018-11-06 13:03] magento-engcom-team commented on #19084
Hi @williankeller. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-06 13:04] magento-engcom-team commented on #19084
Hi @williankeller, here is your [Magento instance](http://34.228.235.121/i-19084-2-2-develop/).
Admin access: [http://34.228.235.121/i-19084-2-2-develop//admin](http://34.228.235.121/i-19084-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-06 13:05] williankeller commented on #19084
@magento-engcom-team give me 2.2.2 instance

[2018-11-06 13:05] magento-engcom-team commented on #19084
Hi @williankeller. Thank you for your request. I'm working on Magento 2.2.2 instance for you

[2018-11-06 13:05] magento-engcom-team commented on #19084
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-06 13:06] magento-engcom-team commented on #19084
Hi @williankeller, here is your [Magento instance](http://34.228.235.121/i-19084-2-2-2/).
Admin access: [http://34.228.235.121/i-19084-2-2-2//admin](http://34.228.235.121/i-19084-2-2-2//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-06 13:08] engcom-backlog-nazar commented on #19084
Hi @williankeller i'm think that this issue can't be reproduce on 2.2-* instances because if they have an error they will not be deployed.

[2018-11-06 13:37] korostii commented on #19083
Hi @engcom-backlog-nazar
Thanks for info, but while the error message in #18752 is the same, it is being produced by completely different code: https://github.com/magento/magento2/blob/2.2.6/app/code/Magento/Checkout/Model/GuestPaymentInformationManagement.php#L115

Ideally, I'd love to see both of these fixed.
Could maybe at lease add a reference to https://github.com/magento/magento2/blob/2.2.6/

[2018-11-06 13:49] neilcarpenter007 commented on #3256
Going on what @mattyj714 said, if magento is joining both sys_temp_dir and upload_temp_dir together. Doesn't that make this a magento issue and not a php.ini issue?

[2018-11-06 13:56] engcom-backlog-nazar commented on #19083
@korostii ok you are right this may be fixed in all places, so i add this information to another ticket.

[2018-11-06 14:44] magento-engcom-team commented on #18550
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-06 14:46] Dan547 commented on #15400
@achatpc What did you do to fix this?

[2018-11-06 14:51] eduard13 commented on #18550
@magento-engcom-team give me 2.3-develop instance

[2018-11-06 14:52] magento-engcom-team commented on #18550
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-06 14:52] magento-engcom-team commented on #18550
Hi @eduard13, here is your [Magento instance](http://34.228.235.121/i-18550-2-3-develop/).
Admin access: [http://34.228.235.121/i-18550-2-3-develop//admin](http://34.228.235.121/i-18550-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-06 14:58] magento-engcom-team commented on #19081
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96159` were created

[2018-11-06 15:01] neilcarpenter007 commented on #18148
Are there any updates on this issue?

It's important that a fix is put in place for this as it's going to disturb the way a lot of people using Paypal Web Hosting Pro process there orders.

The SQL script on a cron job workaround is less than ideal and out of scope for a lot of people that use Magento.

Would we be likely to see a fix for this in Magento 2.2.7 ?

[2018-11-06 15:03] yfleuren commented on #10424
This fixed the issue with the url key, but (sometimes) the other global attributes like price, weight are cleared for all storeviews. So we cannot use this fix. Hope this issue will be fixed soon by Magento.

[2018-11-06 15:04] achatpc commented on #15400
In my case, this was related to Porto Themes

[2018-11-06 15:10] magento-engcom-team commented on #18550
@eduard13 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96160` were created

[2018-11-06 15:13] BenSpace48 commented on #19081
Could it be that 2.2.6 is behind 2.2.4. it would explain the Amazon payment module issue where the version in 2.2.6 is lower than 2.2.5? - https://github.com/magento/magento2/issues/18248

[2018-11-06 15:19] Sharpy310 commented on #18148
@neilcarpenter007 I've not heard anything as of yet from Magento or the Community team, we're still running the cron as a workaround whilst waiting for the @magento-engcom-team to get a fix up, an update on the status of this would be much appreciated as surely this should be a high priority issue as it's affecting 100% of people using this specific payment module?

[2018-11-06 15:51] DanieliMi opened #19085 "Translation in tier_price.phtml not working"
### Summary
It seems to me that the translations for [tier_prices.phtml](https://github.com/magento/magento2/blob/53a896645c8a1a55fe7842ce621a1f79176b6d38/app/code/Magento/ConfigurableProduct/view/base/templates/product/price/tier_price.phtml#L18) are not being picked up by the javascript translation. They are not translatable with an dictionary and are not present in js-translation.json.

### Pre

[2018-11-06 15:51] magento-engcom-team commented on #19085
Hi @DanieliMi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-06 15:51] BenSpace48 commented on #19081
It does look like something has messed up with 2.2.6:

https://www.diffchecker.com/ui8gMY4C

![saved_diff_ui8gmy4c_-_diff_checker](https://user-images.githubusercontent.com/8895777/48075762-d3111680-e1db-11e8-8e76-84131f82659a.jpg)

[2018-11-06 15:56] magento-engcom-team commented on #19081
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-06 15:58] iget-master commented on #14952
No one will fix this?!

[2018-11-06 15:59] TomashKhamlai commented on #19081
@BenSpace48, please check again
[tag 2.2.5](https://github.com/magento/magento2/tree/2.2.5/app/code/Magento/Theme/view/frontend/web/js/view)
[tag 2.2.6](https://github.com/magento/magento2/tree/2.2.6/app/code/Magento/Theme/view/frontend/web/js/view)
[latest 2.2-develop](https://github.com/magento/magento2/tree/2.2-develop/app/code/Magento/Theme/view/frontend/web/js/view)

I was also confused, but

[2018-11-06 15:59] #19081 closed, assigned to nobody

[2018-11-06 16:05] nicobatty commented on #12428
Can confirm what @asim-vax said. It does not fix the issue for Magento EE 2.2.6.

I tried on both vanilla versions and it does not work for the EE.

[2018-11-06 16:06] BenSpace48 commented on #19081
It's all fine now and the branch is no longer visible, I suspect it was either GitHub caching or you've fixed it :D

[2018-11-06 16:26] gwharton commented on #14952
2.3 fix is approved, awaiting merge, due to be in 2.3.1. 2.2 fix is on hold, presumably will be merged after 2.3 fix has been merged.

[2018-11-06 17:31] mikekenyon99 commented on #10531
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.0

### Steps to reproduce (*)

1. Load 40k of products, 100 attributes
2. Run php bin/magento indexer:reindex
3. Load 40k of products
4. Run php bin/magento indexer:reindex

### Expected result (*)

1. Indexes should build in reasonable time.

### Actual result (*)

1. All indexes build in under <1 min but the product EAV one does not.  I have given

[2018-11-06 18:06] sidolov commented on #19060
Hi @tomekjordan. Thank you for your report.
The issue has been fixed in magento/magento2#19066 by @progreg in 2.3-develop branch
Related commit(s):
 - [ed6649194f0844f8faae0ba63a5df52b3fe8d5c4](https://github.com/magento/magento2/commit/ed6649194f0844f8faae0ba63a5df52b3fe8d5c4)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] #19060 closed, assigned to progreg

[2018-11-06 18:06] sidolov commented on #18256
Hi @edwinbos. Thank you for your report.
The issue has been fixed in magento/magento2#19026 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [bc8d3d5d0ead9779cb22d19201cd731719a79b0c](https://github.com/magento/magento2/commit/bc8d3d5d0ead9779cb22d19201cd731719a79b0c)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] #18256 closed, assigned to p-bystritsky

[2018-11-06 18:06] sidolov commented on #18323
Hi @hsray. Thank you for your report.
The issue has been fixed in magento/magento2#19040 by @swnsma in 2.3-develop branch
Related commit(s):
 - [5dc7add05b66271f4ad8c8be85c20d4beb173306](https://github.com/magento/magento2/commit/5dc7add05b66271f4ad8c8be85c20d4beb173306)
 - [e19d70e3fd43184eeeb009129bf0a564fae002ea](https://github.com/magento/magento2/commit/e19d70e3fd43184eeeb009129bf0a564fae002e

[2018-11-06 18:06] #18323 closed, assigned to swnsma, mahesh-rajawat

[2018-11-06 18:06] sidolov commented on #19003
Hi @nthurston. Thank you for your report.
The issue has been fixed in magento/magento2#19040 by @swnsma in 2.3-develop branch
Related commit(s):
 - [5dc7add05b66271f4ad8c8be85c20d4beb173306](https://github.com/magento/magento2/commit/5dc7add05b66271f4ad8c8be85c20d4beb173306)
 - [e19d70e3fd43184eeeb009129bf0a564fae002ea](https://github.com/magento/magento2/commit/e19d70e3fd43184eeeb009129bf0a564fae

[2018-11-06 18:06] #19003 closed, assigned to pmclain

[2018-11-06 18:06] sidolov commented on #19034
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#19040 by @swnsma in 2.3-develop branch
Related commit(s):
 - [5dc7add05b66271f4ad8c8be85c20d4beb173306](https://github.com/magento/magento2/commit/5dc7add05b66271f4ad8c8be85c20d4beb173306)
 - [e19d70e3fd43184eeeb009129bf0a564fae002ea](https://github.com/magento/magento2/commit/e19d70e3fd43184eeeb009129bf0a564fae002

[2018-11-06 18:06] sidolov commented on #10048
Hi @milansimek. Thank you for your report.
The issue has been fixed in magento/magento2#19048 by @omiroshnichenko in 2.3-develop branch
Related commit(s):
 - [70743fa4f5e5a6c6ba416d33cfb9d36faaaa47c2](https://github.com/magento/magento2/commit/70743fa4f5e5a6c6ba416d33cfb9d36faaaa47c2)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] #10048 closed, assigned to nobody

[2018-11-06 18:06] sidolov commented on #18901
Hi @webkul-ratnesh. Thank you for your report.
The issue has been fixed in magento/magento2#19029 by @agorbulin in 2.3-develop branch
Related commit(s):
 - [76d478fa2c70c5c6ac07c7ef781ce46aeadffd06](https://github.com/magento/magento2/commit/76d478fa2c70c5c6ac07c7ef781ce46aeadffd06)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] #18901 closed, assigned to webkul-ratnesh

[2018-11-06 18:06] sidolov commented on #18562
Hi @amenk. Thank you for your report.
The issue has been fixed in magento/magento2#19010 by @omiroshnichenko in 2.3-develop branch
Related commit(s):
 - [ed26e551c5f54ead331d0187316269eddc3dff74](https://github.com/magento/magento2/commit/ed26e551c5f54ead331d0187316269eddc3dff74)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] #18562 closed, assigned to nobody

[2018-11-06 18:06] sidolov commented on #10440
Hi @cykirsch. Thank you for your report.
The issue has been fixed in magento/magento2#18991 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [7c86822387cbee24186a1746b373b2bfb381bed8](https://github.com/magento/magento2/commit/7c86822387cbee24186a1746b373b2bfb381bed8)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] sidolov commented on #17890
Hi @magicaner. Thank you for your report.
The issue has been fixed in magento/magento2#18988 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [f359bbcd3d734f5296f88c7078c1a2b6c3b00017](https://github.com/magento/magento2/commit/f359bbcd3d734f5296f88c7078c1a2b6c3b00017)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] sidolov commented on #18618
Hi @LordHansolo. Thank you for your report.
The issue has been fixed in magento/magento2#18650 by @anujwebkul in 2.3-develop branch
Related commit(s):
 - [11290c5d74cb2a9878735fac7dd4648d1923f71c](https://github.com/magento/magento2/commit/11290c5d74cb2a9878735fac7dd4648d1923f71c)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-06 18:06] #18618 closed, assigned to anujwebkul

[2018-11-06 18:06] sidolov commented on #18931
Hi @arnoudhgz. Thank you for your report.
The issue has been fixed in magento/magento2#18938 by @ayazwebkul in 2.3-develop branch
Related commit(s):
 - [4c25f0e9fbac64044a4bf3cdda17362bac23ac6c](https://github.com/magento/magento2/commit/4c25f0e9fbac64044a4bf3cdda17362bac23ac6c)
 - [d64351b30bf3ab566d42a4acf312c9b1a08045da](https://github.com/magento/magento2/commit/d64351b30bf3ab566d42a4acf312c9b

[2018-11-06 18:06] #18931 closed, assigned to nobody

[2018-11-06 18:06] sidolov commented on #5037
Hi @davideperrotta. Thank you for your report.
The issue has been fixed in magento/magento2#18083 by @bnymn in 2.3-develop branch
Related commit(s):
 - [ae42612217947d75aa09b300a34e23487b8954c3](https://github.com/magento/magento2/commit/ae42612217947d75aa09b300a34e23487b8954c3)
 - [c4fa85bb59e9006f12fa79854da78af4e3fd601e](https://github.com/magento/magento2/commit/c4fa85bb59e9006f12fa79854da78af

[2018-11-06 18:06] #5037 closed, assigned to patelnimesh1988

[2018-11-06 18:06] sidolov commented on #18082
Hi @vpatidar009. Thank you for your report.
The issue has been fixed in magento/magento2#18462 by @thiagolima-bm in 2.3-develop branch
Related commit(s):
 - [cc16df90455a510083f4d4bebda27566c23e221e](https://github.com/magento/magento2/commit/cc16df90455a510083f4d4bebda27566c23e221e)
 - [77111659b520ebad13b53389f67144fddd5dfad6](https://github.com/magento/magento2/commit/77111659b520ebad13b53389f6

[2018-11-06 18:06] #18082 closed, assigned to thiagolima-bm

[2018-11-06 18:12] magento-engcom-team commented on #18323
Hi @hsray. Thank you for your report.
The issue has been fixed in magento/magento2#19036 by @swnsma in 2.2-develop branch
Related commit(s):
 - [429815bee09f999ef3e38b93a5c097363fe2cbbd](https://github.com/magento/magento2/commit/429815bee09f999ef3e38b93a5c097363fe2cbbd)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-06 18:12] magento-engcom-team commented on #19003
Hi @nthurston. Thank you for your report.
The issue has been fixed in magento/magento2#19036 by @swnsma in 2.2-develop branch
Related commit(s):
 - [429815bee09f999ef3e38b93a5c097363fe2cbbd](https://github.com/magento/magento2/commit/429815bee09f999ef3e38b93a5c097363fe2cbbd)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-06 18:12] magento-engcom-team commented on #19034
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#19036 by @swnsma in 2.2-develop branch
Related commit(s):
 - [429815bee09f999ef3e38b93a5c097363fe2cbbd](https://github.com/magento/magento2/commit/429815bee09f999ef3e38b93a5c097363fe2cbbd)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-06 18:12] magento-engcom-team commented on #8348
Hi @craigcarnell. Thank you for your report.
The issue has been fixed in magento/magento2#19012 by @RostislavS in 2.2-develop branch
Related commit(s):
 - [468f245adc3f8788209eeeb4250c675f63191ac5](https://github.com/magento/magento2/commit/468f245adc3f8788209eeeb4250c675f63191ac5)
 - [4c13ad766c85ea4514de90e0c9d0c035d5fc0172](https://github.com/magento/magento2/commit/4c13ad766c85ea4514de90e0c9d0

[2018-11-06 18:12] magento-engcom-team commented on #16684
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#18857 by @ssp58bleuciel in 2.2-develop branch
Related commit(s):
 - [5a84c5a483386fdcf297126ecba90db1e1b13f89](https://github.com/magento/magento2/commit/5a84c5a483386fdcf297126ecba90db1e1b13f89)
 - [e4b430a89a1d4e5ed92dccbed8c0c93aef7f82f4](https://github.com/magento/magento2/commit/e4b430a89a1d4e5ed92dccbed8c0c9

[2018-11-06 18:12] #16684 closed, assigned to ssp58bleuciel

[2018-11-06 18:12] magento-engcom-team commented on #12970
Hi @breg-13. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1169 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [7d4465670326ad09d15985091d40834f6ec040f9](https://github.com/magento/magento2/commit/7d4465670326ad09d15985091d40834f6ec040f9)
 - [42b4f3c7180fa1a56354c4e8466c32fa5882ada0](https://github.com/magento/magento2/commit/42b4f3c7180fa1a56354c4e

[2018-11-06 18:41] tylers-username opened #19086 "Feature Request: Target specific module with `setup:upgrade`"
### Description (*)

When developing a new module would be more efficient to target the module in development with `setup:upgrade` rather than having Magento process all modules.

i.e. `magento setup:upgrade Developer_Module`

### Expected behavior (*)

Upgrade module by name in order to have the Magento cli skip the processing of all other modules that do not need upgrading.

### Benefits

It wou

[2018-11-06 18:41] magento-engcom-team commented on #19086
Hi @tylerssn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-06 18:45] tylerssn commented on #19086
@magento-engcom-team - this is a feature request and not an issue.

[2018-11-06 19:32] siliconrockstar commented on #8285
I have the same problem after creating a plugin for Magento\Framework\App\Request\Http

[2018-11-06 20:06] Oscar-Wagento commented on #15910
Hello everyone i got the solution for the issue.

Results here that you have to add on minicart.js the following

[code]
When it closes the popup from the minicart that event (**dropdowndialogclose**) you have to add and force the scroll up to the top. I suggest use only if you add the hover effect on dropdownDialog.

Thanks, hope this helps to the ones who has faced this issue.

[2018-11-06 20:07] Oscar-Wagento commented on #15910
@engcom-backlog-nazar  this is solved :+1:

[2018-11-06 20:12] gabwik opened #19088 "Braintree Error Messages"
Hi,

I'm try to use Braintree on a Magento 2.2.6 multisite. Got the following error message on Magento standard checkout: Payment Credit Card (Braintree) can't be initialized. After talk to Braintree I got the following replay: Specifically, it appears that we aren't receiving a payment method nonce, which is a vital parameter as it represents the payment method that is being used for the transact

[2018-11-06 20:12] magento-engcom-team commented on #19088
Hi @gabwik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-06 20:22] kennedyabitbol commented on #15117
Please refer to this also https://github.com/magento/magento2/issues/7825#issuecomment-268759362

[2018-11-06 20:41] gabwik commented on #19088
Preconditions (*)
Magento V2.2.6
Zend OPcache v7.0.27
Apache
Standard Magento one page checkout

No special caching is present.

- Steps to reproduce (*)
Enable Braintree as payment method
Add something to cart
Go to checkout
Can't place an other with Braintree

- Expected result (*)
That you could place an order with Braintree

- Actual result (*)
You get a message: You get a message saying: Paym

[2018-11-06 21:45] sarjangautam commented on #15654
I also had negative price in price index table for configurable products and this was happening because of Magento1 product price data for config products. In M1 , we used to store price data for config products and when we migrated that data to M2 those M1 price were carried over to M2. After reindexing i used to get negative price in the index table for config products. Since we do not need pric

[2018-11-06 22:16] nthurston opened #19093 "API: salesOrderItemRepository does not include gift message"
### Preconditions (*)

1. Magento version 2.2.6
2. REST API

### Steps to reproduce (*)

1. Place order with line level gift message
2. Call GET /V1/orders/items/{id}

### Expected result (*)

1. Result should contain extension_attributes['gift_message'] element with gift message data

### Actual result (*)

1. Result does not contain gift_message element

[2018-11-06 22:16] magento-engcom-team commented on #19093
Hi @nthurston. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-06 22:17] nthurston commented on #19093
@magento-engcom-team give me 2.2.6 instance

[2018-11-06 22:17] magento-engcom-team commented on #19093
Hi @nthurston. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-06 22:18] magento-engcom-team commented on #19093
Hi @nthurston, here is your [Magento instance](http://34.228.235.121/i-19093-2-2-6/).
Admin access: [http://34.228.235.121/i-19093-2-2-6//admin](http://34.228.235.121/i-19093-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-07 00:19] orlangur commented on #19086
@tylerssn why would one keep a module requiring upgrade in code base without actually upgrading it?

[2018-11-07 00:59] tylerssn commented on #19086
The use case for me is in development of the module. While developing a module I may need to execute` setup:upgrade` multiple times as I uninstall and reinstall the module.

[2018-11-07 01:36] hoangtuan21193 commented on #2991
@ulftietze

Thank you for your suggestion but I can not make it work for me. Would you mind if I can see how you add item to cart.

I want to add shopping bag item to cart when customer click [Proceed to Checkout] in Cart page. Then redirect to confirm page.

This is my code, but it's always redirect to cart page, I don't want that. If I try to not redirect to cart, the price will be 0.

`
public

[2018-11-07 01:55] orlangur commented on #19086
And it will reinstall only one module, where do you observe performance degradation?

[2018-11-07 02:52] tylerssn commented on #19086
I'm proposing that rather than have the Magento cli check all modules for new versions, only check the module specified.

Using Docker on OSX (insert horror music here) this command takes a while to process before it hits the module I'm developing.

[2018-11-07 03:26] #19086 closed, assigned to orlangur

[2018-11-07 03:38] pmclain commented on #19078
This looks like a misunderstanding of how ttl and esi work.

https://github.com/magento/magento2/blob/9186f4ac77f2b68ea0faeaa1ac065dcf26877530/app/code/Magento/Catalog/Block/Product/AbstractProduct.php#L228

Works on the assumption that the product has been loaded to the registry. When viewing a product this is handled `Magento\Catalog\Controller\Product\View::_initProduct` calling `Magento\Catalo

[2018-11-07 06:34] shyam100379 commented on #14750
Did you got time to check? The issue is there for sure. Can you please check again. Thanks.

[2018-11-07 06:53] magento-engcom-team commented on #19088
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 07:05] engcom-backlog-nazar commented on #19088
Hi @gabwik   Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-07 07:05] #19088 closed, assigned to nobody

[2018-11-07 07:28] magento-engcom-team commented on #19085
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 07:32] downforce80 commented on #14750
We are still experiencing this issue.

[2018-11-07 07:35] magento-engcom-team commented on #14750
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 07:52] bjoern-flagbit commented on #19078
Hi @pmclain thx for your feedback, this explains why the product could not be loaded. But should not work this out of the box? So i guess magento is not putting the product to the registry. So i could  add the product to the registry before the block is rendered. But i do not like this idea because registry is hard to debug. I tend to an ajax call and an own route that is not cached by varnish (so

[2018-11-07 07:52] #19078 closed, assigned to nobody

[2018-11-07 08:09] engcom-backlog-nazar commented on #18749
Hi @sreichel  Thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-11-07 08:09] #18749 closed, assigned to nobody

[2018-11-07 08:13] magento-engcom-team commented on #18332
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 08:17] gabwik commented on #19088
Hi,
Try both in test and production mode?

[2018-11-07 08:31] grasslben commented on #17436
I can reproduce this issue on 2.2.6.
The problem seems to be the ```serializeData: line 409``` function in variations.js like @philippsander stated.

The second line:

``` delete this.source.data['configurable-matrix']; ```

gets called, even if there are JS errors (SKU too long) on the page. The next time you save the product, the matrix is empty. This causes the following PHP errors because the

[2018-11-07 08:46] engcom-backlog-nazar commented on #19088
Hi @gabwik yes, can you recheck it on vanilla instance ?

[2018-11-07 08:47] harrigo commented on #18738
You can set different addresses for customers from frontend not sure what you mean by your comment but follow my steps to reproduce. The comment is simply not true and users can change their addresses thankfully without having to contact an admin.

[2018-11-07 08:50] engcom-backlog-nazar commented on #18738
@harrigo seems like this is feature, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-07 08:51] magento-engcom-team commented on #19085
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96166`, `MAGETWO-96167` were created

[2018-11-07 09:01] magento-engcom-team commented on #18329
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 09:15] phlesaux commented on #18148
Problem reproduced on 2.2.6 on different payment method.

The order history is correct but the order status is not updated :

[2018-11-07 09:29] magento-engcom-team commented on #18269
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 09:32] simonmaass commented on #13269
have the same issue in 2.2.6

[2018-11-07 09:35] ulftietze commented on #2991
Hey @hoangtuan21193,

i think this is the wrong point to discuss about custom errors here.
The right point to place this would probably be stackoverflow. If we discuss such custom solution in here, we can't talk about the real problem and the solution in Magento Core about this.

Anyway, i'm not like a bad person :D If you take a look at the last fix in the core, also included in this issue. Dunno

[2018-11-07 09:38] magento-engcom-team commented on #18644
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-07 09:47] gfxguru commented on #16008
Same issues, 2.2.6 this is not fixed.

[2018-11-07 10:03] TomashKhamlai commented on #18644
Hello, I have generated some data using my modified medium.xml
[medium.txt](https://github.com/magento/magento2/files/2556890/medium.txt) based on  setup/performance-toolkit/profiles/ce/medium.xml on 2.3-develop. No errors were found in logs on 2.3-develop. Please add details when you will have more information.

[2018-11-07 10:04] #18644 closed, assigned to nobody

[2018-11-07 10:07] magento-engcom-team commented on #18647
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-07 10:13] eduard13 opened #19099 "New Link is not correctly shown as Current if contains default parts"
### Preconditions (*)
1. Magento 2.2.6, 2.3
2.

### Steps to reproduce (*)
1. Add a new link to the customer account navigation using layouts
2. For path use the default part `index`, example: `vault/index/index/`
[code]
3. Open the customer dashboard
4. Go to the new added link (Demo Link)

### Expected result (*)

1. The link is marked as current
![05187bc0cb](https://user-images.githubuserconte

[2018-11-07 10:13] magento-engcom-team commented on #19099
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-07 10:15] engcom-backlog-nazar commented on #18332
Hi @devqualwebs    Thank you for you report,only 2.2.0+ bug reports are considered nowadays. Try upgrading. I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended fo

[2018-11-07 10:15] #18332 closed, assigned to nobody

[2018-11-07 10:20] TomashKhamlai commented on #18647
@jhruehl, please update the **Preconditions** or **Steps to reproduce** section, because some bots :smile: can be confused with idea to upgrade from 2.3.0-beta18 in **Preconeditions** to 2.3.0-beta18 in **Steps to reproduce**.

I hope you mean that it is not necessary to update the store, if there is a possibility to have 2 Magento instances with 75k product where one instance is 2.3.0-alpha and a

[2018-11-07 10:28] jhruehl commented on #18647
@TomashKhamlai I just removed the first step in **Steps to reproduce** and updated **Preconditions** to Magento 2.3.0-beta36. Is that enought?

[2018-11-07 10:40] hoangtuan21193 commented on #2991
@ulftietze

Thank you for your response, I tried your suggestion but no luck.
I created a new question in stackoverflow, hope you can understand my problem.

https://stackoverflow.com/questions/53187770/when-add-new-product-programmatically-to-exist-cart-in-magento-2-product-price

Have a nice day too! 💯

[2018-11-07 10:43] yasiraftab opened #19100 "Magento 2.2.3 Configurable Products Takes Long Time To Save"
### Preconditions (*)

Adding configurable products with multiple variations takes very long to save the product.

1. Magento 2.2.3 Community Addition
2.  MariaDB 10.1.31
3. Php 7.0.2
4. Varnish 5
6. Redis

### Steps to reproduce (*)

1. Try to add configurable products with variations like size, colors etc
2.  Add 5 different size, 5 different colors (create configuration)
3.  Save the product, i

[2018-11-07 10:43] magento-engcom-team commented on #19100
Hi @yasiraftab. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-07 10:44] magento-engcom-team commented on #18445
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 10:50] engcom-backlog-nazar commented on #18445
Hi @farbulous  thank you for you report this is acknowledged issue please look -> https://github.com/magento/magento2/issues/18144

[2018-11-07 10:50] #18445 closed, assigned to nobody

[2018-11-07 10:55] magento-engcom-team commented on #18446
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-07 10:56] engcom-backlog-nazar commented on #18446
Hi @abhisekhranjan   Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-07 10:56] #18446 closed, assigned to nobody

[2018-11-07 11:00] engcom-backlog-nazar commented on #19076
@LouNik1984 I'm can't find related commit, please try updates to 2.2.6

[2018-11-07 11:20] williankeller commented on #19084
Hi all!
An important thing to share, this error happens into Enterprise Edition, under 2.2.2 version.

[2018-11-07 11:26] #19084 closed, assigned to nobody

[2018-11-07 11:28] Anantkprajapati commented on #11412
Open database using phpmyadmin and find table name core_config_data
run this query like

SELECT * FROM `core_config_data` WHERE `path` LIKE '%design/theme/theme_id%'

you can get the some of the rows like 2 or 3.
There will one value like http://prntscr.com/lfewjs
There will NULL value and replace to theme id

Thank you

[2018-11-07 11:35] stoopman commented on #19069
Can someone explain why the qty of the child items are not displayed for bundled products? Thanks!

[2018-11-07 11:50] tanolalano commented on #18148
In my Magento 2.2.6 php 7.1.22 is Reproduced only on Paypal Host Pro Solution.
Not affected Amazon Pay or Bank Payment nor COD

[2018-11-07 12:00] ericflemes commented on #18195
hello everyone, i created a patch to correct this for hour. Follow below.
https://github.com/ericflemes/magento2/tree/compact/patches

[2018-11-07 12:03] magento-engcom-team commented on #18568
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-07 12:52] nuwaus commented on #18256
How can we override this class without modifying the core class?
I tried to override with di.xml but then I get an error while sending the reset email.

[2018-11-07 13:19] nthurston commented on #19093
I'm not talking about gift wrap, I'm talking about gift message.

Swagger shows that the gift message should be available on the order item API, it is not.

[2018-11-07 13:31] Parakoopa commented on #10321
Hi, I can confirm this is a real issue. Using a custom ui component modal with a insertListing and a dynamicRow component does not work for custom modules without that workaround. Could you consider reopening this issue? @magento-engcom-team

[2018-11-07 13:31] nthurston commented on #19093
If you're trying to say that Gift Message is not available in CE, that does not seem accurate.

CE Docs for 2.2
https://docs.magento.com/m2/2.2/ce/user_guide/sales/gift-options.html?Highlight=gift%20options

Options on a 2.2 CE instance
![image](https://user-images.githubusercontent.com/4097064/48134182-31cfa200-e267-11e8-96b5-9d7451732052.png)

The module I am referring to is Magento\module-gift-

[2018-11-07 13:59] engcom-backlog-nazar commented on #19093
@nthurston sorry Now i'm clear understand, that is the gift Message module

[2018-11-07 14:11] davidlhoumaud opened #19101 "API REST and Reserved Order Id"
### Preconditions (*)
1. Magento CE 2.2.6 without sample data is installed
2.  PHP 7.0.1

### Steps to reproduce (*)
1. PUT REQUEST
2. http://magento.host/rest/V1/carts/mine
3. in the cart you must add a reserved_order_id (for example: 000000653)

### Expected result (*)
Update the cart with a reserved order number with the left pad 0 eg: 000000651

### Actual result (*)
Can not update cart with a

[2018-11-07 14:11] magento-engcom-team commented on #19101
Hi @davidlhoumaud. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-07 14:39] zipnfc commented on #18148
This is the only thing stopping me putting the shop live so an update on the fix would be fantastic! Thanks in advance

[2018-11-07 14:43] davidlhoumaud commented on #19101
@magento-engcom-team give me 2.2-develop instance

[2018-11-07 14:43] magento-engcom-team commented on #19101
Hi @davidlhoumaud. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-07 14:44] magento-engcom-team commented on #19101
Hi @davidlhoumaud, here is your [Magento instance](http://34.228.235.121/i-19101-2-2-develop/).
Admin access: [http://34.228.235.121/i-19101-2-2-develop//admin](http://34.228.235.121/i-19101-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-07 14:48] davidlhoumaud commented on #19101
Confirmed this on vanilla instance.

[2018-11-07 15:14] TomashKhamlai commented on #18568
Hello @dvershinin, please look and check my steps to reproduce.
### Environment:
Debian 9 Stretch, PHP 7.1, apache2, Varnish 4.1, Magento 2.3-develop
Apache is listening on 8080
Varnish Proxy is listening on 80
mod_rewrite is on

### Steps to reproduce:
default.vcl was generated by Magento CLI and it contains path to health_check.php (this path is real).
Sessions are not configured so they are pla

[2018-11-07 15:30] wd7080 opened #19106 "Issue with stripe payments"
After updating msp/recaptcha version 2.0.1 to 2.0.2 and installing stripeofficial/stripe-payments extension version 2.0.0 (Metapackage) using Magento Marketplace Account and Magento extension manager ([extension URL](https://marketplace.magento.com/stripeofficial-stripe-payments.html)), all payment methods don't get listed at the final checkout step and what the user gets is a page similar to the

[2018-11-07 15:51] jorgb90 commented on #18969
@engcom-backlog-nazar I want to let you know that we finally fixed this problem and I think it maybe actually is a core issue.. The fix was eventually very simple by first setting Magento into default mode (which normally isn't possible) and after that setting the mode to production is working fine..

<img width="541" alt="schermafbeelding 2018-11-07 om 16 50 50" src="https://user-images.githubuse

[2018-11-07 15:51] Mathiu commented on #15545
Same here and causes server overload up to few times a day. Would love to get a fix for this.

Any progress on this?

[2018-11-07 16:09] vasilii-b commented on #19099
@magento-engcom-team give me 2.2-develop instance
@magento-engcom-team give me 2.3-develop instance

[2018-11-07 16:09] magento-engcom-team commented on #19099
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-07 16:09] magento-engcom-team commented on #19099
Hi @vasilii-b, here is your [Magento instance](http://34.228.235.121/i-19099-2-2-develop/).
Admin access: [http://34.228.235.121/i-19099-2-2-develop//admin](http://34.228.235.121/i-19099-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-07 16:13] magento-engcom-team commented on #19099
Hi @vasilii-b. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-07 16:15] magento-engcom-team commented on #19099
@vasilii-b Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96189`, `MAGETWO-96190` were created

[2018-11-07 17:34] magento-engcom-team commented on #12399
Hi @Drakas. Thank you for your report.
The issue has been fixed in magento/magento2#19074 by @Mardl in 2.2-develop branch
Related commit(s):
 - [a5a0b0b5674b5fe19921d2cb9b403d0c6b9ecb54](https://github.com/magento/magento2/commit/a5a0b0b5674b5fe19921d2cb9b403d0c6b9ecb54)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-07 17:34] #12399 closed, assigned to Mardl

[2018-11-07 17:34] magento-engcom-team commented on #14007
Hi @Yogeshks. Thank you for your report.
The issue has been fixed in magento/magento2#19044 by @vpodorozh in 2.2-develop branch
Related commit(s):
 - [52bfffc2d2f43891b27af2d6144c0b64be572f79](https://github.com/magento/magento2/commit/52bfffc2d2f43891b27af2d6144c0b64be572f79)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-07 17:34] #14007 closed, assigned to vpodorozh, ashokramji, lewis-dan

[2018-11-07 17:34] magento-engcom-team commented on #2618
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#18985 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - [66294452bd0fc6bcadc7360c438da79ca1f6c314](https://github.com/magento/magento2/commit/66294452bd0fc6bcadc7360c438da79ca1f6c314)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-07 17:34] #2618 closed, assigned to vasilii-b

[2018-11-07 17:42] rou9e commented on #13440
Hi there ! Parthaccorin's solution didn't work out of the box for me, but it has been a great help.
Maybe this can help someone one day, fresh install over there (2.2.6 community) :

**app/code/Alioze/Tmp/etc/di.xml**

[code]

**app/code/Alioze/Tmp/Plugin/Model/Category/DataProvider.php**

[code]

Regards

[2018-11-07 19:46] MYPstudio opened #19109 "This product doesn't exist. Error after saving a new product"
On clean new install of Magento ver. 2.2.6, every time I create a new product, I get the error message "This product doesn't exist." and I unable to edit the product

Install :  Magento ver. 2.2.6
Server: Localhost via UNIX socket
Server type: MariaDB
Server version: 10.1.36-MariaDB-cll-lve - MariaDB Server
Protocol version: 10
Database client version: libmysql - 5.1.73
PHP extension: mysqliDocume

[2018-11-07 19:46] magento-engcom-team commented on #19109
Hi @MYPstudio. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-07 23:08] Pro100alez opened #19111 "”Catalog Search indexer process unknown error” when reindexing “Search indexer” after module update"
I have a problem with reindexing “Search indexer” and all product pages gives me "503 Service Unavailable error". But I can enter any other places on the site. All static pages, catalogue, checkout, admin etc. This problem has appeared after module update in "Extension Manager".

### Preconditions
- Magento 2.2.5
- Stripe Metapackage version 2.0.0 (vendor: Stripeofficial)
- Current PHP Version: PH

[2018-11-07 23:08] magento-engcom-team commented on #19111
Hi @Pro100alez. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-07 23:39] subbu1993 commented on #19043
@magento-engcom-team give me 2.2.6 instance

[2018-11-07 23:40] magento-engcom-team commented on #19043
Hi @subbu1993. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-07 23:40] magento-engcom-team commented on #19043
Hi @subbu1993, here is your [Magento instance](http://34.228.235.121/i-19043-2-2-6/).
Admin access: [http://34.228.235.121/i-19043-2-2-6//admin](http://34.228.235.121/i-19043-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-08 01:04] nelero opened #19112 "getFullCustomerObject doesn't return customer custom_attributes"
We can't display custom_attributes from customer in email like "forgotten password" template or "reset password" or "new account" mail template.
Firstname, lastname , prefix are ok, but not custom_attributes.

### Preconditions (*)
Magento 2.2.3

### Steps to reproduce (*)
create customer custom attribute in module

[code]
the field appears in backoffice it's ok.
Fill in the field in backend custo

[2018-11-08 01:04] magento-engcom-team commented on #19112
Hi @nelero. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-08 06:09] konarshankar07 commented on #18183
As expiration_date is a TIMESTAMP so it will have range from '1970-01-01 00:00:01.000000' to '2038-01-19 03:14:07.999999'. So it won't save for the 2088 year but if you still want to save so we need to change the column from TIMESTAMP to DATETIME. Hope this will help you.

[2018-11-08 07:33] magento-engcom-team commented on #19109
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 07:34] engcom-backlog-nazar commented on #19109
Hi @MYPstudio   Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-08 07:34] #19109 closed, assigned to nobody

[2018-11-08 07:36] magento-engcom-team commented on #19112
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 08:58] magento-engcom-team commented on #19111
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 09:00] engcom-backlog-nazar commented on #19111
Hi @Pro100alez, thank you for you report, this problem related to you custom module, The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-08 09:00] #19111 closed, assigned to nobody

[2018-11-08 09:25] torhoehn opened #19115 "Client side less compilation not working"
### Preconditions (*)

1. Magento ver. 2.3.0-beta23
2. PHP 7.1.22

### Steps to reproduce (*)

1. Set Magento into developer mode
2. Login into Backend and navigate to Stores -> Configuration -> Advanced -> Developer -> Frontend Development Workflow
3. Set Workflow type to Client side less compilation
4. Load Storefront

### Expected result (*)

1. Theme should be rendered correctly

### Actual re

[2018-11-08 09:38] magento-engcom-team commented on #19115
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 09:39] torhoehn commented on #19115
@magento-engcom-team Unfortunately it's working vanilla Magento instance.

[2018-11-08 10:29] yaroslav-zenin opened #19116 "Dependency injection and optional module"
### Summary (*)

I have a `module1` and this `module1` can use my another `module2` in case when latest present in the system. In can be installed via composer from `suggest` section. I use magento `2.3` and `2.2.6`
### Examples (*)

In `module2` I have defined logger in `module2/etc/di.xml`
[code]
now in `module1` I would like to add one additional handler to `Module2Logger`
so, I do in `module1/

[2018-11-08 10:29] magento-engcom-team commented on #19116
Hi @yaroslav-zenin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-08 10:36] magento-engcom-team commented on #19112
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96202`, `MAGETWO-96203` were created

[2018-11-08 10:37] engcom-backlog-nazar commented on #19115
Hi @torhoehn seem like this already fixed in 2.3-dev branch, i'm also cannot reproduce on 2.3-dev. If you like to update this please reopen the issue.

[2018-11-08 10:37] #19115 closed, assigned to nobody

[2018-11-08 10:39] magento-engcom-team commented on #18374
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96206`, `MAGETWO-96207` were created

[2018-11-08 10:42] torhoehn commented on #19115
@engcom-backlog-nazar Do you know if something has changed or an idea where I have to search for that? So I would be able to apply a fix manually in our project.

[2018-11-08 10:52] magento-engcom-team commented on #18352
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 10:54] engcom-backlog-nazar commented on #18352
Hi @ankursharma1930 thank you for you report, this is acknowladged issue, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/19064.

[2018-11-08 10:54] #18352 closed, assigned to nobody

[2018-11-08 10:59] magento-engcom-team commented on #18496
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 11:29] magento-engcom-team commented on #18361
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-08 11:31] josefbehr commented on #7298
Can still reproduce this in 2.2.6 and 2.3. The solution by @toanthree is working for me. We will create a PR, if @toanthree does not want to do it (?).

[2018-11-08 11:32] magento-engcom-team commented on #7298
Hi @josefbehr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-08 12:12] TomashKhamlai commented on #19075
![currency setup 0](https://user-images.githubusercontent.com/11827230/48197899-d46b4c00-e35f-11e8-83aa-d976b95cf076.png)
![currency setup 2](https://user-images.githubusercontent.com/11827230/48197900-d46b4c00-e35f-11e8-8ce4-f69b230e3791.png)
![simple product 1](https://user-images.githubusercontent.com/11827230/48197901-d46b4c00-e35f-11e8-9162-bd344ffdf265.png)
![simple product 4](https://user-i

[2018-11-08 12:13] #19075 closed, assigned to nobody

[2018-11-08 12:20] magento-engcom-team commented on #18755
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-08 12:37] magento-engcom-team commented on #18361
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96219`, `MAGETWO-96220` were created

[2018-11-08 12:42] engcom-backlog-nazar commented on #19115
@torhoehn Sorry i'm can't find where this was fixed, i was try search in history commits, but not found any related commits

[2018-11-08 12:56] magento-engcom-team commented on #19112
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-08 13:13] TomashKhamlai commented on #18769
This issue is not reproducible on latest 2.3-develop.

[code]

[2018-11-08 13:13] #18769 closed, assigned to nobody

[2018-11-08 13:14] BlitzInternet commented on #19075
@TomashKhamlai thanks for the response. It's good to know that it was fixed in 2.3
However, did you try to reproduce it in 2.2? We cannot simply upgrade to v2.3 in a hurry.
If it was fixed, we need to know in which commit/file, so we can at least create a workaround for the moment until we can upgrade the system to 2.3

[2018-11-08 13:26] #18934 closed, assigned to Shubham0492

[2018-11-08 13:42] magento-engcom-team commented on #19100
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-08 13:56] TomashKhamlai commented on #19100
Hello @yasiraftab. Can I acquire some additional information?
1) Save time on clean cache in seconds (simple product)
2) Save time with cache in seconds (simple product)
3) Save time on clean cache in seconds (configurable product 5x5)
4) Save time with cache in seconds (configurable product 5x5)
5) Information about your hosting, RAM/CPU or link to hosting provider and hosting plan that you subsc

[2018-11-08 14:04] rauberdaniel opened #19117 "High Database Load for Sales Rule Validation"
### Preconditions (*)

1. Magento 2.2.5
2. PHP 7.1 / MySQL 5.6.41

### Steps to reproduce (*)

1. Create multiple Sales Rules with multiple coupons each
2. Get a lot of customers to redeem codes

### Expected result (*)

1. High Performance, as finding sales rules is fast using indexes on Database

### Actual result (*)

1. Incredibly Low Performance, as SQL query is badly constructed so it cannot

[2018-11-08 14:04] magento-engcom-team commented on #19117
Hi @rauberdaniel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-08 14:14] garyhiggins1970 commented on #18148
Numan201's solution worked for me with paypal Payments Pro Hosted Solution.  Very easy to do and just took the line from the same file of version 2.2.5

[2018-11-08 14:17] rauberdaniel commented on #19117
To be a bit more precise, the alternative recommended query that has the equal result but split into two queries that are very fast because of index usage is:

[code]

[2018-11-08 14:49] magento-engcom-team commented on #18923
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-08 14:54] TomashKhamlai commented on #18923
@craigcarnell, please add `### Preconditions (*)` and move
[code]
from `### Steps to reproduce (*)` section

It is point "1." from [requirements](https://github.com/magento/magento2/issues/18923#issuecomment-437019105)

[2018-11-08 14:55] orlangur commented on #19112
@nelero described system behavior is correct. You should handle custom attributes loading by yourself but the recommended way is to use extension attributes instead, see https://devdocs.magento.com/guides/v2.2/extension-dev-guide/attributes.html for more details.

[2018-11-08 14:55] magento-engcom-team commented on #19112
Hi @orlangur. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-11-08 14:58] orlangur commented on #19117
@rauberdaniel great finding and analysis! Are you interested in preparing a pull request maybe?

[2018-11-08 15:01] rauberdaniel commented on #19117
@orlangur I absolutely would, however, I’m not very into Magento code (or PHP at all) and the class that defines this query as well as the abstract are pretty confusing to me.

[2018-11-08 15:05] orlangur commented on #19116
This is not a reliable solution and will cause errors. Interception must work for virtual classes as well.

@yaroslav-zenin, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2018-11-08 15:08] orlangur commented on #19117
@rauberdaniel got it, no problem. Let's wait for a volunteer then.

[2018-11-08 15:11] garyhiggins1970 commented on #18148
Not me, just looked through some orders and not seen any issues?

[2018-11-08 15:11] engcom-backlog-nazar commented on #19112
@orlangur  Yes but the custom_attributes present in the variables, but if you get value like this ->
{{var customer.custom_attributes.sample_attribute}}  you have an error
![selection_195](https://user-images.githubusercontent.com/40756439/48207454-561ba380-e379-11e8-946e-0769164ad631.png)

[2018-11-08 15:17] engcom-backlog-nazar commented on #19112
@orlangur
![selection_196](https://user-images.githubusercontent.com/40756439/48207827-28832a00-e37a-11e8-99bd-77477449874f.png)

[2018-11-08 15:29] sidolov commented on #14007
Hi @Yogeshks. Thank you for your report.
The issue has been fixed in magento/magento2#19037 by @vpodorozh in 2.3-develop branch
Related commit(s):
 - [e18df69004ef25f53ed927e953cc5fce0191bf84](https://github.com/magento/magento2/commit/e18df69004ef25f53ed927e953cc5fce0191bf84)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-08 15:29] sidolov commented on #17833
Hi @rossmc. Thank you for your report.
The issue has been fixed in magento/magento2#19018 by @vpodorozh in 2.3-develop branch
Related commit(s):
 - [388fb45eb6ff24b3fe9fc1452bf75db5507ae87c](https://github.com/magento/magento2/commit/388fb45eb6ff24b3fe9fc1452bf75db5507ae87c)
 - [6a35e24869be3384e9f7d86bf6faed132d5b2bf6](https://github.com/magento/magento2/commit/6a35e24869be3384e9f7d86bf6faed132d5

[2018-11-08 15:29] #17833 closed, assigned to SavchenkoVladimir, vpodorozh

[2018-11-08 15:29] sidolov commented on #18839
Hi @ankit-sf. Thank you for your report.
The issue has been fixed in magento/magento2#18900 by @rahulwebkul in 2.3-develop branch
Related commit(s):
 - [22abbcbb6ac21b32ca25b93f55bba8079a2d56c9](https://github.com/magento/magento2/commit/22abbcbb6ac21b32ca25b93f55bba8079a2d56c9)
 - [8aafa54f3356a8d361231cf3d84e19f80ef076c0](https://github.com/magento/magento2/commit/8aafa54f3356a8d361231cf3d84e19f

[2018-11-08 15:29] #18839 closed, assigned to nobody

[2018-11-08 15:29] sidolov commented on #17625
Hi @chefbuitenhuis. Thank you for your report.
The issue has been fixed in magento/magento2#18998 by @cezary-zeglen in 2.3-develop branch
Related commit(s):
 - [210c4e15364e3a5303515c94906c0eccf9782871](https://github.com/magento/magento2/commit/210c4e15364e3a5303515c94906c0eccf9782871)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-08 15:29] #17625 closed, assigned to nobody

[2018-11-08 15:37] giacmir commented on #12863
This should probably be reopened since the cron_schedule full can be a symptom of an issue.

It happened to two my instances having separate database machine. It never happened when the database is on the same server.

[2018-11-08 15:38] TomashKhamlai commented on #18923
Cannot reproduce on 2.3-develop
![cannot_reproduce](https://user-images.githubusercontent.com/11827230/48209079-f3c4a200-e37c-11e8-8517-31f4590283ee.gif)

[2018-11-08 15:44] zack6849 opened #19119 "Magento 2.2.6 setup:config:set will break db configuration."
### Preconditions

1. Magento 2.2.6
2. A working configuration

### Steps to reproduce

1. Try to change your backend frontname ( I did `bin/magento setup:config:set --backend-frontname="admin"`)
2. Say yes to override the config settings, and flush cache
3. Try to run bin/magento setup:upgrade

### Expected result (*)

1. Successful upgrade

### Actual result (*)

[code]

It seems that when you r

[2018-11-08 15:44] magento-engcom-team commented on #19119
Hi @zack6849. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-08 15:44] zack6849 commented on #19119
Engcom instances have no command line access so I can't test it with that instance, marking as yes to move the issue forward.

[2018-11-08 16:02] engcom-backlog-nazar commented on #18269
Hi @ulftietze thank you for you report, this issue has already fixed in 2.3-develop branch.

[2018-11-08 16:02] #18269 closed, assigned to nobody

[2018-11-08 16:11] ghost opened #19120 "Class Interceptor does not exist"
I'm getting the following error when installing

`./magento setup:install --admin-firstname="John" --admin-lastname="Doe" ....
`
`Class Magento\Framework\App\State\Interceptor does not exist`

[2018-11-08 16:11] magento-engcom-team commented on #19120
Hi @SerhanYavcin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-08 16:12] TomashKhamlai commented on #19075
@BlitzInternet the current forkflow provided by @magento-engcom-team requires to stop reproducing procedure if it is not reproducible in 2.3-develop. I haven't tried and have no information about the fix.

Lot of functionality is backported by internal teams and by community but we cannot promise that this will be fixed. Some fixes were made in the scope of other task. You can try to add `help wan

[2018-11-08 16:42] craigcarnell commented on #18923
@TomashKhamlai If only 2.3 was released..

[2018-11-08 16:45] jordangottlieb-ych commented on #9762
Bump

[2018-11-08 17:26] mateo2181 opened #19122 "We can't add this item to your shopping cart right now."
### Preconditions (*)

1. Magento 2.2.5
2. Php 7.1.x,
3. Nginx

### Steps to reproduce (*)

1. I have a simple store setup and I get an error when adding to cart.

### Expected result (*)

1. Item added in the cart

### Actual result (*)

1. We can't add this item to your shopping cart right now.
![selection_002](https://user-images.githubusercontent.com/12451246/48215938-29a85d00-e362-11e8-9082-9

[2018-11-08 18:10] numan201 commented on #18148
I should have stated in the original post that I expect this fix should solve the issue with other payment methods as well as it appears to be a issue in the core.

I don't understand what that the Magento team is trying to do with that change introduced in 2.2.6 (https://github.com/magento/magento2/commit/f39138b6dc504f93dae9697ad45d11d57f1aaf1f#diff-68f9035e0545c5442dde19b0ba0fa9b4R38).

[2018-11-08 19:09] slavvka commented on #18974
Guys, Magento 2.3 is currently supporting Elasticsearch 5.2.x and Elasticsearch 2.x so it isn't an issue.
Look here https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2018-11-08 19:09] #18974 closed, assigned to nobody

[2018-11-08 19:13] geerlingguy commented on #18974
@slavvka - So... is there any plan to support a version of Elasticsearch which will not be deprecated/unsupported within the next 4 months?

[2018-11-08 19:19] CajuCLC commented on #18974
@slavvka So Magento 2.3 will be released with support to deprecated tools?

[2018-11-08 19:47] misha-kotov commented on #18974
Agreed it would be nice to keep up a bit better with ElasticSearch release cadence. This is something we are looking to improve. Remember that as of this spring, we had support for only Elastic 2.x (not that this is a good thing). As an FYI, support for 5.x was contributed by the community, so that is also an option. At the end of the day, this is currently a feature request and not a bug.

[2018-11-09 00:57] barbanet opened #19125 "Declarative schema doesn't follow the setup_version indications"
### Preconditions (*)

1. Magento 2.3-beta23
2. Php 7.1
3. Mysql 5.7
4. Create a new module with only the db_schema.xml file.

### Steps to reproduce (*)

1. I've created a db_schema.xml file with a group of fields for my table.
2. I've enabled my module.
3. I've run the setup:upgrade command.
4. Everything looks fine.
5. I've changed the db_schema.xml definition and I've added a new field.
6. I d

[2018-11-09 00:58] magento-engcom-team commented on #19125
Hi @barbanet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-09 03:54] careys7 commented on #8700
Possibly fixed by https://github.com/magento/magento2/commit/ba6859898de392102f01631facbc2590481b4271

[2018-11-09 04:06] maximbaibakov commented on #8700
It has been actually fixed in 2.2-develop branch as well.

https://github.com/magento/magento2/commit/1cb5445345c03f7cea1e2e0aba0d835731683416#diff-ff4893a5628d34910295bae32fbcddfd

https://github.com/magento/magento2/commit/f8968c28cae24769bb6ff9079c78e7526df1df92#diff-ff4893a5628d34910295bae32fbcddfd

[2018-11-09 06:13] anup4ranium commented on #8933
Hi @marcelo-monteiro , do you mean its fixed in 2.2.6 OR it still exists in 2.2.6 ?

[2018-11-09 06:40] shachiarkatkar commented on #18983
Hi can anyone help me with this issue

[2018-11-09 06:41] shachiarkatkar commented on #18983
Please reopen this issue as it is not fixed in 2.3

[2018-11-09 06:47] raivisdejus commented on #18735
Will look into the issue and prepare tests for the case.
PR coming up :)

[2018-11-09 07:04] rogyar commented on #19122
We cannot reproduce this issue on a clean Magento installation. Looks like this issue is related to some issues in your installation (3rd party solutions, system configuration). Please, provide more information from  the system log files

[2018-11-09 07:10] SerhanYavcin commented on #19120
Solved

[code]

[2018-11-09 07:14] magento-engcom-team commented on #19101
Hi @rogyar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-11-09 07:16] magento-engcom-team commented on #19101
@rogyar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96237`, `MAGETWO-96238` were created

[2018-11-09 07:37] ulftietze commented on #8933
Unfortunately it's not fixed in 2.2.6 :/

[2018-11-09 07:43] magento-engcom-team commented on #19101
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-09 07:44] engcom-backlog-nazar commented on #18983
Hi @shachiarkatkar strange but in my screen on 2.3-develop the newly order have not status on hold, however i recheck it.

[2018-11-09 07:44] magento-engcom-team commented on #19120
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 07:45] engcom-backlog-nazar commented on #19120
@SerhanYavcin i'm closing this, this is resolved.

[2018-11-09 07:45] #19120 closed, assigned to nobody

[2018-11-09 07:46] magento-engcom-team commented on #19119
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 07:48] terrybakshi opened #19127 "Cannot connect to Magento 2 market place"
### Preconditions (*)

1. When going to websetup wizard, enter the private and secret key to login to magento market place to install extension
2. can't login getting error 200

### Actual result (*)

1. [Screenshots, logs or description]
2.
![download](https://user-images.githubusercontent.com/13229022/48249652-e1ffff00-e44f-11e8-8109-65ce6e7eb1e9.png)

[2018-11-09 07:48] magento-engcom-team commented on #19127
Hi @terrybakshi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-09 07:59] engcom-backlog-nazar commented on #18983
@shachiarkatkar i'm able reproduce if i select all orders, you describe that all orders on page, this issue reproduce only if you select ALL orders.

[2018-11-09 08:00] magento-engcom-team commented on #18983
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96239`, `MAGETWO-96240` were created

[2018-11-09 08:03] terrybakshi commented on #19127
**Summary of the issue**
When going to websetup wizard, enter the private and secret key to login to magento market place to install extension can't login getting error 200

 **Information on your environment**
Magento 2.2.5 and 2.2.6 both on Different servers
Php 7.1
Mysql 5.7

 **Steps to reproduce**
GO to system
Click web setup wizard
Click extension manager
Add Public key and Private Key
Click

[2018-11-09 08:04] magento-engcom-team commented on #19127
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 08:10] terrybakshi commented on #19127
Component: XXXXX label(s) not sure how to do that

[2018-11-09 08:13] saturn72 commented on #2201
Hi,

I'm facing the same issue - did you manage to resolve it?

Thank you

[2018-11-09 08:19] engcom-backlog-nazar commented on #19127
@magento-engcom-team give me 2.2.6 instance

[2018-11-09 08:20] magento-engcom-team commented on #19127
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-09 08:20] magento-engcom-team commented on #19127
Hi @engcom-backlog-nazar, here is your [Magento instance](http://34.228.235.121/i-19127-2-2-6/).
Admin access: [http://34.228.235.121/i-19127-2-2-6//admin](http://34.228.235.121/i-19127-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-09 08:29] engcom-backlog-nazar commented on #19127
@terrybakshi  ![web_setup](https://user-images.githubusercontent.com/40756439/48251457-5ca62b80-e40a-11e8-902e-bfcd427cebd2.gif)

[2018-11-09 08:29] #19127 closed, assigned to nobody

[2018-11-09 08:29] terrybakshi commented on #19127
![screenshot 66](https://user-images.githubusercontent.com/13229022/48251438-bbdd5d80-e455-11e8-9a62-0cb49eaa75ca.png)
its not working when clicking on web setup wizard

[2018-11-09 08:30] engcom-backlog-nazar commented on #19127
@terrybakshi yes on this instances this page not working.

[2018-11-09 08:32] terrybakshi commented on #19127
i have 3 websites running on 2 different servers and all having same issue. no custom modules installed.

[2018-11-09 08:34] engcom-backlog-nazar commented on #19127
@terrybakshi  seems like you have wrong http protocol versions https://developers.google.com/web/fundamentals/performance/http2/

[2018-11-09 08:35] engcom-backlog-nazar commented on #19127
@terrybakshi your hosting provider uses HTTP/1 instead of HTTP//2

[2018-11-09 08:36] magento-engcom-team commented on #19117
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 08:38] magento-engcom-team commented on #19122
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 08:50] engcom-backlog-nazar commented on #19122
Hi @mateo2181 thank you for you report, i'm not able to reproduce following steps you described, on clean magento instance, this issue related to your custom code.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or g

[2018-11-09 08:50] #19122 closed, assigned to nobody

[2018-11-09 08:52] magento-engcom-team commented on #18802
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-09 09:18] magento-engcom-team commented on #19117
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96241`, `MAGETWO-96242` were created

[2018-11-09 09:23] terolahtinen opened #19128 "Magento reveals sensitive information to public"
### Preconditions (*)

1. All versions.

### Steps to reproduce (*)

1. Install Magento
2. Create account using a email
3. As a non-logged in user, add products to cart and go to checkout
4. Enter email used in step 2

### Expected result (*)

1. Magento does not signal in any way that an account with the current email exists.

### Actual result (*)

1. Magento reveals that email used in step 2 be

[2018-11-09 09:35] DanielRuf commented on #19128
Should be probably `Wrong password or Email Address`.

Also password forgot should say: `You will get an email if you have an account in our shop`.

I guess this is what you mean?

[2018-11-09 09:35] terrybakshi commented on #19127
how do i fix this

[2018-11-09 09:36] DanielRuf commented on #19128
Not exactly. It is just some sort of account enumeration.

[2018-11-09 09:37] DanielRuf commented on #19128
Can you point us to the legal rules / papers who explicitly state this?

[2018-11-09 09:37] DanielRuf commented on #19128
Can you point us to the legal rules / papers which explicitly state this?

[2018-11-09 09:42] engcom-backlog-nazar commented on #19127
@terrybakshi you should to contact your hosting provider and set to use HTTP/2

[2018-11-09 09:42] gwharton commented on #19128
Both Google and Microsoft must be breaking the law too, as both google login and microsoft login can both be used to determine if a users email address is registered with them.

[2018-11-09 09:44] DanielRuf commented on #19128
And also Twitter, Facebook and so on.

[2018-11-09 09:47] engcom-backlog-nazar commented on #19119
Hi @zack6849 i'm not able to reproduce following steps you described, i have clean 2.2.6 installed via composer, in my case after `bin/magento setup:config:set --backend-frontname="admin")` In app/etc/env.php i have field host.

[2018-11-09 09:56] magento-engcom-team commented on #18941
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-09 09:56] terrybakshi commented on #19127
ok i enabled HTTP/2 in apache modules and restarted the server and still getting same error

[2018-11-09 09:59] engcom-backlog-nazar commented on #19127
@terrybakshi Try do the cache clean, cache flush, and did you try reproduce this on local instance ?

[2018-11-09 10:00] magento-engcom-team commented on #19060
Hi @tomekjordan. Thank you for your report.
The issue has been fixed in magento/magento2#19110 by @agorbulin in 2.2-develop branch
Related commit(s):
 - [35c234560342f1ce5e259679a983d51cec0e2858](https://github.com/magento/magento2/commit/35c234560342f1ce5e259679a983d51cec0e2858)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-09 10:00] magento-engcom-team commented on #18840
Hi @okorshenko. Thank you for your report.
The issue has been fixed in magento/magento2#19105 by @swnsma in 2.2-develop branch
Related commit(s):
 - [252a0ed8225d03ff36e0c4139e46d37db8ad7402](https://github.com/magento/magento2/commit/252a0ed8225d03ff36e0c4139e46d37db8ad7402)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-09 10:00] #18840 closed, assigned to nobody

[2018-11-09 10:00] magento-engcom-team commented on #18901
Hi @webkul-ratnesh. Thank you for your report.
The issue has been fixed in magento/magento2#19089 by @swnsma in 2.2-develop branch
Related commit(s):
 - [a651b31ec990cdd06d4a605a46a602ac1def0048](https://github.com/magento/magento2/commit/a651b31ec990cdd06d4a605a46a602ac1def0048)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-09 10:00] magento-engcom-team commented on #18617
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#18649 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [382e550fe3161fb667f4673d53066d4918aedb74](https://github.com/magento/magento2/commit/382e550fe3161fb667f4673d53066d4918aedb74)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-09 10:00] #18617 closed, assigned to Cahoo, mahesh-rajawat

[2018-11-09 10:00] magento-engcom-team commented on #18150
Hi @andy17612. Thank you for your report.
The issue has been fixed in magento/magento2#18815 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [bf700aa60fe7a958ef5fe828f3de931e799af2fc](https://github.com/magento/magento2/commit/bf700aa60fe7a958ef5fe828f3de931e799af2fc)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-09 10:00] magento-engcom-team commented on #18082
Hi @vpatidar009. Thank you for your report.
The issue has been fixed in magento/magento2#18461 by @thiagolima-bm in 2.2-develop branch
Related commit(s):
 - [03698da2ebc0cdb02ec1a0c4e65eb00097c61d42](https://github.com/magento/magento2/commit/03698da2ebc0cdb02ec1a0c4e65eb00097c61d42)
 - [38854b5fe8775a3b7a945ee8882a3661e10662b4](https://github.com/magento/magento2/commit/38854b5fe8775a3b7a945ee888

[2018-11-09 10:00] #18150 closed, assigned to mahesh-rajawat

[2018-11-09 10:02] terolahtinen commented on #19128
About the legal rules:
All European Union nations:
**GDPR**:
https://eur-lex.europa.eu/legal-content/EN/TXT/?qid=1528874672298&uri=CELEX%3A32016R0679

**Article 5, section 1 f**
states that personal data must be kept confidential.
**Article 4, section 1**
defines personal information: "‘personal data’ means any information relating to an identified or identifiable natural person"

Hence, "person u

[2018-11-09 10:04] johnny-longneck commented on #12863
@giacmir in my two production sites, db and webserver are on the same machine.
The issue is known and already fixed in 2.2.6. I can confirm this.

[2018-11-09 10:07] giacmir commented on #12863
It happened to me yesterday on a 2.2.6.

[2018-11-09 10:08] paul-blundell commented on #18158
@sidolov Will this also fix the From date being parsed as US date-format and the To date being parsed as the sites current locale.

E.g. Dates set to UK format e.g.  DD/MM/YYYY
Enter **From** date of 12/11/2018
Enter **To** date of 13/11/2018

I get an error saying the to date must be later than the from date.
If I switch the From date to 11/12/2018 it will save correctly and I can see in the data

[2018-11-09 10:10] DanielRuf commented on #19128
It is confidential. It does not leak email addresses.

There is no PII leaked as far as I can see.

[2018-11-09 10:10] DanielRuf commented on #19128
If you already know it, it is not confidential.

[2018-11-09 10:13] DanielRuf commented on #19128
I would just propose to change the texts and check if the login checks have no time related attacks which reveal such info (takes longer for existing accounts).

But no one really breaks the law here. Otherwise we would have much more issues in other projects.

[2018-11-09 10:15] terolahtinen commented on #19128
@DanielRuf the information that there exists an account for a specific email, is confidential.

[2018-11-09 10:16] johnny-longneck commented on #12863
Did you change the settings on the backend in the system cron configuration? That was the case for me first. I had set all settings back to "use default config" after upgrade to 2.2.6.

[2018-11-09 10:17] craigcarnell commented on #18923
I'd also should mention that when you add to the basket, you are re-directed to the basket, not to the same page.

[2018-11-09 10:18] terolahtinen commented on #19128
It is not just a text issue, the functionality is different.

![screenshot from 2018-11-09 12 17 57](https://user-images.githubusercontent.com/11678066/48256875-97639000-e419-11e8-8cca-3665a1ca6cf1.png)
![screenshot from 2018-11-09 12 17 47](https://user-images.githubusercontent.com/11678066/48256876-97639000-e419-11e8-8350-c2ee9114ef43.png)

[2018-11-09 10:22] #12863 closed, assigned to nobody

[2018-11-09 10:35] terolahtinen commented on #19128
Assume you live in Saudi-Arabia, where homosexuality is punishable by death. You have an account in gay porn shop.
Do you, or do you not, consider this information confidential?

_But this does not break the law to be exact (talked with our internal data protector and others, and I have a bit infosec background)._

This is very much opinion based at this point, as GDPR is new. Ultimately, it is to

[2018-11-09 10:41] phlesaux commented on #12428
I can also confirm that the issue is still on 2.2.6 EE

[2018-11-09 10:46] DanielRuf commented on #19128
So this should solve your concerns.

[2018-11-09 10:48] zebimax opened #19129 "Potentially undefined 'product' variable in Product save controller"
### Preconditions (*)

1. version - 2.2.6

### Steps to reproduce (*)

1. Create product attribute for configurable product, set 'user_defined' option to false
2. Import configurable product with disabled status
3. Enable product on product edit page

### Expected result (*)

1. Not refer to undefined object product in https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/C

[2018-11-09 10:48] magento-engcom-team commented on #19129
Hi @zebimax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-09 11:16] magento-engcom-team commented on #19125
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 11:19] engcom-backlog-nazar commented on #19125
Hi @barbanet thank you for you report, this is expected behavior, the db_schema runs only 1 time when you install th module.

[2018-11-09 11:19] #19125 closed, assigned to nobody

[2018-11-09 11:31] #18923 closed, assigned to nobody

[2018-11-09 11:36] engcom-backlog-nazar commented on #19127
@terrybakshi hmm very strange, the error you have about the wrong version of http protocols, magento gives you right reponse HTTP/2 200 OK but you server only understand HTTP/1.1 200 ok

[2018-11-09 11:38] terrybakshi commented on #19127
could it be related to cloudflare cache

[2018-11-09 11:41] terrybakshi commented on #19127
unfortunately no i tired clearing cloudflare cache but still no luck

[2018-11-09 11:43] terrybakshi commented on #19127
another issue i am having is when go to make payment with stripe i get error (error occurred on the server. Please try to place the order again.)

[2018-11-09 11:49] magento-engcom-team commented on #19129
Hi @progreg. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-09 11:54] engcom-backlog-nazar commented on #19127
@terrybakshi this may be relate to your configuration on server side. something with http protocols.

[2018-11-09 11:58] terrybakshi commented on #19127
but how can that be possible i have two servers and they are running 3 different websites and all of them have same issue.

[2018-11-09 11:59] engcom-backlog-nazar commented on #19127
@terrybakshi did you reinstall instance locally ? they may have the same configuration.

[2018-11-09 12:04] magento-engcom-team commented on #18349
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 12:32] magento-engcom-team commented on #18349
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96251`, `MAGETWO-96252` were created

[2018-11-09 12:35] magento-engcom-team commented on #18347
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 12:40] emadha commented on #14954
Do you run Litespeed?

[2018-11-09 12:40] bbmxxc opened #19131 "Newsletter subscription does not set the correct store_id if already subscribed."
### Preconditions (*)

1. latest Magento Version 2.3-dev
2. Have at least two stores ( A and B)
### Steps to reproduce (*)

1. Register a user in  A
2. Subscribe to Newsletter in A
3. Switch to Store B
4. Subscribe to Newsletter again

### Expected result (*)

1. When in store B, Subscriber::loadByEmail() should work
2.` SELECT store_id, customer_id FROM newsletter_subscriber` should look like thi

[2018-11-09 12:40] magento-engcom-team commented on #19131
Hi @bbmxxc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-09 12:42] emadha commented on #2919
I noticed i'm getting this issue because of Litespeed, when i switch back to Apache it runs normal. i think it's because Litespeed runs php in a different way than apache.

[2018-11-09 12:43] paul-blundell opened #19132 "Product special price from field errors with UK interface locale"
### Preconditions (*)
Magento 2.2.6
PHP 7.0.30

### Steps to reproduce (*)
1. Edit your admin accounts interface locale to English (United Kingdom)
2. Create or edit a product
3. Click Advanced Pricing, and set a special price
4. Set the special price from date to 13/11/2018
5. Set the special price to date to 14/11/2018
6. Save the product

### Expected result (*)
The product should save with no

[2018-11-09 12:44] magento-engcom-team commented on #19132
Hi @paul-blundell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-09 12:44] paul-blundell commented on #19132
@magento-engcom-team give me 2.2.6 instance

[2018-11-09 12:44] magento-engcom-team commented on #19132
Hi @paul-blundell. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-09 12:45] engcom-backlog-nazar commented on #14954
@emadha The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-09 12:45] magento-engcom-team commented on #19132
Hi @paul-blundell, here is your [Magento instance](http://34.228.235.121/i-19132-2-2-6/).
Admin access: [http://34.228.235.121/i-19132-2-2-6//admin](http://34.228.235.121/i-19132-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-09 12:47] engcom-backlog-nazar commented on #18347
Hi @benoitrenaud thank you for you report, as devdocs says https://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-instructions.html attribute AS may be supported.

[2018-11-09 12:47] emadha commented on #14954
@engcom-backlog-nazar the problem he's facing in my case was running Litespeed, causing this error, switching back to Apache made Magento run smoothly, i think it's how Litespeed runs php, i still didn't investigate that, but switching back to apache for now solved the issue.

I'll come back with a detailed solution later.

[2018-11-09 12:47] paul-blundell commented on #19132
@magento-engcom-team I can confirm I was able to reproduce on the above instance.

[2018-11-09 12:50] magento-engcom-team commented on #18347
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96253`, `MAGETWO-96254` were created

[2018-11-09 12:51] magento-engcom-team commented on #19132
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 12:53] engcom-backlog-nazar commented on #19132
Hi @paul-blundell  thank you for you report, this is acknowladged issue, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/18158

[2018-11-09 12:53] #19132 closed, assigned to nobody

[2018-11-09 12:54] engcom-backlog-nazar commented on #14954
@emadha ok, thank you.

[2018-11-09 12:54] paul-blundell commented on #19132
@engcom-backlog-nazar I originally commented on that issue but felt this was better on its own as its not quite the same.

The fix for that issue does **not** fix this problem.

[2018-11-09 12:56] paul-blundell commented on #18158
I tested that fix on a local installation and it does not appear to fix the problem.

[2018-11-09 12:56] engcom-backlog-nazar commented on #19132
@paul-blundell ok give me 5 minutes i will check it

[2018-11-09 12:58] paul-blundell commented on #19132
@engcom-backlog-nazar Actually nevermind, on second viewing it looks like that is the same issue. Please leave this closed. Thank you.

[2018-11-09 13:03] engcom-backlog-nazar commented on #19132
@paul-blundell this issue present in 2.3-developer instance

[2018-11-09 13:06] engcom-backlog-nazar commented on #18158
@Cristiano81  this issue present in 2.3-developer instance with Account locale set to en_GB
![selection_197](https://user-images.githubusercontent.com/40756439/48264083-f7196580-e430-11e8-9562-9e7fafb49639.png)

[2018-11-09 13:08] magento-engcom-team commented on #19131
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-09 13:13] vovayatsyuk commented on #19127
Have the same bug. Looks like for some servers magento returns `HTTP/1.1 200 OK` and they works fine. But for some I get `HTTP/2 200` and it's not working.

@engcom-backlog-nazar can you check the headers? Open `lib/internal/Magento/Framework/HTTP/Client/Curl.php`, and apply this patch:

[code]

Then try to login and check response in Chrome network panel. I bet you'll have `HTTP/1.1 200`

[2018-11-09 13:19] vovayatsyuk commented on #19127
Additionally, Magento uses `Zend_Http_Response` in some cases. It's not works too because of the following check:

/vendor/magento/zendframework1/library/Zend/Http/Response.php#517:

[code]

`HTTP/1.1 200 OK` - matches this expression
`HTTP/2 200` - doesn't match this expression

[2018-11-09 13:20] engcom-backlog-nazar commented on #19127
Hi @vovayatsyuk  seems like magento not support HTTP/2

[2018-11-09 13:30] barbanet commented on #19125
Maybe I didn't explain correctly (sorry)

That's what's not happening. If you install for the first time the module and then you change the db_schemal.xml (adding a new column to the table) but you don't change the setup_version value,
and now you execute again the bin/magento setup:upgrade command and the table will change and will have the new definition/column.

Is that the expect behavior?
Can

[2018-11-09 13:41] TomashKhamlai commented on #18802
### Preconditions
[code]
Magento 2.3-develop commit d7012b2ca1495676478d8afed8bf016ccd03bc8a

### Steps to reproduce

1. Login to admin
2. Create Simple Product 1 and assign it to Category 1 during the product creation(it will be existing product that got an attribute later)
3. Navigate to **Stores -> Attributes -> Product**
4. Click **Add New Attribute**
 - Default label **attr_multisel**
 - Cata

[2018-11-09 13:47] terolahtinen commented on #19128
@DanielRuf I think we should not jump into conclusions too quickly.

This issue needs to be analysed more thoroughly to fully understand it.
- is the privacy issue really significant?
- is there really a legal issue? If yes, where? Do different countries/area have different legistlation?
- if there is a legal issue, what needs to be done to fix it? Is a software change needed? Or could the legal r

[2018-11-09 13:48] engcom-backlog-nazar commented on #19127
@vovayatsyuk this can be a feature request,  It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-09 13:50] engcom-backlog-nazar commented on #19125
@barbanet Yes in 2.3-version you have only the db_chema and if you add new row it will automaticly update table, i cant find official devdocs, but have found one link non official but have more information .https://magento-devdocs.github.io/devdocs-for-tests/guides/v2.3/extension-dev-guide/declarative-schema/

[2018-11-09 13:51] progreg commented on #19129
Hello @zebimax,

This issue was already fixed in #7372 by PR:

https://github.com/magento/magento2/pull/16597

Fix will be available with the upcoming 2.2.7 release.

[2018-11-09 13:53] #19129 closed, assigned to progreg

[2018-11-09 13:55] engcom-backlog-nazar commented on #19131
Hi @bbmxxc thank you for you report this issue has already fixed in 2.3-dev branch
![selection_198](https://user-images.githubusercontent.com/40756439/48266239-7a3dba00-e437-11e8-91f7-11b770b710f0.png)

[2018-11-09 13:55] #19131 closed, assigned to nobody

[2018-11-09 14:41] xi-ao commented on #18802
We're using the version of ES provided by Magento Cloud, so:
[code]

[2018-11-09 14:57] vovayatsyuk commented on #19127
@terrybakshi here is a patch that removes invalid validator:

[code]

[2018-11-09 15:02] TomashKhamlai commented on #18802
@lorikrell, @keharper, probably we will need a help with DevDocs from one of you.

In this [Config Guide](https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html#es-install-es5) we see that there should be no problem if the most recent version of ElasticSearch is used. I am not sure but it looks to me that we should strongly recommend only 5.2.2 version of ElasticSearch

[2018-11-09 15:03] TomashKhamlai commented on #18802
@xi-ao, thank you for update.

[2018-11-09 15:06] magento-engcom-team commented on #18817
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-09 15:07] TomashKhamlai commented on #18802
Same symptoms here #18817

[2018-11-09 15:14] TomashKhamlai commented on #18802
@xi-ao, you mentioned that you use Magento Cloud edition. Most of the time we do not check on clouds. If the issue by your steps won't be reproducible on Magento 2 Open Source with ES 5.2.2, then this issue will be closed, and I will ask you to create a support ticket on Magento Cloud Platform.

[2018-11-09 15:14] keharper commented on #18802
I'll help with the documentation updates.

[2018-11-09 15:58] TomashKhamlai commented on #18817
Hello @justinharris1986. I believe that there is a mistake in Magento DevDocs. Please look here for additional details [https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html)

It said that only 5.2.x is supported. I understand that you can provide a links where it said that 5.x is support

[2018-11-09 15:59] #18817 closed, assigned to nobody

[2018-11-09 16:03] niners52 commented on #13604
Same issue

[2018-11-09 16:12] johnmpasq commented on #5590
Yes  this works but do you know how to add other attributes besides sku.   I have some products with multiple cross references and the hyphens are constantly throwing no search results.

[2018-11-09 16:30] cmcantrell commented on #15219
Has there been any progress on this issue?  I have the same problem with Bundled Products.  The amount of Products have exceeded 20.

I have tried experimenting with the pageSize variable mentioned by @msieprawski in vendor/magento/module-grouped-product/Ui/DataProvider/Product/Form/Modifier/Grouped.php.  I can log output from $meta["grouped"]["children"]["grouped_products_modal"]["children"]["gro

[2018-11-09 17:32] zack6849 commented on #19119
@engcom-backlog-nazar maybe it's some quirk with our configuration files then, I suppose I'll close it then

[2018-11-09 17:32] #19119 closed, assigned to nobody

[2018-11-09 18:30] antheny916 opened #19137 "Magento 2.2.1 Email Template issues"
**Summary-**
A couple days ago i've installed a theme to our magento 2 webstore. Everything seems to be working fine besides one thing that is bothering me! The email templates! For some reason the emails that are sent to customers are not i guess you'd say "styled" or "formatted" properly? I'm really not sure. Please look at the images to see what i'am talking about.

**Image Examples-**
Here is

[2018-11-09 18:30] magento-engcom-team commented on #19137
Hi @antheny916. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-09 19:26] nickpiro opened #19138 "Missing URLs from url_key column in Product Export 2.2.5"
### Summary:
In Magento Community 2.2.5 Product Export yields incorrect results in the url_key column. When exporting products, the url_key column is mostly blank. Some products show urls, most do not.

### Preconditions:
1. N/A - Will update later.
2. Magento Community 2.2.5

### Steps to reproduce:
1. Go to: System -> DataTransfer -> Export
1.1. Entity Type: Products
1.2. Export File Format: CSV

[2018-11-09 19:49] nickpiro commented on #18144
I'm having an issue where we reorganized categories and now when we export products, the URL_KEY column is blank on most products. Is this related you think?

[2018-11-09 20:23] rafaelstz opened #19139 "Empty block rendering in My Account page sidebar"
### Summary
When you log in Magento 2.3 you can see a space 2x more than expected created by a block rendered without content.

### Examples
In this image below I show where it happens.

<img width="2032" alt="screenshot 2018-11-09 15 13 31" src="https://user-images.githubusercontent.com/610598/48286353-5bd5bf80-e433-11e8-8366-4fc9174f1bd9.png">

### Proposed solution
To check the content to rende

[2018-11-09 21:07] costastsoukas commented on #19127
@vovayatsyuk You rock! Thank you!!

[2018-11-09 21:43] terrybakshi commented on #19127
@vovayatsyuk where should i apply this patch

[2018-11-10 02:04] johnmccombs1 commented on #7298
@josefbehr I'll make a PR and add you as reviewers

[2018-11-10 02:05] toanthree commented on #7298
@josefbehr I'll make a PR and add you as reviewer.

[2018-11-10 03:48] crantron commented on #11754
@wcladesh its because javascript is calculating dimensions of a image and applying them to the container, that hasn't been loaded yet. cheers.

[2018-11-10 06:40] wontroba666 commented on #12240
same here.  any progress ?

[2018-11-10 08:07] magento-engcom-team commented on #19085
Hi @agorbulin. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-10 09:03] magento-engcom-team commented on #18847
Hi @swnsma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-11-10 09:04] vovayatsyuk commented on #19127
@terrybakshi the file may be in `lib/internal/Magento/Framework/HTTP/Client/Curl.php` or `vendor/magento/framework/HTTP/Client/Curl.php`

[2018-11-10 09:18] tomekjordan opened #19142 "Home page store loge should be clickable to reload page"
### Preconditions (*)

1. any Magento 2
2. any theme

### Steps to reproduce (*)

1. Visit Home page
2. Try to refresh page by clicking store logo
3. Nothing happens

### Expected result (*)
1. Page reload - user wants to reload quickly page. Hi thinks it can be made by clicking the logo.
 The only option to refresh is F5 (desktop only), or by refreshing browser very small icon. UX suffers on mobi

[2018-11-10 09:18] magento-engcom-team commented on #19142
Hi @tomekjordan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-10 09:19] magento-engcom-team commented on #18847
@swnsma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96269`, `MAGETWO-96270` were created

[2018-11-10 09:31] magento-engcom-team commented on #17134
Hi @SikailoISM. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-10 09:33] magento-engcom-team commented on #15931
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-10 09:34] velvetyWorld commented on #18811
@magento-engcom-team give me 2.1.11 instance

[2018-11-10 09:34] magento-engcom-team commented on #18811
Hi @velvetyWorld. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2018-11-10 09:35] terrybakshi commented on #19127
@vovayatsyuk Thanks so much it worked

[2018-11-10 09:35] terrybakshi commented on #19127
i think its better magento team should fix this issue

[2018-11-10 09:49] magento-engcom-team commented on #19138
Hi @velvetyWorld. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-11-10 10:34] magento-engcom-team commented on #18470
Hi @velvetyWorld. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-11-10 10:34] velvetyWorld commented on #18470
@magento-engcom-team give me 2.3 instance

[2018-11-10 10:35] tomekjordan commented on #13675
Confirmed in any other Magento versions 2.2.6, 2.3.0 beta 32

[2018-11-10 10:38] magento-engcom-team commented on #13541
Hi @SikailoISM. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-10 10:38] velvetyWorld commented on #18470
@magento-engcom-team give me 2.3-develop instance

[2018-11-10 10:39] magento-engcom-team commented on #18470
Hi @velvetyWorld. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-10 10:39] magento-engcom-team commented on #18470
Hi @velvetyWorld, here is your [Magento instance](http://34.228.235.121/i-18470-2-3-develop/).
Admin access: [http://34.228.235.121/i-18470-2-3-develop//admin](http://34.228.235.121/i-18470-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-10 10:43] vpodorozh commented on #18910
@magento-engcom-team give me 2.2.5 instance

[2018-11-10 10:43] magento-engcom-team commented on #18910
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-10 10:43] magento-engcom-team commented on #18910
Hi @vpodorozh, here is your [Magento instance](http://34.228.235.121/i-18910-2-2-5/).
Admin access: [http://34.228.235.121/i-18910-2-2-5//admin](http://34.228.235.121/i-18910-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-10 10:52] vpodorozh commented on #18910
@akki20000 and @navarr - I do see that this issue is not reproduced in Magneto 2.2.5 and also I have not reproduced on my local installation with 2.2.6 and older.
**O'm closing this issue.**
![peek 2018-11-10 12-49](https://user-images.githubusercontent.com/16047928/48300511-6a7dae80-e4e7-11e8-85c9-efd046bf2ea6.gif)

[2018-11-10 10:53] #18910 closed, assigned to navarr

[2018-11-10 11:07] akki20000 commented on #18910
Hi all,
I didn't face this issue in firefox.
But i always face issue if i try to add category or product im chrome
browser.
Anyways thanks for your support.

On Sat, Nov 10, 2018, 4:23 PM Vladyslav Podorozhnyi <
notifications@github.com> wrote:

[2018-11-10 11:34] vpodorozh commented on #17784
@magento-engcom-team give me test instance

[2018-11-10 11:49] vpodorozh commented on #17784
@magento-engcom-team give me 2.2-develop instance

[2018-11-10 11:49] magento-engcom-team commented on #17784
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-10 11:49] magento-engcom-team commented on #17784
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-10 11:50] magento-engcom-team commented on #17784
Hi @vpodorozh, here is your [Magento instance](http://34.228.235.121/i-17784-2-2-develop/).
Admin access: [http://34.228.235.121/i-17784-2-2-develop//admin](http://34.228.235.121/i-17784-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-10 12:00] vpodorozh commented on #17784
@magento-engcom-team give me 2.3-develop instance

[2018-11-10 12:00] magento-engcom-team commented on #17784
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-10 12:01] magento-engcom-team commented on #17784
Hi @vpodorozh, here is your [Magento instance](http://34.228.235.121/i-17784-2-3-develop/).
Admin access: [http://34.228.235.121/i-17784-2-3-develop//admin](http://34.228.235.121/i-17784-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-10 12:07] magento-engcom-team commented on #18361
Hi @novikor. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-10 12:14] magento-engcom-team commented on #19142
Hi @dimasalamatov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-10 12:15] dimasalamatov commented on #19142
@magento-engcom-team give me 2.3-develop instance

[2018-11-10 12:15] magento-engcom-team commented on #19142
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-10 12:15] magento-engcom-team commented on #19142
Hi @dimasalamatov, here is your [Magento instance](http://34.228.235.121/i-19142-2-3-develop/).
Admin access: [http://34.228.235.121/i-19142-2-3-develop//admin](http://34.228.235.121/i-19142-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-10 12:28] #13541 closed, assigned to nobody

[2018-11-10 14:40] tomekjordan opened #19151 "Customer Address fields - impossible to sort correctly & admin area still showing if disabled"
### Preconditions (*)

1. Any Magento version 2 & 1

### Steps to reproduce (*)

1. Any address related pages (checkout page, admin create order)
2. Frontend - user - to add new billing/shipping address
3. Admin user - to add new user billing/shipping address
4. Admin user - to create new order

### Expected result (*)

1. Proper sorting according to merchant needs and country specific
2. Fields t

[2018-11-10 14:47] CesarChris710 commented on #11895
2.2.5 when I create new product or edit it :(

[2018-11-10 14:55] tomekjordan opened #19152 "Inventory min/max limit and increments PER website #MSI"
### Description (*)

Magento 1 & 2 cannot limit product min / max added to the cart per website.
If Magento is multistore this is crucial feature.
You have different stores, different strategies, and merchant want give limits for inventory per website scope not only globally

### Expected behavior (*)

Inventory tab (also for #MSI) should have just Websites scope not only global scope.
Allowing me

[2018-11-10 14:55] magento-engcom-team commented on #19152
Hi @tomekjordan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-10 16:42] orlangur commented on #15931
@arnoudhgz,

I don't see how allowing empty `events.xml` makes code less error proof.

[2018-11-10 19:02] zipnfc commented on #18148
Made the change suggested by numan201 and works perfectly! Life saver! Thanks @numan201

[2018-11-10 21:53] Rich07082 opened #19156 "category url key blank and saving to url rewrite table saves only .html"
**Description (*)**

I've recently upgraded to Magento 2.2.6 and have run into the following problem.  I've been through all the category tables and everything looks correct.

When opening a category the url key is blank.  Check against CATALOG_CATEGORY_ENTITY_VARCHAR and there is data associated with the category but doesn't load.

If you save the category it will update the url_path in CATALOG_C

[2018-11-10 21:53] magento-engcom-team commented on #19156
Hi @Rich07082. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-11 00:45] gwharton commented on #19142
Are you saying clicking on the logo on any page should refresh the current page, or that it should take you to the home page. At the moment, clicking on the logo on any other page than the homepage will take you to the homepage, clicking on the logo on the homepage does nothing.

[2018-11-11 04:31] GlobalOutsourcing opened #19157 "Unnasigned attributes show for attribute set"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.1
3. Cpanel Centos 7
4. Mysql

### Steps to reproduce (*)

1. Go to Stores -> Attributes -> Attribute set and create a new attribute set Key as an example
2. Go to Stores -> Attributes -> Product and create some attributes, size, shape and hole size as examples. Navigate back to the created attribute set and add/assign the newly created attributes t

[2018-11-11 04:31] magento-engcom-team commented on #19157
Hi @GlobalOutsourcing. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-11 04:31] GlobalOutsourcing commented on #19157
@magento-engcom-team give me 2.2.6 instance

[2018-11-11 04:31] magento-engcom-team commented on #19157
Hi @GlobalOutsourcing. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-11 04:32] magento-engcom-team commented on #19157
Hi @GlobalOutsourcing, here is your [Magento instance](http://34.228.235.121/i-19157-2-2-6/).
Admin access: [http://34.228.235.121/i-19157-2-2-6//admin](http://34.228.235.121/i-19157-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-11 04:51] GlobalOutsourcing commented on #19157
@magento-engcom-team

Reproduced the issue on the new instance provided.

Unassigned product attribute color for example shows when creating a product with the new attribute set.

After assigning new or existing product attributes to an attribute set and then undesigning the same one or more attributes from the set after, they still show in "create configuration" section as well.

[2018-11-11 09:56] lucasvrooij commented on #10454
@piwni I tried your fork on 2.2.6. but it goes back to hiding the option alltogether. What would be the correct way to implement it?

[2018-11-11 11:08] magento-engcom-team commented on #12910
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-11 15:25] #19157 closed, assigned to nobody

[2018-11-11 17:16] magento-engcom-team commented on #18349
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-11-11 20:23] nigarjafar opened #19159 "Oauth failed. Oauth_problem=The signatire is invalid."
### Preconditions (*)

1. Magento ver. 2.3.0-beta32
2. Set up and activated API Integration with full access

### Steps to reproduce (*)

1. Make POST call to /oauth/token/request

### Expected result (*)

1. Get request token
_Doc says something like that:_
oauth_token=4cqw0r7vo0s5goyyqnjb72sqj3vxwr0h&oauth_token_secret=rig3x3j5a9z5j6d4ubjwyf9f1l21itrr

### Actual result (*)

1.  Signatire is inv

[2018-11-11 23:55] nuovecode commented on #17285
Same issue for me on php 7.1.23

[2018-11-12 00:24] kevinvuillemin opened #19160 "Order saved wrong customer data"
The order save wrong customer data, the email, lastname and firstname but not customer ID.
This error appears in a production website wich use Magento 2.2.6.

### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.0
3. Mysql 5.6.41
4. OS FreeBSD

### Steps to reproduce (*)

This error appears one time, and we can’t reproduce it – but it’s a critical one for the seller, and we should find a solution.

We

[2018-11-12 02:56] Smilefounder commented on #8964
Able to reproduce the issue with 2.2.6.

[2018-11-12 05:34] DanielRuf commented on #17285
@nuovecode

https://github.com/magento/magento2/issues/17285#issuecomment-423089807