[2021-06-17 09:19] engcom-Lima commented on #28207
Hi @ioweb-gr

Hoping this issue will not be there. Hence closing this ticket.

Please feel free to raise the new ticket if you have any other issue.

[2021-06-17 09:19] #28207 closed, assigned to engcom-Lima

[2021-06-17 09:19] engcom-Hotel commented on #32068
Hi @navarr ,

We had tried to reproduce this issue in the following way:
Step 1: Use advance javascript bundling using below command:
`php -f bin/magento config:set dev/js/enable_js_bundling 1`
Step 2: Clean the cache
Step 3: Tried to open the Homepage (Theme : Luma)
Step 4: Apply the breakpoint in mage.js on L88 ($('body').on('contentUpdated', function () {)
Step 5: Hard refresh the page 10 times

[2021-06-17 09:20] magento-engcom-team commented on #32068
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42655` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-17 09:24] engcom-Echo commented on #32754
Hi @vrielsa ,

It would be really helpful, if you can provide us with more information regarding the steps to re-produce the issue
Also as mentioned in comment it looks disable locking in redis has increased the performance.

Thanks

[2021-06-17 09:24] engcom-Alfa commented on #32631
Hi @

Tried to reproduce in Magento 2.4-develop version, and unable to successfully reproduce it. Below are the steps I followed.

1. Set the indexing to Index by Schedule and noted the "cataloginventory_stock_cl" records count and it was 4.

2. Created a new simple product "xyz" and cross checked the "cataloginventory_stock_cl" records count, and that was updated to 8 records. (Re indexing was no

[2021-06-17 09:25] engcom-Lima commented on #32985
Hi @ia-gaurav

We are expecting that your issue got resolved because we did not any update from you. Hence we are closing this ticket.

Please feel free to raise the new ticket or open the existing ticket with reproducible steps and details.

Thanks

[2021-06-17 09:25] #32985 closed, assigned to engcom-Lima

[2021-06-17 09:28] engcom-Lima commented on #31837
Hi @Eddcapone, It is not an issue. hence closing this ticket.

Thanks

[2021-06-17 09:28] #31837 closed, assigned to engcom-Lima

[2021-06-17 09:34] engcom-Alfa commented on #32464
@magento give me 2.4-develop instance

[2021-06-17 09:36] engcom-Lima commented on #31496
Hi @speedupmate,

Sorry, We need the reproducible steps to reproduce the issue. Whenever you get time then open or raise the new ticket with reproducible steps and screenshots.

Hence we are closing this ticket. Thanks for the understanding!

[2021-06-17 09:36] #31496 closed, assigned to engcom-Lima

[2021-06-17 09:37] engcom-Alfa commented on #32656
This issue was created to associate the [PR request](https://github.com/magento/magento2/pull/32606), and now the PR is closed. Hence closing this relevant issue as well.

[2021-06-17 09:37] #32656 closed, assigned to engcom-Alfa

[2021-06-17 09:37] MarianNapi commented on #33270
I tried to force the built in validator to return an error but failed on that. You can simply use a custom validatePlugin to throw an error and the table wont work anymore.

[2021-06-17 09:37] MarianNapi commented on #33271
@magento give me 2.4-develop instance

[2021-06-17 09:38] engcom-Lima commented on #32480
Hi @Eddcapone

I hope your issue has been resolved now. Hence closing this ticket.

Please feel free to open the new ticket if you have any other issue.

Thanks

[2021-06-17 09:38] #32480 closed, assigned to engcom-Lima

[2021-06-17 09:41] engcom-Alfa commented on #29439
Hi @AleksandrPlotnikov
Kindly follow the instructions provided in the [above comment](https://github.com/magento/magento2/issues/29439#issuecomment-826141391), assuming your issue has been solved.
If not kindly upgrade to the latest Magento version, and check if the problem is still existing. If so, kindly provide the details preconditions, steps to reproduce along with expected and actual results

[2021-06-17 09:42] engcom-Echo commented on #32603
Hi @HenKun,

The description provided is not much clear and it appears to be a Feature Request rather than issue. If you can provide your use case that you are trying to achieve and what errors you are getting in doing so , I can provide more help into it or can advice some suggestions to implement the same.

Waiting for your response.

Thanks

[2021-06-17 09:46] engcom-Bravo commented on #31818
Hi @magentoexpert ,

Can you please provide the link and the section you are referring to?

[2021-06-17 09:55] Den4ik opened #33272 "Centralised management for non cacheable pages"
### Description (*)

Currently we have one easy way for disabling full page cache for specific pages that is to set `cacheable="false"` for some block in layout. Layouts could get updates from other files by handles and it's take a time for checking all files.

I suggest add new one xml file that will contain actions that should be not cacheable. It should be something like `sections.xml`.

[code]

[2021-06-17 09:56] Den4ik commented on #33272
**cc:** @ihor-sviziev @gabrieldagama @sidolov @sivaschenko

What do you think guys?

[2021-06-17 10:02] engcom-Bravo commented on #33228
Hi @dr7oran ,

In your description you have mentioned, you "tried to unlock and
one code led to another the whole website collapsed". Could you please let us know the details on these code changes?

Also, You can try following steps:
1. Try reverting the code changes made for this issue
2. Flush the cache - bin/magento cache:flush
3. Create a new admin user - bin/magento admin:user:create

Additio

[2021-06-17 10:06] Den4ik commented on #33272
Another one point or bug.
`cacheable="false"` affect to fpc only but not to `block_html` cache.
In my opinion if I set `cacheable="false"` then block should not be cacheable independently do we have `cache_lifetime` argument.

Try to test
[code]
FPC will be disable, block html will be cached. It little bit confuse.

[2021-06-17 10:13] MarianNapi commented on #33271
Tested on clean instance, bug still occurs

[2021-06-17 10:19] HenKun commented on #32603
Unfortunately I cannot elaborate more on the description and use cases as I did above. It's quite detailed IMHO. Since there is not much demand for solving the issue by other developers it can be closed, as far as I am concerned. The issue can be used as a reference for the misleading Docs.

[2021-06-17 10:28] engcom-November commented on #33254
Hi @mikamarkus ,

Verified the issue on Magento Commerce edition (2.4-develop) and the issue is not reproducible.
**Steps:**
1. Create new CMS page from admin (Content -> Pages -> Add new page)
2. Add this page as sub page of other's page in Page Hierarchy. (Content -> Hierarchy)
3. Open sub page -> Edit and Save - No issue: User is able to save the page
4. Open parent page -> Edit and Save - No i

[2021-06-17 10:59] engcom-Golf commented on #32692
@jurvi This issue is not reproducible. May be Configurable Product is not created in a correct way. I have created one Configurable Product having Color Attribute  with multiple Variants. Let me explain you with Example.

Step 1: **Added a [configurable product variant to compareList using addProductsToCompareList mutation](url)**
Step 2: **Fetch the list using compareList query**

Please note tha

[2021-06-17 11:09] oneserv-heuser commented on #33270
I can confirm that this issue exists on my local machine by just manipulating the Validate class and force it to fail. The result is that the entire configurable matrix is destroyed ui wise and continue working is impossible, you have to reload the page and you'll loose every change you made.

[2021-06-17 11:11] engcom-Bravo commented on #32695
#### We are able to reproduce the issue and hence confirming the issue.

##### On creation of dependant field dynamic row system config:
![image](https://user-images.githubusercontent.com/51680745/122382641-bd654f80-cf87-11eb-9ddf-4aad4a93e56b.png)

##### core_config_data table status at this point:
![image](https://user-images.githubusercontent.com/51680745/122382774-dcfc7800-cf87-11eb-8751-7e679

[2021-06-17 11:11] oneserv-heuser commented on #33271
This bugs lead to another problem: We have a custom field in the configurable matrix. This field also gets buggy after adding another child product to a configurable product. Here the result is that all the values for our custom fields (except the values for the new child products) are not sent to the Validation or Save controller. I guess that this problem is somehow linked to this ticket.

[2021-06-17 11:11] magento-engcom-team commented on #32695
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 11:11] magento-engcom-team commented on #32695
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 11:11] magento-engcom-team commented on #32695
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 11:12] magento-engcom-team commented on #32695
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42656` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-17 11:37] ihor-sviziev commented on #33272
Let's ask @maghamed about that. What do you think?

As to me - what we have right now is good enough. Tbh Magento already has a complex caching mechanism, and adding configuration for it in one more place is not what we should do.

[2021-06-17 11:51] AleksandrPlotnikov commented on #29439
hi @engcom-Alfa , the issue was resolved following my steps. thank you

[2021-06-17 12:12] Den4ik commented on #33272
Main idea is to have ability manage config from one place. instead of pasting it into multiple layout files.

[2021-06-17 12:17] engcom-Alfa commented on #32464
Hi @dot319

Tried to reproduce in Magento 2.4-develop version, and unable to successfully reproduce it. Below are the steps I followed.

1. Created a separate root category and added 2 sub categories into it (While adding categories, manipulated in such a way that, ID 14 and 146 should fall under a separate created category)

2. Cleaned cache and refreshed the UI page, made sure that UI content is

[2021-06-17 12:25] dot319 commented on #32464
Hi @engcom-Alfa
Thanks for the message!

If I understand correctly, in step 3 you try to drag and drop the category with id:14 into the category with id:146 in the admin panel, correct? The bug I reported is occurring in \Magento\Catalog\Model\CategoryManagement::move(14, 146). I believe dragging and dropping a category in the admin panel doesn't make use of that specific method, so you wouldn't b

[2021-06-17 12:32] magento-engcom-team commented on #33266
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42657` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-17 12:33] adorobeleza commented on #33252
Hello friends, I understand that this cannot be a problem with Magento, but in version 2.3.6 it was working normally, What changed in this version to make this error occur?

@engcom-Golf You need to enter some email to get the popup with a 404 error.

Note that in this version magento has adopted the docroot this may be interfering? Regarding the Google error, do you know what it can be?

[2021-06-17 12:36] adorobeleza commented on #33252
Note: After updating we need to update the nginx file and remove the TAG ttl=3600 from the default.xml file to be able to view the menu one

[2021-06-17 12:54] engcom-Hotel commented on #18752
Hi @adammprost

We have tried to reproduce this issue in Magento 2.4-develop, but it seems that this issue has already been resolved. Please try to reproduce this issue in 2.4-develop branch. Please reply on this ticket if you are able to reproduce this issue in this branch.

Thanks

[2021-06-17 12:58] engcom-Delta commented on #33201
Hi @kcam6690,
I tried again on Magento 2.4 Develop , chrome browser 91.0 and Followed the below steps to reproduce it .
1. Log into Magento admin backend
2. Click on Catalog & select the products
3. Click on Add Product button and select Downloadable product option
4. Enter product name ,sku name  & price
5. Scroll down to downloadable information section
6. Click on 'Add Link' button
7. Enter tit

[2021-06-17 13:00] #31146 closed, assigned to nobody

[2021-06-17 13:07] barbazul commented on #31428
Steps to reproduce are the following:

1. Fresh Magento 2.4.2-p1 installation
2. Make configuration changes via admin panel (for instance, change store name)
3. Run `bin/magento app:config:dump`
4. Make changes to config.php (for instance, change store name to something different)
5. Run `bin/magento app:config:import`

[2021-06-17 13:20] engcom-Delta commented on #32452
Hi @AlldoGroup,
We tried on Maria DB 10.1.47 & 10.4.19 found that successfully the process has been completed without any issues.Hence request to help us to reproduce the issue.
![image](https://user-images.githubusercontent.com/51681379/122404412-d4fb0300-cf9c-11eb-8b42-bf101f1ba639.png)
PFA.
Thanking you.

[2021-06-17 13:43] ss-sabareesh opened #33273 "TypeError: Argument 1 passed to Magento\InventoryConfiguration\Model\IsSourceItemManagementAllowedForProductType\Interceptor::execute() must be of the type string, null given Magento 2.4.2"
### Preconditions (*)

1.  Magento 2.4.2
2.  PHP 7.4
3. MySQL 8.0

### Steps to reproduce (*)

1. When i try to search the product iam getting this issue in the response at network.
2. The keyword i searched for **Mounting rail**

### Expected result (*)

1. If there is no such product need to show the result as no data found or any other error but if it comes can't search in the page again, need

[2021-06-17 14:15] #29227 closed, assigned to engcom-Alfa

[2021-06-17 14:17] engcom-Golf commented on #32670
@madonzyaccenture Thank you so much for detailed description.

[2021-06-17 14:32] engcom-Golf commented on #33056
@ronakchauhan As you are not responding, It seems this issue has been already resolved. Assuming this, Closing the Issue. If still Issue persist, please re-open the same ticket.

[2021-06-17 14:33] #33056 closed, assigned to engcom-Golf

[2021-06-17 14:39] engcom-Golf commented on #32143
@f1-outsourcing It seems this issue has been already resolved. Assuming this, Closing the Issue. If still Issue persist, please re-open the same ticket.

[2021-06-17 14:39] #32143 closed, assigned to engcom-Golf

[2021-06-17 15:13] engcom-Lima commented on #30246
Hi @ravibhalodia,

I went through the document and followed all the steps:
- Installed the nodejs
- installed the npm
- Installed the requirejs
- Created the build.js file in magento root folder
- Ran the r.js -o build.js baseUrl=pub/static/frontend/Magento/luma/en_US_tmp dir=pub/static/frontend/Magento/luma/en_US
- Above command ran successfully without any error.

Can you please check your build

[2021-06-17 15:36] #32548 closed, assigned to nobody

[2021-06-17 15:42] gwharton commented on #30246
https://github.com/magento/magento2/issues/30246#issuecomment-748596781 :smile:

[2021-06-17 15:45] iamcoolbuddy opened #33274 "Call to a member function quoteIdentifier() on null"
I am trying created an Ui Component admin form for a Banner module. When Loading the form page getting this error.

**"Call to a member function quoteIdentifier() on null".**

I do not find any solution anywhere with this issue. I am hopeless

Can anyone help to find what I am doing wrong here! I am using

Magento Version 2.3.7

Thanks in advance.

Below is My Form Xml Code.

`<argument name="data

[2021-06-17 17:01] keharper commented on #32862
@hostep @shikhamis11 and anyone else interested in this issue. I created the following PR and will it open for one week to incorporate community feedback.

https://github.com/magento/devdocs/pull/9010

[2021-06-17 17:24] vikimal opened #33275 "Magento 2 links in admin/backend don't work"
We finished migration and we got an issue after loging to backend. I see dashboard, but I cannot handle anything (icons on the left side in admin look like inactive)

### Preconditions (*)

1. Magento 2.4.2p1

### Expected result (*)

1. The ability for icons and other active elements to be active and controllable in backend

### Actual result (*)
1. screen of issue: https://prnt.sc/15pn9gk
2. I s

[2021-06-17 18:03] sunilit42 opened #33276 "Not able to upload vimeo video"
### Preconditions (*)

1. latest magento
2. applied patch MDVA-35092

### Steps to reproduce (*)

1. go to any product and try to add vimeo video
2. you will get error Notice: Undefined index: extension in /var/www/html/vendor/magento/framework/File/Uploader.php on line 810 ( error is getting when get thumbail from video)

### Expected result (*)

1. it should be get thumbail image and no error on

[2021-06-17 18:04] sunilit42 commented on #33276
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-06-17 18:50] ia-gaurav commented on #32985
@engcom-Lima  - i want these unwated file to not load at user frontend part can you tell way to remove those

[2021-06-17 19:39] Aquive commented on #7231
Is this fixed? I think dev compilation should be the same result as what is produced in production mode no matter which tool. We shouldn't be saying things like "it works on my machine". Work on dev with grunt, deploy to production and just see same result...

[2021-06-18 00:24] VyacheslavCh commented on #19710
Same issue happened to our store when we migrated to Magento 2.4.2+ . After week of research we found the issue,
 vendor\magento\module-media-storage\App\Media.php has wrong parameter in there.

Replace with      return preg_replace('|^.*((?:/[^/]+){3})$|', '$1', $resizedImagePath);

[2021-06-18 04:08] mrtuvn commented on #33276
Hi @sunilit42 The fix may related with your issue already created at link below
https://github.com/magento/magento2/pull/33260/files

[2021-06-18 04:37] JemspSavani commented on #29473
" Enable Automatic Assignment to Customer Group " only causing the issue

[2021-06-18 05:04] sabareesh-warlock commented on #33273
@engcom-Dash  Did we got any update on this issue.

[2021-06-18 05:16] onlinebizsoft commented on #32444
I think we have a similar issue, look like many jobs were marked as "missed", maybe some configuration or something make some jobs "easy to miss" from scheduled time

[2021-06-18 05:18] onlinebizsoft commented on #30012
I think we have same problem with 2.4.2, keep getting lock in different user cases

An error occurred during creating the deployment package, error message: Unable to execute command "php7.4 /tmp/builds/d-3e55edc1/bin/magento setup:upgrade 2>&1" - Running schema recurring...SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction, query was: UPDATE `cron_schedule

[2021-06-18 05:18] onlinebizsoft commented on #30012
And maybe it is why this extension made ?
https://github.com/magemojo/m2-ce-cron

[2021-06-18 05:54] krishprakash commented on #33271
@magento give me 2.4-develop instance

[2021-06-18 06:17] magento-engcom-team commented on #33271
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42670` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-18 07:10] Eddcapone commented on #31837
@engcom-Lima, why it is not an issue? It is a dev experience issue

[2021-06-18 07:23] engcom-Echo commented on #33140
Hi @galanis-a ,

We are closing this ticket , as there has been no update on the same.'

Thanks

[2021-06-18 07:23] #33140 closed, assigned to engcom-Echo

[2021-06-18 07:47] engcom-Alfa commented on #33153
@magento give me 2.4.2-p1 instance

[2021-06-18 08:04] paales opened #33278 "GraphQL: As a developer I would like to get the configured configurable_product_options_selection for a ConfigurableCartItem, so I can render configurable's image in the cart"
*As a developer I would like to get the configured configurable_product_options_selection for a ConfigurableCartItem, so I can render configurable's image in the cart*

Currently we _can_ get the information but it requires and additional roundtrips (one for each configurable) on the frontend to get this:

[code]

### AC

We would like to be able to do the following:

[code]

### Approved Schema
*

[2021-06-18 08:11] engcom-Lima commented on #28543
Hi @palomamtnez

I hope that your issue may be resolved. Hence closing this issue.

Please feel free the raise new issue or reopen the existing ticket when you have any issue. Thanks

[2021-06-18 08:11] #28543 closed, assigned to engcom-Lima

[2021-06-18 08:18] magento-engcom-team commented on #32271
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42671` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-18 08:25] engcom-Echo commented on #33188
Hi @daniloab ,

It will be very difficult to debug without understanding the full implementation ,as per your comments it looks like the user is getting redirected to cart page after successful payment where in he should be redirected to checkout success page , this looks like a some problem with checkout session I think it might be getting empty thats why core code is redirecting to cart page ins

[2021-06-18 08:36] engcom-Hotel commented on #10207
Hi @stephan-cream and @exequielserfe

We have tried to reproduce this issue in Magento v 2.4-develop but it is not reproducible. This issue has already been fixed in previous releases.

So I am closing this issue for now. If you again able to reproduce the issue in 2.4-develop version than you can reopen this ticket or create new ticket.

Thanks

[2021-06-18 08:36] #10207 closed, assigned to engcom-Hotel

[2021-06-18 08:53] engcom-Bravo commented on #30998
Hi @Christoph-AK ,

Could you please add steps to reproduce to this ticket?

[2021-06-18 08:59] engcom-Echo commented on #33159
Hi @Eddcapone ,

You can try using map in requirejs-config.js to load your mixin instead third party mixin. if this does not work , request you to kindly add more description to the ticket , like your use case and code snapshots,

Thanks

[2021-06-18 09:15] engcom-Alfa commented on #33153
@Skyfly2021
Though if there in issue in your application, in order to fix any issue in Magento code, the issue should be reproducible in Magento 2.4-develop version.
Well anyhow I have requested for 2.4.2-p1 version as well in my last comment and tried there. Still not able to reproduce it in 2.4.2-p1 version.
As you suggested, I have tried adding simple products first and  then configurable produ

[2021-06-18 09:33] johnny-longneck commented on #19710
@VyacheslavCh did this resolve the issue totally for you?
In my case it is not working. The original image path is not the problem but the hash path.

Using your option destroys also my category images, before it was just product images.
Seems like the behaviour is really unique.

Really frustrating. We are live with full sized catalog images for more than 4 weeks now.

[2021-06-18 09:43] engcom-Alfa commented on #31847
@alexsmith2709
Thanks for the information about Stores > Configuration > Sales > Tax, "Tax Calculation Method Based On" settings.

Well, I tried to reproduce applying the "tax price per unit" settings in the Magento latest version 4.2-develop. Yes, as you tried, the tax percentage is rounding up per unit. But as I checked, tax price is rounding up per unit in the backend too along with front end.

[2021-06-18 09:45] engcom-Golf commented on #32749
@Naberdz I have been trying to reproduce the Translation Issue, but can't.  It seems, this may not be an issue.

There are certain reasons, when Translations don't work. So please reply with below asked queries:

1. Did you install Magento Language translation Pack?
2. Did you configure the Language to be used in specified scope i.e storefront via magento Admin Panel?
3. Path of Translation csv Fi

[2021-06-18 10:11] engcom-Alfa commented on #29439
Thanks for the update. Closing the issue

[2021-06-18 10:11] #29439 closed, assigned to engcom-Alfa

[2021-06-18 10:12] sermagnus commented on #30277
I confirm that the problem is related to Magento_Swatches when disabled:
Thanks to @antoniocarboni

[2021-06-18 10:24] engcom-Lima commented on #30805
Hi @victortodoran,

I hope that your issue is resolved. Hence closing this ticket.

Please feel free to raise the new ticket or reopen the existing ticket if you have any other issue.

[2021-06-18 10:24] #30805 closed, assigned to engcom-Lima

[2021-06-18 10:48] alexsmith2709 commented on #31847
I am using 2.4.2 and here are my screenshots showing the different amounts
![frontend](https://user-images.githubusercontent.com/10212208/122549959-fa365280-d02a-11eb-9fc7-274aa4016b95.PNG)
![backend](https://user-images.githubusercontent.com/10212208/122549960-facee900-d02a-11eb-921b-c0309e400f12.PNG)
If this has been fixed in the development version and will be released in 2.4.3 or whichever ver

[2021-06-18 10:50] engcom-Delta commented on #33276
Hi @sunilit42,

We have tried on Magento 2.4 Develop to reproduce , unfortunately we could not replicate it.
Followed the below steps to replicate.
1. Log into Magento admin backend
2. Go to Categories --> Products
3. Select the one product to add video
4. Go to section Images & video
5. Click on Video
6. Enter url of vimeo video link & provide title
7. select the thumbnails as Role
8. Observe tha

[2021-06-18 10:51] tyago343 opened #33280 "The front-end date-picker in PT "short name" broken"
### Preconditions (*)

1. Install a fresh magento 2.4.2-p1 instance
2. Locale Portuguese(Portugal) in the store

### Steps to reproduce (*)

1. Add DOB field in customer create
2. Go to customer/account/create/

### Expected result (*)
![image](https://user-images.githubusercontent.com/33085448/122550298-c9a6e680-d033-11eb-92ad-b49cfda60c95.png)
But with days short names in portuguese.

### Actual

[2021-06-18 11:07] engcom-Lima commented on #31423
Hi @hershkoy, I hope that your issue is resolved because we did not get any update on this since more than 14 days. Hence closing the ticket.

Please feel free to raise the new ticket if you have any other issue. We will be happy to work for you.

[2021-06-18 11:07] #31423 closed, assigned to engcom-Lima

[2021-06-18 11:21] niklaswolf opened #33281 "GraphQL cart handling of "The requested qty is not available""
### Preconditions (*)

1. Magento 2.4.1., but I don't see anything in the changelog for 2.4.2 regarding this issue

### Steps to reproduce (*)

1. Add a product to the cart via graphql with a quantity > 1
2. Set the available stock of the product to something lower than the added quantity in step 1
3. Load the cart via the `cart` graphql query
4. The error "The requested qty is not available" is r

[2021-06-18 11:24] engcom-Delta commented on #33275
Hi ,
We tried installation and verify the ticket but unfortunately looks fine , not faced any error .
System OS is iOS mac & Chrome browser 91.0
1.	Install magento 2.4.2-p1 version
2.	Log into admin/backend
3.	Go to dashboards
4.	Click on various tabs , active elements and all controllable
5.    Observed that seems good.
Hence request to try again from your end. If
![Magento2 4](https://user-image

[2021-06-18 11:45] engcom-Lima commented on #33244
Hi @tuyennn

This feature is available for commerce user's only.
https://docs.magento.com/user-guide/stores/attributes-customer-address.html

- On the Admin sidebar, go to **Stores > Attributes > Customer Address**.
- In the upper-right corner, click Add New Attribute.
<img width="1440" alt="Screenshot 2021-06-18 at 5 12 17 PM" src="https://user-images.githubusercontent.com/60198022/122555801-5fed

[2021-06-18 11:47] E-motive-Georgi commented on #33239
Could you please send me an invite in order to join this workspace?
My emails is - ***@***.***

Thank you

Georgi Georgiev
Inventory Specialist

------ Original Message ------
From: "Tu Nguyen" ***@***.***>
To: "magento/magento2" ***@***.***>
Cc: "E-motive-Georgi" ***@***.***>; "Mention"
***@***.***>
Sent: 17/06/2021 10:46:22
Subject: Re: [magento/magento2] Hello, I have a question about Magento 2

[2021-06-18 11:47] E-motive-Georgi commented on #33239
here is what I received when I try to log in with my email

Georgi Georgiev
Inventory Specialist

------ Original Message ------
From: "Georgi" ***@***.***>
To: "magento/magento2"
***@***.***>
Sent: 18/06/2021 14:46:54
Subject: Re[2]: [magento/magento2] Hello, I have a question about
Magento 2 about Amazon and eBay promotions in particular. (#33239)

***@***.***>

--
 <https://e-motiveonline.com/s

[2021-06-18 11:48] sramesh1988 commented on #30780
Hi
Can you please share the PR link or commit id.
We are facing this issue in 2.4.2-P1

[2021-06-18 11:51] tuyennn commented on #33244
@magento give me 2.4-develop instance

[2021-06-18 11:54] tuyennn commented on #33244
@engcom-Lima What was you mentioned above is definitely not what I want to report.
See the address var templates
![image](https://user-images.githubusercontent.com/4010395/122556957-5b2f4c00-d066-11eb-966c-cd77d432283f.png)

And here the address book and list as customer_address_index layout
![image](https://user-images.githubusercontent.com/4010395/122557135-93368f00-d066-11eb-8e59-6fcf1382aafb.p

[2021-06-18 12:04] krishprakash commented on #33110
Hi @cha80. In the current stage, it is not clear what the problem and what functionality is broken.
Steps to reproduce, actual and expected result, screens that illustrate problem will help a lot.
Feel free to reopen the ticket once you update all the details as per issue reporting guidelines
Thanks

[2021-06-18 12:04] #33110 closed, assigned to nobody

[2021-06-18 12:07] sunilit42 commented on #33276
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-06-18 12:08] salman231 commented on #33119
Facing this issue in Magento EE 2.4.2 also. Hoping to get this fix from Magento asap.

[2021-06-18 12:09] sunilit42 commented on #33276
@engcom-Delta
don't upload thumbail image, it should be fetch from video and try to save it

[2021-06-18 12:18] sunilit42 commented on #33276
@engcom-Delta
I have tested with https://vimeo.com/56282283 and not working
https://nimb.ws/N89v1c

[2021-06-18 12:20] craig-bartlett opened #33282 "Products belonging to multiple bundles become increasingly slower to save"
Hi,

I originally reported this issue on the [Inventory repo](https://github.com/magento/inventory/issues/3312) but there seems to be little to no activity there, so figured perhaps it should be reported here instead.

I'm currently investigating an issue with saving simple products that belong to multiple large bundles, which I've replicated on a clean install. If a product belongs to many large

[2021-06-18 12:27] mattf10 opened #33283 "Incorrect 'State' selected for post code in France"
When user does not select 'State' field, it is automatically selected based on postcode*.   In the backend under State Options, France is not selected, and 'Allow to Choose State if It is Optional for Country' is set to 'No'.

 I have one order where the 'State' that was selected is incorrect.  The postcode for the order is '56100', which should return department (State) of 'Morbihan', code = 56.

[2021-06-18 12:30] engcom-Echo commented on #32779
hi @Daymonmoss ,

Can you share some more details to your query , like what error you are getting or elaborate your entire implementation so that we can provide more help to this.

Thanks

[2021-06-18 12:43] mattf10 commented on #33283
@magento give me 2.4-develop instance

[2021-06-18 12:46] engcom-Echo commented on #32236
Thanks @ioweb-gr , for your explanation.

[2021-06-18 13:17] daniloab commented on #33188
I guess we can close this one. The problem it was with the code from checkout success.

[2021-06-18 13:44] SilinMykola commented on #29228
@magento I'm working on this

[2021-06-18 14:01] engcom-Lima commented on #33243
Hi @Jeeva-Rathinam

I checked your ticket. If am i right? it is not an issue. Please check the below url to understand the routing.
https://devdocs.magento.com/guides/v2.4/extension-dev-guide/routing.html

Hence closing this ticket. Please feel free to raise the new ticket if you have any other genuine issue.

Thanks for the understanding!

[2021-06-18 14:01] #33243 closed, assigned to engcom-Lima

[2021-06-18 14:17] engcom-Alfa commented on #25209
Hi @craigcarnell

Tried to reproduce in **Magento 2.4-develop** version, and unable to successfully reproduce it. Below are the steps I followed.

1. Admin side: Navigated to the Catalog > Categories

2. Opened the existing category.

3. Uploaded one image in the Content section of category and saved.

4. Frontend: Opened the category page; Able to see the uploaded image as expected.

5. Again nav

[2021-06-18 15:11] engcom-Bravo commented on #27559
#### We have tested it from code side on 2.4-develop branch and confirming this issue.

Even on disabling search suggestions from admin panel and enabling elastic search as per https://devdocs.magento.com/guides/v2.3/release-notes/open-source-2-3-6.html#search  , main search bar still hits the MYSQL 'search_query' table.

Due to this search_query table grows and cause performance issue. We need to

[2021-06-18 15:11] magento-engcom-team commented on #27559
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42673` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-18 15:17] engcom-Golf commented on #32749
@Naberdz This issue is Fixed for you?

[2021-06-18 15:22] braders commented on #20973
I'm seeing New Relic reporting requests spending 40% time in Zend_Locale_Data::_getFile, similar to @Dren7755 above. Does anyone know if this is the same issue as is fixed in the PR above, and has anyone had success with that PR? Thanks.

[2021-06-18 15:47] lenlorijn commented on #14642
This is still broken on 2.4.2

[2021-06-18 15:48] kcam6690 commented on #33201
Good morning,

So when I go to add a MP3 a notification pops up that says |attention true |. It doesn’t upload successfully.

[2021-06-18 17:10] hm-harshit commented on #30385
Do you want me to check on latest stable magento version ?

[2021-06-18 20:14] dr7oran commented on #33228
unfortunately nothing worked so far

[2021-06-18 21:35] dr7oran commented on #33228
<img width="626" alt="Screen Shot 2021-06-19 at 00 34 07" src="https://user-images.githubusercontent.com/85847436/122618119-44085280-d096-11eb-80c8-d27d50e59874.png">
<img width="867" alt="Screen Shot 2021-06-19 at 00 34 01" src="https://user-images.githubusercontent.com/85847436/122618121-45397f80-d096-11eb-9366-c443d6350494.png">

[2021-06-19 00:41] adorobeleza opened #33286 "After Upgrade to Magento 2.4.2 AbstractFactory.php:121 Error"
<! ---
Revise nossas diretrizes antes de adicionar um novo problema: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Os campos marcados com (*) são obrigatórios. Não remova o modelo.
->

### Pré-condições (*)
<! ---
Forneça a versão exata do Magento (exemplo: 2.4.0) e qualquer informação importante sobre o ambiente onde o bug pode ser reproduzido.
->
Hello friends

After upgrad

[2021-06-19 06:47] Skyfly2021 commented on #33153
Hi:
   I uninstall the facebook plugin, and then composer update
This problem no longer appears, thank you very much for your patient reply.
________________________________
发件人: Manjunath ***@***.***>
发送时间: 2021年6月18日 17:15
收件人: magento/magento2 ***@***.***>
抄送: Skyfly ***@***.***>; Mention ***@***.***>
主题: Re: [magento/magento2] Magento 2.4.2-p1 multi-attribute products and single-attribute prod

[2021-06-19 08:45] mrtuvn commented on #33228
Seem your problem not related to magento. This broken may be come from misconfiguration composer. Some incorrect setup permissions. Tell your hosting provider support or your admin system if you have

[2021-06-19 08:47] dr7oran commented on #33228
I have hosting from inter server
what am I suppose to tell them ?

[2021-06-19 08:48] dr7oran commented on #33228
xxx.com/admin
is not working too

[2021-06-19 08:49] mrtuvn commented on #33228
Maybe you should start at https://composer.github.io/pubkeys.html
Try run re-run correct composer command in your terminal

[2021-06-19 09:47] #33208 closed, assigned to texboy

[2021-06-19 10:58] #32332 closed, assigned to konarshankar07

[2021-06-19 11:15] Naberdz commented on #32749
No, we had use this workaround.

[2021-06-19 14:37] f1-outsourcing commented on #32696
Are you aware of the concept that if you maintain multiple releases you have to update these accordingly? At least that is how it goes with most professional projects.

Afaik 2.3 is an official active release (that is why I chose it). Remove this 2.3 release then from the internet lots other people will be irritated that it is in fact an unsupported version.

If you are to lazy to test on 2.3 why

[2021-06-19 15:34] f1-outsourcing commented on #32150
@ihor-sviziev

And that is how it should be, because the server admin decides how many resources / cpu time the task gets. Besides the argument you are giving is not really an argument. If you code nicely with exceptions you would know where the previous job ended and the new should start. That being said, this is of course not something to be implemented by rookie programmers.

Your perspective s

[2021-06-19 15:40] f1-outsourcing commented on #32143
No it cannot be used in shared hosting, your coding requires dedicated hosting. See the issues I mentioned. In a shared hosting environment php values are secured and mysql list databases is not allowed.
Therefore your current solution can not be used in shared hosting.

[2021-06-19 19:17] magenx commented on #14881
dont waste your time here
just use full import module from
https://docs.met.tdintern.de/pacemaker/1.3/ce_installation.html

install
`composer require techdivision/import-cli-simple`

[2021-06-20 09:53] drpayyne commented on #32869
- checks the packages in CE repo which requires `guzzlehttp/guzzle`
[code]
- checks the packages in EE repo which requires `guzzlehttp/guzzle`
[code]
- checks which packages require `csharpru/vault-php-guzzle6-transport`, since this is the package which is blocking the upgrade of `guzzlehttp/guzzle` to `7.x`
[code]

CE, EE -> MFTF -> `csharpru/vault-php-guzzle6-transport:^2.0`. But, the latest ver

[2021-06-20 10:03] drpayyne commented on #32869
@magento I'm working on this

[2021-06-20 10:10] drpayyne commented on #32869
Created a PR in the blocking repository - https://github.com/CSharpRU/vault-php-guzzle6-transport/pull/3.

[2021-06-20 10:19] drpayyne commented on #32863
@magento I am working on this

[2021-06-20 10:20] sivaschenko opened #33288 "[MFTF] Replace AspectMock with PHPUnit for AnnotationsCheckTest"
### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-06-20 10:20] drpayyne commented on #32863
Created a PR (https://github.com/magento/magento-coding-standard/pull/206) in the Magento Coding Standard repository. I shall update this repo once a new version from there is released.

[2021-06-20 10:31] shinkhantmaung opened #33290 "Error: Call to a member function getUrl() on null in /var/www/html/vendor/magento/module-catalog/view/frontend/templates/category/image.phtml:21"
### Preconditions (*)

1. My category pages only show an error message.  I'm using Magento 2.4.2 version and only use default theme. How do I fix this bug? Thanks a lot

### Expected result (*)

1. Only Show Error Message

### Actual result (*)
Error: Call to a member function getUrl() on null in /var/www/html/vendor/magento/module-catalog/view/frontend/templates/category/image.phtml:21 Stack trac

[2021-06-20 10:50] drpayyne commented on #33288
@magento I am working on this

[2021-06-20 11:04] sivaschenko opened #33291 "[MFTF] Replace AspectMock with PHPUnit for FilesystemTest"
### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-06-20 11:06] sivaschenko opened #33292 "[MFTF] Replace AspectMock with PHPUnit for BaseGenerateCommandTest"
### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-06-20 11:07] sivaschenko opened #33293 "[MFTF] Replace AspectMock with PHPUnit for PersistedObjectHandlerTest"
### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-06-20 11:10] sivaschenko opened #33294 "[MFTF] Eliminate AspectMock from AllureHelperTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:12] sivaschenko opened #33295 "[MFTF] Eliminate AspectMock from FileStorageTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:14] sivaschenko opened #33296 "[MFTF] Eliminate AspectMock from OperationDataArrayResolverTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:15] sivaschenko opened #33297 "[MFTF] Eliminate AspectMock from DataExtensionUtilTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:17] sivaschenko opened #33298 "[MFTF] Replace AspectMock with PHPUnit for DeprecatedEntityUsageCheckTest"
### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-06-20 11:17] sivaschenko opened #33299 "[MFTF] Eliminate AspectMock from SuiteGeneratorTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:19] sivaschenko opened #33300 "[MFTF] Eliminate AspectMock from SuiteObjectHandlerTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:19] sivaschenko opened #33301 "[MFTF] Eliminate AspectMock from TestObjectHandlerTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:20] sivaschenko opened #33302 "[MFTF] Eliminate AspectMock from ActionGroupObjectTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:21] sivaschenko opened #33303 "[MFTF] Eliminate AspectMock from ActionObjectTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:22] sivaschenko opened #33304 "[MFTF] Replace AspectMock with PHPUnit for ActionMergeUtilTest"
**See thread in the pull request:** https://github.com/magento/magento2-functional-testing-framework/pull/837

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with

[2021-06-20 11:23] sivaschenko opened #33305 "[MFTF] Eliminate AspectMock from ObjectExtensionUtilTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:25] sivaschenko opened #33306 "[MFTF] Replace AspectMock with PHPUnit for ParallelGroupSorterTest"
### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-06-20 11:27] sivaschenko opened #33307 "[MFTF] Eliminate AspectMock from GenerationErrorHandlerTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:28] sivaschenko opened #33308 "[MFTF] Eliminate AspectMock from ModuleResolverTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 11:28] sivaschenko opened #33309 "[MFTF] Eliminate AspectMock from TestGeneratorTest (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-06-20 15:19] mrtuvn commented on #33290
Have you also check customise module or customise code related with category page? Maybe override or replace block category may cause this issue

[2021-06-20 16:33] #31511 closed, assigned to nobody

[2021-06-20 23:11] dazimax commented on #14784
This might be helpful.

On M2 2.3.5 there is a validation filter before apply the cart rules on the frontend cart. It will make sure that your added cart rule is correctly indexed and added to `magento_salesrule_filter` table. Otherwise, it won't automatically apply to the cart on the frontend.

So make sure to reindex `magento indexer:reindex salesrule_rule` after you have added a new cart rule o

[2021-06-21 06:49] engcom-Bravo commented on #30385
Hi @hm-harshit ,

Yes, Please try it on latest stable version plus let us know on which version were you getting the issue so far?

Also, have you tried the possible solutions provided by other contributors in this ticket thread and the issue is still same as in the description section?

[2021-06-21 07:01] magento-engcom-team commented on #32599
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42675` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-21 07:02] magento-engcom-team commented on #28617
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42676` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-21 07:14] engcom-Alfa commented on #28337
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-21 07:14] #28337 closed, assigned to engcom-Alfa

[2021-06-21 07:23] engcom-Alfa commented on #33153
As the reporter found solution, there is no more existence of the reported issue. Hence closing this current issue.

Kindly upgrade to the latest version and for any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related

[2021-06-21 07:23] #33153 closed, assigned to engcom-Alfa

[2021-06-21 07:35] engcom-Alfa commented on #31847
@magento give me 2.4.2 instance

[2021-06-21 07:48] engcom-Bravo commented on #33228
Hi @dr7oran,

As rightly said by @mrtuvn , looks like this is an issue with composer and not magento.

Please run "composer self-update --update-keys" and refer  https://composer.github.io/pubkeys.html for pubkeys.

Then run "composer diagnose" to check if the issue has fixed.

We are closing this issue as it is not related to Magento. Please open a new ticket for any magento related issues.

Than

[2021-06-21 07:48] #33228 closed, assigned to engcom-Bravo

[2021-06-21 07:55] Eddcapone commented on #33159
Hello @engcom-Echo, there is a link to stackoverflow in my Issue. Yes map solves it, I just used it incorrectly because it is not described in the documentation.

[2021-06-21 07:55] #33159 closed, assigned to engcom-Echo

[2021-06-21 08:20] engcom-Lima commented on #33132
Hi @reevelau,

Hoping your issue got resolved because we did not get response from you. Hence closing this ticket.

Thanks for the understanding!

[2021-06-21 08:20] #33132 closed, assigned to engcom-Lima

[2021-06-21 08:26] cundd commented on #30498
Nice to see that somethings going on here!

[2021-06-21 08:31] reevelau commented on #33132
@engcom-Lima Sorry for late response.

Could you please provide me the instructions to execute "bin/magento" cli command in the dev instance?

[2021-06-21 08:37] SilinMykola commented on #33271
@magento I am working on this

[2021-06-21 08:49] epolish commented on #26969
Hello @bartoszkubicki !
Just upgrade magento2 to 2.4 and recreate the queue topology via setup:upgrade (previous queues can be cleaned via rabbitmq management tool)

[2021-06-21 08:52] engcom-Lima commented on #32687
Hi @marvinhinz, As per your comments, when you will get time then you can provide the more details. Hence closing this issue as of now.

Please feel free to raise the new ticket or reopen the existing issue with reproducible steps and complete details with screenshots. That would be helpful in reproducing the issue.

[2021-06-21 08:52] #32687 closed, assigned to engcom-Lima

[2021-06-21 09:40] engcom-Alfa commented on #31847
Hi @alexsmith2709

Tried to reproduce in **Magento 2.4.2** version as you mentioned above, and unable to successfully reproduce it.
To test in 2.4.2, I have requested the instance again and you can see the details in the [above comment](https://github.com/magento/magento2/issues/31847#issuecomment-864803941).

I had mentioned in my [Previous Comments](https://github.com/magento/magento2/issues/318

[2021-06-21 10:30] alexsmith2709 commented on #31847
@engcom-Alfa It seems that a vanilla installation now works fine. I do not know what is causing this in my installation. When adding 2 products in the admin panel the price include tax changes to £8.01 and the total for 2 is £16.01, the frontend is fine. On the instance created for this issue does not have this issue.
I have no rounding plugins installed, the only things i can think of that may be

[2021-06-21 10:46] engcom-November commented on #33255
Verified the issue on latest Magento version 2.4.2 and the issue is reproducible.
**Preconditions:**
B2B Features - enabled
Setup Email configuration
**Steps to reproduce:**
1. Navigate to Customers -> All Customers -> Add new Customer
2. Create Inactive customer
Issue: Welcome Email is triggered to customer email with password link and user is able to create password from the link.
Expected behav

[2021-06-21 10:48] LeoNun opened #33310 "unsubscribe link doesn't work anymore"
Hello, I´m having an issue since I installed magento 2.4, and now still have the problem in magento 2.4.2-p1. The unsubscribe link doesn't work in the newsletter since magento 2.3.5.

The unsubscribe link for both is the same, {{var subscriber.getUnsubscriptionLink()}}

When I check over the unsubscribe link in a newsletter sent with magento 2.4.2 I get a blank page, as it fallows:

![1](https://u

[2021-06-21 11:02] engcom-November commented on #32345
Hi @micwallace
I am unable to see any error as such after upgrading to 2.4.2. Can you please provide me the step by step commands that you have tried to upgrade from your end to reproduce the issue.
Thank you.

[2021-06-21 11:27] magento-engcom-team commented on #33276
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42680` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-21 11:28] Den4ik commented on #33276
@engcom-Delta @sunilit42 As mentioned @mrtuvn PR already in progress https://github.com/magento/magento2/issues/33276#issuecomment-863740072

[2021-06-21 11:52] 19691211 opened #33311 "Login problems - "The response parameter is invalid or malformed.""
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-06-21 12:29] engcom-Lima commented on #30652
Hi @nbrouka,

I tried to reproduce the issue at Magento V-2.4-develop. Can't reproduce the issue. Please find the screenshot for your reference .
<img width="1044" alt="Screenshot 2021-06-21 at 5 52 52 PM" src="https://user-images.githubusercontent.com/60198022/122761402-d177bc80-d2b9-11eb-862a-2c01b64a6b16.png">

I would like to suggest below points:
Before adding the product into cart, make sure

[2021-06-21 12:29] #30652 closed, assigned to engcom-Lima

[2021-06-21 12:35] m2-assistant[bot] opened #33312 "[Issue] Prepare jquery mobile work with new version jquery"
This issue is automatically created based on existing pull request: magento/magento2#33107: Prepare jquery mobile work with new version jquery

---------

Fix Uncaught TypeError: Cannot read property 'concat' of undefined in jquery.mobile.custom in jquery 3.6.0

Additional also reduce define deps jquery.mobile.custom in requirejs for frontend scope. We already defined it once as dependency at file

[2021-06-21 12:40] engcom-Charlie commented on #33290
Hi @shinkhantmaung

Can you please provide some more details on this issue. It will be helpful if you mention all the steps you are following to reproduce this issue.

I have checked on dev 2.4 version and its working fine. I am not getting any error. Can you please elaborate the issue.

Thanks!

[2021-06-21 12:53] LeoNun commented on #33310
Hello,
I also noticed that cheking the client page in the admininistartion shows that a user who is registered in magento is not.
Althow the page is not messed anymore (like prvious version 2.4.1), there is still this problem.

Best regards,
Leonel Nunes

[2021-06-21 13:05] eduard13 commented on #31252
Closing as duplicate of #31652.

[2021-06-21 13:05] #31252 closed, assigned to nobody

[2021-06-21 13:08] engcom-Lima commented on #32621
Hi @HumbertoGonc

I tried following steps to reproduce the issue using the backend in **Magento V - 2.4.develop**:

Step 1: Created the new customer group - "**Distributor**"
Step2: Created the new user from **Customers => All Customer => Add New Customer**

Please try once on **Magento V - 2.4.develop**, If you are able to reproduce the issue then you can provide us reproducible steps with screen

[2021-06-21 13:08] #32621 closed, assigned to engcom-Lima

[2021-06-21 13:37] indykoning opened #33313 "Image optimization parameters nginx configuration causes 404 on placeholders"
Enabling the new image optimization parameters in the nginx config causes the placeholder images to reach get.php and then 404.

### Preconditions (*)

1. 2.4.2
2. 2.4.2-p1

### Steps to reproduce (*)

1. Add the new nginx rules as described in https://github.com/magento/magento2/commit/640cad53009b291334234ccd61ab79f256b43da2#diff-157d2bc558ce473e66e013bb30759e55fe32bc9277626ec1f70bb60bb558296fR1

[2021-06-21 14:16] karyna-tsymbal-atwix commented on #33269
@magento I am working on this

[2021-06-21 14:32] LeoNun commented on #33310
Hello,
I can confirm that the problem of the customer edit page is fixed, so it displays as it showld but the unsubscription doesn't work.

Best regards,
Leonel Nunes

[2021-06-21 14:55] engcom-November commented on #33310
Verified the issue on latest Magento version 2.4.2 and the issue is reproducible.
Blank page is displayed in the news Letter. Unsubscribe link is not getting displayed.
**Preconditions:**
Email configuration is setup on Magento (Ex: SMTP Gmail configuration)
**Steps to reproduce:**
1. Magento Admin -> Customers -> All Customers -> Edit the Customer -> News Letter -> Subscribe to NewsLetter and sav

[2021-06-21 15:17] asim-blueprintprep commented on #32345
Hi @engcom-November
If you have:
``` 'Dotdigitalgroup_Email' => 0,```
before you run setup:upgrade, and then try to log into the admin, you will get the error.

As 2.4.2 adds in a new module:
```'Dotdigitalgroup_Sms' => 1```
Which requires the Email module to be enabled.

The solution so far is before running setup:upgrade, to edit app/etc/config.php and set
``'Dotdigitalgroup_Sms' => 0```

[2021-06-21 15:26] sabareesh-warlock commented on #33273
@engcom-Dash  still i can't fix this issue can i get any suggestion

[2021-06-21 15:59] LeoNun commented on #33310
Hello,
thank for the onfirmation, I will wait for an hot fix for this issue.

Best regards,
Leonel Nunes

[2021-06-21 16:14] sivaschenko opened #33314 "Platform Health Test issue"
Platform Health Test issue description

[2021-06-21 16:26] hannes011 commented on #32177
here @Sental s link again: https://github.com/DanBeckett/door4-customer-prefix-patch  (link was broken)

[2021-06-21 17:04] sivaschenko commented on #33314
@magento import issue

[2021-06-21 17:17] nickbigassfans opened #33315 "Promo Code "Gray Out" When Applied In Cart"
### Preconditions (*)

1. Magento ver. 2.3.7
2.

### Steps to reproduce (*)

1. Go to https://store.bigassfans.com/en_ca/haiku-l-fan-52-white-universal-mount-white
2. Place 1 fan in cart
3. Go to https://store.bigassfans.com/en_ca/sidekick
4. Place 1 fan in cart
5. Proceed to Checkout
6. Enter code COMFORTABLE21 in coupon input
7. Apply Coupon
8. visit https://store.bigassfans.com/en_us/for-the-ho

[2021-06-21 21:01] #28910 closed, assigned to nobody

[2021-06-22 02:46] luudv opened #33317 "checkout keeps loading after upgrade to 2.4.2"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Add a product to the cart.
2. Click the checkout button.
3. The checkout page shows loading without stopping. There aren't any javascript errors showing in developer tool.

### Expected result (*)

1. The checkout page can work
<img width="2044" alt="1" src="https://user-images.githubusercontent.com/2778871/122854795-789e3780-

[2021-06-22 03:05] ngtuan96lc commented on #23063
Hi everyone,
I'm still facing the same issue on version Magento ver. 2.3.4-p2
Please investigate the issue again.

[2021-06-22 04:23] mrtuvn commented on #33317
You can open your chrome browser and click on Console tab Or Navigate to Network tab => Filter XHR
Then reload checkout page wait a seconds to reveal real issue error message!

[2021-06-22 04:26] mrtuvn commented on #33313
It's worth to mentioning from more new recently version magento core-team change root folder config to pub!

[2021-06-22 04:47] shinkhantmaung commented on #33290
Thanks bro! You save me from error bugs

[2021-06-22 04:47] #33290 closed, assigned to engcom-Charlie

[2021-06-22 05:01] #20478 closed, assigned to nobody

[2021-06-22 06:09] ronak2ram commented on #27367
@magento give me 2.4-develop instance

[2021-06-22 06:11] engcom-Alfa commented on #31847
Since it is not a issue with Magento as per above comments, I am closing the issue.
In case of any issues relevant to Magento, kindly test in latest Magento version and report a bug with all detailed information like Preconditions, details steps to reproduce, expected and actual results along with screen shots / screen recordings possibly.

For any clarifications, you may take a look into the [Mag

[2021-06-22 06:11] #31847 closed, assigned to engcom-Alfa

[2021-06-22 06:12] engcom-Alfa commented on #32718
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-22 06:12] #32718 closed, assigned to engcom-Alfa

[2021-06-22 06:13] engcom-Alfa commented on #31219
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-22 06:13] #31219 closed, assigned to engcom-Alfa

[2021-06-22 06:23] engcom-Delta commented on #33311
Hi @19691211,

Found that steps are missing to reproduce the issue. Kindly provide clear description of issue and steps.

Thanks

[2021-06-22 06:41] engcom-Alfa commented on #32464
Thanks for the updates @dot319

I have re tested it, and it is reproducible. Hence I have updated the description with more information and confirming the issue.

Thanks for your contribution!

In case of any Magento related issues, you may please report a bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen record

[2021-06-22 06:43] magento-engcom-team commented on #32464
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42692` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-22 06:45] jaivikpatel commented on #26942
Please Re-Open this issue.
Why it is closed before resolved?
It's a very annoying issue.
please Magento team look into it to resolve.

[2021-06-22 07:00] luudv commented on #33317
Yes, I did it and don't see any errors. These commands have all been executed:
`bin/magento cache:clean && bin/magento cache:flush && bin/magento setup:upgrade && bin/magento setup:di:compile && bin/magento indexer:reindex && bin/magento setup:static-content:deploy -f`

[2021-06-22 07:39] Becky1992j commented on #26942
Update
My findings

_If the source has 10 qty and the total salable qty is zero_
then add to cart button will show on the category page but the product page will show out of stock

_If the source has 0 qty and the total salable qty is zero_
Out of stock button will show on both category and product page

[2021-06-22 07:42] WebKenth commented on #27844
@engcom-Delta this is most certainly a Magento issue

You have chosen in your module to not allow the javascript to be deferred which would solve the entire issue -.-'

[2021-06-22 07:43] t-heuser opened #33318 "Attribute is returned as aggregation in products query even if Use in Search Results Layered Navigation is set to no"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. On any attribute set the setting "Use in Search Results Layered Navigation" to no (using price as example here)
2. Execute the following graphql query:
[code]

### Expected result (*)

![image](https://user-images.githubusercontent.com/53174153/122883660-b64e9080-d33d-11eb-948d-fd9c6a972a72.png)

### Actual result (*)

![image

[2021-06-22 07:43] oneserv-heuser commented on #33318
@magento give me 2.4-develop instance

[2021-06-22 08:02] walkwizus commented on #18812
Hi, any update on this issue ?

[2021-06-22 08:03] engcom-Golf commented on #32437
Duplicate #[31313](https://github.com/magento/magento2/issues/31313)

[2021-06-22 08:04] WebKenth commented on #27844
Not to mention you have decided to split the module into 17 different modules....

When all the recaptcha module is supposed to do is load one single javascript file and appending the api keys....

This is one hell of a bloated module

Sure from an architectural standpoint it's nice that all the features are split out, but be real here, when are you ever going to only use one of the modules?

Sure

[2021-06-22 08:37] oneserv-heuser commented on #33318
@magento I can confirm that this issue is reproducible on the vanilla magento instance

[2021-06-22 08:39] engcom-November commented on #33315
Verified the issue in CA environment and the issue is reproducible:
Steps to reproduce:
1. Go to https://store.bigassfans.com/en_ca/haiku-l-fan-52-white-universal-mount-white
2. Place 1 fan in cart
3. Go to https://store.bigassfans.com/en_ca/sidekick
4. Place 1 fan in cart
5. Enter code COMFORTABLE21 in coupon input
6. Apply Coupon
**Issue:** Canada environment - Checkout page - Discount is not ge

[2021-06-22 08:41] mrtuvn commented on #33317
I'm not sure about real issue without see the code and website. But i think you should check with custom modules and customises first related with checkout section. Maybe something broken related with customises code after upgrade

[2021-06-22 08:42] magento-engcom-team commented on #33315
@engcom-November Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-22 08:42] magento-engcom-team commented on #33315
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-22 08:43] lazanicol90 commented on #22629
@magento-engcom-team give me 2.4.1 instance

[2021-06-22 08:46] delessandrei commented on #22629
@magento-engcom-team give me 2.4.1 instance

[2021-06-22 09:34] engcom-Delta commented on #33280
Hi tygo343,

Followed below steps and found that issue is reproducible in Magento 2.4.2-p1

1. Login to backend admin portal
2. Go to Stores --> configuration
3. Select Customers --> Customer configuration
4. Change the Locale to  Portuguese
5. Save it
6. Go to Create customer section--> Account
7. Click on Add new Customer
8. Enter the required details apart from DOB & save it
9. Reload the  page

[2021-06-22 09:37] magento-engcom-team commented on #33280
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-22 09:37] magento-engcom-team commented on #33280
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-22 10:15] engcom-Hotel commented on #29357
Hi @bluedarter2 ,

We have tried to reproduce this issue as per the mentioned steps, but we are unable to do the same. We have followed below URL to upgrade the Magento from 2.3.5-p1 to 2.4.0:

[https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html](url)

**Before Upgrade - 2.3.5-p1**
Admin dashboard with version information:
![VersionCheckBFUpgrade](https://user-images.githubuserc

[2021-06-22 10:17] ganeddact commented on #22609
I'm sorry to reopen this issue, but with several 2.4.2 installations I'm facing this issue, the wysiwyg opens the storage root from pub/media and not pub/media/wysiwyg.
I can see that files in merged fix are present, so I should be up to date with the current status. Has something else changed after the merge? I can't explain why I'm running in this issue

[2021-06-22 10:45] luudv commented on #33317
Yeah, I tried disabling my third-party extensions and customizations but it still doesn't work. I had to go back to the old version 2.4.0. Thank you for your help.

[2021-06-22 11:03] engcom-Golf commented on #32749
@Naberdz Thanks for your reply. Can you please answer for the asked questions. https://github.com/magento/magento2/issues/32749#issuecomment-863909522

Also please let me know:
Did you override the Checkout Module to add one

Did you override **Magento_Checkout** module to create 2 Form Elements having Label as
__("**Street Address**")
__("**Street address 1**")

Translation added  for above label

[2021-06-22 11:12] Naberdz commented on #32749
@engcom-Golf
wel we use translation from HO-NL, so it's in vendor/honl/magento2-nl-nl
we also have custom translation file in template directory

language was selected as global for all stores. So every store use same language.

The module from onestepcheckout. we made translations for this module inside our template.
so it's in app/design/frontend/vendor/child_theme/i18n/nl_NL.csv

[2021-06-22 11:24] gabrieldagama commented on #33276
This is the same issue as https://github.com/magento/magento2/issues/33266, closed in favour of the other one that already has a PR as described by @Den4ik.

[2021-06-22 11:24] #33276 closed, assigned to engcom-Delta

[2021-06-22 11:35] engcom-November commented on #33315
Verified the issue on latest Magento version 2.4.2 and Promo code field is getting applied in Payment page and Products Cart page but not in checkout page. There is no discount field in checkout page and actual product price without discount is getting displayed.
Steps performed: Magento Admin -> Marketing -> Cart Price Rules -> Add New Rule - Add Coupon and Save.
Front End - Add product to Cart
C

[2021-06-22 11:58] engcom-Lima commented on #28193
Hi @pointia,

Hoping, your issue is resolved. More than 14 days waiting for your response. Hence closing this ticket.

Please feel free to raise the new ticket or reopen the existing the ticket if you have any other issue.
Thanks,

[2021-06-22 11:58] #28193 closed, assigned to engcom-Lima

[2021-06-22 12:37] engcom-Delta commented on #33270
Hi MarianNapi,
Kindly elaborate step# 3 (force the validator to fail) , how to force the validator ?.

Thanks

[2021-06-22 12:40] engcom-Delta commented on #33317
Hi luudv,

We tried to reproduce this issue, unfortunately we are not facing this issue .Kindly try to test it one more from your end and specify from which version to which you are upgrading .

Thanks

[2021-06-22 12:48] oneserv-heuser commented on #33270
Hi @engcom-Delta you can force the validator to fail by just editing the [Validate class](https://github.com/magento/magento2/blob/f121ac8359768b5ebcc7462574e58c36f34c52df/app/code/Magento/Catalog/Controller/Adminhtml/Product/Validate.php#L118) and adding "throw new LocalicedException(__('Error'))" to the line i've linked (line 118). This will force the validation to fail and you'll be able to the

[2021-06-22 13:23] engcom-Lima commented on #29681
Hi @robsch,

Hoping, your issue is resolved and also we did not get any response from you more than 14 days. Hence closing this ticket.

Please feel free to raise the new ticket or reopen the existing ticket. if you have any issue.

[2021-06-22 13:23] #29681 closed, assigned to engcom-Echo

[2021-06-22 13:23] engcom-Delta commented on #32325
Hi @palviggi-flagbit,
Thanks for updating the comments . Since no update from you from 20 days .Hence this ticket is closing.
Kindly request to log a new issue if required.

Thanks

[2021-06-22 13:28] engcom-Lima commented on #29454
Hi @JamesX88,

Hoping, your issue is resolved and also we did not get any response from you more than 14 days. Hence closing this ticket.

Please feel free to raise the new ticket or reopen the existing ticket. if you have any issue.

[2021-06-22 13:28] #29454 closed, assigned to engcom-Echo

[2021-06-22 13:33] engcom-Lima commented on #26599
Hi @willtran,

Hoping, your issue is resolved and also we did not get any response from you more than 14 days. Hence closing this ticket.

Please feel free to raise the new ticket or reopen the existing ticket. if you have any issue.

[2021-06-22 13:33] #26599 closed, assigned to engcom-Echo

[2021-06-22 13:40] Usik2203 commented on #33309
@magento I am working on this

[2021-06-22 13:42] sdzhepa commented on #32961
**Examples of QA Passed for Pull Request testing with styling**:

:heavy_check_mark: QA Passed
:x: QA not Passed

**Actual Result:** :heavy_check_mark:

**Before:** :heavy_multiplication_x:
**After:** :heavy_check_mark:

[code]

[2021-06-22 13:49] marvincaspar opened #33319 "Pipeline build dosen't generate static content for all locales"
I have a shop with multiple stores and storeviews and each storeview has a different locale configured. I followed the [magento pipeline deployment](https://devdocs.magento.com/guides/v2.4/config-guide/deployment/) instructions to build a docker container which i want to ship. I created a config dump and an empty `env.php` file and run the commands `bin/magento setup:di:compile` and `bin/magento s

[2021-06-22 14:33] fedorovych opened #33320 "Cannot run "php bin/magento setup:upgrade" command when 2 stores with different table prefixes are installed in one database."
### Preconditions (*)

Magento have a default option to use a database with prefix or without prefix. Same is true that you can install multiple Magento instances into one database.
We installed one default Magento with prefix and one default Magento without prefix into one MySQL database. So we had 2 default Magento installations within one MySQL database, one with a prefix and another one withou

[2021-06-22 14:51] engcom-Golf commented on #32143
@f1-outsourcing Actually for **synch sending** Magento need **permissions** to run exec method which is turned off on shared hosting. That's why It was not working.

In short, you can install Magento on Shared hosting. Also please use the same workaround, as you mentioned in one of your previous comment.

[2021-06-22 15:12] web4exposure-org opened #33321 "Product goes out of stock when allow backorder is set to true"
### Preconditions (*)

1. 2.4.2
2. Product is in stock
3. manage stock is enabled
3. qty of product is 0

### Steps to reproduce (*)

1. Product is sold
2. (?) reindex

### Expected result (*)

1. Product is still in stock

### Actual result (*)

1. Product is updated to out of stock

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog)

[2021-06-22 15:13] web4exposure-org commented on #33321
@magento give me 2.4-develop instance

[2021-06-22 15:23] engcom-November commented on #32345
Issue is reproducible on Magento 2.4.2 Composer version
Steps to reproduce:
1. Pull 2.4.2 Modules via composer
2. Disable only Dotdigitalgroup_Email module
3. Run setup:upgrade
4. Login to Magento Admin
Exception: Specified invalid parent id (Dotdigitalgroup_Email::marketing_automation)

![image](https://user-images.githubusercontent.com/60198231/122950944-81bcf200-d39a-11eb-87bb-6d53e999bd5b.png)

[2021-06-22 15:46] web4exposure-org commented on #33321
@magento give me 2.4-2 instance

[2021-06-22 15:57] #15656 closed, assigned to nobody

[2021-06-22 16:17] web4exposure-org commented on #33321
@engcom-November I am looking into this, as it is not certain I can reproduce the bug on a clean install. I hope this is not a problem. The pre-conditions are unclear as of now.

[2021-06-22 16:31] hostep commented on #31428
Also ran into this problem today.

Steps to reproduce on latest `2.4-develop`:

1. Setup clean Magento from 2.4-develop branch (I've used commit f121ac83597)
2. After Magento is up and running, execute `bin/magento app:config:dump`
3. Manually change the `app/etc/config.php` file like this:
[code]
4. Try to import those changes by using: `bin/magento app:config:import`
5. You now get this error in

[2021-06-22 16:43] engcom-Hotel commented on #32607
Hi @julien410gone ,

We have tried to reproduce this issue in Magento 2.4-develop. But we are unable to reproduced this issue. We have exactly followed the steps you mentioned in the ticket with Klarna payment gateway.

Please try again and let us know in case you faced the same issue or we need to use any specific payment method in order to reproduce this issue.

[2021-06-22 17:21] sivaschenko commented on #33314
@magento export issue to Jira AC

[2021-06-22 17:25] slavvka commented on #33314
@magento export issue to Jira project AC

[2021-06-23 00:51] magento-engcom-team commented on #33320
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42700` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-23 04:10] konarshankar07 commented on #33306
@magento I am working on this

[2021-06-23 04:51] Ckaneriya commented on #26840
https://github.com/magento/magento2/commit/b6b38d54a58dbabc562bd66c14167d44f7778fd7

We have applied the above patch in Magento 2.3.1 and it is working fine. we have applied this patch manually in the core files directly. Now we are planning to upgrade the Magento version to v2.3.6. So will this patch work in v2.3.6? Is it compatible with Magento 2.3.6? Is this issue already solved in Magento 2.3.

[2021-06-23 05:44] gino2014 commented on #30046
Still relevant ...

[2021-06-23 05:46] engcom-Alfa commented on #33063
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-23 05:46] #33063 closed, assigned to engcom-Alfa

[2021-06-23 06:00] mrtuvn commented on #33319
Maybe you need manually config ! Even in cloud solution
https://devdocs.magento.com/cloud/env/variables-build.html#scd_matrix

[2021-06-23 06:11] marvincaspar commented on #33319
I don't use the magento cloud, so I can't create the matrix. My understanding from the [documentaion page](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-static-view.html#deploy_without_db) is, that I just need the config dump to generate the static files for all languages. I know I can add all languages to the command but I thought magento fetches the information

[2021-06-23 06:27] oneserv-heuser commented on #33318
I just found out that this issue not only exists for the price attribute but for **all** attributes. Magento ignores the settings in the backend. If you set the setting "Use in Search Results Layered Navigation" to false then the attribute gets returned when asking for the aggregation field but you cannot use it in the field ProdutAttributeFilterInput.

[2021-06-23 08:29] f1-outsourcing commented on #32143
Repeating that you can install it on shared hosting does not make it true. Did you apply this issue reading the correct ini values and did you drop this strange mysql requirements?
What is the problem with using the generic php mail functions? When are you going to drop the exec function? Nobody is even using this, this was never an issue in 1.9.
How is it that the current team does not know such

[2021-06-23 08:36] engcom-Alfa commented on #31832
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-23 08:36] #31832 closed, assigned to engcom-Alfa

[2021-06-23 08:51] engcom-November commented on #33321
Hi @web4exposure-org ,
I verified the issue on Magento 2.4-develop version and the issue is not reproducible with above preconditions.
Steps performed:
1.Admin Global Configuration - Manage Stock is enabled (Stores - Configuration - Catalog - Inventory - Product Stock Option - Manage Stock  - Set to Yes)
2. Enable Back orders - Allow Quantity below 0 and Notify Customers (Stores - Configuration -

[2021-06-23 09:11] engcom-Bravo commented on #32479
Hi @dhirajdanodeborn ,

I followed all the steps as per https://devdocs.magento.com/mftf/docs/getting-started.html and I was able to run the test successfully. Please find the below screenshot for reference.

![image](https://user-images.githubusercontent.com/51680745/123068702-c47cd980-d42f-11eb-9d1d-b8bef55aca9c.png)

<br><br>
For Chrome web-driver related issue, kindly ensure you have below poi

[2021-06-23 09:25] engcom-Delta commented on #33283
Hi mattf10,
We tried placing an order with provided steps, we unable to reproduce the issue. moreover ,it is working as expected.
Snapshots are attached for your reference.
![State_not_selected](https://user-images.githubusercontent.com/51681379/123072071-da3fce00-d432-11eb-8e3d-ec248289df31.jpg)
![orderPlaced](https://user-images.githubusercontent.com/51681379/123072128-e62b9000-d432-11eb-8bb5-1f

[2021-06-23 09:27] DanielRuf opened #33323 "no more "Add Block Names to Hints"?"
It seems "Add Block Names to Hints" was removed and now only the class types are shown which is not that helpful in many cases.

Was this changed in the past? If so, why? And how can we reintroduce the display of the block names to reference them in layouts?

### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. go to developer settings in the backend
2. search for "Add Block

[2021-06-23 09:28] SilinMykola commented on #33308
@magento I am working on this

[2021-06-23 09:33] DanielRuf commented on #33323
Block names are still mentioned at https://docs.magento.com/user-guide/configuration/advanced/developer.html and https://docs.magento.com/user-guide/system/template-path-hints.html, but the screenshots clearly don't show such option.

[2021-06-23 09:36] engcom-Bravo commented on #33250
Hi @TonyDeStefano ,

Please provide the complete steps to reproduce this issue.

[2021-06-23 10:02] mattf10 commented on #33283
Ok - thanks for looking into it.  The problem only happened on this one order.

Do you happen to know if the code that automatically adds the State/Region is part of Magento core?   If not, it could be a problem with the Shipping extension used on the site.

[2021-06-23 10:02] #33283 closed, assigned to engcom-Delta

[2021-06-23 10:33] yanncharlou commented on #15631
For the ones that still use the old breadcrumbs way (because of custom megamenu that don't work with magento's breadcrumb js, that's what i put in my magento2/app/design/frontend/me/mytheme/Magento_Catalog/templates/product/breadcrumbs.phtml

Using json_encode seems to me a simpler and cleaner way to pass init parameters.

[code]

[2021-06-23 10:38] krishprakash commented on #33257
Hi @NishaHublit. Feel free to reopen once you provide all the details as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Thanks

[2021-06-23 10:38] #33257 closed, assigned to krishprakash

[2021-06-23 10:45] convenient commented on #19220
I just saw this on 2.3.4-p2

[2021-06-23 10:50] martinshawruroc commented on #32541
Hi @engcom-Echo ,

It's a 3rd party checkout module which triggers the second call to TotalCollector. The module is https://www.onestepcheckout.com/

Regardless of that though, it's my expectation that we should get the same output from totals colleciton process, regardless of whether or not it has been called previously. I don't think it should have state that impacts the output.

[2021-06-23 11:05] #30676 closed, assigned to nobody

[2021-06-23 11:05] #29215 closed, assigned to nobody

[2021-06-23 11:10] vlmed commented on #33304
@magento I am working on this

[2021-06-23 11:19] Aquive commented on #26675
Still exists in M2.3.7. I used this fix: https://stackoverflow.com/questions/64553446/magento-2-3-4-wrong-order-date-in-invoice-pdf

[2021-06-23 11:40] Aquive commented on #5847
Still present in M2.3.7

[2021-06-23 11:44] engcom-Delta commented on #33281
Hi niklaswolf,
Tried to reproduce the issue with provided steps, we are unable to reproduce it.
Queries used:
1. Request:
mutation {
  generateCustomerToken(
    email: "abcititechies@XXXXX.com"
    password: "XXXXXXX"
  ) {
    token
    }

Response:
eyJraWQiOiIxIiwiYWxnIjoiSFMyNTYifQ.eyJ1aWQiOjIsInV0eXBpZCI6MywiaWF0IjoxNjI0NDQ1MTA0LCJleHAiOjE2MjQ0NDg3MDR9.nW5IxQroEFrRFGpk-0GFTXLK-ZxVzoNDynTFl_Aa

[2021-06-23 11:47] SilinMykola commented on #33292
@magento I am working on this

[2021-06-23 11:50] khrystynastolbova commented on #33307
@magento I am working on this

[2021-06-23 11:50] khrystynastolbova commented on #33305
@magento I am working on this

[2021-06-23 11:57] niklaswolf commented on #33281
@magento give me 2.4-develop instance

[2021-06-23 12:08] DevAwesomeK commented on #30437
The issue is there in magento 2.4.2 EE. Above changes are there but still the issue persist. Does anyone faced the same issue in 2.4.2?

[2021-06-23 12:09] DevAwesomeK commented on #30437
@engcom-Bravo Can you please reopen the issue?

[2021-06-23 12:16] niklaswolf commented on #33281
@engcom-Delta if I follow the steps exactly, I receive exactly the issue I described. I'll add more details:
1. Product 24-MB01 has default stock 100
2. Add product 24-MB01 to the cart via graphql with quantity 90
3. Set the available stock of the product to something lower than the added quantity in step, for example 80.
3. Load the cart via the cart graphql query
4. The error "The requested qty

[2021-06-23 12:48] GiantHoax commented on #24654
@CsSatter Can you share the patch you made? Im having the same issue.

[2021-06-23 13:13] mleger31 commented on #31994
Hi @saphaljha, Have you made any progress in resolving this bug?
Thank you :)

[2021-06-23 13:24] drpayyne commented on #33293
@magento I am working on this

[2021-06-23 13:24] drpayyne commented on #33298
@magento I am working on this

[2021-06-23 13:36] Den4ik commented on #32150
@f1-outsourcing What task do you prefer run via wget?
I'm agree with @ihor-sviziev that it's not good idea run all schedule tasks via wget/curl because they could be longtime. It's badly affect to user experience. And I'm not sure that it should be available in core.

[2021-06-23 13:37] NateSwanson7 commented on #28387
Any progress on this? This seems like an issue that could potentially start affecting many instances since M2 has been around for a few years now.

[2021-06-23 13:58] engcom-Lima commented on #29347
Hi @zhartaunik,

I hope you came back from the vacation. I tried to do at our level. I can't reproduce the issue.

Please provide the details steps and screenshots which will be very helpful in this. I will be happy to work on this issue.

[2021-06-23 14:09] engcom-Charlie commented on #32674
Thanks @Naberdz for giving the steps to reproduce the issue. I am trying to reproduce it but by looking at the steps I need some more details on below points

1.  Are you adding 2 'Label color' formElements into your form? In which one with <colorFormat>hex</colorFormat> and without hex?
2. Are you adding one custom attribute too?

It will be really helpful if I will get the information on above p

[2021-06-23 14:12] engcom-Hotel commented on #31428
Hi @barbazul,

I have tried to reproduce this issue in 2.4.2-p1 and 2.4-develop, using below steps:
1. Setup and run Magento
2. Execute bin/magento app:config:dump
3. Make changes in ./app/etc/config.php as stated by @hostep
4. Execute bin/magento app:config:import

We are getting below error:

<img width="1440" alt="Screenshot 2021-06-23 at 7 41 37 PM" src="https://user-images.githubusercontent.c

[2021-06-23 14:13] magento-engcom-team commented on #31428
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42706` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-23 14:54] sdzhepa commented on #32961
:x: QA not Passed

_Statment what is wrong_

test case format

**Precondition**
- if any

**Manual Scenario Steps**

1. step1
2. step2
3.

Image
[code]

**(x) Actual result**
- images
- other info

**(/) Expected result**
- info

And the comment to ask for fix
_Could you please take a look and fix PR according to this_?

[2021-06-23 14:57] engcom-November commented on #33147
Verified the issue on Magento 2.4-develop version and the issue is reproducible.
Steps to reproduce:
1. Admin - Enable Sitemap (Stores - Configuration - Catalog - XML Sitemap)
2. Generate sitemap (Marketing - Seo & Search - Sitemap - Add Site map and Generate) - Sitemap is generated in Magento Root/pub/sitemap.xml
3. Setup and run Magento cron over the server
Issue: Sitemap is not getting updated

[2021-06-23 15:13] kennedyabitbol opened #33328 "Package is not installed: magento/project-community-edition-2.3.7.0"
### Preconditions (*)

1. Magento 2.3.7

### Steps to reproduce (*)

1. After upgrading the composer json with 2.3.7 version, everything seems fine but when i am launching another time composer require+update for another module it stops
[code]

### Expected result (*)

Just want to follow with composer

### Actual result (*)

1. when using composer update i encountered an error
[code]

This versio

[2021-06-23 15:41] mfickers opened #33329 "Layout gets initialized twice if ViewInterface is not injected into Controller"
I was working on a feature including a custom product list page, including filters for category and product attributes. For some reason, every active filter element got duplicated during rendering.

Through debugging I found out, that the method Magento\RequireJs\Block\Html\Head\Config::_prepareLayout would trigger a second build of page layout, resulting in every block being initialized twice. Si

[2021-06-23 17:44] phuongtieugia commented on #9988
I have same issue on magento 2.3.1. My SKU  is z-70

[2021-06-23 18:06] drpayyne commented on #33293
Hi @sivaschenko, I'm looking for some guidance on how to eliminate the AspectMock usage from this file. Here are the details

- `PersistedObjectHandlerTest` uses `AspectMock` to create a test double for `CurlHandler` in the `PersistedObjectHandlerTest::mockCurlHandler` method for every test case.
- Every test case uses `PersistedObjectHandler::createEntity` which calls `DataPersistenceHandler::cre

[2021-06-23 19:01] sivaschenko commented on #33293
@drpayyne is it possible to extract the `CurlHandler` creation to a new Factory class?

[2021-06-23 20:16] texboy commented on #32870
@magento I am working on this

[2021-06-23 21:28] hostep commented on #26840
@Ckaneriya: just quickly looked around and [MC-31574: PayflowPro Checkout Broken with SameSite Cookie Changes from Chrome 80](https://github.com/magento/magento2/commit/abe7f812377678052851bf146bfaa9955c337d3b) seems to have been added to Magento 2.3.5, so you won't need that patch anymore.

[2021-06-24 02:58] mrtuvn commented on #30653
@ericmorand Can you create proposal to https://github.com/magento/architecture for such case ?

[2021-06-24 03:02] mrtuvn commented on #33328
Have you add authenticate keys to auth.json in magento root folder  for `repo.magento.com` ?

[2021-06-24 04:41] ajijshekh123 commented on #33155
Hello @CFA2021 ,
If you have face this issue again you can reopen it with proper details.
Thanks.

[2021-06-24 04:41] #33155 closed, assigned to ajijshekh123

[2021-06-24 04:42] ajijshekh123 commented on #33146
Hello @vermarajesh60 ,
Sorry for the later response. This weekend I'll review again this issue and update the status.
Thanks.

[2021-06-24 04:43] ajijshekh123 commented on #32994
Hello @mparrSaatva,
Sorry for the later response. This weekend I'll review again this issue and update the status.
Thanks.

[2021-06-24 05:18] #30152 closed, assigned to nobody

[2021-06-24 06:12] mrtuvn commented on #33329
[Tuna_Tweak.zip](https://github.com/magento/magento2/files/6706698/Tuna_Tweak.zip)
Try to reproduce your same scenario with my own custom module but seem result opposite. Log file only show one.
Can you check that module fit same your case ?
I have tested in latest codebase

[2021-06-24 06:19] engcom-Hotel commented on #31468
Hi @schmengler

I hope that your issue is resolved because we did not get any update on this since 14 days. Hence closing the ticket.

Please feel free to raise the new ticket if you have any other issue. We will be happy to work for you.

[2021-06-24 06:19] #31468 closed, assigned to engcom-Hotel

[2021-06-24 06:24] engcom-November commented on #32536
Hi @smartsanjay,

We are closing this ticket , as there has been no update on the same.
Thank you.

[2021-06-24 06:25] engcom-November commented on #30906
Hi @aversalle,

We are closing this ticket , as there has been no update on the same.
Thank you.

[2021-06-24 06:25] #30906 closed, assigned to engcom-November

[2021-06-24 06:25] #32536 closed, assigned to engcom-November

[2021-06-24 06:42] Naberdz commented on #32674
@engcom-Charlie
i'm adding it as hex.
default one is RGB.

made a module
Setup/Patch/Data/AttributelabelColor.php
[code]
view/adminhtml/ui-component/product-form.xml
[code]
xml form should override my element appearance.

[2021-06-24 06:45] drpayyne commented on #32869
Dependent PR has been closed saying repository isn't active anymore - https://github.com/CSharpRU/vault-php-guzzle6-transport/pull/3. Will check codebase for this package's usage.

[2021-06-24 06:56] kennedyabitbol commented on #33328
Thanks for your answer, yes, composer downloads more than half of the packages, then stop on magento/project-community-edition-2.3.7.0.

I just solved it by changing old name    "name": "magento/project-community-edition" to "name": "magento/magento2ce", removing vendor folder, install then update, seems to have passed.

I got now some error when running _bin/magento setup:db:status_
`Uncaught Err

[2021-06-24 07:00] mrtuvn commented on #33328
usually i used this command
composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition /tmp/exampleproject 2.4.2
rsync -a /tmp/exampleproject/ /var/www/html/
rm -rf /tmp/exampleproject/

Devdocs: https://devdocs.magento.com/guides/v2.4/install-gde/composer.html

[2021-06-24 07:11] engcom-Delta commented on #32882
Issue is closing since no update from reporter. Kindly raise new ticket if required.

[2021-06-24 07:11] #32882 closed, assigned to engcom-Alfa

[2021-06-24 07:11] 4ctobias commented on #32679
@magento I am working on this

[2021-06-24 07:12] #32325 closed, assigned to engcom-Alfa

[2021-06-24 07:12] 4ctobias commented on #32679
@magento add to contributors team

[2021-06-24 07:12] engcom-Delta commented on #32325
Since no update from you from 22 days .Hence this ticket is closing.

[2021-06-24 07:12] 4ctobias commented on #32679
@magento I am working on this

[2021-06-24 07:33] kennedyabitbol commented on #33328
Yes, i did not used it for my upgrade, otherwise i did not encounter trouble like this migrating to 2.4.2 :(.
Maybe i'll skip this one, thank you.

[2021-06-24 07:50] schmengler commented on #31468
@engcom-Hotel  Please don't just test in the constructor, test what actually is available in the template.

If it would work, this workaround in the CSP module would not be necessary: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Csp/etc/di.xml#L81-L82 - the fact it is still there proves my point.

[2021-06-24 08:51] lakshmana commented on #12512
yes, still there in 2.4
@olivermontes did you solve the issue ?

[2021-06-24 09:06] thehl opened #33331 "Multishipping with CartFixed Salesrule and exluded SKU calculates the wrong discount amount"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Create sales rule like screenshot:
![salesrule](https://user-images.githubusercontent.com/1321326/123233984-d6678680-d4da-11eb-951e-21249f5c9e2b.png)
2. Add two items to cart and one of them has to be the excluded one of the sales rule.
3. Enter coupon code BDAY. Now we receive 25€, which is correct.
![cart](https://user-images.

[2021-06-24 09:15] mfickers commented on #33329
I copied your module into the same project and there are two log messages for a single request, but I couldn't recreate the behavior on a fresh Magento 2.4.1 installation. Looks like this is caused by third party code.

I'm closing this issue, thank you for your time.

[2021-06-24 09:15] #33329 closed, assigned to nobody

[2021-06-24 09:22] JKair opened #33333 "my order always in Suspected Fraud"
### Preconditions (*)

1.Magento ver. 2.4.2
2.PHP 7.4.18

### Steps to reproduce (*)

1.create a order
2.use paypal to pay
3.the order will be Suspected Fraud

### Expected result (*)

1. the order be `processing`

### Actual result (*)

1. the payment log
[code]
2.It nerver let the order be `processing`

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contr

[2021-06-24 09:35] JKair commented on #33333
![image](https://user-images.githubusercontent.com/5440088/123239991-7e4c7680-d512-11eb-933c-8ab0b51041be.png)
![image](https://user-images.githubusercontent.com/5440088/123240023-84daee00-d512-11eb-84a6-757d6e455680.png)

[2021-06-24 09:43] Qikerz opened #33334 "Inheriting from a class that doesn't exist"
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Bundle/Pricing/Price/ConfiguredPrice.php#L151

Preconditions:
Install Magento 2.4-develop

Steps to reproduce :
1. Open file magento2/app/code/Magento/Bundle/Pricing/Price/ConfiguredPrice.php
2. Check line number 151
3. It has a function call getPrice(BundleDiscountPrice::PRICE_CODE), with reference of BundleDiscountPrice class

[2021-06-24 09:49] engcom-Bravo commented on #27112
Hi @dtavieres ,

Please let me know if you are still facing this issue.

[2021-06-24 09:58] MeeGz commented on #33065
@engcom-Lima any updates ?

[2021-06-24 10:07] sivaschenko opened #33335 "Update laminas-captcha dependency"
laminas/laminas-captcha has released its PHP 8 compatible version in March 2021, in order to accelerate future PHP compatibility work this dependency should be eliminated.

Laminas captcha is currently used in `\Magento\Captcha\Model\DefaultModel`.

See the patch with PoC of dependency elimination:
 [Remove*dependency_on_Laminas_Captcha.patch.txt](https://github.com/magento/magento2/files/6708282/

[2021-06-24 10:08] robsch commented on #29681
Actually, I don't know. Might be resolved in newer versions. But currently I'm away from Magento.

My issue was that ES does gets triggered, when a user types something into the search box. I thought ES should be directly used when the user types. But it seems that a cache gets triggered or so. Yes, a dropdown opens, no error occurs. But what does this dropdown lists?: What I have already typed in

[2021-06-24 10:12] sivaschenko opened #33336 "Update laminas-soap dependency"
laminas/laminas-soap has released it's PHP 8 compatible version in February 2021, in order to accelerate future PHP compatibility work this dependency should be eliminated.

The main entry points are:
`\Magento\Webapi\Controller\Soap`
`\Magento\TestFramework\TestCase\Webapi\Adapter\Soap::instantiateSoapClient`

Approach:
Implement soap support in Magento codebase

[2021-06-24 10:15] sivaschenko opened #33337 "Eliminate laminas-i18n and laminas-filter dependency"
laminas/laminas-i18n has a hidden dependency `laminas/laminas-filter` released its PHP 8 compatible version in January 2021, in order to accelerate future PHP compatibility work this dependency should be eliminated.

laminas/laminas-i18n and as a result laminas/laminas-filter dependencies should be eliminated.

Laminas\I18n\Filter\NumberParse is used in \Magento\Checkout\Model\Cart\RequestQuantity

[2021-06-24 10:17] sivaschenko opened #33338 "Eliminate laminas-mvc and all possible dependencies used for retired Setup Wizard"
Setup Wizard was retired leaving only a couple of static pages as part of it's functionality.

The laminas-mvc and all other dependencies of the retired Setup Wizard should be eliminated. The existing static functionality of Setup Wizard should not require any external libraries

[2021-06-24 10:22] engcom-Hotel commented on #33334
Hi @Qikerz ,

We have checked this issue in Magento 2.4-develop branch. As per the stated file i.e.[https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Bundle/Pricing/Price/ConfiguredPrice.php#L151](url), has a function call of getPrice which requires a string type of argument and it is passing **BundleDiscountPrice::PRICE_CODE** as an arguement.

It seems that, the class **Bundl

[2021-06-24 10:42] engcom-November commented on #33331
Verified the issue on Magento 2.4-develop version and the issue is reproducible:

**Steps to reproduce:**
1. Magento Admin: Navigate to - Stores -> Attributes -> products -> Search for Sku -> Storefront Properties -> Use for Promo Rule Conditions – Set to Yes – Save Attribute
2. Navigate to Stores -> Configuration -> Sales – Multi shipping Settings - Yes and Save
3. Navigate to Marketing -> Cart P

[2021-06-24 10:43] sivaschenko opened #33339 "Declare PHP 8 compatibility in magento/composer"
Declare PHP 8.0 compatibility for https://github.com/magento/composer/

Update magento/composer version in magento2 composer.json once the PHP 8 compatible magento/composer is released.

[2021-06-24 10:48] JKair commented on #33333
All are usd.

[2021-06-24 10:50] sivaschenko opened #33340 "[MFTF] Update nikic/php-parser to the latest version"
Update nikic/php-parser to the latest version

nikic/php-parser locked version in MFTF is blocking phpunit update:

`composer update phpunit/phpunit phar-io/manifest phar-io/version phpunit/php-code-coverage sebastian/global-state sebastian/type nikic/php-parser`

[code]

[2021-06-24 10:51] #33340 closed, assigned to nobody

[2021-06-24 11:39] Qikerz commented on #33334
Hi @engcom-Hotel,

Yes that's right.

Also, there is no **calculateDiscount** function that takes a float argument **$configuredOptionsAmount**.

[2021-06-24 11:48] magento-engcom-team commented on #33247
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-24 11:49] magento-engcom-team commented on #33247
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-24 11:50] magento-engcom-team commented on #33247
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42710` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-24 12:20] engcom-Hotel commented on #33334
Hi @Qikerz ,

Based on the comments, I am confirming this issue.

[2021-06-24 12:20] magento-engcom-team commented on #33334
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42711` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-24 12:23] engcom-Alfa commented on #13952
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-24 12:51] Amandamur8 commented on #3123
Nowadays, eCommerce buyers are impatient. The loading speed of a website is a crucial component that search engines evaluate when ranking each web page. As a result, every Magento owner should track the store's performance. This is the basis for Magento performance improvement. Installing performance-enhancing extensions will increase the performance of your Magento shop. These will improve user e

[2021-06-24 12:58] magento-engcom-team commented on #33281
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-24 12:58] magento-engcom-team commented on #33281
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-24 12:58] engcom-Delta commented on #33281
Hi niklaswolf ,

Followed the steps and found that able to replicate the issue. Hence it is marked as issue confirmed.
Request:
{
  customerCart {
    id
    items {
      id
      product {
        name
        sku
      }
      quantity
    }
  }
}
Response:
{
  "errors": [
    {
      "message": "The requested qty is not available",
      "extensions": {
        "category": "graphql-input"

[2021-06-24 12:59] engcom-November commented on #33333
Hi @JKair,
Can you please provide detailed configuration to enable Paypal payment option in Admin - Create New Order page.
![image](https://user-images.githubusercontent.com/60198231/123265987-367d1d80-d519-11eb-9449-87d866a8fcfe.png)

**Note: This[ blog comment](https://magento.stackexchange.com/questions/281246/magento-2-no-payment-methods-in-admin-new-order) might help you**
Thank you.

[2021-06-24 13:13] christianbookpwood commented on #25076
I can confirm this is happening for us in Magento 2.3.4.

[2021-06-24 13:17] prasannanwr opened #33343 "The list of allowed countries in checkout per store won't update"
### Preconditions:

1. Magento version 2.4.0 (installed via composer)
2. PHP version 7.4.8
3. MySQL 8

### Steps to reproduce (*)
1. Create multiple websites and stores.
2. Set Account Sharing Option to "Global" under System > Customer > Customer configuration
3. Update Allowed Countries Under Stores -> Configuration -> General -> Country options -> Allow countries.  on default configuration level

[2021-06-24 13:54] JKair commented on #33333
![image](https://user-images.githubusercontent.com/5440088/123275177-af3ea280-d536-11eb-9c80-dbdd931e3755.png)

[2021-06-24 13:55] JKair commented on #33333
@engcom-November

[2021-06-24 14:11] JKair commented on #33333
![image](https://user-images.githubusercontent.com/5440088/123277986-283ef980-d539-11eb-9055-5956ea2e33b8.png)

[2021-06-24 14:13] viniciusbord9 commented on #10088
@magento I am working on this.

[2021-06-24 15:05] engcom-Hotel commented on #33313
Hi @indykoning

We have tried to reproduce this issue in Magento 2.4-develop branch, with your mentioned steps but unable to reproduce the issue. Below are detailed steps we have followed in order to reproduce this issue, please review and let us know if any change required:
1. Setup fresh magento.
2. Create a product with default image (magento placeholder).
3. Uncomment rule in nginx.conf file,

[2021-06-24 15:34] jorjdaniel commented on #32306
I got the same issue when tried to call the /orders API.

[2021-06-24 15:38] m2-assistant[bot] opened #33344 "[Issue] MFTF: Newsletter Subscription With Enabled Need To Confirm Config"
This issue is automatically created based on existing pull request: magento/magento2#33342: MFTF: Newsletter Subscription With Enabled Need To Confirm Config

---------
This PR contains a MFTF test for checking newsletter subscription process with enabled  "Need To Confirm" config.
Guests and customers should receive correct notifications.

**Steps to reproduce**
1 - Enable "Need To Confirm" confi

[2021-06-24 15:39] m2-assistant[bot] opened #33345 "[Issue] MFTF: Print Packing Slips Without Created Shipment Test"
This issue is automatically created based on existing pull request: magento/magento2#33341: MFTF: Print Packing Slips Without Created Shipment Test

---------
This PR contains a test for asserting error, when the admin prints packing slips without created shipment.

**Steps to reproduce**
1 - Place an order on FE
2- Navigate to Admin Order Grid
3 - Find placed order
4 - Print packing slips
5 - Per

[2021-06-24 16:58] engcom-Delta commented on #27504
Hi @yutv,
There has no update on this issue. Hence closing it. Kindly raise  new ticket if required.

[2021-06-24 17:02] engcom-Delta commented on #32713
Hi @wajihkm,

There has no movement on this ticket , Hence closing it. Kindly raise new ticket if required.

Thanks

[2021-06-24 17:02] #32713 closed, assigned to engcom-Lima

[2021-06-24 17:19] jonathanribas commented on #13746
Just added disabled attribute on Add to Cart button on our theme, a native JS will remove it automatically when all JS files are loaded. That gives the time for `form_key` to be updated correctly. We don't have the issue anymore.

[2021-06-24 18:05] yutv commented on #27504
What updates are you talking about? I have confirmed the issues exists multiple times since it was created. The issue is clearly described step by step event a child can reproduce. I have not seen any adequate comment from Magento Staff since then but only a desire to close the issue. If I create a new Issue the situation will be the same. So why do I need waste my time?

[2021-06-24 18:10] numan201 commented on #32879
I'm having the exact same issue on 2.4.2-p1 on the latest Chrome. Customers are left very confused after paying with their credit cards, and nothing happening afterwards. @mikew-westlund  did you ever figure this out?

[2021-06-24 21:19] msyhr opened #33346 "Latest laminas/laminas-escaper (2.7.0 -> 2.7.1) breaks product and catalog category view pages"
### Preconditions (*)

Install 2.4.2-p1 or run composer-update on an existing install that hasn't been run in hours since 2.7.1 was release.

### Steps to reproduce (*)
View any page with callout for

`<?= $block->getReviewsSummaryHtml($_product, $templateType) ?>`

Might be more widespread than this, but this is how I noticed it.

Happened on a client's instance, thought it might be related to on

[2021-06-25 02:03] laurnts commented on #33346
I also have the same issue, was quite striking since yesterday I didn't find this issue while updating composer.json

[2021-06-25 05:11] JKair commented on #33333
The order `state` is processing and `status` is fraud

[2021-06-25 05:54] engcom-Bravo commented on #32483
Hi @MajorKuprich ,

We are closing this ticket as we did not receive any update. Please open a new ticket if you are still facing this issue.

Thanks.

[2021-06-25 05:54] #32483 closed, assigned to engcom-Bravo

[2021-06-25 06:19] AngelsDustz opened #33347 "Magento 2 Integration Resources Aren't Respected"
### Preconditions (*)

1. Magento 2.4.2-p1

### Steps to reproduce (*)

1. Create a new integration
2. Give it limited right (catalog -> inventory -> products)

![Screenshot from 2021-06-25 08-18-24](https://user-images.githubusercontent.com/4640484/123379154-02900f80-d58e-11eb-88e9-b58daef7cbac.png)

3. Do *not* give it access to "Update Attributes"

### Expected result (*)

1. The API is not all

[2021-06-25 06:42] mjflipmind opened #33348 "Cannot Add Group Product Item to Basket If Any Simple Products have a Default Quantity of 0"
### Preconditions (*)
Magento 2.4

### Steps to reproduce (*)
On Magneto 2.4.x on group product when trying to add it to the cart I get this error:

![image](https://user-images.githubusercontent.com/11608958/123381184-81b03280-d5e4-11eb-992d-3ce9b7573861.png)

Issue relates to https://github.com/magento/magento2/pull/24955

Issue 24955 says it relates to stock level but this doesn't seem to be tr

[2021-06-25 06:42] sebastian-ehrling commented on #33346
Currently there is an error in laminas-escaper. You can add the following to your composer.json and run composer update. This is only a temporary fix for this problem.
"require": {
        "magento/product-community-edition": "2.4.2-p1",
        "laminas/laminas-escaper": "2.7.0"
    },

[2021-06-25 06:49] mrtuvn commented on #33346
i can also reproduce with latest code base magento + laminas/laminas-escaper 2.7.1. Category page will break with similar error

[2021-06-25 06:57] #33348 closed, assigned to nobody

[2021-06-25 07:20] ghost opened #33349 "Issue with image cache generation"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. Image cache generation issue. Placeholer image generation in product page
2.

### Expected result (*)

1. Image generation correct
2.

### Actual result (*)

1. No error in log
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as R

[2021-06-25 07:21] achatpc commented on #33349
@magento I am working on this

[2021-06-25 07:23] achatpc commented on #33349
@magento give me 2.4-develop instance

[2021-06-25 07:39] achatpc commented on #33313
Hello,

Try this:

replace
	private function getOriginalImage(string $resizedImagePath): string {
		return preg_replace('|^.*?((?:/([^/])/([^/])/\2\3)?/?[^/]+$)|', '$1', $resizedImagePath);
	}

with

    private function getOriginalImage(string $resizedImagePath): string
    {
        return preg_replace('|^.*((?:/[^/]+){3})$|', '$1', $resizedImagePath);
    }

vendor/magento/module-media-storage/

[2021-06-25 07:40] achatpc commented on #33349
#33313 63518706

[2021-06-25 07:42] achatpc commented on #33349
Thi fix issue for my:

replace
private function getOriginalImage(string $resizedImagePath): string {
return preg_replace('|^.*?((?:/([^/])/([^/])/\2\3)?/?[^/]+$)|', '$1', $resizedImagePath);
}

with

private function getOriginalImage(string $resizedImagePath): string
{
    return preg_replace('|^.*((?:/[^/]+){3})$|', '$1', $resizedImagePath);
}

vendor/magento/module-media-storage/App/Media.php

[2021-06-25 07:48] nobodyMO commented on #33346
I also spent a few hours yesterday troubleshooting after installing 2.4.2p1.

Sorry but you are making it a little too easy to blame laminas-escaper.
There with 2.7.1. the Coding guidelines were inserted and thereby also the type check activated (declare(strict_types=1););
The input type of the function was also declared as string before.

[code]

The lib doesn't even enforce this type, but by ena

[2021-06-25 08:22] Skyfly2021 commented on #33346
![image](https://user-images.githubusercontent.com/53896477/123393877-1f016b80-d5d1-11eb-9328-707308eb0759.png)
I also have this problem. The front-end product details page cannot be displayed, and the back-end management page also has an error. After downgrading the module version, the problem disappears.
composer require laminas/laminas-escaper:2.7.0

[2021-06-25 08:23] korovitskyi commented on #33339
@magento I am working on this

[2021-06-25 08:44] rk-mxp opened #33352 "Tax calculation rounded and wrong with All set to exclusive Tax + tax per product + several products"
### Preconditions (*)

1. Magento 2.4.2-p1

### Steps to reproduce (*)

1. Set every configuration in Sales / Tax to Excluding Tax (Calucation Settings: Catalog Prices, Shipping PRices, Apply Discount on Prices, All Display Settings)
2. Set "The Tax Calculation Method Based On" to "Unit Price"
3. Add a product to the system and add Customer Group Price Configuration to it, so more products cost le

[2021-06-25 09:16] ihor-sviziev commented on #13746
@jonathanribas, we do have a `disabled` attribute on the add to cart button, but still an issue there.

[2021-06-25 09:37] OvalMedia commented on #4400
Still not fixed in 2.4.2.

[2021-06-25 10:25] jonathanribas commented on #13746
@ihor-sviziev have you applied https://github.com/magento/magento2/pull/30961? Because on our project we have.

[2021-06-25 10:29] ihor-sviziev commented on #13746
@jonathanribas ah, sorry, I just looked at the wrong issue. This issue was fixed in https://github.com/magento/magento2/pull/30961

[2021-06-25 10:42] hareshpatel commented on #5847
Hello Team,

I am try tu stripe payment used. admin side order place is not working.
Error is : No such entity with cartId

But fronted side work is find can you please help me how to resolve this issue.

[2021-06-25 10:47] engcom-Bravo commented on #28119
Hi @ioweb-gr ,

Could you please explain steps 1 and 4 in detail to help us reproduce the issue?

[2021-06-25 10:55] ethos-codelab commented on #22753
Why this issue is closed without any solution? I am still facing this issue with Magento 2.4.2 @magento-engcom-team

[2021-06-25 11:02] engcom-Bravo commented on #33286
Hi @adorobeleza ,

When we upgrade clean installation of magento we are unable to reproduce this error. Hence could you please provide the steps/settings of your magento to reproduce this issue?

Also the error "There are no source items with in stock status" is usually seen when the product does not have enough stock specified. Kindly provide us more details to check on this issue.

[2021-06-25 11:06] laurnts commented on #33346
This is also the solution I am using, downgrading the version back to 2.7.0. This is not only happening for Magento 2.4.2, but also Magento 2.4.2-p1 as well as 2.3.6. I believed all versions of Magento 2 using laminas are affected. This error pages also only affect pages with a product grid and product detail page (If I am correct, if review ratings are loaded within the page).

[2021-06-25 11:18] mrtuvn commented on #33346
i think this issue can reproduce with case we run composer update

[2021-06-25 11:21] rimmeh commented on #23922
Same Issue In Magento 2.4.2. Any Suggestions?

[2021-06-25 11:23] korovitskyi commented on #32872
@magento I am working on this

[2021-06-25 11:27] IbrahimS2 commented on #32118
Still, this is an issue on M2.4.2!

[2021-06-25 11:56] pcGarethJames commented on #33346
Just as an FYI for those affected by this issue. I've also had this happen on 2.3.7

[2021-06-25 12:32] zaietsv commented on #33346
I am facing the same bug at Magento 2.4.2-p1. Please fix immediately!

[2021-06-25 12:38] m2-assistant[bot] opened #33355 "[Issue] Don't redirect to PayPal with empty quote"
This issue is automatically created based on existing pull request: magento/magento2#32472: Don't redirect to PayPal with empty quote

---------
* https://community.magento.com/t5/Magento-2-x-Technical-Issues/PayPal-Payflow-extension-exploited-for-fraudulent-transactions/td-p/123002
* https://github.com/magento/magento2/issues/21870

We had a lot of POST requests to "/paypal/transparent/requestSec

[2021-06-25 12:41] engcom-Delta commented on #33119
Hi @anhnhan1997,

Issue has been verified and found that it is reproducible .Hence added the label 'Issue confirmed'.
Steps followed:
Installing Braintree module from command line:
1. Ensure you the Magento MarketPlace repository listed in your composer.json file (typically https://repo.magento.com)
2. Update composer to require the "gene/module-braintree" package with the command: $ composer requ

[2021-06-25 12:44] magento-engcom-team commented on #33119
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-25 12:44] magento-engcom-team commented on #33119
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-25 12:49] vandijkstef commented on #9988
Having the same issue on 2.3.7. Internally and by resellers the codes are used A LOT. 2.4.X is not an option since our hosting company isn't supporting elastic search *yet*.

Why is "-" prohibited? I understand some characters can have special meaning (like -excluding, or "specific" etc) but can't we change that pattern to " -"? (including a whitespace character)

We use a variety of patterns (X f

[2021-06-25 12:51] magento-engcom-team commented on #33119
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42732` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-25 12:55] engcom-Alfa commented on #29248
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-25 12:55] #29248 closed, assigned to engcom-Alfa

[2021-06-25 12:56] engcom-Alfa commented on #32487
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-25 12:56] #32487 closed, assigned to engcom-Alfa

[2021-06-25 13:06] colyield commented on #32976
I don't think you can reproduce it if you install a fresh magento store.
There must be something in the database when upgrading causing the problem.
I tried to upgrade using composer, also tried to download the new version
directly from magento website and replace all the files to update the
store, slightly different results I got, but the "Add to Cart" did not work
in either way.

On Fri, Jun 25,

[2021-06-25 13:12] gabrieldagama commented on #33247
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33169 by @manavluhar in 2.4-develop branch
Related commit(s):
 - [c1fc8cb41e97dac644d12a1cdb0077f10e559cd3](https://github.com/magento/magento2/commit/c1fc8cb41e97dac644d12a1cdb0077f10e559cd3)

The fix will be available with the upcoming 2.4.3 release.

[2021-06-25 13:12] #33247 closed, assigned to manavluhar

[2021-06-25 13:12] gabrieldagama commented on #32309
Hi @Nuranto. Thank you for your report.
The issue has been fixed in magento/magento2#32959 by @engcom-Foxtrot in 2.4-develop branch
Related commit(s):
 - [3d14e8c861b69988189c0da0c29912b59ba93ea1](https://github.com/magento/magento2/commit/3d14e8c861b69988189c0da0c29912b59ba93ea1)
 - [00baa67b7fd039d1f3cee977975f3be583163b37](https://github.com/magento/magento2/commit/00baa67b7fd039d1f3cee977975f3

[2021-06-25 13:12] #32309 closed, assigned to engcom-Foxtrot

[2021-06-25 13:12] gabrieldagama commented on #32760
Hi @moranotcsos. Thank you for your report.
The issue has been fixed in magento/magento2#32902 by @vovsky in 2.4-develop branch
Related commit(s):
 - [c47505d0ac890d62b054cfb7be7b505ab4480f97](https://github.com/magento/magento2/commit/c47505d0ac890d62b054cfb7be7b505ab4480f97)
 - [158331dafa299df3c718cc7343e7cb0a55039791](https://github.com/magento/magento2/commit/158331dafa299df3c718cc7343e7cb0a5

[2021-06-25 13:12] #32760 closed, assigned to vovsky

[2021-06-25 13:12] gabrieldagama commented on #32753
Hi @martasiewierska. Thank you for your report.
The issue has been fixed in magento/magento2#32756 by @martasiewierska in 2.4-develop branch
Related commit(s):
 - [e282209df4aa8b8795cd8af7dc446dd0822e87f1](https://github.com/magento/magento2/commit/e282209df4aa8b8795cd8af7dc446dd0822e87f1)
 - [4ddefaf758d9de53ea547d99e4f235c571021279](https://github.com/magento/magento2/commit/4ddefaf758d9de53ea54

[2021-06-25 13:12] #32753 closed, assigned to martasiewierska

[2021-06-25 13:12] gabrieldagama commented on #29520
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32640 by @hostep in 2.4-develop branch
Related commit(s):
 - [7ac4da78ad64b6c24b74fe5c79cfc1e3bd39e33d](https://github.com/magento/magento2/commit/7ac4da78ad64b6c24b74fe5c79cfc1e3bd39e33d)
 - [e792abcb1e18e1ebe998252c832f1b7b63a0e515](https://github.com/magento/magento2/commit/e792abcb1e18e1ebe998252c832

[2021-06-25 13:12] gabrieldagama commented on #32657
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32640 by @hostep in 2.4-develop branch
Related commit(s):
 - [7ac4da78ad64b6c24b74fe5c79cfc1e3bd39e33d](https://github.com/magento/magento2/commit/7ac4da78ad64b6c24b74fe5c79cfc1e3bd39e33d)
 - [e792abcb1e18e1ebe998252c832f1b7b63a0e515](https://github.com/magento/magento2/commit/e792abcb1e18e1ebe998252c832

[2021-06-25 13:12] #32657 closed, assigned to hostep

[2021-06-25 13:12] gabrieldagama commented on #32584
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32529 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [feaed6b364731e39df95a898aa64928c1b8548ca](https://github.com/magento/magento2/commit/feaed6b364731e39df95a898aa64928c1b8548ca)
 - [466a537522a8eab739c46643e3bcab35c4ccab21](https://github.com/magento/magento2/commit/466a537522a8eab739c466

[2021-06-25 13:12] #32584 closed, assigned to kate-kyzyma

[2021-06-25 13:12] gabrieldagama commented on #32268
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#32390 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [c0d7665fe611981c0d651b0200bd577a2e333028](https://github.com/magento/magento2/commit/c0d7665fe611981c0d651b0200bd577a2e333028)

The fix will be available with the upcoming 2.4.3 release.

[2021-06-25 13:12] #32268 closed, assigned to mrtuvn

[2021-06-25 13:12] gabrieldagama commented on #33080
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31791 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [722ddefef40fdbd10a02257f6866c82e47f4d12e](https://github.com/magento/magento2/commit/722ddefef40fdbd10a02257f6866c82e47f4d12e)
 - [25f53e2c8c0aacb7f1fb3dbebc0a16cc24f32e7d](https://github.com/magento/magento2/commit/25f53e2c8c0aacb7f1fb3d

[2021-06-25 13:12] #33080 closed, assigned to kate-kyzyma

[2021-06-25 13:12] gabrieldagama commented on #23363
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#29184 by @AntonEvers in 2.4-develop branch
Related commit(s):
 - [f2ec5f00dcdaede9b54f027ffbd92390da4d69c5](https://github.com/magento/magento2/commit/f2ec5f00dcdaede9b54f027ffbd92390da4d69c5)
 - [74eacbd2ea2a5c662d1482ec785a05392ea6f2ab](https://github.com/magento/magento2/commit/74eacbd2ea2a5c662d1482ec785a05392e

[2021-06-25 13:12] #23363 closed, assigned to nobody

[2021-06-25 13:22] ioweb-gr commented on #28119
Sure, let me know what you don't understand so that I can explain it. The first 3 steps tell you to create a global drop-down attribute to create configurable products with and provide a csv file's contents to insert 3 products. 1 configurable and two variations which are the prerequisite for the issue.

With these products in place you can proceed to step 4 which tells you to use constructor depe

[2021-06-25 13:35] codecodeio commented on #6207
I see this issue in Magento 2.3.5-p2. However, it only occurs when the customer has multiple stored payment methods. Each payment method agreement checkbox gets the same id making all but the first checkbox unclickable. We are using Braintree. Altering the file below with the code below in the
<img width="837" alt="Screen Shot 2021-06-25 at 9 34 42 AM" src="https://user-images.githubusercontent.co

[2021-06-25 14:01] BB-000 commented on #1619
Oh Magento, can't even build css properly 😂  it just decides to stop watching sometimes... And takes ages when it does. 😬🔫

[2021-06-25 14:13] mtjweb opened #33356 "TypeError: rawurlencode() expects parameter 1 to be string, bool given in /vendor/laminas/laminas-escaper/src/Escaper.php:246"
### Preconditions (*)

1. Magento version 2.4.2
2.

### Steps to reproduce (*)

1. Updatet yesterday with composer and it broke my site
2. Tried to resolve it by upgrading to Magento 2.4.2-p1, but error stayed

### Expected result (*)

1. No error

### Actual result (*)

1. Following error:

TypeError: rawurlencode() expects parameter 1 to be string, bool given in /vendor/laminas/laminas-escaper/s

[2021-06-25 14:30] mrtuvn commented on #33356
Thanks you for report but this ticket already duplicated with this one https://github.com/magento/magento2/issues/33346

[2021-06-25 15:05] MarianneCA opened #33357 "Backend > Customers > Cannot edit an address when French language is selected"
Magento ver. 2.4.1-p1
Commerce Cloud

### Steps to reproduce (*)

This bug occurs if French language is selected for the backend.

Backend > Customers > Select a customer > Addresses

Next to the Default billing address and Default Shipping address blocks, the "Edit" links cannot be selected because they overlap with the French translations of "Default billing addres" and "Default Shipping address

[2021-06-25 15:09] achatpc commented on #33313
#33351

[2021-06-25 15:10] ihor-sviziev commented on #33356
Hi @mtjweb,
Thank you so much for your report! As @mrtuvn said, it's a duplicate of https://github.com/magento/magento2/issues/33346 this has the highest possible priority P0.
**We're already working on a fix.**

As this issue duplicates another, I'm closing it.

[2021-06-25 15:10] #33356 closed, assigned to nobody

[2021-06-25 15:28] github-jira-sync-bot opened #33358 "Test issue"
test issue

[2021-06-25 15:49] magento-engcom-team commented on #33346
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42734` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-25 19:02] #30924 closed, assigned to chiranjeevi-cj

[2021-06-25 19:06] github-jira-sync-bot opened #33359 "test issue90"
Test issue. Test 13

[2021-06-25 19:33] TDM-Charles commented on #28916
We're seeing this issue in 2.4.2

[2021-06-25 19:36] hostep commented on #23363
@gabrieldagama: only the first problem outlined in the description above is fixed by #29184, not the second problem

Admittedly, I shouldn't have created an issue describing 2 different problems, but I did because they were very closely related, sorry for that.

What's the best way forward? Opening a new issue describing problem 2, or re-opening this one and updating my opening post that problem 1

[2021-06-25 20:04] irenelagno commented on #33359
@magento export issue to Jira project AC

[2021-06-25 20:07] #33359 closed, assigned to nobody

[2021-06-25 20:11] github-jira-sync-bot opened #33360 "test issue"
test issue 909

[2021-06-25 20:14] #33360 closed, assigned to nobody

[2021-06-25 20:27] korovitskyi commented on #32872
It was updated cumposer.json and composer.lock for the PHP 8.0.

[code]

**But on test get a lot of errors like this (more then 50):**

[code]
I hope, it will be heplful.

[2021-06-26 00:09] ProxiBlue commented on #33346
ref: https://github.com/laminas/laminas-escaper/issues/20

[2021-06-26 08:43] vermarajesh60 commented on #33147
Are you guys looking into it?.

On Wed, Jun 23, 2021 at 8:27 PM Girija Bhavani Kudupudi <
***@***.***> wrote:

[2021-06-26 11:23] johnny-longneck commented on #28614
@sb-nick I can confirm that we had the same issue on Magento 2 with enabled recaptcha v3.
Our temporary solution was to install fail2ban.

This needs an official fix.

[2021-06-26 11:40] n2diving-dgx commented on #33346
I can confirm laminas-escaper 2.7.1 breaks M2 in a clean install w/sample data for 2.3.7 as well as 2.4.2  My workaround...

composer require "laminas/laminas-escaper:<2.7.0"

[2021-06-26 11:44] jordanvector commented on #28614
Hello as a magento cloud merchant who suffered these same attacks, the only thing that actually fixed this issue was subscribing to the datadome service integrated with fastly, after we did that, datadome now catches all of these.

What also helps but does not solve the issue is implementing rate limiting on the guest payment information api method.

Captchas don't work, Braintree fraud tools don'

[2021-06-26 12:18] korovitskyi commented on #33337
@magento I am working on this

[2021-06-26 12:58] ashwani-dlt commented on #592
I have a module name which does not work during DI and other function calls like controller & actions.

Module Name: **ABCDElephant**

This does not give any error instead it just doesn't work properly like other modules
And due to this issue I had to rename it to **Abcd**

[2021-06-26 17:52] drpayyne commented on #32865
@magento I am working on this

[2021-06-26 17:56] drpayyne commented on #32864
@magento I am working on this

[2021-06-26 18:10] drpayyne commented on #32871
@magento I am working on this

[2021-06-26 18:15] drpayyne commented on #32863
Hi @sivaschenko, could you please add a `has dependency` label to this ticket?

[2021-06-26 18:29] drpayyne commented on #32872
Hi @korovitskyi, I'd like to pick up this task as it looks like you have un-assigned yourself. May I?

[2021-06-26 18:30] drpayyne commented on #32872
@magento I am working on this

[2021-06-26 19:04] drpayyne commented on #33195
Hi @sivaschenko @BernardRobbins, is this issue still present? I would like to know how I can help. :)

FYI, https://packagist.org/packages/amzn/amazon-payments-magento-2-plugin is abandoned and https://packagist.org/packages/amzn/amazon-pay-magento-2-module is the active one.

[2021-06-26 19:50] rameshrajankk commented on #21519
I have upgraded to 2.3.3 to 2.3.4 but still, I'm having this issue.

[2021-06-26 20:17] barryvdh commented on #33346
Is this fixed with the latest Laminas Escaper release now? https://github.com/laminas/laminas-escaper/releases/tag/2.8.0
That should cast the argument to a string now.

[2021-06-26 21:39] template-provider commented on #33346
I see that a little bit different to blame magento for that... from the client it looks like a breaking change ... with a bugfix release.
https://github.com/laminas/laminas-escaper/issues/20#issuecomment-868416101
AND ... until PHP 8.0 with Attributes .... phpdoc is not an official type hint. before the method accepts other values than strings.... now it breaks.
I think the accepted pull for that

[2021-06-26 22:37] Hanhan1989 commented on #33346
After executing composer update, the problem resolved. Thanks so much

[2021-06-27 14:25] hostep commented on #33346
Confirmed, indeed upgrading `laminas/laminas-escaper` to [version 2.8.0](https://github.com/laminas/laminas-escaper/releases/tag/2.8.0) fixes this problem.

[2021-06-27 14:53] SilinMykola commented on #33294
@magento I am working on this

[2021-06-27 15:32] diegozanotti opened #33365 "Magento 2.3.6 search result page issue NO PRODUCT THUMBNAILS"
### Preconditions (*)
1. Magento 2.3.6
2. Php 7.3.2.8
3. Elasticsearch 7
4. Porto Theme (lastest version)

### Steps to reproduce (*)
1. Type a term into search bar
2. Click on search button
3. Search list page result is ok, but NO PRODUTC IMAGES, product list show placeholder image and the correct image only on mouse over product.
4. I have tried using original Luma theme (instead of Porto theme)

[2021-06-27 15:40] SilinMykola commented on #33335
@magento I am working on this

[2021-06-27 16:28] heyepic commented on #31758
Just updated to 2.4.2-p1 and I'm having the same issue. (ElasticSearch 7)

[2021-06-28 02:04] mrtuvn commented on #33346
i think upgrade laminas package is not enough. Magento also need patch from codebase too.
Note: issue not only happen in frontend but also in admin able broken function too. Ex: Go to any page create new entity (Catalog, Customer)
laminas escaper 2.8.0 => TypeError: Argument 1 passed to Laminas\Escaper\Escaper::escapeUrl() must be of the type string, int given

[2021-06-28 03:53] iphigenie commented on #22094
i have in the past had errors coming out of upgrading with core modules disabled. Seems it lead to some database changes not happening esp around views, triggers, permissions etc

[2021-06-28 05:14] rimmeh commented on #33323
that confused me too many times, finding block names in m2 is a pain

[2021-06-28 05:51] rahulks16 commented on #29777
It is an ElasticSearch7/Magento2 issue.

Take a look in vendor/magento/module-elasticsearch-7/SearchAdapter/Adapter.php

public function query(RequestInterface $request) : QueryResponse

$rawResponse['hits']['total']['value'] is not existent sometimes (why so ever).

The total value is found then in $rawResponse['hits']['total']

I guess I have to build a plugin (its a public function) and check t

[2021-06-28 06:15] venky53 opened #33367 "Wrong order ID: "5000000139". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"5000000139\". at /var/www/html/src/vendor/magento/module-paypal/Model/Ipn.php:140"
When using paypal express integration as the payment method on Magento 2.2.9 a small number of orders fail after the payment has been taken by paypal. No order is registered in Magento, but paypal takes payment and sends a confirmation to both customer and store owner.

Looking in the logs the error which seems to be associated with these orders failing is:
main.CRITICAL: Wrong order ID: "50000001

[2021-06-28 06:48] mrtuvn commented on #33357
![Screenshot from 2021-06-28 13-48-06](https://user-images.githubusercontent.com/1908873/123592518-801a8080-d817-11eb-9a2c-15635051a739.png)
can't reproduce same problem as your scenario

[2021-06-28 07:12] MarianneCA commented on #33357
Hello,

Thank you for checking but you are not in the right location (you are on an order details page, and you need to be on a customer details page).

You need to go in the backend to:
Backend > Customers > Select a customer > Addresses
Or when French language is activated:
Backend > Clients > Select a customer > Adresses
The problem occurs on a Customer page, when the Address tab is selected.

[2021-06-28 07:48] engcom-Hotel commented on #33328
Hello @kennedyabitbol ,

As per the comments, it seems that your issue has been resolved. Please let us know, if you are still facing the issue.

[2021-06-28 07:53] mrtuvn commented on #33357
aah i see ! came wrong place
Thanks for let me know

[2021-06-28 07:56] engcom-Delta commented on #33134
@magento give me 2.4-develop instance.

[2021-06-28 08:17] ticaje commented on #33134
I don't know exactly how this env can be useful to our current issue. The problem comes when setting custom prices, using an event/observer, specifically after adding a product to cart and after that switching to a different currency. On that specific moment the prices go wrong, they remain the same, no conversion. When adding a product to cart the prices come back in mini-cart to correct values.

[2021-06-28 08:32] engcom-Hotel commented on #33313
Hello @achatpc,

We have made the changes as per your comment in the Media.php file. But still we are not able to reproduce the issue in our instance.

Please let us know If we have missed anything.

[2021-06-28 08:36] engcom-Hotel commented on #33349
Hello @achatpc,

It seems that your issue has been fixed with this code change. I am closing this issue for now, you can reopen the ticket, if you still facing the issue or create new ticket in case new issue.

Thanks

[2021-06-28 08:54] engcom-Hotel commented on #26969
Hi @bartoszkubicki,

We are still waiting for your reply. Please confirm if you are still facing the issue in 2.4.x version.

[2021-06-28 08:57] engcom-Hotel commented on #31976
Hi @adam-webee ,

I hope that your issue is resolved because we did not get any update on this since more than 14 days. Hence closing the ticket.

Please feel free to raise the new ticket if you have any other issue. We will be happy to work for you.

[2021-06-28 08:57] #31976 closed, assigned to engcom-Hotel

[2021-06-28 08:59] engcom-Hotel commented on #27904
Hi @bartoszkubicki ,

I hope that your issue is resolved because we did not get any update on this since 14 days. Hence closing the ticket.

Please feel free to raise the new ticket if you have any other issue. We will be happy to work for you.

[2021-06-28 08:59] #27904 closed, assigned to engcom-Hotel

[2021-06-28 09:00] engcom-Hotel commented on #26866
Hi @bartoszkubicki,

I hope that your issue is resolved because we did not get any update on this since 14 days. Hence closing the ticket.

Please feel free to raise the new ticket if you have any other issue. We will be happy to work for you.

[2021-06-28 10:04] hostep commented on #33346
@mrtuvn: I can't reproduce what you are saying, but I'm not using a vanilla installation at the moment.

Can you add more detailed steps and maybe also a stacktrace for your case?

[2021-06-28 10:16] pcGarethJames commented on #33346
I've retested on 2.3.7 and can confirm laminas escaper 2.8.0 resolves the issue.

I'm using a set up with sample data installed, and cannot replicate the error that @mrtuvn indicates either. So more info will be required for that one

[2021-06-28 10:20] mrtuvn commented on #33346
I'm not sure but i have tested in my local dev with latest code base and upgraded laminas escaper to latest. Problem still be the same (without patch). Broken in details, category, admin(categories and product new entity page)
Error text now changed to previous text that i mentioned

[2021-06-28 10:25] engcom-Bravo commented on #33205
Hi @Abhay-Agrawal ,

As there is no update on this ticket to the above comment since few days, we are closing this issue. Please open a new ticket if you are still facing this issue.

Thanks.

[2021-06-28 10:25] #33205 closed, assigned to engcom-Bravo, thamyrisgregorio

[2021-06-28 10:29] hostep commented on #33346
@mrtuvn: do you have a stack trace?

[2021-06-28 10:30] mrtuvn commented on #33346
![Screenshot from 2021-06-28 17-29-34](https://user-images.githubusercontent.com/1908873/123622521-83713480-d836-11eb-8075-ea849321c74a.png)
category page in admin

[2021-06-28 10:33] engcom-Bravo commented on #33174
Hi @tranhoangthien1990,

As we have not received any reply for the last comment since few days, we are closing this ticket. Please open a new ticket if you are still facing this issue.

Thanks

[2021-06-28 10:35] hostep commented on #33346
Ah, I just noticed that on `2.4-develop` they also added `declare(strict_types=1);` via: https://github.com/magento/magento2/commit/1a481b435c24369b0e741e58a16e1be9a4dfee90#

That might explain it.

This line is not part of 2.4.2-p1, so it only crashes on the `2.4-develop` branch at the moment.

So that line should be released together with https://github.com/magento/magento2/pull/33353 when it is

[2021-06-28 10:51] SilinMykola commented on #33255
@magento I am working on this

[2021-06-28 10:54] khrystynastolbova commented on #33318
@magento I am working on this

[2021-06-28 11:55] engcom-November commented on #33333
@JKair,
As requested in the [last comment](https://github.com/magento/magento2/issues/33333#issuecomment-867616455), Can you please provide the configuration to enable **Paypal Express Checkout Payment** option in Admin - Create New Order page.
Thank you.

[2021-06-28 11:57] engcom-Delta commented on #33357
Hi @MarianneCA,

I have verified this issue on Magento 2.4 Develop Backend & observed we unable to reproduce it .it works as expected.

Steps followed:
1. Log in to backend(Magento 2.4 Develop admin)
2. Click on Admin icon --> select Account settings
3. Chang the Language to France (Activate) for Interface Locale field & Click on Save button
4. Click on Customers --> Select 1 customer --> click on

[2021-06-28 12:30] engcom-November commented on #33367
Hi @venky53,
Verified the issue on Latest Magento version 2.4-develop and the issue is not reproducible.
**Steps performed:**
1. Magento Admin - Configured PayPal Express Checkout payment method
2. Front End - Added the Product to cart and checkout - Paid with PayPal Express Checkout. Order placed successfully responding with Order Number.
3. Admin -> Sales -> Order Grid -> Newly created Order is

[2021-06-28 12:32] engcom-Delta commented on #33270
Hi MarianNapi,

Tried to reproduce it by following the steps provided but issue is not reproducible , it works as expected.
Kindly find attached snapshots for reference.

Steps followed  (on Magento 2.4 Develop).
1. Log into backend
2. create configurable product
3. go to file (validate.php ) path magento2/app/code/Magento/Catalog/Controller/Adminhtml/Product/Validate.php and open file in notepad

[2021-06-28 12:38] venky53 commented on #33367
Hi @engcom-November,

https://github.com/magento/magento2/issues/15427

can you fetch more information from the above url.

[2021-06-28 12:41] MarianNapi commented on #33270
Hey engcom-Delta,

after your step 5 you need to click save in the configurable product. (For example after adding a child or renaming the product) The save process then get's interrupted because of the failed validation and you are still in the edit page of your product. After this failed validation trying to remove one child removes all children.

[2021-06-28 12:46] achatpc commented on #33346
I have a lot of this issue in system.log but not sure that is related. I can not how to reproduce it.

[2021-06-28 11:59:14] main.CRITICAL: TypeError: html_entity_decode() expects parameter 1 to be string, null given in /var/www/html/vendor/magento/framework/Escaper.php:366
Stack trace:
#0 /var/www/html/vendor/magento/framework/Escaper.php(366): html_entity_decode()
#1 /var/www/html/vendor/magento

[2021-06-28 12:50] engcom-November commented on #33367
Issue is not reproducible on 2.4-develop version. Can you please try on latest version and let us know if the issue is still reproducible.
Thanks.

[2021-06-28 12:54] venky53 commented on #33367
Hi @engcom-November,

Please let me know the cause for the issue in the version I have mentioned. So that we can rectify in our instance.

Thanks

[2021-06-28 13:01] mrtuvn commented on #33357
@engcom-Delta you should test with long text case. Ui visual should be cover for as much as case possible

[2021-06-28 13:03] sivaschenko commented on #33314
@magento export issue to Jira project AC

[2021-06-28 13:08] #33314 closed, assigned to nobody

[2021-06-28 13:44] #32849 closed, assigned to nobody

[2021-06-28 13:59] ksvikas opened #33371 "Admin dashboard Most Viewed Products Tab statistics not updating."
### Summary (*)
Most View Product is not showing on Admin side in Dashboard- Most-View-Product tab.

[2021-06-28 14:03] VikasSingh1694 commented on #6098
I am facing the same issue.

[2021-06-28 14:23] karyna-tsymbal-atwix commented on #33338
@magento I am working on this

[2021-06-28 14:32] andrewbess commented on #33336
@magento I am working on this

[2021-06-28 14:41] drinkingsouls commented on #33101
My Magento CSP module config.xml:

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_uri>https://designacake.report-uri.com/r/d/csp/reportOnly</report_uri>
                    <rep

[2021-06-28 14:45] AZiniukhin commented on #33044
@magento I am working on this

[2021-06-28 14:52] anzin commented on #33207
@magento I am working on this

[2021-06-28 14:59] alinolandry commented on #33346
Yes...I got the same issue in admin Catalog -> Categories or Catalog -> product -> Clic on one product you should get same issue on M2.4.2

[2021-06-28 15:14] MarianneCA commented on #33357
Thank you Tu, I'll transfer the patch to our technical team.
Kind regards,
Marianne

[2021-06-28 15:35] msyhr commented on #33346
FYI if you're using 2.4.2.-p1, hard locking the laminas-escaper lib to 2.7.0 is probably going to be your only option for now.

![Screenshot from 2021-06-28 10-34-42](https://user-images.githubusercontent.com/22968596/123663997-92d38c00-d7fc-11eb-8c89-c0898a9b093b.png)

[2021-06-28 15:40] CHS-DanHirst opened #33374 "Setup Issue - 2.3.7"
### Preconditions (*)

1. Magento 2.3.7
2. PHP 7.2.34
3. mysql  Ver 8.0.22-13
4.

### Steps to reproduce (*)

1. Let Magento Update to 2.3.7
2. run bin/magento set:up

### Expected result (*)

1. Upgrade Magento 2 with no issues

### Actual result (*)

1. Returns the following: PHP Parse error:  syntax error, unexpected ')' in /var/www/setup/src/Magento/Setup/Module.php on line 80

### Proposed so

[2021-06-28 16:09] abude commented on #33374
@magento give me 2.4-develop instance

[2021-06-28 18:24] bartoszkubicki commented on #27904
@engcom-Hotel I didn't  have time recently to check it again. I was waiting for your response for over one year, so I don't think this should be closed just like this. I am going to examine that in two next week, so you can reopen this one.

[2021-06-28 18:24] bartoszkubicki commented on #26866
@engcom-Hotel I didn't  have time recently to check it again. I was waiting for your response for over one year, so I don't think this should be closed just like this. I am going to examine that in two next week, so you can reopen this one.

[2021-06-28 18:25] bartoszkubicki commented on #26969
@engcom-Hotel I didn't  have time recently to check it again. I am going to examine that in two next week, so you can reopen this one.

[2021-06-28 19:25] #33288 closed, assigned to drpayyne

[2021-06-28 19:25] #33291 closed, assigned to sivaschenko

[2021-06-28 19:25] #33298 closed, assigned to drpayyne

[2021-06-28 20:52] sdzhepa commented on #33174
@engcom-Bravo

Could you please clarify your questions from https://github.com/magento/magento2/issues/33174#issuecomment-860548427 ?

what exactly steps you did and what of them are not clear?
please specify what exact step or statement to actual/expected result si not clear

[2021-06-29 00:17] qhdctod commented on #32242
I've just run into this issue as well - when changing the scope of an attribute from 'website' to 'global' in Magento 2.3.4

[2021-06-29 01:51] mrtuvn commented on #33374
https://www.tutorialspoint.com/what-is-trailing-comma-in-php
you can use last comma in array without issue

[2021-06-29 03:36] Dckeystone opened #33377 "Issue with Adding Products - System Times Out"
### Preconditions (*)

1.Magento version 2.4.2
2.When adding a product to my store the system times out after taking several minutes to add the products.  502 Bad Gateway is the screen it goes to.

### Steps to reproduce (*)

1. Every time I add a product this is what happens.   Magento spins its wheel in the center of the screen for a few minutes and then times out saying 502 Bad Gateway.
2. Step

[2021-06-29 04:26] krishprakash commented on #33371
Hi @ksvikas.
Could you please provide more details as described in Issue reporting guidelines
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2021-06-29 05:08] VikasSingh1694 commented on #8098
Hi @khanhhuynh11, @duongquyet duongquyet,  @sunayan-das did you find the solution for this issue?

[2021-06-29 05:22] mattias commented on #22344
This is still an issue. We have single store mode on and still we randomly have some product attributes saving to store id 1, which over time turns into many inconsistencies. We've deleted all store id 1 values several times but we never know which one to keep.

Today there are hundreds of them to clean up carefully again. We have no idea why some attributes are saved on store id 1 when we are on

[2021-06-29 06:08] engcom-Hotel commented on #33377
Hi @Dckeystone,

I am looking into this issue meanwhile please add "Reported on {Version}" and "Component : {ComponentName}" label with this issue.

[2021-06-29 06:22] engcom-November commented on #32951
Hi @JR2Media
We are closing this ticket , as there has been no update on the same.
Thank you.

[2021-06-29 06:22] #32951 closed, assigned to engcom-November

[2021-06-29 06:25] ihor-sviziev commented on #33349
Hey @engcom-Hotel,
The issue isn't solved in the 2.4-develop branch, right? So why would you close the issue?

[2021-06-29 06:36] tyago343 commented on #33280
@magento-engcom-team I need to do something more to confirm this issue?

[2021-06-29 06:46] t-heuser opened #33378 "Logging in or out as customer via graphql doesnt create a entry in 'customer_log'"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Log in as customer via graphql
2. Log out as customer via graphql

### Expected result (*)

1. An entry in the table 'customer_log' is created

### Actual result (*)

1.  No entry in table 'customer_log' is created

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlo

[2021-06-29 06:47] oneserv-heuser commented on #33378
@magento give me 2.4-develop instance

[2021-06-29 07:04] engcom-Golf commented on #32461
@mattiteraslahti I haven’t heard back from you in a while, so I’m going to consider this as resolved.Thus Closing this Issue. Feel free to reopen if you have any further questions!

[2021-06-29 07:05] oneserv-heuser commented on #33378
I can confirm that this issue exists on an vanilla magento instance.
When logging in via the magento UI it will be logged and I can see myself as online in adminhtml under "Customers > Now Online". When using the graphql API to login this doesnt happen.

[2021-06-29 07:12] #32461 closed, assigned to engcom-Golf

[2021-06-29 07:13] engcom-Hotel commented on #32969
Hi @vandijkstef,

It seems that your issue has been resolved, since we are not receiving your comment. We are closing this ticket for now, if you are still facing the issue and any new issue, you can create new ticket.

Thanks

[2021-06-29 07:13] #32969 closed, assigned to engcom-Hotel

[2021-06-29 07:25] ronak2ram commented on #27367
@magento give me 2.4.2 instance

[2021-06-29 07:56] CHS-DanHirst commented on #33374
Thought so, maybe some PHP setting because, here is a screenshot showing the issue:
![image](https://user-images.githubusercontent.com/55755613/123759178-8eb87480-d8b7-11eb-8c2f-dc9a0e916c23.png)
![image](https://user-images.githubusercontent.com/55755613/123759298-ab54ac80-d8b7-11eb-9006-3aac6d61db22.png)

Although, the issue still happens in the interactive shell.

![image](https://user-images.g

[2021-06-29 08:15] engcom-Hotel commented on #33190
Hi @LogicalBaphomet ,

It seems that your issue has been resolved. Since we have not received your comment for more than 14 days, we are closing this ticket. In case of issue, you can create new ticket.

[2021-06-29 08:15] #33190 closed, assigned to engcom-Echo

[2021-06-29 08:17] engcom-Hotel commented on #33188
Hi @daniloab ,

As per your last comment, we are closing this issue. Still if you are facing any issue, you can create new tickets.

[2021-06-29 08:17] #33188 closed, assigned to engcom-Hotel

[2021-06-29 08:20] mrtuvn commented on #33374
i think you should try revert your code change!

[2021-06-29 08:21] achatpc commented on #33349
Hello, do you have same issue ?

[2021-06-29 08:23] engcom-Hotel commented on #27011
Hi Ghost,

It seems that your issue has been resolved. Since we have not received any comment from your side after more than 14 days, we are closing this issue.

[2021-06-29 08:23] #27011 closed, assigned to engcom-Hotel

[2021-06-29 08:26] CHS-DanHirst commented on #33374
Thanks, even if i did its still in the source code?

https://github.com/magento/magento2/blob/2.3/setup/src/Magento/Setup/Module.php

![image](https://user-images.githubusercontent.com/55755613/123763792-0e484280-d8bc-11eb-834b-716f79a8a610.png)

[2021-06-29 08:51] SilinMykola commented on #33310
@magento I am working on this

[2021-06-29 09:01] kennedyabitbol commented on #33328
I did not tried more :(

[2021-06-29 09:11] siliconalchemy commented on #30194
Hint: Magento don't care about closed issues, and they close them as quickly as they can (suspect they get paid by closed issue!).  No point bumping closed issues, raise new ones.
This is also covered in #30540.

[2021-06-29 09:30] pemann opened #33379 "Invoice sums calculated wrong if discount (incl tax) is more than subtotal excl. tax"
### Preconditions (*)

1. M2.4.2-p1 with a free shipping option.

### Steps to reproduce (*)

1. Setup M2 shop were prices are displayed including taxes.
2. Create a tax rate 20%
3. Set "Apply Discount On Prices" as including tax
4. Set "Display Full Tax Summary" to Yes under "Orders, Invoices, ..."
5. Create a discount code of 100€ that is applied as "Fixed amount discount for whole cart"
6. Crea

[2021-06-29 09:43] ksvikas commented on #33371
In magento admin dashboard no products are showing in most viewed product grid if all product are in different attribute sets (not in default attribute set), even with magento sample data this grid is always displaying "We couldn't find any records.".
while visit to many products with registered user.

**Preconditions**

Magento ver. 2.4.1  with sample data

**Steps to reproduce**

Login to magent

[2021-06-29 09:44] ksvikas commented on #33371
@krishprakash, please check that issue.

[2021-06-29 09:51] braders opened #33380 "Bundle import broken when option name contains a question mark."
I have a client who is making heavy use of bundle products, and are facing an issue when importing these products via CSV. This is affecting bundles, where the bundle option name contains a question mark.

For example, consider a site selling toys. They may have a bundle like the following:

**Option 1**
Name: Select a toy
Products: A selection of toys

**Option 2**
Name: Need batteries? Add them

[2021-06-29 09:53] braders commented on #33380
@magento give me 2.4-develop instance

[2021-06-29 10:00] braders commented on #33380
I can confirm that I have reproduced on the fresh 2.4-develop instance:

![Screenshot 2021-06-29 105954](https://user-images.githubusercontent.com/1931323/123778606-2c686f80-d8c9-11eb-9399-ae31da80b325.jpg)

[2021-06-29 10:02] engcom-Delta commented on #33195
Hi @BernardRobbins.
Kindly provide clear issue description , steps to reproduce , Actual results and Expected results.
Hence, adding the 'Needs update' Label.

Thanks

[2021-06-29 10:05] hostep commented on #33374
@CHS-DanHirst: you are using the wrong PHP version I believe.

Magento 2.3.7 [dropped support for PHP 7.2](https://devdocs.magento.com/guides/v2.3/release-notes/open-source-2-3-7.html#platform-upgrades), you need 7.3 or even preferably 7.4:

It looks like that syntax didn't work properly on PHP 7.2, it started working in PHP 7.3, see this demo: https://3v4l.org/qZhYY

[2021-06-29 10:07] CHS-DanHirst commented on #33374
Ah apologies, Thanks - Closing Issue

[2021-06-29 10:07] #33374 closed, assigned to engcom-Delta

[2021-06-29 10:17] engcom-Hotel commented on #33377
@magento give me 2.4-develop instance

[2021-06-29 10:19] magento-engcom-team commented on #32996
@paras89 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-29 10:52] anzin commented on #33206
@magento I am working on this

[2021-06-29 11:11] gabrieldagama commented on #33119
Closing this one as a duplicate of https://github.com/magento/magento2/issues/32292.

[2021-06-29 11:11] #33119 closed, assigned to engcom-Alfa

[2021-06-29 11:22] engcom-November commented on #32345
Hi @micwallace,
Issue related to bundle extension is not part of this repository. Please contact the extension owner support on the marketplace (https://marketplace.magento.com/extensions.html) page.
Thank you.

[2021-06-29 11:22] #32345 closed, assigned to nobody

[2021-06-29 11:44] apachler opened #33381 "Captcha image for password reset not displayed if S3 storage adapter is active"
### Preconditions (*)
1. Magento 2.4.2
2. PHP 7.4
3. Activated S3 storage adapter in Magento

### Steps to reproduce (*)
1. Browse to "/customer/account/forgotpassword/" or "/backendfrontname/admin/auth/forgotpassword/"

### Expected result (*)
1. The captcha image is shown

### Actual result (*)
1. The captcha image is NOT shown

### Details

Since the S3 storage adapter is active, the captcha im

[2021-06-29 12:16] sivaschenko commented on #33335
@magento export issue to Jira project AC

[2021-06-29 12:20] pemann commented on #33379
@magento give me 2.4-develop instance

[2021-06-29 12:20] sivaschenko commented on #32871
@magento export issue to Jira project AC as story

[2021-06-29 12:21] sivaschenko commented on #32871
@magento export issue to Jira project AC as Story

[2021-06-29 12:32] sivaschenko commented on #32864
@magento export issue to Jira project AC as Story

[2021-06-29 12:35] sivaschenko commented on #33337
@magento export issue to Jira project AC as Story

[2021-06-29 12:36] sivaschenko commented on #33209
@magento export issue to Jira project AC as Story

[2021-06-29 12:43] engcom-Hotel commented on #33377
Hi @Dckeystone ,

We have tried to reproduce the issue in version 2.4-develop, but unable to reproduce the same. We have followed below steps:

1. Create configurable product.
2. Fill all mandatory fields.
3. Create configurations with color and size of the product.
4. Click on save, to create the product.

Please let us know if we need to perform any specific step in order to reproduce the issue.

[2021-06-29 12:47] #33379 closed, assigned to engcom-November

[2021-06-29 12:58] engcom-Bravo commented on #32538
Hi @psydog-1101 ,

As we have not heard from you on our last comment, we are closing this issue. Please raise a new ticket if the issue still exists.

Thanks

[2021-06-29 12:58] #32538 closed, assigned to engcom-Bravo

[2021-06-29 12:59] vlmed commented on #33091
@magento I am working on this

[2021-06-29 13:02] engcom-Bravo commented on #31915
Hi @bagbarn ,

As we have not heard from you since few days on our last comment, we are closing this ticket. Please raise a new ticket if the issue still exists.

Thanks

[2021-06-29 13:02] #31915 closed, assigned to engcom-Bravo

[2021-06-29 13:14] sivaschenko commented on #33207
@magento export issue to Jira project AC as Story

[2021-06-29 13:14] sivaschenko commented on #33206
@magento export issue to Jira project AC as Story

[2021-06-29 13:39] TomashKhamlai commented on #33101
@magento give me 2.4-develop instance

[2021-06-29 13:42] bagbarn commented on #31915
Adobe is a great marketing tool for their competitors.   We are leaving the Magento Platform asap
    On Tuesday, June 29, 2021, 06:02:44 AM MST, Keerthana SL ***@***.***> wrote:

Hi @bagbarn ,

As we have not heard from you since few days on our last comment, we are closing this ticket. Please raise a new ticket if the issue still exists.

Thanks

—
You are receiving this because you were mention

[2021-06-29 13:45] engcom-Hotel commented on #33349
Hi @achatpc,

Looks like PR has been created before the issue confirmation(Issue confirmation label was not added). And also when we try to reproduce the issue in version 2.4-develop, we were not able to do so. So hence we thought that PR has implemented, so the issue has been closed.

So PR is in open status, we are reopening the issue. We will be putting this ticket in Needs Update status as we

[2021-06-29 13:54] dino6213221 commented on #28706
Hello. I have the same issue while saving CMS page on M2.4.2-p1. Is there any temporary fix for this?

[2021-06-29 13:58] engcom-Hotel commented on #13952
Hi @amitvishvakarma ,

Thanks for the suggestion!

Earlier we have tried it manually and unable to reproduce. We will try to reproduce the issue using some performance tools like JMeter.

Thanks

[2021-06-29 14:13] t-heuser opened #33383 "Add deleteCustomer mutation"
*As a developer I want to be able to delete a customer via graphql so that I can build a button for customers to click on to delete their account when logged in to comply with the GDPR.*

### AC
* A mutation exists with the name 'deleteCustomer' which takes no arguments and returns a boolean and is capable of throwing an exception if anything went wrong.
* Calling the mutation will delete the cust

[2021-06-29 14:14] oneserv-heuser commented on #33383
I can confirm that this mutation doesn't exist on a magento vanilla instance 😄

[2021-06-29 14:14] oneserv-heuser commented on #33383
I can confirm that this mutation doesn't exist on a magento vanilla instance 😄

[2021-06-29 14:37] engcom-Hotel commented on #33244
Hi @tuyennn ,

Thanks for your reply!

We are reopening this ticket and we will get back to you with our findings.

Thanks

[2021-06-29 15:04] khrystynastolbova commented on #33234
@magento I am working on this

[2021-06-29 15:32] sdzhepa commented on #33349
@engcom-Hotel   thank you for the updates.

You mentioned that

Could you please provide more details on how you tried to reproduce it?
E.g. steps to reproduce, results of code investigation, or any other actions that were performed with actual results

Thank you in advance

[2021-06-29 15:39] drdreamm commented on #30046
fix this please

[2021-06-29 16:10] rou9e commented on #11692
@matteolavaggi Same problem for me on 2.4.2. Did you manage to fix this ?

[2021-06-29 18:01] matteolavaggi commented on #11692
No, this seem to be a bug not yet fixed, I can only suppose this is related in the way varnish ask for that file and in the way Magento index handle it. I've disable probe check to be able use varnish .

[2021-06-29 18:55] anzin commented on #33307
@magento I am working on this

[2021-06-29 19:03] barryvdh commented on #30613
So we're a few months further and so far the only viable options seem to be:

 - Pretend like everything is fine and keep using Luma with RequireJS, loading tons of libraries without needing them
 - Let Luma/RequireJS die and ignore it, just move to Venia PWA. But Magento developers don't actually want to write just Javascript..
 - Kill all the javascript loaders and use 'inline' scripting like Al

[2021-06-29 19:53] khrystynastolbova commented on #33383
@magento I am working on this

[2021-06-30 00:22] mrtuvn commented on #30613
From my observe frontend performant improved a lot when compare to previous. Jquery already migrating internally. Maybe it's time for us to recheck and remove unnecessary stuff. Clean up jquery ui for minimal. Loose coupling with 3rd party libs

[2021-06-30 06:06] ioweb-gr opened #33386 "setup:upgrade is changing indexer mode to `save` from `schedule` slowing it down immensely"
I have a fairly large catalog on a website and I've noticed that sometimes setup:upgrade takes a very very long time to complete. More than 30 minutes.
It's not always occuring which makes it hard to track but by carefully examining what is happening I noticed that the command is dropping and recreating the database triggers when the indexers are set on scheduled mode. However with the indexers on

[2021-06-30 06:06] ioweb-gr commented on #33386
I'm not able to test this on the demo instance.

[2021-06-30 06:13] JKair commented on #33333
![image](https://user-images.githubusercontent.com/5440088/123910636-53986d00-d9ad-11eb-90a3-d0489b4152e5.png)
@engcom-November

[2021-06-30 06:16] JKair commented on #33333
@engcom-November
![image](https://user-images.githubusercontent.com/5440088/123910751-7aef3a00-d9ad-11eb-874d-956d23317c20.png)
I set it up according to the tutorial, but select option disappear,and the payment is same as front.

[2021-06-30 06:16] JKair commented on #33333
@engcom-November
I set it up according to the tutorial, but select option disappear,and the payment is same as front.

![image](https://user-images.githubusercontent.com/5440088/123910991-c99cd400-d9ad-11eb-9224-b4df02abe257.png)

[2021-06-30 07:07] rohan-magento opened #33387 "GraphQl products query layered navigation filters return incorrect child categories list"
### Preconditions (*)

1. Magento 2.4.1 Adobe Commerce & Open Souce both.
2. Use sample data to reproduce the issue

### Steps to reproduce (*)

1. Use below GraphqlQl request with sample data setup
Use category ID - 21 with default store code in the header

`
query {
  products(filter: {category_id: {eq: "21"}}) {
    aggregations {
      attribute_code
      count
      label
      options {

[2021-06-30 07:14] engcom-November commented on #32769
Hi @ksaltik,

We are closing this ticket , as there has been no update on the same.
Thank you.

[2021-06-30 07:20] khrystynastolbova commented on #33378
@magento I am working on this

[2021-06-30 07:25] #32769 closed, assigned to engcom-November

[2021-06-30 07:27] engcom-Hotel commented on #33349
Hello @sdzhepa ,

I have followed below steps in order to reproduce this issue:
1. Setup fresh Magento 2.4-develop
2. Create a product with default image (magento placeholder).
3. Clear the cache.
4. Check the product detail page for product placholder. We are getting Magento's default image placeholder. Please refer below screenshot:
![Test-Product](https://user-images.githubusercontent.com/51681

[2021-06-30 07:32] rohan-magento commented on #33387
@magento give me 2.4-develop instance

[2021-06-30 07:40] rohan-magento commented on #33387
I can confirm that the same issue exists on the vanilla Magento instance too.

![image](https://user-images.githubusercontent.com/75991143/123921200-5fcbfc80-d9a4-11eb-8103-a1e56d9665b8.png)

![image](https://user-images.githubusercontent.com/75991143/123921285-7a05da80-d9a4-11eb-8eb9-c2efefbf7674.png)

[2021-06-30 07:41] VikasSingh1694 opened #33389 "Admin dashboard Most Viewed Products Tab statistics not updating, database table also not updating."
### Summary (*)
In the Magento admin dashboard, no products are showing in the most viewed product grid if all products are in different attribute sets (not in default attribute set), even with Magento sample data this grid is always displaying "We couldn't find any records.".
while a visit to many products with registered users.

**Preconditions**

Magento ver. 2.4.1  with sample data

**Steps to

[2021-06-30 07:57] rou9e commented on #11692
Damn. Struggling for 2 days on this.
I may have find a [solution](https://github.com/magento/magento2/issues/11692#issuecomment-341159295) :

[code]

On my instance, http server (backend) would be setup on _my-website.com.localhost_ and http cache (varnish) on _my-website.com_

[code]

I hope it helps

[2021-06-30 08:09] avstaylime opened #33390 "Unable to upload the same Vimeo video twice"
### Preconditions (*)

1. Discovered on Magento 2.3.5-p1.
2. To my knowledge, still not fixed in 2.4.x.

### Steps to reproduce (*)

1. Upload a Vimeo video to one of products in the catalog and save.
2. Go to another product and add the same Vimeo video and try to save the product.

### Expected result (*)

1. Video has been successfully added.

### Actual result (*)

1. The error below prevents

[2021-06-30 08:11] avstaylime commented on #33390
To fix the issue, we edited `vendor/magento/framework/File/Uploader.php`, the method `public static function getNewFileName($destinationFile)`

[code]

[2021-06-30 08:15] engcom-Hotel commented on #31051
Hi @Scarbous,

As we are unable to hear from you since past 14 days. Hence we are closing this issue. If you still facing the issue, either you can reopen this or create a new ticket.

Thanks

[2021-06-30 08:15] #31051 closed, assigned to engcom-Hotel

[2021-06-30 08:25] engcom-Hotel commented on #32705
Hi @jigar48,

As per the comment by @engcom-Echo, the XML extension is protected file extension. So you are not able to do so. Are you able to perform the task with some other type of file.

Thanks

[2021-06-30 08:31] engcom-November commented on #33050
Verified the issue on Magento Version 2.4-develop and the issue is reproducible.
**Steps Performed:**
1. Set the "Display Billing Address On" setting to "Payment page";
    ("Stores > Configuration > Sales > Checkout > Checkout options > Display billing address on")
2. Go to checkout payment step as a guest;
3. Do not enter Shipping address and click on Next button - No API request is triggered.
4

[2021-06-30 08:31] engcom-Hotel commented on #31742
Hello @HenKun ,

It seems that your issue has been resolved, since we have not received any reply from your side for past 14 days. Hence we are closing this issue. You can either reopen it, in case you are still facing the issue or create a new ticket.

Thanks

[2021-06-30 08:31] #31742 closed, assigned to engcom-Echo, engcom-Hotel

[2021-06-30 08:51] karyna-t opened #33391 "Eliminate laminas-mvc from Magento\Framework\Console\Cli"
This ticket is related to <https://github.com/magento/magento2/issues/33338>

Magento/Framework/Console/Cli.php uses Magento/Setup/Application class, which, in turn, uses Laminas\Mvc.

We need to investigate how to get rid of Magento/Setup/Application.php class (or its laminas dependency)
### Resolution

Removing this dependency from the Magento code leads to a large refactoring of installation fu

[2021-06-30 09:01] engcom-Delta commented on #33237
Hi @mushketer888,

Tried to reproduce the issue but step 2 is not clear , Hence Kindly provide steps for Creating credit memo.

Therefore , Added the label 'Needs update'.

Thanks

[2021-06-30 09:05] Scarbous commented on #31051
When I use the 'validate-date-range' with a custom DateFormat in a backend Form the form dosnt take the configured DateFormat.
In my case I want to use an german DateFormat.

[2021-06-30 09:15] karyna-tsymbal-atwix commented on #33391
@magento I am working on this

[2021-06-30 10:02] AZiniukhin commented on #33160
@magento I am working on this

[2021-06-30 10:15] ChameleonDevil commented on #25430
Can also confirm that in `Magento 2.3.5` this still works, but overall just `DELETE`ing the unused attributes from the `eav_attribute` table as described is still better in some cases.

NOTE:_**(I have a new migration from Magento 1, so have no need for these related attribute data_ **

[2021-06-30 11:04] engcom-Delta commented on #33390
Hi @avstaylime,

Tried reproducing the issue on Magento 2.4 Develop, it is producible and able to see the same,
Followed Steps:
1. Log into Backend
2. Click on 'Catalog--> Product'
3. Select anyone product and go to Images & Video
4. Click on Add Video
5. Provide vimeo video url and select the video url
6. Click on Save button
7. Again open another product and go to vimeo video url
8. Provide site

[2021-06-30 11:22] karyna-tsymbal-atwix commented on #33305
@magento I am working on this

[2021-06-30 11:45] engcom-Delta commented on #33343
Hi @prasannanwr,
Tried to reproduce the issue on Magento version 2.4.0 with provided steps, but we are unable to reproduce it.it works as expected.

Please find the attached snapshot for reference. Kindly see if you can provide more steps to replicate the issue.
![Default_configurations_set for country](https://user-images.githubusercontent.com/51681379/123955048-c9f59900-d9c6-11eb-9182-541fcea77c

[2021-06-30 12:27] engcom-November commented on #32180
Verified the issue on Magento 2.4-develop version and the product count and pagination issue is resolved now when there are more than 100 products in Admin -> Catalog -> Products page:
@batmike Can you please verify the issue on latest Magento version and confirm if this is still reproducible.
![image](https://user-images.githubusercontent.com/60198231/123960015-72f2c280-d9cc-11eb-89b5-31e70f71656

[2021-06-30 12:32] qsolutions-pl commented on #3832
If anyone follows this... bug is always visible if you configurethis:
![image](https://user-images.githubusercontent.com/4256191/123960743-f3ef9100-d9af-11eb-8e14-2146d6dd93b9.png)

[2021-06-30 12:35] anzin commented on #33308
@magento I am working on this

[2021-06-30 12:59] #32180 closed, assigned to krishprakash, engcom-November

[2021-06-30 13:21] #32961 closed, assigned to nobody

[2021-06-30 13:24] sdzhepa opened #33393 "[test issue] confirmation flow and creation of internal MC Jira ticket"

[2021-06-30 13:56] mmezhensky commented on #33194
@magento I am working on this

[2021-06-30 13:59] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-06-30 14:16] sivaschenko commented on #33194
@magento export issue to Jira project AC as Story

[2021-06-30 14:19] sivaschenko commented on #33308
@magento export issue to Jira project AC as Story

[2021-06-30 14:20] sivaschenko commented on #32866
@magento export issue to Jira project AC as Story

[2021-06-30 14:24] LordHansolo opened #33394 ""Add to Cart" button on product details page after buy all product quantity"
### Preconditions (*)
1. Magento Open Source 2.4.2

### Steps to reproduce (*)
1. Create test source
2. Create test stock
3. Assing source and Main Website to test stock
4. Assign Simple Product to source
5. Buy all available product quantity on Main Website
6. Go back to product details page

### Expected result (*)
1. "Out of stock" information appears instead "Add to Cart" button
![out_of_stock

[2021-06-30 14:25] sivaschenko commented on #33293
@magento export issue to Jira project AC as Story

[2021-06-30 14:27] sivaschenko commented on #33292
@magento export issue to Jira project AC as Story

[2021-06-30 14:28] sivaschenko commented on #33304
@magento export issue to Jira project AC as Story

[2021-06-30 14:30] sivaschenko commented on #33306
@magento export issue to Jira project AC as Story

[2021-06-30 14:31] sivaschenko commented on #33339
@magento export issue to Jira project AC as Story

[2021-06-30 14:33] sivaschenko commented on #32872
@magento export issue to Jira project AC as Story

[2021-06-30 14:35] sivaschenko commented on #33294
@magento export issue to Jira project AC as Story

[2021-06-30 14:37] sivaschenko commented on #33338
@magento export issue to Jira project AC as Story

[2021-06-30 14:39] sivaschenko commented on #33391
@magento export issue to Jira project AC as Story

[2021-06-30 14:40] sivaschenko commented on #33336
@magento export issue to Jira project AC as Story

[2021-06-30 14:41] sivaschenko commented on #33307
@magento export issue to Jira project AC as Story

[2021-06-30 14:44] sivaschenko commented on #33305
@magento export issue to Jira project AC as Story

[2021-06-30 14:48] vseager opened #33395 "Single-Store Mode: Can't view new CMS Pages (Content > Pages)"
If the site is set to `Single Store Mode`, when you create a new CMS page, the URL rewrite is not added to the rewrite table and therefore the page is not accessible via the `URL Key` set in the admin.

### Preconditions (*)

1. Magento 2.4.2-p1
2. Brand new Magento installation, Luma theme

### Steps to reproduce (*)

1. Go to `Stores > Configuration > General > Single-Store Mode`
2. Set "Enable

[2021-06-30 14:49] sivaschenko commented on #33192
Hi @rvitaliy I will close this issue as we have separate issues for each specific dependency update

[2021-06-30 14:49] #33192 closed, assigned to nobody

[2021-06-30 15:15] sivaschenko commented on #33309
@magento export issue to Jira project AC as Story

[2021-06-30 15:16] sivaschenko commented on #33303
@magento export issue to Jira project AC as Story

[2021-06-30 15:16] sivaschenko commented on #33302
@magento export issue to Jira project AC as Story

[2021-06-30 15:16] sivaschenko commented on #33301
@magento export issue to Jira project AC as Story

[2021-06-30 15:16] sivaschenko commented on #33300
@magento export issue to Jira project AC as Story

[2021-06-30 15:16] sivaschenko commented on #33297
@magento export issue to Jira project AC as Story

[2021-06-30 15:16] sivaschenko commented on #33295
@magento export issue to Jira project AC as Story

[2021-06-30 18:10] ia-gaurav commented on #30214
can this be fixed in later release ?

[2021-06-30 19:19] hostep commented on #33390
Sounds like a duplicate of https://github.com/magento/magento2/issues/33276 & https://github.com/magento/magento2/issues/33266

Possible fix: https://github.com/magento/magento2/pull/33260 (I'm not 100% sure because the line numbers in the error are different)

[2021-06-30 20:13] magento-engcom-team commented on #33393
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42757` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-30 20:22] #33393 closed, assigned to nobody

[2021-06-30 21:26] ueltonVeslei commented on #29797
Worked for me, thx buddy

[2021-06-30 21:50] gomesrafael commented on #27524
@magento give me 2.4-develop instance

[2021-07-01 04:40] prabhakaran777 commented on #33387
@rohan-magento is that we are not indexing category related data in elastic search index right ?

[2021-07-01 05:04] rohan-magento commented on #33387
@prabhakaran777 Yes, indexing and elastic search are all good but still, this issue exists.

[2021-07-01 05:30] prabhakaran777 commented on #33387
@rohan-magento yeah. do you have any idea for this problem.

[2021-07-01 06:09] engcom-November commented on #33213
Verified the issue on Magento version 2.4-develop and the issue is reproducible:
**Steps:**
1. Admin -> Stores -> All Stores -> Create new Website and Save
2. Admin -> Stores -> All Stores -> Open newly created Website -
**Issue: Default Store drop down is getting displayed which is not selectable**  as the new store is not created.
Default Store drop down from Website page is selectable only afte

[2021-07-01 06:12] karyna-tsymbal-atwix commented on #33295
@magento I am working on this

[2021-07-01 07:23] magento-engcom-team commented on #33331
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42761` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 07:34] mrtuvn commented on #3832
@magento give me 2.4-develop instance

[2021-07-01 07:37] mrtuvn commented on #3832
@qsolutions-pl what else the preconditions for the issue to reproduce problem ?

[2021-07-01 08:23] magento-engcom-team commented on #33390
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42762` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 08:33] magento-engcom-team commented on #33213
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42763` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 08:51] engcom-November commented on #33395
Verified the issue on both Magento versions 2.4.2-p1 and 2.4-develop and the issue is not reproducible:
**Steps performed:**
1. Admin -> Go to Stores > Configuration > General > Single-Store Mode
2. Set "Enable Single-Store Mode" to Yes
3. Go to Content > Pages and create a new page
4. Clear cache and try to view new page on the frontend
**No issue: I'm  able to access newly created page on Fronte

[2021-07-01 09:35] engcom-November commented on #33254
@mikamarkus , Can you please recheck and confirm if the issue is still reproducible. With above steps followed [mentioned in comment](https://github.com/magento/magento2/issues/33254#issuecomment-863124138), I'm not able to reproduce the issue. If the issue is still reproducible, please provide the missing steps if any.
Thank you.

[2021-07-01 09:54] engcom-Delta commented on #33134
@magento give me 2.4.2 instance.

[2021-07-01 10:05] engcom-Golf commented on #33259
@webgility-amazonapi Can you please update the description mentioning about Specific **Magento version**. Also Rush Fee and Oversize fee are the custom attributes ?

[2021-07-01 10:28] engcom-November commented on #33394
Verified the issue on Latest Magento version 2.4.2 and the issue is reproducible:
**Steps to reproduce:**
1. Add new Source (Stores -> Inventory -> Sources -> Add New Source)
2. Add new Stock (Stores -> Inventory -> Stocks -> Add New Stock -> Assign main website and newly created source)
3. Create new Simple Product and assign Source.
4. Front End -> Buy all the product quantity
5. Clear cache and

[2021-07-01 10:52] f1-outsourcing commented on #32150
Hi @Den4ik I prefer to run via wget scheduled order/invoice emails. I have no idea what other tasks can be scheduled also. But I want these emails to go out instantly.

You have to think about that at some point in the future your magento instance is going to be ran in a container.  So that means no local shell access no local cron. With your current solution that would mean you have to create and

[2021-07-01 10:56] niklaswolf commented on #33281
@engcom-Delta  this issue is still not marked as confirmed, even though you said so...

[2021-07-01 11:06] ihor-sviziev commented on #32150
@f1-outsourcing,
Unfortunately, there a lot of different cron jobs are running. There are email sending, quotes cleanups, async indexing, some CRONs from 3rt party extensions, and much more. From the first look, it looks pretty simple, but sometimes it's not.

Even with email sending, there could be different limits - sending 1 email is for sure faster than sending 50 emails, especially when you s

[2021-07-01 11:14] engcom-Hotel commented on #33389
Hello @VikasSingh1694,

I suggest you to please click on "Reload Data" button on the admin dashboard and check if "Most Viewed Products" are coming the related tab or not.

You can also try on the magento 2 admin panel , go to reports -> statistics -> click on refresh statistics -> on this page select all the values from the top and choose refresh lifetime statistics -> then click on submit.

Plea

[2021-07-01 11:16] engcom-Delta commented on #26960
Hi @marvinhinz,

Tried reproducing the issue on Magento 2.4 Develop. we are not able to reproduce it , it works as expected.
Please find the attached snapshots for reference.

![html_tag1](https://user-images.githubusercontent.com/51681379/124115807-db54a900-da8b-11eb-84bc-c4a6e5aa3f54.jpg)
![Magento_tag2](https://user-images.githubusercontent.com/51681379/124115850-e6a7d480-da8b-11eb-859f-ce801bb

[2021-07-01 11:17] sabareesh-warlock commented on #32703
@engcom-Alfa  @magento-engcom-team  @gabrieldagama  I am not getting any Error but iam having the more than 200 simple product under the some configurable product but it is not indexing in the ES. Iam working on Magento 2.4.2 and ElasticSearch 7.5.2

[2021-07-01 11:19] engcom-Hotel commented on #18752
Hi @adammprost,

It seems that your issue has been resolved. We are unable to get your response since 14 days, hence we are closing this issue for now.

If you still facing the issue, you can reopen the ticket or create a new ticket.

Thanks

[2021-07-01 11:19] #18752 closed, assigned to engcom-Hotel

[2021-07-01 12:52] karyna-tsymbal-atwix commented on #33297
@magento I am working on this

[2021-07-01 13:12] magento-engcom-team commented on #33050
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42766` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 13:38] magento-engcom-team commented on #33147
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42767` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 13:48] magento-engcom-team commented on #33255
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42768` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 13:50] magento-engcom-team commented on #32670
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42769` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 13:56] amenk opened #33398 "is_anchor is not working on store level if the categories are disabled on global level"
### Preconditions (*)
1. Magento 2.4-develop (seen originally on 2.3.4-p2)
2. Multi store setup

### Steps to reproduce (*)
1. Create category "Parent" in Admin store, deactivate it, is anchor = true
2. Create category "Parent -> Child" In Admins store as a child, deactivate it, is anchor = true
3. Now assign a product to The Child category
4. Go to a store view, enable the Parent and the Child Ca

[2021-07-01 13:56] amenk commented on #33398
@magento give me 2.4-develop instance

[2021-07-01 14:07] engcom-Delta commented on #32277
There is no update from reporter from reporter and it has been ~14 days. Hence , closing the ticket.
if required kindly open new issue or re-open existing ticket.

[2021-07-01 14:07] #32277 closed, assigned to engcom-Delta

[2021-07-01 14:09] engcom-Delta commented on #33121
There is no update from reporter and it has been ~14 days. Hence , closing the ticket.
if required kindly open new issue or re-open existing ticket.

[2021-07-01 14:09] #33121 closed, assigned to engcom-Echo

[2021-07-01 14:17] engcom-Delta commented on #29534
There  has no update from reporter and it has been ~14 days. Hence closing the ticket.
Kindly log new ticket if required or re-open the existing issue.

[2021-07-01 14:17] #29534 closed, assigned to engcom-Delta