[2018-03-01 08:30] andrewhowdencom commented on #11512
Hola @magento-engcom-team;

Can you explain more behind the "non-issue" tag? I'd argue this is an issue, as it makes it difficult to determine when the application is failing due to load (a fine, transient condition) and critically broken though the status code analysis.

[2018-03-01 08:55] magento-engcom-team commented on #13875
Hello @Heunsig,
In this case, you need to contact support Godaddy to resolve this issue.

[2018-03-01 08:57] #13875 closed, assigned to nobody

[2018-03-01 08:58] magento-engcom-team commented on #13875
@Heunsig, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-01 09:11] magento-engcom-team commented on #13895
Hello @SeaLuke. Thanks for reporting. Tell us please have You installed any Italian language pack on Your Magento Instance?

[2018-03-01 09:17] al1357 opened #13903 "Cart subtotal is calculated incorrectly for certain prices"
Subtotal in cart is calculated incorrectly for certain prices. For other prices it is correct though. In my case it was rounded down.

### Preconditions
1. Tested on Magento CE 2.1.10 and 2.2.3
2. PHP 7.0.20 (cgi-fcgi)

### Steps to reproduce
1. Set product price to **5.36**, apply **10%** tax. Product price with tax is **5.9**
2. Configuration - "Sales" > "Tax" > "Shopping Cart Display Settings";

[2018-03-01 09:20] pravalitera commented on #12828
@lingwooc Welcome to Magento 2 World, a world that maintains 3 branches, 2.0, 2.1 and 2.2, and you dont't know why when you understand how many bugs are corrected in 2.2, and not in 2.1, in 2.1 and not in 2.0. And when they close tickets saying "solved in 2.3". And you just want to slap everyone.

[2018-03-01 09:22] ishakhsuvarov commented on #11512
Hi @andrewhowdencom,
The issue has been closed by mistake, we are reopening it now.
Sorry for the inconvenience.

[2018-03-01 09:29] Yonn-Trimoreau commented on #12828
Hopefully you can backport this yourself by making your own module (this fix is not too hard.. and I explained how to do it in your own module before).. Or you could update to latest version.. Still, maintaining 3 branches at a time seems like a whole lot of mess..

[2018-03-01 09:33] erlisdhima commented on #6151
I am having the same issue with 2.1.10. To verify if this was fixed, I setup a clean Magento 2.1.12 instance, and the issue is still there.
When I try to remove an item from the cart:

![screenshot from 2018-03-01 10-17-03](https://user-images.githubusercontent.com/7734108/36836924-0a34d20c-1d3b-11e8-9ce2-96056f1ebc30.png)

When updating the QTY:

![screenshot from 2018-03-01 10-17-17](https://use

[2018-03-01 09:47] lingwooc commented on #12828
It is at least tagged as being fixed in 2.2.x now. I do wonder how many sites can't/couldnt sell to people with and blockers and they don't even know!

Sadly having three branches isn't the worst of the mess :( and this is just the result of disgracefully crap testing

[2018-03-01 09:51] SeaLuke commented on #13895
Ciao amici, I installed "magento-2-italian-language-pack-master.zip" into a public directory and I unpacked it like a screenshot 3, then i went to my account to change language and after i clean the chache. I've followed this guide: - [](https://magento.stackexchange.com/questions/113847/magento-2-how-do-i-change-the-locale-of-admin-backend ) - [](https://www.mageplaza.com/magento-2-italian-langua

[2018-03-01 09:55] orlangur commented on #13880
Do you a "Thank you for your subscription." message again on other pages? This is expected behavior that until you see such session messages on some page they will be gathered and then displayed all at once.

[2018-03-01 09:57] pravalitera commented on #12828
@lingwooc The big problem is that it seems some tickets are noted "Fixed in 2.2.x", and when you check merges, it is not true... I don't know for this particular bug, but i saw many threads where people are asking question such as "I can't find it in 2.2.x, am i wrong ? " with no further response...

[2018-03-01 09:59] magento-engcom-team commented on #13902
@thlassche, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-03-01 10:02] magento-engcom-team commented on #13899
@sl02, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 10:02] lingwooc commented on #12828
@pravalitera oh...well...what can you say? At least we aren't paying them for it.

[2018-03-01 10:04] sivajik34 commented on #10141
$attribute = $objectManager->create('\Magento\Catalog\Model\ResourceModel\Eav\Attribute');
                $attributeInfo = $attribute->getCollection()
                        ->addFieldToFilter('attribute_code', ['eq' => "city"])
                        ->getFirstItem();

                $id = $attributeInfo->getSource()->getOptionId($data['city']);

i'm also getting same issue

[2018-03-01 10:08] openwavecomputing opened #13905 "Magento 2 Admin login not working properly"
**Magento 2 Admin login not working properly.**

I can't seem to login into my magento 2 backend. When I enter the correct credentials it just redirects me to the login page with no error.

It will work good only after browser cache was cleaned. Can you please tell me the permanent solution for this because i'm not in the position to ask my client each and every time clear your browser cache.

###

[2018-03-01 10:17] Yonn-Trimoreau commented on #12828
But some Enterprise users are paying for it.. And paying quite a good amount of cash.. I'm not one of them and I still prefer fixing stuff myself, and for the community..

[2018-03-01 10:19] akhileshlpatel commented on #13889
@magento-engcom-team Thanks for the reply. Yes may be you didn't get the the issue in first time. Please check with different products and browsers if possible. Also I didn't check this in version 2.2.3 but I have checked this in version 2.2.2 and we faced this in many different setups.

![1](https://user-images.githubusercontent.com/456806/36839360-ed806b9e-1d67-11e8-8c5f-8ae51302bcaa.png)
![2](h

[2018-03-01 10:20] sivajik34 commented on #10141
now i created with attribute 'citi' .now its working fine.

[2018-03-01 10:30] magento-engcom-team commented on #13870
@mamsincl, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 10:45] Nenad-Inchoo commented on #2228
Unbelievable. Magento, you cannot reproduce this? hahaha! I was wondering, how do you manage to reproduce more serious bugs??
You just need to put ONE line of code in your XML and you will reproduce it. there are no 100 steps, there are no 100 files. amazing!

What's even more amazing - this was reported 3 years ago.

[2018-03-01 11:06] terrybakshi commented on #5517
vendor/magento/framework/Session/SidResolver.php

Find the function and comment the line as below.

public function getUseSessionInUrl()
    {
       // return $this->_useSessionInUrl;
    }

[2018-03-01 11:19] magento-engcom-team commented on #13905
@openwavecomputing, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-01 11:23] magento-engcom-team commented on #13900
@Arthi22, thank you for your report.
Please try to reproduce this issue on a clean installation. It seems like the reason is located in your custom code.

[2018-03-01 11:36] magento-engcom-team commented on #13867
@himanshu-garg, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation of latest release.

[2018-03-01 11:52] openwavecomputing opened #13908 "Magento2.1.5 admin sales order report not showing correctly"
### Preconditions

1. Magento2 Version 2.1.5
2. Make 10 orders with complete or canceled status.

### Steps to reproduce

1. Make 10 orders with complete or canceled status.
2. After admin Login Please go  Reports -> Sales -> Orders
3. Use Filter option status as 'any' with any date range.

### Expected result

1. It should show 10 records and all status report with complete and canceled orders to

[2018-03-01 12:07] magento-engcom-team commented on #8189
@atishgoswami, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 12:09] #8189 closed, assigned to nobody

[2018-03-01 12:10] magento-engcom-team commented on #13895
Ok, @SeaLuke, Could You please try to install the language pack via composer in CLI using theses commands:
[code]
The 2-nd command - `php bin/magento setup:static-content:deploy it_IT` may ask for -f flag, so You will need to run it like `php bin/magento setup:static-content:deploy it_IT -f`. Then everything should work like here:
![italian](https://user-images.githubusercontent.com/31669971/36844

[2018-03-01 12:26] magento-engcom-team commented on #13289
@awarche, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 12:26] magento-engcom-team commented on #13703
@trushangsuthartri, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-01 12:26] #13703 closed, assigned to nobody

[2018-03-01 12:30] magento-engcom-team commented on #13876
@roura356a, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 12:30] ismail-sallami commented on #4432
I had the same issue too and I confirm that clearing oauth_token_request_log fixed it. Magento seems to block Token generation after 6 failed try

[2018-03-01 12:31] SeaLuke commented on #13895
you can close the post because the problem is that I use a smartphone (I live in mountains, no adsl, no fiber) to connect I can not use the ssh protocol and therefore I can not add strings. thank you and greetings. Magento the best CMS for all sea's user !!! thanks

[2018-03-01 12:31] #13895 closed, assigned to nobody

[2018-03-01 12:32] magento-engcom-team commented on #13739
@Cl0ne0fG0d , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-01 12:41] rishabhchd19 opened #13909 "Responsive Design Issue in closed #10941"
The problem is not resolved in issue #10941.

Magento 2.2.3, Php 7.1.14

![quicksquare_20171221104044471](https://user-images.githubusercontent.com/30948461/36845228-e852a83a-1d7b-11e8-8689-83d6b53356d4.jpg)

[2018-03-01 12:48] magento-engcom-team commented on #13829
@maderlock, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-01 12:49] #13829 closed, assigned to nobody

[2018-03-01 13:10] peterjaap commented on #11768
@okorshenko Oleksii do you have an update on this? It's been a while...

[2018-03-01 13:20] koenner01 commented on #13252
We have received a patch for this through the cloud support (but they asked us not to make it public as it is probably not final). This commit https://github.com/magento/magento2/commit/f9dd1b1f579ed5e58d39ffe341e60f085bd24fe0#diff-8b13fe3225a8e5f17fa52fa6c5b74eda contains a fix (but it's not the same as we received through cloud)

[2018-03-01 13:24] magento-engcom-team commented on #13895
@SeaLuke, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-01 13:24] koenner01 commented on #12673
We are having a similar problem when logging in; The first you arrive on doesn't contain the customer (eventhough is clearly should as you just logged in), if you refresh the page will then contain the customer correctly

[2018-03-01 13:28] openwavecomputing commented on #13905
Actually this problem occur on some time only various scenario . For example if you opened admin login then make inactivity by some time .If you come by late to our website that session was cleared then you have to login again with correct credentials the login box shows nothing error but it did not redirect to dashboard page.Simply its shows login page without any notification. some time third at

[2018-03-01 13:44] magento-engcom-team commented on #13880
@pawcioma , thank you for your report. This is expected behavior for 2.1.x versions.

[2018-03-01 13:45] magento-engcom-team commented on #13880
@pawcioma, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-01 14:15] magento-engcom-team commented on #12782
@andrewbess, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 14:21] magento-engcom-team commented on #13418
@danijelkusic, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 14:33] magento-engcom-team commented on #13909
@rishabhchd19, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result. Please specify which device and browser you are using.
Please, add the following infor

[2018-03-01 14:35] lorenaramonda commented on #12459
Same here

- Magento 2.2.3
- grunt-cli v1.2.0
- grunt v1.0.2

[2018-03-01 14:35] magento-engcom-team commented on #13859
Hi @Vikram0811
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-01 14:49] magento-engcom-team commented on #12788
@giggo1604, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 14:52] magento-engcom-team commented on #13702
@Achirawi we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-01 14:52] #13702 closed, assigned to nobody

[2018-03-01 15:03] magento-engcom-team commented on #13892
@openwavecomputing Please do not duplicate the issue. Leave the issue [#13905](https://github.com/magento/magento2/issues/13905)

[2018-03-01 15:03] #13892 closed, assigned to nobody

[2018-03-01 15:18] magento-engcom-team commented on #13908
@openwavecomputing, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 15:21] magento-engcom-team commented on #13305
Hi @milansimek
Could you please to share code where you use FilterGroup with two or more conditions.
Thanks

[2018-03-01 15:30] magento-engcom-team commented on #13892
@openwavecomputing, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-01 15:32] orozcodiaz opened #13910 "Incorrect "Special Price" filter behavior"
### Preconditions
Linux 2.6.32-642.6.2.el6.x86_64
Magento Open Source 2.2.2, PHP 7.0.28, mysql  Ver 14.14 Distrib 5.6.32-78.1

### Steps to reproduce
1. Go to Admin - Catalog - Inventory - Products
2. On the top of the grid select Columns - Attribute - Special Price. Mark checkbox "Filter"
3. Enter special price as "0" or "0.00". If you will enter some other non-numeric, non-zero value then it wil

[2018-03-01 15:44] manassehl9 commented on #3902
Thanks it worked

[2018-03-01 16:22] Heunsig commented on #13875
omg... I already asked them. However, they said that problem was not their part because they just lent a hosting service, and they told me to ask Magento.
Also, already I've tried reinstalling and changing a logo over 5 times, but it didn't work well.

[2018-03-01 16:30] magento-engcom-team commented on #13910
@oroskodias, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-01 16:30] himanshu-garg commented on #13867
Thanks for supporting.  What I found is that it is because of code in a plugin that is causing it exhaust memory.  Sorry for the trouble.

[2018-03-01 16:30] #13867 closed, assigned to nobody

[2018-03-01 18:32] watermark commented on #10180
This issue is coming up on its year anniversary and it's still not fixed.  This bug effectively means that customers cannot be created from the admin panel on a multi-website install (there's no way for them to set the password, so there's no way for them to login).

Can you please assign a higher priority to this issue?

[2018-03-01 19:24] wd7080 commented on #12601
Hello
This has not yet been fixed in 2.3.0. I still have the same problem.

[2018-03-01 20:24] magento-engcom-team commented on #7765
Hi @andidhouse. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1159 by @RomaKis in 2.2-develop branch
Related commit(s):
 - [39e0fd9a5366a6d25bc3b9f9ae324aa9be026cb9](https://github.com/magento/magento2/commit/39e0fd9a5366a6d25bc3b9f9ae324aa9be026cb9)

The fix will be available with the upcoming 2.2.4 release.

[2018-03-01 20:53] kwjamieson99 commented on #9214
What is the current status of this? We are migrating to 2.1 and use this coupon feature regularly.  Is there a fix or another extension that should be used instead?

[2018-03-01 21:35] superdav42 opened #13915 "Filename Collisions with downloadable products"
### Preconditions

1. Magento 2.4
### Steps to reproduce

1. Create a downloadable product and add a downloadable link and upload a file for the link with a filename on the local system like 'book.pdf'
2. Create a different downloadable produdt and add a downloadable link and upload a different file with the same name on the local system like 'book.pdf'
3. Each book.pdf is a different file with di

[2018-03-01 23:04] roura356a commented on #13876
This can be fixed increasing `max_input_vars` to a higher number. But maybe deserves a better look about the approach, as is not very scalable. When you save an attribute it resubmits the whole list again instead of only the ones changed/added.

[2018-03-02 00:25] okorshenko commented on #9413
Hi @joshfortyfour. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1380 by @magento-engcom-team in 2.3-develop branch
Related commit(s):
 - [e9238bcb04f75a5ef0d801ef7a4c372832d83aad](https://github.com/magento/magento2/commit/e9238bcb04f75a5ef0d801ef7a4c372832d83aad)
 - [c46acb7f26afb967c2e727d9557d00a03418a599](https://github.com/magento/magento2/commit/c46acb7f26

[2018-03-02 00:25] okorshenko commented on #10417
Hi @deadlyw1re. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1380 by @magento-engcom-team in 2.3-develop branch
Related commit(s):
 - [e9238bcb04f75a5ef0d801ef7a4c372832d83aad](https://github.com/magento/magento2/commit/e9238bcb04f75a5ef0d801ef7a4c372832d83aad)
 - [c46acb7f26afb967c2e727d9557d00a03418a599](https://github.com/magento/magento2/commit/c46acb7f26afb

[2018-03-02 00:25] okorshenko commented on #12320
Hi @gvigner. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1380 by @magento-engcom-team in 2.3-develop branch
Related commit(s):
 - [e9238bcb04f75a5ef0d801ef7a4c372832d83aad](https://github.com/magento/magento2/commit/e9238bcb04f75a5ef0d801ef7a4c372832d83aad)
 - [c46acb7f26afb967c2e727d9557d00a03418a599](https://github.com/magento/magento2/commit/c46acb7f26afb967

[2018-03-02 00:25] okorshenko commented on #13327
Hi @arnoudhgz. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1380 by @magento-engcom-team in 2.3-develop branch
Related commit(s):
 - [e9238bcb04f75a5ef0d801ef7a4c372832d83aad](https://github.com/magento/magento2/commit/e9238bcb04f75a5ef0d801ef7a4c372832d83aad)
 - [c46acb7f26afb967c2e727d9557d00a03418a599](https://github.com/magento/magento2/commit/c46acb7f26afb9

[2018-03-02 06:42] magento-engcom-team commented on #13842
@ thank you for your reply,
In this case, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-02 06:44] magento-engcom-team commented on #13842
@Pankti16, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 06:45] #13842 closed, assigned to nobody

[2018-03-02 07:16] melnickforever opened #13919 "Magento does not flush caches after full reindex"
Preconditions

    Magento 2.1.11
    PHP 7.0.20
    MySQL 5.6.35

### Steps to reproduce
When We run php bin/magento indexer:reindex indexer_name

\Magento\Indexer\Model\Indexer::reindexAll
For invalid caches cron run
\Magento\Indexer\Model\Indexer::reindexAll
1) We set cach tegs in \Magento\CatalogInventory\Model\Indexer\Stock::executeFull for object model\indexer\stock
2) We save indexer status

[2018-03-02 07:27] youngblood10 opened #13920 "Doesn't complete upload of import"
when uploading imports of any size there is no completion, (the import cycle does not stop) even when security timeout is set to one year. (this is using firefox) this is on all versions, but i am currently on 2.1.2

### Preconditions

1.
2.

### Steps to reproduce

1. setup csv file with products
2. import
3. wait for eternity :)

### Expected result

1.  unknown as i have never had a successfull

[2018-03-02 07:33] DKoctopus commented on #10734
Was having the same issue, tried this https://github.com/magento/magento2/commit/69a0f5cea8c7297d4011493a188dd18df60ab8ac

It fixed for canda but having similar issues for united kingdom, any thoughts?

[2018-03-02 07:36] magento-engcom-team commented on #13903
Hello @al1357. Thanks for reporting. We need the product price to have no more than 2 decimal digits after decimal separator. Though in most cases after different calculations of taxes, discounts, etc.  which affect the price,  the price itself in fact changes its value to some that has more than 2 decimal digits. For example in Your case a price of 5.36 taxed by 10% in fact  is equal not to 5.9 b

[2018-03-02 07:40] DKoctopus opened #13921 "Fix USPS Priority Mail to United Kingdom"
### Preconditions

1. Magento 2.1.8 (fresh install, no customizations)
PHP 7.0.20
MySQL 5.6.35

### Steps to reproduce

Enable USPS shipping method, add credentials, live mode, select "Priority Mail International" in allowed methods
Add product (configurable, if it matters) to cart, begin checkout, add international shipping address

### Expected result
Priority Mail International" shipping method

[2018-03-02 07:43] magento-engcom-team commented on #13903
@al1357, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 07:47] magento-engcom-team commented on #13464
@pradeepkmr1701, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-02 07:47] #13464 closed, assigned to nobody

[2018-03-02 07:51] MounikaK999 commented on #7647
@itg-ddanielson , Its great the people are able to fix this based on your suggestion. But, since I'm very new to Magento and my almost second task is to fix this issue, it's a bit a tough for me to fix this even though with your great help.

After migration from M1 to M2, we are not able to add or delete new images on a single product page. It is giving me the error (The image cannot be removed as

[2018-03-02 07:52] jamie-selesti opened #13922 "Upgrading to 2.2.3 and get Could not open input file: bin/magento"
I want to upgrade from 2.2.2 to 2.2.3 and I ran the following commands

[code]
Then when I try to do

`php bin/magento setup:upgrade`

I get "Could not open input file: bin/magento"

Below is a log of what happend

[code]

When I look it seems as though both files (.htaccess and magento) have been deleted.

[2018-03-02 07:55] #13922 closed, assigned to nobody

[2018-03-02 07:59] jamie-selesti opened #13923 "2.2.2 to 2.2.3 - Could not open input file: bin/magento"
### Preconditions

1. Magento 2.2.2
2. PHP 7.1 & MySQL 5.7.2.1

### Steps to reproduce

1. Run the following code
[code]

### Expected result

1.  Magento to be upgraded to be 2.2.3

### Actual result

1. When I try to do

`php bin/magento setup:upgrade`

I get "Could not open input file: bin/magento"

Below is a log of what happend

[code]

When I look it seems as though both files (.htaccess and

[2018-03-02 08:36] magento-engcom-team commented on #13758
Hi @barbazul
We can not accept security issue reports via Github.
If you know any specific steps to reproduce a security issue with the libraries mentioned – please report it to [bugcrowd](https://bugcrowd.com/magento).

Regarding the outdated version of the library – you are right, it should not be too much of an issue on its own.
In case you have an idea of good replacement for the dependency in

[2018-03-02 08:37] akosglue commented on #12095
2.2.3 as well

[2018-03-02 08:39] ishakhsuvarov commented on #13869
Hi @vipin12117
Please refer to http://devdocs.magento.com/guides/v2.2/howdoi/checkout/checkout_carrier.html tutorial for the information on how to add a custom shipping method and integrate it with checkout and cart.
Shipping rate update requests are sent based on the combined configuration of shipping rates validation rules for all enables shipping methods.

[2018-03-02 08:43] magento-engcom-team commented on #5843
Closing, as the fix is delivered to the `2.2-develop` branch.

[2018-03-02 08:43] #5843 closed, assigned to nobody

[2018-03-02 09:11] iacopop commented on #7296
somebody has news about varnish purge from magento?
thanks

[2018-03-02 09:28] fvschie opened #13924 "Missing health check call"
### Preconditions
Any Magento 2 version with properly configured REST API credentials

### Steps to reproduce
1.

### Expected result
I expect an API to have an option to verify the status of the connection and credentials.

### Actual result
I have to use a somewhat expensive call to monitor the health of the connection. This is sub-optimal.

Please add an API call to all versions of Magento2 tha

[2018-03-02 09:30] magento-engcom-team commented on #11178
@heldchen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-02 09:30] #11178 closed, assigned to nobody

[2018-03-02 09:30] magento-engcom-team commented on #13656
@mdinfo007, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-02 09:30] #13656 closed, assigned to nobody

[2018-03-02 09:32] magento-engcom-team commented on #13915
@superdav42, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 10:00] jignesh26 commented on #6803
@ishakhsuvarov you have unassigned to me from the issue. Actually, I was looking for the help to resolve this issue. Can you tell me if anyone another gone resolve this issue?

[2018-03-02 10:01] ishakhsuvarov commented on #6803
@jignesh26 Didn't expect you are still working on it :) Sorry

[2018-03-02 10:05] jignesh26 commented on #6803
@ishakhsuvarov No issue. can you help me to resolve this issue? actually, I need support from any magneto core team. I am trying to resolve this issue. Its very hard issue to get resolved. I have questions in my mind.
Let me know if you have any core team member contact to help me to resolve this issue.

I can understand @magento-engcom-team have many works to do.

[2018-03-02 10:05] magento-engcom-team commented on #13354
@VincentMarmiesse, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 10:36] MounikaK999 commented on #7647
@itg-ddanielson,
Fixed it!
I changed in the catalog_product_entity_varchar table for each entity's store ID from 0 (admin) to 1 (default) and I can able to edit the images and add a new one.

But not sure if there is any loophole in it by doing this. Please help.

[2018-03-02 10:37] pawcioma commented on #13880
@orlandur
Do you a "Thank you for your subscription." message again on other pages? This is expected behavior that until you see such session messages on some page they will be gathered and then displayed all at once.

You not understand me because the same message display many times.
Flow is:
1. I write my email in subsribe form. I did it on main page.
2. I click subscribe.
3. Now we got POST req

[2018-03-02 10:51] jsiefer opened #13925 "New order email - theme translations missing"
If you have custom translation within you theme i18n diractory, those translations do not get pulled for the new order or order confirmation email.

### Preconditions
Custom translation in your theme folder
Using these translation in your new order email
Enabling translation cache

magento/magento-cloud-metapackage: 2.1.10

### Steps to reproduce
Create an order

### Expected result
Email should b

[2018-03-02 10:52] ishakhsuvarov commented on #12193
Closing, as it duplicates https://github.com/magento/magento2/issues/7861

[2018-03-02 10:52] #12193 closed, assigned to hannassy

[2018-03-02 10:56] duraiks opened #13926 "Very Slow"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-03-02 10:59] KevinMace commented on #12356
I can report we're also seeing this issue.

[2018-03-02 11:01] magento-engcom-team commented on #13926
Closing, as description is absent.

[2018-03-02 11:01] #13926 closed, assigned to nobody

[2018-03-02 11:06] orlangur commented on #13880
Session message is cleaned in normal circumstances.

Closing as subscribing multiple times does not sound as a realistic scenario.

Feel free to provide additional information if you manage to reproduce this issue reliably on a clean Magento installation. It could be worth fixing as session messages in other scenarios may be affected.

[2018-03-02 11:06] #13880 closed, assigned to nobody

[2018-03-02 11:14] orlangur commented on #13919
Please provide exact steps. Do you run full reindex?

For example, stock reindex definitely should not flush ALL categories and products.

[2018-03-02 11:16] magento-engcom-team commented on #13881
@hostep According to internal records `MAGETWO-75526` was only targeting 2.1.11 and it's Closed/Fixed at the moment. Will see if we are able to get more information on the subject and let you know.

[2018-03-02 11:18] orlangur commented on #13289
@awarche it only makes sense to spend efforts on fixing issues really affecting merchant or developer experience.

Quoting myself,

should be enough, there is no other reliable implementation approach mentioned in this thread yet.

[2018-03-02 11:32] magento-engcom-team commented on #13853
@Drashtii Looks like you are experiencing issues with some code unrelated to the Magento core. Please contact extension vendor for the support.
Alternatively you may refer to the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-02 11:32] #13853 closed, assigned to nobody

[2018-03-02 11:33] magento-engcom-team commented on #13841
@pmyszkier thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2018-03-02 11:33] #13841 closed, assigned to nobody

[2018-03-02 11:35] magento-engcom-team commented on #13839
@msliman thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions
 - [ ] Steps to reproduce
 - [ ]

[2018-03-02 11:39] magento-engcom-team commented on #13923
@jamie-selesti , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-02 11:42] magento-engcom-team commented on #13681
@pemann, thank you for your report.
We were not able to reproduce this issue by following the steps you provided (we have tested UPS and FedEx shipping methods). Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-02 11:43] magento-engcom-team commented on #13767
Hi @jwilliamson1098
Unfortunately creation of entities with predefined id's is not supported at the moment. In this case ID may only be used for the entity update.
You may find additional references on the subject here:
* [[DevBlog] Entity ID Allocation Schemes](https://community.magento.com/t5/Magento-DevBlog/Entity-ID-Allocation-Schemes/ba-p/68316)
* [[MSI] The first step towards pre generated I

[2018-03-02 11:44] #13767 closed, assigned to nobody

[2018-03-02 11:44] magento-engcom-team commented on #13723
@ankursachdeva11, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 11:46] #13723 closed, assigned to nobody

[2018-03-02 11:49] magento-engcom-team commented on #13920
Hello @youngblood10. Thank You for reporting. We've been not able to reproduce Your issue. Could You please send us Your csv file. Here we attach an example of our csv.
[Imp.txt](https://github.com/magento/magento2/files/1774899/Imp.txt)
(Rename it from txt to csv)
 Thank You.

[2018-03-02 11:55] magento-engcom-team commented on #13745
VZeroCool, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please update the steps required to reproduce.

[2018-03-02 12:10] RomaKis commented on #12356
This issue have been fixed in https://github.com/magento/magento2/pull/11926.

[2018-03-02 12:13] magento-engcom-team commented on #13725
@pramodhanu, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation or latest release.

[2018-03-02 12:15] youngblood10 commented on #13920
[27-02-2018GD - Category upload copy.txt](https://github.com/magento/magento2/files/1775001/27-02-2018GD.-.Category.upload.copy.txt)

thanks for the quick reply.

[2018-03-02 12:16] ajaivijay2000 commented on #5707
Can you please specify pull request id?

[2018-03-02 12:20] magento-engcom-team commented on #13336
@mamsincl, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 12:21] #13336 closed, assigned to nobody

[2018-03-02 12:25] magento-engcom-team commented on #13273
@yogeshsyscraft, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 12:26] magento-engcom-team commented on #13273
@yogeshsyscraft, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-02 12:26] #13273 closed, assigned to nobody

[2018-03-02 12:39] #13859 closed, assigned to nobody

[2018-03-02 12:40] #13265 closed, assigned to nobody

[2018-03-02 12:40] #13813 closed, assigned to nobody

[2018-03-02 12:41] magento-engcom-team commented on #13813
Closing due to lack of updates.

[2018-03-02 12:54] magento-engcom-team commented on #13326
@jorgepires Closing this now as it looks like you have solved the issue.

[2018-03-02 12:54] #13326 closed, assigned to nobody

[2018-03-02 12:55] magento-engcom-team commented on #13219
@BabliDey please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-02 12:55] #13219 closed, assigned to nobody

[2018-03-02 12:57] magento-engcom-team commented on #13131
@mritu19 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-02 12:57] #13131 closed, assigned to nobody

[2018-03-02 12:59] magento-engcom-team commented on #13063
@wcldharamveer We are closing this ticket now, as it seems that you have solved the issue.

[2018-03-02 12:59] #13063 closed, assigned to nobody

[2018-03-02 13:03] magento-engcom-team commented on #12619
@Rockfordgun, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-03-02 13:08] magento-engcom-team commented on #12118
@treii28 Unfortunately we can not provide any guidance with issues caused by third-party customizations.
From the looks of it the issue is resolved now so we are closing the report.

[2018-03-02 13:08] #12118 closed, assigned to nobody

[2018-03-02 13:16] magento-engcom-team commented on #4911
@jonbunce Thank you for the solution.
Closing the ticket for now, as it looks like it is caused by third-party customization.
Please reopen if the issue persists.

[2018-03-02 13:16] #4911 closed, assigned to nobody

[2018-03-02 13:21] magento-engcom-team commented on #13889
@akhileshlpatel thank you for your report.
We were not able to reproduce this issue by following the steps you provided. We tried to reproduce this issue on the clean installation ver 2.2.2 Open source include "Sample Data" which downloaded from GitHub repository.
See the video record [13889.webm.zip](https://github.com/magento/magento2/files/1775187/13889.webm.zip)

[2018-03-02 13:27] lucacanella commented on #12399
Same problem here. Magento 2.2.3, Italian localization. Currently working on it.

[2018-03-02 13:30] magento-engcom-team commented on #13316
@Selven99, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 13:30] magento-engcom-team commented on #13859
@Vikram0811, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 13:33] jwohlfeil commented on #10821
Same here on nginx and PHP-FHM, you have to add include_path = ".:/yourpathtomagento/vendor/magento/zendframework1/library", then it works.

[2018-03-02 13:35] magento-engcom-team commented on #12798
@subhashbodana thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] St

[2018-03-02 13:37] magento-engcom-team commented on #13881
@mihaifaget, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 13:38] magento-engcom-team commented on #13921
@DKoctopus, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 13:39] magento-engcom-team commented on #13080
Hi @thaddeusmt
Thank you for reporting. Looks like this report duplicates https://github.com/magento/magento2/issues/7861
Closing.

[2018-03-02 13:39] #13080 closed, assigned to nobody

[2018-03-02 13:43] magento-engcom-team commented on #13737
@acampos1916, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on latest release `2.1.x` or `2.2.x`.

[2018-03-02 13:44] magento-engcom-team commented on #13243
@vtimonin, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 13:48] adeelq commented on #13888
@VZeroCool i'm unable to replicate issue described above. Can you please in detailed describe steps to reproduce this. I was able to create customer on frontend, backend and using a custom script.

[2018-03-02 13:50] magento-engcom-team commented on #13345
@ahmadvaqaskhan  thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2018-03-02 14:07] sylink commented on #10071
So the Magento 2 error messages have the same level of sophistication is the IT Crowd ? The best answer there is really "try turning it off and on again" ??

[2018-03-02 14:16] melnickforever commented on #13919
From bash console : php bin/magento indexer:reindex cataloginventory_stock
Will not flush any cache

[2018-03-02 14:26] magento-engcom-team commented on #13672
@mattyl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-02 14:26] magento-engcom-team commented on #13890
@agavshinde , We cannot reproduce this issue as described. Please identify any other information needed to reproduce your issue. The problem is only reproduced in Edge Browser? Do you use Varnish cache? This problem with all configurable products or only with some?
Please make export with configurable products with which the arise this problem and put it here.

[2018-03-02 14:30] magento-engcom-team commented on #13226
@torhoehn, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 14:31] magento-engcom-team commented on #13608
@shahar-bch87, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 14:32] #13608 closed, assigned to nobody

[2018-03-02 14:59] magento-engcom-team commented on #12921
@fooman, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 15:01] #12921 closed, assigned to nobody

[2018-03-02 15:09] vrann commented on #13921
#MageTitansMX18

[2018-03-02 15:10] magento-engcom-team commented on #13921
@vrann thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 15:16] ajankuv commented on #7171
Do we have a fix yet?

[2018-03-02 15:20] magento-engcom-team commented on #13863
Hello @harrigo. Thanks for reporting. We were not able to reproduce Your issue. Therefore here we attach 2 videos with how we were doing that. So please watch them and tell us what we've missed.
[Bundle1.zip](https://github.com/magento/magento2/files/1775629/Bundle1.zip)
[Bundle2.zip](https://github.com/magento/magento2/files/1775632/Bundle2.zip)

[2018-03-02 15:23] kvydiuk opened #13927 "catalogsearch_fulltext indexer never gets invalidated"
When all indexers are in *Update by Schedule* mode, 'catalogsearch_fulltext' index never gets invalidated and will be never re-indexed by cron ("indexer_reindex_all_invalid" job).

### Preconditions

1. Magento 2.1.9 CE
2. PHP 7.0.22
3. 10.0.33-MariaDB
4. Create some products with enable and disable status

### Steps to reproduce

1. Log in to Admin
2. Go to System > Index Management
3. Set all in

[2018-03-02 15:29] rigu12 commented on #12989
Hi @orlangur
before i ran this command , let me cant from 2.2.2 to 2.2.3 now, how can i fix it. thank you
composer remove sjparkinson/static-review
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy

[2018-03-02 15:30] magento-engcom-team commented on #13420
@Jimgitsit, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-02 15:30] breg-13 commented on #13927
I think issue in Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin class
_reindexRow_ and _reindexList_ methods checks indexer mode and re-index it only indexer mode != "Update By Schedule". Seems otherwise indexer should be invalidated here.

[2018-03-02 15:45] vrann commented on #13921
#MageTitansMX

[2018-03-02 16:20] CRYX2 commented on #12399
seriously, we have some ecommerce to publish and no one has yet made a backport for version 2.2 (besides the fact that nobody knows when the 2.3 will be released)

[2018-03-02 16:22] magento-engcom-team commented on #13925
@jsiefer, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
We are doing:

1. Install clean Magento 2.2.3.
2. Create and apply custom translation from this [guide.](http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-i18n.html)
3. In frontend create order.
4. Check mail box.
Actual result: Email template using the ap

[2018-03-02 16:31] tadeobarranco commented on #13899
#MageTitansMX

[2018-03-02 16:32] magento-engcom-team commented on #13899
@tadeobarranco thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 16:36] MiodragB commented on #13230
I have the exact same issue. It would be nice to know ETA when it will be fixed?
Also it would be really nice if we could know is there a some workaround or a quick fix for this?

Thanks

[2018-03-02 17:04] humbertogonzalez commented on #13835
#MageTitansMX

[2018-03-02 17:05] magento-engcom-team commented on #13835
@humbertogonzalez thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 17:07] ifeltsweet commented on #12232
@feelinc, I have the same problem as you described. How did you manage to fix it?

[2018-03-02 17:08] Selven99 opened #13928 "B2B - Missing arrow in permissions management tree"
### Preconditions

1. Have Magento 2 Commerce 2.2.2 or 2.2.3 (tested on both)
2. Have extension-b2b installed by composer (at least 1.0.2, also tested with 1.0.3 that's needed for Magento 2.2.3)

### Steps to reproduce

1. Go to backend System > Permissions > User Roles
2. Add or edit an existing role
3. Click on "Role Resources" tab in left panel

### Expected result

1. Tree is displayed correct

[2018-03-02 17:13] JDavidVR commented on #13870
#MageTitansMX

[2018-03-02 17:14] magento-engcom-team commented on #13870
@JDavidVR thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 17:18] erikhansen opened #13929 "Images can't be uploaded using WYSIWYG if media directory is a symlink"
As of 2.2.3, it's not possible to upload images via the WYSIWYG if the media directory is a symlink. This is due to this [new file](https://github.com/magento/magento2/blob/2.2.3/lib/internal/Magento/Framework/App/Filesystem/DirectoryResolver.php#L42).

### Preconditions
1. Install Magento 2.2.3
2. Ensure that the media directory is a symlink. For example, the `pub/media` directory should be a sym

[2018-03-02 17:34] lucacanella commented on #12399
I'm resolving with a plugin to reformat dates before they get to the method that throws the exception. Frankly I think this is a poor fix, but gets the job done and that's better than nothing until we get a better one. If I manage to fix this I'll post some code here.

[2018-03-02 17:50] AngelBS commented on #13530
#MageTitansMX

[2018-03-02 17:51] magento-engcom-team commented on #13530
@AngelBS thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 18:06] Brendonwbrown commented on #6793
Coming to report this exact issue in 2.1.9 CE.
Search results come in no distinguishable order.
Setting search weight Name to 10 and Description to 1 still returns mix of Name and Description matches.
Using the sort dropdown does nothing but refresh the page.

[2018-03-02 18:11] AirmanAJK commented on #6793
There's a bug that skips the order by clause when sorting by relevance. If I recall, the code checks for the method of ordering before it actually gets set. I fixed it in my store and reported it over a year ago. It may still be the same issue.

[2018-03-02 18:11] JDavidVR commented on #13870
I figured out that this isseu doesn't make sense, I mean the ui component info was updated to 2.2.3 but probably this will be released in 2.2.4 in that case this should be contemplate the next release instead current.

[2018-03-02 18:13] faguilarp87 commented on #13915
#MageTitansMX

[2018-03-02 18:14] magento-engcom-team commented on #13915
@faguilarp87 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 18:16] MarioHdpz commented on #13910
#MageTitansMX

[2018-03-02 18:17] magento-engcom-team commented on #13910
@MarioHdpz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 18:28] Laura021 commented on #13320
#MagetitansMX

[2018-03-02 18:29] magento-engcom-team commented on #13320
@Laura021 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 18:30] magento-engcom-team commented on #13921
@DKoctopus, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-02 19:18] vrann commented on #13870
This issue should be fixed during the packaging rather in the code. Code is always behind the actual version by the moment of release. Packaging tool should update the version when package is published to the composer repo

[2018-03-02 19:30] vrann commented on #8854
I was able to reproduce it with the following conditions:
- run magento under http://localhost:32722/
*Actual result*: add to cart hangs on "Adding"

Then, added record in /etc/hosts `127.0.0.1       deployment.vm`, updated core_config_data with the base url `http://deployment.vm:32722/`, cleared cache.

*Actual Result*: add to cart works.

[2018-03-02 20:17] ifeltsweet commented on #10499
Still happening in 2.2.3

[2018-03-02 20:21] fooman commented on #12921
@magento-engcom-team I already had a chat with @antonkril about this and he confirmed it as an issue which is being fixed in the next release of the temando extension.

[2018-03-02 20:45] oviliz commented on #10499
This is now ridiculous...

[2018-03-02 21:07] carlosmirandadiaz commented on #13883
#MageTitansMX

[2018-03-02 21:08] magento-engcom-team commented on #13883
@carlosmirandadiaz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-02 21:15] antonkril commented on #12921
cc @buskamuza @kokoc

[2018-03-02 21:42] Jimgitsit commented on #13420
This was meant as an enhancement request, not a bug report.

[2018-03-02 21:53] #13870 closed, assigned to JDavidVR

[2018-03-02 21:56] magento-engcom-team commented on #4329
Hi @srinivasanithin thank you for your report. In release 2.2.0 we introduced new service for refunds. Please check the commits with the message: `MAGETWO-57776: Introduce new service refundInvoice` or you ca try latest 2.2 release.
Sorry for delay with response.

[2018-03-02 21:56] #4329 closed, assigned to nobody

[2018-03-02 22:07] hostep commented on #13870
Wasn't this message meant for highlighting the important new features of Magento 2.2 (which were only shipped in 2.2.2, but whatever), maybe just change it to `Magento 2.2` instead of the latest actual version?

[2018-03-02 22:18] vrann commented on #13870
@hostep investigating how was it get updated before and why didn't it work this time. That's more of a question to the internal 2.2.3-develop branch than the 2.2-develop

This block is supposed to list out all improvements in the patch release, so cannot be 2.2 only

[2018-03-02 22:31] magento-engcom-team commented on #2640
Hi @ivanweiler thank you for your report. Reported issue does not affect product functionality. But this is good improvement to have. We are closing the issue for now, but feel free submit a pull request with improvement

[2018-03-02 22:31] #2640 closed, assigned to nobody

[2018-03-02 22:55] rhino-corey commented on #8854
I have observed this same behavior running Magento CE 2.2.2 under http://localhost with the Blank theme inside a docker container. I added one product with a photo, hit Add To Cart and the button freezes after some ajax requests come back.

The xhr request to http://localhost/customer/section/load/?sections=cart%2Cmessages&update_section_id=true&_=1520030826719 responds with this payload:

`{"cart

[2018-03-02 23:08] AngelBS commented on #13753
#MageTitansMX

[2018-03-02 23:48] AngelBS commented on #13753
It works as expected!
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-03 03:53] Pankti16 commented on #13842
okay.
Thanks

[2018-03-03 04:40] magento-engcom-team commented on #11512
Hi @andrewhowdencom. Thank you for your report.
The issue has been fixed in magento/magento2#11513 by @andrewhowdencom in 2.2-develop branch
Related commit(s):
 - [b4bfe4b142a6c279dffda59eb345d77b37fd20fd](https://github.com/magento/magento2/commit/b4bfe4b142a6c279dffda59eb345d77b37fd20fd)

The fix will be available with the upcoming 2.2.4 release.

[2018-03-03 04:40] #11512 closed, assigned to nobody

[2018-03-03 05:41] robysalv opened #13934 "paypal magento 2"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-03-03 05:55] robysalv commented on #11885
Hi
I installed the latest version Magento 2.2.3   but there is the same issue.
Conflict wit paypal and accept terms and condition.

What can I do?

Regards
Roberto

[2018-03-03 07:28] roman204 commented on #11885
@robysalv cou can try my fix here: https://github.com/CopeX/PaypalFix I think it should work also in 2.2.3.

This is getting ridiculous, sorry Magento-Team i love your work and so on but i think you should prioritize such bugs a bit more.

[2018-03-03 07:42] #13216 closed, assigned to nobody

[2018-03-03 07:47] vasanth833 commented on #10234
+1
Same issue in 2.2.2

[2018-03-03 09:01] robysalv commented on #11885
thenk you roman204

[2018-03-03 09:21] lucacanella commented on #12399
Here's a quick fix. Watch out, because this will probably stop working if a fix is backported.

We created a module called Diennea_CatalogRule and added following dependecy injection directives and Plugin:

### File app/code/Diennea/CatalogRule/etc/di.xml
[code]

### File app/code/Diennea/CatalogRule/Plugin/CatalogRuleDatefixPlugin.php

[code]

*BROKEN_LOCALES* constant can be augmented to fit err

[2018-03-03 09:24] lucacanella commented on #12399
Here's a quick fix. Watch out, because this will probably stop working if a fix is backported.

We created a module called Diennea_CatalogRule and added following dependecy injection directives and Plugin:

### File app/code/Diennea/CatalogRule/etc/di.xml
[code]

### File app/code/Diennea/CatalogRule/Plugin/CatalogRuleDatefixPlugin.php

[code]

*BROKEN_LOCALES* constant can be augmented to fit err

[2018-03-03 09:57] asavchenko commented on #11585
my workaround (not sure if it causes further errors, just did it and setup:upgrade reported success)
vendor/magento/module-sales-rule/Model/ResourceModel/Rule.php line 352
`$connection->insertMultiple($this->getTable('salesrule_product_attribute'), $data);`

wrap it in
[code]

[2018-03-03 10:02] bpoiss commented on #11585
@asavchneko same worked for me

[2018-03-03 11:06] david-garcia-garcia commented on #13597
Sorry I don't really know how to "trigger" the error, it must be some sort of modules installed in my setup.

I really don't understand how you can close this issue when there is an obvious faulty implementation that will fail when $fileScanner->getClassNames() returns an interface.

[2018-03-03 11:30] Toregam opened #13935 "Error import csv"
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. Go to system/import
2. Select files
3. data verification

### Expected result

1.  the products have been imported

### Actual result

1. General system exception happened.

[2018-03-03 11:44] jontesamuelsson commented on #11002
Same issue here! 150000+ rows in table and growing. Killing the server.

Magento | 2.2.2
Apache | 2.4.29
PHP | 7.0.27
MySQL | 5.6.39-cll-lve

Is this error/bug fixed in 2.2.3?

[2018-03-03 11:57] gwharton commented on #11002
@jontesamuelsson No this isn't fixed in 2.2.3.

#13775 is in the process of being merged which will reduce the server load when the cron_schedule table grows unbounded, but it does not fix the root cause of this issue, which is the cron_schedule table growing in the first place.

[2018-03-03 12:53] jontesamuelsson commented on #11002
@gwharton Thanks for quick answer. Let's hope the root problem gets fixed soon to :-)

[2018-03-03 13:08] Will2JCommerce commented on #6146
Still an issue in Magento OS 2.2.

Despite above workarounds my return path value is still not updating and is the following:

www-data@domainname.com

[2018-03-03 13:22] Toregam opened #13936 "Problem with command setup:upgrade"
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. go to promt
2.I do the command: php bin/magento setup:upgrade

### Expected result

1. it was successful

### Actual result

1. The command doesn't find some folders.
what can i do?
![immagine](https://user-images.githubusercontent.com/32936901/36934739-37c4b3ae-1eee-11e8-872e-b48b9f5fd449.png)

[2018-03-03 15:55] Rickertje commented on #5590
I implemnented the above (michalbiarda). It works. However for every keyword that a search synonym exists for NO results wll be found any longer. It seems like the adapted query now searches for products that matches 'keyword' AND 'synonym' => which ofcourse will never give any result. Any solution?

[2018-03-03 16:38] erikhansen opened #13937 "Sitemap filename can't exceed 32 characters"
Issue: Sitemap filenames can't exceed 32 characters.

### Preconditions
1. Install Magento Open Source 2.2.3

### Steps to reproduce
1. Go to **MARKETING > Site Map**
2. Click **Add Sitemap**
3. Enter a filename that exceeds 32 characters (for example `thisisareallylongsitemapnamethatexceeds32characters.xml`)
![image](https://user-images.githubusercontent.com/129031/36936698-3e4d82f2-1ece-11e8-915

[2018-03-03 16:45] erikhansen commented on #13937
I just tested changing the VARCHAR length limit on the sitemap field. After running the query below, I was able to create a sitemap name that was up to 255 characters in length.

[code]

[2018-03-03 17:09] Rickertje commented on #8172
The original case is still not working properly:

Coupon details
Coupon Code: FREESHIP
Enabled from/To: 01/01/2016 - 01/01/2022
Apply: Percent of product price discount
Discount Amount: 0
Discard subsequent rules: YES
Apply to Shipping Amount: YES
Free Shipping: For Shipment with matching items

When I apply a coupon, the shipping costs are lowered to the minimum table rate but not to 0 as expecte

[2018-03-03 17:45] MrDaar commented on #13858
I can confirm this issue in enterprise 2.2.0

[2018-03-03 20:56] C4rter commented on #13504
I have the same issue. And I can resolve it by doing the same thin. Removing "generated\metadata\global.php" fixes it.

[2018-03-03 21:05] C4rter commented on #11526
Did nobody find a reason for this? I've installed a bought extension the other day and the same error is happening in production mode. Developer mode works fine. And removing the global.php fixes it.

[2018-03-03 22:38] virus2ever opened #13938 "gallery image not change when i press on color swatch in magento 2.2.2"
### Preconditions

1. Install Magento 2.2.2
### Steps to reproduce

1. image not change
2. https://imgur.com/a/RJfUz

[2018-03-04 01:01] apapat commented on #10498
We have same issue on many magento 2.2.2 ... Please help ...

[2018-03-04 01:23] xpedicion commented on #10498
I've found [commit ff42002](https://github.com/magento/magento2/commit/ff422002) to remedy the issue. This should help you.

[2018-03-04 04:47] vinaysikarwar opened #13939 "When cache is enabled getting the previous order Id in payment step instead of latest one"
### Preconditions

1.  When placing an order at payment step in my custom payment when calling ajax request to get the last order id after creating the order it returning the previous order id instead of current order which placing
2. This works fine when cache is disabled
3. when again submit the ajax request it shows current order id from   \Magento\Checkout\Model\Session getLastRealOrder method

[2018-03-04 04:49] vinaysikarwar commented on #13939
This is almost similar issue like described here https://github.com/magento/magento2/issues/6425

[2018-03-04 05:11] anant-svc commented on #13939
@vinaysikarwar
What is declared in $this->_checkoutSession?

[2018-03-04 05:20] anant-svc commented on #13923
@jamie-selesti

I think there is file permission issue, change file permission to **execute** on **{{magento root}}**/bin/**magento** file

[2018-03-04 05:44] vinaysikarwar commented on #13939
\Magento\Checkout\Model\Session

[2018-03-04 05:56] anant-svc commented on #13939
@vinaysikarwar
It seems your ajax is called before order is placed. So you get cached real order id on second try.

[2018-03-04 06:02] vinaysikarwar commented on #13939
Order already created using the payment method js
placeOrder = placeOrderAction(this.getData(), false, this.messageContainer);
and getting the order id

[2018-03-04 06:30] anant-svc commented on #13939
@vinaysikarwar
Initialize \Magento\Checkout\Model\Session class using Object Manager

Note: We can initialize Session and Cookie class using Object Manager.

[2018-03-04 06:37] vinaysikarwar commented on #13939
Already did that. But same issue when caching enabled. Disabling the cache working fine

[2018-03-04 06:59] anant-svc commented on #13939
@vinaysikarwar
Check below file must call before your ajax in cache, log the time and check which is called first.

/vendor/magento/module-checkout/Model/Type/Onepage.php Line **739**
In above file LastRealOrderId is saved to session. You can also check what is saved in session after place order.

[2018-03-04 08:55] C4rter commented on #11526
I've had an extensive debugging session and I had some insights into the issue. But no solution.
The issue seems to be that the backend theme is not properly created when this issue is happening.
The trace differs early on and Magento tries to create the backend theme a different way with or without the global.php.

I think the key is this file:
vendor\magento\module-theme\Model\View\Design.php

W

[2018-03-04 09:06] C4rter commented on #11526
And I've noticed that both, me and the one that opened this issue, are running Magento on "xampp" which means Windows. Maybe that's got something to do with it.

[2018-03-04 09:09] hostep commented on #13923
@anant-svc: no it's not, because he's using the `php` binary, that one should be executable in this context, not the script itself, only if you execute `bin/magento` without the `php` binary, it should be executable. And Magento already forces this to happen, because in the file `vendor/magento/magento2-base/composer.json`, we find something like this:
[code]
This is just FYI, but thanks for the i

[2018-03-04 09:26] sidolov commented on #11089
Hi @ju5t. Thank you for your report.
The issue has been fixed in magento/magento2#13630 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [88a90f8b471958430022cbcc91c16d2a630fce97](https://github.com/magento/magento2/commit/88a90f8b471958430022cbcc91c16d2a630fce97)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-04 10:31] andy17612 opened #13940 "Permissions problem"
### Preconditions

1. magento 2.2.3
2. php71
3. centos 7

### Steps to reproduce

1. From developer mode to production mode command is this. Is no problem.
[code]
2. From production mode back to developer mode missing generated, var, pub permissions
[code]
3. And then ran this command but after run `php bin/magento setup:upgrade` will be miss permissions again.
[code]

### Expected result

1.  how

[2018-03-04 10:33] nopenopenope commented on #13753
Hi @AngelBS, could you elaborate in which version you've checked it, as it seems that it were reproduceable on at least 3 minor versions of Magento.

[2018-03-04 11:23] vinaysikarwar commented on #13939
Actually I was doing something wrong. I was not adding my ajax when order successfully created and id is returned.

`$.when(placeOrder).fail(function () {
	self.isPlaceOrderActionAllowed(true);
}).done( function(order_id) {
	// write your custom code here
});`

[2018-03-04 11:23] #13939 closed, assigned to nobody

[2018-03-04 13:15] mohanadly89 opened #13941 "Fatal error: Class 'IntlDateFormatter' not found in C:\xampp\htdocs\mhd\vendor\magento\framework\ObjectManager\Factory\AbstractFactory.php on line 111"
i moved magento 2 from server to localhost in xampp

when opening the url i get this error .

note :
1-changed database secure url and unsecure url
2-enabled extension=php_intl.dll
2-changed app\etc\env  file with database name and database user and password
3-deleted the files in var\cache .

and still the getting the error

Fatal error: Class 'IntlDateFormatter' not found in C:\xampp\htdocs\mhd\

[2018-03-04 14:34] Jamesyahugh commented on #12683
cPanel Solution
![cPanel Solution](https://image.ibb.co/nstxq7/Capture.png)

[2018-03-04 15:48] raymond62 opened #13944 "Stores -> Terms and Conditions - No Store View shown"
1. Magento ver. 2.2.2

### Steps to reproduce
1. Go to "Stores -> Terms and Conditions" and create new Condition
2. Do this for different Store Views
3. No Store View in Column "Store View"

### Expected result
1. Store View should be shown in Column "Store View"

### Actual result
1. See Screenshot below

![04-03-2018 16-44-20](https://user-images.githubusercontent.com/29265078/36947429-c238d014-

[2018-03-04 16:14] ghost opened #13946 "Magento 2 Stores \ Configuration sub menu does no work"
When Entering the Stores \ Configuration menu, the sub menu  with the options:
GENERAL
CATALOG
CUSTOMERS
SALES
SERVICES
ADVANCED

Does no work. When clicking either on the text or the arrow to open the sub menu, nothing happens.

### Preconditions

1.  Windows 10, xampp apache + MySQL
2. Magento 2

### Expected result
1. I guess the sub menu should respond

### Actual result
1. Nothing happens.

[2018-03-04 17:00] C4rter commented on #11526
I've tested again on an Ubuntu setup with the same Magento and Extension Version and there are no problems. I think that says it all. It's some Windows/Xampp kind of issue I won't bother with further.

[2018-03-04 17:31] sambalay opened #13947 "catalog search results page 503 error"
### Preconditions

1. magento 2.2.2

### Steps to reproduce

1. when i enter a keyword and it is taking to the results page but with 503 error. If I reload the page again I can see the results.

### Expected result

1. It should show the results page with products

### Actual result

1. 503 error temporary service unavailable.
{"0":"SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magent

[2018-03-04 17:34] AngelBS commented on #13753
Hi @nopenopenope thanks for replying.
We tried to reproduce the problem on v2.2.3 and v2.2.4-dev, and it works as expected, let me know if you need more information about this issue

[2018-03-04 20:39] SimonAnguish commented on #7176
Also getting this problem. 4 custom category attributes save store view specific, but aren't show that way in the category view. Any progress in the last few weeks @xpoback?

[2018-03-04 22:56] doctormess opened #13948 "Sidebar shortcut to admin dashboard (Magento logo on top left) has no link in web setup wizard"
### Preconditions

1. Magento 2.2.3
2. Ubuntu 16.04

### Steps to reproduce

1. Admin dashboard>System>Web Setup Wizard
2. Click Magento logo on top left
3. No effect
4. No way to get back to admin dashboard

### Expected result

1. Click Magento logo on top left>admin dashboard

### Actual result

1. No effect as logo has no link like the other sidebars do

[2018-03-05 04:46] VZeroCool commented on #13888
@adeelq , I have created custom script to create customer at magento root.
As you said i am also able to create customer at both side but sendEmail throwing exception while Magento triying to send email to customer.

[2018-03-05 04:50] VZeroCool commented on #13888
Here is my custom script to create customer.

`<?php

	use Magento\Framework\App\Bootstrap;
	include('app/bootstrap.php');

	$bootstrap = Bootstrap::create(BP, $_SERVER);
	$objectManager = $bootstrap->getObjectManager();

	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

	$state = $objectManager->get('\Magento\Framework\App\State');

	$state->setAreaCode('fronten

[2018-03-05 06:38] magento-engcom-team commented on #13934
@robysalv ,thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-03-05 07:22] magento-engcom-team commented on #13839
@msliman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-05 07:22] #13839 closed, assigned to nobody

[2018-03-05 07:24] magento-engcom-team commented on #13839
@msliman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-05 07:25] magento-engcom-team commented on #13839
@msliman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-05 07:28] magento-engcom-team commented on #13920
@youngblood10, Please confirm You get a success message upon data validation (after Check Data having been clicked). Thank You.

[2018-03-05 08:21] VZeroCool commented on #13745
i can also reproduce this issue in Magento 2.2.3 CE as well.

[2018-03-05 08:36] magento-engcom-team commented on #13617
@larsroettig, any updates? We should close this issue as inactive.

[2018-03-05 08:43] magento-engcom-team commented on #13947
@sambalay thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-05 08:49] magento-engcom-team commented on #13941
@mohanadly89, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 08:51] #13941 closed, assigned to nobody

[2018-03-05 08:55] magento-engcom-team commented on #13935
@Toregam thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-05 08:55] magento-engcom-team commented on #13936
@Toregam, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-05 09:04] magento-engcom-team commented on #13948
@doctormess, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 09:30] magento-engcom-team commented on #13719
@scoops87, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-05 09:30] #13719 closed, assigned to nobody

[2018-03-05 09:38] magento-engcom-team commented on #13928
@Selven99 ,
thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-03-05 09:38] #13928 closed, assigned to nobody

[2018-03-05 09:41] magento-engcom-team commented on #13711
@peteraba, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-05 09:41] #13711 closed, assigned to nobody

[2018-03-05 09:54] magento-engcom-team commented on #11366
@afavata, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 09:55] adeelq commented on #13888
@VZeroCool can you please clarify this sentence "If error occurs than it customer no need to create but customer created successfully." It does not make sense. I thought you mean cannot create customer.

[2018-03-05 09:55] magento-engcom-team commented on #13944
@raymond62, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 09:55] #11366 closed, assigned to nobody

[2018-03-05 10:12] magento-engcom-team commented on #13929
@erikhansen, thank you for your report.
The issue is already fixed in 2.3.0
But we will consider to backport the fix to patch releases

[2018-03-05 10:12] magento-engcom-team commented on #13928
@Selven99, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 10:19] evgk opened #13950 "Cache issue with configurable products related to currency-conversions"
Issue to PR #13894

### Preconditions
Latest fresh Magento version.

### Steps to reproduce
Steps to reproduce the problem on a fresh Magento installation:
1. Set Magento to use the following currency setup:
- Base currency - USD
- Default display currency - USD
- Allowed currencies - Czech Republic Koruna, Danish Krone, US Dollar
2. Stores -> Currency rates should be set to the following:
USD/CZK

[2018-03-05 10:20] adam-thenorthernfoundry commented on #12191
I am also having this issue, seems to be related to the line
$select = $this->optionSelectBuilder->getSelect($superAttribute, $productId, $scope);
in vendor/magento/module-configurable-product/Model/AttributeOptionProvider.php

[2018-03-05 10:27] adeelq commented on #13888
@VZeroCool I'm able to replicate this. We are working on resolving this issue in dotmailer side.

[2018-03-05 10:36] Kasoi-free opened #13951 "Exception on customer edit under restricted admin access"
Opening Customer Edit page while logged in under restricted admin user produces an exception:
https://screen.amasty.com/1520245526134.jpg
https://screen.amasty.com/1520245539478.jpg

### Preconditions

1. Magento 2.2.2, 2.1.5
2. PHP 7.0, MySQL 5.6

### Steps to reproduce

1. Create a new User Role in admin area
2. Set Custom permissions for the role like this:
https://screen.amasty.com/15202460084

[2018-03-05 10:39] densen45 commented on #13126
Unfortunately, the fix is not included in the 2.2.3 release. However, it is currently included in the 2.2.4-preview branch.

[2018-03-05 10:43] VZeroCool commented on #13888
@adeelq , If there is exception from dot Mailer than Customer shouldn't be create, but currently customer is created at both frontend and backend as well.  This is Bug.

[2018-03-05 11:16] amitvishvakarma opened #13952 "Duplicate orders with same Quote Id at same time with few time difference."
**Preconditions**

1. Ability to process requests at same time. (in our case, we had use 2 different Client's system.)

**Steps to reproduce**

1. Login as a User
1. Add items to cart and proceed through checkout.
1. Select Any payment method. Not click on place order button
1. Now login to the same account in another system.
1. And proceed to checkout with the same items. Not click on place order

[2018-03-05 11:20] webstower commented on #12679
Same problem after user inline translate and then run a few commands from console... The same errors in the RESUME in cart view.. Somebody who can help me?

[2018-03-05 11:29] magento-engcom-team commented on #13919
Hi @melnickforever
This is not a bug.

[2018-03-05 11:30] sadeeshmca commented on #11821
Hello ,

I also face this issue on Magento 2.2.2 ?.

Any Update?

Thanks,

[2018-03-05 11:30] magento-engcom-team commented on #13946
Hello @supergula. Thanks for reporting. Unfortunately Magento 2 does not support Windows OS (Magento 1 did it), see the documentation: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html. Please reopen the issue if You are able to reproduce it using the supported operating system.

[2018-03-05 11:30] #13946 closed, assigned to nobody

[2018-03-05 11:31] magento-engcom-team commented on #13946
@supergula, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 11:34] sultan619 opened #13953 "unlimited brands"
i got a magento 2 store and im using codazon extension and i wanted to add my brands and its more than 500 brand .. and i started to add them to the attributs it wont add more than 166 brand
i looked up for a solution and i found no option that help me do what i needed to do in the first place .

[2018-03-05 11:37] magento-engcom-team commented on #13748
@rkwiecinski we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-05 11:37] #13748 closed, assigned to nobody

[2018-03-05 11:38] magento-engcom-team commented on #13763
@ravishukla007 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-05 11:38] #13763 closed, assigned to nobody

[2018-03-05 11:39] magento-engcom-team commented on #13744
@vinit2jain we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-05 11:39] #13744 closed, assigned to nobody

[2018-03-05 11:47] siimm opened #13954 "Track not saved during shipment creation through API"
### Preconditions

1. Magento CE 2.2.3 with sample data installed (Also same in CE 2.2.2)
2. PHP 7.0.22

### Steps to reproduce

1. Create an order with one item
2. Use Magento REST API to create a shipment (POST <magento install url>rest/V1/shipment/)
Request body:
`{
"entity":{
  "order_id":3,
  "items": [
    {
      "order_item_id": 3,
      "qty": 1
    }
  ],
 "comments": [
      {
        "

[2018-03-05 11:49] #13617 closed, assigned to larsroettig

[2018-03-05 11:50] magento-engcom-team commented on #13953
Hi @sultan619

[2018-03-05 11:57] magento-engcom-team commented on #13934
@robysalv we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-05 11:57] #13934 closed, assigned to nobody

[2018-03-05 12:04] magento-engcom-team commented on #13833
@weraparra, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 12:04] #13833 closed, assigned to nobody

[2018-03-05 12:08] magento-engcom-team commented on #13951
@Kasoi-free, thank you for your report.
The issue is already fixed in 2.2.4, 2.3.0

[2018-03-05 12:08] #13951 closed, assigned to nobody

[2018-03-05 12:10] magento-engcom-team commented on #11195
@likhamahudda, thank you for your report.
Unfortunately, we were not able to reproduce this issue. Please provide steps to reproduce or try to reproduce this issue on a clean installation without any 3rd-party extensions.

[2018-03-05 12:24] magento-engcom-team commented on #13937
@erikhansen, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 12:29] magento-engcom-team commented on #13952
@amitcedcoss, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 12:30] magento-engcom-team commented on #13919
@melnickforever, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 12:36] magento-engcom-team commented on #13163
@willfrombrazil  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce this issue and install the language package.

[2018-03-05 12:49] magento-engcom-team commented on #13142
@Anmer, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-05 12:50] #13142 closed, assigned to nobody

[2018-03-05 12:57] bulbulagarwal896 opened #13955 "filter_url_params not update export grid"
Preconditions:
1. Magento 2.2.2
2. create a custom grid with filter_url_params value, to implement filter on grid.

 Steps to reproduce
1. login to admin, and open the grid, which have filter_url_params filter.
2. after rendering the grid, export the csv

Expected result
1. in exported csv rows should be the same which are in result after filter_url_params

Actual result
1. in csv it displays all

[2018-03-05 12:58] sultan619 commented on #13953
hi

[2018-03-05 13:16] hostep commented on #13833
@weraparra: I would highly recommend you to remove the login credentials you posted here on Github and change them in the shop afterwards, otherwise the entire world is able to login to the backend of your shop :)

[2018-03-05 13:30] elioermini commented on #4301
Replicating on M2.1.10 Commerce

[2018-03-05 13:35] magento-engcom-team commented on #13531
@nicobatty, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 13:37] magento-engcom-team commented on #12591
@pixiemediaweb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-05 13:47] tdgroot opened #13957 "Product model in frontend does not contain price including tax"
### Preconditions

1. Magento 2.2.3
2. Configured tax zone and rule so tax is being calculated. (in my case 21% vat for the Netherlands)
3. Configured tax like the following:
![image](https://user-images.githubusercontent.com/1165302/36977190-9a20e4da-2080-11e8-9a4a-84ef8e91e040.png)

### Steps to reproduce

1. Create a product with the price of `5.05`.
2. Visit the product in frontend
3. Price is

[2018-03-05 13:50] magento-engcom-team commented on #13938
Hello @virus2ever. Thanks for reporting. As we see You are dealing with a configurable product. Have You assigned the appropriate image for every single variation of it (simple product)?

[2018-03-05 13:57] magento-engcom-team commented on #13383
@ulicodex , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-03-05 14:29] magento-engcom-team commented on #12583
@vtimonin, thank you for your report.
The issue is already fixed in 2.3.0, 2.1.12

[2018-03-05 14:29] #12583 closed, assigned to nobody

[2018-03-05 14:30] magento-engcom-team commented on #12623
@navinbhudiya, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 14:30] magento-engcom-team commented on #13950
@evgk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 14:50] magento-engcom-team commented on #13147
@aCicchelli The issue seems to be fixed in upcoming 2.3.0.
We will consider to backport the fix to patch releases

[2018-03-05 14:54] magento-engcom-team commented on #13179
@teokolo The issue is already fixed in 2.2.2 onward.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 14:54] #13179 closed, assigned to nobody

[2018-03-05 15:07] magento-engcom-team commented on #8803
@yariksheptykin, thank you for your report.
The issue is already fixed in 2.2.3

[2018-03-05 15:07] #8803 closed, assigned to nobody

[2018-03-05 15:29] kshaa opened #13958 "\Magento\Sales\Model\Order\Status has no repository."
### Preconditions
1. I want to create a new order status in an upgrade script.

### Steps to reproduce
1. Try to find a repository class for \Magento\Sales\Model\Order\Status anywhere in M2's codebase
2. Fail trying.

I know that models should be created and fetched through repositories (service contracts) and the model load methods are deprecated. How should one proceed if the deprecated method i

[2018-03-05 15:30] arijit-de93 opened #13959 "Not able to save customer from admin panel"
### Preconditions

1. Magento 2.3
2. php 7.1
3. MySQL 14.14
4. Ubuntu 17

### Steps to reproduce

1. Login to admin panel.
2. Go to Customer
3. Click on Add Customer
4. Provide data except Date of Birth and click on save.
7. Getting error 'Something went wrong while saving the customer'

### Expected result

1. It should save the customer.

### Actual result

1. Something went wrong while saving t

[2018-03-05 15:33] Lanot commented on #10209
Hello Community!

I was able to reproduce the same error `Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s):` when tried to import products with images. The images were located  and really existed on 3rd party website, not in local foder.

The issue was related to HTTP Header, which my images returned when code asked for HTTP st

[2018-03-05 15:38] robertkent commented on #5929
So, I've got the same issue on 2.2.3 - we migrated from 1.7 to 2.2, we're on single-store mode. If we update any URL key and ask it to produce a rewrite - nothing happens.

The URL key changes in admin but is still the old one on frontend. If I try to go to the new URL on frontend I get a 404. I can't believe how broken this is?! Is there a way to fix this manually?

I've tried the hack of coming

[2018-03-05 15:41] barryvdh commented on #13929
Thank you, this is an important issue for us also. Is there a patch available for 2.2.3?

[2018-03-05 15:43] hostep commented on #13929
@magento-engcom-team: can you point us to the commit where this is fixed in 2.3-develop? I have the feeling that we will run into the same problems due to the way how we deploy to the servers.

[2018-03-05 15:55] timbaker1991 commented on #11191
This feels ill thought out - how do we choose what gets bundled or merged (due to dependencies we can only have one or the other - this applies in _production_ too)?

[2018-03-05 15:59] nishantbkw commented on #7874
We Upgrade version to 2.2.2 can't find this fix in new version too. checked in the file "CategoryProcessUrlRewriteSavingObserver.php" your code fix is not there.
can you please verify?

[2018-03-05 16:06] magento-engcom-team commented on #11657
@peterjaap, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-05 16:08] magento-engcom-team commented on #13089
@shinesoftware , thank you for your report.
Please add more details to your description of the steps you followed when identifying this issue.
You can justify what exactly you are doing at this step: "You have to add these 2 products in both stores using the "Update Attribute" tool".

[2018-03-05 16:11] kanduvisla commented on #13929
I can confirm this behavior as well in 2.1.12. Can the backport also be considered for 2.1.x?

[2018-03-05 16:58] magento-engcom-team commented on #13382
@chefbuitenhuis The issue is already fixed in 2.2.2 onward.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 16:58] #13382 closed, assigned to nobody

[2018-03-05 17:12] mamsincl commented on #4979
Same issue in here on 2.2.2 after **deleting** product **directly from database** (_catalog_product_entity_ table)

until properly clearing all data of deleted products, and clear related categories as well (even url_rewrite table) the error still exists

[2018-03-05 17:23] magento-engcom-team commented on #13465
@RishabhRkRai The issue is already fixed in 2.2.2 onward.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 17:23] #13465 closed, assigned to nobody

[2018-03-05 17:24] superdav42 commented on #13915
Tracked the problem down to https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Downloadable/Helper/File.php#L134 needs to send absolute path to \Magento\MediaStorage\Model\File\Uploader::getNewFileName

[2018-03-05 17:26] magento-engcom-team commented on #13646
@pradeeprcs The issue is already fixed in 2.2.2 onward.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 17:26] #13646 closed, assigned to nobody

[2018-03-05 17:28] magento-engcom-team commented on #12846
@jzahedieh The issue is already fixed in 2.2.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 17:28] #12846 closed, assigned to nobody

[2018-03-05 17:30] magento-engcom-team commented on #8189
@atishgoswami, thank you for your report.
The issue is already fixed in 2.2.2

[2018-03-05 17:31] magento-engcom-team commented on #13921
@DKoctopus The issue is already fixed in 2.2.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 17:31] #13921 closed, assigned to vrann

[2018-03-05 17:32] magento-engcom-team commented on #13243
@vtimonin The issue is already fixed in 2.2.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-05 17:32] #13243 closed, assigned to nobody

[2018-03-05 17:33] youngblood10 commented on #13920
hi,
all the import paths where changed from h/t/ to just the image and  all data checks passed before it hung. it does this issue when even the file given to you is uploaded (without images), i am told by my hosters support team that they host multiple sites without complaint, however i cannot confirm if others have the same issue.

[2018-03-05 18:14] itsabe opened #13961 "Magento 2 - OAuth Problem = Consumer Key Has Expired"
### Preconditions
1. Magento Version 2.4
2. Set up and activated API Integration with full access

### Steps to reproduce
1. Create integrations
2. Make POST call to `/oauth/token/request`

### Expected result
1. Get request token

### Actual result
1. oauth_problem=Consumer+key+has+expired

![image](https://user-images.githubusercontent.com/15145911/36991851-fd4c4cb6-2076-11e8-8263-2a50d0fa1922.p

[2018-03-05 18:33] smashhell commented on #6281
This issue still persist in Magento ver. 2.2.2

[2018-03-05 18:33] smashhell commented on #7687
This issue still persist in Magento ver. 2.2.2

[2018-03-05 20:36] mariamghalleb commented on #12330
did you find a solution for this? I'm having the same problem.

[2018-03-05 21:33] okorshenko commented on #13214
Hi @Sharkozp the issue has been fixed in 2.2-develop and 2.1-develop branches
Will be available with 2.2.4 release

[2018-03-05 21:33] #13214 closed, assigned to nobody

[2018-03-05 22:10] okorshenko commented on #7167
Hi @dverkade thank you for deep research and linking all together. Closing this issue

[2018-03-05 22:10] #7167 closed, assigned to nobody

[2018-03-05 22:20] magento-engcom-team commented on #12404
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#13709 by @hostep in 2.2-develop branch
Related commit(s):
 - [d5490144c5d833827ac37ae6f7cc53c6ff4182ac](https://github.com/magento/magento2/commit/d5490144c5d833827ac37ae6f7cc53c6ff4182ac)
 - [3733deada21670bd45626a91786b601994ec08e2](https://github.com/magento/magento2/commit/3733deada21670bd45626a91786b601994ec08

[2018-03-05 22:20] magento-engcom-team commented on #7515
Hi @edelepine. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1187 by @RomaKis in 2.2-develop branch
Related commit(s):
 - [9bb3dd3a4ec9319615af6094e66c2ac1b0d4ed4b](https://github.com/magento/magento2/commit/9bb3dd3a4ec9319615af6094e66c2ac1b0d4ed4b)

The fix will be available with the upcoming 2.2.4 release.

[2018-03-05 22:20] #7515 closed, assigned to RomaKis

[2018-03-05 22:21] okorshenko commented on #7720
Hi @itaymesh
we have a Pull Request for this issue. We are testing the solution right now.

[2018-03-05 22:24] okorshenko commented on #6751
@mbrinton01 could you please look at this issue.

[2018-03-05 22:51] magento-engcom-team commented on #5196
Closing as non-issue. Please see previous comment

[2018-03-05 22:51] #5196 closed, assigned to nobody

[2018-03-05 22:55] magento-engcom-team commented on #11055
Hi @maghamed thank you for your researcher.
@pareshpa please consider the solution described by @maghamed

[2018-03-05 22:55] #11055 closed, assigned to nobody

[2018-03-05 22:56] tonybrown85 commented on #12330
[TonyBrown_ForceInventory.zip](https://github.com/magento/magento2/files/1782893/TonyBrown_ForceInventory.zip)
Here's a hacky solution I came up with to overcome this. This always sets the isSaleable() method against the product object as true for both simple and bundle product types. It comes in two versions.

Version 1.0.0 forces this flag for all simple and bundle products as default during the

[2018-03-05 23:10] oe-bayram opened #13962 "Shipping address and billing address swapped"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Create a customer account
2. Create a billing address
3. Create a shipping address different from billing address

### Expected result

1. After an order billing address should be shown as billing address and shipping address as shipping address

### Actual result

Problem 1: In order details the shipping address is shown as billing a

[2018-03-06 01:39] Grumag commented on #7977
Any update from anyone on this?

[2018-03-06 04:34] btwq commented on #1405
@hatimeria-artur-jewula we discussed whether the try block is required. It makes sense however you run the risk of declaring a different area code than intended. e.g.

1. In constructor, setAreaCode(Area::AREA_FRONTEND)
2. In execute(), setAreaCode(Area::AREA_ADMIN).

If (2) was in try block, then setAreaCode in (2) is ignored, and now you have set area as FRONTEND instead of ADMIN. By avoiding a

[2018-03-06 05:41] mrzaizai2233 opened #13963 "can't add product width customOptions type="file""
### Preconditions
1. Magento 2.2.2
2. PHP 7.0.27
### Steps to reproduce

1. in admin a create a Customizable Options type File with file extentions png then i save product
2. frontend i chose product i have created then chose image type png for custome options and click Add to cart

### Expected result

1. The product should add to cart

### Actual result

1.When i click add product to cart with c

[2018-03-06 06:28] magento-engcom-team commented on #13920
Ok, @youngblood10. Then may we yet ask You to try to reproduce this issue on a clean, fresh instance of Magento - having been just downloaded from GitHub or official Magento site, without any custom modules, extentions, themes, with new empty database created for it. Thank You.

[2018-03-06 07:31] magento-engcom-team commented on #13963
Hello @mrzaizai2233. Thanks for reporting. Please specify what operation system You have.

[2018-03-06 07:31] Robert-Damon commented on #6955
@kumarancontus  Where to place this code, I want to achieve the same purpose as you.

[2018-03-06 07:36] robert-damon opened #13964 "Admin: While product which has images deleted. It's not deleting from Folder."
Preconditions
I'm using Magento 2 CE Version 2.1.1
Steps to reproduce
Go to Admin -> Products -> Catalog
When Product has image & if you delete from listing.
It will not delete product images from Folder.
Expected result
When product is deleted, It should delete all product images from Folder as well.
Actual result
Currently it's not deleting product Images.
Due to Image Not Deleted, there will be

[2018-03-06 07:52] mrzaizai2233 commented on #13963
i am running magento on:
1, Xampp v3.2.2
2, Appache 2.4
when running magento on wamp 3.1.0 64bit i have same error

[2018-03-06 08:10] magento-engcom-team commented on #12492
@abdulbasitnawab , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-06 08:10] #12492 closed, assigned to nobody

[2018-03-06 08:56] magento-engcom-team commented on #13540
@pgsutariya Thanks for reply. Please create additional issue, which describe problematic behaviour from your last comment.
We close this issue, as initially described behaviour is expected one.

[2018-03-06 08:56] #13540 closed, assigned to neeta-wagento

[2018-03-06 09:01] cherreman commented on #10424
There seems to be a difference in behavior when you leave the section "Search Engine Optimization" closed or when you have opened it.

For instance, url key:

- closed: a new url key is saved for the selected storeview.
- opened: a NULL url key is saved.

[2018-03-06 09:09] vlauria commented on #12602
on magento 2.2.2 i have same problem. This is not duplicate. It's another problem, cron run schedule more job at times.

[2018-03-06 09:18] magento-engcom-team commented on #13963
But  @mrzaizai2233 Your server itself runs on windows? (As we can conclude from using wamp).

[2018-03-06 09:19] mrzaizai2233 commented on #13963
i am using win 7

[2018-03-06 09:24] fronke commented on #13889
Hi,

I also have the same problem since 2.2.2 but I still didn't figure out when it was happening exactly. It seems kind of random for now, but it happens most of the time between step 1 and 2 of checkout.

Please keep us informed if you find more about this.

Thanks

[2018-03-06 09:30] magento-engcom-team commented on #13961
Hello @itsabe. Thanks for reporting. Please confirm us that You have everything OK with those settings in Your Magento Backend: Stores->Configuration->Servises->OAuth->Consumer Settings section.

[2018-03-06 09:31] erikkubica commented on #11131
@magento-engcom-team @PieterCappelle this happens when you copy paste content from wysiwyg to wysiwyg where is image, the image url in this case is special url that requires to be logged in into admin to be able to see the image. At least this was our case.

[2018-03-06 09:43] magento-engcom-team commented on #13963
@mrzaizai2233, unlike Magento 1, Magento 2 does not support Windows OS (please see the documentation: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html). We were not successful trying to reproduce Your issue with Magento instance running on the supported operating system. Please reopen the issue if You are able to reproduce it using the supported operating system.

[2018-03-06 09:43] #13963 closed, assigned to nobody

[2018-03-06 09:54] shyamol commented on #7647
thanks @itg-ddanielson '@vkublytskyi
@MounikaK999 , @webspeaks @eduard-kistner @robbanl

Fixed it!!!
I experienced this issue after migrating from M1 to M2. When edit any product, add/delete image does not work. It shows when it is uploaded but after save it does not save. I have applied this query to solved the issue. here media_gallery attribute id is 703.

DELETE FROM `catalog_product_entity_va

[2018-03-06 10:04] mrzaizai2233 commented on #13963
i have just started with m2 , m2 not support  Windows OS but why am i still can install m2 and development module ?  :dagger: :dagger:

[2018-03-06 10:22] magento-engcom-team commented on #13958
@kshaa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 10:22] magento-engcom-team commented on #12492
@abdulbasitnawab, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-06 10:22] magento-engcom-team commented on #13957
@tdgroot, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 10:22] magento-engcom-team commented on #13954
@siimm, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 10:22] magento-engcom-team commented on #13927
@breg-13, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 10:22] magento-engcom-team commented on #13514
@Munszu, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-06 10:22] #13514 closed, assigned to nobody

[2018-03-06 10:27] kennedyabitbol commented on #12912
Thank you.

When i remove the line about composer, i got this error:
`
[code]
`

[2018-03-06 10:37] ishakhsuvarov commented on #11892
Hi @amithlalalj @erik-augustin @lecahipe @matteolavaggi
Please take a look at these comments:
https://github.com/magento/magento2/issues/7623#issuecomment-363240932
https://github.com/magento/magento2/issues/7623#issuecomment-364469505
And let us know if it helped.
If the issue persists, please describe minimum steps required to reproduce the issue on a clean Magento installation. This would great

[2018-03-06 10:42] kennedyabitbol commented on #12912
So i could update to 2.1.9 without the line composer, then i add it again and made composer update

But i am still unable to update to 2.2.2 or 2.2.3 version of magento.

[2018-03-06 11:03] ishakhsuvarov commented on #8203
@Silarn Thank you for reporting.
Closing as duplicate of https://github.com/magento/magento2/issues/7227 to simplify tracking.

[2018-03-06 11:03] #8203 closed, assigned to nobody

[2018-03-06 11:06] matteolavaggi commented on #11892
I've uninstalled magento. Its not possible to have these kind of problem
from 2 major realease of the software.

2018-03-06 11:37 GMT+01:00 Ievgen Shakhsuvarov <notifications@github.com>:

--
cordialmente,

Matteo Lavaggi
CEO

ufficio +390245071999

www.pineappleitaly.com/pineapplegroup

*PINEAPPLE® S.r.l.*
Capitale sociale €100.000 i.v.
SL: Galleria C.so Garibaldi 16-18, 16043 Chiavari (GE) Italy

[2018-03-06 11:22] magento-engcom-team commented on #9685
Hi @klein0r
For create a customer attribute and don't show it on the edit form you should add attribute like this:
[code]
If you want to show on the customer create/edit form, you should specify 'used_in_forms':
[code]
More see [this](https://www.mageplaza.com/magento-2-module-development/magento-2-add-customer-attribute-programmatically.html)

If you add an attribute with `'user_defined' => false

[2018-03-06 11:29] magento-engcom-team commented on #9685
@klein0r please tell me if you have helped the last comment for resolve your issue.

[2018-03-06 11:30] magento-engcom-team commented on #13962
@oe-bayram, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 11:32] magento-engcom-team commented on #13836
@eladnm, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-06 11:32] #13836 closed, assigned to nobody

[2018-03-06 11:35] magento-engcom-team commented on #13772
@goben2489, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-06 11:35] #13772 closed, assigned to nobody

[2018-03-06 11:38] agoeurysky commented on #6959
Hi @schnappenberger @magento-engcom-team ,

Why is this issue closed ? The _saveCache AbstractBlock method is always the same in v2.2.3 : https://github.com/magento/magento2/blob/2.2.3/lib/internal/Magento/Framework/View/Element/AbstractBlock.php#L1113

[2018-03-06 11:41] magento-engcom-team commented on #12673
@SantoDE , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-06 11:43] ccasciotti commented on #12602
I agree with @tomasvinduska and @vlauria, I'm facing the same issue. The cron schedules job at the same time more than once for the same schedule time.

![cron](https://user-images.githubusercontent.com/4273323/37030602-d2c67c6c-213b-11e8-818f-717ca8feaf9e.png)

I'll reopen issue.

[2018-03-06 11:47] magento-engcom-team commented on #13959
@arijit-de, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![screenshot_1](https://user-images.githubusercontent.com/31669971/37030762-d6523962-2144-11e8-9f18-bd936519fcdf.png)

[2018-03-06 12:30] magento-engcom-team commented on #10978
@eInyzant, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 12:30] magento-engcom-team commented on #12638
@shavounet, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 12:30] magento-engcom-team commented on #13772
@goben2489, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-06 12:30] magento-engcom-team commented on #13836
@eladnm, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-06 12:30] magento-engcom-team commented on #13150
@shahar-bch87, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-06 12:30] #13150 closed, assigned to nobody

[2018-03-06 12:49] thlassche commented on #13902
@magento-engcom-team I saw this when using it in combination with onestepcheckout. Please see here for the code that's definitely wrong in my opinion:

https://github.com/magento/magento2/blame/2.3-develop/app/code/Magento/Checkout/Model/PaymentInformationManagement.php#L118

You can't explode by '_', compare it with this one:

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/

[2018-03-06 12:52] magento-engcom-team commented on #7879
Closing, as this issue duplicates https://github.com/magento/magento2/issues/7720

[2018-03-06 12:52] #7879 closed, assigned to nobody

[2018-03-06 13:12] jigar48 opened #13967 "Category image not display after upgrade from magento 1.9.2 to magento 2.2.1"
After upgrade with the magento 2.2.1

When I see the category images in the back end side its fine but in the front end side its not displayed after uploaded same image again in the back end side and save the category. then,

**actual result**
but in the front end its display the category image URL like this  -> /pub/media/catalog/category//p/l/plotterpapier_afmetingen_1.jpg

and in the back end s

[2018-03-06 13:24] ishakhsuvarov commented on #8469
Hi @paveq
I am closing this issue in favor of https://github.com/magento/magento2/issues/8145
While reports may be somewhat different it is still the same problem which must be fixed for all cases at the same time.

Thank you for report and detailed investigation

[2018-03-06 13:24] #8469 closed, assigned to nobody

[2018-03-06 13:25] magento-engcom-team commented on #13964
@Robert-Damon, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 13:25] ishakhsuvarov commented on #8145
Additional information and research on the issue: https://github.com/magento/magento2/issues/8469

[2018-03-06 13:39] ishakhsuvarov commented on #9043
Hi @shahankitb997
Thank you for the detailed report on the issue.
From the engineering perspective this issue is caused by the same thing as https://github.com/magento/magento2/issues/3625
I am closing this report now to simplify tracking.

[2018-03-06 13:39] #9043 closed, assigned to nobody

[2018-03-06 13:39] ishakhsuvarov commented on #3625
More use cases for this issue: https://github.com/magento/magento2/issues/9043

[2018-03-06 13:43] magento-engcom-team commented on #9111
Hi @MrDaar
We are now closing this as a duplicate of https://github.com/magento/magento2/issues/8868

Thank you for participation

[2018-03-06 13:43] #9111 closed, assigned to nobody

[2018-03-06 13:43] magento-engcom-team commented on #8868
Additional use case: https://github.com/magento/magento2/issues/9111

[2018-03-06 13:56] magento-engcom-team commented on #10700
Hi @historylife
We are closing this report as it may be a duplicate of https://github.com/magento/magento2/issues/5967
Please reopen and provide more information if you think this is wrong.

Thank you for collaboration

[2018-03-06 13:56] #10700 closed, assigned to nobody

[2018-03-06 13:59] itsabe commented on #13961
![image](https://user-images.githubusercontent.com/15145911/37036082-9b146776-211c-11e8-8db1-513605fdd095.png)

Yes, everything looks okay.

[2018-03-06 14:00] magento-engcom-team commented on #10766
@ennostuurman , thanks for the report. Unfortunately, we can not reproduce this issue with specified steps.
Steps we did:
Magento 2.2.2
1. Create custom parent theme(based on blank)
2. Create child theme(basically empty, has only registration.php and theme.xml)
3. Create additional store view.
4. Assign parent theme to default store view(en_US)
5. Assign child theme to custom store view(nl_NL)
6.

[2018-03-06 14:12] magento-engcom-team commented on #13967
Hi @jigar48. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-03-06 14:12] #13967 closed, assigned to nobody

[2018-03-06 14:12] magento-engcom-team commented on #11208
Hi @Cornoud
We are closing this report now as duplicate of https://github.com/magento/magento2/issues/12428
Thank you for reporting

[2018-03-06 14:12] #11208 closed, assigned to nobody

[2018-03-06 14:13] magento-engcom-team commented on #12428
Additional information and use cases: https://github.com/magento/magento2/issues/11208

[2018-03-06 14:30] magento-engcom-team commented on #5458
@spipu, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 14:30] magento-engcom-team commented on #5826
@kilis, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0, 2.1.12

[2018-03-06 14:30] #5826 closed, assigned to nobody

[2018-03-06 14:31] justin-at-demac commented on #13890
I am also encountering this issue on a v2.1.11 EE installation.

In the browsers I've tested on (Firefox, Chrome, Internet Explorer), it only occurs on Internet Explorer.

Occurs when a configurable product is added to cart. If you click the edit product link and try to select a different configurable option (such as swatch), and then try to add that back to cart; you will encounter the same "We c

[2018-03-06 14:37] magento-engcom-team commented on #13961
@itsabe, then please confirm that Expiration period of 300 sec. for Consumer Settings was enough for You, so that Consumer key/secret You got while creating (activating) the integration was not yet expired when You sent  /oauth/token/request. Thank You.

[2018-03-06 14:49] itsabe commented on #13961
@magento-engcom-team yes, it is enough. I even just created another integration, and send a POST to /oauth/token/request and got the same response of consumer key has expired. This was all done within 2 minutes.

[2018-03-06 14:51] cbend opened #13968 "Price Filter in Layered Nav does not reflect Catalog Price Rule"
### Preconditions

1. Magento version 2.1.11
2. Default layered navigation (no extensions)

### Steps to reproduce

1. Add products to category
2. Setup Catalog Price Rule for category
3. Make sure price is filterable (included in layered navigation)

### Expected result

1. Price filter uses sale price from Catalog Price Rule

### Actual result

1. Price filter uses original price
![image](https:

[2018-03-06 14:54] maghamed commented on #11055
@gabidavila  MySQL Replication with GTIDs does not support usage temporary tables inside transactions

https://dev.mysql.com/doc/refman/5.6/en/replication-gtids-restrictions.html

Currently, Magento Indexation mechanism and its base ResourceModel looks like
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Indexer/Model/ResourceModel/AbstractResource.php#L82-L96
[code]

Index t

[2018-03-06 15:02] magento-engcom-team commented on #9369
@thdoan Closing this now due to inactivity.
Please reopen if you have any updates

[2018-03-06 15:02] #9369 closed, assigned to lewisvoncken

[2018-03-06 15:03] thlassche opened #13969 "Updating a CMS block does not update the 'Updated time' column"
### Preconditions
1. Magento version >= 2.2

### Steps to reproduce
1. Update a CMS block (e.g. change the title)

### Expected result
1. Looking at CMS block grid, the updated time column is changed

### Actual result
1. Looking at CMS block grid, the updated time column is not changed

[2018-03-06 15:08] mikelevy300 commented on #13929
I'm having the same issue on 2.1.12.

[2018-03-06 15:13] breg-13 commented on #13927
@magento-engcom-team, thanks!

[2018-03-06 15:14] magento-engcom-team commented on #9038
Hi @synolia-bvo
This issue should be fixed in latest `2.2` with the commit https://github.com/magento/magento2/commit/86d46ce0bdeca61ade5c1063edcb70367f17b2a5
Closing the issue report for now. Please reopen if issue persists.

[2018-03-06 15:14] #9038 closed, assigned to nobody

[2018-03-06 15:18] AaronKaa commented on #6817
Im having the same issue on 2.2.2 also

[2018-03-06 15:19] Lycanite commented on #6817
Same also on 2.2.2. :(

[2018-03-06 15:21] magento-engcom-team commented on #13908
@openwavecomputing The issue is already fixed in `2.2` and `2.3-dev`.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-06 15:21] #13908 closed, assigned to nobody

[2018-03-06 15:24] magento-engcom-team commented on #12707
**Steps to reproduce this issue:**

1. Configure PayPal Express.
2. Create downloadeble product.
3. Create customer without billing or shipping address and login in.
4. Add downloadable product to cart.
5. Proceed to checkout.
6. Choose PayPal Expres payment method.
7. Place order.
8. Open created order in backend.

**Actual result:** The billing address wrong appears as {{depend prefix}}{{var pre

[2018-03-06 15:26] magento-engcom-team commented on #13835
@oe-bayram The issue is already fixed in `2.2.2` and `2.3-dev`.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-06 15:26] #13835 closed, assigned to nobody

[2018-03-06 15:28] magento-engcom-team commented on #13743
@Gloweye The issue is already fixed in `2.2.2` and `2.3-dev`.
Please reopen if you need any further assistance with this.

[2018-03-06 15:30] magento-engcom-team commented on #13969
@thlassche, thank you for your report.
The issue is already fixed in 2.3.0
But we will consider to backport the fix to patch releases

[2018-03-06 15:30] magento-engcom-team commented on #12707
@josephmcdermott, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 15:30] magento-engcom-team commented on #13797
@rzinnatullin, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-06 15:30] magento-engcom-team commented on #13460
@moehrenzahn The issue is already fixed in `2.2`.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-06 15:50] magento-engcom-team commented on #13474
@zack6849 The issue is already fixed in `2.2` and `2.3-dev`.
Closing ticket for now. Please reopen if you need any further assistance with this.

[2018-03-06 15:50] #13474 closed, assigned to nobody

[2018-03-06 15:55] jvood opened #13970 "Why download keeps failing from magento official repository?"
### Preconditions

1. Trying to download Full Release with Sample Data using official repository https://magento.com/tech-resources/download

### Steps to reproduce
1. Go to https://magento.com/tech-resources/download
2. Select any format and click "Download" button

### Expected result
1. "Magento Open Source 2.2.3..tar.gz" file must be downloaded.

### Actual result
1. Download process keeps fai

[2018-03-06 16:05] jalogut opened #13971 "Country values missing in admin customer grid for multi-store configuration"
Country values missing in "All Customers" admin grid, if multi-store with `Account Sharing Options = per Website`

![Customer Grid Screenshot](https://user-images.githubusercontent.com/6410900/37042812-78a3a86c-215f-11e8-88b2-493270b73b5d.png)

### Preconditions

1. Any Magento version between 2.1.10 to 2.2.3

### Steps to reproduce

* Vide demo: [customer_grid_country_bug.mov](https://www.dropbox

[2018-03-06 16:22] superdav42 opened #13972 "Fulltext search does not work with multiselect attribute option values"
### Description
Create a custom product attribute with the multiselect input type. Create several options. Make the attribute searchable and shown in advanced search.
Create product with the attribute and select several values.

### Preconditions
1. Occurs with Magento 2.2.3 and any 2.2.x

### Steps to reproduce
1. From Admin, Go to _Stores - Attribute Product_. Click **Add New Product**
2. From *

[2018-03-06 16:25] jalogut commented on #13971
I figured out the sources of the problem. Implementing a solution however it is a bit more complex.

## Problems:

1. Country source loads only allowed countries for current store. In the admin that is `store_id = 1`

    `\Magento\Customer\Model\ResourceModel\Address\Attribute\Source\Country`
[code]

If that was the only problem, an easy workaround would be to allow all countries on `Default Scop

[2018-03-06 17:02] vrann commented on #13915
@superdav42 have you seen PR #13932 -- does that sounds right?

[2018-03-06 17:04] vrann commented on #13915
@faguilarp87 please write me to eulika@magento.com in regards to contribution day participation.

[2018-03-06 17:10] paul-blundell opened #13974 "Url rewrites are generated w/ category path included even with setting turned off"
### Preconditions
Magento 2.2.2

### Steps to reproduce
1. Set "Use Categories Path for Product URLs" to No
2. Add a new product and select a category

### Expected result
The url_rewrite table should only have the product url in the request path without any categories for each store view.

### Actual result
I am seeing an entry in the url_rewrite table for the product path without categories but

[2018-03-06 17:45] vrann commented on #13753
per @AngelBS closing the issue

[2018-03-06 17:45] #13753 closed, assigned to nobody

[2018-03-06 19:05] itsabe commented on #12032
Also, I stumbled upon #12032 from back in Nov 2017, but have not seen any updates on it.

[2018-03-06 19:05] itsabe commented on #13961
Also, I stumbled upon #12032 from back in Nov 2017, but have not seen any updates on it.

[2018-03-06 19:09] Oscar-Wagento commented on #12989
HI i got this problem also... but when i try to eliminate it it appears sjparkinson/static-review is not required in your composer.json and has not been removed
Please HELP!! :(

[2018-03-06 19:12] Linek commented on #11002
Quick tip for this is described in here: https://alekseon.com/en/blog/post/magento-2-slow-and-cpu-usage-gets-high-this-might-be-the-reason/

And fix itself is here: https://github.com/Alekseon/CleanRunningJobs

[2018-03-06 20:01] AirmanAJK commented on #13974
I've noticed this as well. I believe it was intentional as a user could change the config at any time to include those paths or not. If they didn't already exist, updating the config would require potentially many thousands of URL rewrite rules to be created at once in the update request, some of which could conflict with existing rules (as you pointed out).

I do agree that it adds unnecessary cl

[2018-03-06 20:04] luizpaulofranz commented on #5664
The same issue occurs when you insert a product with API.

[2018-03-06 20:19] bentintoshape opened #13978 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
Every time I try to generate a xml product feed I get this error message

"A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."

Well, I tried later, and later and later.  Same error message

We are on Magento 2.2.2 and have the Mirasvit Advanced Product Feed installed.

[2018-03-06 21:07] quickshiftin commented on #6401
May I ask what is the purpose of the `X-Magento-Tags` header? I'm troubleshooting 'Varnish' issues on an M2 site with a large number of categories. The `X-Magento-Tags` header is absolutely massive!

Varnish obviously is not the culprit here, it's Magento. Why on earth does this header need to be so large? Could the data not be embedded on the page? I'm trying to download pages that are resulting

[2018-03-06 21:10] sambolek commented on #6401
Here's a potential solution which splits X-Magento-Tags header into multiple short ones that might help your issue https://github.com/magento/magento2/pull/12831

[2018-03-06 21:11] tedsalmon commented on #6401
@quickshiftin,

The purpose of the header is so the cache can be cleared on the fly for any page that contains the tag of the entity being updated in the Admin panel.

The data could always be gzipped and then base64 encoded into the header but at some point you're going to run into this issue again.

[2018-03-06 21:13] sambolek commented on #6401
That header is used to determine which pages need to be flushed from Varnish when e.g. a product is saved or cms page is updated. Essentially, Magento tags each page with set of tags pulled in from content that's being displayed on page.

More info https://inviqa.com/blog/how-full-page-cache-works-magento-2

[2018-03-06 21:14] quickshiftin commented on #6401
@sambolek, @tedsalmon - Thank you guys for the lighting fast responses!

[2018-03-06 21:24] r-martins commented on #13760
My pleasure, @ihor-sviziev

[2018-03-06 22:15] Ctucker9233 commented on #5931
@magento-engcom-team Can you please provide links to the commits that fix this?

[2018-03-06 23:23] oe-bayram commented on #13835
I have upgraded Magento to 2.2.3 but I still get the same error messsage. Could you please tell me the commit where this is being fixed.

[2018-03-06 23:47] walrus28 commented on #6507
I did not have this problem in 2.1.9. The admin attribute values showed when editing products.

However, since upgrading to 2.2.2, I now have this problem. The default store view attribute values show when editing products.

[2018-03-06 23:49] #13919 closed, assigned to nobody

[2018-03-06 23:51] orlangur commented on #13978
Hi @bentintoshape, this GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2018-03-06 23:51] #13978 closed, assigned to nobody

[2018-03-06 23:52] davidbrandastic commented on #1146
2.2.3 it appears that adding a sitemap in pub still causes "Sitemap: https://domain/pub/sitemap.xml" to be dynamically appended to the end of robots.txt despite being an invalid URL.  ( though robots.txt does work correctly after switching the docroot to /pub ).

The documentation does not currently advise creating an alias for "/sitemap.xml to /pub/sitemap.xml" and generating it in "/".

http://d

[2018-03-06 23:52] nomuprive opened #13981 "Failure reason: 'Unable to unserialize value.'"
After upgrading Magento 2 to version 2.2.3 the bin/magento setup:upgrade stopped working and throws error Failure reason: 'Unable to unserialize value.' Screenshot here; http://prntscr.com/inudsd

Things I have already tried to do...

1: Remove cache:

php rm -rf var/di/* var/generation/* var/cache/* var/page_cache/* var/view_preprocessed/* var/composer_home/cache/*

2 chmod -R -v 777 generated

3

[2018-03-06 23:55] orlangur commented on #13964
This is not true.

I'm not sure images should really be deleted as you may re-import products using such images later.

[2018-03-07 00:00] orlangur commented on #13958
This is not true. Check https://github.com/magento/magento2/blob/2.2-develop/lib/internal/Magento/Framework/EntityManager/EntityManager.php#L19 for more details.

[2018-03-07 00:34] matthew-muscat opened #13982 "Customer Login Block sets the title for the page when rendered"
The Customer Login Block, defined as `Magento\Customer\Block\Form\Login` currently has logic that would set the overall page title, which is unexpected behaviour.

It is assumed that the layout xml, or the controller, would be responsible for setting the page title, and that if the Customer Login Block was to be included in other areas of the Magento Site, that it would not affect the overall page

[2018-03-07 02:05] jaycroll commented on #8800
Any updates on this issue?

[2018-03-07 02:23] quickshiftin commented on #6401
Hi guys, after looking over the blog page about how the M2 FPC works, other comments on this thread and  getting things working on my site I've got a couple things I'd like to share.

First off, merely increasing `http_resp_hdr_len` was not cutting it. There were several other settings I increased in Varnish to stop the 503's

* workspace_backend - 256k
* workspace_client - 256k
* workspace_sessio

[2018-03-07 03:20] magento-engcom-team commented on #13006
Hi @ramusadwika. Thank you for your report.
The issue has been fixed in magento/magento2#13861 by @hiren-wagento in 2.2-develop branch
Related commit(s):
 - [db80cc237fdbf383f20da21bc129b7216063e1d5](https://github.com/magento/magento2/commit/db80cc237fdbf383f20da21bc129b7216063e1d5)

The fix will be available with the upcoming 2.2.4 release.

[2018-03-07 03:20] #13006 closed, assigned to hiren2615

[2018-03-07 03:20] magento-engcom-team commented on #13899
Hi @sl02. Thank you for your report.
The issue has been fixed in magento/magento2#13930 by @tadeobarranco in 2.2-develop branch
Related commit(s):
 - [c6d128f6c12ad81dade448723ebe4a17bc06c3be](https://github.com/magento/magento2/commit/c6d128f6c12ad81dade448723ebe4a17bc06c3be)
 - [7c5ddeedb0d6c48a7db85e6b8163bd99f6632a0f](https://github.com/magento/magento2/commit/7c5ddeedb0d6c48a7db85e6b8163bd99f

[2018-03-07 03:20] #13899 closed, assigned to tadeobarranco

[2018-03-07 03:43] QKChris opened #13983 "Import custom option by CSV for multi store view"
### Preconditions

1. Magento 2.4-develop
2. Multi store view, 2 languages

### Steps to reproduce
- Multi store view: default, french
- Create product with custom options
![image](https://user-images.githubusercontent.com/51681379/73643266-dd8abc00-467b-11ea-8ef9-1516aeab35f6.png)

- Fill in store code for translated value for store view(e.g., french), and import it.
[product_fr.csv.txt](https://

[2018-03-07 05:19] shachiarkatkar commented on #10275
Is there any way to search complete string instead of each word? For example i want to search customer with full name but i get results based on first name

[2018-03-07 05:40] ihor-sviziev commented on #10275
@shachiarkatkar AFAIK no

[2018-03-07 05:52] Jean-PierreGassin commented on #11002
Hey @Linek, nice one on the plugin however it's still a core issue with Magento and should be addressed by the developers - this issue has been stagnant for an extremely long time **and** it's a critical bug.

I'm sure this could be re-worked into a pull request, if it ever gets approved/looked at...

[2018-03-07 06:08] Gurdit commented on #5715
I have created a standalone file in magneto 2 and it worked

<?php
use Magento\Framework\App\Bootstrap;

require __DIR__ . '/app/bootstrap.php';

$params = $_SERVER;

$bootstrap = Bootstrap::create(BP, $params);

try{
$obj = $bootstrap->getObjectManager();

$state = $obj->get('Magento\Framework\App\State');
$state->setAreaCode('frontend');

                $eavSetupFactory = $obj->create('\Magento

[2018-03-07 07:01] magento-engcom-team commented on #13970
Hello @jvood. Here is our video that demonstrates that downloading does not stuck at the step You have shown us in Your video.
[download.zip](https://github.com/magento/magento2/files/1788068/download.zip)
Further, after filling out all the required forms the download successfully starts.
We use Chrome on Windows 10 currently accessing the site from Ukraine. So it is most likely that there are som

[2018-03-07 07:01] #13970 closed, assigned to nobody

[2018-03-07 08:00] jsiefer commented on #13925
Make sure that the custom translation has to be part of a custom theme configuration.
Translation cache must be enabled.

The translation get loaded first for webapi, e.g.
\Magento\Framework\Translate::loadData('webapi', false);

Which will set the cache_id to: ``translate_de_DE_webapi_rest_de_de``

When emulating a store for email generation, it will load the translation for a given store environ

[2018-03-07 08:24] koenner01 opened #13984 "'customer' customer-data section is not being refreshed on the first page after login"
On the first page you arrive on after login, the customer-data section 'customer' is not reloaded.
This will cause issue for scripts relying on the 'customer' section.

### Preconditions
1. PHP7.0
2. Tested on CE 2.1.11 and CE 2.2

### Steps to reproduce
1. Create a js script that is placed on every page; It should at least contain:
[code]
2. Login on the the frontend through 'customer/account/log

[2018-03-07 08:41] robysalv opened #13985 "Magento 2.2.3 issue with paypal and term and condition"
### Preconditions

1. MAgento  version 2.3
2. Check term and condition

### Steps to reproduce

1.  agreements box checked
2. Proceed to the paypal payment
3.

### Expected result

1. impossibe to proceed payment with paypal  I have error
" Accept Tems and Condition before payment with paypal " but I have agrrement box checked

### Actual result

1. [Screenshot, logs]

[2018-03-07 08:46] magento-engcom-team commented on #13889
Hello @akhileshlpatel
Please try to reproduce this issue on the clean installation (clear, fresh, without any custom themes, third-party extensions, etc.)2.2.2 Open source include "Sample Data" and tell us the result.

[2018-03-07 08:51] Linek commented on #11002
Hi @Jean-PierreGassin
I absolutely agree that it should be fixed in the core however our fix is only workaround. I don’t think that deleting some “running” flow if it’s older than x days is perfect solution.
And if it is, then what should be an x ...

[2018-03-07 08:55] osrecio commented on #13969
Hi @thlassche ,

This Issue was resolved with this PR: https://github.com/magento/magento2/pull/12636

In next update 2.2.x will be added.

I close this Issue, feel free to reopen

[2018-03-07 08:55] #13969 closed, assigned to nobody

[2018-03-07 08:56] magento-engcom-team commented on #13720
@dipind4u, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-07 09:03] osrecio commented on #13937
Hi @erikhansen ,

We can adjust the column length and add validation in the form.

I think 255 chars should be enough to store a filename, following [Limits of filename](https://en.wikipedia.org/wiki/Comparison_of_file_systems#Limits)

What do you think?

[2018-03-07 09:22] swayoleg commented on #7876
Any workaround except disable cache ?

[2018-03-07 09:24] lano-vargas commented on #8640
@skilar It looks like this has been fixed I am on 2.2.2 if product is "out of stock" and the setting is set to show if out of stock then the price remains. However this isn't the case 2.1.7 and it need the fix.

[2018-03-07 09:25] paul-blundell commented on #13974
That makes perfect sense. Its just a little odd trying to explain to a client that a category and product url key cannot be the same (in the same parent category), so they must manually edit the url key on one of them. Granted I would say this is more of an edge case than what you described, so I shall close this issue and work around it. Thanks.

[2018-03-07 09:25] #13974 closed, assigned to nobody

[2018-03-07 09:25] krzksz opened #13988 "Mini search field looses focus after its JavaScript is initialized"
### Preconditions

1. Any Magento 2.x.x installation, e.g. http://magento2-demo.nexcess.net/

### Steps to reproduce

1. Open Magento 2 shop.
2. Focus mini search field before JavaScript manages to load and optionally start writing some query there.

### Expected result

1. The focus is maintained when the component is initialized.

### Actual result

1. After mini search component's JavaScript lo

[2018-03-07 09:27] tristanisginger commented on #2502
As @alankent says "Check your di.xml"

I didn't realise you need to add it as a preference if you instantiate it. [Documentation](http://devdocs.magento.com/guides/v2.1/extension-dev-guide/build/di-xml-file.html#abstraction-implementation-mappings)

[2018-03-07 09:30] magento-engcom-team commented on #13971
@jalogut, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 09:30] magento-engcom-team commented on #8837
@mombrea, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 09:35] koenner01 commented on #12673
might be related https://github.com/magento/magento2/issues/13984 ?

[2018-03-07 09:36] magento-engcom-team commented on #12708
Hi @sureshpareek
Thank you for your report.
We can not reproduce the issue as you describe.
May be you helped the last comment from @georgeschiopu ?

[2018-03-07 09:42] vladyslav-kalyuzhnyy commented on #5222
@vihuarar you made a mistake.
Your solutions worked perfect but not `php bin/nagento inderxer:reindexer` .
It will be right `php bin/magento indexer:reindex` .

[2018-03-07 09:59] rohit-incedo commented on #10885
how to fix this in version 2.1.9?

[2018-03-07 10:16] orlangur commented on #13953
Hi @sultan619, this GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2018-03-07 10:16] #13953 closed, assigned to nobody

[2018-03-07 10:21] jalogut commented on #13971
# Workaround

As workaround, we are using a plugin on the admin grid

`admin/di.xml`
[code]

`\Staempfli\CoreFixes\Plugin\Magento\Customer\Ui\Component\Listing\AttributeRepositoryPlugin`
[code]

[2018-03-07 10:22] romantomchak commented on #11191
Hi @orlangur ,

if Magento disables the Developer section in the production mode, how can we enable/disable for example js bundling, because these configuration are working only in production mode (http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/js-bundling.html#enable-javascript-bundling)

[2018-03-07 10:22] koenner01 commented on #10489
We have received some bs answer on the cloud ticket @hostep is refering to:

So for now Magento is basically giving us 2 options
- Don't use required attributes
- hide the entire functionality

Looking back at the trackrecord of Magento to see what 'it will take time' means, we can assume we don't have to expect any fix anytime soon and will have to continue to address this ourselves.

[2018-03-07 10:30] magento-engcom-team commented on #13988
@krzksz, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 10:30] magento-engcom-team commented on #12740
@a-dite, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 10:30] magento-engcom-team commented on #6302
@devonto, thank you for your report.
The issue is already fixed in 2.2.3, 2.3.0, 2.1.12

[2018-03-07 10:30] #6302 closed, assigned to nobody

[2018-03-07 10:30] magento-engcom-team commented on #13824
@Munszu, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-07 10:30] #13824 closed, assigned to nobody

[2018-03-07 10:34] jonathan-martz opened #13991 "https://github.com/magento/magento2/issues/12939"
Would be nice if some opens this issue again
https://github.com/magento/magento2/issues/12939

[2018-03-07 10:51] romantomchak commented on #11372
Hi @magento-engcom-team ,

this error occurs when minify CSS files configuration has value true (Stores->Configuration->Advanced->Developer->Css Settings->Minify CSS Files).

and it is reproduced even after fresh installation.

[2018-03-07 10:52] ThisIsRuddy opened #13992 "Incorrect phpdoc should be Shipment\Item not Invoice\Item"
Phpdoc references the return object as `Magento\Sales\Model\Order\Invoice\Item` but it should be `Magento\Sales\Model\Order\Shipment\Item`.

Causes incorrect type warnings in IDEs.

https://github.com/magento/magento2/blob/96b819215bc5cb3225c4f183a0090de0f280c907/app/code/Magento/Sales/Model/Order/Shipment/Item.php#L149

[2018-03-07 10:52] teuma86 opened #13993 "Filtering CMS Blocks by ID and Store throws SQL error"
### Preconditions
Magento Community Version 2.1.10

### Steps to reproduce
Go to CMS Blocks within the admin panel.
Add a filter by store and block ID

### Expected result
Should show result of blocks which match the filter.

### Actual result
A pop up shows on saying Attention. Something went wrong.

This results in the  spinning loader staying on the screen.
You are also unable to change the fil

[2018-03-07 10:55] Mult1Hunter commented on #11280
Had same problem on 2.2.1. Upvoted answer solved this issue.

[2018-03-07 11:24] nopenopenope commented on #13753
As Magento 2.1.x is the only version of Magento that is still working with PHP > 7, please try to fix this error in this version of Magento 2 as well. Not all customers can use PHP7 currently.

[2018-03-07 11:30] magento-engcom-team commented on #13993
@teuma86, thank you for your report.
The issue is already fixed in 2.2.0, 2.3.0

[2018-03-07 11:30] #13993 closed, assigned to nobody

[2018-03-07 11:30] magento-engcom-team commented on #13992
@ThisIsRuddy, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 11:33] mslabko commented on #13765
Internal ticket: MAGETWO-81818

[2018-03-07 11:47] yacms commented on #11885
@roman204 Will the module work for Thrid-Party Payment Extensions too? (Paypal via Cardprocess payment module.)

[2018-03-07 11:51] apburton84 commented on #1782
This would be great!

[2018-03-07 11:53] speedupmate commented on #10489
@koenner01 write a observer/plugin and satisfy the dependencies , i've done it the day i reported this , they have lot in their place and you can't expect that everything just falls from the sky

[2018-03-07 11:58] adamlavery commented on #12095
Magento team,

As with some other integrations, this needs to be fully disabled from the start. Then if we want to use it we'll enable it. Anything that requires setting up should be fully disabled on install. We shouldn't have to jump through hoops to turn something off that we don't and probably won't ever want.

As it stands, pretty much anytime we update anything, this message comes back to th

[2018-03-07 12:08] roman204 commented on #11885
@yacms i dont think so because its only a fix for paypal module which is a magento core module

[2018-03-07 12:15] adam-thenorthernfoundry commented on #13619
Hello
I have this issue
Fatal error: Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught TypeError: Argument 2 passed to Magento\ConfigurableProduct\Model\ResourceModel\Attribute\OptionSelectBuilder\Interceptor::getSelect() must be of the type integer, null given, called in /Users/adamjackson/Documents/Development/local/git/fanframes/vendor/magento/modul

[2018-03-07 12:24] ashleyemma commented on #13427
I am using Magento 2.2.2 and have this issue also, is there any update on this?

[2018-03-07 12:30] magento-engcom-team commented on #12615
@fwolfst, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 12:30] magento-engcom-team commented on #13972
@superdav42, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 12:33] magento-engcom-team commented on #13961
@itsabe , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 12:37] magento-engcom-team commented on #13991
Hi @jonathan-martz

[2018-03-07 12:38] magento-engcom-team commented on #13991
Duplicate of #12939

[2018-03-07 12:38] #13991 closed, assigned to nobody

[2018-03-07 12:45] koenner01 commented on #10489
Yeah I know that they have a lot on their plate but come on this is a pretty big feature to drop the ball on...

We ALSO have a lot on OUR plate but every corner we turn something is broken, it's just depressing.
The quality control (if any exists) is seriously lacking on a lot of points in Magento 2. They probably rely way to much on automated testing and skip to many manual steps before actually

[2018-03-07 12:45] oe-bayram opened #13994 "Incorrect item quantity when accessing in Observer"
### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Create an Observer for the event "checkout_onepage_controller_success_action"
2. Get order object with:
[code]
3. Iterate through items in order with:
[code]
4. Get quantity of item with:
[code]

### Expected result

1. The correct quantity of each item

### Actual result

1. Given quantity is 0

[2018-03-07 12:49] andkirby opened #13995 "Elasticsearch 5.x issue on reindex `catalogsearch_fulltext` : Illegal dynamic template parameter: [match_mapping]"
### Preconditions

Magento 2.2.3
MySQL - Percona 5.7

1. Wake up docker container elasticsearch 5.6.x (tested on 5.6.3)
we used following config:
1.1. `Dockerfile`
[code]

1.2. `config/elasticsearch.yml`
[code]
1.3. `config/logging.yml`
[code]
1.4. Service `docker-compose.yml` config:
[code]
2. Test it from docker app container:
[code]

### Steps to reproduce

1. Enable elastic search
[code]
2. Ru

[2018-03-07 12:53] KooTjoo opened #13996 "Cache invalidates after a while also when product or category edit is done."
### Preconditions

1. Magento 2.2.3
2. PHP 7.1
3. Plesk with Varnish 4.0 Docker
4. Running in Developer Mode (but also tested in Production)

### Steps to reproduce
1. Activate Varnish or use Internal Page cache (result the same).
2. Warm the Cache
3. Check if CMS Pages, Category Pages and Product Pages are warmed.

### Expected result
1.  Cached pages shoukd stay warmed at least for few hours/a d

[2018-03-07 13:00] oe-bayram commented on #13994
It should be $item->getQtyOrdered(). Closing issue again.
Sorry, I had looked into "Magento\Catalog\Model\Product" and found only the getQty() function there.

[2018-03-07 13:00] #13994 closed, assigned to nobody

[2018-03-07 13:05] raviozainfo opened #13997 "Display Messages on other pages simultaneously"
### Preconditions
1. Magento ver. 2.1.6
2. PHP ver. 7.0.27
3. MySql ver.5.6.39

### Steps to reproduce
1. Open Product edit page and any other grid or other page like Low stock Report in different Tabs.
2. Edit product with any options or click on 'Save' button after ajax effect done.(At a time of page refresh)
3. Refresh Stock Report page (other page that you opened). you can See the message on T

[2018-03-07 13:15] koenner01 commented on #13765
The minicart is firing the customerData.reload(['cart']) and the cart page itself is probably also firing the customerData.reload(['cart'])

[2018-03-07 13:22] magento-engcom-team commented on #13984
@koenner01 , thanks for the report. Unfortunately we cannot reproduce this issue wit given steps. Please provide more detailed steps to reproduce, or try to reproduce this issue on clean installation.

[2018-03-07 13:30] magento-engcom-team commented on #13982
@matthew-muscat, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 13:30] magento-engcom-team commented on #12525
@rishabhchd19, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-07 13:30] #12525 closed, assigned to nobody

[2018-03-07 13:44] akhileshlpatel commented on #13889
Did you change the settings as per I mention? Is it working for you after
making that catalog widget settings? As we have changed that settings for
our client and it is working for them now.

*Thanks,Akhilesh*

On Tue, Mar 6, 2018 at 2:55 PM, Kévin Fronteau <notifications@github.com>
wrote:

[2018-03-07 14:00] itsabe commented on #13961
Is there any work around? Or am I unable to connect to the API?

[2018-03-07 14:07] magento-engcom-team commented on #13968
@cbend, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 14:13] webspeaks commented on #8267
Having this issue on Magento 2.2.2 and PHP 7.0
Seems to be a bug :(

[2018-03-07 14:16] xi-ao commented on #10819
I still have an issue with multivalued attributes on products, and it seems to make sense when I look at https://github.com/magento/magento2/blob/f3f8975c3f48ad8d2a3221153bcce9f82a5b84b8/app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php#L656

I think this bug is not closed yet.

[2018-03-07 14:20] MaxKonstructive commented on #6069
Hello @magento-engcom-team ,
Same thing is happening on 2.1.7, 2.1.9 & 2.1.11.

Am I correct in thinking this should stop the basket being reformed on customer login?

Enable Persistence -> Yes
Enable "Remember Me" -> No
"Remember Me" Default Value -> No
Clear Persistence on Sign Out -> Yes
Persist Shopping Cart -> No

Many thanks

Max

[2018-03-07 14:29] Pigau opened #13998 "Product Collection addTaxPercents doesn't work"
### Preconditions

1. Magento 2.1.9 and 2.1.12
2. PHP 5.6

### Steps to reproduce

1. Create a product collection
2. Use addTaxPercent
3. Try to get tax percent on product

[code]

### Expected result

1.  $taxRate should contain the tax rate of the product

### Actual result

1.  $taxRate is empty

In `Magento/Catalog/Model/ResourceModel/Product/Collection.php`,
the method `addTaxPercents` only s

[2018-03-07 14:30] magento-engcom-team commented on #10742
@ADDISON74, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-07 14:42] alepane21 commented on #7303
It's really worst than what you could think. If the admin validation has any error (like an empty title) and you click on save, than fix the title and click on save again ... BAM!
You lose all your configurables data!

[2018-03-07 14:50] michelve opened #13999 "Product Import - Failing to import correct SKU from CSV"
Installed magento version: 2.2.3

### Steps to reproduce
1. Importing products using a csv file
sample csv
`sku,name,description,weight,visibility,is_in_stock,price,condition,product_type,categories,attribute_set_code,product_websites,qty,url_key,additional_attributes,base_image,small_image,thumbnail_image,additional_images
CT12EN001853094,Odd-Eyes Pendulum Dragon - CT12-EN001 - Platinum Secret Ra

[2018-03-07 15:14] elvinristi commented on #11453
@selusi 's provided fix helped

[code]

[2018-03-07 15:20] BabliDey commented on #6510
I am having the same issue when editing or adding a nwe customer from admin section.
Preconditions
magento 2.1.8
php 7.0.26

Actual result
here is the first line of the error report

a:4:{i:0;s:94:"The requested component ("label") is not found. Before using, you must add the implementation.";i:1;s:8248:"
[396832650227.txt](https://github.com/magento/magento2/files/1789614/396832650227.txt)

Attac

[2018-03-07 15:30] magento-engcom-team commented on #7227
@ytorbyk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 15:39] JosephMaxwell commented on #13929
Just ran into this issue, too.

[2018-03-07 15:43] gitpol commented on #11526
@C4rter The issue doesn't need to be caused by Windows/Xampp. Maybe there's just some kind of a bug in Magento which reveals itself only on Windows/Xampp (e.g. because of how Windows handles file permissions or something like that).

[2018-03-07 15:47] leoquijano commented on #2797
I'm having this problem in v2.2.3 as well. This is causes problems when testing new themes in integration/staging websites, which are usually set to ```production``` mode to mimic the live site as closely as possible.

My workaround for that is to switch to ```developer``` mode, load the admin (so the row in the ```theme``` table gets created), and then switch back to ```production``` mode. This i

[2018-03-07 16:01] magento-engcom-team commented on #13997
@raviozainfo , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-07 16:30] magento-engcom-team commented on #13998
@Pigau, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-07 16:30] magento-engcom-team commented on #13985
@robysalv, thank you for your report.
The issue is already fixed in 2.2.4, 2.3.0, 2.1.12

[2018-03-07 16:30] #13985 closed, assigned to nobody

[2018-03-07 16:32] magento-engcom-team commented on #13981
@williambize , thank you for report. Can you please provide magento version from which did you upgrade?
Also, can please provide more detailed steps to reproduce? For instance, what kind of products do you have, with what kind of options? Have you installed some 3d-party modules?

[2018-03-07 16:38] magento-engcom-team commented on #13940
@rigu12 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-07 16:49] itsabe commented on #13961
I found the source of my issue. Upon creating the integration and activating it, I get a consumer key, consumer secret, access token, and access token secret. So, technically, I can just skip the "Get Access Token" step of the authentication. I was able to successfully make API calls with the provided access token.

If I created the integration with an Identity link URL, then the access token and

[2018-03-07 17:40] williambize commented on #13981
@magento-engcom-team thanks for the support!

"Can you please provide magento version from which did you upgrade?"

hmmm... I honestly, don't remember the last version of Magento 2 I upgraded from. But it was couple of version jumps to 2.2.3.

"Also, can please provide more detailed steps to reproduce? For instance, what kind of products do you have, with what kind of options? Have you installed s

[2018-03-07 17:49] clementblanco commented on #12419
Same issue with 2.2.3

[2018-03-07 17:53] michelve commented on #13999
Update: even when i enter a product sku it gets switch to the sku on the title.

[2018-03-07 18:05] gwharton commented on #8522
This is still broken in 2.2.3.

[2018-03-07 18:06] gwharton commented on #8522
Can anyone point me towards the commit in 2.1 that fixed this so I can prepare a backport into 2.2 and 2.3.

[2018-03-07 18:34] #8522 closed, assigned to YevSent, alena-marchenko

[2018-03-07 19:09] chrisputnam9 commented on #1515
@jchesko Confirmed - I'm still seeing this issue too.  I don't understand why it's marked as fixed.  From what I see of the code changes, and in my testing, the issue remains the same, but someone please help me understand if I'm wrong.

[2018-03-07 19:54] dev-rutulshah commented on #11526
Same problem here. I'm also running on Windows Xammp. Did you find any solution for this error?

[2018-03-07 20:17] magento-engcom-team commented on #7720
Hi @itaymesh. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#967 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [a2ae375499a807f06a677d2e7c5a7ed7e130b0b8](https://github.com/magento/magento2/commit/a2ae375499a807f06a677d2e7c5a7ed7e130b0b8)
 - [64a516128431f85b7ae623461117b5c9308fea05](https://github.com/magento/magento2/commit/64a516128431f85b7ae6234

[2018-03-07 20:17] magento-engcom-team commented on #12186
Hi @danyvega1990. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#967 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [a2ae375499a807f06a677d2e7c5a7ed7e130b0b8](https://github.com/magento/magento2/commit/a2ae375499a807f06a677d2e7c5a7ed7e130b0b8)
 - [64a516128431f85b7ae623461117b5c9308fea05](https://github.com/magento/magento2/commit/64a516128431f85b7ae

[2018-03-07 20:17] #12186 closed, assigned to nobody

[2018-03-07 20:17] magento-engcom-team commented on #12395
Hi @Cinawork. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#967 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [a2ae375499a807f06a677d2e7c5a7ed7e130b0b8](https://github.com/magento/magento2/commit/a2ae375499a807f06a677d2e7c5a7ed7e130b0b8)
 - [64a516128431f85b7ae623461117b5c9308fea05](https://github.com/magento/magento2/commit/64a516128431f85b7ae6234

[2018-03-07 20:17] #12395 closed, assigned to nobody

[2018-03-07 20:17] magento-engcom-team commented on #12792
Hi @aeu. Thank you for your report.
The issue has been fixed in magento/magento2#13898 by @pmclain in 2.2-develop branch
Related commit(s):
 - [975137b58353bcef780e34e679fe8b115f98fe34](https://github.com/magento/magento2/commit/975137b58353bcef780e34e679fe8b115f98fe34)
 - [aec7af9c3b0ebf733d9c94fc3f34696e4cd87769](https://github.com/magento/magento2/commit/aec7af9c3b0ebf733d9c94fc3f34696e4cd87769

[2018-03-07 20:17] #12792 closed, assigned to nobody

[2018-03-07 20:17] magento-engcom-team commented on #13778
Hi @snoroozi. Thank you for your report.
The issue has been fixed in magento/magento2#13898 by @pmclain in 2.2-develop branch
Related commit(s):
 - [975137b58353bcef780e34e679fe8b115f98fe34](https://github.com/magento/magento2/commit/975137b58353bcef780e34e679fe8b115f98fe34)
 - [aec7af9c3b0ebf733d9c94fc3f34696e4cd87769](https://github.com/magento/magento2/commit/aec7af9c3b0ebf733d9c94fc3f34696e4cd

[2018-03-07 20:17] #13778 closed, assigned to nobody

[2018-03-07 21:20] magento-engcom-team commented on #13315
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#13979 by @Frodigo in 2.3-develop branch
Related commit(s):
 - [b27ec8cdbd37bfbb1b67c5a944b6d961ca12ae59](https://github.com/magento/magento2/commit/b27ec8cdbd37bfbb1b67c5a944b6d961ca12ae59)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-07 21:21] magento-engcom-team commented on #13315
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#13980 by @Frodigo in 2.1-develop branch
Related commit(s):
 - [17a707a15532897920beee2e9f074dd1e103ef55](https://github.com/magento/magento2/commit/17a707a15532897920beee2e9f074dd1e103ef55)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-07 21:40] robysalv commented on #13985
Hi
I have installed version Magento 2.2.3 and there is same issue.

Regards
Roberto

[2018-03-07 22:03] vantoniobta commented on #1299
@0x1ad2
 running commad

php bin/magento setup:static-content:deploy

credits: http://magento.stackexchange.com/a/48896

[2018-03-07 23:39] #13556 closed, assigned to nobody

[2018-03-08 02:11] jiyun opened #14001 "M2.2.3 directory_country_region_name locale fix? 8bytes zh_Hans_CN(11bytes) ca_ES_VALENCIA(14bytes)"
### Preconditions
Perhaps it is English, French, German, Italian and so Latin. Shorthand notation is short (**en_US** 5 bytes)
The various dialects of Chinese are limited by the length of the field? **zh_Hans_CN**(11bytes) **ca_ES_VALENCIA**(14bytes)

`directory_country_region_name` locale 8bytes
### Steps to reproduce
“**zh_Hans_CN**” ->directory_country_region_name locale == “**zh_Hans_**”
Inval

[2018-03-08 03:09] shater1990 opened #14002 "I can't upload image and create directory in admin pages."
### Preconditions

1. Magento 2.2.3
2. MySQL 5.7
3. Bitnami
4. php 7.0.27
5. Google cloud server

### Steps to reproduce

1.  Click  Add Block in Content->block page
2.  Insert Image on content edit window.
3. Create directory or upload image

### Expected result

After setup magento 2.2.3 by bitnami in goolgecloud server, I installed magento 2.2 sample data follow this url(http://devdocs.magento.

[2018-03-08 04:53] Korinho commented on #13071
@ magento-engcom-team
u are useless

[2018-03-08 06:22] Drashtii opened #14003 "modual not install"
i m not install new modual in config.php file
please suggest proper document to solved this

[2018-03-08 07:28] raviozainfo commented on #13997
Hi, I have also try in Magento ver. 2.2.2.
You need to refresh another page (suppose  in example - Low stock report) -  page at a same time of product page reload (After ajax effect done). Try in same browser and different Tabs.

[2018-03-08 07:41] himanshu8dev opened #14004 "When grid filter is applied filter icon need to show different way if any filter is applied."
Recently i have stuck in one problem which is ui point of view need to imporvement.

Problem :+1:
I have applied filter in my grid around two week ago & today i need to check that grid log. but i don't find any records due to that filter. so i have checked into tables values, re-rewrite ui_component grid xml. because i forgot that my grid filter is applied since two weeks ago. after spending too m

[2018-03-08 07:59] franckgarnier21 commented on #7679
Can we have a commit reference for the fix applied ?

Many thanks.

[2018-03-08 09:30] aishwaryasunarc commented on #11989
I got same issue with magento 2.2.2 version. I fill all fields except date of birth and tried to save customer but my customer was not saved successfully it shows main.CRITICAL: Exception message: Warning: A non-numeric value encountered in /var/www/html/vendor/magento/zendframework1/library/Zend/Locale/Math/PhpMath.php on line 94 error.

[2018-03-08 09:49] Frodigo commented on #13589
I'm working on it.

[2018-03-08 10:08] orlangur commented on #14003
Hi @Drashtii, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Looks like you are looking for a way to enable module so that it appears in `config.php`, please check http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-subcommands-enable.html#instgde-cli-subcommands-enable-disable on this.

[2018-03-08 10:08] #14003 closed, assigned to nobody

[2018-03-08 10:08] yogeshsuhagiya opened #14007 ""Use in Layered Navigation: Filterable (no results)" not working for `Price` attribute."
Hello,

I'm trying to set **Filterable (no results)** for price attribute but it's not working.
There is below note for **Use in Layered Navigation** setting of product attribute at the backend.
**Can be used only with catalog input type Dropdown, Multiple Select and Price.**
So I hope it should work for Price attribute too.

### Preconditions
1. Magento 2.2.3
2. PHP 7.1.15
3. Apache/2.4.18 (Ubunt

[2018-03-08 10:13] chakravarthykalyan90 commented on #10321
We faced similar issue with javascript error `Uncaught TypeError: data.forEach is not a function`

![image](https://user-images.githubusercontent.com/3271931/37145492-0888be76-22e7-11e8-928f-b3a237eda916.png)

To reproduce the issue, create a product with custom options. First, keep the field type and next dropdown. Save the product and try to open the custom options section. It will not open.

If

[2018-03-08 10:16] asrenzo commented on #12671
Any progress about this problem ?

[2018-03-08 11:00] al1357 commented on #12655
Issue exists after update from 2.1.9 to 2.2.3, @flancer64 's fix worked.

[2018-03-08 11:26] bramulous commented on #13820
Facing the same problem. When adding configurable product in IE10 and IE11, I get exactly the same problem as OP.

[2018-03-08 11:29] victortodoran commented on #11585
@bpoiss @asavchenko  Could you please say if this causes unexpected behaviour along the way?

[2018-03-08 11:49] bpoiss commented on #11585
@victortodoran no it didn't cause any issues, I did this on multiple systems and it always worked for me

[2018-03-08 12:08] franckgarnier21 commented on #5836
You can check if the status of mview_state is not working after a script crash.

[2018-03-08 12:34] simonmaass commented on #12504
I am having the same issue in 2.2.3!

[2018-03-08 13:19] victortodoran opened #14008 "Address not showing after upgrade from Magento EE 2.1.8 > Magento 2.2.2"
**Preconditions**
PHP 7.0.20
MYSQL 5.7
Magento 2.1.8 . Magento 2.2.2

**Steps to reproduce**
Upgrade from Magento 2.1.8 to Magento 2.2.2
Go to Sales > Order  > View or any other place where Customer Address is shown

**Expected result**
**Actual Results**

See print-screens. I've attached working behavior in 2.18 and result in 2.2.2

I must mention that I have done a data-migration from 1.12.0.2 t

[2018-03-08 13:49] artisbono opened #14009 "QLSTATE[42S02]: Base table or view not found: 1146 Table"
After updating M2 from 2.2.2 to 2.2.3, the design_config_grid_flat table disappeared from the MySQL database. How to restore it?

[2018-03-08 13:50] webshouters opened #14010 "Why Report Bugs link not open in new tab?"
Why Report Bugs link not open in new tab?

It should be open in new tab(target="_blank").

![new-tab-link](https://user-images.githubusercontent.com/15726230/37154403-e639427c-2305-11e8-9a00-535f572d5e83.png)

[2018-03-08 14:01] guillermogallego commented on #11202
Hi,
Could you find the problem?
Is cpanel?
In perfect location, but in production nothing

I used versions 5.6, 7.0 and 7.1 of php, also versions 2.1.12 and 2.2.3 of Magento and any POST to the API with admin token I get the same message:

Consumer is not authorized to access% resources

[2018-03-08 14:33] mzenner1 opened #14012 "2.2 - Admin will not create shipment from the invoice create screen if credit card was used"
I'm using Magento 2.2.3 and seeing an issue where if an order was made with a credit card (authorize.net), when I go to the admin to create an invoice and check the "Create Shipment" box it will have a success message, create the invoice properly, but no shipment will be created.

This only happens if a credit card is used.  If I make another order using Purchase Order as the payment type, the shi

[2018-03-08 14:37] misha-kotov commented on #13996
This is not the case. According to our [Varnish documentation](http://devdocs.magento.com/guides/v2.2/config-guide/varnish/use-varnish-cache.html):
The following actions can result in a Varnish purge:
- Maintaining a store (for example, adding or editing categories, prices, products, and promotional pricing rules). Varnish is purged automatically when you perform any of these tasks.

[2018-03-08 15:21] KooTjoo commented on #13996
@misha-kotov but this is strage, why not only recreate cache for product that has been edited, and why flush all te cache? If I edit a product mt cms pages also get flushed. Really strange behavior that makes Magento almost unusable.

[2018-03-08 15:42] erikhansen commented on #13937
@osrecio I agree that 255 characters should be sufficient.

[2018-03-08 15:44] balwant20 opened #14014 "Export data from grid not adding custom rendered data magento2"
*Preconditions:*
1. Magento 2.1.7
2. With needed prerequisites.

*Steps to reproduce*
1. login to admin panel.
2. Go to order grid panel, and click on export button to export details in CSV format.

*Expected result*
1. in CSV, my custom columns(which i got from prepareDataSource function) values should be displayed as in sales order  grid.

*Actual result*
1. Not displaying and value in my custom

[2018-03-08 15:59] orlangur commented on #14010
No.

It is generally considered a good practice to let user decide whether a link should be opened in a new tab. So, pressing Ctrl+Click link is opened in new tab, pressing Shift+Click link is opened in new window and user is not forced to open a new tab or window.

[2018-03-08 16:06] orlangur commented on #14014
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

Such expectation is wrong. You need to implement customization in order to make it work this way.

[2018-03-08 16:06] #14014 closed, assigned to nobody

[2018-03-08 16:17] DaniloEmpire commented on #14010
Hi @orlangur,
This is useful because in this way you don't loose your currently opened admin page.

[2018-03-08 17:24] simonmaass commented on #12679
![image](https://user-images.githubusercontent.com/32599710/37165503-14f5ebd2-22fd-11e8-9846-abf149f9f138.png)

I am having the same problem

[2018-03-08 18:01] KooTjoo commented on #13996
Isn't there a good way to troubleshoot these cache issues. We see a lot of people complaining about it. How do I disable all triggers that flush the cache to see if cach then persists.

[2018-03-08 19:49] duytran21 opened #14018 "Website broken when enable custom module in magento 2.2.2 CLI"
### Preconditions

1. Magento Version 2.2.2
2. PHP 7.0.25
3. Ubuntu 16.04 server at DigitalOcean.
4. MySQL 14.14

### Steps to reproduce

1. I follow this instruction to create simple module https://www.mageplaza.com/magento-2-module-development/
2. After I run this command php bin/magento module:enable Mageplaza_HelloWorld then I reload my browser and get the error: "An error happened during appl

[2018-03-08 20:10] afirlejczyk commented on #7283
Hello  @magento-engcom-team

I have an idea how to fix, but this view is using deprecated block
[code]
I would like to fix this issue, but I am wondering - should I rebuild this view and use UI component to render store listing ?

[2018-03-08 20:20] magento-engcom-team commented on #12405
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#13943 by @hostep in 2.2-develop branch
Related commit(s):
 - [5b6df42840edf7d27455fa6fe8dec221cf8af747](https://github.com/magento/magento2/commit/5b6df42840edf7d27455fa6fe8dec221cf8af747)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-08 20:20] #12405 closed, assigned to nobody

[2018-03-08 20:20] magento-engcom-team commented on #12421
Hi @Eminee. Thank you for your report.
The issue has been fixed in magento/magento2#13943 by @hostep in 2.2-develop branch
Related commit(s):
 - [5b6df42840edf7d27455fa6fe8dec221cf8af747](https://github.com/magento/magento2/commit/5b6df42840edf7d27455fa6fe8dec221cf8af747)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-08 20:20] #12421 closed, assigned to nobody

[2018-03-08 20:20] magento-engcom-team commented on #13769
Hi @pawcioma. Thank you for your report.
The issue has been fixed in magento/magento2#13878 by @pawcioma in 2.2-develop branch
Related commit(s):
 - [1c7e3a144fce8ac5168e51fd559404e1e0122bd4](https://github.com/magento/magento2/commit/1c7e3a144fce8ac5168e51fd559404e1e0122bd4)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-08 20:20] #13769 closed, assigned to pawcioma

[2018-03-08 20:38] duytran21 commented on #14018
Hi,
I fixed this issue. Somehow when I install custom module It overwrites my app/etc/env.php file to
<?php
return 1
=> solution I copied the sample env.php then modify some info to match with the server including: admin url, database name, database username, password
then It worked.

[2018-03-08 21:12] seo99ita commented on #1260
I have the same problem.
I arrived here because Magento 2 sends 15 times the same email.
I noticed the cron_schedule table that generated the same job many times at the same time.
![schermata 2018-03-08 alle 22 08 00](https://user-images.githubusercontent.com/35658761/37176700-6ef7e6ec-231d-11e8-9353-bc1b1c76d855.png)

[2018-03-08 21:26] t-richards commented on #13730
@ju5t You can completely prevent the download and installation of `shopialfb/facebook-module` by specifying that your project "[replaces](https://getcomposer.org/doc/04-schema.md#replace)" it. In your project's `composer.json`,

[code]

Then, update your dependencies.

[code]

After the package has been removed, you may wish to perform manual cleanup tasks like...

- Running `$ bin/magento setup:u

[2018-03-08 21:40] developerdoll commented on #7735
I believe I've had a similar issue: https://community.magento.com/t5/Technical-Issues/So-I-moved-the-Price-attribute-to-the-Advanced-Pricing-Group/m-p/89309/thread-id/4363
Something is up with moving things in or around the Advanced Pricing group.

[2018-03-08 21:46] stephansteiner commented on #11113
Same issue here, all my acl.xml files (also third party) have the title attribute set for resource tags.

[2018-03-08 22:45] bilabong commented on #13427
Try to disable the FPC cache i have the same issue i think the checkout page has been cached when it was empty

[2018-03-08 23:02] fluential commented on #12655
Same issue here with 2.2.1 -> 2.2.3  @flancer64 is a star!

[2018-03-09 00:01] josh-carter commented on #12073
@rhoerr I've just [opened a PR](https://github.com/magento/magento2/pull/14019) to propose a fix for this.

We actually had a similar issue recently surrounding SKU case during Magento 2 MSI development and after a discussion with @maghamed I came across this issue and thought its best we fix it whilst on subject!

What I've proposed is that we take whichever SKU searched for using `get()` and low

[2018-03-09 00:06] allisonlawrencels commented on #13427
What is the status on this issue? We see it also and it is a huge issue for an ecommerce platform.

[2018-03-09 07:26] udovicic commented on #12362
Confirmed on 2.2.1 EE

[2018-03-09 08:27] Filipe-Bicho opened #14020 "Cart Sales Rule with negated condition over special_price does not work for configurable products"
### Preconditions
1. magento 2.2.3
2. php 7.1.10
3. mariadb 10.1.24

### Steps to reproduce
0. Setup vanilla 2.2.3 with demodata (or use a similar existing store)
1. Enable the `special_price` for promo rule conditions:
   1. Stores > Attributes > Product
   2. Search for and edit `special_price`
   3. Storefront Properties: Use for Promo Rule Conditions: Yes
   4. Save
2. create new cart sales ru

[2018-03-09 08:31] ankurvr commented on #13936
@Toregam That't not an issue. While cleaning if directory does not exist that means nothing to clean up. It will not create any problem in execution of your project.

[2018-03-09 08:34] magento-engcom-team commented on #14004
Hi @himanshu8
Thank you for your reporting.
Can you describe steps to reproduce the issue?

[2018-03-09 08:35] Loqic2633 commented on #10821
Same problem here.
The problem just occures on registered Customers. On guest checkout I can purchase the order.
Does Magento use another Validation for guest-users?
I will try the include_path solution on PLESK later, but I would prefer fixing it on magento than on the environment :/

[2018-03-09 08:57] magento-engcom-team commented on #14009
@petravm, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2018-03-09 09:00] xanka commented on #7418
the issue not resolve in Magento 2.2.3. I tried create custom module. In this module in the layout I add custom link in "customer_account_navigation". it showing but module be disabled.

[2018-03-09 09:02] magento-engcom-team commented on #12939
Hello again @thaddeusmt and @eliacimdavila. Currently we are not able to reproduce this issue. Here we have attached the video of how we were trying to reproduce it. Please watch it try to notice what we were missing or doing not as You meant and so guide us in the right direction. Thank You.
[SortOrder.zip](https://github.com/magento/magento2/files/1796184/SortOrder.zip)

[2018-03-09 09:05] ktruehl commented on #14020
This problem only occurs for associated products of configurable products. More specifically, the problem manifests itself in the rule validation mechanism. For configurable products both the associated and the parent product is handed to the `validate()` method in `Magento\Rule\Model\Condition\Product\AbstractProduct`. But for special prices the `special_price` attribute is not defined. So in `va

[2018-03-09 09:15] jonathan-martz commented on #12939
Yeah your doing it right.

He is an example where you can see the issue.
http://magento2-demo.nexcess.net/women/tops-women/hoodies-and-sweatshirts-women.html

The credentials for Admin Page:
https://www.splendid-internet.de/magento-2-demo/

[2018-03-09 09:30] magento-engcom-team commented on #13487
@magenx, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-09 09:30] magento-engcom-team commented on #14001
@jiyun, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 09:55] adam-thenorthernfoundry commented on #13619
Can this be bumped please? On further inspection it seems to be an issue only with multisites? Can anyone else confirm this?

[2018-03-09 10:01] elioermini commented on #13427
@bilabong @allisonlawrencels I've been told today by the support team that is fixed in 2.2.2 we haven't tested that yet please try on a staging environment.

[2018-03-09 10:30] magento-engcom-team commented on #10559
@srenon, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 10:31] adamof commented on #5326
Any chance this is going to get fixed soon? :(

[2018-03-09 11:15] magento-engcom-team commented on #13999
@michelve , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 11:34] dorian90 opened #14023 "installing theme but does nor work"
Hi
I'm trying to install a theme

. On their website it says that it is compatible with 2.2 and I have magento 2.2.3 will it work? Siden jeg har installeret det er det 50% er bare installert. Jeg har gjort som foreskrevet ved å laste opp dokumentene / filene i mappen for filhåndtering, men det ser ikke ut som dette: / Have I done something wrong?
I have taken "freego-theme-magento-2.2.patch" and p

[2018-03-09 11:43] simonmaass commented on #13149
me 2

[2018-03-09 11:44] victortodoran commented on #14008
I managed to fix this by upgrading to Magento 2.2.2 first and re-runing the migration. As we are still in development, this was possible. If we would've gone live though I think we would've had a real problem on our hands.

[2018-03-09 11:58] krisztian-fekete opened #14024 "Translation not working in catalog-add-to-cart.js"
### Preconditions
Magento v2.2.1 Enterprise Edition

### Steps to reproduce
I wanted to change the default "Add to Cart" text of the add to cart button to "Add to Basket", so I created a translation CSV file in my theme:

`app/design/frontend/MyTheme/default/i18n/en_GB.csv`

with the following content:

[code]

Which works fine.

**However, if I click on "Add to Basket", `catalog-add-to-cart.js` c

[2018-03-09 12:00] AlanJudi opened #14025 "Invalid scope or scope id"
### Preconditions
Magento 2.2.1
PHP 7.1
MySQL 5.6.36-cll-lve - MySQL Community Server (GPL)
UTF-8 Unicode (utf8)

### Steps to reproduce
I have Enterprise Premium Hosting with Godaddy. I installed Magento 2.2.1 through installation tool that Godaddy provides.
After installing Magento 2, I logged in and tried to change a logo from basic Magento logo to my logo (Content > Configuration > Edit > Head

[2018-03-09 12:16] magento-engcom-team commented on #13901
@mytran89, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-09 12:21] orlangur commented on #14010
@DaniloEmpire there is a Back button in browser to not lose an opened admin page.

Default behavior is opening the link in the same tab so such behavior is quite expectable for user.

[2018-03-09 12:23] victortodoran opened #14027 "Magento 2. Data Migration creates new attributes sets for default magento attribute sets"
**Preconditions**
PHP 7.0.20
MYSQL 5.7
Magento 1.12.0.2 EE >data-migration> Magento 2.2.2 || Magento 2.18 CE

**Steps to reproduce**
Migrate data using data-migration-tool for above mentioned versions

**Expected result**

Attribute set with given attribute_set_id,entity_type_id, attribute_set_name combination(from source) to map to existing destination attribute_set.
To be more explicit I expect

[2018-03-09 12:26] orlangur commented on #7418
@xanka please read 2.2 release notes more carefully. "Disable Module Output" feature is deprecated, you're supposed to disable module if you don't need it instead of disabling just output.

[2018-03-09 12:29] orlangur commented on #14027
Thanks for bug report! However, problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository.

[2018-03-09 12:29] #14027 closed, assigned to nobody

[2018-03-09 12:30] magento-engcom-team commented on #14020
@Filipe-Bicho, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 12:30] orlangur commented on #14023
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2018-03-09 12:30] #14023 closed, assigned to nobody

[2018-03-09 13:02] bytepattern commented on #10534
I am in same problem when I try to add valid coupon code from checkout page. Return message: Request does not match any route. Any solution please

[2018-03-09 13:08] himanshu8 commented on #14004
• Go to any listing(Grid)page which have filter option enable.
• now applied any filter.
• refresh the page
• on both time filter icon is shown same.
• there is not any indicator which is show that filter is applied so here user can be confused if they visit after 1 or 2 weeks.

[2018-03-09 13:39] magento-engcom-team commented on #14008
@victortodoran, thank you for report. However, problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-03-09 13:40] #14008 closed, assigned to nobody

[2018-03-09 13:41] DaniloEmpire commented on #14010
@orlangur "Back button" in browser don't always keep the form data.

A scenario for example:
1) Create a new product
2) Compile the form (it takes at least 5/10 minutes)
3) Click on "Report an Issue" (because you encounter an issue in that specific scenario)
4) Click on browser's "Back button"
5) Result: an empty form. You have to refill form to replicate the scenario. This is boring and can leads

[2018-03-09 13:45] magento-engcom-team commented on #13995
@andkirby, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2018-03-09 13:45] #13995 closed, assigned to nobody

[2018-03-09 13:47] magento-engcom-team commented on #13396
Hi @losttheplot. Thank you for report.
We were not able to reproduce this issue by following the steps you provided.
Can you reproduce the issue on a clean installation with sample data?
Thanks

[2018-03-09 13:59] magento-engcom-team commented on #14002
@shater1990 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![img_block1](https://user-images.githubusercontent.com/31669971/37210844-c26fa96e-23b2-11e8-8dba-610b81dfba41.png)

![img_block2](https://user-images.githubus

[2018-03-09 14:05] magento-engcom-team commented on #14004
@himanshu8 we can not reproduce this issue.
Tell me, please, which magento version do you use and which grid do you mean?
Thanks

[2018-03-09 14:16] magento-engcom-team commented on #13981
@williambize, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-09 14:24] magento-engcom-team commented on #13925
@jsiefer , We configure custom translation to this [Theme](https://marketplace.magento.com/swissup-absolute-metapackage.html) and not able to reproduce this issue. Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running, the versions of PHP and MySQL, and any other information needed to reproduce your issue. Screenshots or logs

[2018-03-09 14:30] magento-engcom-team commented on #13730
@ju5t, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 14:30] magento-engcom-team commented on #14024
@krisztian-fekete, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 14:30] magento-engcom-team commented on #13739
@Cl0ne0fG0d, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-09 14:30] #13739 closed, assigned to nobody

[2018-03-09 14:33] magento-engcom-team commented on #13997
@raviozainfo , thanks for you update but we not  reproduce this issue.
![product_page](https://user-images.githubusercontent.com/31669971/37212263-38a714ba-23b7-11e8-8b5b-37c8bee3800a.png)

![product_save](https://user-images.githubusercontent.com/31669971/37212279-420771bc-23b7-11e8-9d8b-9020d3c801e1.png)

![product_low](https://user-images.githubusercontent.com/31669971/37212303-54cfb5ca-23b7-11

[2018-03-09 14:44] johcena commented on #6955
@Robert-Damon

Kindly let me know whether you want to use this functionality for core Magento or inside your custom functionality.

[2018-03-09 15:19] kamilszewczyk opened #14035 "Magento REST API, wrong condition for product list category filter"
### Preconditions

1. Magento 2.2.1

### Steps to reproduce

1. Access https://{magento_url}/rest/default/V1/products?store_id=1&searchCriteria[filter_groups][0][filters][0][field]=status&searchCriteria[filter_groups][0][filters][0][value]=1&searchCriteria[filter_groups][1][filters][0][field]=category_id&searchCriteria[filter_groups][1][filters][0][value]={csv_category_list}&searchCriteria[filter_

[2018-03-09 15:23] evodus opened #14036 "Magento 2.2.3 backend catalog was missing"
### Preconditions

1. Magento 2.2.3
2. php 7.1
3. MariaDB 10.2.13

### Steps to reproduce

1. Fresh install with composer (using this docs http://devdocs.magento.com/guides/v2.2/install-gde/prereq/integrator_install_ce.html)
2. cron:install, cron:run

### Expected result

1.  at the admin page Stores -> Configuration -> Catalog -> catalog - not have any settings

### Actual result

1. ![screen sho

[2018-03-09 15:26] PeRoland commented on #12989
hi
i have the same error.
Magento 2.2.3
magento2-gmail-smtp-app 2.5

if i test the  config, i gut the error:
[code]
but the test email is delivered.
in the store, no email is deliverd. in the system.log of magento i can find the same error as mentioned above...
do you have an idea how to solve it?
thx!

[2018-03-09 15:31] ogcircle opened #14037 "Magento 2.1.8 Paypal Express Checkout 10413 Error"
### Preconditions

1. Magento 2.1.8
2. PHP 7.1

### Steps to reproduce

1. Place an order, and check out, then click continue to Paypal

2. Redirect to Paypal Website for payment. Check the debug log, at this point AMT was set to 1024.36, which is the total amount of order items and shipping fee.

    Request Snippet:
    ......
    'AMT' => '1024.36',
    'CURRENCYCODE' => 'USD',
    'SOLUTIONTYP

[2018-03-09 15:43] siliconalchemy opened #14038 "REST products update category_ids cannot be removed"
###  Preconditions and Steps to Reproduce
For example, if a product currently has custom_attribute { 'category_ids': '['10127', '10048', '10123', '10126'] }, and I want to remove two of the categories from the product by setting this to { 'category_ids': '['10127', '10048'] }.

I then update the product with /rest/all/V1/products/<sku> with the updated data.  I get a success returned, and any othe

[2018-03-09 16:23] magento-engcom-team commented on #14036
@evodus, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-03-09 16:23] magento-engcom-team commented on #13760
Hi @r-martins. Thank you for your report.
The issue has been fixed in magento/magento2#13782 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [3293254f23aa47a2b5bb8e54901ae9f296031727](https://github.com/magento/magento2/commit/3293254f23aa47a2b5bb8e54901ae9f296031727)
 - [a92a3b2e50738e89b0ea423f6f1d0f16b0ad7fff](https://github.com/magento/magento2/commit/a92a3b2e50738e89b0ea423f6f1d0f1

[2018-03-09 16:30] magento-engcom-team commented on #13983
@QKChris, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 16:46] yanncharlou commented on #13929
@JosephMaxwell there's a typo in namespace in etc/di.xml
You should add \Override\
[code]

[2018-03-09 17:20] bydrei opened #14039 "Cart rules with only free shipping are not registered as used."
Lets assume we create bulk coupon cart rules coupon codes with no price discount and only use it to get the customer free shipping.
Also lets assume this has been fixed https://github.com/magento/magento2/commit/6637cde86f1d9ed63dbf968e0e42d3b431117075 ... The customer will be able to use the coupon for free shipping but it will not register in magento as used.

### Preconditions

1. Magento 2.1.1

[2018-03-09 17:30] magento-engcom-team commented on #12980
@mveldhuizen, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 17:30] magento-engcom-team commented on #14035
@kamilszewczyk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-09 19:28] pioneerathletics commented on #7967
Has this issue been fixed in any 2.1 version? I am also currently experiencing this in 2.1.10- Products will show home > category > category > product name and then after some time it just shows home > product name.

[2018-03-09 20:28] ihor-sviziev commented on #14035
@kamilszewczyk could you please create PR for fixing this issue?

[2018-03-09 20:32] kamilszewczyk commented on #14035
@ihor-sviziev - I'm planning to actually, creating proper PR requires more time that I had when created a simple plugin serving its purpose. Hopefully will get to it throughout the weekend

[2018-03-09 21:25] magento-engcom-team commented on #13804
Hi @ankurvr. Thank you for your report.
The issue has been fixed in magento/magento2#13855 by @ankurvr in 2.2-develop branch
Related commit(s):
 - [579b07479e314a2272db61e514843df138bc5a68](https://github.com/magento/magento2/commit/579b07479e314a2272db61e514843df138bc5a68)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-09 21:25] #13804 closed, assigned to nobody

[2018-03-09 21:46] erlisdhima commented on #10885
@rohit-incedo I made [this patch](https://github.com/magento/magento2/files/1798537/fix-checkout-country-dropdown.txt) as a quick fix for 2.1.x.

[2018-03-09 22:18] orlangur commented on #14010
User is aware that to open issue in new tab or window you need to press Ctrl/Shift + Click.

In most cases you will see nonempty form (some data could be missed in tabs loaded via AJAX). Also, some modern browsers ask if user really wants to leave page as form data entered may be lost. A generic cross-browser mechanism could be implemented on Magento side to avoid data loss (show confirmation dial

[2018-03-09 22:25] vbuck commented on #12655
Same issue here. Upon a closer look, I found some behavior in `\Magento\Checkout\Model\TotalsInformationManagement` that did not align with similar procedures in the quote module. See excerpt from this class below:

    /**
     * {@inheritDoc}
     */
    public function calculate(
        $cartId,
        \Magento\Checkout\Api\Data\TotalsInformationInterface $addressInformation
    ) {
        /

[2018-03-09 22:43] magenx commented on #11892
https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/app/code/Magento/Backend/Model/Setup/MenuBuilder.php

[2018-03-10 05:33] GlobalOutsourcing opened #14040 "When "Sign Static Files" is set to "Yes", site breaks and static content not loading"
### Preconditions
1. Magento 2.2.3 (Developer Mode) Magento Luma theme with not customization
2. CentOS Linux 7.4.1708 (Core)
3. PHP 7.0.28 FastCGI Application served by Apache
4. Plesk Onyx 17.5.3 Update #43
5. Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 core(s))
6. mysql  Ver 15.1 Distrib 10.1.29-MariaDB

### Steps to reproduce
1. Backup files and database from initial Magento 2 site (Developer M

[2018-03-10 10:40] magento-engcom-team commented on #9342
Hi @barryvdh. Thank you for your report.
The issue has been fixed in magento-engcom/import-export-improvements#100 by @adam-paterson in 2.3-develop branch
Related commit(s):
 - [77fefd8a2292c1011b5bac9d4851590703825b95](https://github.com/magento/magento2/commit/77fefd8a2292c1011b5bac9d4851590703825b95)
 - [fe9054e71661a8a4a52a70f3aa6dc4a9dd5e7d89](https://github.com/magento/magento2/commit/fe9054

[2018-03-10 10:40] magento-engcom-team commented on #12404
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#13975 by @hostep in 2.3-develop branch
Related commit(s):
 - [79445d39cc57e7faa1780e4a9b297f11b52d4655](https://github.com/magento/magento2/commit/79445d39cc57e7faa1780e4a9b297f11b52d4655)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-10 10:40] magento-engcom-team commented on #13350
Hi @danielpfarmer. Thank you for your report.
The issue has been fixed in magento/magento2#13907 by @julienanquetil in 2.3-develop branch
Related commit(s):
 - [c09c8d5c164a6ed2fb05c591d0a060f5a68e56cf](https://github.com/magento/magento2/commit/c09c8d5c164a6ed2fb05c591d0a060f5a68e56cf)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-10 10:40] magento-engcom-team commented on #13827
Hi @Munszu. Thank you for your report.
The issue has been fixed in magento/magento2#13907 by @julienanquetil in 2.3-develop branch
Related commit(s):
 - [c09c8d5c164a6ed2fb05c591d0a060f5a68e56cf](https://github.com/magento/magento2/commit/c09c8d5c164a6ed2fb05c591d0a060f5a68e56cf)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-10 12:40] ferrazzuk commented on #9599
@okorshenko all good

[2018-03-11 06:02] klein0r commented on #9685
@magento-engcom-team Yes, hat was the expected behavior. But when I've opened the issue, all attributes were visible in the backend (even when the "used_in_forms" part wasn't executed / present in database).

[2018-03-11 06:09] klein0r commented on #13149
My current workaround:

Ask the customer for the billing address during registration process. No guest orders possible...

app/design/frontend/MKleine/academy/Magento_Customer/layout/customer_account_create.xml
[code]

[2018-03-11 07:58] shater1990 commented on #14002
Hello. Thanks for your response.
After setup magento 2.2.3 by bitnami in goolgecloud server, I installed magento 2.2 sample data  follow this url(http://devdocs.magento.com/guides/v2.2/install-gde/install/sample-data-after-clone.html)
And I did set some permission of var, root folder and files.
After this time, I had this problem.
Please help me.