[2019-10-07 16:01] kennylawrence commented on #21441
FWIW I get this error on a fresh install of M2.3.2 at Nexcess, installed using Composer. I'm in developer mode.

[2019-10-07 16:20] BrentRobert commented on #24903
@hostep I can not reproduce with the steps provided, however I see this is indeed an issue as a null value is possible in the config. I created a PR with the provided fix.

[2019-10-07 17:02] kennylawrence commented on #21441
@magento give me 2.3.2 instance

[2019-10-07 17:02] magento-engcom-team commented on #21441
Hi @kennylawrence. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-07 17:03] magento-engcom-team commented on #21441
Hi @kennylawrence, here is your [Magento instance](https://i-21441-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-21441-2-3-2.instances.magento-community.engineering/admin](https://i-21441-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-07 17:52] bartoszkubicki commented on #24826
It is just a controller, I dont have `webapi.xml`. There is interface here, its implementation is poste above:
[BuyRequestReconstructorInterface.txt](https://github.com/magento/magento2/files/3698782/BuyRequestReconstructorInterface.txt)

[2019-10-07 18:46] rishabhchd19 opened #24909 "Change Password Link not Working"
### Preconditions (*)

1. Magento CE 2.3.2

### Steps to reproduce (*)

1. Change Password Forceful to Recommend in Store>Configuration
2. The Dashboard on log in the Admin, shows Reminder to

 as a recommendation.

### Expected result (*)

1. Once the reminder is clicked, it must not be visible again on every login.
2. On Click the **CHANGE YOUR PASSWORD**, the Password change Page must be opened

[2019-10-07 18:47] Den4ik commented on #24876
Also found typos at
[CreateTest.php](https://github.com/magento/magento2/blob/2.3-develop/dev/tests/integration/testsuite/Magento/Braintree/Controller/Adminhtml/Invoice/CreateTest.php#L65)
and
[Magento Composer Installer](https://github.com/magento/magento-composer-installer/blob/master/README.md)

[2019-10-07 18:55] Den4ik commented on #24909
@magento give me 2.3-develop instance

[2019-10-07 18:55] magento-engcom-team commented on #24909
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-07 18:56] magento-engcom-team commented on #24909
Hi @Den4ik, here is your [Magento instance](https://i-24909-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24909-2-3-develop.instances.magento-community.engineering/admin](https://i-24909-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-07 19:17] rishabhchd19 opened #24910 "Forcing from HTTPS back to HTTP not Logging In the Admin"
### Preconditions (*)

1. Magento CE 2.3.2
2. PHP 7.2, HTTP- Port 80, HTTPS- Port 443

### Steps to reproduce (*)

1. Changed from Forced HTTPS> HTTP from Stores>Configuration
2. Changed for both Admin and Front Store.

### Expected result (*)

1. Front End working perfectly with http://mydomain.com, opens the store page.
2. Admin Page should work and Logged In  on http://mydomain.com/admin, must

[2019-10-07 19:18] #24909 closed, assigned to nobody

[2019-10-07 19:25] naps1saps opened #24911 "Admin page breaks when Magento root is moved to new location"
### Preconditions (*)

1. Latest Magento 2.3.2 & 2.3-develop
2. Ubuntu Server

### Steps to reproduce (*)

1. Install Magento to root sub folder example: /wwwroot/test/ URL = https://wwwroot.com/test/
2. Change URLs in admin or SQL to https://wwwroot.com
3. Move Magento root structure to wwwroot/

### Expected result (*)

1. Admin should work fine and is now in the correct file location.

### Actu

[2019-10-07 19:29] mybathgreg opened #24912 "Items Ordered table missing with php 7.2"
This was driving me crazy. New fresh install of 2.3.2

Upon adding an order through the backend, the admin account can do it successfully however any other user experiences the items ordered table as blank. The following code does not display....

<section id="order-items" class="admin__page-section order-items">

<div class="admin__page-section-title">
    <strong class="title">Items Ordered</str

[2019-10-07 19:37] rishabhchd19 commented on #19064
This issue didn't resolve in 2.3.2 as well. We are using Indian Rupee, and 1 extension that ADD Extra Service Charge(Collection Charge) during Checkout. Now if Order is above Rs.500, the discount applies on Cart Rule. The Checkout shows correct data but it doesn't load to paypal gateway, giving same issue as posted here.
![2019-10-08_1-05-04](https://user-images.githubusercontent.com/30948461/6634

[2019-10-07 21:26] sdzhepa commented on #24143
Hello @Hailong
FYI: @engcom-Bravo @sudheers-kensium

Thank you for contribution and collaboration!

This issue was investigated and discussed with Magento product manager and architect.
Were agreed with comments https://github.com/magento/magento2/issues/24143#issuecomment-522581292 and https://github.com/magento/magento2/issues/24143#issuecomment-523025006

It is expected(by design) behavior and

[2019-10-07 21:26] #24143 closed, assigned to nobody

[2019-10-07 21:36] sdzhepa commented on #24134
Hello @sudheer-gajjala

This issue was investigated and discussed with Magento product manager and architect.
And agreed with https://github.com/magento/magento2/issues/24134#issuecomment-521680021

For case "creating a new product with the same name" it is by design behavior that system asks a  user to change  URL-key manually instead of autogenerated. Admin user should have control over it and d

[2019-10-07 21:36] #24134 closed, assigned to nobody

[2019-10-07 22:11] serge-kaimin commented on #22995
Decomposing javascript library can cause missing cache on modern browsers, while missing cache would affect performance on each page load.

Chromium's engine has a minimum size for code caches, currently set to 1 KiB of source code. This means that smaller scripts are not cached at all. You may want to consider merging small javascript code together to bundles so that they exceed the minimum code

[2019-10-08 05:40] kervin commented on #8276
I am getting the same issue in 2.3.1, it is causing checkout to throw 503 error.

[2019-10-08 05:41] kervin commented on #8276
Any updates on this?

[2019-10-08 06:44] ArchanaMohan1 commented on #24233
@engcom-Charlie - We are facing the above issue as well.Below are the details.Do look into this.

**Preconditions**

Magento 2.3.1 CE
Paypal Express checkout enabled
Tax Enabled

**Steps to reproduce**

Add a fews products to the cart from the frontend.
Go to checkout and fill up address details including Country, State and Postal code So that tax would be applied.
Place order with PayPal express

[2019-10-08 06:49] ArchanaMohan1 opened #24915 "Paypal Order total mismatch - Price rounding issue"
@engcom-Charlie - We are facing the same  issue as  https://github.com/magento/magento2/issues/24233 .Below are the details.Do look into this.

**Preconditions**

Magento 2.3.1 CE
Paypal Express checkout enabled
Tax Enabled

**Steps to reproduce**

Add a fews products to the cart from the frontend.
Go to checkout and fill up address details including Country, State and Postal code So that tax woul

[2019-10-08 06:50] soundararajanm1990 commented on #10304
Backorders not working for me in magento2.3.2

[2019-10-08 06:50] ildarius commented on #12777
Same here, should really consider flagging it as a requirement when performing installs and upgrades. If not for this git page not sure how else we would figure out that we need to enable the mod_version apache module

[2019-10-08 07:17] arendarenko opened #24916 "Media image data isn't deleted from store scope view when "Use default values" is checked"
### Preconditions (*)

1. Magento CE 2.3.2

### Steps to reproduce (*)

1. Create multiple website store (for example: **"default"** and **"canada"**)
2. Create new Media Image attribute **"example_image"** for product and "Store view" scope and assign it to **"Default"** product attribute set
3. Create simple product **"example product"** -> upload image **"test.jpg"** on _**global scope**_ and s

[2019-10-08 07:21] arendarenko commented on #24916
@magento give me 2.3-develop instance

[2019-10-08 07:21] magento-engcom-team commented on #24916
Hi @arendarenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-08 07:21] magento-engcom-team commented on #24916
Hi @arendarenko, here is your [Magento instance](https://i-24916-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24916-2-3-develop.instances.magento-community.engineering/admin](https://i-24916-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-08 07:34] engcom-Charlie commented on #24573
hello @gwharton
I am waiting for response from my lead about this issue.

[2019-10-08 07:41] ArchanaMohan1 commented on #24915
@engcom-Charlie  -
This is the information we got from the paypal team.

![image](https://user-images.githubusercontent.com/45938529/66376374-2469ed00-e9cd-11e9-84fd-1fb949ead8cf.png)

[2019-10-08 07:53] arendarenko commented on #24916
Issue isn't reproducing on vanilla Magento instance

[2019-10-08 08:25] magento-engcom-team commented on #24902
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21567` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-08 08:40] denvit commented on #1619
This is still the issue on Magento 2.3.2...

[2019-10-08 08:41] engcom-Bravo commented on #24912
Hello @mybathgreg. Thanks for reporting. We assume You mean `sales_order_item table` so we tested the issue in relation to that table (If we are wrong please correct us). With that we were not able to reproduce it on the latest vanilla 2.3-develop instance. Please try also to reproduce Your issue on such an instance. Thank You.

[2019-10-08 08:44] engcom-Bravo commented on #14567
@C0D31GN1T3R the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-08 08:44] #14567 closed, assigned to nobody

[2019-10-08 09:07] engcom-Charlie commented on #24826
@bartoszkubicki
sorry but i can't run this code.
i will put the "Triage" label and some developer will test it

[2019-10-08 09:09] tuyennn opened #24919 "Auto configuration config.php mutiple store, Lock wait timeout exceeded while update `store`"
### Preconditions (*)

1. Magento 2.3.x
2. Production mode
### Steps to reproduce (*)

1. Pre configuration config.php for 2 store: main store: en, 2nd store: vi
[code]
2. On deployment: php bin/magento setup:upgrade.
[code]

### Expected result (*)

1. Store could be created and by pass the deployment
2. No need to switch to developer mode to import by hand, we are using auto deployment with dock

[2019-10-08 09:23] tuyennn opened #24920 "Deployment The XML in file module-service-bus/etc/webapi.xml is invalid"
### Preconditions (*)

1. Magento 2.3.x
2. Using `module-service-bus`, package `"magento/mcom-connector": "3.2.0"`

### Steps to reproduce (*)

1. On developer mode, try to deployment using `php bin/magento setup:upgrade`
2. See the log on screen

### Expected result (*)

1. No error validation on `module-service-bus/etc/webapi.xml`

### Actual result (*)

1. Validator for `webapi.xml` was failed

[2019-10-08 09:29] asim-vax commented on #5724
This is also affecting magento 2.3.2, would be nice to get an update, as filtering large order sets is required for providing swift customer support and reporting.

[2019-10-08 09:41] berbua commented on #24656
@krisdante yes, it is working

[2019-10-08 09:47] itwebdev2 commented on #24259
@magento give me 2.3-develop instance

[2019-10-08 09:47] magento-engcom-team commented on #24259
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-08 09:47] magento-engcom-team commented on #24259
Hi @itwebdev2, here is your [Magento instance](https://i-24259-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24259-2-3-develop.instances.magento-community.engineering/admin](https://i-24259-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-08 10:04] engcom-Charlie commented on #24920
Hello @tuyennn
What is `module-service-bus`?
Is this third-party extension?

[2019-10-08 10:08] tuyennn commented on #24920
@engcom-Charlie We using `"magento/mcom-connector": "3.2.0"`

[2019-10-08 10:24] orlangur commented on #8276
@kervin please report a new issue or reopen this one providing necessary details to reproduce.

[2019-10-08 10:26] kervin commented on #8276
Sorry, issue on our site.. Magento all good.

[2019-10-08 10:40] orlangur commented on #8276
@kervin thanks for quick response. Sometimes it happens, no problem)

[2019-10-08 11:09] engcom-Charlie commented on #24915
Hello @ArchanaMohan1
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
I am closing this issue because i have to verify issues only on 2.3-develop branch.
![image](https://user-images.githubusercontent.com/51680850/66384410-5ed08b80-e9c7-11e9-8b63-7f1e70a80a25.png)
If you still faced this issue on `2.3-develop` please create a new Issue.
Thanks for your rep

[2019-10-08 11:09] #24915 closed, assigned to engcom-Charlie

[2019-10-08 11:44] vseager opened #24922 ""Create Permanent Redirect for URLs if URL Key Changed" for categories"
When setting the config option `Stores > Configuration > Catalog > Catalog > SEO > Create Permanent Redirect for URLs if URL Key Changed` to "No". The "Create Permanent Redirect for old URL" is unchecked by default for products but is still checked by default when you change the URL key on a category.

### Preconditions (*)

1. Magento 2.3.2  and `2.4-develop`

### Steps to reproduce (*)
1. Go to

[2019-10-08 11:57] engcom-Bravo commented on #23908
Updated Steps to reproduce. In fact, as I see now these steps to reproduce are scattered throughout the conversation. So theoretically I might have already gotten them if I were a bit more attentive (I bring my apologies for not being that) and it wouldn't have taken me that much time to come to it by myself. It seems to me I managed to reproduce the issue with slightly other steps as well but not

[2019-10-08 11:59] magento-engcom-team commented on #23908
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-08 12:01] magento-engcom-team commented on #23908
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21568` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-08 12:16] magento-engcom-team commented on #24922
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21569` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-08 13:11] arendarenko commented on #24916
@magento give me 2.3-develop instance

[2019-10-08 13:11] magento-engcom-team commented on #24916
Hi @arendarenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-08 13:12] magento-engcom-team commented on #24916
Hi @arendarenko, here is your [Magento instance](https://i-24916-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24916-2-3-develop.instances.magento-community.engineering/admin](https://i-24916-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-08 13:17] TimQSO opened #24924 "A product that gets disabled stays in shopping carts."
**Preconditions (*)**

- Magento 2.2.7
- Redis Cache Enabled
- Built-In FPC Enabled

**Steps to reproduce (*)**

1. Enable persistent shopping carts
2. Create a customer account and login
3. Add a product to your cart
4. Add another, different, product to your cart
5. Go to the backend and disable one of those products that are in the cart, put the stock on 0 and disable backorders of that product

[2019-10-08 13:18] edenduong commented on #24922
@magento give me 2.3-develop instance

[2019-10-08 13:18] magento-engcom-team commented on #24922
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-08 13:18] magento-engcom-team commented on #24922
Hi @edenduong, here is your [Magento instance](https://i-24922-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24922-2-3-develop.instances.magento-community.engineering/admin](https://i-24922-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-08 14:36] an4rei commented on #15545
500% cpu usage by mysql is really something I don't like seeing when I check the resources of my server. Any public fix yet?

[2019-10-08 14:42] PascalBrouwers commented on #24043
Actually @p-bystritsky is using my commit. Give credit where credit due.

[2019-10-08 14:44] staradzinau opened #24926 "On Magento 2.3.2, setup:upgrade command removes tables of disabled modules"
### Preconditions (*)

1. Magento 2.3.2 & 2.3-develop, 2.3.2-p1 (CE or EE- doesn't matter)
2. At least one installed module, which uses declarative schema

### Steps to reproduce (*)

1. Disable module, which uses declarative schema, using console command (module:disable). For example, native Magento_ReleaseNotification extension
2. Run setup:upgrade command
3. Check in the database, tables of the

[2019-10-08 14:45] magento-engcom-team commented on #24926
Hi @avgust1111. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-08 14:48] Den4ik commented on #24919
@tuyennn @engcom-Charlie Checked on clear installation and on small profile. Reported issue not reproduced
[code]

[2019-10-08 14:51] avgust1111 commented on #24926
Yes, I've reproduced the bug on my local environment. Unfortunately, I can't reproduce the issue on the test Magento instance, specified above, because I need SSH credentials to run console commands, specified above

It would be very nice to sort that issue out as soon as possible

[2019-10-08 14:52] adifucan commented on #22995
@serge-kaimin Thanks for your comment. Most of jquery ui components are more than 1KiB.
Anyway I guess missing cache on modern browsers may affect developer mode mostly as on production we recommend to bundle JS.

[2019-10-08 15:22] euriskotech commented on #15545
@an4rei Just noticed that 2.3.3 has been released, scanning through release notes at the moment to see if issue addressed.

[2019-10-08 15:49] Ctucker9233 commented on #22274
@MaxSouza What do you mean this is a configuration problem? Can this configuration be changed?

[2019-10-08 15:57] daniel-ifrim commented on #19710
@carolineboivin @magento-engcom-team I identified 3 issues with images. 2 can be related.
1) vendor/magento/module-swatches/Block/Product/Renderer/Configurable.php cache key (info) does not vary by theme ID or theme code. If you have 2 themes, each with etc/view.xml with different swatch image sizes than swatches will be blank. Block cache loads URLs from other theme, previous loaded in page.
Page

[2019-10-08 16:28] daniel-ifrim opened #24928 "Simple associated product of configurable product removed from website generates cart error"
### Preconditions (*)
1. Magento 2.3.0. Didn't test on Magento 2.3.2

### Steps to reproduce (*)
1. Have 2 websites (as in website > store) configured in admin.
2. Have the simple associated product in both websites.
3. Login on frontend as user.
4. Add configurable product to cart, the swatch/option for associated simple product.
5. Go to cart page.
6. Go to admin and remove a website from the si

[2019-10-08 16:36] an4rei commented on #15545
@euriskotech doesn't look like they did anything regarding this issue

[2019-10-08 16:53] MaxSouza commented on #22274
@Ctucker9233 Sorry, there is an error because the validation field does not display when you tried save product.

[2019-10-08 17:42] ananth-iyer commented on #21441
I think this could be file system ownership issue because you are running deploy commands from root user & web server is running on different user that is restricted to read files.

[2019-10-08 18:43] hostep commented on #23908
Great @engcom-Bravo !

Although, we've seen this problem happening on shops where the persistent cart functionality was never enabled, so there might be other ways to trigger this bug as well.
But it's good to already have one case documented properly 👍

[2019-10-08 18:44] Ctucker9233 commented on #22274
@MaxSouza Can you add the tags back that the Magento bot removed?

[2019-10-08 18:47] hostep commented on #24043
Euhm https://github.com/magento/magento2/issues/24043#issuecomment-521728434 ? 😉

[2019-10-08 19:00] magento-engcom-team commented on #22274
@MaxSouza Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-08 19:02] MaxSouza commented on #22274
@Ctucker9233 Done.

[2019-10-08 19:14] hostep commented on #24928
It looks like this was fixed in Magento 2.3.1 with this commit: https://github.com/magento/magento2/commit/e7d5aa8c8bb959b3d03c5d8f75ce3eee4727df00#diff-23fa97cc9e22ec55a57b2109b07f57c3L71 where the return type of that method was changed from `Product` to `?Product` thus allowing it to return `null` values.

Let me close this ticket for now. Thanks for the report though!

[2019-10-08 19:14] #24928 closed, assigned to nobody

[2019-10-08 19:15] magento-engcom-team commented on #24701
Hi @Totem4ik. Thank you for your report.
The issue has been fixed in magento/magento2#24827 by @MaxSouza in 2.3-develop branch
Related commit(s):
 - [7c5e7178abdb799062b67230589e4b7c70f8213c](https://github.com/magento/magento2/commit/7c5e7178abdb799062b67230589e4b7c70f8213c)
 - [a528841c676f188824ca30479ca3e1d801b729c4](https://github.com/magento/magento2/commit/a528841c676f188824ca30479ca3e1d801

[2019-10-08 19:15] #24701 closed, assigned to MaxSouza

[2019-10-08 19:15] magento-engcom-team commented on #24722
Hi @pavru. Thank you for your report.
The issue has been fixed in magento/magento2#24831 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [0c102bb6ed2f5511e364d9bcd38b243343c17a2b](https://github.com/magento/magento2/commit/0c102bb6ed2f5511e364d9bcd38b243343c17a2b)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-08 19:15] #24722 closed, assigned to mahesh-rajawat

[2019-10-08 19:15] magento-engcom-team commented on #24716
Hi @sangeetajain. Thank you for your report.
The issue has been fixed in magento/magento2#24769 by @ivan-koliadynskyy in 2.3-develop branch
Related commit(s):
 - [218c16459e07c0b072c2949cae1a9f0b9f0a7754](https://github.com/magento/magento2/commit/218c16459e07c0b072c2949cae1a9f0b9f0a7754)
 - [c283bba9d737ffc426d2f24fa60b4d9743063aed](https://github.com/magento/magento2/commit/c283bba9d737ffc426d2f

[2019-10-08 19:15] #24716 closed, assigned to ivanko-dev

[2019-10-08 19:15] magento-engcom-team commented on #23451
Hi @thomas-kl1. Thank you for your report.
The issue has been fixed in magento/magento2#23452 by @thomas-kl1 in 2.3-develop branch
Related commit(s):
 - [81a542b7ed6fc9db6715475f047906767d06775c](https://github.com/magento/magento2/commit/81a542b7ed6fc9db6715475f047906767d06775c)
 - [f15b76fcf0342b2b320037b5f913ba274f4f3d6d](https://github.com/magento/magento2/commit/f15b76fcf0342b2b320037b5f913ba

[2019-10-08 19:15] #23451 closed, assigned to thomas-kl1

[2019-10-08 19:15] magento-engcom-team commented on #24779
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#24845 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [8baeec344c5063d65eff5a79a0ddf7125ecc6951](https://github.com/magento/magento2/commit/8baeec344c5063d65eff5a79a0ddf7125ecc6951)
 - [5fc4b458e9ef0becfed3abb857cb81c860433b71](https://github.com/magento/magento2/commit/5fc4b458e9ef0becfed3abb857cb8

[2019-10-08 19:15] #24779 closed, assigned to drpayyne

[2019-10-08 19:15] magento-engcom-team commented on #14240
Hi @Low-config. Thank you for your report.
The issue has been fixed in magento/magento2#24659 by @elfeffe in 2.3-develop branch
Related commit(s):
 - [bff262dc6a13da40fadb86d6afc68e4002349bdd](https://github.com/magento/magento2/commit/bff262dc6a13da40fadb86d6afc68e4002349bdd)
 - [d16dd4cacae81fac4ead4629e32ad85c829c31c0](https://github.com/magento/magento2/commit/d16dd4cacae81fac4ead4629e32ad85c8

[2019-10-08 19:20] MichaelThessel opened #24929 "Server side LESS compilation drops media-width sections where arguments are wrapped in double quotes"
### Preconditions (*)

1. 2.3.1

### Steps to reproduce (*)
1.  Use double quotes for `media-width()` arguments

### Expected result (*)
1. Running Grunt based and server-side compilation should produce identical style files

### Actual result (*)
1. When using server side compilation styles are dropped if the `max` or `min` argument for  `.media-width()`  is wrapped in double quotes.

I.e.:
`medi

[2019-10-08 20:15] serge-kaimin commented on #22995
I just want to notice once more time, that its not true for almost scenarios - "JS files size and fully loaded time decreased for almost all scenarios.​" Most of jquery ui components has size less than 1.8Kb, when js-uglified it would be less than 1Kb,  then miss the browser's cache. That allmost half of JQuery UI scripts would be loaded on each new page reload or category or product visit. Its re

[2019-10-08 20:23] sdzhepa commented on #23821
The issue has been fixed and delivered into `2.3develop`.
Closed.

[2019-10-08 20:23] #23821 closed, assigned to nobody

[2019-10-08 21:24] thomvanderboon opened #24930 "Update 2.3.2->2.3.3 Fails on magento setup:di:compile with an error mentioning InvoiceFlexFieldProcessorInterface"
Update 2.3.2 -> 2.3.3 fails with error during magento setup:di:compile

### Preconditions (*)
1. Magento 2.3.2
2. PHP 7.2
3. MariaDB 10.3

### Steps to reproduce (*)
1. composer require magento/product-community-edition=2.3.3 --no-update
2. composer update
3. php bin/magento setup:upgrade
4. php bin/magento setup:di:compile
5. composer dump-autoload -o

### Expected result (*)
No errors during upd

[2019-10-08 21:43] thomvanderboon commented on #24930
I might have solved the problem by accident. While investigating it looks like I found a working solution.

At the end of the "use" clauses in /path to website/vendor/vertex/module-tax/Model/FlexField/Processor/OrderCurrencyGetterProcessor.php add the following two lines:

use Vertex\Tax\Model\FlexField\Processor\InvoiceFlexFieldProcessorInterface;
use Vertex\Tax\Model\FlexField\Processor\TaxCalcu

[2019-10-08 21:44] DrewML commented on #22995
Thanks for the feedback @serge-kaimin - appreciate it.

This threshold is set for a good reason: caching has a cost. In these cases it's cheaper for v8 to do compilation than it is to cache the result. Your recommendation of combining everything adds compilation time on the first render, instead of amortizing the cost over several pages.

Keep in mind too that this is a heuristic that has changed

[2019-10-09 00:02] serge-kaimin commented on #22995
There is latest jQuerry-UI, minified, and compressed by gzip and brotli:
520714  jquery-ui.js
253668  jquery-ui.min.js2
67940  jquery-ui.min.js.gz
57187 jquery-ui.min.js.br

Lets assume that almost of Magento stores are using gzip now, not brotli. If you will decompose one file to many small instances, I suppose on many small files there would be bigger overhead of gzip's dictionary than amount of

[2019-10-09 00:31] ee07b498 commented on #5906
documentation from the core team please, don't want to google sample with lots of bugs

[2019-10-09 01:04] crankycyclops opened #24932 "Images in Catalog Products List Widget are Vertically Stretched"
### Preconditions (*)

Magento version: 2.2.10 & 2.3.x

### Steps to reproduce (*)

1. Upgrade from Magento 2.2.9 -> 2.2.10 or to 2.3.x
2. Clear the cache and reload a page that has a products list widget

### Expected result (*)

Images appear the same as always

### Actual result (*)

Images are stretched vertically

### Additional Notes (*)

I did some digging, and I can see that while Magento

[2019-10-09 03:31] tuyennn commented on #24919
@Den4ik Kind of `Default Store View` with id `1` should be deleted
`Eng` and `Viet` should be added with id `2` and `3`
Probably we also get exception on many functions `getDefaultStoreById`, though some flat tables were not truncated on new store view added, and we got exception everywhere.

[2019-10-09 04:02] LiamKarlMitchell commented on #19549
So I ran this as mentioned above on a Magento 2.3.0 (that was upgraded from a prior one somehow) appears to fix it.

[code]

[2019-10-09 04:30] drpayyne commented on #12087
@magento give me 2.3-develop instance

[2019-10-09 04:30] magento-engcom-team commented on #12087
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 04:31] magento-engcom-team commented on #12087
Hi @drpayyne, here is your [Magento instance](https://i-12087-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12087-2-3-develop.instances.magento-community.engineering/admin](https://i-12087-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 04:34] DanielRuf opened #24933 "p2 tag / release?"
Was this accidentally pushed or what release is this?

https://github.com/magento/magento2/releases/tag/2.3.2-p2

@xmav

Seems to be one of these new security patches ;-)

There is only p1 mentioned at https://magento.com/security/patches/magento-2.3.3-and-2.2.10-security-update

[2019-10-09 06:13] webkul-deepak commented on #24926
After disabling module, please enable safe mode, while executing "setup:upgrade" or "setup:install", as this will creates a data dump during the installation or upgrade process. After this please restore the database while enabling the module.

Please follow the commands for same :

"setup:upgrade --safe-mode=1" : run after disabling the mod, this will create database backup.

"setup:upgrade --dat

[2019-10-09 06:24] deepakk-webkul commented on #24895
@magento give me 2.3-develop instance

[2019-10-09 06:24] magento-engcom-team commented on #24895
Hi @deepakk-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 06:24] magento-engcom-team commented on #24895
Hi @deepakk-webkul, here is your [Magento instance](https://i-24895-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24895-2-3-develop.instances.magento-community.engineering/admin](https://i-24895-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 06:29] avgust1111 commented on #24926
Hello, @webkul-deepak
Is that a final solution, or just a temporary one, until the bug won't be fixed?
Anyway, is that solution suitable for the situation, when module is enabled again after some period of time? Will database restoring affect all changes in all tables (both data and schema), or only tables, related to the enabled module?

[2019-10-09 07:17] deepakk-webkul commented on #24895
Hello @Khushbu-Webkul-QA
**I can't reproduce this issue on fresh Magento 2.3-develop.** It's working fine.

![2019-10-09-12-45-i-24895-2-3-develop instances magento-community engineering](https://user-images.githubusercontent.com/50043226/66459513-c7386f00-ea92-11e9-9bdd-6c8cbcee7465.png)

So i have to close it.
Thanks for your report!

[2019-10-09 07:38] magento-engcom-team commented on #24876
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21649` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-09 07:39] VitaliyMartyschuk opened #24934 "Add REST Api endpoint to Contact module"
### Description (*)
Add REST Api endpoint to Contact module, to have possibility send email from the contact form for projects which using  PWA architecture.

### Expected behavior (*)
Sending email through Rest Api endpoint with next params - Name, Telephone, Email, Comment

### Benefits
Have possibility to send emails from contact page for projects with PWA architecture like Vue-storefront.

###

[2019-10-09 07:41] daniel-ifrim commented on #24928
@hostep Thank you

[2019-10-09 07:59] VitaliyMartyschuk commented on #24934
@magento I'm working on it

[2019-10-09 08:02] engcom-Charlie commented on #24919
Hello @tuyennn  @Den4ik
I reproduced this issue on 2.3-develop branch(in production mode).
![image](https://user-images.githubusercontent.com/51680850/66462655-3490d380-ea84-11e9-926b-9911afd14b6d.png)
So i will update issue and confirm it.

[2019-10-09 08:31] euriskotech commented on #15545
How can they provide a patch for EE and still be ignoring the issue in the latest 2.3.3 CE version?  This makes no sense.

[2019-10-09 08:33] jorgb90 opened #24937 "Magento 2.3.3: symfony/service-contracts dependency is defined twice in the composer.lock"
### Preconditions (*)
1. Magento 2.3.3

### Additional details
1. detailed explanation https://github.com/magento/magento2/issues/24937#issuecomment-540164906
2. https://github.com/magento/magento2/blob/2.3.3/composer.lock#L9196
https://github.com/magento/magento2/blob/2.3.3/composer.lock#L9254

### Steps to reproduce (*)
1. Download Magento 2.3.3
-- as arch from https://github.com/magento/magento

[2019-10-09 08:35] Den4ik commented on #24919
@engcom-Charlie could you please explain steps, what database used, does Cron ran at same time?

[2019-10-09 08:37] Den4ik commented on #24919
Also as I see you have different error message. It's not snowing lock error

[2019-10-09 08:59] paul-gene commented on #17798
@RostislavS why has this issue been closed when it was acknowledged and replicated in 2.3?

Whilst Braintree may not provide the services required to do a partial invoice, until that point, Magento should be fix so this error does not occur.

[2019-10-09 09:08] sudheers-kensium commented on #24930
@thomvanderboon Issue is not reproducible, so I am closing this.

[2019-10-09 09:10] engcom-Charlie commented on #24919
@Den4ik @tuyennn  i tried again with fresh install and there were no errors
![image](https://user-images.githubusercontent.com/51680850/66467492-31e6ac00-ea8d-11e9-93e8-9650de8ffd38.png)
So if this issue is not reproducing on a fresh install i have to close this issue.
Thanks for contributing!

[2019-10-09 09:10] #24919 closed, assigned to Den4ik, engcom-Charlie

[2019-10-09 09:24] ghost opened #24938 "Wrong shipping amount calculation when checkout with multiple address is used."
### Preconditions (*)

1. Magento  Version : 2.3.3

### Steps to reproduce (*)

1. Add 2 or more products into the cart.
2. Use "Checkout with Multiple Address" and choose different shipping methods for each address.

### Expected result (*)

1.  Every order (for a different address) should have shipping rate as per selected shipping method.

### Actual result (*)

1. Every order (for a different

[2019-10-09 09:27] ramu424 opened #24939 "majento installation failed"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-10-09 09:28] ramu424 opened #24940 "after installing majento it comes like this Not Found The requested URL was not found on this server. Apache/2.4.29 (Ubuntu) Server at 192.168.0.205 Port 80"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-10-09 09:32] ramu424 commented on #24940
![issue](https://user-images.githubusercontent.com/49101677/66469618-cbba5300-eaa5-11e9-8e08-1f4d2ba8b8d8.png)
after installing majento it shows below error.please find the attached screen shot

[2019-10-09 09:33] YevheniiKR commented on #24938
@magento i am working on it

[2019-10-09 09:33] ramu424 commented on #24940
after installing majento it shows the above error

[2019-10-09 09:45] shikhamis11 commented on #24939
hello @ramu424
Please follow [issue reporting guideline ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and mention clear steps to repoduce the issue

[2019-10-09 09:45] #24939 closed, assigned to shikhamis11

[2019-10-09 09:49] shikhamis11 commented on #24940
hello @ramu424
Please follow issue reporting guideline and mention clear steps to repoduce the issue.

with the image it seems issue at your server end Please contact your server provider to the check the issue or check if you have opened correct url or not

[2019-10-09 09:49] #24940 closed, assigned to shikhamis11

[2019-10-09 09:55] magento-engcom-team commented on #24938
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21653` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-09 10:01] maheshWebkul721 commented on #24365
@magento i am working on it.

[2019-10-09 10:14] andy17612 commented on #24696
@geet07 Hi, May i know it is fixed in magento 2.3.3 now? or still working?

[2019-10-09 10:22] ajijshekh123 commented on #24938
This issue is related to the below issue link:
https://github.com/magento/magento2/issues/23631

[2019-10-09 10:29] vivekkumar-webkul commented on #24585
@magento give me 2.3-develop instance

[2019-10-09 10:30] magento-engcom-team commented on #24585
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 10:30] magento-engcom-team commented on #24585
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-24585-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24585-2-3-develop.instances.magento-community.engineering/admin](https://i-24585-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 10:35] engcom-Charlie commented on #24910
Hello @rishabhchd19
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
I have to close this issue.
Thanks for your report!

[2019-10-09 10:35] #24910 closed, assigned to engcom-Charlie

[2019-10-09 10:37] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-10-09 10:37] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 10:37] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 10:50] drpayyne commented on #6991
@keharper Where does the Swagger JSON define the mandatory fields? Or is the issue outdated and fixed?

[2019-10-09 11:02] xylodev commented on #23012
I am also encountering this issue on Magento 2.3.2. As stated in #22743 it concerns all payment methods that capture the amount on order placement, eg. appropriately configured PayPal (Payment Action = **Sale**) and Amazon Pay (Payment Action = **Charge on Order**). I'd be happy to provide PR for this bug.

@magento give me 2.3-develop instance

[2019-10-09 11:02] magento-engcom-team commented on #23012
Hi @xylodev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 11:02] magento-engcom-team commented on #23012
Hi @xylodev, here is your [Magento instance](https://i-23012-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23012-2-3-develop.instances.magento-community.engineering/admin](https://i-23012-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 11:13] milindsingh commented on #24937
I am closing this issue as I am not able to reproduce it on vanilla 2.3.3 on Php 7.2.
Please, can you check the 3rd party module dependencies for any conflicts.
Thanks

[2019-10-09 11:24] milindsingh commented on #24932
@dhorytskyi
@sanjay-github

https://github.com/sanjay-github/magento2/pull/2

[2019-10-09 11:26] jorgb90 commented on #24937
@milindsingh There are no 3rd party modules.. I just download the 2.3.3 zip release from GitHub, unzip it and run composer install.

[2019-10-09 11:32] milindsingh commented on #24920
@tuyennn  Is it Magento Commerce package ?

[2019-10-09 11:43] xylodev commented on #23012
Issue not reproducible on Magento 2.3-develop instance. Either the issue is resolved in 2.3-develop or I confused some PayPal settings. I will setup a 2.3-develop locally to re-trace the order placement process and will get back.

[2019-10-09 11:49] erlisdhima opened #24941 "Product import fails when external image urls are present"
### Preconditions (*)

1. Magento Community 2.3.3 & 2.3-develop
2. PHP 7.2.23

### Steps to reproduce (*)

1. Create a CSV product import file with 2 examples, one has external images (https://example.com/image.jpg), the other locally stored images
2. Go to System > Data Transfer > Import and do the following:
- Products (Entity Type)
- Add/Update (Import Behavior)
- Select the csv file to import

[2019-10-09 11:55] magento-engcom-team commented on #24911
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21655` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-09 12:05] joris-ati4 opened #24942 "Store Switcher not working when customer is logged in - Magento 2.3.3"
### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Create at least 2 store views in Magento.
2. Create a customer account
3. Go to a page on your shop and change the store with the store switcher while being logged in with the customer account.

### Expected result (*)

1. You a redirected to the same page of the other storeview

### Actual result (*)

1. The user is redirected t

[2019-10-09 12:05] paul-gene commented on #23012
@xylodev yea, I imagine it was fixed inbetween it being reported and your tests now. Maybe start with 2.3.1 locally and test that, then increase the version and try again?

[2019-10-09 12:06] shikhamis11 commented on #24942
@magento give me 2.3-develop instance

[2019-10-09 12:07] magento-engcom-team commented on #24942
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 12:07] magento-engcom-team commented on #24942
Hi @shikhamis11, here is your [Magento instance](https://i-24942-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24942-2-3-develop.instances.magento-community.engineering/admin](https://i-24942-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 12:18] shikhamis11 commented on #24942
hello @jojotjebaby
thank you for reporting this issue .. I tried reproducing the issue on magento 2.3-develop instance but It seems that works fine .. can you please specify from which page you are changing store or store view ? also please share url and screenshot if you are able to reproduce it on 2.3-develop instance

[2019-10-09 12:43] jojotjebaby commented on #24942
Hello @shikhamis11 ,

Thank you for testing out on the 2.3-develop instance. I am switching between 2 category pages on the store.

I also did some tests on the 2.3-develop instance but for the moment it seems to be working fine. This is because there is a difference between 2.3-develop and 2.3.3 for the di.xml file of the store module.

2.3-develop:

https://github.com/magento/magento2/blob/7aa94

[2019-10-09 12:44] ghoshsweta opened #24944 "No option to disable the Google Shopping ads pop up"
### Preconditions (*)

No option to disable the Google Shopping ads pop up
Issue Present in Magento 2.3.3

### Steps to reproduce (*)
1. Login to magento admin panel on Chrome browser
2. Go to Marketing->Advertising Channels->Google Shopping ads

### Expected result (*)
1.Option to close this pop up should come

### Actual result (*)
1. No option to close the pop up
![image](https://user-images.gi

[2019-10-09 12:53] jojotjebaby commented on #24942
Here is the commit that added this code to the 2.3.3 tag: https://github.com/magento/magento2/commit/fe7fbce272c0c0fdd06b7eaadede0bd18cfe8212

In order to prevent this bug on 2.3.3, you need to revert the `magento2/app/code/Magento/Store/etc/di.xml`  back to this:

https://github.com/magento/magento2/blob/68c48d55231de6849195e090e2b3ce750db61825/app/code/Magento/Store/etc/di.xml#L433-L441

Once th

[2019-10-09 12:56] krishprakash commented on #24869
Hi @irshad-iflair.
Feel free to reopen this issue with all reproducible steps.
Thanks.

[2019-10-09 12:56] #24869 closed, assigned to krishprakash

[2019-10-09 13:06] korostii commented on #24823
Hi @jclark0

If you could provide an example of an email address that produces such an unfortunate result for you, that would be great and would probably speed up the fix significantly.

Thanks in advance & have a nice day!

[2019-10-09 13:46] erikkubica commented on #6088
@magento-team I am running CE 2.2.3  and this issue still persists. My client just reported that he inserted image into the product description and that the image does not load if user is not logged in as admin.

I have tried to use blank and luma themes so I can ensure that issue is not caused by my custom theme. Output from any theme I tried:

[code]

Funny thing is that it works for CMS Page, b

[2019-10-09 13:55] ebanolopes commented on #15209
Hello! Is this something that Magento team is working on for next versions or it is on backlog at this moment? Thanks!

[2019-10-09 14:05] mazestricks commented on #8267
Hello @jvhost,

In order to fix the issue, you just need to configure "Disable Automatic Group Change Based on VAT ID" to Yes for the customer.
![image](https://user-images.githubusercontent.com/14094984/66488086-f6290200-eadf-11e9-9bcd-318d37bffaf0.png)

There's also a configuration for this one that upon user registration it will automatically disable that setting

![image](https://user-images.g

[2019-10-09 14:07] mattijv opened #24946 "Partial sitempas have wrong urls in sitemap index"
### Preface
I went through all the current **open** issues (5 at the time of writing) that come up when searching for 'sitemap' and none of them are related to this problem. There are several closed issues about this problem, but instead of reopening one of them, I decided to open a new one to clearly describe the issue and cause.

For example https://github.com/magento/magento2/issues/19565 descr

[2019-10-09 14:11] KooTjoo commented on #22313
Hi,

I saw 2.3.3 came out today is this fix implemented?

[2019-10-09 14:16] elvinristi commented on #24902
@engcom-Bravo , just make sure you link together `MC-21567` and [ENGCOM-6034](https://jira.corp.magento.com/browse/ENGCOM-6034)

[2019-10-09 14:19] erikkubica commented on #18138
I have the same problem, but it happens even if i dont have any special character in file name.

https://github.com/magento/magento2/issues/6088#issuecomment-540008145

[2019-10-09 14:43] keharper commented on #6991
@drpayyne The Swagger UI has changed over time. When you click **Model**, you can see it lists all the possible attributes, but it doesn't say which are required. Notice that `sku` has an asterisk, but the other attributes don't.

![swagger-screen-shot](https://user-images.githubusercontent.com/11652541/66491573-95b2aa00-ea78-11e9-8ebb-0243c1896ba9.png)

[2019-10-09 15:02] thomascharbit commented on #5775
On M1 this module did the job: https://www.mexbs.com/magento-blog/allow-shipping-and-billing-countries-free-magento-extension/
Maybe you can get inspired for a Magento 2 version

[2019-10-09 15:25] radua opened #24948 "Dimensions missing from new product"
### Preconditions (*)

1. Magento v2.3.3

### Steps to reproduce (*)

1. Magento Admin > Catalog > Products > Add new Product

### Expected result (*)

1. Product attribute set 'Default' should show fields for Length, Width and Height

### Actual result (*)

1. Above mentioned fields are missing

![image](https://user-images.githubusercontent.com/14368934/66495561-69eaf080-ea87-11e9-9a19-a1bcb0470

[2019-10-09 15:36] matthiashamacher opened #24949 "Products cannot be found through search"
### Preconditions (*)

1. Magento 2.3.2
2. MSI

### Steps to reproduce (*)

1. In the Inventory Settings create a source and a stock
2. Assign the Stock to the Main website
3. Create a simple product with i.e. qty 10 in the created source
4. Save the product & run a reindex
5. Search for the product by name and by SKU

### Expected result (*)

1. Product can be found through search by name and SKU

[2019-10-09 17:05] joris-ati4 opened #24950 "Inconsistency between the 2.3.3 Tag and 2.3-develop branch"
### Preconditions (*)
This issue concerns multiple bugs that I discovered while upgrading Magento to 2.3.3

Today I am having some bugs while upgrading magento to the 2.3.3 release. I opened a bug for an issue with the store switcher that is only present on 2.3.3. After spinning up an instance running the 2.3-develop branch, I wasn't able to reproduce this issue. (this was strange)

So I did some

[2019-10-09 17:10] joris-ati4 opened #24951 "Inconsistency between the 2.3.3 Tag and 2.3-develop branch"
### Summary (*)

This issue concerns multiple bugs that I discovered while upgrading Magento to 2.3.3

Today I am having some bugs while upgrading magento to the 2.3.3 release. I opened a bug for an issue with the store switcher that is only present on 2.3.3. After spinning up an instance running the 2.3-develop branch, I wasn't able to reproduce this issue. (this was strange)

So I did some diggi

[2019-10-09 17:11] #24950 closed, assigned to nobody

[2019-10-09 17:17] med-amin opened #24952 "Associated products attribute value returning false"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2.22

### Steps to reproduce (*)

1. Create a new attribute with backend type int .
2. Dates in mo_eav_attribute_option_value
2017-12-31 19:00:00
2018-01-01 20:30:00
2019-12-31 19:00:00
2020-01-01 20:30:00

### Expected result (*)

1. The attribute value should be date

### Actual result (*)

1. The attribute value is false
![associated product](htt

[2019-10-09 17:18] med-amin commented on #24952
@magento give me 2.3-develop instance

[2019-10-09 17:18] magento-engcom-team commented on #24952
Hi @med-amin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 17:18] magento-engcom-team commented on #24952
Hi @med-amin, here is your [Magento instance](https://i-24952-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24952-2-3-develop.instances.magento-community.engineering/admin](https://i-24952-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 18:12] Pyronerd62 commented on #14881
Same on 2.3.2

[2019-10-09 18:20] ilnytskyi opened #24953 "Wrong price indexed for configurable/composite products"
### Preconditions (*)
magento 2.3

1.
2.

### Steps to reproduce (*)

1. Edit `price` or `special_price` on configurable product from mass action grid or saving attribute via resource model `$this->productResource->saveAttribute($product, 'price');`  or
`$this->productResource->saveAttribute($product, 'special_price');`
2. Run reindex from cron (mb. CLI reindex as well)
3. See the price from attri

[2019-10-09 19:25] prabhatrawat-webkul commented on #23024
@magento give me 2.3-develop instance

[2019-10-09 19:25] magento-engcom-team commented on #23024
Hi @prabhatrawat-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-09 19:25] magento-engcom-team commented on #23024
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-23024-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23024-2-3-develop.instances.magento-community.engineering/admin](https://i-23024-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-09 19:32] hostep commented on #24951
Yeah this is highly annoying.

Version 2.3.3 was already available 2 weeks ago in pre-release, so they should already have had plenty of time to prepare the merge into 2.3-develop.
With 2.3.2 we saw the same thing, it took many weeks until code from 2.3.2 finally made it in 2.3-develop.
Not really sure why this always takes so long.

This is most likely done for security reasons, as this would be

[2019-10-09 19:58] hostep commented on #24937
@jorgb90: I can confirm this is indeed an issue when downloading this from the GitHub releases.
It is however not a problem when setting up Magento using composer or when downloading the archive from https://magento.com/tech-resources/download#download2321, which is a more recommended way of installing Magento.

The problem with the GitHub release is that for some bizarro reason, the `symfony/serv

[2019-10-09 20:08] hostep commented on #24876
Just FYI: @swetacedcoss created an issue for the not-being-able-to-close-the-popup-bug: https://github.com/magento/magento2/issues/24944

[2019-10-09 20:13] hostep commented on #24938
@ajijshekh123: please don't close confirmed issues and link to another closed issue. We need to have at least one issue open, otherwise people will forget about it, thanks! 🙂

[2019-10-09 20:15] sdzhepa commented on #24876
Hello @hostep , @sadeeshmca

I received an update on this issue from the internal team a couple of minutes ago.

To be sure before closing the issue, may I ask you to confirm it?

[2019-10-09 20:25] hostep commented on #24876
@sdzhepa: yes confirmed, the typo has been fixed, thanks!

[2019-10-09 20:25] #24876 closed, assigned to sdzhepa, YevheniiKR

[2019-10-09 20:26] oltskyi commented on #5873
in my case, it was necessary to change the way from
**Magento\Customer\Model\ResourceModel\Attribute\Collection**
to
**Magento\Customer\Model\ResourceModel\Address\Attribute\Collection**
in the table **eav_entity_type**, column: **entity_attribute_collection**

[2019-10-09 20:58] magento-engcom-team commented on #24937
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21670` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-09 21:23] magento-engcom-team commented on #24526
Hi @rasmuswikman.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-10-09 23:54] MaxSouza commented on #24757
I'm working on it

[2019-10-10 00:10] jojotjebaby commented on #24951
Ok I can understand they don't want to merge it into the 2.3-develop branch because of security reasons but it should be merged once the release comes out. The problem now is when I report a bug present in 2.3.3, it is not possible to reproduce it on the instance that is spun up with the 2.3-develop branch and so people may think it is not even a bug...

[2019-10-10 04:32] vivekkumar-webkul commented on #24128
@magento give me 2.3-develop instance

[2019-10-10 04:32] magento-engcom-team commented on #24128
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-10 04:33] magento-engcom-team commented on #24128
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 04:33] ajijshekh123 commented on #24938
Give me @magento give me 2.3-develop instance

[2019-10-10 04:33] magento-engcom-team commented on #24938
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-10 04:34] magento-engcom-team commented on #24938
Hi @ajijshekh123, here is your [Magento instance](https://i-24938-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24938-2-3-develop.instances.magento-community.engineering/admin](https://i-24938-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 04:36] lewisje commented on #24932
I just added the following rule to my frontend theme's CSS file (in the resets section) and the expected behavior was restored (this issue also affected the site logo):

[code]

[2019-10-10 04:50] drpayyne commented on #24948
@magento give me 2.3-develop instance

[2019-10-10 04:50] magento-engcom-team commented on #24948
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-10 04:51] magento-engcom-team commented on #24948
Hi @drpayyne, here is your [Magento instance](https://i-24948-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24948-2-3-develop.instances.magento-community.engineering/admin](https://i-24948-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 05:02] vivekkumar-webkul commented on #24128
@magento I'm working

[2019-10-10 05:02] ajijshekh123 commented on #24938
Okay @hostep
I have verified this issue in the latest Magneto 2.3 instances with 2 different products and shipping methods.
The issue is not reproduced.
**See attached screenshots:**

![Review Order](https://user-images.githubusercontent.com/24711761/66540370-32447d00-eb49-11e9-8c2d-067150220471.png)

![Shipping Methods - Magento Commerce](https://user-images.githubusercontent.com/24711761/6654037

[2019-10-10 05:03] ajijshekh123 commented on #24938
@MrGangola-Webkul - Please let me know which Magento instance you are using to reproduce this issue.

[2019-10-10 05:17] simon-saurabh commented on #24484
@krisdante Do we need to do anything else other than implementing the above 3 commits as I have applied all 3 commits and the image issue with sitemap is still there for me. It is still taking the Magento placeholder image. Also, my Magento version is 2.3.2 and the above patch is not working for me.

[2019-10-10 05:30] sangeetajain commented on #24808
Hello Team,
Is there any update regarding this issue...?

[2019-10-10 05:58] vivekkumar-webkul commented on #23870
@magento give me 2.3-develop instance

[2019-10-10 05:58] magento-engcom-team commented on #23870
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-10 05:59] magento-engcom-team commented on #23870
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-23870-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23870-2-3-develop.instances.magento-community.engineering/admin](https://i-23870-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 06:31] ajijshekh123 commented on #24938
@MrGangola-Webkul - Can you please send me one video or send exactly the scenario?

[2019-10-10 07:00] Karlasa commented on #24902
Fix for that in PR #24906

[2019-10-10 07:11] jorgb90 commented on #24937
@hostep Thanks for looking into it!

[2019-10-10 07:14] philippta commented on #9326
As mentioned in #9378

This is still the case which means when requesting `/V1/order/items/:id` it does not return any product options. Is there anything I am missing?

[2019-10-10 07:21] michelecanal opened #24957 "Email not working with special characters in sender name (Magento 2.3.3)"
### Preconditions (*)

1. Magento CE 2.3.3
2. Special Charapters (as "à") in sender name (store's emails)

### Steps to reproduce (*)

1. take ad action that generate email
2. email doesn't work

### Expected result (*)

1. email sent to recipient

### Actual result (*)

1.  email not sent to recipient

[2019-10-10 07:27] michelecanal commented on #24957
@magento give me 2.3-develop instance - upcoming 2.3.3 release

Il giorno gio 10 ott 2019 alle ore 09:23 m2-assistant[bot] <
notifications@github.com> ha scritto:

[2019-10-10 07:27] magento-engcom-team commented on #24957
Hi @michelecanal. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-10 07:28] magento-engcom-team commented on #24957
Hi @michelecanal, here is your [Magento instance](https://i-24957-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24957-2-3-develop.instances.magento-community.engineering/admin](https://i-24957-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 07:39] magento-engcom-team commented on #24903
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21676` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-10 07:41] engcom-Charlie commented on #24808
Hello @sangeetajain !
Fix in progress as you can see in #24862 .

[2019-10-10 08:01] michelecanal commented on #24957
Hi, I made some tests.
In this instance, no email work.
Can you check, please? (server configuration?)

Il giorno gio 10 ott 2019 alle ore 09:30 Magento Community Engineering <
notifications@github.com> ha scritto:

[2019-10-10 08:18] drpayyne commented on #5322
I analyzed the flow a little and this is what I observe
- Run `bin/magento cache:flush`
- Use this in an `adminhtml` controller
[code]
### Expected
- `$this->_url` in `\Magento\Store\Model\Store` is `\Magento\Framework\Url` (**frontend** URL handler)
- http://magento2.site/hello
### Actual
- `$this->_url` in `\Magento\Store\Model\Store` is `\Magento\Framework\Url` (**frontend** URL handler)
- http

[2019-10-10 08:24] 29sunil opened #24958 "Coupon used in Invoice but doesn't show up in Sales Coupon Report"
### Preconditions (*)

1.magento version 2.3.2
2.

### Steps to reproduce (*)

1.Report-> coupon -> select date range
2.

### Expected result (*)

1. All used cupon result will show
2.

### Actual result (*)

1. only few month reports is showing
2.
![cuponrepostnew](https://user-images.githubusercontent.com/35294849/66551645-82313d00-eb65-11e9-8bf6-131d89227798.png)

[2019-10-10 08:59] pusachev commented on #16362
Hi @ihor-sviziev I get this ticket on contribution day in Kyiv and think that this ticket was processed and approved. Please let me know when I can continue working on this ticket.

Best Regards,
Pavel.

[2019-10-10 09:02] oewean commented on #24957
Bug also exists in contact us form, special characters in senders name resulting in error: Invalid header value detected

[2019-10-10 09:05] gaurangpadhiyar007 commented on #24311
@maheshWebkul721

I have already solved it. You may check the commit and pull request.
Would please solve what goes wrong with the pull request because I don't understand what is wrong?
commit: https://github.com/magento/magento2/pull/24314/commits

Thanks

[2019-10-10 09:05] engcom-Charlie commented on #23694
Hello @migmax48
We are not able to reproduce this issue on the lates 2.3-develop branch.
So i have to close this issue.
If you still faced this issue on `2.3-develop` please create a new Issue with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
Thanks for your report!

[2019-10-10 09:05] #23694 closed, assigned to engcom-Charlie

[2019-10-10 09:19] 29sunil commented on #24958
yes we have shared all information

[2019-10-10 09:27] magento-engcom-team commented on #24957
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-10 09:27] 29sunil commented on #24958
![cupon2](https://user-images.githubusercontent.com/35294849/66556614-359e2f80-eb6e-11e9-8e52-c84fe8c1f346.png)

[2019-10-10 09:27] magento-engcom-team commented on #24957
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21678` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-10 09:35] ihor-sviziev commented on #16362
Hi @pusachev,
I do understand that this is an issue, but not all issues need to fix, so if there any use case that could cause this issue - ok, lets fix it, if no - lets not fix it at all and make code more clear and simpler.

[2019-10-10 09:56] sriharsha184 commented on #10304
Issue still occurs in M 2.3.2 Enterprise Edition.Is there any patch available to fix this issue.

[2019-10-10 10:03] magento-engcom-team commented on #24944
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21681` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-10 10:48] 29sunil commented on #24958
is there any update regarding this issue

[2019-10-10 10:58] arushibansal013 commented on #24450
Hi @dugnl,

The issue is not reproducible, i tried the steps suggested by you. And found that images are coming correctly. For an associated/child product its changing as expected.

You can check once with Magento dev instance, and open the issue again at any instance.

[2019-10-10 10:58] #24450 closed, assigned to arushibansal013

[2019-10-10 11:25] sudheers-kensium commented on #24958
@29sunil Not reproduced the issue, Please provide more information.

[2019-10-10 11:28] 29sunil commented on #24958
what kind of information you need.  We did not get cupon report of last three month. only july month cupon report is showing

[2019-10-10 11:31] 29sunil commented on #24958
![cupon3](https://user-images.githubusercontent.com/35294849/66565236-a4d04f80-eb7f-11e9-9bce-b8103439417c.png)

[2019-10-10 11:33] 29sunil commented on #24958
These orders are made at September month. these coupon codes are not showing at the cupon report section.

[2019-10-10 11:38] sudheers-kensium commented on #24958
But your filter date from Feb 1st to Aug 10, Please check once.

[2019-10-10 11:39] 29sunil commented on #24958
this issues similar to this one (https://magento.stackexchange.com/questions/255448/coupon-used-in-invoice-but-doesnt-show-up-in-sales-coupon-report ) . there is no reply at all.
Thnaks

[2019-10-10 11:41] magento-engcom-team commented on #23170
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21686` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-10 11:44] sudheers-kensium commented on #24958
@29sunil , issue not reproducible, I am closing this.

[2019-10-10 11:44] #24958 closed, assigned to sudheers-kensium

[2019-10-10 11:48] 29sunil commented on #24958
![cupon4](https://user-images.githubusercontent.com/35294849/66566165-e19d4600-eb81-11e9-804a-31a7db00f2b3.png)
Please see  this video (https://www.loom.com/share/29246fe71894481b805d1323994d0494 )

[2019-10-10 11:53] 29sunil opened #24960 "Coupon used in Invoice but doesn't show up in Sales Coupon Report"
### Preconditions (*)

1.Login in admin section
Report-> coupon -> select date range
2.

### Steps to reproduce (*)

1.login in the admin section and follow the
![cupon3](https://user-images.githubusercontent.com/35294849/66566459-a2232980-eb82-11e9-8b7d-299f365b265f.png)
![cupon4](https://user-images.githubusercontent.com/35294849/66566460-a3545680-eb82-11e9-8f09-a0ecc7b2c1eb.png)
![cuponrepostne

[2019-10-10 11:57] 29sunil commented on #24960
All information is shared

[2019-10-10 11:57] engcom-Bravo commented on #24902
Hi @elvinristi. Unfortunately I have no access to MC-21567. But I hope Magento links such things together automatically.

[2019-10-10 12:04] 29sunil commented on #24960
kindly watch this video and print screen

[2019-10-10 12:20] aarondurban commented on #23376
we've updated to 2.3.3 and it now attempts to save the category image again after every save.  In doing so, if any information is changed (ie description) the image is removed as a new one is not added.

[2019-10-10 12:32] shikhamis11 commented on #24960
@magento give me 2.3-develop instance

[2019-10-10 12:39] 29sunil commented on #24960
what is the use of this instance? There is no order at all. how can we check it .if you need then we will provide our website details.  did you check the video that is shared by us? what is the solutions of this issues
Thanks

[2019-10-10 12:50] shikhamis11 commented on #24960
hello @29sunil
I have created one order where I have used coupon code .. I tried to get report and thre it seems working fine ..
can you check once on instance ?

[2019-10-10 12:57] shikhamis11 commented on #24942
hello @jojotjebaby
I checked on 2.3.3 there this issue was able to reproduced .. but it seems it is already fixed in magento 2.3-develop instance

[2019-10-10 12:59] shikhamis11 commented on #24960
may be it is fixed in any pull request or by magento internal team members

[2019-10-10 13:03] 29sunil commented on #24960
ok so we need to wait for reply of Magento team member

[2019-10-10 13:05] ghoshsweta opened #24961 "Design issue when applying filter by name in the category section at admin panel."
### Preconditions (*)

Issue on Magento 2.3.3
Magento Admin Account Sharing is disabled

### Steps to reproduce (*)
1.Login to magento admin panel on Chrome browser
2.Go to Catalog->categories->select a category
3.Go to Products in Category and enter any random text on name field. Do not hit search or enter button
4. In a Private run the magento admin panel and fill in the login details. Do not hi

[2019-10-10 13:09] magento-engcom-team commented on #24961
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21690` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-10 13:25] shikhamis11 commented on #24960
@29sunil can you share magento version details on wich this issue is occuring ?

[2019-10-10 13:25] jojotjebaby commented on #24942
I opened another issue but it seems that 2.3.3 hasn't been merged into 2.3-dev yet. So we have to wait for this merge before I can provide a PR ....

[2019-10-10 13:26] shikhamis11 commented on #24960
@magento give me 2.3.2 instance

[2019-10-10 13:27] magento-engcom-team commented on #24960
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-10 13:27] magento-engcom-team commented on #24960
Hi @shikhamis11, here is your [Magento instance](https://i-24960-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24960-2-3-2.instances.magento-community.engineering/admin](https://i-24960-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 13:31] 29sunil commented on #24960
For now, our live website Magento version is 2.3.0 (https://prnt.sc/phgh07). But we have upgraded the Magento version (2.3.2 )at our local system. But we get the same errors. Please see this video
https://www.loom.com/share/34b306c9a762473dbeded46b28d276a8

[2019-10-10 13:37] shikhamis11 commented on #24960
I checked on magento 2.2 version also It seems working fine
at your end it may be due to any custom development please check at your end once

[2019-10-10 13:43] vivekkumar-webkul commented on #24128
@magento i am working on it

[2019-10-10 14:14] GuiltyNL commented on #4688
The issue is related to this one:

https://github.com/magento/magento2/issues/5561

I've been busy trying to debug this and when a category is added to the Top Menu (The option in categories 'Include in menu') it will be added to the X-Magento-Tags of every product.

When Magento asks for a purge and a category is involved, Varnish will flush all the products, because every product has all the cat

[2019-10-10 14:26] engcom-Charlie commented on #24683
Hello @visualwebs
We are not able to reproduce this issue on a fresh Magento 2.3-develop install.
**Result:**
When "Edit product" page loading `getAttributes()`method finds only attributes for current attribute set.
![image](https://user-images.githubusercontent.com/51680850/66564359-7dba5380-eb68-11e9-9219-58340a7398a7.png)
So i have to close this issue.
Thanks for your report!

[2019-10-10 14:26] #24683 closed, assigned to engcom-Charlie

[2019-10-10 14:51] fritzmg commented on #690
This is still an issue in Magento 2.3.2. As a workaround you can set the `used_in_product_listing` option directly in the database for the new attribute.

[2019-10-10 14:55] DanielRuf commented on #24929
This is a know issue. Please see https://github.com/magento/magento2/issues/7231

Closing this one as duplicate.

[2019-10-10 15:00] mtrzk opened #24963 "Order Grid - datepicker RTL issue"
Hi, I have error in order grid with datepicker on RTL admin layout.

### Preconditions (*)
1. Magento 2.3.2
2. mageplaza/magento-2-arabic-language-pack

### Steps to reproduce (*)
1. Use arabic (ar_SA - Saudi Arabia) language in backend
2. Go to Sales -> Orders
3. Open Filters
4. Set Purchase date to some date
5. Try to apply.

### Expected result (*)

1. Normal working datepicker like in English:

[2019-10-10 15:09] abdulmueid opened #24964 "Method chaining broken by refactor in Module_Catalog Product Collection"
The commit https://github.com/magento/magento2/commit/a77fd52e34a4f1f1b47e8275e4f671b37c92e20a refactors the method `addAttributeToFilter` in file `app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php` by adding two new methods `addIsSaleableAttributeToFilter` and `addTierPriceAttributeToFilter`.

However, there are missing return statements in the `if` statement which break method

[2019-10-10 15:21] gonzaloebiz opened #24965 "Magento 2.2.10, composer not working if you use php 7.2"
As per the documentation, magento 2.2.10 supports php 7.2, so i try to use it to install an extension via composer.
![image](https://user-images.githubusercontent.com/6222792/66582301-ef3dd600-eb57-11e9-91ba-71f7d0ce9504.png)

### Preconditions (*)
1.Install a vanilla magento 2.2.10 (the issue is present if you update from a previous version of magento too)

### Steps to reproduce (*)
1.Try to ins

[2019-10-10 15:22] #23432 closed, assigned to engcom-Charlie

[2019-10-10 15:25] sdzhepa commented on #24933
Hello @DanielRuf

Additional information about p1 and p2 described in [Magento Commerce 2.3.3 Release Notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-commerce.html#new-security-only-patch-available)
Quote:

Also,  https://magento.com/security/patches/magento-2.3.3-and-2.2.10-security-update was updated according to p2

I think this issue can be closed now, could yo

[2019-10-10 15:36] Ctucker9233 commented on #22274
@MaxSouza Thank you

[2019-10-10 15:39] C4rter commented on #24920
We've encountered the same issue today. It works in production mode, fails in developer mode. Any help would be appreciated.

[2019-10-10 15:44] DanielRuf commented on #24933
Here is still no p1, or does p2 contain p2?

https://github.com/magento/magento2/releases

If this is the case the patches might get bigger and bigger.

And the patch seems to contain more than only security related changes.

[2019-10-10 16:07] magento-engcom-team commented on #24934
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21698` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-10 16:08] sdzhepa commented on #24426
@magento give me 2.3.3 instance

[2019-10-10 16:08] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-10 16:09] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-10 16:09] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-10 16:09] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-10 16:19] electroidru commented on #24964
I think that's critical. After update to 2.3.3 exception with porto theme PHP Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Catalog\Model\ResourceModel\Product\Collection::addIsSaleableAttributeToFilter()

[2019-10-10 16:35] DanielRuf commented on #24933
Also this somehow makes not much sense. 2.3.2-p1 is a patched version of 2.3.2. So these might be changes from 2.3.3. But now there is also 2.3.2-p2 so 2.3.3 was patched twice but got only one release and no extra -p release?

I think something went wrong.

[2019-10-10 16:37] DanielRuf commented on #24933
The overall security process could be improved. This case was very rushed.

[2019-10-10 16:41] abdulmueid commented on #24964
@electroidru that error is a related but separate problem. The new method signatures type check condition parameter for nullable array whereas the calling method `addAttributeToFilter` does not type check the condition at all.

This breaks a number of popular themes (Porto, Market) and modules which filter products. We can open another issue for this behavior. I'm still debugging and checking for

[2019-10-10 16:47] Bwat-dev commented on #8964
**Same issue on 2.3.2 :(**
The discount calculation on shipping cost is wrong whit a percent discount.

Ex :
Cart 10€ inluding tax
Delivery 10€ including tax
Tax 20% on products and shipping
Discount 20%
Settings :
- apply tax : before discount
- apply discount on price :  tax included

**Expected result :**
Price after discount : 16€
= 20  - 10*0,2 - 10*0,2
[Total] - [Price tax included] * 20%  -

[2019-10-10 17:25] MichaelThessel commented on #24929
@DanielRuf this is not a duplicate of #7231. In fact this is a reproducible issue I spent several days tracking down. This can be fixed. #7231 has been open for **3 years** without any progress. I assume there will be no progress on this any time soon either. Till there is a unified approach for static asset compilation any issue that produces different results should be addressed individually. Im

[2019-10-10 17:34] hostep commented on #24951
Yeah indeed, communication from Magento is lacking a bit in regards to explaining why or how some things are being done.

Regarding the `p2` tag, they were friendly enough to explain it in the security channel on Slack, so here are some quotes from Piotr:

(for the newcomers, CE means Magento Open Source, EE means Magento Commerce)

[2019-10-10 17:36] DanielRuf commented on #24951
Ok, that makes it more clear. I guess I can not join this channel as I am not a maintainer and just a normal contributor.

[2019-10-10 17:39] hostep commented on #24951
Everybody can join, and please do, it can be very informative: https://opensource.magento.com/slack (from: https://github.com/magento/magento2/wiki/Slack-Channels)

[2019-10-10 17:39] DanielRuf commented on #24929
Thanks for the clarification. As we use an old and unmaintained PHP library for the compilation it might be fixed in one of the newer forks.

[2019-10-10 17:48] DanielRuf commented on #24929
https://github.com/wikimedia/less.php is the most maintained and active solution. The main problem is the PHP version so far.

[2019-10-10 17:58] DanielRuf commented on #24951
Ah this is some public channel which was startedmid 2018. I thought you mean the internal one for the security team to discuss and improve the process.

Security updates / patches are still not so great imo.

[2019-10-10 18:09] hostep commented on #24965
@gonzaloebiz: you should try to figure out what module (or maybe even your root `composer.json` file) is locking the `magento/composer` package at version 1.2.0.

When installing Magento 2.2.10 using PHP 7.2, it installs `magento/composer` version 1.2.2 which is marked as compatible with PHP 7.2.
See the changes between version 1.2.0 and 1.2.2: https://github.com/magento/composer/compare/1.2.0...1

[2019-10-10 18:32] livvly opened #24967 "Amazon Pay Checkout Place Order redirect to the cart on success"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Enable Amazon Pay
2.Checkout with Amazon Pay

### Expected result (*)

1. [Screenshots, logs or description]
2.Redirect to /checkout/onepage/success

### Actual result (*)

1. [Screenshots, logs or description]
2.redirected to /checkout/cart

[2019-10-10 18:39] gonzaloebiz commented on #24965
If i download the zip file for 2.2.10 from the magento site, the vendor/magento/composer/composer.json file is
![image](https://user-images.githubusercontent.com/6222792/66596092-a2b3c400-eb72-11e9-922c-71c8ec002d1e.png)
(the version is clearly 1.20)

Also, in https://github.com/magento/magento2/blob/2.2/composer.json#L57 the version of composer is 1.2 (and not 1.2.2)

The described method thus is

[2019-10-10 19:15] jgahn-xom opened #24968 "Product Edit is broken after 2.3.3 update"
### Preconditions (*)

1.Version 2.3.3

### Steps to reproduce (*)

1. Catalog -> Products -> edit any product

### Expected result (*)
1. Product edit page

### Actual result (*)
1. error and no edit page:
Warning: Use of undefined constant formName - assumed 'formName' (this will throw an Error in a future version of PHP) in /var/www/magento2/vendor/magento/module-catalog/view/adminhtml/template

[2019-10-10 19:25] gonzaloebiz commented on #24965
If i install magento via composer works. So, the issue is with the downloadable version in https://magento.com/tech-resources/download

Best

[2019-10-10 20:14] hostep commented on #24965
Yeah, it's a bit odd that they include 1.2.0 by default while they could also have included 1.2.2 in the zip. No idea why that happened.

Maybe always start with a 'composer update' after installing Magento, so all your dependencies are the latest at that moment.

But happy to hear you have a solution now! 🙂

(after playing around a bit with various php versions and Magento 2.2.10, I'm now suspect

[2019-10-10 21:08] jasonevans1 commented on #12790
I am not able to reproduce this issue on 2.3-develop branch.

[2019-10-10 21:08] krisdante commented on #24484
How do you create a sitemap ? With cron on manually in admin pannel?

[2019-10-10 21:11] krisdante commented on #24484
It is strange that it takes placeholder image. It was generating wrong checksum - so the file was de-facto not existing (404) not placeholder.

[2019-10-11 05:01] simon-saurabh commented on #24484
@krisdante we are generating the sitemap.xml from the Magento Admin and yes you are right that it is generating the wrong checksum, as I had removed the cache path from the image URL to see the product image exist on the path then it is showing me the correct product image.

For eg- this is the image URL in the sitemap.xml (http://abc.com/media/catalog/product/cache/8b5174bff07af2e5e6c6a9fb70572a9

[2019-10-11 05:20] maheshWebkul721 commented on #24964
@shikhamis11  Please look in to this, and confirm this issue. This issue is reproducible.

[2019-10-11 05:54] #24916 closed, assigned to nobody

[2019-10-11 06:07] niteshv0909 commented on #12380
Is this fixed ??  I am getting this in magento 2.2.4.

[2019-10-11 06:37] CalzaFino opened #24970 "Vertex Tax Error Updating to 2.3.3"
I am trying to update Magento 2.3.2 to 2.3.3 and I got an error on the fist step of the compilation (1/7):

Error Fatal error: Interface 'Vertex\Tax\Model\Flexfield\Processor\TaxCalculationFlexFieldProcessorInterface' not found in /srv/public_html/vendor/vertex/module-tax/Model/FlexField/Processor/OrderCurrencyGetterProcessor.php on line 24

Compilation is not completed.

The Vertes_Tax module is

[2019-10-11 07:15] sudheers-kensium commented on #24970
@CalzaFino! Not reproducible, I have upgraded from Magento 2.3.2 to 2.3.3 without issue. So I am closing this issue.

[2019-10-11 07:15] #24970 closed, assigned to sudheers-kensium

[2019-10-11 07:27] salmanazeez786 opened #24971 "Incorrect @var reference in docBlock of a class member variable"
There is an incorrect @var reference in the doc block of the class member  variable **$queueIterator**  in class
**\Magento\Framework\MessageQueue\Topology\Config**

### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Check the doc block of this class member variable \Magento\Framework\MessageQueue\Topology\Config::$queueIterator in file vendor/magento/framework-message-queue/T

[2019-10-11 07:32] shikhamis11 commented on #24964
Hello @abdulmueid
thank you for reporting this issue

However, there are missing return statements in the if statement which break method chaining.

yes you are right Please make Pull request with it's solution
you can check guide for contribution
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html

[2019-10-11 07:34] magento-engcom-team commented on #24964
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21707` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 07:36] maheshWebkul721 commented on #24964
@shikhamis11 Thanks for verifying this issue. @magento i am working on it.

[2019-10-11 07:36] webkul-ratnesh commented on #24932
@magento i am working on it

[2019-10-11 07:37] krishprakash commented on #24948
Hi @radua.
You need to set scope as global for this attributes then after it display while add product.
Let me know is there anything
Thanks.

[2019-10-11 07:41] magento-engcom-team commented on #24971
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21708` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 07:42] shikhamis11 commented on #24971
@salmanazeez786
Thank you for reporting this issue Please create Pull request for it's correction
you can check guide for contribution
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html

[2019-10-11 07:45] k-edasi opened #24972 "Special Price class not added in configurable product page"
### Preconditions (*)
1.  Magento 2.3.1 & 2.3-develop
2. Configurable product page with discount prices (this is reproducible on a clean Magento 2 project as well)

### Steps to reproduce (*)
1. Go to a configurable product page that has at least one discount price
2. Select an option with discount price
3. `class="normal-price"`  remains and is not changed to special-price

### Expected result (*

[2019-10-11 07:45] shikhamis11 commented on #24960
hello @29sunil
I am closing this issue as it is not reproducible .. Feel free to reopen the issue If you are able to reproduce it on 2.3-develop instance also share screenshots for that instance

[2019-10-11 07:45] #24960 closed, assigned to shikhamis11

[2019-10-11 08:30] pusachev commented on #16362
Hi @ihor-sviziev .

Ok not a problem. If this not clear use case maybe make sense change "Default Web URL" from  text -> select with data provider that provide only available pages that admin can selected for default homepage. If needed I can create PR for this.

Best Regards,
Pavel

[2019-10-11 08:42] Swahjak commented on #13477
FYI this commit made it even worse https://github.com/magento/magento2/commit/3e44f8c891d4398db8f94ecf421b39bdb953eed7#diff-56587e255646121ddf3a8b375569b579

[2019-10-11 08:53] Swahjak commented on #13477
@dhorytskyi not to bash, but you seem to have done some work that touches this issue.

[2019-10-11 08:59] RonakParmar opened #24978 "New Email Template JS Confirm Message Popup Design is not Proper"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2.13
3. I have found this issue in Adminhtml, Please follow bellow steps to reproduce the issue.

### Steps to reproduce (*)

1.Login Admin -> Marketing
2. Under Communication Section -> Open Email Templates and Newsletter Templates both in different browser tab.
3. Click on Add New Template button on both the views.
4. Click on Convert to Plain Tex

[2019-10-11 09:02] engcom-Charlie commented on #24946
Hello @mattijv
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

**Manual testing scenario:**

1. Configure apache
![image](https://user-images.githubusercontent.com/51680850/66638641-fd562a00-ec1d-11e9-90c8-dd529b8b205e.png)
2. Install Magento 2.3-develop into `www/html/magento2pr3/public_html/`
3. Create a sitemap for the store (I used /pub/sitemaps fold

[2019-10-11 09:09] magento-engcom-team commented on #24978
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21711` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 09:13] vadim-shulyak commented on #15545
Probably it would be useful for someone who is still fighting with the issue. I've applied it as a hotfix until the patch will be available.
Applied for Magento 2.2.3 CE

I've made the database copy of the production, and then manually performed execution of the problematic query without INSERT INTO "search_tmp..." (just took the SELECT part and try to execute it). In my case, it takes me a few mi

[2019-10-11 09:23] amon81 commented on #12486
I've created one customer's group rule with a discount of 30% for one group.
When the customer log into the magento frontend the price rule is not vibile with the discount price. When if i clear the cache of the browser and the MAGENTO now became visible the price rule applied to the customer's group.
It's clearly an issue.

[2019-10-11 09:25] anatolij-p commented on #15545
@vadim-shulyak
Looks like that might actually fixed the issue

[2019-10-11 09:38] salmanazeez786 commented on #24971
@shikhamis11

@UncleTioma  has created the pull request - https://github.com/magento/magento2/pull/24976

[2019-10-11 09:42] shreyasavion opened #24980 "Product MassDelete issue"
Hello,

 There is an issue encounter while using mass delete functionality at actalag product. I am using  Magento 2.2.2 setup.
Steps to replicate this issue:
    - Select multiple product and submit delete action.
    - Refresh the product list page open at another browser or another PC with same or different admin account.
  It will delete all product of your store.
I fell prey two times.

Pleas

[2019-10-11 09:44] gukandrew commented on #14575
Hi guys, same for us. Magento CE 2.2.
It's sometimes hard to reproduce, but for new user it mainly happens on second account info form save.

![image](https://user-images.githubusercontent.com/36536011/66642043-912af480-ec24-11e9-82a9-c8a34238b666.png)
![image](https://user-images.githubusercontent.com/36536011/66642117-ba4b8500-ec24-11e9-8d88-4a60f4111d3a.png)

[2019-10-11 09:47] mattijv commented on #24946
@engcom-Charlie Did you generate the sitemaps with a system cron of a user whose home directory is /var/www/html? Otherwise you did not follow the steps correctly and the report is probably still valid.

#### To reiterate:
Magento is installed one directory down from the magento user's home directory (/home/magento/public_html). When the system cron runs for the magento user, the `$baseDir` and `$

[2019-10-11 09:53] sudheers-kensium commented on #24967
@magento give me 2.3-develop instance

[2019-10-11 09:53] magento-engcom-team commented on #24967
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 09:54] magento-engcom-team commented on #24967
Hi @sudheers-kensium, here is your [Magento instance](https://i-24967-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24967-2-3-develop.instances.magento-community.engineering/admin](https://i-24967-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 09:55] amon81 opened #24982 "Catalog price rule for groups does not work"
### Preconditions

1. Magento 2.2.8
2. Nginx 1.12.2
3. MySql 5.6
4. Single Store

### Steps to reproduce
1. Create a new user group eg pippo
2. Create a new price rule with the name "Pippo discount" with the following parameters:
2.1. Status: Active
2.2. Siteweb: MainWebsite
2.3. Customer's Group: Pippo
2.4. From: 01/01/2017
2.5. To: 01/01/2056
2.6. Priority: X (I also tried 10)
2.7. Conditions: n

[2019-10-11 10:04] amon81 commented on #24982
Issue: Clear Description

[2019-10-11 10:08] krishprakash commented on #24980
@magento give me 2.3-develop instance

[2019-10-11 10:08] magento-engcom-team commented on #24980
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 10:09] magento-engcom-team commented on #24980
Hi @krishprakash, here is your [Magento instance](https://i-24980-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24980-2-3-develop.instances.magento-community.engineering/admin](https://i-24980-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 10:10] engcom-Charlie commented on #24946
@mattijv yes, you are right.
 `/var/www/html` is not a home directory of my user.

[2019-10-11 10:11] magento-engcom-team commented on #24342
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21712` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 10:15] sudheers-kensium commented on #24967
@livvly I am not able to reproduced. Can you provide more details.

[2019-10-11 10:16] krishprakash commented on #24980
Hi @shreyasavion. Thank you for your report.
I'm not able to reproduce the issue as provided steps by you.
Can you please confirm that issue is reproduce on latest magento instance as provided here
https://github.com/magento/magento2/issues/24980#issuecomment-541003912
Thanks

[2019-10-11 10:19] elvinristi commented on #24957
this is duplicate to https://github.com/magento/magento2/issues/24902 which has fix in PR https://github.com/magento/magento2/pull/24906

[2019-10-11 10:19] #24957 closed, assigned to arushibansal013

[2019-10-11 10:21] magento-engcom-team commented on #24932
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21713` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 10:21] elvinristi commented on #24902
fixed in https://github.com/magento/magento2/pull/24906

[2019-10-11 10:38] skybreaker85 opened #24984 "Email transport builder does not add multiple recipients, when calling the ->addTo(..) for the first time"
### Preconditions (*)

1. Magento CE 2.3.3
2. A custom module to send E-Mails

### Steps to reproduce (*)
1. You cannot reproduce the Bug in a Vanilla Magento (see below "Expected result" for a comment on this)
2. Still, its a bug inside the Magento Framework Component, so i consider it a bug in the core Magento
3. Install the vanilla Magento 2.3.3
4. Implement a Custom Module (You know how it wor

[2019-10-11 10:56] webkul-ratnesh commented on #24924
@magento i am working on it

[2019-10-11 10:59] webkul-ratnesh commented on #24984
@magento i am working on it

[2019-10-11 11:20] itmsenior opened #24985 "API returns created_at/updated_at in UTC regardless of timezone settings"
### Preconditions (*)

1. Magento 2.3.3
2. Set TimeZone to something that isn't UTC (I.e. GMT Europe/London - currently UTC+1)

### Steps to reproduce (*)
1. Place test order
2. Send GET request for order details to SalesOrderRepository
3. created_at/updated_at will be in UTC

### Expected result (*)

1. created_at/updated_at will use timezone set in Magento admin

### Actual result (*)

1. create

[2019-10-11 11:29] engcom-Charlie commented on #24946
@mattijv i reproduced this issue with same steps as before but i change this configuration of apache virtual host:
![image](https://user-images.githubusercontent.com/51680850/66647318-3ba91480-ec31-11e9-9090-0e15442c43eb.png)
**Result:**
![image](https://user-images.githubusercontent.com/51680850/66647405-7d39bf80-ec31-11e9-9dda-c2e997d7f130.png)

But is it valid?

[2019-10-11 11:42] mattijv commented on #24946
@engcom-Charlie As far as I know, the apache conf you are using doesn't affect how your cron process sets the document root when running the code on the cli. You don't even need a webserver to reproduce the problem (besides setting the sitemap settings in the admin view) as this is purely a CLI issue.

The problem happens when:
**the folder you run the cron:run command in is above the Magento inst

[2019-10-11 11:53] #24967 closed, assigned to sudheers-kensium

[2019-10-11 12:12] Nagamaiah007 commented on #24941
@magento give me 2.3-develop instance

[2019-10-11 12:12] magento-engcom-team commented on #24941
Hi @Nagamaiah007, here is your [Magento instance](https://i-24941-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24941-2-3-develop.instances.magento-community.engineering/admin](https://i-24941-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 12:13] TomashKhamlai opened #26108 "Date, time and date&time customizable options should havу the same format in output and input"
### Preconditions (*)

1. Simple product with customizable options

### Steps to reproduce (*)

1. Add simple product to cart
[code]

### Expected result (*)

1. The output is the same as the input
[code]

### Actual result (*)

1. The format should be the same
[code]

[2019-10-11 12:21] maheshWebkul721 commented on #24961
This issue is not only category page, its appearing on each grid where grid is initiated by Block and setUseAjax is true in Block: https://prnt.sc/phx0lk https://prnt.sc/phx0r8

[2019-10-11 12:22] soumyamol-mathew opened #24986 "Issue in order placement"
**FIRST CONDITION**

### Preconditions (*)

1. Magento 2.3.3 CE ( Recently upgraded from Magento 2.3.1 CE to Magento 2.3.3 CE )
2. Paypal Express checkout enabled.
3. Email settings configured.

### Steps to reproduce (*)

1. Add a fews products to the cart from the frontend.
2. Go to checkout and fill up address details.
3. Place order with PayPal express checkout

### Expected result (*)

1. The

[2019-10-11 12:27] simon-saurabh commented on #24484
@krisdante We have debugged it further and found out that only for Sitemap, we have `image_type` param inside MiscParams array that are set there as blank on file vendor/magento/module-catalog/Model/View/Asset/Image.php on the constructor.
But if we are unsetting the blank `image_type` param from the miscParams then the image path is coming correctly. I mean it is generating the correct checksum.

[2019-10-11 13:02] Nagamaiah007 commented on #24941
@erlisdhima can you please provide the csv file which you are using for the import.

[2019-10-11 13:23] engcom-Charlie commented on #24546
Hello @Januszpl

We are not able to reproduce this issue on the lates 2.3-develop.

**Manual testing scenario:**
1. Add product to cart
2. Open mini cart (no errors in console)
3. Edit minicart/content.html in Magento Checkout module  and add here
`<span class="text" translate="'My Cart'"/>`
colon sign as part of value for translate attribute
`<span class="text" translate="'My Cart:'"/>`
![image](

[2019-10-11 13:23] #24546 closed, assigned to engcom-Charlie

[2019-10-11 13:33] mattijv commented on #24946
@engcom-Charlie I did not notice before, but it seems you have the same issue in the above picture, i.e. the urls contain the /public_html/ there. My bad for missing it.

[2019-10-11 13:35] engcom-Charlie commented on #24946
@mattijv could you show me your base URL?

[2019-10-11 13:38] shreyasavion commented on #24980
Hii @krishprakash. Thank you for looking into it.

Admin access: https://i-24980-2-3-develop.instances.magento-community.engineering/admin
Login: admin Password: 123123q
I have tried on above instance also, I had selected 999out of 1100* and call massDelete and Now result is  all product are deleted

And I have tried it on my setup also.
  Summary of the issue ->
    I was trying to delete about 2

[2019-10-11 13:45] radua commented on #24948
hi @krishprakash ,
Thanks for your comment.
I did change the scope to global, still these fields were not visible.

[2019-10-11 13:49] vivekkumar-webkul commented on #24128
@magento i am working on it.

[2019-10-11 14:04] magento-engcom-team commented on #24941
@Nagamaiah007 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-11 14:07] Nagamaiah007 opened #24990 "Admin Panel logo link is not directing to admin dashboard page"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to magento admin  -> System -> Web Setup Wizard page.
2. Click on magento admin logo

### Expected result (*)

1. On click magento admin panel logo, It should redirect to admin dashboard page

### Actual result (*)

1.
![admin_panel_logo](https://user-images.githubusercontent.com/54108580/66655384-96566680-ec59-11e9-8ea9-5665

[2019-10-11 14:08] sudheer-gajjala commented on #24990
@magento give me 2.3-develop instance

[2019-10-11 14:08] magento-engcom-team commented on #24990
Hi @sudheer-gajjala. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 14:08] magento-engcom-team commented on #24990
Hi @sudheer-gajjala, here is your [Magento instance](https://i-24990-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24990-2-3-develop.instances.magento-community.engineering/admin](https://i-24990-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 14:10] OvalMedia commented on #11185
In my case open_basedir was the problem.

[2019-10-11 14:10] irshad-iflair commented on #24869
To decrease of stock quantity on invoice-generate,  I created an event observer below. but the issue is stock quantity decrease twice while generating an invoice.

1> Ahmad/Extension/etc/adminhtml/event.xml
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
       <event name="sales_order_i

[2019-10-11 14:11] irshad-iflair commented on #24869
To decrease of stock quantity on invoice-generate,  I created an event observer below. but the issue is stock quantity decrease twice while generating an invoice.

1> Ahmad/Extension/etc/adminhtml/event.xml
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
       <event name="sales_order_i

[2019-10-11 14:13] irshad-iflair commented on #24869
To decrease of stock quantity on invoice-generate,  I created an event observer below. but the issue is stock quantity decrease twice while generating an invoice.

1> Ahmad/Extension/etc/adminhtml/event.xml
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
       <event name="sales_order_

[2019-10-11 14:14] magento-engcom-team commented on #24990
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21725` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 14:41] irshad-iflair opened #24991 "To decrease stock quantity and salable quantity on invoice"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-10-11 14:54] engcom-Charlie commented on #24586
Hello @ed007m

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this issue

[2019-10-11 14:54] #24586 closed, assigned to engcom-Charlie

[2019-10-11 15:00] yeevy opened #24992 "'Parse error: syntax error, unexpected end of file' due to open PHP tag"
### Preconditions (*)
This error is happening after updating to 2.2.10.
It seems this commit (https://github.com/magento/magento2/commit/7f346f38a54d0d5f2ff7a3c1a6cbbdf0aa3c338f) introduced loads of open PHP tags. Not sure why this is, it's not been done on the 2.3.x branch ...
Admin/backend loads, just frontend which is broken

### Steps to reproduce (*)
Not sure; updated from 2.2.9 to 2.2.10 and

[2019-10-11 15:07] yeevy commented on #24992
@magento give me 2.2.10 instance

[2019-10-11 15:07] magento-engcom-team commented on #24992
Hi @yeevy. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-10-11 15:11] krishprakash commented on #24991
Hi @irshad-iflair.
Please follow the issue reporting guidelines.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Feel free to reopen once updated all the details
Thanks

[2019-10-11 15:11] #24991 closed, assigned to krishprakash

[2019-10-11 15:14] vpietri-tbd commented on #24984
Have an issue in place order if "Send Order Email Copy To" is defined in configuration
`"Fatal Error: 'Uncaught TypeError: Argument 1 passed to Magento\\Email\\Model\\Template::setVars() must be of the type array, null given`

[2019-10-11 15:25] twoonesixdigital opened #24993 "Missing Magento\Shipping\Model\Rate\Result\ProxyDeferredFactory causes setup:di:compile to fail"
### Preconditions (*)

1. Magento Open Source 2.3.3
2. Apache 2.4.29
3. PHP 7.2.19
4. MySQL 5.7.27
5. Single Store
6. Composer installation method
7. Instance Mode: Developer

### Steps to reproduce (*)

1. Perform a composer magento version update from Magento 2.3.2 to Magento 2.3.3 using a composer.json that requires magento/product-community-edition 2.3.3
2. Execute the command magento setup:up

[2019-10-11 15:27] magento-engcom-team commented on #24993
Hi @twoonesixdigital. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 15:28] magento-engcom-team commented on #24993
Hi @twoonesixdigital, here is your [Magento instance](https://i-24993-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24993-2-3-develop.instances.magento-community.engineering/admin](https://i-24993-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 15:30] twoonesixdigital commented on #24993
As the issue relates to Magento CLI behavior, the vanilla Magento instance testing does not seem relevant nor practical.

[2019-10-11 15:31] sdzhepa commented on #24342
Hello @matiaso

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described

[2019-10-11 16:00] proudnerduser88 opened #24995 "Decimal tier price discount 0.5 not saved in the Magento Admin"
Decimal tier price discount 0.5 not saved in the Magento Admin. When we use the API POST {base_url}/rest/all/V1/products/tier-prices, the 0.5 is saved correctly.

### Preconditions (*)
1. Magento 2.2.8
2. PHP 7.1

### Steps to reproduce (*)
Create product with tier price discount 0.5%

### Expected result (*)
Product must have the 0.5% tier price discount saved.

### Actual result (*)
Product has

[2019-10-11 16:57] sdzhepa commented on #24980
Looks like similar or related to https://github.com/magento/magento2/issues/15935

[2019-10-11 17:08] magento-engcom-team commented on #24948
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21731` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-11 18:38] livvly commented on #24967
@magento give me 2.3-develop instance

[2019-10-11 18:38] magento-engcom-team commented on #24967
Hi @livvly. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 18:38] magento-engcom-team commented on #24967
Hi @livvly, here is your [Magento instance](https://i-24967-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24967-2-3-develop.instances.magento-community.engineering/admin](https://i-24967-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 18:41] livvly commented on #24967
@sudheers-kensium Well, I got everything linked up and it just seems like the only issue is at the last step of checkout. It first redirect to /checkout/onepage/success, and very soon redirect back to /checkout/cart.

[2019-10-11 18:46] sdzhepa commented on #24426
@magento give me 2.3.3 instance

[2019-10-11 18:46] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-11 19:04] shikhamis11 commented on #24995
@magento give me 2.3-develop instance

[2019-10-11 19:05] magento-engcom-team commented on #24995
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 19:05] magento-engcom-team commented on #24995
Hi @shikhamis11, here is your [Magento instance](https://i-24995-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24995-2-3-develop.instances.magento-community.engineering/admin](https://i-24995-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 19:26] shikhamis11 commented on #24995
Hello @proudnerduser88
Thanks for reporting this issue but I am not able to reproduce this issue on magento 2.3-develop instance. I tried adding tier price for discount price type with decimal values and I am able to successfully create it with magento 2 backend as well as with APIs.
Please check the issue at latest magento 2 versions and also share screenshots if you are able to find the issue

[2019-10-11 19:26] #24995 closed, assigned to shikhamis11

[2019-10-11 19:28] sdzhepa commented on #24426
@magento give me 2.3.3 instance

[2019-10-11 19:28] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-11 19:30] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 19:58] fascinosum commented on #24993
@twoonesixdigital, have you tried to reproduce this issue using recommended flow https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html. Please add an instance mode in the description

[2019-10-11 20:05] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-11 20:06] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 20:06] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 20:32] navarr commented on #24930
Attached is a patch that should resolve this issue.

[vertex-compilation-issue.patch.txt](https://github.com/magento/magento2/files/3719521/vertex-compilation-issue.patch.txt)

[2019-10-11 20:32] sdzhepa commented on #24639
Could be the same or related
https://github.com/magento/magento2/issues/24037

[2019-10-11 20:32] navarr commented on #24970
Duplicate of #24930.  Please see duplicated issue for patch.

[2019-10-11 20:50] vkublytskyi commented on #24930
@thomvanderboon Thank you for reporting an issue.

May you describe your environment (OS, PHP version, do you use some Docker or Vagrant, etc.)?Seems issue affects only several environments and we are trying to understand what exactly environments are affected.

[2019-10-11 21:15] mark-mojo commented on #24930
Just ran into this issue with a client's site. It's a Kubernetes environment, Ubuntu, PHP 7.2.22.

[2019-10-11 21:18] fascinosum commented on #24993
`Magento\Shipping\Model\Rate\Result\ProxyDeferredFactory` is auto-generated class

[2019-10-11 21:21] igormatkovic opened #24997 "Reviews not displaying on Product Page"
### Preconditions (*)
1. Magento 2.3.3 (Upgraded from 2.3.2)
2. Ubuntu 18.04 (Nginx/Php7.3/Redis/OpCache)

### Steps to reproduce (*)
1. Open a single product page that has published reviews
2 The reviews are not displayed in the small summary section

### Expected result (*)
1. Review stars should be visible

### Actual result (*)
1. Reviews are not visible

After a bit of investigation I located

[2019-10-11 21:22] igormatkovic commented on #24997
@magento give me 2.3-develop instance

[2019-10-11 21:22] magento-engcom-team commented on #24997
Hi @igormatkovic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-11 21:22] magento-engcom-team commented on #24997
Hi @igormatkovic, here is your [Magento instance](https://i-24997-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24997-2-3-develop.instances.magento-community.engineering/admin](https://i-24997-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-11 21:40] igormatkovic commented on #24997
Cant replicate with vanilla. So it's probably an extension messing with me. Closing ticket

[2019-10-11 21:40] #24997 closed, assigned to nobody

[2019-10-11 22:08] sdzhepa commented on #23162
Hello @jarnooravainen

After internal investigation and discussion with Product Managers and Architects related jira ticket was closed as `Not a But` an expected system behavior
quote 1:

quote 2:

[2019-10-11 22:08] #23162 closed, assigned to nobody

[2019-10-12 01:39] magento-engcom-team commented on #24952
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21762` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-12 03:20] ayazwebkul commented on #24978
@magento give me 2.3-develop instance

[2019-10-12 03:20] magento-engcom-team commented on #24978
Hi @ayazwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 03:20] magento-engcom-team commented on #24978
Hi @ayazwebkul, here is your [Magento instance](https://i-24978-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24978-2-3-develop.instances.magento-community.engineering/admin](https://i-24978-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 04:52] thomvanderboon commented on #24930
@vkublytskyi

Multishop Magento environment with two languages installed.

VMware Virtual Server (plain, no docker, vagrant etc.)
Ubuntu 18.04 LTS (daily patched to latest level)
php7.2/bionic,bionic,now 7.2.23-1+ubuntu18.04.1+deb.sury.org
Imagemagic instead of GD2
No Varnish or other external cache
Luma theme

For "compiling" magento I run following commands:

rm -rf var/cache/*
rm -rf var/page_c

[2019-10-12 05:24] vivekkumar-webkul commented on #24128
@magento I am working on it

[2019-10-12 05:25] vivekkumar-webkul commented on #24128
@magento I am not able to assign this issue.

[2019-10-12 05:27] vivekkumar-webkul commented on #24992
@magento I am working on it

[2019-10-12 05:39] vinay-chhabra commented on #24948
@magento I am working on it

[2019-10-12 05:57] vivekkumar-webkul commented on #24128
@magento give me 2.3-develop instance

[2019-10-12 05:57] magento-engcom-team commented on #24128
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 05:57] magento-engcom-team commented on #24128
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 06:11] deepaktiwariwebkul commented on #24122
@magento I am working on it.

[2019-10-12 06:30] ghost opened #24999 "Action submenu css issue in customer group listing gird"
### Preconditions (*)

Magento 2.3.x is required.

### Steps to reproduce (*)

1. Add new columns in the customer group listing grid.
2. Open the action dropdown.

### Expected result (*)

1. The dropdown must be there just after the listing arrow.
![image](https://user-images.githubusercontent.com/56463897/66696204-8a18ea80-ece7-11e9-8357-53cf272893e0.png)

### Actual result (*)

1. The dropdown

[2019-10-12 06:32] vishesh-webkul commented on #24999
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-10-12 06:32] magento-engcom-team commented on #24999
Hi @vishesh-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 06:33] magento-engcom-team commented on #24999
Hi @vishesh-webkul, here is your [Magento instance](https://i-24999-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24999-2-3-develop.instances.magento-community.engineering/admin](https://i-24999-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 06:36] anujwebkul commented on #24822
@magento give me 2.3-develop instance

[2019-10-12 06:36] khushboowebkul commented on #23841
@magento I am working on it.

[2019-10-12 06:36] magento-engcom-team commented on #24822
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 06:37] magento-engcom-team commented on #24822
Hi @anujwebkul, here is your [Magento instance](https://i-24822-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24822-2-3-develop.instances.magento-community.engineering/admin](https://i-24822-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 06:38] webkul-ratnesh commented on #24932
This issue is already been fixed in 2.3-develop branch. So I am closing this issue

[2019-10-12 06:38] #24932 closed, assigned to webkul-ratnesh

[2019-10-12 06:42] magento-engcom-team commented on #24999
@ayazwebkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-12 06:54] maheshWebkul721 commented on #24999
Duplicate issue: #23024

[2019-10-12 07:03] webkul-ratnesh commented on #24924
unable to reproduce this issue in 2.3-develop branch. So I am closing this issue.

[2019-10-12 07:03] #24924 closed, assigned to webkul-ratnesh

[2019-10-12 07:26] webkul-ratnesh commented on #24984
I have not found this issue in 2.3-develop branch.

[2019-10-12 07:26] krishprakash commented on #24999
Hi @vishesh-webkul. Thank you for your report.
Closing this issue as this is duplicate to #23024 and issue is already open.

[2019-10-12 07:26] #24999 closed, assigned to nobody

[2019-10-12 07:39] Zyles commented on #9255
Same problem in 2.3.3.

I'm paginating the API with Guzzle and pages do not contain unique products but sometimes a duplicate found in a page before it.

[code]

Please re-open.

[2019-10-12 07:42] webkul-ratnesh commented on #24984
Unable to reproduce the issue mentioned in description.

[2019-10-12 07:42] #24984 closed, assigned to webkul-ratnesh

[2019-10-12 07:49] webkul-ratnesh commented on #24985
@magento I am working on it.

[2019-10-12 07:55] akashwebkul commented on #24978
give me 2.3-develop instance

[2019-10-12 07:57] akashwebkul commented on #24978
@magento give me 2.3-develop instance

[2019-10-12 07:57] magento-engcom-team commented on #24978
Hi @akashwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 07:58] magento-engcom-team commented on #24978
Hi @akashwebkul, here is your [Magento instance](https://i-24978-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24978-2-3-develop.instances.magento-community.engineering/admin](https://i-24978-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 07:59] Zyles opened #25001 "Pagination in API returning duplicate products"
### Preconditions (*)
1. Magento 2.3.3
2. Nginx

### Steps to reproduce (*)
1. Query the API and paginate /products endpoint
2. Apply filters searchCriteria[pageSize] and searchCriteria[currentPage]
3. Check for products on pages that already existed in a page before it

### Expected result (*)

Should only return products once per page.

### Actual result (*)

Returning same products on multiple

[2019-10-12 08:02] Shubham-Webkul commented on #24234
@magento give me 2.3-develop instance

[2019-10-12 08:02] magento-engcom-team commented on #24234
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 08:02] magento-engcom-team commented on #24234
Hi @Shubham-Webkul, here is your [Magento instance](https://i-24234-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24234-2-3-develop.instances.magento-community.engineering/admin](https://i-24234-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 08:14] webkul-deepak commented on #24948
@magento I am working on it

[2019-10-12 08:44] Shubham-Webkul commented on #24234
Reproduced on 2.3.x

[2019-10-12 08:47] anujwebkul opened #25003 "Wrong currency symbol in creditmemo grid for Adjustment Refund & Adjustment Fee"
### Preconditions (*)

1. Magento 2.4-develop with sample data installed
2. Create the second website with store and store view
3. Set another currency for the second website(in my case it's EUR)
4. Go the Stores-->Currency Rates and set value for EUR
![Screenshot from 2020-08-03 19-32-30](https://user-images.githubusercontent.com/51679138/89205253-1c181980-d5c0-11ea-886e-5e3876dd67f3.png)

### St

[2019-10-12 08:47] anujwebkul commented on #25003
@magento give me 2.3-develop instance

[2019-10-12 08:47] magento-engcom-team commented on #25003
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 08:48] magento-engcom-team commented on #25003
Hi @anujwebkul, here is your [Magento instance](https://i-25003-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25003-2-3-develop.instances.magento-community.engineering/admin](https://i-25003-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 08:50] magento-engcom-team commented on #25003
@anujwebkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-10-12 08:50] magento-engcom-team commented on #25003
@anujwebkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-12 08:51] webkul-akashpanwar commented on #13207
@magento i am working on it.

[2019-10-12 08:53] Shubham-Webkul commented on #25003
Reproduced on 2.3.x

[2019-10-12 09:09] vishesh-webkul commented on #18346
@magento i am working on it

[2019-10-12 09:12] maheshWebkul721 commented on #24952
@med-amin , could you please specify the steps clearly, like what is the process of Date that you have given in step 2. You just mentioned create an attribute and dates in this table : mo_eav_attribute_option_value.

[2019-10-12 09:19] magento-engcom-team commented on #25003
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21763` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-12 09:20] MrGangola-Webkul commented on #24968
@magento give me 2.3-develop instance

[2019-10-12 09:20] magento-engcom-team commented on #24968
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 09:21] ayazwebkul commented on #24978
issue fixed in magento 2.3-develop.

[2019-10-12 09:21] magento-engcom-team commented on #24968
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-24968-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24968-2-3-develop.instances.magento-community.engineering/admin](https://i-24968-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 09:25] MrGangola-Webkul commented on #24968
Unable to reproduce the issue on 2.3-develop branch

[2019-10-12 09:34] vinay-chhabra commented on #23487
@magento I am working on it

[2019-10-12 09:38] akashwebkul commented on #24903
@magento please provide the magento instance

[2019-10-12 09:39] bartoszkubicki commented on #24820
Ok now I see I can use CartItemRepository, which while saving CartItem adds it to the cart.

[2019-10-12 09:39] #24820 closed, assigned to nobody

[2019-10-12 09:39] akashwebkul commented on #24903
@magento please provide the magento instance to test

[2019-10-12 09:40] akashwebkul commented on #24903
@magento give me 2.3-develop instance

[2019-10-12 09:40] magento-engcom-team commented on #24903
Hi @akashwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 09:41] magento-engcom-team commented on #24903
Hi @akashwebkul, here is your [Magento instance](https://i-24903-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24903-2-3-develop.instances.magento-community.engineering/admin](https://i-24903-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 09:45] ayazwebkul commented on #24840
@magento give me 2.3-develop instance

[2019-10-12 09:45] magento-engcom-team commented on #24840
Hi @ayazwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 09:45] magento-engcom-team commented on #24840
Hi @ayazwebkul, here is your [Magento instance](https://i-24840-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24840-2-3-develop.instances.magento-community.engineering/admin](https://i-24840-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 10:09] krishprakash commented on #24978
Hi @ayazwebkul,
Already mentioned the issue is not reproduced in 2.3 develop and produced in 2.3.3
So review the issue description.
Thanks

[2019-10-12 10:10] magento-engcom-team commented on #24978
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21764` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-12 10:14] ayazwebkul commented on #24978
@krishprakash I mentioned that the issue is already fixed in 2.3-develop so doesn't require any action, the fix will be available in the next release. please check: https://github.com/magento/magento2/issues/24978#issuecomment-541305785

[2019-10-12 10:19] krishprakash commented on #24978
@ayazwebkul Once 2.3.3 merge into 2.3 develop then after will review it and close it.
Thanks

[2019-10-12 10:21] Tripuresh-Kumar-Pandey commented on #24490
@magento I am working on it.

[2019-10-12 10:23] akashwebkul commented on #24903
@magento Not able to reproduce from the mentioned steps.

[2019-10-12 10:33] vishesh-webkul commented on #18346
Fixed!
![image](https://user-images.githubusercontent.com/56463897/66700013-c3625200-ed09-11e9-98f2-e0c1ef2af8e7.png)

[2019-10-12 10:34] deepaktiwariwebkul opened #25008 "Issue in compare page"
### Preconditions (*)

1. Magento 2.3.2
2. CE

### Steps to reproduce (*)

1. Add products on the compare page.
2. View the comparison of the product attribute, in which some product attribute value is available and some product attribute values are not available.

### Expected result (*)

1. The product attribute that has no value must show as N/A like in Magento's previous version.
https://prnt.

[2019-10-12 10:35] deepaktiwariwebkul commented on #25008
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-10-12 10:35] magento-engcom-team commented on #25008
Hi @deepaktiwariwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 10:36] magento-engcom-team commented on #25008
Hi @deepaktiwariwebkul, here is your [Magento instance](https://i-25008-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25008-2-3-develop.instances.magento-community.engineering/admin](https://i-25008-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 10:36] sagarwebkul commented on #24418
@magento give me 2.3-develop instance

[2019-10-12 10:36] magento-engcom-team commented on #24418
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 10:37] magento-engcom-team commented on #24418
Hi @sagarwebkul, here is your [Magento instance](https://i-24418-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24418-2-3-develop.instances.magento-community.engineering/admin](https://i-24418-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 10:46] kschipulring commented on #1321
Wow!  This is extremely unprofessional on the part of the Magento development team.  LIKE 98% of developers do local development on their computers / laptops with localhost, just to see basic changes.

This is outrageous.  Virtually every other known PHP application works right out of the box on a Windows box, including old Magento.

Well I guess that Magento (really, Adobe) wants to keep losing m

[2019-10-12 11:08] MrGangola-Webkul commented on #23853
@magento give me 2.3-develop instance

[2019-10-12 11:08] magento-engcom-team commented on #23853
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 11:09] magento-engcom-team commented on #23853
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-23853-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23853-2-3-develop.instances.magento-community.engineering/admin](https://i-23853-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 11:27] akashwebkul commented on #24903
@magento give me 2.3.3 instance

[2019-10-12 11:27] magento-engcom-team commented on #24903
Hi @akashwebkul. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-12 11:29] magento-engcom-team commented on #24903
Hi @akashwebkul, here is your [Magento instance](https://i-24903-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24903-2-3-3.instances.magento-community.engineering/admin](https://i-24903-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 11:29] magento-engcom-team commented on #25008
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21765` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-12 11:31] MrGangola-Webkul commented on #24841
@magento give me 2.3-develop instance

[2019-10-12 11:31] magento-engcom-team commented on #24841
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 11:31] magento-engcom-team commented on #24841
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-24841-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24841-2-3-develop.instances.magento-community.engineering/admin](https://i-24841-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 11:38] MrGangola-Webkul commented on #24841
Unable to regenerate the issue

[2019-10-12 11:38] #24841 closed, assigned to nobody

[2019-10-12 11:46] anujwebkul commented on #24652
@magento give me 2.3-develop instance

[2019-10-12 11:46] magento-engcom-team commented on #24652
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 11:46] sagarwebkul commented on #24418
@kirtinariya1 Magento has deprecated Stock Item as part of ExtensionAttributes

More details here -> https://github.com/magento/magento2/blob/2.3/app/code/Magento/CatalogInventory/etc/extension_attributes.xml#L11

[2019-10-12 11:47] magento-engcom-team commented on #24652
Hi @anujwebkul, here is your [Magento instance](https://i-24652-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24652-2-3-develop.instances.magento-community.engineering/admin](https://i-24652-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 11:47] hostep commented on #24968
@MrGangola-Webkul: please don't test on 2.3-develop when people report issues for Magento 2.3.3, parts of the code from Magento 2.3.3 aren't included yet in 2.3-develop at the moment of writing, we should [wait until that happens](https://github.com/magento/magento2/issues/24951) before we can use 2.3-develop again to test on.

The issue clearly exists in 2.3.3, there is a `$` missing over [here](

[2019-10-12 11:50] hostep commented on #24968
Sorry my bad, didn't dig into the git history enough.
The issue does already seem to be fixed by https://github.com/magento/magento2/pull/24086

Sorry about this.

[2019-10-12 11:50] #24968 closed, assigned to nobody

[2019-10-12 11:51] sagarwebkul commented on #24352
@magento give me 2.3-develop instance

[2019-10-12 11:51] magento-engcom-team commented on #24352
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-12 11:51] magento-engcom-team commented on #24352
Hi @sagarwebkul, here is your [Magento instance](https://i-24352-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24352-2-3-develop.instances.magento-community.engineering/admin](https://i-24352-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-12 11:59] hostep commented on #24903
@akashwebkul: just FYI, a pull request is already in the works: https://github.com/magento/magento2/pull/24907

[2019-10-12 12:01] webkul-akashpanwar commented on #13207
Remove the following code from /lib/Zend/Locale/Data/ar_SA.xml

<numbers>
    <currencyFormats numberSystem="latn">
        <currencyFormatLength>
            <currencyFormat type="standard">
                <pattern>¤#0.00</pattern>
            </currencyFormat>
        </currencyFormatLength>
    </currencyFormats>

</numbers>
it will show ” ر.س.” as default currency symbol for Saudi riyal.

[2019-10-12 14:38] YiffyToys opened #25020 "2.3.3 update - Interface InvoiceFlexFieldProcessorInterface not found OrderCurrencyGetterProcessor.php on line 24"
### Preconditions (*)
1. Magento 2.3.2 CE

### Steps to reproduce (*)

1. composer require magento/product-community-edition=2.3.3 --no-update
2. magento maintenance:enable && composer update && magento cache:flush && magento setup:upgrade && magento setup:di:compile ; magento maintenance:disable ; magento cache:enable

### Expected result (*)

no error message

### Actual result (*)

[code]

[2019-10-12 14:39] YiffyToys commented on #25020
Obviously this can't be reproduced with a 2.3-develop verison. You need a 2.3.2 CE to do the upgrade to 2.3.3 CE.

[2019-10-12 14:49] davidverholen commented on #24517
I think we ran into the same problem. It seems that if the same url path exists in another store view and another category tree, the url rewrite is not generated.

The error says, that the request path already exists in the same store, but it's a different store

[2019-10-12 14:54] hostep commented on #25020
I'm closing this as a duplicate of https://github.com/magento/magento2/issues/24930

There is already [a patch available](https://github.com/magento/magento2/issues/24930#issuecomment-541213943), the problem is just some incorrect casing used in the namespace.

[2019-10-12 14:54] #25020 closed, assigned to nobody

[2019-10-12 15:51] MarcusWolschon commented on #25020
Thanks. I looked at the 2.3.3 issues but missed that one since the name was too generic and didn't contain   "InvoiceFlexFieldProcessorInterface" and "OrderCurrencyGetterProcessor" or "vertex" or "tax"

[2019-10-12 15:52] shahbaztariq commented on #24993
I see a similar issue but with the following:

[code]

[2019-10-12 15:53] MarcusWolschon commented on #24930
Cool.
So we wait until a release of vertex/tax is made containing the patch and then run composer again?
Or can we apply the patch and composer will not cause any trouble in later updates since the file checksum has changed or since this patch can't be applied twice?

[2019-10-12 15:59] hostep commented on #24993
@shahbaztariq: that's something completely different, you can follow https://github.com/magento/magento2/issues/24930 for that one (there is a patch in there which should fix the problem).

[2019-10-12 16:05] shahbaztariq commented on #24993
@hostep thanks for that... I was searching for that but must not have tried hard enough.

Much appreciated!

[2019-10-12 18:43] Kings347 commented on #22094
Try to change Catalog Search Engine to "MySQL".

Stores/Configuration/Catalog/Catalog Search/Search Engine

I change "ElasticSearch" to "MySQL" , it works to me.

[2019-10-12 22:39] siliconalchemy commented on #20481
As of Magento 2.3.3, this problem is NOT fixed.  Assigning a reduced list of category_ids does not correctly remove remaining category_ids that should no longer be there.

[2019-10-12 23:39] lamasfoker commented on #22840
So @LucasCalazans have you test it?

[2019-10-13 00:43] crazymeeks opened #25021 "Interface 'InvoiceFlexFieldProcessorInterface' in Vertex\Tax\Model\Flexfield\Processor\OrderCurrencyGetterProcessor"
### Preconditions (*)

1. Magento CE 2.3.3 without sample data is installed.

### Steps to reproduce (*)
1. Remove all files in **generated/** directory
2. Issue `composer dump-autoload --optimize`
3. Issue `.bin/magento setup:di:compile`

### Expected result (*)
1. ![Screenshot from 2019-10-13 08-35-51](https://user-images.githubusercontent.com/21138164/66709370-17fedf00-ed95-11e9-9255-b8cbd6291d

[2019-10-13 01:30] magento-engcom-team commented on #975
Hi @fooman. Thank you for your report.
The issue has been fixed in magento/graphql-ce#997 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [493d7441b1644647dcdce2ab94e4c13d8bed2fb0](https://github.com/magento/graphql-ce/commit/493d7441b1644647dcdce2ab94e4c13d8bed2fb0)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-13 01:30] magento-engcom-team commented on #989
Hi @Flyingmana. Thank you for your report.
The issue has been fixed in magento/graphql-ce#990 by @TomashKhamlai in 2.3-develop branch
Related commit(s):
 - [bccd2877b6d42ff9860437426e1cf97509695d35](https://github.com/magento/graphql-ce/commit/bccd2877b6d42ff9860437426e1cf97509695d35)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-13 01:30] magento-engcom-team commented on #972
Hi @mrugeshrocks. Thank you for your report.
The issue has been fixed in magento/graphql-ce#973 by @VitaliyBoyko in 2.3-develop branch
Related commit(s):
 - [3489da5cf2cb98ad9ff758b3a3c8f6783339436b](https://github.com/magento/graphql-ce/commit/3489da5cf2cb98ad9ff758b3a3c8f6783339436b)
 - [63bd2327cdaba3f75b9d6e955e181f2c4a18a13c](https://github.com/magento/graphql-ce/commit/63bd2327cdaba3f75b9d6e

[2019-10-13 08:27] hostep commented on #25021
Hi @crazymeeks

I'm going to close this as a duplicate to https://github.com/magento/magento2/issues/24930
You are already the third or fouth person opening an issue around this, please try using the search functionality of github next time before creating a new issue so we don't have that many duplicates around, thanks! 🙂

There is already a non-official patch to fix this problem in https://githu

[2019-10-13 08:27] #25021 closed, assigned to nobody

[2019-10-13 08:31] hostep commented on #24930
I'm going to re-open this ticket for now, just because a lot of people are creating duplicates of this issue and having one open ticket might prevent them from doing so :)
We can close it once an official solution is in place and when we have a timeline for when it will become available.

@navarr: is Magento still sticking to their "let's only allow one specific version of a core-bundled-extension

[2019-10-13 08:44] hostep commented on #24757
Let's close this as a duplicate to https://github.com/magento/magento2/issues/13126 which was fixed very recently in https://github.com/magento/magento2/pull/24703

If I'm mistaken, please let me know!

[2019-10-13 08:44] #24757 closed, assigned to MaxSouza

[2019-10-13 10:37] mrtuvn opened #25025 "Magento 2.3.3 issue with login admin related offset 2 Encryptor"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.1.24

### Steps to reproduce (*)

1.
2.

### Expected result (*)

Login admin without problem

### Actual result (*)

Got notice error show undefine offset 2 in file Magento\Framework\Encryption\Encryptor.php Line 590

[2019-10-13 11:12] manishmittalm commented on #25025
Hello @magento

Team please provide me magento 2.3.3

[2019-10-13 11:33] manishmittalm commented on #25025
@magento give me 2.3-develop instance

[2019-10-13 11:33] magento-engcom-team commented on #25025
Hi @manishmittalm. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-13 11:33] magento-engcom-team commented on #25025
Hi @manishmittalm, here is your [Magento instance](https://i-25025-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25025-2-3-develop.instances.magento-community.engineering/admin](https://i-25025-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-13 11:37] manishmittalm commented on #25025
Thanks @magento for sharing. Can you confirm PHP version for this shared instance.

[2019-10-13 11:38] manishmittalm commented on #25025
@mrtuvn
Magento 2.3.3 supports
PHP ~7.1.3
~7.2.0
~7.3.0

Please check with these versions. It not support PHP 7.1.24

[2019-10-13 12:08] mrtuvn commented on #25025
ok i fixed my problem. Change php to php7.2 and problem gone
Please close this one

[2019-10-13 12:23] krishprakash commented on #25025
Not reproduced.
Closing this issue

[2019-10-13 12:23] #25025 closed, assigned to manishmittalm, krishprakash

[2019-10-13 13:34] magento-engcom-team commented on #24652
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21766` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-13 14:32] hostep commented on #25025
Just for completeness sake, this is a duplicate of https://github.com/magento/magento2/issues/23511

I tried explained the case where this problem can happen in https://github.com/magento/magento2/issues/23511#issuecomment-520534869

If you are able to get the php sodium extension running with PHP 7.1, it might still work. But upgrading to 7.2 is better since it is supported for a longer period.

[2019-10-13 16:34] gwharton commented on #12250
I realise this is old and long go closed, but anyone know if there is there a way of preventing the inheritance of entire images from the parent view.xml files. It would appear if I remove unrequired image types from my view.xml, they just get added from the parent.

[2019-10-13 16:45] mageonius opened #25026 "Error during image import if "no_selection" is set"
### Preconditions (*)

1. Magento 2.3.2 & 2.3-develop with multiple stores (2 example stores)

### Steps to reproduce (*)

1. Create new simple product
2. Upload image to product at Default scope, save product
3. Go to store 2 view scope and assign "Swatch" role to already uploaded image, save product
4. Go to global store view and ensude that "Swatch" label is not assigned on product, re-save pro

[2019-10-13 17:14] gwharton opened #25027 "Fotorama Magnifier not correct since 2.3.3"
### Preconditions (*)
1. Magento 2.3.3+

### Steps to reproduce (*)
1. Deploy Magento 2.3.3
2. Create Test Product with suitable image
3. edit etc/view.xml and set the following variable for the fotorama magnifier
`<var name="enabled">true</var>`
4. Clear cache
5. Browse to product on frontend and hover over product image, moving mouse to all four extents.

### Expected result (*)
1. The zoomed im

[2019-10-13 17:28] magento-engcom-team commented on #24942
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21767` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-13 21:47] DominicWatts opened #25028 "The checksum verification of the file failed (downloaded from https://repo.magento.com/archives/magento/google-shopping-ads/magento-google-shopping-ads-3.0.1.0.zip)"
### Preconditions (*)

Blank Install

### Steps to reproduce (*)

composer install with 2.3.3

[code]

[code]

### Expected result (*)

Composer installs

### Actual result (*)

Composer errors

[2019-10-13 21:53] benmcntsh commented on #22094
@srahmel This solved it for me as well.

[2019-10-13 21:54] DominicWatts commented on #25028
@magento give me 2.3-develop instance

[2019-10-13 21:54] magento-engcom-team commented on #25028
Hi @DominicWatts. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-13 21:55] magento-engcom-team commented on #25028
Hi @DominicWatts, here is your [Magento instance](https://i-25028-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25028-2-3-develop.instances.magento-community.engineering/admin](https://i-25028-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-13 21:57] DominicWatts commented on #25028
Need shell acces

[2019-10-14 01:17] shm379 opened #25029 "add product"
Notice: Use of undefined constant formName - assumed 'formName' in /home/takdigi/public_html/vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/helper/gallery.phtml on line 64

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-10-14 02:22] krishprakash commented on #25029
Hi @shm379 please explain in which case you phase this issue.
And fill all the details Pre condition, Steps to reproduce, Expected result and Actual result.

[2019-10-14 02:52] weeliem opened #25030 "Switch language stuck/blank in /stores/store/switchrequest"
**Preconditions (*)**
1. Magento 2.3.3+

**Steps to reproduce (*)**
1. Upgrade from Magento community 2.3.2 to 2.3.3.
2. We have 2 store language since Magento 2.3.2, English and Indonesia.
3. Change language

**Expected result (*)**
Successfully changed language strore.

**Actual result (*)**
Page stuck and blank in /stores/store/switchrequest.
http://prntscr.com/pivc47

**Suspect (*)**
We suspec

[2019-10-14 04:28] #24710 closed, assigned to Bartlomiejsz

[2019-10-14 04:33] krishprakash commented on #24980
Hi @shreyasavion.
Closing this as issue is duplicate to #15935 and already in Open state.
Thanks.

[2019-10-14 04:33] #24980 closed, assigned to krishprakash

[2019-10-14 04:52] ajijshekh123 commented on #24938
@MrGangola-Webkul - Now I am closing this issue. If you have found this issue again. Please add 'Steps to be reproduced' or 'Video' then open it.

[2019-10-14 04:52] #24938 closed, assigned to ajijshekh123

[2019-10-14 05:03] YiffyToys commented on #23645
I can confirm that it is fixed in Magento CE 2.3.3

If you are reading this, please note that #24902 may have been added in the process.

[2019-10-14 05:17] shikhamis11 commented on #25030
hello @weeliem
Thank you for reporting this issue . It seems it is already reported Please check
#24942

[2019-10-14 05:17] #25030 closed, assigned to shikhamis11

[2019-10-14 05:23] soumyamol-mathew commented on #24986
Hi
I enabled the Cash on Delivery, still the order confirmation mail is not receiving. I also tried to send emails via sales->order->view->send mail , but no luck.

[2019-10-14 05:33] elvinristi commented on #23645
FYI @YiffyToys - it's not fixed in M2.3.3, nut in M2.3-dev. Hopefully will be included in next M2.3.4 release.

[2019-10-14 05:51] YiffyToys commented on #23645
I reported this issue and after the update to 2.3.3-CE my contact form works again.

[2019-10-14 05:51] mystix commented on #24986
Facing the same issue on M2.3.3 when attempting to checkout with Paypal

[2019-10-14 05:56] BrentRobert commented on #23645
@YiffyToys This issue is still valid as it states that there is not always logging available. Your underlying issue might have been fixed meanwhile.

[2019-10-14 05:57] vivekkumar-webkul commented on #24937
@magento I am working on it.

[2019-10-14 06:01] krishprakash commented on #24978
@magento give me 2.3.3 instance

[2019-10-14 06:02] magento-engcom-team commented on #24978
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-14 06:03] magento-engcom-team commented on #24978
Hi @krishprakash, here is your [Magento instance](https://i-24978-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24978-2-3-3.instances.magento-community.engineering/admin](https://i-24978-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 06:04] ronn0 commented on #20125
@magento-engcom-team how is this possible? Your bot is not working. I was working on this

[2019-10-14 06:05] krishprakash commented on #24978
**Note:**
Issue is reproduced on 2.3.3 instance.

[2019-10-14 06:17] YiffyToys commented on #23645
You are right about that.

[2019-10-14 06:23] renard123 opened #25032 "Display some error "We can't update your Wish List right now." at wish list"
Display some error "We can't update your Wish List right now." at wish list

Preconditions (*)
Magento : 2.3.2 , 2.3.3

Steps to reproduce (*)
1. Front end > Add product to wish list
2. Go to my wish list
3. Edit the product from wish list
4. From detail page leave qty blank or negative number and click on Update wish list

Expected result (*)
Validation message should display below qty box like "

[2019-10-14 06:24] krishprakash commented on #25032
@magento give me 2.3-develop instance

[2019-10-14 06:24] magento-engcom-team commented on #25032
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-14 06:25] magento-engcom-team commented on #25032
Hi @krishprakash, here is your [Magento instance](https://i-25032-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25032-2-3-develop.instances.magento-community.engineering/admin](https://i-25032-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 06:46] magento-engcom-team commented on #25032
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21768` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-14 07:07] sudheers-kensium commented on #24967
@livvly I'm not able to reproduced, if you reproduced the issue in Magento 2.3-develop instance please provide video link.

[2019-10-14 07:19] vivekkumar-webkul commented on #25032
@magento give me 2.3-develop instance

[2019-10-14 07:19] magento-engcom-team commented on #25032
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-14 07:19] magento-engcom-team commented on #25032
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-25032-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25032-2-3-develop.instances.magento-community.engineering/admin](https://i-25032-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 07:40] mattijv commented on #24946
@engcom-Charlie Here's my test setup:

**Nginx configuration**
[code]

Magento installed into `/home/magento/public_html/`.

`core_config_data` url configs

| config_id | scope | scope_id | path | value |
|--------------|---------|--------------|--------|---------|
| 1             | default |        0 | web/unsecure/base_url | http://sitemap.local/ |
|        26    | default |        0 | web/secur

[2019-10-14 07:59] edenduong opened #25033 ""New Accounts Report" should disable the sort ability of "New Account" columns (because it can not run)"
"New Accounts Report" should disable the sort ability of "New Account" columns (because it can not run)

### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Reports-> Customers-> New
3. Show report
4. Click "New Account" column

Check this Gif:

![sort](https://user-images.githubusercontent.com/8234209/66736359-23d0cb00-ee93-11e9-8701-3c1720a478b4.gif)

#

[2019-10-14 08:00] vivekkumar-webkul commented on #25033
@magento give me 2.3-develop instance

[2019-10-14 08:01] magento-engcom-team commented on #25033
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-14 08:01] soumyamol-mathew commented on #24986
@mystix Have you tried to send emails via sales->order->view->send mail ??

[2019-10-14 08:01] magento-engcom-team commented on #25033
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-25033-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25033-2-3-develop.instances.magento-community.engineering/admin](https://i-25033-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 08:11] elvinristi commented on #24902
https://github.com/magento/magento2/pull/24906 merged

[2019-10-14 08:11] #24902 closed, assigned to elvinristi

[2019-10-14 08:25] magento-engcom-team commented on #25033
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21769` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-14 08:45] mystix commented on #24986
It says "You sent the order email.", but no email gets sent out. No errors are logged either.

[2019-10-14 09:26] edenduong opened #25036 ""Shopping Cart Summary" in backend is different from frontend, and not following the setting"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Sign in to Customer
2. Add qty = 6 of 1 item to cart
3. Go to backend
4. Create order with that customer
5. View Shopping Cart

![image](https://user-images.githubusercontent.com/8234209/66741204-2afdd600-ee9f-11e9-8f5d-c76428c73315.png)

![image](https://user-images.githubusercontent.com/8234209/66741238-3c46e280-ee9f-1

[2019-10-14 09:46] soumyamol-mathew commented on #24986
@elvinristi Thank You!!!

[2019-10-14 09:51] magento-engcom-team commented on #25036
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21770` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-14 10:02] piorus opened #25038 "Elasticsearch pagination does not work on 2.3.3"
### Preconditions (*)

Magento version 2.3.3
Elasticsearch 6.0
Stores->Configuration->Catalog->Catalog->Catalog Search->Search Engine = Elasticsearch 6.0+

### Steps to reproduce (*)

 **NEW steps used for REOPEN on `2.4-develop`** -> https://github.com/magento/magento2/issues/25038#issuecomment-588881091

1. Set Elasticsearch 6.0 as search engine
2. bin/magento indexer:reindex
3. Go to category p

[2019-10-14 10:13] krishprakash commented on #25038
Hi @piotrusin. Thank you for your report.
Issue is duplicate to #24047

[2019-10-14 10:18] AsadKhan95 commented on #19685
I'm getting the same issue in M 2.2.10. While when I add new page then it gives me the above error while when I apply the page then it gives me nothing in the frontend.
https://magento.stackexchange.com/questions/292523/adding-new-page-in-admin-giving-error-magento2
here is the link for more information kindly sort it out or if it is any issue coz of me then let me know thanks

[2019-10-14 10:33] weeliem opened #25039 "Product detail did not scroll to review tab after click on 'Review' anchor link"
**Preconditions**
1. Magento 2.3.3

**Steps to reproduce**
1. Go to product detail page
2. Click on 'review' or 'add your review' link (http://prntscr.com/pj0bg6)

**Expected result**
1. Auto scroll  to review tab at bottom.

**Actual result**
1. Did not scroll to review tab and encountered javascript error (http://prntscr.com/pj0d4g)

**Suspect**
1. Code issue on line 51-72 of Magento_Review/js/p

[2019-10-14 10:35] shikhamis11 commented on #25039
@magento give me 2.3-develop instance

[2019-10-14 10:35] magento-engcom-team commented on #25039
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-14 10:35] magento-engcom-team commented on #25039
Hi @shikhamis11, here is your [Magento instance](https://i-25039-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25039-2-3-develop.instances.magento-community.engineering/admin](https://i-25039-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 11:15] AnshuMishra17 opened #25040 "Dependency is introduced in non backward compatibility way"
**Preconditions (*)**
Magento 2.3.X

### Summary (*)
In controller of app/code/Magento/Customer/Controller/Account/CreatePost.php, dependency $customerRepository is added but default value of null is not set.
Basically, it is doesn't follow the guidelines https://devdocs.magento.com/guides/v2.3/contributor-guide/backward-compatible-development/

Similar issue I can see in file app/code/Magento/Ups

[2019-10-14 11:16] chris-pook commented on #10702
This issue of the StockRegistry immediately replacing its $storeId parameter and the TODO in the Configuration class are still present in 2.3.3. Can this be looked in to please, seems like a fairly major issue to me?

[2019-10-14 11:17] Naberdz opened #25041 "Magento 2 custom options created but not shown"
### Preconditions (*)

1. Magento 2.3.2
2. php 7.2

### Steps to reproduce (*)

1. Make code to create product with custom options
2. Execute code here is part of my code :
[code]

### Expected result (*)

1. Custom options should be created and visible in frontend
2.

### Actual result (*)

1. Custom options are visible only in backend.
<img width="1585" alt="Schermafbeelding 2019-10-14 om 12 56

[2019-10-14 11:19] magento-engcom-team commented on #25039
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21771` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-14 11:27] justinpappalil commented on #24986
@elvinristi @magento-admin

We are still having issue with the Global Payments, the same issue that @soumyamol-mathew has mentioned above.

Is the magento team already working on a fix for this? Is it possible to get a patch for the issue?

[2019-10-14 11:32] skybreaker85 commented on #24984
@elvinristi thank you very much. I was just about to write a comment (with a sample module) on how to recreate this issue.

Thanks for the hint on this PR, i havent found that one as of the time of my original post.

@webkul-ratnesh, sorry for the inconvenience

[2019-10-14 11:35] krishprakash commented on #24426
@magento give me 2.3.3 instance

[2019-10-14 11:35] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-14 11:35] gwharton opened #25042 "Store logo inherits height and width from luma logo, if no height and width is provided"
### Preconditions (*)
1. Magento 2.3-develop

### Steps to reproduce (*)
1. Create a test logo image of size 400x100 pixels
![examplelogo](https://user-images.githubusercontent.com/30697781/66748964-71900800-ee80-11e9-8061-b595979dffe7.jpg)
2. Deploy 2.3-develop
3. Content->Configuration->Global->Edit->Header->Upload Logo Image
4. Do not set any height and width in config
5. Refresh cache
6. View

[2019-10-14 11:36] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 11:41] piotrusin commented on #25038
@krishprakash i don't get how those two are related besides that both issues are related to elasticsearch. in this case there is no exception thrown, just empty result set due to duplicated limit/offset

[2019-10-14 11:43] gwharton opened #25043 "Since 2.3.3 Store logo automatic resize on mobile/smaller displays does not respect aspect ratio"
### Preconditions (*)
1. Magento 2.3.3+

### Steps to reproduce (*)
1. Create a test logo image of size 400x100 pixels
![examplelogo](https://user-images.githubusercontent.com/30697781/66748920-5f15ce80-ee80-11e9-8b8f-81d46d87a819.jpg)
2. Deploy 2.3-develop
3. Content->Configuration->Global->Edit->Header->Upload Logo Image
4. Content->Configuration->Global->Edit->Header->Height = 100
5. Content->C

[2019-10-14 11:48] elvinristi commented on #24986
@justinpappalil reported https://github.com/magento/magento2/issues/24902 issue was fixed in pull request https://github.com/magento/magento2/issues/24957 which was merged to `2.3-develop` branch and is marked to be included in M2.3.4 release .

Until then code patch is needed as done here in `lib/internal/Magento/Framework/Mail/Template/TransportBuilder.php`:
- https://github.com/magento/magento2

[2019-10-14 11:50] tiberiucontiu commented on #24993
I have exactly the same problem:

![image](https://user-images.githubusercontent.com/2530506/66749096-9a6cc900-ee91-11e9-9492-76a2f67b8f17.png)

The install process uses composer:
`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.3.3`

Any ideas?

[2019-10-14 11:58] PhilEvansTBF opened #25044 "Unable to Load Theme after Migration Magento 1.9.3.7 to Magento 2.3.2"
### Preconditions (*)

1. Install Magento version 2.2.3
2. Install Theme using instructions
3. Run Theme export from Magento 1.9.3.7 and import into Magento 2.3.2.
4. Test admin access and website both work satisfactorily.

### Steps to reproduce (*)
1. Run migration using instructions at https://devdocs.magento.com/guides/v2.3/migration/migration-tool-install.html
2. Test access to admin. This wo

[2019-10-14 11:59] shahbaztariq commented on #24930
This fix works for me. I was not able to successfully apply the patch given above. This only started happening after I upgraded from 2.3.2 to 2.3.3

Ubuntu 16.04.6 LTS
Magento 2.3.3
PHP 7.2.23
MySQL 5.7.27
Redis 5.0.6
Varnish 4.1.1

[2019-10-14 12:01] PhilEvansTBF commented on #25044
Yes the issue can be reproduced on vanilla Magento instance.

[2019-10-14 12:12] magento-engcom-team commented on #25042
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21772` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-14 12:17] domeglic commented on #25038
There is a [patch](https://magento.com/tech-resources/download#download2331) for this, but it will also cause the pager to stop showing: example Instead of "Items 1-9 of 13" just "13 Items"

[2019-10-14 12:28] krisdante commented on #24484
If they are blank it means that you do not have patch (emulation is not worked). It is the situation that was before the patch

[2019-10-14 12:29] RonakParmar opened #25045 "Delete JS Confirmation Popup Design is not Proper"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2

### Steps to reproduce (*)

1.Login Admin -> Marketing
2. Under Communication Section -> Open Email Templates and Newsletter Templates both in different browser tab.
3. Try to Edit Already Created Template on both the views.
4. Click on "Delete Template" button.
5. Observe the js Confirmation Popup of both the views is different.

### Expected re

[2019-10-14 12:31] krishprakash commented on #25044
Hi @PhilEvansTBF. Thank you for your report.
Data migration related issues should reported to its separate repository.
https://github.com/magento/data-migration-tool/issues
Thanks.

[2019-10-14 12:32] simon-saurabh commented on #24484
@krisdante But my magento version is 2.3.2 which is the latest version so why the patch is required?

[2019-10-14 12:51] krisdante commented on #24484
Because it is merged to 2.3.4

[2019-10-14 12:52] shreyasavion commented on #24980
Hello @krishprakash, I got solution. I know that this is not reliable but it works for me. I made changes in Massdelete controller.
           $count = count($collection); // newly added
            foreach ($collection as $product) {
               $this->productRepository->delete($product);
                $productDeleted++;
                if($count == $productDeleted){break;} // newly added

[2019-10-14 12:53] simon-saurabh commented on #24484
@krisdante ok so can you please provide me the commit id on which the fix is implemented?

[2019-10-14 12:55] krisdante commented on #24484
It's like 4 messages up.
https://github.com/magento/magento2/commit/861e9f9401dd7845a77e63fb6cddd5359064c027

[2019-10-14 12:55] tanolalano commented on #24984
Same issue to me!

[2019-10-14 12:58] simon-saurabh commented on #24484
@krisdante But I have already tried the above but still having issues with checksum on the cached URL of the image on the sitemap xml

[2019-10-14 13:00] shreyasavion commented on #15935
Hello,
 I got solution. I know that this is not reliable but it works for me. I made changes in Massdelete controller.

$count = count($collection); // newly added
foreach ($collection as $product) {
$this->productRepository->delete($product);
$productDeleted++;
if($count == $productDeleted){break;} // newly added
}

And now i am going to override this controller. And Looking forward to correct an

[2019-10-14 13:01] ihor-sviziev commented on #16362
@pusachev  I would keep existing functionality as is because it still have some room for customization without need to develop anything

@engcom-Golf are you agree?

[2019-10-14 13:03] krishprakash commented on #25045
Hi @RonakParmar.
This issue will be fixed with PR #25035
So closing this issue.

[2019-10-14 13:03] #25045 closed, assigned to krishprakash

[2019-10-14 13:06] krisdante commented on #24484
If the checksum did not change - seems that you have not applied the patch correctly.
If it changed than it needs to be checked in settings of your current theme if you have the big image defined properly.

[2019-10-14 13:07] krishprakash commented on #25044
Hi @PhilEvansTBF. Thank you for your report.
Closing it as issue is now reported at Data Migration Repository.
Thanks.

[2019-10-14 13:07] #25044 closed, assigned to krishprakash

[2019-10-14 13:08] krisdante commented on #24484
product_page_image_large this image type needs to be defined.

[2019-10-14 13:17] soumyamol-mathew commented on #24986
@elvinristi Have added the code patch, PayPal express checkout is working fine.

However, I am still facing an issue with global Payments extension.
Global Payments Extension, version: 3.0.0
Magento Version: 2.3.3
PHP Version: 7.2.22

When I try to place an order I am getting the following exception:
**webapi-5da06b5728929; Message: Property "DisableTmpl" does not have accessor method "getDisableT

[2019-10-14 13:17] #24452 closed, assigned to MaxRomanov4669

[2019-10-14 13:17] BlackRhinoMedia commented on #19479
Hello everyone - this isn't limited to tables created by extensions this is also an issue if you have other tables sharing your M2 database - it is as if Magento goes through every table in the database regardless of whether it is associated with Magento2/an extension or not!

So for example if you had a wordpress installation in the same db as Magento I am confident this process will look through

[2019-10-14 13:23] elvinristi commented on #24986
@soumyamol-mathew, I don't think Global Payments Extension is part of clean Magento release- you need to reach out to them on this probably: https://github.com/globalpayments

[2019-10-14 13:27] piotrusin commented on #25038
I've handled it by myself by adding before/after _loadEntities plugin on `Magento\Catalog\Model\ResourceModel\Product\Collection` that sets pageSize to 0 and resets it back after querying if using elasticsearch. This does not break pager.

[2019-10-14 13:28] tiberiucontiu commented on #24993
Figure it out by myself: in my case, some parts of the code were taken from other repo. The di.xml from app/etc/di.xml was not the M233 version but M232. It seems that di.xml in M233 has some relevant changes. So, if your project is created from different repositories - like mine -, make sure both contain the latest M233 code.

[2019-10-14 13:41] vishesh-webkul commented on #24018
@magento i am working on it.

[2019-10-14 14:15] mystix commented on #24986
Thanks @elvinristi, patch https://github.com/magento/magento2/pull/24906/files#diff-dfb3ee5a7f863458afea75f5524cd2e5R398 fixes my "You sent the order email." issue.

Still doesn't solve my Paypal checkout issue though :(

In `/var/www/magento/var/log/exception.log`:
[code]

[2019-10-14 14:28] magento-engcom-team commented on #25043
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21776` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-14 14:38] simonmaass commented on #25038
I have the same issue after upgrading to m2.3.3. - in all category pages or search results i am unable to click on the next page!

[2019-10-14 15:07] Tjitse-E commented on #6401
I had the same problem on Magento 2.3.2. In my opinion, the cleanest approach is just to disable the `\Magento\ConfigurableProduct\Model\Plugin\Frontend\ProductIdentitiesExtender::afterGetIdentities` plugin. I did this by creating a new module and then disable the plugin via DI.xml.

Create `etc/frontend/di.xml` with content:
[code]

[2019-10-14 15:16] gibbotronic opened #25048 ""Reindex all" will fail if there are greater than ~104 varchar attributes"
### Preconditions (*)

1. Version 2.3.2
2. A large number of varchar attributes. We have 104 and it is failing.

### Steps to reproduce (*)

1. Add a large number of varchar attributes to your Magento installation.
2. Run the cron job indexer_reindex_all_invalid

### Expected result (*)

1. The reindex should succeed.

### Actual result (*)

1. The reindex fails with:

`The job indexer_reindex_all

[2019-10-14 15:17] gibbotronic commented on #25048
do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?

x YES

Saying yes at this point as we are vanilla

[2019-10-14 15:19] gibbotronic commented on #25048
Note that work arounds for this "row size" error can be found on https://stackoverflow.com/a/15585700

[2019-10-14 15:31] mystix commented on #24986
The error
`Property "DisableTmpl" does not have accessor method "getDisableTmpl" in class "Magento\Quote\Api\Data\PaymentInterface"`

Seems to be triggered when the following payload:
[code]

is sent to this REST endpoint:
`rest/default/V1/carts/mine/set-payment-information`
when the `Continue to Payment` button is clicked on the final step of the checkout.

[2019-10-14 15:59] IgorSIT commented on #19621
Hi,

I working on Magento 2.2.9 and I have this issue too:
[code]
I think that these warning messages are wrote to log file during different actions of customer (create account, update cart, etc) when customer does not have address (addressId is NULL).

To fix it, I changed of the functions **getDefaultBilling** and **getDefaultShipping** in class **vendor/vertex/module-tax/Model/AddressDeterminer

[2019-10-14 16:10] engcom-tester commented on #24426
@magento i am working on it

[2019-10-14 16:12] simonmaass commented on #25038
btw this is also with elasticsearch 5x... not just 6x like the patch suggests

[2019-10-14 16:29] itmsenior opened #25050 "Product AdditionalOptions "Read more" dots being escaped on invoice/shipment overview pages"
### Preconditions (*)

1. Magento 2.3.2
2. Product with additionalOptions populated

### Steps to reproduce (*)

1. Create a product that includes an additionalOption value that is over 55 characters
2. Place order for product
3. View invoice for order in customer dashboard

### Expected result (*)

1. Product additional options appear with ".." and tooltip with full message

### Actual result (*)

[2019-10-14 17:21] hostep commented on #24903
Since the bot seems to no longer auto-close issues today, let me do the honors myself :)

----

Hi @hostep. Thank you for your report.
The issue has been fixed in #24907 by @BrentRobert in 2.3-develop branch
Related commit(s):

04305166519d90a01e9233c17eb6b4f2cd49b153
The fix will be available with the upcoming 2.3.4 release.

[2019-10-14 17:21] #24903 closed, assigned to BrentRobert, saark-akash

[2019-10-14 18:23] Userr017 opened #25052 "Category page filter option issue - Magento 2.3.3"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2, 7.3

### Steps to reproduce (*)

1. Click open someone a filter option on the category page.
example. category, style etc...

![filter](https://user-images.githubusercontent.com/26794034/66773905-d53e2380-eec8-11e9-9003-2c358e55f6ed.png)

### Expected result (*)

1. Click open someone filter option
2. Page doesn't automaticully scroll down

### A

[2019-10-14 18:42] hostep commented on #24721
Since the auto-close-resolved-issues-bot seems to be sleeping today, let me manually close this one.

----

Hi @andy17612. Thank you for your report.
The issue has been fixed in #24832 by @brunoroeder in 2.3-develop branch
Related commit(s):

- 41e73b35294e7f60f855888363dc9918b02027ab
- 745ac409ea121d9d602ebf2d471531c97cf4746a

The fix will be available with the upcoming 2.3.4 release.

[2019-10-14 18:42] #24721 closed, assigned to brunoroeder

[2019-10-14 18:42] hostep commented on #22169
Since the auto-close-resolved-issues-bot seems to be sleeping today, let me manually close this one.

----

Hi @mohith227. Thank you for your report.
The issue has been fixed in #24832 by @brunoroeder in 2.3-develop branch
Related commit(s):

- 41e73b35294e7f60f855888363dc9918b02027ab
- 745ac409ea121d9d602ebf2d471531c97cf4746a

The fix will be available with the upcoming 2.3.4 release.

[2019-10-14 18:42] #22169 closed, assigned to brunoroeder

[2019-10-14 20:11] Userr017 opened #25053 "Product page tabs issue - Magento 2.3.3"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2, 7.3

### Steps to reproduce (*)

1. Click open someone tab on the product page.
example. description, more information etc...
![tab](https://user-images.githubusercontent.com/26794034/66779789-c612a200-eed7-11e9-8350-1788622d81bb.png)

### Expected result (*)

1. Click open someone tab on the product page
2. Page doesn't automaticully scroll down

[2019-10-14 20:11] imkingdavid opened #25054 "Unable to add product with required customizable checkbox option to the cart via POST /V1/carts/{id}/items"
### Preconditions (*)

1. 2.3.3
2. A simple product should be set up with a single, required Customizable Option of type Checkbox, with a single value.
![ Magento Admin 2019-10-14 15-57-37](https://user-images.githubusercontent.com/217426/66779068-5ed6fc80-ee9b-11e9-82b2-a1c4ca54a657.png)

### Steps to reproduce (*)

1. Using the API, create a cart and attempt to add the product using the followin

[2019-10-14 20:12] imkingdavid commented on #25054
@magento give me 2.3-develop instance

[2019-10-14 20:12] magento-engcom-team commented on #25054
Hi @imkingdavid. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-14 20:13] magento-engcom-team commented on #25054
Hi @imkingdavid, here is your [Magento instance](https://i-25054-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25054-2-3-develop.instances.magento-community.engineering/admin](https://i-25054-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-14 20:21] imkingdavid commented on #25054
Hmm, it looks like I should have compared my 2.3.3 files with the develop branch. This appears to already be fixed in the vanilla version:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Product/Option/Type/Select.php#L86

[2019-10-14 20:21] #25054 closed, assigned to nobody

[2019-10-14 20:24] markshust commented on #25028
I can confirm this bug.

- in the official `Magento-CE-2.3.3.tar.gz` archive, the checksum in the composer.lock file for google-shopping-apis module  is `5f5929ef9f2ec4ca048a2add261d22c92807630f`
- if you create a new Magento 2.3.3 install with composer, the checksum in the composer.lock file for google-shopping-apis module is `ce31e720d60451784b9fdb3769e43e149f50d436`

there seems to be something

[2019-10-14 20:24] magento-engcom-team commented on #25028
@markshust Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is a

[2019-10-14 20:50] joni-jones commented on #24573
Hi @gwharton. The possibility to cancel a credit memo was removed intentionally because of the impossibility to revert a refund payment transaction and requirement of a credit card or token for re-authorization.
There are still some service contracts like `\Magento\Sales\Api\CreditmemoManagementInterface::cancel` with cancel method but the implementation throws an exception.

The dependency to pay

[2019-10-14 21:10] gwharton commented on #24573
To be perfectly honest, I raised this issue without much thought to the bigger picture and knock on effects of such an action. My use case for this request was to recover from the situation where I have issued an offline credit memo either by accident, or with some error. This only happened once where I intended on issuing an offline credit memo for the refund of postage only, but ended up creatin

[2019-10-14 21:10] #24573 closed, assigned to engcom-Charlie

[2019-10-14 21:56] Userr017 commented on #25053
Hope so there is a temporary solution to fix this issue soon?

[2019-10-14 21:56] Userr017 commented on #25052
Hope so there is a temporary solution to fix this issue soon?

[2019-10-15 01:24] edenduong opened #25057 ""Customer First Name" and "Customer Last Name" should display empty instead of "----" in Newsletter Subscribers"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to frontend, subscribe the newsletter with Guest
2. Go to backend
3. Marketing->Newsletter Subscribers
4. Check the grid

"Customer First Name" and "Customer Last Name" should display empty instead of "----"

![image](https://user-images.githubusercontent.com/8234209/66792766-64c4f000-ef24-11e9-8928-b87c1d64591a.png)

[2019-10-15 01:53] weeliem opened #25059 "Swatches color image change not working"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Go to product details page with different color different images.
2. Choose color to change image (http://prntscr.com/pjby6l)

### Expected result (*)

1. Image suppose to change base on selected color

### Actual result (*)

1. Selected color image is not changed (http://prntscr.com/pjbyko)

[2019-10-15 02:01] #22747 closed, assigned to Bartlomiejsz

[2019-10-15 03:14] krishprakash commented on #25029
Hi @shm379
Feel free to reopen the issue once you update all required details.
Thanks

[2019-10-15 03:14] #25029 closed, assigned to krishprakash

[2019-10-15 03:50] edenduong opened #25060 ""Enable Single-Store Mode" is "Yes" but the create New Rating has store view title"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Settings -> Configuration-> General, "Enable Single-Store Mode" is "Yes"
2. Store-> Ratings -> Add New Rating
3. View the form

![image](https://user-images.githubusercontent.com/8234209/66798866-8381b180-ef39-11e9-926a-7473f9146b5c.png)

### Expected result (*)

That field should hidden, because it is in single-st

[2019-10-15 04:06] vishesh-webkul commented on #25032
@magento i am working on it.

[2019-10-15 04:18] soumyamol-mathew commented on #24986
@mystix , I am facing the same issue with the Global Payments

[2019-10-15 04:22] ajijshekh123 commented on #25060
Give me @magento give me 2.3-develop instance

[2019-10-15 04:22] magento-engcom-team commented on #25060
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 04:22] magento-engcom-team commented on #25060
Hi @ajijshekh123, here is your [Magento instance](https://i-25060-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25060-2-3-develop.instances.magento-community.engineering/admin](https://i-25060-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 04:28] ajijshekh123 commented on #25060
Issue reproduced in Default Magento 2.3 Instance.

[2019-10-15 04:29] magento-engcom-team commented on #25060
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21818` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 04:30] ajijshekh123 commented on #25050
Give me @magento give me 2.3-develop instance

[2019-10-15 04:31] magento-engcom-team commented on #25050
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 04:31] magento-engcom-team commented on #25050
Hi @ajijshekh123, here is your [Magento instance](https://i-25050-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25050-2-3-develop.instances.magento-community.engineering/admin](https://i-25050-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 04:31] vivekkumar-webkul commented on #25042
@magento I am working on it.

[2019-10-15 04:39] krishprakash commented on #25057
@edenduong Customer First Name and Last Name display as ---- in exported CSV as you explain it is as empty.
![image](https://user-images.githubusercontent.com/46617848/66800682-c3de3100-ef33-11e9-900d-71212ce5799b.png)

[2019-10-15 04:54] krishprakash commented on #25052
@magento give me 2.3.3 instance

[2019-10-15 04:54] magento-engcom-team commented on #25052
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-15 04:56] magento-engcom-team commented on #25052
Hi @krishprakash, here is your [Magento instance](https://i-25052-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25052-2-3-3.instances.magento-community.engineering/admin](https://i-25052-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 04:57] krishprakash commented on #25053
@magento give me 2.3-develop instance

[2019-10-15 04:57] magento-engcom-team commented on #25053
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 04:58] magento-engcom-team commented on #25053
Hi @krishprakash, here is your [Magento instance](https://i-25053-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25053-2-3-develop.instances.magento-community.engineering/admin](https://i-25053-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 05:09] edenduong commented on #25057
@magento give me 2.3-develop instance

[2019-10-15 05:10] magento-engcom-team commented on #25057
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 05:10] magento-engcom-team commented on #25057
Hi @edenduong, here is your [Magento instance](https://i-25057-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25057-2-3-develop.instances.magento-community.engineering/admin](https://i-25057-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 05:12] edenduong commented on #25057
Hi @krishprakash:

Sorry for my mistake. But, I think we should display it as "Empty" because we can not search "----". And the value is actually empty string. I updated the issue.

[2019-10-15 05:14] ajijshekh123 commented on #25050
I have not reproduced this issue.
**Steps:**
1. In the Admin section > Create a simple product with additional product details.
2. In the front end section > Place one Order with selected additional product option.
3. In the Admin section > Generate Invoice > Review the Invoice in front end view.

**Actual result:** Text is displayed properly

**See attached screenshot:**

![2019-10-15](https://us

[2019-10-15 05:17] magento-engcom-team commented on #25057
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21819` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 05:59] jsdupuis opened #25063 "Add to cart buttons are disabled on category page"
### Preconditions (*)
1. Magento 2.2.10 Open Source
2. Php 7.1.3

### Steps to reproduce (*)
1. Upgrade from Magento 2.2.9 to 2.2.10
2. Log in as a customer
3. Navigate to any category page with products in stock

### Expected result (*)
1. Customer can click on an enabled "add to cart" button

### Actual result (*)
1. All "Add to cart" buttons on the category pages are disabled. This happens both

[2019-10-15 06:03] krishprakash commented on #25059
Hi @weeliem. I'm not able to reproduce this issue as steps you described.
Please provide more detail about this and please confirm that issue is reproduce on latest instance as instructed above.
https://github.com/magento/magento2/issues/25059#issuecomment-542000542
Thanks.

[2019-10-15 06:34] shikhamis11 commented on #25063
@magento give me 2.3-develop instance

[2019-10-15 06:35] magento-engcom-team commented on #25063
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 06:35] magento-engcom-team commented on #25063
Hi @shikhamis11, here is your [Magento instance](https://i-25063-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25063-2-3-develop.instances.magento-community.engineering/admin](https://i-25063-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 06:36] elvinristi commented on #24986
@soumyamol-mathew , @mystix - do you have in your codebase `HPS\Heartland` (https://github.com/hps/heartland-magento2-module)?

[2019-10-15 06:38] mystix commented on #24986
@elvinristi I'm not running that extension unfortunately.

[2019-10-15 06:39] elvinristi commented on #24986
@mystix, ok, which one you use?

[2019-10-15 06:40] mystix commented on #24986
I'm just using stock PayPal Express checkout

[2019-10-15 06:54] shikhamis11 commented on #25063
hello @jsdupuis
thank you for reporting this issue , It seems this issue is not reproducible at latest magento 2.3 instance .
and magento now does not provide instance for 2.2 versions .
Please try reproducing this error on latest magento 2 versions and update description if you are able to reproduce this issue