[2020-09-02 14:19] magento-engcom-team commented on #28472
Hi @k4emic. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-09-02 14:20] mrtuvn commented on #29865
Undefined offset: 2 in .../vendor/magento/framework/Encryption/Encryptor.php on line 591
May related with https://github.com/magento/magento2/issues/23511
@hostep can you give some suggestion

[2020-09-02 14:21] Eddcapone opened #29872 "There are no commands defined in the "setup:cron" namespace after upgrading to magento 2.4.0"
### Preconditions (*)

1. Enterprise

### Steps to reproduce (*)

1. Upgrade from 2.3.5-p2 to 2.4.0 by using composer.
2. Make sure that you are using at least PHP 7.3

### Expected result (*)

1. Upgrade succeeds without problems

### Actual result (*)

1. I am receiving alot of e-mails saying that a cron job failed with "There are no commands defined in the "setup:cron" namespace"
2. Also callin

[2020-09-02 14:21] magento-engcom-team commented on #28472
Hi @k4emic, here is your [Magento instance](https://i-28472-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28472-2-3-5-p1.instances.magento-community.engineering/admin_29e6](https://i-28472-2-3-5-p1.instances.magento-community.engineering/admin_29e6)
Login: `d501ef65` Password: `9518be51ad2f`
Instance will be terminated in up to 3 hours.

[2020-09-02 14:38] Eddcapone commented on #29872
Looks like they have removed the command. I deleted the cron job now the error is gone.

[2020-09-02 14:38] #29872 closed, assigned to nobody

[2020-09-02 14:45] Eddcapone commented on #23511
So do you want to tell your customers that they all have to change their passwords?

[2020-09-02 14:47] salesigniter commented on #29357
Can you please explain more step by step if possible like what file to copy/paste the current contact page html from the cms manager to, and what file to put this xml code in?

[2020-09-02 15:29] hunterallen commented on #14650
I receive this issue frequently in Magento 2.4. Usually from Google Bots. Did you ever find a solution?

[2020-09-02 16:03] sidolov commented on #29674
Closing as duplicate of https://github.com/magento/magento2/issues/25344

[2020-09-02 16:03] #29674 closed, assigned to ajijshekh123

[2020-09-02 16:07] m2-assistant[bot] opened #29873 "[Issue] Refactor: Introduce ProductRepositoryInterface"
This issue is automatically created based on existing pull request: magento/magento2#29793: Refactor: Introduce ProductRepositoryInterface

---------

### Description (*)
1. Refactor: Replace `Product` Model factory, then `->load($id)` with `ProductRepository` to follow Magento's Best Practices.
2. Adjust Unit Test
3. Improve Code Style to follow Magento ruleset.

### Related Pull Requests

### Fi

[2020-09-02 16:07] m2-assistant[bot] opened #29874 "[Issue] Add exception to log context in Ui\TemplateEngine"
This issue is automatically created based on existing pull request: magento/magento2#29795: Add exception to log context in Ui\TemplateEngine

---------
### Description (*)
This pull request adds the exception to the context array in the log message when template rendering fails. Especially useful when working with UI components, which seem to throw errors left and right. 😉

### Manual testing sce

[2020-09-02 16:10] riconeitzel commented on #14413
so, this is still an issue?

[2020-09-02 16:11] riconeitzel commented on #14287
So, this is still an issue in 2.3.5?

[2020-09-02 16:53] magento-engcom-team commented on #29648
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29634 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [f54fd865772834c402bebfe204dba234f6a0fba7](https://github.com/magento/magento2/commit/f54fd865772834c402bebfe204dba234f6a0fba7)
 - [14926688ca962842341ca7e930e4537565fb478a](https://github.com/magento/magento2/commit/14926688ca962842341ca7e93

[2020-09-02 16:53] #29648 closed, assigned to Usik2203

[2020-09-02 16:53] magento-engcom-team commented on #28921
Hi @MilanFrajt. Thank you for your report.
The issue has been fixed in magento/magento2#29348 by @zhartaunik in 2.4-develop branch
Related commit(s):
 - [e6aca3b93d6b56357f70b92c47d521acc88102f5](https://github.com/magento/magento2/commit/e6aca3b93d6b56357f70b92c47d521acc88102f5)
 - [7abc82f5a2e1e76d6fd4155daedd96050fbb68c2](https://github.com/magento/magento2/commit/7abc82f5a2e1e76d6fd4155daedd96

[2020-09-02 16:53] #28921 closed, assigned to zhartaunik

[2020-09-02 16:53] magento-engcom-team commented on #28388
Hi @YaninaPrudnikova. Thank you for your report.
The issue has been fixed in magento/magento2#28413 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [a6f460dbe499df42c69af40b0fd51e05d0d6aa39](https://github.com/magento/magento2/commit/a6f460dbe499df42c69af40b0fd51e05d0d6aa39)
 - [9a83830b52446566d64531b267e0132800ae1ac4](https://github.com/magento/magento2/commit/9a83830b52446566d64

[2020-09-02 16:53] #28388 closed, assigned to ProkopovVitaliy

[2020-09-02 16:53] magento-engcom-team commented on #27523
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27579 by @korostii in 2.4-develop branch
Related commit(s):
 - [1e8e825abdc37dbd9ea196867552169a91cad082](https://github.com/magento/magento2/commit/1e8e825abdc37dbd9ea196867552169a91cad082)
 - [1dd5290fcb7b379a9fdad38136a7dd13ae907fa3](https://github.com/magento/magento2/commit/1dd5290fcb7b379a9fdad38136a7dd

[2020-09-02 16:53] #27523 closed, assigned to korostii

[2020-09-02 17:27] sdzhepa commented on #29063
Hello @dverkade

Sorry for the late response, I missed the notification...
We triaged it as P2 because due to the description it seems the problem only with drop-down "Per Page"(if he/she uses it).
But Admin still able to find attribute in the grid without "Per page" or use "Filter functionality"
So it's not blocked creating a configurable product just affect usability

Possibly I missed something

[2020-09-02 17:33] drc0 commented on #29017
with magento 2.4.0 I'm not able to reproduce the admin issue anymore (the string is 61 characters ), do you?
![Screenshot_20200902_193010](https://user-images.githubusercontent.com/5507633/92016774-1cd4d480-ed53-11ea-9431-4c96880edc1f.png)

[2020-09-02 17:34] sdzhepa commented on #29851
Hello @Eddcapone

Thank you for your feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the ne

[2020-09-02 17:39] dukir commented on #28067
2.3.5-p2 the issue still exists.
Already tried to run cron:run\install & queue:consumers:start exportProcessor with no results... Any ideas?

[2020-09-02 17:48] 1amDudman opened #29876 "Magento 2 Export not working"
Preconditions (*)
1. Magento version 2.3.5, 2.3.5-p1, 2.3.5-p2

Steps to reproduce (*)
1. Install cron: `php bin/magento cron:install`
2. Exporting products using Magento export in CSV
3. It shows "Message is added to queue, wait to get your file soon. Make sure your cron job is running to export the file"
4. Start consumers `mage queue:consumers:start exportProcessor`

Expected result (*)
1. Prod

[2020-09-02 18:27] giordhano opened #29877 "Getpricetype always return NULL"
https://github.com/magento/magento2/blob/b87f1dfa84d7726e1824c11caa4d741710119d9a/app/code/Magento/Quote/Model/Quote/Item/AbstractItem.php#L629

The error produces an inconsistency in the quote_item table when the price of a configurable product is updated and the user re-enters at checkout

this comes from **_**Magento\Quote\Model\Quote\Address\Total\Subtotal**_**

![image](https://user-images.gi

[2020-09-02 19:07] ihor-sviziev commented on #29819
Hi @Eddcapone,
As I understood - my responses fixed your issues? Can we close the issue?

[2020-09-02 19:12] rodrigowebjump commented on #29859
@magento give me 2.4-develop instance

[2020-09-02 19:13] magento-engcom-team commented on #29859
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-02 19:14] magento-engcom-team commented on #29859
Hi @rodrigowebjump, here is your [Magento instance](https://i-29859-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29859-2-4-develop.instances.magento-community.engineering/admin_a008](https://i-29859-2-4-develop.instances.magento-community.engineering/admin_a008)
Login: `2558e2ce` Password: `10e6a0dc9491`
Instance will be terminated in up to 3 hours.

[2020-09-02 19:15] navarr commented on #28763
@PromInc Are you able to confirm the patch solved your issue?

[2020-09-02 19:33] sb-nick commented on #28614
We implemented recaptcha at checkout in two parts: storefront layer and api layer. With some customizing we tied recaptcha fails to auto auto ban the ip in Fastly upon hitting a threshold. API fails get autobanned after 1 attempt since we know this is a carding attack. We even widened the ip ban to ban class a,b,c,d class networks and /16 or /24 ranges. It's been live for about two weeks. I've see

[2020-09-02 21:01] sdzhepa commented on #29063
# Investigation result of product impact:

### Preconditions:
- Installed latest M2 based on `2.4-develop`
- as a test-data was used Performance Toolkit and small profile
`bin/magento setup:perf:generate-fixtures /var/www/html/magento2/setup/performance-toolkit/profiles/ce/small.xml`
- 58 attributes are available and can be used for Configurable product
- prepare a list in e.g. excel with a full l

[2020-09-02 23:27] #28554 closed, assigned to gallyamov

[2020-09-02 23:27] #29095 closed, assigned to gallyamov

[2020-09-02 23:27] #29425 closed, assigned to cpartica

[2020-09-02 23:27] #26425 closed, assigned to nobody

[2020-09-02 23:54] cpartica commented on #28866
reopening as this issue needs an additional PR to fix some cases

[2020-09-03 04:31] GavinYield opened #29878 "Magento 2.4.0 PayPal Express Custom Button do not change"
### Preconditions (*)
1. OS : Ubuntu 20.04 Updated and Upgraded as of 3/09/2020
2. PHP 7.4.3
3. Magento2 2.4.0 (Clean Install with basic off the shelf changes)
4. Presented via an NGINX Reverse Proxy to the Magento2 Server

### Steps to reproduce (*)
1. Install Magento2 2.4.0 using Ubuntu 20.04 update and upgrade
2. Install PHP 7.4.3
3. Create a sample product
4. Enable PayPal Express
5. Open the

[2020-09-03 04:55] Stoyvo commented on #29686
@yutv @zohaibmir can you confirm if your instances, where this issue is recreated, was upgraded from a previous version? Eg: I experience this issue on 2.3.4, we upgraded from 2.2.8.

[2020-09-03 06:31] engcom-Delta commented on #29849
Hi @clion007 thank you for your report.
I`m not able to reproduce this issue. Tested on latest 2.4-develop and on 2.4.0 after upgrade from 2.3.5-p2

**Manual testing scenario:**
1. Upgrade 2.3.5-p2 to 2.4.0 - [instruction](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html)
2. Open simple product to edit
3. Expand "Images and videos" section
4. Upload few images (.jpg, .gif and

[2020-09-03 06:31] #29849 closed, assigned to engcom-Delta

[2020-09-03 06:55] engcom-Charlie commented on #29017
@drc0 so can I close the issue?

[2020-09-03 06:56] azambon commented on #25659
I haven't tried installing 2.4.0 to make sure, but the PR that I made got merged in 2.4 (not to be confused with 2.3.4). So I'd say that 2.4.0 should not be affected, but I stand to be corrected.
2.3.x is another matter, though. Despite this bug having been originally opened for 2.3.3 and despite the issue having been introduced back with 2.2.6, the PR has not been merged into any 2.3.x version th

[2020-09-03 06:59] drc0 commented on #29017
Sure. Thanks.

Il 3 settembre 2020 08:55:50 CEST, Vadim Malesh <notifications@github.com> ha scritto:

--
Inviato dal mio dispositivo Android con K-9 Mail. Perdonate la brevità.

[2020-09-03 07:18] magento-engcom-team commented on #29718
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37334` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-03 07:47] magento-engcom-team commented on #20352
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37335` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-03 08:31] Blatant commented on #26377
Thanks @johnorourke I had seen this already, however I didn't want to add yet another module and overhead to the thing and (a true SysAdmin here) I preferred the elegance of a htaccess/vhost apache born solution. IMHO it just seems more elegant and concise to tackle it at the Apache level with a one shot stanza, and time was of the essence.

I do agree your module seems to sort it however I will w

[2020-09-03 08:32] magento-engcom-team commented on #29560
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37337` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-03 08:58] clion007 commented on #29849
If I don't like to update magento 2.4 right now, how should I fix this issue?

[2020-09-03 09:14] zigojacko commented on #25659
Thanks for the clarification and feedback.

We've updated your commit for 2.4 in our 2.3.5 version which seems to work fine for the moment.

[2020-09-03 09:15] Eddcapone commented on #29819
Not yet. I have some questions left.

1. How to **kill/stop/pause** queue workers. It is not described in the [documentation entry](https://devdocs.magento.com/guides/v2.4/config-guide/mq/manage-message-queues.html).

2. If I understand it correctly, then we should not make any changes in production only in development.
We are supposed to dump the config with `php bin/magento app:config:dump` and

[2020-09-03 09:21] engcom-Delta commented on #29732
Hi @kimpi33 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop and 2.4.0 with sample data
**Manual testing scenario:**
- Go to Content->Widgets
- Click Add Widget
- Set Storefront Properties
![image](https://user-images.githubusercontent.com/51681379/92096485-9d411700-eddf-11ea-9e6e-cd13082e6a2a.png)
- Set Widget Options
![image](https://user-ima

[2020-09-03 09:21] #29732 closed, assigned to engcom-Delta

[2020-09-03 10:15] Cheeerd opened #29879 "Late Static Binding on private constants in Magento\Catalog\ViewModel\Product\Breadcrumbs"
### Preconditions (*)

1. Magento 2.4.0
2. PHP 7.4.9

### Steps to reproduce (*)

1. Create a plugin for Magento\Catalog\ViewModel\Product\Breadcrumbs
2.

### Expected result (*)

1. All works
2.

### Actual result (*)

1. Interceptor class can't get access to private [constants ](https://github.com/magento/magento2/blob/40f9a4ba50532d45caee7246e019fd4d95d973ff/app/code/Magento/Catalog/ViewModel/P

[2020-09-03 11:01] pmarjan opened #29880 "GraphQL "categories" and "categoryList" do not consider Category Permissions configuration"
Sample queries may look like

`{
  categoryList(filters: {name: {match: "category"}}){
    id
    name
    product_count
  }
}  `

`{
  categories(filters: {name: {match: "category"}}){
    items {
      id
      name
      product_count
    }
  }
} `

If any catalog permissions are present these two queries should account for the categories availability.
Dominant factor that determines availabili

[2020-09-03 11:13] k4emic commented on #28472
We worked around this by introducing a new condition option

[code]

[2020-09-03 11:38] Eddcapone opened #29882 "ERR_INVALID_RESPONSE after changing from production mode to developer or default mode"
### Preconditions (*)

1. EE 2.4.0
2. Production Mode

### Steps to reproduce (*)

1. Change from production mode to developer mode `php bin/magento deploy:mode:set developer`
2. Reload frontend

### Expected result (*)

1. Frontend should load.

### Actual result (*)

1. ERR_INVALID_RESPONSE

![image](https://user-images.githubusercontent.com/16349349/92110264-bb604480-edea-11ea-86f5-2dcf1d4eff97

[2020-09-03 11:53] johncollinseu opened #29884 "Magento 2.4.4 EE update. Admin users with custom roles can't login. Get message saying "Sorry, you need permissions to view this content.""
### Preconditions (*)

1. Upgrade Magento 2.4.2 to 2.4.4 enterprise version
2. PHP 7.4
3. MySql 5.7

### Steps to reproduce (*)

1. Start with Magento 2.4.4 Enterprise Edition.
2. Set up Admin users who have roles with custom resource access.
3. Admin users with full resource access can log in and set up 2FA as described here https://docs.magento.com/user-guide/stores/admin-signin.html#step-3-comp

[2020-09-03 12:08] Eddcapone commented on #29882
@magento I am working on this

[2020-09-03 12:12] Eddcapone commented on #29882
@magento give me 2.4-develop instance

[2020-09-03 12:12] magento-engcom-team commented on #29882
Hi @Eddcapone. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-03 12:14] magento-engcom-team commented on #29882
Hi @Eddcapone, here is your [Magento instance](https://i-29882-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29882-2-4-develop.instances.magento-community.engineering/admin_3260](https://i-29882-2-4-develop.instances.magento-community.engineering/admin_3260)
Login: `be0170d4` Password: `fa7a484def2f`
Instance will be terminated in up to 3 hours.

[2020-09-03 12:23] Eddcapone commented on #29882
@magento-engcom-team How can I connect to this instance via SSH so I can test it?

[2020-09-03 12:26] magento-engcom-team commented on #29690
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37344` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-03 13:11] TonyMerlin commented on #26377
How can this beimplementedd in Nginx?

[2020-09-03 13:13] siimm opened #29886 "Excessive index invalidation on product category relation removal"
In M2 the indexers have their specific order, e.g. price index must be reindexed prior to fulltext index etc.

When magento invalidates indexes, it takes the order of indexes into account.
**Before 2.3.5**, when an index got invalidated, it looked at the next indexes that were after it and which ever were declared as dependent on current, got invalidated as well.
**In 2.3.5 and greater version** u

[2020-09-03 14:19] m2-assistant[bot] opened #29890 "[Issue] Prevent flushing same tags several times"
This issue is automatically created based on existing pull request: magento/magento2#29885: Prevent flushing same tags several times

##
### Preconditions (*)
1. Magento 2.4-develop

### Description (*)
If a product is saved in admin - changed name, price, stock, weight, added category to product. Then after indexing, the same tags are flushed several times.
Here is an example of default Magento b

[2020-09-03 14:23] m2-assistant[bot] opened #29891 "[Issue] Removed unnecessary $this->stockStateProvider->checkQuoteItemQty call in StockItem validator"
This issue is automatically created based on existing pull request: magento/magento2#29881: Removed unnecessary $this->stockStateProvider->checkQuoteItemQty call in StockItem validator

---------
### Description (*)
MAGETWO-99585 introduced an additional call to $this->stockStateProvider->checkQuoteItemQty() in the main CatalogInventory StockItem validator to obtain the backordered quantity. It th

[2020-09-03 14:37] bvboas opened #29892 "Activate Tab no longer works on legacy tabs/forms"
### Preconditions (*)
1. Magento 2.4
2. Legacy Form with Left Tabs
3. URL with param: active_tab/TAB_NAME

### Steps to reproduce (*)
1. Create a new record in a form with multiple left tabs
2. Select one, other than the first left tab
3. Save the form

### Expected result (*)
1. Users should be redirected back to the form with the previous selected left tab active

### Actual result (*)
1. Users

[2020-09-03 14:51] Eddcapone commented on #29882
Static files are not generated properly anymore since I tried to change to developer mode! I am facing the same issue as this user on [magento.stackexchange](https://magento.stackexchange.com/questions/321234/update-styling-magento-2-in-production-mode?noredirect=1#comment460596_321234) now, ironically after trying to help him.

I made a change in my theme and pushed it into production, then I tri

[2020-09-03 14:59] Eddcapone commented on #29882
I have executed `grunt refresh` and then `php bin/magento setup:di:compile && bin/magento setup:static-content:deploy && bin/magento setup:static-content:deploy de_DE` now it works again

[2020-09-03 15:25] pmarjan opened #29893 "GraphQl context, extension attribute isCustomer returns true for Admin and Integration tokens"
### Preconditions (*)

1. Have a token generated for admin user
2. Have a token generated for integration

### Steps to reproduce (*)

1. get the `$context` object that is passed into any GraphQl resolver
2. execute `$context->getExtensionAttributes()->getIsCustomer()` when the request uses the admin token, or the integration token

### Expected result (*)

1. `$context->getExtensionAttributes()->

[2020-09-03 15:39] hostep commented on #29865
@mrtuvn: no idea, we are holding off with upgrading to Magento 2.4.0 / PHP 7.4 until Magento becomes a bit more stable. We'll probably start using it when 2.4.1 or 2.4.2 is out, it's too unstable now to start using it in my opinion.

If I run into this within some months, I can take a look, but it sounds like Eddcapone is already debugging it a bit, so maybe he'll find the root cause.

[2020-09-03 15:49] Eddcapone commented on #29865
I gave up and just changed to PHP 7.3.21 again. I am also waiting until the core team adds full PHP 7.4 support. Maybe my version (7.4.9) is not supported yet.

[2020-09-03 16:03] hewgim commented on #26901
Any news on this. The ability to have reusable layout updates for category, product and cms pages would be extremely useful

[2020-09-03 17:13] ihor-sviziev commented on #29819
About killing the cron jobs and message queues - you can see how magento does it in their deployment tool named ece tools
Here is how they detect which processes need to be killed https://github.com/magento/ece-tools/blob/9d201d782d976012ab4a90d9dbb6a4a21999da8c/src/Util/BackgroundProcess.php#L51
And here is how they actually killing them:
https://github.com/magento/ece-tools/blob/9d201d782d976012

[2020-09-03 17:28] andresams commented on #29686
Hi, I found this issue on Magento Cloud. If you are using the module Magento_TargetRule, you need to look at this function:

Magento\TargetRule\Block\Checkout\Cart\Crosssells::_getCartProducts()

Change this:

`$this->_products[$product->getEntityId()] = $product;`

To this:

`$this->_products[$product->getRowId()] = $product;`

The problem happens because the foreign key in the catalog_product_li

[2020-09-03 17:33] davidwindell commented on #27844
A vote from me for this! Although I'm not sure if https://github.com/magento/security-package/pull/191 might have solved it in 2.4?

[2020-09-03 19:44] sdzhepa commented on #13229
The Issue was moved by bot to the Done column by mistake.
Issue is not fixed yet so feel free to take it in progress and propose your solution

[2020-09-03 20:03] pmcnamaracpc commented on #28073
@magento give me 2.3-develop instance

[2020-09-03 20:03] magento-engcom-team commented on #28073
Hi @pmcnamaracpc. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-09-03 20:25] pmcnamaracpc commented on #28073
@magento-engcom-team give me 2.3.5-p2 instance

[2020-09-03 20:25] magento-engcom-team commented on #28073
Hi @pmcnamaracpc. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-09-03 20:27] magento-engcom-team commented on #28073
Hi @pmcnamaracpc, here is your [Magento instance](https://i-28073-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-28073-2-3-5-p2.instances.magento-community.engineering/admin_6e13](https://i-28073-2-3-5-p2.instances.magento-community.engineering/admin_6e13)
Login: `fe5b3c91` Password: `cecc68b427e4`
Instance will be terminated in up to 3 hours.

[2020-09-03 20:29] sidolov opened #29897 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-03 20:29] #29897 closed, assigned to nobody

[2020-09-03 20:41] pmcnamaracpc commented on #28073
So I'm able to setup the conditions with this product data, but looks that I can't setup the crontab on this instance to reindex by schedule.

Can you ssh to these temporary instances? Am not finding anything about that on the code contributions page on the wiki.

[2020-09-03 20:49] onepack commented on #29872
@Eddcapone , how do you mean "They have removed the command" . I have the message on 4 different installs.
How can I solve this as I have been looking for the source of this for some time now.

[2020-09-03 21:54] hostep commented on #29872
@onepack: as far as I'm aware, the `setup:cron:run` command was part of the web setup wizard. That thing [has been removed](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html#infrastructure-improvements) in 2.4.0, so it's no longer needed to put the `setup:cron:run` call in your crontab. You can safely remove it from there if you are using Magento 2.4.0 and

[2020-09-03 22:05] onepack commented on #29872
@hostep Thank you! I was going through all modules thinking it was a bug. I was completely overlooking this part.
I adjusted the cron and got immediate result.
Cheers!

[2020-09-03 22:29] magento-engcom-team commented on #14486
Hi @dverkade.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

[2020-09-03 22:34] magento-engcom-team commented on #13114
Hi @emiprotech.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

[2020-09-03 22:37] MichaelThessel commented on #10454
This has been closed incorrectly. See @toby-pondr's comment. This is only an issue if the product only has one color.

[2020-09-03 22:40] MichaelThessel commented on #10454
@stroblee looks like only the original author can re-open this. Mind re-opening?

[2020-09-03 22:42] slavvka opened #29898 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-03 22:43] #29898 closed, assigned to nobody

[2020-09-03 23:08] #13114 closed, assigned to nobody

[2020-09-03 23:18] #23870 closed, assigned to nobody

[2020-09-03 23:26] #17868 closed, assigned to nobody

[2020-09-03 23:58] #28881 closed, assigned to nobody

[2020-09-04 00:14] #19597 closed, assigned to nobody

[2020-09-04 00:16] #21564 closed, assigned to nobody

[2020-09-04 00:18] #14486 closed, assigned to nobody

[2020-09-04 00:19] #21739 closed, assigned to nobody

[2020-09-04 00:25] #19858 closed, assigned to nobody

[2020-09-04 00:25] #24046 closed, assigned to nobody

[2020-09-04 00:27] #24418 closed, assigned to kirtinariya1

[2020-09-04 00:28] #24617 closed, assigned to nobody

[2020-09-04 00:30] #13229 closed, assigned to nobody

[2020-09-04 02:30] Myced commented on #8279
I am having magento 2.3.3 and had this same issue. In the default mode, the add to cart button and quantity was not appearing..
Putting the site on developer mode showed the exception **Stock Item with id "51235" does not exist.**

Really the stock item with that id does not exists. But the stock item for the product has a different stock item id.. so apparently magento is looking for the wrong st

[2020-09-04 04:23] namluu commented on #29243
Do you have any updates on this, please?

[2020-09-04 04:37] webtekindo commented on #23938
Why it's closed? Already fix ?

[2020-09-04 05:43] rani-priya opened #29900 "Category position not coming as per backend in category query graphql"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Add some categories and it's children at backend
2. then check for category query with children queries
`{
  category(id: 2){
    products {
      total_count
    }
    children_count
    children {
      id
      level
      name
      path
      image
      hover_image_url
    products {
      total_count
    }
    children_

[2020-09-04 05:58] clion007 commented on #29849
I found this issue is same as [https://github.com/magento/magento2/issues/28055](url) and not changed in the latest version 2.4.0, since 2.3.4-p2 is exist.

[2020-09-04 06:01] clion007 commented on #29849
Because I use phpstorm IDE, so develop magento in windows.

[2020-09-04 06:20] ihor-sviziev commented on #29409
Seems like following commit might also improve performance for the custom options: https://github.com/magento/magento2/commit/05fce8b29a33b047f7726e4b2a180811d44c7a6d
@magento give me 2.4-develop instance

[2020-09-04 06:20] magento-engcom-team commented on #29409
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-04 06:22] magento-engcom-team commented on #29409
Hi @ihor-sviziev, here is your [Magento instance](https://i-29409-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29409-2-4-develop.instances.magento-community.engineering/admin_43de](https://i-29409-2-4-develop.instances.magento-community.engineering/admin_43de)
Login: `46f2383a` Password: `2877f23b4396`
Instance will be terminated in up to 3 hours.

[2020-09-04 06:23] ioweb-gr commented on #28701
As a sidenote @engcom-Delta I'm just relaying the complaints from many customers here. All our Magento 2 customers that came from Magento 1 are wondering about this and why it's happening so I would very much appreciate if you could explain to us what you mean by this response so we can explain to them further.

As I see it, it's a core usability issue.

[2020-09-04 06:30] ihor-sviziev commented on #29409
Just checked - unfortunately it's not fixed the issue

[2020-09-04 06:43] ihor-sviziev commented on #13746
Seems like following JS is updating form_key in the all forms. I believe we just need to make it load one of the first and issue will be solved.

https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/PageCache/view/frontend/web/js/page-cache.js#L100-L126

https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/

[2020-09-04 06:50] mmborado opened #29901 "GraphQL mutation uptdateCartItems return data is incorrect when removing multiple items"
### Preconditions (*)
1. Magento version: 2.4.0

### Steps to reproduce (*)

1. Add a set of items to cart (minimum 2)
2. Using the graphQL mutation `updateCartItems` set multiple or all of the item quantities to 0

query
[code]
### Expected result (*)
1. Expected cart data where all items that were set to a quantity of 0 to be removed

### Actual result (*)

1. The cart data that is returned will

[2020-09-04 07:28] ihor-sviziev commented on #27550
Just remove assignee by mistake, BTW we have 2 suggested PRs, so also would like to assign @niravkrish, but somehow I can't do that.

[2020-09-04 08:01] Myced commented on #8279
@igrybkov You said **"the get method of a repository should work with entity id or any other unique identifier."** Yes. But in this case the stock item entity_id is not the same as the product id.. So cases like this too should be considered

[2020-09-04 08:20] magento-engcom-team commented on #29846
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29829 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [66184fd823e58a166cd259f7c4da6705f8412d09](https://github.com/magento/magento2/commit/66184fd823e58a166cd259f7c4da6705f8412d09)
 - [81ef09221b6514cb5cb1031fb876a2dc14670590](https://github.com/magento/magento2/commit/81ef09221b6514cb5cb1031fb

[2020-09-04 08:20] #29846 closed, assigned to Usik2203

[2020-09-04 08:20] magento-engcom-team commented on #29824
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29821 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [6e7914f27687a514b19257e5a3f7a6d4c01699ff](https://github.com/magento/magento2/commit/6e7914f27687a514b19257e5a3f7a6d4c01699ff)
 - [e23ab457b163aae1e89edbdd44ddbaddf28ec968](https://github.com/magento/magento2/commit/e23ab457b163aae1e89edbdd4

[2020-09-04 08:20] #29824 closed, assigned to Usik2203

[2020-09-04 08:20] magento-engcom-team commented on #29843
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29832 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [45f834c3648f1663896519139726c32c9b264fc6](https://github.com/magento/magento2/commit/45f834c3648f1663896519139726c32c9b264fc6)
 - [ce4caae1481cd903fa2ce6c11140f95d7e36fcbe](https://github.com/magento/magento2/commit/ce4caae1481cd903fa2ce6c11

[2020-09-04 08:20] #29843 closed, assigned to Usik2203

[2020-09-04 08:20] magento-engcom-team commented on #29845
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29830 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [3cfa6aa4b231140bea835b99508dc2804c8a09d4](https://github.com/magento/magento2/commit/3cfa6aa4b231140bea835b99508dc2804c8a09d4)
 - [c0241d499bbeed000b74ce21ef3fc407f4ade244](https://github.com/magento/magento2/commit/c0241d499bbeed000b74ce21e

[2020-09-04 08:20] #29845 closed, assigned to Usik2203

[2020-09-04 08:20] magento-engcom-team commented on #29847
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29828 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [ef7b93bf713b32649b9059d4745d88ded81ba5c9](https://github.com/magento/magento2/commit/ef7b93bf713b32649b9059d4745d88ded81ba5c9)
 - [a77b364dec1032d5f41569e9e18965ef5a70da5d](https://github.com/magento/magento2/commit/a77b364dec1032d5f41569e9e

[2020-09-04 08:20] #29847 closed, assigned to Usik2203

[2020-09-04 08:20] magento-engcom-team commented on #29823
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29820 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [8e6cb1358750eb5222a5336ed8233949ae20bfab](https://github.com/magento/magento2/commit/8e6cb1358750eb5222a5336ed8233949ae20bfab)
 - [0eff627705b9d0e8b208e51c562cae32d7325db2](https://github.com/magento/magento2/commit/0eff627705b9d0e8b208e51c5

[2020-09-04 08:20] #29823 closed, assigned to Usik2203

[2020-09-04 08:20] magento-engcom-team commented on #25192
Hi @insaurabh. Thank you for your report.
The issue has been fixed in magento/magento2#25244 by @vishalverma279 in 2.4-develop branch
Related commit(s):
 - [4ac223bb23fce658e1e14b01e3f75bfb44b1e0fb](https://github.com/magento/magento2/commit/4ac223bb23fce658e1e14b01e3f75bfb44b1e0fb)
 - [a220df1e08597bd04e97f531e654d11937725796](https://github.com/magento/magento2/commit/a220df1e08597bd04e97f531e65

[2020-09-04 08:20] #25192 closed, assigned to nobody

[2020-09-04 08:20] magento-engcom-team commented on #29067
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28343 by @denysbabenko in 2.4-develop branch
Related commit(s):
 - [7ad6cdf896125193d4397614c21a1b884286181a](https://github.com/magento/magento2/commit/7ad6cdf896125193d4397614c21a1b884286181a)
 - [cff0e9840e6058af103c04d1f947af0241e744c5](https://github.com/magento/magento2/commit/cff0e9840e6058af103c0

[2020-09-04 08:20] #29067 closed, assigned to nobody

[2020-09-04 08:20] magento-engcom-team commented on #25199
Hi @amenk. Thank you for your report.
The issue has been fixed in magento/magento2#27129 by @kandy in 2.4-develop branch
Related commit(s):
 - [f70f1d23c76939e9b1cce5231d178a963d7ae622](https://github.com/magento/magento2/commit/f70f1d23c76939e9b1cce5231d178a963d7ae622)
 - [27e1c6ee41698a5b624fdb937018bde53a248705](https://github.com/magento/magento2/commit/27e1c6ee41698a5b624fdb937018bde53a248705

[2020-09-04 08:20] #25199 closed, assigned to kandy, amenk

[2020-09-04 08:20] magento-engcom-team commented on #26288
Hi @angelomaragna. Thank you for your report.
The issue has been fixed in magento/magento2#27269 by @Bal2018 in 2.4-develop branch
Related commit(s):
 - [de530f7be37c64617225ed428c269e34875bda23](https://github.com/magento/magento2/commit/de530f7be37c64617225ed428c269e34875bda23)
 - [f44add27fbdd5e41023dc7994d13962d84eba69b](https://github.com/magento/magento2/commit/f44add27fbdd5e41023dc7994d1396

[2020-09-04 08:20] #26288 closed, assigned to GovindaSharma, shubhamkhandelwalrtpl

[2020-09-04 08:21] DavaGordon commented on #29855
I have looked at your website and can confirm that this isn't a magento bug but more an issue a hosting issue. possible an issue with your .htaccess file. you can confirm this by using https://www.dotcom-tools.com/ and the solution would be to contact your hosting company / developer to get this resolved

[2020-09-04 08:27] Eddcapone commented on #29872
It is just sad that magento does not point this out in the changelog

[2020-09-04 08:33] magento-engcom-team commented on #29526
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-04 08:34] magento-engcom-team commented on #29526
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37374` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-04 08:51] Eddcapone commented on #29819
1. But the scripts you have posted are about Magento Cloud, how is it done in Magento Enterprise?
2. It makes no sense to remove the whole section "system", most settings are stored here. Then I would need to configure everything in production again, but in the documentation it says that we should not make any changes in production.

[2020-09-04 09:11] ihor-sviziev commented on #29819
@Eddcapone
1. we're doing the same way on Magento OS, I believe for EE it should be the same.
2. Basically these settings mostly needed for the "build" phase as there are no DB at all. For build phase you don't really need elasticsearch params.
By default magento dumps all configs, including "system", while as for me - there should be only needed params, as when there settings are inside config.ph

[2020-09-04 09:53] sven-codeculture opened #29902 "Failure of connections to UPS XML/USPS/DHL API will cause the checkout to break"
Magento Version: 2.3.5-p2 (Enterprise)

### Preconditions (*)
1. Either UPS XML/UPSP/DHL Shipping is configured in Magento 2
2. Either UPS XML/USPS/DHL API is completely down or blocked or the DNS could not be resolved

### Steps to reproduce (*)
1. configure the DHL API for shipping
2. block the connection to the XML API for DHL or change your environments /etc/resolve.conf to values that prevent

[2020-09-04 10:00] sprankhub commented on #23938
@sdzhepa could you please shed some light on this? This is still an important issue!

[2020-09-04 10:11] lano-vargas commented on #7687
Still an issue on 2.3.5 I'm facing same issue. key pair value not set in the post when all values are deselected

[2020-09-04 10:12] vicobohdan opened #29903 "All Stores - All groups Tier price"
### Preconditions (*)
2.2+

### Steps to reproduce (*)
Create Tier price for All Stores and All groups. Prices on other stores with different currencies are multiplied by conversion rate.
I think that this is not wanted, because prices are in store currency.

### Expected result (*)
Store price with discount.

### Actual result (*)
Store price with discount * rate.

I think from lines 293-294
from

[2020-09-04 11:02] prabhatkumar0 commented on #27836
@jhakamlesh  how you solved it i am also getting this error alson tyried with 5.7 mysql version but no success.
i have installed php 7.1.33, mysql 8.0.21,windows 10, apache 2.4.46

[2020-09-04 11:24] sven-codeculture commented on #29902
I've created three workaround patches that will prevent the checkout from breaking. This however will not give the customer any info that there is a problem with the methods he is shown. It only skips the shipping method on error.

[carrier-dhl-offline.txt](https://github.com/magento/magento2/files/5174484/carrier-dhl-offline.txt)
[carrier-ups-offline.txt](https://github.com/magento/magento2/files

[2020-09-04 12:10] sven-codeculture commented on #29902
I've tried this out on a fresh m2.3.5-p2 instance without any data. It does not fully stop the checkout from working but it does not allow you to select any shipping method at all if the error occurred in any shipping method.
It also gives an error message on frontend in this case:
<img width="1367" alt="Bildschirmfoto 2020-09-04 um 14 04 24" src="https://user-images.githubusercontent.com/3930643/

[2020-09-04 12:21] Eddcapone commented on #29819
"we're doing the same way on Magento OS, I believe for EE it should be the same."
I still don't understand how you are doing it. Do you call a command or a script to stop queue workers? How is it done?

[2020-09-04 12:24] ihor-sviziev commented on #29819
We just using custom bash script that does the same commands as I listed
above

On Fri, 4 Sep 2020 at 15:21 Eddcapone <notifications@github.com> wrote:

[2020-09-04 12:36] Eddcapone commented on #29819
Oh... so there is not even something official from magento?

[2020-09-04 12:59] ihor-sviziev commented on #29819
I think it’s just not documented.
If you’ll not stop it - potentially you could have multiple workers running in parallel that will eat your server's memory, I don’t think there might be some other issues

[2020-09-04 14:11] Eddcapone commented on #29819
One last question. In the diagram you posted, it says "Stop Queue Workers". But are we supposed to start them again at some point or does this happen automatically? And do you mind to share your bash script for stopping queue workers?

[2020-09-04 14:14] rudstone commented on #17310
h

[2020-09-04 14:26] m2-assistant[bot] opened #29907 "[Issue] Zero payment Order processing status fix"
This issue is automatically created based on existing pull request: magento/magento2#28513: Zero payment Order processing status fix

---------
### Description (*)
Current PR extends Free payment method class to set correct order status if status selected as processing and "auto create invoices" set to NO

### Manual testing scenarios (*)
  1. Update Zero Subtotal Checkout Method configuration in

[2020-09-04 14:26] sidolov opened #29908 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-04 14:27] #29908 closed, assigned to nobody

[2020-09-04 14:39] pmarjan opened #29910 "Customer segment as Identifier should be send as separate header key in GraphQL requests"
As a Magento administrator
I want to be able to send an extra header key in the request header (e.g. Customer Segment Id)
so that I can see a response that matches what a particular customer would see.

Story is not final, is in progress

Background:
Current functionality allows for an admin token to be send and a preview version.
However, any catalog related entities that will be returned - are i

[2020-09-04 14:48] lenaorobei commented on #29584
Closing as duplicate https://github.com/magento/magento2/issues/25344

[2020-09-04 14:48] #29584 closed, assigned to nobody

[2020-09-04 15:43] hostep commented on #29819
@Eddcapone, there is a feature request pending to introduce an official way to stop queue consumers, but it's not implemented yet. See ["Problem 2"](https://github.com/magento/architecture/blob/master/design-documents/asynchronous-operations/consumer-processes-improvements.md) (A solution to "Problem 1" will make its introduction in Magento 2.4.1 btw, but it's not 100% implemented like I wanted it

[2020-09-04 16:22] clion007 opened #29912 "How to resolve a subdomain to a module?"
### Summary (*)

I want to resolve a subdomain to a module, anyone tell me how?
### Examples (*)

 For example: request url user.example.com/account/login resolve to the customer/account/login.
### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help dur

[2020-09-04 17:48] igrybkov commented on #8279
@Myced, from what I see in the issue now, the question was that `StockItemRepository` returns stock item by stock item id and  the author of the issue (@djbokkeman) was expecting it to return stock item by product id.
My answer was that the behavior of the repository is correct. This is because the stock item has a primary key (stock item id) and the repository operates with the primary key, which

[2020-09-04 18:03] sdzhepa commented on #23938
Hello @webtekindo @sprankhub

The issue was closed by mistake. After closing the internal issue that was related for 2.2x version only.

Sorry for the confusion.

I reopen this issue. It should be reverified on the latest `2.4-develop` code.

@engcom-Oscar  Could you please recheck this issue on the latest `2.4-develop`
if its still actual please do
- Update description with latest version 2.4
- U

[2020-09-04 18:57] m2-assistant[bot] opened #29914 "[Issue] Removed redundant less styles navigation in blank theme"
This issue is automatically created based on existing pull request: magento/magento2#29913: Removed redundant less styles navigation in blank theme

---------
Clean up code base navigation in blank theme
Remove some properties re-declare, unnecessary property

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Clean up code base navigation in blank theme
Remove some properties re-dec

[2020-09-04 19:02] m2-assistant[bot] opened #29915 "[Issue] Check if copy method is copy before sending comment email"
This issue is automatically created based on existing pull request: magento/magento2#29911: Check if copy method is copy before sending comment email

---------
### Preconditions (*)

Magento 2.4-develop

As seen in the comments email copies should only be sent as separated emails if their copy method is copy.

![Screenshot from 2020-10-19 10-28-34](https://user-images.githubusercontent.com/516791

[2020-09-04 19:06] pmcnamaracpc commented on #28073
I created separate magento instances on my own server to recreate the issue, where I can setup the cron as needed to replicate.

I was able to replicate the issue in 2.3.4. It does not seem to apply to 2.3.5-p1 or 2.3.5-p2. I have not tried on 2.4.0

1. I first setup demo data to have products
2. disabled Dotmailer mods since they broke swagger (https://github.com/dotmailer/dotmailer-magento2-exte

[2020-09-04 19:47] claybrooks6 commented on #8795
Hi,
I am experiencing the same issue.

Chaning the status via the Grid does not work properly. The product detail page shows the change, but the products are not visible on the frontend when activated...

Please see video for example: https://we.tl/t-SUYaZwiTRB

Any help how this can fixed is highly appreciated.

Thanks

[2020-09-04 20:14] thiaramus commented on #27458
The internal Magento team is working on this issue right now.
The fix will be based on commits from the author and delivered according to our internal processes. All original commits made by the author will be preserved.

[2020-09-04 20:45] lbajsarowicz opened #29916 "Magento unable to recover automatically after DB transaction failure"
### Preconditions (*)
- Magento 2.4
- Production setup

### Steps to reproduce (*)
1. Register Customer
2. Add default Shipping Address and Default Billing Address for Customer
3. Delete the `customer_address_entity` entries for above addresses
4. Try to place an order.

### Expected result (*)
1. The client should choose the Default Shipping  / Billing Address again

### Actual result (*)
1. An e

[2020-09-04 23:49] elbasri opened #29917 "User locale interface doesnt affect admin language"
Hello,
recently we turned in a problem in admin panel
its get the locale default language, not the user interface locale choosed in thier profile (what its has to be)
by result, all admin users get the admin interface in one language (choosed in stores=>configuration=>generale=>locale) whanever thier profiles languages !
is there any other places/files i should search for to resolve this problem?

[2020-09-05 01:13] yaroslavGoncharuk opened #29918 "Improve the structure of GraphQL tests for Catalog Module"
### Summary (*)
Catalog Module covers a significant number of use-cases and has a lot of GraphQL tests.
However, the structure of test files is unclear and makes navigation through it hard.

### Examples (*)
[GraphQL tests for Catalog module](https://github.com/magento/magento2/tree/2.4-develop/dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog)

### Proposed solution
1. Create two sub-fol

[2020-09-05 03:05] Jeeva-Rathinam commented on #6625
May i know what is the exact solution, My Magento 2.3.4

Path : /var/www/html/test/vendor/magento/framework/Search/Dynamic/Algorithm.php

Code :

[code]

Error Screenshot:

https://i.stack.imgur.com/IIYET.png

[2020-09-05 05:32] Jeeva-Rathinam opened #29919 "Exception #0 (Exception): Notice: Undefined offset: -1 in /var/www/html/test/vendor/magento/framework/Search/Dynamic/Algorithm.php on line 304"
May i know what is the exact solution, My Magento 2.3.4

Path : /var/www/html/test/vendor/magento/framework/Search/Dynamic/Algorithm.php

Code :

[code]

Error Screenshot:

https://i.stack.imgur.com/IIYET.png

[2020-09-05 05:32] Jeeva-Rathinam commented on #29919
Any help thanks

[2020-09-05 12:20] eurobeautiful commented on #28614
@sb-nick that sounds like a major effort. I was contacted by Braintree because they were concerned by the number of attempts. Fortunately we have not had a single fraudulent charge because we have practically all fraud detection tools enabled on Braintree and we also use https://www.weltpixel.com/magento2-maxmind-fraud-prevention-minfraud.html. The developers of the module (Gene https://www.gene.c

[2020-09-05 12:26] sanxionghuang commented on #28614
.Thank you

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: EuroBeautiful <notifications@github.com>
Sent: Saturday, September 5, 2020 8:22:07 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [magento/magento2] Carding Attack (#28614)

@sb-nick<https://github.com/sb-nick> that sounds like a major

[2020-09-05 13:17] joeshelton-wagento opened #29920 ""Item in Cart" not pluralized correctly"
### Preconditions (*)
Magento 2.3.5
Sample Data installed

### Steps to reproduce (*)
Add a single product to the cart in a quantity of 3. (Or, any quantity greater than one.)

### Expected result (*)
In the minicart the text "3 Items in Cart" appears.
In the checkout order summary the text "3 Items in Cart" appears.

### Actual result (*)
In the minicart the text "3 Item in Cart" appears.
In the

[2020-09-05 13:20] joeshelton-wagento commented on #29920
@magento give me 2.4-develop instance

[2020-09-05 13:20] magento-engcom-team commented on #29920
Hi @joeshelton-wagento. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-05 13:21] magento-engcom-team commented on #29920
Hi @joeshelton-wagento, here is your [Magento instance](https://i-29920-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29920-2-4-develop.instances.magento-community.engineering/admin_cc35](https://i-29920-2-4-develop.instances.magento-community.engineering/admin_cc35)
Login: `52555f15` Password: `bbfa52e2ae6a`
Instance will be terminated in up to 3 hours.

[2020-09-05 13:35] joeshelton-wagento commented on #29920
Confirmed in 2.4
![2020-09-05_08-30-33](https://user-images.githubusercontent.com/23382713/92306101-5162af00-ef52-11ea-9eb4-72cee5c05e97.png)
![2020-09-05_08-31-10](https://user-images.githubusercontent.com/23382713/92306123-68090600-ef52-11ea-8873-c7bada0c6395.png)

[2020-09-05 13:48] eurobeautiful commented on #28614
Ok, this is a long post, I hope it's useful. Here is our overall security setup:

1. **Cloudflare** for automated protection against bots, DDoS, their ["I'm under attack"](https://support.cloudflare.com/hc/en-us/articles/200170076-Understanding-Cloudflare-Under-Attack-mode-advanced-DDOS-protection-) mode  as well as firewall for blocking IP addresses
2. Web server configured with [ModSecurity](htt

[2020-09-06 06:39] Myced commented on #8279
I see.. But in my case its not a custom module I am writing.. And from the stack trace I see no custom module trying to get the stock item. So I think its a magento bug.

[2020-09-06 06:40] Myced commented on #8279
`1 exception(s):
Exception #0 (Magento\Framework\Exception\NoSuchEntityException): The stock item with the "20751" ID wasn't found. Verify the ID and try again.

Exception #0 (Magento\Framework\Exception\NoSuchEntityException): The stock item with the "20751" ID wasn't found. Verify the ID and try again.
<pre>#1 include() called at [vendor/magento/framework/View/TemplateEngine/Php.php:59]
#2 Magen

[2020-09-06 11:03] mrtuvn commented on #29920
Seem problem happen when use config Display Cart Summary: Display item quantities <=Default option
Admin > Configuration > Sales > Checkout > My Cart Link

The other option "Display number of items in cart" seem work

I can confirmed this issue in 2.4

[2020-09-06 17:08] mrtuvn commented on #27699
any update on this ?
@lbajsarowicz Not sure but my issue may related with this. First setup i have no use theme sample data (no use magento theme). Just create product normal and setup my theme instead default magento theme for test. But after success setup magento sample data. My theme was overrided by magento ! My thought i need re-config in admin but not sure why my theme lost after install sam

[2020-09-06 19:29] lbajsarowicz commented on #27699
I reviewed the events that are executed after saving the Configuration changes. I recommend the same path to begin with. You'll find the funny part about Magento way of handling Theme change 💯

[2020-09-07 02:00] codynguyen1 opened #29922 "CustomerToken type should contain token expired time"
*As a developer I want to get the expired time for customer token so that when it's expired, I can revoke it and log out to avoid permission issues with the cart APIs.*

### Approved Schema
type CustomerToken {
    token: String @doc(description: "The customer token")
    expired_time: Int @doc(description: "Token expired time")
}

If this is approved, I will create a PR to update it.

[2020-09-07 05:15] krishprakash commented on #29920
@magento give me 2.4-develop instance

[2020-09-07 05:15] magento-engcom-team commented on #29920
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-07 05:17] magento-engcom-team commented on #29920
Hi @krishprakash, here is your [Magento instance](https://i-29920-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29920-2-4-develop.instances.magento-community.engineering/admin_5e0f](https://i-29920-2-4-develop.instances.magento-community.engineering/admin_5e0f)
Login: `67d1539c` Password: `690d47eae017`
Instance will be terminated in up to 3 hours.

[2020-09-07 05:19] krishprakash commented on #29912
Hi @clion007. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-09-07 05:19] #29912 closed, assigned to krishprakash

[2020-09-07 05:24] magento-engcom-team commented on #29920
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37416` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-07 06:37] saphaljha commented on #29920
@magento I am working on this.

[2020-09-07 07:09] luckyduck commented on #15545
Same issue here. Thanks to @erikhansen and @sebastian-virtua , it could be fixed. Should be fixed in the core asap.

[2020-09-07 07:57] huykon commented on #28953
I am facing with this problem. How can I fix this?

[2020-09-07 08:34] pinkuislam commented on #815
[ERROR] LogicException: Unknown module in the requested list: 'Temando_Shipping' in F:\xampp\htdocs\magento-ce-2.3.5-p2_sample_data-2020-07-27-09-17-19\setup\src\Magento\Setup\Model\Installer.php:472 Stack trace: #0 F:\xampp\htdocs\magento-ce-2.3.5-p2_sample_data-2020-07-27-09-17-19\setup\src\Magento\Setup\Model\Installer.php(431): Magento\Setup\Model\Installer->readListOfModules(Array, Array, 'en

[2020-09-07 08:34] pinkuislam commented on #815
how to solve it.

[2020-09-07 08:39] #29819 closed, assigned to ihor-sviziev

[2020-09-07 09:18] neuronylucian commented on #2856
I had the same issue, but the only thing I need to have checked for the role is 'My account'

[2020-09-07 10:13] kitrak17 commented on #23844
This issue is still happening when we enable 3DS in production mode and it is working fine on sandbox mode for Braintree.

[2020-09-07 10:15] francescosalvi commented on #16407
still there on 2.4

[2020-09-07 10:29] magent-harsh commented on #11347
This issue is still apparent in 2.3.4. please provide solution for this bug.

[2020-09-07 10:39] toxix commented on #29879
@magento I am working on this

[2020-09-07 10:44] toxix commented on #29879
This bug is the same category than this here https://github.com/magento/magento2/issues/28981 and resolved in this pullrequest: https://github.com/magento/magento2/pull/28797

Already checked an analog solution locally and it works, will open a pullrequest with the fix.

[2020-09-07 10:45] jampolm opened #29924 "Backward incompatible changes to cron locking mechanism"
### Summary (*)

In 2.3.5 next change was done that broke backward compatibility
MC-22819: Fix deadlocks related to crons / consumers
https://github.com/magento/magento2/commit/ce5b6f6e73b2ebe16949d6f713f230b02119e4f8#diff-fcb7a0e44160e6abfceb876e72be5052L241

The locking mechanism on cron job level was introduced and, for some reason, locking mechanism on cron group level was abandoned. Cron grou

[2020-09-07 11:07] toxix commented on #29879
@Cheeerd  you might want to check if my change is fixing your issue.

[2020-09-07 11:15] magento-engcom-team commented on #23938
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-07 11:17] magento-engcom-team commented on #23938
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37422` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-07 11:20] pmarjan opened #29926 "Prices should be hidden from products query results when the category permissions chooses to hide them"
`query{
products(search: "product"){
  total_count
	items {
		name
		sku
    price_tiers {
      quantity
      final_price {
        value
      }
    }
    price_range {
      maximum_price {
        final_price {
          value
        }
      }
      minimum_price {
        final_price {
          value
        }
      }
    }
    special_price
	}
	}
}`

The product collection is processed pr

[2020-09-07 11:26] pmarjan opened #29927 "Search should be disabled from products query when general configuration chooses to disabled it"
Consider configuration "Disallow Catalog Search By" in the general Category Permissions.

If the relevant customer group is denied search then this kind of query
`products(search: "product"){...}`
should return no results

The Luma equivalent is that the search controller `catalogsearch/result/?q=product` redirects to 404 - no page found.

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

[2020-09-07 11:38] magento-engcom-team commented on #16362
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37423` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-07 11:40] magento-engcom-team commented on #29531
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37424` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-07 12:07] engcom-Oscar commented on #6144
Hi @djfordz, I couldn't reproduce this issue on latest 2.4-develop version of Magento according your description.

### Steps to reproduce
1. create customer account on homepage
2. add product to the cart
3. logout customer
4. disable product in admin panel using single action method (slider on product page)
5. login back to the customer account on homepage - I have no errors

![image](https://user

[2020-09-07 12:07] #6144 closed, assigned to engcom-Oscar

[2020-09-07 12:33] usman786cs commented on #5289
Hi, I've a weird issue,
On checkout page I've address United Kingdom in Country input field but when I check address request to calculate shipping amount, it shows US as country id, any suggestions pls.

Thanks

[2020-09-07 13:03] engcom-Oscar commented on #22807
Hi @kassner , I could not reproduce this issue on latest 2.4- develop branch, can you please recheck?

[2020-09-07 13:20] engcom-Oscar commented on #27316
The issue not reproducible on 2.4-develop

[2020-09-07 13:20] #27316 closed, assigned to nobody

[2020-09-07 13:20] iphigenie opened #29928 "2.4 AbstractAddress on checkout causes CRITICAL error on checkout "Array to string conversion" (correctly?)"
Testing upgrading my site to 2.4 and checkout address stage fails

### Preconditions (*)

1. 2.4 updated from 2.3?

running php 7.3.21

I have a checkout module but disabling it and reverting to normal checkout produces the same error

### Steps to reproduce (*)

checkout process

### Expected result (*)

address is saved and the system moves on to shipping options

### Actual result (*)

address

[2020-09-07 13:31] onepack commented on #9317
So I have set it to 30.000 and still I receive the following messages:
Got error 'PHP message: PHP Warning:  Unknown: Input variables exceeded 30000. To increase the limit change max_input_vars in php.ini. in Unknown on line 0'

[2020-09-07 13:52] pmarjan opened #29930 ""Add to Cart" mutations in GraphQl should consider Catalog Permissions"
As a graphQl user,
when there is a category permission that specifically denies adding a product to cart,
I want to get a notification that I cannot add an item to the cart.

Target mutations that should apply Catalog Permissions are:

- addProductsToCart

### AC
- GraphQl respects Catalog Permissions configuration
- Automated tests are available

[2020-09-07 14:07] xxorax commented on #19469
Does this fix will be realease in the 2.3 branch ?
It just need to apply [the patch](https://github.com/magento/magento2/commit/0fd8a5146cdf4e524150e68f89085d90f0d42be3) I guess.

[2020-09-07 14:27] jampolm commented on #29924
@magento I am working on this

[2020-09-07 15:07] martinzco opened #29932 "only_x_left_in_stock returns null if inventory is 0"
### Preconditions (*)
1. 2.4.0
2.

### Steps to reproduce (*)
1. Set only_x_left_in_stock to 3
2. Configure one product with 0 inventory but stock status in_stock

### Expected result (*)
1. only_x_left_in_stock = 0
2.

### Actual result (*)
1. only_x_left_in_stock = null
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessme

[2020-09-07 15:29] magento-seis10 commented on #14240
This is still an issue for 2.3.5-p2

[2020-09-07 15:37] magento-engcom-team commented on #27268
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37428` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-07 15:49] mrtuvn commented on #27699
path `design/theme/theme_id` in table core_config_data seem has been set with new id after run install theme sampledata
scope default and scope id 0

[2020-09-07 16:03] gabrieldagama commented on #29844
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29831 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [2d9d741408e014c925ce94cecf87d93b80dc4219](https://github.com/magento/magento2/commit/2d9d741408e014c925ce94cecf87d93b80dc4219)
 - [41d0adaf84b8a4451f30d794a2e78ed118f696ed](https://github.com/magento/magento2/commit/41d0adaf84b8a4451f30d794a

[2020-09-07 16:03] #29844 closed, assigned to Usik2203

[2020-09-07 16:03] gabrieldagama commented on #29560
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27386 by @bradleybrecher in 2.4-develop branch
Related commit(s):
 - [8f08efe13dfc83c5e7f5ee5c504ff3fd0781410f](https://github.com/magento/magento2/commit/8f08efe13dfc83c5e7f5ee5c504ff3fd0781410f)
 - [a75c7f69504610cfd74f9ff32eaf98f7e1cabee0](https://github.com/magento/magento2/commit/a75c7f69504610cfd74

[2020-09-07 16:03] #29560 closed, assigned to nobody

[2020-09-07 16:03] gabrieldagama commented on #29526
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29044 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [be3c1ec4a55d482d153184b2abdfdadfd6b68f48](https://github.com/magento/magento2/commit/be3c1ec4a55d482d153184b2abdfdadfd6b68f48)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-07 16:03] #29526 closed, assigned to nobody

[2020-09-07 16:03] gabrieldagama commented on #29825
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29822 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [b991d9a2e6bf77d3a194c2ab3a1c27ed7e60f3f4](https://github.com/magento/magento2/commit/b991d9a2e6bf77d3a194c2ab3a1c27ed7e60f3f4)
 - [6c103a7591106d73e24e5f7693b85695a956b91e](https://github.com/magento/magento2/commit/6c103a7591106d73e24e5f769

[2020-09-07 16:03] #29825 closed, assigned to Usik2203

[2020-09-07 16:03] gabrieldagama commented on #29841
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29836 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [5228d6bf2c482fea9a94d444a59db17ec4d185ee](https://github.com/magento/magento2/commit/5228d6bf2c482fea9a94d444a59db17ec4d185ee)
 - [889369c1c580b38846f42294dc8dd35e71bb2957](https://github.com/magento/magento2/commit/889369c1c580b38846f42294d

[2020-09-07 16:03] #29841 closed, assigned to Usik2203

[2020-09-07 17:36] iphigenie commented on #29928
I am puzzled this creates a critical error as it seems the intent of the code

[2020-09-07 21:30] Overlap88 commented on #29765
not sure what else to add - I edited the original post to add the required information.

[2020-09-07 21:39] nadroj467 commented on #11347
Experiencing this issue in 2.3.5-p1 with native PayPal payments pro hosted

[2020-09-07 22:28] GavinYield commented on #29878
Had to put my MerchantID within the PayPal settings, then the custom buttons worked.

[2020-09-07 22:28] #29878 closed, assigned to nobody

[2020-09-07 22:57] LiamTrioTech commented on #10533
This would be very useful

[2020-09-07 23:18] sivaschenko commented on #29531
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28653 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [7eeba38866f1dfd3cf1a1168667697b782454937](https://github.com/magento/magento2/commit/7eeba38866f1dfd3cf1a1168667697b782454937)
 - [e15fc1d9741a566d657e06950e5a3b3fe6a6c579](https://github.com/magento/magento2/commit/e15fc1d9741a566d657e06950

[2020-09-07 23:18] #29531 closed, assigned to Usik2203

[2020-09-07 23:18] sivaschenko commented on #29704
Hi @markshust. Thank you for your report.
The issue has been fixed in magento/magento2#29724 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [f230257dceda451d27031100441c675ee5fa48d5](https://github.com/magento/magento2/commit/f230257dceda451d27031100441c675ee5fa48d5)
 - [1973efbde04dbc5b3081755c071cbf9e6d707532](https://github.com/magento/magento2/commit/1973efbde04dbc5b3081755c071

[2020-09-07 23:18] #29704 closed, assigned to konarshankar07

[2020-09-08 00:32] Januszpl opened #29933 "Gallery multiply breakpoints options configuration doesn't work properly because of mediaCheck triggering exit media query function on page load"
### Preconditions (*)
1. Magento 2.3 / 2.4-develop
2. Multiply breakpoints configured with custom options in `[your theme]/etc/view.xml`

### Steps to reproduce (*)
1. Define more than one breakpoints with custom options

[code]

2. Set mobile screen size
3. Load page

### Expected result (*)
Gallery should have "dots" navigation.

### Actual result (*)
Gallery have "thumbs" navigation.

**Severit

[2020-09-08 00:32] Januszpl commented on #29933
I will prepare PR for that.

[2020-09-08 04:46] ajijshekh123 commented on #29787
Hi @hkvega01,
If you reproduced this issue. Please add proper steps or attached videos so I will reproduce this issue and confirm it.

Thanks

[2020-09-08 04:46] #29787 closed, assigned to ajijshekh123

[2020-09-08 04:48] ajijshekh123 commented on #29870
@magento give me 2.4-develop instance

[2020-09-08 04:48] magento-engcom-team commented on #29870
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-08 04:49] magento-engcom-team commented on #29870
Hi @ajijshekh123, here is your [Magento instance](https://i-29870-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29870-2-4-develop.instances.magento-community.engineering/admin_3142](https://i-29870-2-4-develop.instances.magento-community.engineering/admin_3142)
Login: `09d574dc` Password: `5088b896a987`
Instance will be terminated in up to 3 hours.

[2020-09-08 04:55] ajijshekh123 commented on #29870
Hi @lano-vargas,
Verified this issue in the latest Magento 2.4 Instance but not reproduced this issue as per your steps and configuration
PFA:
![image](https://user-images.githubusercontent.com/24711761/92434454-7c047000-f1bd-11ea-920d-e5d67769407e.png)

Thanks

[2020-09-08 04:56] ajijshekh123 commented on #29870
@magento give me 2.3.5p1-develop instance

[2020-09-08 04:56] magento-engcom-team commented on #29870
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5p1-develop instance for you

[2020-09-08 05:36] #28664 closed, assigned to sdzhepa, ajijshekh123

[2020-09-08 05:36] #28190 closed, assigned to ajijshekh123

[2020-09-08 05:37] #27906 closed, assigned to ajijshekh123

[2020-09-08 05:40] #27326 closed, assigned to ajijshekh123

[2020-09-08 05:46] ajijshekh123 commented on #29870
@magento give me 2.3.5-p1 instance

[2020-09-08 05:46] magento-engcom-team commented on #29870
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-09-08 05:47] magento-engcom-team commented on #29870
Hi @ajijshekh123, here is your [Magento instance](https://i-29870-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29870-2-3-5-p1.instances.magento-community.engineering/admin_fe70](https://i-29870-2-3-5-p1.instances.magento-community.engineering/admin_fe70)
Login: `e15f225d` Password: `919758413c3c`
Instance will be terminated in up to 3 hours.

[2020-09-08 05:49] mrtuvn opened #29936 "item layout updates can't remove after add when create new widget"
### Preconditions (*)

1. Magento 2.4-develop
2.

### Steps to reproduce (*)

1. Go to admin
2. Content > Widgets
3. Add new widget
4. In section "Layout Updates" Add Layout Update
5. Try to click on icon basket to remove item

### Expected result (*)

1. Item should be remove
2.

### Actual result (*)

1. Item cannot remove
2. Only first item could be removed
<img width="1481" alt="Screen Shot 20

[2020-09-08 05:57] ajijshekh123 commented on #29870
Hi @lano-vargas,
Verified issue in the Latest Magento 2.3.5p1 Instance but not able to reproduce the issue.
**PFA:**
![image](https://user-images.githubusercontent.com/24711761/92438282-24b6cd80-f1c6-11ea-959f-96d1042c8a0e.png)

Thanks.

[2020-09-08 05:57] ajijshekh123 commented on #29870
@magento give me 2.3.5-p2 instance

[2020-09-08 05:57] magento-engcom-team commented on #29870
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-09-08 05:58] magento-engcom-team commented on #29870
Hi @ajijshekh123, here is your [Magento instance](https://i-29870-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29870-2-3-5-p2.instances.magento-community.engineering/admin_0191](https://i-29870-2-3-5-p2.instances.magento-community.engineering/admin_0191)
Login: `e1e071c7` Password: `cb8bd24bdcc5`
Instance will be terminated in up to 3 hours.

[2020-09-08 06:01] ajijshekh123 commented on #29870
Hi @lano-vargas,
Verified Issue in Magento 2.3.5p2 Instance but not able to reproduce the issue.
PFA:
![image](https://user-images.githubusercontent.com/24711761/92438688-e1109380-f1c6-11ea-8cfb-7675e396c4b5.png)

Thanks.

[2020-09-08 06:05] ajijshekh123 commented on #29870
Hi @lano-vargas,
This error is related to the Third-party extension Or it may be some irrelevant component issue.
Please verify this issue its proper end and Update the scenario.

Thanks

[2020-09-08 07:42] magento-engcom-team commented on #29936
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-08 07:42] magento-engcom-team commented on #29936
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37441` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 08:31] thunderwin opened #29937 "create a customer via graphQL no return"
I wanna create a customer via graphQL

which customer has been created, but never has a successes return

[2020-09-08 08:44] Dave-W commented on #29884
There is an issue with 2FA that causes this, under settings > permissions > 2 factor auth the user can end up without permission to use 2FA but at the same time require 2FA to log in.

[2020-09-08 09:01] lano-vargas commented on #29870
Hi @ajijshekh123 Thanks for the update.

It's strange I think there are things that could have influenced the bug which I don't think instances given has. E.G: I have website nl, store nl_store and store view nl_store_view. Also have building a theme for nl but once I change back to Luma theme this error occurs, I've setup:upgrade, clean:cache, flush compile etc...
maybe that's where the bug is...

[2020-09-08 09:19] engcom-Oscar commented on #29916
Hi @lbajsarowicz , I couldn't reproduce this issue on the latest 2.4-develop branch of Magento. I followed steps you described in the ticket:

Precondition:
1. Clean install Magento 2.4-develop
2. Set Magento into production mode
Steps:
1. Register Customer
2. Add default Shipping Address and Default Billing Address for Customer
3. Delete the `customer_address_entity` entries for above addresses f

[2020-09-08 09:19] #29916 closed, assigned to nobody

[2020-09-08 09:27] codemasternode commented on #4432
The same problem occurs in Magento 2.4.0 version. I'm trying to make an API call on this:
`http://a24-shop.local/rest/all/V1/integration/admin/token` with json body:
`{
    "username":"adminEmail",
    "password":"adminPassword"
}`
And error occurs:
`
{
"message": "The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later.",
}
`

**And customer logi

[2020-09-08 10:17] magento-engcom-team commented on #29098
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37444` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 10:33] magento-engcom-team commented on #29886
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37445` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 10:40] mehmetuygun opened #29938 "Issue when you apply discount code in review & payment tab and if this affects shipping method which is selected one step before."
### Preconditions (*)

1.Magento 2.3.3

### Steps to reproduce (*)

1. create a free shipping method with condition min order value 25 ( for example)
2. Create a discount code gives any percent off (%25)
3. Add product to cart
4. proceed to checkout, fill address, then select the free shipping option.
5. proceed to payment. Hold On. Apply discount code make sure now the total value is less than wh

[2020-09-08 10:43] magento-engcom-team commented on #29073
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37446` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 11:19] saphaljha commented on #29936
@magento I am working on this issue.

[2020-09-08 12:05] codemasternode opened #29939 "Login through /rest/all/V1/integration/customer/token return error: "The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later.""
### Preconditions (*)
1. Magento version 2.4.0

### Steps to reproduce (*)
1. Create user by execute API call on: "/index.php/rest/all/V1/customers"  with json body:
`
{
  "customer": {
    "id": 0,
    "group_id": 0,
    "email": "marcinwarzybok@outlook.com",
    "firstname": "Marcin",
    "lastname": "Warzybok"
  },
  "password": "Abcdef123"
}
`
Returns result:
`
{
    "id": 2,
    "group_id": 0

[2020-09-08 12:11] engcom-Oscar commented on #29877
Hi @giordhano, Thank you for your contribution.
I've been testing this issue according your  description and have got different result.

Precondition:
Basic Magento 2.4-develop installed

Steps:
1. Add a configurable product to cart
2. Open the table 'quote_item' in DB and check records for your cart
3. Update in admin the price of the configurable option - simple product which added to your cart

[2020-09-08 12:46] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-09-08 12:46] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-08 12:47] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_c8ae](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_c8ae)
Login: `dfe8ea4c` Password: `78e7fba2f724`
Instance will be terminated in up to 3 hours.

[2020-09-08 13:14] sb-nick commented on #28614
@eurobeautiful are you on-prem hosting and not using Magento Cloud Commerce?

[2020-09-08 13:22] Flipmediaco commented on #28614
I am just looking at this issue again and it occurred to me...

@eurobeautiful @btekbtek @n2diving-dgx @aliomattux @lucasapoena @pfdcdigital @sb-nick @dribblecastle @itgwebsight @pcmerc @johnvanrees @iphigenie @cherryz23 @sanxionghuang

Are you all using CloudFlare?

[2020-09-08 13:26] m2-assistant[bot] opened #29940 "[Issue] [MFTF] add new AdminDeleteTaxRateActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29929: [MFTF] add new  AdminDeleteTaxRateActionGroup

---------
This PR introducing new `AdminDeleteTaxRateActionGroup`

[2020-09-08 13:27] m2-assistant[bot] opened #29941 "[Issue] [MFTF] add new AdminOpenCatalogProductPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29931: [MFTF] add new AdminOpenCatalogProductPageActionGroup

---------
This PR introduce `AdminOpenCatalogProductPageActionGroup` and makes  `GoToProductCatalogPageActionGroup` deprecated due to wrong naming

[2020-09-08 13:27] pfdcdigital commented on #28614
No, we are using NETACEA on Magento cloud

On Tue, Sep 8, 2020 at 6:23 PM Laurie Barker <notifications@github.com>
wrote:

[2020-09-08 13:28] magento-engcom-team commented on #29752
Hi @engcom-Delta, @engcom-Foxtrot.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.2` release.

[2020-09-08 13:28] #29752 closed, assigned to engcom-Foxtrot

[2020-09-08 13:31] magento-engcom-team commented on #29914
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37451` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 13:37] engcom-Oscar commented on #14398
Hi @itsabe , I have rechecked this issue on the latest 2.4-develop Magento instance. How I see, it is expected behavior when you select Products Import - Add/Update - new images are added to your product, but old ones remains there as well. It also confirmed here in documentation: https://docs.magento.com/user-guide/system/data-import.html.  If your have more details of the problem, please update

[2020-09-08 13:56] ci2014 commented on #23553
Similar problem here, in the cart it is with tax, in the checkout without.

[2020-09-08 14:02] janssensjelle opened #29942 "EU VAT Settings - not showing correct price on PDP"
When we follow the documentation, we expect the price on the product page/category page to be the same as in the cart. The cart is in this case correct. We set up a different storeview specifically for this, as per the instructions in the documentation.

Example: we got a product with the price 24,75 euros (6%). For Belgian VAT this is correct. For VAT rules in Netherlands, this product should cos

[2020-09-08 14:02] janssensjelle commented on #29942
@magento give me 2.4-develop instance

[2020-09-08 14:02] magento-engcom-team commented on #29942
Hi @janssensjelle. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-08 14:04] magento-engcom-team commented on #29942
Hi @janssensjelle, here is your [Magento instance](https://i-29942-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29942-2-4-develop.instances.magento-community.engineering/admin_b4a0](https://i-29942-2-4-develop.instances.magento-community.engineering/admin_b4a0)
Login: `5c893a00` Password: `0fe738587647`
Instance will be terminated in up to 3 hours.

[2020-09-08 14:12] HenKun commented on #14398
@engcom-Oscar Where exactly is stated that product images add up instead of being replaced? Type "Add/Update" means "Add or (if present) update products". Not "Combine old and new attribute values". At least as far as my logic goes. Furthermore there is another ticket concerning the same issue: https://github.com/magento/magento2/issues/21885 and already a PR, but just nothing happens with this is

[2020-09-08 15:21] MaalyALkaraki commented on #26310
Is there any update on this ? we are struggling to fix this  and it is affecting all our Magento2 customer ,we apply all the fixes and unfortunately nothing is working .

[2020-09-08 15:41] iphigenie commented on #29928
@magento give me 2.4-develop instance

[2020-09-08 15:42] magento-engcom-team commented on #29928
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-09-08 15:43] magento-engcom-team commented on #29928
Hi @iphigenie, here is your [Magento instance](https://i-29928-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29928-2-4-develop.instances.magento-community.engineering/admin_28c3](https://i-29928-2-4-develop.instances.magento-community.engineering/admin_28c3)
Login: `a77a6b1c` Password: `941f5f186304`
Instance will be terminated in up to 3 hours.

[2020-09-08 16:05] m2-assistant[bot] opened #29943 "[Issue] Add PsrLogMessageProcessor to the default log handlers"
This issue is automatically created based on existing pull request: magento/magento2#29796: Add PsrLogMessageProcessor to the default log handlers

---------
### Description (*)
This pull request adds support for using [PSR-3 placeholders](https://www.php-fig.org/psr/psr-3/#12-message) (such as {variable_name}) in the default Magento 2 logs.

### Manual testing scenarios (*)
Add a named placeholde

[2020-09-08 16:08] m2-assistant[bot] opened #29944 "[Issue] added ext-json as requirements of project to composer"
This issue is automatically created based on existing pull request: magento/magento2#29024: added ext-json as requirements of project to composer

---------
### Description (*)
we use `json_*` functions in this project but we miss add this dependency in composer

### Related Pull Requests
none

### Fixed Issues (if relevant)
none

### Manual testing scenarios (*)
not necessary, if CI passes this c

[2020-09-08 16:24] sdzhepa opened #29945 ""Magento\PageBuilder\Plugin\Filter\TemplatePlugin" mismatching strict type"
### Additional information
This issue was originally reported by @Serializator in https://github.com/magento/magento2/issues
Then it was transferred into private repo related to page-builder
After the investigation was found that the issue should be fixed not in page-builder but in CE code.
Quote by @bluemwhitew :

I would recommend re-raising this issue in the Magento 2 repository with a view to

[2020-09-08 16:25] sdzhepa commented on #29945
![original_content](https://user-images.githubusercontent.com/3409584/92502748-f20cd500-f1c5-11ea-957c-8ac09c6efae3.jpg)

[2020-09-08 16:26] magento-engcom-team commented on #29945
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37476` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 16:42] m2-assistant[bot] opened #29946 "[Issue] Avoids endless loop of indexers being marked as invalid"
This issue is automatically created based on existing pull request: magento/magento2#29196: Avoids endless loop of indexers being marked as invalid

---------
### Description (*)

Hi

This was discovered on a particular project where we noticed that the indexers `catalogrule_rule` and `catalog_category_product` are constantly being marked as `Reindex required`.

The cronjob `indexer_reindex_all_in

[2020-09-08 16:42] #29946 closed, assigned to nobody

[2020-09-08 17:02] perfpcs commented on #29797
I am having this same problem with 3 different servers running M 2.4.0. All have stuck tasks that used to process in minutes sitting in the bulk task grid and notices for weeks. Using rabbitmq for message broker. So is someone working on this issue? I can't see how anyone on M 2.4.0 is not having this problem. I would be happy even with a temporary fix if anyone has any ideas on this. How could M

[2020-09-08 17:31] lenaorobei commented on #25344
Hi @sudheers-kensium! Unfortunately I need to close this issue since this is an expected behaviour for Magento.

If you consider this block as a redundant, it can be removed through you customization.

Thank you.

[2020-09-08 17:35] perfpcs commented on #29797
To add further info for us it is various consumers and tasks getting stuck and not just the mass product attribute updates. For us we have 50-100 tasks involving Nosto extension and their product updates that are done via cron jobs:

Task "Sync 1500 Nosto products": 15 item(s) have been scheduled for update.

These seem to complete too because I have seen the number of tasks from 50-165 just for t

[2020-09-08 17:52] iphigenie commented on #29928
not reproduced - it must be installation relative then

[2020-09-08 17:52] #29928 closed, assigned to nobody

[2020-09-08 18:44] eurobeautiful commented on #28614
@sb-nick self hosted, Magento open source

[2020-09-08 18:48] sdzhepa opened #29948 "test confirmation j status"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-08 18:49] magento-engcom-team commented on #29948
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37482` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-08 20:02] nickpiro opened #29949 "Order saving error: 'salesrule_customer' Magento 2.3.x"
Hi, we're suddenly having an issue with random customer accounts. We're receiving this error when creating an order on the backend. Any idea what could be causing this!?

### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Create Order

### Expected result (*)

1. Order Successful

### Actual result (*)

1. Receive error message : Order saving error: SQLSTATE[HY000]: General er

[2020-09-08 20:07] giantdev commented on #27367
Having same issue on 2.3.3, any patches available for 2.3.3?

[2020-09-08 20:22] magento-engcom-team commented on #27244
Hi @DigitalStartupUK.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-32687` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if y

[2020-09-08 20:22] #27244 closed, assigned to nobody

[2020-09-08 21:28] TonMarton commented on #29797
Hi, I am using **mysql** and **CE** and having the exact same issue.

For me all the updates were completed (I changed price on 10 products only). But the system messages are stuck.

I don't know if it is helpful or not, but my **queue_message** table has the following contents:
`+----+---------------------------------+-------------------------------------------------------------------------------

[2020-09-08 21:42] slavvka commented on #29948
@magento give me 2.4-develop instance
with edition B2B
without extension magento/inventory, magento/magento2-page-builder

[2020-09-08 22:15] slavvka commented on #29948
@magento give me 2.4-develop instance
with edition B2B
without extension magento/inventory

[2020-09-08 22:16] adityag186 commented on #28006
Hi @deepakpant91  - Could you tell how you fixed order status problem. I created an order from admin panel with paytm gateway. I have invoiced the order but order status still says payment pending. I need to mark it as processing.

[2020-09-08 23:07] pmonosolo commented on #3544
Its 2020 and the issue is still there. Tested on 2.3.3 CE

[2020-09-08 23:22] slavvka commented on #29948
@magento give me 2.4 instance

[2020-09-08 23:22] slavvka commented on #29948
@magento give me 2.4.0 instance

[2020-09-08 23:25] slavvka opened #29950 "[TEST]"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-08 23:25] slavvka commented on #29950
@magento give me 2.3.0 instance

[2020-09-09 03:04] 0xMatt commented on #29248
Any update on this?

[2020-09-09 04:54] brideo opened #29951 "Don't make XML paths private."
### Summary (*)

I don't believe constants should be private as other implementations sometimes need to use them rather than redefining.

### Examples (*)
[code]

### Proposed solution

* do not make constants private
* If constants are private, access them through `self::` rather than `static::`

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.

[2020-09-09 06:24] korostii commented on #25938
Is this still an issue, you really cannot set up elasticsearch connection during setup? @magento-engcom-team  @sdzhepa
Just a reminder: since 2.4, having elasticsearch is an obligatory requirement for installing Magento, without the ability to setup elasticsearch connection the web setup would seem almost useless.

[2020-09-09 06:57] ihor-sviziev commented on #25938
Hi @NationwidePharma @korostii,
Thank you for your report!
Support of web wizard was deprecated in 2.3.x and dropped in Magento 2.4.0, you can see it was shown in the docs for 2.3.x version https://docs.magento.com/user-guide/v2.3/system/web-setup-wizard.html
![image](https://user-images.githubusercontent.com/1873745/92564757-5ab98780-f282-11ea-9220-c73eb96ef730.png)

As alternative you could inst

[2020-09-09 06:57] #25938 closed, assigned to ihor-sviziev, engcom-Charlie

[2020-09-09 07:02] vincent2090311 opened #29952 "getTracksCollection mismatch"
### Preconditions (*)

1. Magento 2.4
2. Magento 2.4-develop

### Steps to reproduce (*)

I just have a concern. In file vendor/magento/module-sales/view/frontend/templates/email/shipment/track.phtml, tracking collection code is
`$trackCollection = $_order->getTracksCollection($_shipment->getId())`
but in the order model class vendor/magento/module-sales/Model/Order.php, function getTracksCollecti

[2020-09-09 07:04] ihor-sviziev commented on #28081
Hi @lbajsarowicz,
Seems like all these issues were already fixed by your PRs, or some of them still reproducing?

[2020-09-09 07:05] ihor-sviziev commented on #28753
@magento give me 2.4-develop instance

[2020-09-09 07:07] pawelosajda commented on #22173
The error causes the separator

echo (new \DateTime(
            '08-09-2020',
            new \DateTimeZone('Europe/Warsaw')
        ))->format('Y-m-d');

2020-09-08

echo (new \DateTime(
	'08/09/2020',
            new \DateTimeZone('Europe/Warsaw')
        ))->format('Y-m-d');

2020-08-09

[2020-09-09 07:16] ihor-sviziev commented on #28753
Hi @Eddcapone ,
Thank you for your report!
Support of web wizard was deprecated in 2.3.x and dropped in Magento 2.4.0, you can see it was shown in the docs for 2.3.x version https://docs.magento.com/user-guide/v2.3/system/web-setup-wizard.html
![image](https://user-images.githubusercontent.com/1873745/92564757-5ab98780-f282-11ea-9220-c73eb96ef730.png)

As alternative you could install Magento usin

[2020-09-09 07:16] #28753 closed, assigned to ihor-sviziev

[2020-09-09 07:29] onepack commented on #6942
Actually. I ran into this old issue again in version 2.4. The site was running great in the months before and I have been working around the clock to get this fixed. I noticed there was a correlation between the load and these broken pages and I noticed that clearing the cache fixed things for a while (until a new load peak).
I initially thought it was due to a lack of available RAM as Redis uses

[2020-09-09 07:37] janssensjelle commented on #29942
Seems to be fixed by applying this: https://github.com/magento/magento2/issues/26014#issuecomment-565699329

[2020-09-09 07:37] #29942 closed, assigned to nobody

[2020-09-09 07:48] lbajsarowicz commented on #28081
Seems like it is.
Closing it.

[2020-09-09 07:48] #28081 closed, assigned to ihor-sviziev

[2020-09-09 08:01] rezapasha commented on #3605
Hi, I'm getting the same issue when using Mage 2.3.4  for SalesOrderRepositoryV1GetList
the fix you had just implemented, is it out in 2.3.4 or it will be in the next release?

[2020-09-09 08:26] wgamazonapi opened #29953 "Cancel order is not working properly using Magento 2 Rest API"
### Preconditions (*)
1. Magento ver. 2.3.1

### Steps to reproduce (*)
1. Configure the postman
2. Make an API call using the below details
API : rest /V1/orders
Request : {"entity": {"entity_id": 89,"status": "canceled","increment_id": "000000074"}}
Method : POST

### Expected result (*)

1.  The order MUST be cancelled and the cancel status should be shown on orders page and  order details deta

[2020-09-09 08:31] alejandrocastanon commented on #28420
Same issue - NOT fixed in 2.3.5-p1

[2020-09-09 08:34] rezapasha commented on #3605
I checked and salesInvoiceRepositoryV1GetList works fine but the same issue with SalesOrderRepositoryV1GetList on 2.3.4

[2020-09-09 08:34] onepack commented on #6942
I can hit 15 categories every second without a problem but then one hangs for a while and comes up broken.
![broken-page](https://user-images.githubusercontent.com/475598/92572033-2b0b7f00-f284-11ea-8e08-f6714e625b70.png)
It really seams a process is stuck.
However all logs are not noticing anything.
VPS messages log: no error
PHP log: nothing
Magento logs: nothing
Redis log: empty
But then httpd/

[2020-09-09 09:07] onepack commented on #6942
Setting it to 1.5GB didn't help.
Raising it to 2GB now on production against Magento 2 recommendation to keep production on 768mb.

[2020-09-09 09:16] magento-engcom-team commented on #29953
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37517` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-09 09:28] sivaschenko commented on #26957
@Usik2203 are you working on this issue?

[2020-09-09 09:35] Usik2203 commented on #26957
@sivaschenko I unassigned myself from this issue.

[2020-09-09 09:45] koenner01 commented on #28472
Bumping this ticket as this is quite a critical feature.

The descriptive labels on the address attributes are just plain wrong. The first option was introduced in https://github.com/magento/magento2/pull/21288 but this clearly was a mistake and never properly tested.

The suggestion of @k4emic is going towards the right direction with adding the correct option but the labels are still not very de

[2020-09-09 09:55] kanduvisla opened #29955 "M2.4.0 : removing credit memo button in adminhtml with around-plugin breaks layout"
I had an around-plugin in Magento 2.3.5-p2 that would remove the credit memo button. This worked fine, but in 2.4.0 it breaks the layout and I am not sure why.

### Preconditions (*)

1. Magento 2.4.0

### Steps to reproduce (*)

1. Create an order
2. Invoice the order in the admin
3. Create a plugin for `Magento\Sales\Block\Adminhtml\Order\View` with the following code:

[code]

### Expected resu

[2020-09-09 09:57] kanduvisla commented on #29955
@magento give me 2.4-develop instance

[2020-09-09 09:59] kkarski82 opened #29956 "Infinite recursion consuming all available memory"
### Summary (*)
There is a possibility that the code will enter into infinite recursion, consuming all available memory and effectively preventing the application from working entirely. This is caused by lack of early return in the recursive function.

### Steps to reproduce (*)
1. Go to Magento/Store/Model/Config/Placeholder.php and delete lines 116-129 (this way we simulate placeholder not meeti

[2020-09-09 10:01] piuga opened #29957 "File custom option download link for order doesn't work after quote is removed by sales_clean_quotes cron"
### Additional information
Due to https://github.com/magento/magento2/issues/29957#issuecomment-696802254 still actual on `2.4-develop`

### Preconditions (*)
1. Magento 2.4-develop
2. Magento 2.3.5-p2

### Steps to reproduce (*)
1. Create product with custom option file
2. In front-end place an order with this product, with any image
3. In back-end go to order and download custom option file -> i

[2020-09-09 10:12] engcom-Oscar commented on #29949
Hi @nickpiro, can you please provide more details about this issue? Like do you have any 3rd part extensions installed, do  you have any sales rules created in your instance, details of the customer like customer groups and so on.

[2020-09-09 10:15] m2-assistant[bot] opened #29958 "[Issue] Fixed critical error: The following tag(s) are not allowed: img"
This issue is automatically created based on existing pull request: magento/magento2#29863: Fixed critical error: The following tag(s) are not allowed: img

---------

### Preconditions (*)

Magento 2.4-develop
My account -> My orders pages generates critical error logs
Details: https://github.com/magento/magento2/pull/25418#discussion_r478456345

### Steps to reproduce (*)

1. Place an order as a

[2020-09-09 10:18] magento-engcom-team commented on #29958
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37520` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-09 10:35] engcom-Charlie commented on #25948
@zingix, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.
Thanks for your report!

[2020-09-09 10:35] #25948 closed, assigned to zingix

[2020-09-09 11:09] arunkumar247 commented on #13952
We are facing this issue in 2.3.5-p2 version. Please update us if any fix available for this issue.

[2020-09-09 11:17] webtekindo commented on #23938
@engcom-Oscar I see you label this as a feature request. But this is not a feature, it's a big issue and requirement to make any legal accounting with Magento, and that since Magento exists.

This situation put all users (at least European) in a situation where we do not not comply to the law with incorrect refund invoice sent to customer.

So maybe a little more attention to that issue will be mu

[2020-09-09 11:17] ihor-sviziev commented on #6942
@onepack according to the logs you shown above - seems like you got the out of memory issue, please check if your increased memory is being used, the best option will checking the memory_limit parameter in the output of the `phpinfo()` function on the **web** request

[2020-09-09 11:23] tropilex commented on #23938
Agree to @webtekindo. Without being this solved there is no way Magento complies with the EU Law!

[2020-09-09 11:27] magento-engcom-team commented on #29601
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37523` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-09 11:42] onepack commented on #6942
@ihor-sviziev
Thank you for reaching out.
That was also my first idea but the same set of error messages keep on coming op.
First we raised to 1.5GB: same messages.
Then 2GB: Same messages
Allowed memory size of 2147483648 bytes exhaused, tried to allocate 33554432 bytes in the module-csp/Model/BlockCache.php line 78
Also the same in public_html/vendor/magento/framework/Serialize/Serializer/Json.p

[2020-09-09 11:45] rl-akjaer commented on #28901
Why was the label for "Reproduced on 2.3.5p2" tag removed? It's certainly a reproducible bug in the 2.3 branch.

Will this be yet another bug that's not going to be fixed in 2.3.6...?

[2020-09-09 11:59] engcom-Oscar commented on #29939
Hi @codemasternode , thank you for your report. I couldn't reproduce this issue on the latest 2.4-develop branch. May you please provide additional details how you got such result?

[2020-09-09 12:01] luka4 commented on #29365
why "entity_id" ?? that must be "row_id". e.g.:
`['row_id', 'attribute_id', 'store_id', 'value_id', 'value']`

[2020-09-09 12:14] LiamKarlMitchell commented on #26053
[code]
Responds with
[code]
So then the client using the API has to put the parameters into the message.

Why "The image does not exist." I want to upload an image. (Magento 2.2.0)
The image is base64 encoded.

Another inner exception I got when I changed the filename was "Unable to save product"

In this case that I ran into,
When saving from Magento admin turns out permissions are denied on the

[2020-09-09 12:20] vass30 commented on #18240
@magento I am working on this

[2020-09-09 12:27] Eddcapone opened #29960 "Cart item QTY is not getting updated if customer goes directly to checkout"
### Description (*)

1. Add exactly one product to cart.
2. Go to cart view.
3. Write another value in the QTY field of the item, but don't press on the "refresh cart" button.
4. Go to checkout.
5. Notice that the amount of the item is still **one**.

### Expected behavior (*)

Magento should detect the QTY change and save it before going the checkout.

### Benefits

You don't necessarily have to

[2020-09-09 12:27] vass30 commented on #18240
@magento add to contributors team

[2020-09-09 13:03] ihor-sviziev commented on #6942
@onepack **This is definitely not related to listed above issue**.
I believe you have some custom extension or theme that causing such issue, I would recommend you to debug on which exact request this issue appears (usually there is 500 error), maybe add some additional logs if neede dand then try to reproduce it yourself. If you'll find the root cause - please report separate issue.
If you still

[2020-09-09 13:14] wjpbill commented on #28614
I'm getting the same problem, seems like there is a lot of us.

To date we've been hit 4 times. The first two they processed circa 800 attempts in 10 minutes, was amazed the server held up.
Since then, I've joined the Wackamole club and I'm blocking IP addresses as they pop up. I have implemented Braintree Fraud rules to stop repeated requests on the same card etc. but it doesn't stop the traffic.

[2020-09-09 13:21] engcom-Oscar commented on #29938
Hi @mehmetuygun, thank you for your report.
I have tested this issue on latest Magento 2.4-develop branch, following steps you described in the ticket, but got a bit different result. When I applied coupon on Payment page during checkout, my shipping method got status from 'Free shipping' into 'Not yet calculated'. When I tried to place order, I got message: 'The shipping method is missing. Select

[2020-09-09 13:21] onepack commented on #6942
I did some elastic searches and got a result on the result page but it also gave an error in the RAM.
Allowed memory size of 2147483648 bytes exhausted, tried to allocate 33554432 bytes in the module-csp/Model/BlockCache.php line 78
Again the cache files.

As a visitor on the frontend you don't notice this but the next search or going to a category around the same time will result in a broken layo

[2020-09-09 13:45] engcom-Oscar commented on #29876
Hi @dukir , thank you for your report. I couldn't reproduce the issue following steps you described in the ticket. Probably it was already fixed by some other PR, can you please recheck it (on clean Magento 2.4-develop branch).

[2020-09-09 13:54] onepack commented on #6942
@ihor-sviziev
I have been working on this issue for some days now and believe me, the first thing to do is:
deactivate the theme.
deactivate all third party modules
recompile the whole thing.
Test.
I will create a new bug report as the outcome of the pages being broken seems the same but the source of the problem seems different as there seems to be a memory leak causing this.

[2020-09-09 14:24] buituanbg opened #29963 "Order captured in payment gateway but order didn't save into Magento 2"
### Preconditions (*)

1. Magento 2.2.0 - 2.3.5 - 2.3.5-p1 - 2.3.5-p2 - 2.4
2. nginx, Mysql, PHP7.2, varnish, redis
3. Server Intel Xeon E5-2630 V4
CPU: 10 Cores @ 2.2 GHz
1TB SSD (RAID)
64GB RAM

### Steps to reproduce (*)

1. The sales_order_item table got more than 2Gb and my site had about 4-500k orders
2. Customer purchase use credit card or PayPal
3. This happens with almost payment gateway(

[2020-09-09 14:26] buituanbg commented on #29963
@magento I am working on this

[2020-09-09 14:27] buituanbg commented on #29963
@magento add to contributors team

[2020-09-09 14:28] buituanbg commented on #29963
@magento I am working on this

[2020-09-09 14:33] mrtuvn commented on #29951
seem related with issue https://github.com/magento/magento2/issues/29879

[2020-09-09 14:42] engcom-Delta commented on #29917
Hi @elbasri
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
You could change language for admin panel here: admin->Account Settings(admin)
![Screenshot_141](https://user-images

[2020-09-09 14:42] #29917 closed, assigned to engcom-Delta

[2020-09-09 15:04] engcom-Delta commented on #29163
Hi @scooper5569 you for your report, issue is not reproducble on latest composer version 2.4.0 as [Removed the Extension Manager section of the Software Update Guide and redirected it to the CLI installation.](https://devdocs.magento.com/whats-new.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=Extension%20Manager)
Please take a look docs about [extension](htt

[2020-09-09 15:04] #29163 closed, assigned to engcom-Delta

[2020-09-09 15:08] iphigenie commented on #28614
We are on stripe. I don't think it matters much which it is, the thing that matters is the way to prepare carts and checkout via open API.

We were much more mildly hit - first a set of maybe a dozen attempts, which I reported to Stripe as I felt bad for the people - surprised nobody there knew to tell me "it's likely that was a test, it worked, so they will likely come back"

Then the next aftern

[2020-09-09 15:12] onepack commented on #6942
@ihor-sviziev
for your information.
vendor/magento/module-csp/Model/BlockCache.php is the root of all evil.
The public function load($identifier) to be precise.
I will create a new issue to point this out.
Disabling the module fixed the issue for us.

[2020-09-09 15:22] andrey-legayev commented on #6942
@onepack Your case looks to me different than the issue described by me above.
Do you have one Redis node or master-slave replication?

[2020-09-09 15:32] netfarma commented on #25222
Hi,

This happen also on 2.4.0

to reproduce issue just open on new browser tab return_url (paypal/express/onAuthorization) from Paypal with token and PayerID in it.
you can generate any number of orders paid

It happens becouse of muted error
`vendor/magento/module-paypal/Model/Api/Nvp.php : 1294`

`
        /**
         * The response code 10415 'Transaction has already been completed for this t

[2020-09-09 15:51] nickpiro commented on #29949
Hi @engcom-Oscar , so I discovered that this seems to have been caused by me disabling a Free Shipping rule based on Customer Group. I made the Free Shipping rule inactive but not deleted. Once I re-enabled it, I was able to place the order. Very odd behavior.

[2020-09-09 15:57] onepack opened #29964 "Magento 2.4 critical load of RAM triggering OOM killer due to CSP module 100.4.0"
### Preconditions (*)

1. Magento 2.4.0
2. PHP 7.3 and 7.4
3. Redis enabled for FPC and backend cache
4. Elasticsearch 7.8.1
5. Database mariadb 10.4
6. 8gb to 10gb of VPS ram with Magento having 2gb assigned.

### Steps to reproduce (*)

1. Set the shop to production mode
2. Have around 2000+ products in multiple categories
3. Clear all caches and also redis-cli flushall
4. Open a dropdown with c

[2020-09-09 16:01] onepack commented on #6942
@andrey-legayev
Thanks for replying.
It was not a Redis issue after all but the broken page results would look the same as in the old M1 days.
Please check the new case:
https://github.com/magento/magento2/issues/29964

[2020-09-09 16:48] willjones-stratagem opened #29966 "2.4.0: Configuring multiple 2FA providers requires all providers for all users"
### Preconditions

- Magento 2.4.0
- PHP 7.3 and 7.4

### Steps to reproduce

Enable (and configure) the following 2FA providers:

- Duo
- Google
- U2F.

### Expected result

A user can choose between one of the three 2FA methods.

### Actual result

Magento expects all three 2FA providers to be configured for every user account and it is not possible to pick and choose which provider is used on a

[2020-09-09 16:55] hostep commented on #29951
@brideo means that the const declaration should be public as it's a constant defining an xml path which can be of use to other modules to fetch configuration values. Right now you can't use the const outside of this class and you have to redefine it in your own module, which can be annoying.

I agree that all consts which define an xml path to a configuration should be public so we can easily acce

[2020-09-09 17:10] elbasri commented on #29917
Hi, thank you but it not the solution... i already mentioned that even changing the profile locale (from account settings) it doesnt affect the lang at all !

[2020-09-09 18:34] darpanpatel2018 opened #29969 "product qty decimal value not update on cart page"
dear sir,
I have used 2.3.5-p1 version. and when I was select qty increment in decimal value after that I added product in add to cart after that I was trying to update product qty in decimal value that time one message created ( please enter valid value).
for example, I have added 1.2 product qty and after that, I tried to update 1.5 that time not updated qty value.

_Originally posted by @darpan

[2020-09-09 18:37] darpanpatel2018 opened #29970 "Decimal product qty not update in product cart page"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-09 19:58] gabrieldagama commented on #29098
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27896 by @Mohamed-Asar in 2.4-develop branch
Related commit(s):
 - [6ba9fffec8cb4d9a97c96205ba732eaf7865185c](https://github.com/magento/magento2/commit/6ba9fffec8cb4d9a97c96205ba732eaf7865185c)
 - [2e75baef105b0ff2a403ad5f26362c3a86fd52b2](https://github.com/magento/magento2/commit/2e75baef105b0ff2a403a

[2020-09-09 19:58] #29098 closed, assigned to nobody

[2020-09-09 19:58] gabrieldagama commented on #28431
Hi @mack4hack. Thank you for your report.
The issue has been fixed in magento/magento2#28689 by @syed-ziffity in 2.4-develop branch
Related commit(s):
 - [8974e16d98b6154c64b5de6288d3d7ac7cc7291e](https://github.com/magento/magento2/commit/8974e16d98b6154c64b5de6288d3d7ac7cc7291e)
 - [e962d7c44e3d754ef8de4582d9e636918384b276](https://github.com/magento/magento2/commit/e962d7c44e3d754ef8de4582d9e63

[2020-09-09 19:58] #28431 closed, assigned to syed-ziffity

[2020-09-09 19:58] gabrieldagama commented on #29779
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29771 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [16f97b054b55302c6f53bd139b33895f250b908a](https://github.com/magento/magento2/commit/16f97b054b55302c6f53bd139b33895f250b908a)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-09 19:58] #29779 closed, assigned to nobody

[2020-09-09 19:58] gabrieldagama commented on #29277
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#29278 by @edenduong in 2.4-develop branch
Related commit(s):
 - [ca09097a7cfa6006fa420218265826f656744685](https://github.com/magento/magento2/commit/ca09097a7cfa6006fa420218265826f656744685)
 - [c82e68f85c97423a41d28fd6b2ca540c0f31fd0c](https://github.com/magento/magento2/commit/c82e68f85c97423a41d28fd6b2ca540c

[2020-09-09 19:58] #29277 closed, assigned to edenduong

[2020-09-09 19:58] gabrieldagama commented on #1789
Hi @CRYX2. Thank you for your report.
The issue has been fixed in magento/magento2#29861 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [04a9f44e2e000d180a2d02bef81768df660812e6](https://github.com/magento/magento2/commit/04a9f44e2e000d180a2d02bef81768df660812e6)
 - [47b5eeac08bd15b6be6f59e47643030f8726ab66](https://github.com/magento/magento2/commit/47b5eeac08bd15b6be6f59e47643030f8726ab

[2020-09-09 19:58] gabrieldagama commented on #29914
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29913 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [1b76317db0d8653d18cb3ea143f5a0711713ba25](https://github.com/magento/magento2/commit/1b76317db0d8653d18cb3ea143f5a0711713ba25)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-09 19:58] #29914 closed, assigned to nobody

[2020-09-09 19:58] gabrieldagama commented on #29857
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29856 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [c1cac89621caa92996ee719eecbeede407b13fa1](https://github.com/magento/magento2/commit/c1cac89621caa92996ee719eecbeede407b13fa1)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-09 19:58] #29857 closed, assigned to nobody

[2020-09-09 19:58] gabrieldagama commented on #29336
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29276 by @edenduong in 2.4-develop branch
Related commit(s):
 - [37e5e156af6d976eec05e6318c3f4bd02830d6b6](https://github.com/magento/magento2/commit/37e5e156af6d976eec05e6318c3f4bd02830d6b6)
 - [dc8a387ba3b0a01e31045f03399014d88793e04d](https://github.com/magento/magento2/commit/dc8a387ba3b0a01e31045f03

[2020-09-09 19:58] #29336 closed, assigned to edenduong

[2020-09-09 19:58] gabrieldagama commented on #29277
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#29278 by @edenduong in 2.4-develop branch
Related commit(s):
 - [ca09097a7cfa6006fa420218265826f656744685](https://github.com/magento/magento2/commit/ca09097a7cfa6006fa420218265826f656744685)
 - [c82e68f85c97423a41d28fd6b2ca540c0f31fd0c](https://github.com/magento/magento2/commit/c82e68f85c97423a41d28fd6b2ca540c

[2020-09-09 19:58] gabrieldagama commented on #29277
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#29278 by @edenduong in 2.4-develop branch
Related commit(s):
 - [ca09097a7cfa6006fa420218265826f656744685](https://github.com/magento/magento2/commit/ca09097a7cfa6006fa420218265826f656744685)
 - [c82e68f85c97423a41d28fd6b2ca540c0f31fd0c](https://github.com/magento/magento2/commit/c82e68f85c97423a41d28fd6b2ca540c

[2020-09-09 20:23] Daniel-Khalily-3linc commented on #20229
/var/www/magento/vendor/magento/module-catalog/Helper/Output.php is failing because when the description isn't present,  it's a Phrase Object and not a string. Casting to (string) fixes it.

Here's my patchfile for 2.3.5-p1
Magento\Framework\Phrase Object
(
    [text:Magento\Framework\Phrase:private] => N/A
    [arguments:Magento\Framework\Phrase:private] => Array
        (
        )
)
[patchfile.

[2020-09-09 20:53] BreezeMaxWeb-NS commented on #28614
Got hit with 400,000 attempts over the long weekend, Braintree told us to implement reCAPTCHA, and that it should be "super easy" with "tons of tutorials showing exactly what's required"... Am I blind? How would I even go about implementing reCAPTCHA inside of Magento 2 for the GeneCommerce Braintree module? We already have the build-in reCAPTCHA enabled on the frontend and backend.

Also, trying

[2020-09-09 21:38] pcmerc commented on #28614
What a deal. Release software so other companies can pay for it & other developers to fix the crap that was released.
#jobsecurity I guess
Hopefully that is resolved in a timely fashion.

[2020-09-09 22:57] brideo commented on #29879
yeah I came across #28981 after, might be worth closing this one as it's a duplicate I guess.

[2020-09-09 23:07] brideo commented on #29951
I am running 2.4.0, which doesn't work because of this exact issue. I assume it can be closed because of #28981 which is this is kind of a of.

[2020-09-09 23:09] brideo commented on #29951
Actually no sorry I'm wrong, I just looked through the commits. Why are we choosing to make constants unaccessible? They're useful for third party vendors, in fact I always thought it was best practise to access these values using constants?

[2020-09-09 23:19] MichaelThessel opened #29971 "Layered navigation swatches ignore show tooltip setting"
### Preconditions (*)

1. 2.3.5-p2

### Steps to reproduce (*)

1. Set i.e. size attribute to show in layered navigation
2. Set attribute to be a visual swatch
3. Set Catalog > Catalog > Storefront  > Show swatch tooltip to no

### Expected result (*)

1. The swatches in the layered navigation shouldn't show a tooltip on hover

### Actual result (*)

1. The swatches in the layered navigation  show

[2020-09-10 03:00] mrtuvn commented on #29870
Do you have customise on theme ? Maybe some block related reviews moved away and link will not work anymore

[2020-09-10 03:16] goivvy commented on #12119
He had an issue like this and oh boy. It was hard to figure out until I noticed a custom theme file had been edited. Long story short, it's most like your custom theme or your custom extension. Turn off all custom modules and switch to Luma. Then if it starts working, turn on modules one by one to see which one breaks the site. If they all work fine then it's your custom theme that needs closer in

[2020-09-10 04:01] krishprakash commented on #29970
Hi @darpanpatel2018. Kindly update all necessary details precondition,steps to reproduce, expected and actual results as per issue reporting guidelines
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2020-09-10 04:10] #29970 closed, assigned to krishprakash

[2020-09-10 04:13] krishprakash commented on #29969
Hi @darpanpatel2018. Kindly update all necessary details precondition,steps to reproduce, expected and actual results as per issue reporting guidelines
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks!!

[2020-09-10 05:51] engcom-Delta commented on #29917
@elbasri Also appropriate language pack should be installed

[2020-09-10 06:46] bhanu-webkul opened #29973 "Wrong order status showing in case customer has ordered 3 qty of one product, and admin invoiced2 refunded 1,shipped 1 and cancelled 1"
### Preconditions (*)

1. magento v 2.4.0
2.

### Steps to reproduce (*)

1.place an order of 3 qty of any product, create invoice for 1 qty from admin then generate refund for that
2.then again create invoice for 1 qty and do shipment
3.then cancel the order
like this - https://prnt.sc/uepp9g

### Expected result (*)

1. order status should be completed in this situation
2.

### Actual result (*)

[2020-09-10 06:58] ihorvansach commented on #26786
In my case this error was related to the custom extension that was installed on the Magento instance.
The easiest way to find the the source of the issue is to print backtrace in file
vendor/magento/module-checkout/Model/Session.php right before the line
throw new \LogicException("Infinite loop detected, review the trace for the looping path");

to detect what plugin/observer/rewrite creates a loo

[2020-09-10 07:09] shikhamis11 commented on #29973
@bhanu-webkul Please share magento version in issue description
also try to reproduce the same on magento instances you can refer to [this](https://github.com/magento/magento2/issues/29973#issuecomment-690026511)

[2020-09-10 07:11] bhanu-webkul commented on #29973
@shikhamis11
Magento version is 2.4.0

[2020-09-10 07:15] bhanu-webkul commented on #29973
@magento  give me 2.4-develop instance to reproduce the issue

[2020-09-10 07:36] engcom-Oscar commented on #29876
Hi @dukir , thank you for your report. I couldn't reproduce this issue on latest 2.4-develop Magento branch. May you please recheck it?

[2020-09-10 07:47] bjarn commented on #29138
This issue still persists as of today. We're currently experiencing the same issue.

This particular shop is running Magento 2.3.5-p1. This works on the staging environment but not on the production environment. The only difference here is that the staging environment only contains ~150 product images. In case of production, it's over 74GB worth of images. Probably the reason why it's stuck and th

[2020-09-10 08:15] amenk commented on #15043
I believe this has a huge performance impact,

`\Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox::hasSpecialPrice` loops through all simple products - there is a reason this is not being done on the product list.

The best solution we found so far is this approach: https://magento.stackexchange.com/a/322012/81

[2020-09-10 08:55] huykon opened #29974 "[GraphQl bug] Couldn't re-order in in different store"
### Preconditions (*)

**1. Create order by graphql (pwa-studio)
2. Magento 2.4.0**

### Steps to reproduce (*)

I have 2 store (English, Arabic).
1. Login as customer account
2. Create an order at English storeview
3. After order complete, switch to Arabic storeview then navigate to: Customer account -> order history
4. Try to re-order item.
5. I received the message: **_Order number "%1" doesn't

[2020-09-10 08:55] dverkade opened #29975 "Unable to synchronize all media files because sync process run only of 5 minutes."
### Preconditions
1. Magento 2.3.5-p2
2. Have around 30.000 images and 75 GB of images data stored in Magento
3. Ticket #29138 is related but was closed.

### Steps to reproduce
1. Login into Magento admin
2. Go to Stores > Settings > Configuration
3. Expand 'Advanced' section and choose 'system'
4. Select 'Storage Configuration for Media' and choose 'Database' from the "Media Storage' dropdown
5.

[2020-09-10 09:00] ihor-sviziev opened #29976 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-10 09:00] ihor-sviziev commented on #29976
@magento give me 2.4-develop instance
with edition B2B

[2020-09-10 09:00] #29976 closed, assigned to nobody

[2020-09-10 09:01] gabrieldagama commented on #24348
Hi @hostep, We have got a PR that aims to fix this issue https://github.com/magento/magento2/pull/29968

But the expected behavior may not be the one described on the issue, here the contributor has applied the same behavior that the filters have on the search for the grid. So basically if you apply filters or search on the grid, the grid will deselect all records, which would prevent the problem

[2020-09-10 09:02] ihor-sviziev commented on #29806
@dverkade could you add some example which request varnish gets?

[2020-09-10 09:07] ihor-sviziev commented on #10766
@ennostuurman thank you! I'm closing this issue as not relevant anymore.

[2020-09-10 09:07] #10766 closed, assigned to ihor-sviziev

[2020-09-10 09:16] dverkade commented on #29806
@ihor-sviziev example was already included in the initial description. The varnish request is including the following tags at this point: "cat_p" and "cat_c".

[2020-09-10 10:09] PascalBrouwers commented on #20975
@magento run all tests

[2020-09-10 10:15] magento-engcom-team commented on #29973
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-10 10:16] magento-engcom-team commented on #29973
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-10 10:18] magento-engcom-team commented on #29973
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37573` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-10 10:26] Eddcapone opened #29977 "Copy & Pasting text from multiple page builder elements on a site build with page builder, into a text node, leads to failed saving and infinite load screen, after attempting to save"
### Preconditions (*)

1. Enterprise 2.4.0

### Steps to reproduce (*)

1. Create a new CMS site (test-foo) by using the page builder. Create 4 columns like seen here:

![image](https://user-images.githubusercontent.com/16349349/92716820-a1c97a80-f35f-11ea-8d04-1cc88b511813.png)

2. Save.
3. Open your CMS site in the frontend in another tab, the one which you created earlier (test-foo)
4. Mark the

[2020-09-10 10:36] oviliz commented on #27447
This is a suggestion rather than an issue. I wonder if there's a section for suggestions @magento-admin

[2020-09-10 10:40] #25955 closed, assigned to nobody

[2020-09-10 10:44] Emanuel-23 commented on #26521
I can confirm this. When changing the admin locale to EN all email transactions use the EN country string instead of the german one, even though the store/storeview has correctly been set to DE (german).

[2020-09-10 11:13] magento-engcom-team commented on #29603
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37574` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-10 11:17] magento-engcom-team commented on #29971
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37576` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-10 11:29] Flipmediaco commented on #28614
The issue does highlight a vulnerability in the Magento 2 REST API /rest/<store view>/V1/guest-carts/<cart_id>/payment-information

The REST API should have some form of validation that marks the cart as invalid when it is repeatedly accessed in this way. Changing IP address in quick succession. Or have an expiry, the attack is set up around 24hrs in advance, but the cart remains valid. The Cart n

[2020-09-10 12:30] engcom-Oscar commented on #29808
Hi @avinashm29 , thank you for your report. Unfortunately, you provided not enough information to reproduce the issue. Please update it according issue reporting guideline and provide more details about it.

[2020-09-10 13:34] magento-engcom-team commented on #29523
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37578` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-10 13:36] munkhulzii commented on #29251
Related Pull Request: https://github.com/magento/magento2/pull/29978

[2020-09-10 13:50] arvind-curotec commented on #23450
Magento version 2.3.4-p2
All processes running correctly.  Still the export not working.

Here are the consumer processes:
[code]

[2020-09-10 13:53] HenKun commented on #23450
Listing the queue consumers does not mean the processes are running.
Run `ps aux` to see if they are really spawned.

[2020-09-10 13:56] arvind-curotec commented on #23450
@HenKun  Please See the output below:

[code]

[2020-09-10 14:11] HenKun commented on #23450
So obviously they are running. Just wanted to make you aware, that `queue:consumers:list` is no indicator of running processes.

[2020-09-10 14:31] damienwebdev opened #29980 "[DevX]: Forcing "Pre-Encryption" of config set via ENV is awkward and creates poor developer behaviors"
### Summary (*)
As a developer doing deployments, I'd like to be able to set certain sensitive values at deploy time via environment configuration. Unfortunately, Magento v2.4.X requires that configuration settings set via ENV (that would otherwise be set and encrypted in the database or `app/etc/env.php`) are encrypted.

This leads to awkward deployment behaviors where ENV configuration must be c

[2020-09-10 14:36] vipin12117 opened #29981 "Magento 2 Catalog Product Flat Data index"
#Summary of the issue

SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 65535. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs

CREATE TEMPORARY TABLE `catalog_product_entity_int_tmp_indexer_value` (
  `entity_id` int UNSIGNED NULL COMMENT 'Entity_id' ,

[2020-09-10 14:40] perfpcs commented on #23450
Alot of us are having this bulk update problem and beneral messaging broker problems with M 2.4.0. Would be nice to get team Magento to fix this bad problem!!   https://github.com/magento/magento2/issues/29797

[2020-09-10 14:45] m2-assistant[bot] opened #29982 "[Issue] [WIP][MFTF] Add AdminClickInvoiceButtonIntoOrderActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29962: [WIP][MFTF] Add AdminClickInvoiceButtonIntoOrderActionGroup

---------
This PR introduce `AdminClickInvoiceButtonIntoOrderActionGroup`

[2020-09-10 14:45] vipin12117 opened #29983 "Magento 2 Catalog Product Flat Data indexing"
### Preconditions (*)

1. Magento 2.3.5-p1
2. PHP version v7.3.22
3. Mysql 5.7.31
4. Linux Centos 7
![image](https://user-images.githubusercontent.com/7281181/92747698-19b89480-f3a2-11ea-9628-0d80fc1fac80.png)

### Steps to reproduce (*)

1. Run the indexing process
2. bin/magento indexer:reindex

### Expected result (*)

1. Should get success indexing
2.
Category Flat Data index has been rebuilt

[2020-09-10 14:46] m2-assistant[bot] opened #29984 "[Issue] Update zip_codes.xml"
This issue is automatically created based on existing pull request: magento/magento2#29972: Update zip_codes.xml

---------
Changed regex for zipcodes from Brazil. All zipcode must have 8 positions, with or without dash

### Preconditions: (*)
Magento 2.4-develop
Changed the regex to force 8 digits for zipcode in Brazil

### Related Pull Requests
n/a

### Fixed Issues (if relevant)
Didn't found is

[2020-09-10 14:52] #29981 closed, assigned to nobody

[2020-09-10 15:04] kevinruscoe commented on #25659
This happens in 2.2.11, but the code fix from https://github.com/magento/magento2/blob/2.3.5-p1/app/code/Magento/Sales/Model/Order/Payment/State/RegisterCaptureNotificationCommand.php#L38 works fine. So I guess this fix can be pushed to the 2.2 branch?

[2020-09-10 15:51] azambon commented on #25659
I see no fix in 2.3.5-p1, only in 2.4.0.

If you do a "blame" of that file for version 2.3.5-p1 you'll find the commit that introduced the bug: https://github.com/magento/magento2/commit/f3234e1f59a282e26034a03f5d85cb24ba54bcd8#diff-68f9035e0545c5442dde19b0ba0fa9b4L38

Compare with 2.4.0: https://github.com/magento/magento2/blame/2.4.0/app/code/Magento/Sales/Model/Order/Payment/State/RegisterCaptu

[2020-09-10 15:51] m2-assistant[bot] opened #29987 "[Issue] Fix wrong typo function name"
This issue is automatically created based on existing pull request: magento/magento2#29986: Fix wrong typo function name

Correct function name caused by typo

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Correct function name caused by typo

### Expected result (*)
Correct function name

### Actual result (*)
Fix wrong typo function name

[2020-09-10 16:16] m2-assistant[bot] opened #29988 "[Issue] [vcl] don't explicitly hash the host header"
This issue is automatically created based on existing pull request: magento/magento2#28928: [vcl] don't explicitly hash the host header

---------
Hashing `req.http.host`/`client.ip` is already handled by the [built-in
vcl](https://github.com/varnishcache/varnish-cache/blob/6.0/bin/varnishd/builtin.vcl#L86)
so there's no need to repeat it explicitly.

It's also a bit confusing as `req.url` is not

[2020-09-10 16:58] magento-engcom-team commented on #28892
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-10 16:59] magento-engcom-team commented on #28892
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37585` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-10 17:28] sidolov commented on #29017
The issue should be reproduced via WebApi call during the new attribute creation since the logic is absent in the repoistory

[2020-09-10 19:41] sivaschenko opened #30164 "Stabilize CMS Page asset links tests"
### Preconditions (*)
Setup MFTF

### Steps to reproduce (*)
1. Create a PR removing skip from the following tests:
 - app/code/Magento/MediaGalleryCmsUi/Test/Mftf/Test/AdminMediaGalleryAssertUsedInLinkPagesGridTest.xml
 - app/code/Magento/MediaGalleryCmsUi/Test/Mftf/Test/AdminMediaGalleryCmsUiUsedInPagesFilterTest.xml
 - app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryDisabledCont

[2020-09-10 19:45] magento-engcom-team commented on #29601
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27391 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [652971e5b1cdd6df545b6c8a99cd1c306b0a10d9](https://github.com/magento/magento2/commit/652971e5b1cdd6df545b6c8a99cd1c306b0a10d9)
 - [24d7a8ac3ae209fcd21c2b52624b36060e7fc6cd](https://github.com/magento/magento2/commit/24d7a8ac3ae209fcd21c2

[2020-09-10 19:45] #29879 closed, assigned to toxix

[2020-09-10 19:45] #29601 closed, assigned to nobody

[2020-09-10 19:45] magento-engcom-team commented on #27350
Hi @webkul-ajaysaini. Thank you for your report.
The issue has been fixed in magento/magento2#27602 by @gauravagarwal1001 in 2.4-develop branch
Related commit(s):
 - [2f8b560ab3801595d8e78b2f4c696c8c75974e9b](https://github.com/magento/magento2/commit/2f8b560ab3801595d8e78b2f4c696c8c75974e9b)
 - [51fcc42c31b916ecc134e94df055792e0772f7e6](https://github.com/magento/magento2/commit/51fcc42c31b916ecc

[2020-09-10 19:45] #27350 closed, assigned to nobody

[2020-09-10 19:45] magento-engcom-team commented on #11998
Hi @VesnaS. Thank you for your report.
The issue has been fixed in magento/magento2#27832 by @Krielkip in 2.4-develop branch
Related commit(s):
 - [65c06eb13208f9f4fe851ae136e61fe5a06642e4](https://github.com/magento/magento2/commit/65c06eb13208f9f4fe851ae136e61fe5a06642e4)
 - [7f4b2766b8b068ca03595d0548e84ed94c47773b](https://github.com/magento/magento2/commit/7f4b2766b8b068ca03595d0548e84ed94c47

[2020-09-10 19:45] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27832 by @Krielkip in 2.4-develop branch
Related commit(s):
 - [65c06eb13208f9f4fe851ae136e61fe5a06642e4](https://github.com/magento/magento2/commit/65c06eb13208f9f4fe851ae136e61fe5a06642e4)
 - [7f4b2766b8b068ca03595d0548e84ed94c47773b](https://github.com/magento/magento2/commit/7f4b2766b8b068ca03595d0548e84e

[2020-09-10 19:45] magento-engcom-team commented on #28981
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29925 by @toxix in 2.4-develop branch
Related commit(s):
 - [2d1d097b39bdd94ef6e929c34fc721113a3505ea](https://github.com/magento/magento2/commit/2d1d097b39bdd94ef6e929c34fc721113a3505ea)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-10 19:45] magento-engcom-team commented on #29879
Hi @Cheeerd. Thank you for your report.
The issue has been fixed in magento/magento2#29925 by @toxix in 2.4-develop branch
Related commit(s):
 - [2d1d097b39bdd94ef6e929c34fc721113a3505ea](https://github.com/magento/magento2/commit/2d1d097b39bdd94ef6e929c34fc721113a3505ea)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-10 19:45] magento-engcom-team commented on #12087
Hi @ghost. Thank you for your report.
The issue has been fixed in magento/magento2#29006 by @engcom-Kilo in 2.4-develop branch
Related commit(s):
 - [7f0f260d3110a055ca1f8fa4886e766dd303b6c1](https://github.com/magento/magento2/commit/7f0f260d3110a055ca1f8fa4886e766dd303b6c1)
 - [2a48abee8a17331fdea9d3ba4738e5394d73a13b](https://github.com/magento/magento2/commit/2a48abee8a17331fdea9d3ba4738e5394d

[2020-09-10 19:45] #12087 closed, assigned to nobody

[2020-09-10 19:45] magento-engcom-team commented on #29958
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29863 by @themystery404 in 2.4-develop branch
Related commit(s):
 - [798e61ffa7c242c9ab84b3b7ffd01a72623e71ed](https://github.com/magento/magento2/commit/798e61ffa7c242c9ab84b3b7ffd01a72623e71ed)
 - [047228139f8fd8f10decf7f442e356913dd4f90b](https://github.com/magento/magento2/commit/047228139f8fd8f10dec

[2020-09-10 19:45] #29958 closed, assigned to nobody

[2020-09-10 19:45] magento-engcom-team commented on #8538
Hi @spyrule. Thank you for your report.
The issue has been fixed in magento/magento2#28687 by @AbdulRahmanAbouzaid in 2.4-develop branch
Related commit(s):
 - [674324c6ae3cdee5c664bac6be3e275070bda758](https://github.com/magento/magento2/commit/674324c6ae3cdee5c664bac6be3e275070bda758)
 - [9fac5f7173db77e933e5a59e671151d9bf0b62c2](https://github.com/magento/magento2/commit/9fac5f7173db77e933e5a59e

[2020-09-10 19:45] #8538 closed, assigned to nobody

[2020-09-10 19:45] magento-engcom-team commented on #26876
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#26877 by @ilnytskyi in 2.4-develop branch
Related commit(s):
 - [405dfec0026e6be2c11281d31774f08a293ded2d](https://github.com/magento/magento2/commit/405dfec0026e6be2c11281d31774f08a293ded2d)
 - [f8a5126f32f5c6e1eeedeff893873974ae8cb6d4](https://github.com/magento/magento2/commit/f8a5126f32f5c6e1eeedeff893873974

[2020-09-10 19:45] #26876 closed, assigned to ilnytskyi

[2020-09-10 20:49] drc0 commented on #29017
@sidolov sorry I'm not sure I understood your comment, but a POST to `/V1/products/attributes` with this payload and the patch applied we can verify that the check is respected (and not hardcoded to 30 chars):
here the attribute is created:

[code]

while a POST with an attribute_code of 61 chars (\Magento\Eav\Model\Entity\Attribute::ATTRIBUTE_CODE_MAX_LENGTH is 60), fails with this error `abstrac

[2020-09-10 21:10] sdzhepa commented on #5927
The issue should be re-checked on the latest `2.4-develop` branch.
If its still actual on `2.4-develop` it should be confirmed with the label `Reproduced on: 2.4.x`
If not the issue should be closed

[2020-09-10 21:18] #29948 closed, assigned to sdzhepa

[2020-09-10 21:33] sdzhepa commented on #29073
Hello @stupachenko @engcom-Delta

As I remember it was discussed multiple times and each time it was closed as not a bug.
Based on the description its appears only if we add Attribute to the Attribute Set. This Attribute Set was already used for products. And after that, we add a new required attribute with a default value.
If Magento automatically updates all products based on this Attribute Set

[2020-09-10 21:42] sdzhepa commented on #27458
Changed priority and severity according to the internal jira ticket
https://jira.corp.magento.com/browse/MC-37306

[2020-09-11 00:49] cspruiell opened #29990 "CreditHistory GraphQL query returns an error"
### Preconditions (*)

1. Magento version 2.4.1 is installed with B2B branch `https://github.com/magento/partners-magento2b2b/tree/28554_B2B_Company_Credit_Queries`
2. Store -> Configuration -> Sales -> Payment Methods: Payment on Account is enabled
3. Store -> Configuration -> General -> B2B Features: Enable Company and Enable Purchase Orders are set to true
4. Company A is created with the follo

[2020-09-11 00:59] dthampy commented on #29990
Please add test coverage for this bug fix.
Please we need to make sure that the company{credit_history} only returns the credit history information of the company, to which the user is assigned to; not the credit history for all the companies that are available

[2020-09-11 06:26] ilnytskyi commented on #28897
Has anyone here already tried to setup a preload feature from 7.4 ?

[2020-09-11 06:34] ihor-sviziev commented on #28897
Update: we already have [php 8.0 beta3](https://www.php.net/archive/2020.php#2020-09-03-3), would be good at least to try run magento on it.

@ilnytskyi no, I don't, but would be good to see some info about it!

[2020-09-11 06:34] haunguyen1989 opened #29992 "Import geocodes error "Cannot download country""
### Preconditions (*)

1. Magento 2.4 CE
2. Ubuntu 20.04 LTS

### Steps to reproduce (*)

1.Run command line: php bin/magento inventory-geonames:import us
2.Error raise: Importing us: Cannot download country

### Expected result (*)

1. Import geocodes success

### Actual result (*)

1. File vendor/magento/module-inventory-distance-based-source-selection/Model/ImportGeoNames.php
2. Line 105 throw

[2020-09-11 07:07] magento-engcom-team commented on #29987
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37589` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-11 07:12] muralidharan-rade commented on #25929
@atulGupta2922 Were you successful in finding solution for this issue for version Magento 2.3.1?
We are facing the same.. Your inputs would be helpful..  Thanks.

[2020-09-11 07:14] ihor-sviziev commented on #23881
@sidolov @slavvka @naydav could you explain why this issue was closed without any explanations?

[2020-09-11 07:18] navinbhudiya commented on #26960
I also faced the same issue and its due to long headers...

[2020-09-11 07:22] codynguyen1 opened #29994 "GraphQL Cart Item Price"
When switching to other currency, cart price is not updated (the row total is working fine)

### Preconditions (*)
Magento 2.4.0
Store with 2 currency options

### Steps to reproduce (*)

Send the "Content-Currency" header with a value that's different from the default currency.

### Expected result (*)

1. The value to be right
![Screenshot at Sep 11 14-20-45](https://user-images.githubuserconten

[2020-09-11 07:48] magento-engcom-team commented on #29776
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37590` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-11 08:42] engcom-Oscar commented on #29977
Hi @Eddcapone , thank you for your report. I couldn't reproduce this issue on the latest 2.4-develop branch of Magento. May please provide more details in the description, please or recheck on 2.4-develop branch.

[2020-09-11 08:51] pavitrapapiofficial opened #29995 "Reuse of authentication popup in Magento 2.3.5"
Hi all,

Target:  I want to show Magento default authentication popup when user click to the "checkout" button (basis of logged in or not) without setting the "guest checkout disabled".

What I already have: I can check the customer if logged in or not, and on this check I am changing the checkout button behaviour. For logged in user it is going to checkout page and for not logged in users I added

[2020-09-11 08:51] ihor-sviziev commented on #29365
@luka4 I believe it should be different for OS & EE versions.
All needed changes you can find here: https://github.com/magento/magento2/pull/29804/files

[2020-09-11 08:53] Eddcapone commented on #29977
Hello @engcom-Oscar, I already gave all possible details. I will try it myself on a fresh instance.
@magento give me 2.4-develop instance

[2020-09-11 08:55] pavitrapapiofficial commented on #29995
@magento I am working on this

[2020-09-11 08:58] pavitrapapiofficial commented on #29995
I am no sure what exactly bot is asking me to do. should I wait or add/remove points from my question.

[2020-09-11 10:04] Eddcapone commented on #29977
@engcom-Oscar , the @magento-deployment-service bot gave me a Community Editon, I need Enterprise to test it.

[2020-09-11 10:10] shikhamis11 commented on #29973
@magento give me 2.4-develop instance

[2020-09-11 10:12] soleksii opened #29996 "The header checkbox is selected on all remaining pages"
### Preconditions (*)

1. Magento 2.4-develop
2. Php v.7.3

### Steps to reproduce (*)

- Have at least 2 pages with customers in the grid

1. Go to Admin->Customers->All Customers;
2. Select all records on the current page by clicking the header checkbox;
3. Go to the second page;

### Expected result (*)

:heavy_check_mark: On the next page, the title checkbox should be empty

![2020-09-11_13-10

[2020-09-11 10:16] mrkimmok opened #29997 "Unable to upgrade from Magento 2.3.4 to 2.3.5"
### Preconditions (*)

Magento enterprise edition 2.3.4 ("magento/product-enterprise-edition": "2.3.4") installed using composer method. PHP version is 7.2.

### Steps to reproduce (*)

1. Remove current vendor folder and composer.lock
2. Run **composer require magento/product-enterprise-edition=2.3.5 --no-update**
3. Run **composer install**

### Expected result (*)

1. composer install should co

[2020-09-11 10:22] ihor-sviziev commented on #29865
@Eddcapone could you provide output of the following command?
[code]

I have following output and seems like everything works fine:
[code]

[2020-09-11 10:35] ajijshekh123 commented on #29996
@magento give me 2.4-develop instance

[2020-09-11 11:01] gabrieldagama commented on #1724
Hi @danslo. Thank you for your report.
The issue has been fixed in magento/magento2#29543 by @yolouiese in 2.4-develop branch
Related commit(s):
 - [b6a66b33ca8acbd554765e2bcb5395d33dcc6510](https://github.com/magento/magento2/commit/b6a66b33ca8acbd554765e2bcb5395d33dcc6510)
 - [a550e1e9ad036c76c862634e0f4d832685903670](https://github.com/magento/magento2/commit/a550e1e9ad036c76c862634e0f4d8326859

[2020-09-11 11:01] gabrieldagama commented on #1487
Hi @danslo. Thank you for your report.
The issue has been fixed in magento/magento2#29715 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [771dc31f5ef1236db3ac54c3062f663cfee7d8b0](https://github.com/magento/magento2/commit/771dc31f5ef1236db3ac54c3062f663cfee7d8b0)
 - [dd9bdda933e36b519a7f0a8d52579bfb48bf2a33](https://github.com/magento/magento2/commit/dd9bdda933e36b519a7f0a8d52579bfb48bf2

[2020-09-11 11:01] ajijshekh123 commented on #29996
Hi @stoleksiy,
Verified this issue on latest Magento 2.4 instance with above steps and actual result.

Thanks

[2020-09-11 11:02] magento-engcom-team commented on #29996
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37595` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-11 11:11] aurensistemas opened #29999 "Some search terms return no-results in some strange cases"
### Preconditions (*)

1. Magento 2.3.2
2. Own products with own attributes.
3. Search configuration:
![imagen](https://user-images.githubusercontent.com/70579283/92918992-33a0b880-f430-11ea-93ff-cf2ccff0311a.png)
4. Attributes that are visible for search: name, sku, description and some others.
5. Using a Porto Theme 3.1.8 (modified)

### Steps to reproduce (*)

1. Search "G7" in the top right se

[2020-09-11 11:25] shikhamis11 commented on #29973
Hi @engcom-Oscar
as per the issue description I created an order with one product with 3 quantity and followed further steps
what I got in the end Please check screenshot
![image](https://user-images.githubusercontent.com/25526037/92919922-fe579300-f44e-11ea-83cd-e5a4891ea3e8.png)

As I think the Invoiced Item can not be **cancelled**  so I think the Current **Item** as well as **Order status** is

[2020-09-11 12:15] Jeeva-Rathinam commented on #5350
1) Run the command : UPDATE eav_attribute_group SET tab_group_code = "advanced", sort_order = 55 WHERE attribute_group_code = "schedule-design-update"; 2) Default Attribute set : snipboard.io/T1M6h0.jpg & Migration_Default Attribute set : snipboard.io/tHuUnF.jpg 3) Run the command UPDATE catalog_product_entity SET created_in = "1"; Finally flush cache, compile, reindexed Still getting same error.

[2020-09-11 12:22] Djohn12 commented on #14849
Hi,

I just came accross the issue in Magento 2.3.5-p2

The template /vendor/magento/module-sales/view/frontend/email/order_update.html is still displaying order_status using

$order_data.frontend_status_label

That variable is set in /vendor/magento/module-sales/Model/Order/Email/Sender/OrderCommentSender.php and is not getting the proper storeId. Thus the value cannot be properly translated.

'o

[2020-09-11 12:29] engcom-Delta commented on #29450
@magento give me 2.4-develop instance

[2020-09-11 12:37] magento-engcom-team commented on #29612
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37597` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-11 12:46] adgoddrie commented on #18032
@magento-engcom-team Please reopen this ticket, it seems trivial but it is a bug which still exists in 2.3.5 and it is more than annoying

[2020-09-11 12:53] engcom-Foxtrot commented on #21725
@magento run all tests

[2020-09-11 12:55] hostep commented on #24348
Hi @gabrieldagama

Let me know when #29968 is more or less stable and I can test it (according to the comments, it's not stable yet)
I'll try to give some feedback when the PR is stable and I can test it in practice to see how it behaves.

Thanks!

[2020-09-11 13:14] vkranjith opened #30003 "Admin Panel Private Sales Invitation UI issue"
### Preconditions (*)
1. Nginx 1.9.2
2. PHP 7.3.21
3. MariaDB 10.4.11
4. Magento 2.4.0

### Steps to reproduce (*)
1. Install Magento 2.4.0
2. Log into the admin panel and navigate to Marketing Menu > Private Sales > Invitations.
3. Create a new invitation.
4. Register using the newly created invitation link.
5. After the registration is complete, navigate back to Marketing Menu > Private Sales >

[2020-09-11 13:15] vkranjith commented on #30003
@magento give me 2.4-develop instance

[2020-09-11 13:25] vkranjith commented on #30003
I just realised that the instance I am working on is Magento Commerce 2.4.0 and not Open Source.

[2020-09-11 13:39] DiegoSana commented on #29365
May be just removing the line "['value if', 'value']" is enough. The default value for that param is "*". So it's the same result that including all the fields. And it works for community and commerce edition.

[2020-09-11 13:52] sidolov commented on #23881
@ihor-sviziev it was closed by mistake due to the issue with automation. Now it's resolved, Issue re-opened

[2020-09-11 13:54] m2-assistant[bot] opened #30004 "[Issue] Update minimum required php version in bootstrap.php"
This issue is automatically created based on existing pull request: magento/magento2#29993: Update minimum required php version in bootstrap.php

---------

**Preconditions:**

Magento 2.4-develop
Php v.7.2

According to the [Magento system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html#php), the minimum required version of php is 7.3

**Steps to re

[2020-09-11 13:57] m2-assistant[bot] opened #30005 "[Issue] Use one format in all places for array_merge"
This issue is automatically created based on existing pull request: magento/magento2#30002: Use one format in all places for array_merge

---------
Fix potential issues when no items in array
Convert all array_merge into single format

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2

[2020-09-11 14:55] euriskotech commented on #15545
I assume now that M2.4 requires ElasticSearch this issue is resolved?

[2020-09-11 14:56] Eddcapone commented on #29865
I get:

[code]

I just changed back to PHP 7.4.9 in cpanel (rackspeed server) but now `php -m | grep sodium` gives no output anymore. Looks like rackspeed removed the module... As I tested it was in my modules. I will contact the rackspeed admins and report back if I tested it with sodium enabled.

[2020-09-11 15:18] collymore commented on #25663
We've come up with a solution which I believe is more secure then the standard SID param sharing. 

When the user visits a page we make an AJAX request to a controller that gets the visitors session ID and encrypts it with the visitors IP address and a salt.

This encrypted string is then returned and appended to any cross store URL links on the page as a query parameter.

So when a visitor clicks

[2020-09-11 15:59] Eddcapone commented on #29865
The admins just installed sodium, now I get:

[code]
But the login still fails with

![image](https://user-images.githubusercontent.com/16349349/92947580-79717700-f458-11ea-9394-e50af3f77158.png)

[2020-09-11 16:32] ihor-sviziev commented on #29865
@sidolov seems like this issue should have priority p1, could you check it?

[2020-09-11 16:58] sidolov commented on #29865
@ihor-sviziev it looks like an environment configuration issue to me

[2020-09-11 17:03] ihor-sviziev commented on #29865
@sidolov maybe, but definitely we need to understand why it happened and what to do in such cases.
@Eddcapone i believe composer install isn’t failing on that environment?

[2020-09-11 17:14] ajijshekh123 commented on #29999
@magento give me 2.4-develop instance

[2020-09-11 17:22] sidolov commented on #29865
@ihor-sviziev you know, a few months ago I had exactly the same issue after migration to PHP 7.4. It's a shame that I don't remember what exactly helped me but it was definitely an env config issue related to sodium extension.

[2020-09-11 17:41] pmcnamaracpc commented on #28073
I have confirmed this is also fixed on 2.4.0

1. Setup demo data
2. disabled dotmailer
3. setup cron, elasticsearch 7.x
4. used twoFactorAuthGoogleAuthenticateV1's post to get a token
5. catalogCategoryLinkRepositoryV1's put

{
"productLink": {
"sku": "24-MB01",
"position": 123450,
"category_id": "10",
"extension_attributes": {}
}
}

The cron's reindex showed the product in the category as intende

[2020-09-11 20:20] mtbottens opened #30009 "Users can not assign widgets to individual categories/products"
### Preconditions (*)

1. Magento 2.4.0
2.

### Steps to reproduce (*)

1. Login to admin
2. Create Widget
3. Assign widget to anchor categories
4. Select "Specific Categories"

### Expected result (*)

1. Chooser appears
2. ![image](https://user-images.githubusercontent.com/3620915/92969299-ae76cd00-f44a-11ea-82e3-cc0d33d535de.png)

### Actual result (*)

1. Chooser does not appear
2. ![image](ht

[2020-09-11 21:14] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-09-11 21:32] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-09-11 22:41] lfluvisotto commented on #29377
I researched about it.

According to https://en.wikipedia.org/wiki/Comparison_of_file_systems , I know that wikipedia isn't the best reference to find things related, but most of operation systems the maximum filename length is 255 characters.

https://www.ibm.com/support/knowledgecenter/SSEQVQ_8.1.9/client/c_cmd_filespecsyntax.html

On this documentation above says:

- On AIX, Solaris, and Mac: T

[2020-09-11 22:51] gamort opened #30012 "Asynchronous indexing can break large servers"
Large stores with extremely active product databases can suffer many related problems with indexers not being kept up to date.  Products can disappear from the website, product data can be out of date on the website, excessive cache flushing can  cause huge server load spikes.

This is due to the manner in which triggers are created by the core magento code in https://github.com/magento/magento2/b

[2020-09-12 02:18] lfluvisotto opened #30013 "Modal content with bad message format for newlines"
### Preconditions (*)

Branch 2.4-develop

### Steps to reproduce (*)

1. Authenticate / log in admin / backend
2. Go to : System > Permissions > User  #Roles
3. Select any role
4. Click on : "Roles Users" on left sidebar
5. Click on any user listed on the grid

![image](https://user-images.githubusercontent.com/535626/92984998-08948400-f485-11ea-8921-058aad20ce26.png)

### Expected result (*)

Mo

[2020-09-12 02:45] lfluvisotto commented on #30013
@magento I'm working on it

[2020-09-12 03:34] lfluvisotto opened #30015 "Swagger UI > Content Security Policies > [Report Only] Refused to load the image ..."
### Preconditions (*)

Branch 2.4-develop

### Steps to reproduce (*)

1. Open swagger page > http://<magento_host>/swagger
2. On the browser it'll see some error messages: [Report Only] Refused to load the image ...

![image](https://user-images.githubusercontent.com/535626/92986208-92494f00-f48f-11ea-95b1-df46a34a8c07.png)

### Expected result (*)

Without messages: [Report Only] Refused to load

[2020-09-12 03:35] lfluvisotto commented on #30015
@magento I'm working on it

[2020-09-12 06:15] webtekindo commented on #23938
@asim-vax @luisgsoft @tropilex @sprankhub  did you somehow manage to find a trick, a patch, or an extension that solves that problem?

As it looks like it won't be solved any time soon by Magento.

[2020-09-12 07:09] Jeeva-Rathinam commented on #5999
I did the same what you suggest still getting the same error, any other possibilities of error?

[2020-09-12 07:10] steved1982 commented on #28966
Same issue here, my 2 biggest grouped products with a 1200 configurations will not show in Elasticearch. All other grouped products with less configurations show fine. Same solution, going back to MySQL where all the products can be seen again but I would prefer to stay with Elasticsearch. @barryvdh

[2020-09-12 11:13] sprankhub commented on #23938
For M1, we basically use https://magento.stackexchange.com/a/173992/142 / https://gist.github.com/Schrank/896561c841f564efb003c87441e90a4e for some clients. We did not implement it for M2 yet, but it may be pretty similar (not sure).

[2020-09-12 18:35] magento-engcom-team commented on #28892
Hi @forfin. Thank you for your report.
The issue has been fixed in magento/magento2#28896 by @forfin in 2.4-develop branch
Related commit(s):
 - [a57dbd6d203251a4dd93f5d3fb258d53d7464821](https://github.com/magento/magento2/commit/a57dbd6d203251a4dd93f5d3fb258d53d7464821)
 - [ed408534df19f764c5e7c8c385fed3da16cc5235](https://github.com/magento/magento2/commit/ed408534df19f764c5e7c8c385fed3da16cc52

[2020-09-12 18:35] #28892 closed, assigned to forfin

[2020-09-12 18:35] magento-engcom-team commented on #29839
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29833 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [c67c5f84fed1fa7a33f9ebeb31da58813541526e](https://github.com/magento/magento2/commit/c67c5f84fed1fa7a33f9ebeb31da58813541526e)
 - [e2cc35ce7af12d48f9862f2d51f4db033cd48cb9](https://github.com/magento/magento2/commit/e2cc35ce7af12d48f9862f2d5

[2020-09-12 18:35] #29839 closed, assigned to nobody

[2020-09-12 18:35] magento-engcom-team commented on #26976
Hi @prashantbarot. Thank you for your report.
The issue has been fixed in magento/magento2#27857 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [a84629ff29f6011fceea1b4a40498a9ba78382d3](https://github.com/magento/magento2/commit/a84629ff29f6011fceea1b4a40498a9ba78382d3)
 - [24793f9d90913df2489daffe7cce773c138a684e](https://github.com/magento/magento2/commit/24793f9d90913df2489daf

[2020-09-12 18:35] #26976 closed, assigned to nobody

[2020-09-12 18:37] perfpcs commented on #29797
The more I look at this the more it appears that the bulk jobs are not actually stuck but are actually done and complete but the notice of completion is not getting back to the bulk task grid and therefore it never updates all these "pendings" to "completes". So it seems to be a communication issue to tell the bulk task notices that they are complete. You never see any bulk tasks listed as "comple

[2020-09-12 19:05] codemastering commented on #29797
100% agreed with @perfpcs

i am facing same issue with Magento 2.4

anyone, please provide the fix for this.

[2020-09-12 21:20] igrybkov commented on #8279
@Myced, the only thing I see in your stack trace is that it happens somewhere in the view layer.
This line:
`#1 include() called at [vendor/magento/framework/View/TemplateEngine/Php.php:59]`
specifically says that there was a template included that caused the issue. Check your templates first and also check that line with the debugger to see which template causes the issue for you.
So the only thi

[2020-09-13 10:11] maharzan86 opened #30017 "stock alert notification for product which has been already disabled"
**Preconditions**
Here is environment I am using

Magento version - 2.3.3
PHP Version 7.2.31
MySQL Version 5.7.18

**Steps to reproduce**

1. Make any product out of stock and view the product in front side.
2. Subscribe for 'Product back in stock' alert.
3. Go to admin panel and make that product back in stock.
4. Also disable that product

**Expected result**
Customer should not get mail with al

[2020-09-13 10:41] trinhpham commented on #13352
Latest version (2.4.0) has the same issue while installing on **nginx**
My configuration is based on `nginx.conf.sample`
In my observation, the URL to static files look like:
[code]
But there's no directive to handle `pub/static` (correct me please if I am wrong), only `pub` and `static` existed.

[2020-09-13 12:40] gwharton opened #30018 "Incorrect Customer TAX Class saved with Quote when VAT Validation used on Guest orders"
### Preconditions (*)
1. 2.4-develop core

### Steps to reproduce (*)
[code]
### Expected result (*)

1. I expect the quote item corresponding to the order to have the correctly assigned Customer Tax Class of "Intra-EU" after the order is placed

### Actual result (*)

1. The Customer Tax Class is set to Intra-EU at the quote stage, but is overwritten with "Retail Customer" once the order is place

[2020-09-13 15:37] saphaljha commented on #30017
@magento I am working on this

[2020-09-13 18:58] codemasternode commented on #29939
Make sure you are making request without any proxy or domain setup in files like /etc/hosts. You have to make API call to strict Magento IP address.

[2020-09-13 18:58] #29939 closed, assigned to engcom-Oscar

[2020-09-13 20:48] HamishBlank commented on #29797
Also seeing this issue in Magento 2.4, job has been carried out but notification is still being displayed as "Pending, in queue..."

[2020-09-13 22:07] robocrax opened #30021 "Truncating `inventory_reservation` causes issues in `sales_send_order_creditmemo_emails` cron job"
This is not a bug as TRUNCATE is manually done and just once. Please move issue if incorrectly posted as bug.

After recently migrating to Magento 2 I had a lot of old processing orders that I could not mark as complete right now and a lot of stock reduced in numbers for the Salable Qty. Reservation wasn't in Magento 1 so I'm guessing migrating automatically re-calculated all processing orders and

[2020-09-13 23:32] speedupmate commented on #28161
who really needs to disable this mishap from their own extension can add to their requirejs-config.js file

`'Magento_Checkout/js/action/select-payment-method': {
                 'Magento_SalesRule/js/action/select-payment-method-mixin': false
}`

be aware that this module adds multiple such mixins to different action calls and you might need to disable those too

[2020-09-14 03:08] WinstonN commented on #27564
We see this as well, Magento 2.3.5-p2

[2020-09-14 03:26] lfluvisotto commented on #26680
@sdzhepa I tested this issue on branch 2.4-develop and it isn't reproducible, once the product is disabled and saved via admin, product is deleted/removed from customer's shopping cart.

[2020-09-14 04:00] krishprakash commented on #30013
@magento give me 2.4-develop instance

[2020-09-14 04:05] pavitrapapiofficial commented on #29995
@magento add to contributors team

[2020-09-14 04:08] magento-engcom-team commented on #30013
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37629` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 04:42] lfluvisotto commented on #29421
@magento I'm working on it

[2020-09-14 04:43] magento-engcom-team commented on #30009
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37631` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 04:49] lfluvisotto commented on #29421
@ihor-sviziev or @sdzhepa could any of you review the PR #30022 ?

[2020-09-14 04:50] krishprakash commented on #30009
Here is the issue screenshot for magento 2.4-develop:
![image](https://user-images.githubusercontent.com/46617848/93045085-ec0a6e80-f673-11ea-8ede-809174488c62.png)

[2020-09-14 07:15] Vishrootways commented on #29817
@webkul-ajaysaini This is knowing issue of Magento 2.4.0. Here is the patch to solve this issue https://support.magento.com/hc/en-us/articles/360046750171-Shipping-labels-creation-known-issue-in-Magento-2-4-0

[2020-09-14 08:06] Sufi737 commented on #18765
@magento-engcom-team this issue still persists in version 2.3.4 Community edition

[2020-09-14 08:26] magento-engcom-team commented on #26526
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37633` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 08:33] Gagan557 opened #30024 "How to get billing address and shipping address in Magento 2 Invoice API?"
Preconditions
Magento 2.3.5
Steps to reproduce
Method: Get
Url: http://127.0.0.1/jaipur/rest/V1/invoices/1

Any options to get billing address and shipping address in magento2 rest api. I want to get billing address and shipping address in invoice api.
Method: Get
Url: http://127.0.0.1/jaipur/rest/V1/invoices/1

[2020-09-14 08:52] krishprakash commented on #30024
Hi @Gagan557. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchang](https://magento.stackexchange.com/)e or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-09-14 08:52] #30024 closed, assigned to krishprakash

[2020-09-14 08:57] cuiyang000 commented on #28976
@swathishs I have this same issue, I think you will have to add both simple & virtual product to cart to reproduce the issue, instead of set both of them into one dropdown - in this case you can only add one of them to cart.

So I think you will have to create 2 bundle options, one with simple products, one with virtual products, and try again to have both options selected in the frontend.

[2020-09-14 09:13] magento-engcom-team commented on #30004
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37634` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 09:41] m2-assistant[bot] opened #30025 "[Issue] Fix URL generation for new store when it created with setup:config:import"
This issue is automatically created based on existing pull request: magento/magento2#30023: Fix URL generation for new store when it created with setup:config:import

---------
### Preconditions (*)
Magento 2.4-develop

Emulate adminhtml area where url rewrites are created

### Related Pull Requests

### Fixed Issues (if relevant)

1. N/A

### Steps to reproduce: (*)
1. On Dev. env setup only one

[2020-09-14 10:04] Javiercc78 commented on #11023
I have been with the same error for a long time, very ugly on the frontend.

The configurable product displays a price of 0 until an option is not selected. After that the product shows its price normally
Magento ver. 2.3.4.

[2020-09-14 11:17] Eddcapone commented on #29865
@ihor-sviziev , I get **Nothing to install or update** if I execute `composer install` in this project.
@sidolov I can share my config with your if you like, where is it located? How can I give you the necessary informations?

The error in line 591 makes perfect sense to me. Magento tries to access an undefined offset, because `$hashVersionMap` has only two entries and it tries to access the third

[2020-09-14 11:19] ihor-sviziev commented on #29865
Are you using developer magento mode ?

On Mon, 14 Sep 2020 at 14:17 Eddcapone <notifications@github.com> wrote:

[2020-09-14 11:19] Eddcapone commented on #29865
Yes I am in developer mode

[2020-09-14 11:20] bjornsnoen opened #30026 "Depending from multiselect in backend is broken"
### Preconditions (*)

1. Magento ^2.2 (and probably earlier)

### Steps to reproduce (*)

1. Create a module with an etc/adminhtml/system.xml file
[code]
2. Select all the options

### Expected result (*)

1. The depending field should appear and become editable

### Actual result (*)

1. The field remains hidden until one unselects all options preceding the one one depends from
![proof](https://

[2020-09-14 11:28] ihor-sviziev commented on #29865
@Eddcapone I believe if you'll switch to production mode - it will work for you, also this mode is recommended for production env. Hope this workaround will work for you. Will try to check this issue myself when will have a time

[2020-09-14 11:34] Eddcapone commented on #29865
@ihor-sviziev Thats no option because it is a developer environment and I would need to deploy static files every time.
But I stay at PHP 7.3 until it is fixed.

[2020-09-14 11:54] magento-engcom-team commented on #29689
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37637` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 11:55] ihor-sviziev commented on #29865
@Eddcapone one more workaround - you could add following param to your env.php, and it will generate static files automatically, similar to developer mode :)
[code]

[2020-09-14 12:06] michael1986 opened #30029 "Quote collectTotals() may be easily looped during order place"
### Summary (*)

The issue in the project appeared since Magento 2.3.4 where the following code was added:
https://github.com/magento/magento2/commit/29f0417a28ad71d4dd42485b88da125ccd960a2e
This leads to an unpredictable behavior when calling *getQuote()* method from **vendor/magento/module-checkout/Model/Session.php:235** can trigger collecting of totals inside already run collection process and

[2020-09-14 12:17] Jeeva-Rathinam commented on #7652
@Eddcapone @Usman1493 I just followed what you said still getting the issue, any help thanks, https://community.magento.com/t5/Magento-2-x-Admin-Configuration/Magento-2-3-After-migrated-from-1-9-2-3-Product-Edit-Page-from/m-p/454147/highlight/false#M5936

[2020-09-14 12:22] Eddcapone commented on #29865
@ihor-sviziev I just tested it in production mode, and it works.
But I have to switch back, otherwise js/css is getting compressed and minified... But Im sure it gets solved in the future.

[2020-09-14 12:24] Eddcapone commented on #29865
@ihor-sviziev I changed back to developer and the error is gone here too now :)

[2020-09-14 12:59] sumeetmagento commented on #26942
Anyone know how to solve this issue ?
facing same issue on Magento 2.3.5-p1

[2020-09-14 13:41] m2-assistant[bot] opened #30031 "[Issue] magento/magento2#: Remove a redundant getMappedNums from a loop"
###### (i) This ticket is created automatically based on a verified GitHub issue.
{panel}
***If you are starting to work on this Jira ticket, please notify issue reporter and authors of related community pull requests (if any) that you are going to work on this issue:***
  1.  *Assign [#30031](https://github.com/magento/magento2/issues/30031) issue to yourself on Magento GitHub*
  2.  *Add comment

[2020-09-14 14:00] m2-assistant[bot] opened #30032 "[Issue] [MFTF] Create StorefrontClickRefundTabCustomerOrderViewActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30030: [MFTF] Create StorefrontClickRefundTabCustomerOrderViewActionGroup

---------
This PR add new `StorefrontClickRefundTabCustomerOrderViewActionGroup`

[2020-09-14 14:06] snowgy920 commented on #27942
@john-dhm Did you get any chance to solve the issue? Would you share your solution please?

[2020-09-14 14:39] basartvas opened #30033 "[Magento_GoogleTagManager] creditmemoAfterSave plugin is not being executed"
### Preconditions (*)

1. An Order has been created and Invoiced.
2. Created invoice is eligible for Credit Memo.

### Steps to reproduce (*)

1. Open Admin panel.
2. Login as Administrator with ACLs allowing to create Credit Memos.
3. Proceed to an Invoice eligible for Credit Memo.
4. Create Credit memo.

### Expected result (*)

"creditmemoAfterSave" plugin defined in vendor/magento/module-googl

[2020-09-14 14:52] m2-assistant[bot] opened #30035 "[Issue] Added DHL Setting to allow user to choose whether DHL quotes include any TAX or not."
This issue is automatically created based on existing pull request: magento/magento2#30020: Added DHL Setting to allow user to choose whether DHL quotes include any TAX or not.

---------

### Description (*)
The DHL Shipping module included in Magento receives shipping quotes direct from DHL's API servers. If the shipment is going between two countries where TAX would be charged to the shippers a

[2020-09-14 14:54] m2-assistant[bot] opened #30036 "[Issue] Fix missing escape Url method"
This issue is automatically created based on existing pull request: magento/magento2#30008: Fix missing escape Url method

### Description (*)

Correct missing escape url in layout template module widget

### Preconditions
1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Admin
1. Go Content > Elements > Widgets
1. Edit one exists widget

### Expected result (*)
1. Page should load with

[2020-09-14 14:57] m2-assistant[bot] opened #30037 "[Issue] WIP Immutable dto support with config"
This issue is automatically created based on existing pull request: magento/magento2#23265: WIP Immutable dto support with config

---------
Mutable/Immutable DTO support through declarative schema.

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpose
 - [x] All commits are accompanied by meaningful commit messages
 - [x] All new or changed code is covere

[2020-09-14 14:57] franciscopaniskaseker opened #30038 "Magento 2.3.5-p2 is not deploying adminhtml (backend) area. 404 errors."
### Preconditions (*)

1. 2.3.5-p2
2. apache mpm using mod_php 7.3

### Steps to reproduce (*)

1. php bin/magento cache:flush
2. php bin/magento cache:clean
3. php bin/magento setup:static-content:deploy en_US nl_NL

### Expected result (*)

1. Frontend and Backend working.

### Actual result (*)

The fronted works as expected. The backend continue trying to using files that does not exist anymor

[2020-09-14 15:00] m2-assistant[bot] opened #30039 "[Issue] [WIP] Refresh customer data when configurable product has been deleted"
This issue is automatically created based on existing pull request: magento/magento2#29191: [WIP] Refresh customer data when configurable product has been deleted

---------
### Description (*)
This pull request fixes an issue with mini cart not being refreshed when a configurable product has been deleted from the website. It affects **only** active browser sessions where customers added the delet

[2020-09-14 15:09] magento-engcom-team commented on #29487
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37639` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 15:13] engcom-Oscar commented on #29502
Dublicate https://github.com/magento/magento2/issues/29487

[2020-09-14 15:13] #29502 closed, assigned to nobody

[2020-09-14 15:14] ihorvansach commented on #30026
@bjornsnoen, thank you for your report.

I've made tests on latest Magento2.3.5p2 and 2.4.0 and was not able to reproduce the issue.

I used this code for testing
[code]

![ezgif-5-24aa17fcd2e2](https://user-images.githubusercontent.com/48525307/93103716-a53d6880-f6b5-11ea-8c0b-c5e44d68ad9c.gif)

@bjornsnoen, please make sure that you can reproduce this issue on the latest Magento version. Let me

[2020-09-14 15:14] lenaorobei opened #30040 "Test Issue for GJSS"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-14 15:17] franciscopaniskaseker commented on #30038
Now I tried the same procedure but setting development and production modes:

[code]

When I tried to set production mode I get this error:

[code]

Then I applied this fix:
https://magento.stackexchange.com/a/305488

But I get the same result:
Frontend working and backend with same javascript 404 errors.

[2020-09-14 15:58] antonioste commented on #25221
Some error present after upgrade to 2.3.5-p2, resolved with AndyJAllen solution and make a static-rebuild

Thanks a lot to AndyJAllen !

[2020-09-14 16:19] Xaviera7 opened #30041 "Magento 2 table rate works on cart page but not on checkout page"
### Preconditions (*)

1.magento 2,3.4
2.

### Steps to reproduce (*)

When I check the shipping via table rate for products ordered in the cart page in my magento 2.3.4 site, it comes out fine but on the checkout page, I get the errors in the image below.
I have reviewed the table rates and the configuration , all checks out fine. the cart rules are all fine.

In the checkout page, when I insert

[2020-09-14 16:43] perfpcs commented on #29797
@VladimirZaets ..any update to this issue since it appears to be widespead Magento bug?

[2020-09-14 16:59] ghost opened #30043 "Maximum Call Stack exceeded - 2.3.4 (See Fail to import custom options #5573)"
### Preconditions (*)

2.3.4
Google Chrome browser Version 85.0.4183.102 (Official Build) (64-bit)
Linux OS
There was bug issue #5573 but that appears to never have been merged into the main branch
### Steps to reproduce (*)

1. Click to add a new configurable product
2. Expand customizable options
3. Click on Add Option rapidly to add say ten options
4. Check dev tools console in browser debugger

[2020-09-14 17:19] quickshiftin commented on #10533
The fact that there is no easy way to view the layout on any given page makes debugging the cryptic layout system even more tedious. The spirit of this feature should be understood by the core team, how about a simple way to dump the layout XML for any given page. After all we already have template path hints...

[2020-09-14 17:22] magento-engcom-team commented on #29532
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37647` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-14 17:31] engcom-Oscar commented on #29776
Hello @Eddcapone
Thank you for contribution and collaboration!
I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento

[2020-09-14 17:31] sdzhepa commented on #29977
Hello @Eddcapone
fyi: @engcom-Oscar

Due to the response from the internal page-builder team - this bug was already fixed and delivered. It should be available in **2.3.6** and **2.4.1**. It was done in the scope of jira ticket `MC-35220` if you have access to the Commerce code you can use this number to find commits.

Also, let me remind that
[Current repository](https://github.com/magento/magent

[2020-09-14 17:31] #29977 closed, assigned to engcom-Oscar

[2020-09-14 17:53] sdzhepa commented on #29957
Hello @piuga
cc: @engcom-Oscar

Thank you for your report.
Unfortunately, we are not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please have a look and confirm?

Also, please take into account that
We are able to process, collaborate, fix, and deliver pull requ

[2020-09-14 18:37] Xaviera7 commented on #30041
Please assist

[2020-09-14 19:01] magento-engcom-team commented on #1813
Hi @magentofaz. Thank you for your report.
The issue has been fixed in magento/magento2#29959 by @engcom-Golf in 2.4-develop branch
Related commit(s):
 - [f8fd731bc3a56a59a89ffc967456d162275476aa](https://github.com/magento/magento2/commit/f8fd731bc3a56a59a89ffc967456d162275476aa)
 - [a948194c397046497cd1b55030fa543dfa25d2d2](https://github.com/magento/magento2/commit/a948194c397046497cd1b55030fa5

[2020-09-14 19:01] magento-engcom-team commented on #30004
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29993 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [2956a4816591ee3e3cc5de681ce0f49f5b3ff44f](https://github.com/magento/magento2/commit/2956a4816591ee3e3cc5de681ce0f49f5b3ff44f)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-14 19:01] #30004 closed, assigned to ihor-sviziev

[2020-09-14 19:01] magento-engcom-team commented on #29689
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29688 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [32adddb365c1170b5daea7c24f8e9966e84496e9](https://github.com/magento/magento2/commit/32adddb365c1170b5daea7c24f8e9966e84496e9)
 - [b4d78e7435a65e299fd8230030701c3fc082b146](https://github.com/magento/magento2/commit/b4d78e7435a65e299fd82

[2020-09-14 19:01] #29689 closed, assigned to lbajsarowicz

[2020-09-14 19:01] magento-engcom-team commented on #29354
Hi @mbrinton01. Thank you for your report.
The issue has been fixed in magento/magento2#29415 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [4f2d8de0f36132cab835e5af3bc88d461e87967f](https://github.com/magento/magento2/commit/4f2d8de0f36132cab835e5af3bc88d461e87967f)
 - [43cca51a6d361c73bfebcbeeebf2430e345b5157](https://github.com/magento/magento2/commit/43cca51a6d361c73bfebcbeeeb

[2020-09-14 19:01] #29354 closed, assigned to konarshankar07

[2020-09-14 20:35] lenaorobei commented on #30040
@magento confirm issue

[2020-09-14 20:35] magento-engcom-team commented on #30040
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-37652) is successfully created for this issue.

[2020-09-14 20:42] #30040 closed, assigned to nobody

[2020-09-14 21:21] LiamTrioTech commented on #10533
Those path hints are trash btw.
It should be on data attributes or html comments for each area and possibly chrome extension on the inspector.

[2020-09-14 21:39] lenaorobei commented on #30032
@magento give me test instance

[2020-09-14 21:39] lenaorobei commented on #30032
@magento give me 2.4-develop instance

[2020-09-14 22:14] MichaelThessel opened #30046 "Size swatches for sold out sizes missing in frontend"
### Preconditions (*)

1. 2.3.5-p2 (but also previously reported on 2.4)

### Steps to reproduce (*)

1. Create config product with **one** color and several sizes
2. Make one size out of stock
3. Set Admin > Stores > Configuration > Catalog > Inventory > Stock Options > Display Out of Stock Products = Yes
4. Make size and color swatches

### Expected result (*)

1. Out of stock sizes show in fron

[2020-09-14 22:35] magento-engcom-team commented on #29940
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29929 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [d0ba33745ab8bedcd4a18f6757c7d5dd9ac4712a](https://github.com/magento/magento2/commit/d0ba33745ab8bedcd4a18f6757c7d5dd9ac4712a)
 - [caaf4699d348236e951ea094a886b38e1391c6bf](https://github.com/magento/magento2/commit/caaf4699d348236e951ea094a

[2020-09-14 22:35] #29940 closed, assigned to nobody

[2020-09-14 22:35] magento-engcom-team commented on #29603
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27446 by @ashokadewit in 2.4-develop branch
Related commit(s):
 - [3f616adb872b020c2ec132f2998d806ef7da2b8a](https://github.com/magento/magento2/commit/3f616adb872b020c2ec132f2998d806ef7da2b8a)
 - [a93dbd8c7ca9eda53c449a04d604a1d1f8b558b5](https://github.com/magento/magento2/commit/a93dbd8c7ca9eda53c449a

[2020-09-14 22:35] #29603 closed, assigned to nobody

[2020-09-14 22:35] magento-engcom-team commented on #26526
Hi @PascalBrouwers. Thank you for your report.
The issue has been fixed in magento/magento2#26527 by @PascalBrouwers in 2.4-develop branch
Related commit(s):
 - [7a04c04bec1fa3525d8b43ca684e13da3cb37974](https://github.com/magento/magento2/commit/7a04c04bec1fa3525d8b43ca684e13da3cb37974)
 - [6ee28c852bcc49953a9c648e21fe9c96f61964f0](https://github.com/magento/magento2/commit/6ee28c852bcc49953a9c64

[2020-09-14 22:35] #26526 closed, assigned to PascalBrouwers, engcom-Charlie

[2020-09-15 01:40] aheadcreative commented on #28420
Same issue - NOT fixed in 2.3.5-p1

[2020-09-15 02:16] stanleyyuenyiu commented on #26484
i have the same issue but with category api, as i havent test the product api yet

i use admin token, i have 3 store view, which is en, tc,sc

i call below request

PUT https://{my domain}/rest/{my store view code}/V1/categories/10

with this body

`{
    "category": {
        "name": "Eng name"
    }
}`

Result: include in menu, enable category, url key will uncheck usedefault

[2020-09-15 02:22] xpec-jdsp commented on #26103
Hello,

I have same problem in magento 2.3.3 with varnish 6.0, is there any workaround to solve this problem?

[2020-09-15 02:27] stanleyyuenyiu opened #30047 "Updating a category through the REST API will uncheck "Use Default Value" on a bunch of attributes"
### Preconditions (*)
- using Magento 2.4
- Mysql 8.0
- php-fpm 7.4
- nginx 1.18
- require 1 website with more than 1 store view
- Create some sub categories under default category at default store
- Using Admin token

### Steps to reproduce (*)
Call REST API with below script, replace the parameter for your own environment

[code]
### Expected result (*)
When you access the category detail in adm

[2020-09-15 03:38] andhikaribrahim opened #30048 "GraphQL Error: Cannot query field "stock_status" on type "SimpleProduct""
### Preconditions (*)
1. Magento v2.3.4
2. MySQL 5.7
3. **MSI Disabled** since we customized our inventory management

### Steps to reproduce (*)
1. Add stock_status to graphql query using getCategory. i.e:

Query
[code]

Query Variables:
[code]

2. Screenshot using the altair client:
![Screenshot from 2020-09-15 10-35-04](https://user-images.githubusercontent.com/12978835/93162521-22f98680-f73f-1

[2020-09-15 04:14] curkle commented on #25177
[code]

add function check if all item has been refund.  it should work

[2020-09-15 04:24] aheadcreative commented on #14735
Not fixed in 2.3.5-p1, can you PLEASE put your act together?

[2020-09-15 05:00] Elamurugan-Nallathambi commented on #27200
I understand this ticket closed, just posting this here so I don't have to define the issue again as duplicate issue.
Am facing this problem in Magento 2.3.4 with php 7.3 environment. Is there a fix or patch that I can apply?

[2020-09-15 07:10] bjornsnoen commented on #30026
Hm, I was reproducing it on 2.3.4-p2, and since the broken js is still there in 2.4 I was sure it would still be broken. I guess the functionality may have been amended elsewhere. I'll see if my module will reproduce it on 2.3.5-p2, if it doesn't I'll happily close :)