[2019-03-15 16:05] magento-engcom-team commented on #21734
:white_check_mark: Confirmed by @kisroman
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-15 16:07] magento-engcom-team commented on #21753
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98725`, `MAGETWO-98726` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-15 16:09] shikhamis11 commented on #21757
@crankycyclops the issue is same as  #21753 so I am closing this one

[2019-03-15 16:09] #21757 closed, assigned to nobody

[2019-03-15 16:26] #21645 closed, assigned to nobody

[2019-03-15 16:47] okorshenko commented on #21700
Hi @brendanfalkowski
We will double check this issue. But we need more details from your side. I believe this is not EE related issue and if the issue exists, it should be reproducible on CE as well. We will contact you shortly to get more information about this case.

Thank you for follow up on this 👍

[2019-03-15 16:47] crankycyclops commented on #21757
@shikhamis11, they're related but slightly different issues. This one is an issue with the download not actually working. The other has to do with the download links not being displayed in "My Downloads." Fixing #21753 would still leave this issue unfixed (although the pull request I submitted fixes both issues, so if work progresses under the other issue that's probably fine.)

[2019-03-15 18:21] sdzhepa commented on #21700
Hello @brendanfalkowski

We have investigated this issue on the latest Magento(Open Source and Commerce editions) based on the latest `2.3-develop` branch(es)

For verifying we used next Preconditions and Scenarios

**Preconditions:**

1. Clone Magento from the git repository and do all required actions to be ready for web installation
2. In browser got to Web Setup: `sitename.test/setup`
3. On th

[2019-03-15 18:45] magento-engcom-team commented on #20128
Hi @realJustmike. Thank you for your report.
The issue has been fixed in magento/magento2#21589 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [887433247a7d0da1237c0d7f60fe5bee1dfa4324](https://github.com/magento/magento2/commit/887433247a7d0da1237c0d7f60fe5bee1dfa4324)
 - [a75958fb46f606faec4d06e69f938188d5de5005](https://github.com/magento/magento2/commit/a75958fb46f606faec4d06e69f9

[2019-03-15 18:45] magento-engcom-team commented on #21073
Hi @kamilszewczyk. Thank you for your report.
The issue has been fixed in magento/magento2#21080 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [9d858b3b8c9e30b7414d7c85fa271dc310feed0b](https://github.com/magento/magento2/commit/9d858b3b8c9e30b7414d7c85fa271dc310feed0b)
 - [ca72609de5bdd2ff1d74eb5957a8acca125eadba](https://github.com/magento/magento2/commit/ca72609de5bdd2ff1d74eb5957a8ac

[2019-03-15 18:45] #21073 closed, assigned to nobody

[2019-03-15 19:52] jvhost commented on #8267
@damien-lechopier I'm still having this bug too .. Magento 2.2.4 .. the "fix" partially works if I force it to return the wholesaler group, and as long as I don't change anything in the estimator, it "looks" fine, but as soon as it recalculates, it does the exact same thing as yours - it loses the logged in customer's group.  Does anyone know what route the recalculation of the totals uses?

[2019-03-15 19:54] rafaelstz opened #21779 "Adminhtml textarea field doesn't accept maxlength"
### Preconditions (*)
When I use *textarea* field type I can't use the attribute `maxlenght`, but when I use `text` I can use it.

File: **app/code/MyCompany/MyModule/Block/Adminhtml/Manage/Edit/Form.php**
### Steps to reproduce (*)
## Textarea

### Actual result (*)
[code]

<img width="1279" alt="Screenshot 2019-03-15 15 53 21" src="https://user-images.githubusercontent.com/610598/54458480-7d74e9

[2019-03-15 19:54] magento-engcom-team commented on #21779
Hi @rafaelstz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-15 20:01] jvhost commented on #8267
@webspeaks Hi webspeaks, which 3rd party extension did you remove by chance?

[2019-03-15 20:12] korbax commented on #20366
@magento-engcom-team Could you please assign this ticket to me? I will work on it.

[2019-03-15 20:21] ccrothers commented on #638
This feature is part of this extension, but really should be native. Especially considering it is a minimal subset of what bundles are already capable of.
https://ecommerce.aheadworks.com/magento-2-extensions/simple-bundle-product

@ilol @vpelipenko , Also wondering about @springimport 's comment "Which commit is associated with this issue?"... I don't see one that addresses this.

[2019-03-15 20:31] msawyers opened #21780 "Bug with DHL Shipping Method"
### Preconditions

1. Magento CE 2.3.0
2. Php 7.0.25

### Steps to reproduce

1. Admin: Stores>Configuration>Shipping Methods>DHL> Enable and enter credentials
2. Attempt to get a shipping quote on frontend

### Expected result

1. To show the shipping methods with the prices
2. Tables rate works

### Actual result

Error: This shipping method is currently unavailable. If you would like to ship us

[2019-03-15 20:32] magento-engcom-team commented on #21780
Hi @msawyers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-15 20:55] seansan commented on #638
Also interested In confirmation

Will it also cover the case where one has only 1 subproduct only the qty differs?

So the simple is 1 cufflink and the bundle is a package of 3 of these cuff links

So In this case the simple product can have multiple parents. And exist for example in 1 configurable parent being the normal product. A bundle of this configurable (as a pack) of three times the qty. a

[2019-03-15 21:04] prestonchoate opened #21781 "Paypal Module Secure Token Controller Not Properly Validating Requests"
### Preconditions (*)

1. Magento 2.2.7 Community Edition
2. PayPal payment method is set up ( I tested specifically with PayFlow Pro but I suspect any PayPal payment method will be effected)

### Steps to reproduce (*)

1. As a guest navigate to domain.com/paypal/transparent/requestSecureToken/
2. Notice that a PayPal secure token is returned as often as you request it, even if you don't have a c

[2019-03-15 21:04] magento-engcom-team commented on #21781
Hi @prestonchoate. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-15 21:07] prestonchoate commented on #21781
It appears that the \Magento\Paypal\Controller\Transparent\RequestSecureToken::execute method retrieves the $quote object from Magento\Framework\Session\SessionManager. In this instance it is actually getting \Magento\Checkout\Model\Session. The \Magento\Checkout\Model\Session::getQuote function will create a brand new quote object if one does not exist which means that the error checking for the

[2019-03-15 21:31] onepack commented on #7560
Server Time is correct (Europe/Amsterdam), PHP is correct (Europe/Amsterdam).
Magento2 is set to Europe/Amsterdam.
However Time is always off with one hour.
It's now 22:29 but magento will tell me it's 21:29.
This is on 8 M2 installations with PHP 7.2 and Magento 2.3

[2019-03-15 21:31] jvhost commented on #8267
Hi guys .. FYI, I'm a lot closer now.  The problem is in another getCustomerGroupId .. in /vendor/magento/module-quote/Model/Quote.php .. this is where it goes every time there's an update to the quote.

Just to test it, I commented out the following:

/*        if ($this->hasData('customer_group_id')) {
            return $this->getData('customer_group_id');
        } elseif ($this->getCustomerId

[2019-03-15 21:36] jvhost commented on #8267
Sorry .. one more thing I noticed, it is setting the customer group immediately after adding it to the cart, so it's not even the quote that's setting customer group id.

[2019-03-15 22:11] onepack opened #21783 "Local time off with one hour on 8 Magento 2.3 installations"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2

### Steps to reproduce (*)

1. Set the Server time and Check via SSH with "date" for the server time. The correct (Europe/Amsterdam) time is given.
2. Set the PHP time zone and Check the PHP time via php_info() gives Europe/Amsterdam (correct).
3. Set the Magento 2.3 config time zone to Europe/Amsterdam.

### Expected result (*)

1. Expected result

[2019-03-15 22:12] magento-engcom-team commented on #21783
Hi @onepack. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-15 23:19] onepack commented on #21783
I set .user.ini with:
date.timezone = UTC

It is shown as a local value in php_info() but still the hour is one off.
I'm out of ideas.

[2019-03-15 23:28] dazz397 commented on #18752
I upgraded from 2.1.10 to 2.2.7 and this started happening. It would only happen when there was a payment decline. I am using the authorize.net payment gateway from paradox labs.  I am not sure it's related but the exception being caught that causes this error is a message from that module. You can replicate it by making a payment using CC: 4444333322221111 CVV:111 EXP:0120.

Now for the fix.

In

[2019-03-15 23:38] singhinderjeet0708 commented on #14750
Hello,

We have the same issue on 2.3.0

In "My Account" > "Address Book" > "Change Billing Address", when there is a Customer Group Change (because we have added/removed VAT Number) the Address is not saved.
We have to re-enter it to get it saved correctly.

Thanks

[2019-03-16 00:39] robfico commented on #21299
It seems that you can request the checkout/cart URL of a 2.3.0 store with a HEAD request a few times and it causes the view cart to be a 404 error. Regardless of whether the cache has been flushed recently. Affects built-in FPC only it appears.

[2019-03-16 03:18] Zyles commented on #10675
@okorshenko How is this a non issue when you need to modify over 5+ core files to get correct currency formatting across your entire store?

It needs to be fixed.

[2019-03-16 03:27] billsideris commented on #5863
@thlassche I would appreciate this solution as well.

[2019-03-16 05:12] keyuremipro commented on #21783
@onepack  I think it is because of `date_default_timezone_set('UTC');` in app/bootstrap.php

[2019-03-16 05:44] mattijv commented on #21299
@robfico Yes, this affects pretty much all cached controllers. You can either use some other full page cache, like Varnish, or use a temporary fix like https://github.com/magento/magento2/issues/21299#issuecomment-465670773 to prevent the built-in cache from caching 404 HEAD requests.

[2019-03-16 06:14] minhluan259 commented on #19737
I notice one more issue of tinymce 4 in magento 2.3.0
We can't use style background media:
`<div style="background: url('{{media url="wysiwyg/catalog/img-cat-01.png"}}');"> `

[2019-03-16 06:22] JungleHi commented on #15376
@engcom-backlog-pb
This issue still exists in the latest Magento releases, both 2.3 and 2.2.7.

Anyone can share a workaround? Need it badly.

[2019-03-16 07:11] Vinai commented on #21299
I don’t think it should take a lot to fix the built in page cache to distinguish the GET and HEAD requests and cache them separately.
That way it behaves correctly.

[2019-03-16 07:55] mrtuvn commented on #21766
yes it's should be change area to adminhtml instead base. But about issue compatible backward of tinymce. I believe a lot of extensions before 2.3.0 will still implements the old way tinymce3 and will get big problem with tinymce requirejs . I don't find any links or documents about this problem compatible

[2019-03-16 08:34] magento-engcom-team commented on #7227
Hi @cmuench. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-16 08:50] magento-engcom-team commented on #21771
Hi @sivaschenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-16 09:05] Leandry commented on #21745
@magento-engcom-team give me 2.2-develop instance

[2019-03-16 09:05] magento-engcom-team commented on #21745
Hi @Leandry. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-16 09:06] magento-engcom-team commented on #21745
Hi @Leandry, here is your [Magento instance](https://i-21745-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21745-2-2-develop.instances.magento-community.engineering/admin](https://i-21745-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 09:09] serhiyzhovnir opened #21786 "Asynchronous email sending for the sales entities which were created with disabled email sending"
### Preconditions (*)
1. Magento 2.3, Magento 2.2
2. Enabled CRON
3. enabled sales_email/general/async_sending config

### Steps to reproduce (*)
1. Disable email sending config for Invoice, Creditmemo, Shipment entities (Stores->Configuration->Sales->Sales Emails)
2. Create Invoice, Creditmemo, Shipment via admin panel
3. Enable email sending config for Invoice, Creditmemo, Shipment entities
4. W

[2019-03-16 09:10] magento-engcom-team commented on #21786
Hi @Leandry. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-16 09:11] Leandry commented on #21745
Hi, The issue was reproduced when the "Cache On Delivery" payment restricted by country and failed on billing address validation.
![2019-03-16_10-56-52](https://user-images.githubusercontent.com/9416636/54473110-422af700-47dc-11e9-85e1-fcc72df18cc4.png)
![2019-03-16_10-50-51](https://user-images.githubusercontent.com/9416636/54473113-4525e780-47dc-11e9-9cf2-577ec9a9e8f7.png)

[2019-03-16 09:21] magento-engcom-team commented on #21783
Hi @progreg. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-16 09:22] KateRusakova commented on #21641
@magento-engcom-team give me 2.3-develop instance

[2019-03-16 09:22] magento-engcom-team commented on #21641
Hi @KateRusakova. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-16 09:29] KateRusakova commented on #21641
#lvivcd19

[2019-03-16 09:29] magento-engcom-team commented on #21641
@KateRusakova thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-16 09:32] mrtuvn commented on #21766
yes i know this but when digger a bit a get confuse when try to initalize wysiwyg for tinymce
in previous version of 2.3 tinymce.init still usable but when come with 2.3.x tinymce4 come with new implement and problem will happens here. tinymce init probably not work anymore or need new way to init tinymce for both version. But this maybe wide topics and out of scope of this issue. Note here if any

[2019-03-16 09:34] sergeynezbritskiy commented on #21654
#cd_kharkiv

[2019-03-16 09:56] MaksymGrom commented on #21193
#kharkivcd19

[2019-03-16 09:56] magento-engcom-team commented on #21193
@MaksymGrom thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-16 09:57] GalichMolodothon commented on #14112
#kharkivcd19

[2019-03-16 09:57] magento-engcom-team commented on #14112
@GalichMolodothon thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-16 09:59] magento-engcom-team commented on #21193
Hi @MaksymGrom. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-03-16 10:00] hostep commented on #21766
Back on topic for now:

Looking through some files, it seems like we have some references to the `wysiwygAdapter` in other `base` directories, so I'm wondering if we should also move those to the `adminhtml` directory as well. Or if it was the purpose of Magento to allow the TinyMCE editor to be used on the frontend?

Here are those files:
- https://github.com/magento/magento2/blob/2.3.0/app/code/

[2019-03-16 10:12] orlangur commented on #20060
@craigcarnell closing issue on the strength of your comment, really doubt it's possible to determine without `git bisect` or something.

[2019-03-16 10:12] #20060 closed, assigned to nobody

[2019-03-16 10:16] mrtuvn commented on #21766
tinymce and tinyMCE is objects exposed through browser. I think they can accessable variables. Variable tinyMCE is from tinymce4 and tinymce is from our old friend (tinymce3). From now i think we can use/require 'wysiwygAdapter' for compatible require tinymce (Work for both version 3,4). One think i don't see any example in frontend of magento that use tinymce yet. Not sure about this . Maybe in f

[2019-03-16 10:20] #20879 closed, assigned to nobody

[2019-03-16 10:31] OlehWolf commented on #19835
#cd_Kharkov

[2019-03-16 10:31] OlehWolf commented on #19835
#kharkivcd19

[2019-03-16 10:32] magento-engcom-team commented on #19835
@OlehWolf thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-16 10:32] magento-engcom-team commented on #21741
Hi @KateRusakova. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-16 10:36] magento-engcom-team commented on #21745
@Leandry Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-16 10:37] magento-engcom-team commented on #21745
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98741`, `MAGETWO-98742` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-16 10:39] KateRusakova commented on #21741
@magento-engcom-team give me 2.3-develop instance

[2019-03-16 10:39] magento-engcom-team commented on #21741
Hi @KateRusakova. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-16 10:39] magento-engcom-team commented on #21741
Hi @KateRusakova, here is your [Magento instance](https://i-21741-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21741-2-3-develop.instances.magento-community.engineering/admin](https://i-21741-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 10:41] magento-engcom-team commented on #21786
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98743`, `MAGETWO-98744` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-16 10:43] funnyboy1190 commented on #16382
@magento-engcom-team give me 2.2.4 instance

[2019-03-16 10:43] magento-engcom-team commented on #16382
Hi @funnyboy1190. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2019-03-16 10:44] magento-engcom-team commented on #16382
Hi @funnyboy1190, here is your [Magento instance](https://i-16382-2-2-4.instances.magento-community.engineering).
Admin access: [https://i-16382-2-2-4.instances.magento-community.engineering/admin](https://i-16382-2-2-4.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 11:16] magento-engcom-team commented on #19835
Hi @OlehWolf. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-16 11:20] GalichMolodothon commented on #14112
not reproducible for Magento 2.2 @magento-engcom-team

[2019-03-16 11:37] orlangur commented on #5453
#kharkivcd19

[2019-03-16 12:13] Den4ik opened #21789 "[BUG] Product gallery opening by mistake"
### Preconditions (*)

1. magento 2.3-develop

### Steps to reproduce (*)

1. Open product page
2. Click to product qty move cursor to product image and up mouse button

### Expected result (*)

![b5efn_2019_03_16_15_09_19](https://user-images.githubusercontent.com/1129623/54475050-d48fc280-47fd-11e9-94b8-bf70215bcbee.gif)

### Actual result (*)

![i3rhh_2019_03_16_15_10_45](https://user-images.gi

[2019-03-16 12:13] magento-engcom-team commented on #21789
Hi @Den4ik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-16 12:21] hostep commented on #20879
I just accidentally bumped into https://github.com/magento/magento2-jp/pull/77, where they seem to work on adding support for this.

[2019-03-16 12:45] magento-engcom-team commented on #21780
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-16 12:51] Alex-Lunkov commented on #21780
@magento-engcom-team give me 2.3-develop instance

[2019-03-16 12:52] magento-engcom-team commented on #21780
Hi @Alex-Lunkov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-16 12:52] magento-engcom-team commented on #21780
Hi @Alex-Lunkov, here is your [Magento instance](https://i-21780-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21780-2-3-develop.instances.magento-community.engineering/admin](https://i-21780-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 12:56] magento-engcom-team commented on #21741
Hi @KateRusakova. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-16 12:56] magento-engcom-team commented on #21741
Hi @KateRusakova, here is your [Magento instance](https://i-21741-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21741-2-2-develop.instances.magento-community.engineering/admin](https://i-21741-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 13:01] magento-engcom-team commented on #21741
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-16 13:28] magento-engcom-team commented on #167
Hi @clockworkgeek. Thank you for your report.
The issue has been fixed in magento/magento2#21731 by @VitaliyBoyko in 2.3-develop branch
Related commit(s):
 - [3819dc1dcc2aa19c3811e33b88c8f31f599f8428](https://github.com/magento/magento2/commit/3819dc1dcc2aa19c3811e33b88c8f31f599f8428)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-16 13:28] magento-engcom-team commented on #21384
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#21444 by @ananth-iyer in 2.3-develop branch
Related commit(s):
 - [a5bdc38d3531bf93cd46fdc4e5e4f6bbe5056b32](https://github.com/magento/magento2/commit/a5bdc38d3531bf93cd46fdc4e5e4f6bbe5056b32)
 - [ab2d0e48f01fbec862571f3716972a3c9d9109a3](https://github.com/magento/magento2/commit/ab2d0e48f01fbec862571f3716972a

[2019-03-16 13:28] #21384 closed, assigned to ananth-iyer

[2019-03-16 13:28] magento-engcom-team commented on #21541
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#21582 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [9ab463fda7bab8d58c791dd4ba07fe4ec8407943](https://github.com/magento/magento2/commit/9ab463fda7bab8d58c791dd4ba07fe4ec8407943)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-16 13:28] #21541 closed, assigned to krishprakash

[2019-03-16 13:28] magento-engcom-team commented on #18761
Hi @kamilmaliszewski. Thank you for your report.
The issue has been fixed in magento/magento2#21189 by @DenisSaltanahmedov in 2.3-develop branch
Related commit(s):
 - [a572ae2a1c5c86519ac3e0fd1eaf4d3157e80ef7](https://github.com/magento/magento2/commit/a572ae2a1c5c86519ac3e0fd1eaf4d3157e80ef7)
 - [6692e087dd2d5f2dcc4d16f35407ae6630ea5b2b](https://github.com/magento/magento2/commit/6692e087dd2d5f2d

[2019-03-16 13:28] #18761 closed, assigned to DenisSaltanahmedov

[2019-03-16 13:28] magento-engcom-team commented on #13612
Hi @kamal3294. Thank you for your report.
The issue has been fixed in magento/magento2#20001 by @aditisinghcedcoss in 2.3-develop branch
Related commit(s):
 - [0df72432ecf611c8c0f54b0b88bbbca485d4046f](https://github.com/magento/magento2/commit/0df72432ecf611c8c0f54b0b88bbbca485d4046f)
 - [887902bdf7bbf524ef4b852cd8c6efb0775dd1bf](https://github.com/magento/magento2/commit/887902bdf7bbf524ef4b852c

[2019-03-16 13:28] #13612 closed, assigned to irajneeshgupta

[2019-03-16 13:32] feelcomfort opened #21792 "Error: category.product.addto.wishlist is not a child of catalogsearch.product.addto"
### Preconditions (*)

Magento 2.2.6

### Steps to reproduce (*)

1. Opening web-shop (Landing page or somewhere else) und using the search bar.
2. Tipping any word and pressing enter
![grafik](https://user-images.githubusercontent.com/43548743/54475946-cb9bf280-47f7-11e9-9fa0-d1e7f34f99a3.png)

3. Getting error instead of products refering to your search: 1 exception(s):
Exception #0 (Magento\Fra

[2019-03-16 13:32] magento-engcom-team commented on #21792
Hi @feelcomfort. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-16 14:03] KateRusakova commented on #21641
@magento-engcom-team give me 2.3-develop instance

[2019-03-16 14:03] magento-engcom-team commented on #21641
Hi @KateRusakova. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-16 14:03] magento-engcom-team commented on #21641
Hi @KateRusakova. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-16 14:03] magento-engcom-team commented on #21641
Hi @KateRusakova, here is your [Magento instance](https://i-21641-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21641-2-3-develop.instances.magento-community.engineering/admin](https://i-21641-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 14:10] tsifra opened #21794 "Magento 2.3 Unassign product from category makes category unavailable"
### Preconditions (*)
1. Magento 2.3
2. deploy:mode:set default
3. Apache2 + MySql clean install (no opcache etc.)

### Steps to reproduce (*)
1. Open category where test product is in frontend. Make sure that you see the product. For example it is https://dev.site.com/category1/category2
2. Open product page in new tab
3. Go to backend Catalog - Product - [product]
4. Delete the category from "Ca

[2019-03-16 14:13] tsifra commented on #21794
@magento-engcom-team give me 2.3-develop instance

[2019-03-16 14:13] magento-engcom-team commented on #21794
Hi @tsifra. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-16 14:14] magento-engcom-team commented on #21794
Hi @tsifra, here is your [Magento instance](https://i-21794-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21794-2-3-develop.instances.magento-community.engineering/admin](https://i-21794-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 14:16] magento-engcom-team commented on #21596
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-16 14:24] orlangur commented on #20879
Great finding, @hostep! Surprised by transliterator in Japanese-specific module, I believe there were some in core for Greek or Cyrillic letters.

[2019-03-16 14:30] tsifra commented on #21794
I've tried to reproduce on offered instance,
Created 2 categories and one product, but product doesn't came up in frontend. Maybe because indexes are invalid, need cron job set up? I've tried to unassign category in these conditions. Frontend didn't break. Need to see product in frontend to do full check.

[2019-03-16 14:45] 06romix commented on #21641
#lvivcd19

[2019-03-16 14:45] magento-engcom-team commented on #21641
@06romix thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-16 14:46] magento-engcom-team commented on #21596
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-16 14:46] eduard13 commented on #21596
Working on this one

[2019-03-16 15:00] magento-engcom-team commented on #17295
Hi @mohamed-karam. Thank you for your report.
The issue has been fixed in magento/magento2#21713 by @ronak2ram in 2.3-develop branch
Related commit(s):
 - [7c55811a43ae0a9d80cc3c6544c42088bfe0d790](https://github.com/magento/magento2/commit/7c55811a43ae0a9d80cc3c6544c42088bfe0d790)
 - [a546e142fa738eeb09e09499bd577e40749cc57c](https://github.com/magento/magento2/commit/a546e142fa738eeb09e09499bd57

[2019-03-16 15:00] #17295 closed, assigned to ronak2ram

[2019-03-16 15:00] magento-engcom-team commented on #20511
Hi @KiraLis. Thank you for your report.
The issue has been fixed in magento/magento2#20512 by @XxXgeoXxX in 2.3-develop branch
Related commit(s):
 - [0dfe0f0980a8be7f5ab62d5572126a0a8802ea21](https://github.com/magento/magento2/commit/0dfe0f0980a8be7f5ab62d5572126a0a8802ea21)
 - [e61b399ae9a37f00a58482f6f87bc1e06b84a97d](https://github.com/magento/magento2/commit/e61b399ae9a37f00a58482f6f87bc1e06b

[2019-03-16 15:00] #20511 closed, assigned to dipti2jcommerce, XxXgeoXxX

[2019-03-16 15:00] magento-engcom-team commented on #19360
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#20840 by @XxXgeoXxX in 2.3-develop branch
Related commit(s):
 - [54469ce4307776cf5e5beedb002ef8b5775da51e](https://github.com/magento/magento2/commit/54469ce4307776cf5e5beedb002ef8b5775da51e)
 - [464e9817dee6dd9c0f15d3b7823e70a84ff6e2b4](https://github.com/magento/magento2/commit/464e9817dee6dd9c0f15d3b7823e70a8

[2019-03-16 15:00] #19360 closed, assigned to XxXgeoXxX

[2019-03-16 15:02] KateRusakova commented on #21641
@magento-engcom-team give me 2.2-develop instance

[2019-03-16 15:02] magento-engcom-team commented on #21641
Hi @KateRusakova. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-16 15:03] magento-engcom-team commented on #21641
Hi @KateRusakova, here is your [Magento instance](https://i-21641-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21641-2-2-develop.instances.magento-community.engineering/admin](https://i-21641-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 15:31] onepack commented on #21678
Any info on the release date?
Files included for the fix?
Issue Id?

[2019-03-16 15:42] Nikolay1993 commented on #6382
Working with:
Server - Apache/2.4.29 PHP 7.2.15-0ubuntu0.18.04.1 and sempel data

[2019-03-16 15:46] onepack commented on #21783
So what I did is:
remove the UTC I set in the .user.ini as it was already set in the bootstrap.
I knew about the bootstrap setting but thought it wasn't working as we should have offsets in the Magento using this UTC base.

I noticed there was no change with the UTC in the .user.ini
So this meant that the problem has to be in the Magento core.

This conclusion seemed to be correct as choosing the

[2019-03-16 15:49] likemusic opened #21799 "Zero subtotal after login in on checkout page"
### Preconditions (*)

1. Magento CE v2.2.6
2. Registered user with empty cart.

### Steps to reproduce (*)

1. Add product to cart as guest user.
2. Go to checkout.
3. Login as already registered user.
4. Go to store homepage.
5. Open minicart and lool for subtotal.

### Expected result (*)

1. Subtotal not zero.

### Actual result (*)

1. Subtotal is zero.
![image](https://user-images.githubuser

[2019-03-16 15:49] magento-engcom-team commented on #21799
Hi @likemusic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-16 15:51] likemusic commented on #21799
@magento-engcom-team give me 2.3-develop instance

[2019-03-16 15:51] magento-engcom-team commented on #21799
Hi @likemusic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-16 15:52] magento-engcom-team commented on #21799
Hi @likemusic, here is your [Magento instance](https://i-21799-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21799-2-3-develop.instances.magento-community.engineering/admin](https://i-21799-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-16 16:00] tomekjordan commented on #21783
Probably its the sam problem with Content Staging on Commerce version I think where updates are not triggered properly according to server time.

[2019-03-16 16:04] likemusic commented on #21799
It's not reproducible on 2.3-develop instance.

Should this issue be closed or opened to find some commits that should be backported to 2.2-branch to fix this issue?

[2019-03-16 16:11] OlehWolf commented on #17403
Address validation was removed by resolving internal ticket MAGETWO-48531 in commit https://github.com/magento/magento2/commit/68457cfc63af38bfa47da35c7473a5b4153f67e0
I think @sidolov can advice with it.
CC: @ishakhsuvarov

[2019-03-16 16:19] onepack commented on #21783
I checked the cron_schedule table because of this and it was gigantic. Probably because all the crons missed due to the time mismatch.
I will keep an eye on this table to see if things are working out now.

[2019-03-16 16:21] tsifra commented on #21794
It is some kind of Schrödinger's bug. I've checked catalog_category_entity* tables in my database. Somehow data in table catalog_category_entity_varchar that corresponds url key field in interface was split to two store_id’s (0 -default and 1 - new one). Default store_id for all settings is 0, but some categories that i described in initial report duplicate these settings for store_id = 1. In some

[2019-03-16 16:21] #21794 closed, assigned to nobody

[2019-03-16 16:26] onepack commented on #21783
System.log also has the proper time now.

[2019-03-16 17:36] ccrothers commented on #638
Sounds like a question for aheadworks. Haven't tried the extension personally.

[2019-03-16 18:59] hws47a commented on #20067
Parsing error is already fixed in commit dd7c19ee5bfb218c5de32072f490df781dc00db7 and not reproducible anymore

[2019-03-16 21:09] onepack commented on #21783
After checking again I noticed the following.
The crons all missed as they all were scheduled one hour ahead because I removed the UTC from the bootstrap.
This means keeping the UTC setting in the bootstrap will make sure all crons will run with success in the correct local time.
However, the rest of the magento 2.3 time, like the logs and the output of the locale time, is now one hour behind agai

[2019-03-16 22:02] Ctucker9233 commented on #4806
@magento-engcom-team I don't see these fixes in 2.2. Is a backport necessary?

[2019-03-16 23:24] onepack opened #21803 "Error: End Date must follow Start Date. on creating promotion rule will clear complete rule"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2

### Steps to reproduce (*)

1. Create a promotion rule
2. type the end date in a wrong format like 01-07-2020 instead of 1/7/2020

### Expected result (*)

1. Expected is that there would be a warning while saving
2. Expected is that after the warning all settings done are still present

### Actual result (*)

1. The error appears and the whole for

[2019-03-16 23:24] magento-engcom-team commented on #21803
Hi @onepack. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-17 08:53] magento-engcom-team commented on #10645
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-17 08:54] magento-engcom-team commented on #10645
@dmytro-ch Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-17 08:55] magento-engcom-team commented on #10645
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98747` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-17 08:55] hostep opened #21805 "Filter in url rewrites table in backend isn't being remembered"
### Preconditions (*)
1. PHP 7.2.15
2. Magento 2.3.0 (older versions are also affected)

### Steps to reproduce (*)
1. Have a vanilla 2.3.0 installed using composer
2. Make sure you have some products in your catalog
3. In the backend, go to Marketing > URL Rewrites
4. Put a filter in one of the columns (like in the `Request Path` column) and apply it
5. Click on one of the filtered results
6. Cli

[2019-03-17 08:56] magento-engcom-team commented on #21805
Hi @hostep. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-17 09:01] nawabamit commented on #14583
Hi All
When i try to upload an image from Magento 2.3 backend. i gor error "File 'image/jpeg' doesn't exist"
can you guys tell me what is the soluation
![image-not -uploaded-issue](https://user-images.githubusercontent.com/24496702/54487891-5c8ad080-48c1-11e9-984f-f3d8ae3a4e99.png)

[2019-03-17 09:05] Olek89 opened #21806 "Magento2 stops every night"
Hello,

i didn`t know if it is realy a bug in Magento2 or in the configuration of magento2, server and plesk.
All Crons are working and the error files are also okay.
I have the problem, that my webstore every night at 01 till 02 o`clock gowing down,
but i dont now why.
if i restart the cache in the backend, the site comes up.
Can yomebody help me?

It is M 2.3 on an Plesk 17.8.11 System with Debi

[2019-03-17 09:05] magento-engcom-team commented on #21806
Hi @Olek89. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-17 09:07] LiamKarlMitchell commented on #21806
Enough CPU's?
Can you check for long running mysql process or in htop any long running cron or php-fpm/php processes?

https://magento.stackexchange.com/questions/203107/magento-2-cron-schedule-table-increasing-and-cpu-100
Maybe cron_schedule table packed? Just thoughts... no idea why.

[2019-03-17 09:35] Olek89 commented on #21806
Thank You, i will test it with the cron job and cron_schedule.

[2019-03-17 09:35] DanielRuf commented on #14583
Hi @nawabamit,

Please open a new issue and fill out the ussue template.

[2019-03-17 09:49] nawabamit commented on #14583
i have tried. but no success, I think i do something wrong. can you give the answer here? please it is urgent

[2019-03-17 09:58] DanielRuf commented on #14583
Did you try https://github.com/magento/magento2/issues/new?

[2019-03-17 10:11] nawabamit opened #21807 "When I try to upload an image from Magento 2.3 backend. i got error "File 'image/jpeg' doesn't exist" can you guys tell me what is the solution"
1. Magento 2.3 ,PHP Version 7.1.27  ,MySQL 5.0.12
1. When I try to upload an image from Magento 2.3 backend. i got error "File 'image/jpeg' doesn't exist"
can you guys tell me what is the solution

![image-not -uploaded-issue](https://user-images.githubusercontent.com/24496702/54488645-45041580-48ca-11e9-9450-838f3d45b94b.png)

[2019-03-17 10:12] magento-engcom-team commented on #21807
Hi @nawabamit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-17 10:13] nawabamit commented on #14583
Him ,
DanielRuf
https://github.com/magento/magento2/issues/21807

[2019-03-17 10:27] DanielRuf commented on #21807
It seems you have deleted some parts of the issue template. Please do not delete but replace with your issue content.

[2019-03-17 10:27] DanielRuf commented on #21807
@magento-engcom-team give me 2.3.0 instance

Can you verify the bug there?

[2019-03-17 10:28] magento-engcom-team commented on #21807
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-17 10:28] magento-engcom-team commented on #21807
Hi @DanielRuf, here is your [Magento instance](https://i-21807-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21807-2-3-0.instances.magento-community.engineering/admin](https://i-21807-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-17 10:29] DanielRuf commented on #21807
Please test it there @nawabamit:
https://github.com/magento/magento2/issues/21807#issuecomment-473652828

[2019-03-17 10:33] nawabamit commented on #21807
I have tested. the image uploading process is working fine.but in my case it is not working only on cms page. on catalog product, everything works fine.
![image](https://user-images.githubusercontent.com/24496702/54489028-1ee07480-48ce-11e9-8f7c-d7cfbe5fd3b5.png)

[2019-03-17 14:38] Nix-id commented on #636
@ctadlock @magento-engcom-team
`quote` and  `sales_order` tables still (12,4)  in M2.3.0

[2019-03-17 14:50] DanielRuf commented on #636
Imo we should keep 4 as many shops need this precision. Don't change this.

[2019-03-17 14:53] onepack commented on #21803
I have this behavior on all my Magento2.3 environments.

[2019-03-17 14:55] Nix-id commented on #636
it's not usable if you want add BTC as Currency to shop.
i found some different solution how add BTC as currency - but shop have many problems with work with BTC because tables fields have decimal(12,4)

[2019-03-17 15:18] DanielRuf commented on #636
You can apply patches if you need a different logic.

[2019-03-17 15:38] vmasciotta commented on #13803
Hi all, I'm experiencing the same "non-issue".
@webspeaks did You solve the problem?

Thanks

[2019-03-17 17:06] aleromano89 commented on #21735
@bonucci I can't reproduce the issue on 2.3-develop. Can you give us more details? For example, the cart price rule should have a specific coupon?
thanks

[2019-03-17 17:17] baltechies opened #21808 "Search with specific field is not working"
I am using api to search product with specific fields in response.
Search is working fine but when I am adding fields in url to retrieve specific fields only then its return [].

{{url}}/rest/V1/products/?searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria[filter_groups][0][filters][0][value]=123&searchCriteria[filter_groups][0][filters][0][condition_type]=finset&fields=name

[2019-03-17 17:17] magento-engcom-team commented on #21808
Hi @baltechies. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-17 17:21] baltechies opened #21809 "Api to get attributes option ID from label is not working"
Get the option ID from attributes labels is not working. It showing the all attributes and options for all attributes. any suggestion?

{{url}}/rest/V1/products/attribute-sets/4/attributes/?searchCriteria[filter_groups][0][filters][0][field]=color&searchCriteria[filter_groups][0][filters][0][value]=red&searchCriteria[filter_groups][0][filters][0][condition_type]=eq

[2019-03-17 17:21] magento-engcom-team commented on #21809
Hi @baltechies. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-17 17:28] baltechies commented on #21808
@magento-engcom-team I have provided the issue summary.
I am using magento 2.2.6.
I am using postman to check API responses and as per magento documentation, I am able to get desired result.
Result should be like
{
    "items": [
        {
             "name": "Product name 123",
        }
    ],
    "search_criteria": {
        "filter_groups": [
            {
                "filters": [

[2019-03-17 17:39] baltechies commented on #21809
@magento-engcom-team
I am using magento 2.2.6.
I am using postman to test the api result.

Result of this api response should be like.
{
    "items": [
        {
            "attribute_id": 9,
            "attribute_code": "color",
            "label": "Red",
            "value": 4
        }
    ],
    "search_criteria": {
        "filter_groups": [
            {
                "filters": [

[2019-03-18 05:53] khasru commented on #21738
After debugging
`vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php`
we found that tier_price value is getting from "catalog_product_entity_decimal" table. as key value format. Which is not correct, magento2 has other table for tier price. It should come in Array.

**In our case data was migrated from magento1 to magento2.**

Solution:

To check tier_price attribute_id from "eav_attribu

[2019-03-18 06:10] amol2jcommerce commented on #21789
@magento-engcom-team give me 2.3-develop instance

[2019-03-18 06:10] magento-engcom-team commented on #21789
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-18 06:10] magento-engcom-team commented on #21789
Hi @amol2jcommerce, here is your [Magento instance](https://i-21789-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21789-2-3-develop.instances.magento-community.engineering/admin](https://i-21789-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 06:12] DanielRuf commented on #21789
Hi, can you also provide some info in which browsers this happens?

[2019-03-18 06:13] magento-engcom-team commented on #21803
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-18 06:16] shikhamis11 commented on #21803
@onepack this issue is not reproducable at magento 2.3-develop instance Please check this on current 2.3-develop instance message here if you get this issue there

[2019-03-18 06:16] #21803 closed, assigned to shikhamis11

[2019-03-18 06:19] magento-engcom-team commented on #21799
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-18 06:20] shikhamis11 commented on #21799
@likemusic did you checked this issue is reproduceable at 2.2-develop instance ??

[2019-03-18 06:20] shikhamis11 commented on #21799
@magento-engcom-team give me 2.2-develop instance

[2019-03-18 06:20] magento-engcom-team commented on #21799
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-18 06:21] magento-engcom-team commented on #21799
Hi @shikhamis11, here is your [Magento instance](https://i-21799-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21799-2-2-develop.instances.magento-community.engineering/admin](https://i-21799-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 06:30] Den4ik commented on #21789
Hi @DanielRuf
Chrome 72, 73
Safari 12.0.3
on OS X

FF was not affected by the problem

[2019-03-18 07:39] magento-engcom-team commented on #21809
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 07:39] magento-engcom-team commented on #21808
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 07:39] magento-engcom-team commented on #21807
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 07:39] magento-engcom-team commented on #21806
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 07:40] magento-engcom-team commented on #21792
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 07:40] magento-engcom-team commented on #21779
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 07:48] shikhamis11 commented on #21799
@likemusic this issue is also already fixed at 2.2-develop branch

[2019-03-18 07:48] #21799 closed, assigned to shikhamis11

[2019-03-18 07:50] engcom-backlog-nazar commented on #21792
Hi @feelcomfort thank you for your report, i'm not able to reproduce following steps you described, this may be related, to your custom modules or theme.

[2019-03-18 07:50] #21792 closed, assigned to nobody

[2019-03-18 07:52] engcom-backlog-nazar commented on #21809
Hi @baltechies
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-18 07:52] #21809 closed, assigned to nobody

[2019-03-18 07:53] nawabamit commented on #21807
Any success @engcom-backlog-nazar @DanielRuf on the same.?

[2019-03-18 07:53] engcom-backlog-nazar commented on #21808
Hi @baltechies
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-18 07:53] #21808 closed, assigned to nobody

[2019-03-18 07:55] engcom-backlog-nazar commented on #21807
HI @nawabamit did you have some custom  module installed ? or did you migrate from magento 1 or others 2.2 ?

[2019-03-18 07:56] magento-engcom-team commented on #21805
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-18 07:56] paragpadsumbiya commented on #10234
Hello @magento-engcom-team @orlangur
Yes same issue with Magento 2.2.6 and Magento 2.3.0 .
It is also not working this way for specific country . If you enabled any payment method for specific country and go to frontend then payment method will not show as per the selection of country . it will only show if you set payment method for all countries. I have checked with Default Magento checkout and

[2019-03-18 08:02] magento-engcom-team commented on #21805
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98749`, `MAGETWO-98750` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-18 08:04] magento-engcom-team commented on #21789
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-18 08:05] nawabamit commented on #21807
@engcom-backlog-nazar  No module installed yet and I did not migrate it. I have installed a fresh Magento  2.3 setup.

[2019-03-18 08:12] engcom-backlog-nazar commented on #21806
Hi @Olek89
[code]
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-18 08:12] #21806 closed, assigned to nobody

[2019-03-18 08:14] magento-engcom-team commented on #21789
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-18 08:15] magento-engcom-team commented on #21789
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98751`, `MAGETWO-98752` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-18 08:16] engcom-backlog-nazar commented on #21807
@nawabamit please provide more information about your configuration

[2019-03-18 08:25] magento-engcom-team commented on #21752
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98753`, `MAGETWO-98754` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-18 08:39] EyalAmir opened #21811 "Rest-API updating product stock_item deletes downloadable_product_links"
### Preconditions (*)

1. Magento 2.4-develop
2. Create regular downloadable product, upload downloadable content

### Steps to reproduce (*)

1. Update product stock_item values using a PUT call. For example: {"product": {"sku": "Download1", "status": "1", "name": "Test Name", "price": "11.99", "type_id": "downloadable", "extension_attributes": {"stock_item": {"manage_stock": false}}}}

### Expec

[2019-03-18 08:39] magento-engcom-team commented on #21811
Hi @EyalAmir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-18 08:40] EyalAmir commented on #21811
yes

[2019-03-18 08:44] EyalAmir commented on #21811
yes

Eyal Amir | Co-Founder & COO

* <http://www.farapp.com>*
eyal@farapp.com
(800) 876-4109

On Mon, Mar 18, 2019 at 1:40 AM Magento Community Engineering <
notifications@github.com> wrote:

[2019-03-18 08:44] magento-engcom-team commented on #21811
Hi @EyalAmir. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-18 08:44] magento-engcom-team commented on #21811
Hi @EyalAmir, here is your [Magento instance](https://i-21811-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21811-2-3-develop.instances.magento-community.engineering/admin](https://i-21811-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 08:50] tnsezer opened #21812 "uploader move method concat filepath twice"
### Preconditions (*)

1. Magento  2.3
2. Magento catalog import/export module, Uploader file, move method

### Steps to reproduce (*)

1. I import a json data from external source and images come in external url like http://external-image.com/filename.jpg
2. I use import mapping and not use any 3. party method for it.
3. When the module use Uploader move method, the method check the data, if the

[2019-03-18 08:50] magento-engcom-team commented on #21812
Hi @tnsezer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-18 09:12] craigcarnell commented on #20060
@orlangur

Is there anyway to checkout a specific milestone? I could do with checking out 2.3.1 (https://github.com/magento/magento2/milestone/23) or 2.3.2 to help me track where the bug is fixed.

I need to launch a site based on 2.3.0 but I can't with this bug.

[2019-03-18 09:46] magento-engcom-team commented on #21812
Hi @kisroman. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-18 09:50] likemusic commented on #21799
@magento-engcom-team give me 2.2-develop instance

[2019-03-18 09:51] magento-engcom-team commented on #21799
Hi @likemusic. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-18 09:51] magento-engcom-team commented on #21799
Hi @likemusic, here is your [Magento instance](https://i-21799-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21799-2-2-develop.instances.magento-community.engineering/admin](https://i-21799-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 09:55] orlangur commented on #20060
@craigcarnell milestones were introduced just recently, I added 2.3.2 now as issue seems to be fixed in `2.3-develop` according to your testing.

[2019-03-18 10:08] likemusic commented on #21799
@shikhamis11 yes, it's fixed in in 2.2-dev.

Sorry to disturb.

[2019-03-18 10:08] magento-engcom-team commented on #21779
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98756`, `MAGETWO-98757` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-18 10:11] andrewhowdencom commented on #10165
The additional `/pub` issue is https://github.com/magento/magento2/issues/11692

[2019-03-18 10:19] shikhamis11 commented on #21799
np It's completely fine we are here to help 😊

[2019-03-18 10:29] routbiplab opened #21814 "Products not visible on website after setting up MSI"
### Preconditions (*)

1. Magento v2.3.0
2. mysql  Ver 15.1 Distrib 10.1.38-MariaDB

### Steps to reproduce (*)

1. Deploy sample data
2. Set up multi source inventory

### Expected result (*)

1. Products visible on website.

### Actual result (*)

1. Products doesn't show up on website though they are present in the Magento admin.

[2019-03-18 10:29] magento-engcom-team commented on #21814
Hi @routbiplab. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-18 10:34] magento-engcom-team commented on #21814
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 10:35] engcom-backlog-nazar commented on #21814
@magento-engcom-team give me 2.3.0 instance

[2019-03-18 10:35] magento-engcom-team commented on #21814
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-18 10:35] kisroman commented on #21812
Hi @tnsezer. Can you pls provide your example of import file?

[2019-03-18 10:35] magento-engcom-team commented on #21814
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21814-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21814-2-3-0.instances.magento-community.engineering/admin](https://i-21814-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 10:38] rogyar commented on #21618
Hi @Jitheesh. Probably it's already fixed. Thank you for your approach, anyway. I'm closing this PR for now

[2019-03-18 10:38] #21618 closed, assigned to shikhamis11

[2019-03-18 10:40] routbiplab commented on #21814
@magento-engcom-team give me 2.3-develop instance

[2019-03-18 10:40] magento-engcom-team commented on #21814
Hi @routbiplab. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-18 10:41] magento-engcom-team commented on #21814
Hi @routbiplab, here is your [Magento instance](https://i-21814-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21814-2-3-develop.instances.magento-community.engineering/admin](https://i-21814-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 10:42] tnsezer commented on #21812
@kisroman  https://gist.github.com/tnsezer/d9801ed19b2b871de898f3c9bf80deb5

[2019-03-18 10:43] engcom-backlog-nazar commented on #21814
Hi @routbiplab i think you need report here -> https://github.com/magento-engcom/msi

[2019-03-18 10:51] routbiplab commented on #21814
@engcom-backlog-nazar Okay

[2019-03-18 10:52] magento-engcom-team commented on #21779
Hi @kisroman. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-18 10:59] engcom-backlog-nazar commented on #21814
@routbiplab i'm closing this for now if, you have some additional information or if bug present not  on MSI please reopen the issue.

[2019-03-18 10:59] #21814 closed, assigned to nobody

[2019-03-18 11:28] kisroman commented on #21812
This is duplicate of https://github.com/magento/magento2/issues/20098. This issue already fixed in branches 2.2-develop and 2.3-develop

[2019-03-18 11:29] #21812 closed, assigned to kisroman

[2019-03-18 11:32] sivaschenko commented on #20067
Closed as not actual anymoree

[2019-03-18 11:32] #20067 closed, assigned to nobody

[2019-03-18 11:34] magento-engcom-team commented on #21734
Hi @kisroman. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-18 11:48] magento-engcom-team commented on #21610
Hi @kisroman. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-18 11:58] magento2dev commented on #12860
I'm on Magento 2.2 and I tried to apply this fix but I still get the issue (not filter by product name and show more products than toolbar define) is there anything else to do ?

Thanks !

[2019-03-18 12:11] engcom-backlog-nazar commented on #21807
@nawabamit i'm closing this for now, if you have some additional information which help us to reproduce , feel free to reopen issue.

[2019-03-18 12:11] #21807 closed, assigned to nobody

[2019-03-18 12:11] magento-engcom-team commented on #21811
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-18 12:43] nawabamit commented on #21807
what information do you want know.?  Again explaining here.
Magento version-2.3
PHP version- 7.1.26
the issue is when I try to upload an image from cms page text editor. it shows "File 'image/jpeg' doesn't exist".
Process-CONTENT-pages->content (uploading image)

[2019-03-18 12:47] engcom-backlog-nazar commented on #21807
@nawabamit but as you can see, it's reproducible only on your instance would be great to know, your system is linux or windows ?

[2019-03-18 12:50] nawabamit commented on #21807
@engcom-backlog-nazar  Window.

[2019-03-18 12:51] engcom-backlog-nazar commented on #21807
@nawabamit this may cause the issue, only unix system are supported by magento.

[2019-03-18 12:58] nawabamit commented on #21807
i have another website . where image upload process is working fine. i am using window for both website.

[2019-03-18 13:03] magento-engcom-team commented on #21811
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98758`, `MAGETWO-98759` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-18 13:03] engcom-backlog-nazar commented on #21807
@nawabamit both 2.3.0 ?

[2019-03-18 13:06] nawabamit commented on #21807
@engcom-backlog-nazar  yes both are 2.3.0

[2019-03-18 13:07] santhoshnsscoe opened #21817 "Cron.php not working"
### Preconditions (*)
1. Magento 2.2.7
2. php 7.1.16

### Steps to reproduce (*)
According to https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html we configured the cron jobs. It will create three commands in the crontab.
[code]
### Expected result (*)
The crons works and no errors come.

### Actual result (*)
The ```/usr/local/bin/php /var/www/html/update/cron

[2019-03-18 13:07] magento-engcom-team commented on #21817
Hi @santhoshnsscoe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-18 13:09] Kashiffrq commented on #7322
Recommanded

[2019-03-18 13:25] magento-engcom-team commented on #20825
Hi @kisroman. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-18 13:37] tratta commented on #20952
@engcom-backlog-nazar What did you? I have the same issue.
Thanks in advance

[2019-03-18 13:56] matekovacs-srg commented on #8624
Hi @magento-team
This issue was really fixed, but in the 2.3 the fix has gone, and now it doesn't work again.
When will this issue fix?

[2019-03-18 14:20] engcom-backlog-nazar commented on #21770
Hi  @peterjaap   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-03-18 14:23] peterjaap commented on #21770
@engcom-backlog-nazar but it's not a feature? It's a bug!

[2019-03-18 14:25] engcom-backlog-nazar commented on #21770
@peterjaap according to devdocs, seems like no.

[2019-03-18 14:27] engcom-backlog-nazar commented on #21770
@peterjaap `In the following example, the selected constraint node defines the characteristics of the FL_ALLOWED_SEVERITIES foreign key.` https://magento-devdocs.github.io/devdocs-for-tests/guides/v2.3/extension-dev-guide/declarative-schema/db-schema.html

[2019-03-18 14:28] torhoehn commented on #12271
Can confirm that! 👍

[2019-03-18 14:28] craigcarnell commented on #20060
@orlangur It's taken me about an hour but I found it..

https://github.com/magento/magento2/commit/49a25f2de1f5abb3c9399102c651a91b73417f39

It actually says in amongst the other comments!!

[code]

[2019-03-18 14:31] m-schreiber opened #21823 "Error updating Tier-Prices when Price-Scope is not Global"
### Preconditions (*)

1. Magento 2.3.0 CE
2. Global-Settings catalog/price/scope = 1 (WEBSITE)
`bin/magento config:set catalog/price/scope 1`

### Steps to reproduce (*)

1. Login to Admin
2. Create & Save Product with Tier-Price
3. Open & Save Product again

### Expected result (*)

1. Product saved successfully

### Actual result (*)

1. Error Message "Unique constraint violation found"
[code]

[2019-03-18 14:31] magento-engcom-team commented on #21823
Hi @m-schreiber. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-18 14:37] peterjaap commented on #21770
@engcom-backlog-nazar could you elaborate on that?

[2019-03-18 14:38] ihor-sviziev opened #21824 "Filter in admin users grid in backend isn't being remembered"
### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)
1. Go to Admin >> System >> Permissions >> All Users
2. Filter grid by "User Name", "First Name" or "Last Name"
3. Click to any admin user
4. Change any info and click to "Save User" button

### Expected result (*)
1. Grid should be filtered by params that your filled in step 2

### Actual result (*)
1. Grid filters was reset, you

[2019-03-18 14:38] magento-engcom-team commented on #21824
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-18 14:39] m-schreiber commented on #21823
@magento-engcom-team give me 2.3-develop instance

[2019-03-18 14:39] magento-engcom-team commented on #21823
Hi @m-schreiber. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-18 14:40] magento-engcom-team commented on #21823
Hi @m-schreiber, here is your [Magento instance](https://i-21823-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21823-2-3-develop.instances.magento-community.engineering/admin](https://i-21823-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 14:45] m-schreiber commented on #21823
@magento-engcom-team give me 2.3.0 instance

[2019-03-18 14:45] magento-engcom-team commented on #21823
Hi @m-schreiber. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-18 14:45] magento-engcom-team commented on #21823
Hi @m-schreiber, here is your [Magento instance](https://i-21823-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21823-2-3-0.instances.magento-community.engineering/admin](https://i-21823-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-18 14:46] engcom-backlog-nazar commented on #21770
@peterjaap this mean that you can create a foreign key only with tables created by declarative schema, because all table data loaded now with checking db_schema.xml

[2019-03-18 14:48] m-schreiber commented on #21823
Bug can only be reproduced on 2.3.0 NOT on 2.3-develop.

[2019-03-18 14:48] #21823 closed, assigned to nobody

[2019-03-18 14:56] peterjaap commented on #21770
Ok maybe it's an idea to add that in plain English?

And imho this is a serious impediment for the adoption of declarative schema. I've fallen back to writen InstallScripts again....

[2019-03-18 14:59] engcom-backlog-nazar commented on #21770
@peterjaap seems, like yes, but adding a check data table on install scripts, sounds like feature request. on my opinion

[2019-03-18 15:01] peterjaap commented on #21770
I meant adding it to the docs instead of that weird sentence about `FL_ALLOWED_SEVERITIES`.

[2019-03-18 15:01] prestonchoate commented on #21781
@magento-engcom-team This is reproducible on a vanilla Magento install.

[2019-03-18 15:01] orlangur commented on #20060
@craigcarnell hmm, at least they have it in comment messages. I'll raise in Slack that such fixes should be properly linked to GitHub issues. Thanks for sorting this out!

[2019-03-18 15:02] craigcarnell commented on #20060
@orlangur Thanks, but I do not know which particular commit to add locally, due to all being merged under one PR.

[2019-03-18 15:03] engcom-backlog-nazar commented on #21770
@peterjaap devdoc always have not clearly documentation :) but you can create a PR to solve this here -> https://github.com/magento/devdocs

[2019-03-18 15:08] ewbarnard commented on #5319
We see the problem while upgrading Magento EE 1.14.0.1 using PHP 7.2 and the latest pecl memcached extension. Has "unable to clear session lock record" been solved? I've tried tweaking various php ini settings as described elsewhere to no avail.

[2019-03-18 15:11] hostep commented on #20060
@craigcarnell: it's probably this commit: https://github.com/magento/magento2/commit/a6240195157c0415a155507995d2cf9d4ce03380

If you have a local clone of Magento2's repository, you can usually find the commits using:
`git log --grep 'MC-10938'`

[2019-03-18 15:13] craigcarnell commented on #20060
@hostep Woot :+1:

https://github.com/magento/magento2/commit/2d9647ad547edc92ac2b7a8488f967f52148649d

[2019-03-18 15:38] magento-engcom-team commented on #21824
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-18 15:40] shikhamis11 commented on #21824
@ihor-sviziev yes this is similar to #21805. I think all admin grid must be converted to ui based grid and have features to remember previous selections.

[2019-03-18 15:43] magento-engcom-team commented on #21824
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98763`, `MAGETWO-98764` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-18 16:53] thsdoug commented on #21738
Thank you for helping me find a fix, @khasru.  I will give it a shot.

[2019-03-18 17:12] PascalBrouwers opened #21827 "collect-theme-phrases not picking up translation strings"
### Preconditions (*)

1. Magento 2.2.6, but it's also not fixed in 2.3.x

### Steps to reproduce (*)

1. Run: `bin/magento i18n:collect-theme-phrases`
2. Collected phrases should include these for .html files: `translate="'your_string'"` and `attr="title: $t('your_string')"`

### Expected result (*)

1. The generated csv file should contain all translate strings.

### Actual result (*)

1. The ge

[2019-03-18 17:13] magento-engcom-team commented on #21827
Hi @PascalBrouwers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-18 17:13] PascalBrouwers commented on #21827
The file that has the bug is: `setup/src/Magento/Setup/Module/I18n/Parser/Adapter/Html.php` but I suggest to take a look at the other adapters as well.

[2019-03-18 17:20] magento-engcom-team commented on #21648
Hi @Karlasa. Thank you for your report.
The issue has been fixed in magento/magento2#21649 by @Karlasa in 2.3-develop branch
Related commit(s):
 - [e6167ad9902393665efc59db0a6c619a8bff773e](https://github.com/magento/magento2/commit/e6167ad9902393665efc59db0a6c619a8bff773e)
 - [afa0320e4dd40dd61ba49205dbf56a94b4f018e9](https://github.com/magento/magento2/commit/afa0320e4dd40dd61ba49205dbf56a94b4f0

[2019-03-18 17:20] #21648 closed, assigned to nobody

[2019-03-18 17:20] magento-engcom-team commented on #18630
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#18633 by @dverkade in 2.3-develop branch
Related commit(s):
 - [bf024c1c1f3b86a7c3dd362b78fb124f58f22b96](https://github.com/magento/magento2/commit/bf024c1c1f3b86a7c3dd362b78fb124f58f22b96)
 - [df90f67822ea0f1c5765b512c1d7613532a41a11](https://github.com/magento/magento2/commit/df90f67822ea0f1c5765b512c1d7613532

[2019-03-18 17:20] #18630 closed, assigned to nobody

[2019-03-18 17:56] heldchen commented on #13258
still an issue in 2.3.1

[2019-03-18 22:19] Userr017 commented on #19710
You mean run this command using ssh? mysql DATABASE_NAME -e "SELECT value FROM catalog_product_entity_media_gallery" | awk '{print $1}' | cut -c2- | xargs ls | grep "cannot access"

I can see ERROR 1045 (28000): Access denied for user ' username ' (using password: NO).

[2019-03-18 22:30] annakoehler commented on #19710
@Userr017
it should help you if you add "-u MYSQL_USER -p" to the query, like here:
`mysql DATABASE_NAME -u MYSQL_USER -p -e "SELECT value FROM catalog_product_entity_media_gallery" | awk '{print $1}' | cut -c2- | xargs ls | grep "cannot access"`

[2019-03-18 22:59] magento-engcom-team commented on #21725
Hi @Bartlomiejsz. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-03-19 03:38] dunagan5887 commented on #15239
@engcom-backlog-nazar We are on 2.2.6 Commerce Edition and have already spent months developing a solution; as such it's a bit late for us to move to 2.3 given our upcoming deployment is very soon. Would you be able to provide a patch file that we could apply to our codebase to resolve this issue?

[2019-03-19 04:31] mohith227 commented on #9486
@magento-engcom-team give me 2.2-develop instance to deploy test instance on Magento infrastructure.

[2019-03-19 04:32] magento-engcom-team commented on #9486
Hi @mohith227. Thank you for your request. I'm working on Magento 2.2-develop instance to deploy test instance for you

[2019-03-19 05:38] baltechies commented on #21809
Hi @engcom-backlog-nazar
I am not looking for any advice or help about API's. These API's are not returned the correct response in fresh magento 2 installation. Other API's are working fine but only search API's has bug.

[2019-03-19 06:01] sanjivk570 commented on #15205
Also getting this issue in 2.3

[2019-03-19 06:42] JungleHi commented on #15376
@magento-engcom-team
This issue is reproducible on 2.3.

I also checked the release notice, #15376 is not in the fixed issue list.

[2019-03-19 06:50] kevinvuillemin commented on #21367
I have same problem, did you find a solution please ?

[2019-03-19 06:50] kevinvuillemin commented on #21204
I have same problem, did you find a solution please ?

[2019-03-19 07:09] magento-engcom-team commented on #21827
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 07:10] magento-engcom-team commented on #21817
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 07:28] magento-engcom-team commented on #21750
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98788`, `MAGETWO-98789` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-19 07:31] engcom-backlog-nazar commented on #21646
Hi @qsolutions-pl  any updates ?

[2019-03-19 08:25] magento-engcom-team commented on #21737
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 08:26] vipin12117 commented on #21696
@magento team: any update on error ?

[2019-03-19 08:27] verdde commented on #21204
Not yet, this problem persists for specific locales only. Haven't time to investigate it on my own and they are closing everyone's ticket.

[2019-03-19 08:32] engcom-backlog-nazar commented on #21204
@verdde but i'm posting a screen, i'm not able to reproduce on different locales, please provide your clear steps. how we can fix this without reproducing this ?

[2019-03-19 08:35] verdde commented on #21204
There aren't much steps to provide, in my example i have 2 store views for 1 website. One is English, the default one, and one is Romanian. From this point the translations work fine, except the validation ones.

[2019-03-19 08:39] kevinvuillemin commented on #21204
@engcom-backlog-nazar have you tried in production mode?

[2019-03-19 08:50] engcom-backlog-nazar commented on #21204
@verdde just checked on production mod 2.3-develop
![DeepinScreenshot_select-area_20190319105001](https://user-images.githubusercontent.com/40756439/54592300-c24b9980-4a34-11e9-86b0-3cee89eac43b.png)

[2019-03-19 08:53] spras commented on #21204
Same issue here, magento community  edition 2.3.0.
can you tell us the commit fixing it in 2.3-develop, as we can patch it waiting for 2.3.1 ?
thank's

[2019-03-19 08:56] engcom-backlog-nazar commented on #21204
@verdde with ro_RO language pack
![DeepinScreenshot_select-area_20190319105607](https://user-images.githubusercontent.com/40756439/54592734-a5fc2c80-4a35-11e9-933f-f518ca142ff0.png)

[2019-03-19 08:58] kevinvuillemin commented on #21204
![Sélection_002](https://user-images.githubusercontent.com/12586404/54592891-5f342400-4a81-11e9-9f06-6234bd4811f1.png)

How is it possible ? ^^

[2019-03-19 09:02] sheyan-ascentic opened #21832 "Shipping method values becomes zero when apply a cart price rule in checkout"
### Preconditions (*)
1. Magento 2.2.5

### Steps to reproduce (*)
1. Enable Free shipping, table rates and flat rates from admin->configurations ->shipping methods.
1. Create a Cart price rule to discount a specific shipping amount.
Marketing -> Cart price rule.

https://user-images.githubusercontent.com/34059011/54592574-abb43b00-4a52-11e9-8f32-5b32957a377a.png
https://user-images.githubusercont

[2019-03-19 09:02] magento-engcom-team commented on #21832
Hi @sheyan-ascentic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-19 09:11] sheyan-ascentic commented on #21832
@magento-engcom-team give me 2.2.5 instance

[2019-03-19 09:12] magento-engcom-team commented on #21832
Hi @sheyan-ascentic. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-03-19 09:12] magento-engcom-team commented on #21832
Hi @sheyan-ascentic, here is your [Magento instance](https://i-21832-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-21832-2-2-5.instances.magento-community.engineering/admin](https://i-21832-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-19 09:26] magento-engcom-team commented on #21832
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 09:38] AlexandreKhayrullin commented on #5657
Still happens on a 2.3.0.

[2019-03-19 09:40] engcom-backlog-nazar commented on #21204
@kevinvuillemin maybe problem in your theme ?

[2019-03-19 09:45] kevinvuillemin commented on #21204
Maybe, but it works with version 2.2.x

[2019-03-19 09:45] spras commented on #21204
@verdde @kevinvuillemin do you test on magento community edition 2.3.0 , seems @engcom-backlog-nazar test on 2.3-develop

[2019-03-19 09:49] engcom-backlog-nazar commented on #21204
@spras yes i'm tested on 2.3-develop, now checking on 2.3.0

[2019-03-19 09:55] engcom-backlog-nazar commented on #21204
@spras same on 2.3.0 i'm have translated this message.
steps
1. composer require mageplaza/magento-2-german-language-pack:dev-master
2. bin/magento setup:static-content:deploy de_DE
3. In admin chanage locale
4. message appears translated

[2019-03-19 09:56] geekdawns opened #21833 "When I have finished installing, click on the admin address, and the browser console will report an error after the jump."
like this:
the frontend index page

![微信截图_20190319173016](https://user-images.githubusercontent.com/10649019/54595004-c398b880-4a6c-11e9-8b91-d9ca6f34b0be.png)

and

the admin-login page
![微信截图_20190319173151](https://user-images.githubusercontent.com/10649019/54596653-0ad47880-4a70-11e9-9407-b6dfd856db70.png)

My local environment is：

windows7
Apache
php 7.1
mysql 5.7
magento 2.3.0

I installed

[2019-03-19 09:57] magento-engcom-team commented on #21833
Hi @geekdawns. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-19 10:02] magento-engcom-team commented on #21833
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 10:04] engcom-backlog-nazar commented on #21833
HI @geekdawns This is not a valid environment, please check https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-03-19 10:04] #21833 closed, assigned to nobody

[2019-03-19 10:04] r4m1k707 commented on #21204
How about fresh Magento 2.3 CE installation? Answear is below:
![Opera Snapshot_2019-03-13_100554l](https://user-images.githubusercontent.com/48440882/54597281-94675480-4a36-11e9-818d-a29345c1efd9.png)
![Opera Snapshot_2019-03-13_100639l](https://user-images.githubusercontent.com/48440882/54597287-97624500-4a36-11e9-9bd6-72420e461b14.png)

I guess is a caching issue or deployment

[2019-03-19 10:04] engcom-backlog-nazar commented on #21833
@geekdawns https://github.com/magento/magento2/issues/19589

[2019-03-19 10:13] kevinvuillemin commented on #21204
With @verdde we have 2 store views.

[2019-03-19 10:15] engcom-backlog-nazar commented on #21204
@kevinvuillemin one is en_US second ith de_DE ?

[2019-03-19 10:16] kevinvuillemin commented on #21204
The same for both : fr_FR

[2019-03-19 10:35] durzel commented on #21599
http://chart.apis.google.com/chart appears to be fully offline now, and blocks a connection for a period of time before responding with a 502 error.  http://chart.apis.google.com returns 404.

[2019-03-19 10:37] sbodak commented on #19542
@Dan547 Remove your current `inventory_stock_1` view and run this one:

[code]

[2019-03-19 10:44] #21827 closed, assigned to nobody

[2019-03-19 11:08] magento-engcom-team commented on #21832
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98792`, `MAGETWO-98793` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-19 11:22] magento-engcom-team commented on #21832
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-03-19 11:24] engcom-backlog-nazar commented on #21827
@PascalBrouwers why closed ?

[2019-03-19 11:57] magento-engcom-team commented on #21781
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 12:07] engcom-backlog-nazar commented on #21781
Hi @prestonchoate thank you for you report, this issue has already fixed in 2.2-develop and 2.3-develop branch
![DeepinScreenshot_select-area_20190319140723](https://user-images.githubusercontent.com/40756439/54604814-62fb8280-4a50-11e9-8f00-9868763fa21b.png)

[2019-03-19 12:07] #21781 closed, assigned to nobody

[2019-03-19 12:49] sanderjongsma commented on #13746
It looks like the form_key in the add to cart form is changed by JS. But when you submit the form to fast it is not yet changed, so submitted with a cached form_key. I recorded it and can show you what is happening in  the dom:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/2726055/54607065-b8826000-4a4d-11e9-8cc0-f4edd2436954.gif)

[2019-03-19 12:58] tnsezer opened #21835 "Category image seems broken on frontend after importing category"
### Preconditions (*)

1. Magento 2.3
2. Php 7.1
3. sample category file https://gist.github.com/tnsezer/d9801ed19b2b871de898f3c9bf80deb5

When i import category with external images. the images don't seem on frontend.

### Steps to reproduce (*)

1. When i import category json via magento import export module, It downloads the external images via module-catalog-import-export Uploader move method

[2019-03-19 12:58] magento-engcom-team commented on #21637
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98795`, `MAGETWO-98796` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-19 12:58] magento-engcom-team commented on #21835
Hi @tnsezer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-19 12:59] magento-engcom-team commented on #21783
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 13:05] luizventurote commented on #2996
I had the same issue with Magento 2.3.0.

[2019-03-19 13:17] craigcarnell commented on #13746
https://github.com/magento/magento2/pull/21007

2.3.2

[2019-03-19 13:29] ngocvon opened #21836 "error using array in formApi.getValue()"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-19 13:29] magento-engcom-team commented on #21836
Hi @ngocvon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-19 13:29] amol2jcommerce commented on #21832
@magento-engcom-team give me 2.2-develop instance

[2019-03-19 13:29] magento-engcom-team commented on #21832
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-19 13:31] ngocvon commented on #21836
yes

Vào Th 3, 19 thg 3, 2019 vào lúc 20:30 Magento Community Engineering <
notifications@github.com> đã viết:

--
..............................................................................................................................................
Nguyễn Thị Ngọc Vôn
Phone:0977 549 808

[2019-03-19 13:31] magento-engcom-team commented on #21836
Hi @ngocvon. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-19 13:31] magento-engcom-team commented on #21836
Hi @ngocvon, here is your [Magento instance](https://i-21836-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21836-2-3-develop.instances.magento-community.engineering/admin](https://i-21836-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-19 13:31] magento-engcom-team commented on #21836
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-19 13:41] pauldonnelly commented on #19710
Sorry for the late reply folks. As It was a development website, I just removed the entries manually from the catalog_product_entity_media_gallery table. I kept doing this until the command completed.

[2019-03-19 13:42] mohith227 commented on #9486
@magento-engcom-team  this issue is already fixed in 2.3-develop

[2019-03-19 13:46] engcom-backlog-nazar commented on #21836
Hi @ngocvon To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

when you fill all of this, please reopen the issue.

[2019-03-19 13:46] #21836 closed, assigned to nobody

[2019-03-19 13:59] prestonchoate commented on #21781
@engcom-backlog-nazar Do you have the specific commits that addressed this issue or did you just notice that the same behavior doesn't occur in the 2.2.devlop branch?

[2019-03-19 13:59] dipti2jcommerce commented on #21835
@magento-engcom-team give me 2.2-develop instance

[2019-03-19 13:59] magento-engcom-team commented on #21835
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-19 14:00] magento-engcom-team commented on #21835
Hi @dipti2jcommerce, here is your [Magento instance](https://i-21835-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21835-2-2-develop.instances.magento-community.engineering/admin](https://i-21835-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-19 14:01] verdde commented on #21204
2.3 community, the irony is that we had this issue on enterprise for one of our clients (haha, i don't know the status of the issue there now)

[2019-03-19 14:05] engcom-backlog-nazar commented on #21204
@verdde that very strange, i was try to reproduce with 2 store views, same result on clean 2.3.0 install, and i was  recheck on commerce edition but still have no issue, maybe i'm missed something ?

[2019-03-19 14:07] verdde commented on #21204
iWhat could be the cause for not showing in front-end but having it correctly translated in mage-translation-storage ?

[2019-03-19 14:32] spras commented on #21204
👍  translations are correct in the localstorage mage-translation-storage.
In javascript console `jQuery.mage.__('This is a required field.') give the right translation too (it is related i suppose).

But when i put a breakpoint in jquery/jquery-validate.js, messages are not yet translated , $.mage.__('This is a required field.') doesn't  give the translation.

[2019-03-19 14:47] facetimer commented on #5863
@thlassche Same issue. May you share your solution please ?

[2019-03-19 14:48] develth commented on #4979
Same issue here on 2.3.0 after fresh install

[2019-03-19 14:49] develth commented on #9602
Almost a year "give a fuck" of importing products.

[2019-03-19 14:51] tnsezer commented on #21835
I got the problem. It is about a feature for adding image from gallery to category. If i selected image from gallery it is saved into db like /media/catalog/category/h/t/image.jpg but it affect category importing.

[2019-03-19 14:56] develth commented on #9602
Same issue on fresh installed 2.3.0 on check data

[2019-03-19 15:05] peterjaap commented on #5863
@surao101 @billsideris @facetimer @JMLucas96 @sts-ryan-holton

There are multiple extensions that you could use to regenerate the rewrites. Here are a few;

https://github.com/elgentos/regenerate-catalog-urls
https://github.com/experius/Magento2-Module-Experius-ReindexCatalogUrlRewrites
https://marketplace.magento.com/thlassche-regeneraterewrites.html
https://github.com/olegkoval/magento2-regenera

[2019-03-19 15:17] surao101 commented on #5863
Thanks, The one by olegkoval worked perfectly for me.

[2019-03-19 15:23] Userr017 commented on #19710
Thanks but i got error message `ls: invalid option -- '/'.` after set up password ?

[2019-03-19 16:05] vflirt commented on #7488
Hi,
we are facing the exact same problem on 2.2.5.
The scenario:
1) add configurable product with custom option value1 into cart
2) add same configuration (same super attributes) with custom option value2 into cart
3) create order -> at this step all is good because we are adding 1 product at a time
now the fun step:
4) go to the order and reorder
inspect the quote table and more specific  quote_i

[2019-03-19 17:48] getsolved commented on #13126
Problem still exists in 2.3.0
When will it be fixed? Mass creation of products very annoying.

[2019-03-19 19:06] jburel-clever-age commented on #13316
Hi,
Do you have any update about this issue?

[2019-03-19 19:29] lexiconnect commented on #10450
We also now have a client requiring this on their website.

[2019-03-19 19:57] larsroettig commented on #21746
@magento-engcom-team give me 2.3.0 instance

[2019-03-19 19:57] magento-engcom-team commented on #21746
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-19 19:58] magento-engcom-team commented on #21746
Hi @larsroettig, here is your [Magento instance](https://i-21746-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21746-2-3-0.instances.magento-community.engineering/admin](https://i-21746-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-19 20:07] maghamed commented on #21746
the issue is fixed in the scope of MSI project
here is PR addressing this issue - https://github.com/magento-engcom/msi/pull/2098

[2019-03-19 21:45] facetimer commented on #5863
@surao101 Thank you!
https://github.com/olegkoval/magento2-regenerate_url_rewrites
This solution is perfect.

[2019-03-19 22:13] adarshkhatri commented on #21739
Any update on this?

[2019-03-19 23:07] likemusic commented on #21799
@magento-engcom-team give me 2.2.7 instance

[2019-03-19 23:07] magento-engcom-team commented on #21799
Hi @likemusic. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-03-19 23:07] likemusic commented on #21799
@magento-engcom-team give me 2.2-develop instance

[2019-03-19 23:07] magento-engcom-team commented on #21799
Hi @likemusic. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-19 23:08] magento-engcom-team commented on #21799
Hi @likemusic, here is your [Magento instance](https://i-21799-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21799-2-2-7.instances.magento-community.engineering/admin](https://i-21799-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-19 23:22] david-fuehr opened #21842 "Checkout error for registered customer with cache_id_prefix on multi server setup"
This issue comes from `Magento\Framework\Validator\Factory::_initializeConfigList` where absolute file paths are cached. The actual file content is evaluated using the local file system.

The method is used in `\Magento\Customer\Model\ResourceModel\Address::_validate`, `\Magento\Quote\Model\CustomerManagement::validateAddresses` and `\Magento\Customer\Model\ResourceModel\Customer::_validate` and t

[2019-03-19 23:22] likemusic commented on #21799
@magento-engcom-team give me 2.2-develop instance

[2019-03-19 23:22] magento-engcom-team commented on #21842
Hi @david-fuehr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-19 23:22] magento-engcom-team commented on #21799
Hi @likemusic. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-19 23:23] magento-engcom-team commented on #21799
Hi @likemusic, here is your [Magento instance](https://i-21799-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21799-2-2-develop.instances.magento-community.engineering/admin](https://i-21799-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-20 00:09] pmathbliss commented on #19710
What do you mean the hash is wrong? Can you elaborate? Do you mean the hash in the path?

pub/media/catalog/product/cache/**74c1057f7991b4edb2bc7bdaa94de933**/l-s-fitted-overblouse-l-s-fitted-overblouse_blue_1.jpg

Does anyone know where the hash in the image is generated?

[2019-03-20 01:08] billsideris commented on #5863
Yep, I used this one https://github.com/olegkoval/magento2-regenerate_url_rewrites as well and seems to work fine.

[2019-03-20 01:25] i-bajrai commented on #21599
Oh no! Did google actually do something when they said they would?

Its ok the deprecation was only... 5 years?

[2019-03-20 01:52] magento-engcom-team commented on #21835
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-20 02:20] diazwatson commented on #10450
@dpdesignthatfits @lexiconnect if it helps, the module PayPal recommended us to install actually replaces the one in the core.

What are their reasons for not having this version of the module already pre installed in Magento and instead tell UK customers to install/upgrade when they request PayPal Credit? Honestly I have no idea.

All I can say is we installed it, it replaced the one in the core

[2019-03-20 02:50] magento-engcom-team commented on #21467
Hi @adarshkhatri. Thank you for your report.
The issue has been fixed in magento/magento2#21469 by @adarshkhatri in 2.3-develop branch
Related commit(s):
 - [caabef2fe931aa69b4955ff8265afa52cb61a361](https://github.com/magento/magento2/commit/caabef2fe931aa69b4955ff8265afa52cb61a361)
 - [4c1c65303c3b60de437cb84d882b16718f2f085a](https://github.com/magento/magento2/commit/4c1c65303c3b60de437cb84d88

[2019-03-20 02:50] #21467 closed, assigned to krishprakash

[2019-03-20 02:50] magento-engcom-team commented on #21750
Hi @Karlasa. Thank you for your report.
The issue has been fixed in magento/magento2#21751 by @Karlasa in 2.3-develop branch
Related commit(s):
 - [a07eda31588b8dcbd3bfae9b95052ff88c8435a8](https://github.com/magento/magento2/commit/a07eda31588b8dcbd3bfae9b95052ff88c8435a8)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-20 02:50] magento-engcom-team commented on #21510
Hi @ccasciotti. Thank you for your report.
The issue has been fixed in magento/magento2#21575 by @ccasciotti in 2.3-develop branch
Related commit(s):
 - [318425fafd4d92dbabcf89d332dedf9f27978f63](https://github.com/magento/magento2/commit/318425fafd4d92dbabcf89d332dedf9f27978f63)
 - [486e21c19a6678d3a1b6b0e259408fb1d205bceb](https://github.com/magento/magento2/commit/486e21c19a6678d3a1b6b0e259408f

[2019-03-20 02:50] #21750 closed, assigned to shikhamis11

[2019-03-20 02:50] #21510 closed, assigned to ccasciotti

[2019-03-20 02:50] magento-engcom-team commented on #12396
Hi @Chei20. Thank you for your report.
The issue has been fixed in magento/magento2#21288 by @AleksLi in 2.3-develop branch
Related commit(s):
 - [6ae859aaa233261b03a6bccf946dccdb369926b6](https://github.com/magento/magento2/commit/6ae859aaa233261b03a6bccf946dccdb369926b6)
 - [c25656b228b365c3bf6ee9f3be8120f4f830bb64](https://github.com/magento/magento2/commit/c25656b228b365c3bf6ee9f3be8120f4f830b

[2019-03-20 02:50] #12396 closed, assigned to nobody

[2019-03-20 03:20] kevinvuillemin commented on #21204
@engcom-backlog-nazar could you try with the parameters : Merge JavaScript Files, Enable JavaScript Bundling and Minify JavaScript Files to ON please ?

[2019-03-20 03:34] kevinvuillemin commented on #21204
@engcom-backlog-nazar could you try with parameters Merge JavaScript Files, Enable JavaScript Bundling and Minify JavaScript Files to ON please ?

[2019-03-20 06:06] rougou commented on #21599
The API seems to be back online as of right now.

[2019-03-20 06:09] DanielRuf commented on #21599
Not sure what you mean. This was shutdown a few days ago.

[2019-03-20 06:29] rougou commented on #21599
I mean the google API is working again right now for some reason.
https://chart.googleapis.com/chart?chs=120x120&cht=qr&chl=test

[2019-03-20 06:38] DanielRuf commented on #21599
Weird, but we should not trust this. Well, Google often change their decision. But it seems we are already working on a solution.

[2019-03-20 07:10] magento-engcom-team commented on #21842
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 07:12] i95devdivya opened #21846 "Original Price coming as 0, if customer placed order with Authorize .net direct post from Frontend"
Preconditions

1.      Magento EE 2.2.6

2.      PHP 7.1

Steps to reproduce

1.    Enable Authorize .net Direct Post Payment method in Magento instance.

2. Place an Order from Magento frontend with Authorize .net Direct Post Payment method.

3. Open order details in Admin.

Expected result

1. In order line item level, Original price should display as Product's price.

Actual result

1. In order

[2019-03-20 07:12] magento-engcom-team commented on #21846
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-20 07:13] i95devdivya opened #21847 "Shipping method is not saving in sales_order table if we place order using Multi address checkout"
Preconditions

1.      Magento EE 2.2.6

2.      PHP 7.1

Steps to reproduce

            1- Please order using multi address checkout feature of magento. Order Successfullu placed.

2. Please go to the magento database and select the sales_order table.

3. Selected Shipping methods is not storing in  shipping_method of sales_order table.

Expected result

1. The shipping method like (flatrate_fla

[2019-03-20 07:13] magento-engcom-team commented on #21847
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-20 07:15] i95devdivya opened #21848 "If we create order in Magento with billing address of US country and shipping address of Norway country[any country which has no states in Magento2] then billing address region is saving in shipping address region in sales_order_address table and quote_address table"
Preconditions

1.      Magento EE 2.2.6

2.      PHP 7.1

Steps to Reproduce

1. Place an Order from Magento frontend with billing address as US country and shipping address as Norway country and State being any text

2. Go to the Magento database and select the sales_order_address table

3. Check the region_id column in shipping address of order

4. Go to the Magento database and select the quote

[2019-03-20 07:15] magento-engcom-team commented on #21848
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-20 07:25] magento-engcom-team commented on #21846
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 07:25] magento-engcom-team commented on #21847
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 07:26] magento-engcom-team commented on #21848
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 07:59] engcom-backlog-nazar commented on #21846
HI @i95devdivya thank you for you report, this issue has already fixed in 2.3.0 release.
![DeepinScreenshot_select-area_20190320095852](https://user-images.githubusercontent.com/40756439/54668141-d1931b80-4af6-11e9-9e53-f1556fcee57c.png)

[2019-03-20 07:59] #21846 closed, assigned to nobody

[2019-03-20 08:11] i95devdivya commented on #21846
Is there any patch available for Magento 2.2.6?

[2019-03-20 08:12] nghitrum commented on #13451
I have the same issue when I go to Admin -> Catalog --> Categories. Can we open it to investigate?

[2019-03-20 08:35] magento-engcom-team commented on #21745
Hi @VitaliyBoyko. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-03-20 08:36] engcom-backlog-nazar commented on #21848
Hi @i95devdivya thank you for you report, what the point of this issue ? why they cannot be the null ?

[2019-03-20 08:39] engcom-backlog-nazar commented on #21848
@i95devdivya expected result on 2.3.0 EE instance
![DeepinScreenshot_select-area_20190320103853](https://user-images.githubusercontent.com/40756439/54670472-65b3b180-4afc-11e9-9945-a563cd4637ef.png)

[2019-03-20 08:41] engcom-backlog-nazar commented on #21646
@qsolutions-pl i'm closing this for now, as i'm not able to reproduce with upgrading from 2.2.6 or 2.2.7 to 2.3.0 have no issue. if you find a way to reproduce this issue please feel free to reopen this one.

[2019-03-20 08:41] #21646 closed, assigned to nobody

[2019-03-20 08:45] vaso123 opened #21850 "ThemeFactory getTheme function always returns null"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1-fpm
3. Ubuntu 18.04LTS
4. nginx

### Steps to reproduce (*)

Write a controller, API, anything what you can execute.

`public function getHeader()
    {
        $themeId = $this->scopeConfig->getValue(
            \Magento\Framework\View\DesignInterface::XML_PATH_THEME_ID,
            \Magento\Store\Model\ScopeInterface::SCOPE_STORE,
            $

[2019-03-20 08:45] magento-engcom-team commented on #21850
Hi @vaso123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-20 08:46] eduard13 commented on #20859
@magento-engcom-team give me 2.3-develop instance

[2019-03-20 08:46] magento-engcom-team commented on #20859
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-20 08:46] lexiconnect commented on #10450
@diazwatson thanks for the update.  Was the module PayPal recommended to you one of their own or from a third party?

[2019-03-20 08:46] magento-engcom-team commented on #20859
Hi @eduard13, here is your [Magento instance](https://i-20859-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20859-2-3-develop.instances.magento-community.engineering/admin](https://i-20859-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-20 08:49] macrodesignuk commented on #13126
They have fixed it, they just haven't released the patch. Its annoying as a lot of the Magento 2 faults I've experienced were fixed 1 year ago, but they haven't officially released them yet.

You can replace the related problem files from here https://github.com/magento-engcom/magento2ce/pull/1217

[2019-03-20 08:53] magento-engcom-team commented on #21850
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 09:01] engcom-backlog-nazar commented on #21848
Hi @i95devdivya thank you for you report, closing this as this was fixed in 2.3.0 release

[2019-03-20 09:01] #21848 closed, assigned to nobody

[2019-03-20 09:13] FrankenSteinxD commented on #13476
I am still having the issue on Magento 2.3.0.

    $price = $product->getPrice(); // 45.00
    $special = $product->getSpecialPrice(); // NULL
    $discounted = $catalogRule->calcProductPriceRule($product,$product->getPrice()); // 45.00
    $final = $product->getFinalPrice(); // 45.00

Looking at the database directly, the rule is applied and the price is 36.00 in `catalogrule_product_price`.

@mr

[2019-03-20 09:18] engcom-backlog-nazar commented on #21850
@vaso123 can you check your $themeId ? i think at this point you have null
![DeepinScreenshot_select-area_20190320111732](https://user-images.githubusercontent.com/40756439/54672882-d6110180-4b01-11e9-8ad3-401ccdc608b6.png)

[2019-03-20 09:27] VitaliyBoyko commented on #21745
Hi @Leandry @engcom-backlog-nazar @Webroju
I believe this is expected behavior.
Initially, after shipping address is ok

So we have chosen the forbidden country for billing (in this case for shipping either as it is COD) and expect that order should be placed? I believe this is ok that error being displayed.

[2019-03-20 09:38] diazwatson commented on #10450
As I can see it was developed by a UK agency https://www.gene.co.uk/braintree-payments/

[2019-03-20 10:05] engcom-backlog-nazar commented on #21745
Hi @VitaliyBoyko yes i'm also think that this is expected behavior.

[2019-03-20 10:06] likemusic commented on #21799
Not fixed in 2.2.7 but fixed in 2.2-develop.

Commit with fix:
https://github.com/magento/magento2/commit/cbd707c041d51915e3893a7e1e5a203759c0e87f

[2019-03-20 10:15] engcom-backlog-nazar commented on #21847
Hi @i95devdivya thank you for you report, this issue has already fixed in 2.3.0 release.
![DeepinScreenshot_select-area_20190320121540](https://user-images.githubusercontent.com/40756439/54676686-e3ca8500-4b09-11e9-8cae-27a5ab2cb0cc.png)

[2019-03-20 10:15] #21847 closed, assigned to nobody

[2019-03-20 10:24] magento-engcom-team commented on #21780
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 10:36] magento-engcom-team commented on #21783
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98806` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-20 10:56] talset opened #21852 "Random Error while waiting for package deployed"
### Preconditions (*)

1. Magento version: `2.2.8`

2. Magento source code is build by concourse (https://concourse-ci.org/).
The concourse task use a docker image based on php:7.1 with composer and few tools added.

3. "Build" steps:
[code]

### Steps to reproduce (*)

1. The issue seems quite random but ot happen with the following command `php -d memory_limit=2048M bin/magento setup:static-cont

[2019-03-20 10:56] magento-engcom-team commented on #21852
Hi @talset. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-20 11:59] Wesdesignz commented on #9138
@magento-engcom-team

Could someone from Magento let me know what their intentions with this issue are? I'm willing to take this one on as a community issue, however I am not 100% certain what a good fix would be.

Looking at the issue, the admin authorization is required in order to use any of the API's. Doing this from the `/rest/*` endpoint would, I think, never work, because the admin cookie i

[2019-03-20 12:07] nikunjkotecha opened #21853 "Not possible to use different column name in multiple indexers for subscription"
### Preconditions (*)

1. Magento 2.1.4 EE (and looking at the code I can see the same in 2.2.4 CE + 2.3.x dev CE)
2. Magento catalogsearch_fulltext indexer set to update by schedule

### Steps to reproduce (*)

1. Create custom indexer and mview on cataloginventory_stock_item with entity_column="item_id" instead of product_id used in catalogsearch_fulltext and set it to update by schedule
[code]

[2019-03-20 12:07] magento-engcom-team commented on #21853
Hi @nikunjkotecha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-20 12:12] magento-engcom-team commented on #12090
Hi @josefbehr. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-20 12:12] nikunjkotecha commented on #21853
Yes this is reproducible in Vanilla Magento, I'll try and provide a hacky patch soon.

[2019-03-20 12:21] HirokazuNishi commented on #12090
@josefbehr @heldchen Did you try https://github.com/magento/magento2-jp ? CurrencyPrecision module may help you.

[2019-03-20 12:27] bordeo opened #21854 "Missing required argument $batchSizeAdjusters of Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BatchSizeCalculator"
### Preconditions (*)

1. Magento 2.3.0
2. Install magento clean
3. remove modules  module-bundle, module-configurable and module-grouped in composer.json
[code]

### Steps to reproduce (*)

1. run `bin/magento index:reindex catalog_product_price`

### Expected result (*)

![Screenshot 2019-03-20 at 13 21 17](https://user-images.githubusercontent.com/1566127/54683917-3492ab80-4b13-11e9-92c0-dd9d1f

[2019-03-20 12:27] magento-engcom-team commented on #21854
Hi @bordeo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-20 12:44] magento-engcom-team commented on #21854
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-20 12:52] nikunjkotecha commented on #21853
I've created PR for possible direction towards the fix, I don't expect it to be the final fix as it should be done in more generic and global way IMO but since it is blocker in my project I'm going with a the solution I suggested with known risks (if some indexer uses it's custom Subscription class, my fixes won't be applied to it)

[2019-03-20 13:02] hostep commented on #21824
@shikhamis11: it looks like a fix is quite simple: https://github.com/magento/magento2/pull/21834

I wouldn't convert all the grids so they use that more complicated filtering thing like on the product grid, I kind of like the simplicity of the current filters for "simple" entities (like url rewrites and admin users).

[2019-03-20 13:03] engcom-backlog-nazar commented on #21780
@magento-engcom-team give me 2.3-develop instance

[2019-03-20 13:04] magento-engcom-team commented on #21780
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-20 13:04] magento-engcom-team commented on #21780
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21780-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21780-2-3-develop.instances.magento-community.engineering/admin](https://i-21780-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-20 13:14] hostep commented on #21599
Magento released a patch for [Magento 1](https://magento.com/tech-resources/download#download2283), see [announcement](https://community.magento.com/t5/Magento-DevBlog/Google-Image-Charts-deprecation-and-update-for-M1/ba-p/125006).
No news yet on Magento 2 I think.

[2019-03-20 13:17] orlangur commented on #21854
@bordeo,

`Magento_Bundle` is not removeable yet AFAIR, what if you remove only `module-configurable` and `module-grouped`?

[2019-03-20 13:19] magento-engcom-team commented on #19835
Hi @milindsingh. Thank you for your report.
The issue has been fixed in magento/magento2#21791 by @OlehWolf in 2.3-develop branch
Related commit(s):
 - [68d793d81a45035b1d5df2dc883582ef6a37229f](https://github.com/magento/magento2/commit/68d793d81a45035b1d5df2dc883582ef6a37229f)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-20 13:19] #19835 closed, assigned to Bravarg

[2019-03-20 13:19] vaso123 commented on #21850
Nope, there is the id, but anyway, it was my fault.
I've just copied it from stackoverflow, and I've used the wrong `\Magento\Framework\View\Design\Theme\ThemeProviderInterface`.

I've changed it to `Magento\Theme\Model\Theme\ThemeProvider`  and now it works.

[2019-03-20 13:30] engcom-backlog-nazar commented on #21780
Hi @msawyers thank you for you report, this error appears if you have wrong credentials data, please contact the DHL account manager.

[2019-03-20 13:30] #21780 closed, assigned to nobody

[2019-03-20 13:30] danrcoull commented on #5723
Change vendor/magento/module-catalog/Model/ProductRepository.php LINE 531  getList function to look like below.  To do the same as category

[code]

[2019-03-20 13:31] engcom-backlog-nazar commented on #21745
HI @Webroju thank you for you report, i;m closing this as this is non-issue.

[2019-03-20 13:31] #21745 closed, assigned to nobody

[2019-03-20 13:35] magento-engcom-team commented on #13612
Hi @kamal3294. Thank you for your report.
The issue has been fixed in magento/magento2#21802 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [e7fb7fe185639ca6f811c63023eb0d04ceda892b](https://github.com/magento/magento2/commit/e7fb7fe185639ca6f811c63023eb0d04ceda892b)
 - [dcf808e1922de7665c27d8d7b9f292ca96c333b9](https://github.com/magento/magento2/commit/dcf808e1922de7665c27d8d7b9f

[2019-03-20 13:35] magento-engcom-team commented on #21278
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#21662 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [f80d38218d0d42a297fe6f6727f5d63191093fad](https://github.com/magento/magento2/commit/f80d38218d0d42a297fe6f6727f5d63191093fad)
 - [b7ad0754b9f78510ec1f47ddf866d70ed05f91fc](https://github.com/magento/magento2/commit/b7ad0754b9f78510ec1f47dd

[2019-03-20 13:35] magento-engcom-team commented on #21384
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#21800 by @ananth-iyer in 2.2-develop branch
Related commit(s):
 - [095b9f4ef371d9e5692f42b655c81294f14c5137](https://github.com/magento/magento2/commit/095b9f4ef371d9e5692f42b655c81294f14c5137)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-20 13:35] magento-engcom-team commented on #167
Hi @clockworkgeek. Thank you for your report.
The issue has been fixed in magento/magento2#21793 by @VitaliyBoyko in 2.2-develop branch
Related commit(s):
 - [27d113fc9295cff8909913a41867d64dbbcfb377](https://github.com/magento/magento2/commit/27d113fc9295cff8909913a41867d64dbbcfb377)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-20 13:35] magento-engcom-team commented on #21419
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#21759 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [2aed503fbb4b8bdee75bcc25ebded80b65ad8b5e](https://github.com/magento/magento2/commit/2aed503fbb4b8bdee75bcc25ebded80b65ad8b5e)
 - [f0b3b92960f79366325ed8ce7f68e97bc23d5b71](https://github.com/magento/magento2/commit/f0b3b92960f79366325ed8ce7f68e9

[2019-03-20 13:38] engcom-backlog-nazar commented on #21850
@vaso123 ok, so i'm closing this one, thank you for collaboration. :+1:

[2019-03-20 13:38] #21850 closed, assigned to nobody

[2019-03-20 14:11] bordeo commented on #21854
I removed module-bundle by removing also other modules because I don't need it.
It all works with the fixed I proposed magento/magento2#21858

Every of these three modules inject an array value:
**magento/module-grouped**
https://github.com/magento/magento2/blob/d976a2bb85c91d95b380378c30167f1240f23657/app/code/Magento/GroupedProduct/etc/di.xml#L96-L98

**magento/module-configurable**
https://gith

[2019-03-20 14:14] magento-engcom-team commented on #20434
Hi @riccardougolini. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-03-20 14:34] Userr017 commented on #20090
This is sure same issue? https://github.com/magento/magento2/issues/19710

Because when i change product name example. Bag3 to Bag4 and url key baq4 for Store (id_1) and keep store (id_2) default product name Bag3 and url key bag3. It display in Store (id_1) real product images what is added to product.

Why this don't display real product images for Store (id_1) if update magento 2.2.7 to 2.3.0?

[2019-03-20 14:45] i95devdivya opened #21860 "URL Key already exist error coming if we give same name for two products."
Preconditions

1.      Magento EE 2.2.6

2.      PHP 7.1

Steps to reproduce

1. Create a Product from Magento Admin and set visibility to catalog & search or catalog or search.

3. Create another product with same name. And select visibility catalog & search or catalog or search.

Expected result

1. If product has same name, URL key should modify like SKU

Actual result

1. Same URL key is takin

[2019-03-20 14:45] magento-engcom-team commented on #21860
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-20 15:08] msawyers commented on #21780
Hi, did you check the attached log, Credentials are correct, i received a response from their Application with rates, however Magento failed to display it.

[2019-03-20 15:11] wjpbill commented on #21452
Did this patch work for anyone?

I've got a live 2.2.5 site and wondered if I should use the patch. I can't run it on Dev as that's 2.2.7

Would appreciate the feedback everyone

[2019-03-20 15:14] msawyers commented on #21780
2019-03-15 20:00:56] main.DEBUG: array (
  'request' => '<?xml version="1.0" encoding="UTF-8"?>
<p:DCTRequest xmlns:p="http://www.dhl.com" xmlns:p1="http://www.dhl.com/datatypes" xmlns:p2="http://www.dhl.com/DCTRequestdatatypes" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.dhl.com DCT-req.xsd "><GetQuote xmlns=""><Request><ServiceHeader><SiteID>****</SiteID>

[2019-03-20 15:16] msawyers commented on #21780
``
[2019-03-15 20:00:56] main.DEBUG: array (
  'request' =- '-?xml version="1.0" encoding="UTF-8"?-
-p:DCTRequest xmlns:p="http://www.dhl.com" xmlns:p1="http://www.dhl.com/datatypes" xmlns:p2="http://www.dhl.com/DCTRequestdatatypes" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.dhl.com DCT-req.xsd "--GetQuote xmlns=""--Request--ServiceHeader--SiteID-****-/Sit

[2019-03-20 15:18] msawyers commented on #21780
![response](https://user-images.githubusercontent.com/8907629/54696275-8af2f080-4af9-11e9-85f6-7421ff70c5f2.PNG)

[2019-03-20 15:19] msawyers commented on #21780
![response2](https://user-images.githubusercontent.com/8907629/54696341-a1994780-4af9-11e9-96a4-be39f9957a2a.PNG)

[2019-03-20 15:19] msawyers commented on #21780
PLease clarify?

[2019-03-20 15:35] magento-engcom-team commented on #21860
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-20 15:42] shikhamis11 commented on #21860
@magento-engcom-team give me 2.3-develop instance

[2019-03-20 15:42] magento-engcom-team commented on #21860
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-20 15:43] magento-engcom-team commented on #21860
Hi @shikhamis11, here is your [Magento instance](https://i-21860-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21860-2-3-develop.instances.magento-community.engineering/admin](https://i-21860-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-20 15:47] shikhamis11 commented on #21860
@i95devdivya this issue is also coming in community versions.

[2019-03-20 15:49] magento-engcom-team commented on #21860
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98807`, `MAGETWO-98808` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-20 16:00] magento-engcom-team commented on #10645
Hi @Zaylril. Thank you for your report.
The issue has been fixed in magento/magento2#21804 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [ab7aee90f55ccd02738ff98a69e6e29b083faed8](https://github.com/magento/magento2/commit/ab7aee90f55ccd02738ff98a69e6e29b083faed8)
 - [743c034291d62a4329350d637832ad0ef7b8439b](https://github.com/magento/magento2/commit/743c034291d62a4329350d637832a

[2019-03-20 16:08] orlangur commented on #21854
@bordeo please answer my question - is the issue reproduced if you don't touch the bundle module?

[2019-03-20 16:14] Webroju commented on #21745
Hi @engcom-backlog-nazar ,
I do not agree with that, because the customer pays from a country, which is allowed.
It is the question of how to define billing address and payment method, for me there are two different things.
It also means billing address and not payment address.
Because the payment method determines where and how I pay, and that has nothing to do with the billing address.

[2019-03-20 17:01] hostep commented on #21860
I don't think this is a valid bug report, it is expected that you get an error and you should then manually modify the url key so it becomes unique, no?
(Hope I understood the issue correctly because I can't view the screencast, needs Flash Player, is that still a thing these days?)

[2019-03-20 17:09] bordeo commented on #21854
No it is not reproduced.

[2019-03-20 17:09] iget-esoares commented on #13493
That's a very strange behavior IMO.

I think that there are two different situations:

1. The user buy as guest (there's no option on checkout to create the account immediately), then just after it order being confirmed, he see a big button: "Create an Account".

In this situation, the order should be associated IMO.
But some of our client's customers are not being associated to their orders.

2.

[2019-03-20 17:31] diamondavocado opened #21862 "Provide a setting to allow previously used passwords to be re-used when changing passwords"
### Description (*)
Currently Magento 2 prevents you from re-using old passwords when changing your password. The code states "at least 4" previous passwords will be blocked from re-use. This is arbitrary and only leads to insecure practices such as incrementing passwords (`hunter2` -> `hunter3`) or writing passwords down on paper.

Guidance from the National Cyber Security Centre explicitly advis

[2019-03-20 17:31] magento-engcom-team commented on #21862
Hi @diamondavocado. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-20 17:36] stealbass commented on #4270
Hi there please help
Same problem here i can't save product my debug.log is getting full and i also get this msg Notice: A non well formed numeric value encountered in C:\UwAmp\www\...\vendor\magento\framework\Image\Adapter\Gd2.php on line 344

[2019-03-20 17:40] stealbass opened #21863 "Cant save a product problem with Gd2.php"
Hi there

I'm on Magento 2.1.9
My debug.log is getting full and i also get this message on the backend when updating or saving a product
Notice: A non well formed numeric value encountered in C:\UwAmp\www...\vendor\magento\framework\Image\Adapter\Gd2.php on line 344

What should i do please ?

[2019-03-20 17:40] magento-engcom-team commented on #21863
Hi @stealbass. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-20 18:28] magento-engcom-team commented on #21648
Hi @Karlasa. Thank you for your report.
The issue has been fixed in magento/magento2#21838 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [079ecb3689e76e1d5ed85de20f19b59eb347cd66](https://github.com/magento/magento2/commit/079ecb3689e76e1d5ed85de20f19b59eb347cd66)
 - [943fb3374c379c9d00236251d6901a371ee98682](https://github.com/magento/magento2/commit/943fb3374c379c9d00236251d6901

[2019-03-20 19:17] rafaelstz commented on #21863
@magento-engcom-team give me 2.1 instance

[2019-03-20 20:00] Wesdesignz commented on #9138
I've been looking at `Magento/Backend` and `Magento/Webapi` and I'm not sure if the fix I've suggested here is possible at all, a few things I am not sure about on how to handle them are:

- Magento/Webapi handles REST requests by adding an area and a controller for handling the API requests, which is not possible from inside the admin area
- The admin features the secret key, which I do not think

[2019-03-20 20:31] pmathbliss commented on #19710
Images no longer cache/recache properly from anything other than two folder out side of the entity's root image folder.

Forexample,
If the image is assigned in pub/media/catalog/product
pub/media/catalog/product/zipper-ponte-jumper-sy9247_navy_3.jpg
if the cached file is deleted, the Image service does not find the original path to the image.

The cache URI is pub/media/catalog/product/cache/74c1

[2019-03-20 21:07] magento-engcom-team commented on #21637
Hi @Rus0. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Details

[2019-03-20 21:07] Rus0 commented on #21637
@magento-engcom-team give me 2.3-develop instance

[2019-03-20 21:07] magento-engcom-team commented on #21637
Hi @Rus0. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-20 21:08] magento-engcom-team commented on #21637
Hi @Rus0, here is your [Magento instance](https://i-21637-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21637-2-3-develop.instances.magento-community.engineering/admin](https://i-21637-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-20 21:21] Rus0 commented on #21637
It is no longer reproducible in 2.3-develop:
![image](https://user-images.githubusercontent.com/6666392/54719907-b2f74980-4b23-11e9-9be2-5870e57c603d.png)
![image](https://user-images.githubusercontent.com/6666392/54719914-b7236700-4b23-11e9-8a84-c00492ddf84f.png)
![image](https://user-images.githubusercontent.com/6666392/54719917-b985c100-4b23-11e9-9505-d9f0829f6919.png)
![image](https://user-ima

[2019-03-20 21:21] magento-engcom-team commented on #21637
Hi @Rus0. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-20 21:22] magento-engcom-team commented on #21637
Hi @Rus0, here is your [Magento instance](https://i-21637-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21637-2-2-develop.instances.magento-community.engineering/admin](https://i-21637-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-20 21:31] mbuc commented on #19825
Just want to add that I am having the exact same issue as the original post.  I am running Magento 2.3.0 using PHP 7.2 on Nginx 1.14.0 on Ubuntu 18.04 LTS.  User has administrative privileges, filesystem privileges are set properly, and I have not run into permissions issues elsewhere.

[2019-03-20 21:31] larsroettig opened #21865 "Add PHPStan to Magento static checks"
### Description (*)
As the Architecture discussed at https://github.com/magento/architecture/pull/114
we should add PHPStan as developer composer dependencies.

**How:**
`composer require --dev phpstan/phpstan`
Add check to `dev/tests/static/phpunit.xml.dist`

### Expected behaviour (*)
PHPStan run with the Magento static checks

### Benefits

Following types of issues can be found in Magento code

[2019-03-20 21:32] Rus0 commented on #21637
No longer reproducible in development branch.

There is nothing for a dev to do

[2019-03-20 21:35] mbuc commented on #19825
Additionally, I cannot perform a backup while the maintenance mode flag is set.  It causes the backend to enter maintenance mode as well.  Is this the intended result?

[2019-03-20 22:55] orlangur commented on #21854
@bordeo, ok, then there is nothing to fix here - `Magento_Bundle` is not supposed to be removed yet, unlike `Magento_ConfigurableProduct` or `Magento_GroupedProduct`.

[2019-03-20 22:55] #21854 closed, assigned to nobody

[2019-03-20 22:58] nickpiro commented on #21637
What was changed/what is the fix?

On Wed, Mar 20, 2019 at 5:33 PM Rus0 <notifications@github.com> wrote:

[2019-03-20 23:00] nickpiro commented on #21637
@Rus0 what was the fix that was done? The other day when I tested in that branch it did not work and I am not the only one to check!

[2019-03-20 23:53] Januszpl commented on #21630
@Webroju I'm not sure if it should. If user change the country in "Summary - estimating shipping cost and tax" it get only estimation and only here.

This seems to be more for me as a feature request / improvement.

[2019-03-21 01:04] shikhamis11 commented on #21860
@hostep most of the merchants don't fill the url key manually while creating products and this is very common to have same name while creating product so in my opinion the behavior should be similar like skus.

[2019-03-21 01:15] magento-engcom-team commented on #21596
Hi @Januszpl. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-21 01:25] Januszpl commented on #20830
@deepak2713 any updates?

[2019-03-21 04:18] msawyers commented on #21780
Someone please assist with this, kindly check the logs files my credentials are returning XML response from DHL, why arent the quotes being displayed?

[2019-03-21 07:19] engcom-backlog-nazar commented on #21637
@Rus0  this is reproducible with coupon code , please try again.

[2019-03-21 07:22] magento-engcom-team commented on #21862
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 07:22] magento-engcom-team commented on #21863
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 07:27] engcom-backlog-nazar commented on #21863
Hi @stealbass
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-21 07:27] #21863 closed, assigned to nobody

[2019-03-21 07:35] magento-engcom-team commented on #21853
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 08:01] engcom-backlog-nazar commented on #21637
@Rus0
![DeepinScreenshot_select-area_20190321095917](https://user-images.githubusercontent.com/40756439/54739304-467e5800-4bc0-11e9-8df6-2b5c376e0bee.png)
![DeepinScreenshot_select-area_20190321100056](https://user-images.githubusercontent.com/40756439/54739305-467e5800-4bc0-11e9-940a-78f3c4febe50.png)

[2019-03-21 08:02] magento-engcom-team commented on #21737
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98826`, `MAGETWO-98827` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-21 08:13] engcom-backlog-nazar commented on #21781
@prestonchoate i just check that this is not occur in the 2.2.develop branch

[2019-03-21 08:15] engcom-backlog-nazar commented on #21204
@kevinvuillemin yes with this option also i'm have translated string. any others things ?

[2019-03-21 08:20] hostep commented on #21860
Hmm, I wasn't even aware of this SKU auto-generation. But I just tested and you are right, it automatically changes. This feels really strange though, the SKU field is such and important field, and then Magento auto generates some value to avoid conflicts with existing SKU's. Not sure if that is right.

But I can see the point that it is convenient to auto generate url keys so they are unique. I t

[2019-03-21 08:30] JMLucas96 commented on #5860
Hi, @hiephm I tried to execute your solution but any breakpoint stops on function when I purchase a new item and an order is created, I need to create a di.xml or something else?
I have this class:
[code]
And I have this structure in my module:

--Compsaonline
---OrderState
---etc
-----module.xml
---Model
-----State
-------CommandInterface.php
---registration.php

[2019-03-21 08:31] haelbichalex opened #21867 "Shipment methods for backend order don't show on multistore setup"
### Preconditions (*)

1. Magento 2.3.0
2. Commerce and Community

### Steps to reproduce (*)

1. Create new Magento 2 Setup
2. Setup second website, store and store view
3. Enable **only** Flat Rate for first website
4. Enable **only** Free Shipping for second website
5. Create simple product and assign it to both websites
6. Create backend order for second shop and add the product there
7. Click

[2019-03-21 08:31] magento-engcom-team commented on #21867
Hi @haelbichalex. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-21 08:33] haelbichalex commented on #21867
@magento-engcom-team give me 2.3-develop instance

[2019-03-21 08:34] magento-engcom-team commented on #21867
Hi @haelbichalex. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-21 08:34] magento-engcom-team commented on #21867
Hi @haelbichalex, here is your [Magento instance](https://i-21867-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21867-2-3-develop.instances.magento-community.engineering/admin](https://i-21867-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-21 08:38] magento-engcom-team commented on #21867
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 08:41] hostep commented on #21204
Re-opening, because we are seeing this as wel on an upgrade of one of our shops to 2.3.0
It only seems to happen in production mode, not locally in developer mode.

I'll see if I can find exact steps to reproduce when I find a bit time later today/this week.

[2019-03-21 08:47] haelbichalex commented on #21867
I was not able to reproduce this on the 2.3-develop system. Was this already fixed?

[2019-03-21 08:50] haelbichalex commented on #21867
@magento-engcom-team give me 2.3 instance

[2019-03-21 09:08] engcom-backlog-nazar commented on #21867
HI @haelbichalex thank you for you report, seems like this was fixed here -> https://github.com/magento/magento2/issues/16604

[2019-03-21 09:12] haelbichalex commented on #21867
@magento-engcom-team give me 2.3.0 instance

[2019-03-21 09:12] magento-engcom-team commented on #21867
Hi @haelbichalex. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-21 09:12] magento-engcom-team commented on #21867
Hi @haelbichalex, here is your [Magento instance](https://i-21867-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21867-2-3-0.instances.magento-community.engineering/admin](https://i-21867-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-21 09:20] #21867 closed, assigned to nobody

[2019-03-21 09:26] magento-engcom-team commented on #21852
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 09:46] slackerzz opened #21868 "Method importFromArray from \Magento\Eav\Model\Entity\Collection\AbstractCollection doesn't return a working collection"
### Preconditions (*)

1. Create a collection, for example using `\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory`:

[code]

2. Export collection data as a 2D array with `exportToArray()`
[code]

### Steps to reproduce (*)

1. Now create a new collection and try to use `importFromArray()` to populate it
[code]

### Expected result (*)

1. `$newCollection->getItems()` should return a

[2019-03-21 09:46] magento-engcom-team commented on #21868
Hi @slackerzz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-21 09:47] nikunjkotecha commented on #21853
@magento-engcom-team this requires custom code to be added to be able to reproduce the issue, not sure if you will allow me to add custom code in the instance you give to me

[2019-03-21 09:56] magento-engcom-team commented on #21868
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 10:12] dknzdesign commented on #11266
A work around is to send the url_key manually by adding the following node to the product node:
[code]
Using the sku is an easy way to ensure you will never have a problem, although maybe not the nest for SEO

[2019-03-21 10:13] engcom-backlog-nazar commented on #21852
Hi @talset thank you for you report, but i'm not able to reproduce this on my local environment, your error comes from ->
![DeepinScreenshot_select-area_20190321120152](https://user-images.githubusercontent.com/40756439/54745007-273bf680-4bd1-11e9-9c33-f493ae9a09de.png)

Please try debug at this point and let me know result, because we cannot accept random bugs :) thanks for collaboration :+1:

[2019-03-21 10:55] engcom-backlog-nazar commented on #21868
HI @slackerzz can you please explain more detail, i'm not able to reproduce.
![DeepinScreenshot_select-area_20190321125402](https://user-images.githubusercontent.com/40756439/54747785-818c8580-4bd8-11e9-8f8f-b60ba69ce730.png)
![DeepinScreenshot_select-area_20190321125411](https://user-images.githubusercontent.com/40756439/54747787-82251c00-4bd8-11e9-9270-a02cc496ca79.png)

[2019-03-21 10:57] likemusic commented on #7441
If you have some trubles with attributes on configurable products try to flash cache and run indexer:
[code]

[2019-03-21 11:46] magento-engcom-team commented on #21868
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98828`, `MAGETWO-98829` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-21 11:57] riyuk commented on #12881
Reported 2017, Confirmed 2018, Solved.... maybe 2019? Critical Bugs never get fixed `fast`

[2019-03-21 12:00] magento-engcom-team commented on #21747
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 12:03] AndyJAllen opened #21870 "Zero Dollar Authorization Exploit - Payflow Pro - M2.2.6"
### Preconditions (*)

1. Magento 2.2.6
2. Payflow Pro

### Steps to reproduce (*)

1. Have Payflow Pro enabled and website live long enough to be attacked

### Expected result (*)

1. I would expect the Paypal module wouldn't let fradulent cards get tested with $0 amounts and most data fields being NULL

### Actual result (*)

1. Many automated $0 transactions being recorded in logs and on Paypal

[2019-03-21 12:03] magento-engcom-team commented on #21870
Hi @AndyJAllen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-21 12:14] magento-engcom-team commented on #21641
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 12:17] magento-engcom-team commented on #21870
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 12:19] engcom-backlog-nazar commented on #21870
Hi @AndyJAllen thank you for you report, this issue has already fixed in 2.2-develop and 2.3-develop branch and will be available on 2.2.8 and 2.3.1 release. https://github.com/magento/magento2/issues/21781

[2019-03-21 12:19] #21870 closed, assigned to nobody

[2019-03-21 12:45] haelbichalex commented on #21867
I fixed this on my 2.3.0 setup by following the guide to apply composer patches here:
https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit

I added two patches to my composer.json:

[code]
Those patches are:
1. b35b68130265163f2ed151ff94e0d9f7fc63d44c
2. cc00197d13d6244e32201e4c6bf00287e54747c5

[2019-03-21 13:10] jonathan-may opened #21871 "Tiered price create & delete when Catalog Price Scope = Website"
### Preconditions (*)

1. Magento Commerce 2.3.0
2. Global-Settings catalog/price/scope = 1 (WEBSITE)
 `bin/magento config:set catalog/price/scope 1`

### Steps to reproduce (*)

1. Login to Admin
2. Create & Save Product with Tier-Price using All Websites
3. Update Product, change Tier-Price from All Websites to Main Website, Save Product

### Expected result (*)

1. Product should display one Ti

[2019-03-21 13:16] Nazar65 commented on #21478
Hi @ikk0 after hour of debugging, i'm able to get frontend url for base website like this
[code]
But still not able to get Url from second store. working on this now ..
and @mohith227  solution not work.

[2019-03-21 13:24] nickpiro commented on #21637
@engcom-backlog-nazar was the initial issue I found fixed? When I tested it on the develop branch on March 13th the issue was still there. Now when I check the dev branch it doesn't seem to be! If someone could direct me to what was done to fix it?

[2019-03-21 13:28] dudzio12 opened #21873 "Broken cart view, when quote contains disabled simple product which is child of configurable."
### Preconditions (*)

1. Magento 2.3.0.
2. Redis for session storage (might not be required)

### Steps to reproduce (*)
1. Create configurable product
2. Create simple product associated to previously created configurable.
3. Register new front end customer
4. Add simple product from step 2. to your cart.
5. Log out.
6. Disable simple product in admin panel.
7. Log in to frontend.
8. Go to /chec

[2019-03-21 13:28] hostep commented on #21204
Ok, update, my previous test wasn't very well conducted, I can also reproduce the problem locally on the create an account page (was previously testing some other frontend component which actually did work).

So I've gone ahead and tested 3 different versions of Magento for the bug on vanilla installations: versions 2.2.7, 2.3.0 & 2.3-develop (commit 77297a11ead).
Results: 2.3.0 is broken, 2.2.7 &

[2019-03-21 13:28] magento-engcom-team commented on #21873
Hi @dudzio12. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-21 13:31] engcom-backlog-nazar commented on #21637
@nickpiro but when i try to reproduce this with coupon code issue is still here, Did you able to reproduce with coupon code ?

[2019-03-21 13:34] magento-engcom-team commented on #21873
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-21 13:43] sivaschenko commented on #13072
In my opinion that is not an issue, but a description of specific function configurability limitations. The client code can use `getCreatedAt` method of order model and format the value based on its preferences. Also, it's better to keep formatting operations in the presentation layer rather than in a model

[2019-03-21 13:43] #13072 closed, assigned to devamitbera

[2019-03-21 13:53] devamitbera commented on #13072
@sivaschenko , i am agreed with you.

[2019-03-21 13:54] importwholesales commented on #21615
I get this on 2.3 CE release

2019/03/21 09:46:36 [error] 18577#0: *303 FastCGI sent in stderr: "PHP message: PHP Fatal error:
Uncaught TypeError: Argument 1 passed to Magento\Framework\Api\ImageContentValidator::isValid() must be an instance of Magento\Framework\Api\Data\ImageContentInterface, null given, called in m2/vendor/magento/module-catalog/Model/Product/Gallery/GalleryManagement.php on li

[2019-03-21 13:55] thompalstra opened #21874 "Product price within bundle-products incorrect if product does not have a special price"
### Preconditions (*)

1. Magento version 2.2.6
2. Using bundled products

When using Magento Bundled products, some sub-products' price may be reset to 0 when this is not expected. This issue appears to stem from the bundle selection price.php or maybe even further back.

### Steps to reproduce (*)

1. Create bundled product
2. Add products to bundle

### Expected result (*)

1. Expected products

[2019-03-21 13:55] magento-engcom-team commented on #21874
Hi @thompalstra. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-21 14:11] nickpiro commented on #21637
@engcom-backlog-nazar we don't use free shipping with coupon, but for us, we still don't have a fix for my initial issue. No one attached to the fix. I know for sure when I tested it on the vanilla 2.2 that my issue was happening. Now it doesn't seem to be happening! I'm confused. I still don't have a fix.

[2019-03-21 14:13] nickpiro commented on #21637
@engcom-backlog-nazar also, it seems I tested it in 2.2.5 vanilla and not the latest 2.2 develop branch. But is there a way for me to find what was updated between 2.2.5 and let's say later versions 2.2.6, 2.2,7?

[2019-03-21 14:39] leedave opened #21875 "Disable Modules Output"
### Description (*)
Please bring back the adminhtml option "Disable Modules Output"

### Expected behavior (*)
Prevent Output of modules that should not render to screen in specific environments

### Benefits
Better control over shop behaviour

### Additional information
I cannot see why this feature was removed in 2.2. It is very central if you are running different instances of Magento.

[2019-03-21 14:39] magento-engcom-team commented on #21875
Hi @leedave. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-21 14:43] leedave commented on #7418
@orlangur You are comparing two different features. Disabling a module can potentially break your site, if there are dependencies.
Disabling the output of a module, prevents it from appearing in the interface, but does not remove dependencies. This can be a huge benefit, if you want to hide one of the many standard features that cannot be removed due to DI.

[2019-03-21 14:47] leedave commented on #21875
Enviroment:
Apache 2.4, PHP 7.2, Magento CE 2.3.0

Steps to reproduce
- Login to Admin Area
- Open "Stores" -> "Configuration"
- Search for Advanced / Advanced

I confirm this issue can be reproduced in a vanilla Magento installation

[2019-03-21 15:29] Januszpl commented on #21519
As far as I've checked it's is added to wishlist_item table but it isn't returned in template by $block->getItems(). Leaving it to some backend developer.

[2019-03-21 15:41] hostep commented on #21875
This was removed when Magento 2.2.0 was released, see [release notes](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.0CE.html):

But the documentation link they refer in there might be able to help you further?

[2019-03-21 15:41] #21875 closed, assigned to nobody

[2019-03-21 15:48] lhall-amphibee opened #21877 "DatePicker date format does not reflect user's locale in grid filters"
Part of this bug was covered in https://github.com/magento/magento2/issues/6858 and it does work just fine on detail view, but not in grid filters.

### Preconditions (*)

1. Magento 2.3.0 fresh install

### Steps to reproduce (*)

1. Log into backend with a user using a non-english locale (e.g. French)
2. Navigate to a grid with a datepicker (e.g. Sales)
3. Fill a date in a filter

### Expected r

[2019-03-21 15:48] magento-engcom-team commented on #21877
Hi @lhall-adexos. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-21 15:49] lhall-adexos commented on #21877
@magento-engcom-team give me 2.3-develop instance

[2019-03-21 15:49] magento-engcom-team commented on #21877
Hi @lhall-adexos. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-21 15:50] magento-engcom-team commented on #21877
Hi @lhall-adexos, here is your [Magento instance](https://i-21877-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21877-2-3-develop.instances.magento-community.engineering/admin](https://i-21877-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-21 16:01] lhall-adexos commented on #21877
The bug seems to be fixed in branch develop, so it should be available in the upcoming 2.3.1 release ?

[2019-03-21 16:14] orlangur commented on #7418
@leedave,

No. Dependencies should be properly declared.

It leaves hidden dependencies pretending to just hide the undesired output.

Features should be written in such a way that disabling module does not break anything.

[2019-03-21 16:20] tkymuk opened #21878 "Simplify theme upload and implementation"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2019-03-21 16:20] magento-engcom-team commented on #21878
Hi @tkymuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-21 16:21] Webroju commented on #21630
@Januszpl, it is not so clear, because the headline is Summary and not Summary estimated, estimate only the shipping costs
![Summary](https://user-images.githubusercontent.com/13220558/54767424-654f0f80-4bfd-11e9-817a-afe13366f780.jpg)

[2019-03-21 16:29] johncarlson21 opened #21879 "Custom option price not reflecting catalog price rule"
Products with custom option and price are incorrect.
Example: product price = 7.00; custom option = 0.50
30% discount applied to product.

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

1. Create Simple Product with a price of 7.00 and add a custom option with a price with a price of 0.50
2. Create a 30% catalog price rule for this product and apply rules
3. Go to

[2019-03-21 16:30] magento-engcom-team commented on #21879
Hi @johncarlson21. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-21 16:30] qsolutions-pl commented on #17898
#snowdog-oss

[2019-03-21 16:30] magento-engcom-team commented on #17898
@qsolutions-pl thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-21 16:32] johncarlson21 commented on #21879
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-03-21 16:32] magento-engcom-team commented on #21879
Hi @johncarlson21. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-21 16:33] magento-engcom-team commented on #21879
Hi @johncarlson21, here is your [Magento instance](https://i-21879-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21879-2-3-develop.instances.magento-community.engineering/admin](https://i-21879-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-21 16:39] HMF-HFilar commented on #21868
#snowdog-oss

[2019-03-21 16:39] magento-engcom-team commented on #21868
@HMF-HFilar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-21 16:42] magento-engcom-team commented on #21868
Hi @HMF-HFilar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-03-21 16:47] johncarlson21 commented on #21879
Confirmed in the vanilla magento instance that my issue exists. See screenshots.

<img width="1370" alt="Screen Shot 2019-03-21 at 11 46 34 AM" src="https://user-images.githubusercontent.com/25893/54769400-1be7cb80-4bcf-11e9-9dbc-46c61643ac98.png">
<img width="1373" alt="Screen Shot 2019-03-21 at 11 47 12 AM" src="https://user-images.githubusercontent.com/25893/54769409-21451600-4bcf-11e9-99ab-0c8

[2019-03-21 16:58] magento-engcom-team commented on #18183
Hi @henryktews. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-03-21 16:59] pwaszkis commented on #6208
#snowdog-oss

[2019-03-21 16:59] magento-engcom-team commented on #6208
@pwaszkis thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-21 17:11] magento-engcom-team commented on #13428
Hi @pwaszkis. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-21 18:27] magento-engcom-team commented on #21811
Hi @HMF-HFilar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-03-21 18:52] kdegorski commented on #21001
#snowdog-oss

[2019-03-21 18:52] magento-engcom-team commented on #21001
@kdegorski thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-03-21 18:52] magento-engcom-team commented on #21001
Hi @kdegorski. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-21 19:45] magento-engcom-team commented on #17898
Hi @bgorski. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-21 19:55] AndyJAllen commented on #21870
The latest Paypal module code from the 2.2-develop branch did **NOT** work! I still got hit with $0 auths! Please re-open issue.

[2019-03-21 19:59] bgorski commented on #17898
An update on the issue:
We found out that the issue is that PayPal Nvp API is not collecting custom totals as separate totals, but still adds them to the grand total amount when making a request. A result of that is when the grand total is compared with all the separate parts of it (items amount, shipping and tax, which are the only amounts sent in the request), it doesn't match and returns and er

[2019-03-21 19:59] AndyJAllen commented on #21781
I copied the entire paypal module code from the 2.2-develop branch, flushed cache, ran setup-upgrade, di-compile, and deployed static content..... the issue is still happening. I am still getting hit with $0 auth attacks.

I don't think the issue is fixed in the 2.2-develop branch as indicated.

[2019-03-21 20:13] prestonchoate commented on #21781
@AndyJAllen It didn't look like the code had changed at all in 2.2-develop, so I definitely think it's reproducible there. As a quick workaround you should be able to change the conditional on vendor/magento/module-paypal/Controller/Transparent/RequestSecureToken line 85 from

[code]

To

[code]

[2019-03-21 20:21] AndyJAllen commented on #21781
Hi preston,

Thanks for the response and attempt to help, however your code change did not work for me. Was there anything else you changed besides that line?

-Andy

[2019-03-21 20:25] prestonchoate commented on #21781
@AndyJAllen No that was the only change I made. If you find other things that needed to be fixed for you please share the details!

[2019-03-21 20:28] intd opened #21881 "2.3.0 Unable to import products with remote images (CatalogImportExport)"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

1. Import products (csv file with remote images)

### Expected result (*)

1. The product has been imported into the store

### Actual result (*)

1.Error:  Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s):

### Note (*)

The import only works from

[2019-03-21 20:28] magento-engcom-team commented on #21881
Hi @intd. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-03-21 20:37] intd commented on #21881
@magento-engcom-team give me 2.3-develop instance

[2019-03-21 20:37] magento-engcom-team commented on #21881
Hi @intd. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-21 20:37] davidalger commented on #19441
I believe this issue is related to PR #21549 and should be resolved once that PR is merged in.

[2019-03-21 20:38] magento-engcom-team commented on #21881
Hi @intd, here is your [Magento instance](https://i-21881-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21881-2-3-develop.instances.magento-community.engineering/admin](https://i-21881-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-21 20:47] intd commented on #21881
There is no issue on the develop version

[2019-03-21 20:47] magento-engcom-team commented on #21881
Hi @intd. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-21 20:48] magento-engcom-team commented on #21881
Hi @intd, here is your [Magento instance](https://i-21881-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21881-2-3-develop.instances.magento-community.engineering/admin](https://i-21881-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-21 20:50] aaj commented on #19127
Fresh install of 2.3 using Softaculous installer from a2 hosting. Same bug.

[2019-03-21 21:10] larryflp commented on #21870
We have about 30 extensions and custom theme installed on 3 sites that are currently affected.

Instead of doing a full site upgrade, which would take a while, can I just copy a particular directory that contains the PayFlow updated files?

Also, can I simply copy the files over on the three sites being on different M versions? The sites are on:

2.2.6
2.2.1
2.1.5

I'm assuming I may be able to co

[2019-03-21 21:55] Rus0 commented on #21637
@engcom-backlog-nazar the issue was reported without coupon, I will check it out with the coupon.

@nickpiro  it'll be hard to track the changes, you can start in the commits in the SalesRule in the 2.2-develop: https://github.com/magento/magento2/commits/2.2-develop/app/code/Magento/SalesRule to see them, maybe in the error with coupon I will check it out

[2019-03-22 00:45] likemusic opened #21883 "Visible totals table with "Not yet calculated" on checkout first shipping-step"
### Preconditions (*)

1. MagentoCE v2.2.7 and 2.2-develop (f44720a6d89ff5a7886d29c6b65a5f7e8f58d6e7)

### Steps to reproduce (*)
1. Add product to cart.
2. In Crome DevTools on the "Network" tab check "Disable Cache" and change "Throttling" from "Online" to "Slow 3G" (or custom defined slow network speed).
![image](https://user-images.githubusercontent.com/603401/54793727-e4bbfd80-4c54-11e9-8134-

[2019-03-22 00:46] magento-engcom-team commented on #21883
Hi @likemusic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-22 00:48] likemusic commented on #21883
@magento-engcom-team give me 2.3-develop instance

[2019-03-22 00:48] magento-engcom-team commented on #21883
Hi @likemusic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-22 00:49] magento-engcom-team commented on #21883
Hi @likemusic, here is your [Magento instance](https://i-21883-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21883-2-3-develop.instances.magento-community.engineering/admin](https://i-21883-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-22 01:06] likemusic commented on #21883
Seems that it issue fixed in 2.3-develop. Totals table initially shown but hide by the loads and renedering complete.