[2018-12-05 02:45] #17753 closed, assigned to Rus0

[2018-12-05 02:45] magento-engcom-team commented on #19453
Hi @fballiano. Thank you for your report.
The issue has been fixed in magento/magento2#19455 by @fballiano in 2.3-develop branch
Related commit(s):
 - [8f22688c3129b973c2bfce69f5871fec1fbcbc92](https://github.com/magento/magento2/commit/8f22688c3129b973c2bfce69f5871fec1fbcbc92)
 - [381c3a04b114c14e442157747b2ab90834104753](https://github.com/magento/magento2/commit/381c3a04b114c14e442157747b2ab908

[2018-12-05 02:45] #19453 closed, assigned to nobody

[2018-12-05 03:49] justin17757 opened #19557 "Product price is not save correctly"
### Preconditions (*)

1. Magento CE 2.2.6 without sample data is installed.
2. Store currency is JPY.

### Steps to reproduce (*)

1. Login admin account
2. Create new simple product
3. Add required information and set price, then save product.

### Expected result (*)

1. When price is set as 10,000 expect result is 10,000.00

### Actual result (*)

1. When price is set as 10,000 actual result i

[2018-12-05 03:49] magento-engcom-team commented on #19557
Hi @justin17757. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-05 05:35] ghost opened #19558 "custom option dropdown option missaligned"
### Preconditions (*)

1. Magento 2.3.

### Steps to reproduce (*)

1. Create product from admin and go to custom option.
2. Add custom option typed 'dropdown'.
3. Add options and you will get 'price' field miss-aligned.

### Expected result (*)

1. [Screenshots, logs or description]
![joust_dufflebag_products_inventory _catalog_magento_admin_expected](https://user-images.githubusercontent.com/220

[2018-12-05 05:35] magento-engcom-team commented on #19558
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-05 05:51] hitesh-wagento commented on #19550
Hi @ityetti

I have tested above issue in my local  Magento ver. 2.2.7-dev but can't reproduce above issue and didn't get any error.

Enabling maintenance mode
Starting compilation
Compilation was started.
%message% 0/7 [>---------------------------]   0% < 1 sec 50.0 MiB%message% 0/7 [>---------------------------]   0% < 1 sec 50.0 MiBProxies code generation... 0/7 [>---------------------------]

[2018-12-05 06:11] magento-engcom-team commented on #19275
Hi @hitesh-wagento. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-05 06:16] magento-engcom-team commented on #19275
@hitesh-wagento Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required inform

[2018-12-05 06:27] nimitaemipro opened #19561 "Custom option price calculation is wrong with multi currency when option price type is percentage."
When we set multi currency custom option with percentage price type, the price calculation is wrong.
### Preconditions (*)

1. Magento  V2.3.0 with sample data
2. PHP 7.1

### Steps to reproduce (*)

Set multi currency in Magento from Stores > Configuration > General > Currency setup (I have set indian Rupee)

1. Set Currency Rates in Magento from  Stores > Currency Rates ( Ist -> 70.09, Usd -> 1)

[2018-12-05 06:36] magento-engcom-team commented on #19558
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-05 06:38] magento-engcom-team commented on #19558
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-05 06:50] hitesh-wagento opened #19563 "Wrong Button style on checkout page in Sign In dropdown"
### Summary

Wrong Button style on checkout page in Sign In dropdown

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Add any product to Cart.
2. Go to checkout page
3. You can see Sign In text top right side.
4. Click on Sign In text you can see "Sign In" Button.

### Expected result

1. Sign In button should be Blue background color.
![expected](

[2018-12-05 06:50] magento-engcom-team commented on #19563
Hi @hitesh-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-05 06:53] kazimnoorani commented on #2816
Try removing from global scope. It should work then.

[2018-12-05 07:03] hitesh-wagento opened #19564 "Wrong Button style on wishlist page in buttons"
### Summary
Wrong Button style on Wishlist page in below buttons.
1. Update Wish List
2. Share Wish List
3. Add All to Cart

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Login in your frontend.
2. Add any product to Wishlist.
3. Go to Wishlist page
4. You can see Grey button

### Expected result

1. Buttons should be Blue background color.
![exp

[2018-12-05 07:03] magento-engcom-team commented on #19564
Hi @hitesh-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-05 07:07] key-dev opened #19565 "Magento 2 sitemap wrong paths in sitemap index when running on cron"
**Preconditions**
1. Magento 2.2.4
2. Apache 2.4
3. document root public_html

**Steps to reproduce**
Add a sitemap with a path of /sitemaps/
Allow cron to generate the sitemap

**Expected result**
sitemap.xml index urls to sitemap should be https://site.com/sitemaps/sitemap-1-1.xml

**Actual result**
Sitemap.xml urls look like: https://site.com/public_html/sitemaps/sitemap1-1.xml

If I generate t

[2018-12-05 07:07] magento-engcom-team commented on #19565
Hi @key-dev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-05 07:07] milindsingh1 commented on #19557
@justin17757 I think Magento 2 does not support prices to be input with the separators for any currency.

[2018-12-05 07:18] magento-engcom-team commented on #19555
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 07:20] engcom-backlog-nazar commented on #19555
Hi @gfxguru
[code]
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2018-12-05 07:20] #19555 closed, assigned to nobody

[2018-12-05 07:26] #19565 closed, assigned to nobody

[2018-12-05 07:31] milindsingh commented on #19429
@datasolution75 @orlangur can I create a PR with suggested changes ?

[2018-12-05 07:33] andy17612 commented on #19486
@jurpro @magento-engcom-team Main Website and Main Website Store are working, just Global are not working.
This is Global page message.

[2018-12-05 07:37] engcom-backlog-nazar commented on #19558
Hi @emiprotech thank you for you report this issue has already fixed in 2.3-develop branch. and will be available on 2.3.1 release.
![selection_223](https://user-images.githubusercontent.com/40756439/49497562-5ec8a200-f871-11e8-9926-5485f15c5067.png)

[2018-12-05 07:37] #19558 closed, assigned to nobody

[2018-12-05 07:39] magento-engcom-team commented on #19557
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 07:40] magento-engcom-team commented on #19553
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 07:43] engcom-backlog-nazar commented on #19553
Hi @aliejaz55 thank you for you report, i'm not able to reproduce following steps you described.
![selection_224](https://user-images.githubusercontent.com/40756439/49497943-41e09e80-f872-11e8-84aa-95fded4c289a.png)

[2018-12-05 07:43] #19553 closed, assigned to nobody

[2018-12-05 07:47] andy17612 commented on #19549
@magento-engcom-team  from 2.2.6 upgrade to 2.3 after getting this problem, is not a new 2.3

[2018-12-05 07:47] magento-engcom-team commented on #19549
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 07:53] andy17612 commented on #19549
@magento-engcom-team Main Website and Main Website Store are working, just Global are not working

[2018-12-05 07:56] engcom-backlog-nazar commented on #19549
Hi @andy17612 thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2018-12-05 07:56] #19549 closed, assigned to nobody

[2018-12-05 07:59] andy17612 commented on #19486
@jurpro https://github.com/magento/magento2/issues/19549

[2018-12-05 08:01] magento-engcom-team commented on #19545
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 08:05] engcom-backlog-nazar commented on #19557
Hi @justin17757 thank you for you report, Magento 2 does not support prices to be input with the separators for any currency, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-12-05 08:05] #19557 closed, assigned to nobody

[2018-12-05 08:08] magento-engcom-team commented on #19550
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 08:09] key-dev commented on #19565
Hi there,
Thanks for updating on it but my issue is different. #5321 is a different issue with image source path. But my issue is with children paths in the sitemap index.
In sitemap.xml all children paths are having public_html in it. We are not using Nginx server we are using apache.
I hope you will consider it as separate issue.
Thanks

[2018-12-05 08:11] sivaschenko commented on #19275
Hi @samuelecarpene , I believe the "Sign In" label is used for multiple templates in checkout and customer functionality, also is covered by translation https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Checkout/i18n/en_US.csv#L109. Why do you think the "Login" is the correct label?

[2018-12-05 08:14] engcom-backlog-nazar commented on #19565
HI @key-dev they don't have matter if you use nginx or apache, the problem with pub folders.

[2018-12-05 08:21] engcom-backlog-nazar commented on #19550
Hi @ityetti thank you for you report, i'm not able to reproduce following steps you described, this may be related to you custom theme or modules.

[2018-12-05 08:21] #19550 closed, assigned to nobody

[2018-12-05 08:34] datasolution75 commented on #19429
I don't have any objection on my side.

[2018-12-05 08:37] jurpro commented on #19549
@engcom-backlog-nazar how to fix? we need change logo from developer theme logo to my own logo. Meanwhile, my web still use dev logo. Is there any change file? Where I will find the fix?

[2018-12-05 08:37] engcom-backlog-nazar commented on #19494
@devqualwebs,  thank you for your report.
"Payment method" Cart Price Rule condition is removed in actual Magento 2 versions.

[2018-12-05 08:37] #19494 closed, assigned to nobody

[2018-12-05 08:38] engcom-backlog-nazar commented on #19549
@andy17612  https://github.com/magento/magento2/pull/18851

[2018-12-05 08:41] SoCix commented on #19549
Having same problem here, any solution please

[2018-12-05 08:41] sakisplus commented on #14952
This issue still exist in 2.2.7!

[2018-12-05 08:51] andy17612 commented on #19549
@SoCix file in there #18851

[2018-12-05 09:00] peterjaap commented on #14530
Backward patch for 2.2.7;

[code]

[2018-12-05 09:27] #19547 closed, assigned to nobody

[2018-12-05 09:55] fbkaasa opened #19571 "Cant add & to attributes"
### Preconditions (*)

1. Magento Commerce 2.2.6
2. Production and Staging environment

### Steps to reproduce (*)

1. Add a brand to the manufacturer attribute (works)
2. Add a brand that contains & ( IE: Toni & Guy )

### Expected result (*)

1. Expected that the brand would be saved and displayed as Toni & Guy

### Actual result (*)

1. Prints an error ( or not actually an error, but something

[2018-12-05 09:56] magento-engcom-team commented on #19571
Hi @fbkaasa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-05 09:56] fbkaasa commented on #19571
@magento-engcom-team give me 2.2.6 instance

[2018-12-05 09:56] magento-engcom-team commented on #19571
Hi @fbkaasa. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-05 09:57] magento-engcom-team commented on #19571
Hi @fbkaasa, here is your [Magento instance](https://i-19571-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19571-2-2-6.instances.magento-community.engineering/admin](https://i-19571-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-05 09:59] magento-engcom-team commented on #17849
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-05 10:03] magento-engcom-team commented on #19571
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 10:05] fbkaasa commented on #19571
I can verify that this issue persists on a clean Magento 2.2.6 install.

https://mrkr.io/s/5c07a2ae9115ac1ac8a377e9/0

Expected output was Toni & Guy

[2018-12-05 10:05] engcom-backlog-nazar commented on #19571
Hi @fbkaasa thank you for you report please look -> https://github.com/magento/magento2/issues/19370

[2018-12-05 10:05] #19571 closed, assigned to nobody

[2018-12-05 10:05] engcom-backlog-nazar commented on #19571
@fbkaasa this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-12-05 10:08] fbkaasa commented on #19571
That is not acceptable. We cannot move clients to 2.3 as it was only released a week ago, and 3rd party modules does not fully support it.

Do you have a workaround for 2.2.6/2.2.7?

[2018-12-05 10:09] engcom-backlog-nazar commented on #19571
@fbkaasa https://github.com/magento/magento2/pull/19375

[2018-12-05 10:18] JeroenBoersma commented on #14952
I did a `composer update` to 2.2.7 and this is resolved, this was caused by `amzn/amazon-pay-module` and in the latest bundle for 2.2.7 the line in `di.xml` for this module is removed so this should work.

[2018-12-05 10:19] suryakant-krish opened #19573 "Alignment Issue when create a new email template admin."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Login into admin panel > Marketing > Email Templates > Create new Email template Load any default template. Current used For Alignment issue.

### Expected result (*)

1. https://prnt.sc/lqykjw

### Actual result (*)

1. https://prnt.sc/lqyjq4

[2018-12-05 10:20] magento-engcom-team commented on #19573
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-05 10:32] engcom-backlog-nazar commented on #19573
Hi @suryakant-krish did you load some long breadcrumbs ?
![selection_226](https://user-images.githubusercontent.com/40756439/49507788-dacee400-f889-11e8-9562-8446e9246e66.png)

[2018-12-05 10:43] larsroettig opened #19575 "magentoDataFixture should allow to use Module Prefix - Integrations Test"
### Description (*)

As a Developer, we have different solutions to install Magento and Setup Projects. Currently, if the test fixtures place in the  **app/code/Module_Name**  and is installed over composer  is not possible to use annotations like **Magento_InventoryApi::Test/_files/products.php**

### Expected behavior (*)

Module annotations like  **Magento_InventoryApi::Test/_files/products.php

[2018-12-05 10:49] KooTjoo commented on #19446
Hi,

Did this php -f pre_composer_update_2.3.php -- --root='<path/to/magento/install/dir>' --repo=https://repo.magento.com/

This got rid of the errors, but after that the Web Setup Wizard did the upgrade and after checking it was still the 2.2.6 version. Did I miss something?

[2018-12-05 10:50] pooshok commented on #19544
Hi @engcom-backlog-nazar. Looking to your "grunt watch --verbose" output I see you have "Live reloading" fired twice. So maybe the problem is still there.
I've noticed that issue on cart page: cart summary block reloaded on every livereload. Please check it on some page, containing some "slow js generated block" like this

[2018-12-05 10:52] phuongnd commented on #19446
@KooTjoo  it seems you didn't read https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

Did you update the database schema and data?

[2018-12-05 10:55] abcpremium commented on #19446
@KooTjoo Well did you run the `composer update` command after executing the script? You need to do this in order to make composer actually download the new resources. Run your setup routine (`setup:upgrade` etc.) after that.

[2018-12-05 10:59] suryakant-krish commented on #19573
Yes, I have load some long breadcrumbs.

[2018-12-05 10:59] hitesh-wagento opened #19576 "Checkbox alignment issue"
### Summary

Checkbox alignment issue

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Login in your frontend.
2. Add any product to Wishlist.
3. Go to Account page
4. Click on Account Information tab from left side.

### Expected result

1. Checkbox should be aligned.
![expected](https://user-images.githubusercontent.com/23443991/49509174-96a00b80

[2018-12-05 10:59] magento-engcom-team commented on #19576
Hi @hitesh-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-05 11:02] KooTjoo commented on #19446
oops, sorry you are all right. Trying again.

[2018-12-05 11:03] engcom-backlog-nazar commented on #19573
@suryakant-krish SO why you think this is a bug ?

[2018-12-05 11:05] engcom-backlog-nazar commented on #19544
@pooshok `ivereload triggers twice: first - refresh styles, second - reload entire page`
This trigger reload styles, not a page.

[2018-12-05 11:05] andy17612 commented on #19549
@engcom-backlog-nazar #18851 https://github.com/magento/magento2/commit/c96b8affa550f55359c3302226ad4d095e5d933b#diff-5a423cde3ac7f2aed85a0994b5597827L54  I tried this file but when you Transactional email >upload logo > not showing.

[2018-12-05 11:06] magento-engcom-team commented on #19573
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 11:07] engcom-backlog-nazar commented on #19573
@suryakant-krish, I don't think then this is the good idea
![selection_227](https://user-images.githubusercontent.com/40756439/49509713-c80ade00-f88e-11e8-9cdd-f2baa414d43b.png)

[2018-12-05 11:09] rogyar commented on #19564
Hi @hitesh-wagento. Thank you for the report. Could you provide more details, please, why you consider the current button styles as "wrong"? Thank you

[2018-12-05 11:11] magento-engcom-team commented on #19576
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 11:12] engcom-backlog-nazar commented on #19576
@hitesh-wagento whats wrong here ?

[2018-12-05 11:18] hitesh-wagento commented on #19564
Hi @rogyar  I am consider the current button styles wrong because in our default theme we have used blue button background color and in wishlist page it's showing grey background color.

[2018-12-05 11:19] hitesh-wagento commented on #19576
Hi @engcom-backlog-nazar it's checkbox alignment issue. checkbox is little bit up compare to text.

[2018-12-05 11:46] engcom-backlog-nazar commented on #19573
@suryakant-krish   **`margin-top: 6px;`**

[2018-12-05 11:50] suryakant-krish commented on #19573
Yes, I have already applied it and added one more commit please review it.

[2018-12-05 11:52] sivaschenko commented on #19275
I could find only one place in Magento where "Login" is used: the button on the checkout form. "Sing In" is the term used in all other places. Considering that even the comment above that button says "Sign In", I think that's "Login" that should be changed to "Sign In".

[2018-12-05 11:53] magento-engcom-team commented on #19573
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96964`, `MAGETWO-96965` were created

[2018-12-05 11:55] magento-engcom-team commented on #19576
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96966`, `MAGETWO-96967` were created

[2018-12-05 12:05] hitesh-wagento commented on #19576
I am working on this.

[2018-12-05 12:23] LiamKarlMitchell opened #19578 "Custom shipping attributes not passed through for shipping estimates."
### Summary (*)
I am trying to use extra attributes added to the shipping address during shipping rate estimate calculations and to decide the availability of shipping methods. (Via a module called owebia magento2 module advanced shipping setting)

I can see the attributes present on the shipping address but they are always NULL.
owebia/magento2-module-advanced-shipping-setting#46

### Examples (*

[2018-12-05 12:23] magento-engcom-team commented on #19561
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96968`, `MAGETWO-96969` were created

[2018-12-05 12:23] magento-engcom-team commented on #19578
Hi @LiamKarlMitchell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-05 12:29] engcom-backlog-nazar commented on #19578
hi @LiamKarlMitchell
`I can see the attributes present on the shipping address but they are always NULL.`
Where you set your extension attributes ?
please describe more information.

[2018-12-05 12:36] suryakant-krish opened #19579 "Input type import file alignment issue."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1.  Login into admin panel > System >Choose  Import > Select any  Entity Type > Select File to Import aligment issue.

### Expected result (*)

![expected-result](https://user-images.githubusercontent.com/43638601/49513869-5778b700-f8b8-11e8-9591-f13567c60c9a.png)

### Actual result (*)

 ![actual-result](https://user-images.github

[2018-12-05 12:36] magento-engcom-team commented on #19579
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-05 12:38] engcom-backlog-nazar commented on #19578
@LiamKarlMitchell
1.Run $ bin/magento setup:di:compile to generate ShippingMethodExtensionInterface and a class that implements this (this is not done on each request even with disabled cache)

2.In your plugin instantiate Magento\Quote\Api\Data\ShippingMethodExtension and add data to that object and then the entire object add to the entity with $entity->setExtensionAttributes($extensionModel)

[2018-12-05 12:42] dverkade commented on #19477
@lenaorobei, I have added marketplace-eqp 2.0.0 to my repo which is now working fine in combination with squizlabs/php_codesniffer version 3.3.1. So I'm closing this issue since it has been resolved.

[2018-12-05 12:42] #19477 closed, assigned to nobody

[2018-12-05 12:44] engcom-backlog-nazar commented on #19578
@LiamKarlMitchell -> https://devdocs.magento.com/guides/v2.0/extension-dev-guide/extension_attributes/adding-attributes.html

[2018-12-05 12:44] #19578 closed, assigned to nobody

[2018-12-05 12:48] engcom-backlog-nazar commented on #19579
@suryakant-krish for simple code changes, like this one, please propose a PR directly. Thanks for collaboration!

[2018-12-05 12:52] suryakant-krish commented on #19579
Sure, Next time I will take care of it.
Thanks for suggesting me.

[2018-12-05 13:08] magento-engcom-team commented on #19469
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96971` were created

[2018-12-05 13:43] magento-engcom-team commented on #19563
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-05 13:49] codesnakers commented on #18467
1.) Do a fresh install of the same magento version you're having problems with<br>
2.) export the structure of the tables "catalog_product_index_price_replica" and "catalog_product_index_eav_replica"<br>
3.) import those structures into your magento db where you're facing the issue<br>
4.) run the commands <br>
php bin/magento indexer:reset<br>
php bin/magento indexer:reindex <br>
these steps solv

[2018-12-05 13:51] vivekjha25 opened #19581 "Email logo not displaying on Return Emails"
### Preconditions (*)

1. Magento 2.2.6
2.

### Steps to reproduce (*)

1. Set a logo for transactional emails.
2. Create return for a completed order
3. Check the logo in the return mail

### Expected result (*)

Logo should be displayed as expected.

### Actual result (*)

Logo not displaying as expected

[2018-12-05 13:51] magento-engcom-team commented on #19581
Hi @vivekjha25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-05 13:53] magento-engcom-team commented on #19581
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 14:00] magento-engcom-team commented on #19581
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96972`, `MAGETWO-96973` were created

[2018-12-05 14:13] ryanfern86goa opened #19582 "Text swatch value for multi store view wrong on frontend"
### Preconditions (*)

1. Magento version 2.2.5
2. nginx version: nginx/1.15.3
3 PHP 7.1.14

### Steps to reproduce (*)

1. Create 2 websites with 1 store view each or just 2 store views
2. Create configurable select attribute eg (size) with different store view value and label
3) Go to frontend, default store (GB) and any category page with configurable products with size as one of the attribute

[2018-12-05 14:13] magento-engcom-team commented on #19582
Hi @ryanfern86goa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-05 14:15] magento-engcom-team commented on #19582
Hi @ryanfern86goa. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-12-05 14:16] magento-engcom-team commented on #19582
Hi @ryanfern86goa, here is your [Magento instance](https://i-19582-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-19582-2-2-5.instances.magento-community.engineering/admin](https://i-19582-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-05 14:18] TomashKhamlai commented on #19563
Closing this as not an issue.

@hitesh-wagento, thank you for reporting this issue. Please read [this article](https://atlassian.design/server/components/buttons/)

It says:

The style of the "Sign In" button is defined via ```class="action action-login secondary"``` and the style of the "Next" button is defined via ```class="button action continue primary"```. Feel free to reopen if you feel that

[2018-12-05 14:18] #19563 closed, assigned to hitesh-wagento

[2018-12-05 14:19] magento-engcom-team commented on #19138
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-05 14:20] ryanfern86goa commented on #19582
Hi,

I have found a fix for similar issue here https://github.com/magento/magento2/pull/15960 but don't believe this is a complete fix for magento version 2.2.5.

So the fix should be
1) vendor/magento/module-swatches/Helper/Data.php

On line 444, after $currentStoreId = $this->storeManager->getStore()->getId(); add
$swatchCollection->addStoreFilter($currentStoreId);

2) vendor/magento/module-swat

[2018-12-05 14:23] engcom-backlog-nazar commented on #19138
Hi @nickpiro thank you for you report i'm not able to reproduce following steps you described, this may be related to your custom code.
![123](https://user-images.githubusercontent.com/40756439/49519588-019d1280-f8aa-11e8-8790-d2bcb92d5590.png)

[2018-12-05 14:23] #19138 closed, assigned to velvetyWorld

[2018-12-05 14:24] magento-engcom-team commented on #19582
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-05 15:32] engcom-backlog-nazar commented on #19571
@fbkaasa https://github.com/magento/magento2/pull/18354
We will aim to release these changes as part of 2.2.8.

[2018-12-05 15:45] TomashKhamlai commented on #19582
Thank you for contributing this issue. This issue is not reproducible on the latest 2.3-develop.
![peek 2018-12-05 17-41](https://user-images.githubusercontent.com/11827230/49525033-86d9f480-f8b5-11e8-8934-17937bfc2533.gif)

[2018-12-05 15:45] #19582 closed, assigned to nobody

[2018-12-05 15:52] rogyar commented on #19564
Hi @hitesh-wagento. Thanks for the explanation. We cannot consider it as an "issue" since the mentioned buttons have "action" class without "primary" class. It's done for a purpose like on the shopping cart page (update, clear, apply coupon). It does not mean that the buttons style is wrong somehow, it's just different. The design idea did not highlight these buttons as primary.

[2018-12-05 15:52] #19564 closed, assigned to hitesh-wagento

[2018-12-05 16:10] magento-engcom-team commented on #13612
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-05 16:12] ryanfern86goa commented on #19582
Hi @TomashKhamlai

This issue is currently effecting magento 2.2.5 commerce version. Shouldn't you test this on it ?.

Can you please check on this version

Thanks

[2018-12-05 16:51] shikhamis11 commented on #15504
@orbitrod I have found the same issue on  Firefox too. I believe this is not browser specific It must be due to Magento 2 UI js behavior. I will work on it to find the exact reason behind it.

[2018-12-05 16:51] magento-engcom-team commented on #15504
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-05 17:19] TomashKhamlai commented on #19582
@ryanfern86goa, according to the current workflow we should stop the verification process if the issue is not reproducible on the latest code.
Please take a look on this [message](https://github.com/magento/magento2/issues/19582#issuecomment-444502210):
![image](https://user-images.githubusercontent.com/11827230/49531244-885de980-f8c2-11e8-9efe-bf1824c44d69.png)

[2018-12-05 17:47] magento-engcom-team commented on #19581
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-05 17:49] magento-engcom-team commented on #19547
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-12-05 18:35] magento-engcom-team commented on #7522
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-05 18:36] shikhamis11 commented on #7522
I think this is due to inner join condition in query

[2018-12-05 19:37] twistedatrocity commented on #7298
This is still a nightmare issue in 2.1.16

It seems several things can cause this duplicate condition.... importing of data of course as mentioned already and also using the "Save & Duplicate" feature on a product. Magento allows url key to be duplicated at times and if this happens only once on a single product.... then every product added after that will not get a proper url key rewrite... it si

[2018-12-05 19:48] laquo commented on #19549
Same problem here. Tried c96b8af#diff-5a423cde3ac7f2aed85a0994b5597827L54
After that i've also tried to select logo from gallery. It appears in the uploader block, but anyway cause an error "header_logo_src does not contain field 'file'" after i tried to save it

[2018-12-05 19:54] jakwinkler opened #19588 "Can't create CreditMemo for order older than 30 days"
### Preconditions (*)

1. Magento CE 2.2.6
2. Have olders older by 30 days

### Steps to reproduce (*)

1. Create few orders
2. Make sure orders and quotes are older than 30 days (the best way is to modify it on database level)
3. By default Magento 2 removes quotes which are older than 30 days [configurable value]
4. Run CRONs
5. Try to create a credit memo in the backend for those orders

### Ex

[2018-12-05 19:54] magento-engcom-team commented on #19588
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-05 20:17] ryanfern86goa commented on #19582
Hi @TomashKhamlai

Thanks for your reply.

Does this mean magento has stopped support, bug fixes and patch releases for 2.2.X ?, if so please confirm here so that I can forward this on-to forums and other developer chat groups.

Would also help us to convey this message to our clients. (note: we are magento partners)

Thanks

Regards
Ryan

[2018-12-05 21:18] PathToLife opened #19589 "2.3.0 Has finally made it so that windows won't work."
### Summary (*)
Up till now, windows developers have been able to use WAMP/BITNAMI/XAMPP to run a local magento instance for dev purposes.

ENV:
Windows 10 Pro 64 Bit.
Magento Sample 2.3.0 from downloads (tar.gz)
WAMP. PHP.ini configured with vanilla sample

Problem:
0. Config WAMP with Magento Php.ini, make SQL DB.
1. Install Magento.
2. Admin window will not load, main page will be broken. (Vali

[2018-12-05 21:18] magento-engcom-team commented on #19589
Hi @PathToLife. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-05 22:05] LiamKarlMitchell commented on #19578
Thanks for the advice I'll give it a go.

On Thu, 6 Dec 2018, 1:45 AM engcom-backlog-nazar <notifications@github.com
wrote:

[2018-12-05 22:07] vbuck opened #19590 "M2.3 – Sodium crypto adapter errors on unexpected input"
Under certain conditions – in my case resulting from a 2.2.6 -> 2.3.0 upgrade – the cryptography adapter `\Magento\Framework\Encryption\Adapter\SodiumChachaIetf::decrypt` does not return a `string`, despite the strict return type on its signature. This results in exceptions and failure to bootstrap Magento.

### Preconditions (*)
1. Upgraded Magento 2.2.6 -> 2.3 instance.
2. Unknown conditions – p

[2018-12-05 22:07] magento-engcom-team commented on #19590
Hi @vbuck. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-12-06 00:35] joshuaadickerson opened #19592 "Wrong implementation of interface for Magento\Shipping\Model\Carrier\AbstractCarrier"
### Preconditions (*)

1. 2.2.6
2. 2.2.7

### Steps to reproduce (*)

1. Start with a version <= 2.2.5
2. Extend AbstractCarrier
3. Override `proccessAdditionalValidation` since that was the only method available at the time
4. Upgrade to 2.2.6 or 2.2.7

### Expected result (*)

1. The caller should call `proccessAdditionalValidation` or AbstractCarrier should internally call `proccessAdditionalVa

[2018-12-06 00:36] magento-engcom-team commented on #19592
Hi @joshuaadickerson. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-06 00:44] joshuaadickerson opened #19593 "Add unique index on eav_attribute_option_value for data integrity"
### Summary (*)

`Exception #0 (Exception): Item (Magento\Eav\Model\Entity\Attribute\Option) with the same ID "341569" already exists.`

### Examples (*)

I have a custom import process that isn't checking if the options are already present in `eav_attribute_option_value`. This causes an exception `Exception #0 (Exception): Item (Magento\Eav\Model\Entity\Attribute\Option) with the same ID "341569"

[2018-12-06 00:44] magento-engcom-team commented on #19593
Hi @joshuaadickerson. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-06 02:15] magento-engcom-team commented on #19417
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-06 06:26] pradeep-cedcoss opened #19594 "Email"

[2018-12-06 06:30] #19594 closed, assigned to nobody

[2018-12-06 06:55] salehawal opened #19595 "Catalog | Products | Update Affecting All Products Insted of Selected Ones"
Preconditions

1- php 7.1
2- magento 2.2.4
Steps to reproduce

1- filter catalog view to view a cretin products
2- select one catalog
3- update catalog status to "disabled" by clicking the option 2 times, if you click it once nothing will happen but if you click it twice the problem will show up

video of issue regenerated here : https://drive.google.com/file/d/18qxaxOZ6qHN3aUPuGa6HXkBD4w0S7lMT/vi

[2018-12-06 06:55] magento-engcom-team commented on #19595
Hi @salehawal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-06 06:55] salehawal commented on #19595
it is same as this one : https://github.com/magento/magento2/issues/17856

[2018-12-06 07:10] warrior7789 commented on #9486
nobody is able to solve this issue ?

[2018-12-06 07:19] magento-engcom-team commented on #19595
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 07:26] #19595 closed, assigned to nobody

[2018-12-06 07:29] engcom-backlog-nazar commented on #19589
HI @PathToLife thnk you for you report please look -> https://github.com/magento/magento2/issues/19471

[2018-12-06 07:29] #19589 closed, assigned to nobody

[2018-12-06 07:30] engcom-backlog-nazar commented on #19589
@PathToLife https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/

[2018-12-06 07:31] magento-engcom-team commented on #19593
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 07:33] engcom-backlog-nazar commented on #19593
Hi @joshuaadickerson thank you for you report, i'm closing this as this is duplicate to referenced issue, and this will be fixed by this PR -> https://github.com/magento/magento2/pull/19511

[2018-12-06 07:33] #19593 closed, assigned to nobody

[2018-12-06 07:34] magento-engcom-team commented on #19592
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 07:52] magento-engcom-team commented on #19592
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96977`, `MAGETWO-96978` were created

[2018-12-06 07:59] magento-engcom-team commented on #19590
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 08:00] PathToLife commented on #19589
Thanks for replying while i was busy coding some things using cross platform apache server, with cross platform php, and with cross platform mysql.

Since windows is not officially supported, I guess Linux bash shell on windows is not either right?

Can we get a big ass warning somewhere in official documentation?  And in the initial checkup setup page?

I just spent 5 hours getting NAT, chmod bs,

[2018-12-06 08:00] magento-engcom-team commented on #18063
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 08:04] engcom-backlog-nazar commented on #19589
@PathToLife  Just try install WSL, this is not hard, and i configure all on windows 10 on 10 minutes.

[2018-12-06 08:08] engcom-backlog-nazar commented on #19589
@PathToLife  you can report here -> https://github.com/magento/devdocs/pulls

[2018-12-06 08:21] orlangur commented on #19592
@joshuaadickerson `proccessAdditionalValidation` wasn't marked as `@api`, isn't it?

[2018-12-06 08:30] hostep commented on #9486
Can somebody re-test this on Magento 2.2.6 or 2.2.7? I believe it was fixed in 2.2.6 based on some commits I saw passing by, but I never verified this myself.

[2018-12-06 08:54] magento-engcom-team commented on #18063
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96980`, `MAGETWO-96981` were created

[2018-12-06 08:59] magento-engcom-team commented on #19588
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 09:09] TomashKhamlai commented on #19582
@ryanfern86goa, issues about Magento Commerce should be submitted to [Magento Support](https://support.magento.com/hc/en-us). To submit a support ticket, you need to login there. You already have an account there if you use Magento Commerce. If there is an issue with conditions that describes the problem on Magento Commerce and there are no limitations in Magento Open Source, so that it is possibl

[2018-12-06 09:38] engcom-backlog-nazar commented on #19588
HI @qsolutions-pl Thank you for you report, this issue has already fixed in 2.3-develop branch, I have a quote that is deleted by cron job, but when i create credit memo all works fine.

[2018-12-06 09:38] #19588 closed, assigned to nobody

[2018-12-06 09:47] magento-engcom-team commented on #19590
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96982`, `MAGETWO-96983` were created

[2018-12-06 10:17] adamj88 commented on #17195
@JosephMaxwell there's a constant here you can increase with a patch in the interim: https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Stdlib/Cookie/PhpCookieManager.php#L32

[2018-12-06 10:32] magento-engcom-team commented on #19436
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 10:33] magento-engcom-team commented on #19436
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96985`, `MAGETWO-96986` were created

[2018-12-06 10:52] TomashKhamlai commented on #15849
@kmddevdani, after applying this fix attributes loose the possibility to switch the attributes type. For example text swatch will not change to visual swatch on product page after changing the type from admin panel. Could you check this?

[2018-12-06 10:58] knelus commented on #9486
It's not fixed in 2.2.6 still dealing with this issue

[2018-12-06 11:11] engcom-backlog-nazar commented on #19215
Hi @JackWormUK, thank you for you report, i'm not able to reproduce following steps you described.
 As well as installing mod_pagespeed you need to set it up correctly:
https://www.modpagespeed.com/doc/downstream-caching
You will also have to make sure your version of mod_pagespeed supports 'Varnish' as this is currently an 'experimental feature'.

[2018-12-06 11:11] #19215 closed, assigned to nobody

[2018-12-06 11:48] atsareva commented on #18752
Hi! Any progress for this issue? Client said that he got a lot of messages from customers regarding this issue. I think it's urgent because when customers get 'An error has occurred on the server..', they don't know what they should do.

[2018-12-06 12:04] maverickk89 commented on #16409
check your /vendor/magento/module-swatches/Controller/Ajax/Media.php
we did un update from magenta 2.1.x to 2.2.6 and this file was heavily modified and it was the source of the problem...
check how it was in magento 2.1.x. on google maybe it helps

[2018-12-06 12:07] magento-engcom-team commented on #19186
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 12:09] engcom-backlog-nazar commented on #19186
Hi @devqualwebs i'm too not able to reproduce following steps you described, this may be related to you custom modules.

[2018-12-06 12:09] #19186 closed, assigned to Dharmeshvaja91

[2018-12-06 12:12] magento-engcom-team commented on #19000
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 12:31] lano-vargas opened #19596 "Images in XML sitemap are always linked to base store in multistore on Schedule"
Website URL 1: https://my_website.com
Website URL 2: https://my_website.co.uk
### Preconditions (*)

1. Magento2.2.2
2. Have 2 websites, 2 store and 2stores view. 1 store and 1 store view per website
3. Each website/store view  with different domain
4. A set of Configurable/simple.
2.Cron job running

### Steps to reproduce (*)

1. Got to Stores->Configuration->Catalog->XML Sitemap->General Settin

[2018-12-06 12:31] magento-engcom-team commented on #19596
Hi @lano-vargas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-06 12:35] magento-engcom-team commented on #19596
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-06 13:01] dverkade opened #19597 "After running setup:upgrade, setup:db:check still says: Declarative Schema is not up to date"
### Preconditions
1. Magento 2.3.0
2. Hava a database running on MariaDB 10.2

### Steps to reproduce
1. Run command: `bin/magento setup:db:status`
2. Run command: `bin/magento setup:upgrade --keep-generated`
3. Run command: `bin/magento setup:db:status`

### Expected result
1. Since we have updated, the setup:db:status command should return that everything is up to date.

### Actual result
1. Com

[2018-12-06 13:01] magento-engcom-team commented on #19597
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-06 13:02] steffen-wirth commented on #18927
i can confirm that this is still an issue with the latest release of v. 2.3.0 I tried to change the column type but with no luck. Is that because of the new db_schema.xml? is there an easy way to overwrite those db_schema.xml?

[2018-12-06 13:07] magento-engcom-team commented on #19596
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96989`, `MAGETWO-96990` were created

[2018-12-06 13:10] magento-engcom-team commented on #19596
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-12-06 13:10] Nazar65 commented on #19596
I'm will work on this

[2018-12-06 13:10] dverkade commented on #19597
Please note that this feature is being used to determine if you can do a zero-downtime deployment. This bug breaking the setup:db:status command is breaking the ability to do zero-downtime deployments!

[2018-12-06 13:34] magento-engcom-team commented on #18088
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-06 13:40] frachello89 commented on #16409
check your /vendor/magento/module-swatches/Controller/Ajax/Media.php
we did un update from magenta 2.1.x to 2.2.6 and this file was heavily modified and it was the source of the problem...
check how it was in magento 2.1.x. on google maybe it helps

[2018-12-06 13:55] benvansteenbergen commented on #11624
If you wonder why products are not showing up, we've created a module displaying all conditions for a product to show up: https://github.com/Itonomy/magento2-product-visibillitygrid. Good luck!

[2018-12-06 14:05] salelsol commented on #14952
- After upgraded from Magento 2.2.6 to 2.2.7 and still same issueI´m trying some solutions but for now I can't fix this old issue.

[2018-12-06 14:05] orlangur commented on #18927
@heldchen thanks, you're absolutely right. Too bad I didn't check existing limit thinking it was 32.

@steffen-wirth you can change this for your instance similar to PR: https://github.com/magento/magento2/pull/17387/files

[2018-12-06 14:05] heldchen commented on #14952
also affected in 2.2.7 with all amazon modules disabled.

[2018-12-06 14:09] gwharton commented on #14952
Have you tried applying PR #18472

[2018-12-06 14:20] kunj1988 commented on #19597
@ dverkade, I  am not able to reproduce following steps you described.

[2018-12-06 14:32] salelsol commented on #14952
@gwharton , I just modified the 4 files also flushed magento cache, but nothing changes header email without sender. Should we do more ??

[2018-12-06 14:35] gwharton commented on #14952
php bin/magento setup:di:compile
php bin/magento setup:deploy

Aswell

[2018-12-06 15:03] engcom-backlog-nazar commented on #19000
Hi @werfu i'm not able to reproduce following steps you described.
![selection_229](https://user-images.githubusercontent.com/40756439/49592038-c61d4980-f978-11e8-98d0-d7755e343f74.png)

[2018-12-06 15:03] #19000 closed, assigned to maximecarey

[2018-12-06 15:05] TomashKhamlai commented on #18504
Do you mean that it is enough to send first request
[code]
and then second one?

[code]
I tried with no success. @gitgiangalbe, do you have an idea how this could be done?

[2018-12-06 15:16] TomashKhamlai commented on #18755
@magento-engcom-team give me 2.3.0 instance

[2018-12-06 15:16] magento-engcom-team commented on #18755
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-06 15:17] PiroozMB commented on #7298
any update on this? this is a crazy issue with no definite solution in magento. why does magento have so many bugs still not fixed correctly. pfff

[2018-12-06 15:17] magento-engcom-team commented on #18755
Hi @TomashKhamlai, here is your [Magento instance](https://i-18755-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-18755-2-3-0.instances.magento-community.engineering/admin](https://i-18755-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-06 15:41] PiroozMB commented on #7298
@veloraven I see you everywhere just closing the threads and doing nothing else. could you not do that please until it is definitely fixed.

[2018-12-06 16:34] medmek commented on #7680
rights problem as in shell's rights (used to connect to VM) or linux rights ? now I always run git-bash as admin,
NFS the rights are set
[code]

[2018-12-06 16:37] salelsol commented on #14952
@gwharton ; thanks for your help but issue still remain the same.

[2018-12-06 16:40] pixel-paul opened #19600 "Missing variable for copyright background color in _module.less"
### Preconditions (*)
1. Magento 2.3
2. PHP 7.1

### Steps to reproduce (*)
1. Install fresh version of Magento
2.

### Expected result (*)
1. No error message. Less to compile without error

### Actual result (*)
Error meesage is generated
1. `variable @copyright__background-color is undefined in file var/view_preprocessed/pub/static/frontend/example/eg/en_US/Magento_Theme/css/source/_module.less

[2018-12-06 16:41] magento-engcom-team commented on #19600
Hi @pixel-paul. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-06 16:45] magento-engcom-team commented on #19346
Hi @ankit-sf. Thank you for your report.
The issue has been fixed in magento/magento2#19408 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [ca0da34ee2691bfaca1c74d94a0db33377d4e54c](https://github.com/magento/magento2/commit/ca0da34ee2691bfaca1c74d94a0db33377d4e54c)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-06 16:45] #19346 closed, assigned to nobody

[2018-12-06 16:45] magento-engcom-team commented on #19404
Hi @woutersamaey. Thank you for your report.
The issue has been fixed in magento/magento2#19416 by @Dharmeshvaja91 in 2.3-develop branch
Related commit(s):
 - [c3a64f20b9b71d97c0a050a07b02b0aeaad45c26](https://github.com/magento/magento2/commit/c3a64f20b9b71d97c0a050a07b02b0aeaad45c26)
 - [c0d34804b2e3a866dccb8bde4f57a9eafdbf65e4](https://github.com/magento/magento2/commit/c0d34804b2e3a866dccb8bde

[2018-12-06 16:45] #19404 closed, assigned to Dharmeshvaja91

[2018-12-06 16:45] magento-engcom-team commented on #417
Hi @simonspoerri. Thank you for your report.
The issue has been fixed in magento/magento2#19176 by @rain2o in 2.3-develop branch
Related commit(s):
 - [3de065bfeefbe324d1db903800efb6a95824e076](https://github.com/magento/magento2/commit/3de065bfeefbe324d1db903800efb6a95824e076)
 - [c6352c6c9166eba48d86852774b876ecaf34ebd8](https://github.com/magento/magento2/commit/c6352c6c9166eba48d86852774b876ec

[2018-12-06 16:45] magento-engcom-team commented on #19205
Hi @sneha-panchal. Thank you for your report.
The issue has been fixed in magento/magento2#19261 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [9dfe1372ce941a36b700efe1dbb4851ea5bc3520](https://github.com/magento/magento2/commit/9dfe1372ce941a36b700efe1dbb4851ea5bc3520)
 - [eb2e505c68b1ed24ccc7d45e4a7eb4c2b0216f23](https://github.com/magento/magento2/commit/eb2e505c68b1ed24ccc7d4

[2018-12-06 16:45] magento-engcom-team commented on #9130
Hi @popoviciandrei. Thank you for your report.
The issue has been fixed in magento/magento2#19206 by @khodu in 2.3-develop branch
Related commit(s):
 - [cc6aaa3fc8b9a5d58f14c45655926809dfb1f00c](https://github.com/magento/magento2/commit/cc6aaa3fc8b9a5d58f14c45655926809dfb1f00c)
 - [3ba9281d52bd9f77fb778778c1f57b560d60b687](https://github.com/magento/magento2/commit/3ba9281d52bd9f77fb778778c1f57b5

[2018-12-06 16:45] #9130 closed, assigned to nobody

[2018-12-06 16:45] magento-engcom-team commented on #14571
Hi @xi-ao. Thank you for your report.
The issue has been fixed in magento/magento2#18818 by @jasonevans1 in 2.3-develop branch
Related commit(s):
 - [c58ac50f9f090e2094639b006dca414b13a225d5](https://github.com/magento/magento2/commit/c58ac50f9f090e2094639b006dca414b13a225d5)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-06 16:45] #14571 closed, assigned to jasonevans1

[2018-12-06 16:57] bobmats commented on #15828
Found this in 2.2.6 update: Pagecache

    Full-page cache now works as expected in multistore deployments. Previously, when you opened the URL of a non-default store in a multistore deployment, full-page cache did not return the URL.

so i hope update to 2.2.6/2.2.7 will resolve this

[2018-12-06 17:09] DanielRuf commented on #18504
I guess these are normal and automated user interactions by the spammers. You should block their network using its CIDR notation.

Do you have timestamps from the GET and POST request?

[2018-12-06 17:09] yosoyfunes commented on #19440
`ALTER TABLE `amazon_sales_order` RENAME INDEX AMAZON_SALES_ORDER_ORDER_ID to AMAZON_SALES_ORDER_ORDER_ID2`

`ALTER TABLE `amazon_quote` RENAME INDEX AMAZON_QUOTE_QUOTE_ID to AMAZON_QUOTE_QUOTE_ID2`

it worked for me.

Thanks @importwholesales

[2018-12-06 17:13] DanielRuf commented on #18504
Also in general it can be possibly that CAEF tokens can be used in a specific timeframe.

[2018-12-06 17:28] pjw345 opened #19602 "Declaration error - Magento_Catalog - Product\Collection::_getSelectCountSql"
### Summary (*)

Extending class Magento\Catalog\Model\ResourceModel\Product\Collection and error occurs as line 1134 appears to have a spurious '?' in front of Select $select

### Examples (*)

as above

### Proposed solution

Remove the '?'

[2018-12-06 17:52] tylers-username opened #19603 "Upgrading 2.2.4 -> 2.2.7: Magento cli throws error: Cannot redeclare __()"
### Preconditions (*)

1. Magento 2.2.4
2. Upgrading to 2.2.7

### Steps to reproduce (*)

1. `composer require magento/product-enterprise-edition:2.2.7 --no-update`
2. `composer update`
3. `rm -rf var/cache var/page_cache generated/`
4. `composer dump`
5. `magento setup:upgrade`

### Expected result (*)

1. `app/functions.php` to be up-to-date with the latest installed Magento version

### Actual

[2018-12-06 17:52] magento-engcom-team commented on #19603
Hi @tylerssn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-06 18:02] rishabhchd19 commented on #14952
As I am able to see - https://github.com/magento/magento2/pull/18471/files/f171c9d6ab035439ffb6374ec14dd8d51123dcd2#diff-134b78852b9ecf820540911b665d6566   has resolved the problem in 2.3.0.

[2018-12-06 18:53] gwharton commented on #14952
#18471 is fix for 2.3 approved but not merged yet

#18472 is fix for 2.2 currently on hold, would imagine will be merged once 2.3 fix is applied.

[2018-12-06 19:05] rishabhchd19 commented on #14952
I have tried backing up the files and merged manually to the original source. As it is verified & approved, I can rely on this fix. My testing is positive after making changes to all these 7 files. Haven't tested "Order emails not send to Admin in BCC".

[2018-12-06 19:11] cscd98 opened #19604 "Support for PHP 7.3"
PHP 7.3 has now been released. Would like to see Magento 2 support it

[2018-12-06 19:11] magento-engcom-team commented on #19604
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-06 19:27] joshuaadickerson opened #19605 "Don't static compile disabled modules"
### Summary (*)

When running static-content:deploy, there are disabled module content in pub/static.

### Examples (*)

Disable modules that have frontend resources.
Run `bin/magento setup:static-content:deploy`
Observe that `pub/static/...` contains the resources.

### Proposed solution

Check the disabled modules and skip them when compiling static content

[2018-12-06 19:47] gwharton commented on #14952
"Order emails not sent to admin in Bcc" was fixed in this commit. https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5

That fix is present in 2.2.7 and 2.3.0.

Note, that 2.3.0 also has a separate email issue where the from address is set, but not the from name. If you run into that, then the fix for that is included in #18471 w

[2018-12-06 19:54] joshuaadickerson opened #19606 "config:show output options"
### Description (*)

Add an option to `Magento\Config\Console\Command\ConfigShowCommand` named `output` which accepts different types of output. It would default to what it is currently. Other possible outputs would be JSON and XML.

### Expected behavior (*)

When you supply `--output=json` to the `config:show` command, it will output the config as JSON

### Benefits

Make it easier to use config

[2018-12-06 19:54] magento-engcom-team commented on #19606
Hi @joshuaadickerson. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-06 20:16] DanielRuf commented on #19604
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#php

Does something not wirk in 7.3?
Also this would rake some time.

[2018-12-06 21:19] Rjgoolsby opened #19607 "Magento 2.3. Page Not Found when deleting Attribute Set"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Create New Attribute Set then try to delete it
2.

### Expected result (*)

1. I expect it to delete the attribute but it results in a page not found
2.

### Actual result (*)

1. Page not found
![screen shot 2018-12-06 at 4 18 42 pm](https://user-images.githubusercontent.com/10386821/49612397-9ff4ab00-f972-11e8-9703-6e2f80b9

[2018-12-06 21:19] magento-engcom-team commented on #19607
Hi @Rjgoolsby. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-06 22:43] ChinnaBabuSadam commented on #18936
Hi  @engcom-backlog-nazar
Thank you!  That helped me to fix my issue...

[2018-12-06 23:03] orlangur commented on #19604
Thanks @craigcarnell, Magento team keeps an eye on new PHP releases by itself, there is no need in such reports.

[2018-12-06 23:03] #19604 closed, assigned to nobody

[2018-12-06 23:04] salelsol commented on #14952
- After upgraded from Magento 2.2.6 to 2.2.7 still worse, Inputbox mail plenty of returned order confirmation mails due to this older issue:

Mail delivery failed: returning message to sender This message was created automatically by mail delivery software.

- Need any provisional solution, I'm thinking in change SMTP provider ??

[2018-12-06 23:06] orlangur commented on #19602
@pjw345 what kind of error appears? Such question mark indicates that there could be `null` passed.

[2018-12-07 00:19] davidalger commented on #19597
@kunj1988 That is odd, because I've also _never_ seen the `setup:db:status` report the schema as up-to-date on 2.3.0. As @dverkade indicated, this is breaking zero-down deployments on the very widely used capistrano-magento2 pipeline deployments, and likely others as well.

It doesn't matter how many times I run `bin/magento setup:upgrade` on this or other 2.3.0 test instances I've spun up, the co

[2018-12-07 00:43] salelsol commented on #14952
- At end I'm fixed this provisional issue just changing this function in file: vendor/magento/module-sales-Model/Order/SenderBuilder.php

protected function configureEmailTemplate()
    {
$this->transportBuilder->setTemplateIdentifier($this->templateContainer->getTemplateId());
$this->transportBuilder->setTemplateOptions($this->templateContainer->getTemplateOptions());
$this->transportBuilder->set

[2018-12-07 01:40] robolmos commented on #14952
It looks like this issue is again missing from the "known issues" section in the release notes for 2.2.7 and 2.3.

[2018-12-07 05:52] milindsingh1 commented on #19602
@pjw345 Can you please specify magento version ?

[2018-12-07 06:45] devqualwebs commented on #19494
@engcom-backlog-nazar Please have a look [here](https://www.awesomescreenshot.com/image/3776978/1a65ba75334a1f675e88bdbf0e4fe282).
I'm able to use payment method in Cart price rules condition. And the rule also applying.

[2018-12-07 06:46] ihor-sviziev commented on #17195
Hi,

I investigated this issue more deeper. Previously magento was throwing an exception with message "Unable to send the cookie. Maximum number of cookies would be exceeded.", but after https://github.com/magento/magento2/commit/369c963513775cccdd7d7b720d9c5ea5475653ff#diff-69abf748a729353f99cd623615fecd9dR210 - it's just logging of such situation, but cookies are actually sending and no real iss

[2018-12-07 06:58] vishalverma279 commented on #17112
Hello,
I am also facing the same issue when the USPS is set to **United Parcel (Non-XML)** from the admin
![image](https://user-images.githubusercontent.com/38008540/49632349-62982800-fa1b-11e8-87cb-316f79e86559.png)
configuration and the admin tries to create the shipping label
![image](https://user-images.githubusercontent.com/38008540/49632408-a25f0f80-fa1b-11e8-92a8-eff07dcd3f16.png)

[2018-12-07 06:59] agorbulin commented on #19545
Thank you @tkacheva for the clarification.
I will proceed with issue and add verification of  'salesrule end date'.

[2018-12-07 07:04] amol2jcommerce commented on #19600
1) Clear the content of pub/static and var/view_preprocessed

2) Deploy : php bin/magento setup:static-content:deploy -f

3) Clean the cache: php bin/magento cache:clean

[2018-12-07 07:04] magento-engcom-team commented on #19603
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 07:04] magento-engcom-team commented on #19607
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 07:04] magento-engcom-team commented on #19606
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 07:05] magento-engcom-team commented on #19600
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 07:14] magento-engcom-team commented on #19607
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96995` were created

[2018-12-07 07:15] magento-engcom-team commented on #19602
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 07:18] engcom-backlog-nazar commented on #19603
@tylerssn , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-12-07 07:18] #19603 closed, assigned to nobody

[2018-12-07 07:18] magento-engcom-team commented on #19605
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 07:24] #19602 closed, assigned to nobody

[2018-12-07 07:31] engcom-backlog-nazar commented on #19605
Hi @joshuaadickerson . Thank you for you report,  It will be processed faster if you move this to https://github.com/magento/community-features

[2018-12-07 07:42] engcom-backlog-nazar commented on #19606
Hi @joshuaadickerson , Thank you for you report,  It will be processed faster if you move this to https://github.com/magento/community-features

[2018-12-07 07:42] #19606 closed, assigned to nobody

[2018-12-07 07:46] magento-engcom-team commented on #19597
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 08:18] magento-engcom-team commented on #19607
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-07 08:43] pixel-paul commented on #19600
@amol2jcommerce - yes I did try that.

[2018-12-07 09:00] pjw345 commented on #19602
For the record, I was working on Magento 2.3.0 and I had forgotten to update Phpstorm to use Php 7.1 hence it was throwing a declaration error. After updating all _getSelectCountSql function calls to the new declaration the error is now gone!

[2018-12-07 09:02] magento-engcom-team commented on #19561
Hi @emiprotech. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-12-07 09:58] kassner opened #19609 "config:set --lock-config does not act on other scopes"
### Preconditions

1. Magento 2.2.7;

### Steps to reproduce

1. `php bin/magento config:set --lock-config general/store_information/name "Test lock"`;
2. `php bin/magento app:config:import`;
3. `php bin/magento cache:clean`;

### Expected result

Admin user should not be able to change the configuration.

### Actual result

Admin user is not able to change the configuration for the default store,

[2018-12-07 09:58] magento-engcom-team commented on #19609
Hi @kassner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-07 10:02] engcom-backlog-nazar commented on #19597
Hello @dverkade this is not related to the magento core, for example, clean 2.3.0, the php bin / magento setup command: db: status always return All modules are upgraded.

[2018-12-07 10:06] magento-engcom-team commented on #13309
Hi @ssp58bleuciel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-07 10:10] warrior7789 commented on #10424
yes you are right

[2018-12-07 10:13] warrior7789 commented on #9486
yes i check in 2.2.6  i also get same issue .. i cant find solution of it

[2018-12-07 10:39] magento-engcom-team commented on #19607
Hi @emiprotech. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-12-07 10:44] magento-engcom-team commented on #19609
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 11:05] himashyam opened #19613 "Coupon code is not showing on Invoice magento 2"
### Preconditions (*)

1. Magento 2.1.7

### Steps to reproduce (*)

1. Migrated site  from version 1 to 2.1.7
2.  Added product to the cart and applied coupon code
3. Order placed.  Can see coupon code in order details

### Expected result (*)

1. Need to show discount name everywhere on the  site
2.

### Actual result (*)

1. Discount code not showing on Invoice and PDF
2.
![image](https://user-

[2018-12-07 11:06] magento-engcom-team commented on #19613
Hi @himashyam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-07 11:06] GovindaSharma commented on #19607
@emiprotech i am working on this...i will fix it soon...

[2018-12-07 11:07] magento-engcom-team commented on #19613
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 11:09] engcom-backlog-nazar commented on #19613
Hi @himashyam thank you for you report, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-12-07 11:09] #19613 closed, assigned to nobody

[2018-12-07 11:20] bilalyounus commented on #8614
I was also facing this issue I fixed it using the following steps:

1- Move `vendor/magento/module-tax/view/frontend/web/js/view/checkout/summary/shipping.js` to your custom theme e.g. `app/design/frontend/Vendor/Theme/Magento_Tax/web/js/view/checkout/summary/shipping.js`.

2- Replace price = this.totals()['shipping_amount'];
to `price = quote.shippingMethod()['amount'];`

3- Replace `price = this

[2018-12-07 11:43] LiamKarlMitchell commented on #8145
Any updates on if this is fixed? Magento 2.3 is out now.

[2018-12-07 11:51] TomashKhamlai commented on #18755
@albsa, could you confirm that you see the expected result on the animation?
![peek](https://user-images.githubusercontent.com/11827230/49646198-4cd43400-fa16-11e8-9cb3-727028686b1e.gif)

[2018-12-07 12:00] michelecanal commented on #19486
same problem

[2018-12-07 12:10] magento-engcom-team commented on #19609
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97006`, `MAGETWO-97007` were created

[2018-12-07 12:10] tuyennn commented on #12612
Well my scenario, seem like the shipping Address and Billing Address has street was an array.
To fix this temporary implode the street with \n then set it back to address.

Here is the patch for 2.1.9

[code]

[2018-12-07 12:21] magento-engcom-team commented on #18823
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 12:24] kanhaiya5590 commented on #19082
@agorbulin thanks for update

[2018-12-07 12:36] magento-engcom-team commented on #12414
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-07 12:42] hardik-krish commented on #18823
I have already resolved this issue check this #18885 but that didn't reviewed yet. it was above one month ago i have resolved this issue.

[2018-12-07 12:44] engcom-backlog-nazar commented on #18823
@hardik-krish  i'm verify this issue.

[2018-12-07 12:52] albsa commented on #18755
@TomashKhamlai
On your animation it looks like it works how it should work.

Just to confirm:

This is 1 STORE with 2 STOREVIEWS (2 different languages)
Both with their own default country settings when checkout page is loaded.
So storeview GERMANY is set as default country for the german URL
And the other with netherlands as settings

[2018-12-07 12:53] TomashKhamlai commented on #12414
I will add this to the issue description.
![peek2](https://user-images.githubusercontent.com/11827230/49648799-1a7b0480-fa1f-11e8-9ffd-983881e0f735.gif)

[2018-12-07 12:54] ghost opened #19615 "Can not upload “Transactional Emails” logo from magento backend."
From admin panel admin can not upload the Transactional Emails logo from Content > Design > Edit Theme > Transactional Emails > Upload Logo from  Logo Image. Image will not upload from backend.
### Preconditions (*)

1. Magento  V2.3.0 with sample data
2. PHP 7.1

### Steps to reproduce (*)

1. Goto : Content > Design > Edit Theme > Transactional Emails and  Upload Logo from  Logo Image
2.  Error

[2018-12-07 12:54] magento-engcom-team commented on #19615
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-07 12:55] magento-engcom-team commented on #19615
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-07 12:56] engcom-backlog-nazar commented on #19615
Hi @emiprotech this is duplicate to this -> https://github.com/magento/magento2/issues/19581

[2018-12-07 12:56] #19615 closed, assigned to nobody

[2018-12-07 12:58] magento-engcom-team commented on #12414
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97010`, `MAGETWO-97011` were created

[2018-12-07 13:09] emiprotech commented on #19615
@engcom-backlog-nazar,
This is not duplicate , because in 2.2.6 , we can upload logo from admin side and in 2.3 we are not able to set logo from backend.

[2018-12-07 13:12] engcom-backlog-nazar commented on #19615
@emiprotech in referenced issue you not able to upload logo on 2.3, the label are present "reproduce on 2.3" and have already assigned contributor.

[2018-12-07 13:13] fabio-fafle commented on #8725
In 2.2.5 I fixed with
[code]
see Magento\SalesRule\Model\RulesApplier::applyRules
[code]

[2018-12-07 13:16] engcom-backlog-nazar commented on #19615
@emiprotech  you can add description to ->#19581

[2018-12-07 13:21] dverkade commented on #19597
Hi,

I have done some extra debugging into this. My setup is on MariaDB version 10.2 and this gives issues. Please have a look at the following screenshots:

Table declaration on MySQL 5.7
![image](https://user-images.githubusercontent.com/1058480/49649691-2e783380-fa2a-11e8-9d24-51b0cc9eb63e.png)

Table declaration on MariaDB 10.2
![image](https://user-images.githubusercontent.com/1058480/4964976

[2018-12-07 13:33] DanielRuf commented on #17319
The invisible mode of reCaptcha is possibly used so this is normal then.

[2018-12-07 13:35] yfleuren commented on #10424
We've applied a quick fix for this issue in _app/code/Cadence/ScopeFix/Controller/Catalog/Adminhtml/Product/Initialization/Helper.php_ on rule 193.

**Old code:**
_if ($attribute->getBackendType() != 'static' && $rootProduct->getData($productKey) == $productValue) {_

**New code:**
_if ($attribute->getBackendType() != 'static' && $attribute->getScope() != \Magento\Catalog\Api\Data\EavAttributeInte

[2018-12-07 13:40] michelecanal commented on #17319
Hi @DanielRuf,
but when the recaptcha is not displayed and you fill the form, the result is "incorrect reCAPTCHA"

[2018-12-07 13:42] engcom-backlog-nazar commented on #19597
@dverkade thanks for explanation now clear.

[2018-12-07 13:55] oefterdal opened #19616 "Dynamic Block"
### Preconditions (*)
In the release notes, there is a reference to Banners that have been renamed to Dynamic Block.
I have a clean install of M2.3 but there are no options for Dynamic Block's

https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.0OpenSource.html

### Steps to reproduce (*)
Content > Widget > Widget type

### Expected result (*)
See an option for Dynamic Block

##

[2018-12-07 13:55] magento-engcom-team commented on #19616
Hi @oefterdal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-07 13:56] oefterdal commented on #19616
@magento-engcom-team give me 2.3 instance

[2018-12-07 13:58] oefterdal commented on #19616
@magento-engcom-team give me 2.3-develop instance

[2018-12-07 13:58] magento-engcom-team commented on #19616
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-07 13:58] magento-engcom-team commented on #18823
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97012`, `MAGETWO-97013` were created

[2018-12-07 13:58] magento-engcom-team commented on #19616
Hi @oefterdal, here is your [Magento instance](https://i-19616-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19616-2-3-develop.instances.magento-community.engineering/admin](https://i-19616-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-07 14:02] oefterdal commented on #19616
I get the same result on the 2.3-develop instance

[2018-12-07 14:20] giacmir commented on #18183
Today I encountered this same issue in a 2.1.9 instance.

[2018-12-07 14:42] michelecanal commented on #17319
Hi,
I think I found a solution.
I'm using google recaptcha so I disabled the magento_captcha module. This is the cause of problem: can be?
Now I enabled it I seem work fine

bye

[2018-12-07 14:56] DanielRuf commented on #17319
@michelecanal is it a different issue compared to this one here (see the initial comment)? If so please create a new issue with all relevant details so we can reproduce and test it.

[2018-12-07 14:56] TomashKhamlai commented on #6884
I was not able to reproduce on the latest 2.3-develop. So it looks like it is fixed now

[2018-12-07 14:58] #6884 closed, assigned to nobody

[2018-12-07 15:16] TomashKhamlai commented on #3423
Thank you for reporting this issue!
I tried to reproduce this issue with language pack from [cubewebsites](https://github.com/cubewebsites/magento2-language-en-gb) and the button was translated all the time. Closing as not reproducible anymore.

[2018-12-07 15:16] #3423 closed, assigned to TomashKhamlai

[2018-12-07 15:19] magento-engcom-team commented on #19616
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-07 15:19] davidalger commented on #19597
@dverkade Wow, nice sleuthing!

@engcom-backlog-nazar This doesn't seem to be limited to MariaDB, and I found a case that reproduces it working and not working on MySQL 5.7.

The below demonstrates first installing Commerce, which exhibits the behavior of always reporting the schema as out of date. The second install is Open Source, which exhibits the correct behavior of reporting the schema as up

[2018-12-07 15:23] michelecanal opened #19618 "Google reCAPTCHA : Sometimes reCAPTCHA doesn't display - hidden dependance"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)
1. clean magento 2.3 installed (composer)
2. I am using Magento's default Luma theme
3. I have configured 'Google reCAPTCHA' (v2 or invisible) and then enabled it for frontend forms.
4. disable module magento_captcha

### Expected result (*)
1. In contact form, it should display the google reCAPTCHA button and convalidate the form2.

[2018-12-07 15:57] TomashKhamlai commented on #19616
@magento-engcom-team give me 2.2-develop instance

[2018-12-07 15:57] magento-engcom-team commented on #19616
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-07 15:57] magento-engcom-team commented on #19616
Hi @TomashKhamlai, here is your [Magento instance](https://i-19616-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19616-2-2-develop.instances.magento-community.engineering/admin](https://i-19616-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-07 16:08] cpartica commented on #18144
hi @bartoszkubicki we're about to do this in 2.3.1
Can you provide more exact steps about what "Detaching category" means? So our quality engineers can understand it.
What level of category do you try to detach? Do you go through product page? do you go through category page, do you do this through api? All those cases?

[2018-12-07 16:09] oefterdal commented on #19616
For your information, I have never seen this functionality in older releases either.

[2018-12-07 16:16] magento-engcom-team commented on #19472
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19473 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [c4294625e6c2da06468a349a45fe41cf265c7def](https://github.com/magento/magento2/commit/c4294625e6c2da06468a349a45fe41cf265c7def)
 - [22daf662fe84b54c3f3c10e5c2ebc84745915e2b](https://github.com/magento/magento2/commit/22daf662fe84b54c3f3c10e5c2ebc847

[2018-12-07 16:16] #19472 closed, assigned to SyntaxKay

[2018-12-07 16:16] magento-engcom-team commented on #18509
Hi @omaxmo. Thank you for your report.
The issue has been fixed in magento/magento2#19462 by @omaxmo in 2.3-develop branch
Related commit(s):
 - [e3a8af60bd5cd7bc141da21bb57ec99d743f7db2](https://github.com/magento/magento2/commit/e3a8af60bd5cd7bc141da21bb57ec99d743f7db2)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-07 16:16] magento-engcom-team commented on #19205
Hi @sneha-panchal. Thank you for your report.
The issue has been fixed in magento/magento2#19437 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [4bf63dadd2df27035063eb24d34c33bc57863470](https://github.com/magento/magento2/commit/4bf63dadd2df27035063eb24d34c33bc57863470)
 - [98ae6ae5f81ed8d9a2de2016390289d110756ac6](https://github.com/magento/magento2/commit/98ae6ae5f81ed8d9a2de20

[2018-12-07 16:16] magento-engcom-team commented on #19424
Hi @dhayakawa. Thank you for your report.
The issue has been fixed in magento/magento2#19425 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [4d3347c78da87dac832e72b896ca23485b1a508e](https://github.com/magento/magento2/commit/4d3347c78da87dac832e72b896ca23485b1a508e)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-07 16:16] #19424 closed, assigned to dmytro-ch

[2018-12-07 16:16] magento-engcom-team commented on #19399
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19405 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [c4294625e6c2da06468a349a45fe41cf265c7def](https://github.com/magento/magento2/commit/c4294625e6c2da06468a349a45fe41cf265c7def)
 - [7ef0c2c827588867d76ae3b981d9ae578303b105](https://github.com/magento/magento2/commit/7ef0c2c827588867d76ae3b981d9ae57

[2018-12-07 16:16] #19399 closed, assigned to SyntaxKay

[2018-12-07 16:16] magento-engcom-team commented on #18361
Hi @nickshatilo. Thank you for your report.
The issue has been fixed in magento/magento2#18380 by @nickshatilo in 2.3-develop branch
Related commit(s):
 - [b4181a0795e56c9954f6c03454af5e765727c597](https://github.com/magento/magento2/commit/b4181a0795e56c9954f6c03454af5e765727c597)
 - [491e91853826c75ba852732643b5679e5bff17ce](https://github.com/magento/magento2/commit/491e91853826c75ba852732643b5

[2018-12-07 16:16] #18361 closed, assigned to novikor

[2018-12-07 16:16] magento-engcom-team commented on #18615
Hi @iancassidyweb. Thank you for your report.
The issue has been fixed in magento/magento2#18620 by @iancassidyweb in 2.3-develop branch
Related commit(s):
 - [3f9784e3ee8c4b1f1e9df0a47ad91a6e4628024b](https://github.com/magento/magento2/commit/3f9784e3ee8c4b1f1e9df0a47ad91a6e4628024b)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-07 16:16] magento-engcom-team commented on #17680
Hi @IgorVitol. Thank you for your report.
The issue has been fixed in magento/magento2#18648 by @pmclain in 2.3-develop branch
Related commit(s):
 - [86a30b6295fec501b0ecaa27e173bcdefc8fa95b](https://github.com/magento/magento2/commit/86a30b6295fec501b0ecaa27e173bcdefc8fa95b)
 - [32191691b5e66da54c422b4968590b7c581c0e58](https://github.com/magento/magento2/commit/32191691b5e66da54c422b4968590b7c58

[2018-12-07 16:16] #17680 closed, assigned to nobody

[2018-12-07 16:50] giordhano commented on #13511
Checks checkout/model/error-processor.js

[2018-12-07 19:17] hostep commented on #9486
Ok, sorry to disappoint (?) the people above, but this really **is** fixed in 2.2.6 and 2.2.7, and also in 2.3.0.

So I just put some time in this, setup clean Magento 2.2.5, 2.2.6, 2.2.7 and 2.3.0 installations and followed the exact steps as outlined by @justinsyatnam on each one of them.
In Magento 2.2.5 I can fully reproduce the problem, but in 2.2.6, 2.2.7 and 2.3.0 the issue is definitely fi

[2018-12-07 19:31] DrewML commented on #19605
Re-opening. I don't consider this to be a feature request. If the issue is as @joshuaadickerson reported (I have not tested, but don't have reason to believe otherwise) this is certainly a bug. Copying over unused code to `pub/static` will mean that those using the built-in bundling strategy will be over-shipping code.

[2018-12-07 19:41] 0820 commented on #19283
Anyone experience "not generating static files" issue after fixing this shasum problem `composer update vertex/sdk` ?

In development environment, in developer mode, with all cache disabled, Magento 2 just stopped generating static files, the same repository worked just fine before I did composer update.

I'm using Windows, Apache 2.4, Php 7.1, Magento 2.2.5. When I hit home page in browser, it ta

[2018-12-07 20:40] Drakas commented on #19542
I can confirm the same problem, error that occurs:

Analisi statica:

Sono stati trovati 1 errori durante l'analisi.

Tipo statement non riconosciuto. (near "LOCK" at position 53)
Query SQL:

-- -- Dumping data for table `inventory_stock_1` -- LOCK TABLES `inventory_stock_1` WRITE

Messaggio di MySQL: Documentazione

[2018-12-07 20:44] Alex1844 opened #19621 "No such entity with addressId ="
I have upgraded perfectly working Magento 2.2.6 to 2.3.0 last week and since then about once per day I find my store front-end down, displaying Ooops, our bad message. It keeps showing that message on page refresh. The admin pages work fine though. I fix it by Flushing Page cache and then it works fine until next occasion.

This is the only thing I found in system log reporting any kind of failure

[2018-12-07 20:44] magento-engcom-team commented on #19621
Hi @Alex1844. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-07 20:49] bobmats opened #19622 "FPC not working on multisotre"
### Summary of the issue

When fpc cache is on main domain gets cache hit

Set-cookie | PHPSESSID=qtu3amjes5ck6abl74455gulog; expires=Fri, 07-Dec-2018 21:27:33 GMT; Max-Age=3600; path=

when visiting a product on the second domain (other website)

Set-Cookie | X-Magento-Vary=e96b7c37def15b1cd76dd9dcea7d889fabef16f4; expires=Fri, 07-Dec-2018 16:51:49 GMT; Max-Age =3600; path=/; secure; HttpOnly

Ti

[2018-12-07 20:49] magento-engcom-team commented on #19622
Hi @bobmats. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-07 21:32] bobmats commented on #15828
update to 2.2.7 did not resolve the problem.
nginx was disabled only appace no solution still x-magento-vary cookie is set on all domains except the installtion domain.

Even when fpc is turned of there is a problem.
Main domain will only show phpsesid and other domains phpsesid and x-magento-vary.

when pfc on also x-magento-cach show miss in combination with x-magento-vacy
on main domain cache i

[2018-12-07 22:04] jessicana opened #19623 "Error message for the website admin when trying to add a review Magento 2.3"
Magento 2.3 admin receives an error message when trying to add a review and the stars rating is unavailable. I suppose the stars issue was in Magento 2.2.6 and continues to be unresolved.

### Preconditions (*)

1. Magento 2.3
2. PHP 7.1.22

### Steps to reproduce (*)

1. Sign in to Magento backend.
2. Marketing > Reviews > New Review
3. Select a product to review

### Expected result (*)

1. Admi

[2018-12-07 22:04] magento-engcom-team commented on #19623
Hi @jessicana. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-07 22:12] alexeybordachyov commented on #19516
I can reproduce it during CLI installation in vagrant.

bin/magento setup:install --backend-frontname="admin" --key="admin" --session-save="files" --db-host="localhost" --db-name="magento2" --db-user="root" --db-password="123" --base-url="https://m230.loc/" --base-url-secure="https://m230.loc/" --admin-user="admin" --admin-password="changeme12" --admin-email="admin@admin.com" --admin-firstname="Ad

[2018-12-07 22:39] jessicana opened #19624 "Customers cannot add a product review in Magento 2.3 store"
When the product review settings from the backend do not allow guests to write reviews, a customer has to register and sign in to write a review. When a customer signs in to write a review and is allowed by the site to write a review, the rating is unavailable, further, after navigating through the website by clicking on the website logo and then on the products page, for example, the customer see

[2018-12-07 22:39] magento-engcom-team commented on #19624
Hi @jessicana. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-07 23:58] technoswift opened #19626 "Checking composer.json: FAIL"
The version field is present, it is recommended to leave it out if the package is published on Packagist.
Defining autoload.psr-0 with an empty namespace prefix is a bad idea for performance

pls help me

_Originally posted by @udhayasuresh in https://github.com/magento/magento2/issues/6328#issuecomment-246156911_

[2018-12-07 23:58] magento-engcom-team commented on #19626
Hi @technoswift. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-08 00:12] duffner commented on #12914
I just pulled Magento 2.3 vanilla and this is still an issue.  The issue with decimal based inventory now works on the front-end for standard pricing, but the second case of my original issue still exists.

It appears that the issue maybe now just validation related on the inputs within the Admin, but the following use case which exists as a feature in m1 does not work almost 3 years later!!!!

En

[2018-12-08 00:17] duffner commented on #12914
Once this is corrected, the tiered pricing "Buy .5 and save 10%" will likely not work as well.  Any business that sells by weight in decimal quantities cannot leverage Magento.  This was a Magento feature in m1 for almost 10 years!  Let's not let it die in m2.

@magento-engcom-team, @vasilii-b it would be great to know what's going to happen here!

Thank you,

Robert

[2018-12-08 00:33] kpitn commented on #13690
I can confirm this is still in Magento 2.3.0
I don't understand the goal to force refresh "sections xhr call", this is a major performance issue.
Not logged visitors keep "call xhr sections" on every page on the store, sometimes 3 calls per page.

![sections](https://user-images.githubusercontent.com/41059/49679037-c4db4200-fa88-11e8-8345-2f9e44d09372.png)

Is the solution to disable "RefreshCusto

[2018-12-08 04:42] magento-engcom-team commented on #18017
Hi @niravkrish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-12-08 04:58] magento-engcom-team commented on #16490
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-08 05:43] vajadharmesh opened #19628 "Admin Navigation menu should show a icon if it have a sub-menu"
### Preconditions (*)

1. All magento version

### Steps to reproduce (*)

1. login into the magento admin
2. You will not able to identify which menu have sub menu and which have direct link
For Example: Dashboard menu have direct link but sales, catalog and etc have sub-menu.

### Expected result (*)

It should be like this:
![menu-with-sub-menu-icons](https://user-images.githubusercontent.com/3

[2018-12-08 05:43] magento-engcom-team commented on #19628
Hi @vajadharmesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-08 05:45] vajadharmesh commented on #19628
@magento-engcom-team give me 2.3-develop instance

[2018-12-08 05:45] magento-engcom-team commented on #19628
Hi @vajadharmesh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-08 05:46] magento-engcom-team commented on #19628
Hi @vajadharmesh, here is your [Magento instance](https://i-19628-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19628-2-3-develop.instances.magento-community.engineering/admin](https://i-19628-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-08 05:49] magento-engcom-team commented on #18944
Hi @ansari-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-12-08 06:12] magento-engcom-team commented on #19600
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-08 06:22] suryakant-krish opened #19630 "Checkbox alignment issue backend."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Login into admin panel > System > Export > checkbox alignment issue "Fields Enclosure".

### Expected result (*)

1. ![expacted-result](https://user-images.githubusercontent.com/43638601/49682735-a05e8480-fadf-11e8-8a9f-a08d20f2beca.png)

### Actual result (*)

1. ![actual-result](https://user-images.githubusercontent.com/436386

[2018-12-08 06:28] SyntaxKay opened #19632 "Backend Marketing Cart Price Rule Label Alignment Issue"
### Preconditions (*)

1.Magento 2.3-Develop

### Steps to reproduce (*)

1.Open Marketing -> Cart Price Rules ->Store View Specific Labels in Backend
2.Check Help Icon Alignment

### Expected result (*)

 ![expected](https://user-images.githubusercontent.com/33230237/49682785-604bd180-fae0-11e8-98b1-285f99d3ac80.png)

### Actual result (*)

![actual](https://user-images.githubusercontent.com/3323

[2018-12-08 06:38] magento-engcom-team commented on #19628
Hi @suryakant-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-12-08 06:43] jignesh26 commented on #19632
@speedy008 thanks for issue, i think you have resolved this and please create the pull request asap.

[2018-12-08 06:45] magento-engcom-team commented on #16424
Hi @somat211. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-12-08 06:58] magento-engcom-team commented on #19624
Hi @jignesh26. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-08 07:06] ansari-krish commented on #18944
@magento-engcom-team give me 2.2.6 instance

[2018-12-08 07:06] magento-engcom-team commented on #18944
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-08 07:07] magento-engcom-team commented on #18944
Hi @ansari-krish, here is your [Magento instance](https://i-18944-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-18944-2-2-6.instances.magento-community.engineering/admin](https://i-18944-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-08 07:10] jignesh26 commented on #19624
@jessicana Thanks for reporting this.
But looks like it issue of configuration and cache.
I have tired to reproduce this but reviews system is working fine.
here i am adding some screen shot what i did and working find.

1) Rating is unavailable
==> You need to add the rating visibility to shows the rating on the front.  Here i am attaching the image how to do that.
Go to Stores -> Attributes -> R

[2018-12-08 07:10] #19624 closed, assigned to jignesh26

[2018-12-08 07:38] jignesh26 commented on #19623
@jessicana, Thank your for the issue. I am checking the issue. its showing the error message , i am checking that but for your note you can still submit the review from the admin.

[2018-12-08 09:13] somat211 commented on #16424
Hi,
I have tried to reproduce this issue in Magento 2.3.x. I was unable to reproduce this issue.
Here I have shared screenshot for this.

![admin_configuration](https://user-images.githubusercontent.com/16957514/49684257-6ac59580-faf7-11e8-80b8-f286702338f4.png)

![product_list](https://user-images.githubusercontent.com/16957514/49684261-75802a80-faf7-11e8-8332-93ed90306a9a.png)
Thank You

[2018-12-08 09:25] suryakant-krish opened #19639 "Frontend Component theme sort by arrow icon vertical alignment issue."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to frontend  > choose any category > see on product list page > sort by arrow icon alignment.
It is little bit down.

### Expected result (*)

1. ![expected-result](https://user-images.githubusercontent.com/43638601/49684371-2e933480-faf9-11e8-8dd6-e518f8f91845.png)

### Actual result (*)

1. ![actual-result](https://user-ima

[2018-12-08 09:35] sivaschenko commented on #19628
@vajadharmesh I like the current appearance much more to be honest. The proposed change overloads the UI from my point of view.

[2018-12-08 09:42] abrarpathan19 opened #19642 "Catalog product action multi select search label icon alignment issue"
### Preconditions (*)

1. Magento 2.3 Develop

### Steps to reproduce (*)

1. Admin -> Catalog -> Products -> Open any product ->  click onAttribute Set

### Expected result (*)

1. Search icons should be aligned properly it is a little bit cut from the bottom side.
2. It should be looking consistency like top search icon. http://prntscr.com/lsaev1

### Actual result (*)

1. http://prntscr.com/lsa

[2018-12-08 09:42] magento-engcom-team commented on #19642
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-08 10:07] magento-engcom-team commented on #19618
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-08 10:09] hiren0241 commented on #19618
Hi @michelecanal,
I am able to reproduce this issue on fresh instance of 2.3. I am working upon this and I will let you know the progress.

[2018-12-08 10:12] ansari-krish commented on #17711
@magento-engcom-team give me 2.2.5 instance

[2018-12-08 10:12] magento-engcom-team commented on #17711
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-12-08 10:12] magento-engcom-team commented on #17711
Hi @ansari-krish, here is your [Magento instance](https://i-17711-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-17711-2-2-5.instances.magento-community.engineering/admin](https://i-17711-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-08 10:34] magento-engcom-team commented on #14712
Hi @ssp58bleuciel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-08 10:34] suryakant-krish opened #19645 "Area Frontend: Account information page checkbox alignment issue."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Login into Frontend > Choose Account Information > Look at change email and change password checkbox alignment little bit up.

### Expected result (*)

1. http://prntscr.com/lsapwz

### Actual result (*)

1. http://prntscr.com/lsanwl

[2018-12-08 10:34] magento-engcom-team commented on #19645
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-08 10:35] key-dev commented on #4543
Hi there,
I am having this issue in 2.2.5.
I just hit setup:upgrade and then flush cache. Front-end gets broken and when i check web/css in my child theme actual file gets removed.
Please help.

[2018-12-08 10:42] SyntaxKay opened #19647 "Backend Marketing Store View Specific Labels Options Label not aligned"
### Preconditions (*)

1.Magento 2.3-Develop

### Steps to reproduce (*)

1.Open Backend
2.Marketing -> Cart Price Rules -> Labels -> Store View Specific Labels
3.Check  Options Alignment

### Expected result (*)

![expected](https://user-images.githubusercontent.com/33230237/49685134-f2b19c80-fb03-11e8-8e29-eafd1008423b.png)

### Actual result (*)

![actual](https://user-images.githubusercontent.

[2018-12-08 10:42] magento-engcom-team commented on #19647
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-08 10:55] Dharmeshvaja91 commented on #12114
@adamlavery i am not able to reproduce the issue, it seems like already solved in 2.2.6

[2018-12-08 10:55] #12114 closed, assigned to nobody

[2018-12-08 11:03] developersb opened #19650 "Just Testing"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2018-12-08 11:03] magento-engcom-team commented on #19650
Hi @developersb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-08 11:05] magento-engcom-team commented on #10009
Hi @somat211. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-12-08 11:29] abrarpathan19 opened #19652 "Menu - Hover effect Stretch"
### Preconditions (*)

1.Magento 2.3

### Steps to reproduce (*)

Currently, when we go on the right of the "Tops"(second level category menu) link in the menu, if you go directly on the right (without passing on the letter “Tops”) it is not displaying the sub-menu.
1. Hover on Women (Top menu main category)
2. Go directly on the right of the "Tops" button (without hovering over the Tops text) and

[2018-12-08 11:30] magento-engcom-team commented on #19652
Hi @hardik-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-12-08 11:32] hardik-krish commented on #19652
I am able to reproduce this issue.

[2018-12-08 11:32] hardik-krish commented on #19652
Working on this issue.

[2018-12-08 11:35] malikt commented on #12468
Can someone please share the patch for this fix. thanks,

[2018-12-08 12:06] magento-engcom-team commented on #18057
Hi @vaibhavahalpara. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-08 12:43] SyntaxKay opened #19657 "Select Option Space issue into backend"
### Preconditions (*)

1.Magento 2.3-develop

### Steps to reproduce (*)

1.Go to Marketing -> Cart Price value -> Manage Coupon Codes
2.Under Manage Coupon Codes All select option have inconsistent space.

### Expected result (*)

![expected](https://user-images.githubusercontent.com/33230237/49686037-9dca5200-fb14-11e8-9ed1-27c24a36d5f3.png)

### Actual result (*)

![actual](https://user-images.

[2018-12-08 12:43] magento-engcom-team commented on #19657
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-08 12:44] abrarpathan19 opened #19658 "Magento modal popup box align vertically middle"
### Description (*)

Magento modal popup box should be  align vertically middle.
http://prntscr.com/lsbus1

### Expected behavior (*)

Modal popup should be verticle middle align
http://prntscr.com/lsbus1

### Benefits

As per the user interface modal box popup design align should be in center.

### Additional information

[2018-12-08 12:44] magento-engcom-team commented on #19658
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-08 13:10] rogyar commented on #19652
Hi @abrarpathan19. Thank you for the report. I'm not sure we are talking about an "issue" here since the described behavior is the description of how the menu exactly works.
If we consider this as an issue, we may also say that if you quickly move the pointer over the top level menu items - the submenu items are not being shown and it's a bug. But it's not.
The delay there is set to prevent the si

[2018-12-08 13:42] rogyar commented on #19657
Hi @speedy008. Please, provide a description of the issue. At first glance, both screenshots look the same and it's hard to guess what is the issue about.
Thank you.

[2018-12-08 13:56] abrarpathan19 commented on #19652
@rogyar
Thanks for the quick response, Please review below Bug vedio link  https://drive.google.com/file/d/1hHv90DoF60iZLmIEKLTN7p3hc0QpHtxU/view

[2018-12-08 16:00] wojtekn opened #19664 "Payment methods from core source model are not grouped properly"
### Summary

There is `\Magento\Payment\Model\Config\Source\Allmethods` class in the Magento core which can be used as source model for backend configuration fields. It displays available payment methods grouped by payment provider. Not all methods shipped with M2 have group defined, so some of them are displayed outside option group. This can be confusing.

It looks as follows now:

<img width="7

[2018-12-08 16:00] magento-engcom-team commented on #19664
Hi @wojtekn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-08 16:07] wojtekn commented on #19664
This shows how methods look after applying the fix:

<img width="762" alt="methods-fixed" src="https://user-images.githubusercontent.com/727413/49687989-b4b87680-fb0b-11e8-9fb2-c41d48c01345.png">

[2018-12-08 21:54] duffner commented on #8404
#12914 falls in line with this bug, and is the second part of it.

[2018-12-08 21:59] Drakas opened #19670 "Product's images cache not displayed /regenerated after Flush Catalog Images Cache"
### Preconditions (*)
1.Magento 2.3.0
2. Mysql 5.6.41
3. Php 7.2

### Steps to reproduce (*)
1. Import products with images
2. Go on Magento's Backed and click on: Flush Catalog Images Cache

### Expected result (*)
1. Product's Images cache regenerated on visiting the single page's product
2. See the images of products that point on the cache folder

### Actual result (*)
1.  Cache's images not f

[2018-12-08 21:59] magento-engcom-team commented on #19670
Hi @Drakas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-08 21:59] Drakas commented on #19670
@magento-engcom-team give me 2.3 instance

[2018-12-08 22:00] Drakas commented on #19670
@magento-engcom-team give me 2.3.0 instance

[2018-12-08 22:00] magento-engcom-team commented on #19670
Hi @Drakas. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-08 22:00] magento-engcom-team commented on #19670
Hi @Drakas, here is your [Magento instance](https://i-19670-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19670-2-3-0.instances.magento-community.engineering/admin](https://i-19670-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-08 22:01] bentideswell opened #19671 "Unable to define Translation Function before Magento_Framework"
Running Magento 2.2.7 and above when installed using Composer changes the registration.php include order. When installed via GitHub, the Magento Framework's registration.php is included after all the module registration.php files. This allows custom modules to define the translation function. When installed via composer, the framework's registration.php is included first, making it impossible to d

[2018-12-08 22:01] magento-engcom-team commented on #19671
Hi @bentideswell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-08 23:16] DanielRuf opened #19675 "inherited methods - can we remove them?"
We have code like

[code]

Can we remove them (in PRs for 2.3-deevelop) or is this not allowed?

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2018-12-08 23:16] magento-engcom-team commented on #19675
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-08 23:49] orlangur commented on #19675
@DanielRuf surely we can. No BC violation introduced by this case.

[2018-12-08 23:49] #19675 closed, assigned to nobody

[2018-12-08 23:56] orlangur commented on #19671
@bentideswell,

What is the basis for such expectation?

Nope, you can read the corresponding PR. `function_exists` is just for compatibility with installations where `app/functions.php` is still not removed.

Please tell more on what are you trying to achieve.

[2018-12-09 00:05] bentideswell commented on #19671
I am the developer of [FishPig_WordPress](https://github.com/bentideswell/magento2-wordpress-integration), a popular free Magento WordPress Integration module that integrates the WordPress code base into Magento.

In Magento 2, the __ function now returns a Phrase object rather than a string. This breaks some code in WP that use this function to define array keys.

Here's an example from WordPress

[2018-12-09 06:21] jayankaghosh opened #19676 "Modifying Page cache parameters"
### Summary (*)
Supposing a developer wants to create two versions of the homepage. One for guest users and one for logged in users. There's no easy way to do it.

### Examples (*)
I have injected a dynamic block into the homepage where I am echoing content based on the customer's login state. But that value is getting cached. After some research, I've found that the `Magento\Framework\App\PageCac

[2018-12-09 06:40] syedsaleem086 commented on #18156
Hi @magento-engcom-team
Installed Magento2.3.0 with sample data
http://magento23.me/graphql
This URL doesn't load to me
![image](https://user-images.githubusercontent.com/15724424/49694186-5347e480-fbab-11e8-92af-54f33a43a721.png)

[2018-12-09 10:30] magento-engcom-team commented on #17784
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-09 10:30] magento-engcom-team commented on #17784
Hi @Valant13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-12-09 10:30] magento-engcom-team commented on #17784
Hi @AlexNeri00. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-12-09 10:48] DanielRuf commented on #19650
This is not a valid issue as the template is not correctly filled.

[2018-12-09 10:48] #19650 closed, assigned to nobody

[2018-12-09 10:50] DanielRuf commented on #4543
@key-dev this is probably some other issue. Did you clear all caches in the backend and regenerate the static content?

[2018-12-09 20:30] Grumag commented on #7977
Tested in version 2.3.0, issue hasn't been fixed.

[2018-12-09 20:50] magento-engcom-team commented on #19573
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19574 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [914382081598500a232f020f4338860ad762c182](https://github.com/magento/magento2/commit/914382081598500a232f020f4338860ad762c182)
 - [b1c929db5763a5002820c0d2f0ce21dbda50fe87](https://github.com/magento/magento2/commit/b1c929db5763a5002820

[2018-12-09 20:50] #19573 closed, assigned to suryakant-krish

[2018-12-09 20:50] magento-engcom-team commented on #19579
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19580 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [914382081598500a232f020f4338860ad762c182](https://github.com/magento/magento2/commit/914382081598500a232f020f4338860ad762c182)
 - [1d7971e0c3dc088595946348fd622346adcf6e08](https://github.com/magento/magento2/commit/1d7971e0c3dc08859594

[2018-12-09 20:50] #19579 closed, assigned to suryakant-krish

[2018-12-09 20:50] magento-engcom-team commented on #19509
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#19510 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [529b086a10e78c49e8cfffb542bbc9c9eb075144](https://github.com/magento/magento2/commit/529b086a10e78c49e8cfffb542bbc9c9eb075144)
 - [43c1ba81ea1bf8fceaa9d48884ca84d890ddb586](https://github.com/magento/magento2/commit/43c1ba81ea1bf8fceaa9d488

[2018-12-09 20:50] #19509 closed, assigned to nobody

[2018-12-09 20:50] magento-engcom-team commented on #19436
Hi @zexperto. Thank you for your report.
The issue has been fixed in magento/magento2#19451 by @SikailoISM in 2.3-develop branch
Related commit(s):
 - [7e55ad5e4b2154110a66a55a41c870cfab44220f](https://github.com/magento/magento2/commit/7e55ad5e4b2154110a66a55a41c870cfab44220f)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-09 20:50] #19436 closed, assigned to nobody

[2018-12-10 03:56] rishabhchd19 commented on #14952
@gwharton , that fix is not working for me on fresh installation 2.3.0. Have these changes been made in 2.3.0. and the related commit is in Framework/mail/template/TransportBuilder.php with 30 changes?

[2018-12-10 04:57] warrior7789 commented on #9486
check this link i have upload video of my issue you will check i have magento 2.2.7 still got the issue and i create new product as you se in video
https://streamable.com/i4xa2

[2018-12-10 05:53] kirkmadera commented on #15441
I received this error when attempting to run this script because my composer json had numerically indexed repositories without keys.

`Fatal error: Uncaught TypeError: strtolower() expects parameter 1 to be string, integer given in /var/www/hebmexico/pre_composer_update_2.3.php:151
Stack trace:
#0 /var/www/hebmexico/pre_composer_update_2.3.php(151): strtolower(0)
#1 {main}
  thrown in /var/www/heb

[2018-12-10 06:04] kirkmadera commented on #7932
I am betting this is redis cache. Sometimes you have to clear it manually. I just ran into this and manually clearing redis fixed it.

    echo flushall | redis-cli

^ Depends on your redis config of course. That is the command I ran to clear it with redis local on port 6379.

You can clear with plain telnet also:

    telnet localhost 6379
    flushall
    ]
    quit

[2018-12-10 06:07] pratikkamani opened #19681 "Magento 2.3.0 logo not uploaded due to deferred.pipe() console error"
Please check attachment. I have fresh Magento 2.3.0 installation. Unable to upload logo.
Error says "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
Consol error
JQMIGRATE: deferred.pipe() is deprecated    at   /adminhtml/Magento/backend/en_US/jquery/jquery-migrate.jsjquery-migrate.js:45

Actual result (*)

[2018-12-10 06:07] magento-engcom-team commented on #19681
Hi @pratikkamani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-10 06:36] kunj1988 commented on #19681
I don't know why but it is working for me.

[2018-12-10 06:36] magento-engcom-team commented on #19607
Hi @jignesh26. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-10 06:47] kishanpatadia commented on #19681
@magento-engcom-team  I have the same issue in my localhost (Ubuntu Linux - PHP 7.2.13 with apache)

[2018-12-10 06:49] SathishDreamorbit commented on #9228
@magento-engcom-team

We are using the Magento version 2.1.9. We set the "indexer" mode as "Update by Schedule".  When we tried to create  new product in the admin. The status of the indexer in the DB is not changing and still showing as "valid". So, that the cron Job is not reindex the table properly.

Also, I have noticed many of the users are facing the same issue. Could you please check and pr

[2018-12-10 08:07] magento-engcom-team commented on #19681
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 08:07] magento-engcom-team commented on #19626
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 08:07] magento-engcom-team commented on #19621
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 08:07] magento-engcom-team commented on #19622
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 08:13] hostep commented on #9486
Thanks for the video @warrior7789! This is not what I saw when I tested 2.2.7, but I'll try to redo the test later today and see if it behaves the same as with you or not.

[2018-12-10 08:14] lior4 opened #19683 "שיחת טלפון לתמיכה בהטמעת קודים של גוגל SBN"
בהמשך לשיחתי עם זד,
קבענו לשעה 11:00 היום, שיחת ועידה עם גוגל לתמיכה והטמעות קודים באתר

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2018-12-10 08:15] magento-engcom-team commented on #19683
Hi @lior4. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-12-10 08:15] warrior7789 commented on #9486
but if you install fresh magento 2.2.6  .  its work perfectly but i have upgrade magento 2.1.8 to 2.2.7

[2018-12-10 08:16] engcom-backlog-nazar commented on #19681
HI @pratikkamani, thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3.0 instance.

[2018-12-10 08:16] #19681 closed, assigned to nobody

[2018-12-10 08:16] magento-engcom-team commented on #19683
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 08:16] engcom-backlog-nazar commented on #19683
Hi @lior4. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2018-12-10 08:16] #19683 closed, assigned to nobody

[2018-12-10 08:18] engcom-backlog-nazar commented on #19626
Hi @technoswift  thank you for you report, i'm not able to reproduce this in clean magento instance, this may be related to your environment, or custom modules.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or gene

[2018-12-10 08:18] #19626 closed, assigned to nobody

[2018-12-10 08:20] LouNik1984 commented on #9486
I don't think it's right to mark the issue as closed if upgrading the magento version is not enough to fix it. We cannot install a fresh version any time a new bug is fixed, we can only upgrade the version we have, so if the fixed does not work by upgrading then the issue is not fixed therefore it should not be closed in my opinion

[2018-12-10 08:20] engcom-backlog-nazar commented on #19621
Hi @Alex1844 thank you for you report please look at this issue -> https://github.com/magento/magento2/issues/15115

[2018-12-10 08:20] #19621 closed, assigned to nobody

[2018-12-10 08:23] #19600 closed, assigned to nobody

[2018-12-10 08:30] engcom-backlog-nazar commented on #19622
HI @bobmats thank you for you report, the fix for this issue will be avaible on 2.3.1 release, -> https://github.com/magento/magento2/issues/15828#issuecomment-441109770

[2018-12-10 08:30] #19622 closed, assigned to nobody

[2018-12-10 08:36] bobmats commented on #19622
Thanks for the update, is there no option to have this fixed on the current setup ?

[2018-12-10 08:52] magento-engcom-team commented on #19652
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 08:55] TomashKhamlai commented on #19616
@oefterdal in older releases it should look like in the [documentation](https://docs.magento.com/m2/2.2/ee/user_guide/cms/banner-create.html).

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There are no account management services associated with GitHub.

[2018-12-10 08:57] TomashKhamlai commented on #19616
@oefterdal, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2018-12-10 08:57] #19616 closed, assigned to TomashKhamlai

[2018-12-10 08:59] engcom-backlog-nazar commented on #19652
HI @abrarpathan19 thank you for you report, i'm not able to reproduce following steps you described, i dont think that this is the bug, please look at attachments.
![menu](https://user-images.githubusercontent.com/40756439/49721277-8dc48680-fc6a-11e8-8f08-ce2441a7a3f1.gif)

[2018-12-10 08:59] #19652 closed, assigned to hardik-krish

[2018-12-10 08:59] TomashKhamlai commented on #19616
@keharper, do we have Dynamic Block's functionality described in the documentation?

[2018-12-10 09:00] magento-engcom-team commented on #19664
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97021`, `MAGETWO-97022` were created

[2018-12-10 09:07] magento-engcom-team commented on #19628
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 09:10] engcom-backlog-nazar commented on #19628
Hi @vajadharmesh thank you for you report, I dont think that this is the issue, However you can olways hover mouse on icon and see the sub menus, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-12-10 09:10] #19628 closed, assigned to suryakant-krish

[2018-12-10 09:34] oefterdal commented on #19616
@TomashKhamlai The release note I am referring to is not for commerce but open source.

_Here is a snippet from the release notes:_

**Highlights**

Magento Open Source 2.3.0 includes a wealth of new features as well as hundreds of enhancements and fixes to the core product. Look for the following highlights in this release:

Merchant tool enhancements

CMS enhancements include banner enhancements

[2018-12-10 09:57] maderlock commented on #18243
Sadly, saving the settings again has not helped. Two days later the disk filled up with 200Gb of rubbish. Going to have to turn this off in 2.2.7.

Would this fix be hard to back-port to 2.2?

[2018-12-10 10:09] magento-engcom-team commented on #19671
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 10:11] engcom-backlog-nazar commented on #19597
Hi @davidalger You can report EE related issue in one of two ways
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There are no account management services associated with GitHub.

For Open Source it's now o

[2018-12-10 10:15] maderlock commented on #18243
Apparently there is a back-port to 2.2 that got merged in October, but this has oddly not ended up in 2.2.7.

I've tried to override \Magento\Framework\Archive\Tar to patch this myself (pulling in everything by composer means I cannot just change the file), but sadly this has not worked because this class is pull in via a low-level "new" statement that bypasses DI.

Any advice on how this can be f

[2018-12-10 10:23] kunj1988 commented on #19671
I think you can try this:
[code]

[2018-12-10 10:24] sivaschenko commented on #19676
Hi @jayankaghosh , thanks for your report. The `Magento\Framework\App\PageCache\Identifier` is using data from `Magento\Framework\App\Http\Context` to get a variation hash. The HTTP context does have `customer_logged_in` value set here https://github.com/magento/magento2/blob/6478d2b09297859c4a082d71a78186d7b6600177/app/code/Magento/Customer/Model/Session.php#L428 so there should be no need for ad

[2018-12-10 10:32] bentideswell commented on #19671
@kunj1988 I think you misunderstand the issue. Yes it would fix the issue to call getText() on every instance of the __ function, it would also work to cast it as a string. This isn't possible though as the code is core WordPress code. The example I gave was a basic example to highlight the issue but WordPress is littered with code just like this.

[2018-12-10 10:32] jayankaghosh commented on #19676
Hi @sivaschenko, I just gave the customer login state as an example. There might be other modifiers required at times. For example, our company was working on a module recently to show dynamic data based on the customer's country. The only other choice we had left was to use a uiComponent, when it could've easily be done by creating separate page caches based on country

[2018-12-10 10:35] magento-engcom-team commented on #19597
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97031`, `MAGETWO-97032` were created

[2018-12-10 10:46] PascalBrouwers commented on #17634
I have this too sometimes. But then with developer mode and no Redis. Usually when running setup:upgrade after enabling a module. Can't reproduce unfortunately.

[2018-12-10 11:21] engcom-backlog-nazar commented on #19670
HI @Drakas  i'm not able tp reproduce following steps you described on clean magento 2.3.0 instance. In my case i have -> Product's Images cache regenerated on visiting the single page's product

[2018-12-10 11:21] #19670 closed, assigned to nobody

[2018-12-10 11:38] Parakoopa commented on #19187
I can confirm this is still an issue in Magento 2.3 EE. Customer login does not work @magento-engcom-team

[2018-12-10 11:43] DanielRuf commented on #18243
@engcom-backlog-nazar not sure why you linked my clone and commit but this is clearly not the cause. Also this was not what we've merged in the end.

[2018-12-10 11:50] DanielRuf commented on #18243
@maderlock you can use composer-patches and / or the patch file of the commit.

[2018-12-10 11:53] DanielRuf commented on #18243
https://github.com/magento/magento2/commit/45f22aca2e455f2df3fdb0f7ae91563cf388e407.patch

[2018-12-10 11:53] engcom-backlog-nazar commented on #19187
@Parakoopa ,  Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There are no accoun

[2018-12-10 12:07] magento-engcom-team commented on #19545
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97035`, `MAGETWO-97036` were created

[2018-12-10 12:11] magento-engcom-team commented on #10518
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-10 12:12] beltran-rubo opened #19685 "Pages -> View does not work in 2.3.0"
### Preconditions (*)
1. Install Magento via CLI using the "developer" mode
2. Reindex & flush cache

### Steps to reproduce (*)
1. Magento 2.3.0
2. Go to Pages -> Select one -> Click on View

### Expected result (*)

1. Show the Magento page in the browser

### Actual result (*)
[code]

[2018-12-10 12:12] magento-engcom-team commented on #19685
Hi @beltran-rubo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-10 12:14] beltran-rubo commented on #19685
@magento-engcom-team give me 2.3 instance

[2018-12-10 12:15] magento-engcom-team commented on #19685
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-10 12:18] engcom-backlog-nazar commented on #19685
Hi @beltran-rubo  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-12-10 12:39] magento-engcom-team commented on #19685
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97038` were created

[2018-12-10 12:47] mbiberhofer commented on #19481
Also happens with "magento/product-enterprise-edition": "2.3.0" specified in my composer.json. I'm using php-7.2 and composer 1.7.3.

Meta: What's with that mentality? Can't reproduce, can't be a bug -- so let's just close it?
I'll try to investigate when I've got some spare time, currently I'm low on time (due to issues like this).

[2018-12-10 12:49] kunj1988 commented on #19685
I just tried this and working fine for me.

[2018-12-10 13:26] cedarvinda opened #19686 "Page limiter overlapping on pager in customer order section in frontend"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Go to Frontent base url
Step 2: Login as customer
Step 3: Go to my acccount section
Step 4: Click on my order link on left sidebar
    	Note : Order should be greater than default page limiter.
    	Example: if page limiter default value set to 10 then order should be 11 then pager will display

### Expected re

[2018-12-10 13:48] winnersingh opened #19687 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
Hi,

I have installed Magneto 2.3, php version 7.2, when I try to change the logo error comes
"A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."

and when I change other images or upload like home page image or product image, its working fine.

even I re-index via ssh-putty after that  error comes https://ibb

[2018-12-10 13:48] magento-engcom-team commented on #19687
Hi @winnersingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-10 13:56] ladle3000 opened #19688 "Category swatches not working in Magento 2.3"
### Preconditions (*)

1. Magento 2.3
2. 3rd Party Themes & Modules disabled
3. Running in developer mode.

### Steps to reproduce (*)

1. Visit a category page where swatches would properly show on magento 2.2.5 (upgraded directly from this) and ran recreate catalog images requirement that were listed in 2.2.6 release notes

### Expected result (*)

1. Expecting swatches to show properly on catal

[2018-12-10 13:56] magento-engcom-team commented on #19688
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-10 14:04] DanielRuf commented on #19687
Sounds like a permission error. Please check the logs.

[2018-12-10 14:16] snoroozi commented on #19688
Yes, I've provided all info @magento-engcom-team

[2018-12-10 14:18] davidalger commented on #19597
@engcom-backlog-nazar Believe me, I know the right channels for getting EE support. That's not the issue here. The issue here is in the OpenSource core, not the EE modules. They just happen to trigger the bug in the core level schema comparison. Basically what it sounds like you're saying is: find a module on the marketplace that triggers the bug or do something that doesn't trigger the pat respon

[2018-12-10 14:32] magento-engcom-team commented on #10489
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-10 14:34] magento-engcom-team commented on #19685
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-12-10 14:41] TomashKhamlai commented on #10489
The issue is not reproducible anymore on the 2.3-develop.

[2018-12-10 14:41] #10489 closed, assigned to TomashKhamlai

[2018-12-10 14:45] orlangur commented on #19671
@bentideswell very interesting case.

How did https://github.com/bentideswell/magento2-wordpress-integration/blob/master/functions.php work before when `__` function was defined in `app/functions.php`?

[2018-12-10 14:56] orlangur commented on #19676
@jayankaghosh that's what contexts are intended for.

For example, there is a context for currency already: `\Magento\Framework\App\Http\Context::CONTEXT_CURRENCY`. Check how it is implemented and do similarly for a country.

[2018-12-10 14:57] TomashKhamlai commented on #10534
The message ```The coupon code isn't valid. Verify the code and try again.``` appears when you submit something invalid in the input on the 2.3-develop. Looks like problem has been fixed.

[2018-12-10 14:57] #10534 closed, assigned to TomashKhamlai

[2018-12-10 15:10] martinbabic commented on #19687
It's not permissions issue, I'm seeing the same thing and also while trying to replace the logo.

Tried logging in and out, reindexing, setup:upgrade, setup:di:compile, all in developer mode. Nothing helps. Nothing in apache error logs.

[2018-12-10 15:12] magento-engcom-team commented on #19686
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-10 15:23] DanielRuf commented on #19687
I mean the logs in the var directory of Magento.

[2018-12-10 15:26] ghost opened #19689 "CDATA override not working in XML config in 2.3"
### Preconditions (*)

1. Magento EE 2.3.0 without sample data installed
2. Vendor sets value in config.xml with CDATA

### Steps to reproduce (*)

1. Create module to override config.xlm
2. Override CDATA value

### Expected result (*)

1. Value of child should be set in backend

### Actual result (*)

1. Value of vendor (parent config) is set in backend

### Notes
* Custom module is enabled, wit

[2018-12-10 15:42] bentideswell commented on #19671
Previously I modified app/functions.php directly and copied my functions.php into app/functions.php.

The best solution would be for the __ function to always return a string. This would solve the issue completely. This is how it worked in M1.

There are only very few instances (all in tests if I remember correctly) where a Phrase object needs to be returned. Could these potentially be refactored?

[2018-12-10 15:56] magento-engcom-team commented on #7843
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-10 15:57] magento-engcom-team commented on #19689
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-10 15:58] TomashKhamlai commented on #7843
@royvanos, I am not able to perform step number five. Could you please try to write a comment here
```@magento-engcom-team give me 2.3-develop instance``` and recheck the steps?

[2018-12-10 15:58] magento-engcom-team commented on #7843
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-10 15:58] magento-engcom-team commented on #7843
Hi @TomashKhamlai, here is your [Magento instance](https://i-7843-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-7843-2-3-develop.instances.magento-community.engineering/admin](https://i-7843-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-10 16:00] magento-engcom-team commented on #19657
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19659 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [29f6be19ea42ba26d812797db28d9d7c0c16325e](https://github.com/magento/magento2/commit/29f6be19ea42ba26d812797db28d9d7c0c16325e)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-10 16:00] #19657 closed, assigned to SyntaxKay

[2018-12-10 16:00] magento-engcom-team commented on #16302
Hi @BenSpace48. Thank you for your report.
The issue has been fixed in magento/magento2#19583 by @rbayet in 2.3-develop branch
Related commit(s):
 - [f38f09f879a7495772e5a3b2fc2445731ae2cb5b](https://github.com/magento/magento2/commit/f38f09f879a7495772e5a3b2fc2445731ae2cb5b)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-10 16:00] magento-engcom-team commented on #19291
Hi @rbayet. Thank you for your report.
The issue has been fixed in magento/magento2#19583 by @rbayet in 2.3-develop branch
Related commit(s):
 - [f38f09f879a7495772e5a3b2fc2445731ae2cb5b](https://github.com/magento/magento2/commit/f38f09f879a7495772e5a3b2fc2445731ae2cb5b)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-10 16:00] #19291 closed, assigned to nobody

[2018-12-10 16:00] magento-engcom-team commented on #19247
Hi @gmachure. Thank you for your report.
The issue has been fixed in magento/magento2#19249 by @gmachure in 2.3-develop branch
Related commit(s):
 - [f1e7e3f200470d255f953dc7bfef91db72f0ddb3](https://github.com/magento/magento2/commit/f1e7e3f200470d255f953dc7bfef91db72f0ddb3)
 - [a7b9122344fe2b333a371089e54e567621ceca0c](https://github.com/magento/magento2/commit/a7b9122344fe2b333a371089e54e567621

[2018-12-10 16:00] #19247 closed, assigned to nobody

[2018-12-10 16:00] magento-engcom-team commented on #8952
Hi @loomdecor. Thank you for your report.
The issue has been fixed in magento/magento2#19164 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [78b694fea14fc0cbbae04b4d98150e18ae007298](https://github.com/magento/magento2/commit/78b694fea14fc0cbbae04b4d98150e18ae007298)
 - [ebfffe494247b4f49d2fb127b7823999202c2b7a](https://github.com/magento/magento2/commit/ebfffe494247b4f49d2fb127b

[2018-12-10 16:00] #8952 closed, assigned to nobody

[2018-12-10 16:00] magento-engcom-team commented on #16050
Hi @milenavasic. Thank you for your report.
The issue has been fixed in magento/magento2#18768 by @pmclain in 2.3-develop branch
Related commit(s):
 - [7bc9c31cdba8a4c4aca2c7fe3276688124b9b75a](https://github.com/magento/magento2/commit/7bc9c31cdba8a4c4aca2c7fe3276688124b9b75a)
 - [389a16b3b2c6cf308c130b09cd08ab75c54dd88c](https://github.com/magento/magento2/commit/389a16b3b2c6cf308c130b09cd08ab75

[2018-12-10 16:00] #16050 closed, assigned to pmclain

[2018-12-10 16:00] magento-engcom-team commented on #15652
Hi @bibiseb. Thank you for your report.
The issue has been fixed in magento/magento2#18521 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [14b3eaf131298ab8e70bdd529789c91821fbe4a2](https://github.com/magento/magento2/commit/14b3eaf131298ab8e70bdd529789c91821fbe4a2)
 - [3eb6c3e70e65fdadc92f30d4faba77751863580c](https://github.com/magento/magento2/commit/3eb6c3e70e65fdadc92f30d4faba777

[2018-12-10 16:02] TomashKhamlai commented on #19689
@niallttdcu, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-12-10 16:04] BenSpace48 commented on #9486
@hostep I agree with @LouNik1984 - If Magento's stance on this is "You installed Magento 2 before 2.2.6 so just live with it" that is pretty poor.

The issue is not fixed for the huge majority of Magento 2 customers therefore the issue should not be closed.

[2018-12-10 16:14] orlangur commented on #19671
@bentideswell,

So, nothing has changed from this perspective due to `__` declaration movement.

This is not a solution at all. `Phrase` was intentionally made lazy-evaluated.

Feel free to provide such pull request. However, generally loading order of Composer packages is not guaranteed.

Yep, this would be pretty strange condition for core.

To summarize, I don't see any core "bug" here. `__` fu

[2018-12-10 16:17] Raizer96 opened #19691 "Magento 2 wrong paypal express checkout token specified"
### Preconditions
Magento 2.3
Php 7.1

### Steps to reproduce
Place an order, and check out, then click continue to Paypal and complete the checkout

### Expected result
Order should be placed

### Actual result
Magento return error: "wrong paypal express checkout token specified"
Payment Log
[2018-12-07 10:38:17] main.DEBUG: array (
  'url' => 'https://api-3t.paypal.com/nvp',
  'SetExpressCheckou

[2018-12-10 16:17] magento-engcom-team commented on #19691
Hi @Raizer96. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-10 16:45] eduard13 commented on #19686
@cedarvinda I wasn't able to reproduce it on the latest version, the `float:right` already persists.
![db4651cead](https://user-images.githubusercontent.com/15868188/49747102-51654a80-fcab-11e8-8e4a-5f689425ce31.jpg)
Please feel free to reopen the issue if you have some additional info which will help to reproduce the issue.

PS: Next time please attach the images to the issue, not just the link t

[2018-12-10 16:46] sebfie commented on #3376
Where is the fix for that? I still have the issue on magento 2.2.6.

[2018-12-10 16:49] domeglic opened #19692 "[Bundle product] Shipment type "separately" not working"
Can be reproduced on a normal Magento instance with sample data.

### Preconditions (*)

1. Magento Open Source 2.3 (also 2.2.7)

### Steps to reproduce (*)

1. Bundle product with shipment_type set to "Separately"
2. Product flat index enabled
3. Paypal Express enabled and configured
4. Buy the bundle product product using Paypal Express
5. Create a shipment

### Expected result (*)

1. When crea

[2018-12-10 16:49] magento-engcom-team commented on #19692
Hi @domeglic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-10 16:57] slavvka commented on #3376
Hey @philcali feel free to create an issue if you still feel it exists

[2018-12-10 17:03] misha-kotov commented on #13952
@tzy1992 @buituanbg @timbaker1991 @amitcedcoss
Does anyone have a guess why this happens on production systems? I doubt real shoppers are checking out in different browsers/devices trying to cause race conditions on your stores. We have heard a theory that when the system is overloaded, order submission may be kicking users back into checkout even if the order is created, and submitting again crea

[2018-12-10 17:10] magento-engcom-team commented on #19424
Hi @dhayakawa. Thank you for your report.
The issue has been fixed in magento/magento2#19678 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [fc56b80ba8a0ebbc59054b29dc6ab13efdc76a29](https://github.com/magento/magento2/commit/fc56b80ba8a0ebbc59054b29dc6ab13efdc76a29)

The fix will be available with the upcoming 2.2.8 release.

[2018-12-10 17:10] magento-engcom-team commented on #19418
Hi @vasilii-b. Thank you for your report.
The issue has been fixed in magento/magento2#19568 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - [1a01f4ec48932c9dd3bdc3e7b0645902eff2196d](https://github.com/magento/magento2/commit/1a01f4ec48932c9dd3bdc3e7b0645902eff2196d)

The fix will be available with the upcoming 2.2.8 release.

[2018-12-10 17:10] magento-engcom-team commented on #15931
Hi @nopenopenope. Thank you for your report.
The issue has been fixed in magento/magento2#19145 by @lisovyievhenii in 2.2-develop branch
Related commit(s):
 - [04bc0fb4f05772b61f7345bbc36fc304eba0e744](https://github.com/magento/magento2/commit/04bc0fb4f05772b61f7345bbc36fc304eba0e744)
 - [551a2681cdaca079882e019cceeb78fa0387f919](https://github.com/magento/magento2/commit/551a2681cdaca079882e019c

[2018-12-10 17:22] giuliano72 opened #19694 "Magento 2.3 admin product catalag Value '100,000000' has to be numeric"
### Preconditions (*)

1. Magento 2.3.0
2. Country Settings Italia (override system default)
3. Currency settings and default setting for Currency to Euro
4.PHP 7.1.24-1+ubuntu18.04.1+deb.sury.org+1 (cli) (built: Nov 12 2018 09:23:58) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.1.24-1+ubuntu18.04.1+deb.sury.or

[2018-12-10 17:22] magento-engcom-team commented on #19694
Hi @giuliano72. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-10 17:28] sreichel opened #19695 "Datepicker misaligned on product edit page"
### Preconditions (*)

1. 2.3.0

It seems it already fixed / not broken in 2.3-develop, but I cant any PR.

### Steps to reproduce (*)

1. open admin product edit page (some for advanced pricing)
2. check date picker position

### Expected result (*)

1. correct position

### Actual result (*)

![m2-datepicker](https://user-images.githubusercontent.com/5022236/49749981-00088b80-fcaa-11e8-8711-b45f

[2018-12-10 17:38] sreichel commented on #19695
Duplicate ... https://github.com/magento/magento2/pull/18638

[2018-12-10 17:38] #19695 closed, assigned to nobody

[2018-12-10 18:12] giuliano72 commented on #19694
@magento-engcom-team give me 2.3.0 instance

[2018-12-10 18:12] magento-engcom-team commented on #19694
Hi @giuliano72. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-10 18:13] magento-engcom-team commented on #19694
Hi @giuliano72, here is your [Magento instance](https://i-19694-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19694-2-3-0.instances.magento-community.engineering/admin](https://i-19694-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-10 18:14] giuliano72 commented on #19694
Just dropped the old mysql db and reinstalled from downloaded 2.3.0,zip but always the same problem with prices

[2018-12-10 18:14] magento-engcom-team commented on #19686
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-10 18:30] giuliano72 commented on #19694
The problem cannot be reproduced but i suppose that real problem is in hosting PHP enviroment that i cannot view in vanilla test instance

[2018-12-10 18:39] giuliano72 commented on #19694
My PHP enviroment is localized

[2018-12-10 19:07] giuliano72 commented on #19694
Ok i understand i will drop magento its impossible to provide a valid solution to my customers with this platform

[2018-12-10 19:18] mahmood537 opened #19697 "page WYSUWYG editor does not show"
### Preconditions (*)

This is for Magento 2.3.0
1.
2.

### Steps to reproduce (*)

1. Go to Content > Pages
2. Click edit for any of the pages
Click on “content”
It briefly shows a streak of text, then the section goes blank and the content doesn’t load.

### Expected result (*)

1. The editor should display
2.

### Actual result (*)

1. The editor does not display
2.

[2018-12-10 19:18] magento-engcom-team commented on #19697
Hi @mahmood537. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-10 19:22] maheshWebkul721 commented on #19692
@domeglic i have created two orders, one with **ship bundle items Together**  and one with **separately**,  you can check both conditions,
For Separately: https://prnt.sc/lt821r .
For Together: https://prnt.sc/lt832d .

I am not able to reproduce it.

[2018-12-10 19:43] Kjellmann commented on #15043
Did you find a solution?

[2018-12-10 20:17] davidverholen commented on #19697
@magento-engcom-team give me 2.3.0 instance

[2018-12-10 20:17] magento-engcom-team commented on #19697
Hi @davidverholen. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-10 20:18] magento-engcom-team commented on #19697
Hi @davidverholen. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-10 20:18] magento-engcom-team commented on #19697
Hi @davidverholen, here is your [Magento instance](https://i-19697-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19697-2-3-0.instances.magento-community.engineering/admin](https://i-19697-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-10 20:36] davidverholen commented on #19694
Hey @giuliano72 ,
my best guess currently would be that for some reason the price is saved in the db with a , (comma) instead of . (point) as decimal separator. That seemingly leads to the decimal part of the price being interpreted as part of the integer value.
Does your hosting provider use one of the supported database servers? https://devdocs.magento.com/guides/v2.3/install-gde/system-requirem

[2018-12-10 20:57] jojotjebaby commented on #15404
I have the same problem on Magento 2.1.16. All the special characters are escaped. I found a solution and will open a PR.

[2018-12-10 21:02] donovandb commented on #16203
Magento 2.2.1
Just adding that I did not have this problem until enabling authorize.net.
We had "bluepay" up until Nov.  "Send Order Email Copy To" emails were working find. We switched to Authorize.net and now they are no longer working. Hope that helps.

[2018-12-10 21:52] giuliano72 commented on #19694
There is no hosting provider, local installation was used with
- PHP 7.1.24-1+ubuntu18.04.1+deb.sury.org+1 (cli) (built: Nov 12 2018 09:23:58) ( NTS )
- mysql 5.7.24 ubuntu 18.04.1
and apache 2.4.29 virtual hosting

and i checked the db entry on table **catalog_product_entity_decimal**
the value was with a point (.) this is a dump:

value_id, attribute_id, store_id, entity_id, value
1, 77, 0, 1, 1

[2018-12-10 22:00] jojotjebaby commented on #15404
This issue is still open but PR's for 2.1.x are automatically closed. Does this mean that this issue will continue to exist in 2.1.x untill juin 2019 ? Thank you !

[2018-12-10 22:08] giuliano72 commented on #19694
![image](https://user-images.githubusercontent.com/6089666/49764648-4ffa4900-fcd0-11e8-9ba9-2300cadc6c95.png)
 and later
![image](https://user-images.githubusercontent.com/6089666/49764700-702a0800-fcd0-11e8-9bce-50f8092c1afc.png)

[2018-12-10 22:10] davidverholen commented on #19694
@giuliano72 that's "interesting" ;)

since it seemingly cannot be reproduced on the provided instances (and you cannot view log files), I would try to reproduce it in a local instance tomorrow.

Could you maybe provide some php settings regarding localization that could be relevant for the behavior? (earlier you said, your php env. is localized)

[2018-12-10 22:17] giuliano72 commented on #19694
[phpinfo.pdf](https://github.com/magento/magento2/files/2665164/phpinfo.pdf)

this is my phpinfo

[2018-12-10 23:07] leoquijano opened #19699 "Braintree environment specific settings"
Hello,

### Summary (*)

When using the sensitive and environment specific settings feature of Magento 2.2 (https://devdocs.magento.com/guides/v2.2/extension-dev-guide/configuration/sensitive-and-environment-settings.html), Braintree correctly configures the ```payment/braintree/private_key``` as a sensitive setting.

_Note_: I'm using Magento 2.2.7.

See: ```app/code/Magento/Braintree/etc/di.xml`

[2018-12-10 23:07] magento-engcom-team commented on #19699
Hi @leoquijano. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-10 23:12] leoquijano commented on #19699
Thanks @magento-engcom-team.

Summary, information and expected/actual results are available in the description above.

The environment specific configuration is clear from ```app/code/Magento/Braintree/etc/di.xml```, so no new Magento instance is required to confirm.

[2018-12-10 23:57] hidonet commented on #6610
I've applied a solution for 1.9x and it worked. Try this;

Set same timezone for magento and server...

[2018-12-11 04:15] pratikhmehta commented on #9885
Thank you so much.

[2018-12-11 05:16] cedarvinda commented on #19686
@magento-engcom-team  give me 2.3-develop instance

[2018-12-11 05:20] shikhamis11 commented on #19686
@magento-engcom-team give me 2.3-develop instance

[2018-12-11 05:20] magento-engcom-team commented on #19686
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-11 05:21] magento-engcom-team commented on #19686
Hi @shikhamis11, here is your [Magento instance](https://i-19686-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19686-2-3-develop.instances.magento-community.engineering/admin](https://i-19686-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-11 05:39] shashankaugurs commented on #15043
Yes I had found the solution.
I had managed this by overriding the template in active theme.

app\design\frontend\<Vendor_Name>\<Theme_Name>\Magento_Swatches\templates\product\listing\renderer.phtml

<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Swatches\Block\Product\Renderer\Listing\Configurable */ ?>
<di

[2018-12-11 05:44] shikhamis11 commented on #19686
The issue is resolved in 2.3 develop

[2018-12-11 05:44] #19686 closed, assigned to eduard13

[2018-12-11 05:49] magento-engcom-team commented on #19605
Hi @milindsingh1. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-12-11 06:21] Rjgoolsby opened #19701 "Magento 2.3 Shopping Cart Taxes Missing Calc Line"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create Tax Rules with at least TWO rules.
2. Make sure "Calculate Off Subtotal Only" is checked for both rules.
3. Select the SAME Product Tax Class. We want to apply two separate taxes to product and we want them based off the subtotal.
4. Create Virtual Product. (Important as there's no shipping with this store. Everything is

[2018-12-11 06:21] magento-engcom-team commented on #19701
Hi @Rjgoolsby. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-11 06:40] jayankaghosh commented on #19676
Hi @orlangur . I wasn't aware of that. Ok I'll have a look on that. Thanks

[2018-12-11 07:37] domeglic commented on #19692
@maheshWebkul721 I was only able to reproduce the issue using Paypal Express (the one included in Magento).

@magento-engcom-team give me 2.3.0 instance

[2018-12-11 07:37] magento-engcom-team commented on #19692
Hi @domeglic. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-11 07:38] magento-engcom-team commented on #19692
Hi @domeglic, here is your [Magento instance](https://i-19692-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19692-2-3-0.instances.magento-community.engineering/admin](https://i-19692-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-11 07:52] domeglic commented on #19692
@magento-engcom-team I cannot reproduce this on the deployed vanilla instance because it has no paypal express and I cannot reindex product flat after activating it since it requires CLI.

[2018-12-11 08:06] magento-engcom-team commented on #19687
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 08:08] engcom-backlog-nazar commented on #19687
Hi @winnersingh  thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-11 08:08] #19687 closed, assigned to nobody

[2018-12-11 08:09] magento-engcom-team commented on #19701
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 08:10] magento-engcom-team commented on #19697
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 08:14] engcom-backlog-nazar commented on #19697
HI @mahmood537 thank you for you report, i'm not able to reproduce following steps you described.
please look attachments.
![selection_232](https://user-images.githubusercontent.com/40756439/49786780-8b773080-fd2d-11e8-8c5c-eb000c1d0139.png)

[2018-12-11 08:14] #19697 closed, assigned to davidverholen

[2018-12-11 08:17] magento-engcom-team commented on #19688
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 08:52] engcom-backlog-nazar commented on #19688
Hi @snoroozi thank you for you report, i'm not able to reproduce following steps you described.
As i can see,  you have undefined variable "swatchImage.width" so problem may be related to your some swatch images of product that havo no this attribute.