[2020-11-06 14:52] klierik opened #30818 "Mage Sticky dimension calculation in condition issue"
https://github.com/magento/magento2/blob/aa272e651e93f62714eec1e75be78b8bb1765dcf/lib/web/mage/sticky.js#L119

Actual Result:
`if (this.options.container.length > 0) {`

Expected Result:
`if ($(this.options.container).length > 0) {`

[2020-11-06 15:39] sivaschenko commented on #30820
The feature request was confirmed by @nrkapoor

[2020-11-06 16:04] engcom-Delta commented on #28051
@navarr I could get price and tax you expect to see when "Apply Tax On" configured to`Custom Price if available`
![image](https://user-images.githubusercontent.com/51681379/98386860-62669400-2059-11eb-9696-63fab328a43c.png)
![image](https://user-images.githubusercontent.com/51681379/98386901-701c1980-2059-11eb-95ee-69cd93d959af.png)

When "Apply Tax On" configured to `Original price only`, tax is

[2020-11-06 16:08] sidolov opened #30821 "Multi projects demo"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-06 16:09] magento-engcom-team commented on #30821
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38963` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 16:15] #30821 closed, assigned to nobody

[2020-11-06 16:27] bargoslino opened #30824 "Magento doesnt save any changes on shipping settings"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-06 16:30] bargoslino opened #30826 "Magento doesnt save any changes on shipping settings"
### Preconditions (*)

1.Magento 2.2.6
2.

### Steps to reproduce (*)

1. I make changes on backend (example: days available for deliver; text to appear on frontend), i click save, it says ok but changes are not saved.
2.

### Expected result (*)

1. [Screenshots, logs or description]  Changes to be saved
2.

### Actual result (*)

1. [Screenshots, logs or description] Same that was before
2.

---

[2020-11-06 16:32] bargoslino commented on #30826
@magento i dont know how to solve this

[2020-11-06 16:53] m2-assistant[bot] opened #30827 "[Issue] [MFTF] Provide AdminClickCreateNewCustomerForOrderActionGroup and AdminClickCreateNewOrderOnOrderGridPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30811: [MFTF] Provide AdminClickCreateNewCustomerForOrderActionGroup and AdminClickCreateNewOrderOnOrderGridPageActionGroup

---------
This PR provides  `AdminClickCreateNewCustomerForOrderActionGroup ` and `AdminClickCreateNewOrderOnOrderGridPageActionGroup`

[2020-11-06 16:53] m2-assistant[bot] opened #30828 "[Issue] WIP: [MFTF] Refactoring of CaptchaWithDisabledGuestCheckoutTest"
This issue is automatically created based on existing pull request: magento/magento2#30803: WIP: [MFTF] Refactoring of CaptchaWithDisabledGuestCheckoutTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
#### Preconditions:
Guest checkout is disabled, 1 failed login attempt is allowed

1. Add a product to th

[2020-11-06 16:54] m2-assistant[bot] opened #30829 "[Issue] WIP: [MFTF] Refactoring of AdminAvailabilityCreditMemoWithNoPaymentTest"
This issue is automatically created based on existing pull request: magento/magento2#30792: WIP: [MFTF] Refactoring of AdminAvailabilityCreditMemoWithNoPaymentTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Go to Admin
2. Start creating a new order using the Create New Customer functionality
3. Add a

[2020-11-06 16:54] m2-assistant[bot] opened #30830 "[Issue] Fix iterate on null"
This issue is automatically created based on existing pull request: magento/magento2#30822: Fix iterate on null

---------
### Preconditions (*)
Magento 2.4-develop
If there is no carriers available on the store (no carriers modules), an iteration on null occurs.

### Steps to reproduce
- Disable shipping modules:
![image](https://user-images.githubusercontent.com/51681379/99817411-8e077500-2b55-1

[2020-11-06 16:58] m2-assistant[bot] opened #30831 "[Issue] Add CartItemOptionsProcessor to Magento_Quote's API"
This issue is automatically created based on existing pull request: magento/magento2#30819: Add CartItemOptionsProcessor to Magento_Quote's API

---------

### Description (*)
This class is used by at least one VBE and is necessary for loading Cart Item Options for quotes that are not "active" (for example, an order in the admin panel)

### Contribution checklist (*)
 - [ ] Pull request has a mean

[2020-11-06 16:58] m2-assistant[bot] opened #30832 "[Issue] Fix docblock typing"
This issue is automatically created based on existing pull request: magento/magento2#30810: Fix docblock typing

---------
### Description (*)
Fixes incorrect docblock typing

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpose
 - [x] All commits are accompanied by meaningful commit messages
 - [x] All new or changed code is covered with unit/integration

[2020-11-06 16:59] m2-assistant[bot] opened #30833 "[Issue] Fix PHPdoc comment to be accurate"
This issue is automatically created based on existing pull request: magento/magento2#30793: Fix PHPdoc comment to be accurate

---------
Fix PHPdoc comment to be accurate

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)

[2020-11-06 17:00] mohsinleads commented on #30759
Please share your slack profile so that i can contact you

[2020-11-06 17:00] mohsinleads commented on #30759
or you can direct mail me @ mohsinleads88@gmail.com

[2020-11-06 17:17] ihor-sviziev commented on #30759
Please join the engcom slack
https://github.com/magento/magento2/wiki/Slack-Channels and write me some
message, I have the same name there - Ihor Sviziev

On Fri, 6 Nov 2020 at 19:01 mohsinleads <notifications@github.com> wrote:

[2020-11-06 17:18] navarr commented on #30204
The problem here is likely that, at least in the states, taxing bundles is complicated.

For example, most states rule that if you have a bundle and its a combination of taxable and non-taxable items, the entire bundle is taxed.

As such, there's no "good way" for Magento to natively handle these scenarios.

[2020-11-06 17:35] #30470 closed, assigned to nobody

[2020-11-06 18:06] sdzhepa opened #30834 "Test issue: confirmed -> closed"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-06 18:06] magento-engcom-team commented on #30834
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38969` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 18:06] #30834 closed, assigned to nobody

[2020-11-06 19:09] sdzhepa commented on #10009
The related internal Jira ticket `MC-18463, MAGETWO-70131` was closed as `wontfix`.

[2020-11-06 19:09] #10009 closed, assigned to nobody

[2020-11-06 19:15] magento-engcom-team commented on #23024
The related internal Jira ticket `MC-17270, MC-17271` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop`

[2020-11-06 19:18] magento-engcom-team commented on #22971
The related internal Jira ticket `MC-17154, MC-17155` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop`

[2020-11-06 19:18] magento-engcom-team commented on #22971
The related internal Jira ticket `MC-17154, MC-17155` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop`

[2020-11-06 19:19] #22971 closed, assigned to nobody

[2020-11-06 19:28] magento-engcom-team commented on #23024
Hi @maheshWebkul721.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17271` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if yo

[2020-11-06 20:16] sdzhepa commented on #24585
We are not able to reproduce this issue on the latest `2.4-develop` code using the provided steps to reproduce from description
It seems it was already fixed in the scope of another task/pr/issue/etc.

But if this issue can be reproduced on the latest code with some different steps please create new issue

[2020-11-06 20:16] #24585 closed, assigned to nobody

[2020-11-06 20:22] sdzhepa commented on #15164
It seems this issue is not actual anymore.
Title was renamed in Admin
![2020-11-06_14-21-26](https://user-images.githubusercontent.com/3409584/98411307-6c799a00-203b-11eb-8d66-98c31646b0b7.jpg)

![2020-11-06_14-21-45](https://user-images.githubusercontent.com/3409584/98411325-73a0a800-203b-11eb-89d4-7e5eacd70053.jpg)

[2020-11-06 20:22] #15164 closed, assigned to nobody

[2020-11-06 20:23] a-mahmoudieh commented on #14067
I have same issue on 2.3.6
Please guide me

[2020-11-06 20:50] sdzhepa commented on #18794
It seems the issue was already fixed in the scope of another task/issue/pr/etc.
![issue_18794](https://user-images.githubusercontent.com/3409584/98413542-67b6e500-203f-11eb-95f7-bab3e9918d26.gif)

[2020-11-06 20:50] #18794 closed, assigned to nobody

[2020-11-06 21:04] #24234 closed, assigned to nobody

[2020-11-06 21:13] #23024 closed, assigned to nobody

[2020-11-06 21:22] #22005 closed, assigned to nobody

[2020-11-06 21:25] irenelagno opened #30835 "test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-06 21:25] irenelagno commented on #30835
@magento confirm issue

[2020-11-06 21:25] irenelagno commented on #30835
@magento issue confirm

[2020-11-06 21:26] #30835 closed, assigned to nobody

[2020-11-06 21:57] #15596 closed, assigned to nobody

[2020-11-06 22:13] #6958 closed, assigned to nobody

[2020-11-06 22:28] sdzhepa commented on #30826
@bargoslino
Could you please update issue description with additional details
For guidance please take a look at  https://github.com/magento/magento2/issues/30826#issuecomment-723173630

quote:

[2020-11-07 00:38] LiamTrioTech commented on #29432
It could be static html generated by magento admin page. But yeah easy enough to do manually

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sergii Ivashchenko <notifications@github.com>
Sent: Saturday, November 7, 2020 1:44:21 AM
To: magento/magento2 <magento2@noreply.github.com>
Cc: Liam Mitchell <liam@triotech.co.nz>; Mention <mention@noreply.github.com>

[2020-11-07 02:07] Cesarorp commented on #23450
@gaurangpadhiyar007

In what module can we run this

public function execute()
{
    if ($this->getRequest()->getPost(ExportModel::FILTER_ELEMENT_GROUP)) {
        try {
            $params = $this->getRequest()->getParams();
            $model = $this->_objectManager->create(\Magento\ImportExport\Model\Export::class);
            $model->setData($this->getRequest()->getParams());
            $thi

[2020-11-07 05:04] gaurangpadhiyar007 commented on #23450
This is file.

Magento\ImportExport\Controller\Adminhtml\Export\File\Download

[2020-11-07 06:01] mohsinleads commented on #30759
Can you please tell me, when will the respiratory be updated to composer 2.0

[2020-11-07 06:07] ihor-sviziev commented on #30759
@mohsinleads unfortunately there is no estimates yet, but there were some comments that some internal team is working on it.
Could you at least add some screenshot how it fails, maybe it will help to identify the issue better?

[2020-11-07 07:47] AlldoGroup commented on #30801
Hello @engcom-Bravo

We usually create all defaults (All Store Views) in English first, then we switch to a created store view, and make changes/translation accordingly. This is done to all categories and products.

So yes, this is done manually, no imports nor scripts.

Hope that this answers your question.
Thanks,

[2020-11-07 10:53] daniel-ifrim opened #30836 "Better JS extensibility of variables and functions declared outside JS components, widgets, etc"
### Summary (*)

We need better extensibility of JS files in Magento 2.

### Examples (*)

`vendor/magento/module-checkout/view/frontend/web/js/view/billing-address/list.js`
I want to change the `addressOptions` or just replace it with a new list that I want to add in my module.
See bellow which `addressOptions`, because there is another property in the component with same name:
[code]

Magento JS

[2020-11-07 11:09] terrybakshi commented on #30759
Exact same issue at my end trying to update 2.4 to 2.4.1 and can't update through composer tried with composer 2.0 and also with composer 1.6 getting same errors

[2020-11-07 11:14] ihor-sviziev commented on #30759
@terrybakshi could you provide additional details about steps to reproduce, unfortunately I can't reproduce it

[2020-11-07 11:41] Normalyk commented on #2027
Thanks. It was the problem. You are a good man.

[2020-11-07 19:07] rimom commented on #1365
<host>/rest/<store>/V1/directory/currency

[2020-11-07 19:13] david-kominek opened #30840 "Region selector disabled when all countries set to region optional and "Allow to Choose State if It is Optional for Country" set to Yes"
### Preconditions (*)

1. Magento version 2.4.1
2. PHP 7.3

### Steps to reproduce (*)

1. Clear all countries from Stores > Configuration > General > State Options > "State is Required for"
2. Set Stores > Configuration > General > State Options > "Allow to Choose State if It is Optional for Country" to Yes
3. On customer create form (or any other form with country and region), select a country w

[2020-11-07 21:50] forcecodema commented on #29797
This issue still exists in 2.4.1.

[2020-11-07 22:00] gwharton commented on #29797
@forcecodema It will be fixed in 2.4.2 In the meantine, here is the fix https://github.com/magento/magento2/pull/29814/files

[2020-11-08 05:16] lunch22result commented on #14803
I follow this tutorial: https://magentip.com/required-parameter-theme_dir-was-not-passed-magento-2/
In my case, I use solution 3 to remove invalid theme from Magento 2 database
**Cause of the error**
The error happens when you remove a theme folder of Magento 2 in app/design/frontend/<Vendor>/ <theme-name>, but not remove theme data from database.

Magento 2 will throw this error when it found the

[2020-11-08 08:22] webrod commented on #26184
Hi, on magento 2.4.1, tmp table is still used, see logged query:
SELECT COUNT(DISTINCT e.entity_id)
FROM `catalog_product_flat_1` AS `e`
INNER JOIN `catalog_product_index_price` AS `price_index` ON price_index.entity_id = e.entity_id AND price_index.customer_group_id = 0 AND price_index.website_id = '1'
INNER JOIN `catalog_category_product_index_store1` AS `cat_index` ON cat_index.product_id=e.ent

[2020-11-08 08:25] Adam-afk-cmd commented on #10580
Can confirm still not working for ar_SA in 2.3.5-p1

[2020-11-08 10:09] Aiweline opened #30842 "Can't save attribute value|Or can't update attribute value"
### Preconditions (*)

1. get a description in below url
https://bbs.aiweline.com/thread-120788.htm

### Steps to reproduce (*)

1. get a description in below url
https://bbs.aiweline.com/thread-120788.htm

### Expected result (*)

1. can't save attribute value,but tip message is saved ok!

### Actual result (*)

1. Attribute value can't save.

[2020-11-08 12:35] chequille commented on #28092
What is the solution for that? Why closed?
Getting angry now!!!

[2020-11-08 12:37] frezelth commented on #27223
Same problem here including on 2.4.1.
It's kind of blocking, do we have a workaround? Why is this issue closed?

[2020-11-08 12:38] frezelth commented on #27223
@magento give me 2.4-develop instance

[2020-11-08 13:46] frezelth commented on #27223
Reproduced in the latest 2.4-develop.

- Display a product that has 100 items in stock.
- Add 100 items to cart
- Complete order
- Go back to product, still showing in stock but not possible to add it to the cart as salable qty is 0

![magento](https://user-images.githubusercontent.com/8929828/98466615-e727ee00-21d0-11eb-82f1-e86439033ce5.gif)

[2020-11-08 13:58] ioweb-gr commented on #27223
Hopefully they'll reopen it but I highly doubt it.

[2020-11-08 14:10] frezelth commented on #27223
Still seems very random, because I was only able to reproduce this behaviour once. I tried with other articles and it worked ok.

[2020-11-08 14:21] frezelth commented on #27223
Definitely something wrong. After reindexing, products that were out of stock are now back in stock even if they have salable quantity to 0.

[2020-11-08 17:21] hostep commented on #28092
@chequille: there is some sort of automation problem happening for a while here which closes tickets for some reason. But @sdzhepa often manually leaves a comment a few days later to explain why it was closed. So @sdzhepa: if you could figure out why this one got closed, that would be appreciated! 🙂

[2020-11-08 21:28] dfelton opened #30843 "Magento_Swatches missing a PropertyMapper for Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite"
### Preconditions (*)

1. Reviewed and confirmed in Magento 2.4.0
  - Manual review of 2.4.1 code base seems to indicate issue still present
  - Manual review of 2.4-develop code base seems to also indicate issue is still present

### Steps to reproduce (*)

1. Create a Data Patch which attempts to setup a new `catalog_product` attribute that is of a Swatch type. Example:

[code]

2. Run `./bin/ma

[2020-11-08 22:21] an4rei commented on #11726
`SetEnv dont-vary 1` in .htaccess fixed it for me on magento 2.4.1 and varnish 6

[2020-11-08 23:55] durexlovesex commented on #29769
@mauragcyrus please let us know when it's ready

[2020-11-09 00:21] dfelton commented on #24718
@ihor-sviziev:

I encountered this just today actually, while writing a Data patch I had made an assumption that such a key would exist and therefore was performing `$connection->insertOnDuplicate($table, $data, $fields)`. Due to the lack of the `UNIQUE` constraint however, duplicated rows of `store_id` and `option_id` combinations were created.

In any case, I'd also like to report that any store

[2020-11-09 02:43] nhatlich994 opened #30844 "(Admin) Review page was break layout"
### Preconditions (*)
1. M2.4.0

### Steps to reproduce (*)
1. go Admin > Marketing > (User Content) All Reviews > Choose one to Edit
2. Layout was break https://imgur.com/E6gOKtr
I seen that form HTML structure was incorrect. All fields was pulled to summary-rating field https://imgur.com/oWKE0Mz

### Expected result (*)
1. https://imgur.com/USohC2d

### Actual result (*)
1. https://imgur.com/E6g

[2020-11-09 03:24] zakarque commented on #27470
I'm using a 2.3.3 and having the same issue with the condition "Price in Cart" as well.
![Screen Shot 2020-11-06 at 11 41 06](https://user-images.githubusercontent.com/41605680/98497100-b8b01e80-2275-11eb-8c29-934811a2a416.png)
![Screen Shot 2020-11-06 at 11 55 50](https://user-images.githubusercontent.com/41605680/98497107-bc43a580-2275-11eb-9491-52da1d1693ac.png)

[2020-11-09 04:50] ajijshekh123 commented on #30844
@magento give me 2.4-develop instance

[2020-11-09 05:21] ajijshekh123 commented on #30844
Hi @kamui23,
I have verified this issue on the latest Chrome, Firefox and Microsoft Edge browser in the Windows 10 OS.
I didn't reproduce this issue.
Can you please update me on which browser break the page?
See attached the screenshot:
Chrome:
![image](https://user-images.githubusercontent.com/24711761/98502978-75f04580-2279-11eb-864a-a3817ebab665.png)

Firefox:
![image](https://user-images.githu

[2020-11-09 05:25] shravanpathipaka commented on #30701
i think enough information has already given to reproduce and check the issue

[2020-11-09 06:29] #30747 closed, assigned to engcom-Kilo

[2020-11-09 06:40] tschirmer opened #30845 "Session Errors Squashed and not logged."
### Preconditions (*)

1. install 2.4.1
2. Setup Redis with failed Sentinel master state (e.g. Unable to connect to a Redis: Unable to determine master redis server.)

### Steps to reproduce (*)

1. Start session

### Expected result (*)

1.  Session fallback to files, and log error from redis.
2. Within system.log the redis failure should be logged (Unable to connect to a Redis: Unable to determi

[2020-11-09 06:42] tschirmer commented on #30845
This is able to be read in code directly, no instance will be needed for diagnoseis.

[2020-11-09 07:05] mozok commented on #26840
Long story short, I've managed to resolve this issue for M2.2.1. Combining this two commits https://github.com/magento/magento2/commit/231ba74c725a4e7d4171b2735f7eb2808a5f4c98 and https://github.com/magento/magento2/commit/b40ca8a8

[2020-11-09 07:37] tope316 commented on #30583
So are you guys saying that the scan report should just ignore these cookies?

[2020-11-09 07:39] #30745 closed, assigned to nobody

[2020-11-09 07:51] sasha19957099 commented on #30475
@magento I am working on this

[2020-11-09 08:04] magento-engcom-team commented on #30680
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38975` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-09 08:29] ihor-sviziev commented on #30759
Seems like issue reproducing not for the only one people, let's re-check it.

@engcom-Bravo @engcom-Charlie could you check if the issue reproducing for you?

[2020-11-09 08:40] rani-webkul commented on #30719
@magento give me 2.4-develop instance

[2020-11-09 08:55] JelleGe commented on #29439
Getting the same error on m2.4.1. Any solution to this error?

[2020-11-09 09:03] lewisvoncken commented on #26908
please fix! This fix works
https://github.com/magento/magento2/pull/26958/files

[2020-11-09 09:30] alepane21 opened #30846 "Random empty categories when using the multi process reindexing"
### Preconditions (*)

1. Magento 2.3.3
2. MAGE_INDEXER_THREADS_COUNT set to 3
3. pcntl installed

### Steps to reproduce (*)

1. prepare an installation with lot of stores and website
2. prepare some categories with lot of products
3. wait for the reindex to complete all the work and have a clean situation
4. write down the size of all the tables generated by the catalog_category_product index (y

[2020-11-09 09:58] ihor-sviziev commented on #30814
Hi @techqa10,
Seems like this issue duplicates https://github.com/magento/magento2/issues/30575.

Could you try to remove / disable PDO php extension? I believe it should fix the issue.
If the issue still exists - please try to run with `-vvv ` option at the end and give us output.

Hope it will help you

[2020-11-09 09:59] terrybakshi commented on #30759
I was able to update without using composer by swapping core magento files very tricky but not for everyone. Would request magento team to update respiratory to composer 2.0 so people don't have issues but even composer 1.x having same issues not sure why.

[2020-11-09 10:00] magento-engcom-team commented on #27459
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38977` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-09 10:03] ihor-sviziev commented on #30759
@terrybakshi @mohsinleads please provide some steps to reproduce for this issue, would be good with some screenshots.
Unfortunately the only one way to fix the issue - identify it at first, and then fix and without ability to reproduce it - we can't do a proper fix.

[2020-11-09 10:13] engcom-Delta commented on #28396
Hi @09eric09 thank you for your report
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-09 10:13] #28396 closed, assigned to nobody

[2020-11-09 10:30] alepane21 commented on #30846
@magento I am working on this

[2020-11-09 10:51] Nuranto opened #30847 "200 Response Code When Exception is Thrown During Bootstrap"
### Preconditions (*)

1. Version 2.4.1
2. PHP 7.4

### Steps to reproduce (*)

1. Change your DB host to something wrong.

### Expected result (*)

1. An error message is displayed and a 500 response code is returned.

### Actual result (*)

1. An error message is displayed and the http response code is 200 OK.

Very annoying for probes who think the pod is OK & Running...

### Additiona; info fr

[2020-11-09 11:12] daweedco commented on #13765
I have same issue no fix for 2.3?

[2020-11-09 11:15] hostep commented on #26908
@lewisvoncken: the PR you reference got closed because they said it was fixed in [MC-33554: B2B - Customer Group Resets to Default (General) whenever the customer saves their account](https://github.com/magento/magento2/commit/a3af65675c2f9d507d62d8619ae18377ee6b2709) which is included in Magento 2.4.1

Can you confirm that the issue got fixed in 2.4.1 ?

[2020-11-09 11:38] ioweb-gr opened #30848 "Cannot edit order addresses from order edit form because of Vertex module"
### Preconditions (*)
1. Magento 2.4.1 upgraded from previous versions e.g. 2.3
2. An order created in the 2.3 instance.

I will try and test whether it occurs on clean 2.4.1 installation too.

### Steps to reproduce (*)
1. Create an order in the 2.3 instance,
2. Upgrade to 2.4.1
3. Go to Sales -> Orders -> Edit the order
4. Go to addresses
5. Click on edit of either billing or shipping address

#

[2020-11-09 11:39] ioweb-gr commented on #30848
@magento give me 2.4-develop instance

[2020-11-09 11:39] alepane21 commented on #30846
I forgot to mention that this problem affects also catalogsearch_fulltext and catalog_product_price.

[2020-11-09 11:46] Jeevachezhiyan commented on #28420
Is it resolved? Facing same issue in 2.3.5-p1.

I tried this fix in 2.3. But, not working.

https://github.com/magento/magento2/commit/bd208cc3173697470729a53761872a45e6ad645a

[2020-11-09 11:50] ioweb-gr commented on #30848
This seems to affect only upgraded instances as it doesn't occur on newly created orders on the test instance.

[2020-11-09 12:02] Shubham0492 commented on #30848
@magento give me 2.4-develop instance

[2020-11-09 12:05] engcom-Bravo commented on #30840
Hello @david-kominek

Thank you for your report

We have rechecked the reported issue on 2.4.1 and on 2.4-develop and we are **not** able to reproduce the issue

We have cleared all the Countries from _Stores > Configuration > General > State Options >_  **"State is Required for"**
And set "_Allow to Choose State if It is Optional for Country"_ to **Yes**
![config_regions](https://user-images.gith

[2020-11-09 12:07] ioweb-gr commented on #30848
@Shubham0492 Keep in mind you'll need an instance that was upgraded from 2.3 for example to 2.4 to replicate.

[2020-11-09 12:16] engcom-Alfa commented on #30824
Hi, @bargoslino .

Could you provide more details on how to reproduce this issue (Manual testing scenario, Actual and Expected Result)?
Thank you!

[2020-11-09 12:30] engcom-Bravo commented on #30847
Hello @Nuranto

Thank you for your report

We have rechecked the reported issue with the provided steps and we are **not** able to reproduce the _200 Response Code_

We have changed the `db host` in _env.php_ file to wrong.
![env_host](https://user-images.githubusercontent.com/51680745/98540764-16089780-2297-11eb-9f15-ff3fd26fb32c.png)
Set Magento into Production Mode `php bin/magento dep:mo:set p

[2020-11-09 12:40] engcom-Alfa commented on #28159
The issue has already been fixed.

[2020-11-09 12:40] #28159 closed, assigned to engcom-Alfa

[2020-11-09 12:43] engcom-Delta commented on #29818
Hi @IvanCyber Issue is not reproducible on 2.4-develop. According [docs](https://docs.magento.com/user-guide/system/tools.html) the Web Setup Wizard was removed:

[2020-11-09 12:43] #29818 closed, assigned to nobody

[2020-11-09 12:57] ihor-sviziev commented on #24219
Based on discussion in related PR - this is not really correct behavior https://github.com/magento/magento2/pull/24220#issuecomment-606065187.

I'm closing this issue as not relevant.

[2020-11-09 12:57] #24219 closed, assigned to ihor-sviziev

[2020-11-09 13:10] ihor-sviziev commented on #30846
Hi @alepane21,
Seems like this is duplicate of https://github.com/magento/magento2/issues/30622 and will be fixed in https://github.com/magento/magento2/pull/30626.

Could you confirm that?

[2020-11-09 13:30] engcom-Alfa commented on #29870
Hi @lano-vargas .

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop.

**Manual testing scenario:**

1.Navigate to product page
2. Click on the link: _Be the first to review this product_

**Actual Result:** :heavy_check_mark: Scrolled and opened reviews tab without JS errors.

![Peek 2020-11-09 15-20](https://user-images.githubusercontent.com/51679138/98547126-60424680

[2020-11-09 13:30] #29870 closed, assigned to engcom-Alfa

[2020-11-09 13:32] alepane21 commented on #30846
Hi @ihor-sviziev,
you are right, this is a duplicate!

[2020-11-09 13:32] #30846 closed, assigned to ihor-sviziev

[2020-11-09 13:42] sivaschenko commented on #15967
@speedupmate I would expect that all mixins introduced by an enabled module are active.

If the mixin functionality depends on certain configuration settings (i.e enabled) the implementation should include the appropriate condition.

Please let me know what you think about that.

[2020-11-09 13:50] Eddcapone commented on #29150
This is much more complicated then it should be. IMO you should be able to have the choise to create a CMS site in the admin area which is then loaded instead of the custom code.

[2020-11-09 13:51] engcom-Alfa commented on #27913
Hi @rr10 .

Looks like this issue has already been fixed in PR #26974.

So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-11-09 13:51] #27913 closed, assigned to engcom-Alfa

[2020-11-09 14:08] Nuranto commented on #30847
Thank you @engcom-Bravo.

I get a different message from you : `An error has happened during application run. See exception log for details.`

My full env.php (I just removed crypt key) :
[code]

I havn't any extra module enabled.

[2020-11-09 14:14] sivaschenko commented on #21193
Closing as a duplicate to https://github.com/magento/magento2/issues/26433 (that is already getting processed)

[2020-11-09 14:14] #21193 closed, assigned to nobody

[2020-11-09 14:14] bargoslino commented on #30824
Hello!

When i go, as i usually did, to the left panel en my Magento 2.2.6 to
Stores>Sales>Shipping Settings>Scheduled Delivery>Holiday Days to update
non-working days i could introduce new dates.
Currently i can do so, BUT when i click "save" nothing happens though it
says that changes were saved!
I mean... Magento confirmed that the changes were saved but when i double
check, it didn't!
Same hap

[2020-11-09 14:17] engcom-Alfa commented on #30616
Duplicate of #25668

[2020-11-09 14:17] #30616 closed, assigned to engcom-Alfa

[2020-11-09 14:18] Pavel-Fekete commented on #28295
Not reproducible on the latest 2.4-develop
Item subtotal is correct in partial invoice email
![Subtotal](https://user-images.githubusercontent.com/67371013/98552412-1a3cb100-22a7-11eb-986a-fc18300578cb.png)

[2020-11-09 14:18] gabrieldagama commented on #30683
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30223 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [9713cde24c81683269bd0495330b013feca5e683](https://github.com/magento/magento2/commit/9713cde24c81683269bd0495330b013feca5e683)
 - [52a288b24c774db2c82b56d07e10d7116fe4d1ef](https://github.com/magento/magento2/commit/52a288b24c774db2c82b56d07

[2020-11-09 14:18] #30683 closed, assigned to Usik2203

[2020-11-09 14:19] gabrieldagama commented on #29551
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27674 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [73106d48473c3f78f965df22212df68fbf4da301](https://github.com/magento/magento2/commit/73106d48473c3f78f965df22212df68fbf4da301)
 - [b4450581872865d02c53df779359360b4274966b](https://github.com/magento/magento2/commit/b4450581872865d02c53df

[2020-11-09 14:19] #29551 closed, assigned to vovayatsyuk

[2020-11-09 14:19] gabrieldagama commented on #27954
Hi @rafal-kos. Thank you for your report.
The issue has been fixed in magento/magento2#27972 by @sheepfy in 2.4-develop branch
Related commit(s):
 - [29621ba467e4c6e145558bba9b378e29b9192d56](https://github.com/magento/magento2/commit/29621ba467e4c6e145558bba9b378e29b9192d56)
 - [bc52285c77410de35d4ae5d9bcab06bea72977a0](https://github.com/magento/magento2/commit/bc52285c77410de35d4ae5d9bcab06bea7

[2020-11-09 14:19] #27954 closed, assigned to sheepfy

[2020-11-09 14:19] gabrieldagama commented on #30216
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26966 by @bartoszkubicki in 2.4-develop branch
Related commit(s):
 - [e91a3f1d29ecb07dca42535e796023d0db0fe7b5](https://github.com/magento/magento2/commit/e91a3f1d29ecb07dca42535e796023d0db0fe7b5)
 - [5ee0054420d13af1e01f4180a7cc6a836f7143cb](https://github.com/magento/magento2/commit/5ee0054420d13af1e01

[2020-11-09 14:19] #30216 closed, assigned to nobody

[2020-11-09 14:19] gabrieldagama commented on #30372
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30359 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [bebc574b270bb6dc1d49217ab99898b0757bd0fb](https://github.com/magento/magento2/commit/bebc574b270bb6dc1d49217ab99898b0757bd0fb)
 - [5ba03c224aa3ea69299a60a43e09f7fd6cd9c692](https://github.com/magento/magento2/commit/5ba03c224aa3ea69299a

[2020-11-09 14:19] #30372 closed, assigned to nobody

[2020-11-09 14:19] gabrieldagama commented on #29621
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26401 by @sprankhub in 2.4-develop branch
Related commit(s):
 - [7185e1602d4e2298cfc79d88212002c169d79d00](https://github.com/magento/magento2/commit/7185e1602d4e2298cfc79d88212002c169d79d00)

The fix will be available with the upcoming 2.4.2 release.

[2020-11-09 14:19] #29621 closed, assigned to sprankhub

[2020-11-09 14:19] gabrieldagama commented on #28309
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28147 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [a100d245f0feeed948ffe322bbd2cd26b9909855](https://github.com/magento/magento2/commit/a100d245f0feeed948ffe322bbd2cd26b9909855)
 - [450127126cb2c555c8bd2391e13bafdb7cf67922](https://github.com/magento/magento2/commit/450127126cb2c555c8bd239

[2020-11-09 14:19] #28309 closed, assigned to lbajsarowicz

[2020-11-09 15:01] engcom-Bravo commented on #28295
Hello @MarianMates

Thank you for your report

The issue is already fixed in the latest 2.4-develop
We are closing this issue. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-11-09 15:01] #28295 closed, assigned to engcom-Bravo

[2020-11-09 15:18] sarkadiadam commented on #7399
Hello, made it work correctly by applying a small css fix (if anyone is still interested):

[code]

[2020-11-09 15:47] magento-engcom-team opened #30851 "[GraphQl] Custom giftcard amount is not returned in the response if request doesn't have "allow_open_amount" set"
####  

[code]

[2020-11-09 15:47] magento-engcom-team commented on #30851
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38979

[2020-11-09 16:04] david-kominek commented on #30840
Reviewing source for 2.4.0 and 2.4.1, the patch above was already applied to those versions.

[2020-11-09 16:04] #30840 closed, assigned to engcom-Bravo

[2020-11-09 16:08] engcom-Delta commented on #27232
Hi @adarshkhatri , I'm not able to reproduce issue by steps you described on 2.4-develop with sample data and Elastic Search 7
**Result:**
:heavy_check_mark: No errors per search query
![27232](https://user-images.githubusercontent.com/51681379/98565550-67744f00-22b6-11eb-9a13-ef2bd2f265cf.gif)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](

[2020-11-09 16:08] #27232 closed, assigned to nobody

[2020-11-09 16:51] rexxx2011 opened #30852 "Adding colorpicker to configuration"
Adding color picker to custom configuration tab in magento 2.4

[2020-11-09 17:06] nkajic commented on #28754
Hi @stkrelax thank you so much for reporting this reference - it saved me additional time debugging root cause to this problem.

We also had same problem and it was making menu user un-friendly since since it was missing this delay.

Here is reference how pure jquery menu should act with delay on showing submenu. https://jqueryui.com/menu/ Two different worlds.

Removing delay entirely was definit

[2020-11-09 17:22] zaheerbadi commented on #5956
reproduced in 2.4 too

[2020-11-09 17:27] OldPlanets opened #30853 "100% Discount cart rule results in Tax invoiced"
### Preconditions (*)

1. Magento 2.3.6
2. Magento 2.4-develop
3. Free shipping is enabled

### Steps to reproduce (*)

1. Navigate to Stores / Settings /  Configuration / Sales / Tax
2. Set Catalog Prices and Apply Discount on Prices to Including Tax
![image](https://user-images.githubusercontent.com/51681379/98915346-76374d80-24d2-11eb-99bf-ad73121efc31.png)
3. Navigate to Sores / Tax Rules / Ad

[2020-11-09 17:39] lenaorobei commented on #30805
@magento give me 2.4.0 instance

[2020-11-09 17:50] EyalAmir commented on #23069
0 shipping cost is the scenario I had in the "Steps to reproduce" so that makes sense. The test refund I had tried was:
{"items": [{"qty": 0, "orderItemId": 6, "extensionAttributes": {}}], "appendComment": false, "notify": true, "isOnline": true, "arguments": {"adjustment_negative": 0.0, "adjustment_positive": 0.99, "shipping_amount": 0}}

[2020-11-09 18:45] #30797 closed, assigned to engcom-Delta

[2020-11-09 18:46] 45lailson commented on #30797
foi resolvido

[2020-11-09 19:29] mauragcyrus commented on #29990
@magento export issue to Jira project MCLOUD as Task

[2020-11-09 19:29] gwharton opened #30854 "Creating Invoice from Sales Order View does not respect "Email Copy of Invoice" setting"
### Preconditions (*)

1. deploy 2.4-develop
2. Ensure test system is configured to send emails
3. Ensure system is set to send email on new Invoice (Config -> Sales -> Sales Emails)

### Steps to reproduce (*)

1. Create Test product
2. Make sale of test product with guest customer with valid email address
3. Got to sales order grid and open sales order view for order
4. Click "Invoice" button
5.

[2020-11-09 19:31] gwharton commented on #30854
Shouldn't the test be

if (!empty($data['send_email']) && $this->salesData->canSendNewInvoiceEmail())

i.e the form has to be ticked, and the global setting enabled for the email to go, otherwise the email is not sent.

likewise, to be consistent, the same check should be made on Invoice, CreditMemo and Shipment forms.

[2020-11-09 19:35] m2-assistant[bot] opened #30855 "[Issue] [MFTF] Refactoring of AdminConfigDefaultProductLayoutFromConfigurationSettingTest"
This issue is automatically created based on existing pull request: magento/magento2#30850: [MFTF] Refactoring of AdminConfigDefaultProductLayoutFromConfigurationSettingTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Go to Admin->Stores->Configuration->General->Web->Default layouts
2. Set Default Prod

[2020-11-09 19:35] m2-assistant[bot] opened #30856 "[Issue] [MFTF] Add AdminOpenUrlRewritesGridPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30839: [MFTF] Add AdminOpenUrlRewritesGridPageActionGroup

---------
This PR provides new `AdminOpenUrlRewritesGridPageActionGroup`

[2020-11-09 19:35] m2-assistant[bot] opened #30857 "[Issue] [MFTF] Added AdminClickAddOptionForBundleItemsActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30838: [MFTF] Added AdminClickAddOptionForBundleItemsActionGroup

---------
This PR provides new `AdminClickAddOptionForBundleItemsActionGroup`

[2020-11-09 19:36] m2-assistant[bot] opened #30858 "[Issue] [MFTF] create AssertLinkActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30837: [MFTF] create AssertLinkActionGroup

---------
This PR provides `AssertLinkActionGroup`

[2020-11-09 20:01] rparsi-boxycharm commented on #29439
@JelleGe Depending on which ES version you're using, you need to create a "before" plugin on method `addFieldsMapping`, changing the ES field type to `keyword`.
In our case we made "after" plugin for `\Magento\Elasticsearch7\Model\Client\Elasticsearch`, so our `beforeAddFieldsMapping` looks like this
[code]
You'll have to do this for any category or product attributes for which magento uses the wr

[2020-11-09 20:03] qsolutions-pl commented on #29334
Same issue on 2.4.1  and 2.4.0

[2020-11-09 20:25] textarea commented on #28189
Cannot reproduce on 2.4.1

[2020-11-09 20:25] #28189 closed, assigned to nobody

[2020-11-09 21:06] m2-assistant[bot] opened #30859 "[Issue] Move default session lifetime from encryption module to security module"
**Preconditions:**

This issue is automatically created based on existing pull request: magento/magento2#30825: Move default session lifetime from encryption module to security module

**Steps to reproduce:**

1. Go to Admin -> Stores -> Configuration -> Advanced -> Admin -> Security and set
**_Admin Session Lifetime (seconds)_** to **_60_** sec;

![Screenshot from 2020-11-10 14-56-14](https://use

[2020-11-09 21:07] m2-assistant[bot] opened #30860 "[Issue] Item resolvers should be optional"
This issue is automatically created based on existing pull request: magento/magento2#30823: Item resolvers should be optional

---------
Item resolvers should be optional. If we remove configurable and grouped product, checkout is broken because this argument is mandatory. Only the grouper and configurable product add item resolver.

### Preconditions (*)

1. Customer created
2. Simple Product cre

[2020-11-09 21:09] m2-assistant[bot] opened #30861 "[Issue] Set cartItem errors relative to the cart item"
This issue is automatically created based on existing pull request: magento/magento2#30800: Set cartItem errors relative to the cart item

---------

### Description (*)
Currently the errors are always returned at the beginning of the cart items array.
This makes it impossible for the frontend to know error is associated with a cart item because the error paths are returned incorrectly.

It would

[2020-11-09 21:13] zcuric commented on #23834
I've updated Magento to 2.4.1 and this issue still persists.

[2020-11-09 21:56] 0xMatt commented on #22215
bump

[2020-11-09 22:00] mauragcyrus commented on #29990
@magento export issue to Jira project MCLOUD as Task

[2020-11-09 22:00] magento-engcom-team commented on #29990
:x: Cannot export the issue. GitHub repo magento/magento2 is not supported in JIRA project MCLOUD and type Task.

[2020-11-09 22:00] magento-engcom-team commented on #29990
:x: Cannot export the issue. GitHub repo magento/magento2 is not supported in JIRA project MCLOUD and type Task.

[2020-11-09 22:01] magento-engcom-team commented on #29990
:x: Cannot export the issue. GitHub repo magento/magento2 is not supported in JIRA project MCLOUD and type Task.

[2020-11-10 01:49] adarshkhatri commented on #19716
Any reason it was made available only for `simple and configurable` products? We do have some bundle items that are from the same manufacturer and can be sold individually as well as bundled.

The main problem I have now is with my old data. When I migrated 1.9 to 2.3, I have bundle products with manufacturer data in it and they are showing fine, **but now I cannot change them**.

[2020-11-10 04:51] rani-webkul commented on #30740
@magento give me 2.4-develop instance

[2020-11-10 07:00] engcom-Alfa commented on #28625
The issue has already been fixed in PR #28639

[2020-11-10 07:00] #28625 closed, assigned to engcom-Alfa

[2020-11-10 07:09] engcom-Delta commented on #27433
Hi @danielhodis thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
1. Navigate to Catalog / Products
2. Select Add configurable product
3. Select Create Configuration
4. Select Color option and add some colors
5. Select Apply unique images by attribute to each SKU
6. Save the product
7. Verify that all images are disp

[2020-11-10 07:09] #27433 closed, assigned to nobody

[2020-11-10 07:29] engcom-Delta commented on #30635
@hubertus2017 as I see from your comment you have already used Braintree as extension from Magento Marketplace:

/vendor/braintree/
/vendor/paypal/module-braintree-core

Braintree module was removed and not present in magento [2.4-develop](https://github.com/magento/magento2/tree/2.4-develop/app/code/Magento)  code base
All new reports connected with Braintree should be reported to [extension owne

[2020-11-10 07:40] engcom-Echo commented on #25947
Hi, @taihuuho I checked it again, and now this issue can't reproduce. @victorpetryk came to the same result.
So, I'm closing this issue.
Please reopen and update if you wish to continue.
Thank you for your collaboration.

[2020-11-10 07:53] engcom-Alfa commented on #30854
Hi @gwharton .

Seems the same issue is already reported in #28511.
So, we have to close it as a duplicate.

Thank you!

[2020-11-10 07:55] engcom-Alfa commented on #30854
Duplicate of #28511

[2020-11-10 07:55] #30854 closed, assigned to engcom-Alfa

[2020-11-10 08:16] hubertus2017 commented on #30635
ok, but the extension is bundled in magento 2.4 release, so i thought its the right place here.

i will contact the developper

[2020-11-10 08:52] ihor-sviziev commented on #26960
Hi @marvinhinz,
Seems like issue was already fixed in #6401 and was already fixed in Magento 2.4.1.
Could you confirm that?

[2020-11-10 08:54] ihor-sviziev commented on #29052
Hi @Coosos,
Seems like this issue duplicates #6401 and was fixed in 2.4.1. Could you confirm that?

[2020-11-10 09:41] techqa10 commented on #30814
Hi @ihor-sviziev,

I removed my PDO extension. But at this time i'm getting this error:

[code]

And this is output for when PDO extension enabled

[code]

[2020-11-10 09:42] ihor-sviziev commented on #30814
Hi @techqa10,
I'm really sorry, I wrote incorrect extension name. Please try to enable back the `pdo` exception, but disable `psr` extension.

[2020-11-10 10:12] Eddcapone opened #30862 "Not possible to perform dynamic price changes for quote item - Cart loads price from product instead from quote item"
### Summary (*)
I have to run some custom calculation logic after the cart is getting saved or after a new product is getting added.
If certain conditions are true, then I need to create a new virtual product with a custom price, programmatically, and add it to the cart.
Before I create the product, I check if a product with the same SKU already exist otherwise, load the existing product.

**Probl

[2020-11-10 10:21] magento-engcom-team commented on #28924
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38990` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 10:28] hostep opened #30863 "Default created storeview sales sequences are missing a prefix"
### Preconditions (*)

Magento 2.4-develop

### Steps to reproduce (*)
1. Setup a Magento 2 shop (doesn't matter which version, this has been bugged since forever)
2. Look at the `sales_sequence_profile` table in the database.

### Expected result (*)
1. The profiles associated to storeview ID 1 should have as prefix `1`

### Actual result (*)
1. The profiles associated to storeview ID 1 have as p

[2020-11-10 10:32] engcom-Delta commented on #29141
Hi @Garusch  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Create bundle product with dynamic price
![image](https://user-images.githubusercontent.com/51681379/98662282-3ba5a780-2350-11eb-813e-2cf2fc667dcf.png)
![image](https://user-images.githubusercontent.com/51681379/98662317-46603c80-2350-11eb-818c-04f0bbf

[2020-11-10 10:32] #29141 closed, assigned to nobody

[2020-11-10 10:36] engcom-Bravo commented on #30094
The issue is reproducible on 2.4-develop. Additional info from Engcom is added

[2020-11-10 10:38] Eddcapone commented on #30862
I solved it by replacing this code:

    $item->setPrice($price);
    $item->setBasePrice($price);

with this:

    $item->setCustomPrice($price);
    $item->setOriginalCustomPrice($price);

[2020-11-10 10:38] #30862 closed, assigned to nobody

[2020-11-10 10:38] magento-engcom-team commented on #30094
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38991` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 10:46] magento-engcom-team commented on #30847
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38992` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 10:52] magento-engcom-team commented on #29128
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38993` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 10:54] techqa10 commented on #30814
Hi @ihor-sviziev,

Thank you for great support.

This is `my php -m` results.

[code]

So i don't have php-psr extension. And i added `"ext-psr": "*"` line to my composer.json file's conflict object like mentioned in  #30575

But result is same as before.

[2020-11-10 10:59] engcom-Delta commented on #30842
HI @Aiweline
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-10 10:59] #30842 closed, assigned to nobody

[2020-11-10 11:20] engcom-Delta commented on #29026
Hi @EustaceCS thank you for your report
Looks like it is not an issue but additional recommendation for users who used web service stack on Windows OS

If you'd like to update  the issue, please reopen it.

[2020-11-10 11:20] #29026 closed, assigned to nobody

[2020-11-10 11:34] sermagnus commented on #25209
I am still with 2.3.3 is there any solution?

[2020-11-10 11:45] Jeeva-Rathinam commented on #26925
Anyone have solution?

[2020-11-10 12:03] barryvdh commented on #26925
Try to increase your error reporting, or look for attributes with models from packages that aren't installed anymore.

[2020-11-10 12:12] Eddcapone commented on #30862
@magento give me 2.4-develop instance

[2020-11-10 12:57] sodhancha opened #30864 "No Support for amqps Protocol in Magento_Amqp module"
While trying to connect to RabbitMQ via AmazonMQ  connection fails since AWS only supports amqps protocol while Magento only sends through either **tcp:// for non ssl** or **ssl:// for ssl**

### Preconditions (*)
1. AWS AmazonMQ managed RabbitMQ service must be provisioned.
2. Get a endpoint to the Managed AmazonMQ service for RabbitMQ

### Steps to reproduce (*)
1. Add amqp configuration with ss

[2020-11-10 13:01] magento-engcom-team commented on #30859
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38996` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 13:05] #30575 closed, assigned to ihor-sviziev, engcom-Delta

[2020-11-10 13:19] engcom-Hotel commented on #28591
Hello @rafaelstz
I have generated about 100k records and haven't able to reproduce the issue.
PHP 7.3
Elasticsearch 6.8.13
Magento ver. 2.3.3
Could you please provide more details?
Thank you.

[2020-11-10 13:22] engcom-Hotel commented on #28591
![search_terms_elastic_6 8_m2 3 4](https://user-images.githubusercontent.com/51681618/98679365-94813a00-2368-11eb-8e78-0dcb99196875.png)

[2020-11-10 14:51] michaellehmkuhl commented on #29090
Following up on the bug @pjean-gorillagroup reported above, we've seen the same bug affect our imports in Open Source 2.3.6. In our case, though, the desired behavior was for `is_in_stock` to be set to 1 and `qty` to be set to 0. However, the current logic forces `is_in_stock` to be set to 0 if `qty` is set to 0, even if the import file contains `is_in_stock` with a value of 1.

[2020-11-10 15:13] viniciusbordinhao-blueacorn commented on #25111
@magento I am working on this

[2020-11-10 15:27] TJEliot commented on #28237
I just encountered this and was able to quickly resolve it, so I thought I would share my solution here: I just reran the `catalog_product_category` and `catalog_category_product` indexers

[2020-11-10 17:12] MrDevOpss commented on #22776
is the issue fixed in core yet ? i still can see this problem when adding widget into page builder and save the page. Changes does not reflect and widget drag and drop is empty.

[2020-11-10 17:24] gabrieldagama commented on #26836
Hi @vincentteyssier,

I believe that is expected behavior, the values that are inserted on admin are actually labels, so that is why the API returns on that format, the ID is the value and it would facilitate to build select HTML component.

Closing this as it doesn't seem to be an issue.

[2020-11-10 17:24] #26836 closed, assigned to nobody

[2020-11-10 17:26] HenKun commented on #26498
1. Just for reference: The fix is not included in 2.4.1
2. Similar to `JsFooterPlugin` the sort order of `AsyncCssPlugin` need to be negative. Else, the changes made by the plugin are not included in the cached result, when using FPC. So when the cache is not hit, CSS is processed correctly, however, if the cache is hit, the plugin is neither called nor are the changes already included in the cach

[2020-11-10 17:31] gabrieldagama commented on #24581
Closing since it was fixed on https://github.com/magento/magento2/pull/24682

[2020-11-10 17:34] ihor-sviziev commented on #24581
Hi @gabrieldagama here is quote of my comment why this issue was reopened

[2020-11-10 17:54] gabrieldagama commented on #23559
Hi @TomashKhamlai

Can you provide which endpoints have the `/all/`, couldn't understand properly the issue here.

Thanks.

[2020-11-10 18:38] lenaorobei commented on #30824
@magento give me 2.4.1 instance

[2020-11-10 18:40] lenaorobei commented on #30824
@magento give me 2.4-develop instance

[2020-11-10 18:41] bargoslino commented on #30824
Hello!
I don't understand these mails.
Any news on possible solution?

Regards,

BARBARA GOSLINO

bgoslino@mefisto.com.ar

Cel: +54911-5523-7188

www.mefisto.com.ar

El mar., 10 nov. 2020 a las 15:38, magento-deployment-service[bot] (<
notifications@github.com>) escribió:

[2020-11-10 18:44] lenaorobei commented on #30824
Hi @bargoslino. Please provide details and steps to reproduce so we can confirm the issue.

[2020-11-10 18:50] sdzhepa commented on #30259
Fixed in https://github.com/magento/magento2/search?q=MC-37120&type=commits

[2020-11-10 18:52] lenaorobei commented on #30824
@magento give me 2.4.1 instance

[2020-11-10 19:39] lenaorobei commented on #30824
@magento give me 2.4.1 instance

[2020-11-10 19:51] perfpcs opened #30867 "JS errors involving new media gallery in Magento 2.4.1"
### Preconditions (*)

1. Magento 2.4.1
2. Php 7.4.12
3. Amazon EC2 Cloudserver using Amazon RDS MySQL 5.7

### Steps to reproduce (*)

1. You can see the js errors in console when choosing media gallery from content on the menu
2. You can see the Adobe spinning ajax wheel and unusable Adobe stock api tool by logging into your api

### Expected result (*)

1. Expect to see media gallery load with

[2020-11-10 20:18] engcom-Delta commented on #29239
Hi @kiranmaipappu , I'm not able to reproduce issue by steps you described on clean 2.4-develop EE
**Manual testing scenario:**
- Created a product attribute named "Test" as a Global attribute with type as "Text Filed", scope "Global".
![image](https://user-images.githubusercontent.com/51681379/98727839-42103f80-23a1-11eb-9cd0-bc7765be1ff3.png)
![image](https://user-images.githubusercontent.com/51

[2020-11-10 20:18] #29239 closed, assigned to nobody

[2020-11-10 21:13] sdzhepa opened #30869 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-10 21:14] magento-engcom-team commented on #30869
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39023` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 21:21] aaronsilber opened #30870 "PayPal Payflow Pro performs delayed capture with incorrect parent transaction ID"
Shortly after updating to Magento 2.3.6, our client had a large volume of customers report they had been "charged twice." After investigating this, we found these customers had a lingering authorization (pending transaction) on their cards, in addition to a charge for the full amount of the order. The authorization remains until it expires, typically 30 days.

We found that [changes to the Magento

[2020-11-10 21:32] aaronsilber commented on #30870
To fix this for our client, we created a Composer patch that partially reverts the [modifications to the parent transaction IDs used in authorize and capture](https://github.com/magento/magento2/commit/24481e96c171a51ca326f107ca76662bdec8732d). This patch can be applied by creating a directory "patches", and extracting the attached file to patches/MAGENTO-TWO-30870.patch, and adding the following

[2020-11-10 22:15] magento-engcom-team commented on #30869
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39023` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 22:22] magento-engcom-team commented on #30869
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39023` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-10 22:30] dinkeronline commented on #28966
This could be possibly related  to this thread [Stack Overflow](https://magento.stackexchange.com/questions/326123/magento-2-4-products-are-not-showing-in-category-elastic-search-enabled)

I had a similar issue and I found it was an attribute creating problems.

[2020-11-11 01:03] mrtuvn commented on #26498
Yes this update only available in 2.4-develop and maybe available in next version

[2020-11-11 04:31] arularasans opened #30872 "Magento 2"
New added products not showing front end in Magento

[2020-11-11 05:12] webgility-amazonapi opened #30873 "Tax Class is not reflecting on Product details pages under the Tax Class Dropdown."
### Preconditions (*)

1.Magento version 2.3.5

### Steps to reproduce (*)

1.Configure the postman
2.Make an API call using the below details
API : rest/V1/products/Tax Class Test123
Method : PUT
Request : {"product":{"sku": "Tax Class Test123","name": "Tax Class Test123","attribute_set_id": 9,"price": 24.44,
    "status": 1,"visibility": 4,"weight": 0.0,"media_gallery_entries": null,"extension_a

[2020-11-11 05:28] Jeeva-Rathinam commented on #26925
@barryvdh ANy help thanks https://github.com/magento/magento2/issues/15117

[2020-11-11 07:08] Zyles commented on #30611
Solved it with using `bin/magento -vvvv setup:di:compile` in developer mode.

[2020-11-11 07:08] #30611 closed, assigned to ihor-sviziev

[2020-11-11 07:44] mrtuvn commented on #30686
I think you should place proposal to https://github.com/magento/architecture
for wide discuss

[2020-11-11 07:56] ProkopovVitaliy commented on #30307
@magento I am working on this

[2020-11-11 08:04] ihor-sviziev commented on #23834
Hi @zcuric,
I see that issue was fixed in 2.4.1, so you probably shouldn't have this issue anymore. Sometimes there might be few cases when similar issue appears, maybe exact your wasn't fixed yet.

Are you sure you're having exact the same issue and steps to reproduce? Were you able to reproduce this issue on clean magento installation?

[2020-11-11 08:06] mattijv commented on #27559
Just got hit by this too on 2.3.5-p1 when a campaign caused a surge in traffic. Hotfixed by doing what @mflott suggested and forcing the controller code take the `getNotCacheableResult` path.

[2020-11-11 08:13] zcuric commented on #23834
Hi @ihor-sviziev here is the response from my site when trying to open a category with large number of products:
[code]
I deploy my site with gitlab CI/CD and usually it's a clean install with composer.

[2020-11-11 08:52] ihor-sviziev commented on #29232
Hi @onepack,
The documentation clearly shows:

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html#layout_markup_css_remove

If it still not clear - feel free to create a Pull Request to devdocs repository in order to improve it.

As this is basically expected result - i'm closing this issue.

[2020-11-11 08:52] #29232 closed, assigned to ihor-sviziev

[2020-11-11 08:59] sasha19957099 commented on #29918
@magento I am working on this

[2020-11-11 09:04] befrednguyen commented on #25076
The same issue on 2.9.11

[2020-11-11 09:10] speedupmate commented on #15967
@sivaschenko and how do you see this being implemented on what level and how exactly?

You can trick requirejs-config.js by writing js conditions inside it as it is a js file after all. For example reading some state from window.context and true/false your mixin status.

However if this would be preferred way it should be documented and included by default. Then all extensions implementing mixins

[2020-11-11 09:16] zhouzuoxuan opened #30874 "Catalog category can't save data"
vendor/magento/module-eav/Model/Entity/AbstractEntity.php line: 868
code: $result = $this->walkAttributes('backend/validate', [$object], $object->getCollectExceptionMessages());
Make the data you want to save lost
If this problem has been solved, can anyone tell me a better way?
Thank you very much.

[2020-11-11 09:20] zhouzuoxuan commented on #30874
Step: open the catalog category and select any category to edit. No changes can be saved.
Version: magento2.3.4
Reappear: always reappear
Expectation: data can be saved.

[2020-11-11 09:24] avra911 opened #30875 "GraphQL product filter not using website/store"
### Preconditions (*)

1. Install Magento 2.4.0
2. Create at least 2 websites (A and B)

### Steps to reproduce (*)

1. Create a new product and select only B website in the edit page under the "Product in Websites" tab.
2. Use graphQl "products(filter: { sku: { eq: "SKU" } } ) {" query and a store header from the website A.

### Expected result (*)

1. The product SKU should not be in the search

[2020-11-11 09:39] kamui23 commented on #30844
@magento give me 2.4-develop instance

[2020-11-11 09:40] #30875 closed, assigned to nobody

[2020-11-11 09:42] magecoders commented on #29797
I have the same issue in magento 2.3.5-p1, as per the fix https://github.com/magento/magento2/pull/29814/files, such column not exists in magento 2.3.5,  How to fix that ?

[2020-11-11 09:46] gwharton commented on #29797
Unfortunately that patch is only compatible with 2.4.xxx codebase. Not sure of the fix for 2.3.xxx.

[2020-11-11 09:47] Eddcapone opened #30876 "Magento 2 - New product added to cart has subtotal price value of 0"
### Preconditions (*)
1. 2.4.0

### Steps to reproduce (*)

[code]

**NOTE:** Only after refreshing the cart, it shows the right value!

### Expected result (*)
1. subtotal price should be set correctly

### Actual result (*)
1. subtotal price is set to 0

![image](https://user-images.githubusercontent.com/16349349/98796042-3b1e1700-240b-11eb-9be7-9d51f049e179.png)

---
Please provide [Severity](h

[2020-11-11 10:06] Pavel-Fekete commented on #27188
Not reproducible on the latest 2.4-develop

**Steps to reproduce:**

1. Go to the store and create an order as customer
![Order](https://user-images.githubusercontent.com/67371013/98795251-acad9380-2412-11eb-8683-8d14f00d3dc6.png)
2. Go to admin panel and open previously created order
3. Press _Send Mail_ button
![Order in admin](https://user-images.githubusercontent.com/67371013/98795541-feeeb480

[2020-11-11 10:07] kamui23 commented on #30844
hi @ajijshekh123
thank you for your verification.
i checked on 2.4-develop instance and saw no issue.
Please close this issue.
Thank you

[2020-11-11 10:08] kamui23 commented on #30844
hi @ajijshekh123
thank you for your verification.
i checked on 2.4-develop instance and saw no issue.
Please close this issue.
Thank you

[2020-11-11 10:09] ajijshekh123 commented on #30844
Okay @kamui23
Thanks for the Update.

[2020-11-11 10:09] #30844 closed, assigned to ajijshekh123

[2020-11-11 10:11] iphigenie commented on #29964
Just to add a bit of context to this:

I just had this happen, both the cache growing to huge sizes and the out of memory on front end pages.

On my production site using external server level full page cache (livemage, in my case), the issue happens.
On my test server using the "internal" full page cache, the issue does not seem to happen. Switching the test server to the external cache, it happe

[2020-11-11 10:18] iphigenie commented on #30804
the symptom would be 1) cache taking a lot more space than it used to and 2) out of memory errors in the logs

[2020-11-11 10:18] user-aruntr commented on #29476
I have getting the same error while updating from 2.3 to 2.4 magento.

[2020-11-11 10:18] Pavel-Fekete commented on #30188
Not reproducible on the latest 2.4-develop

**Steps to reproduce:**

1. Disable order confirmation emails
![Disable](https://user-images.githubusercontent.com/67371013/98798832-fac49600-2416-11eb-9f9a-1821e3f370a9.png)
2. Go to Admin and create new order
![Create order](https://user-images.githubusercontent.com/67371013/98799132-63137780-2417-11eb-9d0f-6eecc50fd08c.png)
3. In the submit order bloc

[2020-11-11 10:59] magento-engcom-team commented on #29600
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39025` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-11 11:23] iphigenie commented on #30501
Every module that deals with products in any way - pricing, listing, orders etc. - is referring to the product types so it can call product-type-specific functionality, i.e. availability, price, relations etc.

Reports and Msrp seem to be the main culprits there, that makes a decoupling doable.

There are product-abstraction layers appearing that should allow decoupling so that you can always call

[2020-11-11 11:26] hostep commented on #29797
@magecoders: this isn't a bug in Magento 2.3.x, this bug only existed in Magento 2.4.0 and 2.4.1

If you are running against a queue problem, try searching around some more, there is a lot of information here on github and probably out on the web which can help you narrow down your particular issue.

[2020-11-11 11:36] magento-engcom-team commented on #28511
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39026` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-11 12:19] dobooth commented on #29226
@mbrinton01 This can be closed, no?

[2020-11-11 12:22] engcom-Alfa commented on #30873
Hi @webgility-amazonapi .

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
It seems that the problem has already been solved.

**Manual testing scenario:**

1. Create _**Tax Class Test123**_ product;
![2020-11-11_14-08](https://user-images.githubusercontent.com/51679138/98810110-5ac33880-2427-11eb-939d-eb397f4889fc.png)

2. Create a new tax class as in [devdocs
](https:

[2020-11-11 12:22] #30873 closed, assigned to engcom-Alfa

[2020-11-11 12:51] ihor-sviziev commented on #23834
Hi @zcuric,
Could you create a new issue with steps to reproduce? Someone from QA will check that additionally.

[2020-11-11 13:01] NTK-2016 commented on #30702
Any update please

[2020-11-11 13:12] arnoutvreugdenhil commented on #22497
I've also encountered this issue with 2.3.3.

It seems to be a problem with presidence.

In XML:
setTemplate wins from argument.
argument wins from template attribute in block element.

Example:

1. default catalog_category_view.xml using template attribute = list.phtml
2. module 1 contains a catalog_category_view.xml using action setTemplate = lista.phtml
3. module 2 contains a catalog_category_v

[2020-11-11 13:29] magecoders commented on #23450
@hostep I have checked the consumer processes are running but showing. But both bulk product attribute update and export products operation not working.

![image](https://user-images.githubusercontent.com/6951287/98817317-f4064500-244f-11eb-89f3-788ec7d20f2f.png)

[2020-11-11 13:40] rupesh-tangible commented on #4408
@abude  i'm having the exact same issue on magento 2.3.5-p1. Here sandbox details is working fine. I placed an order in sandbox mode.
But site goes live we change it to live mode and put actual details that time spiny wheel never goes away an no order is ever created.

I got below log message
[2020-11-11 10:07:04] main.DEBUG: array (
  'request' =>
  array (
    'user' => '****',
    'vendor' => '

[2020-11-11 13:44] krishprakash commented on #30872
Hi @arularasans. Can you please explain the issue with reproducible steps with actual and expected result as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) otherwise issue will be closed

[2020-11-11 13:48] magecoders commented on #23450
@hostep As per your suggestion, the consumer processes are running. But both bulk product attribute update and export products operation not working. Any ideas ?

Thanks

![image](https://user-images.githubusercontent.com/6951287/98819281-ab9c5680-2452-11eb-95a4-60f2a64a71f7.png)

![image](https://user-images.githubusercontent.com/6951287/98819313-b5be5500-2452-11eb-83b0-294671df0f11.png)

[2020-11-11 14:04] jpkileaf commented on #30088
Any possible way to fix this issue in 2.3.5?

[2020-11-11 14:06] Pavel-Fekete commented on #29020
Not relevant for latest 2.4-develop

'_Purchase Date_' column instead of '_Date_' column and date format is changed
In this case 'Filter' works properly, for UK backend as well
![Interface](https://user-images.githubusercontent.com/67371013/98820950-8d752d00-2437-11eb-9c49-78f5daf4b5cc.png)
![Purchase date](https://user-images.githubusercontent.com/67371013/98820956-8fd78700-2437-11eb-9c09-3f5f71f

[2020-11-11 14:15] TimQSO opened #30877 "Reservation issues with Inventory Management / Sallable quantity when working with configurable products."
### Preconditions (*)

1.  Magento 2.3.5-p2
2.  Inventory Management with Sallable QTY enabled

_Scenario 1:_

### Steps to reproduce (*)

1. Make two simple products: SKU-A and SKU-B
2. Make a configurable with SKU-CONFIG
3. Add the two simple products to the configurable
4. Place an order on the **front-end** for SKU-A via the configurable
5. Ship the order in the backend

### Expected result (*

[2020-11-11 14:29] mbrinton01 commented on #29226
@dobooth it was never completed, but should probably be moved to JIRA. You do not need to document it as it was not built.

[2020-11-11 15:22] hostep commented on #23450
@magecoders: the status says 'in progress', so they should be running and your screenshot also shows that those particular consumers are running, so that's good!
But if it takes a really long time and you don't see any progress, then something is wrong somehow. You'll have to start to debug this somewhat I'm afraid. We personally haven't noticed problems like these yet on Magento 2.3.x

[2020-11-11 15:25] hostep commented on #23450
@HenKun: you made some good remarks before, could you open a new issue with your findings, because these might be important to get fixed. Thanks!

[2020-11-11 15:37] ahajji06 opened #30878 "Public content based on context variables not working"
### Summary (*)

We used in our Shop a context variable "CUSTOMER_SEGMENT" to generate diffrent full page cache for specific customers.
But after last update from version 2.4.0 to version 2.4.1 full page cache seems to only reflect the default context variables of magento. Any extension using plgin like documented will be ignored.
### Examples (*)

class CustomerAgeContextPlugin
{
    public funct

[2020-11-11 15:42] #30624 closed, assigned to rogyar

[2020-11-11 16:10] engcom-Echo commented on #23601
Hi, @parekhreena
During import for identification "Customizable Option Type" we using the title. The 'title' is a required field unlike "sku" which is why this field is used for comparе. We can't use 'option_type_id' on import file.

This issue can't reproduce if we not change the title. @engcom-Delta please check this case.

[2020-11-11 16:50] hostep opened #30879 "New configuration options for message queue consumers aren't flexible enough"
### Summary (*)
Magento 2.4.1 shipped with a bunch of new options for message queue consumers based upon an [architectural proposition](https://github.com/magento/architecture/blob/master/design-documents/asynchronous-operations/consumer-processes-improvements.md).

But after playing around with it, I'm seeing some inconsistencies and things which don't work like how I originally envisioned this.

[2020-11-11 17:00] #30511 closed, assigned to nobody

[2020-11-11 17:16] #30537 closed, assigned to nobody

[2020-11-11 17:19] magento-engcom-team commented on #30545
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39035` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-11 17:21] zaximus84 opened #30880 "Google Analytics CSP Violation"
### Preconditions (*)

1. Magento 2.4.0
2. Magento_Csp installed / enabled
3. Magento_GoogleAnalytics installed / enabled

### Steps to reproduce (*)

1. In admin store configuration, go to Sales / Google API > Google Analytics. Set Enabled = Yes and enter an Account Number.
2. Flush all caches and load a page on the store front (such as the home page).

### Expected result (*)

1. There are no co

[2020-11-11 18:17] m2-assistant[bot] opened #30882 "[Issue] Update sortOrder load for async css plugin"
This issue is automatically created based on existing pull request: magento/magento2#30871: Update sortOrder load for async css plugin

---------

### Description (*)

Magento 2.4-develop
This update made for sure load async css plugin first before JsFooterPlugin load. We use lower order for let magento run AsyncCssPlugin first then run into JsFooterPlugin. After all that is cache plugins will be

[2020-11-11 18:54] gabrielagusmao opened #30884 "Export Settings"
![image](https://user-images.githubusercontent.com/74321833/98852212-18edbe80-2436-11eb-9cda-3cb414cd7eda.png)

We can't be able to export any report.

[2020-11-11 19:23] aaronsilber commented on #30870
@magento give me 2.4-develop instance

[2020-11-11 19:30] alex1a commented on #9479
try to remove ```.../var/.update_in_progress.flag``` folder

[2020-11-11 20:10] aaronsilber commented on #30870
Reproduced this issue on fresh 2.4-develop instance in Payflow Test Mode.

Note how the Magento Transaction displays the correct parent transaction ID for the invoice capture, but reviewing the actual transaction data in Payflow shows the incorrect parent transaction ID was used when submitting the transaction data to Payflow.

Magento transaction data after placing an order:
![m2_30870_1_order_au

[2020-11-11 20:10] aaronsilber commented on #30870
@magento I am working on this

[2020-11-11 20:11] aaronsilber commented on #30870
@magento add to contributors team

[2020-11-11 20:11] aaronsilber commented on #30870
@magento I am working on this

[2020-11-11 21:13] mauragcyrus commented on #29057
@TimonVS the use cases described seem gear towards administrative API, rather than a storefront API, and you would be better off using the REST APIs for admin-level operations.

[2020-11-11 22:00] mpchadwick commented on #26882
For those on 2.3.X, I haven't personally tested at this point, but looks like there's a fix in 2.3.6

- https://github.com/magento/magento2/blame/2.3.6/app/code/Magento/Sales/view/frontend/email/order_new.html#L94
- https://github.com/magento/magento2/commit/bc1155b5838af7c4b818d37e1dbb1d5a88460398

[2020-11-11 22:08] mauragcyrus commented on #28979
@LiamKarlMitchell the use cases described are geared towards administrative API, rather than a storefront API, and you would be better off using the REST APIs for admin-level operations.

[2020-11-11 22:08] #28979 closed, assigned to nobody

[2020-11-11 22:36] m2-assistant[bot] opened #30887 "[Issue] Cleanup app/etc/di.xml"
This issue is automatically created based on existing pull request: magento/magento2#30886: Cleanup app/etc/di.xml

---------
### Cleanup the app/etc/di.xml that belongs to magento/magento2-base I guess
- Move some specific di declaration to the module they belongs to.
- Remove some di declaration which were duplicated.
- Remove some not necessary di declaration.

[2020-11-11 23:06] Lach1222 commented on #30194
Also, get this error Magento 2.4.1 ES 7

[2020-11-12 04:30] krishprakash commented on #30872
Hi @arularasans. Feel free to reopen after update all the details to reproduce this issue
Thanks!!

[2020-11-12 04:30] #30872 closed, assigned to krishprakash

[2020-11-12 05:33] webgility-amazonapi commented on #30873
So can you let us know what we are doing wrong?

[2020-11-12 06:46] aleron75 commented on #28511
I have a doubt about the expectation

I think _"Send Invoice Email Copy To"_ doesn't mean _"send an invoice by email only to the recipient configured in  `Send Invoice Email Copy To` field"_ but _"send a copy of the invoice to the customer"_ and thus, if configured, to the above-mentioned recipient.

In other words, if we ask Magento to send an email to the customer, then it possibly can be sent a

[2020-11-12 07:25] UpSage opened #30889 "Tab component in Custom entity form"
### Preconditions (*)

1. Magento 2.4.0
2. Magento 2.4.1

### Steps to reproduce (*)

1.  When I created a custom module with a custom entity, I tried adding a tab to make the UI more presentable but Tab won't work

### Expected result (*)

1. Expected result
![image](https://user-images.githubusercontent.com/14990670/98908187-038e9800-24fb-11eb-8155-18701326a4de.png)

### Actual result (*)

1. Ac

[2020-11-12 07:39] UpSage opened #30890 "urlInput component does not seem to work well with DynamicRowsDragAndDrop component"
### Preconditions (*)

1. 2.4.0
2. 2.4.1

### Steps to reproduce (*)

1. When I created a custom module with a custom entity, I tried adding the urlInput into the DynamicRowsDragAndDrop component but with not working and giving me an error.

### Expected result (*)

1. Expected result should be: The urlInput should be added without issue inside the DynamicRowsDragAndDrop component

### Actual resu

[2020-11-12 07:42] UpSage opened #30891 "Adding cms pages on urlInput component"
### Description (*)

Hi Im looking into this https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-urlinput.html and it seems  that it does not support cms pages. It only support Products and Categories to be selected as links

### Expected behavior (*)

Add "Pages" on the Selections.

### Benefits

This will benefit the developers when creating custom modules

### Additional informa

[2020-11-12 08:06] sasha19957099 commented on #30463
@magento I am working on this

[2020-11-12 08:42] yuri1994 commented on #22467
I have same problem, while try to create items, the memory increasing exponential. On the post I didn't seen the solution of the problem. Can you let me know how you solved the problem with memory in magento?

[2020-11-12 08:54] magento-engcom-team commented on #30853
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39052` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-12 08:56] ihor-sviziev commented on #28363
Hi @vincent-jacq,
I would say that it was done in purpose without any configuration on the backend in order due to security reasons.
**Example:**
potential hacker get access to the admin with all permissions, he added some script to the head scripts.

In current implementation (no ability to add policies) that javascript will not be able to send any customer data to their server/domain.

In case i

[2020-11-12 09:07] forcecodema opened #30893 "REST API - duplicate SKU in database"
### Preconditions (*)

1. Stock Magento 2.4.1 - no mods

### Steps to reproduce (*)

1. /rest/all/async/bulk/V1/products/ API call with one product payload
2. This is how I create payload - $item is the product from external system, $data_string is sent to endpoint
[code]

### Expected result (*)

1. One product in catalog

### Actual result (*)

1. Duplicated SKU in catalog - two entries with the

[2020-11-12 09:22] ochnygosch opened #30894 "Unit test testGetLocaleList fails for non en_US php default locale"
### Preconditions (*)

1. Magento version 2.4.0
2. set intl.default_locale to 'de-DE' in php.ini

### Steps to reproduce (*)

1. run unit test testGetLocaleList in Magento\Framework\Setup\Test\Unit\ListsTest

### Expected result (*)

1. Test passes

### Actual result (*)

1. Test fails with error: Failed asserting that two arrays are equal.

Expected | Actual
------------- | ---------
'en_US' => '

[2020-11-12 09:25] m2-assistant[bot] opened #30896 "[Issue] Removed duplicated action group - AdminOpenCMSBlocksGridActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30895: Removed duplicated action group - AdminOpenCMSBlocksGridActionGroup

---------
### Description (*)

Removed duplicated action group AdminOpenCMSBlocksGridActionGroup.

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ..

[2020-11-12 09:26] ochnygosch opened #30897 "Unit test testGetLocaleList fails for non en_US php default locale"
### Preconditions (*)

1. Magento 2.4.0
2. intl.default_locale set to 'de-DE' in php.ini

### Steps to reproduce (*)

1. Run unit test testGetLocaleList in Magento\Framework\Setup\Test\Unit\ListsTest

### Expected result (*)

1. Test passed

### Actual result (*)

1. Test failed with: Failed asserting that two arrays are equal.

Expected | Actual
------------ | ---------
'en_US' => 'English (Unite

[2020-11-12 09:27] ochnygosch commented on #30897
Created duplicate

[2020-11-12 09:27] #30897 closed, assigned to nobody

[2020-11-12 09:42] engcom-Delta commented on #30877
Hi @GuiltyNL , issue related to Magento Inventory Project(MSI)
Could you create issue in appropriate MSI [repo](https://github.com/magento/inventory/issues) for further investigation and close this ticket once it will be done?

[2020-11-12 09:54] #30482 closed, assigned to ProkopovVitaliy

[2020-11-12 09:57] engcom-Delta commented on #29519
Hi @salman231 thank you for your report. Without clear steps to reproduce we cannot  investigate this issue
There is not js errors connected with Amazon Pay default settings on the latest release 2.4.1

Please update issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-11-12 09:57] sivaschenko commented on #30900
The feature request was confirmed by Ryan Manor

[2020-11-12 09:59] sivaschenko commented on #30809
Feature request confirmed by @chernenm

[2020-11-12 10:00] imaginae commented on #22467
Hi Yuri,

we finally upgrade our magento to the latest and solve the issue by
changing the way we were using apis. Follow up comments on post, and if so
there is a better way to do the import by calling direct rest services.

Regards

*Juanjo Raya*
Project manager
www.imaginae.net
------------------------------

Avda Francesc Macià 30 Esc A 1er 1a

Sabadell (Barcelona)
Tlf 93 537 74 44
[image: Fac

[2020-11-12 10:40] dverkade opened #30901 "Sitemap Enable submission to robots.txt has wrong URL"
### Preconditions
1. Magento 2.3.5
2. Have nginx pointing to the /pub folder as root

### Steps to reproduce
1. Go to Marketing -> Sitemap and create a sitemap
2. Enable "Submit sitemap to robots.txt" under Stores -> Configuration -> Sitemap XML

### Expected result
1. Sitemap does not have the "pub" folder in the URL
2. Robots.txt does not reference the "pub" folder in the sitemap URL

### Actual

[2020-11-12 10:40] dverkade commented on #30901
@magento I am working on this

[2020-11-12 10:40] dverkade commented on #30901
@magento give me 2.4-develop instance

[2020-11-12 10:41] NTK-2016 commented on #30702
please any update

[2020-11-12 10:50] dankhrapiyush commented on #10978
This issue is reproduced in the Magento 2.3.5-p1.

[2020-11-12 11:20] engcom-Delta commented on #23601
@engcom-Echo issue is not reproducible if option's `price` or `sku` are changed. It is reproducible in case when option's `option_title` was changed

[2020-11-12 12:27] magento-engcom-team commented on #30863
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39058` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-12 12:38] forcecodema commented on #29797
I changed the line in /magento_root/vendor/magento/module-asynchronous-operations/etc/db_schema.xml then run bin/magento setup:upgrade, but nothing changed...

[2020-11-12 12:39] sergey-ctrl opened #30905 "Doubles the quantity of products on the checkout page"
### Preconditions (*)

1. Magento ver. 2.4.1, php 7.4

### Steps to reproduce (*)

1. Log in customer account https://i.imgur.com/oYsH3pe.png
2. Add product with quantity 1 to cart
3. Go to Shopping Cart and then click "Check Out with Multiple Address" https://i.imgur.com/J7A7ryL.png
4. Go to Home Page https://i.imgur.com/IL4p1Hx.png
5. Go to Checkout https://i.imgur.com/K4xicyF.png
6. Open Order

[2020-11-12 12:48] krishprakash commented on #30905
@magento give me 2.4-develop instance

[2020-11-12 12:57] pronto2000 commented on #27346
Checked it on Magento Enterprise 2.3.6 (latest 2.3 at the moment) and was unable to reproduce it there:

![image](https://user-images.githubusercontent.com/5182866/98942912-6716c680-24f7-11eb-8381-1e4d24291710.png)

[2020-11-12 12:58] gwharton commented on #29797
The change probably worked, its just that it only allows you to acknowledge new bulk tasks. I think existing bulk tasks that are stuck need to be manually cleared from the database unfortunately. Check and clear ut the offending items from magento_bulk, and hopefully new ones will work properly now.

[2020-11-12 13:20] krishprakash commented on #30905
Hi @sergey-ctrl, Not able to replicate the issue as provided steps by you.
Kindly provide the additional steps and also kindly verify in latest magento instance
![image](https://user-images.githubusercontent.com/46617848/98944762-8d4c5e80-2517-11eb-9d3f-19b123284a47.png)

[2020-11-12 13:22] #30302 closed, assigned to nobody

[2020-11-12 14:23] #24571 closed, assigned to nobody

[2020-11-12 14:25] forcecodema commented on #29797
I cleared all the messages. And when the new showed up i tried to dismiss them. Operation clears/acknowledges them in database (if you refresh the page they are gone), but the ui returns "Attention Something went wrong". It looks like the problem is with AJAX call?

/admin_xxxxxx/bulk/notification/dismiss/key/39e1eb81366237663820b4026c18b2a14d0e433c039549b46f4da305e2ea7d22/?isAjax=true

It returns

[2020-11-12 14:47] a-mahmoudieh commented on #14067
Hi
I solved it,
Please contact via WhatsApp:
+989122137655

[2020-11-12 14:48] a-mahmoudieh commented on #14067
این مشکل حل شد
در صورت تمایل به دریافت راه حل لطفل از طریق شماره زیر در تلگرام یا واتساپ تماس بگیرید
09122137655

[2020-11-12 15:33] kamarhassan commented on #24463
hi. I moved the website to another server but all command [
php bin/magento setup:upgrade ,
php bin/magento setup:static-content:deploy -f,
 and any other command ] on command putty command line . gives result

`
"check-requirements": false,`
   ` "dump-autoload": false,`
   `"stub": "php-cs-fixer",`
 `   "compactors": [`
     `   "KevinGH\\Box\\Compactor\\Json",`
   `     "KevinGH\\Box\\Com[klini

[2020-11-12 15:42] ihor-sviziev commented on #24571
@sidolov @sivaschenko could you explain why this issue was closed without any comments?

[2020-11-12 15:50] ihor-sviziev commented on #30901
Hi @dverkade,
In 2.4-develop branch non-pub folder installation was already removed at all in https://github.com/magento/magento2/commit/640cad53009b291334234ccd61ab79f256b43da2#diff-2323d6157444b3cf24d4d76635f27185a4e6ad979b0ec2af53e6592d3ca465d5R13
but till Magento 2.4.2 you can add following thing to your env.php file and it should solve the issue:
[code]
https://devdocs.magento.com/guides/v2.4

[2020-11-12 15:51] engcom-Delta commented on #29545
Hi @lano-vargas thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Create second website
![image](https://user-images.githubusercontent.com/51681379/98961457-4017bf00-250e-11eb-9a65-06d14279cf46.png)
- Create configurable product with two configurations
![image](https://user-images.githubusercontent.com/51681379/989

[2020-11-12 15:51] #29545 closed, assigned to engcom-Delta

[2020-11-12 16:02] engcom-Delta commented on #30380
Hi @chrisbadley thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
Could you provide additional details about emails configuration in magento?

[2020-11-12 17:09] gabrieldagama commented on #23559
Hi, @TomashKhamlai I will be closing this now, but if you have more details, please feel free to reopen it.

[2020-11-12 17:09] #23559 closed, assigned to nobody

[2020-11-12 17:11] sivaschenko commented on #24571
The issue cannot be reproduced. Attribute option "Update Product Preview Image" must be set to "Yes" if you want to change the image for a configurable product with text swatch options.
![image](https://user-images.githubusercontent.com/2028541/98972289-24121e80-250a-11eb-941f-8006135c9234.png)

[2020-11-12 17:16] gabrieldagama commented on #22587
Closing this since Magento 2.4 doesn't support MySQL search anymore. If you believe a similar problem with ElasticSearch implementation, please, feel free to open another issue.

Thanks!

[2020-11-12 17:16] #22587 closed, assigned to nobody

[2020-11-12 17:27] pmcnamaracpc commented on #30709
For the sake of completeness, I also did not have this issue on 2.4.0, so looks good on all of 2.4.X.

[2020-11-12 17:40] sivaschenko commented on #21770
Closing this issue as there is no plans to implement external references for the db schema. The reference to the table added in a custom way should be added in a custom way as well.

[2020-11-12 17:40] #21770 closed, assigned to nobody

[2020-11-12 17:58] magento-engcom-team commented on #30894
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-11-12 18:11] aversalle opened #30906 "Warning: Return value of "Magento\Cron\Console\Command\CronCommand\Interceptor::execute()" should always be of the type int since Symfony 4.4, NULL returned."
### Preconditions (*)

1. Magento Cloud 2.3.5 without sample data is installed.
2. symfony/console version v4.4.16 is installed.

### Steps to reproduce (*)

1. Run Magento cron (`bin/magento cron:run`)
2.

### Expected result (*)

1. No warnings are triggered when running Magento cron.
2.

### Actual result (*)

1. A warning is triggered when running Magento cron.
2.

### Additional information

[2020-11-12 18:11] d-averkiev commented on #30864
Hello
Today I've successfully connected new Amazon MQ (RabbitMQ) service with my magento2 installation. Here is the working `env.php` config:
[code]
@sodhancha try to remove schema (amqps) from your "host" definition and add `'ssl' => 'true'`

[2020-11-12 18:47] #29740 closed, assigned to voleye

[2020-11-12 18:47] mauragcyrus commented on #29990
@magento export issue to Jira project MCLOUD as Task

[2020-11-12 18:47] magento-engcom-team commented on #29990
:x: Cannot export the issue. GitHub repo magento/magento2 is not supported in JIRA project MCLOUD and type Task.

[2020-11-12 18:48] magento-engcom-team commented on #29990
:x: Cannot export the issue. GitHub repo magento/magento2 is not supported in JIRA project MCLOUD and type Task.

[2020-11-12 18:48] magento-engcom-team commented on #29990
:x: Cannot export the issue. GitHub repo magento/magento2 is not supported in JIRA project MCLOUD and type Task.

[2020-11-12 19:01] ivanweiler commented on #27918
Similar problems here, I think this is related to:

https://github.com/magento/magento2/issues/16779
https://github.com/magento/magento2/issues/19230

It seems this is really old issue that was never properly fixed.

[2020-11-12 19:57] HenriNijborg opened #30908 "TierPriceManagement: add() fails randomly because of invalid argument supplied for foreach()"
File: app/code/Magento/Catalog/Model/Product/TierPriceManagement.php
Function: add()

Error `Invalid argument supplied for foreach()` on line ` foreach ($tierPrices as &$item)`

[code]

The behaviour is random. Strongly related to issue #24410 and bug fix https://github.com/magento/magento2/commit/114ac4b39a5818df2f1c91c07fd9b27cc97de7b1

### Preconditions (*)
1. Magento 2.3.5-p1

### Steps to rep

[2020-11-12 21:00] mauragcyrus commented on #29990
@magento export issue to Jira project MCLOUD as Bug

[2020-11-12 21:00] magento-engcom-team commented on #29990
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7271) is successfully created for this issue.

[2020-11-12 23:46] aligent-lturner opened #30909 "ProductUrlSuffix and CategoryUrlSuffix GraphQL resolvers fail with null values"
### Preconditions (*)

1. Magento version 2.4.x
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Admin -> Stores -> Configuration -> Catalog -> Catalog -> Search Engine Optimization
2. Clear product and category url suffix values in admin and save

![Screenshot from 2020-11-20 15-24-20](https://user-images.githubusercontent.com/51679138/99806502-c94e7780-2b46-11eb-9875-251237379bba.png

[2020-11-13 00:46] mauragcyrus commented on #26112
Hi @TomashKhamlai we have a proposal from architects here: https://github.com/magento/architecture/blob/deprecate-createEmptyCart-add-createCart/design-documents/graph-ql/coverage/deprecate-createEmptyCart-add-createGuestCart.md on how to handle this fix if you would like to take a look :)

[2020-11-13 01:35] nhatlich994 opened #30911 "Redundant header generated while add a product to grouped product"
### Preconditions (*)
1. M2.3.x
2. M2.4.0

### Steps to reproduce (*)
1. Go Admin > Catalog > Products
2. Select Grouped Product from drop down of Add Product button
3. In new product page, at Attribute Set select, choose Top
4. Scroll down to tab Grouped Products and try add new product.
5. Got an issue [https://imgur.com/porq478](https://imgur.com/porq478)
6. Loom: https://www.loom.com/share/b28

[2020-11-13 03:00] alanvo8 commented on #2380
This is still happenning in 2.4.0 - it does not look like Magento will fix this.

[2020-11-13 03:15] sodhancha commented on #30864
Yes we did that and it does work for a while but it eventually timeout.
Please see system log you'll find connections errors there.

On Thu, Nov 12, 2020 at 11:56 PM Dmitry Averkiev <notifications@github.com>
wrote:

--
Regards,
Sodhan Manandhar

[2020-11-13 04:02] Coosos commented on #29052
Hi,

I will test this as soon as possible

[2020-11-13 04:19] tranhoangthien1990 opened #30912 "Configurable product price is not displayed if all children are out of stock and even if Display Out of Stock Products is set to"
Configurable product price is not displayed if all children are out of stock and even if Display Out of Stock Products is set to "yes"

Preconditions (*)
1. Magento 2.4.1 with sample data (include b2b module)
2. Magento 2.4-develop

Steps to reproduce (*)
1. Create a configurable product with view simples (4 children products with 2 attributes size and color)
2. Make configurable and all simple pr

[2020-11-13 05:14] ananth-iyer commented on #30380
@magento give me 2.4-develop instance

[2020-11-13 05:25] koushikch7 commented on #15433
@magento-engcom-team give me magento2.3.5 instance

[2020-11-13 05:29] koushikch7 commented on #10071
@magento-engcom-team please give me magento2.3.5-p instance

[2020-11-13 05:31] ananth-iyer commented on #30380
@magento give me 2.3-develop instance

[2020-11-13 07:23] mattijv commented on #27559
Initial testing suggests that adding this index on the `search_query` table may resolve the issue. I did not observe much increase in write loads, but this is yet to be tested in production.

[code]

[2020-11-13 07:36] chiranjeevi-cj commented on #30908
@magento I am working on this

[2020-11-13 07:36] engcom-Alfa commented on #26717
Hi @luciaebizmarts .

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.

Manual testing scenario:

1. Set on Magento any language different to english.
2. Perform a **POST** request to this endpoint `oauth/token/request.`
3. Be sure that the request returns error code 400.

Actual Result: :heavy_check_mark: We see the error message on the returns.

![Screenshot from 2020-

[2020-11-13 07:36] #26717 closed, assigned to engcom-Alfa

[2020-11-13 07:42] chiranjeevi-cj commented on #30908
@engcom-Alfa Should I proceed with the suggested solution by @HenriNijborg ?

[2020-11-13 07:45] ananth-iyer commented on #30380
@chrisbadley Can you let me know the product type? that credit memo having this issue.

[2020-11-13 07:48] ihor-sviziev commented on #30901
@magento give me 2.4-develop instance

[2020-11-13 07:58] ihor-sviziev commented on #30901
Just re-checked 2.4-develop branch on test instance - this **issue IS reproducing on 2.4-develop**.

1. ✔ Changed "Enable Submission to Robots.txt" to "Yes":
![image](https://user-images.githubusercontent.com/1873745/99043023-6719d380-2596-11eb-88e1-1c0080138d16.png)

2. ✔Created & generated sitemap.xml
 ❌Generated URL contains /pub/
![image](https://user-images.githubusercontent.com/1873745/99043

[2020-11-13 07:59] magento-engcom-team commented on #30901
@ihor-sviziev Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-11-13 07:59] magento-engcom-team commented on #30901
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-11-13 07:59] magento-engcom-team commented on #30901
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39075` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-13 08:03] ihor-sviziev commented on #30744
Hi @Jeeva-Rathinam,
I'm closing this issue as it caused by using github based installation that designed only for contributions and it's described in the docs.

[2020-11-13 08:03] #30744 closed, assigned to ihor-sviziev

[2020-11-13 08:03] forcecodema commented on #29797
I found solution - the problem was JSON response in Dismiss.php action - I fixed it modifying the file as follows:

[code]

[2020-11-13 08:29] dverkade commented on #30901
@ihor-sviziev, thanks for verifying. We've tested this on our development environment as well and can verify that it doesn't work currently.

[2020-11-13 08:35] d-averkiev commented on #30864
Nope, my connection is preaty stable, my command `bin/magento queue:consumers:start async.operations.all` keeps constantly running and nothing in system.log.
If you are getting the timeout error, try to double check aws network connectivity insetting - vpc, security groups, etc.
Me also facing the timeout issue unless I set my magento cluster and Amason MQ instance in the same vpc and under the sa

[2020-11-13 08:36] Eddcapone opened #30913 "Unable to find template for sales/order/print/order_id/x"
### Summary (*)
I am searching the template for the order PDF which is showing in checkout success page when you click the "**print receipt**" link.

Where can I find it? I have to change the header.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation

[2020-11-13 08:38] engcom-Alfa commented on #26994
Hi, @riyajkadar .

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop.
Everything works as expected.

**Actual Result:** :heavy_check_mark: When adding product to order price is showing correctly ( 16,70 Euro )

![Simple product](https://user-images.githubusercontent.com/51679138/99047053-4ce2f400-259c-11eb-967f-17740fdd4b22.png)
![French site](https://user-images.github

[2020-11-13 08:38] #26994 closed, assigned to engcom-Alfa

[2020-11-13 08:43] HenriNijborg commented on #30908
I think there is a second line that needs fixing:
`$product = $this->productRepository->get($sku, ['edit_mode' => true]);`

should be retrieving the products without using the cache as it will be used to compare the new rules to the existing ones. If the cache isn't valid then my suggested fix will cause no error and it will proceed and overide possibly tier prices which aren't in the cache but ar

[2020-11-13 09:14] brianrootways commented on #14949
Hello,

I am getting an error (Something went wrong with your request. Please try again later.) while doing PayPal express checkout in firefox especially and redirect to PayPal website. In chrome, edge etc. working fine. Here I give you screenshot for better understanding.

![paypal-express](https://user-images.githubusercontent.com/68637204/99052267-a4925700-25be-11eb-9904-1331246f3df3.jpg)

[2020-11-13 09:15] brianrootways commented on #28092
I am getting an error (Something went wrong with your request. Please try again later.) while doing PayPal express checkout in firefox especially and redirect to PayPal website. In chrome, edge etc. working fine. Here I give you a screenshot for better understanding.

Can you please help me to fix this issue?

![paypal-express](https://user-images.githubusercontent.com/68637204/99052871-d1466e80-2

[2020-11-13 10:23] engcom-Alfa commented on #30884
Hi @gabrielagusmao .
Could you provide more details on how to reproduce this issue?
Thanks!

[2020-11-13 10:31] itisraza opened #30914 "Missing Indexes"
### Description (*)
Attached are some of the table indexes which are missing in the default installation of magento 2, these indexes once added will really boost the performance of both admin and the store

### Expected behavior (*)
From end user stand point, there is no change in the user experience and the admin side of the store

### Benefits
These indexes will improve the overall performance o

[2020-11-13 10:47] engcom-Alfa commented on #30752
Duplicate of #30099

[2020-11-13 10:47] #30752 closed, assigned to nobody

[2020-11-13 11:14] prasad1205 commented on #24902
@andrewkett   I'm using you are solution but in the emails I'm seen if customer using the ä, ü. ö those are coverted into ?," . because of this my email name is not looking good and meshed up.
Please possible provide the solution.
thanks

[2020-11-13 11:16] sodhancha commented on #30864
@d-averkiev can you tell me which protocol is being used to connect to 'xxx-yyy.mq.us-east-1.amazonaws.com'

[2020-11-13 11:59] dcruz11 commented on #5351
Hi everyone, any solution to fix this bug?

[2020-11-13 11:59] d-averkiev commented on #30864
Honestly, I have no idea )
According to https://www.rabbitmq.com/ssl.html looks like there is only way (protocol) to establish **secure** connection to rmq server.
From client (magento) side there is only one flag that controls this - `'queue' => ['amqp' => ['ssl' ...]]`
So to be sure about what exactly protocol controlled by this flag you have to check related magento module source code.

[2020-11-13 12:25] convenient opened #30915 "New Relic is not being given useful transaction names for graphql requests"
 
{quote}
### Description (*)

Every graphql is being given the same transaction name in new relic.

This means when using a PWA site that most of the requests do not get split out in any useful way in New Relic. They all get lumped into `/FrontController/Magento\GraphQl\Controller\GraphQl\Interceptor`.

This makes it really hard to debug specific slow or buggy requests. I would classify this as a

[2020-11-13 12:52] m2-assistant[bot] opened #30916 "[Issue] [MFTF] Add StorefrontCheckoutClickSaveAddressButtonActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30528: [MFTF] Add StorefrontCheckoutClickSaveAddressButtonActionGroup

---------
This PR add `StorefrontCheckoutClickSaveAddressButtonActionGroup`

[2020-11-13 12:58] pemann commented on #30914
@itisraza where did that list come from? Which indexes particularly will boost the performance?

[2020-11-13 13:03] m2-assistant[bot] opened #30917 "[Issue] [MFTF] Add new AdminClickAddProductToggleAndSelectProductTypeActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30525: [MFTF] Add new AdminClickAddProductToggleAndSelectProductTypeActionGroup

---------
This PR add `AdminClickAddProductToggleAndSelectProductTypeActionGroup`

[2020-11-13 13:24] itisraza commented on #30914
This list is pulled directly from database, so these are FK/relational IDs but not indexed and these will slow down performance of underlying database queries for sure whenever and wherever these are referenced in JOIN or in WHERE clause.

Hope this answers your question.

Let me know if you need more details.

Regards,
Raza.

[2020-11-13 13:28] gabrieldagama commented on #29920
Hi @joeshelton-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#29923 by @saphaljha in 2.4-develop branch
Related commit(s):
 - [1ea32084a4c1a9fabe6af0dd6a3b9e219caf6795](https://github.com/magento/magento2/commit/1ea32084a4c1a9fabe6af0dd6a3b9e219caf6795)
 - [f01de6cad7c45055aa0a4b7308fe435aaf50a1f7](https://github.com/magento/magento2/commit/f01de6cad7c45055aa0a4b7

[2020-11-13 13:28] #29920 closed, assigned to nobody

[2020-11-13 13:28] gabrieldagama commented on #30833
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30793 by @samuel27m in 2.4-develop branch
Related commit(s):
 - [d9ffc76bd88fcfb1aec5ed30397e894e54778e4b](https://github.com/magento/magento2/commit/d9ffc76bd88fcfb1aec5ed30397e894e54778e4b)

The fix will be available with the upcoming 2.4.2 release.

[2020-11-13 13:28] #30833 closed, assigned to samuel27m

[2020-11-13 13:28] gabrieldagama commented on #30408
Hi @sanjay-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#30411 by @sanjay-wagento in 2.4-develop branch
Related commit(s):
 - [043bf815aed0d042c15400227039d89e3ad3ca08](https://github.com/magento/magento2/commit/043bf815aed0d042c15400227039d89e3ad3ca08)
 - [1e11f7f15d61718c74ff4233468af727918e6f03](https://github.com/magento/magento2/commit/1e11f7f15d61718c74ff42

[2020-11-13 13:28] #30408 closed, assigned to sanjay-wagento

[2020-11-13 13:28] gabrieldagama commented on #30255
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#30391 by @shikhamis11 in 2.4-develop branch
Related commit(s):
 - [f54561ea2ac52623695a91ea54bbd71b8f1fa101](https://github.com/magento/magento2/commit/f54561ea2ac52623695a91ea54bbd71b8f1fa101)
 - [16e962d30934ea24c653aff9e2407ebf01494085](https://github.com/magento/magento2/commit/16e962d30934ea24c653

[2020-11-13 13:28] #30255 closed, assigned to shikhamis11

[2020-11-13 13:28] gabrieldagama commented on #197
Hi @hackin88. Thank you for your report.
The issue has been fixed in magento/magento2#30774 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [e4c9861c6ed88f4b4081d0779af78cd0069fa5a9](https://github.com/magento/magento2/commit/e4c9861c6ed88f4b4081d0779af78cd0069fa5a9)

The fix will be available with the upcoming 2.4.2 release.

[2020-11-13 13:28] gabrieldagama commented on #30781
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30774 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [e4c9861c6ed88f4b4081d0779af78cd0069fa5a9](https://github.com/magento/magento2/commit/e4c9861c6ed88f4b4081d0779af78cd0069fa5a9)

The fix will be available with the upcoming 2.4.2 release.

[2020-11-13 13:28] #30781 closed, assigned to vovayatsyuk

[2020-11-13 13:28] gabrieldagama commented on #30680
Hi @DiegoSana. Thank you for your report.
The issue has been fixed in magento/magento2#30681 by @DiegoSana in 2.4-develop branch
Related commit(s):
 - [381e2ea41f05c6ba581e4a0966d37eb767d3411a](https://github.com/magento/magento2/commit/381e2ea41f05c6ba581e4a0966d37eb767d3411a)
 - [09c125acd875b284a222d8cd21c6d4bf4e3b6242](https://github.com/magento/magento2/commit/09c125acd875b284a222d8cd21c6d4bf

[2020-11-13 13:28] #30680 closed, assigned to DiegoSana

[2020-11-13 13:28] gabrieldagama commented on #24730
Hi @jigar48. Thank you for your report.
The issue has been fixed in magento/magento2#30632 by @mozok in 2.4-develop branch
Related commit(s):
 - [2389da7df17a410deefac9d1f609da78f57c95d8](https://github.com/magento/magento2/commit/2389da7df17a410deefac9d1f609da78f57c95d8)
 - [682750315c1760c9a028cb212d87d978b4002d12](https://github.com/magento/magento2/commit/682750315c1760c9a028cb212d87d978b4002d

[2020-11-13 13:28] #24730 closed, assigned to mozok

[2020-11-13 13:28] gabrieldagama commented on #30009
Hi @mtbottens. Thank you for your report.
The issue has been fixed in magento/magento2#30010 by @mtbottens in 2.4-develop branch
Related commit(s):
 - [51096cb8446ad542b76f127ca53ac48e9a39c944](https://github.com/magento/magento2/commit/51096cb8446ad542b76f127ca53ac48e9a39c944)
 - [fc741968d3c8a4d01d75be7d437bcf5a59f108c1](https://github.com/magento/magento2/commit/fc741968d3c8a4d01d75be7d437bcf5a

[2020-11-13 13:28] #30009 closed, assigned to mtbottens

[2020-11-13 13:28] gabrieldagama commented on #30361
Hi @Viktorja1. Thank you for your report.
The issue has been fixed in magento/magento2#30400 by @shikhamis11 in 2.4-develop branch
Related commit(s):
 - [6ffb8b1b5ec4919f40684b575120bca4e9707152](https://github.com/magento/magento2/commit/6ffb8b1b5ec4919f40684b575120bca4e9707152)
 - [87d870cc9a54641a1d830d1b85a8edc7aadcd3de](https://github.com/magento/magento2/commit/87d870cc9a54641a1d830d1b85a8ed

[2020-11-13 13:28] #30361 closed, assigned to ashvin0009

[2020-11-13 13:28] gabrieldagama commented on #30362
Hi @Viktorja1. Thank you for your report.
The issue has been fixed in magento/magento2#30400 by @shikhamis11 in 2.4-develop branch
Related commit(s):
 - [6ffb8b1b5ec4919f40684b575120bca4e9707152](https://github.com/magento/magento2/commit/6ffb8b1b5ec4919f40684b575120bca4e9707152)
 - [87d870cc9a54641a1d830d1b85a8edc7aadcd3de](https://github.com/magento/magento2/commit/87d870cc9a54641a1d830d1b85a8ed

[2020-11-13 13:28] #30362 closed, assigned to shikhamis11

[2020-11-13 13:28] gabrieldagama commented on #29600
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27379 by @kandy in 2.4-develop branch
Related commit(s):
 - [28d2a5bf4bd3588dfe6f0d3d0fc2036c6fcc9ef7](https://github.com/magento/magento2/commit/28d2a5bf4bd3588dfe6f0d3d0fc2036c6fcc9ef7)

The fix will be available with the upcoming 2.4.2 release.

[2020-11-13 13:28] #29600 closed, assigned to nobody

[2020-11-13 13:28] gabrieldagama commented on #30073
Hi @Stepa4man. Thank you for your report.
The issue has been fixed in magento/magento2#30114 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [080a349d99b9d3190448a67a269242c575b255b3](https://github.com/magento/magento2/commit/080a349d99b9d3190448a67a269242c575b255b3)
 - [aaab946db220cb64f4e3d2d59bc39925b217b27f](https://github.com/magento/magento2/commit/aaab946db220cb64f4e3d2d59bc39

[2020-11-13 13:28] #30073 closed, assigned to Bartlomiejsz

[2020-11-13 13:28] gabrieldagama commented on #29987
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29986 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [f54cce701d66c33af2d247513bdc7b70bef0d837](https://github.com/magento/magento2/commit/f54cce701d66c33af2d247513bdc7b70bef0d837)
 - [5ec2c82c028632c4bb1d3f692a95f93d0a0e7823](https://github.com/magento/magento2/commit/5ec2c82c028632c4bb1d3f692a9

[2020-11-13 13:28] #29987 closed, assigned to nobody

[2020-11-13 13:28] gabrieldagama commented on #30896
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30895 by @gabrieldagama in 2.4-develop branch
Related commit(s):
 - [b891c9a2b2ddfcc647dacb47f036ff269f3ac4fa](https://github.com/magento/magento2/commit/b891c9a2b2ddfcc647dacb47f036ff269f3ac4fa)

The fix will be available with the upcoming 2.4.2 release.

[2020-11-13 13:28] #30896 closed, assigned to gabrieldagama

[2020-11-13 13:32] #26943 closed, assigned to bgorski

[2020-11-13 13:36] Artishhh opened #30918 "Can`t apply link to widget with TinyMCE 4 Magento 2.3.5-p1"
### Preconditions (*)

1. Magento 2.4-develop
2. Magneto 2.3.5 and Magneto 2.3.5-p1 fresh project without sample data.

### Summary (*)
1. After TinyMCE 4 update widgets can`t be wrapped in link with WYSIWYG editor

### Steps to reproduce (*)

0. Steps on Fresh magneto 2 installations.
1. Make sure TinyMCE 4 is enabled for the WYSIWYG editor
2. Edit homepage cms page
3. Add any widget to a home pa

[2020-11-13 14:09] magento-engcom-team commented on #25668
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39077` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-13 14:19] pedro0506 commented on #8267
for me none of the alternatives worked. Magento 2.3.5-p1

[2020-11-13 14:34] engcom-Delta commented on #28317
Issue is not reproducible on the latest 2.4-develop
**Result:**
:heavy_check_mark: Appropriate values are shown in `core_config_data` table
- "Use Web Server Rewrites"=Yes for `Main Website`(ID:1)
- "Use Web Server Rewrites"=No for `New Website`(ID:2)

![image](https://user-images.githubusercontent.com/51681379/99082914-76684380-25cd-11eb-82a1-26fd90396184.png)

[2020-11-13 14:34] #28317 closed, assigned to nobody

[2020-11-13 15:20] apuc opened #30920 "Upgrading magento 2.3.5 to 2.4.0"
### Preconditions (*)
1. Magento 2.3.5, php 7.3.24, mysql 8
2. Magento 2.3.5 with theme Supro

### Steps to reproduce (*)
1. installing Elasticseacrh 7.10.0
2. composer require magento/composer-root-update-plugin=~1.0 --no-update
composer update
3. composer require magento/product-community-edition=2.4.0 --no-update
composer update
4. I updated versions of packages from require that gave errors

#

[2020-11-13 15:41] engcom-Delta commented on #28458
Hi @zakaria-jnh thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
Manual testing scenario:
1. Create additional website, store, view in Stores / All Stores
![image](https://user-images.githubusercontent.com/51681379/99089943-a10aca00-25d6-11eb-9334-c298eb9d9981.png)
2. Enable "Add Store Code to Urls"  under Stores / Configuration /  Web /  Url O

[2020-11-13 15:41] #28458 closed, assigned to nobody

[2020-11-13 15:48] #30475 closed, assigned to sasha19957099

[2020-11-13 16:03] laurentiumagureanu opened #30921 "GraphQL response not compliant with UI behavior"
### Preconditions (*)

1. Magento 2.4.1 CE

### Steps to reproduce (*)

The bug described below affects Bundle and Configurable Product. Might affect other kinds of product grouping but I haven't tested.

1. Create or edit a **Bundle** or **Configurable** Product
2. Add products to bundle or configuration
3. Save the bundle/configuration.
4. Open one of the products previously added to the bundle/

[2020-11-13 16:04] laurentiumagureanu commented on #30921
@magento export issue to Jira project MCLOUD as Bug

[2020-11-13 16:11] pixel-paul commented on #25885
I'm getting this issue after upgrading from 2.3.5-p1 to 2.3.5-p2.

[2020-11-13 16:45] jordanvector commented on #30874
@zhouzuoxuan do have L2 redis caching configured?  There is an issue on 2.3.4 with L2 redis caching and saving category data.

Its fixed in newer versions, there is also a magento cloud patch to fix it as well if you are on magento cloud

[2020-11-13 17:15] vseager commented on #15427
We have just had the issue on 2.3.5-p2:

[code]

[2020-11-13 17:38] SlowFamily commented on #30696
I am experiencing the same issue. 2.4.1 Fresh install on empty database:

Module 'Magento_InventorySales':

In PatchApplier.php line 247:

  Unable to apply patch Magento\InventorySales\Setup\Patch\Schema\InitializeWebsiteDefaultSock for module Magento_InventorySales. Original exception message: The default website isn't defined. Set the website and try again.

[2020-11-13 17:42] pixel-paul commented on #30753
I encountered this going from 2.3.5 to 2.3.6

[2020-11-13 18:31] sdzhepa commented on #30869
The related internal Jira ticket `MC-38939` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-38939&type=commits

[2020-11-13 18:34] magento-engcom-team commented on #30302
The related internal Jira ticket `MC-24038` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-13 19:46] dpanfili commented on #14881
Wow - something that simple resolved the issue for me. Although with my set of data, which includes commas and quotes within HTML of some fields, I'm not 100% sure of the purpose of "Field Enclosure" now.

[2020-11-13 20:05] timbot18 commented on #14881
i was able to get them imported using this method after using sql (below) to import my attributes.

i recently had to import them again, so i took notes of the sql used:

INSERT INTO   `eav_attribute` VALUES (attribute_id | entity_type_id | attribute_code | attribute_model | backend_model | backend_type | backend_table | frontend_model | frontend_input | frontend_label | frontend_class | source_mo

[2020-11-13 20:50] jsamhall commented on #29243
@namluu @sergey-ctrl Like you I have been waiting for an update on this important problem, so I thought you might appreciate what I found.

We have encountered this problem in our live web store where we wish to use Braintree to process credit cards, and PayPal Express Checkout as another payment option, and specifically NOT using Braintree for PayPal.

I found that when PayPal Express and Braintr

[2020-11-13 20:57] SlowFamily commented on #30696
Starting from another fresh install via composer, and it did install successfully. Suspect previous error may have occurred  due to an initial issue when creating the project.

[2020-11-13 21:10] m2-assistant[bot] opened #30922 "[Issue] Bugfix - Payment Method without label position in the array"
This issue is automatically created based on existing pull request: magento/magento2#30907: Bugfix - Payment Method without label position in the array

---------
### Description (*)
Look at position 14 the Payment Provider may forget the *label* and this can break the store.

Then, to avoid this bug I put a verification.

[code]

### Related Pull Requests
No

### Manual testing scenarios (*)
Anyo

[2020-11-13 21:27] chrisbadley commented on #30380
The product type would be Configurable.

[2020-11-13 21:38] #29479 closed, assigned to cpartica, sasha19957099

[2020-11-13 21:38] #29168 closed, assigned to Usik2203

[2020-11-13 21:39] gabrielagusmao commented on #30884
Hi, this is the issue

Em sex., 13 de nov. de 2020 às 07:23, Oleksii Stasiv <
notifications@github.com> escreveu:

--
Atenciosamente,

[2020-11-13 23:26] #26172 closed, assigned to nobody

[2020-11-14 04:11] advocat commented on #26375
I found one more case that caused the same issue

**Preconditions (*)**
- Magento 2.4.1 installed
- Google Tag Manager is enabled
- Cash Money Order payment is enabled

**Steps to reproduce (*)**
- Enable and configure Google Tag Manager
- Add a product to cart
- Go to checkout
- Proceed to payment step

**Expected result (*)**
The address has correct street

**Actual result (*)**
The address sect

[2020-11-14 06:43] xeontcs commented on #26960
I can reproduce this in 2.3.5-p1

[2020-11-14 07:41] stefas1 commented on #24381
Hi @rpelorosso, We are having the same exact issue. Have you managed to figure it out ?

[2020-11-14 16:18] #23069 closed, assigned to engcom-Echo

[2020-11-14 16:18] #30585 closed, assigned to engcom-Echo

[2020-11-14 16:18] #30645 closed, assigned to engcom-Golf

[2020-11-14 16:25] #24576 closed, assigned to engcom-Golf

[2020-11-14 19:24] engcom-Delta commented on #27844
@extroniks @davidwindell  I checked issue on magento 2.4-develop + [security-package 1.0-develop](https://github.com/magento/security-package) and I didn't have such decrease of page load.
**Manual testing scenario:**
- Install magento 2.4-develop with [security-package 1.0-develop](https://github.com/magento/security-package)
- Enable recapthca for Contact Us and Newsletter Subscription
![image](

[2020-11-14 19:24] #27844 closed, assigned to nobody

[2020-11-14 22:11] Nuranto commented on #19156
Hi @Rich07082,

Did you find a solution for this problem ?

[2020-11-14 22:36] OleksiyOleksiyovych opened #30924 "Billing address parameter 'same_as_shipping' cause error 'The shipping method is missing'"
### Issue

Error after place order: The shipping method is missing. Select the shipping method and try again
### Steps to reproduce
1. Logged in customer
1. Run mutations setShippingAddressesOnCart and setShippingMethodsOnCart
1. Check database table `quote_address` - shipping method is selected for quote address
1. Run mutation setBillingAddressOnCart with `same*as*shipping = true`
1. Check shipp

[2020-11-15 01:46] mlambley commented on #24576
Which PR/commit if you don't mind me asking? Just curious.

[2020-11-15 08:14] Nuranto commented on #19156
found it, ok so if someone have this issue, here it is :
The `setup:install` process miss some lines in `catalog_eav_attribute` (including the category's url_key one).
So I just insert the missing line from another install, and it solved the issue.

Note : It was the first time it happened to me even though I made plenty of installs (always the same way)... So I don't know the conditions to reprod

[2020-11-15 08:25] meer-online commented on #23922
@overrode  Facing the same issue, Any thougts? Were you able to fix this?

[2020-11-15 10:26] meer-online commented on #18382
@joshdavenport @Dan547 Is this issue fixed? I still can reproduce this with 2.4 version with the above mentioned steps.

[2020-11-15 10:55] mrtuvn commented on #30603
Default magento not provide default template for such form. But you can build your own form with basic styles

[2020-11-15 12:45] mrtuvn commented on #29334
Maybe we need update code in sampledata repo. Scenario happen when clean install at first try

[2020-11-15 13:10] magento-engcom-team commented on #30916
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30528 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [8e463fe7ed074164d286a19ea13d1d602f648315](https://github.com/magento/magento2/commit/8e463fe7ed074164d286a19ea13d1d602f648315)
 - [a54cc969035566c5457b78ce9aa91d7c03ad4c2e](https://github.com/magento/magento2/commit/a54cc969035566c5457b78ce9

[2020-11-15 13:10] #30916 closed, assigned to Usik2203

[2020-11-15 13:10] magento-engcom-team commented on #30859
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30825 by @thomas-kl1 in 2.4-develop branch
Related commit(s):
 - [b783a1d1540ed662e4683932a4fa5824aa3942ea](https://github.com/magento/magento2/commit/b783a1d1540ed662e4683932a4fa5824aa3942ea)
 - [e5363d9172ab50dcb7f3568101c46685bd23818b](https://github.com/magento/magento2/commit/e5363d9172ab50dcb7f3568

[2020-11-15 13:10] #30859 closed, assigned to thomas-kl1

[2020-11-15 13:10] magento-engcom-team commented on #30917
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30525 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [80f246316cab4afa4dcc96004ae365da490d847a](https://github.com/magento/magento2/commit/80f246316cab4afa4dcc96004ae365da490d847a)
 - [ad78f7005d784e67728db479369f65d0bdcab929](https://github.com/magento/magento2/commit/ad78f7005d784e67728db4793

[2020-11-15 13:10] #30917 closed, assigned to Usik2203

[2020-11-15 13:10] magento-engcom-team commented on #30783
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30777 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [66ef4fde0786f8340cc2c14ed6069e3a5c88065d](https://github.com/magento/magento2/commit/66ef4fde0786f8340cc2c14ed6069e3a5c88065d)
 - [0a5a47560a0849bc5a174cd5545b47d0b937a181](https://github.com/magento/magento2/commit/0a5a47560a0849bc5a174cd55

[2020-11-15 13:10] #30783 closed, assigned to Usik2203

[2020-11-15 13:10] magento-engcom-team commented on #30184
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30090 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [81c40a58493ff83fb0dfe0c378c4c4635b75d377](https://github.com/magento/magento2/commit/81c40a58493ff83fb0dfe0c378c4c4635b75d377)
 - [d060ce60985557d5fe270045495f9e347db0c11f](https://github.com/magento/magento2/commit/d060ce60985557d5fe270

[2020-11-15 13:10] #30184 closed, assigned to nobody

[2020-11-15 14:30] joshdavenport commented on #18382
Not done any large import yet in 2.4 but wouldn't be surprised if the issue is still present. Give the lack of recognition this issue received, it's apparently a niche issue. Doesn't feel like that when you have to deal with the repercussions unfortunately!

I believe we ultimately had to pull apart our import, compare attribute options in the spreadsheet to options grabbed from the database, and

[2020-11-15 17:28] ghost opened #30925 "System integration issue"
### Preconditions (*)

1. Magento 2.4.1
2. php 7.1
3. Mysql 5.7

### Steps to reproduce (*)

1. Add new integration with all allowed
2. Click Authorize

### Expected result (*)

1. Authorization succesfull and integration enable. Generation of Api access.

### Actual result (*)

1. Error on exception.log.
[2020-11-15 17:22:06] main.CRITICAL: Role '241' not found {"exception":"[object] (Zend_Acl_Ro

[2020-11-15 17:30] achatpc commented on #30925
@magento give me 2.4-develop instance

[2020-11-15 17:32] achatpc commented on #30925
@magento I am working on this

[2020-11-15 17:32] achatpc commented on #30925
@magento add to contributors team

[2020-11-15 17:32] achatpc commented on #30925
@magento add to contributors team

[2020-11-15 17:33] achatpc commented on #30925
@magento give me 2.4-develop instance

[2020-11-16 07:21] chiranjeevi-cj commented on #30924
@magento I am working on this

[2020-11-16 07:56] pemann commented on #30925
@magento give me 2.4-develop instance

[2020-11-16 08:10] vtransy commented on #28614
hello

Using cloudflare and setup rule to block unwanted ip resolves this issue:
You can use following url patern

**`*/rest/*/V1/guest-carts/*/payment-information`**

then set same IP exceeds 5 time per minute
I tested and see thatc the whole checkout process of a customer just call */rest/*/V1/guest-carts/*/payment-information  1 time so for a single IP, 5 time per minute is marked as attacker.

[2020-11-16 08:29] molotow11 commented on #23846
Hello,

We have Magento 2.3.5 and currency import suddenly stop working.
We have Scheduled Import Settings enabled with Fixer.io
It is nothing in logs, Error Email not sent.
We have nothing related with currency in mg_cron_schedule table.

[2020-11-16 09:00] engcom-Alfa commented on #30691
The issue is reproducible on fresh 2.4-develop.

**Actual Result:** :heavy_multiplication_x:

![Peek 2020-11-16 10-57](https://user-images.githubusercontent.com/51679138/99232684-e7d90980-27fa-11eb-8398-02070d58c797.gif)

[2020-11-16 09:01] magento-engcom-team commented on #30691
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39096` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-16 10:03] m2-assistant[bot] opened #30926 "[Issue] [MFTF] Add StorefrontClickProceedToCheckoutActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30529: [MFTF] Add StorefrontClickProceedToCheckoutActionGroup

---------
This PR add new `StorefrontClickProceedToCheckoutActionGroup`
### Related Pull Requests

[2020-11-16 11:11] engcom-Alfa commented on #30503
@magento give me 2.4-develop instance

[2020-11-16 11:26] lbajsarowicz opened #30927 "Performance Toolkit installs Fixtures using only one CPU"
### Summary (*)
Installing performance fixtures should use all available resources, to set up as fast as possible.
Current implementation uses only 1 CPU that takes ages to finish even on 24 CPU environments.

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Report

[2020-11-16 11:44] engcom-Alfa commented on #30503
Hi @davirs .

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop instance following by your scenario.
Everything works as expected.

**Actual Result:** :heavy_check_mark: A product is saved without any errors.

![Screenshot from 2020-11-16 13-42-00](https://user-images.githubusercontent.com/51679138/99248701-8cfedc80-2811-11eb-9eae-9ec62403329b.png)

@davirs Are you able

[2020-11-16 11:52] engcom-Alfa commented on #30824
@magento give me 2.4.1 instance

[2020-11-16 12:31] magecoders commented on #23450
@HenKun  I agree with your points, I have debug into running consumer process and they stuck due to DB lock in my case.

[2020-11-16 12:35] engcom-Echo commented on #30269
![Peek 2020-11-16 11-58](https://user-images.githubusercontent.com/51681435/99252553-cd615900-2817-11eb-8c9c-941aece8808c.gif)

I checked it again, and now this issue can't reproduce. So all that remains is to restore the mentioned above test.
Thank you for your collaboration.

[2020-11-16 12:46] rifki commented on #13952
Hi @magento-engcom-team Any update on this?

[2020-11-16 12:48] #30269 closed, assigned to engcom-Echo

[2020-11-16 12:58] engcom-Alfa commented on #30824
Hi @bargoslino .

Unfortunately, we are not able to reproduce this issue on 2.4-develop.
Look like the issue connect with custom module. ( in part `Stores>Sales>Shipping Settings>Scheduled Delivery>Holiday Days to update`).
So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-r

[2020-11-16 12:58] #30824 closed, assigned to engcom-Alfa

[2020-11-16 13:00] engcom-Delta commented on #30913
Hi @Eddcapone
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-16 13:00] #30913 closed, assigned to nobody

[2020-11-16 13:20] magento-engcom-team commented on #30723
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39097` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-16 14:06] viniciusbordinhao-blueacorn commented on #25111
@magento-engcom-team It has been resolving by this commit below:

https://github.com/magento/magento2/commit/c4c453565a7d0e35862bfc7ac0decb1ab60f4c8e

[2020-11-16 14:25] mrtuvn commented on #29334
May related with this scenario
https://github.com/magento/magento2/pull/30928

[2020-11-16 14:41] engcom-Hotel commented on #15609
Hello @viniciusbordinhao-redstage.
Haven't able to reproduce the issue at 2.4 version.
Could you please check if you able to do it?
Thank you.

[2020-11-16 15:20] viniciusbordinhao-blueacorn commented on #29690
@magento I am working on this

[2020-11-16 15:37] jesse-deboer commented on #28860
This does seem to work for me, the issue is resolved when adding this line!

[2020-11-16 15:39] rationalculturetv opened #30929 "Two Factor Authentication (2FA - Google Auth)"
### Preconditions (*)

1.Magento ver. 2.3.5-p2
2.2FA - Google Auth

### Steps to reproduce (*)

1. Loign admin page
2.

### Expected result (*)

1.
2.

### Actual result (*)

1. login page does not allow to loign witht the code provided by google authenticator. I have tried many times and sometimes accepts the same code after 3 our 4 times, sometimes you try 20 new codes and you still cannot login

[2020-11-16 15:44] engcom-Delta commented on #25476
Issue is not reproducible on the latest 2.4-develop
**Manual testing scenario:**
1. Under Stores / Attributes / Products / Create New Attribute Type drop down called shoe_size
2. Add some values to it Eg 10, 11, 12
![image](https://user-images.githubusercontent.com/51681379/99267271-6601d400-282c-11eb-9af2-43814f699d11.png)
3. Under Storefront Properties tab, set Use for Promo Rule conditions to Y

[2020-11-16 15:44] #25476 closed, assigned to nobody

[2020-11-16 16:51] m2-assistant[bot] opened #30931 "[Issue] Typed variadic arguments fail to be injected"
This issue is automatically created based on existing pull request: magento/magento2#30888: Typed variadic arguments fail to be injected

---------

### Description (*)

Related with https://github.com/magento/magento2/pull/24556.

That PR allowed to inject scalar values as variadic parameters, but **does not work for object injections**. Object definitions don't get instantiated, and target class

[2020-11-16 16:53] m2-assistant[bot] opened #30932 "[Issue] Clean unneccesary prefix flexbox"
This issue is automatically created based on existing pull request: magento/magento2#30923: Clean unneccesary prefix flexbox

---------

### Description (*)

Magento now support IE 11+ (mgt2.3) and major browsers update support flexbox so i think it's time for clear prefix flexbox
Only clear prefix and keep name mixins for maintain compatible

[2.3.x browser support](https://devdocs.magento.com/gu

[2020-11-16 16:55] m2-assistant[bot] opened #30933 "[Issue] Update AddDataForPoland.php in module-directory"
This issue is automatically created based on existing pull request: magento/magento2#30930: Update AddDataForPoland.php in module-directory

---------
Update typo on a comment at the top of the file. From "PLYING.txt" to "COPYING.txt"

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2

[2020-11-16 16:57] m2-assistant[bot] opened #30934 "[Issue] Allow virtual proxies to work"
This issue is automatically created based on existing pull request: magento/magento2#27644: Allow virtual proxies to work

---------

### Summary

It is impossible to make virtual proxies to work. Motivation and use case are described below in the description. This is the summary of changes proposed.

- \Magento\Setup\Module\Di\Code\Scanner\XmlScanner: Limit responsibility to filter entities, do n

[2020-11-16 17:18] perfpcs opened #30935 "Magento 2.4.1 Rewrite conflicts"
### Preconditions (*)

Using the latest version of Magento 2.4.1 along with php 7.4.12 I am using the Mirasvit Health Monitor and it has identified at least 4 rewrite conflicts within this version of Magento. They are as follows:

1. Parent:Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Alerts\Stock---->Rewrite:Magento\InventoryProductAlert\Block\Adminhtml\Product\Edit\Tab\Alerts\Stock

2.  Pare

[2020-11-16 18:01] davirs commented on #30503
@engcom-Alfa The problem exists. If I delete the first website (default magento) and maintein another websites that error will appears. To bypass this problem I only renamed this default website and deleted all another websites. For example:
![image](https://user-images.githubusercontent.com/4355062/99289375-9d1bb980-281b-11eb-8c98-13a2f0821949.png)

Another ploblem is related with Default Store V

[2020-11-16 18:39] larsroettig opened #30936 "Perfomance:Cms/Model/Page/DataProvider.php#L103 loads full collection without any filter"
###### (i) This ticket is created automatically based on a verified GitHub issue.
{panel}
***If you are starting to work on this Jira ticket, please notify issue reporter and authors of related community pull requests (if any) that you are going to work on this issue:***
  1.  *Assign [#30936](https://github.com/magento/magento2/issues/30936) issue to yourself on Magento GitHub*
  2.  *Add comment

[2020-11-16 20:38] engcom-Delta commented on #26849
Hi @xtremevision I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Welcome email is sent after customer was registered
![image](https://user-images.githubusercontent.com/51681379/99305403-674af500-285c-11eb-817b-3e68597186fa.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://g

[2020-11-16 20:38] #26849 closed, assigned to nobody

[2020-11-16 21:40] xtremevision commented on #20415
Still happening for me as well, Magento 2.3.5-p1, customer is logged in, but I am still getting the auth pop-up.

[2020-11-16 22:41] joshdavenport commented on #30046
Really didn't want to leave a +1 type response here, but given the lack of attention this seems to have received over the last year or two I feel obliged to say that this is a real point of pain not just for us but apparently plenty of others too. We'd all highly value a fix for this.

Especially given in a recent upgrade from 2.2 to 2.3/2.4 previous workarounds we had in place are no longer worki

[2020-11-16 22:44] rpelorosso commented on #24381
Hi @stefas1 ! Sorry for my late response. As I send the shipping notifications right after generating the shipments, what I did in the end was to store the correct tracking number for each order in a map, and then when I generate the html for the notification emails, I get the tracking number from there instead of using  $track->getTrackNumber();

It's not pretty, but it works. Let me know if you

[2020-11-16 22:54] fredden commented on #29036
This looks like a duplicate of #24635

[2020-11-16 22:55] fredden commented on #24635
@engcom-Delta please re-open this.

[2020-11-17 05:08] devamitbera commented on #30847
@magento I am working on this

[2020-11-17 07:22] moazzama opened #30942 "Send tracking INformatoin error on shipment mail"
i have faced the issue when we click on (SEND TRACKING INFORMATION) THEN page is like a (on magento 2.3.5 p1 and magento 2.4.1)

1. Both in Production and Development Environment
2. go to order>shipment>click on SEND TRACKING INFORMATION
3.That is actual result

![Screenshot (57)](https://user-images.githubusercontent.com/68050583/99358574-8c2c8000-28cf-11eb-94c5-a9aca646fdbf.png)

[2020-11-17 08:14] ATsunade opened #30944 "Payflow Link show "your payment has been declined" but actually charge customers"
### Preconditions (*)

1. Magento 2.3.2
2. Payflow Link
3. PHP version 7.1.33

### Steps to reproduce (*)

1. Checkout using Paypal payment Gateways : Payflow Links
2. Pay Now

### Expected result (*)

1. Go to success page
2. Update order status to pending shipment

### Actual result (*)

1. Show massage "Your payment has been declined, Please try again."
2. Order add to backend in pending paymen

[2020-11-17 08:17] igorwulff opened #30946 "Performance toolkit - generating fixtures gives error during customer template creation"
### Preconditions (*)
Magento Commerce 2.4.1 installed through composer, but most likely other versions as well

### Steps to reproduce (*)
bin/magento setup:performance:generate-fixtures -s setup/performance-toolkit/profiles/ee/small.xml

### Expected result (*)
I except to have no error while generating the fixture.

### Actual result (*)
Error: Cannot generate entities - error occurred during t

[2020-11-17 08:21] stefas1 commented on #24381
Hi @rpelorosso. Thank you for your response. Yes, it seems the only way to avoid digging further into the problem. We, on the other hand, did it by shipping one order per cron run. Not very optimal but in the specific case it did the trick.

[2020-11-17 08:30] ihor-sviziev commented on #26960
In order to have fully functional fix for all cases - we should introduce some tags splitting mechanism. There was one trial to do that in https://github.com/magento/magento2/pull/12831, but it wasn't finalized.
If someone interested in fixing this issue - please create PR with the same changes + fix the all requested changes in https://github.com/magento/magento2/pull/12831#pullrequestreview-1282

[2020-11-17 08:31] igorwulff commented on #30946
I've replaced the region_id value to 3 in the CustomerTemplateGenerator.php as a workaround. Since 3 is the lowest available value for US states (Alabama) in the database.

After running the script again, I receive a new error also at the **generating customers** step:
The entity ID field for the "customer_address_entity_varchar" table wasn't found. Verify the field and try again.

This happens in

[2020-11-17 08:37] obihill commented on #29197
I also experienced this issue after a clean install of Magento 2.3.6 using Composer 1.10.13, and running `bin/magento list`.

The fix, in my case, was to reset permissions of the Magento root folder which was done using the following commands:

[code]

This code snippet is referenced in the [Magento Docs](https://devdocs.magento.com/guides/v2.3/install-gde/composer.html#set-file-permissions). You

[2020-11-17 08:47] engcom-Delta commented on #30696
@SlowFamily  I rechecked issue and it is not reproducible with magento 2.4.1 fresh install
**Manual testing scenario:**
- Get magento composer version:
[code]
- Install magento
[code]

**Result:**
:heavy_check_mark: Magento is installed without errors

If you'd like to update the issue, please reopen it.

[2020-11-17 08:47] #30696 closed, assigned to nobody

[2020-11-17 09:27] engcom-Delta commented on #30478
Hi @aktaruzzamancse  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: No errors when deploying static content in production mode
![image](https://user-images.githubusercontent.com/51681379/99371505-abbfaa80-28c7-11eb-8331-9cbc539f26e2.png)

If you'd like to update the issue, please reopen it.

[2020-11-17 09:27] #30478 closed, assigned to nobody

[2020-11-17 10:06] Eddcapone commented on #30913
@engcom-Delta This is a Developer experience issue, why did you created this issue category if such questions are not allowed?

![image](https://user-images.githubusercontent.com/16349349/99376185-e247f600-28c4-11eb-8b2d-5e81452f0839.png)

[2020-11-17 10:19] peterjaap commented on #29651
Indeed still an issue in 2.4.1.

[2020-11-17 10:28] dineshvb commented on #30387
@magento I am working on this

[2020-11-17 10:42] magento-engcom-team commented on #30918
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39113` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-17 10:52] calin-ImDigital opened #30948 "Graphql - issue adding multiple configurable products to cart"
### Preconditions (*)

1. magento 2.3.4

### Steps to reproduce (*)

create a mutation for addConfigurableProductsToCart with multiple configurable products

### Expected result (*)

1. products added to cart

### Actual result (*)
{
  "errors": [
    {
      "message": "You need to choose options for your item.",
      "extensions": {
        "category": "graphql-input"
      },
      "locations"

[2020-11-17 12:18] webamMarko opened #30949 "Products GraphQL query response inconsistent with results from Elasticsearch when sorting by price"
### Preconditions (*)

1. Magento 2.4.1
2. Ubuntu 18.04
3. Mysql 5.7.31-34
4. nginx/1.14.0 (Ubuntu)
5. PHP 7.3.24
6. Elasticsearch 7.10.0 (running via docker docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:7.10.0)

### Steps to reproduce (*)

1. Install Magento Open Source 2.4.1
2. Install Venia Sample data as described: https://ma

[2020-11-17 12:57] jeckojim commented on #28614
@aliomattux You're confirming that the Swissup labs extension protect your checkout, but do you know if your attacks are processed through the REST API?
Because Swissup labs says to us that they are not sure that their extension can protect this type of attacks and you are almost sure that our attacks don't hit the checkout page but goes straight with the API (no traffic spike in GA).
Thanks you

[2020-11-17 13:48] viniciusbordinhao-blueacorn commented on #30294
@magento I am working on it.

[2020-11-17 13:49] gondas33 opened #30951 "Magento 2.4.1 - ZIP code doesn't change unless other field is edited"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento 2.4.1

### Steps to reproduce (*)

1. Create an order where the zip code contains the ('.') character at the end;

![2020-11-19_12-17](https://user-images.githubusercontent.com/51679138/99652994-2cfe7500-2a61-11eb-8655-91f4bbbf1ea8.png)
2. Click on the **Edit** billing address button;
3. Remove the ('.') character from the zipcode;
2. Save

[2020-11-17 13:50] an4rei commented on #30951
@magento give me 2.4-develop instance

[2020-11-17 13:57] viniciusbordinhao-blueacorn commented on #30293
@magento I am working on it.

[2020-11-17 14:02] an4rei commented on #30951
issue is reproducible on dev: https://www.loom.com/share/fad8304feab342c6b560155488dae1a7
note: the zipcode must contain a '.' at the end, it might be the same case for other symbols as well.

[2020-11-17 14:06] engcom-Alfa commented on #29333
Hi @dcwnaveen. We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-11-17 14:06] #29333 closed, assigned to engcom-Alfa

[2020-11-17 14:25] peterjaap commented on #30277
Running into the same problem.

The `getAttributeHiddenFields` method does not exist in the JSON helper, but it does exist in the `Magento\Catalog\Helper\Data` helper. This helper was used in 2.3.6; https://github.com/magento/magento2/blob/2.3.6/app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/js.phtml#L205

But in 2.4.0 this was changed to the JSON helper; https://githu

[2020-11-17 14:27] peterjaap commented on #30277
Here's a patch I created to use with `vaimo/composer-packages`;

[code]

[2020-11-17 14:31] sky-hub opened #30952 "[Cart Rule] Incorrect discount amount applied for bundle products containing more than one option"
### Preconditions (*)

1. Magento 2.4 (probably older versions too)
2. Affects bundle products fixed cart discounts

Note: Because the `$availableDiscountAmount` is set to zero after processing the first item the other items will not have any discount applied.

### Steps to reproduce (*)

1. Install Magento 2.4 with sample data
2. Create cart rule with fixed discount amount for whole cart (Ex: 50$

[2020-11-17 14:37] engcom-Delta commented on #28087
Hi @frilogg thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop as Web Set Up Wizard was [removed](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html#infrastructure-improvements) since version 2.4.0

Closed as Cannot Reproduce on the latest megento version

[2020-11-17 14:37] #28087 closed, assigned to nobody

[2020-11-17 15:30] webkul-ajaysaini commented on #13225
static-content:deploy command doesn't generates any file under pub/static/_cache/merged in Magento 2.4.0

[2020-11-17 15:51] gwharton commented on #13225
@webkul-ajaysaini You are correct. The frontend does it as and when requests come in.

[2020-11-17 15:54] aliomattux commented on #28614
I believe all checkout requests use rest. Look at the access logs for your web server. Yes I’m sure it works

Sent from my iPhone

[2020-11-17 16:01] ivan-prysiazhniuk opened #30954 "Magento 2.4.1 doesn't display Cart Price Rule's description"
### Preconditions (*)

1. Pure Magento 2.4.1
2. PHP 7.4.12
3. Mysql - MariaDB 10.4.17
4. Elasticsearch 7.6.2
5. Server - Apache2 (2.4.29)
6. Installed Sample Data

### Steps to reproduce (*)

1. Create cart price rule in admin panel with this set of data and enable it:

2. Go to the storefront catalog and add some product to the cart
3. Go to "View and Edit Cart"

### Expected result (*)

1. Title

[2020-11-17 16:02] ivan-prysiazhniuk opened #30955 "Magento 2.4.1 displays Cart Price Rule's descriptions incorrectly"
### Preconditions (*)

1. Pure Magento 2.4.1
2. PHP 7.4.12
3. Mysql - MariaDB 10.4.17
4. Elasticsearch 7.6.2
5. Server - Apache2 (2.4.29)
6. Installed Sample Data

### Steps to reproduce (*)

1. Create two cart price rules in the admin panel with these sets of data:

**first rule:**

**second rule:**

2. Go to the storefront catalog and add **two or more** products to the cart
3. Go to "View and E

[2020-11-17 16:04] p-ivanko commented on #30954
@magento I am working on this

[2020-11-17 16:05] p-ivanko commented on #30954
@magento add to contributors team

[2020-11-17 16:05] p-ivanko commented on #30954
@magento I am working on this

[2020-11-17 16:19] shivnibble commented on #26817
@khaled-badenjki We've used the position sort solution for 2.3.4-p1 and have found that the value entered changes after saving - usually as if there's a multiplier being applied, but occasionally resulting in a negative value. Any insight?

I'm also curious if anyone has managed to apply the position sorting fix to the carousel product sliders as well?

[2020-11-17 16:23] lbajsarowicz commented on #30927
![image](https://user-images.githubusercontent.com/1639941/99416772-7f248680-28f9-11eb-9146-2e7e35b60210.png)

Installing `1.000.000` customers took 1h 40m.
Installing `10.000.000` Coupon Codes haven't finished in 26 hours.

[2020-11-17 17:01] navarr commented on #28051
@engcom-Delta If that expectation is correct, than there is no issue.  That was not my expectation.

My expectation would be that configured options are part of the "original price" and that the "custom price" is specifically a custom price provided by an admin in the admin panel.

[2020-11-17 18:29] techqa10 commented on #30814
I installed CentOS and Ubuntu to two virtual machines. I can successfully install Magento 2.4.1 to Ubuntu Server. But i'm still getting same error on CentOS.

[2020-11-17 19:23] alex311982 commented on #24581
@magento I am working on this

[2020-11-17 19:24] alex311982 commented on #24581
@magento add to contributors team

[2020-11-17 19:24] alex311982 commented on #24581
@magento add to contributors team

[2020-11-17 19:28] df2k2 commented on #29181
I wanted to point out that there was a post in Magento Community Engineering Slack  -- General channel -- That appeared to validate this issue.

[code]

Here is additional details with the versioning:

[2020-11-17 19:32] alex311982 commented on #24581
@magento I am working on this

[2020-11-17 20:00] magento-engcom-team commented on #30869
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39023` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-17 20:02] ihor-sviziev commented on #30814
@techqa10 sorry, I wasn’t able to check it.

@engcom-Alfa @engcom-Bravo @engcom-Charlie could you verify this issue? Seems really critical to me

[2020-11-17 20:09] gdel5 commented on #8725
im experiencing something similar with bundles, since the simples that comprise of the bundle qualify for the discount, its applying the discount to the bundle as well, even though the bundle does not qualify - has anyone found a fix for this?

[2020-11-17 20:54] techqa10 commented on #30814
Additional information:

I checked my composer versions on Ubuntu and CentOS (Both same: 1.10.1)

And i just run this command

`COMPOSER_MEMORY_LIMIT=-1 composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento` for two platforms

And i compared folders via `diff -arq` command, and see that on CentOS there are no directories in

- generated/code/M

[2020-11-17 21:02] nemke82 opened #30958 "Empty space in prices when Bulgarian locale and Lev as currency used"
### Preconditions (*)

Magento 2.4-develop
Php 7.4
Mysql v8
Install latest Magento 2.4.x version

1. Go to Admin -> Stores --> Configuration --> General --> Locale Options put **Bulgarian**
2. Go to Currency set up under the General section and select Bulgarian Lev currency for Default Display currency and Base.
3. Install sample data or performance fixtures (https://devdocs.magento.com/guides/v2.

[2020-11-17 21:02] ihor-sviziev commented on #30814
Could you make sure that permissions are set correctly?

On Tue, 17 Nov 2020 at 22:55 techqa10 <notifications@github.com> wrote:

[2020-11-17 21:36] techqa10 commented on #30814
Yes, i'm sure i checked permissions twice.

* After this message i run command with root user. Still same results.

[2020-11-17 23:57] KevinMurphy2 opened #30960 "Export not working for doorstep.market--neither CSV nor Excel"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-18 00:47] Igloczek commented on #30486
Same issue on 2.4.1.

[2020-11-18 06:45] engcom-Delta commented on #24635
@fredden  @amenk  Could you provide additional steps to reproduce this issue? Is it reproducible on alpine with php7.4 without any additional configuration? What magento version do you use?

[2020-11-18 06:48] sunnetmedia commented on #8933
I face a Similar issue on Magento 2.3.2

**`root@ip-172-31-XXXXX:/var/www/html/XXXXXX# ### sudo php bin/magento cron:run**

In Mysql.php line 589:

  SQLSTATE[40001]: Serialization failure: **1213 Deadlock found when trying to get lock**; try restarting transaction, query was: DELETE FROM `cron_schedule` WHERE (status = 'pending') AND (job_code in
   ('consumers_runner')) AND (created_at < '2020-1

[2020-11-18 07:01] in-session commented on #30486
Maybe a solution approach, I haven't been able to test it yet:
[https://magento.stackexchange.com/questions/324266/unable-to-serialize-value-error-malformed-utf-8-characters-possibly-incorrect/326340#326340](https://magento.stackexchange.com/questions/324266/unable-to-serialize-value-error-malformed-utf-8-characters-possibly-incorrect/326340#326340)

[2020-11-18 07:19] JithinJay commented on #13952
Hi can someone please help me with the file changes in patch: MDVA-31006 or any fixes applicable to Magento EE 2.3.1, I tried both the plugin and observer workarounds and the issue still not fixed.

[2020-11-18 07:47] ihor-sviziev commented on #30920
Hi @apuc,
You're using github based installation that can't be updated with the composer, it have to be used only for Magento contributions, more details here https://devdocs.magento.com/guides/v2.4/install-gde/bk-install-guide.html.

In case if you're using this type of magento installation in your production environment - I'm strongly recommend switch to composer based installation using metapac

[2020-11-18 07:49] #30920 closed, assigned to ihor-sviziev

[2020-11-18 08:00] Jehangir-Wahid commented on #3544
Hi all,

Thanks to @paulerickson and @Dayssam. Their debugging helped me fix this.

### I found a **solution** or maybe a solution with limited scope. The following is my scenario.

* Developed a custom module.
* Created a **git** repo for it.
* Installed it by following [this](https://www.atwix.com/magento-2/uninstall-modules-with-data/) link.

Now here is my solution to *Uninstall command issue*

[2020-11-18 08:16] mhafizumer opened #30962 "On News letter Subcribe email template Error"
I have upgrade my store from magento 2.3.3 to 2.4.1, Everything is working except when I am subscribe news letter or create account for customer then It throw Error .

 **TypeError: Return value of Magento\Framework\Filter\DirectiveProcessor\TemplateDirective::process() must be of the type string, null returned in /var/www/html/vendor/magento/framework/Filter/DirectiveProcessor**

I have attach sc

[2020-11-18 08:48] magento-engcom-team commented on #30422
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39136` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-18 09:25] Jedi88 commented on #5351
Also looking for an update here?

[2020-11-18 09:37] dcruz11 commented on #5351
Nobody got fix this issue?

[2020-11-18 09:50] codebase-md commented on #30848
Hello together,

after debugging it all seems boils down to a wrong constructor parameter type for $prefix. As the PHPdoc of the corresponding class property states it is expected to be null OR string. Since strict types are forced the constructor parameter is declared wrong. It expects only a string but receives null.

Here is a patch that works fine for us:
[code]
I did not investigate it any fu

[2020-11-18 09:56] AngelsDustz commented on #24635
This issue is still affecting Magento 2, both 2.4.1 and 2.4-develop.

In order to reproduce you have to:

1. Create a new magento installation
2. Run `bin/magento setup:install`
3. Configure integration tests in `dev/tests/integration`
4. Run `bin/magento dev:tests:run`

At the end of the tests you will see:

`Warning: Use of undefined constant GLOB_BRACE - assumed 'GLOB_BRACE' (this will throw an

[2020-11-18 10:26] ioweb-gr commented on #30848
Idid the same patch on my installation but opened the issue anyways just in case I was missing something

[2020-11-18 10:40] AndreyChorniy commented on #30257
@magento give me 2.4-develop instance

[2020-11-18 10:56] pawel-siejba opened #30964 "Process Manager always exits successfully if the amount of functions(i.e. indexer dimensions) is lower than the MAGE_INDEXER_THREADS_COUNT env variable"
Process Manager always exits successfully if the amount of functions passed to it(i.e. indexer dimensions) is lower than the MAGE*INDEXER_THREADS*COUNT env variable. Can cause the Index to think it was rebuilt successfully when in fact it wasn't.
### Preconditions (*)

1. Magento 2.3.0 CE/EE or higher
1. Magento 2.4-develop
1. Several stores are active, but less than MAGE*INDEXER_THREADS_COUNT(if

[2020-11-18 11:23] paul-uz commented on #29197
I am hitting this error after doing the following steps:

* composer install
* set file/folder permissions
[code]
* run bin/magento setup:install ....

Based on the suggestions above, what would I need to do to rid me of this error?

[2020-11-18 11:23] luismiguelyangehuaman commented on #29005
@chequille can you tell me in details about how your change the version of TinyMCE, I don't see configuration in Magento admin. thanks

[2020-11-18 11:25] DanielIconate opened #30966 "List Images between diffrent Storefronts"
### Preconditions (*)

1. Magento version 2.3.2
2. Apache

### Steps to reproduce (*)

1. Create diffrent storefronts for Language
2. Create Product and upload Images
3. View in each Languge in Frontend in Category List view

### Expected result (*)

1. Same image is shown in each storefront

### Actual result (*)

1. Picture will only be visibil in the storefront it was uploaded
2. Default Image

[2020-11-18 11:34] dineshvb commented on #30387
@sidolov Is this ready to be implemented?

[2020-11-18 11:51] SaftaArtem commented on #30218
@magento add to contributors team

[2020-11-18 12:09] SaftaArtem commented on #30218
@magento I am working on this

[2020-11-18 12:15] devamitbera commented on #30847
### Update
The issue happens when config cache is disabled  `'config' => 0,`

[2020-11-18 12:57] iancassidyweb commented on #3421
For anyone coming across this issue in the future please ensure you've read Magento's support article.

https://support.magento.com/hc/en-us/articles/360028757791-Top-navigation-panel-does-not-load-on-storefront

[2020-11-18 13:07] AndreyChorniy commented on #30257
@magento I am working on this

[2020-11-18 13:26] nayembwip commented on #29938
Hey, any fix for this issue? I am experiencing this on 2.3.3

[2020-11-18 13:35] pemann commented on #30147
@magento give me 2.3.5 instance

[2020-11-18 13:39] madonzy opened #30969 "Trying to implement DDD model from default magento product model"
I'd like to extend (by composition) the product model in a way so it's a true entity model and not just a data container (as it's is now). I understand the concept of extension attributes, but that's still a data container. When I'm trying to extend my interface with default ProductInterface, I'm getting an error: "_Method 'getExtensionAttributes' must be overridden in the interfaces which extend

[2020-11-18 14:23] magento-engcom-team commented on #29528
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39141` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-18 14:42] ericmorand commented on #7253
@orlangur ,

Really? Can you point us to the documentation that give that information to developers?

[2020-11-18 14:43] feeh27 commented on #3503
I'm using version 2.4.1 and we still have this problem, I created a plugin in my base module as indicated above and that solved the problem.

[2020-11-18 14:44] fritzmg commented on #7253
I don't think this is documented in detail anywhere. You'll have to look at the code yourself.

[2020-11-18 14:44] feeh27 commented on #3503
I'm using version 2.4.1 and we still have this problem, I created a plugin in my base module as indicated below and that solved the problem.

[2020-11-18 14:45] feeh27 commented on #3503
I'm using version 2.4.1 and we still have this problem, I created a plugin in my base module as indicated below and that solved the problem.

Thanks @nirajanleanswift

[2020-11-18 14:49] feeh27 commented on #3503
I'm using version 2.4.1 and we still have this problem, I created a plugin in my base module as indicated below and that solved the problem.

Thanks @niranjanleanswift

[2020-11-18 14:51] sidolov commented on #30387
Hi @dineshvb , please, check high priority issues first (issues labeled with P0, P1, P2 labels) since the PRs targeted for such issues will be processed first.

[2020-11-18 14:54] engcom-Alfa commented on #28511
Hello @aleron75.

Yes, you are right. The expected result is incorrect. If we don't ask Magento to send the email we can't expect any sent email.
Let's imagine a situation when the admin user has limited rights and the configuration cannot be changed.
And for one of a thousand orders, you will not need to send letters. And such an administrator cannot do it in any way, copies will be sent anyway.

[2020-11-18 15:06] stijnkuppens commented on #12271
What a hero

[2020-11-18 15:27] Dheeraj351 commented on #22094
Thank you. You made my day.

[2020-11-18 16:06] iaroslavglodov opened #30970 "How is Status labelling working?"
Tried to find out how the Order status is translated.
It seems illogical to me and I need help to understand is this bug or feature?

[code]

https://github.com/magento/magento2/blob/26acabe377aff184e4bca257f012080e14817ede/app/code/Magento/Sales/Model/Order/Config.php#L136

[2020-11-18 16:36] Jimgitsit commented on #8084
The package JoshSpivey/mage2-sales-grid isn't in packagist so it can't be installed via composer, plus it hasn't been updated in 4 years so I question whether or not it works in 2.3+. The readme doesn't say what versions it supports either. In short, that's not/no longer a good solution.

[2020-11-18 16:37] rosalynshop commented on #12777
tks bro, worked !

[2020-11-18 16:57] lisouski opened #30971 "Cart price rule (discount) is not applied for Purchase Order payment method"
### Preconditions (*)

1. Magento 2.3.5 - 2.4.1
2. PHP 7.3

### Steps to reproduce (*)

1. Create Cart price rule with condition "If ANY  of these conditions are TRUE : Payment Method  is  Purchase Order"
2. Go to "payment method" step on check out;
3. Select any other payment method, then select "Purchase Order" method - discount (cart price rule) is not applied;

### Expected result (*)

1. Cart

[2020-11-18 17:14] mateuszrusiecki commented on #21204
it's still on  2.3.5-p2. Random strings aren't translated. Magento is a piece of shit written by brainless fagots :/

[2020-11-18 17:23] pixel-paul commented on #27460
As far as I can see this exists in 2.3.6 too

[2020-11-18 17:34] joshdavenport commented on #10454
@engcom-Charlie @magento-engcom-team this closure is based on a misunderstanding of the issue at hand here, see response from @MichaelThessel and the recently opened issue by them also https://github.com/magento/magento2/issues/30046.

The intention is clearly to show out stock swatch options, the screenshot demonstrates this:

![](https://user-images.githubusercontent.com/51680850/68590149-83bc90

[2020-11-18 17:38] dumpstrack1 opened #30972 "https://dumpstrack1.com/Sell dumps, Shop dumps 101, 201,dumps with pin, Atm skimmer"
https://dumpstrack1.com/ sell dumps,dumps with pin track1&2,sell dumps online. valid rate 98%.....!!!!!
Selling dumps - shop dumps - dumps with pin - sell dumps online

     Contact me
- ICQ  : 690616620
- Skype: maryabbate128
- Gmail : maryabbate128@gmail.com
- My shop : https://dumpstrack1.com/

Shop dumps, dumps with pin + track 1& 2 https://dumpstrack1.com/login.html

https://dumpstrack1.com/

[2020-11-18 17:41] dumpstrack1 opened #30973 "Shop cc | CVV | dumps with pin | bank login | track ½"
https://dumpstrack1.com/Shop dumps online, dumps with pin. Sell good dumps. dumps China, dumps Usa, dumps uk, dumps eu, and more country.....!
My dumps in shop it's valid rate 98%, good dumps with high balance

Sell dumps fresh, high balance, shop dumps auto sale
Contact me via
ICQ : 690616620
SKYPE: maryabbate128
Gmail: maryabbate128@gmail.com
Shop dumps  https://dumpstrack1.com/

If u want good

[2020-11-18 17:46] joshdavenport commented on #15047
@ihor-sviziev OP was referring to swatches so I don't think your replication was too relevant I'm afraid. OP didn't make that entirely clear as it's not in the title or the description, however their reference to a red strike ("should display with class disabled (red strike through) for out of stock") tells us this is the case.

Your reproduction seems to only check relating to configurable dropdo

[2020-11-18 17:49] bargoslino commented on #30824
I confirm issue still persists!
How can it be solved?? There are holidays coming in Argentina and i need a
solution this week!

Regards,

BARBARA GOSLINO

bgoslino@mefisto.com.ar

Cel: +54911-5523-7188

www.mefisto.com.ar

El lun., 16 nov. 2020 a las 9:58, Oleksii Stasiv (<notifications@github.com>)
escribió:

[2020-11-18 17:53] ihor-sviziev commented on #15047
Thx for the additional info. I reopened this issue

[2020-11-18 17:55] dumpstrack1 opened #30974 "https://dumpstrack1.com/ Credit card dumps with pin, Buy dumps & Dumps shop online"
https://dumpstrack1.com/Shop dumps online, dumps with pin. Sell good dumps. dumps China, dumps Usa, dumps uk, dumps eu, and more country.....!
My dumps in shop it's valid rate 98%, good dumps with high balance

Sell dumps fresh, high balance, shop dumps auto sale
Contact me via
ICQ : 690616620
SKYPE: maryabbate128
Gmail: maryabbate128@gmail.com
Shop dumps  https://dumpstrack1.com/

If u want good

[2020-11-18 17:56] dumpstrack1 opened #30975 "https://dumpstrack1.com/ Sell Dumps With Pin – Credit Card – Dumps Cashout Atm"
selling dumps cvv fullz

selling cvv fullz track 1 and 2 bank login bank transfer writing checks transfer to cc … Fresh Cards. Selling Dumps,

- Hi all ! Welcome to my services: https://dumpstrack1.com/

*** Please Contact me ***

- ICQ : 690616620

- Skype : maryabbate128

- Gmail : maryabbate128@gmail.com

- My Store : https://dumpstrack1.com/index.php

- sell dumps 101 – dumps 201 - dumps with

[2020-11-18 17:58] dumpstrack1 opened #30976 "https://dumpstrack1.com/ Sell Dumps With Pin – Credit Card – Dumps Cashout Atm"
selling dumps cvv fullz

selling cvv fullz track 1 and 2 bank login bank transfer writing checks transfer to cc … Fresh Cards. Selling Dumps,

- Hi all ! Welcome to my services: https://dumpstrack1.com/

*** Please Contact me ***

- ICQ : 690616620

- Skype : maryabbate128

- Gmail : maryabbate128@gmail.com

- My Store : https://dumpstrack1.com/index.php

- sell dumps 101 – dumps 201 - dumps with

[2020-11-18 17:58] dumpstrack1 opened #30977 "https://pp247.dumpstrack1.com/ Sell Paypal/ Bank Login/ Credit Card"
Hello All Buyers Worldwide !!!

You want cashout money online or Some Tools other to work that does not want to See RIPPER / SCAMMER

That is the reason why today we want to recommend to your . One where you can get what you want, but not to worry.

I provide cashout money service
I have a shop online
auto 24/7
100% refund if the stuff is bad or invalid
support online 24/7

- Sell Paypal Good Fres

[2020-11-18 19:26] magento-seis10 commented on #28420
Facing same issue in 2.3.5-p2

[2020-11-18 19:46] chequille commented on #29005
Hi,
here a screenshot.
![grafik](https://user-images.githubusercontent.com/15807794/99579738-dea89200-29de-11eb-9fc4-046cd75f3097.png)

Ok, it is translated but I think it is under general-> cms
Hope you find it.

[2020-11-18 20:40] soleksii opened #30978 "Errors in the exception.log file when importing products with images."
### Preconditions (*)

1. Magento 2.4-develop
2. Php 7.4
3. Mysql v 8.0

### Steps to reproduce (*)

1. Create Simple product with image;
2. Go to Admin -> System -> Export;
3. Select **Products** from the **Entity Type** dropdown and click on the **Continue** button;
4. Run `php bin/magento cron:run` and download exported file;
5. Open the file and make any changes ( change _**name**_ for example

[2020-11-18 21:03] eduard13 commented on #30952
@magento give me 2.4-develop instance

[2020-11-18 21:12] LiamKarlMitchell commented on #5351
Via rest api in an importer I just looped over it 3 times if it failed to save to try again which seemed to work.
It did not happen continuously just every now and again...

[2020-11-18 21:16] magento-engcom-team commented on #30952
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39158` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-18 22:40] leonhelmus commented on #26295
I'm curious will this be fixed in 2.4.1?

[2020-11-18 22:51] adarshkhatri opened #30979 "Variable $from not found :: only for specific search term"
### Preconditions (*)

1. Magento 2.3.6 with elastic search
2. (if possible migrated from 2.3.3-p1)
3. Elasticsearch v 6

### Steps to reproduce (*)

1. Search for the specific term "Crestron"

### Expected result (*)

1. Show the normal search result

### Actual result (*)

1. Throws an error

`{"0":"Notice: Undefined variable: from in /vendor\/magento\/module-elasticsearch\/Elasticsearch5\/Searc

[2020-11-18 22:57] adarshkhatri commented on #30979
@magento give me 2.4-develop instance

[2020-11-18 23:19] adrian-martinez-interactiv4 commented on #29197
I think `generated/code` is required to be as a PSR-0 entry, in order to allow Composer to know that it should also search in that directory for generated classes, otherwise it may won't be able to find generated files for autoloading them or including them in optimized autoload classmap when needed.

I've never run this error upon setup:install in a new, fresh created project. Without knowing you

[2020-11-19 00:43] mrtuvn commented on #30836
For your case why not mixin and add your extend behavior in Magento_Customer/js/model/address-list
I think in your specific case you need customise both js side and php side for set address. Some case you must rewrite but it think it's ok if you know what you are doing

[2020-11-19 04:25] krishprakash commented on #30970
Hi @iaroslavglodov. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the[ Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-19 04:25] #30970 closed, assigned to nobody

[2020-11-19 04:29] krishprakash commented on #30911
@magento give me 2.4-develop instance

[2020-11-19 04:43] magento-engcom-team commented on #30911
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39180` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-19 04:44] krishprakash commented on #30911
Verified:

![image](https://user-images.githubusercontent.com/46617848/99622346-ee13f380-2a4f-11eb-944a-6d9a6d51089c.png)

[2020-11-19 04:55] LiamKarlMitchell commented on #26599
I noticed the label was added recently Reported on 2.4.0,  is there any update on a fix for this when the cause is loss of precision in the setPrice method due to it rounding the value.

I don't think setting the value should round it, only round when displaying the values.

[2020-11-19 05:21] saphaljha commented on #30911
@magento I am working on this.

[2020-11-19 06:45] KnK123 commented on #12426
Hi Team,

We have been facing the same issue in the Magento version 2.3.5-p2 enterprise edition. Could you please let us know is there any patch for this? please share us if you have.

Nagaraju

[2020-11-19 08:36] chatlourd commented on #26698
@magento-engcom-team I'm getting the same error in **2.4.1** can anyone else confirm?

I get the error below when trying to apply the patch `PayPal_Express_Checkout_issue_fix_2.3.4_composer-2020-02-13-12-34-09.patch` probably because it's a 2.3.4 patch and I'm on 2.4.1 - can anyone  #help?

`
patching file vendor/magento/module-paypal/Model/Api/Nvp.php
Hunk #1 FAILED at 1512.
Hunk #2 FAILED at 162

[2020-11-19 08:37] soleksii opened #30980 "There are no options for the bundle products in the wishlist"
### Preconditions (*)

1. Magento 2.4-develop;
2. Php 7.3;
3. Mysql 8;
4. Sample Data;

### Steps to reproduce (*)

1. Login as a customer on Storefront;
2. Go to Gear -> Fitness Equipment;
3. Open **Sprite Yoga Companion Kit** product page;
4. Customize Sprite Yoga Companion Kit an click on the **Add to Wishlist** button

### Expected result (*)

1. [Screenshots, logs or description]
2. The bundl

[2020-11-19 09:31] magento-engcom-team commented on #30980
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39183` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-19 09:40] magento-engcom-team commented on #30978
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39184` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-19 10:07] magento-engcom-team commented on #30958
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39185` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-19 10:20] Eddcapone commented on #30876
I had to call `$this->quote->collectTotals();`

[2020-11-19 10:20] #30876 closed, assigned to nobody

[2020-11-19 10:23] magento-engcom-team commented on #30951
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39186` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-19 11:07] daniel-ifrim commented on #30836
@mrtuvn Mixin can be made. But it won't work for this.addressOptions, the property inside the component.
I wanted to changed it and have it like this:
[code]
I ended up having the mixin like this:
[code]

I could not affect the code with initial values.
I had to find a work around. Which happens to work and to be close to the architecture of KO in Magento 2 / checkout JS files.
In this case I was

[2020-11-19 11:27] tuyennshopstack commented on #23578
https://github.com/magento/magento2/issues/6126

[2020-11-19 11:29] mrtuvn commented on #30836
Yep magento is big system but it not perfect. Some parts is old code migrate or implementation incorrect can lead to this case. Some place code inconsistent and wait for refactor

[2020-11-19 11:53] engcom-Alfa commented on #30046
@magento give me 2.4-develop instance

[2020-11-19 12:28] engcom-Alfa commented on #30046
Hi @MichaelThessel .

Unfortunately, we can't reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Manual testing scenario:**

1. Create config product with one color and several sizes
2. Make one size out of stock
3. Set Admin > Stores > Configuration > Catalog > Inventory > Stock Options > Display Out of Stock Products = Yes
4. Make size and color swatches

**Actual Result

[2020-11-19 12:43] nordcomputer commented on #30046
I dont know, if its the same issue, but all the swatches will be removed (instead of greyed out), if you set all sizes qty to 0
You can test it in the development instance.

[2020-11-19 12:45] SaftaArtem commented on #30218
@magento give me test instance

[2020-11-19 12:47] SaftaArtem commented on #30218
@magento give me 2.4-develop instance

[2020-11-19 12:52] nordcomputer commented on #30046
@magento give me 2.4-develop instance

[2020-11-19 13:00] lykciv opened #30983 "Model *_save_commit_after events are not executed in api post requests"
### Preconditions (*)

1. version 2.3.5
2. deploy mode should be set to "production"; this does not seem to be an issue in "developer" mode

### Steps to reproduce (*)

1. make sure your environment is set to production mode
2. place an order
3. create a shipment for the order using the api endpoint: /rest/all/V1/order/12345/ship

[code]

### Expected result (*)

1. when the shipment and order are

[2020-11-19 13:07] nordcomputer commented on #30046
So, i tested in the develop-instance. Created the product(s), set the Quantity to 0 for all sizes, set the option, to show out-of-stock products to yes and got this in frontend:
![grafik](https://user-images.githubusercontent.com/13378398/99670246-86ba6b80-2a70-11eb-8535-44f38cf5dbc8.png)

As you can see, the price and the "Add to cart" are missing, too

[2020-11-19 13:15] madonzyaccenture opened #30984 "Using concrete class instead of abstraction"
Hello everyone, are there any plans to replace realizations with interfaces (ex: Product model, etc.)? Now it's impossible to extend models by composition.

[2020-11-19 13:32] ihor-sviziev commented on #24718
@sidolov @gabrieldagama could we increase P3 -> P2, as we have basically the same issue for another table and it has higher priority - https://github.com/magento/magento2/issues/24581?

[2020-11-19 13:46] bilal-magento opened #30985 "Braintree 3D secure not working with multiple address checkout"
### Preconditions (*)
Magento version 2.3.2
Enable Braintree payment method
Enable Braintree 3d secure from the backend
Set the 3d threshold to 30
Add to item to cart with mora than 30 prices in cart (above threshold)

### Steps to reproduce (*)
1. Add 2 products to cart.
2. Go to multiple address checkout.
3. Add 2 different shipping addresses.
4. go to the billing section and enter card details

[2020-11-19 14:06] ihor-sviziev commented on #24718
@gabrieldagama as we discussed in Slack - this is really terrible issue, it's causing not obvious issues. In my case it was caused by some custom module, and behavior was like was "I just pressed some button and whole website went down".

We have 2 the same issues for two tables:
https://github.com/magento/magento2/issues/24581 - P2 S2 (as for me this is right priority)
https://github.com/magento/

[2020-11-19 14:07] ihor-sviziev commented on #24581
@gabrieldagama as we discussed in Slack - this is really terrible issue, it's causing not obvious issues. In my case it was caused by some custom module, and behavior was like was "I just pressed some button and whole website went down".

We have 2 the same issues for two tables:
https://github.com/magento/magento2/issues/24581 - P2 S2 (as for me this is right priority)
https://github.com/magento/

[2020-11-19 14:36] giacmir commented on #19597
Why is this marked as done? Which Magento version has this corrected?

[2020-11-19 15:24] webgility-amazonapi opened #30987 "Getting Extra/Duplicate credit memo"
### Preconditions (*)

1.Magento version 2.3.5

### Steps to reproduce (*)

1.Configure the postman
2.Make an API call using the below details
API : rest/V1/creditmemo
Request : searchCriteria[filter_groups][0][filters][0][field]=order_id&searchCriteria[filter_groups][0][filters][0][value]=14

### Expected result (*)

1. We are getting extra credit memo which is not on UI of magento. it seems to b

[2020-11-19 15:42] sidolov commented on #24718
Hi @ihor-sviziev , it makes sense, I have changed the priority, thank you for the input!

[2020-11-19 16:03] j-lloyd-slc commented on #29248
Also occurs in 2.4.1

[2020-11-19 16:21] SaftaArtem commented on #30218
@magento run all tests

[2020-11-19 16:36] magento-engcom-team commented on #30622
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39193` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-19 17:03] GuillaumeBrook commented on #28924
The attribute "quantity_and_stock_status" isn't indexed in Elasticsearch even if you set it to ""Used for Sorting in Product Listing" because it's value isn't actually in "catalog_product_entity_int".

It should be useful that Magento index in ES something like "is_in_stock" or "is_saleable".
The quantity is something more complex I guess due to bundle and configurable products.

I don't know if i

[2020-11-19 17:10] MichaelThessel commented on #30046
Any chance you can link the commit that fixed that here? That way we can backport it into our current installs and don't have to wait for months till this makes it into a release? Thanks!

[2020-11-19 17:11] gabrieldagama commented on #30487
Closed in favor of this Issue https://github.com/magento/magento2/issues/13639 that already has a PR.

[2020-11-19 17:11] #30487 closed, assigned to nobody

[2020-11-19 17:13] magento-engcom-team commented on #30487
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-11-19 17:40] nordcomputer commented on #30046
There is a fix for that? oO I am waiting since 2.2 for this issue being fixed....

[2020-11-19 17:42] gabrieldagama commented on #20004
It would be good to review the terminology on the configuration as "Amount" is too abstract.

[2020-11-19 17:49] dcruz11 commented on #5351
Any way to temporary stop crons by code, before the custom updates are done. And Reactivate crons after that?

[2020-11-19 18:30] aliomattux opened #30989 "Opinion: URL Rewrite management should be read only for users and not considered a redirect tool"
**Description**:
Magento 2 provides out of box a tool under Marketing > SEO & Search > URL Rewrites. This tool allows anyone with access to delete any URL, including system generated URL's. It also is intended to allow users to create custom redirects.

**Opinion**: this tool cannot be used as intended. This tool should become readonly and not changeable by users. Magento should introduce a new st

[2020-11-19 18:44] magento-quality-patches commented on #26840
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-25602: Fixes issue with PayPal Payflow Pro payment method and treating cookies as SameSite=Lax by default in the Chrome 80 browser and API response redirect to customer login page.

**Compatible versions**
Magento OpenSource/Commerce/

[2020-11-19 18:45] magento-quality-patches commented on #26840
@iamvishalrathod patch MDVA-25602 was updated to be compatible with Magento 2.3.0

[2020-11-19 18:46] zaximus84 commented on #30286
@magento I am working on this

[2020-11-19 18:59] magento-quality-patches commented on #13952
@JithinJay the patch MDVA-31006 was updated to be compatible with Magento 2.3.1. Feel free to try it using  [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

[2020-11-19 20:34] joshdavenport commented on #30046
@engcom-Alfa I believe in OPs original issue report, they must be referring to a configurable not actually configured by 2 two attributes - only one. Is that right @MichaelThessel? Doesn't matter if in the example of 2/3/4/whatever of the simple products happen to have the same color attribute value.

Here is behaviour I have seen in 2.2, 2.3 and 2.4:

* If product is configured by 1 attribute (e.

[2020-11-19 20:35] joshdavenport commented on #30046
@magento give me 2.4-develop instance

[2020-11-19 20:56] joshdavenport commented on #30046
Yup, still happening. @engcom-Alfa please see better reproduction steps and proof, this is from the Magento instance above:

![image](https://user-images.githubusercontent.com/757828/99723032-85596500-2aa9-11eb-8308-4109c9f2fe5b.png)

[2020-11-19 20:59] joshdavenport commented on #15047
Having just now reproduced this in a 2.4-develop instance over in #30046 I am also going to put this reproduction proof here too, as there seems to be many fronts to this and right now it's not clear which one is best served as the authoritative issue. Hopefully its useful for whoever looks at this issue:

![](https://user-images.githubusercontent.com/757828/99723032-85596500-2aa9-11eb-8308-4109c9

[2020-11-19 21:28] engcom-Delta commented on #29907
Issue is not reproducible on 2.4-develop when New Order Status=Processing and  Automatically Invoice All items=Yes
Was checked case:
1. Navigate to Stores / Configuration / Sales /  Payment Methods and select Zero Subtotal Checkout
2. Change New Order status to Processing and  Automatically Invoice All items to Yes
3. Create a Product with a price 10$ for example
4. Navigate to Marketing / Cart Pr

[2020-11-19 21:28] #29907 closed, assigned to nobody

[2020-11-19 22:06] nordcomputer commented on #30046
That seems correct to me.

In addition: I still think, that this behavior directly leads to the problem I described. I didnt actually look into the code, but it seems like magento doesnt fetch the informations of out-of-stock child-products, so it doesnt get the informations for rendering those swatches - if EVERY child-product is out of stock, all informations are missing, so even the price doesn

[2020-11-19 22:57] joshdavenport commented on #30046
Indeed. Basically hiding/showing of swatches based on the show/hide out of stock products config option is only half implemented. It should be obeyed fully in all scenarios or not at all.

[2020-11-20 00:37] mbrinton01 commented on #29226
@magento export issue to Jira project MC as Story

[2020-11-20 00:37] magento-engcom-team commented on #29226
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-39281) is successfully created for this issue.

[2020-11-20 00:59] mrtuvn commented on #30286
Seem this issue duplicated of https://github.com/magento/magento2/issues/29936

[2020-11-20 02:14] FactoryAidan commented on #16531
Based on how the `checkAllowedExtension()` method is [used in the class](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/File/Uploader.php#L393), ya'll have inverted logic for what the method returns. So while you're messing with mime types on your temp files... I'm just sayin' this is pretty obvious.
[code]
Said another way, you're using `checkAllowedExtension(

[2020-11-20 02:27] gwharton opened #30993 ""Same as Billing Address" Checkbox not always visible in Admin Create Order Screen"
### Preconditions (*)

magento 2.4.1

### Steps to reproduce (*)

[code]

Look at the Shipping Address Section.
Verify that the checkbox to select "Same As Billing Address" is visible.
Refresh the screen
Verify that the checkbox to select "Same As Billing Address" is visible after screen refresh

### Expected result (*)

![image](https://user-images.githubusercontent.com/30697781/99750114-b3559e00

[2020-11-20 03:41] tuyennshopstack commented on #24681
@magento-engcom-team What is the current status of this ticket?

[2020-11-20 04:20] krishprakash commented on #30993
@magento give me 2.4-develop instance

[2020-11-20 04:32] gwharton opened #30994 "Validating VAT Number on Admin Order Creation screen wipes shipping address when customer group changes."
### Preconditions (*)

2.4-develop

### Steps to reproduce (*)

[code]

### Expected result (*)

1. Group should be changed to Intra-EU
2. Rest of fields on form should be unchanged

### Actual result (*)

1. The whole shipping address is wiped.

![Peek 2020-11-20 11-52](https://user-images.githubusercontent.com/51679138/99787311-41f20b80-2b28-11eb-8611-847ff4236200.gif)

---
Please provide [Sever