[2018-10-08 21:00] magento-engcom-team commented on #18475
Hi @dewayneholden. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-09 01:57] duongdiep212 opened #18477 "Set maximum Qty Allowed in Shopping Cart is 0 still allow adding to cart"
### Preconditions

1. Magento Open Source and Commerce 2.2.x
2. PHP 7.1
3. Sample data is installed

### Steps to reproduce

1. Click to edit simple product, then click "Advanced Inventory ", enter 0  in "maximum Qty Allowed in Shopping Cart" field
2. Go to front-end and add this product to cart.

### Expected result

Show message can not add qty to cart :  The most you may purchase is 0.

### Act

[2018-10-09 01:57] magento-engcom-team commented on #18477
Hi @duongdiep212. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-09 01:58] duongdiep212 commented on #18477
i checked core ad found this function :

[2018-10-09 04:46] RishabhRkRai commented on #18410
Any update on this????

[2018-10-09 05:44] Julia1996 commented on #12271
I have no digits in theme name, version of node.js is 8.9.3, the theme exists in content > themes. And I have this issue.

[2018-10-09 06:32] diazwatson commented on #13415
@magento-engcom-team could you give me 2.3-develop instance to deploy test instance on Magento infrastructure please?

[2018-10-09 06:58] larsroettig opened #18478 "Add Infection Mutation Testing as Library"
### Description
As Developer, I would use Mutation Testing for my Magento Implementations.

### Expected behavior
-  Injection is integrated https://infection.github.io/guide/installation.html

### Benefits
- It is a powerful approach to attain high coverage of the source program.
- This testing is capable comprehensively testing the mutant program.
- Mutation testing brings a good level of error

[2018-10-09 06:58] magento-engcom-team commented on #18478
Hi @larsroettig. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-09 07:46] modkore opened #18479 "Magento 2 Product image do not show up in Front end and product list thumbnails"
### Summary

I am working on a project where I have to upload the products in a site. Unfortunately after adding the products in the backend "Images / Videos" section the image is not coming out in front end catalogue page and to the product list section of back end.

### Examples

I am not sure what to do yet on this one so I am not yet doing something for a patch.

### Proposed solution

[2018-10-09 07:46] magento-engcom-team commented on #18479
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-09 07:50] jeroenkosse commented on #12159
When i looked at @georgios-2317 solution and checked the code i saw there is a event in place to fix this without rewriting the entire class. The event is called catalog_category_prepare_save and is called before the Use default Value loop in the Save.php. This code will fix the issue without the rewrite:

    public function execute(\Magento\Framework\Event\Observer $observer)
    {
        /** @

[2018-10-09 09:14] pocallaghan commented on #18477
Out of curiosity, what's the use case for having a value of 0 for max sale quantity?

[2018-10-09 09:41] KulwinderKohli commented on #7874
This is really a huge disaster when we are live with lots products and categories and can't unassign products from categories.

If anybody have solution, please share.  🙏

[2018-10-09 09:41] grandmaster44 commented on #5664
[Magento 2.2.6]
It's important to use depreciated method _save()_ before this workaround (with _productRepository->save($product)_ it's not working).

`
$product->save();
$product->setStatus(Product\Attribute\Source\Status::STATUS_ENABLED);
$this->productResourceModel->saveAttribute($product, Magento\Catalog\Model\Product::STATUS);
`

[2018-10-09 09:50] magento-engcom-team commented on #18477
Hi @gelanivishal. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-10-09 10:01] artszko commented on #13961
@magento-engcom-team any updates on this?

[2018-10-09 10:30] HenningBeck commented on #16101
We experienced the same problem today during our test. This is the first time we see the error after about 100 test purchases.

We run on Magento 2.2.6 and use the procedure
1. Log in
2. Add to cart
3. Checkout
4. Add card info and Place order now

As indicated above, the problem seems to be in the cart. We could bypass the problem by emptying the cart and add the product again.

We started using

[2018-10-09 10:30] pilr commented on #14046
looking for patch as well for 2.2.x versions

[2018-10-09 10:46] pilr commented on #14046
I also have the same issue. always got "You need to choose options for your item." when adding configurable products to cart even if all required options have been selected.

[2018-10-09 10:47] LusienGG commented on #16657
Reproduced on 2.2.6

[2018-10-09 11:01] zestbeauty commented on #16101
Is this issue related to this
Magento_Sales module fails to upgrade (email has a wrong format) #14964
https://github.com/magento/magento2/issues/14964

[2018-10-09 11:15] magento-engcom-team commented on #15085
Hi @jesse-dev. Thank you for your report.
The issue has been fixed in magento/magento2#18427 by @lewisvoncken in 2.2-develop branch
Related commit(s):
 - [adfb130b1bc7074daaeaed466f07a283e2eee8ca](https://github.com/magento/magento2/commit/adfb130b1bc7074daaeaed466f07a283e2eee8ca)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-09 11:15] #15085 closed, assigned to nobody

[2018-10-09 11:15] magento-engcom-team commented on #13156
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#18390 by @hostep in 2.2-develop branch
Related commit(s):
 - [3e066db75e495f96d264bf1347b9fec01a44032e](https://github.com/magento/magento2/commit/3e066db75e495f96d264bf1347b9fec01a44032e)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-09 11:15] #13156 closed, assigned to nobody

[2018-10-09 11:15] magento-engcom-team commented on #17190
Hi @mad-develop. Thank you for your report.
The issue has been fixed in magento/magento2#18389 by @hostep in 2.2-develop branch
Related commit(s):
 - [a251a8d36ec2c10d175302cac3675e97990bce47](https://github.com/magento/magento2/commit/a251a8d36ec2c10d175302cac3675e97990bce47)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-09 11:15] magento-engcom-team commented on #3283
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#17823 by @lewisvoncken in 2.2-develop branch
Related commit(s):
 - [952b333b9908121f17e966078737c21b8620cce6](https://github.com/magento/magento2/commit/952b333b9908121f17e966078737c21b8620cce6)
 - [a2d9a6a5f84d680c23d4f269596baf40ac709395](https://github.com/magento/magento2/commit/a2d9a6a5f84d680c23d4f2695

[2018-10-09 11:15] #3283 closed, assigned to lewisvoncken

[2018-10-09 11:15] magento-engcom-team commented on #17770
Hi @werfu. Thank you for your report.
The issue has been fixed in magento/magento2#18166 by @magently in 2.2-develop branch
Related commit(s):
 - [6e4a4b2d85e25c58e72914a7904a5dc9aa7e43f5](https://github.com/magento/magento2/commit/6e4a4b2d85e25c58e72914a7904a5dc9aa7e43f5)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-09 11:15] #17770 closed, assigned to nobody

[2018-10-09 11:15] magento-engcom-team commented on #17493
Hi @SKovbel. Thank you for your report.
The issue has been fixed in magento/magento2#18175 by @magently in 2.2-develop branch
Related commit(s):
 - [9f19592b3a1dc33a8a3a23c694880e5e6c5ca6a3](https://github.com/magento/magento2/commit/9f19592b3a1dc33a8a3a23c694880e5e6c5ca6a3)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-09 11:15] #17493 closed, assigned to nobody

[2018-10-09 12:16] devendra-m commented on #18229
temporary solution is to replace

` ['i' => $priceTable->getTableName()],`

with

`['i' => $this->getTable('catalog_product_index_price_tmp')],`

in function checkIfCustomOptionsExist

in core file vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Price/CustomOptionPriceModifier.php

[2018-10-09 12:29] chrom opened #18483 "Violations of the principle of single responsibility in the automatic conversion of the product"
Violations of the principle of single responsibility in the automatic conversion of the product

###Information on your environment
magento 2.2.6

### Summary
The main class are responsible for this.
[Magento\Catalog\Model\Product\TypeTransitionManager](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Product/TypeTransitionManager.php)

but when creating a config

[2018-10-09 12:29] magento-engcom-team commented on #18483
Hi @chrom. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-09 12:47] densen45 commented on #18248
For me, the same modules as @rastin1 posted are affected:
- Klarna_Core (required: 4.4.4, installed: 4.5.2)
- Klarna_Ordermanagement (required: 4.3.4, installed: 4.4.1)
- Klarna_Kp (required: 5.4.4, installed: 5.5.1)
- Vertex_Tax (required: 100.2.0, installed: 100.2.1)

As @hostep correctly pointed out, if these modules have made db upgrades after the version that is now required, probably it is n

[2018-10-09 12:59] lovelysetia1992 opened #18484 "Why Bundle Option Id is Changed everytime?When I will update in bundle product,bundle_option_id is changed.I think it's a bug in Magneo-2.1."
Bundle option id changes every time when editing on admin page
### Preconditions

1.Magento Version 2.1.12
2.PHP 7.0
3.Window OS
### Steps to reproduce

1.create bundle product with some options -> save product
2.Add this product in Cart.
3.Add  or remove some option in bundle product and saved.
4.Cart Page showing error and carrier_code not found error.

### Expected result

1. the product is upd

[2018-10-09 12:59] magento-engcom-team commented on #18484
Hi @lovelysetia1992. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-09 13:00] chrom commented on #18483
This is Developer experience issue - not need to reproduce.

[2018-10-09 13:04] xxquickxx1 commented on #18229
thank you

[2018-10-09 13:48] PabloSanto commented on #13961
Same issue with 2.2.6

[2018-10-09 15:16] pmsteil commented on #18248
Will Magento 2.3 have this problem?

[2018-10-09 15:21] brian-labelle opened #18489 "Table flag, column flag_data size is too small, causing bin/magento app:config:import to fail on configurations > 64k"
### Summary
`bin/magento app:config:import` fails when large config.php configurations are added to the environment due to the `flag` table's `flag_data` column size

### Preconditions

1. Magento version 2.2.x
2. Large `config.php` configuration (< 64k)

### Steps to reproduce

1. Add a large configuration array to your `config.php` file (> 64k)
2. Run `bin/magento app:config:import`

### Expecte

[2018-10-09 15:21] magento-engcom-team commented on #18489
Hi @brian-labelle. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-09 16:01] expertalex opened #18492 "Error in Store -> Settings -> Terms and Conditions"
Hello, we have an error in **Store -> Settings -> Terms and Conditions**

Magento version: 2.2.5

**We already have some terms and in previous versions it works fine but affect updating we have this error:**

[code]

[2018-10-09 16:01] magento-engcom-team commented on #18492
Hi @expertalex. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-09 16:08] eduard13 opened #18493 "Plus char is replaced by space in product attribute dropdown value"
When the + char is used for product dropdown attribute's options, after saving the attribute, all the + chars are replaced by spaces.

### Preconditions
1. Magento 2.2.6, 2.2.7-dev
2.

### Steps to reproduce
1. Create a new dropdown product attribute
2. Add several attribute options with + char(s)
3. Save the attribute

### Expected result
1. The attribute options should be saved in the same state

[2018-10-09 16:08] magento-engcom-team commented on #18493
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-09 16:10] pocallaghan commented on #18492
Do you have a table prefix in your installation? This sounds like a duplicate of #18357, which I attempted to fix with - https://github.com/magento/magento2/pull/18412

[2018-10-09 17:34] hostep commented on #18248
@pmsteil, based on what I can tell from beta12, it looks like it should be fine, version numbers aren't going down between 2.2.5 and 2.3.0-beta12:

Magento 2.2.5:
[code]

Magento 2.2.6:
[code]

Magento 2.3.0-beta12:
[code]

But that doesn't mean it won't happen, because if a new version of these modules gets released in the future, which is marked as compatible with Magento 2.2.5, then we might st

[2018-10-09 17:42] hostep commented on #10577
Just tested `2.3.0-beta12` and it looks like `composer/composer` is gone from the main `composer.json` file now, let's close this issue then, thanks!

[2018-10-09 17:42] #10577 closed, assigned to nobody

[2018-10-09 18:02] tomekjordan commented on #18477
probably using product in some "catalog" mode without purchasing. but still holding some stock for admin orders etc

[2018-10-09 18:53] paales commented on #18451
The query i'm trying to add is also adding a `char`, has the same issue as the `json` column

[2018-10-09 19:21] jayanta88 opened #18496 "Authorize.net DirectPost Error: Sorry, but something went wrong. Please contact the seller."
### Summary (*)
We've some complaints from the customer they see an error popup saying "Sorry, but something went wrong. Please contact the seller." But order gets processed with Authorize.net DirectPost and they charged.

## Information on your environment
Magento 2.2.2

## Steps to reproduce
Set the authorize.net directpost method in admin with test gateway url and transaction url.
Then in check

[2018-10-09 19:28] maximkrusina commented on #18248
Hi @pmsteil - please did you solved this issue? We're fighting with this issue even on the clean magentro install. We're unable to display Category and search pages. Trying to solve it for two days :( Thanx a lot for help!

[2018-10-09 19:33] pmsteil commented on #18248
@maximkrusina No, I haven't resolved that.  Good to know it is happening to someone else.  I am just skipping this release for now and moving on to 2.3.

patrick

[2018-10-09 19:37] maximkrusina commented on #18248
@pmsteil plz and it works with 2.3 well? I'm really fighting with an clean imstall :( we're a liitle bit mad about it

[2018-10-09 19:40] maximkrusina commented on #18248
@pmsteil and please, do you use your own Docker file or some image? We're using this one: alexcheng/magento2

[2018-10-09 19:41] expertalex commented on #18492
Yes, I have!
Thank you very much for your answer, I'll check!

[2018-10-09 19:42] mariamghalleb opened #18497 "Source class \Vertex for \Vertex\Mapper generation does not exist."
### Preconditions

1. Magento 2.2.4
2.php 7

### Steps to reproduce

1. Setup:di:compile
### Expected result

1.  compilation

### Actual result

1.  Source class \Vertex for \Vertex\Mapper generation does not exist.
![capture3](https://user-images.githubusercontent.com/28814080/46694074-6292cc00-cc14-11e8-8f08-e177d172cc3f.PNG)

Exception trace:

Comments:

I don't know if this Vertex Tax Magento

[2018-10-09 19:42] magento-engcom-team commented on #18497
Hi @mariamghalleb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-09 20:18] pmsteil commented on #18248
@maximkrusina I haven't had time to try 2.3 yet...

We use this image for docker:
https://hub.docker.com/r/rafaelcgstz/magento2/

We are hosting this on platform.sh.

[2018-10-09 20:29] ccrothers commented on #9837
We are experiencing this issue on Magento EE 2.1.6 also.

If "GitHub is intended for Magento Open Source users to report on issues related to Open Source only", then please provide us the alternative location for reporting issues related to Magento EE.

[2018-10-09 20:39] hostep commented on #18248
@maximkrusina & @pmsteil: according to [this post](https://github.com/magento/magento2/issues/17810#issuecomment-417274651), it might be an environmental problem caused by docker.
But if you're sure it's not and you can very easily reproduce it, would you be so kind to open a new issue? Since we're now talking about two different problems in this thread, it's best to have one thread per problem, t

[2018-10-10 02:31] jayanta88 commented on #18496
@magento-engcom-team give me 2.2.2 instance

[2018-10-10 02:32] magento-engcom-team commented on #18496
Hi @jayanta88. Thank you for your request. I'm working on Magento 2.2.2 instance for you

[2018-10-10 02:32] magento-engcom-team commented on #18496
Hi @jayanta88, here is your [Magento instance](https://i-18496-2-2-2.engcom.dev.magento.com).
Admin access: [https://i-18496-2-2-2.engcom.dev.magento.com/admin](https://i-18496-2-2-2.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-10 03:02] jayanta88 commented on #18496
I confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce.

1. Set the authorize.net directpost method in admin with test gateway url and transaction url.
2. Then in checkout console of chrome you can see javascript error duplicate billing id for 2 payment methods.
3. When you will enter the test card details and place order, you will see the error b

[2018-10-10 03:05] jayanta88 commented on #18496
I had contacted with Authorize.net they said this regarding this issue.

This error message is a message from Magento.  You will want to reach out to Magento to find out why they return this message when the transaction was successful.

https://support.authorize.net/s/article/Why-Are-My-SIM-Relay-Response-Transactions-Timing-out-After-Submitting-the-Request

[2018-10-10 06:41] magento-engcom-team commented on #18192
Hi @jaimin-ktpl. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-10 07:07] neodrg commented on #18314
Same error on your side on 2.2.6...

[2018-10-10 07:50] skymeissner commented on #4953
Error still present in magento 2.2.6.

[2018-10-10 07:52] skymeissner commented on #4953
@magento-engcom-team Why is this issue closed?

[2018-10-10 08:13] maksim-grib commented on #11078
@magento-engcom-team are any updates on this issue? it is open for more then a year...

[2018-10-10 08:16] gitgiangalbe opened #18504 "Spam BOT Registration Attack on form customer/account/createpost"
### Summary
My Magento 2.2.5 CE installation has been attacked with multiple fake account registration.
on log (plesk registry function) i found a lot of double request, first in "GET" to "customer/account/create/" then in "POST" to "customer/account/createpost": probably the bot first made a "GET" request on form "customer/account/create/" in order to retrieve form-key and then the form "customer

[2018-10-10 08:16] magento-engcom-team commented on #18504
Hi @gitgiangalbe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-10 08:32] gitgiangalbe commented on #18504
yes

[2018-10-10 09:11] neodrg commented on #18366
I think this is the same of #18305 Please test to verify this is not the same issue.

[2018-10-10 09:15] neodrg commented on #18475
Hi, we encounter the same issu on 2.2.6.

[2018-10-10 09:46] gabs77 commented on #17813
Is it fix on 2.2.6 version ? or someone has a patch for 2.2.5 ?
Thanks

[2018-10-10 09:47] DanielRuf commented on #16017
We do not have this enabled in our case.

[2018-10-10 09:54] engcom-backlog-nazar commented on #16017
@DanielRuf Yes you are right, in blank Theme
![selection_158](https://user-images.githubusercontent.com/40756439/46728448-8d6c3700-cc8b-11e8-8947-5b1f371df607.png)

[2018-10-10 10:03] rikterbeek opened #18508 "collect-totals API call not updating the selected shippingMethod"
If you use the API endpoint
[code]

### Expected result
1. Totals are updated with the new shippingMethod

### Actual result
1. Totals are from the old shippingMethod.

It looks like it has to do that on the second call the setShippingAssignments() is not updated and this causes that the totals are using the old shippingMethod.

[2018-10-10 10:03] magento-engcom-team commented on #18508
Hi @rikterbeek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-10 10:06] larsroettig commented on #18508
@magento-engcom-team give me 2.3 instance

[2018-10-10 10:06] magento-engcom-team commented on #18508
Hi @larsroettig. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-10-10 10:06] omaxmo opened #18509 "Can't cancelled invoice if invoice state == STATE_PAID"
﻿

[code]
I suppose that this code will never be used :
[code]
if we have:
[code]

Problem:
[code]
Possible solution:
[code]

### Preconditions

1. Tested on Magento 2.2.6

### Steps to reproduce

1. Load a invoice programmatically where state == STATE_PAID
2. Call $invoice->cancel()

### Expected result

1. The invoice should be canceled.

### Actual result

1. Can't cancel invoice if invoice sta

[2018-10-10 10:06] magento-engcom-team commented on #18509
Hi @omaxmo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-10 10:24] sureshtenderwork opened #18510 "Create custom attribute in catalog category display setting"
We are working to add custom attribute in catalog category display setting. but it not working in my server

could you please check my attached file and let us now where i made mistakes.

[Tendersoftware.zip](https://github.com/magento/magento2/files/2464227/Tendersoftware.zip)

[2018-10-10 10:58] gwharton commented on #12273
As new bugs being raised on 2.3-develop are now being allocated Release Milestone 2.3.1 and not 2.3.0, I can only assume that the team are working hard on the formal release of 2.3.0. Lets hope it is imminent. I've heard nothing from the team or any official notices about release timescales.

[2018-10-10 11:00] rstylenl opened #18511 "Reports -> Refresh Statistics (and other stats) not showing grid"
Not able te refresh statistics for reports, and not able to see any stats for orders, tax, shipping, etc., etc.

Have the same setup on a different server and i can see the refresh statistic page, and i am able to see the stats for orders, tax, shipping, etc., etc.

### Preconditions

1. Magento CE 2.2.3
2. Nginx
3. PHP 7.

### Steps to reproduce
1. Login to Admin
2. Goto Reports
3. Click Refresh

[2018-10-10 11:00] magento-engcom-team commented on #18511
Hi @rstylenl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-10 11:05] yanncharlou commented on #17813
You can correct this by adding some files in your theme directory. It works for me on 2.2.5 and 2.2.6.

**app/design/frontend/<vendor>/<theme>/Magento_Catalog/web/js/product/storage/data-storage.js :**
`
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
define([
    'jquery',
    'underscore',
    'ko',
    'mageUtils',
    'Magento_Catalog/js/produc

[2018-10-10 12:14] DanielRuf commented on #16017
Ok so this seems to be fixed now (by the linked PRs, I guess).

[2018-10-10 12:42] Besselink opened #18513 "varienImport is not defined"
### Preconditions
1. Magento Version 2.2.6

### Steps to reproduce
1. Open Magento 2 Backend Import Page

### Expected result
1. I expect to see the import form

### Actual result
1. I see a page without form (see attachment)
![varienimport](https://user-images.githubusercontent.com/42958654/46736977-a92b0980-cc9a-11e8-8b71-f825d8ec07f4.png)

[2018-10-10 12:42] magento-engcom-team commented on #18513
Hi @Besselink. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-10 13:01] gewaechshaus commented on #10424
Another conversion killer! In one of our shops a bunch of prices where displayed wrong which significantly did drop sales volume for 2 related store views. Congratulations!

[2018-10-10 13:50] banvariprogrammer commented on #12572
I am facing the same issue in Magento 2.2.4 and I have checked in admin panel persistent shopping cart already disabled (No). So any solution of this issue

[2018-10-10 14:17] MuzzamilAli opened #18514 "Product are not displaying"
1. when we are adding some new product they are going out of stock
2. (Cronjobs issue) we tried to set cron job with the help of hosting provider they fail to solve it and we as well kindly help about this topic.
https://www.ojee.pk/beauty-cosmetics/hair-care/hair-extensions-and-treatment
this is the link where you can see product are not displaying after 3

### Preconditions

we are using Magento

[2018-10-10 14:17] magento-engcom-team commented on #18514
Hi @MuzzamilAli. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-10 14:18] Besselink commented on #18513
The Summary of the issue is, that i can't import anything.

We use PHP7.0 MySQL 5.6 and Magento 2.2.6.

Open just the import page in backend and you will see

i expected to see the import form and i actually see no form

@magento-engcom-team give me 2.2.6 instance

no, i actually have no vanilla instance, where i can reproduce the issue

[2018-10-10 14:19] magento-engcom-team commented on #18513
Hi @Besselink. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-10 14:19] magento-engcom-team commented on #18513
Hi @Besselink, here is your [Magento instance](https://i-18513-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18513-2-2-6.engcom.dev.magento.com/admin](https://i-18513-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-10 14:24] felicitasbosch opened #18515 "Newsletter subscription Segment"
Hi Team, I wanted to crear a customer segment that include customers that are subscribed to the newsletter.
When I set the segment I get an error:
![image](https://user-images.githubusercontent.com/44029726/46743229-fd27f500-cc7e-11e8-9507-f0d60f19a836.png)

I´m in Magento 2

[2018-10-10 14:55] chegong12 opened #18518 "Cannot generate monthly ordered products report"
### Preconditions

1. Magento version 2.2.6
2.

### Steps to reproduce

1. Go to Reports
2. Go to Ordered
3. Store View: Select Humax B2C or English B2B
4. Select 1st day of any random month as the start day and the last day of the same month as the end date.
5. Show By - select month
6. click on refresh

### Expected result

1. I would get a list of ordered products for the selected monthly perio

[2018-10-10 14:55] magento-engcom-team commented on #18518
Hi @chegong12. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-10 14:56] chegong12 commented on #18518
It`s not a technical bug, but somehow the function I have been relying on to generate vital information for our business seems to be gone or changed. Could you please tell me how to access the above described information?

[2018-10-10 14:58] mariamghalleb commented on #15463
I've been having this issue, can anyone confirm its vertex tax module related?
And is there any way to fix it? please..
![capture3](https://user-images.githubusercontent.com/28814080/46745618-14cea000-ccb6-11e8-84ff-811f9eced770.PNG)

[2018-10-10 15:03] engcom-backlog-nazar commented on #16017
@DanielRuf But if this  will be merged this produce the bug. But i'm also cant find empty fields.

[2018-10-10 15:05] engcom-backlog-nazar commented on #18220
@PatrickWhitehouse we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-10-10 15:06] #18220 closed, assigned to nobody

[2018-10-10 15:06] engcom-backlog-nazar commented on #18224
@BarnyShergold we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-10-10 15:06] #18224 closed, assigned to nobody

[2018-10-10 15:07] engcom-backlog-nazar commented on #18044
@kanduvisla we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-10-10 15:07] #18044 closed, assigned to nobody

[2018-10-10 15:08] #17860 closed, assigned to engcom-backlog-nickolas

[2018-10-10 15:39] navarr commented on #15463
@mariamghalleb Can you confirm that the composer package `vertex/sdk` is installed?  If so, can you please run `bin/magento setup:di:compile -vvv` and copy the error output here?

This is an error I've not seen before.  Please also include information such as your version of PHP, the version of vertex/module-tax installed (check vendor/vertex/module-tax/composer.json) and the version of Magento in

[2018-10-10 16:15] mattyl commented on #18148
We have just updated from 2.2.3 to 2.2.6 and are experincing the same issue - paypal express payments work fine - payments via Website Payments Pro Hosted Solution are not moving to processing despite ACK="success" in the IPN.

[2018-10-10 16:19] ishakhsuvarov commented on #18510
Hi @sureshtenderwork

Unfortunately we can not provide any code reviews here, as this issue tracker is intended only for core Magento technical issues.

You may try discussing your solution at the Magento Stack Exchange or Community Forums.

Thank you

[2018-10-10 16:19] #18510 closed, assigned to nobody

[2018-10-10 16:21] axovel commented on #8964
This is quite annoying that how such a critical issue can be opened for 18th months since its reported. Many people are facing issue with Tax calculation and loosing their customer.  The same problem is with shopping cart price rules also.

[2018-10-10 16:30] #16017 closed, assigned to StevenGuapaBV

[2018-10-10 16:30] sezio opened #18519 "magento generate a broken js-translation.json file while deploying locale"
### Preconditions

1. magento CE 2.2.6 or 2.2.5 with porto theme
2. apache 2.2
3. php 7.0.30
4. data were migrated from magento 1 using the migration tool

### Steps to reproduce

I have no idea of how it could be reproduced :disappointed:
However, context is the following : I've been migrating some Magento 1 data using the migration tool on a clean magento 2.2.5 (and then on 2.2.6 hoping the prob

[2018-10-10 16:30] magento-engcom-team commented on #18519
Hi @sezio. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-10 16:48] Besselink commented on #18513
many thanks. there is an other error in vanilla but no, i can't reproduce my error in vanilla.
![import](https://user-images.githubusercontent.com/42958654/46752310-1ea7d180-ccbd-11e8-8724-3a170448ded5.png)

[2018-10-10 19:05] AirmanAJK commented on #18363
This could be considered working as intended. If it's a required option, meaning it's not standard, one could argue that the customer is confirming that they are buying a product with some customization.

In our shop, we occasionally have reduced price products with problems, so we may have a required option of "Screen has a dim display". This is definitely something we want customers to be fully

[2018-10-10 19:20] AirmanAJK commented on #18317
Minification doesn't happen in developer mode. The backend even notes this with the subtext "Minification is not applied in developer mode." next to the configuration option.

The reasoning for this is that developer mode would have to, for each request, compile and minify all javascript files on the fly each time. This is prohibitively time expensive and unnecessary since it would also hinder you

[2018-10-10 20:19] werfu commented on #18363
Our use case implies many options, but all having a single option, and all of them being required. We use bundle as grouped products doesn't fit our pricing need. It may simply bad usage though?

[2018-10-10 20:32] santanajames commented on #4555
I am surprised that this was rejected. It's a breakpoint in your variables, why does it have a **min** setting and not a **max**. Moreover, this adds no side effects or extra code output to css files. The response that:

was dismissive and frankly, an insult to the large community who help build this platform.

This three-line PR from @BenSpace48 would have saved myself and any other dev running i

[2018-10-10 20:40] magento-engcom-team commented on #4942
Hi @densen45. Thank you for your report.
The issue has been fixed in magento/magento2#15905 by @JosephMaxwell in 2.2-develop branch
Related commit(s):
 - [c05ac4c243810a7d94517a82680e29cc6371c33b](https://github.com/magento/magento2/commit/c05ac4c243810a7d94517a82680e29cc6371c33b)
 - [076bb60450be1aab2f89b379c68bd7f311819a50](https://github.com/magento/magento2/commit/076bb60450be1aab2f89b379c68bd

[2018-10-10 20:40] magento-engcom-team commented on #15652
Hi @bibiseb. Thank you for your report.
The issue has been fixed in magento/magento2#15683 by @michielgerritsen in 2.2-develop branch
Related commit(s):
 - [f1554d42e7824ea9149d20142a0178f7a7d31f90](https://github.com/magento/magento2/commit/f1554d42e7824ea9149d20142a0178f7a7d31f90)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-10 20:40] #15652 closed, assigned to nobody

[2018-10-10 21:17] rodrigowebjump commented on #16017
Hi @DanielRuf I will close the issue for now. If you like to comment please reopen the issue.
Thanks

[2018-10-11 03:40] DanielRuf commented on #16017
I already did so ;-)

[2018-10-11 05:10] singh190 commented on #12240
I have installed fresh Magento 2.2.6, but the issue is still there.

[2018-10-11 06:33] Mart-ASE commented on #16203
I also encountered this. how can i fix it? im using Magento ver. 1.7.0.2

[2018-10-11 08:40] chris-pook commented on #18091
Hi, this doesn't seem to be a "non-issue".

The file magento2/lib/web/fotorama/fotorama.js appears to contain modified Fotorama.js third party library code under the guise of the same version number 4.6.4.

**Preconditions:**
- A Magento 2.2.x/2.3.x instance with at least one product

**Steps to reproduce:**
- Load any PDP
- View the source of the fotorama.js file
- Compare it with the same versio

[2018-10-11 09:29] magento-engcom-team commented on #13971
Hi @jeroenschipper. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-10-11 10:00] mohsinahmed22 opened #18523 "Some Product Images are Displaying and some are not"
### Preconditions

1. Magento 2.2.6
2. PHP 7.1

### Steps to reproduce

1. Image cache cleared and 777 permission  for  pub/media
2. php bin/magento catalog:images:resize

### Expected result

1.  Resized All images.

### Actual result

1. Throw error  on File:'/public_html/MagentoRoot/pub/media/public_html/MagentoRoot/vendor/magento/module-catalog/view/base/web/images/product/placeholder/swatch_i

[2018-10-11 10:00] magento-engcom-team commented on #18523
Hi @mohsinahmed22. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-11 10:31] vetshopdeveloper opened #18525 "Incorrect Swager Definition for eav-data-attribute-option-interface"
### Preconditions

1. 2.2.6

### Steps to reproduce

1. create a rest call to `CatalogProductAttributeRepositoryV1Api.CatalogProductAttributeRepositoryV1GetListGet` with search parameters of `attribute_set_id > 0`

or

any other endpoint that returns an object of `eav-data-attribute-option-interface` were `is_default` is to `true`

### Expected result

1.  `is_default` return as a bool when presen

[2018-10-11 10:31] magento-engcom-team commented on #18525
Hi @vetshopdeveloper. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-10-11 10:31] goransl opened #18526 "Unable to Edit Account Information 2.2.4"
### Preconditions
Magento 2.2.4

### Steps to reproduce

1. Go to Stores -> Configuration -> Customers -> Customer Configuration
2. Set Show Tax/VAT Number and Show Company as required.

### Expected result

1. Able to Edit Account Information and use Checkout.

### Actual result

1. On clicking checkout, you are rediected to Edit Account Information, where you enter your VAT number and after clic

[2018-10-11 10:32] magento-engcom-team commented on #18526
Hi @goransleko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-11 10:32] vetshopdeveloper commented on #18525
@magento-engcom-team give me 2.2.6 instance

[2018-10-11 10:32] magento-engcom-team commented on #18525
Hi @vetshopdeveloper. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-11 10:33] magento-engcom-team commented on #18525
Hi @vetshopdeveloper, here is your [Magento instance](https://i-18525-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18525-2-2-6.engcom.dev.magento.com/admin](https://i-18525-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-11 10:50] EliasKotlyar commented on #12398
Had the same issue today. I have copied only the following line to the app\design\frontend\{Vendor}\{currentThemeName}\web\css\source\_theme.less

`
@copyright__background-color: @color-gray-middle4;
`

[2018-10-11 10:51] vetshopdeveloper commented on #18525
Confirmed on default instance provided

`https://i-18525-2-2-.engcom.dev.magento.com/rest/all/V1/products/attributes/country_of_manufacture`

swagger definition as per above instance attached as `swagger.clean.json.zip`
[swagger.clean.json.zip](https://github.com/magento/magento2/files/2468585/swagger.clean.json.zip)

[code]

return from above call attached as `response.zip`
[response.zip](https:/

[2018-10-11 12:09] rstylenl commented on #18511
i could not reproduce this on a vanilla installation of Magento 2.2.3.

[2018-10-11 12:32] oleksii-lisovyi opened #18532 "Module Catalog: product "Save and Duplicate" causes getting infinite loop"
### Preconditions

1. Magento 2.2.x.
2. You should have product(s) with existing URL rewrites.
2.1. In our case there are products migrated from Magento 1, but it's no necessary.

### Steps to reproduce

1. Go to Admin panel -> Catalog -> Inventory -> Products.
2. Open a product with existing URL rewrite.
3. Click on "Save and Duplicate" button.

### Expected result

Original product is saved and

[2018-10-11 12:32] magento-engcom-team commented on #18532
Hi @oleksii-lisovyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-11 12:41] Gaelle-MLR commented on #13153
@AndrewPenry How do you cancel the sale? Even if we manage the stock in the ERP, the sale is still "Processing" and we need it to to be "Closed"

[2018-10-11 13:10] amenk opened #18533 "When we override Customer Registration isAllowed, we should not allow registration via API"
### Summary

When using code like this https://github.com/deved-it/magento2-disable-customer-registration/blob/master/Plugin/Customer/Model/Registration/DisableRegistrationPlugin.php we shall also disable creation of an user via API endpoint

POST /rest/V1/customers

### Examples

If you customize isAllowed() you expect, that registration is not allowed. But it is still allowed via API

### Propos

[2018-10-11 13:10] magento-engcom-team commented on #18533
Hi @amenk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-11 13:43] mmatrafailo opened #18534 "Bug when 2 wysiwyg editors are on category edit page or product edit page"
Pull request https://github.com/magento/magento2/pull/18535
### Preconditions
2 or more wysiwyg editors on catalog product edit page, category edit page.

### Magento 2.2.x
### Steps to reproduce:
1. Have 2 or more wysiwyg editors on catalog category edit page;
2. Press "WYSIWYG Editor" popup button on first editor;
3. Fill some text data in opened popup form.
4. Submit popup.
5. Press "WYSIWYG Ed

[2018-10-11 13:44] magento-engcom-team commented on #18534
Hi @k1las. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-11 13:56] kevinvarley commented on #15427
Confirmed, issue on Magento 2.2.5

`magento.CRITICAL: Wrong order ID: "XXXXXXXX". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"XXXXXXXX\". at /path/to/vendor/magento/module-paypal/Model/Ipn.php:140)"} {"url":"/paypal/ipn/","ip":"XXXXXXXX","http_method":"POST","server":"XXXXXXXX","referrer":null}`

[2018-10-11 14:01] kevinvarley commented on #15427
@convenient Thank you for the detailed logging! Have you managed to get any further debugging the issue since your previous comment?

[2018-10-11 14:07] tgamanov commented on #18534
I am also had this bug, only one WYSIWYG work properly.

[2018-10-11 14:25] kapil-infobeans opened #18536 "Magento 2.2.5 - Shopping Cart Remove Product ( PHP Fatal error )"
### Preconditions

1. Magento EE 2.2.5 without sample data is installed.
2. PHP 7.1.20

### Steps to reproduce

1. Navigate to storefront as a logged in customer.
2. Click "Add to Cart" on the any Product.
3. Open mini shopping cart and click to "view and edit cart" link.
4. Open mini shopping cart click on delete icon next to product.
5. Click on delete icon next to product in shopping cart page.

[2018-10-11 14:27] kapil-infobeans commented on #18536
@magento-engcom-team give me 2.2.5 instance

[2018-10-11 14:28] magento-engcom-team commented on #18536
Hi @kapil-infobeans. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-11 14:28] magento-engcom-team commented on #18536
Hi @kapil-infobeans, here is your [Magento instance](https://i-18536-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18536-2-2-5.engcom.dev.magento.com/admin](https://i-18536-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-11 14:29] jsdupuis commented on #17918
@FerihumF may we know the plugin that was causing the problem? I have the same issue as you on Magento 2.2.4. I get Module 'Magento_SalesSequence':
Running data recurring...Unique constraint violation found

[2018-10-11 14:32] rstylenl commented on #2933
I had the same issue when trying to edit a customer. All was fine after editing the files but when i installed a Vanilla version of Magento 2.2.3 and imported the customer to that one, i could just edit the customer without needing to change the code. So that made me look at the database.

The customer grid was not showing Customer group and Website, so i deced to look at the difference in databas

[2018-10-11 14:32] kapil-infobeans commented on #18536
@magento-engcom-team Is it EE 2.2.5 instance? It's only reproducible on EE 2.2.5.

[2018-10-11 15:04] AndrewPenry commented on #13153
@Gaelle-MLR Sorry, but we haven't found a way to do that without just editing the DB. If this were occurring more often, I'd probably try to program a module to fix it. But because the issue is so rare for us, I can't justify the hours.

I guess one option would be to manually adjust your stock and then completely delete the order using a module like ibnab/magento2-delete-orders. Of course, that m

[2018-10-11 15:35] ilnytskyi opened #18537 "Phone Number is missed in CustomerInterface or not all attributes present."

[2018-10-11 15:35] magento-engcom-team commented on #18537
Hi @ilnytskyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-11 16:25] #17514 closed, assigned to maximbaibakov

[2018-10-11 17:00] dmytro-ch commented on #18265
The issue can not be reproduced. It has been already fixed by the following commits:
- Magento 2.2 (https://github.com/magento/magento2/commit/eafd664a231a9157357a24587a539a5332606247)
- Magento 2.3 (https://github.com/magento/magento2/commit/a39b4a76e2011941da810e60c49ec2e94a4e5ea2, https://github.com/magento/magento2/commit/f66d9c4703ac3d16daacce77c69258c5958cf6c7)

Thank you.

[2018-10-11 17:01] #18265 closed, assigned to dmytro-ch

[2018-10-11 18:18] testmagento2 commented on #18268
I have the same issue, also on a fresh magento 2.2.6

[2018-10-11 18:35] testmagento2 opened #18539 "magento 2 Special price of 0 is not display on frontend"
I am having big problems with special price after updating to Magento 2.2.6.

Steps:

- install a Magento 2.2.6 vanilla
- create a product with regular price
- edit that product and add a special price to 0

Expected:

you should see the 0 special price being shown on the frontend

Actual:

you can't see the 0 special price.

[2018-10-11 18:35] magento-engcom-team commented on #18539
Hi @testmagento2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-11 20:40] nickwilliamsnewby commented on #4617
is this just a luck of the draw sort of deal at this point?

[2018-10-11 21:38] sreichel commented on #13612
W'd like to re-open this.

I could reproduce this with an attribute with custom source model. Some more info here ... https://magento.stackexchange.com/questions/246201/custom-backend-model-for-multiselect-attributes-causes-exception

Attribute setup:

    public function install(ModuleDataSetupInterface $setup, ModuleContextInterface $context)
    {
        $eavSetup = $this->eavSetupFactory->cre

[2018-10-11 22:20] mjohns34 opened #18542 "Unable to reposition products in a grouped product across multiple pages"
### Preconditions

1. Magento 2.2.6 CE is installed.
2. Create a grouped product.
3. Add >20 associated products to the grouped product.

### Steps to reproduce

1. In the admin, navigate to Catalog > Products and edit a grouped product with more than 20 products in the group (such that the product list is divided into 2 or more pages).
2. Try to drag & drop a product from the first page to the se

[2018-10-11 22:20] magento-engcom-team commented on #18542
Hi @mjohns34. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-11 22:36] mjohns34 commented on #18542
@magento-engcom-team Yes, I was able to reproduce the issue on the vanilla Magento instance.

[2018-10-12 02:16] radicalbyte opened #18543 "Import/Export settings problem"
### Preconditions
Magento 2.2.4

### Steps to reproduce
Click on systems > Import or Export > select attribute and no further options appear.

### Expected result

When you select an attribute, Further options appear to import or export

### Actual result

Nothing happened. No options appeared, No error appeared.

Note: import history still reads a CSV upload in progress since 2 days ago  and many

[2018-10-12 02:17] magento-engcom-team commented on #18543
Hi @radicalbyte. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-12 02:30] radicalbyte commented on #18543
@magento-engcom-team give me 2.2.4 instance

[2018-10-12 02:30] magento-engcom-team commented on #18543
Hi @radicalbyte. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-10-12 02:30] magento-engcom-team commented on #18543
Hi @radicalbyte, here is your [Magento instance](https://i-18543-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-18543-2-2-4.engcom.dev.magento.com/admin](https://i-18543-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-12 02:35] radicalbyte commented on #18543
I confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

Yes.

 - On my machine selecting any attributes in import or export does not  show further options

[2018-10-12 02:56] #18543 closed, assigned to nobody

[2018-10-12 04:25] chakravarthykalyan90 opened #18544 "After save and duplicate a different product is loading"
**Preconditions:**

We are using the version Magento 2.2.5. This bug is not always reproducible, its like 1 in 1000. When we try to duplicate a simple product, a different product is loading. We found it while doing rigorous testing but later it is not reproducible.

**Expected Result:**

After save and duplicate, the duplicate product has to be loaded for editing.

**Actual result:**
A different

[2018-10-12 04:28] chakravarthykalyan90 commented on #18544
Sorry, we are not able to reproduce the issue. We noticed twice while doing rigorous testing. I am not able to provide the steps at this moment.

[2018-10-12 06:15] k1las commented on #18534
@magento-engcom-team Yes, I was able to reproduce the issue on the vanilla Magento instance.

[2018-10-12 07:12] karangar opened #18547 "Price filter with including tax (In Backend Catalog Prices set Excluding tax) in magneto 2.2.6"
### Preconditions

1.I have set Backend Catalog Price as a Excluding Tax  And Front side Display Product Price in Catalog set as Including Tax.
2. Magento 2.2.6

### Steps to reproduce

1. Magento 2.2.6
2. Go to Backend and set this Tax Calculation configuration
     Stores -> Configuration -> Sales -> Tax

![screenshot-192 168 10 225-2018 10 12-12-04-20](https://user-images.githubusercontent.com/

[2018-10-12 07:13] magento-engcom-team commented on #18547
Hi @karangar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-12 07:14] #18537 closed, assigned to nobody

[2018-10-12 07:19] karangar commented on #18547
Hello @magento-engcom-team
Please Give me 2.2.6 sample data instance

[2018-10-12 07:30] zulus commented on #18253
I have this on 2.2.6, so I have to wait for 2.2.7 ?

[2018-10-12 07:41] magento-engcom-team commented on #17954
Hi @janakbhimani. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-10-12 07:43] nogoodskam commented on #2027
I Have the same problem, have anyone fixed it?

[2018-10-12 07:44] nogoodskam commented on #2027
Have you find the solution?

[2018-10-12 08:17] 4ctobias opened #18548 "WYSIWYG-Editor Insert Image-Popup is not working correctly with multiple WYSIWYG-Editors on page"
### Preconditions
Two or more wysiwyg-editors on the catalog product edit page, only the first one is in wysiwyg-mode - at least the last editor in the same "block" (eg. content) is hidden/in plain text-area-mode.

Tested with Magento 2.2.6

### Steps to reproduce
1. Open the catalog product edit page
2. Open the "content" area"
3. Enable the WYSIWYG-Mode for the Description
4. Hide the last edito

[2018-10-12 08:17] magento-engcom-team commented on #18548
Hi @4ctobias. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-12 08:18] 4ctobias commented on #18548
@magento-engcom-team give me 2.2.6 instance

[2018-10-12 08:18] magento-engcom-team commented on #18548
Hi @4ctobias. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-12 08:19] magento-engcom-team commented on #18548
Hi @4ctobias, here is your [Magento instance](https://i-18548-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18548-2-2-6.engcom.dev.magento.com/admin](https://i-18548-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-12 08:36] nogoodskam opened #18549 "Step 2 : Add a Database - "Next" button doesn't work"
Hello!
During "Step 2: Add a Database" the "Next" button doesn't work. It doesn't matter what data is entered into the different fields, right or wrong, pressing the "Next" button doesn't do anything. No error messages, no confirmation, nothing.
I'm using Magento 2.2.6 on wamp 3.1.4
Thank you!

[2018-10-12 08:36] magento-engcom-team commented on #18549
Hi @nogoodskam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-12 08:41] 4ctobias opened #18550 "WYSIWYG: Saving IFrame-elements directly via TinyMCE editor won't work - IFrame got lost on save"
### Preconditions
A wysiwyg-editor enabled on the catalog product edit page.

Tested with Magento 2.2.6

### Steps to reproduce
1. Open the catalog product edit page
2. Open the "content" area"
3. Enable all the WYSIWYG-editors in this area
4. Click on Insert Media in the Description Editor
5. Select Iframe as type
6. Enter a url (eg. https://magento.com/)
7. Click on insert
8. Now save the produc

[2018-10-12 08:41] magento-engcom-team commented on #18550
Hi @4ctobias. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-12 08:42] 4ctobias commented on #18550
@magento-engcom-team give me 2.2.6 instance

[2018-10-12 08:42] magento-engcom-team commented on #18550
Hi @4ctobias. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-12 08:42] magento-engcom-team commented on #18550
Hi @4ctobias, here is your [Magento instance](https://i-18550-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18550-2-2-6.engcom.dev.magento.com/admin](https://i-18550-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-12 08:45] 4ctobias commented on #18550
@magento-engcom-team Yes, I was able to reproduce the issue on the vanilla Magento instance.

[2018-10-12 08:45] SolsWebdesign commented on #18248
I stumbled on this too. 225 -> 226
Exception #0 (Magento\Framework\Exception\LocalizedException): Please update your modules: Run "composer install" from the Magento root directory.
The following modules are outdated:
Klarna_Core db schema version: defined in codebase - 4.4.4, currently installed - 4.5.2
Klarna_Core db data version: defined in codebase - 4.4.4, currently installed - 4.5.2
...
Vert

[2018-10-12 08:49] pocallaghan commented on #18549
Windows isn't officially a supported operating system - https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html, so I'm not sure how much traction you'll get with this.

[2018-10-12 09:31] dudzio12 commented on #15609
Making product price updates via massaction leeds to a problem:
If configurable product was selected, the price for it will be updated - it is wrong behaviour since in Magento 2 there is no way to update price in configurable product (unlike in 1.9).

Then it leeds to generating price indexes for configurable product with prices from itself and not from it's associated products.

We've managed to

[2018-10-12 09:36] mage2sol opened #18551 "Getting error on compile time : Cannot use Magento\Sales\Api\Data\OrderInterface as OrderInterface"
### Summary
I recently install 2.2.6 with fresh code. its working good. but after upgrade and deploy i got below error:

Fatal error: Cannot use Magento\Sales\Api\Data\OrderInterface as OrderInterface because the name is already in use in /opt/lampp/htdocs/sambazon/vendor/temando/module-shipping-m2/Model/BatchProvider.php on line 7

### Steps to reproduce
Step 1 : bin/magento setup:upgrade -- **Su

[2018-10-12 09:36] magento-engcom-team commented on #18551
Hi @mage2sol. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-12 10:10] sidolov commented on #17493
Hi @SKovbel. Thank you for your report.
The issue has been fixed in magento/magento2#18500 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [cfc2339f563c68bc3593f058670e85a729bcf85c](https://github.com/magento/magento2/commit/cfc2339f563c68bc3593f058670e85a729bcf85c)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-12 10:10] sidolov commented on #18477
Hi @duongdiep212. Thank you for your report.
The issue has been fixed in magento/magento2#18481 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [d866790f6cec6aeed33f4efb939756079afbf533](https://github.com/magento/magento2/commit/d866790f6cec6aeed33f4efb939756079afbf533)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-12 10:10] sidolov commented on #3283
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#18434 by @lewisvoncken in 2.3-develop branch
Related commit(s):
 - [e6833c8af293def8774eebc90c7cd994a08f50ba](https://github.com/magento/magento2/commit/e6833c8af293def8774eebc90c7cd994a08f50ba)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-12 10:10] sidolov commented on #14555
Hi @nikita2206. Thank you for your report.
The issue has been fixed in magento/magento2#18416 by @ArtsiomBruneuski in 2.3-develop branch
Related commit(s):
 - [9a1b8fd6401f872f5f5f12db15839135e4f38d27](https://github.com/magento/magento2/commit/9a1b8fd6401f872f5f5f12db15839135e4f38d27)
 - [4f017f89e2588aaa0df2714935d24abd9100e981](https://github.com/magento/magento2/commit/4f017f89e2588aaa0df27149

[2018-10-12 10:10] sidolov commented on #12070
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#18405 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ed1f6a5ae5700eadb512c9ba792f86be431277ad](https://github.com/magento/magento2/commit/ed1f6a5ae5700eadb512c9ba792f86be431277ad)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-12 10:10] sidolov commented on #18234
Hi @ulftietze. Thank you for your report.
The issue has been fixed in magento/magento2#18271 by @ulftietze in 2.3-develop branch
Related commit(s):
 - [53a34562ae6aeab152cee9c9ac240bcb7259c2ff](https://github.com/magento/magento2/commit/53a34562ae6aeab152cee9c9ac240bcb7259c2ff)
 - [543fce4f671377309d68bc0132c33a0000342493](https://github.com/magento/magento2/commit/543fce4f671377309d68bc0132c33a00

[2018-10-12 10:10] sidolov commented on #17567
Hi @sivaschenko. Thank you for your report.
The issue has been fixed in magento/magento2#18204 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [47413207211e76618b2c85ecf73371dc2f02a84a](https://github.com/magento/magento2/commit/47413207211e76618b2c85ecf73371dc2f02a84a)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-12 10:31] marvinhuebner commented on #18091
Hey @chris-pook,

i totally agree with you. If magento is using a third party library and there is no own documentation for it, the official docs from the third party library should work.

I found it very confusing and it took me some time to find out why it does not work in magento, but is working then i download the library from github.

[2018-10-12 10:34] peterjaap opened #18553 "Import doesn't populate media_gallery tables"
### Preconditions (*)

1. Magento 2.2.4, 2.2.5, 2.2.6

### Steps to reproduce (*)

1. Import data through the command line (we use Firegento_FastSimpleImport2 as a wrapper) with images

### Expected result (*)

1. Images in an imported product;

![image](https://user-images.githubusercontent.com/431360/46864530-f635e980-ce1a-11e8-8d9e-182799ad5d2b.png)

### Actual result (*)

1. No images in an im

[2018-10-12 10:34] magento-engcom-team commented on #18553
Hi @peterjaap. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-12 10:36] peterjaap commented on #18553
I can't reproduce it in a vanilla instance since I need a wrapper to programatically import the products.

[2018-10-12 10:38] kirtinariya1 opened #18555 "Magento 2.2.6 Default values are not rendering on Wishlist product edit page."
### Preconditions (*)

Magento 2.2.6

### Steps to reproduce (*)

1.Navigate to any configurable product page on the frontend.

2.Select the options and add the product to wishlist.

3.Navigate to My Wishlist page.

4.Click on Edit link given in wishlist item.

### Expected result (*)
1.It should auto-select the options on wishlist product edit page.
![expected-result](https://user-images.githubus

[2018-10-12 10:38] magento-engcom-team commented on #18555
Hi @kirtinariya1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-12 10:42] peterjaap commented on #18553
Weirdly enough, when I set the `$skuProcessor` field in `MediaGalleryProcessor` and `Product` to public and use the repl to check the object reference, it **is** the same instance;

[code]

[2018-10-12 10:42] kirtinariya1 commented on #18555
![list-page-product](https://user-images.githubusercontent.com/28681937/46865015-a581b900-ce39-11e8-9869-79fe76f7f6ca.png)
![wishlistproduct](https://user-images.githubusercontent.com/28681937/46865016-a581b900-ce39-11e8-8847-a6df09043746.png)

[2018-10-12 11:04] nogoodskam commented on #18549
I used xampp instead of wamp, and it resolve the issue

[2018-10-12 11:04] #18549 closed, assigned to nobody

[2018-10-12 11:12] dankhrapiyush opened #18557 "Value of created_at and updated_at columns not updating in ui_bookmark table"
### Preconditions (*)

Magento 2.2.5

### Steps to reproduce (*)

Value of **created_at** and **updated_at** columns not updating in **ui_bookmark** table.
Screenshot
![expected-result](https://content.screencast.com/users/pm.al/folders/Snagit/media/5a6dcb5d-069f-44d8-99d5-82b8cb74bc7d/10.12.2018-16.39.png)

### Expected result (*)

1. Column **created_at** and **updated_at** should be update.

##

[2018-10-12 11:12] magento-engcom-team commented on #18557
Hi @dankhrapiyush. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-12 11:16] gelanivishal commented on #18557
@dankhrapiyush Let me check it.

[2018-10-12 11:19] magento-engcom-team commented on #18557
Hi @gelanivishal. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-10-12 11:40] amenk opened #18562 "Internet Explorer 11: Edit customer in backend leads sometimes to a "loading circle" and error object does not support method "includes""
### Preconditions (*)
1. Magento 2.2.6
2. Internet Explorer 11

### Steps to reproduce (*)
1. Backend
2. Customers
3. All Customers
4. Choose user
5.  Click edit
6. Screen does not load, getting javascript error
"object does not support method includes"

It is not always repeatable, but the error cause is clear (see below) and it should easily be fixable

### Expected result (*)

1. Screen loads

[2018-10-12 11:40] magento-engcom-team commented on #18562
Hi @amenk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-12 11:50] karangar commented on #18547
@magento-engcom-team give me 2.2.6 instance

[2018-10-12 11:50] magento-engcom-team commented on #18547
Hi @karangar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-12 11:51] magento-engcom-team commented on #18547
Hi @karangar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18547-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18547-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18547-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-12 12:06] gediminaskv commented on #15609
I think this issue is related to https://github.com/magento/magento2/issues/14443 and https://github.com/magento/magento2/issues/7367

[2018-10-12 12:13] karangar commented on #18547
How can I indexing for this instance?

[2018-10-12 12:16] karangar commented on #18547
Can you please do needful to run indexing for this instance.
I have uploaded few products to show different products at frontend.

[2018-10-12 12:37] navarr commented on #18497
@mariamghalleb Hi!  Thanks for reporting your issue.

Can you share with me the output of these commands?

[code]

[2018-10-12 12:51] mariamghalleb commented on #18497
@navarr  I fixed the problem by eliminating vertex module from composer.json and i run composer update. It seemed that vertex module got reinstalled and the error was gone. Here's the outputs:
![captcomposer](https://user-images.githubusercontent.com/28814080/46870087-5c7c3580-ce36-11e8-963f-f60dccf904f4.PNG)
![composer](https://user-images.githubusercontent.com/28814080/46870096-630aad00-ce36-11e

[2018-10-12 12:57] enl commented on #13690
Oh, it was tricky! I am still able to reproduce it on vanilla.

### Server details ###
[code]

### Preconditions ###
First,

[code]

So that it is the latest and the most vanilla magento I can imagine:

[code]

1. Enable persistent shopping cart
2. Allow guest checkout
3. Enable any credit cart payment method (I enabled Braintree Credit Card)

![configuration___settings___stores___magento_admin](h

[2018-10-12 12:59] navarr commented on #18497
@mariamghalleb I'm curious too.  Ping me if you encounter the issue again.

Also: because you've updated your modules, if you decide to upgrade to version 2.2.6+ you will stumble into #18248

Disabling any modules you don't use will prevent those issues from occurring, however.

I'm going to close this ticket since the problem does not persist and there are no steps to recreate it.  Again, please

[2018-10-12 12:59] #18497 closed, assigned to nobody

[2018-10-12 13:58] sidolov commented on #9219
Hi @mhauri. Thank you for your report.
The issue has been fixed in magento/magento2#18196 by @bartoszkubicki in 2.2-develop branch
Related commit(s):
 - [f6a94595ace124761b9c423f7655b63db48e6545](https://github.com/magento/magento2/commit/f6a94595ace124761b9c423f7655b63db48e6545)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-12 13:58] #9219 closed, assigned to nobody

[2018-10-12 13:58] sidolov commented on #12479
Hi @Danielc3. Thank you for your report.
The issue has been fixed in magento/magento2#17968 by @Thundar in 2.2-develop branch
Related commit(s):
 - [7965c9bfd532889bca0752a9ef318dae43feb26c](https://github.com/magento/magento2/commit/7965c9bfd532889bca0752a9ef318dae43feb26c)
 - [44fe03f6f067d4f93819b4353f82e2b8caec6c8f](https://github.com/magento/magento2/commit/44fe03f6f067d4f93819b4353f82e2b8cae

[2018-10-12 13:58] #12479 closed, assigned to nobody

[2018-10-12 14:12] dvershinin opened #18568 "Unnecessary sessions created by Varnish backend health checks"
### Preconditions

1. Magento 2.2.6
2. Varnish configured as Full Page Cache
3. Varnish backend health checks configured

### Steps to reproduce

1. Prevent incoming connections / have no traffic
2. Cleanup PHP sessions folder
2. Wait some time

### Expected result

1. No new session files created

### Actual result

1. A new session file created for *each* backend health check event, causing doze

[2018-10-12 14:13] magento-engcom-team commented on #18568
Hi @dvershinin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-12 14:18] gamort commented on #18248
The biggest issue here is the use of meta packages.   A meta package is great for avoiding having to require dozens of individual extensions in the root composer.json.   However it has zero visibility because the meta package is not actually installed.    If you included a small package just to document what is being included by the meta package, it would be easy for technically proficient users t

[2018-10-12 14:54] df2k2 commented on #18248
The function found here:  **File** `vendor/magento/framework/Module/ModuleResource.php:50`

Line 52:

[code]

Might be part of the issue? There is something sketchy with this logic...   I think that the reasoning behind the versioning going over the version installed is because of this function coupled with dependency ordering.  A module with a version of 2.1.1, for example, has somehow managed to

[2018-10-12 14:57] df2k2 commented on #18248
I'm not sure that is accurate

[2018-10-12 15:07] nicknailers commented on #4688
same thing here with 2.2.5 seems to also happen after a upgrade to 2.2.6 CE using varnish 5 however was doing it under varnish 4 too. I did double check to make sure the line from the patch posted by @moloughlin wasn't in those version. Had to disable the "flush cache" method temporarily or we are losing the FPC cache on our whole live website which is bad with more than 100,000 products.

[2018-10-12 15:18] real34 commented on #13665
Any ideas about where to start digging?

[2018-10-12 16:53] apedicdev commented on #13427
I'm on 2.2.6 and I can still replicate the issue.

[2018-10-12 17:01] mayowadavid opened #18572 "Stuck With Installation"
<!---
    Thank you for contributing to Magento.
    To help us process this issue we recommend that you add the following information:

I keep on getting stuck with installing magento 2 on apache msql wamp server on windows, it keep on saying mcrypt extension not found.
I have tried everything possble, but nothing seems to work.
Please can i do, to get rid of this annoying problem.

[2018-10-12 17:01] magento-engcom-team commented on #18572
Hi @mayowadavid. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-12 17:17] Brengineer commented on #11098
I agree with this issue. It has been a headache many times.
All media queries should override default styles, not just min-width queries.
However, I don't think the solution is to move the import for _extend.less above _responsive.less.
It seems that there is something wrong with the way _responsive.less is outputting the media queries that I haven't quite figured out yet.
(Also, this does not app

[2018-10-12 17:20] JulianZetch commented on #18134
@ajusev

We had the same issue. We have upgraded our Magento 2 version to 2.2.6 yesterday and the manufacturer attribute wasn't able to create new products. Fortunately, with the update that you shared us, it was resolved. Best regards.

[2018-10-12 19:37] Brengineer commented on #11098
I agree with this issue, as it has caused headache many times.
I think it can be fixed while still allowing to _extend.less to be called last and override other styles if we simply use a mixin for common styles instead of a variable. This way it can be called explicitly in the correct place in _responsive.less:
1. Convert all instances of `& when(@media-common = true)` to: `.media-common()`
2. Rem

[2018-10-12 19:50] Brengineer commented on #11098
I agree with this issue, as it has caused headache many times.
I think it can be fixed while still allowing _extend.less to be the last file included to override other styles, if we simply use a mixin for common styles instead of a variable. This way, the mixin can be called explicitly in the correct place in _responsive.less, to ensure that all common styles are output before all media queries:
1

[2018-10-12 20:08] zack6849 commented on #18572
@mayowadavid as it stands your issue is impossible to diagnose or even provide assistance with, please add an issue description.

[2018-10-12 20:21] #18513 closed, assigned to nobody

[2018-10-12 20:46] inzamamwaikar opened #18575 "Magento 2 not working after upgrading php to php 7.2"
### Summary (*)

### Examples (*)

### Proposed solution

[2018-10-12 20:46] magento-engcom-team commented on #18575
Hi @inzamamwaikar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-13 05:52] magento-engcom-team commented on #17868
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-10-13 05:54] navinbhudiya commented on #12114
@isitnikov  can you share internet ticket link

[2018-10-13 05:59] navinbhudiya commented on #12114
any one have solution for this?

[2018-10-13 06:16] adityarshah commented on #17865
I would like to work on this issue and hence starting work on this.

[2018-10-13 06:27] ghost opened #18577 "On sales/order_create/loadBlock/block Customer tier price remove"
### Preconditions (*)
1. Magento 2.2.5
2. PHP 7.0
### Steps to reproduce (*)
1.  Login to Magento Admin
2.  Sales -> Order
3.  Create Order
4.  add product which have tier price for different customer group like https://prnt.sc/l5jtqy
5. after add to cart click on get shipping method or select customer group from drop down or just refresh page .
6. **After remove product tier price removed and bas

[2018-10-13 06:29] navinbhudiya commented on #18577
@magento-engcom-team give me Magento CE 2.2.5 instance

[2018-10-13 06:32] magento-engcom-team commented on #12183
Hi @jignesh26. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-13 06:42] magento-engcom-team commented on #17167
Hi @rdudhara. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-10-13 06:46] magento-engcom-team commented on #18475
Hi @prakashpatel07. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-13 07:36] U12358 opened #18579 "Saving multiselect attribute, in some condition, doesn't work."
### Preconditions (*)

Bug was found on EE 2.1.4
	vendor/magento/module-catalog-message-bus/Plugin/Model/ResourceModel/Product.php::62
	vendor/magento/module-catalog-message-bus/Product/Mapper.php::116
		$magentoProduct->getCustomAttributes()

Also Bug present on CE 2.2.6

### Steps to reproduce (*)
You can reproduce bug as insert $product->getCustomAttributes() into save controller, see screensho

[2018-10-13 07:36] magento-engcom-team commented on #18579
Hi @SKovbel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-13 07:48] pocallaghan commented on #18568
Are you sure they're generated by the health check? I manually requested the `health_check.php` file a few times on a development setup and it doesn't appear to generate session files. It does, however, seem although the crons generate session files. This would lead to the number of open sessions building up over time.

[2018-10-13 08:51] jcourtei opened #18580 "Currency rates not updated by crontab"
### Preconditions (*)

Version 2.2.6, probably since version 2.2.4 (Community Edition).

### Steps to reproduce (*)

Base store has only one allowed currency (EUR). So EUR is the base currency.
French store uses base store values.
English store has 4 allowed currencies (EUR, CAD, USD, GBP).
Crontab configured to update currency rates everyday.

### Expected result (*)

Currency rates should be upd

[2018-10-13 08:51] magento-engcom-team commented on #18580
Hi @jcourtei. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-13 08:59] jignesh26 opened #18581 "Calendar Icon aligement Issue"
## Preconditions (*)
1.  2.2.7-dev

### Steps to reproduce (*)
1. Open the special price for simple products
2. ![screenshot from 2018-10-13 14-16-08](https://user-images.githubusercontent.com/21121564/46903539-2ac9a400-cef4-11e8-853e-83e3c8895089.png)

### Expected result (*)

1. Alignment of Icon of selecting the calendar from and to

### Actual result (*)
1.  It should be properly aligned.
2.

[2018-10-13 08:59] magento-engcom-team commented on #18581
Hi @jignesh26. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-13 09:01] jignesh26 commented on #18581
@magento-engcom-team vanilla instance

[2018-10-13 09:03] evagabond commented on #15631
The issue still exists in **2.2.5**. This solution seems to help fix the issue.

[2018-10-13 09:06] mage2sol commented on #18551
Any update please?

[2018-10-13 09:07] datasiantech commented on #16367
Hi. We are having exact same issue with Magento CE 2.2.4 version. Can you please let me know the status of this issue. Appreciate

[2018-10-13 09:14] talhachance4u opened #18582 "SHOWING INDEX.PHP FILE CODE ON MY MAGENTO2 WEBSITE JUST UPGRADE 16.04 TO 18.04 I have mangeto2.2"
### Summary (*)

### Examples (*)

### Proposed solution

[2018-10-13 09:14] magento-engcom-team commented on #18582
Hi @talhachance4u. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-13 09:28] talhachance4u commented on #18582
I have magento2.2 hosted on ec2 with rds just upgraded ubutnut16.04 to 18.04
showing index.php page and mysql.php same thing showing code on both page

[2018-10-13 10:08] saphaljha commented on #17862
Hello @magento-engcom-team ,

As I have gone through with this issue, I have found that you will get this functionality in "**Commerce Editions**" (Enterprise).

I would like you to check it on "**Magento Opensource**" once else close this issue.

Otherwise it will be feature request for "**Magento Opensource**".

[2018-10-13 10:44] magento-engcom-team commented on #18441
Hi @prakashpatel07. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-13 10:47] speedy008 commented on #18581
Currently i am working this issue

[2018-10-13 10:47] magento-engcom-team commented on #18346
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-13 10:54] jignesh26 commented on #18581
@speedy008 Thanks for working on this.

[2018-10-13 11:12] magento-engcom-team commented on #18493
Hi @eduard13. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-13 11:12] magento-engcom-team commented on #18493
Hi @eduard13, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18493-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18493-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18493-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-13 11:40] luukschakenraad opened #18585 "Navigation arrows zoomed fotorama disappear"
### Preconditions (*)
1. Magento 2.2.6
2. Magento sample data
3. Luma theme active

### Steps to reproduce (*)
1. Go to category Women -> Tops -> Jackets
2. Open product "Olivia 1/4 Zip Light Jacket"
3. Click on the large product image on the left

### Expected result (*)
1. I expect to see navigation arrows
2. I expect them to stay visible when navigating through images
3. I expect the navigation

[2018-10-13 11:41] magento-engcom-team commented on #18585
Hi @luukschakenraad. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-13 11:48] luukschakenraad opened #18589 "Empty cart button does not work"
### Preconditions (*)
1. Magento 2.2.6
2. Magento sample data
3. Luma theme active

### Steps to reproduce (*)
1. Add a product to your cart
2. Go to the cart page
3. In the developer-console of your browser run `jQuery('.action.clear').show();` to show the default "empty cart button"
4. Click the button "Clear shopping Cart"

### Expected result (*)
1. I expect the shopping cart to be cleared

##

[2018-10-13 11:48] magento-engcom-team commented on #18589
Hi @luukschakenraad. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-13 11:59] magento-engcom-team commented on #16684
Hi @ssp58bleuciel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-13 12:04] sidolov commented on #14555
Hi @nikita2206. Thank you for your report.
The issue has been fixed in magento/magento2#18554 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [3109909d76b0402a941518bc9306697e4431ef54](https://github.com/magento/magento2/commit/3109909d76b0402a941518bc9306697e4431ef54)
 - [9afdfee251b7ef9098b3ae22e59cf0673c557bb3](https://github.com/magento/magento2/commit/9afdfee251b7ef9098b3ae22e59c

[2018-10-13 12:04] #14555 closed, assigned to ArtsiomBruneuski

[2018-10-13 12:04] sidolov commented on #18477
Hi @duongdiep212. Thank you for your report.
The issue has been fixed in magento/magento2#18552 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [db4ac896b7827e73b7948f1744ab40d9c661468f](https://github.com/magento/magento2/commit/db4ac896b7827e73b7948f1744ab40d9c661468f)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-13 12:04] #18477 closed, assigned to gelanivishal

[2018-10-13 12:04] sidolov commented on #18164
Hi @bruno-serfe. Thank you for your report.
The issue has been fixed in magento/magento2#18495 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - [e7f70abdd40b9bb1f46c45230412dbda0b421246](https://github.com/magento/magento2/commit/e7f70abdd40b9bb1f46c45230412dbda0b421246)
 - [25e3cfe56545df3a4dc502f0fa0d96f63f2e5e88](https://github.com/magento/magento2/commit/25e3cfe56545df3a4dc502f0fa0

[2018-10-13 13:03] pocallaghan commented on #18353
I don't believe this is a bug, but a misunderstanding of the functionality.

Adding a node to the `<arguments>` node is not the same thing as adding an attribute, `cachable`, on the original block definition. The reason for this is the `<arguements>` node contains values to be passed to the block after it's instantiated, but the `cachable` attribute is a property that is parsed by the layout objec

[2018-10-13 13:35] SKovbel commented on #18579
looks like old problem

    MAGETWO-90336: Calling the getCustomAttributes() method on a product instance before it is saved, internal _data property structure is changed and extracted incorrectly before saved

[2018-10-13 13:59] pocallaghan commented on #18555
I can confirm I can replicate this on 2.3-dev, it appears to only be an issue for swatch attributes, default drop-downs do appear to pre-populate.

[2018-10-13 14:47] hostep commented on #18248
@df2k2: it's indeed not super accurate because you can have multiple versions of the amazon modules installed on Magento 2.2.4/2.2.5, it depends on when exactly you setup your store, or if you regularly run `composer update` on your store to keep your dependencies up2date.
The module versions in the list I mentioned above were the module versions which got installed on a clean Magento store at tha

[2018-10-13 15:57] deepakagarwal2608 commented on #13107
I also got the same issue...how to solve it

[2018-10-13 16:15] andrewsurrey commented on #15132
This is still an issue.
my issue is along side: 4096.
if the product doesd duplicate ok, there's no way to change the url anymore.
even if create redirects is unchecked and a totally random unused url provided it give the error above.

result is being stuck with a duplicated product we can't update the url for.

[2018-10-13 17:59] kaalar commented on #18183
Hello Saphal i working, but i dont to replicate in my local.

El sáb., 13 oct. 2018 15:23, Saphal Jha <notifications@github.com> escribió:

[2018-10-13 18:02] tanolalano commented on #4911
Same issue for me. On fresh installation of magento 2.2.6

I create a directory under pub/ called "opt/"
Then I delete it. So no directory "opt"
When I start the Rediness check on admin  I get this error

[code]

Any tought?

[2018-10-13 18:08] tanolalano commented on #14423
Same issue for me. On fresh installation of magento 2.2.6

I create a directory under pub/ called "opt/"
Then I delete it. So no directory "opt"
When I start the Rediness check on admin  I get this error

[code]

Any thought?

[2018-10-13 19:15] oviliz commented on #14667
@tomekjordan they say the fix would only be included in 2.3.0, https://github.com/magento/magento2/issues/17813#issuecomment-426420611

[2018-10-13 19:33] moderncodes commented on #18493
We are having this similar issue as well.
We had about 100 different color name, as some colors are ("Black + Red", "Black & Blue",...).
After adding additional simple color (without any special character) then clicking submit, color attributes which already had those special characters are all modified and auto trimmed rest of the text after special character ("Black ", "Black ",...).
Have no cho

[2018-10-13 19:57] iproger opened #18601 "Duplicate functional in Shipment Register"
### Summary
There are 2 identical methods for register a new shipment. It's a bit confusing when when you add own actions after shipment registration.

### Examples
Magento\Sales\Model\Order\Shipment\OrderRegistrar
[code]

Magento\Sales\Model\Order\Shipment
[code]

### Proposed solution
I suggest:
1. Delete `OrderRegistrar`.
2. Rewrite `OrderRegistrar` in favor of using `register()` in `Shipment`.

[2018-10-13 19:57] magento-engcom-team commented on #18601
Hi @iproger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-13 20:38] jfahrni opened #18602 "Unable to save Dropdown Product Attribute Value that contains an " & ""
After the last update, some of our Product-Attribute Values are suddenly strangely truncated. We can reproduce this behavior with a fresh Magento 2.2.6 installation: if a value contains an " & " it will be cut at this point (when saving) and only the first part will remain as  value.

### Preconditions (*)
1.  Fresh installation via Composer
2. Magento 2.2.6 CE

### Steps to reproduce (*)
1. Go  t

[2018-10-13 20:38] magento-engcom-team commented on #18602
Hi @jfahrni. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-13 21:56] icecoldPHP opened #18603 "Customizeable options has a hidden dropdown option"
### Preconditions (*)

1. Version 2.2.6
2. php7.1
3. debian9

### Steps to reproduce (*)

1. create product
2. add customizeable option of type file
3. save product
4. after save the file type has a default dropdown option so you can't save the product again
5. change customizeable option to dropdown
6. remove option
7. change type back to file
8. save btn works again

### Expected result (*)

1.

[2018-10-13 21:56] magento-engcom-team commented on #18603
Hi @icecoldPHP. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-13 22:16] #18603 closed, assigned to nobody

[2018-10-13 22:17] icecoldPHP commented on #18603
This issue was due to the importer that added some records to catalog_product_option_type_title
which didn't belong there

[2018-10-14 07:37] VladimirZaets commented on #13690
#event-mm18ro

[2018-10-14 10:35] larsroettig opened #18605 "Calendar Icon is displaced at the Backend"
### Preconditions (*)
1.  dev-2.3-develop
2.  Google Chrome - 69.x

### Steps to reproduce (*)

1. Login Backend
2. Go to Catalog -> Products-> Add new Product

### Expected result (*)

The Icons are correctly placed in the Backend

### Actual result (*)
<img width="1423" alt="test___products___inventory___catalog___magento_admin-2" src="https://user-images.githubusercontent.com/5289370/46915548-6

[2018-10-14 10:35] magento-engcom-team commented on #18605
Hi @larsroettig. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-14 10:36] larsroettig commented on #18605
@magento-engcom-team give me 2.3-develop instance

[2018-10-14 10:36] magento-engcom-team commented on #18605
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-14 10:37] magento-engcom-team commented on #18605
Hi @larsroettig, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18605-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18605-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18605-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-14 12:32] rogyar commented on #18589
@magento-engcom-team give me 2.3-develop instance

[2018-10-14 12:32] magento-engcom-team commented on #18589
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-14 12:32] magento-engcom-team commented on #18589
Hi @rogyar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18589-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18589-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18589-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-14 13:50] markoshust commented on #12419
As noted by @barbazul, in https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/ProductVideo/Controller/Adminhtml/Product/Gallery/RetrieveImage.php#L123 the getDirectoryWrite function is only called if an exception is thrown. Removing expected test (which is wrong).

[2018-10-14 14:26] #18602 closed, assigned to nobody

[2018-10-14 14:41] navarr commented on #5992
#SQUASHTOBERFEST

[2018-10-14 14:41] magento-engcom-team commented on #5992
Hi @navarr. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-10-14 15:02] navarr commented on #5992
I see why this gained so little traction.  The model that's being returned here is also used for Product attributes, and implements its interface.

Both interfaces declare an ENTITY_TYPE_CODE constant and so the interfaces are incompatible for use together.

A proper fix for this means the creation of a new model

[2018-10-14 15:51] pmclain commented on #14587
It looks like this is fixed in 2.3-develop by https://github.com/magento/magento2/commit/06c69e361b283911fb2c2db4da04f81226749a9e#diff-196317c892bea622f5a7170c724afdd7

[2018-10-14 15:51] #14587 closed, assigned to nobody

[2018-10-14 16:58] sergei-sss commented on #18366
@neodrg There are *cart* rules here.

[2018-10-14 20:04] magento-engcom-team commented on #18302
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-14 20:04] navarr commented on #18302
#squashtoberfest

[2018-10-14 20:34] magento-engcom-team commented on #18302
@navarr Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95718`, `MAGETWO-95719` were created

[2018-10-14 20:36] magento-engcom-team commented on #18302
Hi @navarr. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-10-14 20:37] dvershinin commented on #18568
@pocallaghan it wasn't generated by `health_check.php` as in my case I have set Varnish probe to check homepage URL.

So I could see how it's sort of OK that sessions are generated while accessing homepage, and that we need to set health check to appropriate URL, but there are cases when it's desired to check things other than `health_check.php`.

And one solution maybe is just preventing session

[2018-10-15 03:08] magento-engcom-team commented on #14571
Hi @jasonevans1. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-15 03:43] penglongyun commented on #2056
use text/x-magento-template, .phtml file, $t not working. not be collected into ...././js-translate.json

[2018-10-15 04:55] magento-engcom-team commented on #18581
Hi @speedy008. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-15 05:32] eduard13 commented on #18493
I'm going to work on this one.

[2018-10-15 05:56] digvijay2017 commented on #12950
I have also noticed this issue while upgraded Magento 2.2.1 to 2.2.2.  But there is no any empty request_path row in url_rewrite table. This is a serious issue and how can @magento-engcom-team  close this issue?

[2018-10-15 06:17] PriyankaJanarthanam opened #18612 "Magento 2 Core API response format"
**Preconditions**
We're using Magento 2.2.5

**Steps to reproduce**
Core APIs returns data with object type if API has no data it will return with an array type.

**Expected Result**
1.API with data
{
  data
}
2.API without data
{}
(or)
1.API with data
[
  data
]
2.API without data
[]

**Actual Result**
1.API with data
{
  data
}
2.API without data
[]

[2018-10-15 06:17] magento-engcom-team commented on #18612
Hi @PriyankaJanarthanam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-10-15 07:41] magento-engcom-team commented on #18526
Hi @nilesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-10-15 07:41] nilesh2jcommerce commented on #18526
Hi @magento-engcom-team ,

Can you please provide me 2.2.4 Instance to check this issue ?

[2018-10-15 08:11] kevingimbel commented on #6426
I just encountered the same issue on version **2.2.4**.

We automatically deploy Magento to AWS when a commit to a Git repository is made. During the deployment, we run some Magento CLI commands (for example `setup:upgrade`, `cache:clean`, and `cache:flush`).

Magento is running in _production_ mode and this shouldn't happen in my opinion. As it is now I do not have the confidence to set up a full

[2018-10-15 08:32] jruzafa commented on #9171
Hello,

this is still happening in CE 2.2.5 I have applied a patch based on the PR I have seen in this and other threads.

https://gist.github.com/jruzafa/61183fe581a6c86b6a06682f905e42c9

[2018-10-15 08:35] sezio commented on #14592
I think it is still occuring in 2.2.5.
Can you maybe ask paypal to add an expired credit card in a sandbox account ?

I don't get why it's closed as it is a bug, no ? not being able to add an expired card does not mean the problem does not exists ?

[2018-10-15 09:21] iancassidyweb opened #18615 "Field restriction incompatibilities between klarna_core_order and sales_order_payment last_trans_id"
### Overview

- Klarna Orders have an identifier which is 36 characters long
- The **sales_order_payment** table has a column **last_trans_id** which stores the id of the transaction.
- This column has a limit of 32 characters. [See Schema](https://github.com/magento/magento2/blob/2.2.6/app/code/Magento/Sales/Setup/InstallSchema.php#L2008-L2012)
- As Magento supports multiple 3rd party payment gat

[2018-10-15 09:29] iancassidyweb commented on #18615
@magento-engcom-team give me 2.2-develop instance

[2018-10-15 09:29] magento-engcom-team commented on #18615
Hi @iancassidyweb. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-15 09:30] magento-engcom-team commented on #18615
Hi @iancassidyweb, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18615-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18615-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18615-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-15 10:36] wouter-toppershops commented on #14952
ive the same issue on Magento `2.2.6` With `2.3-beta18`

but im not using the amazon plugin.

im currently writing my own plugin which sends mail to Postmark of SES. it has worked till `2.2.5` with an  `2.3-alpha61` or lower i believe.

[2018-10-15 10:55] densen45 opened #18616 "Customer name in adminhtml's order management is "Guest""
If you place an order as an guest, the displayed customer name in the adminhtml's order management is "Guest". If the guest has created an account after placing the order, it is a link that points to the customer's account management. Invoice and shipping are also affected.

### Preconditions (*)

1. Magento 2.2.5 or 2.2.6

### Steps to reproduce (*)

1. Create an order as a guest
2. Open the plac

[2018-10-15 10:55] magento-engcom-team commented on #18616
Hi @densen45. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-15 11:02] densen45 commented on #18616
@magento-engcom-team give me 2.2.6 instance

[2018-10-15 11:02] magento-engcom-team commented on #18616
Hi @densen45. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-15 11:03] magento-engcom-team commented on #18616
Hi @densen45, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18616-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18616-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18616-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-15 11:26] Detzler opened #18617 "Missing Fixed Product Tax total on PDF"
When using FPT, the FPT-total show up at the cart/checkout but is missing at the pdf invoice.

### Preconditions (*)
1. Magento v2.2.5
2. PHP7.1

### Steps to reproduce (*)

1. Activate FPT
2. Configure a product to have FPT
3. Place an order

### Expected result (*)

1. You should see a FPT-total in the pdf invoice

### Actual result (*)

1. FPT-total is missing

<img width="342" alt="bildschirmf

[2018-10-15 11:28] Detzler commented on #18617
@magento-engcom-team give me 2.2 instance

[2018-10-15 11:28] densen45 commented on #18616
I was able to reproduce the described issue (except the wrong name in the invoice and shipping emails, because the provided instance does not seem to send any emails.!?). However, the name in the adminhtml's order / invoice / shipping management is always displayed as "Guest". Therefore I assume the name would be wrong in the invoice and shipping emails, as well.

[2018-10-15 11:35] gwharton commented on #14952
On 2.2.6 without amazon module, when Magento sends multiple emails, the first has the correct from address, the second and remaining emails don't.

[2018-10-15 11:39] Detzler commented on #18617
@magento-engcom-team give me 2.2.6 instance

[2018-10-15 11:39] magento-engcom-team commented on #18617
Hi @Detzler. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-15 11:39] magento-engcom-team commented on #18617
Hi @Detzler, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18617-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18617-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18617-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-15 11:45] Detzler commented on #18617
I have created an order. Check the pdf invoice in backend. The FPT is missing.

[2018-10-15 11:46] Detzler commented on #18617
yes

[2018-10-15 12:14] kanduvisla commented on #13902
In Magento 2.2.6 I experienced the issue again. The problem now also seem to persist in `\Magento\Checkout\Model\GuestPaymentInformationManagement::limitShippingCarrier()`

[2018-10-15 12:41] LordHansolo opened #18618 "Wrong order total in customer information orders tab in admin panel"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Set CHF as Default Currency
![default_currency_config](https://user-images.githubusercontent.com/22025597/46951040-0a7e1e80-d087-11e8-99dd-688f5ef6f78e.png)
2. Set GBP currency for United Kingdom website
![uk_currency_config](https://user-images.githubusercontent.com/22025597/46951046-0fdb6900-d087-11e8-8618-5677b5f2c972.png)
3. Place o

[2018-10-15 12:41] magento-engcom-team commented on #18618
Hi @LordHansolo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-15 12:45] magento-engcom-team commented on #17460
Hi @diazwatson. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-10-15 13:17] magento-engcom-team commented on #18605
Hi @Mayur1510. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-15 13:28] amenk commented on #4556
See also: https://magento.stackexchange.com/questions/246503/apache-setenfif-and-fullpage-cache-start-page-shows-the-same-store-view-for-all/246525#246525

[2018-10-15 13:36] lewisvoncken commented on #10205
@engcom-backlog-nickolas Yeah I understand but still the call is already specified for product attributes based on the API call so why do you still need to add the entity type id to the body request?

[2018-10-15 13:43] navarr commented on #18302
In working on this issue, I've discovered that I'll be moving around classes that are part of the public API.

Therefore, this cannot be fixed in the 2.2 line, and my changes will likely be too late for the 2.3 line.  This likely won't be fixed until Magento 2.4

As a workaround you should consider removing it from your custom theme.

[2018-10-15 13:53] pemann commented on #18144
The fact that some non-related actions will change a product's url without creating a valid url redirect is a major(ish) issue. Having 404 pages as a search result will be punished by google and thus will reduce our sales.

[2018-10-15 14:00] DanielRuf commented on #14952
Can you link them here so we can take a closer look?

[2018-10-15 14:06] gediminaskv commented on #18264
@dudzio12 https://magento.stackexchange.com/a/205894/46716

[2018-10-15 14:06] denissdubinin opened #18625 "Fotorama zoom-in swipe doesn't work after finger zoom"
### Preconditions (*)

1. Magento 2.1.10
2. Fotorama gallery is used

### Steps to reproduce (*)

1. Go to some PDP where few images added for the products
2. Open zoom pop-up and zoom image using fingers
3. Swipe between images using fingers. In this case consumer can go only to the next few images and after that swiping doesn't work. Swiping with arrows works perfectly.

### Expected result (*)

[2018-10-15 14:06] magento-engcom-team commented on #18625
Hi @denissdubinin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-15 14:07] denissdubinin commented on #18625
The issue can be reproducible on vanilla Magento

[2018-10-15 14:17] gwharton commented on #14952
#18471 #18472 #18473

[2018-10-15 14:48] rogyar commented on #18605
@magento-engcom-team give me 2.3-develop instance

[2018-10-15 14:48] magento-engcom-team commented on #18605
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-15 14:48] magento-engcom-team commented on #18605
Hi @rogyar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18605-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18605-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18605-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-15 15:25] #18582 closed, assigned to nobody

[2018-10-15 15:27] gwharton commented on #18575
There are no released versions of Magento (2.1 or 2.2) that will run on PHP 7.2

[2018-10-15 15:27] #18575 closed, assigned to nobody

[2018-10-15 15:37] acurvers commented on #11002
@magento-engcom-team  Please reopen. This is not resolved. reproduced in 2.2.6

[2018-10-15 16:50] DrewML commented on #6018
Related: https://github.com/magento/magento2/issues/14667

[2018-10-15 17:22] #18384 closed, assigned to nobody

[2018-10-15 17:37] zack6849 opened #18628 "Products attribute updates via scheduled change don't re-process category rules?"
### Preconditions (*)
1. v2.2.6
2. Have a category with rules set via Visual Merchandiser
3. Have a scheduled update that would make the product meet the rules

### Steps to reproduce (*)
1. Update the product with a scheduled update in a way that would make the product now eligible for listing in the category
2. Wait for the scheduled update to trigger

### Expected result (*)
1. I would expect t

[2018-10-15 17:37] magento-engcom-team commented on #18628
Hi @zack6849. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-15 17:38] zack6849 commented on #18628
@magento-engcom-team give me 2.2.6 instance

[2018-10-15 17:38] magento-engcom-team commented on #18628
Hi @zack6849. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-15 17:38] magento-engcom-team commented on #18628
Hi @zack6849, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18628-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18628-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18628-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-15 17:39] zack6849 commented on #18628
It has just occured to me that as CatalogStaging is a Magento Commerce only feature, I won't be able to test against the instance provided.

[2018-10-15 18:03] hausert opened #18629 "when create a new Catalog Rule price the schedule feacture never activated the rule"
### Preconditions (*)
1. Magento 2 EE

### Steps to reproduce (*)
1. Create a new Catalog price Rule
2. Run catalog_apply

### Expected result (*)
1. The process set the rule in active
2. The process run indexer
3. the new rule apply in catalog

### Actual result (*)
1. Is not activated the rule
 2. Dont applied in catalog

[2018-10-15 18:03] magento-engcom-team commented on #18629
Hi @hausert. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-15 18:19] dverkade opened #18630 "Postcode / Zipcode in checkout form already validated on page load"
### Preconditions
1. Magento 2.2.6

### Related issues

There are several bugs about this, but they are all closed and it's mentioned that this has been resolved in Magento 2.2.X, but unfortunately it's not in the latest version, so opening a new bug report for this issue.

1. magento/magento2#7724
2. magento/magento2#8115

### Steps to reproduce (*)
1. Add products to cart
2. Checkout as a guest

[2018-10-15 18:19] magento-engcom-team commented on #18630
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-15 18:40] dverkade commented on #18629
This issue looks like it's the same as magento/magento2#13325

[2018-10-15 19:46] testmagento2 opened #18635 "Getting a different downloadable product link after purchasing"
Can someone explain me why when I purchasing a download product I am receiving different download product ?

Magento 2.2.6

![download not the same](https://user-images.githubusercontent.com/33385380/46974231-7796b180-d091-11e8-8d54-da0a9974baab.PNG)

[2018-10-15 19:46] magento-engcom-team commented on #18635
Hi @testmagento2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-15 21:09] jasonevans1 commented on #14571
@magento-engcom-team give me 2.3-develop instance

[2018-10-15 21:09] magento-engcom-team commented on #14571
Hi @jasonevans1. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-15 21:09] magento-engcom-team commented on #14571
Hi @jasonevans1, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14571-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14571-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14571-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-15 21:39] #18441 closed, assigned to prakashpatel07

[2018-10-15 21:40] #18635 closed, assigned to nobody

[2018-10-15 21:43] testmagento2 commented on #18539
Hi
I found a temporary solution by create catalog price rule and it changed the price to 0

[2018-10-15 21:43] #18539 closed, assigned to nobody

[2018-10-15 21:44] NostiLoke opened #18636 "Magento 2.2.6: cookies.js blocked > Minicart not working, infinite checkout loader."
### Preconditions (*)

1. PHP 7.1
2. Fresh Magento 2.2.6 installtion (without and with sample data) - no admin settings changed
3. AdBlock-Extension in Chrome

### Steps to reproduce (*)

1. Reload page (F5)
2. Add article to cart
3. Go to checkout

### Expected result (*)

1. Article (and number) should be shown in the minicart.
2. Link with the "Proceed to Checkout" is visible
![0043](https://us

[2018-10-15 21:44] magento-engcom-team commented on #18636
Hi @NostiLoke. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-15 22:36] hausert commented on #18629
Hi Dverkade,

I check this issue but is not the same case. In my case i never see the rule change the activated status.
For example:
i create a new catalog price rule for today, this case created a new scheduler for this rule. When i edit this scheduler allways see the rule like inactive.
I try to run catalog_rule_apply, reindexer price and catalog_rules and dont change de status for this rule.

T

[2018-10-16 02:53] saxsax1995 commented on #12362
Quick fixed:
https://magento.stackexchange.com/a/246493/70258
Hope it help some one.
Thanks :)

[2018-10-16 04:56] DrewML commented on #14667
Keeping the ball rolling on this: https://github.com/magento/architecture/pull/33

[2018-10-16 05:01] magento-engcom-team commented on #18581
@speedy008 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2018-10-16 05:06] speedy008 commented on #18581
Kindly note i have resolved In 2.2-develop and working on 2.3-develop
i'll update till tomorrow once i resolved the issue.

[2018-10-16 06:00] lovelysetia1992 commented on #18453
Please Resolve my issue @magento-engcom-team .

[2018-10-16 06:01] lovelysetia1992 commented on #18484
Please help me to find this solution @magento-engcom-team

[2018-10-16 06:30] diazwatson commented on #13415
Hey guys I am trying to reproduce this issue with the 2.3-develop instance provided but when I try to add a product to the cart I get a message saying:
`Your session has expired`

Any idea why this is happening?

[2018-10-16 06:33] diazwatson commented on #17460
Hey guys I am trying to reproduce this issue with the 2.3-develop instance provided but when I try to add a product to the cart I get a message saying:
`Your session has expired`

This happens in `2.3-develop` as well as the branch I am submitting for the PR.
I have also seen this issue while testing other issues.
 Any idea why this is happening?

[2018-10-16 06:33] schmengler commented on #15828
I can confirm that. It is especially nasty if the backend web server has a different cache prefix than the frontend web servers, and cache invalidation from backend does not work.

A solution on Magento side would be to automatically set id_prefix when installing Magento, so that it does not change anymore and is the same for all web servers.

[2018-10-16 07:31] nilesh2jcommerce commented on #18526
Hi @goransleko ,

I have crosschecked this issue on 2.2.4 version and followed yours mentioned step. After set Tax/VAT Number and Company as required.
Click on checkout button for placing order and logically it redirect to account information page to add VAT number as it marked required in admin interface.

But I am not able to generate **error "Company" is a required value. "Company" length must

[2018-10-16 07:41] Bonobomagno commented on #1146
still on 2.2.6. robots is generated right, but sitemap.xml not.

[2018-10-16 07:42] dverkade commented on #18629
Hi @hausert

In Magento a price rule can be set to active or not. When a rule is inactive Magento will never ever do something with the rule. When the rule is active and it hit's the start date of that rule, it will automatically apply that rule on the given date. In order to do so, the rule needs to be set to active.

As I'm understanding you have a rule with a start dat, and set it to "inactive"

[2018-10-16 07:49] goransleko commented on #18526
Hi @nilesh2jcommerce.

Did you try it with user that was registered and didn't have saved company name and tax before you've enabled Show Tax/VAT Number and Show Company as required?

I've noticed if I register new user after enabling Show Tax/VAT Number and Show Company as required or have manually edited user in backend, then it will work as expected.

[2018-10-16 07:53] ihor-sviziev commented on #1146
Hi @Bonobomagno,
As this issue at tome point was fixed and closed, please create separate issue. If we'll be able to reproduce it - we'll mark it as "acknowledged"

[2018-10-16 08:12] ihor-sviziev commented on #6426
@kevingimbel if you still have this issue on latest Magento version (2.2.6 atm) - let us know by creating new issue. We'll re-check it

[2018-10-16 08:19] nilesh2jcommerce commented on #18526
Hi @goransleko ,

Yes I have checked with registered which was not saved company name and tax before.Then enable Show Tax/VAT Number and Show Company as required.

Working with both registered and New register user.

Can you check same with both and let me know.

[2018-10-16 09:10] rimpal18 commented on #16950
Did you get any solution for it? We got same issue on 2.2.5

[2018-10-16 09:33] rimpal18 opened #18644 "Magento 2.2.5 - Table catalogsearch_fulltext_scope1 not being automatically generated"
### Preconditions (*)

The exception log becomes bloated with "main.CRITICAL: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'catalogsearch_fulltext_scope1' doesn't exist". sometimes reindexing cycle is working properly.but sometime it's not generated/rename from catalogsearch_fulltext_scope1_tmp folder. If we check in database, table is not exist but if you try to create, it will show

[2018-10-16 09:33] magento-engcom-team commented on #18644
Hi @rimpal18. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-16 09:38] Userr017 opened #18645 "Magento 2 translation issue: notification Added to shopping cart"
Can see that Magento 2.2.6 is created new folder to vendor/magento/module-checkout/view/frontend/templates/messages and file addCartSuccessMessage.phtml
File is added this notification " You added "product name" to your shopping cart." with link text "shopping cart". It is anything quick fix to this issue that translation works?

### Preconditions (*)

1. PHP 7.1
2. Magento 2.2.6

### Steps to rep

[2018-10-16 09:38] magento-engcom-team commented on #18645
Hi @Userr017. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-16 10:28] farhadfrz commented on #16950
Try this:

- Run `bin/magento indexer:set-mode realtime`. This removes the required triggers.
- Connect to your DB and remove any remaining triggers.
- Finally, run `bin/magento indexer:set-mode schedule` to generate the required triggers again.

[2018-10-16 10:59] rimpal18 commented on #16950
Thanks let me try but what's the command to check remaining triggers and remove them??

[2018-10-16 11:09] farhadfrz commented on #16950
You just need to connect to your database and drop anything that starts with "trg_".

To get the list of your triggers, run `SHOW TRIGGERS FROM database_name;`.
To delete them one by one, run `DROP TRIGGER table_name.trigger_name;`.

[2018-10-16 11:09] lovelysetia1992 commented on #18453
When I have two or more items,if one or two is bundle,then create invoice.It show wrong response.Please reply me,its a big issue.

[2018-10-16 11:10] viktordodev opened #18646 "Unable to finish compilation after upgrading from 2.2.5 to 2.2.6"
### Preconditions (*)

1. Magento version 2.2.6
2. PHP 7.0.11
3. Bitnami Stack

### Steps to reproduce (*)

1. Upgrade to 2.2.6 from 2.2.5
2. Run compilation command

### Expected result (*)

1. Exptected to finish the compilation
2.

### Actual result (*)

1. Instead it trows an error on the 3 step of the compilation
2. This is the error:
 Cannot use Magento\Framework\Search\Request\Dimension as

[2018-10-16 11:10] magento-engcom-team commented on #18646
Hi @viktordodev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-16 11:18] Puru2016 commented on #15201
@vteofilo please explain bit more how to use your fix to solve this issue?

[2018-10-16 12:03] pocallaghan commented on #18645
You're CSV columns are enclosed in double quotes, but you don't appear to be escaping the double quotes of the href attribute. Have you tried:

    "You added %1 to your <a href=""%2"">shopping cart</a>.","Lisäsit %s <a href=""%2"">ostoskoriisi</a>."

[2018-10-16 12:09] viktordodev commented on #18646
Ok. I have found the issue. For some that might experience the same this might help.

I have upgraded magento using composer, however i realized that the file Dimension.php at location
/vendor/magento/framework/Indexer has different content than the official Magento downloaded zip.

Once I used the original content everything works fine.

Hey Viktor,
Thanks for helping yourself :)

[2018-10-16 12:31] jhruehl opened #18647 "Magento 2.3.0-beta36: Category Products Indexer execution time increased drastically"
### Preconditions (*)
1. Magento 2.3.0-beta36 (Open Source or Commerce) store with around 75k entries in the catalog_product_entity table
2. PHP 7.1

### Steps to reproduce (*)
1. Reindex Category Products Indexer via CLI command

### Expected result (*)
1. Execution time is well below 1 minute (as in 2.3.0-alpha in same local environment)

### Actual result (*)
1. Execution time is around 30 minu

[2018-10-16 12:31] magento-engcom-team commented on #18647
Hi @jhruehl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-16 12:39] jhruehl commented on #18647
As stated above this issue cannot be reproved just with a Magento Vanilla Store and the given sample data, because the responsible queries won't query even closely for as many product ids as present in a true store setup.

The query given in my uploaded file shows exactly where the cause is. Given the queries done during the reindex process the issue should be most definitely resproducable, if you

[2018-10-16 13:03] jhruehl commented on #18647
@magento-engcom-team FYI: The Product EAV Indexer seems to have been screwed up massively to somewhere between 2.3.0-alpha and 2.3.0-beta18. It just took 51 minutes instead of around 1 minute now. You definitely need a more appropiate testing environment than the vanilla store with sample data in the future to avoid rendering some core functionalities almost useless by "trusted" commits from the c

[2018-10-16 13:41] chrisseamanunityonline commented on #12114
@langstn @magento-engcom-team  Looking to kill the last of our bugs before launch, Also looking for a solution to this issue.

[2018-10-16 13:56] Hoszi opened #18651 "Tierprice can't save float percentage value"
### Preconditions (*)
1. Install the newest version 2.2.6

### Steps to reproduce (*)
1. Add new product
2. Add new tierprice with "discount" value "12.5"
3. Save the product

### Expected result (*)
1. Saving the tierprice as you set it "12.5"

### Actual result (*)
1. It's converted to INT then save it

### Possible Solution
In
\Magento\Catalog\Model\Product\Attribute\Backend\TierPrice\UpdateHan

[2018-10-16 13:56] magento-engcom-team commented on #18651
Hi @Hoszi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-16 14:00] Hoszi commented on #18651
@magento-engcom-team give me 2.2.6 instance

[2018-10-16 14:00] magento-engcom-team commented on #18651
Hi @Hoszi. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-16 14:01] magento-engcom-team commented on #18651
Hi @Hoszi, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18651-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18651-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18651-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-16 14:04] Hoszi commented on #18651
I can reproduce the issue on vanilla Magento instance

[2018-10-16 14:31] Userr017 commented on #18645
Thanks it works!

[2018-10-16 14:31] #18645 closed, assigned to nobody

[2018-10-16 14:36] Hoszi opened #18652 "Tierprice discount not calculated correctly if has specialprice."
### Preconditions (*)
1. Install the newest version 2.2.6

### Steps to reproduce (*)
1. Add new product with price $18.42
2. Add special price $14
3. Add tier price with qty=2, type = "Discount" and value = "%12"
4. Add tier price with qty=300, type = "Discount" and value = "%25"
4. Add tier price with qty=1000, type = "Discount" and value = "%50"
6. Save the product

### Expected result (*)
1. T

[2018-10-16 14:36] magento-engcom-team commented on #18652
Hi @Hoszi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-16 14:45] sidolov commented on #12969
Hi @boldhedgehog. Thank you for your report.
The issue has been fixed in magento/magento2#18393 by @loganstellway in 2.3-develop branch
Related commit(s):
 - [422d24444321f7c5d5f6ae7fe7ec9872e233ba7a](https://github.com/magento/magento2/commit/422d24444321f7c5d5f6ae7fe7ec9872e233ba7a)
 - [1e28a8e25d1d43f02e090faf8aa77216a3a84738](https://github.com/magento/magento2/commit/1e28a8e25d1d43f02e090faf8

[2018-10-16 14:45] sidolov commented on #18164
Hi @bruno-serfe. Thank you for your report.
The issue has been fixed in magento/magento2#18494 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [47978d74fb44398dd931cc762e53f1c802eab1a1](https://github.com/magento/magento2/commit/47978d74fb44398dd931cc762e53f1c802eab1a1)
 - [0fcbe126eff6cc5268268ec1154a261d49369152](https://github.com/magento/magento2/commit/0fcbe126eff6cc5268268ec1154

[2018-10-16 14:45] sidolov commented on #17977
Hi @vaibhavahalpara. Thank you for your report.
The issue has been fixed in magento/magento2#18507 by @vaibhavahalpara in 2.3-develop branch
Related commit(s):
 - [9b7d4ac8c03eade9c6e94262b2f868cdf3f36aca](https://github.com/magento/magento2/commit/9b7d4ac8c03eade9c6e94262b2f868cdf3f36aca)
 - [67e1b01f6d8c90df57a70a3e9d56220234af27c2](https://github.com/magento/magento2/commit/67e1b01f6d8c90df57a7

[2018-10-16 14:45] sidolov commented on #18131
Hi @akimatze. Thank you for your report.
The issue has been fixed in magento/magento2#18437 by @strell in 2.3-develop branch
Related commit(s):
 - [2f4ad2f42dba88f53eb075b041465662061e2278](https://github.com/magento/magento2/commit/2f4ad2f42dba88f53eb075b041465662061e2278)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-16 14:45] sidolov commented on #13405
Hi @kyegil. Thank you for your report.
The issue has been fixed in magento/magento2#18210 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [765f88f0359dbd689a2b662f3c5a76f91a839e52](https://github.com/magento/magento2/commit/765f88f0359dbd689a2b662f3c5a76f91a839e52)
 - [558d5279f200d4e9753aae715f2d7f4f44a0d5c4](https://github.com/magento/magento2/commit/558d5279f200d4e9753aae715f2d7f4f44a0

[2018-10-16 15:06] DrewML commented on #6018
For those still following this thread, we're discussing alternatives to address the performance issue https://github.com/magento/architecture/pull/33

[2018-10-16 15:18] botam opened #18653 "Can not view Entire Backend Menu on notebook and no scroll to view it"
### Preconditions (*)

1. Backend
2. Backend

### Steps to reproduce (*)

1. Backend
2. Backend
3. Backend

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]
Can not view Entire Backup
![magento backend cant see menu](https://user-images.githubusercontent.com/3589505/47027268-89359300-d13d-11e8-8b2e-0cc1e6692438.jpg)
Menu a

[2018-10-16 15:18] magento-engcom-team commented on #18653
Hi @botam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-16 15:42] jhruehl opened #18655 "Magento 2.3.0-beta18: ReflectionException on Backend -> Stores -> Configuration -> Services -> OAuth page"
### Description
Admin Page "Stores -> Configuration -> Services -> OAuth" throws Reflection Exception.

### Preconditions (*)
1. Magento 2.3.0-beta18

### Steps to reproduce (*)
1. Login as admin and open the Stores -> Configuration -> Services -> OAuth page

### Expected result (*)
1. Page loads without an exception

### Actual result (*)
1. Page throws ReflectionException

[2018-10-16 15:42] magento-engcom-team commented on #18655
Hi @jhruehl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-16 15:49] diazwatson commented on #17460
Closing my PR as [there is already a PR](https://github.com/magento/magento2/pull/17518) in process  with the fixes described in this issue

[2018-10-16 15:49] jhruehl commented on #18655
Either you make it easier again to create simple pull requests via patches without having to do this fork nonsense or developers like me will not actively contribute any more. The solution can be found in a rejected pull request of mine, because I didn't want to to this fork update nonsense, which has to be done in a local environment and cannot be done via the github page itself.

[2018-10-16 15:49] aaugusto-efi commented on #18536
I am able to reproduce this on Magento 2.2.1. Not consistently, but it is occurring under the same scenario.

[2018-10-16 16:40] leoquijano commented on #18489
I ran into this issue as well, using v2.2.6. It looks like the same issue as the one reported in #11657.

[2018-10-16 16:41] nickpiro commented on #8614
This is still not working in 2.2.5! Why is this closed?! I create a simple attribute "Free Shipping" with dropdown of 'Yes'. Create Cart Price Rule, set condition based on Free Shipping Attribute, Action Free Shipping for Matching Item Only, no free shipping. I've enabled and disabled 'Free Shipping' in Shipping Methods, I've let the system try the Free Shipping method from Fed-Ex. Nothing seems t

[2018-10-16 17:40] #11427 closed, assigned to nobody

[2018-10-16 17:45] Anju2006 commented on #14076
Im facing a slight variant issue. The cart has 75% configurable products and adding them to cart directs to a shipping address page which provides an update button which isn't the page when I am adding a non-configurable product to the cart.  One shows shipping method but for non-configurable, It goes directly with just showing shipping method (preferred)

Pls help!

[2018-10-16 20:32] slavvka commented on #18493
hey @eduard13 Thank you for reporting the issue. We are already working in the fix for 2.3 (MAGETWO-94962) and the will port it to 2.2 (MAGETWO-95426)

[2018-10-16 20:34] DrewML commented on #14667
@tomekjordan I'm from the Magento team, and I posted actual traces from DevTools [here](https://github.com/magento/magento2/issues/14667#issuecomment-415813263) 🙂. Definitely aware it's a problem, and we're working on it.

@oviliz this is a separate issue. That issue could slow down all things requiring JS execution on the page, but this issue (slow product photos) still requires separate work.

@

[2018-10-16 20:34] slavvka commented on #18263
hey @CD0001 Thank you for reporting the issue. We are already working in the fix for 2.3 (MAGETWO-94962) and then will port it to 2.2 (MAGETWO-95426)

[2018-10-17 05:48] rajat-mediabharti commented on #7488
please guide me to troubleshoot this error

[2018-10-17 05:52] farazWebDev commented on #12185
Fixed working partially only.
Still facing same issue, on v2.2.5 and v2.2.6 for:
_Safari browser working_ but **iOS app not working**.
_Android Phone - Chrome browser working_ but **default browser not working**.

[2018-10-17 07:57] ytthuan commented on #8189
I am facing this too in the version 2.26, the symptom is very similar with yours.

[2018-10-17 08:12] shaikhmasud147 opened #18664 "Magento2.0: moveToCart functionality is not working from admin side"
### Preconditions (*)
Magento 2.0.17

### Steps to reproduce (*)
1) Under customer, tab selects any one customer for edit.
2) Create a new order
3) Add items in order grid
4) Select option move to the shopping cart
5) Click on the update button

### Expected result (*)
When I click on update button then item added in cart.

### Actual result (*)
When I click on update button then page load and ite

[2018-10-17 08:12] magento-engcom-team commented on #18664
Hi @shaikhmasud147. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-17 08:21] spellmen opened #18665 "default grid view"
A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

[2018-10-17 08:21] magento-engcom-team commented on #18665
Hi @spellmen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-17 08:31] tr33m4n commented on #18536
@magento-engcom-team The issue here is that `Magento\GoogleTagManager\Model\Plugin\Quote\SetGoogleAnalyticsOnCartRemove::afterRemoveItem` does not add a conditional to check whether the `$item` exists before calling `$item->getQty()`, something like the following would fix:
[code]

[2018-10-17 08:57] spellmen opened #18666 "Default grid view is not working"
### Summary (*)

I migrated Magento 1.9 data to Magento 2.2.3. In Magento 2 frontend all products are coming fine, but the backend I couldn't able view the catalog products. In most of the admin pages, it is showing the below message,

### Examples (*)

<img width="1430" alt="screen shot 2018-10-17 at 2 22 12 pm" src="https://user-images.githubusercontent.com/27009837/47074540-3b418d80-d218-11e8-9

[2018-10-17 08:57] magento-engcom-team commented on #18666
Hi @spellmen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-17 09:31] dpdesignthatfits commented on #13276
Note we have a similar issue with the same method when attempting to ship certain orders.

[Wed Oct 17 09:24:52.370927 2018] [proxy_fcgi:error] [pid 9251] [client 127.0.0.1:37728] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Call to undefined method Magento\\Catalog\\Model\\Product\\Type\\Simple\\Interceptor::getConfigurableAttributeCollection() in /home/public_html/vendor/ma

[2018-10-17 09:35] #18665 closed, assigned to nobody

[2018-10-17 09:37] larsroettig commented on #18665
@spellmen wrong format open new issue and use the correct template.

best regards,

Lars

---
Maintainer  Magento Community Engineering Team

[2018-10-17 09:52] wwwebgainss commented on #17925
any updates concerning that behavior?

[2018-10-17 09:56] domeglic opened #18668 "Intercepted classes don't work correctly when using ReflectionClass - Integration Tests"
### Summary (*)
Creating a store inside integration tests doesn't work if there is a plugin defined for `Magento\Framework\App\Config`.

I have a test that requires a new store and it is not possible to save it. There is an exception "Property data does not exist".
When saving a store, method `\Magento\TestFramework\Store\StoreManager::reinitStores` is called, the reflection class will only have p

[2018-10-17 09:56] magento-engcom-team commented on #18668
Hi @domeglic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-17 10:36] ravi-chandra3197 commented on #18183
Hello @Cristiano81
I have a re-produce issue in my local
- Create a cart price rule with the specific coupon with a date from 2018 to 2088

After I have checked in database "salesrule_coupon" table and I have found expiration_date is 0000-00-00 00:00:00 because MySQL does not allow date greater or equal then 2038, if we have entered 2037 it's valid but 2038 invalidate, so it's actually a MySQL err

[2018-10-17 10:45] iamckdev opened #18669 "In Admin customer(edit) section view return(RMA) page showing error 404 page"
### Preconditions (*)

1. Install the newest version 2.2.6 (Enterprise edition)

### Steps to reproduce (*)

1. Place order
2. Create return

![1](https://user-images.githubusercontent.com/15726245/47081082-4cde6180-d227-11e8-99ef-53e7cf29f953.png)
![2](https://user-images.githubusercontent.com/15726245/47081092-523bac00-d227-11e8-9c70-fd809307cd78.png)

3. Go to customers
4. Open customer
5. Clic

[2018-10-17 10:45] magento-engcom-team commented on #18669
Hi @iamckindia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-17 10:56] rimpal18 commented on #16950
I tried this but SHOW TRIGGERS FROM database_name giving empty set.   Is it permanent solution or whenever we get this issue,we need to solve like this?

[2018-10-17 10:57] spellmen commented on #10071
@shivanisehdev86 have you fixed this issue.?

[2018-10-17 10:59] spellmen commented on #10071
@shivanisehdev86  Have you fixed this issue?

[2018-10-17 11:31] farhadfrz commented on #16950
This was a permanent solution and worked for us, because not all the old triggers were deleted after upgrading to Magento 2.2.

[2018-10-17 11:54] rimpal18 commented on #16950
ohk.. but we have not upgraded version. but it's showing error for catalog
search reindex. and it's not coming every time. it's random error

On Wed, Oct 17, 2018 at 5:02 PM farhadfrz <notifications@github.com> wrote:

[2018-10-17 12:15] dphilipps commented on #18148
I am experiencing the same issue with 2.2.6 and Website Payments Pro.

Note, when Payment Review is on, and a transaction is manually approved in PayPal, followed by 'Get payment update' in Magento, the Order Status changes immediately to 'Complete'.

With Payment review off, a successful transaction results in an Invoice being raised, but order status is 'Pending Payment'.

[2018-10-17 12:28] gcampedelli commented on #18438
I had a similar issue upgrading to Magento 2.2.6 but using a custom step checkout as first step where user can log in. Behavior is something like this. Customer add product to cart. Goes to checkout. Checkout first step only asks email. Customer log in and Magento 2 redirects him to 404. He has to reload checkout in order to proceed.
Looking at logs, I found that progress bar has been cancelled an

[2018-10-17 13:19] eduard13 commented on #18493
Hey @slavvka, thank you for informing, should we close the issue, or leave it open till the issue is fixed?

[2018-10-17 13:35] magento-engcom-team commented on #18585
Hi @luukschakenraad. Thank you for your report.
The issue has been fixed in magento/magento2#18595 by @luukschakenraad in 2.2-develop branch
Related commit(s):
 - [ad09de9f80ff70a2bb4e6a22bce9eabeda40812b](https://github.com/magento/magento2/commit/ad09de9f80ff70a2bb4e6a22bce9eabeda40812b)
 - [e031bdc1007a980150635b2681880ac4475dd71a](https://github.com/magento/magento2/commit/e031bdc1007a98015063

[2018-10-17 13:35] #18585 closed, assigned to nobody

[2018-10-17 13:35] magento-engcom-team commented on #18581
Hi @jignesh26. Thank you for your report.
The issue has been fixed in magento/magento2#18593 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [a2b163b8d1dce7d8cc8c1e34a2e0ffa9e83d74d3](https://github.com/magento/magento2/commit/a2b163b8d1dce7d8cc8c1e34a2e0ffa9e83d74d3)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-17 13:35] #18581 closed, assigned to SyntaxKay

[2018-10-17 13:35] magento-engcom-team commented on #12070
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#18561 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [7fd27fe87cbdd38607efb89df6c94a71b3302558](https://github.com/magento/magento2/commit/7fd27fe87cbdd38607efb89df6c94a71b3302558)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-17 13:35] #12070 closed, assigned to pavelshulgabi

[2018-10-17 14:05] medmek commented on #6076
Hi, in my case I was already querying a category attribute and had the same null value.

from the select used in \Magento\Catalog\Model\ResourceModel\AbstractResource:558 :

[code]

with `AND (default_value.store_id = 0)` and since `default_value` is primary source table I get that if the a value exists only in store id != 0 then it's not gonna be retrieved
so is there an assumption that a default

[2018-10-17 14:24] sreichel opened #18674 "Wrong sort order for attribute sets in product grid filter"
### Preconditions

1. Magento-2.2.5 (guess it affects all versions)

### Steps to reproduce

It's same as magento/magento2#18101 just with attribute sets filter on product grid ...

1. imagine you've 50 attribute sets
2. go to admin product grid and filter by set

### Expected result

1. attribute sets are listed alphabetically

### Actual result

1. attribute sets are listed by ID

[2018-10-17 14:39] rerlinger commented on #8854
I reproduced this issue on release of Magento 2.2.2, if it's running inside a Docker container.
After adding a custom domain name (e.g. "magento.local") to /etc/hosts and changing the config values "web/secure/base_url" and "web/unsecure/base_url" to "https://magento.local") the Add-To-Cart button is working now.

[2018-10-17 14:43] NostiLoke commented on #18636
@magento-engcom-team give me 2.2.6 instance

[2018-10-17 14:43] magento-engcom-team commented on #18636
Hi @NostiLoke. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-17 14:43] magento-engcom-team commented on #18636
Hi @NostiLoke, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18636-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18636-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18636-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-17 14:55] NostiLoke commented on #18636
![0046](https://user-images.githubusercontent.com/44178841/47095225-1efc1b80-d22d-11e8-93c9-99e1685a724c.png)

The issue is reproduceable.
Adblock blocks the cookies.js - this results in:
[ERROR] Failed to load the "Magento_Checkout/js/view/minicart" component.

[2018-10-17 14:56] nicobatty commented on #18577
I managed to reproduce it on a vanilla instance and I figured out the root cause, though I haven't look into a fix at the moment.

### How to reproduce it:

* Create a new website (ie. B2B Website).
* Change the price configuration to be Per Website instead of Global.
* Create a product of price 30 available on both websites.
* Add a tier price for [B2B Website | Retailer] with a quantity of 1 and

[2018-10-17 15:31] slavvka commented on #18493
Hey @eduard13 no, leave it open. We will close it once the issue is fixed in both Magento release lines.

[2018-10-17 16:49] philippsander commented on #17436
with the hint of @arnoudhgz I was able to analyze this issue futher.

the problem seems to be the configurable-matrix which is serializled wrong (missing fields/attributes)
`/vendor/magento/module-configurable-product/view/adminhtml/web/js/variations/variations.js.serializeData`

[2018-10-17 16:52] magento-engcom-team commented on #17568
Hi @mahsn. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detai

[2018-10-17 16:57] mahsn commented on #17568
I am working on this at #webjump

[2018-10-17 17:02] mahsn commented on #17568
@magento-engcom-team give me 2.3-develop instance

[2018-10-17 17:02] magento-engcom-team commented on #17568
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-17 17:02] magento-engcom-team commented on #17568
Hi @mahsn, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17568-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17568-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17568-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-17 17:57] magento-engcom-team commented on #12969
Hi @boldhedgehog. Thank you for your report.
The issue has been fixed in magento/magento2#18659 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [ef426a722fd4bb80470329f83d5a08f7a0424064](https://github.com/magento/magento2/commit/ef426a722fd4bb80470329f83d5a08f7a0424064)
 - [774a8a25688bd93cedc5b44cc79c9251a221d25b](https://github.com/magento/magento2/commit/774a8a25688bd93cedc5b44cc7

[2018-10-17 17:57] #12969 closed, assigned to nobody

[2018-10-17 18:30] andyjv opened #18675 "Fewer requests to Shipping Rate module"
### Description (*)
When entering shipping information at checkout, there are observers on three fields that trigger the script that fetches new shipping rates. Those fields are State, Zip, and Country. When any of those fields are changed a new request for rates is made, and it does not take anything else into account.

This has a few consequences:
Magento will attempt to fetch rates even when in

[2018-10-17 18:58] magento-engcom-team commented on #18674
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-17 19:37] magento-engcom-team commented on #17752
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-10-17 22:03] orlangur commented on #18669
GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2018-10-17 22:03] #18669 closed, assigned to nobody

[2018-10-17 22:06] orlangur commented on #18646
Nice catch, Viktor ;)

So, did Composer silently fail during upgrade?

[2018-10-17 22:06] #18646 closed, assigned to nobody

[2018-10-17 22:11] orlangur commented on #18664
@shaikhmasud147 Magento version must be 2.2+ for a bug report.

[2018-10-17 22:11] #18664 closed, assigned to nobody

[2018-10-18 03:16] paginasweb commented on #4929
im on Magento 2.2.6, same issue centos 7 php 7.1 WHM

![image](https://user-images.githubusercontent.com/2107317/47129244-24238f80-d25a-11e8-94b7-88feb903dd0a.png)

[2018-10-18 06:41] dmytro-ch commented on #18674
@sreichel thank you for the report.
Looks like the issue has been already fixed.
I could not reproduce it for both Magento versions (2.2.7 and 2.3).
![screen shot 2018-10-18 at 9 06 31 am](https://user-images.githubusercontent.com/11693779/47135012-662eee80-d2b7-11e8-8e66-37472fdbad03.png)

[2018-10-18 06:41] domeglic commented on #18668
It didn't make a difference, in the end the class is still the Interceptor. But I have found one way to fix it:
 [This](https://github.com/magento/magento2/blob/2.2.6/dev/tests/integration/framework/Magento/TestFramework/Store/StoreManager.php#L126) is the method causing the problem

[code]
There is no property **data** because it is private and **$reflection** is of type Interceptor. But it seems

[2018-10-18 07:35] siliconalchemy commented on #14667
@DrewML Thanks a lot for picking this problem up and doing such a good analysis.  Hopefully there will be a bit of reflection within Magento to learn from why such a huge issue was ignored for so long, and how such impacting issues can be better prioritised in the future.

[2018-10-18 07:39] abdulmalik422 commented on #17295
@engcom-backlog-andrii Please Update? I Will also face this issue.

[2018-10-18 08:14] ashokbhati180 opened #18682 "Facing an issue 414 Request-URI Too Large while exporting sales_order_grid with magento 2.2.4"
**Preconditions**
Magento 2.2.4
PHP 7.1.18

**Steps to reproduce**
Login to admin panel
Go to sales order grid
Change limit for per page as custom value for example 500 or 1000 (It must be approx 500)
Click on select item dropdown of grid  and click "Select All on This Page"
Now click on CSV Export
It will Redirect to "414 Request-URI Too Large"  page

**Expected result**
Order Item Should be expo

[2018-10-18 08:14] magento-engcom-team commented on #18682
Hi @ashokbhati180. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-18 08:44] VincentMarmiesse commented on #6015
Hi,
Any news on this?

[2018-10-18 09:38] davoc opened #18683 "Serialization of Quote To Order Serializes Simple Product Qty of Ordered Items as 1 Instead of Qty Ordered"
### Preconditions (*)

1. Tested in vanilla 2.2.6 with sample data and 2.2.4 Magento with live catalog
_Updated(09/19/2019):_ Still actual for the current `2.3-develop`

### Steps to reproduce (*)

1. Place order with simple products and multiple quantities ordered
2. Use order repository getAllVisibleItems() function to retrieve order data

### Expected result (*)

1. info_buyRequest contains cor

[2018-10-18 09:38] magento-engcom-team commented on #18683
Hi @davoc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-18 09:49] mokadev commented on #14569
Hi

i'm using 2.2.6 and it's not fixed at all....

[2018-10-18 09:54] sreichel commented on #18674
@dmytro-ch thanks.

[2018-10-18 09:54] #18674 closed, assigned to dmytro-ch

[2018-10-18 10:11] magento-engcom-team commented on #17323
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-18 10:12] akashlal139 opened #18684 "Components types in Magento 2"
According to Magento 2 devdocs, components types are following:

Metapackage
Module
Theme
Language package

But, if I check "vendor/magento/framework/Component/ComponentRegistrar.php", components types are following:

`/**#@+
     * Different types of components
     */`
`const MODULE = 'module';`
`const LIBRARY = 'library';`
`const THEME = 'theme';`
`const LANGUAGE = 'language';`

So metapackage

[2018-10-18 10:12] magento-engcom-team commented on #18684
Hi @akashlal139. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-18 10:15] magento-engcom-team commented on #16069
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-18 10:36] sreichel commented on #16531
Enabling `fileinfo` solved it for us .... there should be a check during setup.

[2018-10-18 10:58] jakwinkler opened #18685 "Quote Item Prices are NULL in cart related events."
### Preconditions (*)

1. Magento 2.1.15 EE

### Steps to reproduce (*)

1. Create a module to observer following events:

- `checkout_cart_product_add_after`
- `checkout_cart_product_update_after`

2. Try to get values of quote item price in observers:

[code]

### Expected result (*)

1. Quote Item Prices are loaded from database (they are set in `quote_item` table)
2. Be able to control product

[2018-10-18 10:58] magento-engcom-team commented on #18685
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-18 11:21] snoroozi commented on #14667
@DrewML - OH we've been staying tuned

On Thu, Oct 18, 2018, 3:35 AM siliconalchemy <notifications@github.com>
wrote:

--
Scott Noroozi

[2018-10-18 12:09] gwharton opened #18686 "Backorders are confusing to shoppers"
### Preconditions (*)
1. Magento 2.2

### Steps to reproduce (*)
1. Create product
2. Set product to allow backorders and notify customer
3. Set Qty to 0
4. Set to Out of Stock.

### Expected result (*)
1. On product page, the Customer should be informed that the product is out of stock but available for backorder.
2. The customer should be able to add the item to cart, and told that they are on b

[2018-10-18 12:10] magento-engcom-team commented on #18686
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-18 12:12] gwharton commented on #18686
Able to reproduce on vanilla 2.2.6

[2018-10-18 12:12] gwharton commented on #18686
See also #11708

[2018-10-18 12:29] A-1A commented on #17436
I Fixed in my website!
Please check below process
Step 1:
set "const SKU_MAX_LENGTH = 255;" in the file module-catalog/Model/Product/Attribute/Backend/Sku.php
Step 2:
You need to change the into database as well. Goto table eav_attribute, search for sku at column attribute code then edit the resulted row.

Update the field frontend_class to null or validate-length maximum-length-255 according to y

[2018-10-18 13:04] Neusta-Hartwig commented on #13929
We've just installed 2.2.6, and the issue ist still there.

The fix mentioned above does not work in Magento 2.2.6. :(

[2018-10-18 13:32] arnoudhgz commented on #17436
@A-1A this is not a solution for the actual problem. The issue also occurs with other fields than the SKU. And with your workaround it will still break at 256 characters

[2018-10-18 13:43] jigar48 opened #18687 "Left Side Back End Menu Design fix"
I have installed the Magento 2.2.5.

I have installed  many extensions which is creating User Menu in the Marketing tab.

Here is the issue that if there are more then 5 columns in the admin side sub menu then last column menu items cut off.
http://prntscr.com/l7jvlc

There should be automatic adjustment menu items so It will not cut off.

### Preconditions (*)
Left Side Back End Menu Design fix

[2018-10-18 13:43] magento-engcom-team commented on #18687
Hi @jigar48. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-18 13:47] jigar48 commented on #18687
**Summary of the issue**
Left Side Back End Menu Design fix

**Information on your environment**
I have installed the Magento 2.2.5.

**Steps to reproduce**
Install the multiple extension which is creating sub menu in Marketing tab, and then access the admin side to see how it look like
http://prntscr.com/l7jvlc

**Expected and actual results**
There should be automatic adjustment menu items so It

[2018-10-18 13:51] davegog opened #18688 "Unable to upload Logo, Magento 2.3.0 Beta18"
Summary of the issue : Unable to upload logo via browser (Firefox)
  Environment: Magento C.E 2.3.0 Beta18, PHP7.2, Apache 2.4.29 OS Ubuntu 18.04.1 LTS, Mysql Server version: 5.7.23, Server charset: UTF-8 Unicode (utf8) (External RDS  instance)

The webserver has been setup for TLS 1.2 communication.

    Expected and actual results: Ability to change the logo, Unable to upload logo
    Error mess

[2018-10-18 13:51] magento-engcom-team commented on #18688
Hi @davegog. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-18 13:55] davegog commented on #18688
Hi I have given all the required information above,

[2018-10-18 14:07] idziakjakub commented on #5021
I have the same problem with **underscore** in my shipping carrier code and rate (Magento 2.2.5).
This issue is only for logged in customers.

@magento-engcom-team - I found code responsible for this issue and I in my opinion it isn't good idea do `explode` on shipping method code in method responsible for save payment information `\Magento\Checkout\Model\PaymentInformationManagement::savePaymentI

[2018-10-18 14:09] CRYX2 commented on #18148
We have the same problem with Nexi Xpay payment method...

[2018-10-18 15:24] mateo2181 opened #18690 "REST: Get same error with all requests"
### Preconditions (*)
1. Magento 2.2.5

### Summary (*)

I have created an integration with all permissions but when I want to use the API always get the same error.
![selection_010](https://user-images.githubusercontent.com/12451246/47165400-41934080-d2d0-11e8-8b94-ce9c59081624.png)

### Examples (*)

Example API Requests:
http://127.0.0.1/rest/V1/stockItems/Mochila%20Swat
http://127.0.0.1/rest/V

[2018-10-18 15:24] magento-engcom-team commented on #18690
Hi @mateo2181. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-18 15:29] mateo2181 commented on #18690
@magento-engcom-team give me 2.2.5 instance

[2018-10-18 15:29] magento-engcom-team commented on #18690
Hi @mateo2181. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-18 15:29] magento-engcom-team commented on #18690
Hi @mateo2181, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18690-2-2-5/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18690-2-2-5//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18690-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-18 15:42] zebimax opened #18691 "Default values from XML schema does not apply"
### Summary (*)

- Create custom configuration type (following [docs](https://devdocs.magento.com/guides/v2.0/config-guide/config/config-create.html) )
- add default values to any attribute into schema .xsd file
- default values from schema does not apply (in Converter code)
### Examples (*)

### Proposed solution

On vendor/magento/framework/Config/Dom.php:316 change
`$result = $dom->schemaValida

[2018-10-18 15:43] magento-engcom-team commented on #18691
Hi @zebimax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-18 16:15] mateo2181 commented on #18690
I get 404 not found when use the API REST.
I am trying with GET http://ec2-34-228-235-121.compute-1.amazonaws.com/rest/V1/products/remera from Postman. And using OAuth 1.0.

[2018-10-18 17:05] sezio commented on #18519
After starting again and again my migration, I finally have a clue of what is the problem... During the settings migration, some rows for inline translation are imported in the core_config_data table; it looks like you have to delete them to have a clean json file...
Here are the sql queries I ran :

[code]

I really hope it will be useful for anyone else as I was about to become crazy....

[2018-10-18 18:05] vpodorozh commented on #16069
No @zhartaunik - it is not an indexation problem. Current behaviour was added as a side effect of this issue "MAGETWO-72582: Configurable product displays the price of "out of stock" configuration".
I'm working on fix now, the general idea is to allow "out of stock" items to be used for price determination of configurable product ONLY in case all child products are "out of stock".

[2018-10-18 19:16] PieterCappelle commented on #9466
Any update on this idea? Having same problem in 2.1.14.

[2018-10-18 20:02] ccrothers commented on #5021
**idziakjakub** is correct. That behavior is identical to issues we are having with a carrier code containing an underscore.

[2018-10-18 20:14] orlangur commented on #13375
Issue is invalid, see https://github.com/magento/magento2/pull/13376#issuecomment-431146311 for more details.

[2018-10-18 20:14] #13375 closed, assigned to nobody

[2018-10-18 20:40] MoisesSasso commented on #15035
Today, we are happy to show you how to fix Magento 2 issue: Magnifier not working for product image on product details page. It's showing overlay image after hovering over product image but it's not zooming the image.

Luckily, the solution to fix this is quite easy. You can apply the following way to fix it now.

Please go to lib\web\magnifier\magnifier.js and replace it by the following code:

M

[2018-10-18 20:46] mateo2181 commented on #12571
@vicabitu how did you do to solve the problem? I have the same problem.

[2018-10-18 21:10] mverstraete commented on #7231
I may have tracked this down to an issue in grunt-contrib-less v1.4.1, where it is not compiling nested extends.

I had this problem specifically with the Add To Wish List button.  In the Blank theme, the wishlist button gets its button styles via:
`&:extend(.abs-action-addto-product all);`

.abs-action-addto-product is defined in _extends.less, and it contains another extend:
`&:extend(.abs-actio

[2018-10-18 21:11] mateo2181 commented on #6656
I can't resolve this problem, I have the site configurated with spanish language. Someone continue with this problem? Thanks!

[2018-10-18 21:40] tanolalano commented on #18148
Same issue on Magento 2.2.6 and Paypal Payments Pro.
I'll try @Sharpy310  [solution ](https://github.com/magento/magento2/issues/18148#issuecomment-424694974) in staging

[2018-10-18 22:45] netseth commented on #11826
This may be an issue with modsecurity.conf.

it has to do with the info in the theme header/footer input areas - if you have calls to javascript or some other stuff, modsecurity stops the post from getting through -

change your modsecurity.conf file   From: SecRuleEngine On To: SecRuleEngine Off

[2018-10-19 03:32] pmclain commented on #14912
Looks to be fixed in 2.3-develop https://github.com/magento/magento2/commit/b13d3b48b779f1d5b67b07d9d6e0d69daf465d5b

[2018-10-19 04:29] magento-engcom-team commented on #17485
Hi @pmclain. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-19 04:35] mage2sol commented on #18551
Close issue to no updates from team.

[2018-10-19 04:35] #18551 closed, assigned to nobody

[2018-10-19 04:56] dbsdsun opened #18692 "Store Configuration -> General -> Store Email Addresses permission problem"
### Preconditions (*)

1. Magento 2.1.12

### Steps to reproduce (*)

1. in the backend, system -> user roles, for Resource Access, select "custom",
   and assign every permissions to a role "roleA"
2. login again with user (who is "roleA"), then "Store Email Addresses" can not be found under
   Store Configuration -> General

### Solution
in file vendor\magento\module-backend\etc\adminhtml\system

[2018-10-19 04:56] magento-engcom-team commented on #18692
Hi @dbsdsun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-19 05:52] kurtinge commented on #15321
@magolovanov If you are running Magento 2 with Apache+PHP-FPM, Apache will strip away the Authorization header. You can fix this by adding this to you vhosts file:
`SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1`

For Nginx you need to do the same thing, with
`fastcgi_pass_header Authorization;`

[2018-10-19 06:48] jakubderdziak commented on #13205
Hello @andy17612
I tried to resolve it - proposed solution is in PR linked to this issue. Please verify if it works for you.

@magento-engcom-team can you verify if it's acceptable solution?

[2018-10-19 07:37] inkobject commented on #18496
@jayanta88
This thread may shed more light on your observation:
[https://github.com/magento/magento2/issues/12366#issuecomment-420523861](https://github.com/magento/magento2/issues/12366#issuecomment-420523861)

[2018-10-19 08:28] adamlavery commented on #12114
@magento-engcom-team have you fixed this? We recently upgraded from 2.2.3 to 2.2.5 and now tier pricing is behaving differently - and messed up our store prices!

To get around this issue, we used MultiStore View Tier pricing from BSS Commerce. This allowed us to enter tier prices with a quantity of 0, resulting in the initial quantity on grouped products being 0. Now it's behaving completely diff

[2018-10-19 08:52] timbaker1991 commented on #18256
We are having the same issue, is there an ETA to when a fix may be ready?

On a side note, is this not something that is unit-tested on release? Feels like fairly basic testing has been missed to not notice a password can not be reset.

[2018-10-19 08:57] giacmir commented on #7367
This issue reappeared in 2.2.3 beta. The old solution doesn't work anymore.

[2018-10-19 09:24] arnoldhauptricht opened #18697 "FPT dynamic catalog configurable products prices"
### Preconditions (*)

1. Magento 2.2.6
2. Functionality to change FPT in frontend

### Steps to reproduce (*)

1. We have a custom functionality that switches delivery country dynamically on a customer session. Based on this FPT is added to the price.
2. We are using a POST request to switch FPT.

### Expected result (*)

1. View product prices with FPT taken from saved cookie

### Actual result

[2018-10-19 09:42] reijervano commented on #18154
I am afraid the plugin is not enough to fix all the problems with tierpricing. Now it is not possible to create multiple tierprices for a specific website. You always get an Unique constraint violation. This is because of the following check in the vendor/magento/module-catalog/Model/Product/Attribute/Backend/TierPrice/UpdateHandler.php class:

[code]
It will causes the "old" array to be emtpy whe

[2018-10-19 09:54] miko007 commented on #11696
thank you @vodanh109, you saved my ass today!

[2018-10-19 10:01] PiroozMB opened #18698 "Magento triggers and sends some of order emails exactly one month later,while the order email was not enabled then"
### Preconditions (*)
1. Magento 2.2.3

### Steps to reproduce (*)
1. disable order emails from Stores->configuration->sales emails to not send any email on any new order
2. after 40 days , enable the order emails from Stores->configuration->sales emails to send email on new orders

### Expected result (*)

1. after the fortieth day, magento should trigger and send order emails only on any new ord

[2018-10-19 10:01] magento-engcom-team commented on #18698
Hi @PiroozMB. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-19 10:06] magento-engcom-team commented on #18691
Hi @gelanivishal. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-10-19 10:10] gwharton commented on #15035
Thanks for your post @MoisesSasso

I will pull out the fix from your post and generate PR's for 2.2 and 2.3 branches.

[2018-10-19 10:30] gwharton commented on #15035
This is already fixed in 2.2-develop

See https://github.com/magento/magento2/commit/c55480ef23b6eb9902053a59d421c29c5eeebc4f#diff-a3d63022f922ef08dd75e31dddb0025a

[2018-10-19 10:39] Rickertje commented on #18059
@engcom-backlog-nazar why is this issue not reopened? I dont think maintainers will pick up this issue now.

[2018-10-19 10:46] stephansteiner opened #18701 "Empty cart after clicking in the minicart "Proceed to Checkout" and right after "View and Edit Cart""
### Preconditions (*)
1. Tested and reproduced on Magento 2.2.3 and 2.2.5 using various themes as well as the magento Luma Theme
2. A slower server is helpful while debugging the issue. On normal cirumstances a user can't click both actions in the mini cart

### Steps to reproduce (*)
1. Put some products in the cart
2. Open the minicart eiother by hovering or clicking the basket icon (this is the

[2018-10-19 10:46] magento-engcom-team commented on #18701
Hi @stephansteiner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-19 10:54] gwharton commented on #15035
PR for 2.3-develop here #18702

[2018-10-19 11:16] magento-engcom-team commented on #18701
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-19 11:53] tanolalano commented on #18148
Today I’m not receive IPN, or get it randomly for some orders.
Did PayPal make some changes?

[2018-10-19 11:55] indefinitedevil commented on #18518
Is the issue that the dates are entered in a format that is not "MM/DD/YYYY"? We're currently having this issue, and the problems seems to be that dates can be entered in any format, but it only works if entered in the US-specific format.

[2018-10-19 11:57] indefinitedevil commented on #18457
See #18103. Also fix: https://github.com/magento/magento2/commit/fea3b7a0f9151b3c236ea02475fde4b1793c7a0b

[2018-10-19 12:04] Supplement commented on #16969
Was there ever an answer for this problem? You and I are like the only two people in the world with this same issue. ehhhh

[2018-10-19 12:34] engcom-backlog-pb commented on #18701
@stephansteiner, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![peek 2018-10-19 15-33](https://user-images.githubusercontent.com/40756187/47218426-606b0300-d3b4-11e8-94ab-9a0ae570392e.gif)

[2018-10-19 12:34] #18701 closed, assigned to nobody

[2018-10-19 12:38] tr33m4n commented on #15327
@BabliDey I'm not sure whether this is the issue you're experiencing, however this line here https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sitemap/Block/Adminhtml/Edit/Form.php#L115 sets the store ID to that of the admin if the site has a single store in our setup, which obviously would break generation. We fixed by adding a plugin after the `beforeSave` method of `\Magento

[2018-10-19 12:41] nikmedlabs commented on #18438
Thanks, if I figure something out I will post it back.

[2018-10-19 12:42] magento-engcom-team commented on #18692
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-19 12:44] MsEngineer commented on #18302
Thank you @navarr for your help! It is really appreciated...

[2018-10-19 12:44] engcom-backlog-pb commented on #18692
@dbsdsun, thank you for your report.
The fix for this issue is already fixed.

[2018-10-19 12:44] #18692 closed, assigned to nobody

[2018-10-19 12:47] magento-engcom-team commented on #18686
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-19 12:58] engcom-backlog-pb commented on #18686
@gwharton, this is not a bug. A Customer should not be able to buy a Product with "Out of Stock" Stock Status in any circumstances.

[2018-10-19 13:07] magento-engcom-team commented on #17297
Hi @pmclain. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-19 13:28] engcom-backlog-pb commented on #18690
@mateo2181, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-19 13:28] #18690 closed, assigned to nobody

[2018-10-19 13:30] engcom-backlog-pb commented on #18684
@akashlal139, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.