[2019-02-26 10:21] magento-engcom-team commented on #21457
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 10:21] engcom-backlog-nazar commented on #21457
Hi  @bentideswell     thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-26 10:21] #21457 closed, assigned to nobody

[2019-02-26 10:25] magento-engcom-team commented on #21456
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-26 10:25] ananth-iyer commented on #21441
@Zyles
Can you open below link?
`http://demo/static/frontend/Vendor/theme/sv_SE/Magento_Swatches/css/swatches.css`

[2019-02-26 11:01] magento-engcom-team commented on #21450
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-26 11:16] SebaSkoda opened #21459 "admin permissions"
Hi,
Could You bring me back my admin permissions. I need acces to config and system.

Thank You :)

### Summary (*)

### Examples (*)

### Proposed solution

[2019-02-26 11:16] magento-engcom-team commented on #21459
Hi @SebaSkoda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-26 11:17] magento-engcom-team commented on #21459
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 11:17] engcom-backlog-nazar commented on #21459
Hi @SebaSkoda
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-26 11:17] #21459 closed, assigned to nobody

[2019-02-26 11:24] magento-engcom-team commented on #21450
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-26 11:28] Naberdz opened #21460 "Images are not shown on cart page"
### Summary
Product image is not displayed on checkout cart page.

### Preconditions (*)

1. Magento ver. 2.3.0
2. Setup multistore with different domains
3. set in .htaccess SetEnvIf conditions for each store / website
4.  Composer.json part:

        "geoip2/geoip2": "^2.9",
        "honl/magento2-nl-nl": "^1.1",
        "magento/product-community-edition": "2.3.0",
        "olegkoval/magento2-r

[2019-02-26 11:28] magento-engcom-team commented on #21460
Hi @Naberdz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-26 11:30] craigcarnell commented on #20060
Any updates on this, this bug is behond annoying.

[2019-02-26 11:54] magento-engcom-team commented on #21456
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-26 11:55] magento-engcom-team commented on #21460
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 11:56] keevitaja commented on #20571
hello.

i am using redis (no varnish) on multiple magento 2.2 and 2.3 installations and only one of them has this problem (client feedback). but i am unable to recreate this problem myself.

is there any not mentioned precondition to recreate the issue?

[2019-02-26 12:01] dixilota opened #21461 "Products cannot be updated"
### Preconditions (*)

1.Magento 2.3.0
2.

### Steps to reproduce (*)

1.* Set Price Scope to Website (Stores -> Configuration -> Catalog -> Catalog -> Prices)
2.  Try to update Product

### Expected result (*)
1. 1. Product Values are updated

### Actual result (*)

1. ![pantallazo](https://user-images.githubusercontent.com/48016996/53411168-17603680-39c6-11e9-8de9-54ded5a6e2d1.jpg)
2.
[2019-02-2

[2019-02-26 12:01] magento-engcom-team commented on #21461
Hi @dixilota. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-26 12:06] dixilota commented on #21461
Yes, give me instance

Mikel Poza
Sistemas
Email: mikel@overalia.com
Tel: 902 820 920 <902%20820%20920%20> / Fax: 943 224 901 <943224901>
Dirección: Portuetxe 23 B, 1º of. 2 - 20018 San Sebastián
Web: www.overalia.com

Este correo electrónico y, en su caso, cualquier fichero anexo al mismo, se
dirige exclusivamente a su destinatario y puede contener información
CONFIDENCIAL sometida a secreto prof

[2019-02-26 12:06] magento-engcom-team commented on #21461
Hi @dixilota. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-26 12:07] magento-engcom-team commented on #21461
Hi @dixilota, here is your [Magento instance](https://i-21461-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21461-2-3-develop.instances.magento-community.engineering/admin](https://i-21461-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 12:07] magento-engcom-team commented on #21461
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 12:11] Naberdz commented on #21460
@magento-engcom-team i have updated initial starting topic.
not sure if it's vanilla version of magento. Installed magento with composer

[2019-02-26 12:14] engcom-backlog-nazar commented on #21460
HI @Naberdz thank you for you report, i'm not able to reproduce following steps you described on clean magento 2.3-develop instance, this may be related to your custom modules, this issue is not present on clean magento. The GitHub issue tracker is intended for Magento Core technical issues only

[2019-02-26 12:14] #21460 closed, assigned to nobody

[2019-02-26 12:17] magento-engcom-team commented on #21456
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98435`, `MAGETWO-98436` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-26 12:18] magento-engcom-team commented on #21450
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98437`, `MAGETWO-98438` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-26 12:47] cdiacon commented on #12472
@sshymko

Thanks for sharing - will give a try to see if it solves the issue. U are the best!

[2019-02-26 12:56] dixilota commented on #21461
that issue is not reproducible

Mikel Poza
Sistemas
Email: mikel@overalia.com
Tel: 902 820 920 <902%20820%20920%20> / Fax: 943 224 901 <943224901>
Dirección: Portuetxe 23 B, 1º of. 2 - 20018 San Sebastián
Web: www.overalia.com

Este correo electrónico y, en su caso, cualquier fichero anexo al mismo, se
dirige exclusivamente a su destinatario y puede contener información
CONFIDENCIAL sometida a sec

[2019-02-26 12:58] engcom-backlog-nazar commented on #21461
Hi @dixilota thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules.

[2019-02-26 12:58] #21461 closed, assigned to nobody

[2019-02-26 12:59] TomashKhamlai opened #26112 "mutation createEmptyCart doesn't throw exception when authorization header is set and token has expired"
### Preconditions (*)

1. Registered Customer is created

### Steps to reproduce (*)

1. Generate Customer token
2. Wait for token expiration
3. Create empty cart using expired token

### Expected result (*)

1. Cart is not created because token has expired
[code]
2. Guest cart is not created because token was used

### Actual result (*)

1. Guest cart is created

[2019-02-26 13:52] ghost opened #21463 "Javascript is not Minify after Minify that from the backend."
From Admin panel go to stores > configuration > Advanced > Developer > javascript > then minify and merge the javascript. but that is not minify

### Preconditions (*)

1.Magento  V2.3.0 with sample data
2.PHP 7.2

### Steps to reproduce (*)

1. Go to stores > configuration > Advanced > Developer > javascript
2. Set minify and merge javascript to yes.
3. Clear cache data.
4. Go to the front side a

[2019-02-26 13:52] magento-engcom-team commented on #21463
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-26 14:27] Naberdz commented on #21460
Yes it seem to be error in my template. since when i had switched it to Luma everything worked just fine.

[2019-02-26 14:40] Zyles commented on #21441
404

[2019-02-26 14:49] travis5491811 commented on #6948
@hostep you're correct. I'm not sure why I wasn't seeing the files yesterday. They are there. Maybe i'm just loosing my mind because composer is saying they are not there. if the paths should start with `a/Model/...` `b/Model/', my first attempt was correct from my last post (it had two versions of attempts), but still didn't work.

Thanks for trying to help! The patch guide was helpful and got me

[2019-02-26 15:10] pierzakp commented on #21456
Generally things goes wrong in:
`vendor/magento/module-tax/Model/Calculation/AbstractAggregateCalculator.php:49`

For test purpose I have replaced:
[code]

With following:
[code]
Then result is as expected.

[2019-02-26 15:13] magento-engcom-team commented on #21454
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-26 15:13] magento-engcom-team commented on #21454
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98441` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-26 15:15] orlangur commented on #21463
@emiprotech same as https://github.com/magento/magento2/issues/21413 - expected result is wrong.

[2019-02-26 15:15] #21463 closed, assigned to nobody

[2019-02-26 15:19] magento-engcom-team commented on #21454
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-26 16:04] 15inchdesign commented on #5863
confrming the issue also on 2.2.7 to

/catalog/category/view/s/product-name/id/613/

throwing 404 error the view dosen't exists

[2019-02-26 16:20] ghanshyam-maurya commented on #8494
I am facing the same issue in case of Magento 2.2.0 Version.
Can you provide me the files fixes for this issue for version 2.2.0?

[2019-02-26 16:52] magento-engcom-team commented on #10893
Hi @scottsb. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-26 16:54] scottsb commented on #10893
@patrikpihlstrom Since this hasn't been touched in two years, I'm assuming you didn't reach a solution. 😆Taking this to work on.

[2019-02-26 17:59] ryandiamond23 commented on #21456
@magento-engcom-team give me 2.1.16 instance

[2019-02-26 17:59] magento-engcom-team commented on #21456
Hi @ryandiamond23. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2019-02-26 18:07] erikhansen commented on #9454
@onepack I'd also be interested in those queries, if you still have them?

[2019-02-26 19:25] Ketika opened #21464 "Website Restrict mode on Magento Commerce, giving error"
### Preconditions (*)

1. Magento commerce version 2.3.0

### Steps to reproduce (*)

1. Go to Admin side. Follow this path: Stores-> Settings -> Configuration -> General ->Website Restriction
2. Set "Access Restriction" field to "Yes".
3. Select "Restriction Mode" is to "Website Closed". Also selected landing page as "404 page".
4. Save this configuration.

### Expected result (*)

1. Open the fr

[2019-02-26 19:25] magento-engcom-team commented on #21464
Hi @Ketika. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-26 19:26] Ketika commented on #21464
@magento-engcom-team give me 2.3-develop instance

[2019-02-26 19:26] magento-engcom-team commented on #21464
Hi @Ketika. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-26 19:27] magento-engcom-team commented on #21464
Hi @Ketika, here is your [Magento instance](https://i-21464-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21464-2-3-develop.instances.magento-community.engineering/admin](https://i-21464-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 19:30] Ketika commented on #21464
Hi @magento-engcom-team I need vanila Magento Commerce Instance. Right now, it is a Magento open source instance.

[2019-02-26 19:34] Nazar65 commented on #21464
@Ketika github intended only for CE version

[2019-02-26 19:34] #21464 closed, assigned to nobody

[2019-02-26 19:37] pmathbliss commented on #15654
dont do this:

`DELETE FROM `catalog_product_entity_decimal` WHERE entity_id in (SELECT entity_id FROM catalog_product_entity c where c.type_id = 'configurable');`

select the price and special price ids first

`DELETE FROM `catalog_product_entity_decimal` WHERE attribute_id = PRICEID and entity_id in (SELECT entity_id FROM catalog_product_entity c where c.type_id = 'configurable');`

[2019-02-26 21:43] rafaelstz commented on #17634
I'm having this issue in some projects also. Try to do these steps:

- Remove `pub/media/catalog/product/cache` . (Removing this folder frees up space.)

- Run `bin/magento catalog:image:resize` to generate a new image cache. (This step is necessary because we’ve changed the path to cached images and must remove the previously cached images.)

[2019-02-26 22:30] bartoszkubicki opened #21466 "Proxy generated incorrectly when class extends class containing internal method"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.1

### Steps to reproduce (*)

1. Add Proxy for a class that extends some class containting internal functions, linke \XMLReader
2. Proxy not generated properly for method, which has optional arguments. Default value is not persisted in proxy (look ata function `public function open ($URI, $encoding = null, $options = 0) {}`

### Expected result (*)

[2019-02-26 22:30] magento-engcom-team commented on #21466
Hi @bartoszkubicki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-27 03:10] adarshkhatri commented on #21447
@magento-engcom-team give me 2.3.0 instance

[2019-02-27 03:10] magento-engcom-team commented on #21447
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-27 03:11] magento-engcom-team commented on #21447
Hi @adarshkhatri, here is your [Magento instance](https://i-21447-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21447-2-3-0.instances.magento-community.engineering/admin](https://i-21447-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 04:18] VDCProjects commented on #21450
Hi,

I want to work this issue can you please assign this to me

Thanks

[2019-02-27 05:58] ethniccode commented on #20255
@buskamuza Hi there, Are you aware of this bug? Would this get fixed in 2.3.1?

[2019-02-27 05:59] adarshkhatri opened #21467 "Tier price of simple item not working in Bundle product"
### Preconditions (*)

1. Magento 2.3.0
2. Bundle products having at least 1 child product
3. Child product should have some tier prices

### Steps to reproduce (*)

1. Simple product priced $500
2. Add tier price exactly as follow:
3. First row: qty=1000, Fixed Price = $300
4. Second row: qty=500, Fixed Price = $400
5. Third row: qty=10000, Fixed Price = $100
6. Fourth row: qty=5000, Fixed Price

[2019-02-27 06:00] magento-engcom-team commented on #21467
Hi @adarshkhatri. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-27 06:02] adarshkhatri commented on #21467
yes

[2019-02-27 06:16] magento-engcom-team commented on #21467
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-27 06:20] krishprakash commented on #21467
@magento-engcom-team give me 2.3-develop instance

[2019-02-27 06:20] magento-engcom-team commented on #21467
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-27 06:21] magento-engcom-team commented on #21467
Hi @krishprakash, here is your [Magento instance](https://i-21467-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21467-2-3-develop.instances.magento-community.engineering/admin](https://i-21467-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 07:34] magento-engcom-team commented on #21466
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 07:41] amol2jcommerce commented on #21456
* @magento-engcom-team give me 2.2-develop instance

[2019-02-27 07:41] magento-engcom-team commented on #21456
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-27 07:42] magento-engcom-team commented on #21456
Hi @amol2jcommerce, here is your [Magento instance](https://i-21456-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21456-2-2-develop.instances.magento-community.engineering/admin](https://i-21456-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 07:48] ananth-iyer commented on #21441
@Zyles
Can you open below link?
http://**{your-magento-base-url-here}**/static/frontend/Magento/luma/sv_SE/Magento_Swatches/css/swatches.css

**Updated**

[2019-02-27 07:54] magento-engcom-team commented on #21446
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98455`, `MAGETWO-98456` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-27 08:04] engcom-backlog-nazar commented on #21441
Hi @Zyles thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules or theme,  i'm closing this as this is non issue.

[2019-02-27 08:04] #21441 closed, assigned to nobody

[2019-02-27 08:15] magento-engcom-team commented on #21467
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 08:26] ghanshyam-maurya commented on #8494
Can you please provide me the updates on this issue for Magento version 2.2.0.

This issue seems closed but we are not getting the files using which we can fix the issue.

[2019-02-27 09:08] engcom-backlog-nazar commented on #10419
Hi @Januszpl thank you for your explanations, this issue already fixed in 2.3-develop branch

[2019-02-27 09:08] #10419 closed, assigned to magento-engcom-team

[2019-02-27 09:25] patrikpihlstrom commented on #10893
@scottsb Go nuts!

[2019-02-27 09:57] Ridik123 commented on #21452
Hello,

I am happy to inform you that there is a patch available to fix this issue in the core Magento installation, which I have attached here. Please upload the appropriate patch into your Magento root directory and run the SSH command below.

patch -p1 < MDVA-15136_EE_2.2.5_COMPOSER_v1.patch
or
patch -p1 < MDVA-15136_EE_2.2.5_v1.patch

Once that is done, refresh the cache in the Admin under "Sy

[2019-02-27 10:04] eugenbg commented on #14952
magento what's wrong with you? 9 months to fix such a simple bug

[2019-02-27 10:27] magento-engcom-team commented on #21447
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 10:31] engcom-backlog-nazar commented on #21447
@magento-engcom-team give me 2.3-develop instance

[2019-02-27 10:31] magento-engcom-team commented on #21447
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-27 10:31] magento-engcom-team commented on #21447
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21447-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21447-2-3-develop.instances.magento-community.engineering/admin](https://i-21447-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 10:47] akssaiyad commented on #4680
I have solved it

In the Items Ordered section, the custom option value is cut off to 55 characters and does not show the full value.

https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/view/adminhtml/templates/items/column/name.phtml

You have oto need comment below code in line no. 34

<?php //$_option = $block->getFormattedOption($_option['value']); ?>

After All content di

[2019-02-27 10:58] navneetkumar-pim-webkul opened #21470 "Bundle Product Child Relation Entry Removed from catalog_product_relation if reimport CSV. Product shows out of stock Status"
### Preconditions (*)

* Magento 2.3, 2.3-dev
* PHP version7.1.3+

### Steps to reproduce (*)

1. Re-Import-Bundle Product.

### Expected result (*)

1. Don't remove the parent relation from the table catalog_product_relation if reimport the CSV.
2. Bundle Product visible on the frontend.

### Actual result (*)

1. Bundle Product entry removed from the table catalog_product_relation table.
2. Bund

[2019-02-27 10:58] magento-engcom-team commented on #21470
Hi @navneetbhardwaj. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-27 11:00] navneetbhardwaj commented on #21470
@magento-engcom-team give me 2.3-develop instance

[2019-02-27 11:00] magento-engcom-team commented on #21470
Hi @navneetbhardwaj. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-27 11:00] magento-engcom-team commented on #21470
Hi @navneetbhardwaj, here is your [Magento instance](https://i-21470-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21470-2-3-develop.instances.magento-community.engineering/admin](https://i-21470-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 11:01] magento-engcom-team commented on #21470
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 11:04] engcom-backlog-nazar commented on #21466
Hi @bartoszkubicki thank you for you report, i'm not able to reproduce following steps you described, is this really magento bug ?
![deepin-screen-recorder_select area_20190227130407](https://user-images.githubusercontent.com/40756439/53485959-36c39600-3a90-11e9-8bd8-51b342a97139.gif)

[2019-02-27 11:19] kolaente opened #21471 "Not possible to add a product with customizable options as configurable"
### Preconditions (*)
* Magento 2.2.6
* PHP `7.1.26-1+ubuntu18.04.1+deb.sury.org+1`

### Steps to reproduce (*)

1. Create a new simple product with customizable options
2. Create another new simple product serving as the configurable "root" product
3. Add the Product from the first step to the product in the second step as a configurable
4. The product now appears in the list of configurable opti

[2019-02-27 11:20] magento-engcom-team commented on #21471
Hi @kolaente. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-27 11:21] kolaente commented on #21471
@magento-engcom-team give me 2.3-develop instance

[2019-02-27 11:21] magento-engcom-team commented on #21471
Hi @kolaente. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-27 11:21] ashishsjagnani opened #21472 "Imported product's not visible nor editable"
### Preconditions (*)
1.  M2.3 (2.3.0 -CE )
2.  PHP 7.2.13
3. MySql 5.7.25
4. Apache/2.4.18 (Ubuntu)
### Steps to reproduce (*)
1. Download and setup default Magento CE 2.3.0 without sample data
2. Download sample product import format from Admin product import section
3. Import same file without any change from Admin product import section
4. Execute command for reindex and cache flush
5. Go to A

[2019-02-27 11:21] magento-engcom-team commented on #21472
Hi @ashishsjagnani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-27 11:21] magento-engcom-team commented on #21471
Hi @kolaente, here is your [Magento instance](https://i-21471-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21471-2-3-develop.instances.magento-community.engineering/admin](https://i-21471-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 11:25] magento-engcom-team commented on #21472
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 11:25] magento-engcom-team commented on #21471
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 11:26] engcom-backlog-nazar commented on #21470
Hi @navneetbhardwaj thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3-dev instance, please provide more detailed information.

[2019-02-27 11:26] #21470 closed, assigned to nobody

[2019-02-27 11:33] kolaente commented on #21471
@magento-engcom-team I confirm the issue is reproducable on a vanilla magento instance.

[2019-02-27 11:41] maheshWebkul721 commented on #21456
* @magento-engcom-team give me 2.2.7 instance

[2019-02-27 11:41] magento-engcom-team commented on #21456
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-02-27 11:41] magento-engcom-team commented on #21456
Hi @maheshWebkul721, here is your [Magento instance](https://i-21456-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21456-2-2-7.instances.magento-community.engineering/admin](https://i-21456-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 11:57] JamesRoper commented on #21445
Hi, can you explain what you mean by only available on EE version? We are on Magento 2, do we not have the EE version? I spoke to Google and they were helping implement this and they were saying they have done everything there end but its not working, so it needs to be implemented by Magento on there end, can you help with this or is there someone else I can contact, a phone number? Its an urgent

[2019-02-27 11:58] orlangur commented on #20255
@ethniccode could you please not spam everybody? For discussions you may join `#github` channel in Magento Slack.

[2019-02-27 12:10] ethniccode commented on #20255
@orlangur This is not spam. I am looking for answer to my question. If Magento is encouraging the user community to report bugs then they should take responsibility to answer promptly?

[2019-02-27 12:25] engcom-backlog-nazar commented on #21471
Hi @kolaente thank you for you report, this is expected behavior, how you the can choose this options on frontend ?.

[2019-02-27 12:25] #21471 closed, assigned to nobody

[2019-02-27 12:29] engcom-backlog-nazar commented on #21442
@Zyles  https://github.com/magento/magento2/issues/21380

[2019-02-27 12:37] mam08ixo opened #21473 "Form element validation is not triggered when validation rules change"
### Preconditions
1. Magento 2.1.x | 2.2.x | 2.3.x

### Steps to reproduce
1. Open any UI form component, e.g. _Product Edit Form_.
2. Change the validation rules for a form element on runtime.

### Expected result
1. The new validation rules are executed on the element's current value.

### Actual result
1. The form element is not validated according to the new validation rules.

### Additional I

[2019-02-27 12:37] magento-engcom-team commented on #21473
Hi @mam08ixo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-27 12:39] magento-engcom-team commented on #21473
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-27 12:42] engcom-backlog-nazar commented on #21445
@JamesRoper  It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-27 12:57] dnsv commented on #21370
@engcom-backlog-nazar could you please take a look at [this](https://www.youtube.com/watch?v=B_weMQ5whJk) video. It shows how I produce this bug locally. Can you confirm that we're both using the same steps?

[2019-02-27 13:10] DanielRuf commented on #20255
@orlangur can you hide some of the comments? For me it does not work - not sure why.

[2019-02-27 13:23] engcom-backlog-nazar commented on #21472
Hi @ashishsjagnani thank you for you report, i'm not able to reproduce following steps you described,  on clean magento 2.3-develop instance

[2019-02-27 13:23] #21472 closed, assigned to nobody

[2019-02-27 13:41] johnny-longneck commented on #19842
I am facing this issue on 2.3.0

[2019-02-27 14:10] lfluvisotto commented on #19795
Working on branch 2.3 and 2.3-develop with PHP 7.2.15

[2019-02-27 14:27] shikharbhatnaggar opened #21475 "Magento 2.3.0 Loading failed for the scripts"
Hello

I've just installed magento 2.3.0 using command line. I login to the admin panel of Magento and while click on any menu i.e. Content>Themes or Content>Blocks or any other tab the admin panel is just showing only the **rotating gif image**
![image](https://user-images.githubusercontent.com/18115248/53497308-e9641a80-3ac9-11e9-9ad7-3aa93df70a4e.png)
(Please see the screenshot 1).

I checked i

[2019-02-27 14:27] magento-engcom-team commented on #21475
Hi @shikharbhatnagar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-02-27 14:35] dooblem commented on #13225
I'm having the same problem. I will put static/_cache in shared storage, writable by www-data.
static appears to be not static...

[2019-02-27 14:39] julian-van-drielen opened #21477 "Magento 2.3 quote_item table has incorrect default value in declarative schema"
### Preconditions (*)
1. Magento 2.3
2. Php 7.2 - 7.3

### Steps to reproduce (*)
1. Install fresh Magento 2.3
2. Add product to cart

### Expected result (*)
1. Updated_at field in quote_item table is actual date

### Actual result (*)
1. Updated_at field in quote_item table is 0000-00-00 00:00:00

Issue is caused by a wrong declarative schema, which is new since version 2.3, this did not occur i

[2019-02-27 14:39] magento-engcom-team commented on #21477
Hi @julianvdrielen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-27 14:42] sebastian-enz opened #21478 "getProductUrl does not allow to override the scope in backend context"
### Preconditions:
1. Magento instance with several websites
2. Each website has a specific domain (base url)

### Steps to reproduce:
1. Open a product page for a specific website in the admin area
2. Use the $product->getProductUrl() method to retrieve product url

### Expected result:
Returned product url relates to specified website

### Actual result:
Magento always uses the 'admin' scope (an

[2019-02-27 14:43] magento-engcom-team commented on #21478
Hi @ikk0. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-02-27 14:44] magento-engcom-team commented on #21478
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-27 14:45] Januszpl commented on #10419
@engcom-backlog-nazar can you provide some commit? Can it be easily back-ported ?

[2019-02-27 14:48] alex5513 opened #21479 "addAttributeGroup for attribute_group_name "Images""
### Preconditions (*)

1. Magento 2.2.6 or 2.3.0

### Steps to reproduce (*)

1. Use addAttributeGroup("4", "4", "Images") from EavSetup class

### Expected result (*)

1. The attribute already exists by default in Magento, we should pass into the updateAttributeGroup method (l.540)

### Actual result (*)

1. In the addAttributeGroup function, attribute_group_code is worth "images" because of conv

[2019-02-27 14:49] magento-engcom-team commented on #21479
Hi @alex5513. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-27 14:54] irajneeshgupta commented on #21479
duplicate issue -> https://github.com/magento/magento2/issues/19783

[2019-02-27 14:54] #21479 closed, assigned to nobody

[2019-02-27 15:05] gwharton commented on #13225
Depending on how many modules/extensions you have, you may find it easier to disable merging of css (and thus there is no static/_cache folder) and manually streamline your css instead.

There may be limited benefit to merging css with http2 anyway.

[2019-02-27 15:49] alex5513 commented on #21479
Thanks for you reply but it's not the same issue. You try to add new attribute image to Images attribute group, i try to add many new attribute groupes of which "Images", it's a constraint that I can not change. In addition addAttributeGroup takes as parameter only attribute_group_name and not attribute_group_code.
The attribute code should be images and not image-management because Magento pass t

[2019-02-27 15:57] alex5513 opened #21481 "addAttributeGroup for attribute_group_name "Images""
It's not the same issue than -> [#19783](https://github.com/magento/magento2/issues/19783).

They try to add new attribute image to Images attribute group, i try to add many new attribute groupes of which "Images", it's a constraint that I can not change.

In addition addAttributeGroup takes as parameter only attribute_group_name and not attribute_group_code.

The attribute code should be images a

[2019-02-27 15:57] magento-engcom-team commented on #21481
Hi @alex5513. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-27 16:19] magento-engcom-team commented on #21334
Hi @kandy. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid de

[2019-02-27 16:28] hapablap commented on #20111
To fix this issue by your own, until an update is provided:
The source of the bug is in vendor/magento/module-variable/view/adminhtml/web/variables.js, line 53. The iteration on variables fails. You only need to change this single line from
`variables.each(function (variableGroup) {`
to
`jQuery.each(variables, function (index, variableGroup) {`

Of course, you should not edit files in the vendor f

[2019-02-27 16:29] kolaente commented on #21471
@engcom-backlog-nazar How is it expected behavior if configurable options disappear without any notice? If it is really expected, it is just bad UX.
Even if, it does not seem logic to me what would prevent options from being configurable if they have customizable options.

The options are chosen in the frontend via dropdown.

[2019-02-27 16:38] magento-engcom-team commented on #21477
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-27 16:43] magento-engcom-team commented on #21477
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98465`, `MAGETWO-98466` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-27 16:44] shikhamis11 commented on #21477
@julianvdrielen you can prepare Pull request with the changes
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#pull_request

[2019-02-27 17:05] magento-engcom-team commented on #21478
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98467`, `MAGETWO-98468` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-27 17:46] bartoszkubicki commented on #21466
@engcom-backlog-nazar Actually case you presented is not the thing I mentioned. Session manager does not extend antyhing, so there will be no problem. Proxy would be problematic for classes like [this](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Simplexml/Element.php). `Element` extends `\SimpleXMLElement` and problem will occur for functions having default

[2019-02-27 17:53] CHallski opened #21485 "Adding a $0.00 product to a wishlist causes Uncaught TypeError"
### Preconditions (*)
Magento 2.2.5

### Steps to reproduce (*)
1. Create a simple product with a price of $0.00
2. Add the product to your wishlist

### Expected result (*)
I expect the product to add to the wishlist and the wishlist to remain functional.

### Actual result (*)
Wishlist loads up to that product and produces the following

Fatal error:
Uncaught TypeError:
Argument 1 passed to Mage

[2019-02-27 17:53] magento-engcom-team commented on #21485
Hi @CHallski. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-27 17:56] CHallski commented on #21485
@magento-engcom-team give me 2.3-develop instance

[2019-02-27 17:56] magento-engcom-team commented on #21485
Hi @CHallski. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-27 17:56] magento-engcom-team commented on #21485
Hi @CHallski, here is your [Magento instance](https://i-21485-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21485-2-3-develop.instances.magento-community.engineering/admin](https://i-21485-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 18:02] CHallski commented on #21485
@magento-engcom-team give me 2.2.5 instance

[2019-02-27 18:02] adamstapley commented on #4680
Thanks, seemed to work for me on Magento 2.3. It was line 33 in my file.

[2019-02-27 18:02] magento-engcom-team commented on #21485
Hi @CHallski. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-02-27 18:03] magento-engcom-team commented on #21485
Hi @CHallski, here is your [Magento instance](https://i-21485-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-21485-2-2-5.instances.magento-community.engineering/admin](https://i-21485-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 18:06] anil90 commented on #11754
hi crantron, Could you please post the solution if it's working for you. i am using magento 2.2.3 and tried .gallery-placeholder{ width: 100%; } but still not resolved.

[2019-02-27 18:12] CHallski commented on #21485
Issue confirmed in vanilla 2.2.5
Issue not present in vanilla 2.3-develop

[2019-02-27 18:14] CHallski commented on #21485
@magento-engcom-team give me 2.2-develop instance

[2019-02-27 18:14] magento-engcom-team commented on #21485
Hi @CHallski. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-27 18:15] magento-engcom-team commented on #21485
Hi @CHallski, here is your [Magento instance](https://i-21485-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21485-2-2-develop.instances.magento-community.engineering/admin](https://i-21485-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-27 18:20] CHallski commented on #21485
Issue also not present in 2.2-develop: presumably was resolved by previous patch

[2019-02-27 18:20] #21485 closed, assigned to nobody

[2019-02-27 19:30] toweringmedia commented on #11002
I have been stuck on this same issue for several week. I think I finally got it figured out with the help of this post. https://toweringmedia.com/blog/magento-2-cron-job-pending-jobs-never-cleared-solved/

[2019-02-27 19:41] Zyles opened #21487 "Currency import Undefined index error"
### Preconditions (*)

More bugs incoming.

1. Magento 2.3.0 CE
2. PHP 7.1

### Steps to reproduce (*)

1. Install Magento 2.3.0 CE via composer; instructions here: https://devdocs.magento.com/guides/v2.3/install-gde/composer.html
2. Setup currency as per this guide: https://www.cloudways.com/blog/magento-2-configure-currency/
3. Select EURO and USD for example
4. Go to Admin > Stores > Currency R

[2019-02-27 19:41] magento-engcom-team commented on #21487
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-27 20:10] prog7707 opened #21488 "Create order from backend not always showing shipping method"
Shipping Method is not always appearing when creating an order from the backend, the problem appears when removing an item already selected and adding another one.
### Preconditions (*)
Versions Tested on

1. 2.2.6
2. 2.2.7

### Steps to reproduce (*)

1.     create new order
2.     Select customer
3.     Select item and add to order
4.     Get Shipping Method (to this point it works)
5.     remov

[2019-02-27 20:10] magento-engcom-team commented on #21488
Hi @nexus4alii1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-27 20:19] magento-engcom-team commented on #21488
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-27 20:20] magento-engcom-team commented on #21487
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-27 21:16] Zyles commented on #20140
Should I open a new issue for the related products grid?

[2019-02-27 21:42] fgagne opened #21490 "Elasticsearch: Product Attribute Multiple Select: store views with multiple locales: search always use Default Store View locale"
### Preconditions (*)
1. Install Magento 2.3.0 CE + sample data + ElasticSearch 5.x
2. Configure ElasticSearch as Search Engine
3. Reindex

### Steps to reproduce (*)
1. Login to admin
2. Navigate to **Stores -> Settings -> All Stores**
3. Click **Create Store View**

* Store: Main Website Store
* Name: French
* Code: french
* Status: Enabled

4. Click **Save Store View**
5. Navigate to **Stores -

[2019-02-27 21:42] magento-engcom-team commented on #21490
Hi @fgagne. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-27 23:07] srenon commented on #15115
After some debugging, they seem to be 2 different issues reference in this ticket.

1. quote_address - where customer_address_id  has an invalid address id.

 - Fix by this workaround https://github.com/magento/magento2/issues/15115#issuecomment-442014255

2. customer_entity - where default_shipping or default_billing has an invalid address id

 - To test for this issue try running the following s

[2019-02-27 23:15] Stoyvo opened #21491 "Performance ToolKit missing Invoices"
### Preconditions (*)

1. Magento 2.2.7 & 2.3.0
2. Dev environment

### Steps to reproduce (*)
1. Run performance toolkit:
`bin/magento setup:performance:generate-fixtures -s setup/performance-toolkit/profiles/ce/medium.xml`
2. Open Admin panel
3. Observe no invoices

### Expected result (*)
1. Invoices to be generated with Orders

### Actual result (*)
1. No Invoices generated

### WHY THIS MATTE

[2019-02-27 23:16] magento-engcom-team commented on #21491
Hi @Stoyvo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-27 23:52] iproger opened #21493 "Setting default sorting"
### Preconditions
1. Fresh Magento 2.3
2. Module Customer.

### Steps to reproduce
1. File: [Magento\Customer\Block\Adminhtml\Edit\Tab\Orders](https://github.com/magento/magento2/blob/2.3/app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Orders.php)
2. Method: _construct().

### Expected result
[code]

### Actual result
[code]

Same problem in [Magento\Customer\Block\Adminhtml\Edit\Tab\View\Cart]

[2019-02-27 23:52] magento-engcom-team commented on #21493
Hi @iproger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-27 23:53] fgagne commented on #21490
@magento-engcom-team unless mistaken, that vanille Magento instance don't come with ElasticSearch and thus is impossible to reproduce on the provided test facility.

[2019-02-28 00:46] fgagne opened #21494 "Magento 2.3.0: Elasticsearch 5.0+: Enable Elasticsearch HTTP Auth: HTTP Username/Password fields not showing up"
### Preconditions
1. Install Magento 2.3.0 CE

### Steps to reproduce
1. Login to admin
2. Navigate to **Stores -> Settings -> Configuration**
4. Navigate in the left pane -> **CATALOG** -> **Catalog**
5. Go to the **Catalog Search** section
6. Change **Search Engine** field to **Elasticsearch 5.0+**
7. Change **Enable Elasticsearch HTTP Auth** field to **Yes**

### Expected result
1. The fields *

[2019-02-28 00:46] magento-engcom-team commented on #21494
Hi @fgagne. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-28 00:47] fgagne commented on #21494
@magento-engcom-team give me 2.3-develop instance

[2019-02-28 00:47] magento-engcom-team commented on #21494
Hi @fgagne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-28 00:48] magento-engcom-team commented on #21494
Hi @fgagne, here is your [Magento instance](https://i-21494-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21494-2-3-develop.instances.magento-community.engineering/admin](https://i-21494-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-28 00:51] fgagne commented on #21494
Thanks @magento-engcom-team, the issue is fixed in 2.3-develop.

[2019-02-28 00:51] #21494 closed, assigned to nobody

[2019-02-28 04:20] tuyennn commented on #21361
@zimme @magento-engcom-team As bestseller collection limit at 5 because of the limitation from **Bestseller Report** from admin-end.
Each period row in the report contains bestseller items which limit at 5. Without the limitation the Grid should be messed up.

[2019-02-28 04:44] magento-engcom-team commented on #21487
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-28 04:44] magento-engcom-team commented on #21488
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-28 04:50] abrittis commented on #18941
Will this issue be fixed in 2.1.x?  This is a pretty serious issue.

[2019-02-28 05:00] krishprakash commented on #21488
@magento-engcom-team give me 2.2-develop instance

[2019-02-28 05:00] magento-engcom-team commented on #21488
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-28 05:01] magento-engcom-team commented on #21488
Hi @krishprakash, here is your [Magento instance](https://i-21488-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21488-2-2-develop.instances.magento-community.engineering/admin](https://i-21488-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-28 05:27] krishprakash commented on #21488
Hi @nexus4alii1991. Thank you for your report.

As your given steps It is working fine for me.

So can you please explain in more detail.

[2019-02-28 05:53] magento-engcom-team commented on #21487
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98477` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-28 06:16] magento-engcom-team commented on #21493
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 06:16] magento-engcom-team commented on #21491
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 06:17] magento-engcom-team commented on #21490
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 06:17] magento-engcom-team commented on #21481
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 06:17] magento-engcom-team commented on #21475
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 06:19] engcom-backlog-nazar commented on #21475
Hi @shikharbhatnagar thank you for you report,
This is not a valid environment, please check https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-02-28 06:19] #21475 closed, assigned to nobody

[2019-02-28 06:20] magento-engcom-team commented on #21473
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98478`, `MAGETWO-98479` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-28 06:31] zimme commented on #21361
@tuyennn Interesting, but even so. I would not expect the limiting value coming from `_ratingLimit` which is used to filter out any items that have a lower rating than `5`. If it is supposed to be limited to 5 items by default that value should be in it's own (configurable) variable in my mind.

[2019-02-28 07:07] dasharath-wagento opened #21495 "Magento 2.3.0 wysiwyg editor does not shows script tag while editor mode"
### Preconditions (*)

1. Install Magento 2.3.0 CE + sample data

### Steps to reproduce (*)

1. Login to admin
2. Navigate to Content -> Element -> Blocks ->
3. Create a New Block  Add New Block
4. Paste data in content as below

[test_code.txt](https://github.com/magento/magento2/files/2913756/test_code.txt)
5. then save cms block.

### Expected result (*)

1. [Screenshots, logs or description]

[2019-02-28 07:07] magento-engcom-team commented on #21495
Hi @dasharath-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-02-28 07:23] devamitbera commented on #13072
@sivaschenko, Sorry I don't understand why this  PR is closed.Can you please explain.

If  adding an extract parameter to` public function getCreatedAtFormatted($dateFormat, $timeFormat = \IntlDateFormatter::MEDIUM)` ,Is the reason  of closing this PR  then i believe  that

https://github.com/magento/magento2/issues/13072  should  be closed as  this issue main purpose is . `getCreatedAtFormatted()

[2019-02-28 07:43] magento-engcom-team commented on #21495
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 07:47] engcom-backlog-nazar commented on #21471
@kolaente so please open new issue and describe problem correctly, that error message not shown, becouse on this issue you reported that you not able to add product with customizable options as child to configurable, that is impossible.!

[2019-02-28 07:50] engcom-backlog-nazar commented on #21471
@kolaente how you can select customizable options on configurable product with dropdown ? you chose the child in dropdown then what ? how you select customizable option ?

[2019-02-28 07:51] engcom-backlog-nazar commented on #21495
Hi @dasharath-wagento thank you for you report, The editor is removing by default the <script> tag in order to prevent possible XSS attacks. Although we don't recommend to do that, you can allow it inside the editable area by changing the htmlRemoveTags option.

[2019-02-28 07:51] #21495 closed, assigned to nobody

[2019-02-28 08:01] engcom-backlog-nazar commented on #21488
Hi @nexus4alii1991 thank you for you report, this issue has already fixed in 2.3-develop and 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-28 08:01] #21488 closed, assigned to shikhamis11, krishprakash

[2019-02-28 08:02] magento-engcom-team commented on #21447
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98480`, `MAGETWO-98481` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-28 08:07] kolaente commented on #21471
@engcom-backlog-nazar I meant the configurable, sorry. You select the configurable product with a dropdown. I would then expect it to show the inputs for customizable options the same way with normal products. Instead, Magento just doesn't do what I expect without telling me why.

[2019-02-28 08:12] magento-engcom-team commented on #21493
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98482`, `MAGETWO-98483` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-28 08:12] kolaente commented on #21471
A bit more context: We have a wizard where customers can customize their product very individually (they can select custom colors, upload images and a bunch of other stuff). This wizard is loaded from an iframe. When they click on "finish" inside that iframe, the software makes a request to the Magento api to put the item with all custom options in the cart. In this step, it fills all custom optio

[2019-02-28 08:13] TOIVI291 commented on #15654
@pmathbliss

I also have this problem(after using the data-migration tool).

What did you put at "PRICEID"?

[2019-02-28 08:17] engcom-backlog-nazar commented on #21471
@kolaente wow.. thanks for explanation, seem like you need to report this feature here -> https://github.com/magento/community-features.as far as I know, adding a product with customizable  options to child configurable is not intentionally implemented.

[2019-02-28 08:53] magento-engcom-team commented on #21487
Hi @Jitheesh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-02-28 09:05] engcom-backlog-nazar commented on #21491
Hi  @Stoyvo   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-28 09:05] #21491 closed, assigned to nobody

[2019-02-28 09:24] navinbhudiya commented on #14952
i try above all solution non of working for me, i am using magento 2.2.7
After apply patch i am not able to receive email

[2019-02-28 09:40] navinbhudiya commented on #14952
not working for me , if apply ur solution then stop email :(

[2019-02-28 09:48] wojtekn opened #21499 "Cart is emptied when enter is pressed after changing product quantity"
### Preconditions

1. Latest 2.3-develop

### Steps to reproduce

1. Add any product to cart
2. Navigate to the cart
3. Un-hide "Clear Shopping Cart" button which is hidden in Luma by default by running this in browser console:
`jQuery("#empty_cart_button").show();`
4. Change item quantity in the input
5. Press "Enter"

### Expected result

1. Page is reloaded and item quantity is changed

### Act

[2019-02-28 09:48] magento-engcom-team commented on #21499
Hi @wojtekn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-28 09:53] magento-engcom-team commented on #21499
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 09:54] wojtekn commented on #21499
@magento-engcom-team give me 2.3-develop instance

[2019-02-28 09:54] magento-engcom-team commented on #21499
Hi @wojtekn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-28 09:55] magento-engcom-team commented on #21499
Hi @wojtekn, here is your [Magento instance](https://i-21499-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21499-2-3-develop.instances.magento-community.engineering/admin](https://i-21499-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-28 10:00] wojtekn commented on #21499
I reproduced the issue on provided instance.

[2019-02-28 10:28] magento-engcom-team commented on #21375
Hi @Jitheesh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-02-28 10:34] terrybakshi commented on #14952
After adding the code did u run the commands

php bin/magento setup:upgrade

php bin/magento cache:clean

php bin/magento setup:di:compile

php bin/magento setup:static-content:deploy

[2019-02-28 10:44] navinbhudiya commented on #14952
yes i run all command

[2019-02-28 10:56] magento-engcom-team commented on #21499
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98486` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-28 11:06] dyuk1987 opened #21502 "Active quote is not updated when the customer changes account information"
### Summary (*)

I am not sure if the following issue should be regarded as a "bug", so I decided to put it here.
**Steps to reproduce the issue:**
_(Tested on a clean Magento 2.2.6 instance)_
1. Customer logs into his/her account, say john.doe@example.com
2. Customer adds a few products to the shopping cart
3. Customer changes the email address, say john.doe+2@example.com
4. Customer continues wi

[2019-02-28 11:06] magento-engcom-team commented on #21502
Hi @dyuk1987. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-28 11:07] magento-engcom-team commented on #21502
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 12:12] magento-engcom-team commented on #21477
Hi @vishal-7037. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-28 12:16] JMLucas96 commented on #5863
send me the solution pleaase

[2019-02-28 12:39] engcom-backlog-nazar commented on #21502
HI @dyuk1987 thank you for you report, this issue has already fixed in 2.3-develop branch. and will be available on 2.3.1 release
![deepinscreenshot_select-area_20190228143934](https://user-images.githubusercontent.com/40756439/53567046-ae63f480-3b66-11e9-9587-bf49eaa05132.png)

[2019-02-28 12:39] #21502 closed, assigned to nobody

[2019-02-28 12:54] pmathbliss commented on #15654
Attribute I'd of your price attributes

On Thu, Feb 28, 2019, 12:14 AM TOIVI291 <notifications@github.com> wrote:

[2019-02-28 12:55] mageprince opened #21504 "Attribute text field takes blank values"
Attribute text field takes the blank value on `create new value` in `Create Product Configurations` popup
### Preconditions (*)

Magento 2.3.x

### Steps to reproduce (*)

1. Go to Admin
2. Add Configurable product
3. Create Configurations
4. Select any attribute
5. From any attribute click on Create new Value
6. Add the size with blank value with space, it adds successfully.

### Expected result

[2019-02-28 12:55] magento-engcom-team commented on #21504
Hi @mageprince. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-28 12:56] magento-engcom-team commented on #21504
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 12:56] magento-engcom-team commented on #21504
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-28 12:58] krishprakash commented on #21504
@magento-engcom-team give me 2.3-develop instance

[2019-02-28 12:58] magento-engcom-team commented on #21504
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-28 12:59] magento-engcom-team commented on #21504
Hi @krishprakash, here is your [Magento instance](https://i-21504-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21504-2-3-develop.instances.magento-community.engineering/admin](https://i-21504-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-28 13:06] matorg opened #21505 "Exporting customers when no one customer is selected"
### Preconditions (*)

1. Magento 2.2.6 EE
2. At least one customer account is created.

### Steps to reproduce (*)

1. Log in to admin panel.
2. Click customers -> all customers.
3. Don't select any customer.
3. Click export -> export (it doesn't matter if csv or excel).

### Expected result (*)

1. Appropriate file should be downloaded with all customers or some message should appear about selec

[2019-02-28 13:06] magento-engcom-team commented on #21505
Hi @matorg. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-28 13:10] krishprakash commented on #21504
![att](https://user-images.githubusercontent.com/46617848/53568521-3dcdcf80-3b88-11e9-9e2c-c452e4e63c89.png)

[2019-02-28 13:12] magento-engcom-team commented on #21505
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-28 13:16] andy1786 opened #21507 "Page jumping on top while scroll on media gallery product page"
### Preconditions (*)

Problem is on Magento 2.2.6, product page with media gallery

### Steps to reproduce (*)

When I am on product page on mobile and I swipe down then is automatically pushing me on the top of the page. It is scrolling for 50% of the page and then is scrolling up. If I swipe faster, then is getting the gallery out of the screen and there is no problem anymore.

This is only on

[2019-02-28 13:16] magento-engcom-team commented on #21507
Hi @andy1786. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-28 13:20] krishprakash commented on #21505
@magento-engcom-team give me 2.2-develop instance

[2019-02-28 13:21] magento-engcom-team commented on #21505
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-28 13:21] magento-engcom-team commented on #21505
Hi @krishprakash, here is your [Magento instance](https://i-21505-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21505-2-2-develop.instances.magento-community.engineering/admin](https://i-21505-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-28 13:28] magento-engcom-team commented on #21507
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 13:30] magento-engcom-team commented on #21505
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 13:31] engcom-backlog-nazar commented on #21505
Hi @matorg  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-02-28 13:31] #21505 closed, assigned to krishprakash

[2019-02-28 14:07] magento-engcom-team commented on #21504
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98487` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-28 14:38] magento-engcom-team commented on #21364
Hi @Valant13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-02-28 14:39] ccasciotti opened #21510 "Can't access backend indexers page after creating a custom index"
After complete all the steps to create a new custom index as described in the official devdoc guide (https://devdocs.magento.com/guides/v2.2/extension-dev-guide/indexing-custom.html)
if you go on admin's indexer list page a fatal error is thrown due to a partially wrong implementation of `Magento\Indexer\Model\Indexer::getLatestUpdated` method called by `Magento\Indexer\Model\Indexer\DependencyDec

[2019-02-28 14:39] magento-engcom-team commented on #21510
Hi @ccasciotti. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-28 14:44] magento-engcom-team commented on #21510
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-28 14:45] buskamuza commented on #21299
HEAD requests should be supported automatically (on the framework level) for all GET requests, just w/o body. Caching should take this into account (GET should have separate cache to avoid empty body).

Looks like also supported by @Vinai

[2019-02-28 14:47] lfluvisotto commented on #21499
@wojtekn , @rogyar

Please, have a look at this PR https://github.com/magento/magento2/pull/21509, it doesn't need to change the button's order/position

[2019-02-28 14:57] JamesRoper commented on #21445
Hi, you have directed me to a community features page, the issue we have is
not going to be solved by a community, we have been told that Google have
activated the Enhanced E-commerce tracking however I have opened the issue
up and received no response, how can I contact Magento directly? Is there a
contact number? or Direct email?

On Wed, Feb 27, 2019 at 12:43 PM engcom-backlog-nazar <
notificat

[2019-02-28 15:06] Vinai commented on #21299
Yes, HEAD requests should be cached, and fixing only the index action is bandaid.
Instead all GET actions should also respond to HEAD requests automatically but without the body.
First idea would be an after plugin with a high sort order than the PageCache plugins for `\Magento\Framework\App\FrontControllerInterface::dispatch`. The new plugin inspects the request method, and for HEAD requests it a

[2019-02-28 15:07] lfluvisotto commented on #21499
@magento-engcom-team give me 2.2-develop instance

[2019-02-28 15:07] magento-engcom-team commented on #21499
Hi @lfluvisotto. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-28 15:08] magento-engcom-team commented on #21499
Hi @lfluvisotto, here is your [Magento instance](https://i-21499-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21499-2-2-develop.instances.magento-community.engineering/admin](https://i-21499-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-28 15:17] nexus4alii1991 commented on #21488
Hi,
I uploaded a video on youtube so you can see in detailes how to reproduce the error.
Please check: https://youtu.be/H9VSFp6dOTo
Can you give me a temporary magento instance so i can check it my self.

[2019-02-28 15:20] nexus4alii1991 commented on #21488
I dont know if it is related, but the country used for my magento is Lebanon Only.
Maybe this can affect the customer check.

[2019-02-28 15:43] piotrekkaminski commented on #8399
@magento-engcom-team it was marked as Done however this was not addressed/fixed in 2.3.0 and
MAGETWO-64314 is still open.

[2019-02-28 15:48] wojtekn commented on #21499
@lfluvisotto it's still better to adjust their position to have primary button first in the DOM, also, if issue can be clearly fixed by using better HTML, we don't need to add JS hacks.

[2019-02-28 15:56] LSERRE commented on #13952
This issue occurs randomly on one of our 2.3.0 project. Any update on this issue?

[2019-02-28 19:15] Ian410 commented on #8035
This seems to have been removed in 2.3, or was never included in the first place.  I can't find any commit removing it, why was it?

[2019-02-28 19:32] MichaelThessel opened #21514 "Cannot add media image to product listing"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. On new product attribute page select "Media Image"
2. "Storefront properties" tab disappears

### Expected result (*)

1. "Storefront properties" tab does not disappear

### Actual result (*)

1. Storefront properties" tab disappears

This seems to be an ongoing issue for several years. It has been first reported here: #690. The issue

[2019-02-28 19:32] magento-engcom-team commented on #21514
Hi @MichaelThessel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-28 20:02] Zyles opened #21515 "500 error when creating configurable products"
### Preconditions (*)

1. Magento 2.3.0 CE
2. PHP 7.1
3. Nginx

### Steps to reproduce (*)

500 error if you do not finish the configurable configurations products flow.

1. Install using composer https://devdocs.magento.com/guides/v2.3/install-gde/composer.html
2. Go to Backend > Products, click the little arrow to create "Configurable product"
3. The interface loads a simple product GUI (ability

[2019-02-28 20:02] magento-engcom-team commented on #21515
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-28 20:06] prog7707 opened #21516 "Create order from backend not always showing shipping method"
Shipping Method is not always appearing when creating an order from the backend, the problem appears when removing an item already selected and adding another one. I stated this issue earlier but they couldn't reproduce it so i made a YouTube video showing how:
https://youtu.be/H9VSFp6dOTo

If this issue is solved in version 2.3 can you please show me what to change to solve it in version 2.2.6 an

[2019-02-28 20:06] magento-engcom-team commented on #21516
Hi @nexus4alii1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-28 20:08] ccrothers commented on #16227
Also having this issue.

[2019-02-28 21:31] Stoyvo commented on #21491
@engcom-backlog-nazar Not sure I understand. Am I to make a ticket there, linked to my pull request on this repo?

[2019-02-28 21:57] prog7707 opened #21517 "Canceled Shipped order not returning item to stock"
When an order is in pending state then it is shipped, the item quantity for that order is decreased and the state of the order becomes processing. If the order in this state get canceled the item does not return back to stock.
I use this process Make order then Ship then invoice, because using cash on delivery so the shipment is before payment.
### Preconditions (*)
Magento CE
1. 2.2.6
2. 2.2.7

#

[2019-02-28 21:57] magento-engcom-team commented on #21517
Hi @nexus4alii1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-28 23:02] netjordanlee opened #21518 "Adding out of stock items to comparison shows success message but fails"
### Preconditions (*)
1. Magento 2.3.0

### Steps to reproduce (*)
1. Navigate to an out of stock product page
2. Add product to comparison

### Expected result (*)
1. Product should be added to comparison (ideal)
or
2. Message should reflect that out of stock items can not be added to comparison

### Actual result (*)
1. Success message is shown that item was added to comparison
2. Item is not ad

[2019-02-28 23:02] magento-engcom-team commented on #21518
Hi @netjordanlee. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-28 23:03] netjordanlee opened #21519 "Adding out of stock items to wishlist shows success message but fails"
### Preconditions (*)
1. Magento 2.3.0

### Steps to reproduce (*)
1. Navigate to an out of stock product page
2. Add product to wishlist

### Expected result (*)
1. Product should be added to wishlist (ideal)
or
2. Message should reflect that out of stock items can not be added to wishlist

### Actual result (*)
1. Success message is shown that item was added to wishlist
2. Item is not added to w

[2019-02-28 23:04] magento-engcom-team commented on #21519
Hi @netjordanlee. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-28 23:21] DanielRuf opened #21520 "Wrong repo description?"
Not sure why we have the following as repo description now:

[2019-02-28 23:21] magento-engcom-team commented on #21520
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-01 02:03] robyerevan opened #21521 "Broken Tax Rate Search Filter - SQLSTATE[23000]"
### Preconditions (*)

1. Magento 2.2.3

### Steps to reproduce (*)

1. Go to Admin -> Stores -> Taxes -> Tax Rules
2. Add a tax rule
3. Search tax rule using both **Name** and **Tax Rate** fields
eg. _Name = Alabama_ & _Tax Rate = US-AL_

### Expected result (*)

1. Combined search executed and output is displayed to admin
2. Admin can continue using tax rate search again

### Actual result (*)

[2019-03-01 02:03] magento-engcom-team commented on #21521
Hi @robyerevan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-01 02:04] robyerevan commented on #21521
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 02:04] magento-engcom-team commented on #21521
Hi @robyerevan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 02:05] magento-engcom-team commented on #21521
Hi @robyerevan, here is your [Magento instance](https://i-21521-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21521-2-3-develop.instances.magento-community.engineering/admin](https://i-21521-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 02:11] robyerevan commented on #21521
**Reproduced on
Magento 2.3-develop instance**
![dev-2 3-develop](https://user-images.githubusercontent.com/1753687/53611648-2db3f100-3b84-11e9-999d-7e9d56cc2235.png)

[2019-03-01 02:48] tuyennn commented on #20571
@craigcarnell To handle this, every times page load I have to reload the customer data then get it once again. This is pretty major bug but no fixing, in some countries the revealing customer information is so bad and makes some bad situations which clients have to explain to government.

[2019-03-01 04:37] magento-engcom-team commented on #21518
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-01 04:40] krishprakash commented on #21518
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 04:40] magento-engcom-team commented on #21518
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 04:40] magento-engcom-team commented on #21519
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-01 04:40] magento-engcom-team commented on #21518
Hi @krishprakash, here is your [Magento instance](https://i-21518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21518-2-3-develop.instances.magento-community.engineering/admin](https://i-21518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 04:41] harimayco opened #21523 "Cron Jobs are not working. Schedule_id always 0"
Our Magento 2 cron jobs not working anymore since upgrading from 2.17 to 2.2.7.
so we need to manualy reindex every time.

### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.1

### Steps to reproduce (*)

1. run bin/magento cron:run wil give u error

[code]

### Expected result (*)

1. Ran jobs by schedule.

### Actual result (*)

1. I checked the cron_schedule table the I found that the schedule ID

[2019-03-01 04:41] magento-engcom-team commented on #21523
Hi @harimayco. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-01 04:41] krishprakash commented on #21519
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 04:41] magento-engcom-team commented on #21519
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 04:42] magento-engcom-team commented on #21519
Hi @krishprakash, here is your [Magento instance](https://i-21519-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21519-2-3-develop.instances.magento-community.engineering/admin](https://i-21519-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 04:54] sanjay-github commented on #21428
Hi @engcom-backlog-nazar !
Please follow below steps to find the issue :

1. You need to create two or more products from admin panel. While creating products leave the description field empty for one of those products.
2. Once product created , move to storefront and add those products to compare list.
3. Now observe the comparison listing page where all these added products can be seen.

[2019-03-01 05:03] krishprakash commented on #21519
![wishlist](https://user-images.githubusercontent.com/46617848/53617493-621fbf80-3c0d-11e9-8c48-8a29e1796137.png)

[2019-03-01 05:21] harimayco commented on #21523
After comparing our upgraded version with fresh installation of magento 2.2.7 we found that the table cron_schedule has missing index key. so we ran
[code]

and the issue fixed, I don't know why and when the key was gone. but when I check our 2.1.7 database version it has the same structure. no key inside it.

we may accidentally delete it or some unfinished process when migrating the db.

Thank y

[2019-03-01 05:21] #21523 closed, assigned to nobody

[2019-03-01 05:25] magento-engcom-team commented on #21521
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-01 05:27] krishprakash commented on #21521
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 05:27] magento-engcom-team commented on #21521
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 05:28] magento-engcom-team commented on #21521
Hi @krishprakash, here is your [Magento instance](https://i-21521-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21521-2-3-develop.instances.magento-community.engineering/admin](https://i-21521-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 05:36] krishprakash commented on #21521
@magento-engcom-team give me 2.2-develop instance

[2019-03-01 05:36] magento-engcom-team commented on #21521
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-01 05:37] magento-engcom-team commented on #21521
Hi @krishprakash, here is your [Magento instance](https://i-21521-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21521-2-2-develop.instances.magento-community.engineering/admin](https://i-21521-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 06:26] magento-engcom-team commented on #21519
Hi @ravi-chandra3197. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-03-01 07:18] magento-engcom-team commented on #21466
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98509`, `MAGETWO-98510` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-01 07:21] engcom-backlog-nazar commented on #21481
Hi @alex5513 , based on

I make a conclusion that provided code snippet is incorrect. It looks like there is nothing to fix here from core perspective. Please verify if proposed solution works for you.

[2019-03-01 07:24] engcom-backlog-nazar commented on #21491
@Stoyvo Yes you need to open issue there and create PR linked issue to this repo. like this -> https://github.com/magento/community-features/issues/141

[2019-03-01 07:41] magento-engcom-team commented on #21520
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 07:45] magento-engcom-team commented on #21514
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 07:49] brideo opened #21526 "Product stock Import timeout"
### Preconditions (*)

1. Magento 2.3 Installed
2. Magento MSI enabled
3. Large import stock file
4. Indexes set to "real-time"

### Steps to reproduce (*)

1. Go to admin
2. System > Import > Stock Sources
3. Add large files with composite products

### Expected result (*)

1.  Import should run

### Actual result (*)

1. Import times out and causes a memory leak

### Workaround

Set indexes to s

[2019-03-01 07:49] magento-engcom-team commented on #21526
Hi @brideo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-01 07:52] engcom-backlog-nazar commented on #21520
Hi @DanielRuf thank you for you report, The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/)

[2019-03-01 07:52] #21520 closed, assigned to nobody

[2019-03-01 07:52] magento-engcom-team commented on #21526
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 07:53] engcom-backlog-nazar commented on #21526
HI @brideo thank you for you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-03-01 07:53] #21526 closed, assigned to nobody

[2019-03-01 07:55] magento-engcom-team commented on #21517
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 07:56] brideo commented on #21526
https://github.com/magento-engcom/msi/issues/2059

[2019-03-01 08:00] magento-engcom-team commented on #21294
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#21295 by @wojtekn in 2.3-develop branch
Related commit(s):
 - [4cdcb7475eb7e2feb14be9f7951341cd9b84a89c](https://github.com/magento/magento2/commit/4cdcb7475eb7e2feb14be9f7951341cd9b84a89c)
 - [f6656f95401bf5ad858e632df862f6c4e8f88da5](https://github.com/magento/magento2/commit/f6656f95401bf5ad858e632df862f6c4e8f8

[2019-03-01 08:00] #21294 closed, assigned to nobody

[2019-03-01 08:00] magento-engcom-team commented on #21383
Hi @devchris79. Thank you for your report.
The issue has been fixed in magento/magento2#21395 by @Jitheesh in 2.3-develop branch
Related commit(s):
 - [c9fff890e5da3e9e173fd2163f8accc7ef5338e6](https://github.com/magento/magento2/commit/c9fff890e5da3e9e173fd2163f8accc7ef5338e6)
 - [70f25998f47337656e61300df1c348534f0d2271](https://github.com/magento/magento2/commit/70f25998f47337656e61300df1c34853

[2019-03-01 08:00] #21383 closed, assigned to krishprakash

[2019-03-01 08:00] magento-engcom-team commented on #21398
Hi @mageprince. Thank you for your report.
The issue has been fixed in magento/magento2#21401 by @mageprince in 2.3-develop branch
Related commit(s):
 - [0df8d31c7b55c9fe49339df24ae45170749054f8](https://github.com/magento/magento2/commit/0df8d31c7b55c9fe49339df24ae45170749054f8)
 - [adccc57a67718d5e527e08308e467c78d02d2568](https://github.com/magento/magento2/commit/adccc57a67718d5e527e08308e467c

[2019-03-01 08:00] #21398 closed, assigned to krishprakash

[2019-03-01 08:00] magento-engcom-team commented on #20337
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20339 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [74b2098d878e71ec39284019ad887edce815f049](https://github.com/magento/magento2/commit/74b2098d878e71ec39284019ad887edce815f049)
 - [d7ba787a107ec5599dd60af84ca99fa73fff6b40](https://github.com/magento/magento2/commit/d7ba787a107ec5599dd60af84ca9

[2019-03-01 08:00] #20337 closed, assigned to cedarvinda

[2019-03-01 08:00] magento-engcom-team commented on #13937
Hi @erikhansen. Thank you for your report.
The issue has been fixed in magento/magento2#20044 by @irajneeshgupta in 2.3-develop branch
Related commit(s):
 - [55cf2dcb970f3f069e3d59ad7986413f80bb6cdb](https://github.com/magento/magento2/commit/55cf2dcb970f3f069e3d59ad7986413f80bb6cdb)
 - [035e8d736961c1a074b8a732ec3bbd993670aacc](https://github.com/magento/magento2/commit/035e8d736961c1a074b8a732ec

[2019-03-01 08:00] #13937 closed, assigned to irajneeshgupta, StevenGuapaBV

[2019-03-01 08:00] engcom-backlog-nazar commented on #21514
Hi  @MichaelThessel    thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-03-01 08:00] #21514 closed, assigned to nobody

[2019-03-01 08:01] tuyennn commented on #20629
I still found it works well on 2.2.6 and 2.2-develop

[2019-03-01 08:07] magento-engcom-team commented on #21516
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 08:24] engcom-backlog-nazar commented on #21516
Hi  @nexus4alii1991 thank you for you report, this issue  fixed in 2.3-develop and will be available on 2.3.1 release, but i cannot find related commit on github, seems like this have been fixed by core team.

[2019-03-01 08:24] #21516 closed, assigned to nobody

[2019-03-01 08:25] DanielRuf commented on #21520
Well, do we not have the other community repo anymore?
Can you forwards my issue to the right people?

[2019-03-01 08:25] magento-engcom-team commented on #21515
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 08:27] engcom-backlog-nazar commented on #21520
@DanielRuf can you explain what's wrong with description ?

[2019-03-01 08:42] DanielRuf commented on #21520
![bildschirmfoto 2019-03-01 um 09 41 10](https://user-images.githubusercontent.com/827205/53626509-2c2b0d00-3c06-11e9-8494-c6c1d91264f2.png)

This is too long for the description and as far as I remember that we did not have this long description before.

Is this really needed?

[2019-03-01 08:43] Jimgitsit commented on #19441
How does this help? Still doesn't match HTTP/2

[2019-03-01 09:01] engcom-backlog-nazar commented on #21515
@magento-engcom-team give me 2.3.0 instance

[2019-03-01 09:01] magento-engcom-team commented on #21515
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-01 09:01] magento-engcom-team commented on #21515
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21515-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21515-2-3-0.instances.magento-community.engineering/admin](https://i-21515-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 09:10] engcom-backlog-nazar commented on #21515
Hi @Zyles i'm not able to reproduce following steps you described, can you recheck on vanilla instance ?

[2019-03-01 09:23] amol2jcommerce commented on #21521
* @magento-engcom-team give me 2.3-develop instance

[2019-03-01 09:23] magento-engcom-team commented on #21521
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 09:24] magento-engcom-team commented on #21521
Hi @amol2jcommerce, here is your [Magento instance](https://i-21521-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21521-2-3-develop.instances.magento-community.engineering/admin](https://i-21521-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 09:29] engcom-backlog-nazar commented on #21515
@Zyles My actual result product saves as simple product .

[2019-03-01 09:29] #21515 closed, assigned to nobody

[2019-03-01 09:36] engcom-backlog-nazar commented on #21517
@magento-engcom-team give me 2.2-develop instance

[2019-03-01 09:36] magento-engcom-team commented on #21517
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-01 09:37] magento-engcom-team commented on #21517
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21517-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21517-2-2-develop.instances.magento-community.engineering/admin](https://i-21517-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 09:38] magenx opened #21539 "/update/ folder exists on production and not protected with admin login check"
### Preconditions (*)

1. Magento 2.x
2. Installed with composer / download zip
3. Default nginx config or apache .htaccess

### Steps to reproduce (*)

1. Navigate to my-magento-shop.com/update/

### Expected result (*)

1. Login page, Redirect to login, 401 error, empty page.
2. Update folder and its functionality must be included within magento admin interface.
3. Setup/Update folders and its f

[2019-03-01 09:38] magento-engcom-team commented on #21539
Hi @magenx. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-01 09:44] keevitaja commented on #20571
https://github.com/magento/magento2/commit/f3bd0c2f16e038f687ba40ed2a575b04698ccd76

apply this fix. it has something todo with updated zend packages.

[2019-03-01 09:45] magento-engcom-team commented on #21539
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 09:53] magento-engcom-team commented on #21539
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98511`, `MAGETWO-98512` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-01 09:53] khatariya commented on #3887
{
     "customer": {
         "email": "abc@gmail.com",
         "firstname": "Abc",
         "lastname": "Xyz"

     },
     "password": "Abc@123456"
  }

[2019-03-01 10:06] dekiakbar commented on #15264
@dankoz51 @magento is this has been fixed? I have same issue in my magento currently vesion 2.2.0 where the admin reset password link redirect to admin login, also I have try this comment but still no luck, thanks

[2019-03-01 10:07] alex5513 commented on #21481
Proposed solution don't works for me !!!
Read my ticket please !!!

addAttributeGroup takes as parameter only attribute_group_name and not attribute_group_code !!

My request use this parameters : addAttributeGroup("4", "4", "Images")

[2019-03-01 10:10] Zyles commented on #21515
Yep I used a vanilla instance, fresh install.

Then it is broken because it should save as configurable product type not simple product.

[2019-03-01 10:14] engcom-backlog-nazar commented on #21515
@Zyles yes i do exactly what in your steps to reproduce but not have 500 error

[2019-03-01 10:31] macrodesignuk commented on #14582
Any feedback @engcom-backlog-nazar ?

[2019-03-01 10:32] engcom-backlog-nazar commented on #21481
@alex5513 This name already exist in your Database, i'm not able to reproduce on clean DB install
![deepinscreenshot_select-area_20190301122944](https://user-images.githubusercontent.com/40756439/53632569-03af0d00-3c1e-11e9-8636-4075a32d9cdb.png)
but if i do this request again for second group
![deepinscreenshot_select-area_20190301123233](https://user-images.githubusercontent.com/40756439/5363261

[2019-03-01 10:35] engcom-backlog-nazar commented on #14582
@macrodesignuk Fixed in this commit https://github.com/magento/magento2/commit/461009ef7492cae1ca17183fac5b26d142b6e01f

[2019-03-01 10:48] magento-engcom-team commented on #21481
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98513`, `MAGETWO-98514` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-01 10:49] magento-engcom-team commented on #21518
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-01 10:50] hiren0241 commented on #21518
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 10:50] magento-engcom-team commented on #21518
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 10:50] magento-engcom-team commented on #21518
Hi @hiren0241, here is your [Magento instance](https://i-21518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21518-2-3-develop.instances.magento-community.engineering/admin](https://i-21518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 12:21] Zyles opened #21541 "Whitespace issues for related, cross and upsell grids"
Related to issue #20140. I believe only the category product grids were fixed in commit e1abd4a0274e241e7ef50fa0e5b43dd5530bafab

Problem is visible on related, cross sell and upsell product grids. The grid is wrapping prematurely and leaving huge whitespace on the right side of screen.

Problem on both desktop and mobile screen size.

Example product page:

![wrapbug1](https://user-images.githubu

[2019-03-01 12:21] magento-engcom-team commented on #21541
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-03-01 12:36] paul-gene commented on #13972
@nkajic how can I add these options to my attribute that I am creating programmatically? and where is the official documentation on attribute options?

[2019-03-01 12:58] magento-engcom-team commented on #21541
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-01 13:01] krishprakash commented on #21541
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 13:02] magento-engcom-team commented on #21541
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 13:02] magento-engcom-team commented on #21541
Hi @krishprakash, here is your [Magento instance](https://i-21541-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21541-2-3-develop.instances.magento-community.engineering/admin](https://i-21541-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 13:03] tzyganu commented on #17634
@engcom-backlog-tomash Can you explain in a few words what causes this? We might want to fix our instances before the fix is released.
Thanks in advance.

[2019-03-01 13:14] alex5513 commented on #21481
Thank you for reopening the ticket. I add that you are testing using a SQL query.
I'm talking about the addAttributeGroup() method and convertToAttributeGroupCode(). Attribute_group_name "Images" already exist in clean DB for product entity

[2019-03-01 13:16] magento-engcom-team commented on #8479
Hi @scottsb. Thank you for your report.
The issue has been fixed in magento/magento2#21423 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [abc3e7c17b11cfc99edc06495a5da47c0c82d9f0](https://github.com/magento/magento2/commit/abc3e7c17b11cfc99edc06495a5da47c0c82d9f0)
 - [4b2c1b47998775c114b443ae3dae78d532727598](https://github.com/magento/magento2/commit/4b2c1b47998775c114b443ae3dae78d5327

[2019-03-01 13:16] magento-engcom-team commented on #16116
Hi @comdiler. Thank you for your report.
The issue has been fixed in magento/magento2#21423 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [abc3e7c17b11cfc99edc06495a5da47c0c82d9f0](https://github.com/magento/magento2/commit/abc3e7c17b11cfc99edc06495a5da47c0c82d9f0)
 - [4b2c1b47998775c114b443ae3dae78d532727598](https://github.com/magento/magento2/commit/4b2c1b47998775c114b443ae3dae78d532

[2019-03-01 13:16] magento-engcom-team commented on #19983
Hi @cygnetampatel. Thank you for your report.
The issue has been fixed in magento/magento2#21437 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [b635e090921616459f254b63ae7de80f51a9e228](https://github.com/magento/magento2/commit/b635e090921616459f254b63ae7de80f51a9e228)
 - [97b8f5f60c4e970988ddbf3737740cdfae3054f8](https://github.com/magento/magento2/commit/97b8f5f60c4e970988ddbf3737740c

[2019-03-01 13:33] engcom-backlog-nazar commented on #21507
Hi @andy1786 thank you for you report, this issue has already fixed in 2.3-develop branch https://github.com/magento/magento2/issues/7906

[2019-03-01 15:11] magento-engcom-team commented on #20827
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2019-03-01 15:11] navarr commented on #20827
I suspect these issues to be fixed in the upcoming 2.3.1/2.2.8.

[2019-03-01 15:27] gwharton commented on #21417
Right, I think this original image may have been operator error on my part. I missed a step between 2 and 3 in the original report which was to Save the config after synchronisation.

Thats not to say there arent other issues. I'm going to close this issue and open new one for the real issue I was trying to diagnose, which is what you encountered above.

[2019-03-01 15:27] #21417 closed, assigned to nobody

[2019-03-01 15:32] PascalBrouwers opened #21544 "Checkout page refreshes session"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Add a product to the cart
2. Go to the checkout page
3. Note down your PHPSESSID
4. Refresh the checkout page
5. See that the PHPSESSID has changed

### Expected result (*)

1. Don't change the session on a page refresh

### Actual result (*)

1. New session is created, losing all data when coming back from a payment provider

[2019-03-01 15:32] magento-engcom-team commented on #21544
Hi @PascalBrouwers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-01 15:32] PascalBrouwers commented on #21544
@magento-engcom-team give me 2.2-develop instance

[2019-03-01 15:32] magento-engcom-team commented on #21544
Hi @PascalBrouwers. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-01 15:33] magento-engcom-team commented on #21544
Hi @PascalBrouwers, here is your [Magento instance](https://i-21544-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21544-2-2-develop.instances.magento-community.engineering/admin](https://i-21544-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 15:37] PascalBrouwers commented on #21544
Ok, can't seem to reproduce it on latest 2.2.x

[2019-03-01 15:37] #21544 closed, assigned to nobody

[2019-03-01 15:48] Stoyvo commented on #21491
Thanks @engcom-backlog-nazar

https://github.com/magento/community-features/issues/147

[2019-03-01 15:54] shikhamis11 commented on #21519
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 15:54] magento-engcom-team commented on #21519
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 15:55] magento-engcom-team commented on #21519
Hi @shikhamis11, here is your [Magento instance](https://i-21519-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21519-2-3-develop.instances.magento-community.engineering/admin](https://i-21519-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 16:02] gwharton opened #21546 "[2.3] Database Media Storage - New Product Images fail to be processed correctly"
### Preconditions (*)
1. Magento 2.3-develop

### Steps to reproduce (*)
1. Vanilla Install 2.3-develop
2. Change database media storage configuration to database and Synchronise
3. Save settings
4. Create new product, add new image to product (in my test case refrigerationgauges.200x100.jpg)
5. Save Image

Expected Result is what happens under 2.2-develop. Actual Result is what happens under 2.3-

[2019-03-01 16:02] magento-engcom-team commented on #21546
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-01 16:04] gwharton commented on #21546
Not able to use magecom instances as I need DB and filesystem access to prove, but confirmed reproducable 100% on 2.3-develop vanilla instance.

[2019-03-01 16:05] gwharton commented on #21417
See #21546 for the reworded issue that covers the above behaviour.

[2019-03-01 16:06] magento-engcom-team commented on #21546
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-01 16:08] shikhamis11 commented on #21519
@magento-engcom-team give me 2.2-develop instance

[2019-03-01 16:08] magento-engcom-team commented on #21519
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-01 16:09] magento-engcom-team commented on #21519
Hi @shikhamis11, here is your [Magento instance](https://i-21519-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21519-2-2-develop.instances.magento-community.engineering/admin](https://i-21519-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 16:15] magento-engcom-team commented on #21519
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98515`, `MAGETWO-98516` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-01 16:22] gwharton opened #21547 "Database Media Storage - New Product Images fail when image is hidden from gallery"
### Preconditions (*)
1. 2.2-develop

### Steps to reproduce (*)
1. Vanilla Install 2.2-develop
2. Change database media storage configuration to database and Synchronise
3. Save settings
4. Create new product, add new image to product, set the image to be hidden from gallery (in my test case tractor.200x100.jpg)
5. Save Image

Expected Result is what happens when you don't hide the image. Actual

[2019-03-01 16:22] magento-engcom-team commented on #21547
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-01 16:23] gwharton commented on #21547
Unable to test using magento-engcom instances due to database and command line access required. Confirm able to reproduce on 2.2-develop. I suspect also present on 2.3-develop, but unable to test due to bug #21546

[2019-03-01 16:28] gwharton commented on #21547
The

`product->save() `

call that is called when the product is saved calls

`Magento\Catalog\Model\Product\Image\Cache->generate()`

to pre-generate all cached images. This function generates cached images for all images returned by

`$product->getMediaGalleryImages()`

 which happens to excludes hidden images.

A secondary function also carried out while generating cached images (when in databa

[2019-03-01 16:35] tvaught991 commented on #20060
Agreed. Having the issues as well!

[2019-03-01 16:41] magento-engcom-team commented on #21521
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-01 16:41] AymericJoubert opened #21548 "Magento_Customer/js/customer-data empty on the first page after login"
Customer data is empty on the first page after login.
Related to closed issue #13984, with more steps to reproduce.

### Preconditions (*)

1. PHP 7.2
2. Magento Community 2.3.0 with sample datas

### Steps to reproduce (*)

1. Install sample datas
2. Make sur that all caches are enabled
3. Create a js script that is placed on every page; It should at least contain:

[code]
4. Go on frontend and c

[2019-03-01 16:41] magento-engcom-team commented on #21548
Hi @AymericJoubert. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-01 16:42] magento-engcom-team commented on #21521
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98517`, `MAGETWO-98518` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-01 16:43] AymericJoubert commented on #21548
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 16:43] magento-engcom-team commented on #21548
Hi @AymericJoubert. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 16:43] magento-engcom-team commented on #21548
Hi @AymericJoubert, here is your [Magento instance](https://i-21548-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21548-2-3-develop.instances.magento-community.engineering/admin](https://i-21548-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 16:46] AymericJoubert commented on #21548
Can't reproduce it without adding provided piece of javascript, and need sample datas

[2019-03-01 18:04] Ctucker9233 commented on #13765
@magento-engcom-team This is not fixed in 2.2. The fix is still sitting in 2.2-develop and hasn't been released. This is a major breaking bug.

[2019-03-01 18:24] elioermini commented on #4567
I've recently had the same issue on 2.2.7 when a promo rule was applied and the order was in processing status, deleting the value in the sales_order table as suggested by @sarfarazbheda fixed it but of course, should be fixed the issue in the code.

[2019-03-01 18:59] #21116 closed, assigned to okorshenko, Alex-Lunkov

[2019-03-01 19:23] magento-engcom-team commented on #21116
Hi @engcom-tester. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-03-01 19:23] magento-engcom-team commented on #21116
@engcom-tester Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2019-03-01 19:23] magento-engcom-team commented on #21116
Hi @engcom-tester. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-03-01 19:23] magento-engcom-team commented on #21116
@engcom-tester Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2019-03-01 19:53] dankoz51 commented on #15264
@dekiakbar this turned out to be an issue with bronto and something they did to the email template that broke the reset version

[2019-03-01 19:58] Vaibhavm1987 commented on #10573
Unable to download/export Contact details of all customers, neither CSV nor XML.

Always gives a an error:

"There has been an error processing your request
Notice: Undefined index:  in /home/dentbaydemolocat/public_html/vendor/magento/module-customer/Ui/Component/DataProvider/Document.php on line 135
Error log record number: 254440957557"

I am using: Magento 2.1.7:: Please help

[2019-03-01 20:01] wget commented on #10573
@Vaibhavm1987 The cause of this particular issue is multiple, see the possible solutions explained above ^
e.g.: removing the client, client duplicated in another website id but not in all, etc.

[2019-03-01 20:10] Ctucker9233 commented on #21548
@magento-engcom-team Same or similar issue here on 2.2.7. In my case, it cases infinite loading of a product page due to failure of loading customer data.

[2019-03-01 20:11] Ctucker9233 commented on #21548
@magento-engcom-team give me 2.2.7 instance with sample data and frontend access

[2019-03-01 20:11] magento-engcom-team commented on #21548
Hi @Ctucker9233. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-03-01 20:12] magento-engcom-team commented on #21548
Hi @Ctucker9233, here is your [Magento instance](https://i-21548-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21548-2-2-7.instances.magento-community.engineering/admin](https://i-21548-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 20:36] Vaibhavm1987 commented on #10573
Dear Sir, I am new to magento, My developer is currently not available for some time soon. And I am totally new to this and have no clue what to do...I do have the all the necessary access. Please help, what shoul I do step by step..to resolve the issue.

[2019-03-01 22:15] jarekherisz opened #21551 "Wrong css for ui-datepicke"
### Preconditions
1. 2.3.0 vanilla install

tested on
- firefox 65.0.1 mac
- firefox 65.0.1 windows
- chrome 72.0.3626.119 mac

### Steps to reproduce
On product page, in all position with date from to , where exists datepicker, the icon of calendar is in wrong place.

![obraz](https://user-images.githubusercontent.com/6222216/53669168-7cda4e80-3c76-11e9-97d6-7787359e9232.png)

I think reason of t

[2019-03-01 22:15] magento-engcom-team commented on #21551
Hi @jarekherisz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-01 22:20] jarekherisz commented on #21551
@magento-engcom-team give me 2.3-develop instance

[2019-03-01 22:20] magento-engcom-team commented on #21551
Hi @jarekherisz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-01 22:20] magento-engcom-team commented on #21551
Hi @jarekherisz, here is your [Magento instance](https://i-21551-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21551-2-3-develop.instances.magento-community.engineering/admin](https://i-21551-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-01 22:27] veneu commented on #10304
I could not find this line in that file,
Line 103 | - if (!$stockItem->getIsInStock() || $parentStockItem && !$parentStockItem->getIsInStock()) {

[2019-03-01 23:46] tnsezer opened #21552 "sales address attribute is not copy to customer address as a custom attribute"
### Preconditions (*)

1. Magento CE 2.2.5

### Steps to reproduce (*)

1. create custom attribute for customer address, sales_address and quote_address for example "my_attribute"
2. create fieldsets.xml and define the attribute

[code]

3. create extension_attributes.xml

[code]

4. copy field via objectCopyService from "order_address" to "to_customer_address"

[code]
5. create a customer address

[2019-03-01 23:46] magento-engcom-team commented on #21552
Hi @tnsezer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-01 23:59] tnsezer commented on #21552
@magento-engcom-team give me 2.2.5 instance

[2019-03-01 23:59] magento-engcom-team commented on #21552
Hi @tnsezer. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-03-02 00:48] kopernix commented on #11372
It seems to be a magento bug :-( . The way to reverse it is the following (I know this is not a solution) but it will help to have the site working again:

On command line:

Magento ≥ 2.2 bin/magento config:set dev/css/minify_files 0 bin/magento cache:clean

Magento < 2.2 On DB (mysql client) execute: UPDATE core_config_data SET value = 0 WHERE 'dev/css/minify_files

bin/magento cache:clean

Now,

[2019-03-02 02:23] JesKingDev commented on #7413
Testing this with Magento 2.3.0, the problem is not resolved.

[2019-03-02 10:18] nimbus2300 commented on #7932
`redis-cli flushall` worked for me.

[2019-03-02 11:02] DanielRuf commented on #21551
The issue is a missing `position: relative` on the direct parent imo.

[2019-03-02 11:52] wget commented on #10573
@Vaibhavm1987 Best bet is not to touch to such critical part if you are not used to develop with Magento and to ask for help via a short job offer on [freelancer](https://www.freelancer.com/) for example. You may find someone willing to help you just in exchange of a small fee. :)

[2019-03-02 17:06] Ctucker9233 commented on #6410
Preconditions:

Magento 2.2.7

Steps to Reproduce:
1. Upgrade from 2.2.6 or earlier to 2.2.7
2. Clear all caches, di, static content
3. Navigate to a product page on the frontend
4. Attempt to add product to cart

Expected Result:
Product added to cart successfully

Actual result
It attempts to add product, but completes with no success message and a javascript endless spinning wheel appears. Erro

[2019-03-02 18:36] magento-engcom-team commented on #15772
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-03 03:13] magento-engcom-team commented on #21551
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-03 03:15] shikhamis11 commented on #21551
@jarekherisz Thank you for your report. This issue is already fixed in current 2.3-develop instance . Message here if you still getting this issue on current 2.3-develop instance.

[2019-03-03 03:15] #21551 closed, assigned to shikhamis11

[2019-03-03 03:17] magento-engcom-team commented on #21518
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-03 09:17] Alex-Lunkov commented on #21552
@magento-engcom-team give me 2.3 instance

[2019-03-03 12:45] magento-engcom-team commented on #21518
Hi @Leandry. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-03 12:52] magento-engcom-team commented on #21518
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-03 12:52] magento-engcom-team commented on #21518
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98521`, `MAGETWO-98522` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-03 12:57] magento-engcom-team commented on #21541
Hi @Leandry. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-03 13:07] Leandry commented on #21541
@magento-engcom-team give me 2.2-develop instance

[2019-03-03 13:07] magento-engcom-team commented on #21541
Hi @Leandry. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-03 13:07] magento-engcom-team commented on #21541
Hi @Leandry, here is your [Magento instance](https://i-21541-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21541-2-2-develop.instances.magento-community.engineering/admin](https://i-21541-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-03 13:59] Leandry commented on #21541
The issue was not reproduced on the mobile device and on Magento 2.2.
But on the desktop Magento 2.3, there was whitespace on the right side of the screen.
![2019-03-03_15-22-44](https://user-images.githubusercontent.com/9416636/53695936-59c0b380-3dca-11e9-8c84-a38e7e87be99.png)
![2019-03-03_15-21-14](https://user-images.githubusercontent.com/9416636/53695938-5c230d80-3dca-11e9-83df-7d7b65bf9cbb.p

[2019-03-03 14:02] magento-engcom-team commented on #21541
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98523` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-03 15:48] oskar1233 opened #21555 "Anonyomus classes in 2.3 (test data provider)"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2

### Steps to reproduce (*)

1. Create a new module
2. Create a test with data provider returning anonymous class
3. `./bin/magento setup:di:compile`

### Expected result (*)

1. Compilation succed

### Actual result (*)

1. `Notice: Uninitialized string offset: 1 in /var/www/setup/src/Magento/Setup/Module/Di/Code/Scanner/PhpScanner.php on line 219`

[2019-03-03 15:48] magento-engcom-team commented on #21555
Hi @oskar1233. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-03 15:49] oskar1233 commented on #21555
@magento-engcom-team give me 2.3-develop instance

[2019-03-03 15:49] magento-engcom-team commented on #21555
Hi @oskar1233. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-03 15:50] magento-engcom-team commented on #21555
Hi @oskar1233, here is your [Magento instance](https://i-21555-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21555-2-3-develop.instances.magento-community.engineering/admin](https://i-21555-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-03 17:02] fwolfst commented on #18838
I believe the issue ist found in 2.2.7; we observe similar behavior, but cannot confirm the fixes yet (will try).

[2019-03-03 19:07] sean-breeden opened #21556 "Grouped Product getParentIdsByChild() returns row_id of catalog_product_entity instead of entity_id"
### Preconditions (*)
1. Magento EE 2.2.2

### Steps to reproduce (*)
1. Create a bundled product. Add a couple of products to it.
2. Find your grouped product ID the table `catalog_product_link`
3. Add another product to the bundle
4. Go back to the table `catalog_product_link` and locate your grouped product
5. Now view `catalog_product_entity` for the `product_id` from `catalog_product_link`. I

[2019-03-03 19:07] magento-engcom-team commented on #21556
Hi @sean-wcb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-04 00:12] prog7707 opened #21557 "Magento 2.2 Admin order not enough quantity for item"
When making an order via the admin, and selecting an item with one quantity left in stock, a notification shows that there is not enough quantity for that item. Then i you press update this notification is removed.
### Preconditions (*)
Magento CE
1. 2.2.6
2. 2.2.7

### Steps to reproduce (*)

1. create new order from admin
2. select customer
3. select a product which have only one item remaining

[2019-03-04 00:13] magento-engcom-team commented on #21557
Hi @nexus4alii1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-04 02:14] crankycyclops commented on #7739
@gwharton, I'm really confused, because I'm looking at my 2.2.7 instance (installed via composer), and when I go through the files in the diff manually, I see that all the changes in #18472 seem to have already been merged. Yet I still get the "From Header sent twice" error.

[2019-03-04 04:56] magento-engcom-team commented on #21557
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-04 04:59] krishprakash commented on #21557
@magento-engcom-team give me 2.2-develop instance

[2019-03-04 04:59] magento-engcom-team commented on #21557
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-04 05:00] magento-engcom-team commented on #21557
Hi @krishprakash, here is your [Magento instance](https://i-21557-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21557-2-2-develop.instances.magento-community.engineering/admin](https://i-21557-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-04 05:17] eharvest commented on #9187
This issue still presents in 2.3. It just doesn't make sense to me to hide the old price on a special price, then who knows the products are on special?? That is wrong in so many ways!

[2019-03-04 05:35] krishprakash commented on #21557
@nexus4alii1991 This is not an issue.
This is default feature of magento so you can set qty as notify below for any product.
Please go to Admin >> Catalog >> Products >> Advanced Inventory >>  Notify for Quantity Below
PFA
![order qty](https://user-images.githubusercontent.com/46617848/53712557-5cc0b000-3e6d-11e9-95cc-31673606ad93.png)

[2019-03-04 07:16] magento-engcom-team commented on #21557
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 07:16] magento-engcom-team commented on #21556
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 07:17] magento-engcom-team commented on #21547
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 07:27] engcom-backlog-nazar commented on #21517
Hi  @nexus4alii1991  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-03-04 07:27] #21517 closed, assigned to nobody

[2019-03-04 07:31] engcom-backlog-nazar commented on #21557
Hi @nexus4alii1991 thank you for you report, this is expected behavior, i'm closing this as this is non issue.

[2019-03-04 07:31] #21557 closed, assigned to krishprakash

[2019-03-04 07:31] magento-engcom-team commented on #21555
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 07:48] nntoan commented on #13428
Any updates?

[2019-03-04 08:00] engcom-backlog-nazar commented on #6793
HI @Ctucker9233 this already fixed in 2.3-develop branch and will be available on 2.2.8 release, but i'm unable to find relevant commit.

[2019-03-04 08:14] AymericJoubert commented on #21548
So what's the roadmap about this issue ?

[2019-03-04 08:27] engcom-backlog-nazar commented on #21556
Hi @sean-wcb thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.2 release.
 GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a mer

[2019-03-04 08:27] #21556 closed, assigned to nobody

[2019-03-04 08:27] magento-engcom-team commented on #21552
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 08:28] gwharton commented on #7739
Yes. Im also confused. The source code for 2.2.7 on github does NOT have 18472 merged. I just checked.

[2019-03-04 08:37] amol2jcommerce commented on #21519
@magento-engcom-team give me 2.3-develop instance

[2019-03-04 08:37] magento-engcom-team commented on #21519
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-04 08:37] magento-engcom-team commented on #21519
Hi @amol2jcommerce, here is your [Magento instance](https://i-21519-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21519-2-3-develop.instances.magento-community.engineering/admin](https://i-21519-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-04 08:39] engcom-backlog-nazar commented on #21555
Hi @oskar1233 thank you for you report, i;m not able to reproduce following steps you described.
![deepinscreenshot_select-area_20190304103745](https://user-images.githubusercontent.com/40756439/53720538-aad3b480-3e69-11e9-8b69-529199e55689.png)
![deepinscreenshot_select-area_20190304103754](https://user-images.githubusercontent.com/40756439/53720539-ab6c4b00-3e69-11e9-9d95-ff142fa5bf3e.png)

[2019-03-04 08:39] #21555 closed, assigned to nobody

[2019-03-04 08:50] magento-engcom-team commented on #21546
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98525` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-04 08:54] tdgroot commented on #14456
I'm not proud of saying it, but apparently you can work around it by setting `user_defined` to false: [DataProvider.php#341](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Customer/Model/Customer/DataProvider.php#L341).

[2019-03-04 08:57] Dharmeshvaja91 opened #21558 "Navigation issue of review from product listing when click on review count"
### Description (*)
After clicking on a product's reviews count from **products listing page** customer reviews are not visible on product details page without additional scrolling.

### Preconditions (*)

1. 2.3.x

### Steps to reproduce (*)

1. Add review for any product
2. Go to **product listing**
3. Click on 1 review
4. Review the product details section

### Expected result (*)

The page is

[2019-03-04 08:57] magento-engcom-team commented on #21558
Hi @Dharmeshvaja91. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-04 08:58] magento-engcom-team commented on #21558
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-04 09:00] mattijv commented on #21299
@buskamuza I'm wondering if there really needs to be a separate cache for HEAD requests?

Since the same controller is returning the result for both HEAD and GET requests (and I think it's infeasible to make the controller return different results based on if the request is HEAD or GET), I don't think there's a need for a separate cache. The framework should just send the HEAD part of the result b

[2019-03-04 09:01] krishprakash commented on #21558
@magento-engcom-team give me 2.3-develop instance

[2019-03-04 09:01] magento-engcom-team commented on #21558
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-04 09:01] magento-engcom-team commented on #21558
Hi @krishprakash, here is your [Magento instance](https://i-21558-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21558-2-3-develop.instances.magento-community.engineering/admin](https://i-21558-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-04 09:09] trantuyen7372 commented on #15545
any updates?

[2019-03-04 09:20] Vinai commented on #21299
@mattijv The change you describe introduces a pretty big backward incompatible change. Also it doesn’t address the the issue of the response body, which should be empty for propper HTTP HEAD request handling.

[2019-03-04 09:23] magento-engcom-team commented on #21558
Hi @niravkrish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-03-04 09:47] mattijv commented on #21299
@Vinai I'm not sure what the backwards incompatible change would be? I assume you mean removing the HttpHeadActionInterface? It is true that if some third party developer has implemented that Interface in their code, removing it would break their code. And I guess if they have chosen to implement a route that **only** responds to HEAD requests, that would be broken by the method mapping change.

T

[2019-03-04 09:57] lemaryn commented on #16388
Hello guys!
For fix this this issue I created patch for for Magento ver. 2.2.5
`
Index: ../vendor/magento/module-quote/Model/Quote/Address.php
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- ../vendor/magento/module-quote/Model/Quote/Address.php	(date 1551476934000)
+++ ../vendor/magent

[2019-03-04 09:59] lemaryn commented on #16388
Hello guys!
For fix this this issue I created patch for for Magento ver. 2.2.5
Index: ../vendor/magento/module-quote/Model/Quote/Address.php
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- ../vendor/magento/module-quote/Model/Quote/Address.php	(date 1551476934000)
+++ ../vendor/magento/

[2019-03-04 10:06] lemaryn commented on #16388
Hello guys
For fix this this issue I created patch for for Magento ver. 2.2.5:
[code]

[2019-03-04 10:06] Vinai commented on #21299
Yes, removing an interface is a backward incompatible change.
Also, removing it from classes that previously implemented it also is a bc break (although I haven’t checked if any class in M2 currently implements it).

[2019-03-04 10:13] mattijv commented on #21299
@Vinai @buskamuza After some digging around in the parts of Magento internals that I wasn't too familiar with, it seems there are two different ways the HEAD requests could be handled.

1) Treat the HEAD requests internally the same as GET requests (i.e. use the same rendering methods and caches) and have a plugin attached to (e.g.) Magento\Framework\HTTP\PhpEnvironment\Response sendResponse metho

[2019-03-04 10:18] mattijv commented on #21299
@Vinai In M2.3 I can find any class that implements it currently and it isn't present in earlier releases, which is why I think removing it at this stage shouldn't be a major problem. But then again **I** don't have to support thousands of 3rd party developers...

IMO implementing it as a separate interface feels like a mistake and this would be the best time to fix the issue as M2.3 has been out

[2019-03-04 10:45] JMLucas96 commented on #9466
I followed the code when I save a product and it executes **`moveImageFromTmp($file)`** function in `vendor\magento\module-catalog\Model\Product\Gallery\CreateHandler.php`.

That function have a method called **`getUniqueFileName($file)`** and is that function that duplicates image and adds _X.jpg.

Simply replacing this line **`$destinationFile = $this->getUniqueFileName($file);`** for this **`$d

[2019-03-04 11:12] Vinai commented on #21299
The response content has to be generated for HEAD requests so the Content-Length HTTP header can be correctly set, which is an important use case for HEAD requests.
The Content needs to be generated, the Content-Length header needs to be set, and then the content body should be removed from the response.

[2019-03-04 11:16] mattijv commented on #21299
@Vinai Of course, silly of me to overlook that. In that case I would suggest changes similar to the option 1 I outlined above. If you feel that removing the interface is too major of a change, I would still propose changing the interface mappings so that both HEAD and GET map to the same interface, and leaving the HttpHeadActionInterface for backwards compatibility (even if it is unused).

[2019-03-04 11:58] magento-engcom-team commented on #21510
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98528`, `MAGETWO-98529` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-04 12:17] mattijv commented on #21299
On further inscpection the `controller_front_send_response_before` event seems to be an ideal place to modify the response for HEAD requests, since it receives both request and response as the event params.

I also noticed that at the moment all static resources also return the full body for HEAD requests. Perhaps the Magento\Framework\App\StaticResouce could emit a similar event for the same purp

[2019-03-04 12:27] nexus4alii1991 commented on #21557
Please re-check. I know about that option and it is not related to the issue.
The issue is in admin order when creating an order and adding an item with only 1 left in stock. It shows:
We don't have as many "shirts" as you requested.
But when you press update the notification disappears

[2019-03-04 13:15] Vinai commented on #21299
According to the Magento Technical Guidelines an event (including its arguments) must not be modified, a plugin must be used instead (see paragraph 14 at https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html)

I’m not saying I agree with that, but any solution in the core should probably take that into account.

[2019-03-04 13:18] alujane commented on #6144
Also got this issue on Magento 2.2.6, Community Edition.
After checking, it looks like the problem is related to the indexing.

When products are updated via mass action, reindex is run.
Meanwhile, when we just edit the specific product, reindex might not be initialised right away, it happens either on save/change or via cron job, depending on environment settings.

So if customer has quote with d

[2019-03-04 13:47] koopjesboom commented on #19127
Magento 2.3 same issue exist in 2.3 not fixed in 2.3

[2019-03-04 13:47] itsbrianburton commented on #7056
@bruno-serfe You've probably already resolved it, but here's the solution for anyone else experiencing this problem.

First reference the frontend/di.xml file in the module you want to override and find where that interface is referenced.  For multishipping looks like this:
[code]
Open your module's frontend/di.xml file and add the following:
[code]

[2019-03-04 14:41] orlangur commented on #21548
@AymericJoubert expected result is wrong, customer data is loaded asynchronously. You can add observable on it to perform some logic when customer data is loaded.

[2019-03-04 14:41] #21548 closed, assigned to nobody

[2019-03-04 14:45] oskar1233 commented on #21555
@engcom-backlog-nazar I use PHP 7.2 to be clear - forgot to mention, sorry.

I'm pretty confident the bug exists; it appeared on my project and then I was able to reproduce it.

[2019-03-04 14:46] engcom-backlog-nazar commented on #21555
@oskar1233 ok i'm will recheck on php 7.2

[2019-03-04 14:47] orlangur commented on #15772
Closing in favor of https://github.com/magento/magento2/issues/10532. Entering four decimals price is not a valid use case currently.

[2019-03-04 14:47] magento-engcom-team commented on #21154
Hi @travis5491811. Thank you for your report.
The issue has been fixed in magento/magento2#21338 by @progreg in 2.3-develop branch
Related commit(s):
 - [c7930eb37b29c3bc14735d048845278092fca053](https://github.com/magento/magento2/commit/c7930eb37b29c3bc14735d048845278092fca053)
 - [7190983a7aa4c4c09d997871a4d71d863e3872f0](https://github.com/magento/magento2/commit/7190983a7aa4c4c09d997871a4d71d

[2019-03-04 14:47] #21154 closed, assigned to progreg

[2019-03-04 14:47] magento-engcom-team commented on #21425
Hi @mrtuvn. Thank you for your report.
The issue has been fixed in magento/magento2#21443 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [68ee3af4512ec5db3e8b65e66a59db5b061e5dd0](https://github.com/magento/magento2/commit/68ee3af4512ec5db3e8b65e66a59db5b061e5dd0)
 - [8e95bfdc91823a91d8c7a351a96ef24ed0eed60e](https://github.com/magento/magento2/commit/8e95bfdc91823a91d8c7a351a96ef24ed

[2019-03-04 14:47] magento-engcom-team commented on #21327
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#21356 by @Jitheesh in 2.3-develop branch
Related commit(s):
 - [4a598e785441304bef5c7e2817ef6d99a963aca2](https://github.com/magento/magento2/commit/4a598e785441304bef5c7e2817ef6d99a963aca2)
 - [5372fdc88a4aa1e00d9983b7f538760d2f210fe1](https://github.com/magento/magento2/commit/5372fdc88a4aa1e00d9983b7f538760d2

[2019-03-04 14:47] #21425 closed, assigned to nobody

[2019-03-04 14:47] #21327 closed, assigned to jignesh26

[2019-03-04 14:47] magento-engcom-team commented on #20310
Hi @NickdeK. Thank you for your report.
The issue has been fixed in magento/magento2#20316 by @NickdeK in 2.3-develop branch
Related commit(s):
 - [764612e55df56d72f326246c39358a35d3fb07cb](https://github.com/magento/magento2/commit/764612e55df56d72f326246c39358a35d3fb07cb)
 - [7c7b078e10f68f60630541b90b2ed49dffc96560](https://github.com/magento/magento2/commit/7c7b078e10f68f60630541b90b2ed49dffc9

[2019-03-04 14:47] #20310 closed, assigned to routbiplab

[2019-03-04 14:47] magento-engcom-team commented on #13338
Hi @VincentMarmiesse. Thank you for your report.
The issue has been fixed in magento/magento2#21363 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [a0be69b48ad0ac15834c31787d8a4fbc9c4b0ab1](https://github.com/magento/magento2/commit/a0be69b48ad0ac15834c31787d8a4fbc9c4b0ab1)
 - [9e657ad9a2696e15a346d636a245c9a2184e9019](https://github.com/magento/magento2/commit/9e657ad9a2696e15a346d636a2

[2019-03-04 14:47] #13338 closed, assigned to eduard13

[2019-03-04 14:47] magento-engcom-team commented on #21062
Hi @novikor. Thank you for your report.
The issue has been fixed in magento/magento2#21275 by @novikor in 2.3-develop branch
Related commit(s):
 - [23f415a5d7f7f032a33f75ced47a76b4b422ef7e](https://github.com/magento/magento2/commit/23f415a5d7f7f032a33f75ced47a76b4b422ef7e)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-04 14:47] #21062 closed, assigned to novikor

[2019-03-04 14:48] oskar1233 commented on #21555
@engcom-backlog-nazar Also, I have created a module using separate composer project. Sorry for not mentioning, I thought it's a preferred way to do so.

[2019-03-04 14:55] magento-engcom-team commented on #21116
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-04 14:58] magento-engcom-team commented on #21116
@Alex-Lunkov Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-03-04 14:59] orlangur commented on #21552
@tnsezer,

[code]

This is not a proper way to load customer address.

[2019-03-04 15:03] engcom-backlog-nazar commented on #6410
HI @Ctucker9233 thank you for you report, this issue has already fixed in 2.3-develop and 2.2-develop branch and will be available on 2.3.1 release

[2019-03-04 15:03] #6410 closed, assigned to nobody

[2019-03-04 15:18] stevekem opened #21562 "Cannot add Configurable and Simple product in cart together, cart will not load."
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Add simple product to cart first.
2. Add configurable product to cart second.
3. Go to view cart.
4. If you add configurable product to cart first and then add simple product to cart second, shopping cart page will load but mini cart will show 0 items in cart.

### Expected result (*)

1.
![cart1](https://user-images.githubusercont

[2019-03-04 15:18] magento-engcom-team commented on #21562
Hi @stevekem. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-04 15:21] tnsezer commented on #21552
It is in magento core: Magento\Sales\Model\Order\OrderCustomerExtractor:extract method

[2019-03-04 15:29] orlangur commented on #21552
@tnsezer then please change steps as currently 5 and 6 should lead to actual result, not expected.

[2019-03-04 15:34] stevekem commented on #21562
@magento-engcom-team give me 2.3-develop instance

[2019-03-04 15:34] magento-engcom-team commented on #21562
Hi @stevekem. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-04 15:35] magento-engcom-team commented on #21562
Hi @stevekem, here is your [Magento instance](https://i-21562-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21562-2-3-develop.instances.magento-community.engineering/admin](https://i-21562-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-04 15:43] ghost opened #21563 "Super fast magento 2 store"
I am trying to speed up my Magento 2.3 CE store with no much success. I have installed Varnish and followed all instructions that I could find on web.

Can someone please advise how fast magento can be? is 2s page load achievable?

Could someone please  share a link to fast magento store that achieve good result on PageSpeed Insights

[2019-03-04 15:43] magento-engcom-team commented on #21563
Hi @marekziniewicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-04 15:49] magento-engcom-team commented on #21563
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 15:50] engcom-backlog-nazar commented on #21563
Hi @marekziniewicz
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-04 15:50] #21563 closed, assigned to nobody

[2019-03-04 15:51] magento-engcom-team commented on #21562
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-04 16:03] stevekem commented on #21562
@magento-engcom-team give me 2.3.0 instance

[2019-03-04 16:03] magento-engcom-team commented on #21562
Hi @stevekem. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-04 16:04] magento-engcom-team commented on #21562
Hi @stevekem, here is your [Magento instance](https://i-21562-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21562-2-3-0.instances.magento-community.engineering/admin](https://i-21562-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-04 16:12] stevekem commented on #21562
Is it possible to get instance with sample data loaded?

[2019-03-04 16:27] dverkade commented on #15772
I'm reopening this issue. Unlike @orlangur is mentioning this is a valid use case. First of all, you can enter prices with 4 decimals in the backoffice, and they will actually be saved. Second of all, @magento-engcom-team has confirmed and reproduced this issue.

[2019-03-04 16:35] stevekem commented on #21562
Issue cannot be reproduced. Traced to an issue with extension.  Thank you!

[2019-03-04 16:35] #21562 closed, assigned to nobody

[2019-03-04 16:47] magento-engcom-team commented on #21558
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-04 16:50] shikhamis11 commented on #21558
@Dharmeshvaja91 I don't think this is issue the redirection is correct since the reviews data is coming by ajax it takes some time to load.

[2019-03-04 17:08] tnsezer commented on #21552
@orlangur  It already leads actual result. It is happening in magento 2 core I explained next to the steps. I just described bugs in the steps. It is also still continue for magento 2.3. I changed last steps and added load method. It would give same actual result by the way.

[2019-03-04 18:37] magento-engcom-team commented on #19267
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-04 18:37] magento-engcom-team commented on #19267
Hi @ErikPel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-04 18:50] sdzhepa commented on #18819
Closed according to the last comment from the reporter

Link: https://github.com/magento/magento2/issues/18819#issuecomment-459106267

[2019-03-04 18:50] #18819 closed, assigned to nobody

[2019-03-04 18:51] magento-engcom-team commented on #18683
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-03-04 18:54] prog7707 opened #21564 "Magento 2.2 Admin order not enough quantity for item"
When making an order via the admin **<<Backend>>**, and selecting an item with one quantity left in stock, a notification shows that there is not enough quantity for that item. Then i you press update this notification is removed.
In Catalog-->Inventory Settings, I Set item threshold to "0", and notify when item reaches to "0" (So that it does not notify if quantity is 1) . So Earlier when this is

[2019-03-04 18:54] magento-engcom-team commented on #21564
Hi @nexus4alii1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-04 20:10] sdzhepa commented on #2291
Hello @rvovnenko

Thank you for participating and collaboration.

I want to ask are you still working on this issue?
Just want to put this issue into the correct column on "Community Dashboard". Is it free for development or it is in progress now?

[2019-03-04 20:23] magento-engcom-team commented on #21564
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-04 20:27] sdzhepa commented on #13902
Hello @thlassche @VitorGit @hostep

Thank you all for contribution and collaboration!

As I can see from the comment #13902 (comment) the issue is fixed and delivered

There is Open PR #21340 that will be processed and delivered soon.
So, this issue can be closed

[2019-03-04 20:27] #13902 closed, assigned to nobody

[2019-03-04 21:37] lefte commented on #15545
FYI in case anyone else ends up at this search result with the same symptoms we had, while running Magento 2.2.1 we saw dozens of temp tables being created that ended up crashing our database in production, similar to the following:
```CREATE TEMPORARY TABLE `search_tmp_5c5c5102169513_69975582` (
  `entity_id` int UNSIGNED NOT NULL COMMENT 'Entity ID' ,
  `score` decimal(32,16) UNSIGNED NOT NULL C

[2019-03-04 22:00] sdzhepa commented on #12240
Hello @tangar76 and @XxXgeoXxX

As was mentioned in the comment https://github.com/magento/magento2/pull/20358#issuecomment-457197218 the issue was fixed

[2019-03-04 22:00] #12240 closed, assigned to XxXgeoXxX

[2019-03-04 22:26] sdzhepa commented on #17618
Hello @keyurshah070

Thank you for contribution and collaboration!

According to the comment from CORE team above https://github.com/magento/magento2/issues/17618#issuecomment-465251953

Closed as not a bug

[2019-03-04 22:26] #17618 closed, assigned to shikhamis11

[2019-03-04 22:31] sdzhepa commented on #13228
Hello @YuanXiong @gujjwal00 @GovindaSharma @milindsingh

I see @milindsingh added labels  `Fixed in 2.2.x`  `Fixed in 2.3.x` on Feb 3th

Does it mean that issue is not actual any more and can be closed or it is not possible to reproduce bu provided steps?

[2019-03-04 22:38] AleksLi commented on #15772
@dverkade so what's now. Can it be fixed for particular use case as I've done in my PR  #21554 or what? I mean in the scope of this ticket and then it could be fixed more generally.

[2019-03-04 22:42] sdzhepa commented on #15163
Hello @dccampbell

Thank you for contribution and collaboration!

As I can see from PR #20899 discussion
- https://github.com/magento/magento2/pull/20899#issuecomment-468653869 " looks like the issue was already fixed 0d7f677"
- and confirmation from the author  https://github.com/magento/magento2/pull/20899#issuecomment-468697187

So this issue can be closed

[2019-03-04 22:42] #15163 closed, assigned to milindsingh, realadityayadav

[2019-03-04 22:44] crankycyclops commented on #7739
@gwharton, that is indeed very strange. I also went back to browse the files in the 2.2.7 Github release, and I can see that the changes weren't applied like you said. Yet they are in the 2.2.7 version I installed via composer.

At any rate, after verifying that those changes are a part of my code, I still get the "From Header set twice" error, so it looks like I'll have to dig into Magento core s

[2019-03-04 23:08] ghost opened #21566 "isArrayLike return incorrect value"
### Preconditions (*)

1. Magento 2.3
2. The browser is Google Chrome

### Steps to reproduce (*)

1. I have a form in admin panel and it has JSON code after clicking on submit button

2. Then function "flatten" from file vendor/magento/magento2-base/lib/web/mage/utils/objects.js run

3. Then function "isArrayLike" from file vendor/magento/magento2-base/lib/web/underscore.js run

### Expected resu

[2019-03-04 23:08] magento-engcom-team commented on #21566
Hi @Faradey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-05 01:33] ktomk commented on #2523
Okay, looks like there was no fix -or- there is a regression to it on 2.3.0.

[2019-03-05 04:46] krishprakash commented on #21558
@shikhamis11 can you please recheck on magento latest 2.3.x instance an also compare with 2.2.x because in 2.2.x it is working fine.

[2019-03-05 05:09] rakesh-gangani opened #21567 "Integration: Reauthorise doesn't save customer Id."
### Preconditions (*)

1. CE 2.2.5

### Steps to reproduce (*)

1. Create Integration via code and set Customer Id while creating integration.
2. Check Database table  to see customer Id is saved.
3. Reauthorize Integration.

### Expected result (*)

1. Customer Id saved via code should be persistent while reauthorizing Integration.

### Actual result (*)

1. Customer Id saved via code is deleted

[2019-03-05 05:09] magento-engcom-team commented on #21567
Hi @rakesh-gangani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-05 06:11] aqngenesis commented on #10234
Hai,

I also facing Payment methods for specific country issue in Magento 2.2.6.

[2019-03-05 06:12] aishwaryasunarc commented on #10234
Hai,

I also same facing payment methods for specific country issue in Magento 2.2.6

[2019-03-05 06:50] vjcspy commented on #19084
@magento-engcom-team, @williankeller  i found the problem cause by circular dependency. (Magento\Framework\Cache\Frontend\Decorator\Logger depends and Magento\Framework\Cache\InvalidateLogger)
it should be fixed in the next version of magento2.

[2019-03-05 07:20] joeyazar opened #21571 "Magento 2.3 - Phone number, fax and company not showing on the signup page"
### Preconditions (*)

1. Magento 2.3
2. Front end Registration page

### Steps to reproduce (*)

1. Access the backend, store > configuration > customer configuration
2. change the phone number, fax and company to required or optional

### Expected result (*)

1. When user clicks on the SIgn Up button he should be able to see all the required and optional fields in addition to the Name, email and

[2019-03-05 07:20] magento-engcom-team commented on #21571
Hi @joeyazar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-05 07:27] magento-engcom-team commented on #21566
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-03-05 07:31] joeyazar commented on #21571
@magento-engcom-team give me 2.3-develop instance

[2019-03-05 07:31] magento-engcom-team commented on #21571
Hi @joeyazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-05 07:32] magento-engcom-team commented on #21571
Hi @joeyazar, here is your [Magento instance](https://i-21571-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21571-2-3-develop.instances.magento-community.engineering/admin](https://i-21571-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-05 07:36] joeyazar commented on #21571
Hi. Sorry i'm new to Magento and it might be a silly question from my end but i can't figure it out.
Same issue here. The "Show Telephone" is required and "Show Company" is optional in the back end, and still they don't appear in the sign up page in the front end.

[2019-03-05 07:46] magento-engcom-team commented on #21571
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 07:47] magento-engcom-team commented on #21567
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-05 07:49] magento-engcom-team commented on #21547
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98560` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-05 07:51] magento-engcom-team commented on #21566
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue