[2019-06-11 09:24] amenk commented on #22622
@orlangur Bump ;-)

[2019-06-11 09:55] jburel-clever-age commented on #22994
Like i said in the last bullet point, you may try on several page, and on some pages you will lost translation. I reproduced this issue on a fresh 2.3.1 environment.

Never mind, we solved the problem on our side by making a homemade patch. You can keep this ticket closed.

[2019-06-11 10:40] itmsenior commented on #23194
Hi @krishprakash, whether I use POST or PUT, the video information is not saved if the product has or has had a Youtube video.
I've updated my ticket title and description.

[2019-06-11 10:43] Patelcc commented on #22771
@magento-engcom-team thanks for the update it will be available upcoming **2.2.10** but this issue is also reproduced in **2.3.X** and while report issue I was mentioned version **2.3.0** so i think it should be open. for Magento **2.3.X**

[2019-06-11 10:49] makkoff commented on #23196
Hello. I have expected result on 2.3-develop.

[2019-06-11 11:07] netzwelt-nishu opened #23206 "Unable to unserialize on new product page"
### Preconditions (*)

1. Magento 2.3.1
2.

### Steps to reproduce (*)

1. we create any product into our magento admin
2.

### Expected result (*)

1. New product form should open.
2.

### Actual result (*)

1. I am getting issue (Unable to unserialize value. Error: Syntax error) with the stack trace

[2019-06-11 11:10] netzwelt-nishu commented on #23206
﻿{"0":"Unable to unserialize value. Error: Syntax error","1":"<pre>#1 Magento\\Catalog\\Ui\\DataProvider\\Product\\Form\\Modifier\\Categories->getCategoriesTree() called at [vendor\/magento\/module-catalog\/Ui\/DataProvider\/Product\/Form\/Modifier\/Categories.php:248]\n#2 Magento\\Catalog\\Ui\\DataProvider\\Product\\Form\\Modifier\\Categories->customizeCategoriesField() called at [vendor\/magento

[2019-06-11 11:22] adwivedigit commented on #8033
Got that same issue in console

[2019-06-11 11:29] makkoff commented on #23192
When you set payment method your API request must contain billing address. For example:
{
	"paymentMethod": {
    	    	"method": "banktransfer"
	 },
	"billing_address": {
    	    	"email": "jdoe@example.com",
  	      	"region": "New York",
          	"region_id": 43,
          	"region_code": "NY",
    	    	"country_id": "US",
    	    	"street": ["123 Oak Ave"],
    	    	"postcode": "10577",

[2019-06-11 11:30] maheshWebkul721 commented on #22840
This issues is duplicate of #22112

[2019-06-11 11:30] duckchip commented on #23157
![Screen Shot 2019-06-11 at 13 29 25](https://user-images.githubusercontent.com/9752966/59268465-0376d280-8c4d-11e9-80a4-db5c87b4cab7.png)

In the console log you see 'Invalid date'

[2019-06-11 12:25] konarshankar07 commented on #23157
@duckchip Thanks for the screenshot. Yes, I'm also getting the same and I'll try to fix this and update you asap
![image](https://user-images.githubusercontent.com/39480008/59271756-06d08500-8c72-11e9-94ba-a4e46082d653.png)

[2019-06-11 12:54] Clud7 commented on #6073
Any update about that issue?

[2019-06-11 13:07] istoutjesdijk commented on #21646
I have the same problem, we have linked Magento to another system managing our stock and shipments. When an order is placed the stock is changed by this system from 1 to 0 and when stock is 0 it's not possible to create a shipment in Magento 2.3. Is there a workaround for this issue?

[2019-06-11 13:15] cavalier79 commented on #22964
Hello, there's any news about this issue? I'm facing the same problem when importing products

[2019-06-11 13:21] vicobohdan opened #23208 "bad code refactoring causes loading section data after each request"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. After second and more page request

### Expected result (*)

1. not load section data

### Actual result (*)

1. load section data

### Solution
change in file magento/module-checkout/view/frontend/web/js/view/minicart.js:106
from
cartData().store_id !== window.checkout.storeId
to
cartData().storeId !== window.checkout.storeId

[2019-06-11 13:52] jkeller92 commented on #22407
The main problem is not the cache lifetime - the cached content is the problem:
In some cases a menu with active elements is cached just because of 'deprecated' block functions.

Have a look at:
[code]
This function provides item's css classes.
Just remove these lines with the help of a plugin or something like that. There is no need to add these markup classes via php since it's done via js.

[co

[2019-06-11 14:15] magento-engcom-team commented on #23192
:white_check_mark: Confirmed by @EternalBobby
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17389`, `MC-17390` were created

**Issue Available**: @EternalBobby, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-11 14:30] magento-engcom-team commented on #23182
:white_check_mark: Confirmed by @EternalBobby
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17391`, `MC-17392` were created

**Issue Available**: @EternalBobby, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-11 14:52] chris-pook opened #23210 "Back in stock alert price customer group discrepancy"
When a batch of back in stock alert emails is sent the pricing displayed in the emails does not take in to account the individual customer group of the customer it is sent to. It seems the first alert sent out dictates the customer group that the rest of the alerts use. If customer group prices are set on the products this means some customers may see pricing in the email that is not available to

[2019-06-11 14:54] chris-pook commented on #23210
@magento give me 2.3.1 instance

[2019-06-11 14:54] magento-engcom-team commented on #23210
Hi @chris-pook. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-11 14:55] magento-engcom-team commented on #23210
Hi @chris-pook, here is your [Magento instance](https://i-23210-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23210-2-3-1.instances.magento-community.engineering/admin](https://i-23210-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-11 15:02] chris-pook commented on #23210
I don't think the provided instance above is able to send email so I won't be able to confirm reproduction there, however I have done so locally.

[2019-06-11 15:04] Rickertje commented on #11740
@magento-engcom-team Are you sure this has found its way into 231 ?

[2019-06-11 15:08] okorshenko commented on #11740
Hi @Rickertje
Could you please clarify your question? Are you still able to reproduce the issue on latest 2.3-develop?

[2019-06-11 15:11] Rickertje commented on #11740
I'm responding to this comment
![afbeelding](https://user-images.githubusercontent.com/27420995/59284028-d8e84200-8c6b-11e9-9704-9f66b0b769eb.png)
I was expecting to see this fixed in 231 but Im still experiecing the orginal problem in 231.

[2019-06-11 15:14] okorshenko commented on #11740
Sure, we will double check this issue.

[2019-06-11 15:27] navarr opened #23211 "Zero Subtotal Checkout erroneously says the default value for "Automatically Invoice All Items" is "Yes""
### Preconditions

1. Magento 2.3.1 with some products
2. Cart Price rule that discounts products and shipping to 100% (use coupon code "FREE" to make life easier)
3. In Configuration for "Zero Subtotal Checkout", uncheck "Use system value" for "New Order Status" and set to "Processing"
4. NOTE but do not change "Automatically Invoice All Items."  It should be readonly and should say "Yes".  "Use

[2019-06-11 15:27] navarr commented on #23211
@magento give me 2.3-develop instance

[2019-06-11 15:27] magento-engcom-team commented on #23211
Hi @navarr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-11 15:28] magento-engcom-team commented on #23211
Hi @navarr, here is your [Magento instance](https://i-23211-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23211-2-3-develop.instances.magento-community.engineering/admin](https://i-23211-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-11 15:33] navarr commented on #23211
I successfully recreated the issue on the Vanilla instance.

[2019-06-11 15:41] brampta commented on #22964
got a fix for now. in file vendor/magento/module-catalog/Controller/Adminhtml/Product/Initialization/Helper.php, function convertSpecialFromDateStringToObject().

Just comment out the line that says
`$productData['special_from_date'] = $this->getDateTimeFilter()->filter($productData['special_from_date']);`

and then it works.

`private function convertSpecialFromDateStringToObject($productData)

[2019-06-11 16:34] mrlerch commented on #23186
More info. In the system log I see this:
main.ERROR: Invalid template file: 'Magento_Paypal::payment/mark.phtml' in module: '' block's name: 'magento\framework\view\element\template_0' [] []

[2019-06-11 19:07] DhanyaSoft opened #23212 "Need help with Ship API Call"
Hi,

I am trying to do the partial shipping in Magento2.
The Ship API call marks all the line items shipped, instead of the one I am sending in the request.
Please see my request below, I am shipping only this SKU 1014.
But it has shipped the entire order.
Can someone help me what I am doing wrong?

Magento version: 2.2.5

This is my request
https://mydomain.com/rest/V1/order/43043/ship/

Body
---

[2019-06-11 20:59] ron-jomashop commented on #23159
It seems like this commit fixed the issue

https://github.com/magento/magento2/commit/ec7015017b1e0c27c161fa62b1ead3a6367271e8

[2019-06-11 21:11] amitvishvakarma opened #23213 "Static content deploy showing percentage(%) two times in progress bar"
### Preconditions (*)

1. Magento version -> 2.2.x / 2.3.x

### Steps to reproduce (*)

1. Run static deploy command -> php bin/magento setup:static-content:deploy -f

### Expected result (*)

1. Only one percentage(%) sign must be shown in progress bar.

### Actual result (*)

1.See screenshot
 ![Screenshot](https://user-images.githubusercontent.com/25526499/59307152-7e76d200-8cbb-11e9-9dba-41204

[2019-06-11 21:15] magento-engcom-team commented on #21604
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21606 by @gwharton in 2.2-develop branch
Related commit(s):
 - [6e58603ea1a168743e4f4eb0dd053c20320c9cff](https://github.com/magento/magento2/commit/6e58603ea1a168743e4f4eb0dd053c20320c9cff)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-11 21:34] PedroKTFC opened #23215 "Text swatches blank"
### Preconditions (*)

1. Magento CE 2.3.1

### Steps to reproduce (*)

1. Migrate from 1.8.1 to 2.3 (and upgrade to 2.3.1 but this latter step is irrelevant)
2. For configurable products select text swatches

### Expected result (*)

1. Swatches should display text values such as Black, White or Large, Small

### Actual result (*)

1. Swatches show the word "null" everywhere except in layered nav

[2019-06-11 23:50] Ctucker9233 commented on #23171
@orlangur software is designed with an end user in mind, is it not? If it does not work as the end user expects, it can be said that the software is poorly designed. The quality is determined by the end user not necessarily the developer. Perhaps this subject would be better suited for the improvements forum instead of simply being closed and ignored. This is a huge stumbling block for our  compan

[2019-06-12 01:16] inkobject commented on #22094
Attempting to add a new product throws this error on 2.3.1. Already on MySQL search. Seriously this is bad.
If this is closed, where is the solution?

[2019-06-12 04:41] himanitayal commented on #13451
![Screenshot from 2019-06-12 10-07-33](https://user-images.githubusercontent.com/24873505/59323913-55296680-8cfa-11e9-99b8-d6638ce0969d.png)
This error occurs while editing product, Please help!!.

[2019-06-12 04:42] ghost opened #23217 "While editing Product Knockout Error: Unable to process binding "if: function(){return label }""
![Screenshot from 2019-06-12 10-07-33](https://user-images.githubusercontent.com/24873505/59323942-82761480-8cfa-11e9-9398-c4ab408acd12.png)
Please check attached Screenshot...
Please provide us the solution.

[2019-06-12 04:55] ajijshekh123 commented on #23204
@Ant5rev  fell free to reopen this issue when you will be ready to provide more details and we will review it and confirm it.

[2019-06-12 04:55] #23204 closed, assigned to nobody

[2019-06-12 04:59] visahardik commented on #21663
I found temporary solution adding simple condition in `Magento\ConfigurableProduct\Helper\Product\Options\Loader::load(ProductInterface $product)` after line no : 51

[code]

[2019-06-12 05:14] ajijshekh123 commented on #23196
Give me @magento give me 2.3-develop instance.

[2019-06-12 05:14] magento-engcom-team commented on #23196
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-12 05:15] magento-engcom-team commented on #23196
Hi @ajijshekh123, here is your [Magento instance](https://i-23196-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23196-2-3-develop.instances.magento-community.engineering/admin](https://i-23196-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-12 05:32] ArjenMiedema commented on #22266
I also ran into this issue and the reason why this happens is that in https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/ProductAlert/Controller/Add/Stock.php, the interface `use Magento\Framework\App\Action\HttpPostActionInterface;` is implemented. In prior versions, this change didn't exist yet.

When logging in, the POST action is overwritten by submitting the login form. The redir

[2019-06-12 05:53] ajijshekh123 commented on #23196
Give me @magento give me 2.2-develop instance

[2019-06-12 05:53] magento-engcom-team commented on #23196
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-12 05:54] magento-engcom-team commented on #23196
Hi @ajijshekh123, here is your [Magento instance](https://i-23196-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23196-2-2-develop.instances.magento-community.engineering/admin](https://i-23196-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-12 06:26] ajijshekh123 commented on #23196
In the Configuration section, Config > Inventory > Stock Options > Display Out of Stock Products to YES, Out of Stock Product options is not visible on the Product details page.

[2019-06-12 06:27] magento-engcom-team commented on #23196
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17432`, `MC-17433` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-12 06:45] Rudoslav commented on #5906
_Form_ component in admin is still painful when trying to create a form **without data provider** - generic form.

[2019-06-12 06:57] huyphan261 commented on #23169
I tried but it's not working

[2019-06-12 07:13] krishprakash commented on #23196
Hi @flamboy85,
Thank you for report.
This issue is duplicate to #16069

[2019-06-12 07:13] #23196 closed, assigned to nobody

[2019-06-12 07:25] akafitz commented on #12330
A workaround for the bug is to add a bundle option and selection entry manually and save the bundle product, then delete the option manually or via $option->delete(); and finally import via file the desired options and selections for the bundle.

[2019-06-12 07:52] magento-engcom-team commented on #23211
:white_check_mark: Confirmed by @EternalBobby
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17435`, `MC-17436` were created

**Issue Available**: @EternalBobby, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-12 08:07] arjunrai1t opened #23220 "Unable to change theme in magento 2.31"
I am not able to override magento theme in admin ver 2.3.1 .its always set to no theme option please give me solution

[2019-06-12 08:32] stkrelax opened #23222 "setup:upgrade should return failure when app:config:import failed"
### Preconditions (*)
Magento 2.3.1 CE

1. Setup app:config:dump is used
2. No Config Changes for this testcase because easy to reproduce

### Steps to reproduce (*)
1. Add an Exception to Magento\Deploy\Console\Command\App\ConfigImport\Processor
after Line 114
[code]

2. run bin/magento setup:upgrade

### Expected result (*)
1. Cli Command returns \Magento\Framework\Console\Cli::RETURN_FAILURE
Im

[2019-06-12 08:38] sims158 opened #23223 "advanced pricing displays price correct in product page but not in product archive"
Hi, we have a site that is displaying the prices incorrectly. In the product page, it is correct, but not in product archive. The issues is related to advanced pricing, for some reason magento is adding the tax (20%) twice in product archive view, but not in product page view.

Example: Product page price displays as follows.
£13.73
Ex VAT £11.43
Buy 5 for £13.19 (ex VAT £10.99)  each and save 4%

[2019-06-12 09:00] manezaf8 commented on #10878
what about magento enterprise 1.14 ? on  web/lib/Varien/Io/File.php line 535?

What could be causing it ?
 `Warning: is_readable() expects parameter 1 to be a valid path, string given  in`

[2019-06-12 09:04] Tanaka-Suzuki opened #23224 "Should insert alias patch name to patch_list table"
### Description (*)

After apply patch we should insert alias patch name to table patch_list. Because on the next time system run upgrade command it only filter patch name which get by class name. So on some specific case, some patch will be applied two times => it will throw error.

### Expected behavior (*)

FIle: vendor/magento/framework/Setup/Patch/PatchHistory.php
function: fixPatch
expected:

[2019-06-12 09:54] EternalBobby commented on #23223
Hello @sims158 ! Thank you for your report . Please provide steps to reproduce this issue and update your post .

[2019-06-12 10:04] EternalBobby commented on #23220
Hello @ArjunItaeld ! The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-12 10:04] #23220 closed, assigned to nobody

[2019-06-12 10:13] mmularski commented on #21964
I'm also facing this issue. Any plans for fixing it?

[2019-06-12 10:30] sims158 commented on #23223
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-06-12 10:31] magento-engcom-team commented on #23223
Hi @sims158. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-12 10:31] magento-engcom-team commented on #23223
Hi @sims158, here is your [Magento instance](https://i-23223-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23223-2-3-develop.instances.magento-community.engineering/admin](https://i-23223-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-12 10:35] jayankaghosh commented on #23211
@magento-engcom-team give me 2.3.1 instance

[2019-06-12 10:35] magento-engcom-team commented on #23211
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-12 10:36] magento-engcom-team commented on #23211
Hi @jayankaghosh, here is your [Magento instance](https://i-23211-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23211-2-3-1.instances.magento-community.engineering/admin](https://i-23211-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-12 10:39] EternalBobby commented on #23217
Hello @himanitayal ! The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-12 10:39] #23217 closed, assigned to nobody

[2019-06-12 10:52] amjadm61 commented on #22950
I'm working on it.

[2019-06-12 11:47] EternalBobby commented on #23208
Hello @vicobohdan !Thank you for your report, but I can`t reproduce your issue. Please provide more steps to reproduce and update your post .

[2019-06-12 11:59] EternalBobby commented on #23206
Hello @netzwelt-nishu !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-12 11:59] #23206 closed, assigned to nobody

[2019-06-12 12:19] magento-engcom-team commented on #23194
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17437`, `MC-17438` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-12 12:22] nileshti opened #23227 "Temando module issue with Split DB enabled"
### Preconditions (*)

1. Magento Commerce 2.3.1
2. Split DB enabled and configured

### Steps to reproduce (*)

1. While doing Magento Upgrade from Commerce 2.3.0 to Commerce 2.3.1
2. Composer update command executed successfully
3. While executing php bin/magento setup:upgrade command below error getting:

### Expected result (*)

1. added screenshot
2.  Temando Module uses connection name "chec

[2019-06-12 12:25] cliveontoast opened #23229 "Customer does not receive refund for a second order with the same money value"
### Preconditions (*)

2.2.5

### Steps to reproduce (*)

1. A customer creates two identical orders, same credit card (different names on the credit card), for the same line items, for the same price. Created on the same day, within minutes of each other.
2. The stock is not available so a refund is made.
3. The refund is processed, showing a total of four transactions, two refunds with two paren

[2019-06-12 12:38] sims158 commented on #23223
Can't replicate it, PLEASE HELP

[2019-06-12 12:42] #22970 closed, assigned to nobody

[2019-06-12 12:43] himanshu-tech commented on #22970
My bad. I have used translation function in one of the options value.

[2019-06-12 12:48] rammohan-krish commented on #22963
The description is not clear to reproduce the issue, closing the issue for now.

[2019-06-12 12:48] #22963 closed, assigned to rammohan-krish

[2019-06-12 12:49] JaromirMullerQuanti commented on #5836
I have same issue and found that magento cannot run separated process to execute index job. I had to switch settings to Use Separate Process = No and then scheduled indexes executes fine.

[2019-06-12 13:11] amjadm61 commented on #10518
@magento give me test instance

[2019-06-12 13:14] amjadm61 commented on #10518
@magento-engcom-team give me 2.3-develop instance

[2019-06-12 13:14] magento-engcom-team commented on #10518
Hi @amjadm61. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-12 13:15] magento-engcom-team commented on #10518
Hi @amjadm61, here is your [Magento instance](https://i-10518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-10518-2-3-develop.instances.magento-community.engineering/admin](https://i-10518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-12 13:37] OleksiiBulba opened #23230 "Sticky header floating under top when there is no buttons in the toolbar"
### Preconditions (*)
1. Install Magento 2.3.1
2. Create module Vendor_Module

### Steps to reproduce (*)
1. Create listing grid without this node:
[code]
2. Set this node value:
[code]
3. Open admin grid page and scroll down for toolbar sticking to top

### Expected result (*)
1. Toolbar sticks to top:
![Magento_Issue_Sticky_Header_Expected](https://user-images.githubusercontent.com/41155673/5935

[2019-06-12 13:48] OleksiiBulba commented on #23230
This issue related to #8455

[2019-06-12 14:36] tylers-username opened #23232 "Cannot set config for admin/url/use_custom using Magento CLI"
### Preconditions (*)

1. Magento 2.2.4
2. OS: Debian (Docker PHP)

### Steps to reproduce (*)

1.Set the custom admin URL: `bin/magento config:set admin/url/custom "https://admin.example.com/"`
2. Enable the new custom URL path: `bin/magento config:set admin/url/use_custom 1`

### Expected result (*)

1. Given that an admin URL has been defined, I expected the `admin/url/use_custom` to pass valid

[2019-06-12 14:37] tylerssn commented on #23232
@magento give me 2.2.4

[2019-06-12 14:37] tylerssn commented on #23232
@magento give me 2.2.4 instance

[2019-06-12 14:38] magento-engcom-team commented on #23232
Hi @tylerssn. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2019-06-12 14:38] magento-engcom-team commented on #23232
Hi @tylerssn, here is your [Magento instance](https://i-23232-2-2-4.instances.magento-community.engineering).
Admin access: [https://i-23232-2-2-4.instances.magento-community.engineering/admin](https://i-23232-2-2-4.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-12 14:41] tylerssn commented on #23232
Can only confirm locally on a fresh 2.2.4 instance since I do not have shell access to the staging environment.

[2019-06-12 14:43] ioweb-gr commented on #22964
For me it didn't really work for either so  I guess the above workaround is only specific for your case unfortunately :(

[2019-06-12 15:09] baljinder981 commented on #17164
Any clue on when we can expect the extension to be compatible with Magento 2.3

[2019-06-12 16:12] eduard13 opened #23233 "Alert widget doesn't trigger always method on showing the message"
### Preconditions (*)
1. Magento 2.3-develop
2.

### Steps to reproduce (*)
1. Create a new `alert` widget on frontend. The following simple code can be used:
[code]

2. Click **OK** button

### Expected result (*)

1. You should be seeing `always triggering` text logged on opening and right after clicking the **OK** button

### Actual result (*)

1. The `always triggering` text is logged twice ri

[2019-06-12 16:20] chrisputnam9 commented on #7557
Definitely still broken in 2.2.8 - can this be re-opened @sidolov ?

[2019-06-12 16:32] dverkade commented on #19293
No, this is incorrect. When the product is created with visibility invisible the URL key is not created. It should be deleted when a product visibility is changed. Magento already approved / reviewed this requests, so no need to change the behaviour of this PR.

[2019-06-12 16:45] duffner commented on #12914
@magento-engcom-team, Do we have any updates here?

[2019-06-12 17:00] magento-engcom-team commented on #23138
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#23140 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [51e11c12bc8a9213d9e88af58a497b65116e3fcf](https://github.com/magento/magento2/commit/51e11c12bc8a9213d9e88af58a497b65116e3fcf)
 - [ef12f0006900d30ac48fb79ffeadaac3cb70b270](https://github.com/magento/magento2/commit/ef12f0006900d30ac48fb79ffe

[2019-06-12 17:00] #23138 closed, assigned to atwixfirster

[2019-06-12 17:00] magento-engcom-team commented on #22484
Hi @cdiacon. Thank you for your report.
The issue has been fixed in magento/magento2#22637 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [4a3fb1f692880a4926c2651f6c898df56ad96ae9](https://github.com/magento/magento2/commit/4a3fb1f692880a4926c2651f6c898df56ad96ae9)
 - [690ca8ea5a0ced6d5d4751f198122768fc24f925](https://github.com/magento/magento2/commit/690ca8ea5a0ced6d5d4751f198122768

[2019-06-12 17:02] sidolov commented on #7557
Hi @chrisputnam9 , yes, we should reopen it if the issue still reproducing

[2019-06-12 18:25] magento-engcom-team commented on #23233
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17454`, `MC-17455` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-12 19:06] sunilit42 commented on #9011
@le0n4eg not working for me

[2019-06-12 19:09] sergiy-v commented on #22934
@AlexWorking please check related [comment](https://github.com/magento/magento2/pull/23129#issuecomment-500464060).
Thank you.

[2019-06-12 20:48] cyberbasement commented on #23012
I have this exact same issue on 2.3.1 - Did you ever find a solution / the cause?

[2019-06-13 02:23] #22004 closed, assigned to shikhamis11

[2019-06-13 06:32] sunilit42 commented on #20952
@tratta  i am facing same issue, in browser not showing source map, can you please help us on that.

[2019-06-13 06:43] alpeshpatelcool commented on #10878
can you please check this below?

Delete Manual var/cache folder, and apply php bin/magento setup:di:compile command

 @maneza f8

[2019-06-13 06:57] manezaf8 commented on #10878
Well as I mentioned I am asking in which regard to Magento enterprise 1.14 and deleting cache doesn't work on my situation.

[2019-06-13 06:58] rammohan-krish commented on #23229
Hello @cliveontoast, understood your concern but it seems like a problem with the  Bank operator. please check with the Bank operators.
Thanks.

[2019-06-13 07:04] vicobohdan commented on #23208
But I can reproduce on magento 2.3.1 "Vanilla", load section data again and again after each request.
in file magento/module-checkout/view/frontend/web/js/view/minicart.js:106
is undefined store_id variable used in if condition, causes that section data are loaded for each req., that is really bad, and if section data not changed it shouldn't load again
Pls reopen.

![Screenshot from 2019-06-13 08

[2019-06-13 07:44] DavidSim80 commented on #23012
Hi

No the person looking as you can see said they could not replicate it. But we can replicate it on a vanilla version. I don't think they followed the steps correctly. It only happens when you capture at the time of the order. The workaround we have at the moment is the authorise and when you then raise the invoice against the shipment it captures the correct amount. It does not matter what gate

[2019-06-13 08:00] huzanf commented on #23096
Hi @ajijshekh123
Looking forward for your support.

[2019-06-13 08:04] ValeSauer commented on #22094
I had the same issue when updating lots of products simultaneously via API. Disabling Index or switching from "Update on save" to "Update on schedule" solved the issue completely.

[2019-06-13 08:11] alpeshpatelcool commented on #10878
then please check php version. It is problem of php version

[2019-06-13 08:18] manezaf8 commented on #10878
ooh okay can you elaborate more on that?

[2019-06-13 08:24] stkrelax commented on #12535
This Issue ist Still existing in 2.3.1
The ProductRepository is unable to handle Sku Changes.
How can this set to be fixed ???
Still there is no Fallback for sku changed or sku not found so try load existingProduct by id when id isset....
ProductRepository function save
[code]

[2019-06-13 09:01] AlexWorking commented on #23215
Hi @PedroKTFC. Problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository. Please reopen Your issue there. Thank You.

[2019-06-13 09:01] #23215 closed, assigned to nobody

[2019-06-13 09:01] duckchip commented on #21949
I was able to reproduce this issue on Magento 2.2.5

[2019-06-13 09:03] lbajsarowicz commented on #23180
Even without ElasticSearch (just MySQL indexers) issue occurs after price change.

[2019-06-13 09:04] duckchip commented on #21949
@qsolutions-pl This is the fix.
https://github.com/magento/magento2/commit/4cb997aea6f7c4cf38a25d20ea0ec4dbd6b7f5ad#diff-cb7c552d4594fb7e627f6297269ae805

[2019-06-13 09:05] AlexWorking commented on #23212
Hello @DhanyaSoft. The GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. Thank You.

[2019-06-13 09:05] #23212 closed, assigned to nobody

[2019-06-13 10:28] Rickertje commented on #11740
Hi @stoleksiy . I can reproduce this but only on my own 231 install which was upgraded from 227 recently. So its not a fresh install. Could be that some custome code is interfering. I dont know and I'm not in the position to thorougly investigate this right now. For now you can close the issue again. Thank you very much for taking the time to check this for me. Regards. Rick

[2019-06-13 10:40] sunilit42 commented on #23232
@magento give me 2.3.1 instance

[2019-06-13 10:40] magento-engcom-team commented on #23232
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-13 10:40] magento-engcom-team commented on #23232
Hi @sunilit42, here is your [Magento instance](https://i-23232-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23232-2-3-1.instances.magento-community.engineering/admin](https://i-23232-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-13 10:42] tratta commented on #20952
@sunilit42 I made some changes on theme.js

[2019-06-13 10:44] sunilit42 commented on #23233
@magento give me instance 2.26

[2019-06-13 10:44] sunilit42 commented on #23233
@magento give me instance 2.2.6

[2019-06-13 11:00] HugoGerritsen commented on #21299
I am experiencing exactly the same with the 404 error that shows randomly after a while. I did the same as sprankhub, but am also experiencing 429 errors on my robots and sitemap. Could this also be related to this issue? Hope this is resolved soon.

[2019-06-13 11:12] amol2jcommerce commented on #23233
@magento give me 2.3-develop instance

[2019-06-13 11:12] magento-engcom-team commented on #23233
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-13 11:12] magento-engcom-team commented on #23233
Hi @amol2jcommerce, here is your [Magento instance](https://i-23233-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23233-2-3-develop.instances.magento-community.engineering/admin](https://i-23233-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-13 11:51] seansan commented on #527
@mbrinton01

** Mark con you confirm this functionality is in 2.3.1?

** Also what is the result from below? This would be very good to have

** Another function we have seen before is to add a "redirect" variable. This way the link "http://example.com/index.php/checkout/cart/CouponPost/coupon_code/couponcode" would like "http://example.com/index.php/checkout/cart/CouponPost/coupon_code/couponcode

[2019-06-13 11:59] renard123 opened #23238 "Apply coupon button act like remove coupon while create new order from admin"
Apply button act like remove button while create new order from admin

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Go to Admin -> Create New Order
3. Select customer and add product
4. Apply valid coupon
5. Now click apply button again

### Expected result (*)
Coupon should not be removed.

### Actual result (*)
![apply button issue](https://user-images.githubusercontent.com/5

[2019-06-13 12:02] krishprakash commented on #23238
@magento give me 2.3-develop instance

[2019-06-13 12:02] magento-engcom-team commented on #23238
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-13 12:02] magento-engcom-team commented on #23238
Hi @krishprakash, here is your [Magento instance](https://i-23238-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23238-2-3-develop.instances.magento-community.engineering/admin](https://i-23238-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-13 12:08] Parakoopa commented on #19597
We can confirm this issue with MySQL 5.6 and 5.7 using Magento Commerce 2.3.1. And even though this seems to be mostly related to tables created by core modules I agree with @davidalger that this is a Open Source bug that should be fixed since it's preventing us from doing zero downtime deployments.

[2019-06-13 12:10] krishprakash commented on #23238
@magento give me 2.2-develop instance

[2019-06-13 12:10] magento-engcom-team commented on #23238
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-13 12:10] magento-engcom-team commented on #23238
Hi @krishprakash, here is your [Magento instance](https://i-23238-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23238-2-2-develop.instances.magento-community.engineering/admin](https://i-23238-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-13 12:16] magento-engcom-team commented on #23181
:white_check_mark: Confirmed by @EternalBobby
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17465`, `MC-17466` were created

**Issue Available**: @EternalBobby, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-13 12:18] magento-engcom-team commented on #23238
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17467`, `MC-17468` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-13 12:21] EternalBobby commented on #23184
Hi @tomekjordan ! thank you for your report.  Please open issue related with MSI in [msi](https://github.com/magento-engcom/msi) repo to get answer for your question.

[2019-06-13 12:21] #23184 closed, assigned to nobody

[2019-06-13 13:24] okorshenko commented on #11740
Closing the issue based on comment above

[2019-06-13 13:24] #11740 closed, assigned to soleksii

[2019-06-13 13:36] Tr3Devil commented on #1437
Hello, it all started when I decided to change the user from private to retailer. Then found the following problem after modifying the database "Customer_eav_attribute" changing in the column "input filter" the wording "datatime" in "data" as suggested by a friend.
Before the change I got an error in the string that I reported in the attachment
![prob utente ingrosso](https://user-images.githubuse

[2019-06-13 14:03] vovayatsyuk opened #23242 "Extremely slow performance of "Extension Manager" when custom repo added to composer.json"
### Summary

When some repo is added to the repositories section of composer.json file "Extension Manager" page start working extremely slow.

(I don't recommend to test it - magento has near 200 composer packages. An example below will trigger Magento to call `composer show PACKAGE --available` **for every installed module**.)

### Examples

1. Open `composer.json` file in magento root.
2. Add or

[2019-06-13 14:21] mbrinton01 commented on #527
Adding @tkacheva as this relates to promotions

[2019-06-13 14:36] visitdigital commented on #14667
This fix cannot come quick enough, it's impacting Organic Search Engine and Conversion rates of any Magento 2 site that has this functionality. You can see it manifesting itself here, all backend metrics are incredibly quick but the front end load time is incredibly slow.
![image](https://user-images.githubusercontent.com/1809171/59441649-d2cf9e00-8df0-11e9-9291-ce6248ef9706.png)

[2019-06-13 15:23] cliveontoast commented on #23229
Thanks for the follow up @rammohan-krish
Me not being a customer of magento2 just the humble consumer, I can't reproduce the issue. I also understand how it is hard for integration testing with banks and payment gateways. I've let your customer know about this issue, and hopefully they can provide some logs. Otherwise scratch it up to a not your problem.

[2019-06-13 15:47] wclrz commented on #21481
Up

[2019-06-13 16:15] suilillo commented on #14667
I'm using https://github.com/xumulus/magento2-fast-product-images (with some changes) as a workarond and the psychological perception is better.

[2019-06-13 16:26] Axel29 opened #23245 "Can't create product image attribute programmatically"
### Preconditions

1. Magento 2.3.0
2. PHP 7.2
3. MySQL 5.7

### Steps to reproduce

1. Install Magento 2.3.0
2. Create custom product attribute programmatically and add it to "Images" group
[code]
3. Run `php bin/magento setup:upgrade` command in terminal

### Expected result

1. The `setup:upgrade` command should finish correctly
2. The attribute should be created

### Actual result

1. A SQL in

[2019-06-13 16:32] Axel29 commented on #23245
Hi ,

It would be hard to use this vanilla Magento instance since it requires adding custom code.

[2019-06-13 17:24] konarshankar07 commented on #23230
Hello @OleksiiBulba
I've fixed this issue and updates are on https://github.com/magento/magento2/pull/23247. Please test and let me know if you find any problem.

Thanks

[2019-06-13 17:46] oefterdal opened #23249 "Stock Sources Import - Maximum error count has been reached or system error is occurred!"
### Preconditions (*)

Running Magento 2.3.1, no modules installed.
PHP 7.2
MySQL 5.7

### Steps to reproduce (*)

System -> Import -> Stock Sources
Export the sample data and adjust SKU and adjust the QTY

Content of csv:
source_code,sku,status,quantity
default,20140603,1,12

![Screenshot 2019-06-13 at 19 45 31](https://user-images.githubusercontent.com/1254741/59455188-f3f5b600-8e13-11e9-8d8e-60

[2019-06-13 17:47] oefterdal commented on #23249
@magento give me 2.3-develop instance

[2019-06-13 17:47] magento-engcom-team commented on #23249
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-13 17:48] magento-engcom-team commented on #23249
Hi @oefterdal, here is your [Magento instance](https://i-23249-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23249-2-3-develop.instances.magento-community.engineering/admin](https://i-23249-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-13 17:51] oefterdal commented on #23249
@magento give me 2.3.1-develop instance

[2019-06-13 17:51] magento-engcom-team commented on #23249
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-06-13 18:01] oefterdal commented on #23249
@magento-engcom-team Same error on vanilla install

[2019-06-13 18:09] oefterdal commented on #23249
@magento give me 2.3.1-develop instance

[2019-06-13 18:09] magento-engcom-team commented on #23249
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-06-13 18:17] AndyJAllen commented on #22960
No one knows anything about this?

[2019-06-13 18:20] magento-engcom-team commented on #23053
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#23121 by @Wirson in 2.2-develop branch
Related commit(s):
 - [8476c1ff550e0b0ff9213a11a84360559230f749](https://github.com/magento/magento2/commit/8476c1ff550e0b0ff9213a11a84360559230f749)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-13 19:19] oefterdal commented on #23249
This module was making the problem firegento/fastsimpleimport

[2019-06-13 19:19] #23249 closed, assigned to nobody

[2019-06-13 21:06] johncarlson21 commented on #21879
@Surabhi-Cedcoss has anyone gotten to look at this yet?

[2019-06-13 22:37] Ctucker9233 commented on #23054
@hostep I've noticed in my own environment that any jobs that are running and never complete are marked as missed. A method that clears missed jobs after a determined lifetime would also solve this issue.

[2019-06-14 01:08] scottsb opened #23251 "DI compilation crashes when composer classmap includes generated code"
### Preconditions (*)
Have the following in your project `composer.json` as recommended since #16435 was merged:

        "psr-0": {
            "": [
                "app/code/",
                "generated/code/"
            ]
        },

Reproduced on Magento 2.3.1, but if those lines are in your `composer.json` file the issue will apply to many older versions as well since the relevant code has

[2019-06-14 02:11] lracicot commented on #19604
Any updates on this? PHP 7.2 is only actively supported for the next 6 months and PHP 7.4 is already in alpha so there is plenty of material to work with already.

[2019-06-14 04:42] rammohan-krish commented on #23012
@DavidSim80 okay understood. let me recheck it again.

[2019-06-14 04:53] rammohan-krish commented on #23229
@cliveontoast Noted, I will surely investigate further on this but for now, I am closing the issue.

Also if you found and specific cause/steps to reproduce for this issue in the future. please comment here so that I will reopen and confirm the issue.

Thanks.

[2019-06-14 04:53] #23229 closed, assigned to rammohan-krish

[2019-06-14 06:21] gtrocks commented on #21666
i am also getting this issue on magento 2.3.1  , is their any fix ?

[2019-06-14 06:45] faizanbegsm opened #23254 "Customer address in admin order details like company name in not work website wise"
### Preconditions (*)
1. Magento version 2.2.7
1. On Multiwebsite
1. In Admin view order details customer address information Billing and Shipping. Company name not showing website wise it only show when Show Company setting under customer configuration is set as optional in base website whose id is 1. If you go to different scope in setting and change to no for second website there is no changes

[2019-06-14 06:51] HugoGerritsen commented on #21299
I changed the di.xml, but it is still occuring. Can you arrange a fix for me?

[2019-06-14 07:12] sprankhub commented on #21299
@HugoGerritsen are you talking about 404 errors or 429 errors (probably a different issue)? Did you patch both `di.xml` files and clear the cache?

[2019-06-14 07:31] engcom-qa-Charlie commented on #23245
Hello @Axel29 ! Thank you for your report .The problem is that PHP 7.7 is not supported by Magento 2.3 but i still can reproduce your issue using PHP 7.2 .

[2019-06-14 07:31] wclrz commented on #23245
Sorry typo error, I meant PHP 7.2 :-)

[2019-06-14 07:31] Axel29 commented on #23245
Sorry typo error, I meant PHP 7.2 :-)

[2019-06-14 07:33] magento-engcom-team commented on #23245
:white_check_mark: Confirmed by @engcom-qa-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17495`, `MC-17496` were created

**Issue Available**: @engcom-qa-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-14 07:41] neha023 opened #23256 "Authorized.net configuration issue with M2.3.1, Got error Invalid credentials"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.1.30
3. MYSQL 5.6.44
4. CentOs 7

### Steps to reproduce (*)

1. Go to Admin->Store->Configution->Sales->Payment method
2. Enable Authorized.net after entering the API Login ID, Transaction key, Public Client key and Signature key.
3. Authorized.net Mode is Production, and Clean cache.
4. Add any item to cart, go to checkout.
5. Enter valid address

[2019-06-14 07:43] magento-engcom-team commented on #23254
:white_check_mark: Confirmed by @engcom-qa-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17497`, `MC-17498` were created

**Issue Available**: @engcom-qa-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-14 07:50] mirkorap opened #23257 "Category Wysiwyg Attribute disable when switching to Store View"
### Information of environment (*)
- Magento 2.3.0
- PHP 7.1
- MySQL 5.7

### Summary (*)
I added a wysiwyg as category eav attribute and all works correctly, but I want that the content of my wysiwyg is different for each store view. If I switch store view in category page, my wysiwyg field is disable, it turns enable only when I select "All Store Views".

### Steps to reproduce (*)

1. Install M

[2019-06-14 07:51] 29sunil commented on #19670
Hello Friends,

We are facing same problem. After flush Flush Catalog Images Cache .Product images are not showing at list and details page. our Magento version is 2.3.0.
Our PHP version is 7.1. So kindly suggest to us what is the reason.  If it is server issue then what is missing .

[2019-06-14 07:53] engcom-qa-Bravo commented on #23154
@yashjain87553, so could You please install a fresh Magento instance of the latest 2.3-develop version without any code ads, code changes, third party extensions, etc. and try to reproduce Your issue on it?

[2019-06-14 08:08] mirkorap commented on #23257
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-06-14 08:08] magento-engcom-team commented on #23257
Hi @mirkorap. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-14 08:09] magento-engcom-team commented on #23257
Hi @mirkorap, here is your [Magento instance](https://i-23257-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23257-2-3-develop.instances.magento-community.engineering/admin](https://i-23257-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-14 08:18] engcom-qa-Bravo commented on #23223
Hi @sims158. Please at least specify what exactly You mean under term of Product archive.

[2019-06-14 08:20] sims158 commented on #23223
Product list on the home page or in any category page

[2019-06-14 08:21] mirkorap commented on #23257
@magento to reproduce the issue I need to run the steps that I have just written above

[2019-06-14 08:48] mrtuvn opened #23258 "Admin does not receive order email confirmations"
### Preconditions (*)

1. Magento 2.3.1
2. Sales Email Order Enabled
3. Asynchronous sending Disabled

### Steps to reproduce (*)

1. Go to Configuration
2. Sales > Sales Emails > Order > Send Order Email Copy To
3. Put one email as admin's email here
4. Create new customer with work email
5. Place new order
### Expected result (*)

1. Customer receive email order confirm
3. Admin should receive e

[2019-06-14 08:56] mrtuvn commented on #23258
@magento give me 2.3 instance

[2019-06-14 09:04] yashjain87553 commented on #23154
ok ,

[2019-06-14 09:04] #23154 closed, assigned to engcom-Bravo

[2019-06-14 09:18] vignates opened #23259 "Unit testing fails in 2.3.1"
### Preconditions (*)
In Magento 2.3.1 opensource version, run unit tests with the fresh installation.

### Steps to reproduce (*)
In Magento 2.3.1 opensource version, run unit tests with the fresh installation.
`php bin/magento dev:tests:run unit`

### Expected result (*)
1. All tests should pass

### Actual result (*)
1.ERRORS!
Tests: 21787, Assertions: 60740, Errors: 3, Failures: 17, Skipped: 1

[2019-06-14 09:21] chohanbhagchand commented on #23257
Kindly assign me this issue

[2019-06-14 09:32] danielgoodwin97 opened #23260 "Importing custom LESS on compact deployment strategy"
### Preconditions (*)
1. Magento 2.3.x
2. A theme which extends blank and also has a child (blank -> parent -> child)

### Steps to reproduce (*)
1. Create new child theme of Magento/blank
2. Add a magento import rule for a custom less file inside `web/css/styles-l.less` & `web/css/styles-m.less` in your new theme
`//@magento_import 'source/_extend-child.less';`
3. Create new child theme of new pa

[2019-06-14 09:37] JamesAllwood opened #23261 "Configurable products showing zero 0 price after assigning to secondary website when indexers set to schedule"
When indexers are set to `Update by Schedule`, assigning a configurable product and associated simples to a secondary website, does not update the price indexes, and subsequently, the product displays a price of £0(zero) on the second website until a simple product is selected.

This is specific to the use of `Update by Schedule`. If indexers are set to `Update on Save`, the issue does not occur.

[2019-06-14 09:39] vjcspy commented on #22773
For anyone want to fix this issue.
The root cause is magento read the configurations files of queue and it try to resolve the parameter in consumer handler method.
- How to fix?
 add PHPDOC block for all consumer class in your custom module.
- How to find all consumer class?
 you can set break point debugger in this file or just wrap this method in try/catch block and print the class you need to f

[2019-06-14 09:53] mirkorap commented on #23257
@chohanbhagchand I can't assign issue to user

[2019-06-14 10:07] engcom-qa-Bravo commented on #23258
Hello @mrtuvn. Thanks for reporting. We've been not able to reproduce Your issue. Can You confirm You are able to reproduce it on a vanilla Magento instance of the latest 2.3-develop version?

[2019-06-14 10:09] 29sunil opened #23262 "Product'ss images cache not displayed /regenerated after Flush Catalog Images Caches"
### Preconditions (*)

1.Magento 2.3.0
2. Mysql 5.6.41
3. Php 7.1

### Steps to reproduce (*)

1. Go on Magento's Backed and click on: Flush Catalog Images Cache

### Expected result (*)

1.All product images will show at category list page and detail page

### Actual result (*)

1. The image of Catalog of product on frontend and backend are displayed correctly
1.No apache errors, php or exception

[2019-06-14 10:27] engcom-qa-Bravo commented on #23262
Hello @29sunil. Thanks for reporting. We don't clearly comprehend what is wrong with the Actual Result You are facing and where is the discrepancy with the Expected Result: "The image of Catalog of product on frontend and backend are displayed **correctly**". Do You mean **"not correctly"** or something like that?

[2019-06-14 10:36] 29sunil commented on #23262
Hello Team,
Thanks for support
The images of the product shown in the admin section and frontend. but after flush catalog images cache from Magento admin, images are not showing at frontend category page and product page.
To show these images we need to regenerate images using this command.
**php bin/magento catalog:image:resize**
Print screen: https://prnt.sc/o1rxac
                   https://prn

[2019-06-14 10:39] tuyennn commented on #9997
@mauromm The problem seem you translated the string
`"-order-header","-order-header",module,Magento_Sales`
This is the header id which should not be translated otherwise you will lose the callback

`$(this.getAreaId('header')).callback = 'setCustomerAfter';`

From
`vendor/magento/module-sales/view/adminhtml/web/order/create/scripts.js`

[2019-06-14 10:41] chohanbhagchand commented on #23257
Can you please tell who will assign the issue to me.

[2019-06-14 10:43] engcom-qa-Charlie commented on #23259
Hello @vignates !
Thank you for your report . I can`t reproduce this issue on Magento 2.3

[2019-06-14 10:43] #23259 closed, assigned to engcom-Charlie

[2019-06-14 11:12] magento-engcom-team commented on #23251
:white_check_mark: Confirmed by @engcom-qa-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17500`, `MC-17501` were created

**Issue Available**: @engcom-qa-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-14 11:20] engcom-qa-Bravo commented on #23262
@29sunil, please watch the attached video. Have we done everything as You meant?
![imagecache](https://user-images.githubusercontent.com/51680745/59505892-6d8eb200-8eaf-11e9-99dd-0b0b9bd14f1a.gif)
At the Product detail page images are also shown.

[2019-06-14 11:31] mrtuvn commented on #23258
i'm using 2.3.1 vanilla. Not test with 2.3-develop

[2019-06-14 11:33] 29sunil commented on #23262
Hello Team,
Thanks for reply
Please check below video and print screen. Please check the website now. Please check category page and details page. Now we need to use this command to generate images.
**php bin/magento catalog:image:resize**
https://www.sofasupply.nl/woonkamer/tafels/bijzettafels.html

Flush Catalog Images Cache  Pregenerated product images files

Print screen: https://prnt.sc/o1spx

[2019-06-14 11:45] 29sunil commented on #23262
There are more than 3558 product images. Now  We have run this command to regenerate imges.
php bin/magento catalog:image:resize

[2019-06-14 12:21] engcom-qa-Bravo commented on #23223
@sims158 We still need the exact steps You've made in order to get those results described above.

[2019-06-14 12:33] engcom-qa-Bravo commented on #23262
Ok, @29sunil, but please point us out what we did incorrectly in our video, what we did not like You mean in Your steps to reproduce. As we understand You want to get the images being regenerated without **php bin/magento catalog:image:resize**. We didn't use that command and our images remain displayed, probably we miss something?

[2019-06-14 12:41] 29sunil commented on #23262
Hello Team,
Yes, I see your video. The same thing works at my local system. But we are facing these issues at the live website.  if there were any server related issues then let us know. What we suggest to the client regarding these issues.  how we solve it.
This is not the right solution ( php bin/magento catalog:image:resize ).
That is the reason we are posting our query here.
Hopefully, the Mag

[2019-06-14 12:43] engcom-qa-Charlie commented on #23261
Hello @JamesAllwood !
Thank you for your report but i can`t reproduce this issue on 2.2.3 and 2.3-develop .

[2019-06-14 13:01] osamaalqurna commented on #19865
/vendor/magento/module-configurable-product/Model/Product/VariationHandler.php
line 206

$postData['stock_data']['is_in_stock'] = 1;
For configurable you must pick configurable when add new product from the drop down.

[2019-06-14 13:05] anthonyhacart commented on #23262
@magento give me 2.3-develop instance

[2019-06-14 13:05] magento-engcom-team commented on #23262
Hi @anthonyhacart. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-14 13:06] magento-engcom-team commented on #23262
Hi @anthonyhacart, here is your [Magento instance](https://i-23262-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23262-2-3-develop.instances.magento-community.engineering/admin](https://i-23262-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-14 13:23] Jeroenll opened #23266 "Cannot filter admin user by ID"
### Preconditions (*)
1. Magento v2.3.1

### Steps to reproduce (*)
1. Filter admin user grid (System > All Users) by ID.

### Expected result (*)
1. Filtered user is shown.

### Actual result (*)
1. 500 error is logged

[code]

[2019-06-14 13:23] JeroenVanLeusden commented on #23266
@magento give me 2.3-develop instance

[2019-06-14 13:23] magento-engcom-team commented on #23266
Hi @JeroenVanLeusden. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-14 13:24] magento-engcom-team commented on #23266
Hi @JeroenVanLeusden, here is your [Magento instance](https://i-23266-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23266-2-3-develop.instances.magento-community.engineering/admin](https://i-23266-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-14 13:25] 29sunil commented on #23262
Hello Team,
Thanks for sharing instance
This instance working fine with image upload.  As i already say that image upload is working fine at our local system.
But we are facing the issue at client server.  What are the solutions to this problem?
What we say to the client regarding these issues.   its seems that issues are not related to magneto or any premium theme.  Because the same thing happens

[2019-06-14 13:27] rdudhara commented on #6817
Is there any fixes for 2.1.9

[2019-06-14 13:27] #23261 closed, assigned to engcom-Charlie

[2019-06-14 13:45] nishantjariwala opened #23268 "Issue with value set to 0 for int & smallint type fields."
Hi,
Here I've found an issue while saving blank field of database type int & small-int. It should be blank if I leave it blank but rather then it set that field value to 0.

### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create field with int/smallint & set it's default value to **NULL** in database.
2. Add above field in any form.
3. Now, Leave it blank and save the form.
4

[2019-06-14 13:57] engcom-qa-Bravo commented on #23266
Not reproduced on 2.2-develop.

[2019-06-14 13:57] magento-engcom-team commented on #23266
:white_check_mark: Confirmed by @engcom-qa-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17506` were created

**Issue Available**: @engcom-qa-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-14 14:07] tylerssn commented on #23232
To add to this, when I run each of the following commands at scope, they replace the previous commands value instead of creating a new entry:

[code]

[2019-06-14 14:30] reense commented on #22304
I can confirm that @larsroettig 's solution is working. Thanks !

[2019-06-14 14:34] engcom-qa-Bravo commented on #23258
@mrtuvn, we still have to ask You to test it on 2.3-develop instance. Because in case You are successfull in that we will be looking for what we are missing now for being able to reproduce the issue. And once we'll have found what it is we will confirm the issue. In case You also cannot reproduce the issue it will mean the issue has been fixed and we'll be supposed to close it.

[2019-06-14 14:41] mrtuvn commented on #23258
@magento give me 2.3-develop instance

[2019-06-14 14:41] magento-engcom-team commented on #23258
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-14 14:42] magento-engcom-team commented on #23258
Hi @mrtuvn, here is your [Magento instance](https://i-23258-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23258-2-3-develop.instances.magento-community.engineering/admin](https://i-23258-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-14 14:50] Gouravsingh17 commented on #19448
same here but my experience this is a permission issue.

[2019-06-14 14:59] graemelambert opened #23270 "Partially shipped and partially refunded order not moving to a "Complete" status"
### Preconditions (*)

1. Magento 2.2.8

### Steps to reproduce (*)

1. Place an order for more than 1 of the same item
2. Ship less than the quantity ordered
3. Generate a creditmemo and refund the quantity not shipped

### Expected result (*)

1. Order moves to `Complete` status as all items either shipped or refunded

### Actual result (*)

1. Order stays in `Processing`

I believe the cause of

[2019-06-14 15:00] graemelambert commented on #23270
@magento give me 2.2.8 instance

[2019-06-14 15:01] magento-engcom-team commented on #23270
Hi @graemelambert. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-06-14 15:01] magento-engcom-team commented on #23270
Hi @graemelambert, here is your [Magento instance](https://i-23270-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-23270-2-2-8.instances.magento-community.engineering/admin](https://i-23270-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-14 15:22] graemelambert commented on #23270
Steps replicated on vanilla Magento 2.2.8 instance

[2019-06-14 15:35] krishprakash commented on #23270
@magento give me 2.3-develop instance

[2019-06-14 15:35] magento-engcom-team commented on #23270
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-14 15:36] magento-engcom-team commented on #23270
Hi @krishprakash, here is your [Magento instance](https://i-23270-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23270-2-3-develop.instances.magento-community.engineering/admin](https://i-23270-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-14 15:55] jigar48 opened #23271 "Magento 2 Rest API Does not allow to use email with the Special character in "PUT" Method"
I have installed the Magento 2.3.1.

I have generated the admin token to use Rest API.

I am using this API - http://prntscr.com/o1wpju

**Preconditions (*)**

Customer account with the email like this : testing+3@gmail.com (should have special character)

Here is command to use that API
curl -X PUT "http://www.website.com/index.php/rest/V1/customers/testing+3@gmail.com/activate" -H "Content-Type:

[2019-06-14 15:56] jigar48 commented on #23271
yes

[2019-06-14 16:07] magento-engcom-team commented on #23270
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17509` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-14 17:41] navarr commented on #19846
I have found myself needing to get the items on a cart so I can get a specific CartItem, since the repository does not offer a way to do so.

I need this functionality to work in the admin panel, where carts are not "active"

[2019-06-14 18:00] hostep commented on #23054
@Ctucker9233: reading the code I'm not seeing how that can happen

A job is only set to `missed` when it tries to run a `pending` job, and if the scheduled time was missed by some offset: https://github.com/magento/magento2/blob/8e16abce80b13d4530cec4a1578850f7d153a39a/app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php#L294-L297

This [`_runJob` method](https://github.com/magento/magento2

[2019-06-14 18:14] mirkorap commented on #23257
@magento Another user had the same issue some months ago: #20154

[2019-06-14 18:31] hostep commented on #23208
Re-opening since @vicobohdan seems to have a point here.

I can reproduce this in 2.3.1 and the `2.3-develop` branch, but not in 2.3.0

This could be a possible regression introduced by [MAGETWO-96421 - Header Minicart, Shopping cart page and Checkout page show incorrect product name](https://github.com/magento/magento2/commit/c2500faf7d1e40d9dd5acada495f8a4a9d84dce8) I think.

@vicobohdan: do you

[2019-06-14 19:11] Ctucker9233 commented on #23054
@hostep I misscommunicated. I didn't mean that I am seeing running jobs switch their status to missed. What I meant was that in my environment at least a lot of missing jobs seem to accumulate and that can also cause the cron to crash or have a deadlock.

[2019-06-14 20:34] Adrift opened #23276 "Main navigation menu disappearing when enabling Varnish (Removing TTL attribute doesn't work)"
### Information of environment

- Magento CE 2.3.1
- PHP 7.1.26
- MySQL 5.7

### Summary

I'm developing a CE 2.3.1 site, which has a custom theme I've created enabled. I decided to enabled Varnish within the admin, set TTL to the default (86400) and then filled in the rest of config settings.

On the homepage, category page, product page there is no navigation. Strangely, the navigation does show

[2019-06-14 21:29] salehawal commented on #2534
i did face this issue and it was not solved until i cleared our server Varnish cache

[2019-06-15 04:49] HugoGerritsen commented on #21299
@sprankhub I’m talking about the 404 errors. I updates both di.xml files and the error still comes up.

[2019-06-15 07:23] shikhamis11 commented on #23257
hello @mirkorap , thanks for reporting the issue . It seems the issue is duplicate of #20154 & #13440 so closing this one now. you can check the progress in the above issues

[2019-06-15 07:23] #23257 closed, assigned to shikhamis11

[2019-06-15 07:37] magento-engcom-team commented on #23232
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17525`, `MC-17526` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-15 08:04] shikhamis11 commented on #22215
hi @Darkwolf81 & @teqt ,
while working on this issue I found that there is event available that is called during rest api and with this you can change the price of the product while add to cart in REST API
`<event name="sales_quote_item_set_product"> </event>`

[2019-06-15 08:05] #22215 closed, assigned to shikhamis11

[2019-06-15 09:54] vicobohdan commented on #23208
I tried to push branch with fix but I got error
fatal: unable to access 'https://github.com/magento/magento2.git/': The requested URL returned error: 403

so pls fix someone...

[2019-06-15 09:58] SoCix commented on #6932
I just updated to 2.3.1 and having same problem,

I have only PayPal as a payement solution.

any fix please.

[2019-06-15 10:03] SoCix commented on #6932
I just updated to 2.3.1 and having same problem,

I have only PayPal as a payement solution.

any fix please.

[2019-06-15 10:04] SoCix commented on #7038
I just updated to 2.3.1 and having same problem,

I have only PayPal as a payement solution.

any fix please.

[2019-06-15 11:04] BergMedia commented on #13451
Please search for an form field in your xml config files that not define the label.
In your situation look in the /vendor/magento/module-catalog/view/ui_component/ folder in the right xml file. And keep in Mind if there any thirdparty extension that overwrite the ui_compoment?

Example:
 ` <field name="excel_import">
            <argument name="data" xsi:type="array">
                <item name="c

[2019-06-15 11:20] mrtuvn commented on #23258
Tested today with 2.3-develop branch
Used mailhog with SMTP mageplaza in my local machine! Everythings set. Email admin set, Customer email set But only customer receive email in mailhog and i don't see email to admin
![Screenshot from 2019-06-15 18-15-35](https://user-images.githubusercontent.com/1908873/59550828-0e599c00-8f9a-11e9-8089-d327a1694afe.png)

![Screenshot from 2019-06-15 18-19-29](ht

[2019-06-15 12:21] yuriichayka opened #23279 "Integration test for unsubscribing from 'Back in stock notification'"
### Summary (*)

The functionality should be covered by tests so issues like #22814 won't occur in future.

### Examples (*)

### Proposed solution

[2019-06-15 12:45] asifashi1 commented on #17447
Hi everyone I have added a configured product in Magento 2.3.1 and facing pricing issue. When I look product from the front end price showing look like this.
Attribute product: Flavours
1. Blueberry 1 Donut
2. Blueberry pack of 21 +AED20 (This second attribute title showing first and 2nd attribute price difference)

Please help me how can I resolve this.
You can also visit the sample page: https:/

[2019-06-15 15:10] haq0003 commented on #4979
Can check which categories are corrupt with

var_dump($category->getPath()); in loop
vendor/magento/module-catalog-import-export/Model/Import/Product/CategoryProcessor.php:88

then check this id is really broke by calling url in admin area with this id

[2019-06-15 16:43] shikhamis11 commented on #23232
hello @tylerssn ,Thank you for your report.
This issue is already fixed in PR #22281 , #22282 It will be available in next 2.2.x and 2.3.x releases.

[2019-06-15 16:43] #23232 closed, assigned to nobody

[2019-06-15 23:24] nickpiro commented on #17310
I am having a similar issue on 2.2.8. On our Redis setup in the env.php from our hosting provider, there was no max_concurrency...So I've added it and made it 50. We're a fairly high traffic site, so I will be able to get a good idea and report back how it works! :)

[2019-06-16 06:05] imanbehboudi commented on #22497
i have the same problem in 2.3.1 ? is this a confirmed issue ?

[2019-06-16 08:30] hostep commented on #23208
@vicobohdan: the correct way to send in a pull request is by first forking the magento2 repo to your own github account. Cloning that repo on your local. Setting up an upstream remote. Then on your local, create a new branch based on the `2.3-develop` branch from the upstream remote. Add a commit, and push it to your own fork. And then you can create a PR using the Github interface.
More detailed

[2019-06-16 08:35] hostep commented on #23258
@mrtuvn: Mailhog [doesn't support BCC headers](https://github.com/mailhog/MailHog/issues/98), maybe try by sending a separate email?

[2019-06-16 08:42] SpaceWhite opened #23281 "Export csv download or delete"
### Preconditions (*)
1. 2.3-develop

### Steps to reproduce (*)
1. Admin  -> System -> Data Transfer -> Export
2. Select product entity type (eg. Customer Addresses)
3. Click continue
4. Request is queued and page refresh
5. Scroll down a little bit and table with csv files will appear
6. Action -> Download or Delete on one of the file

### Expected result (*)
1. Admin are able to download or del

[2019-06-16 09:01] hostep commented on #23258
Just tested this myself, with Mailhog and the configuration `Send Order Email Copy Method` set to `Separate Email` and it works perfectly fine, 2 emails are send:

<img width="920" alt="Screenshot 2019-06-16 at 10 57 23" src="https://user-images.githubusercontent.com/85479/59561905-df890780-9025-11e9-9e68-3c60853dc091.png">

Closing for now, if you still run into this problem without some local ma

[2019-06-16 09:01] #23258 closed, assigned to nobody

[2019-06-16 09:04] SpaceWhite commented on #23281
@magento give me 2.3-develop instance

[2019-06-16 09:04] magento-engcom-team commented on #23281
Hi @SpaceWhite. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-16 09:05] magento-engcom-team commented on #23281
Hi @SpaceWhite, here is your [Magento instance](https://i-23281-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23281-2-3-develop.instances.magento-community.engineering/admin](https://i-23281-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-16 13:56] luoine commented on #22528
I use magento2.3.1 and install Chinese language pack (taiwan), I set the language locale is English (United States) the paypal work fine, While I change the locale to Chinese (Taiwan) the paypal button is not shown.

[2019-06-16 19:15] sivaschenko commented on #23270
@magento give me 2.3-develop instance

[2019-06-16 19:15] magento-engcom-team commented on #23270
Hi @sivaschenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-16 19:16] magento-engcom-team commented on #23270
Hi @sivaschenko, here is your [Magento instance](https://i-23270-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23270-2-3-develop.instances.magento-community.engineering/admin](https://i-23270-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-16 22:28] fooman commented on #23122
As I was mentioned in here I wanted to note for future people coming across this that the issue would not exhibit when running the latest released versions of our extensions but I fully support making this code more defensive.

[2019-06-17 03:55] blickcreative commented on #12602
I am having the exact same issue after updated Magento to 2.2.8
Is there a patch or fix available?

[2019-06-17 07:03] vicobohdan commented on #23208
thanks for advice, pull request was created: https://github.com/magento/magento2/pull/23282

[2019-06-17 08:17] paul-gene commented on #23012
@magento give me 2.3.1 instance

[2019-06-17 08:17] magento-engcom-team commented on #23012
Hi @paul-gene. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-17 08:17] magento-engcom-team commented on #23012
Hi @paul-gene, here is your [Magento instance](https://i-23012-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23012-2-3-1.instances.magento-community.engineering/admin](https://i-23012-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-17 11:10] virani06 opened #23284 "Configurable Product Main Images Append rather than replace"
Configurable Product Main Images Is Append Rather Than Replace All Images With That Color Images.

### Preconditions (*)

Magento 2.3.1 Fresh Installation

### Steps to reproduce (*)

1) First We Add Configurable Product. In That Suppose We Add 3 Images In Configurable Product Like Cnf1.jpg Cnf2.jpg And Cnf3.jpg

2) After That We Create The Configuration In That We Add 2 Colors.

3) Add The Color

[2019-06-17 12:10] nishantjariwala opened #23285 "Credit memo submit button(refund) stays disable after validation fails & unable to enable button"
Hi,
Here I've found an issue while creating a credit memo. In credit memo, If your entered wrong value and once submit button(refund) will become disabled then unable to enable it.
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. From the Sales order click on credit memo.
2. Credit memo window will be opened.
3. Go to **Refund Shipping** in **Refund Totals** section. Here, ent

[2019-06-17 12:16] gladroger commented on #4159
I have applied this fix and it works, thanks!

However when trying to install extensions I get composer status
`You have changes in the following dependencies:
/home/user/public_html/vendor/magento/module-backend`

How do I bypass this in able to use composer or web setup?

[2019-06-17 12:33] baranovserhiy commented on #12950
We have same issue on magento 2.3.1 with homepage on clean install with Luma Sample data.

[2019-06-17 12:36] ajijshekh123 commented on #23285
Give me @magento give me 2.3-develop instance

[2019-06-17 12:36] magento-engcom-team commented on #23285
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-17 12:37] magento-engcom-team commented on #23285
Hi @ajijshekh123, here is your [Magento instance](https://i-23285-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23285-2-3-develop.instances.magento-community.engineering/admin](https://i-23285-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-17 12:52] ajijshekh123 commented on #23285
Give me @magento give me 2.2-develop instance

[2019-06-17 12:52] magento-engcom-team commented on #23285
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-17 12:53] magento-engcom-team commented on #23285
Hi @ajijshekh123, here is your [Magento instance](https://i-23285-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23285-2-2-develop.instances.magento-community.engineering/admin](https://i-23285-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-17 12:57] gladroger commented on #4159
Solved it by editing composer.json with
`   "config": {
        "discard-changes": true
`

[2019-06-17 13:01] magento-engcom-team commented on #23285
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17529`, `MC-17530` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-17 13:17] manjulabwi opened #23287 "different themes for multi stores not working Magento 2.3.1"
Created child-themes and assigned to the corresponding stores at Magento admin. Below is the screenshot.
![image](https://user-images.githubusercontent.com/51914234/59606950-f582ef00-912f-11e9-858e-db33a86da44e.png)
But, when switched to other stores at frontend, the default main store's theme getting applied for all the stores. Cleared cache, cleared pub/static, var/view_preprocessed, re-generate

[2019-06-17 13:28] johncarlson21 commented on #22497
@benmarks hey bud.. can you maybe elaborate on this? trying to get some movement on some of these issues, I also have another one open that is a big issue.....

[2019-06-17 14:16] akovtun opened #23288 "Message isn't displayed on the error after connection reset and placing order"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2.18

### Steps to reproduce (*)

1. Open the checkout page and fill in the data
2. Turn off the Internet / Make site inaccessible.
3. Click Place Order.

### Expected result (*)

User gets the error 'Something went wrong with your request. Please try again later.'

### Actual result (*)

User gets an error without text.
![bug4](https://user-images.

[2019-06-17 14:18] TonyRutherford1 commented on #15427
@engcom-backlog-nazar Any updates? This is causing big issues for our client. Many orders being missed...

[2019-06-17 14:20] dervishm96 opened #23289 "Upgrading Magento 2"
### Preconditions (*)

1. Magento 2.3.0
2.

### Steps to reproduce (*)

1. Access web setup wizard page
2. Try to upgrade magento to 2.3.1

### Expected result (*)

1. The upgrade should begin to process
2.

### Actual result (*)

1. Instead, I get the following error:
2. "we cannot retrieve information on magento/product-community-edition."

[2019-06-17 14:43] kerlama commented on #15427
Yes, all of our clients have the same issue. It would be highly appreciated to have some response.

[2019-06-17 14:58] OleksiiBulba opened #23290 "./bin/magento config:show returns "Configuration for path: '...' doesn't exist" if config value equals to 0 or empty string"
### Preconditions (*)
1. Magento 2.4-develop
2. Create module `Vendor_Module`
3. Create `etc/config.xml` in created module `Vendor_Module` with new config path `default/vendor_module/general/value` with value `0` or `''` (empty string)

### Steps to reproduce (*)
1. Open magento cli and run command `./bin/magento config:show vendor_module/general/value`

### Expected result (*)
1. Should return `0

[2019-06-17 16:47] msawyers commented on #23199
Yes, this is replicable in the vanilla instance. see attached.

![email issue](https://user-images.githubusercontent.com/8907629/59621840-ba63ca00-90f5-11e9-9f16-453e8bfc4de1.PNG)

[2019-06-17 16:49] msawyers commented on #23199
Yes, this is replicable on a vanilla instance

![email issue](https://user-images.githubusercontent.com/8907629/59621926-eb43ff00-90f5-11e9-9226-2b911f76b300.PNG)

[2019-06-17 18:21] AndyJAllen commented on #22960
I got this problem solved by applying a coding change all the way back from a post in August of 2016:
https://github.com/magento/magento2/issues/4801

Can someone help me understand why/how core bugs are left in place which existed all the way back from before Magento 2? It seems every upgrade I have to patch core code, including Serializer\Json.php -- just to get the Magento platform fully operat

[2019-06-17 19:32] Nazar65 commented on #23281
@SpaceWhite as a workaround you can disable Admin secret key on URl then it works :smile:

[2019-06-17 19:36] Nazar65 commented on #23262
@29sunil same here https://github.com/magento/magento2/issues/22808 did you upgraded from 2.2 version ?

[2019-06-17 22:33] floorz opened #23295 "Reset Password Confirmation Link Email Not Store Scoped For Global Customers"
### Preconditions (*)

1. 2.2.4
2. 2.2.5
3. 2.2.6
4. 2.2.7
5. 2.2.8
6. 2.3.0
7. 2.3.1

### Steps to reproduce (*)

1. Setup multi-store site with at least 2 websites
2. Configure customer accounts to be shared globally from admin
3. Create a customer account associated to the second website
4. Initiate reset password email via rest api at *PUT /V1/customers/password*
Payload:
[code]
5. Receive res

[2019-06-17 22:55] floorz commented on #23295
@magento give me 2.3-develop instance

[2019-06-17 22:55] magento-engcom-team commented on #23295
Hi @floorz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-17 22:56] magento-engcom-team commented on #23295
Hi @floorz, here is your [Magento instance](https://i-23295-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23295-2-3-develop.instances.magento-community.engineering/admin](https://i-23295-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-17 23:48] salehawal opened #23296 "Magento2 Customer can login with any wrong password"
### Preconditions (*)
1- Magento 2.3.1
2- php 7.1

### Steps to reproduce (*)
1- open https://beta.jomlah.com/arabic
2- login using user: saleh.awal@gmail.com & password: 123 or any password you pick
3- it will login for any password you may pick

### Expected result (*)

1. system should prevent users with wrong passwords to log in

### Actual result (*)
1. anyone can login with any password

[2019-06-18 02:05] floorz commented on #23295
@magento Could not reproduce on the vanilla instance provided as emails don't seem to send from there. Did reproduce locally.

[2019-06-18 05:15] ajijshekh123 commented on #23296
Give me @magento give me 2.3-develop instance

[2019-06-18 05:15] magento-engcom-team commented on #23296
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-18 05:15] magento-engcom-team commented on #23296
Hi @ajijshekh123, here is your [Magento instance](https://i-23296-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23296-2-3-develop.instances.magento-community.engineering/admin](https://i-23296-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 05:24] ajijshekh123 commented on #23296
@salehawal - In Default, Magento 2.3 instance login functionality is working fine. User can't able to login valid email and invalid password.
In your Magento instance, User can be able to log in any of the passwords. So please verify this issue in your custom code. This issue is related to your website.

@salehawal - Please update me whenever you have found the issue in your custom code and resolv

[2019-06-18 05:35] virani06 commented on #23284
Hi

1) First Install fresh magento 2.3.1
Php version  7.1.30
Mysql
Ubuntu 18.04

2) Steps To Reproduce

First We Add Configurable Product. In That Suppose We Add 3 Images In Configurable Product Like Cnf1.jpg Cnf2.jpg And Cnf3.jpg

After That We Create The Configuration In That We Add 2 Colors.

Add The Color First Red Images Like R1.jpg R2.jpg R3.jpg

Same Way Add Second Yellow Color And Add Imag

[2019-06-18 06:34] #23087 closed, assigned to nobody

[2019-06-18 06:47] gulshan-streammarket opened #23297 "Deleting disabled category forces category flat and catalog search re-indexed fully"
### Description (*)
 When deleting a disabled category having no child and not product assigned to it then the status of Category Flat Data and Catalog search updated to Re-index Required

### Steps to reproduce (*)

1. Create a disabled category
2. Run`indexer:reindex` to make sure that all indexer valid
3. Set all indexer to `Update by schedule` mode
4. Delete category (from step 1)
5. Observe i

[2019-06-18 07:01] magento-engcom-team commented on #23297
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17560`, `MC-17561` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 07:22] gulshan-streammarket commented on #23297
@engcom-Charlie Thanks for confirming the issue.

[2019-06-18 08:18] 29sunil commented on #23262
Hello  Team,
We have migrated data from magento1 to Magento 2. Now, these catalog images issues are generated.
Kindly suggest these issues.
Thanks

[2019-06-18 09:53] magento-engcom-team commented on #22909
@dmanners Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is ad

[2019-06-18 09:55] magento-engcom-team commented on #22909
@dmanners Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-06-18 09:58] magento-engcom-team commented on #22909
:white_check_mark: Confirmed by @dmanners
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17563` were created

**Issue Available**: @dmanners, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 09:59] dajve commented on #17844
#mmuk2019

[2019-06-18 09:59] magento-engcom-team commented on #17844
@dajve thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-18 10:01] salehawal commented on #23296
if it is from my side, how can i debug to know which module is responsible for the issue?

[2019-06-18 10:09] ajijshekh123 commented on #23296
@salehawal - Please enable and disable to every custom module which you are using in login functionality. Follow the debug process and verify the issue.

@salehawal - This does not default Magento issue so now I am closing this issue. If you have detected the issue in Magento instance you can reopen the issue again.

[2019-06-18 10:09] #23296 closed, assigned to nobody

[2019-06-18 10:17] magento-engcom-team commented on #23137
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17564`, `MC-17565` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 10:31] engcom-Charlie commented on #23287
Hello @manjulabwi !
Thank you for your report but i can`t reproduce your issue on Magento 2.3-develop and Magento 2.2.x

[2019-06-18 10:31] #23287 closed, assigned to engcom-Charlie

[2019-06-18 10:33] semajeg commented on #14745
#mmuk2019

[2019-06-18 10:33] magento-engcom-team commented on #14745
@semajeg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-18 10:34] syed92hasan commented on #23295
I am working on this at #MM19UK

[2019-06-18 10:36] semajeg commented on #14745
@magento give me 2.3-develop instance

[2019-06-18 10:36] magento-engcom-team commented on #14745
Hi @semajeg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-18 10:36] magento-engcom-team commented on #14745
Hi @semajeg, here is your [Magento instance](https://i-14745-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14745-2-3-develop.instances.magento-community.engineering/admin](https://i-14745-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 10:39] benathomeofchampions commented on #14971
#mmuk2019 Assign to me

[2019-06-18 10:39] magento-engcom-team commented on #14971
@benathomeofchampions thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-18 10:43] syed92hasan commented on #23270
I am working on this at #MM19UK

[2019-06-18 10:46] engcom-Bravo commented on #23281
Not relevant for 2.2.

[2019-06-18 10:46] magento-engcom-team commented on #23281
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17566` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 10:52] semajeg commented on #14745
@magento give me 2.2-develop instance

[2019-06-18 10:52] magento-engcom-team commented on #14745
Hi @semajeg. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-18 10:52] magento-engcom-team commented on #14745
Hi @semajeg, here is your [Magento instance](https://i-14745-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-14745-2-2-develop.instances.magento-community.engineering/admin](https://i-14745-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 10:58] ProcessEight commented on #19846
@magento give me 2.3-develop instance

[2019-06-18 10:58] magento-engcom-team commented on #19846
Hi @ProcessEight. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-18 10:59] magento-engcom-team commented on #19846
Hi @ProcessEight, here is your [Magento instance](https://i-19846-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19846-2-3-develop.instances.magento-community.engineering/admin](https://i-19846-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 11:00] semajeg commented on #14745
Hi,

I'm unable to reproduce this issue on the latest 2.2-develop & 2.3-develop branches. Here's the steps I took:

1. In admin,go to Content > Pages
2. Choose a page to edit (I took Homepage)
3. In the content wysiwyg, choose "insert widget"
4. Choose "Catalog Product List Widget"
5. In widget options > conditions, add a condition for the product attribute "price" with the condition being "greate

[2019-06-18 11:00] #14745 closed, assigned to semajeg

[2019-06-18 11:22] salehawal opened #23299 "Advanced Pricing Issue"
### Preconditions (*)
1. Magento 2.3.1
2. php 7.1
3- Varnish Cahce
4- Redis

### Steps to reproduce (*)
1. Create a Product with Special Price that has expiration date
2. After the Special Price Expiration date, the products still show discount price
3- when processed in cart and place order, the price changes to the original price
Screenshuts: https://drive.google.com/drive/u/0/folders/1T-yxrAJCH

[2019-06-18 11:27] ajijshekh123 commented on #23299
Give me @magento give me 2.3-develop instance

[2019-06-18 11:27] magento-engcom-team commented on #23299
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-18 11:27] hackronshins commented on #13149
Hi, My recent upgrade is 2.3.1 as magento moves we are upgrading one by one, But we are having an issue which is on Paypal orders we are getting variable prefixes in billing address as email template format. Is there any fix to relates t its.
I tried all above solutions who got fixed, In database also I checked it is perfect. But why it is not fixed yet. We didn't touched anything in code.
Please

[2019-06-18 11:28] magento-engcom-team commented on #23299
Hi @ajijshekh123, here is your [Magento instance](https://i-23299-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23299-2-3-develop.instances.magento-community.engineering/admin](https://i-23299-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 11:28] hackronshins commented on #5873
Hi, My recent upgrade is 2.3.1 as magento moves we are upgrading one by one, But we are having an issue which is on Paypal orders we are getting variable prefixes in billing address as email template format. Is there any fix to relates t its.

**Please help me to get a best solution for this.**

![13](https://user-images.githubusercontent.com/23425297/59678511-41926a00-91ea-11e9-9c22-5f9205024b8c.

[2019-06-18 11:32] magento-engcom-team commented on #19846
:white_check_mark: Confirmed by @ProcessEight
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17568` were created

**Issue Available**: @ProcessEight, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 11:36] hackronshins commented on #4936
Hi, My recent upgrade is 2.3.1 as Magento moves we are upgrading one by one,
But we are having an issue which is on Paypal orders we are getting variable prefixes in billing address as email template format in admin side back end.
**Admin Dashboard -> Sales -> Operations -> Orders -> View Order**

_Is there any fix relates to its?_

**Please help me to get a best solution for this.
Please find the

[2019-06-18 11:36] magento-engcom-team commented on #23289
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17569` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 11:40] ajijshekh123 commented on #23299
Give me @magento give me 2.2-develop instance

[2019-06-18 11:40] magento-engcom-team commented on #23299
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-18 11:41] magento-engcom-team commented on #23299
Hi @ajijshekh123, here is your [Magento instance](https://i-23299-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23299-2-2-develop.instances.magento-community.engineering/admin](https://i-23299-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 11:45] mhenkel1 commented on #11629
@orlangur I found the solution to my problem. I had a typo in my psr-4 definition in my composer.json ...
Problem solved and issue can be closed, thanks for your quick responses tho ;)

[2019-06-18 11:48] engcom-Bravo commented on #23284
Hello @virani06. Thanks for applying. Why do You think those images should be replaced and not appended? In Your case Cnf1.jpg Cnf2.jpg and Cnf3.jpg are supposed to be related to both the Red and the Yellow color products. So these pictures represent both variations (Red and Yellow) and thus quite logically belong to their sets of images. But they occupy the last places in the sets as they are les

[2019-06-18 12:03] ajijshekh123 commented on #23299
@salehawal - I have verified this issue Magneto 2.2 and Magneto 2.3 Instance with your test scenario. In Magento Instance I can't find the pricing issue. it's working fine.
See attached the Magento 2.2 and Magento 2.3 Instance screenshot:

![2 2_Advance Price](https://user-images.githubusercontent.com/24711761/59680392-d6976200-91ee-11e9-8049-caba6a7f58ec.png)

![2 2_Checkout_Main Price](https://u

[2019-06-18 12:03] #23299 closed, assigned to nobody

[2019-06-18 12:10] salehawal commented on #23299
ok thanks .. then it must be Varnish Cache .. can you confirm that API is included in the caching system of magento

[2019-06-18 12:25] stephan-cream commented on #12970
This issue has not been resolved yet.

**Steps to reproduce:**

1. Create a grouped product
2. Create two simple products
3. Add two simple products to the grouped product
4. Set default quantity to 0 for each simple product association.
5. Give product 1 a stock quantity of 0 and the status 'Out of stock'.
6. Give product 2 a stock quantity of 10 and the status 'In stock'.
7. Configure "Stores ->

[2019-06-18 12:25] winds1983 commented on #22867
Same issue. we can use below code to allow style tag, but magento widget plugins is not work.
`settings.valid_children = "+body[style]";`

[2019-06-18 12:27] p-bystritsky opened #23301 "MethodArgumentsSniff works incorrect with arguments passed by reference."
### Preconditions (*)

1. Magento 2 code.

### Steps to reproduce (*)

1. Add any changes to \Magento\CatalogImportExport\Model\Import\Product\Option class.
2. Run \Magento\Test\Php\LiveCodeTest::testCodeStyle method.

### Expected result (*)

1. No errors related to _isReadyForSaving method annotations.

### Actual result (*)

1. "Method arguments visual alignment must be consistent" error occurr

[2019-06-18 12:28] semajeg commented on #21361
hey @yuriichayka, from the logs above it looks like you're working on this. Would be worth assigning it to yourself so that others know not to pick it up :)

Also, there was a PR that references this (see https://github.com/magento/magento2/pull/22851) which you could pick up where it was left off,rather than starting from scratch

Hope this helps!

[2019-06-18 12:31] semajeg commented on #16382
#mmuk2019

[2019-06-18 12:33] mhenkel1 commented on #7200
Is there any way to remove these prices? Any option for it?
One of my customers does not want to show the pricing difference on every option.

[2019-06-18 12:34] engcom-Bravo commented on #23271
Hello @jigar48. Thanks for applying. "+" character when passed in URL just as that will be interpreted as a space character. And it's not an issue of Magento or curl or whatever else. URLs originally work that way. if You want to pass the very "+" You ought to encode it. Use "%2B" instead of it and the request shall work. For Your case when You intended to pass "testing+3@gmail.com" just like that

[2019-06-18 12:44] ajijshekh123 commented on #23299
@salehawal - API is not included in the caching system of Magento.

[2019-06-18 12:50] sertlab commented on #23038
#mmuk2019

[2019-06-18 12:50] magento-engcom-team commented on #23038
@sertlab thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-18 12:54] sertlab commented on #23038
#mmuk2019 assign to me

[2019-06-18 13:01] Den4ik commented on #23301
@magento give me 2.3-develop instance

[2019-06-18 13:02] magento-engcom-team commented on #23301
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-18 13:02] magento-engcom-team commented on #23301
Hi @Den4ik, here is your [Magento instance](https://i-23301-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23301-2-3-develop.instances.magento-community.engineering/admin](https://i-23301-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-18 13:05] jammy-git opened #23305 "Not possible to import product cost"
### Preconditions (*)
Using Magento 2.7.x or 2.8.x

### Steps to reproduce (*)
1. Log in to admin panel
2. Go to System > Import.
3. Using either the Products or Advanced Pricing imports, it is not possible to add a `cost` or `price_cost` column to import the product cost (found in the Advanced Pricing section when adding/editing a product).

### Expected result (*)
1. To be able to bulk import co

[2019-06-18 13:05] chickenland commented on #22971
@esseremmerik Why do you class this output as invalid? As the string is enclosed in quotes, newlines are allowed.

[2019-06-18 13:21] chickenland commented on #19481
@orlangur Would a sufficient check be to check if app/code/Magento exists at all? (if it does, must be Git?)

[2019-06-18 13:30] salehawal commented on #23299
we are experiencing this issue also in our apps, so if API is not included in Cache then dose that confirm that it is no a Varnish issue? might be a module or miss-configuration issue ?

[2019-06-18 13:38] simon-letch commented on #6187
#mmuk2019

[2019-06-18 13:38] magento-engcom-team commented on #6187
@simon-letch thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-18 13:38] magento-engcom-team commented on #23222
@ProcessEight Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-06-18 13:39] magento-engcom-team commented on #23222
:white_check_mark: Confirmed by @ProcessEight
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17571` were created

**Issue Available**: @ProcessEight, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 13:39] ajijshekh123 commented on #23299
Yes @salehawal, Issue may be any custom module Or related to the configuration.

[2019-06-18 13:43] milindsingh commented on #23290
@OleksiiBulba
Its correct that it renders **Configuration for path: "vendor_module/general/value" doesn't exist**
But what should it render on empty value? Maybe an empty value error?

[2019-06-18 13:54] sta1r commented on #23074
#mmuk2019 assign

[2019-06-18 13:54] magento-engcom-team commented on #23074
@sta1r thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-18 13:54] magento-engcom-team commented on #12970
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17572`, `MC-17573` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 13:55] fernandusfero commented on #16434
I can see bundle options in my orders now, But I am facing a issue with pagination, If a bundle products option goes to the 2nd page its renders as a simple product and not as bundle option But for print view i can get the outcome.

[2019-06-18 14:03] stephan-cream commented on #12970
I forgot to mention this by the way, but the error is thrown because of the 'Out of stock' product.
Since it is out of stock, the input field for this out of stock product is not submitted (or even shown).
As such the following if statement returns true `(!isset($productsInfo[$subProduct->getId()])`.
This does not occur when there are only 'In stock' products and the default quantity is set to 0 o

[2019-06-18 14:17] pierzakp commented on #21456
To make follow up to everyone I received following responses from Magento EE support:

My understanding is there are plans to revisit this implementation in future releases, however it would require a great deal of architecture work. We do not have an ETA.

The github post will be updated with those results, but it hasn't been done yet.

Seems that we need to find workaround on our own.

[2019-06-18 14:19] matthewhaworth commented on #21456
Thanks for the update @pierzakp :).

When an administrator chooses "apply free shipping", free shipping should be applied. Free shipping does not mean, 'free, except for tax'. If perhaps it does for some countries, this behaviour should at least be configurable. This is a disappointing response from Magento!

[2019-06-18 14:27] tnsezer commented on #21456
@pierzakp we are in communication with Magento EE for the issue but We don't get the information from them, still waiting for a solution. Could you share more detail about what you talked to them exactly?

[2019-06-18 14:32] amanuni commented on #23038
Thank you guys for working on this issue.

[2019-06-18 14:34] matthewhaworth commented on #21456
To elaborate on the issue I'm having, which is similar to @tnsezer's in #22480

I have a cart price rule that is has an action of 100% discount and applies to shipping. All tax calculation rules are set to be 'including tax' and tax is set to be calculated after discount. Everything gets discounted, however I'm left with the tax on the shipping (which is £5, so 83p).

[2019-06-18 14:47] chickenland commented on #21380
The issue here (that I can re-create) is the cron running multiple times in the same minute will schedule for that minute over and over - because it completes the task and then reschedules it.  The fix I envisage here would be that instead of checking for pending cron tasks, it checks in all non-exited statuses (ie. pending, running or success) - and schedules based on that.  Therefore, overlappin

[2019-06-18 15:25] chickenland commented on #17634
This issue is recurring for us, so looking for a solution.  The information from @adrian-martinez-interactiv4 - I'd suggest moving this up, but I feel like it should lock somehow until it completes, rather than carrying on with other requests - which might lead to files that are generated and cached?

[2019-06-18 16:17] slavvka opened #23314 "[TEST] PLEASE DO NOT TOUCH!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-06-18 16:17] magento-engcom-team commented on #23314
:white_check_mark: Confirmed by @slavvka
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17585`, `MC-17586` were created

**Issue Available**: @slavvka, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-18 16:27] slavvka commented on #23314
Hi @slavvka. Thank you for your report.
The issue was fixed by Magento team.
Related commit(s):

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:30] slavvka commented on #23314
Hi @slavvka. Thank you for your report.
The issue was fixed by Magento team.
Related commit(s):

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:32] slavvka commented on #23314
Hi @slavvka, @sdzhepa. Thank you for your report.
The issue was fixed by Magento team.
Related commit(s):

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:34] slavvka commented on #23314
Hi @slavvka, @sdzhepa. Thank you for your report.
The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:37] slavvka commented on #23314
Hi @slavvka, @sdzhepa. Thank you for your report.
The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:38] slavvka commented on #23314
Hi @slavvka, @sdzhepa. Thank you for your report.
The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776](https://github.com/magento/magento2/commit/77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776)
 - [9a86cd304b8803edfc7ac7212bc3f09b7680b325](https://github.com/magento/magento2/commit/9a86

[2019-06-18 16:46] slavvka commented on #23314
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776](https://github.com/magento/magento2/commit/77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776)
 - [9a86cd304b8803edfc7ac7212bc3f09b7680b325](https://github.com/magento/

[2019-06-18 16:48] slavvka opened #23315 "[TEST] PLEASE DO NOT TOUCH!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-06-18 16:49] slavvka commented on #23314
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:49] slavvka commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 16:52] slavvka commented on #23314
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [168b3636a519955f866fd78a2e9471575569fbab](https://github.com/magento/magento2/commit/168b3636a519955f866fd78a2e9471575569fbab)
 - [7726aee023414d0d6c724228d1ba0deac5f1f94c](https://github.com/magento/

[2019-06-18 16:52] slavvka commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [168b3636a519955f866fd78a2e9471575569fbab](https://github.com/magento/magento2/commit/168b3636a519955f866fd78a2e9471575569fbab)
 - [7726aee023414d0d6c724228d1ba0deac5f1f94c](https://github.com/magento/magento2/c

[2019-06-18 17:29] marcusirgens commented on #22587
We ended up here after some thorough and painful hours of debugging. This issue has caused huge performance hits and downtime for several of our 2.3 clients due to completely locked databases after hits on catalogsearch endpoints.

As the OP mentions, the issue seems to be that the generated joins on the `catalog_product_index_eav` causes "recursion" (joins on `catalog_product_index_eav` expands t

[2019-06-18 21:07] slavvka commented on #23314
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team.
The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 21:07] slavvka commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team.
The fix will be available with the upcoming `2.2.10` release.

[2019-06-18 21:08] slavvka commented on #23314
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776](https://github.com/magento/magento2/commit/77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776)
 - [9a86cd304b8803edfc7ac7212bc3f09b7680b325](https://github.com/magento/magento2/c

[2019-06-18 21:08] slavvka commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776](https://github.com/magento/magento2/commit/77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776)
 - [9a86cd304b8803edfc7ac7212bc3f09b7680b325](https://github.com/magento/magento2/c

[2019-06-18 21:08] slavvka commented on #23314
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776](https://github.com/magento/magento2/commit/77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776)
 - [9a86cd304b8803edfc7ac7212bc3f09b7680b325](https://github.com/magento/magento2/c

[2019-06-18 21:08] slavvka commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776](https://github.com/magento/magento2/commit/77a7650cf49e1fd9e38dd56c6ea77b3cc53a7776)
 - [9a86cd304b8803edfc7ac7212bc3f09b7680b325](https://github.com/magento/magento2/c

[2019-06-18 21:22] slavvka commented on #23314
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [168b3636a519955f866fd78a2e9471575569fbab](https://github.com/magento/magento2/commit/168b3636a519955f866fd78a2e9471575569fbab)
 - [7726aee023414d0d6c724228d1ba0deac5f1f94c](https://github.com/magento/magento2/c

[2019-06-18 21:22] slavvka commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [168b3636a519955f866fd78a2e9471575569fbab](https://github.com/magento/magento2/commit/168b3636a519955f866fd78a2e9471575569fbab)
 - [7726aee023414d0d6c724228d1ba0deac5f1f94c](https://github.com/magento/magento2/c

[2019-06-18 21:49] slavvka commented on #23314
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [168b3636a519955f866fd78a2e9471575569fbab](https://github.com/magento/magento2/commit/168b3636a519955f866fd78a2e9471575569fbab)
 - [7726aee023414d0d6c724228d1ba0deac5f1f94c](https://github.com/magento/magento2/c

[2019-06-19 00:11] trucatchtraps commented on #22251
Any update to this? I am still not able to revert the commit using a custom module. I moved to 2.3.1 but the issue is still present.

[2019-06-19 02:19] satellite1 commented on #12950
This does not resolve the issue. We can provide a live site to demonstrate the patch fails.

https://luma.awsamistacx.com

A fresh install of 2.3.1 using aMiSTACX on AWS, and then load sample data should not result in 404 on the homepage after X time; certainly tied into FPC as others have stated.

We can fix this by flushing FPC/Redis, but that is not a solution. Again as others have stated.

Rea

[2019-06-19 04:09] twocs opened #23316 "Invalid Base URL. Value must be a URL or one of placeholders: {{base_url}}"
### Preconditions (*)

1. Version 2.3.1

### Steps to reproduce (*)

1. Try to enter a new base_url like "http://bmt.consulting".

### Expected result (*)

1. Change the base url.

### Actual result (*)
Result: `Invalid Base URL. Value must be a URL or one of placeholders: {{base_url}}`
![magento_error_baseurl](https://user-images.githubusercontent.com/72763/59736033-36494800-9297-11e9-82f9-c7e6fc

[2019-06-19 04:55] ajijshekh123 commented on #23316
Give me @magento give me 2.3-develop instance

[2019-06-19 04:55] magento-engcom-team commented on #23316
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-19 04:55] magento-engcom-team commented on #23316
Hi @ajijshekh123, here is your [Magento instance](https://i-23316-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23316-2-3-develop.instances.magento-community.engineering/admin](https://i-23316-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 05:02] ajijshekh123 commented on #23316
Give me @magento give me 2.2-develop instance

[2019-06-19 05:02] magento-engcom-team commented on #23316
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-19 05:03] magento-engcom-team commented on #23316
Hi @ajijshekh123, here is your [Magento instance](https://i-23316-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23316-2-2-develop.instances.magento-community.engineering/admin](https://i-23316-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 05:03] shakthivel-p commented on #8285
I am also having the same problem created a plugin for Magento\Framework\App\Request\Http in Magento2.3. It is showing the below error.

[code]

If anyone has already known the solution please give it here. Thanks in Advance.

[2019-06-19 05:10] ajijshekh123 commented on #23316
I have verified both issues in Magento 2.2 and 2.3 Instance. Without entering slash end of the URL, I have saved the configuration it is displaying the error and user can't understand why this URL is not accepted.
Please apply the proper validation message Or display the proper error message so the user can easily understand what is the issue about this added URL.

See attached screenshot:
**Magen

[2019-06-19 05:10] magento-engcom-team commented on #23316
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17599`, `MC-17600` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-19 05:11] shakthivel-p commented on #19084
I am also having the same problem as this one. Created a plugin for Magento\Framework\App\Request\Http in Magento2.3. It is showing the below error while compiling or running any commands.

[code]
It works fine if removing the plugin from di.xml.

If anyone has already known the solution please give it here. Thanks in Advance.

[2019-06-19 05:47] bhavik43 opened #23317 "Create new order admin page jumps up down"
Create new order admin page jumps up down

### Preconditions (*)
magento 2.3

-> Selected customer should have items in wish list,shopping cart,last ordered,Recently viewed.

### Steps to reproduce (*)
1. Go to Admin
2. Sales > Orders
3. Create New Order
4. Select any customer
5. Without do anything click on Submit order

### Expected result (*)
Page should not be jumping and navigate to validatio

[2019-06-19 05:49] krishprakash commented on #23317
@magento give me 2.3-develop instance

[2019-06-19 05:49] magento-engcom-team commented on #23317
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-19 05:50] magento-engcom-team commented on #23317
Hi @krishprakash, here is your [Magento instance](https://i-23317-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23317-2-3-develop.instances.magento-community.engineering/admin](https://i-23317-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 06:26] BharathN96 opened #23318 "Order State dropdown shows new assigned status label not default state label in Assign Order Status"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

1. Admin: Stores -> Settings -> Order Status
2. Create a new order status(ex: Payment Refund).
3. Assign new order status to a state(canceled).
4. Create a new status(ex: Payment Failed) try to assign this to state canceled
5. In Order state Dropdown in assign state it shows Payment Refund which is not a order state

#

[2019-06-19 06:29] ajijshekh123 commented on #23318
Give me @magento give me 2.3-develop instance

[2019-06-19 06:29] magento-engcom-team commented on #23318
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-19 06:29] magento-engcom-team commented on #23318
Hi @ajijshekh123, here is your [Magento instance](https://i-23318-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23318-2-3-develop.instances.magento-community.engineering/admin](https://i-23318-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 06:34] krishprakash commented on #23317
Hi @bhavik43.
I'am not able to reproduce this issue as mentioned steps by you on clean magento instance.
seems like this related to your custom modules.
Please review once in clean magento instance
Closing this as Not able to reproduce.
Thanks.

[2019-06-19 06:34] #23317 closed, assigned to krishprakash

[2019-06-19 06:50] ajijshekh123 commented on #23318
I have also verified this issue in Magento 2.3 instance and I don't have found the issue. In the drop-down, It is displaying State instead of Status.
See attached the screenshot:

**Magento 2.3 Instance:**
![2019-06-19 (2)](https://user-images.githubusercontent.com/24711761/59742949-79ea8480-928c-11e9-849b-8975315714b5.png)

This issue is related to #17844.

[2019-06-19 06:50] #23318 closed, assigned to nobody

[2019-06-19 06:50] engcom-Bravo commented on #23262
Hi again @29sunil. The GitHub issue tracker is intended for Magento Core technical issues only. If You are not able to reproduce it on a vanilla instance locally or on other server like the one we provided You with ( https://i-23262-2-3-develop.instances.magento-community.engineering) its not an issue relevant for this repository. Please refer to the [Community Forums](https://community.magento.co

[2019-06-19 06:50] #23262 closed, assigned to engcom-Bravo

[2019-06-19 06:53] magento-engcom-team commented on #23295
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17601`, `MC-17602` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-19 07:07] engcom-Bravo commented on #23318
@ajijshekh123, could You tell me please what was this?
![WTF](https://user-images.githubusercontent.com/51680745/59743879-f58f0600-9279-11e9-8984-50d4bd5bcfb3.png)

[2019-06-19 07:09] LKarklins commented on #18264
Reproduced on 2.2.8, price sorting not working when there are mixed configurable and simple products some with special prices and some not.

[2019-06-19 07:18] ajijshekh123 commented on #23318
@BharathN96 - I have verified this issue in Magento 2.3 instance as per your steps and it's working fine in Fresh Magento 2.3 instance. I have also check this issue in the previous added list so this issue is related to #17844.

@BharathN96 - Let me know if you have any doubt.

[2019-06-19 07:35] zolthan commented on #8897
Also reproduced in Magento 2.3.0 and 2.3.1. If a product is edited in the backend in a specific store view, the images are saved store specific. This store specific setting for the images cannot be removed, as there are no "Use Default Value" checkboxes at the images.

[2019-06-19 07:44] zolthan commented on #23262
We can reproduce this issue with a Magento 2 Apache instance. In the pub/.htaccess the following lines are missing in the section `<IfModule mod_rewrite.c>` in about line 150 before the final rewrite rules for existing files:

[code]

[2019-06-19 07:53] jayachandraoggy commented on #23318
Give me @magento give me 2.3-develop instance

[2019-06-19 07:53] magento-engcom-team commented on #23318
Hi @jayachandraoggy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-19 07:54] magento-engcom-team commented on #23318
Hi @jayachandraoggy, here is your [Magento instance](https://i-23318-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23318-2-3-develop.instances.magento-community.engineering/admin](https://i-23318-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 08:26] salehawal commented on #23296
i did remove all 3rd part modules and still i was able to login with any password?

[2019-06-19 08:28] OleksiiBulba commented on #23290
Hi @milindsingh
It is confusing when you try to get value from path but you got "path does not exist". I think at least the message should not say "does not exist" because it does exist but has empty value

[2019-06-19 08:33] engcom-Bravo commented on #23318
Hello @BharathN96. Thank You for reporting. We managed to reproduce on Your issue on two or three weeks old 2.3-develop version. But on the latest version it is reproduced no more. So it has been fixed.

[2019-06-19 08:59] ajijshekh123 commented on #23296
@salehawal - If I am not finding an issue in Default Magento Instance I can't open it. So, please check the issue in your end.
This below scenario will be happening on the login module.
1. Data Migration from 2.2 to 2.3
2. Custom module affected
3. Check your login page coding
4. JS Issue

[2019-06-19 09:17] salehawal commented on #23296
it was working just last week, the only thing we did b4 facing the issue is a composer update, i also recall that this issue did raise with 2.2 after the same thing composer update which was resolved by disabling until finding the conflict and contacting the 3rd part company

in this case, we disabled all, and still we were unable to locate the source of issue, how can we debug and find the source

[2019-06-19 09:25] magento-engcom-team commented on #4831
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17603`, `MC-17604` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-19 09:45] sol0mandra opened #23319 "Unable to save edited product when max_sale_qty is Magento's default"
### Preconditions (*)

1. Install Magento Open Source 2.3.1

### Steps to reproduce (*)

1. Go to admin area
2. Go to Stores->Configuration->Catalog->Inventory->Product Stock Options
3. Edit the global default to be 0
4. Save the config
5. Open create a simple product form and fill in minimum required data
6. Open the advanced inventory popup
7. Uncheck the checkbox "use_config_max_sale_qty"
8. Ob

[2019-06-19 09:46] eshwilk commented on #23319
@magento give me 2.3-develop instance

[2019-06-19 09:46] magento-engcom-team commented on #23319
Hi @eshwilk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-19 09:46] magento-engcom-team commented on #23319
Hi @eshwilk, here is your [Magento instance](https://i-23319-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23319-2-3-develop.instances.magento-community.engineering/admin](https://i-23319-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 10:11] pankajkmr132 commented on #7107
I am facing the same issue of convert guest to the customer using rest API.
"message": "Cannot assign customer to the given cart. Customer already has active cart."

[2019-06-19 10:13] engcom-Bravo commented on #23305
Hello @jammy-git. Thanks for reporting. Please look at the following image.
![AP](https://user-images.githubusercontent.com/51680745/59756288-16635580-9292-11e9-8309-09048806e795.png)
The Products Import is responsible for the importing data of the first part of the image, while the Advanced Pricing Import is responsible for the importing data of the second part of the image. For importing the fir

[2019-06-19 10:17] eshwilk commented on #23319
The problem manifests itself and is even more important if that's a migration, and products are created programatically, using the DB default of 0 for max_sale_qty for freshly created products - and in this way breaking any editing of the products later on

[2019-06-19 10:28] magento-engcom-team commented on #23319
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17605`, `MC-17606` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-19 10:33] FL-KJ commented on #7765
A simple workaround which works for me: edit line 18 of `/vendor/magento/module-layered-navigation/view/frontend/templates/layer/view.phtml` and change:

    <?php if ($block->canShowBlock()): ?>

to:

    <?php if ($block->canShowBlock() && $block->getLayer()->getCurrentCategory()->getDisplayMode() !== "PAGE"): ?>

[2019-06-19 10:56] Sylvesterx1 opened #23320 "Magento 2.1.11 impossible finish reindex"
### Preconditions (*)

1. 2.1.11
2. CentOs 7

### Steps to reproduce (*)

1. php bin/magento indexer:reindex
2.

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/35328055/59759634-d94a9380-9290-11e9-947d-4889ff3872c4.png)

### Actual result (*)

1. In our magento version 2.1.11 impossible run reindex. We have total  60425 records. In our second website store on magent

[2019-06-19 11:28] engcom-Charlie commented on #23320
Hello @Sylvesterx1 ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-19 11:28] #23320 closed, assigned to engcom-Charlie

[2019-06-19 11:31] Ridik123 opened #23321 "getting error Required parameter 'theme_dir' was not passed when try to sent custom email via cron in magento 2"
I want to send a custom email via cron but it is throwing me an error that theme_dir was not passed
![Screenshot from 2019-06-19 16-59-40](https://user-images.githubusercontent.com/48005891/59761959-b2518900-92b3-11e9-9d86-d34618cd8abe.png)
My Magento version is 2.2.7

The cron runs fine but if I add the custom mail code the error arrives

[2019-06-19 11:33] engcom-Charlie commented on #23321
Hello @Ridik123 !
Thank you for your report , please provide steps to reproduce this issue

[2019-06-19 12:00] Ridik123 commented on #23321
I'm trying to send email with cronjob to list from adminhtml area, throws error:

Required parameter 'theme_dir' was not passed

email sending works with magento cron:run command.

[2019-06-19 12:16] crysix commented on #18264
We also have the same issue with M2.3.1

[2019-06-19 12:17] victortodoran commented on #5823
@orlangur I'm looking at the Magento Certified Professional Developer Plus Exam Study Guide

**Question 4**
You are working with an OMS that requires you to add an attribute to the order API.
How do you add a field to the existing sales API?

**Correct Answer**
B. You add an extension attribute to Magento\Sales\Api\Data\OrderInterface to include the new field

[2019-06-19 12:17] kirtinariya1 commented on #6553
@EliasKotlyar Have you import categories via csv. I am created same but getting some issue.
Let me know if you have done for same.

[2019-06-19 12:19] engcom-Charlie commented on #23321
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-19 12:19] #23321 closed, assigned to engcom-Charlie

[2019-06-19 12:26] qsolutions-pl commented on #22857
any update on this?

[2019-06-19 13:12] salehawal commented on #23296
we checked the server side to see if there was anything wrong, didnt find anything, then can you please let us know where dose the authentication happends ( module >> file ) .. so that we can check the code .. thanks

also if there is a upgraded version from 2.3.1 > , let us know maybe the upgrade will fix the issue

![Screenshot from 2019-06-19 15-09-40](https://user-images.githubusercontent.com/

[2019-06-19 13:19] NetStorm84 commented on #22407
The problem with doing it this way is that it's down to the javascript to mark as active, so there is a slight, sometimes visible delay, from when the page loads to when the menu is marked active. making the site appear slow.

[2019-06-19 13:27] engcom-Bravo commented on #23262
Hi @zolthan. Would You please describe the steps You make on a vanilla Magento instalation in order to reproduce the issue. Thank You.

[2019-06-19 13:31] orlangur commented on #5823
@victortodoran so? Correct answer is exactly what I said.

[2019-06-19 13:35] ajijshekh123 commented on #23296
@salehawal - Please first upgrade the Magento 2.3.1 instance and also check the varnish cache if you are using in your project.

[2019-06-19 13:35] orlangur commented on #19084
@shakthivel-p isn't it the case?

[2019-06-19 13:38] salehawal commented on #23296
i have a nother app running in the same server with same config ( 2.2 ), no issues

currently the app i am having issue with is ( 2.3.1 ), is there later upgrades i can move to?

[2019-06-19 13:39] victortodoran commented on #5823
@orlangur, sorry I understood the opposite for whatever reason.

[2019-06-19 13:48] williankeller commented on #19084
Also, you can try to execute `composer install`, so the autoload is regenerated.

[2019-06-19 13:49] dmytro-ch commented on #22591
@magento-engcom-team give me 2.2-develop instance

[2019-06-19 13:50] magento-engcom-team commented on #22591
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-19 13:50] magento-engcom-team commented on #22591
Hi @dmytro-ch, here is your [Magento instance](https://i-22591-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22591-2-2-develop.instances.magento-community.engineering/admin](https://i-22591-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 14:05] ihor-sviziev opened #23324 "[Reproducible Builds] Diff in generated/metadata between the builds"
It's really important to have [Reproducible Builds](https://reproducible-builds.org/). It will help to check diff between the builds, so you'll be sure that you deploy only needed changes to production.

### Preconditions (*)
1. Magento  2.2.8 & 2.3.x
2. Configured [Build system](https://devdocs.magento.com/guides/v2.3/config-guide/deployment/pipeline/build-system.html) on any CI (Bitbucket Pipeli

[2019-06-19 14:12] kvydiuk opened #23326 "Could not save multiselect/select attribute options when Swatches modules disabled"
### Preconditions (*)

1. Magento 2.3.1
2. Disable swatches modules:
`php bin/magento module:disable Magento_SwatchesLayeredNavigation Magento_SwatchesGraphQl Magento_Swatches
php bin/magento setup:upgrade`
3. Applied patch:
https://github.com/magento/magento2/issues/20843#issuecomment-491445415
Commit:
https://github.com/magento/magento2/commit/1abadb5ddf82505c2048dac9312a5d58f21e5992

### Steps

[2019-06-19 14:23] Vlad-Mecu commented on #12176
Only working solution for both so far is for me is setting attribute_model of visibility and status to Magento\Catalog\Model\ResourceModel\Eav\Attribute in the eav_attribute table.

Those attributes generates another error.
"status" and "visibility" attributes type is Magento\Eav\Model\Entity\Attribute, expected to be Magento\Catalog\Model\ResourceModel\Attribute

It errors on some pages, it may b

[2019-06-19 14:56] zolthan commented on #23262
Hi @engcom-Bravo ,
we just have an Apache setup and clear the image cache via backend.

Afterwards any calls to the cached files (that currently don't exist) are running on a 404 error as there is no rewrite rule in pub/.htaccess to catch media requests and redirect them to pub/get.php where the image processing takes place.

After running `bin/magento catalog:images:resize` the requests for produ

[2019-06-19 15:13] tephereth opened #23329 "Can not use dumped config carriers => tablerate=>condition_name"
### Preconditions (*)
1. Verified on Magento 2.3.x

### Steps to reproduce (*)
1. execute app:config:dump without previously saved the config of carriers => tablerate=>condition_name
2. try to import any tablerate rule

### Expected result (*)
1. tablerate import is succesfully saved

### Actual result (*)
1. condition_name is null, saving the tablerate import will throw an exception

[2019-06-19 15:32] #23329 closed, assigned to nobody

[2019-06-19 15:53] dmytro-ch commented on #22591
@pietervanuhm, sorry for late reply and thanks for your patience!

After performing some internal checks, I agree that the order state should be changed to `complete` in the described case. It's pretty obvious after checking the conditions in `\Magento\Sales\Model\Order\StateResolver::getStateForOrder` method.

[2019-06-19 15:54] magento-engcom-team commented on #22591
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17621` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-19 16:17] AndyJAllen commented on #19795
Also having this issue. As @styzzz  pointed out it might be because I'm trying to run Magento 2.3.1 & PHP7.2 within the scope of CentOS 6.... I wonder if there are any workarounds? I would prefer not to have to downgrade PHP or upgrade CentOS.... My reasons are because the provision profile for PHP 7.1 on GoDaddy does not work for Magento, because its not the minimum supported version of PHP 7.1..

[2019-06-19 16:48] engcom-Bravo commented on #23326
For 2.2-develop issue is reproduced as per issue #20843 where You weren't able to add options to the dropdown/multiselect attributes having that JS error. Obviously there was no Back-Port of the aforementioned commit (1abadb5ddf82505c2048dac9312a5d58f21e5992) to 2.2-develop. In 2.3-develop now You are able to add options but they do not remain after the attribute has been saved. No JS error occurs

[2019-06-19 16:49] orlangur commented on #23324
@ihor-sviziev,

Please explain.

This is perfectly valid. However, system behavior must not vary depending on order of generation.

https://reproducible-builds.org/ has nothing to do with this issue: it's all about no backdoors in compilers.

[2019-06-19 16:50] rodrigowebjump commented on #23305
@magento give me 2.3-develop instance

[2019-06-19 16:50] magento-engcom-team commented on #23305
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-19 16:50] magento-engcom-team commented on #23326
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17622`, `MC-17623` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-19 16:51] magento-engcom-team commented on #23305
Hi @rodrigowebjump, here is your [Magento instance](https://i-23305-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23305-2-3-develop.instances.magento-community.engineering/admin](https://i-23305-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-19 16:55] engcom-Bravo commented on #23262
@zolthan I would yet have two questions to You (probably with the obvious answers but):
1. Are You running Your Magento in the Production mode and
2. Is Your Mageento root directory is configured to be "pub"?

[2019-06-19 17:46] orlangur commented on #19846
@navarr,

Admin panel by itself already works, probably directly via resource models. I still see no reason to change behavior of existing API.

[2019-06-19 18:07] navarr commented on #19846
What is the reason for the behavior? When fetching a quote by it's id using the service layer, why is it impossible to use the same service layer to fetch the items on the quote?

I have code that operates in the admin panel and I want to fetch information about a quote item using the item ID. The service layer seems like the appropriate way to do this, but this deficiency prevents it. I now have

[2019-06-19 18:27] zolthan commented on #23262
Yes and yes. It makes no difference in which mode Magento is running in this case.

[2019-06-19 18:37] Filipe-Bicho opened #23330 "Magento 2.3.1: Get rewrite with redirect_type 301 instead of rewrite with redirect_type 0 for entity_type category"
### Preconditions

1. Magento 2.3
2. PHP 7.2
3. MySQL 5.6.42-84.2

### Steps to reproduce

1. Create and save a category with url_key = 'test-url' and option 'Create Permanent Redirect for old URL' selected
2. Change url_key to 'test-url2' with option 'Create Permanent Redirect for old URL' selected.
3. Change the category path of a random product to the new category path.
4. Go to the product det

[2019-06-19 19:04] hostep commented on #7862
Closing as this was fixed somewhere in Magento 2.2.x

The only reason this ticket was still open is because it wasn't fixed yet in Magento 2.1
But Magento 2.1 will be EOL after its final release 2.1.18 next week, so let's just close this ticket.

[2019-06-19 19:04] #7862 closed, assigned to nobody

[2019-06-19 19:53] ihor-sviziev commented on #23324
Hi @orlangur,

Result files after DI compile should be exactly the same when you running it from one commit with the same software versions, in my case - single docker image (including image hash) was used in all cases. But result is different.

It might not vary right now, but at some point it will because of some bug will be introduced. This part isn’t covered by 100% with tests.

Directly - yes

[2019-06-19 20:34] Luwdo commented on #22587
In the last 2 week I have pushed out a 2.2.8 community and 2.2.8 enterprise upgrades and both of these pushes resulted in about a day of down time because of this issue.

The community site I was able to solve by reducing the number of searchable attributes to just name and description as well as a pruning script that changed products that where visible in catalog that where not part of a category

[2019-06-19 20:46] marcusirgens commented on #22587
@luwdo that sounds very familiar to us. Unfortunately we are unable to reduce the amount of visible filters for many of our clients. Thanks for the patch, I’ll see how applying it affects performance.

I’ve been working on replicating this issue with sample data today, but it’s a slow process with the performance testing data due to the huge indexes.

We’ve really noticed these issues the last day

[2019-06-19 20:59] SamB-GB commented on #6003
This issue still exists on 2.3.1

[2019-06-19 21:14] Luwdo commented on #22587
As an additional note. We have not seen this issue on any of our clients running elastic search.

@marcusirgens I second your frustration, I was looking at what they were trying to solve in 2.2.7 and its complicated. Part of me wants to say that issues like this can be caught by running the changes against a copy of anonymized live site data from a partners with complicated catalogs. The patch I p

[2019-06-19 21:18] magento-engcom-team commented on #5967
Hi @Nerogee.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [71ce98baa01c63e59f1664a83c6ff6e41bc58c29](https://github.com/magento/magento2/commit/71ce98baa01c63e59f1664a83c6ff6e41bc58c29)
 - [c56d933c35e49b6f00dda23ef8a34c148c803c9e](https://github.com/magento/magento2/c

[2019-06-19 21:18] #5967 closed, assigned to nobody

[2019-06-19 21:18] magento-engcom-team commented on #2991
Hi @degaray.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-06-19 21:18] #2991 closed, assigned to nobody

[2019-06-19 21:18] magento-engcom-team commented on #22231
Hi @pushpendra07, @Nazar65, @krishprakash.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [08ecfe1efad526cb83fe0495e6e6f1459516b760](https://github.com/magento/magento2/commit/08ecfe1efad526cb83fe0495e6e6f1459516b760)
 - [08daad82fdfde389be7695dcab5765de4f5326a1](https:/

[2019-06-19 21:18] magento-engcom-team commented on #22870
Hi @ioweb-gr, @p-bystritsky.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-06-19 21:18] #22870 closed, assigned to p-bystritsky

[2019-06-19 21:19] magento-engcom-team commented on #8800
Hi @bartlubbersen.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [ed4a8dab083ce795625e79c09b31416b58fb5624](https://github.com/magento/magento2/commit/ed4a8dab083ce795625e79c09b31416b58fb5624)

The fix will be available with the upcoming `2.2.10` release.

[2019-06-19 21:19] magento-engcom-team commented on #10061
Hi @wjhuebner.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [6b4b959e4c5c8e800bb3ab9fa23b18a54394b935](https://github.com/magento/magento2/commit/6b4b959e4c5c8e800bb3ab9fa23b18a54394b935)
 - [a345343183720613f5ef6b0b63cc78c55b37140f](https://github.com/magento/magento2

[2019-06-19 21:21] magento-engcom-team commented on #11347
Hi @ebaschiera.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.1-develop` branch(es).
Related commit(s):
 - [da8009e8473d28f101e40355b6bab3d49dc6d4fd](https://github.com/magento/magento2/commit/da8009e8473d28f101e40355b6bab3d49dc6d4fd)
 - [498901e239deecacdd8bfba77e80166edc8c4888](https://github.com/magento/magento

[2019-06-19 21:21] marcusirgens commented on #22587
@luwdo, looking at stack traces and some light IDE magic makes it look like the ElasticSearch search implementations aren’t using this search query builder, so that makes sense and is also what we are experiencing. We have been using Algolia for the bulk of our clients up until now, though, so I don’t have a lot of data points to lean on.

[2019-06-19 21:21] magento-engcom-team commented on #13765
Hi @erikhansen.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [232e5c0ead667df345683734f84ba436c6a041df](https://github.com/magento/magento2/commit/232e5c0ead667df345683734f84ba436c6a041df)
 - [80097417b82c87669e73c1c8b4782ce821b6184e](https://github.com/magento/magento

[2019-06-19 21:22] magento-engcom-team commented on #11708
Hi @KarlComSe.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [138a3c52211c46276269484470d1beb5cd078944](https://github.com/magento/magento2/commit/138a3c52211c46276269484470d1beb5cd078944)
 - [131f98d94913f8f84483de6f6524bb1702e54794](https://github.com/magento/magento2

[2019-06-19 21:22] #11708 closed, assigned to nobody

[2019-06-19 21:22] magento-engcom-team commented on #9326
Hi @maultby.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [b3a1cc66df511975ceec0d76447cbfadab35d7f8](https://github.com/magento/magento2/commit/b3a1cc66df511975ceec0d76447cbfadab35d7f8)
 - [7c6ecc33bf6d5707021548e0920650b7feec265c](https://github.com/magento/magento2/c

[2019-06-19 21:22] #9326 closed, assigned to nobody

[2019-06-19 21:22] magento-engcom-team commented on #8800
Hi @bartlubbersen.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-06-19 21:22] #8800 closed, assigned to nobody

[2019-06-19 21:23] magento-engcom-team commented on #13553
Hi @zolat.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [332425f395811a159b986509854ae8e5bf9bfc59](https://github.com/magento/magento2/commit/332425f395811a159b986509854ae8e5bf9bfc59)

The fix will be available with the upcoming `2.2.10` release.

[2019-06-19 22:59] orlangur commented on #23324
Just provide the difference. No buzz :)

[2019-06-19 23:20] magento-engcom-team commented on #23238
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#23250 by @gauravagarwal1001 in 2.3-develop branch
Related commit(s):
 - [6f5fc6e747722d9549edc92da6e57c3301961af2](https://github.com/magento/magento2/commit/6f5fc6e747722d9549edc92da6e57c3301961af2)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-19 23:20] #23238 closed, assigned to gauravagarwal1001

[2019-06-19 23:20] magento-engcom-team commented on #23213
Hi @amitvishvakarma. Thank you for your report.
The issue has been fixed in magento/magento2#23216 by @amitvishvakarma in 2.3-develop branch
Related commit(s):
 - [559555c7d7d13fdbcf13738f522e9e72a4bc5e8f](https://github.com/magento/magento2/commit/559555c7d7d13fdbcf13738f522e9e72a4bc5e8f)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-19 23:20] #23213 closed, assigned to amitvishvakarma

[2019-06-19 23:20] magento-engcom-team commented on #18337
Hi @BezV8. Thank you for your report.
The issue has been fixed in magento/magento2#22942 by @geet07 in 2.3-develop branch
Related commit(s):
 - [eeae4b240ec62d69ed5848afa505c88539ff1314](https://github.com/magento/magento2/commit/eeae4b240ec62d69ed5848afa505c88539ff1314)
 - [c3955b25f4e7372cf5f73b11a9caa53a4fba2511](https://github.com/magento/magento2/commit/c3955b25f4e7372cf5f73b11a9caa53a4fba251

[2019-06-19 23:20] #18337 closed, assigned to geet07

[2019-06-20 00:07] antoinekociuba commented on #4792
For those who are still struggling on this, simple add the following setting on your main `composer.json` file, in order to force override from `magento2-base` to project filesystem during `composer update` process:

[code]

On my case, the problem was related to files from previous versions/installation which were still present/not cleared properly during the update, and then, I got the following

[2019-06-20 05:05] salehawal commented on #23296
issue was resolved, and here is the updated file that was causing the problem...
Location: app/app_jomlah.com/vendor/magento/framework/Encryption/Encryptor.php

Old Version
`
public function isValidHash($password, $hash)
{
    $this->explodePasswordHash($hash);

    foreach ($this->getPasswordVersion() as $hashVersion) {
        $password = $this->hash($this->getPasswordSalt() . $password, $hashVe

[2019-06-20 05:16] ajijshekh123 commented on #23296
Good work @salehawal.

[2019-06-20 05:21] ThakurPradeep commented on #6688
a)Firstly keep the pub/static .htaceess file backup don't remove this file
b) Remove the cache  pub/static and  generated
php bin/magento rm -rf pub/static/frontend/ var/cache var/composer_home var/page_cache var/view_preprocessed generation
c) Then run compile command
 php bin/magento setup:di:compile
d) run deploy command
php bin/magento setup:static-content:deploy -f

I hope pub/static/version1

[2019-06-20 05:23] shakthivel-p commented on #19084
@orlangur Thanks for your answer I didn't know about that.

[2019-06-20 05:46] virani06 commented on #23284
Hi Sir,

Yes it is the combination of red and yellow product.

But when any person click on red than it must be a displaed with only all red images. Not yellow which we already added in as configurable.

it is the simple logic.

http://demo-acm-2.bird.eu/breathe-easy-tank.html

By default there is white images. when we click on the pink first image replace with pink and other two(white) images are

[2019-06-20 06:35] Julen10 commented on #13466
Hi guys,
I know this still in progress but, did you solved it by doing something?
I have tried to enable the Async sending but still not receiving the Invoice mail.
Thanks a lot

[2019-06-20 06:40] arendarenko opened #23333 "Incorrect payment method translation in order emails"
### Preconditions (*)

1. Magento 2.2.8
2. Default sales email templates is used

### Steps to reproduce (*)

1. Create website with different locale than en_US (for example: fr_FR)
2. Enable "Check / Money" order payment method for French website and translate it in into "Chèque / Argent"
3. Flush cache
4. Create new order in French store view
5. Create shipment for it and set checkbox "Email Cop

[2019-06-20 07:05] engcom-Bravo commented on #23284
Ok @virani06, Your logic is quite clear and good. But another logic is possible too. I've created some test entities in Your demo instance - terribly sorry if You've been not going to allow it ). So please visit this [page](http://demo-acm-2.bird.eu/categ.html). There are two individually visible simple products Coca-Cola-Red and Coca-Cola_Yellow. If You enter them You'll be able to see only their

[2019-06-20 07:10] engcom-Bravo commented on #23223
@sims158 we are closing this issue as we can not reproduce it following the steps given. Please feel free to reopen it if You find the way to reproduce it. Thank You for applying.

[2019-06-20 07:10] #23223 closed, assigned to nobody

[2019-06-20 07:28] bart42functions opened #23334 "Adding images or links to Wysiwyg inside widget returns an error"
### Preconditions (*)

1. Magento 2.3.1
2. Add a Wysiwyg element to a widget

app/code/{Vendor}/{Module}/etc/widget.xml
[code]
app/code/{Vendor}/{Module}/Block/Adminhtml/Widget/Type/Wisiwyg
[code]

### Steps to reproduce (*)

1. Create a new CMS Page
2. Add a custom widget to the page with at least one element that implements the Wysiwyg editor.
3. Add an image or hyperlink to this wysiwyg element

[2019-06-20 08:15] #11629 closed, assigned to nobody

[2019-06-20 08:16] jalogut commented on #17824
Hi @aasim110

Did you manage to fix the issue? We are facing exactly the same after upgrading from 2.2.5 to 2.2.8

Thanks in advance.

[2019-06-20 08:19] engcom-Bravo commented on #23262
@zolthan, when I asked You to provide the the steps to reproduce You described the essence of reproduction. But I need the concrete and detailed steps that lead to reproduction. At least watch my [video above](https://github.com/magento/magento2/issues/23262#issuecomment-502071375). I did not replenish .htaccess with any rewrite conditions and everything works as expected. I just followed the step

[2019-06-20 08:19] engcom-Charlie commented on #23198
Hello @wingsoul ! Thank you for your report . Seems like link that you attached is not valid anymore, please update it .

[2019-06-20 09:27] Arkadij-MP commented on #15461
Magento 2.2.6. Of course I can see it.
_(it is written just to update the issue)_

[2019-06-20 09:27] Cyclonecode commented on #15461
This is a huge problem for me right now. Is there anyway to work around this?

[2019-06-20 09:30] Cyclonecode commented on #15461
This is a huge problem for us right now. Is there anyway to workaround this?

[2019-06-20 09:32] hostep commented on #23262
I also did some quick testing myself and couldn't reproduce the problem. I was using Apache 2.4.39 and PHP 7.2.19
Magento was in production mode and `pub` was used as documentroot.

I could see the `get.php` file being called by simply putting a `die();` statement in there and noticing the image not being generated. After removing the `die();`, the image got generated.

So it looks like everything

[2019-06-20 09:41] Cyclonecode commented on #8121
I have the same problem running magento 2.2.6. Thought this was fixed?

[2019-06-20 09:42] Vossie1975 commented on #15461
dont think this will ever be fixed.
this is second time that this problem is in Magento and i have posted this more then a year ago and no response anymore in that time.
Only sollution (what we are also working on nowe) is to stop using magento.
We are building a new webshop now on other ecommerce software becouse of this problem.

[2019-06-20 09:46] engcom-Charlie commented on #22790
Hello @apomili ! Thank you for your report . Please provide more steps to reproduce this issue .

[2019-06-20 09:48] QuentinFarizonAfrimarket commented on #21957
Got this error too when upgrading to 2.3.1
Flushing redis cache manually is a working workaround, but a permanent solution should be found.

[2019-06-20 09:48] virani06 commented on #23284
@engcom-Bravo I understand with the simple product. BUt it is the general if you are displaying fashion product when person is checking white color product why it was displaying other product.

In your option there is only just Coca Cola One vartion. If you want to add 30 product of Coca Cola Diffrent varation than in the category list page it will be a same images for all products.

I think it ne

[2019-06-20 10:23] robert-schmidt opened #23336 "Magento 2 & DB SSL"
### Preconditions (*)

1. Magento 2.3.1, PHP 7.2, Azure MariaDB 10.X

### Steps to reproduce (*)

1. Set up SSL required options in env.php (driver_options)
2. Run CLI setup:upgrade

### Expected result (*)

1. DB should be upgraded accordingly

### Actual result (*)

1. SQLSTATE[HY000] [9002] SSL connection is required. Please specify SSL options and retry.

I managed to trace the issue to Magent

[2019-06-20 10:23] cscd98 opened #23337 "Magento 2 FA - restrict requirement to specific users or outside IPs?"
### Description (*)
Enabling Magento 2 FA (Google) in Admin requires all users to use 2FA. I want to be more specific.

### Expected behavior (*)
It would be useful in the admin to only require 2 FA for:
1) Specific users (e.g. administrators) and/or
2) Specific IPs not in the exclusion list (e.g. IP outside your office)

### Benefits
Some call centre staff are not allowed to use personal phones,

[2019-06-20 10:35] Thomas-Papiernik-Insign commented on #13225
+1. Any workaround ?

[2019-06-20 10:41] shakthivel-p commented on #19084
@orlangur
I am having another doubt.

I am trying to bypass the CSRF validation for my Controller. I had seen a few workaround in the below link.

https://magento.stackexchange.com/questions/253414/magento-2-3-upgrade-breaks-http-post-requests-to-custom-module-endpoint

But I need my Module compatible with both Magento 2.2 and 2.3. So, I had overridden a core file `Magento\Framework\App\Request\Ht

[2019-06-20 10:49] engcom-Charlie commented on #23334
Hello @bart42functions ! Thank you for your report . Can you provide more steps how to reproduce this issue ?

[2019-06-20 10:56] orlangur commented on #19084
Don't think this is the right way to go. Regarding Marketplace - try reaching corresponding channels in Slack.

[2019-06-20 11:19] shakthivel-p commented on #19084
@orlangur Okay Thanks.

[2019-06-20 11:25] engcom-Charlie commented on #23337
Hello @craigcarnell ! Thank your for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-20 11:25] #23337 closed, assigned to nobody

[2019-06-20 11:57] ihor-sviziev commented on #23324
Diff really huge, but just to understand - in build 1 we have
[code]

In build 2 we have following:
[code]

All classes are present in both files, no differences between the data, just sort order is different.

I just showed for 1 custom module, but it appears for all modules, including Magento core.

[2019-06-20 11:58] acashley opened #23339 "Not possible to serve static content from different domain due to XMlHttprequest CORS"
### Preconditions (*)

1. Magento CE 2.3.x & 2.3-develop
2. nginx 1.12.2
3. PHP 7.2.19
4. Two separate vhost configs in nginx;
- Primary domain: https://www.domain.com (sitemap.local in my case)
- "CDN domain" (static content only): https://assets.cdn-domain.com (assets.sitemap.local in my case)

### Steps to reproduce (*)

1. Set "Base URL for Static View Files" and/or "Secure Base URL for Static

[2019-06-20 12:11] magento-engcom-team commented on #22231
Hi @pushpendra07, @Nazar65, @krishprakash.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [da0c7374e5dcae81735552bdd685ee5e646b8486](https://github.com/magento/magento2/commit/da0c7374e5dcae81735552bdd685ee5e646b8486)
 - [4344cc9bc34fbda80dc798ebafcf80c516788442](https:/

[2019-06-20 12:11] #22231 closed, assigned to Nazar65, krishprakash

[2019-06-20 12:11] magento-engcom-team commented on #18717
Hi @sergeynezbritskiy.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [16b6a0cb81577d82f8dc6e729c48381fc934530f](https://github.com/magento/magento2/commit/16b6a0cb81577d82f8dc6e729c48381fc934530f)
 - [2153a1d2308c9d10a749a9f3e40f7d7a16938cdd](https://github.com/magento/

[2019-06-20 12:12] navarr opened #23340 "sales_order_item_save_commit_after & sales_order_save_commit_after events do not fire for guest checkout"
This is a recreation of issue #19034, which was processed w/r/t downloadable products not properly being linked.  The solution at that time was to modify the way downloadable products work, but it did not solve the underlying architectural issue that continues to result in these events not being thrown and thus causes issues for third party modules.  I know both AvaTax and Vertex, for example, hav

[2019-06-20 12:20] engcom-Bravo commented on #23330
Hello @Filipe-Bicho. Could You please try to reproduce Your issue asking the bot for an instance of the latest 2.3-develop version as You are advised above.
![Advised](https://user-images.githubusercontent.com/51680745/59848724-89da9500-936e-11e9-9c92-c673943f03c3.png)
Thanks You.

[2019-06-20 12:20] engcom-Charlie commented on #23203
Hello @indibuyz . Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-20 12:20] #23203 closed, assigned to nobody

[2019-06-20 12:31] pixmin commented on #23296
@ajijshekh123
@salehawal  Care to explain why this change solves the problem / what was happening?

[code]

[code]

[2019-06-20 12:36] pietrogalassi opened #23341 "Unable to serialize Magento Items (Product)"
### Summary
I'm trying to serialize a magenti item (Product) on disk in order to avoid the retrieve from database (simple cache).

### Examples
$productRepository = $this->_object_Manager->get('\Magento\Catalog\Model\ProductRepository');
$product = $this->_cache->get("products", $sku);
$this->_cache->set("products", $sku, $product);

This is the called function:
function set( $catalog, $id, $obj)

[2019-06-20 12:40] engcom-Bravo commented on #23284
@virani06 seems there is some misunderstanding here: "In your option there is only just Coca Cola One vartion". Coca Cola cofigurable product had Two variations called Coca-Cola-Red and Coca-Cola_Yellow accordingly. But anyway, I'll try make Your issue be confirmed as a feature request so it can get a further attention from the developers. thank You for applying.

[2019-06-20 13:09] AndyJAllen commented on #19795
I ended up patching my PHP7.1 and downgrading to it to resolve this problem...

[2019-06-20 13:16] pocketprogrammer opened #23342 "Sort Orders not applied to Magento\Catalog\Model\CategoryList::getList result"
### Summary
`\Magento\Catalog\Model\CategoryList::getList` method does not respect searchCriteria sort orders.
This is due to calling `\Magento\Eav\Model\Entity\Collection\AbstractCollection::getAllIds` which calls `\Magento\Eav\Model\Entity\Collection\AbstractCollection::_getAllIdsSelect`.
`_getAllIdsSelect` resets the sort order and it is never again applied to the collection or search result.

[2019-06-20 13:33] engcom-Charlie commented on #23256
Hello @neha023 ! Can you confirm that you can reproduce this issue on Vanilla Magento ?

[2019-06-20 13:46] seansan commented on #23181
This issue is also reported here https://magento.stackexchange.com/questions/103864/while-creating-configure-product-its-associate-product-are-virtual-instead-of-s

More important: We dont think virtual product creation yes/no should rely solely on a missing weight

We import many many products via sheets/api and sometimes the weight is at this time not known ==> would the result then really reall

[2019-06-20 13:48] neha023 commented on #23256
Hi,

I have found that people are able to checkout via authorized.net but they
have found the issue that orders are created with cancel status in magento
2.3.1 and this issue will fixed by you guys in Magento 2.3.2 release.
So my issue is faced by some of the people not by everyone. As we have
found issue after upgrade from M2.2.5 to M2.3.1.
Same issue link I found on magento stack:
https://magent

[2019-06-20 14:26] cigogma opened #23344 "Unable to save price for configurable product."
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Import some products.
2. Price is set and is in the product list
3. When you open a configurable product.

### Expected result (*)

1. Price should be there inherit form the childs.

### Actual result (*)

1. Price dissapears and is also is erased form the product list when saved.
![image](https://user-images.githubusercontent

[2019-06-20 14:27] virani06 commented on #23284
@engcom-Bravo It is not features. it is the issue with the 2.2.x and 2.3.x  the same thing is workign with magento 2.x

You  can check the demo below link with magento 2.0.6

http://magento2.demo.ubertheme.com/breathe-easy-tank.html

It was the perfect. till magento 2.1.x

After Updating to Magento 2.2.x  There is a issue.

Please verify it with magento 2.0.x. It is not Reproduce in that version

[2019-06-20 14:32] engcom-Bravo commented on #23284
@virani06, don't You admit that images behavior was changed deliberately?

[2019-06-20 15:13] pavdan opened #23345 "Creditmemo getOrder() method loads order incorrectly"
### Preconditions (*)

1. Magento 2.3.1
2. `\Magento\Sales\Model\Order\Creditmemo::getOrder` method uses deprecated functionality. It results in wrong order state. For example, $order->getExtensionAttributes() return incorrectly filled data (some attribute values are missing)
3. Need order with creditmemo to reproduce (create any)

### Steps to reproduce (*)

1. Load creditmemo by `Magento\Sales\A

[2019-06-20 15:29] joachimVT commented on #14495
This issue should be reopened I am having the exact same erorr as @nans  after adding extra fields to customer grid by adding customer_listing.xml

When Choosing all customers and press on button Export -> CSV -> Export
Actual result: csv file with data;
Expected result: csv file with data

When you don't check any checkbox it gives the following issue:

![Schermafbeelding 2019-06-20 om 17 27 24](

[2019-06-20 16:07] fascinosum commented on #4329
hi @srinivasanithin, we recommend using the following API endpoints
`POST /V1/invoice/:invoiceId/refund`
`POST V1/order/:orderId/refund`
This should solve the initial issue

[2019-06-20 16:19] TomashKhamlai opened #23346 "'Test Connection' button is over-spanned"
### Preconditions (*)

1.No preconditions

### Steps to reproduce (*)

1. Navigate to Stores > Settings > Configuration > Catalog > Catalog > Catalog Search
2. Set **Search Engine** to any **Elastic...**
3. Find **Test Connection** button and inspect it

### Expected result (*)

1. Structure button > span
[code]

### Actual result (*)

1. Structure button > span > span > span
[code]

[2019-06-20 16:22] zolthan commented on #23262
It could be a crappy Apache config. The server with the mentioned problem is not managed by us, so I can‘t see the complete configuration.

But what I don’t understand is, how the redirect to  get.php is working without the redirect? For nginx there is an explicit redirect. Could you show M.E. how that works?

[2019-06-20 16:45] sdzhepa commented on #23314
Hi @issueReporter1111, @allFromAssignees111

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-XXXX` was closed as `non-reproducible` in `release line`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** or the issue has been already fixed in the scope of other tasks.

But if

[2019-06-20 17:15] youphp commented on #15935
@kapil-infobeans I encountered this bug in magento 2.2.6. This bug almost deleted all product data in my store.
I am the database backup on June 14. I tried to restore to this database and export all product data and then import, but since I migrated the product data from magento1.9, I have encountered a lot of import errors. So I gave up this method to restore my product. I want to restore my pro

[2019-06-20 17:38] magento-engcom-team commented on #23314
Hi @slavvka.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17585` was closed as `non-reproducible` in `2.2`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem please provi

[2019-06-20 17:45] magento-engcom-team commented on #23314
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17585` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem

[2019-06-20 17:47] magento-engcom-team commented on #23314
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17585` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem

[2019-06-20 17:47] magento-engcom-team commented on #23314
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17586` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem

[2019-06-20 18:07] mrpatrick commented on #10818
This doesn't appear to be fixed - We are still seeing the issue in v2.2.3.  I also don't see any reference to the fix in the CHANGELOG.  Can't someone point me to where this was fixed?

[2019-06-20 18:07] mrpatrick commented on #10942
This doesn't appear to be fixed - We are still seeing the issue in v2.2.3.  I also don't see any reference to the fix in the CHANGELOG.  Can't someone point me to where this was fixed?

[2019-06-20 18:16] hostep commented on #23262
@zolthan: the rewrite is in [the `pub/media/.htaccess` file](https://github.com/magento/magento2/blob/bfa0fd440c499ceb6016e78f21599db89ece6306/pub/media/.htaccess#L18-L37), maybe you accidentally deleted that file?

[2019-06-20 18:31] salehawal commented on #23296
not the first time, i had this issue with other project unrelated to magento, you may include a php expert to explain in depth, i just know that this is the way to fix it (:

[2019-06-20 19:38] sdzhepa commented on #20571
Hello @tuyennn , @craigcarnell

Thank you for your report and collaboration!

All related to this Issue internal Jira ticket(`MAGETWO-97907`, `MAGETWO-97908`) were closed by Magento team as `Cannot Reproduce` because already fixed in
- https://github.com/magento/magento2/commit/f3bd0c2f16e038f687ba40ed2a575b04698ccd76

But if you still run into this problem please update or provide additional info

[2019-06-20 19:38] #20571 closed, assigned to nobody

[2019-06-20 19:43] hostep commented on #23334
Just cross-linking a 3rd party module which had a similar problem and got it fixed in the meanwhile: https://github.com/Magenerds/PageDesigner/issues/37 (not sure if this is helpful though)

[2019-06-20 20:34] magento-engcom-team commented on #12099
Hi @quentinfarizon.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-83450` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into th

[2019-06-20 20:34] #12099 closed, assigned to nobody

[2019-06-20 20:34] magento-engcom-team commented on #14494
Hi @raymond62.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94698` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pr

[2019-06-20 20:35] magento-engcom-team commented on #17583
Hi @simonworkhouse.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94748` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into th

[2019-06-20 20:35] #17583 closed, assigned to nobody

[2019-06-20 20:35] magento-engcom-team commented on #21487
Hi @Zyles, @Jitheesh, @krishprakash.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-99900` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you

[2019-06-20 20:35] magento-engcom-team commented on #22468
Hi @Hailong, @Hailong, @mikebox.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-99931` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you stil

[2019-06-20 20:35] magento-engcom-team commented on #15427
Hi @BezV8.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-97869` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this proble

[2019-06-20 20:35] magento-engcom-team commented on #9136
Hi @SinisterGlitch.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-82045` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into th

[2019-06-20 20:35] #9136 closed, assigned to nobody

[2019-06-20 20:35] magento-engcom-team commented on #8933
Hi @w130pmpo.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94684` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pro

[2019-06-20 20:36] magento-engcom-team commented on #18263
Hi @CD0001.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-95267` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this probl

[2019-06-20 20:36] #18263 closed, assigned to nobody

[2019-06-20 20:37] magento-engcom-team commented on #14494
Hi @raymond62.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94699` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pr

[2019-06-20 20:37] #14494 closed, assigned to nobody

[2019-06-20 20:37] magento-engcom-team commented on #10061
Hi @wjhuebner.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-83325` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pr

[2019-06-20 20:37] #10061 closed, assigned to nobody

[2019-06-20 20:37] magento-engcom-team commented on #11574
Hi @tstamplis.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-82411` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pr

[2019-06-20 20:37] #11574 closed, assigned to nobody

[2019-06-20 20:37] magento-engcom-team commented on #13724
Hi @ankursachdeva11.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94535` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into t

[2019-06-20 20:38] magento-engcom-team commented on #11568
Hi @Silarn.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-82380` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this probl

[2019-06-20 20:38] magento-engcom-team commented on #15641
Hi @Gaboemmi.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93861` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pro

[2019-06-20 20:38] magento-engcom-team commented on #16424
Hi @BabliDey, @somat211.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93602` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run in

[2019-06-20 20:38] magento-engcom-team commented on #6456
Hi @heldchen.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-58142` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pro

[2019-06-20 20:38] #6456 closed, assigned to nobody

[2019-06-20 20:38] magento-engcom-team commented on #9486
Hi @justinsamuel92, @ansukhorukova, @Deep256.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-70217` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

Bu

[2019-06-20 20:38] magento-engcom-team commented on #14912
Hi @jasperzeinstra.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93625` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into th

[2019-06-20 20:38] magento-engcom-team commented on #16368
Hi @matin73.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93620` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this prob

[2019-06-20 20:39] magento-engcom-team commented on #19469
Hi @vbuck, @slackerzz.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-96971` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into

[2019-06-20 20:39] magento-engcom-team commented on #16786
Hi @iGerchak, @mitalikundale.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93518` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still r

[2019-06-20 20:39] magento-engcom-team commented on #14541
Hi @Detzler.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94717` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this prob

[2019-06-20 20:40] magento-engcom-team commented on #16368
Hi @matin73.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93621` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this prob

[2019-06-20 20:40] #16368 closed, assigned to nobody

[2019-06-20 20:40] magento-engcom-team commented on #14674
Hi @mariamghalleb.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93481` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into thi

[2019-06-20 20:40] magento-engcom-team commented on #16440
Hi @lbajsarowicz, @geet07.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93607` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run

[2019-06-20 20:40] magento-engcom-team commented on #15864
Hi @hostep.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-92580` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this probl

[2019-06-20 20:40] magento-engcom-team commented on #20386
Hi @ppostma1.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-97817` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this pro

[2019-06-20 20:41] magento-engcom-team commented on #14958
Hi @LlZARD, @Bartlomiejsz.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93931` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run

[2019-06-20 20:41] magento-engcom-team commented on #5191
Hi @paulespino.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-55125` was closed as `non-reproducible` in `2.3.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this p

[2019-06-20 20:41] #5191 closed, assigned to nobody

[2019-06-20 20:41] magento-engcom-team commented on #18195
Hi @mahsn, @rodrigowebjump, @mahsn, @slavvka, @engcom-backlog-nickolas.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-95202` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the

[2019-06-20 20:42] magento-engcom-team commented on #15545
Hi @rsulym.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-94602` was closed as `non-reproducible` in `2.2.x`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean or the issue has been already fixed in the scope of other tasks.

But if you still run into this probl

[2019-06-20 22:32] trucatchtraps commented on #22251
I finally was able to remove the required * for the email address, but now when I try to place an order without an email address, I receive the following errors.

The value of attribute "Email" must be set
Validation is failed.

[2019-06-20 23:13] dandelionred commented on #17634
Just got this cache disabled mystery in 2.3.1. Thanks for the fix

[2019-06-21 00:13] magento-engcom-team commented on #23285
Hi @nishantjariwala. Thank you for your report.
The issue has been fixed in magento/magento2#23286 by @nishantjariwala in 2.3-develop branch
Related commit(s):
 - [248594043e9e2ed2b72c3cb78a0cafc27dcc69c7](https://github.com/magento/magento2/commit/248594043e9e2ed2b72c3cb78a0cafc27dcc69c7)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-21 00:13] #23285 closed, assigned to nishantjariwala

[2019-06-21 00:13] magento-engcom-team commented on #23266
Hi @JeroenVanLeusden. Thank you for your report.
The issue has been fixed in magento/magento2#23267 by @JeroenVanLeusden in 2.3-develop branch
Related commit(s):
 - [6e497a6b13fad5b01dcc9f33da6537f906b33537](https://github.com/magento/magento2/commit/6e497a6b13fad5b01dcc9f33da6537f906b33537)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-21 00:13] #23266 closed, assigned to Jeroenll

[2019-06-21 00:32] heldchen commented on #15559
same problem on 2.3.1: sending password recovery emails from the backend results in wrong asset urls.

@chipsmaster thanks for the workaround example code. unfortunately I found that it requires even more tweaking than this, as the `locale` isn't properly set. my workaround was to enforce the new emulated store's locale by adding it to `$params` in a `updateDesignParams` override.

[2019-06-21 01:33] bbaulos opened #23348 "Connection was reset"

[2019-06-21 01:37] michaelwylde commented on #23146
This issue has been resolved in https://github.com/magento/magento2/pull/23100 targetted for 2.3.3 release

[2019-06-21 01:37] #23146 closed, assigned to nobody

[2019-06-21 03:56] dbashyal commented on #21667
I am also seeing same tons of warnings on Magento EE ver. 2.3.1.

[2019-06-21 04:56] ajijshekh123 commented on #23348
Give me @magento give me 2.3-develop instance

[2019-06-21 04:57] magento-engcom-team commented on #23348
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-21 04:57] magento-engcom-team commented on #23348
Hi @ajijshekh123, here is your [Magento instance](https://i-23348-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23348-2-3-develop.instances.magento-community.engineering/admin](https://i-23348-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 04:59] VjIntesols opened #23349 "Parameters for "method":"ewayrapid" - in payment-information API call"
After referring to the document (Ref: https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-create-order.html#send-payment)

I understood we need to pass the payment method while creating the order.

So, when I pass the parameters as:
{
  "billing_address": {
    "region": "Victoria",
    "region_id": 539,
    "region_code": "VIC",
    "country_id": "AU",
    "street": [
      "Dande

[2019-06-21 05:15] ajijshekh123 commented on #23348
Give me @magento give me 2.2-develop instance

[2019-06-21 05:15] magento-engcom-team commented on #23348
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-21 05:15] milindsingh commented on #23342
Hi @pocketprogrammer As I can see the select object cloned with the original. I don't think it should cause any issue with the original.

[2019-06-21 05:15] magento-engcom-team commented on #23348
Hi @ajijshekh123, here is your [Magento instance](https://i-23348-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23348-2-2-develop.instances.magento-community.engineering/admin](https://i-23348-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.