[2016-10-01 08:30] micwallace commented on #4546
Issue still exists in version 2.1.1. So far Magento 2 isn't inspiring confidence :-(

[2016-10-01 10:28] dgdevendra45 commented on #5802
main.CRITICAL: exception 'ReflectionException' with message 'Class Magento\Catalog\Model\Product\Attribute\Backend\Media does not exist' in /var/www/project/vendor/magento/framework/Code/Reader/ClassReader.php:19

Same here, you people find any solution?

[2016-10-01 10:44] milinka opened #6832 "Store Default Currency still have old currencies"
### Preconditions

1.  Store Default Currency still have old currencies: FIM (Markka).
2.  Magento version 2
### Steps to reproduce

1. Start magento installation
2. Process to step: Step 4: Customize Your Store
3. Click to drop down for default currency: FIM (Markka).
### Expected result

1. FIM (Markka) Should be removed. Finland has moved to EUR in 2001
### Actual result

1. [Screenshot, logs]

[2016-10-01 12:05] karthigesh commented on #2855
how would i find the cron is running or not

[2016-10-01 14:39] skhell opened #6835 "Cannot access backend - Exception #0 (Exception): Notice: unserialize(): Error at offset 4161 of 7401 bytes"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

I needed to delete the database and restore it from a mysql dump file in development mode.
After that I did:
1. php bin/magento setup:upgrade
2. php bin/magento cache:clean
3. php bin/magento cache:flush
4. php bin/magento setup:static-content:deploy
### Expected result

1. Open the backend

On the frontend everything is fine, just the ba

[2016-10-01 14:51] lucscu commented on #6018
@andidhouse How do you implement magic zoom? Do you install a 3rd part extension or manually?

[2016-10-01 15:07] skhell commented on #6835
If I empty the "extra" column in admin_user table in SQL I can login again successfully from backend

[2016-10-01 19:41] dmcmillin opened #6836 "Magento 2.1.1 accordion nested with blocks causes cms page to display weird heights"
### Preconditions

1. production version of magento 2.1.1
2.
### Steps to reproduce
1. install 2.1.1
2. create 7 blocks filled with normal webpage content spanning 1200px+ worth of content in each
3. create base block with normal content
4. call accordion ui via

[code]

1. using multiple times as part of schema

[code]
### Expected result

1.  There should be no spacing and neatly filled accordio

[2016-10-01 22:26] Ctucker9233 commented on #4623
@pboisvert Thank you for taking this seriously.

[2016-10-01 22:45] Ctucker9233 commented on #6743
I have this problem too. Same preconditions as OP. When I get the error, I try to re-assign images and save again. Even then sometimes it won't let me save. I have to go out of the catalog and back in and I usually have to recreate the product.

[2016-10-01 23:32] nht48823 commented on #5352
I have spend the entire day trying to get this to work without any success. I am on ver 2.1.1 brand new installation  this functionality worked with previous version, I am confused to why mess with something that worked.
anyway - I upload the image in the backend since the upload doesnt actuly upload the file, I click to view the file path i see - pub/media/email/logo/stores/1/logo_email_2.png - I

[2016-10-02 06:43] mrkhoa99 commented on #5352
@nht48823 Seem that Google will don't show image without `https`. We should inspect the image link, and go to this image, if it exists, your logo image is correct.

[2016-10-02 09:39] johnnywokka commented on #1691
any update at all??

[2016-10-02 10:13] paales commented on #6800
Hi @sonywibisono,
1. To get help getting your installation up and running, you can ask questions on http://magento.stackexchange.com/ and https://community.magento.com/.
2. To request a new feature visit https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests
3. To report a bug, create an issue here on GitHub following the format in this file; https://github.com/mage

[2016-10-02 10:28] Serhiy-Nazarov opened #6841 "Category products filter error"
### Preconditions
1. Magento CE 2.1.1 without sample data is installed.
2. Test category is set up (Anchor: "Yes", Dispaly mode: "Product only")
3. Test products is created and set up (3 products with diffrent visability: "Catalog", "Search", "Catalog, Search")
4. Setup catalog:
   4.1. Configuration -> Catalog -> Catalog -> Products per Page on Grid Allowed Values = "2,3"
   4.2. Configuration ->

[2016-10-02 11:54] developer-lindner commented on #2619
Still broken in Version 2.1.1. Will there be a fix available for such crucial stuff somewhen?!

[2016-10-02 13:40] #6835 closed, assigned to nobody

[2016-10-02 14:08] Lielcw commented on #6769
Nobody a solution to fix this?

[2016-10-02 19:22] stamster commented on #6829
Try to increase memory_limit to 768MB, and max_execution_time to 600s.
Before doing that, make sure your DB is cleared (i.e. all tables dropped).

[2016-10-02 19:28] paales commented on #6823
@devdesco-ceo It seems there is a problem with the Porto theme not being compatible with Magento 2.1.1. The best course of action would be to contact the maintainer of the Porto theme.

[2016-10-02 20:15] devdesco-ceo commented on #6823
Thank you! I will check in with the Porto developers. By the way,
what should be the code piece for addtocart.phtml in M2.1.1?

[2016-10-02 20:52] paales opened #6843 "PriceBox has wrong cache key with configurable products and tier prices"
### Preconditions

1. Magento 2.1.0
### Steps to reproduce

1. Create a configurable product with tier prices
### Expected result

1. List price should show the lowest price
2. Product view `data-price-amount="xxx"` should show the actual price, not the lowest tier price.
### Actual result

1. Whichever is loaded first is cached. If the product view page is loaded first the category listing shows

[2016-10-03 02:10] dmcmillin opened #6844 "javascript randomly fails to load on 2.1.1"
### Preconditions

1. 2.1.1
2. utilizing luma
3. centos
### Steps to reproduce

1. install CE 2.1.1
2. utilize luma theme
3. utilize cache
### Expected result

1. javascript should load 100% of the time.
### Actual result

1. At random times the javascript doesn't load

[2016-10-03 02:37] epadmin opened #6845 "Creating a New Product Makes Existing Products Not Found"
### Preconditions

1. using Magento 2.1.1
2. Every time I add a new product, my existing products disappear for a while and a " We're sorry, an error has occurred while generating this email." message appears where tthe featured products should be shown.
3.  I have the cache settings all turned off.
4.  I have tried reindexing and it does not solve the problem.
5. You can tell it still knows the p

[2016-10-03 03:56] brideo commented on #2671
Thanks for re-opening @jamescowie, I'm seeing this in Magento 2.1.0 too. Has anybody found a workaround for the time being?

[code]

[2016-10-03 04:42] develpr commented on #3552
In my opinion it seems that the customer authentication should to suffice to return a list of orders for the authenticated Customer.

[2016-10-03 04:56] pitangaweb commented on #6337
I can confirm that I'm not able to translate contact page and checkout success page titles. I put the translations in app\code\Magento\Contact\i18n\fr_FR.csv and app\code\Magento\Checkout\i18n\fr_FR.csv, regenerated static files, but it does not help.

[2016-10-03 05:52] kapeel45 opened #6846 "Indian Currency Symbol is not shown up correctly"
### Preconditions

### Steps to reproduce

1. Go to Currency
2. Indian Standard Currency will be decoded one
3. For now i m using RS.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-10-03 06:07] irenelagno commented on #6704
@sasilinux , @ronnybremer , @hostep Fix for this issue was delivered to develop branch in the scope of b046944

[2016-10-03 06:43] cizgidekiadam opened #6847 "Subtotal not including tax on cart summary"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Configure tax display settings to include tax in everything
### Expected result

1. Subtotal with including tax
### Actual result

1. Minicart working fine but subtotal in summary is not working
   ![image](https://cloud.githubusercontent.com/assets/4427628/19029240/1c0b60a0-894d-11e6-9be4-851a823febf3.png)
2. Shopping Cart<br/>
   ![i

[2016-10-03 06:56] ytorbyk opened #6848 ""Credit memo" button is available for invoice which already is refunded"
### Preconditions
1. Magento 2.2.0-dev with sample data
2. Braintree payment method configured and enabled (with sandbox credentials)
3. "Authorize only" payment action is set for Braintree
### Steps to reproduce
1. Log in
2. Add to the shopping cart at lead two products
3. Go to checkout and place order with Braintree payment method
4. Go to admin panel
5. Create two separate invoices (partial in

[2016-10-03 06:59] basselalaraaj commented on #6337
@sevos1984 i did that, still not translatable.

[2016-10-03 07:18] ytorbyk opened #6849 "Invoice Id is not stored into credit memo DB record"
### Preconditions
1. Magento 2.2.0-dev with sample data
2. Braintree payment method is configured and enabled
3. "Authorize" payment action is set for Braintree

### Steps to reproduce
1. Log in
2. Add at least two product into the shopping cart
3. Place order with Braintree payment method
4. Go to admin panel
5. Create two separate invoices (partial invoices) for the order
6. Open each of them an

[2016-10-03 07:29] redboxmarcins opened #6850 "Performance problem with product collection (media/gallery data)"
### Preconditions

1. Present in all versions (2.0.x and 2.1.x)
2. Easy to replicate, but problem appeared as we have over 100k products
### Steps to reproduce

1. Enable mysql slow query log or use profiler
2. Visit any product listing page
3. Observe one query appearing over and over again
### Expected result

1. Page loads quickly and there are no large repeated queries
### Actual result

1. Th

[2016-10-03 07:49] AntonEvers commented on #5350
I scripted @jasonyip2014's answer to:

[code]

[2016-10-03 07:59] veloraven commented on #6846
@kapeel45 thank you for your feedback,
Please provide expected and actual result.
Please also provide exact and detailed steps you do including path to the section in Admin area, e.g. 'Open Stores -> Configuration -> ...' . As now it is hard to understand what is your exact problem is.

[2016-10-03 08:04] SahakTadevosyan opened #6851 "Using the WYSIWYG removes URL in the description"
We are having a weird issue with the WYSIWYG editor when editing products.
Our magento version is Magento CE 2.1.0.

If we select the "Show / Hide Editor" it will change our default code.

It deletes the value in the "media url" and we are left with a broken image link.

Expected result:
 image src="{{media url="wysiwyg/Products/AudioQuest/audioquest.jpg"}}"

Actual result:
image src="{{media url=

[2016-10-03 08:21] veloraven commented on #6845
@epadmin thank you for your report.
Could you please provide more detailed steps on:
- how you add a new product;
- how do you add 'featured products'.
  Please describe your actions step by step.
  Please also provide information about your environment: operating system, versions of PHP, MySQL and web server.

[2016-10-03 08:21] apurv-anand commented on #6816
Need attention on this please.

[2016-10-03 08:21] hkbittla commented on #6846
Me also facing the same issue with Indian Currency, its not showing,

steps to produce ->

in admin Go to Stores ->Currency Symbols

![image](https://cloud.githubusercontent.com/assets/22587341/19031226/819d6daa-8970-11e6-9c2f-cf1689b3bbf1.png)

[2016-10-03 08:30] ilol commented on #1691
Discussing ETA with the development team.

[2016-10-03 08:45] kandy commented on #6850
Internal tocket https://jira.corp.magento.com/browse/MAGETWO-58320

[2016-10-03 08:50] lucscu commented on #5903
@flecxie Your attached files is wrong, is different from [file fixed](https://github.com/magento/magento2/blob/133dd81e9e5711c87c138c142959fd7acfea02af/app/code/Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/cc-form.js).
Please remove it from your post and let the user download github original.

[2016-10-03 09:14] sevos1984 commented on #6751
To sort by tier price you should set tier_price attribute for sorting but there is an issue on that. Internal ticket MAGETWO-59234. Thanks for reporting.

[2016-10-03 09:22] paales commented on #6751
@sevos1984 I think it should just sort by minimal price, what if there is a special price, the same issue applies, right?

[2016-10-03 09:23] sevos1984 commented on #5925
Have you run customer grid index after upgrade?

[2016-10-03 09:24] sevos1984 commented on #6512
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-03 09:24] #6512 closed, assigned to sevos1984

[2016-10-03 09:25] veloraven commented on #6844
@dmcmillin thank you for your feedback.
Do you use any extensions?
Are there any errors?
Have you done static deploy?
_php bin/magento setup:static-content:deploy_

[2016-10-03 09:29] veloraven commented on #6830
@jtw372 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-03 09:31] epadmin commented on #6845
I wonder if this is the same problem or related to https://github.com/magento/magento2/issues/6799

-------- Original Message --------
Subject: Re: [magento/magento2] Creating a New Product Makes Existing
Products Not Found (#6845)
From: Olga Moyseyenko notifications@github.com
Date: Mon, October 03, 2016 3:21 am
To: magento/magento2 magento2@noreply.github.com
Cc: epadmin admin@elemeno-pee.com,

[2016-10-03 09:33] epadmin commented on #6845
I tried attaching a .swf video file to show the process but github won't take it.  I can email directly if it would help.   Essentially products>catalog click Add product
Fill out the info hit save
Go to add configurations section and click there, select the attributes, go through that process which takes you back to parent product page and hit save
Change stock status to in stock hit save
Go to e

[2016-10-03 09:35] AntonEvers commented on #5339
Yes I also fixed this by creating my own attribute model and adding the unsetData at __sleep():

[code]

And after that putting this model in the eav_entity_type table (attribute model = "Example\Module\Model\Entity\Attribute" with my custom entity. This solves the issue like @romainruaud said.

[2016-10-03 09:39] sevos1984 commented on #5152
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-03 09:39] #5152 closed, assigned to sevos1984

[2016-10-03 09:39] sevos1984 commented on #5111
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-03 09:39] #5111 closed, assigned to sevos1984

[2016-10-03 09:40] sevos1984 commented on #4656
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-03 09:40] #4656 closed, assigned to sevos1984

[2016-10-03 09:42] sevos1984 commented on #5893
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-03 09:42] #5893 closed, assigned to sevos1984, antboiko

[2016-10-03 09:53] AlexandreKhayrullin opened #6852 "Password creation/reset link not working on certain timezones"
### Preconditions
1. Set the timezone to America/Santiago.
### Steps to reproduce
1. Create a new customer or update an existing one in the backend. An e-mail will be sent.
2. In the received e-mail, click on the link for creating or resetting a password.
### Expected result
1. The user is redirected to the form where they can enter their new password.
### Actual result
1. A session message pops-u

[2016-10-03 09:55] czettnersandor commented on #2647
I found this issue by having the same problem with phpcs. I used global phpcs, when I switched to phpcs supplied in the Magento installation directory, it's giving me the same error.

First, I had to give it executable flag:

[code]

When I run it:

[code]

I get back these results:

[code]

Around line 23 of Setup/InstallSchema.php looks like this:

[code]

Also, Data.php function comment is pres

[2016-10-03 10:07] naveen433 opened #6853 "crypt module issue"
### Preconditions

1. PHP 7.0.11
2. Mysql 5.7.15
3. httpd 2.4.6
### Steps to reproduce

1. [ERROR] Exception: Warning: mcrypt_module_open(): Could not open encryption module in /var/www/html/magento2/lib/internal/Magento/Framework/Encryption/Crypt.php on line 54 in /var/www/html/magento2/lib/internal/Magento/Framework/App/ErrorHandler.php:61
2. #0 [internal function]: Magento\Framework\App\ErrorHa

[2016-10-03 10:10] digitalpianism commented on #824
For those who are interested in reindexing from the backend: https://github.com/digitalpianism/reindex

But again as William said: "Indexing has become a background operation with automatic consideration for partial or full re-indexing" so don't use this module if you have SSH access as you will run into a lot of problems with your store if you do not have Magento's cron scheduler set up and runni

[2016-10-03 10:12] miakusha commented on #6704
Closed as already fixed

[2016-10-03 10:12] #6704 closed, assigned to nobody

[2016-10-03 10:15] MarkB42 opened #6854 "[2.1.1CE] C# SOAP/WSDL - Cannot Generate WSDL based Objects in Visual Studio"
The protected SOAP endpoints prevent Visual Studio from generating the necessary intermediate files to write software against
### Preconditions
1. Mage 2.1.1
2. PHP 7.0.11
3. Visual Studio 2015 CE
### Steps to reproduce
1.  Enable "Allow Anonymous Guest Access" against the store
2.  Create an Integration account with "Resource Access: All"
3.  Open Visual Studio -> Add Service Reference.
4.  Use u

[2016-10-03 10:15] miakusha commented on #5323
Closed as already fixed in #6704

b046944

[2016-10-03 10:15] #5323 closed, assigned to nobody

[2016-10-03 10:17] PascalBrouwers opened #6855 "Create order via backend doesn't work after using NL translation for order-header"
1. Magento version 2.1.0 and 2.1.1
2. PHP 7.0.11
### Steps to reproduce
1. Install Magento with your own language (e.g. nl_NL) and make sure your account is in your language (nl_NL)
2. Add a translate csv for 'order-header' for your own language (nl_NL.csv):
   order-header,orderkop,module,Magento_Sales
3. Run static content for your own language: setup:static-content:deploy nl_NL
### Expected res

[2016-10-03 10:35] KevinMace commented on #5871
I'm seeing the same issue on 2.1.1 EE

[2016-10-03 10:48] TienYiChi commented on #5762
Hi guys, try this:
 check the stock status for each subproduct. At least one should be "In Stock", otherwise you get this error. This worked for me.

[2016-10-03 10:51] staffrob commented on #5762
Hi TienYiChi,
Now sell out of the FIRST product option (the associated simple product with the lowest id), does this still work for you?

[2016-10-03 11:27] sevos1984 commented on #6732
That is an improvement and in backlog already, tiket MAGETWO-46425. At the moment magento can't remove themes from db if it was removed/moved from file system.

[2016-10-03 11:32] veloraven commented on #6824
@springimport thank you for your question.
However, the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-10-03 11:32] #6824 closed, assigned to nobody

[2016-10-03 11:43] veloraven commented on #6852
@AlexandreKhayrullin thank you for your report.
Please, identify which version of Magento you are running.

[2016-10-03 11:44] veloraven commented on #6851
@SahakTadevosyan thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-03 11:48] veloraven commented on #6815
@karthigesh thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-03 12:00] sevos1984 commented on #6688
@ankursachdeva11 This is not a bug, this option is set in config Stores>Configuration>Advanced>Developer>Sign Static Files (dev_static_sign).

[2016-10-03 12:01] #6688 closed, assigned to nobody

[2016-10-03 12:19] sevos1984 commented on #6685
This looks like Store Manager issue as you can't set suffix for product explicitly on product page.

[2016-10-03 12:19] shiftedreality commented on #6718
Hi @dmaciej,

Thank you for submission. I created internal ticket MAGETWO-59256 to investigate and fix this issue.

[2016-10-03 12:26] sdzhepa commented on #6346
@Cacasapo Fix for this issue was delivered to develop branch. Pls feel free to chech it in develop and reopen if need
- Fix for Magento 2.1 will be delivered late in scope of internal ticket `MAGETWO-59248`
- Fix for Magento 2.0 will be delivered late in scope of internal ticket `MAGETWO-59249`

[2016-10-03 12:26] #6346 closed, assigned to nobody

[2016-10-03 12:32] jtw372 commented on #6685
I would have thought that as well, however, after a brand new, fresh install w/o using Store Manager, I have the same problem.  I imported using a csv file on the newest import.

[2016-10-03 12:37] sdzhepa commented on #6116
@ladonenko Fix for this issue was delivered to develop branch. Pls feel free to chech it in develop and reopen if need
- Fix for Magento 2.1 will be delivered late in scope of internal ticket `MAGETWO-58571`

[2016-10-03 12:37] #6116 closed, assigned to nobody

[2016-10-03 12:47] veloraven commented on #6383
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-03 12:47] #6383 closed, assigned to nobody

[2016-10-03 12:54] veloraven commented on #6579
I'm closing this issue as it is not in scope of GitHub issues and should be resolved via Support.

[2016-10-03 12:54] #6579 closed, assigned to nobody

[2016-10-03 13:17] shiftedreality commented on #6736
Hi @mitulispace

Is it Composer or GIT installation?

[2016-10-03 13:27] shiftedreality commented on #6735
Hi @mattcoz

Fix for issue you linked already included into 2.1.1 https://github.com/magento/magento2/commit/8b807696a9d2451516666c8ce91e982d6d94d6a4
Please create new issue if you still experience this problem on latest 2.1.1

Closed.

[2016-10-03 13:27] #6735 closed, assigned to nobody

[2016-10-03 13:33] sevos1984 commented on #6694
Internal ticket created MAGETWO-59258. Thanks for reporting.

[2016-10-03 13:47] veloraven commented on #6845
@epadmin do you mean you use some side extension for 'featured products'?

[2016-10-03 13:49] shiftedreality commented on #6653
HI @venkyc07

It looks like you don't have json_\* functions compiled in your PHP.
Please refer to this advice http://stackoverflow.com/questions/18239405/php-fatal-error-call-to-undefined-function-json-decode

Closed.

[2016-10-03 13:49] #6653 closed, assigned to nobody

[2016-10-03 13:53] veloraven commented on #6306
@bachlee89 please identify which version of Magento you are running.

[2016-10-03 13:53] SahakTadevosyan commented on #6851
@veloraven Thank you for your response. I updated the issue how you mentioned.

[2016-10-03 14:02] 100php opened #6857 "Shipping Methods show rate 0"
Magento Version :: 2.1.1
Sample Database

Admin Shipping methods setting ::

![image](https://cloud.githubusercontent.com/assets/8121471/19039547/16f35ea0-899e-11e6-815a-3f495b933fc6.png)
1. Flat rate has price and handling fee both
2. Free shipping is also enabled
3. All other methods are disabled

The API we use in checkout to fetch shipping methods is "rest/V1/carts/6/estimate-shipping-methods"

[2016-10-03 14:07] olysenko commented on #3307
Hi, we implemented and delivered into develop branch new services
- /V1/order/:orderId/invoice,
- /V1/order/:orderId/ship,
-  /V1/invoice/:invoiceId/refund,
- /V1/order/:orderId/refund

Our new services provide  corresponding order status changes after invoice/ship/refund operation.
We believe these changes will be also back-ported with Magento versions 2.1.3 and 2.0.11
More info see in [devdocdra

[2016-10-03 14:12] sma09sjb commented on #6793
Hi,

I'm using the default MySQL adapter.

Thanks,

Sophie

[2016-10-03 14:16] janepoltoratskaya commented on #5903
@LucScu the original file has an issue as well. If your Braintree configuration doesn't include PayPal and the Braintree is only payment method, the CC fields are not initialized.

[2016-10-03 14:22] ghost opened #6858 "DatePicker date format does not reflect user's locale"
### Preconditions

Magento 2.1.1
### Steps to reproduce

Find any date field in Magento, e.g. customer edit form Date of Birth, and choose a date.
### Expected result

The date is in the current user's locale's standard date format.
### Actual result

The date is in the format mm/dd/yyyy.

[2016-10-03 14:24] SerhiyShkolyarenko commented on #4301
Reproduced the issue on 2.0.9. Ticket for backporting fix is MAGETWO-57341. Thanks everybody for taking part!

[2016-10-03 14:27] lucscu commented on #5903
@janepoltoratskaya i just see it now. So how we have to fix it? with flecxie file it works correctly?

[2016-10-03 14:32] janepoltoratskaya commented on #5903
@LucScu I've created a ticket #6827 about that case with my solution. It works on our installation. Feel free to review it.

[2016-10-03 14:42] erikhansen commented on #4506
@devdesco-ceo Thanks for sharing. I've confirmed that turning on bundling in 2.1.1 results in a ~4.3MB file (~900KB compressed).

![09-31-26 checkout-p9mdy](https://cloud.githubusercontent.com/assets/129031/19041099/5f57d70e-894c-11e6-8792-4fb5f5825c5e.png)

As a point of reference, if you visit a 2.1.1 homepage with bundling turned _off_, the page will return 120+ JS files that are 1.9MB uncompre

[2016-10-03 14:49] heldchen commented on #2671
@brideo your notice exceptions are from a different module, you should create another issue or ask enterprise support for a fix.

[2016-10-03 14:50] #3307 closed, assigned to nobody

[2016-10-03 14:52] SerhiyShkolyarenko commented on #4872
@rafaelstz performed that steps on 2.0.9 and didn't reproduce the issue in default mode. Do you have a message 'You added ... to your shopping cart.'?
Any other ideas on steps to reproduce?

[2016-10-03 14:55] sevos1984 commented on #6634
Internal ticket created MAGETWO-59267. Thanks for reporting

[2016-10-03 15:22] shiftedreality commented on #6724
Hi @d4gh0s7

There is another structure of 2.1.1 https://github.com/magento/magento2/blob/2.1.1/app/code/Magento/Store/Model/StoreManager.php
And it's not using `StoreWebsiteRelationInterface.php`
Could you please re-check which version do you use?

[2016-10-03 15:33] SerhiyShkolyarenko commented on #6392
@bartek9007 please also provide DownloadableSampleUrlProviderInterface code for clean experiment.

[2016-10-03 15:40] rickwhitehead commented on #4184
@piotrekkaminski @tanya-soroka how do we get involved please?

[2016-10-03 15:52] versdivers commented on #5969
I'm still having this issue with 2.0.9. I can not update further at this point because its a live website.
Anyone fixed this?

[2016-10-03 15:54] sevos1984 commented on #6627
Internal ticket created MAGETWO-59279. Thanks for reporting

[2016-10-03 15:55] melnikovi commented on #5191
I'm closing this issue as we didn't get response in 2 weeks. If the problem still exists, please feel free to reopen

[2016-10-03 15:58] versdivers commented on #4379
For me this is still a problem. Someone has a solution?

[2016-10-03 16:02] sevos1984 commented on #6616
Internal ticket created MAGETWO-59280. Thanks for reporting.

[2016-10-03 16:05] versdivers commented on #4379
Updated to 2.0.9 and still have the issue

[2016-10-03 16:59] Danielc3 opened #6859 "Prices always exclusive of tax for shipping estimates in cart"
The estimates for shipping on the cart page are always shown excluding VAT, despite having set the cart to show shipping inclusive of tax.
### Preconditions
- Magento 2.1.0 or 2.1.1
### Steps to reproduce
1. Create a new shipping tax rule, with a 20% tax rate for the country you intend to checkout with. When creating the tax rule, creating a new product tax class named shipping and set the rule to

[2016-10-03 17:06] devdesco-ceo commented on #6823
Actually,
I temporarily deleted addtocart.phtml from Porto theme folder for M2 to use it's native addtocart.phtml, but still the issue is present,
so I do not think it's Porto's compatibility problem.

[2016-10-03 17:06] melnikovi commented on #5191
Sorry, overlooked that this is 2.1 branch. Reopening the issue

[2016-10-03 17:12] devdesco-ceo commented on #4506
@erikhansen
You are absolutely right about the sizes.
In my case with bundling turned on website load size is roughly 2MB, but without bundlin being on, but merging and minification ON, the overall size is about 1.6MB. So that's 400 MB savings on every new visit.
More than that, JS bundling is still broken, since I noticed it is breaking ./prototype/. and ./jquery/.  paths in static view folder. S

[2016-10-03 17:16] devdesco-ceo commented on #4506
To add to the discussion,
with proper implementation of PHP OpCache, CDN, caching, minifications and merging, my page load is between 3.1 and 6 seconds that gives a green signal on GTMetrix, depending on a page complexity.

[2016-10-03 17:19] devdesco-ceo commented on #6844
JS bundling is turned on?
Web Server connection throttling is active?

[2016-10-03 17:21] lucscu commented on #6827
@janepoltoratskaya your fix seems to work, i'll use it and wait for official fix.

[2016-10-03 17:37] earlelnar opened #6860 "After upgrade to magento 2.1.1 and created another store it will display a reindexing error in Product Price index"
### Preconditions

1.  Enter your credentials in ssh.
2.  Login to the site using ssh.
### Steps to reproduce

1. Run this command after opening ssh
2. php bin/magento indexer:reindex
3.
### Expected result

1.  It should display the success message of reindexing every indexes required.
### Actual result

1. [Screenshot, logs]
   php bin/magento indexer:reindex
   Design Config Grid index has been

[2016-10-03 18:01] dmcmillin commented on #6844
It doesn't display any errors besides that javascript elements were not loaded.
yes, I have done setup:static-content:deploy
I have never enabled it, I am running in developer mode. Not production.

[2016-10-03 19:08] mverstraete opened #6861 "When changing the product image on simple products generated in the Create Configurations wizard, both the original and new images are saved to the simple product."
When you create a configurable product, and use the Create Configurations wizard to generate the simple products, before saving the configurable product you have the ability to change the image on the simple products.  If you selected an image in the wizard, and then try to change it on the configurable product, both the original and the new image are saved to the simple product.
### Preconditions

[2016-10-03 19:41] Yerokhov opened #6862 "Fix issue translate in module Magento_Checkout - don`t translate message "Please specify a shipping method." in shipping.js"
I fix this issue in vendor\magento\module-checkout\view\frontend\web\template\shipping.html . see line 145. Old code:
`<span></span>`
New code:
`<span></span>`

Bingo! :)

[2016-10-03 20:48] NadiyaS commented on #5789
Hi @prabhumano ,
Magento\Framework\Pricing\**Object**\SaleableInterface really does not exist in Magento 2. So you have some cache or maybe 3rd-party extensions which can use this class with old namespase.
[Here is a location of SaleableInterface ](https://github.com/magento/magento2/blob/2.1.0/lib/internal/Magento/Framework/Pricing/SaleableInterface.php), if you install Magento from composer you

[2016-10-03 22:23] brideo commented on #2671
Ah my bad, will do.

[2016-10-03 23:27] springimport commented on #6732
I understood, thanks for reply.

[2016-10-03 23:34] springimport opened #6863 "The system has no function getShowAddressFields()"
### Steps to reproduce
1. Go to /vendor/magento/module-customer/view/frontend/templates/form/register.phtml
2. Find `<?php if ($block->getShowAddressFields()): ?>`
### Expected result
1. Function in `Magento\Customer\Block\Form\Register`
### Actual result
1. Not found.
### Additional info

| Q | A |
| --- | --- |
| Magento version | 2.1.0 with sample data |
| PHP version | 7 |
| Operating system |

[2016-10-04 00:21] Ctucker9233 commented on #6260
I'd like to know if there is an ETA on delivering this in a patch, or how I should apply it if I need it now. Thanks.

[2016-10-04 00:22] aarondong2005 opened #6864 "No such entity with class_id = 0"
### Preconditions
1. Magento 2.1.1 migrated from 1.9.0.1 about half month ago.
2. PHP 7.0.10 + MySQL 5.6.32
### Steps to reproduce
1. Chose a existing customer
2. Add a simple product
3. The error will show up
4. But some product are ok to add.
### Expected result
1. The product will removed after click update items and quantities button.
2. Using SSH to di and indexer:reindex will not come up any

[2016-10-04 01:59] devdesco-ceo commented on #6844
The M2 is the beast the World did not see before... But it is way better than M1...
Being honest with you, that's the best eCommerce solution to date, but you need to become a Pro with it... then whole world of eCommerce development is kneeling before you. Good luck!

[2016-10-04 02:43] janepoltoratskaya commented on #6246
Any progress there?

[2016-10-04 03:10] tylerd92vn commented on #6414
Solved! Thanks to @dyushkin. It's the discount rule that when the price is larger than some amount, the shipping is free!!!. But at least, the front-end must show the discount rules applied. I have banged my head to the table a lot of time. A huge appreciation!

[2016-10-04 03:36] refaelgold commented on #6769
Its not work for me at magento 2.1.1
its seems like the acl.xml of specific module is shutting down the whole process.

its very hard to find which module do it because the log not give any information about it.

please provide a better log or if the acl.xml not current - skip this module and not throw a fatel  error without any alternative to create a new role .

[2016-10-04 03:48] mitulispace commented on #6736
Composer

[2016-10-04 03:48] refaelgold commented on #4394
i added the log(magento 2.1.1)
`
1 exception(s):
Exception #0 (Exception): Notice: Undefined index: title in /home/magentop/public_html/vendor/magento/module-integration/Helper/Data.php on line 24

Exception #0 (Exception): Notice: Undefined index: title in /home/magentop/public_html/vendor/magento/module-integration/Helper/Data.php on line 24
#0 /home/magentop/public_html/vendor/magento/module-in

[2016-10-04 03:49] TienYiChi commented on #5762
@staffrob good point, I did what you said and it crashed again...
sorry I didn't notice you already mentioned this case far above

[2016-10-04 05:21] Kdtv1977 commented on #5946
Same Issue here:

PHP 7
no Varnish
no Page Cache enabled
Magento 2.1.0

Standard template Magento/luma

Any solution?

[2016-10-04 05:50] mattcoz commented on #6735
This _was_ the new issue. Fine...

[2016-10-04 05:51] mattcoz opened #6865 "Backend is not working on ports other than 80 and 443"
Previous issue was closed, again, but it is NOT fixed in the latest 2.1.1. #6735

Preconditions: Magento installed on ports other than 80 and 443
Steps to reproduce: Try to access backend
Actual result: 404 not found
Expected result: Backend loads

[2016-10-04 06:35] ErikPel commented on #6780
Also happening here.

Magento 2.1 and PHP 7

Those customers that do the steps described in the issue are getting free shipping forever until we  remove then straight from the database to fix it.

[2016-10-04 06:48] Lielcw commented on #6769
Hi,
Thank you for your time!
I have the hole error page perhaps you can see something?

[2016-10-04 06:49] Lielcw commented on #6769
Hi,
Thank you for your time!
I have the hole error page perhaps you can see something?
Notice: Undefined index: title in /xxxx/vendor/magento/module-integration/Helper/Data.php on line 24
#cd /home/liesmag2/domains/magento2-developer.nl/public_html/bidetdouche.nl/0 /xxxx/vendor/magento/module-integration/Helper/Data.php(24): Magento\Framework\App\ErrorHandler->handler(8, 'Undefined index...', '/ho

[2016-10-04 07:01] YevSent commented on #6827
Hi, @janepoltoratskaya, thanks for reporting.
But, we can't reproduce described issue, also the [cc-form.js](https://github.com/magento/magento2/blob/2.1/app/code/Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/cc-form.js#L140) already contains the `initBraintree()` method.

Could you attach browser errors?

[2016-10-04 07:28] lisaaugustine commented on #6816
Our team is also facing exactly the same issue. We need a solution on this as our site is live and we need to use coupons(which we removed for now)..

[2016-10-04 07:46] miakusha commented on #6851
Hi @SahakTadevosyan its issue was reported earlier #5811 .
Closed as duplicate

[2016-10-04 07:46] #6851 closed, assigned to nobody

[2016-10-04 07:49] sevos1984 commented on #5305
This should be fixed in latest develop branch commit https://github.com/magento/magento2/commit/14028aad37ee7435d89eb3b647e6d03ecd8e2e13. Patch will be soon delivered into 2.0 branch.

[2016-10-04 07:49] #5305 closed, assigned to sevos1984

[2016-10-04 07:51] sevos1984 commented on #6337
This should be fixed in latest develop branch commit https://github.com/magento/magento2/commit/14028aad37ee7435d89eb3b647e6d03ecd8e2e13. Patch will be soon delivered into 2.1 branch. If that doesn't help please create a new ticket.

[2016-10-04 07:51] #6337 closed, assigned to sevos1984

[2016-10-04 07:55] bijalbhavsar commented on #4767
@magento-team kindly guide us on this known issue related to pagination. We are also facing similar issue pagination is showing products but in listing not a single product showing. Verify below image for the same.  Note: We are using Magento v2.0.7.

![image](https://cloud.githubusercontent.com/assets/1912751/19066207/c16b399c-8a35-11e6-9074-6e56fc1a1ed4.png)

Looking forward to have your quick r

[2016-10-04 08:18] serzhik opened #6866 "Products in wishlist show $0.00 price"
## Preconditions
1. Install EE 2.0.2
2. Upgrade to EE 2.1.1
   or
3. Install CE 2.0.2
4. Upgrade to CE 2.1.0
### Steps to reproduce
1. Sign in
2. Add product to wishlist
3. Go to wishlist
### Expected result
1. Products showed with price
### Actual result
1. Products showed with $0.00 value
   ![chrome_2016-10-03_20-02-35](https://cloud.githubusercontent.com/assets/2320879/19066886/3c98b43a-8a24-1

[2016-10-04 08:26] veloraven commented on #6816
@apurv-anand thank you for your report.
Could you please clarify expected and actual results?
From your current description it seems there are two problems at once here:
1. Wrong visibility of products.
2. Shopping cart price rule is applied incorrectly.

[2016-10-04 08:27] lucscu commented on #6827
because your cc-form.js differs from https://github.com/magento/magento2/blob/133dd81e9e5711c87c138c142959fd7acfea02af/app/code/Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/cc-form.js

Why they are different?

[2016-10-04 08:34] MarkB42 commented on #3605
Hi, I'm getting the same issue when using Mage 2.1.1 catalogProductRepositoryV1Get to pull a product down to Visual Studio via WSDL SOAP. The pull worked fine then stopped working all of a sudden. Tracked it down to the Quantity against the product being "empty". Set the Qty to 0 and it started working. #davidverholen is correct in that the system is returning non-standard acceptable data.

The nu

[2016-10-04 08:34] apurv-anand commented on #6816
@veloraven
There is only 1 issue: Shopping cart price rule is applied incorrectly.

Product visibility is fine. The way we have configured the Grouped products is that:
Grouped products are:
Visible to catalog and search.
Simple products associated to these group products are:
Not visible individually

The grouped product are in some category and the associated simple products are also in same cat

[2016-10-04 08:47] shiftedreality commented on #6865
Hi @mattcoz

I was unable to reproduce this issue on 2.1.1 using :8080 as port.

<img width="1430" alt="screenshot at oct 04 11-42-06" src="https://cloud.githubusercontent.com/assets/3396658/19067623/bbd29696-8a27-11e6-8036-c83c32235d70.png">
And :81
<img width="1432" alt="screenshot at oct 04 11-46-19" src="https://cloud.githubusercontent.com/assets/3396658/19067770/471f5392-8a28-11e6-945f-e7567a

[2016-10-04 08:51] alexgoodey commented on #5359
This is still present in 2.1.0.

A temporary solution is to create a symlink in pub called pub back to itself. e.g.

cd pub/
ln -s ./ pub

[2016-10-04 09:00] heldchen commented on #6754
thanks!

FWIW: this also happens with FPC enabled.

with FPC enabled it's even worse as it might happen that the "We can't find products matching the selection."-page is cached and served, even after the reindex finished!

[2016-10-04 09:02] veloraven commented on #6783
@kanduvisla could you please provide information about your environment including PHP version?

[2016-10-04 09:02] andimov commented on #6651
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed.

[2016-10-04 09:02] #6651 closed, assigned to nobody

[2016-10-04 09:02] shiftedreality commented on #4743
Hi @Taral-Patoliya

Could you please attach sample .csv file to reproduce this error?
Please, remove any sensitive data.

[2016-10-04 09:03] andimov commented on #4471
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed.

[2016-10-04 09:03] #4471 closed, assigned to nobody

[2016-10-04 09:04] #5234 closed, assigned to nobody

[2016-10-04 09:05] andimov commented on #5425
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed.

[2016-10-04 09:05] #5425 closed, assigned to nobody

[2016-10-04 09:05] andimov commented on #5563
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed.

[2016-10-04 09:05] #5563 closed, assigned to nobody

[2016-10-04 09:08] flipflap opened #6867 "Updates attributes for multiple products fails (Magento 2)"
### Preconditions

1. Magento 2.1.1
2. Newest Google Chrome on Mac
### Steps to reproduce

1. product > catalog
2. select 2 products and "update attributes"
3. Can't edit price field and special price field, text seems to be behind inc.Tax. Can't save as no value in the field.
### Expected result

1. should be possible to edit values of price and special price
### Actual result

1. ![attribute](ht

[2016-10-04 09:12] bartoszkubicki commented on #6392
@SerhiyShkolyarenko
`DownloadableSampleUrlProviderInterface` defines another method, which is implementing this interface. This method helps to get downloadable sample for provided downloadable product and has nothing to do with `IsInCart()` method - they are not called together.

I will update it to the code I have now - and it is whole class and also doesn't work.

[2016-10-04 09:16] sevos1984 commented on #5981
We can't release patch for certain versions, you can patch your code by yourself using 2.0 latest release or upgrade to version you need. Thanks.

[2016-10-04 09:16] #5981 closed, assigned to sevos1984

[2016-10-04 09:17] miakusha commented on #6743
Hi @rbostan , @Ctucker9233
I cannot reproduce issue, please provide more information:
- its clear magento instance or upgrade from previously versions
- do you have any custom attribute

[2016-10-04 09:18] sevos1984 commented on #5661
@farior I can't reproduce that, can you give more detailed steps please?

[2016-10-04 09:22] veloraven commented on #6800
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you have any Magento issues to be reported please create a new GitHub issue report  according to the [Issue reporting guidelines](https://github.com/magento/magento2/

[2016-10-04 09:22] #6800 closed, assigned to nobody

[2016-10-04 09:24] refaelgold commented on #4394
i even try to disable all the modules and clean up all the cache from magento and static files and still i had this error . i hope it will be fixed soon . thats a really important bug  to solve

[2016-10-04 09:36] veloraven commented on #6790
@nuzil the GitHub issue tracker is intended for CE issues only, if your issue affects only Magento Enterprise Edition, you should contact Magento support instead of posting your issue here.
There is no way to make a pull request for EE as only CE code is accessible in this repository. However if you have some solution you can propose it to the support team.
Please address this issue to Magento sup

[2016-10-04 09:37] sma09sjb commented on #6858
I'm also experiencing this issue, the date format should be dd/mm/yyyy for UK stores. Even when i set the date format in Configuration > Catalog > Catalog > Date & Time Custom Options, and set the default country to UK, if i try and set the dob field against a customer to the 10th April i.e. 10/04/1991, the datepicker selects october as the month and the 4th as the day,

![image](https://cloud.git

[2016-10-04 09:45] sevos1984 commented on #6685
Can you describe exact steps to reproduce issue on clean magento using csv import/export?

[2016-10-04 09:58] LordHansolo opened #6868 "Widget parameter depends does not work on specified block"
### Preconditions
1. Magento 2.1.1
### Steps to reproduce
1. Create Module adding Custom Widget
2. Add Parameter like `<parameter name="catalog_url" xsi:type="block" visible="true" required="true" sort_order="33">
               <label translate="true">Category</label>
               <depends>
                   <parameter name="enable_url" value="1" />
                   <parameter name="target_u

[2016-10-04 10:19] YevSent commented on #6827
Your link shows `cc-form.js` on the current develop branch, but the Braintree module contains features and bug fixes which aren't available for Magento 2.1.1.

[2016-10-04 11:42] jatasya commented on #5031
I'm getting this error. I'm trying to install a fresh setup of magento. can anyone give me any guidance.

[2016-10-04 12:04] Tapin1 commented on #6780
Any solution/fix?

[2016-10-04 12:12] PavanKumarCh commented on #5031
check ur config.xml is exists or not.

Regards
PavanKumar Chamarthi
+91-8861733311

On Tue, Oct 4, 2016 at 5:13 PM, jatasya notifications@github.com wrote:

[2016-10-04 12:21] jatasya commented on #5031
In which folder?

[2016-10-04 12:37] lucscu commented on #6827
so to fix my magento 2.1.0, have i to replace `cc-form.js` with 2.1.1 version?

[2016-10-04 13:00] nagno commented on #6281
It still not works in 2.1.1. I will create a ticket on the partner portal as well. (hopefully it will get more priority)

[2016-10-04 13:10] TommyKolkman commented on #5959
Can confirm that this is happening in 2.1.1 as well.

[2016-10-04 13:23] miakusha commented on #5633
Closed as duplicate #5352

[2016-10-04 13:23] #5633 closed, assigned to nobody

[2016-10-04 13:24] SerhiyShkolyarenko commented on #6796
Closing as far as no questions for several days.

[2016-10-04 13:24] #6796 closed, assigned to nobody

[2016-10-04 13:32] sam-g-roberts commented on #2758
@davidalger I've also had this issue and it is a bug. I needed to implement a fix in the core using the comments above to resolve the issue.

Please re-open the ticket or reference it to a duplicate if one exists.

[2016-10-04 13:42] stamster commented on #2881
The solution is to add the following param into `/etc/nginx/fastcgi_params` if you want setting applied globally, or per VHOST if you want just per host.

[code]

It is advised to put this parameter on a global scope of nginx, since it doesn't hurt if you have some stores / sites w/o https, or some which explicitly do use https only as it will be generated on the fly depending on whenever user is

[2016-10-04 13:47] anton-huz commented on #5402
The internal issue was created MAGETWO-59327.

[2016-10-04 13:55] sevos1984 commented on #6847
What is your Display Product Prices In Catalog setting, and what is tax rate for your store origin and shipping address?

[2016-10-04 13:56] SerhiyShkolyarenko commented on #6246
@janepoltoratskaya sorry, there are some internal procedures which don't allow us to publish a fix right now.

[2016-10-04 13:57] atihomirov commented on #6658
Hi @GuidoHub,
check the file - the first line should be the name of the fields.
I got the same error message when I imported a customer address file, without first row (field name)

[2016-10-04 14:01] SerhiyShkolyarenko commented on #5969
@versdivers we could fix it if it were reproducible for us. Could you please create a new issue with described steps from **clean 2.0.9 installation**?

[2016-10-04 14:06] jlnelson commented on #5657
I ended up seeing this same bug show up when submitting reviews for products. I created a small writeup for it:

Issue was tracked down to vendor/magento/module-customer/view/frontend/web/js/customer-data.js. All line numbers I use will refer to the customer-data.js file in Magento 2.0.7.

## Good case timeline

[code]

## Bad case timeline

[code]

The main difference between good case and bad ca

[2016-10-04 14:10] versdivers commented on #5969
At this point i am checking with some module creators if the problem is not because i use custom adres fields. I will come back with more explanation

[2016-10-04 14:13] PascalBrouwers opened #6869 "Ship To address on Checkout's Review step gets cleared out. User gets stuck on Payment step"
### Preconditions
1. Magento 2.1.1 (latest develop branch)
### Steps to reproduce
1. Related to MAGETWO-58062. Must be logged in as customer. Customer has 1 address that is the same for billing and shipping.
2. Add product to your cart, but make sure you visit cart page first (checkout/cart).
3. Press 'Proceed to Checkout'.
4. On the checkout page the only address get's selected first, but after a

[2016-10-04 14:14] KalaiarasanSeetharaman commented on #3631
Hi Team ,
I am using Magento 2.0.6
For me in minicart need to display the itemscount instead of cart().summary_count. How it is possible . Can suggest some way for me .....

[2016-10-04 14:16] PascalBrouwers commented on #6869
I added a fix. See my Pull Request.

[2016-10-04 14:20] pboisvert commented on #3631
@KalaiarasanSeetharaman This issue is closed as fixed for the original issue. If you have a new issue please file a new ticket with full steps to reproduce.

[2016-10-04 14:22] KalaiarasanSeetharaman commented on #3294
$ObjectManager= \Magento\Framework\App\ObjectManager::getInstance();
$context = $ObjectManager->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
return $isLoggedIn;

This thing worked for checking customer is logged in or not when page cache is enable
We need to page cache for showing count for compare product , wishlist ,

[2016-10-04 14:23] PascalBrouwers commented on #6869
@veloraven can you assign this one to somebody? Not being able to checkout seems like a serious issue.

[2016-10-04 14:23] KalaiarasanSeetharaman commented on #3631
@pboisvert  Thanks

[2016-10-04 14:24] KalaiarasanSeetharaman opened #6871 "How to display number of items count in minicart instead of cart.summary_count in magento2.0.6"
<span class="counter qty empty"
              data-bind="css: { empty: cart().summary_count == 0 }, blockLoader: isLoading">
            <span class="counter-number"></span>
        </span>

In this place how to display itemscount instead summary_count -> it returns total number of qty . I need to number of items in the cart .

[2016-10-04 14:30] pboisvert commented on #6871
@KalaiarasanSeetharaman are you reporting an issue or asking a technical question? The "Issues" section of this GitHub is intended for reporting technical issue. If you are asking a "How to" question, the best place for that would be the [Magento Stack Exchange](http://magento.stackexchange.com/?tags=magento2) or the Community forums.

If a coding issue please fill out the template with full syste

[2016-10-04 14:32] KalaiarasanSeetharaman commented on #6871
@pboisvert Thanks .

[2016-10-04 15:12] cizgidekiadam commented on #6743
Hi @miakusha
There is not any installed extension.
Upgraded from 2.1 to 2.1.1 via composer (Previous 2.1 was a clear install)

[2016-10-04 15:32] cizgidekiadam opened #6872 "Shipping address form trying to validate disabled/hidden fields"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Adding some fields with custom extension to shipping address form. By default, these fields hidden and disabled. These are depends on a select (address_type) input to being visible.
2. Fill the form except custom fields (Still disabled and hidden)
3. Click 'Next' button to submit form
### Expected result

1. Navigate to payment step wi

[2016-10-04 16:21] rob1256 commented on #5212
Getting the same issue here but also when using a custom image uploader/chooser in a widget.  The above fix of changing the parameter to `true` works for me but currently I'm just patching the core in my version

[2016-10-04 16:47] OlgaBurtyka opened #6873 "Bundle checkbox options - missed qty for every checkbox"
Hi! Bundle options type checkbox - not display add qty - for every checkbox.
### Preconditions

1. magento 2.1.1
2. php 7.0.7
3. nginx
### Steps to reproduce

1. Go to bundle product with checkbox
2. Try check checkbox and add qty for every selected checkbox
### Expected result

1. I can add qty for every checkbox option
### Actual result

1. I can't set for checkbox qty.
   ![checkbox](https://cl

[2016-10-04 17:11] Oxidation1 opened #6874 "Customer Login Failing in Firefox/IE 2.1.1"
On chrome the customers are able to login, however on firefox and IE/Edge after a customer logs in the page shows the infamous "This page is not redirecting properly." I have quadruple checked the cookies domains are set correctly [.domain.com], tried playing with the setting to redirect customers to my account after login with no change, tried changing the base urls to both http, both https, and

[2016-10-04 18:17] jfarrell commented on #5809
@dthampy has there been any progress on this bug?

[2016-10-04 18:29] Oxidation1 commented on #5809
No, I have been working on this problem for a week, cannot seem to
figure it out...

On 10/4/2016 2:18 PM, jfarrell wrote:

##

*Charles Wagner
631.618.7490 x102
www.SilverLaboratories.com
*

[2016-10-04 18:35] dthampy commented on #5809
@jfarrell , this issue is in the backlog and will be picked up in the priority order set  by the Product Owners.

[2016-10-04 18:54] epadmin commented on #6845
I think I _might_ have figured it out.   When I created the original product and added configurations, they were all set to the DEFAULT attribute set.   I then updated the parent product to a different attribute set expecting the children to automatically be updated but they were still set to default.   I have updated the attribute set of the child products to match the parent product and now ever

[2016-10-04 19:00] thanasisgalanis commented on #6588
Same issue for categories content, for non Latin characters (i.e. Greek)
Magento CE 2.1.0
PHP 7.0.11
MySQL 5.6.33-log

This is the actual content inside category SEO fields
![category seo content](https://cloud.githubusercontent.com/assets/6130645/19087848/432f7bdc-8a7c-11e6-9497-d3e505b36fd4.png)

This is what stored in database
![category metatag records in database](https://cloud.githubusercont

[2016-10-04 19:03] bubeamos commented on #5323
when i search for a product on a megento 2.0 store I get
"There has been an error processing your request

Object DOMDocument should be created.
Error log record number: 998986072482". Please what is the possible cause and how can i fix it.

[2016-10-04 19:25] choukalos commented on #6691
Hi @jlimodin if you just had a way to reset stock qty quickly would that be sufficient for your uses?  Seems like you're getting those results because the products are going out of stock.

[2016-10-04 19:31] choukalos commented on #6361
At the top of the JMX file there's a slew of variables defined which tell the benchmark what flows to run.  You can see the equivalent if using the JMX Gui/window.  I believe you can edit those values to just get it to do the order flows.

As far as changing behavior you can search for the flow and it's appropriate test class.  We've made it modular so likely there are several test classes you'll

[2016-10-04 20:15] pobrassard commented on #6866
@Serzhik This happens when you add a configurable/virtual product without selecting the options. When you add a configurable product to the cart, you never really buy the configurable product but the products associated to its options.

Try to selecting a color/size before you add them to your wishlist. You can also try adding a simple product to see if the price shows in the wishlist.

[2016-10-04 20:15] mitcht commented on #5445
This bug is not constrained to products only.  Customer cannot save a multiselect. I can only assume it affects other entities.

[2016-10-04 20:19] dhob68 opened #6875 "Shipping Rate Quote Fails"
Disappearing shipping quote on shipping address form

### Preconditions
1. Magento CE 2.1
2. UPS Shipping

### Steps to reproduce
1. Add product to cart
2. Click checkout in mini cart
3. Complete Shipping Address form
4. Select shipping method
5. Press next
6. Click on banner to go back to home page
7. Click checkout in mini cart

### Expected result
1. Form  automatically filled in
2. Shipping qu

[2016-10-04 20:32] KEVWISNIEW commented on #6424
Hi,

2.1.1
When the adminhtml product edit form catch an error, for example required field missing, if you click on "save" button, after reloading, the link with simple products is lost in table catalog_product_relation

[2016-10-04 20:50] shefi commented on #6718
Hi. Is there any temporary "fix" for this issue, without removing the custom module?

[2016-10-04 20:55] btjackson11 opened #6876 "Address Book - "Add New Address" button"
In the customer account Address Book the button to "Add New Address" in the Additional Address Entries section does nothing.
### Preconditions
1. Magento 2.1.1
2. php 5.6.1
### Steps to reproduce
1. Go to "Account" page
2. Navigate to "Address Book"
3. Click "Add New Address" button
### Expected result
1. On "Add New Address" button click should prompt a new form to create an additional address
##

[2016-10-04 21:23] btjackson11 commented on #6876
I have temporarily fixed this by adding a link tag around the "Add New Address" button inside of `Magento_Customer/templates/address/book.phtml` file. This is definitely not ideal in terms of how the rest of the Account actions are created/function.

However, upon fixing this bug I have discovered that the "Delete Address" button that shows after you have successfully added an additional address t

[2016-10-04 21:25] btjackson11 opened #6877 "Address Book - Delete Additional Address not working"
### Preconditions
1. Magento 2.1.1
2. php 5.6.1
### Steps to reproduce
1. Make an account
2. Login to the account
3. Go to the account address book
4. Add an additional address to the address book
### Expected result
1. In the address book under the "Additional Addresses" click "Delete Address"
2. Deletes address from under the "Additional Addresses"
### Actual result
1. In the address book under

[2016-10-04 22:24] ytorbyk commented on #6876
Hi @btjackson11
It's interesting. I've checked the issue locally and the button works fine.
Are you sure you don't have any JavaScript errors on the page?
Try to clean browser cache.

The button links are added by JavaScript ('Add New Address' and 'Delete Address'): https://github.com/magento/magento2/blob/2.1/app/code/Magento/Customer/view/frontend/templates/address/book.phtml#L106-L109

[2016-10-04 22:35] TClilMouse commented on #1458
In 2.1.1, this problem still persist.

[2016-10-04 23:09] markdavies commented on #1619
This is still not fixed. Grunt watch does not work on 2.1.0. Actually, I'd call it completely an utterly broken. Front end workflow is next to impossible with it in this state.

[2016-10-05 01:00] epadmin commented on #6845
Ok, so that was a short lived victory.   I don't know what it is, but if I disable the configurable product that has been causing the problem everything else shows up but if I enable it they all disappear again.   I have gone over the settings for the configurable product and all looks good, I have checked the simple child products and can't see anything wrong.   It has something to do with being

[2016-10-05 01:38] senthilengg commented on #4767
I think if you doesn't set the position (default product sort order) under category --> products section then it will have this issue.We have to think of a smart workaround for this. @vinai quoted to have an observer to sort by entity id somewhere in stack overflow if I am not wrong.

Since there is no position magento randomly displaying products that might be the potential cause of this issue. B

[2016-10-05 03:00] tuandev-nv commented on #4394
Please check if you missing 'title' attribute in custom acl.xml file, i added title attribute for my acl.xml file and it's working now.

[2016-10-05 05:41] deepanshu27193 commented on #3294
Hi @KalaiarasanSeetharaman,
from this how to get customer ID i.e. how to get which customer is logged in.

[2016-10-05 07:06] tkn98 commented on #6141
X-Ref:
- Magento Enterprise Support Case #03191452
- Duplicate of: #4883

[2016-10-05 07:10] tkn98 commented on #4883
Can confirm that translation for strings in `lib/web/mage/validation.js` are missing. It looks like they have been hard-encoded and is not interfaced with any translation layer.

Refs:
- Internal Issue: MAGETWO-59123
- Magento Enterprise Support Case: #03191452
- Duplicated by: #6141

[2016-10-05 07:44] wujashek opened #6879 "Unable to change country of manufacture default label value"
### Preconditions
1. Magento 2.1.1 fresh install.
### Steps to reproduce
1. Navigate to product attributes in admin panel
2. Edit country of manufacture attribute
3. Try to change default label
4. Hit save
### Expected result

Attribute is saved
### Actual result

![attribute rename error](https://cloud.githubusercontent.com/assets/677017/19105031/29271556-8ae0-11e6-9cb8-b36212a87150.png)

[2016-10-05 08:28] rahulvramesh commented on #6246
Issue Is Fixed ?

[2016-10-05 08:28] sma09sjb commented on #6793
Hi,

This is becoming a real problem for our client as the search is one of the key features that will determine the success of their site (and sales figures) in the first few weeks of launch. Our client has a large catalog and it's imperative we can accurately weight search results, and that the most relevant products are listed first. Can we get some idea of when this will be fixed and when the

[2016-10-05 08:32] miakusha commented on #6558
Hi @magentodevleper thank for report

We've created internal ticket MAGETWO-59345 to address this issue.

[2016-10-05 08:34] LiamFielding opened #6880 "Import validation leaking through to other accounts."
Magento 2.2.0-dev

Steps to reproduce
1. Import for a while with multiple accounts.

Expected result
1. Validation is contained for each user and only relates to their actions.

Actual result
1. Validation may state that validation has passed with no errors but this result is for another user - not the data you just tried to check.

I noticed when Magento said 9 of 9 entities were valid but my she

[2016-10-05 08:35] alena-marchenko commented on #6633
Hi @ewallkrishnaprakash

Fix for MAGETWO-59033 ticket is already merged to develop branch.
Closing the issue, feel free to create new one if you experience further issues.

[2016-10-05 08:35] #6633 closed, assigned to YevSent, alena-marchenko

[2016-10-05 08:37] SerhiyShkolyarenko commented on #3605
Internal issue for investigation(and fixing) is MAGETWO-59017.

[2016-10-05 08:39] Thuan1234 commented on #4468
Yes, The problem is still there. We have same issue now (version 2.1.1). I have also checked the problem on Magento Sample Data package (V2.1.1) . But we can solve this problem by disabling all cache types from Cache Management. However, the site could take 15- 20 second to load.
Anyway, its big bug. Please fix it soon
Thanks

[2016-10-05 09:25] stamster commented on #6874
Are you using HTTPS for a store?

[2016-10-05 09:26] MaximeAnsquer commented on #1830
I have the same problem, but my env.php does contain the database connection information:

[code]

Do you know how I could solve this ? Thanks a lot.

[2016-10-05 09:46] anton-huz commented on #5323
@Chidiebube
When you get a message _"Error log record number: 998986072482"_ it means, that you can find a stack trace on disk storage under `<path/to/Magento>/var/report/998986072482`.

It would be handy if you attach a screenshot with browser console and content of `998986072482` file.

[2016-10-05 09:59] anton-huz commented on #6375
This place was improved in current `develop` branch. See [`swatch-render.js`](https://github.com/magento/magento2/blob/develop/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js#L307) for details.
I'm going to close an issue as _Cannot reproduce_.

[2016-10-05 09:59] #6375 closed, assigned to nobody

[2016-10-05 10:00] jlimodin commented on #6691
Hello choukalos, yes it will be great to reset stock qty between each performance runs. Does have it an impact on indexing or caches ?
Thanks Julien

[2016-10-05 10:13] ivanweiler opened #6882 "Minicart empty if FPC disabled in Magneto 2.1.1"
### Preconditions

1. Magento 2.1.1 with sample data
2. Page Cache (FPC) disabled in admin
### Steps to reproduce

1. add product to cart
2. switch currency, or switch language, or navigate to login and try to login with invalid user/pass
### Expected result

1. product should be in minicart
### Actual result

1. mini cart is empty
2. customer can't proceed to checkout

### Additional comment

Som

[2016-10-05 10:25] MikeMoolenaar opened #6883 "Readiness Check fails when installing new component"
When I try to install a new extension in Magento, it does a Readiness Check first, I get 2 errors which I am trying to fix.

![image](https://cloud.githubusercontent.com/assets/20370521/19109408/99b8a324-8af5-11e6-8166-d0980da6d55b.png)

**Check Cron Scripts**
I Tried to run the cron.php every 5 minutes with Windows Task manager, but it still gives this error.

**PHP Settings Check**
This is what

[2016-10-05 10:28] miakusha commented on #6793
Hi @sma09sjb I cannot reproduce this issue as described
Can you provide file for product import that allow reproduce problem?.

[2016-10-05 10:49] praful-rajput commented on #6879
Same problem.

Even no such option value saved in table 'eav_attribute_option' for attribute 'country_of_manufacture'. and Manage Options grid showing the options as disabled.  Really this renders magical. Can anybody tell how such attribute value is saving in product save ?

I created same king of attribute. Added Source module (Country), option are showing up in product form. but not saving valu

[2016-10-05 10:56] sma09sjb commented on #6793
[catalog_product_20161005_105423.txt](https://github.com/magento/magento2/files/510933/catalog_product_20161005_105423.txt)

[2016-10-05 10:59] stamster commented on #6874
We also had many issues with broken 2.1.1 release xD
So we reverted back to 2.1.0 and at least some stuff is working. You should try the same.
Good luck.

[2016-10-05 11:06] maurizio-pbh opened #6884 "Problem programatically updating tier pricing for configurable products using SOAP API"
### Issue

I am trying to create a script which will update product tier prices for all Magento product types using the Magento SOAP API. Using the add method on the catalogProductTierPriceManagementV1 endpoint I am able to update tiered pricing for simple products, so for example I can set different prices for 20-40, 40-60 products etc. However, when I update simple products associated with a con

[2016-10-05 11:26] lfritsche opened #6885 "Customer e-mail theme fallback doesn't take effect"
### Preconditions
1. Magento 2.0.4
2. en_US & de_DE
3. E-Mail fallback works if I place templates under <theme>/Magento_Sales/email/...
4. E-Mail fallback doesn't apply if I create custom customer templates within <theme>/Magento_Customer/email/...
### Steps to reproduce
1. If I copy the system default email template (for example: password_reset.html) into my theme directory under <theme>/Magento_

[2016-10-05 11:30] MarkB42 commented on #3307
Hi, having new services is nice but the server should just close the order automatically when the order is fulfilled surely?

Maget 2.1.1

[2016-10-05 11:41] miakusha commented on #6793
I imported you file on clean magento 2.1.1 and repeat steps. In result I receive correct products sort order(see attach)
![searchoptimal](https://cloud.githubusercontent.com/assets/9213165/19111426/34d0a282-8b08-11e6-9e52-6f4ead002a73.jpg)

Also I want to notice that on your screenshot sort order is reverse to default

Could you try reproduce issue on clean magento instance without custom theme an

[2016-10-05 11:54] Dart18 opened #6886 "Exceptions occurred during order load and view transactions - Magento 2.1.1"
Two Exceptions that occurred during order load and view transactions in the admin panel. Both errors are related to "**Class Magento\Sales\Model\Order\Payment\TransactionFactory does not exist**".
### Preconditions
1. Magento CE Version 2.1.1
2. PHP version 5.6.26-1
3. MySQL version 14.14
4. Ubuntu Server 16.04
### Steps to reproduce

1. Fresh install of Magento 2.1.1
2. Execute Data Migration Too

[2016-10-05 11:59] sma09sjb commented on #6793
The sort button doesn't change the order of the results on our installation, the order is always the same regardless.

When we search Vitamin, we're also getting C Compete Powder as the first product in the list which is wrong, the first product should be the product with Vitamin in the title.

I'll try and replicate this on a clean installation as you suggest and get back to you.

[2016-10-05 12:08] rishabhrkrai commented on #5948
Hi,
I also have this problem and i'm using 2.1.1

[2016-10-05 12:18] Taral-Patoliya commented on #6603
@magento-team @veloraven  Do we have any update for this problem, can you suggest how long it would take to get the solution for this problem?

[2016-10-05 12:19] SerhiyShkolyarenko commented on #6869
Thank you for reporting! Our internal issue is MAGETWO-59362.

[2016-10-05 12:24] KalaiarasanSeetharaman opened #6887 "In cart page when i am clicking proceed to checkout page is not going to checkout page ."
In cart page when i am clicking proceed to checkout page it is not going to checkout page .
I  signed in only . I have a added only one product , that product having more than 1000 qty in backend . I have enabled page cache in backend also . I have cleared flush magento cache also and cleared static files and i have refresh page cache also .

[2016-10-05 12:27] bubeamos commented on #5323
@guz-anton I have attached the file 998986072482 below. Also the same error occurs if I  click on the checkout button and I have attached the report 1218900441657. The browser console was blank. Thanks..

[998986072482.txt](https://github.com/magento/magento2/files/511101/998986072482.txt)

[1218900441657.txt](https://github.com/magento/magento2/files/511120/1218900441657.txt)

[2016-10-05 12:32] andidhouse commented on #5948
@magento-team

This is another MUST-FIX bug - a normal logic at an commerce site! I have no idea why this worked before and is missing now. Can you pls give us a feedback when this one will work again.

I think one of the main problems with m2 at this stage is that new bugs come in with every release like waves at a beach - and only some are fixed. Very frustrating at the moment to be honest.

[2016-10-05 12:36] apurv-anand opened #6888 "Associated products of Grouped products cannot be sorted in multi-page scenario."
Associated products of Grouped products cannot be sorted in multi-page scenario.

If a associated products for a grouped product needs to be sorted, Magento 2.1 allows the admin to drag and drop to change the sort orders. The issue is when the list of associated products go in multiple pages, the drag and drop cannot go across the pages - making it impossible to achieve proper sorting.

Magento 2.

[2016-10-05 12:39] fazilpm commented on #6362
any update on this issue.? i can able to change in product view page . but still i am not able to change in product details page. ?can any tell me where to change .?

[2016-10-05 12:44] Dart18 commented on #6465
I solved the same error but in a different context following these steps:
From your website document root:
1) Do manual reindex:

[code]

2) Empty the cache:

[code]

3) Assign pemissions and ownership (eg.):

[code]

[2016-10-05 12:59] MarkB42 commented on #6599
Hi, Have you tried
1) reading the Sales Order with _salesOrderRepositoryV1GetList_ // _salesOrderRepositoryV1Get_
2) Make the necessary changes
3) Use _salesOrderRepositoryV1Save_ to send the moded data back to Magento*
- Set the Entity.payment structure to null BEFORE sending it back to Magento or you will get an error "Message: Property "AdditionalInformation" does not have corresponding setter

[2016-10-05 13:18] Oxidation1 commented on #6874
Its a fresh install, I have a TON of products already loaded... unfortunately this problem was not noticed till after I loaded them.. was hoping to not have to do another install but may not have a choice.. this is just way to broken... Have herd a few comments similar to mine on 2.1.1, will have to give 2.1.0 a go. Doubt it helps at all but some other problems just to have it for other people to

[2016-10-05 13:51] Dart18 commented on #6886
SOLVED.
The exceptions depend from lack of permissions of var/generation folder. Fixed with chown.

[2016-10-05 13:51] #6886 closed, assigned to nobody

[2016-10-05 14:02] safersurfing commented on #3691
Anybody solved the issue? I also experience this. Seems a bug with M2 2.1.1

[2016-10-05 14:18] SerhiyShkolyarenko commented on #6392
@bartek9007 I made some minor changes to have your code compiled and injected to controller. Patch with all my changes is attached. Also I disabled page cache to check how it works in debugger.
I ran compilation and the code worked properly: I opened product page twice to check.
The code returned false when cart was empty and the code returned true, when I added product to cart. This check was per

[2016-10-05 14:39] anton-huz commented on #6765
@denis-g , @pavelnovitsky
You can use the `src=".."` attribute for proper behavior. It will be processed and converted to `href=".."`.
Some additional notes – [Page layout instructions on devdocs](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/layout-types.html#layout-types-conf).

Also, there was created an internal issue for the proper handling attributes and their merging: MA

[2016-10-05 15:33] olysenko commented on #3307
Of course, you are right. Order fulfilled with new services will be automatically closed.

New services implemented and delivered into develop branch and planned to be released in Magento 2.1.3 and Magento 2.0.11.

[2016-10-05 15:40] MarkB42 commented on #6146
Also having this issue and unable to get emails through.
Mage 2.1.1

[2016-10-05 15:44] Deimo08 opened #6889 "Dot to Comma at Customizable Options"
### Preconditions

1. Magento version 2.1.1
2. German localization in Backend
### Steps to reproduce

1. Add Customizable Options
2. Set the Euro Price with comma (for example 25,95€)
3. Save
4. Price for the option is saved as 25,00 instead of 25,95
5. Set Price to 25.95
6. Save
7. Now it's displayed as 25,95
8. save without editing
9. The 25,95 turns again to 25,00
### Expected result

1. The co

[2016-10-05 16:13] bartoszkubicki commented on #6392
@SerhiyShkolyarenko Controller was just another place to test code.
The code is placed in custom block and this block is injected into a few places, using `<referenceBlock>` in layout xmls in custom theme. Are you testing on 2.1.1 or on 2.1? I had that bug on 2.1, but not tested yet on 2.1.1.

[2016-10-05 16:30] jibrandlr commented on #6362
@fazilpm I think there is not a solution yet. However, you can solve it by using the United States locale and name your translation file **en_US.csv**

[2016-10-05 16:39] stamster commented on #6874
You're using Apache 3.... can you try with nginx perhaps, that's my recommendation.
If not, try to disable http2 support - that might also cause issues.

[2016-10-05 16:44] janmyszkier commented on #6671
Similiar problem here, but touches product-category relations. Removing product-category assignment allows you to save the product without having "URL key for specified store already exists."  (but of course is not desirable for any store owners out there).
If it helps anyone debugging this this is the URL Rewrites that didn't allow me to add product unless categories were unassigned:

[code]

It

[2016-10-05 18:15] btjackson11 commented on #6876
@ytorbyk ahhh! I found the reason. In the javascript at the bottom of that page it is looking for the presence of an element with the class of "page-main". This class does not exist on my page so I changed it to look for "customer-address-index" the class on the body element and both links started working properly. Thank you for pointing me in the right direction!

[2016-10-05 18:15] #6876 closed, assigned to nobody

[2016-10-05 18:15] btjackson11 commented on #6877
I found the reason. In the javascript at the bottom of that page it is looking for the presence of an element with the class of "page-main". This class does not exist on my page so I changed it to look for "customer-address-index" the class on the body element and both links started working properly.

[2016-10-05 18:15] #6877 closed, assigned to nobody

[2016-10-05 18:41] #6862 closed, assigned to nobody

[2016-10-05 19:09] frameworkerrs commented on #3507
**hi im facing problem with magento 2.1.1 with below.**

[code]

**can anybody give some idea.. due to this .. my checkout page went empty**

[2016-10-05 19:45] fazilpm commented on #6362
@lgarridoj can you please tell me where is the location of the file en_US.csv

[2016-10-05 20:56] jvreeken commented on #6246
I'm still wondering the status of this... when will 2.1.2 be released?
It only works in production with test mode disabled with a live key.
Any errors however with why payment failed due to invalid card data, address etc do not get displayed.  duplicated orders are created, etc etc etc.

[2016-10-05 21:35] jvreeken commented on #3507
I'm having a simillar problem, the cart page suddenly is blank except for:
    Item    Price   Qty Subtotal
Logs shows:
[2016-10-05 21:29:23] main.INFO: Cache file with merged layout: LAYOUT_frontend_STORE1_58b339880b77f9b5253e900377b8d0e64 and handles default, catalog_category_view, catalog_category_view_type_layered, catalog_category_view_id_83, catalog_category_view_layout_update_d41d8cd98f00b2

[2016-10-05 22:00] jibrandlr commented on #6362
@fazilpm you have to create it  and configure Magento to use that locale. You can find all information about translation in the official magento documentation website

[2016-10-05 22:02] sshymko commented on #3307
We're experiencing the same issue, but it seems to be even more severe as the problem extends beyond updating the order status. Looks like no business rules enforcement takes place, for instance, it is possible to ship the same items multiple times and in quantities exceeding the ordered ones. Moreover, it appears possible to create a shipment with items that do not even belong to an order at all.

[2016-10-05 22:03] tobias-forkel commented on #6845
I had the same message `We're sorry, an error has occurred while generating this email.` on our production environment and was able to fix the problem by disabling SampleData in `app/etc/config.php` > `'Magento_SampleData' => 0`.

Or simply:

`bin/magento module:disable Magento_SampleData`

More about SampleData in production mode you can find on http://devdocs.magento.com/guides/v2.1/install-gde/

[2016-10-05 22:30] jvreeken commented on #5642
{"message":"An error occurred on the server. Please try to place the order again.","trace":"#0 \/Users\/jvreeken\/Sites\/morganjewelers\/vendor\/magento\/framework\/Interception\/Interceptor.php(146): Magento\Checkout\Model\PaymentInformationManagement->savePaymentInformationAndPlaceOrder(15699, Object(Magento\Quote\Model\Quote\Payment), Object(Magento\Quote\Model\Quote\Address))\n#1 \/Users\/jvre

[2016-10-05 23:01] janmyszkier commented on #6671
@miakusha :point_up: there's your update ;)

[2016-10-05 23:21] Ctucker9233 commented on #4330
@shoshweb I'll help you out. Go into phpMyAdmin. Click on the name of your database. You should see a search bar. Search for theme. Sometimes you have to click on the results to see the results. Click on the one that has _theme in the name. Click on that file. Once the table is loaded, look at the "type" column. That's the column you want to edit. There should be an edit button or link at the begi

[2016-10-06 01:18] epadmin commented on #6845
@tobias awesome thanks for the info.  I will try it and see if it works for us.  Is there a way to do this from the admin panel?

-------- Original Message --------
Subject: Re: [magento/magento2] Creating a New Product Makes Existing
Products Not Found (#6845)
From: Tobias Forkel notifications@github.com
Date: Wed, October 05, 2016 5:04 pm
To: magento/magento2 magento2@noreply.github.com
Cc: epad

[2016-10-06 03:03] tudn9x opened #6890 "M2.1.1 Multi currency, wrong value of order total in Order Customer Tab"
### Preconditions

1. Server: ubuntu server 16
2. PHP 7
### Steps to reproduce

1. Create multi currency and checkout with different default currency. (Ex: Viet Nam Dong - đ)
2. In Frontend, Order History page, value of Order Total show perfect with multi currency. But.
3. In Backend, Order History tab of customer, value of Order Total was show wrong.
### Expected result

1. Rate:
   ![screenshot_

[2016-10-06 03:32] thdoan opened #6891 "Add-to-cart checkbox still visible when $canItemsAddToCart = false"
### Preconditions

1. Magento version: 2.1.1
### Steps to reproduce

1. Edit `vendor\magento\module-catalog\view\frontend\templates\product\list\items.phtml`
2. Set all instances of `$canItemsAddToCart` to `false`
3. Go to a product page (e.g., /caesar-warm-up-pant.html)
### Expected result

1. The add-to-cart checkboxes in Related Products should not be visible.
### Actual result

1. The add-to-c

[2016-10-06 03:39] thdoan commented on #6891
Proposed fix:

Line 206, change to:

[code]

[2016-10-06 03:42] wingsoul commented on #4449
Same problem. I have try those method you guys mentioned but still faced with the same issue.

my environment:
php:  7.0.10
nginx:  1:1.10
OS: Amazon linux(feels like centos 6.8)
chrome: 53.0.2785.143

Thanks

[2016-10-06 04:25] frameworkerrs commented on #3507
Hi, I'm trying to solve this. But I'm not sure, is this related to
knockoutjs or XML layout.

Sometimes knockoutjs also breakup the sites.

I will inform once solved..

On Oct 6, 2016 3:05 AM, "James Vreeken" notifications@github.com wrote:

[2016-10-06 04:49] Gin-Tuyen opened #6892 "M 2.1.1 Wysiwyg can not click button 'Insert Image' the second in Admin cms pages"
Preconditions
     1.Server: ubuntu server 16
     2.PHP 7

Steps to reproduce
     1. In Admin, click Content -> Pages-> New Page -> Click tap Content -> Click button 'Show / Hide Editor' -> click button 'Insert Image...'
     2. In page Insert File, Click closed (image X)
     3.In Page content -> Click button 'Insert Image...' -> bug Uncaught TypeError: Cannot read property 'closed' of undefine

[2016-10-06 04:49] vipulmishra341 opened #6893 "Category Products indexer process unknown error:"
**Preconditions**
1.  Enter your credentials in ssh.
2.  Login to the site using ssh.

**Steps to reproduce**
1. Run this command after opening ssh
2. php bin/magento indexer:reindex

**Expected result**

[code]

**Actual result**

**After migrate Magento 1.6.2 database to Magento2.1.1 and trying to re-index the all indexer I am getting below error**

Category Products indexer process unknown erro

[2016-10-06 05:17] dmcmillin commented on #6258
has this issue issue been resolved in 2.1.1? I had a customer tell me it did the same thing today for them. 1st day of launch.

[2016-10-06 06:50] MarkB42 commented on #3307
@sshymko Yes I also noticed that the "ShipQty" against the item on the line is not updated when you use the REST, well am actually using the SOAP, API call.

It's a bit of a PITA but if you
1) ship the item,
2) read the sales order back,
3) update the Items[] to what has been shipped,
4) then send the returned object back to Magento IF the lines are fulfilled the business logic appears to kick bac

[2016-10-06 06:50] hectornguyen opened #6895 "Product attribute input renderer not working?"
### Preconditions

1. Ubuntu 14.04.5 LTS
2. Magento 2.1.1
3. PHP 7.0.10 (or PHP 5.6.25)
4. Percona 5.7 (`5.7.14-7-log Percona Server (GPL), Release '7', Revision '083e298'`)

Magento 2 is running on `default` mode.
### Steps to reproduce

- Remove or change the value of `frontend_input_render` column to something doesn't exist from `catalog_eav_attribute` table. My SQL statement (example)

[code]

[2016-10-06 07:05] itaymesh commented on #6759
The issue also happens to me on Magento 2.1.1

[2016-10-06 07:16] plauge commented on #5711
This is still an issue in 2.1.1

[2016-10-06 07:36] MarkB42 commented on #6146
I have spent some time looking at this and based on the following I think Magento is not setting the php mail options anymore because the return path refuses to change.

1) Hard coded a call to $this->setReturnPath("myreturn@domain.co.uk"); in the constructor of vendor / magento / module-email / Model / Template.php

2) Call setReturnPath() when the setReplyTo() method is called

3) Finally though

[2016-10-06 08:04] Morke3 commented on #6759
Yeah, for me also. But not all time (almost)

[2016-10-06 08:11] ifuents commented on #5519
We are having the same issue MhorGonzales describes.
Any update so far?

[2016-10-06 08:37] Delta-40 commented on #6059
Any update on this? Its still not working.

[2016-10-06 08:38] bharathi341 commented on #6258
Hi,

I resolved this issue. I just rewrite Magento\ConfigurableProduct\Controller\Adminhtml\Product\Associated\Grid file and added below function
 protected function _isAllowed()
    {
        return $this->_authorization->isAllowed('Magento_Catalog::products');
    }

Now its working fine.

[2016-10-06 08:47] xi-ao opened #6896 "Can't use a generated factory with virtual types?"
Hi,

When defining a virtual type in `di.xml`, it seems that you can't use the associated Factory in dependency injection afterwards.

For example with the following definition (just here as an example, using factory with sessions is meaningless):

[code]

Attempting to inject a factory for that virtual type in a constructor

[code]

results in the following error message at runtime:
`Class Magent

[2016-10-06 08:48] tomasinchoo commented on #4054
It started to happen to me on 2.1.1. out of the blue sky!

[2016-10-06 08:51] sneha-sukumaran opened #6897 "Paypal checkout error : 10413-The totals of the cart item amounts do not match order amounts."
### Preconditions
1. Magento version 2.0.7
### Steps to reproduce

1.Add a new product "Silver Ring" with price 53.68
2.Create a new coupon "OCT10" with Apply to Shipping Amount to yes and 10% discount.
3.Add 8 quantity of Silver ring product to cart. Proceed to checkout.
4.Apply coupon.
5.Select Paypal payment method and continue.
### Expected result
1. Navigate to paypal page and complete the pa

[2016-10-06 08:52] Pagayo commented on #5973
This simple fix saved me today 👍
Hope it get fixed soon, not every Dutch merchant reads English that well.

[2016-10-06 08:53] tempo-ruud commented on #5973
@Pagayo glad that I could help you with this.

[2016-10-06 08:54] victor-v-rad commented on #6893
Hi @vipulmishra341
At first glance is not clear whether the Data Migration Tool or Magento 2 cause it. The easy way to figure it out would be if you send your DB (clean from passwords) to me (in my profile https://github.com/victor-v-rad  you can find my email) and we will try to migrate and reproduce it.

[2016-10-06 09:02] veloraven commented on #6887
@KalaiarasanSeetharaman thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-06 09:06] veloraven commented on #6884
@maurizio-pbh thank you for your feedback.
Please identify which version of Magento you are running.

[2016-10-06 09:09] ghost opened #6898 "Custom drop-down shipping method section"
Sorry to post my problem in here, but I do not know better place where would be more suitable community for it.

Reading magento.stackexchange.com/ posts i saw two user who had same issue that I have but their posts have not been answered by forum community ([link1](http://magento.stackexchange.com/questions/108144/add-a-dropdown-field-with-options-to-shippingmethod-on-frontend), [link2](http://ma

[2016-10-06 09:21] nobuttsalex commented on #6884
@veloraven maurizio is out of the office, he is running 2.1.1

[2016-10-06 09:23] KalaiarasanSeetharaman commented on #6887
### Preconditions

1. Magento CE 2.0.7
2. Our category
3. Our produts

### Steps to reproduce

1. Added a product whith qty of 500 price as 20
2. Added minimum order amount as 200
3. Clear cache and i have re-index
4. Page cache alone enabled
5. It is development mode only
6. I have signed in and i have a added product
7. While clicking view cart in minicart it is going correctly to the cart page

[2016-10-06 09:29] veloraven commented on #6853
@naveen433 please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-06 09:46] TommyKolkman commented on #5803
I need this too. Occurs in 2.1.1 as well.

[2016-10-06 10:04] robkor commented on #5803
Hi @TommyKolkman

On a fresh install of 2.1.0-CE the role resources are correctly shown. The problem may be caused by a theme or module that is installed.

I used [article #132329](http://magento.stackexchange.com/questions/132329/magento-2-1-0-roles-resource-tree-not-showing) on stackexchange to solve the issue for now.

In the file **module_user/Block/Role/Tab/Edit.php**, in the function `getTre

[2016-10-06 10:31] rdeelstra opened #6900 "Gd2 opacity handler not effective"
Hi all,

I was adding a watermark to images and noticed it did not work, so I traced it back to the Gd2 adaptor:
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Image/Adapter/Gd2.php

At line 401 method:
public function watermark($imagePath, $positionX = 0, $positionY = 0, $opacity = 30, $tile = false)

Problem:
The $opacity is not taken care of, instead $this->getW

[2016-10-06 10:36] djpaoloc commented on #4454
same problem with `<body>` in layout update xml

[2016-10-06 10:43] janko007 opened #6901 "Shipping Review & Payments"
Shipping Review & Payments  not translated
<img width="1199" alt="screen shot 2016-10-06 at 12 45 16" src="https://cloud.githubusercontent.com/assets/9162875/19149560/ba03689e-8bc2-11e6-96c3-a1d937a254ee.png">

[2016-10-06 10:46] olysenko commented on #3307
@sshymko Yes, I confirm.
We currently preparing 2.1.3 and 2.0.11 versions for release. No dates yet

[2016-10-06 10:50] ytorbyk commented on #6849
Here is pull request for the issue https://github.com/magento/magento2/pull/6902

[2016-10-06 10:50] ytorbyk commented on #6848
Here is pull request for the issue https://github.com/magento/magento2/pull/6902

[2016-10-06 10:54] sma09sjb commented on #6793
I'm not convinced there is no issue with the way the search relevance is working by default,

i'm looking at test inbstallation here http://magento2.demo.ubertheme.com/catalogsearch/result/?q=bag and searching for "bag" and getting irrelevant results at the top of the list?

Can you please test the results that appear when you search "Liposomal Vitamin C" because again we're getting C Complete pow

[2016-10-06 11:46] slavvka commented on #5434
The issue has been fixed and delivered to mainline

[2016-10-06 11:46] #5434 closed, assigned to nobody

[2016-10-06 11:46] slavvka commented on #5988
The issue has been fixed and delivered to mainline

[2016-10-06 11:46] #5988 closed, assigned to nobody

[2016-10-06 11:47] slavvka commented on #6168
The issue has been fixed and delivered to mainline

[2016-10-06 11:47] #6168 closed, assigned to katmoon

[2016-10-06 11:48] amit-agrawal-emorphis opened #6903 "Minicart edit and delete link not working"
### Preconditions

1. Using Magento version 2.1.1 PHP 7 and MySQL 5.7 .
### Steps to reproduce

1. Add simple product to cart.
2. Then on top,click cart icon.
3. In Minicart input field qty empty.Edit and delete link are not working.
### Expected result

1. In minicart show quantity .Edit and delete link are working properly.
2. When we click edit link redirect to product detail page for editing p

[2016-10-06 11:52] Tjitse-E commented on #6882
I've noticed the same issue, but this was on a Magento 2.1 site.

[2016-10-06 11:52] Tjitse-E commented on #6901
Which Magento 2 version are you using? I believe that this issue was fixed in Magento 2.1

[2016-10-06 12:00] veloraven commented on #6828
@devdesco-ceo thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-06 12:03] sdzhepa commented on #3506
@Fel1xx
 Fix for this issue was delivered to develop branch. Pls feel free to check it in develop and reopen if need
- Fix for Magento 2.1 will be delivered later in scope of internal ticket 'MAGETWO-59243'
- Fix for Magento 2.0 will be delivered later in scope of internal ticket 'MAGETWO-59245'

[2016-10-06 12:03] #3506 closed, assigned to NadiyaS

[2016-10-06 12:10] sdzhepa commented on #6487
@torbre16
 Fix for this issue was delivered to develop branch. Pls feel free to check it in develop and reopen if need
- Fix for Magento 2.1 will be delivered late in scope of internal ticket `MAGETWO-59211`
- Fix for Magento 2.0 will be delivered late in scope of internal ticket `MAGETWO-59209`

[2016-10-06 12:10] #6487 closed, assigned to nobody

[2016-10-06 12:11] veloraven commented on #6901
@janko007 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-06 12:13] veloraven commented on #6900
@rdeelstra thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-06 12:15] sdzhepa commented on #5544
@5zymon
 Fix for this issue was delivered to develop branch. Pls feel free to check it in develop and reopen if need
- Fix for Magento 2.1 will be delivered late in scope of internal ticket `MAGETWO-55291`

[2016-10-06 12:15] #5544 closed, assigned to mbrinton01

[2016-10-06 12:17] sdzhepa commented on #5260
@sheldonli999
 Fix for this issue was delivered to develop branch. Pls feel free to check it in develop and reopen if need
- Fix for Magento 2.1 will be delivered late in scope of internal ticket `MAGETWO-59416`

[2016-10-06 12:17] #5260 closed, assigned to nobody

[2016-10-06 12:19] veloraven commented on #6628
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new together with an answer for the question above.

[2016-10-06 12:19] #6628 closed, assigned to nobody

[2016-10-06 12:22] veloraven commented on #6667
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-06 12:22] #6667 closed, assigned to nobody

[2016-10-06 12:38] veloraven commented on #6844
@dmcmillin can you please provide information about your system? Like operating system used, versions of PHP, MySQL and web server.
And I have to ask again if you use any extensions.

[2016-10-06 12:42] PascalBrouwers commented on #6869
@SerhiyShkolyarenko Can you run the CI on my pull request again?

[2016-10-06 13:41] rdeelstra commented on #6900
Did you look at the link?

[2016-10-06 13:43] 12impress opened #6904 "New product is hanging after adding 300.000 products and 40.000 categories"
### Preconditions

1. Magento 2.0
2. PHP 7.0.8
3. MySQL 5.6.30
### Steps to reproduce

1. While having a clean install adding a product bij backend works fine. Also after adding 15 products manually, everything is fine. After adding 40.000 categories and 300.000 products adding a new product manual is not possible, because it stays on loading. Maybe the amount of categies is the problem?
2. Tested

[2016-10-06 13:55] dzlerner commented on #5332
We are experiencing the same issue. Has anyone made progress on this?

[2016-10-06 14:05] staffrob commented on #5711
Can confirm this issue in 2.1.1 also

[2016-10-06 14:21] veloraven commented on #6768
@ClaudiuCreanga thank you for your report.
Please, identify which version of Magento you are running.
I can see a bug and an improvement in your description:
- no styles or js - is a bug;
- adding of additional parameter - is improvement.

Please copy the proposed improvement to the [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/

[2016-10-06 14:24] tkacheva commented on #6294
@loganathan-r Bugfix is merged to mainline. Please update and check. Closing the ticket

[2016-10-06 14:24] #6294 closed, assigned to tkacheva

[2016-10-06 14:24] veloraven commented on #6603
We already have internal ticket MAGETWO-54167 for such issue.

[2016-10-06 14:32] ps202 commented on #2434
@mc388 can you please reopen this? I think it is not resolved...

[2016-10-06 14:36] tkacheva commented on #6294
Commit https://github.com/magento/magento2/commit/d66748032936d4f48c937343a9906fea8acdd132

[2016-10-06 14:43] kanduvisla commented on #6628
For anyone who was wondering: it turned out that I was not saving my country code with my address. Therefore the payment method could also not be stored.

[2016-10-06 14:44] kanduvisla commented on #6783
I think it's what @FinBoWa mentions in his response.

[2016-10-06 14:48] kanduvisla commented on #6819
Is there any news on this?

[2016-10-06 14:51] TommyKolkman commented on #2434
@ps202 I know by now it takes them about three weeks to get to it. So we should wait it out I guess!

[2016-10-06 14:52] wittyvishwas opened #6905 "Unable to Create new password from reset password link with Website restrictions turned on"
### Preconditions
1. Magento Version 2.1.0EE , PHP 7 , MySQL 5.7
2. Nginx
### Steps to reproduce

1. Turn on website restrictions
2. Trigger Forgot password for User
3. From Email received , click SET PASSWORD
### Expected result
1. You land on **customer_account_createpost**
### Actual result
1. The user get redirected to Landing page that is set in website restriction settings

[2016-10-06 14:56] veloraven commented on #3417
Can you provide your settings?
Especially for JavaScript Settings (Stores ->Configuration -> Advanced ->  Developer) and which mode is used.
I was not able to reproduce this issue.

[2016-10-06 14:57] DavidBelicza commented on #3456
@Alkar778 I tried your suggestion but it does not work on frontend. It works only for admin area, because this part of Magento 2 uses block and phtml template. https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/view/frontend/templates/address/edit.phtml

[2016-10-06 15:04] ClaudiuCreanga commented on #6768
Thanks for your reply, I will submit it there then.

I'm using 2.1.1

If you are in production mode and you only deploy en_GB locale (make sure you first delete en_US in pub/static if you previously deployed en_US) and then you have an user with the admin locale en_US then when that user tries to log into backend he will have 404 for css and js and in page source the links are all for pub/static/.

[2016-10-06 15:08] soydemadrid commented on #3256
Hi I have now also fixed this from within Webmin/Virtualmin.

For anyone else needing to do this just change the Virtual Server's own php.ini file found in /home/username/etc/php.ini - then comment out (put a semi-colon in front of) ; upload_tmp_dir = /home/username/tmp

Restart apache and everything should work correctly.

[2016-10-06 15:14] kanduvisla opened #6906 "M2.1.1 : Unable to change `resource` in webapi.xml"
### Preconditions
Magento 2.1.1

I want to be able to change the `<resource ref="self" />` to `<resource ref="anonymous" />` in a non-obstructive way, but there's currently no way of doing this. Take the following snippet from `quote/etc/webapi.xml`:

[code]

I want to be able to make this endpoint accessible anonymously. I thought I'd simply add a `webapi.xml` to my own module and add the followi

[2016-10-06 15:15] wojciechowskid opened #6907 "SID - user is constantly logged out"
### Preconditions
1. PHP 5.6.21
2. MySql 5.0.11
3. Magento CE 2.0.9
### Steps to reproduce
1. Generate SID. We do this so:

[code]

Where $this->session is set in constructor and got with help of DI (Magento\Customer\Model\Session).
2. We use URL https://secure_base_url/?SID=%genegated sid% and open it
### Expected result

User is authorized and browses webshop independently of whether page cache

[2016-10-06 15:19] wittyvishwas commented on #6905
Creating new **webrestrictions.xml** in custom module and add
`<action path="customer_account_createPassword" type="generic" />`
For a temporary fix, as when the email new password link is generated it has Capital P but the view page action is with small p

[2016-10-06 15:26] apurv-anand commented on #6816
@veloraven Thanks for marking this as a valid bug report.
Can we take this up on priority? We need a fix for this as soon as possible. Let me know if you can suggest a workaround (even a code change) till then. Making the products visible to search or catalog is not an option for us.

[2016-10-06 15:39] plauge commented on #5711
Hi,
Yes and no :-)
Please take a look at this video, where I test it on 2 sites on the same server.
One site is a clean 2.1.1 installation, and one site is an update from 2.0.7 to 2.1.1.
The bug is in the updated version.
The server is running: PHP Version 7.0.11

Here is the video link: https://goo.gl/oRoCeB

[2016-10-06 16:18] earlelnar commented on #6860
Hey guys, any Ideas? I'm really having a problem in magento 2.1.1

[2016-10-06 17:06] Daou opened #6908 "Connecting Component Manager Magento 2.1.1 EE with Marketplace Account brings error"
While trying to sign in to sync my Magento Marketplace purchases in the component Manager I get a RuntimeException.
### Preconditions
1. Magento 2.1.1 EE
2. Fresh Install, no other configuration were made
### Actual result
1. An error appears interrupting the login process "Couldn't get available versions for package magento/framework-foreign-key"
2. Please see the screenshot attached
   <img widt

[2016-10-06 17:23] ihor-sviziev commented on #6882
Looks like it's the same issue as #6473.
@ivanweiler could you check if this issue still reproduce after applying my patch from that Pull request?

[2016-10-06 18:05] dmcmillin opened #6909 "please erase. fixed in 2.2.0-dev"

[2016-10-06 18:44] niclashoyer commented on #4042
ClamAV still reports this vuln on any backend `bundle0.js` file. It _seems_ to be a false positive, but I'm not sure about that. It is definitely _not_ injected from the outside. Just checked on a fresh Magento 2 installation, that was never online.

[2016-10-06 19:00] dmcmillin commented on #5642
I am using m2.1.1 directly from https://www.magentocommerce.com/download I am getting the same issue. Since I didn't install using git I am not wishing to screw things up on my server. Can you push out a patch for those who can make use of the update feature?

[2016-10-06 19:02] dapdx opened #6911 "2.1.1 Promotional Cart Rule Conditions issue"
In Magento 2.1.1 there is an issue with the Promotional Cart Rules conditions. The top Apply run only if the following conditions are met works fine. But below when you go to add the conditions to apply the rule to specific products the field does not retain the selection.
### Preconditions

1. Magento 2.1.1, PHP 7
2.
### Steps to reproduce

1. Create Promotional Cart Price Rule
2. Go down to "App

[2016-10-06 19:34] azeemism commented on #6632
Please note when you are testing, that this may be a firefox only issue. And also note that I have not tested in Internet Explorer. Thanks

[2016-10-06 20:04] azeemism commented on #6649
Please note the following additional related issue observations:

**NOTE 1:**
`https://example.com/contact` reloads as `https://example.com/contact/index/` when a comment is submitted.

**NOTE 2:**
Also note that if multiple comments are sent or if the captcha is incorrect when sending a comment additional `index/` may be **added** or **subtracted** from the page url when it reloads again. For exa

[2016-10-06 22:06] ps202 commented on #2434
@TommyKolkman Ok. :+1:

[2016-10-06 22:29] aarondong2005 commented on #6864
I just find out create new customer page and customer detail page will have 2 extra files filled with 0s. Create a order using existing customer created before migration will not get the error. But using customer after migration will get the error. Is it could be why create a new order for customer with error? How Do I delete the extra fields?

![extra-fields-with-0s](https://cloud.githubuserconte

[2016-10-06 22:31] aarondong2005 opened #6915 "2 Extra fields in customer creation page and customer detail page"
Preconditions
1. Magento 2.1.1 migrated from 1.9.0.1 about half month ago.
2. PHP 7.0.10 + MySQL 5.6.32

Steps to reproduce
Chose a existing customer or Create a new customer.
![extra-fields-with-0s](https://cloud.githubusercontent.com/assets/15516555/19173031/f8f44a8e-8bd9-11e6-9b3f-789714c9ebe2.jpg)

[2016-10-06 22:35] aarondong2005 commented on #6915
Now when I create a new order from customer created before migration is ok. But use customer created after migration will get "No such entity with class_id = 0" error. https://github.com/magento/magento2/issues/6864

[2016-10-07 00:26] Ctucker9233 commented on #2946
Yes, is there an estimate of when the next patch will be available?

[2016-10-07 00:36] miller-nicholas opened #6916 "Update Bundle Product without changes in bundle items"
### Preconditions
1. Latest Magento 2.1.1 from release archive
### Steps to reproduce
1. Admin -> Catalog -> Products
2. Edit Bundle product, nothing change, just save it

If you just update (not new) bundle product and edit any Bundle Items Saves works
I added new category and image, saves not works. Actually saves doesn't work for me even without any changes.

Update: i have more then 20 items,

[2016-10-07 00:54] nomuprive opened #6917 "Add to Cart and Checkout Issue"
Magento 2.1.1
PHP Version: 5.6.17
MySQL Version: 5.6.33

**When Does Issue Occur:**

When click on "Add to Cart" button it redirects to an error page with error message, "The page isn’t redirecting properly. Firefox has detected that the server is redirecting the request for this address in a way that will never complete. This problem can sometimes be caused by disabling or refusing to accept cook

[2016-10-07 02:37] aarondong2005 commented on #6915
I find out they are just old extension tables just set entity_type_id in phpmyadmin to 4 to hide them.

[2016-10-07 02:37] #6915 closed, assigned to nobody

[2016-10-07 03:39] thaohientruong commented on #6747
@mrkhoa99 yup. You can check again when edit value custom option of product (like image attach above )

[2016-10-07 04:12] phoenix-bjoern opened #6918 "API improvement: CategoryRepositoryInterface should have a getList method"
As a developer you need to be able to retrieve categories by certain conditions e.g. to select categories by their parent ID or by their ID path. Currently this is only possible by using the categorie's resource model directly which is an unclean approach.
The ProductRepositoryInterface provides a getList method which allows a developer to select products by using the SearchCriteriaInterface. For

[2016-10-07 04:16] giappv commented on #2412
I used apache as webserver and this cron setting fixed my issue:

[code]

[2016-10-07 04:23] giappv commented on #6366
I used apache as webserver and this cron setting fixed my issue:

[code]

I run a magento 2 instance on aws ubuntu 14.04 trusty

[2016-10-07 04:23] marvincaspar commented on #2434
@ps202 I can't reopen this issue, I don't know why

[2016-10-07 05:01] aarondong2005 commented on #6864
I just find out "No such entity with class_id = 0" error was cause by TaxJar 0.5.0 extension. It's not migration issue.

[2016-10-07 05:01] #6864 closed, assigned to nobody

[2016-10-07 05:30] apurv-anand commented on #6816
Would appreciate a response on prioritizing this issue. Let me know if a hot fix can be provided.

[2016-10-07 05:30] phoenix-bjoern opened #6919 "API improvement: OrderInterface should have a getShippingAddress method"
As a developer who writes an order export for Magento2 you would expect that besides the getBillingAddress there would be also a getShippingAddress method. While all the [g/s]etShipping... methods exists in the Magento\Sales\Model\Order model (which is the actual implementation of the OrderInterface) those elementary shipping-address methods are not part of the API interface.

Example: $order is d

[2016-10-07 05:49] nissablagojevic commented on #5762
### tl;dr The array of subproducts is being limited to the first enabled product by the SQL generated in the LinkedProductSelectBuilders.

I've been experimenting with debugging this, because it's a bit of a priority to have low or no stock products within my configurables.

The sizeof() $this->getConfigurableOptionsProvider()->getProducts($product) in vendor/magento/module-configurable-product/Pr

[2016-10-07 06:52] nissablagojevic commented on #6799
Did some debugging here in this related thread: #5762

[2016-10-07 06:57] jigar48 commented on #4637
Having the same issue I am seeing.

I have installed the Magento 2.1.0

I have made the custom theme and move the mini cart to custom header.

After Adding the product to cart.

In console this error is coming
http://prntscr.com/cqu1cd

Mini cart is display this content
http://prntscr.com/cqu1fj

Cache is enabled only mini cart dispplay totoal items

[2016-10-07 08:05] eldonbite commented on #6746
We're experiencing the same when switching between GBP and JPY currencies:

![image](https://cloud.githubusercontent.com/assets/3441674/19182657/f246e0ac-8ca6-11e6-9c14-3b8c3d52a1d3.png)

![image](https://cloud.githubusercontent.com/assets/3441674/19182743/6b8e072e-8ca7-11e6-9ce2-cbada5501184.png)

Some workarounds that I know of to prevent this issue from occurring is to:
1. Disable the block cac

[2016-10-07 08:19] anton-huz commented on #4449
@wingsoul
My current environment:
PHP 7.0.10
nginx 1.10.0
Ubuntu 16.04.1 LTS
Latest Chrome/Firefox/MS Edge.

I don't faced with _same problem_. But I really want to help you. So could you so kind and describe:
- What version of Magento?
- How did you install it? Was it an update? How you do an update?
- Was your browser in private mode?
- What is exactly the problem you faced with?

[2016-10-07 09:03] PiscesThankIT commented on #4237
@ajpevers Hi, I came across the same issue too.  My local is UTC+8, the cron job time in database is 8 hours more than local. If local time is 2016/10/7 8:00, the cron job time will be 16:00.  However, the order time is local time no matter which local is set. I want to know if this is Magento 2 's design that order time is in local time. Please help me. Thanks in advance!

[2016-10-07 09:06] glwstor commented on #3759
The problem still exists with version 2.1.1

[2016-10-07 09:22] florinserbu2 commented on #6176
I am having the same issue, but I see the message only after I restart php7.0-fpm because after saving the category the admin is being stuck on loading.

My guess is have something to do with the number of the products from that category. If I try it the save on a category with a smaller number of products, it works just fine.

Mine has 14k+ products and I also have all the indexes set to Update b

[2016-10-07 09:26] ngorupaha opened #6920 "Update category, URL key already exists error"
### Preconditions

1. Magento version 2.1 ee
### Steps to reproduce

1.  go to admin panel and try to edit url key for already created category
2. but this issue related only for categories that include 2levels of subcategories.
### Expected result

1. url key for specified store already exists.
### Actual result

1. https://drive.google.com/file/d/0Bz6ZgipDQ-L8UURpa2tCRXEzWWs/view

[2016-10-07 09:27] #6893 closed, assigned to victor-v-rad

[2016-10-07 09:27] vipulmishra341 commented on #6893
Issue resolve after doing migration at fresh Magento2 database

[2016-10-07 09:37] dmcmillin commented on #5642
@alena-marchenko - It seems like this is a huge issue for many customers and doesn't look like it is actually fixed. Any updates? Thanks!!!

[2016-10-07 09:42] sevos1984 commented on #6890
Internal ticket created MAGETWO-59462. Thanks for reporting

[2016-10-07 09:46] riyuk commented on #6916
Replacing in File `/vendor/magento/module-bundle/Controller/Adminhtml/Product/Initialization/Helper/Plugin/Bundle.php`:
`if ((bool)$optionData['delete']) {`
&
`if ((bool)$linkData['delete']) {`

With:
`if (isset($optionData['delete']) && (bool)$optionData['delete']) {`
&
`if (isset($linkData['delete']) && (bool)$linkData['delete']) {`

does fix the Problem for me.
Probably also the solution for #6

[2016-10-07 10:04] zsmfyp commented on #4096
Fatal error: Uncaught Error: Call to a member function getOrigData() on null in /Applications/MAMP/htdocs/z/app/code/Ess/M2ePro/Observer/StockItem/Save/After.php:54 Stack trace: #0 /Applications/MAMP/htdocs/z/app/code/Ess/M2ePro/Observer/StockItem/Save/After.php(46): Ess\M2ePro\Observer\StockItem\Save\After->processQty() #1 /Applications/MAMP/htdocs/z/app/code/Ess/M2ePro/Observer/AbstractModel.php

[2016-10-07 10:05] zsmfyp commented on #4096
i use in version 2.1.1

[2016-10-07 10:15] KalaiarasanSeetharaman opened #6921 "Sitemap is not working in magento2.0.6"
### Preconditions

1. Magento 2.0.6
### Steps to reproduce

1. I have generate the sitemap by using marketing -> sitemap
2. cretaed sitemap under the folder sitemap/sitemap.xml also genertaed in that file
3. System configuration also done by going to sytem -> configuration -> catalog-> xml sitemap
4. Set frequncy as daily , generating time as 00 00 00
5. Page cache also enabled
6. Cache aslo clear

[2016-10-07 10:59] stamster commented on #6921
You need to put path as `/pub/sitemap/sitemap.xml`.
So just add `/pub/` in front of your desired directory.

BTW, Magento 2.0.6 is out-of-date, not that 2.1.x is much better but at least some bugs are fixed xD

[2016-10-07 11:06] rickwhitehead commented on #2574
Please may I have a link to the pull request for the code to resolve this issue? If not please advise how the rest of us can follow progress/roadmap so that we have some idea how long we're likely to be waiting?

[2016-10-07 11:06] AntonEvers commented on #4237
@PiscesThankIT as far as I can see all DB times are UTC as set in `\Magento\Framework\DB\Adapter\Pdo\Mysql::_connect`

[code]

The cron table is the exception, because the dates are changed before they go into the DB. However the cron code is written with this in mind and the jobs execute on time. That is, if you plan a cron job 5 minutes from now it will run 5 minutes from now, regardless of the

[2016-10-07 11:23] dmcmillin commented on #5642
Also, I installed newest commit just now. put up 1 product in said store, setup authorize.net... everything was correct. However, for some odd reason... This bug is still present. kinda weird...

[2016-10-07 11:48] hakunamatatata commented on #6817
We're experiencing the exact same issue, hoping for a fix soon.

[2016-10-07 11:49] Borales commented on #6817
it seems Magento 2.1.1 has the same issue

[2016-10-07 12:04] johnvanderstelt opened #6923 "Tier price percentage incorrect if special price set"
### Preconditions

1. I'm running Magento 2.1.1 on hypernode-vagrant environment, however the issue also occurs on our production server (also Magento 2.1.1)
2. Environment runs on PHP7
### Steps to reproduce

1. I have the `Configuration > Catalog > Price > Catalog Price Scope` setting set to `Website`
2. I have set TAX settings to show prices including VAT (21% in The Netherlands).
3. I have a s

[2016-10-07 12:09] miller-nicholas commented on #6916
yeah, tx, just i want to get this working in next release :)

[2016-10-07 12:46] KalaiarasanSeetharaman commented on #6921
I have developed project using magento 2.0.6 . How can i upgrade . It will not affect my theme ?

[2016-10-07 13:01] KalaiarasanSeetharaman commented on #6921
I have generated the sitemap in /pub/sitemap/sitemap.xml . Even though in frontend by clicking this catalog/seo_sitemap/category/. it says 404 not found. please help me

[2016-10-07 13:04] githeat opened #6924 "Magento 2.1.0 - "General system exception happened" on Import .csv"
### Preconditions
1. PHP 7.0.11
2. MySQL 5.6.30
3. Magento 2.1.0 CE
4. Ubuntu 14.04.1 LTS
### Steps to reproduce

1. Login to Magento admin panel
2. Select "System" -> "Import"
3. Entity type = "products", Import Behaviour = "Add/Update" - "Stop on error", Allowed errors count = "10", Field Seperator = ",", Multi value seperator ",", Select file to import = myfile, Image files directory = "pub/med

[2016-10-07 13:27] PiscesThankIT commented on #4237
@ajpevers  Thank you so much for your help!

I just tested again. I change the database time_zone to be "UTC", and the DB times will be UTC.
If I change it to be "+2:00" and magento DB times will be “+2:00”.
It seems it is depend on the database time_zone. I'm not sure what's wrong with my environment.

[2016-10-07 13:36] anton-huz commented on #6409
Hi guys,
I have a good news for: your instance already has all stuff needed to fix the issue.

### The root of an issue

Lets install Magento 2.1 and open Orders' list or Products' list in Admin area. When you look in network tab of your browser you can find that almost all files are loaded. There is just a few missings like `rjsResolver.js`. Indeed this file is missed from Magento-box.

Magento 2

[2016-10-07 13:39] anton-huz commented on #6409
I'm closing an issue as "Not a bug" until you can correct my conclusion.

[2016-10-07 13:39] #6409 closed, assigned to nobody

[2016-10-07 13:56] iivashchenko commented on #6258
@dmcmillin, if you want to report a bug, please, create a new issue.

[2016-10-07 14:02] iivashchenko commented on #6258
@jigar48, we are closing this issue because it hasn’t been updated in more than two weeks. Please reopen as needed.

[2016-10-07 14:02] #6258 closed, assigned to alena-marchenko

[2016-10-07 14:04] pboisvert commented on #6919
Thanks Bjorn for the feedback. Will make sure the product owner for APIs sees this

[2016-10-07 14:15] PiscesThankIT commented on #4642
I meet the same issue.
Steps to reproduce:
-  Set Account Setting > Interface Locale > Chinese(China)
-  Stores > configuration > General > Locale Options > Local > China
-  Marketing > Newsletter Template  choose a template  do the action "Queue Newsletter"
-  The first field "Queue Date Start" is a  jquery picker in Chinese string, like "2016年10月7日 a2:09:20"
-  When I click the "Save Newsletter"

[2016-10-07 14:21] phoenix-bjoern commented on #6919
Thanks @pboisvert! already in touch with @choukalos :-)

[2016-10-07 14:30] pyostrike opened #6925 "Category Top Navigation -> Maximal Depth is broken in > 2.1"
It's said at http://docs.magento.com/m2/ce/user_guide/catalog/navigation-top.html that this value controls maximum number of levels that are available in top navigation. Actually it's not.
### Preconditions

### Steps to reproduce

Create a 3 level category tree. Set Maximal Depth to 1.
### Expected result

Menu in top navigation will not show sub categories.
### Actual result

Menu in top navigat

[2016-10-07 14:38] antboiko commented on #6921
Hi @KalaiarasanSeetharaman , what is catalog/seo_sitemap/category/?

Can you please navigate to Admin > Marketing >  SEO & Search > Sitemap and tell me what you have in "Link for Google" column?

Thanks,
Anton.

[2016-10-07 14:38] iget-esoares commented on #2504
Almost ONE YEAR after creating this issue, I've decided to try Magento 2 again, and I stuck on the same error, in another totally different machine (Ubuntu 16 instead of 14, brand new setup).

Again, the only fix I've found was my own fix.
I really don't understand WHY this shouldn't be merged, since many people related that it fixed for them.

Imagine many new people that want to try Magento 2, a

[2016-10-07 14:40] iget-esoares commented on #2504
@mazhalai
@magento-admin

[2016-10-07 14:42] KalaiarasanSeetharaman commented on #6921
I have in that  http://xxxx.com/pub/sitemap/sitemap.xml

[2016-10-07 14:44] antboiko commented on #6921
@KalaiarasanSeetharaman  That is the link for your generated sitemap.

Best,
Anton.

[2016-10-07 14:46] KalaiarasanSeetharaman commented on #6921
In frontend how the user can view the sitemap ? by giving the above link ?

[2016-10-07 14:47] andidhouse commented on #2504
@iget-esoares totally agree. Do you use php7?

We found it to work without the fix on php5 but php7 need the fix.
Also i really do not understand why there is no feedback here of implementing this.

[2016-10-07 14:50] riyuk commented on #6710
Every save on a Bundleproduct will update all Option_Ids + Option_Values.
In the Front-End all values from select/option-fields will change.

This is critical if you use the REST API intensively. Every previous fetched Bundle/Option-Combination will get invalid.

@miakusha: we only got select-fields.

Some Options in this Bundle got >30 possible select-values/ virtual products.

[2016-10-07 15:01] sevos1984 commented on #6885
Thanks for reporting. Internal ticket created MAGETWO-59489

[2016-10-07 15:32] pboisvert commented on #6919
yes--Chuck knows about this area but owned currently by @mbrinton01

[2016-10-07 15:58] shinesoftware commented on #6581
This method  /rest/V1/carts/mine/set-payment-information doesn't accept the parameter suggested: "billingAddress".

but these parameters:

[code]

[2016-10-07 16:00] pboisvert commented on #6920
@ngorupaha given this is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-07 16:35] devdesco-ceo commented on #6823
I switched over to magento/blank theme, but the Add to Cart button is missing in this case as well.
Maybe when running database upgrade when upgrading from 2.0.9 to 2.1.1 broke some relations or settings in DB?

Any clue?

[2016-10-07 16:47] FranRoy opened #6926 "Backend: Update product stock not working on save"
## Preconditions
- I'm running Magento 2.1.1 on Centos7 + php7 + nginx 1.10 + mysql 5.6 + redis on a Amazon ec2 stack.
- My website was migrated from a Magento 1.7.2
- My website is configurated to manage stock
- The issue only happens on migrated products
- New products work as expected
## Steps to reproduce
- Go to a simple product (migrated one)
- Change stock qty
- Save
## Expected result

Sto

[2016-10-07 18:07] magenx commented on #2504
this thread just shows how many people dont know the difference between the real bug and specific environmental configuration.

[2016-10-07 19:53] yaro-tr commented on #5645
SQL:

UPDATE `eav_attribute_group` SET tab_group_code='advanced' WHERE `attribute_group_name` LIKE '%{PRICE}%'
UPDATE `eav_attribute_group` SET attribute_group_code = 'advanced-pricing'  WHERE `attribute_group_name` LIKE '%{PRICE}%'

Do not copy paste code!

{PRICE} - is attribute group where exists all attributes, like price, special_price, group_price etc...

That code help me solve problem afte

[2016-10-07 20:37] Ctucker9233 commented on #2966
Is this fix just for develop or is it ready for 2.1? If it's not ready for 2.1 yet, is there an estimated time frame for when it might be ready?

[2016-10-07 20:50] Ctucker9233 commented on #6426
@eug123 Has MAGETWO-56915 been ported to 2.1 or is it just in develop right now? If it's not ported, will we have to wait for the next patch/2.1.2?

[2016-10-07 21:07] Ctucker9233 commented on #5423
@tkacheva I would recommend clarifying what "Installed the compressed archive" means with some steps on how to install the compressed archive correctly. Then, I would recommend having two sections on how to upgrade using CLI. One for if you do it with composer and one for if you do it with the compressed archive. Right now, I only see the section for doing it with composer. Since I don't have acce

[2016-10-07 21:12] Ctucker9233 commented on #3729
Where can I find the fix for the 2.1 branch?

[2016-10-07 21:54] Ctucker9233 commented on #6704
Does this fix work for 2.1.1 or are we waiting on a port?

[2016-10-07 22:16] pguedesbr commented on #6719
Any updates on this?

I've done some code inspection and realized one thing:

The custom attribute has a source model with its own table. The values of these tables go from ids 1 to 3.

When loading attribute options for the product configuration block (on the product view page and order create/product configuration modal), the system loads the options from the standard attribute options table (ea

[2016-10-07 22:41] ikim-incipio commented on #4756
Any update on this issue?
I'm having the same problem with component manager using 2.1.1
I tried every single suggestion but still having issue.
I made sure i have proper permissions and version showing up for each module.

After tinkering with code, I was able to narrow it down to a single function that's causing infinite spinning wheel:

/setup/src/Magento/Setup/Model/PackagesData.php
private fu

[2016-10-08 02:38] Will-I4M commented on #2065
Same issue for me but it's working after redeploying static content / cleaning & flushing cache.

[2016-10-08 07:17] rsetht commented on #5762
@nissablagojevic -- Can you give a more specific "fix" for this?   Looking around, I can't find the ->limit(1) or the LinkedProductSelect... functions.

[2016-10-08 07:22] cadoworld commented on #6921
Hi, does your store is setup on single stone ...
try to store>configuration>general  Single-Store Mode > No
then reindex.

I had similar problem to see other page on magento 2.1.x
Hope it will work

[2016-10-08 07:23] soragan commented on #3496
problem still exist in 2.1.1, is there any work around while waiting for the fix?

[2016-10-08 07:41] ihor-sviziev commented on #6426
This issue should be included in next update, but I'm not sure

On Oct 7, 2016 23:51, "Ctucker9233" notifications@github.com wrote:

[2016-10-08 08:20] prasannanwr opened #6929 "Couldnot place order "An error occured on the server. Please try to place the order again""
I am unable to place the order in Magento 2.1.1.
I don't get specific log details to track the error.
The console log shows "Failed to load resource: the server responded with a status of 400 (Bad Request)" at
http://example.com/rest/default/V1/guest-carts/36b703a23e05b25a08da0e8ba5ab031f/payment-information

I have previously installed an extension to delete orders. But I removed it too and upgra

[2016-10-08 10:51] kociiide commented on #6929
Hi there,

I am having the same issue, glad it's not isolated to me.

We upgraded to magento 2.1.1 and are facing checkout issues associated with he number of address lines a customer has.

If a customer has only 1 address line filled in and the default setting is 2 the error occurs.

If you set the value to 1 in the admin panel customers with 1 address line can then checkout but with existing cus

[2016-10-08 12:07] cuiyang000 commented on #2951
"Forgot Your Password" not translatable problem still exists in 2.1.1

[2016-10-08 13:48] shanevbg commented on #5014
I know this issue was closed, but I have the exact same issue, ever since I upgraded from Magento 2.0 to 2.1 (and now 2.1.1), I haven't been able to see the orders in the order grid.  I've tried disabling extensions, etc.  I can get to the orders by either going to transactions and see them there, or the dashboard, but the order grid doesn't show any entries from after I updated to 2.1.  It is the

[2016-10-08 14:09] miller-nicholas opened #6931 "New Order Email Template Loading Error (Missed JSON structure)"
### Preconditions
1.  Magento 2.1.1 Release from archive
### Steps to reproduce
1. Go to Marketing -> Email Templates
2. Select any "New Order" template -> click Load Template
### Actual result

1.Exception log:
main.CRITICAL: exception 'Zend_Json_Exception' with message 'Decoding failed: Syntax error' in .../vendor/magento/zendframework1/library/Zend/Json.php:97

[2016-10-08 14:12] danny3388 commented on #5762
@nissablagojevic Is there any more progress on a fix for this issue? Spent days wondering why my products were not showing up and now finally figured out this was the cause.

[2016-10-08 14:41] hostep commented on #6931
Duplicate: https://github.com/magento/magento2/issues/5101 & PR: https://github.com/magento/magento2/pull/5116
The PR was already merged in the develop branch, so it should appear in one of the next releases hopefully :)

[2016-10-08 15:25] cuiyang000 commented on #5820
Having the same problem in 2.1.1.
It's also in registration page.

[2016-10-08 15:29] aarondong2005 commented on #6737
@veloraven Any update for the issue?

[2016-10-08 16:31] cuiyang000 commented on #5509
@Choufourax 's temporary solution works!

[2016-10-08 22:42] rob-gonz commented on #2504
I am using php7.0-fpm, and nginx running  on Ubuntu 16.04.  @iget-esoares's solution worked flawlessly.  I have been searching for a solution to my problem for 2 days now.  Thank you.

I do believe that this configuration change, while not actually a bug.  Does deserve, at very least, a mention in the comments of the sample nginx configuration file.

[2016-10-08 22:59] Ctucker9233 commented on #5305
@sevos is this commit safe to merge into a 2.1.1 production site, or is a patch planned? Thanks.

[2016-10-08 23:28] timbaker1991 commented on #5594
To add to this I am able to replicate:
**Preconditions:**
Magento Version CE 2.1.1
PHP version 7.0.7
Full Page Caching Enabled
Chrome Version 53.0.2785.143 m

**Steps to reproduce with Actual and Expected Result**
When Full Page Caching is enabled this always results $customerId as null, disabling full page caching means the customerId is correctly returned.

[code]

This appears to only happen in

[2016-10-09 00:03] shanevbg opened #6932 "Order Grid not showing NEW orders after upgrade from 2.0 to 2.1"
Ever since I upgraded from Magento 2.0 to 2.1 (and now 2.1.1), I haven't been able to see NEW orders in the order grid (old ones show up just fine). I've tried disabling extensions, etc. I can get to the orders by either going to transactions and see them there, or the dashboard, but the order grid doesn't show any entries from after I updated to 2.1.

NEW orders also don't show up in the query
SE

[2016-10-09 00:15] sevos commented on #5305
@sevos1984

[2016-10-09 00:51] Igloczek commented on #6866
@pobrassard That's true, but we need to tell about this our clients somehow, b/c this product doesn't cost 0.00$ in any configuration.

So there are few scenarios how it should be fixed:
- disable ability to add configurable product to wishlist, without selecting all options. But it's suck, b/c we can't use simple "heart" button on category view / home page / any other products listing - not so go

[2016-10-09 01:07] kcarm8 opened #6933 "Magento 2.1 REST API configurableProductLinkManagementV1 Associating Simple to Configurable Products error"
I'm making a call to REST API configurableProductLinkManagementV1. The first simple product is associated correctly. Any simple product after that is not. The error I receive states "option values are not specified".  I'm passing in the following JSON:

'{"childSKU": "my SKU here"}'

I'm running Magento 2.1.0, PHP version 5.6.25-1+deb.sury.org~trusty+1, Apache/2.4.7, Ubuntu Linux 14.04, MySQL 5.6.

[2016-10-09 01:26] #6898 closed, assigned to nobody

[2016-10-09 01:41] Oxidation1 commented on #6929
Been stuck on this problem for awhile now.. cant seem to figure it out.. hopefully someone can...

[2016-10-09 06:23] pguedesbr commented on #6719
I've pinned down the problem to this file:

\vendor\magento\module-configurable-product\Model\ResourceModel\Product\Type\Configurable\Attribute\Collection.php

In 2.0.8 the loadOptions() function  called the getIncludedOptions() which in turn called the getSource()->getSpecificOptions(). That means that attributes with custom sources would have its options loaded by their custom source models.

No

[2016-10-09 08:58] cizgidekiadam commented on #6817
+1 It was exists in previous versions (2.0.7, 2.1.0) but we were thinking it is a theme issue. Now using 2.1.1, checked everything, still exists.

[2016-10-09 09:11] atomixstar commented on #3177
Hello, I have same problem, on nginx and php 7?

location / {
try_files $uri $uri/ /index.php?$args;
}

this not helped me.

[2016-10-09 09:38] atomixstar opened #6934 "Initialization error component, check the spelling of the name or the correctness of the call."
Hello, after move a magento 2 store to a new vps with nginx and php 7 I am getting an error on backend when trying to access many pages, the error is only on ajax calls.

admin/mui/index/render/key/ecde213438bbe97f7369b7998f552d8c01ef43dcfb7914e9dee93ad4c280d1f0/?namespace=sales_order_grid&search=&filters%5Bplaceholder%5D=true&paging%5BpageSize%5D=500&paging%5Bcurrent%5D=1&sorting%5Bfield%5D=incre

[2016-10-09 12:03] ja-weber opened #6935 "Getting HTTP 500 on REST call for find cutomers"
Hello,
I make the following REST call:
[SHOP_URL]/index.php/rest/V1/orders/?searchCriteria[filterGroups][0][filters][0][field]=customerId&searchCriteria[filterGroups][0][filters][0][value]=1&searchCriteria[filterGroups][0][filters][0][conditionType]=eq

I expect the customer with the ID 1. But I am getting only:

'The requested URL returned error: 500 Internal Server Error'

There is a customer wi

[2016-10-09 14:09] ja-weber commented on #6935
I have found the error by myself. In the query parameter there was written customerId but customer_id is right. In the documentation was customerId -> The documentation is wrong.

[2016-10-09 14:09] #6935 closed, assigned to nobody

[2016-10-09 16:37] Crustymd opened #6936 "SHH Magento upgrade error"
So i am having this strange issue that i can not find on entire web.

I just installed the freshly 2.1.1 I am running CentOS + ISPmanager php version is 5.6 and MariaDB 10.

All went smoothly with no errors, i manage to clear cache and reindex data with no problem. I uploaded the magento 2.1 theme, and now i have to manuualy install the modules. For example

"php bin/magento module:enable MGS_Mpan

[2016-10-09 18:06] tanghia opened #6937 "Downloadable product and a tracking number for shipping"
A customer purchased our downloadable product. After 12h an email send to customer about tracking number for shipping.
I don't think the downloadble product need a tracking number.
![image](https://cloud.githubusercontent.com/assets/7329746/19222589/4c7552b2-8e86-11e6-8ae7-569da7a42400.png)
![image](https://cloud.githubusercontent.com/assets/7329746/19222597/83c7f562-8e86-11e6-9f95-c4a3c6b3e0aa.pn

[2016-10-09 18:12] Crustymd commented on #6936
If i try to install them from backend i get this error:

[2016-10-09 17:56:03 UTC] An error occurred while executing job "setup:cache:disable []": Could not complete setup:cache:disable [] successfully: Deployment config file env.php is not writable.
[2016-10-09 17:56:03 UTC] Job "setup:module:enable {"components":[{"name":"MGS_Blog"}]}" has started

[2016-10-09 17:56:03 UTC] An error occurred whi

[2016-10-09 18:25] Crustymd commented on #6936
And this is the error from error log:

[Sun Oct 09 19:06:40.972178 2016] [access_compat:error] [pid 31235] [client 37.143.14.123:37166] AH01797: client denied by server configuration: /var/www/fabi/data/www/***_/app/etc/config.php
[Sun Oct 09 19:30:11.373549 2016] [access_compat:error] [pid 1254] [client 37.143.14.123:35679] AH01797: client denied by server configuration: /var/www/fabi/data/www/**

[2016-10-09 19:09] gabriel-sf commented on #5270
Hi @antboiko would you be able to specify how we can implement the patch to fix this issue?

[2016-10-09 19:12] ps202 opened #6938 "Importing configurable product with 2 selectable attributes fails"
Operating System: Ubuntu 15.10
PHP 5.6.11-1ubuntu3.4 (cli)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies
with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015, by Zend Technologies
mysql Ver 14.14 Distrib 5.6.31, for debian-linux-gnu (x86_64) using EditLine wrapper
Magento 2.1.0 CE
### Steps to reproduce
1. Install Magento
2. Create one configu

[2016-10-09 21:03] carlowens commented on #5332
I am not sure if this was ever 'fixed' via this bug report, but after a Magento 2 update (2.1.x) I believe QA told us this was fixed.  I am quite sure that the temp fix above I included also worked.

[2016-10-09 22:37] Crustymd commented on #6936
I managed to clear All the issues with permission, setting everything to 775 and 664;

After installing modules with SSH all was good, except when trying to run the update, here i s the var/log

a:4:{i:0;s:209:"Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
MGS_Luxurysampledata data: current version - none, require

[2016-10-10 02:01] shahankitb997 opened #6939 "Data validation failed. Please fix the following errors and upload the file again."
### Preconditions

1. I'm using Magento 2 CE Version 2.1.1
2. Not using any kind of translations
### Steps to reproduce

1.  Export Magento 2 Default Product CSV file
2.  Import same CSV file which u have exported.
3.  It gives error "Product Type" Invalid
### Expected result

1. It should allow to upload CSV file
### Actual result

http://magento.stackexchange.com/questions/139587/magento-2-produ

[2016-10-10 06:21] shahankitb997 commented on #4743
Facing same issue. Can't attach CSV file.

[2016-10-10 06:30] #6909 closed, assigned to nobody

[2016-10-10 06:33] veloraven commented on #6917
@williambize thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-10 06:43] veloraven commented on #6925
@pyostrike thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-10 06:51] irenelagno commented on #6704
@Ctucker9233, This fix will be delivered to 2.1.x in the scope of MAGETWO-59246

[2016-10-10 06:52] prasannanwr commented on #6929
Don't anybody have insight on it. I am really disappointed with magento 2.1. I don't think the 2.1 version is ready for production.

[2016-10-10 06:54] veloraven commented on #6929
@prasannanwr please provide exact steps you do and specify payment and shipment methods you use. Is the problem present for Cash on Delivery payment method only or for others as well? Is customer registered or making order as guest?
Was it upgrade from some previous version or clear Magento install?

[2016-10-10 07:01] veloraven commented on #6931
Closed as duplicate.
We have separate internal issue for ver. 2.1 - MAGETWO-57026

[2016-10-10 07:01] #6931 closed, assigned to nobody

[2016-10-10 07:03] prasannanwr commented on #6929
The shipping method is Free shipping and the payment method is Cash on delivery.
I have not tested on other payment methods. My requirement is cod now. The customer is making order as guest.

I have installed fresh magento 2.1.1. Before it was working well. But after when I runned system upgrade and compiled, I got this error I guess but not sure.

![image](https://cloud.githubusercontent.com/asse

[2016-10-10 07:05] veloraven commented on #6934
@atomixstar thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-10 07:12] kociiide commented on #6929
Hi Veloraven.

To replicate the same bug on our website and little more info please see below.

The same error as posted here is happening with us. We upgrade from 2.0.9 to 2.1.1.

We are also experiencing the same issues as documented here which is looks like this is repeated to:

https://github.com/magento/magento2/issues/4921

Within the admin panel set the address lines for customers to 2:

St

[2016-10-10 07:17] veloraven commented on #6936
@Crustymd thank you for your feedback.
As I understand the original problem is solved now.
Did you run "bin/magento setup:upgrade"?

[2016-10-10 07:20] veloraven commented on #6937
@tanghia thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-10 07:21] orlangur opened #6940 "Magento EE license file name placeholder is still not replaced with proper value"
### Steps to reproduce

1. Open https://github.com/magento/magento2/blob/develop/COPYING.txt#L7
### Expected result

1. `<insert file name of the MEE license>` placeholder must be replaced with file name of EE license added to CE repository or the whole sentence must be reworded to eliminate this placeholder
### Actual result

1. `<insert file name of the MEE license>` is observed

[2016-10-10 07:24] veloraven commented on #6939
@shahankitb997 thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Do you use any translations?
Could you provide the problem product_type value?

[2016-10-10 07:46] veloraven commented on #6908
@Daou thank you for your feedback.
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-10 07:47] antboiko commented on #6866
Hi @Serzhik ,

Thanks for reporting this issue. We've created internal ticket MAGETWO-59512.

Regards,
Anton.

[2016-10-10 07:48] #6575 closed, assigned to nobody

[2016-10-10 07:49] veloraven commented on #6625
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:49] #6625 closed, assigned to nobody

[2016-10-10 07:49] #6644 closed, assigned to nobody

[2016-10-10 07:50] #6647 closed, assigned to nobody

[2016-10-10 07:50] veloraven commented on #6670
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:50] #6670 closed, assigned to nobody

[2016-10-10 07:51] veloraven commented on #6675
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:51] #6675 closed, assigned to nobody

[2016-10-10 07:51] #6690 closed, assigned to nobody

[2016-10-10 07:51] #6692 closed, assigned to nobody

[2016-10-10 07:52] veloraven commented on #6698
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:52] veloraven commented on #6699
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:52] veloraven commented on #6700
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:54] veloraven commented on #6717
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-10 07:54] #6717 closed, assigned to nobody

[2016-10-10 07:59] veloraven commented on #6783
@kanduvisla thank you for your response.
I'm closing this issue then as it is not Magento issue.

@FinBoWa thank you for useful information.

[2016-10-10 07:59] #6783 closed, assigned to nobody

[2016-10-10 08:08] veloraven commented on #6900
@rdeelstra it is much easier and tales less time to process tickets which are formatted according to templates, when I can at once see what have to be done to reproduce the issue and what is the result. And there is no need to read the whole description to find e.g. expected result. Additionally, different people may process your issue at different steps, and not all of them necessary deal with co

[2016-10-10 08:25] anton-huz commented on #5357
The investigation is doing under MAGETWO-48840 internal issue.

[2016-10-10 08:31] shahankitb997 commented on #6939
@veloraven Updated. Let me know if required more info.

[2016-10-10 08:35] sma09sjb commented on #6858
Hi,

Can anyone provide an update on this, i see it's been marked as a bug. Is this a known issue?

Regards,

Sophie

[2016-10-10 08:41] sma09sjb commented on #6793
Hi,

is there any update on this?

Thanks,

Sophie

[2016-10-10 09:04] jimmyhien commented on #6817
There is an undefined bug with Magento 2.1.1. We also have the same issue. But there is no issue with old version (2.0). I think it is javascript issue.

[2016-10-10 09:05] PierAlex opened #6941 "Paypal shows shipping address instead than billing address"
Magento 2.1.1
Plesk 12.5.
Apache 7.08
MySql 5.6.29
Nginx
### Steps to reproduce
1. Add product(s) to the shopping cart
2. Go to the checout process
3. Insert a shipping address
4. pay with paypal
5. Use credit card
### Expected result
1. The invoice address in Paypal shows the billing address
### Actual result
1. The invoice address shows the shipping address

[2016-10-10 09:06] prasannanwr commented on #6929
Finally I figured out the problem. I have skipped City field on checkout because we don't need city on address.
Upon enabling the city field, it worked. I want to remove city on checkout. Are there any good way to do that?

Thanks

[2016-10-10 09:13] immist commented on #5946
Same Issue here:

PHP 7
no Varnish
no Page Cache enabled
Magento 2.1.1

Standard template Magento/luma

[2016-10-10 09:20] SerhiyShkolyarenko commented on #6869
@PascalBrouwers I'm not autorized to rerun builds.
I rechecked the issue on the latest develop branch and didn't reproduce it. Is it still reproducible for you on pure mainline/develop?

[2016-10-10 09:22] sevos1984 commented on #4421
@arthursp Is this still actual?

[2016-10-10 09:24] sevos1984 commented on #3419
@xhallix Is this still actual?

[2016-10-10 09:26] ps202 commented on #6938
Additionally, my question is, how can you import such products?
Because I tried to export first, to get the correct csv structure, but it didn't work like that...

[2016-10-10 09:30] slavvka commented on #6905
The issue has been fix as a part of internal MAGETWO-57553 and delivered to mainline. See f4677d7 and 6196e68 EE commtis.

[2016-10-10 09:30] #6905 closed, assigned to nobody

[2016-10-10 09:30] veloraven commented on #6782
I'm closing this issue as duplicate of #5116.
Internal ticker for ver. 2.1 - MAGETWO-57026.

[2016-10-10 09:30] #6782 closed, assigned to nobody

[2016-10-10 09:32] anton-huz commented on #6582
Hi, Giuliano,
I've tried to reproduce your issue, and I have not faced the _"Actual result"_.
- Are you sure that you doesn't have an extension to your browser (like Skype add-on, that tries to parse phone numbers from the page)? Could you try same steps in _Private mode_?
- Could you observe any reports/logs from `var/` directory of Magento installation? It would be handy  to attache them here.

[2016-10-10 09:32] veloraven commented on #6788
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-10 09:41] SerhiyShkolyarenko commented on #3691
@M1hai @owebia @safersurfing please create a new issue formatting description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-10-10 09:49] anton-huz commented on #6820
Thanks for the catch!
We will deliver fix under MAGETWO-59527 internal issue.

[2016-10-10 09:51] SerhiyShkolyarenko commented on #6392
@bartek9007 that check 5 days ago was performed on latest develop branch. Does the same code in standard Magento themes(Blank or Luma) works properly?

[2016-10-10 09:53] PascalBrouwers commented on #6869
You seem to have fixed it on the review step so the customer doesn't get stuck, but the problem is still there in the first step. I made a video so you can see the problem better: http://cloud.h-o.nl/hiPS

Also note the whole problem with adding a new address. It should be empty but because of this bug it loads old data from your local storage of the browser:
<img width="1366" alt="screen shot 201

[2016-10-10 09:55] PascalBrouwers commented on #6869
Ps. I ran this with the latest develop branch at changeset: d8eac0001e95dc12247290ce75a3b6a9fe6b4725

[2016-10-10 09:57] sevos1984 commented on #6924
Could you please share file that you try to import?

[2016-10-10 10:15] veloraven commented on #6939
@shahankitb997 thank you for quick update.
Was it clear installation or upgrade from some previous version?

[2016-10-10 10:17] SerhiyShkolyarenko commented on #6869
@PascalBrouwers could you please run "window.localStorage.clear()" in browser console, clear all cookies for the site and clear all browser cache, remove all files by mask `pub/static/*`, press Ctrl-F5, then rerun you steps? Do you have the same result?

[2016-10-10 10:22] veloraven commented on #6860
@mazestricks thank you for you feedback.
Please update your description with steps described in issue title like upgrading from previous version (from which one?) and adding new store.
Did you try to run the same command before the upgrade and before the adding new store?

[2016-10-10 10:34] shahankitb997 commented on #6939
@veloraven On local i have clear installation of Magento 2 CE Version 2.1.0. On my Development Server i have upgraded it to 2.1.0 to 2.1.1. It's not working on Both Servers.

[2016-10-10 10:34] veloraven commented on #6871
@KalaiarasanSeetharaman , I'm closing this issue as not a bug.
If you find out it to be a bug which needs fix, please feel free to create the new GitHub issue.

[2016-10-10 10:34] #6871 closed, assigned to nobody

[2016-10-10 10:35] PascalBrouwers commented on #6869
@SerhiyShkolyarenko I did all that. Problem is still there. The fix is quite simple, if you look at my PR.

[2016-10-10 10:43] hectornguyen commented on #6409
Hello @erikhansen @BenSpace48 and @guz-anton,

As @guz-anton said, this is definitely not a bug, I resolved it by myself after few more hours researching after open this ticket and forgot to update this ticket.

"Issue" I refer here is all things below:
- Fresh installation on Magento 2.1.x
- Clear cache in all browsers, tried private mode
- Switch to developer mode
- Execute `bin/magento setup:st

[2016-10-10 10:45] veloraven commented on #6883
@likemike2 thank you for your feedback.
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see  [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html) .

[2016-10-10 10:57] veloraven commented on #6940
I’m closing this issue because it is a duplicate of #5528

[2016-10-10 10:57] #6940 closed, assigned to nobody

[2016-10-10 10:58] maderlock opened #6942 "Layout corruption with php-fpm (a Magento 1 problem returns)"
### Preconditions

1. Run Magento 2 (any version) under php-fpm. Any valid php version - tested with php 5.6 to 7.0.11
### Steps to reproduce

1. Hit it with heavy traffic including xmlrpc calls
2. Visit a page on frontend or backend

### Expected result
### Actual result

1. Page displays without head tag (sometimes - intermittent)

This is fixed by clearing the layout cache. This displays in the

[2016-10-10 11:30] anton-huz commented on #6682
The issue has no relations to Import/Export or any specific module. It can be easily reproduced on any Grid: just change "Custom per page" number to `1`.

The fixing and delivery will be done under the MAGETWO-59532 internal issue.

[2016-10-10 11:51] antboiko commented on #6921
Hi @KalaiarasanSeetharaman , yes, your XML sitemap is accessible by this link.

Best,
Anton.

[2016-10-10 11:52] tanvandinh commented on #5416
That issues relate with Magento cache. Any news in this bug?

[2016-10-10 11:57] #6883 closed, assigned to nobody

[2016-10-10 12:00] veloraven commented on #6896
@xi-ao thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think this problem to be an issue, please format this issue according to the [Issue reporting guidelines](https://github.com/m

[2016-10-10 12:18] #6920 closed, assigned to nobody

[2016-10-10 12:18] slackerzz opened #6943 "grunt exec:<theme>"
according to [Compile LESS with Grunt docs](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html)

[code]

Republishes symlinks to the source files to the `pub/static/frontend/<Vendor>/<theme>/<locale>` directory.

If your less file contains an `@import` statement it will copied to `pub/static/frontend/<Vendor>/<theme>/<locale>` instead of being symlinked

[2016-10-10 12:36] SerhiyShkolyarenko commented on #6581
@shinesoftware I meant service  /rest/V1/carts/mine/shipping-information and payload:
[code]

[2016-10-10 12:40] Yerokhov commented on #6920
This error is also present in version 2.1.1 CE

[2016-10-10 12:59] anton-huz commented on #3177
Hi @atomixstar ,
Looks like guys (@cgrechcw and @ barbala4o) fixed their issues.

If you faced with similar issue could you describe what exact problem you faced with?

Please, note:
- You can use [Magento's Stack Exchange](http://magento.stackexchange.com/) for consulting and wide questions
- You can use [Magento's Forum](https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2)

[2016-10-10 13:07] bpoiss opened #6944 "Can't overwrite translations with $key === $value"
I have a third party extensions that translates

If I want to override this translation with

it will not work because in `magento/Framework/Translate.php:286` the check `$key === $value` just lets the translation be ignored. So I can not override translations from 3rd party if the resulting translations key should equal the value.

[2016-10-10 13:15] mark-netalico commented on #5519
I'm also running into this.

[2016-10-10 14:00] sevos1984 commented on #6891
Thanks for reporting. Internal ticket MAGETWO-59540

[2016-10-10 14:00] frostshoxx commented on #6829
Hi there.

I made sure that my DB is cleared (also try a new DB altogether). I also set memory_limit to 768MB and max_exceution_time to 600 (on .htaccess and also php.ini files).

I still got the same issue where it's stuck at installing database schema.

Are there anything else that I could try?

Thank you,

[2016-10-10 14:04] SerhiyShkolyarenko commented on #6581
@omkarambre rechecked on 2.0.9
to service `rest/V1/carts/mine/shipping-information` POSTed

[code]

then POSTed to `rest/V1/carts/mine/set-payment-information`

[code]

and everything worked fine.

[2016-10-10 14:05] lerhum opened #6945 "Error after Updating From Magento 1.9.1 to 2.1"
### Preconditions
- have my database
- have Magento 1.9.1
### Steps to reproduce
1. type de command `bin/magento setup:upgrade`
2. i get the error `Duplicate entry '4-Images' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_NAME'`
3. I rename  attribute_group_name who's make trouble to avoid the duplicate key problem
   4 type the command `bin/magento setup:upgrade`
4. login to the ad

[2016-10-10 14:06] SerhiyShkolyarenko commented on #6581
Closing the issue as we didn't find steps to reproduce. Please feel free to create new issue when you find them.

[2016-10-10 14:06] Bartlomiejsz opened #6946 "Outdated pelago/emogrifier package"
I'm providing just one example of possible bugs here. The problem is that version of pelago/emogrifier package that Magento 2 uses was released almost 1,5 year ago.
### Preconditions
1. Magento 2.1.1
### Steps to reproduce
1. Custom email-inline styles, compressed (i.e. by sass compiler)
2. `parent > children` selector used in styles (in compressed file it looks `parent>children`)
### Expected res

[2016-10-10 14:06] #6581 closed, assigned to nobody

[2016-10-10 14:17] trebb0r opened #6947 "Cannot override standard adminhtml theme in Magento 2.1.1 Enterprise Edition"
### Preconditions

1. Magento 2.1.1 Enterprise Edition
### Steps to reproduce

1. Created an adminhtml theme following these steps: http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/admin_theme_create.html
2. Created a module to activate the adminhtml theme following these steps: http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/admin_theme_apply.html
3. Set deploy:mo

[2016-10-10 14:40] philipvandebriel commented on #5931
I have same problem.

[2016-10-10 14:41] koenner01 opened #6948 "CatalogImportExport categoryProcessor does not support escaped delimiter"
When trying to import a category with an escaped '/' through the import functionality of MG2, the import will create an unwanted extra category because there is no support for escaped delimiters.
### Preconditions
1. MG2 CE 2.1.1
2. PHP7.0
### Steps to reproduce
1. Create a .csv file with a test product
2. Add value 'Default Category/Test/Subchild 1\/2' for the _categories column
3. Import the csv

[2016-10-10 14:52] andimov commented on #6108
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-10 14:52] #6108 closed, assigned to nobody

[2016-10-10 14:52] andimov commented on #6011
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-10 14:52] #6011 closed, assigned to nobody

[2016-10-10 14:52] andimov commented on #6000
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-10 14:52] #6000 closed, assigned to nobody

[2016-10-10 14:52] andimov commented on #5792
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-10 14:52] #5792 closed, assigned to nobody

[2016-10-10 14:52] andimov commented on #5783
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-10 14:52] #5783 closed, assigned to nobody

[2016-10-10 14:52] andimov commented on #6108
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-10 15:04] brendanmckeown commented on #4119
I'm seeing this same error after upgrading from 2.0.7 to 2.1.1 in developer mode – but only on the first page load of a specific layout after clearing all static assets in the pub/static directory. Subsequent loads of the same layout in the same browser or another one will not see the error. I am using a custom theme, but not loading any other copies of jQuery through XML – I am loading jQuery thr

[2016-10-10 15:07] SerhiyShkolyarenko commented on #6246
@jvreeken software engineers are not authorized to announce releases. Sorry, cannot help you with that date.

[2016-10-10 15:10] cuiyang000 commented on #5948
Can confirm the problem with 2.1.1

And @mjankiewicz 's module worked great! Thanks a lot, really saved my hair :)

[2016-10-10 15:20] springimport opened #6949 "Invalid tags in authentication-popup.html"
The file `module-customer/view/frontend/web/template/authentication-popup.html` has an excess div tag.
This is mistake?
### Info

| Q | A |
| --- | --- |
| Magento version | 2.1.1 with sample data |
| PHP version | 7 |
| Operating system | Windows 10 x64 |

[2016-10-10 16:13] EmilyPepperman commented on #5885
@mmansoorebay do you think you are close to solving this? We see that you have pushed some new code. This issue is holding up our launch and if we can solve it we can proceed with our M2 site! 👍

[2016-10-10 16:14] nomuprive commented on #6917
Magento 2.1.1
PHP Version: 5.6.17
MySQL Version: 5.6.33

**Preconditions**
1. Magento CE 2.1.1 without sample data is installed and in production mode.
2. Store is completely set up, designed and in production mode
3. BrainTree payment method is set up.
4. Categories and products are created.
5. Everything seems to work fine; except "Add to Cart" or checkout

**Steps to reproduce**
1. Navigate to

[2016-10-10 16:22] trichter01 opened #6950 "Multi-store discrepancy for Braintree Payment gateway"
### Preconditions
1. I am using Magento 2 with two active store-fronts. Store 1 and Store 2. Each has a separate Braintree merchant account instant assigned and configured, functioning properly on the front-end of each store. However, when placing an order in the back-end, The payment seems to go to Store 1's instant account even when Store 2 is set as the purchase point.
2. I am using Magento ver

[2016-10-10 16:37] frostshoxx commented on #6829
I just checked with my host provider. Turned out the memory limit configuration has to be done outside the scope of my access. I am able to install Magento 2.1.1 now.

Thank you,

[2016-10-10 16:37] #6829 closed, assigned to nobody

[2016-10-10 16:52] krejcif opened #6951 "csv import validation of attribute set"
### Preconditions
1. M 2.1.1
### Steps to reproduce

1. Import some products by CSV
2. Update these products with different attribute set and new attributes
### Expected result

1. Raise error that attribute set change is not supported (or make support for that)
### Actual result

1. Products are updated without any warning.
2. Products attributes that are only in new attribute set are not modifie

[2016-10-10 17:06] PaperDS commented on #5302
I have test site with v2.1.1 and am having the same problem with Luma and sample data installed.
Scroll not working on mobile. http://test.starfishratings.net/

[2016-10-10 19:23] Ctucker9233 commented on #5423
@tkacheva I can work on creating a pull request for the docs if you like. Or is it better if I let you and the magento team handle it?

[2016-10-10 19:27] jvreeken commented on #6929
I'm having the same issue, but nothing has fixed it:
When I try to checkout:
{"message":"An error occurred on the server. Please try to place the order again.","trace":"#0 [internal function]: Magento\Checkout\Model\GuestPaymentInformationManagement->savePaymentInformationAndPlaceOrder('3bc99aeaf443e17...', 'james.vreeken@t...', Object(Magento\Quote\Model\Quote\Payment), Object(Magento\Quote\Model

[2016-10-10 19:42] gastondisacco commented on #6662
Same happening when placing with payflowpro method (returns expected placing with checkmo).

[2016-10-10 19:50] ghost commented on #5302
@PaperDS the fix is available in the developer branch, you could grab it from there and add it to your current install.

[2016-10-10 19:56] ghost commented on #5808
@ilol will a fix for this be present in the next release?

[2016-10-10 20:09] ghost commented on #6018
@LucScu whatever works for your budget.

[2016-10-10 20:41] mirmanov commented on #6372
I have the exact same issue with Magento 2.0.0.
The environment:
- Ubuntu 14.04.3
- PHP 5.6.17
- Apache

[2016-10-10 21:10] kcarm8 commented on #5243
Any updates on this issue?  I'm having the same problem.

[2016-10-10 21:29] Ctucker9233 commented on #6743
@miakusha I use an extension called Ves Testimonial. However, with the extension turned off, the issue still occurs. I also upgraded from 2.1 to 2.1.1 via compressed .zip archive. I have some custom attributes, but the issue also occurs on products that don't use those attributes. It's a little hard to pin down because the error does not occur every time. If the issue occurs again, I'll be sure to

[2016-10-10 22:31] fxdegroot commented on #6745
@PascalBrouwers

Your solution is not working. Blocks defined as "private scoped" are correctly listed by Magento in the page-cache.js file, whether you set the property before or after calling parent's constructor.

The problem is that the cookie is never set if you don't do any POST request, and then no dynamic blocks will be shown.

See @moloughlin PR for detailed explanation : https://github.c

[2016-10-11 00:18] Ctucker9233 commented on #5434
Is this fix safe to integrate into a 2.1.1 production environment or is there a patch pending?

[2016-10-11 00:21] staffrob commented on #5948
Thanks @mjankiewicz, your module is working for me on 2.1.1.

BTW. Is anyone here using M2 on live site with configurable products and if so how did you resolve this issue with first associated product becoming out of stock?https://github.com/magento/magento2/issues/6799

[2016-10-11 00:21] Ctucker9233 commented on #5988
@slavvka Is this fix safe to integrate into a 2.1.1 production environment or is there a patch pending?

[2016-10-11 00:23] Ctucker9233 commented on #6168
@slavvka is this fix safe to integrate into a 2.1.1 production environment or is there a patch pending?

[2016-10-11 00:38] nickmarx12345678 commented on #4425
I too am interested in how to do this, although my use case would be to remove the tooltip next to the phone number field

[2016-10-11 01:01] erikhansen commented on #5612
@veloraven Do you have any update for me on this?

[2016-10-11 01:15] shahankitb997 commented on #6939
@veloraven Any updates or able to find root cause of this?

[2016-10-11 03:16] Rich07082 commented on #6246
Ce2.1.1
Was running php7.1 but rolled back to 5.6
Still same problem.
Using PayPal payflow.  Is this issue with all payment methods?
Read another thread that said it might be related to two address lines.

Any word on a fix for this issue?
Thanks
Rich

[2016-10-11 05:19] thirumoorthyp commented on #6787
While changing the password from the my account page user group changed to default customer group.

### Preconditions
1. Magento CE 2.07 version installed.

### Steps to reproduce
1. I have created Customer group named "XXXX Group"
2. I have created a user with "XXXX Group" from admin panel.
3.  When i change the password from the my account change password section(frontend), the current user grou

[2016-10-11 06:13] andrei4mag commented on #5573
The same happens with the Simple products. No custom options imported

[2016-10-11 06:44] hectornguyen commented on #6895
Any updates on this @veloraven ?

[2016-10-11 07:48] lucscu commented on #1238
@daniel-ifrim thx for your hint!
@asavchenko please post code to fix like daniel-ifrim

[2016-10-11 08:38] SerhiyShkolyarenko commented on #6780
@Tapin1 thank you for reporting! Please clarify the details which way you set 50$ free shipping?
@ErikPel please join the clarification.

[2016-10-11 09:01] Tapin1 commented on #6780
I have a "Free shipping" method set. The amount for free shipping is >=$50
If you update your cart on a final step and cart amount goes below 50, free shipping method still available. After this free shipping will be always available until you clean cookie

[2016-10-11 09:03] kanduvisla commented on #6769
This problem still persists in M2.1.1.

[2016-10-11 09:07] SerhiyShkolyarenko commented on #6869
@PascalBrouwers prefilled form is not reproducible for me too.

[2016-10-11 09:08] shanevbg commented on #6945
I had this same problem, I believe I had to rename 4-images entry to upgrade (it was a a while ago though, so I don't recall the exact steps)

[2016-10-11 09:10] komsitr commented on #5027
I have the same problem with version 2.1

[2016-10-11 09:20] tkacheva commented on #4232
Issue is fixed in mainline (not 2.1.x)
https://github.com/magento/magento2/commit/54df23a

[2016-10-11 09:20] SerhiyShkolyarenko commented on #6780
@Tapin1 it seems to be fixed on the latest develop branch.

[2016-10-11 09:21] Tapin1 commented on #6780
Give me a link please

[2016-10-11 09:24] SerhiyShkolyarenko commented on #6780
sorry, which link do you mean?

[2016-10-11 09:26] Tapin1 commented on #6780
Where can I see fixed issues?

[2016-10-11 09:30] PascalBrouwers commented on #6869
@SerhiyShkolyarenko how are you trying to reproduce it? Maybe it'll help if you use a db dump from me?

[2016-10-11 09:37] SerhiyShkolyarenko commented on #6780
I think console commands `git clone https://github.com/magento/magento2.git .` and `git log` will provide the complete list of fixes.
If you have the cloned repository, `git pull`, `git checkout develop` and `git log` will be better for you.

[2016-10-11 09:39] HellgaM opened #6953 "getLastAddedItem() returns an old item(added before needed)"
Hello,
It's appeared that  $this->cart->getQuote()->**getLastAddedItem**() function returns and old value even after cart has been saved.

I've added a log file into \Magento\Checkout\Controller\Cart\Add execute function after
 $this->cart->save(), in case cart was empty getLastAddedItem() returns empty value,
in other case log will show previously added item but not current one.

### Precondition

[2016-10-11 09:50] shanevbg opened #6954 "Stores all use same return path when "send email" from Order page"
Using Magento 2.1.1 with multiple stores, when I send a customer email from the order page, it uses the same return path as the default (all other emails get routed correctly, and the correct email is in the order, just not being used as the sender/return path)
### Preconditions
1. PHP Version 7.0.8-0ubuntu0.16.04.3
2. MySql 5.7.15
3. Magento 2.1.1
### Steps to reproduce
1. Have more than one stor

[2016-10-11 09:50] tkacheva commented on #6943
@slackerzz thanks for reporting. What is your Magento version?

[2016-10-11 09:50] tkacheva commented on #6943
Internal issue MAGETWO-59579

[2016-10-11 09:56] slavvka commented on #5988
Hi @Ctucker9233, I think it is safe to apply the fix for both 2.0 and 2.1. Please see 34257ca and   5b5fd02 commits.

[2016-10-11 10:02] shahankitb997 opened #6955 "Admin: While product which has images deleted. It's not deleting from Folder."
### Preconditions

1. I'm using Magento 2 CE Version 2.1.1
### Steps to reproduce

1.  Go to Admin -> Products -> Catalog
2.  When Product has image & if you delete from listing.
3.  It will not delete product images from Folder.
### Expected result

1.  When product is deleted, It should delete all product images from Folder as well.
### Actual result

1. Currently it's not deleting product Image

[2016-10-11 10:30] JustinWang24 commented on #4699
I find a way:
1: composer config repositories.magento composer https://repo.magento.com/packages.json
2: Update composer.json, change the minimum-stability to beta
3: composer update ( Need to input your mage market username and password)
4: magento sampledata:deploy
5: magento setup:upgrade

It works for me.

[2016-10-11 10:39] krejcif opened #6956 "product update by csv does not remove image"
### Preconditions
1. CE,EE 2.1.1
### Steps to reproduce

1. Import product by CSV with more additional_images separated by comma
2. Update product by CSV with less images additional_images than before
### Expected result

1. Non existing image in additional_images is removed from product
### Actual result

1. Image is not removed now

[2016-10-11 11:18] ilol commented on #5808
We can`t reproduce it

[2016-10-11 11:20] salelsol commented on #5014
- Just same issue afther upgrading from M2.0.7 to M2.1.1, any news about this issue.

[2016-10-11 12:10] SerhiyShkolyarenko commented on #6869
Let's go through all steps:
1. `git pull`
2. `sudo rm -rf var/*`
3. `sudo bin/magento setup:uninstall`
4. `sudo rm -rf var/* pub/static/*`
5. `sudo chmod -R 777 app/etc`
6. Web installation
7. On backend created product "banana" with price $5 in category "fruits"
8. `sudo bin/magento indexer:reindex` and `sudo chmod -R 777 var/*`
9. On frontend home page i removed all cookies, cache, and cleared l

[2016-10-11 12:14] SerhiyShkolyarenko commented on #5014
@salelsol please create a new issue with detailed preconditions, steps, expected and actual result.
Please look at  [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-10-11 12:21] SerhiyShkolyarenko commented on #6869
@PascalBrouwers I think DB dump will be helpful, if you have another result for these steps.

[2016-10-11 12:27] SerhiyShkolyarenko commented on #6394
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-11 12:27] #6394 closed, assigned to SerhiyShkolyarenko

[2016-10-11 12:29] SerhiyShkolyarenko commented on #5784
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-11 12:32] SerhiyShkolyarenko commented on #6439
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-11 12:39] DevinFredericks commented on #5350
@ajpevers Thank you! I gave this solution a shot and it seems to have run the database updates just fine, however, I am now being plagued with a couple SQL errors while running the Magento index.

QLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '6935-0-1' for key 'PRIMARY', query was: INSERT INTO `catalog_product_index_price_final_idx`
and
SQLSTATE[23000]: Integrity constraint

[2016-10-11 13:33] lexbeelen commented on #6764
I have created a extension to fix this problem.  https://github.com/lexbeelen/Magento2_FixDuplicate

[2016-10-11 14:32] SerhiyShkolyarenko commented on #6817
@szreka this issue is fixed for develop branch now.

[2016-10-11 14:35] schnappenberger opened #6958 "Magento\Eav\Model\ResourceModel\ReadHandler wrong sort of entityData"
In the execute function of Magento\Eav\Model\ResourceModel\ReadHandler the attribute values were sort by store_id desc and then merged by a union query. In the following loop the store view values can be overwritten by default store value.
### Preconditions
- PHP 7
- Apache 2
- Mysql 5
- Magento 2.1.1
### Steps to reproduce
1. Create an attribute value_id for a store_view lower than value_id of st

[2016-10-11 14:45] cizgidekiadam commented on #6817
If there is, can you provide commit link.

Thanks

[2016-10-11 14:45] slackerzz commented on #6943
I'm running 2.1.1

[2016-10-11 14:46] schnappenberger opened #6959 "_saveCache in AbstractBlock doesnt respect cache-lifetime false"
In method _saveCache of AbstractBlock cache lifetime is checked by !$this->getCacheLifetime(). Cachetime false doesnt work with this check.
### Preconditions
1. Magento 2.1.1
2. PHP 7
3. Mysql 5
4. Apache 2
### Steps to reproduce
1. Enable block cache and set cachelifetime of a block to false
2. check if block cache is saved
### Expected result
1. Block cache is saved
### Actual result
1. method r

[2016-10-11 15:11] schnappenberger opened #6960 "Greek vat numbers cannot be validated"
Validation of vat numbers use country code to build a vat number for vat validation. But greek vat numbers start with EL instead of GR.
### Preconditions
1. Magento 2.1.1
2. PHP7
3. Mysql 5
4. Apache 2
### Steps to reproduce
1. login in frontend
2. enter a valif greek vat id
3. let magento validate the vat number
### Expected result
1. correct vat numbers should be validated
### Actual result
1. v

[2016-10-11 15:17] irenelagno commented on #4232
This issue will be delivered to 2.1.x in the scope of MAGETWO-57051

[2016-10-11 15:28] immist commented on #5948
+1 @staffrob & @andidhouse

@magento-admin @magento-team :
MAGETWO-56480 (this issue) and MAGETWO-58922 ([#6799](https://github.com/magento/magento2/issues/6799)/[#5762](https://github.com/magento/magento2/issues/5762)) are breaking absolutely mission critical features for any ecommerce site.

How are we supposed to recommend Magento to customers, with such mission critical bugs not being fixed?

[2016-10-11 16:02] veloraven commented on #6947
@trebb0r thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-10-11 16:06] veloraven commented on #6944
@bpoiss thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-11 16:18] #6698 closed, assigned to nobody

[2016-10-11 16:18] #6699 closed, assigned to nobody

[2016-10-11 16:18] #6700 closed, assigned to nobody

[2016-10-11 16:19] Microstudioweb commented on #5423
Hi, I have same issue with catalog nav bar.
I have also update magento from 2.0.7 to 2.0.8 to 2.0.9 to 2.1.0 to 2.1.1 but the issue remain.
Try to change file permission, upload vendor's folder, Install Magento 2.1.1 as new installation.

But the only difference is that I can see the catalog nav bar only when I'm on catalogs pages

and this message on home page:
_We're sorry, an error has occurred

[2016-10-11 16:19] Ctucker9233 commented on #6294
@tkacheva is this commit safe to integrate into a 2.1.1 production environment or is there a patch pending. If I may also ask a question, I am wondering why all bug fixes get merged into develop instead of into the version the fix is for? I'm just trying to understand the process.

[2016-10-11 16:19] immist commented on #6422
@sevos1984 ist there a timeline for fixing MAGETWO-58922 (#6799/#5762) and MAGETWO-56480 (#5948)?
Because of these CRITICAL bugs at the moment Magento 2 is useless for any standard ecommerce site using configurable products.

[2016-10-11 16:20] veloraven commented on #6705
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-11 16:20] #6705 closed, assigned to nobody

[2016-10-11 16:21] veloraven commented on #6728
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-11 16:21] #6728 closed, assigned to nobody

[2016-10-11 16:23] Ctucker9233 commented on #5391
@slavvka Forgive my noob question, but how do I use this patch? I am not using composer to update off of the github repo. Can I simply manually add the changes to the files?

[2016-10-11 16:25] Ctucker9233 commented on #6686
@veloraven can you repost the link for the 2.1 fix commit? Looks like only the develop commit got linked.

[2016-10-11 16:29] Ctucker9233 commented on #6183
@unailopez16 do you know if this fix is safe to integrate into a 2.1.1 production environment or is there a patch being created for it?

[2016-10-11 16:30] asavchenko commented on #1238
@LucScu this is what I used to get my custom attribute saved (I've not updated this approach since March, probably there were some changes in Magento core, but it still works, so I think it's safe to share this old code).

[code]

[2016-10-11 16:31] Ctucker9233 commented on #4782
@irenelagno can this fix be integrated into a 2.1.1 production environment or is there a patch being created for it?

[2016-10-11 17:39] kimmabie commented on #4813
I was having the same issue, what i did to solve the problem was

/home/XXXXXX/public_html/shop/vendor/magento/module-authorizenet/Model/Directpost.php

and commented out the  $this->checkTransId();
around line 661

after that my indefinite spinning wheel stopped and my transaction went through

[2016-10-11 17:57] springimport commented on #2999
@theskillwithin it helped me.

[2016-10-11 18:05] razbakov opened #6961 "Unable to display custom product image attribute in backend"
I am trying to create product attribute of image type.
  I am already created one custom attribute group and some other attribute in it but image type attribute doesn't look good.

[![enter image description here](http://i.stack.imgur.com/n0UQm.png)](http://i.stack.imgur.com/n0UQm.png)

InstallData.php

[code]

My\Test5\Model\Attribute\Product\Image.php

[code]

It's save image perfectly at front

[2016-10-11 18:29] OmarFaruque commented on #5423
I solve my nav error using fresh installation Magento 2.1.1 with sample
data.

On Tue, Oct 11, 2016 at 10:19 PM, Microstudioweb notifications@github.com
wrote:

##

---

Best Regards
Omar Faruque https://www.facebook.com/profile.php?id=100006084726970
_Web Analyst_
Green Dot Limited http://greendotbd.com/ & ABM Water Company
http://www.abmwater.com/
House # 135, Road # 05, Mohakhali DOHS, Dhaka.

[2016-10-11 18:47] PieterCappelle commented on #4454
Having same problem to add breadcrumto CMS page. This was working in M1.

[2016-10-11 20:28] dambrogia commented on #5853
Extending on what both @jessp855 and @azanelli said, I was having problems with more `touch` events more so than just the `touchmove` event. After I implement their fix, in my instance there was still buggy behavior. To fix this I also used the `touchstart`, `touchend` and `click` events. I used the click event conditionally based on the `navigator.userAgent` because I wanted to target Android and

[2016-10-11 21:23] Ctucker9233 commented on #4531
I've just noticed this prolem in 2.1.1. Seems to happen to random products. Looking at the product entity table I can't see the duplications where they show in the exported .csv. @mmansoorebay does this commit fix this problem in 2.1.1 or is there a patch pending?

[2016-10-11 23:27] phirunson commented on #6296
Hi, not sure what the progress on this is, but here is my take. Using Magento EE 2.1.0

Have been affected by this as well and tracked it down on our project to the "Skip Order Review Step" function with Paypal Express. If enabled, this occurs:
- When the order is placed, the controller called is `\Magento\Paypal\Controller\Express\AbstractExpress\ReturnAction::execute`.
- This method calls `\Mage

[2016-10-11 23:31] Ctucker9233 commented on #5762
@nissablagojevic seconding what @rsetht and @danny3388 said. Where did you find limit(1)? Is it in the SQL tables and if so which 1?

[2016-10-11 23:32] Ctucker9233 commented on #6799
@nissablagojevic saw your debug and would like to know where you found ->limit(1).

[2016-10-11 23:50] toddliningerdesign commented on #5421
@andimov wrote:

Apache/2.2.31 (Unix)

I get this error in the latest version of Chrome (Mac) and Safari 10.

X-XSS-Protection:"1; mode=block, 1; mode=block"

I am using Magento 2.1.0.

[2016-10-12 00:48] yaxa commented on #6656
+1

[2016-10-12 01:06] stevekem opened #6962 "Custom cronjobs not running without flushing cache"
### Preconditions
1.  Magento 2.1.1
2.  PHP 7.0.11
### Steps to reproduce
1. Create a custom cronjob and assign it to default group or create a new group and assign it
2. Set it to run for 1 min
3. Make sure Magento cron is setup correctly and running every 1 min
### Expected result
1. Custom cronjob should run every 1 min
### Actual result
1. Custom cronjob will run only a few times in a row (1-3

[2016-10-12 01:07] stevekem commented on #6962
https://github.com/magento/magento2/issues/2672

[2016-10-12 02:41] jimmyhien commented on #6817
@SerhiyShkolyarenko how to fix it? Can you show me commit link?

Thanks

[2016-10-12 04:29] brianschroeter commented on #5642
@alena-marchenko My client is being impacted by this bug as well, and I'm not sure how to assist them. At this time, they're basically dead in the water, with no ability to collect payments. Is there a patch available for this?

Any help is much appreciated!

[2016-10-12 05:21] wingsoul commented on #4449
my magento2 is 2.1.0 upgraded from 2.0.8
Using private mode, it seems no errors.
However, i have the following error message when using normal mode
`knockout.js:3012 Uncaught ReferenceError: Unable to process binding "css: function (){return { empty:!!getCartParam('summary_count') == false} }"
Message: getCartParam is not defined`

[2016-10-12 06:08] trebb0r commented on #6947
Ok, thank you for the information, the issue will be reported via the support portal!

[2016-10-12 06:08] #6947 closed, assigned to nobody

[2016-10-12 06:09] srinathweb opened #6963 "invalid json return V1/products?searchCriteria[pageSize]=12 on description custom attribute"
I am trying to get product details via rest api via following criteria  /V1/products?searchCriteria[pageSize]=12  it return json but json data is invalid  after "custom_attributes": [{
                            "attribute_code": "description",

here is some json response i got

[code]

### Preconditions

1.  Magento ver. 2.1.0
2. Rest Api
### Steps to reproduce

1. /V1/products?searchCriteria[pa

[2016-10-12 06:29] irenelagno commented on #4782
@Ctucker9233, as I can see this fix was delivered to 2.1 release. If this issue still exists, please let us know.
To 2.0.x release this issue will be delivered in the scope MAGETWO-58871

[2016-10-12 08:04] iivashchenko commented on #6296
@phirunson, thank you for your investigation. The internal ticket is still opened. Link to your solution has been attached to the ticket. I will leave comments as soon as there is progress on the issue.

[2016-10-12 08:06] lucacanella commented on #6184
I cannot share csv file but I'm experiencing the same bug:
1. I imported a file with only grouped products to the default store: import gone well;
2. I tried to import the same file changing only the 'store_view_code' column: check data succeeded but import failed with following error.

Storeview code is correct (and worked well for other - non grouped - products). Products included in each group

[2016-10-12 08:13] sangthieu commented on #4979
i have same issue on Magento 2.1.1. I got same error with sample data.
http://magento.dev/admin/admin/import/validate/key/eb4d8c89ce1a6aaed91996161a8911e9026acb33437b77682d7f66bc29773683/?form_key=oleCoMgQ1fO5TAgu
 Fatal error: Call to a member function getName() on null in /Users/sangthieu/Documents/WWW/magento.dev/public_html/vendor/magento/module-catalog-import-export/Model/Import/Product/Categ

[2016-10-12 08:33] SerhiyShkolyarenko commented on #6432
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-12 08:33] #6432 closed, assigned to SerhiyShkolyarenko

[2016-10-12 08:39] kassner opened #6964 "TotalsCollector ignores discount_amount"
Hi,

I'm trying to programatically figure out the final price for a specific set of items without having to add them to the user cart before (mostly to avoid messing up customer's session and accidentally adding products their don't want).

I'm using the following code:

[code]

But, it looks like [\Magento\Quote\Model\Quote\TotalsCollector::collect](https://github.com/magento/magento2/blob/2.1.1/

[2016-10-12 08:55] SerhiyShkolyarenko commented on #6817
There were several related bugs fixed. Please look at
MAGETWO-58730 - commit e788a24. Github issue #6564
MAGETWO-58062 - commit f890acfa

[2016-10-12 08:56] SerhiyShkolyarenko commented on #6817
@szreka @jimmyhien @rbostan please let me know if that fixes helped you.

[2016-10-12 09:10] jimmyhien commented on #6817
@SerhiyShkolyarenko Great! Thank you a lot. It works.

[2016-10-12 09:11] vincentwinkel commented on #4462
Hi, still the same problem on 2.0.9 CE.

[2016-10-12 09:24] veloraven commented on #6961
@razbakov thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-12 09:27] #5747 closed, assigned to SerhiyShkolyarenko

[2016-10-12 09:27] sevos1984 commented on #6960
Internal ticket created MAGETWO-59636. Thanks for posting

[2016-10-12 09:30] sevos1984 commented on #6787
This should be fixed in 2.09, please update your codebase

[2016-10-12 09:30] veloraven commented on #5635
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-12 09:30] #5635 closed, assigned to nobody

[2016-10-12 09:45] SerhiyShkolyarenko commented on #6817
Corresponding backport issues to 2.1.x  are MAGETWO-59024 and MAGETWO-59024.

[2016-10-12 09:46] Vinai opened #6965 "\Magento\Directory\Model\PriceCurrency::format() fails without conversion rate"
The issue is about the implementation of the method `\Magento\Framework\Pricing\PriceCurrencyInterface::format()`.

Even though no conversion takes place during the formatting of the given amount, the method only works if a conversion rate from the base currency to the specified currency is configured.

There is no technical need for this limitation.
### Preconditions

A currency code without a co

[2016-10-12 10:11] sunilgith opened #6966 "Unable to refresh cache during developement until deploy static content"
### Preconditions

1. Version : Community 2.1.0, Cache disabled, developer mode on
### Steps to reproduce

1. We are developing a theme using luma theme, so we have overrided the luma css and place them at app/design/frontend/Magento/<Theme Name>/web/css/source/
2. Now when we change anything on the for ex : _theme.less and run deploy static content comment it works fine, but we cannot run the com

[2016-10-12 10:15] SerhiyShkolyarenko commented on #4589
@NanthiniMuralidaran @ricardojle @AJCheeseman is it still reproducible for you on 2.0.9 or 2.1.1? Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-10-12 10:24] SerhiyShkolyarenko commented on #5181
@mcspronko I didn't reproduce the issue on v2.0.9.
I don't have 'Next' button on step 12.

[2016-10-12 11:16] PascalBrouwers commented on #6869
Here is the dump. I hope you can reproduce it with this.
[magento2github.sql.gz](https://github.com/magento/magento2/files/524213/magento2github.sql.gz)

[2016-10-12 11:30] sourabhmodi60 opened #6967 "Admin panel add product is not working when we change attribute set"
I have created a couple of attribute sets and now in Add product section when I switch the product attribute set the loader keeps on loading in Windows 10 edge browser.

The error in console is : Unable to get property 'product_form' of undefined or null reference

Magento version : 2.1

[2016-10-12 11:36] giulianoriccio commented on #6582
Hi @guz-anton,
after further investigation, I have found out that the issue is not with Magento but probably with Nexcess.

I'm sorry for wasting your time.

I replaced the index.php with custom content but it had no effect. After stripping down the htaccess, the error being shown became a 403 (a custom 404 page was being shown for the 403 error).

Since the SSH access is limited and I've no acces

[2016-10-12 11:36] #6582 closed, assigned to nobody

[2016-10-12 12:06] maderlock commented on #6942
I've tested the fix and unfortunately the cache corruption has occurred again, so it may be that the cause of this problem is different, or the fix needs to be different for Magento 2.

[2016-10-12 12:21] amansilla opened #6968 "Checkout success page not rendering page title"
### Preconditions
1. Magento Enterprise 2.1.1 (didn't test the community version but I guess it has the same problem)
2. Luma Theme is set as default
### Steps to reproduce
1. Add product to cart.
2. Go to checkout.
3. Select any payment.
4. Finish the order.
### Expected result
1. A page title with the following text should be rendered: "Thank you for your purchase!"
### Actual result
1. No page

[2016-10-12 12:54] SerhiyShkolyarenko commented on #6869
@PascalBrouwers I applied your DB, repeated steps 10-15 from my previous post and everything worked properly: shipping address stayed selected and new address form was empty except the name fields and country.