[2016-02-10 19:01] #3351 closed, assigned to nobody

[2016-02-10 19:03] davidalger commented on #3338
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-10 19:03] #3338 closed, assigned to nobody

[2016-02-10 19:03] davidalger commented on #3334
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-10 19:03] #3334 closed, assigned to nobody

[2016-02-10 19:39] Amnonsha commented on #3298
@mazhalai - HELP!
ok , after spending 2 hours , removing all files. installing agian. changing permissions, I cant get it to work.

File Permission Check
2 file permission not met. Hide detail

The best way to resolve this is to allow write permissions for the following Magento directories and their sub-directories. The exact fix depends on your server, your host, and other system variables.
Our F

[2016-02-10 19:54] miguelbalparda commented on #760
+1

[2016-02-10 20:35] jsakars commented on #3345
Update regarding images - product must be saved from global scope `$product->setStoreId(0)`

[2016-02-10 21:12] jsakars commented on #3345
Update regarding stock - `$product->setStockData()` should not be used.
Instead save the product and then save the stock item:

[code]

I think the real issue is that M2 is not well enough documented from development perspective. Even source code examples and unit & integration tests might hold wrong or partial answer.

[2016-02-10 21:25] dmitrii-fediuk opened #3363 "The \Magento\Catalog\Model\Indexer\Product\AffectCache::beforeExecute() method can be simplified by returning void instead of it's arguments"

[2016-02-10 22:30] davidalger commented on #3362
@jusemjo Ok. Since this is an issue related to using a 3rd-party module, I'm going to go ahead and mark this as closed. However, if you run into this exception (or similar) loading up a product page without this extension in the mix, let us know, preferably along with steps to reproduce and I will be glad to re-open it!

[2016-02-10 22:30] #3362 closed, assigned to nobody

[2016-02-10 22:33] benmarks commented on #3363
@dfediuk Please stop the self promoting links. Either post meaningful content here - just like everyone else - or stop participating.

[2016-02-10 22:33] #3363 closed, assigned to nobody

[2016-02-10 22:37] davidalger commented on #3330
@iw0der \n and \t are merely representations of the line-feed and tab character codes. To store them differently in the output would require actually escaping them on write, and unescaping them on read. I.e. while you see `"Invalid XML in file %1:\n%2"` in the PHP code, you see the \n but the computer sees a line-feed and not a \ followed by an 'n'.

You may need to either tell OOo to read the fil

[2016-02-10 22:37] #3330 closed, assigned to nobody

[2016-02-10 22:49] biotech commented on #2561
Faced with same issue.

[2016-02-10 23:11] JamesAnelay commented on #2068
People just want to easily customise the menu in a template.

As @antonkril said "If this will be done with one template for whole menu as it is done in PR referenced by @orlangur, customizability will grow, but most logic from class will move to that template, and there will be no noticeable complexity reduction." So that's still an improvement lets do that, don't need to over engineer everything

[2016-02-10 23:11] iw0der commented on #3330
Yes,
dear @davidalger  I know exactly what is a \n; I also solved with OOo, I found the right options! Essentially prefer to put \t on a file rather than count and not see difference between space or tab, that's all.

I will not be the only one who has had some problems in dealing with these Magento files; clear, once we figured how they are made, there is a solution and perhaps we can use to tray

[2016-02-10 23:23] Lewiscowles1986 opened #3364 "Shipping Issue Unavailable Country is available front-end"
So I've been playing around on Magento 2 community and it looks like only allowing certain shipping destinations is not stopping others from being selected, and not warning the customer...

I Have child-themed, however it looks like even in the bundled themes this issue persists

![configuration settings stores magento admin](https://cloud.githubusercontent.com/assets/2605791/12965263/a8a01cd2-d04

[2016-02-11 01:22] janghwan commented on #3358
Thank you all!

[2016-02-11 01:26] erikhansen commented on #760
I would agree with @tzyganu that the `updated_at` field should get updated regardless of the source of the change.

[2016-02-11 01:34] alankent commented on #3358
Now that Igloczek has his new Gulp tool going, I am going to release a Docker container and suggested development approach shortly. Its designed more for learning M2 (and to help me work out problems with the approach), there may be better approaches around, but watch out for akent99 on twitter for when it is ready. Just got to find a free evening to get it done with a supporting blog post. A week

[2016-02-11 03:45] aoldoni commented on #622
@choukalos - Given the roadmap above, would you please be able to detail in which version (e.g.: 2.1, 2.2, etc..) these 2 tickets are planned to be released into?

MAGETWO-23112 : Search Autocomplete & Preview
MAGETWO-11439 : Search CMS

Thanks!

[2016-02-11 04:58] magedmik commented on #3229
The same

[2016-02-11 06:10] bojjaiah commented on #3351
@davidalger it's a bug from Magento 2 GA. Why because same functionality working in Magento ver 1.0.0 beta, But it's not working on recently released MEE 2.0.0, MEE 2.0.2 and MCE 2.0.0, MCE 2.0.2.

[2016-02-11 06:58] kristjan-h commented on #2984
Possibly related to issue reported on #3054 as well.

[2016-02-11 08:50] mw-msolovev commented on #2191
@craigcarnell Hi, i have the same problem with Magento 2.0.2 EE and Apache on Yosemite. Did you find any solution? Thanks in advance

[2016-02-11 09:01] sandeepnetqual opened #3366 "Jquery Issuein admin area"
I am using: PHP Version 7.0.2:
1. I am getting error in admin area, the side bar menus are not working.
2. I have found some of jquery errors in the console.
3. The fonts icons are not working.

Please see the attached screenshots:

![magento menus](https://cloud.githubusercontent.com/assets/17174615/12972540/27b215a0-d0cc-11e5-86b6-4137d9fb481c.png)
![jqueryissuemagento2 02](https://cloud.githubu

[2016-02-11 09:18] bnzo commented on #2944
@ajay09Payal @CountZakula I had the same issue, tried to restart Apache and MySQL without success. I tried the wizard setup with another browser and it worked. So I guess it is browser cache related. Try to empty your cache or use another browser.

[2016-02-11 09:47] MorganGonzales opened #3367 "Error 500 when an empty XML file is present"
I'm receiving the following error when I created an empty XML file somewhere within my config folder.

I think Magento should not prompt a 500 error when we are in the process of preparing out our XML files. Unless there's a fault in syntax.

[2016-02-11 10:04] mohinik-chetu opened #3368 "Magento 2 : My custom payment module is not rendered at checkout"
I have created a payment module with two payment methods. When I install the module in new magento 2 setup, one method is displayed on checkout page but, not the second one.
method renderer js files are created in pub/static/...[Module]  but not included on checkout page for second method.
Unable to debug the issue. Please Help!!!

Second payment method renderer file is using Magento_Payment/js/vi

[2016-02-11 11:01] Jeevachezhiyan commented on #3368
Yes me also facing same thing.My custom payment not rendering in front end

[2016-02-11 11:02] Jeevachezhiyan commented on #3368
Yes me also facing same problem .My custom payment is not rendering in front end

[2016-02-11 11:05] SasiKiranK commented on #1958
Hi Team
Kindly update the Improvement or any updates

Thanks
Sasikiran K

[2016-02-11 11:17] Jeevachezhiyan opened #3369 "My custom payement method not showing in checkout page"
I have created one custom offline payment method,But in check out page it is not showing

[2016-02-11 11:18] #3341 closed, assigned to nobody

[2016-02-11 11:46] ruby10 commented on #3307
Here is json with minimal data , that I have used. Any updates on the issue?
{
    "entity": {
        "orderId": 40,
        "items": [
            {
                "orderItemId": 72,
                "qty": 1
            }
        ],
        "tracks": [],
        "comments": []
    }
}

[2016-02-11 11:55] vil11 commented on #3361
@joebusby thanks for reporting the issue with env details & a screenshot. Internal ticket **MAGETWO-46950** describes yours + several related UI issues on the same form.

Dima Vilchynskyi, M2 QA engineer.

[2016-02-11 12:08] toonvd commented on #2604
I managed to fix my issue with @tonegolf71 his comment.

[2016-02-11 12:16] NadiyaS commented on #2500
Hi @hirensoni2005,
fix was delivered to mainline.

[2016-02-11 12:50] benmarks commented on #3367
A completely empty XML file is syntactically invalid; see https://www.w3.org/TR/xml/#sec-documents

[2016-02-11 13:11] AlexSeyFomin opened #3370 "Some trouble with module Magento_Swatches and product attributes"
I tried to change label of attributes in module Magento_Swatches. For this I changed "color" attribute's lable in admin side. Filter displayed this changes, but module Magento_Swatches didn't have any changes. I was able to fix it only after re-saving product in the admin area. But this way of solving problem is only valid for a particular product, pages of other products don't have any changes.
!

[2016-02-11 13:17] AlexSeyFomin opened #3371 "Some problem on the page [site_url]/carina-basic-capri.html"
![image](https://cloud.githubusercontent.com/assets/16902841/12977249/4efc35d6-d0d2-11e5-9bf0-6f2d62e26fdd.png)

[2016-02-11 13:34] eug123 commented on #3267
Hi @mayhem-ahmad
Have you set "Arabic (Saudi Arabia)" locale for your "ar_SA" store view. In the admin
`Stores -> Configuration -> General -> Locale options` ?
Please clear caches and `pub\static\` folder then check again.

[2016-02-11 13:41] alena-marchenko commented on #3331
Hi,

I was not able to reproduce the issue. Could you provide screenshot of Authorize.net configuration and exception/debug logs, specify version of Magento that you are using? Also, please take a look at our [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2016-02-11 13:43] marvincaspar opened #3372 "Can't login into backend - Magento 2.0.2"
If I try to login into the m2 backend, nginx throws the following error.

[code]

I'm using the m2 nginx settings and uses php 7.0.3.

The php process is running als www-data user and this user is owner of `var/sessions`.

[2016-02-11 14:42] alena-marchenko commented on #3208
Hi,

please set Debug = Yes for Fedex in Magento configuration and provide debug logs for us to be able to investigate the issue.

[2016-02-11 14:57] Zaylril opened #3373 "It is not possible to extend or remove a checkout component"
Hi,

I have a current issue on a theme that I'm working on where I want to extend the message component:

`<item name="component" xsi:type="string">Magento_Ui/js/view/messages</item>`

To extend the file I created a new file in my own theme called 'messages-new.js' in the correct location, and then in my own Magento_Checkout module folder have the checkout_index_index.xml where I insert the follow

[2016-02-11 14:59] benmarks commented on #3373
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-11 15:00] benmarks commented on #3373
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-11 15:05] Zaylril commented on #3373
Ok, let me rephrase the question. It is not possible to extend or remove a checkout component.

[2016-02-11 15:14] alena-marchenko commented on #3186
Hi,

We've created MAGETWO-49093 internal ticket for solving this issue

[2016-02-11 15:17] lilmuckers opened #3374 "Error in checkout - Billing address not updated when shipping address changed"
## Symptom
- Customer enters checkout,
- enters address,
- goes to payment step,
- chooses payment, sets "use same address as billing"
- payment fails due to invalid field or some address validation issue on payment side
- Customer clicks on the previous step to correct shipping address
- when customer clicks through and maintains "same address for billing" same error presents

Upon investigation

[2016-02-11 15:36] mazhalai commented on #3298
what about files within each folder? all files need to be writable.

[2016-02-11 15:58] Quotacious commented on #3216
Is the original poster sure that they have entered their Public and Private access key into System config when they freshly installed Magento 2.0.2?

I ask for two reasons... one, that is the error you get when the keys haven't been entered (obviously it should tell you about the missing keys, but it does not yet).

Two, I have a fresh 2.0.2 install, with properly configured keys, and have no prob

[2016-02-11 16:16] karanbhomiagit opened #3375 "WEBAPI: Missing shipping method detail in salesOrderRepositoryV1 GET response"
When I am making a GET call to the salesOrderRepositoryV1 REST API, the response json does not have "shipping_method" field in it.

API :
GET /V1/orders/{id}
GET /V1/orders

[2016-02-11 16:17] Amnonsha commented on #3298
755 permission?

[2016-02-11 17:06] fernandoneto commented on #546
+1

[2016-02-11 17:41] fernandoneto commented on #3337
@atittandon did you have any news about this?

[2016-02-11 17:55] alena-marchenko commented on #3253
Hi,

We created internal ticket MAGETWO-49101 regarding this issue

[2016-02-11 18:18] philcali opened #3376 "Customer getStoreId is wrong when operating on customers in the admin panel"
There's an adminhtml di.xml definition for loading Customer models using a "Backend" model:

[code]

The Backend model overwrites the `getStoreId` method, which essentially hides which store view the customer **actually** belongs to:

[code]

This was a source of frustration, because the resulting behavior is very much unexpected. I fail to see how this implicit behavior would ever be desired. Ple

[2016-02-11 18:40] andidhouse opened #3377 "Run cron in console: php bin/magento cron:run --> [ErrorException]"
Hi there,

we tried to run the cron via console: "php bin/magento cron:run"

We always get this error:

 [ErrorException]
 DOMDocument::loadXML(): XML declaration allowed only at the start of the document in Entity, line: 1

Magento 2.0.2

[2016-02-11 18:50] dehghanfar commented on #2944
for me it was only browser cache, just change the browser, it will fix the problem

[2016-02-11 19:10] Amnonsha commented on #3298
I kind of found the problem I think. I am not so good in SSH so file system issues I am used to do in Cpanel file explorer.

I reinstalled the magento 2.02 on clean Cpanel account , everything went great- single shoot.
once the site was set up , a single touch in the cpanel file explorer killed the site. It probably changed the public  files owner  and it got messed up. This time i tried changing

[2016-02-11 19:46] #2604 closed, assigned to voleye

[2016-02-11 19:48] davidalger commented on #2500
Closing as this is fixed in mainline. Please re-open if you re-encounter the bug. Thanks again for reporting it!

[2016-02-11 19:48] #2500 closed, assigned to NadiyaS

[2016-02-11 19:51] davidalger commented on #3368
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-11 19:51] #3368 closed, assigned to nobody

[2016-02-11 20:14] malaiselvan commented on #3216
Hi, I am sure I have keyed in the correct credentials. I double checked now too.

Note : It's a fresh install with default luma template with 0 code changes. The only additional thing I have is the core data migration tool installed and the data migrated from 1.9.1.0

Your response is completely contradict with mazhalai. You mentioned that the 2.0.2 system has taken you till the backup stage.....

[2016-02-11 21:23] jaywilliams commented on #1471
Here's one solution to this problem:

**Make sure the total length of your `categories` CSV column is shorter than 255 characters.** You can check your `url_key` length too, but I haven't run into issues with my data set on that one.

For the Magento Devs, here is a CSV file you can use to recreate the error: [magento-import-errors.txt](https://github.com/magento/magento2/files/127131/magento-impo

[2016-02-11 21:52] dmitrii-fediuk opened #3378 "The «Bank Transfer» payment method allows itself to be «Active» in the incorrect state: when the «Instructions» field is empty, and is silently hidden on the checkout scheen, confising store owners"

[2016-02-11 22:18] mazhalai commented on #3377
@andidhouse what OS/PHP version etc?

[2016-02-11 22:23] mazhalai commented on #3350
but 755 is not recommended: recommended is 770, as per http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html and http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html

[2016-02-11 22:25] mazhalai commented on #3372
What is value of `session.save-path` in php.ini? is it accessible for the nginx user?

[2016-02-11 23:07] choukalos commented on #622
Hi @aoldoni we're an agile company so we're constantly revising our roadmap and epics based on customer feedback and how we can maximize the value we deliver in each release as such there's no commitment to a specific release.  All I can say is search is one of our higher priority items and likely to get some attention in 2016.

[2016-02-11 23:10] Quotacious commented on #3216
Re: contradictory, yes, that was another reason wny I posted, as I knew I was able to get farther along than had been suggested earlier.

Last week I had an install on CentOS and PHP7 and the Magento System update there, as well, was more than willing to continue through to the backup stage, but it too, failed after the backup was completed, so I reverted back to Ubuntu.

I decided to comment on y

[2016-02-11 23:26] mazhalai commented on #3216
@LongDono ~~what version did you install initially?~~ just read your previous comment that you had 2.0.2. So, in system upgrade page, what version did you select from the dropdown?  I think, since you had a previous installation, it is possible browser cache was not properly cleaned, you were able to get ahead to backup pages. There was a [similar issue](https://github.com/magento/magento2/issues/

[2016-02-11 23:36] mazhalai commented on #2891
@miguelbalparda  @magetraining can we close this issue?

[2016-02-12 02:14] davidalger commented on #3378
@dfediuk Please stop posting self-promoting links to your site, and post real contributions just like everyone else, or stop posting all together. If you have bugs to report, that's great, but post them with proper details and steps to reproduce contained in the body of the github issue not on an off-site link.

[2016-02-12 02:14] #3378 closed, assigned to nobody

[2016-02-12 02:40] davidalger commented on #3344
Closing due to no response from OP.

[2016-02-12 02:40] #3344 closed, assigned to nobody

[2016-02-12 02:44] davidalger commented on #2171
Closing due to lack of response

[2016-02-12 02:44] #2171 closed

[2016-02-12 02:50] davidalger commented on #2460
Closing due to lack of response, also referenced template declares $storeName near top of template, so this undefined var error can't occur (in latest mainline at least) without the template having been modified.

[2016-02-12 02:50] #2460 closed, assigned to daim2k5

[2016-02-12 02:50] davidalger commented on #2440
Closing due to lack of response

[2016-02-12 02:50] #2440 closed, assigned to nobody

[2016-02-12 02:53] davidalger commented on #2834
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-12 02:53] #2834 closed, assigned to slavvka

[2016-02-12 02:54] davidalger commented on #2868
Closing due to no reply from OP

[2016-02-12 02:54] #2868 closed, assigned to nobody

[2016-02-12 02:55] davidalger commented on #2474
Closing as non-reproducible on latest mainline and no reply from OP

[2016-02-12 02:55] #2474 closed, assigned to voleye

[2016-02-12 02:57] davidalger commented on #2953
Closing due to lack of reply from OP

[2016-02-12 02:57] #2953 closed, assigned to nobody

[2016-02-12 02:57] davidalger commented on #2918
Closing due to lack of reply from OP. Please re-open issue if still encountered on latest mainline.

[2016-02-12 02:57] #2918 closed, assigned to nobody

[2016-02-12 02:58] davidalger commented on #2792
Closing due to lack of reply from OP

[2016-02-12 02:58] #2792 closed, assigned to nobody

[2016-02-12 02:59] davidalger commented on #2732
Closing due to lack of reply from OP

[2016-02-12 03:00] davidalger commented on #2469
Closing due to lack of reply from OP

[2016-02-12 03:00] #2469 closed, assigned to nobody

[2016-02-12 03:01] davidalger commented on #3134
Closing due to lack of reply from OP

[2016-02-12 03:01] #3134 closed, assigned to nobody

[2016-02-12 03:01] davidalger commented on #3131
Closing due to lack of reply from OP

[2016-02-12 03:01] #3131 closed, assigned to nobody

[2016-02-12 03:02] davidalger commented on #2742
Closing due to lack of reply from OP

[2016-02-12 03:02] #2742 closed, assigned to nobody

[2016-02-12 03:03] davidalger commented on #3126
Closing due to lack of reply from OP

[2016-02-12 03:03] #3126 closed, assigned to nobody

[2016-02-12 03:03] davidalger commented on #3164
Closing due to lack of reply from OP

[2016-02-12 03:03] #3164 closed, assigned to nobody

[2016-02-12 03:04] davidalger commented on #3121
Closing due to lack of reply from OP

[2016-02-12 03:04] #3121 closed, assigned to nobody

[2016-02-12 03:05] davidalger commented on #3071
Closing due to lack of reply from OP

[2016-02-12 03:05] #3071 closed, assigned to nobody

[2016-02-12 03:23] Quotacious commented on #3216
@mazhalai Interesting idea!  I always use Google Chrome so I opened Internet Explorer 11 (eww) and went to my admin panel to check.  It still allowed me to continue and I note it indicates that it knows I'm using the current version:

![alt text](http://snag.gy/1kn5J.jpg)

I did not mean to crop the **Try Again** and **Next** buttons above but can confirm that **Next** lights up in orange and I ca

[2016-02-12 04:08] Quotacious commented on #3216
Okay, I actually had a reply to my post on the Magento forums, where they suggested I'd perhaps not changed the default max_execution_time.  I had on php5 but not the new php7 install.

I changed it from 30 seconds to 1800 (overkill) and now the backup completes successfully, or more importantly, the webpage/php script doesn't time out before it is done.

The system upgrade then allowed me to proc

[2016-02-12 05:54] #3343 closed, assigned to nobody

[2016-02-12 06:51] marvincaspar commented on #3372
`session.save_path = ""`
I also tried an other path but both doesn't work.

It worked before updating to v2.0.2 and session files are created in `var/sessions`.

[2016-02-12 07:34] mrkhoa99 commented on #815
Hello,

I think your live server is using Linux server? You should read here: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html
Try to set system permissions and ownership again.

[2016-02-12 08:20] magefan commented on #3033
Bug is still in 2.0.2

You need to edit file vendor/magento/module-sales-rule/etc/crontab.xml
and change line 10

Replace
Magento\SalesRule\Crone\AggregateSalesReportCouponsData
with
Magento\SalesRule\Cron\AggregateSalesReportCouponsData

---

Crone -> Cron

then clean magento cache

[2016-02-12 08:55] Fel1xx opened #3379 "Error on credit memo saving"
Found weird issue happening while saving a creditmemo. It seems that method register() is called for creditmemo model, but there is NO such method in a class \Magento\Sales\Model\Order\Creditmemo

Stack trace:

[2016-02-11 20:13:42] main.CRITICAL: exception 'Magento\Framework\Exception\LocalizedException' with message 'Invalid method Magento\Sales\Model\Order\Creditmemo\Interceptor::register(Array

[2016-02-12 08:56] AntonEvers opened #3380 "Remove scheduled jobs after changing cron settings"
It would be helpful if pending entries in cron_schedule are deleted when changing a cron job's config:
![screen shot 2016-02-12 at 09 46 48](https://cloud.githubusercontent.com/assets/1489129/13002324/eb5626ee-d16d-11e5-8b0e-da501f8684d5.png)

I've changed the config from 09:50:00 to 09:55:00 and then to Enabled: No.
In between changing the config settings i ran: `magento cache:clean config && mag

[2016-02-12 08:58] eliv3n commented on #2648
exact same error, any updates?

[2016-02-12 09:14] katmoon commented on #3370
Hi Alexey,

Which label you changed in Admin:
- 'Default label' on Properties tab
- or the one in Manage Labels tab?

![shot-2016-02-12_11-11-11](https://cloud.githubusercontent.com/assets/1260101/13002737/88dbc7c4-d179-11e5-9e8c-5890e1c8d865.png)
![shot-2016-02-12_11-11-58](https://cloud.githubusercontent.com/assets/1260101/13002738/8c440714-d179-11e5-84fa-3ee48d7db8d2.png)

[2016-02-12 09:30] katmoon commented on #3346
Hi,

Displaying 'R' or 18 as a column number depends on your settings in Excel (or similar app that you use). There is no such information in CSV file, so Magento cannot know about this.

Does this answers your issue?

Thanks,
Kateryna.

[2016-02-12 09:44] jasperzeinstra commented on #3038
I also have a theme based on blank theme. But i'm not using blank or luma theme in any of my shops. For now i've only got two languages. But will be more in the future. I have to wait for static content deployment of blank and luma theme twice. But non of the shops is using these files.

We don't want to add extra deployment time to our process. So i'm really awaiting a solution for this problem.

[2016-02-12 09:55] mrkhoa99 commented on #3325
You can explain more details about your current issue?
You should try to run: `php bin/magento setup:static-content:deploy`

[2016-02-12 10:13] Vaseltior commented on #3325
Of course. I'm working without any cache, and configured the client side less compilation (as I just said)

Admin horizontal tabs should look like that :

[code]

But instead of being on top of the content contained by those tabs, they are left on the left, and look like this

[code]

And some features are not available. You should have a look at what happens to the categories (js) tree. on the ca

[2016-02-12 10:19] OLTC-fperrin commented on #571
Hey, I found this thread by accident while working on a more advanced template hints module based on the work of @fbrnc which you can find here: [Ltc_AdvancedTemplateHints](https://github.com/LTC-fperrin/Ltc_AdvancedTemplateHints). I'm sure it can be improved since I haven't been working with Magento 2 for long; any feedback is welcome.

[2016-02-12 11:14] antboiko commented on #3352
Hi @webtekindo , thanks for your inquiry. We currently have internal ticket MAGETWO-46737 in our backlog which covers informing that price can be higher.

Best,
Anton.

[2016-02-12 11:14] #3222 closed, assigned to nobody

[2016-02-12 11:20] samy-m-dev commented on #3352
Ok that's great thanks.

[2016-02-12 11:21] sintsov commented on #2473
Don't use your domain name symobol _, example site_dev.example.com
because expression filter_var($_url, FILTER_VALIDATE_URL) return false

[2016-02-12 11:28] bh-ref opened #3381 "Setup Wizard not accessible if pub directory is webroot"
The Setup Wizard entry in the admin panel redirects to the example.com/setup page, which is not accessible if the pub directory is webroot instead of the magento base directory.

I think that this should be accessible if pub directory is webroot, too?

Thanks in advance for your investigations.

[2016-02-12 11:54] Hiral12 commented on #1471
I had also this problem, what I did, I have kept blank URL key column, and make sure you have add correct category name with upper and lower case letter.

[2016-02-12 11:56] TandyCorp opened #3382 "Offline shipping sort order error."
/app/code/Magento/OfflineShipping/etc/adminhtml/system.xml

Both flatrate and freeshipping have a sort order of sortOrder="2"

Suggestion that freeshipping should be changed so that each shipping type has a unique sort order value.

In fact I would suggest that built-in shipping modules have sort orders as follows...

group id="flatrate" sortOrder="0"
group id="freeshipping" sortOrder="5"
group id

[2016-02-12 12:00] Elamguil commented on #3183
Same error I too got in magento version 2.0.2.
" When I check the file it states that "File is
valid!" and is ready for import. When I click on import that's when I
get the spinning dial that says "please wait...". I did clear my cache
on all levels. It seems once I updated to 2.0.2 I'm getting this issue."

Any one can help?

Thanks.

[2016-02-12 12:04] goralgen opened #3383 "Incorrect date time in order status history."
All comments in order status history have the same time (current time).
![image](https://cloud.githubusercontent.com/assets/15174144/13006394/6b17ae48-d191-11e5-84c2-fbbef7549d23.png)

The problem is in vendor/magento/module-sales/view/adminhtml/templates/order/comments/view.phtml (line 56,57):
Now:
$_comment->getCreatedAtDate()
Should be:
$_comment->getCreatedAt()

[2016-02-12 12:09] mslabko commented on #2591
Hello @derdeakon, issue was fixed for develop branch in 2d0775e215a98c14010fae67e85880a664dbe594
Thank you for reporting!

[2016-02-12 12:09] #2591 closed, assigned to yaronish

[2016-02-12 12:12] mslabko commented on #2533
Hello @tzyganu, issue was fixed for develop branch.
Thank you for reporting!

[2016-02-12 12:12] #2533 closed, assigned to voleye

[2016-02-12 12:34] AlexSeyFomin commented on #3370
Both of them. I tried to do this manipulation with attribute "size". I changed only Manage Labels, but didn't see any changes on the page. Only re-saving had helped.

[2016-02-12 12:58] goralgen commented on #3383
The same problem in vendor/magento/module-sales/view/adminhtml/templates/order/view/history.phtml

[2016-02-12 13:03] KevinGimbel commented on #3325
Can confirm this happens. When enabling Less Compilation on the Client Side in a Blank Magento 2 (2.0.2) Installation the Backend looks like this:

![admin_broken_nocleancache](https://cloud.githubusercontent.com/assets/2161714/13007444/abe8c6d8-d190-11e5-9500-effda3979413.png)

As you can see the Caches are invalid, so if I refresh them with `./bin/magento cache:clean` and `./bin/magento cache:fl

[2016-02-12 13:08] kandy commented on #2669
@thijsvanwinden, We have  improved performance of TopMenu rendering for big trees, can I ask you to check it?

[2016-02-12 13:43] chriskamps opened #3385 "Admin - Load pages doesn't work - Something went wrong"
When I go to the "Pages"-page: /cms/page/index then I get the message "Attention - Something went wrong" in a popup.

The reason is this call:

/admin_???/mui/index/render/key/[key]/?namespace=cms_page_listing
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&search%5B%5D=
&sorting%5

[2016-02-12 13:54] mrkhoa99 commented on #3366
Hello,
Try to run : `php bin/magento setup:static-content:deploy` under Magento ROOT folder

[2016-02-12 13:58] chriskamps commented on #3385
I see also a comma in het searchbox and a active filte: Keyword: ...-...

[2016-02-12 13:59] chriskamps commented on #3385
![knipsel](https://cloud.githubusercontent.com/assets/17198662/13008831/318c207a-d199-11e5-99ee-e6447821e281.PNG)

[2016-02-12 14:38] Pakkapao opened #3386 "Unable to customize position of configuration attributes"
Hi,

I followed instructions from [here](https://community.magento.com/t5/Just-Ask-Alan/Product-Configurations-Attribute-sort-order/td-p/27564) to change position of configuration options on product page but it didn't work. I think it could be a bug. `Magento 2.0.2 / PHP 7.0.2 / Production Mode`

**[Admin] 'Length' option is on top of 'Gender'**
![capture](https://cloud.githubusercontent.com/asset

[2016-02-12 14:55] cscd98 commented on #2798
Can you have a look at?

https://github.com/magento/data-migration-tool/issues/26

[2016-02-12 15:00] stefandoorn opened #3387 "Unable to intercept Magento\Framework\App\ErrorHandler or use different error_handler"
The way the ErrorHandler is loaded in Framework\App\Bootstrap probably prevents interception on the ErrorHandler class. Reason I would like to use this, is to adjust the ErrorHandler in a more developer friendly version (Whoops).

It makes sense, as the error handler needs to be registered before the object manager will be loaded. But, it would be great if there is a method to register another err

[2016-02-12 15:23] Vinai commented on #3387
How about simply using [`set_error_handler`](http://php.net/manual/en/function.set-error-handler.php)?

[2016-02-12 15:26] stefandoorn commented on #3387
Can do that, but that's quite late in the process then. Let's say I want the error from an erroneus di.xml also in my custom error handler, how would that work?

[2016-02-12 15:34] erikhansen commented on #571
@LTC-fperrin I've started working on this functionality in a Magento 2 repo fork: https://github.com/erikhansen/magento2/tree/feature/better-template-hints I've implemented the basic config structure and have begun working on output of the more advanced template path hints. I'll be sure to reference your extension as I continue to work on this pull request. Thanks for sharing!

[2016-02-12 15:35] Kastnerd commented on #3386
I also have the same problem

[2016-02-12 16:29] jrosell commented on #1551
Why not installing MTF and selenium by default?

[2016-02-12 16:57] scholtz commented on #3367
i think Magento should not fail to load if any of the XML files in config dir or anywhere else is empty, invalid in xml parsing or invalid in xml schema validation..

i think everyone would prefer to load frontend with wrong files skipped and to show some error message in the admin area so that admin is notified

[2016-02-12 17:20] mazhalai commented on #2648
@eliv3n have you tried [this](https://github.com/magento/magento2/issues/2648#issuecomment-163653600)

[2016-02-12 17:24] mazhalai commented on #1551
@jrosell please avoid posting on closed issues. It doesn't make sense to install MTF and selenium by default as it will not be used in production mode.

[2016-02-12 17:30] ghost commented on #3171
The bug still exist in magento 2.0.2

[2016-02-12 17:36] helloeverything opened #3388 "User-Agent Exceptions breaks theme translations translations"
When using theme translations for example **parent/theme/i18n/en_GB.csv** and have the the theme set to appear via a User-Agent Exceptions the translations do not show on the front-end.

[2016-02-12 18:30] benmarks commented on #3367
@scholtz

This is how the system functions in production mode, though, preparing the system for production mode requires valid files and module state.

Can you support this claim about "everyone" with data? I can think of no good reason for invalid files to be accommodated. Warning an administrator via the GUI does not seem appropriate, as this condition is necessarily a low-level concern which sh

[2016-02-12 18:30] MomotenkoNatalia commented on #3293
@astorm Thanks for reporting this issue! Internal ticket MAGETWO-49175

[2016-02-12 18:39] eliv3n commented on #2648
@mazhalai Yes i did try everything. exact same issue with @sky4git at [this link](https://github.com/magento/magento2/issues/2400)
at first the installations stuck at 70%, after I changed the `max_execution_times` to 18000 then it stuck at 97% - 98%. I keep repeat the installation with no luck.
I had this issue for few days and and try every possible method i read on the internet.
finally NOW I su

[2016-02-12 19:14] JHGitty commented on #2470
Today I tried to install Magento over the Setup Wizard and got this warning:
``Sorry, but we support MySQL version 5.6.0 or later.``

We want to run Magento on a up-to-date Plesk system. The default software for MySql is MariaDB (currently version 10). That because we really need support for this. Hopefully this will be added in the future as official supported MySQL version. Also there should be

[2016-02-12 19:17] ghost opened #3389 "Allow to skip MySQL warning"
Edit: My mistake.

[2016-02-12 19:34] JHGitty commented on #3389
Same issue on setup over CLI.

[2016-02-12 19:36] JHGitty commented on #2470
@BlackIkeEagle
There is also a mysql version check on CLI. How did you install it with MariaDB? Maybe the mysql version check on CLI has been added after your post?

[2016-02-12 19:54] ghost opened #3390 "Incorrect table definition"
Edit: My mistake. I've used MySQL 5.5 (which is not compatible with Magento 2).

[2016-02-12 20:20] JHGitty commented on #2470
MariaDB is currently not compatible with Magento 2: https://github.com/magento/magento2/issues/3390

[2016-02-12 20:23] #3390 closed, assigned to nobody

[2016-02-12 20:29] #3389 closed, assigned to nobody

[2016-02-12 21:02] dmitrii-fediuk opened #3391 "The beforeSave() method in app/code/Magento/Ui/view/base/web/js/form/client.js tries to make AJAX requests for undefined URLs"

[2016-02-12 21:14] davidalger commented on #3391
@dfediuk This is the 3rd time this week you have been requested to stop posting self-promoting links by the moderators. Consider this your last warning. If you will not post meaningful content and contribute just like everyone else, you are not welcome here and will end up banned from participation.

[2016-02-12 21:14] #3391 closed, assigned to nobody

[2016-02-12 21:17] PVoIWD opened #3392 "disable onepage checkout"
Hello,

When you disable onepage checkout - there's no ability to check out on the front end. I have flushed the backend cache and browser cache.

https://drive.google.com/a/interiorwebdesign.com/file/d/0BwbQCbz5XlTOT2ZUTHVWX1RLYjA/view?usp=drivesdk
https://drive.google.com/a/interiorwebdesign.com/file/d/0BwbQCbz5XlTOQ2FlNlk0Sm9HTWs/view?usp=drivesdk

Thanks, PVo

[2016-02-12 22:37] tiamo opened #3393 "Bug with saving Cart price rule"
I can't updating "Cart price rule".  If tab "Manage coupon codes" visible, field "times_used" sending as array, but in database this field is integer format.

[2016-02-13 01:25] Zocky01 opened #3394 "Error with queue Newsletter"
I try to queue newsletter but when i pick Queue Date Start from calendar (Croatian locale) and click "Save Newsletter", I am getting error report "Failed to parse time string (14. velj 2016. 02:16:59) at position 0 (1): Unexpected character"

[2016-02-13 07:08] jibrandlr commented on #1471
In my case the issue happens when there are more than 1 categories in the category column. Example:

Default Category/Men - Successful import.
Default Category/Men, Default Category/Woman - Error.

Is this the right way to import to multiple categories?

[2016-02-13 07:58] Hiral12 commented on #1471
Yes, you can use this format to use multiple category import for ex: Default Category/Gear|Default Category/Gear/Fitness Equipment.

I hope this works

[2016-02-13 09:44] katmoon commented on #3370
Did you clear page cache? It should have been suggested by Magento after changing the label.

[2016-02-13 12:29] Shento commented on #815
Yes finally i did, error was files permission :)

[2016-02-14 06:17] dhanrajm-denali opened #3398 "Magento2 - Change customer Group Programatically for guest and logged in users"
Hi,
     I have a form in which when a particular code is given, the customer group should be changed to apply discounts.

I have tried the following code, it changes the customer group. I can see the discounted prices in Product list page as well as Product detail page. But in the cart and checkout process it doesnt apply.

$this->session->setCustomerGroupId("3");

Can someone please help in solv

[2016-02-14 06:50] cs221313 opened #3399 "customer missing in the backend."
Hi, all,

After I registered an account, that account information is not shown in the backend. I can find it at the table customer_entity.
![image](https://cloud.githubusercontent.com/assets/8097168/13032410/7ced1fc6-d32c-11e5-831a-95b36d0979ce.png)

but could not find at the customer list.
![image](https://cloud.githubusercontent.com/assets/8097168/13032414/8eaac560-d32c-11e5-81dc-0e85068519f1.pn

[2016-02-14 08:36] jkristoffer commented on #2666
I'm having the same problem when I try to import an image from a remote URL

[2016-02-14 09:00] fooman opened #3400 "\Magento\Framework\Module\PackageInfo assumes locations"
This code

[code]

assumes that the registered path also holds the composer.json file which is not necessarily the case (for example https://github.com/fooman/sameorderinvoicenumber-m2/tree/v2.0.2/src). I am hoping there is a way to query composer itself for all packages of type magento2-module.

[2016-02-14 12:34] thijsvanwinden commented on #2669
I will check after the weekend, do you have an commit/branch for me where the problem is fixed?

[2016-02-14 12:51] mbretter commented on #2655
HI,

this looks like a critical bug to me, as a consequence credit memos are not possible, because the invoice is in the wrong state.

I'm currently implementing a payment module, but this breaks the whole payment backend functionality.

cheers

[2016-02-14 12:53] jameshalsall commented on #1326
@alankent @mazhalai

Whilst I think this is "achievable" with a 3rd party module through the combination of plugin code and completely extending core Magento classes and replacing them through DI, I don't think this is a good solution. Currently the `Magento\MediaStorage\Helper\File\Storage\Database` class does not implement any interface meaning that it's difficult to know exactly what needs to b

[2016-02-14 13:51] davidverholen commented on #3400
I'm not sure if you can query a composer instance for these paths, but it would be pretty easy to find them.

Since the composer.json is always in the root directory of the package, it just has to go to the parent dir until it finds the composer.json.

This could be limited to the vendor dir, so that it does not go any higher in the directory structure. The vendor-dir can be read from the root com

[2016-02-14 15:51] #2944 closed, assigned to nobody

[2016-02-14 16:28] peterjaap commented on #2649
Update on this @fooman ?

[2016-02-14 20:04] fooman commented on #2649
@peterjaap haven't found a solution to this yet apart from running the unit tests as part of a full M2 install

[2016-02-14 21:47] fooman commented on #3400
I think the underlying problem is that Magento has an internal name for a module which is defined via `registration.php`. This definition is not formally tied to the composer name (it usually follows the convention `VendorName_ModuleName`), however for their own modules they employ some trickery here https://github.com/fooman/magento2/blob/1535766cb5d9146485793462c9cc9270c970cf0e/lib/internal/Mage

[2016-02-15 00:18] thaiphan commented on #1326
Hey everyone,

Here is an extension that I've built that allows you to sync all your Magento 2 media files, e.g. WYSIWYG images, product images, category images, to Amazon S3.

https://github.com/thaiphan/magento2-s3

Regards,

Thai

[2016-02-15 03:35] prince-auriga opened #3402 "create order programmatically magento2 but cart not clear"
`public function createNewOrderIopn($cartId, $storeId = null, $response = '', $amazonOrderId = null){

[code]

`

![screenshot-works aurigastore com 2016-02-06 17-12-38](https://cloud.githubusercontent.com/assets/17242872/13039294/3fbaa410-d3c3-11e5-9910-108660b7f3f2.png)

[2016-02-15 04:14] ProxiBlue commented on #2671
Clearing out var/di and var/generation solved this issue for me, thanks @bogatyrjov

[2016-02-15 06:21] davidverholen commented on #3400
but, to read the module name from the composer.json, it would have first to know, where it is.
Currently, there is no direct connection between the registered component and a module.

Searching it in the parent dirs would work but also is not really nice.

It would be possible to create a map in the magento-composer-installer: composer-name to magento module name.

The it would be easy to find the

[2016-02-15 07:44] fooman commented on #3400
That is what Magento currently tries to do, even though the `composer.json` name does not include the module name as it is known to Magento under.

This is the overall process of how I currently have it pieced together:

1.) Magento application gets started
2.) includes Composer autoload information
3.) Composer autoload files includes modules' `registration.php` files
4.) `registration.php` file

[2016-02-15 07:50] Vinai commented on #2816
This issue still exists. Steps to reproduce:

[code]

Access the home page shows the sample data products without media.
So as @toddwolaver said, using the sample data without them being installed causes the issue.

Trying to fix this by running

[code]

made no difference.
However, reinstalling (with the `--cleanup-database` switch) worked. So basically an install with the sample data already ins

[2016-02-15 08:02] AlexSeyFomin commented on #3370
![image](https://cloud.githubusercontent.com/assets/16902841/13042738/388b110e-d3cb-11e5-8300-6ad1737f0ef2.png)

[2016-02-15 08:50] xrobix opened #3403 "There's no Submit Button for Reindexing data Manually"
Receive notification when finish the installation for reindexing and doing a cron job,
but both of them have not submit button for doing manually.

Kindly advise for magento 2.0
telkoantenna.com - just startup for doing in ecommerce

[2016-02-15 09:00] marvincaspar commented on #3372
This issue is triggered by a custum module which intercepts the error_handler #3387

[2016-02-15 09:00] #3372 closed, assigned to nobody

[2016-02-15 09:18] TienYiChi commented on #3214
I'm also having this problem now. My project (CE 2.0.2) is installed on osx el capitan with php5.6.10.

error message under developer mode:
`Could not parse theme static file '<project dir>/vendor/magento/theme-frontend-blank/web/css/_styles.less'`

I haven't found what in the front-end site was affected though.

[2016-02-15 09:21] cscd98 commented on #1326
@thaiphan Thanks for that. If a file is not on the CDN does it still fall back to media?

[2016-02-15 09:47] tkn98 commented on #2647
I found something here. I only had this problem within Phpstorm. That already was a hint on configuration and so it was. The _PHP Code Sniffer (phpcs) path_ needs to be set to the command `src/vendor/bin/phpcs` within the project.

With my setup it was set to the global one as I had a done a composer global PHPCS installation in the past.

This fixed my issue. Next to configuration I've not done a

[2016-02-15 09:47] tkn98 commented on #2647
@bgkavinga: If you still have the issue, please see my last comment and report back if that solves your issue or not.

[2016-02-15 10:05] code-K commented on #3260
i have this issue too. Any solution to it?

Thanks much and best regards,
Chris

[2016-02-15 10:11] thaiphan commented on #1326
@craigcarnell

There are actually different setups that you can use that allows fallback to media.

**CloudFront**

If you're using CloudFront then you can set different origin servers for your images. One origin server can be S3 (which Magento should automatically sync newly uploaded images to) and then you can set up Magento to be your second origin server for things like thumbnails (which needs

[2016-02-15 10:13] mrkhoa99 commented on #3260
Hello,

**1.** You try to run deploy static command line under your Magento root folder: `php bin/magento setup:static-content:deploy`
**2.** On Windows environment, please run command prompt as administrator: https://technet.microsoft.com/en-us/library/cc947813(v=ws.10).aspx

Run Grunt command again.

[2016-02-15 10:37] mrkhoa99 commented on #1326
@thaiphan +1

[2016-02-15 11:19] ghost commented on #3300
shuaiZend, please keep it easy to explaination.

m not getting what u saygin

[2016-02-15 11:23] sevos1984 commented on #3399
Your grid indexer seems to be invalidated, try running 'php bin/magento indexer:reindex customer_grid'

[2016-02-15 11:24] #3399 closed, assigned to slavvka

[2016-02-15 11:29] sevos1984 commented on #3376
Internal ticket MAGETWO-49197

[2016-02-15 11:31] webtekindo commented on #3403
+1

[2016-02-15 12:00] jsakars opened #3404 "When will there be stable PROD ready release?"
Latest 2.0.2 version is still not PROD ready because:
1. https://github.com/magento/magento2/issues/3124 - custom payment method not working
2. https://github.com/magento/magento2/issues/2672 - custom cronjobs not working
3. ... and many more serious bugs
4. Lack of documentation(e.g. how to create custom payment/shipping method)

M2 is presented as latest stable release when M1 is archived. It se

[2016-02-15 12:41] chicgeek commented on #3373
I've also encountered this issue. We've been resigned to overriding checkout scripts instead of properly extending them. This has been a major pain for upgrades.

Documentation for extending other scripts is so clear - can we get some instruction or a fix to allow extension of checkout scripts?

[2016-02-15 13:00] ghost opened #3405 "Fatal Error when using ScopeConfigInterface"
Hi,

Referenced to #3387

since the latest upgrade to v2.0.2 I'm facing some issues related to the ScopeConfigInterface, which were not present before the update:

[code]

Here is what I'm doing:
mymodule/di.xml

[code]

The LogManager.php

[code]

ConfigurationProvider.php

[code]

Thanks for help

[2016-02-15 13:01] marvincaspar commented on #3372
#3405

[2016-02-15 13:05] wouthoekstra opened #3406 "Creditmemo field "Refund Shipping (Incl. Tax)" is assumed to be ex VAT"
When Catalog prices and shipping prices are both set to 'including tax', the creditmemo form wrongly assumes that shipping amount is still excluding VAT.

Example:
- Set store->sale->tax->catalog prices and shipping prices tot including tax
- Create an order, selling something for €10,-, and default €5,- shipping costs
- Try to create creditmemo

In this last step I got the error "Maximum shipping

[2016-02-15 13:07] sevos1984 commented on #2919
This looks like environment issue, try updating your mysql as said here https://community.magento.com/t5/Polish/StringLength-ERROR/td-p/4434

[2016-02-15 13:18] sevos1984 commented on #3294
Internal ticket ID MAGETWO-49202

[2016-02-15 13:25] bgkavinga commented on #2647
@tkn98 Yes, It solved my issue. Thank You.

[2016-02-15 13:25] #2647 closed, assigned to nobody

[2016-02-15 13:30] miguelbalparda opened #3407 "Performance tool"
While trying to use the new performance tool on a Magento 2.0.2 with Sample data I can only get a couple of admin requests and the test ends. Below is the command I'm using and the output and logs.

[2016-02-15 13:32] miguelbalparda commented on #3407
detailed-urls-report.log

[2016-02-15 13:32] miguelbalparda commented on #3407
summary-report.log

[2016-02-15 13:47] matthieusibille opened #3408 "[Magento 2.0.2] Custom theme not showing in admin"
Hello,
I was working previously on Magento 2.0.0 and I successfully installed a custom theme by following the Magento doc.
Because of the upgrade bugs I had to do a fresh install of magento 2.0.2. But now I can't install my custom theme. I just copied all the files I had on app/design/frontend/Linescort/beret-theme but the theme is not showing on the admin panel.
My structure is like so :

[code]

[2016-02-15 13:50] quienti commented on #3408
Have you try `bin/magento setup:upgrade` ?

[2016-02-15 14:00] matthieusibille commented on #3408
I just did and it didn't fix the issue unfortunately.
edit : Do i need to re-run the compile command too?

[2016-02-15 14:05] quienti commented on #3408
I have never used this command and I have my custom theme so...
Did you check if you had anything in our log ?

[2016-02-15 14:11] alena-marchenko commented on #3382
Hi,

We've created internal ticket regarding this issue MAGETWO-49206

[2016-02-15 14:12] matthieusibille commented on #3408
When i refresh the Theme admin panel I have this in my system.log :

`[2016-02-15 14:09:59] main.CRITICAL: No such entity. [] []`

And in my exception.log

[code]

[2016-02-15 14:15] serzhik opened #3409 "Can't add custom theme"
When I try to generate static content for my custom theme I get an error:

[code]

[2016-02-15 14:16] matthieusibille commented on #3408
line #24 may be the issue here but I have no idea what to do to fix it

[2016-02-15 14:19] mrkhoa99 commented on #3408
Hi,
You try to remove hyphen of the theme name: `beret-theme` => `berettheme`

[2016-02-15 14:27] matthieusibille commented on #3408
I just tried, still the same issue

[2016-02-15 14:31] quienti commented on #3408
You have upgrade your Magento 2.0.0 to 2.0.2 ?

[2016-02-15 14:33] benmarks commented on #3398
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-15 14:33] #3398 closed, assigned to nobody

[2016-02-15 14:34] matthieusibille commented on #3408
No, i tried to upgrade but there were many bugs so it couldn't be done with the Setup Wizard in the admin. Instead I did a fresh install of Magento 2.0.2.

[2016-02-15 14:42] antboiko commented on #3388
Hi @helloeverything , thanks for your inquiry. Could you please clarify which Magento version do you use?

Best,
Anton.

[2016-02-15 14:42] quienti commented on #3408
Hummm

I don't know right now...
I have a custom theme on Magento 2.0.2, I had a problem when I upgraged Magento 2.0.0 to 2.0.2, but I have seen never this error.

[2016-02-15 14:44] helloeverything commented on #3388
Hi Anton,

I am using  Magento ver. 2.0.2.

Many thanks
David

[2016-02-15 14:51] antboiko commented on #3388
David,

Thanks for reporting, we've created internal ticket MAGETWO-49207 to investigate.

Best,
Anton.

[2016-02-15 15:35] arkadiych commented on #2664
@degaray, could you give a code example, where the method doesn't work correctly?

[2016-02-15 15:43] NadiyaS commented on #3018
Hi @fooman,
thanks for reporting this. Internal issue was created MAGETWO-49212.

[2016-02-15 16:02] ghost opened #3410 "URL product and URL category suffix"
For some reason if the product or category suffix is changed. In settings -> Catalog -> Catalog -> SEO.
The administrator wil get the warning that their is a table missing:

__Something went wrong: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'database_db.url_rewrite' doesn't exist, query was: UPDATE `url_rewrite` SET `request_path` = ? WHERE (`url_rewrite_id` = 4382)_
_

This has som

[2016-02-15 16:03] Danruffor commented on #1726
Hello! I just have found quite interesting tips regarding this topic - http://sam-ecommerce.com/blog/view/speed-up-magento-website I think it could help you as well!

[2016-02-15 16:09] anvanza commented on #3410
This is related to issue [#3013](https://github.com/magento/magento2/issues/3013)

[2016-02-15 16:10] matthieusibille commented on #3408
How did you upgrade? I couldn't do it with the web wizard, nor with composer.

[2016-02-15 16:22] serzhik commented on #3409
After runing `composer update` problem was fixed.

[2016-02-15 16:29] dnsahoo commented on #3242
Hi Serzhik and Jstuardo,

I am able to resolve the issue, it was a browser font issue in my Chrome browser. Long time ago, I made a little changes (increasing font size) in my chrome browser, which causes the issue.

Sorry for my mistake,

Thank you.

[2016-02-15 16:43] davidalger commented on #3124
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-15 16:43] #3124 closed, assigned to alena-marchenko

[2016-02-15 16:52] davidalger commented on #3404
@werdlv 2.0.2 is a production ready release and is being used in production by actual merchants by this point. That's not to say that there are no bugs remaining in the platform. To think there would be no bugs in an initial production release of a major re-architecture would be smoking a pipe dream.

To speak to your specific points…
1. That's not bug, it's a question from someone not understandi

[2016-02-15 16:52] #3404 closed, assigned to nobody

[2016-02-15 16:56] davidalger commented on #3403
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-15 16:56] #3403 closed, assigned to nobody

[2016-02-15 17:02] quienti commented on #3408
Oh my God!
I do not remember exactly, but I have spent many hours to find a solution.

[2016-02-15 17:03] ghost commented on #3410
thanks Anvanza!

[2016-02-15 17:03] #3410 closed, assigned to nobody

[2016-02-15 17:05] canassa opened #3411 "Using the "in" search criteria with the Rest API"
Hello,

I am trying to use the "in" search criteria with the Rest API but it doesn't seems to be working.

I first tested passing only a single item to the `value` attribute, in this case `1`:

http://127.0.0.1:9002/index.php/rest/V1/shipments?searchCriteria[filterGroups][0][filters][0][condition_type]=in&searchCriteria[filterGroups][0][filters][0][field]=order_id&searchCriteria[filterGroups][0][f

[2016-02-15 17:05] mslabko commented on #2619
Hello @rahulanand77,
Url rewrite indexer was eliminated in Magento2 and url-rewrites are generated in run-time after saving particular entity.
Could you please provide more details - in what case you receive wrong url after import?

[2016-02-15 22:25] brideo opened #3412 "Do not allow user access by default"
`Magento\Backend\Controller\Adminhtml\Index`

[code]

Should this return false?

[2016-02-15 22:32] Devabby opened #3413 "Cannot open the front end or back end after successful install. 404 error"
OS: Windows 7
WAMP Server 2.5

hello
I have installed Magento 2.0 without any errors. The DB are populated with the tables and sample data. However I cannot open the front end nor the back end using http://Localhost/mystore and http://Localhost/mystore/admin

Installation process
1) composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition Magento2

2) ph

[2016-02-16 01:49] cs221313 commented on #3399
You are right. It works after I run the php bin/magento indexer:reindex customer_grid command.

Thanks a lot.

[2016-02-16 01:59] shuaiZend commented on #3300
@seetpal-smartshore
Open **php.ini**
find **disable_functions**
remove **symlink**

[2016-02-16 02:05] lechung1108 opened #3414 "Can't Reindex data by Admin Panel"

[2016-02-16 06:02] anumary opened #3415 "Can't reorder from magento 2 admin backend"
In magento 2 i can't create reorder from admin side.

[2016-02-16 06:20] LifeAsBook opened #3416 "i add giftmessage form attribute "my_test" when i click updte button return 500 error"
POST http://127.0.0.1/m202/rest/default/V1/carts/mine/gift-message 500 (Internal Server Error)
Property "MyTest" does not have corresponding setter in class "Magento\GiftMessage\Api\Data\MessageInterface".

but i have already add extension_attributes.xml code
 <extension_attributes for="Magento\GiftMessage\Api\Data\MessageInterface">
        <attribute code="my_test" type="string" />
    </extensi

[2016-02-16 07:52] Grumag opened #3417 "Custom Options mess"
Magento 2.0.2. This bug occurred yesterday, and cache and indexes are not fixing it.

Can't create new products with Custom Options. When choosing any of the Input Types under the this error was produced:
Uncaught ReferenceError: rowTmpl is not defined
followed by
Uncaught TypeError: this.addSelection is not a function

seems to be happening in custom-options.min.js

Existing products are also bug

[2016-02-16 08:02] ghost commented on #3405
Update:
I figured out it also crashes when referencing values from the backend from inside my custom module, e.g

[code]

then I'm getting

[code]

[2016-02-16 08:12] tungmpo opened #3418 "Error css when create new theme"
Hi,
When I create  new theme and run it , some file weren't generated  as styles-m.css, styles-l.css
Anyone can help me ?

Thank You!

[2016-02-16 08:22] #3405 closed, assigned to nobody

[2016-02-16 08:22] mrkhoa99 commented on #3418
Hi,
You tried to run deploy content command under Magento root folder: `php bin/magento setup:static-content:deploy`

[2016-02-16 08:27] ghost opened #3419 "ProxyClasses broken in 2.0.2 on session_write_close"
The proxy classes stopped working for me since updating to 2.0.2

[code]

In ConfigurationProvider.php

[code]

Error:

[code]

Extends #3405

Since I'm extending Monolog/Logger I will always have circular dependencies, so a proxy is needed here I guess

Strangewise this happens only when trying to login into the admin backend

Please let me know how to workaround this issue.

Best

[2016-02-16 08:49] katmoon commented on #3322
Hi,

Thank you for reporting the issue!
Internal ticket number is `MAGETWO-31691`

Thanks,
Kateryna.

[2016-02-16 08:53] katmoon commented on #3414
This is probably as duplicate of #3111
Please reopen the ticket if you have any additional questions.

Thanks,
Kateryna.

[2016-02-16 08:53] #3414 closed

[2016-02-16 09:05] katmoon commented on #3370
Hi Alexey,

I cannot reproduce the issue on the freshest version. It looked like a problem with cache at first glance. I can suggest you do `bin/magento indexer:reindex` and `bin/magento cache:clean` and check if any of these helps.

Thanks,
Katia.

[2016-02-16 09:26] samy-m-dev commented on #3279
+1

[2016-02-16 09:45] IceReaper commented on #2347
Any news on the "Cart price rule is not applied" problem? Still occuring in 2.0.2 here...

[2016-02-16 09:56] #3371 closed, assigned to nobody

[2016-02-16 10:18] Mohammed8960 commented on #1393
also i tried to save it form front-end but notworking

[2016-02-16 10:47] duerstd opened #3421 "Navigation in catalog view missing when Varnish is activated"
Hi there,

We currently installed and activated Varnish on our new Magento 2 solution. After the installation was successfully, we noticed that the navigation on the catalog view (just on the catalog view) is gone.

Our guess is that something in the varnish configuration file (default.vcl) which we exported from our Magento 2 shop is missing (http://devdocs.magento.com/guides/v2.0/config-guide/va

[2016-02-16 11:16] bgabrovsek opened #3422 "Cannot save view in Catalog->Products"
I have added a few extra properties to the default property set, now I cannot select which columns to be shown and save the view. I get an "Attention Something went wrong." message.

[2016-02-16 11:25] BaberAhmed opened #3423 "Add to Cart button not translating on submission"
Hi,

The "Add to Cart" Button text is not translating correctly after the product has been added to the cart. Please see below for screenshots of the issue.

On product page load, the translation for the "Add to Cart" is working as expected and button is translated to "Add to Basket" as shown in the image below.

![screen shot 2016-02-16 at 11 23 47](https://cloud.githubusercontent.com/assets/1333

[2016-02-16 11:32] anjenehm opened #3424 "Cant install Magento 2 with CLI"
I cant install magento 2 with shell on my webserver...

"bin/magento must be run as a CLI application"

i tryed to install it with a browser and the install stucked at several times 37%, 73% and so on...

i set the permissions to the folder and files like its written on the tutorial http://devdocs.magento.com/guides/v2.0/install-gde/prereq/zip_install.html

on my local mamp installation everthing

[2016-02-16 11:35] grasdaggel commented on #2412
This problem still exists in 2.0.2.

We found that the problem may occurs while /vendor/magento/framework/Filesystem/DriverInterface.php tries to setup new files (i.e. Thumbnails or JS) with the wrong settings (770 instead of 775 for Dirs and 660 instead of 644/664 for files).

We managed to solve this problem by fixing this manually, but afaik theres another file which sets the access rights serv

[2016-02-16 11:37] anjenehm commented on #3424
Wow 100% with browser installer..
But after the successful installation i get only 500 errors..

[2016-02-16 11:47] RohitSavaliya opened #3425 "404 Not Found : js-translation.json"
I install magneto 2 on IIS 7, it is working good, but on home page and all other pages including admin panel a JavaScript error occurred

the error is :

[code]

then I explore location `/pub/static/frontend/Magento/luma/en_US/`and found that the file is there when open the file it is contain just two square bracket `[]`.

i dont know why magento show that file is not found, because it is already

[2016-02-16 12:01] matthieusibille commented on #3408
Can i just copy /Vendor and it will upgrade magento to 2.0.2? I did it on localhost and it did the trick but i'm not sure that the right way to do it and if i can expect issues.
In the magento doc it says that you can upgrade by replacing the "magento code base" of a 2.0.0 by one of a 2.0.2 install, but is it just /vendor? Or are there more files to replace as well?

[2016-02-16 12:03] ganey commented on #2412
@kingalca Yeah we're having to cron them. It just seems like such a bodge on something that shouldn't be an issue in the first place.

I like what @clwells has discussed regarding generated files being 644, as this is the biggest problem when Mage is generating unreadable assets.

[2016-02-16 12:31] anjenehm commented on #3424
okay i changed the mod_rewrite

<IfModule mod_rewrite.c>

############################################

## enable rewrites

[code]

to RewriteEngine Off

now i get 404 errors :o

[2016-02-16 12:54] hi-soni commented on #2500
Thank you @NadiyaS & @davidalger for updates.

[2016-02-16 12:55] ghost commented on #3419
Update

Magento is autogenerating the ProxyClasses for LogManger, which results in `LogManager/Proxy.php` .
Every proxy uses a `__sleep()` Method which is called on `session_write_close` .
This is where the error happens, because `_underscoreCache` is returned as member variable, but it is not existend in LogManager/Proxy.

The `_underscoreCache` is a member variable coming from `ScopeConfigInterf

[2016-02-16 13:06] bgabrovsek opened #3426 "Multiple store views product duplicate error"
I have two languages: A (default) and B.
When editing a product in B and clicking "save and duplicate", it duplicates the product, but the new product has all default details in language B. I think it should not do that, but completely duplicate the product in both languages (store views)

[2016-02-16 14:46] brideo commented on #2361
I see the static binding has been added but the controllers weren't updated, I have done so in the following pull request:

https://github.com/magento/magento2/pull/3428

[2016-02-16 14:57] MattDeanCS opened #3429 "Theme inheritance example not working"
I was following this guide http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-inherit.html and tried to copy the example at the bottom of the page "OrangeCo decided they should remove the “Report bugs” link from the footer" using

`<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.

[2016-02-16 15:03] RohitSavaliya commented on #763
I install magneto 2. it is working good, but on home page and all other pages including admin panel a JavaScript error occurred

the error is :

[code]

then I explore location  `/pub/static/frontend/Magento/luma/en_US/`
and found that the file is there when open the file it is contain just two square bracket `[]`.

i dont know why magento show that file is not found, because it is already there

[2016-02-16 15:19] thomasnordkvist opened #3430 "REST API: Can't get store labels for product attribute label or attribute options label"
As i understand the documentation, calls to:
/V1/products/attributes/{attributeCode}
/V1/products/attributes/
should return frontend labels for the attribute and for options.
Like this for options:

[code]

and like this for attribute label

[code]

In my tries i only get the default store view labels and values for options and null for the attribute labels like this:

[code]

Magento version is 2

[2016-02-16 15:29] jsakars opened #3431 "How to add custom form in custom payment method?"
I have created custom payment method based on [Inchoo_Stripe](https://github.com/Inchoo/magento2-Inchoo_Stripe). This custom payment method requires custom form fields to be filled in - where should I define them and how to process/validate the form?

[2016-02-16 15:33] mazhalai commented on #3413
Please do not use [localhost](http://alankent.me/2015/04/25/use-of-localhost-when-installing-magento-2-quick-note/). Your domain needs at least one `.`

[2016-02-16 15:33] #3413 closed, assigned to nobody

[2016-02-16 15:35] davidalger commented on #3429
@MattDeanCS The examples listed in the guides should work. :) Would you mind opening an issue on the http://github.com/magento/devdocs/ repo to report the broken example? The docs team can then take troubleshooting it from there. Glad you found a working solution!

[2016-02-16 15:35] #3429 closed, assigned to nobody

[2016-02-16 15:35] davidalger commented on #3431
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-16 15:35] #3431 closed, assigned to nobody

[2016-02-16 15:38] davidalger commented on #3409
@Serzhik Your latest comment states the issue was fixed by running composer updated, but then you re-opened the issue. Are you still encountering errors. generating static content? If so, can you post details… steps to reproduce, php / mysql versions, etc?

[2016-02-16 15:42] davidalger commented on #3418
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-16 15:42] #3418 closed, assigned to nobody

[2016-02-16 15:50] MattDeanCS commented on #3429
Will do David, thanks

[2016-02-16 15:58] sela88 opened #3432 "Error saving product magento 2.02"
edit product > Advanced settings > autosettings > short description >
When I try to save the product, I get this error:
You don't have permission to access /admin_121bmr/catalog/product/save/id/2/key/6244de5c82012f0affb6147fe06fa6f9645f3b6cefae1e6a3262b394b1100ebe/back/edit/active_tab/autosettings/ on this server.

It happens also for some CMS pages I try to save.

[2016-02-16 15:59] loneregister commented on #497
_Removed by moderator_

[2016-02-16 17:08] SasiKiranK opened #3433 "Create Custom session and Initialize it preDispatch"
I am unable to find dev docs for creating Custom Session and Initialize it before PreDispatch,
Like Customer session, Core Session, and Checkout Session
Thanks
Sasikiran Kesavan

[2016-02-16 17:10] serzhik commented on #3409
1. Install Magento 2.0.2.
2. Copy custom theme to `app/design/frontend/Vendor/theme`
3. Run `php bin/magento setup:upgrade`
4. Run `php bin/magento setup:static-content:deploy`
5. Get an error.

[2016-02-16 17:15] serzhik commented on #3409
I think it can be related to #2797

[2016-02-16 17:49] davidalger commented on #3433
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-16 17:49] #3433 closed, assigned to nobody

[2016-02-16 17:51] davidalger commented on #497
@LoneRegister Please do not post self-promoting links. This is a channel for reporting technical issues and tracking feature requests, not for advertising!

[2016-02-16 19:55] jfrontain commented on #2347
We are investigating the issue and will respond as soon as we can. Thanks for following up on this issue.

[2016-02-16 21:01] jaimestuardo commented on #2936
I have Magento 2.0.2 and the problem still persists! I cannot save any CMS page! Finally I need to update it directly in database, but that is absolutely not the idea.

[2016-02-16 21:25] mstrigkos opened #3434 "404 error when you switch store views from a view that has a url key to another that has not."
The scenario is that your store has two store views or more. In the case that one catalog item (product/category) or page has a url key only in one of the two store views (the other is blank); when you are in this item's page and you switch between store views you get a 404 error. This occurs when you switch from a view that has a url key to the one that has not. You should have been redirected to

[2016-02-16 23:40] bgabrovsek opened #3435 "Multiple store category name behaving unexpected"
I have two store views (languages) A and B.
When adding a product in both languages A (default store view) and B (specific store view),
when I save the product and re-enter the product, the product category is written in language B even if i have my view in default or in language A.
This also happens when I export my products to csv. No category names of products are in default language A.
Perhaps

[2016-02-17 00:46] ghost commented on #3424
Do you see logs that explain the 500 errors? Look in Magento's `var/log` directory and in your web server's logs. Please post details.

[2016-02-17 03:24] tungmpo commented on #3418
Thank you so much!  Your solution have helped me solved problem

The reason is   @copyright__background-color  wasn't  defined  before   :)

On Tue, Feb 16, 2016 at 3:23 PM, Mr Khoa notifications@github.com wrote:

[2016-02-17 05:39] ortega-io commented on #3243
I have exactly the same issue. Did you manage to find a solution?

[2016-02-17 08:44] stefandoorn opened #3438 "Unit test in Catalog/Test/Unit/Model/CategoryRepositoryTest.php fails"
It fails when I run the full suite, it doesn't fail if I just run the tests from this file stand alone. That is weird, but when I look at CategoryRepository:173 a foreach happens, while in the test the output of validate() is mocked to return false, that means a foreach() on false.

[code]

I'm not sure what is the best way to fix this, but I think checking for the appropriate output of the valida

[2016-02-17 08:45] OLTC-fperrin opened #3439 "Custom attribute added through $eavSetup->addAttribute not setting frontend_class"
I tried to set some validation classes for a custom attribute but the frontend_class doesn't seem to get filled in:

[code]

This was inspired by the content of `magento/module-catalog/Setup/CategorySetup.php`
I tried using `class` and `frontend_class` without success
Am I missing something or is it a glitch ? thanks

[2016-02-17 08:47] bgabrovsek commented on #3435
Perhaps this is related to bug https://github.com/magento/magento2/issues/3426
Also, I did not mention i have my categories in both languages.

[2016-02-17 09:11] matthieusibille commented on #3408
I managed to find a workaround. I upgraded my previous 2.0.0 install with the vendor folder of a 2.0.2 install, did a setup:upgrade and composer update and it worked.
It's a shame that magento doc is vague about this way to upgrade, " replace magento code base" is not a proper way to explain how to proceed for new users. They should be more specific.

[2016-02-17 09:11] #3408 closed, assigned to nobody

[2016-02-17 12:26] jaimestuardo commented on #3243
Unfortunately there is no solution yet. For some minor changes in CMS, I have changed database directly. I think you can insist in a solution to this here in Github, since as I have realized, there is no assignee yet.

I think you can test by changing locale to English and try to save. This should work, because I am sure the problem we are having is related to Spanish locale, in this case.

I am d

[2016-02-17 12:35] mbretter opened #3441 "Expiration month bug in cc-form.js"
Hi,

Magento/Payment/view/frontend/web/js/view/payment/cc-form.js
in the initialize method, the month subscription/assignment is accidentally set to year:

[code]

should be:

[code]

cheers

[2016-02-17 13:22] serzhik commented on #3409
I delete folder `vendor` and run `composer update`.
Problem was resolved.

[2016-02-17 13:22] #3409 closed, assigned to nobody

[2016-02-17 13:41] echh opened #3442 "Deleting a custom option is crashing Magento 2.0.2 (Release) - No 3rd Party extensions"
### to reproduce:

1) add a simple product
2) add one custom option (Drop Down Type)
3) add 3 rows
4) save
5) Delete the first custom option row
The whole custom area in the backend is gone:
### the frontend shop crashed with errors:

``
Warning: Invalid argument supplied for foreach() in /webroots/wolke/shop/vendor/magento/module-catalog/Block/Product/View/Options.php on line 213
#0 /webroots/wol

[2016-02-17 13:48] keyurmd commented on #3442
Yes, this issue also occur in backend.

[2016-02-17 13:52] OLTC-fperrin opened #3443 "Product of custom type not showing when creating new order from backend"
I created a custom product type following this tutorial:
[Foggyline_DailyDeal](https://github.com/ajzele/B05032-Foggyline_DailyDeal)
I can create products of this type, they do display on the front, I can go through the checkout and everything but when I try to create an order from the backend (Sales > Orders > New order) the product is not displayed in the list :/
I have a regular Magento 2 setup

[2016-02-17 14:11] okobchenko commented on #3407
Hi, Miguelbalparda.

Performance toolkit scenarios are designed to work with generated store profiles only. To generate store fulfillment of certain size, please execute next command on empty Magento instance:

`php bin/magento setup:performance:generate-fixtures __PATH_TO_PROFILE_DEFINITION__`
All profiles can be found by next path: ..../setup/performance-toolkit/profiles/ce/

In order to use pro

[2016-02-17 14:14] Ain5478 opened #3444 "Duplicated products are not visible 2.0.2"
The only way to see duplicated product is to input url directly the browse row.
Search does not find them nor they shows in catalog.
Simple product, Visibility: Catalog,Search, Status : enabled, Qty: 9990, Stock Availability: InStock

[2016-02-17 15:22] Yonn-Trimoreau commented on #2354
+1

It will be really useful for ordering menu items when observing on `page_block_html_topmenu_gethtml_before` event.

[2016-02-17 15:43] pivulic commented on #2574
:+1:

[2016-02-17 15:45] antboiko commented on #3263
Hi @TRMMarketing , thanks for your inquiry.

Please note you can update variations using Actions menu:
![configurable product](https://cloud.githubusercontent.com/assets/15442705/13114849/fbf557d4-d59d-11e5-9cab-31a4af0f277b.png)

[2016-02-17 15:45] anjenehm commented on #3424
[2016-02-17 15:31:41] main.DEBUG: cache_invalidate:  {"method":"GET","url":"http://mydomain.com/","invalidateInfo":{"tags":["interception","CONFIG"],"mode":"matchingTag"},"is_exception":false} []

[2016-02-17 15:51] keharper commented on #2540
@amansrivastava Could you provide more detail about what needs to be fixed in the documentation?

[2016-02-17 16:16] quynhvv commented on #971
Hi guys,
How we can make a chooser button in a custom form in back-end to choose the categories?

[2016-02-17 16:21] chris-brabender opened #3445 "Class media_image does not exist"
After a successful migration from 1.7.0.2 to EE 2.0.2 the following error is thrown when trying to edit any product:

[code]

Has anyone seen this issue or have a fix for it?

[2016-02-17 16:23] Yonn-Trimoreau opened #3446 "Not possible to order top menu items"
When I observe `page_block_html_topmenu_gethtml_before` event, just like `Magento\Catalog\ObserverAddCatalogToTopmenuItemsObserver` does, and add some items to the `top.menu`, I can't order the items I add (whether it should be displayed before or after category listing, for example).

I think it should be possible, since the "top menu" must be one of the first and most modified element on any web

[2016-02-17 16:25] Yonn-Trimoreau commented on #3446
This issue may be resolved by fixing https://github.com/magento/magento2/issues/2354
But it still persists in a matter of simplicity

[2016-02-17 16:29] dav1dian opened #3447 "grunt exec:[mytheme] fails after @import 'filename' in .less"
Hi.
I've installed magento 2, created my custom theme and now trying to work with .less files using grunt watch task.
sctucture - web/css/
_styles.less
styles-new.less
custom.less
in styles.less i have @import '_styles';
so at first i did grunt exec:[mytheme]

Now, the problem is, that in pu/static i got symlink(i guess) to custom.less, but styles-new.less became not symlink, but copy of my file..

[2016-02-17 16:42] moleman opened #3448 "Class Magento\Customer\Block\Address\Renderer\AbstractAddress does not exist"
When calling "bin/magento setup:di:compile-multi-tenant", it will fail with the error message:

[Magento\Framework\Exception\LocalizedException]
  Class Magento\Customer\Block\Address\Renderer\AbstractAddress does not exist

This only happens when we are using a certain third-party module and not in a vanilla Magento2 installation.

After some investigation, the error occurs because the argument t

[2016-02-17 18:50] gary287 opened #3449 "OAuth Token Exchange Expiration Period Is Not Calculated Correctly"
The expiration period setting has a note below it that says "Consumer key/secret will expire if not used within X seconds after Oauth token exchange starts." It would be great if it worked that way but it does not. The consumer key/secret expires X seconds after the consumer is created. This is true regardless of whether you click activate or reauthorize on an integration. It is always based on th

[2016-02-17 19:17] gary287 opened #3450 "All OAuth Tokens Are Deleted When An Integration Is Deleted"
When multiple integrations are defined and one is deleted, all tokens are deleted from the oauth_token table. The expected behavior is that the token associated with the integration that was deleted will be deleted. The current behavior is that all tokens for all integrations are deleted.

[2016-02-17 19:55] mazhalai commented on #3424
@anjenehm anything in error log as "CRITICAL" ?
what about apache logs?

[2016-02-17 20:05] zamboni084 opened #3451 "Rolled back db now i can't backup"
Hi

I rollback my db and now when i try to run a backup from admin it does not work.There is also no list of backups on the backup page(System>Backups)

I enter a name for the backup and click ok and nothing happens.

Browser console i get.

TypeError: this.modal.find(...).validation is not a function
    this.modal.find('#backup-form').validation({

Thanks

[2016-02-17 20:35] dsikkema-magento commented on #2632
@dfediuk What would be inconsistent about the state? How would failure to call "afterSave" lead to questionable state?

[2016-02-17 20:38] dsikkema-magento commented on #2620
@dfediuk object in memory will be left in serialized state, exception will be caught and re-thrown, and persistent storage will not be corrupted. Is that correct? Can you elaborate on the harm from not calling unserializeFields?

[2016-02-17 20:56] hankzhh opened #3452 "cannot add to cart"
fresh magento v2.02 with sample data.
I firstly create a bundle product sku= test1, and I login in and add it to cart for test successfully.
then i changed this bundle product at the backend by removing some bundle items, and saved.
Then I cannot add any product into cart any more in the frontend. Until i removed all quote items from database tables, i can add products to cart in the frontend.

[2016-02-17 21:11] hankzhh commented on #3407
I have the similar issue, failed in "HTTP Request - Cache Validation - All Enabled" for testing the sample data.
Anyone have any tips to change the jMeter config to test with sample data?

edited:
it try to access GET ${base_path}${admin_path}/admin/cache/?form_key=4ukMSIZXkPGrNDpn
but for some reason it redirect to ${base_path}${admin_path}/admin//dashboard/index/key/???????????????????/
it looks

[2016-02-17 21:24] arkadiych commented on #3411
Looks like duplicate of https://github.com/magento/magento2/issues/2892

[2016-02-17 21:29] kevando opened #3454 "Can I limit a customer to a specific store view?"
I have over 100 store views and would like to create customer accounts for people with access to a specific store view. Is that possible?

[2016-02-17 21:35] ortega-io commented on #3243
I figured it out.

The key was on line #1 of the calls stack:  Zend_Locale_Format::getNumber('', Array)

It's an unhandled case when an empty string is passed to the "getNumber" function.

Replacing:

`if (!is_string($input)){`

With:

`if (!is_string($input) || empty($input)) {`

On line 250 of: vendor/magento/zendframework1/library/Zend/Locale/Format.php fixes it.

[2016-02-17 21:41] andrewhowdencom commented on #2130
This also appears to be a problem with PHP built in an Alpine Linux container (or at least, I am getting the same error, and the following indicates that GLOB_BRACE is unsupported):

[code]

Will confirm, but posting this here in case I forget / get lazy.

Edit: I forgot / got lazy / ran out of time. Thanks @tvlooy for the confirmation! I hadn't thought about checking the PHP build.

[2016-02-17 22:38] dsikkema-magento commented on #2461
@keithbentrup, @kassner I'm having some trouble reproducing this. On line app/etc/di.xml:698, we disable CSSMin's option to modify settings, so for me, changing the value there does nothing for me.

Can you check what is the value of $raise_php_limits in \CSSmin::__construct? And can you please check the value of ini_get('max_execution_time') in the bin/magento file itself?

[2016-02-17 22:38] michalbiarda commented on #2397
Guys,

it turned out that for me the issue was related to network configuration in my office. A few of my colleagues that tried to install / update Magento 2 in the office, failed with similar errors. At home, on different network everything went pretty well.

[2016-02-17 22:44] antonkril commented on #1110
I did not report to you. Sorry. It was not refactored because it worked and we had so many higher priority things to do. For now it won't be modified to not introduce a breaking change on code that works. But you could fire a PR if your implementation will be backwards compatible.

[2016-02-17 23:58] jaimestuardo commented on #3243
Thanks! that solved the problem. I hope Magento developers include this fix in the oficial release.

[2016-02-18 00:07] Nas1k opened #3455 "Account Address Book invalid form key"
Preconditions: I have logged customer on frontend (without addresses)
Step 2 reproduce:
1. Go to My Account -> Address Book (forward to Add New Address form)
2. Fill all required field
3. Submit form
Expected: Show page with my addresses
Actual: Show Add New Address form without any error message

PS. When I use debuger I can see condition on app/code/Magento/Customer/Controller/Address/FormPost.p

[2016-02-18 00:14] Nas1k opened #3456 "Custom Customer Address Attribute in Account page"
I create InastallData script with new customer address attribute and assign this attribute to form in table customer_form_attribute. This attribute has shown on Backend Customer Address form, on Order creation form, but not shown on Account -> Address Book form.

That's problem with template app/code/Magento/Customer/view/frontend/templates/address/edit.phtml. In template hard coded all attributes

[2016-02-18 03:46] davidalger commented on #1110
@tzyganu Sorry it didn't make it, but appreciate you taking the time to make the suggestion!

[2016-02-18 03:46] #1110 closed

[2016-02-18 05:50] keyurshah070 opened #3457 "New account create issue when set gender field required in address from backend"
Hello,

When we set the gender field required from backend and when we try to checkout with new account creation than **gender field doesn't display in billing form or shipping form**.  After placing order on success page magento ask for new account creation [ There is new button Create Account] and when we click this button **it gives error like gender is required field.**

![success page](https:

[2016-02-18 07:26] Grumag commented on #3417
Rolled back the DB few days back, no change.
New Magento 2.0.2 install (dev), pointing to old DB. still nothing..  Same issue. Same console errors.

Some bug completely broke down Admin custom options and who knows what else. The only option seems to be to start the site all over again, but who is to say it wont happen again?

[2016-02-18 07:34] keyurshah070 opened #3458 "Move to Shopping Cart doesn't reflect at a time while click Move to Shopping Cart link[ backend new order create]"
Hello,

Move to Shopping Cart doesn't reflect at a time while click on Move to Shopping Cart link. It reflect when we click Update Changes button.

To reproduce this issue
- Login into magento2 admin  panel.
- Click on Sales > Orders
- Click on Create New Order
- Select Appropriate customer & store view
- Click on Add Products & Select Appropriate product
- Go to Action header and select Move to S

[2016-02-18 07:41] balack opened #3459 "Magento 2.0.2 Dashboard for All Store Views not show with multi store"
Hi guys!
I have website config multi store (english and Vietnam).
When view dashboard for each store (English or Vietnam) dashboard view very good - http://pasteboard.co/1DMhZAPB.png

But when I view dashboard for All Store Views is not show - http://pasteboard.co/1DMmuPCp.png

Can you help me, pls ?

Thanks

[2016-02-18 09:30] OLTC-fperrin commented on #3443
ok, so the tutorial IS missing something crucial (and it's from a book....) !!

We need to create a `sales.xml` file in `app/code/My/Module/etc` with the following content to add the custom product type to the list of available product type:

[code]

Sorry for the post then, hopefully it'll help someone someday

[2016-02-18 09:30] #3443 closed, assigned to nobody

[2016-02-18 09:57] arkadiych commented on #2892
Thanks for reporting. Internal ticket MAGETWO-47451

[2016-02-18 10:10] sevos1984 commented on #3448
Internal ticket MAGETWO-49425

[2016-02-18 11:09] rpeddinti commented on #3196
It is working for me. tested now

[2016-02-18 11:48] cscd98 commented on #2191
@mw-msolovev No I didn't. I'm using PHP 7.0.3 which runs great now

[2016-02-18 12:31] lilmuckers opened #3460 "Varnish - Error on PURGE request"
When i clear the cache in the backend (or from saving a product or any of the other means that trigger a varnish PURGE) the purge command comes into varnishlog as "PURGE%00"

Looking at the code, within `Zend\Http\Client\Adapter\Socket::write()` it's setting a `null` path to the request.
This appears to be because the `Zend\Uri\Uri` object doesn't have a path specified, and is returning a `null` f

[2016-02-18 13:15] pivulic commented on #3448
Including patch in .txt format (even though the original comment is clear enough)
[Patch-Magento_Customer-AbstractAddress-DoesNotExist.txt](https://github.com/magento/magento2/files/136225/Patch-Magento_Customer-AbstractAddress-DoesNotExist.txt)

[2016-02-18 13:26] Leonede opened #3461 "403 on inLine edit from grid in Admin with Custom Roles Resources"
Hello,
When admin with role that have Roles Resources = Custom, but all resources selected by checkbox, trying to inLine edit Grid (for examle CMS > Block) he got 403 error (Forbitten)
Screen with Role settings:
http://storage1.static.itmages.com/i/16/0218/h_1455801720_7065438_9508b91065.png
Сode screen with XDEBUG: http://storage2.static.itmages.com/i/16/0218/h_1455801233_6333368_bc214b27b9.png
M

[2016-02-18 13:46] chrisss404 commented on #2655
hi, I am facing the same issue, any progress?

[2016-02-18 13:49] markwalravens opened #3462 "knockout.js error when Flat rate Method Name is empty"
If i remove the Shipping Method - Method Name for Flat Rate i get the following error in the /checkout/cart/ url:

[code]

The cart-summary is not reloading anymore and the Shipping costs line is not showing.

If I enter the Method Name again, the error is also gone and it works again.

[2016-02-18 13:55] Leonede commented on #3461
For resolve this issue you need to add

[code]

to `Magento\Cms\Controller\Adminhtml\Block\InlineEdit` or extends from `Magento\Cms\Controller\Adminhtml\Block`. Same for `Magento\Cms\Controller\Adminhtml\Page\InlineEdit`

[2016-02-18 14:07] kram-dyoll commented on #2228
Hi there

Is there any information regards this bug as I am experiencing the same issue on version 2.0.2.

Thanks

[2016-02-18 14:28] ankursachdeva11 opened #3463 "Regarding product list API to get only list of SKUs via REST API"
Hi,

I am executing 'V1/products' WebApi with SearchCriteria and it is providing whole detail of product with it's all attributes and taking so much time to get all products.

My question is this if i need only sku of all products and i don't need rest of the attributes. So, in this case what should i do to get only sku of all products with same API.

Thanks,

[2016-02-18 14:42] kgvconsulting opened #3464 "magento 2.0.2 Flush cache leads to error re missing class and cannot create new customer"
Class Magento\NewRelicReporting\Model\Apm\DeploymentsFactory does not exist
Class Magento\Newsletter\Model\SubscriberFactory does not exist

After new install there was also missing components from catalog and product,  not plausible
[error1.pdf](https://github.com/magento/magento2/files/136343/error1.pdf)
[error2.pdf](https://github.com/magento/magento2/files/136344/error2.pdf)

 to create new pr

[2016-02-18 14:53] maqlec commented on #2972
I've the same issue, PHP 5.6.9, CentOS. What do you need to know? When I executing command from error, it ends with success.

[2016-02-18 14:53] alena-marchenko commented on #3441
Hi,

We've created MAGETWO-49453 internal ticket for correcting this.
Thank you

[2016-02-18 15:06] tvlooy commented on #2130
@andrewhowdencom just checked on a latest Alpine Linux and this is true. PHP complains that GLOB_BRACE does not exist. Kernel is Linux 4.1.15-grsec (ping @choukalos).

The thing is that Alpine Linux uses musl-libc instead of the Linux standard GNU libc. It seems that musl does not implement GLOB_BRACE because this is not a POSIX defined option.

[2016-02-18 15:11] dav1dian commented on #1619
@BlackIkeEagle
i see same issue on my local machine (Win7). So i guess that this bug was not fixed.
i even raised one more issue, but unfortunatly have no answer yet.. but cases i little bit different for me
https://github.com/magento/magento2/issues/3447

i tried to run everything you mantioned above, but unsuccessful

[2016-02-18 15:37] BlackIkeEagle commented on #1619
@dav1dian I think it will not work on windows since the feature relies on symlinks to work

[2016-02-18 15:38] tommy83 commented on #2982
It woud be nice if you implement this for other user.

[2016-02-18 15:39] iandfox opened #3465 "USPS shipping weight calculation rounds ounces to whole number"
When a product (and/or total weight) is very low, then USPS kicks back an error that no package weight has been specified.

If an order has a total weight of less than 1 ounce, then the USPS module rounds it to the nearest whole number (which is often 0) and sends that off to USPS for a shipping quote. The FedEx module, in contrast, does not round at all.

I checked in with the USPS [pricing api d

[2016-02-18 15:44] bgabrovsek opened #3466 "Repeated multilanguage problems"
I think you should in general reexamine multiple Store views.
As soon as I:
- make two store views with two languages
- make a few categories in two languages
- make a few product attributes in two languages
- add a few products in two languages

The whole thing starts breaking down in the product catalog list. I keep on getting errors "Something went wrong" and the page just loads until it eventu

[2016-02-18 15:55] ritschi72 commented on #2947
Hi everybody, I've got the same problem with tier prices, I also got lots of configurable products where I want to update tier prices without going into every simple product.
Does somebody have an idea where I can find an extension or any other way to solve this problem?

[2016-02-18 16:00] dav1dian commented on #1619
@BlackIkeEagle
windows supports symlinks as well.. and for me it works fine, untill i trying to import one .less file to another, and it's just creating a copy, instead of symlink

[2016-02-18 16:13] BlackIkeEagle commented on #1619
@dav1dian oh i did not know windows supports symlinks. sorry can't help you further

[2016-02-18 16:13] Nas1k opened #3468 "Incorrect behavior when Customer Address copy to Quote Address"
In method Magneto\Customer\Model\Address\AbstractAddress:532 when method populateWithArray call my customer address custom attribute remove form data.

[code]

PS: This code run when I try to create order form backend

[2016-02-18 16:14] davidalger commented on #3409
Good to know. If you run into this again, let us know!

[2016-02-18 16:37] mazhalai commented on #2972
@maqlec can you clarify this : `When I executing command from error, it ends with success.`

[2016-02-18 17:58] jaatr commented on #783
showing server error 500 in magento 1.9 on a live server please help

[2016-02-18 18:05] mazhalai commented on #783
@jaatr please do not post on close issues, also this is only for Magento 2. Please post magento 1 issues in https://community.magento.com/

[2016-02-18 18:09] jaatr commented on #783
in magento 2 banner slider not showing only showing please wait plz help

[2016-02-18 18:17] davidalger commented on #783
@jaatr I would recommend you head over to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and/or assistance debugging an issue. If you have a bug report with steps to reproduce, then open a new issue with that and environment information, thanks!

[2016-02-18 19:02] alankent commented on #2412
Getting swamped with pre-imagine work, but one question in my mind is around "default" mode vs "dev" + "prod" modes. Production mode we never generate code. "Default" mode, which is for "I only have production - I need to make changes live there" is less secure by definition. I wonder if true answer is to loosen up "default" mode, or have a better answer for "moving from dev to prod for shared hos

[2016-02-18 19:12] maqlec commented on #2972
I receive the same error message as at your first post

[code]

After this I run the command that supposedly returns an error and succeeds with output:

[code]

This looks like a problem with the output of STDERR. Does anyone know what to do with it?

[2016-02-18 19:53] maqlec commented on #2972
I solved my problem. It was enough to increase the memory limit in php.ini to 512M. After this compilation was successful.

[2016-02-18 20:07] stefandoorn opened #3470 "magento/framework should require zendframework/zend-escaper"
When using magento/catalog as a requirement in my separated module, I want to make sure I can still run unit tests without requiring all of Magento. It fails in an error as zend-escaper is required. To rebuild:

In test:

[code]

Composer:

[code]

Same goes for missing zendframework/zend-stdlib btw.

I think magento/catalog used magento/framework, which should add these dependencies to make sure

[2016-02-18 20:38] bgabrovsek opened #3471 "Bug in translating the word "Compare products""
If I inline-translate "Compare products" the frontpage gets messed up seriously when I add an item to the compare list (perhaps one must also flush cache)

You can see on screen on top and on the right column HTML code:

check on 2 different instalations, always the same.
I would be greatful for a manual fix, since now I cannot use my store.

[2016-02-18 20:54] jvanderbiest commented on #2972
@maqlec thanks, that solved the problem!
@mazhalai you can close this issue. Setting the PHP Memory limit to 512M solved it!

[2016-02-18 20:56] Grohotun opened #3472 "Wrong CURL headers"
Class is constructed with     \Magento\Framework\HTTP\Client\Curl $curl ($this->curlClient = $curl;)

protected $curlClient;

$request_data = array ('foo' => 'bar');

Code:

[code]

Running makePost function always result error from remote server, that headers wasn't containing json content type

If I put $this->getCurlClient()->post('http://domain.com'. $url, $request_data);  function after setti

[2016-02-18 21:06] mazhalai commented on #2972
Thanks for the update @jvanderbiest and @maqlec. Closing issue

[2016-02-18 21:06] #2972 closed, assigned to nobody

[2016-02-18 21:34] buskamuza commented on #2077
@zoneradx , could you, please, provide the exact error message and how you run the command? Thanks.

[2016-02-18 22:14] ilya0202 commented on #3246
Unable to install Magento 2. Installed Magento 1.9.

[2016-02-19 01:36] rudik99 opened #3473 "Braintree Payment's error only with Litespeed & not Apache"
Hi,

Firstly, I understand that M2 is officially compatible with only apache and nginx.

I use Litespeed which is a drop in replacement for Apache. I have never had compatibility issues in the past with Magento1.

With Magento 2, everything seems to work perfectly except for the Braintree Payment module.

The symptom: On Checkout the payment method is not shown.
How i replicated: Setup apache serv

[2016-02-19 02:19] alankent commented on #3220
I am not really a front end developer, but my understanding is for JS that by using requireJs you can declare dependencies to make sure things get loaded in the right order. From the requireJs docs: "If you do not express the dependencies, you will likely get loading errors since RequireJS loads scripts asynchronously and out of order for speed."

Some further reading:
- http://devdocs.magento.com

[2016-02-19 03:08] logan-robbins opened #3475 "Magento Performance Toolkit 404 Customer Search"
Running the performance toolkit via jmeter against Magento CE 2.0.2 large profile.

During execution, jmeter test fails because the request URL doesn't seem to exist:

/admin/customer/index/grid/limit/200/filter/Y3VzdG9tZXJfc2luY2VbbG9jYWxlXT1lbl9VUyZ3ZWJzaXRlX2lkPTE=

Response headers:
HTTP/1.1 404 Forbidden
Age: 0
Cache-Control: max-age=0, must-revalidate, no-cache, no-store
Content-Encoding: gz

[2016-02-19 03:17] logan-robbins commented on #3475
Was using old version of benchmark.jmx

[2016-02-19 03:17] #3475 closed, assigned to nobody

[2016-02-19 05:00] praful-rajput commented on #1619
@BlackIkeEagle
Thank you. Its working fine.

[2016-02-19 05:06] Grumag commented on #3417
The bug has also broken down checkout, just noticed. Once you click on Go to Checkout, only the logo at the top and Copyright at the bottom are loaded. Middle of the page has a circle that just keeps spinning for hours.

Is there anything that I can try to address this bug?

[2016-02-19 05:24] sstovall commented on #3317
PR #3477 to re-run checks. (#3476 failed due to travis-ci poweroff)

[2016-02-19 06:09] Ain5478 commented on #3444
Solution is to use: bin/magento indexer:reindex

[2016-02-19 08:11] anjenehm commented on #3424
[2016-02-18 15:05:32] main.CRITICAL: Could not determine temp directory, please specify a cache_dir manually [] []

[2016-02-19 08:16] anjenehm commented on #3424
I update the: lib/internal/Cm/Cache/Backend and a File.php
with 'cache_dir' => 'var/tmp/', doesn't help ....

i cleared the cache logs and only that message in debug.log appears

[2016-02-19 08:15:30] main.DEBUG: cache_invalidate:  {"method":"GET","url":"http://mydomain.com/","invalidateInfo":{"tags":["interception","CONFIG"],"mode":"matchingTag"},"is_exception":false} []

[2016-02-19 08:31] MonteShaffer commented on #3094
Anyone out there?

[2016-02-19 08:32] MonteShaffer commented on #3093
Is development active?

[2016-02-19 08:33] MonteShaffer commented on #3023
What does PROD label mean?

[2016-02-19 09:00] dav1dian commented on #1787
@davidalger @godban
Hi guys. issue still exists.. i tried to describe it here https://github.com/magento/magento2/issues/3447

[2016-02-19 09:13] rudik99 commented on #3473
After some further testing, this might be a PHP version issue. Not a web server issue.
Seems to appear when using PHP 7.02 and not php 5.6.*
Also potentially a related issue with #2878  ?

[2016-02-19 09:33] andidhouse commented on #3377
this was a bug in an extension that has been fixed. can be closed

[2016-02-19 09:33] #3377 closed, assigned to nobody

[2016-02-19 09:48] nja78 opened #3479 "Not translatable phrase in Wish List"
magento2/app/code/Magento/Wishlist/view/frontend/templates/messages/addProductSuccessMessage.phtml

Success message about adding product to Wish List cannot be translated

[2016-02-19 09:49] alankent commented on #3447
Hi. It always watches pub/static is my understanding as that is what Less will read from - but if its a symlink, then this is fine. If a file copy, then watching does not work.

Could you supply a copy of styles-new.less?  What happens is the `magento dev:source-theme:deploy` script uses a symlink if it can, but if the source file includes any "Magento magic", it has to copy the file to replace th

[2016-02-19 09:59] pivulic commented on #3038
We have 16 stores with 11 different languages, it takes us ~1h 40 minutes... So yes, +1 for a solution.

[2016-02-19 10:19] syntaxwanderer opened #3480 "Bug: less pocessor"
1)
![image](https://cloud.githubusercontent.com/assets/1311643/13172785/a69bd220-d702-11e5-8c7a-03426dba88b6.png)

2)
![image](https://cloud.githubusercontent.com/assets/1311643/13172806/cc4a8eda-d702-11e5-9951-92fb87a4b3fb.png)

3)
![image](https://cloud.githubusercontent.com/assets/1311643/13172904/43a087be-d703-11e5-8acb-3ca97d550a0e.png)

4)
![image](https://cloud.githubusercontent.com/assets/

[2016-02-19 10:22] rudik99 commented on #3473
Can replicate on php 5.6 as well for the original issue

[2016-02-19 10:46] syntaxwanderer commented on #3480
Update
![image](https://cloud.githubusercontent.com/assets/1311643/13173546/d1efb406-d706-11e5-89d3-2d578024e286.png)

[2016-02-19 11:21] bh-ref opened #3481 "false links in multistore setup after cache clearing"
hi,

I am using a store with 2 stores views named german and french.
**german** uses https://example.com/ as base,
**french** uses https://example.com/fr/ as base.

When I cleare the cache and go to https://example.com/ (the german store view), the links on that page are wrong (e.g. "Contact Us" is pointing to https://example.com/fr/contact/ instead of https://example.com/contact/).
I have to use

[2016-02-19 11:46] dnsahoo commented on #3242
Hi Serzhik and Jstuardo,

I am able to resolve the issue, it was a browser font issue in my Chrome browser. Long time ago, I made a little changes (increasing font size) in my chrome browser, which causes the issue.

Sorry for my mistake,

I am closing this issue.

Thank you.

[2016-02-19 11:46] #3242 closed, assigned to nobody

[2016-02-19 12:50] mrgoogle opened #3482 "Reindex by schedule on servers with several PHP versions"
Not sure if this can be considered a bug, but finding the reason of the problem and its solution took some time and debugging.

Our customer has two PHP versions on the server: 5.4 for old websites and 5.6 for Magento 2. Web server is set up correctly to use 5.6, but there was a problem with cron tasks.

As it is described in the documentation, I added bin/magento cron:run call to crontab with the

[2016-02-19 13:38] keyurshah070 opened #3483 "Default country selection issue while creating new customer from backend"
Hello,

While creating a new customer from back-end default country selection doesn't display on adding a new address.

![new customer customers customers magento admin](https://cloud.githubusercontent.com/assets/17308601/13176846/1b521470-d73b-11e5-8cc1-8c87ec2055f2.png)

To reproduct this step
- Login into magento admin panel
- Go to Customers > All Customers > Add New Customer > Click on left t

[2016-02-19 13:42] dav1dian commented on #3447
Hello @alankent !
yes, you are right, it always watches pub/static, but this structure only works, if .less files are symlinked from app/design.. otherwise it's watching a copy of a file and not going to change css, after changing that file in app/design.

Here is file - https://drive.google.com/open?id=0ByIwa4gTTVWaMHljMHM4S3hURW8
and i really can't see any differences between files in pub and ap

[2016-02-19 14:05] jaimestuardo opened #3484 "Media manager bad behaviour"
Hello,

This issue is really getting me crazy. When editing a product in backend, with 5 pictures, sometimes, only the base picture is shown in pictures list and sometimes all pictures are ahown. When that happen, I am afraid to save the product thinking that maybe all pictures will be removed from the product but the first one.

I check in database, and product pictures are in fact assigned to th

[2016-02-19 14:05] ruby10 opened #3485 "Trouble in attaching comments to shipment record created using shipment api"
While creating shipment records using Magento2.x shipment API "POST /V1/shipment/" , it has been made mandatory to add "parentId" field inside comments array json with an appropriate value , which refers to "entityId" of shipment record we are going to create, but how is it possible to know this before creation, since is an auto-generated field. If we provide "null", "0" to "parentId", or omit thi

[2016-02-19 14:15] po2go-sean commented on #1817
Also looking for any updates to this behavior, as we are experiencing similar.

[2016-02-19 14:24] ruby10 opened #3486 "Trouble in creating shipment records for child items for order for bundle products."
Here we have two scenarios to observer
1) order created for bundle-product which has value "separately" set for "Ship Bundle Items" field in it's settings : As shown in picture

![i2](https://cloud.githubusercontent.com/assets/12557241/13177780/532e556a-d741-11e5-8659-2011f281d16a.PNG)

If we create shipment record for child items via api "POST /V1/shipment/" it creating shipment record but with n

[2016-02-19 14:49] mazhalai commented on #3023
PROD label means it needs to be address by the Product team.

[2016-02-19 15:22] antboiko commented on #3422
Hi @bgabrovsek , thanks for your inquiry.

Could you please provide more details? Some screenshots would be really helpful.

Best,
Anton.

[2016-02-19 15:25] alena-marchenko commented on #3186
We have resolved this issue and delivered fix for this.

[2016-02-19 15:25] #3186 closed, assigned to alena-marchenko

[2016-02-19 15:27] alena-marchenko commented on #3253
We have resolved the issue and delivered the fix to develop branch.

[2016-02-19 15:27] #3253 closed, assigned to alena-marchenko

[2016-02-19 15:46] maxbucknell opened #3487 "What is this line of code for?"
In [`Magento\Catalog\Block\Category\View`](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Block/Category/View.php#L60), there is an orphan block created, for no obvious reason. My guess is it could be removed, since after this call, the block is totally inaccessible.

That said, I don't know if some edge case depends on a side-effect of `createBlock` that necessitates an

[2016-02-19 16:01] bkristl opened #3488 "attribute is not deleted from products"
Steps with example:
1) i create attribute for example **foot_high** - type dropdown with values 10cm, 20cm, 30cm
2) i assign that attribute to attribute set for example **furniture**
3) i created product with attribute set furniture and select value 100cm  for attribute **foot_high**
4) I save product
5) then i open attribute set furniture and remove  attribute foot_high and save it
6) reindexing

[2016-02-19 16:04] #3472 closed, assigned to nobody

[2016-02-19 16:06] Grohotun opened #3489 "CURL Json POST"
Using  \Magento\Framework\HTTP\Client\Curl doesn't support json posts, because it used only

$this->curlOption(CURLOPT_POSTFIELDS, http_build_query($params));

But need:

CURLOPT_POSTFIELDS, json_encode($params))

[2016-02-19 16:32] antboiko commented on #3479
Hi @nja78 , thanks for your inquiry. We've created internal ticket MAGETWO-49512.

Best,
Anton.

[2016-02-19 16:38] antboiko commented on #3471
Hi @bgabrovsek , thanks for your inquiry. We've created internal ticket MAGETWO-49514.

Best,
Anton.

[2016-02-19 16:38] mazhalai commented on #3069
Closing since reporter is non-responsive

[2016-02-19 16:38] #3069 closed, assigned to nobody

[2016-02-19 16:48] bgabrovsek commented on #3471
I do not know what exactly I did, but the HTML code eventually disappeared. Perhaps turn off "inline-translate" and flush. Anyway, it still is a bug.

[2016-02-19 17:43] robfico commented on #3331
We saw something very similar with a merchant. Using PHP 7.0.3 (and Magento 2.0.2), using Auth.net direct post, when placing an order, the checkout page would hang (spinning indicator on page), and the transaction would not appear in Auth.net. debug.log just shows the request, and then nothing else.

We downgraded to php 5.5.32, and the transaction went through just fine. Looks to be a bug with PH

[2016-02-19 17:52] pallaboffice commented on #3331
Thank you Rob, Thanks for the finding correct issue! It is something wrong in PHP 7.x.x version and Authorize.net API. The return value was null. I also will try to find the issue on Monday once more.

Thanks

[2016-02-19 19:38] Mag2 commented on #2412
I have a client who set up a store (not live yet) in magento 1.9.x
There were issues and rather than diagnose and repair them I recommended moving to magento 2 before going live.
There has been nothing but issue after issue before I started noticing a common denominator, "permissions".

In my pursuit to find the correct settings/setup I found the above "bug" report.
This isn't a "bug" it's a compl

[2016-02-19 20:54] alankent commented on #3480
Is it possible to get the theme? If a commercial offering and you don't want to send, could you try using say https://github.com/SnowdogApps/magento2-frontools to see if it comes up with a different error message?

Normally I would not have recommended overriding our default styles-m.less file, but that is not a reason for getting a stack trace.

[2016-02-19 21:24] cchamplin commented on #2130
Submitted a pull request to resolve this issue.

[2016-02-19 23:14] mikebranderhorst commented on #2450
"Leave empty for default (2)"

After migrating, this field was empty for us in adminhtml. It should show 2 lines on frontend. Instead it shows no lines.

core_config_data customer/address/street_lines NULL

If the field is filled with a value, now it shows the correct lines.

"Valid range: 1-4"

If I use "5" as value, this is accepted (shouldn't) it also show 5 lines on frontend. Value "0" is also

[2016-02-20 06:32] amansrivastava commented on #2540
@keharper There should be a step by step guide for this. When I was trying to learn OAuth, I found it much confusing either due to complicated structure or insufficient information or tutorials available.
If someone is just using OAuth integration provided by Magento2, he should get a step by step guide to configure it.
(Its my personal opinion after struggling for a week)

[2016-02-20 07:39] sandeepBWC commented on #3286
Hey,

I'm also getting same, have you found some solution ?

[2016-02-20 11:25] ravbetsky opened #3491 "Make grunt to load tasks automatically"
Currently if I want to add my custom grunt task to M2 front-end workflow I need to modify Gruntfile.js because all tasks located in `dev/tools/grunt/tasks/` are adding manually in it (see Gruntfile.js).

[code]

So if I need to add some task, for example `sprite` I must modify Gruntfile.js like this:

[code]

This a minor change, but however this is a core file which can be updated after upgrade.

[2016-02-20 12:30] rudik99 commented on #3473
I am no longer having this issue, i am going to close this

[2016-02-20 12:30] #3473 closed, assigned to nobody

[2016-02-20 13:52] ad1rie1 opened #3493 "Multiple default choice bug"
When you add new product attribut you can select only one default choice, normal.

but if you edit the attribute, it transform the select to checkbox . And you can select multiple default :D
And if you add new option it spanw select

checkbox :
![bug1](https://cloud.githubusercontent.com/assets/1949622/13197041/818858b6-d7e1-11e5-828d-ea9037b1a49c.png)

Add option :
![bug2](https://cloud.githubuse

[2016-02-20 18:32] jibrandlr opened #3494 "Can't add more images to previously imported products"
I can add images to new created products on Magento ver 2.0.1. However, when I try to add more images to previously imported products, the images don't show up in the "Images and videos" section. If I clic the "Save" button, the backend freezes.

The imported products include one image which shows up in back and front end. The issue happens when I try to add a 2nd, 3rd... image to the product.

[2016-02-20 21:55] seanmindarc commented on #745
@vpelipenko Is there anywhere we can see the progress of this internal ticket inside the Magento Partners portal? - MAGETWO-31586

[2016-02-21 02:19] rudik99 opened #3495 "414 (Request-URI Too Large) when using "add products manually""
Scenario
A configurable product with a large amount of attached variants (150 - 10 size & 15 colour)
Press Add Products Manually to add more variants.
Pop up appears, but spinning wheel appears and just sits there forever.

Error:
In browser console.
Failed to load resource: the server responded with a status of 414 (Request-URI Too Large)

With Apache the limit is a configurable using LimitReques

[2016-02-21 09:12] chong1227 commented on #3092
did this bug fixed?~~

[2016-02-21 09:29] alankent commented on #3491
It is a problem. We are thinking of doing something like shipping Gruntfile.js.sample instead to overcome this problem. You would then copy it to the Gruntfile.js and take responsibility to merge in any changes later. I am not sure the final solution, but you are right - it is a problem. For now my advice is to change the file and be aware that doing an upgrade will need to to save copies of all c

[2016-02-21 09:54] chong1227 commented on #2406
can i fix it of my owl??

[2016-02-21 09:54] chong1227 commented on #2406
can i fix it of my own??

[2016-02-21 09:54] ravbetsky commented on #3491
Alan,

May be you can just scan `dev/tools/grunt/tasks/` folder for any `*.js` files and then return them as an array of tasks. This solution will prevent from modifying `Gruntfile.js`.

I've created a pull request, may be it can help [https://github.com/magento/magento2/pull/3492]

[2016-02-21 09:57] alankent commented on #3491
Thanks. I will pass it onto the team (internal reference MAGETWO-48461). Have you also seen the work by SnowdogApps on Gulp? I have not timed it, but some people claim it is faster. https://github.com/SnowdogApps/magento2-frontools

[2016-02-21 10:02] ravbetsky commented on #3491
Thank you. Gulp is much faster then grunt. I'll check this link, may be in future M2 will use gulp instead of grunt.

[2016-02-21 11:20] jsakars commented on #3494
Seems to work fine on 2.0.2

[2016-02-21 12:34] mayhem-ahmad commented on #3267
@eug123  thanks!, it's working fine now.

[2016-02-21 12:35] #3267 closed, assigned to nobody

[2016-02-21 12:35] mayhem-ahmad commented on #3260
Thanks! guys .

[2016-02-21 13:15] aeldar commented on #3073
I have the same problem. Clean magento installed from composer, without 3d-party modules. Thanks simkea for found workaround solution.

[2016-02-21 14:15] moraryou opened #3496 "HTTP/HTTPS assets serving"
When i install Magento 2 and configure installer for backend to use HTTPS but keep HTTP for the frontend, if i load the frontend over the HTTPS i get:
`Mixed Content: The page at 'https://magento2.dev/' was loaded over HTTPS, but requested an insecure stylesheet 'http://magento2.dev/pub/static/frontend/Magento/luma/en_US/mage/calendar.css'. This request has been blocked; the content must be served

[2016-02-21 15:00] aniket-rokade opened #3497 "Enabling Dashboard Chart from admin causes exception in opening admin-dashboard."
Whenever I enable Dashboard Chart from admin->Store->configuration, admin dashboard page does not work. It gives exception.

I tried below things to resolve it but to no help:

1) Created Cron job as described in below dev doc:
http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

2) Changed parameter group setting of my RDS instance to ignore super user access

[2016-02-21 17:27] binamandiri opened #3498 "add option limit only 248 of dropdown or multiselect atribut on magento 2"
i try to make new atribut with "Catalog Input Type for Store Owner = multiselect ( or dropdown )" but when i add option the limit is only 248 option i can add. if we add more than 248 they are not appear.

![new picture](https://cloud.githubusercontent.com/assets/17111300/13204135/b7e4f5ee-d8fa-11e5-8dc0-42895a27ca75.png)

on magento 1.9.xx theres no problem like this

[2016-02-21 18:03] Humanshu24 opened #3499 "enable menu in admin pannel of magento"
hi all please guide me i installed magneto 2.2 in my xampp localhost directory i setup every thing once when i tried to login in admin panel it login in but all the menu are disabled i am unable to do anything in admin panel of magneto please guide me how can i enable the all menu in magneto admin panel

thanks in advance

[2016-02-21 20:56] jibrandlr commented on #3494
I just upgraded to 2.0.2 but the issue is still present

[2016-02-21 23:50] astorm commented on #3092
@chong1227 I don't know -- shouldn't you'all have tests the prove if that's true or not?  Also, what exactly is the fix?  I don't see a linked a pull request related to this at all?

Or is this just an optics thing where you're try to close out open bug irrespective of whether they're fixed or not?

[2016-02-21 23:59] luc-anise opened #3500 "Install Stuck at 0%"
Hey guys so I was ready to install magenta on my GoDaddy VM and then it was all looking great till it got stuck at 0%. The log was of no help either all it showed was this:

[code]

Also when I visit the domain without the /setup (so where the homepage would normally be) I get this error:

`Fatal error: Allowed memory size of 33554432 bytes exhausted (tried to allocate 10880 bytes) in /home/shopst

[2016-02-22 00:17] luc-anise commented on #3500
To answer my own question: I didn't allocate enough memory in my php.ini file (I upped it from 32M to 512M). Hope this helps anyone looking for the same answer.

[2016-02-22 02:40] mrkhoa99 commented on #3499
Hi,
You try to run this command under Magento root folder:
`php bin/magento setup:static-content:deploy`

[2016-02-22 03:03] tungmpo opened #3501 "product ordered don't show in report"
Hi,
I ordered some products but it don't show in  reports  at:  Reports -> Sales -> Order

Do you know why ? How to show  them   ?

Thanks
Regards
PT Team

[2016-02-22 03:13] ivansuharyadi opened #3502 "Specific Country on Block Estimate Shipping and Tax not working"
i'm has been set specific country to Ireland and UK, on page checkout its working the dropdown only display Ireland and UK.

But on page checkout cart, all country displayed on dropdown country ?

[2016-02-22 05:34] alankent commented on #3288
Well, I might have found a workaround until we resolve the issue correctly.

The reason for the error message is the current code does not like the "../" in the imported path. There is a way around this problem which is to declare a variable to hold the "../" and reference that variable in the import command. If you grep through our less files you will see a few occurrences using @{baseDir} in imp

[2016-02-22 06:50] Humanshu24 commented on #3499
hey **mrkhoa** actually i am totally new for magento  even i dont know how to run this command php bin/magento setup:static-content:deploy under Magento root folder if possible plz explain me step by step .

waiting from hear You
Thanks in advance

[2016-02-22 07:00] jsakars commented on #3494
@lgarridoj how are You importing Your products? Try adding a product manually from backend and see if the issue is present

[2016-02-22 07:21] vipin-eglobeits opened #3503 "Magento2 message manager error"
In Magento2 login page, if we try to login with wrong credentials, the error message('Invalid login or password.') is not showing on the same page and they will show only on any other page with some other message.
![issue](https://cloud.githubusercontent.com/assets/14974923/13211927/e6497bf4-d962-11e5-84bd-8a7fcef3d848.png)

Anybody please help me to solve this issue.
I'm using latest Magento 2.0.

[2016-02-22 07:43] anjenehm commented on #3424
1. Upload the zip file to the target directory.
2. Unzip the zip on the server
3. Adjustment of DBValidator.php file under setup / src / Magento / Setup / Validator
   private function check database privileges (\ Magento \ Framework \ DB \ Adapters \ Adapter interface $ connection, $ dbName) {return true;
4. Allocation of the file and folder permissions (660 files and folders 770)
5. executing th

[2016-02-22 08:51] ishakhsuvarov commented on #3240
@lsmithcom Closing the ticket for now. Feel free to reopen if this issue persists.

[2016-02-22 08:51] #3240 closed, assigned to ishakhsuvarov

[2016-02-22 08:55] ishakhsuvarov commented on #3416
@LifeAsBook Please clear Magento caches and try again. If the issue persists, please let us know what did you add to `extension_attributes.xml` and which payload are you using for the `POST` request.

[2016-02-22 09:01] ishakhsuvarov commented on #3392
Hi @PVoIWD this seems to be and expected behaviour for this case.
What was your expected result?

[2016-02-22 09:08] ishakhsuvarov commented on #3348
@dfediuk Thank you for reporting this issue. We have created an internal ticket `MAGETWO-49548` to improve the method in question.

[2016-02-22 09:18] ishakhsuvarov commented on #3340
@dfediuk Thank you for reporting this issue. It is going to be fixed by merging #3359 in the nearest future.

[2016-02-22 09:27] bh-ref commented on #3499
@Humanshu24 the command that mrkhoa99 mentioned has to be executed from a command line. you have to open a command line terminal (like powershell.exe on windows or bash on linux) and navigate to your magento root folder, and then execute the command.

if you are using linux and your magento root folder was /var/www/magento2, then you would use these commands:

`cd /var/www/magento2`
`php bin/magen

[2016-02-22 09:54] LifeAsBook commented on #3416
@ishakhsuvarov my mean is  if i have to extension_attributes that "my_test" , should i  use "my_test" or "extension_attributes"  in the front form name?

[2016-02-22 10:20] mikebranderhorst opened #3505 "add /vendor/ folder to repository & add /vendor/artifacts/ for commercial packages"
In .gitignore:

[code]

Should be:

[code]

This way /vendor/.htaccess is added to (private) repository (and with deployment the folder is created).

Maybe also add the third line (to make adding commercial packages possible by artifact)
https://getcomposer.org/doc/05-repositories.md#artifact

[code]

Combined with an addition in composer.json
(composer config repositories.artifacts artifact vendo

[2016-02-22 11:17] Fel1xx opened #3506 "Free shiping coupon usage is not tracked"
Hi.

Found an issue that usage of free shipping coupons is not tracked correctly. Steps to reproduce:
1. Create a cart rule with "Free Shipping" in actions and Uses per Coupon and Uses per Customer set to 1.
2. Make sure that discount amount is set to 0.
3. Generate some coupon code
4. Place an order with generated coupon on store front.
5. Try to apply this coupon again and it will be applied (it

[2016-02-22 11:20] arkadiych commented on #3459
@balack, Could you check a value of the option "Use Aggregated Data" in Stores->Configuration->Sales->Sales->Dashboard ?

[2016-02-22 11:30] ishakhsuvarov commented on #3416
@LifeAsBook If I understand you correctly it should be "my_test" under "extension_attributes", however code sample would be helpful to clarify things.

[2016-02-22 11:32] bh-ref commented on #3183
I am on 2.0.2 as well. I cleared the cache and redeployed the static view files. The spinning dial keeps saying "please wait...". The chrome dev tool console says
**POST https://example.com/admin/admin/import/validate/?form_key=YEihyJp6HMl8S2dM 500 (Internal Server Error)**

[2016-02-22 12:01] peec commented on #1326
@thaipan thanks, tested it and it works. Helpful hint is also just to set media url under Store -> General -> Media URL unsecure to S3 bucket or CDN url.

Core Team, are you going to officially support S3 and other storages ? Magento2 can't scale using regular file system storage.

[2016-02-22 13:24] brideo commented on #2045
Hi @sidolov,

I just came across this issue too, steps to reproduce:

Environment:
- Make sure PHP Warnings are one
- Developer mode on
- My PHP version is: 5.6.17

Steps to reproduce:
- `update core_config_data set value = 9999999 where path = 'admin/security/session_lifetime';`

You can set the value in the admin by going to:
- Configuration > Advanced > Admin > Security > Session Lifetime (Seco

[2016-02-22 14:23] mazhalai commented on #3424
@anjenehm
- why do you need step 3?
- also, recommended permissions are not 660, and 770. Please see [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html) and [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)
- did you check file permissions after static content deploy?

[2016-02-22 14:24] mazhalai commented on #3092
@astorm @chong1227 this ticket is WIP. It will be closed when it is merged into develop.

[2016-02-22 14:42] dsikkema-magento commented on #2461
Closing this for now, if anyone knows what I'm missing to reproduce then please re-open.

[2016-02-22 14:46] dsikkema-magento commented on #2620
Closing for now, please re-open if you find any reasons why the current approach is unsafe.

[2016-02-22 14:46] #2620 closed, assigned to nobody

[2016-02-22 14:46] dsikkema-magento commented on #2632
Closing for now, please re-open if you find any reasons why the current approach is unsafe.

[2016-02-22 14:46] #2632 closed, assigned to nobody

[2016-02-22 14:46] jsakars opened #3507 "Constant critical errors in system.log"
Critical errors constantly logged in var/log/system.log:

[code]

From what I can tell - it happens from both adminhtml and frontend.
Magento version 2.0.2 with default theme and pretty much default setup(except 3 store views and couple of products imported).

[2016-02-22 14:47] marvincaspar opened #3508 "How to disable API methods?"
I want to disable unused API methods. I tried a lot but I did not find a solution how I can disable them without changing the core code.

Is there a way which I didn't see?

[2016-02-22 14:52] ishakhsuvarov commented on #3423
@BaberAhmed Thank you for reporting this issue. We have created an internal ticket `MAGETWO-49560` to fix the problem.

[2016-02-22 14:53] undefined-olha commented on #3168
@tinogo thank you for reporting this issue. Internal issue MAGETWO-47608.

[2016-02-22 14:59] alena-marchenko commented on #2878
The issue has been resolved and delivered to develop branch.

[2016-02-22 15:10] ishakhsuvarov commented on #3462
@markwalravens Thank you for reporting this issue. We have created an internal ticket `MAGETWO-49561` to investigate and fix the problem.

[2016-02-22 15:19] ishakhsuvarov commented on #3502
@ivansuharyadi We could not reproduce the described issue with the latest `develop` branch, please provide more information regarding your setup (detailed steps to reproduce, Magento version, etc).

[2016-02-22 15:19] ghost commented on #3500
FWIW, we recommend 768M. 512 isn't enough for sample data, for example, and you might have issues importing products.

[2016-02-22 15:24] ishakhsuvarov commented on #3500
@z6tanker Closing the ticket as the issue seems to be solved already. Please feel free to reopen if there are any further questions regarding this.

[2016-02-22 15:24] #3500 closed, assigned to nobody

[2016-02-22 15:36] #2973 closed, assigned to nobody

[2016-02-22 15:57] ghost commented on #2809
this error can be replicated on a fresh install "**magento-1.9.2.3**-2016-01-20-03-04-11" ,
totally out of the box with no mods or 3rd party additions.
steps taken to reproduce,
- download magento
- unzip
- run the installer,
- login to admin,
-  attempt to reindex. ( via web or /shell/indexer.php )
- receive errors

My best guess at this point is the install script(s)/upgrade script(s) do not add

[2016-02-22 16:10] serzhik commented on #2996
Got same issue.
Thanks for fix.

Can't reproduce one more time.

[2016-02-22 16:18] Nas1k commented on #3468
I fixed this issue. If I want to copy data from customer to quote I must modify quote and order tables. Thanks.

[2016-02-22 16:18] #3468 closed, assigned to nobody

[2016-02-22 16:46] choukalos commented on #3463
Looking through our dev docs it doesn't look like we've documented how to only get a few fields back ( partial fields filtering ).  It's a framework feature.

Try
V1/products?fields=sku

You can even get nested objects out too..
ex : ?fields=customer[id,email],sampleField,addresses[city,postcode,region[region_code,region]]

[2016-02-22 17:26] ankursachdeva11 commented on #3463
Hi @choukalos ,

I have tried 'fields' parameter with searchCriteria but it is not working.
Here is the example URL for REST API :

[Domain]/rest/V1/products?fields=sku&searchCriteria[filter_groups][0][filters][0][field]=status&searchCriteria[filter_groups][0][filters][0][value]=1&searchCriteria[filter_groups][0][filters][0][condition_type]=eq

Please verify the url and let me know if i am making

[2016-02-22 17:27] moleculech commented on #2996
Same here, happend after migrating database to a separate installation. Thanks for the help!

[2016-02-22 17:34] jibrandlr commented on #3494
The issue occurs only in products imported via CSV files.

[2016-02-22 18:16] balack commented on #3459
@arkadiych, i have check yes http://pasteboard.co/1KxgO6He.png but it isn,t show

[2016-02-22 19:44] arkadiych commented on #3459
@balack, does it work, if  "Use Aggregated Data" = 'No' ?

[2016-02-22 19:55] PVoIWD commented on #3392
If I select 'No', shouldn't this fall back to the multi-page checkout? I have found reference here:
https://drive.google.com/a/interiorwebdesign.com/file/d/0BwbQCbz5XlTOWWVPWFlqZ0NjUGc/view?usp=drivesdk

http://frontlinedev.com/how-to-enable-disable-one-page-checkout-magento/

I'm expecting it to work the same since this feature exists in Magento 1. Should it work differently, I think you guys sho

[2016-02-22 20:51] davidalger commented on #3508
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-22 20:51] #3508 closed, assigned to nobody

[2016-02-22 20:53] #3340 closed, assigned to ishakhsuvarov

[2016-02-22 21:49] maksek commented on #3499
Please use http://devdocs.magento.com/ for installation steps. Also if you have any question you can use forum to find answers or ask questions - https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2

[2016-02-22 21:49] #3499 closed, assigned to nobody

[2016-02-22 23:49] joebusby opened #3509 "Payflo Pro Credit cards always Zero"
Using PHP Version 5.6.17-0+deb8u1 on OpenVZ deb 8  Several cores and 3GB memory

The cart reports Zero dollars on all transactions.  I have looked at the configuration several times and can't seem to find anything there (help here maybe).  PayPal support says:

I tried different users to no avail.    Does anyone have this working?  Ideas?

[2016-02-23 01:37] ivansuharyadi commented on #3502
Im using Magento 2.0.1, everything is ok, just this one problem only happens,

On page checkout cart :

![untitled-1](https://cloud.githubusercontent.com/assets/4571528/13238724/a37f6c16-da07-11e5-940a-1a4ac85c0536.png)

On page checkout index:

![untitled-2](https://cloud.githubusercontent.com/assets/4571528/13238725/aa8c3aca-da07-11e5-8ab5-b9134d54b4fa.png)

How to set dropdown country on page c

[2016-02-23 02:08] balack commented on #3459
Yes, i have select "NO", it working, thank you so much

[2016-02-23 03:38] jleplomet commented on #2924
@markoshust Yes that is correct.

I have noticed that due to server generation of files, this slows down Magento to load on any page.

What is the ideal setup/settings to run Magento 2 while developing custom themes on a local install of Apache/PHP/MySQL?

[2016-02-23 08:01] anjenehm commented on #3424
Cause my Server Provider told me to do step 3 (cause he cant change to the newest mysql version)
(So what did you think should i buy a managed mage2 server ?)

so what?
All directories have 770 permissions.
770 permissions give full control (that is, read/write/execute) to the owner and to the group and no permissions to anyone else.
All files have 660 permissions.
660 permissions mean the owner a

[2016-02-23 08:14] mrkhoa99 commented on #3424
You try to enable developer mode from CLI:
`bin/magento deploy:mode:set developer`
And then, deploy static content:
`bin/magento setup:static-content:deploy`

[2016-02-23 08:59] asemenenko commented on #3392
Hi @PVoIWD multi address checkout can be turned off with a different setting. I agree that we should combine those settings since its not quite obvious.

[2016-02-23 10:02] LifeAsBook commented on #3416
@ishakhsuvarov
![q1](https://cloud.githubusercontent.com/assets/10986726/13247693/cad8168e-da55-11e5-8174-8e5eaedc326a.jpg)
![q2](https://cloud.githubusercontent.com/assets/10986726/13247702/d4c2b35c-da55-11e5-828d-80dd6242297e.jpg)

![q3](https://cloud.githubusercontent.com/assets/10986726/13248003/289c022a-da57-11e5-8206-89ef033e4ff0.jpg)

this updte button is call http://127.0.0.1/m202/rest/def

[2016-02-23 10:10] owenhaynes commented on #1326
let alone scale with kubernetes or other docker containers management services

[2016-02-23 11:07] TommyKolkman commented on #3238
Agree! Saves me a lot of clicking!

[2016-02-23 11:08] ishakhsuvarov commented on #3502
@ivansuharyadi Thank you, the information you provided was really helpful.
Indeed, this issue exists in `2.0` branch but already fixed in `develop`. The fix is going to be available as a part of the next release. Meanwhile you may use [commit](https://github.com/magento/magento2/commit/7b1ac83b92228803884f04cb74505b776bef59cd) `7b1ac83b92228803884f04cb74505b776bef59cd` as a hotfix, if you wish.

[2016-02-23 11:25] iw0der opened #3510 "i18n: If you have questions about your order, you can email us at..."
Hi Guys,
I have a strange language problem... in Italian order confirmation messages, a text appears in English even though it was set to its Italian translation!

Perhaps the i18n language files have some problems with double quotes?

./vendor/magento/theme-frontend-luma/i18n/it_IT.csv:
`"If you have questions about your order, you can email us at <a href=""mailto:%store_email"">%store_email</a>.

[2016-02-23 11:33] antboiko commented on #3435
Hi @bgabrovsek , thanks for reporting this issue. Internal ticket MAGETWO-49617 was created.

Best,
Anton.

[2016-02-23 11:34] Vinai commented on #3238
:+1: from me to being able to create websites store views on the command line. However, I don't know if this should be part of the core. It could be provided by a community extension.

Maybe setting the language can already already be done using `bin/magento setup:store-config:set --language=de_DE`

See
[code]

[2016-02-23 11:35] antboiko commented on #3426
Hi @bgabrovsek , thanks for your inquiry. We've created internal ticket MAGETWO-49618 for this issue.

Best,
Anton.

[2016-02-23 12:01] pansys opened #3511 "New and Edit User Role is not working correctly"
I have installed Magento 2.0.2 and everything looked fine. I was able to create new User and New User Role. But since yesterday creating a new role creates a new record but role name is empty. Editing the role creates a duplicate record too with role name empty for both actual and duplicate records.

Create new user not creating any user record.

[2016-02-23 12:10] iw0der commented on #3510
I see that the same phrase is presented several times, with and without the end dot... the issue may be that?

But `magento i18n::collect-phrases` report only the one with the dot on "lumia theme":

Ok, I tried adding one without the dot but nothing happens (in fact I did not do a complete test complete with a cache flush, etc.)

73s,
A.

[2016-02-23 12:10] mazhalai commented on #3424
@anjenehm If you choose to go with a lower version, please do not expect the store to be fully functional. we rely on many features of 5.6 like [fulltext indexes and timestamp columns](https://dev.mysql.com/doc/refman/5.6/en/upgrading-from-previous-series.html).

[2016-02-23 12:50] arkadiych commented on #3459
That's a problem with "Use Aggregated Data" setting. Internal issue MAGETWO-47255

[2016-02-23 12:56] anton-huz commented on #3493
Hi  ad1rie1,
Could I ask you about browser that was used by you?
And it would be handy if you tell how Magento was installed? From Composer or Github, from `develop` or `2.0`  branch.

[2016-02-23 12:57] ivansuharyadi commented on #3502
@ishakhsuvarov Awesome!! Thank you....

[2016-02-23 13:05] ishakhsuvarov commented on #3502
@ivansuharyadi Closing this ticket for now. Please feel free to reopen if you have additional questions.

[2016-02-23 13:05] #3502 closed, assigned to ishakhsuvarov

[2016-02-23 13:09] anjenehm commented on #3424
So i should maybe buy a new "managed server only for magento 2"...
Can you agree?

[2016-02-23 13:41] ishakhsuvarov commented on #3452
@hankzhh Thank you for reporting the issue.
Do you get any error messages or exceptions? Which Magento version are you using?
Any additional information and detailed steps to reproduce would be helpful as well.

[2016-02-23 13:47] asemenenko commented on #3509
Hi @joebusby can you send a debug log for actions you tried to perform along with screenshots of configuration?

[2016-02-23 14:08] rganin commented on #3501
Orders with "Pending" status are not shown in report. Seems that hint in Order Status filter is incorrect.

[2016-02-23 14:20] wojtekn commented on #1580
@tanberry how is it going? Did you come with any guidelines?

[2016-02-23 14:42] mslabko commented on #2844
Hello @SharpenedSpoon, @xhallix,
PR was merged to develop branch. Thank you for collaboration .

[2016-02-23 14:42] #2844 closed, assigned to yaronish

[2016-02-23 14:58] rganin commented on #3482
Thanks for reporting. Created internal issues for lost output (MAGETWO-49638) and multiple php executables (MAGETWO-49633).

[2016-02-23 15:00] #2853 closed, assigned to nobody

[2016-02-23 15:18] PVoIWD commented on #3392
It's multi-page checkout I'm referring to, not multi-address. There is a separate setting for multi-address already. I still think this is a issue and shouldn't be working this way. Setting No for One-Page checkout should go back to multi-page checkout, NOT disable checkout entirely.

[2016-02-23 15:23] tanberry commented on #1580
Hi @wojtekn. Funny you should ask; this project has (thankfully) been revived, just yesterday! DevDocs is working with the UX team and Engineering and of course @benmarks et al to help craft a starting set of guidelines, in the form of a FAQ. Goal is to publish those basic ones in next couple of weeks, and then get community to add Questions (and proposed Answers); internal teams will then add the

[2016-02-23 15:28] joebusby commented on #3509
Here is the debug showing the transaction amount as zero, config below

 'request' =>
  array (
    'user' => '***_',
    'vendor' => 'compay_name',
    'partner' => 'PayPal',
    'pwd' => '**_*',
    'verbosity' => 'HIGH',
    'BNCODE' => 'Magento_Cart_Community',
    'tender' => 'C',
    'trxtype' => 'A',
    'amt' => 0,
    'createsecuretoken' => 'Y',
    'securetokenid' => 'longnumberhere',

[2016-02-23 15:34] ishakhsuvarov commented on #3280
@anantab Thank you for reporting this issue. We have created an internal ticket `MAGETWO-49645` to  fix the problem.

[2016-02-23 15:54] ishakhsuvarov commented on #3374
@lilmuckers Thank you for reporting this issue.
Could you please provide details on the Magento version you are using and Payment methods you tested?

[2016-02-23 15:59] ishakhsuvarov commented on #3142
@hommedeplage Thank you for reporting this issue. We have already fixed a similar problem in #2933, could you please update and check if issue still persists?

[2016-02-23 16:00] anjenehm commented on #3424
ok i have now a backend but get a error message

"Could not determine temp directory, please specify a cache_dir manually"

so i setup in file.php 'cahce_dir'=> '/var/tmp', but still get the error :(

[2016-02-23 16:04] lilmuckers commented on #3374
I am using 2.0.2 CE - and i tried it with Ebizmarts_SagePaySuite  and with the standard `checkmo`

### Edit with more detail

For the `checkmo` one  - i put a test into the code to throw a validation exception within the class. I did this in a number of places _after_ the billing address was saved to the quote (just to simulate a multitude of errors that might happen from validation to payment to

[2016-02-23 16:23] logan-robbins opened #3513 "Magento Performance Toolkit Customer Checkout Error"
Steps:

1) Magento CE v2.0.2, PHP 7.0.3

2) php bin/magento setup:perf:generate-fixtures /var/www/magento/html/setup/performance-toolkit/profiles/ce/large.xml

3) enable flat catalog / category, reindex

4) deploy static content, run multi-tenant compiler

5) separate jmeter server (or local computer gui) ./jmeter -n -t benchmark.jmx -Jhost={url/ip} -Jbase_path=/ -Jusers=100 -Jramp_period=360 -Jre

[2016-02-23 16:40] flipflap opened #3514 "Magento 2 links in admin/backend don't work"
All the links in the left admin bar don't work. They all end on #3513
But the Icons are shown.

The following solution doesn't help in my case:
https://www.envisionecommerce.com/magento-2-admin-links-not-working-on-localhost-easy-solution/

[2016-02-23 16:51] wojtekn opened #3515 "Two admin menu nodes use the same ACL resource"
"Products  -> Inventory" menu node uses "Magento_Catalog::catalog" ACL resource, the same as root "Products" node. It causes UI problem when custom node is added under "Products" node. To display such custom node I need to add permission to "Magento_Catalog::catalog" and it causes displaying empty "Inventory" node.

"Products  -> Inventory" should use "Magento_Catalog::catalog_inventory" ACL resou

[2016-02-23 16:57] mazhalai commented on #3424
@anjenehm ~~that line is no where in M2, it is in M1. Please do not post M1 related issues here. The proper place for that is community.magento.com~~ Just checked it is in vendor/magento/zendframework1/.

[2016-02-23 17:00] jibrandlr commented on #3494
Solved. The issue solved when correcting permissions on the installation.

[2016-02-23 17:00] #3494 closed, assigned to nobody

[2016-02-23 17:04] mswaidan opened #3516 "UPS negotiated rates not working on label purchase"
UPS negotiated rates are not being applied at the time of label purchase. They do appear to be applied during checkout, as the customers are paying a discounted rate. `</Package><RateInformation><NegotiatedRatesIndicator/></RateInformation>  </Shipment>` does show up in the XML request in debug.log for the labels in question.

Let me know what other information I can supply to help get this resolv

[2016-02-23 17:27] anjenehm commented on #3424
I get this error message when i want to open /admin (dashboard) this is magento 2.0.2 ce

[2016-02-23 17:30] mazhalai commented on #3424
@anjenehm what OS are you on?

[2016-02-23 17:33] elenleonova commented on #2896
@craigcarnell thanks for reporting the issue to us. If it doesn't take much of your time, can you share the screenshot on the problem you're seeing or provide the number of stores that you have in your configuration? Thanks

[2016-02-23 18:01] mazhalai commented on #3510
@iw0der what version of Magento are you using?

[2016-02-23 18:11] anjenehm commented on #3424
Linux Gentoo

(i reinstall at this moment)

[2016-02-23 18:30] rhoerr opened #3519 "ProductRepository does not always respect scope or emulation"
In brief: There seems to be an issue with `\Magento\Catalog\Model\ProductRepository` whereby it does not respect emulation, nor does it correctly identify the current scope in all situations.

The primary result of this when saving a product through ProductRepository from an affected scope is that (1) some attributes are saved in the fallback scope (default store) when that would not be expected,

[2016-02-23 19:17] anjenehm commented on #3424
@mazhalai Ok succesful installation ... but ... when try to open /admin dashboard and the same error appears

main.CRITICAL: Could not determine temp directory, please specify a cache_dir manually

[2016-02-23 19:26] hankzhh commented on #3452
@ishakhsuvarov
Thank your reply.
I repeat it in magento v2.0.2 (nginx+phpv7.0.3):
1. create a bundle in the backend, sku=test1, with two options: test option 1 and test option 2. and "Ship Bundle Items" set to "seperately".
test option 1 have 3 simple products(product1, product2 and produc3). test option 2 have 2 simple products(product4 and product5).
other setting are not changed.
2. in the fron

[2016-02-23 19:49] mazhalai commented on #3424
@anjenehm supported OSs are Centos and Ubuntu, though, it should work. Does your apache user have write permissions to the `/var/tmp` dir?

[2016-02-23 20:00] anjenehm commented on #3424
@mazhalai i reinstalled all again deployed static files en_US/de_DE. In htaccess i set the rewritebase and removed on my php.ini asp_tags. Bam succesful static files and a worked backend.

Thx for your help!

[2016-02-23 20:02] mazhalai commented on #3424
Thank you for your update. closing this ticket for now. If you have any more issues, please create a new one.

[2016-02-23 20:02] #3424 closed, assigned to nobody

[2016-02-23 20:06] sshrewz commented on #781
@michaeltimm81, since we have not heard from you for quite some time, we will go ahead and close this issue.  In case you have any further questions, don't hesitate to reopen.

[2016-02-23 20:06] #781 closed

[2016-02-23 21:19] kevando commented on #1498
I am here looking for a clear answer on why reindex is not an option from the admin?

The links provided have lots of great information, but it's not clear whether or not we should have the reindex action available in the admin ui.

[2016-02-23 21:23] iw0der commented on #3510
@mazhalai Magento 2.0.2 CE

[2016-02-23 23:59] Grumag commented on #3417
Is this is a know issue?

[2016-02-24 00:16] dsikkema-magento commented on #2461
Just to be sure... _ping_.
This is a problem we definitely want to solve if someone is still able to reproduce it, so I just thought I'd give it one more shout here.

[2016-02-24 00:40] aoldoni commented on #3333
Can confirm this bug in "2.0.0".

[2016-02-24 01:43] tungmpo commented on #3501
Hi,
Thank you for your help.
When status pending  change to completed . products ordered also don't
shown in report.

Regards

On Tue, Feb 23, 2016 at 9:09 PM, Roman Ganin notifications@github.com
wrote:

[2016-02-24 03:28] luc-anise opened #3521 "Backend javascript not working"
So I just installed magenta and ran the deploy command. I've been having problems with permissions but I believe I have them all sorted out. What's really weird is that all the files are intact there and the permissions are 100% right as far as I can tell. This is a bit of a problem because I'm unable to use most of the buttons (basically every thing that isn't navigation) to save categories, prod

[2016-02-24 03:31] luc-anise commented on #3521
This seems have to fixed it's self. Perhaps I didn't wait long enough after running the deploy command. any insight? would still like to help anyone who comes across this post! All so is there no nav if you don't have the sample data or where is mine?? ([shop.studioanise.com](http://shop.studioanise.com))

[2016-02-24 08:17] antboiko commented on #2737
Hi @bossbom, could you please give us an update on this?

Thanks,
Anton.

[2016-02-24 08:22] anjenehm opened #3522 "Mage2 cache_dir"
@mazhalai so now you see that this error displays on a mage2 setup!
![image](https://cloud.githubusercontent.com/assets/7089704/13279424/067a5f9e-dad8-11e5-9995-fe2db9f99357.png)

[2016-02-24 09:11] atishgoswami commented on #3333
I experienced this bug in "2.0.2" CE

[2016-02-24 09:19] shashidharg opened #3523 "Magento EE 2.0.2 admin gets into infinite loop."
Hello,

I installed Magento EE 2.0.2 version on my windows desktop, this one was with sample data. The setup went on fine and the home page and other non admin pages are loading fine. But my admin page goes into infinite loop.
My setup is with a virtual host entry http://mage2ee:8585/.

I have tried with Chrome and IE but with no luck, can someone please help me out here?

Note: Port 80 is not fre

[2016-02-24 09:47] algostore opened #3524 "Configurable product in order via /rest/V1/orders/:id showing wrong product type"
Magento 2.0.1 + sample data.

Returned:
 {"base_currency_code":"EUR","base_discount_amount":0,"base_grand_total":32.05,"base_discount_tax_compensation_amount":0,"base_discount_tax_compensation_invoiced":null,"base_discount_tax_compensation_refunded":null,"base_shipping_amount":15,"base_shipping_discount_amount":0,"base_shipping_discount_tax_compensation_amnt":null,"base_shipping_incl_tax":15,"base

[2016-02-24 10:11] algostore opened #3525 "Via Rest API cannot create another product with same name"
Magento 2.0.1 + sample data.

/rest/V1/products/478

Data, what I have used to create product
{
    "product":{
        "sku": "478",
        "typeId":"simple",
        "attributeSetId":"4",
        "name":"Test 123456",
        "price":"125.00"
    }
 }

If Product with same name is exist, then during the this API call you will get an error.

{
  "message": "Unable to save product",
  "trace": "#

[2016-02-24 10:22] algostore opened #3526 "Adding images via REST API gives error "Property \"EntryId\" does not have corresponding setter in class"
Magento 2.0.1 + sample data

PUT rest/V1/products/test4/media/2

Data used:
{
    "entry":{
       "entryId":"2",
        "media_type": "image",
        "label": "Test",
        "position": 1,
        "disabled": false,
        "types": ["image"],
        "content":{
            "base64_encoded_data":"/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KC

[2016-02-24 10:38] neran commented on #2932
Same here with REST API, "cannot save product", with an image, either with
POST /V1/products/{sku}/media
and
POST /V1/products

[2016-02-24 10:48] anjenehm commented on #3522
I cant add a product or something else

just blank areas

![image](https://cloud.githubusercontent.com/assets/7089704/13283110/81853538-daec-11e5-9639-f86f09cc64c9.png)

[2016-02-24 11:33] jahved opened #3527 "Stock\StatusFactory does not exist"
I have just install the Magento2 version
On the CMS Homepage I am try to search from simple product and i am getting
Class Magento\CatalogInventory\Model\ResourceModel\Stock\StatusFactory does not exist

Can anyone please advise how to resolve this issue.

[2016-02-24 11:46] snowwhite686 opened #3528 "Numeric value is expected."
i deleted the var cache/ \*
 var/view_preprocessed/*
 var/generation/*
pub/static/ \*

As i cannot see any template changes,i did a static-content:deploy and it says success.

But the website is showing now like

Numeric value is expected.
#0 E:\xampp\htdocs\magstore\vendor\magento\framework\Data\Argument\Interpreter\Composite.php(61): Magento\Framework\Data\Argument\Interpreter\Number->evaluate(A

[2016-02-24 12:51] keyurshah070 commented on #772
Is there any updates on this issue ?

[2016-02-24 13:20] tkn98 opened #3529 "Database port missing in Magento\TestFramework\Db\Mysql"
The methods:
1. `Magento\TestFramework\Db\Mysql::storeDbDump()`
2. `Magento\TestFramework\Db\Mysql::restoreFromDbDump()`

(and perhaps others) are creating mysql / mysqldump commands to be invoked via shell. They make use of the `--host` command-line switch without adressing a potential (optional) port configuration (`--port=#`).

The configuration format is:

[code]

As the configuration data is

[2016-02-24 13:33] ishakhsuvarov commented on #3392
@PVoIWD Multi-page checkout is not available in Magento 2, only available options are Onepage Checkout and Multiple Address Checkout.

[2016-02-24 13:38] nFed opened #3530 "Wrong display on Magento 2 site"
Hello,

After installing magento 2 on linux server - i get wrong display:
http://nbg.co.il/
![ghhgfshfs](https://cloud.githubusercontent.com/assets/4190176/13286844/8b196d06-db0c-11e5-92b3-35ad45fe2858.JPG)

php 5.5.30
apache version 2.4.16
linux

Thanks.

[2016-02-24 13:46] ishakhsuvarov commented on #3452
@hankzhh This issue is already fixed in the `develop` branch. Fix will be delivered in the scope of the next release, meanwhile you may use [commit](https://github.com/magento/magento2/commit/c07b2023928685ef87fff914f5cdf4941b52f2d2) `c07b2023928685ef87fff914f5cdf4941b52f2d2` as a hotfix.

[2016-02-24 14:12] almarchenko commented on #2633
Thank you @lgarridoj
Currently the sample is up to date.
Please close the issue if it is ok with you.

[2016-02-24 14:17] mazhalai commented on #3523
@shashidharg please do not post EE related issues here, this is for CE issues only. Please report it via partner portal.

[2016-02-24 14:17] #3523 closed, assigned to nobody

[2016-02-24 14:20] katesuykovskaya opened #3531 "Quote item in checkout_cart_product_add_after contains incorrect values"
I've created observer for event `checkout_cart_product_add_after` to set custom price for quote item. But `$observer->getEvent()->getData('quote_item')` shows me old data, for ex. - I have product with base price=100$, and tier price (qty>=2) = 50$. When I add product to cart in the first time, quote price = 0, in the 2nd time - 100$ (but should be 50$), in the 3rd time - 50$.
My events.xml
`<conf

[2016-02-24 14:30] mazhalai commented on #772
@keyurshah070 please avoid posting on closed issues. Start a new one.

[2016-02-24 14:36] kgvconsulting opened #3532 "issue is existing user login at checkout produce error - "Provided form does not exist""
New Magento 2.0.2 install, creating user works fine from main / home page and link, however if the existing user add product to cart and attempt log in to their account upon checkout does not work report error: "Provided form does not exist", see attached screen shots.
<img width="795" alt="capture" src="https://cloud.githubusercontent.com/assets/11282348/13288483/1dfc7f1a-dada-11e5-847a-fd9801f77

[2016-02-24 14:41] mazhalai commented on #2696
This issue has been fixed in the develop branch. Closing ticket.

[2016-02-24 14:41] #2696 closed, assigned to mazhalai

[2016-02-24 14:42] mazhalai commented on #3216
This issue has been fixed in the develop branch. Closing ticket. Please open a new one if issues persist.

[2016-02-24 14:42] #3216 closed, assigned to nobody

[2016-02-24 15:16] mazhalai commented on #3530
Please run `bin/magento setup:static-content:deploy` also make sure mod_rewrite is turned on.

[2016-02-24 15:18] mazhalai commented on #3514
@flipflap are there any browser errors? What server are you on?

[2016-02-24 15:20] mazhalai commented on #3522
@anjenehm is this still on Gentoo? We have not tested on all flavors of linux, officially only Centos and Ubuntu are supported.

[2016-02-24 15:34] markoshust commented on #2592
This is a pretty big UI issue for anything adding/editing crossell/upsell/related items. Need an `e.preventDefault

[2016-02-24 15:34] markshust commented on #2592
This is a pretty big UI issue for anything adding/editing crossell/upsell/related items. Need an `e.preventDefault` added someplace -- should be an easy fix

[2016-02-24 15:39] cscd98 commented on #1205
@mazhalai @vpelipenko

From the link provided:

[code]

Could we look to add whole punching in the future?

[2016-02-24 15:50] syno-dlr opened #3533 "Bug in PHPUnit test (null should be array)"
Hello all,

I just launched the standard PHPUnit test (without the dev:tests:run command) :

`php <magentodir>/vendor/phpunit/phpunit/phpunit --debug`

I am in `<magentodir>/dev/tests/unit` directory.

There is a fatal error on `Magento\DownloadableImportExport\Model\Import\Product\Type\Downloadable` file. On function `fillDataLink`, there is a `fillExistOptions` call where `$existingOptions` is n

[2016-02-24 16:15] romeof1980 commented on #2561
We got in the same issue after running  `php magento deploy:mode:set production`
We can see:
Static deployment complete
Start compilation
Command returned non-zero exit code:
'php -f /home/mysite/public_html/bin/magento setup:di:complete-multi-tenant 2>&1'

Curiously, if we run `php magento setup:di:complete-multi-tenant` or `php magento setup:di:complete-multi-tenant 2>&1`  no errors show up.
Fur

[2016-02-24 16:23] Grohotun opened #3534 "Error with loading order via loadByIncrementId"
\Magento\Sales\Model\OrderFactory $orderFactory

$order = $this->_orderFactory->create()->loadByIncrementId(000000013)

echo $order->getId();

returns 11 (but not 13)

But in sales_order - all is good.

If echo  $order->getPayment()->getMethodInstance()->getCode()    - result is 'substitution' - method, which was never used.

![2016-02-24 19 22 26](https://cloud.githubusercontent.com/assets/115910

[2016-02-24 16:34] anjenehm commented on #3522
@mazhalai yes still on gentoo

[2016-02-24 16:41] quienti opened #3535 "Print pdf don't delete file in var folder"
Magento 2.0.2

If we print a pdf in `Shipment` :
![sans titre 1](https://cloud.githubusercontent.com/assets/7326954/13292499/41a99fdc-db1c-11e5-9e38-1ac0a7bc23db.jpg)

We generate the file in folder `var` :
![sans titre 2](https://cloud.githubusercontent.com/assets/7326954/13292498/41a663b2-db1c-11e5-804e-761a78179a4a.jpg)

But, this file is never delete !

If we look in this file :
`https://githu

[2016-02-24 17:26] eddielau commented on #2672
@markoshust
- Schedule for 'default' Cron group is generated once per 15 minutes while schedule for 'index' Cron group is generated every minute. Is it possible that your task is scheduled to run too soon?
- Cron is currently using 'generic' cache for scheduling, which cannot be disabled. This issue will be investigated in the scope of MAGETWO-48243. Update: generic cache would be the appropriate

[2016-02-24 18:53] iw0der opened #3536 "Customer export don't work well (Export only a few records, 20 to be exact, ID from 2 to 21)"
Hi,
I finished loading about 500 customers and then try to export but the exported file stops on the 21° row!

![customersexport](https://cloud.githubusercontent.com/assets/16407046/13296546/56cd50b8-db2e-11e5-83c8-0e704b2878e6.JPG)

The file contains only the header with field names and 20 customers with ID from 2 to 21; while I was expecting to find 445 :-(

I also tried to change the number of

[2016-02-24 19:51] anjenehm commented on #3530
Try also to set the rewrite_base in your .htaccess

[2016-02-24 19:57] wojtekn opened #3537 "Message returned by static integrity composer test is confusing"
I created module using "vendor/foobar" name in `composer.json` and used Vendor_FooBar namespace. The I run static tests and I get following error:

[code]

This error message is confusing because it says it expects package name I already used. As far as I understand it should say following:

[code]

If my assumption is correct, value of `$this->convertModuleToPackageName($moduleName)` should be us

[2016-02-24 20:19] ghost opened #3538 "Javascript minimizing"
There is a bug with the minimizing of Javascript in production mode.
When the option of minimizing javascript is enabled, Magento 2 will automatically search for the .min.js files. However those files aren't generated when the option is enabled.
For this reason the administrator isn't able to change the option back to disabled.

Solution to this problem is to acces the database table core_config_d

[2016-02-24 22:20] okorshenko commented on #2598
@adragus-inviqa thank you for reporting the issue.
In Magento application we are not using composite FK and do not support composite FK in interfaces.

[2016-02-24 22:24] cspruiell commented on #2892
This issue has been resolved. Thanks!

[2016-02-24 22:24] #2892 closed, assigned to okorshenko

[2016-02-24 22:52] anjenehm commented on #3522
![image](https://cloud.githubusercontent.com/assets/7089704/13303812/ada6536c-db51-11e5-9ae7-65d53217c9bd.png)

[2016-02-24 23:29] okorshenko commented on #2665
@dfediuk , MAGETWO-46678 has been merged to mainline. Thank you for reporting the issue.

[2016-02-24 23:29] #2665 closed, assigned to okorshenko

[2016-02-25 01:44] kgvconsulting commented on #3532
The issue was turned On CAPTCHA, as soon I turned OFF all problems with existing user checkout login disappeared. Everything start to work just fine. So do not turn CAPTCHA for customers ON, not for guest checkout or otherwise.

[2016-02-25 01:44] #3532 closed, assigned to nobody

[2016-02-25 01:44] #3464 closed, assigned to nobody

[2016-02-25 02:22] PkayJava opened #3539 "Magento2 - Soap Data Reference API"
Is there any soap api to get a list of country, gender and other data references ?

[2016-02-25 03:21] woei66 opened #3540 "What's the right step to update magento2 source code"
My magento2 source code is coming from git clone
and below are my steps to update Magento2 source code on production.
Can anyone help to check these steps are correct?
Thank you.

1) git pull
2) composer update
3) php bin/magento setup:upgrade
4) php bin/magento setup:static-content:deploy
5) chown -R nginx:nginx *

[2016-02-25 03:25] woei66 opened #3541 "Recoverable Error: Argument 1 passed to iterator_to_array() on AbstractBlock.php"
The admin back-end can't be accessed with below error message
I have no idea about this problem.
Does anyone can share your suggestion about this problem?
Thank you.

`Recoverable Error: Argument 1 passed to iterator_to_array() must implement interface Traversable, null given, called in /usr/share/nginx/magento2/lib/internal/Magento/Framework/View/Element/AbstractBlock.php on line 657 and defined

[2016-02-25 04:55] shashidharg commented on #3523
@mazhalai, did not realize it. Thanks :)

[2016-02-25 05:30] dsikkema-magento commented on #2984
We have made some changes which should resolve this for now, can you guys confirm it works as expected on PHP7?

[2016-02-25 06:34] straltest commented on #2882
I have same problem in windows.To solve what I did is disallow /app/etc/config.php access.You have to create  .htaccess and add following code into it.

Order deny,allow
Deny from all
RewriteRule ^(.*)config.php$ - [F,L]

[2016-02-25 06:58] ghost commented on #2531
no it didn't worked for me

[2016-02-25 07:22] YugiHoang commented on #2816
in my case i just need to enable module-theme-sample-data module, open file **app/etc/config.php** you add this line
        `'Magento_ThemeSampleData' => 1,`

[2016-02-25 07:59] usmanmaqsoodshahab commented on #2556
Create a new file with "**.bat**" extension

# Copy all code below in paste it into newly created **.bat** file.

`@echo off`
`REM -----`
`REM Created By Usman Shahab`
`REM Cron job in WAMP`
`php -c C:\wamp\bin\apache\apache2.4.9\bin\php.ini  C:/wamp/www/magento2/bin/magento setup:static-content:deploy`
`php -c C:\wamp\bin\apache\apache2.4.9\bin\php.ini  C:/wamp/www/magento2/bin/magento indexer:re

[2016-02-25 08:20] ishakhsuvarov commented on #3374
@lilmuckers We have tried, but could not reproduce the issue you described. Is it possible to achieve same result using any of the stock online payment methods?

[2016-02-25 08:47] anjenehm commented on #3522
@mazhalai you told me in the old ticket https://github.com/magento/magento2/issues/3424 when i set in setup/src/Magento/Setup/Validator/DbValidator.php after the query "checkDatabasePrivileges" to return true, that magento wouldnt be fully functional. What did that mean?

a other mysterious thing is that the backend url is www.mydomain.com/admin/admin/dashboard/index/key/

[2016-02-25 09:01] Widmayer commented on #3525
Hi,
stumbled upon the same issue...
You have to specify the url_key in the payload:
{
  "product": {
    "sku": "12345678",
    "name": "Name",
    "attributeSetId": 11,
    "price": 1234.56,
    "weight": 1,
    "visibility": 4,
    "typeId": "simple",
    "status": 1,
  "custom_attributes": [
    {
      "attribute_code": "url_key",
      "value": "12345678"
    },
    {
      "attribute_code":

[2016-02-25 09:07] tdgroot opened #3542 "Icons in Magento UI Library"
I'd like to play around a bit with the Magento UI Library. It's really nice!

Not sure if this is a bug report, or if I'm missing something, but I can't really get the icons working. I've checked if it works for other webshops, but I didn't find any other webshop which had the icons working.

Here's an example of a dropdown:

![image](https://cloud.githubusercontent.com/assets/1165302/13314838/853

[2016-02-25 09:15] cscd98 commented on #2984
@dsikkema I can't as I'm using your composer release 2.0.2 at the moment. Could you point out the commit and I could try that however?

[2016-02-25 09:22] Widmayer commented on #2932
try to add the file-extension to the name (.jpg)
For me it worked with following payload and REST-API at 'http://0.0.0.0/index.php/rest/default/V1/products/24-MB01/media':
{
  "entry": {
    "mediaType": "image",
    "label": "Testbild",
    "position": 1,
    "disabled": false,
    "types": [
      "thumbnail"
    ],
    "content": {
      "base64EncodedData": "...base64...",
      "type": "image

[2016-02-25 09:44] Widmayer opened #3543 "Update category attribute isActive fails with REST, "URL key for specified store already exists.""
I added a category with the following REST-call:

curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'Authorization: Bearer abcd' -d '{
  "category": {
    "parentId": 2,
    "name": "TestCategory",
    "isActive": false
  }
}' 'http://0.0.0.0/index.php/rest/default/V1/categories'

When I try to update the attribute "isActive" to true with the same

[2016-02-25 09:45] andrew-smart opened #3544 "bin/magento module:uninstall never completes"
I've tested this on a fresh 2.0.2 installation.

I installed a sample module of mine using composer and then afterwards ran bin/magento module:uninstall Smartie_SampleModule

This is the output;

[code]

This is where it gets stuck. The module **is** removed from the composer.json file but it never gets removed from the vendor dir.

[2016-02-25 10:05] alena-marchenko commented on #3305
The issue is already resolved and delivered to develop branch.

[2016-02-25 10:05] #3305 closed, assigned to nobody

[2016-02-25 10:18] alena-marchenko commented on #2904
Hi,

We've created MAGETWO-49139 internal ticket regarding this issue

[2016-02-25 10:21] woei66 commented on #3541
The problem is interesting.
I used below to change the language from zh_Hant_TW to en_US
php bin/magento setup:store-config:set --language=en_US
and the problem is solved.

I traced the code lib/internal/Magento/Framework/View/Element/Html/Calendar.php
$localeData = (new DataBundle())->get($this->_localeResolver->getLocale());
If the language is zh_Hant_TW , I got a empty DataBundle object
If I ch

[2016-02-25 10:23] akshayjindallab commented on #1299
Hi,

@tbondois: Have you checked that you are running the command prompt as an administrator.

[2016-02-25 10:34] mitul69 commented on #1299
Yes i have logged in with the root user in terminal

On Thursday 25 February 2016, Akshay Jindal <notifications@github.com>
wrote:

--
*Regards, *

*Mitul Patelpatelmit69@gmail.com <patelmit69@gmail.com>9724757428*

[2016-02-25 10:34] alena-marchenko commented on #3331
We delivered fix for issue with PHP 7 and payment methods to develop branch.
Please verify that the issue is resolved.

[2016-02-25 10:34] #3331 closed, assigned to alena-marchenko

[2016-02-25 10:43] alena-marchenko commented on #3369
Hi,

The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forum](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the programming questions forum is likely the most appropriate. Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2016-02-25 10:43] #3369 closed, assigned to alena-marchenko

[2016-02-25 10:57] alena-marchenko commented on #3509
Hi,

When you are using PayPal Payments Pro or Payflow Pro solution first request sent to PayPal intended for account verification. Account verification, also known as zero-amount authorizations, are used for verifying the validity of customer credit card information. You can find more information at [PayPal documentation](https://developer.paypal.com/webapps/developer/docs/classic/payflow/integra

[2016-02-25 11:12] kristjan-h commented on #2984
@craigcarnell it's probably this one: https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6

[2016-02-25 11:46] joebusby commented on #3509
Okay,  but my business will not work if I never capture any transactions
and people see there transaction as "declined".  So why am I submitting
only verification transactions?  If I had Magento 2 set for this, you
would think PayPal express payments would also be zero.  Is there a
setting somewhere I am missing?  I have never seen these "verification" transactions in my account until using Magent

[2016-02-25 11:47] antboiko commented on #3194
Hi @pivulic , thanks for reporting this. Internal ticket MAGETWO-49769 was created.

Best regards,
Anton.

[2016-02-25 12:09] neran commented on #2932
Thank you, that worked.
The Magento2 API docs are horrible. No examples or accepted formats anywhere.
Even error messages are blurred.

[2016-02-25 12:26] Widmayer commented on #2932
Glad it helped!

[2016-02-25 12:29] algostore commented on #3525
It's sort of working. Because when you do same within backend it's not necessary to define url_key, and you can save 100 products with same name without paying attention to url.

Question to: **Magento2 development team**. Is it final way(REST API) of saving products, so I should always define url_key  (curious how I know if that url is already in use, if I need import 50K of product via API), or

[2016-02-25 12:34] Widmayer commented on #3525
For me it is just a workaround, too...
My url_key contains the sku so there will be no match with another one as the sku is unique.
But I would also expect that the API tries to put a number to the url_key if it already exiists.

[2016-02-25 12:49] endergreen opened #3545 "Default value for non required Drop Down product attribute"
When creating a new Drop Down Product attribute that is not required, the first option added has the "Is Default" radio button selected.  If the attribute is set to not be required, the radio button shouldn't automatically be set for any option either when first creating the attribute or later when coming back to edit it.

The attribute is being used in an attribute set where the particular attrib

[2016-02-25 13:23] joebusby commented on #3509
Another conversation with PayPal support, and they think the issue I am having may be related to the DNS resolution and network configuration.  I will update after this is explored.

[2016-02-25 13:43] rhoerr commented on #2984
I applied the fix manually; can confirm it fixes the problem for me.

[2016-02-25 13:53] ingmarnet commented on #3354
Same problem here

[2016-02-25 14:35] victor-v-rad commented on #2809
Hi @chrissm79

I have just migrated 1.7.0.2 (without any extensions) to Magento 2.0.2 and everything is ok  Product/order/customer grids shows its data in Admin Panel of Magento 2.
I assume you have some extensions that changed your DB in Magento 1 in the way that migration did not pass correctly. There are more causes could be. For example:
1. You may used develop branch of Magento 2 which is not

[2016-02-25 14:59] algostore opened #3547 "GET /V1/categories/:categoryId/products doesn't work"
Magento 2.0.1 + sample data:
I've tried to get list of products in category
Gear (ID: 3) 46 records found

Making a call http://xxxx.hypernode.io/rest/V1/categories/3/products/

Output: []

Does it mean, nothing is connected? what should be correct respond?

Thanks in advance

[2016-02-25 15:19] joebusby commented on #3509
I went back to Paypal and they again stated that the transaction amount is working with paypal express but my Magento 2.0 server is sending Zero for the amount.    PayPal can do nothing to fix this, so the problem is a Bug.  Please re-open this.

Here is the incoming transaction for Paypal from my server:

user
paypal_gateway_api1.paypal.com
subject
PJSARGEAXMSVU
seller_acct_num
134567890123456
co

[2016-02-25 15:23] rganin commented on #3538
This is not a bug, switching to production mode presumes that all static assets are pre-deployed `php -f bin/magento setup:static-content:deploy` command that deploys static files to pub/ directories and minifies or merges them regarding config settings. You can use `php -f bin/magento deploy:mode:set production` command to switch modes, it includes static deployment process.

[2016-02-25 15:34] rganin commented on #3530
Ensure that:
- you have mod_rewrite enabled
- access rights to pub/\* directory are correctly set and httpd thread has access (selinux can make some troubles as well)
- you are running in non-production mode ("developer" or "default"). For production mode static content should be pre-deployed with `php -f bin/magento setup:static-content:deploy`

[2016-02-25 15:43] mazhalai commented on #3540
Git clone is not recommended for production, it is only for contributing developers. See [this](http://devdocs.magento.com/guides/v2.0/install-gde/continue.html)

[2016-02-25 15:47] rganin commented on #3527
This is an autogenerated class. Please ensure that your http thread has access to `var/generation` directory, or set rights with `chown -R apache:apache var/* pub/*` (or whatever user/group you have for httpd instead of 'apache').
For production mode it should be pre-compiled with `php -f bin/magento setup:di:compile` command.

[2016-02-25 15:55] katmoon commented on #3545
Hi,

Thank you for reporting the issue.
Internal ticket `MAGETWO-49780` is created for this issue.

In your case I think it's possible to add a new option 'None' and set it as default. Will it work for you?

Thanks,
Kateryna.

[2016-02-25 15:58] RebeccaBrocton opened #3548 "Create Product Configurations - Step 3: "drag image here" adds to all attribute variations"
Configurable Product Information Admin Page > Create Configurations > Step 3: Bulk Images, Price, and Quantity > Images > Apply unique images by attribute to each SKU >  Select attribute >  "...drag image here" adds the image to all attribute variations, not just the one it was dragged on to.

Watch issue here: http://rebeccatroth.co.uk/wp-content/uploads/2016/02/configurationsbug2.gif

[2016-02-25 16:30] antboiko commented on #3548
Hi @RebeccaLTroth , the image link doesn't work.

Could you please reattach it?

Thanks,
Anton.

[2016-02-25 16:33] RebeccaBrocton commented on #3548
Hi @antboiko, fixed :)

http://rebeccatroth.co.uk/wp-content/uploads/2016/02/configurationsbug2.gif

[2016-02-25 16:43] mazhalai commented on #2531
Please avoid posting on closed issues, create a new one.

[2016-02-25 16:49] mazhalai commented on #3522
If you have a db user without the required permissions, how can you expect all db functions to work?

What is mysterious about the backend url?

[2016-02-25 16:49] mazhalai commented on #3544
How long did you wait @andrew-smart?

[2016-02-25 16:51] ifekaj commented on #2984
This solved my issue mentioned in https://github.com/magento/magento2/issues/2878

[2016-02-25 16:54] mazhalai commented on #1299
@mitul69 @akshayjindallab @0x1ad2 please avoid commenting on closed issues. Please create a new one.

[2016-02-25 16:58] joebusby commented on #3509
I set the default URLs in magento (mydomain.com)to match the DNS entry for the site and the problem still exists.   When i go to http://mydomain.com  the site is resolved from anywhere.  It does not appear at this point to be DNS related, and that it works just fine with paypal express indicates that the problem is not a DNS problem.

[2016-02-25 17:02] joebusby commented on #3509
More info:

The site has been upgraded twice starting at 2.0.0, (now 2.0.2) the second time from the command line since the web mechanism would not work properly after one upgrade.

The sample data was loaded (mostly removed now) initially.

Not sure if that helps any. . .

[2016-02-25 17:04] sevos1984 commented on #3483
Internal ticket MAGETWO-49792

[2016-02-25 17:05] sevos1984 commented on #3511
Not reproducible, need more detailed steps

[2016-02-25 17:37] tang-yu commented on #3160
Here is the commit: https://github.com/magento/magento2/commit/bf90e0b955689acd1c31441873aaa802fe4b35ed

Sorry for the delayed reply.

[2016-02-25 17:37] #3160 closed, assigned to tang-yu

[2016-02-25 20:00] anjenehm commented on #3522
Sure.... Maybe i should take a look for a new hoster

The url should be like domain.com/admin/dashboard and not doubled /admin/admin, or not?

[2016-02-25 20:09] luc-anise opened #3549 "Magento 2 backorder"
Is there a way to enable back order on products in magento 2? I've been trying to find a setting with out any luck. Thanks!

[2016-02-25 20:49] ghost commented on #3386
I'm having this problem as well - What I found is that the attribute positions depend on their ID.

Lets say you create a Size attribute and then create a Color attribute. On the front end, you would want Color positioned on top of Size, however that's not the case. If you create another size attribute (just call the attribute_code something different than what the original size attribute was call

[2016-02-25 20:50] maksek commented on #3549
Hi @z6tanker, Github is for reporting issues and PR only. All questions related to functionality can be found in forum. https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2

[2016-02-25 20:50] #3549 closed, assigned to nobody

[2016-02-25 20:55] maksek commented on #3540
Hi @woei66, GitHub issues only for bugs or issues with system. All questions or "how to" you may ask in Magento forum. https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2

[2016-02-25 20:55] #3540 closed, assigned to nobody

[2016-02-25 20:56] maksek commented on #3539
Hi @PkayJava, please use forum for questions https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2. GitHub only for reporting issues and PR.

[2016-02-25 20:56] #3539 closed, assigned to nobody

[2016-02-25 21:03] maksek commented on #3521
Hi @z6tanker, GitHub for issue reporting and PR publication. Seems like you do not have issue, and website works as expected. For particular questions please use Magento forum. https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2

[2016-02-25 21:03] #3521 closed, assigned to nobody

[2016-02-25 21:17] tang-yu commented on #3406
Thanks for submitting this bug. We have created internal ticket MAGETWO-49805 to track this issue.

[2016-02-25 21:30] Zatara7 commented on #3471
Bug cannot be reproduced: https://gfycat.com/UnnaturalBaggyAmethystgemclam
I believe was fixed by internal issue MAGETWO-46846
Please close

[2016-02-25 21:51] nFed commented on #3530
Thank you all

[2016-02-25 22:06] daim2k5 commented on #2077
@zoneradx can you provide more informations?

[2016-02-26 00:44] dsikkema-magento commented on #2412
@miguelbalparda @robfico @CalamityJames (and anyone else) can you share the file owners and groups that you're using, and/or you think are ideal to use, and/or you are forced to use because of shared host settings? If that's a pretty open-ended question, it's because I've heard a lot about permissions here, and I want to get a better sense of where people stand with regard to the owner/groups.

I'

[2016-02-26 01:33] woei66 commented on #3540
ok, thanks

[2016-02-26 01:58] endergreen commented on #3545
It is something we had talked about when finding this issue but it is causing additional work arounds that we have to do that we wouldn't if no value was there.

[2016-02-26 02:51] davidalger commented on #2927
@bhargavmehta I think you are going to need to elaborate on what you are looking for here. I'm not sure what you're asking for. :) There is a .gitignore file in the root of the develop branch already, and there is also a default one created in your project directory when using composer create-project to setup a new build. composer.lock is not ignored though because it _should_ be committed.

[2016-02-26 03:23] #3541 closed, assigned to nobody

[2016-02-26 03:35] SunshineTech opened #3551 "A is NULL, and B is NULL, then A equals with B? No!"
https://github.com/magento/magento2/pull/3365

[2016-02-26 05:22] astorm commented on #2412
This ship may have sailed, but is there a strong compelling reason that Magento's trying to manage file permissions at the application level at all?  For the past -- 15 years? -- most successful PHP/Unix based CMS/Ecommerce/CRM/Software application take a hands off approach to permissions.  i.e. there's no code that attempts to set or correct file permissions (except maybe to set a default umask),

[2016-02-26 05:33] bhargavmehta commented on #2927
I saw the gitignore. But if I do composer update then my composer.lock will change and hence if we can ignore that it will help in updating the project from develop branch directly.

Thank you

[2016-02-26 07:22] ajay-mehta opened #3552 "Consumer Order Rest API"
We are using the Magento 2 REST API. We are able to access the the orders using the admin token. But we are unable to access the orders using consumer.
Below is the API which I am using:
Get Orders : **/rest/V1/orders/items**  But I am getting the error that Consumer is not authorized to access %resources even I have passed the consumer key in my header.

Is the customer orders REST api is impleme

[2016-02-26 07:32] Marko-M commented on #2412
Everything @astorm wrote goes here...

[2016-02-26 07:59] zhaoxiong123 opened #3553 "Where is MAGETWO-36632 , i was not found , everyone , help me !!!!!"
Where is MAGETWO-36632 , i was not found , everyone , help  me !!!!!

[2016-02-26 08:22] ishakhsuvarov commented on #3531
@Katerina1993 Thank you for reporting the issue. We have created an internal ticket `MAGETWO-49809` to investigate.

[2016-02-26 08:25] johnhughes1984 commented on #2412
+1 @astorm don't overcomplicate where you don't need to

[2016-02-26 08:31] katmoon commented on #3322
The issue is fixed in the latest Magento version.
I'm closing the ticket. Please feel free to reopen if you have additional questions.

[2016-02-26 08:31] #3322 closed, assigned to nobody

[2016-02-26 08:41] anjenehm commented on #3522
@mazhalai can you tell me concretely what functions would not work?

[2016-02-26 09:41] sevos1984 commented on #3457
Internal ticket MAGETWO-49820

[2016-02-26 10:03] wclansar commented on #3327
Hello ,

I was getting same error during product attribute save ,

Then i just set right permission(writable) on  var/  and error was gone.

Thanks

[2016-02-26 10:06] devhn opened #3554 "Minicart and customer name issue"
Hi,

after upgrading to Magento 2.0.2. i see strange issues (theme Luma and Blank):
1. I logged into my account on frontend as a customer and added for example five items into the cart. Minicart shows there are five items inside. After logging out the minicart then shows 0 items inside but the red square (items counter) is visible (like it has some items inside). After logging to the account again

[2016-02-26 10:20] swieczorek commented on #2412
Everything @astorm wrote goes here as well ..

[2016-02-26 10:36] Nas1k commented on #3455
Hmm... bug fixed right now.. Some magic : )

[2016-02-26 10:36] #3455 closed, assigned to slavvka

[2016-02-26 10:38] sevos1984 commented on #3455
magento is magical sometimes )

[2016-02-26 10:43] Nas1k commented on #3456
[code]

my upgrade schema file.

[2016-02-26 10:47] ad1rie1 commented on #3493
ok, The magento used is downloaded from magento2 Website, not directly downloaded from git.My install is updated in 2.0.2.
I'm using the last version of chrome browser

[2016-02-26 10:51] ad1rie1 commented on #3239
I have overide default file layout in my theme :) and one change has happend in the update

[2016-02-26 10:51] #3239 closed, assigned to nobody

[2016-02-26 11:09] ishakhsuvarov commented on #3554
@bb8d Thank you for reporting these issues.

Fix for this issue is already available in the `develop` branch. You may use [commit](https://github.com/magento/magento2/commit/eec3cf17bc5deae71c83c797d1339de46cf6905f) `eec3cf1` as a hotfix.

Regarding other points, we had no luck reproducing it so far. Please try to clear browser's localStorage in addition to the caches you mentioned. Such kind of p

[2016-02-26 11:13] Vikram0811 commented on #1238
`<?php
/**
- Copyright © 2015 Magento. All rights reserved.
- See COPYING.txt for license details.
  */

namespace Namespace\Modulename\Setup;

use Magento\Customer\Model\Customer;
use Magento\Customer\Setup\CustomerSetup;
use Magento\Framework\Setup\UpgradeDataInterface;
use Magento\Framework\Setup\ModuleContextInterface;
use Magento\Framework\Setup\ModuleDataSetupInterface;
use Magento\Eav\Setup

[2016-02-26 11:28] sevos1984 commented on #3456
Internal ticket MAGETWO-49831

[2016-02-26 11:35] arkadiych commented on #3388
@helloeverything, could you give more details and some use cases how to reproduce this issue?

[2016-02-26 11:36] brideo commented on #2412
@astorm :+1:

[2016-02-26 11:50] toonvd commented on #2809
I have the same problem, my database was delivered to Gordon Knoppe.

[2016-02-26 12:01] NadiyaS commented on #3289
Hi @OleksiyOleksiyovych ,
What version did you use?
On latest Magento version custom option is changed correct.

[2016-02-26 12:09] NadiyaS commented on #3458
Hi @keyurshah070 ,
products are added to shopping cart correct on latest Magento version.
If you still have the same problem on latest version please provide more details to reproduce it.
Otherwise close this issue.

Thanks.

[2016-02-26 12:14] OleksiyOleksiyovych commented on #3289
Thank you for your replay.
I am using 2.0.2 version (commit 71dab8d8564c52aca5f11ad101ab5a6df5785df8)

[2016-02-26 13:04] victor-v-rad commented on #2809
@toonvd would great if you privately share the DB of Magento 1 with me and I run the migration and see the issue you faced. But before you must clean your DB from passwords (e.g. empty core_config_data, admin_user tables).

[2016-02-26 13:26] dkvashninbay commented on #3509
Hi,
Please review Paypal Transparent Redirect integration detail and requirements, described in this document:
https://www.paypalobjects.com/webstatic/en_US/developer/docs/pdf/paypal_transparent_redirect.pdf
p.6-8 - Transparent Redirect description,
p. 10-11 - Merchant account requirements.
- review that you have enabled Reference transactions in your account.

As i reviewed your incoming transact

[2016-02-26 13:32] antonkril commented on #1583
@pantaoran, @markoshust, since `ViewInterface` is not marked as @api, we do not recommend to use it anyway, so @deprecated was removed.

So for now, the recommended way is the one I provided.

As for `ActionInterface`, - it's an excellent question. On GA version, if you just implement it, you will lose all behavior from `\Magento\Framework\App\Action\Action` and other "super-abstracts".

But we ar

[2016-02-26 13:34] keyurshah070 commented on #3458
Hi @NadiyaS

Thank you for the response.

I have checked this issue on latest Magento2.2 version , But still it creats an issue. Please follow below step to reproduct this issue.
1. Login into your magento backend panel with your details.
2. Go to Sales > Orders
3. Click on Create New Order button
4. Select appropriate customer.
5. Click on Add Products and select appropriate product.
6. After add

[2016-02-26 14:10] siment commented on #2412
Agree with @astorm here.

[2016-02-26 14:21] mazhalai commented on #3522
Any db commands with the ones listed under [requiredPrivileges](https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Validator/DbValidator.php#L140)

Double admin shows up, since you selected admin as your backend-frontname, by default it is `admin_<some random string>` for e.g. `admin_1xx7xi`, then urls shows as `admin_1xx7xi/admin/`

[2016-02-26 14:22] miguelbalparda commented on #2412
+1 to @astorm comment. @dsikkema just like Alan said there is no combination of permissions and ownerships/groups that are suitable for everyone. Our proposed solution goes in conjunction with the explanation [here (Running As Your Local User (#2))](https://blog.nexcess.net/2010/12/06/securing-magento-file-directory-permissions/) but I still believe permissions should not be managed at an applicat

[2016-02-26 14:25] mazhalai commented on #3553
MAGETWO-36632 is an internal ticket, what exactly are you looking for?

[2016-02-26 14:27] mazhalai commented on #3530
@nFed you have indicated that your problem has been resolved. Closing this ticket. If you still have issues, please create a new ticket.

[2016-02-26 14:27] #3530 closed, assigned to nobody

[2016-02-26 14:31] devhn commented on #3554
Thank you, minicart square is now solved.

I've tried with your suggestions regarding the account issue but no luck, still cant get customer name to appear after logging. It appears only when i add an item to cart, go to checkout and then go back to store.

p.s. We have 4 installations on different subdomains but share the same parent domain.

[2016-02-26 14:51] adragus-inviqa commented on #2598
Thanks for the reply, @okorshenko.
But using it and having support for it shoud be different scenarios.
Can I ask why aren't you supporting it?

[2016-02-26 14:54] jsakars commented on #3545
@katmoon solution You proposed sounds more like workaround not a proper fix

[2016-02-26 15:01] ishakhsuvarov commented on #3554
@bb8d Do you use secure urls (https)? Any JavaScript errors in browser console?

[2016-02-26 15:03] devhn commented on #3554
http and no errors.

[2016-02-26 15:20] akaplya commented on #2598
we promote use of simple PK (with auto increment). because it has better performance & simple FK more useful to build object relational mapping for complex entities.

[2016-02-26 15:29] adragus-inviqa commented on #2598
Gotcha. Thanks for clearing that up.

[2016-02-26 15:29] #2598 closed, assigned to okorshenko

[2016-02-26 16:46] arkadiych commented on #3185
@LTC-fperrin, thank you for reporting this issue. Internal issue MAGETWO-39322

[2016-02-26 17:19] mikeweis commented on #3306
@thomasnordkvist Hmm, I could not recreate this on the very latest code branch.  However my bundle item options always give me the ability to check "user defined" ... in your screen shots, for the first two options, you don't show that ability.  Am I missing something?  Thanks.

[2016-02-26 17:22] justinb opened #3557 "Delete all categories at once in Magento 2"
We have been experimenting with syncing our existing database(not Magento) to Magento 2.0.

In the process we have created over 1000 categories, but then we rearranged all the IDs to sync with our system. The problem is that I can no longer import the new categories as I get the error "URL key for specified store already exists." and we are getting duplicate categories now.

I think the best solut

[2016-02-26 18:58] Totarenx opened #3558 "Uncaught ReferenceError: jQuery is not defined"
#1731

I'm trying to do the same using custom js and got it to work... sometimes. But sometimes jQuery library is loaded later than script that use it.

Template:

[code]

Myscript:

[code]

Sometimes I've got in console:
**Jquery is undefined!
Uncaught TypeError: Cannot read property 'fn' of undefined**

[2016-02-26 19:30] choukalos commented on #3552
I believe the two API's are /rest/V1/orders/:id to get the details one the customer's orders or /rest/V1/orders to get all the orders related to that customer.

If you want to build a quote object and submit that as a customer you should be using the /rest/V1/carts/mine/ series of APIs.

If you have further questions - please ask on our Forums.