[2018-06-27 13:33] magento-engcom-team commented on #16425
Hi @cappecar, here is your [Magento instance](https://i-16425-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16425-2-2-4.engcom.dev.magento.com/admin](https://i-16425-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-27 13:35] AndreKlang commented on #16427
@magento-engcom-team give me 2.2.4 instance

[2018-06-27 13:35] magento-engcom-team commented on #16427
Hi @AndreKlang. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-27 13:36] magento-engcom-team commented on #16427
Hi @AndreKlang, here is your [Magento instance](https://i-16427-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16427-2-2-4.engcom.dev.magento.com/admin](https://i-16427-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-27 13:38] JoshuaFlood commented on #3421
No worries I have just noticed all sorts of problems with the varnish server configuration. Will let you know if the problem persists once I've cleaned it up. Thanks!

[2018-06-27 13:52] AndreKlang commented on #16427
@magento-engcom-team I confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce. However, in somewhat reverse order since I only had access to one working domain. So I first set Admin URL to "https://i-16427-2-2-4.engcom.dev.magento.com/" and then set **base_url** to "https://i-16427-2-2-4-frontend.engcom.dev.magento.com/".

Also, I noticed that the t

[2018-06-27 14:09] cappecar commented on #16425
The problem is the same on the Magento 2.2.4 istance created.

[2018-06-27 14:14] etessari commented on #14733
Currently facing the same issue, I don't really understand the logic behind this snippet.

[2018-06-27 14:31] measureddesigns commented on #10485
Also still seeing this issue in 2.2.4 when creating promotion cart rules using GB user and site settings.

[2018-06-27 14:18:35] main.CRITICAL: Invalid input date format '27/06/+00201818' {"exception":"[object] (Exception(code: 0): Invalid input date format '27/06/+00201818' at /###/vendor/magento/framework/Stdlib/DateTime/Filter/Date.php:69)"} []

[2018-06-27 14:54] magejunkie commented on #12550
Facing the same issue in Magento 2.2.3.

[2018-06-27 15:56] kazajhodo commented on #11107
Worked for me as well. Seems trouble at every turn lately with Magento. Not fun.

[2018-06-27 16:13] dv-denda commented on #16415
@versdivers has fixed it on: https://github.com/magento/magento2/pull/16356/commits/6e2fc05e12fa04ece313d4055a78c380ea63c8e3

[2018-06-27 16:15] matin73 commented on #4828
I have same issue on magento 2.2.4 as @duffner said. after upgrading from 2.2.3 (where editor works) on 2 shops to magento 2.2.4 editor is broken if js is bundeled

[2018-06-27 16:23] vadimjustus commented on #12266
Hi @hostep, since this was an Magento Commerce project we were asked to open an issue inside the Magento Partner Portal... This end up in an own in-house solution (`TechDivision_IndexSuspender`). I'll figure out whether we could publish it open source - I'll keep you up to date...

[2018-06-27 16:40] robertkent opened #16434 "Bundle Product Options not showing in Customer Account - Items Ordered"
When ordering a bundle product (for instance the sample data provides the Yoga Kit) - the bundle options are not shown on the items ordered tab of the my account section.

Environment: Magento v2.2.2 with Sample Data (can't see a fix in other newer release notes)

### Steps to reproduce
1. Install Magento v2.2.2 with sample data
2. Create an account then purchase the Yoga Kit (Bundle Product) on i

[2018-06-27 16:40] magento-engcom-team commented on #16434
Hi @robertkent. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-27 16:55] sebastianamaro commented on #14287
Hi!

Any update on when this issue is going to be fixed?
I have the same problem on 2.1.3

[2018-06-27 18:30] hostep commented on #10605
@versdivers: the editors aren't working properly because some module will most likely have overwritten the default `<minify_exclude>` configuration of Magento which disables minifying for the tiny_mce editor js files, and overwriting that setting by another module will cause the editor to no longer work properly. You can read more about this issue over here: https://github.com/magento/magento2/iss

[2018-06-27 18:33] navarr commented on #15463
Hi, thanks for this report!

This is something we sort of missed when we moved from a standalone module to a bundled extension.

We have this in our backlog now and you should expect it fixed in Vertex Tax Links for Magento 2, v2.1.9 and above, which we plan to have included in Magento 2.2.6

[2018-06-27 18:36] hostep commented on #16129
@yyevgenii: if a package is re-uploaded and the hash changes it **should always** get a new version. The way this was handled right now is just bad management. Hope this won't happen anymore in the future...

[2018-06-27 18:46] hostep commented on #4828
@matin73: please try updating the Klarna modules to the latest version using composer, or just disable them if you don't use those, it should fix the problem in 2.2.4 (btw: it was caused by [a different bug](https://github.com/magento/magento2/issues/15638) in 2.2.4, not by the one which was discussed in this thread).

[2018-06-27 18:49] hostep commented on #15638
Updating the Klarna modules to the latest version using composer seems to fix the issue, at least I don't see any `<minify_exclude>` entries anymore in those modules, so I assume it should be fixed.

Can someone confirm, so we can close this issue?

[2018-06-27 19:06] EliasKotlyar commented on #12180
Hello hostep,

Indeed, i have used PHP7.0.8. I know its a bit outdated, but there should be at least a documentation hint. We are planning to update our project soon to PHP 7.2 as soon as M2.3 gets out.

Greatings
Elias

[2018-06-27 19:16] jissereitsma commented on #15192
I've bumped into the same issue with Magento 2.2.5 which was just released today. The issue is not fixed. However, the fix mentioned above does work for me.

[2018-06-27 19:38] navarr commented on #12180
@EliasKotlyar The issue mentioned does not appear to be present in the latest versions of Vertex.

You should be able to run `composer update vertex/module-tax` to get the latest version - or if you're not using it you can follow the instructions in the ticket you linked to remove it from your installation.

[2018-06-27 19:41] mariamghalleb opened #16436 "Products showing old images - Magento 2.2.4"
### Preconditions

1. Php 7
2. Magento 2.2.4

### Steps to reproduce

1. Create a simple product with image
2. Dublicate this product a couple of times
3. Go the new duplicated products, edit them and delete the images
4. Reindex and clear cache
5. Go to front end to check the products

### Expected result

1. The new products should not show images that have been already deleted.

### Actual resu

[2018-06-27 19:41] magento-engcom-team commented on #16436
Hi @mariamghalleb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-06-27 20:27] loganstellway commented on #15209
I am using the same setup and experience the issue during a `reindex`:

[2018-06-27 20:34] versdivers commented on #16415
@dv-denda thats not the whole solution.
https://github.com/magento/magento2/pull/16356#issuecomment-400204654
this is :D

[2018-06-27 20:38] loganstellway commented on #12124
Issue [15209](https://github.com/magento/magento2/issues/15209) reports the same error while creating a category with MySQL binary logging enabled.

If the source of the issue is the same, it may be a duplicate.

[2018-06-27 20:38] versdivers commented on #10605
@hostep I do believe that you can make the merging a scoped level setting.  I mean.. Both the merged and the normal files are getting generated anyways.  Just make them load the one or the other based on the scoped level... I do not want the adminhtml to be merged

[2018-06-27 20:54] rafaelstz commented on #12176
Just refreshing before to access the Promo Page works too.

[2018-06-27 21:05] mcyrulik commented on #8933
Same here - We receive that error if a product is saving when the index is running.

[2018-06-27 22:18] zetlen commented on #15827
I ran into this too! The types called "Input" in our schema are not implemented as actual GraphQL input types in the current build.

**Workaround**: Build the filter input shape inside the query, and use only primitives as variables.

[code]

with variables:

[code]

This is a real bug and not a style issue, because without an actual input type, the filter conditions are not actually configurable-

[2018-06-27 22:57] terenzeyuen commented on #5769
Still not working Magento 2.2

[2018-06-27 23:15] joshdavenport commented on #7231
Before proceeding here, I've actually discovered that the different results for me between LESS complied via grunt and "server side compilation" was eliminated by downgrading grunt-contrib-less from 1.4.1 (which is using less 2.7.1) to 0.12.0 (which is using less 1.7.2). I think @hostep may have discovered this (based on the comments in [their module](https://github.com/baldwin-agency/magento2-mod

[2018-06-28 05:33] pemann commented on #16388
Related to this #8614

[2018-06-28 05:35] pemann commented on #8614
Why was this closed? Is this fixed or forgotten? @magento-engcom-team

[2018-06-28 05:59] VZeroCool opened #16439 "Module Manager grid is not working Magento 2.2.5"
### Preconditions

1. PHP version: 7.1.16, Magento CE 2.2.5
2. Apache : 2.4.23

### Steps to reproduce

1.  Setup Magento CE 2.2.5
2.  Login to Admin Navigate to System > Tools > Web Setup Wizard
3.  Than Go to Module Manager

### Expected result

1. It should open and let me display all modules that are currently installed.

### Actual result

1.  URL encounters 404 http://some_Ip/mage2.2.5/setup

[2018-06-28 05:59] magento-engcom-team commented on #16439
Hi @VZeroCool. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-28 06:00] VZeroCool commented on #16439
@magento-engcom-team give me 2.2.5 instance

[2018-06-28 06:00] magento-engcom-team commented on #16439
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-06-28 06:01] magento-engcom-team commented on #16439
Hi @VZeroCool, here is your [Magento instance](https://i-16439-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16439-2-2-5.engcom.dev.magento.com/admin](https://i-16439-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-28 06:03] thomasprost commented on #14968
Hi, any reason why the fix is not in the new 2.2.5 release ?

[2018-06-28 06:05] DanielRuf commented on #14968
It should be in 2.2.5. Where did you check the files?

[2018-06-28 06:06] VZeroCool commented on #16439
@magento-engcom-team, Encounters new problem Can't able to navigate to
System > Tools > Web Setup Wizard

Its showing me Blank Page on vanilla Instance.

[2018-06-28 06:08] thomasprost commented on #14968
I updated magento via composer from 2.2.4 -> 2.2.5 but my vendor/magento folder doesn't have the update. Maybe I made a mistake, I'll double check

[2018-06-28 06:09] DanielRuf commented on #14968
Oh, seems so. The file was last changed in 2017

What happened here?

https://github.com/magento/magento2/blob/2.2.5/app/code/Magento/Email/Model/AbstractTemplate.php

[2018-06-28 06:10] thomasprost commented on #14968
That is what I has too. Weird

[2018-06-28 06:11] DanielRuf commented on #14968
@magento-engcom-team https://github.com/magento/magento2/pull/15137#issuecomment-389654283

@orlangur

[2018-06-28 06:14] DanielRuf commented on #14968
Was the wrong commit tagges for 2.2.5?

[2018-06-28 06:57] VZeroCool commented on #16439
@magento-engcom-team, I would like to work on this issue.  #mm18in

[2018-06-28 07:10] Juigeli commented on #15994
Still having this problem.

[2018-06-28 07:28] hostep commented on #10605
Ah, I wasn't aware of this, sorry, request sound reasonable then :)

[2018-06-28 07:29] robolmos commented on #15603
Why wasn't that line included in the 2.2.4 known issues update?

Also, I don't see a "Known Issues for Magento 2.2.5" collector, and AFAICT the release notes don't mention a fix or that it's still a known/open issue.

Thanks

[2018-06-28 07:31] hostep commented on #7231
@joshdavenport : please do so. This happend when upgrading from Magento 2.1 to 2.2, the nodejs dependencies got updated and now less 2.x is getting installed even though the PHP library to compile less is only compatible with less 1.x

I've reported this through some other channel a long time ago, can't remember when or how, but I failed at reporting it here on github. So please, go ahead and open

[2018-06-28 07:40] yyevgenii commented on #16129
@hostep the team responsible for this has found the process in a workflow which may cause issue like this one. they said that it'll be reworked and the issue shouldn't happen again.

[2018-06-28 07:41] dmanners commented on #14968
Hi @DanielRuf I will see what I can find out about this for you.

[2018-06-28 08:02] pixiemediaweb commented on #14968
Has anyone else had issues with the visible setting caching after patching?  We've patched a couple of sites and a client said today they cannot update a shipping method to 'off'.  I tried it and confirmed it remained on 'yes' but the db value was updating.  After flushing cache storage it is displaying correctly - but config settings in admin should not be cached.

[2018-06-28 08:03] EBotha1 commented on #11828
I have the same issue with Magento2 and RestAPI, please check [here](https://magento.stackexchange.com/questions/230813/magento-catalogproductattributeoptionmanagementv1-addoption-soap/230877#230877)

[2018-06-28 08:31] juandosil commented on #11740
Same issue here with Magento 2.2.4 with only one store

[2018-06-28 08:37] lbajsarowicz opened #16440 "Account registration form: Customer user attributes are not automatically refilled after error"
### Preconditions
1. PHP 7.1 with Magento 2.2.3
2. Additional Customer attribute added with following setup script:
[code]

### Steps to reproduce
1. Enter the `customer/account/create` form and fill the form, but having an error in one of the fields

### Expected result
1. After page reload I expect error message, but also all fields filled including the custom attribute

### Actual result

1. Af

[2018-06-28 08:37] magento-engcom-team commented on #16440
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-06-28 08:39] lbajsarowicz commented on #16440
@magento-engcom-team give me 2.2.3 instance

[2018-06-28 08:40] magento-engcom-team commented on #16440
Hi @lbajsarowicz. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-06-28 08:40] BenSpace48 commented on #3890
I'm running into a strange issue where sometimes the recently viewed block shows and other times it does not, this is in Magento `2.2.3`.

Where the block should show I'm seeing these tags:

![screen shot 2018-06-28 at 09 27 08](https://user-images.githubusercontent.com/8895777/42023036-ce58884e-7ab6-11e8-8ae5-228fd6491af5.png)

The block was added with this XML:

    <block class="Magento\Reports

[2018-06-28 08:40] magento-engcom-team commented on #16440
Hi @lbajsarowicz, here is your [Magento instance](https://i-16440-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-16440-2-2-3.engcom.dev.magento.com/admin](https://i-16440-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-28 08:45] lbajsarowicz commented on #16440
@magento-engcom-team  I cannot manage Customer attributes on provided Vanilla instance, so I'm unable to reproduce the issue on your test server.

[2018-06-28 08:46] dmanners commented on #14968
Hi @DanielRuf it looks like there was a miss-configuration with our bot and it had the wrong cut of date for changes to make it into the 2.2.5 release. Sorry for any inconvenience this has caused but your changes will be in the next release.

[2018-06-28 08:48] cleardarren commented on #11740
same issue with 2.2.5 multistore

[2018-06-28 08:52] lbajsarowicz opened #16442 "Customer Attribute set as visible & required per scope is not displayed as required in form"
### Preconditions
1. PHP 7.1 & Magento 2.2.3

### Steps to reproduce
1. Add new Customer attribute, set `visible` to 0, `required` to 0
2. In one of the scopes - set `visible` to 1, and required to 1.
   ![screenshot from 2018-06-28 10-54-53](https://user-images.githubusercontent.com/1639941/42024140-cbadd0a8-7ac1-11e8-8688-a62c94badbd3.png)

3. Go to Customer edit form

### Expected result
1. Fie

[2018-06-28 08:52] magento-engcom-team commented on #16442
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-06-28 08:54] topjx opened #16443 "[ERROR] PDOException: SQLSTATE[HY000]: General error: 1881 Operation not allowed when innodb_forced_recovery > 0"
[ERROR] PDOException: SQLSTATE[HY000]: General error: 1881 Operation not allowed when innodb_forced_recovery > 0. in /Applications/MAMP/htdocs/magentoce/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php:228
Stack trace:
#0 /Applications/MAMP/htdocs/magentoce/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php(228): PDOStatement->execute(Array)
#1 /Applications/MAMP/htdocs

[2018-06-28 08:54] magento-engcom-team commented on #16443
Hi @topjx. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-06-28 08:57] topjx commented on #16443
![2018-06-28 4 56 15](https://user-images.githubusercontent.com/13688627/42024248-4eaa1fca-7af4-11e8-8ad7-10b25b862555.PNG)

[2018-06-28 09:00] DanielRuf commented on #14968
Hm =(

When will be 2.2.6 released?
Is there a schedule where I can see the planned dates?

[2018-06-28 09:03] dmanners commented on #14968
@DanielRuf I am not sure if we have a public date as yet but as part of the release notes for 2.2.5 there is a note about release cycles.

[code]

https://devdocs.magento.com/guides/v2.2/release-notes/bk-release-notes.html

[2018-06-28 09:03] topjx commented on #16443
Not sure this is actually an issue or not but I'm not experiencing issues with other plugins so I'll post it.

I'm no expert in mysql/apache/php at all so when my MAMP setup got screwed up I was trying a bunch of different solutions and one that fixed it was setting innodb_forced_recovery to 2. Everything on my craft site has worked fine except for SuperTable - it seems to error out when trying to

[2018-06-28 09:09] gwharton commented on #11740
Note. If you dont use the amazom payments module, disable or uninstall it to get this working again. This update triggered a bug in that module.

[2018-06-28 09:18] johnny-longneck commented on #16439
Just a question: Javascript error angular.js? Is this normal or is knockout being replaced by angular? (which i would totally like)

[2018-06-28 09:32] ahmadkein31 opened #16444 "Unable to place order with coupon code and grandtotal zero in magento 2.1.7"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-28 09:32] magento-engcom-team commented on #16444
Hi @ahmadkein31. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-28 09:42] VZeroCool commented on #16439
@johnny-longneck  Its angular.js error I think..

[2018-06-28 09:53] hostep commented on #14968
@dmanners : Quarterly meaning only 4 times a year? Damn that's even worse then what we have currently :s

Luckily more and more people seem to know how to patch their installation ...

[2018-06-28 09:59] hostep commented on #16439
@VZeroCool : this was already [reported for Magento 2.2.4](https://github.com/magento/magento2/issues/15192) and was already fixed in https://github.com/magento/magento2/pull/15211, it was badly communicated and was not fixed in 2.2.5, but should be fixed in 2.2.6

[2018-06-28 09:59] #16439 closed, assigned to nobody

[2018-06-28 10:01] dmanners commented on #14968
Hi @hostep I understand that this could be frustrating for a few people but if you compare this to other systems and frameworks this is still more frequent. For example, unless I am mistaken, Symfony still do minor releases twice a year and major releases every 2 years.

[2018-06-28 10:10] DanielRuf commented on #14968
I totally agree, this is worse than before.

[2018-06-28 10:11] DanielRuf commented on #14968
https://github.com/symfony/symfony/tags

[2018-06-28 10:16] LouNik1984 opened #16446 "magento 2.2.2 text swatch switches product image even if attribute feature is disabled"
### Preconditions
magento 2.2.2 with one website and two store views
php 7.0 on ubuntu 16.04 with nginx

### Steps to reproduce
- change attribute size to text swatch with Update Product Preview Image set to NO
- create configurable product with some variations for size
- add image to configurable product
- add image to associated simple products

### Expected result
When I load the frontend produ

[2018-06-28 10:16] magento-engcom-team commented on #16446
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-28 10:21] hostep commented on #14968
You can't really compare Symfony against Magento, because the versions numbering is different. In Magento a patch version is the same as a minor version in Symfony.

Any chance to introduce a fourth number in the versioning of Magento which is **only** for bugfixes (no new features, no performance improvements, no new bugs). And release those like every month or so?

[2018-06-28 10:22] dmanners commented on #14968
@DanielRuf From my understanding Symfony follow Semver 2.0.0 which would mean that a version number would follow MAJOR.MINOR.PATCH so in this case they do a minor release in May and November of the year. Patches come out more often but minors will be around the May and November. For example: 4.0.0 came out on the 30th of Nov 2017 and the next minor version 4.1.0 came out on the 30th of May 2018. B

[2018-06-28 11:08] mhauri commented on #16426
Hi @lani2013

GitHub is intended for bug reports only, please use [Magento Stack Exchange](https://magento.stackexchange.com/) for questions like yours.

Thank you and have a nice day.

[2018-06-28 11:08] #16426 closed, assigned to nobody

[2018-06-28 11:24] #15307 closed, assigned to popatkaran

[2018-06-28 11:24] panel123 opened #16447 "How to migrate to another shopping cart?"
I’m using Magento 1 now, and I’ve been thinking of moving to Magento 2, cause the business grows really well. What is the best way to do it?

[2018-06-28 11:27] aasim110 opened #16448 "Error while upgrade Magento 2.2.3 to 2.2.5 - The session id is too long or contains illegal characters"
We are getting errors after upgrade magento 2.2.3 to 2.2.5.
on frontend we are getting following errors.

1 exception(s):
Exception #0 (Exception): Warning: SessionHandler::read(): The session id is too long or contains illegal characters, valid characters are a-z, A-Z, 0-9 and '-,' in /var/www/html/magento225/vendor/magento/framework/Session/SaveHandler/Native.php on line 22

Exception #0 (Except

[2018-06-28 11:30] LouNik1984 commented on #16446
@magento-engcom-team give me 2.2.2 instance

[2018-06-28 11:30] magento-engcom-team commented on #16446
Hi @LouNik1984. Thank you for your request. I'm working on Magento 2.2.2 instance for you

[2018-06-28 11:30] magento-engcom-team commented on #16446
Hi @LouNik1984, here is your [Magento instance](https://i-16446-2-2-2.engcom.dev.magento.com).
Admin access: [https://i-16446-2-2-2.engcom.dev.magento.com/admin](https://i-16446-2-2-2.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-28 11:31] MidnightDesign commented on #13929
@clementblanco It's fixed in 2.2.5.

[2018-06-28 11:40] kkert commented on #16418
one more issue i am having

whats the process if the customer want to save its credit cards and payment
methods on his/her fronted account details

On Wed, Jun 27, 2018 at 11:35 AM Magento Community Engineering <
notifications@github.com> wrote:

[2018-06-28 11:40] kkert commented on #16418
for magento 2

On Thu, Jun 28, 2018 at 5:09 PM Chand Parvani <techtic.chand@gmail.com>
wrote:

[2018-06-28 11:40] vipashavivi opened #16449 "magento2.2.5 products not showing in parent category"
### Preconditions

1. Magento version 2.2.5
2. Mozilla Firefox

### Steps to reproduce

1. Select Category "Anchor" to "Yes"
![image](https://user-images.githubusercontent.com/40662711/42031822-4618790a-7af5-11e8-9b8f-4c42d030a167.png)
2. Run re-index command
![image](https://user-images.githubusercontent.com/40662711/42031922-8a18cb50-7af5-11e8-89ac-9b8bed86832b.png)

3. Open category on front-en

[2018-06-28 11:40] magento-engcom-team commented on #16449
Hi @vipashavivi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-28 11:43] vipashavivi commented on #16449
@magento-engcom-team give me 2.2.5 instance

[2018-06-28 11:43] magento-engcom-team commented on #16449
Hi @vipashavivi. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-06-28 11:44] magento-engcom-team commented on #16449
Hi @vipashavivi, here is your [Magento instance](https://i-16449-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16449-2-2-5.engcom.dev.magento.com/admin](https://i-16449-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-28 11:46] LouNik1984 commented on #16446
I confirm I can reproduce the issue on the vanilla Magento instance you provided me.

#What I did on the vanilla instance
- I created a new category to have a link to the product on the frontend
- I created an attribute called size with attribute code size, type = text swatch and option "Update Product Preview Image" se to NO
- I edited the Default attribute set to add the new size attribute
- I c

[2018-06-28 11:47] cscd98 opened #16450 "Upgrade from 2.2.4 -> 2.2.5 - Integrity constraint violation"
### Preconditions
1. Magento 2.2.4 -> 2.2.5
2. PHP 7.1.8

### Steps to reproduce
1. bin/magento setup:upgrade

### Expected result
1. No errors

### Actual result
1.
[code]

[2018-06-28 11:47] magento-engcom-team commented on #16450
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-06-28 12:01] popatkaran commented on #15307
@aasim110  Thank you for closing ticket.

[2018-06-28 12:07] aasim110 commented on #16448
Issue fixed after clearing browser cache :)

[2018-06-28 12:40] seyuf commented on #13224
Why is this closed? The issue still persistent...

[2018-06-28 13:07] RaphaelBronsveld commented on #16262
Hi, do you use Varnish in your setup?
We had the same issue and it was caused by a misconfiguration in our vcl file.

[2018-06-28 13:16] BenSpace48 commented on #3890
@dan-advantec and @crantron - Have you tried adding a product to bag?

For some weird reason recently viewed products will only load once a product has been added to bag, I can replicate this on two completely separate production website.

Any update on this @magento-engcom-team? Should we create a new issue?

[2018-06-28 13:22] jonsaf commented on #5064
Sorry. I only know version 2 and above.

Sent from my iPhone

[2018-06-28 13:25] pioneerathletics commented on #5064
Hi @Squawk1 ,

Not a bother at all. I think the template I used, had some sort of dynamic tier pricing already built into it. You can find it at www.templatemonster.com - https://www.templatemonster.com/magento-themes/55765.html

[2018-06-28 13:28] pioneerathletics commented on #5064
@Squawk1 -Also keep in mind that as of Magento 2.1.12, dynamic tier pricing is already integrated in the core Magento code, so you don't need a separate template. I would suggest testing the latest 2.1 or 2.2 version instead, because it actually gives a better user experience.

[2018-06-28 13:29] BabliDey opened #16451 "Unable to place order with coupon code and grandtotal zero"
### Preconditions

1. Magento 2.2.3
2. 10.0.32-MariaDB-0

### Steps to reproduce

1. Added a coupon code of flat discount of 25 euro
2. Enabled Zero Subtotal Checkout form store > configuration > sales > payment methods
3. Added product to cart of 18 euro applied the coupon code as a whole the total amount to be
   paid is zero including shipping.
4. Added shipping details and in next step the No

[2018-06-28 13:29] magento-engcom-team commented on #16451
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-28 13:43] BabliDey commented on #16451
@magento-engcom-team give me 2.2.3 instance

[2018-06-28 13:43] magento-engcom-team commented on #16451
Hi @BabliDey. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-06-28 13:44] magento-engcom-team commented on #16451
Hi @BabliDey, here is your [Magento instance](https://i-16451-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-16451-2-2-3.engcom.dev.magento.com/admin](https://i-16451-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-28 13:54] Sathishkumar8731 commented on #14222
@pankajpragma, I didn't get any permanent solution. I am looking into the issue.

[2018-06-28 14:01] KenioJunio commented on #11925
O problema é com o cache do navegador
Resete o cache que vai resolver

[2018-06-28 15:06] zhartaunik commented on #15277
Had same issue with other preconditions. It happened during setup:upgrade. And further during opening magento in browser. Cleaning generated folder and redeploy fixed that.

[2018-06-28 15:11] orlangur commented on #16447
@panel123 you can use https://github.com/magento/data-migration-tool.

Note that GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2018-06-28 15:11] #16447 closed, assigned to nobody

[2018-06-28 15:11] sebastianamaro commented on #14287
So the fix is not going to be backported to 2.1.3? Only 2.2 and forward?

[2018-06-28 15:21] orlangur commented on #16425
@cappecar if you do it exactly as https://devdocs.magento.com/guides/v2.2/rest/performing-searches.html#logical-or-search (I mean zero indexes) it still does not work?

[2018-06-28 15:50] harrigo commented on #14667
Has anyone noticed with this that if you flush the browser cache the problem goes away?

For me at least, flushing my cache in chrome leads to images loading in less than a second (rather than 4+ seconds) and am unsure how to get the problem to come back. It will however come back as it has the past few times.

[2018-06-28 16:00] BabliDey commented on #16451
Tried the process but it is working here. Even the process working fine in my old version of magento 2.1.8.
But after upgrading to version 2.2.3 it is not working

[2018-06-28 18:39] lbajsarowicz opened #16452 "Customer Attribute - Visible/Required per website behavior"
Last days I've been working a lot with Customer Attributes. They're inconsistent and complicated by default, however managable. (Last time when I worked with them, I updated Dev Documentation: https://devdocs.magento.com/guides/v2.2/extension-dev-guide/attributes.html#customer-eav-attribute).

Currently I'm thinking about doing contribution to Customer Attributes, however I need as much informatio

[2018-06-28 18:39] magento-engcom-team commented on #16452
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-06-28 18:43] robolmos commented on #14952
Should this bug be mentioned in both 2.2.4 and 2.2.5 release notes known issues? And work-arounds?

[2018-06-28 20:08] roobware opened #16453 "Range label for 'Layer\Filter\Decimals' is using priceCurrency->format"
The decimal filter is using the currency formatter.
Is this so planed or a bug?

This two files are affected:
vendor/magento/module-catalog/Model/Layer/Filter/Decimal.php `->_renderItemLabel()`
vendor/magento/module-catalog-search/Model/Layer/Filter/Decimal.php `-> renderRangeLabel()`

![catalog_filter_decimal](https://user-images.githubusercontent.com/27640321/42057362-6325c7d2-7b1d-11e8-8421-6fa

[2018-06-28 20:08] magento-engcom-team commented on #16453
Hi @xBitsSec. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-28 20:08] giuseppemorelli commented on #11230
As #12419 if you want to avoid the problem (but not fix the error)

In `/dev/tests/unit/phpunit.xml.dist` exlude `FileClassScannerTest.phptest`

[code]

[2018-06-29 00:38] crantron commented on #3890
@BenSpace48 no I haven't, due to the inconsistencies we dropped this feature for our client. Which has lead us to abandon Magento 2 for future projects. Not only because of this, but MANY other issues with the platform. Maybe Adobe will rescue Magento 2 CE  :smirk:

[2018-06-29 02:21] realGomez opened #16454 "Language and currency Switcher are not working on Magento 2.2.5 in Mac safari and Chrome Explorer"
### Preconditions

1. Magento2 ce 2.2.5
2. php 7.0.1
3.Mac safari 11.1 and Chrom67.0.3396.87  Explorer
### Steps to reproduce

1. I had a Magento 2.2.5 with a website that has one store and two store's views (en and tc)
2. On Stores -> Configuration -> Web , I set "Add Store code to URLs" to "YES" OR "No"(I test)
3. in default store view(en), I  change the language to Chinese, It works first time,

[2018-06-29 02:21] magento-engcom-team commented on #16454
Hi @realGomez. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-29 03:36] ankitdbst opened #16455 "You need to choose options for your item."
Unable to add configurable product to cart via `POST /V1/guest-carts/{cartId}/items` if a plugin is active on `Magento\Quote\Api\CartItemRepositoryInterface`.

### Preconditions

1. Magento 2.1.11
2. MySQL 5.6.31
3. PHP 5.6.11

### Steps to reproduce

1. Create a plugin on `Magento\Quote\Api\CartItemRepositoryInterface` with interceptor on `beforeSave`
2. Create a quote
3. Add a configurable item

[2018-06-29 03:36] magento-engcom-team commented on #16455
Hi @ankitdbst. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-29 04:06] realGomez commented on #16454
It works after we add the setting; store -> configuration -> web -> default cookie setting;

[2018-06-29 04:39] ishakhsuvarov commented on #16328
@ashishdiff Closing ticket now, as issue doesn't seem to be related to Magento

[2018-06-29 04:39] #16328 closed, assigned to nobody

[2018-06-29 04:39] #16448 closed, assigned to nobody

[2018-06-29 05:05] sidolov commented on #7379
Hi @atihomirov. Thank you for your report.
The issue has been fixed in magento/magento2#16280 by @vasilii-b in 2.1-develop branch
Related commit(s):
 - [ce38bc87478f629ed7158df526f1977f2e3d76ef](https://github.com/magento/magento2/commit/ce38bc87478f629ed7158df526f1977f2e3d76ef)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-29 05:31] visahardik commented on #15900
Same issue, I am facing tried to resolve by debbuging in `Magento\Catalog\Block\Adminhtml\Category\Tree::_prepareLayout()` you will get `false` in first if codition some time. you will get more idea in this file.

May be it will help you to resolve your problem
Thanks

[2018-06-29 06:33] pointia commented on #16436
Hi, I'm facing the same problem, and I'm really frustaded as well.

The reason why this happens is because Magento copies the default values into every single storeview. So if you have the images set in global scope and duplicate the product the image gets set in default and every single storeview.

Once you delete the image in default set only the images get's removed and the reference in deleted

[2018-06-29 06:46] jitendra-cedcoss opened #16456 "After login from backed user, Go to invoice grid and export csv (At first time in invoice grid) , we get redirect to dashboard page but at second time, csv export successfully"
**Description**

* After login from backed user, Go to invoice grid and export csv (At first time in invoice grid) , we get redirect to dashboard page but at second time, csv export successfully.

**Preconditions:**

* This issue is available in a Magento 2.1.x, Magento 2.2.x version.

**Note :** Make sure Notification Resource disable for current login User

**Steps to reproduce:**

* Create a ne

[2018-06-29 06:46] magento-engcom-team commented on #16456
Hi @jitendra-cedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-06-29 06:51] jitendra-cedcoss commented on #16456
@jitendra-cedcoss do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

**yes**

[2018-06-29 07:15] Gurdit opened #16457 "Unable to install sample data on Magento 2.2.6-dev"
### Preconditions

1. Magento 2.2.6-dev
2. php 7.0.30

### Steps to reproduce

1. Clone [magento](https://github.com/magento/magento2) github repository on localhost
2. After successful installation composer update to install sample data
3. Command used php bin/magento sampledata:deploy

### Expected result

[1. Sample data get installed.]

### Actual result

![error](https://user-images.githubuse

[2018-06-29 07:15] magento-engcom-team commented on #16457
Hi @Gurdit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-06-29 07:35] Gurdit commented on #16457
@magento-engcom-team give me {2.2.6-dev} instance

[2018-06-29 07:54] slackerzz commented on #7231
I opened this issue while i was working with Magento 2.1.2 so it was present before any upgrade to 2.2.
The problem, i think, is the css splitting between `style-m.css` and `style-l.css`.

In the themes i develop i do not use the `.media_width()` mixin and set them to use and generate a single css file, that's my workaround.

[2018-06-29 08:11] vipinpatole opened #16460 "Order Emails comes from server email id"
### Preconditions
	Magento version: 2.2.5
	Php version: 7.0
	Mysql: 5.6.39 - MySQL Community Server (GPL)
### Steps to reproduce
1.	When customer place order he receives email from the15891@server101.hostingcosmos.com
2.	However, I have set email to be sent from customercare@thebookstrunk.com
3.	Below are my email settings with the same setting i was able to produce expected results in magento 2.2

[2018-06-29 08:11] magento-engcom-team commented on #16460
Hi @vipinpatole. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-29 08:28] vipinpatole commented on #16460
@magento-engcom-team give me {$VERSION} instance

[2018-06-29 08:40] magento-engcom-team commented on #16378
Hi @mohitka. Thank you for your report.
The issue has been fixed in magento/magento2#16379 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [4f976e703be9390cf4080050d309dd0510ab11a4](https://github.com/magento/magento2/commit/4f976e703be9390cf4080050d309dd0510ab11a4)
 - [55d1c1573eaa63c4d307e498289da0c812e6ab27](https://github.com/magento/magento2/commit/55d1c1573eaa63c4d307e498289da

[2018-06-29 08:40] #16378 closed, assigned to hitesh-wagento

[2018-06-29 08:40] magento-engcom-team commented on #7379
Hi @atihomirov. Thank you for your report.
The issue has been fixed in magento/magento2#16279 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - [de533cca86414906fc04302a7b7e3ec92186d85a](https://github.com/magento/magento2/commit/de533cca86414906fc04302a7b7e3ec92186d85a)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-29 08:40] #7379 closed, assigned to vasilii-b

[2018-06-29 08:40] magento-engcom-team commented on #15345
Hi @vgelani. Thank you for your report.
The issue has been fixed in magento/magento2#15339 by @NamrataChangani in 2.2-develop branch
Related commit(s):
 - [efd58e34af13c0497652e10ae2151dc9e6e55802](https://github.com/magento/magento2/commit/efd58e34af13c0497652e10ae2151dc9e6e55802)
 - [86b98956b30950f9e00817e6cea12849de888a94](https://github.com/magento/magento2/commit/86b98956b30950f9e00817e6cea1

[2018-06-29 08:40] #15345 closed, assigned to nobody

[2018-06-29 09:13] dmanners commented on #16457
Hi @Gurdit when using a clone of Magento 2 you will also need to clone in the sample data rather than using the bin/magento command. See https://devdocs.magento.com/guides/v2.2/install-gde/install/sample-data-after-clone.html for more information on how to do this.

[2018-06-29 09:17] orlangur commented on #16457
There is no need in this as mentioned command `php bin/magento sampledata:deploy` does it by itself.

[2018-06-29 09:27] #16327 closed, assigned to nobody

[2018-06-29 09:42] visahardik commented on #7589
@bengower your suggested extension does not support while change drop down value in toolbar

[2018-06-29 09:57] axovel commented on #812
I am also getting this error. Its happening on multiple store views only.

[2018-06-29 10:00] peterjaap commented on #2228
Also happening here;

Not working;

`<script src="//maps.googleapis.com/maps/api/js?key=<keyhere>&amplibraries=places" src_type="url" />`

Working;

`<script src="//maps.googleapis.com/maps/api/js?key=<keyhere>&amp;amp;amp;libraries=places" src_type="url" />`

[2018-06-29 10:15] gwharton commented on #16460
Duplicate of #14952

[2018-06-29 10:16] #16460 closed, assigned to nobody

[2018-06-29 10:19] gwharton commented on #16355
Duplicate of #14952

[2018-06-29 10:19] #16355 closed, assigned to nobody

[2018-06-29 10:26] #10580 closed, assigned to raumatbel

[2018-06-29 11:05] deepak-netwin commented on #4409
@BlitzInternet Can you please mention in which di.xml we need to add that code?

[2018-06-29 12:14] vegangirlthatcodes commented on #15620
I'm experiencing the same thing.

I've recently updated from 2.1.9 to 2.1.12 then 2.20 and 2.2.5:

admin:
![screen shot 2018-06-29 at 13 10 46](https://user-images.githubusercontent.com/36828277/42091683-3ebc62a8-7b9e-11e8-9013-a8542c9d153d.png)

on my email:
<img width="314" alt="screen shot 2018-06-29 at 13 12 14" src="https://user-images.githubusercontent.com/36828277/42091700-46557824-7b9e-11e

[2018-06-29 12:36] PascalBrouwers commented on #15972
What's even worse in a multistore setup is if correct it by entering manually `{{unsecure_base_url}}media/` for "Base URL for User Media Files" in the global scope, but have entered a different "Base URL" in the website scope and have "Base URL" still set to "Use Website" on the store scope. The base url for the media files will still be resolved to the url of the global scope!

E.g.
global base u

[2018-06-29 12:48] angelflo commented on #5863
same problem with 2.2.4

[2018-06-29 12:50] vadimjustus commented on #12266
Hi @hostep, we've published our module `TechDivision_IndexSuspender` on GitHub now. I hope this is useful for you...
https://github.com/techdivision/indexsuspender

[2018-06-29 13:11] tgrantmartin commented on #15545
I too am having this issue. It appears to stem from large layered navigation generated querystrings which the system treats as a search operation and thus attempts to record the terms. This is hugely problematic when crawlers are walking down the layered navigation links. I've used my webserver access logs to add deny rules to my firewall for all but the essential bots from major search engines in

[2018-06-29 14:31] ashishdiff commented on #16327
Sir,
1. ISSUE- when i fetch the Bulk product from API,detail information of the
some field is not seen such field detail.

2. Expected result-
     {
"_id" : "644ZzwTQ6bkuvexQZ",
"sku" : "jeans",
"id" : 16,
"name" : "jeans",
"attribute_set_id" : 4,
"price" : 0,
"status" : 2,
"visibility" : 3,
"type_id" : "configurable",
"created_at" : "2018-05-24 07:30:04",
"updated_at" : "2018-05-24 07:30:04",
"w

[2018-06-29 14:49] nishantbkw opened #16463 "Flush cache and flush static content buttons not showing after upgrade to 2.2.4"
### Upgrade Magento Version 2.2.2 to 2.2.4

1. From Admin Go to System -> Cache Management It should show Flush Cache and Clean Cache
Buttons but there is nothing

### Steps to reproduce

1. Upgrade Magento Version 2.2.2 to 2.2.4
2. from admin go to System -> Cache Management
3. No Flush Cache Button showing

### Expected result

It should show flush cache and flush cache storage buttons but not s

[2018-06-29 14:49] magento-engcom-team commented on #16463
Hi @nishantbkw. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-29 14:51] DanielRuf commented on #16463
So far we could not reproduce it in our clean 2.2.4 instances.

Did you run the upgrade commands and clear the cache using the CLI?

[2018-06-29 14:53] nishantbkw commented on #16463
@DanielRuf  Yes Ran Upgrade and Clear cache multiple times but not worked

[2018-06-29 14:53] allisonlawrencels commented on #16449
We are encountering the same issue. Please provide fix ASAP as we have to accept this error in order to apply the security fixes in 2.2.5.

Alternatively, please provide a security patch for 2.2.3.

[2018-06-29 14:59] vegangirlthatcodes commented on #16449
I'm also encountering this issue. 2.2.4 was working fine.
In my case no products show up in any category.

[2018-06-29 15:14] allisonlawrencels commented on #15490
@magento-engcom-team why was this issue closed?

[2018-06-29 15:16] allisonlawrencels commented on #15490
@magento-engcom-team is there an update on this issue?

[2018-06-29 16:46] chokri commented on #16457
I used it with 2.2.5 and still have the same errors.

[2018-06-29 17:54] ismaelvacco commented on #12419
I have the same problem in 2.2.5.

[2018-06-29 20:38] radub commented on #14968
Issue is still present in 2.2.5 clean instalation

[2018-06-29 20:41] mzeis commented on #14968
@radub The issue will be fixed in 2.2.6. The bot posted the wrong fix version, please see https://github.com/magento/magento2/issues/14968#issuecomment-400960656 for a more detailed explanation.

[2018-06-30 04:40] anilbajracharya commented on #9466
http://www.autotechbook.com/magento-2-2-4-duplicate-product-image-issue/
try this script basically what it does is remove unused duplicate image

[2018-06-30 04:45] anilbajracharya commented on #16443
try searching  innodb_forced_recovery on my.cnf or php.ini and comment it out with # at beginning

[2018-06-30 08:15] petertroeger commented on #6610
any updates on this problem?

[2018-06-30 08:49] bijennaorem11 commented on #15030
For solving this issue you need to give the permission for Notifications to the particulars role.

[2018-06-30 09:30] Leandry commented on #16451
Could not reproduce on 2.1.8 and after upgrading it to 2.2.3.
![2018-06-30_11-59-22](https://user-images.githubusercontent.com/9416636/42123805-d5193e20-7c60-11e8-864e-31b4e8999dea.png)
![2018-06-30_12-23-44](https://user-images.githubusercontent.com/9416636/42123807-d87c17c2-7c60-11e8-9648-519a1d92eea1.png)
 @BabliDey Could you check the issue on clean instance?

[2018-06-30 09:30] #16451 closed, assigned to nobody

[2018-06-30 09:41] TBSMage commented on #16456
#mm18in I would like to work on this issues.

[2018-06-30 09:52] Leandry commented on #16450
Could not reproduce the issue. I used clean install 2.2.4 and upgraded it to 2.2.5.
Actual result: No errors.
![2018-06-30_12-50-16](https://user-images.githubusercontent.com/9416636/42124011-61749448-7c64-11e8-9ed7-c2cab1e590f7.png)
![2018-06-30_12-49-50](https://user-images.githubusercontent.com/9416636/42124014-6a159336-7c64-11e8-83a3-732eb7dc2f35.png)
![2018-06-30_12-50-50](https://user-images

[2018-06-30 09:52] #16450 closed, assigned to nobody

[2018-06-30 10:11] Leandry commented on #16457
Hi @chokri and @Gurdit

This will be expected result when you trying to install sample data using `bin/magento` command after cloning Magento 2.

Try to install sample data for cloned Magento, please, use [instruction](https://devdocs.magento.com/guides/v2.2/install-gde/install/sample-data-after-clone.html)

[2018-06-30 10:11] #16457 closed, assigned to nobody

[2018-06-30 10:43] vivekaris commented on #14952
this Issue exist in magento 2.2.5

[2018-06-30 10:46] vivekaris commented on #14952
https://github.com/sashas777/bug-from-email

@sashas777 its not working in magento 2.2.5.   good for magento 2.2.4
on magento 2.2.5 Your module says require magento 2.2.4

[2018-06-30 10:54] gwharton commented on #14952
@vivekaris. Disable the amazon payments module as a workaround.

[2018-06-30 11:02] Leandry commented on #16463
Hello @nishantbkw
I could not reproduce the issue in clean Magento installation. The problem was not reproduced on 2.2.2 and after upgrade to 2.2.4.
![2018-06-30_13-55-48](https://user-images.githubusercontent.com/9416636/42124590-24844312-7c6e-11e8-8c19-da210bf41810.png)
![2018-06-30_13-59-31](https://user-images.githubusercontent.com/9416636/42124591-26373110-7c6e-11e8-8b99-7fd1a2c859e0.png)

[2018-06-30 11:02] #16463 closed, assigned to nobody

[2018-06-30 11:13] Leandry commented on #16444
Please, complete the description

[2018-06-30 11:13] #16444 closed, assigned to nobody

[2018-06-30 11:47] Leandry commented on #16385
Can not reproduce the issue
![2018-06-30_14-35-43](https://user-images.githubusercontent.com/9416636/42124903-824f85fa-7c74-11e8-81dd-5cf49fcfdbb6.png)

[2018-06-30 11:47] #16385 closed, assigned to nobody

[2018-06-30 11:53] hunterallen commented on #15115
Did you find a solution? I am facing the same issue, but cannot find a way to reproduce it.

[2018-06-30 12:20] Saad-Alothman commented on #11526
same issue here,
Windows 10
XAMPP
Magento 2

[2018-06-30 12:20] Leandry commented on #16272
Can not reproduce on clean Magento 2.2.4 installation
![2018-06-30_15-19-23](https://user-images.githubusercontent.com/9416636/42125120-1e857a2a-7c79-11e8-9c67-921358dccd45.png)

[2018-06-30 12:20] #16272 closed, assigned to nobody

[2018-06-30 12:32] gawpo50 commented on #16272
well...thanks for nothing

[2018-06-30 12:39] hostep commented on #12266
Awesome, thanks @vadimjustus! I'll check it out when I find some time.

[2018-06-30 12:49] Leandry commented on #16095
Could not reproduce on clean magento 2.2.2 instance

[2018-06-30 12:49] #16095 closed, assigned to nobody

[2018-06-30 13:21] allisonlawrencels commented on #16449
@magento-engcom-team give me 2.2.5 instance

[2018-06-30 13:22] magento-engcom-team commented on #16449
Hi @allisonlawrencels. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-06-30 13:22] magento-engcom-team commented on #16449
Hi @allisonlawrencels, here is your [Magento instance](https://i-16449-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16449-2-2-5.engcom.dev.magento.com/admin](https://i-16449-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-30 13:38] sidchs opened #16469 "Error message when upgrading from Magento 2 (2.2.3) to either 2.2.4 and now 2.2.5"
Hello,

When I install to latest version of Magento 2 , the website wont load and I am getting the following error message

Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
Magento_Directory data: current version - 2.0.1, required version - 2.0.2
Magento_Customer data: current version - 2.0.12, required version - 2.0

[2018-06-30 13:38] magento-engcom-team commented on #16469
Hi @sidchs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-06-30 13:39] allisonlawrencels commented on #16449
I cannot reproduce one the 2.2.5 instance, however it is the Open Source version, not Commerce. It looks like this is a Commerce issue, @vipashavivi can you confirm you also use Commerce?

[2018-06-30 15:05] malikt commented on #11998
Any solution to this issue?

[2018-06-30 15:17] sandervall opened #16471 "Column not found: 1054 Unknown column 'at_visibility_default.value'"
### Preconditions

1. Magento 2.2.5 Community
2. PHP 7.2
3. Enable developer mode(bin/magento deploy:mode:set developer).
4. Rename magento_root_dir/pub/errors/local.xml.sample to magento_root_dir/pub/errors/local.xml

### Steps to reproduce

1. Navigate to admin area Catalog > Products.
2. Create simple product SKU = 'simple', price = '3', quantity = '100', visibility = 'Catalog, Search'. Categor

[2018-06-30 15:17] magento-engcom-team commented on #16471
Hi @sandervall. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-30 17:46] DanielRuf commented on #11998
Can you show it for us?

[2018-06-30 17:48] allisonlawrencels commented on #16449
We found out that our issue was caused by the Mirasvit ElasticSearch module still referencing non-storeview scoped index tables.

[2018-06-30 20:18] sashas777 commented on #14952
@vivekaris packaged version updated

[2018-07-01 03:37] UranusCEO commented on #13730
Still there for 2.2.5. Any roadmap to remove it?

[2018-07-01 08:40] jafarp26 commented on #6817
hi lennartbee, can you tell me in which section you added pach in customer-data.js file? i have added only  in checkout-data.js and it is not working for me. if you could tell where to add in customer-data.js . I will add and check it

[2018-07-01 13:34] vasudevsundar opened #16473 "After Merging Js in admin site issue"
### Preconditions

1. Install Magento 2.2.4

### Steps to reproduce

1. Open Admin Panel and Click a cms page, in that content tab is there, Show Editor is not editing
2. Check in console getting error as " Refused to execute script from '<URL>' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled. "
3. After Merging js in both mode.

### Expected result

[2018-07-01 13:34] magento-engcom-team commented on #16473
Hi @vasudevsundar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-01 17:25] #16443 closed, assigned to nobody

[2018-07-01 17:41] ebicabaadb commented on #14968
Issue is still present in 2.2.5 clean installation

[2018-07-01 18:08] malikt commented on #7200
Hi,
@magento-engcom-team  seems this issue never considered?

[2018-07-02 07:10] vipashavivi commented on #16449
Hi @allisonlawrencels How to fixed this issue with Mirasvit.? Can you help me to fix?

[2018-07-02 07:54] kanduvisla commented on #5038
Any chance this will be backported to 2.2.5?

[2018-07-02 08:15] petertroeger commented on #6610
In Magento 2.1.10 in file vendor/magento/module-catalog-rule/Model/Indexer/IndexBuilder.php the variable $toDate is already defined as mktime(0, 0, 0, date('m'), date('d') + 1); But the error still occurs for me.
There's a 2h time difference between my server time and my local time. AMybe that is part of the problem?

[2018-07-02 08:30] magento-engcom-team commented on #14087
@gabrielgdiniz, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-02 08:30] magento-engcom-team commented on #14077
@woshka, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-02 08:30] magento-engcom-team commented on #13901
@mytran89, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-02 08:30] magento-engcom-team commented on #13984
@koenner01, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-02 09:11] jq91 commented on #16473
Worked for me:
bin/magento module:disable Klarna_Kp Klarna_Ordermanagement Klarna_Core
bin/magento deploy:mode:set production

https://github.com/magento/magento2/issues/15638

[2018-07-02 09:16] LucScu commented on #15555
m2.2.2, me too with `magento module:disable XXX_YYY`

[2018-07-02 10:40] Sathishkumar8731 opened #16479 "Issue in adding the wishlist of "zero price" product."
### Preconditions

1. Magento CE 2.2.4 without sample data is installed.
2. Added test product with zero price.

### Steps to reproduce
1. Login as a customer in front end of the website.
2. Click on the wishlist button in the product.
3.  Now you can find the below error message.

**Fatal error:** Uncaught TypeError: Argument 1 passed to Magento\Catalog\Pricing\Price\ConfiguredOptions::getItemOpt

[2018-07-02 10:40] magento-engcom-team commented on #16479
Hi @Sathishkumar8731. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-02 10:47] engcom-backlog-nickolas commented on #16471
Hello @sandervall, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 11:21] engcom-backlog-pb commented on #16473
@vasudevsundar, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. It seems like the problem is caused by custom modules.  Please try to reproduce this issue on a clean installation. If the issue is reproducible, please reopen this ticket.

[2018-07-02 11:21] #16473 closed, assigned to nobody

[2018-07-02 11:24] engcom-backlog-nickolas commented on #16479
Hello @Sathishkumar8731, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 11:24] engcom-backlog-nazar commented on #16434
Hello @robertkent , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 11:30] engcom-backlog-nickolas commented on #16469
@sidchs, thank you for your report. Considering error message you've provided, error produced by some 3d-party module(Klarna Checkout?) not magento core functionality itself. Please try to reproduce this issue on clean magento instance.

[2018-07-02 11:33] rajneesh1dev commented on #16094
can you please elaborate , how did you resolved this issue.
Thanks.

[2018-07-02 11:36] vasudevsundar commented on #16473
@jq91 ,

Issue Solved as per your comments, i followed.
Thanks You @jq91

[2018-07-02 11:46] jsdupuis commented on #7266
Same problem here on Magento CE 2.2.4. Magento captcha is Enabled on the Registration form. Doesn't stop bots from creating hundreds of customer accounts per day (most mail.ru and gmail). Any update?

[2018-07-02 11:46] sidchs commented on #16469
Hello, thx for the info

I believe Klarna is now part of Magento 2 unless I am getting this wrong (see below)

Klarna Payments has been selected as a Core Bundled Extension, CBE for Magento Commerce latest platform release, Magento 2.2.4, and is now distributed with Magento 2 core code. This means that using Klarna Payments on your M2 store has never been easier.

I don’t have 3rd party module usi

[2018-07-02 11:51] jsdupuis commented on #15031
Same problem here on Magento CE 2.2.4. Magento captcha is Enabled on the Registration form. Doesn't stop bots from creating hundreds of customer accounts per day (most mail.ru and gmail). Any update?

[2018-07-02 12:07] engcom-backlog-nazar commented on #16436
Hi, this  this issue has been fixed in 2.3 version
thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 12:16] engcom-backlog-nickolas commented on #16469
@sidchs, thank you for reply. Unfortunately, GitHub is intended only for issues related to magento core modules and components. You may try to contant Klarna Payments directly https://marketplace.magento.com/partner/KlarnaOfficial

[2018-07-02 12:16] #16469 closed, assigned to nobody

[2018-07-02 12:20] sidchs commented on #16469
Hello,

I think this certainly a Magento issue – it is failing on many points during upgrade – not just Klarna.

Thanks for trying to help – hopefully someone else will know what’s going on !

thx

From: engcom-backlog-nickolas <notifications@github.com>
Sent: 02 July 2018 13:17
To: magento/magento2 <magento2@noreply.github.com>
Cc: sidchs <simon1@discountheating.com>; Mention <mention@noreply.git

[2018-07-02 12:24] engcom-backlog-pb commented on #16456
@jitendra-cedcoss, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 12:39] engcom-backlog-pb commented on #16453
@xBitsSec, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 12:45] engcom-backlog-nazar commented on #16446
Hello @LouNik1984, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 12:49] ronak2ram commented on #15883
@magento-engcom-team

Hello Team,

How soon my bug gets resolved? as I have generated this bug since long. Is there anything that I need to do to make this possible sooner?

Regards
Ronak

[2018-07-02 13:04] engcom-backlog-nazar commented on #16424
Hello @BabliDey, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 13:06] engcom-backlog-pb commented on #16449
@vipashavivi, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-02 13:06] #16449 closed, assigned to nobody

[2018-07-02 13:32] gelanivishal commented on #16479
@magento-engcom-team give me 2.2.0 instance.

[2018-07-02 13:32] magento-engcom-team commented on #16479
Hi @gelanivishal. Thank you for your request. I'm working on Magento 2.2.0 instance for you

[2018-07-02 13:32] magento-engcom-team commented on #16479
Hi @gelanivishal, here is your [Magento instance](https://i-16479-2-2-0.engcom.dev.magento.com).
Admin access: [https://i-16479-2-2-0.engcom.dev.magento.com/admin](https://i-16479-2-2-0.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-02 13:37] gelanivishal commented on #16479
@Sathishkumar8731 Hi
I have followed mentioned steps in issue on above instance but I didn't face any type of error. Can you please try at once?

Thank you.

[2018-07-02 13:39] andregurjao opened #16485 "One or more indexers are invalid. Make sure your Magento cron job is running."
We have a product in a store, but it is not appearing in the shop.
I already refreshed the items, but it's not working.

[2018-07-02 13:39] magento-engcom-team commented on #16485
Hi @andregurjao. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-02 13:43] andregurjao commented on #16485
I informed all the informations I have. I can't give more informations once I'm new to the Magent environment.
The product was appearing. Suddenly disappeared. I can't remember I probably did!

[2018-07-02 13:49] Sathishkumar8731 commented on #16479
@gelanivishal

Hi,
I have checked the issue and its seems to be working in above instance.  The instance is Magento 2.2.0 version. Whereas I am facing the issue in Magento 2.2.4". Can you check in particular version and let me know.

Thank you.

[2018-07-02 13:50] engcom-backlog-pb commented on #16427
@AndreKlang, thank you for your report.
This issue is already fixed in Magento 2.3.

[2018-07-02 13:52] engcom-backlog-nickolas commented on #16455
@ankitdbst, thank you for your report. Unfortunately I can not reproduce this issue with provided steps. Could you please provide more details, like code example for your plugin?
I've used such dummy plugin, and for me it worked fine.
[code]

[2018-07-02 14:00] engcom-backlog-pb commented on #16423
@username, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-02 14:00] #16423 closed, assigned to nobody

[2018-07-02 14:05] engcom-backlog-nickolas commented on #16485
@andregurjao, thank you for your report. Unfortunately, it's not enough details to reproduce and therefore to fix this issue. Please, try to provide more details and steps to reproduce.

[2018-07-02 14:13] lbajsarowicz opened #16486 "Gift card with open amount disabled, no amounts provided has uncaught exception"
### Preconditions
1. Magento 2.2.4
2. PHP 7.1

### Steps to reproduce
1. Create product with type of Gift Card
2. Set "Open amount" to false
3. Do not provide any amount to the amount options

### Expected result
1. Redirect back to the category page and / or just error message that the product is not saleable.

### Actual result
1. Exception thrown to the user and not caught in the application:
[

[2018-07-02 14:13] magento-engcom-team commented on #16486
Hi @lbajsarowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-02 14:15] Ynhockey commented on #12987
It looks like I have the same issue, with 2.2.4. It happens all the time and is reproducible, but I have a third party login module, which I am debugging right now. It seems like a bug coming from Magento though.

[2018-07-02 14:18] lbajsarowicz commented on #16485
If it's difficult for you to describe the conditions, you can always record a screencast showing the issue - from the moment you create the product, to the moment when you expect it on the store front.

My debug tool told me nothing about your issue.
![crystal-ball](https://user-images.githubusercontent.com/1639941/42169292-92373616-7e13-11e8-9714-4b37c63ea013.png)

[2018-07-02 14:21] davidwindell commented on #5872
Yep, seeing this issue on 2.2.4 as well, strangely only on one of two sites.

[2018-07-02 14:23] gelanivishal commented on #16479
@magento-engcom-team give me 2.2.4 instance.

[2018-07-02 14:23] magento-engcom-team commented on #16479
Hi @gelanivishal. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-02 14:24] magento-engcom-team commented on #16479
Hi @gelanivishal, here is your [Magento instance](https://i-16479-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16479-2-2-4.engcom.dev.magento.com/admin](https://i-16479-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-02 14:28] engcom-backlog-nazar commented on #16442
@lbajsarowicz , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2018-07-02 14:28] gelanivishal commented on #16479
@Sathishkumar8731
I still didn't found an issue on v2.2.4. Please check it.

Thank you.

[2018-07-02 14:34] engcom-backlog-nickolas commented on #16479
@gelanivishal, please make sure test product has price = '0'. I've corrected product data on https://i-16479-2-2-4.engcom.dev.magento.com/. You may try to reproduce this issue again with updated product data.

[2018-07-02 14:47] gelanivishal commented on #16479
Yes. I got it and will work on it.

[2018-07-02 14:52] engcom-backlog-nickolas commented on #16409
Hello @denistrator, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 14:56] osrecio commented on #12839
This ticket is closed due to inactivity.
If it continues to happen or has a contribution, feel free to re-open it.

Thank you

[2018-07-02 14:56] #12839 closed, assigned to nobody

[2018-07-02 15:00] engcom-backlog-pb commented on #16420
@justinwong617, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-02 15:02] wbyrnetx commented on #15545
We just launched a 2.2.3 project and got slammed by those insert queries. Appears to be this same exact issue.

![screen shot 2018-07-02 at 9 59 21 am](https://user-images.githubusercontent.com/4029452/42171336-a336bd4a-7dde-11e8-88a8-43f7d7feed69.png)

Haven't done more digging that that because the site seems to have stabilized.

[2018-07-02 15:19] LSERRE commented on #16473
It seems issue was fixed in Klarna module. Just run composer update.

[2018-07-02 15:21] LSERRE commented on #11577
Just update Klarna module with composer and its seems they have fixed the issue.

This block has been removed.

`        <dev>
            <js>
                <minify_exclude>
                    klarnacdn.net
                </minify_exclude>
            </js>
        </dev>`

Can anyone confirm please?

[2018-07-02 15:21] engcom-backlog-pb commented on #16486
@lbajsarowicz, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sour

[2018-07-02 15:21] #16486 closed, assigned to nobody

[2018-07-02 16:04] senders commented on #16450
I have the same problem. Upgrading existing store from 2.24 to 2.2.5.

[2018-07-02 16:34] indefinitedevil commented on #14272
We're experiencing a similar issue where out of stock products are included in the filter counts even though they're not included in the product lists.

Steps to reproduce:
- Ensure "Display Out of Stock Products" is off
- Have a sub-category which contains at least two products, at least one of which is out of stock
- Go to the parent category for the subcategory
- The count for the subcategory i

[2018-07-02 16:37] danharper83 commented on #15638
Tested and it seems to be fixed in 2.2.5

[2018-07-02 17:19] misha-kotov commented on #9003
Starting in 2.2.4, you can map and customize error messages returned by payment gateways. Devdocs: https://devdocs.magento.com/guides/v2.2/payments-integrations/payment-gateway/error-code-mapper.html

[2018-07-02 17:49] VladimirZaets commented on #16243
Hi @evktalo. Thank you for your report.
The issue has been fixed in magento/magento2#16253 by @evktalo in 2.3-develop branch
Related commit(s):
 - [5021532070bc6ac6502c5687b48914d536262686](https://github.com/magento/magento2/commit/5021532070bc6ac6502c5687b48914d536262686)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-02 17:49] VladimirZaets commented on #15205
Hi @callumstar. Thank you for your report.
The issue has been fixed in magento/magento2#16046 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [e935949d062e45b980c53c997427c15da85dc026](https://github.com/magento/magento2/commit/e935949d062e45b980c53c997427c15da85dc026)
 - [69810b7b30a5197d866230c983e816328f647f80](https://github.com/magento/magento2/commit/69810b7b30a5197d866230c983

[2018-07-02 17:49] VladimirZaets commented on #15245
Hi @jokeputs. Thank you for your report.
The issue has been fixed in magento/magento2#16046 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [e935949d062e45b980c53c997427c15da85dc026](https://github.com/magento/magento2/commit/e935949d062e45b980c53c997427c15da85dc026)
 - [69810b7b30a5197d866230c983e816328f647f80](https://github.com/magento/magento2/commit/69810b7b30a5197d866230c983e8

[2018-07-02 18:53] hostep commented on #15638
Thanks @danharper83. @LSERRE also confirmed in https://github.com/magento/magento2/issues/11577#issuecomment-401840977, so let's close this issue as it is fixed in the latest version of the Klarna module.

[2018-07-02 18:53] #15638 closed, assigned to nobody

[2018-07-02 19:33] andregurjao commented on #16485
Quite funny the image of your tool bug!! I do liked it!! lol
Let’s try:

  1.  I deleted the only product I had.
  2.  I added a new product;
  3.  The product doesn’t appears on the web: https://dourobakery.pt/shop/
  4.  But its displayed as a result search: https://dourobakery.pt/shop/bolo-cenoura.html
  5.  The system msg “One or more indexers are invalid. Make sure your Magento cron job is ru

[2018-07-02 19:36] vidyasagar4679 commented on #5173
After a lot of struggle  I finally fixed the issue of SQLSTATE[HY000] [2002] No such file or directory on MAC MAMP server.

I create /etc/my.cnf file and make an entry of following line of code 👍

[mysqld]
socket=/Applications/MAMP/tmp/mysql/mysql.sock

[client]
socket=/Applications/MAMP/tmp/mysql/mysql.sock

This I created the /.bash_profile and make an entry of

export PATH=/Applications/MAMP/bi

[2018-07-02 19:44] andregurjao commented on #16485
Attached is the error detail…

André Gurjão
agurjao@hotmail.com<mailto:andre@4pontos.com.br>
+351 960 301 725

De: Andre Gurjao
Enviada em: segunda-feira, 2 de julho de 2018 20:33
Para: 'magento/magento2' <reply@reply.github.com>
Assunto: RES: [magento/magento2] One or more indexers are invalid. Make sure your Magento cron job is running. (#16485)

Quite funny the image of your tool bug!! I do lik

[2018-07-02 20:01] MathRat commented on #12412
Same problem here.
is there a solution coming or can you recommend one of the users solution?

[2018-07-02 20:02] denistrator opened #16490 "First line of theme translation file is ignored for some languages"
### Summary
First line of theme translation file (app/design/frontend/Vendor/Theme/i18n/xx_XX.csv) is ignored for some languages. Tested for `en_US`, `he_IL`, `fr_BE` and `ru_RU`. `en_US` works as expected, but `he_IL`, `fr_BE` and `ru_RU` don't.

### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Create FE theme with `he_IL` (Hebrew) locale. Apply it
2. Create `i18n/he_IL.csv` transl

[2018-07-02 20:02] magento-engcom-team commented on #16490
Hi @denistrator. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-02 20:04] ywsw commented on #8241
I had this issue on 2.2.5. The _static-content:deploy_ broke because it could not find email-fonts.css (without css min setting) or email-fonts.min.css (with the css min setting). This error also prevented lots of other stuff from getting compiled as well.

The file email-fonts.less definitely exists.

My solution (temporary) was to create an empty dummy email-fonts.css file in my theme. Once this

[2018-07-02 20:36] hostep commented on #11577
So, let's close this issue which has been open for a long time and was always caused by 3rd party modules (one which was included by default in Magento).

If people still run into this again, read through the thread, there are a lot of solutions suggested in here and I believe the explanation is clear enough to point you in the correct direction of finding the cause of the issue.

Summary for modu

[2018-07-02 20:36] #11577 closed, assigned to nobody

[2018-07-02 20:49] Igloczek commented on #8241
@ywsw this is fixed on `2.3-develop` branch, so don't expect this to work on 2.2

[2018-07-02 20:49] misha-kotov commented on #10041
@boehsermoe It was fixed in 2.2.0. If you're still experiencing this issue, please open a new issue with steps to reproduce on clean Magento.

[2018-07-02 21:40] magento-engcom-team commented on #8222
Hi @Dart18. Thank you for your report.
The issue has been fixed in magento/magento2#16429 by @0m3r in 2.3-develop branch
Related commit(s):
 - [59a80fd02517d0fce844a6334e8d31d36feb6d07](https://github.com/magento/magento2/commit/59a80fd02517d0fce844a6334e8d31d36feb6d07)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-02 21:45] dan-ding commented on #7931
still issue on 2.2.3, 2.2.4, 2.2.5. I've seen cookies payloads from 60 to over 160.

@orlangur I think it IS magento's problem. Mostly because it's magento's code (or what they are delivering). At a minimum it looks like magento produces at least a quarter, if not more, of the the current cookie limit. That's not including paypal, google, etc...

Following the RFC would mean not making the applica

[2018-07-02 21:52] salehawal commented on #16094
i checked all the recently edited php files with my team, turns out that one of the files had a code error unde app/code/ .. the code issue was pure php the developer added code b4 namespace keyword so i commented it and run the command again and it works as expected

however to know where the problem was i had to do 2 things:

1- enable all errors to display on php.ini
2- run the command "bin/mag

[2018-07-02 21:54] DanielRuf commented on #16094
Thanks for sharing your findings.

[2018-07-02 21:57] InternetMedicineMan commented on #15115
@hunterallen No I haven't found a solution. Appears to happen randomly. If a customer calls us about the issue, having them clear their cookies solves the issue. I have no idea why it happens or how to prevent it. But the problem is being caused in the cookies.

[2018-07-02 22:08] subbu1993 commented on #7967
Hello - @magento-engcom-team

Is there an update on this issue ?

Can we expect a fix anytime soon ?

[2018-07-02 22:11] dan-ding commented on #7931
I'm also guessing that non-mobile issues are private browsing.

[2018-07-02 22:12] sambolek commented on #7967
since 2.2.3 breadcrumbs are a JS widget, so might help looking into doing it that way https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/view/frontend/web/js/product/breadcrumbs.js

[2018-07-02 22:41] hunterallen commented on #15115
What happened to me was that a customer was checking out with a new shipping address and a new (but different from shipping) billing address. Once I manually added the address to that customers account the error went away.

[2018-07-02 22:42] cjj25 commented on #13881
I can confirm this issue has now cropped up on 2.2.5

[2018-07-02 22:43] cjj25 commented on #16471
This is a quick fix that worked for me: https://github.com/magento/magento2/issues/13881

[2018-07-02 22:44] jamilex commented on #7617
I'm facing same issue.

Magento 2.2.5
PHP 7.0.30

[2018-07-03 00:12] orlangur commented on #7967
@susmithaN @magento-engcom-team looks like the issue is fixed in `2.2.x`.

[2018-07-03 00:15] orlangur commented on #7931
@dan-ding this is a different story. This bug report was about "Maximum number of cookies would be exceeded" and it is invalid.

If you able to reproduce abnormal cookie amount increase on a vanilla Magento 2 installation, please report a new issue.

[2018-07-03 00:19] orlangur commented on #16485
@andregurjao,

Is Visibility set to "Catalog, Search" for this product or only "Search"?

Well, you definitely should fulfill the error messages prior to reporting any issues. You can read https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html on how to setup cron.

[2018-07-03 00:22] orlangur commented on #16436
This scenario is most likely covered by https://github.com/magento/community-features/issues/23.

[2018-07-03 05:09] webspeaks commented on #15655
@magento-engcom-team Do we have a solution to this? I am having this issue in Magento 2.2.5 CE.

[2018-07-03 05:11] webspeaks commented on #12717
@magento-engcom-team What is the solution to this issue? I am having this issue after upgrading to Magento 2.2.5 CE.

[2018-07-03 05:18] webspeaks commented on #13881
@magento-engcom-team What is the solution to this issue? I am having this issue after upgrading to Magento 2.2.5 CE.

[2018-07-03 05:45] AndreKlang commented on #16427
@engcom-backlog-pb Can you please reference in what issue/commit/pull-request this was solved?

[2018-07-03 05:55] inkobject commented on #11906
This is an old post, but I ran into this issue in 2.2.3.

The note above by Joni was one issue i fixed but that was only a part of my problem.

I was pulling my hair out, as I was also seeing the failed transaction appearing normally and successfuly in my authorize.net account waiting for capture or as captured depending on my back-end settings. The front end would throw and error.

Then I found s

[2018-07-03 06:44] gelanivishal commented on #16479
@Sathishkumar8731 I have figured out the issue. Please create an instance in PR and check it.

Thank you.

[2018-07-03 06:47] abhaykhatariya commented on #4389
It's till existing into magento 2.2.5 when we add cms static block using widget

[2018-07-03 07:08] MattSewing commented on #7967
Hi Guys

As the author of this post, I have come to the conclusion a year on, that it cannot be done. I am not a programmer. But I have asked a lot of programmers the question and have drawn a blank.

After some investigation, I believe this extension will sort the issue out:
https://amasty.com/unique-product-url-for-magento-2.html

We will be launching this extension as part of a bigger upgrade l

[2018-07-03 07:17] engcom-backlog-nickolas commented on #16490
@denistrator, thank you for your report. Unfortunately I'm not able to reproduce this issue with given steps:
![fr_fr](https://user-images.githubusercontent.com/40755810/42204365-296149fa-7eaa-11e8-9430-1a025cb99e6a.png)
![he_il](https://user-images.githubusercontent.com/40755810/42204371-2d6210ac-7eaa-11e8-81ee-667b3264e9f5.png)
Can you please provide more details?

[2018-07-03 07:30] engcom-backlog-nazar commented on #16440
Helllo @lbajsarowicz thank you for your report.
Can you edit the precondition steps set it like:
1->Create custom module
2->Create setup file InstallData.php
3->Define the install() method
4->Create custom attribute
5->Now, let run command line to install the module: php magento setup:upgrade and php bin/magento setup:static-content:deploy
The fix for this issue is already available in the 2.3-dev

[2018-07-03 07:53] engcom-backlog-nickolas commented on #16419
Hello @wintermute-84 , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 07:56] engcom-backlog-nickolas commented on #16400
@Sathishkumar8731, thank you for your report. Unfortunately I'm not able to reproduce this issue with given preconditions and steps to reproduce. Can you please provide more detailed steps? Also links, you've added lead me to 404 page.

[2018-07-03 08:03] #16394 closed, assigned to nobody

[2018-07-03 08:20] orlangur commented on #7967
@MattSewing,

Well, any kind of logic can be done :) But without referer and if product can be assigned to more than one category, logic is really not clear to me.

[2018-07-03 08:20] engcom-backlog-nazar commented on #16406
Hi @kanduvisla The fix for this issue is already available in the 2.3-develop branch.
Thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 08:30] #16442 closed, assigned to nobody

[2018-07-03 08:31] engcom-backlog-nickolas commented on #16382
Hello @VincentMarmiesse, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 08:49] engcom-backlog-nickolas commented on #16380
Hello @vaso123, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 08:55] engcom-backlog-nazar commented on #16377
Hi @etcik1 if you click to Display Settings tab on category edit page and chose  Display Mode to "static block and products", Menu widget is shown in front end.

[2018-07-03 09:05] sduif opened #16496 "Magento 2.2.4 multistore: Admin orders get wrong product name"
### Preconditions

1. Stock Magento 2.2.4

### Steps to reproduce

1. Create second website + store + store view
2. Create new simple product with title "Product name", and enable the product in both websites
3. Switch store view to the second store view and change the title to "Alternative name"
4. Create New Order through the backend for the "Second website"
5. Add product "Alternative name" to

[2018-07-03 09:05] magento-engcom-team commented on #16496
Hi @sduif. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-03 09:08] galanis-a commented on #15110
Just run on this problem on Magento 2.2.0 any solutions?

[2018-07-03 09:12] denistrator commented on #16490
@engcom-backlog-nickolas did you test it on Magento 2.2.4?

[2018-07-03 09:13] OleksiyOleksiyovych commented on #15641
We have a similar issue on one our project.
Magento 2.2.4.
Fix from bug [#12362](https://iwdagency.teamwork.com/#tasks/10853913) did not help to fix this issue (yes, it fixed log out after some quick reload on the checkout page, but not this issue)

Have someone any ideas how to catch and fix this intermittent issue?

[2018-07-03 09:31] WalterSmulders opened #16497 "Magento 2.2.5: Google Analytics not added to head correctly"
### Preconditions

1. Magento version 2.2.5
2. PHP 7.1
3. MariaDB 15.1
4. NginX 1.13.8

### Steps to reproduce

1. Enable Google Analytics trough admin Stores -> Configuration -> Sales -> Google API
2. Fill in account number
3. Save configuration
4. Clear cache

### Expected result

1. Google Analytics JavaScript should be loaded on the frontend

### Actual result

1. Google Analytics isn't added

[2018-07-03 09:31] magento-engcom-team commented on #16497
Hi @WalterSmulders. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-03 09:32] Lakshyami commented on #11511
Issue is still there on 2.2.3

[2018-07-03 09:53] engcom-backlog-nazar commented on #16368
Hi @matin73  thank you for your report.
Maybe the problem in Firegento, looks like the "id" for  regionId field  was wrong value, however we've acknowledged the issue and added to our backlog.

[2018-07-03 09:57] sanganinamrata commented on #14490
@magento-admin, Any solution for this?

[2018-07-03 10:10] sanganinamrata opened #16498 "Product does not added to wishlist after login in Magento version 2.2.x"
### Preconditions

1. Add product to wishlist as a guest user.
2. As per Magento's default behavior, It'll ask you to log in first prior to adding that item to your wishlist.

**Reflacted Magento version: 2.2.x**
**Working properly upto Magento version 2.1.x**

### Steps to reproduce

1. As mentioned in above step

### Expected result

1. After login, the product should be successfully added to ca

[2018-07-03 10:10] magento-engcom-team commented on #16498
Hi @sanganinamrata. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-03 10:17] etcik1 commented on #16377
Hi @engcom-backlog-nazar !

Tested Your solution. Here are results:

Our case:

1. Two store views in two different languages (English and Arabic)
2a. Widget is added in "All store views"
2b.Widget is not added in "All store views"
3. Different widget is added in Arabica store view

2a.
All store views : display mode : Static block and products
English store view : display mode : Products only
Ara

[2018-07-03 10:27] ghost opened #16499 "User role issue with customer group"
While creating a user role for the “customer group”, issue with “customer group” menu for user role(ACL file).
The “customer group” menu is displayed under "customers" menu on the admin side, whereas it is displayed under store > other setting menu while assigning user role.

### Preconditions

1.Magento Version 2.2.2 with sample data
2.PHP 7.0

### Steps to reproduce

1.System > Permission > User

[2018-07-03 10:28] hostep commented on #13881
Indeed, this was added in 2.2.5 in commit https://github.com/magento/magento2/commit/f792ba75046e9f76eb7c27d5c3c4da88511b2feb#diff-41e2de02c84a94334f70de775066b012L135 (in scope of: MAGETWO-77754).

At least we now have some information about this, from the [release notes of 2.2.5](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.5CE.html):

@magento-engcom-team: it would be g

[2018-07-03 10:37] engcom-backlog-nickolas commented on #16490
@denistrator, yes. I've tried to reproduce it on 2.2.4, 2.2.5 and 2.3.0

[2018-07-03 10:39] Vinai commented on #16290
The strings are parsed out of the translation functions by regular expressions, so it is not possible to use variables as the translation string in JavaScript. I think this is how the system is built, probably unlikely that will ever change.

[2018-07-03 10:44] Vinai commented on #9073
In 2.2.5 the js-translation.json file isn't generated at all any more when running `setup:static-content:deploy`.

To reproduce:
* Install Magento 2.2.5 with sample data
* Run `bin/magento deploy:mode:set production`
* Load homepage, watch the console, and see
  `/static/version1530613742/frontend/Magento/luma/en_US/js-translation.json 404 (Not Found)`
* Run `bin/magento setup:static-contend:deplo

[2018-07-03 10:47] prashantvalanda commented on #9307
Temporary work around:

Change your attribute to dropdown from swatch from admin

go to database >> table `eav_attribute_option_swatch`

delete all related swatch attribute row from this table

deploy static content and flush cache.

[2018-07-03 10:49] engcom-backlog-pb commented on #16418
@kkert, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![screenshot_front](https://user-images.githubusercontent.com/40756187/42215677-e6ec66ae-7ec7-11e8-9894-e0d86276f50b.png)
![screenshot_adm](https://user-images.githubusercontent.com/40756187/42215678-e7223284-7ec7-11e8-80c3-785e56b895

[2018-07-03 10:49] #16418 closed, assigned to nobody

[2018-07-03 10:52] matin73 commented on #16368
@engcom-backlog-nazar thanks for reply. Sure, value was set in database by Firegento Magesetup2. But why is Magento checking "TAX-region" value for shipping address. So this must be a bug in latest Magento, because in 2.2.3 it works well.

[2018-07-03 10:52] ghost opened #16501 "Magento 2.2.5 : Admin user is not able to login with customer group user role"
While creating a user role for the “customer group”, issue with “customer group” menu for user role(ACL file).

### Preconditions

1. Magento Version 2.2.5 with sample data
2. PHP 7.0

### Steps to reproduce

1. System > Permission > User Roles
2. Create a role under "Roles Resources" for the “customer group” access (Role only for customer group).
3. Then create a user with the above-specified use

[2018-07-03 10:52] magento-engcom-team commented on #16501
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-03 10:59] engcom-backlog-nazar commented on #16314
Hi @Zyles thank you for your report.
You need to ovveride .less files style. web/css/source/_forms.less in this case i override the contact form.

[2018-07-03 11:32] engcom-backlog-pb commented on #16418
@kkert, a problem may be caused by custom modules or incorrect server configuration. Anyway, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-03 11:37] EBotha1 commented on #12981
@Nicelabsrl what does your XML look like now? I have a similar issue but I am not sure how to implement the change @koenner01 suggested.

[2018-07-03 11:38] engcom-backlog-nazar commented on #16360
Hello @Ananth747, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 11:40] engcom-backlog-nickolas commented on #16501
@emiprotech, thank you for your report and pull request. Can you please specify steps, you've done to achieve actual result? Because I'm not able to reproduce this issue. I've tested it on 2.2.5 with sample data.
Here is my results:
![role](https://user-images.githubusercontent.com/40755810/42217693-d74af600-7ece-11e8-892f-be940a67e5f2.png)
![login](https://user-images.githubusercontent.com/407558

[2018-07-03 11:44] kkert commented on #16418
This is not an custom module its an custom attribute (extra field) from magento default so please look in to it

[2018-07-03 12:02] kanduvisla commented on #16406
For anyone who comes across this thread:

Don't use anonymous class in Magento 2.2: there is a known issue in `setup:di:compile` that will throw an error when you're using anonymous classes.

[2018-07-03 12:06] engcom-backlog-nazar commented on #16362
Hi @minhluan259 thank you for your report.
we've acknowledged the issue and added to our backlog.

[2018-07-03 12:22] engcom-backlog-pb commented on #16383
@Scqualo71, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Only Configurable product settings "Minimum Qty Allowed in Shopping Cart" and "Qty Increments" are used.
Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-07-03 12:28] engcom-backlog-pb commented on #16369
Hello, @Dave4777. Unfortunately, we are closing your issue due to malformed report. If you'd like to update it, please reopen the issue and use the [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2018-07-03 12:28] #16369 closed, assigned to nobody

[2018-07-03 12:32] engcom-backlog-nazar commented on #16312
hi @hxm7094.  the minimum order amount, it's a number when the shipping method must be applicable when you set the 8888  the order amount must be minimum 8888$.
After that shipping method must be show
and the "Show Method if Not Applicable". if you change that to "yes" the shipping method display the notice.  this method works only for countries

[2018-07-03 12:40] emiprotech commented on #16501
Ok let me give you more specification.
1. Create new user then set its user resources.
2. Select only customer groups from resources and save role.
3. Now  login in another browser with new admin user(which you have created) credential you will not able to login successfully.
![user_role](https://user-images.githubusercontent.com/2203580/42220172-dbbd40cc-7eeb-11e8-96d5-d4e88e22cd21.png)

[2018-07-03 12:51] engcom-backlog-nickolas commented on #16501
Hello @emiprotech , thank you for your feedback.
We've acknowledged the issue and added to our backlog.

[2018-07-03 12:53] emiprotech commented on #16501
I have found this solution for that issue and I have submitted pull request. :)

[2018-07-03 12:55] engcom-backlog-nickolas commented on #16501
@emiprotech, great, thanks! May I assign you to this issue?

[2018-07-03 12:56] emiprotech commented on #16501
yes please.

[2018-07-03 13:02] Mahenderpinakisoft opened #16506 "Magneto 2.1.9 Image Upload issue in swatches, which uploading in safari web browser"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

### Actual result

1. [Screenshots, logs or description]

[2018-07-03 13:02] magento-engcom-team commented on #16506
Hi @Mahenderpinakisoft. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-03 13:08] Sathishkumar8731 commented on #5377
Hi Team,

I am facing the same issue in Magento 2.2.4 version. Could you please check and let me know.

[2018-07-03 13:16] Sathishkumar8731 commented on #16400
@engcom-backlog-nickolas

Check the issue in Magento version 2.2.4

**Here are the steps to reproduce the issue**:

1) Login into admin panel and go to Content -> Pages -> Create a new Page

2) Mention the title and URL key field with only one word

**Example:**  Page Title:   returns
                       URL key :    returns

3)  Create a new block or open the existing block

4) Add  the create

[2018-07-03 13:16] engcom-backlog-pb commented on #16499
@emiprotech, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 13:24] engcom-backlog-nickolas commented on #16498
@sanganinamrata, thank you for your report. Unfortunately, I'm not able to reproduce this issue.
Magento 2.2.5
![peek 2018-07-03 16-19](https://user-images.githubusercontent.com/40755810/42222308-7d7dbfc2-7edd-11e8-835f-05d23475783a.gif)
Can you please provide more details or steps to reproduce?

[2018-07-03 13:30] sanganinamrata commented on #16420
@justinwong617 , Hello

I just checked this issue in **Magento version 2.2.3** And its working. Check this product: https://magento.nublue.co.uk/lifelong-fitness-iv.html

[2018-07-03 13:31] kanduvisla commented on #11191
For those who are wondering how to enable JS bundling in production mode, it can still be done using CLI:

    php -f bin/magento config:set dev/js/enable_js_bundling 1

[2018-07-03 13:48] sanganinamrata commented on #16498
@engcom-backlog-nickolas ,

I am facing this issue in **Magento version 2.2.2** specifically.

[2018-07-03 13:54] crtl opened #16507 "Magento 2.2.4 Invalid Date in Order Grid"
### Preconditions

1.  Magento 2.2.4
2. Interface Locale en_US

### Steps to reproduce

1. Go to Sales > Orders
2. Select Filters and filter by `Order Date` `from` and `to`
3. Apply filters
4. Visit another admin page
5. Go back to Orders
6. The active date filter now shows incorrect or even "Invalid Date" values.
7. Applying the filters crashes the grind and in some cases the loader stays forever

[2018-07-03 13:54] magento-engcom-team commented on #16507
Hi @crtl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-07-03 14:06] engcom-backlog-pb commented on #16349
@yongred, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-07-03 14:25] engcom-backlog-pb commented on #16507
@crtl, thank you for your report.
This issue is already fixed in Magento 2.3.

[2018-07-03 14:25] engcom-backlog-nickolas commented on #16400
@Sathishkumar8731, thanks for your reply. I have my test block with a link on CMS home page.
 Can you please correct my steps?
![peek 2018-07-03 17-24](https://user-images.githubusercontent.com/40755810/42225697-d220feba-7ee5-11e8-94e7-fb5c5c3090a3.gif)

[2018-07-03 14:25] engcom-backlog-nazar commented on #16284
Hello @archonkulis, thank you for your report.
This issue is already fixed in Magento 2.3.

[2018-07-03 14:27] #16506 closed, assigned to nobody

[2018-07-03 14:32] engcom-backlog-nickolas commented on #16498
@sanganinamrata, thank you for feedback. Confirm, such bug exists in 2.2.2 version. Unfortunately we can not fix it, as 2.2.2 already has been released.
Still, you may try to upgrade your magento version to latest 2.2.x.

[2018-07-03 14:34] Sathishkumar8731 commented on #16400
@engcom-backlog-nickolas

Thanks for your response. I understood, you insert like an widget. Could you please share the admin login credentials with access of pages and blocks, so that I will create a test page and explain you in detail.

[2018-07-03 14:38] engcom-backlog-nickolas commented on #16400
@magento-engcom-team give me 2.2.4 instance

[2018-07-03 14:38] magento-engcom-team commented on #16400
Hi @engcom-backlog-nickolas. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-03 14:39] magento-engcom-team commented on #16400
Hi @engcom-backlog-nickolas, here is your [Magento instance](https://i-16400-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16400-2-2-4.engcom.dev.magento.com/admin](https://i-16400-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-03 14:41] engcom-backlog-nickolas commented on #16400
@Sathishkumar8731, you may try to use instance mentioned in comment above.

[2018-07-03 14:50] Sathishkumar8731 commented on #16400
@engcom-backlog-nickolas

I have created a custom block in the admin panel.  could you please inform the Magento team to enable that block in front end. And then check the page link and let me know.

[2018-07-03 15:02] engcom-backlog-pb commented on #16315
@mvenghaus, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 15:07] julienvb commented on #14869
I created the folder and file but the issue still persists, did I implement the fix wrongly?
![image](https://user-images.githubusercontent.com/12121188/42228095-6336252c-7ee3-11e8-9095-905e57ca502a.png)

[2018-07-03 15:07] engcom-backlog-nickolas commented on #16400
@Sathishkumar8731, thanks for your help. Now, I see what you mean. But, looks like the problem not with url, but because your page has no layout. So, if you specify layout ex: 1 column - it will work perfectly fine. You can check your page on instance, mentioned above.

[2018-07-03 15:07] BabliDey commented on #16451
Hello @Leandry

![payment_page](https://user-images.githubusercontent.com/24405051/42228077-ac0c745a-7f00-11e8-9bcd-db5cb284f161.png)
![payment_process](https://user-images.githubusercontent.com/24405051/42228092-b6c368ae-7f00-11e8-8565-c50aabf28f85.png)

This is what i am getting there is one error in console log
/V1/guest-carts/805fc9f9ca0925cf34f7ebc5be9f2f5c/payment-information 400 (Bad Reques

[2018-07-03 15:27] ymarc77 commented on #15620
I didn't find a solution, I'm disappointed with this error…

[2018-07-03 15:32] Sathishkumar8731 commented on #16400
@engcom-backlog-nickolas

Thanks. I have checked and it seems to be working.  Without layout mentioned, the page is loading fine now.

Let me cross check the issue once again by installing the fresh Magento package (2.2.4) in my local server and update it you.

[2018-07-03 15:34] engcom-backlog-nickolas commented on #16496
Hello @sduif, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-03 15:37] engcom-backlog-nickolas commented on #16400
@Sathishkumar8731, great, thanks!
About layout, could you please try one more thing? Try to flush cache, after applying changes to CMS page on instance, and you may see the difference.

[2018-07-03 15:54] #16498 closed, assigned to nobody

[2018-07-03 16:09] arjuninfo opened #16509 "Magento 2.2.4 Multishipping Order Confirmation Emails sent only for the first order"
**Summary:**
Currently, I have upgraded the site from Magento 2.1.7 to Magento 2.2.4. After that When I tried to place the order with a different shipping address in Multishipping I  got the Email for the First Order and I didn't receive order confirmation Mail for the second order in Multishipping.

Note: The same functionality was working fine in 2.1.7

**Preconditions**

    Magento 2.2.4 Commu

[2018-07-03 16:09] magento-engcom-team commented on #16509
Hi @arjuninfo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-03 16:18] ywsw commented on #14850
this is not fixed in either 2.2.4 or 2.2.5. I have 2.2.5 and I am running into the same issue. How can this be solved?

[2018-07-03 16:56] jfain189 commented on #7441
I checked the code for my 2.2.5 installation, the changes mentioned in comment #7441 are there but I still don't have control over the order of my configurable values. Anyone else having this issue?

[2018-07-03 17:09] vnahalpara commented on #4617
[Composer\Downloader\TransportException]
  Invalid credentials for 'https://repo.magento.com/archives/ingenico/library-ops-m2/ingenico-library-ops-m2-3.1.2.0.
  zip', aborting.

install [--prefer-source] [--prefer-dist] [--dry-run] [--dev] [--no-dev] [--no-custom-installers] [--no-autoloader] [--no-scripts] [--no-progress] [--no-suggest] [-v|vv|vvv|--verbose] [-o|--optimize-autoloader] [-a|--class

[2018-07-03 17:56] hiteshagrawal84 opened #16511 "Catalog Price Rule not working for magento2 rest api"
### Preconditions

1.  Magento 2.2.5 with Sample Data
2.  php 7.0+

### Steps to reproduce

1.  Create a Catalog Rule
2.  Run the cron and indexing
3.  Check /V1/products/{sku} rest api

### Expected result

1. Catalog rule applied price should come in special_price

### Actual result

1.  It is not coming.

[2018-07-03 17:56] magento-engcom-team commented on #16511
Hi @hiteshagrawal84. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-03 18:10] roma-glushko commented on #7560
Hi Guys!
Please don't remove `date_default_timezone_set('UTC');` from the bootstrap file. This would not fix your data inconstancy, but let Magento shows data in "right" way.

Basically, Magento 2 uses CURRENT_TIMESTAMP as the default value for most of data fields (like created_at/updated_at). To check what is your current timestamp, you can execute the following SQL query:

`SELECT CURRENT_TIMEST

[2018-07-03 18:11] dpoltoratsky opened #16513 "Can not save an inactive Admin User that has no access tokens generated"
### Preconditions
1. Magento version 2.2.3
2. An inactive Admin User that has no access tokens generated

### Steps to reproduce
1. Log in to Admin Panel
2. Navigate to "System" -> "Permissions" -> "All Users"
3. Click on the inactive Admin User
4. Click "Save User"

### Expected result
1. The Admin User is successfully saved

### Actual result
1. The Admin User is not saved
2. Following error mes

[2018-07-03 18:11] magento-engcom-team commented on #16513
Hi @dpoltoratsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-03 18:32] elibyy opened #16514 "Magento 2.2.5 google-analytics.js"
### Preconditions

1. magento 2.2.5

### Steps to reproduce

1.Install magento using `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition <installation directory name>
` or download it from [here](https://magento.com/tech-resources/download)
2. see that the file vendor/magento/module-google-analytics/view/frontend/web/js/google-analytics.js is not m

[2018-07-03 18:32] magento-engcom-team commented on #16514
Hi @elibyy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-03 18:39] elibyy commented on #16514
@magento-engcom-team I confirm I've provided any information needed

[2018-07-03 20:42] michaelDWarnick commented on #15509
@pini-girit Thanks for providing a fix... to clarify for anyone who needs it.

(fyi, i am using the Porto theme on Magento 2.2.4)

Step 1. Find and open file: app/code/Smartwave/Porto/Block/Template.php ("/Smartwave/Porto/" are my specific theme folders)

At the bottom, and just before the closing ?> tag, i added snippet #1 from @pini-girit 's post [here](https://magento.stackexchange.com/question

[2018-07-03 20:59] lucasgonzalez opened #16516 "Big Performance issue with query pagination"
### Preconditions

1. Magento v 2.2.2 (and probably any other version)

### Steps to reproduce

1. Every collection using the limit offset to paginate the results

### Expected result

1. Not run a SELECT COUNT(*) on the entire collection if I just ask for 10 items

### Actual result

1. SELECT COUNT(*) is run against the entire collection

The code with the bug is:

[code]

Basically that code is

[2018-07-03 20:59] magento-engcom-team commented on #16516
Hi @lucasgonzalez. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-03 21:24] orlangur commented on #16516
@lucasgonzalez regarding the "an invalid page, the right behavior should be to return an empty collection" this has already been reported, there are a couple of WIP PRs on this matter now.

Regarding performance of `SELECT COUNT(*)`, there is no such issue, we should do it to determine amount of pages and it is not a heavy operation having appropriate indexes.

[2018-07-03 21:24] #16516 closed, assigned to nobody

[2018-07-03 21:27] #16514 closed, assigned to nobody

[2018-07-03 21:40] greenleafmedia commented on #16368
I too am getting this for region '95' after upgrading from 2.2.0 to 2.2.5 .  When you go into the admin the State is no select in the address book and the numbers of the States are 1 - 65.

[2018-07-03 21:42] lucasgonzalez commented on #16516
I do not know why the issue is closed.

Clearly we expect different result in the performance. Having to wait for a count(*) to finish when there is no real need for it, is not ok. Please explain why we need to wait for the count if I just want the first 10 results?

Also how do you create a proper index if you are not filtering for anything?

I just try a SELECT COUNT(*) in a database using Amazo

[2018-07-03 21:45] VladimirZaets commented on #14593
Hi @apomili. Thank you for your report.
The issue has been fixed in magento/magento2#16477 by @0m3r in 2.2-develop branch
Related commit(s):
 - [8399f63ab93c361349b4f681b3817e59ce35abc3](https://github.com/magento/magento2/commit/8399f63ab93c361349b4f681b3817e59ce35abc3)
 - [a6a17d317255e472725fcec5e585154041c8de68](https://github.com/magento/magento2/commit/a6a17d317255e472725fcec5e585154041c8de6

[2018-07-03 21:45] #14593 closed, assigned to nobody

[2018-07-03 21:45] VladimirZaets commented on #15218
Hi @densen45. Thank you for your report.
The issue has been fixed in magento/magento2#15464 by @nuzil in 2.2-develop branch
Related commit(s):
 - [d790198da9b7a4fc665f17140b17c88598ec08fe](https://github.com/magento/magento2/commit/d790198da9b7a4fc665f17140b17c88598ec08fe)
 - [1f664218cf038d927ef9873de8b1ea6105931c2e](https://github.com/magento/magento2/commit/1f664218cf038d927ef9873de8b1ea6105931

[2018-07-03 21:45] #15218 closed, assigned to nobody

[2018-07-03 21:46] #16007 closed, assigned to nobody

[2018-07-03 22:17] greenleafmedia commented on #16368
@martin73 - Is the record you are having issues with related to the state of Wisconsin in any way?

Here's what I'm seeing.  Record 95 in `directory_country_region` has a code of "WI".  This is the same as record 64 for Wisconsin.  I wonder if there was a bug at some point where it was looking things up just by `code`, pulled the wrong one and stored 95 instead of 64.  Perhaps it has been updated

[2018-07-04 02:21] #15819 closed, assigned to nobody

[2018-07-04 02:39] versdivers commented on #10605
Well i am running a production website that merges everything. I still have the normal pub/static/frontend/vendor/theme/store/... filles and i also have the merged filles. If i have some time i will dig into the code to see where we can adjust some things. If i do not forget it. For now my biggest problem is solved with the update of Klarna module with composer

[2018-07-04 03:42] ankitdbst commented on #16455
@engcom-backlog-nickolas : Thanks for checking the issue.
I tried to reproduce this on a Vanilla instance running the aforementioned Magento 2.1.11 version and I am still able to reproduce the issue.

Below is the `di.xml` excerpt:
[code]

I used the same `TestPlugin` as you have provided and I observed the error. If i change the `disabled` flag to `true`, the `POST` works fine.

[2018-07-04 04:06] matin73 commented on #16368
@greenleafmedia - the issue is because of entry in table "core_config_data" and row "path" -> tax/defaults/**region** . Magento is somehow checking if there is any entry with "region" in table. I think there is an sql query with "AND path LIKE '%region%'" or something like this. If I rename value tax/defaults/region to tax/defaults/rxegion  error is not shown. So it must be the word "region" in va

[2018-07-04 04:54] TBSMage commented on #16501
I am facing the same issue but Provided commit doesn't work for me ! Any other workaround ?

[2018-07-04 04:55] Mahenderpinakisoft opened #16519 "Magento 2.1.9 image upload not working in swatches when using safari web browser"
### Preconditions

1. Magento version 2.1.9
2.Safari Web Browser

### Steps to reproduce

1. Log in to Admin Panel
2. Navigate to "Store" -> "Product" -> "Choose Color Product Attribute"
3. go to "Manage Swatch (Values of Your Attribute)"
![fireshot capture 28 - color _ product attributes _ attribute_ - http___localhost_magento-ce-2 1 13](https://user-images.githubusercontent.com/40623041/42257139

[2018-07-04 04:55] magento-engcom-team commented on #16519
Hi @Mahenderpinakisoft. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-04 05:21] Lakshyami commented on #11511
Seems its working with changing Store->Configuration->Customers->Customer Configuration->Account Sharing Options in to 'Per Website'. (version 2.2.3)

[2018-07-04 05:36] sanganinamrata commented on #16498
@engcom-backlog-nickolas - Ok, I'll upgrade my Magento version to have a fix.

Thanks :)

[2018-07-04 05:52] nimitaemipro commented on #16501
@TBSMage what you have changed in your file ?

[2018-07-04 06:06] TBSMage commented on #16501
I modified `acl.xml` for customer.

`<acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer" title="Customers" translate="title" sortOrder="40">
                    <resource id="Magento_Customer::manage" title="All Customers" translate="title" sortOrder="10" />
                    <resource id="Magento_Customer::online

[2018-07-04 06:32] engcom-backlog-nickolas commented on #16455
@ankitdbst, thanks for feedback. I've checked again on 2.1.11. And still cannot get error message from "Actual Result"
![peek 2018-07-04 09-29](https://user-images.githubusercontent.com/40755810/42260364-cc6ab506-7f6c-11e8-8e34-629022f072a4.gif)

[2018-07-04 06:39] magemanish commented on #8465
Hi,
Please check table "customer_entity" and check column 'failures_num',first_failure,lock_expires.
if not available than create
'failures_num', smallint(6) default 0
first_failure timestamp default NULL
lock_expires. imestamp default NULL

after that run reindex command

[2018-07-04 06:41] magemanish commented on #5847
Hi,
My issue has been resolve.

Please check table "customer_entity" and check column 'failures_num',first_failure,lock_expires.
if not available than create
'failures_num', smallint(6) default 0
first_failure timestamp default NULL
lock_expires. imestamp default NULL

after that run reindex command

[2018-07-04 07:02] emiprotech commented on #16499
@engcom-backlog-pb
I have a solution for this issue , Can you assign me this issue ?

[2018-07-04 07:17] engcom-backlog-nickolas commented on #16345
Hello @bansavage , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 07:26] rohitkundale opened #16522 "Breadcrumb and product image not showing while using Quataion mark(") in product name"
### Preconditions

1. Magento version 2.2.5
2. Any compatible web browser

### Steps to reproduce

1. Log in to Admin Panel
2. Navigate to "Catalog" -> "Products" -> "Open Any Product"
3. Add Quataion mark(**"**) symbol in product name.
4. Click on *Save*
![2018_07_04_admin-view](https://user-images.githubusercontent.com/10629382/42262363-b5df5dc0-7f88-11e8-9b25-3ec7cc5ed626.png)

### Expected res

[2018-07-04 07:28] engcom-backlog-nickolas commented on #16497
@WalterSmulders, thank you for your report. I've checked this issue on Magento 2.2.5, and google-analytics.js loads for me on storefront just fine.
![source](https://user-images.githubusercontent.com/40755810/42262781-fd8aa634-7f74-11e8-86c7-da4872e5c07c.png)
![js](https://user-images.githubusercontent.com/40755810/42262783-ff5d3e7c-7f74-11e8-95a0-629722a4d3a3.png)

[2018-07-04 07:34] MaximilianSchwarz commented on #16368
I have the same issue in mamgento 2.2.5. I get the message:
Error message: Please check the shipping address information. Invalid value of "GB" provided for the regionId field.

[2018-07-04 07:44] engcom-backlog-nazar commented on #16227
@ravikiranpullela , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2018-07-04 07:45] #16227 closed, assigned to nobody

[2018-07-04 07:50] ishakhsuvarov commented on #16497
Adding link to the Pull Request where this was introduced: https://github.com/magento/magento2/pull/14293

[2018-07-04 08:17] engcom-backlog-pb commented on #16499
@emiprotech, of course. Feel free to create pull-request.

[2018-07-04 08:20] engcom-backlog-nickolas commented on #16522
@rohitkundale, thank you for your report. This issue already fixed in 2.3-develop, 2.2-develop and will be available in next release of 2.2.x(2.2.6)

[2018-07-04 08:20] #16522 closed, assigned to nobody

[2018-07-04 08:37] BabliDey opened #16523 "Zero Subtotal checkout with coupon value greater than cart total is not working."
### Preconditions

1. Magento 2.2.3
2. 10.0.32-MariaDB-0

### Steps to reproduce

1. Added a coupon code of flat discount of 25 euro
2. Enabled Zero Subtotal Checkout form store > configuration > sales > payment methods
3. Added product to cart of 18 euro applied the coupon code as a whole the total amount to be
paid is zero including shipping.
4. Added shipping details and in next step the No pay

[2018-07-04 08:37] magento-engcom-team commented on #16523
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-04 08:37] engcom-backlog-nickolas commented on #16513
Hello @dpoltoratsky, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 08:38] orlangur commented on #16516
Because last page must be obtained according to current logic and it cannot be removed out of the blue.

The issue is closed because such collection behavior is already reported and because count cannot be removed without losing functionality.

[2018-07-04 08:45] engcom-backlog-pb commented on #16295
@mtbottens, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![image](https://user-images.githubusercontent.com/40756187/42266655-b5cf6bbc-7f7f-11e8-9815-6af1baab0268.png)

[2018-07-04 08:59] engcom-backlog-pb commented on #16290
@ekiba, thank you for your report.
It seems like @Vinai is right and this is not a bug. If you want to add such functionality to Magento, feel free to create pull request.

[2018-07-04 09:00] osrecio commented on #13948
@magento-engcom-team give me 2.2.0 instance.

[2018-07-04 09:00] magento-engcom-team commented on #13948
Hi @osrecio. Thank you for your request. I'm working on Magento 2.2.0 instance for you

[2018-07-04 09:00] magento-engcom-team commented on #13948
Hi @osrecio, here is your [Magento instance](https://i-13948-2-2-0.engcom.dev.magento.com).
Admin access: [https://i-13948-2-2-0.engcom.dev.magento.com/admin](https://i-13948-2-2-0.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-04 09:09] praveen-chelumalla opened #16525 "Custom created attributes unable to assign the parent product."
### Description

The selected child products are unable to display in parent product means when we are creating a configurable product while we select attribute and then selecting an option, then generate simple products till now not any issues but after save the product price will blank and 0 simple products can display.

### Sample Code

Create Attribute :

[code]
Option Source Model :

[code]
#

[2018-07-04 09:09] magento-engcom-team commented on #16525
Hi @praveen-chelumalla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-04 09:29] engcom-backlog-nazar commented on #16221
Hello @AdminLinenStoreyou need to create own tax class and set the product to this none class tax, When i tested it everything worked fine

[2018-07-04 09:34] maartjegroen commented on #10395
@megubyte I am left wondering about some other fields too. A quick search in my Magento (2.1) installation resulted in the following list.

| table name | field name |
| --- | --- |
| admin_user_session | ip |
| password_reset_request_event | ip |
| quote | remote_ip |
| rating_option_vote | remote_ip |
| sales_order | remote_ip |
| sales_order | x_forwarded_for |
| sendfriend_log | ip |

[2018-07-04 09:45] paragpadsumbiya commented on #16525
@praveen-chelumalla Have you assign your custom attribute to any attribute set as at time of Product create we select attribute set and based on that attributes display .

[2018-07-04 10:04] engcom-backlog-nickolas commented on #16523
@BabliDey, thank you for your report. Unfortunately I'm not able to reproduce this issue.
When I try to apply coupon without 'Free Shipping', then I get this picture on checkout:
![screenshot_5](https://user-images.githubusercontent.com/40755810/42270833-7955bb4a-7f8a-11e8-85d2-020bb0f46758.png)
and I can place order without any problems.

And if I add 'Free Shipping' to rule,
![free shipping conf

[2018-07-04 10:06] quisse commented on #16388
@naydav any idea why this is badly refactored or if i can create a PR which puts the free shipping check back?

[2018-07-04 10:07] quisse commented on #16242
Any update on this?

[2018-07-04 10:08] engcom-backlog-nazar commented on #16198
Hi @vincent2090311 this issue has been fixed in 2.3.x version
thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 10:08] quisse commented on #12371
@okorshenko

[2018-07-04 10:21] rkp1610 opened #16528 "temp"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-07-04 10:21] magento-engcom-team commented on #16528
Hi @rkp1610. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-04 10:29] engcom-backlog-pb commented on #16302
@BenSpace48, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 10:30] Jilco commented on #15110
After a new attempt after one day it did go wel, i still don't know the root cause....

________________________________
Van: Antonis Galanis <notifications@github.com>
Verzonden: dinsdag 3 juli 2018 11:09
Aan: magento/magento2
CC: Jilco; Author
Onderwerp: Re: [magento/magento2] Upgrade Magento 2.2.3 to 2.2.4 breaks Warning: Division by zero in /vendor/magento/module-tax/Model/Calculation/Abstract

[2018-07-04 10:30] #16528 closed, assigned to nobody

[2018-07-04 10:31] BabliDey commented on #16523
What i found that it is not getting $this->getMethod() value in
root\vendor\magento\module-payment\Model\Info.php in
public function getMethodInstance() function.

[2018-07-04 10:37] engcom-backlog-pb commented on #16269
@gobyweb2, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-04 10:37] #16269 closed, assigned to nobody

[2018-07-04 10:40] ob7 commented on #12866
2.2.6 - still an issue

[2018-07-04 10:42] #16259 closed, assigned to nobody

[2018-07-04 10:44] #16314 closed, assigned to nobody

[2018-07-04 10:51] BabliDey commented on #16523
Get requst to
       https://www.example.de/rest/examplede/V1/guest-carts/3d167ff3baa49eb642f83c4c04cacb61/payment-information

Showing

`{
    "payment_methods": [
        {
            "code": "hgwdds",
            "title": "SEPA Lastschrift"
        },
        {
            "code": "hgwivs",
            "title": "Kauf auf Rechnung"
        },
        {
            "code": "amazon_payment",

[2018-07-04 10:54] sanganinamrata opened #16529 "Rewriting product listing widget block breaks its template rendering."
### Preconditions

1. Magento version **2.2.x**

### Steps to reproduce

1. For some customisation, I've rewrite block of **Magento\CatalogWidget\Block\Product\ProductsList** to
**Mycompany\Mymodule\Block\Product\ProductsList** in front-end's **di.xml**.
2. Now Added below **product listing widget** in backend **CMS block**:

1. https://www.screencast.com/t/OWr5hKuSa4

### Expected result

The wid

[2018-07-04 10:54] magento-engcom-team commented on #16529
Hi @sanganinamrata. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-04 10:57] BabliDey commented on #16523
Same issue is placed here for other version https://github.com/magento/magento2/issues/7536

[2018-07-04 11:03] praveen-chelumalla commented on #16525
Yes assigned default attribute set.

[2018-07-04 11:19] engcom-backlog-nickolas commented on #16523
@magento-engcom-team give me 2.2.3 instance

[2018-07-04 11:19] magento-engcom-team commented on #16523
Hi @engcom-backlog-nickolas. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-07-04 11:19] magento-engcom-team commented on #16523
Hi @engcom-backlog-nickolas, here is your [Magento instance](https://i-16523-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-16523-2-2-3.engcom.dev.magento.com/admin](https://i-16523-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-04 11:20] engcom-backlog-nickolas commented on #16523
@BabliDey, can you please reproduce this issue on clean [instance](https://i-16523-2-2-3.engcom.dev.magento.com/admin) mentioned above?

[2018-07-04 11:30] engcom-backlog-nazar commented on #16089
Hi @Toregam i can't reproduce with yours scenarios steps, can you show the csv file ?

[2018-07-04 11:33] sidolov commented on #8222
Hi @Dart18. Thank you for your report.
The issue has been fixed in magento/magento2#16491 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [f0a8ba84cc4d7c1dd3b75ba96bb384ed8f21afbe](https://github.com/magento/magento2/commit/f0a8ba84cc4d7c1dd3b75ba96bb384ed8f21afbe)
 - [f388069c626ab312ee6879f39616deb37426c780](https://github.com/magento/magento2/commit/f388069c626ab312ee6879f39616deb3

[2018-07-04 11:33] sidolov commented on #16079
Hi @mageho. Thank you for your report.
The issue has been fixed in magento/magento2#16229 by @Karlasa in 2.1-develop branch
Related commit(s):
 - [d09dbe43f20e8a1ef8b943a6d4db181d780860df](https://github.com/magento/magento2/commit/d09dbe43f20e8a1ef8b943a6d4db181d780860df)
 - [f5230328a387adb4c5c4bf454802b7cd3f12ea0f](https://github.com/magento/magento2/commit/f5230328a387adb4c5c4bf454802b7cd3f12e

[2018-07-04 11:33] engcom-backlog-nickolas commented on #16511
@hiteshagrawal84, thank you for your report. rest/V1/products/{sku} it's admin endpoint, and catalog price rules apply on storefront on the fly. If you take a look at product on product edit page in admin area, there will be no special price to.

[2018-07-04 11:36] mdesplenter opened #16531 "[Magento 2.2.5 - 2.3.x] Upload fails in image uploader"
### Additional Triage information
- Issue was re-verified on the lates `2.3-develop` (16 Oct 2019) for more details see https://github.com/magento/magento2/issues/16531#issuecomment-542557283

**Summary**
When uploading an image in the uploader, the error "File validation failed." is shown. This error appeared after updating to 2.2.5.

**Preconditions**
PHP Version 7.0.1
Magento ver. 2.2.5
Make fu

[2018-07-04 11:36] magento-engcom-team commented on #16531
Hi @mdesplenter. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-04 11:40] engcom-backlog-nazar commented on #16072
Hi @msptrooper911 i can't reproduce with yours scenarios steps, can you write more information about this ?

[2018-07-04 11:41] engcom-backlog-nickolas commented on #16330
Duplicate [16345](https://github.com/magento/magento2/issues/16345)

[2018-07-04 11:41] #16330 closed, assigned to nobody

[2018-07-04 11:50] BabliDey commented on #16523
Hello @engcom-backlog-nickolas , not able to reproduce this in the fresh installation
https://i-16523-2-2-3.engcom.dev.magento.com/admin.

Mine was upgraded with all the data of 2.1.8 to 2.2.3.

[2018-07-04 11:56] mdesplenter commented on #16531
@magento-engcom-team give me 2.2.5 instance

[2018-07-04 11:56] magento-engcom-team commented on #16531
Hi @mdesplenter. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-04 11:57] magento-engcom-team commented on #16531
Hi @mdesplenter, here is your [Magento instance](https://i-16531-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16531-2-2-5.engcom.dev.magento.com/admin](https://i-16531-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-04 11:58] emiprotech commented on #16249
I want to work on this issue. please assign me

[2018-07-04 12:00] magento-engcom-team commented on #16174
Hi @tiagosampaio. Thank you for your report.
The issue has been fixed in magento/magento2#16412 by @tiagosampaio in 2.3-develop branch
Related commit(s):
 - [e04b7ca8077fcbd269ad2e2f3515af12f7beaba9](https://github.com/magento/magento2/commit/e04b7ca8077fcbd269ad2e2f3515af12f7beaba9)
 - [447667fccfdcbba86dbbd0e5d58d33bc9d8fc1e7](https://github.com/magento/magento2/commit/447667fccfdcbba86dbbd0e5d5

[2018-07-04 12:00] magento-engcom-team commented on #15348
Hi @neeta-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15732 by @vijay-wagento in 2.3-develop branch
Related commit(s):
 - [5822e4422213a4bacfccce41df3c8e87ccc7da1a](https://github.com/magento/magento2/commit/5822e4422213a4bacfccce41df3c8e87ccc7da1a)
 - [4847b463a6e1305636f99455de45f296840ee979](https://github.com/magento/magento2/commit/4847b463a6e1305636f99455

[2018-07-04 12:03] mritu19 opened #16532 "Configurable product: Get swatch attributes in list.phtml takes too much time"
**Preconditions**
Magento CE 2.2.0
PHP 7.0.23-1

Database migrated from 1.9.2 to 2.2.0

Checked with different instances and various versions.
Configured highest possible server configuration.

-We have one 'classicrings' category, there are only 12 configurable products. Each configurable product containing minimum 1100 simple products, some of them have more than 1500 simple products and total m

[2018-07-04 12:03] magento-engcom-team commented on #16532
Hi @mritu19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-04 12:31] engcom-backlog-nazar commented on #16018
Hello @ktruehl The fix for this issue is already available in the 2.2-develop branch
thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 12:36] lucasgonzalez commented on #16516
let me clarify because I still do not know if someone will try to fix it or not.

First you said that it is not an issue -> which means that nobody is going to try to fix it
Now you said that it is an issue but it is already reported -> this means that someone at some point will try to fix it.

Which one is the real answer? I really need to know to see how I will try to fix it for my specific case

[2018-07-04 12:36] engcom-backlog-nickolas commented on #16285
Hello @TBSMage, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 12:38] engcom-backlog-pb commented on #16249
@drew7721, thank you for your report.
This issue is already fixed. Please update your instance to the latest version.
![image](https://user-images.githubusercontent.com/40756187/42277476-2a35dd90-7fa0-11e8-982f-84d47d9e24d6.png)

[2018-07-04 12:38] ghost opened #16533 "After Unhold Order , Order status empty"
Preconditions
Magento CE 2.2.3
PHP 7.0.30-1+0~20180505045735.18+stretch~1.gbpcfecb9

### Steps to reproduce
From order, view click on **Hold** button so order status is **Hold** , Now Click on "Unhold" button/
Then after order status is empty https://prnt.sc/k2g1ak.

### Expected result
Order status must be pending
### Actual result

Order status empty https://prnt.sc/k2g1ak

[2018-07-04 12:38] magento-engcom-team commented on #16533
Hi @navinbhudiya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-04 12:38] hiteshagrawal84 commented on #16511
Yes but it should work in api , as api will use in 3rd party application like android app or other applications , so price should come perfectly whatever it is displaying in storefront.

[2018-07-04 13:00] mritu19 commented on #16532
@magento-engcom-team , we have also attached the variations list of one of the configurable product, for your reference :

![image](https://user-images.githubusercontent.com/32297749/42278418-5f5a5420-7fb8-11e8-8412-caeb37ee2956.png)

[2018-07-04 13:05] Gurdit commented on #16457
Thanks @Leandry

[2018-07-04 13:07] engcom-backlog-pb commented on #16533
@userName, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![peek 2018-07-04 16-04](https://user-images.githubusercontent.com/40756187/42278694-5c52a516-7fa4-11e8-8df6-cc4485ac776f.gif)

[2018-07-04 13:07] #16533 closed, assigned to nobody

[2018-07-04 13:09] DenyVeyten opened #16535 "There is no ability to control order of mixins applying"
https://github.com/magento/magento2/blob/a021f0f5a9bbe8769496528b7d07450a553832c2/lib/web/mage/requirejs/mixins.js#L126

The Object.keys() method returns an array of a given object's property names, in the same order as we get with a normal loop ([source](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/keys)).

A for...in loop iterates over the properties of

[2018-07-04 13:09] magento-engcom-team commented on #16535
Hi @DenyVeyten. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-04 13:10] DenyVeyten commented on #16535
One of solution (not very well) is to set some type of `sortOrder` as integer for mixins like

`"mixin_name": 25`

[2018-07-04 13:12] orlangur commented on #16535
This is intended behavior. Similar to observers, if order of mixin calls matters, they are written the wrong way.

[2018-07-04 13:14] orlangur commented on #16532
@kandy was this improved recently? I remember some improvements in changelog related to configurable product performance.

[2018-07-04 13:18] Gurdit opened #16536 "Product rest api is not returning results in magento 2.2.5"
### Preconditions

1. Magento 2.2.5
2. php 7.0.30

### Steps to reproduce

1. Hit Product rest api for 200k products with pageSize = 0 to return full 200k items.
2. Consumer Key : **[redacted]**
3. Consumer Secret : **[redacted]**
4. Access Token : **[redacted]**
5. Access Token Secret : **[redacted]**

 `$requestUrl='**[redacted]**/rest/V1/products?searchCriteria=0&searchCriteria[filter_groups][0

[2018-07-04 13:18] magento-engcom-team commented on #16536
Hi @Gurdit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-04 13:19] Gurdit commented on #16536
yes @magento-engcom-team give me 2.2.5 instance

[2018-07-04 13:19] magento-engcom-team commented on #16536
Hi @Gurdit. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-04 13:20] magento-engcom-team commented on #16536
Hi @Gurdit, here is your [Magento instance](https://i-16536-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16536-2-2-5.engcom.dev.magento.com/admin](https://i-16536-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-04 13:30] xi-ao commented on #2540
And still experiencing this on **2.2.3**.

[2018-07-04 13:33] Gurdit commented on #16536
@magento-engcom-team I cannot import 200k+ products on provided Vanilla instance, so I'm unable to reproduce the issue on your test server.

[2018-07-04 13:36] engcom-backlog-nickolas commented on #16529
Hello @sanganinamrata, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-04 13:42] engcom-backlog-nazar commented on #16134
Hi @LouNik1984 When i flush cache in admin (system-> cache management) urls was right, however the error in cli it not right, and the fix for this issue is already available in the 2.3-develop branch, so we've acknowledged the issue and added to our backlog.

[2018-07-04 13:46] patelnimesh1988 commented on #5037
I am working on this issue

[2018-07-04 13:50] engcom-backlog-nickolas commented on #16523
@BabliDey, I've tried such steps:
1. Install Magento 2.1.8.
2. Create customer, product, cart price rule with coupon code and fixed discount = 25.
3. Create simple product price = 18.
4. Create couple orders with created product using coupon for discount.
5. Upgrade Magento to 2.2.3.
7. Create order with created product using coupon for discount.
No errors occurred. Orders have been placed success

[2018-07-04 13:50] #16523 closed, assigned to nobody

[2018-07-04 13:55] 666triv commented on #16531
im getting this error on the category section. On the content tab after selecting my image for the category i get the exact same error on an image that worked in 2.2.4

[2018-07-04 14:05] engcom-backlog-pb commented on #16531
@mdesplenter, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-04 14:07] engcom-backlog-nazar commented on #16377
@etcik1 you must add "All Store" view as default or set  store view where you want to display the widget, then on display mode you need choose what to show, for me that works. Did you enable the url options to store view code ? store -> configuration -> general -> web-> url options -> Add Store Code to Urls
then enter to web browser your code to store view english or arabic  and check the result.

[2018-07-04 14:09] engcom-backlog-pb commented on #16218
@MCReynolds73, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-04 14:09] #16218 closed, assigned to nobody

[2018-07-04 14:10] orlangur commented on #16536
`pageSize = 0 ` why it should return all products?

[2018-07-04 14:25] herod2k opened #16538 "Magento 2.2.x setup get in a loop using /pub"
### Preconditions
1. Magento 2.2.5 (but I have also tried it in Magento 2.2.4 and 2.2.0)
2. Php 7.1.19
3. Apache 2.4.33
3. Operating system: Fedora 28

### Steps to reproduce
1. Download last version of Magento 2.2 from (https://magento.com/tech-resources/download)
2. Decompress it in your public_html folder (we get the error also installing Magento trough Composer)
3. Configure your virtualhost l

[2018-07-04 14:28] Tofandel commented on #4978
I can confirm this issue, same happens with my server, 32Go of ram + 16Go swap and i7 8 core cpu, a normal size store, yet randomly when some magento cron run there is a spike of cpu and memory usage at 32Go..

![image](https://user-images.githubusercontent.com/6115458/42282586-4fa752dc-7fa7-11e8-8e34-9704c985ed28.png)

It's crashing every other website on this server because of this and makes the

[2018-07-04 14:30] Tofandel commented on #4978
I believe it's https://github.com/magento/magento2/issues/15190

[2018-07-04 14:32] 666triv commented on #16531
I tried uploading an image in the category section and it worked but this is a 2.2.6-dev instance. On 2.2.5 it gives the error. And this applies to any category you upload an image to.

[2018-07-04 14:40] engcom-backlog-pb commented on #16531
@666triv we are testing on clean 2.2.5 installation and all goes well/

[2018-07-04 14:45] Tofandel commented on #11002
Referenced here https://github.com/magento/magento2/issues/15190
and here https://github.com/magento/magento2/issues/4978

Please @magento-engcom-team do something or at least reply, that snowball effect is crashing a lot of servers worldwide ;)

**Workaround to minimize the impact :**
Run the cron with "flock -w 1 cron.lock php bin/magento cron:run" this cron should be run every minute (it's very

[2018-07-04 14:52] ajankuv commented on #11002
@Tofandel These people just don't care.

[2018-07-04 14:53] DenyVeyten commented on #16535
@orlangur thanks for reply, seems like it's very true, just mixins can be used for rewriting some methods of component, so this is just wrong usage of mixins when two mixins rewrite one method of original component? Or they must be written in the way where calls order really don't matter even when rewritting occurs?

[2018-07-04 14:54] gelanivishal commented on #16419
@magento-engcom-team give me 2.2.4 instance

[2018-07-04 14:54] magento-engcom-team commented on #16419
Hi @gelanivishal. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-04 14:54] engcom-backlog-nickolas commented on #16214
@mhaack, thank you for your report. In order to remove product from cart, you may try to use DELETE /rest/V1/guest-carts/:cartId/items/:itemId.
PUT /rest/V1/guest-carts/:cartId/items/:itemId not intended to remove items from cart.

[2018-07-04 14:55] magento-engcom-team commented on #16419
Hi @gelanivishal, here is your [Magento instance](https://i-16419-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16419-2-2-4.engcom.dev.magento.com/admin](https://i-16419-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-04 15:01] herod2k commented on #16538
@magento-engcom-team it is an installation/configuration bug, I can't reproduce it on a vanilla Magento instance

[2018-07-04 15:02] gelanivishal commented on #16419
@wintermute-84 I have checked in v2.2.4 instance it is working well. Please check it.

[2018-07-04 15:07] engcom-backlog-nickolas commented on #16400
@Sathishkumar8731, I'm closing this issue. If you'd like to update it, please fill free to reopen it.

[2018-07-04 15:07] #16400 closed, assigned to nobody

[2018-07-04 15:12] kandy commented on #11002
@Tofandel @ajankuv I believe that most of cron related issues were fixed in 2.2.5 (except default lifetime for records).  Can you confirm that you try to reproduce it on this version?

[2018-07-04 15:15] Tofandel commented on #11002
No I'm on version 2.2.3, I was preparing an update to 2.2.5 but I didn't see the cron fix in any changelog
@kandy

[2018-07-04 15:23] astragt commented on #10687
Quick heads up for anyone who finds this issue because their image roles randomly disappears but you are not doing anything with the productRepository.

Its enough that a Class that you are using i saving though the product repository to lose your image roles.

I saved tier prices through Magento\Catalog\Model\Product\ScopedTierPriceManagement and this is using the product repository so i lost my

[2018-07-04 15:30] mhaack commented on #16214
I‘m aware of the DELETE method.
However sending a PUT with qty 0 should not set quantity to 1? That why I suggest to remove the item for such a case. Alternatively the PUT has the return an error that 0 is no valid value in this context.

[2018-07-04 15:46] act3602281 commented on #5929
I am on 2.2.4, I duplicated an existing product, save and then try to edit the URL. It does the same thing as orginal issue it shows the new URL but it really doesn't update.

[2018-07-04 15:48] kandy commented on #11002
It was done by community in https://github.com/magento/magento2/pull/12497 PR

[2018-07-04 15:50] pczerkas commented on #7441
This is caching issue (2.2.4+). If var/cache is cleared after reordering attribute option values in the backend, then the changes are in effect on the frontend.

Maybe automatic tests should take a caching layer into account?

[2018-07-04 15:51] herod2k opened #16539 "Wrong currency in a multi-view / multi-currency store"
### Preconditions
1. Magento 2.2.5 (vanilla) with sample products
2. Php 7.1.19
3. Apache 2.4.33
4. Operating system: Fedora 28

### Steps to reproduce
1. Install Magento 2.2.5 with sample products
2. During the installation configure Magento with dollars as default currency
![image](https://user-images.githubusercontent.com/3713164/42285619-144b7d02-7fa8-11e8-8f67-28e5a44744ce.png)
3. Once instal

[2018-07-04 15:51] magento-engcom-team commented on #16539
Hi @herod2k. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-04 15:52] herod2k commented on #16539
@magento-engcom-team give me 2.2.5 instance

[2018-07-04 15:52] magento-engcom-team commented on #16539
Hi @herod2k. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-04 15:53] magento-engcom-team commented on #16539
Hi @herod2k, here is your [Magento instance](https://i-16539-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16539-2-2-5.engcom.dev.magento.com/admin](https://i-16539-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-04 15:53] LouNik1984 opened #16541 "using soap, product is created but description field is empty"
### Preconditions
Magento 2.2.2 with one website, one store and two storeviews on ubuntu/nginx/php7

### Steps to reproduce
- call soap service and pass the data of the product you want to create:
$newproductdata = array(
	'sku' => 'prodotto7',
	'name' => 'Prodotto7',
	'attributeSetId' => 4,
	'visibility' => 4,
	'typeId' => 'simple',
	'price' => '50',
	'status' => 1,
	'weight' => '1',
	'custom_att

[2018-07-04 15:53] magento-engcom-team commented on #16541
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-04 16:08] zetlen commented on #13685
@leoquijano We're not officially refusing a jQuery 3 upgrade because of that install base metric. It's just a stat to help us all weigh the costs and benefits.

Again, we're open to a PR to upgrade to jQuery 3, considering its special role as a nearly global dependency. But I want to avoid:
 - Unforeseen regressions in popular third party modules
 - A combination of modules that loads jQuery 3 and

[2018-07-04 16:18] swnsma commented on #12509
Fix from @novakivskiy solve the issue with url rewrites.
In other hand, flat tables still contains wrong **url_path** for stores with not '1' id

[2018-07-04 16:36] denistrator commented on #16490
@engcom-backlog-nickolas I've tested it again on just installed M2.2.4.
https://www.youtube.com/watch?v=wOv10BJFAXA

[2018-07-04 17:21] BabliDey opened #16542 "POST /V1/guest-carts/:cartId/payment-information showing "The payment method you requested is not available.""
### Preconditions

1. Magento 2.2.3
2. 10.0.32-MariaDB-0

### Steps to reproduce

1. Get request to GET    /V1/guest-carts/:cartId/payment-information working fine
2. While post request for the same POST   /V1/guest-carts/:cartId/payment-information showing  "The payment method you requested is not available."
3. Although the payment method used is taken from the get method result.

### Expected r

[2018-07-04 17:21] magento-engcom-team commented on #16542
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-04 18:46] bobmats commented on #12512
Have the same problem magento 2.2.5
This was new install 2.2.3 updated tot 2.2.4 tot 2.2.5

different websites.
when setting share customer account to global some websites show countries that are not set.
Only solutions seems to be to set share customer to website as mentioned above

This is very annoying
Have m1 shop customers also shared and I can set websites to certain countries.

[2018-07-04 18:52] mdesplenter commented on #16531
Does the validator need some database entries that might not been added in the upgrade from 2.2.4?
Tomorrow I'll try the 2.2.6-dev version, can I update this with composer?

[2018-07-04 19:05] pieal86 commented on #16531
Same issue for me.
magento 2.2.5
I have used  both nginx and apache.
PHP version 7.0
On Local env: nginx everything works fine..
On Server: Apache gives error "File validation Failed" when insert image in  static blocks

![screenshot_2018-07-05 new block blocks elements content magento admin](https://user-images.githubusercontent.com/17842620/42291693-2c35c034-7fef-11e8-8354-5fdeb4648c17.png)

[2018-07-04 19:45] VitaliyBoyko opened #16544 "Some of JS validation rules making fields required"
Hi, dear Magento Comunity Engineering team.
In some cases quite useful to have validation only for the filled fields. For example:
we have on the form field `phone` which is not required, but it required to have valid data when user will fill out this field. In case if a user did not fill out anything error should not be displayed.
Bunch of validation rules makes this not possible.

On the screens

[2018-07-04 19:45] magento-engcom-team commented on #16544
Hi @VitaliyBoyko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-04 20:39] hostep commented on #15190
Just a quick update here: for some reason I can not understand yet, it looks like when using the `flock` solution, that parallel execution of cronjobs doesn't work properly anymore, which is kinda strange, since the main cronjob spawns other cron processes in the background which aren't being locked by `flock`, so I don't quite understand what is happening there.
(this comment is based on somethin

[2018-07-04 20:49] OleksiyOleksiyovych commented on #15641
Looks like, we found the reason. It's customer plugin for each action - https://github.com/magento/magento2/blob/2.2/app/code/Magento/Customer/Model/Plugin/CustomerNotification.php

The most easly and fuster way to reproduce this issue is appling coupon on shopping cart page for logged in customer (sometimes you need to apply/cancel couplon several times).

[2018-07-04 21:08] leoquijano commented on #13685
Thanks @zetlen. There are a few PRs already in progress, if I understand correctly?

[2018-07-05 04:25] aligent-lturner opened #16548 "Old categories are not removed from product when using setCategoryIds"
### Summary
When saving a product after calling `setCategoryIds($categoryIds)` function, any existing categories are maintained, regardless of whether they are present in the `$categoryIds` array or not.

Existing 3rd-party code relies on the setCategoryIds function as a means of assigning products to categories - this method worked in 2.1, and is expected to still work in 2.2

### Preconditions
1

[2018-07-05 04:31] aligent-lturner commented on #16548
@magento-engcom-team give me 2.2.3 instance

[2018-07-05 04:32] magento-engcom-team commented on #16548
Hi @aligent-lturner. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-07-05 04:32] magento-engcom-team commented on #16548
Hi @aligent-lturner, here is your [Magento instance](https://i-16548-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-16548-2-2-3.engcom.dev.magento.com/admin](https://i-16548-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-05 04:38] sanganinamrata commented on #16529
@engcom-backlog-nickolas Thanks

[2018-07-05 04:51] aligent-lturner commented on #16548
Cannot reproduce in vanilla instance, as reproduction requires PHP code to be run, calling a specific function on the \Magento\Catalog\Model\Product class.

[2018-07-05 05:16] Gurdit commented on #16536
`/rest/V1/products?searchCriteria=0 helps to remove pagination and retrieve all the products stored in magento`
`
    [search_criteria] => Array
        (
            [filter_groups] => Array
                (
                )

        )

    [total_count] => 2046`

[2018-07-05 05:32] anup4ranium commented on #3486
@magento-engcom-team  can we get this fix in 2.1 or 2.2 versions as well ?
As its critical for business , kind of must have one in active stable releases :)

[2018-07-05 05:52] alpeshpatelcool commented on #10878
**Delete Manual var/cache** folder, and apply **php bin/magento setup:di:compile** command

[2018-07-05 05:53] alpeshpatelcool commented on #10878
at terminal you should apply following command
**rm -rf var/cache var/log var/page_cache var/view_preprocessed**

[2018-07-05 06:14] engcom-backlog-nickolas commented on #16490
@denistrator, thanks for help, much appreciated. We've acknowledged the issue and added to our backlog.

[2018-07-05 06:28] hitesh-wagento commented on #16302
Hi @BenSpace48

Do you need below files in `web/js` folder ?

- `vendor/magento/module-payment/view/frontend/web/transparent.js`
- `vendor/magento/module-payment/view/frontend/web/cc-type.js`
- `vendor/magento/module-search/view/frontend/web/form-mini.js`
- `vendor/magento/module-sales/view/frontend/web/gift-message.js`

[2018-07-05 06:38] engcom-backlog-nickolas commented on #16548
Hello @aligent-lturner, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 06:39] engcom-backlog-nazar commented on #16209
Hello @karangar, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 06:55] LouNik1984 commented on #16541
@magento-engcom-team give me 2.2.2 instance

[2018-07-05 06:55] magento-engcom-team commented on #16541
Hi @LouNik1984. Thank you for your request. I'm working on Magento 2.2.2 instance for you

[2018-07-05 06:56] magento-engcom-team commented on #16541
Hi @LouNik1984, here is your [Magento instance](https://i-16541-2-2-2.engcom.dev.magento.com).
Admin access: [https://i-16541-2-2-2.engcom.dev.magento.com/admin](https://i-16541-2-2-2.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-05 07:08] LouNik1984 commented on #16541
Hi, I confirm I can reproduce the issue on your vanilla instance.

### Steps to reproduce
- run the script to add a new product via soap api
$newproductdata = array(
	'sku' => 'prodotto1',
	'name' => 'Prodotto1',
	'attributeSetId' => 4,
	'visibility' => 4,
	'typeId' => 'simple',
	'price' => '50',
	'status' => 1,
	'weight' => 1,
	'custom_attributes' => [
		['attribute_code' => 'description', 'value

[2018-07-05 07:12] PivitParkour94 opened #16552 "Modal WYSIWYG Image Content Slashes Lost"
When rendering WYSIWYG image markup in a modal widget, the media url slashes are being escaped.

### Preconditions

1. Magento 2.2.5 Community Edition
2. MySQL Ver 15.1 Distrib 10.2.15-MariaDB

### Steps to reproduce

1. Create CMS block with media url
The one I tested with is
[code]
2. Make sure the test image exists at `wysiwyg/test.png`
3. Render the CMS page somewhere
4. Create Modal for the d

[2018-07-05 07:12] magento-engcom-team commented on #16552
Hi @PivitParkour94. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-05 07:15] engcom-backlog-nickolas commented on #16544
Hello @VitaliyBoyko, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 07:19] PivitParkour94 commented on #16552
Realised I was getting the content of the block, using $block->getContent() rather than rendering the $block. That would do it. I'll close this off.

[2018-07-05 07:19] #16552 closed, assigned to nobody

[2018-07-05 07:31] engcom-backlog-nazar commented on #16205
Hi @shachiarkatkar Thank you for your report. The issue has been fixed in 2.2.5 release https://github.com/magento/magento2/tree/2.2.5

[2018-07-05 07:36] magento-engcom-team commented on #16535
@DenyVeyten please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-05 07:36] #16535 closed, assigned to nobody

[2018-07-05 07:41] magento-engcom-team commented on #1019
Hi @likemusic
GitHub issue tracker for `magento2` repository is not intended for discussions. We are closing this ticket now.

Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-07-05 07:41] #1019 closed

[2018-07-05 07:45] magento-engcom-team commented on #4756
Closing, based on multiple reports that setup wizard works fine.

[2018-07-05 07:45] #4756 closed, assigned to nobody

[2018-07-05 07:48] orlangur commented on #16535
@DenyVeyten,

This way. When mixin completely changes / kills method behavior this is a misuse of mixin.

[2018-07-05 07:51] magento-engcom-team commented on #6793
Hi @jonshipman
As of Magento 2.2 – Elasticsearch module is only included in EE. This issue tracker only relates to CE issues. Please refer to the enterprise support.

Thank you.

[2018-07-05 07:54] DenyVeyten commented on #16535
@orlangur thanks a lot for advice!

[2018-07-05 07:54] orlangur commented on #16536
@Gurdit, ok, it's `searchCriteria = 0`, not `pageSize = 0`.

[2018-07-05 07:56] magento-engcom-team commented on #14264
@woakley Closing this ticket then, as #14401 has more details.
Thanks.

[2018-07-05 07:56] #14264 closed, assigned to nobody

[2018-07-05 08:02] engcom-backlog-nazar commented on #16201
Hi @Orstio Thank you for your report. The issue has been fixed in 2.2.5 release

[2018-07-05 08:03] #16201 closed, assigned to nobody

[2018-07-05 08:03] magento-engcom-team commented on #14758
@kauansoft please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-05 08:03] #14758 closed, assigned to nobody

[2018-07-05 08:08] magento-engcom-team commented on #15061
Hi @kingboyno1
Unfortunately steps to reproduce are not clear enough to find out what exactly causes the issue.
Please update the report with more details and reopen.
Thank you.

[2018-07-05 08:08] #15061 closed, assigned to nobody

[2018-07-05 08:09] magento-engcom-team commented on #15117
@kingboyno1 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 08:09] #15117 closed, assigned to nobody

[2018-07-05 08:10] magento-engcom-team commented on #15151
@nicework125 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 08:10] #15151 closed, assigned to nobody

[2018-07-05 08:12] magento-engcom-team commented on #15204
Hi @danncoba

Please test with clean 2.2.5 install anyway, this is a kind of scenario which is tested before every release.

[2018-07-05 08:14] magento-engcom-team commented on #15463
@SamB-GB Unfortunately, we are closing this ticket, as it does not relate to the code published in the `magento2` repository.

[2018-07-05 08:14] #15463 closed, assigned to navarr

[2018-07-05 08:15] magento-engcom-team commented on #15851
@Shotman please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-05 08:15] #15851 closed, assigned to nobody

[2018-07-05 08:16] magento-engcom-team commented on #15881
@cmx43 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-05 08:16] #15881 closed, assigned to nobody

[2018-07-05 08:16] magento-engcom-team commented on #15894
@DanielRuf Closing then :)

[2018-07-05 08:16] #15894 closed, assigned to nobody

[2018-07-05 08:18] magento-engcom-team commented on #15928
@adlime Closing in favor of #15959 as it has more details on the problem. Please continue tracking there.

[2018-07-05 08:18] #15928 closed, assigned to nobody

[2018-07-05 08:20] magento-engcom-team commented on #15930
Hi @shaikhmasud147
Please update the issue report to include clear details on the problem, which can be reproduces with a clean installation of Magento. We are closing this ticket now, please reopen when it's updated.

[2018-07-05 08:20] #15930 closed, assigned to nobody

[2018-07-05 08:22] magento-engcom-team commented on #15951
Hi @sid09N
Unfortunately current issue description does not provide enough information to reproduce the issue on a clean Magento installation. Please update the ticket with clear and detailed steps to reproduce and reopen. We are closing this item for now.

[2018-07-05 08:22] #15951 closed, assigned to nobody

[2018-07-05 08:23] magento-engcom-team commented on #15955
@shaikhmasud147 please update issue description with the clear preconditions and steps to reproduce and reopen ticket afterwards.

[2018-07-05 08:23] #15955 closed, assigned to nobody

[2018-07-05 08:24] #15966 closed, assigned to nobody

[2018-07-05 08:27] #16040 closed, assigned to nobody

[2018-07-05 08:33] ishakhsuvarov commented on #16207
Hi @TejaBhagavan
We are closing this ticket for now as it does not follow [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines). Please reopen when it's updated.

[2018-07-05 08:33] #16207 closed, assigned to nobody

[2018-07-05 08:36] engcom-backlog-nazar commented on #16109
Hi @santoshsupport3  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 08:37] elvinristi commented on #15463
@magento-engcom-team , why you have then included in your package **vertex/module-tax** if you haven't even tested this and don't take responsibility to make sure that code gets fixed and release ASAP correct one and we need instead come up hacks to remove the module?

[2018-07-05 08:38] engcom-backlog-pb commented on #16219
@atsareva, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-05 08:47] engcom-backlog-nazar commented on #16062
hi @lucasgonzalez  your issue is dublicate with https://github.com/magento/magento2/issues/16507

[2018-07-05 08:47] #16062 closed, assigned to nobody

[2018-07-05 08:52] ishakhsuvarov commented on #16238
Hi @PrajaktaKalyankar-GSLab
Unfortunately it is impossible to provide any help with the issue report which does not contain clear and detailed steps to reproduce. Please update your report according to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-templ

[2018-07-05 08:52] #16238 closed, assigned to nobody

[2018-07-05 08:52] ishakhsuvarov commented on #16210
Hi @PrajaktaKalyankar-GSLab
Unfortunately it is impossible to provide any help with the issue report which does not contain clear and detailed steps to reproduce. Please update your report according to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-templ

[2018-07-05 08:52] #16210 closed, assigned to nobody

[2018-07-05 08:54] magento-engcom-team commented on #15244
@Sylvesterx1 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 08:54] #15244 closed, assigned to nobody

[2018-07-05 08:56] VladimirZaets commented on #14746
Hi @Grohotun. The zxcvbn.js is the library for password strength estimation that developed by Dropbox.

Sometimes security scanners detect libraries that are also responsible for security as not-secure.
In the current case, the zxcvbn.js library is verified and don't introduce any security issues.

[zxcvbn Github repository](https://github.com/dropbox/zxcvbn/)
[Read more about zxcvbn](https://blog

[2018-07-05 08:56] #14746 closed, assigned to nobody

[2018-07-05 09:09] magento-engcom-team commented on #13002
Hi @linden2015
We are closing this ticket again, due to inactivity. Additionally, it really seems to duplicate #5321.
Please reopen again if it's now correct

[2018-07-05 09:09] #13002 closed, assigned to nobody

[2018-07-05 09:11] magento-engcom-team commented on #15586
@melyancey we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 09:11] #15586 closed, assigned to nobody

[2018-07-05 09:12] magento-engcom-team commented on #14512
@shotteabso we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 09:12] #14512 closed, assigned to nobody

[2018-07-05 09:12] p-bystritsky opened #16555 ""Shipping address is not set" exception in Multishipping Checkout."
### Preconditions

1. Magento 2.
2. Multishipping Checkout enabled (by default)
3. Simple Product.
4. Customer.

### Steps to reproduce

1. Log In as Customer.
2. Add Product to Cart.
3. Proceed to Checkout.
4. Fill Shipping Address data, click Next (do not place Order)
5. Return to the Storefront.
6. Go to the Shopping Cart.
7. Click Check Out with Multiple Addresses.

### Expected result

1. Cor

[2018-07-05 09:12] magento-engcom-team commented on #16555
Hi @p-bystritsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-05 09:15] magento-engcom-team commented on #15557
@middlegrey It's unclear from the report what kind of products are those, how were they created, which are show and which are not, etc.

To acknowledge the issue on our side we first have to make sure it's reproducible.

[2018-07-05 09:15] magento-engcom-team commented on #14171
@Vikram0811 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 09:15] #14171 closed, assigned to nobody

[2018-07-05 09:16] magento-engcom-team commented on #6299
@sbernaldev we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-05 09:16] #6299 closed, assigned to nobody

[2018-07-05 09:18] magento-engcom-team commented on #16101
@forwells It's still unclear, what kind of email does not pass validation and how to reproduce this with a clean installation. Please attempt to update the steps in such a way that anyone can reproduce the problem.

Thank you

[2018-07-05 09:20] engcom-backlog-pb commented on #16555
We've acknowledged the issue and added to our backlog.

[2018-07-05 09:20] magento-engcom-team commented on #15483
Hi @BezV8
Please try if it's reproducible with the clean 2.2.5 install.

[2018-07-05 09:21] osrecio commented on #13948
I reproduced the problem... but to be honest I don't know what is the best solution. The setup part is written with Angular and not is my area of expertise.

[2018-07-05 09:24] magento-engcom-team commented on #10095
Hi @yumicom. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/60

[2018-07-05 09:24] #10095 closed, assigned to nobody

[2018-07-05 09:24] magento-engcom-team commented on #10095
Moved per @misha-kotov label update.

[2018-07-05 09:25] #16548 closed, assigned to nobody

[2018-07-05 09:28] abhaykhatariya opened #16556 "Shipping address entered when placing the order is overwritten with the PayPal delivery address"
### Preconditions

1. Coming this issue to all magento 2 version.
2. Configure sandbox or live Paypal details
3. Select country address as Russia

### Steps to reproduce

1. Try to checkout with Russia country address
2. Select Paypal Express checkout.

### Expected result

1. Place order should be successful.

### Actual result

1.
![screenshot](https://user-images.githubusercontent.com/23476956/

[2018-07-05 09:30] andyexeter commented on #13505
Same issue here. There should be an option to set the domain for the admin cookie. Setting the default cookie domain to `example.net` has no effect and the admin cookie domain is still set as `.example.net`

[2018-07-05 09:36] magento-engcom-team commented on #14402
Hi @erikhansen
We are moving to the feature request backlog as the suggested solution seems to be in need of requirements for implementation.

[2018-07-05 09:46] engcom-backlog-nazar commented on #16017
HI @DanielRuf  thank you for your report
We've acknowledged the issue and added to our backlog.

[2018-07-05 09:46] jvkranenburg commented on #8674
Same problem here on v 2.2.5. Has someone created a quickfix for them self already?
I'm interested ;-)

[2018-07-05 09:48] middlegrey commented on #15557
We're using bundle products with customizable options that were created by importing a CSV.

So far I haven't been able to discover why some items are shown as in stock and others are not.

I'm happy to email you a product database export or a link to the live 2.1.9 website.

[2018-07-05 09:50] magento-engcom-team commented on #13561
Hi @craigcarnell. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/61

[2018-07-05 09:50] #13561 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #13749
Hi @kassner. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/62

[2018-07-05 09:50] #13749 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #13856
Hi @Sonal824. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/63

[2018-07-05 09:50] #13856 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #13868
Hi @robbertstevens. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/64

[2018-07-05 09:50] #13868 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #13882
Hi @robbertstevens. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/65

[2018-07-05 09:50] #13882 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #13996
Hi @KooTjoo. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/66

[2018-07-05 09:50] #13996 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #14053
Hi @cedricziel. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/67

[2018-07-05 09:50] #14053 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #14069
Hi @woshka. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/68

[2018-07-05 09:50] #14069 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #14070
Hi @woshka. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/69

[2018-07-05 09:50] #14070 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #14233
Hi @wedob13. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/70

[2018-07-05 09:50] #14233 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #14402
Hi @erikhansen. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/71

[2018-07-05 09:50] #14402 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #16214
Hi @mhaack. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/72

[2018-07-05 09:50] #16214 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #16290
Hi @ekiba. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/73

[2018-07-05 09:50] #16290 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team commented on #16324
Hi @DanielKarr87. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/74

[2018-07-05 09:50] #16324 closed, assigned to nobody

[2018-07-05 09:50] magento-engcom-team opened #30593 "Catalog Price Rule not working for magento2 rest api"
### Preconditions

1.  Magento 2.2.5 with Sample Data
2.  php 7.0+

### Steps to reproduce

1.  Create a Catalog Rule
2.  Run the cron and indexing
3.  Check /V1/products/{sku} rest api

### Expected result

1. Catalog rule applied price should come in special_price

### Actual result

1.  It is not coming.

**Original Report**: https://github.com/magento/magento2/issues/16511 by @hiteshagrawal84

[2018-07-05 09:50] magento-engcom-team commented on #16511
Hi @hiteshagrawal84. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/75

[2018-07-05 09:50] #16511 closed, assigned to nobody

[2018-07-05 09:51] engcom-backlog-pb commented on #16538
@herod2k, thank you for your report.
This is not a bug.  Please refer to the [Magento Dev Docs](https://devdocs.magento.com/guides/v2.2/install-gde/tutorials/change-docroot-to-pub.html)

[2018-07-05 09:53] magento-engcom-team commented on #14694
Hi @nahall
Closing this ticket as duplicate of #15156. Please continue tracking under that reference.

[2018-07-05 09:53] #14694 closed, assigned to nobody

[2018-07-05 09:58] herod2k commented on #16539
I think I have found the bug.

Magento doesn't fill the record for the default store currency
![image](https://user-images.githubusercontent.com/3713164/42316561-145cc5ae-8042-11e8-8873-7ee93952b3a8.png)

During the conversion, Magento doesn't find the value inside the DB and it returns false for the Currency and it picks the default currency.

[2018-07-05 09:59] magento-engcom-team commented on #15188
@jignesh-baldha @Ctucker9233
Closing, as relates to https://github.com/amzn/amazon-payments-magento-2-plugin/issues/178

[2018-07-05 09:59] #15188 closed, assigned to nobody

[2018-07-05 10:02] magento-engcom-team commented on #15052
Hi @ritschi72
Closing this issue, as it relates to a bundled extension and not core itself. Please refer to links in the comments above for more references.

[2018-07-05 10:02] #15052 closed, assigned to nobody

[2018-07-05 10:03] engcom-backlog-pb commented on #16282
@Karanp13, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-07-05 10:53] robmacecs commented on #8508
Still same issue in 2.2.3, not tested >=2.2.4 yet
@tadhgbowe 's fix doesn't seem to work on later versions

js-translation.json still just contains []

[2018-07-05 10:54] paul-blundell commented on #14952
Had this same problem in 2.2.5, I was able to get around it by disabling Amazon Pay with the following:

`php bin/magento module:disable Amazon_Core Amazon_Login Amazon_Payment`

I wish Magento would stop preinstalling stuff we might not need!

[2018-07-05 10:54] gwharton commented on #11002
I can confirm that in 2.2.5, certainly in my situation, that cron jobs that crash during execution are now marked as "error" in cron_schedule instead of sitting in the running state. This means that the cron cleanup code now properly deals with these jobs and successive jobs run as planned. Initial testing shows the race condition that allowed the cron_schedule table to grow infinitely in size is

[2018-07-05 10:54] #11002 closed, assigned to kandy

[2018-07-05 10:59] engcom-backlog-nickolas commented on #16171
Hello @springerin, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 11:01] engcom-backlog-nazar commented on #16199
hi @pascalckunz i'm cannot reproduce by your scenario steps, i have the error "Coupon code is not valid"
can you try reproduce again ?

[2018-07-05 11:06] engcom-backlog-pb commented on #16203
@bnymn, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 11:07] gwharton commented on #16203
PR #16461 is awaiting review and will fix this issue.

[2018-07-05 11:11] gwharton commented on #16165
PR #16461 is awaiting review and will fix this issue.

[2018-07-05 11:33] engcom-backlog-nickolas commented on #16173
@FreekVandeursen, thank you for your report. As your module dependent on catalog module, you need to specify dependency for you module: https://devdocs.magento.com/guides/v2.2/extension-dev-guide/build/module-load-order.html

[2018-07-05 11:37] engcom-backlog-nazar commented on #16050
Hi @milenavasic  thank you for your report
We've acknowledged the issue and added to our backlog.

[2018-07-05 11:42] AaronONeill commented on #16531
We are also experiencing the same issue on two instances of Magento 2.1.14. This has only occurred since we recently upgraded to this version of Magento.

I have tried to upload different types of images via the image uploader on pages/blocks and also to categories and each time receive the same "File Validation Failed" error.

[2018-07-05 11:48] engcom-backlog-nazar commented on #16015
Hi @springimport Thank you for your report
This already fixed in 2.2-develop branch

[2018-07-05 11:48] #16015 closed, assigned to nobody

[2018-07-05 11:57] FreekVandeursen commented on #16173
@engcom-backlog-nickolas I did specify a dependency in my module.xml, that doesn't solve the problem.

[2018-07-05 12:00] lano-vargas opened #16558 "Refund order Item is incrementing the quantity of the product item"
Magento2.2.2  Version.

### Preconditions

In Configuration->Stores->Catalog->Inventory->Product Stock Options Set

<img width="1564" alt="screen shot 2018-07-05 at 12 23 20" src="https://user-images.githubusercontent.com/3495481/42321094-992175ac-804f-11e8-9abf-1e6ec6bef667.png">

### Steps to reproduce
Create a category Called **test**  then create configurable product add to attribute set Defau

[2018-07-05 12:00] magento-engcom-team commented on #16558
Hi @lano-vargas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-05 12:06] engcom-backlog-nickolas commented on #16116
Hello @comdiler, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 12:14] engcom-backlog-nickolas commented on #16173
@FreekVandeursen , thank you for your feedback.
We've acknowledged the issue and added to our backlog.

[2018-07-05 12:22] mritu19 commented on #16532
Hi @orlangur .. can you please suggest any solutions/alternatives.

[2018-07-05 12:31] engcom-backlog-nickolas commented on #16161
@dwaynebartels. thank you for your report. This issue already has been fixed in 2.3-develop.
We've acknowledged the issue and added to our backlog.

[2018-07-05 12:36] tejasklevu opened #16561 "System requirement issue with Magento Version 2.2.5"
I am trying to install the Magento 2.2.5 with PHP version 7.0.7 and it is not installed.

### Steps to reproduce
1. Download the Magento 2.2.5 using composer or manually.
2. Try to install it at the PHP version 7.0.7

### Expected result
Getting the error as our PHP version is 7.0.7. The required PHP version is ~7.0.13|~7.1.0.

### Actual result
It should be installed according to the below guide

[2018-07-05 12:36] magento-engcom-team commented on #16561
Hi @tejasklevu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-05 12:42] engcom-backlog-nazar commented on #16008
HI @kirtinariya1 thank you for your report, this issue has already ben fixed in 2.2-dev branch

[2018-07-05 12:46] seansan commented on #1111
Will this also become more important for MSI?

[2018-07-05 12:56] densen45 commented on #14377
@magento-engcom-team what do you think about @viral-wagento's investigation and questions?

[2018-07-05 13:12] engcom-backlog-pb commented on #16149
@Ananth747, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 13:16] engcom-backlog-pb commented on #16561
@tejasklevu, thank you for your report.
You are right, this article of Dev Docs is outdated. Actual Magento 2.2 supports 7.0.13 and 7.1.0 or higher PHP versions. We've acknowledged the issue and added to our backlog.

[2018-07-05 13:20] BenSpace48 commented on #16302
Hi @hitesh-wagento

Yeah for consistency with the dev docs and other files, and general best practices.

I think there are more files than the ones I've listed, they were just the first few I discovered whilst looking into it.

[2018-07-05 13:22] #16561 closed, assigned to nobody

[2018-07-05 13:27] #16088 closed, assigned to nobody

[2018-07-05 13:31] bansavage commented on #16345
Thank you for acknowledging the issue. As it was reproduced in 2.3, I wonder how a 'headless' Magento PWA is supposed to succeed?

[2018-07-05 13:38] hitesh-wagento commented on #16302
Ok Thanks @BenSpace48

I am working on this PR

[2018-07-05 13:39] engcom-backlog-nickolas commented on #16558
@lano-vargas, thank you for your report. Unfortunately I'm not able to reproduce this issue.
![peek 2018-07-05 16-10](https://user-images.githubusercontent.com/40755810/42326393-aa58ebda-8071-11e8-9f81-7127ea10f795.gif)
Could you please correct my steps?

[2018-07-05 13:49] engcom-backlog-pb commented on #16078
@treii28, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-05 13:49] #16078 closed, assigned to nobody

[2018-07-05 14:01] magento-engcom-team commented on #16536
@Gurdit Please avoid posting links to any of your live websites, specifically with the API keys in the same post.

[2018-07-05 14:06] engcom-backlog-nickolas commented on #16288
@rtplvaibhav. thank you for your report.
Can you please answer couple questions?
How many websites do you have?
If more than one, Mentioned products assigned to one website or to many, and they are out of stock on all websites, or just on additionals?
Have you tried to run bin/magento indexer:reindex; bin/magento cache:flush after upgrade?
Cause I could reproduce this issue just partially.
Steps I